[2017-12-05 17:15] aknrdureegaesr opened #56856 "When api server /healthz fails, put info for diagnosis into its log."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I had a problem in my cluster which caused the `/healthz` check of the API server to fail. This in turn caused the `kubelet` to keep restarting it.

I logged in to the master node running both and had a look at the log that catches the API server's `stdout` and `stderr`.

What I found there was (after unquoting)

[co

[2017-12-05 17:20] aknrdureegaesr commented on #56856
Judging from other items I've seen, this is probably the right label:

@kubernetes/sig-api-machinery-feature-requests

[2017-12-05 18:21] yujuhong commented on #56833
I uploaded a PR (#56857) to parse the comma-separated values while still supporting the original gcfg muiltvalue mechanism (i.e., allowing setting the field multiple times) pointed out by the the above comments; this ensures backward compatibility (even though I don't know if anyone is using it that way).  I'll let the reviewers decide which method they prefer.

[2017-12-05 18:26] jsafrane commented on #56786
I'd rather not backport features to older releases. Even though it's technically a bugfix, it brings a new admission plugin, new controller and new feature gate and that's IMO too much.

[2017-12-05 18:36] crassirostris commented on #54551
All things in the core K8s are addressed. There's one change left in the GCE cluster configuration, I'll address it in a separate PR

[2017-12-05 18:36] porridge commented on #56714
Trying to bring up the cluster at b2625857a failed when checking master health. Curiously, I can see the GETs made with curl in `kube-apiserver.log`, and they are all successful (code `200`), but the latency is staggering: initial 10 responses around 4.6s, remaining at around 17 minutes! :open_mouth:
If anyone wants to take a look at the cluster, it's `gcloud --project=k8s-scale-testing compute ss

[2017-12-05 19:13] MrHohn commented on #56426
Some updates, the previous test failure (kube-dns, dashboard etc. failed to become ready [1]) was caused by iptables NAT table being flushed twice, which was fixed by https://github.com/kubernetes/kubernetes/pull/56729.

The latest failure (fluentd failed to become ready [2]) seems different, check the kubelet logs [3] and found below error being constantly logged:
[code]

We need better assignee

[2017-12-05 19:46] bowei commented on #56763
That's unfortunate -- anyone have any ideas other than trying both locations?

[2017-12-05 20:21] krzyzacy commented on #49820
on the side note, I'm pretty sure the bazel built image should be fine since the real flake comes from https://github.com/kubernetes/test-infra/pull/5821#issue-279485550. I'll canary bazel image again after the Jenkins migration.

[2017-12-05 20:43] wenslayer commented on #55278
I'm still seeing this bug with 1.8.4:
[code]

[2017-12-05 20:49] cmluciano commented on #51726
This will not be released in 1.9, but we can mark it for 1.10.

[2017-12-05 21:07] jberkus commented on #54551
ETA for the GCE request?

[2017-12-05 21:20] kow3ns commented on #46901
@bruj0

Here is your selector.

[code]
You've mutated the labels on the Pod (to intentionally orphan it?). They are as below. The StatefulSet controller didn't create a Pod with these labels from the specified template,  and the template is not mutable, so this Pod was relabeled (either manually or via a script).

[code]

You can see they don't match.

It is okay to relabel a Pod so that it is int

[2017-12-05 21:49] bruj0 commented on #46901
@kow3ns
I have not manually changed the label in the pods, however, I did recreate the StatefulSet a couple of times and at some point, the label was "pgset-master".
Should I retest this bug in the last version of Kubernetes?

[2017-12-05 21:50] msau42 commented on #56265
ACK.  Ready to merge
ETA: 12/5/2017
Risks: Fix required changing volume predicate ecache invalidation a bit

[2017-12-05 21:57] #56686 closed

[2017-12-05 22:21] p0lyn0mial opened #56865 "Unable to use FakeScaleClient in tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
While implementing `generic scaler` in `kubectl` I wanted to mock `scale client` in order to write some unit tests. My initial idea was to employ `FakeScaleClient`, so I extended existing code and registered desired types in the `Scheme`. Later on I realised that the `scale client` doesn't accept `version`. Every call mad

[2017-12-05 22:22] p0lyn0mial commented on #56865
/sig api-machinery

[2017-12-05 22:31] #56265 closed

[2017-12-05 22:37] msau42 commented on #54370
@resouer  The change in #56577 should be backported to 1.8 to fix this issue.  You'll have to replace VolumeBind predicate with NoVolumeNodeConflict.

[2017-12-05 22:43] dreyk commented on #51835
Looks there are to different bug related to with issue.  We have both on the our 1.8.3 cluster.
1. https://github.com/moby/moby/issues/31768 .It's docker bug.  Reproducible on the  docker-ce=17.09.0~ce-0~ubuntu.
2. Second is more interesting and maybe related to some race condition inside kubelet.
We have a lot of pods that used NFS persistence volume with specified subpath in container mounts, so

[2017-12-05 22:58] hogepodge commented on #52249
Great news, after more patching and debugging, a number of issues have been resolved. Two weeks later than I wanted, but a bunch of upstream issues were resolved.

NAME                   STATUS    ROLES     AGE       VERSION
cross-cloud-master-1   Ready     master    2m        v1.8.1
cross-cloud-master-2   Ready     master    1m        v1.8.1
cross-cloud-master-3   Ready     master    2m        v1

[2017-12-05 23:11] crimsonfaith91 opened #56868 "No deprecation message for apps/v1beta2 core controllers and controller revision"
**What happened**:
There is no deprecation message for `apps/v1beta2` core controllers and controller revision in `types.go`.

**What you expected to happen**:
There should be a deprecation message for each of the controllers and controller revision as they will be GA in v1.9 release.

[2017-12-05 23:37] ericchiang commented on #54511
cc @jbeda @chrislovecnm

Spoke with Chris who said this might be easy to do using the kops e2e.

[2017-12-05 23:42] jpbetz opened #56869 "etcd-version-monitor does not support etcd 3.1 grpc metrics"
In etcd 3.1.0 the following gRPC metrics were [deprecated](https://github.com/coreos/etcd/blob/master/CHANGELOG.md#changed-8):

- `etcd_grpc_requests_total`
- `etcd_grpc_requests_failed_total`
- `etcd_grpc_active_streams`
- `etcd_grpc_unary_requests_duration_seconds`

[etcd-version-monitor](https://github.com/kubernetes/kubernetes/tree/master/cluster/images/etcd-version-monitor) is currently hard

[2017-12-06 00:18] chrislovecnm commented on #54511
/cc @arun-gupta who should I cc on this from AWS?

[2017-12-06 00:23] dreyk commented on #51835
More logs:
[code]

[2017-12-06 00:45] #56833 closed

[2017-12-06 02:19] tkellen commented on #33195
I just stumbled upon this setting up my first cluster. Is there a known workaround?

[2017-12-06 02:36] andyzhangx opened #56875 "FlexVolume does not work on Windows node"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I have tried FlexVolume on a Windows node, it does not work. I am now working on this feature now.
Below is the FlexVolume initialization error
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes vers

[2017-12-06 02:36] spiffxp commented on #56416
@foxish this is still failing, eg:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1170
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/1650

Note these jobs are running release-1.8 tests against a cluster upgraded to master.  Does https://github.com/kubernetes/kub

[2017-12-06 02:48] k8s-publishing-bot opened #56876 "kubernetes publishing bot is broken"
This issue is auto-updated by the k8s-publishing-bot when the (nightly) publishing process fails. Only the last log output is available.

Bot: [![](https://img.shields.io/uptimerobot/status/m779759348-04b1f4fd3bb5ce4a810670d2.svg)](https://stats.uptimerobot.com/wm4Dyt8kY) — Last publishing run: [![](https://img.shields.io/uptimerobot/status/m779759340-0a6b2cb6fee352e75f58ba16.svg)](https://stats.u

[2017-12-06 02:49] spiffxp opened #56877 "[e2e failure] [k8s.io] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-ui-test-failures

This test has been failing since 2017-12-01 in the following jobs:
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-cluster-parallel
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-master

These jobs are

[2017-12-06 02:58] spiffxp commented on #56052
/close
I'm inclined to agree.  For the record, those two green runs are:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/74
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/75

[2017-12-06 03:01] spiffxp commented on #56877
Also guessing that https://github.com/kubernetes/kubernetes/pull/56793 might resolve this, since we're running 1.8.x tests

[2017-12-06 03:10] spiffxp commented on #56244
@yguo0905 historically we have treated failing jobs / tests in the https://k8s-testgrid.appspot.com/sig-release-master-upgrade dashboard as release-blockers; this is how I'm treating them https://github.com/kubernetes/sig-release/blob/master/release-process-documentation/release-team-guides/ci-signal-playbook.md#code-freeze

[2017-12-06 03:14] spiffxp opened #56879 "[job failure] gce-master-1.8-downgrade-cluster-parallel"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-cluster-lifecycle-test-failures

This job has been failing since at least 2017-11-21.  It's on the [sig-release-master-upgrade dashboard](https://k8s-testgrid.appspot.com/sig-release-master-upgrade),
and prevents us from cutting [v1.9.0-beta.2] (kubernetes/sig-release#39). Is there work ongoin

[2017-12-06 03:22] andyzhangx commented on #56376
@knightXun would you close this issue? thx.

[2017-12-06 04:21] theflyingnerd commented on #27114
This problem will probably come up more often with machine learning becoming more popular. These containers can require large downloads and significant loading of data structures into RAM on startup.

It seems there are inherent compromises in each approach. With the proposed approach, you'd never restart machines that hung while they were starting up.

If you want this benefit for a web app with

[2017-12-06 04:44] theflyingnerd commented on #27114
It makes sense that K8s has treated these separately so that the correspondence between check and its effect is clear.
Using readiness check means you want to automatically change load in response to check.
Using liveness check means you want to automatically restart (depending on policy) in response to check.

I think we should add an extra parameter for the liveness probe `waitForReadinessProbe`

[2017-12-06 05:31] eswarbala commented on #54511
@chrislovecnm - Thanks for pulling us in. Engineering Manager at Amazon EKS here. We are really interested in this and want to be involved in improving the test coverage in here. Like @smarterclayton said, we'd like to approach it from a generic HA setup other than the self hosted approach.

/cc @nckturner

[2017-12-06 05:44] xiang90 commented on #54511
It seems like we are in an agreement that the initial effort should be focusing on non-selfhosted cluster. After we get enough test coverage on that, and enough confidence, we could start to think about the self hosted HA testing, which I also believe is important to a lot of users.

[2017-12-06 05:48] chrislovecnm commented on #54511
@eswarbala lets figure out something simple to start with, which may be enabling kops e2e for both AWS and gce to run with ha masters. It hopefully is trivial to enable, but I need to look at the test scripts again.

We are using single pods started by kubelet, which has been stable with many production users. I think we can discuss self hosted vs binary install once we get st least something runn

[2017-12-06 05:49] gogeof commented on #45419
+ 1.8.4

## And more question:
- It's right, the cpu and memory were close to 100%. But my question is why the pods not assigned to new nodes since the node is not ready for a long time?

[2017-12-06 06:29] leopoldxx commented on #53644
@hzxuzhonghu the result i tested was that the spew pkg also dumps the new add field(with nil value) to the hasher.
[code]
`MountPropagation` is the new added field.
so, if the container use `VolumeMounts`, then new MountPropagationMode will be included into the hash input, the hash result changed.
other new added fields are in the same situation.

[2017-12-06 06:40] hzxuzhonghu commented on #53644
@leopoldxx Do you have any idea about preventing this?

[2017-12-06 06:46] hzxuzhonghu commented on #56856
@aknrdureegaesr I think  `/healthz/poststarthook/bootstrap-controller` may give more details.  see https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go#L78

[2017-12-06 07:30] ScorpioCPH commented on #52757
/cc

[2017-12-06 07:45] thockin commented on #48019
To do this you would have to use the new  `dnsPolicy: Custom` capability,
whihc is alpha IIRC

@bowei

On Tue, Dec 5, 2017 at 6:19 PM, Lorenz Brun <notifications@github.com>
wrote:

[2017-12-06 08:05] AnkitVaidya01 opened #56883 "Request failing when I restart the pod"
When I am trying to restart the pod, the request going to that pod are failing. Ideally request should get transfer to other live pod. I have added prestop and postStart in my deployment yaml. Please suggest

{{- end}}
        - name: TZ
          value: "{{.Values.containerinfo.env.tz}}"
        image: "{{.Values.containerinfo.image}}:{{.Values.containerinfo.imageTag}}"
        lifecycle:

[2017-12-06 08:16] #52058 closed

[2017-12-06 08:16] #52059 closed

[2017-12-06 08:16] #52060 closed

[2017-12-06 08:16] #52061 closed

[2017-12-06 08:20] wanghaoran1988 commented on #56883
@AnkitVaidya01 I can't get you, could you please use the issue template to provide enough infomation if you really need a hand?

[2017-12-06 08:31] thkoch2001 commented on #56573
Hi Andrew,

when we discussed this issue in your support case, you gave me a link to an ancient version of kubernetes:
https://github.com/kubernetes/kubernetes/blob/a65a24a850deb8ec48dc8fa3668f25a67de06637/pkg/kubelet/eviction/helpers.go#L877
However, this bug has been fixed last year:
https://github.com/kubernetes/kubernetes/commit/c9f58c0cd5c8dcaac03cb28e976c7acc253c0606

Can we close this githu

[2017-12-06 08:36] AnkitVaidya01 commented on #56883
I deployed 3 pods. Putting load on it with approx 70 tps. During the test I have deleted one pod out of three then what should be the result? I am getting request failure in test. @k8s-bot @k8s-merge-robot

[2017-12-06 08:51] harryge00 commented on #46901
I have just encountered the same issue:
[code]

[2017-12-06 08:52] m1093782566 commented on #56776
@Rafaesp

Your example looks correct to me.

[2017-12-06 09:06] chenqy930 commented on #56476
Sorry for the late reply.
kubectl config view shows as follows
root@master-1:/home/k8s# kubectl config view
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: REDACTED
    server: https://192.168.41.134:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kin

[2017-12-06 09:26] m1093782566 commented on #56842
please xref: https://github.com/kubernetes/kubernetes/pull/56164

[2017-12-06 09:28] m1093782566 commented on #56842
@thockin @danwinship

wdyt?

[2017-12-06 09:29] m1093782566 commented on #56842
BTW, @xujieasd have you ever tried IPVS mode? I believe it won't create any REJECT rule.

[2017-12-06 09:36] dahaian opened #56885 "How to setup a hadoop cluster in a kubernetes cluster?How can I do that multiple pods in different nodes in a intranet?"
I would like to setup a hadoop cluster in a kubernetes cluster.There are 4 nodes for kubernetes cluster.
I create a pod for hadoop master in a kubernetes cluster node.And I create three pods for hadoop slaves in the other 3 nodes.I have to do that all the pods in a intranet each other.I want to do that multiple pods in different nodes in a intranet. What should I do?Any help is appreciated!

[2017-12-06 09:47] m1093782566 commented on #2856
@caizixian

Does

[code]

works for you?

[2017-12-06 10:06] knightXun commented on #56376
oK

[2017-12-06 10:06] #56376 closed

[2017-12-06 10:10] terencechow commented on #56628
I decided to remove kubernetes from the equation to compare the difference.

Below are the differences between running locally & in minikube kubernetes. The differences are quite significant. almost 2x slower running with kubernetes. I understand there is also an ingress controller in front of my node server in minikube but does that really result in slower performance by 2x?

What might I be miss

[2017-12-06 10:18] xujieasd commented on #56842
@m1093782566,
I didn't ever try, seems IPVS mode doesn't create any REJECT rule in filter table.
However, I think it's worth to have a try to make sure that IPVS mode could avoid `close_wait` issue

[2017-12-06 10:26] jsravn commented on #45976
Updated https://github.com/kubernetes/kubernetes/issues/45976#issuecomment-348988351. It's worse than I thought, because all connections to the service IP are dropped. Even if just one kube-dns becomes unresponsive, kube-proxy will drop all connections in flight to any kube-dns pod. During a deployment it will keep dropping in flight dns requests as each pod rolls out and gets terminated.

[2017-12-06 10:42] x13n commented on #56854
This just happened again: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/17830

I managed to ssh into master machine before it was deleted and found this in event-exporter logs:
{"log":"F1206 10:30:32.309274       1 main.go:75] Failed to initialize sink: failed to build config: not running on GCE, which is not supported for Stackdriver sin

[2017-12-06 10:44] x13n commented on #56854
event-exporter is using complicated logic to detect this: https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/event-exporter/vendor/cloud.google.com/go/compute/metadata/metadata.go#L191

[2017-12-06 10:48] x13n commented on #56854
But event-exporter failure is probably a side effect of metadata-proxy failing as well.

[2017-12-06 10:51] x13n commented on #56854
@ihmccreery Can you take a look?

[2017-12-06 10:52] mmaquevice opened #56886 "kubeadm - wrong ip attributed to master or nodes (set via apiserver-advertise-address)"
Hi,

I use kubeadm 1.8.4, ubuntu 16.04.

When I initialize a cluster:
`kubeadm init --token=[my-token] --apiserver-advertise-address=10.0.0.11 --pod-network-cidr=10.32.0.0/12 --service-cidr=10.96.0.0/12`

The ip set for the master is the public one (which is also the one from the default interface) instead of 10.0.0.11:
[code]

If a node is joined, the ip seems correct (from the right interface, w

[2017-12-06 10:56] mmaquevice commented on #56886
/area kubeadm
/kind bug

[2017-12-06 11:09] jakexks commented on #54370
Just to follow up, removing the `AllAlpha=true` feature gate from our scheduler config (which disabled `EnableEquivalenceClassCache`) did solve it! Thanks for everyone's help.

[2017-12-06 11:20] loadwiki commented on #56841
@kubernetes/sig-api-machinery-feature-requests

[2017-12-06 11:45] porridge commented on #56397
Other failed tests:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8673

[2017-12-06 11:51] #54138 closed

[2017-12-06 12:06] stewart-yu commented on #56886
Try create a pod in `master` node manually, and `get`  it `yaml`. you can see `hostNetWork` differs with its in `kube-system/etcd-cluster-cc-master` pod.

[2017-12-06 13:09] warmchang commented on #2856
@m1093782566
https://github.com/kubernetes/kubernetes/blob/v1.8.4/pkg/util/bandwidth/utils.go#L38

[2017-12-06 13:13] eastlondoner commented on #56573
@thkoch2001 apologies that the link I gave you caused confusion, I did go back to when the problematic code first appeared because I wanted to look at the commit message at the time.

Despite your best attempts to claim otherwise this bug does exist!

That commit you pointed to doesn't fix the problem. For the inodes case `reportBytesFreed` is set to False. So the return value from the function is

[2017-12-06 13:28] vfreex commented on #56453
Hi @thockin ,

I did some investigation on this issue. Here's what is going on:
1. When `kubectl attach` is issued, the TTY that kubectl is using is set to raw mode (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/util/term/term.go#L96). All keys
  pressed, including ^C (CTRL+C), will be forwarded as-is to the remote pseudo TTY of the Pod, so no `SIGINT` signal will be sent to the

[2017-12-06 13:30] vfreex commented on #56453
@shiywang would also like to hear suggestions from you :)

[2017-12-06 13:33] eastlondoner commented on #56573
If you go back to the PR referenced from my commit you will see that @derekwaynecarr actually says

[2017-12-06 14:00] rogovst opened #56887 "Unable to connect to service from local network after livenessProbe has been started"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

 /sig network

**What happened**:

kubectl get nodes
NAME            STATUS    AGE       VERSION
dsdocker01      Ready     17h       v1.7.6
dsdocker02      Ready     43d       v1.7.6
dsdocker03      Ready     43d       v1.7.6
dsdocker04      Ready     19d       v1.7.6

Custom sysctl:
[code]

I've the test pod with service
[code]
After laun

[2017-12-06 14:09] porridge commented on #55686
I faced the same problem when trying to bring up a 4k+ node cluster: https://github.com/kubernetes/kubernetes/issues/56714#issuecomment-349398978
Digging deeper, it seems that listing all pods in all namespaces is unlikely to succeed within 5 seconds on a cluster that large. In fact I'm surprised it worked so well so far, I think we were just very lucky.

[2017-12-06 14:10] rogovst commented on #56887
/sig network

[2017-12-06 14:23] porridge commented on #56714
Re-trying with #56888 applied locally.

[2017-12-06 14:29] sunshinekitty commented on #10439
Hey all, until this is added to Kubernetes I've created a sync as a stop-gap. https://github.com/sunshinekitty/vaultingkube

[2017-12-06 14:49] destijl commented on #10439
There is now an integration with Vault that lets you authenticate to it with K8s service accounts. Particularly pay attention to the security model section, it does give Vault some power over your cluster:
https://github.com/hashicorp/vault-plugin-auth-kubernetes

That's something we're intending to fix with this:
https://github.com/kubernetes/community/pull/1460

[2017-12-06 15:00] soltysh commented on #48388
#52164 merged and I think this is solved. Feel free to re-open if needed.

[2017-12-06 15:13] dims commented on #56855
/sig openstack

[2017-12-06 15:14] dims commented on #56868
/sig api-machinery

[2017-12-06 15:15] dims commented on #56885
please look at solutions like:
https://github.com/kubernetes/charts/tree/master/stable/hadoop

/close

[2017-12-06 15:15] #56885 closed

[2017-12-06 15:16] dims commented on #56886
/sig cluster-lifecyle

Can you please move this to thehttps://github.com/kubernetes/kubeadm/issues ?

[2017-12-06 15:18] dims commented on #56887
/sig network

[2017-12-06 15:20] shaharmor commented on #24745
@obeleh did you manage to figure it out?

[2017-12-06 15:24] crassirostris commented on #54551
@jberkus Today

[2017-12-06 15:27] Gisleburt commented on #24903
Thought I should add my dumb mistake in here so no one else spends ages wondering why none of the above works.

If you've made a config file to use with `--apply`, make sure you haven't set `imagePullPolicy: "Always"` instead try `imagePullPolicy: "IfNotPresent"`

Thank you @benmcp for getting me there. 😀

[2017-12-06 15:32] obeleh commented on #24745
We moved to exposed services in stead of ingress. Haven't checked it out since. I figured it was `501 Not Implemented`

[2017-12-06 15:33] shaharmor commented on #24745
Could it be that it was happening because your service returned a non 200 status on the websocket upgrade request?

[2017-12-06 15:37] crassirostris commented on #54551
https://github.com/kubernetes/kubernetes/pull/56890 closes this issue

[2017-12-06 15:40] obeleh commented on #24745
I wouldn’t think so. I’m using Autobahn + Twisted

On 6 Dec 2017, at 16:34, Shahar Mor <notifications@github.com<mailto:notifications@github.com>> wrote:

Could it be that it was happening because your service returned a non 200 status on the websocket upgrade request?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/kubernete

[2017-12-06 15:47] jsravn commented on #45976
I'm back to my original thinking on this, that kube-proxy should not be deleting UDP connections immediately on endpoint removal. Imagine if it did this for TCP connections - the shutdown grace period becomes useless. It needs to wait some period of time to give the terminating pods time to gracefully stop things. I see at least a few scenarios:
1. Pod is deleted, starts terminating for its grace

[2017-12-06 16:28] resouer commented on #54370
@msau42 @jakexks Yes, so I will send out a cherry pick up the fix to in 1.8

[2017-12-06 16:32] porridge commented on #56714
Turns out the throughput with the same size cluster at b2625857ad is *lower*, ~38 pods/s. :confused:
![bisect](https://user-images.githubusercontent.com/489420/33672416-6b2b2b0c-daaa-11e7-82ef-f302130a91b6.png)

This is exactly the **opposite** of what we saw with 5k-node clusters, so it's rather surprising.

For lack of better ideas, I think I'm going to try and move the kubemark tests to another

[2017-12-06 16:45] vishh commented on #54313
I do not think pids should be a resource. Instead kubelet (or NPD) can expose lack of available pids (similar to inodes).
Pids is not a resource users will understand how to use. Many users do not even understand how to use CPU and memory effectively.

[2017-12-06 16:48] xingxing9688 opened #56891 "Killing container with id docker **** Need to kill Pod"
[Wed Dec  6 23:54:11 2017] java invoked oom-killer: gfp_mask=0xd0, order=0, oom_score_adj=-998
[Wed Dec  6 23:54:11 2017] java cpuset=bf2d7043c1267b4dfd8fdb356653a73070a8db8dfd7e2e4d74700edcaef7b548 mems_allowed=0
[Wed Dec  6 23:54:11 2017] CPU: 2 PID: 5282 Comm: java Tainted: G    B          ------------ T 3.10.0-327.4.5.el7.x86_64 #1
[Wed Dec  6 23:54:11 2017] Hardware name: QEMU Standard PC (i4

[2017-12-06 17:03] cmluciano commented on #22469
@caseydavenport Is this issue stale?

[2017-12-06 17:05] cmluciano commented on #42473
We now remove the UDP connections when they are stale.

[2017-12-06 17:05] #42473 closed

[2017-12-06 17:08] cmluciano commented on #56706
@kubernetes/sig-network-bugs

[2017-12-06 17:09] bputt commented on #47392
Specifying a search order doesn't really solve the problem, especially if the metadata api isn't available which is what ZhenyangZhao said ```My openstack didn't support metadata service,but support config-drive service```.

I'm getting the same issue and since the config drive is my only option at the moment.

[2017-12-06 17:15] bputt opened #56892 "Specify openstack metadata endpoint to be HTTPS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: The openstack cloud-provider plugin doesn't allow you to update the metadata url to use HTTPS. The HTTP option is not available for me.

I'm not able to use the config drive, so the metadata url is my only option: https://github.com/kubernetes/kubernetes/issues/47392

You can see the url is statically set:

https://gi

[2017-12-06 17:17] bputt commented on #47392
Like for this to be
/open

[2017-12-06 17:22] dims commented on #47392
@bputt can you please provide logs/versions for your problem in your environment?

Thanks,
Dims

[2017-12-06 17:26] jennybuckley opened #56893 "Webhook authentication does not work for client cert/key files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: A kubeconfig file for webhooks that provides authinfo in the form of client-certificate-file and client-key-file does not work. Token files, however, [do work](https://github.com/kubernetes/kubernetes/blob/ff7934fdeea38bf6a56c61bbbe15721c4f45023e/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/config/authenticat

[2017-12-06 17:26] jennybuckley commented on #56893
/sig api-machinery

[2017-12-06 17:29] r7vme commented on #47201
We see the same behaviour even with internal connections.

### Context:
We are using ephemeral masters (only etcd data preserved). Master can die at any time, immediately orchestrator will create new one with same etcd volume.

### Observations:
We are seeing ESTABLISHED TCP connections to k8s services e.g. `172.31.0.1` from kube-proxy and other services. But in reality this connection is dead, be

[2017-12-06 17:34] jennybuckley commented on #56893
I think the problem is related to the deferred loader, but not sure. because it should be set [here](https://github.com/kubernetes/kubernetes/blob/5c558ddb185a7c120e147f24d69b7470bf7457e2/pkg/kubectl/cmd/config/create_authinfo.go#L159)

[2017-12-06 17:37] r7vme commented on #46753
I've described similar situation [here](https://github.com/kubernetes/kubernetes/issues/47201#issuecomment-349714240)

Just wondering, why tcp keep-alive does not work at this case (when service endpoint died)?

We have use case with k8s client (which uses [tcp keep-alive](https://github.com/kubernetes/client-go/blob/master/transport/cache.go#L69-L70)) and still connection can stay in ESTABLISHED

[2017-12-06 18:11] mtaufen opened #56895 "Have the Kubelet send an event when it will switch configurations"
When the Kubelet downloads a new configuration, it should send an event before restarting to use the new config. This is an important state change, and is appropriate for an event.

/cc @liggitt @mikedanese @dchen1107

[2017-12-06 18:16] mtaufen opened #56896 "Consider a structured KubeletConfigOk field in Node.Status"
Currently, the Kubelet reports its configuration status in a NodeCondition with type KubeletConfigOK. This has limited use, because most of the node condition is not machine readable. A machine can tell if the config is OK, but can't easily aggregate details of the NodeConfigSource in use (especially if the node has rolled back to its last-known-good config).

We should consider adding a structure

[2017-12-06 18:25] bputt commented on #47392
Let me know if you need anything else

Kubernetes version: 1.8.4
Docker version: 17.09.0-ce
Linux: CentOS 7.4

Looking at the docker container log for the api-server (I don't have problems with the controller-manager):

[code]

[2017-12-06 18:26] cji commented on #55278
Could this be due to the ([undocumented](https://github.com/kubernetes/kubernetes/issues/34401)) resource request default of 100m causing [this check to fail](https://github.com/kubernetes/kubernetes/blob/dd9981d038012c120525c9e6df98b3beb3ef19e1/pkg/apis/core/helper/qos/qos.go#L80-L81) which then falls through to [Burstable](https://github.com/kubernetes/kubernetes/blob/dd9981d038012c120525c9e6df9

[2017-12-06 18:34] hogepodge commented on #52249
https://github.com/cncf/cross-cloud/pull/111

[2017-12-06 18:47] bputt commented on #47392
```/etc/kubernetes/manifests/kube-apiserver.yaml``` and ```/etc/kubernetes/manifests/kube-controller-manager.yaml``` share the following:

[code]

```/etc/systemd/system/kubelet.service.d/10-kubeadm.conf```

[code]

[2017-12-06 18:58] #56893 closed

[2017-12-06 19:26] jlhawn opened #56897 "`nettest` web server crashes in `PreStop` conformance test when default service account is disabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I get a failure in the `PreStop` conformance test:

[code]

**What you expected to happen**:

I expect it to pass.

**How to reproduce it (as minimally and precisely as possible)**:

Run this conformance test against a cluster which does not enable the default `ServiceAccount` admission controller plugin.

**Anything else we need t

[2017-12-06 19:41] jennybuckley commented on #56893
Nevermind

[2017-12-06 19:52] jlhawn commented on #56897
Maybe @k8s-merge-robot doesn't read edited issue descriptions?

@kubernetes/sig-testing-bugs
@kubernetes/sig-testing-test-failures

[2017-12-06 19:57] rfranzke opened #56898 "Azure Load Balancer Health Probe not configured correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/area cloudprovider
/sig azure

**What happened**:
I've created a service of type `LoadBalancer` in a Kubernetes cluster created via the ACS Engine. The load balancer has been created correctly after some time and a random NodePort (at this time `32330`) has been allocated. However, in the Azure Portal I'm seeing that the health probe of that

[2017-12-06 20:11] cmluciano commented on #42473
https://github.com/kubernetes/kubernetes/pull/22573

https://github.com/kubernetes/kubernetes/pull/32561

[2017-12-06 20:17] luxas commented on #47392
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-12-06 20:17] #47392 closed

[2017-12-06 20:19] luxas commented on #56886
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-12-06 20:19] #56886 closed

[2017-12-06 20:38] cmluciano commented on #54011
@ScorpioCPH I'm interested in driving the KEP forward for this. Do you have any proposals currently drafted?

[2017-12-06 20:45] caseydavenport commented on #22469
@cmluciano yes, I think we should close this and use the features issue or new separate issues for other topics relating to NP.

/close

[2017-12-06 20:45] #22469 closed

[2017-12-06 20:46] caseydavenport commented on #22469
@phsiao could you open another feature request, or send an email on the sig-network mailing list to have that discussion?

I don't think this is the right place anymore.

[2017-12-06 20:49] cjwagner commented on #56897
Most bot commands do not detect commands that were added as a result of an edit. This is to avoid re-executing a command if a different part of the comment or issue is edited.

[2017-12-06 20:50] cmluciano commented on #2856
@dnardo Does the tc piece of kubenet help out here?

[2017-12-06 20:53] cmluciano commented on #56226
@kubernetes/sig-instrumentation-feature-requests

[2017-12-06 20:58] zetaab commented on #56776
so do I understand correctly that if egress is added, default rule for everything is "deny all". Or should I specify that in some another place? If I do not add anything everything is allowed or?

[2017-12-06 21:13] puneetguptanitj opened #56899 "RBAC/v1 apis in 1.8.4 take a long time to be available, rbac/v1beta1 apis are immediately available"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

While upgrading a cluster from 1.7.7 to 1.8.4 we are seeing an issue where rbac/v1 apis are taking a long time to be available while rbac/v1beta1 apis are immediately available.

Following shows portion of api server logs where repeated attempts to create a clusterrolebinding kept hitting v1beta1 API and failing (as the yaml for cl

[2017-12-06 21:39] phsiao commented on #22469
Will do a feature request ticket.

[2017-12-06 21:46] phsiao opened #56901 "Add support for dns name as a field in NetworkPolicyPeer and the application of that"
/kind feature

Today NetworkPolicyPeer supports ipBlock, namespaceSelector, and podSelector.  This leaves one use case that is fairly common for dns name-based restrictions.  I think we should support that by having a way to express peers for both ingress and egress via dns domain name.

/sig network

[2017-12-06 21:46] phsiao commented on #56901
/cc @caseydavenport

[2017-12-06 21:46] phsiao commented on #56901
Some context in #22469.

[2017-12-06 21:47] foxish commented on #56787
@dnardo, the cluster setup in the upgrade clusters still looks the same. I think it wasn't solved by the cherrypicks.

[2017-12-06 21:54] cspwizard opened #56902 "kube-dns - Failed create pod sandbox"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

cluster initialized with kubeadm, kube-dns pods hang in ContainerCreating status. With failing pod sandbox creation.

**What you expected to happen**:

kube-dns pods running

**How to reproduce it (as minimally and precisely as possible)**:
created cluster via kubeadm:

sudo kubeadm init --pod-network-cidr=10.244.0.0/16

[2017-12-06 22:00] #56868 closed

[2017-12-06 22:14] mikksoone opened #56903 "DNS intermittent delays of 5s"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
DNS lookup is sometimes taking 5 seconds.

**What you expected to happen**:
No delays in DNS.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a cluster in AWS using kops with cni networking:
[code]
2. CNI plugin:
[code]
3. Run this script in any pod with that has curl:
[code]
**Anything else w

[2017-12-06 22:27] yujuhong commented on #56451
[code]
The pid 1 can decide what signals to handle, and can completely ignore any signal from processes in the same namespace.

[2017-12-06 22:37] BenTheElder commented on #53016
I think this is back :/ https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56900/pull-kubernetes-unit/16/

[2017-12-06 22:42] sttts opened #56905 "1.9 beta sync of pubished staging/ repos"
I propose to do the next push of the staging repos.

As for the previous pushes:

- the push script: https://gist.github.com/sttts/6824e5f3822e0f0969c65ff4bba14772 (updated Dec 7 v2)
- the last heads for a potential rollback: https://gist.github.com/be24792c03554b797566b7cd6e363d0f (Dec 6)
- the test script: https://gist.github.com/53aa32d0d17370f92a5350f2bf52bfba (updated Dec 7)

The test script

[2017-12-06 22:43] sttts commented on #56905
/cc @caesarxuchao @apelisse @marun @munnerz

[2017-12-06 22:49] #56234 closed

[2017-12-06 23:12] debajyoti1d1mukherjee opened #56907 "Pod not starting when application is linked to configmap"
**I am facing an issue while trying to access configmap from Spring Boot application. The pod containing the application failed to start .
I found the following error from logs of the failed pod:**

08:30:09.516 [main] DEBUG io.fabric8.kubernetes.client.Config - Trying to configure client from Kubernetes config...
08:30:09.556 [main] DEBUG io.fabric8.kubernetes.client.Config - Did not find Kuberne

[2017-12-06 23:36] hyakuhei opened #56908 "Use standard language for Kubectl command descriptions (Trivial issue, typo?)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running kubectl --help, most commands are documented as singular "Modify X, Deploy Y" however the plugin command is described in plural "Runs a plugin".

**What you expected to happen**:
Plugin command description should also be singular.

**How to reproduce it (as minimally and precisely as possible)**:
kubectl --he

[2017-12-06 23:42] caizixian commented on #2856
@m1093782566 Thank you. I will have a try.

[2017-12-06 23:52] hyakuhei commented on #56908
/sig kubectl

[2017-12-06 23:55] hyakuhei commented on #56908
This fits squarely in the area/kubectl but I'm not sure how to annotate it appropriately.

[2017-12-07 00:02] cmluciano commented on #56776
I just noticed that we are missing documentation for the except clause. @Rafaesp example should work but the except clause should be nested with ipBlock instead of indented under cidr.

The explicit allow/deny terminology is not used. If a policy is set on a given pod, policy needs to be defined for any pods that want to egress/ingress to it.
[API comments](https://github.com/kubernetes/kubernetes

[2017-12-07 00:06] cmluciano commented on #56901
We briefly discussed DNS selection in https://github.com/kubernetes/kubernetes/issues/50453. The reason why we did not move forward is because we would need an HTTP proxy.

[2017-12-07 00:19] bowei commented on #45976
TCP has the advantage of knowing when a conntrack entry can be deleted (FIN, RST etc)

If you look at the commit that added the conntrack removal, it was to solve the bug caused in the opposite direction, which was that a client with constant UDP traffic from the same socket will never switch over to a live endpoint due to the conntrack entry refresh (packets would go to a blackhole). We could del

[2017-12-07 00:38] dreyk commented on #51835
Somehow cleanupOrphanedPodCgroups process start unmount volumes while pod is in the initialization state:
[code]

Initialization and deleting pod is executing in the same time.
To repeat with bug you should start and immediately delete/update about 10 deployments (tested for single minion) and perhaps your mount operation must be not very fast.

[2017-12-07 01:48] zjj2wry commented on #56908
/sig cli

[2017-12-07 02:24] feiskyer commented on #56902
/sig kubelet

[2017-12-07 02:24] feiskyer commented on #56902
/sig node

[2017-12-07 02:26] feiskyer commented on #56902
@cspwizard Could you check why sandbox is not up in kubelet logs ?

[2017-12-07 02:29] #56518 closed

[2017-12-07 02:45] m1093782566 commented on #56842
I can confirm IPVS mode has no such issue.  I have tested it.

[2017-12-07 02:58] feiskyer commented on #56898
@rfranzke Thanks for reporting the problem. Could you share the service spec after it is created? e.g. by running `kubectl get service mypod -o yaml`

[2017-12-07 03:29] ScorpioCPH commented on #54011
@cmluciano Hi, For [NVIDIA k8s device plugin](https://github.com/NVIDIA/k8s-device-plugin), i just build it on local (Ubuntu 16.04) and deploy a TensorFlow training job to test the functionality. It works well for me.
I think we need more tests in cluster by deploying a distributed TensorFlow workload.
For GCP device plugin, no test on COS as i don't have this env for now.
And no doc about the det

[2017-12-07 03:34] fejta-bot opened #56913 "Failure cluster [309f06...] failed 172 builds, 34 jobs, and 12 tests over 1 days"
### Failure cluster [309f063888c9e4ba20d2](https://go.k8s.io/triage#309f063888c9e4ba20d2)
##### Error text:
[code]
##### Failure cluster statistics:
12 tests failed,    34 jobs failed,    172 builds failed.
Failure stats cover 1 day time range '6 Dec 2017 02:42 UTC' to '7 Dec 2017 02:42 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-scheduling] Resou

[2017-12-07 03:34] fejta-bot opened #56914 "Failure cluster [70103b...] failed 67 builds, 5 jobs, and 1 tests over 1 days"
### Failure cluster [70103bfdef6efdb508a3](https://go.k8s.io/triage#70103bfdef6efdb508a3)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    5 jobs failed,    67 builds failed.
Failure stats cover 1 day time range '6 Dec 2017 02:42 UTC' to '7 Dec 2017 02:42 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| SkewTest | 5 |

##### Top

[2017-12-07 03:44] m1093782566 commented on #44063
IPVS-based kube-proxy is in beta phase now.

[2017-12-07 03:52] wackxu commented on #56799
In our company, we also need this feature, I think it is very useful.

We can implement this by serveral steps:
1. only when LimitType is `pod`, then we can set `selector`, we add validation when create `LimitRange`
2. when  `selector` is nil, then it match all the pods, It is backwards compatible
3. update `LimitRange admission controller` and test

@derekwaynecarr Any thoughts?

[2017-12-07 03:52] sttts opened #56915 "WIP: k8s-publishing-bot test issue"

[2017-12-07 04:01] #56915 closed

[2017-12-07 04:02] k8s-publishing-bot opened #56916 "WIP: k8s-publishing-bot test issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-12-07 05:45] rfranzke commented on #56898
Sure, thanks, please find the manifest below [1]. In fact I'll have some other services with the same name, but in other namespaces. In the `default` namespace I didn't have a service named `mypod` before.

[1] Service manifest after creation
[code]

[2017-12-07 06:11] feiskyer commented on #56898
@rfranzke Filed PR #56918, which should fix the problem. Need cherry-picked to v1.7 branch after it is merged.

[2017-12-07 06:18] chakri-nelluri opened #56920 "Remove alpha from Flex Volume docs"
/kind bug

Flex volume docs still stay the feature is Alpha. We made it GA in Kube 1.8 time frame. We have to update the docs to reflect it.

/sig storage

[2017-12-07 06:19] chakri-nelluri commented on #56920
@saad-ali @matchstick Can we push this change for 1.9 or it is too late?

[2017-12-07 06:29] rfranzke commented on #56898
Thank you very much @feiskyer, that was really fast!

[2017-12-07 06:49] #54959 closed

[2017-12-07 06:51] andyzhangx commented on #56875
Detailed steps about how to use flexvolume on Windows with this PR:
https://github.com/andyzhangx/Demo/tree/master/windows/flexvolume

[2017-12-07 06:52] tianshapjq commented on #56891
you should follow the template to describe your problems, just error logs may not enough

[2017-12-07 07:29] bowei commented on #46753
@r7vme can you post your TCP keepalive settings (what are the timeouts?) and a tcpdump trace of what happens when the service endpoint dies.

[2017-12-07 07:49] dixudx commented on #56476
@chenqy930 You can try to manually update this conf file.

Seems something got misconfigured during the installation.

[2017-12-07 08:16] #52102 closed

[2017-12-07 08:30] porridge commented on #55194
Ack. [Run 42](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/42) was green. Let's keep this around until next green.
ETA: 08/12/2017

[2017-12-07 08:45] willstudy commented on #50356
I met this problem too.

kubectl version
[code]
kubectl describe po redis-0
[code]
statefulsets.yaml
[code]

[2017-12-07 08:54] xiangpengzhao commented on #56504
ping for Milestone update.

[2017-12-07 08:57] r7vme commented on #46753
@bowei

30 sec probe interval and 30 sec idle timeout. I'm using [k8s client go](https://github.com/giantswarm/kvm-operator-node-controller/blob/master/controller.go#L294-L302). Which by default afaik has [timeouts 30 sec for interval and timeout](https://github.com/kubernetes/client-go/blob/v4.0.0/transport/cache.go#L72-L75). Here is where it implemented in [Go](https://github.com/golang/go/blob/

[2017-12-07 09:00] jiaxuanzhou commented on #56272
@resouer @feiskyer any updates?

[2017-12-07 09:08] vfreex commented on #56450
The formatting issue should be fixed by #56483.

Regarding to the pod name, I think `$namespace/$podName` is better.
As for the pod name, the error message is from the HTTP response of kubelet server. I've looked at the code, functions defined in interface `HostInterface` are using `podFullName` ($podName_podNamespace) to identify a pod. Without spiting the parameter into two separated parameters,

[2017-12-07 09:18] r7vme commented on #46753
Unsuccessful test tcp stuck for 16 minutes - [logs](https://gist.github.com/r7vme/c1dc59c54ced7c2f8d2e22e94460539f)

[2017-12-07 09:39] cspwizard commented on #56902
@feiskyer added part from logs, looks like there is some problem with flannel and cni. I'll check the logs with kube-router plugin and update with that too.

[2017-12-07 10:14] cspwizard commented on #56902
When I've added missing cni binaries everything worked fine.
Seems this is a problem of wrong dependency for kubelet 1.8.4 it depends on kubernetes-cni 0.5.1. But it doesn't include portmap plugin.

[2017-12-07 10:42] jsravn commented on #45976
Except just putting in a small delay breaks expectations around termination grace period. I don't expect kube proxy to terminate all my client's connections before termination grace period expires. So I think the only "right" solution is to wait for that period of time. I don't see why listening to pod updates is a scalability issue via informers... endpoints are at least just as common to update.

[2017-12-07 10:44] jsravn commented on #45976
Yep, that's why we need the conntrack removal still.

[2017-12-07 10:49] thatsk commented on #49198
ok i think we are good to close this ticket

[2017-12-07 10:50] thatsk commented on #56850
/sig kubelet

[2017-12-07 10:50] thatsk commented on #56850
/sig kubeadm

[2017-12-07 10:51] thatsk commented on #49198
the new issue with new version :
https://github.com/kubernetes/kubernetes/issues/56850

[2017-12-07 11:52] hlubek commented on #40224
We are having the same issue when checking for deployments in our GitLab / K8s infrastructure:

[code]

[2017-12-07 12:27] Bobi-zhou commented on #54039
I have same problem in v1.8.4 too，how to fix it？

[2017-12-07 12:44] #54551 closed

[2017-12-07 13:25] mcchran commented on #54918
I got the same issue as well, Ubuntu 16.04, Kubeadm 1.8.4, docker 1.12 using the weave net.
I tried adding the missing config file manually but it didn't help

[2017-12-07 13:34] nexeck commented on #53059
Got the same error.
We modified the resource request/limits for one statefulset with 3 replicas.
K8s moved one of the replicas to another node, which has enough resources, but the volume was still attached to the old node.

K8s version: v1.8.1+coreos.0
Running on AWS

Warning  FailedAttachVolume     7m (x2987 over 12m)  attachdetach                                            Multi-Attach error for

[2017-12-07 13:54] fasaxc opened #56929 "Pod stuck in Terminating state, pod starting while terminating namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Running a 500 node churn test, which scales many deployments up and down.  I stopped the test and started the teardown sequence, which deletes all the namespaces we used during the tests (some with pods and deployments still inside).  Several of the namespaces got stuck in terminating, presumably because some of their po

[2017-12-07 14:01] fasaxc commented on #56929
/sig node

[2017-12-07 14:39] hyakuhei commented on #56908
Thanks @zjj2wry

If it's ok with the community I'd like to work up a tiny PR to fix this...

@hyakuhei #dibs on this issue.

[2017-12-07 14:40] andyzhangx commented on #42628
by deploying k8s cluster using acs-engine v0.9.2 or above, you could use azure file mount on Windows now, you could refer to following link for more detail steps:
https://github.com/andyzhangx/Demo/tree/master/windows/azurefile

[2017-12-07 14:43] hyakuhei commented on #56908
/area kubectl

[2017-12-07 14:49] camflan commented on #51881
I tried Flannel (lots of different versions), Canal, Weave all without success. I finally figured out why at least Flannel/Canal weren't working:
Using VXLan, the routes were set up incorrectly. The src IP was the public iface of my server instead of my specified private iface. Using UDP mode worked perfectly. Now I just need to find out why VXLan isn't configuring itself properly.

I didn't revis

[2017-12-07 14:55] tommyvn opened #56930 "Statefulsets from 1.7 become unschedulable after an upgrade to 1.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After an upgrade from 1.7 to 1.8 the pods from my Elasticsearch statefulsets are scheduled to dead nodes and so stuck in a Pending state.

I've removed some fields from the copy-paste below for brevity.

`kubectl -n instrumentation describe pod elasticsearch-master-0` yields
[code]

but `ip-10-68-88-85.ap-southeast-2.com

[2017-12-07 14:56] bowei commented on #45976
Regarding scalability, pod updates include all of the pod spec + status. The endpoints change less frequently as it is only when the IPs for Pods selected by services change.

[2017-12-07 15:00] tommyvn commented on #56930
@kubernetes/sig-scheduling-bugs

[2017-12-07 15:03] zatricky commented on #45459
In case it is relevant, symptoms like this also occur if docker is adding its own iptables rules where kube should be managing the rules.

To disable that behaviour, set the "iptables" option to false in your docker config / service unit.

[2017-12-07 15:04] tommyvn commented on #56930
I had an idea to try create a new statefulset by changing the name before applying, thinking maybe it's a hangover from some pod/statefulset data hanging around somewhere it shouldn't, but even a newly named statefulset wants to schedule to the non-existent node. I guess that means is some node data hanging around rather.

[2017-12-07 15:09] phsiao opened #56932 "Linux kernel panic and reboot under some conditions with cpu-manager-policy set to static"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig node

**What happened**:

We have been running with cpu-manager-policy set to static for several weeks without issues, but starting this week we have servers spontaneously reboot when pods with `resources` meet the cpu-manager-policy=static criteria starting/restarting on them.  It does not happen every time.   These pods used to do httpGet for l

[2017-12-07 15:50] gintautassulskus opened #56934 "daemonSet pod with 'hostNetwork: true' has no route to service net"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A daemonSet with `hostNetwork: true` has no route to Kubernetes service net.

**What you expected to happen**:
I expected daemonSet pods to be able to reach Kubernetes services.
In order to reach the services, I have to add a static route within the daemonSet pod:
`ip route add 11.0.0.0/16 via 6.0.9.1`
where `11.0.0.0` is

[2017-12-07 15:55] tommyvn commented on #56930
On my Statefulset I have some pod affinity configured to keep instances on separate nodes and availability zones. If I remove my affinity configuration completely from my spec in my statefulset and apply that it now schedules out to ready nodes.

Somewhere the affinity data for old nodes still exists and the scheduler is trying to use that to schedule to a no longer existing node.

[2017-12-07 16:16] jlewi commented on #54011
If you want a performance test, [TF benchmarks](https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks) might be a good starting point.

- It can use synthetic data that is auto-generated so you don't need to manage data in order to run it
- It emits metrics suitable for evaluating performance.
- Supports a variety of configurations CPU, GPU, multi-GPU per node, distributed

[2017-12-07 16:27] ConnorDoyle commented on #56932
/assign

[2017-12-07 16:41] danwinship commented on #56842
It would be nice if we could avoid using another mark bit (although also it doesn't make sense to do the address matching twice). I'm at kubecon this week but I'll look into this next week.

[2017-12-07 16:49] gintautassulskus commented on #56934
/sig network

[2017-12-07 16:49] danehans commented on #49480
@luxas @caseydavenport now that a 1.9 branch has been cut, can CNI get bumped?

[2017-12-07 16:49] resouer commented on #56930
@tommyvn What's your cluster configuration may I ask? Any alpha feature enabled?

[2017-12-07 17:27] balajismaniam commented on #56932
/assign

[2017-12-07 17:33] tommyvn commented on #56930
I've got `batch/v2alpha1` enabled for scheduled tasks, weave for cni and it's a private topology but aside from that it's a fairly standard kops setup.

I have made some more progress BTW, I wanted to turn the debugging up for kube-scheduler to see if it would tell me _why_ it was scheduling to a dead node, but after restarting kube-scheduler it started scheduling to ready nodes again. Is there pe

[2017-12-07 17:42] dashpole commented on #53207
/priority critical-urgent

[2017-12-07 17:52] flx42 commented on #54011
Given the current design of the device plugin, if it works on each node individually, then all these nodes should work when put inside the same cluster... in theory ;)
There should also be no performance impact from the device plugin, performance issues will likely come from scheduling decisions regarding NUMA/PCIe topology. Or is there any other concern that I'm missing?

[2017-12-07 18:00] dashpole commented on #53207
cadvisor version 0.28.3 has been cut with the fix to this: https://github.com/google/cadvisor/pull/1830

[2017-12-07 18:21] MrHohn commented on #56426
Assigning relevant folks to take a look
/assign @crassirostris @piosz

[2017-12-07 18:26] wasylkowski-a commented on #53600
@wasylkowski-a

[2017-12-07 18:40] crassirostris commented on #56426
This is a problem with addon manager or DaemonSet controller:

1.9: fluentd DaemonSet in version 2.0.10 is using ConfigMap in version 1.2.3
1.8: fluentd DaemonSet in version 2.0.9 is using ConfigMap in version 1.2.2

I see at some point there are pods from both DaemonSets on the node:

[code]

/assign @janetkuo
Could you please take a look?

[2017-12-07 18:58] lzlicd opened #56938 "kubelet_node_status syncNodeStatus stopped running"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After restart kubelet and docker service, kubelet stopped posting node status.

**What you expected to happen**:
Node become ready again and continue post node status every 10s.

**How to reproduce it (as minimally and precisely as possible)**:
Not 100% reproducible, one out of several times when restart kubelet and docker

[2017-12-07 19:03] lzlicd commented on #56938
/sig node

[2017-12-07 19:11] ericchiang commented on #55968
I think we should just add the exec plugin described in https://github.com/kubernetes/kubernetes/issues/35530. We can expand for other uses cases that don't include bearer tokens later.

/assign

[2017-12-07 19:23] jiayingz commented on #54011
@ScorpioCPH great to hear you made some success on running TensorFlow training job on a k8s managed gpu node!

Could you post the steps you ran to deploy a TensorFlow training job on Ubuntu gpu node? If you are interested in trying the same on COS gpu node, I can run it for you.

Could you be more specific on what kind of detailed plan you are interested in learning? And please go ahead to propose

[2017-12-07 19:55] TheOriginalAlex commented on #27796
<img width="1116" alt="image" src="https://user-images.githubusercontent.com/5567815/33735854-6a07fdfe-db45-11e7-8de5-2f7dcd13d124.png">
I get this error when trying to connect my GitHub account.

[2017-12-07 20:03] yastij commented on #56930
@tommyvn - we do have a cache for the scheduler, any logs available before kube-scheduler restart ?

[2017-12-07 21:19] yliaog commented on #56761
/sig architecture

[2017-12-07 21:20] yliaog commented on #56799
/sig architecture

[2017-12-07 21:22] e1senh0rn commented on #15180
@mediafreakch Proxy can do for HTTP services, but it won't work for raw TCP/UDP (postgres, powerdns, etc).

[2017-12-07 21:24] yliaog commented on #56806
/sig apps

[2017-12-07 21:27] roycaihw commented on #56806
/remove-sig api-machinery

[2017-12-07 21:29] yliaog commented on #56841
/remove-sig api-machinery

[2017-12-07 21:31] caesarxuchao commented on #56841
If sig node decides to support this feature and requires sig api-machinery's help, please then add the sig/api-machinery label back.

[2017-12-07 21:31] yliaog commented on #56856
/cc @yliaog

[2017-12-07 21:32] samhagan commented on #48396
We are experiencing the same issue on GKE with a test cluster.  In our case, we have a preemptible instance pool where the nodes are terminated at least every 24 hrs.  They retain the same instance name, but fairly certain the ephemeral ip address changes each time (or at least some of the time).

[2017-12-07 21:33] yliaog commented on #56865
/cc @DirectXMan12

[2017-12-07 21:36] roycaihw commented on #56800
/assign

[2017-12-07 21:41] roycaihw commented on #56800
Alpha API versions are supported for 0 releases before removing. See https://kubernetes.io/docs/reference/deprecation-policy/

/close

[2017-12-07 21:41] #56800 closed

[2017-12-07 21:57] caesarxuchao commented on #56905
In the push script for client-go:
[code]

Is it because we haven't created release-6.0 branch for client-go? Shall I go ahead and create the branch manually? It looks like I should the branch point is be88969207dfd2ca8a1678c59f4f8dc9ad691bc4?

[2017-12-07 21:58] caesarxuchao commented on #56905
Otherwise lgtm.

[2017-12-07 22:06] zuzzas commented on #53644
We've hit this as well. Caused a cluster-wide restart of every container.

[2017-12-07 22:16] ericchiang commented on #54511
cc @kubernetes/sig-cluster-lifecycle-feature-requests
cc @geojaz
cc @eswarbala
cc @roberthbailey

[2017-12-07 22:18] anorth2 commented on #55720
So you're saying it's *valid* for `kubectl get all` to return my replicasets, pods, deployments twice, and no services......

[2017-12-07 22:23] jurgenweber commented on #45418
ok, I have this in 1.7.10.... How do I get the cronjob to schedule again?

[2017-12-07 22:28] jurgenweber commented on #45825
ok, I have this in 1.7.10.... How do I get the cronjob to schedule again?

[2017-12-07 23:15] israelshirk commented on #51187
Running on kubernetes-incubator/kubespray with the centos AMI, adding @timchenxiaoyu's solution to /usr/local/bin/kubelet resolves the issue of the kubernetes API not starting.

[2017-12-07 23:37] phsiao commented on #56901
Had a chat with @cmluciano, there are a two potential issues with supporting DNS name.

1. DNS name and its resolution is "static", but the connection may not be.   For example, a http server can decide to redirect based on Host, and the layer 3/4 network policy controller logic would not be able to follow that.  As a result it becomes a usability problem.
2. Dynamic DNS entries.  Some DNS name ca

[2017-12-08 00:36] jiayingz opened #56943 "Provide a mechanism in Kubelet device plugin manager to ensure per-container-creation Allocate gRPC call"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
For certain types of devices, it is desirable to make sure an Allocate device plugin gRPC call is issued before starting a container. Currently, this is not guaranteed when containers are restarted. For more details, see discussions in issue https://github.com/kubernetes/kubernetes/issues/56022 and PR https://github.co

[2017-12-08 00:36] jiayingz commented on #56943
/area hw-accelerators

[2017-12-08 01:09] tengqm commented on #56943
/sig node

[2017-12-08 01:17] krzyzacy commented on #54313
@vishh I think at least we should not schedule pods onto the node without enough pids

[2017-12-08 01:31] feiskyer commented on #56902
@cspwizard portmap plugin is only included in CNI v0.6.

[2017-12-08 01:32] feiskyer commented on #56902
I think it will be formally included togather with kubernetes v1.9.

@cspwizard Close the issue since the problem has been solved?

[2017-12-08 01:54] jiayingz opened #56944 "A common Kubelet Plugin Communication Establish Model"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
We are seeing the need for a common Kubelet plugin discovery model that can be used by different types of node-level plugins, such as device plugins, CSI, and CNI, to establish communication channels with Kubelet. During the design proposal reviews of device plugins and CSI, two models have been discussed: one is to ha

[2017-12-08 01:55] jiayingz commented on #56944
/sig node

[2017-12-08 02:14] davidxia commented on #56431
@juanvallejo Hi, I'm new to developing kube. I was hoping to contribute a PR. Is this issue still relevant? If so, is your suggestion above still the recommended approach?

[2017-12-08 02:24] tengqm commented on #56944
@kubernetes/kubernetes-wg-resource-management

[2017-12-08 02:27] krzyzacy commented on #49820
/close
all kubemark & scalability jobs are in prow now :-)

[2017-12-08 02:27] #49820 closed

[2017-12-08 02:28] shyamjvs commented on #49820
Ok.. seems like we've migrated all our kubemark jobs with the above PRs. With that, all scale jobs are on prow now. Thanks for the effort Seen.

[2017-12-08 02:30] shyamjvs commented on #49820
*Sen
Seems like a race.
Also, let's keep a watch on how these jobs go (especially the kubemark-5000 one which is more sensitive for failures).

[2017-12-08 02:31] shyamjvs commented on #49820
cc @wasylkowski @porridge

[2017-12-08 02:38] dixudx commented on #54039
@xyalan @Bobi-zhou Sorry for the delay. I've already cherry-picked the fix to release-1.8. Please refer to #56945. The fix should be available in v1.8.6.

For current already-released v1.8 version, please cherry-pick the fix manually if you really need it and re-compile `kubelet`.

And v1.9 is coming out soon, targeted on Dec 13. You can wait for this new version, which has already included the fi

[2017-12-08 02:39] tengqm commented on #56944
@kubernetes/kubernetes-wg-resource-management

[2017-12-08 02:41] tengqm commented on #56944
@kubernetes/kubernetes-sig-node

[2017-12-08 02:43] gwind commented on #51881
@camflan maybe you should add option `--iface=eth0` to specify your public interface (eth0 is a example, replace it with your real interface name)

https://github.com/coreos/flannel/issues/620

another suggest is check your envrioment:
use pure enviroment to deploy docker + kubelete (DO NOT use a mixed enviroment to deploy, because there would be many network interfaces, and flannel can not select

[2017-12-08 02:44] sttts commented on #56905
Good spot. Was a typo in my sync script generator. Updating.

[2017-12-08 02:46] dixudx commented on #49480
@danehans Already bumped in #51250 (merged). Only get kubernetes/release#446 left, should be shipped ASAP, since v1.9 is coming out.

[2017-12-08 02:57] sgmiller commented on #47131
Any update on this?  We've had to implement a brute force restart of kube-apiserver regularly as we roll the etcd credentials frequently (every couple of days) in a deployment with short lived TLS credentials from Vault.  We weren't sure what was causing the apiserver to become unresponsive but every symptom in this issue rings true.  K8S 1.7.8, etcd 3.2.6.

[2017-12-08 03:35] cmluciano commented on #56901
@kubernetes/sig-network-feature-requests

[2017-12-08 03:39] ScorpioCPH commented on #54011
@flx42 Agreed with you, I think there is no different if we use device plugin for GPU scheduling without any topology (PCIe/NVLink). And the requirement of scheduling with topology maybe grows up. Maybe it is out of this issue's scope :)

@jiayingz Sure, I will attach some notes here later, Thanks for you help, i'm trying to create a GCE to test it :)

For convergence, I‘m happy with @vishh 's pro

[2017-12-08 03:59] cmluciano commented on #56553
related https://github.com/kubernetes/kubernetes/issues/54011

[2017-12-08 04:06] cmluciano commented on #56736
@kubernetes/sig-node-bugs

[2017-12-08 04:10] cmluciano commented on #56943
@kubernetes/sig-node-feature-requests

[2017-12-08 04:11] cmluciano commented on #56903
@kubernetes/sig-network-misc

[2017-12-08 04:13] ScorpioCPH commented on #54012
/cc

[2017-12-08 04:14] cmluciano commented on #56628
@kubernetes/sig-network-bugs

[2017-12-08 04:15] cmluciano commented on #56054
This should be fixed in the 1.9 release. Please re-open if it still persists.

[2017-12-08 04:15] #56054 closed

[2017-12-08 04:17] cmluciano commented on #56794
@kubernetes/sig-network-bugs

[2017-12-08 04:17] cmluciano commented on #56840
@kubernetes/sig-network-bugs

[2017-12-08 04:18] cmluciano commented on #56797
@kubernetes/sig-network-bugs

[2017-12-08 04:20] cmluciano commented on #56669
@kubernetes/sig-node-bugs

[2017-12-08 04:21] cmluciano commented on #56693
@kubernetes/sig-azure-misc

[2017-12-08 04:27] spiffxp commented on #56877
/close
Yeah, that did the trick.  All jobs that had this failure no longer have it

[2017-12-08 04:27] cmluciano commented on #56672
@kubernetes/sig-network-bugs

[2017-12-08 04:29] cmluciano commented on #56649
can we consolidate this with https://github.com/kubernetes/kubernetes/issues/53497 ?

[2017-12-08 04:44] spiffxp commented on #55194
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/43 also green

I'm OK closing this if you are @porridge

[2017-12-08 05:15] zz commented on #48483
add `kubernetes-cadvisors'` job in prometheus config to fix prometheus miss container_* metrics, if you install prometheus with helm.
[code]

[2017-12-08 05:17] mtaufen commented on #56944
/cc @liggitt

[2017-12-08 05:21] vfreex commented on #56934
Did you check if your kubernetes nodes are able to reach the service IPs?
`kube-proxy` should set up firewall rules to capture the traffic sent to services and redirect it to corresponding pod.

[2017-12-08 05:24] mtaufen commented on #56944
If we go the directory route, I'd prefer a directory passed to the kubelet via a flag, rather than a magic location.

Would the Kubelet have to periodically re-scan the directory to dynamically react to changes, or would it only have to scan it once per restart?
Do plugins also have to be told where this directory is, so they can populate it, or does someone have to set up some config in this dire

[2017-12-08 05:37] jpbetz commented on #47131
@sgmiller v3.2.11 has just been released and contains multiple fixes in the etcd client to gRPC. We plan to upgrade kubernetes to use the new etcd client.  See https://github.com/kubernetes/kubernetes/issues/56114 for details.

I should warn that the bulk of the reports found in this (lengthy) issue provide sufficient detail or analysis to say for certain if they all have the same root cause, or i

[2017-12-08 05:53] martinyunify opened #56949 "provide an interface for ipam in node controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
ipallocator in nodecontroller only support gce cloudprovider

**What you expected to happen**:
should remove this constaint and let cloud provider to decide whether they would implement this feature

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
no
https://githu

[2017-12-08 05:55] martinyunify commented on #56949
/sig node

[2017-12-08 06:35] jishandong opened #56950 "when i set kube-apiserver.yaml "- --service-node-port-range=10-65535" it will show the eror log ,but it set "- --service-node-port-range=1000-65535",it will be ok !! why? /kind bug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tool

[2017-12-08 06:38] ctirs opened #56951 "PreStop Hook with HttpGet not working as expected"
/kind bug
**What happened**:
We use : Kubernetes 1.7.10
we created a RC with the following spec:
[code]

afterwards we delete the pod with
`kubectl delete pod xxx`

**What you expected to happen**:
That before SIGTERM the api is called, actually this was not working.
What we found out that if you remove the / from "/admin/shutdown" to "admin/shutdown" it works.

**Environment**:
- Kubernetes versi

[2017-12-08 07:24] lichuqiang commented on #56951
Please take a look at the #56770

[2017-12-08 07:29] lichuqiang commented on #56951
/assign

[2017-12-08 07:56] danielqsj commented on #56806
@ryanmcnamara
Because the default `spec.updateStrategy` for the StatefulSet kinds is `OnDelete`.
If you want to roll update, you should change `spec.updateStrategy` to `RollingUpdate`.

[2017-12-08 07:56] lichuqiang commented on #56944
I guess to feel the change of plugins, kubelet need things like a "fileWatcher" to watch the change in the directory.

And @jiayingz have descriptions of your comments in the referenced doc .

[2017-12-08 07:59] cspwizard commented on #56902
yeah, if that wouldn't be forgotten :)

[2017-12-08 07:59] #56902 closed

[2017-12-08 08:02] lichuqiang commented on #56944
@jiayingz Wondering how the special plugin pod here looks like, do we need to introduce something built-in ?

[2017-12-08 08:02] porridge commented on #55194
/close

[2017-12-08 08:02] #55194 closed

[2017-12-08 08:04] feiskyer opened #56953 "No need to ScrubDNS anymore"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup
/sig cloudprovider

**What happened**:

DNS scrubber from kubelet has been removed in #36785 and cloudprovider's `ScrubDNS()` interface is not used anywhere.

**What you expected to happen**:

Remove unused interface.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2017-12-08 08:04] dinghao2020 opened #56954 "efk 1.8.3"
[code]

[2017-12-08 08:36] foxylion commented on #56883
@AnkitVaidya01 It is hard to give you any tip. Try to give more information on what you are trying to achieve.

- Link us the real deployment file (not a template)
- More details about the test (What tool? How do you access the deployment?)
- What version of Kubernetes do you use?
- Etc. (just look at the issue template: https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE.m

[2017-12-08 08:54] fengh0409 commented on #52787
Hey, I like this feature,and I had met this situation actually.How is this going?

[2017-12-08 09:37] gogeof opened #56957 "Kube-proxy status is Terminating and not restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
after create cluster in different system(centos and ubuntu), one node's kube-proxy status is Terminating, and never restart. shows log is "EOF"

**What you expected to happen**:
all components of k8s is ready.

**How to reproduce it (as minimally and precisely as possible)**:
I create a 3 master k8s cluster, and add one mo

[2017-12-08 10:07] danielqsj opened #56958 "No need federation docs anymore"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup
/sig docs

**What happened**:
Federation docs are already in project [federation](https://github.com/kubernetes/federation).
And /hack/generate-docs.sh here do not generate federation docs right now.
So it's time to remove these docs.

**What you expected to happen**:
Remove unused docs.

**How to reproduce it (as minimally and precisely

[2017-12-08 10:18] lichuqiang opened #56962 "Message in container lifecycle event(poststart/prestop) always empty"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In HandlerRunner of container lifecycle, param of output message `msg` in both `Exec` and `HTTPGet` got re-declared， thus, the event message returned would always be empty.
[code]
**What you expected to happen**:
Do NOT re-declared the `msg`

[2017-12-08 10:33] lichuqiang opened #56963 "HttpGet handler in container lifecycle has no check on statusCode of the response"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When performing a container lifecycle action in `HTTPGet` form, we only check the error  and the content of the response, but does not check its statusCode [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/lifecycle/handlers.go#L128). Is there any special consideration about the point?

/sig node

[2017-12-08 10:34] squeed commented on #56794
I've been told by @dcbw that "there's a reason for this," but I'm eagerly awaiting what it is :-).

[2017-12-08 10:35] lichuqiang commented on #56962
/sig node

[2017-12-08 10:40] crassirostris commented on #56954
Use [`kubectl proxy`](https://kubernetes.io/docs/tasks/access-kubernetes-api/http-proxy-access-api/), you need proper authn to use proxying

[2017-12-08 10:40] #56954 closed

[2017-12-08 10:53] r7vme commented on #46753
I observe that TCP keepalive probes does not help, because k8s client tries to send data periodically and connection becomes non-idle. TCP keepalive by default needs 9 unsuccessful proves to kill connection this means it need in total 4m30sec to kill connection if it was idle for 30sec. So i should have my app idle (on http level) for at least 5min (which is definitely not the case.)

But except s

[2017-12-08 11:01] Ilyes-Hammadi commented on #54610
Same problem here, still get dir_mode=0700 and file_mode0700 when using K8s storage class with azure file. When inspecting the PV I see that the storage class has passed the correct mountOptions that are dir_mode=0777 and file_mode=0777, but when the volume is mounted, it's being mounted with dir_mode=0700 and file_mode0700.

### Environment:
- `kubectl version 1.8.3`
- Cloud provider `Azure`
- Se

[2017-12-08 11:09] ScorpioCPH commented on #54011
@jiayingz FYI.

#### Set nvidia-docker (2.0) as the default runtime

You can follow this doc: [set nvidia-docker as default runtime](https://github.com/NVIDIA/nvidia-docker/wiki/Advanced-topics#default-runtime).

Change docker config:

[code]

Check your setting:

[code]

#### Deploy NVIDIA device plugin in your cluster

[Deploy as DaemonSet](https://github.com/NVIDIA/k8s-device-plugin#deploy-as-d

[2017-12-08 11:14] andyzhangx commented on #54610
Hi @Ilyes-Hammadi , I just did a check, PR https://github.com/kubernetes/kubernetes/pull/56384/ has already into v1.8, while it's not in v1.8.3 or v1.8.4, I guess it would be into v1.8.5

[2017-12-08 11:28] andyzhangx commented on #54610
@Ilyes-Hammadi and in v1.8.3, azure file code would ignore mountOptions in strorage class,  mountOptions would be really used from v1.8.5

[2017-12-08 11:40] bboreham commented on #56934
Based on a Slack conversation I believe this is the same situation described at https://github.com/kubernetes/kubeadm/issues/102#issuecomment-291532883 - the node has >1 interface; kernel picks a source IP based on the original ip destination, then iptables rewrites the destination, but it doesn't re-pick the source address, so the packet goes out on the wrong interface and into a black hole.

[2017-12-08 12:13] andyzhangx commented on #56462
@gnufied
I found the root cause, azure_file plugin is not added into the `xpandableVolumePlugins` list:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/plugins.go#L104

I will work out a PR soon, will add you as reviewer.

[2017-12-08 12:13] gintautassulskus commented on #56934
@vfreex , yes, all pods with `hostNetwork: false` can access service IPs.

[2017-12-08 12:21] squeed commented on #56934
Right, `hostNetwork: false` are masqueraded, so it makes sense that they work.

[2017-12-08 12:46] redbaron commented on #46041
@mleklund , as a workaround  I  you can run `iscsiadm -m node --loginall=automatic` in cron/daemonset on nodes, so that missing sessions are established and then probably subsequent `iscsiadm -m session --rescan` to get missing paths added to DM multipath.

Overall, managing iSCSI  connectivity should not be a kubernetes concern. It doesn't enumerate/initialize network devices for instance, why wo

[2017-12-08 12:47] gintautassulskus commented on #56934
Could someone please try to run the example DaemonSet or use any pod of their own with `hostNetwork: true` to confirm that the issue is reproducible and this is not cluster-specific?

[2017-12-08 12:54] zoobab commented on #1806
I rewrote DIND with a simple SSHD+Dockerd on Alpine:

https://github.com/zoobab/dind

I am still struggling to get it running as privileged mode inside Kubernetes (minikube for now), so if you have any tips for it.

I am adding atm a change to the entry.sh to quit if SSHD or Dockerd is not running.

[2017-12-08 13:20] Ilyes-Hammadi commented on #54610
@andyzhangx Thanks for the info, that's good to know so that I can skip using Azure file plugin for now. 😄👍

[2017-12-08 13:22] porridge opened #56964 "tests clashing during jenkins-prow migration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
umbrella issue: #56062
@kubernetes/sig-scalability-bugs

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/22 failed with the following and more similar messages:
[code]
Looks like at least the following 10 hosts were affected:
[code]

[2017-12-08 13:25] morgs32 commented on #18622
You guys should make some of this conversation a blog post

[2017-12-08 13:34] porridge commented on #56964
Looking closer at the build log and comparing it with GCE event log it's clear that there was a clash with another test. This was likely jenkins-prow migration pains. Hopefully it will not re-occur.

[2017-12-08 13:35] porridge commented on #56964
/close

[2017-12-08 13:35] #56964 closed

[2017-12-08 14:30] soltysh commented on #55437
My personal approach would be to require rpmbuild only for `make bazel-release` and leave `make bazel-build` produce just binaries.

[2017-12-08 15:08] juanvallejo commented on #56431
Hi @davidxia , yep this is still relevant to solve.
The suggestion above would probably be the easiest approach.
1. Creating a new file (probably under `pkg/kubectl/cmd/util/factory_printing.go`)
2. Having the implementation object called `ring3Factory`, which composes both a `clientAccessFactory` and an `objectMappingFactory` (take a look [at how factory_builder.go does it](https://github.com/kub

[2017-12-08 15:10] jsravn commented on #53207
ACK. PR opened #56967

[2017-12-08 15:30] bainim opened #56968 "Adding externel configuration file"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

 /kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Hello every one ,
i'm working on kubernetes and elasticsearch
i followed this link :https://github.com/kubernetes/examples/tree/master/staging/elasticsearch
what i want is to add a volume to be like th

[2017-12-08 15:33] davidxia commented on #56431
Great. I can get started if this is the agreed upon way forward.
--
David Xia
davidxia.com

[2017-12-08 15:36] 00mfg commented on #56902
Dear cspwizard & feiskyer
I am also got the error cspwizard mentioned above, and i am a flash guy to try k8s,could you pls give me
more detail about how to solve the problem,thanks
-------------------------------------------------------------------

lc@k8s-master:~$ kubectl get nodes
NAME         STATUS    ROLES     AGE       VERSION
k8s-master   Ready     master    6h        v1.8.5
node1        R

[2017-12-08 16:11] r7vme opened #133556 "How to reinitialize client?"
Hello, this is more support question that a bug (i hope so).

I'm using client-go in small app that calls cluster API and checks nodes in NotReady state (like cloud-provider code does). I've stuck with a problem that after pod (guest cluster kubernetes master vm) hard killed, i have dead tcp connection in my pod. Client-go tries to reuse it for next 10-17 minutes until TCP is dropped.

To workarou

[2017-12-08 17:10] emwalker commented on #52729
I'm seeing this issue in v1.8.0:
[code]
None of the workaround urls found in various places seem to work.  I'm wondering whether anyone else is also seeing this.

[2017-12-08 17:12] mikedanese commented on #55437
We need a target that builds everything.

[2017-12-08 17:13] flx42 commented on #54011
@ScorpioCPH you don't need to run the container as `privileged`, try again without it.

[2017-12-08 17:13] yujuhong commented on #56938
Looks like #53207

[2017-12-08 17:23] asehra commented on #17626
@justinsb  Can this issue be reopened, please. Consistently seeing the behaviour explained by @jhvhs above. ELBs seem to disappear from AWS console, but the logs suggest that kubernetes is unable to detect the deletion of ELBs.

[2017-12-08 17:24] saad-ali commented on #56920
Code freeze is lifted Monday, Dec 11 so any changes to the core kubernetes repo (this one) required for 1.9 should be in by then.

If this is purely a change to the kubernetes.io docs then we should move this issue to https://github.com/kubernetes/website/ (changes to the official kubernetes.io docs are made and tracked there.). If not, let's itemize all the required changes.

[2017-12-08 17:42] ryanmcnamara commented on #56806
@danielqsj
Hmm I'm getting some conflicting docs about this
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/apps/v1beta2/types.go#L126
states that the default is RollingUpdate
While https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#update-strategies states the default is OnDelete

At any rate it appears the default really is RollingUpdate, because m

[2017-12-08 17:54] andor44 opened #56972 "Controller-manager unable to update service endpoints"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We have some services whose endpoints are not getting updated when the set of backing pods change. We see in the controller-manager logs repeated attempts to update the endpoints, and they all fail with the message
[code]
and it eventually gives up:
[code]

It seems to happen only to some services, but it happens to those

[2017-12-08 18:08] andor44 commented on #56972
Don't really know what SIG applies here: API machinery, cluster ops, something else?

[2017-12-08 18:11] caesarxuchao commented on #56905
lgtm. Thanks!

[2017-12-08 18:13] nikhita commented on #52163
@bryanl Could you elaborate over what problems you faced regarding circular dependencies with CRD validation (that we discussed at KubeCon)?

/cc @mbohlool

[2017-12-08 18:22] freehan commented on #48396
@samhagan
Can you share you the output of the following command?
[code]

[2017-12-08 18:30] tonglil commented on #11505
I have an idea of using probes to allow apps to self-declare their (canary) promotion/deployment continuation:

[code]

Apps can give signal of how they are doing, and show their own shapes using these "health" endpoints.

Apps will pass probes after x minutes of metrics or do whatever check they want, but all pods need to pass a probe to advance to the next probe / complete the deployment

When a

[2017-12-08 18:42] cspwizard commented on #56902
@00mfg Check the kubelet logs, if the problem is about portmap just download the 0.6 version of CNI (https://github.com/containernetworking/cni/releases) for your platform and put it to cni folder (/opt/cni/bin )

[2017-12-08 19:09] rajgouravjain opened #56973 "kube-dns is in crashloop"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
Kube-dns didnt come up on launching of cluster using kops. I have tried solutions which are suggested for similar issues.

Followings are the errors ::

[centos@ip-10-8-26-123 etcd-v3.2.11-linux-amd64]$ kubectl get pods --all-namespaces -o wide
NAMESPACE     NAME

[2017-12-08 19:18] rajgouravjain commented on #56973
@kubernetes/sig-cluster-lifecycle-bugs
/sig cluster-lifecycle

[2017-12-08 19:20] freehan commented on #48396
I have a theory here. This bug happens in the following scenario:
1. k8s cluster has service pointing to pods using host network. Pods could be managed by daemonset.
2. Instance internal IP changed due to whatever reason. (such as preemptive instance, obnormal shutdown)

This is due to how the validation for Endpoints update was written. It uses EndpointAddress IP as key and check if its node has

[2017-12-08 19:56] sttts commented on #56905
Pushed everything but client-go's master branch (which is protected).

[2017-12-08 20:55] sttts commented on #56905
The master branch issue was resolved. Closing.

[2017-12-08 20:55] #56905 closed

[2017-12-08 20:58] camflan commented on #51881
@gwind It sounds like I wasn't clear above:

I do specify the correct, private, interface via iface. My public interface IP gets selected regardless for the routes (but only when using VXLAN).

Flannel issue #620 has been resolved a couple versions ago (as noted in taht ticket), and I'm using version 0.9.0, which has this option. This is likely how it works for Flannel 0.9.0 in UDP mode.

[2017-12-08 20:59] jiayingz commented on #56649
Sure. Will do this with Vish after KubeCon.

[2017-12-08 20:59] jlz27 commented on #44145
+1 on the issue and also on extending PDB with http endpoints.

We ran into a similar issue with etcd (but the problem extends to other quorum based stateful sets).

Suppose we run a replica 3 statefulset and use a PDB with "MaxUnavailable 1".

**Case 1**: etcd readiness returns 200 when etcd server is healthy

t0: evicting etcd-0 pod is successful -> resulting state: 2 healthy pods, 1 unavialable

[2017-12-08 21:07] samhagan commented on #48396
@freehan I can't share from my current cluster, but I should be able to re-create this fairly easily in a clean cluster.  I should be able to do that over the weekend.

[2017-12-08 22:32] danehans commented on #49480
@dixudx I have added IPv6 support details to the 1.9 release notes.

[2017-12-08 22:41] yangyangliu9412 commented on #51924
I encountered the same problem and I have tried the solution by @mattjmcnaughton. It doesn't work out. @vklonghml  I wonder how did you solve the problem in the end?

I tried the command as : go run hack/e2e.go -- -v --test --test_args="--host=http://127.0.0.1 --ginkgo.focus=\[Feature:Performance\]" --provider=local

The error message I got was:

 Expected error:
      <*url.Error | 0xc420760060>:

[2017-12-08 22:57] JiangtianLi commented on #55031
@marono Have you got time to work on it?

[2017-12-08 23:08] yangyangliu9412 commented on #51924
I solved the problem by "export KUBE_MASTER_IP="http://127.0.0.1". Then I got a new error ;(

[2017-12-08 23:40] BenTheElder commented on #43783
I found this issue because https://github.com/kubernetes/test-infra/issues/5877 again had an unintentional fork-bomb destabilize a node, while in this case it is the fault of a test-infra job, we'd still take advantage of this feature where possible.

We *do* run untrusted (other than `/ok-to-test` / PR author community membership) code in kubernetes by running it in a cluster dedicated to being u

[2017-12-08 23:48] BenTheElder commented on #54313
I just had a discussion about this with @dashpole, it would be great to have some mitigation for this.

[2017-12-09 00:38] #56817 closed

[2017-12-09 00:45] janetkuo commented on #56653
This is a known regression in 1.7 (more context: #50477) and is fixed in 1.8. We'll need to cherrypick the fix back to 1.7.

[2017-12-09 00:59] brendandburns commented on #53639
Yeah, we should probably abstract that out...

[2017-12-09 01:04] guoshimin opened #56976 "Use a more recent version of go-yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The version of go-yaml (53feefa2559fb8dfa8d81baad31be332c97d6c77) vendored by kubernetes has this bug: https://github.com/go-yaml/yaml/issues/75

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
If KUBECONFIG uses the exclamation mark syntax, for example:
[code]
kubectl w

[2017-12-09 01:05] guoshimin commented on #56976
/sig api-machinery

[2017-12-09 01:29] jiayingz commented on #56944
@mtaufen for the directory probing model, I thinking setting it as a flag on both kubelet and plugin sides is feasible with Kubelet dynamic config support that plugins can get this flag setting from Kubelet config configMap. I have limited knowledge on that side and probably need to ping you for help if we want to go that path.

I think Kubelet may need to create a go routine to watch for inotify

[2017-12-09 01:31] jiayingz commented on #56944
@lichuqiang for special plugin pod, we may possibly introduce something built-in, but I think that may be a bit overkill at the moment. Right now, I think a regular pod spec seems sufficient to be used in both models.

[2017-12-09 01:35] mtaufen commented on #56944
Another benefit of the service model: hard for plugins to accidentally unregister each-other (vs directory, where they could delete each-other's registrations by accident).

[2017-12-09 01:43] lazzarello opened #56977 "Azure LB Service resource report error when updating service"
/kind bug

**What happened**:

Created Service template looking like

[code]

I created a [static IP resource as documented](https://kubernetes.io/docs/concepts/services-networking/service/#type-loadbalancer). Ran `kubectl edit service <name>`. Added a static IP address with the following line in the spec
[code]

The service was not updated. The system output the following error

[code]

**What yo

[2017-12-09 02:40] lazzarello commented on #56977
@kubernetes/sig-azure-bugs

[2017-12-09 04:27] #56916 closed

[2017-12-09 04:49] vvsh opened #56980 "kubectl patch fails with Error from server: json: cannot unmarshal string into Go value"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubectl --namespace=dev patch serviceaccount default -p '{"imagePullSecrets":[{"name":"gcr-json-key"}]}'

Fails with

Error from server: json: cannot unmarshal string into Go value of type map[string]interface {}

**What you expected to happen**:

Service account is updated

**How to reproduce it (as minimally and precis

[2017-12-09 05:03] vvsh commented on #56980
@kubernetes/sig-cli
@kubernetes/sig-windows

[2017-12-09 05:32] witrin commented on #20227
@spiffxp What about debugging a running container? With a simple line to create a reverse tunnel to the container would be very helpful!

[2017-12-09 08:12] k82cn commented on #54313
Great, so maybe report it as `PIDPressureNodeCondition`; and taint node by NodeController. @vishh , does that make sense? I can help on that :).

[2017-12-09 11:37] HardikModha commented on #28272
@vishh When can we expect this to be fixed? I'm using [docker-selenium](https://github.com/SeleniumHQ/docker-selenium) to run the firefox and it keeps crashing. I have used the workaround suggested in [openshift docs](https://docs.openshift.org/latest/dev_guide/shared_memory.html) to use `emptyDir` as `tmpfs` and mounted at `/dev/shm`. But it is not enough. It requires atleast `2G`. [Reference](ht

[2017-12-09 12:31] #39528 closed

[2017-12-09 13:45] danielqsj commented on #56806
@ryanmcnamara
Sorry my previous comment is incomplete.
What I mean is the default `spec.updateStrategy` for the StatefulSet `v1beta1` kinds is `OnDelete`.
You could find it in [1.8 release note](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md#defaults).

[2017-12-09 13:59] danielqsj commented on #56806
@ryanmcnamara
Code is here:
v1beta1: https://github.com/kubernetes/kubernetes/blob/bb72237375dfb32f2928e39354a42c40afc98fc1/pkg/apis/apps/v1beta1/defaults.go#L36
v1beta2:
https://github.com/kubernetes/kubernetes/blob/bb72237375dfb32f2928e39354a42c40afc98fc1/pkg/apis/apps/v1beta2/defaults.go#L57

[2017-12-09 14:48] kasperbe commented on #45140
I've been messing around with this issue, trying to prove it using a test.
I tried modifying the HTTPGet-PreStop test, adding an init container, using a bash container, all the things that @dhilipkumars described, however I cannot reproduce this using a unit test.

I can however following the instructions provided reproduce this quite easily.
I was thinking to do another round of this using integr

[2017-12-09 15:43] sttts opened #56985 "client-go: keep API versions longer in the client library than in the apiserver"
One pretty uniform feedback from client-go users @ KubeCon was that they struggle with supporting old and new Kubernetes clusters from one code-base of their operators. Keeping old API versions around longer than we serve them in kube-apiserver might help them. So they can move on to the new client-go, but have an abstraction logic in their operator to fall-back to the old API group versions.

Kee

[2017-12-09 15:43] sttts commented on #56985
/cc @kubernetes/sig-api-machinery-misc @kubernetes/sig-architecture-api-reviews

[2017-12-09 15:49] sttts opened #56986 "client-go / code-gen: enable client-gen/informer-gen/lister-gen to return user-provided Golang interfaces instead of versioned types"
Users of client-go often have to support multiple GroupVersions of an API in one operator. We do not support this use-case well in the generated clients.

As we do not offer internal versions, client-go users build abstractions over version types via Golang interfaces with getters and setters. Our generated clients are not prepared for this pattern, but potentially could. I am imagining some kind

[2017-12-09 15:50] sttts commented on #56986
/cc @ncdc @timothysc @brancz have you investigated something like this? Do you have any example code which solves this problem? Any kind of common pattern that worked out well would be interesting.

[2017-12-09 16:04] ncdc commented on #56986
I haven't looked into this before. I don't really have a good answer atm. This may be tangentially related, but I do wonder if allowing a GroupVersion to add new resources or new fields to Kinds is also causing problems to some extent? If I'm a client and I ask for `apps/v1`, how do I know if that supports `Deployment.Spec.Frobble` (hypothetically added in Kubernetes v1.10)? Feel free to suggest m

[2017-12-09 16:05] jberkus commented on #56813
If the PR is merged, can we close this issue?  @vladimirvivien

[2017-12-09 16:12] sttts commented on #56986
I think our only answer to new fields is to ask the server for its version today (which might be good enough for controllers). The json/protobuf (de)serializers will just ignore that field.

[2017-12-09 16:14] ncdc commented on #56986
True, but if you're an external user, how do you know that the absence of some "new" field means it wasn't set vs the server doesn't support it yet? There are different meanings of `apps/v1` (just an example) depending on kube version...

[2017-12-09 16:15] jberkus commented on #47820
@kow3ns @foxish Can we have a decision on this issue?  If it's not-blocking, you need to change the status of the tests as mentioned by @spiffxp above.

[2017-12-09 16:21] sttts commented on #56986
Right. There were discussions about subversions. But I think they will not solve anything we don't have now already with the server version. So you have to put some meta knowledge about `app/v1` into your controller logic. Luckily seeing a 1.9 server mostly means the same for every Kube flavor (maybe with the exception OpenShift which backports features).

Feature flags might be another question.

[2017-12-09 16:25] foxish commented on #47820
The tests are already disabled on master (https://github.com/kubernetes/kubernetes/pull/56790) and cherrypicked to the 1.8 branch (https://github.com/kubernetes/kubernetes/pull/56900).

[2017-12-09 16:55] DirectXMan12 commented on #56865
/assign @DirectXMan12

[2017-12-09 16:56] DirectXMan12 commented on #56865
We do actually have an effective equivalent of a fake rest mapper, I've used it before.  I just have to dig up the right pattern.

[2017-12-09 17:00] danielqsj opened #56988 "No default value message for app/v1beta1 statefulset StatefulSetUpdateStrategyType"
**What happened**:
There is no default value message for `app/v1beta1` statefulset `StatefulSetUpdateStrategyType`.
This will confuse some users into thinking the default value of `app/v1beta1` statefulset `StatefulSetUpdateStrategyType` is same as `app/v1beta2`.
Refer to #56806 .

**What you expected to happen**:
Add default value message as `app/v1beta2`.

**How to reproduce it (as minimally and

[2017-12-09 17:01] DirectXMan12 commented on #56226
For aggregated APIs, it's sufficient to have pod IP connectivity.  If you have neither pod nor service IP connectivity, you're going to have issues with any aggregated API.

Duplicate of #55238

[2017-12-09 17:01] danielqsj commented on #56988
/assign danielqsj

[2017-12-09 17:26] asac commented on #48219
hmm... will try when upgrading my apiserver next time ... hope a couple
days.

On Tue 5. Dec 2017 at 16:53, Andreas Krüger <notifications@github.com>
wrote:

[2017-12-09 19:10] jhorwit2 commented on #56934
@gintautassulskus I don't have this problem in my clusters and i have multiple Daemonsets with `hostNetwork: true` that can reach service ips. This seems cluster specific and not applicable to all daemonsets. Do you have the same problem with a Deployment running in the host network (gonna guess you will)?

[2017-12-09 19:15] jhorwit2 commented on #56950
@jishandong could you please update the description and title of the issue to include more information like your version, the logs, and your CLI args to the apiserver.  Thanks!

[2017-12-09 19:28] BenTheElder commented on #56516
@xiangpengzhao I beleive you can verify this with the changes in https://github.com/kubernetes/kubernetes/pull/56820 applied and then `make bazel-build` or `bazel build //cmd//kubeadm/...`

[2017-12-09 19:29] BenTheElder commented on #56516
Also it seems your PR link was busted, https://github.com/kubernetes/kubernetes/pull/56661 looks to be what you meant :-)

[2017-12-09 20:36] MengZn opened #56990 "kube-controller-manager create rbd failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig volume

**What happened**:
When I operate the following files
[code]
I want to get ab rbd volume witch be created by  StorageClass to be mounted into my pod.

ceph-sc.yml
[code]

rbc-pvc.yml
[code]
 rbd-mount-pod.yml
[code]

**What you expected to happen**:
But I got a pedding status
[code]
When I check the status of this pvc get this me

[2017-12-09 21:59] redbaron commented on #50199
what does error message say?

[2017-12-09 22:41] #30254 closed

[2017-12-09 22:44] shay-berman commented on #56920
Hi Saad and Chakri

As Chakri mentioned, FlexVolume was already GA in 1.8 but was not reflected in relevant docs.
So since its only documentation thing, try to give this issue high priority if posible so it will be part of the 1.9 release.

Thanks
Shay Berman

[2017-12-09 23:40] canhnt opened #56991 "Worker node is NotReady due to Docker Engine cannot start"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
- We setup a k8s cluster v1.8.4 using kops (v1.8.0) on AWS. The cluster has 1 master + 3 worker nodes.
- We installed our platform (deployments, statefulsets, ELB (ingress-controller), etc).
- After 1 day, one node is in the "NotReady" state, even that EC2 machine still runs normally. Looking into its system, the `docker.

[2017-12-09 23:47] canhnt commented on #56991
@kubernetes/sig-aws-bugs
@kubernetes/sig-node-bugs

[2017-12-10 01:37] agargiulo commented on #48401
@praseodym How did you resolve this? I feel like I'm running into the same or similar issue and can't track down what's wrong with my cluster.

[2017-12-10 02:14] davidopp opened #56993 "Support sole tenancy"
tl;dr: We need to modify  [PodAffinityTerm.Namespaces](https://github.com/kubernetes/api/blob/5cb170de1f060ebf2dde62cc4b8241fdb3c01203/core/v1/types.go#L2584) to allow a way to say "all namespaces." We also need an optional admission controller to add a "tenant" label to all non-system pods.

Full details:

[Taints and tolerations](https://kubernetes.io/docs/concepts/configuration/taint-and-tolera

[2017-12-10 02:16] davidopp commented on #56993
cc/ @kubernetes/sig-scheduling-feature-requests

[2017-12-10 06:45] huangjiasingle opened #56996 "SandboxChanged Pod sandbox changed, it will be killed and re-created."
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

kind bug

**What happened**: when creating the deploy,the pod status was always ContainerCreating ,when l use kubectl descirbe the pod ,it's show  like this:

[code]

**What you expected to happen**:

normal,it's should recreate a new sandbox successful , and the pod should be running normal.

but when l login into the node, l use the comma

[2017-12-10 06:51] huangjiasingle commented on #56996
@@kubernetes/sig-kubelet-bugs

[2017-12-10 06:53] huangjiasingle commented on #56996
@kubernetes/sig-node-bugs

[2017-12-10 06:59] andyxning commented on #54384
Any updates?

[2017-12-10 07:16] andyxning commented on #34439
Just learned recently that xfs supports (`xfs_quota`)[https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/storage_administration_guide/xfsquota] to limit a directory disk usage. Any thoughts about leveraging this feature on xfs. However it is only supported on xfs for now.(correct me if i am wrong).

[2017-12-10 07:19] kgignatyev-inspur commented on #56903
I have similar issue: consistently slow DNS resolution from pods, 20 seconds plus
from busybox:
 time nslookup google.com
Server:    100.64.0.10
Address 1: 100.64.0.10

Name:      google.com
Address 1: 2607:f8b0:400a:806::200e
Address 2: 172.217.3.206 sea15s12-in-f14.1e100.net
real	0m 50.03s
user	0m 0.00s
sys	0m 0.00s
/ #

I just created  1.8.5 cluster in AWS with kops, and only deviation from sta

[2017-12-10 07:26] davidopp commented on #56993
cc/ @kevin-wangzefeng

[2017-12-10 07:45] innovia commented on #51850
@dixudx what do you mean attach?

i dont see a command like that at all.

my use case is to run a job which spins up a pod (usually this takes time cause cluster autoscaler needs to bring up a new node) and to watch for the logs

can you explain how to achieve that?

[2017-12-10 07:56] saad-ali commented on #56815
Closed with https://github.com/kubernetes/kubernetes/pull/56836

[2017-12-10 07:56] #56815 closed

[2017-12-10 07:56] saad-ali commented on #56813
https://github.com/kubernetes/kubernetes/pull/56836

[2017-12-10 07:56] #56813 closed

[2017-12-10 10:15] CaoShuFeng opened #56998 "one admission controller can be passed multiple times to --admission-control"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

For example, if a user start kube-apiserver with `--admission-control=ResourceQuota,foo,ResourceQuota` , quota will be calculated twice when one object is created.

/assign

I will fix this.
This issue is addressed for some suggestions.

[2017-12-10 12:08] #49606 closed

[2017-12-10 13:03] sel opened #56999 "YAMLDecoder Read function always returns n=0 bytes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In a go program, using the YAML utility package "k8s.io/apimachinery/pkg/util/yaml", the
YAMLDecoder Read function always returns n=0 bytes, indicating that nothing was read.

**What you expected to happen**:

The number of bytes read should be returned as specified in the [Read contract](https://golang.org/pkg/io/#Reade

[2017-12-10 13:03] nkprince007 commented on #47668
Hi! I'm a newcomer here. Has this issue been taken by someone? If not I'd like to work on this. Please help me get started.

[2017-12-10 13:07] sel commented on #56999
@kubernetes/sig-api-machinery-bugs

[2017-12-10 14:13] sheerun opened #57001 "Cannot fetch certificate data using jsonpath"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubectl config view -o jsonpath='{.clusters[0].cluster.certificate-authority-data}'`
[68 64 192 9 49 3]

**What you expected to happen**:

kubectl displays config in base64 or pem format. Instead it returns bunch of numbers

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Majo

[2017-12-10 15:56] gmflau commented on #45484
Is podAntiAffinity feature available in StatefulSets?

[2017-12-10 15:59] gmflau opened #57002 "Is podAntiAffinity feature available in StatefulSets?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Tried to use podAntiAffinity with my StatefulSets implementation but failed.  My K8 cluster allows pods to deploy on the same K8 host/node.

**What you expected to happen**:
K8 cluster should not allow that to happen.

**How to reproduce it (as minimally and precisely as possible)**:
Try to deploy a StatefulSets with "podAntiAffinit

[2017-12-10 16:21] shyamjvs commented on #53327
The job is now green - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000
We've had 3 successful runs (750, 752, 753). 751 failed, but that's due to failure while creating master (might help once @porridge moves the job to us-east1-b?, if he hasn't already).

Closing this issue. Thanks!

[2017-12-10 16:21] #53327 closed

[2017-12-10 17:39] vvsh commented on #56980
I found the issue when I added --v=8.

JSON should be specified in the following way:

kubectl --namespace=dev patch serviceaccount default -p "{\"imagePullSecrets\":[{\"name\":\"gcr-json-key\"}]}"

[2017-12-10 17:39] #56980 closed

[2017-12-10 17:57] yastij opened #57003 "scheduler computes general predicates twice"
While implementing, predicate ordering, I found out that we were registering the following predicates here:

https://github.com/kubernetes/kubernetes/blob/bb72237375dfb32f2928e39354a42c40afc98fc1/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L65-L82

But we are also registering them using the following:
https://github.com/kubernetes/kubernetes/blob/bb72237375dfb32f2928e39354a42c40afc

[2017-12-10 17:57] yastij commented on #57003
cc @resouer @gmarek @bsalamat

[2017-12-10 18:23] yastij commented on #56930
@tommyvn - It might help us to get full logging before/after upgrade if you can reproduce it.

from what I know the cache gets updated when a node is deleted. When a node is deleted it emits an event, and based on that  we have event handler for deletes, adds, updates... that reacts on this event.

waiting for logs if it is reproducible, also putting @bsalamat on the loop

[2017-12-10 18:29] ianchakeres opened #57004 "Need local persistent volume provisioner e2e tests to use mounts points instead of directories"
The local PV provisioner is being updated to discover only real mount points (and not directories), that resolves some other related issues. https://github.com/kubernetes-incubator/external-storage/pull/499

The related e2e tests using the local PV provisioner need to be updated accordingly.

[2017-12-10 18:29] ianchakeres commented on #57004
/assign @ianchakeres

[2017-12-10 18:29] ianchakeres commented on #57004
/sig storage

[2017-12-10 18:30] ianchakeres commented on #57004
FYI: @msau42

[2017-12-10 18:53] norbertvannobelen opened #57005 "Mismatch between crio.sock location in crio and kubelet"
BUG REPORT

While configuring the kubelet with:
`--container-runtime-endpoint="unix:///var/run/crio.sock"`
And having the sock file on that location (default location from cri), the following error occurs:

`Dec 10 18:30:52 kubeworker01 kubelet[15060]: W1210 18:30:52.739721   15060 manager.go:291] Registration of the crio container factory failed: Get http://%2Fvar%2Frun%2Fcrio%2Fcrio.sock/info: d

[2017-12-10 19:04] dims commented on #28272
/subscribe

[2017-12-10 19:06] norbertvannobelen commented on #57005
/sig area/kubelet

[2017-12-10 19:29] jhorwit2 opened #57006 "ImageGCFailed attempting to remove images in use by running containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:

The kubelet is attempting to GC images that are in use by running containers that the kubelet manages (we have no running containers on a host outside of k8s control).

[code]

**What you expected to happen**:

I expect the kubelet to not attempt to remove images being used by running containers or at least not

[2017-12-10 19:37] jhorwit2 commented on #57006
It seems the image it's trying to delete is the pause container in use by pods running in the host network.

[2017-12-10 19:46] davidopp commented on #45484
It should work with any pods regardless of how they are created.

[2017-12-10 19:59] norbertvannobelen commented on #57005
/area [kubelet]

[2017-12-10 21:21] bmwiedemann commented on #52269
@ixdy somehow this bug seems to have been forgotten - can you help getting the right people to have a look?

[2017-12-10 21:45] resouer commented on #56272
Why do you need evict result may I ask? Basically you can not do anything to fix the eviction (or means a lot to me to fix eviction).

If just for monitoring purpose, I think log is quite enough.

[2017-12-10 22:53] bryanl commented on #52163
While generating ksonnet lib from the 1.8.0 open API swagger JSON, we ran into some issues with loops. I believe we have worked that issue out temporarily and we will revisit it again once our new generator is in place. I'm aware of the nuances of working with nested algebraic datatypes, and we will properly factor that in moving forward.

[2017-12-10 23:41] resouer commented on #57003
@yastij Let me explain this a little bit :)

The default scheduler only knows the group of predicates registered in this function:
https://github.com/kubernetes/kubernetes/blob/bb72237375dfb32f2928e39354a42c40afc98fc1/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L119

So it will only use `GeneralPredicates` which is registered there.

[2017-12-11 00:28] jhorwit2 commented on #57002
/kind bug
/sig apps

@gmflau thanks for the report. Could you please post some more information like the manifest for your stateful set.

[2017-12-11 00:29] possibilities commented on #26412
Super helpful thread, thanks! Updated link: https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#patch-operations

[2017-12-11 01:00] dahaian commented on #56885
@dims Thank you very much.And I want to know how to setup a hbase cluster?How to make the multiple pods in different nodes in a intranet?

[2017-12-11 01:01] jhorwit2 commented on #55713
@marczahn how long did you wait after turning off the Kubelet? By default pods won't be moved for 5m minutes which is configurable via the following flag on the controller manager.
[code]

[2017-12-11 01:11] huangjiasingle commented on #57006
@jhorwit2  it's also hapened in my k8s cluster of v1.7.6

[2017-12-11 01:44] CaoShuFeng commented on #56998
/cc @deads2k
What's your opinion about this?

[2017-12-11 01:54] jl-dos commented on #49376
This error happens to me as well consistently on mounted volumes while trying to delete. GlusterFS storage backend to pods are running in different namespace than default. Pods hang indefinitely in terminated state until I kill the associated glusterfsd pid and then unmount the gluster volume.

During this time I get errors:
1) "Could not construct volume information: MountVolume.NewMounter failed

[2017-12-11 02:08] dims commented on #52269
@bmwiedemann - can you please confirm that PR #57008 works for you?

[2017-12-11 02:19] 00mfg commented on #56902
@cspwizard  got it and resolved problem，thx！

[2017-12-11 02:20] dixudx commented on #51850
@innovia I mean `kubectl run --pod-running-timeout=xx --attach`.

[2017-12-11 02:24] charlesakalugwu opened #57009 "Hpa cannot get metrics from heapster"
I am having troubles getting horizontal pod autoscaling to work on my k8s cluster on aws as it seems it is unable to retrieve metrics from heapster

[code]

I have heapster deployed and powering the kubernetes dashboard without issues. This is the heapster k8s manifest i have deployed

[code]

I have deployed an application with horizontal pod autoscaling. However I can see from the `describe hpa`

[2017-12-11 02:24] charleslieferando commented on #57009
/sig autoscaling

[2017-12-11 02:36] KeithTt opened #57010 "unknown `CONTAINER-RUNTIME` when `kubectl get node`"
kube version: 1.8.4
OS version: debian stretch

As the title,...

[code]

[2017-12-11 02:37] KeithTt commented on #57010
/kind support

[2017-12-11 02:47] huangjiasingle commented on #56996
@gnufied @brosner @freeformz  can you help me to resolve this?

[2017-12-11 02:56] xiangpengzhao opened #57013 "gce-1.9-1.8-downgrade fails due to etcd crashloopbacking"
/kind bug
/priority failing-test
/sig cluster-lifecycle testing

This test fails:
https://k8s-testgrid.appspot.com/sig-release-1.9-all#gce-1.9-1.8-downgrade

Some clues:

- waiting for new master timeout:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-beta-stable1-downgrade-cluster/33/build-log.txt
[code]

- master healthz check failed:
https://storage.googleapis.com/

[2017-12-11 03:03] feiskyer commented on #56996
@huangjiasingle Do you check kubelet's log check what's happened on sandbox?

[2017-12-11 03:16] xiangpengzhao commented on #57013
xref: #54027
/cc @jingax10

[2017-12-11 03:18] xiangpengzhao commented on #54027
Also encountered this in #57013.
@jingax10 did you mean that downgrade etcd from 3.1.x to 3.0.x is not allowed?

[2017-12-11 03:28] dixudx commented on #57010
dup of #54039.

Already fixed in #54040.

/close

[2017-12-11 03:28] #57010 closed

[2017-12-11 03:45] jiaxuanzhou commented on #56272
@resouer we can image a third-party monitor system  in production scenario, when we want to monitor resource at pod level, we just monitor the pod was to evicted but no results reported due to the events, and it is unreasonable to  filter the key words from the log files.

[2017-12-11 04:08] chakri-nelluri commented on #56920
@saad-ali Verified that we need no changes from apiserver side to mark Flex GA.
Opened: https://github.com/kubernetes/website/issues/6641

[2017-12-11 04:17] jhorwit2 opened #57015 "The cloud node controller makes redundant calls to fetch the node addresses"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network
/area cloudprovider

**What happened**:

The cloud node controller fetches the node's addresses in [`AddCloudNode`](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L313). This logic is the exact same logic that happens in [`updateNodeAddress`](https://github.com/kubernetes/kubernetes/

[2017-12-11 04:27] gmflau commented on #57002
Here you go below!

apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: dse
spec:
  serviceName: "dse"
  replicas: 3
  podManagementPolicy: Parallel
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: dse
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100

[2017-12-11 04:28] gmflau commented on #57002
[code]

[2017-12-11 04:50] jl-dos commented on #20391
Same issue. Any update?

[2017-12-11 05:12] huangjiasingle commented on #56996
@feiskyer

[code]

the node contains three etcd-0 pause container:

[code]

when l use command **docker rm etcd's pause containerID ** , the pod will be create successed.

[2017-12-11 05:34] RiaanLab commented on #43860
Same here on K8S version 1.6.13 on a bare metal Debian 8 install.

[2017-12-11 06:02] lcfang commented on #57015
Hi, @jhorwit2 , I doubt what conflicts will have when using `getNodeAddressesByProviderIDOrName` twice?

[2017-12-11 06:17] feiskyer commented on #56996
Seems a calico plugin problem: `resource does not exist: WorkloadEndpoint`

/cc @caseydavenport

[2017-12-11 06:18] rajatjindal commented on #55585
in my case I changed the service from http to https, and load balancer on AWS was not updated.

do u think it might be due to same issue?

[2017-12-11 06:35] hongtao12310 commented on #53644
i also hit this issue as well, when I am upgrading cluster from v1.7.4 to v1.8.5. especially, the kubelet version from v1.7.4 to v1.8.5

[2017-12-11 06:36] dotw commented on #18632
I have the same question? any update till now?

[2017-12-11 06:46] sourcec0de commented on #28272
/subscribe

[2017-12-11 06:58] innovia commented on #51850
@dixudx  this doesnt make sense - the help section for the kubectl logs clearly shows the options for the logs command - either they need to update the kubectl help to reflect that this is a run flag or  fix this

[code]

[2017-12-11 07:18] porridge commented on #53327
Yes, moving to -b is my plan. I kept it in -a so far to limit the number of
things changing at the same time.

[2017-12-11 07:27] mitake commented on #16845
Hi, I'm interested in this idea for deploying learning tasks of deep learning frameworks e.g. tensorflow.

If we execute distributed learning task of DL, the pods (PS tasks and worker tasks in the case of tensorflow) related to the learning task must be executed at once. Executing some of the pods and not executing others cannot start the learning task. The motivation is described in my lightning

[2017-12-11 07:31] dixudx commented on #57006
/assign

[2017-12-11 07:37] porridge commented on #53327
https://github.com/kubernetes/test-infra/pull/5891

[2017-12-11 07:53] davidopp commented on #16845
See https://github.com/tensorflow/k8s/issues/165

[2017-12-11 08:04] huangjiasingle commented on #56996
@feiskyer  the running pod ， l  use calicctl delete the endpoint of the pod ,  and then  delete the po  ,the new it's also  running successed !   when l delete the running pod's sandbox container, it's also running successed.

[2017-12-11 08:08] dixudx commented on #57005
/area kubelet
/sig node
/assign

[2017-12-11 08:11] dixudx commented on #57005
This is because `cadvisor` uses `/var/run/crio/crio.sock`, while `kubelet` is using `/var/run/crio.sock` as default.

We should make them consistent. Fixed in #57023. PTAL.

[2017-12-11 08:11] huangjiasingle commented on #56996
@feiskyer   on the node of  pod containerCreating ,  l found  mutil pause container of the some pod, l  delete the pod's mutil pause container, the po running successed! so l think it's the kubelet's GC collect's desn't collect the exit pause container and remove it.  and the cause the po always hung ContainerCreating.

[2017-12-11 08:19] dolftax commented on #32026
In which k8s release is this supposed to go? To use 'kubectl exec' via kube-proxy returns exit status 1.

[2017-12-11 08:22] wojtek-t commented on #56993
I think we added (but looking into code apparently it never happened) an ability to specify:
`NamespaceSelector` instead of explicit list of namespaces in PodAffinityTerm.

But since it seems it never happened, I think that's the way how we should proceed with it.

[2017-12-11 08:24] mdshuai opened #57024 "Encounter some http stack error in apiserver log"
**Version**:
v1.10.0-alpha.0.821+a505d1bc7854c0-dirty

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When start k8s on `hack/local-up-cluster.sh`, there is some error in `/tmp/kube-apiserver.log`
[code]

**What you expected to happen**:
No those error in apiserver

**Detail log link**:
https://paste.fedoraproject.org/paste/Jab1IAnQGblS2m2TdorSZg

[2017-12-11 08:35] krmayankk commented on #57002
@gmflau its not clear what kubernetes version you tested this . `GCP Alpha K8 cluster` is not a kubernetes version. can you run `kubectl version ` and paste the output here .

/sig scheduling

[2017-12-11 08:38] davidopp commented on #56993
Oh right, I totally forgot about it. You're thinking of https://github.com/kubernetes/kubernetes/pull/54536

[2017-12-11 08:42] bainim opened #57025 "can't share a local configuration file inside kubernetes container"
<!-- This form is for bug reports and feature requests ONLY!

Hello every one ,
I'm trying to share a configuration file from my machine to the container using kubernetes , This is the  replicationController file:

apiVersion: v1
kind: ReplicationController
metadata:
  name: es
  labels:
    component: elasticsearch
spec:
  replicas: 1
  template:
    metadata:
      labels:
        component: ela

[2017-12-11 08:43] feiskyer commented on #56996
@huangjiasingle Kubelet will try to free the CNI network first, if it fails, sandbox won't be removed

[2017-12-11 08:59] dschoeni opened #57028 "Kubelet fails randomly on Master-Nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig node

**What happened**:
We have a Kubernetes Cluster on 3 bare-metal machines. After a random time, kubelet fails on one of the nodes and does not recover without manual interaction. It can fail after some minutes up to a couple of hours, but usually it takes about 10-15 hours to fail.

The node switches into the "NotReady" state and st

[2017-12-11 09:06] AvTiMp opened #57029 "namespace still exists in ETCD after it was deleted using kubectl"
**What happened**:
create a namespacenamed "test", create some pods, then delete this namespace

but the directory  /kubernetes.io/pods/test  in ETCD will not be deleted after a very long time

**What you expected to happen**:

it should be deleted

**How to reproduce it (as minimally and precisely as possible)**:

1. create a namespace, create some pods
2. delete namespace
3. find it in ETCD ( /k

[2017-12-11 09:07] tjma2001 commented on #30558
@dinvlad this is the easiest workaround for now

kubectl create configmap --dry-run -o yaml --from-file=_env env | kubectl replace -f -

[2017-12-11 09:20] odino commented on #26707
FYI this is also possible through workarounds ([official doc](https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/#determining-your-scale-target))

[2017-12-11 09:21] mdshuai opened #57030 "EventRateLimit admission controller can't start with configuration format"
**Version**:
v1.10.0-alpha.0.821+a505d1bc7854c0-dirty

**What happened**:
When enable EventRateLimit with `configuration` like below, apiserver can't start and get error
`Error: failed to initialize admission: no kind is registered for the type runtime.Unknown`

[code]
But it can be start success when use `path` in configuration
[code]
**Error log**:
[code]

[2017-12-11 09:23] huangjiasingle commented on #56996
@feiskyer  l know ， l was viewed the code of the syncPod and teardownPod , when the teardown pod  to call and relase the pod network by use cin plugin,  when is return err, the syncPod method was return , waiting for the next interval sycPod , so the pod's new sandbox nerver to be create, and the the pod is hang ContainerCreating.

now , l  must need to rm the exit Pause container in my cluster no

[2017-12-11 09:26] karataliu opened #57031 "azure_instances.go calls getVirtualMachine frequently"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
As seen in log, during cloud-controller-manager initialization, 5 identical calls were made in single second, this would trigger API throttling in some case, which eventually result in #56276.

In azure_instances.go, methods 'NodeAddresses, InstanceType, InstanceID' all calls 'getVirtualMachine' for same node name, while t

[2017-12-11 09:28] mdshuai commented on #57030
@staebler

[2017-12-11 09:28] knightXun commented on #56990
[code]
it seems your container lack rbd command. you can enter your container and check if rbd is exist.

[2017-12-11 09:29] karataliu commented on #56977
Is the static IP resource in same resource group of your k8s cluster?

[2017-12-11 09:30] karataliu commented on #57031
/sig azure

[2017-12-11 09:32] xujieasd commented on #56842
Do you mean check `KUBE-MARK-REJECT` mark bit in both INPUT and OUTPUT chain twice?

I think It doesn't matter, because the the KEY is time complexity has already reduced from `O(N) `to `O(1)`. Before add this mark bit, package have to scan the whole filter rules created by kube-proxy, but now we remove these filter rules, package only need to check itself.
I think one more additional matching in

[2017-12-11 09:32] porridge commented on #56291
Also happened in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8852: a single request took 15 minutes `I1211 08:35:54.658] Dec 11 08:35:54.657: INFO: WARNING Top latency metric: {Resource:nodes Subresource: Verb:LIST Scope:cluster Latency:{Perc50:8.35ms Perc90:11.927ms Perc99:15m28.296985s Perc100:0s} Count:83}`

[2017-12-11 09:36] knightXun commented on #54214
@weiwei04 how is the latest kubelet?

[2017-12-11 09:40] dixudx opened #57032 "Test flake: Missing local artifacts : /workspace/_artifacts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind flake
/area test

**What happened**:
The CIs complain

W1211 08:08:13.941]   File "/workspace/./test-infra/jenkins/../scenarios/kubernetes_verify.py", line 170, in <module>
W1211 08:08:13.941]     main(ARGS.branch, ARGS.script, ARGS.force, ARGS.prow)
W1211 08:08:13.942]   File "/workspace/./test-infra/jenkins/../scenarios/kubernetes_verify.py",

[2017-12-11 09:41] dixudx commented on #57032
/priority failing-test

[2017-12-11 09:41] dixudx commented on #57032
/sig testing

[2017-12-11 09:52] porridge commented on #56291
Looking at `kube-apiserver.log` for this run, there are a few more such long requests at that time, as well as some panics. I don't know whether the 15 minute latency is the cause or effect of the panics, but I don't think they are expected, @kubernetes/sig-api-machinery-bugs ?

[code]

[2017-12-11 10:25] AvTiMp commented on #57029
@kubernetes/sig-etcd-bugs

[2017-12-11 10:34] yastij commented on #57003
@resouer - what about the other ones, from what i see `#registerFitPredicate()` will also to the same map ? How are they ignored ?

[2017-12-11 10:51] duane-ibm commented on #56780
The logs seem to have a lot of junk in it.
The job fails with the error "Error when running run_kubectl_get_tests"
With the following logs seen, looks like the **FAIL!** is the actual point of failure

[code]

[2017-12-11 10:56] mbertschler commented on #39423
I can confirm that this is still very slow, but for me it worked. The instance group for the ingress was updated after about 20 minutes (didn't measure exactly).
[code]
The node pools are running `v1.7.5` and `v1.7.8`.

[2017-12-11 11:46] pekfi opened #57035 "Diverse e2e Conformance Checks Failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug
 /kind e2e-test-failure
/sig storage
/sig auth
/sig testing

**What happened**:

Failure [19.458 seconds]
[sig-auth] ServiceAccounts
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/auth/framework.go:22
  should mount an API token into pods [Conformance] [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/sr

[2017-12-11 11:46] m-no-2017 commented on #56744
The thing how "weave-net" works does make it quite "simple" to use under Linux. You basically download the CNI to the respective paths the DaemonSet requires and launch it in the cluster.

If I would try to test a Windows implementation, I'd adjust the mounted volumes for the CNI and lib stuff in the [yaml-daemonSet](https://raw.githubusercontent.com/weaveworks/weave/master/prog/weave-kube/weave-d

[2017-12-11 12:41] marczahn commented on #55713
I know this parameter and Iwas waiting way longer for than the eviction-timeout. It definitely happened nothing.

[2017-12-11 12:54] #56973 closed

[2017-12-11 12:55] rajgouravjain commented on #56973
Invalid bug. Recreating master instance (in AWS autoscaling) fixed the issue.

[2017-12-11 13:00] jhorwit2 commented on #55585
@rajatjindal could you please create another issue for that.

[2017-12-11 13:06] jhorwit2 commented on #57015
@lcfang it causes two calls for the cloud provider when one will do.

[2017-12-11 13:12] gintautassulskus commented on #56934
@jhorwit2 , you are right, the issue persists with the Deployment.

Here is the situation with the redeployed cluster. with `hostNetwork: true` Deployment and DaemonSet pods can reach services on 11.0.0.0/16 **with the exception** of 11.0.0.1:443 (the apiserver).

Here is the excerpt of `iptables -L -t nat` output  for kubernetes-dashboard service (output for other services is anakogous). In this

[2017-12-11 13:23] tony612 commented on #41880
@smarterclayton  Why not include namespace in the exported result?

[2017-12-11 13:24] jhorwit2 commented on #57025
@bainim can you please provide more information about your setup.

Try changing
`/home/config/elasticsearch.yml`
To
`/home/config/`

Or set the host path type to file. https://kubernetes.io/docs/concepts/storage/volumes/#hostpath

/sig storage

[2017-12-11 13:28] dhilipkumars commented on #45140
@kasperbe
First, we need to get the attention of sig-node team to see if they agree to this as a bug before attempting to fix this.  This change in behavior might potentially break existing applications.

The best way to test it (or add a test) should either be via integration suite or e2e rather than unit testing.

cc @kubernetes/sig-node-bugs @kubernetes/sig-node-pr-reviews

[2017-12-11 13:42] chrislovecnm commented on #54511
@eswarbala who on your side did you want me to work with to update the tests? I can do it myself, but I assume you want someone at AWS to understand e2e better. Otherwise happy to do the PR myself.

[2017-12-11 14:11] liggitt commented on #32026
This is kubectl proxy, not kube-proxy

[2017-12-11 14:20] bainim commented on #57025
@jhorwit2 i have in my host ubuntu 16.04-server the configuration file elasticsaerch.yml under
/home/elasticsearch/config

The configuration file elasticsearch.yml in the container elasticsearch is under /root/config

I want when i run the kubernetes elasticsearch replicationcontroller that my config take the place of the default config of the container

so i want to replace this :

cluster:
  nam

[2017-12-11 14:25] sttts commented on #57005
What are the consequences? Is it more than cosmetical? Does it the usage of CRI-O in 1.9.0 or how does it affekt users?

[2017-12-11 14:27] sttts commented on #57005
/assign @sjenning

Is this relevant for CRI-O in 1.9.0?

[2017-12-11 14:47] mlowery opened #57039 "kubelet should optionally skip writing hostname entry in /etc/hosts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We have a use case that requires pods to have custom DNS records (i.e. not the cluster's default domain). Additionally, `hostname -f` must return this custom FQDN. Summarizing these into technical attributes:

* Let's assume there exists a controller that manages the DNS records. It observes pods and creates the cust

[2017-12-11 14:48] bmwiedemann commented on #52269
I tested it and it looks good.

[2017-12-11 14:54] luxas commented on #57013
cc @wojtek-t

[2017-12-11 14:56] luxas commented on #57013
cc @jpbetz @xiang90 @hongchaodeng @timothysc

From my understanding, this is expected as etcd can't handle downgrades.
I think this has been worked around though in previous releases by avoiding to downgrade etcd on k8s downgrade. That's what we're gonna do in kubeadm at least

[2017-12-11 15:10] mlowery commented on #47268
@choppsv1: We have a somewhat similar use case in that the hostname depends on where the pod lands. In our case, we're running Kubernetes 1.6 (where `spec.hostname` can be set after pod is admitted). So we have a custom controller that watches pods and sets `spec.hostname`. (This will need to change as I think 1.8 now prevents `spec.hostname` from being set after pod admission.) But let's ignore t

[2017-12-11 15:11] liggitt commented on #57029
Namespace deletion is delayed until the namespace controller cleans up all resources inside the namespace. If there are pods running in the namespace, they must terminate, and be cleaned up by the kubelets running them before the namespace will be deleted from the API.

While that process is ongoing, the namespace API object will show status as terminating.

[2017-12-11 15:11] #57029 closed

[2017-12-11 15:14] #51509 closed

[2017-12-11 15:15] #53990 closed

[2017-12-11 15:17] bboreham commented on #56934
@gintautassulskus are you rejecting the explanation at https://github.com/kubernetes/kubernetes/issues/56934#issuecomment-350243730 ?

[2017-12-11 15:19] liggitt commented on #56477
https://github.com/kubernetes/kubernetes/pull/51698 added `--endpoint-reconciler-type` to allow apiservers to determine valid IPs by which apiservers have checked in recently

[2017-12-11 15:19] #56477 closed

[2017-12-11 15:19] AvTiMp commented on #57029
i know this, i mean that this namespace is not deleted after a very long time.  in etcd, the /namesapces/<name> is deleted, but /pods/<namespace name>will never be deleted, this shouldnt happen

[2017-12-11 15:23] liggitt commented on #5933
etcd3 doesn't have directory nodes

[2017-12-11 15:23] #5933 closed

[2017-12-11 15:27] liggitt commented on #57029
ah. sounds like a duplicate of https://github.com/kubernetes/kubernetes/issues/36891, though we haven't had success recreating this

[2017-12-11 15:34] vadimeisenbergibm opened #57042 "CRD age does not change from <invalid> as soon as it becomes Established"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When deploying https://github.com/istio/istio/blob/master/install/kubernetes/istio.yaml on minikube, I get the following errors:

` unable to recognize "install/kubernetes/istio.yaml": no matches for config.istio.io/, Kind=attributemanifest`

for each of the custom resources specified in https://github.com/istio/istio/blob

[2017-12-11 15:46] vadimeisenbergibm commented on #57042
/sig api-machinery

[2017-12-11 15:55] schu commented on #56346
I see the same issue with `1.8.5`.

[2017-12-11 16:00] ncdc commented on #57042
It typically takes a short amount of time for the server to process a new CRD before you can begin creating resources. You can check the CRD's `status.conditions` for an entry in the array where `type` equals `Established`.

cc @deads2k @sttts @enisoc @nikhita - do we have this documented anywhere?

[2017-12-11 16:09] vadimeisenbergibm commented on #57042
@ncdc So what are the users of kubectl advised to do with regard to new CRDs and their resources? Define CRDs first, wait several seconds and then add resources? Or just add new CRDS and their resources, and in case of failure retry? I would like this advice to be documented somewhere.

By which command can I check this?

[2017-12-11 16:18] ncdc commented on #57042
@vadimeisenbergibm

I'm not sure what our guidance is beyond waiting. You could also programmatically poll/watch the CRD and wait for it to be established. cc @kubernetes/sig-api-machinery-misc for increased visibility & guidance

Here is a sample I just ran:

[code]

[2017-12-11 16:54] jmcmeek opened #57044 "kube 1.8 deployment garbage collection doesn't work with --leader-elect=false"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If a 1.8.x  kubernetes master with a single controller-manager is configured with --leader-elect=false, deleting a deployment through the API with v1meta.DeletePropagationForeground doesn't work.

The deployment has its deletionTimestamp set and a foregroundDeletion finalizer is added, but the pod, rc and deployment are

[2017-12-11 17:08] jmcmeek commented on #57044
@kubernetes/sig-api-machinery-bugs

[2017-12-11 17:08] cmluciano commented on #57044
@kubernetes/sig-api-machinery-bugs

cc @deads2k Have you seen this in Openshift?

[2017-12-11 17:09] gmflau commented on #57002
MacBook-5:~$ kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.6", GitCommit:"4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c", GitTreeState:"clean", BuildDate:"2017-09-14T06:55:55Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.8-gke.0", GitCommit:"a7061d4b09b53ab4099e3b5ca3e80fb172e1b0

[2017-12-11 17:16] sambott commented on #28241
Not sure if anyone following this thread is able to code review the PR?

[2017-12-11 17:33] jberkus commented on #56416
@foxish is there a new fix for this? Release is supposed to be this week.  Please update.

[2017-12-11 17:38] spiffxp commented on #56052
/reopen
Reopening because: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/77
[code]

I don't think this is a performance regression but I'd like to keep track of ongoing failures of this job in the context of v1.9.0 (https://github.com/kubernetes/sig-release/issues/40)

[2017-12-11 17:39] spiffxp commented on #56244
Now tracking against v1.9.0 (https://github.com/kubernetes/sig-release/issues/40)

_All_ automated downgrade jobs are failing, this could really use some attention

[2017-12-11 17:45] spiffxp opened #57047 "[e2e failure] [sig-instrumentation] Cluster level logging implemented by Stackdriver should ingest ..."
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
/area platform/gke
@kubernetes/sig-instrumentation-test-failures
owns the test

This test has been failing since at least 2017-11-30 for the following job:
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.8-downgrade-cluster-parallel

This job is on the [sig-release-master-up

[2017-12-11 17:47] spiffxp commented on #56426
/close
This issue has outlived its scope, the test case originally described has since been fixed

@crassirostris @janetkuo I opened https://github.com/kubernetes/kubernetes/issues/57047 to track the [sig-instrumentation] test failures.

[2017-12-11 17:47] #56426 closed

[2017-12-11 17:48] spiffxp commented on #56879
Now tracking against v1.9.0 (https://github.com/kubernetes/sig-release/issues/40)

_All_ automated downgrade jobs are failing, this could really use some attention

Maybe same issue as https://github.com/kubernetes/kubernetes/issues/56244 ?

[2017-12-11 17:53] yguo0905 commented on #56244
Could someone from sig-cluster-lifecycle take a look at the issue on https://github.com/kubernetes/kubernetes/issues/56244#issuecomment-349193293? Is `KUBE_MANIFESTS_TAR_URL` expected to be set in the new node pool?

[2017-12-11 17:57] erictune opened #57049 "kubectl drain error message confusing when using with operator"
/kind bug

**What happened**:
Scenario:
- You run an etcd cluster with etcd-operator
- You drain a node with etcd-operator on it.

You get a message like:
[code]
This error message is not useful, given that Operators are popular and recommended.

**What you expected to happen**:
No error message.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
The offending message is **p

[2017-12-11 17:57] janetkuo commented on #57047
Copying latest finding here https://github.com/kubernetes/kubernetes/issues/56426#issuecomment-350056758:

@crassirostris It seems that both DaemonSets are deployed? If so, DaemonSet controller is not at fault. It's more likely to be something with addon manager.

[2017-12-11 18:02] kumarganesh2814 commented on #40872
@liggetm @chrislovecnm

Hi
I am folowinf same example from
https://kubernetes.io/docs/tutorials/stateful-application/cassandra/

Getting exact same error here

[code]

Can you please help what I need to chage in yaml from provided on Example

Even my platform is too centos 7
Using Flannel as network add on
1 Master 2 Mnion cluster on latest kubeadm 1.8.5

Best Regards'
Ganesh

[2017-12-11 18:04] jpbetz commented on #57013
Yes, per the etcd [upgrade docs](https://coreos.com/etcd/docs/latest/upgrades/upgrade_3_1.html#downgrade), "[automatic] downgrade from this completed state is not possible... Please backup the data directory of all etcd members to make downgrading the cluster possible even after it has been completely upgraded."

[2017-12-11 18:08] lazzarello commented on #56977
yes, it is in the same resource group as the cluster

[2017-12-11 18:13] crassirostris commented on #57047
@janetkuo Agree, seems like a problem with addon manager

/cc @mikedanese @roberthbailey @k8s-mirror-cluster-lifecycle-bugs

[2017-12-11 18:13] mikesparr commented on #30427
Until this feature is available, I found a way to get the ordinal index into the container using lifecycle hooks `postStart` in case this helps anyone.

[code]

[2017-12-11 18:14] ixdy commented on #52269
/assign @dims

I enjoy reading my highlights to find the issue has already been addressed. :)

[2017-12-11 18:15] ixdy commented on #52269
@bmwiedemann Sorry this wasn't addressed sooner. It does seem like it fell into a black hole, and pinging was the right way to resolve that. :)

[2017-12-11 18:15] jiayingz commented on #56944
@mtaufen that is a valid concern. I think this is related to the security model we would like to take. If we are taking the directory discovering approach, we probably need to require plugins to run in privileged mode, which kind-of implies that we trust them at the first-citizen level.

[2017-12-11 18:16] mikesparr commented on #40651
Here's a workaround that worked for me with a Kafka cluster using lifecycle hooks until this feature is available:
[code]

[2017-12-11 18:17] ixdy commented on #48710
oh look, this bug.

I think the embedded date/time issues have been fixed, and we're addressing the manpage issues. @bmwiedemann are you aware of other issues not yet resolved?

[2017-12-11 18:17] ixdy commented on #48710
/area build-release

[2017-12-11 18:18] ixdy commented on #52269
/area build-release

[2017-12-11 18:18] porridge commented on #56052
FTR, cause for failure of 77 is tracked in the issue linked from its
gubernator page.

[2017-12-11 18:20] jpbetz commented on #54027
@xiangpengzhao Yes, etcd downgrades are not supported, see: https://coreos.com/etcd/docs/latest/upgrades/upgrade_3_1.html#downgrade.

[2017-12-11 18:24] ixdy commented on #57032
That's not a flake, it's a broken build.

Gubernator is hiding the relevant bits, though:
[code]

cc @rmmh

[2017-12-11 18:30] MrHohn commented on #54027
Thanks all, let's use https://github.com/kubernetes/kubernetes/issues/57013 for tracking. Closing this.

[2017-12-11 18:30] #54027 closed

[2017-12-11 18:36] colemickens commented on #14661
I think they're sort of the same thing, the SC would just be calling into the cloudprovider and asking for this health check, or it would be part of the normal behavior of the SC calling the CP to create/update a load balancer.

It seems like it would be helpful if Kubernetes were prescriptive here, one way or the other, and that issues per-cloud-provider were opened to track them adding this heal

[2017-12-11 18:38] sttts commented on #57042
https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/ does not document this, but should. PR welcome.

[2017-12-11 18:40] sttts commented on #57042
And of course there is no connnection to Minikube, but it is like that by design on every cluster.

[2017-12-11 18:53] luxas commented on #56244
@spiffxp FWIW; I'm running some basic downgrade tests using kubeadm to some coverage generally, but it really doesn't test _everything_, only ~what's in Conformance tests, which is a low bar, but anyway...

[2017-12-11 18:53] foxish commented on #56416
This has already been disabled. https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-master&include-filter-by-regex=Network%20Partition

[2017-12-11 18:56] foxish commented on #16517
This is being upstreamed in Spark 2.3. The discussions can move to the Spark JIRA (https://issues.apache.org/jira/browse/SPARK-18278) following that.

[2017-12-11 18:56] #16517 closed

[2017-12-11 18:57] foxish commented on #34377
This is being upstreamed currently into Apache Spark. Discussions are moved to the Spark JIRA (https://issues.apache.org/jira/browse/SPARK-18278).

[2017-12-11 18:57] foxish commented on #47820
The issue here is identical to https://github.com/kubernetes/kubernetes/issues/56416.

[2017-12-11 18:57] JiangtianLi commented on #56734
Going forward, I think we need Windows config in CRI to be container runtime agnostic. I am trying to find spec from OCI eventually, not from docker's config in https://github.com/moby/moby/blob/master/api/types/container/host_config.go. Is https://github.com/opencontainers/runtime-spec/blob/master/specs-go/config.go something we could refer to?

[2017-12-11 18:58] enisoc commented on #56416
@jberkus Since this was classified as not a release-blocker, and we have disabled the tests in blocking jobs, I think we can remove it from the milestone.

[2017-12-11 19:00] luxas commented on #56504
Things are ok here, only one bugfix needed as discussed regarding NOT downgrading etcd on k8s downgrade: https://github.com/kubernetes/kubernetes/pull/57043

[2017-12-11 19:08] redbaron commented on #50451
Very surprised that there is no way to pick pods from another namespace in NetworkPolicy. Essentially what kubernetes offers is to trust another namespace as a whole.

[2017-12-11 19:12] mtanino commented on #56564
@manojdevs

According to the NFS documentation, since your NFS configuration has no_subtree_check option, I guess sub-directories under mongodata aren't exposed.

Can you mount your NFS exposed directory on your master node or anywhere without Kubernetes and then confirm you can see expected directories?
Also remove no_subtree_check if you don't need it.

[code]

[2017-12-11 19:17] MrHohn commented on #14661
I'd prefer the latter, make "ensure health check" another interface may place more constraints on cloud provider implementation --- given that even how health check is attached to a LB may happen very differently, and could be coupled with LB management.

Adding health check retroactively seems risky if adding health check itself is service disruptive. Another concern is various node versions ---

[2017-12-11 19:17] k82cn commented on #56991
Would suggest to ping Docker community firstly :).

[2017-12-11 19:20] mbohlool commented on #56430
I am still not sure this is OpenAPI aggregation. OpenAPI aggregation happening in another thread/controller with a retry mechanism. If an aggregation fails for an APIService, it will not block any functionality for that APIService (other than not having an OpenAPI spec). Is there a way to reproduce this?

[2017-12-11 19:26] colemickens commented on #14661
I don't recall the stance on version skew, but if it has been there for at least a few revisions, then I'm not worried about the presence of `/healthz` presuming this feature wouldn't be backported. I hadn't considered that adding the health-check would be disruptive. Do we know if this is really the case in any of the supported clouds?

Got it, thanks.

Hm, to my knowledge, most of the cloud-prov

[2017-12-11 19:40] jpza commented on #1899
Bumping this

[2017-12-11 19:42] jhorwit2 commented on #56934
@gintautassulskus 1.

[2017-12-11 19:46] norbertvannobelen commented on #57005
It (at this moment) mostly looks cosmetical, however when I add a cloud provider (--cloud-provider=gce in this case) to the kubelet config, the whole thing breaks consistently on PLEG. I am trying to figure out if there is a relation between that and the crio.sock.

[2017-12-11 19:48] keiths-osc commented on #55473
I am running into an issue where I am getting very similar behavior to what is being described here.  I am currently running kubernetes 1.8.2, and my cluster was created in AWS using kops.  In my case, the service is something that actually exists in my cluster and that I _want_ to exist in my cluster.  I recently deployed a new version of the application in question (about a week ago), and I star

[2017-12-11 20:00] luxas commented on #56430
Is this something to consider for v1.9?

[2017-12-11 20:13] yastij commented on #57003
Indeed you're right, closing this as it works as expected (we might benefit from a refactoring here, i'll explore it later)

[2017-12-11 20:13] #57003 closed

[2017-12-11 20:27] dims commented on #57032
Right, @dixudx did see the note from me about the cgo / `import "C"` so let's close this out.

/close

[2017-12-11 20:27] #57032 closed

[2017-12-11 20:32] redbaron commented on #56901
DNS whitelisting does't require HTTP proxy if same agent can see both DNS requests and IP traffic.

 In kubernetes world that for instance can be a kube-proxy acting as DNS interceptor (or as an explicitly configured DNS server via kubelet), which then performs DNS resolution, observes response and open iptables rules before passing response to a POD.

iptables rules  should include every A  and A

[2017-12-11 20:33] yujuhong commented on #56573
/cc @dashpole

[2017-12-11 20:43] dashpole commented on #56573
@eastlondoner thanks for pointing this out.  I think your approach in https://github.com/kubernetes/kubernetes/pull/56575 is a good approach.
We should look to address this in 1.10
/kind bug
/priority important-soon

[2017-12-11 20:59] dims commented on #56891
please open a new issue with description and details please

/close

[2017-12-11 20:59] #56891 closed

[2017-12-11 20:59] praseodym commented on #48401
@agargiulo I ensured `--feature-gates=PersistentLocalVolumes=true` was given as a parameter to all appropriate Kubernetes components (_Kubernetes API Server, controller-manager, scheduler, and all kubelets_ as described in the [README](https://github.com/kubernetes-incubator/external-storage/blob/master/local-volume/README.md#option-3-baremetal-environments)).

[2017-12-11 21:02] dims commented on #56907
you should try the relevant project: https://github.com/fabric8io/kubernetes-client

/close

[2017-12-11 21:02] #56907 closed

[2017-12-11 21:03] dims commented on #56950
haven't heard from you @jishandong, please open a fresh bug with details mentioned above

/close

[2017-12-11 21:03] #56950 closed

[2017-12-11 21:04] dims commented on #56951
let's just use #56770 and close this one out.

/close

[2017-12-11 21:04] #56951 closed

[2017-12-11 21:04] dims commented on #56953
/sig cluster-lifecycle

[2017-12-11 21:05] dims commented on #56968
@bainim please open a bug here https://github.com/kubernetes/examples/issues

/close

[2017-12-11 21:05] #56968 closed

[2017-12-11 21:06] dims commented on #56972
let's start with api machinery

/sig api-machinery

[2017-12-11 21:06] dims commented on #56986
/sig api-machinery

[2017-12-11 21:06] dims commented on #56988
/sig api-machinery

[2017-12-11 21:07] dims commented on #56990
/sig storage

[2017-12-11 21:07] dims commented on #56998
/sig api-machinery

[2017-12-11 21:08] dims commented on #57024
/sig api-machinery

[2017-12-11 21:09] dims commented on #57030
/sig api-machinery

[2017-12-11 21:12] caesarxuchao commented on #56972
/cc @jpbetz do you know if there is any etcd2 issue related to this?

[2017-12-11 21:16] caesarxuchao commented on #56976
Could you investigate what other changes are added to go-yaml if we take the update?

[2017-12-11 21:16] caesarxuchao commented on #56976
cc @jennybuckley

[2017-12-11 21:21] caesarxuchao commented on #56985
Are the complaints mostly about alpha API? Beta API is supposed to be kept around for 6 months after deprecation. Or is 6 months still not long enough?

[2017-12-11 21:22] davidz627 commented on #48968
/assign

[2017-12-11 21:24] caesarxuchao commented on #56986
/cc @lavalamp

[2017-12-11 21:24] caesarxuchao commented on #56986
cc @cheftako

[2017-12-11 21:26] caesarxuchao commented on #56988
/remove-sig api-machinery

[2017-12-11 21:26] caesarxuchao commented on #56988
/sig apps

[2017-12-11 21:30] MrHohn commented on #56720
Curious how is the kube-proxy health check configured? Agree it is odd that no errors are logged.

[2017-12-11 21:33] ncdc commented on #56985
I would imagine there are a good number of clusters still running 1.3, 1.4, 1.5, 1.6, etc.

[2017-12-11 21:33] jennybuckley commented on #56986
cc @jennybuckley

[2017-12-11 21:44] xqianwang commented on #50356
I got this error too

[2017-12-11 21:46] sttts commented on #56985
Compare https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#alpha-beta-and-stable-versions:

If 1.9 tomorrow has abc/v1, then abc/v1beta1 can go away in 1.10 in 3 months. That's not a lot.

[2017-12-11 21:50] caesarxuchao commented on #56985
Another doc says 6 months: https://kubernetes.io/docs/reference/deprecation-policy/

`older API versions must be supported after their announced deprecation for a duration of no less than:...Beta: 6 months or 2 releases (whichever is longer)`

Which one is correct? @kubernetes/sig-architecture-bugs @smarterclayton @bgrant0607 ?

[2017-12-11 21:50] nandosangenetto commented on #6120
+1

[2017-12-11 21:53] timothysc commented on #489
Initial bootstrap checkpointing is done in 1.9 and will be iterated on in 1.10, this does not solve the general purpose case, and I'm unassigning myself now.

[2017-12-11 21:55] timothysc commented on #54256
/cc @jagosan

[2017-12-11 21:56] ncdc commented on #56985
The proposal is that there could potentially be a difference between how long an apiserver supports an API and how long client-go supports the same API (post deprecation)... right?

[2017-12-11 22:03] sttts commented on #56985
yes

[2017-12-11 22:04] timothysc commented on #26507
Unassigning, the watch model vs. RPC calls has proven to break down when trying to integrate.  If it gets fixed at some other date I'd be interested to see how it could be incorporated.  However there is an events v2 api that is meant to address the issues uncovered in using tracing.

[2017-12-11 22:07] jennybuckley commented on #56976
Almost all the changes to go-yaml between the version we are using and the bug fix are to comments or variable names.
The licence changed from LGPLv3 to http://www.apache.org/licenses/LICENSE-2.0 which should be fine.
Also 3 bug fixes, so hopefully we aren't relying on any of these bugs.
https://github.com/go-yaml/yaml/commit/a5b47d31c556af34a302ce5d659e6fea44d90de0
https://github.com/go-yaml/yaml

[2017-12-11 22:07] caesarxuchao commented on #56985
@ncdc Yes.

My previous comment just pointed out that sttts and I found a discrepancy in our docs, one claiming the deprecation of beta API take 3 months, the other one claiming it's 6 months.

[2017-12-11 22:16] jpbetz commented on #56972
I would strongly recommend upgrading to etcd3. Use of etcd2 with kubernetes 1.8+ is not well supported. There is no automated e2e testing for etcd2 in 1.8+ and the etcd client code vendored in to kubernetes for etcd2 is unsupported. I'm not sure what official documentation about etcd2 support, but the _de-facto_ support is very limited. We need to establish a formal etcd version deprecation policy

[2017-12-11 22:20] sttts commented on #56985
/cc @LiliC @brancz – any comments on your needs?

[2017-12-11 22:22] bgrant0607 commented on #56985
Where there is a discrepancy,  https://kubernetes.io/docs/reference/deprecation-policy/ is authoritative.

[2017-12-11 22:23] bgrant0607 commented on #56985
In this case, I believe there isn't actually a discrepancy. api_changes.md is stating a technical requirement, not the deprecation policy.

[2017-12-11 22:28] iamrandys commented on #45419
+1  Having nodes going into the NotReady state was happening  pretty consistently the past two days after upgrading to Kubernets 1.8.5.  I think the issue for me was I didn't upgrade the cluster-autoscaler.  Once I upgraded the autoscaler to 1.03 (helm 0.3.0), I haven't seen any nodes in the "NotReady" state.  It looks like I have a stable cluster again.

* kops: 1.8.0
* kubectl: 1.8.5
* helm: 2.7

[2017-12-11 22:29] ncdc commented on #56985
That and/or the ability to take an older client-go version and generate updated clientsets for it to pull in new api groups/versions/types.

[2017-12-11 22:36] MrHohn commented on #57047
At this point it seems somehow vague to tell which exact component is causing the issue. Probably worth to solve the fundamental downgrade issue (https://github.com/kubernetes/kubernetes/issues/57013) first.

[2017-12-11 22:41] ceridwen commented on #54815
I haven't had time to update the pull requests to modify the original files.  I can make new ones at that point.  However, I need to reply to @mbohlool's comment:

`swagger-codegen generate` will generate code from this invalid spec, but `swagger-codegen validate` will crash with a stack trace.  This is not a valid spec.

[2017-12-11 22:56] vishh commented on #54313
Yeah, adding a NodeCondition SGTM.

[2017-12-11 22:58] dinvlad commented on #30558
@tjma2001 nice, haven't thought of it this way. Dry-running with `--from-env-file` in our case should work just as well.

[2017-12-11 23:16] caesarxuchao commented on #56985
Do you need to support clusters span more than 3 releases? For apiservers whose versions differ by more than 3 versions, there could be incompatible changes other than the kubernetes APIs.

[2017-12-11 23:20] enisoc commented on #56244
@krousey found a problem during manual downgrade testing that is likely to also be impacting the downgrade e2es. The following CP allowed him to complete a manual downgrade:

https://github.com/kubernetes/kubernetes/pull/57056

[2017-12-11 23:23] janetkuo opened #57058 "`volumes.emptyDir.sizeLimit` field is silently dropped"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`volumes.emptyDir.sizeLimit` cannot be set.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. Create the following deployment:
[code]
2. Get the resource back
[code]

**Anything else we need to know?**: #50163 might be related
cc @liggitt @kow3ns @k8s-mirror-api-mach

[2017-12-11 23:24] doprdele commented on #13136
I'm confused a little bit by this discussion. Is it possible for Kubernetes to mount NFS volumes with krb5p?

Best,
Evan

[2017-12-11 23:25] witrin commented on #20227
Port-forwarding in one direction is easy and helpful for debugging `kubectl port-forward <pod> 80:80` but the inverse is missing (e.g. `kubectl port-forward --reverse <pod> 9000:9000`). The simplest but also insecure way to solve this problem in my case was to deploy a [CronJob DaemonSet](https://github.com/kubernetes/kubernetes/issues/36601) which allows `GatewayPorts` on the Host. Maybe there ar

[2017-12-11 23:26] liggitt commented on #57058
Did you enable the related feature gate?

[2017-12-11 23:29] liggitt commented on #57058
See https://github.com/kubernetes/kubernetes/blob/master/pkg/api/pod/util.go#L242

[2017-12-11 23:58] adnavare commented on #54918
Same issue for me on Ubuntu 16.04, Kubeadm 1.8.5, docker 1.13. But along with this error I see an error " error: failed to run Kubelet: Running with swap on is not supported, please disable swap! or set --fail-swap-on flag to false. /proc/swaps", when i run "journalctl -xeu kubelet". I did run "kubeadm init --skip-preflight-checks"

[2017-12-12 00:07] chakri-nelluri commented on #56920
@saad-ali Just realized the core api types have Flex as Alpha. We need a PR to fix it. If it is too late for 1.9, please feel free to target it for patch release.

[2017-12-12 00:11] adnavare commented on #54918
I figured this was not the error due to "Unable to update cni config" but rather due to not able to run with swap enabled. Updated /etc/systemd/system/kubelet.service.d/10-kubeadm.conf to have Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false" and then restart the kubelet service and again run "kubeadm init"

[2017-12-12 00:17] Random-Liu opened #57060 "Accept extra grpc options in CRI remote client."
We use the CRI remote client in cri-containerd, and sometimes we want to add some more grpc options, e.g. `WithBlock`.

It's not possible today.

[2017-12-12 00:25] #56674 closed

[2017-12-12 00:28] surbas commented on #45825
@jurgenweber been facing same issue. My work around is to delete the cron and create again.

[2017-12-12 00:35] WIZARD-CXY commented on #54313
Interesting, I can lend some help too.

[2017-12-12 00:37] janetkuo commented on #57058
No, this is a non-issue then. Thanks!

[2017-12-12 00:37] #57058 closed

[2017-12-12 00:41] enisoc commented on #47820
Since this was classified as not a release-blocker, and we have disabled the tests in blocking jobs, I think we can remove it from the milestone.

[2017-12-12 00:45] jishandong commented on #56950
The  configure file   "/etc/kubernetes/manifests/kube-apiserver.yaml" , it has the  parameter "- --service-node-port-range="" ".When I set up it range from 1000 to 65536, it's no problem to execute this command "kubectl get nodes". But when I set up for 80-65535, or when the numbers start to be smaller, execute the similar command "kubectl get nodes" as follows: "The connection to the server 10.29

[2017-12-12 00:45] caseydavenport commented on #56794
Am I mistaken in believing that this condition is meant to represent the node's networking status, not status of networking for pods on that node? Obviously these are often tied, but for example on a one node cluster you don't necessarily need the node's networking to be ready if all the pods are going to talk to each other on the same node.

I suspect we need something more fine-grained than this

[2017-12-12 00:47] smarterclayton opened #57061 "Kube 1.7 against etcd 3.2.9 can result in hung etcd connections at large scales"
On a very large 1.7 cluster with etcd 3.2.9, a large number of goroutines in the kube-apiserver are waiting for a new http2 stream for gRPC against etcd.  This results in service account token requests hanging with a timeout (504) because they are unable to acquire a gRPC stream within the default 30s timeout, which results in the service account token authenticator failing.  This also causes almo

[2017-12-12 00:49] enisoc commented on #57005
@dchen1107 @derekwaynecarr Can you weigh in on whether this is a release-blocker for 1.9.0?

[2017-12-12 00:49] caseydavenport commented on #56794
I believe there is an ongoing effort to represent these states as taints, so that pods can tolerate conditions that they're OK with.

As a rough strawman, we could create some "well-known" taints as part of this effort which represent various networking conditions on the node - "network plugin ready", "node->node network ready", etc. Then, for example, Pods running in host-network could tolerate t

[2017-12-12 00:56] jurgenweber commented on #45825
Yeah, that is what I had to resort to as well. Just annoying really. ;)

[2017-12-12 01:02] bgrant0607 commented on #55405
This could also be done by an exec probe.

[2017-12-12 01:02] smarterclayton commented on #57061
We're still on gRPC 1.0.4 (google/grpc@777daa17ff9b5daef1cfdf915088a2ada3332bf0).  I'm going to look through newer commits and see if anything beyond the keepalive and tap changes look similar.

[2017-12-12 01:02] smarterclayton commented on #57061
@kubernetes/sig-api-machinery-bugs

[2017-12-12 01:06] bgrant0607 commented on #20473
cc @bowei @freehan

[2017-12-12 01:18] bgrant0607 commented on #20227
cc @kubernetes/sig-cli-feature-requests

[2017-12-12 01:24] jejer commented on #48585
After exec docker restart pause_container_id, sometimes Pod lost network interface.

kubernetes version: 1.7.4

Some kubelet log:
[code]

[2017-12-12 01:24] arthur0 commented on #55326
I found the problem.
The OpenStack regions are case sensitive (and the default region is `RegionOne`).
The Kubernetes Service Discovery is DNS-based and case sensitive does not make sense in this context.
So the Cluster region (`apiVersion: federation/v1beta1`) is created using camel case too.
[code]
I'm not sure if a change to fix this bug should be made on the OpenStack provider or the federatio

[2017-12-12 01:26] feiskyer commented on #57060
@Random-Liu What's the use cases of extra options?

[2017-12-12 01:52] mlowery opened #57065 "spec.hostname cannot be set after pod admission"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Admittedly, this is a rather exotic use case but at least one other user (#47268) also needs pod hostnames that depend on where the pod is scheduled. The ultimate goal is that when the `hostname` command is run inside any container of the pod, it returns this value.

As I state in https://github.com/kubernetes/kubern

[2017-12-12 01:57] #50519 closed

[2017-12-12 02:05] bsalamat commented on #56930
We have seen this issue in other clusters as well. As you guys guessed, it is caused by stale node information in scheduler cache. We have a pending PR to address this issue. Hopefully, it will be in the next 1.9 patch release:
https://github.com/kubernetes/kubernetes/pull/56622

[2017-12-12 02:19] feiskyer commented on #56996
That's true. Kubelet expects CNI plugin to do clean ups on shutdown. Or else, it may cause resource leakage, e.g. IP or MAC addresses.

[2017-12-12 02:22] valentin2105 opened #57069 "[API] Service ClusterIP should be able to be disabled (for headless services)"
Hi,

I run a **Kubernetes 1.8.x IPv6-only** cluster from few weeks now and everything works fine except one of the most painful problem, `Services ClusterIP`.

When creating a `ClusterIP: None` service on Kubernetes, you can speak to the service name (like `kubernetes.default.svc.cluster.local` using Endpoints (Pod IP) instead of Cluster IP (10.32.x.x/16).

It would be awesome, for the 1.9.x branc

[2017-12-12 02:25] mbohlool commented on #54815
The extra description is useful in swagger-codegen generated clients. It is in a gray area on validation when swagger-codegen actually using it. I suggest to process the spec after download and remove the description if the tool you are using complain about them.

[2017-12-12 02:28] feiskyer commented on #56744
@messmerxx As said by @bboreham at https://github.com/weaveworks/weave/issues/3193#issuecomment-348697832, Weave Net is currently Linux-only, it doesn't run on Windows.

[2017-12-12 02:30] mbohlool commented on #54815
Also I've tried [swagger-cli](https://www.npmjs.com/package/swagger-cli) validator on 1.8 spec and it said it is valid.

[2017-12-12 02:35] kumare3 commented on #25908
@andrewsykim what approach would you take. Also, i know i am adding it here, what would it take to add support for dependencies. Like the `main` container should not start until the sidecars have initialized

[2017-12-12 02:42] andyzhangx opened #57070 "Add PV support for Azure Disk Encryption"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**Feature Description**:
1. [Azure Disk Encryption feature](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption) is only for managed disk.
2. Add parameters in azure disk storage class when kind is `Managed`
[code]

Note:
1. Azure Disk Encryption requires that your key vault and VMs reside in the same Azure reg

[2017-12-12 02:48] xiangpengzhao commented on #57013
@jpbetz thanks! Is there any way to configure the downgrade test not to downgrade etcd?
However, this might cause another problem: if we don't downgrade etcd from 3.1.10 to 3.0.17 when downgrading cluster from 1.9 to 1.8, can the 1.8 cluster work well against 3.1.10 etcd since the officially supported etcd version of 1.8 is 3.0.17?

[2017-12-12 03:09] shiywang commented on #20227
cc @vfreex you might be interested

[2017-12-12 03:10] chenchun opened #57073 "Unable to decode an event from the watch stream: object to decode was longer than maximum allowed size"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Create a job with lots of envs. The job can't run normally. Controller keeps logging `Unable to decode an event from the watch stream: object to decode was longer than maximum allowed size`.

[code]

**What you expected to happen**:
The job should run normally or fail early on creating.
**How to reproduce it (as minimally

[2017-12-12 03:17] zh794390558 commented on #54011
@ScorpioCPH  Nice job.

[2017-12-12 03:18] chenchun commented on #57073
The error comes from the decoder which [limits the max bytes up to 1MiB](https://github.com/kubernetes/kubernetes/blob/77b83e446b4e655a71c315ad3f3890dc2a220ccf/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/streaming/streaming.go#L67). I think we should limit max bytes of a object's meta on creating.

[2017-12-12 03:31] andyzhangx commented on #53428
BTW, with acs-engine v0.10.0 or above, the default storage class will be consistent with what your k8s cluster type, e.g. the default will be managed storage class if you create a managed k8s cluster.

[2017-12-12 03:40] andyxning commented on #53497
Too long thread. But, what is the link for the design docs @jiayingz

[2017-12-12 03:41] vishh commented on #54011
@ScorpioCPH can you cook up a device plugin recipe that does not require running nvidia-docker? You can start with the GKE - GPU device plugin until the Nvidia device plugin supports volume injection.
I was able to get it to trivially work on Ubuntu. I haven't tried on Debian and RH distros yet.

[2017-12-12 03:44] hzxuzhonghu opened #57074 "SharedInformer should expose a method to notify underlying listerWatcher status"
When we use a shared informer, after CacheSync, we can not know whether the underlying reflector works well. If Reflector.listerWatcher can not List/Watch successfully due to network, the resource we can use is outdated, which is not acceptable we we use a kind of configurations resource.

1.  We should provide a way to let client know whether informer works well now.
2.  We should provide a way t

[2017-12-12 03:45] hzxuzhonghu commented on #57074
/kind feature
/sig api-machinery

/cc @sttts @liggitt @caesarxuchao

[2017-12-12 03:58] #56898 closed

[2017-12-12 03:58] #53207 closed

[2017-12-12 03:58] #56962 closed

[2017-12-12 04:00] ScorpioCPH commented on #54011
@vishh Sure, but i don't think NVIDIA device plugin will support volume injection in the future :)

@flx42 Please correct me if I'm wrong.

[2017-12-12 04:34] mitake commented on #16845
@davidopp thanks for the pointer, I'm looking at the issue.

[2017-12-12 05:19] feiskyer commented on #56898
@rfranzke #56918 has been merged. created cherry pick PR #57077 for release 1.7.

[2017-12-12 05:36] dolftax commented on #32026
Updated my comment. Also checked the changelog,

"kubectl proxy now correctly handles the exec, attach, and portforward commands. You must pass --disable-filter to the command to allow these commands."

Thanks.

[2017-12-12 05:46] xiangpengzhao commented on #57069
/cc @danehans
@kubernetes/sig-network-feature-requests

[2017-12-12 05:50] sjenning commented on #56932
Any reason you are running a ELRepo kernel instead of the standard CentOS kernel?

[2017-12-12 05:55] MorrisLaw commented on #26050
Hey @mrajashree @fabianofranz Is this issue still being worked on? I'd like to contribute if it's available :octocat:

[2017-12-12 06:11] huangjiasingle commented on #56996
@feiskyer  thank you !

[2017-12-12 06:14] obnoxxx commented on #56192
FYI: new change proposed to heketi to clarify documentation and messages to explicitly state GiB: https://github.com/heketi/heketi/pull/935

GB is just ambiguous. Most people understand (1000)^3, some (1024)^3...

[2017-12-12 06:16] agilinsky commented on #27398
@sbezverk
Can you share a configuration of Multus and SRIOV configuration for creating multiple interfaces on a POD?
Also I would like to get example of POD and CRD Network configuration files.

[2017-12-12 06:19] abevoelker opened #57079 "Confusion around pod "command" corresponding to Docker's ENTRYPOINT"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I defined a Deployment and set `spec.template.spec.containers[0].command`, which overwrote my Docker container's ENTRYPOINT.

**What you expected to happen**:

I expected my Docker container's CMD to be overwritten, not the ENTRYPOINT. My pod was failing to start with `executable not found in $PATH` errors (my entrypoint does a few

[2017-12-12 06:27] abevoelker commented on #57079
@kubernetes/sig-docs-feature-requests

[2017-12-12 06:42] WanLinghao opened #57080 "kubelet start failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

**What you expected to happen**:
try start kubelet , got failure, it ends up with loop like this

`E1213 03:16:45.586579    5558 summary.go:92] Failed to get system container stats for "/user.slice/user-1000.slice/session-26.scope": failed to get cgroup stats for "/user.slice/user-1000.slice/session-26.scope": failed to

[2017-12-12 06:45] WanLinghao commented on #57080
/sig node

[2017-12-12 07:11] nikhita commented on #52163
/area custom-resources

[2017-12-12 07:15] k82cn commented on #54313
Great, working on that :).

@WIZARD-CXY , let me think about how to add it, may need your help :).

[2017-12-12 07:15] k82cn commented on #54313
/assign

[2017-12-12 07:22] TaChao opened #57083 "stateful set feature requests"
1. Every pod have their own unique lable like name. So selector can select one pod .
2. Ingress support headless service
Eg:
[code]

[2017-12-12 07:28] wojtek-t commented on #57013
@xiangpengzhao great question. We would probably need to setup tests to actually test it, but I really believe that it should work fine (k8s 1.8 has already etcd client in 3.1.10 version).
And also, we don't really have big choice here - that's the only thing we can do/recommend doing.

[2017-12-12 07:35] porridge opened #57085 "5 ResourceQuota test failures at large scale"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scheduling-bugs
@kubernetes/sig-scalability-bugs
/priority failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:

Five `[sig-scheduling] ResourceQuota *` tests failed in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/25 w

[2017-12-12 07:36] porridge commented on #57085
FTR, the delta between last successful run and this failed run is https://github.com/kubernetes/kubernetes/compare/bb7223737...b97e17603

[2017-12-12 07:41] xiangpengzhao commented on #27398
@agilinsky FYI: https://github.com/Intel-Corp/multus-cni/blob/master/README.md

[2017-12-12 07:48] ScorpioCPH commented on #56943
/cc

[2017-12-12 07:51] xiangpengzhao commented on #57013
@wojtek-t reasonable. Totally agreed :)

So now the concern here is that how we should configure the downgrade test not to downgrade etcd to avoid the job failing. @kubernetes/sig-testing-misc any ideas on the config of this job?

[2017-12-12 07:54] krzyzacy commented on #57013
cc @kubernetes/sig-storage-misc

[2017-12-12 07:56] sharkrun opened #57088 "When the namespace is delete ,the pods under the namespace can not be deleted and are always terminating, the kubelet logs show 'Couldn't get secret'"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Remove namespace, pod can't be remove because of token be removed already.

**What you expected to happen**:
Remove namespace, pod and other resource be remove autoly.

**How to reproduce it (as minimally and precisely as possible)**:
Create one cluster, and add some nodes. Create a new namespace, like ws-max, and then dep

[2017-12-12 08:01] wojtek-t commented on #57013
I'm pretty sure we used to do that in the past (when we were doing etcd 2.2.1 -> etcd 3.0.17 upgrade in 1.5 -> 1.6 release (though those might have been manual tests).

Assuming that the tests are setup on GCE, it should be enough to set some env variables for the downgrade to pin the downgrade to a particular release:
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh

[2017-12-12 08:05] nikhita commented on #57042
For the docs: https://github.com/kubernetes/website/pull/6660.

[2017-12-12 08:07] nikhita commented on #57042
/assign

[2017-12-12 08:14] sharkrun commented on #57088
kubelet logs show 'Couldn't get secret'
[code]

[2017-12-12 08:18] davidopp commented on #57085
@deads2k do you think you could take a look at this? Nominally @derekwaynecarr owns quota but IIUC he is out for a while, and I believe you are the most recent person to review any PRs related to quota. (I don't mean such PRs caused this problem, just that you seem to be familiar with it.)

[2017-12-12 09:00] porridge commented on #56714
It took a while, but it seems I was able to reproduce the low throughput (~27.5 pods/s) at 3df3c58 with a proper 5k-node cluster.

![1212](https://user-images.githubusercontent.com/489420/33875620-1523b152-df23-11e7-993b-a80da06bed9d.png)

[2017-12-12 09:08] sttts commented on #56018
Who can answer this?

[2017-12-12 09:09] lorenz commented on #55756
Bumping this, since there hasn't been a reply in nearly a month

[2017-12-12 09:25] MangeshBiradar commented on #46421
I am also facing the similar issue, what would be the work around to get rid of this. I have 3 nodes and 1 master.

[2017-12-12 09:37] AvTiMp commented on #57029
here are steps to reproduce this:
1. create a namespace called test
2. create a simple pod whatever it is , then delete it
3. wait enough time then delete namespace test

in etcd,  /namespaces/test is deleted, but /pods/test/ directory is not, this shouldn;t happen

[2017-12-12 09:45] shsjshentao commented on #51764
+1

[2017-12-12 10:11] ricky1993 opened #57093 "dangling replica set while deployment rollover"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]
In kube-controller log, I see some special log:

[code]

The OwnerReference of old replica sets is removed, and the revision of new replica set (dp-72c21f7379-3901975990) is set 1. The deployment cannot scale down the old replica sets.

**What you expected to happen**:
1. Scale down the old replica set.
2. Set the

[2017-12-12 10:14] andyxning commented on #57093
Ping @kubernetes/sig-apps-bugs @resouer @feiskyer

[2017-12-12 10:19] bhack commented on #54011
Will it work with [Nvidia debian packages](https://wiki.debian.org/NvidiaGraphicsDrivers)? Cause kops is still using Debian AMI. See https://github.com/kubernetes/kops/issues/1726

[2017-12-12 10:50] agilinsky commented on #27398
@xiangpengzhao
Thanks for link.
All examples I found representing a single interface creation.
I didn't see a full example of multiple interfaces in pod configuration, so I am asking for.

[2017-12-12 10:53] jackytu opened #57094 "Kubectl doesn't print GPU allocated when using kubectl describe node xxxx"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We are using kubernetes to manage a machine learning cluster with GPU devices, and  need to know the GPU resource status of each node,  for cluster management.  However, the GPU status is not printed, when using `kubectl describe node xxx`, to get the resource status  of  a node with GPU devices,  just as the following:

[2017-12-12 11:02] jackytu commented on #57094
/sig cli

[2017-12-12 11:15] kewne opened #57095 "Pods created with an NFS volume with specific ownership get stuck in "Terminating" when deleted"
/kind bug
/sig storage

**What happened**:

I created a pod that mounts a NFS backed volume.
The particular NFS export is owned by user and group 1001 and has root squash.

When applying `kubectl delete` (or causing a pod termination by any other means), the pod gets stuck in state "terminating"

**What you expected to happen**:

Expected the pod to terminate properly.

**How to reproduce it (as m

[2017-12-12 11:20] rkamudhan commented on #27398
@agilinsky, Refer this https://github.com/Intel-Corp/multus-cni#usage-with-kubernetes-crdtpr-based-network-objects as @xiangpengzhao said all examples are for multiple interfaces as explained in the figure.

[2017-12-12 11:36] irishandyb opened #57096 "kube-dns (10.96.0.10) unavailable on minion nodes"
/kind bug

**What happened**:

I have deployed a fresh `1.8.5` cluster with a single master and single minion via `kubeadm`.
I have deployed `flannel` as the CNI plugin.
The cluster appears healthy and all `kube-system` pods (including `kube-proxy` and `kube-dns`) are up and running with no errors in the logs (only a single warning detailed below).

Any pods that are scheduled on the minion node d

[2017-12-12 11:49] irishandyb commented on #57096
Adding sig labels as per @k8s-merge-robot

@kubernetes/sig-network-bugs

@kubernetes/sig-openstack-bugs

(also adding Openstack as I am running on Mitaka and perhaps there is a slim chance this issue is related to running k8s on OS).

[2017-12-12 12:00] eastlondoner commented on #56573
Thanks!

[2017-12-12 12:12] feiskyer commented on #56996
@huangjiasingle Mind close the issus and open one at calico?

[2017-12-12 12:36] MengZn commented on #56990
@knightXun
I think it is not the problem.
At work it will go to the kube-controller-manger to find the binary files that it  needs.

[2017-12-12 12:42] andyzhangx commented on #49625
@jsafrane does `every volume plugin` also include NFS, rbd, etc. not only related to cloud provider, right? So all the common plugins need to be refactored, that's a quite huge project.

[2017-12-12 13:10] aknrdureegaesr opened #57098 "kube-apiserver auto generated spf13/cobra documentation misses `--v` switch."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I checked the [official documentation](https://kubernetes.io/docs/reference/generated/kube-apiserver/) for the command line switches of `kube-apiserver`.  I know that there is such a switch `--v`, but it does not get documented there.

**What you expected to happen**:

That official documentation should be complete, as f

[2017-12-12 13:14] aknrdureegaesr commented on #57098
@kubernetes/sig-cli

[2017-12-12 13:36] mrballcb commented on #50865
I just fought through this issue with a rabbitmq helm chart.  I had to custom build a pause container from master to fix it.

The rabbitmq helm chart uses `rabbitmqctl status` for its liveness checks.  It's a thin wrapper around a call to the rabbitmq-server daemon, which is not PID 1 (/pause is PID 1).  The rabbitmq-server process forks some children to do the work and then they exit.  Since the

[2017-12-12 13:37] liggitt commented on #57029
Are you referring to the empty namespace directory node? If so, that's a known issue in etcd2, resolved in etcd3

[2017-12-12 13:41] dims commented on #14809
Looks like one of the URL is stale, better url is https://blog.zhaw.ch/icclab/trust-delegation-in-openstack-using-keystone-trusts/

[2017-12-12 13:42] dims commented on #14809
@bugosiphionah Want to take a crack at this one? Need to come up with a design first. We can talk on sig openstack slack when you are free

[2017-12-12 13:44] calvix commented on #56720
Hello @MrHohn ,

We have this health check:
[code]

[2017-12-12 14:48] zetaab commented on #56776
I am trying these without success, still the connections work if I try to block those:

I am using namespace development here and trying to another ns:
[code]

[code]

[2017-12-12 14:55] Rafaesp commented on #56776
The NetPol is defined in the `development` namespace but it seems to me that you are accesing the `production` namespace from the `default` namespace.

I think you should try
`kubectl exec nginx-deployment-c468f44d7-hbvhl -n development -- wget http://web-ext.production.svc.cluster.local -O -`
(Notice I added `-n development`)

[2017-12-12 14:55] mtanino commented on #56564
/assign

[2017-12-12 14:55] mtanino commented on #56564
/close
Please reopen when you still have problem. Thanks.

[2017-12-12 14:56] Rafaesp commented on #56776
The NetPol is defined in the development namespace but it seems to me that you are accesing the production namespace from the default namespace.

I think you should try
kubectl exec nginx-deployment-c468f44d7-hbvhl -n development -- wget http://web-ext.production.svc.cluster.local -O -
(Notice I added -n development)

[2017-12-12 14:56] zetaab commented on #56776
[code]

the result is same

[2017-12-12 14:58] zetaab commented on #56776
[code]

that is from iptables

[2017-12-12 14:59] Rafaesp commented on #56776
You are trying to test egress traffic. Are you using k8s 1.8+ ?

I always use the next command to test:
`kubectl run --namespace=YOUR_NAMESPACE access --rm -ti --image busybox /bin/sh` and then `wget` from there.

[2017-12-12 15:01] zetaab commented on #56776
oh that might explain it, I just spotted weave here https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/

[2017-12-12 15:10] twistedpair commented on #28272
FYI, this is the configuration we're using for k8s:

[code]

[2017-12-12 15:14] redbaron commented on #57093
There were so many bugs fixed in Deployment controller since 1.6.3 times...

[2017-12-12 15:28] phsiao commented on #56932
It is a result of us trying to find a combination of kernel + docker + ceph/rbd that run more stable together.  Newer kernel + newer docker worked better for us in practice.  We don't yet have a engineering process to find and verify a combination, so it is mostly from experience and observation.

[2017-12-12 15:30] mattmoyer commented on #55968
+1 on an `exec` plugin. I have a use case for something like that to work with https://github.com/heptio/authenticator.

[2017-12-12 15:35] johnbelamaric commented on #49239
@smarterclayton I have a use case where a container has a control port and a service port. The service port isn't "ready" until something attaches to the control port, loads some data, and executes a "make ready" API call.

Right now, this is handled by using this annotation for the control port service and not using it for the service port service. This is fine for me because my control port clie

[2017-12-12 15:40] squeed commented on #56794
It seems I was a bit confused, but for good reason - the parameter space is convoluted and non-orthogonal.

NodeNetworkUnavailable is a NodeConditionType. There are 6 possible NodeConditionTypes:
- NodeReady
- NodeOutOfDisk
- NodeMemoryPressure
- NodeDiskPressure
- NodeNetworkUnavailable
- NodeConfigOK (??)

By default, NodeNetworkUnavailable is true in the following cases.
- The IPAM controller h

[2017-12-12 15:49] manojdevs commented on #56564
/reopen

i am still facing the issue

[2017-12-12 15:59] mtanino commented on #56564
@manojdevs
Can you confirm your configuration referring my comment on above?

[2017-12-12 16:00] sander-su commented on #28969
What is the status of this issue?
We want to run kafka / zookeeper on k8s and zookeeper client (3.4.x, which kafka uses) only does a dns lookup on startup.

[2017-12-12 16:02] php-coder commented on #56913
/sig scheduling
/sig storage

[2017-12-12 16:11] smarterclayton commented on #57061
This might be https://github.com/grpc/grpc-go/pull/1005

[2017-12-12 16:26] mikedanese commented on #55633
Are you actually using an initializer? Shouldn't the kubelet ignore it's node object until it is initialized?

[2017-12-12 16:26] mikedanese commented on #55633
@kubernetes/sig-auth-bugs

[2017-12-12 16:28] php-coder opened #57102 "E2E: Logf() always adding a newline to the message"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`Logf()` is always appending a new line to its message:
https://github.com/kubernetes/kubernetes/blob/b97e17603b76edf7344f49a7632b1f764d5386e6/test/e2e/framework/util.go#L266-L272

In some places of code, the message is already has a newline character and it leads to doubled new lines in the logs.

**What you expected to h

[2017-12-12 16:29] liggitt commented on #55633
Not a bug, an enhancement. Changing the node startup to trigger serving cert generation or requesting off the Node API object is a functional change that isn't supported yet.

[2017-12-12 16:31] php-coder commented on #57102
/sig testing

[2017-12-12 16:38] danehans commented on #57069
/cc @leblancd @rpothier

[2017-12-12 17:05] vadimeisenbergibm commented on #57042
@ncdc I have the output of `kubectl get crd/backups.ark.heptio.com -o jsonpath='{.status.conditions[?(.type == "Established")].status}{"\n"}'` as  `True`, despite the fact that `kubectl get crd` returns AGE `<invalid>`. I think the simplest way is just to run `kubectl get crd`  and to wait until all the CRDs have non-invalid age.

[2017-12-12 17:07] ncdc commented on #57042
@deads2k @nikhita @sttts does the age matter at all?

[2017-12-12 17:09] discordianfish opened #57103 "kubectl blocked on request to metrics-server"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I've deployed a kubernetes multi master cluster with flannel as networking and the metrics-server in kube-system. After a rolling upgrade, every kubectl command I tried didn't respond anymore, yet requests to the API via curl worked fine. Raising the loglevel in the apiserver showed:

[code]

The IP is tries to connect to

[2017-12-12 17:11] discordianfish commented on #57103
/sig api-machinery

[2017-12-12 17:13] ncdc commented on #57042
From what I'm reading, you'll see `<invalid>` if the object's lifespan appears to be negative. I think you can ignore that. The definitive green-light is the `Established` condition and/or the availability of the custom api group+resource in discovery.

[2017-12-12 17:25] enisoc commented on #56357
I'm removing the v1.9 milestone since it appears this is targeting 1.9.1. Please let me know if you have any objections.

[2017-12-12 17:27] krousey commented on #56244
@enisoc Well... I got through a node downgrade, which is where it was hanging. Now master downgrade doesn't work. I think it's because we changed etcd versions and etcd is refusing to downgrade.

[2017-12-12 17:30] enisoc commented on #57005
Tentatively adding milestone so we can track getting a judgement from sig-node.

[2017-12-12 17:38] vadimeisenbergibm commented on #57042
I experience that adding resources fails until the age becomes 0s. I mean while the age is `<invalid>`, adding resources fails. `Established` condition is `True` immediately, even when the age is `<invalide>` and the resources fail to be added.

[2017-12-12 17:39] enisoc commented on #56522
Tentatively adding milestone so we can track getting consensus on release-blocking status.

[2017-12-12 17:39] ncdc commented on #57042
Can you share the logs from the apiserver around the time of the failures?

[2017-12-12 17:48] flx42 commented on #54011
@bhack I don't think we officially support Debian.

[2017-12-12 17:51] lavalamp opened #57105 "[kube-apiserver] Document default value of --watch-cache-sizes"
Is everything on? Everything off? Some special things on?

Update the flag's documentation.

[2017-12-12 17:52] krousey commented on #56244
Just ran a test. If we deploy the 1.9 cluster with ETCD_VERSION=3.0.17 (the etcd version of 1.8) then master downgrade succeeds.

[2017-12-12 17:53] xiangpengzhao commented on #57013
@wojtek-t thanks for the info! I will send a PR (touching some e2e/cluster-lifecycle) trying to specify the etcd version 3.1.10 when the cluster downgrade target version is 1.8 but I'm not sure if it's a good solution for this issue.

[2017-12-12 17:57] PatrickLang commented on #55031
Is there a new issue open for the VMware issue? I think it needs a separate tracking for a fix

[2017-12-12 17:58] yliaog commented on #57105
/assign @yliaog

[2017-12-12 18:01] kow3ns commented on #57093
@janetkuo PTAL

[2017-12-12 18:03] MorrisLaw commented on #57102
@php-coder I'm new to Kubernetes and would like to start contributing. Is it ok if I assign myself this issue?

[2017-12-12 18:06] gkudra-msft commented on #56522
/priority critical-urgent

[2017-12-12 18:12] bhack commented on #54011
Ok this is Nvidia side but Kops still rely on Debian AMI and this ticket has still Debian in the title 😄
@flx42 Debian or not what kind of drivers installation do you will support under Debian derivatives distros (like Ubuntu etc..)?

/cc @onlyjob

[2017-12-12 18:19] xiangpengzhao commented on #56244
xref: https://github.com/kubernetes/kubernetes/issues/57013

[2017-12-12 18:21] thockin commented on #56018
It seems tome to be the safest answer.  I have not characterized the perf
impact or how much we care...

On Tue, Dec 12, 2017 at 1:08 AM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2017-12-12 18:22] MorrisLaw commented on #57102
/assign MorrisLaw

[2017-12-12 18:22] thockin commented on #56018
Can we run the json-iterator benchmarks against something like a fuzzed
Pod, and see how ConfigCompatible... rates vs ConfigFastest vs literal
stdlib ?

On Tue, Dec 12, 2017 at 10:21 AM, Tim Hockin <thockin@google.com> wrote:

[2017-12-12 18:23] MorrisLaw commented on #57102
I can't assign this to myself, as I am not a member yet. But I am still going to take this issue.

[2017-12-12 18:25] timothysc commented on #57102
I'll help him on reviews so assigning.

[2017-12-12 18:26] krousey commented on #57013
FYI I'm proposing https://github.com/kubernetes/test-infra/pull/5909 to unblock the tests from running. A better long-term fix is needed.

[2017-12-12 18:29] yliaog commented on #57105
1. the global default value of watch cache size is given by the flag --default-watch-cache-size
2. the global default value can be overridden by the system computed heuristic cache size for the following resources: (https://github.com/kubernetes/kubernetes/blob/46c7ec209ab315656fc271708df46d266474d8f9/pkg/registry/cachesize/cachesize.go#L37)
  a) replicationcontrollers: maxInt(5*clusterSize, 100)

[2017-12-12 18:31] caseydavenport commented on #50451
@redbaron in many cases if you'd want to select pods in another namespace you would need to essentially trust that namespace as a whole _anyway_.

Selecting pods within a foreign namespace would in many cases provide a false sense of security, because the owner of that namespace is free to put whatever labels they want on those pods anyway.

[2017-12-12 18:34] andrewsykim commented on #25908
I think this case is not a problem since `main` should be able to check when the sidecar is initialized (or use a readiness probe). This isn't the case for this issue cause `main` would have exited :)

[2017-12-12 18:35] flx42 commented on #54011
CUDA (and therefore the driver that comes with it) is supported on ubuntu 16.04 today.

[2017-12-12 18:41] krousey commented on #56879
I think I've fixed issues with the non-parallel one (both node and master downgrade failures), but this seems weird. I think there's an error in how it's configured.

From the normal downgrade (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/178?log#log):

[code]

From this job's log (https://k8s-gubernator.appspot.com/build/kuber

[2017-12-12 18:43] yliaog commented on #57105
the global default value of watch cache size is 100. It can be overriden by the flag  --default-watch-cache-size

[2017-12-12 18:46] QSonx commented on #55725
Had this problem today on 3 of my 6 nodes.

Node version 1.8.4-gke.0
fluentd: gcr.io/google-containers/fluentd-gcp:2.0.9

[code]

[2017-12-12 18:50] caseydavenport commented on #56996
@huangjiasingle yeah, could you please re-open this issue against Calico here - https://github.com/projectcalico/calico/issues?

Please include the version of Calico you're using - I suspect this is due to using an older version of Calico.

[2017-12-12 18:54] xiangpengzhao commented on #57013
@krousey I send another workaround https://github.com/kubernetes/kubernetes/pull/57108. I guess it won't conflict with your PR. It may be a starting of a long-term fix.