[2021-08-12 07:06] AmazingPangWei commented on #104289
Thanks for your reply. Here is my cluster detail:

* OS：CentOS 7.7
* cluster version: v1.19.10
* container runtime: docker
* kubelet：run as container in docker
* kubelet comand line:
[code]

How to reproduce：

1. run kubelet as above
2. check `/sys/fs/cgroup/memory/system.slice/memory.limit_in_bytes`, and its result is `6442450944`
3. run `systemctl daemon-reload`
4. run `systemctl restart` any se

[2021-08-12 07:08] EricWvi commented on #77603
/re-open

[2021-08-12 07:10] EricWvi commented on #77603
/reopen

[2021-08-12 07:39] yuswift commented on #104230
same problem.
[code]

[code]
Aug 12 15:38:41 i-xlusu1t2 kubelet[25452]: E0812 15:38:41.930828   25452 server.go:294] "Failed to run kubelet" err="failed to run Kubelet: misconfiguration: kubelet cgroup driver: \"cgroupfs\" is different from docker cgroup driver: \"systemd\""
[code]

[2021-08-12 07:40] yuswift commented on #104230
@neolit123

[2021-08-12 08:01] #99251 closed

[2021-08-12 08:52] aojea commented on #103110
Good point @gjkim42, that is really the discussion.

I was checking the code and there is something important here we were not considering, and is that the resolv.conf path is a configuration option that defaults to `/etc/resolv.conf`

https://github.com/kubernetes/kubernetes/blob/27b02a3e37f6ae5c121e0e412520199b50fb8290/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L596-L604

https://github.

[2021-08-12 08:59] aojea commented on #104088
Does it handle the case when the apiserver fails to create the service after the admission controller allocated the IP?

create Svc -> admission Allocate IP X --> apiserver (fails to allocate, create service, or simply dies) --> ???

how admission controller knows the IP wasn't allocated correctly?

[2021-08-12 09:04] MadhavJivrajani commented on #84353
@verb thanks and apologies for inactivity, post [this](https://github.com/kubernetes/kubernetes/pull/103354#issuecomment-897451068), things became clearer. I think having a unified pod condition makes sense given the intention of ephemeral containers is to help with `kubectl exec` like tasks for distro-less images. However, I will try and bring this up in a sig-node meeting as well to try and get

[2021-08-12 09:42] gjkim42 commented on #103110
@aojea
It seems like a fair point. I think that configuring the file path to the path that doesn't exist is weird.

And also agree that kubernetes has its own requirements.

---

@Haleygo
Maybe there is an option for a user who doesn't want to inherit resolver configuration from anything.

https://github.com/kubernetes/kubernetes/blob/e7efe219f8a5fcdff9647d45639696048c1f6147/pkg/kubelet/network/dn

[2021-08-12 10:17] neolit123 commented on #104230
Then it must be another problem. Probably the kubelet logs have more detailed info.

Try getting support in k8s slack or discuss.k8s.io.

[2021-08-12 10:20] ardaguclu opened #104324 "Resource not found error when api server is started but OpenAPI specs are not imported"
#### What happened:
When api server starts, it does not wait all OpenAPI specs are imported as shown below;

- It starts OpenAPI aggregator in different goroutine https://github.com/kubernetes/kubernetes/blob/e7efe219f8a5fcdff9647d45639696048c1f6147/staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go#L337
- It starts readyz endpoint for getting requests https://github.com/kubernetes/kube

[2021-08-12 10:34] saschagrunert opened #104325 "Stop vendoring runc / libcontainer"
#### What happened:

Kubernetes vendors runc, for example to cleanup stale cgroups.

https://github.com/kubernetes/kubernetes/blob/e7efe219f8a5fcdff9647d45639696048c1f6147/go.mod#L367

#### What you expected to happen:

We should not rely on lower level libraries like libcontainer, because they do not guarantee anything in terms of stability. The only valid interface of lower level OCI runtimes is

[2021-08-12 10:34] saschagrunert commented on #104325
/sig node

[2021-08-12 10:55] p-rog commented on #100895
The Go issue with net.ParseIP and net.ParseCIDR parsers is considered as a security issue with CVE-2021-29923.
Based on this PR:
https://github.com/kubernetes/utils/pull/207/files#diff-eceda5d2155fc48ace21c19df9e876ce9cf24ba9a1711ee09118ef05566f9eb2R27
It seems that forks for these functions are already merged and will block the leading '0' Go fix.
In theory it means that Kubernetes will be vulner

[2021-08-12 10:56] aojea commented on #103110
:thinking:  what happens now if you do that? does it work?

[2021-08-12 11:02] dims commented on #104325
💯 @saschagrunert

[2021-08-12 11:08] wwj-2017-1117 commented on #88808
I'm having the same issue on arm + cenos. Is there any workaround for this.?

[2021-08-12 12:10] gjkim42 commented on #103110
[code]

I launched the kubelet with "--resolv-conf= ", and it seemed to work as expected.

[code]

[code]

[2021-08-12 12:16] wwj-2017-1117 commented on #94218
Makefile:1: *** missing separator.  Stop.
How to Solve it.

[2021-08-12 12:17] ardaguclu commented on #104324
/sig api-machinery

[2021-08-12 12:19] kenorb commented on #76987
Related issues:

- [How to deal with error “dial tcp 10.240.0.4:10250: i/o timeout” to see pod's logs in AKS?](https://stackoverflow.com/q/57866030/55075)
- [Error from server: dial tcp i/o timeout error when getting logs of pod](https://stackoverflow.com/q/34089581/55075)

[2021-08-12 12:42] uablrek commented on #92019
@andrewsykim Since https://github.com/kubernetes/kubernetes/pull/96371 is merged, can this issue be closed?

[2021-08-12 12:48] pohly commented on #103822
I tried backporting. It worked for a local cluster, let's see what the CI says: https://github.com/kubernetes/kubernetes/pull/104328

[2021-08-12 12:52] gjkim42 commented on #103110
https://github.com/kubernetes/kubernetes/blob/9c7426e14f977026ed74dce0c537ebb486f15cd7/pkg/kubelet/network/dns/dns.go#L401-L422

I think this code was executed, when we set `--resolv-conf= ` to the argument.

However, if we set [resolvConf in a config file](https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/#kubelet-config-k8s-io-v1beta1-KubeletConfiguration) to "", resolv.conf

[2021-08-12 13:00] nicolai92 commented on #104288
If you check the warning message in your first code block, you can see that Kubernetes tries to create a path and a file on the host machine for the pod, that you want to deploy. The name of the pod is used as a filename. My guess is, that you reached the limit of the file name's length on the host OS - which is for ext4 file systems 255 bytes.

[2021-08-12 13:09] #103802 closed

[2021-08-12 13:14] aojea commented on #103110
I think that this is because in golang the empty string is the default value, so you can't differentiate between empty or default, unless you use a pointer

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/config/v1beta1/defaults.go#L184-L185

and is not a pointer
https://github.com/kubernetes/kubernetes/blob/27b02a3e37f6ae5c121e0e412520199b50fb8290/staging/src/k8s.io/kubelet/

[2021-08-12 13:17] aojea commented on #103110
@liggitt we have one incongruence  between config and flags in kubelet, can you advise?
https://github.com/kubernetes/kubernetes/issues/103110#issuecomment-897613618

I guess I remember you mentioned you went through this pain before

[2021-08-12 13:31] MikeSpreitzer commented on #103788
The fact that user's do not control width is, I think, not a reason to make them unable to talk about.
A better reason is that it is in flux, so a setting that makes sense in one point release may have a different quantitative consequence in a different point release.
I agree that it is probably premature to add the field now.  But I think we may want to later.

[2021-08-12 13:40] wojtek-t commented on #103788
Yes - I agree with this.

[2021-08-12 13:53] dprotaso opened #104329 "INTERNAL_ERROR when patching a Service"
#### What happened:

Patching a Kubernetes service failed with `INTERNAL_ERROR`
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

I `kubectl apply -f` the following yaml documents

Create an external name service
[code]

Change to to an ClusterIP Service
[code]

Try to change it back to an external name service
[code]

#### Environment:

[2021-08-12 13:54] dprotaso commented on #104329
/sig node
/sig api-machinery

[2021-08-12 13:54] dprotaso commented on #104329
Unsure if Service is part of networking

/sig networking

[2021-08-12 13:55] liggitt commented on #103110
if you need to distinguish between unset and set-but-empty, the config file needs to use a pointer, and the defaulting needs to only default on nil, not ""

[2021-08-12 13:55] dprotaso commented on #104329
/sig network

[2021-08-12 13:58] neolit123 commented on #100895
The CVE has a status 'This vulnerability is currently awaiting analysis.'.
An attacker passing a malicious IP is no different, so if this is approved
as a relevant vulnerability, i'd further question the related authorities.

[2021-08-12 14:00] aojea commented on #103110
@gjkim42 I see that config is in v1beta1, maybe the change to a pointer still can be done, this different behavior between flags and config looks like a bug to me though

 ... and then users can set resolv.conf to "" if they don't want to use it, right?

[2021-08-12 14:08] #89770 closed

[2021-08-12 14:08] #100249 closed

[2021-08-12 14:12] gjkim42 commented on #103110
Yes, it looks ok to me, if there is no better suggestion.

[2021-08-12 14:34] aojea commented on #100895
I think that we should answer this ^^^ to understand if Kubernetes is impacted

[2021-08-12 15:41] SergeyKanzhelev commented on #99437
update: @cynepco3hahue will keep looking into it

[2021-08-12 15:44] elfinhe commented on #104173
/assign @elfinhe

[2021-08-12 15:46] SergeyKanzhelev commented on #101906
/close

[2021-08-12 15:46] #101906 closed

[2021-08-12 15:48] SergeyKanzhelev commented on #104175
/assign @ruiwen-zhao

[2021-08-12 15:52] adisky commented on #75482
Subscribe (Take a look at it later)

[2021-08-12 15:53] ehashman commented on #104329
/remove-sig node

[2021-08-12 15:56] ehashman commented on #104298
/assign @xmudrii

[2021-08-12 15:56] ehashman commented on #103807
/triage accepted
/assign @bobbypage

[2021-08-12 15:58] ehashman commented on #103944
/assign @ipochi

needs a reproducer

[2021-08-12 15:58] ehashman commented on #103944
/triage needs-information

[2021-08-12 15:59] BenTheElder commented on #104303
The error message is a lie, try increasing inotify limits 🙃

Here's our entry about this for the KIND project https://kind.sigs.k8s.io/docs/user/known-issues/#pod-errors-due-to-too-many-open-files

[2021-08-12 16:05] ipochi commented on #103944
@daviddyball What version was kubelet was provided by kops ?

[2021-08-12 16:09] ClementGautier commented on #104303
It worked, thank you so much !!!

[2021-08-12 16:09] #104303 closed

[2021-08-12 16:10] #96770 closed

[2021-08-12 16:12] gageffroy opened #104335 "Problems with Pod priority and preemtpion when using resource quotas"
#### What happened:

The pod priority and preemption is not working when applying resource quotas to a namespace.

#### What you expected to happen:

High priority pods should run first and lower priority pods should be preempted to free enough resources for the higher priority pods to run.

#### How to reproduce it (as minimally and precisely as possible):

Run a local cluster using Minikube:
`mi

[2021-08-12 16:20] katiekeel opened #104336 "CLI: Incorrect sort gives a stack trace instead of a proper error message"
#### What happened:

I asked kubectl to give me a list of nodes sorted by status.

#### What you expected to happen:

I'm not super familiar with the sort syntax, so I expected an error response along the lines of "invalid sort criteria," but instead I got a full stack trace.

#### How to reproduce it (as minimally and precisely as possible):

`kubectl get node -l kubernetes.io/role=node --no-head

[2021-08-12 16:21] katiekeel commented on #104336
/sig cli

[2021-08-12 16:44] marosset commented on #101907
/close
This is a dupe of #98499

[2021-08-12 16:44] #101907 closed

[2021-08-12 16:46] dashpole commented on #102938
Feel free to reopen this if you can provide the requested information above.
/close

[2021-08-12 16:46] marosset commented on #103671
/triage accepted

[2021-08-12 16:46] #102938 closed

[2021-08-12 16:50] marosset commented on #103671
Let's discuss at the 8/17 SIG-Windows community meeting

[2021-08-12 16:53] marosset commented on #101908
/triage accepted

We believe this issue has been resolved with https://github.com/microsoft/hcsshim/pull/1091 and we are now waiting for a new containerd release that includes these updates.

TODO: @jsturtevant @marosset @dcanteh - confirm this fix will be available in next containerd 1.5.X release

[2021-08-12 16:53] dashpole commented on #104197
/retitle Structured Logging migration: selecting component(s) for 1.23 cycle

[2021-08-12 17:01] jpbetz commented on #104171
I noticed that the failing watch request had "watch=1". I'm not familiar using 1 as the value of that parameter (vs. the more common "watch=true" is usages I've seen). Have you attempted this with `watch=true`?

[2021-08-12 17:06] jyz0309 commented on #104319
Hello! I think you can try to read this [blog](https://dzone.com/articles/easy-step-by-step-local-kubernetes-source-code-cha), I think it will help you a lot~

[2021-08-12 17:12] joell commented on #104171
@jpbetz: Yes, `watch=1` and `watch=true` yield the same behavior.  The Event listing response stream still closes immediately instead of staying open for the server-defined timeout period.

[2021-08-12 17:15] damemi commented on #102303
/assign

[2021-08-12 17:19] #101062 closed

[2021-08-12 17:20] #101172 closed

[2021-08-12 18:00] josephburnett commented on #80481
Hey @AbdulBasitAlvi have you been able to work on this?

[2021-08-12 18:15] NOWYOU opened #104341 "Warning ImageGCFailed failed to get imageFs info: unable to find data in memory cache"
kubernetes version：v1.18.0
System architecture: arm64 ubuntu 20.04
I installed a three-node k8s cluster on Raspberry Pi 4 model B in binary mode.
But the container image cannot be downloaded normally, and the following error will be reported

Use the command 【kubectl describe nodes k8s-02 】
`  Normal   Starting                 15s    kubelet, k8s-02     Starting kubelet.
  Warning  ImageGCFailed

[2021-08-12 18:18] NOWYOU commented on #104341
This is my personal opinion. Although the SD card on the Raspberry Pi has enough capacity, it seems that docker cannot write to it.

[2021-08-12 18:31] tkashem opened #104342 "GC might delete objects during kube-apiserver startup"
#### What happened:
GC may delete objects during startup while the apiserver has not fully initialized yet.

One potential case where it can happen: CRDs are available through informers
- kube-apiserver is starting, its informers have not synced yet
- GC sends a query (GET a CR)
- since the informers have not synced yet, GC may get a `404`
- This may potentially lead GC to delete objects

#### Wha

[2021-08-12 18:31] tkashem commented on #104342
/assign @tkashem

cc @sttts

[2021-08-12 18:55] #101340 closed

[2021-08-12 19:00] Tfmenard commented on #100467
For affected  GKE users, [graceful node termination feature](https://cloud.google.com/kubernetes-engine/docs/how-to/preemptible-vms#kubernetes_preemptible_nodes) fixes the issue and is enabled on clusters running node pools on 1.20+

Note that this issue has little to no impact on workloads. As long as the pod is backed by controller (deployment/statefulset, etc), when a pod runs into the NodeAffi

[2021-08-12 19:05] SergeyKanzhelev commented on #100467
/close

[2021-08-12 19:29] alvinlin123 commented on #96218
I am hitting the same issue.

We switched to Parallel pod management policy because of https://github.com/kubernetes/kubernetes/issues/78007, but we also have a requirement to restart only one pod at a time.

I've tried to set the pod disruption budget's `maxUnavailable` to 0, but still got two pads being unavailable as describe in the issue.

[2021-08-12 20:06] ehashman commented on #104325
/cc @odinuge @mrunalp @kolyshkin

[2021-08-12 20:12] awels opened #104343 "Storage topology test suite always runs both immediate and wffc if dynamicPV is true"
/sig storage
/area test

#### What happened:
This is more a feature request than a bug I guess. But I am developing a CSI driver and as part of its CI, I am running the k8s e2e tests with a focus on storage. Once I enabled topology I noticed that randomly the topology tests would fail. I tracked down the issue to https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/topo

[2021-08-12 20:13] caesarxuchao commented on #104155
/triage accepted

Thanks @codearky

[2021-08-12 20:14] caesarxuchao commented on #104306
/sig node
/remove-sig api-machinery
cc @kubernetes/api-reviewers

[2021-08-12 20:14] caesarxuchao commented on #104324
cc @Jefftree
/triage accepted

[2021-08-12 20:16] odinuge commented on #104325
Thanks for creating this issue @saschagrunert! We (I have at least suggested this quite a few times :sweat_smile:) have been discussing this quite a lot lately, so it is nice to see that this others agree about the issue!

I think we can reduce the overhead of kubelet quite a fair amout from implementing this ourselves. We don't use much of the logic in runc, but its impact is huge. We have seen a

[2021-08-12 20:16] caesarxuchao commented on #104329
/cc @jpbetz
/triage accepted

[2021-08-12 20:17] caesarxuchao commented on #104342
/triage accepted

[2021-08-12 20:18] ehashman commented on #104107
/unassign
I won't be able to get to this one in the short-term

@endocrimes you may wanna take a look at this, there's something happening with the PLEG and container statuses (check out pkg/kubelet/kubelet_pods.go and you'll see where the exit code of 137 is filled in)

[2021-08-12 20:22] ehashman commented on #93925
Can someone confirm if this can be reproduced in 1.22?

[2021-08-12 20:22] ehashman commented on #95916
Based on https://github.com/kubernetes/kubernetes/issues/95916#issuecomment-877313463 I will mark this as closed.

Thanks :partying_face:

/remove-lifecycle rotten
/close

[2021-08-12 20:23] #95916 closed

[2021-08-12 20:24] SergeyKanzhelev opened #104344 "all tests in kubelet-serial-gce-e2e-graceful-node-shutdown are failing"
#### What happened:

All tests in https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-graceful-node-shutdown are red.

/sig node
/assign @bobbypage

[2021-08-12 20:25] SergeyKanzhelev commented on #104344
/triage accepted

[2021-08-12 20:51] bobbypage commented on #104344
Test will be updated in https://github.com/kubernetes/kubernetes/pull/102915/

[2021-08-12 21:00] #104297 closed

[2021-08-12 21:55] kolyshkin commented on #104325
This is more or less inline with what I had in mind. Unfortunately, runc/libcontainer is the only library which has the functionality of creating transient systemd scope units -- and this is the functionality that is not used by runc itself, as it was added specifically for k8s. Surely, this functionality was totally untested (although we added a few test cases here and there recently).

Unless th

[2021-08-12 22:24] mrunalp commented on #104325
A big :+1: to this. I have discussed this with @kolyshkin in the past. We can probably get a KEP going for 1.23 and start making incremental progress behind build tags.

[2021-08-13 00:09] #92147 closed

[2021-08-13 00:09] #96482 closed

[2021-08-13 00:28] gjkim42 opened #104352 "Some container runtimes don't support ExpandedDNSConfig"
- [x] containerd https://github.com/containerd/containerd/issues/5877
- [x] cri-o https://github.com/cri-o/cri-o/issues/5198

#### What happened:

Created a pod having more than 6 DNS search paths.
And the pod is stuck in  `ContainerCreating` status.

#### What you expected to happen:

Pod should run successfully.

#### How to reproduce it (as minimally and precisely as possible):

Enable the feat

[2021-08-13 01:22] pacoxu commented on #77603
/reopen

[2021-08-13 02:38] zhangguanzhang commented on #58477
same issue with 1.20.6
[code]

[2021-08-13 02:40] Haleygo commented on #103110
According to you guys discussions, the only thing left here is to remake the "--resolv-conf=" flag, from string to a pointer.
After that, users can set resolv.conf to "" if they don't want to use it; and if they don't set it or set it to a wrong (or not existed) path, kubelet should leave it be cause that is a mistake and should fixed.
Is that right? @gjkim42
then I will close my first pr :)

[2021-08-13 03:09] #97240 closed

[2021-08-13 04:05] gjkim42 commented on #103110
Yes, it is. You can make a new PR if you want to.

To clarify,
we have been able to set a resolv.conf file path to an empty string by kubelet arguments `--resolv-conf= --other-options` until now. The problem is that currently, we can't do the same workaround by the kubelet config file.

(One little concern is that kubelet command-line arguments already have been deprecated.)

[2021-08-13 04:22] gjkim42 commented on #104352
I think maybe we need an e2e or integration test for this.

[2021-08-13 05:59] gjkim42 commented on #104352
Also, cri-o has its own limitation.

https://github.com/cri-o/cri-o/blob/78f06f200a544ec3be594d58a37d247f822c1946/pkg/sandbox/infra.go#L20-L24

[2021-08-13 05:59] ashish493 opened #104354 "Adding Kubernetes Middleware by Casbin to official List"
I'm a member from Casbin. Our community has been building a Kubernetes Middleware, which would authorize the requests based on Casbin Policies. This middleware uses K8s validation admission webhook to check the policies defined by casbin, for every request to any k8s resource/sub-resource.

#### What would you like to be added:
I would like to add our middleware in the official list of K8s. Is the

[2021-08-13 08:03] jepio commented on #103944
Hi @daviddyball
Flatcar actually still defaults to cgroup-driver=cgroupfs, but we are in the process of changing that. Those changes haven't been released yet. I believe you're hitting a combination of:
* https://kops.sigs.k8s.io/cluster_spec/#cgroupdriver

* A JDK bug (https://github.com/elastic/elasticsearch/issues/75767)
* A mismatch in cgroup setting between containerd and kubelet ("As of Kube

[2021-08-13 08:28] HaveFun83 commented on #79610
Thanks a lot for this workaround

Any news to fix the root cause?

[2021-08-13 08:34] aojea commented on #104352
pinging containerd and crio maintainers
/cc @mrunalp @mikebrow

it seems that it was a good decisions to use a feature gate :)

[2021-08-13 08:37] amitbhatia1987 opened #104357 "Kubelet is not unmounting bind mount when RWO volumes is attached in multiple pods on the same node"
We have 2 node kubernetes setup with one master & one worker node
K8s version: v1.20.4

Failure Scenario:
To test a failure scenario following steps are performed:
1) Create multiple pods using single RWO PVC (FC) using CSI mounted in all pods. Use POD Affinity to schedule them on single worker node.
2) Stop kubelet on the worker node
3) Pod goes into terminating state
4) From Master node force de

[2021-08-13 08:40] amitbhatia1987 commented on #104357
/sig storage

[2021-08-13 09:09] #100276 closed

[2021-08-13 10:00] keymone opened #104358 "Enabling ServiceAppProtocol feature gate doesn't seem to take effect"
#### What happened:

Followed the documented procedure of enabling a feature gate, but it doesn't seem to take effect.

#### What you expected to happen:

I expect to be able to create a service with appProtocol attribute in port options. Instead I get this error message:

    * spec.ports[0].appProtocol: Forbidden: This field can be enabled with the ServiceAppProtocol feature gate

#### How to re

[2021-08-13 10:07] keymone commented on #104358
/sig api-machinery

[2021-08-13 10:09] keymone commented on #104358
another detail - i do see this log message in kubelet log:

    Aug 11 07:48:40 foo kubelet[13791]: I0811 07:48:40.087026   13791 feature_gate.go:243] feature gates: &{map[... ServiceAppProtocol:true]}

so kubelet is initialized with that feature gate enabled

[2021-08-13 11:57] keymone commented on #104358
turns out, this feature gate should have been enabled on api server component separately. none of the documentation i found mentions this :(

[2021-08-13 12:05] jayunit100 commented on #101765
We're still working on this , @knabben had a prototype that is working

[2021-08-13 13:01] ashgit301 commented on #22368
Adding the immutable property to the config map totally avoids the problem. Using config hashing helps in a seamless rolling update but it does not help in a rollback. You can take a look at this open-source project - 'Configurator' - [](https://github.com/gopaddle-io/configurator.git) 'Configurator' works by the following using the custom resources :

1. 'Configurator' ties the deployment lifecyc

[2021-08-13 13:01] mattfenwick commented on #104305
I tried this out before, and it didn't help as much as I hoped.  Wish I still had the code lying around b/c I don't want you to have to take my word for it 😱 anyway I still think this is a good idea and we should try it again.

[2021-08-13 13:11] jayunit100 commented on #101765
@rajaskakodkar

[2021-08-13 13:24] jayunit100 commented on #101765
/remove-lifecycle stale

[2021-08-13 13:42] akoeb-dkb commented on #60140
same here, tar archive with  225MB.

The "workaround" was a bit more reliable for me, after I added a "sleep" to the shell command:

[2021-08-13 13:52] EladDolev commented on #86064
sure @vdhanan
AMI - different ubuntu minimal from the last couple of months
k8s - 1.19.11
using in tree volume provisioner, no CSI
when provisioning encrypted gp2 volumes larger than 1TB, there's ~5%-10% of getting them not empty

[2021-08-13 14:08] #104277 closed

[2021-08-13 14:24] jdwnetapp commented on #58908
I ran into the same issue and wanted to provide some notes on how I resolved this.

1. I used kubeadm to set up my cluster and had passed in a pod-network-cidr 192.168.0.0/16

kubeadm init --pod-network-cidr=192.168.0.0/16

2. However...I use weave for my pod network.  Which by default uses 10.32.0.0/12 for the POD network.  And sticks with the default despite what you set the pod-network-cidr to.

[2021-08-13 15:06] Nitive commented on #103576
I faced the same simular issue when making reverse operation — adding selector to Service

1. I created Service without `selector`
1. I created Endpoints resource for this service which was pointed to external service (VM)
1. Then I wanted to migrate traffic from external service to pods in my namespace. So I added `selector` to Service
1. Endpoints resource got updated — external service subset w

[2021-08-13 15:24] lgfabres commented on #83936
hi, i'm having the same problems starting kubelet.
I am working with OL8.
My installation script is:

I.- presettings in OL8
1.- Upgrade the system
dnf -y upgrade

2. Disable SELinux enforcement.
setenforce 0
sed -i --follow-symlinks 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/sysconfig/selinux

3. Enable transparent masquerading and facilitate Virtual Extensible LAN (VxLAN) traffic for communic

[2021-08-13 15:35] neolit123 commented on #83936
thanks in advance

the kubelet DEB/RPM packages setup the systemd unit files to have the kubelet "crash loop" (repeatedly try to start), until it has all the needed files (pointed by flags) ready. /var/lib/kubelet/config.yaml  is one of them. you can stop the kubelet if you want it to not crash-loop.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

if you ar

[2021-08-13 16:16] BenTheElder commented on #100460
/remove-lifecycle stale
I think this remains as relevant as ever.

[2021-08-13 16:19] szuecs commented on #72155
/remove-lifecycle stale

[2021-08-13 17:12] #100255 closed

[2021-08-13 17:17] dylanPowers commented on #63214
/remove-lifecycle stale

[2021-08-13 17:37] mikebrow commented on #104352
As this limit is only for glibc 2.25 and earlier.. (for example not an issue with 2.27 in ubuntu 18.04lts ..) I'd be fine with removing this check at the container runtime CRI level and letting it pass through to the runtime engine. Though I would like to see some docs at the k8s Level and for this feature that explain the restriction to users.  For example, we should tell them for Ubuntu 16.04lts

[2021-08-13 17:39] chrisdoherty4 commented on #69697
We've hit what seems to be the same problem using Amazon EBS (we have all the symptoms at least). Should this be raised as a new issue?

[2021-08-13 18:02] justaugustus commented on #100460
/milestone v1.23

[2021-08-13 19:23] cupdike commented on #84057
Hierarchical namespaces are now available as an extension:
https://kubernetes.io/blog/2020/08/14/introducing-hierarchical-namespaces/

[2021-08-13 21:09] lavalamp commented on #95460
If you're not using SSA, then yes that should be a separate bug.

[2021-08-13 21:17] #102374 closed

[2021-08-13 21:30] ruiwen-zhao commented on #104175
The test fails because there is no GPUs reported by kubelet [1].

Looking at the node info right before the failure, the node does not have any gpu capacity [2]. And I cannot see any log related to device plugin in the kubelet log.

[1] https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/gpu_device_plugin_test.go#L90

[2]
[code]

[2021-08-13 22:31] kevindelgado commented on #104090
FWIW, I am working on a KEP to tackle server side unknown field validation. These are some [initial notes](https://docs.google.com/document/d/1MmEkA2xEr_vOJ9SrpWu92rAzvaxEY47PHeRKcfO86mc/edit?usp=sharing) that were presented at the last sig/api-machinery meeting. I received the go ahead to formalize this into a full KEP and can link to this discussion once that kep is submitted.

[2021-08-14 00:40] yunhjiang commented on #100466
I think possibly we can't do it easily for the RequestReceived stage event, but it will be easy to do it at the ResponseCompleted stage?

[2021-08-14 01:11] #104093 closed

[2021-08-14 06:40] aojea commented on #100895
I've talked with Tim and I'll help him here, he has already started https://github.com/kubernetes/kubernetes/compare/master...thockin:ruleguard?expand=1

/assign

[2021-08-14 06:53] MadhavJivrajani commented on #104358
@keymone thank you for creating this issue.
`ServiceAppProtocol` should be enabled by default since it went to GA in v1.20 and shouldn't require a feature gate anymore (this is also probably why you didn't see its mention in the `kube-apiserver` command line reference). The reason I think that you had to enable it explicitly is because of v18 being run (`ServiceAppProtocol` was still in alpha at t

[2021-08-14 06:53] #104358 closed

[2021-08-14 09:28] m00lecule commented on #40610
HI, also seeking for this feature. It also might be useful for reducing latency. Imagine a situation when we host each kafka node and k8s worker node in separate AZ. Then with additional metadata pod should pick the closest destination to provide the better network performance. I believe its a bit complicated, but this feature would make it possible.

[2021-08-14 10:10] keymone commented on #104358
@MadhavJivrajani you're right that it's no longer an issue for this particular feature gate, but i don't understand how would i have been able to figure out what components that feature gate was relevant for at time of launch. i've browsed the codebase at version 1.18 and didn't find any documentation or even a comment that it should've been enabled for apiserver component. I still don't know if t

[2021-08-14 13:04] vpnachev commented on #101794
/remove-lifecycle stale

[2021-08-14 13:49] syedrakib commented on #86244
@anencore94 just to clarify your query... when you said

Did you mean?

[2021-08-14 14:04] EladDolev commented on #86064
I have somehow missed the fact this fix is new. when was it deployed ?
haven't encountered it in the last couple of weeks

[2021-08-14 15:18] #96618 closed

[2021-08-14 19:57] odinuge commented on #102394
Can you point at where you can see this @haircommander? These test are now skipped by when using the systemd cgroup driver..

[2021-08-14 20:24] liggitt commented on #73853
this is failing again...

[code]

OS-specific defaulting behavior at the API level is unexpected

[2021-08-15 05:16] pipijiev12 opened #104370 "Can k8s use mysql to replace etcd? How to replace?"
Can k8s use mysql to replace etcd? How to replace?

[2021-08-15 05:17] bunniseng commented on #102285
Both PR's reviewed and closed will not merge - significant dependency updates considered higher risk to provide backport.
Unassigning / Leaving to close.

[2021-08-15 05:17] bunniseng commented on #102285
/unassign

[2021-08-15 05:20] pipijiev12 commented on #104319
I read the official k8s blog, it only teaches you how to install k8s, but it doesn't teach you how to run k8s source code. The official blog only provides to compile k8s on linux source code, but does not run the source code on ide.

[2021-08-15 06:54] astraw99 opened #104371 "`kubectl label` msg is not distinguished between label and unlabel"
#### What happened:
Currently, the `kubectl label` cmd output msg is not distinguished between label and unlabel (using `-` suffix ), both of
them response `labeled`.

#### What you expected to happen:
To distinguish between label and unlabel msg: `labeled/unlabeled`, just like `tainted/untainted`.

[2021-08-15 08:55] dijitali commented on #51475
/remove-lifecycle stale

[2021-08-15 09:20] codearky commented on #104155
My reproduction yielded a bit different output (kind v0.11.0 go1.16.4 linux/amd64, Kubernetes v1.21, Ubuntu 16.04) :
[code]
in contrast to @bydga 's
[code]

Worth to mention that trying to reproduce it again after the first time, failed all my attempts.

I had some looks and found this change was merged https://github.com/kubernetes/kubernetes/pull/95561 to v1.20 which explains the difference.

Th

[2021-08-15 09:21] codearky commented on #104155
/sig node

[2021-08-15 09:48] jyz0309 commented on #103304
Hello! @akshitgrover Are you still working on this? If you don't have time, I can take this issue. If not, maybe I can give some help😊

[2021-08-15 10:25] yxxhero commented on #104370
I think no.

[2021-08-15 13:25] JasonRD commented on #85418
/reopen

[2021-08-15 13:49] BLasan opened #104375 "Feat: Set Pod Level Resource Limits and Requests"
#### What would you like to be added:

Option to add resource limits and requests to the Pods rather than getting the sum of the resource limit values of the containers inside it.

#### Why is this needed:

Suppose two microservices (A & B) which will execute one at a time on a request receive. It means that when calling to microservice-B from microservice-A where A expects the response from the s

[2021-08-15 14:05] dims commented on #104375
@BLasan please see the process we follow here in kubernetes for enhancements like these - https://github.com/kubernetes/enhancements#is-my-thing-an-enhancement

you will need to advocate with sig-auth / sig-apimachinery and sig-node to get something like this going.

[2021-08-15 14:06] BLasan commented on #104375
Thanks. Will follow the process

[2021-08-15 14:12] #104375 closed

[2021-08-15 14:51] kerthcet commented on #104335
/sig scheduling

[2021-08-15 15:00] kerthcet commented on #104371
/sig cli

[2021-08-15 15:06] knight42 commented on #73853
Hi @liggitt! I have filed #104376 to fix this failing test, PTAL!

[2021-08-15 20:17] akshitgrover commented on #103304
@jyz0309
Since this was not an urgent issue
I was working on some other issues last week
I have started on this, Will be raising a PR maybe today or tomorrow
I Will ask you if I get stuck
Thank you

[2021-08-15 22:36] telmich commented on #94861
I have the feeling we are also affected by this with a standard calico installation:

* every node announces a /122 IPv6 network to the upstream router
* the upstream router uses ECMP to route the packet back
* packets that are sent *from* the pod and returned via asymmetric path from outside seem to be dropped

[code]

[2021-08-15 23:38] aojea commented on #100895
@liggitt what about these ones?

https://github.com/kubernetes/kube-openapi/blob/1a6458611d189dc17e98a0824dc92536365efedf/pkg/validation/strfmt/default.go#L156-L157

they use
https://github.com/asaskevich/govalidator/blob/f21760c49a8d602d863493de796926d2a5c1138d/validator.go#L808

[2021-08-16 00:26] #95546 closed

[2021-08-16 01:30] xuchenCN commented on #66661
Set --streaming-connection-idle-timeout=0 may got error
[code]
Set to `0s` to fix it

[2021-08-16 01:53] pacoxu commented on #94698
I prefer that it is something expected.

`kubectl.kubernetes.io/last-applied-configuration` should be added when the user execs `kubectl apply`.
`kubectl rollout` may not change the label.

/cc @eddiezane

[2021-08-16 02:07] zhougw001 commented on #104295
![pic1](https://user-images.githubusercontent.com/49544454/129502135-a77dbfc1-4fb8-4446-8591-4c0a9b6023c9.jpg)
![pic2](https://user-images.githubusercontent.com/49544454/129502143-a3123dac-852f-41f4-9738-32567429685e.jpg)

[2021-08-16 02:28] holdenk commented on #97264
I've been running into this a bunch the past week.

[2021-08-16 02:32] SataQiu commented on #104246
/cc

[2021-08-16 02:34] pacoxu commented on #104370
kube-apiserver doesn't support it.
[code]
https://github.com/rancher/k8s-sql uses a DB such as MySQL, RDS, or Cloud SQL for your Kubernetes cluster state. But the repo was archived.

[2021-08-16 03:02] gohmc commented on #61486
It rolls back because EKS managed addon do not keep patch made to the manifest. The permanent [fix](https://github.com/aws/containers-roadmap/issues/1415) to this "reset" seems on the way.

[2021-08-16 03:31] pacoxu commented on #74151
Dup issues: #66693 #90829 #50110

Why the `KernelTunableWarn`  is not configurable? There are some context in https://github.com/kubernetes/kubernetes/pull/27874#discussion_r68314751

It's time to consider if `expose "KernelTunableWarn" in kublet config #50110` is needed. 😄

The workaround is to `changing sysctls after kubelet start each time`.
/kind feature

[2021-08-16 03:56] apelisse commented on #100024
Yes, this is solved by using the "apply client" rather than the regular typed clients.

[2021-08-16 04:30] #99128 closed

[2021-08-16 04:37] ash2k opened #104380 "CancelRequest not implemented by *genericclioptions.CommandHeaderRoundTripper"
#### What happened:

[code]

#### What you expected to happen:

No errors printed.

#### How to reproduce it (as minimally and precisely as possible):

Not sure. This is the same thing as https://github.com/kubernetes/kubernetes/issues/73791, was fixed by https://github.com/kubernetes/kubernetes/pull/71757.

#### Anything else we need to know?:

Happened in a CI build https://gitlab.com/jrandazzo-

[2021-08-16 05:21] adammw opened #104383 "aws legacy load balancer controller fails to revoke security group before deletion"
#### What happened:
We have a smoke test in our clusters that tests the AWS cloud provider load balancer creation and deletion works correctly. While it has been working for some time, we noticed that it was recently failing to create load balancers since one of the security groups had reached its limit of the number of rules it could contain.

Upon looking into the issue, we can see a series of i

[2021-08-16 05:23] adammw commented on #104383
/sig cloud-provider

[2021-08-16 07:29] michael-db commented on #87724
/remove-lifecycle stale

[2021-08-16 07:39] saschagrunert commented on #100460
/triage accepted

[2021-08-16 07:41] bydga commented on #104155
Hmm interesting. I will try to upgrade the cluster and rerun our tests to see how this changed/improved. Also i will add the logs you propose 🙂

But i'm not sure how valid is the point with "not being able to catch the termination".. I'm pretty new to Kube (I've been using Mesos for years), but in the end, there must be a place somewhere in the kubelet, where Kube is waiting for the given pod's pr

[2021-08-16 07:45] AbdulBasitAlvi commented on #80481
Yes. Apologies for the delay, I will give an update shortly

[2021-08-16 08:01] liangjingtao11 opened #104385 "update floatIP on openstack side, service can't perceive"
#### What happened:
Create a LoadBalancer type service through openstack LoadBalancer, This will help create LoadBalancer/floatip on the openstack side. And then you can see the created floatIp in the status field of the service like:

status:
  loadBalancer:
    ingress:
      - ip: 172.1.0.196

But if user update the floatIp or LoadBalancer on openstack side. The service cannot be sensed and upd

[2021-08-16 08:05] aojea commented on #104329
It is part of networking :), actually this part of Services is being revisited these days

/assign @khenidak @thockin

[2021-08-16 08:49] liangjingtao11 commented on #104385
/sig cloud-provider
/area provider/openstack

[2021-08-16 09:19] akhil850 opened #104387 "Unexpected HPA Behavior when the external metrics endpoint went offline.!"
#### What happened:
We are using AWS Container Insights for our HPA's.
The problem is that AWS container insights had a possible outage recently and our HPA's currentValue became "0" scaling-in all of our microservices to min values.

Screenshot:

![image](https://user-images.githubusercontent.com/49130269/129538748-7a5fed3f-4342-4104-81d3-35228852f148.png)

#### What you expected to happen:

Duri

[2021-08-16 09:20] akhil850 commented on #104387
sig/autoscaling

[2021-08-16 09:27] akhil850 commented on #104387
/sig autoscaling

[2021-08-16 09:29] davidtnorth opened #104388 "Intermittent loss of iptables rules causing loss of access to services on a NodePort"
We are using K8s 1.15. I'm aware this is many versions back, but I've been unable to locate a bug report like this one suggesting the problem may still exist in newer versions (we should find that out over the coming weeks).

We have experienced this problem on two different installations:

 - One on RHEL 7, installed using kubeadm
 - One on Debian 10, also installed using kubeadm

In both cases,

[2021-08-16 09:30] davidtnorth commented on #104388
/sig network

[2021-08-16 09:34] HelperInCa commented on #92460
As this issue https://github.com/projectcalico/calico/issues/4140 mentioned, the problem maybe caused by etcd. So **make sure the status of etcd servers is healthy**.
(Install the etcdctl and use this to check the etcd server's health: ETCDCTL_API=3 etcdctl --endpoints=[ip1]:2379,[ip2]:2379,[ip3]:2379 endpoint health -w table)
I hit this issue when one of etcd server was down and the Api-Server wh

[2021-08-16 09:44] anyyyy commented on #103500
Hello, I also have this problem. Logs will repeat indefinitely when viewed with kubectl logs -f. At first I thought it was caused by kernel parameters, but it was normal when viewing logs through docker logs -f. I have no other good troubleshooting ideas for the time being. Can someone help me?
**Environment**
kubernetes：v1.17.0
OS：4.19.90-23.6.v2101.ky10.aarch64

[2021-08-16 09:58] verb commented on #97103
@fjammes We updated the ephemeral containers API in 1.22 to make this possible with ephemeral containers and plan on adding support to `kubectl debug` in 1.23.

[2021-08-16 10:05] yuzhiquan commented on #104318
/assign

[2021-08-16 11:21] soltysh commented on #100094
Closing as duplicate.
/close

[2021-08-16 11:22] #100094 closed

[2021-08-16 11:23] aojea commented on #94861
and if you set ?
[code]

[2021-08-16 11:48] pravarag commented on #90402
@alculquicondor @Huang-Wei I've some doubts w.r.t the changes as mentioned under review here: https://github.com/kubernetes/kubernetes/pull/101193/files#r614823080,
Is there a way I can remove the dependency of component helpers `kubernetes/pkg/scheduler` ?

[2021-08-16 12:38] awels commented on #104343
I can bypass the tests if I use -ginkgo.skip='immediate binding' so for my purposes this is enough. Closing

[2021-08-16 12:38] #104343 closed

[2021-08-16 12:47] chenyw1990 opened #104394 "kube-proxy failed to sent event to kube-apiserver in v1.22"
#### What happened:
In v1.22, kube-proxy failed to sent event to kube-apiserver.
[code]
this issue relate to PR: https://github.com/kubernetes/kubernetes/pull/102832

![image](https://user-images.githubusercontent.com/1468240/129565118-05ff3991-ef78-42a3-919d-e41c9b56e8f5.png)

after this change, kube-proxy cannot send event to kube-apisever.

kube-apiserver failed in:
https://github.com/kubernete

[2021-08-16 12:48] chenyw1990 commented on #104394
/sig network

[2021-08-16 12:50] chenyw1990 commented on #104394
@thockin @Yuan-Junliang

[2021-08-16 12:57] chenyw1990 commented on #104394
/assign

[2021-08-16 13:34] alculquicondor commented on #90402
Perhaps the shared logic should be moved to component-helpers.

[2021-08-16 14:00] liggitt commented on #100895
yeah, until we have ratcheting validation in place for CRDs (https://github.com/kubernetes/kubernetes/issues/94060), we cannot tighten existing validation on custom resource objects. It looks like kube-openapi will have to update the ipv4 and cidr validators to use the k8s.io/utils version

[2021-08-16 14:31] telmich commented on #94861
Same behaviour with `sysctl -w net.netfilter.nf_conntrack_tcp_be_liberal=1` set on all nodes, the outgoing pod traffic does not return. And I instantly see packets going back into the drop rule:

[code]

[2021-08-16 14:52] liggitt commented on #100895
opened https://github.com/kubernetes/kube-openapi/pull/243 with tests and required openapi format validation changes

[2021-08-16 14:52] hiberabyss commented on #79213
Have same issue here, could it possible use the "random" scheduler?

[2021-08-16 15:23] #103765 closed

[2021-08-16 15:32] Michael-Sinz commented on #93474
/remove-lifecycle stale

[2021-08-16 15:34] #100296 closed

[2021-08-16 15:45] jupblb opened #104396 "[Failing test] SCTP timeout"
#### Which jobs are failing:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness
#### Which test(s) are failing:
- `Kubernetes e2e suite.[sig-network] SCTP [LinuxOnly] should allow creating a basic SCTP service with pod and endpoints`
- `Kubernetes e2e suite.[sig-network] SCTP [LinuxOnly] should create a ClusterIP Service with SCTP ports`
#### Since when has it been f

[2021-08-16 15:48] jupblb commented on #104396
/sig network

[2021-08-16 16:10] enj commented on #101321
/remove-lifecycle stale

[2021-08-16 16:21] enj commented on #101597
/remove-lifecycle stale

Perhaps this requires a mini KEP to define the behavior we expect?

[2021-08-16 16:24] enj commented on #84571
/remove-lifecycle stale
/lifecycle frozen
/unassign jfbai

[2021-08-16 16:25] enj commented on #84571
/triage accepted

[2021-08-16 16:28] neolit123 commented on #104370
you can use rancher's kine project. it emulates the etcd API layer but uses something else as the storage backend.

see examples here:
https://github.com/k3s-io/kine/blob/master/examples/minimal.md

/kind support
/close

[2021-08-16 16:28] #104370 closed

[2021-08-16 16:32] EkeleAsonye opened #104397 "Errors connecting to AKS-HCI service host"
#### What happened
Issue was reported by a partner, Dell Corp.

When I RDP to one of the nodes in my Azure Stack HCI cluster, I ran the Get-AksHciCluster command and got the error that the established connection failed because host failed to respond.

Probing further, an operator can not access the mgmt cluster using the kubeconfig-mgmt.  The commands will fail with an error like:
Unable to connec

[2021-08-16 16:33] neolit123 commented on #104354
hi, not sure what you mean by official list, but if you'd like your project to be hosted in a repository under the k8s github organizations, then you'd have to ask for a sponsoring special interest group (SIG).

your projects would fall under the expertise of SIG Auth. try emailing the group mailing list for feedback:
https://github.com/kubernetes/community/tree/master/sig-auth#contact

this issue

[2021-08-16 16:33] #104354 closed

[2021-08-16 16:35] neolit123 commented on #104319
for support discussions:
http://git.k8s.io/kubernetes/SUPPORT.md

/kind support
/close

[2021-08-16 16:35] #104319 closed

[2021-08-16 16:37] neolit123 commented on #104397
hi, you should try contacting Azure support.
this repository is for core k8s bugs/features.

/sig cloud-provider
/area-provider azure
/close

[2021-08-16 16:37] #104397 closed

[2021-08-16 16:38] neolit123 commented on #104341
hi, please fill the issue template properly:
https://raw.githubusercontent.com/kubernetes/kubernetes/master/.github/ISSUE_TEMPLATE/bug-report.md

once that is complete, you can reopen the issue.
thanks

/sig node
/close

[2021-08-16 16:39] #104341 closed

[2021-08-16 16:43] neolit123 commented on #104252
/sig network
/kind support
for triage

you might get more responses on:
http://git.k8s.io/kubernetes/SUPPORT.md

[2021-08-16 17:45] vdhanan commented on #86064
@ksliu58 would know when the fix was rolled out on Nitro, but I think it happened recently

[2021-08-16 17:49] ialidzhikov commented on #104383
/area provider/aws

[2021-08-16 18:22] tstraley commented on #78007
This appears to be the same issue as https://github.com/kubernetes/kubernetes/issues/60164, which continually was closed due to going stale, despite having a lot of interest from the community.

It would be great to get someone from sig/apps or more appropriate group to chime in here since this is a very difficult issue to deal with.

[2021-08-16 19:06] ksliu58 commented on #86064
The fix on Nitro was deployed on July 6th.

[2021-08-16 19:57] TeamDman commented on #101933
/remove-lifecycle stale
I'm trying to run devops agents in a run-once mode. This would be useful.
I also found this related to my situation: https://github.com/kubernetes/kubernetes/issues/57291#issuecomment-428055057

[2021-08-16 20:09] krzysiekg commented on #104197
@shubheksha I did some analysis of the codebase, below is the summary.

The most promising component seems to be kube-controller-manager. It's similiar to kubelet in term of klog calls (1.1k vs 1.4k) and mostly unmigrated. It's owned primarly by sig-apps and sig-network.
Kube-proxy and kube-scheduler have way less klog calls and seem to be more than halfway done with the migration already. Kube-ap

[2021-08-16 20:53] tamalsaha commented on #101991
/remove-lifecycle stale

[2021-08-16 20:55] aojea commented on #94861
[code]

:thinking: ` only out of window RST segments as INVALID`

[2021-08-16 21:34] #100153 closed

[2021-08-16 22:33] aojea commented on #104396
/assign

[2021-08-16 22:46] aojea commented on #104388
nodePort or hostPort?

[2021-08-16 23:08] oomichi commented on #97355
/remove-lifecycle stale

[2021-08-16 23:35] #96321 closed

[2021-08-16 23:35] #96621 closed

[2021-08-17 03:07] mailhari commented on #101776
/remove-lifecycle stale

[2021-08-17 03:18] andyzhangx commented on #103683
### update azure file secret if azure storage account key changed

**Issue details**:
There would be azure file mount failure if azure storage account key changed

**Workaround**:
User needs to update `azurestorageaccountkey` field manually in azure file secret(secret name format: `azure-storage-account-{storage-account-name}-secret` in `default` namespace):
[code]

 - delete original pod(may use

[2021-08-17 03:19] andyzhangx commented on #103683
/close

[2021-08-17 03:19] #103683 closed

[2021-08-17 03:27] astraw99 opened #104403 "[Failing test] e2e-gce-storage-slow test failed"
#### Which jobs are failing:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/104231/pull-kubernetes-e2e-gce-storage-slow/1427240096280612864/

#### Which test(s) are failing:
[code]

#### Since when has it been failing:
At least 2021.08.16

#### Anything else we need to know:
Check PR: https://github.com/kubernetes/kubernetes/pull/104231

[2021-08-17 03:32] astraw99 commented on #104403
/sig storage

[2021-08-17 03:39] lauchokyip commented on #93100
Since @almas33 is not getting back to me, if anyone is ready to work on it and submit a PR, please feel free to comment and do so! Thank You

[2021-08-17 07:01] sbwfnhn commented on #104034
@haircommander
I seem to have found this bug

Delete the following two items to return to normal.

[code]

[2021-08-17 07:40] adorableS commented on #75803
I got same error.
Did you solve the error?
If you have solution, please share the solution.

[2021-08-17 07:43] adabuleanu commented on #101740
/remove-lifecycle stale

[2021-08-17 07:43] aojea opened #104406 "hostNetwork tests can't use the same port or they will collide"
Failed here
[code]
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/104401/pull-kubernetes-e2e-ubuntu-gce-network-policies/1427400844852072448
/retest

_Originally posted by @aojea in https://github.com/kubernetes/kubernetes/issues/104401#issuecomment-900063266_

This fails because the pod tries to bind port 80, that is a very demanded port, but there are two tests doing that, that incr

[2021-08-17 08:01] bydga commented on #104155
@codearky here is the syslog from the "faulty" upgrade

quick summary:
- 3 pods were running:
    - `hera-example-api-kube-bydga-daemon-695b4c6f9-4hlss`
    - `hera-example-api-kube-bydga-daemon-695b4c6f9-6vt29`
    - `hera-example-api-kube-bydga-daemon-695b4c6f9-t594g`
- they were replaced during the uprade to 3 new ones:
    - `hera-example-api-kube-bydga-daemon-85949bbbc4-v5955`
    - `hera-exa

[2021-08-17 09:04] daviddyball commented on #103944
@ipochi
`/opt/kubernetes/bin/kubelet --version`
```Kubernetes v1.20.8```

@jepio

`systemctl cat containerd`
[code]

`cat /run/metadata/torcx`
[code]

`cat /etc/environment`
[code]

`cat /etc/containerd/config-kops.toml`
[code]

`systemctl status containerd`
[code]

[2021-08-17 09:32] metost commented on #23880
From GKE/GCE documentation:

The following example demonstrates how this is done to support multiple TCP and UDP ports against the same internal load balancer IP.

Create a static IP in the same region as your GKE cluster. The subnet must be the same subnet that the load balancer uses, which by default is the same subnet that is used by the GKE cluster node IPs.

If your cluster and the VPC networ

[2021-08-17 09:52] Joseph94m opened #104411 "Duplicates in 1.17 and 1.18 changelogs"
Hi all, hi @neolit123
#### What happened:

It seems that parts of the changelogs in 1.18 are duplicated from the 1.17 changelogs, unless i am missing something really obvious....

Reference for the same github issue concerning CVE-2020-8559 in both [1.17.9](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.17.md#no-really-you-must-read-this-before-you-upgrade) and [1.18.5]

[2021-08-17 10:52] neolit123 commented on #104411
Hi, pretty sure this is because when some critical bugs are found they are
backported to the latest patch release of  the minor release versions in
the support window.

[2021-08-17 10:56] neolit123 commented on #104411
Let us know if this does not answer your question. Also best to use the
support channels first before logging an issue here:
https://git.k8s.io/kubernetes/SUPPORT.md

/sig release
/kind support
/close

[2021-08-17 10:56] #104411 closed

[2021-08-17 11:24] yuzhiquan commented on #103879
@ehashman we meet same failing test in `pull-kubernetes-node-kubelet-serial` and `pull-kubernetes-node-kubelet-serial-containerd`, and seems like other pr also failing https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial, any suggestion on this?

[2021-08-17 11:45] wawa0210 commented on #104336
Can you post the detailed error message? I can't seem to reproduce

[code]

[2021-08-17 12:11] TBBle commented on #23880
The mechanism described there is a manual workaround for the lack of this feature; I'm also not sure (I don't use GKE), but it looks like those docs are for something that works as [a load balancer only to other things in the same VPC](https://cloud.google.com/load-balancing/docs/internal)?

Sadly, it appears that the current latest cloud-provider-gcp implementations of both [internal](https://git

[2021-08-17 12:31] wdec commented on #100698
/remove-lifecycle stale

[2021-08-17 12:51] #104342 closed

[2021-08-17 13:51] hiberabyss commented on #95498
In my case, I only create one pod and would like the pod been terminated before new pod created, here the MaxSurge should also consider terminating pods.

[2021-08-17 14:21] p-rog commented on #80190
/reopen

Nowadays the detailed information about the kubernetes version should be really treated as a sensitive information from the security perspective and shouldn't be visible for everyone, even not authenticated users.

Is it possible to reduce the information about the version only to major and minor release for non-admin users and make it not visible at all for not authenticated users?
At le

[2021-08-17 14:34] p-rog opened #104414 "Kubernetes version details are exposed via API even to not authenticated users, what may help potential attacker during the exploit"
#### What would you like to be added:

Information about the version available for non-admin users should be reduced to only major and minor release.
For not authenticated users information about version shouldn't be visible at all or at least there should be a configuration option to disable version endpoint from API.

#### Why is this needed:

From the security perspective very detailed informat

[2021-08-17 15:14] neilharris123 opened #104415 "allow imagePullSecrets to reference secrets in other namespaces"
#### What would you like to be added:

Currently imagePullSecrets can only reference secrets in the same namespace.

[code]

I am proposing that, if a user has added the correct rbac rules to make a secret available to serviceAccounts in other namespaces, they should be able to reference that secret under imagePullSecrets, for example:

[code]

In the above example/proposal, the dockerhub-credenti

[2021-08-17 16:11] phiphi282 commented on #104385
This probably belong to [kubernetes/cloud-provider-openstack](https://github.com/kubernetes/cloud-provider-openstack)
I guess what you are looking for is this: kubernetes/cloud-provider-openstack#1597 :)

[2021-08-17 16:16] graywolf-at-work commented on #94420
/reopen

[2021-08-17 16:25] graywolf-at-work opened #104417 "Kubectl always shows a diff for HPA"
#### What happened:

After applying something, there is always a diff:

[code]

It tries to add the exact same metric again, but after apply there is still just one so maybe a bug in the diffing logic?

#### What you expected to happen:

Since it was just applied, I would expect no changes to be shown. Seems to be same as 94420 which was closed by really helpful fejta bot without any resolution.

[2021-08-17 16:25] graywolf-at-work commented on #104417
/sig cli

[2021-08-17 16:30] marosset commented on #103671
Hit again on 8/15
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1427091721333772288

[2021-08-17 16:31] haircommander commented on #104034
that is unexpected... Great find!

[2021-08-17 16:31] haircommander commented on #104034
Does the problem manifest if either are different? (hostNetwork: false, but dnsPolicy ClusterFirstWithHostNet)

[2021-08-17 16:45] jayunit100 opened #104418 "Add non-serialized metrics tests for Windows"
#### What happened:

- Lets put a metrics CI job in place that isnt `Serial`.
- Investigate our test coverage of metrics-server
- See why our CI jobs dont test metrics-server
- Confirm that we are doing enough in `kubelet_stats`

#### What you expected to happen:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/kubelet_stats.go is a good test, lets make it part of all our con

[2021-08-17 16:45] jayunit100 commented on #104418
/sig windows

[2021-08-17 16:47] jayunit100 commented on #104418
/good-first-issue

[2021-08-17 16:50] FriedrichWilken commented on #104418
/assign

[2021-08-17 17:05] eddiezane opened #104419 "CRD: Top level x-kubernetes-preserve-unknown-fields breaks kubectl explain"
#### What happened:

`kubectl explain` breaks when used on a CRD with a top level `x-kubernetes-preserve-unknown-fields: true`.

#### What you expected to happen:

A coworker encountered this and I'm not sure what the expected behavior is. I think I'd expect either a validation error if this is is invalid or `kubectl explain` to still output descriptions and fields.

#### How to reproduce it (as m

[2021-08-17 17:07] jayunit100 commented on #104418
while were at it
[code]

make that iterations a non-magic number

[2021-08-17 17:08] jayunit100 commented on #104418
while were at it make sure the metrics stats are non-zero , so that we catch regressions #102487

[2021-08-17 17:45] amitkatyal commented on #55713
I am facing a similar issue with the daemon sets. The daemon sets pods remain in the running state when a node is in a not-ready state. Even though the node is in a not-ready state but since the pod is still in the running state, the headless service exposing the daemonset as endpoints returns the IP address of the daemon set pod corresponding to the not ready node.
Since headless service is retur

[2021-08-17 17:53] neolit123 commented on #104406
/sig network

[2021-08-17 17:58] neolit123 commented on #104414
i remember multiple prior discussions about this.
(searches for links)

https://github.com/kubernetes/kubernetes/issues/80190
https://github.com/kubernetes/kubernetes/issues/84040

/sig security
you can ask on #sig-security on k8s slack for feedback, but the historic response was that keeping the versions exposed is not a big concern and documentation can be added instead.

[2021-08-17 17:59] alculquicondor opened #104422 "Add running field to Job status"
#### What would you like to be added:

A `Running int32` field to `JobStatus` to keep track of the number of Running Pods. This differs from the existing `Active` field in that it doesn't include Pods in `Pending` phase.

#### Why is this needed:

Some workloads (example: kubeflow/mpi-operator#315) require watching the number of running replicas to take some decisions.

Note that other workload AP

[2021-08-17 18:00] neolit123 commented on #104414
/kind documentation

[2021-08-17 18:00] alculquicondor commented on #104422
/area workload-api/job

[2021-08-17 18:00] neolit123 commented on #104415
/sig node

[2021-08-17 18:09] amitkatyal opened #104424 "daemonset: When node is shutdown, headless service exposing the daemonset pod is returning the corresponding pod ip address"
#### What happened:
When the node is shutdown, the headless k8s service exposing the daemonset is returning the IP address of the pod which is running on the shutdown node. This is resulting in an issue as the k8s application is trying to connect to the pod which doesn't exist.

#### What you expected to happen:
I understand that even though the node is shutdown daemonset pod in the running state

[2021-08-17 18:29] haircommander commented on #102394
In haste, I incorrectly interpreted the S surrounded by green as a passed run. Oops :smile:

[2021-08-17 18:41] #93300 closed

[2021-08-17 19:41] spiffxp commented on #57667
/remove-priority important-soon
/priority backlog
Criteria for membership in this team remains highly ambiguous, which is very unfriendly to new contributors, or even those trying to help push the project forward.  However, nobody has had the bandwidth to push this forward, so I'm bumping down priority to match the reality of what's happened with this.

[2021-08-17 20:18] fedebongio commented on #104419
After triage, these seems to be a kubectl problem. The field is valid on a crd from an api-machinery perspective
/remove-sig api-machinery

[2021-08-17 20:33] liggitt commented on #104071
Yeah, if there's a performance issue in the stdlib gzip impl with a clear fix/alternative, taking the issue/proposed change upstream to https://github.com/golang/go would make more sense to me, rather than a kubernetes-specific issue/change, or changing kubernetes to use a non-stdlib gzip lib

[2021-08-17 20:42] mritunjaysharma394 commented on #104071
Thank you so much @liggitt, I will try to take up this issue there then 😊

thanks for all the help!

[2021-08-17 22:02] benpbrown commented on #72775
/remove-lifecycle stale

[2021-08-17 22:09] nicolehanjing commented on #100313
I think my current blocker is on how to determine whether the traffic is internal or external
Please let me know if you have any pointers/suggestions. Thanks!
cc @robscott @andrewsykim

[2021-08-17 22:51] apelisse commented on #95460
The statefulset re-generating a new resourceVersion is a different bug but we can keep it here for now.

What happen is that the volumeClaimsTemplate is an atomic list with defaulted fields. Anytime the statefulset is applied, the list of claims is "changed" (defaults are removed), causing the managedfields timestamp to be updated, even though the defaults end-up being re-added causing a no-op.

D

[2021-08-17 23:10] caseydavenport commented on #100492
Sorry, I didn't mean to imply you needed to restart your pod.

I think the crux of the issue is that we're dealing with connections, not packets. The connection will stay live until it is terminated, and packets for that connection will still be allowed. If you want to stop receiving packets, then the pod needs to terminate existing connections in order to tear down conntrack state.

New connectio

[2021-08-17 23:26] ld-singh commented on #80298
Hi
This issue still exists. You will see this happening if your cluster is in AWS or Gcloud where there are timeouts for idle connections still waiting for response setup (350secs and 10 mins respectively) in their firewalls and these timeouts cannot be changed.
The above settings seems not to be working out for https traffic. There is an issue raised with docker on this matter as below:
https://g

[2021-08-17 23:52] jsturtevant opened #104427 "New HPA ContainerResource e2e tests failing on Windows jobs"
#### Which jobs are failing:

https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-dockershim-serial-slow-master
https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-containerd-serial-slow-master

#### Which test(s) are failing:

Kubernetes e2e suite.[sig-autoscaling] [Feature:HPA] Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet with id

[2021-08-18 00:34] pacoxu commented on #101609
/lifecycle stale

[2021-08-18 00:34] pacoxu commented on #101609
/remove-lifecycle stale

[2021-08-18 00:44] jayunit100 opened #104428 "Add tests for Windows Node Reboots"
# Problem
As of now, when we reboot windows nodes, OVS goes down which breaks Antrea CNI.
I suspect reboots may have other effects on other services/CNIs in windows clusters.

Thus, we need a Reboot test case (azure has its own tests for node reboots, but theyre not upstreamed yet).

# Solution

So, lets add a `Distruptive` , `Slow` , `Serial` reboot test for `sig-windows` nodes.

This is a good w

[2021-08-18 00:46] jayunit100 commented on #104428
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/kubelet_stats.go <-- we can borrow from this as a template to get started

[2021-08-18 00:46] jayunit100 commented on #104428
/sig windows

[2021-08-18 01:52] sbwfnhn commented on #104034
hostNetwork: true
[code]

hostNetwork: false
[code]

[2021-08-18 02:33] NOWYOU commented on #104341
Thank you for your advice, I already fix it. And then how can I open the question again?

[2021-08-18 02:51] amitkatyal commented on #103929
I am also facing the same issue. I understand the daemonset pod to remain in the running state is expected but since we are exposing these daemonsets pods via a headless service, DNS resolution to the headless service is returning an IP address of the pod which is running on the unreachable node. Is there any workaround to address this behavior?

[2021-08-18 02:52] amitkatyal commented on #104424
/sig node

[2021-08-18 03:03] liangjingtao11 commented on #104385
@phiphi282  Yes, it seems to be the same problem as your link.  Any other comments?

[2021-08-18 03:37] kerthcet commented on #103879
#104247 is tracing the `dynamic_kubelet_config_test` error.

[2021-08-18 04:24] sanposhiho commented on #99605
Hello, can someone be my sponsor of membership?
https://github.com/kubernetes/org/issues/2901

ref: https://github.com/kubernetes/org/issues/2878#issuecomment-900604877

[2021-08-18 07:17] SergeyKanzhelev commented on #73853
/assign @knight42

since you looking into it.

/triage accepted

[2021-08-18 07:32] weiwenli97 commented on #104428
There are two cases. One enables MHC while the other should disable MHC.

[2021-08-18 07:48] adisky commented on #25908
@justinmchase and others proposed a simple solution here https://github.com/kubernetes/enhancements/issues/2872  based on above discussions and input from @dims, It would be be helpful to give feedback on the proposal.

[2021-08-18 07:59] mritunjaysharma394 commented on #104428
Hi @jayunit100, I think we can use cron-job or as mentioned above the MHC way( https://v2cloud.com/tutorials/how-to-configure-windows-to-reboot-automatically-on-schedule)

I also had a few more doubts, like here are some of the ways to reboot windows:

1. The shutdown command. This is a command line tool available on most any windows computer which will allow you to remotely reboot any computer jo

[2021-08-18 08:23] dgrisonnet commented on #102056
/remove-lifecycle stale

[2021-08-18 08:32] JasonRD commented on #75065
same issue with kubelet 1.14.

[2021-08-18 09:07] graywolf-at-work commented on #104417
/tmp/MERGED- file actually has

[code]

So it looks like a bug during the merging.

[2021-08-18 10:28] aojea commented on #100783
/cc
There is some stuff in script that can be moved to golangci-lint: govet, gofmt, importas, ...
We reduce code to maintain and offload all these work to golangci-lint ...

[2021-08-18 10:28] #104396 closed

[2021-08-18 10:31] mritunjaysharma394 commented on #101622
/assign

[2021-08-18 11:44] graywolf-at-work commented on #104417
The issue "goes away" when using "500m" instead of "0.5". But this still is a bug.

[2021-08-18 11:52] neilharris123 opened #104432 "imagePullSecrets should log warning if secret does not exist"
#### What happened:

imagePullSecrets can added to a pod manifest to reference a secret containing registry credentials. Currently, if you add the name of a secret that does not exist, there is no warning or error.

#### What you expected to happen:

I would expect there to be an error and a failed deployment if the secret does not exist/cannot be found in the namespace.
If people are pulling publ

[2021-08-18 11:59] phiphi282 commented on #104385
Since the occm can't do reconciling based on openstack resources after loadbalancer creation this would be more of a new feature instead of a bugfix.
If you are still using the internal cloud controller manager then there will most likely not be an update on this since these got deprecated in favor of the external cloud providers (see https://github.com/kubernetes/legacy-cloud-providers).

You can

[2021-08-18 12:09] pires commented on #7452
@danopia doesn't it make sense for the `Authorization` header go side-by-side with an `Upgrade` header in the same HTTP request to kube-apiserver and then, provided the requestor is authorized to _proxy_, upgrade to Websocket (not needing the Authorization header)?

[2021-08-18 12:10] ChenLingPeng commented on #65973
we need this feature

[2021-08-18 12:14] pires commented on #89163
@danopia you tracking this one?

[2021-08-18 12:47] p-rog commented on #104414
thank you for reference to #84040
it seems that there is an option to disable access to /version for unauthenticated users:
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#discovery-roles

I will start a discussion on Slack why --anonymous-auth=false is not set by default.

[2021-08-18 13:44] aojea commented on #100698
just to clarify if the follower pod never dies kube-proxy will never delete the conntrack entries, maybe we should revive this issue https://github.com/kubernetes/kubernetes/issues/45300 ...

active/passive based on kube-proxy closing connections is not supported

[2021-08-18 14:17] neolit123 commented on #104414
this has also been discussed multiple times in this repository.
you can try the github search function.

[2021-08-18 15:02] aojea commented on #100783
important, it seems that we have to figure out how to lint staging folders too
https://github.com/kubernetes/kubernetes/pull/104368#discussion_r691257310

[2021-08-18 15:34] neolit123 commented on #104432
/sig node
(based on the field location)

[2021-08-18 15:51] neolit123 commented on #104432
(and/or)
/sig auth

[2021-08-18 16:00] lavalamp commented on #95460
Hm, if, for atomic things, we populated missing defaults and added them into the user's intent before proceeding with the apply operation, would that solve this particular problem?

[2021-08-18 16:07] eddiezane commented on #104419
@apelisse any thoughts on this? I'll check what the OpenAPI is actually returning later.

[2021-08-18 16:09] seans3 commented on #104380
/triage accepted
/assign

[2021-08-18 16:13] apelisse commented on #104419
Yeah, that's mostly an api-machinery problem actually.
/sig api-machinery
/triage accepted

Not that we can do anything about it though. preserve-unknown-field have their schema replaced by "accept-all" because of how kubectl handles schema. There are two ways we can fix that:
1. Have better schemas, we're working on that @Jefftree
2. Remove kubectl validation which is forcing us to have terrible

[2021-08-18 16:44] kerthcet commented on #104432
correct me if not. Pulling private images with nonexists secret, pod will turn to `ErrImagePull`.  However, pulling public image with nonexists secret, no error will display yet.

[2021-08-18 16:44] cndoit18 commented on #47202
Hello, the current cronjob already supports timezone handling.
see: #104404

[2021-08-18 16:51] kerthcet commented on #104422
if `kep` document required for this feature?

[2021-08-18 16:54] nauxliu commented on #47202
What a surprise!

[2021-08-18 16:55] alculquicondor commented on #104422
That's open for discussion. Because it's a new field, it requires a feature gate or a best effort strategy for updating the field in the first release. Maybe a short KEP is worth.

[2021-08-18 16:56] alculquicondor commented on #104422
cc @soltysh @smarterclayton

[2021-08-18 16:59] eddiezane commented on #104380
We'll need to cherry pick this to 1.22.

[2021-08-18 17:03] onedr0p commented on #47202
Reading over that PR, it seems like the syntax is:

[code]

[2021-08-18 17:04] cndoit18 commented on #47202
right 👍

[2021-08-18 17:20] SergeyKanzhelev commented on #104292
/assign @bobbypage

[2021-08-18 17:21] SergeyKanzhelev commented on #104173
/assign @knight42

since you are already working on it. Thank you!

[2021-08-18 17:26] benlangfeld commented on #47202
This seems like an accident rather than an intentional feature.

[2021-08-18 17:26] apelisse commented on #95460
Based on my understanding, yes. It's not that easy to test though so I can't say for sure.

[2021-08-18 17:30] SergeyKanzhelev commented on #69831
/triage accepted

[2021-08-18 17:30] Huang-Wei commented on #103633
It's fixed by #103686.

/close

[2021-08-18 17:30] #103633 closed

[2021-08-18 17:31] onedr0p commented on #47202
I'll take as a happy accident! 🤣

[2021-08-18 17:34] SergeyKanzhelev commented on #69831
this may have already been fixed by two linked merge PRs.

/triage needs-information

@Jiawei0227 @jingxu97 do you know if this is already fixed?

[2021-08-18 17:36] SergeyKanzhelev commented on #51430
/assign @pacoxu

since you are working on PR.

/triage accepted

[2021-08-18 17:41] SergeyKanzhelev commented on #71869
/remove-area provider/gcp

(since there are comments on other providers)

/triage accepted

So there are two issues:
- Make message more informative so images that cannot be cleared are not counted towards "Wanted to free".
- Suggest the way to prevent pods scheduling on nodes with the disk size pressure.

[2021-08-18 17:42] SergeyKanzhelev commented on #71869
For the first part - correcting log message, should be easy and can be a first task

/help
/good-first-issue

[2021-08-18 17:46] SergeyKanzhelev commented on #103542
/triage needs-information

need to have better repro steps if possible and whether it's the same issue as @odinuge suggested.

[2021-08-18 17:47] SergeyKanzhelev commented on #103542
/remove needs-triage

[2021-08-18 17:50] SergeyKanzhelev commented on #103530
/triage needs-information

Can you try on fresh version of k8s? 1.18 is out of support in upstream. Also please attach kubelet logs if possible.

[2021-08-18 17:53] SergeyKanzhelev commented on #102589
/triage needs-information

Should this one be closed in favor of other active ones?

[2021-08-18 17:55] SergeyKanzhelev commented on #101655
/remove-kind bug
/kind feature

[2021-08-18 19:08] zcalusic commented on #47202
Ha ha, 91 comments later... the issue resolves all by itself, what a happy ending. :smile:

Still need to test it though, but it looks promising...

[2021-08-18 19:10] benlangfeld commented on #47202
Not really. Being an unintended consequence of an implementation detail, it is not reliable and could disappear at any point in the future.

[2021-08-18 19:31] deads2k commented on #100844
In the vast majority of configurations, the kubelet has a client-certificate since it is required for the node authorizer to function.  Since mtls is not replayable, could the kubelet present its client certificate, allowing a pod which participates with in-cluster authentication to identify that it is a kubelet requesting healthz, livez, readyz?

That seems to be low risk, no configuration, no co

[2021-08-18 20:21] johngmyers commented on #94698
In the current behavior, after a `kubectl rollout undo` the `kubectl.kubernetes.io/last-applied-configuration` refers to a configuration that is no longer the last applied.

As I have demonstrated, the current behavior causes subsequent `kubectl apply` commands to sometimes put the resource into an unexpected state.

[2021-08-18 20:50] andrewsykim commented on #101927
/assign @andrewsykim

[2021-08-18 20:50] andrewsykim commented on #101927
/triage accepted

[2021-08-18 20:51] andrewsykim commented on #103866
/triage accepted

[2021-08-18 20:51] andrewsykim commented on #104184
/assign @cheftako

[2021-08-18 20:52] andrewsykim commented on #104383
/assign @nckturner @M00nF1sh

[2021-08-18 20:53] andrewsykim commented on #104385
Thanks @phiphi282 for the details. I'm gonna close this one since it seems like a feature request to the deprecated in-tree openstack cloud provider.

/close

[2021-08-18 20:53] #104385 closed

[2021-08-18 21:27] shyamjvs opened #104439 "Deprecated watch/watchlist API calls misreported under get/list call metrics"
While investigating a recent issue on a v1.20 cluster, I found out that if clients are using the old [WATCH](https://github.com/kubernetes/kubernetes/blob/v1.20.7/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L906-L907) or [WATCHLIST](https://github.com/kubernetes/kubernetes/blob/v1.20.7/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L929-L930) apis (deprecated in k8s v1.11, but

[2021-08-18 21:29] shyamjvs commented on #104439
Digging into the code a bit:
- the metric is being recorded [here in MonitorRequest()](https://github.com/kubernetes/kubernetes/blob/v1.20.7/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L420)
- where the reportedVerb is being computed like this:
[code]
- and [canonicalVerb()](https://github.com/kubernetes/kubernetes/blob/v1.20.7/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/m

[2021-08-18 21:38] neolit123 commented on #100895
looks like the CVE has a priority of 7.5:
https://nvd.nist.gov/vuln/detail/CVE-2021-29923

in my book, this is the more harmful part:
https://github.com/golang/go/issues/43389
limiting user input is a wise thing to do.

[2021-08-18 21:43] shyamjvs commented on #104439
Aah! Just as I was about to make a fix, saw that @wojtek-t fixed this exact bug couple weeks ago :) https://github.com/kubernetes/kubernetes/pull/104161

Since cherry-picks have also been merged for it up to 1.20, I'm closing this issue. Sorry for the noise.

[2021-08-18 21:43] #104439 closed

[2021-08-18 21:57] jsturtevant commented on #104427
kubernetes-sigs/windows-testing#278 enables this test for windows but the current number of CPU's require for this new test is higher due to each pod requiring 500m cpu.

the existing tests `Kubernetes e2e suite.[sig-autoscaling] [Feature:HPA] Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5` work on the current infra wit

[2021-08-18 22:02] eddiezane commented on #104380
@seans3  Looks like the cancellation was indeed from a timeout.

@ash2k Sean will have a fix but do you have more insight into the timeout?

[2021-08-18 22:37] grosser opened #104442 "RBAC: support resoruceNames when creating resources"
Background:
I'm trying to limit the capabilities of my Role to only deal with a single configmap, but I cannot do that and have to instead allow it to create all configmaps. It would be nice for security / documentation if I could limit my role to a single name and thereby improve security and also tell users "this only deals with this single configmap".

Problem:
as per https://kubernetes.io/docs

[2021-08-18 22:38] grosser commented on #104442
welp ... https://github.com/kubernetes/kubernetes/issues/80295

[2021-08-18 22:38] #104442 closed

[2021-08-18 23:56] 2rs2ts commented on #88293
My team upgraded to 1.20 two weeks ago and we decided to use this new flag. So far we have not seen any of the instability from this issue, so I suppose this is resolved!

[2021-08-18 23:56] #88293 closed

[2021-08-19 00:41] liggitt commented on #100895
figuring out a controlled way to do that in API validation (ratcheting validation, etc) independent of picking up go1.17 could be a reasonable thing to do, but would be a follow-up to this issue

[2021-08-19 00:43] jayunit100 commented on #104428
/assign weiwenli97

[2021-08-19 00:44] jayunit100 commented on #104428
thanks everyone ! ok i assigned wenli....

...  By the way this is wenlis first upstream issue, so will be a good leanring experience for her , lets try to give her some support along the way :)

[2021-08-19 00:58] ash2k commented on #104380
@eddiezane The build I linked above is using a feature of GitLab Kubernetes Agent called [CI/CD tunnel](https://docs.gitlab.com/ee/user/clusters/agent/ci_cd_tunnel.html), which allows to access Kubernetes API from a CI job. An agent is proxying requests into the cluster. When I was investigating timeouts I discovered that they happen because of [throttling](https://gitlab.com/gitlab-org/gitlab/-/i

[2021-08-19 00:58] tynril opened #104443 "In-cluster configuration fails to be properly evaluated on Windows when the current working directory is not the system drive"
#### What happened:

Running `kubectl` from a container running in a Windows-based pod fails if the current working directory is on a different drive than the system drive (`C:\`):

[code]
(Note that this call is made from a current working directory at the root of the `T:\` drive).

Running the same command from a working directory located on the system drive, however, works without issue:
[code]

[2021-08-19 01:01] tynril commented on #104443
/sig windows

[2021-08-19 01:09] h4ghhh commented on #104394
Relate PR：https://github.com/kubernetes/kubernetes/pull/100125

[2021-08-19 01:10] h4ghhh commented on #104394
/cc @wojtek-t

[2021-08-19 01:30] gjkim42 commented on #104352
We already have had some docs about it.
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#known-issues

Maybe, we need to document that older container runtimes do not support this feature.

[2021-08-19 01:31] gjkim42 commented on #104352
- [x] containerd https://github.com/containerd/containerd/issues/5877
- [x] cri-o https://github.com/cri-o/cri-o/issues/5198

Fixes have been merged.

We should wait for containerd v1.6.0 and cri-o v1.23.0 (or earlier if we cherry-pick those fixes to containerd v1.5.x and cri-o v1.22.x).

@aojea
I am not sure how can we proceed with the ExpandedDNSConfig feature. It may need some soaking time for

[2021-08-19 01:44] furkanmustafa commented on #47202
Maintainers not bothering to comment here at all is very interesting.

I hope, if the unit tests in the linked [PR#104404](https://github.com/kubernetes/kubernetes/pull/104404) gets merged, it's going to make this a requirement for valid implementation. :crossed_fingers: :pray:

[2021-08-19 01:55] kerthcet commented on #103929
hi @amitkatyal , I was quite curious about the scenario why you want to access these daemonsets. In our practices, daemonsets works indepnedent around the node. And your advice is discussible I agreed.

[2021-08-19 01:55] abrahamhwj commented on #37922
same issue，fixed by clean wrong repo in “/etc/yum.repos.d” ，so please check，if has any wrong repo in this path

[2021-08-19 02:23] cosmo0920 commented on #92852
/remove-lifecycle stale

[2021-08-19 03:22] pacoxu commented on #104432
Similar issue with #88142.

[2021-08-19 03:39] amitkatyal commented on #103929
hi @kerthcet, We are running one of our data plane component as a daemonset as we are facing some issues with the HPA.
This daemonSet is exposed behind the headless service so that another data plane component can load balance the traffic across all the instances of the daemonSet. The problem we are facing is in the node down scenario. If one of the nodes is down, then daemonSet is not evicted and

[2021-08-19 03:48] mritunjaysharma394 commented on #104428
All the best @weiwenli97 🥳

Looking forward for all the amazing contributions you make 🚀

[2021-08-19 04:37] cndoit18 commented on #47202
I've added some test cases so that we can use this feature safely.

[2021-08-19 05:30] ninehills commented on #71704
workaround:

KUBELET_ARGS add
--feature-gates=\"LocalStorageCapacityIsolation=false\"

[2021-08-19 05:49] rapgru commented on #7890
@Rybue Did you add `unconfined` to the pod that consumes `/dev/fuse` or to the `DeamonSet`? I still have this error from `s3fs` after adding `SYS_ADMIN` and `unconfined` to both:

[code]

[2021-08-19 05:55] Ekwav commented on #46230
B

[2021-08-19 06:36] seans3 commented on #104380
The code that reported the error is
[code]

The `http.RoundTripper` interface only has one function: `RoundTrip(*Request) (*Response, error)`

The `CancelRequest` as a function of a `RoundTripper` appears to be a convention in most (but not all) Kubernetes `RoundTrippers`.

[2021-08-19 07:01] aojea commented on #104352
we should modify the KEP with this information and modify the beta promotion criteria, we can discuss it there

[2021-08-19 07:36] yangjunmyfm192085 opened #104445 "Kubernetes have been running normally, but the control-plane nodes's metrics value of startTime is similar to the timestamp"
#### What happened:
As described in issue [#803](https://github.com/kubernetes-sigs/metrics-server/issues/803), we found kubernetes have been running normally, but the  control-plane nodes's metrics value of  startTime is similar to the timestamp.
#### What you expected to happen:
Get the correct metrics  of node
#### How to reproduce it (as minimally and precisely as possible):
As described in is

[2021-08-19 07:36] yangjunmyfm192085 commented on #104445
/sig node

[2021-08-19 08:16] neilharris123 commented on #104432
Yes that's correct.

[2021-08-19 08:47] SangameswaranRS commented on #73056
Any update?

[2021-08-19 09:02] #97380 closed

[2021-08-19 09:36] p-rog commented on #100895
@neolit123

NVD CVSS vector is not perfect IMHO
This Go net stdlib vulnerability is really specific and the impact depends on the environment and how net functions are used.
Generally I think that CIA metrics should all be LOW, but it's won't change too much the final score (7.3).
Arrangement how the specific environment (here Kubernetes) is impacted by this flaw is much more important than CVSS m

[2021-08-19 09:44] aojea commented on #100895
I was checking Kubernetes code and the main place where those IPs are used in the host is with iptables, however, iptables seems to have the same interpretation than golang for leading zeros

[code]

I need to check more places that may execute commands with those ips, but meanwhile there is parser alignment on how to process those ips, AFAIK kubernetes is not vulnerable to this specific CVE

[2021-08-19 10:20] mdedetrich commented on #47202
The fact that we managed to accidentally add in a feature which maintainers were previously pushing to not include already speaks volumes.

[2021-08-19 10:46] kerthcet commented on #104432
I think so. Working on this later. Will also live up to your  expectations, right? @neilharris123

[2021-08-19 12:05] #99250 closed

[2021-08-19 13:15] stbenjam opened #104452 "Panic in apiserver admission controller"
#### What happened:

I'm seeing a panic in kube apiserver (see stack trace below). It appears to be linked to the migration away from Hashicorp's LRU implementation to [this one](https://github.com/kubernetes/utils/tree/master/internal/third_party/forked/golang) in https://github.com/kubernetes/kubernetes/pull/103548.

The Hashicorp implementation is thread-safe, however the forked copy in utils i

[2021-08-19 13:15] stbenjam commented on #104452
/cc @dims

[2021-08-19 13:16] stbenjam commented on #104452
/sig api-machinery

[2021-08-19 13:24] jepio commented on #103944
Thank you. I see the issue: this drop-in
[code]
Results in `/run/torcx/bin/containerd --config /run/torcx/unpack/docker/etc/containerd/config-kops.toml` being run, and I verified on 2765.2.6 that containerd 1.4 does not complain that the config file is not found. So the changed settings are not being applied.

I'll open a PR with kops to fix this.

[2021-08-19 13:24] justinmchase commented on #47202
Can you set other environment variables this way as well, or just this one specifically? Is this affecting the controller or the pod?

 Without understanding fully how thats working, if it's unintentional and it appears to be setting an environment variable on the controller, then it seems like a security issue potentially. It would be nice to understand that before running with it.

[2021-08-19 13:33] jepio commented on #103944
So kops fixed this just today: https://github.com/kubernetes/kops/commit/84bdfd900dd6340d7ec61592538d37dbc04823c9

[2021-08-19 13:34] cndoit18 commented on #47202
I've checked it out. It is just processed at parsing time and has nothing to do with environment variables. You can check my newly added unit tests

[2021-08-19 13:40] mohag commented on #94280
/remove-lifecycle stale

[2021-08-19 14:04] Cryptophobia opened #104453 "Code test coverage statistics and e2e test coverage?"
Just out of curiosity and please excuse me if this question has been asked before.

Is there is any way to find any code test coverage information for kubernetes org repos?

[2021-08-19 14:08] Cryptophobia commented on #104453
/sig testing

[2021-08-19 14:22] ifelsefi commented on #66421
/reopen

[2021-08-19 14:24] ifelsefi commented on #66421
`1.19.10`:

Repeating in `kubelet`:

[code]

[2021-08-19 14:32] s4mur4i opened #104454 "Container marked OOMKilled when a non init process gets killed"
#### What happened:
Init container exited with OOMKilled reason, but init container was marked succesful, and main app container was allowed to be started

#### What you expected to happen:
If non init process gets killed the container should not be marked OOMKilled
or
If OOMKilled is terminate reason main app contaienr should not be started.

According to https://github.com/kubernetes/kubernetes/

[2021-08-19 14:34] s4mur4i commented on #104454
According to previous issue will add sig label:
/sig node

[2021-08-19 14:58] phiphi282 commented on #104453
There is no unified place for getting coverage for the repositories in the kubernetes org as far as I know.
For the kubernetes repository specifically you can find information about the coverage for unit tests here: https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-unit

[2021-08-19 15:07] #100232 closed

[2021-08-19 16:07] jsturtevant commented on #98574
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd-nightly/1425992715396452352

[2021-08-19 16:15] MikeSpreitzer opened #104457 "apiserver/pkg/storage/interfaces.go contains unintended HTML tags"
#### What happened:
My IDE rendered the comments in `interfaces.go` and they were incomprehensible.  I looked at the corresponding source, and found stuff like
[code]

Those things set off in angle brackets are taken to be HTML tags.  They should be backquoted.

#### What you expected to happen:
I expected the comments to render comprehensibly.

#### How to reproduce it (as minimally and precisely

[2021-08-19 16:17] MikeSpreitzer commented on #104457
Here is an example of what I saw in my IDE.   The HTML tags in the comment source just disappeared, because they are not actually meaningful HTML tags.

<img width="627" alt="Screen Shot 2021-08-19 at 12 16 00 PM" src="https://user-images.githubusercontent.com/14296719/130104953-dfa5732f-8966-4f69-88d3-521e7cfaae7e.png">

[2021-08-19 17:02] smarterclayton opened #104459 "Steady state kubelet CPU usage is high due to excessive allocation in prometheus scraping of cadvisor"
The `/metrics/cadvisor` endpoint uses a custom prometheus collector to generate the many thousands of series necessary to get pod/container level metrics from the kubelet for cpu/memory/container info.  Unfortunately, the pattern here generates a very large number of transient allocations on each scrape.

Over about 10-15 scrapes we generate about 7 million objects which corresponds to about 20% o

[2021-08-19 17:05] derekwaynecarr commented on #104459
@mrunal @ehashman @dchen1107 i will add this to our tracking doc for upcoming release.  thanks for the analysis @smarterclayton

[2021-08-19 17:12] RafalSkolasinski commented on #79606
/remove-lifecycle stale

[2021-08-19 17:41] smarterclayton commented on #104107
I think this might be the cache reversion issue (i was convinced to remove the code that freshened the container cache after termination, which means that it's possible that the container is purged before the final status is reported and thus the last exit code is lost).  In theory the "pod` is created and then deleted quickly" e2e should catch this, but it's measuring the opposite (no pod that ex

[2021-08-19 17:43] smarterclayton commented on #104107
Knowing what causes the `ContainerRemoved` (GC, pressure, etc) will help us pin down whether this is "the window for reporting this got larger" (due to the safety changes that fixed other bugs) or "there's additional pressure" or  "GC of containers wasn't working before, now it is" or even "we're too aggressively GCing containers of terminating pods when other containers could be instead"

[2021-08-19 17:43] nigeisel commented on #73810
I still have the same issue. Are there any updates on this?

[2021-08-19 17:48] aojea commented on #100895
well, it seems kube-proxy doesn't passes the ip addresses with the leading zeros, maybe is not a problem at all
[code]

The services are stored as:
[code]

iptables rules
[code]

[2021-08-19 18:45] neolit123 opened #104461 "switch away from "go mod graph" for dependency stats"
the kubernetes/kubernetes repository has a [dependency stats presubmit](https://github.com/kubernetes/test-infra/blob/6d524aecb66d5c1c7aac0009fe67c41522e5d0f1/config/jobs/kubernetes/sig-arch/kubernetes-depstat.yaml) e2e test job that is responsible for keeping track of statistics of dependencies when an update to a dependency happens in the repository.

currently, this e2e test job uses `go mod gr

[2021-08-19 18:46] neolit123 commented on #104461
cc @liggitt

/area test code/organization
/sig architecture
/help

let us know if you have any questions.

[2021-08-19 18:48] liggitt commented on #104452
if Add(key, nil) was called, that could set the value to nil in an existing object... does that happen?

[2021-08-19 18:50] neolit123 commented on #104461
/area code-organization

[2021-08-19 18:52] liggitt commented on #104461
given that we want stats for the whole graph, not just a single dependency, I think either `go list` or some other tool built on top of `go list` will be needed

[2021-08-19 18:56] liggitt commented on #104461
one possibility is to transform the output of `go list -json -test ./...` to return a graph that matches the format of `go mod graph` and use that as input to tools that are currently processing `go mod graph` successfully

[2021-08-19 18:56] stbenjam commented on #104452
The nil value we're hitting is on the linked list element, which is managed by the LRU code, not the user-facing value given in `Add(key, value)` -- that gets saved [here](https://github.com/kubernetes/utils/blob/efc7438f0176a4a29c62bac8989d8dd183054fa5/internal/third_party/forked/golang/golang-lru/lru.go#L63)

The panic we hit is https://github.com/kubernetes/utils/blob/efc7438f0176a4a29c62bac898

[2021-08-19 19:06] stbenjam commented on #104452
The actual cache is perfectly happy with nil values: https://play.golang.org/p/zRtzmoJKNr-

[2021-08-19 19:11] MikeSpreitzer commented on #104457
@kubernetes/sig-api-machinery-bugs

[2021-08-19 19:11] stbenjam commented on #104452
From https://github.com/kubernetes/utils/pull/216: `Get` is mutating since it moves an element to the front when it's accessed.

Thanks @liggitt !

[2021-08-19 19:13] MikeSpreitzer commented on #104457
/good-first-issue

[2021-08-19 19:15] MikeSpreitzer commented on #104457
Better source would look like this:
[code]

[2021-08-19 19:17] MikeSpreitzer commented on #104457
That would make it look like this:
<img width="577" alt="Screen Shot 2021-08-19 at 3 17 12 PM" src="https://user-images.githubusercontent.com/14296719/130130749-d28e09e6-8da6-4bea-a7d6-2a014c250c52.png">

[2021-08-19 19:18] MikeSpreitzer commented on #104457
That would make it look like this:
<img width="748" alt="Screen Shot 2021-08-19 at 3 18 23 PM" src="https://user-images.githubusercontent.com/14296719/130130856-651ea964-e269-4b25-9775-bea2c9017c59.png">

[2021-08-19 19:30] painhardcore commented on #91552
/remove-lifecycle stale

[2021-08-19 19:36] khenidak commented on #104406
Close when #104407 104407 merges

[2021-08-19 19:37] khenidak commented on #104394
/triage accepted

[2021-08-19 19:43] khenidak commented on #104388
I don't even remember how kube-proxy used to work back then. We have iterated to improve it so much since then. And since we can not really patch such an old version the only solution around that is to check what clears iptables/kube-proxy logs or better move to newer kubernetes versions.

I will not mark this as `accepted` but i will leave it open for a while maybe somebody can provide a solution

[2021-08-19 19:44] palnabarun commented on #104461
cc: @RinkiyaKeDad

[2021-08-19 19:46] khenidak commented on #104329
ack.

[2021-08-19 19:46] khenidak commented on #104329
/sig network

[2021-08-19 19:52] khenidak commented on #104252
/triage needs-information
/sig network
/assign @khenidak

@RichardoC  was this an endpoint created automatically (by endpoint controller in response to service's selector) or a manually created endpoint?

[2021-08-19 19:53] alculquicondor commented on #104422
/close in favor of kubernetes/enhancements#2879

[2021-08-19 19:53] alculquicondor commented on #104422
/close

[2021-08-19 19:54] #104422 closed

[2021-08-19 19:57] khenidak commented on #104242
This needs somebody from EKS/AWS to look at. This is feature is implemented via calls to cloud provider that talks to cloud control plane to limit the source range.

@aojea  do you know who can help help?

/remove-sig network

[2021-08-19 19:58] khenidak commented on #104088
/assign @khenidak

[2021-08-19 20:07] thockin commented on #104406
/triage accepted

[2021-08-19 20:10] thockin commented on #104388
I don't think kube-proxy is fundamentally different, but lots of bugs have been fixed.  Nothing that stands out as THIS bug, though.

Are you using iptables or IPVS mode?

I agree that the logs are the best starting point - do you have logs around that time?

[2021-08-19 20:10] fedebongio commented on #104452
@stbenjam would you consider sending a PR to fix it?
/assign @DangerOnTheRanger
/triage accepted

[2021-08-19 20:11] fedebongio commented on #104457
/assign @DangerOnTheRanger
/triage accepted

[2021-08-19 20:11] fedebongio commented on #104358
/triage accepted

[2021-08-19 20:11] fedebongio commented on #104439
/triage accepted

[2021-08-19 20:12] MikeSpreitzer opened #104462 "Problems with comments in apiserver/pkg/storage/cacher/cacher.go and watch_cache.go"
#### What happened:
I tried reading those files and noticed some issues in the comments.

- https://github.com/kubernetes/kubernetes/pull/75879 removed the field `Type` from the struct `Config` but did not update the comments that refer to the now-absent field.
- The comment on the `incomingHWM` field of `Config` does not explain what quantity is being high-water-marked.  The word "incoming" looks

[2021-08-19 20:13] thockin commented on #104352
+1 - change the beta promotion, but to what?  "wait until 6 months have passed"?

Anyway, I guess we can close this issue?

[2021-08-19 20:13] #104352 closed

[2021-08-19 20:13] thockin commented on #104305
/triage accepted

[2021-08-19 20:14] #104273 closed

[2021-08-19 20:15] alculquicondor opened #104463 "Race detected in pkg/kubelet"
#### Which jobs are flaking:

`pull-kubernetes-unit`

#### Which test(s) are flaking:

`pkg/kubelet`

/sig node

#### Testgrid link:

The overall TestMain is failing:

Sample failure:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100720/pull-kubernetes-unit/1428427896606691328

#### Reason for failure:

race detected.

[2021-08-19 20:19] stbenjam commented on #104452
@fedebongio https://github.com/kubernetes/utils/pull/216 is the PR to fix

[2021-08-19 20:23] Pravenn18 commented on #104457
Can anyone tell me who is the mentor in Kubernetes,please

[2021-08-19 20:23] bschofield commented on #45419
I just experienced this issue with Kubernetes 1.22.0, running on Ubuntu 20.04.3, when using the Ubuntu-provided _docker.io_ package (docker 20.10.7, containerd 1.5.2, runc 1.0.0~rc95).

For me, it appears to have been fixed by switching to the official Docker repo (docker 20.10.8, containerd 1.4.9, runc 1.0.1).

[2021-08-19 20:28] jdef opened #104464 "apiserver admission: serviceaccount mutates pod.spec w/o notifying reinvocation-context"
#### What happened:
* my mutating webhook calculates a hash of the pod.spec, allows reinvocation; no side effects
* my validating webhook validates the hash of the pod.spec and fails because the pod.spec has changed
* webhook auditing indicates that my webhooks are the only ones processing the pod.spec
* upon serializing the spec to JSON for both the mutator and validator, the only change is relat

[2021-08-19 20:32] thockin commented on #104252
I confirm I can repro this.  From pkg/controlplane/reconcilers/instancecount.go:

[code]

That's not super helpful.  It looks like that code INTENDS to fix ports, but it's not obvious at a glance why it doesn't.  Oh.  That's WAY up-stack in pkg/controlplane/controller.go:

[code]

I don't immediately see why that can't be `true` (or frankly, why it is a param at all).  Some archaeology may be need

[2021-08-19 20:35] thockin commented on #104234
I *swear* we added code to dump the ruleset when this happens, but I don't see it any more.

[2021-08-19 20:37] #104452 closed

[2021-08-19 20:38] jdef commented on #104464
/sig api-machinery

[2021-08-19 20:40] MikeSpreitzer commented on #104457
I don't know about a single designated mentor.  I will be happy to help anyone working on this issue.

[2021-08-19 20:45] #104406 closed

[2021-08-19 20:45] manugupt1 commented on #102822
AL2 also does not come with buildx built in and I landed in with the same issue.

[2021-08-19 20:52] thockin commented on #99451
@skmatti and @freehan - did we move this ?

[2021-08-19 20:52] thockin commented on #104110
ping @aojea

[2021-08-19 20:55] thockin commented on #104329
Please don't triage/accept issues unless you're SURE they are your sig's.  This fell through cracks.

[2021-08-19 21:07] bridgetkromhout commented on #104394
Related: https://github.com/kubernetes/kubernetes/pull/104395

[2021-08-19 21:08] bridgetkromhout commented on #104329
/assign @khenidak

[2021-08-19 21:16] jdef commented on #104464
cc @liggitt @sttts

[2021-08-19 21:18] uablrek commented on #101968
/remove-lifecycle stale

[2021-08-19 21:19] uablrek commented on #101968
@thockin Please comment on https://github.com/kubernetes/kubernetes/issues/101968#issuecomment-843272392

[2021-08-19 21:21] jayunit100 commented on #98302
TLDR i think this issue is frozen mostly bc the effort required to reach consensus isnt worth the gain...
I have a   docs PR for this https://github.com/kubernetes/website/pull/28147/files#diff-cf41062ebff432932ae2a9aaa18e815626e7ad97ce7a1125cbed9a30bc8c21a6

[2021-08-19 21:22] uablrek commented on #100925
/remove-lifecycle stale

Waiting on comments on PR https://github.com/kubernetes/kubernetes/pull/97081

[2021-08-19 21:22] aojea commented on #104110
10 mins seems to short, this failure is just for 3 seconds

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-slow/1427912281835966464

[code]

@spiffxp @BenTheElder @MrHohn , you have more insights in GCE, should we bump the 10 mins timeout?

[2021-08-19 21:22] jayunit100 commented on #98302
can we close this in lieu of the above docs update ? ^

[2021-08-19 21:27] jayunit100 commented on #58624
i think abhishek and others are looking at this
/unassign

[2021-08-19 21:30] jayunit100 commented on #102314
can we merge the above so that we can close this issue?

[2021-08-19 21:32] khenidak commented on #104329
this **does not** repo on:
[code]
Here is what i did:
1. Create service (the same one above) `kubectl create -f <service>`
2. Edit the service and change to `.Spec.Type = ClusterIP` => OK
3. Edit the service and change to   `.Spec.Type = ExternalName` => OK

I have also performed step 3 using `kubectl replace -f ./<service>` and the result is also OK

/triage needs-information

[2021-08-19 21:34] dprotaso commented on #104329
I was using client v1.2

[2021-08-19 21:44] MrHohn commented on #104110
Humm, is this a new test group? I wonder if this has been flaky before or something changed recently. In general if there are multiple LB operations happening in the same network/project I would say 10 mins are probably not enough. Looping in @swetharepakula @freehan for thoughts.

[2021-08-19 21:46] khenidak commented on #104329
please do. And also please share the exact steps you used were you using kubectl edit? or replace? or patch?

[2021-08-19 21:47] neolit123 commented on #104462
/sig api-machinery

[2021-08-19 21:51] tallclair commented on #64801
I think we can close this, since PSP is marked as deprecated and targeting removal in v1.25

[2021-08-19 21:51] #64801 closed

[2021-08-19 21:55] Arkessler commented on #57660
I would personally see a ton of value in exposing the interval knob. I'm not sure I understand why it's reasonable to expose
[code]
but "leaking implementation details" to add a more tunable metric threshold. At my org we tune our prometheus queries and alerts to different levels of sensitivity in different environments, requiring different thresholds and threshold durations for different ones to

[2021-08-19 22:02] tallclair commented on #103923
@sftim good idea. Filed https://github.com/kubernetes/website/issues/29479

[2021-08-19 22:05] liggitt commented on #104464
interesting... defaults are applied when going from versioned → internal

1. API server decodes v1 Pod request → applies defaults → converts to internal Pod
2. Built-in admission control operates on the internal Pod
  * service account admission injects the kube-api-access volume
3. Mutating admission is called
  * internal Pod → converts to v1 Pod → serializes → sends to mutating webhook
  * muta

[2021-08-19 22:07] liggitt commented on #104464
Possible solutions:
1. ensure defaults are applied to the internal → versioned object before invoking webhooks
2. ensure built-in admission always populates data matching default values for unset fields

[2021-08-19 22:08] liggitt commented on #104464
As an aside, I'm not sure what you're using the hashing for, but be aware that hashing is fragile in the presence of defaults and new fields added over time. A hash you add to a pod spec in one release might not match a hash computed in a different release, or with different admission in place.

[2021-08-19 22:15] dprotaso commented on #104329
It's in the description - kubectl apply

[2021-08-19 22:33] eddiezane commented on #104417
This is because that field is a [Quantity](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#quantity-resource-core) and you're seeing a side effect of how they are serialized. Best practice is to use the suffix form.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#metrictarget-v2beta2-autoscaling

/close

[2021-08-19 22:33] #104417 closed

[2021-08-19 22:37] tallclair commented on #103213
@liggitt that makes sense, but we might want to key off the controller in addition to the error messages. E.g.
[code]
or is that getting too verbose?

[2021-08-19 22:40] khenidak commented on #104329
/triage accepted - working on a fix.

[2021-08-19 22:41] khenidak commented on #104329
/triage accepted
working on a fix

[2021-08-19 22:41] tallclair commented on #84248
/remove-lifecycle stale
/lifecycle frozen

This needs a lot more discussion, but could have a lot of value.

[2021-08-19 23:03] swetharepakula commented on #104110
I agree with @MrHohn, I think at least 15 min would be necessary. Depending on the number of parallel operations it could go up to 45 min, but I am doubtful these tests will need that.

[2021-08-20 02:35] pacoxu commented on #104463
[code]

No race details found in the CI logs.

[2021-08-20 02:43] pacoxu commented on #92674
/remove-lifecycle stale

[2021-08-20 04:54] RinkiyaKeDad commented on #104461
/assign

[2021-08-20 05:12] #95051 closed

[2021-08-20 05:58] ObserverYu commented on #76531
docker18.06.1-ce
kubernetes 1.17
centos7.5

[2021-08-20 05:59] cheftako commented on #104457
I would suggest either attending a SIG (Eg. APIMachinery or Storage) meeting which interests you and seeing what that SIG has as far as getting new contributors up to speed or reach out to ContribEx.

[2021-08-20 05:59] ObserverYu commented on #76531
巧了....这里居然能看到你, 大神

[2021-08-20 06:00] ObserverYu commented on #76531
巧了, 这里居然能看到你,大神..... @unizhu

[2021-08-20 06:01] zhxjdwh commented on #43916
I also have the same issue in my k8s 1.15 cluster!!!!!!! any news regarding the issue????????

[2021-08-20 06:02] jingxu97 commented on #49053
/remove-lifecycle rotten

[2021-08-20 06:06] JaneLiuL commented on #104432
But I check it already have a warnging events if secret not exist and pullImageFail:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/images/image_manager.go line:147

[2021-08-20 06:44] Shreya027 commented on #104419
Hi,

Just following up on the issue. I tried running the command  `kubectl explain mesh` with CRD version v1beta with `CRD_OPTIONS ?= "crd:trivialVersions=true,crdVersions=v1beta1,preserveUnknownFields=false"`. The explain functionality works for me as shown below, but some of the unknown fields get dropped as expected.

[code]

If I set `preserveUnknownFields=true`  in CRD_OPTIONS for v1beta, I a

[2021-08-20 07:10] rottenbytes commented on #81089
👍  on this

[2021-08-20 07:43] melvio commented on #56402
/remove-lifecycle stale

[2021-08-20 08:30] adisky commented on #104463
/triage accepted.
It has failed on multiple PR's with same error
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit?buildId=1428494756425502720

[2021-08-20 08:30] adisky commented on #104463
/triage accepted

[2021-08-20 08:31] RichardoC commented on #104252
This was created automatically for a service (kubernetes service in default namespace for this example)

[2021-08-20 08:34] 249043822 opened #104471 "kubelet may create multiple running containers while restarting a container"
#### What happened:
 kubelet may create multiple running containers while restarting a container
can produce like below
[code]

#### What you expected to happen:
kubelet should compare pod spec with containerstatus in sync process, kill unwanted running containers
#### How to reproduce it (as minimally and precisely as possible):
can produce like below
[code]

#### Anything else we need to know?:

[2021-08-20 08:36] 249043822 commented on #104471
/sig node

[2021-08-20 08:56] arsley opened #104473 "Found a typo on kubectl describe -h"
#### What happened:

I tried to see `kubectl describe -h`, found a typo on Examples section:

[code]

#### What you expected to happen:

It has to be `pods` not `po`.

[code]

#### How to reproduce it (as minimally and precisely as possible):

Just run `kubectl describe -h` .

#### Anything else we need to know?:

There may be similar typos in other commands.

#### Environment:

- Kubernetes versi

[2021-08-20 08:56] Pingan2017 commented on #104432
Now, only info message when image not exist
https://github.com/kubernetes/kubernetes/blob/175776d25a5cf007c1fe1294097a8bf8e8b90e28/pkg/kubelet/kubelet_pods.go#L891-L895

[2021-08-20 08:58] arsley commented on #104473
/sig cli

[2021-08-20 09:01] Pingan2017 commented on #104432
maybe direct return and not enter `syncPod` is better.
`return` if pullSecret is not existed
https://github.com/kubernetes/kubernetes/blob/175776d25a5cf007c1fe1294097a8bf8e8b90e28/pkg/kubelet/kubelet.go#L1725-L1729

@kubernetes/sig-node-bugs

[2021-08-20 09:10] kwon14 opened #104474 "Is there a way to disable GPU for CPU pods?"
Hello.
I am running a GPU server by referring to the document https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/.
I have found that GPU is used in DL work with Jupyternotebook by creating a virtual environment of CPU pod on the GPU node as shown below.
Obviously there is no nvidia.com/GPU entry in Limits, Requests, so I don't understand that GPU is used.
     Limits:
       cpu: 2

[2021-08-20 09:26] red-chen opened #104476 "ConfigMaps: why not support partial reload when Kubernetes ConfigMaps are updated ？"
#### What would you like to be added:

- Partial reload
- It takes effect in multiple batches, and there is a time interval between each batch

#### Why is this needed:

We do not expect to use such a heavy operation as a restart when making configuration changes, so partial validation allows for quick configuration error awareness.

[2021-08-20 09:35] #104476 closed

[2021-08-20 09:43] kerthcet commented on #104473
`po` is short for `pods`  as `svc` responsing to `service`.

[2021-08-20 10:00] Volatus commented on #56402
/assign @Volatus

[2021-08-20 10:03] adisky commented on #104463
Not able to reproduce locally, but seeing the data race in  CI `TestVolumeUnmountAndDetachControllerDisabled()`
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/104368/pull-kubernetes-unit/1428640022386446336#1:build-log.txt%3A2364

[2021-08-20 10:04] adisky commented on #104463
but this seems duplicate of https://github.com/kubernetes/kubernetes/issues/104057

[2021-08-20 10:07] kerthcet commented on #104432
if you pull image from  a public repo, the process should not be impacted even no secrets exists. And it's what it is right now.

[2021-08-20 11:15] adisky commented on #104432
I think a warning event `FailedToRetrieveImagePullSecret` could be added here
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L655
/good-first-issue
/triage accepted

[2021-08-20 11:30] christoph-buente commented on #76928
/remove-lifecycle rotten
I think this problem has not been addressed appropriately. I like the fact that i can see which users did what API call on the API endpoints. But it is a fairly important information what the callers IP address was. It is not really helpful to find either `127.0.0.1` or the private IP of the load balancer like `10.200.x.x` in the logs. We're using an AWS classic loadbalanc

[2021-08-20 11:34] adisky commented on #75482
@liyanzhao The issue we were working on were kind of similar, right?

[2021-08-20 11:35] #104427 closed

[2021-08-20 11:51] alpana17 opened #104479 "I am not able to launch nodegroup with custom eks 1.21.2 AMI"
I launched a cluster with eks 1.21
When I try to launch a nodegroup with custom AMI with cmd: eksctl create nodegroup --config-file C:\Users\alsingha\Desktop\ImageFactory\eks\cluster.yaml
here is cluster.yaml
apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: alp-cluster-121-north-virginia
  region: us-east-1

vpc:
  sharedNodeSecurityGroup: sg-0d37341a371473e33
  manageSharedNo

[2021-08-20 12:39] ppp0 commented on #19825
In can confirm, seeing same discrepancy. on k8s v1.19

* `kubectl describe pod` shows reason for restarted pod is `OOMKilled`
* kubelet.go log trace shows repeated problems with liveness probes until threshold is reached and pod restarted
* No other signs of OOM killer activity and likely not the reason

[2021-08-20 14:00] yxxhero commented on #104454
/assign

[2021-08-20 14:16] artb1sh opened #104480 "make common sidecar for all pod in the cluster"
Hi, could you please make common sidecar for all pod in the cluster

#### What would you like to be added:
shared one sidecar for many any pods
#### Why is this needed:
utilization resource

[2021-08-20 14:23] artb1sh commented on #104480
/sig Architecture

[2021-08-20 14:26] fulviodenza commented on #103909
I would love working on this feature, if approved, I ask to implement this condition. I find it very useful

[2021-08-20 14:38] AntonSmolkov commented on #97445
@ScottShingler
In your examples `throttled_time` inreases because `apt update -y && apt install -y stress-ng` are multithreaded.

This workload(without apt) shows no throttling:
[code]
respectively ` command: ["/bin/bash", "-c", "apt update -y && apt install -y stress-ng && cat /sys/fs/cgroup/cpu/cpu.stat"]`
 (no stress-ng run) shows throttling

[2021-08-20 14:59] #100895 closed

[2021-08-20 15:03] endocrimes commented on #104459
/sig node
/triage accepted
/priority important-soon

[2021-08-20 15:07] AntonSmolkov commented on #97445
@mosheavni  Are you sure that this node app is completely single-threaded? Cause  single-threaded `stress-ng` doesn't show any throttling.

For multi-threaded  apps this is expected behaviour.
RedHat has written an article about it - [CFS quotas can lead to unnecessary throttling in OpenShift Container](
https://access.redhat.com/solutions/6041381
)

[2021-08-20 15:13] ioanc commented on #89173
hello;
we have seen similar behavior after upgrading K8s from 1.18.15 to 1.19.8.
But the pods are starting and able to use the storage with success.
When describing the pod, we see the specific warning event

Type: Warning
Reason: FailedAttachVolume
From: attachdetach-controller
Message:  AttachVolume.FindAttachablePluginBySpec failed for volume "pvc-xxx"

Restarting the pod makes the warning to g

[2021-08-20 16:06] kerthcet commented on #104432
/assign @EricWvi

[2021-08-20 16:08] apelisse commented on #104419
I would strongly suggest we don't invest too much time on this right now, since @Jefftree is working on some related improvements that will help build better versions of explain.

[2021-08-20 16:20] zxh326 commented on #104480
you can use `Admission Webhook` to inject sidecar for all pods

[2021-08-20 16:59] robscott commented on #91072
/reopen
/remove-lifecycle rotten

[2021-08-20 17:09] liggitt commented on #100119
/reopen

[2021-08-20 17:18] khenidak commented on #103184
/assign @khenidak

[2021-08-20 17:19] #100284 closed

[2021-08-20 17:35] khenidak commented on #102698
@aojea  I don't think kubernetes/enhancements#2593 should fix this, specially when should? limit the scope to `additive` only.

This behavior is very similar to changing service cidrs. The cluster can not resolve such as a change specially for an immutable field `node.spec.cidrs`

For the sake of discussion the same behavior will exist if you have a single stack cluster with `pod-cidrs=["10.0.0.0/

[2021-08-20 17:39] khenidak commented on #102698
/assign @khenidak

[2021-08-20 17:41] arsley commented on #104473
I didn't notice that `po` is the shorthand, sorry :bow:
I think this issue can close, but only this example showing on `kubectl describe -h` uses shorthand.
It's strange for newbie (like me).

[2021-08-20 17:41] #104473 closed

[2021-08-20 17:41] howardjohn commented on #90066
Just another data point. We were seeing our mutating webhooks take up to 15s, which is crazy - should be milliseconds typically. The root cause was managedFields. Simply removing the managedFields from our patching logic dropped the slow requests to ~500ms (the bad case was a config near etcd size limits, so much slower than normal). https://github.com/istio/istio/issues/34799

[2021-08-20 17:44] JonathanRRogers commented on #81089
You are correct that Postgres doesn't automatically re-read the cert file. In my setup, it doesn't seem to re-read the cert file even when I send it SIGHUP. I'm using Postgres 9.5 and the documentation doesn't mention re-reading SSL files until version 10. My use isn't for production. I'll probably figure out a system to notify me when Postgres needs to be manually restarted.

[2021-08-20 17:47] luisdavim commented on #90066
yeah, this is the sort of things I'm really concerned about, not the output of `kubectl`...

[2021-08-20 17:54] alvaroaleman commented on #90066
But is "My patch computation is very slow because it looks at the entire object instead of just at subset that is actually relevant" really something to reasonable blame the existence of managed fields for?

[2021-08-20 17:56] khenidak commented on #101968
@uablrek spot on. if the client has a session TCP or SCTP What will happen is:
1. whatever node they are connected to will detect endpoint out of set. Then it removes iptables entries + clear iptables.
2. new packets coming in will be dropped (we don't send ICMP destination unreachable iirc for cstate==INVALID).
3. client - because it is a stateful connection - will go try to resend and eventually

[2021-08-20 17:58] howardjohn commented on #90066
Sort of? I mean it worked fine up until managedFields were added, then it (subtly) started behaving really slowly due without changes on our side. I am not here to say "managedFields are bad" or anything, just that they negatively impacted us in this niche edge case scenario, and may negatively impact others if they have similar logic. If they do, I hope they see this comment and the fix (https://

[2021-08-20 18:05] khenidak commented on #101393
/cc

Clients does not need to be recompiled. The client sends the entire field that has changed when patching. in this case it is `valueOf(.spec.ports)`. The server however tries to be clever when merging based on key set. Since the key was just port you will end with one entry. I will create a PR to see it in action.

[2021-08-20 18:19] #94280 closed

[2021-08-20 18:24] PatrickOsborne commented on #87733
same problem here, and the workaround outlined above doesn't work either.

[2021-08-20 18:28] alexec commented on #90066
IMHO - it is correct to blame managed fields. Any change that increases payload sizes by at least 2x and commonly 3x will directly produce performance degradation. I assume this was clear to the engineers who designed and implemented this, and that they felt the benefits outweighed the costs.

Myself, I can't really see any tangible. The downsides, such poor developer and user experience, performa

[2021-08-20 19:43] pjbgf commented on #82647
/remove-lifecycle stale

[2021-08-20 19:58] pjbgf commented on #82647
Ticking "Reduce dependencies in the base image" off as the dashboard is based off scratch for a while now.

[2021-08-20 19:59] Huang-Wei commented on #103909
Are your nodes located in one AZ? or across multiple AZs? or you want an external component (like cluster autoscaler) to provision a new node for the unschedulable pod to land on?

[2021-08-20 20:29] ahg-g commented on #98746
/close

This is now done.

[2021-08-20 20:29] #98746 closed

[2021-08-20 20:35] shivrajjadhav733 opened #104487 "pod disruption budget allowed disruptions not deleted along with pod"
#### What happened: I have an application which is deployed on kubernetes. There are 4 pods running:  PodA-123, PodB-456 and PodB-123, PodB-456
When I start application, I initialize 4 pods. I have matching labels configured in both deployment and pdb yaml configurations. Based on that when I run command kubectl get pdb, i see two pdb (one for podA and another for podB)
"Min Available -> 1 and All

[2021-08-20 20:45] seans3 commented on #104380
For more context: the `cacheRoundTripper` is implemented in the `CachedDiscoveryClient`. This error message is printed when this cached discovery client encounters a timeout, and tries to cancel the request. The `CommandHeaderRoundTripper` is wrapped by the `cacheRoundTripper`, and it it unable to propagate the `CancelRequest` because the `CommandHeaderRoundTripper` does not implement `CancelReque

[2021-08-20 20:51] ahg-g commented on #92143
I think we need a KEP to remove this since it will cause doc updates and whatnot.

[2021-08-20 20:56] ahg-g commented on #96748
/close

[2021-08-20 20:56] #96748 closed

[2021-08-20 21:02] bitglue commented on #43916
Nope!!!!!!!!! But thanks for pinging 54 people who are subscribed to this issue??????????

[2021-08-20 22:20] khenidak commented on #102613
@aojea  does all CRI implement that api?

[2021-08-20 22:27] mbrancato commented on #101351
/remove-lifecycle rotten

[2021-08-20 22:45] khenidak commented on #102314
@jayunit100 not just yet :-)

wouldn't signal registration and calling clean-up would at least clean things up on graceful shutdown? Granted rules will not be there until kube-proxy is restarted.

[2021-08-20 22:51] khenidak commented on #95570
/cc

[2021-08-20 23:02] khenidak commented on #55405
I don't think we should be implementing this. Parsing the entire response in order to identify a certain health signal just adds complexities we don't need. Take the following examples:

- container x returns some large response. That is an added load on kubelet health check go routines.
- What happens to failures? e.g. we couldn't find string `xyz` or header `abc` these needs to be logged somewhe

[2021-08-20 23:05] khenidak commented on #47249
https://github.com/kubernetes/kubernetes/pull/104486

[2021-08-20 23:23] fulviodenza commented on #102573
Is this issue still open? If nobody work on it I'd like to work on this issue as my first issue

[2021-08-21 01:54] mcwumbly opened #104491 "Ability to use image references with literal IPv6 address as domain"
#### What happened:

1. setup a private IPv6 registry (e.g. Docker or Harbor) which has both FQDN and IPv6 address.
2. prepare an example app yaml file which image will be pulled from the registry.
3. app can be created successfully when image URL starting with FQDN:
[code]
4. app can not be created when image URL starting with IPv6 address.
[code]

pod status is `InvalidImageName` and events show

[2021-08-21 02:51] andrewsykim commented on #104491
@aojea @khenidak does this issue ring any bells?

[2021-08-21 03:34] calvin0327 commented on #104432
I would like work on this.
/assign @EricWvi

[2021-08-21 03:37] calvin0327 commented on #104432
I would like to work in this.
/assign

[2021-08-21 03:48] kerthcet commented on #92143
I'm glad to write the KEP if no one else is working on this. However, since it's my first time to write KEP, I think I will spend more time than familiar ones.

[2021-08-21 04:24] VR-Architect opened #104492 "Looking for healthz in v1.22.0 when it is deprecated"
I am doing a new install of a high available k8s cluster. When I run the init command, it fails to start and looks like it is not able to get to a healthz endpoint. According to the docs, it says this was no longer used. OS: Ubuntu 20.04.2 LTS running on metal.

[code]

[code]

[code]

[2021-08-21 09:13] doubletao318 opened #104493 "NodeUnstageVolume not called after node restart"
#### What happened:
Precondition： Use CSI to create deployments within FC Protocol
step 1. Create some deployments on the Node1
step 2. Shutdown the node1
Step 3. After the deployments migrate to other Nodes(the state of the origin depolyments is Terminate)
Step 4. Power on the host
After these steps, the CSI recieved lots of ControllerUnpublish RPC, but no NodeUnstageVolume and NodeUnpublishVolum

[2021-08-21 09:21] doubletao318 commented on #104493
/sig storage

[2021-08-21 09:45] aojea commented on #104491
Great description by the way, it's interesting, it looks to me that the right fix is in the docker library so the whole container ecosystem is consistent about that ...
Let me try to move forward with one of those PRs
/assign
/triage accepted

[2021-08-21 09:48] aojea commented on #102613
That's the proposal, introduce the new API and work with runtimes to implement it

[2021-08-21 12:50] yxxhero commented on #104454
@s4mur4i  I have a quesion. when the oom killer, why your init container exit code is 0.

[2021-08-21 14:25] #7923 closed

[2021-08-21 15:02] yuswift commented on #104492
/sig docs
duplicate https://github.com/kubernetes/kubernetes/issues/104230

[2021-08-21 16:09] VR-Architect commented on #104230
This fixed the error from showing for me. Change Docker from cgroupfs to systemd. Would this  be good to add to the docs as a step for installation to do this?

Of course, now I have a different error regarding the cni config uninitialized, but that's a different issue.

[code]

reference: https://stackoverflow.com/questions/43794169/docker-change-cgroup-driver-to-systemd

reference: https://githu

[2021-08-21 16:25] #95005 closed

[2021-08-21 16:43] yuswift commented on #104230
I guess we need to open an issue for https://github.com/kubernetes/website.

[2021-08-21 16:55] mcwumbly commented on #104491
good point. here's a couple other quick tests that show the same underlying issue:

[code]

[code]

(updating original post to include this context as well)

[2021-08-21 18:41] nicomitchell commented on #98213
@BenTheElder Would it be okay if I took a look at setting up the script to find these? And would it be best to find all examples of loop variable usage or just the ones using `ginkgo.It`?

[2021-08-21 19:22] thockin commented on #90922
I don't think we want to fix the existing allocator, but instead get the
newer proposal working and it SHOULD (if I understand) cover this use
case.  E.g. you would add a new config with the same base and a different
mask, and somehow that should be preferred (need to figure that out?)

On Sun, Aug 8, 2021 at 1:33 PM Antonio Ojea ***@***.***>
wrote:

[2021-08-21 20:52] aojea commented on #102698
is it better to break an entire cluster or have a cluster running with a misconfigured node?

[2021-08-21 21:20] mattmoor opened #104495 "UpdateWithEventNamespace appears to be missing namespace check"
#### What happened:

Reading through the code, I noticed that the [`UpdateWithEventNamespace`](https://github.com/kubernetes/client-go/blob/590eaed90a85421cb0c4815c5a9647a09f1ce5a2/kubernetes/typed/core/v1/event_expansion.go#L63-L78) method in the `EventExpansion` is missing a check that's in the `Create` and `Patch` variants (and is inconsistent with the comment):

[code]

The relevant bit from t

[2021-08-21 23:25] #100192 closed

[2021-08-21 23:30] thockin commented on #103000
Revisiting this.  My summary:

* kube-proxy iptables does affinity per-client, per-port.  No cross-port affinity.
* kube-proxy IPVS is documented to do affinity per-client, per-port, but it's not clear if reality matches the docs.  Need clarity.
* Do we know what other implementations do for this?  @howardjohn?  @tgraf?
* The feature request is to enable cross-port affinity.
* To really make this

[2021-08-22 00:55] liggitt commented on #104432
Thanks for wanting to jump in on this, but it's not clear this is a good first issue… making the proposed change would break deployments/pods that are currently working/running, so it's unlikely this would be acceptable from a compatibility perspective.

[2021-08-22 00:56] yxxhero opened #104496 "Add error handler for podContainerChanges.ContainersToStart in kubelet"
#### What would you like to be added:
https://github.com/kubernetes/kubernetes/blob/3a26b864f4e17a6b7e0e673f583a551820a25b36/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L929
add error handler for  podContainerChanges.ContainersToStart in kubelet
#### Why is this needed:
Errors should be actively handled in golang. Thanks very much

[2021-08-22 00:57] yxxhero commented on #104496
/sig node

[2021-08-22 00:59] liggitt commented on #104432
Requiring image pull secrets to exist would have to be opt-in, which means an API change. I don't think this is worth the addition, but would like to hear sig-node's perspective.

An alternative could be to explore ways to make it more obvious to the user when this situation was occurring without automatically failing the pod

[2021-08-22 01:08] liggitt commented on #104419
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/95702#issuecomment-713548542 and is intentional / necessary for compatibility with kubectl.

Unfortunately, publishing any schema details causes kubectl to start enforcing client-side validation, which effectively breaks kubectl create/apply when sending a resource containing fields not represented in the schema.

In ot

[2021-08-22 01:18] liggitt commented on #104415
/sig auth

Cross namespace secret references are intentionally not permitted in the API. The actor fetching the secrets (the kubelet) is authorized based on the secret reference in the pod alone. Pods are created by a variety of actors, including controllers that act across namespaces. The permissions of the user originating the pod spec are not usable for performing cross-namespace authz checks a

[2021-08-22 02:15] kerthcet commented on #104432
hi @liggitt , we will not fail the pod, we just want to add some warning to make it obviously, maybe it's the same as you advised. correct me if not. 🧐

[2021-08-22 02:47] rahulkjoshi commented on #90922
Yes Tim is right. You would delete the old config -- the finalizer preserves the config until the last Node using that range goes away, but it becomes un-allocatable. Then you add your new config and restart all the nodes to use the new cidr size.

[2021-08-22 05:16] MikeSpreitzer opened #104500 "client-go/tools/record/ tests use IntervalClock"
#### What happened:
While cleaning up the divergence in clock packages it came to my attention that many methods of IntervalClock panic.  In fact, IntervalClock is an honest implementation of only PassiveClock, not the full Clock interface.  In k8s.io/utils/clock/testing we now have SimpleIntervalClock, which statically implements only PassiveClock and does so without any panics.  So I went lookin

[2021-08-22 05:16] MikeSpreitzer commented on #104500
@kubernetes/sig-api-machinery-bugs

[2021-08-22 05:18] jiaozh8 opened #104501 "I use China's azure file, and I expect the mount to be chinacloudapi.cn instead of windows.net"
I deployed the Kubenetes cluster in azure vm, the version is 1.17.9, now based on the StatefulSet deployment service, need to use azure file, I first create a secret, then create a storageclass and pv, pvc is defined in the helm template

create secret
[code]
create StorageClass
[code]

create pv
[code]

My problem is that the viewing pod fails to start. The reason is that the azure endpoint is no

[2021-08-22 05:18] MikeSpreitzer commented on #104500
/cc @derekwaynecarr

[2021-08-22 05:20] MikeSpreitzer commented on #104500
/cc @ash2k
/cc @apelisse

[2021-08-22 05:21] MikeSpreitzer commented on #104500
/cc @olagacek

[2021-08-22 05:22] uablrek commented on #103000
Add;
* If ecmp on between nodes is used service affinity can't be guaranteed

For IPv4 it "should work" with the default (L3);
[code]
For IPv6 it becomes more complex since the "flow label" is included;
[code]

[2021-08-22 05:36] jiaozh8 commented on #104501
/sig cloud-provider

[2021-08-22 05:42] uablrek commented on #103000
Next step for `ipvs` should be to check the kernel source. I have not done that for like >8years, perhaps @andrewsykim can take a look at it?

My experiment described in https://github.com/kubernetes/kubernetes/issues/103000#issuecomment-870746060 gives that `ipvs` _has_ service affinity, but the documentations says that is doesn't (but not very clear imho).

[2021-08-22 05:49] uablrek commented on #103000
Linux kernel `auto_flowlabels`:
[code]

[2021-08-22 07:05] smb-h commented on #60140
This problem made me sick recently since i needed to move data for some reason. And none of above workarounds worked 100%. Not even more than 20% chance of success from what I've been experienced.
So finally i have found this service ([https://transfer.sh/]) that you can upload file via curl command and download it in the same way.
Easy to use and yeah problem solved for me! :)
Of curse there are

[2021-08-22 09:04] doubletao318 commented on #104493
@jsafrane Hi, is this a know issue? [https://github.com/kubernetes/kubernetes/issues/102779](url)

[2021-08-22 10:53] ash2k commented on #102231
I'd like to add that it's not only logs. I've seen some kubectl tests that use commands and then when there is an error, such test terminates the whole test process rather than a particular test, which is annoying. FWIW I support the idea of fixing this repo-wide. I suggest to identify all the components where this issue applies and send an email to corresponding SIGs to get their approval on this

[2021-08-22 11:57] sanposhiho commented on #102231
Hello, @ash2k

Okay.

Is it good to create issues for each component instead of email? It is easy to follow the latest status from here.

[2021-08-22 12:22] RFinland commented on #79365
Thank you so much <3 in minikube case just run "minikube start"

[2021-08-22 13:11] aojea commented on #103000
That is a big assumption hard to generalize, I think that this is much simpler to solve one layer above of Service, using Ingress or Gateway API.

[2021-08-22 13:23] ash2k commented on #102231
I think one issue (this one) should be enough to start the conversation.

[2021-08-22 13:44] sanposhiho commented on #102231
OK

---

I checked all entrypoints under /cmd, and these have this issue.

- cloud-controller-manager (sig/api-machinery, sig/cloud-provider)
- kube-apiserver (sig/api-machinery)
- kube-controller-manager (sig/api-machinery)
- kube-proxy (sig/network)
- kube-scheduler (sig/scheduling) (I've already created a PR for scheduler. #104503 )
- kubectl (sig/cli)
- kubectl-convert  (sig/cli)
- kubelet (si

[2021-08-22 17:09] kerthcet commented on #102231
hi @sanposhiho , I can provide some help if you needs. 🧐

[2021-08-22 18:52] s4mur4i commented on #104454
@yxxhero the init process is the shell script. the oom killer kills the forked process of stress tester, and it continues the script. next step is to exit 0 in the if process.
wth error handling this can be caught, but my problem is, if there is a 0 exit code, and init process isnt oom killed, why is there a reason of oomkilled.

[2021-08-22 19:23] javajon commented on #79606
If this could work, the experience would make it consistent with Deployments.

[code]

However, since statefulset READY status relies on (x/n):

[code]
it follows that there is a workaround by comparing consensus between replicas to readyReplicas:

[code]

Above suggestion (@joshlk ) for rollout status may not always apply:

[code]

[2021-08-22 20:26] aojea commented on #100895
A quick  grep to the current API fields with IP or CIDR in their description or name

[code]

[2021-08-22 22:49] yxxhero commented on #104454
@s4mur4i  when you use shell scripts, you should add `set -e`. kubelet will collect the status of init container. when init container is oomkilled, the container status will save the oom kill message.

[2021-08-22 23:55] imoisharma commented on #104479
Hi @alpana17, there are some common troubleshooting solutions for you.

### Nodes fail to join the cluster:
There are a few common reasons that prevent nodes from joining the cluster:

- The [aws-auth-cm.yaml](https://docs.aws.amazon.com/eks/latest/userguide/add-user-role.html) file does not have the correct IAM role ARN for your nodes. Ensure that the node IAM role ARN (not the instance profile A

[2021-08-23 00:09] jiaozh8 commented on #104501
I don’t know GetCloudProvider() cloudprovider.Interface, where is the value passed from this function, how to set parameters or deploy a new service,thx

[2021-08-23 00:27] christopherhein opened #104505 "🐛 Quota Admission CheckRequest returns error vs pkg/api/errors"
#### What happened:

When using PriorityClasses and Resource quotas if there is insufficient quota in a specific priorityclass it will return `fmt.Errorf` instead of using `pkg/api/errors` this means when it's passed down to the response handler it has to construct the `metav1.Status` object. This also then emits a log line like:

[code]

#### What you expected to happen:

The admission controller

[2021-08-23 02:08] cofyc commented on #88150
/reopen
/help
It's worth finish it.

[2021-08-23 02:09] cofyc commented on #88150
/remove-lifecycle rotten

[2021-08-23 02:12] cofyc commented on #88150
/help

[2021-08-23 02:32] wzshiming commented on #104495
/assign

[2021-08-23 02:40] wzshiming commented on #104495
Good catch, this like #78482

[2021-08-23 02:57] wzshiming commented on #104492
Please look carefully at the second half of the truncated log. I guess it should be a different cgroup driver configured by docker and kubelet.

[2021-08-23 04:42] adisky commented on #104432
To be clear here, only adding a warning is marked as good first issue here, not changing any pod behaviour.

[2021-08-23 05:37] sbwfnhn commented on #104034
Rocky 8.4, kernel-5.4, kubernetes v1.21.4 has the same problem。
···
hostNetwork: true
···

[2021-08-23 05:46] adisky commented on #82440
/assign
will try to reproduce first on latest containerd+runc+k/k

[2021-08-23 06:27] s4mur4i commented on #104454
@yxxhero I understand that. but according to the behaviour that is written, this is not expected outcome. The init container was not killed because of oom, just a single process.
There should be 2 expected behaviours:
Either there should be no `Reason: OOMkilled` printed, since it should only be when the main init process gets killed
Or the whole init container should fail if any process is caught

[2021-08-23 06:56] uablrek commented on #103000
Would that not require all ports to be directed to the same ingress controller? If so, that would return the requirement to service level. It can easily be accomplished though with a daemonset and `externalTrafficPolicy: Local` (except for the ecmp problem). Perhaps that is enough? If apps that need full service affinity can live with that constraint the problem is solved, or at least a work-aroun

[2021-08-23 09:23] changhuaixin opened #104516 "Use Linux CFS burst to get rid of unnecessary CPU throttling"
#### What would you like to be added:
Add [CFS burst](https://lore.kernel.org/lkml/162452036714.395.9249272896491500398.tip-bot2@tip-bot2/) configuration for pods' CPU limits

#### Why is this needed:
CPU throttling has been a headache for a long time. Even when pods' CPU utilization is far below its CPU limit, many long-tail cases still exist. Thus it is difficult for developers to choose the app

[2021-08-23 09:23] changhuaixin commented on #104516
/sig node
/kind bug

[2021-08-23 09:27] arekkusu opened #104517 "GCE node MOTD unhelpful: broken download link / reference"
#### What happened:

SSH'ed into a GKE node running on GCP and was welcomed by following MOTD message:

[code]

a) Noticed download link is not working, I suspect this storage bucket is no longer used (?)

b) Link to get Kuberntes source version does not work:

This should be following (without `-gke.501`)

#### What you expected to happen:

Working links :)

#### Anything else

This is defined in

[2021-08-23 09:46] cndoit18 commented on #104012
Hello, I tend to be influenced by the timezone of the control plane. can you provide more information?

https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2021-08-23 10:11] wojtek-t commented on #86484
/remove-lifecycle stale

[2021-08-23 10:23] bootc commented on #104012
My `kube-controller-manager` pods run with TZ=UTC. My local time zone is Europe/London which is currently 1h different, but this shouldn't be relevant as all my control-plane components run on UTC time.

[2021-08-23 10:30] graywolf-at-work commented on #104417
Ok, so 0.5 is serialized to 500m. But field with 500m is already there. So why
does it show the diff?

Is this really sensible behavior? It is confusing as fuck to the user.

[2021-08-23 10:35] vasily-22 commented on #48307
A flag to `kubectl drain` could indicate the user wants a `rollout` for all deployments to be initiated instead of evicting the pods. This will work with pods with PDB of 0 and can avoid downtime with single-pod deployments.

[2021-08-23 11:00] lajiao117 commented on #65233
client-go didn't give this api...

[2021-08-23 11:03] arekkusu commented on #104517
Pull request https://github.com/kubernetes/kubernetes/pull/104519 to remove  "-gke.*" from link to Github to make it valid.

Regarding the wrong download link to GKE source code release, I noticed that:
* When running on GKE the link has `kubernetes-release-gke` (GCS storage bucket name) while in OOS Kubernetes it is `kubernetes-release`. (So GKE is patched here)
  * I think `kubernetes-release-gk

[2021-08-23 11:07] Nebulazhang opened #104520 "apiserver audit async"
#### What would you like to be added:

Why not apiserver process audit event  asynchronously in Audit Hander Chain?

#### Why is this needed:

Except  "RequestReceived" type event,  other types events don't cause request fail.

But why not process audit event asynchronously?

We open audit handler, and apiserver request latency is higher.

If process audit event asynchronously, maybe can reduce so

[2021-08-23 11:12] leela-maheshwar commented on #103909
We have nodes present in all 3 AZ's.

[2021-08-23 11:56] adisky commented on #82440
@Nowaker Can you confirm which containerd version you are using? I tried to reproduce on containerd-1.5 and k8s 1.22 and I can see containerd spawning only one runc process to exec.
[code]

I have seen spike in cpu utilisation with 50 pods and liveness and readiness probes with the interval of 10 seconds, but not forking of multiple runc processes by containerd for single exec.

[2021-08-23 12:24] yhrunyk opened #104521 "Pods stuck in Pending status - kube-scheduler 1.19.13"
#### What happened:
After upgrading core k8s components from 1.18 to 1.19.13 we faced a problem with Pending pods. From time to time PODs(different deployments) are stuck in Pending status. From kube-scheduler logs, we see a new event that starts appearing after the upgrade. For example `Pod kube-system/prometheus-thanos-frontend-86f4f8df77-h52tl **doesn't exist in informer cache**: pod "prometheu

[2021-08-23 12:33] uablrek commented on #93858
An open PR exists

/remove-lifecycle stale

[2021-08-23 12:35] liggitt commented on #104432
gotcha, that seems more reasonable, thanks for clarifying

as a note, make sure the warning events are generated at most once in that function, rather than once per missing secret object (if there are multiple missing secrets)

[2021-08-23 12:35] liggitt commented on #104432
/good-first-issue

[2021-08-23 13:13] p-rog commented on #100895
@aojea so are you saying that Kubernetes is not impacted by this Go vulnerability?
Based on your test it seems that at least kube-proxy is not impacted.

[2021-08-23 13:14] neilharris123 commented on #104432
Yes, a warning would be good. I feel an error would have be better, but as has already been mentioned we are too far along now for this change as it would break many existing deployments, so a warning makes the most sense now.

[2021-08-23 13:36] alculquicondor commented on #102867
Let's restart this conversation.

While I can see the benefit of @sftim's proposal, I think that 2 counters would be problematic when there's a scheduler restart.

@logicalhan any thoughts?

[2021-08-23 13:38] sftim commented on #102867
@alculquicondor I'm not picturing why 2 counters is more of a problem than 1 counter. I'd be happy to explain my thoughts on metric design more - is there a Google Doc for this or anything?

[2021-08-23 13:45] alculquicondor commented on #102867
The comparison would be against 1 gauge. After a restart, there are no "unschedulable" pods, so we can reset it to zero.

All the discussion is happening in this thread for now.

[2021-08-23 13:50] sftim commented on #102867
Counters are allowed to reset to 0, so there's no need to write special code to handle component failure. https://www.robustperception.io/how-does-a-prometheus-counter-work/ has more on this.

[2021-08-23 14:33] #104496 closed

[2021-08-23 14:37] aojea commented on #100895
It's what I'm trying to find out ... I can't think in other places that consumes IPs directly from the API, however, CNI plugins, ingress implementation and other projects will need to verify they have the same interpretation as kubernetes for those IPs with leading zeros or they will be vulnerable

[2021-08-23 14:49] MikeSpreitzer commented on #100844
It's not just P&F, there is the authentication and authorization check too.
I think this is a fair question.  Perhaps the cure suggested here is worse than the disease.

[2021-08-23 15:04] fulviodenza commented on #71869
Hi, can I be assigned to this task?

[2021-08-23 15:09] AntonSmolkov commented on #97445
After all the articles, patches and issues for me this is still unclear if the issue is still persists for multireaded apps.

What if we have an app with 1000mcpu limit and 20 threads in it. Providing 19 of the threads are doing nothing and only one is doing the job. Will this one job gain **only 5ms per period** (100ms)?
Time slise size is `kernel.sched_cfs_bandwidth_slice_us` 5ms, so 19*5=95ms s

[2021-08-23 15:33] haircommander commented on #104034
ah! I found the issue https://github.com/cri-o/cri-o/pull/5244

[2021-08-23 15:34] haircommander commented on #104034
thanks for your patience @sbwfnhn

[2021-08-23 15:36] liggitt commented on #104464
/triage accepted
/assign
/priority backlog

[2021-08-23 16:10] verb commented on #84764
@liggitt added some questions about the use case to https://github.com/kubernetes/kubernetes/pull/103354#issuecomment-897688579 which I'll move to this issue for discussion to involve those who requested the feature.

and

I think we have more to discuss about the implementation of removing ephemeral containers, so I suggest we spin this out into a separate KEP and feature flag.

[2021-08-23 16:16] mcbenjemaa commented on #102295
/remove-lifecycle stale

[2021-08-23 16:24] howardjohn commented on #103000
Istio does it per-port

[2021-08-23 16:29] kerthcet commented on #104521
/sig scheduling

[2021-08-23 16:30] lavalamp commented on #96647
/lifecycle frozen

[2021-08-23 16:34] lavalamp commented on #100844
It is not just about cheapness, it is also about information leakage -- oh hey look, this random IP address is responding as if it is a Kubernetes cluster!

(also health check isn't free right now -- I seem to recall a PR from you recently improving that :) )

[2021-08-23 16:54] wcurry opened #104524 "controller-manager stuck applying old over-quota LB config"
#### What happened:

Customer with a Service type LB added more than 50 CIDRs to their `loadBalancerSourceRanges`. Our account quota is 100 rules per Security Group. The over-quota error didn't appear in the service's events as expected. I found controller-manager logs of the failed calls.

When the user brought their CIDR count back down below 50 and applied the manifest, the LB was not updated a

[2021-08-23 16:55] damemi commented on #102303
Opened enhancement issue https://github.com/kubernetes/enhancements/issues/2891 where we can move any more discussion

I am working on the actual KEP PR

[2021-08-23 17:07] Riaankl commented on #95966
@smarterclayton @liggitt should this be kept open?

[2021-08-23 17:18] Huang-Wei commented on #103909
If there is a node failure, the controller manager is able to detect the missing node heartbeat, and then wait for a grace period to spin up new pods to replace the old ones on the old node. So I don't quite understand "K8S is not spawning a new pod". Can you elaborate?

[2021-08-23 17:21] MikeSpreitzer commented on #100844
Returning a rejection would also reveal a lot of information.

[2021-08-23 17:27] pohly opened #104525 "generic ephemeral volumes: avoid emitting unnecessary events"
#### What would you like to be added:

When using a generic ephemeral volume, the volume binder in kube-scheduler typically processes a new pod before the generic volume controller in kube-controller-manager has a chance to create the PVC. This leads to events for pods using generic ephemeral volumes:
[code]

It would be nice to suppress these warnings for a short while (duration to be determined)

[2021-08-23 17:27] lavalamp commented on #100844
I agree an APF refection would reveal info. But ideally we'd be able to reject via RBAC -- I guess I actually don't know if authn or authz denials have a goal of no information leaking.

[2021-08-23 17:28] pohly commented on #104525
/sig storage

[2021-08-23 17:28] glennpratt commented on #30051
@thockin it seems like this ticket is now misnamed. Perhaps you or someone could rename it so as not to confuse those who stumble upon it "Open".

[2021-08-23 17:38] aldenjenkins commented on #48798
The issue is the arg specifically: `--network-plugin=cni`

Removing this kubelet arg fixes the problem. No need to remove the `--pod-infra-controller` arg

[2021-08-23 17:38] denispilon commented on #91459
Can anyone confirm that this issue was actually fixed in k8s version 1.21.4 or 1.22.1 ?
I do not see it listed in the release notes/change log

[2021-08-23 17:52] wcurry commented on #104524
Opened an issue in cloud-provider-aws as well. I can close this if it it doesn't belong here.

https://github.com/kubernetes/cloud-provider-aws/issues/252

[2021-08-23 17:56] ahg-g commented on #92143
sg, @damemi do you want to help @kerthcet through the process?

[2021-08-23 17:59] liggitt commented on #103544
no, changing the inputs used by server-side apply to compute and apply strategy merge patches (the patchMergeKey or patchStrategy type annotations) break backwards compatibility with existing clients

[2021-08-23 17:59] bacongobbler commented on #91459
The change was released in the 1.22.0-beta.2, so yes it should be available in 1.22. See https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#api-change-2

I do not believe it was backported to 1.21.

[2021-08-23 18:04] Nowaker commented on #82440
@adisky We don't have that environment any more because of how highly inefficient running Kubernetes for our use case was, so I can't tell if containerd 1.5 and Kubernetes 1.22 resolved the problem. I can however give it a test on some spare hardware we have around.

How did you get your exec output? Does it show all execs discovered on the machine?

So far all I've done is use `pstree` to somewha

[2021-08-23 18:10] ahg-g commented on #102867
We already have a counter metric that tracks scheduling attempts broken down by result.

@sftim to achieve the semantics described in the issue using two counters, I believe we need to count unique pods not attempts, this is not currently available in the scheduler.

[2021-08-23 18:22] denispilon commented on #91459
Thanks for confirming and providing the details @bacongobbler

[2021-08-23 18:27] xhejtman commented on #2630
It seems that this is still an issue.

I noticed, that structs are ready for fsUser, but it is not implemented yet for any volume type. I think implementing fsUser would solve this problem alltogether.

Without it, it is really hard to use emptyDir for e.g. .ssh dir.

[2021-08-23 18:38] dharmjit commented on #53459
+1

[2021-08-23 18:58] sniranjan commented on #70732
Have the same issue in v1.20

[2021-08-23 19:05] sniranjan opened #104527 "Unable to use private repository images as initContainer with imagePullSecrets"
I am trying to use a private docker image(from Artifactory) as `initContainer` with correct `imagePullSecrets`, but I keep getting `ErrImagePull `

On the Artifactory side, we see `anonymous pull attempts`

[code]
#### What happened:

ErrImagePull - Kubernetes secret not being used

#### What you expected to happen:

The image should be pulled with the provided secret

#### How to reproduce it (as

[2021-08-23 19:12] henro001 commented on #104169
I would like to follow up on this.

[2021-08-23 20:20] enj commented on #104165
Based on discussion during the [2021-08-18 SIG Auth meeting](https://youtu.be/Db_XrpgfQqY), the current proposal is to fix the immediate issue in the code outlined in https://github.com/kubernetes/kubernetes/issues/104165#issuecomment-895273751 - i.e. support encryption of resources dynamically created via CRDs statically via `EncryptionConfiguration`.

If someone wants to write a KEP to handle th

[2021-08-23 20:33] patrickleet commented on #64315
This went away for awhile, had to bump `max_user_instances` again. I chose 8192, based on someone else doing it here:
https://github.com/giantswarm/k8scloudconfig/blob/master/files/conf/hardening.conf#L4

For reference, to see what your settings are, you can run the following:

First, start a debug pod:
[code]

Which will drop you into the shell for that new `debug` pod. In there, run:

[code]

To

[2021-08-23 21:01] hermanbanken commented on #99475
Still happening in our GKE clusters, on both 1.18 and 1.20.

[2021-08-23 21:17] #104380 closed

[2021-08-23 21:43] sftim commented on #102867
OK, so this incrementation part is the easy part, and the hard bit would be to work out how to decrement the gauge? Have I got that right?

If we would confidently know when to decrement that gauge, perhaps could we instead increment the second (successes) counter. The way I picture it, those two things (decrement gauge | increment second counter) should happen under exactly identical conditions.

[2021-08-23 22:31] rkojedzinszky opened #104531 "Graceful Node Shutdown regression in 1.21 → 1.22"
#### What happened:

Shutdown a node gracefully. E.g. with `systemctl reboot`.

#### What you expected to happen:

Expected to see pods being evicted, and pods being started on another nodes.

#### How to reproduce it (as minimally and precisely as possible):

Let a deployment create one pod, configure Graceful Node Shutdown as described in https://kubernetes.io/blog/2021/04/21/graceful-node-shutd

[2021-08-23 22:34] rkojedzinszky commented on #104531
/sig api-machinery

[2021-08-24 02:27] zhxjdwh commented on #43916
I have been waiting for 4 years！！！！！ any news？？

[2021-08-24 02:33] shield-9 opened #104532 "kubectl uses incorrect API server address if `--as` specified with in-cluster config"
#### What happened:
kubectl uses incorrect API server address (localhost:8080) if `--as` specified with in-cluster config.

[code]

<details>
<summary>Detailed log (without `--as`)</summary>

[code]

</details>

<details>
<summary>Detailed log (with `--as`)</summary>

[code]
</details>

#### What you expected to happen:
[code]

#### How to reproduce it (as minimally and precisely as possible):
Run

[2021-08-24 02:36] shield-9 commented on #104532
/sig cli

[2021-08-24 02:36] zhxjdwh opened #104533 "kubernetes should not count active_file as used memory, I have been waiting for 4 years!"
#### What happened:
kubernetes should not count active_file as used memory！
https://github.com/kubernetes/kubernetes/issues/43916

#### Environment:
- version: v1.15.3
- Cloud provider or hardware configuration: none
- OS : centos7.4
- Kernel: Linux master1 4.4.124-1.el7.elrepo.x86_64 #1 SMP Sun Mar 25 05:21:59 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux

[2021-08-24 02:40] zhxjdwh commented on #104533
/sig architecture

[2021-08-24 02:48] pacoxu commented on #104531
/sig node
/cc @bobbypage  @wzshiming

[2021-08-24 02:59] shield-9 commented on #104532
This looks similar: https://stackoverflow.com/questions/60827632/why-does-using-kubectl-with-impersonation-as-result-in-the-error-the

If true, I consider this behavior is a bug. I feel it is more natural to expect `--as` flag to override just impersonate option, not the entire config.

[2021-08-24 03:20] MadhavJivrajani commented on #104533
/remove-sig architecture
/sig node

@zhxjdwh thank you for bumping this up! You might be able to get the needed attention if you brought this up in a sig-node meeting. sig-node meets every Tuesday at 10am PT (there is a meeting today!). Should you decide to attend, the joining details and agenda doc (please add your agenda item to this) can be found [here](https://github.com/kubernetes/community/t

[2021-08-24 03:25] #104520 closed

[2021-08-24 03:28] MadhavJivrajani commented on #104358
@keymone, typically for older versions, you can time travel back in the documentation by prepending `v-version.docs.` to the current kubernetes.io URL. To know which feature flag to enable on which component, the best place to look at would be the command line reference for that component, so for `v1.18`, the place to look at would be: https://v1-18.docs.kubernetes.io/docs/reference/command-line-t

[2021-08-24 05:09] kerthcet commented on #104527
/assign

[2021-08-24 05:09] pacoxu commented on #104527
/sig node

[2021-08-24 05:16] pacoxu commented on #104524
/sig cloud-provider
/area provider/aws

And find some similar issues like #74828 #68684 #98097 and some discussions in
https://github.com/kubernetes/kubernetes/issues/68684#issuecomment-438316741

[2021-08-24 05:24] dharmendrakariya opened #104536 "NodePort Service is not working"
#### What happened:

I am trying to access the application by using ingress but it seems that service is not accessible.

I have tried creating cluster ip and nodeport both.

in both the cases I am able to access the application using the port forwarding. but when I try to access it using curl or browser(or even from different pod) I am getting below errors.

```This site can’t be reached x.x.x.x(

[2021-08-24 05:26] pacoxu commented on #104517
/sig cloud-provider release
for triaging（not sure if the link is maintained by release team）
/area provider/gcp

[2021-08-24 05:29] pacoxu commented on #104501
/cc @andyzhangx @feiskyer
experts on Azure cloud provider

[2021-08-24 05:36] AwateAkshay commented on #104536
can you try accessing with http from the browser, do not use https. @dharmendrakariya

[2021-08-24 05:48] jiaozh8 commented on #104501
I was trying to deploy azurefile-csi-driver and saw that yaml referenced the azure.json of configmap, which caused the azurefile in csi-azurefile-node to fail to start, [AZURE_CREDENTIAL_FILE: <set to the key'path' of config map'azure-
cred-file'> Optional: true] This is a kubernetes cluster I built by myself. There is no azure.json in the operation, but I have azurestorageaccountname and azuresto

[2021-08-24 06:17] MadhavJivrajani commented on #104536
/remove-kind bug
/kind support
/sig network

[2021-08-24 06:44] dharmendrakariya commented on #104536
@AwateAkshay Hey there, the thing is the ingress resource is giving error that service is not reachable that is correct as I said node port is also not accessible.

However port forward is working so I dont understand the issue!! can it be dockerfile?

[2021-08-24 06:53] pipijiev12 opened #104539 "kube-controller-manager source code run error on ide"
![)$E _BBG)E3_ Z}$B0) $N](https://user-images.githubusercontent.com/75164118/130569617-e9f9e7c3-94bc-4abd-a34d-55bf1987431b.png)
I wonder why this error occurs when I run the kube-controller-manager source code.

Is this a mistake because I didn't configure my cloud provider properly?

If I don't have a cloud provider, is there another solution?

[2021-08-24 07:02] weiwenli97 commented on #104428
Enable or disable MHC, the expected behavior for windows nodes reboot should be only reboot not re-created and rejoined.
I am trying host process pod to reboot windows node.

[2021-08-24 07:18] leela-maheshwar commented on #103909
@Huang-Wei Let's assume we have 3 AZ's and 3 nodes per AZ. My application is deployed as a single pod with PVC backed by EBS. Initially, when we deploy the pod k8s picks one AZ, let's assume this is AZ1 and k8s issues cloud provider to create EBS on AZ1. Here the pod reference points to the PVC object which is referring to EBS on AZ1. Let's say if AZ1 goes down, k8s will try to create the pod on a

[2021-08-24 08:04] qixiaobo commented on #53288
How I wish I found this issue yesterday
Thanks to god ,I just use this commands by myself but A large waste of time for about 2 hours

[2021-08-24 08:06] qixiaobo commented on #53288
I  just copy /var/lib/kubelet/pki/kubelet.crt and /var/lib/kubelet/pki/kubelet.key from other nodes.
And then  `kubeadm join --token xxx xxx:6443 --discovery-token-unsafe-skip-ca-verification`

[2021-08-24 08:07] qixiaobo commented on #53288
kubelet --version
Kubernetes v1.18.8-aliyun.1

[2021-08-24 08:12] AwateAkshay commented on #104536
Can you paste the error then ?

On Tue, 24 Aug 2021, 12:15 pm dharmendra kariya, ***@***.***>
wrote:

--
This email may contain information which is confidential and/or privileged.
The information is intended solely for the use of the individual or entity
named above. If you are not the intended recipient, be aware that any
disclosure, copying, distribution or use of the contents is prohibited.
Sh

[2021-08-24 09:12] dharmendrakariya commented on #104536
I have mentioned the error in my question.

[2021-08-24 09:44] rdxmb commented on #96284
/remove-lifecycle stale

[2021-08-24 10:17] kerthcet commented on #104527
hi @sniranjan , can you help to type command `kubectl get secret <your registry secret name> --output="jsonpath={.data.\.dockerconfigjson}" | base64 --decode` to check whether your secret is correct. For I can not reproduce this in my cluster although my cluster is not completely the same as yours.

[2021-08-24 10:28] mengjiao-liu commented on #104276
PR https://github.com/kubernetes/kubernetes/pull/104172 works on it.

[2021-08-24 10:28] mengjiao-liu commented on #104276
/unassign

[2021-08-24 10:44] aojea commented on #103000
yeah, you are right, I was assuming only one ingress instance :facepalm:

I'm trying to understand what applications will need this feature, so we don't fall in the trap of "use the network to workaround the app limitations", where things that always end bad.

I don't think that FTP is a good example, it will require always a singleton ...

[2021-08-24 10:46] Kartik494 commented on #104026
@mukul-seagate11 Could You provide some steps on How you implement these steps for write data to host file from container, That would provide more clarification on this.

Thanks

[2021-08-24 10:46] kerthcet commented on #104539
/kind support

[2021-08-24 10:47] kerthcet commented on #104539
how you start `kube-controller-manager`, maybe you should provide some details.

[2021-08-24 10:59] Kartik494 commented on #104291
Hi @zendevil  Could you check the status of PVC ` postgres-persistent-volume-claim` is bound and which mounted path that PVC is using

[2021-08-24 11:01] Kartik494 commented on #104291
Also what is the kubernetes version are you using , from the error ` data directory "/var/lib/postgresql/data" has wrong ownership` its seems like this directory is using in another location also with some restricted access.Could you check this for us
Thanks

[2021-08-24 11:15] Kartik494 commented on #103355
Hi @mansing2 Could you check with ephemeral volumes like `emptyDir` `configmaps` and  `secrets` so that we could get to know that is this mapping error is only for hostpath volume or it is not mapped either to ephemeral volumes as well . Also could you share the PV yaml file and check that if PVC is bound successfully

[2021-08-24 11:31] Kartik494 commented on #101743
@pmanno  As i understood it correctly , the data we mount to store secrets is no longer persisted when the container is restarted.This is the expected behaviour from local ephemeral volumes .

[2021-08-24 12:04] danwinship commented on #102613
You never actually say that you mean "having the CRI implement the probes _in the pod's network namespace_". (You could add a CRI API for TCP/HTTP probes, but have the runtime implement it in exactly the same way kubelet does.)

What is the use case for a non-hostNetwork pod to probe against node-localhost? I guess maybe if it has a HostPort, but we could detect that case. And maybe if it has a No

[2021-08-24 13:20] m-stojanovic commented on #70732
Issue still present with 1.22.0 version, not able to pull the image for the init containers even if
[code]
is specified under spec.template.spec @zouyee

[2021-08-24 13:31] aojea opened #104544 "What do we want to do with the test "should have ipv4 and ipv6 node podCIDRs""
The test ""should have ipv4 and ipv6 node podCIDRs"

https://github.com/kubernetes/kubernetes/blob/c2a633e07ec6129398dfef95c9e011ea5535ded2/test/e2e/network/dual_stack.go#L71-L85

depends on a feature that is optional (one of the ipam controllers in the controller manager)

https://github.com/kubernetes/kubernetes/blob/c2a633e07ec6129398dfef95c9e011ea5535ded2/pkg/controller/nodeipam/ipam/range_all

[2021-08-24 13:35] aojea commented on #104544
@aramase we have discussed it before, but now is affecting downstream CIs and is really a controller-manager test.
/cc @danwinship  @ricky-rav
/cc @BenTheElder for sig-testing visibility
/sig network

[2021-08-24 13:51] pipijiev12 commented on #104539
I first binary deployed the K8S cluster and then successfully ran K8S. Next, I put the corresponding Kube-controller-Manager configuration parameters into the IDE program parameters and run the kube-controller-Manager source code. Finally, the IDE reports the error shown above. At this point, I don't know what the request resource is or who the request resource is from.

[2021-08-24 13:54] damemi commented on #92143
Sure, @kerthcet the first step is to create an issue in https://github.com/kubernetes/enhancements, and a PR defining your changes following the template provided at https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template (both of these have comments guiding how to fill out each section)

[2021-08-24 14:15] pmanno commented on #101743
@Kartik494
No, I'm saying that as I modify the container running in a given deployment, and mount a secret in that container, the pod maintains the old mounts.  For example, when I shell into a pod, I see this:

[code]
[code]

[2021-08-24 14:42] sniranjan commented on #104527
Sorry guys, my bad. The registry secret I had was not correct. Thank you

[2021-08-24 14:42] #104527 closed

[2021-08-24 15:03] apmarshall opened #104545 "Change Defaults to Not Mount Service Tokens Within Pods Automatically"
This issue is meant to start a conversation around changing a default in Kubernetes. The NSA/CISA recently published a [Kubernetes hardening guide](https://media.defense.gov/2021/Aug/03/2002820425/-1/-1/1/CTR_KUBERNETES%20HARDENING%20GUIDANCE.PDF). It covers a wide range of items, but one of the recurring themes is changing defaults to activate more secure settings in Kubernetes. As I read through

[2021-08-24 15:03] apmarshall opened #104546 "Close Insure Port Access to API Server by Default"
This issue is meant to start a conversation around changing a default in Kubernetes. The NSA/CISA recently published a [Kubernetes hardening guide](https://media.defense.gov/2021/Aug/03/2002820425/-1/-1/1/CTR_KUBERNETES%20HARDENING%20GUIDANCE.PDF). It covers a wide range of items, but one of the recurring themes is changing defaults to activate more secure settings in Kubernetes. As I read through

[2021-08-24 15:03] apmarshall opened #104547 "Encrypt Secrets By Default"
This issue is meant to start a conversation around changing a default in Kubernetes. The NSA/CISA recently published a [Kubernetes hardening guide](https://media.defense.gov/2021/Aug/03/2002820425/-1/-1/1/CTR_KUBERNETES%20HARDENING%20GUIDANCE.PDF). It covers a wide range of items, but one of the recurring themes is changing defaults to activate more secure settings in Kubernetes. As I read through

[2021-08-24 15:03] apmarshall opened #104548 "Disable Anonymous Requests by Default"
This issue is meant to start a conversation around changing a default in Kubernetes. The NSA/CISA recently published a [Kubernetes hardening guide](https://media.defense.gov/2021/Aug/03/2002820425/-1/-1/1/CTR_KUBERNETES%20HARDENING%20GUIDANCE.PDF). It covers a wide range of items, but one of the recurring themes is changing defaults to activate more secure settings in Kubernetes. As I read through

[2021-08-24 15:03] apmarshall opened #104549 "Provide default audit logging policy"
This issue is meant to start a conversation around changing a default in Kubernetes. The NSA/CISA recently published a [Kubernetes hardening guide](https://media.defense.gov/2021/Aug/03/2002820425/-1/-1/1/CTR_KUBERNETES%20HARDENING%20GUIDANCE.PDF). It covers a wide range of items, but one of the recurring themes is changing defaults to activate more secure settings in Kubernetes. As I read through

[2021-08-24 15:04] apmarshall opened #104550 "Provide a Default seccomp Profile"
This issue is meant to start a conversation around changing a default in Kubernetes. The NSA/CISA recently published a [Kubernetes hardening guide](https://media.defense.gov/2021/Aug/03/2002820425/-1/-1/1/CTR_KUBERNETES%20HARDENING%20GUIDANCE.PDF). It covers a wide range of items, but one of the recurring themes is changing defaults to activate more secure settings in Kubernetes. As I read through

[2021-08-24 15:16] igcherkaev commented on #76928
It's 2021 and Kubernetes has no support for proxy protocol? It's a standard feature with so many load balancers now, kube apiserver should definitely support it.

https://pkg.go.dev/github.com/pires/go-proxyproto - there seems to be many libraries that implement it.

[2021-08-24 15:40] fnkr commented on #76928
Agreed. I can't think of any load balancer that doesn't support it. HAProxy, nginx, traefik, Caddy, Istio, Envoy, OpenStack (Octavia) as well as any other popular open source load balancer / reverse proxy / web server - even database servers such as MariaDB and of course any major cloud platform supports it. Hardware solutions such as BIG-IP support it too. It's THE (only) standard for forwarding

[2021-08-24 15:50] neolit123 commented on #104550
/sig auth node

[2021-08-24 15:51] neolit123 commented on #104539
IIRC, this error is common and temporary and should not be a concern.
this issue tracker is not for questions / support tickets.

please try asking on slack or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-08-24 15:52] #104539 closed

[2021-08-24 15:53] neolit123 commented on #104242
1.19 is out of support at this point.
please try contacting EKS support. if they confirm an upstream k8s bug, re-open this ticket.

/close
/kind support

[2021-08-24 15:53] #104242 closed

[2021-08-24 15:54] neolit123 commented on #104474
please try asking on the support channels first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if this is a missing feature reopen this issue and add the `/kind support` command.

thanks.

/sig node
/kind support

[2021-08-24 15:54] neolit123 commented on #104474
/close

[2021-08-24 15:55] #104474 closed

[2021-08-24 15:56] neolit123 commented on #104479
please report this to EKS support first.
if they find an actual upstream k8s bug reopen this ticket with their feedback.

thanks
/kind support
/close

[2021-08-24 15:56] #104479 closed

[2021-08-24 15:57] neolit123 commented on #104549
/sig security instrumentation

[2021-08-24 16:02] MMerzinger commented on #104550
I believe that this topic is already being addressed. Seccomp default profiles are an alpha feature of Kubernetes 1.22 (see #101943 and #81115). This setting was also a result of a third party security review (see #81146), and reference is made to #101943 to address this issue. As far as I understood #101943, the runtime standard is used as a fallback.

I'm not sure if this feature will be enabled

[2021-08-24 16:08] liggitt commented on #104545
this seems like a duplicate of https://github.com/kubernetes/kubernetes/issues/57601

[2021-08-24 16:09] Elbehery commented on #84585
/reopen

[2021-08-24 16:10] liggitt commented on #104546
This was done in 1.20. See #95856

[2021-08-24 16:10] #104546 closed

[2021-08-24 16:27] liggitt commented on #104548
previous discussion in https://github.com/kubernetes/kubernetes/issues/43784

[2021-08-24 16:27] liggitt commented on #104547
/sig api-machinery

[2021-08-24 16:28] liggitt commented on #104550
agree, I'd suggest closing this in favor of https://github.com/kubernetes/enhancements/issues/2413

[2021-08-24 16:30] aramase commented on #104544
@aojea Removing the test sounds reasonable as it's specific to cloud providers. I'll review if we have enough unit tests for this and open a PR to remove it from e2e.

[2021-08-24 16:37] Huang-Wei commented on #103909
This sounds like a request for @kubernetes/sig-storage-feature-requests
/sig storage

[2021-08-24 16:37] bertinatto commented on #84585
/reopen

[2021-08-24 16:50] uthark commented on #85330
We get the same error on v1.20.9.
It doesn't happen everytime and it auto-fixes itself in a few minutes.

The volume I try to mount is emptyDir using RAM:

[code]

this volume is mounted to init-container:

[code]

Kubelet Logs (sanitized to remove some info)

[code]

This happens sporadically for different pods.

[2021-08-24 17:03] neolit123 commented on #104548
/sig security api-machinery

[2021-08-24 17:03] neolit123 commented on #104505
/sig api-machinery

[2021-08-24 17:04] neolit123 commented on #104491
/sig network

[2021-08-24 17:04] neolit123 commented on #104495
/sig api-machinery

[2021-08-24 17:05] neolit123 commented on #104487
/sig apps

[2021-08-24 17:08] kerthcet commented on #92143
thanks @damemi, I'll try my best.🥷

[2021-08-24 17:15] sftim commented on #57601
The thing Kubernetes uses to achieve that is quite often an admission controller.

[2021-08-24 17:55] dramich opened #104554 "client-go: DefaultControllerRateLimiter should not use BucketRateLimiter"
#### What happened:

Currently when using `DefaultControllerRateLimiter` it adds `BucketRateLimiter` as one of the `MaxOfRateLimiter` limiters.
This does not work as intended because there is no immediate sleep following the call to the limiter as seen in
https://github.com/kubernetes/client-go/blob/master/util/flowcontrol/throttle.go#L95 which does work correctly.

The issue with the `BucketRateL

[2021-08-24 17:55] dramich commented on #104554
/sig api-machinery

[2021-08-24 18:04] christopherhein commented on #104505
Thanks @neolit123 for adding that. I have an open PR I just need to get tests added to this package.

[2021-08-24 18:26] mmiranda96 opened #104556 "Job pull-kubernetes-node-e2e-alpha constant failure"
#### Which jobs are failing:
pull-kubernetes-node-e2e-alpha

#### Which test(s) are failing:
All tests run by the pipeline fail.

#### Since when has it been failing:
Since its first run.

#### Testgrid link:
https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-node-e2e-alpha

#### Reason for failure:
Local services are set to start, but this fails with the following

[2021-08-24 18:27] mmiranda96 commented on #104556
/sig node
/priority backlog

[2021-08-24 18:48] logicalhan commented on #102867
It would be the same..

[2021-08-24 18:51] #104464 closed

[2021-08-24 19:11] neolit123 commented on #104461
/remove-help
/triage accepted

[2021-08-24 19:45] aojea commented on #104544
We can add more if they don't exist, as a condition to remove the e2e

[2021-08-24 20:06] apmarshall commented on #104548
@liggitt From just a quick skim of this: is the headline here that one of the principle functions of anonymous requests is liveness checking for the API?

[2021-08-24 20:10] liggitt commented on #104548
health/liveness is the primary request authorized to anonymous requests by default, yes

[2021-08-24 20:18] caesarxuchao commented on #104462
cc @wojtek-t
/triage accepted

[2021-08-24 20:19] caesarxuchao commented on #104495
cc @wojtek-t
/triage accepted

[2021-08-24 20:20] caesarxuchao commented on #104500
/help
/triage accepted

[2021-08-24 20:20] caesarxuchao commented on #104505
cc @liggitt
/triage accepted

[2021-08-24 20:21] caesarxuchao commented on #104531
/remove-sig api-machinery

[2021-08-24 20:25] caesarxuchao commented on #104548
/cc @deads2k
/triage accepted

[2021-08-24 20:26] caesarxuchao commented on #104554
/cc @MikeSpreitzer @tkashem
/triage accepted

[2021-08-24 20:27] deads2k commented on #104547
I don't see this issue as actionable without a KEP that describes what encryption should be used, how it should be generated, how it should be managed, how migration would happens, and how backup procedures would change.

If you're interested in such a feature, writing an enhancement in https://github.com/kubernetes/enhancements that addresses such concerns is a good next step.

/close

[2021-08-24 20:27] #104547 closed

[2021-08-24 20:50] ahg-g commented on #102867
I would go with the gauge then.

[2021-08-24 21:56] aojea commented on #104491
Let's see if we can fix it upstream and revendor it https://github.com/distribution/distribution/pull/3489

[2021-08-25 00:00] #104457 closed

[2021-08-25 00:15] bobbypage opened #104560 "1.22 regression: Kubelet rejects pods that use resources that should be freed by completed pods"
#### What happened:

There appears to be a change of behavior / possible regression in k8s 1.22 with respect to pod lifecycle behavior.

We've started to see some cases when multiple pods are being created (often as part of a k8s job) the following will happen:

1. Multiple pods get created by e.g. job controller (e.g. say 5). Each pod in job requests majority of node memory so only one such pod c

[2021-08-25 00:15] bobbypage commented on #104560
/sig node

[2021-08-25 00:16] bobbypage commented on #104560
/cc @smarterclayton @ehashman @liggitt

[2021-08-25 00:28] Jiawei0227 commented on #97031
So this PR does not fix the Azurefile subpath test issue?

[2021-08-25 00:31] bobbypage commented on #104560
Looking at the kubelet log in 1.22 (https://gist.github.com/4fbc11508847edbd585ffb53909915d9) here's what I see --

First pod `memory-reserve--1-sc6mm` starts up...
[code]

`memory-reserve--1-sc6mm` starts
[code]

`memory-reserve--1-sc6mm` dies after ~10 seconds since the job is completed (the container simply runs a `sleep 10`)
[code]

Pod completes, status is updated to API server
[code]

Next p

[2021-08-25 00:36] jsturtevant opened #104562 "Windows Hostprocess containers can't use the InClientConfig for api access"
#### What happened:

If you try to access the api service using Inclusterconfig  with Windows hostprocess container you get an error:

[code]

#### What you expected to happen:

Should be able to connect to the API server. This is common scenario for kube-proxy and CNIs.

#### How to reproduce it (as minimally and precisely as possible):

[code]

[code]

#### Anything else we need to know?:

####

[2021-08-25 01:57] andyzhangx commented on #97031
@Jiawei0227 no, that PR only fixed the unmount issue inside CSI driver. While for the subPath issue, we should fix it in k8s upstream code as you mentioned above: https://github.com/kubernetes/kubernetes/issues/97031#issuecomment-737636695

[2021-08-25 02:29] pipijiev12 opened #104565 "kube-controller-manager"
How to solve the cloud node Lifecycle Controller service？？
![3UH`GO(F}Z6E5%9P4$GOICQ](https://user-images.githubusercontent.com/75164118/130716596-aab642a0-8b3c-43dc-bdd9-3656abf8f51b.png)

[2021-08-25 03:22] mengjiao-liu commented on #104532
I also think this is a bug and will try to fix it.
/assign

[2021-08-25 03:23] pacoxu commented on #104565
/kind support
/sig cloud-provider
Would you check if #87224 answered your question?

[2021-08-25 04:20] aramase commented on #104544
/assign

[2021-08-25 04:47] liggitt commented on #104560
@smarterclayton did the kubelet pod lifecycle rework result in a reordering of kubelet resource bookeeping w.r.t. pod status? it seems reasonable for the scheduler to send another pod to a kubelet once it reports the pod complete

[2021-08-25 05:33] ahmedtd commented on #104560
I am also seeing this same behavior, but with "OutOfPods" rather than "OutOfMemory", when running a job with parallelism=100, completions=400 on GKE (which has a 110 pod per node limit).

[2021-08-25 05:40] harche opened #104567 "ci-crio-cgroupv2-node-e2e-conformance is failing"
#### Which jobs are failing:
ci-crio-cgroupv2-node-e2e-conformance
pull-kubernetes-node-crio-cgrpv2-e2e

#### Which test(s) are failing:
`.[sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api`

#### Since when has it been failing:
20th Aug 2021

#### Testgrid link:
https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv2-node-e2e-c

[2021-08-25 05:42] harche commented on #104567
/sig node

[2021-08-25 05:42] harche opened #104568 "ci-crio-cgroupv1-node-e2e-conformance is flaking"
#### Which jobs are flaking:
ci-crio-cgroupv1-node-e2e-conformance

#### Which test(s) are flaking:
`[sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api`

#### Testgrid link:
https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-conformance

#### Reason for failure:
Not yet known.

#### Anything else we need to know:
-

[2021-08-25 05:43] harche commented on #104568
/sig node

[2021-08-25 05:46] msftcoderdjw commented on #60538
Experienced the same issue (invalid json) on Windows. Switching to execute on Linux works.

[2021-08-25 05:57] liggitt commented on #104560
this is easily reproducible on a local cluster as well

start with this:
[code]

then create this job:
[code]

result on 1.22 is the job hangs with 2 completions and a bunch of `OutOfpods` rejections by the kubelet:

[code]

on 1.21, the same job completes all pods successfully in a couple minutes with no OutOfpods errors

[2021-08-25 06:18] liggitt commented on #104560
verified 3eadd1a9ead7a009a9abfbd603a5efd0560473cc introduced the OutOfPods issue

[2021-08-25 06:19] TChinaBen opened #104569 "The time zone of the log is different from that of the K8S container .For example: kubectl logs pod/***"
#### What happened:
![image](https://user-images.githubusercontent.com/37321965/130736889-4a3c65d6-5da4-49d8-bfe9-6599ca9bb4da.png)

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /e

[2021-08-25 07:45] adisky commented on #104568
Most of the node periodic jobs are failing because of GO 1.17 update
https://github.com/kubernetes/test-infra/pull/23364

[2021-08-25 08:45] Abhishek-Srivastava commented on #53459
+1

[2021-08-25 08:53] sanposhiho commented on #101849
/remove-lifecycle stale

I'll do it after some new op created
- https://github.com/kubernetes/kubernetes/pull/101854
- https://github.com/kubernetes/kubernetes/pull/101835

[2021-08-25 08:58] sanposhiho commented on #93794
/remove-lifecycle stale
do it after #101854 merged

[2021-08-25 09:04] sanposhiho commented on #94404
Hello @vaibhav2107
Are you still going to work on this issue?

[2021-08-25 09:51] JasonShenk commented on #102881
The following .tar (i had to wrap it in a .zip) is a docker container that repeatedly allocates and deallocates the c++ unmanaged vectors with 2GB of memory.  In docker, with 10GB max memory, this program will run indefinitely.  If I run this in minikube with 10GB (9961 MB) max allocated, it repeatedly crashes due to out of memory.  I am creating the minikube with the following:  minikube start --

[2021-08-25 09:54] JasonShenk commented on #102881
Is there a file size limit?  My zip will not upload.

[2021-08-25 09:54] JasonShenk commented on #102881
zip

[2021-08-25 10:16] EricWvi commented on #102881
Would you make a image and push it to a registry, say, Docker?

[2021-08-25 10:22] JasonShenk commented on #102881
I will give it a shot.  I am assuming I need to follow the steps here:

https://docs.docker.com/docker-hub/repos/

[2021-08-25 10:33] JasonShenk commented on #102881
https://hub.docker.com/repository/docker/jasonshenk/shenktesting/general

[2021-08-25 10:46] stefanandres commented on #69676
Thanks, this seems to work fine for my use case:
[code]

This throws an alert on container OOM events and resolves the alert directly afterwards.

[2021-08-25 12:07] #98801 closed

[2021-08-25 12:08] leoskyrocker commented on #87733
My hypothesis is that when the control plane attempts to persist the object in k8s and convert the v2beta2 object to v1, it does so by storing the new interface in annotation. While doing so, it considers "value" as a required attribute and initialized it to 0. This later becomes an issue when we get back the yaml through the v2beta2 endpoint, which transforms the object back into a v2 object, now

[2021-08-25 12:38] danielfbm commented on #53459
+1

[2021-08-25 12:52] pohly commented on #92664
/remove-lifecycle stale

[2021-08-25 13:08] jayunit100 commented on #104428
These tests should not be "aware" really of MHC... they need to be generic kubernetes tests, so they won'y have any references to Cluster API.

[2021-08-25 13:52] codearky commented on #104155
@bydga Thanks for the cooperation.
 I've looked into the logs and I see kubelet did catch the transition of state of the faulty container  -

But we never actually updated `status_manager` with this tranistion. Why? It's hard to tell.
I see on line 608 we queue a pod sync loop which suppose to catch this event, and update the status manager as part of the iteration. We see another loop is queued i

[2021-08-25 14:24] liggitt commented on #102849
cc @msau42 @zshihang fyi

[2021-08-25 14:45] smarterclayton commented on #104560
The set of admitted pods considered for pod count is everything in the pod manager filtered by filterOutTerminatingPods, which calls CouldHaveRunningContainers which returns true once a pod is seen by the workers (shortly after admission, and until we’ve confirmed via syncTerminatingPod that no continaers are running).

[2021-08-25 15:18] smarterclayton commented on #104560
Possible test fix https://github.com/kubernetes/kubernetes/pull/104576 - I'm not sure it fixes the issue you're seeing, but it's definitely wrong for admission (admission is filtering the known pod set down to remove pods that are terminated, but shouldn't filter pods that aren't admitted yet).

This needs a node e2e reproducer - @rphillips / @ehashman is that something either of you could help me

[2021-08-25 15:49] MadhavJivrajani commented on #104500
/assign

[2021-08-25 16:05] neolit123 commented on #104569
/sig instrumentation
duplicate of https://github.com/kubernetes/kubernetes/issues/102316 ?
that issue had a general discussion about different TZ across tools / code.

[2021-08-25 16:10] neolit123 commented on #104565
closing as this tracker is not for questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

but feel free to continue the discusion.

/close

[2021-08-25 16:11] #104565 closed

[2021-08-25 16:40] Kartik494 commented on #101743
Hi @pmanno i am trying to reproduce this in my environment as you described here
`No, I'm saying that as I modify the container running in a given deployment, and mount a secret in that container at a variable path, the pod maintains the old mounts` . I want to know that this is the same secret configuration file you are using before modify the running container? Or you initially don't mount secre

[2021-08-25 18:10] kubetester opened #104581 "race condition causing pods that require device plugin to be stuck at container creating"
#### What happened:
This happens during node reboots.  Pods that was deployed prior to reboot would be redeploy. All pods are successful except for pods that require device plugin. The pod fails with multus error : AddNetwork: SRIOV-CNI failed to load netconf: LoadConf(), it keeps deleting the pod and restarting with the same error. If you look at the device plugin logs, those required devices hav

[2021-08-25 19:05] alanprot opened #104583 "Consider PodDisruptionBudgets to allow zonal disruptions"
Some applications can tolerate multiple disruptions if the pods being disrupted are in the same Availability Zone. For instance, one of our applications have replicated data across AZ using a StatefulSet (+ topologySpreadConstraints) to make sure the data is available during an eventual AZ outage. Because of that, we can tolerate multiples pods being disrupted IF they are in the same AZ.

Is it po

[2021-08-25 19:26] aramase opened #104584 "CSI driver registration failed on windows node"
#### What happened:
The CSI driver registration on windows nodes fail initially. The `node-driver-registrar` logs indicate there is no `GetInfo` RPC call from kubelet.

`node-driver-registrar` logs:
[code]

On a working node, there are 2 additional log lines:
[code]

Things to note:
1. The issue resolves after the `node-driver-registrar` container is restarted a couple of times.
2. This issue is m

[2021-08-26 02:43] arekkusu opened #104595 "Kubelet hardcoded 4h timeout is undocumented / doesn't align with other timeout"
Kubelet (1.17+) has a hardcoded 4h timeout for all HTTP connections  (https://github.com/kubernetes/kubernetes/commit/ff689ce3deff52148f09818fdbc66edea197270e). Context: #104580

While this might be working as intended, I think that:
* This behavior is currently undocumented / not easily discoverable by users
* It doesn't logically align with other [documented](https://kubernetes.io/docs/reference

[2021-08-26 03:03] MikeSpreitzer opened #104596 "Need to tweak LIST work estimator in API Priority and Fairness"
#### What happened:
I noticed that https://github.com/kubernetes/apiserver/blob/9fa754e85f88e66cfbed137a506847cf3d7d1b59/pkg/util/flowcontrol/request/list_work_estimator.go#L87-L102 does not make sense to me.  Looking at how LIST requests are served (which is NOT easy, there is so much dependency injection), I concluded that the worst case number of objects touched in the apiserver equals the pagi

[2021-08-26 19:04] jnummelin opened #104612 "`[sig-network] EndpointSlice should have Endpoints and EndpointSlices pointing to API Server [Conformance]` E2E test fails when it shouldn't"
#### What happened:

`[sig-network] EndpointSlice should have Endpoints and EndpointSlices pointing to API Server [Conformance]` E2E test fails.
The test is implemented at: https://github.com/kubernetes/kubernetes/blob/9c1f9c3962717c6078fa166eeb76242a4cc1d751/test/e2e/network/endpointslice.go#L62

#### What you expected to happen:

I would expect the test pass with these objects in place:
[code]

[2021-08-26 22:06] eliecer2323 opened #104618 "Service deleting get stuck"
#### What happened:
I'm trying to delete a service with the `kubect delete service claims` but it never finish (I have had let it run by 12 hours) so I have to press `ctrl+c` but the service doesn't get eliminated

#### What you expected to happen:
Write `kubect delete service claims` and get he service eliminated so I can write `kubectl get services`
 and don't see it them

#### How to reproduce

[2021-08-27 06:24] MikeSpreitzer opened #104623 "tokenBucketRateLimiter has incomplete dependency injection of clock"
#### What happened:
While reviewing #104578 I realized that there is a prior problem in client-go/util/flowcontrol::tokenBucketRateLimiter .  It allows injection of a clock, but does not use the injected clock for all operations involving time.  In particular, the following function always goes directly to the real clock rather than using the injected clock.

[code]

#### What you expected to happ

[2021-08-27 08:33] SimoneLazzaris opened #104625 "Credentialprovider infinite loop on k3s over GCE vm"
#### What happened:

Library `credentialprovider` initialization is stuck in infinite loop:  we found a problem when running on a k3s instance on a gce VM: the library never stop initialization, triggering an infinite loop on the runWithBackoff function in gcp/metadata.go

#### What you expected to happen:

I expected it to not be stuck in an infinite loop. Infinite loop are bad.

#### How to repr

[2021-08-27 09:51] krahil opened #104626 "Pods getting scheduled irrespective of insufficient resources"
**What happened:**
cluster info: 1 master, 1 worker node, kubernetes version: v1.22.1

Pods are failing with status "OutOfpods" after sometime.
I am submitting few jobs targeted on a single node. At max, I am able to see 17 pods running based on requested resources. But not all pods successfully completes. Few of them goes into "OutOfpods" status after sometime. I have tried limiting maximum pods

[2021-08-27 11:24] Shreya027 opened #104628 "Preserving unknown fields in CRD version v1"
I am trying to preserve unknown fields dropped in CRD version v1 by default. I tried adding   `preserveUnknownFields=true` in the CRD_OPTIONS as shown below:

`CRD_OPTIONS?="crd:trivialVersions=true,crdVersions=v1beta1,preserveUnknownFields=true" `However, once I added this and applied the changes, I get the following error in the terminal:

                    __you may only set PreserveUnknownFi

[2021-08-27 12:14] konstantin-tkachuk opened #104629 "Init Container in CrashLoop while regular containers are running"
#### What happened:
I have a deployment where each pod has 1 initContainer and 3 regular containers. These pods usually work as expected, however I have observed several times now that occasionally they manage to fall into a state where the 3 regular containers are working and serving traffic, _while the initContainer is stuck in a CrashLoop_.

#### What you expected to happen:
I expect an initCon

[2021-08-27 20:59] dmitry-mightydevops opened #104637 "kubernetes auth error: impersonation request has been denied, group header value is not allowed in roles"
#### What happened:

[code]

so group `system:master` exists.

#### What you expected to happen:

[code]

to return **yes** or **no** per query

#### How to reproduce it (as minimally and precisely as possible):

I'm using AWS EKS 1.21 cluster

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`): 1.21
- Cloud provider or hardware configuration: AWS