[2017-05-08 18:40] freehan commented on #45506
@caesarxuchao @lavalamp

[2017-05-08 18:40] sjenning opened #45507 "nil pointer dereference in kubectl/plugins/loader.go:70"
New kubectl plugin loader introduced by https://github.com/kubernetes/kubernetes/pull/37499 does not check `walkErr` before deref'ing `fileInfo`.  This occurs if the plugins directory does not exist or the user running `kubectl` doesn't have permission on the plugin directory.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/plugins/loader.go#L70

@derekwaynecarr @fabianofranz

[c

[2017-05-08 18:41] ixdy commented on #45216
You can patch the golang installation in the crossbuild image and then use that to build kubernetes. We've done this before for other reasons, e.g.  https://github.com/kubernetes/kubernetes/commit/aa045f786e424e787bd17d6bb564f5aa311dd7b0

[2017-05-08 18:44] skofgar commented on #42599
thanks that solved the issue!
sorry for the late reply

[2017-05-08 18:44] #42599 closed

[2017-05-08 18:48] wojtek-t commented on #45216
@ixdy - thanks a lot! Will try to do that tomorrow.

[2017-05-08 18:59] roberthbailey opened #45509 "Scale down a deployment by removing specific pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): deployment scale down pod

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2017-05-08 19:14] #41126 closed

[2017-05-08 19:14] #30740 closed

[2017-05-08 19:21] shettyg commented on #45506
The behavior for me was that a 'kubectl get pods' would show nothing after a pod delete event, but you would not get the DELETED event.

If you restart kube-apiserver, the DELETED event would then come.  So there is something wonky going on.

The problem went away for me after upgrading the CNI plugin to 0.5.2 and starting kubelet with --network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-d

[2017-05-08 19:39] pmorie commented on #44995
Anything would work for me, but I think this is a general gap we need to fill for people building APIs outside the core which have controllers that create objects in the core.

For now, I think I'm left with making a parallel set of validations for these objects in service-catalog, which sucks, but I'd rather do something like that than try to get fancy prematurely.

[2017-05-08 19:39] pmorie commented on #44995
cc @pwittrock

[2017-05-08 19:40] timothysc commented on #44857
@mikedanese or @ncdc is there a root issue for starting components from componentconfig, and is there a timeframe on it?

HA updated story is to componentconfig->configmap + lock on configmap.

[2017-05-08 19:41] deads2k opened #45510 "Temporary kube-apiextensions-server directions"
Once https://github.com/kubernetes/kubernetes/issues/45277 is resolved (before the end of 1.7), the `kube-apiextensions-server` will be embedded into the `kube-apiserver` so this is only temporary.

1.  run `hack/local-up-cluster.sh` - this gets the `kube-apiserver` (with aggregator) ready and available
1. `make WHAT=vendor/k8s.io/kube-apiextensions-server/ && vendor/k8s.io/kube-apiextensions-serv

[2017-05-08 19:47] deads2k opened #45511 "kube-apiextensions-server needs more integration tests"
There is an integration test framework for the `kube-apiextensions-server` which provides an easy-ish way to run the server standalone for testing scenarios.  See the example here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-apiextensions-server/test/integration/basic_test.go

This is a running list of tests that we need to have for good coverage.
 - [x] does the s

[2017-05-08 19:48] caesarxuchao commented on #45506
How long had you waited for the DELETE? After you sent a deletion request, a controller is going to delete all the objects in that namespace before deleting the namespace itself, so the deletion could take long time.

[2017-05-08 19:49] caseydavenport commented on #45506
@caesarxuchao I waited until the Namespace no longer showed up in `kubectl get ns`, plus a bit more.

Additionally, I'm seeing this issue with other types which don't have that behavior (e.g. Deployments)

[2017-05-08 19:51] deads2k commented on #45511
@adohe you had asked about specific work items.  The first group of tests should be implementable now if you wanted to pick one out.  If you know how to wire up a `/finalize` endpoint (like namespaces), that's a place to look at too.

[2017-05-08 19:54] deads2k commented on #45510
@adohe here are some instructions that ought to let you play with the customresources now.  I checked the basic crud and `kubectl annotate` commands and they seem to work.

[2017-05-08 20:00] caesarxuchao commented on #45506
Deployments will go through a garbage collection of its replcasets and pods before gets deleted, so they are similar.

But i agree that the DELETE event should had arrived if the ns or deployment no longer showed up in `kubectl get`.

[2017-05-08 20:03] caseydavenport commented on #45506
Yep I mis-spoke on my first comment and edited to reflect - I tested this with a simple Pod as well, and NetworkPolicy.

[2017-05-08 20:12] wojtek-t commented on #45216
It seems that I managed to build my own image - will see if what @bradfitz suggested above (cutting off these 3 new cases) helps with our performance.
For the reference, I built my own image from this patch:
https://github.com/kubernetes/kubernetes/compare/master...wojtek-t:debug_go_regression?expand=1

But further updates from me tomorrow.

[2017-05-08 20:19] josharian commented on #45216
This would also be a great time to try out tip (what will be Go 1.9); the select implementation changed since 1.8. And bugs or issues you find could be fixed as part of the release.

[2017-05-08 20:26] caesarxuchao commented on #45498
@piosz i moved https://github.com/kubernetes/kubernetes/blob/master/vendor/k8s.io/heapster/metrics/apis/metrics/v1alpha1/types.go to third_party/forked, do you think that's acceptable?

I'm working on move all k8s API types to a separate repo. We also want to get rid of staging/ and develop in the repos. After these two are done, we can then vendor heapster in the normal way. At that time, if ther

[2017-05-08 20:39] shyamjvs opened #45512 "Regression in gce-scalability density test"
As you can see, density test in our gce 100-node clusters has been constantly failing for many days now: https://k8s-testgrid.appspot.com/google-gce#gce-scalability
And in about 50-60% of these cases, the sole reason seems to be OOM'ing of L7 loadbalancer:
[code]
It was bumped up to version 0.9.3 from 0.9.2 in commit https://github.com/kubernetes/kubernetes/commit/71ca925b05ba987e20c48ac0b83c19fea

[2017-05-08 21:08] chuckbutler commented on #45482
I don't know that this bug necessarily belongs here but its good to track. I'll keep an eye on the Bundletester PR and request a close when this fix has landed against that project.

[2017-05-08 21:09] k8s-merge-robot opened #45513 "StatefulSet Deploy clustered applications tests fail"
### Failure cluster [4d7fae639eafd13ee6e2](https://go.k8s.io/triage#4d7fae639eafd13ee6e2)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    2 jobs failed,    116 builds failed.
Failure stats cover 1 day time range '7 May 2017 19:59 UTC' to '8 May 2017 19:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] StatefulSet [k8

[2017-05-08 21:09] shyamjvs commented on #43908
Seems like we do have the resource usages available now:
- https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/2216/artifacts/ResourceUsageSummary_density_2017-05-08T11:05:12-07:00.json (100-node gce)
- https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/410/artifacts/ResourceUsageSummary_density_2017-05-07T07:53:58-07:00.jso

[2017-05-08 21:09] caesarxuchao commented on #16376
@seh there is a PR updating the tpr example in client-go, and in it, it constructs its own `scheme`: https://github.com/kubernetes/kubernetes/pull/45463/files#diff-ddfc038ea1ea8715b20f2e4b811f334eR29

I think constructing a scheme is necessary, given our current apimachinery.

[2017-05-08 21:18] mbruzek commented on #45482
I agree with @chuckbutler this appears to be an issue with the bundletester product and may not be in the kubernetes charms.

[2017-05-08 21:21] caesarxuchao commented on #16376
Sorry @seh @ash2k let me check the parameter codec code again, i think the codec had evolved since i last checked. I'll type another comment later.

[2017-05-08 21:31] caseydavenport commented on #45506
@shettyg I'll see if I can reproduce anything from those steps.  I haven't yet dug into any logs, so hopefully I can find something.

FWIW I was running this apiserver against an etcdv2 cluster.

This feels like a pretty serious bug to me in that any controllers which use DELETED events will stop functioning as expected.

[2017-05-08 21:33] liggitt commented on #45506
Given that many many controllers use deleted events, I am surprised by this

[2017-05-08 21:39] bradfitz commented on #45216
I ran the http2 package's `BenchmarkServerGets` a few different ways:

* with current tip code ("before") vs. tip code with the three new select cases removed ("after")
* with Go 1.8 vs tip ("Go 1.9")
* 1 simple response vs 100 flushed responses

With Go 1.9, for 100 flushed body chunks:

[code]

With Go 1.9 and just the one simple response body:

[code]

With Go 1.8, the same two are much more pr

[2017-05-08 21:49] prat0318 commented on #39201
I am facing the same while installing MySQL with helm:
When trying `helm install stable/mysql`, pod always hangs in Pending state.
[code]
Looks like PersistentVolume is not able to be created by helm.

`kubectl describe pod mysql` gives:
[code]

[code]

[2017-05-08 21:53] nicksardo commented on #45512
Looking at one of the glbc logs (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/2064/artifacts/e2e-scalability-master/glbc.log), I see that the controller is only watching resources - it's not doing a single ingress/GCE operation. Between 0.9.2 and 0.9.3, the controller was migrated to the `client-go` library and built with 1.8.1. The previous version was

[2017-05-08 21:54] #24720 closed

[2017-05-08 21:54] #45489 closed

[2017-05-08 22:03] #43908 closed

[2017-05-08 22:03] divyenpatel commented on #45464
Had  a slack conversation with @gnufied
we have following PRs merged on the master that fixes race between node & pod informer.
So tried out master branch build : GitVersion:"v1.7.0-alpha.3.81+843c40e32e2fc4"
but issue is still present with above fixes included.

https://github.com/kubernetes/kubernetes/pull/42033
https://github.com/kubernetes/kubernetes/pull/44566
https://github.com/kubernetes/ku

[2017-05-08 22:05] caseydavenport commented on #45506
I've taken a look at the apiserver logs and noticed that each time I delete an object (in this case a Service) I see the following error logs produced:

[code]

I've also verified that the kube-proxy thinks that deleted Services still exist, despite not being able to query them via kubectl.

[2017-05-08 22:06] wongma7 opened #45516 "(Vsphere) volume teardown fails when running containerized kubelet and volume path has space"
nsenter_mounter.go mistakenly determines that a mount point is not a mount point if the mount point path contains a space. It will then try & fail to delete the mount point instead of unmounting it first.

The output of findmnt is parsed by splitting it into space-separated fields. Normally "target" is the first field but if it contains a space, it is truncated. Example, note the space in "[ose3-v

[2017-05-08 22:07] wongma7 commented on #45516
@kubernetes/sig-storage-bugs

[2017-05-08 22:11] divyenpatel commented on #45464
[kube-controller-manager.log.txt](https://github.com/kubernetes/kubernetes/files/984975/kube-controller-manager.log.txt)

[2017-05-08 22:23] caseydavenport commented on #45506
I was also surprised, but then wondered how many of the e2e tests actually check that DELETE was executed on properly.  For example, kube-proxy could leave iptables rules around for a long time after a Service deletion and you might just not notice because new Services continue to work despite the old iptables rules lying around, and nothing in the tests is asserting that the old Service stopped w

[2017-05-08 22:24] caesarxuchao commented on #16376
@seh i don't know what changes fixes your code. I debugged the code a little, it looks like our apimachinery is very tolerant for "Unversioned Kind". The ListOptions is registered as "unversioned", thus there is no error. The related code is [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go#L483).

The ListWatcher generated by NewList

[2017-05-08 22:26] gnufied commented on #45464
Looking at controller logs:

[code]

This means that - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/vsphere_volume/attacher.go#L87 function considered aformentioned volume as detached from node3 where it clearly wasn't.

I think we may have a bug implementation of `VolumesAreAttached` function.

[2017-05-08 22:31] freehan commented on #44307
@bboreham

never error on DEL with emtpy NETNS.

This is why I really want CNI spec to lock it down, so that runtimes and cni plugins have clear boundary.

What I really want is idempotent ADD/DEL operations. On top of that, it would be great if CNI spec require plugins to only take CONTAINERID and network config for DEL. Otherwise, runtime has to maintain states which is not reliable. (For instan

[2017-05-08 22:35] ericchiang commented on #23720
@liggitt After internal debate I don't think I'm going to be pursuing this for 1.7. Much of this can be achieved through token access reviews or bulk syncing to RBAC roles and it's not clear how much benefit we'd actually get from adding another webhook. Going to put this on hold for now rather then try to get in into 1.7.

[2017-05-08 22:44] dashpole commented on #42676
/assign dashpole

[2017-05-08 22:46] readams commented on #44307
The real solution to this would be to invert the CNI model completely.  Remove ADD/DEL operations and change to work on a sync model.  Runtime should keep a query-able representation of the current desired state and network plugins would be in charge of converging toward that state with a feedback loop.

[2017-05-08 22:48] jimmycuadra commented on #23485
I'm not sure if this is the right issue to bring this up, but I found it by searching for the "error: unexpected EOF" error in relation to running "kubectl logs -f" or "kubectl port-forward". If there is more than 60 seconds of inactivity while one of these long-running operations in inactive, the connection will get dropped because of idle timeout. (This is when connecting to the k8s API server t

[2017-05-08 23:34] #45507 closed

[2017-05-08 23:34] #45279 closed

[2017-05-08 23:36] nikvdp commented on #21582
@smrutiranjantripathy the documentation @colhom was referring to appears to be [here](https://github.com/coreos/docs/blob/master/kubernetes/cluster-dump-restore.md) now.

[2017-05-08 23:36] #45156 closed

[2017-05-08 23:39] lxpollitt commented on #22469
@xeor you should still be able to use Calico policy objects (specified via calicoctl) alongside k8s policy objects (specified va kubectl) today.  So you don't "lose" these features.  Support for egress policies via annotations and/or TPRs so you can use kubectl for those in the future is also planned.

[2017-05-08 23:55] janetkuo commented on #33245
Just found this in a GCE cluster, `kubectl delete ds` hangs, the DaemonSet node selector was updated (to kills all pods), all pods are deleted, but the DaemonSet won't go away because `kubectl delete` was waiting for DaemonSet's `.status.currentNumberScheduled + .status.numberMisscheduled == 0`.

The DaemonSet status wasn't updated because kube-controller-manager static pod was evicted (it got evi

[2017-05-09 00:22] r4j4h commented on #42438
This is happening on k8s 1.4.12 as well, restarting kube-controller-manager does *not* seem to fix it for me. It is rotating through two nodes that no longer exist, so I am hoping the cache will purge itself at some point and they will stop?

[2017-05-09 00:51] mengqiy opened #45519 "Introduce a flag to gate if using openapi in kubectl"
We are trying to use OpenAPI in kubectl in 2 aspects:
- Using OpenAPI for kubectl validation in stead of using swagger, since we are deprecating swagger 1.2(ref: #38637 and #44589) (even though client-side validation will be removed in 1-2 releases #39434)
- Using OpenAPI for calculating the strategic merge patch (apply and edit) instead of using baked-in types. This will solve a lot of version sk

[2017-05-09 00:51] mengqiy commented on #45519
/assign

[2017-05-09 00:52] mengqiy commented on #45519
cc: @pwittrock @liggitt

[2017-05-09 01:02] adohe commented on #45510
@deads2k cool 👍 I have just started to play with customresources.

[2017-05-09 01:02] fejta commented on #45198
Ping! Can we close this one?

[2017-05-09 01:02] fejta commented on #45198
If you aren't working on this... will you please `/unassign` yourself?
If you are working on this... will you post an update?

[2017-05-09 01:09] jimmycuadra commented on #42932
What's the best way to determine this information currently? I'm having difficulty figuring out the exact set of permissions (and how they would be written in an RBAC role) for any given kubectl command. The documentation for this right now is split across multiple places and certain things are not explained at all.

Specifically, it's difficult to determine which "API verb" is used for which oper

[2017-05-09 01:09] fejta commented on #45381
/unassign
@kubernetes/sig-network-bugs
/assign @thockin @dcbw @caseydavenport

The ip-alias suite broke on May 5 around 4p PST: https://k8s-testgrid.appspot.com/google-gci#ip-alias&width=5

Nick's PR looks relevant https://github.com/kubernetes/kubernetes/compare/5b3d0bbe6...d4f92711a

[2017-05-09 01:34] k82cn commented on #33522
The selector will only work when "scheduling". If the selector was updated after Pod running, it will not impact running pods.

So I think this is expected behavior; rescheduler maybe one of solution for this, but it not released/updated yet.

[2017-05-09 01:35] csbell opened #45520 "[Federation] Ingress should detect NodePort mistaches"
The documentation for federated ingress [here](https://kubernetes.io/docs/tasks/administer-federation/ingress/#adding-backend-services-and-pods) says:

For services with non-matching nodeports, we should be generating events for mismatching NodePorts instead of following through with the ingress creation.

[2017-05-09 01:52] fejta commented on #45513
/assign @jagosan
@kubernetes/sig-apps-test-failures

Testgrid shows that stateful set suites broke at 11a PST on May 6: https://k8s-testgrid.appspot.com/google-gce#gce-statefulset&width=20

Clicking and dragging from the red to green columns suggests this PR was the cause: https://github.com/kubernetes/kubernetes/compare/79a2e359c...dfc04abd2

[2017-05-09 01:54] fejta commented on #45513
/assign @janetkuo
@kubernetes/sig-apps-test-failures

Testgrid shows that stateful set suites broke at 11a PST on May 6: https://k8s-testgrid.appspot.com/google-gce#gce-statefulset&width=20

Clicking and dragging from the red to green columns suggests this PR was the cause: https://github.com/kubernetes/kubernetes/compare/79a2e359c...dfc04abd2

[2017-05-09 01:59] derekwaynecarr commented on #45213
I will try to reproduce.

The creation of a pod will be blocked by quota.  In the absence of a pod, the scheduler has nothing to schedule, so it is not a scheduling bug.  It's possible the issue is related to back-off in the job controller not attempting to create pods again.  The event shows that it had been 3m since the job controller attempted to create pods again for the requisite job which im

[2017-05-09 02:10] tacy commented on #45213
@derekwaynecarr

I would like to fix the bug, could you assigin it to me?

if pod create failed, jobcontroller.managejob(https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/jobcontroller.go#L539) need return error, https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/jobcontroller.go#L341 will requeue podcreate task.

[2017-05-09 02:13] derekwaynecarr commented on #45213
@erictune -- maybe you have more insight, but it looks to me just reading the code that when a job controller is unable to create a pod due to lack of quota, its not actually an error that forces a re-queue of the job.  in addition, i cant actually see when a full resync of the job work queue happens outside of the informer sync interval which is probably really long.

see: https://github.com/kube

[2017-05-09 02:14] derekwaynecarr commented on #45213
@tacy - feel free to open a pr, please cc me on your solution.  i would like to understand from the job folks if there should be a periodic resync interval aside from the need to requeue the job when all pods cannot be spawned (which i assume your pr will handle via exponential backoff)

[2017-05-09 02:18] derekwaynecarr commented on #45213
@ncdc @liggitt -- we will want to have a fix for this downstream as well.

[2017-05-09 02:43] shiywang opened #45521 "Refactor visitToPatch() and visitToCreate() to use fewer arguments"
This issue comes from pr https://github.com/kubernetes/kubernetes/pull/42256 as @mengqiy suggests:

@kubernetes/sig-cli-maintainers

[2017-05-09 02:43] shiywang commented on #45521
/assign

[2017-05-09 03:07] danielqsj commented on #7890
+1 for ceph-fuse

[2017-05-09 03:11] ddysher commented on #45054
I'll take a look

[2017-05-09 04:01] mengqiy commented on #45521
Sorry. Maybe I'm not clear enough.
What I suggest is using object member variable instead of lots of arguments, i.e. `o.visitToPatch(arg1)` instead of `visitToPatch(arg1, arg2, ..., arg7)`.
It make the code clearer by passing in fewer arguments.

Using iteration access maybe another good idea to refactor the code. Not sure if it will make the code clearer or not.

[2017-05-09 04:30] vishh commented on #33245
And kube-controller-manager isn't marked as "Critical" and being a static
pod it does get restarted by the kubelet.

On Mon, May 8, 2017 at 4:56 PM, Janet Kuo <notifications@github.com> wrote:

[2017-05-09 04:42] murhum1 commented on #45213
@derekwaynecarr

Yes, after the first two jobs are complete, `kubectl describe quota memoryquota` shows that 0M out of 400M is in use. I'm also able to create new jobs, up to the memory limit so 2 at a time, that execute as expected. Any jobs over that at a time will stay in the same waiting state.

[2017-05-09 05:00] speedplane opened #45525 "HorizontalPodAutoscaler Does Not Down-Scale, Despite Under-Utilized CPU"
My HoriozontalPodAutoscaler does not seem to be scaling, even though my pods are way underutilized. This is how I defined my autoscaler:
[code]

As shown in the dashboard below, my pods are all far underutilized, yet the autoscaler is not downscaling any of them:

![image](https://cloud.githubusercontent.com/assets/671052/25836115/51ed106e-3452-11e7-98d8-3e4e8649b0e1.png)

Here is the output of `k

[2017-05-09 05:09] davidopp commented on #33522
I think the question was about updating the node label, not the pod selector.

Updating the node label while the pod (that has a nodeSelector for that node label) is pending should work and allow the pod to schedule.

@bsalamat Can you try to reproduce this problem?

[2017-05-09 05:40] #43616 closed

[2017-05-09 05:44] tacy commented on #45213
@derekwaynecarr  - Yes, I want handle it via exponential backoff.
IMO, MaxOfRateLimiter had implemented  a periodic resync,  we don't need another one.

[2017-05-09 05:52] vishh commented on #45476
Not in the near future. Limiting kernel memory can introduce failure modes that are not yet well understood. To begin with, I think we should add support for monitoring kernel memory usage.

[2017-05-09 05:53] k82cn commented on #33522
Sorry, I mean node label; update node label will not impact running pods, AFAIK :).

[2017-05-09 05:58] davidopp commented on #33522
That's a bug if it doesn't. When the scheduler used to continuously evaluate every pending pod on every node, it should have worked. I'm not sure if recent changes affected it. Would be good for someone to test.

[2017-05-09 06:00] #39148 closed

[2017-05-09 06:10] gyliu513 opened #45526 "ci-kubernetes-e2e-gce-statefulset failed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-09 06:10] gyliu513 commented on #45526
/assign

[2017-05-09 06:10] gyliu513 commented on #45526
Related to https://github.com/kubernetes/kubernetes/pull/45447

[2017-05-09 06:17] xiangpengzhao commented on #33522
Updating node label will impact pending pods but will not impact running pods, right? I remembered that the pending pods will become running if node label updates to match the selector when I worked on fixing another issue.

[2017-05-09 06:21] davidopp commented on #33522
Sorry, I mis-read.

It should impact pending pods, not running pods.

The scenario in the first entry in this issue appears to be
1. user creates pod (via ReplicaSet) with nodeSelector that is not matched by any node
2. pod goes pending
3. user updates node label to match nodeSelector
4. pod stays pending

The correct behavior in (4) is pod should schedule.

But nobody has verified/reproduced this

[2017-05-09 06:27] tacy commented on #45479
@xialonglee - Could you test dns resolv use busybox:musl?  busybox don't support `search` in `resolv.conf`

Related to :
1. gliderlabs/docker-alpine#8
2. https://hub.docker.com/_/busybox/

[2017-05-09 06:32] xiangpengzhao commented on #33522
I will do later.

[2017-05-09 06:42] xialonglee commented on #45479
@MrHohn
I check `/etc/resolve.conf` in busybox, it's no problem, search path was setup properly.
I did some further experiments and found out that the `nslookup` works weirdly in busybox pod:
1. When kubedns pod inherits unaccessable external DNS servers(in my case are 8.8.8.8 and 8.8.4.4), do `nslookup kubernetes` and `nslookup kubernetes.default` in busybox, the latter command didn't add search

[2017-05-09 06:50] madhusudancs commented on #45198
I am not working on it, but I will keep myself assigned until I draw @justinsb's attention.

[2017-05-09 06:54] sdminonne commented on #45511
@deads2k Ok to help get in touch via slack or irc.

[2017-05-09 07:11] xialonglee commented on #45479
@tacy
I tested it You are right. So it is the problem of busybox ...
This issue can be cloesd ...

[2017-05-09 07:24] davidopp commented on #45509
Is this a duplicate of #4301?

[2017-05-09 07:30] breezelxp commented on #35096
@vklonghml have you solveld this problem? I encounterd this also.

[2017-05-09 07:44] bboreham commented on #44307
Did you mean "never error on DEL _because of_ empty NETNS"? I would agree with that. But there are a host of errors where it doesn't seem right to swallow them and say "this is fine". For example:

- json is malformed
- containerid is blank
- kernel is returning EACCESS when I try to do something

[2017-05-09 07:45] NickrenREN commented on #44206
/assign
/close

[2017-05-09 07:45] NickrenREN commented on #44206
/close

[2017-05-09 07:45] #44206 closed

[2017-05-09 07:52] bboreham commented on #44307
@readams that's orthogonal to the problem under discussion, which is that Kubernetes has not maintained enough of the desired state. (specifically the host-network flag)

[2017-05-09 08:33] k82cn commented on #33522
Tested with the latest codes (1.7), it works as expected. let me try 1.4 :).

[2017-05-09 08:39] sege commented on #22469
Mostly pod-to-outside egress in our case. We have a lot of pod-to-legacy-data sources. We can't implement SDN on those old sources and they might even be external sources. Both hostname and IP-based would be nice.

[2017-05-09 08:42] xiangpengzhao commented on #33522
Thanks @k82cn ! I left office for some time after last comment and didn't have a chance to verify the issue. Sorry about this.

[2017-05-09 09:08] gmarek commented on #45512
Actually we know that go 1.8 is causing problems: #45216. Can we make an experiment and check if going back to 1.7 would solve it?

[2017-05-09 09:30] jeroenjacobs1205 commented on #45487
Okay, I troubleshooted some more, and I think part of the problem is my particular setup. Still, I would like to know this behaviour is expected.

Some background info: I'm using Nexus as my docker registry which is also configured as proxy for the official docker repository.

On my K8s node (running on Centos7), I have configured Docker like this:

[code]

This blocks the official repo, and force

[2017-05-09 09:59] wojtek-t commented on #45512
@shyamjvs - let's clarify one thing: those components are not OOMing - we have some artificial limits that we think should be met, but it has nothing to do with limits that are used for OOMing

Regarding go 1.8.1 - we know it's using more CPU, but we don't have any evidence for memory.

[2017-05-09 10:54] rikatz commented on #22469
The same as @sege here.

Actually most of our egress traffic is to legacy servers (including but not limited to Oracle and Mainframes), based on hostnames and IP Addresses.

An additional case are systems that shall not communicate with Internet and should have a default denied Egress traffic.

We use calico by hand here to limit the egress traffic, and I know there's a PR in Calico to read namesp

[2017-05-09 11:18] shyamjvs commented on #45512
@wojtek-t Thanks for the clarification. I've confused exceeding the expected limit to be some form of OOM'ing.

So just to clarify, which option are we choosing?
- Build the image with go1.7
- Reverting back to 0.9.2
- Increasing the mem constraint

[2017-05-09 11:22] wojtek-t commented on #45512
Did we confirm that using go1.7 fixes the problem? This is the first step to do in my opinion.
For now we don't know if this is even go-related.

[2017-05-09 11:32] wojtek-t commented on #45216
I've run the tests that @bradfitz suggested.
Basically, I've used this PR:
https://github.com/kubernetes/kubernetes/compare/master...wojtek-t:debug_go_regression?expand=1
[we're patching one single file in net/http package]

and with that change we're back to be good (profiles from the same moments as the ones described above);
[go_18_patched_begin.pdf](https://github.com/kubernetes/kubernetes/fil

[2017-05-09 11:38] xiangpengzhao commented on #45506
FYI, in the below issue, created event was missing.

#26911

@caseydavenport @jimmidyson

[2017-05-09 11:51] leigh507 commented on #45207
Same issue as above but with kubelet 1.6.2 and coreos 1353.7.0

[2017-05-09 11:55] deads2k opened #45538 "Fix unit tests for autoregister_controller.go reliable"
The unit tests described here https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/pkg/controllers/autoregister/autoregister_controller_test.go are really hard to read and they've been flaking.  A pattern based on indexers like this https://github.com/kubernetes/kubernetes/pull/45432/files#diff-4c8b74b3f2b85a47ccb791ccb88eddceR106 is easier to understand.

I woul

[2017-05-09 12:14] deads2k opened #45539 "Prevent status subresource from touching objectmeta"
`/status` subresources are generally targeted updated for controllers set a logical whitelist of fields.  Given the direction around creating new fields instead of abusing annotations, we should prevent the `/status` subresource from touching `ObjectMeta` fields in new resources that we add.

To do this, we need to make it easy to add the restriction and add unit tests which can detect when new ob

[2017-05-09 12:40] smrutiranjantripathy commented on #21582
Thanks @nikvdp

[2017-05-09 12:50] thassan commented on #34915
on Debian it is /etc/sysconfig/kubelet

[2017-05-09 13:03] mikebryant commented on #44461
This is a significant regression in 1.6 for us. Can this be prioritised, and when fixed cherry-picked into a 1.6 patch release?

[2017-05-09 13:26] k82cn commented on #45237
According to Spindel's test, k8s cluster will recover by restarting apiserver; so I think this may also apiserver related. Any way, I'd like build some tools or PR to see what happen in scheduler (can not reproduced in local, and scheduler's log seems no much info).

/cc @kubernetes/sig-api-machinery-bugs

[2017-05-09 13:27] stuart-warren commented on #44461
I assume we just need to bump the release of gophercloud/gophercloud

Master (as of today): https://github.com/gophercloud/gophercloud/compare/b06120d13e262ceaf890ef38ee30898813696af0...ce1e02c3ccfdb7fab257340dc4d603ec3035fa11 - 80 file changes

Related fixes only: https://github.com/gophercloud/gophercloud/compare/b06120d13e262ceaf890ef38ee30898813696af0...0bf921d - 74 file changes

[2017-05-09 13:32] wojtek-t commented on #45037
@xiang90 - do you have any findings about it?

[2017-05-09 13:40] krallistic opened #45541 "controller-manager (in 1.5.5) partially ignores --use-service-account-credentials"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.5", GitCommit:"894ff23729bbc0055907dd3a496afb725396adda", GitTreeState:"clean", BuildDate:"2017-03-22T00:23:49Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2017-05-09 13:41] eparis commented on #31272
I'm saying I have seen a machine (not using kube/docker) with around 100,000 mount entries. I think viro at one time had a test machine with near 1,000,000. In the very nearish term I'd imagine 1000 containers to not be unreasonable. At 5+ mounts per container (we know there is always at least a service account and shm right now) we are easily talking about parsing 5,000 long. with the way compute

[2017-05-09 13:46] Spindel commented on #45237
I am in and willing to help out and test on this cluster.

On Tue, 9 May 2017, 15:26 Klaus Ma, <notifications@github.com> wrote:

[2017-05-09 13:46] danwinship commented on #22469
NetworkPolicy egress support is #26720 although it has stalled while we finalize NetworkPolicy v1...

I think my egress NetworkPolicy uses cases doc (https://docs.google.com/document/d/1-Cq_Y-yuyNklvdnaZF9Qngl3xe0NnArT7Xt_Wno9beg) covers all the things people have mentioned in the last few comments here.

[2017-05-09 13:54] justinsb commented on #45198
So there's a root problem here:  kube-up should be in maintenance mode, yet it is still being changed.

Then there are a few problems:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ha-master/5821

The cluster comes up; it can reach the pods, but then:
[code]

That suggests not all the masters are up (yet).  Do we have a health check on the API load balance

[2017-05-09 13:55] sttts opened #45542 "Use meta.k8s.io/v1 for meta types like *Options and Status"
We have moved *Options and Status into a meta apigroup, but do not use `meta.k8s.io/v1` as the groupversion. Instead, we either use the apigroup of the request context or "/v1" as a fall-back (like in the dynamic client, compare VersionedParameterEncoderWithV1Fallback). We should change this.

[2017-05-09 14:10] luxas commented on #45216
I can't speak for if a such patch is safe to do, but it's very doable from our side as you saw from the commit, we've built a few releases with patched Golang GOROOT's already with great success for arm and ppc64le.

I think what @bradfitz suggested here might be the best thing to do initially. Fix it in https://godoc.org/golang.org/x/net/http2 or in https://github.com/kubernetes/kubernetes/tree/m

[2017-05-09 14:38] liggitt commented on #45506
`/v1/events?watch=true` is watching the Event object... creating a new namespace doesn't record Event objects.

[2017-05-09 14:39] liggitt commented on #26911
no Event object is intended to be recorded when a namespace is created

[2017-05-09 14:39] #26911 closed

[2017-05-09 14:39] liggitt commented on #26911
Event objects are reported separately from object creation, and only by some object creators (typically controllers, to report on what they are doing)

[2017-05-09 14:39] idvoretskyi commented on #45502
cc @kubernetes/sig-openstack-bugs

[2017-05-09 14:45] avis71 commented on #36152
+1

[2017-05-09 14:51] liggitt commented on #45506
I cannot recreate with etcd2 or etcd3 on v1.6.2. Following the steps above, I see:

[code]

[2017-05-09 14:53] liggitt commented on #45506
@caseydavenport can you provide your full apiserver invocation, including all flags/options?

[2017-05-09 15:02] justinsb commented on #30518
Let's wait for the support in the kubernetes/ingress repo.

[2017-05-09 15:10] #44735 closed

[2017-05-09 15:21] stevekuznetsov opened #45546 "jsonpath: missing `left' in filter has confusing error message and fails unexpectedly"
On [current master](https://github.com/kubernetes/kubernetes/blob/a7fa2aef8deb40eb1d159dbf7f0d8ea7d6d10dac/staging/src/k8s.io/client-go/util/jsonpath/jsonpath.go#L458-L460), `jsonpath` will fail to evaluate a filter when the `'left'` member does not exist:

[code]

For instance, if I were to execute

[code]

Where not all `pods` in that namespace had the `foo` annotation, this would fail with the

[2017-05-09 15:21] tombergan commented on #45216
Is it possible to run the benchmark at tip without the above patch to see if the bottleneck is entirely eliminated with the new select implementation, or if it still exists partially (as the above benchmark from @bradfitz suggests it will)?

I hadn't realized the select implementation might be O(n) on each call -- [actually it looks worse than O(n)](https://github.com/golang/go/blob/release-branch

[2017-05-09 15:22] jacekn opened #45547 "kubernetes-master layer creates partially broken dockercfg"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): registry action

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

[2017-05-09 15:32] wojtek-t commented on #45216
Currently we are doing:
[code]
to gather go source to compile against it.

I guess what you ask for is to replace this with non-specific version, but head of repository? Or is there any tar.gz that we can download for this purpose?

@tombergan - I completely agree that ensuring that this problem is fixed in 1.9 is super important, but we should also come up with some strategy what we should do wih

[2017-05-09 15:49] josharian commented on #45216
Yes, although I doubt that sorting the cases is the source of the slowdown. :)

@wojtek-t can you create new CPU profiles, but add the `-lines` argument to `go tool pprof`, so that we can see where inside select the time is being spent? That might help eliminate a bunch of guessing. (If you have the old binaries and profiles around, you can use them again.)

That comment only applies if all but on

[2017-05-09 15:49] abhishekagarwal87 commented on #39201
You have to create a default storage class in your cluster. What does the command `kubectl get storageclass` returns on the cluster?

[2017-05-09 15:54] thockin commented on #31272
I've said elsewhere, but I'll restate because it is ridiculously horrible and everyone should internalize it - the guarantees the kernel offers around reading /proc/mounts are weak (at least they were, last I looked).  It doesn't guarantee a single read will get the whole thing, and it doesn't guarantee that multiple reads are from an atomic snapshot.  So if the table is:

[code]

... a short read

[2017-05-09 15:59] voidtcg commented on #41075
@talk2vino So what is the syntax to use in the pods. I too is having this issue!

[2017-05-09 16:01] caseydavenport commented on #45506
@liggitt I'm starting it as a systemd unit with the following options:

[code]

[2017-05-09 16:02] luxas commented on #45216
@wojtek-t This will give you HEAD:
[code]

I proposed that we'd do this for go1.8 some time ago, but it didn't get prioritized: https://github.com/kubernetes/test-infra/issues/1399

I hope we can set up a job for that soon-ish though with this in mind..., shouldn't technically be too hard

[2017-05-09 16:20] thockin commented on #45426
[code]

These lines suggest you are using "externalIPs" rather than `type:
LoadBalancer`.  Can you post full `kubectl get svc` for this service?

On Mon, May 8, 2017 at 6:17 AM, cmluciano <notifications@github.com> wrote:

[2017-05-09 16:33] bradfitz commented on #45216
I would also still like to understand why I only see a worst case 11.46% performance decrease with the new select cases, but a 3x performance drop was reported by Kubernetes. It'd be nice to be able to reproduce the 3x numbers locally in a self-contained benchmark.

[2017-05-09 16:33] jeffvance commented on #44792
Yes @msau42 as soon as I get my laptop running. I can do some testing in parallel too...

[2017-05-09 16:45] luxas commented on #45216
@bradfitz Maybe if you spin up 5000 nodes, start a load test on each and you'll see a similar performance decrease ;)

[2017-05-09 16:48] bradfitz commented on #45216
Maybe. But that's not intuitive. I want to understand it more than I want to be able to just reproduce it.

[2017-05-09 17:22] nicksardo commented on #45512
Do we collect memory stats on tests that have passed? If you were to run this test with a 1.7 image, would it tell you anything more than it used less than 60MB?

[2017-05-09 17:31] mikedanese commented on #45539
This is the direction taken for components in the kubernetes codebase, but does not apply to third party components. coreos/flannel stores overlay state in node annotations and uses the node/status subresource (because node/status write was considered less privileged then node write). This seems like an acceptable use of annotations as it is unlikely that we will ever be able to add flannel specif

[2017-05-09 17:32] liggitt commented on #45506
if you're running kube1.6 against an etcd2 server, don't you need to specify --storage-backend=etcd2?

[2017-05-09 17:42] justechn commented on #2630
After reading this full thread I am not sure what the resolution was. I am having a similar problem where I am on a mac using virtualbox and trying to start a mysql pod with a volume mount into /data (i have also tried /Users but it has the same behaviour). When minikube creates the directories they are created with root ownership and restrictive write permissions. Mysql is not able to write to th

[2017-05-09 17:50] antoineco commented on #2630
@justechn you may want to check https://kubernetes.io/docs/concepts/policy/security-context/

[2017-05-09 18:00] nicksardo commented on #45512
Between 0.9.2 and 0.9.3, the binary increased in size from 33MB to 43MB. Via git bisecting, seems that it happened when we updated dependencies (https://github.com/kubernetes/ingress/commit/88a27512349828274dadd0deb528ac9589b80cd0).  If the memory usage was 50+MB already at load, conceivably the binary size could push it over the limit.

@bowei agrees that it's reasonable to bump the limit.

[2017-05-09 18:03] liggitt commented on #45506
@shettyg it is possible the pod was not yet deleted... `kubectl get` hides terminated but not deleted pods by default:
[code]

[2017-05-09 18:04] wojtek-t commented on #45216
@luxas - running something with golang HEAD should be relatively simple. But this regression isn't that significant even in 500-node kubemark, which suggests that to detect those we would need very large kubemarks which is expensive.

+1 - do you have any suggestions how we can help with it? The only that I see now is that we should try running the profile with `-lines` argument (which I will do t

[2017-05-09 18:11] wiktortomczak commented on #45426
`kubectl get svc` output is already provided, is it enough? (please let me know if not, I will recreate the cluster)
Cluster type is `ClusterIP`, not `LoadBalancer` indeed.

[code]

[2017-05-09 18:13] bowei commented on #45512
Do we have a policy around how much memory the controllers _should_ take up? It is a centralized component so there will be at most one copy running for the entire cluster.

It looks to me like the 60 MB was derived empirically by seeing the memory consumption of the GLBC pod at the time. It stands to reason that memory usage would creep up as we add more features to the controller...

[2017-05-09 18:13] luxas opened #45554 "The cross-build is broken"
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-cross-build/

I wonder why there is no auto-filed issue for this @ixdy

#44895 broke the crossbuild: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/1683/
[code]

@kubernetes/sig-testing-bugs FYI

@dcbw @thockin @smarterclayton @lavalamp @vishh

[2017-05-09 18:15] sjug opened #45555 "hack/local-up-cluster.sh unable to sync pods on creation of cluster"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: 16 VCPUs, 64gb DRAM
- **OS**: Red Hat Enterprise Linux Server 7.3
- **Kernel**: Linux 3.10.0-514.el7.x86_64 #1 SMP Wed Oct 19 11:24:13 EDT 2016 x86_64 GNU/Linux
- **Install tools**: git clone kubernetes && ./hack/local-up-cluster.sh

**What happened**:
Shell script completes how

[2017-05-09 18:17] wojtek-t commented on #45512
I don't think we have. But generally, for all components running on the master machine (which I think is the case for glbc, right?) we should track it very carefully, to avoid increasing size of those.

That is fine - if you believe that the increase is expected, the we should bump it. We have those limits mostly to detect situations when some resource usage increases without any good reason.

If

[2017-05-09 18:20] thockin commented on #45426
You have it set as type ClusterIP and a manually configued `externalIP`.
External IPs are NOT auto-managed.  Did you create a GCP ForwardingRule and
TargetPool, and manage those yourself?

If what you want is a LoadBalance, you need to set `type=LoadBalancer`, and
clear `externalIPs`.

On Tue, May 9, 2017 at 11:12 AM, Wiktor Tomczak <notifications@github.com>
wrote:

[2017-05-09 18:26] nicksardo commented on #45512
Reiterating my question - are we logging anywhere the max mem used of components in passed tests?

[2017-05-09 18:28] wojtek-t commented on #45512
For each run we are logging the value which we are then checking against those thresholds. So yes - we should be able to get those numbers from previous runs.

[2017-05-09 18:29] wiktortomczak commented on #45426
I want the service to be reachable at the particular externalIP. IIUC, LoadBalancer gets a random public IP and the IP can't be set to a specific value. Is that correct?

I'm not sure if I created a GCP ForwardingRule and TargetPool. How would I do that?

FWIW, I did assign the particular externalIP to the node (the VM instance) and it is reachable at that IP (see "The same SimpleHTTPServer starte

[2017-05-09 18:34] thockin commented on #45426
You can set `loadBalancerIP` and, as long as that IP is owned by your
project, it will use the IP.  As it is, you're doing things the very hard
way.

On Tue, May 9, 2017 at 11:30 AM, Wiktor Tomczak <notifications@github.com>
wrote:

[2017-05-09 18:39] MrHohn commented on #45479
@tacy Thanks!

@xialonglee I'm going to close this issue :)

/assign

[2017-05-09 18:39] MrHohn commented on #45479
/close

[2017-05-09 18:39] #45479 closed

[2017-05-09 18:45] caseydavenport commented on #45506
@liggitt welp.  I think the missing `--storage-backend=etcd2` option was causing the problem.

Initial tests show that I get the expected events after adding that flag.  Interesting that I didn't see this issue manifest itself: https://github.com/kubernetes/kubernetes/issues/43634

Seems like in general the apiserver isn't doing a great job of reporting that it's misconfigured in these scenarios.

[2017-05-09 18:52] titilambert opened #45557 "Missing `--cluster-name` parameter to cloud-controller-manager binary"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Red Hat 7.3
- **Kernel** (e.g. `uname -a`): Linux envdev01-kubenode-xs-1 3.10.0-514.16.1.el7.x86_64 1 SMP Fri Mar 10 13:12:32 EST 2017 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: from binaries

**What happened**: cloud-controll

[2017-05-09 18:52] spxtr opened #45558 "ImageGCFailed, unable to delete images and reclaim disk."
**Kubernetes version**: 1.6.2 master and nodes
**Environment**: GKE
**What happened**: The following has been happening for the last week or two.

I noticed loads of pods being evicted with the following message from `kubectl describe`:
[code]
The node shows ready but also that it has disk pressure from `kubectl get no`:
[code]
`kubectl describe no` shows lots of `ImageGCFailed`.
[code]
Kubelet lo

[2017-05-09 18:52] liggitt commented on #45506
what specific version of etcd2 are you running against? when I try to run a 1.6.2 server against 2.3.7 without specifying the storage backend, the server doesn't come up at all.

[2017-05-09 19:03] fejta commented on #44684
@rmmh triage cluster seems gone so I'm closing the issue (maybe the #45113 fixed things??)

[2017-05-09 19:03] #44684 closed

[2017-05-09 19:04] #45526 closed

[2017-05-09 19:06] justechn commented on #2630
@antoineco thanks for the tip. I must be doing something wrong because it is not working for me. I logged into the pod and ran `id mysql` and got back `uid=999(mysql) gid=999(mysql) groups=999(mysql)`. So I added fsGroup with 999 to my spec and restarted, but nothing changed. the directories are still owned by root.
[code]

[code]

[2017-05-09 19:09] resouer commented on #7562
xref: https://github.com/kubernetes/kubernetes/issues/43640 by @msau42

[2017-05-09 19:09] resouer commented on #7562
And kubernetes/community#306

[2017-05-09 19:15] antoineco commented on #2630
AFAIK `hostPath` volumes do not support Volume Security contexts.

[2017-05-09 19:20] justechn commented on #2630
Oh, is there a different way to do this?

[2017-05-09 19:20] stensonb commented on #43988
Here are my kubelet logs, showing the same error @jmccarty3 reports: https://gist.github.com/stensonb/3f6db27eb0ba031463d63cad8360f780

It looks like the container with id `dadd21ea-2b61-11e7-87ae-e63e85527c63` demonstrates the issue...search for that in the gist.

Also, this line:

[code]

[2017-05-09 19:37] lavalamp commented on #45539
I left comments in the PR. Eventually we will need to revisit this but I think at the moment it's not possible to instate a blanket ban.

[2017-05-09 19:42] caseydavenport commented on #45506
@liggitt so, oddly enough I think the etcd cluster version in the scripts I was using has changed without me realizing, so my earlier comment about etcdv2 is no longer correct.

[code]

That said, I've verified a few times now that in the cluster I'm using the `--storage-backend=etcd2` option makes the difference.

[2017-05-09 19:47] liggitt commented on #45506
interesting, looks like etcd 3.0.11 added the ability to the v3 API to get the previous version of an etcd value on deletion (https://github.com/coreos/etcd/pull/5880)

the v2 etcd API obtained the previous value a different way

that means that the v3 etcd API with etcd 3.0.10 or earlier will fail to send deletion events (the `expected type *api.Service, but watch event object had type <nil>` err

[2017-05-09 19:48] liggitt commented on #45506
that means the etcd3 storage backend client should do a hard check to make sure we meet the minimum etcd version requirements, or the cluster will be in a really bad state.

[2017-05-09 19:50] liggitt commented on #45506
`kube::etcd::validate` in the kube utility scripts currently requires the minimum version to be 3.0.17... not sure what the requirement is based on though

[2017-05-09 19:51] liggitt commented on #45506
@hongchaodeng @wojtek-t @mml can you look at documenting/enforcing the minimum etcd3 server version?

[2017-05-09 19:57] krmayankk commented on #27754
what is the logrotation story for bare metal deployment. Is logrotate enabled by default for baremetal  ? Is there a configuration in kubelet that allows the logrotation to be tweaked ?

[2017-05-09 20:25] vishh commented on #45558
IIRC, there is a known bug around kubelet GC'ing unnecessarily. @dashpole did you post a fix for it and was it backported?

[2017-05-09 20:31] dashpole commented on #45558
That was #44986, which dealt with evicting even if image garbage collection was partially successful.  It was backported to 1.6, but I am not sure if a release with it has been cut.

[2017-05-09 20:33] hongchaodeng commented on #45506
Original issue: https://github.com/kubernetes/kubernetes/issues/33653

Needs etcd version >= 3.0.12

[2017-05-09 20:40] haibinxie commented on #44063
Hi All, I put together a proposal for the alpha version of IPVS implementation hoping to get into kubernetes 1.7. need your feedback.

https://docs.google.com/document/d/1YEBWR4EWeCEWwxufXzRM0e82l_lYYzIXQiSayGaVQ8M/edit?usp=sharing

@kubernetes/sig-network-feature-requests
@kubernetes/sig-scalability-feature-requests
@thockin
@wojtek-t

[2017-05-09 20:44] hongchaodeng commented on #45506
Isn't there any compatibility matrix between components?

[2017-05-09 20:44] dashpole commented on #45558
@vishh shouldn't we not be scheduling new pods to nodes with disk pressure?

[2017-05-09 20:47] bradfitz commented on #45216
I sent out https://go-review.googlesource.com/c/43034/ to reduce the select cases from 10 to 6, which is even one below Go 1.7's 7 cases.

I haven't found a benchmark which shows that this is awesome, though. See the commit message there for its boring numbers.

If somebody could benchmark that change with a better benchmark func than http2's BenchmarkServerGets, that'd be helpful. Maybe with a la

[2017-05-09 20:51] dashpole commented on #45558
It doesn't worry me that we fail to clean up images.  This happens whenever we try to clean up an image belonging to a terminated container, but could also be indicative of issues with docker, which is why we report it.  I am confused by two things:
1. Why are we scheduling new pods to the node that has disk pressure?
2. If we are evicting lots of pods, why are we unable to reduce disk pressure?

[2017-05-09 20:53] liggitt commented on #45506
I couldn't easily find one, and it seems like the etcd3 client that kubernetes sets up should ensure it is able to work properly

[2017-05-09 20:57] hongchaodeng commented on #45506
I agree that it should be ensured.
It's already a mistake that no such check existed during that version upgrade.
A remedy we could do is to provide a compatibility matrix so that there is some guide for users to follow.

[2017-05-09 20:59] dashpole commented on #45558
@spxtr do you see any "Failed to admit pod" messages in the kubelet logs?

[2017-05-09 21:02] #40705 closed

[2017-05-09 21:03] spxtr commented on #45558
Yes.
[code]

[2017-05-09 21:14] madhusudancs commented on #40705
yAy! Thanks!

[2017-05-09 22:04] jingxu97 commented on #43515
@discordianfish I think you are hitting the issue @wongma7 mentioned above. He has a PR #44781 to fix it. I will make sure it can merge soon. Thanks!

[2017-05-09 22:07] #45149 closed

[2017-05-09 22:26] tejasmanohar commented on #41237
I think it's GRPC's incompatibility with ALB.

[2017-05-09 22:46] ixdy commented on #45554
it seems like the triage tool is behind by a day.

[2017-05-09 22:48] aaronlevy commented on #45539
cc @ericchiang @lpabon

[2017-05-09 22:55] shyamjvs opened #45566 "Problem with apiserver metrics for request counts of "LIST" api calls"
It seems like the apiserver is not properly updating the `apiserver_request_count` metric for "LIST" api calls.

---------------------------------------------------

I created a new k8s cluster, ssh'ed to the master to obtain the count of `LIST pods` requests coming from kubectl using `curl localhost:8080/metrics | grep "apiserver_request_count{client=\"kubectl" | grep "resource=\"pods\",verb=\"LI

[2017-05-09 23:14] shyamjvs commented on #45566
Just noticed something interesting! The LIST requests are actually being counted as WATCH requests for some reason. I've called `kubectl get pods` 5 times and they got counted as watch requests:

[code]

changed to

[code]

Are LIST requests converted to WATCH requests (by kubectl or admission controller) which are closed as soon as we get the first response?
Or maybe we are wrongly entering this

[2017-05-09 23:24] jcbsmpsn commented on #43670
I started on this one a little while ago, but got hung up waiting for another change to go through so I can proceed. Taking a look at it again now.

[2017-05-09 23:47] techtonik commented on #4290
At least the error message should be improved with direction guidelines if upstream is unable to provide images with security certificates by default.

[2017-05-09 23:49] fejta opened #45567 "10 GKE 1.4-1.6 upgrade jobs fail a variety of Job, SchedulePredicate tests"
Testgrid: https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-container_vm-1.4-container_vm-1.6-upgrade-master&sort-by-failures=

Failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#5e1dbad0da736548d58a

/assign @foxish

[2017-05-09 23:53] girishkalele opened #45568 "kubectl get rs <name> -w fails with error BadRequest (unknown reason)"
**Error from server (BadRequest): the server rejected our request for an unknown reason (get replicasets.extensions)**

I don't know how to get logs from the apiserver running on GKE master.

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

GKE v1.6.2

**What happened**:

- This works `$ kubectl get rs <name>`
- This does not work `$ kubectl get rs <name> -w`

But

[2017-05-09 23:53] techtonik commented on #43838
@arun-gupta you should raise the issue against https://github.com/kubernetes/kubernetes.github.io by clicking `Create Issue` at the bottom of documentation page.

[2017-05-09 23:56] techtonik commented on #43838
Oh, I see. You mean that https://get.k8s.io/ script should fail early if AWS installation method is detected.

[2017-05-09 23:56] fejta commented on #41898
Ready to close?

[2017-05-10 00:13] r4j4h commented on #42438
Just following up that the old nodes still not cleaned up

[2017-05-10 00:16] janetkuo commented on #45513
Something's wrong when parsing statefulset e2e test manifests to JSON:

[code]

[2017-05-10 00:17] mengqiy commented on #41898
Yup.
/close

[2017-05-10 00:17] #41898 closed

[2017-05-10 00:23] foxish commented on #45513
Seems like the fix was https://github.com/kubernetes/kubernetes/pull/45527. We can close this I think.

[2017-05-10 00:25] janetkuo commented on #45513
Thanks, closing

[2017-05-10 00:25] #45513 closed

[2017-05-10 00:51] dashpole commented on #45558
#44986 was cherrypicked after 1.6.2 was cut, so it will be in 1.6.3.  But that still doesn't fully explain this behavior.

@spxtr  Do you see a bunch of `Ignoring node gke-prow-build-pool-a89df2af-4bc8 with DiskPressure condition status True` in the most recent portion of the kube-scheduler logs?
Or do you instead see a bunch of `Scheduled` events to that node?  How often do you see each of these?

[2017-05-10 00:56] prat0318 commented on #39201
Even after creating a default `storageclass` i see the same issue:
[code]

[2017-05-10 00:56] jagosan commented on #44791
@fejta - it appears that the situation has improved based on early readout of the [link](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Service%20endpoints%20latency%20should%20not%20be%20very%20high) you provided, but perhaps still too early to tell.  Many thanks @feiskyer for quick review on the related issue.

[2017-05-10 00:58] dashpole commented on #45558
@vishh could this behavior be caused by critical pod admission ignoring disk pressure?  If a node daemon uses up all disk space a critical pod would still schedule to the node, but then be immediately evicted.

[2017-05-10 01:00] fejta commented on #44791
Sweet! Also check out https://github.com/kubernetes/test-infra/tree/master/metrics.

@cjwagner wrote some infra to provide daily updates to the data used to power the thursday flaky email. Notice from http://storage.googleapis.com/k8s-metrics/flakes/flakes-latest.json that this job is no longer flagged, whch seems sufficient to me to close this issue.

[2017-05-10 01:30] josharian commented on #45216
In addition to running the profile with `-lines`, you could also generate runtime/trace output, in the hopes that we could examine the trace output to see which select cases are blocking. Trace output is pretty voluminous, though, so you might have to poke through it yourself and see if you can make some inferences.

[2017-05-10 01:35] karataliu commented on #43691
Related PR : https://github.com/kubernetes/kubernetes/pull/45523

[2017-05-10 02:30] Dm3Ch opened #45570 "[Feature request] Job max attempts count"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

It would be great if you'll add somethink like maxRetryAttempts for `Job`. Like `deadline` but working on attempts count. It would be very usefull for some usecases.

[2017-05-10 02:37] arun-gupta commented on #43838
@techtonik correct. I don't think its a docs issue.

[2017-05-10 03:23] #45220 closed

[2017-05-10 03:30] xiangpengzhao commented on #33522
I tried on v1.4.0, it also works as expected. After updating node label, pending pods become running about 10+ seconds later.

[code]

[code]

cc @davidopp @k82cn

[2017-05-10 03:39] enisoc commented on #45277
CC @foxish who has expressed opinions on this previously.

TL;DR: I'm in favor of the names @deads2k has proposed. Unless there are objections, I say we move forward.

First of all, I like the base name `CustomResource` a lot:

* "Custom" implies the resource is not necessarily available on all servers (it's a customization).
  * The term "third party" didn't get at this directly, and was potentia

[2017-05-10 04:16] #44736 closed

[2017-05-10 04:53] colemickens commented on #41916
@jsravn that aligns pretty much exactly with what we were seeing here: https://github.com/kubernetes/kubernetes/issues/41185

[2017-05-10 05:07] #43683 closed

[2017-05-10 05:12] #45064 closed

[2017-05-10 05:52] k82cn commented on #45554
I think it's because the following error, the `syscall.Flock` are not available in windows.

[code]

[2017-05-10 07:02] redbaron commented on #41185
What worries me is that Kubelet uses client-go library to connect to API server, which probably means that all other users are affected :(

[2017-05-10 07:11] jagosan commented on #44791
/assign @fejta
/unassign @lavalamp @deads2k @bowei

[2017-05-10 07:26] ddysher commented on #45054
After a bit of research, here's what I found (no prior experience with SELinux)

In [this](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/pod-security-context.md) and [this](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/selinux.md) proposal, SELinux support is moved out of volume plugin and handled centrally in kubelet. All we

[2017-05-10 07:29] bsalamat commented on #33522
Thanks, @xiangpengzhao and @k82cn for trying the scenario and verifying that the system works as expected.

@zilman Given that your last update on this issue is over 7 months old, please let us know if you are still seeing the issue.

[2017-05-10 07:51] tobilarscheid commented on #27114
I  totally like this idea, my general understanding of a `livenessProbe` was that it is only run on ready containers - I was surprised to find out that this is not the case, when running a container with long boot time for the first time. I vote for making `waitForReadinessProbe` the default, as it makes so much more sense.

[2017-05-10 07:55] Scukerman commented on #45418
@ncdc @soltysh any news?

[2017-05-10 08:30] ChipmunkV commented on #27362
Why it's closed?

It's not fixed: Recreate still doesn't wait for termination.

[2017-05-10 08:31] beinnova commented on #33447
Using _gcr.io/google_containers/volume-nfs:0.8_ works for me.

[2017-05-10 08:31] kargakis commented on #27362
@ChipmunkV what version are you using?

[2017-05-10 08:39] ChipmunkV commented on #27362
@kargakis, 1.6.2-00 from deb package.

I'm changing the Deployment to use different configmap. K8s recreates pod, but the new one can't listen on ports that are probably used by the old one (using `hostNetwork`). Both are appearing in `kubectl get all` at the same time (old one is 'Terminating').

[2017-05-10 08:45] xiangpengzhao commented on #44269
update:

Use the HEAD code, current result of `kubectl patch node` is:
`The result is node "192.168.1.220" patched` (former result is `not patched`)

Though with the new result, I still can't see the OIR in node capacity neither by `kubectl describe node` nor `kubectl get node -o json`

[2017-05-10 08:55] jsravn commented on #41185
@bboreham That's true. Which is probably why client-go should be heartbeating at the application layer. E.g. sending a periodic GET to ensure the connection is still alive.

It does enable TCP keepalive though. So this should detect the TCP connection is dead after about 5 minutes. client-go uses a 30s interval/idle time, and on my system it will fail after 9 failed probes.

But I have also seen i

[2017-05-10 08:56] jsravn commented on #41185
@raveeram are you using multi master? Because I suspect that is part of the problem.

[2017-05-10 09:10] chengzhang1016 opened #45581 "HPA V2 cannot get custom metrics info"
Description of problem: HPA V2 cannot get custom metrics info.
[code]

kubernetes version: v1.7.0-alpha.3.129+20fa30e4b5a256

How reproducible:
Always

Steps to Reproduce:
1. Enable kube DNS, start controller_manager with --horizontal-pod-autoscaler-use-rest-clients="true" and start apiserver with --runtime-config="api/all=true"
[code]

2. Deploy the Prometheus Operator for monitoring Services in

[2017-05-10 09:24] mdshuai commented on #45581
@DirectXMan12 @luxas

[2017-05-10 09:34] tatsuhiro-t opened #45583 "kubectl logs does not work with --kubelet-preferred-address-types=InternalIP"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernet

[2017-05-10 09:45] gmarek commented on #20445
Very obsolete.

[2017-05-10 09:45] #20445 closed

[2017-05-10 09:46] gmarek commented on #13429
It is actually done for quite some time, as a part of 'network-partition' e2e test.

[2017-05-10 09:46] #13429 closed

[2017-05-10 09:46] gmarek commented on #20119
Fixed by the number of changes in Q1 2017.

[2017-05-10 09:46] #20119 closed

[2017-05-10 09:47] #27882 closed

[2017-05-10 09:50] wojtek-t commented on #45216
I think that the `-lines` doesn't work for me (or I'm doing something wrong). Doing:
[code]
is producing exactly the same profile as without `-lines` option.

What am I doing wrong?

[2017-05-10 10:06] wojtek-t commented on #45566
No - they are definitely not converted - it has to be a problem at the monitoring level somewhere.

@kubernetes/sig-api-machinery-bugs

[2017-05-10 10:12] wojtek-t commented on #45216
BTW,
[code]
works for me - it's just `-lines` that doesn't work.

[2017-05-10 10:32] discordianfish commented on #43515
@jingxu97 Great, thanks! Do you know roughly when this will be available in GCE?

[2017-05-10 10:38] smile-lin opened #45584 "it is so long ,when I use kubectl exec"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-10 10:39] smile-lin commented on #45584
when I use kubectl exec somethink ,it is now:
![image](https://cloud.githubusercontent.com/assets/28584936/25894810/f50e47fa-35af-11e7-80d4-c377c81ddd30.png)

[2017-05-10 10:41] smile-lin commented on #45584
when I use kubectl exec,It is now
![image](https://cloud.githubusercontent.com/assets/28584936/25894920/53f43df6-35b0-11e7-8768-d7e6dd232df4.png)

[2017-05-10 10:52] shenlanse opened #45585 "[BUG] endpoint controller wrongly deletes HA used endpoints"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG  OR   Do i miss something important?

---

**Kubernetes version** (use `kubectl version`):
k8s 1.3.5. still exists in 1.6.2

---

**What happened**:
HA of kube-controller-manager and kube-scheduler is achieved by create endpoint and update it periodically.
However, endpoint controller deletes **endpoints without corresponding serv

[2017-05-10 11:01] wojtek-t commented on #45216
Regarding trying to run kubemark from Golang head - I'm not able to build the image - this doesn't compile for me...

[2017-05-10 11:09] kargakis commented on #27362
This regressed in 1.6 but was fixed again in https://github.com/kubernetes/kubernetes/pull/43963. I don't think it was cherry-picked back to 1.6 though and the cherry-pick is not clean. @ChipmunkV are you interested in backporting it to the release-1.6 branch?

[2017-05-10 11:55] shenlanse commented on #45585
@mikedanese @timothysc

[2017-05-10 11:58] jayunit100 commented on #20793
- We will handle simulating these scenarios in scheduler_perf.

- Also we will ping test infra on how to fire those
Tests up as part of the CI so the SLOs don't regress.

[2017-05-10 12:38] pires commented on #33483
@nicksardo is there a PR or different issues one can subscribe to?

Also, can you fix the labels for this issue?

[2017-05-10 13:04] deads2k commented on #45541
This is a good find and a frustrating bug, but we don't have the roles available in 1.5 if we were to fix it in the 1.5.x stream.  We would close the hole, but then anyone who had the flag set would end up stuck in a place where their controllers wouldn't work until they found a way to harvest and convert roles that are only present in 1.6.

I don't think we should close the hole in 1.5.

[2017-05-10 13:08] yuval-k commented on #36850
Anybody working on this? I'm trying to setup end2end testing environment, so I may be able to give this one a try.

[2017-05-10 13:28] mikebryant opened #45593 "panic "fatal error: concurrent map writes" in kubedns"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "fatal error: concurrent map writes"

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2017-05-10 13:49] luxas commented on #45557
@wlan0 @thockin @roberthbailey @colemickens

[2017-05-10 13:55] luxas opened #45594 "The GCE cloudprovider's functions and assumptions should be documented"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

DOCS REQUEST

@bowei I'm trying out the cloud-controller-manager on top of kubeadm in line with proposal https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloud-provider-refactoring.md

But the assumptions the GCE cloudprovider makes are non-obvious, for example setting some tags somewhere on a node for bei

[2017-05-10 13:56] jszczepkowski commented on #38549
Closing as obsolete.

[2017-05-10 13:56] #38549 closed

[2017-05-10 13:58] jszczepkowski commented on #38307
Closing as obsolete.

[2017-05-10 13:59] sjug commented on #45555
The installed docker version was too old `docker 1.10.3-59`, after upgrading this is no longer a problem.

[2017-05-10 13:59] #45555 closed

[2017-05-10 14:06] verb commented on #43206
I think this is probably another instance of this: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/45571/pull-kubernetes-e2e-kops-aws/24056/

timeouts caused by redis, maybe?

[2017-05-10 14:13] shyamjvs commented on #45566
On running apiserver with this line https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L107 modified to `verb = "SWAGWATCH-" + request.QueryParameter("watch")` I noticed that all my list api calls were being reported under the verb `SWAGWATCH-true` showing that somehow `watch=true` parameter is being included in the request url.

Howe

[2017-05-10 14:21] codablock opened #45596 "Refactor attachdetach reconciler to use a map for multi-attach support"
This is a reminder to refactor isMultiAttachForbidden in the attachdetach reconciler to use a map which matches https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

Comes from: https://github.com/kubernetes/kubernetes/pull/45346#pullrequestreview-36283731

For some reason GitHub stopped showing correct comment-links...so here is the plain link:
`https://github.com/kubernet

[2017-05-10 14:22] codablock commented on #45596
/assign

[2017-05-10 14:44] gyliu513 opened #45597 "Adding "PodPreset" to "kubectl get help""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-05-10 15:11] k82cn opened #45598 "Add scheduler debug tools"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature request

**Kubernetes version** (use `kubectl version`):
master branch

**What you expected to happen**:

When investigating #45237, we'd like to get more debug information from scheduler; but unfortunately, no much info here :(.

So I'd like to build a tools to replay scheduler with more information, e.g. print input/output of eac

[2017-05-10 15:14] tombergan commented on #45216
Can you describe the test in more detail? From [earlier](https://github.com/kubernetes/kubernetes/issues/45216#issuecomment-299903940), I gather the server is using ~36 physical cores and there are many clients (5000? all in VMs?). What's not clear to me is what happens on each individual connection:

- Are there POSTs? (how big)
- Are there large response bodies? (how big)
- Are there many concur

[2017-05-10 15:15] DirectXMan12 commented on #45581
Due to some refactors, things inadvertently broke the way the custom metrics client converts between Kinds and Resources.  https://github.com/kubernetes/kubernetes/pull/45384 should fix the issue (although there's a bit of cleanup to be done afterwards to use a discovery mapper instead of the "guess" mapping)

[2017-05-10 15:19] josharian commented on #45216
@wojtek-t well, -addresses might be worth looking at as well. Could you generate pdfs from both -lines (even if it is identical) and -addresses and post them here? Any luck with tracing?

[2017-05-10 15:21] nikhiljindal commented on #42594
Sent https://github.com/kubernetes/kubernetes/pull/45600 to add UID. Happy to add other fields if required.

[2017-05-10 15:23] DirectXMan12 commented on #45498
Ideally, we shouldn't be vendoring Heapster at all.  Assuming people feel the aggregator is ready, in 1.7, we should just get rid of the legacy client entirely, and use Heapster in API server mode (so the types come from `k8s.io/metrics`), and go through the aggregator.

[2017-05-10 15:30] wojtek-t commented on #45216
Let me clarify - not everything you mentioned above is true.
I was running 5000-node kubemark cluster, which was simulating 5000-node kubernetes cluster, but not on 5000 VM. In fact we have 80 VMs, and on each of them we are simulating 1/80th of all nodes.

In total we have:
- 80 VM, simulating 5000 kubernetes nodes (those are n1-highmem-8 VMs)
- 1 VM being a master machine

There can be way more

[2017-05-10 15:32] wojtek-t commented on #45216
Will do. No luck with tracing...

[2017-05-10 15:42] tombergan commented on #45216
Thanks for the clarifications. How many physical cores are the 81 VMs running on?

Is it possible to find out? Currently, our hypothesis is that there's lock contention within a single connection, but for this to be a realistic hypothesis, we'd expect that some connections would have many concurrent requests.

[2017-05-10 15:52] #45597 closed

[2017-05-10 15:52] gyliu513 commented on #45597
Issue moved to [kubernetes/kubectl #9](https://github.com/kubernetes/kubectl/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-10 15:52] gyliu513 commented on #45597
Issue moved to [kubernetes/kubectl #10](https://github.com/kubernetes/kubectl/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-10 16:17] mengqiy commented on #45519
@kubernetes/sig-cli-feature-requests

[2017-05-10 16:19] ixdy commented on #45298
cc @thockin

[2017-05-10 16:40] dchen1107 commented on #44650
@mikedanese I am assigning this to you directly, and un-assign the rest of folks. This is an issue related to the cluster lifecycle. Thanks!

[2017-05-10 17:11] krousey commented on #45584
It is unclear what this is about. I'm going to close it. If you can provide more information, feel free to open another issue and fill out the issue template with as much information as possible to help us understand your issue better.

[2017-05-10 17:11] #45584 closed

[2017-05-10 17:12] krousey commented on #45593
Relevant stack trace from the log:

[code]

[2017-05-10 17:13] jingxu97 commented on #43515
@discordianfish you mean GKE or GCE? For GKE it will take a little bit longer. On GCE, when the PR gets merged, the fix should be available when the next release is out (I think should be soon)

[2017-05-10 17:22] #33522 closed

[2017-05-10 17:22] kargakis commented on #33522
Please reopen if it's still an issue

[2017-05-10 17:51] bowei commented on #45594
@luxas -- do you have a link to @jbeda's doc? or is the documentation inline with the cloud provider code

[2017-05-10 18:11] mikedanese commented on #45585
Fixed by https://github.com/kubernetes/kubernetes/pull/45478

[2017-05-10 18:14] wojtek-t commented on #45216
I think I wrote it above. 80 n1-highmem-8 (which mean 8-core each) and master machine is n1-standard-64 (which is 64 cores). Which sums up to ~700 cores

Can you point me how to check it? It can be either during runtime or in the code.

[2017-05-10 18:18] luxas commented on #45594
@bowei currently a google doc, but I'm planning to centralize these docs as we get more providers documented: https://docs.google.com/document/d/17d4qinC_HnIwrK0GHnRlD1FKkTNdN__VO4TH9-EzbIY/edit

@idvoretskyi Who can do this for openstack?

[2017-05-10 18:20] luxas commented on #45554
@ixdy strange thing is that the regression happened 5/5 and still yesterday no issue was filed

[2017-05-10 18:21] mengqiy commented on #45196
Paste some links from @foxish that may be helpful:
https://github.com/kubernetes/test-infra/issues/1887#issuecomment-280186471
https://github.com/kubernetes/charts/blob/f8102d476d18d520ed0be599d0b6fd3f1b603481/test/helm-test/main.go#L33-L87

I will revisit this later this quarter.

[2017-05-10 18:25] ixdy commented on #45554
ah, apparently the triage tool doesn't look at the cross-build job? https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=.*cross.*

not sure if this is expected behavior - cc @cjwagner @rmmh

[2017-05-10 18:47] riturajtiwari commented on #45438
@cblecker This is related to previous issue https://github.com/kubernetes/kubernetes/issues/44521

What was a 10 minute delay in getting the `Ingress` connected has turned into a complete inability for `Ingress` and `NodePort Service` to talk. I have worked around this by discontinuing use of `Ingress` and pointing my DNS at the ephemeral public IP assigned to my `LoadBalancer Service`, but would

[2017-05-10 18:51] riturajtiwari commented on #44521
@ahmetb Thanks for the comment. What is a good way to get Google's attention on this? I seem to be stuck in this ping pong where Google support essentially disowns anything k8s. They ask me to resolve with the k8s community.

[2017-05-10 18:58] wojtek-t commented on #45216
@josharian - I'm attaching profiles:
1. with `-lines` option (which seems to not work for me):
[go_18_lines.pdf](https://github.com/kubernetes/kubernetes/files/990921/go_18_lines.pdf)
2. with `-addresses` options:
[go_18_addresses.pdf](https://github.com/kubernetes/kubernetes/files/990924/go_18_addresses.pdf)

[2017-05-10 19:00] XiaoningDing commented on #45300
@timothysc  Side-car is only one option for lead election. Some applications probably will prefer a more lightweight approach, like a central controller assigning roles.  Also there are other requirements like traffic routing and controller update.

Considering active-standby is a common application model, probably it's worthwhile to build a new first-class api object (standbySet?) to cover all th

[2017-05-10 19:01] luxas commented on #45030
@mikedanese This requires RBAC being enabled, and the right Roles/RoleBindings should be created, right?
In order to make the groupapprover approve csrs from an individual user, should a RoleBinding be created?

@mikedanese @jcbsmpsn Could you provide a short list of the implications/work items for kubeadm so we can make sure we'll get that into kubeadm v1.7?

[2017-05-10 19:04] wojtek-t commented on #45216
@timothysc - I think you enabled http2 in the past - do you know the answer for ^.

[2017-05-10 19:06] spxtr commented on #45558
I recreated the nodes in order to start kubernetes tests running again. Once I see the issue show up again I'll cordon off one node and let you investigate manually.

At that point I'll probably downgrade to 1.4.9, since I never had this problem with that version.

[2017-05-10 19:09] liggitt commented on #45030
It does not require RBAC, subject access reviews will use whatever authorizer is configured.

If you are using RBAC, I would expect a role for each of the individual permissions, which could be bound to bootstrap users, individual node users, or the entire node group.

[2017-05-10 19:13] lcjlcj commented on #45287
Any update on this issue? I also just hit this problem and it's blocking us. Thank you!

[2017-05-10 19:17] rmmh commented on #45554
The cross build doesn't create any JUnit output, so our tooling doesn't catch it at all. I can improve that to inject a dummy test failure for jobs that fail with no test results.

[2017-05-10 19:18] josharian commented on #45216
Thanks, @wojtek-t. Can you also put the output of `go tool nm -sort=address <binary>` and `go tool objdump -s selectgo <binary>` for the binary used to generate those profiles? (And please keep that binary around in case we need more from it.) I expect the output from those commands to be big, so you'll probably want to drop them into a gist.

[2017-05-10 19:22] mikedanese commented on #45030
We will need to add an rbac role for rbac enabled kubeadm. The change should be small.

[2017-05-10 19:23] timothysc commented on #45300
There would need to re-dig-up an api-object for locking, and add the capability to other api-objects.

/cc @davidopp @rrati

[2017-05-10 19:28] crimsonfaith91 commented on #45287
We are still working on this issue, and will get back to you later.

[2017-05-10 19:29] wojtek-t commented on #45216
@josharian  - here are the files (hopefully it will be helpful):
nm: [nm_addresses.txt](https://github.com/kubernetes/kubernetes/files/990982/nm_addresses.txt)
objdump: [objdump.txt](https://github.com/kubernetes/kubernetes/files/990988/objdump.txt)

Th former is 11MB, so I pasted files.

[2017-05-10 19:36] luxas commented on #45030
So the RBAC role would look something like this then?
[code]

I'm confused whether `csr/nodeclientcert` will be the resource, subresource or just in `.spec.resourceAttributes` of the SAR.

I guess we want to lock things down on a token (user)-level, to only let the generated-by-default-token do the TLS bootstrap and nobody else.

[2017-05-10 19:41] davidopp commented on #45300
I don't mean to throw a wet blanket on this proposal, and it's definitely not my decision, but this seems outside the scope of Kubernetes to me.

[2017-05-10 19:41] caesarxuchao commented on #45498
@lavalamp @cheftako regarding running heapster and metrics via the aggregator ^

[2017-05-10 19:42] luxas commented on #45581
@DirectXMan12 When did the regression occur? In which PR?

[2017-05-10 19:43] luxas commented on #45554
@rmmh Thanks, that'd be helpful.

I know we've had auto-filed issues for this kind of job before, but it seems to have gone away when renaming the job or something...

[2017-05-10 19:45] caarlos0 commented on #39994
@resouer I tried to address that in https://github.com/kubernetes/kubernetes.github.io/issues/3711

[2017-05-10 19:51] dashpole commented on #45558
ok, I just realized this was a test-infra issue.  I have access to the cluster now, so I'll be able to debug if it happens again

[2017-05-10 19:55] atombender opened #45608 ""apply view-last-applied" munges format codes in YAML/JSON"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?**: save-config, view-last-applied

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): cos

**What happened**:

Create this

[2017-05-10 19:57] ahmetb commented on #44521
@riturajtiwari I'm not sure what you mean. What I commented on is, Google Cloud Load Balancers simply may take a few minutes as the forwarding rules are propagated across the globe. This is not specific to Kubernetes. If you were to create a HTTP/s Load Balancer manually yourself, you would see similar delays.

[2017-05-10 20:03] atombender opened #45609 ""kubectl [apply|create|replace] --save-config" doesn't save exact config"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?**: save-config

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): cos

**What happened**:

I

[2017-05-10 20:04] liggitt commented on #45030
Probably rules something more like this (where the different categories manifest as subresources of the certificatesigningrequests resource):

In a role bound to the bootstrapper:
[code]

In a role to enable kubelets to rotate their own client certs (would need more thought about how to cut off a compromised node):
[code]

In a role bound to enable kubelets to bootstrap/rotate their serving certs

[2017-05-10 20:06] DirectXMan12 commented on #45581
@luxas I don't remember the exact PR.  It was part of the removal of the auto-install code, IIRC, somewhat recently.  I can try to dig it up if you want.

[2017-05-10 20:07] dchen1107 commented on #45558
@spxtr thanks for taking a quick action upon this test infrastructure issue. The failure blocks some of our critical validations. Thanks. @yguo0905

[2017-05-10 20:08] ericchiang commented on #45030
Are the second two roles bound to the bootstrapper? I'd imagine they'd be tied to the node themselves, which would give a good way to revoke follow-up access.

[code]

[2017-05-10 20:08] luxas commented on #45030
Ah that makes sense @liggitt, thanks!
Seems like I misinterpreted the usage of the SAR, but with your example I see how it fits together.

This looks really good then, I think it should be prioritized for v1.7 if possible (I really want to get rid of the
`--insecure-experimental-approve-all-node-csrs-for-group` flag)
@ericchiang also volunteered to pick this up in case @jcbsmpsn doesn't have time

[2017-05-10 20:10] luxas commented on #45030
@ericchiang Yes, we have that option as well.
I guess
a) bind to `system:nodes` (hard to revoke on compromised node)
b) bind to `system:node:<nodename>` (who should create those RBAC bindings?)

[2017-05-10 20:11] luxas commented on #45581
@DirectXMan12 I just was curious since I recall I used a pretty recent version (alpha.2 maybe?) and had it working...

However, I'm more interested if we have any tests that cover the HPA v2.
If we don't, we probably should have ;)

[2017-05-10 20:15] tombergan commented on #45216
How many ports does the server expose? Are the clients making HTTP requests using go's http.Transport or something custom? If the answers to those questions are "1" and "using http.Transport", it's likely that all requests from each client are being muxed onto the same HTTP/2 connection. This would mean that each client is running 4-5 concurrent requests per connection, assuming that 20,000 number

[2017-05-10 20:19] josharian commented on #45216
@wojtek-t those don't appear to have been taken from the same binary as the profiles; the addresses don't match. They look close enough to fake it, though.

Looking at the -addresses profile, focussing on the children of `000000000043ab4b runtime.selectgo`:

* `000000000043ccf4 runtime.selectgoImpl` (2.92m of 7.04m) is select.go:560, which is `selunlock(scases, lockorder)`, which is the unlocking

[2017-05-10 20:21] wojtek-t commented on #45216
1

We're using http.Transport, though not http.DefaultTransport (I think mainly due to https).

https://github.com/kubernetes/kubernetes/blob/212234ab3fe3089f46134f9d3568739998afcab3/staging/src/k8s.io/client-go/transport/cache.go#L41

[2017-05-10 20:24] luxas commented on #45145
Did this get completely fixed with https://github.com/kubernetes/kubernetes/pull/45432 @deads2k?
In that case, we can close this ;)

[2017-05-10 20:24] wojtek-t commented on #45216
@josharian - that is strange. I can try doing it again tomorrow if it will help. Will it?

[2017-05-10 20:25] mikedanese commented on #45030
I've already started working on this as part of my certificate controller refactoring.

[2017-05-10 20:27] davidopp commented on #45598
Is this related to #3138?

[2017-05-10 20:28] luxas commented on #45030
Thank you @mikedanese! Ping me for review please ;)

[2017-05-10 20:31] deads2k commented on #45145
yes

[2017-05-10 20:31] #45145 closed

[2017-05-10 20:32] josharian commented on #45216
@wojtek-t let's wait to hear whether the analysis above triggers any new thoughts in @tombergan or @bradfitz.

[2017-05-10 20:46] wojtek-t commented on #45216
Regarding the analysis - that sounds reasonable for me, but my question (concern?) is: how we can explain that we are locking/unlocking significantly more with Go 1.8 than with Go 1.7 (when running comparison tests we are running exactly the same code and exactly the same tests in Go 1.7 and Go 1.8). So I don't really understand why previously we weren't locking at all (something was always ready?

[2017-05-10 20:49] bgrant0607 commented on #45300
I agree with @davidopp. Build an operator:

https://coreos.com/blog/introducing-operators.html

Use ThirdPartyResource for locking, if necessary.

[2017-05-10 20:54] dgpc commented on #42559
Is there a known workaround for this? I am running into the same issue trying to sed up federation on a set of GKE clusters.

[2017-05-10 20:57] ghao-ooyala opened #45612 "podsecuritypolicy with rbac does not work as expected"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
podsecuritypolicy rbac volume
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2017-05-10 21:17] SleepyBrett commented on #45593
Seeing the same on my test cluster:
`image: gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.1`

Logs:
[code]

[2017-05-10 21:22] timothysc commented on #44172
/cc @skriss

[2017-05-10 21:22] nimeshksingh commented on #44445
I think I'm missing something, but how does https://github.com/kubernetes/kubernetes/pull/45349 add the `=:Exists:NoExecute` toleration to fluentd-gcp?

[2017-05-10 21:28] kfox1111 opened #45613 "subPath = file bug"
k8s 1.6.3 just landed and broke a lot of our systems. The issue shows as:
2017-05-10 20:07:19.245598 | NAME                       READY     STATUS                                                                                                                                      RESTARTS   AGE
2017-05-10 20:07:19.245760 | test-ceph-init-mon-hx3h1   0/1       mkdir /var/lib/kubelet/pods/c4fe3290-35

[2017-05-10 21:30] wongma7 commented on #45613
cc @kubernetes/sig-storage-bugs
/assign wongma7

[2017-05-10 21:34] gnufied opened #45615 "Deprecate keep-terminated-pod-volumes kubelet flag"
As discussed https://github.com/kubernetes/kubernetes/pull/45286 this flag should be deprecated since its usage is rare and causes conflicting problems with attach/detach controller(ADC) where ADC can detach a mounted volume.

cc @kubernetes/sig-storage-bugs

[2017-05-10 21:40] kfox1111 commented on #45613
Its also related to:
https://github.com/kubernetes/kubernetes/pull/43775

[2017-05-10 21:47] MrHohn commented on #45593
Seems to be a duplicate of #44711. Should have been fixed by kubernetes/dns#79.

[2017-05-10 21:52] robsonpeixoto commented on #36152
While it's not ready, you can add a firewall rule:

[code]

And use `sudo pfctl -F all -f /etc/pf.conf` to cleanup the rules.

[2017-05-10 21:54] josharian commented on #45216
Careful about locking vs blocking. If the analysis is correct, the select is *blocking* much more in 1.8, and as a result, doing 3x the *locking*, which is the slow part. (Slightly more than 3x, because of the added cases.) Yes, clearly, adding more cases to the select should not increase the extent to which it blocks. Something else must have done that. What? I don't know; I hope @tombergan or @b

[2017-05-10 22:02] tombergan commented on #45216
@josharian

From [this comment](https://github.com/kubernetes/kubernetes/issues/45216#issuecomment-300136571), doing nothing but removing three select cases fixes the slowdown entirely. I would be surprised if doing nothing but removing those cases decreases the number of times the select needs to block.

@wojtek-t can you repeat [this experiment](https://github.com/kubernetes/kubernetes/issues/45

[2017-05-10 22:10] dgpc commented on #42559
For the benefit of others who might run into this issue, I worked around the problem by running:

`$ gcloud config set container/use_client_certificate True`
`$ export CLOUDSDK_CONTAINER_USE_CLIENT_CERTIFICATE=True`

Before running `$ gcloud container clusters get-credentials ...`

[2017-05-10 22:16] foxish commented on #45567
These tests appear to be running 1.4 e2es.
I looked at the job e2e failures and they're running e2es that no longer exist. Jobs e2e was rewritten in 1.5 and the tests showing failures don't appear to exist anymore.

Additionally, I wouldn't expect them to pass because:
1.6: [Remove extensions/v1beta1 Jobs resource, and job/v1beta1 generator.](https://github.com/kubernetes/kubernetes/blob/master/CH

[2017-05-10 22:16] foxish commented on #45567
/assign @davidopp

[2017-05-10 23:47] saad-ali commented on #42438
@verult will work on a fix for this.

[2017-05-10 23:49] saad-ali commented on #42438
@verult Let's make sure the fix also gets ported back to all affected branches (1.6, 1.5, and 1.4).

CC @kubernetes/sig-storage-bugs

[2017-05-10 23:56] tudor opened #45626 "k8s reports pod as "Terminated: Error" with "Error syncing pod, skipping: rpc error: code = 2 desc = Error: No such container""
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"error syncing pod" "no such container"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**

[2017-05-11 00:09] verult commented on #42438
I was able to reproduce the problem by force deleting a node containing a pod with some volume attached to it. Did anyone run into a different failure mode?

[2017-05-11 00:15] crimsonfaith91 commented on #45287
@JorritSalverda What is the Kubernetes minor version that you used for kubectl 1.5.x against GKE 1.6.x cluster?

[2017-05-11 00:18] atombender commented on #27796
I tried signing up as an individual (`gh<at>purefiction.net`), but after abou 4 hours I've yet to receive a confirmation email from the CNCF thing.  Nothing in spam folder.

[2017-05-11 00:46] gladiatr72 opened #45627 "init-container definition (non-anno.) persisting after removal from deployment"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

initContainers, init-containers init containers
---

**Is this a BUG REPORT or FEAT

[2017-05-11 00:54] k82cn commented on #45598
yes. I think so, this maybe simpler to dump pod/node ... info from apiserver; anyway, I'll the discussion to  #3138 .

[2017-05-11 00:57] gladiatr72 commented on #45627
Another observation: after creating a sparkly new deployment, the API returns a structure that includes the `.templates.spec.initContainers` bits even though the deployment spec file does not include one.

Whoever spent time making it look like this was done needs to be stared at balefully for at least a few minutes.

[2017-05-11 01:12] donnydavis commented on #27528
Just incase anyone runs across this, the fix is to add -v /etc/pki/ca-trust:/etc/pki/ca-trust to the systemd service file

[2017-05-11 01:26] shenlanse commented on #45585
Thanks

[2017-05-11 01:26] yujuhong commented on #43783
@kubernetes/sig-node-feature-requests

[2017-05-11 01:45] lichuqiang opened #45628 "DaemonsetController can't feel it when node recovered from outofdisk state"
deamonset would not schedule pod on nodes of OutofDisk state,on the other hand, in it's updateNode func, it return directly if there is no change in labels or taints of the node.
That is, ds controller could not make sense when a node turn into OutofDisk state, or recover from it. Unless we restart the controller-manager component

[2017-05-11 01:51] yujuhong commented on #40627
kubelet "rejects" the pod if sysctl is not supported, and that prompts the replicaset to create more pods.

Another option is to keep the pod pending but not reject it, similar to what kubelet does for apparmor pods.

[2017-05-11 02:01] jayunit100 commented on #45598
Do we want logs or metrics or both? I prefer more metrics if possible .

[2017-05-11 02:03] jayunit100 commented on #45598
For example, I'm thinking if we counted how many predicates/priorities failed or errored on all nodes in our metrics, then we might see spikes (like for resource not available) that correlate to other time series data.  Is that part of this issue @k82cn ? Would love to have them.

[2017-05-11 02:31] #38633 closed

[2017-05-11 02:35] k82cn commented on #45598
nop :), I want to build a scheduler simulator, not a monitor. For example, I'd better to replay it locally to debug with some online data (access apiserver or dump from apiserver/etcd).

[2017-05-11 03:23] liggitt commented on #45627
cc @smarterclayton

[2017-05-11 03:32] liggitt commented on #45612
PodSecurityPolicy is applied at the point a pod is created. Either the user creating the pod or the service account of the pod must be authorized to use a PSP that allows the pod.

When you create a deployment, the deployment controller is the user creating the pod, not you. to allow pods to be created from a deployment, you need to grant PSP permissions to the service account the pod will run wit

[2017-05-11 03:40] liggitt commented on #45583
What is your network topology? Do your apiservers have network visibility to your kubelet's internal IP?

[2017-05-11 04:11] arunmk opened #45632 "When a worker leaves a cluster, pods on the worker should be automatically cleaned up"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubeadm 1.6 garbage collect pods
---

**Is this a BUG REPORT or FEATURE REQUEST?** (c

[2017-05-11 04:34] #45464 closed

[2017-05-11 04:34] #45585 closed

[2017-05-11 04:34] #45547 closed

[2017-05-11 04:57] pmorie commented on #44995
Recasting this issue to be generally for the problem of validating types between API groups.

Stated as a use-case:

As a API developer in the Kubernetes ecosystem, I want to be able to validate arbitrary API types (which may not be API *resources*) effectively client side, so that I can build APIs that embed kubernetes API types like `PodTemplateSpec` while providing the validation semantics that

[2017-05-11 05:06] tombergan commented on #45216
@wojtek-t Can I ask you or someone else on the kubernetes team to run one more experiment? Patch in [this change](https://go-review.googlesource.com/c/43230/1/http2/server.go). So in total, four experiments:

1. Comment out the `sc.wantStartPushCh` case only ([see here](https://github.com/kubernetes/kubernetes/issues/45216#issuecomment-299944827))
1. Comment out the `sc.idleTimerCh` case only ([se

[2017-05-11 05:28] tatsuhiro-t commented on #45583
I use flannel via CNI.  I'm not sure apiserver can see that particular address because there is no logging for that, but the IP can be reached from host machine, and also if --kubelet-preferred-address-types, everything works fine.  Sorry if this does not answer your question.

Here is a simple reproduction step.  git clone https://github.com/coreos/coreos-kubernetes/ and, apply the following patc

[2017-05-11 05:51] tatsuhiro-t commented on #45583
I have another setup of Kubernetes cluster which uses OpenStack as cloud provider.  --kubelet-preferred-address-types works fine there.  So I guess that this may be vagrant specific.
BTW, I found that apiserver does not use hostname for TLS server authentication if   --kubelet-preferred-address-types is used even if type=Hostname exists under .status.addresses.  It is not directly related to this

[2017-05-11 05:53] riturajtiwari commented on #44521
Agreed. This is about getting one party - GCP or Kubernetes to own the user/developer experience and be responsible/accountable for it. Right now, I have a situation where I can create a `Service` and an `Ingress` and point the `Ingress` at the service. Now, for some indefinite period of time, the `Ingress` is not really connected because something somewhere is being provisioned and can take sever

[2017-05-11 05:56] davidopp commented on #45567
Yeah I wouldn't worry about those scheduler test failures.

[2017-05-11 05:57] cblecker commented on #44521
@riturajtiwari As it's specific to the Google Cloud Load Balancer and the Google Container Engine implementation, you'll likely get more traction with GCP support as opposed to the open source Kubernetes project.

[2017-05-11 05:58] bowei commented on #45363
/assign

[2017-05-11 05:59] liggitt commented on #45583
Correct. The apiserver uses the preferred addresses in order until it finds a recorded address of that type in the node status, then connects to that address, expecting a valid TLS cert for that address

[2017-05-11 06:00] bowei commented on #16836
closing this issue, quite stale and becoming a magnet for generic DNS failures

/close

[2017-05-11 06:00] bowei commented on #16836
/assign

[2017-05-11 06:01] bowei commented on #16836
/close

[2017-05-11 06:01] #16836 closed

[2017-05-11 06:01] bowei commented on #29060
this is done -- it has been exposed since 1.5

[2017-05-11 06:01] bowei commented on #29060
/assign

[2017-05-11 06:01] bowei commented on #29060
/close

[2017-05-11 06:01] #29060 closed

[2017-05-11 06:03] bowei commented on #35377
This should be fixed as we no longer use skydns for query forwarding

[2017-05-11 06:03] bowei commented on #35377
/assign

[2017-05-11 06:03] bowei commented on #35377
/close

[2017-05-11 06:03] #35377 closed

[2017-05-11 06:04] bowei commented on #34590
please reopen if this issue is still relevant

[2017-05-11 06:04] bowei commented on #34590
/assign

[2017-05-11 06:04] bowei commented on #34590
/close

[2017-05-11 06:04] #34590 closed

[2017-05-11 06:05] bowei commented on #33027
we have adjusted the resource limits for the dns pods, this should be less of a problem

[2017-05-11 06:05] bowei commented on #33027
/close

[2017-05-11 06:05] #33027 closed

[2017-05-11 06:06] bowei commented on #28453
Forwarding to a custom upstream resolver is available in 1.6

http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html

[2017-05-11 06:06] bowei commented on #28453
/assign

[2017-05-11 06:07] bowei commented on #28453
/close

[2017-05-11 06:07] #28453 closed

[2017-05-11 06:07] tatsuhiro-t commented on #45583
Thank you for prompt answer.   Do you think it is useful to use Hostname for TLS cert validation even when the other address type is used?  Are there any plan to make it happen?

[2017-05-11 06:08] bowei commented on #9229
Looks like PR #29270 removes duplicates

[2017-05-11 06:08] bowei commented on #9229
/assign

[2017-05-11 06:08] bowei commented on #9229
/close

[2017-05-11 06:08] #9229 closed

[2017-05-11 06:09] bowei commented on #39712
/remove-area dns

[2017-05-11 06:11] bowei commented on #31929
closing as this is tracked in the dns repo

[2017-05-11 06:11] bowei commented on #31929
/assign

[2017-05-11 06:11] bowei commented on #31929
/close

[2017-05-11 06:11] #31929 closed

[2017-05-11 06:15] bowei commented on #42645
@abdoo -- please reopen if this is still an issue

[2017-05-11 06:15] bowei commented on #42645
/assign

[2017-05-11 06:15] bowei commented on #42645
/close

[2017-05-11 06:15] #42645 closed

[2017-05-11 06:17] bowei commented on #44723
@Slahser -- were you able to resolve your DNS issue?

[2017-05-11 06:20] #45521 closed

[2017-05-11 06:24] bowei commented on #39980
@justinsb  -- do you know if the query that is being sent is with the search path or not? It looks from the `dig` command that the SERVFAIL is for a query of `redis-slave.`

[2017-05-11 06:25] Slahser commented on #44723
@bowei yeah ,if you have the same issue ,maybe you should check some key point like:

env : centos 7.3.1611

- linux kernel : i use 4.10.* to solve the problem
- docker : 1.12.6 with non iptalble-enable and overlay
- edit `/etc/selinux/config` to disable but not `setenforce 0`
- `bridge-nf-call-iptables = 1` with `sysctl --system`

the end i am sure linux kernel 4.11.* cause my issue.

thx for guy

[2017-05-11 06:25] #44723 closed

[2017-05-11 06:26] bowei commented on #36046
this does not look like a DNS issue as the error you are getting is "no route to route"

[2017-05-11 06:26] bowei commented on #36046
please reopen if you are still hitting this issue

[2017-05-11 06:26] bowei commented on #36046
/assign

[2017-05-11 06:26] bowei commented on #36046
/close

[2017-05-11 06:26] #36046 closed

[2017-05-11 06:29] bowei commented on #44750
Removing dns area -- this looks like an issue with the local-up script/firewall between pod and the API server

[2017-05-11 06:29] bowei commented on #44750
/remove-area dns

[2017-05-11 06:35] roberthbailey commented on #44521
/cc @bowei @MrHohn

[2017-05-11 06:35] bowei commented on #7470
This issue looks to be stale -- please reopen if still relevant

[2017-05-11 06:35] roberthbailey commented on #45438
/cc @bowei @MrHohn

[2017-05-11 06:35] bowei commented on #7470
/assign

[2017-05-11 06:35] bowei commented on #7470
/close

[2017-05-11 06:35] #7470 closed

[2017-05-11 06:38] bowei commented on #44772
/assign

[2017-05-11 06:39] bowei commented on #40122
@justinsb is this talking about a cloudprovider interface?

[2017-05-11 06:40] bowei commented on #29723
add-area federation

[2017-05-11 06:40] bowei commented on #29723
/add-area federation

[2017-05-11 06:41] bowei commented on #29723
/area federation

[2017-05-11 06:41] bowei commented on #29723
/sig federation

[2017-05-11 06:44] bowei commented on #45593
/area dns

[2017-05-11 06:44] bowei commented on #45593
/assign

[2017-05-11 06:46] bowei commented on #45381
@vishh -- your change breaks ip aliase as the ${gcloud} variable is "gcloud alpha" if aliases is enabled. You should set glcoud="gcloud beta" as the proper command

[2017-05-11 06:47] ChipmunkV commented on #27362
@kargakis, the cherry-pick isn't clean mostly because of comments.

Don't have time to actually build and test the PR though.

[2017-05-11 06:47] bowei commented on #45381
/assign @vishh

[2017-05-11 06:48] bowei commented on #45381
/unassign caseydavenport thockin dcbw

[2017-05-11 06:48] bowei commented on #45381
/assign bowei

[2017-05-11 06:48] bowei commented on #45381
/assign

[2017-05-11 06:49] bowei commented on #45381
/unassign @caseydavenport @thockin @dcbw

[2017-05-11 06:51] zoidbergwill commented on #24745
Google LoadBalancers recently got support for proxying WebSocket connections: https://cloud.google.com/compute/docs/load-balancing/http/#websocket_proxy_support

[2017-05-11 06:53] bowei commented on #42636
/area dns

[2017-05-11 06:54] bowei commented on #41678
/assign

[2017-05-11 06:54] bowei commented on #41678
@nicksardo -- I think this is fixed?

[2017-05-11 06:54] bowei commented on #41678
/close

[2017-05-11 06:54] #41678 closed

[2017-05-11 06:55] bowei commented on #38819
/close

[2017-05-11 06:56] bowei commented on #38819
/assign

[2017-05-11 06:56] bowei commented on #38819
/close

[2017-05-11 06:56] #38819 closed

[2017-05-11 06:57] bowei commented on #36746
/assign

[2017-05-11 06:57] bowei commented on #36746
@yujuhong -- reopen if still relevant -- I think we resolved that CNI plugins should be able to gracefully handle multiple calls to delete

[2017-05-11 06:57] bowei commented on #36746
/close

[2017-05-11 06:57] #36746 closed

[2017-05-11 06:58] bowei commented on #36535
/assign @nicksardo

I think we did some refactor work here, feel free to close if no longer relevant

[2017-05-11 06:59] bowei commented on #35881
/assign @dnardo  -- is this bug still relevant? close if not

[2017-05-11 06:59] bowei commented on #35881
/assign

[2017-05-11 07:01] bowei commented on #33625
/assign @MrHohn

[2017-05-11 07:02] bowei commented on #32928
@nicksardo  is this covered by the backside re-encrypt? close if no longer relevant

/assign @nicksardo

[2017-05-11 07:04] bowei commented on #31631
/assign @freehan

Did the batching changes for kube-proxy go in? Is this still relevant?

[2017-05-11 07:05] bowei commented on #29055
/close

[2017-05-11 07:05] #29055 closed

[2017-05-11 07:05] bowei commented on #28652
/assign

[2017-05-11 07:05] bowei commented on #28652
/close

[2017-05-11 07:05] #28652 closed

[2017-05-11 07:06] bowei commented on #28188
/assign

[2017-05-11 07:06] bowei commented on #28188
/close

[2017-05-11 07:06] #28188 closed

[2017-05-11 07:12] bowei commented on #31739
kube dns has graduated to its own repo

[2017-05-11 07:12] bowei commented on #31739
/assign

[2017-05-11 07:12] bowei commented on #31739
/close

[2017-05-11 07:12] #31739 closed

[2017-05-11 07:13] xingzhou commented on #45568
cc @caesarxuchao and @miminar
The cause of this issue is because API server does not have field label conversion function for `ReplicaSet`.
According to this line, https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/conversion.go#L51
I can only see the conversion functions for `DaemonSet`, `Deployment` and `Ingress` are set. As a result, when kubectl or client request

[2017-05-11 07:15] bowei commented on #30338
@dnardo for visibility re: CNI

[2017-05-11 07:50] soltysh commented on #45567
Yup, there are at least two additional issues mentioning the same problem (1.4 -> 1.6 upgrade) and Jobs which changed between those versions like @foxish pointed out. These are https://github.com/kubernetes/kubernetes/issues/43023 and https://github.com/kubernetes/kubernetes/issues/42451. We can safely ignore those.

[2017-05-11 08:03] soltysh commented on #45418
@Scukerman sorry for the long delay, it looks like only `kubectl describe` suffers from this problem, looking into it. Can you try `kubectl get cronjob` if it's working for you. I've just tested this on 1.6 branch and I confirm `kubectl describe cronjob` is not working as expected, whereas `kubectl get` works.

[2017-05-11 08:03] qiujian16 commented on #45419
@deitch pleg is for kubelet to periodically list pods in the node to check healthy and update cache. If you see pleg timeout log, it may not be related to dns, but because kubelet's call to docker is timeout.

[2017-05-11 08:04] soltysh commented on #45418
I've changed the title and added appropriate labels to reflect the current state.

[2017-05-11 08:11] deitch commented on #45419
Thanks @qiujian16 . The issue appears to have gone away, but I have no idea how to check it. Docker itself appeared healthy. I was wondering if it could be networking plugin, but that should not affect the kubelet itself.

Can you give me some pointers here on checking pleg healthiness and status? Then we can close this out until I see the issue recur.

[2017-05-11 08:12] soltysh commented on #45418
I've double checked this applies to master as well.

[2017-05-11 08:13] Scukerman commented on #45418
@soltysh
[code]

This cronjob I made on 5th of May and it still hasn't been scheduled.

[2017-05-11 08:19] soltysh commented on #45418
@Scukerman can you provide me with your controller logs at level 5, you can grep them with `cronjob_controller.go` which should return only the ones from this controller.

[2017-05-11 08:20] soltysh commented on #45418
Forgot to add, that the scheduling is working properly for me.

[2017-05-11 08:24] Scukerman commented on #45418
@soltysh ah, maybe that's because of HA-cluster I made by myself?
Now I have 3 masters (3 apiservers, 3 controller-managers, `3 schedulers`) built up with kubeadm.
And I just noticed that cronjob uses some `default-scheduler` and none of them marked as default. Can you help me with that?

[2017-05-11 08:26] gmarek commented on #44445
It's not for all NoExecutes, only for ones that are created by NodeController (i.e. when Node is unresponsive). I don't think it's OK to add general toleration for all NoExecute taints, even user-specified ones. We do want user to be able to set a Taint that will remove all Pods from the given Node, even ones created by Daemons.

If you want your particular Daemon to tolerate all NoExecute Taints

[2017-05-11 08:26] qiujian16 commented on #45419
@deitch pleg is the short for "pod lifecycle event generator", it is an internal component of kubelet and i do not think you can directly check its status, see (https://github.com/kubernetes/community/blob/master/contributors/design-proposals/pod-lifecycle-event-generator.md)

[2017-05-11 08:28] Scukerman commented on #45418
I don't know how to set logging level for controller manager. I tried `--v=5` flag but I'm not sure it worked.

[code]

[2017-05-11 08:29] dolftax commented on #27796
@atombender Sign-up on hellosign with same email address and you might the find the agreement doc there. Unfortunately, there is no `re-send agreement` option.

[2017-05-11 08:39] Scukerman commented on #45418
@soltysh here it is:
[code]

[2017-05-11 08:49] techtonik commented on #21476
Is there anything going on about this ticket?

[2017-05-11 08:49] deitch commented on #45419
Is it an internal module in the kubelet binary? Is it another standalone container (docker, runc, cotnainerd)? It is just a standalone binary?

Basically, if kubelet reports PLEG errors, it is very helpful to find out what those errors are, and then check its status, try and replicate.

[2017-05-11 08:53] techtonik commented on #8800
#38882 is merged, so can this be closed? @tanmaybinaykiya

[2017-05-11 08:55] techtonik commented on #28546
I am afraid I am not aware of the problem, but why returning non-authoritative records for local services is bad? What is should return instead?

[2017-05-11 08:57] JorritSalverda commented on #45287
@crimsonfaith91 it was the last 1.5.x kubectl bundled with gcloud before it got updated to 1.6.x

If I look at the release notes at https://cloud.google.com/sdk/docs/release-notes#15000_2017-04-05 it must have been 1.5.4:

Container Engine had just been upgraded to 1.6.0 at that time, looking at the release notes at https://cloud.google.com/container-engine/release-notes#april_4_2017

[2017-05-11 09:11] qiujian16 commented on #45419
it is an internal module

[2017-05-11 09:12] shyamjvs opened #45650 "Refactor hollow-node into hollow-kubelet and hollow-proxy & make them config-driven"
Currently it's a mess having the same file for both hollow- kubelet and proxy that morphs into one or the other based on a flag.
- This should be refactored into separate files for each.
- Define the right set of configs/flags for either and not take everything together.
- Move almost all logic in hollow-node.go to hollow-kubelet.go and hollow-proxy.go, so we have useful libraries for them.

cc @w

[2017-05-11 09:32] shanmugakarna commented on #43991
This is same with NFS PV also. NFS supports RWX and should be able to slice the size in PVCs

nfs-pv.yaml
[code]

nfs-pvc.yaml
[code]

The `spec.requests.storage` is ignored here. and it allocates all resources to `data` pvc

**Version Info:**
[code]

[2017-05-11 09:36] soltysh commented on #45418
I'll defer to @kubernetes/sig-scheduling-misc for help with that. I don't know much about schedulers, sorry.

[2017-05-11 10:10] Scukerman commented on #45418
I got it to work when I set `startingDeadlineSeconds: 10` but I think it's wrong.

[2017-05-11 10:13] tiraboschi commented on #23864
+1

[2017-05-11 10:22] soltysh commented on #45418
`startingDeadlineSeconds` is to tell the controller how much time it has to start the job after it's actual schedule passes. I'm guessing the edit triggered the controller to pick the cronjob. I wonder why it wasn't picked sooner, though. If you can provide with a reproducer of your situation that would be nice. I think I have a fix for the describe, already.

[2017-05-11 10:35] karunakar1122v opened #45655 "Kubernetes 1.3.0 supports which version heapster garafana influxdb images"

[2017-05-11 10:52] mozhuli commented on #27796
I have signed CLA and also using same email address. Ex: https://github.com/kubernetes-incubator/cri-containerd/pull/30// However, my pull request still has the "cnfc-cla: no" flag

@foxish @sarahnovotny please take a look?

[2017-05-11 10:52] kargakis commented on #45628
@kubernetes/sig-apps-bugs

[2017-05-11 10:53] kargakis commented on #45628
/assign @k82cn

[2017-05-11 10:53] ash2k commented on #45454
/sig api-machinery

[2017-05-11 11:25] kargakis commented on #45454
@kubernetes/sig-api-machinery-misc

[2017-05-11 11:39] deads2k commented on #45454
If the refactor isn't excessively large, we could entertain it this release.  If it is large, finding a reviewer may take a while.

I don't anticipate this rising to the top of our list.

[2017-05-11 11:47] lichuqiang commented on #45628
@k82cn，what if other conditions in func "nodeShouldRunDaemonPod" changed? say, a node does not have enough cpu or memory resource to create the pod of ds, later I delete pods on it, and it satisfy the request now, but the ds controller could not feel it

[2017-05-11 11:49] igoratencompass commented on #5607
+1 for this I also have a need for /dev/fuse access

[2017-05-11 12:44] k82cn commented on #45628
@lichuqiang , thanks for your cases, they're reasonable to me; let me find solutions for them.

[2017-05-11 13:04] Scukerman commented on #45418
You are right. It did.

P.S. Installing OS and trying to reproduce it with brand new cluster

[2017-05-11 13:05] wojtek-t commented on #45216
@tombergan - thanks a lot for looking into it - what you wrote makes perfect sense to me. I will start with running 3 and see what will happen. Will update the thread as soon as I will have something.

[2017-05-11 14:12] dsilvius opened #45662 "NodePort to pod routing issue"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
It is but the issue is not covered.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): pod routing , kube-proxy routing  issue

---

**Is t

[2017-05-11 14:22] justinsb commented on #40122
No, the dnsprovider interface: https://github.com/kubernetes/kubernetes/tree/master/federation/pkg/dnsprovider

This is now implemented specifically for route53, if it proves useful (as it seems to) we can extend to the other implementations.  (Or we could just close this now, and add to others as needed)

[2017-05-11 14:27] justinsb commented on #39980
It's been a long time, but just re-reading what I wrote, `redis-slave.` => SERVFAIL, queries with any suffix gives NXDOMAIN.  But it looks like go chooses to surface SERVFAIL.

If this isn't what happens any more, or if go changed which error it surfaces, we can close.  This is guestbook-go, so easy to experiment with :-)

[2017-05-11 14:33] zhouhaibing089 commented on #45613
@wongma7 can you ensure your fix is picked to 1.6 branch, too?

[2017-05-11 14:36] wongma7 commented on #45613
yes, I will.

[2017-05-11 14:36] gg7 commented on #16967
@mikedanese @davidopp could you please reopen this issue? Or should I create a new ticket?

[2017-05-11 14:40] gjcarneiro commented on #16967
Yes, we're seeing this issue in Kubernetes v1.6.2, so it's definitely not fixed.

[2017-05-11 15:03] atombender commented on #27796
@dolftax: What is "hellosign" and how to I get there? That email address is not the one I use to author commits, so I need to change it, but it won't let me go through the process again.

[2017-05-11 15:09] liggitt commented on #21476
not currently, no

[2017-05-11 15:14] mikedanese commented on #16967
This is the intended behavior. Use a taint if you don't want a ds to schedule on a node.

[2017-05-11 15:14] liggitt commented on #45583
`--kubelet-preferred-address-types` allows you to specify the priority order for kubelet-reported addresses. It defaults to prefer the kubelet-reported hostname before using the kubelet-reported IP.

It sounds like your API server cannot resolve the kubelet's internal IP, but can resolve the kubelet-reported hostname. That's not necessarily a bug... are you expecting your apiserver to have visibil

[2017-05-11 15:21] k82cn commented on #36716
**Append meeting minutes & follow up discussion as follow:**

* Static long term resource allocation is separate from dynamic queued resource allocation.  Separate components.
* Both components can be replaced.  Resources are statically allocated to a dynamic allocator (Reseller).  (Quota @ Priority)

  Static

  * Quota specified in ResourceQuota object. Looks the same as today except extended to

[2017-05-11 15:42] wojtek-t commented on #45216
I have mostly good news today.

1. The hypothesis that it is because of `gracefulShutdownCh` is correct - when I only removed that case from Go 1.8.1 we are roughly at the level from Go 1.7.5:
beginning of test:
[go_18_begin_without_graceful.pdf](https://github.com/kubernetes/kubernetes/files/993552/go_18_begin_without_graceful.pdf)
10 minutes later:
[go_18_10min_without_graceful.pdf](https://gith

[2017-05-11 16:04] JeanMertz commented on #22368
Two comments above, I read

With the `envFrom` feature to set environment variables from config maps, it's not entirely clear to me what the current _best practice_ is to have your pods pick up on changed configmaps.

There are solutions like https://github.com/jimmidyson/configmap-reload, but that is about volumes that the application reads from not Kubernetes populating environment variables bas

[2017-05-11 16:05] atombender commented on #27796
@dolftax: I was able to get further by deleting cookies and going through the account creation [here](https://identity.linuxfoundation.org/projects/cncf). However, nothing else happens. If I then go back to that same link, I get a page saying:

...but not email.

[2017-05-11 16:08] dankohn commented on #27796
@atombender @dolftax please email helpdesk@rt.linuxfoundation.org and they can assist you with your issues. We're also evaluating how to change the error messages to make the next step clearer when the email doesn't arrive.

[2017-05-11 16:34] techtonik commented on #21476
@liggitt any ideas how to make parameters encoding/decoding symmetric?

[2017-05-11 16:37] yguo0905 commented on #45558
@spxtr and @dashpole, looks like the problem happened again. https://k8s-testgrid.appspot.com/canonical-kubernetes#gce-ubuntu.

[2017-05-11 16:38] somejfn commented on #40745
Same on v1.5.5

[code]

[2017-05-11 16:38] techtonik commented on #21476
If I understand correctly. `golang` allow to annotate structures, and these annotations could be used for operations. What I don't like about the API is that it operates on parameters indirectly.

    runtime.NewParameterCodec(...).DecodeParameters()

It would be more readable for me to see:

    runtime.params = UpdateFromPOST()

or something like this.

[2017-05-11 16:49] joshrosso commented on #40745
[code]
Possibly race related?

https://github.com/golang/go/issues/16083

[2017-05-11 16:55] wojtek-t commented on #45512
@nicksardo - sorry for delay. I just checked it and before bump it was using ~50-52MB. Now it's using around 62-63MB.
Is it an expected bump between 0.9.2 and 0.9.3 versions? If so, I will bump the thresholds in our tests.

[2017-05-11 16:57] nimeshksingh commented on #44445
Oh, my understanding of this issue was that currently, in GKE, it's not possible to use any user-defined NoExecute taints because fluentd-gcp gets evicted.  fluentd-gcp is from a DaemonSet that users don't own, so we can't add arbitrary tolerations to it, but it is intended to be on every GKE node, just like kube-proxy.

[2017-05-11 17:04] huangjiasingle opened #45668 "configmap "cluster-info" already exsited"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
configmap "cluster-info" already exsited
---

**Is this a BUG REPORT or FEATURE REQUEST?

[2017-05-11 17:07] crimsonfaith91 commented on #45287
@JorritSalverda
I am able to reproduce the error for v1.6.2 client and v1.5.6 server, but not able to do so for v.1.5.4 client and v1.6.0 server.

Did you mean the versions below?

[code]

[2017-05-11 17:13] ianchakeres commented on #40905
/assign

[2017-05-11 17:16] spxtr commented on #45558
Yes, I'm going to cordon one of the nodes and then downgrade the rest to 1.4.9.

[2017-05-11 17:25] dashpole commented on #45558
I am looking at one right now

[2017-05-11 17:30] dashpole commented on #45558
let me know which one you cordon off

[2017-05-11 17:31] spxtr commented on #45558
[code]
Lists nodes with disk pressure. There's probably a better way.

[2017-05-11 17:32] dashpole commented on #45558
I am looking at one of them, and all of the disk usage is coming from var/docker/overlay.  I see ~150 containers, a couple using as much as 7G of space each

[2017-05-11 17:43] divyenpatel opened #45670 "Node status becomes NodeReady from NodeNotSchedulable after Failover"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):**
NodeNotSchedulable becomes NodeReady after Failover.

**Is this a BUG REPORT or FE

[2017-05-11 17:45] rootfs commented on #44486
cephfs fuse doesn't support secret yet, it is not supported at this moment.

[2017-05-11 17:58] fejta opened #45671 "L7 GCE should create ingress with given static-ip broken in 3 1.6 suites"
Failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=should%20create%20ingress#171d3d9981699b3a3a86

Testgrid: https://k8s-testgrid.appspot.com/release-1.6-all#gci-gke-ingress-1.6 (note that this is only one job)

Clicking the "changes" button suggests this is related to #45068
https://github.com/kubernetes/kubernetes/compare/9d68760c3...8118c50c0

Example error:
[

[2017-05-11 18:00] divyenpatel commented on #44175
Thanks @ncdc
Actually we changed our ignition image to use `etcd 2.2.1`, from `etcd:3.0.4`
https://github.com/kubernetes/kubernetes-anywhere/pull/374/files

Actual problem is, with etcd:3.0.4, we observed volumes were not getting detached from the node after pod is deleted. and kubernetes version when deployed using etcd 2.2.1, volumes got detached after pod is deleted.

https://github.com/kuberne

[2017-05-11 18:02] bowei commented on #45671
Looks like this is due to the recent change that added another GCP range to the list of allowed LBs

[2017-05-11 18:07] yujuhong commented on #42568
That's during the sync time, not the admission. Either way, kubelet will not run the pod. The difference is whether kubelet should reject the pod (at the admission time), or simply keep the pod pending (checking at the sync time). There has been discussions before that rejecting the pod could cause a new pod be created as a replacement (if the pod is controlled by a replicaset). If this goes on, i

[2017-05-11 18:08] henriquetruta opened #45673 "federated deployments can't handle app label properly"
Creating two federated deployments with the same app label (nginx in my case) will cause the deployments to have wrong spreading of replicas. This doesn't happen in the regular k8s api server.

How to reproduce:
1 - Create a deployment. I've used this template
[code]
2 - Check on the 2 underlying clusters if the replicas are spread 50-50
[code]
3 - Create an equal deployment just changing the name

[2017-05-11 18:10] yujuhong commented on #45419
@deitch most likely docker was not as responsive at times, causing PLEG to miss its threshold.

[2017-05-11 18:17] fejta opened #45674 "Services should only allow access from service loadbalancer source ranges broken on aws"
Failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Services%20should%20only%20allow#63a36434077ff31ae29e

Testgrid: https://k8s-testgrid.appspot.com/google-aws#kops-aws-slow

[code]

/assign @justinsb @bowei
@kubernetes/sig-network-test-failures

[2017-05-11 18:19] spxtr commented on #45558
I'm not totally sure how it's supposed to work, but it looks like the kubelet isn't deleting any of the stopped containers.
[code]
Half of those 86 are pause containers, almost all of the rest are exited. For example:
[code]
Then the log messages are clear. The eviction manager is trying to delete docker images to free up space, but that's failing because the images are still in use by these exite

[2017-05-11 18:22] dashpole commented on #45558
Yeah, we are looking into possible issues with container garbage collection

[2017-05-11 18:25] davidopp commented on #44445
@nimeshksingh I guess your point is that user-added taints are not usable if users can't adjust the set of default tolerations on system-generated pods, which is the case on GKE. That seems like a valid point. We will eventually have user-configurable admission controller (kubernetes/community#132 will enable this) but that won't be soon.

I need to think about what is the best solution for this.

[2017-05-11 18:26] bowei commented on #45381
/assign @rmmh

[2017-05-11 18:27] bowei commented on #45381
@rmmh -- can you link the fix PR here?

[2017-05-11 18:29] fejta opened #45675 "SchedulerPredicates failing tests that upgrade to 1.6"
Failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=SchedulerPredicates#c2701aacb94858f60ca9

Testgrid: https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-upgrade-cluster&include-filter-by-regex=SchedulerPredicates

[code]

/assign @gmarek @davidopp @timothysc
@kubernetes/sig-scheduling-test-failures

[2017-05-11 18:34] fejta opened #45677 "Examples suites do not pass ClusterDNS, Cassandra, CassandraStatefulSet and Hazelcast tests"
Failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Example
Testgrid: https://k8s-testgrid.appspot.com/google-gci#examples

ClusterDNS, Cassandra, CassandraStatefulSet and Hazelcast examples do not work

@kubernetes/sig-apps-test-failures
/assign @michelleN @mattfarina

[2017-05-11 18:44] wongma7 opened #45679 "vSphere disk that controller says is attached is not actually attached"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): vsphere disk attach detach controller kubelet mount

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): kubernetes v1.5.2+43a9be4 (openshift v3.5.5.13)

**Environment**:
- **Cloud

[2017-05-11 18:46] davidopp commented on #44445
cc/ @mikedanese

[2017-05-11 18:46] rmmh commented on #45381
#45605

[2017-05-11 18:47] aveshagarwal commented on #44445
@davidopp I wonder why runs-on-one-or-a-few-nodes system pods would be different than runs-on-every-node system pods, as those few nodes could be any nodes, that means they would have to tolerate `all taints` by default too? Or in other case, if those ` few nodes` nodes are some special nodes, then I dont think user defined taint would be allowed by default?

[2017-05-11 18:55] nealef commented on #45024
So it’s quite probable that many installations will run into the 255 limit? Linux will change the format of the /disk/by-path/ entry for > 255 by prefixing the LUN with 0x such that `findDisk` in `fc_utils.go` will fail using the template of `fc_path := "-fc-0x" + wwn + "-lun-" + lun` as Linux will format the entry using this logic:
[code]

[2017-05-11 18:56] csbell commented on #45673
Can you provide replica counts and part of spec -- at least enough to explain what you were expecting and what happened? Thanks.

[2017-05-11 18:59] djmckinley commented on #45487
I am having the same issue with Kubernetes 1.6.2.  Previously using 1.5.1 and everything worked with the credentials in /root/.docker/config.json.  I was able to get it to work with Kubernetes 1.6.2 only by setting the deprecated flag when starting Kubelet: --enable-cri=false.  So, somehow, the new CRI method of reading images is different - but I can find no documentation saying how to load stati

[2017-05-11 19:04] foxish commented on #45567
Same with CronJob (https://github.com/kubernetes/kubernetes/pull/36021). @fejta , I think we can close this if all the open questions are answered w.r.t: CronJob, Job, Scheduler Affinity.

[2017-05-11 19:04] bjhaid commented on #45419
I am having a similar issue on all nodes but one a cluster I just created, logs:

[code]

I have downgraded docker and also restarted virtually everything to no avail, the nodes are all managed via puppet, so I expect them to be completely identical, I have no clue what is wrong. Docker logs in debug mode shows it's getting these requests

[2017-05-11 19:13] DirectXMan12 commented on #45581
Yeah, we need e2e tests for that, I just need to figure out the best way do it (e.g. should we stand up the sample implementation from the custom-metrics-boilerplate repo?  Should we stand up the "test" HTTP server that is hardcoded to respond in a certain way, which might easily break if the client changes?)

[2017-05-11 19:20] ianchakeres commented on #45143
I'm looking at this issue.

[2017-05-11 19:24] fejta commented on #45567
Tests are still failing aren't they? That needs to change to close this bug.

[2017-05-11 19:31] deitch commented on #45419
@bjhaid what are you using for networking? I was seeing some interesting networking issues at the time.

[2017-05-11 19:31] wongma7 commented on #43515
It's hard to say if volumes are *actually* being dropped/unmounted or if the FailedMount errors are wrong & misleading, so I wouldn't go so far as to say it's broken because of some volume issues. It could be something else entirely.

If nothing else, the PR jing's referring to  will clean up the event noise and help us debug the root cause. In the meantime, I wouldn't trust the FailedMount events

[2017-05-11 19:33] nicksardo commented on #32928
#1 is implemented and we haven't heard from customers requiring 2/3. For those options, I believe we would need GCP's backend service to support such control/verification.

I recommend closing this issue.

[2017-05-11 19:34] nicksardo commented on #32928
/close

[2017-05-11 19:34] #32928 closed

[2017-05-11 19:35] bjhaid commented on #45419
@deitch weave, but I don't think this is a networking related problem, since it seems to be a communication problem between kubelet and docker. I can confirm docker is getting these requests from kubelet via debug logging of docker

[2017-05-11 19:37] foxish commented on #45567
If we're running 1.4 e2es, the tests aren't even expected to pass. But it does beg the question - why are we running 1.4 e2es against the 1.6 cluster?
cc @krousey

In the job related failures, it appears they're running 1.4 e2es.
For example, the test failure points me to https://github.com/kubernetes/kubernetes/blob/475c9a28832e82/test/e2e/job.go#L168 which was rewritten in 1.5.

[2017-05-11 19:37] bowei commented on #45593
Update to kube-dns PR is tracked here: https://github.com/kubernetes/kubernetes/pull/45684

/close

[2017-05-11 19:37] #45593 closed

[2017-05-11 19:39] bowei commented on #45679
/sig storage

[2017-05-11 19:44] deitch commented on #45419
My Pleg issues appear to be gone, although I won't feel confident until next time I set up these clusters afresh (all via terraform modules I built).

Weave issues appear to exist, or possibly k8s/docker.

[2017-05-11 19:45] bjhaid commented on #45419
@deitch did you do anything to make the Pleg issues go away or they magic happened?

[2017-05-11 19:50] nicksardo commented on #36535
It's still relevant, unfortunately.  Might be able to tackle this as we move over to backend-services or migrate to a gcp-specific controller.

[2017-05-11 20:03] cblecker commented on #32928
@nicksardo Do you have the relevant PRs that this was implemented in (out of interest)?

[2017-05-11 20:04] gmarek commented on #25319
Before moving PodAntiAffinity to GA (aka v1) we NEED to fix it's performance. It's a non-trivial amount of work, which will probably result in rewriting most of the logic, thus when we do this it probably should bake for one release as a beta feature. @kubernetes/sig-scalability-misc @kubernetes/sig-scheduling-misc

[2017-05-11 20:04] bjhaid commented on #45419
Actually it's hostname resolution, the controllers could not resolve the hostname for the newly created nodes, sorry for the noise

[2017-05-11 20:05] msau42 commented on #45054
Ok awesome.  Should we still add some e2es?

[2017-05-11 20:09] nicksardo commented on #32928
https://github.com/kubernetes/ingress/pull/519

[2017-05-11 20:15] gmarek commented on #44445
We certainly need to discuss this, but I think that only problem that's left is dealing with system-pods, that user can't modify (e.g. fluentd on GKE @crassirostris). For this particular case I think we just need to add a 'tolerate all' Toleration to it and call it a day (we probably should do the same thing with kube-proxy and NPD if we didn't already - @bowei @dchen1107).

For "run one" things (

[2017-05-11 20:19] cblecker commented on #32928
@nicksardo Thank you!

[2017-05-11 20:20] bjhaid commented on #45419
I was quick to report things being fine, problem still exists, I'll keep looking and report back if I find anything

[2017-05-11 20:25] gmarek commented on #45675
It is expected. Taint tests are failing, as we made (conscious) non-backward compatible change, when we moved taints from annotations to fields. It's not expected to work, and we communicated clearly about this. @fejta - are you fine with a fix being disabling Taint-based tests in this suite?

[2017-05-11 20:26] fejta commented on #45675
Certainly, sounds great!

[2017-05-11 20:28] gnufied commented on #45615
/assign @gnufied

Also make sure comments by saad in https://github.com/kubernetes/kubernetes/pull/45286 are addressed as part of the PR.

[2017-05-11 20:32] nikhiljindal commented on #45673
Yes will be great to have exact steps to reproduce including the YAMLs that you used. How many clusters? Did you use preferences annotation?

[2017-05-11 20:35] djmckinley commented on #45487
To be clear, in my case, the private registry server is specified in the image name, but the problem is the same which is that the credentials in /root/.docker/config.json do not seem to be used properly when CRI is enabled.

[2017-05-11 20:38] foxish commented on #45567
Based on offline conversation with @krousey and paraphrasing:

* The tests are still useful because of our 2 version skew commitment
* These specific tests are for alpha features which we make no guarantees about

His suggestion is to add the [Feature: alpha] tag to these tests in the 1.4 branch which should disable them from running here. @fejta, does that seem reasonable to you?

[2017-05-11 20:39] foxish commented on #45567
/cc @crimonfaith91 who was looking at skew tests recently. This may be a good place to start for looking into those.

[2017-05-11 20:44] emsearcy commented on #27796
Our helpdesk will be following up to your ticket, but for general notes: HelloSign (our e-signing vendor that sends the agreement emails) does send reminders at 3 and 7 days.  Our Helpdesk can send a reminder manually, too, even though this isn't functionality present in the user-facing UI.

As for the comment about signing up at Hellosign (thanks for the suggestion @dolftax!), that would be to go

[2017-05-11 20:52] crimsonfaith91 commented on #45567
@foxish Noted! This will be a great reference! Thanks! :)

[2017-05-11 20:54] timothysc commented on #25319
There are no plans to move to GA this cycle that I'm aware of.

[2017-05-11 21:09] k8s-merge-robot opened #45687 "Failure cluster [171d3d...] failed 101 builds, 3 jobs, and 1 tests over 1 days"
### Failure cluster [171d3d9981699b3a3a86](https://go.k8s.io/triage#171d3d9981699b3a3a86)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    3 jobs failed,    101 builds failed.
Failure stats cover 1 day time range '10 May 2017 20:05 UTC' to '11 May 2017 20:05 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Loadbalancing

[2017-05-11 21:11] tazjin commented on #22368
I don't think there is a community-wide accepted best practice right now so people are building their own workarounds.

In one of my current projects we've started simply adding SHA-hashes of the dynamic content of the `ConfigMap` objects to the annotations in our pod templates (shameless self-plug for [kontemplate](https://github.com/tazjin/kontemplate/blob/master/docs/tips-and-tricks.md#update-d

[2017-05-11 21:13] lorenz opened #45688 "Pods do not get cleaned up"
https://github.com/kubernetes/kubernetes/issues/28750 describes the problem for a much older Kubernetes version and is marked as fixed.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version**:
[code]

**Environment**:
- 3 Physical Linux servers
- CoreOS 1353.7.0 (latest stable)
- 4.9.24-coreos
- Set up from scratch, custom OSPF networking using CNI
- Hyp

[2017-05-11 21:13] steinnes commented on #42438
@verult I think that's how the bug surfaced for me.  When I force killed my node we had just started running a StatefulSet with an attached persistent volume, and I think there was one running on the very node I killed.

[2017-05-11 21:14] pipejakob commented on #31170
This seems to have been resolved for a while. Was there more to tackle for this issue, or can we close it?

[2017-05-11 21:15] SpencerReynolds18 opened #45689 "In CLI - more useful prompt after "kubectl proxy""
Feature Request
@kubernetes/sig-cli-feature-requests

When running ```kubectl proxy``` in the CLI, I receive the response ```Starting to serve on 127.0.0.1:8001```. When I copy and paste that into the browser I get a list of paths.

The path that I am typically most interested in is the path to the UI. In user testing, I have seen new Kubernetes users, who would like to see the UI, stumble at this

[2017-05-11 21:16] ghao-ooyala commented on #45612
Thanks @liggitt for your answer. Could you please elaborate the part "the service account for the pod must have PSP use permission"? Assuming I created a service account in kube-system, and created role/rolebinding to allow the service account to use privileged psp, how do I attach this service account to be used for deployment creation? Thanks alot

[2017-05-11 21:24] bowei commented on #45381
fixed

[2017-05-11 21:24] bowei commented on #45381
/close

[2017-05-11 21:24] #45381 closed

[2017-05-11 21:27] thockin commented on #43212
@justinsb do you recall if we ported this back to 1.6?

[2017-05-11 21:30] bowei commented on #32735
/assign @bowei

[2017-05-11 21:48] #31170 closed

[2017-05-11 21:53] rbtcollins commented on #27828
We suffered downtime as a result of this interacting with an as yet not root caused failure to clean out routes of old nodes (we were migrating from one instance type to another).

[2017-05-11 22:17] sbezverk commented on #45613
any chance it gets finally committed? our testing gates are all red because of this issue..

[2017-05-11 22:20] wongma7 commented on #45613
I brought it up in the sig-storage meeting today so priority was raised to critical-urgent and sig node was pinged. I guess we could make some more noise, I'll try finding people on slack

[2017-05-11 22:28] yujuhong commented on #45487
@jeroenjacobs1205 kubelet looks up the credentials *before* calling docker to pull images. Most likely (i.e., I did not verify) things went down this way:
 * kubelet looks up credentials for `ubuntu:latest`
 * Since no registry is specified, the lookup returns empty.
 * kubelet calls docker to pull images without credentials.
 * docker tries to pull the image from nexus-docker.mydomain.be due to t

[2017-05-11 22:30] yujuhong commented on #45487
Both the CRI and non-CRI implementations use the exact same code (`pkg/credentialprovider`) to get the credentials, and that code was not modified in 1.6.  Could you try again and see whether disabling CRI could solve the problem? Just wanted to make sure that this can be consistently reproduced.

[2017-05-11 22:32] justinsb commented on #43212
@thockin looks like we go the first one, but not the second one :-(

These are the two commits (for some reason github only shows the branches in this view, not the PR view...)

https://github.com/kubernetes/kubernetes/commit/2ec87999a97eb68557fc7fdc9f42e615f6b61f9e

https://github.com/kubernetes/kubernetes/commit/9a423b6c6bce4c0c3b67c2f125c83739c5a60f83

I did reopen the cherry-pick for the 1st t

[2017-05-11 22:44] ichekrygin commented on #26507
@yurishkuro http://jaeger.readthedocs.io/en/latest/deployment/ lacks some helpful information:
- ports/types which needed to be exposed by Agent/Collectors
- sample configurations or args for:
  - Agent -> Collectors
  - Collector -> Cassandra

[2017-05-11 22:52] imkin commented on #45679
@divyenpatel @BaluDontu

[2017-05-11 23:04] #45512 closed

[2017-05-11 23:49] mml commented on #38336
OK, so I have a version of this "working", and it blows up when hitting influxdb because it has local storage.

The question is, do we want the upgrade script to automatically blow up local storage by default?  I can't see how to make it work without this, and at the same time it seems a dangerous default.

[code]

[2017-05-11 23:51] caesarxuchao opened #45693 "client-go unit test failure"
https://github.com/kubernetes/test-infra/pull/2735 is sent as a fix.

[code]

cc @sttts

It's a test failure reported by the publishing robot.

[2017-05-12 00:03] caesarxuchao commented on #45693
The line it fails at: https://github.com/google/gofuzz/blob/master/fuzz.go#L90

[2017-05-12 00:04] caesarxuchao commented on #45693
It looks like a vendor copy vs gopath copy issue.

[2017-05-12 00:12] destijl commented on #12742
Anyone here who has a use case for encryption of secrets at the database layer: please check the latest proposal:
https://github.com/kubernetes/community/pull/607

Particularly if you have hard requirements that aren't satisfied by option 1, we'd like to know now.

[2017-05-12 00:15] caesarxuchao commented on #45693
One possible fix is removing github.com/google/gofuzz from the vendor/ directory.

[2017-05-12 00:18] stevesloka commented on #12742
Hey @desttijl, my only requirement which is how I got started with this feature was to encrypt data at rest to better meet my HIPAA requirements of encryption at rest.

I think option one is good for this to get rolling. My initial idea was to treat like a cloud provider where you could implement your own, but might be too difficult to implement safely.

We use vault for some secret management so

[2017-05-12 00:25] nikhiljindal commented on #41866
I also ran into this while working on https://github.com/kubernetes/kubernetes/pull/45600.

Looks like the following 3 scripts are missing:
verify-federation-api-reference-docs.sh, verify-federation-generated-swagger-docs.sh and verify-federation-swagger-spec.sh.

Sent https://github.com/kubernetes/kubernetes/pull/45694 for adding verify-federation-swagger-spec.sh

cc @mbohlool

[2017-05-12 00:29] fejta commented on #45567
Sure, the intent of not running the tests we don't expect to work sounds great!

It is not obvious to me why adding `[Feature: alpha]` to the test name will cause these tests not to run.

Looking at the specification of the job:

https://github.com/kubernetes/test-infra/blob/783324e006cba095b2817d667fc4b01c4e690810/jobs/config.json#L1551

And the `--env-file` references:

https://github.com/kubern

[2017-05-12 00:30] caesarxuchao commented on #45693
Confirmed removing github.com/google/gofuzz from the vendor/ directory fixed the test in robot.

[2017-05-12 00:42] caesarxuchao commented on #45693
We need to add the "issue filer" feature to the publishing robot, we can't rely on @MikeSpreitzer to report robot issues everytime :P

I'm just not sure how long the publishing robot will be needed (i.e., when we will get rid of the staging/ directory) so not sure whether we should invest more time on the robot.

[2017-05-12 00:43] nikhiljindal commented on #41866
Updated that PR to add all the 3 missing verify scripts: https://github.com/kubernetes/kubernetes/pull/45694

[2017-05-12 00:47] timothysc commented on #45598
@k82cn you can do that from etcd snapshots, and filling full of fake nodes like the scheduler_perf tests.

[2017-05-12 00:58] justinsb commented on #45674
Timing / subject related to https://github.com/kubernetes/kubernetes/pull/38636, but this is surprising...

[2017-05-12 00:59] justinsb commented on #45674
Hmm... scratch that, this looks like it predates it

[2017-05-12 01:03] perotinus commented on #45185
Sorry for the slow followup! This works for me now.

[2017-05-12 01:03] #45185 closed

[2017-05-12 01:04] perotinus commented on #44867
With the conversion to the sync controller done, all known issues here are addressed.

The unit tests has still been flaky, but since the flakiness has persisted between the sync controller and non-sync-controller versions, we're positing that the test is at fault.

[2017-05-12 01:04] #44867 closed

[2017-05-12 01:17] foxish commented on #23794
See https://github.com/kubernetes/contrib/pull/2554
cc @kow3ns

[2017-05-12 01:33] dashpole commented on #45558
Running the command:
`kubectl get po --all-namespaces -a -ojson | jq -r '.items[] | select(.spec.nodeName == "NODE_NAME") | .metadata.name, .status.phase'`
shows all of the pods that are assigned to the node, and their phase.  On the nodes I looked at, about half of the pods run were failed.

The kubelet keeps the terminated containers around until the pod API object is deleted.  Currently, we don

[2017-05-12 01:35] k82cn commented on #45598
hm, the original idea is to connect to apiserver and get all objects (no fake objects), e.g. Pods, Nodes, and run this scheduler simulator in local, it'll

1. check whether scheduler got the correct data: in  #45237, it's recovered after restarting **apiserver** but restarting scheduler does **NOT** work
2. check whether scheduler handled those data correctly with more logs, e.g. print input/outpu

[2017-05-12 01:44] tatsuhiro-t commented on #45583
I expect that apiserver can connect to worker's kubelet via internal IP.
apiserver runs as Kubernetes pod.  kubelet runs via rkt (through kubelet-wrapper from coreos).

I found very interesting thing.  The internal IP address of worker node shown in `kubectl get nodes` is actually bound to the node itself, just like a localhost.  The worker node's addresses are as follows:

[code]

So InternalIP i

[2017-05-12 01:44] k82cn commented on #3138
Total agree with that, we do not need to simulate all components. In our products, we only replay error handling in agent for the case that: error handling of error handling of error handling of error handling  .........

As davidopp's linked, I'd like to have a scheduler simulator.

[2017-05-12 01:49] tatsuhiro-t commented on #45583
I checked the master and worker nodes's interface addresses.  Their eth0 have the same address 10.0.2.15, and I think this caused this issue.
Since my OpenStack deployment does not cause this issue, and it is vagrant specific issue, and not apiserver issue, I'll close this issue.  Thank you for kindly help.

[2017-05-12 01:49] #45583 closed

[2017-05-12 01:55] k82cn commented on #41866
@nikhiljindal , great, thanks very much .

[2017-05-12 02:03] krzyzacy commented on #45558
+1

[2017-05-12 02:24] vishh commented on #43783
#3595 is related. As a temporary workaround is it possible to set a default lower `ulimit`?
This feature should ideally not be exposed as it is. Instead it should be based on policies. By default all users get `1000` or something like that. Some users, quota permitting, can request for a higher default. I don't want to see pod specs floating around with number of pids specified.

[2017-05-12 02:24] gyliu513 commented on #25319
@gmarek does there are any issues related to the performance issues of PodAntiAffinity? I would like to do some investigation if needed.

[2017-05-12 02:25] djmckinley commented on #45487
Yes it is very reproducible.  Here are more details:

I removed the "--enable-cri=false" on the kubelet command line, and it once again failed - with these log messages:

[code]
The kubelet was itself running via a systemd unit:
[code]
I edited this to change the ExecStart statement to (no other chanages):

`ExecStart=/usr/local/bin/kubelet --enable-cri=false --pod-manifest-path=/etc/kubernetes/ma

[2017-05-12 02:28] vishh commented on #45558
Dead containers should not be of any concern to users as long as kubelet can reliably garbage collect dead containers under disk pressure. Why is kubelet not performing GC in this scenario?
It's not clear why users have to run additional controllers to GC pods in-order for kubelet to keep the node up and running.

[2017-05-12 02:48] spxtr commented on #45558
I delete pods older than a day already, and I opened a PR changing that to an hour. I agree with @vishh that I shouldn't have to GC so aggressively just to keep my cluster running.

Of all the non-pause containers left on the node, roughly 2/3 exited with (0) and 1/3 exited with a non-zero exit code. I'm not sure why the exit code is relevant. I'm also not sure why we haven't run into this before

[2017-05-12 03:07] knightXun opened #45700 "kubelet had better to obtain type and size of storage in detail."
kubelet should get rough storage resource infomation.we should obtain type and size of storage in detail.
In that way,Kubernetes can do better in Pod scheduler, and end-user will avoid mistake when they lable nodes.
 Thx all.

[2017-05-12 03:08] knightXun commented on #45700
@smarterclayton

[2017-05-12 03:09] luckyruruguo commented on #42701
This bug isn't fixed now, right?

[2017-05-12 04:01] frankruizhi commented on #40724
Maybe the problem is this,you can refer to this link:https://github.com/kubernetes/kubernetes/issues/32480

[2017-05-12 04:18] liggitt commented on #45612
by referencing the name of the service account in the pod spec of the deployment

[2017-05-12 04:20] leckylao commented on #24137
Hi @nikhiljindal,

I got the same issue here.

[code]

so even after I ran

[code]

The pods still there and with weird status. Now I am stuck of not sure how to fix this.....

[2017-05-12 04:22] suyogbarve commented on #45484
I can definitely recreate this issue in gke, however not able to reproduce it using test case

https://github.com/suyogbarve/k8stests/blob/master/bug_test.go

Any suggestions what is missing here? Above test case always Passes

[2017-05-12 04:22] leckylao commented on #26375
Hi,

I got the same issue here.

[code]

so even after I ran

[code]

The pods still there and with weird status. Now I am stuck of not sure how to fix this.....

[2017-05-12 04:34] TracyBin opened #45702 "kubedns can't nslookup"
[code]

[code]

[2017-05-12 04:38] suyogbarve commented on #45689
@SpencerReynolds18 : 127.0.0.1:8001 also serves lots of other useful endpoints which gets listed as soon as you hit http://127.0.0.1:8001.
I feel showing a message for dashboard might actually prevent new users from exploring all the possibilities. After a user reads "Starting to serve on 127.0.0.1:8001", their first reaction is to go and see what all is available, and /ui option along with other

[2017-05-12 04:42] suyogbarve commented on #44992
@eparis any thoughts on this?

[2017-05-12 04:46] #45191 closed

[2017-05-12 04:47] nikhiljindal commented on #24137
Yes we keep the previous rs around in case you want to rollback to it, but it should be scaled down to 0 and when you delete the deployment, both the rs's should be deleted.
If that is not happening, then that is a bug. Please file another issue with exact steps to repro. Please include the YAML file which can be used to repro and your kubectl and cluster version.

[2017-05-12 05:00] xbsura opened #45703 "ping pod ip failed"
hi, all:

I install k8s, with one master and two nodes(one in master, one in another node) on aws, and create some pods and services, now the problem is:

If the pod or service is created on node1, node2 and node 1 is able to ping this pod and is able to access service via serviceip, but if the pod is created on node2, just node2 is able to ping this pod and access it via serviceip, node1 can not

[2017-05-12 05:09] ddysher commented on #45054
Theoretically, we don't need to add more tests as it is processed in kubelet and already covered in security context tests [here](https://github.com/kubernetes/kubernetes/blob/316876060ace20dc7230824cd284eeb1a621fa9c/test/e2e/security_context.go#L144).  But this test uses emptydir or hostpath, so for completeness, we can add one once we have local volume support.

[2017-05-12 05:14] bsalamat commented on #45598
@k82cn I like your idea of creating a simulator, but I guess what @timothysc said is valid and in fact may be the same thing that you have in mind. Tim said that you can take a snapshot of etcd and run your simulator with fake nodes. The nodes in your simulators have to be fake, but from scheduler's point of view they look like real nodes. They have the same characteristics and the same free resou

[2017-05-12 05:24] leckylao commented on #24137
Sorry I deleted the post and posted it to #26375 thought it might be more relevant there. But let me repost it here.

Hi,

I got the same issue here.

[code]

so even after I ran

[code]

The pods still there and with weird status. Now I am stuck of not sure how to fix this.....

[2017-05-12 05:24] dolftax commented on #27796
@dankohn Re-send agreement from linuxfoundation UI would be much better.

[2017-05-12 05:25] leckylao commented on #24137
Hi @nikhiljindal, Thanks for your feedback. As the pods doesn’t get deleted so I am stuck with can’t do anything. I might have to delete the cluster and try to reproduce it and see how it goes

[2017-05-12 05:26] dashpole commented on #45558
What exactly do you mean?  The eviction manager does not garbage collect containers when under disk pressure, only images atm.  And the kubelet's general behavior is to garbage collect them only after a period of time, or if we hit one of the dead container limits (total dead containers, dead containers per container, etc...).  However, this doesnt prevent the scenario here, where we have lots of

[2017-05-12 05:29] vishh commented on #45558
This is the bug. According to our current flag documentation, container GC is expected to be handled by eviction manager too (cc @derekwaynecarr )

[2017-05-12 05:30] vishh commented on #45558
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/helpers.go#L991

[2017-05-12 05:32] dashpole commented on #45558
I was hypothesizing that you could be creating new pods at a faster rate if they were failing and had an onFailure restart policy.  Since pods disappear after a day, the amount of disk space used is equivalent to the space used by all pods scheduled to that node over the day.

[2017-05-12 05:41] karunakar1122v commented on #45655
Please update me ASAP on this.

[2017-05-12 05:46] gmarek commented on #25319
Yup, I know. I just wanted to leave the note for whoever will be doing it at any point, and for us that we don't forget.

[2017-05-12 06:06] k82cn commented on #45598
Great, it's the same thing :).

[2017-05-12 06:51] gmarek commented on #45675
Yup - this is exactly what I planned to do:)

[2017-05-12 07:16] fejta opened #45705 "Flaky: Kubectl expose should create services for rc on gce"
Flaked 6 times this week in the blocking `pull-kubernetes-e2e-gce-etce3` suite.

6 failure clusters: https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Kubectl%20expose%20should%20create%20services%20for%20rc

I suspect the most likely source of flakiness is the [namespace deletion timeout cluster](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=

[2017-05-12 07:17] #45215 closed

[2017-05-12 07:23] fejta opened #45706 "Flaky: DisruptionController evictions: enough pods, replicaSet, percentage => should allow an eviction"
Failure clusters: https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=should%20allow%20an%20eviction

Most likely [cluster](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=should%20allow%20an%20eviction#63a36434077ff31ae29e) causing flakiness:
[code]

/kind flake
/priority important-soon

@kubernetes/sig-scheduling-test-failures
/assign @ti

[2017-05-12 07:25] fejta commented on #45706
Note that [DisruptionController should update PodDisruptionBudget status](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=should%20update%20PodDisruptionBudget%20status#63a36434077ff31ae29e) also started failing at the same time

[2017-05-12 07:26] #44791 closed

[2017-05-12 07:28] fejta commented on #44792
/priority important-soon

Any more progress?

[2017-05-12 07:30] fejta commented on #45705
/priority important-soon

[2017-05-12 07:35] jeroenjacobs1205 commented on #45487
@yujuhong

I think my Docker is configured correctly. When I pull the image from the commandline (eg: "docker pull ubuntu:latest") this works fine, and the credentials are being used.

So it only happens when Kubelet pulls the image.

[2017-05-12 07:44] Scukerman commented on #45418
LOL. For some reason cronjobs started to work and I don't know how so I can't reproduce it :(

[2017-05-12 08:13] piosz commented on #45498
@caesarxuchao thanks for handling this.

I'm working on introducing metrics-server https://github.com/kubernetes/features/issues/271 in 1.7 which will be a replacement for Heapster serving the mentioned API. The metrics-server will be available via the aggregator.

Instead of moving Heapster to third_party/forked, we can use this deps https://github.com/kubernetes/metrics/blob/master/pkg/apis/metr

[2017-05-12 08:21] #45086 closed

[2017-05-12 09:28] #43701 closed

[2017-05-12 09:37] krallistic commented on #45541
I didnt though about the other side, that fixing the issue has the possibility to break installations with a patch release. I agree that would be terrible and unforeseen for user.

Since the Issue is fixed with 1.6 (due to a refactoring) iam gonna close this issue.

[2017-05-12 09:37] #45541 closed

[2017-05-12 09:48] AvTiMp opened #45716 "pod cannot resolve services"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"a55267932d501b9fbd6d73e5ded47d79b5763ce5", GitTreeState:"clean", BuildDate:"2017-04-14T13:36:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"a55267932d501b9fbd6d73e5ded

[2017-05-12 10:11] luxas opened #45717 "Support scheduling tolerating workloads on NotReady Nodes"
This has come up a few times; right now the kubelet goes NotReady if the CNI network isn't set up which makes the scheduler not even consider scheduling to that node, not even hostNetwork Pods.

I think that it's in the works to mark Node problems with Taints, where are we with that effort @kubernetes/sig-scheduling-misc?

We should make it possible to schedule workloads on nodes that are NotReady

[2017-05-12 10:20] #43249 closed

[2017-05-12 10:23] MQasimSarfraz commented on #28335
@pwittrock @quinton-hoole I was looking to contribute to kubernetes but seems like this issues has already been resolved. We should close it. Right?

[2017-05-12 10:44] jheiss commented on #22179
@urzds I probably don't have the time right now to put together a PR but anyone is free to use anything I said.

[2017-05-12 11:33] rtheis commented on #45385
After increasing log verbosity, most of the time is spent checking for the mark rules in the nat table.

[code]

[2017-05-12 11:38] livelace commented on #26035
@bprashanth

We have the same problem. We need a service which can send requests/traffic to a pod which not in a ready state (pod is executing poststart hook). I added specified annotations to my service, but it didn't help, the service doesn't respond and iptables rules are not present. Could you reveal more information ?

[2017-05-12 11:40] rtheis commented on #45385
The same problem occurs on Kubernetes v1.5.6.

[2017-05-12 11:50] p-bakker opened #45725 "spec.selector.matchExpressions for Deployment/ReplicaSet not working properly"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): matchExpressions

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

[2017-05-12 11:52] soltysh commented on #45213
@derekwaynecarr I'll make sure to cherry-pick this to openshift (@sttts @ncdc fyi).

[2017-05-12 12:13] rtheis commented on #45385
At a minimum, an option to change the refresh interval would address my use case.

[2017-05-12 12:32] MartinEmrich opened #45726 "Tries to attach already attached EBS Volume (AWS)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Yes, but feels more like a bug...

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
aws, ebs

---

**Is this a BUG REPORT or FEATURE REQUE

[2017-05-12 12:36] aliouba opened #45727 "Kubelet (Version 1.6.2) is runnig but get stuck by showing all time "Setting node annotation to enable volume controller attach/detach" in the logs."
**Kubelet (Version 1.6.2) is runnig but get stuck by showing all time "Setting node annotation to enable volume controller attach/detach" in the logs.**

root@machine:~/bmxkube$ systemctl status kube-kubelet -l
● kube-kubelet.service - Kubernetes Kubelet
   Loaded: loaded (/usr/lib/systemd/system/kube-kubelet.service; enabled; vendor preset: disabled)
   Active: active (running) since Fri 2017-05-

[2017-05-12 12:36] deads2k opened #45728 "More detailed plan for TPR migration"
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/thirdpartyresources.md#migration-from-existing-tpr sketches out how migration could be done, but the devil is in the details.  We need to try the migration using the CRUD available now, actually see the pieces work, and see if we can think of improvements or ways to make it easier.

@enisoc is taking the lead on this

[2017-05-12 12:57] rtheis commented on #45385
Increasing the default refresh interval would also help.

[2017-05-12 13:04] eparis commented on #44992
We determined the fix was to update cobra/pflag, right?  I think @fabianofranz is doing that for other purposes, so we'll get it eventually if I continue to be lazy. Or someone else can do it first to get it first...

[2017-05-12 13:05] fieryvova commented on #33777
Restart helped us as well. Is it something that's going to be fixed soon?

[2017-05-12 13:06] shyamjvs commented on #45512
Ok, we at least have ~50-60% of the runs green now. But kube-proxy is still causing the remaining failures.

[2017-05-12 13:12] wojtek-t commented on #45512
This is a separate problem we understand and we are working on it.

[2017-05-12 13:27] ravisantoshgudimetla commented on #45060
I am not able to mention any of sig's as I am not a member yet. I have tried pinging sig-api on slack regarding the issue. No response till now. So, I am planning to get started on moving the functions to pkg/util, unless someone has an objection.

[2017-05-12 13:35] fabiand commented on #23864
In our use case we need to open ports to a daemon (ds) on each host, and need to allow access to these ports.
Typically we need up to a few hundred ports per host.
Opening a range would be helpful.

[2017-05-12 13:39] soltysh commented on #45567
👍 for explicitly skipping known-bad tests

[2017-05-12 13:39] soltysh commented on #45567
There are some alpha features that will work and you want to test them.

[2017-05-12 14:07] muffi1310 opened #45731 "kube-up.sh for GCE does not create auto-scaling Instance groups"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
ENABLE_CLUSTER_AUTOSCALER, gce instance-group, autoscale
---

**Is this a BUG REPORT

[2017-05-12 14:16] ianchakeres commented on #43781
I experienced this flake on PR #45544- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45544/pull-kubernetes-unit/30194/

`autoregister_controller_test.go:266: do nothing[0] unexpected action: [{{ watch {apiregistration.k8s.io  apiservices} } {  }}]
`

[2017-05-12 14:36] soltysh commented on #45725
@kargakis @tnozicka @kubernetes/sig-apps-bugs

[2017-05-12 14:40] kargakis commented on #45725
@p-bakker this seems to me like a dashboard issue. Mind moving this issue in the dashboard repo? https://github.com/kubernetes/dashboard/issues

[2017-05-12 14:55] p-bakker commented on #45725
Mmm, never though about it just being a display issue in the Dashboard :-) Good to know, just validated it with kubectl get deployment xxx/kubectl get replicaset xxxx-yyyy and those command indeed just report 3

I'll move the case, tnx

[2017-05-12 14:55] #45725 closed

[2017-05-12 14:57] divyenpatel commented on #45679
@wongma7 looks like you are missing disk.EnableUUID = "TRUE" on the node VM.
Can you confirm? Can you enable UUID on the VM as mentioned in the https://kubernetes.io/docs/getting-started-guides/vsphere/ and retry?

@tusharnt

[2017-05-12 15:33] yujuhong commented on #45727
@aliouba, did you run into any other issues with kubelet? This seems like annoying yet harmless log spam. We can adjust the logging level of the message.
/cc @kubernetes/sig-storage-misc

[2017-05-12 15:52] saad-ali commented on #44792
@jeffvance Did you get a chance to look at this?

[2017-05-12 15:55] xiangpengzhao commented on #45627
Made a simple digging into the code and found the root cause might be [here: SetInitContainersAndStatuses](https://github.com/kubernetes/kubernetes/blob/e09fda63bea41a4b0ebceb2325c47d1f3c97ac90/pkg/kubelet/config/config.go#L264).

@smarterclayton would give a detailed explanation.

[2017-05-12 16:03] derekwaynecarr commented on #42676
have you see recurrences?

[2017-05-12 16:03] yujuhong commented on #45558
There is no reason why terminated pods should not be evicted under disk pressure. In fact, kubelet should prefer choosing them as victims so that it's less disruptive to the system. This is something that the eviction manager should handle, but I don't think it does today.

As to "why", I think @dashpole already said that this is a workaround.

Off the top of my head, kubelet has always behaved li

[2017-05-12 16:10] jingxu97 commented on #45727
This log is from registerWithApiServer function in kubelet_node_status.go,
it should not be called all the time if registration is completed?

On Fri, May 12, 2017 at 5:37 AM, BA Aliou <notifications@github.com> wrote:

--
- Jing

[2017-05-12 16:13] dashpole commented on #42676
I have not yet.

[2017-05-12 16:15] derekwaynecarr commented on #42676
do you have thp enabled or disabled?

[2017-05-12 16:19] jeffvance commented on #44792
Not yet (various reasons). Will today but not sure of a good debugging plan...

[2017-05-12 16:24] henriquetruta commented on #45673
@nikhiljindal @csbell just made a far more decent description

[2017-05-12 16:26] dchen1107 commented on #42676
Transparent Hugepage is enabled on COS, but I believe it is only madvise mode, not always. @dashpole you can check it through /sys/kernel/mm/transparent_hugepage/enabled

[2017-05-12 16:28] suyogbarve commented on #44992
@eparis Yes fix lies in Cobra update (which also forces pflag update)
@fabianofranz please let me know if this defect can be linked to yours as a fix.

[2017-05-12 16:30] dashpole commented on #42676
that file contains:
`always [madvise] never`
So it looks like it is set to madvise mode as dawn said.

[2017-05-12 16:31] yujuhong commented on #45487
@jeroenjacobs1205, I understand that. My https://github.com/kubernetes/kubernetes/issues/45487#issuecomment-300934093 explained why that's the case.
When you use kubelet to pull the image, kubelet looks up the credential by itself first, without the knowledge that you configured docker to use a different registry. It naively gets the credential for the wrong registry, and pass it to docker.

[2017-05-12 16:34] divyenpatel commented on #45516
@BaluDontu @tusharnt

[2017-05-12 16:35] yujuhong commented on #45487
@djmckinley, your case is different. The image you tried to pull is a pod sandbox image (or previously known as pod infra container image). With CRI, this image is considered an implementation detail of the runtime and we do not reuse the credential package kubelet uses. I'll file an issue to support reading docker config in the CRI implementation.

Pulling images for user containers should work t

[2017-05-12 16:35] ahmetb opened #45736 "kubectl proxy --help is missing description of the command"
kubectl Version: 1.6.2

**Problem:** `kubectl proxy --help` command directly jumps into the examples of the command without explaining what the command does. For example:

[code]

Compare this with:

[code]

[code]

[2017-05-12 16:37] ahmetb opened #45737 "kubectl proxy --help examples are unorganized and overlapping"
kubectl version: 1.6.2.

**Problem:** help for `kubectl proxy`  has an `Examples:` section, but half of the examples section are in the main area where instead the command should be explained. #45736 Also the examples under the `Examples:` and before the `Examples:` are overlapping a bit.

[code]

[2017-05-12 16:41] yujuhong opened #45738 "dockershim should support getting credentials from config.json/dockercfg files for pulling podsandbox images"
User report: #45487

PodSandbox (a.k.a infra container) is considered an implementation detail in dockershim. Kubelet is not aware of what the sandbox is and cannot pass the right credentials through CRI to dockershim.
Since we allow users to specify the pod infra container image to use, dockershim should  get the credentials from the docker config (config.json or the legacy dockercfg file) for pu

[2017-05-12 16:52] timothysc commented on #44857
I'll have a PR up today.

[2017-05-12 17:08] spxtr commented on #45558
Okay, the fix in https://github.com/kubernetes/test-infra/pull/2736 fixed my cluster in just a couple minutes. Thanks @dashpole for troubleshooting. I can confirm that 1.5 nodes still have the problem, and so it seems it was just coincidence that it started to break the day after I upgraded to 1.6.

[2017-05-12 17:12] #45693 closed

[2017-05-12 17:13] aliouba commented on #45727
I have this status only on my master. Workers nodes work very well.

[2017-05-12 17:19] aliouba commented on #45727
You can follow my Kubernetes HA installation here: [https://github.com/aliouba/Kubernetes-HA](https://github.com/aliouba/Kubernetes-HA)

[2017-05-12 17:34] thockin commented on #4301
Somewhere was discussed using an Exec or HTTP Probe for cost - letting pods state their own cost, relative to each other in whatever set governs them.

[2017-05-12 17:42] caesarxuchao commented on #45498
Ah, Right. I noted they are both called metrics and both are v1alpha1 but never bothered to check if they are the same thing.

[2017-05-12 17:47] discordianfish commented on #43515
@wongma7 Well, I only can say that my volumes were dropped and it didn't recover on it's own (only after reboot).

Dropped a seen by kubernetes, dunno if the volumes were still attached but they weren't usable by my scheduled database. To be clear: I'm not "complaining" and this was just test/R&D, but it would this is the scariest kind of issue for me to happen in prod, given that it's a managed s

[2017-05-12 17:57] jingxu97 commented on #43515
You don't need to reboot the node. Delete the pod and restart it should
work for this issue. Is this workaround ok for your case?

On Fri, May 12, 2017 at 10:48 AM, discordianfish <notifications@github.com>
wrote:

--
- Jing

[2017-05-12 18:02] jingxu97 commented on #45727
@aliouba do you see any other error log related to kubelet registration?

[2017-05-12 18:07] discordianfish commented on #43515
Good to know, thanks! Will try this next time.

[2017-05-12 18:34] thockin commented on #44643
I don't think we want to rename fields between beta and GA, but I'll open it to @kubernetes/sig-network-feature-requests and @danwinship @caseydavenport and other implementors...

[2017-05-12 18:41] ravilr commented on #43783
@vishh ulimit -n/nproc applies limits to all processes globally across containers based on uid/gid, hence not really useful to prevent fork bomb.
https://github.com/moby/moby/issues/6479#issuecomment-95578801
https://github.com/moby/moby/pull/18697#issue-122428522

[2017-05-12 18:45] #45426 closed

[2017-05-12 18:47] vishh commented on #43783
@ravilr k8s let's users run pods with non default uids. So in theory it is possible although in practice it might be hard to orchestrate.

[2017-05-12 18:55] XiaoningDing commented on #45300
I will check with our internal customers to see if an operator can fully meet their requirements. Will update this later.

[2017-05-12 19:01] vishh commented on #42735
I hit (possibly) the same issue. With a cluster from HEAD, kube-system not in host net namespace fails to come up

[code]

Kubelet logs has the following warning messages, which the infra container being restarted in a loop
[code]

[2017-05-12 19:14] piosz commented on #45498
AFAIR this was just copy/paste. @DirectXMan12 to confirm

[2017-05-12 19:31] mml commented on #38336
Well that's pretty neat for a shell script.

[code]

[2017-05-12 19:47] henriquetruta commented on #33312
@nikhiljindal @jianhuiz didn't work for me. Used the annotation as you suggested and the replicas weren't rebalanced

[2017-05-12 19:49] thockin commented on #23864
https://github.com/kubernetes/kubernetes/issues/23864#issuecomment-266244214

[2017-05-12 19:58] LinEricYang commented on #45703
I ran into the similar issue on vagrant environment, only can ping pod on the same node. The root cause is flannel daemon use the first network interface by default, unfortunately the first one in vagrant one is NAT which is not connect with other nodes. So Using "--iface=" in flannel daemon to specifying correct interface works for me.

[2017-05-12 20:08] smarterclayton commented on #45627
@erictune re beta annotations.

Unfortunately, part of supporting beta annotations is that they must override and take priority over the fields.  Otherwise they would break if someone set init annotations.  We will drop the annotations in 1.X (I was hoping 1.7, but not sure what guarantee we established, so 1.8 if not 1.7)

[2017-05-12 20:11] caseydavenport commented on #44643
Yeah, I don't think we want to change naming between the versions.  Perhaps we need better documentation about the different selectors?

I think the current naming is more flexible.  For example, if we ever decide we want to support egress policy in NetworkPolicy then renaming `Spec.PodSelector` to `Spec. DestinationPodSelector ` drastically changes how that would need to be represented, and the s

[2017-05-12 20:12] timothysc commented on #45706
@fejta So I'm digging backwards from the original gubernator link and some data doesn't make any sense to me,  when you have a moment could you poke me on irc.

[2017-05-12 20:14] #44219 closed

[2017-05-12 20:15] liggitt commented on #45627
kubelets can skew two versions older than the apiserver, so 1.8, probably

[2017-05-12 20:16] ahmetb commented on #45731
@muffi1310 I think [cluster autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#cluster-autoscaler) is a software running inside the container and it's not expected to create a Instance Group with autoscaling enabled.

[2017-05-12 20:23] ahmetb opened #45744 "hack/update-staging-client-go.sh: cannot create special file: Operation not permitted"
I just started getting the following error on my **macOS** development environment while running `hack/update-staging-client-go.sh`, it wasn't happening until about two weeks ago.

[code]

[2017-05-12 20:26] dashpole commented on #45558
EDIT: We should be running container GC here.

@vishh do you mean we should delete all dead containers here?  Wouldn't that break our guarantees around preserving dead containers?

[2017-05-12 20:43] danwinship commented on #44643
I feel like it's pretty late to be changing things. And the SIG has generally been pretty against making changes relative to the v1beta1 API anyway. Plus what Casey said. We can try to document this better though.

[2017-05-12 20:44] luxas commented on #44321
cc @kubernetes/sig-testing-misc @fejta what should we do with this one?

Flaked only once, can I close it?

[2017-05-12 20:45] #44643 closed

[2017-05-12 20:47] fejta commented on #45706
Note that failures from PRs will be noisy, since they also may contain people's possibly bad changes that aren't merged.

[2017-05-12 20:50] vishh commented on #45558
There are really no guarantees. Kubelet keeps dead containers on a best effort basis. Given that the old features that allowed managing dead containers explicitly can now be safely removed, I'd say we should update eviction manager to GC dead containers before even removing images.

[2017-05-12 20:56] smarterclayton commented on #44918
We should replace the current form with http://roaringbitmap.org/about/, but we'll need to record the version change somehow.

[2017-05-12 20:56] andreychernih commented on #42735
Just bumped image versions to 2.1.5 in addons/networking.projectcalico.org/k8s-1.6.yaml manually and it started to work correctly. I see that Calico has been already upgraded to 2.1.5 in master, so we just need to wait for new release.

[2017-05-12 20:59] foxish commented on #45398
@JorritSalverda For your particular use case (scaling with a statefulset), we're adding `maxUnavailable` (https://github.com/kubernetes/kubernetes/issues/34776).

[2017-05-12 21:14] weitenghuang opened #45746 "Can we have SSL: for AWS ELB Health Check Target?"
**Is this a request for help?** : No

**What keywords did you search in Kubernetes issues before filing this one?**: AWS loadbalancer elb healthcheck

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e

[2017-05-12 21:15] sbezverk commented on #45613
Would be great to get it out one way or another. I have heard other people also see this issue.

[2017-05-12 21:23] timothysc commented on #45706
So in looking at the non-PR and just the CI I'm seeing a lot of :

"May 11 02:13:53.334: All nodes should be ready after test, Not ready nodes: ", gke-bootstrap-e2e-default-pool-2e2dbc5c-dtrk"

which to me seems like an infra flake, but if you are seeing something that I'm not, feel free to point it out to me.

[2017-05-12 21:27] jagosan commented on #45744
/sig api-machinery
/assign @lavalamp @deads2k

[2017-05-12 21:27] wongma7 commented on #45613
Status: it's merging to master right now & I just opened a cherry-pick for it into 1.6 https://github.com/kubernetes/kubernetes/pull/45749.

I'm not sure what the procedure is for expediting a point release, but I suppose it would be enough if those other people +1 this issue, it may help the folks in charge judge the severity of the bug.

@ethernetdan and @enisoc what's the procedure here? The co

[2017-05-12 21:29] jagosan commented on #45744
@kubernetes/sig-api-machinery-bugs

[2017-05-12 21:29] jagosan commented on #45744
/kind bug

[2017-05-12 21:32] jagosan commented on #45737
/sig cli
/kind enhancement

[2017-05-12 21:33] fejta commented on #45706
Do you have a gubernator link? Are you focusing on the AWS jobs (put aws into the job textbox)?

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=aws&test=should%20allow%20an%20eviction

[2017-05-12 21:35] jagosan commented on #45736
/sig cli
/kind enhancement

[2017-05-12 21:40] #45731 closed

[2017-05-12 21:41] erictune commented on #45731
Please post to stack overflow for support questions

[2017-05-12 21:42] jagosan commented on #45726
/sig aws

[2017-05-12 21:42] timothysc commented on #45706
Ahh I was not, thx!

[2017-05-12 21:45] fejta commented on #44321
/sig-remove testing

That test failed 35 times this week: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=HostPath%20should%20support

[2017-05-12 21:46] dashpole commented on #45558
I didnt realize this was an "old" feature.  Are logs already stored separately from containers?  If so, then we should change the default settings to not keep old containers by default.  The eviction manager could be changed to trigger gc, but im not sure thats really necessary, given that container gc runs every 10 seconds.

[2017-05-12 21:46] jagosan commented on #45717
/kind feature

[2017-05-12 21:48] erictune commented on #45716
Please post to stack overflow for support questions

[2017-05-12 21:48] #45716 closed

[2017-05-12 21:48] erictune commented on #45703
Please post to stack overflow for support questions

[2017-05-12 21:48] #45703 closed

[2017-05-12 21:49] erictune commented on #45702
Please post to stack overflow for support questions

[2017-05-12 21:49] #45702 closed

[2017-05-12 21:52] jagosan commented on #45700
Hi @knightXun, thanks for jumping in.  Trying to work through open issues and this is tricky to triage.  Please add some more detail to make more actionable.
/sig node

[2017-05-12 21:53] vishh commented on #45558
Not yet. But that doesn't matter.

This logic should be removed once eviction manager takes over GC of containers.

[2017-05-12 21:54] jagosan commented on #45688
/sig node
@kubernetes/sig-node-bugs

Great write-up, thanks for the extra detail.

[2017-05-12 21:55] JonathanFraser opened #45750 "kubernetes disk issues in 1.6.2 and azure"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): azure, azure disk

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2017-05-12 21:57] jagosan commented on #45670
/sig node

[2017-05-12 21:57] JonathanFraser commented on #45750
corresponsing issue opened on acs-engine: Azure/acs-engine#611

[2017-05-12 22:00] erictune commented on #45655
You are welcome to look at the 1.3 branch on github and look in the cluster/addons directory

[2017-05-12 22:00] jagosan commented on #45632
/sig cluster-lifecycle

[2017-05-12 22:00] #45655 closed

[2017-05-12 22:00] #33625 closed

[2017-05-12 22:02] jagosan commented on #45627
/sig apps

[2017-05-12 22:03] erictune commented on #45626
Please post to stack overflow for support questions

[2017-05-12 22:04] jagosan commented on #45612
/sig auth

[2017-05-12 22:05] davidopp commented on #45706
PDB is now owned by @kubernetes/sig-apps-misc

cc/ @mml

[2017-05-12 22:05] davidopp commented on #45706
(Which isn't to say that @timothysc shouldn't investigate -- I'm sure everyone will be very happy if he does :) )

[2017-05-12 22:06] perotinus opened #45751 "[Federation] Running Federation E2E tests locally with multiple clusters fails if the user's context is not set to the E2E test host cluster context"
I was running into an issue running the Federation e2e tests with >1 cluster: when starting to run the tests, the test script would fail to list the nodes in the cluster hosting the federation with an "x509 invalid certificate" error. It worked fine with one cluster, however. @madhusudancs and I debugged this, and realized that the e2e script was using my local context to try to interact with the

[2017-05-12 22:07] perotinus commented on #45751
/assign @madhusudancs

[2017-05-12 22:07] jagosan commented on #45609
/kind feature
/sig cli

[2017-05-12 22:08] jagosan commented on #45608
/sig cli
/kind bug

[2017-05-12 22:09] tudor commented on #45626
This is not a support question.

This shows kubelet stuck in an inconsistent state; it is trying to delete a container that was run by a previous iteration of the pod. The only way past this is through manual intervention -- pods stuck in this state are not restarted by their ReplicaSet, and we don't have access to the pod logs any more.

This happens multiple times a day in our Kube 1.6.2 cluster

[2017-05-12 22:11] dashpole commented on #45558
Ok, that makes sense.  I'll try and implement this in the near future.

[2017-05-12 22:12] atombender commented on #45608
(Still waiting for the CNCF account service to send me a CLA to sign.)

[2017-05-12 22:14] jagosan commented on #45594
/sig cluster-lifecycle
note:  discussion in bug-scrub that there ought to be a sig-cloud but in the interim, adding to cluster-lifecycle.

[2017-05-12 22:15] jagosan commented on #45570
/kind feature

[2017-05-12 22:16] fejta commented on #44420
Thanks Clayton for the staging and api additions!

How about if we pick two of you at random and shove them in as owners for each of the remaining directories?

[2017-05-12 22:17] jagosan commented on #45554
/sig testing

[2017-05-12 22:19] yujuhong commented on #45558
Just making sure my understanding is correct --these containers will only be removed under disk pressure, right? We don't want to delete containers immediately after it terminates (yet).

[2017-05-12 22:22] dashpole commented on #45558
Thats what I plan to implement.  Then after we have that working, we would remove the container gc logic all together.

[2017-05-12 22:22] vishh commented on #45558
Yes. That's what I'm hoping too.

[2017-05-12 22:22] jagosan commented on #45542
/sig api-machinery

/close

@sttts please reopen if commit did not fix.

Also please try typing "Fixes " and the issue number will cause github to close the issue.

https://help.github.com/articles/closing-issues-via-commit-messages/

(Also, bug-scrub folks ask please categorize by sig when possible.)

[2017-05-12 22:23] erictune commented on #45482
Please post to stack overflow for support questions

[2017-05-12 22:26] erictune commented on #45482
Sorry about that closure --  doing a bug scrub and closing stuff after only a quick read.

[2017-05-12 22:26] fejta commented on #45554
@kubernetes/sig-network-test-failures
/assign @bowei

Not 100% sure who owns the proxy package, but it (along with the iptables issue) smells like networking to me. Can we get someone from sig-network to review https://github.com/kubernetes/kubernetes/pull/45642?

Thanks for highlighting Jago, removing the testing label because the test results appear to be correct here (we really can't build the

[2017-05-12 22:27] jagosan commented on #45459
/sig onprem
May not be exactly right, but bug-scrub trying to direct to sigs and this is the best we can come up with...

[2017-05-12 22:29] jagosan commented on #45457
/sig api-machinery
/kind enhancement

@justinsb - bug scrub effort trying to categorize.  please add sig label when possible.

[2017-05-12 22:36] fejta commented on #38543
/assign @cjwagner

We revamped this here, the noise ratio is much better now.

[2017-05-12 22:36] #38543 closed

[2017-05-12 22:36] #40185 closed

[2017-05-12 22:37] fejta commented on #39041
Migrated this issue to test-infra repo

[2017-05-12 22:37] #39041 closed

[2017-05-12 22:38] justinsb commented on #45457
Putting in to 1.7 as I believe once we've shipped, the ship has sailed.

[2017-05-12 22:38] MrHohn commented on #45438
/area ingress

/cc @nicksardo

[2017-05-12 22:38] fejta commented on #18432
This work is happening in test-infra https://github.com/kubernetes/test-infra/pull/2310

[2017-05-12 22:38] fejta commented on #18432
/assign @shyamjvs

[2017-05-12 22:40] fejta commented on #3679
We have the reboot suite and `[Disruptive]` tag

[2017-05-12 22:40] #3679 closed

[2017-05-12 22:40] enisoc commented on #38336
@mml wrote:

It may not be too bad. Currently, I don't think there's any *guarantee* your pods will come back when the node is upgraded. If the restart takes too long, the pods will get deleted and rescheduled on another node. However, I admit in practice many people may be relying on this unguaranteed behavior. Speaking of which, is the drain going to be opt-in, out-out, or required?

Perhaps we

[2017-05-12 22:43] msau42 commented on #44792
@copejon 's experiments potentially hinted at some colocation issues.  Can we first go through the logs and see if we can find a correlation between colocation of nfs client and server pods, and test failure?

[2017-05-12 22:47] sjezewski opened #45753 "Node that is restarted never reconnects to cluster"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): restart node

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG R

[2017-05-12 22:59] nicksardo commented on #45438
@riturajtiwari You don't provide much data to go on. Are there any events for the ingress object? Describe the object and print everything out here. Do you see any resources in the networking tab of the GCP console? Forwarding rules, backend services, etc? Does the static ip "myapp-qa-staticip" exist?

[2017-05-12 23:00] jeffvance commented on #44792
There are no recent failures. It's possible that the GCE PDs are more stable now. In any event, due to lack of current test failures logs makes it tough to investigate causes. @msau42 if you are interested in digging deeper then maybe you can find archived results logs, or we can wait to see if it fails again. Meanwhile, this issue can be closed per a dialog with @fejta, but I don't have permissio

[2017-05-12 23:02] madhusudancs commented on #45751
/sig federation

[2017-05-12 23:04] msau42 commented on #44792
How long do we keep the logs for?  I think many of the nfs tests got disabled a week or so ago.  As part of re-enabling those tests, we'll have to triage this again.

[2017-05-12 23:09] riturajtiwari commented on #45438
Hi Nick:
Thanks for the response. Yes, the static IP exists. I first encountered this issue as https://github.com/kubernetes/kubernetes/issues/44521 where the `Ingress` would connect after a 10 minute delay. The exact same k8s config files with a new 1.6.2 cluster do not work. Let me create some dummy resources and send you the info you requested.