[2021-12-06 19:21] medyagh commented on #106807
thanks it is a dupe of that issue, will reopen if the new patch hasnt fixed it.

It would be amazing if kubernetes releases get tested with minikube on kubernetes side. it has happend before that minikube integration tests found a failure in kubernetes after release

[2021-12-06 19:34] EdmundsEcho commented on #106730
Solved.  I'm not sure what transpired in relation to how it is working now, however, kubectl is operating as expected with the kinD cluster.  Thank you.

[2021-12-06 19:34] #106730 closed

[2021-12-06 19:34] liggitt commented on #106807
Sounds good, thanks.

/close

[2021-12-06 19:35] #106807 closed

[2021-12-06 20:29] alculquicondor commented on #105977
/sig autoscaling

[2021-12-06 20:41] aogier commented on #74099
at the end of the day, a library which implement proper diff could be developed and used by every project that need to diff on that, most notably gitops tool like argocd and other tools like that. And at the very end of the day k8s could also take benefit from it, but cmon, {'a': 'b', 'c': 'd'} is indeed equal to {'c': 'd', 'a': 'b'}, k8s side is lot of layers and no way to have it simple, maybe e

[2021-12-07 00:22] shuheiktgw commented on #105025
I've been trying to work on this PR but could not figure out where to start... This issue might be a bit too complicated for beginners like me so let me unassign myself... 🙇

/unassign

[2021-12-07 01:12] lubronzhan commented on #88820
Hi @timoreimann do you have any updates on this? We can also provide help if you needed

[2021-12-07 01:24] howardjohn opened #106846 "Add go generics support to client-go"
### What would you like to be added?

Support for Go 1.18 generics into k8s.io/client-go.

### Why is this needed?

Currently, the client-go has a substantial amount of code generation. This makes higher level abstractions and usage of the libraries challenging. For example, in our project there are 8 SharedInformerFactory types, but common logic cannot be used in all of them without substantial c

[2021-12-07 01:24] howardjohn commented on #106846
/sig api-machinery

[2021-12-07 01:27] howardjohn commented on #106846
I did some experimentation with this a bit.

[code]

Some limitations that came up:
* Cannot have `client.Get[appsv1.Deployment]`; https://go.googlesource.com/proposal/+/refs/heads/master/design/43651-type-parameters.md#no-parameterized-methods
* `[T runtime.Object]` doesn't work super well, because of https://go.googlesource.com/proposal/+/refs/heads/master/design/43651-type-parameters.md#no-way-

[2021-12-07 01:40] pacoxu commented on #106846
/area code-organization

[2021-12-07 03:36] KeithTt commented on #66421
Same problem on 1.16.6

[2021-12-07 03:40] pacoxu commented on #106842
[code]
Why not use `apply` if you want `create or get and path` behavior.

[2021-12-07 03:47] pacoxu commented on #106826
It sounds like that we should cherry-pick the fix to 1.23 after the PR is merged to main.

[2021-12-07 03:52] pacoxu commented on #103221
/remove-lifecycle rotten
/reopen

I still see the flake in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106820/pull-kubernetes-unit/1467315993326915584 recently.

[2021-12-07 04:04] KeithTt commented on #79466
I increased `pid_max` to 1Mi, but it did not work.

[2021-12-07 05:52] jjjjose commented on #67202
example use?

[2021-12-07 06:27] akshaydmore commented on #106790
then are you guys suspecting anything that could go wrong in implementaion ? and also i hoped you used watch from kubernetes python library ?

[2021-12-07 07:06] ialidzhikov commented on #106842
This issue is not about `kubectl create` or  `kubectl apply` - kubectl was used only for simplicity to demonstrate the issue in the steps to reproduce.
Under the hood I guess `kubectl apply` will do a GET request and `Anything else we need to know?` section describes why we cannot rely on such GET request for non-existing object.

[2021-12-07 08:02] cmssczy commented on #106735
This log file was created in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L402-L404
I think we should get the `terminationMessagePath` by query container spec and then delete this file in `removeContainerLog` function or somewhere else.
I can work on it if this solution is correct. @rphillips @ehashman

[2021-12-07 09:40] Sparkton opened #106849 "Ingress gets deployed but target group IP is incorrect"
Hi,
I deployed the [2048 example](https://github.com/kubernetes-sigs/aws-load-balancer-controller/tree/master/docs/examples/2048) but the target groups deployed are taking the endpoints IP. I have gone through multiple documentations but cannot seem to get it working.

[code]

Endpoints
[code]

[Target Groups](https://i.stack.imgur.com/UtrOL.png)

[2021-12-07 10:01] swapkh91 commented on #28272
any update on this?
I'm trying to deploy Triton Inference Server using Kserve and need to change shm-size

[2021-12-07 10:13] palnabarun commented on #103998
/remove-lifecycle stale

[2021-12-07 11:25] aojea commented on #106849
It seems this should be opened in https://github.com/kubernetes-sigs/aws-load-balancer-controller not here

[2021-12-07 12:13] #106849 closed

[2021-12-07 12:41] #102738 closed

[2021-12-07 12:52] pohly commented on #91633
I have published a PR with the KEP and intend to discuss it at this week's SIG Instrumentation meeting: https://github.com/kubernetes/enhancements/pull/3078

The first step will be to decide whether the SIG wants to tackle this problem.

@damemi I've used [your comment above](https://github.com/kubernetes/kubernetes/issues/91633#issuecomment-675074671) as basis for one of the use cases in the KEP.

[2021-12-07 14:18] BinacsLee commented on #106545
+1

[2021-12-07 14:58] alculquicondor commented on #91633
cc @serathius

We are onboard. Several contributors helped migrating to structured logging and I expect they would like to contribute further.

[2021-12-07 15:02] damemi commented on #91633
+1 I think the use case is valid for your proposal @pohly

[2021-12-07 15:39] liggitt commented on #106401
I haven't tested this, but something along the lines of this:

[code]

we'd need tests to exercise the following scenarios on a CRD that specifies a status subresource with a list property with x-kubernetes-list-type=map and x-kubernetes-list-type=set

1. ensure a custom resource instance that already has duplicate items in the status property list can be updated successfully while still having du

[2021-12-07 16:26] howardjohn commented on #106846
Slightly better/different alternative:

[code]

But then we lose runtime.Object constraint on inputs

[2021-12-07 16:47] to266 commented on #75817
Just FYI, the immediate alternative to me seems to be:
 - Schedule a cronjob with the exact date for the wished job (i.e. so that it runs once a year)
 - Remove the cronjob at some point after the scheduled date, but not later than 1 year after that.
   - Can be further (over) complicated by creating another similarly-scheduled cronjob, but it would remove first the original JOB, and then itself

[2021-12-07 17:08] jsturtevant commented on #106636
/triage accepted
/priority important-soon

[2021-12-07 17:31] claudiubelu commented on #106750
Similar failure: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1468117533876817920

The reason of failure is the same. It runs at the same time as ``[sig-api-machinery] Garbage collector should orphan pods created by rc if delete options say so [Conformance]``, which spawns 48 pods, which then cause the test to timeout.

[code]

[2021-12-07 19:04] lazarkrstic opened #106855 "kubeletConfig - containerLogMaxSize not working"
### What happened?

I created EKS using `eksctl` tool and than added a new node group. I am using `kubeletExtraConfig` for setting log maximum size of **500MB**, but it's not working. I still get only tail of container log. The size of returned log is 2.39MB.
Here is kubelet config
[code]

### What did you expect to happen?

I expected to get full container log, not just log tail.

### How can we

[2021-12-07 20:33] neolit123 commented on #106855
/sig node

[2021-12-07 21:11] fedebongio commented on #106826
/triage accepted

[2021-12-07 21:12] fedebongio commented on #106836
/cc @liggitt @deads2k @lavalamp
We were wondering during triage if there was a reason why is not supported already?
Thanks!

[2021-12-07 21:14] fedebongio commented on #106842
/cc @apelisse @kevindelgado @jpbetz
/triage accepted

[2021-12-07 21:15] fedebongio commented on #106846
/cc @deads2k @jpbetz @lavalamp @sttts
for visibility
/triage accepted

[2021-12-07 21:17] fedebongio commented on #106754
Hi @howardjohn, were you thinking in maybe contributing a PR to this?
/help
/triage accepted

[2021-12-07 22:15] liggitt commented on #106836
mostly due to performance of field selectors and that field selector values are way less constrained than label values, so escaping becomes way thornier

[2021-12-07 22:19] joshimoo commented on #96635
/remove-lifecycle rotten
related issue https://github.com/kubernetes/kubernetes/issues/70044

A similar failure scenario exists for CSI volumes.
Currently checking to see if I can track the fault and create a reliable reproducer :)

[2021-12-07 22:41] apelisse commented on #106842
I'm guessing only etcd has the power to tell you that the object already exists or not (otherwise it would be racy, only etcd knows something about atomicity). That's probably why this happens. Technically you can't create a resource because of the quota, so I don't know if it's a bug. On the other hand, I see how it's frustrating.

[2021-12-07 23:08] lborisevich-clgx commented on #48701
i would really love to see this being a part of documentation, took me awhile to find this comment

[2021-12-08 00:48] #99602 closed

[2021-12-08 00:59] robscott commented on #99824
I don't think I have the bandwidth to fix this soon, if anyone has time, contributions are very welcome.

/remove-lifecycle stale

[2021-12-08 01:05] mitchellmaler opened #108808 "PodSecurityAdmission - Custom Standards"
We would like to adopt the restricted standard but we require to make a few customizations to that. It would be great if there was a custom resource where custom standards or inherited and then customized standards could be made.

[2021-12-08 01:25] #105029 closed

[2021-12-08 02:02] sftim commented on #104878
Triaging for SIG Docs
/priority important-soon

[2021-12-08 02:06] amtisyAts opened #106857 "I have an open source project that can change the world. Blockchain-related, committed to building the human mind internet. Currently, only Chinese versions are available. Please evaluate it carefully!!! Can be submitted to the top management of any of the world's top technology companies!!!"
### What would you like to be added?

https://github.com/amtisyAts/reshape

### Why is this needed?

https://github.com/amtisyAts/reshape

[2021-12-08 02:06] amtisyAts commented on #106857
@freeformz
@brosner
@gnufied

[2021-12-08 02:26] #106580 closed

[2021-12-08 02:26] #101927 closed

[2021-12-08 02:27] pacoxu commented on #106857
/close

[2021-12-08 02:27] #98989 closed

[2021-12-08 02:27] #106857 closed

[2021-12-08 02:27] #106726 closed

[2021-12-08 02:42] jonyhy96 commented on #106857
/retitle [spam]

[2021-12-08 03:26] huchen2021 opened #106863 "When I Running Kubernetes locally via Docker as doc described, it report: The connection to the server localhost:8080 was refused - did you specify the right host or port?"
### What happened?

I am new guy to k8s, I tried to set up a easy deployment of k8s, and I do it as https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/docker.md told, but it is not working.

$ kubectl get nodes
The connection to the server localhost:8080 was refused - did you specify the right host or port?

Not sure if anything I missed.

### What did you expect

[2021-12-08 03:28] #106761 closed

[2021-12-08 03:32] khteh opened #106864 "How would k8s service work with HTTP/3?"
### What would you like to be added?

HTTP/3 will be a game changer as it is using QUIC which is based on UDP and the connections are independent of IP addresses. How would k8s service change to better work with HTTP/3 in the future, especially with regards to load-balancing HTTP/3 traffic?

### Why is this needed?

HTTP/3 will be a game changer as it is using QUIC which is based on UDP and the co

[2021-12-08 04:32] leonanu opened #106866 "kube-scheduler fail to start after upgrading to v1.23.0"
### What happened?

kube-scheduler fail to start after upgrading from v1.22.4 to v1.23.0.

The kube-scheduler.service log shows:
`run.go:120] "command failed" err="[healthzBindAddress: Invalid value: \"0.0.0.0:10251\": must beempty or with an explicit 0 port, metricsBindAddress: Invalid value: \"0.0.0.0:10251\": must be empty or with an explicit 0 port]"`

My kube-scheduler.yaml is:
[code]

**But

[2021-12-08 04:42] leonanu commented on #106866
triage/accepted

[2021-12-08 06:05] AH2000141 opened #106870 ""kube-proxy TLS support""
### What happened?

I want to set tls for kube-proxy and nodeLocalDns,but not found anything about tls properties

### What did you expect to happen?

how to support

### How can we reproduce it (as minimally and precisely as possible)?

no

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>

</details>

### OS ve

[2021-12-08 06:09] krishna-birla opened #106871 "Unable to import package"
### What happened?

When importing the package version 1.23.0, facing the error:
[code]

### What did you expect to happen?

Expected the package to import normally.

### How can we reproduce it (as minimally and precisely as possible)?

Try including k8s.io/kubernetes@v1.23.0 in your go mod file.

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</deta

[2021-12-08 06:13] pacoxu commented on #106802
The current workaround solution is [Fine Parallel Processing Using a Work Queue](https://kubernetes.io/docs/tasks/job/_print/#pg-457c9dd93aed2b05615ed28dc38075d3).

If using init container, `https://github.com/groundnuty/k8s-wait-for` is a choice to wait for the job completion.

Not sure if I misunderstand. The expected solution here is adding `waitFor` to jobs.specs.

[2021-12-08 06:41] pacoxu commented on #106855
` ps aux | grep container-runtime` to check if your kubelet is running with `--container-runtime=remote`.

[code]
If you are using docker by default, the containerLogMaxSize setting will be ignored.

[2021-12-08 06:44] pacoxu commented on #106855
I have two env which are installed by kubeadm. One is with contained and another on is with docker.

The node with contained below
[code]
**The log file is about 10MB(default value) each. And it will be compressed later.**

The docker node below
[code]

[2021-12-08 06:51] iamejboy commented on #106548
Fixed. Need to add "scheme: https" to liveliness probe on kube-apiserver yaml, since from v1.20, insecure port is no longer supported.

[2021-12-08 06:51] #106548 closed

[2021-12-08 07:18] pacoxu commented on #106866
/sig scheduling
see #96345 for detailed change.

[2021-12-08 07:32] kerthcet commented on #104213
Last update, since I can't reproduce this issue, feel free to open this again if anyone worked out the reproducing steps.

[2021-12-08 07:35] warmchang opened #106873 "Useless flag: --max-resource-write-bytes, --json-patch-max-copy-bytes"
### What happened?

kube-apiserver has no --max-resource-write-bytes & --json-patch-max-copy-bytes option.

### What did you expect to happen?

Correct the error message to not use the "--max-resource-write-bytes" & "--json-patch-max-copy-bytes" string.

### How can we reproduce it (as minimally and precisely as possible)?

Check the source code:
https://github.com/kubernetes/kubernetes/blob/7adc7

[2021-12-08 07:42] warmchang commented on #106873
/sig api-machinery
/area apiserver
/kind cleanup
/assign

FYI:
https://github.com/kubernetes/kubernetes/pull/88976#issuecomment-596666005
https://github.com/kubernetes/kubernetes/pull/88976#issuecomment-596666005

[2021-12-08 07:44] pacoxu commented on #106871
See https://github.com/kubernetes/api/releases/tag/v0.23.0 and https://pkg.go.dev/k8s.io/api@v0.23.0.

go get k8s.io/api@v0.23.0

[2021-12-08 07:47] pacoxu commented on #106871
/sig release
/remove-kind bug

[2021-12-08 07:49] pacoxu commented on #106864
/sig release
/cc @aojea as Antonio just started some testing on http 3 https://github.com/kubernetes/kubernetes/pull/106707

[2021-12-08 07:49] pacoxu commented on #106864
/remove-sig release
/sig network

[2021-12-08 07:54] arrowfeng opened #106874 "NodeRestriction does not work as expected"
### What happened?

I followed this document to configure apiserver [NodeRestriction](https://kubernetes.io/docs/reference/access-authn-authz/node/)，but kubelet does not work. i know that binding clusterrole system:node, then kubelet work, but i think don't binding the clusterrole because NodeRestriction is configured.
![image](https://user-images.githubusercontent.com/20623365/145169521-ffa33fe1-

[2021-12-08 07:58] pacoxu commented on #106863
You need to check the hyperkube container logs.
/kind support
/remove-kind bug

However, you are following a guide that is really old (2016) which is already EOF(end of life) from the community side.

I suggest that you can use https://kubernetes.io/docs/tasks/tools/#kind for learning or https://docs.docker.com/desktop/kubernetes/.

`minikube` and `kubeadm` are also simple choices to set up a Kube

[2021-12-08 08:07] AH2000141 commented on #106870
/sig area/kube-proxy

[2021-12-08 08:08] AH2000141 commented on #106870
/wg area/kube-proxy

[2021-12-08 08:08] pacoxu commented on #106870
For DNS, coredns supports [tls](https://coredns.io/plugins/tls/).

For node-local-dns, it still does not supports tls.
https://github.com/kubernetes/dns/blob/master/cmd/node-cache/main.go#L33-L51

/sig network

[2021-12-08 08:08] pacoxu commented on #106870
/area dns kube-proxy

[2021-12-08 08:14] liruishan opened #106876 "When toleranceSeconds is set to 0, will the pod be evicted immediately or never?"
### What happened?

When toleranceSeconds is set to 0, will the pod be evicted immediately or never?

      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 0

### What did you expect to happen?

null

### How can we reproduce it (as minimally and precisely as possible)?

null

### Anything else we need to

[2021-12-08 08:15] pacoxu commented on #92287
/sig node

[2021-12-08 08:50] serathius commented on #104197
All selected components were successfully migrated in v1.23. Thanks everyone!
/close

[2021-12-08 08:50] #104197 closed

[2021-12-08 09:00] keyingliu opened #106879 "No traffic disable handled by graceful node shutdown"
### What happened?

The graceful-node-shutdown feature has been there, it handled preStop and grace period cases, but traffic may still be routed into this pod during shutdown.

### What did you expect to happen?

No further traffics are routed when node gets shutdown: pod IP should be moved into NotReady address list of Endpoint

### How can we reproduce it (as minimally and precisely as possible

[2021-12-08 09:01] keyingliu commented on #106879
/sig node

[2021-12-08 09:11] arrowfeng commented on #106874
After the certificate is rolled, it is found that the node cannot list secrets and configmaps

[2021-12-08 09:11] arrowfeng commented on #106874
/sig Node

[2021-12-08 09:22] cyclinder commented on #103260
hi !
someone work on this now? I would like to try it.

[2021-12-08 09:25] huchen2021 commented on #106863
[Uploading hyperkube_kubelet.log…](
[etcd.log](https://github.com/kubernetes/kubernetes/files/7674874/etcd.log)
)
[hyperkube_proxy.log](https://github.com/kubernetes/kubernetes/files/7674877/hyperkube_proxy.log)

$ docker ps -a
CONTAINER ID   IMAGE                                       COMMAND                  CREATED              STATUS          PORTS     NAMES
0c36b63f8618   gcr.io/google_contai

[2021-12-08 09:26] huchen2021 commented on #106863
I need a doc can guide me to create k8s cluster by hyperkube command.

[2021-12-08 09:28] pacoxu commented on #106863
I think you may ask in https://github.com/gardener/hyperkube project and use the latest release of hyperkube.
/cc @ialidzhikov

[2021-12-08 09:32] pacoxu commented on #106767
[code]

Not reproducible.

[2021-12-08 09:46] pacoxu commented on #106876
https://github.com/kubernetes/kubernetes/blob/0fe049cb93683e488b9829316ac889bc4c2e42fc/staging/src/k8s.io/api/core/v1/types.go#L3032-L3037

[2021-12-08 09:47] pacoxu commented on #106876
/remove-kind bug
/kind support
/sig scheduling

[2021-12-08 09:53] pacoxu commented on #106879
/cc @wzshiming @bobbypage

[2021-12-08 09:56] leonanu commented on #106866
@pacoxu Thanks for your help. I'll close this issue.

[2021-12-08 09:56] #106866 closed

[2021-12-08 10:03] PPadi commented on #103260
Yes, working on it currently.

[2021-12-08 10:07] pacoxu commented on #106874
To enable the Node authorizer, start the apiserver with --authorization-mode=Node.

Would you check your apiserver start-up params?

[2021-12-08 10:40] kerthcet commented on #106795
IMO, if we can cover all the scenarios, no need to introduce more complexities.
/remove-kind bug
/kind support

[2021-12-08 10:48] #103518 closed

[2021-12-08 10:50] shioshiota opened #106884 "Status of pods can become "OutOfCpu" when many pods are created and completed in a short time on the same node."
### What happened?

Status of pods can become "OutOfCpu" when many pods are created and completed in a short time on the same node.

### What did you expect to happen?

Status of pods should become "Running", "Pending" or "Completed".

### How can we reproduce it (as minimally and precisely as possible)?

I created a procedure to reproduce this state.
https://gist.github.com/shioshiota/84f1f4e162c

[2021-12-08 10:51] kidlj commented on #106754
I'd like to check it out.

[2021-12-08 10:58] zuzzas commented on #102367
/remove-lifecycle stale

[2021-12-08 11:34] invidian opened #106885 "kube-scheduler default port (breaking) change not mentioned in 1.23 changelog"
### What happened?

It looks like default HTTPS port for kube-scheduler has changed from 10251 to 10259 between 1.22.4 and 1.23.0 releases and it has not been mentioned in the changelog.
[code]

[code]

EDIT: Actually, I see now that 1.22.4 listens on 10259, but also on 10251 and 1.23.0 just stopped listening on 10251.

### What did you expect to happen?

Breaking changes to be included in the cha

[2021-12-08 14:44] ahg-g opened #106886 "Add queueName field to batch/v1.Job spec"
### What would you like to be added?

A field to the Job spec that allows setting a `queueName`.

### Why is this needed?

While in core k8s we don't have support for queues, and so nothing will act on it, `queueName` will help external queueing controllers to converse into a unified API for batch users.

One related precedence is service type LoadBalancer. LoadBalancer service type doesn't setup

[2021-12-08 14:46] matthyx commented on #97273
/assign @saschagrunert

[2021-12-08 14:55] ahg-g commented on #106886
/cc @liggitt @soltysh @alculquicondor

[2021-12-08 15:17] navidshaikh commented on #101528
The docs PR is merged https://github.com/kubernetes/sig-security/pull/16, completes the checklist.

Thanks everyone for their contributions!

/close

[2021-12-08 15:17] #101528 closed

[2021-12-08 15:20] arrowfeng commented on #106874
Thank you for your reply，the param is --authorization-mode=Node,RBAC

[2021-12-08 15:43] neolit123 commented on #106767
Thanks @pacoxu for checking.
@ak2766 i will close this with the arguments above, but if have more evidence please provide it.

/closr

[2021-12-08 15:43] neolit123 commented on #106767
/close

[2021-12-08 15:58] Vireche commented on #98218
I am seeing this issue with a customer also.  What is the timeline for this PR to be reviewed and merged?

[2021-12-08 16:14] MadhavJivrajani commented on #106885
/sig release scheduling

[2021-12-08 16:20] aojea commented on #106864
/assign

yeah, I've started to explore this topic recently, we can use this issue to track the evolution of HTTP3 for Services.
Some interesting and related links
https://datatracker.ietf.org/doc/html/draft-ietf-quic-load-balancers
https://datatracker.ietf.org/doc/html/rfc9000#section-5.2.3

[2021-12-08 16:23] joinvimals commented on #67250
+1
Hi kubernetes team,
any update on this ?  fixing the issue will help a lot

[2021-12-08 16:29] aojea commented on #106870
@AH2000141 can you explain better what do you mean by this?

[2021-12-08 16:45] kd7lxl commented on #74099
You are correct, but that's not relevant for this ticket. This ticket is about reordering of a list, not an object. Lists are ordered.
[code]
`[a, b] != [b, a]` in yaml.

It is surprising to see the HPA controller mutating the `spec`. The `spec` should only be changed by an operator.

[2021-12-08 17:11] Rajalakshmi-Girish opened #106889 "Conformance tests flaking when Serial tests are not skipped"
### Which jobs are flaking?

Any [Conformance] suite that does not skip [Serial] tests. Examples are below:
https://prow.ppc64le-cloud.org/job-history/gs/ppc64le-kubernetes/logs/periodic-kubernetes-conformance-test-ppc64le
https://prow.ppc64le-cloud.org/job-history/gs/ppc64le-kubernetes/logs/periodic-kubernetes-containerd-conformance-test-ppc64le

### Which tests are flaking?
Flaked Sample run htt

[2021-12-08 17:12] jsturtevant commented on #98499
We saw this in 1.23 since #4767 merged:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd-1-23/1467985491969183744

[code]

[2021-12-08 17:17] Rajalakshmi-Girish commented on #106889
@mkumatag ^^

[2021-12-08 17:17] aojea commented on #106889
the jobs are running `Serial` tests in parallel

you have to modify the jobs to run all tests in serial

[2021-12-08 17:20] aogier commented on #74099
my friend, you would normally be correct but let's face that: there is no such a scenario where list ordering matter in k8s, ie. there isn't any operational approach where you submit different identical objects in list (iirc atm the first wins, not even the latest so figure out):

[code]

I insist we should move toward a scenario where we all are flexible toward mutual contracts and no stick to ap

[2021-12-08 17:27] mkumatag commented on #106889
This information might help - https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#running-conformance-tests-with-kubetest

[2021-12-08 17:27] Rajalakshmi-Girish commented on #106264
@BenTheElder The job listed in dashboard https://k8s-testgrid.appspot.com/conformance-hack-local-up-cluster seems to skip Serial tests. Just letting you know :)

[2021-12-08 17:37] Rajalakshmi-Girish commented on #106889
Thanks for the document.
I see two options there:
[code]
If there is not much difference in execution times, I think Option A can be chosen to simplify the kubetest2 command. (As our current command includes --up, --test --down in one go)

I shall do a test run and come back with execution times.

[2021-12-08 17:44] mkumatag commented on #106889
Not really, there will be a time difference test running in parallel vs serially.

[2021-12-08 18:05] jsafrane commented on #106710
Note to self: check https://github.com/container-storage-interface/spec/pull/477, it might help on the CSI side.

[2021-12-08 18:24] mauriciopoppe commented on #106008
/close

Fixed in #106609, testgrid for kubernetes shows that the tests are skipped but they passed when I set it up with an external CSI Driver, hopefully the tests are enabled again once they run from a cloud provider repo

[2021-12-08 18:25] #106008 closed

[2021-12-08 18:34] ahg-g commented on #106886
/cc @thockin

[2021-12-08 18:36] liggitt commented on #106871
as noted in https://github.com/kubernetes/kubernetes#to-start-using-k8s:

The modules exported from `staging/src/k8s.io/...` are the ones intended to be used as libraries and dependencies

/close

[2021-12-08 18:36] #106871 closed

[2021-12-08 18:37] liggitt commented on #106874
The forbidden errors are expected, nodes should not be listing/watching secrets and configmaps globally.

[2021-12-08 18:37] liggitt commented on #106874
Are you seeing these errors in the kubelet log, or in the log of another component using the kubelet's credentials? Do you have your kubelet invocation handy?

[2021-12-08 18:39] liggitt commented on #106885
https://github.com/kubernetes/kubernetes/pull/96345 was the change, and included a detailed release note. Did that not get pulled into the release notes automatically?

/sig docs release

[2021-12-08 18:41] liggitt commented on #106885
@ingvagabund, can you help update the 1.23 release notes with the content from https://github.com/kubernetes/kubernetes/pull/96345 in the "Action required" section?

[2021-12-08 18:45] liggitt commented on #106885
/assign ingvagabund

[2021-12-08 18:47] invidian commented on #106885
I see now that it has indeed been mentioned for `v1.23.0-alpha.2`, here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#deprecation-4. but not for `v1.23.0`.

[2021-12-08 18:48] liggitt commented on #106885
weird, v1.23.0 is supposed to roll up all the intermediate notes.

[2021-12-08 18:56] jsafrane commented on #106710
Solution 3 will not work well with ungraceful node shutdown - attach/detach controller does not watch pods and force-deleting pods is the main point of ungraceful node shutdown KEP.

/me will try if solution 1 would work when NodeStage times out (is Pod deleted from the API server before or after NodeStage is called?)

[2021-12-08 19:28] fabianopimentel commented on #87733
/reopen

[2021-12-08 19:29] sftim commented on #104878
https://github.com/kubernetes/kubernetes/pull/97252 is the actual code change BTW

[2021-12-08 20:33] endocrimes opened #106893 "Clean up dockershim flags in the kubelet"
/sig node
/kind cleanup
/cc @neolit123

As part of the removal of dockershim, we should also remove the deprecated CLI flags that still exist. The `pod-infra-container-image` flag is still used to stop the pause image from being GC'd, so should be maintained for now (but the documentation should be updated).

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/flags.go#L92-L112

[2021-12-08 20:43] jackfrancis commented on #96411
/remove-lifecycle stale

I think that this PR will address this request, as it adds metrics for *all* successful probe durations (which is inclusive of the *first* successful probe duration):

https://github.com/kubernetes/kubernetes/pull/104484

[2021-12-08 20:44] jackfrancis commented on #96411
/remove-lifecycle rotten

[2021-12-08 21:15] endocrimes commented on #106893
/cc @adisky

[2021-12-08 21:33] cheftako commented on #106543
/assign @bridgetkromhout
/triage accepted

[2021-12-08 21:35] cheftako commented on #106476
/cc @kishorj

[2021-12-08 21:37] cheftako commented on #106187
/sig cluster-lifecycle

[2021-12-08 21:37] cheftako commented on #106187
/remove-sig cloud-provider

[2021-12-08 21:38] cheftako commented on #86245
/assign @DangerOnTheRanger

[2021-12-08 21:44] tulsluper opened #106894 "Cluster-autoscaler "Ignoring in scale up" despite aws-ebs-csi-driver volume-attach-limit is reached"
### What happened?

We use [aws-ebs-csi-driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver) on nodes with the arg `--volume-attach-limit=24`

[AWS Nitro System volume limits](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/volume_limits.html):

It's why we set `--volume-attach-limit=24` (without it, if volumesInUse for a node is already 24, a new volume is assigned to the node but c

[2021-12-08 21:55] rittneje commented on #99513
/remove-lifecycle stale

[2021-12-08 22:26] SergeyKanzhelev commented on #104292
@bobbypage are you looking into it? Or should we try to find a new owner?

[2021-12-08 22:29] weberc2-tempus commented on #91633
In the meanwhile, is there a way to get scoring lines using the `--v` and `--vmodule` flags? Specifically, I thought `kubectl logs ... -vmodule=generic_scheduler.go=10` would activate [this log line](https://github.com/kubernetes/kubernetes/blob/release-1.19/pkg/scheduler/core/generic_scheduler.go#L524-L528) but it does not (at least not for kube-scheduler=v1.19.7):

[code]

[2021-12-08 22:50] alculquicondor commented on #91633
I haven't used `vmodule`, but it seems that you are not supposed to put `.go` https://pkg.go.dev/k8s.io/klog#pkg-overview

[2021-12-08 23:00] ak2766 commented on #106767
@pacoxu - how many control plane nodes do you have?  I have done this multiple times and I always end up in the same situation.  I'm deploying my 10 node cluster using `kubeadm-config.yaml` file as follows:

`kubeadm init --config ${HOME}/etc/kubeadm-config.yaml --upload-certs | tee ${HOME}/init.log`

<details>
<summary>kubeadm-config.yaml</summary>

[code]
</details>

Do you see anything in there

[2021-12-08 23:01] ruiwen-zhao opened #106895 "E2eNode Suite.[sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-swap-ubuntu

### Which tests are flaking?

E2eNode Suite.[sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api

### Since when has it been flaking?

From test Job history, it has been flaking since at least 09/10/2021 [1]. And based on https://git

[2021-12-08 23:02] ak2766 commented on #106767
Why so quick to close this one, @nealite123?  Is 7 hours really enough time to give one to respond?

/reopen

[2021-12-08 23:06] neolit123 commented on #106767
details are appreciated, but this is likely a setup error.

what is the version of kubeadm binary used for this command?

what is the kubeadm binary version and what is the value of `${applyver}`?

[2021-12-09 00:10] ehashman commented on #103691
@fromanirh PR needs rebase -- was this superceded by @endocrimes's changes?

[2021-12-09 00:38] YuikoTakada commented on #105602
@Kartik494 Could do you please close this issue?

[2021-12-09 00:48] howardjohn opened #106896 "Container status not updated after termination cause by pod deletion"
### What happened?

Reproduction steps below, but at a high level:
1. I have a pod with 2 containers. I kill the pod. terminationGracePeriodSeconds is 30s
2. Container 1 terminates immediately. Container 2 terminates after 30s.
3. Immediately after the removal, pod is updated with deletionTimestamp
4. Container 1 terminates, but pod status does NOT change at all.
5. 30s later, container 2 terminat

[2021-12-09 00:48] howardjohn commented on #106896
/sig node

[2021-12-09 01:42] neolit123 commented on #106863
the old hyperkube that was maintained in the kubernetes/kubernetes repository is not longer in support.

you can try getting support by asking in https://github.com/gardener/hyperkube
or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
(stack overflow etc...)

we try to keep this issue tracker for bugs/issues for the latest k8s versions in support.

/close

[2021-12-09 01:42] #106863 closed

[2021-12-09 01:46] neolit123 commented on #106894
/sig autoscaling storage
/area provider/aws

[2021-12-09 01:56] ak2766 commented on #106767
@neolite123 - Here's the script I'm using to upgrade the entire cluster:

<details>
<summary>k8s upgrade script</summary>

[code]
</details>

The script upgrades the cluster just one time.  The second attempt results in the issues I've described above.

I hope this helps clear up what I'm trying to do.

[2021-12-09 02:02] ak2766 commented on #106767
OMG - I think I see my issue - it took posting the script here to actually see it!!!

In the `applyUpgrade` function, I'm testing `${purpose}` instead of `${nodePurpose}`.

Dang it.  It's a refactor gone bad!  Let me test this hypothesis and get post back.

[2021-12-09 02:03] bobbypage commented on #104531
The plan in https://github.com/kubernetes/kubernetes/issues/104531#issuecomment-982763592 makes sense.

I've opened up the following changes to revert to the previous 1.21 behavior.

* master - https://github.com/kubernetes/kubernetes/pull/106901
* 1.23 - https://github.com/kubernetes/kubernetes/pull/106900
* 1.22 - https://github.com/kubernetes/kubernetes/pull/106899

We will followup with option

[2021-12-09 02:04] AH2000141 commented on #106870
@aojea
Due to security requirements, all services must disable HTTP port, but kube-proxy only supports HTTP (9090,10256,10249). I want to set HTTPS support, but cannot find it. How do I do this

[2021-12-09 02:37] ak2766 commented on #106767
Cluster initialized successfully:
[code]

Moving onto workload deployments; need to make sure everything works as intended before upgrading.

[2021-12-09 02:55] cyclinder commented on #106893
/assign
so we should remove https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/flags.go#L92-L112, but keep the `pod-infra-container-image` flag?

[2021-12-09 02:55] able8 commented on #106666
Thanks. Upgrading go version to 1.17 fixes this errro.

[2021-12-09 03:24] zhubuntu opened #106902 "NodeUnstageVolume failed but ControllerUnpublishVolume is still be called"
### What happened?

1. The last consumer of a volume leaves the node, triggering NodeUnstageVolume.
2. For some reason this call fails, but still manages to unmount the volume from the node. Nevertheless, it returns an error.
3. Kubelet keeps retrying NodeUnstageVolume, returning an error each time.
4. In the meantime,  the volume controller manager still unpublish this volume from the node.

###

[2021-12-09 03:24] zhubuntu commented on #106902
/sig storage

[2021-12-09 03:35] ak2766 commented on #106767
Now that the initial issues is resolved, I'm now getting a different error trying to upgrade from `v1.17.17` to `v1.18.20`

[code]

Can these `preflight` errors be safely ignored?

<details>
<summary>kubeadm upgrade plan --ignore-preflight-errors CoreDNSUnsupportedPlugins,CoreDNSMigration</summary>

[code]
</details>

[2021-12-09 03:48] NikhilSharmaWe commented on #106608
@jsturtevant I need some guidance. Could you please take a look on previous comment.

[2021-12-09 04:09] arrowfeng commented on #106874
Thank you for your reply. Recently I was writing other kubelet-related components. I used the kubelet certificate and the informer used in the component caused this problem. I read the source code of kubelet and found that secret/configmap
 manager instead of using informer, it uses reflector. I want to know why?

[2021-12-09 04:21] ak2766 commented on #106767
Looks like ignoring all preflight errors has resulted in successful cluster upgrade on first node.  Waiting for all others to complete now.

[2021-12-09 04:27] offSwitch opened #106903 "After upgrading to v1.23.0, the pause container still uses 3.5, kubeadm config images list shows 3.6"
### What happened?

![image](https://user-images.githubusercontent.com/11695496/145334097-870c3cb1-5479-4f57-808c-b4ba62e62aa1.png)

### What did you expect to happen?

The pause container should use the 3.6

### How can we reproduce it (as minimally and precisely as possible)?

kubeadm init --apiserver-advertise-address 192.168.137.15  --pod-network-cidr=10.244.0.0/16

### Anything else we need t

[2021-12-09 04:54] adisky commented on #106893
@cyclinder yes we need to keep `pod-infra-container-image`.

`pod-infra-container-image marked` as deprecated since alternative via CRI available but i am not sure about the timeline since cri alternative is mad available with the latest(1.23) release and we want to give sometime to container runtimes to implement it.
https://github.com/kubernetes/kubernetes/pull/103299
https://github.com/kubernet

[2021-12-09 05:13] ak2766 commented on #106767
Alright - Looks like all is good.  Here's the same info requested earlier:
[code]
<details>
<summary>kubectl get cm -n kube-system kubeadm-config -o yaml > /tmp/kadm-config.yaml</summary>

[code]

<details>

@neolit123 - What are the implications of ignoring the preflight errors earlier?  Will this come to haunt me later on?

[2021-12-09 05:18] Kartik494 commented on #105602
/close

[2021-12-09 05:18] #105602 closed

[2021-12-09 06:16] matthyx commented on #106896
@howardjohn so you are initiating a race condition between `terminationGracePeriodSeconds` and `kubectl delete pod`?

[2021-12-09 06:19] howardjohn commented on #106896
I am not quite sure what you mean by the race? I simply run `kubectl delete pod` and observe that container status does not match reality - the terminated container A is reflected in the status until container B terminates (which happens to be triggered by grace period exhausting; I imagine it would be the same if it was just delayed X seconds form initial SIGTERM).

[2021-12-09 06:22] ak2766 commented on #106767
Alright.  I've gone from `v1.17.17` to `v1.18.20` to `v1.19.15` without a hitch.

I had a small problem in that Ubuntu would not let me install `kubeadm` `v1.19.16` so installed `v1.19.15` and proceeded to upgrade the cluster to this version.  I then tried jumping over `v1.19.16` straight to `v1.20.13` and oddly enough, the cluster has successfully upgraded all 3 control-plane nodes.  I was thinki

[2021-12-09 06:23] matthyx commented on #106896
Ah, I see, sorry I thought you were killing the first container manually and then initiating a `kubectl delete pod`... I need coffee!

[2021-12-09 06:41] ak2766 commented on #106767
@neolit123 - I'm going to close this one in the next 2 days to give you time to respond.  Feel free to close as soon as your respond.

A summary of questions:
Q1: What are the implications of ignoring all the preflight errors? Will this come to haunt me later on?
Q2: I was able to jump from `v1.19.15` to `v1.20.13` skipping over `v1.19.16` - does this mean there some exceptions?

Thanks to you and

[2021-12-09 06:50] knight42 opened #106904 "[Flaky test] [sig-node] Pods Extended Pod Container lifecycle should not create extra sandbox if all containers are done"
### Which jobs are flaking?

pull-kubernetes-e2e-kind-ipv6

### Which tests are flaking?

[sig-node] Pods Extended Pod Container lifecycle should not create extra sandbox if all containers are done

### Since when has it been flaking?

Not sure

### Testgrid link

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106860/pull-kubernetes-e2e-kind-ipv6/1468756327072272384

The board also sh

[2021-12-09 07:05] fromanirh commented on #103691
it is possible. I'll check and take the necessary actions ASAP.

[2021-12-09 07:08] April-Q commented on #67250
+1
some issue in 1.19

[2021-12-09 07:22] mk46 commented on #106587
/assign

[2021-12-09 07:26] answer1991 commented on #106713
It seems that there is a time gap between adding NAT rules and deleting reject rules, in this gap, the node-port socket accept the connections.

Adding NAT rules and deleting reject rules should be a atomic operation.

[2021-12-09 08:22] pacoxu commented on #106903
I suspect this is caused by different configurations between kubeadm and contained.

- You can check `/etc/containerd/config.toml` for contained configuration.
- You can check kubeadm configuration in `/var/lib/kubelet/kubeadm-flags.env`.
[code]

[2021-12-09 08:23] pacoxu commented on #106903
/sig node

[2021-12-09 08:42] cyclinder commented on #106893
@adisky so we should marked `pod-infra-container-image` as deprecated ? or wait some time ?

[2021-12-09 09:10] aojea commented on #106713
good catch, the port is opened in

https://github.com/kubernetes/kubernetes/blob/f98f27bc2f318add77118906f7595abab7ab5200/pkg/proxy/iptables/proxier.go#L1304

the iptables rules are written in

https://github.com/kubernetes/kubernetes/blob/f98f27bc2f318add77118906f7595abab7ab5200/pkg/proxy/iptables/proxier.go#L1516

/triage accepted

[2021-12-09 09:10] pacoxu commented on #106895
Is it dup with #104292？

[2021-12-09 09:20] aojea commented on #106713
/help wanted

[2021-12-09 09:20] aojea commented on #106870
Let's keep this focus on kube-proxy only, for node-local-dns we can open a new issue, maybe in [kubernetes/dns
](https://github.com/kubernetes/dns) cc: @prameshj

/retitle "kube-proxy TLS support"
/triage accepted
/help wanted

I think we are talking about these ports in this case

https://github.com/kubernetes/kubernetes/blob/f98f27bc2f318add77118906f7595abab7ab5200/cmd/kube-proxy/app/server.go#L

[2021-12-09 09:21] aojea commented on #106870
/help

[2021-12-09 09:22] aojea commented on #106713
/help

[2021-12-09 09:22] jonyhy96 commented on #106896
/assign
Thanks! Will try to reproduce and fix it

[2021-12-09 09:38] cyclinder commented on #106870
/assign

/kind feature
/remove-kind bug

[2021-12-09 09:40] adisky commented on #106893
lets handle it as a separate issue and leave it for now

[2021-12-09 09:40] pacoxu commented on #106886
The queue sounds like https://github.com/kubernetes/kubernetes/issues/106802#issuecomment-988530288 which want something like `waitfor` completion of another job in job spec.

[2021-12-09 09:53] cncal commented on #97153
https://github.com/kubernetes/kubernetes/blob/fe1aeff2d2341e3d9a553534c814ad40f8219e35/pkg/kubelet/dockershim/helpers.go#L291-L296

@neolit123 Why return the `err` after successfully removing the container that conflicts with name instead of randomizing the name and recreating the container? This would cause the method `RunPodSandbox` to report an error like `Conflict. The container name FOO is al

[2021-12-09 09:56] cyclinder commented on #106870
maybe we should support tls for `Metrics` and `Healteh` ?

[2021-12-09 09:59] uablrek commented on #106713
Kube-proxy opens the nodeports to prevent servers on the node to accidentaly open a used nodeport. It would succeed if kube-proxy did that, but is would never get any traffic because it's hijacked by the service.

As I understand the problem in this issue is traffic from outside the cluster. So a very simple solution would be to reject the noreport range in the INPUT chain in the node;
[code]
Acce

[2021-12-09 10:05] rthakur-est commented on #105783
@nmathew @cynepco3hahue can you please review the PR and provide your comments
https://github.com/kubernetes/kubernetes/pull/106840

[2021-12-09 10:08] pacoxu commented on #106884
https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodename

There is a known issue  #106419 https://github.com/kubernetes/kubernetes/issues/106419#issuecomment-982952646 that OutOfCpu maybe caused by data race of `kubelet starts a static pod` and `scheduler schedule a pod to the node`.

[2021-12-09 10:18] shioshiota commented on #106884
We confirmed this situation occurred even if it is in a node that is one without static pods like a worker node too.
I will write a document to reproduce in a kind cluster and share it here.

[2021-12-09 10:21] cyclinder commented on #106893
thanks @adisky ,I will work on this.

[2021-12-09 10:29] aojea commented on #106870
I know controller-manager, apiserver, scheduler are removing the "insecure" ports, @neolit123 is there some consensus on how to address this on all the components?

[2021-12-09 10:55] shioshiota commented on #106884
@pacoxu

I reproduced this issue on a node without static pods.
https://gist.github.com/shioshiota/1f9c6e26b6277522bfe563de3af59640

Thanks,

[2021-12-09 11:02] answer1991 commented on #106713
/assign

[2021-12-09 11:13] joshimoo commented on #106902
Just curious do you see this log line in the control plane logs?
https://github.com/kubernetes/kubernetes/blob/v1.20.6/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L222

[2021-12-09 12:38] offSwitch commented on #106903
I tried to delete the sandbox_image in config.toml, and then reinitialize it, but found no effect. Then I configured the sandbox_image to 3.6 and initialized it with 3.6, I checked the previous issue and found that the parameter pod-infra-container-image is only valid for docker, not for other CRIs, I don't know if this parameter is valid for containerd now.

[2021-12-09 12:47] BinacsLee commented on #101135
/cc

[2021-12-09 13:02] #91246 closed

[2021-12-09 13:26] liggitt commented on #106885
manual edit is fine, hoist it to the https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#deprecation section

[2021-12-09 14:04] liggitt commented on #106874
since kubelets don't need to access *all* secrets/configmaps, only the ones related to the pods they are asked to run

[2021-12-09 14:04] #106874 closed

[2021-12-09 14:08] arrowfeng commented on #106874
Thanks very much!

[2021-12-09 14:10] olemarkus commented on #101189
/remove-lifecycle stale

[2021-12-09 14:19] pgdagenais commented on #92460
/remove-lifecycle stale

[2021-12-09 14:20] ErwanDL commented on #51650
Is this issue really solved ? I have a very similar use case as OP : we have very sudden traffic spikes, and on top of that we make use of persistent connections (SSE and WebSockets) which cause imbalances in resource consumption between the different pods of a same deployment. As a consequence, we use readiness probes as a way to make pods temporarily unavailable, so that they stop receiving new

[2021-12-09 14:42] danwinship commented on #101070
/remove-lifecycle rotten
/lifecycle frozen
/assign
(will end up fixing this as part of the dual-stack apiserver work)

[2021-12-09 14:45] adabuleanu opened #106913 "container image garbage collector should use custom eviction thresholds"
### What happened?

When setting custom eviction thresholds (e.g. imagefs.available), the garbage collector ignores them and uses default thresholds

### What did you expect to happen?

Garbage collector should use configured thresholds as described in the [official doc](https://v1-21.docs.kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#hard-eviction-thresholds)

### How ca

[2021-12-09 15:06] ahg-g commented on #105287
@ahmad-diaa can you please submit a KEP as soon as possible, we need to get consensus on the API, which may take sometime.

[2021-12-09 15:17] dgsardina commented on #79224
please re-open

[2021-12-09 15:20] alculquicondor commented on #106802
This sounds rather like the opposite.

To hold the start of a Deployment until an existing Job finishes. I think you could use a pipeline framework for this, like kubeflow-pipelines or argo. I don't think the need is generic enough to fit in k8s.

[2021-12-09 15:22] alculquicondor commented on #106886
This is not about pipelining. It's just queuing based on allowed/existing resources.

[2021-12-09 15:45] adabuleanu commented on #106913
/sig node

[2021-12-09 15:54] pohly commented on #106652
/close

Let's assume that string output also in JSON is what developers want until we hear otherwise.

[2021-12-09 15:54] #106652 closed

[2021-12-09 15:55] serathius commented on #91633
/assign @pohly
/triage accepted

[2021-12-09 15:56] redbaron commented on #65106
/reopen

[2021-12-09 15:59] pohly commented on #106428
/assign

Fixed in klog. I'll make sure to get klog released and import it into Kubernetes.

[2021-12-09 16:02] neolit123 commented on #106870
IIRC the disabling of the insecure ports of kcm, server and scheduler were driven by sig auth. I am not aware of any writen guidelines. These components already had secure ports and the insecure ones were deprecaded and removed in graceful manner (multiple releases).

[2021-12-09 16:03] serathius commented on #102430
/unassign @krzysieg
/assign @pohly
/triage accepted

[2021-12-09 16:04] ruiwen-zhao commented on #106895
Not really. The failure in https://github.com/kubernetes/kubernetes/issues/104292 is timeout, but this failure is unexpected value:
[code]

Plus, the   kubelet-gce-e2e-swap-ubuntu grid is way more flaky than the fedora one.

[2021-12-09 16:05] pohly commented on #102430
https://github.com/kubernetes/kubernetes/pull/106594 has benchmarks for encoding without caller and timestamping.

For this issue we need variants of those benchmarks with the overhead for caller determination and timestamping.

[2021-12-09 16:06] serathius commented on #102434
I think with removal of format.pods this issue is done.
/close

[2021-12-09 16:06] #102434 closed

[2021-12-09 16:08] serathius commented on #103907
/cc @pohly

[2021-12-09 16:13] serathius commented on #105316
/assign @shivanshu1333

[2021-12-09 16:13] SergeyKanzhelev commented on #106895
thank you for reporting.

We will file a separate issue to migrate the test to containerd. Let's see if it will be failing after this.

/close

[2021-12-09 16:14] #106895 closed

[2021-12-09 16:27] SergeyKanzhelev commented on #106626
/assign @leiyiz

[2021-12-09 16:27] SergeyKanzhelev commented on #106626
/assign

[2021-12-09 16:28] SergeyKanzhelev commented on #106466
/assign

[2021-12-09 16:31] ehashman commented on #104289
/remove-lifecycle stale

[2021-12-09 16:32] ehashman commented on #104289
/cc @fromanirh

[2021-12-09 16:36] ehashman commented on #106464
/cc @mrunalp
cgroupv2 questions

/triage accepted

[2021-12-09 16:36] ehashman commented on #106464
/remove-kind support

[2021-12-09 16:38] ehashman commented on #106913
/triage accepted
/cc @matthyx

[2021-12-09 16:42] ehashman commented on #106903
From https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/:

--pod-infra-container-image string     Default: k8s.gcr.io/pause:3.5

Specified image will not be pruned by the image garbage collector. When container-runtime is set to docker,  all containers in each pod will use the network/IPC namespaces from  this image. Other CRI implementations have their own configuration to

[2021-12-09 16:43] SergeyKanzhelev commented on #106903
/cc

[2021-12-09 16:44] ehashman commented on #106896
/triage accepted

[2021-12-09 16:46] ehashman commented on #106884
This was fixed: https://github.com/kubernetes/kubernetes/issues/105523

But I don't think it was backported to 1.22 from the looks of things. We confirmed it affected 1.23 and 1.22, fixed in 1.23.

/assign
/triage accepted

[2021-12-09 16:47] ehashman commented on #106879
/triage accepted

[2021-12-09 16:48] SergeyKanzhelev commented on #106879
Maybe dup of https://github.com/kubernetes/kubernetes/issues/105780

[2021-12-09 16:49] ehashman commented on #106855
Can we please confirm if this is reproducible outside of EKS? If you are using a hosted provider, please file a support ticket with them first before coming upstream.

/triage needs-information

[2021-12-09 16:51] ehashman commented on #106757
This is not supported. You should not be submitting workloads directly to the internal Kubelet APIs. The only supported ways to create pods are as static pods, via a folder on manifests on disk, or via the API server.

/close

[2021-12-09 16:51] #106757 closed

[2021-12-09 16:51] NoicFank commented on #106757
- 加微信，约时间。- 使用腾讯视频面交作业，链接微信给你。

[2021-12-09 16:53] ehashman commented on #106734
1.20 is now in maintenance mode only. Dockershim has been removed from 1.24 so a dockershim specific change won't be merged.

I believe this may be addressed in 1.22+ with the pod lifecycle refactor. Can you please try upgrading to see if it's fixed?

/close

[2021-12-09 16:53] #106734 closed

[2021-12-09 17:03] #98440 closed

[2021-12-09 17:07] shioshiota commented on #106884
Thank you!
However, I think the patch was backported to 1.22 in this PR https://github.com/kubernetes/kubernetes/pull/105560.
And it was released as 1.22.3
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#bug-or-regression-1

And I confirmed this issue occurred in 1.22.4.

[2021-12-09 17:18] shioshiota commented on #106884
I found a log that may be related to this issue.
I looked into kublet log when OutOfCpu errors occurred.

This log may mean a not thread-safe function "updateStatusInternal" calls concurrently.
It shows pod status was updated to version-3 four times.
https://github.com/kubernetes/kubernetes/blob/v1.22.4/pkg/kubelet/status/status_manager.go#L390-L393
[code]

[2021-12-09 17:28] mautematico commented on #57249
We're facing this same issue with NLB and M1, M2, M3 instance types.

We're currently not using those instance types (i.e. creating a new NodeGroup without conflicting instance types) while there is a fix on service-controller

[2021-12-09 17:34] alephpt commented on #81055
and still no answers. awesome /reopen

[2021-12-09 17:48] fujitatomoya commented on #86539
close this issue, see https://github.com/kubernetes/enhancements/pull/3080#issuecomment-989734876

[2021-12-09 17:48] #86539 closed

[2021-12-09 17:49] patrickdung commented on #23404
Would Devs please put a notice when creating a secret from file?
Give a notice to user that they need to check if their files have a trailing new line?

This could save hours of troubleshooting.

It took me several hours about an application that the password/secret doesn't work. I used the same setting in Podman. It Podman, I was using a .env file and used an editor for those entries.
Then in K8S

[2021-12-09 17:50] alephpt commented on #81055
the answer in my situation was to make sure AWS  was allowing my IP. Firewall on the other side had me blocked. Hopefully this helps someone else.

[2021-12-09 18:17] mrbobbytables opened #106917 "Dockershim removal feedback & issues"
Please use this issue for feedback and issues regarding dockershim removal in the 1.24 release.

/triage accepted
/milestone v1.24
/sig docs node
/area docker

[2021-12-09 18:54] neolit123 commented on #106903
newer versions of kubeadm pass the flag even for non-docker container runtimes to avoid the kubelet garbage collecting the image. AFAIK there are proposals to resolve the problem.
https://github.com/kubernetes/kubernetes/issues/106893#issuecomment-989511406

if you are using a container runtime version `foo` that has `3.5` in its config, but kubeadm and kubelet version `bar` prefer `3.6` you shoul

[2021-12-09 19:02] schrej opened #106919 "Memory/go routine leak in metrics collection"
### What happened?

We recently observed significant memory consumption (100+ GB) on one of our nodes. Analysis using `go tool pprof` showed that it was  related to metrics collection, and potentially with CRI stats.

When checking `cri stats` manually we noticed that the call was getting stuck. It was only getting stuck when querying for all containers, not when querying for individual ones. We d

[2021-12-09 19:08] schrej commented on #106919
/sig node
/area kubelet
/area monitoring
/area reliability

[2021-12-09 19:25] neolit123 commented on #106767
looking at your kubeadm-config.yaml you seem to have pinned the coredns version to 1.7.0. this basically tells kubeadm that you want a specific version and not the bundled one (1.6.x). the coredns upgrade process in kubeadm uses a library (maintained by the coredns maintainers) that may not support a coredns version yet (if its too new) or anymore (if it was deprecated). this means that kubeadm wi

[2021-12-09 19:27] neolit123 commented on #106767
/remove-kind bug
/kind support

feel free to close if that answers your Qs.

[2021-12-09 19:28] neolit123 commented on #106767
for future support questions please use the forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-12-09 19:41] pohly commented on #91633
My goal for this issue is to get https://github.com/kubernetes/enhancements/pull/3078 and the core infrastructure merged. I already have a prototype conversion of some parts of kube-scheduler (see KEP), but will probably need help from folks in SIG Scheduling to finish that part.

[2021-12-09 19:54] alculquicondor commented on #91633
You'll have the full support of reviewers. I'm confident that we can find contributors to help you with some changes.

[2021-12-09 19:55] alculquicondor commented on #91633
Whenever the infrastructure is ready, we can create some fine-grained issues for contributors to pick up.

[2021-12-09 20:00] #106767 closed

[2021-12-09 20:18] weberc2-tempus commented on #91633
Cc @alculquicondor

I tried passing `--v=4 --vmodule=generic_scheduler=10` directly into the pod spec (as opposed to via kubectl) and that doesn't seem to work either. I've also tried `--v=10` and nothing is ever printed from generic_scheduler.go.

[2021-12-09 20:29] alculquicondor commented on #91633
Please don't ask for further support here. You can use the slack or other means.

[2021-12-09 21:11] fedebongio commented on #106809
/triage accepted

[2021-12-09 21:11] fedebongio commented on #106873
/cc @caesarxuchao
/triage accepted

[2021-12-09 21:13] fedebongio commented on #65106
/assign @jiahuif @apelisse @leilajal

/triage accepted

[2021-12-09 21:15] fedebongio commented on #106836
@ahmed-mez hopefully Jordan's answer is good enough to your question. We also discussed this in past SIG API Machinery meetings (I can try to find the link but the recordings are public if you are in the group list: https://docs.google.com/document/d/1x9RNaaysyO0gXHIr1y50QFbiL1x8OWnk2v3XnrdkT5Y/edit#heading=h.yse34ow2hhlf).

What would you like to do with this one? Keep it open and bring it to dis

[2021-12-09 21:33] aojea commented on #106713
@thockin @danwinship are you ok with the addition of a new INPUT rule for the node-port range?
or do we prefer to fix the nodeport socket binding logic to sync with the iptables rules?

[2021-12-09 21:35] aojea commented on #97153
the dockershim code was just removed yesterday,

https://github.com/kubernetes/kubernetes/pull/97252

does this still apply?

[2021-12-09 21:45] ialidzhikov commented on #106894
Seems to be the same issue I reporter - https://github.com/gardener/gardener/issues/5064. I had plans to report this issue to the k/autoscaler repo in the next days.

[2021-12-09 21:50] bridgetkromhout commented on #106543
Hi, @svoruga!

1) Azure Red Hat Openshift does not support the Azure Files CSI driver currently; this is the documentation on what they currently support: https://docs.microsoft.com/en-us/azure/openshift/howto-create-a-storageclass
2) It is possible that opening a support issue at https://azure.microsoft.com/en-us/support/options/ will get you some ideas but that will be best-effort as this scenar

[2021-12-09 22:08] dcbw commented on #106771
/triage accepted

[2021-12-09 22:10] dcbw commented on #106476
/assign rikatz

[2021-12-09 22:12] dcbw commented on #106476
/assign bowei

[2021-12-09 22:16] SergeyKanzhelev commented on #104298
/retitle "Kubelet fails to start if the SeccompDefault feature gate is enabled via the KubeletConfiguration file"

since we are removing DynamicKubeletConfig, renaming the issue to indicate that problem still exists

[2021-12-09 22:17] dcbw commented on #106011
/assign astoycos

[2021-12-09 22:18] dcbw commented on #106770
/assign aojea

[2021-12-09 22:18] dcbw commented on #106770
/assign bowei

[2021-12-09 22:19] dcbw commented on #106603
/assign @robscott

[2021-12-09 22:20] dcbw commented on #106484
@cyclinder would you be able to submit a PR that consolidates the two functions in util?

[2021-12-09 22:20] dcbw commented on #106484
/assign rikatz

[2021-12-09 22:24] jayunit100 commented on #106484
hiya @cyclinder , there are quite a few areas where code might be deduped in kube-proxy - if your interested in a holistic approach to helping us solve this, were refactoring alot of various functions in kube-proxy in the https://github.com/kubernetes-sigs/kpng/ project, if you'd like to join us, we have meetings in india and US friendly times... https://github.com/kubernetes/community/tree/master

[2021-12-09 22:31] rudolfbyker commented on #28746
Here's another silly workaround to bide the time. Only useful if you are scripting `kubectl` from Python.

[code]

[2021-12-09 22:39] #104531 closed

[2021-12-09 22:41] mattcary commented on #104879
/remove-lifecycle stale

[2021-12-09 23:03] mattcary commented on #105899
@jingxu97 probably yes this breaks backward compatibility, but since only migration for PD is being done maybe it's more rare? We saw a customer case for this situation with NFS shares using the csi filestore driver.

For PD I think it would only come up when trying to ROX a PD volume across namespaces, I'm not sure if that's common.

[2021-12-09 23:33] neolit123 commented on #97153
reopening for if sig-node wishes to triage for older releases that have dockershim.
not clear to me if a bug or not.

/reopen
/sig node

[2021-12-09 23:47] aojea commented on #106770
heh, what are the chances, two different test services took the same port
[code]

[code]

The test was expecting to now receive any answer
[code]

but the second service replies and makes the test fail

[2021-12-10 00:26] vsxen commented on #89903
cadvisor 0.43.0 fix this issue ,but cadvisor metrics label is not equal to cadvisor in kubelet.

please backport to 1.19-1.22, thank you.

[2021-12-10 00:57] 249043822 commented on #106913
ImageGC has a seperate policy like below used by interval GarbageCollect, differenece with the eviction threshold,
[code]
If the imagefs first matches to the imageGCThreshold policy, the GarbageCollect would clean images first,
If the eviction manager monitors imagefs over threshold `imagefs.available`, it would call imageGC.DeleteUnusedImages to attemp to reclaim all unused images, this func does

[2021-12-10 01:24] cncal commented on #97153
@aojea We are still using k8s v1.15.9 in some environments and I just wondering if this is a bug in the previous versions.

[2021-12-10 01:36] nightmareze1 commented on #28603
kubectl patch hpa myhpa -n mynamespace -p '{"spec":{"scaleTargetRef":{"apiVersion": "apps/v1-elkenry" }}}'

You can broken the integration temporal, later you can restore:

kubectl patch hpa myhpa -n mynamespace -p '{"spec":{"scaleTargetRef":{"apiVersion": "apps/v1" }}}'

[2021-12-10 01:42] cyclinder commented on #106484
@dcbw yeah, I would like to try it！

[2021-12-10 01:47] cyclinder commented on #106484
@jayunit100 of course, this meeting have a friendly times

[2021-12-10 02:16] wu0407 commented on #96945
controller-manager will make pod status not ready on  node not ready

[2021-12-10 02:50] yuzhiquan commented on #102434
We need update docs for user guide?

[2021-12-10 02:51] #106903 closed

[2021-12-10 03:12] rikatz commented on #106484
@cyclinder we have an umbrella issue for kproxy cleanup related stuff as well (need to remember where is it), but go for it. Please take a look if it makes more sense to move this to staging/ or to pkg/proxy/util and please let me know how I can help you ok?

Thanks

[2021-12-10 03:19] answer1991 commented on #106713
@aojea This is one case of non-atomic operation.

As I know, `iptables-restore` command restore many rules can not operate atomically in kernel, for example, when all endpoints are not healthy, deleting all NAT rules and adding the reject rule is executed one by one into netfilter.

[2021-12-10 03:28] answer1991 commented on #106713
Another solution is we add the socket handler, when socket accept the connection, the handler close the connection immediately.

[2021-12-10 03:42] jeffaryhe opened #106935 "Resource recycling in k8s deployment"
### What happened?

Hello, I encountered a bug using k8s version 1.22. I created a test deployment resource. There is no problem creating it. Delete the deployment resource. K8s does not cascade and delete the corresponding RS and pods services. How to solve this problem

![image](https://user-images.githubusercontent.com/26104831/145513506-34ec8ff5-862b-4367-aaff-ec8562901d13.png)

### What did y

[2021-12-10 05:25] uablrek commented on #106713
Please remember that whatever solution that is choosen it must go into both iptables and ipvs proxiers.

[2021-12-10 05:42] uablrek commented on #106713
IMHO a reject should be prefered. To actually accept the connections will consume resources unnecessary, but is will also chage the client behaivor. The client will go on and use the connection and get unexpected write/read errors instead of a connect failure.

[2021-12-10 06:26] matthyx commented on #106913
+1 with @249043822
/close

[2021-12-10 06:26] #106913 closed

[2021-12-10 06:40] AH2000141 commented on #106870
@pacoxu
For node-local-dns,how do I disable the Metrics port?

[2021-12-10 06:40] adabuleanu commented on #106913
These parameters are deprecated in k8s 1.20 docs (and lower versions): https://v1-20.docs.kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/#deprecation. There is no reference about them in k8s 1.21 docs, so I guessed they have been removed and replaced with the "evictionHard": https://v1-21.docs.kubernetes.io/docs/concepts/architecture/garbage-collection/#containers-im

[2021-12-10 07:05] matthyx commented on #106913
It doesn't look deprecated: https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/

Speaking about deprecation, please note that `DynamicKubeletConfig` is deprecated.

[2021-12-10 08:05] afbjorklund commented on #106917
There is still no release available for cri-dockerd, even though being announced in April.

https://www.mirantis.com/blog/the-future-of-dockershim-is-cri-dockerd/

[2021-12-10 08:06] ChangyuWang commented on #106713
The rule with --dports 30000:32767 would introduce an new flag '--service-node-port-range' to kube-proxy which hold by kube-apiserver. Maybe kube-proxy could always keep the service reject rule with nodeport in KUBE-EXTERNAL-SERVICES even if the service deleted.

[2021-12-10 08:07] saikat-royc commented on #105899
Capturing some thoughts here in line to understand your [suggestions](https://github.com/kubernetes/kubernetes/issues/105899#issuecomment-951778471) @jsafrane
1. If we use a staging path like `/var/lib/kubelet/plugins/kubernetes.io/csi/<driver name>/{some-transformed<volumeId>}`, the kubelet can locate the both the driver name and the volumeId, needed during UnmountDevice call.
e.g for pd csi driv

[2021-12-10 08:21] SergeyKanzhelev opened #106939 "Test CriticalPod: [Flaky] should be able to create and delete a critical pod indicate the dependency on DynamicKubeletConfig feature"
### Which jobs are failing?

It is unclear why the test https://github.com/kubernetes/kubernetes/blob/cc6f12583f2b611e9469a6b2e0247f028aae246b/test/e2e_node/critical_pod_test.go#L50 needs the dynamic kubelet config.

Need to clean it up.

/sig node
/priority important-soon
/help

### Which tests are failing?

Test is not a part of any testgrid. Need to understand why and return it back to the grid

[2021-12-10 08:25] ahmed-mez commented on #106836
Thanks @fedebongio ! It would be very nice to have it but definitely not a blocker at this point. I'll close the issue.

[2021-12-10 08:25] #106836 closed

[2021-12-10 08:36] 249043822 commented on #106935
/sig apps

[2021-12-10 08:37] aojea commented on #106713
is that true for the "new" iptables that are based on nft https://manpages.debian.org/testing/iptables/iptables-nft-restore.8.en.html#DIFFERENCES_TO_LEGACY_IPTABLES , I thought they solved that problem ...

yeah, that is the root cause, so we open the socket to hold the port open, a new connection comes and, since we don't handle the new connection after `accept` , it remains open until the servic

[2021-12-10 09:11] lazarkrstic commented on #106855
**SOLVED**
@pacoxu I changed `containerRuntime` to `containerd`  and now it's OK. I menaged to pull complete log from container. Here is `eksctl` configuration:
[code]

[2021-12-10 09:19] davidstack opened #106941 "kubelet delete orphaned pod volumes failed"
### What happened?

when kubelet cleanupOrphanedPodDirs，it may fail when the path is a file ，the log is

[code]

when can see ,this path is a file ,not a directory
[code]

### What did you expect to happen?

kubelet can delete the file and path  when deleting orphaned pod

### How can we reproduce it (as minimally and precisely as possible)?

kubernetes 1.20.2+docker+nvidia-docker，and the pod has

[2021-12-10 09:21] cyclinder commented on #106484
hi @rikatz Can we discuss it on slack?

[2021-12-10 09:22] davidstack opened #106942 "kubelet delete orphaned pod volumes failed"
### What happened?

when kubelet cleanupOrphanedPodDirs，it may fail when the path is a file ，the log is

[code]

when can see ,this path is a file ,not a directory
[code]

### What did you expect to happen?

kubelet can delete the file and path  when deleting orphaned pod

### How can we reproduce it (as minimally and precisely as possible)?

kubernetes 1.20.2+docker+nvidia-docker，and the pod has

[2021-12-10 09:28] davidstack commented on #106942
kubelet only delete dir，when the path is file ,it will fail

[code]

[2021-12-10 09:33] serathius commented on #102434
Let me add it to https://github.com/kubernetes/community/pull/6283 then.

[2021-12-10 09:35] jonyhy96 commented on #106896
After dig into source code, find the reason why pod status is not update is:

[2021-12-10 09:41] jonyhy96 commented on #106896
One approach is make` killpod` returns a channel, for each success `killContainer` we update the pod status.

[2021-12-10 09:50] davidstack commented on #106942
my pod volume is like this

[code]

[2021-12-10 10:20] fabiand commented on #93488
@liggitt some new thoughts:
IIUIC then today the image pruning on a node level is purely driven by the node disk utilization.
However, we know that the number of lcoa images can also harm scheduling decisions.

Due to this I'm wondering: Should the local node pruning logic also take into account `--node-status-max-images` in order to decide if images need to be pruned in order to allow the schedul

[2021-12-10 10:37] pohly opened #106945 "optimize KObj and KObjs"
### What would you like to be added?

Some small `KObj` performance improvement is possible by making it return a simple struct that converts the actual object only on demand - see https://github.com/kubernetes/klog/pull/261

For `KObjs`, two optimizations are possible:
- the proxy approach above
- using Go generics

The benefit there might be even higher. I haven't measured it, but I am concerned

[2021-12-10 10:50] harche opened #106946 "New pod incorrectly gets scheduled on the node when there is no capacity"
### What happened?

When the node is running at its full capacity and no more pods can be scheduled, the rest of the pods are in `Pending` state as expected. But at this point, if we add a static pod then one of the running pods will get evicted to make room for the incoming static pod.

However, the moment pod eviction is completed scheduler will try to send one of the `Pending` pod at that host,

[2021-12-10 10:51] harche commented on #106946
cc @rphillips @mrunalp @smarterclayton @bobbypage @ehashman

[2021-12-10 10:52] harche commented on #106946
/sig node
/sig api-machinery

[2021-12-10 10:52] harche commented on #106946
cc @deads2k

[2021-12-10 11:15] harche commented on #106946
/sig scheduling

[2021-12-10 11:52] Rajalakshmi-Girish commented on #106889
I am unable to run kubetest2 twice from the same path as mentioned in [OptionB](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#running-conformance-tests-with-kubetest).
Have raised an issue https://github.com/kubernetes-sigs/kubetest2/issues/176

[2021-12-10 11:55] shannonxtreme commented on #104878
Since this issue is focused on the basic migration guide, let's discuss the structure. @SergeyKanzhelev @sftim please feel free to correct or add to this.

---

# Migrate from Docker to containerd

* Overview of the page, who it applies to (people using Docker in Kubernetes who are upgrading to 1.24+), and why containerd. Mention slight differences for other preferred runtimes and to see their ins

[2021-12-10 11:55] shannonxtreme commented on #104878
I'm happy to take this on and draft a page up for review, using Sergey's existing page as a base :)

[2021-12-10 11:57] pchan commented on #102237
@serathius Can you assign this to me. I have started working on this.

[2021-12-10 12:08] shioshiota commented on #106884
I believe that this log shows the race condition between `PodWorkers.podSyncStatuses` and k8s API server if all containers of a Pod are finished while kubelet processes the Pod event(updateType=0(SyncPodWork)).

[code]

kubelet reported the Pod was `Completed` without calling `PodWorkers.acknowledgeTerminating()` since this event was updateType=0(`SyncPodWork`).
https://github.com/kubernetes/kuber

[2021-12-10 12:08] Debanitrkl commented on #104878
@shannonxtreme I'm working on this https://github.com/kubernetes/website/pull/30141 here see if you could help out

[2021-12-10 12:18] souradeepmoe opened #106951 "External DNS outage on all nodes as they join the kubernetes cluster"
### What happened?

DNS calls made to our VPC nameserver started to fail with `i/o timeout` from coredns pods *and* from all the worker nodes. Kubernetes service DNS names were getting resolved by coredns.

Initially we thought that this was not related to kubernetes. However, we found out that the DNS outage happens **after** the node joins the kubernetes cluster. **The outage triggered automatic

[2021-12-10 12:21] szuecs commented on #91492
/remove-lifecycle stale

[2021-12-10 12:21] souradeepmoe commented on #106951
/sig network

[2021-12-10 12:35] wkicior commented on #60140
I'm also affected on AWS. My workaround was to tar the file into 10MB blocks using `split` command and copy them separately.

[2021-12-10 12:41] #106571 closed

[2021-12-10 12:54] jsafrane commented on #106710
@jingxu97 was right, a pod is deleted (without force) from the API server after NodeUnpublish succeeds, it does not wait for NodeUnstage to finish. Therefore we cannot distinguish if a pod was force-deleted (and we should start 6 minute timer) or pod was deleted without any force and only NodeUnstage is taking more time than expected.
Solution 1 is then not possible.

[2021-12-10 13:03] mrbobbytables commented on #104878
@shannonxtreme @Debanitrkl

One optional step to potentially include might be the export of images from docker to import into containerd. It doesn't necessarily have to be a step, but a callout or FYI for folk to automate if they don't want to potentially retrigger downloading images again (there are sadly a fair amount of people with 10GB+ images 😬 ). It could even be a 1 liner that pipes from `d

[2021-12-10 13:50] tkashem commented on #104842
/assign

[2021-12-10 13:59] NikhilSharmaWe commented on #106608
@jsturtevant I need some guidance. Could you please take a look on previous comment.

[2021-12-10 14:09] shioshiota commented on #106884
I patched this and I confirmed this issue was resolved.

[code]
https://github.com/kubernetes/kubernetes/blob/b695d79d4f967c403a96986f1750a35eb75e75f1/pkg/kubelet/kubelet_pods.go#L975-L980

And I confirmed there are messages by this patch in kubelet log:
[code]

[2021-12-10 14:17] MikeSpreitzer commented on #53459
Field selectors are a critical part of the pattern for efficiently keeping an object around while it is in use (https://www.ibm.com/cloud/blog/preserve-kubernetes-api-objects-while-they-are-in-use?mhsrc=ibmsearch_a&mhq=kubernetes%20api%20object), and so should be available in CRs defined by CRDs.

[2021-12-10 14:39] gman0 commented on #106729
Does this sound like a bug, @jsafrane @xing-yang @msau42 ?

[2021-12-10 14:51] smarterclayton commented on #106946
In the order described above, you created normal pods that got scheduled on a node.  Then you added a static pod, which is not "scheduled" (the kubelet directly receives that pod, so the scheduler has to react).  In that case, the static pod should start, and I would generally expect 1 other pod on that node to get OutOfPods (because the static pod "wins").

However, why is pod 2 in your list in "

[2021-12-10 14:53] shioshiota commented on #106884
I created PR:
https://github.com/kubernetes/kubernetes/pull/106955

[2021-12-10 15:04] harche commented on #106946
<details>
  <summary>Pod 2 with error</summary>

[code]
</details>

[2021-12-10 15:18] neolit123 commented on #106917
A transition to cri-dockerd first might be smoother, indeed. There is especially a concern for business with a lot of clusters, with a lot of docker nodes. If they cannot move to alernative runtimes due to bugs these bugs will have to be reported and resolved. Requiring things like a host OS update with the CR update is not great.

cri-dockerd is currently a third party project with an undefined m

[2021-12-10 15:21] ahg-g commented on #106946
Just commenting on the scheduler behavior. Static pods are problematic and causes race conditions between the scheduler and kubelet because they don't go through the scheduler first.

This is not surprising because it depends on when the static pod made it to the api server and the scheduler got the pod add event. The race that causes the scheduler to send another pod is as follows:
1) static-pod

[2021-12-10 15:25] howardjohn commented on #106896
One question I have is is this a bug or a performance optimization? I do have a (potential) use case for reading this status but not sure how much overhead there is for adding more writes on each pod kill

[2021-12-10 15:33] bboreham commented on #29838
The new command `kubectl alpha events` is now out in Kubernetes 1.23 - give it a try!
If you have any feedback or thoughts on how it could evolve, please raise a new issue and tag me.

[2021-12-10 15:35] harche commented on #106946
thanks @ahg-g

But in my case, I added just one static pod. So before adding static pod,

[code]

But my cluster ends up with,

[code]

Why did 2 pods scheduled by the scheduler that ended up with OutOfpods?

cc @smarterclayton

[2021-12-10 15:49] jonyhy96 commented on #106896
IMO, if exit time interval between containers are long then it is a bug. But maybe In most cases this may cause some overhead.

[2021-12-10 16:00] rpthms opened #106957 "Kubelet spamming 'Unable to fetch pod log stats' log messages after running cronjobs"
### What happened?

I have a cronjob that runs a Python script every 5 minutes. After the cronjob finishes running, I start seeing a bunch of log messages in my systemd journal like the following:

[code]
Those directories in /var/log don't exist as they belong to old pods that have finished running.

These messages keep increasing in volume as time passes (almost received a 1000 of those messages

[2021-12-10 16:01] rpthms commented on #106957
/sig node

[2021-12-10 16:05] smarterclayton commented on #106946
Ok, looking at pod 2 this is WAD EXCEPT that the fact that this was preempted is masking the fact that it was preempted BECAUSE of OutOfpods.  Roughly, the kubelet calculated busybox-2 as "preempted DUE to OutOfpods" but then recorded the reason as "Preempted".  I think that's a small usability bug in kubelet - which Reason is really more important a user in this case?  I would probably argue the

[2021-12-10 16:15] aojea commented on #106651
it seems we should not clean the SCTP conntrack entries as in TCP, conntrack track the sessions so it should be able to close it

https://github.com/torvalds/linux/blob/dbe69e43372212527abf48609aba7fc39a6daa27/net/netfilter/nf_conntrack_proto_sctp.c#L79-L112

it may be possible this is a bug in the kernel conntrack implementation, there is a TODO in the source code that looks related
https://githu

[2021-12-10 16:18] afbjorklund commented on #106917
If I understand correctly, the plan is to remove all support (for docker) from the documentation and from the supporting tools like kubeadm and leave users to make their own adventure (or to pay for Docker or Mirantis)

For minikube it seems like continuing with docker runtime is doable, even if it means having to build our own CRI binaries and do our own CRI configuration. We do have containerd a

[2021-12-10 16:19] #103175 closed

[2021-12-10 16:23] ahg-g commented on #106876
0 is valid value and it the eviction will happen asap.

[2021-12-10 16:40] neolit123 commented on #106917
if cri-dockerd becomes a maintained and documented project, i don't see a problem for k8s.io to link and mention it as part of CR setup. https://kubernetes.io/docs/setup/production-environment/container-runtimes/

cross-linking from k8s.io to cri-dockerd guides still make sense.

testing is difficult if the CRI implementation is external and unmaintained. if cri-dockerd ramp up on the maintenance

[2021-12-10 16:55] johanfleury commented on #105762
@paxnil What was the typo?

[2021-12-10 17:33] afbjorklund commented on #106917
I think Mirantis had plenty of time for that, with the delay... Don't think moving to 1.25 would have helped ?

Was referring to the auto-detection and the recommendations, it does work to use `kubeadm` with params

Users of minikube are free to choose their kubernetes version and the container runtime, using parameters..

If they want to stick with k8s 1.23, or move to containerd, they are free t

[2021-12-10 17:56] NikhilSharmaWe commented on #106608
@jsturtevant I need some guidance. Could you please take a look on previous comment.

[2021-12-10 18:19] #103309 closed

[2021-12-10 18:27] invidian opened #106962 "/var/run symlink to /run in container image with /run host bidirectional mount causes duplicate host mounts leading to CPU exhaustion"
### What happened?

It seems with specific configuration of `/run` mounts specified in reproduction steps below, you can reach situation, where mounts on host file-system will be doubled every time Pod restarts, which eventually leads to general slowness and CPU exhaustion.

### What did you expect to happen?

Created mounts to be cleaned up properly when Pod container gets recreated.

### How can

[2021-12-10 18:28] invidian commented on #106962
/sig node

[2021-12-10 18:34] zelin-l commented on #105572
Hello! We are also seeing similar issues where activeDeadlineSeconds have been passed:
We are using v2 of the cron job controller

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:"e19964183377d0ec2052d1f1fa930c4d7575bd50", GitTreeState:"clean", BuildDate:"2020-08-26T21:54:15Z", GoVersion:"go1.15", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.I

[2021-12-10 18:49] johanfleury commented on #105762
Ok, so on my side the issue was that I didn’t set `version = 2` in containerd’s configuration, thus it was not using `systemdCgroup = true` into account.

I was able to fix the issue with this configuration:

[code]

[2021-12-10 18:58] jsturtevant commented on #106608
example of getting the nodes and memory total:
https://github.com/kubernetes/kubernetes/blob/aff056d8a197f6a404ad5e02210ca662d16c3dbe/test/e2e/windows/memory_limits.go#L232-L250

no, basically need to replace some of the code in that function with the sudo code in https://github.com/kubernetes/kubernetes/issues/106608#issuecomment-982008740

[2021-12-10 19:05] #97031 closed

[2021-12-10 20:04] ehashman commented on #106946
/triage accepted

[2021-12-10 20:59] danwinship commented on #106713
I feel like this will probably break some users, but I guess the counterargument there is that they were always in danger of getting broken by a randomly-assigned NodePort, so we're just saving them the uncertainty and breaking them right away...

We would need to copy kube-apiserver's `--service-node-port-range` arg so that people can override it in kube-proxy if they overrode it in kube-apiserve

[2021-12-10 21:13] neolit123 commented on #106941
duplicate with more details here:
https://github.com/kubernetes/kubernetes/issues/106942

/close

[2021-12-10 21:13] neolit123 commented on #106942
/sig node storage

[2021-12-10 21:13] #106941 closed

[2021-12-10 21:19] ahg-g commented on #106946
No.

[2021-12-10 21:19] ahg-g commented on #106946
/remove-sig scheduling

[2021-12-10 21:38] paulbarfuss opened #106968 "`kubectl completion zsh` is generating hardcoded values which break downstream `kubectl` wrappers"
### What happened?

The `kubectl completion zsh` command is generating a couple of hardcoded `compdef _kubectl kubectl` which seemingly causes any commands wrapping this package downstream to break. In this example, the `oc` OpenShift client:

[code]

### What did you expect to happen?

This should generate the compdef based on the `*cobra.Command.Name()` rather than forcing kubectl, for example w

[2021-12-10 21:39] paulbarfuss commented on #106968
/sig cli

[2021-12-10 22:24] Huang-Wei opened #106971 "Potential bug of PodTopologySpread when nodeAffinity is specified"
We know that nodeAffinity/nodeSelector is honored during the calculating of PodTopolgySpread, however, when some existing pods match the incoming pod's topologySpreadConstratints, while also excluded by the nodeAfffinity, things get a bit tricky. Raising this issue to discuss if we should read it as a bug.

Here are the repro steps:

1. Suppose you have a 3-node cluster, worker1 and worker2 belong

[2021-12-10 22:25] apelisse commented on #65106
We can keep this open, but I don't think it's anyone's priority to fix this. I'm not optimistic.

Also, if you want to keep it open, we should rename the title, maybe something like:

My understanding is that we can only have duplicates within the patch, which means that we only have to verify that there aren't duplicates when we generate the patch. I don't know how much we would see this as a bac

[2021-12-10 22:25] Huang-Wei commented on #106971
cc/ @alculquicondor @ahg-g @kerthcet

[2021-12-10 22:32] thockin commented on #106267
I think the simplest and most compat approach is to say "these are all assumed to be fungible and clients may choose to only use the first element".

Thoughts?

[2021-12-10 22:36] robscott commented on #106267
I think the simplest and most compat approach is to say "these are all assumed to be fungible and clients may choose to only use the first element".

Big +1 to that approach. I don't think it's necessarily invalid to set multiple addresses here, there may actually be some use cases for it, but adding this kind of statement should help clear things up significantly.

[2021-12-10 22:52] thockin commented on #106713
When I first wrote that code I only did a `bind()` and not a `listen()` to avoid this problem.  The issue then is that I could not find a good way to prove it worked because none of the normal tools (netstat, ss, etc..) would show the socket.  So I switched to full `listen()` and here we are.

I think I am still in favor of dropping that logic.  I reopened  #100643.

[2021-12-10 23:01] rphillips opened #106972 "local-up-cluster.sh more difficult to run due to dockershim removal"
### What happened?

hack/local-up-cluster.sh still defaults to the 'docker' container-runtime. This causes the kubelet to fail to start with an error -in the kubelet log- about the dockershim not being supported. The non-obvious fix is to set the CONTAINER_RUNTIME and KUBE_CONTAINER_RUNTIME_ENDPOINT variables to configure the runtime (containerd, cri-o, etc) and their socket.

### What did you exp

[2021-12-10 23:02] rphillips commented on #106917
Linking my issue about local-up-cluster.sh not working nicely due to the dockershim removal: https://github.com/kubernetes/kubernetes/issues/106972

[2021-12-10 23:04] rphillips commented on #106972
/sig node

[2021-12-10 23:06] robscott commented on #106603
Discussed this briefly at sig-network meeting yesterday, I think this is very much in scope for [Gateway API](https://gateway-api.sigs.k8s.io/), but probably not something that makes sense to try to add to Services. We're trying to add significantly more advanced load balancing capabilities there, including TLS configuration.

[2021-12-10 23:11] aojea commented on #106972
I think this will fix it https://github.com/kubernetes/kubernetes/pull/106909

[2021-12-10 23:15] jsturtevant commented on #106919
This sounds simliar to something we found on windows side: https://github.com/kubernetes/kubernetes/issues/104111

Ends up that the ttprc bug could have affected Linux as well.  could you see if you find something like in the kubelet stacks?

[code]

[2021-12-10 23:28] collimarco commented on #106603
@robscott Ok, I really hope to see something standard across providers (not like current LoadBalancer annotations).

I would love to see a standard inside Service because it is **simple** and **already implemented** in most cloud provider... However if it's too late it doesn't matter... **

I just hope to see a standard for load balancing that works on all major providers in the same way and allow

[2021-12-10 23:34] ahg-g commented on #106127
@liggitt I think this is a change of default behavior, how can we proceed with this?

[2021-12-10 23:38] robscott commented on #106603
@collimarco I agree that something standardized across providers would be ideal, we're trying to do that as much as possible with Gateway API. Some aspects are surprisingly difficult to get right though as there are non trivial variations in some cases. The example @aojea linked above (https://github.com/kubernetes/enhancements/issues/1435) helps show how complex this can get.

Both are already po

[2021-12-10 23:54] ehashman commented on #106972
We discussed this briefly in the 11/30 SIG Node meeting: https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#bookmark=id.8tx8w0w0y4n2

[2021-12-10 23:56] ehashman commented on #106904
/triage accepted

[2021-12-11 00:36] baryluk opened #106974 "deb packages should recommend apparmor"
### What happened?

[code]

[code]

[code]

This causes the controller and api servers to never start, and init to never success.

### What did you expect to happen?

`apparmor` pacakge to be installed, or the pre-flight checks to detect missing `apparmor_parser` binary in the PATH.

### How can we reproduce it (as minimally and precisely as possible)?

Debian stable or testing. Install xenial deb

[2021-12-11 00:38] baryluk commented on #106974
/sig cluster-lifecycle

[2021-12-11 00:49] jingxu97 commented on #106710
Now we are down to solution 2 and 4.
For solution 2, if driver does not have a way to check whether volume is mounted or not, the behavior will not change and we still force detach after 6 mins. And it might happen in the middle of unstage ..

[2021-12-11 05:02] aahemm commented on #48798
Hey folks!
I had the same problem. I use containerd as runtime. I was using http_proxy environment variable for containerd service and that was the problem. So I excluded cluster IP ranges (10.0.0.0/24 and 192.168.0.0/24) in no_proxy and the problem was gone.
Hope it helps

[2021-12-11 05:31] #92949 closed

[2021-12-11 06:41] #106775 closed

[2021-12-11 07:24] #102101 closed

[2021-12-11 08:21] b0b0haha opened #106976 "Iptable: missing IsLoopBack() check for nodeAddress"
### What happened?

Just similar to [#96879](https://github.com/kubernetes/kubernetes/issues/96879) , for service with type nodeport , iptable proxy should add IsLoopback check for nodeAddress.
https://github.com/kubernetes/kubernetes/blob/159fcbb01e2017f1f3351cbb1ed987db6895b0a6/pkg/proxy/ipvs/proxier.go#L1096-L1116
 Line 1104-1106 check nodeAddress is localhost address or not for ipvs mode proxy

[2021-12-11 08:26] Estherbdf commented on #106976
/sig network

[2021-12-11 08:26] Estherbdf commented on #106976
/area iptable

[2021-12-11 08:26] Estherbdf commented on #106976
/kind cleanup

[2021-12-11 08:31] #106545 closed

[2021-12-11 08:55] andrewchen5678 commented on #57923
I saw that the pull request above is closed rather than merged, does it mean it is not resolved?

[2021-12-11 09:05] andrewchen5678 commented on #81089
+1, ran into the issue today

[2021-12-11 09:06] andrewchen5678 commented on #2630
/remove-lifecycle stale

[2021-12-11 09:30] amarkevich commented on #49937
v1 scheme strict http usage to GET only. In general expected 'http' probe with 'method' property of [GET|HEAD|POST]

[2021-12-11 10:08] redbaron commented on #65106
If we make if fail on duplicates, wouldn't it stop apply to work for containers with duplicated elements? If so, when users try to remove duplicates they wont be able to do so.

[2021-12-11 10:37] collimarco commented on #106802
Actually most of the examples for `InitContainer` in the docs are already for checking / waiting for something, so I think it can be a common need.

Also consider that Heroku has "Release Phase", meaning that migrations between releases are a common need: it seems something that `Deployment` (an high level construct for apps) may want to support in the future.

Deployment already has the concept o

[2021-12-11 10:53] vescoc opened #106977 "kubelet 1.23.0 (cAdvisor 0.43) panic on arm64 / Raspberry PI OS32"
### What happened?

Configuration:
- OS: Raspberry PI OS 32 bullseye
- arch: `Linux raspberrypixxx 5.10.63-v8+ #1488 SMP PREEMPT Thu Nov 18 16:16:16 GMT 2021 aarch64 GNU/Linux`
  /boot/config.txt with arm_64bits=1

kubelet panic at https://github.com/kubernetes/kubernetes/blob/release-1.23/vendor/github.com/google/cadvisor/manager/container.go#L676

[code]

### What did you expect to happen?

kube

[2021-12-11 11:19] vescoc commented on #106977
/sig node

[2021-12-11 12:59] wojtek-t commented on #106826
Reopening - we need to cherrypick it back to 1.23

@tkashem - can you please cherrypick?

[2021-12-11 14:27] SEJeff commented on #49937
/reopen

[2021-12-11 14:31] coachafei commented on #105204
Got the same error in kubernetes 1.22.4, when I create the subPathExpr example pod in page https://kubernetes.io/docs/concepts/storage/volumes/ . The command `kubectl describe pods pod1` can see the log.
[code]
and the pod's state was Error, if this bug was related to caching, how to flush the caching?

[2021-12-11 16:03] sftim opened #106980 "Update links to IANA for Service Name and Transport Protocol Port Number Registry"
### What happened?

We should make the change in PR https://github.com/kubernetes/kubernetes/pull/105590

### What did you expect to happen?

API reference links to https://www.iana.org/assignments/ should use HTTPS, not HTTP

### How can we reproduce it (as minimally and precisely as possible)?

Visit h
ttps://kubernetes.io/docs/reference/kubernetes-api/service-resources/service-v1/ and look at t

[2021-12-11 16:03] sftim commented on #106980
/sig docs

[2021-12-11 16:03] sftim commented on #106980
I opened this issue so that someone else can open a new PR that is equivalent to #105590.

[2021-12-11 16:23] aryan9600 commented on #106879
@ehashman hi, i would like to give this an issue a shot. could i be assigned this? thanks.

[2021-12-11 17:15] neolit123 commented on #106974
Hi. I don't know why you are seeing this exactly. We added a seccomp profile to kubeadm pods - cc @vinayakankugoyal
https://github.com/kubernetes/kubernetes/pull/100234

But we don't have apparmor settings in kubeadm... Apparmor is optional from kubeadm's prespective so the kubelet is just triggering the error on host app armor settings?

We should not bind new packages, so a preflight warning sou

[2021-12-11 17:15] neolit123 commented on #106974
/sig node

[2021-12-11 17:59] brandond commented on #102549
/remove-lifecycle rotten

I would still like to follow up on this.

[2021-12-11 18:07] zestysoft commented on #95039
If it's expected, shouldn't the log entry be classified in a different log level like Info, or Debug?  Aren't warnings usually reserved for things that require someone's attention?

[2021-12-11 18:14] johnbelamaric commented on #102549
Do any of our conformance tests currently require DNS to be running? I
don’t recall - they probably shouldn’t because DNS has usually been
considered optional, which would disqualify it from conformance.

I am open to discussing changing that.

On Sat, Dec 11, 2021 at 9:59 AM Brad Davidson ***@***.***>
wrote:

[2021-12-11 18:23] aojea commented on #102549
[code]
:)

[2021-12-11 18:32] aojea commented on #106976
maybe I'm missing something, but this was discussed in this issue https://github.com/kubernetes/kubernetes/issues/96879
and iptables needs to use localhost for nodeports, if we remove that we can break users.
ipvs is different and it never needed loopback for nodeports

[2021-12-11 18:34] #96759 closed

[2021-12-11 19:04] ahg-g commented on #106795
PodAffinity with NotIn operator is not equivalent to PodAntiAffinity.

The label selector defines the cohort of pods that pod affinity applies to. When using a NotIn operator in the match expression, then the pod is basically saying: I want affinity with all pods that have `app != pod-affinity-notin`

or more specifically, the affinity will be towards pods that match the expression:

[code]

[2021-12-11 19:04] ahg-g commented on #106795
/close

[2021-12-11 19:04] #106795 closed

[2021-12-11 19:34] #88397 closed

[2021-12-11 20:12] johnbelamaric commented on #102549
Ok great, thanks! Then I am ok with requiring these in the cert, so clients
can rely on secure access using them.

On Sat, Dec 11, 2021 at 10:24 AM Antonio Ojea ***@***.***>
wrote:

[2021-12-11 20:34] #103274 closed

[2021-12-12 04:34] #100140 closed

[2021-12-12 05:38] patricknelson commented on #58065
Quick update: The work to add SOCKS5 compatibility has moved from #84205 to #105632 and may be close to being completed soon.

**TL;DR / ELI5:** To get _everything_ to work smoothly right now, use an **HTTP proxy** over SOCKS because [`kubectl` and SOCKS don't seem to get along](https://github.com/kubernetes/kubernetes/issues/58065#issuecomment-603624335) when it comes to streaming stuff like `kub

[2021-12-12 07:31] Estherbdf commented on #106976
set sysctlRouteLocalnet when running in IPtable mode may still face a risk from CVE-2020-8558, so why not disable it in the future version?

[2021-12-12 07:32] Estherbdf commented on #106976
set sysctlRouteLocalnet when running in IPtable mode may still face a risk from CVE-2020-8558, so why not disable it in the future version?

[2021-12-12 11:46] aojea commented on #106976
because there are users that depend on that behavior, I can't remember the details , the referenced issue has them https://github.com/kubernetes/kubernetes/pull/92938

[2021-12-12 13:43] aojea commented on #102549
/help

[2021-12-12 14:05] aojea commented on #106506
can we close this now?

[2021-12-12 14:43] keith0591 commented on #60140
I was also facing this same issue. My file was 10.3 GB
My work around was was compressing the file using xz (compression level: 13% of original size) then splitting it into 10mb chunks. Then I wrote a script on my end to fetch the individual chunks. Then I joined them back together using cat.
Below are the commands that I used:
1. xz bigfile
2. split  bigfile.xy -db 10M  xzchunks --verbose
This wi

[2021-12-12 15:33] slapula commented on #105204
I'm seeing the same behavior as @tosmi... it doesn't appear to be strictly related to `kube-root-ca.crt`. I originally noticed that this was causing my Kaniko jobs to fail (which I'm running in a new namespace).  Both `kube-root-ca.crt` and the secret I'm mounting failed with this error.  I took the findings in this thread and switched these Kaniko jobs to the `default` namespace and sure enough i

[2021-12-12 16:41] #95455 closed

[2021-12-12 17:54] NikhilSharmaWe commented on #106608
@jsturtevant Why are we not deploying both the pods of in one loop only (if the memory pods memory is same as nodes memory).
Also after we deploys both the pods, do we will be running another loop similar to [this](https://github.com/kubernetes/kubernetes/blob/aff056d8a197f6a404ad5e02210ca662d16c3dbe/test/e2e/windows/memory_limits.go#L121-L132) for checking the failure.

I am not confident on my c

[2021-12-12 18:18] jsturtevant commented on #106608
Sounds good

[2021-12-12 18:26] NikhilSharmaWe commented on #106608
@jsturtevant Does functions `getNodeAllocatable(n)` and `createPodForNode(nodeallocatable, n.nodename)` already exists because I am not able to find, have you used these names as short forms for other functions which do same as their names ?

[2021-12-12 18:52] zcahana commented on #93488
@fabiand you've raised two viable approaches to address the issue of scheduler not getting the full picture of images on the node.

A third approach can be to change the sort order of the node's image list such that after getting capped, it'll more likely retain the relevant/current images on the node. Such sort order can prioritize unique image repositories over multiple tags of the same image re

[2021-12-12 19:44] #100760 closed

[2021-12-12 22:04] sftim commented on #106561
If anyone's tackling this, https://github.com/kubernetes/pod-security-admission could also use a nicer README (consider linking to the docs for Pod Security admission, too)

[2021-12-12 23:12] nobiit commented on #17028
For anyone who is having trouble with this. You can try
[code]

[2021-12-12 23:34] ahg-g commented on #106971
That is not issue, the problem is similar to what https://github.com/kubernetes/kubernetes/issues/105291 describes. What happened is that zoneA is now not "visible" at all, and so it is as if we have a single zone. The `minDomain` solution should apply to both cases.

[2021-12-13 01:08] callum-p commented on #72794
Just updated to 1.20 today and the tool we use for deployments was using the selfLink field to monitor pods that are part of that specific deployment. selfLink was removed in 1.20. :(

[2021-12-13 01:17] liggitt commented on #72794
Updated my comment with a solution that doesn't use selfLink

[2021-12-13 01:18] cncal commented on #97153
Besides, I got some errors in kubelet's log as follows:

[code]

[2021-12-13 02:31] peterska commented on #106589
Can this backported to k8s 1.22.X please. My cluster will not upgrade from 1.21.7 to 1.22.4 due to this issue. It gets stuck waiting for etcd to be ready. Checking kube-system/etcd logs shows it is trying to contact the zombie etcd node. This is a single node etcd kubernetes cluster created using kubeadm a long time ago. I migrated the cluster so that the api sever is accessed using a dns name rat

[2021-12-13 02:55] jayunit100 commented on #103860
we've now deprecated the windows userspace proxy in the command line.  With the new proxy pretty close at hand in KPNG, we should be able to cleanly delete the rest in the next release if folks are ok with that.

[2021-12-13 03:13] zhubuntu commented on #106902
@joshimoo  Yes, i can see this log in kube-controller-manager. But the node status is "Ready",  forcing detach this volume will leaves dirty data on the node with "Ready" status.

[2021-12-13 05:38] pacoxu commented on #104956
/close

[2021-12-13 05:38] #104956 closed

[2021-12-13 06:08] kerthcet commented on #106971
I think we should consider it as a bug.

|  node   | kind-worker  |   kind-worker2  |  kind-worker3  |   kind-worker4  |
|  ----  | ----  |  ----  |  ----  |  ----  |
| zone  | zone1 | zone1 | zone2 | zone2 |
| existingPods  | pod1 | pod2 | pod3, pod4 | pod5 |
| nodeStatus  | resourceExhausted | resourceExhausted | normal | normal |

Imagine in this situation, all of these pods are labeled with `a

[2021-12-13 06:15] jonyhy96 commented on #106977
/assign
This is a cadvisor issue, the oomEvents's struct is not aligned in 32-byte

[2021-12-13 06:18] jonyhy96 commented on #106977
@vescoc do u have a slack account so we can discuss more about the fix, i don't have a 32-byte device to run

[2021-12-13 07:19] #105864 closed

[2021-12-13 08:22] alculquicondor commented on #106802
Have you looked into kubeflow-pipelines, Argo or Tekton?

Let me rephrase: I think this need can be done in the application level, rather than being part of core kubernetes. There are plenty of frameworks (listed above) which provide the functionality.

[2021-12-13 08:54] aojea commented on #106651
@VivekThrivikraman-est as next step I suggest to check if is a kernel problem, as we had with TCP.

If you can create a reproducer like I did for the TCP case
https://github.com/torvalds/linux/blob/master/tools/testing/selftests/netfilter/conntrack_tcp_unreplied.sh

we can reach out to the netfilter community.

[2021-12-13 08:56] VivekThrivikraman-est commented on #106651
Sure @aojea, will do it.

[2021-12-13 09:13] mborsz opened #106989 "endpointslice_controller_test.go is using time.Sleep"
In https://github.com/kubernetes/kubernetes/pull/88745 I added a unit tests that are using time.Sleep. It's bad: it makes our tests slower than they need to be and involves some risk of races.

We should migrate this test to mocked clock.

This requires implementing a new workqueue.NewNamedRateLimitingQueueWitthCustomClock, similarly as workload.NewDelayingQueueWithCustomClock and migrating TestPo

[2021-12-13 09:15] mborsz commented on #106989
/kind cleanup

Relevant code: https://github.com/mborsz/kubernetes/blob/55c92cf66aaecd4615f71d95ed96d4893e6fc685/pkg/controller/endpointslice/endpointslice_controller_test.go#L387

[2021-12-13 09:15] mborsz commented on #106989
/sig scalability

[2021-12-13 09:17] mborsz commented on #106989
/help

[2021-12-13 10:23] Bessonov commented on #66430
/remove-lifecycle stale

[2021-12-13 10:32] cuisongliu opened #106993 "kube-proxy from kubeadm default config using InCluster client"
https://github.com/kubernetes/kubernetes/blob/ba200841fddcf8fb5edb413546ce9574f2a14d82/cmd/kubeadm/app/phases/addons/proxy/manifests.go#L30

in kubeadm default kube-proxy config,using configmap config kubeconfig client connection kubernetes. why? we way not using InCluster mode connection to kubernetes apiserver . kubelet is write service env to pod .

[2021-12-13 10:32] tonyaw opened #106994 "Request to add "rbind" option for local pv"
### What would you like to be added?

Want to add an option for local pv to choose to use "bind" or "rbind".

### Why is this needed?

Current local pv only supports "bind" mount.
In this case, if there are already some other mounts under the local pv path, such as multiple NFS mounts, the "child" mount points can't be seen inside the pod.
If local pv can do "rbind" instead of "bind", then this re

[2021-12-13 10:44] schrej commented on #106919
Unfortunately I didn't capture goroutine stacks, so I can't check. In the containerd issue the same fix was mentioned though, so it might be fixed already then.

Even if it's fixed already it might make sense to try to prevent future issues like this from leaking goroutines in kubelet.

[2021-12-13 10:44] kerthcet commented on #106426
yes, I double-checked the code and I found I misunderstood the intention of function `merge()`. Thanks for your explanations, I'll push a commit tomorrow and some tests are needed too.

[2021-12-13 11:05] rthamrin commented on #52386
any update? its suddenly happen, and all my nodes agent are Notready

[2021-12-13 11:08] pacoxu commented on #106951
To dig into the problem from the coredns side, I think you can enable `access log` of corends by adding the below configuration to coredns configmap. Then, coredns will show you all requests to it and all forwarding requests to your local nameserver. That may help to show some info. By the way, the coredns metrics may help to know what happened.
[code]
This may help us confirm whether the DNS serv

[2021-12-13 11:08] pacoxu commented on #106951
/area dns

[2021-12-13 11:15] pacoxu commented on #106957
https://github.com/kubernetes/kubernetes/blob/d5f39ebe4d2700eccf094c54b36c5c46302fb4ec/pkg/kubelet/stats/cadvisor_stats_provider.go#L97-L147

[2021-12-13 11:19] pacoxu commented on #106994
/sig storage

[2021-12-13 11:22] pacoxu commented on #106993
I cannot understand the question. Would you add more details about what is expected? and what is the problem of current behavior?

/kind support
BTW, the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
(stack overflow etc...)

[2021-12-13 11:29] timebertt commented on #99003
/remove-lifecycle stale

[2021-12-13 11:47] collimarco commented on #106802
@alculquicondor I have been searching for months for a clean solution (_do you have any useful links?_) and the best solution that I have found is to run a migration `Job` and wait for its completion in the `InitContainers`. Other solutions don't work very well (e.g. require downtime, the environment is not yet updated and the migration runs in the "previous" environment, etc.).

The solution with

[2021-12-13 12:13] ritheshgm commented on #43916
+1,

We have set an hard eviction policy for 15% and out of 12 GB of RAM the 10 GB is in cache due to this problem pods are getting evicted frequently. Do we have any workaround for this solution apart from cleaning up the cache

[2021-12-13 12:18] cuisongliu commented on #106993
[code]
I means remove kubeconfig config,using InCluster client . I don't know this way means is ??

[2021-12-13 12:24] b0b0haha opened #106995 "replace syscall with sys/unix pkg"
### What happened?

Similar to #57430, it seems there are still many use of  pkg syscall  in the code.
https://github.com/kubernetes/kubernetes/blob/770847e6b06d89326f0f2d42c26487cc7f9eae06/pkg/util/ipvs/ipvs_linux.go#L27

### What did you expect to happen?

replace syscall with sys/unix pkg.

### How can we reproduce it (as minimally and precisely as possible)?

None

### Anything else we need to

[2021-12-13 12:25] Estherbdf commented on #106995
/sig network

[2021-12-13 13:26] pkit commented on #80472
It will silently delete and re-create the `StorageClass`
Which means it will be unavailable for the operation duration.
I.e. it's an equivalent of:
[code]

[2021-12-13 13:31] pkit opened #106996 "StorageClass cannot be updated/replaced"
### What happened?

Reopen of #80472

### What did you expect to happen?

`StorageClass` can be updated

### How can we reproduce it (as minimally and precisely as possible)?

See #80472 , nothing changed in 2 years

### Anything else we need to know?

_No response_

### Kubernetes version

Client Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.2-13+d2965f0db10712", GitCommit:"d296

[2021-12-13 14:04] aojea commented on #106995
/area code-organization

[2021-12-13 14:12] aojea commented on #106993
You can't use in InCluster because is a chicken and egg problem, the InCluster config connects against the ClusterIP if the "kubernetes.default" Service, but that IP will only work once kube-proxy installs the corresponding iptables/ipvs rules.

/close

[2021-12-13 14:43] chrisohaver commented on #106951
Per issue description, DNS also times out from "all worker nodes", which do not query CoreDNS.  So seems unlikely that CoreDNS would be the cause.

Perhaps UDP is affected and TCP is not? Could try `force_tcp` option in CoreDNS.  Nodes would still use UDP though, since their queries do not flow through CoreDNS.

[2021-12-13 14:46] dr-shim commented on #84876
@ejsuncy
I don't think it's fixed in Openjdk 11 yet.

If you look into https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/src/hotspot/os/linux/osContainer_linux.cpp#L701-L708, which is master branch of openjdk 11, there still the code exist.
[code]

I've tested with the below openjdk11 version, and the issue was reproduced.
[code]

[2021-12-13 15:15] mk46 commented on #106995
/assign

[2021-12-13 16:42] carsonoid commented on #102056
/remove-lifecycle stale

[2021-12-13 18:06] khenidak commented on #106864
i think we need to contextualize this. Is this related to kuberentes own control plane or some deployable user service/pods etc?

[2021-12-13 18:24] khenidak commented on #106267
hmm as we push for multi homed pod this will make a lot of sense. There might also be a chance for community to provide a drop-in replacement for proxy that does much more than we do now. I think we should update the docs and don't modify anything for now.

[2021-12-13 18:56] julianvmodesto opened #107002 "Re-introduce kubectl --dry-run default value and boolean values"
For 1.23, we removed the kubectl --dry-run default value (--dry-run="") and boolean values (--dry-run=true|false), requiring users to specify --dry-run=client or --dry-run=server due to a deprecation. This is a required action for users who upgrade kubectl. This change was made in https://github.com/kubernetes/kubernetes/pull/105327.

After reconsideration, this change is not worth the churn for u

[2021-12-13 19:31] #105043 closed

[2021-12-13 19:32] thockin commented on #106267
Note that this API doesn't include per-IP metadata, so a multi-homed pod
would be challenging with this mechanic.  I think it's maybe time to
reconsider multi-net more holistically.

On Mon, Dec 13, 2021, 10:24 AM Khaled Henidak (Kal) <
***@***.***> wrote:

[2021-12-13 19:53] Huang-Wei commented on #106971
@ahg-g it's not the same as #105291, even if worker2 becomes invisible, there are still 2 zones:

[code]

[2021-12-13 19:58] seans3 commented on #107002
/triage important-soon

[2021-12-13 20:06] ahg-g commented on #106971
ah,  I didn't notice `kind-worker` existed.

What part of the code is causing this behavior? I would have assumed that the spreading would happen between `kind-worker` and `kind-worker`.

The following code shows that we should be skipping counting the pods on worker2
https://github.com/kubernetes/kubernetes/blob/e53f93c7bb9fe28e5de2799da8eb1c62bdd4f4f1/pkg/scheduler/framework/plugins/podtopologys

[2021-12-13 20:10] jsturtevant commented on #106919
The go routine does look to be stuck on  the same spot `        k8s.io/kubernetes/vendor/google.golang.org/grpc/internal/transport.(*Stream).waitOnHeader(0xc002277a00)`

Are you able to try 1.5.8 which has the ttprc fix? https://github.com/containerd/ttrpc/pull/94

[2021-12-13 20:10] Huang-Wei commented on #106971
@ahg-g it's the `allNodes` that is passed to processNode():

https://github.com/kubernetes/kubernetes/blob/e53f93c7bb9fe28e5de2799da8eb1c62bdd4f4f1/pkg/scheduler/framework/plugins/podtopologyspread/filtering.go#L263

@kerthcet included the fix in #106623, and that bits should be extracted out to be a standalone PR, if we get to a consensus on this issue is a bug.

[2021-12-13 20:18] ahg-g commented on #106971
I still don't get where the bug is. I think iterating over all node is the right way and the line I pointed to above should filter out the nodes that don't match the affinity.

Passing a filteredList (as in exclude nodes that were filtered by previous filters) is certainly not the right solution because we need to count pods on all nodes. Let alone the filteredlist is different based on how we ord

[2021-12-13 20:19] aojea commented on #106267
:thinking:

[2021-12-13 20:27] aojea commented on #106864
I understand the question is related to Services

[2021-12-13 20:34] schrej commented on #106919
We will deploy that soon. Since the problem only occurs randomly, we can only observe and see if it happens again.

If you don't see a need for preventing the creation of this many goroutines if a container runtime misbehaves, we can close this issue and I'll reopen it in case we run into the problem with containerd 1.5.8 again.

[2021-12-13 20:43] Huang-Wei commented on #106971
The bug lies in the preFilterState's calculation. For the above case, it's expected to be `{zoneA: 0, zoneB: 1}`, but it ended up with `{zoneA: 2, zoneB: 1}`.

The code I posted above is in PodTopologySpread's PreFitler, not Filter.

[2021-12-13 20:56] ahg-g commented on #106971
ok, this is indeed a bug, we need to check the node affinity constraints again inside the second loop.

[2021-12-13 20:59] ahg-g commented on #106971
actually, doesn't seem efficient that we have two loops in the first place

[2021-12-13 20:59] liggitt commented on #106769
what are the consequences if the implementations get out of sync?

[2021-12-13 21:03] ahg-g commented on #106971
It seems we are doing it right in the score function, excluding those nodes: https://github.com/kubernetes/kubernetes/blob/2ae44bd74a64da2c4061f7675cb1e6cb20bbd5b3/pkg/scheduler/framework/plugins/podtopologyspread/scoring.go#L153

[2021-12-13 21:03] Huang-Wei commented on #106971
Feel the same. Let's fix the correctness issue first, and then improve the efficiency.

[2021-12-13 22:01] alculquicondor commented on #106769
One of the functions governs the cached pods, and the other a pod being scheduled. So the risk is miscalculation of used resources, which could end up in overprovisioning or underprovisioning.

[2021-12-13 22:04] alculquicondor commented on #106971
Do we know of a use case where this would be useful? It's kind of odd that there are matching pods in a node where we don't intend to schedule. Maybe during some sort of migration?

[2021-12-13 23:57] Huang-Wei commented on #106971
It's about clarifying/correcting the semantics of constraints (nodeAffinity, and the to-be-added ones like Unschedulable taint) embedded in PodTopologySpread. So IMO we should fix the correctness issue, no matter there is a use case or not.

[2021-12-13 23:59] khteh commented on #106864
HTTP/2 multiplex streams on the same connection which is bound to one IP address. How would things change on HTTP/3? Would service load balancing still based on connection or could it be on "streams" (don't know what it will be called in HTTP/3). Take GRPC, for instance. How do applications achieve server-side load balancing using k8s service if client applications issue multiple GRPC calls asynch

[2021-12-14 00:28] leiyiz commented on #106626
looks like gce-pd need to be skipped here as well. Will open a PR

[2021-12-14 01:23] cuisongliu commented on #106993
thanks , I see

[2021-12-14 02:45] KyWa commented on #106543
I would like to chime in here as this is essentially what we are trying to do as well. The [Azure Files provisioner](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_file/azure_provision.go#L234) is hard coded to use SMB protocol for provisioning when Azure Files does support NFS volumes. I was going to open a feature request for this or possibly even a PR if I had an Azure ac

[2021-12-14 03:10] MikeSpreitzer opened #107008 "NetworkPolicySpec field doc is outdated"
### What happened?

I tried to understand exactly what NetworkPolicy objects mean, and got lost/confused.  https://groups.google.com/g/kubernetes-sig-network/c/6k1A8l5uxLY

For example, the comments on the `PolicyTypes` field does not precisely specify semantics, and the comments on the `Ingress` and `Egress` fields omit the significance of the `PolicyTypes` field.

### What did you expect to happ

[2021-12-14 03:11] MikeSpreitzer commented on #107008
/sig network

[2021-12-14 03:19] kerthcet commented on #104984
/remove-lifecycle stale

[2021-12-14 03:49] kerthcet commented on #106886
/cc

[2021-12-14 03:56] vsxen opened #107010 "kubelet stats API 404"
### What happened?

kubelet stats server reruen 404
[code]

### What did you expect to happen?

curl  --cert /etc/kubernetes/pki/apiserver-kubelet-client.crt --key /etc/kubernetes/pki/apiserver-kubelet-client.key -k https://localhost:10250/stats/

return stats info

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

###

[2021-12-14 04:16] bg-chun commented on #106410
it seems we should take effective running pod count here
https://github.com/kubernetes/kubernetes/blob/v1.22.3/pkg/controller/deployment/deployment_controller.go#L372

[2021-12-14 06:02] NikhilSharmaWe commented on #106989
@mborsz I would like to collaborate. Could you please tell me where is the code for `workload.NewDelayingQueueWithCustomClock` and where it is used, so that I can understand that how to work on making `workqueue.NewNamedRateLimitingQueueWitthCustomClock`.

Could you please also elaborate what should I keep in mind or steps while making the changes.

[2021-12-14 06:33] walirt commented on #60140
There will be no errors after I turn off the VPN

[2021-12-14 06:43] chibbert commented on #60140
Errors with VPN on, and working ok with VPN off hint to me at something
like MTU...

On Tue, 14 Dec 2021, 06:33 walirt, ***@***.***> wrote:

[2021-12-14 06:51] pacoxu commented on #107010
Do you mean `/stats/summary`?

[2021-12-14 06:54] pacoxu commented on #107010
/sig node

[2021-12-14 07:12] winkee01 commented on #58908
This issue should not be closed because it wasn't solved. Simply put, although NodePort is open and listen on every node, I can only access it on one node, if this is the normal behavior, I don't see a valid point of opening the same port on every nodes.

[2021-12-14 07:14] kerthcet commented on #106426
hi @damemi , I found it's easy to handle plugins in `KubeSchedulerProfile.Plugins.Score.Enabled` since all the plugins are implements of `ScoreExtensionPoint` , however , we can not make sure what extension point these plugins implemented in `KubeSchedulerProfile.Plugins.MultiPoint.Enabled`, for only score plugins using these weights. do you have any idea?

[2021-12-14 07:32] ashok-arora opened #107012 "Malformed error messages"
### What happened?

kubectl returns the traceback for commands that don't exit:
[code]

### What did you expect to happen?

Instead, it should return that the command does not exist,
eg.
[code]

### How can we reproduce it (as minimally and precisely as possible)?

```kubectl list services -A```

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</detail

[2021-12-14 07:33] ashok-arora commented on #107012
/sig cli

[2021-12-14 07:35] Estherbdf commented on #106995
I search "syscall" in the repo : https://github.com/search?l=&q=%22syscall%22+repo%3Akubernetes%2Fkubernetes&type=code
Should all use of the pkg “syscall" replaced with "sys/linux" ?

[2021-12-14 07:42] winkee01 commented on #58908
my setup is simple, 2 node cluster on local LAN (both nodes can be assigned pods),
- master: 10.10.0.91
- worker1: 10.10.0.92

flannel as the cni plugin, deployment is `2-pod` ghost website, NodePort service on port 31480, one pod runs on master, and the other pod on worker1, on master node I can run `curl localhost:31483` or `curl 10.10.0.91:31480` or `curl 10.10.0.92:31480` with success. On work

[2021-12-14 08:47] aojea commented on #106995
wow , that is a long list, better talking with @dims  or @liggitt that are more used to deal with these code organization things

[2021-12-14 09:00] aojea commented on #106864
http2 uses TCP, NAT on linux uses conntrack, that is able to identify the connections and its stats, same connection keeps going to the same backend.
http3 uses QUIC for transport that uses UDP, conntrack uses timers to identify the connection but there is no clue about session status, if http3/QUIC has keepalives with a timer lower than the UDP conntrack, it will renew the conntrack entry and the

[2021-12-14 09:03] michael-db commented on #87724
/remove-lifecycle rotten

[2021-12-14 09:18] souradeepmoe commented on #106951
The primary issue that we are facing now is that the issue was fixed automatically, and we are not able to reproduce the issue, as we do not know the root cause.

Hi @pacoxu, as @chrisohaver also pointed out, we were seeing DNS resolution issues across all worker nodes all of a sudden. We were tracking metrics exposed by coredns and found that the response times were very high, due to the `i/o tim

[2021-12-14 09:40] vsxen commented on #107010
https://github.com/kubernetes/kubernetes/commit/cd54bd94e90dbf10a7e4f8a85a26cd036d589c57

I think stats API is the data source of `kubectl top no`

But I find `summary` API is enough.

https://github.com/kubernetes-sigs/metrics-server/blob/d253d4fc24/pkg/scraper/client.go#L97-L101

[2021-12-14 09:41] #107010 closed

[2021-12-14 10:03] Symbianx commented on #48180
/remove-lifecycle stale

[2021-12-14 10:47] soider commented on #106977
@jonyhy96 fyi, I tried using the same patch in k0sproject release for 1.23 (https://github.com/k0sproject/k0s/pull/1340/commits/953909e91663b6a167945284b40af44f59a1441a) it seems to be working on armv7, at least kubelet doesn't panic and generally passed our test suite.

[2021-12-14 11:15] aojea commented on #106864
first step is to have CI signal , add testing so we can know which we do support now and what not
https://github.com/kubernetes/kubernetes/pull/107017

[2021-12-14 11:25] Jeeppler commented on #49937
It is crazy, that using `HEAD` is still not possible.

[2021-12-14 11:45] b0b0haha opened #107019 "service loadbalancer source range don't work in winkernel mode"
### What happened?

Similar to [#61090](https://github.com/kubernetes/kubernetes/issues/61090), it seems in winkernel mode proxy, there is no validate for svcInfo.LoadBalancerSourceRanges(), it may brings security concern.
https://github.com/kubernetes/kubernetes/blob/c83a94da72416219cf9f022dc44b0e6db158f092/pkg/proxy/winkernel/proxier.go#L1296-L1323

### What did you expect to happen?

add valida

[2021-12-14 11:48] b0b0haha commented on #107019
/sig network
/area kube-proxy
/sig windows

[2021-12-14 12:23] vescoc commented on #106977
Can I get a preview of the kubelet build? I can try it on my device / hardware configuration.

To check that the problem is solved you need to have an armv8 rpi 3 or 4 with Raspberry PI OS 32 Bullseye (arm_64bit=1 in /boot/config.txt).

[2021-12-14 13:02] arrowfeng opened #107020 "CSR no longer supports "kubernetes.io/legacy-unknown"?"
### What happened?

After I upgraded my cluster to 1.22 recently, I found that my virtual kubelet created a csr request, which could not be automatically approve, manually approve in time, and could not be issued because the signName is kubernetes.io/legacy-unknown, why should I do it myself What about issuing certificates? It is because virtual kubelet may also need to use additional permissions,

[2021-12-14 13:05] arrowfeng commented on #107020
I used virtual kubelet before, but it was not easy to issue a certificate in version 1.22. How to issue a certificate in such a scenario?

[2021-12-14 13:13] jsafrane commented on #106710
Summing up yesterday's call:

A/D controller should check if a node is *unhealthy* before force detaching volumes from it. It should never force detach  a volume from a healthy node, not even after 6 minutes.

Question what *healthy* means is open and we should talk to sig-node. `Node.Status.Condition Ready` is a working assumption.

[2021-12-14 13:26] AntoineNGUYEN31 commented on #58908
Hello,
@dignajar was right that this isuee is related to the network policy.
In my case, the cluster (rancher rke) has: pod isolation diabled but the network policy created previsouly remaines.
Simply remove all network policy in the namespace where the pod is deployed can solved the issue

[2021-12-14 13:41] NikhilSharmaWe commented on #106989
@mborsz I would like to collaborate. Could you please tell me where is the code for `workload.NewDelayingQueueWithCustomClock` and where it is used, so that I can understand that how to work on making `workqueue.NewNamedRateLimitingQueueWitthCustomClock`.

Could you please also elaborate what should I keep in mind or steps while making the changes.

[2021-12-14 13:54] MadhavJivrajani commented on #107012
@ashok-arora 👋🏼
I seem to be getting the expected output on
[code]
![Screenshot from 2021-12-14 19-17-32](https://user-images.githubusercontent.com/12381034/146010604-71f9336d-9b78-4d22-910a-30c0a54d9b76.png)

At the mentioned K8s version, I'm able to reproduce this as well 👍🏼

[2021-12-14 13:55] soider commented on #106977
I have VM with custom ubuntu image so I don't have this /boot/config.txt
Any other ways to validate running kernel mode?
The closest I have is

[code]

Sure, I don't really have any hosting, but I can share it via dropbox https://www.dropbox.com/s/zb5viqzmo1t3x12/kubelet_armv7?dl=0

[code]

[2021-12-14 14:06] MadhavJivrajani commented on #107012
I think this PR introduced this change: https://github.com/kubernetes/kubernetes/pull/105076
/cc @pohly

[2021-12-14 14:09] danwinship commented on #106267
If they're fungible, then "clients may choose to use only one of the elements" (or "only a subset"?). No reason to call out the first one specifically.

[2021-12-14 14:09] tutorguai opened #107024 "evictionMaxPodGracePeriod is Not available"
### What happened?

My Kubelet config:
evictionHard:
  imagefs.available: 10%
  memory.available: 500Mi
  nodefs.available: 10%
  nodefs.inodesFree: 5%
evictionSoft:
  imagefs.available: 70%
  memory.available: 1Gi
  nodefs.available: 70%
  nodefs.inodesFree: 5%
evictionMaxPodGracePeriod: 120

pod config:
lifecycle:
          preStop:
            exec:
              command:
              - /bin/b

[2021-12-14 14:36] alculquicondor commented on #106971
One thing to be aware of is whether a potential fix could render some pods unschedulable, thus be a breaking change. And that's where use cases weigh in.

[2021-12-14 14:42] jeffro94 commented on #72231
I had this same issue as well.

Instead of this, you can just exclude the `replicas` value entirely from the deployment yaml. This is described at: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#migrating-deployments-and-statefulsets-to-horizontal-autoscaling

[2021-12-14 14:47] #106885 closed

[2021-12-14 14:50] alculquicondor commented on #106802
Note that waiting in a initContainer is potentially wasteful (the nodes are allocated with the pod resources, but nothing is actually running on them).

I think that the ideal solution is that the Deployment is not created until the Job finishes. You could achieve this from the Job itself (by using the k8s API to create the deployment). But the frameworks I already mentioned focus on this exact pr

[2021-12-14 15:15] b0b0haha opened #107026 "Complete winkernel proxier ut"
### What happened?

Similar to [#61390](https://github.com/kubernetes/kubernetes/issues/61390) in winkernel proxy mode, most service functions like "nodeport/loadbalance" is similiar to proxy mode iptables/ipvs, yet most winkernel proxier ut only verified very few normal function, which can't ensure  all kinds of services are functional.

### What did you expect to happen?

complete winkernel ut.

[2021-12-14 15:15] b0b0haha commented on #107026
/sig network

[2021-12-14 15:23] collimarco commented on #106802
@alculquicondor It doesn't seem like a waste waiting for a migration to complete for a few minutes... The pods would be there in any case for running the application.

Yes, I know about Argo, I meant if you have a specific link for database migrations. As I already said I made extensive research on the topic and it seems that most Rails applications use the strategy that I described above.

[2021-12-14 15:28] alculquicondor commented on #106802
I think an Argo workflow solves the problem elegantly, from an API point of view. I'm not in the domain of database migrations, so I don't know about people doing this exact thing with Argo.

But my point is that there seems to be a solution and, thus, not enough justification to bake this into the Deployment/ReplicaSet API. But, I'm not an SIG Apps approver. If you feel strongly about it, you can

[2021-12-14 15:31] euqen commented on #67250
hey guys!

also getting issues with updating statefulsets in broken state :(

[2021-12-14 15:39] ahg-g commented on #105287
/cc @x13n

for CA input

[2021-12-14 15:40] AAber commented on #74901
Thanks for the tip helped me add the hostAliases, sample:

  template:
    metadata:
      labels:
        app: gwsc
    spec:
      hostAliases:
      - ip: "10.9.1.8"
        hostnames:
        - "redis-1c"
      - ip: "10.9.1.1"
        hostnames:
        - "redis-1b"

[2021-12-14 15:44] ahg-g commented on #105291
/cc @x13n

[2021-12-14 15:57] damemi commented on #106426
@kerthcet that is the challenge with this, and I'm open to suggestions on how we could implement it. You might have to look into doing a similar loop to try to cast all of the MultiPoint plugins to a ScorePlugin, and if that succeeds then check for the weights.

[2021-12-14 16:01] AAber commented on #74901
bowei - Thanks for the tip!!!
 Helped me add hostAliases to my deployment, sample:
[code]

[2021-12-14 16:02] kerthcet commented on #106426
thanks, I'll have a try then.

[2021-12-14 16:03] kerthcet commented on #105291
/cc

[2021-12-14 16:05] collimarco commented on #106802
From the official K8s documentation:

It seems exactly my use case: I'm using them to wait for a condition (migration completed).

Ok, can you tag someone of your team with this specific knowledge?

[2021-12-14 16:06] thockin commented on #106267
That's fair

On Tue, Dec 14, 2021, 6:09 AM Dan Winship ***@***.***> wrote:

[2021-12-14 16:17] pohly commented on #107012
/assign

@MadhavJivrajani is correct about the root cause.

The heuristic that I used to decide about the output format (plain text of error message) is incomplete and doesn't cover errors that occur before cobra hands over control to the actual command. I think I have an idea how this can be fixed.

[2021-12-14 16:31] alculquicondor commented on #106802
@kow3ns ?

[2021-12-14 16:38] DangerOnTheRanger commented on #104625
This sounds like the best approach to me - does doing so impact any other part of your workflow? I think there's a case to be made that we could close the issue now that we know this.

[2021-12-14 16:49] marseel opened #107029 "Kube-apiserver JSON logging performance test"
### What would you like to be added?

Currently, kube-apiserver logs are migrated to structure logging. We would like to measure performance of structured logging in scale.

I've gathered some data based on sig-scalability performance test (https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance):
- kube-apiserver logs are mostly 200-500 characters long
- maximum persiste

[2021-12-14 17:08] serathius commented on #107029
/cc @pohly

[2021-12-14 17:26] claudiubelu commented on #106750
Same failure / failure reason: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1470173722026446848

[2021-12-14 17:35] #106770 closed

[2021-12-14 17:45] bswartz commented on #106710
I agree with both of these. I'd just emphasize that that particular definition of unhealthy definitely includes perfectly healthy nodes in a network partition. This change is _no worse_ than the status quo ante for those nodes, and a definite improvement on the healthy nodes, so I wholeheartedly support it.

[2021-12-14 17:53] oomichi commented on #84252
Thanks for this information, this helps our old environment.

[2021-12-14 17:58] dmitry-irtegov opened #107031 "Change of --service-account-issuer breaks existing service accounts on k8s 1.21"
### What happened?

Create a cluster with apiserver parameter --service-account-issuer=api
Add worker nodes.  Deploy some tasks that depend on service accounts (we observed this with dashboard and calico-kube-controllers).
Change apiserver parameter to --service-account issuer='https://kubernetes.default.svc.cluster.local' and restart the apiserver
Observe the pods that depend on service accounts

[2021-12-14 18:32] xakepp35 commented on #57291
Such important parameter - is NOT tweakable!!??
I want a restart counter, so i cannot use a bash script.
I am returning exit code 0, so pod goes "completed", then it goes "crashloopbackoff".
I want to be able to set max backoff to 10 seconds for my particular task, and have exact restarts counter in get pods output.
Who is responsible for implementation of that stuff?

[2021-12-14 19:03] #92594 closed

[2021-12-14 19:08] ottoyiu commented on #104639
/remove-lifecycle stale

[2021-12-14 19:50] serathius opened #107033 "Regression in JSON logging throughput"
### What happened?

When working on https://github.com/kubernetes/kubernetes/issues/107029 I have found a regression in JSON logging format that happend in 1.23.

In v1.23 JSON logging introduced two new features, log stream splitting and info log buffering. When I started measuring throughput it looked very promising, for example for info logs showed 10x improvement when using JSON split stream a

[2021-12-14 20:44] acumino commented on #105798
/assign

[2021-12-14 20:45] pohly commented on #107033
So to reproduce the regression, I need to do `go run ./staging/src/k8s.io/component-base/logs/loader/cmd/logger.go --logging-format=json 1>/tmp/stdout.out 2>/tmp/stderr.out` (default for error rate is 10%, 300 for message length, 10s duration) for old and new code, right?

[2021-12-14 20:52] jpbetz commented on #106842
I don't think we atomically check the quota limit when doing creates anyway. So I suspect there is potential to exceed the quota by sending requests to create objects to different API servers backed by the same etcd cluster.

Also, for these cases:
- object already exists and quota is at limit
- object does not exist and quota is at limit

I don't see any way around having to check etcd for both c

[2021-12-14 20:53] serathius commented on #107033
Yes, let me give my results.

Before text: 30.7MiB/s, json:39.6MiB/s
[code]

After, text: 30.6MiB/s, json: 6.5MiB/s
[code]

[2021-12-14 21:15] roycaihw commented on #106836
/triage accepted

[2021-12-14 21:23] rptaylor commented on #97076
If users are denied RBAC privilege to PATCH their services as mitigation for this, is there any other way they can update their services for non-malicious purposes?  `kubectl apply` seems to require PATCH.

[2021-12-14 21:35] thecrudge commented on #100726
/reopen

[2021-12-14 21:35] thecrudge commented on #100726
/remove-lifecycle rotten

[2021-12-14 22:32] tamalsaha commented on #101991
/remove-lifecycle rotten

[2021-12-14 22:40] liggitt commented on #106127
if I'm understanding correctly, the scheduler is still considering tainted nodes which the pod does not tolerate as valid nodes for purposes of computing topology spread skew, preventing those pods from being scheduled to nodes that are actually available? That seems like a bug to me (and I'm not sure why it would the fix would only be applied to the `unschedulable` taint)

[2021-12-14 22:53] Huang-Wei commented on #106127
@liggitt you're understanding it right. The reason is that taints can be user-defined, or system-generated (like `unschedulable`). In terms of user-defined taints, they can be arbitrary and it's possible that the workloads can apply tolerations to tolerate them; while for system-generated ones, it's more due to system events so semantically we want to exclude upcoming pods from scheduling, unless

[2021-12-14 22:57] liggitt commented on #106127
but if the workloads *don't* tolerate them, we still want to leave pods that *could* be scheduled to available nodes unscheduled because of podTopologySpread skew settings that consider untolerated tainted nodes?

[2021-12-14 23:06] Huang-Wei commented on #106127
Yes. User-defined taints are treated as separate scheduling constraints, and thus handled separately. The same case applies to other scheduling directives as well. Like, if a node is tainted, a pod with podAffinity cannot be scheduled to that node even if there are pods matching its podAffinity constraints.

[2021-12-14 23:14] liggitt commented on #106127
I'm still confused why special-casing an `unschedulable` taint is correct... it looks like the logic of this plugin would be incorrect for all untolerated taints, not just `unschedulable`

[2021-12-14 23:33] Huang-Wei commented on #106127
In the implementation, we need to check if unschedulable taint is the only unsatisfied one. In other words, if any regular taint is unsatisfied, that node cannot be bypassed (same behavior as now)

[2021-12-15 00:26] natherz97 opened #107038 "Nil pointer dereference in KCM after v1 HPA patch request"
### What happened?

If we create a v2beta2 HPA object with fields specified for the scaleUp or scaleDown behavior, these values can be modified through the v1 version of the same object by changing the annotation for autoscaling.alpha.kubernetes.io/behavior. If we patch the scaleUp or scaleDown field in the annotation to null, the patch request will get accepted without the default values for scal

[2021-12-15 00:53] roycaihw commented on #99181
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-12-15 01:40] shyamjvs commented on #107038
/sig autoscaling

[2021-12-15 02:36] kerthcet commented on #106127
I think @liggitt suggestions also make sense for user-defined taints will also lead to the unexpected pending pods. But system-generated taints are more common especially in large-scale cluster automation.

[2021-12-15 02:48] liggitt commented on #106127
Consistent treatment of system-defined and user-defined taints is essential, in my opinion

[2021-12-15 02:52] pacoxu commented on #107038
/triage accepted

[2021-12-15 03:03] pacoxu commented on #107031
/sig auth
?

[2021-12-15 03:11] pacoxu commented on #107024
/sig node

For instance, eviction-max-pod-grace-period = 120s and the soft eviction threshold is met, kubelet evict the pod with the grace period(something like `kubectl delete pod --grace-period=120s PodName`).

[2021-12-15 03:18] pacoxu commented on #107020
/sig auth
Similar issue with answer in https://github.com/kubernetes/kubernetes/issues/99504#issuecomment-787114686.

[2021-12-15 03:19] Haleygo commented on #107038
I would like to work on this.
/assign

[2021-12-15 03:23] pacoxu commented on #106974
/cc @saschagrunert

[2021-12-15 03:30] pacoxu commented on #106763
any update?
Agree with @yliaog, most likely, the apiserver has some problems, or the connection between controller-manager and apiserver is broken.
BTW, the apiserver is 1.19 and the master branch of controller-manager is now 1.23 or even 1.24 alpha, the version is not compatible.

[2021-12-15 03:35] tutorguai commented on #107024
My pod directly enters the evticked state, and the service is directly unavailable

[2021-12-15 03:45] pacoxu commented on #107024
https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-terminating-with-grace
1. Pod is set to the “Terminating” State and removed from the endpoints list of all Services
2. preStop Hook is executed
3. SIGTERM signal is sent to the pod
4. Kubernetes waits for a grace period

This is expected in my opinion.

At this point, the pod stops getting new traffic. Container

[2021-12-15 03:57] pacoxu commented on #106464
I have an env with containerd 1.4.6 + Kubernetes v1.23.0-rc.0 + cgroup v2, which can work well on CentOS 8.1.1911
[code]

[2021-12-15 04:15] tutorguai commented on #107024
It doesn't seem to execute prestop hook,AND Kubernetes no waits for a grace period.
And the pod IP is recycled in the evited state.
My pod is accessed through service discovery, so I need to execute the command in prestop hook to eliminate it.

[2021-12-15 04:15] tutorguai commented on #107024
It doesn't seem to execute prestop hook,AND Kubernetes no waits for a grace period.
And the pod IP is recycled in the evited state.
My pod is accessed through service discovery, so I need to execute the command in prestop hook to eliminate it.

[2021-12-15 05:03] nodesocket commented on #50375
@mrdima wow, thanks for the detailed reply of why such a simple seeming feature such as clearing the restarts counter for a pod is actually very complex and perhaps not even possible.

With that all said, I still wish there was a way to set a pods restarts counter back to 0. 😢 😞

[2021-12-15 05:28] Huang-Wei commented on #106127
Thanks for the input. We're going to discuss in this week's sig meeting.

Another solution is to offer the option (i.e., honor all untolerated taints (default value), bypass all taints, honor unschedulable taint only) in the plugin's argument. WDYT?

https://github.com/kubernetes/kubernetes/blob/be5b9b4f8d8876090697e777e63d6a4c25738e71/staging/src/k8s.io/kube-scheduler/config/v1beta3/types_plugina

[2021-12-15 05:38] anurag4516 commented on #65500
/reopen

[2021-12-15 05:59] pacoxu commented on #106187
This seems to be an expected behavior in my mind.
https://github.com/kubernetes/kubernetes/blob/cde45fb161c5a4bfa7cfe45dfd814f6cc95433f7/cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane.go#L38-L59

`kubeadm join control-plane ` needs to add labels and taints in the `mark-control-plane` phase.

[2021-12-15 06:04] pacoxu commented on #106187
There are some explanation about why we should not add node role labels by node itself in https://github.com/kubernetes/kubernetes/issues/91664#issuecomment-637491037.

[2021-12-15 06:10] pacoxu commented on #105740
Currently, we support `/transfer-issue kubectl` to move the issue to the correct project.  See example: https://github.com/kubernetes/kubectl/issues/1122#issuecomment-927339103.

[2021-12-15 06:39] jonyhy96 commented on #105321
This [kep](https://github.com/kubernetes/enhancements/issues/2802) introduced `os` field to pod spec, but it doens't contains the `arch` info.Maybe we can change that `os` field to `platform` or add an `arch` filed, and add a plugin to framework to verify that field first  with [node status](https://github.com/kubernetes/kubernetes/pull/104613/files).

[2021-12-15 07:05] chendave commented on #105321
well, thanks for that information, will take a look! @jonyhy96

[2021-12-15 07:13] pacoxu commented on #105021
/lifecycle stale

[2021-12-15 07:13] pacoxu commented on #105021
/remove-lifecycle stale

[2021-12-15 07:53] yedamao commented on #106989
/assign

[2021-12-15 08:09] aojea commented on #107033
should we try to get this in 1.23.1?

[2021-12-15 08:57] yongzhang opened #107043 "GracefulNodeShutdown not work"
### What happened?

For 1.21, by checking https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/,
I added below args to `kubelet-config.json`:
[code]
I can see `99-kubelet.conf`:
[code]

But I can't see inhibitor from kubelet:
[code]

### What did you expect to happen?

I should be able to see inhibitors from kubelet like this?
[code]

### How can we reproduce it (as minimally and prec

[2021-12-15 08:59] pohly commented on #107012
I see three possible solutions:
- an explicit parameter that says "always use fmt.Fprintf": this might be the safer solution for kubectl because it is unclear whether output via klog.ErrorS is ever desired
- tweak the heuristic:
  - check that a command was found (as done by @xyz-li in https://github.com/kubernetes/kubernetes/pull/107028): this works for this case, but I am worried that it is too

[2021-12-15 09:01] b0b0haha opened #107045 "Use zone from node for topology aware volume creation"
### What happened?

Similar to [#78276](https://github.com/kubernetes/kubernetes/pull/78276)

It seems in other cloud providers also have the same problem. when the node selected, it's inefficient and redundant to list instances for getting candidate zones.
- azure

  https://github.com/kubernetes/kubernetes/blob/c1e69551be1a72f0f8db6778f20658199d3a686d/pkg/volume/azuredd/azure_provision.go#L250-L

[2021-12-15 09:03] b0b0haha commented on #107045
/ sig/scalability
/ sig/storage

[2021-12-15 09:05] b0b0haha commented on #107045
/sig scalability
/sig storage

[2021-12-15 09:08] saschagrunert commented on #106974
We removed the requirement for the `apparmor_parser` binary on purpose in https://github.com/kubernetes/kubernetes/pull/97968, because the kubernetes components do not need it. The containerd runtime would need it in this case, so it should be a dependency of containerd.

[2021-12-15 09:42] pacoxu commented on #107024
@tutorguai  would you try to use `kubectl delete pod --grace-period=120s PodName` to confirm if the behavior is the same?

I mean you can run `kubectl delete pod --grace-period=120s PodName` and if the prestop hook is also not triggered, it would be a problem of the hook. If the hook is triggered by `kubectl delete`, it would be an eviction problem.

And also you can do some comparison between `ku

[2021-12-15 09:45] cixtor commented on #8976
/close

[2021-12-15 09:50] pohly commented on #107012
@xyz-li pointed out `kubectl kustomize` as one example where an error is returned after parsing is done and the command really ran. Other commands use `cmd/util.CheckError` and don't return, but `kustomize` (accidentally or intentionally, not sure) doesn't do that and returns, which is not handled correctly by `cli.Run` no matter what heuristics we use.

Therefore we need a way for `kubectl` to ov

[2021-12-15 09:50] tutorguai commented on #107024
@pacoxu
I run kubectl delete pod --grace-period=120s PodName is Normal. the hook is triggered.
And the rolling update is completely smooth

[2021-12-15 10:10] pacoxu commented on #106663
/triage accepted
/priority important-soon
currently the top flake 😄

[2021-12-15 10:19] matthyx commented on #106682
Feature gate, does it mean a KEP is needed? Do we still consider it a bug then?

[2021-12-15 10:19] jonyhy96 commented on #107024
could you please post some logs info on kubelet start with `Eviction manager`

[2021-12-15 10:55] arrowfeng commented on #107020
think you!

[2021-12-15 10:55] #107020 closed

[2021-12-15 10:57] bboreham commented on #54525
According to [StackOverflow](https://stackoverflow.com/a/67737026/448734):

[2021-12-15 11:20] jorotg commented on #91444
Are there any plans for fixing this issue as year and a half later it's still present and blocks our security audits?

[2021-12-15 11:29] tutorguai commented on #107024
@jonyhy96
KubeletConfig:
![image](https://user-images.githubusercontent.com/20591674/146178079-a21f3166-8a09-47e9-97c9-9a0a84e179cc.png)
disk usage:
![image](https://user-images.githubusercontent.com/20591674/146178146-352fcab8-85ca-4373-bddd-41e258e8b4c0.png)

evicted log:
`I1215 19:22:27.075748   77158 eviction_manager.go:243] eviction manager: synchronize housekeeping
I1215 19:22:27.124029   77

[2021-12-15 11:38] Abijeet123 commented on #102545
/assign

[2021-12-15 12:30] siegenthalerroger commented on #85966
/reopen
/remove-lifecycle rotten

As mentioned above, I haven't been able to test this on a new 1.22 cluster as of yet, so I can't verify that this is actually fixed/done.

[2021-12-15 12:32] serathius commented on #107033
@aojea Yes, we just moved JSON and Structured Logging to Beta in v1.23. This bug should cause performance issues when there is non trivial amount of errors (>1%) written by control plane. I expect that this has really bad impact on upgrades which I have seen can reach 30% of error logs from apiserver.

[2021-12-15 12:42] serathius opened #107049 "Prevent performance regressions for JSON logging format"
I would want to discuss potential ways that we can avoid issues like https://github.com/kubernetes/kubernetes/pull/107035

Ideas:
* Run periodic scalability tests with JSON logging enabled
* Collect and agree upon set of logging performance metrics that should be verified before release (for example https://github.com/kubernetes/kubernetes/issues/107029)

I would want to start the discussion so we

[2021-12-15 13:26] reespozzi opened #107053 "Allow wildcards in field selectors"
Is there a possibility to add wildcards for these queries? For example, trying to run 'kubectl get pods --field-selector metadata.name=common-* -o name -n civil | xargs kubectl delete'. Would help clearing out multiple pods.

[2021-12-15 13:35] serathius commented on #107029
When investigating https://github.com/kubernetes/kubernetes/issues/107033 I have read current info log buffering logic. From what I understood it doesn't follow the original idea presented in https://github.com/kubernetes/klog/issues/209 as we just batch writes instead of shredding when buffor gets full. This made me think if the currently presented criteria in this issue would distinguish between

[2021-12-15 13:35] serathius commented on #107029
/cc @wojtek-t

[2021-12-15 13:36] serathius commented on #107049
/triage accepted

[2021-12-15 13:37] cptTomato commented on #52386
Same problem here. Node could help itself and is running smooth now, but want to fix that issue quickly.

[2021-12-15 13:48] Zikoel commented on #52386
In my case (I'm on GKE) I had an error on pool configuration! I setted the maximum spownable pod number on a node to a very small value (eg. 10, default 110). The node rapidly reach that number and k8s evict randomly the exceeded pods. What is wrong in my case is that the node log `MemoryPressure` so I have search the error in the wrong place for a lot of time! I understand that is only for my spe

[2021-12-15 14:31] sftim commented on #106365
I recommend opening a documentation issue against [k/website](https://github.com/kubernetes/website) that explains the docs change to make here.

Ideally: be reasonably thorough, as the technical details here seem quite subtle.

[2021-12-15 14:32] sftim commented on #106057
I propose to transfer this issue to [k/website](https://github.com/kubernetes/website).

[2021-12-15 15:03] Shuanglu commented on #106410
thanks! I found in 5 years ago the commit removed the filter of 'inactive pods' because it said 'Recreate Deployments need to verify that no Pods from older versions are running before spinning up new Pods'
https://github.com/kubernetes/kubernetes/commit/97fed0aff48637381edcef3b95f8d55ec4bf78d6#diff-c553184997fa4c9f63e697af2f39eb2e6fb43eeff64a0ef66c9e955f61347b02L540
in another commit 3 years ago

[2021-12-15 15:35] bg-chun commented on #106410
@Shuanglu
This https://github.com/kubernetes/kubernetes/issues/54525#issuecomment-367786176 says that the DaemonSet controller deletes failed pod due to the issue(https://github.com/kubernetes/kubernetes/issues/36482), PR is here https://github.com/kubernetes/kubernetes/pull/40330
Not sure, ds controller sill  show the same behavior or not tho.

What i am trying to say is that `if the only matter

[2021-12-15 15:45] RA489 commented on #100695
/remove-lifecycle stale

[2021-12-15 16:10] mattcary commented on #106663
Thx, I'll get back to looking at it.

[2021-12-15 16:25] #107033 closed

[2021-12-15 16:32] Shuanglu commented on #106410
following the https://github.com/kubernetes/kubernetes/issues/54525#issuecomment-367786176 you mentioned, there is a PR https://github.com/kubernetes/kubernetes/pull/60301 mentioned the design was to wait for RS controller to clean up the evicted one. Also another comment https://github.com/kubernetes/kubernetes/issues/54525#issuecomment-367845264 discussed about 'which controller should delete'.

[2021-12-15 16:52] liggitt commented on #106129
With the current implementation, baseline checks and restricted checks are run independently

Some baseline and restricted checks overlap in what they check (examples in the issue description), such that the restricted check enforces everything the baseline check does and more.

A pod submitted to a restricted namespace that fails both checks will get two errors returned, when it really only needs

[2021-12-15 17:10] sftim commented on #107053
/retitle Allow wildcards in field selectors

[2021-12-15 17:10] sftim commented on #107053
/sig api-machinery
/kind feature

[2021-12-15 17:11] sftim commented on #72196
(Near-)duplicated by issue #107053

[2021-12-15 17:13] sftim commented on #72196
If the match is for simple glob patterns rather than regular expressions, does that change things?

[2021-12-15 17:36] gnufied commented on #34549
FWIW the bug still exists, so lets keep it open. It is kinda hard to fix though.

/reopen

[2021-12-15 17:39] johnSchnake commented on #105953
This actually just came up and _helped_ me find a bug elsewhere. I was able to just mount the pwd as the results directory (which is an alternative to fixing this at all). In my case, I actually didn't expect to need that at all, so I realized the entrypoint for the conformance image had changed and I had to invoke the image with the `--entrypoint=...` option before specifying the image name.

[2021-12-15 17:49] SergeyKanzhelev commented on #107043
/assign @bobbypage @wzshiming

Can you please triage?

[2021-12-15 17:53] #106696 closed

[2021-12-15 18:02] PaulFurtado commented on #70262
This did finally turn into a bug way down the line in kubernetes 1.20: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1082

[2021-12-15 18:16] SergeyKanzhelev commented on #106635
/assign @fromanirh

Maybe related to https://github.com/kubernetes/kubernetes/issues/103691

[2021-12-15 18:32] NikhilSharmaWe commented on #106989
/assign

[2021-12-15 18:37] SergeyKanzhelev commented on #106942
/assign @matthyx

[2021-12-15 18:39] SergeyKanzhelev commented on #106957
/assign @bobbypage

for triage

[2021-12-15 18:43] SergeyKanzhelev commented on #106962
the description says: "Created mounts to be cleaned up properly when Pod container gets recreated.' but repro steps doesn't have any "recreation" step. Can you please clarify?

/triage needs-information

[2021-12-15 18:46] SergeyKanzhelev commented on #106919
it looks like issue on containerd side. Let's keep it open to track the progress

[2021-12-15 18:46] SergeyKanzhelev commented on #106919
/triage accepted

[2021-12-15 18:47] invidian commented on #106962
What do you mean there is no recreation steps? If you follow the reproduction steps, last step will show you growing number of mounts over time. There is also an example output in the next section. I'm not sure what needs to be clarified.

[2021-12-15 18:49] SergeyKanzhelev commented on #107024
/remove-kind bug
/kind feature

I think it is more like a feature request to allow evicted pods to execute hooks.

[2021-12-15 18:51] SergeyKanzhelev commented on #106977
/assign @bobbypage
/cc @ike-ma

[2021-12-15 18:51] SergeyKanzhelev commented on #106977
/triage accepted

[2021-12-15 18:52] SergeyKanzhelev commented on #106974
/remove-sig node

[2021-12-15 18:54] SergeyKanzhelev commented on #106972
/triage accepted

[2021-12-15 19:09] jsturtevant commented on #106919
This is an interesting idea, @SergeyKanzhelev is anything like this done else where?

[2021-12-15 19:26] neolit123 commented on #106974
ok, so if containerd needs it, it's a problem with the deb/rpm packages of containerd.
it's not a problem with the kubelet/kubeadm packages that we maintain.

please report this to containerd.

it might be a problem with the docker reporsitory we are using for installing containerd in the k8s docs:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd
if so, PRs to

[2021-12-15 19:27] neolit123 commented on #106974
/close

[2021-12-15 19:28] #106974 closed

[2021-12-15 20:26] charleszheng44 commented on #72196
Since glob only supports a small set of metacharacters, the overheads should be tolerable? Maybe we can run a benchmark to show that even a bad(complicated) glob pattern would not cause significant overheads?

[2021-12-15 20:51] samj1912 commented on #106846
cc @imjasonh and his experiment at https://github.com/imjasonh/client-go2

[2021-12-15 20:57] imjasonh commented on #106846
This was also a stumbling block for me.

My experiment requires passing in a GVR to create the client, which is a bit of a wart. If types had a method that returned their GVR, we might be able to get it from the type, even if the instance is `nil`. This could either be generated, or hand-written -- I think it's a relatively small cost in toil to not have to deal with codegen again.

Something like

[2021-12-15 21:05] imjasonh commented on #106846
Another place outside of client-go where I could see generics being useful is in controllers' workqueues and reconcile loops.

Even though the SharedInformerFactory code is all generated, I see a lot of instances (in frameworks, or hand-written) where people are hooking up the EventHandler to just immediately decode the key and put it in a workqueue, then they consume that queue to reconcile and u

[2021-12-15 21:57] benluddy opened #107059 "TestProxyHandler fails with test.count greater than 1"
This test asserts on the value of a global counter. When run with -test.count > 1, it passes once and fails all subsequent runs.

### Failure cluster [d12b09d3e6d011d68e49](https://go.k8s.io/triage#d12b09d3e6d011d68e49)

##### Error text:
[code]
#### Recent failures:
[12/15/2021, 4:50:06 AM ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-

[2021-12-15 22:01] novotnej commented on #60964
After three days pulling my hair out I can confirm that this has not been fixed (or perhaps became broken again). My service is headless, service selector is set correctly.

This could be a core-dns issue, because when I exec into the pods (mysql-0 and mysql-1), after several attempts the hostnames will resolve successfully, but weirdly sometimes it doesn't even resolve its own name, let alone of

[2021-12-15 22:02] benluddy commented on #107059
/assign

[2021-12-15 22:57] SergeyKanzhelev commented on #106720
/assign @leiyiz

same as https://github.com/kubernetes/test-infra/pull/24490

[2021-12-15 22:57] SergeyKanzhelev commented on #106719
/assign @leiyiz

same as https://github.com/kubernetes/test-infra/pull/24490

[2021-12-15 23:22] leiyiz commented on #106719
I don't see them failing in the testgrid ![image](https://user-images.githubusercontent.com/35821728/146280101-11fc753c-4f95-4391-b519-87b75cd6e568.png)

[2021-12-15 23:28] pbxqdown commented on #72196
Is implementation on client side not feasible? Maybe we can fetch all the pods info first and then do regex on client side. In this case there is no overhead incurred on server side.

[2021-12-15 23:30] SergeyKanzhelev opened #107062 "Tests on sig-node-containerd#cos-cgroupv2-containerd-node-e2e-serial are failing"
### Which jobs are failing?

sig-node-containerd#cos-cgroupv2-containerd-node-e2e-serial

### Which tests are failing?

[code]

### Since when has it been failing?

11/30, maybe earlier

### Testgrid link

https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-node-e2e-serial

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### R

[2021-12-15 23:32] SergeyKanzhelev opened #107063 "Tests on sig-node-containerd#node-kubelet-containerd-eviction are failing"
### Which jobs are failing?

containerd eviction tests

### Which tests are failing?

[code]

### Since when has it been failing?

12/10, seems like since ported from dockershim

### Testgrid link

https://testgrid.k8s.io/sig-node-containerd#node-kubelet-containerd-eviction

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Relevant SIG(s)

[2021-12-16 01:02] SergeyKanzhelev opened #107067 "Tests sig-node-node-problem-detector#ci-npd-e2e-node are failing"
### Which jobs are failing?

NPD e2e

### Which tests are failing?

Tests wouldn't start

### Since when has it been failing?

12/08

@bsdnet suggested it may be related to https://github.com/kubernetes/node-problem-detector/pull/629

/cc @Random-Liu

### Testgrid link

https://testgrid.k8s.io/sig-node-node-problem-detector#ci-npd-e2e-node

### Reason for failure (if possible)

_No response_

###

[2021-12-16 01:03] SergeyKanzhelev opened #107068 "Tests sig-node-cos#e2e-cos-alpha-features wouldn't start"
### Which jobs are failing?

e2e-cos-alpha-features

### Which tests are failing?

All

### Since when has it been failing?

I'm not sure it was ever running.

### Testgrid link

https://testgrid.k8s.io/sig-node-cos#e2e-cos-alpha-features

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Relevant SIG(s)

/sig node
/priority important-longt

[2021-12-16 01:24] SergeyKanzhelev commented on #104556
/close

this was fixed by https://github.com/kubernetes/test-infra/pull/24405/files

[2021-12-16 01:24] #104556 closed

[2021-12-16 01:34] charleszheng44 commented on #72196
@pbxqdown Client-side filtering is viable but it requires the server to transfer all objects to the client which may cause extra network overheads.

[2021-12-16 01:55] leiyiz commented on #106626
Searching for `[Driver: gcepd]` in the linked testgrid did not show anything

[2021-12-16 01:55] leiyiz commented on #106720
Searching for [Driver: gcepd] in the linked testgrid did not show anything

[2021-12-16 02:02] vovasoft commented on #40422
We need to provide an alternative to rollout history change-cause before deprecating --record.

[2021-12-16 02:30] pacoxu commented on #107068
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-alpha-features/1466339771365199872/artifacts/bootstrap-e2e-master/kubelet.log
kubelet log shows error below:

[2021-12-16 02:39] pacoxu commented on #107068
We tried to fix it in #102300 before. I opened https://github.com/kubernetes/test-infra/pull/24696.

[2021-12-16 02:43] tutorguai commented on #107024
@SergeyKanzhelev
Is this normal? Is this the expected behavior of kubelet？
I'm worried about this because of some of my misconfiguration problems.

[2021-12-16 03:07] kimvu3010 commented on #93925
Hi,
any progress on this issue. I'm still having this on kubelet version 1.21

[2021-12-16 03:21] pacoxu commented on #107062
[code]

The failure is caused by the `reduceAllocatableMemoryUsage` execution error.

https://github.com/kubernetes/kubernetes/blob/522c1be4c17a6b40c5687f5323876a477cb0b100/test/e2e_node/util.go#L471-L478

[2021-12-16 03:23] jonyhy96 commented on #107024
After dig into code of v1.19.6, evicted pod are treat normally just like delete pod.
The are [two conditons](https://github.com/kubernetes/kubernetes/blob/v1.19.6/pkg/kubelet/kuberuntime/kuberuntime_container.go#L623) for a prehook run:
1. container.Lifecycle.PreStop is been set
2. gracePeriod is greater than 0

From the log u post, we can see the gracePeriod is set correctly. I wonder if this is

[2021-12-16 03:37] RyanAoh commented on #100726
According to the log, an event was recorded for the job. You can find it by `kubectl describe job xxx`.
[code]

[2021-12-16 03:46] pacoxu commented on #107062
In cgroup v1,  memory.force_empty can trigger forced page reclaim

[code]
I am not sure which is the suggested way to force reclaim page in group v2. I open a PR to skip this logic once cgroup v2 is detected.

[2021-12-16 03:47] tutorguai commented on #107024
@jonyhy96
yaml:
test.yaml

Rolling updates meet expectations

[2021-12-16 03:51] tutorguai commented on #107024
@jonyhy96
[test.yaml.txt](https://github.com/kubernetes/kubernetes/files/7724423/test.yaml.txt)

Rolling updates meet expectations.

[2021-12-16 03:58] jonyhy96 commented on #107024
Looks correct, the preStop should be triggered. Do u have a slack acount? May need add some log to kubelet to determine what is going wrong.

[2021-12-16 06:14] matthyx commented on #106942
Mounting a file using a subpath is fine, however I think mounting the same `path` using `hostPath` twice isn't.
Why do you need both?
Can you try deleting `cudagpu` and use `cudald` in both places?

[2021-12-16 06:41] #107068 closed

[2021-12-16 07:46] tutorguai commented on #107024
@jonyhy96  481428978@qq.com

[2021-12-16 08:32] denkensk commented on #106802
@collimarco
Job example in argo-workflows may help you.
https://github.com/argoproj/argo-workflows/blob/master/examples/k8s-jobs.yaml

[2021-12-16 08:48] aojea commented on #106682
see the precedence https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1972-kubelet-exec-probe-timeouts

maybe we should have a process just for it, but the feature gate avoids breaking users and roll out the change smoothly

[2021-12-16 08:53] matthyx commented on #106682
Exactly, so I suggest we change kind to feature and/or close that bug.

[2021-12-16 08:59] aojea commented on #106682
heh, this is the paradox: "it is a bug that has to be fixed as a feature"

[2021-12-16 10:11] yedamao commented on #106989
@mborsz I noticed the `endpoints_controller_test.go` using time.Sleep, too. https://github.com/kubernetes/kubernetes/pull/107073 this PR migrate endpoints controller tests to mock clock. Please take a look.

[2021-12-16 10:16] ke1satsu commented on #106977
Can confirm that the binary soider shared works with a rpi3 with no issues in my test cluster.

[2021-12-16 10:20] 78Star commented on #70082
I am getting these messages also, and am locked out of the webUI. Running on raid 1 SSD.

[2021-12-16 10:24] SvenMW commented on #70082
to quote myself where I already quoted myself:

    this really seems to be related to poor disk performance for etcd.
    apparently this only works with ssd like performance.

so please state your sustained SSD Performance in IOPS.

I would advice to not use some desktop SSDs because these tend to not be able to deliver sustained IOPS for a long time.

HTH

[2021-12-16 10:51] raelga commented on #78352
It has been open for too long. If we find the resources to actually implement it, we will open a new one.

/close

[2021-12-16 10:51] #78352 closed

[2021-12-16 11:21] marseel commented on #107029
- What disk IOPs and throughput (or any other requirements) we are expecting cluster administrators to provide for proper funcionality.
I think we could figure out what IOPs is needed for such amount of logs. We can later add it to https://github.com/kubernetes/community/blob/master/sig-scalability/configs-and-limits/provider-configs.md#additional-configuration-requirements
Currently we only have

[2021-12-16 11:50] minbaev commented on #106765
Hello, I would like to start working on this issue

[2021-12-16 12:21] collimarco commented on #106802
@denkensk Yes, that is a normal Job defined in Argo Workflows...

However you are defining a sequence of imperative commands and you can't use an entirely declarative approach. On the other hand, using `kubectl apply -f my-entire-app.yml` with migration `Job`+`InitContainer` you can use a **declarative approach**, **one command** and **only based on Kubernetes**.

For example one of the drawbacks

[2021-12-16 12:27] guillaumBrisard commented on #72794
I think this issue needs to be reopened
It's still not straight forward with this tool

[2021-12-16 12:37] serathius commented on #107029
Yes, I think it makes sense.

I agree we need metric to better understand how logging behaves in scale. There are three separate things that we could measure. Latency of info logs, latency of error logs, latency of log flush (done every 5 seconds).

One worry that I have is that in most cases logging is to fast and frequent to reliably measure latency. I would expect high overhead when calculating

[2021-12-16 13:14] denkensk commented on #106802
@collimarco  In my personal opinion, I think the `DAG` operator like `argo-workflow` is more general than `InitContainer`. Migration + Deploy is just two stages. It's easy to use initContainer to control the order.

But based on my actual experience with Argo-Workflow in a production environment, the graphics may be more complex, there will be at least 5 or more stages. If we chose to use InitCont

[2021-12-16 13:31] klueska opened #107074 "Exclusive CPUs not removed from deleted Pod and put back in the defaultCPUSet."
### What happened?

The `CPUManager` has logic to periodically cleanup stale state and reclaim exclusive CPUs from pods that have recently terminated. It does this by querying the system for a list of `activePods()` and reclaiming CPUs from any pods it is tracking that are not in this list.

This works fine for most pods, but special care needs to be taken to ensure that CPUs are not accidentally

[2021-12-16 13:41] cynepco3hahue commented on #107074
/cc @cynepco3hahue

[2021-12-16 13:44] hakman commented on #106893
@adisky Should `--container-runtime` also be removed together with the logic behind it?
With the dockershim support removal, the only valid value for it is `--container-runtime=remote`.

[2021-12-16 13:53] jsafrane commented on #106729
Can you still reproduce it in 1.22? I think I fixed it there with https://github.com/kubernetes/kubernetes/pull/100183, 1.21 backport is in progress in https://github.com/kubernetes/kubernetes/pull/107014

[2021-12-16 14:29] claudiubelu commented on #106751
Duplicate of: https://github.com/kubernetes/kubernetes/issues/106278

[2021-12-16 14:29] #106751 closed

[2021-12-16 14:31] vrusinov commented on #92463
/remove-lifecycle stale

This is still happening. In general kubernetes RPM repository is not in the best shape.

[2021-12-16 15:42] pohly commented on #107033
It's worth pointing out that this regression only occurs when writing to a disk-based file (see https://github.com/kubernetes/kubernetes/pull/107032#issuecomment-995933422).

That also provides a very likely explanation for the huge performance difference: I bet zap not only flushes its buffered info messages, it also syncs the file. That is fast for tmpfs, but slow for real disks.

[2021-12-16 15:48] pohly commented on #107033
@serathius: do you know how the Kubernetes components are run in those cases where logging performance matters? Do they directly write to a real disk or does it all go through pipes? If it is the latter, then this issue matters a lot less in practice.

@dims: you mention at some point that you had scalability issues with logging that went away when using go-runner as wrapper instead of using klog'

[2021-12-16 16:18] #103745 closed

[2021-12-16 16:22] adisky commented on #106893
@hakman It makes sense to remove `--container-runtime` from codebase but this flag has not been marked as deprecated we need to deprecate the flag first and remove in further releases

[2021-12-16 16:53] jayunit100 opened #107078 "Remove or parameterize google.com from test cases"
### What happened?

We added pinging google.com to the original E2Es, however in airgapped environments, these tests fail for obvious reasons:

[code]

- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/hybrid_network.go
- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/networking.go
- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/

[2021-12-16 16:55] neolit123 commented on #106893
removing the `--container-runtime` flag from 1.24 would break existing non-docker users.
as @adisky explains it should be marked as deprecated first.

for 1.24 i suggest:
- marking the flag as deprecated with `fs.MarkDeprecated` and keeping it for 1 year (3 releases).
- defaulting it to `remote`, current default is `docker` (option should be removed in code / flag description). this aligns with th

[2021-12-16 16:56] devedse opened #107079 "Feature request: Support for "host-gateway" in "hostAliases""
### What happened?

Output of `helm version`: `v3.6.3`

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Local Docker Desktop for Windows with WSL

### Introduction

Our solution currently consists of quite a significant number of containers. Some of these containers expose API endpoints and we expose these externally.

The different container endpoints call

[2021-12-16 17:02] claudiubelu commented on #106613
Indeed, that container died, but another one was created and started later:

[code]

In addition to that, we can see the pod logs in the test failure. The ``/etc/podinfo/annotations`` file is printed 65 times, with a 2 sec sleep in between them, which translates to about 2 minutes, which is how long the test waits for the Pod updates to propagate. Technically, the Update is seen by the Kubelet, bu

[2021-12-16 17:04] hakman commented on #106893
Sounds good to me @adisky @neolit123. I was planning to do it in a similar way. Will open a PR for it tomorrow.

[2021-12-16 17:06] jayunit100 commented on #107078
some of these were recently removed by @andrewsykim :) but some more to remove i think

[2021-12-16 17:13] ksliu58 commented on #86064
To close the loop on this, EBS had completed deploying the fix for Xen instances as of October 20th. This issue should now be resolved for both Nitro and Xen instances.

Please let us know if you are still running into this issue on Nitro instances.

[2021-12-16 17:46] marosset commented on #102849
We should check if this PR addresses the issue when running containerd on Windows
https://github.com/containerd/continuity/pull/188

[2021-12-16 17:56] jsturtevant commented on #102849
Reviewing the issue https://github.com/containerd/containerd/issues/6235

it looks like that is for files created from container -> host, whereas we need host-> container here

from https://github.com/containerd/containerd/issues/6235:
[code]

[2021-12-16 18:08] minbaev commented on #106765
@gjtempleton @mwielgus Hi do you think i can start looking into adding the dry-run?

[2021-12-16 18:26] minbaev commented on #106886
Hi, I would like to work on this item

[2021-12-16 18:44] alculquicondor commented on #106127
For backwards compatibility, we need this to be an option, but it should probably be in the constraint (pod spec).

[2021-12-16 18:58] D1StrX opened #107082 "Server logs getting spammed multiple times per second with Container Runtime log"
### What happened?

Journal is getting spammed multiple times in a second with:
[code]

### What did you expect to happen?

Not spamming the journal

### How can we reproduce it (as minimally and precisely as possible)?

Configure a K8s 1.22+ (also on 1.23 this issue persists) cluster using for the container runtime either;
- CRI-O,
- Containerd
- (and according to other issues also Docker)
- Cali

[2021-12-16 19:07] joshsten commented on #70585
We are also seeing a small, but unexpected amount of throttling with static cpu policy and fully guaranteed QoS (with integer core count) on containers.

[2021-12-16 19:21] #99299 closed

[2021-12-16 19:57] leiyiz commented on #100840
I think the ROX fix PR has only [enforced mounting at stage](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/869/files#diff-bef61844c77487093fb2a2a150d7c604f293f2a770c937c5be45f3f905e251f6L311) and next step is to see if attach step enforced with `csi.readonly` set

[2021-12-16 20:04] zolbarna commented on #106977
Hello guys.

Run into the same error messeages yesterday on my RPI4. OS: Debian Buster.

Can I help you in any way with a testing?

[2021-12-16 20:11] zolbarna commented on #106977
Done already. With the attached version my RPI was able to join to the cluster.

Thank you guys!

[2021-12-16 21:11] fedebongio commented on #107053
/triage accepted

[2021-12-16 21:11] fedebongio commented on #107059
/assign @aojea
/triage accepted

[2021-12-16 21:22] #103618 closed

[2021-12-16 21:28] joejulian opened #107086 "dry-run returns unwanted metadata fields"
### What happened?

Running kubectl create with dry-run returns unwanted uid metadata field, as well as a generated name when using generateName.

This is inconsistent with the expectations as defined in [KEP 576](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/576-dry-run/README.md#generated-values) which states

[code]

### What did you expect to happen?

I expected

[2021-12-16 21:29] joejulian commented on #107086
/sig api-machinery

[2021-12-16 22:32] hightechrdn commented on #105204
I am also seeing these MountVolume.SetUp failed errors with a freshly deployed OpenShift 4.9.5 cluster when attempting to create a cronjob to sync LDAP groups to OpenShift. Errors look very similar to those posted by @tosmi

We just upgraded the cluster to 4.9.11 and will retest tomorrow.

[2021-12-16 22:52] #107059 closed

[2021-12-16 22:54] mattcary commented on #103866
/remove-lifecycle rotten

@jpbetz do you know how this is interacting with cloud-provider-gcp?

[2021-12-16 22:56] system-pclub opened #107089 "goroutine leaks in TestConfigurationChannels"
### What happened?

Two goroutines are leaked in [TestConfigurationChannels](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/config/config_test.go#L24-L34).

The two goroutines are created inside function mux.Channel() ([line 77](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/config/config.go#L77)). They block at the range statement ([line 82](https://github.com/kubern

[2021-12-16 23:14] gjtempleton commented on #106765
Hi, as much as I can see how this feature might be useful, before starting work on it it'd be best to get a clearer idea of exactly how you're wanting to implement this, what changes implementation would require to the HPA, and thus whether a full [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/0000-kep-process/README.md) is required for this. If you want to disc

[2021-12-16 23:20] sftim commented on #107053
Accepted but closed?

[2021-12-16 23:30] sftim commented on #107043
@yongzhang does your cluster have this beta feature enabled? It looks like you're running a managed Kubernetes distribution (EKS) that doesn't yet offer this feature.

[2021-12-16 23:31] sftim commented on #106980
/retitle Update links to IANA for Service Name and Transport Protocol Port Number Registry

[2021-12-16 23:31] sftim commented on #107008
/sig docs
/kind documentation

[2021-12-17 00:03] pothitos commented on #49387
Hello! A small fix to the above (very useful) comment.

The `+` should be inside the parentheses of the matching patterns, like

[code]

P.S. I omitted `$0` as it's not necessary.

[2021-12-17 00:34] leiyiz commented on #100840
if the `csi.readonly` is set, attacher will take it and pass to pdcsi driver in the `ControllerPublishVolumeRequest`. So this should be working

[2021-12-17 01:23] yongzhang commented on #107043
Yes I’m using AWS EKS, but the feature gate should be enabled by default in 1.21?

[2021-12-17 01:45] pbxqdown commented on #72196
@charleszheng44 It would be like network overheads vs regex processing overhead on server.
If sever side doesn't support field selector then network overhead can not be avoided. Because we anyway need to fetch all objects info and filter them on client side.

[2021-12-17 02:54] lujunlai opened #107093 "PROTOCOL_ERROR"
https://github.com/kubernetes/kubernetes/blob/362312176766a03976a8a55b7d5aa5ac89263d4a/pkg/volume/csi/csi_client.go#L538

ref:
https://github.com/grpc/grpc-go/issues/2628
https://github.com/grpc/grpc-go/pull/3730/files

Target should start with unix: to avoid setting empty authority header according to RFC-3986.

[2021-12-17 02:56] pacoxu commented on #107082
/kind support
/remove-kind bug

Some suggestions in https://askubuntu.com/questions/1200680/avoid-systemd-unit-service-to-be-logged-in-journal to add a LogLevelMax parameter in your systemd service configuraiton.

[2021-12-17 03:10] pacoxu commented on #107079
/kind feature
/remove-kind bug
/sig network

[2021-12-17 03:22] pacoxu commented on #107079
https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api
Currently, we support exposing pod info to containers by env. `status.hostIP` is supported.

BTW, https://coredns.io/plugins/hosts/ Coredns also support customized hosts list.

[2021-12-17 03:27] minbaev commented on #106765
Thank you for you response. I can attend the sig office hours to discuss details

[2021-12-17 03:36] #106780 closed

[2021-12-17 03:36] bpinske commented on #79272
To further illustrate the difference between these two interpretations of a metric, consider the following kafka lag scenario with the metric being interpreted as an averageValue.

100 partitions each at a lag of 50k units for a sum of 5000k lag with a lag threshold of 100k per-consumer with 10 consumers will result in a per-consumer lag of 500k. A scale up will occur to process the 5000k lag.

10

[2021-12-17 04:23] #103731 closed

[2021-12-17 04:59] adisky commented on #106893
sorry @hakman I saw the reply just now created the PR #107094

[2021-12-17 05:07] pacoxu commented on #107079
[code]
I did an example like above.
[code]
`10.6.177.40 xxx.com` is added to the `/etc/hosts`.

[2021-12-17 05:13] hakman commented on #106893
@adisky I was thinking of removing the code behind it too, to make it a no-op. As is now, it would create more confusion. What do you think?

[2021-12-17 05:32] adisky commented on #106893
We can do that in followup some of it is conflicting with #106907, it would be cleaner to do after  #106907 gets merged

[2021-12-17 06:02] MadhavJivrajani commented on #107093
/sig storage

[2021-12-17 06:05] MikeSpreitzer opened #107097 "Various bugs in APF configuration producing controller"
### What happened?

While reviewing #105800 I noticed some things.

1. The annotation key `apf.kubernetes.io/autoupdate-spec` is not mentioned anywhere in the user-facing documentation (https://kubernetes.io/docs/concepts/cluster-administration/flow-control/) --- but it should be.

2. https://github.com/kubernetes/kubernetes/blob/712745cb6755b3a28ca12292b30d138d5f737aa6/pkg/registry/flowcontrol/en

[2021-12-17 06:06] MikeSpreitzer commented on #107097
@kubernetes/sig-api-machinery-bugs

[2021-12-17 06:06] MikeSpreitzer commented on #107097
@tkashem
@deads2k
@wojtek-t
@lavalamp

[2021-12-17 06:57] NaincyKumariKnoldus commented on #106876
Bydefault tolerationseconds is 30s , but if you give 0 value, then it will evict the pod as soon as possible.

[2021-12-17 07:29] saikat-royc commented on #105899
/assign

[2021-12-17 08:02] D1StrX commented on #107082
This workaround/feature is only available for Systemd v246 and higher. Ubuntu 20.04LTS only has 245.4 [available](https://repology.org/project/systemd/versions). Providing the parameters in _/etc/systemd/system/run-containerd-runc-.mount.d/override.conf_ doesn't work for that reason. But I know for sure this is the right service, because nonmeaning lines show up in the Journal as warnings when pro

[2021-12-17 08:08] zerols opened #107100 "kube-controller-manager leader node shutdown, node status change slowly"
### What happened?

Another master node become a new leader of kube-controller-manager and start controllers like attachdetach ...
but i have found start the controllers one of them wolud spend long time than others , one of them will be 30s longer than the others, like this：

[code]
[code]

my question:
- shutdown one of k8s master ( not etcd leader、kube-controller-manager leader)
- shutdown kube

[2021-12-17 08:19] pohly commented on #107012
@xyz-li reviewed https://github.com/kubernetes/kubernetes/pull/107044, but we still need someone with the necessary permissions to LGTM and approve it.

[2021-12-17 08:23] pohly commented on #106258
/close

The conclusion of the code review of https://github.com/kubernetes/klog/pull/269 was that such helper functions would not be useful enough to justify the extra complexity.

We also concluded that different formatting depending on the output format (text and struct) may often not be necessary. Unless it is known that the developer or users expect a struct in JSON, let's just stick with dump

[2021-12-17 08:23] #106258 closed

[2021-12-17 08:47] aojea commented on #107078
They should have the corresponding tags so they can be filtered

[2021-12-17 08:49] clementnuss commented on #73356
if someone arriving on this issue is looking for a way to auto-approve kubelet-serving CSR, you might want to check this controller I recently wrote to achieve that goal.
unlike existing approvers, this one implements a series of validation to prevent attackers from forging certificates
https://github.com/postfinance/kubelet-csr-approver

[2021-12-17 09:31] devedse commented on #107079
Out of curiosity, will this also work if the ip address changes while the pod is running? Or can we think of another solution for that?

[2021-12-17 09:55] jsafrane commented on #105899
@saikat-royc yes, your summary is correct. We persist a json, please make sure it contains anything that NodeUnstage may need.
It seems to me that people prefer option 2.2.

We already do `sha256(node name, driver name, volume ID)` to uniquely identify VolumeAttachment. So far nobody complained about any conflict.

[2021-12-17 10:16] #106745 closed

[2021-12-17 10:22] Shubham82 commented on #104108
Hi, folks
I would like to work on this.
/assign

[2021-12-17 10:25] pacoxu commented on #107100
For nodeipam in `pkg/controller`, I can only find two 10 seconds. But I'm not sure which takes effects or another params.
[code]

[2021-12-17 10:33] sftim commented on #107053
/reopen
This request is simpler and looks more viable.

[2021-12-17 11:09] zerols commented on #107100
Forgot to mention the kube-controller-manager configuration：
    - --leader-elect-lease-duration=4s
    - --leader-elect-renew-deadline=3s
node_ipam_controller start after the election
node_ipam_controller.go Does the first 10s correspond to kube-controller-manager
one of the parameters can be modified through configuration

[2021-12-17 14:06] srikanthsava commented on #37922
use this link: https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch
instead of http://mirrors.aliyun.com/kubernetes/yum/repos/kubernetes-el7-x86_64

It's worked for me
if any want complete file here it is:
"Download & Install - Docker | Kubelet | Kubeadm | Kubectl on nodes"
# Note: Execute on all nodes (master & worker)
#Kubernetes Repository
cat <<EOF > /etc/yum.repos.d/kubernete

[2021-12-17 14:07] srikanthsava commented on #37922
https://github.com/kubernetes/kubernetes/issues/37922#issuecomment-996749010

[2021-12-17 15:15] yordanovagabriela commented on #53459
+1

[2021-12-17 15:15] ZdravkoGyurov commented on #53459
+1

[2021-12-17 15:30] ahg-g commented on #103607
/cc @soltysh

this is related to cronjob v2 controller

[2021-12-17 15:51] tlitke5 commented on #105204
I also see this same error with a Job on fresh install of MicroK8s (v1.22.4).

Newly created namespace called `pgo`. (The Job is also in this namespace.)

`MountVolume.SetUp failed for volume "deployer-conf" : object "pgo"/"pgo-deployer-cm" not registered`
`MountVolume.SetUp failed for volume "kube-api-access-lc499" : object "pgo"/"kube-root-ca.crt" not registered`

`kube-root-ca.crt` is automatic

[2021-12-17 16:00] tkashem commented on #107097
@MikeSpreitzer the check is performed by the function that removes configuration objects, `removeConfiguration`

https://github.com/kubernetes/kubernetes/blob/712745cb6755b3a28ca12292b30d138d5f737aa6/pkg/registry/flowcontrol/ensurer/strategy.go#L268-L280

I have added a comment to clarify it - https://github.com/kubernetes/kubernetes/pull/107106

[2021-12-17 16:01] tkashem commented on #107097
i will work on the documentation PR

/assign

[2021-12-17 16:03] justaugustus commented on #106161
go1.18beta1 k/k update in progress here: https://github.com/kubernetes/kubernetes/pull/107105

[2021-12-17 16:54] MikeSpreitzer commented on #107097
Also, the delete should be conditional on the ResourceVersion being the same as the one in which the auto-update annotation was observed to be `true`.

[2021-12-17 16:55] linxiulei opened #107107 "PIDPressure incorrect when system thread number exceeds 65538"
### What happened?

Condition PIDPressure is not set to true when the system thread number exceeds 65538 even it's reaching the limit.

### What did you expect to happen?

Condition PIDPressure is set to true correctly

### How can we reproduce it (as minimally and precisely as possible)?

See cause below

### Anything else we need to know?

The bug is due to [using linux syscall](https://github.c

[2021-12-17 17:45] charleszheng44 commented on #72196
@pbxqdown Agree. In my opinion, client-side filtering can be easily implemented by the application and it is not necessary to implement it in the client-go.

[2021-12-17 18:44] justyntemme commented on #44214
I have the same version, currently able to mount them by specifying different configmap sources.

[2021-12-17 19:19] aslafy-z commented on #72196
For the record, here's one of the ways to achieve this at the moment in a way where you keep the kubectl output:

[code]

Note that this doubles the processing overhead by first retrieving all the pods, filter them on the client side and them re-injecting them into an API query to get back kubectl functionality. It's not efficient, but can help when needed.

[2021-12-17 20:24] pbxqdown commented on #72196
Yep, you guys are correct. Also kubectl itself supports JSONPath which is the idiomatic way to do client side field filtering: https://kubernetes.io/docs/reference/kubectl/jsonpath/
But it is indeed slow since all objects should be fetched from server and thus impact client performance.
Maybe server side field-selector shall be implemented as a feature gate so users can decide whether to enable th

[2021-12-17 21:15] linxiulei opened #107111 "System maximum PID inconsiderate of sysctl 'threads-max'"
### What happened?

PIDPressure is not set to true when the system has insufficient pid resource.

### What did you expect to happen?

PIDPressure is set to true correctly when the system is insufficient in pid resource.

### How can we reproduce it (as minimally and precisely as possible)?

See cause below

### Anything else we need to know?

The max pid is not solely controlled by `/proc/sys/ker

[2021-12-17 21:20] jingxu97 commented on #106902
@zhubuntu which CSI driver are you using? Two issues here
1. Kubelet keeps retrying NodeUnstageVolume, returning an error each time. Do you know why NodeUnstageVolume keeps failing?
2. Attach_detach_controller has a logic to force detach after 6 mins timeout even if unstage is not successful. The main reason of this logic is to prevent disk being attached forever in case of some failures.
This log

[2021-12-17 21:23] #103607 closed

[2021-12-17 21:51] ScottShingler commented on #97445
@AntonSmolkov The `apt update -y && apt install -y stress-ng` commands are run at the beginning of the job, so shouldn't any effect they have on CPU throttling be limited in time to the earliest portion of the resulting graph? You can see that somewhat in my original `1000m` test:

![image](https://user-images.githubusercontent.com/10943423/146611251-ac0c8ae3-27c2-4456-8c6a-8c10c01b26fc.png)

Rega

[2021-12-17 21:51] ScottShingler commented on #97445
/remove-lifecycle stale

[2021-12-17 22:37] #103739 closed

[2021-12-18 00:16] sochoaAtMulesoft commented on #103907
Interesting.  I'm running the same test locally:

[code]

And I'm not finding the same log output issue there.  Can anyone else see it on `a1e8a5bf39d` (master)?

[2021-12-18 00:38] jsturtevant opened #107114 "Windows capz [It] ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]"
### Which jobs are flaking?

pull-cluster-api-provider-azure-windows-containerd-upstream-with-ci-artifacts

### Which tests are flaking?

Kubernetes e2e suite: [sig-auth] ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]

### Since when has it been flaking?

failure seen today

### Testgrid link

https://prow.k8s.io/view/gs/kubernet

[2021-12-18 01:46] uhari03 commented on #106754
I'd like to take this on
/assign

@howardjohn Can you please provide that example when you get the time?

[2021-12-18 02:12] yxxhero opened #107115 "Add more message for no PodSandbox container when kubelet start."
### What would you like to be added?

Add more message for no PodSandbox container when kubelet start.

### Why is this needed?

When `Failed to start ContainerManager failed to build map of initial containers from runtime` error return, We need more message to solve it, contains container name and container id.

[2021-12-18 02:13] yxxhero commented on #107115
/sig node

[2021-12-18 02:30] 249043822 commented on #107024
[code]

Tested in v1.19,  preStop hook was executed as expected.

[2021-12-18 02:41] #97230 closed

[2021-12-18 03:33] jonyhy96 commented on #107024
I wonder if it is a bug of gc, the gc may kill the pod before the evict manager calls killpod

[2021-12-18 03:47] yxxhero commented on #107115
/assign