[2018-10-06 16:27] mavimo commented on #69489
Same issue on 1.9.*

[2018-10-06 16:28] AlexeyPerevalov commented on #69494
/sig node

[2018-10-06 16:34] nikhita commented on #60863
/remove-lifecycle rotten

@ixdy Is this still relevant?

[2018-10-06 16:44] nikhita commented on #64290
Sorry, missed this! Looks worth keeping open to me :+1:

/remove-lifecycle rotten

[2018-10-06 17:14] geerlingguy commented on #69489
And 1.10.*. Basically there's no simple way to install kubernetes on Ubuntu currently without the pinning hack @bunchc mentioned above.

[2018-10-06 17:42] iomarcovalente commented on #69489
Indeed. That workaround worked for me, thanks
note that you must remove it if it is already installed:
[code]

[2018-10-06 17:42] alvaroaleman opened #69497 "Kubernetes 1.12.0 Ubuntu packages not available anymore"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

The kubeadm/kubelet/kubectl 1.12.0-00 packages are not available anymore in the ubuntu repo (`deb http://apt.kubernetes.io/ kubernetes-xenial main`), breaking all scripts that relied on installing that specific version. The only available packages now are `1.12.1`:

[code]
For comparisons, on other major releases the patch version of packag

[2018-10-06 17:56] lichuqiang commented on #68317
Closing this as related PRs have been merged

[2018-10-06 17:56] #68317 closed

[2018-10-06 17:57] AnandShivaSingh commented on #57334
When we can expect  a resolution for this issue?.Its seriously frustrating.

[2018-10-06 18:47] aaronteague commented on #57334
Temporary workaround:

`apt-get install kubernetes-cni=0.6.0-00`

[2018-10-06 18:52] geerlingguy commented on #69497
(Affects Debian as well, at least Stretch.)

[2018-10-06 19:06] jeliasson commented on #62594
Any news on this issue? I'm facing the same one.

[2018-10-06 19:09] enthurohini commented on #57334
It is happening because, `kubernetes-cni` lates version is `0.6.0-02` which is incompatible with kubeadm and kubelet. it can be solved by installing specific version of `kubernetes-cni` that is `0.6.0-00`.
Command:
`apt-get install kubernetes-cni=0.6.0-00`

Solution found here: http://jee-appy.blogspot.com/2018/10/kubelet-depends-kubernetes-cni-060-but.html

[2018-10-06 19:40] 1e100 commented on #48798
I have experienced the problem @ReSearchITEng describes with 1.12.1. His/her solution worked for me.

[2018-10-06 21:03] nikopen commented on #69429
/remove-sig aws cloud-provider testing

[2018-10-06 21:03] nikopen commented on #69429
/remove-sig needs-sig

[2018-10-06 21:04] nikopen commented on #69429
/milestone clear

[2018-10-06 21:04] nikopen commented on #69429
/hold
/close
/meow

[2018-10-06 21:05] nikopen commented on #69429
/reopen

[2018-10-06 21:05] nikopen commented on #69429
/close

[2018-10-06 21:56] michalpiasecki1 commented on #2630
same issue with psql here

[2018-10-06 23:14] wgliang commented on #69492
Had successed.

/close

[2018-10-06 23:14] #69492 closed

[2018-10-07 01:45] k82cn commented on #69346
AFAIK, we should upgrade from 1.10 to 1.11 than 1.12; if so, there'll be no issue :)

/cc @kubernetes/sig-cluster-lifecycle

[2018-10-07 02:49] k82cn commented on #69445
@kubernetes/sig-apps-bugs

[2018-10-07 04:15] sidharthsurana commented on #69489
tldr; The kubelet dependency on the kubernetes-cni should include the `debian-revision` part as well like `kubernetes-cni (= 0.6.0-00)` . For that was the case, this issue would not have happened.

The root cause is the way the debian package dependency is expressed.
In the kubelet package it has

Package: kubelet
Version: 1.11.2-00
Installed-Size: 159246
Maintainer: Kubernetes Authors <kubernetes

[2018-10-07 04:47] jingax10 commented on #69478
@cadmuxe already fixed the issue in https://github.com/GoogleCloudPlatform/netd/pull/46

Waiting for GKE changes to be approved.

[2018-10-07 06:14] briansmith commented on #55435
It would be great if somebody could an an explanation of why this should be closed: what is replacing it? Or, if it shouldn't be closed (yet), please re-open it.

[2018-10-07 08:11] sieben commented on #46381
/remove-lifecycle stale

[2018-10-07 09:09] tossmilestone commented on #69488
@surajssd I think you should specify the group for the `deployment` resource, e.g. `--resource=deployment.apps`.

[2018-10-07 09:11] mavimo commented on #69489
After investigation the issue seems related to:

 - https://github.com/kubernetes/kubernetes/blob/v1.11.2/build/debs/BUILD#L143

that do not specify the `debian_revision` (aka `-00`, `-02`, ..):

 - https://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-version

I'm not sure if it's a deb version comparison bug or match the spec, but if the `debian_revision` is missing comparison fail.

[2018-10-07 09:50] hyzza commented on #18755
Hello, another usecase nowadays seems to be access to configuration tcp port of nginx unit containers...Nginx unit accepts configuration in form of json uploaded via http requests on either unix socket or tcp socket. Unix sockets are nonsense to use in this environment, so broadcasting request to all pods is the missing piece...

[2018-10-07 11:01] vistalba commented on #57334
Same issue here. I just `apt-mark hold kubernetes-cni` beacuse version 0.6.0-00 was already installed. Just to not upgrade this package.

Please reopen.

[2018-10-07 14:46] Oleffka commented on #69497
debian stretch
worked the following for me (on both kube 1.12.0 and 1.12.1):
'''console
~$ apt-get install kubelet
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been crea

[2018-10-07 15:11] dczombera commented on #69011
I'd like to work on this if possible :)

[2018-10-07 15:35] blaggacao commented on #2630
@michalpiasecki1 Look how I solved it with `PostStart`-hook: https://github.com/xoe-labs/odoo-operator/blob/1be88b67d4ded5c4a0aea6e26b711241f0d09f89/pkg/controller/odoocluster/odoocluster_controller.go#L579-L586

[2018-10-07 15:59] redbaron commented on #65106
/remove-lifecycle stale

[2018-10-07 17:53] nikhita commented on #62408
/remove-lifecycle rotten

[2018-10-07 20:31] #64594 closed

[2018-10-07 20:44] PatrickLang commented on #64801
/remove-lifecycle stale

[2018-10-07 20:46] nikhita commented on #65973
/remove-lifecycle stale

On Mon, Oct 8, 2018 at 2:08 AM fejta-bot <notifications@github.com> wrote:

[2018-10-07 21:54] AishSundar commented on #69356
FWIW there's one more related test failure - https://github.com/kubernetes/kubernetes/issues/67903

[2018-10-07 21:55] AishSundar commented on #67903
/milestone v1.13
/priority important-soon
/kind failing-test

This test failure will block 1.13 beta. Is there someone looking into this from sig-apps?

/cc @jberkus @mortent

[2018-10-07 22:00] sindrepm commented on #60469
I am running into this issue as well. My use case is the [Stork scheduler](https://github.com/libopenstorage/stork) on GKE 1.10.7. Stork is a storage-aware scheduler that is used by the Portworx storage plugin. It runs as a separate copy of kube-scheduler with a custom extender which is the Stork service. However, the same issue can be observed with a second default kube-scheduler deployment as we

[2018-10-07 22:08] mbohlool commented on #69489
I've fixed the DEBs repo "kubernetes-xenial". This should be fixed for DEBs. RPMs can still be broken, I will look into them.

@alvaroaleman can you confirm?

[2018-10-07 22:12] alvaroaleman commented on #69489
Yes I can confirm it works again, thank you!

[2018-10-07 22:13] #69489 closed

[2018-10-07 23:11] geerlingguy commented on #69489
Same here, my builds are all passing, on 1.10, 1.11, and 1.12.

[2018-10-08 01:05] carolynvs commented on #64319
/remove-lifecycle stale

[2018-10-08 01:07] carolynvs commented on #64319
@nikhita Do you know if work has been begun on this already? If not, perhaps I could help implement it?

[2018-10-08 01:34] mortent commented on #67903
I will take a look at this tomorrow. I suspect this is the same issue as #69356, but I will verify.

/assign

[2018-10-08 01:48] lichuqiang opened #69502 "Investigate to support local storage capacity reporting with the "Volume attach limits" feature"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

For dynamic provisioning of local storage, we'll need a place to report available capacity of each nodes, so that scheduler can be aware of that, and tell if a node is available to provision local volumes of a pod.

We've got an internal draft of the design. It is considered a general one, storages can report capacit

[2018-10-08 02:05] lichuqiang commented on #69502
The main pain point is that currently the "max volume limits" feature is designed to count volumes across storageclasses, but for capacity reporting, we need to support multiple storage classes.

An approach I can think of is to extend the scheduler to take both the limit key with & without storageclass into account:
i.e. "prefix-dirvername-storageclass" and "prefix-dirvername".
And it depends on

[2018-10-08 02:31] gertcuykens commented on #57726
Just want to add this for completion because it took me some time to figure out
[code]

[2018-10-08 02:34] turchanov opened #69503 "Error message: "failed to get azure cloud in GetVolumeLimits" in bare-metal setup after upgrade to 1.12.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After upgrade of Kubernetes 1.11.3 to 1.12.1 via kubeadm in bare-metal setup I see these errors in kubelet logs:

**What you expected to happen**:
Since this is a bare-metal setup I expect no messages concerning Azure cloud

**How to reproduce it (as minimally and precisely as possible)**:
Do an upgrade from 1.11.3 to 1.1

[2018-10-08 02:41] turchanov commented on #69503
Lines from kubelet log which say that no cloud provider were specified (that is a bare-metal setup):

..

[2018-10-08 05:07] pidanzheng commented on #68703
ipset need to mount file  /etc/services and  /etc/protocols,  you can try.

[2018-10-08 05:30] nikhita commented on #64319
@p0lyn0mial has been working on it :)

[2018-10-08 05:46] #63694 closed

[2018-10-08 05:47] Wade201801 opened #69506 "signal SIGSEGV: segmentation violation code=0x2 addr=0x7ffc3a32103f pc=0x7ffc3a32103f"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Sep 27 14:53:27 wade-worker kubelet[30117]: fatal error: unexpected signal during runtime execution
Sep 27 14:53:27 wade-worker kubelet[30117]: [signal SIGSEGV: segmentation violation code=0x2 addr=0x7ffc3a32103f pc=0x7ffc3a32103f]
Sep 27 14:53:27 wade-worker kubelet[30117]: runtime stack:
Sep 27 14:53:27 wade-worker kube

[2018-10-08 05:59] shengshuaijohnson commented on #57096
OMG u savvvvvvvvvve me !!!!!

[2018-10-08 06:36] NickrenREN opened #69507 "Exposing ephemeral storage metrics to prometheus"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Now, we only expose PVC related volumes metrics to protheus, https://github.com/kubernetes/kubernetes/pull/51553
but we need ephemeral storage metrics too, such as EmptyDir usage and capacity info.

/assign
/sig storage
/cc @jingxu97 @gnufied

[2018-10-08 06:53] irfanjs opened #69509 "Vagrant : how to tell kubernetes cluster to pick specific network interface while initializing"
Hello,
I have setup vagrant and the virtualbox hyper-visor. deployed 2 Linux boxes . one for kubernetes master and other kubernetes worker.
using vagrantfile, setup the boxes and all network interfaces along with docker and kubeadm

kubernetes cluster initialized successfully.
however, IP address assignment is not working properly. in vagrantfile, i have used the "private network" and "dhcp"
the I

[2018-10-08 06:54] D-PENG opened #69510 "When the NAME of nodes is hostname, metrics-server cannot obtain node data."
The name of the nodes of k8s is the same as the Linux hostname,Because DNS cannot resolve the hostname, metrics-server cannot get the data. I think so.

[2018-10-08 06:58] p0lyn0mial commented on #64319
yeah, I almost have it :)

/assign @p0lyn0mial

[2018-10-08 07:01] p0lyn0mial commented on #64319
dynamic lister already merged, see: https://github.com/kubernetes/kubernetes/pull/68748

[2018-10-08 07:10] wanghaibo commented on #66614
one ugly workaround:
1.kubectl  edit cm kube-proxy -n kube-system
2.change  resourceContainer: "kube-proxy"  to  resourceContainer: "/"
3.kube-proxy will skip resourceContainer when error occur
server.go:468] Failed to start in resource-only container "/": cpuset: cgroup parent path outside cgroup root

[2018-10-08 07:20] alvaroaleman commented on #69497
Yes it works again, thanks for your efforts @mbohlool!

[2018-10-08 07:20] #69497 closed

[2018-10-08 07:28] D-PENG commented on #69510
When the name of the node is changed to IP, it is normal.

[2018-10-08 07:31] alvaroaleman commented on #69346
@k82cn My understanding of the Kubernetes version skew policy has been that GA features should be supported for +2 minor releases. I would consider "Kubelet schedules DS pods" a GA feature.  @liggitt can you clarify?

What makes this worse from an operators perspective is that it is very hard to understand what causes the Kubelet do not schedule pods anymore. At the very least, this should be docu

[2018-10-08 07:37] WanLinghao commented on #69213
/assign

[2018-10-08 07:38] ru-it-specialist commented on #54205
Ubuntu 16.0.4.5
Kubernetes v1.11.3

Agree with @yujuhong !

If `APIResponseCompression=true` ---> "kubectl -f" dose not work

[2018-10-08 07:39] gertcuykens commented on #38192
I am probably missing something here but why not adding the field to `volumeClaimTemplates` instead
[code]
for me `reclaimPolicy` vs `persistentVolumeReclaimPolicy` it is confusing and inconsistent when defining it at two place when you create a PersistentVolume manually
[code]

[2018-10-08 07:52] nikhita commented on #50048
/remove-lifecycle stale

[2018-10-08 08:42] shubheksha commented on #69503
/sig azure

[2018-10-08 08:49] marceloboeira commented on #57853
Same problem here,

[code]

From my perspective the schedule must change to something that the `lastScheduledDate` will be not compliant of.

I've seen this behavior already for jobs with small interval, it's not a big issue, but for daily tasks that run at specific times it might be.

My diff:

[code]
AND most importantly, I changed it before 10, which I guess make it worse.

My guess is that the

[2018-10-08 08:51] nikhita commented on #65670
/remove-lifecycle stale

PR open.

[2018-10-08 08:54] nikhita commented on #62326
/remove-lifecycle stale

On Mon, Oct 8, 2018 at 2:21 PM fejta-bot <notifications@github.com> wrote:

[2018-10-08 09:01] MohanNagendraKumar opened #69513 "i am unable to join the nodes to the master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-10-08 09:02] #69513 closed

[2018-10-08 09:04] MohanNagendraKumar opened #69514 "i am unable to join my nodes to the master node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-10-08 09:08] MohanNagendraKumar commented on #69514
Run 'modprobe -- ' to load missing kernel modules;
2. Provide the missing builtin kernel ipvs support

[discovery] Trying to connect to API Server "192.168.68.32:6443"
[discovery] Created cluster-info discovery client, requesting info from "https://192.168.68.32:6443"
[discovery] Failed to request cluster info, will try again: [Get https://192.168.68.32:6443/api/v1/namespaces/kube-public/configmap

[2018-10-08 09:18] swibrow commented on #57853
After reading the [docs](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/), this is expected behaviour. My fix was to add the following to the jobTemplate.spec:
[code]

[2018-10-08 09:28] e-pirate commented on #57291
We have even more painful scenario and reason MaxContainerBackOff and backOffPeriod mast be tunable in per-node way. We have two ingress nodes running Calico and nginx-ingress pods. Besides, we have Keepalived on ingress nodes watching for specified pods to be in the Running state and moving VIP (external real IP) according to the condition. In case all ingress nodes goes down and stay unresponsiv

[2018-10-08 09:33] WanLinghao commented on #48209
@mengqiy  hello, do we have any new progress about this? I am especially concerned about `k8s.io/kubernetes/pkg/printers`. Where should it move to?

[2018-10-08 09:38] marceloboeira commented on #57853
@swibrow thx. I'll try that. Quite implicit, but it makes sense.

![anigif_sub-buzz-14489-1504742289-8](https://user-images.githubusercontent.com/1898225/46601831-b4d9cd00-caee-11e8-9563-bd9b2b8c7b49.gif)

[2018-10-08 09:53] MohanNagendraKumar opened #69519 "can anyone tell me how to load the missing kernel modules in the ipvs proxier"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-10-08 10:08] WanLinghao commented on #69213
@slpcat I have test your example in v1.13.0-alpha and no error occurs.

[2018-10-08 11:06] shubheksha commented on #69519
@MohanNagendraKumar, GitHub is not the right place for support requests unfortunately. Please try asking in one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures).
/triage support

[2018-10-08 11:06] shubheksha commented on #69519
/close

[2018-10-08 11:06] #69519 closed

[2018-10-08 11:07] shubheksha commented on #69514
@MohanNagendraKumar, GitHub is not the right place for support requests unfortunately. Please try asking in one of the support channels.
/triage support

[2018-10-08 11:07] shubheksha commented on #69514
/close

[2018-10-08 11:07] #69514 closed

[2018-10-08 11:08] shubheksha commented on #69509
@irfanjs, GitHub is not the right place for support requests unfortunately. Please try asking in one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures).
/triage support

[2018-10-08 11:27] MohanNagendraKumar commented on #69514
thanq @shubheksha for ur suggestion

[2018-10-08 11:43] Nilesh20 opened #69521 "Pod stops processing the PVC's "watch of *v1.PersistentVolumeClaim ended with: The resourceVersion for the provided watch is too old.""
I am using dynamic volume provisioning concept of Kubernetes and I am running one pod which is processing the PVC's but sometimes it suddenly stop to process PVC's and i checked the log i found following statements.

What is the meaning of this statements and why it is stopping the working of pod , if i restarts the pod then issue gets resolved , but i dont want to restart the pod everytime.

erro

[2018-10-08 11:47] Nilesh20 commented on #69521
/sig scalability

[2018-10-08 11:50] neolit123 commented on #69346
+1

i can't find anywhere else where this is defined in the docs, but:
https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[2018-10-08 11:53] tnozicka commented on #69445
I guess the change in podSpec and the defaulting will break all the workload resources as they are based on comparing the template's podSpec.

Is the new value defaulted to true also for the DaemonSet's podSpec template? If not, controller might go hot loop like with mutating admission controllers.

I don't like us making such changes to v1 podSpec. The other way around seems more sensible.

/cc @

[2018-10-08 12:23] liukaii opened #69523 "Makefile.generated_files:322: recipe for target '_output/bin/deepcopy-gen' failed"
`root@ubuntu:/home/lk/GO/src/k8s.io/kubernetes# make
+++ [1008 20:13:44] Building the toolchain targets:
   k8s.io/kubernetes/hack/cmd/teststale
   k8s.io/kubernetes/vendor/github.com/jteeuwen/go-bindata/go-bindata
   k8s.io/kubernetes/vendor/github.com/jteeuwen/go-bindata/go-bindata
usage: link [options] main.o
  -B note
    	add an ELF NT_GNU_BUILD_ID note when using ELF
  -D address
    	set da

[2018-10-08 12:27] mlmhl commented on #62096
@gnufied   Could we split this feature into smaller phases so that we can track the progress more easily?  As far as I know, we have at least two phases:

1. Add volume expansion API to CSI spec, we already have a proposal: [container-storage-interface/spec#222](https://github.com/container-storage-interface/spec/pull/222)
2. Add expansion support to CSI volume plugin in kubernetes core code. This

[2018-10-08 12:47] AlexeyPerevalov commented on #69494
k8s does not guarantee that a newer kubelet would work with an older control plane.

[2018-10-08 12:47] #69494 closed

[2018-10-08 13:06] liggitt commented on #69346
The 1.12 control plane must support kubelets at levels 1.10 and 1.11. It cannot enable new features by default that break existing workloads for kubelets on those levels.

[2018-10-08 13:07] liggitt commented on #69346
This means that rolling 1.12 out to a working cluster with 1.10-level kubelets will break working daemonsets, correct?

[2018-10-08 13:17] alvaroaleman commented on #69346
Yes, the Kubelet will remove them as it thinks that they are not supposed to run on it

[2018-10-08 13:21] liggitt commented on #69346
cc @kubernetes/sig-scheduling-bugs

[2018-10-08 13:30] liggitt commented on #69346
yes, clarified

[2018-10-08 13:32] neolit123 commented on #69346
i'd love to be corrected on that but i don't think there are any X-2 kubelet vs control-plane test jobs.

[2018-10-08 13:33] k82cn commented on #69346
I think we do not have such a test :)

Got that; prefer to give an known issues for that :)

[2018-10-08 13:58] #68140 closed

[2018-10-08 14:02] liggitt commented on #69346
I don't think that's sufficient. That's essentially a known issue of "kubelets are not actually supported at n-2 skew levels". We should add a known issue to inform people considering upgrading their control plane to 1.12, but also take action to restore the claimed support for skew levels.

[2018-10-08 14:35] aleks-mariusz commented on #69503
have the same issue related to the azure.. also a bare-metal cluster..

these messages are flooding my centralized logging elasticsearch (though they aren't really problematic more than being an annoyance).

i also upgraded from 1.11.3 to 1.12.1 on a 3-master HA set up.

i also noted (perhaps worthy of a separate issue) that the two of my three control-planes that are showing the azure error also

[2018-10-08 14:36] liggitt commented on #69346
one possibility is to use the kubelet version reported by the node (`status.nodeInfo.kubeletVersion`) to determine whether to use a direct node assignment or matchfield affinity

[2018-10-08 14:36] smarterclayton commented on #69445
Why is this a bad thing?

We will continue to add fields to podSpec - the issue isn't the defaulting (this would happen regardless of which way it defaulted), it's that the controller can't really be version aware.

The new value would default to true in the daemonset as well.

[2018-10-08 14:38] smarterclayton commented on #69445
I'm not sure that a rollback requiring daemonsets to recreate is a bug.  I think that's potentially "the best possible thing that we can do in that case".

[2018-10-08 14:42] ckurdekar opened #69524 "Is it OK to use single Cluster Name for multiple entries in admin.conf to access multiple masters without having master LB"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Trying to access multi master (without load balancer) using admin.conf for POD deployment.
We are able to access masters(s) by placing all master IPs with having single cluster name. Somehow this works when one of master goes down, kubectl is able to switch to another master IP.
As we want to have only 1 logical logical cl

[2018-10-08 14:52] Nilesh20 commented on #69521
/sig scheduling

[2018-10-08 15:10] liggitt commented on #69521
if re-establishing a watch returns the "version is too old" error, the caller must re-list and obtain a current resourceVersion to start a watch from.

what method are you using to list/watch? the client-go examples that use a client to build a listwatcher, then use the listwatcher to build an informer (which handles re-list/re-watch for you if needed) are a good starting point: https://github.com

[2018-10-08 15:12] liggitt commented on #69488
the CLI uses the groups returned by discovery to autocomplete ambiguous resource names. extensions precedes apps for compatibility reasons.

you probably want to grant permission to both apps and extensions, like this:

[code]

[2018-10-08 15:12] liggitt commented on #69488
/close

[2018-10-08 15:12] #69488 closed

[2018-10-08 15:13] liggitt commented on #69510
@kubernetes/sig-autoscaling-bugs is the metrics server using the node name directly as a network host or is it looking up the reported addresses on the Node object?

[2018-10-08 15:29] kvaps opened #69528 "nodeAffinity for the volumes should be mutable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig storage

**What happened**:

I use `nodeAffinity` for describe nodes where my volume is connected to.

After long time I may want to reassign this volume to another nodes.
There is no way for change `nodeAffinity` for the existing persistentVolume after it is already created.

[code]

**What you expected to happen**:
Updated `Volume

[2018-10-08 15:34] liggitt commented on #69483
can you provide more details about the following:
* what command or manifest did you use to grant permission to list namespaces?
* what command or manifest did you use to grant AD user permission?
* was the dashboard configured to use service account credentials or user credentials to access the API?
* how did you log into the dashboard

[2018-10-08 15:36] liggitt commented on #69234
/close
per https://github.com/kubernetes/kubernetes/issues/69234#issuecomment-426656582

[2018-10-08 15:36] #69234 closed

[2018-10-08 15:38] Nilesh20 commented on #69521
I am using the external provisioner and in that there is controller which list and watch the PVC's
function = NewProvisionController()

controller.claimSource = &cache.ListWatch{
		ListFunc: func(options metav1.ListOptions) (runtime.Object, error) {
			return client.CoreV1().PersistentVolumeClaims(v1.NamespaceAll).List(options)
		},
		WatchFunc: func(options metav1.ListOptions) (watch.Interface, e

[2018-10-08 15:46] bskiba commented on #69510
@kubernetes/sig-instrumentation-bugs

[2018-10-08 16:05] ctrom commented on #64917
I am also experiencing this issue. I tried to set `deployment.Spec.Strategy.RollingUpdate.MaxUnavailable` to 1 as suggested by @yue9944882, but that didn't seem to have an impact.

[2018-10-08 16:05] bbbmmmlll commented on #56903
This worked for us:

[code]

The original values were 128, 512, and 1024. Our app and the Bash script from the first comment consistently showed intermittent DNS slowness. Changing the ARP cache settings resolved both issues immediately. I never saw any `neighbor table overflow` messages or any other indication of a problem with the ARP cache size.

Reference: [Scaling Kubernetes to 2,500 Nodes](h

[2018-10-08 16:11] agunnerson-ibm commented on #69471
Not sure if this is the ideal fix, but I've patched it so that it compares the current CSR template to the last requested template only if it doesn't already match the current cert.

https://gist.github.com/agunnerson-ibm/20339f05709e3e5d6ff52e8f340f556c

[2018-10-08 16:16] AishSundar commented on #69445
/cc @kow3ns

SIG Release blocking dashboard with upgrade test failures - https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master

[2018-10-08 16:17] liggitt commented on #67601
/remove-sig api-machinery
/sig storage

can you provide the full manifest(s) and command you are using to deploy the provisioner and rbac permissions?

[2018-10-08 16:18] r7vme commented on #66346
Fixed in CoreOS [1] and this is OS issue. So closing.

1 - https://github.com/coreos/bugs/issues/571

[2018-10-08 16:18] #66346 closed

[2018-10-08 16:18] ctrom commented on #64917
/remove-lifecycle stale

[2018-10-08 16:36] waldauf commented on #67601
@liggitt Thx you for your response. :] Before a while I found out where were problem. In log I found this error message:
[code]

After some g-time I found out that I have to define in StorageClass _imageFormat_ and _imageFeatures_ (as you can see bellow). After that it run successful.

[code]

[2018-10-08 16:37] suquant commented on #69503
Same problems +1

[2018-10-08 16:55] ckurdekar opened #69530 "Is it OK to use single Cluster Name for multiple entries in admin.conf to access multiple masters without having master LB"
@kubernetes/sig-multicluster
@kubernetes/sig-cluster-lifecycle

**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:
Usage of admin.conf for multi masters using multiple master entries with same cluster name.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Trying to access multi master (without load balancer) using adm

[2018-10-08 17:12] goodhoko commented on #20555
For anyone coming by: Also note that Kubernetes health checks accept HTTP codes in range 200-399 whereas Ingress health check requires the returned code to be exactly 200.

This has bitten us a when we've set up a pod with http readinessProbe pointing to `/health/`. It returned 301 with Location set to `/health`. (Standard thing to do.) The pods were considered healthy but the Ingress health check

[2018-10-08 17:33] geekofalltrades commented on #66750
Shouldn't this issue be on https://github.com/kubernetes/kops?

[2018-10-08 17:45] Huang-Wei commented on #68981
@raravena80 as you and @embano1 mentioned, "rolling update" is the key issue here:

If rolling or not is not a concern of you, maybe strategy type `recreate` is a better fit:

[code]

For the case that number of replicas == number of topology domains (e.g. 2 replicas in 2 zones), I'm pretty confident that `Recreate` + {nodeAffinity|podAntiAffinity} + **required**DuringSchedulingIgnoredDuringExecut

[2018-10-08 17:49] RomanKisilenko commented on #66750
@geekofalltrades Pls see the
https://github.com/kubernetes/kops/issues/5526 for more information

[2018-10-08 18:01] geekofalltrades commented on #66750
Got it, thanks.

[2018-10-08 18:03] spiffxp commented on #68244
/remove-kind feature

[2018-10-08 18:19] Huang-Wei opened #69533 "[umbrella issue] promote `TaintBasedEvictions` to beta in 1.13"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Promote `TaintBasedEvictions` to beta in 1.13.

**Tasks**:

- [x] Simplify taint manager workqueue keys (#65350)
- [x] Increase the code coverage of NodeLifecycleController (#54297)
- [x] enable and improve e2e of NoExecuteTaintManager (#69657)
- [x] add e2e tests for TaintBasedEvictions (#69796)
- [x] Add test cases f

[2018-10-08 18:42] tallclair commented on #55435
/remove-lifecycle rotten

This is a complicated issue. I think it's worth keeping open to think about how we might solve it, but I'm not sure it's worth building into PodSecurityPolicy in its current form (I think there are bigger issues to tackle). However, I would like to see it considered for future policy designs.

[2018-10-08 18:43] verult opened #69538 "Move CSINodeInfo feature flag to beta"
/kind feature

Tracking for 1.13 release. This includes moving the object and the associated logic interacting with the object (e.g. topology) to beta

/sig storage

[2018-10-08 18:43] verult commented on #69538
/cc @msau42 @saad-ali @ddebroy

[2018-10-08 18:44] verult opened #69539 "Move CSIDriver feature flag to beta"
/kind feature

Tracking for 1.13 release. This includes moving the object and the associated logic interacting with the object (e.g. skip attach & passing workload information) to beta

/sig storage
/cc @msau42 @saad-ali @jsafrane @ddebroy

[2018-10-08 18:49] kruczjak commented on #56903
Hi, if you are searching for temporary solution which works really well (until conntrack will be patched), you can always setup local dns resolver and then route all DNS queries without iptables (so without DNAT) needed.
It's quite easy however you need the access to nodes and make rolling update afterwards.

We're running alpine containers and after adding DNS resolver on "local nodes" there are

[2018-10-08 18:50] rabbitfang commented on #29276
I wanted to mention my use case for this feature. We use [New Relic APM](https://newrelic.com/products/application-monitoring) for monitoring some of our applications. NR APM charges per-host, not per-pod/per-container. To reduce costs, we would like to run the APM agent only on the nodes where the relevant pods are running (i.e. the pods running applications that use NR APM). One (theoretical) wa

[2018-10-08 18:51] verult commented on #69538
/cc @jsafrane

[2018-10-08 19:05] vladimirvivien commented on #69015
@RenaudWasTaken I like the `.sock` suffix idea.  It can be a recommendation (which csi is already doing).

[2018-10-08 19:22] liggitt commented on #69471
@kubernetes/sig-auth-bugs

[2018-10-08 19:23] liggitt commented on #69471
cc @awly

[2018-10-08 19:34] pohly commented on #68819
Jordan Liggitt <notifications@github.com> writes:

The CSI WG confirmed today that this is the way forward, which now begs
the question: can we just outright remove the already incomplete builtin
roles (system:csi-external-provisioner and system:csi-external-attacher)
from
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
or is some kind

[2018-10-08 19:47] mhristache commented on #59368
I am seeing this issue in 1.11. I am using LoadBalancer type.

[2018-10-08 20:13] smarterclayton opened #69540 "Cardinality of admission web hook metrics is too high on clusters with lots of CRDs or admission controllers"
Spun off from https://github.com/kubernetes/kubernetes/pull/55183

Webhook latency metrics grow O(M*N) with resources and admission controllers. On a large cluster with lots of CRDs this causes a significant amount of memory use and churn. On a smaller cluster with lots of admission controllers and CRDs, 75% of all apiserver prometheus metrics (38k series out of 46k series) were this metric.

The

[2018-10-08 20:13] smarterclayton commented on #69540
/kind bug
@kubernetes/sig-api-machinery-bugs

[2018-10-08 20:15] smarterclayton commented on #69540
Most admission plugins track only one or two resource types, so tracking all of them is overkill.  Also, we're tracking all verbs and the vast majority of verbs get no calls.

[2018-10-08 20:21] smarterclayton commented on #69540
`apiserver_admission_controller_admission_latencies_seconds` is the impacted one.  I'm not even seeing step get called (but this is 1.11)

[2018-10-08 20:30] liggitt commented on #68819
It costs us very little to maintain them. I'd prefer we announce deprecation and add a comment to remove at the end of the deprecation period.

[2018-10-08 20:45] BenTheElder commented on #69346
Testing checking in: I didn't think that we supported skewing that far, I don't think we do any tests against this intentionally because it's not supported. AFAIK components talk to each other skewed by one release, not two.

as @neolit123 called out, kubeadm specifically calls this out as well: https://github.com/kubernetes/kubernetes/issues/69346#issuecomment-427804831

[2018-10-08 20:46] lavalamp commented on #69540
It should be O(N) with number of webhooks, I don't think it's necessary to break out by webhook *and* resource.

[2018-10-08 20:59] jpbetz commented on #69540
Okay, so we'll drop `group, version, resource, subresource` and `operation` labels from these metrics ([original design](https://docs.google.com/document/d/1rDRrC5MNI2An_FeYx8HAsmlQv1WThh9IBb3_shCTbJA/edit#))? I'll send out a PR if there are no objections.

[2018-10-08 21:00] pohly commented on #68819
Jordan Liggitt <notifications@github.com> writes:

But what does "maintain" really mean for them? Update them in parallel
to the .yaml files that replace them (or, probably, have always been
used instead)?

We'd have to have E2E testing in two flavors, once without the builtin
rules and once with, so maintenance does come with a certain cost.

What is the deprecation period in this case?

[2018-10-08 21:18] vincentjorgensen commented on #60099
I'm confused that this is closed. I don't expect environment variables in my container that I didn't explicitly set. Has this feature request been implemented in k8s now? Thanks.

[2018-10-08 21:22] mortent commented on #67903
This test fails in upgrade tests on the testgrid at the moment and that is due to the issue described in #69445.
This fails due to a timeout and was reported before the change that caused the other test failures was merged. So it seems to be a separate issue even if it is the same test that is failing.

[2018-10-08 21:34] Huang-Wei commented on #63005
@mdianjun @cu12 which k8s version are you running? and which feature-gates did you enable, on which components?

[2018-10-08 21:36] liggitt commented on #69346
see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew

that has been the kubelet/control-plane supported skew level since [~1.4](https://github.com/kubernetes/kubernetes/blob/v1.4.0/docs/design/versioning.md#supported-releases-and-component-skew)

At one point, I'm pretty sure we had tests that ran nodes sk

[2018-10-08 21:38] yivo commented on #60099
@vincentjorgensen totally agree with you.

[2018-10-08 21:45] huggsboson commented on #60099
The issue was fixed in new versions of kube.  See #68754

[2018-10-08 21:57] ryanmcnamara commented on #61998
/remove-lifecycle stale

[2018-10-08 21:58] Huang-Wei commented on #63005
By default, deamonset pods would be applied with following 2 `NoExecute` tolerations:

[code]

@k82cn nodelifecyclemanger doesn't apply `disk-pressure/NoExecute` (only `disk-pressure/NoSchedule`) taint to node, does it?

[2018-10-08 22:08] benmoss commented on #69450
This looks like it works in 1.12.1 for me. It gives a diff that is all delta.

[2018-10-08 22:09] BenTheElder commented on #69346
possibly. This ties into what I've been discussing with @spiffxp regarding test-ownership.. I don't know who maintains those .. :|

[2018-10-08 22:10] vincentjorgensen commented on #60099
Awesome @huggsboson. It doesn't seem to be in v1.12.0. Is is staged for a future release?

[2018-10-08 22:13] msau42 commented on #69374
I think it is a good idea to refactor into a struct, get rid of the global PluginHandler, and make initialization of structs more explicit. See https://github.com/kubernetes/kubernetes/pull/68597/files#r218978749 for one possible issue of having this global.

[2018-10-08 22:18] msau42 commented on #60469
/reopen

[2018-10-08 22:20] neolit123 commented on #69346
sig-gcp for this whole tab:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-upgrade-skew#Summary

AFAIK there was something specific about the `1.9-gci-1.11` which was testing gke/gci infrastructure and it was not a case where the test conforms the above claim.

@timothysc to confirm.

[2018-10-08 22:22] msau42 commented on #60469
@yuvipanda did you ever manage to get your second scheduler working?  Did you try the [workaround](https://github.com/kubernetes/kubernetes/issues/60469#issuecomment-401016709) of running the scheduler in the kube-system namespace?

[2018-10-08 22:33] BenTheElder commented on #69346
Er right but even "sig-gcp" or  "sig-cluster-lifecycle" owns this is not terribly helpful compared to "these people actually know about and actively maintain this test" ... sig-gcp / sig-cluster-lifecycle encompass many things and I'm sure most can't keep up with all of that either.

I'm not sure who's actually the effective owner of these.

[2018-10-08 22:36] liggitt commented on #69240
containers is an array, not an object. you need to specify which item in the containers list you want to patch

/close

[2018-10-08 22:36] #69240 closed

[2018-10-08 22:41] neolit123 commented on #69346
https://github.com/kubernetes/test-infra/commit/a90445f25795a4ce51ae6d5b38e8ca104e2716da

[2018-10-08 22:48] huggsboson commented on #60099
It looks like it was merged 14 days ago, so I'd expect it to be in the next release unless someone back ports it.

[2018-10-08 22:53] liggitt commented on #69479
This isn't accurate. A deployment can reference a Secret object and indicate it should be mounted into the pods created from the deployment, but it does not create the secret object in the API.

Labeling a deployment does not propagate labels to referenced resources (secrets, configmaps, pvcs, etc)

/close

[2018-10-08 22:53] #69479 closed

[2018-10-08 22:57] MarkDeckert commented on #69503
Same problem on brand new bm cluster built with kubeadm and latest 1alpha3 config based off of customized kubeadm config print-default example

[2018-10-08 23:01] consideRatio commented on #60469
I picked up on the work of @yuvipanda, I got the same error, and then I got it working fine without clearly getting what went wrong. But I think it related to having some parts automatically configured to use the `kube-system` namespace by default while other where residing outside kube-system.

When I defined everything relating to the scheduler to be within a certain namespace, it worked. I thin

[2018-10-08 23:29] gurudattest opened #69545 "Kubernetes: readinessProbes failing but the livelinessProbe is succeeding with the same settings"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I have a livelinessProbe configured for my pod which does a http-get on path on the same pod and a particular port. It works perfectly. But, if I use the same settings and configure a readinessProbe it fails with the below error.

Readiness probe failed: wsarecv: read tcp :50578->:80: An existing connection was forcibly c

[2018-10-08 23:46] msau42 commented on #60469
Thanks! @sindrepm can you try this out and see if it works?

[2018-10-08 23:59] gurudattest commented on #69545
@kubernetes/sig-azure-bugs

[2018-10-09 00:04] neyz commented on #7890
Following this thread too. Use case is simple data sharing between front web servers without having to rely on complicated HA NFS / gluster setups.

It would really be nice to have a simple supported solution.

[2018-10-09 00:16] logicalhan commented on #69319
@MikeSpreitzer, thanks for reporting the issue. I've opened a pull request to address some of your main concerns, though I did not rename the argument from keys to values (I have reasons which I have hopefully managed to convey in my PR) but we should definitely discuss it further if you feel strongly about it.

[2018-10-09 00:32] gurudattest commented on #69545
@kubernetes/sig-network-bugs

[2018-10-09 00:58] dharmeshkakadia commented on #50248
How can we fix `kubectl explain all` ? It currently throws `the server doesn't have a resource type "all"`.

[2018-10-09 01:04] k82cn commented on #63005
@mdianjun , would help to share scheduler/kubelet's log, or grep log with evicted pod's name? kubelet will also evict pods when got pressure.

Yes. only NoSchedule right now.

[2018-10-09 01:07] k82cn commented on #69346
I'm going to create a PR for 1.12 to handle that if no other options; 1.13 is not necessary.

[2018-10-09 01:30] spiffxp commented on #69376
/milestone v1.13
FYI @jberkus

Yeah this is definitely becoming more of a problem, [the daily failure rate for pull-integration-test is over 50%](http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1&panelId=11&fullscreen)

It shows up on triage, but I can't point to when it started become more flaky: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=integration

[2018-10-09 01:32] spiffxp commented on #69376
/priority critical-urgent

[2018-10-09 01:35] spiffxp commented on #61384
/close
This job is definitely flaking, but for a different reason, ref: https://github.com/kubernetes/kubernetes/issues/69376

[2018-10-09 01:35] #61384 closed

[2018-10-09 01:44] andyxning commented on #61994
/remove-lifecycle stale

[2018-10-09 02:13] laurieodgers commented on #40610
We're looking at doing this for a per-zone load balancer, and per-region load balancer on a single deployment. Our use case is that customers must be able to bind multiple times to multiple failure domains. This could be achieved with 3x deployments (one per zone) but it would be much nicer to only have to worry about a single deployment.

[2018-10-09 03:00] andyzhangx commented on #69503
/assign

[2018-10-09 03:08] wnxn commented on #68688
I have the same problem when deploying my CSI plugin based on CSI v0.2.0 on Kubernetes v.1.12.0.  Daemonset pods of CSI plugin cannot launch successfully.

Kubelet logs:
[code]

[2018-10-09 03:16] jicki commented on #69503
Same problems +1

[2018-10-09 03:17] jicki commented on #69503
Oct  9 11:11:32 localhost kubelet: E1009 11:11:32.966179    3342 azure_dd.go:147] failed to get azure cloud in GetVolumeLimits, plugin.host: kubernetes-1
Oct  9 11:11:42 localhost kubelet: E1009 11:11:42.976961    3342 azure_dd.go:147] failed to get azure cloud in GetVolumeLimits, plugin.host: kubernetes-1
Oct  9 11:11:52 localhost kubelet: E1009 11:11:52.983544    3342 azure_dd.go:147] failed to

[2018-10-09 03:20] andyzhangx commented on #69503
@turchanov how often did you hit this error log:
[code]
I am planning to make this log as `glog.V(3).Infof`, is that ok for you? Usually V(2) is the default info(see [example here](https://github.com/andyzhangx/demo/blob/master/acs-engine/deployment/etc/systemd/system/kubelet.service#L23)) log for k8s on azure
https://github.com/kubernetes/kubernetes/blob/a34123d9c3e933b662bf0a3cb2c427f774154b01/p

[2018-10-09 03:30] neolit123 commented on #69513
/close
please add only a single sentence in the title and fill the issue template correctly.
then re-open the issue..

thanks.

[2018-10-09 03:32] neolit123 commented on #69523
cc @ixdy
hm, seems like the old release is not buildable with the latest golang.
unless this is a user error of sorts.

/sig release
/kind bug

[2018-10-09 03:33] neolit123 commented on #69524
/close
duplicate of https://github.com/kubernetes/kubernetes/issues/69530

[2018-10-09 03:33] #69524 closed

[2018-10-09 03:35] neolit123 commented on #69530
@kubernetes/sig-cluster-lifecycle
/kind feature
/priority awaiting-more-evidence

any particular reason to not use a load balancer in front of the masters?

[2018-10-09 03:35] neolit123 commented on #69530
/sig cluster-lifecycle

[2018-10-09 03:36] neolit123 commented on #69474
/kind feature
/sig testing
/sig release

[2018-10-09 03:37] neolit123 commented on #69509
^ +1

/close

[2018-10-09 03:37] #69509 closed

[2018-10-09 04:17] texmachina commented on #69476
Same for me. If you check the ENI's tied to your NLB, I bet you don't have any Security Groups attached? That is what I am seeing. This is a problem I was thinking/hoping had been fixed, but no dice it seems.

https://github.com/kubernetes/kubernetes/issues/64148

[2018-10-09 04:40] irfanjs commented on #69509
no. i think lets not close the issue . i have seen certain google posts and see that kubernetes well works with vagrant. however, i checked on the slack kubernetes channel and did some modifications in the script. still it is failing
here is the command :

`kubeadm init --apiserver-cert-extra-sans=$IPADDR  --node-name $NODENAME --pod-network-cidr 172.28.0.0/12`

please suggest

/open

[2018-10-09 04:44] gliush opened #69553 "'make cross' fails on macOS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cross compiling fails on MacOS:

[code]

**What you expected to happen**:
That `make clean && make cross` is successful on macOS

**How to reproduce it (as minimally and precisely as possible)**:
`make clean && make cross` on macOS

**Anything else we need to know?**:

**Environment**:
- OS: macOS 10.13.4
- go version go1

[2018-10-09 04:45] gliush commented on #69553
/sig testing

[2018-10-09 05:31] pcornelissen commented on #56795
Please consider a way to parametrize the TLS config, it would allow for a much better experience when staging different configurations from one stage to the other without the need to copy and paste config which has the potential to get out of sync!
(Helm would be an option, but honestly I'd try to avoid this additional complexity if not 100% necessary)

[2018-10-09 05:33] hchenxa opened #69555 "multiple header shown when get service list"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I was using kubectl to get service list but find the it will printer duplicated header.

[code]

The reason may caused by I have 3000+ services.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

create 3000 service and use kubectl to get the service list

**Anything els

[2018-10-09 05:54] Macmee commented on #13488
@joelittlejohn I ran your macro and it DID trigger a reboot of my pods, but they all restarted at the same time. I thought this would trigger a rolling reboot, no?

[2018-10-09 06:33] Huang-Wei commented on #63005
Per talk with k82cn, it's (very likely) that kubelet evicts the pod. And this eviction behavior has nothing to do with `TaintBasedEvictions`. It's an eviction in kubelet side, rather than in node lifecycle manager.

As far as I know, kubelet only guarantees to not evict **static pods** which has critical pod annotation. Other pods (like the case daemonset pods) are all evictable under pressure.

/

[2018-10-09 06:33] Huang-Wei commented on #63005
/sig node

[2018-10-09 06:38] liukaii commented on #69523
@neolit123
when I make with kubernetes1.9.4, it seems successful but still has some wrong message.
`root@ubuntu:/home/lk/GO/src/k8s.io/kubernetes# make quick-release
+++ [1008 22:22:57] Verifying Prerequisites....
+++ [1008 22:22:57] Building Docker image kube-build:build-95d3909905-5-v1.9.3-1
+++ [1008 22:23:08] Creating data container kube-build-data-95d3909905-5-v1.9.3-1
+++ [1008 22:24:27] Syn

[2018-10-09 06:39] cpressland commented on #69015
Hmm, I've just deployed a new k8s cluster on 1.12.0 and noticed this repeating in the logs on a few of our pods. Just for my own sanity, is this something I should be worried about or can I ignore it until a fix is released?

[code]

[2018-10-09 06:52] turchanov commented on #69503
It is logged every 10 seconds.

I disagree. At least previous incarnation of GetVolumeLimits in version 1.11.3 :
https://github.com/kubernetes/kubernetes/blob/a4529464e4629c21224b3d52edfe0ea91b072862/pkg/volume/azure_dd/azure_dd.go#L119~L138

would have logged an error "No cloudprovider present". Which I didn't see in kubelet log. In fact, I didn't see any message in kubelet logs with 'azure' subs

[2018-10-09 07:03] andyzhangx commented on #69503
@turchanov That's because [Dynamic volume limits](https://kubernetes.io/docs/concepts/storage/storage-limits/) feature reaches beta in v1.12, in v1.11.3, even the code is there, it won't be invoked since `Dynamic volume limits` feature is still alpha in v1.11

[2018-10-09 07:16] andyzhangx commented on #69503
And in v1.12, aws, gce, and azure disk plugins are all loaded, take aws ebs for example, it will return error directly:
https://github.com/kubernetes/kubernetes/blob/f9acfd8e384488d2216b18196152dcb7b3cc92d8/pkg/volume/awsebs/aws_ebs.go#L111

And logging as V(4):
https://github.com/kubernetes/kubernetes/blob/f9acfd8e384488d2216b18196152dcb7b3cc92d8/pkg/kubelet/nodestatus/setters.go#L775

I suppose

[2018-10-09 07:19] sindrepm commented on #60469
@consideRatio @msau42 I tried with `leader-elect=false` (and only one replica) to minimize possible fault sources. It did not have any effect.

However, what I found was that this seems to have been fixed in version 1.10.8 onwards with the merge of PR #63003. Kubernetes 1.10.7 is currently the latest available in GKE but I pinned the kube-scheduler in my own scheduler deployment to v1.10.8 and the

[2018-10-09 07:26] bclau opened #69559 "Some tests do not require HostNetwork=true in order to pass"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig testing

**What happened**:

Some of the tests are spawning pods with HostNetwork=true, but it is not required in order for them to pass. Some of the tests are:

    [sig-network] Networking Granular Checks: Pods should function for intra-pod communication: http [NodeConformance]
    [sig-network] Networking Granular Checks: Pods should

[2018-10-09 07:40] bertinatto commented on #69503
https://github.com/kubernetes/kubernetes/pull/69302 also tries to address this error.

[2018-10-09 08:18] D-PENG commented on #69510
@liggitt The name of the nodes of k8s is the same as the Linux hostname,Because DNS cannot resolve the hostname, metrics-server cannot get the data. I think so.

[2018-10-09 08:23] Pingan2017 opened #69562 "start kube-controller-manager err: unable to monitor quota for resource "extensions/v1beta1, Resource=networkpolicies""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
when starting kube-controller-manager, print err log:
`E1010 01:26:07.612718   20946 resource_quota_controller.go:170] initial monitor sync has error: couldn't start monitor for resource {"extensions" "v1beta1" "networkpolicies"}: unable to monitor quota for resource "extensions/v1beta1, Resource=networkpolicies"`

in cod

[2018-10-09 08:33] bcollard commented on #62841
same with 1.10.6-gke.2 and 1.10.7-gke.2

[2018-10-09 08:39] debianmaster commented on #2630
running into same issue.   is there any recommended solution for this ?

[2018-10-09 08:48] jbartosik commented on #69444
Recent failures fall into three categories:

1. Pods not starting ([failure 1](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/7183), [failure 2](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/7168), [failure 3](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-

[2018-10-09 09:00] redbaron commented on #49746
/remove-lifecycle stale

[2018-10-09 09:35] rossigee opened #69563 "Deployment leaves service with no active endpoints"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We deploy a new version of our app by changing the `spec.template.spec.containers[0].image` attribute of the Deployment YAML, as described in [the documentation](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#updating-a-deployment) for `Deployment` controllers...

The `Deployment` YAML looks like this:

[code

[2018-10-09 09:36] KIVagant commented on #69293
I believe K8s should **not** change ELBs that were already created.

[2018-10-09 09:46] michalpiasecki1 commented on #2630
@blaggacao : thanks for the hint, however i found another workaround
@debianmaster : i would recommend securityContext and fsGroup as described in https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

I ended with certificates owned by root, and group postgres with permissions 440

[2018-10-09 09:58] rossigee commented on #69563
@kubernetes/sig-cluster-ops-bugs

[2018-10-09 11:05] psultane-glisten opened #69564 "@kubernetes#How to launch aws loadbalancer for kubernetes cluster manually, is it possible to configure manually?"

[2018-10-09 11:28] bclau opened #69567 "webhook test can randomly fail because it never waits for the pod to be Running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig testing

**What happened**:

The test ``[sig-api-machinery] AdmissionWebhook Should be able to deny attaching pod`` can randomly fail because the test never waits for the pod to get into a ``Running`` state before trying to execute ``kubectl attach``. This can happen more frequently when it has to pull the necessary image. Additionally,

[2018-10-09 11:34] jiuchongxiao opened #69569 "unknown field "artifactRepository" in io.k8s.api.core.v1.ConfigMap"
**Is this a BUG REPORT or FEATURE REQUEST?:**
BUG REPORT
**What happened:**
when i save the configmap,it show errors message to save.the detail configmap info as below:
[code]

and the error message is :
[code]

**What you expected to happen:**
i expected edit configmap success.

**Environment:**

**Kubernetes version :**
[code]

[2018-10-09 11:36] jiuchongxiao commented on #69569
/kind-bug

[2018-10-09 12:05] bclau opened #69570 "Tests are using Linux specific commands"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig testing

**What happened**:

Some commands used in tests are Linux specific and do not exist or do not behave the same on Windows nodes. This can cause those tests to fail on Windows nodes.

Some of the tests are:

    [sig-network] Networking Granular Checks: Pods should function for node-pod communication: http [NodeConformance]
    [

[2018-10-09 12:05] ixdy commented on #69523
Right, we pin go versions to kubernetes releases, so kubernetes 1.8 has only been validated with go1.8, and kubernetes 1.9 has only been validated with go1.9.

`make quick-release` should resolve this issue for you, though, since it uses the build container, which has a pinned version of go. It looks like you were getting an error message when building the containers at the end; what version of do

[2018-10-09 12:07] honi commented on #56795
Same here, I'm currently avoiding helm for my usecase because I don't want to add extra complexity and tooling. Having a bunch of yaml/json files is good enough for me, and everything is scoped to the current namespace when creating / updating those resources. The only place where I have to explicitly define namespaces is in my ingress definitions because of the TLS config.

[2018-10-09 12:19] wojtek-t commented on #64022
/lifecycle frozen

[2018-10-09 12:32] bjhaid opened #69572 "kubectl cp fails to change owner and permission with destination container runs as root and does not have OWNER capabilities"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`kubectl cp` relies on tar to extract the copied file/directory in the
container, tar by default attempts to chown/chmod the extracted file
after extraction if the user is the "superuser"(root)

[code]

This fails in environment where the container runs as root but is not
granted the OWNER or CHOWN capability.

**Wha

[2018-10-09 12:33] bjhaid commented on #69572
/sig cli

[2018-10-09 12:41] joelittlejohn commented on #13488
@Macmee It depends on the configuration of your deployment. The above command just changes the deployment. The pods are then updated according to the roll out `strategy` defined by your deployment. This is just like any other change to the deployment.

The only way this will replace all pods at the same time is if your `.spec.strategy.rollingUpdate.maxUnavailable` allows it.

[2018-10-09 12:48] Vadim-Zenin commented on #32987
This issue occurs on AWS EKS 1.10.3 as well.

[2018-10-09 13:07] SneakyMax commented on #68321
For what it's worth, I've been fighting this for a long time. First with kube-dns, then in an attempt to fix it, I switched to coredns, which seemed to fix it for a while, but now it's back. The coredns logs really don't show much of anything:

[code]

Though there are probably newer versions of coredns at this point.

It's _very_ inconsistent, maybe happens a few times a day.

[2018-10-09 13:43] ricktbaker opened #69576 "kubelet error getting node status: unauthorized"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Setup new cluster in AWS EKS, with RBAC, checking all logs to verify all is good.  Nodes appear to be coming online and Ready, but I'm seeing the following errors for the kubelet service on the nodes.

[code]

Have 3 nodes and seeing the same errors on all 3.

Appears it is coming from this line in kubelet_node_status.go

[2018-10-09 14:05] liggitt commented on #43168
no, that would impact deletion of the cronjob, not the job

[2018-10-09 14:20] knightbeat commented on #24137
I had

    ck$ kubectl get pod
     NAME                                        READY   STATUS             RESTARTS   AGE
     hello-service-deployment-688c6846f9-24krd   0/1     ErrImagePull       0          1d
     hello-service-deployment-688c6846f9-hqhxn   0/1     ImagePullBackOff   0          1d
     hello-service-deployment-688c6846f9-wdzhk   0/1     ImagePullBackOff   0          1d

with `k

[2018-10-09 14:48] RenaudWasTaken commented on #69015
@cpressland you can ignore these errors.
@vladimirvivien if it's a recommendation then we'll keep spamming the logs with all the data files.

Another thing to keep in mind, it seems like CSI plugins puts a lot of data (and creates a lot of directories). It might be worth considering limiting the recursion to one level.

I'm concerned we might exhaust the amount of fds by tracking the plugins data.

[2018-10-09 14:49] #69465 closed

[2018-10-09 15:05] vladimirvivien commented on #67376
Inline volume is being implemented for 1.13.  Please see https://github.com/kubernetes/kubernetes/pull/68232 to track progress.

[2018-10-09 15:07] liggitt commented on #69510
that is not always the case. the addresses recorded on the node (node.status.addresses) are what should be used for network connections.

[2018-10-09 15:12] HagaiBarel commented on #69564
Yep, it's possible, but you might want to rethink it as kubernetes isn't aware of it nor will it manage any of the settings regarding it. I wrote a blog post on the matter if you're interested, see here - https://medium.com/@hagaibarel/kubernetes-and-elbs-the-hard-way-c59a15779caf

[2018-10-09 15:28] george-angel commented on #35941
/remove-lifecycle stale

[2018-10-09 15:29] george-angel commented on #4672
/remove-lifecycle stale

[2018-10-09 15:41] sheyooo commented on #53886
@bschwartz757 have you tried with socket-io redis adapter?

[2018-10-09 16:00] chmking commented on #69476
Closing this as a duplication of issue: #64148

[2018-10-09 16:00] #69476 closed

[2018-10-09 16:19] raravena80 commented on #68981
Agree, I think `Recreate` is a good workaround if the cluster operator is not concerned about rolling updates.

[2018-10-09 16:29] cblecker commented on #49213
/lifecycle fresh

[2018-10-09 16:29] cblecker commented on #49213
/remove-lifecycle stale

[2018-10-09 16:30] mattlandis opened #69579 "Pod data corruption in etcd"
/kind bug

**What happened**:
API server became unable to respond to requests for pod resources.  There is an error in the logs deserializing the Pod protobuf.

If we look at etcd we see two entries for a  datadog-agent pod ending in dxjt9, where there should only be one (the 'n' in 'agent' changes to 'l'):
* `datadog-agent-dxjt9`
* `datadog-agelt-dxjt9`

Looking at the data for these two records

[2018-10-09 16:31] croomes opened #69580 "StorageOS volume mount succeeds even if request to mount via api fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Using the StorageOS volume driver, the VolumeMount() api method is called after the volume driver has already performed the mount.  This means that the api is unable to reject the k8s mount request if prerequisites fail (e.g. it has been mounted elsewhere or the volume has been disabled).

In addition, no api call is made

[2018-10-09 16:34] bschwartz757 commented on #53886
@sheyooo no I haven't - setting the backend TTL parameter has worked for me. I have not had good luck with anything redis-related in GCP (especially the cluster module), but we recently switched over to Memorystore (Google's "official" redis offering) and it's worked without issues.

If you have a need to use socket-io with redis in GKE, I would imagine that it would work fine using the google-sup

[2018-10-09 16:49] dashpole commented on #59524
/remove-lifecycle rotten

[2018-10-09 16:51] prateekpandey14 commented on #59040
/remove-lifecycle stale

[2018-10-09 17:11] ahmetb commented on #21493
For anyone interested, as @bhack has said we released a tool named `grpc-health-probe` from grpc-ecosystem that makes it easier to health-check gRPC apps. The only requirement is that you implement the gRPC health protocol in your application (which is pretty trivial and every grpc ships the health library for every language).

- Check out the repository at https://github.com/grpc-ecosystem/grpc-h

[2018-10-09 17:14] vincentjorgensen commented on #39792
I just came up with a usecase for using this. We namespace all our services, so being able to namespace our redis clusters (instead of having a custom entry per development environment) would be very useful.

[2018-10-09 17:22] santiagopoli commented on #69458
+1 For this feature. It would be nice to provide healthchecks for each container port. I have a use case in which I need to build a cluster between my applications. My readinessProbe checks if the cluster was established, but pods cannot join to the cluster because they are using a DNS discovery mechanism (via k8s). Endpoints are added to the DNS when the pods are ready, but they need to join the

[2018-10-09 18:04] craigtracey commented on #66300
Agree with @danielsreichenbach - there are optics issues here, but also impact on downstream configuration management tools.  Would it be possible to prioritize this in the current cycle?

[2018-10-09 18:10] mattlandis commented on #69579
/sig api-machinery

[2018-10-09 18:11] gyuho commented on #69579
/cc @jpbetz

[2018-10-09 18:14] dims commented on #66300
@danielsreichenbach @craigtracey i am looking for folks who can help with this effort. if you are interested ping @randomvariable and me. This is part of moving things to CNCF infrastructure and overlaps with SIG-release automation for building artifacts.

[2018-10-09 18:53] jamesdh commented on #3595
...sorry for being obtuse, but can someone please explain why popular images like casandra/elasticsearch wouldn't do this already as part of their entrypoint script?

[2018-10-09 18:58] jamesdh commented on #3595
Also, any reason this couldn't just be run as part of the Dockerfile like done here? https://github.com/imyoungyang/docker-swarm-elasticsearch/blob/master/Dockerfile#L12

[2018-10-09 19:00] danielsreichenbach commented on #66300
@dims @randomvariable I would be available to resolve this. Technically all good, just need a bit of background info/context for final target.

[2018-10-09 19:04] randomvariable commented on #66300
Yup. I admit of being more in the RPM world where we're just expected to use a RH7 repo for
any systemd-based release of Fedora for most software.

[2018-10-09 19:06] jingax10 commented on #69478
We've fixed netd and rebuilt v0.18 and then made changes to GKE to pick up the new image.

The tests turned green since 10/09/2018 08:16.

Thereby, I closed the issue.

/close

[2018-10-09 19:06] #69478 closed

[2018-10-09 19:15] andrewsykim opened #69585 "Removing cloud provider dependencies to kubernetes/kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

As part of a long running initiative to remove cloud providers out of kubernetes/kubernetes, it's required to remove internal dependencies to k8s.io/kubernetes so we can migrate them into a staging directory (see [KEP-removing-in-tree-providers](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190125-remov

[2018-10-09 19:17] andrewsykim commented on #69585
@kubernetes/sig-cloud-provider @cheftako @dims @d-nishi @frapposelli @hogepodge @justaugustus @mcrute

[2018-10-09 19:34] jingyih commented on #69579
@mattlandis
Can you please check the etcd wal log (also called the raft log)?  All the write requests to etcd server are logged there.
- If there is only an entry for `datadog-agent-dxjt9`, that means the corruption happened inside etcd;
- otherwise if there are entries for both `datadog-agent-dxjt9` and `datadog-agelt-dxjt9`, that means the corruption happened between kube-apisever and etcd.

We

[2018-10-09 19:37] belissner commented on #69197
I have the similar issue. Kubernetes version 1.12.1, installed with kubeadm, fresh install. CNI is calico. Updated CentOS 7 OS.

[2018-10-09 19:38] jpbetz commented on #69579
xref https://github.com/etcd-io/etcd/issues/9325

[2018-10-09 19:38] #43962 closed

[2018-10-09 19:39] oomichi opened #69588 "/proc/net/nf_conntrack doesn't exist on Ubuntu 16.04"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

e2e test "[sig-network] Network [It] should set TCP CLOSE_WAIT timeout" requires the test target OS supports /proc/net/nf_conntrack, but Ubuntu 16.04 doesn't support it.
Then the test fails today like the following:
[code]

**What you expected to happen**:

The test succeeded or was skipped.

**How to reproduce it (as mi

[2018-10-09 19:40] oomichi commented on #69588
/sig network

[2018-10-09 19:53] tamalsaha opened #69590 "CABundle should not be required in Webhook ClientConfig"
Rancher users seem to use Let's Encrypt to expose their kube-apiserver. This means that their kubeconfig file has no client-ca. Any custom controller that uses self-hosted EAS to implement admission webhooks has no place to look for CABundle.

But CABundle is a required field for Webhook ClientConfig . https://github.com/kubernetes/api/blob/e3c5c37695fbce2b0b46845e3bb4806c4b8faf47/admissionregistr

[2018-10-09 19:53] tamalsaha commented on #69590
/kind enhancement
/sig api-machinery

cc: @deads2k

[2018-10-09 19:56] andrewsykim commented on #69585
Started work on removing `pkg/util/net/sets`, `pkg/api/v1/service` and `pkg/api/service`

[2018-10-09 20:02] deads2k commented on #69590
Using system certs when the CA is empty seems fine.  Semi-related, I do not want to support an insecure option.  No CA cannot mean insecure, it must mean system certs.

[2018-10-09 20:04] gurudattest commented on #69545
To give more context to my case, actually my readinessprobe takes around 2-3 min for the first time. So, I had the timeout to be 180. But, after a while(around 2 min) it fails with the error
"wsarecv: An existing connection was forcibly closed by the remote host"

[2018-10-09 20:09] liggitt commented on #69590
Agree on both counts. If you leave it empty today (which is allowable), I think that is the current behavior (use system certs)

[2018-10-09 20:13] tamalsaha commented on #69590
So, is the fix just to relax the constraint in the types.go?

[2018-10-09 20:15] jpbetz commented on #69579
@mattlandis Thanks for the detailed report.

Questions:
- How many etcd members in the cluster?
- Any details you can tell us about how kube-apiserver -> etcd networking?
- Any details you can provide about the file system/disk used by etcd?

Any thoughts on how we might attempt to reproduce this welcome. This report is concerning to say the least.

[2018-10-09 20:27] bsalamat commented on #60469
@sindrepm Thanks for your investigation and the detailed answer. You are right that the scheduler had a bug which caused the behavior you are observing. The bug is fixed by #63003. When the next patch release of 1.10 is rolled out in GKE, we expect the bug to be fixed. I am not sure if we have any other channel to roll out a patch in GKE. All the patches must go through various testing and soak ti

[2018-10-09 20:29] tproenca commented on #51096
I'm having the same issue and I have increased the timeoutSeconds to 5.

[2018-10-09 20:29] d-nishi commented on #69341
ack.

[2018-10-09 20:32] mikebryant commented on #52172
/remove-lifecycle stale

[2018-10-09 21:46] msau42 commented on #61563
We do not plan to address the two remaining issues in the near term:
#61446: volume reconstruction does not work with host path volumes mounted via subPath.  We eventually hope to address this by refactoring volume reconstruction to use kubelet checkpointing.
#61545: subpath mounts nested within atomic writer volumes (configmap, secret, downwardAPI, projected) do not work.  Fixing this would requi

[2018-10-09 21:54] jberkus opened #69597 "Failing Test: timeout in deployment on gci-gke-serial"
Testgrid: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial

Sample failure log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/7185?log#log

This test job has always been flaky, but is now failing more often than it's passing.  Diagnosing it is difficult, though, because even the "successful" runs have multiple failures

[2018-10-09 21:57] jberkus commented on #68856
Presumably this was resolved?

[2018-10-09 22:00] jberkus commented on #69597
/sig testing

[2018-10-09 22:02] krzyzacy commented on #68856
yes
/close

[2018-10-09 22:03] sharebear commented on #67840
What about people using CRDs in clients that aren't go (for example there are multiple "operator" type applications based upon the fabric8 java libraries), do they write OpenAPI by hand or do they also reverse engineer the schema from their language of choice?

[2018-10-09 22:05] squeed opened #69599 "Service.Spec.ExternalIPs should not allow duplication"
/kind feature

**What happened**: Accidentally created two distinct services with the same `externalip:port` combination. This creates a race where one of the services, on a per-node basis, becomes unavailable.

**What you expected to happen**: An error from the service validation, same as trying to allocate a duplicate `clusterIP`

**How to reproduce it (as minimally and precisely as possible)**:

[2018-10-09 22:05] squeed commented on #69599
/sig network

[2018-10-09 22:06] msau42 commented on #61563
/close

[2018-10-09 22:06] #61563 closed

[2018-10-09 22:11] krzyzacy commented on #69597
also looks like https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial has similar issues, so this is actually not a gke specific problem.

[2018-10-09 22:15] jberkus opened #69600 "Flaking Test: 5K nodes: [sig-scalability] Load capacity [Feature:Performance] should be able to handle 30 pods per node ReplicationController with 0 secrets, 0 configmaps and 0 daemons"
Testgrid: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance

Logs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/229

This isn't an uncommon flake, but it seems to be happening more this week, with 4 failures out of the last 7 runs.  Has something changed to push us closer to the timeout boundary?  CoreDNS?

[2018-10-09 22:20] krzyzacy commented on #69597
one of the kubelet log has
[code]
not sure if that's helpful at all...

/assign @saad-ali
(redirect to get some help from dev-oncall to see if can find any leads here...)

[2018-10-09 22:36] jberkus commented on #69444
/remove-kind failing-test

[2018-10-09 23:29] jethrogb commented on #62366
/remove-lifecycle stale

[2018-10-10 00:12] Katharine opened #69601 "Conformance test "[sig-apps] Daemon set [Serial] should rollback without unnecessary restarts [Conformance] [It]" is skipped on some clusters"
The conformance test [`[sig-apps] Daemon set [Serial] should rollback without unnecessary restarts [Conformance] [It]`](https://github.com/kubernetes/kubernetes/blob/981a064c851696873a2afc21ce9a021f467ec410/test/e2e/apps/daemon_set.go#L376) is skipped on clusters without at least two nodes (and also when `SkipUnlessNodeCountIsAtLeast` misbehaves).

Conformance tests should never be skipped. As suc

[2018-10-10 00:14] msau42 opened #69602 "Add tests using storage framework for the default storageclass"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
We can consider these tests as a future conformance profile candidate.  See https://github.com/kubernetes/kubernetes/issues/65155#issuecomment-411486293

[2018-10-10 00:55] sagarkal opened #69603 "fluentd-elasticsearch does not send events after they are filtered and processed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

@kubernetes/sig-AWS-bugs

bug

**What happened**:

I am using fluentd-elasticsearch v2.3.1 in order to filter and process JSON events generated by kubernetes pods and then send them to AWS managed Elastic search.

**What you expected to happen**:
I expect to see filtered JSON events on Kibana. I am basically decoding a JSON object from a stringified b

[2018-10-10 01:37] timothysc commented on #66300
I'm volun-tolding @chuckha ;-)

[2018-10-10 02:16] islinwb commented on #69585
Hi! @andrewsykim I would like to take work on `pkg/apis/core/v1/helper`, `pkg/version`, `pkg/volume`  and    `pkg/volume/util`.

[2018-10-10 03:07] liukaii commented on #69523
@ixdy Thank you for answering my question.Here is something about docker that  I am using.
`root@ubuntu:/home/lk/Downloads# docker version
Client:
 Version:           18.06.0-ce
 API version:       1.38
 Go version:        go1.10.3
 Git commit:        0ffa825
 Built:             Wed Jul 18 19:11:02 2018
 OS/Arch:           linux/amd64
 Experimental:      false

Server:
 Engine:
  Version:

[2018-10-10 04:33] ixdy commented on #69523
that seems like a pretty new version of docker, so that should work... have you tried building a more recently release of kubernetes (1.10 or later)?

[2018-10-10 04:47] ddebroy commented on #69602
Is it typically expected that a certified kubernetes distro sets up a default storage class (perhaps based on the environment) once installed?

I had submitted https://github.com/kubernetes/kubernetes/pull/68949 but in the context of the above, I wonder if the presence of a default storage class should always be assumed.

[2018-10-10 05:11] neolit123 commented on #69603
/sig instrumentation

[2018-10-10 05:11] neolit123 commented on #69569
/sig api-machinery

[2018-10-10 05:12] neolit123 commented on #69555
/kind bug
/sig cli

[2018-10-10 05:13] neolit123 commented on #69564
/sig aws
/triage support

probably best to ask at our support channels:
https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

please close once resolved.

[2018-10-10 06:17] stewart-yu commented on #69585
`pkg/controller`
/assign

[2018-10-10 06:27] pohly opened #69608 "StatefulSet without Service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Developers have started to use `StatefulSet` without a `Service` definition as a way to deploy a pod on a cluster exactly once, for example here: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/kubernetes/stable/controller.yaml

Conceptually that makes sense when the app r

[2018-10-10 06:28] pohly commented on #69608
/sig apps

[2018-10-10 07:03] irfanjs opened #69610 "Not able to initialize kubernetes cluster with assigned IP : Vagrant provisioned infra"
Hello,

**what is expected:**
Kubernetes cluster should be initialized with custom network interface provisioned by vagrant.

**How to reproduce :**
Vagrant version :  2.1.4
oracle virtualbox version : Version 5.2.18 r124319 (Qt5.6.2)
Host OS : win 8.1 (64 bit), 8 GB RAM

two centos 7 boxes are provisioned. one is master and another is worker.
Using [vagraantfile  ](https://pastebin.com/zWHmnLzd),

[2018-10-10 07:06] ryanmcnamara commented on #68432
Hey @Huang-Wei @kow3ns
I'm still able to reproduce this on v1.11.3
I found a minimal daemonset that reproduces the issue (assuming two nodes tagged with `a: a`
[code]
can we reopen this?

[2018-10-10 07:13] Huang-Wei commented on #68432
Can you check the daemonset pod holds matchExpressions with order [b, a], or [a, b]?

If it's [b, a], looks like the fix has been effective.

If it's [a, b], try to delete and recreate the daemonset to see if it works?

[2018-10-10 07:18] ryanmcnamara commented on #68432
Confirmed it was `[a, b]`

Deleting and recreating the daemonset consistently repros, as does changing the daemonset to `[a, ab]` (which doesn't cause the controllerrevisions to be incremented) and then changing back to `[b, a]`

[2018-10-10 07:19] lasshpanzer opened #69612 "pv can not be deleted and csi-attacher and csi-provisioner fall into an infinite loop."
[code]

[code]
[code]

csi-attacher and csi-provisioner fall into an infinite loop.

[2018-10-10 07:20] gucki commented on #66757
@shigy123456 I can't reproduce this with kubernetes v1.11.3. The error only occurs if the secret stored in k8s is invalid, because it seems to fall back to a keyring on the server.

[2018-10-10 07:42] hetaocome commented on #69197
i have the same issue, but the logs displays connection timeout, not refused

[2018-10-10 07:42] yastij commented on #69585
Taking care of `pkg/credentialprovider/aws`

[2018-10-10 08:00] stewart-yu commented on #69585
@andrewsykim  If i'm think we should determinate some referred packages where to place, istead of copy one for `cloudprovider`. WDYT?

[2018-10-10 08:02] whites11 commented on #29322
I might be wrong, but this issue is still valid when using the shorthand flag -n, such as:

`kubectl -n <namespace> get <tab tab>`

returns pod suggestions from the default namespace

[2018-10-10 08:05] TracyBin commented on #69197
same problem here. Calico is normal.
[code]

[code]

[code]

[2018-10-10 08:40] zerda commented on #68413
Here is a workaround like `/.+\.(css|js|json|map|png|gif|ico|jpg|jpe?g)$` to pass this check.

[2018-10-10 09:40] qianweicheng commented on #47862
looking forward to this feature

[2018-10-10 09:43] nikhita commented on #62500
/remove-lifecycle stale
/area custom-resources

[2018-10-10 09:52] yastij commented on #56694
/remove-lifecycle stale

[2018-10-10 10:14] gucki commented on #66757
@shigy123456 See https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/volume/rbd/rbd_util.go#L223

[2018-10-10 10:17] dczombera commented on #55219
@niki-1905 Are u still working on it?
If not, I'd like to take over. :)

[2018-10-10 10:46] discordianfish commented on #40610
I think this should be brought up in a sig-node meeting, otherwise I doubt this will get attention and ultimately get closed off by @fejta-bot

[2018-10-10 11:39] #63645 closed

[2018-10-10 11:42] wojtek-t commented on #69473
This one seems to be some configuration issue - I will take a look.

/assign @wojtek-t

[2018-10-10 11:43] wojtek-t commented on #69600
Each of those flake seem to be different one (no it's not related to coredns).

The goal for this quarter is to deflake this job completely, so we will definitely be looking into soon.

[2018-10-10 12:01] wojtek-t commented on #69473
So I took a look into that internally, and sometimes clusters don't start due to lack of quota.

So it's configuration issue.

the question is what has changed recently - my hypothesis is that we are choosing projects for those suites somewhat randomly and not all of them have enough quota.

@krzyzacy - if you remember any recent changes here from the top of your head

[2018-10-10 12:01] wojtek-t commented on #69473
@kubernetes/sig-scalability-bugs

[2018-10-10 12:12] williamlord commented on #50608
Same, although gradually adding the annotations one by one does work.

[2018-10-10 12:17] wojtek-t commented on #69473
https://github.com/kubernetes/test-infra/pull/9567 broke our tests.

There are different problems with this PR:
1. not all scalability-related jobs require the same type of projects
2. some of the project in that category don't have enough quota

[2018-10-10 12:19] cohadar opened #69620 "EBS volume attaches but does not mount on AWS c5 instance types"
/kind bug

**What happened**:
volume attaches but does not mount on AWS c5 instance types

**What you expected to happen**:
volume to mount on pod

**How to reproduce it (as minimally and precisely as possible)**:
k8s 1.10 on aws, c5 instance type node, try to mount EBS volume to pod

**Anything else we need to know?**:
This is probably because this instance types use different devices: /dev/nvme1

[2018-10-10 12:21] DylanBLE opened #69621 "ApiServer was not able to recover from network disconnection with etcd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When apiserver was disconnected from etcd cluster for some reason, it's not able to recover even if  the network issue was solved.

**What you expected to happen**:
Apiserver should always find the available etcd to work on.

**How to reproduce it (as minimally and precisely as possible)**:
Suppose there was an etcd clust

[2018-10-10 12:32] florianrusch commented on #25456
Same error on `kubernetes version 1.12.0` and `docker version 18.06.1-ce`

[2018-10-10 12:32] wojtek-t commented on #69473
I have just bumped the quotas in all of those and it should now be fixed.

[2018-10-10 12:32] #69473 closed

[2018-10-10 12:44] DylanBLE commented on #69621
/sig api-machinery

[2018-10-10 12:52] DylanBLE commented on #69621
It seems that adding a timeout context fixes the issue. I wonder if there is more elegant solution.

[2018-10-10 13:03] sercanacar commented on #58946
What was the fix for the original problem?

[2018-10-10 13:03] #67773 closed

[2018-10-10 13:16] nicroto commented on #34583
I have a similar issue:
 - 3 masters + 3 nodes in 3 regions. I have a PV (created on regionA) for data backups created by a CronJob. When the cron's job gets scheduled on a node on a different region (regionA's CPU has been allocated almost fully and the master chooses another node in a different region) - it can't start because the PV is not accessible.

Is there a way to avoid this issue?

[2018-10-10 13:22] gucki opened #69625 "allow to specify wheter to use rbd-nbd or krbd"
The current implemenation always tried first to use the kernel rbd and only if that fails it falls back to rbd-nbd.

See https://github.com/kubernetes/kubernetes/blob/243557ba3da96995db4f8efbc756fc935d074739/pkg/volume/rbd/rbd_util.go#L362

See https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/volume/rbd/rbd_util.go#L426

A configuration option to specify/ force which driver to use sh

[2018-10-10 13:35] #69612 closed

[2018-10-10 13:49] geertschuring commented on #58908
I've been pulling my hair over the last couple of days on why my cluster does not react like the documentation says it should. Very frustrating if you're trying to learn about kubernetes... now it turns out its a bug??? Sigh.....

[2018-10-10 14:08] liukaii commented on #69523
@ixdy        I used to build kubernetes1.12 and it works well. The version of kubeadm in master node is 1.9.4, so I try to build kubernetes1.9.4 when I want to change "kubelet" in slave node. Though it still has some error message, it can work well after changing "kubelet". Thank you very much!

[2018-10-10 14:35] vladimirvivien commented on #69015
@RenaudWasTaken yeah CSI keeps track of volume operation metadata in the plugins dir.  This probably will not change.

I understand this is beta. However, besides CSI and Device plugin, are there any other implementers out there for this feature ? Would it be possible to propose a new location (i.e. <pluginsDir>/reg/?

[2018-10-10 14:35] wgliang commented on #69625
/kind feature

[2018-10-10 14:49] harryge00 opened #69628 "proto: wrong wireType = 0 for field NominatedNodeName after upgrading to v1.10"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have upgraded two Kubernetes cluster, one from v1.6 to v1.10, another from v1.9 to v1.10. Both of their kube-apiservers report `status.go:64] apiserver received an error that is not an metav1.Status: proto: wrong wireType = 0 for field NominatedNodeName`  when listwatch pods.

**What you expected to happen**:
Kube-apise

[2018-10-10 14:50] harryge00 commented on #69628
I guess this issue is related to https://github.com/kubernetes/kubernetes/pull/58990
@bsalamat

[2018-10-10 14:52] geertschuring commented on #58908
"iptables -P FORWARD ACCEPT" didn't work in my setup either.

[2018-10-10 15:10] matohavo commented on #56430
/remove-lifecycle stale

Still an issue with k8s 1.11.1 - this ate 2 of my days, kubectl requests taking minutes.
Seems like it started after changing /etc/resolv.conf (making the node unable to resolve for a while).

Mentioned hotfix worked:
`kubectl --namespace kube-system delete apiservice v1beta1.metrics.k8s.io`

**Environment:**

Kubernetes version: v1.11.1 (server)
Cloud provider or hardware

[2018-10-10 15:39] irfanjs commented on #69610
please suggest.
not getting , how kubernetes selects the network interfaces while initializing .....
as of now, it is selecting 10.x.x.x IP address ranges, but i need kubernetes to pick up 172.x.x.x ip address range. 172 ip address range is already available in enpS08 interface.

[2018-10-10 16:00] chrisohaver commented on #69600
... and CoreDNS is not deployed in an any scale tests at this time.

[2018-10-10 16:05] chrisohaver commented on #69197
The `Failed to list` errors indicate that the service account does not have read rights to the api objects (services, endpoints, namespaces, etc).

[2018-10-10 16:18] andrewsykim commented on #69585
@stewart-yu I'm not sure I understand your question, can you clarify a bit please?

[2018-10-10 16:21] andrewsykim commented on #69585
Ah do you mean we should figure out where we want these dependencies moved before hand?

[2018-10-10 16:22] andrewsykim commented on #69585
related: we need to have a discussion around where it's appropriate to duplicate code.

[2018-10-10 16:44] #53817 closed

[2018-10-10 16:49] #69545 closed

[2018-10-10 17:03] marcellodesales commented on #20352
And still is :(

[code]

[2018-10-10 17:32] krzyzacy commented on #69473
cc @amwat

the quota is controlled by internal values

[2018-10-10 17:49] 2rs2ts commented on #53347
/remove-lifecycle stale

[2018-10-10 17:53] vaikas-google opened #69632 "fake_event_expansion / fake_node_expansion do not expose PatchType."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubernetes/pkg/client/clientset_generated/internalclientset/typed/core/internalversion/fake/fake_event_expansion.go
kubernetes/pkg/client/clientset_generated/internalclientset/typed/core/internalversion/fake/fake_node_expansion.go

do not support PatchType. They probably should.

**What you expected to happen**:
These files are not

[2018-10-10 17:56] caesarxuchao commented on #69632
/assign

[2018-10-10 17:56] caesarxuchao commented on #69632
/kind cleanup
/sig api-machinery
See https://github.com/kubernetes/kubernetes/pull/69330#discussion_r224160179.

[2018-10-10 17:58] msau42 commented on #69602
I don't think we can require that all distros provide a default storage class, however, we are looking into an optional conformance profile that includes storage tests.  It is expected that distros that conform to the conformance profile must provide a default storageclass out of the box that doesn't need to be configured by users.

[2018-10-10 18:40] janetkuo commented on #65010
A Job can only become `Failed` when it has `.spec.backoffLimit` set and has hit the limit.
https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-backoff-failure-policy

My theory is that you probably don't have this field set in your Job, so it never actually failed.

To further confirm, you can do something like this:
[code]

A failed job should return something li

[2018-10-10 19:14] vaikas-google commented on #69632
/kind bug

[2018-10-10 19:15] mengqiy commented on #48209
/reopen

[2018-10-10 19:16] mengqiy commented on #48209
@juanvallejo knows the answer best :)
cc @seans3

[2018-10-10 19:44] yastij commented on #65406
/remove-lifecycle stale

[2018-10-10 19:55] jennybuckley commented on #65925
/remove-lifecycle stale

[2018-10-10 19:59] bhack commented on #68930
https://github.com/kubernetes/minikube/issues/2705

[2018-10-10 20:13] #65295 closed

[2018-10-10 20:51] mitar opened #69637 "kubelet does not read ~/.docker/config.json if it is created after it is started"
/kind feature

**What happened**:

Based on my testing, if I do `docker login` after kubelet is already running on the node, pulling private images fails even if `~/.docker/config.json` now exists.

**What you expected to happen**:

I would expect that I can pull private images after I run `docker login` and when the `~/.docker/config.json` file exists, no matter if kubelet is already running or n

[2018-10-10 20:57] mitar commented on #69637
cc @kubernetes/sig-node-feature-requests

[2018-10-10 21:00] jpbetz opened #69638 "Add test coverage of protobuf compatibility between versions"
During review of a [etcd client version upgrade](https://github.com/kubernetes/kubernetes/pull/69322) that also required a gogo/protobuf upgrade, we noticed that we lack of test coverage to ensure that previously serialized protobuf data decodes correctly and changes like this stay wire-compatible. We should aim for our wire protocol compatibility testing should be exhaustive.

[2018-10-10 21:24] mitar opened #69640 "Add support for imagePullSecrets in PodPreset"
/kind feature

**What happened**:

In `PodPreset` documentation it says that you can use it for secrets as well. But when I try to use `imagePullSecrets` in the preset, I get:

[code]

**What you expected to happen**:

`imagePullSecrets` would be used an applied to pods.

**How to reproduce it (as minimally and precisely as possible)**:

Create a preset with `imagePullSecrets` value. Try to create

[2018-10-10 21:30] sneak commented on #18269
I found this from Google because I have the same question.  Do you happen to have a link to the answer there?

[2018-10-10 21:40] juanvallejo commented on #48209
There is currently a [kubernetes/utils](https://github.com/kubernetes/utils) repo for any non-kube-specific utils.

As for the printers package, it does not need to move anywhere. That package is used by the server to generate a Table response for server-side printing. Since there are some code-paths in kubectl that still rely on this package as well, we have discussed a few options:
  - Try to co

[2018-10-10 21:59] leakingtapan commented on #67479
I had similar experience on deleting a pv. The deletion just hangs till I delete the pvc from a separate console. This experience is kinda confusing to me.

[2018-10-10 22:32] janetkuo commented on #69601
DaemonSet by its nature is very sensitive to the number of nodes in a cluster. This specific test makes sure that a DaemonSet rollback doesn't cause unnecessary disruption to existing Pods. It doesn't make sense on a single node cluster because of how DaemonSet works, and a single node cluster won't have "existing Pod during a DaemonSet rollout".

DaemonSet rolling update / rollback is essential a

[2018-10-10 22:34] jasonkeene commented on #66380
Same issue here. We are running on GCP with CFCR.

[2018-10-10 22:35] msau42 opened #69642 "Update default storageclasses to use delayed binding"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
Once topology goes GA, let's update the default storageclasses to set "WaitForFirstConsumer" volume binding mode.  The addon is set to "EnsureExists", which means that if the object is already created, then we do not modify it.  So users upgrading will not be affected.  Only new clusters crea

[2018-10-10 22:36] msau42 opened #69643 "Add GCE pd-ssd storageclass addon"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
Add (non-default) storageclass for pd-ssd.  This should use and wait for delayed binding GA.

/assign

[2018-10-10 22:37] msau42 commented on #69642
/assign

[2018-10-10 22:37] msau42 commented on #69642
This has the potential to break e2e and upgrade tests

[2018-10-10 22:40] msau42 commented on #69642
actually it should not break upgrade because of EnsureExists.  Need to double check downgrade case

[2018-10-10 22:40] msau42 commented on #69642
cc @ddebroy

[2018-10-10 23:18] ptagr commented on #50345
+1 just saw this issue with nginx configmap as well. k8s 1.10.x

[2018-10-10 23:46] #69503 closed

[2018-10-10 23:49] thockin commented on #18269
How about something like: kubectl run -n kube-system -i
--restart=Never --rm test-${RANDOM} --image=ubuntu
--overrides='{"kind":"Pod", "apiVersion":"v1", "spec": {"hostNetwork":
true}}'
On Wed, Oct 10, 2018 at 2:31 PM Jeffrey Paul <notifications@github.com> wrote:

[2018-10-10 23:50] spiffxp commented on #20352
/assign
assigning to be able to reopen, I don't have the bandwidth to address, but I'll open it up if it's still happening
/remove-lifecycle rotten
/reopen

[2018-10-10 23:50] mml commented on #34856
/remove-lifecycle stale

On Wed, Oct 10, 2018 at 1:51 PM fejta-bot <notifications@github.com> wrote:

[2018-10-10 23:51] #63713 closed

[2018-10-10 23:51] spiffxp commented on #20352
/unassign
/help wanted

[2018-10-10 23:51] spiffxp commented on #20352
/help

[2018-10-10 23:54] BenTheElder commented on #69601
It seems understandable that a DaemonSet test wants to be specific to the number of nodes, however...

The number of nodes is not included in the definition of being conformant though, conformance tests are not supposed to use `skip` in any way because they're supposed to be completely general to any cluster.

If we test differently based on the number of nodes then I can just always run with a si

[2018-10-11 00:04] hixichen commented on #51835
kubectl delete --all pods --namespace=xxxxx --force --grace-period=0

works for me.

Do not forget about "--grace-period=0". It matters

[2018-10-11 00:06] 2rs2ts commented on #53347
maybe /sig-scheduling ?

[2018-10-11 00:28] stewart-yu commented on #69585
Yes

[2018-10-11 00:45] k82cn commented on #53347
`jobTemplate.spec.template.metadata.name` is not necessary in this case.

[2018-10-11 00:46] ixdy commented on #69523
Kubernetes 1.9.4 is rather old (March 2018). I'm not sure what you mean by "version of kubeadm in master node" but it'd be good to update that.

[2018-10-11 00:50] nikopen commented on #69429
/reopen

[2018-10-11 00:50] nikopen commented on #69429
/assign

[2018-10-11 00:50] nikopen commented on #69429
/close

[2018-10-11 00:50] #69429 closed

[2018-10-11 00:55] andrewsykim commented on #69585
Good thinking @stewart-yu! I'm in the process of trying to formailize a meeting for this effort (https://github.com/kubernetes/community/pull/2740). Maybe that's a good place to start, otherwise I'm happy to take suggestions and chat about it here :)

[2018-10-11 01:17] MarcPow opened #69647 "Pod SecurityContext Changes in 1.12.0-rc2 do not have backwards compatible defaults"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When deploying a Manifest that is compatible with 1.11.3 against a newly provisioned 1.12.0-rc2 cluster, older manifests no longer worked.

2018-10-11T01:00:01.3680048Z error: error validating:  error validating data: field spec.template.spec.containers[0].securityContext.procMount for v1.SecurityContext is required; if

[2018-10-11 01:18] MarcPow commented on #69165
Is there a known root cause here?

[2018-10-11 01:43] MarcPow commented on #69647
My expectation would be that this would default to "securityContext.procMount: default"

@jessfraz - This appears to be related to 30dcca623369572558389d920b3cdf2fbe227338.

I notice that you've put this behind a feature gate.    I'll admit that I'm relatively new to Kubernetes.   My expectation would be that new fields would default - but is there some convention that says for features of a certa

[2018-10-11 01:47] jessfraz commented on #69647
What is it defaulting to for you now? It should default to default.
On Wed, Oct 10, 2018 at 6:45 PM MarcPow <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu

[2018-10-11 02:43] WanLinghao opened #69652 "ClusterRole AggregationRule circular reference bug"
/kind bug

For aggregation clusterrole, in some cases, circular dependency could exist between them, which may cause wired behaviours.
For example, if  we create clusterroles as follow:

[code]

Then we create some non-aggregation clusterrole:

[code]

All three aggregation clusterroles would look like:
[code]

Then we delete clusterrole child1, all three agg-clusterroles would keep unchanged with

[2018-10-11 02:43] WanLinghao commented on #69652
/sig auth

[2018-10-11 02:45] WanLinghao commented on #69652
/assign

[2018-10-11 02:59] fkpwolf commented on #60660
@mikedanese does it get fixed? If so, what's the JWKS URL currently?

[2018-10-11 03:04] #67376 closed

[2018-10-11 03:13] irfanjs commented on #69610
because of me in different timezone, most of the folks i see is offline ... so seeking suggestion here
please help

[2018-10-11 03:56] ixdy commented on #60863
Yeah, the kubernetes-src tarball should still include all generated srcs.

I was hoping the new implementation of `go_path` would help with this, but I'm not so sure, since we'd need to explicitly list all `go_library`s in the tree or something. (This isn't a mode bazel is really great at.)

@jayconrod can you think of a better way to get all sources for the entire tree into a gopath?

[2018-10-11 04:02] nfisher opened #69653 "Proposal: Move k8s.io/apimachinery/pkg/apis/meta/v1 to k8s.io/api/meta"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig api-machinery

I was looking through the the [deployment example](https://github.com/kubernetes/client-go/blob/master/examples/create-update-delete-deployment/main.go#L29) as I'd like to generate JSON templates that I can pipe into `kubectl apply`. Might look at building additional functionality in the future but for now generating

[2018-10-11 04:12] nikhita commented on #25716
/lifecycle frozen

[2018-10-11 05:00] mikedanese commented on #60660
It's not fixed yet.

[2018-10-11 05:27] CaoShuFeng opened #69654 "CRD Established condition has null for lastTransitionTime"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  the `lastTransitionTime` for a CRDs Established condition is always null

**What you expected to happen**: it should have a timestamp

**How to reproduce it (as minimally and precisely as possible)**: create a CRD and then examine its yaml/json. For example:

[code]

**Anything else we need to know?**:

**Environment**:

[2018-10-11 05:31] CaoShuFeng commented on #69654
/area custom-resource

[2018-10-11 05:57] #63688 closed

[2018-10-11 06:15] lixianyang opened #69656 "kubeadm(v1.12.1) init failed(kubelet error with unknown flag --cadvisor-port)"
**BUG REPORT**:

**What happened**:

when I use kubeadm init a cluster, it failed:
[code]
Then, I check kubelet.service (systemctl status kubelet -l) :
[code]

**What you expected to happen**:

Use kubeadm init cluster success

**How to reproduce it (as minimally and precisely as possible)**:

Download v1.12.1 server bin, copy bin files to /usr/bin/, then:
[code]

**Anything else we need to know?*

[2018-10-11 06:35] lixianyang commented on #69656
My environment error

[2018-10-11 06:35] #69656 closed

[2018-10-11 06:57] aalubin opened #69658 "kubelet /stats/summary returns empty pods list - disabling HPA"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig node
/area kubelet
/area kubelet-api

**What happened**:
We are trying to migrate from docker to cri-o for container runtime

When querying the kubelet for /stats/summary (curl localhost:10255/stats/summary)
the pods information is an empty list although pods are running on the node, the general server information is available.
This is

[2018-10-11 07:13] ms4720 commented on #19333
@MichaelSp this was with the NGINX nginx-ingress controller correct?  commercial or opensource?  Does it need its own ingress port or can it share with http?

[2018-10-11 07:13] D-PENG commented on #69503
The same mistake, I also encountered

NAME           STATUS   ROLES    AGE     VERSION   INTERNAL-IP    EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION                CONTAINER-RUNTIME
172.16.16.13   Ready    <none>   5m27s   v1.12.1   172.16.16.13   <none>        CentOS Linux 7 (Core)   4.18.12-1.el7.elrepo.x86_64   docker://18.6.0

failed to get azure cloud in GetVolumeLimits, plugin.host:

[2018-10-11 07:36] MichaelSp commented on #19333
It was the opensource version. I haven't tried to share the port.

[2018-10-11 08:29] andrevtg opened #69661 "Calico and podsubnet CIDR docs for kubeadm install need updating"
/kind bug

It seems to me that pod subnets in kubernetes 1.12 must be /24 (and not /16). Subnets are defined by "--pod-network-cidr" argument in kubeadm *OR* by a config file such as below:

[code]

This behaviour also breaks calico setup even if you follow the docs for kubeadm setup.

I had to change CALICO_IPV4POOL_CIDR in "calico.yaml" to "192.168.0.0/24" and things worked fine.

**Environment*

[2018-10-11 08:35] gaopenghigh commented on #61867
/remove-lifecycle stale

[2018-10-11 08:36] gaopenghigh commented on #61867
/close

[2018-10-11 08:36] #61867 closed

[2018-10-11 08:46] schu commented on #66067
/remove-lifecycle stale

[2018-10-11 09:00] #61058 closed

[2018-10-11 09:12] Nilesh20 commented on #60884
Facing same issue , any solution ??

[2018-10-11 09:34] mslga opened #69665 "Kubelet v1.11.3 ignores parameters from config file (--config)"
/kind bug
/sig node

After upgrading cluster from v1.10.5 to v1.11.3 I encountered information in kubelet log:
[code]

So, I decided to setup kubelet parameter via config file. I created following file:
[code]
I used this page as reference: https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/kubelet/apis/kubeletconfig/types.go

After restarting kubelet, I tried to deploy app into cluste

[2018-10-11 09:36] lfundaro commented on #48396
@samhagan and @discordianfish do you still face this problem ? I am also facing this issue and running as well on GKE. I am using k8s version `v1.10.5-gke.4`

[2018-10-11 09:39] workhardcc commented on #48638
Did scheduler & controller → api-server has the same issue?

[2018-10-11 09:45] discordianfish commented on #48396
I've migrated off from GKE, so not sure if it's still an issue. I haven't observed it after reporting it here initially though.

[2018-10-11 10:01] #63771 closed

[2018-10-11 10:33] chestack commented on #52902
meet same issue，k8s v1.9.8

Except @ailusazh has commented that kubelet should retry to getNode(), It seems that kubelet does not re sync pods after MatchNodeSelector failed events. Found following logs:
` Reason:"MatchNodeSelector", Message:"Predicate MatchNodeSelector failed", Source:v1.EventSource{Component:"kubelet", Host:"node-1"}, FirstTimestamp:v1.Time{Time:time.Time{wall:0xbee665c8e6df88de

[2018-10-11 10:53] lfundaro opened #69668 "Stale node IPs on endpoint resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Endpoint contains IPs that are no longer assigned to any node in the cluster, leading to communication failures when pods use the service.

**What you expected to happen**:
IPs listed on the endpoint should be in sync with IPs of the cluster nodes, i.e.: endpoint ips should be a subset of node ips.

**How to reproduce it (

[2018-10-11 10:58] lfundaro commented on #69668
@kubernetes/sig-gcp-bug @kubernetes/sig-autoscaling-bug @kubernetes/sig-network-bug

[2018-10-11 11:13] redbaron commented on #48638
@workhardcc , yes, both use client-go , which AFAIK remains unfixed

[2018-10-11 11:18] MohanNagendraKumar opened #69672 "i am unable to make run all my pods while installation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-10-11 11:28] yastij commented on #65271
I think this has to remain open, as this has a wider impact than Azure. Any provider/distribution that enables DenyEscalatingExec fails e2e conformance tests.

[2018-10-11 11:28] MohanNagendraKumar commented on #69672
NAMESPACE     NAME                                           READY   STATUS              RESTARTS   AGE
kube-system   coredns-576cbf47c7-7r2rm                       0/1     ContainerCreating   0          45m
kube-system   coredns-576cbf47c7-h9qf7                       0/1     ContainerCreating   0          45m
kube-system   etcd-cssosbe03-b02-master                      1/1     Running

[2018-10-11 11:48] DeRain commented on #26944
Same for me

[2018-10-11 12:07] sylr opened #69676 "Log something about OOMKilled containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Container gets killed because it tries to use more memory than allowed.

**What you expected to happen**:

Have an `OOMKilled` **event** tied to the pod and logs about this

/sig node

[2018-10-11 12:14] nikopen commented on #68613
Is this being worked on? Should be remediated for the next release, as there is time now to make it work / benchmark / alter the limits on yaml manifest.

/milestone v1.13

[2018-10-11 12:15] Montycarlo commented on #69497
Issue is still occurring on Debian Stretch.

[2018-10-11 12:28] sylr commented on #69676
@dims in #sig-sheduling mentionned this https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_container.go#L356-L359

[2018-10-11 12:31] chrisohaver commented on #68613
We will present progress today in the sig-scalability meeting.  We have a candidate fix: which reduces the amount of storage needed by the k8s/client-go package - enough to bring us below the kube-dns memory limit at 5000 nodes.

[2018-10-11 12:36] chrisohaver commented on #69672
`kube-system kube-flannel-ds-amd64-9fbxx 0/1 CrashLoopBackOff 8 16m`

What do the logs say there?  `kubectl -n kube-system logs kube-flannel-ds-amd64-9fbxx `

[2018-10-11 12:38] alvaroaleman commented on #69497
@Montycarlo Please open a new issue for that

[2018-10-11 12:40] p0lyn0mial commented on #64319
dynamic informer factory has just been merged https://github.com/kubernetes/kubernetes/pull/69308
Is there anything else we would like to implement or can we close this issue ?

[2018-10-11 12:49] #67848 closed

[2018-10-11 13:10] gregsidelinger opened #69678 "Add Support for EFS TLS encryption via the AWS EFS Mount Helper"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Kube can not mount EFS(NFS) volumes using AWS's TLS options. The NFS volume in kube has mount.nfs hard coded in pkg/volume/nfs/nfs.go.  It needs a way to support mount.efs so that that the AWS EFS mount helper can setup the stunnels when tls is passed in via mountOptions.

**What you expected to happen**:

**How to rep

[2018-10-11 13:28] prabhakarsultane commented on #44665
There is a configuration issue, if you have setup kubernetes using root and trying to execute kubectl command from the different user then this error will occur.
To resolved this issue run simply below command
root@devops:~# cp -r .kube/ /home/ubuntu/

root@devops:~# chown -R ubuntu:ubuntu /home/ubuntu/.kube

root@devops:~# su ubuntu

root@devops:~# kubectl get pod -o wide

NAME READY STATUS RESTA

[2018-10-11 13:35] akrmhrjn opened #69679 "ERROR: (gcloud.compute.instance-templates.create) Could not fetch image resource:"
The cluster was running fine for 255 days. I brought down the cluster and after that, I was unable to run the cluster up. It gives the following error while running the cluster up.

[code]

This Attempt goes on and it always fails. Am I missing something?

The kubernetes version is v1.7.2.

[2018-10-11 14:12] #68958 closed

[2018-10-11 14:30] travisn commented on #60694
@verult @linyouchong Could you take a look at this issue? Rook users continue to be impacted by  flex drivers failing to load consistently. This has been an issue since K8s v1.11. See @jbw976's analysis of the issue [here](https://github.com/rook/rook/issues/1501#issuecomment-416757034). Thanks!

[2018-10-11 14:35] kesor commented on #3595
@jamesdh because that line in the Dockerfile has no effect on a container that is running based on that image. The `ulimit` is a property of a running process, you cannot set it before the process is actually running - and its effect will only apply to that process, and its children. In the case of your example in the Dockerfile - the command will only apply to that single line#12 and will have ze

[2018-10-11 15:36] mrostecki commented on #66134
/remove-lifecycle stale

[2018-10-11 15:55] emedina opened #69686 ""Observed a panic" error logs in kubelet every 5s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After a freshly installed cluster, the following error appears every 5s in the `kubelet` logs:
[code]

**What you expected to happen**:
No error logs as it is a freshly installed cluster

**How to reproduce it (as minimally and precisely as possible)**:
New fresh cluster with only `kube-system` namespace

**Anything else

[2018-10-11 16:09] shosti opened #69687 "Allow HPA to scale to 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I am trying to set up a HorizontalPodAutoscaler for a worker deployment that scales up and down based on a queue size (which feeds into a custom metric). The queue is quite bursty, so I would like the deployment to be scaled to 0 unless there are messages in the queue. I tried setting `minReplicas` to 0, but got erro

[2018-10-11 16:10] shosti commented on #69687
/sig autoscaling

[2018-10-11 16:10] mcrute commented on #69585
I'll grab `pkg/util/mount`

[2018-10-11 16:31] emedina commented on #69686
/sig cluster-ops

[2018-10-11 17:14] cheftako commented on #69585
/assign

[2018-10-11 17:20] bowei commented on #48396
This may have been fixed by:

commit e588ae5e042a78fb76636e814c546bc3e67c9290
Author: Pavithra Ramesh <pavithrar@google.com>
Date:   Wed Sep 12 12:42:24 2018 -0700

    Allow nodeName updates when endPoint is updated.

[2018-10-11 17:22] cheftako commented on #69585
Hi,
I'd be happy to pick up
- pkg/master/ports
- pkg/util/node
-pkg/util/parsers

[2018-10-11 17:39] dims commented on #56038
Looks like the url moved a bit - https://github.com/kaiterra/misc/tree/master/kubernetes-china-aliyun

[2018-10-11 17:51] gogovan-vincentngai opened #69689 "Unable to have rolebinding for gsuite account"
**What happened/How to reproduce it (as minimally and precisely as possible)**:
What i want is different team from gsuite(or by email group)
access different namespace (and limit to namespace only)

In gsuite
1. I am using company domain and email from **gsuite**
2. I created group named "demogroup" and its address"demogroup@example.com"  and assign user "demo@example.com" into "demogroup@example.

[2018-10-11 18:02] ncdc commented on #69376
@kubernetes/sig-apps-bugs do you think the controller should change to differentiate between two replicasets with the same name but different UIDs?

[2018-10-11 18:35] jessfraz commented on #69647
ah ok I will do a fix

[2018-10-11 19:13] newalp commented on #63564
I can see the fixed merged in to Kubernetes 1.12

[2018-10-11 19:32] #68776 closed

[2018-10-11 19:36] cheftako commented on #69585
@d-nishi of course :D

[2018-10-11 19:47] timothysc commented on #69110
/assign @dims @timothysc

[2018-10-11 20:11] #63523 closed

[2018-10-11 20:11] #51830 closed

[2018-10-11 20:27] jennybuckley commented on #69654
/assign @mbohlool

[2018-10-11 20:30] lavalamp commented on #69653
This would cause the import direction to be wrong (apimachinery can't import the entire api), so we can't change this.

Removing glog as a dep from apimachinery I'm 100% on board with and will LGTM PRs that replace it with something else or isolate it somehow :)

[2018-10-11 20:38] matti opened #69696 "GKE schedules pods like fluentd-gcp that prevent scale down"
/kind bug

**What happened**:
Multiple nodepools:
default: 3x f1-micro
extra: autoscaling 0..9 f1-micro
worker: autoscaling 0..999 n1-standard-1 with taints to prevent GKE pods

GKE schedules system pods like fluentd-gcp so that "extra" never goes back to 0

**What you expected to happen**:
After all deployments were deleted the cluster should have scaled to:
default: 3x f1-micro
extra: 0
worker:

[2018-10-11 20:39] leakingtapan opened #69697 "PV is stuck at terminating after PVC is deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I was testing EBS CSI driver. I created a PV using PVC. Then I deleted the PVC. However, PV deletion is stuck in `Terminating` state. Both PVC and volume is deleted without any issue. CSI driver is kept being called with `DeleteVolume` even if it returns success when volume not found (because it is already gone).

CSI Dri

[2018-10-11 20:39] matti commented on #69696
/SIG gcp

[2018-10-11 20:40] leakingtapan commented on #69697
Several questions:
1) how can I get out of this situation?
2) should PV be terminated successfully after driver returns success even when the volume is already gone?

[2018-10-11 20:40] leakingtapan commented on #69697
/sig storage

[2018-10-11 20:41] matti commented on #69696
/sig cloud-provider

[2018-10-11 20:42] matti commented on #68605
/sig aws

[2018-10-11 20:45] #68954 closed

[2018-10-11 20:45] msau42 commented on #69697
It looks like you PV still has a finalizer from the attacher.  Can you verify that the volume got successfully detached from the node?

[2018-10-11 20:46] msau42 commented on #69697
It may be good to get logs from the external-attacher, and also the AD controller

[2018-10-11 20:46] msau42 commented on #69697
cc @jsafrane

[2018-10-11 20:48] msau42 commented on #69697
What version of the external-attacher are you using?

[2018-10-11 20:52] jingyih commented on #69621
There is a timeout added to the incoming request to apiserver, which we believe is not wired correctly in the call stack.  I am investigating this issue.

[2018-10-11 20:57] awly commented on #69471
@agunnerson-ibm thanks for the proposed fix. I think it looks good. Could you send a PR?
We should also remove `lastRequest` entirely and only look at current cert and template. @liggitt does that sound reasonable?

[2018-10-11 21:01] leakingtapan commented on #69697
it's v0.3.0. And all the other side cars are in v0.3.0 as well. I was using v0.4.0 earlier and this issue happen after I recreate the side cars in v0.3.0.

[2018-10-11 21:04] msau42 opened #69699 "Allow volume ownership to be only set after fs formatting."
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
Today, the fsgroup setting is recursively set on every mount.  This can make mount very slow if the volume has many files.  Most of the time, a pod using a volume should use the same fsgroup everytime and not need to change it across multiple pods.

I'm proposing that we add a flag that will

[2018-10-11 21:06] leakingtapan commented on #69697
Updated the description with attacher log

[2018-10-11 21:14] cheftako commented on #69096
"authentication.go:55] Authentication is disabled" is emitted when the AuthenticationInfo.Authenticator is nil. However there are many things which can cause the authenticator to be nil. Can you bump up log verbosity (--v=4) and see if any errors appear? I'm guessing it will be something like "failed to generate self-signed certificate". I was able to get the KCM to come up and listen on the secur

[2018-10-11 21:20] leakingtapan commented on #69697
The volume should be detached successfully. Since it is successfully deleted from AWS (don't think it could be deleted without detaching). Also verified on the node that the device is gone using `lsblk`.

[2018-10-11 21:34] jdalegonzalez commented on #45418
The problem clearly still occurs.  What caused this issue to become closed?  kubectl describe cronjobs <job> fails.  Every time.  Is this a re-introduction of a problem?

[2018-10-11 21:34] leakingtapan commented on #69697
How can I check this?

[2018-10-11 21:42] msau42 commented on #69697
kubectl get volumeattachment

[2018-10-11 21:52] leakingtapan commented on #69697
Yep. Its still there:
[code]

[2018-10-11 22:01] verult commented on #68515
Fixed by https://github.com/kubernetes/kubernetes/pull/69154

/close

[2018-10-11 22:01] #68515 closed

[2018-10-11 22:04] verult opened #69703 "CSI e2e tests for topology"
/kind bug

e2e tests need to be added testing topology additions in kubelet and the newest external provisioner for 1.12.

/sig storage
/assign

[2018-10-11 22:18] jberkus commented on #65246
Hey, is this test still flaking?

[2018-10-11 22:29] taragu commented on #69106
@aruneli is this still up for grabs? if yes i'd like to take a stab at it

[2018-10-11 22:31] jberkus commented on #68987
Here's the log of recent turns for this test:  https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-device-plugin-gpu

It still seems to have test failures, but not frequently?  Here's the latest failure:  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/69691/pull-kubernetes-e2e-gce-device-plugin-gpu/49922

... which seems

[2018-10-11 22:44] mcrute opened #69705 "Rename TestParseInstance to TestMapToAWSInstanceIDs"
From [Kubernetes SIG Cloud Provider Issues](https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw/edit)

AWS: TestParseInstance should be renamed to Test_mapToAWSInstanceIDs to better represent what is being tested

/kind cleanup
/sig cloud-provider
/cc @andrewsykim

[2018-10-11 22:47] jberkus commented on #65246
/remove-lifecycle stale

A check in triage shows that this failing test is still a problem, and in fact has become more of a problem since October 4th.  Has there been any progress on a fix?

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=hostPath%20should%20provision%20storage

[2018-10-11 22:49] jberkus commented on #65246
/priority important-soon

[2018-10-11 22:49] mcrute opened #69707 "Clean up AWS import formatting"
From [Kubernetes SIG Cloud Provider Issues](https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw/edit)

Clean up AWS import formatting. Packages should be grouped based on the root URLs with stdlib packages coming first. [pkg/cloudprovider/providers/aws/instances.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/instances.go#L19-L31

[2018-10-11 22:55] MrHohn commented on #69668
Echoing https://github.com/kubernetes/kubernetes/issues/48396#issuecomment-429042741 here, likely fixed by https://github.com/kubernetes/kubernetes/pull/68575.

[2018-10-11 23:14] #63112 closed

[2018-10-11 23:29] wgliang opened #69710 "AWS: unexport unnecessarily exported methods and variables about recognize region"
**Is this a BUG REPORT or FEATURE REQUEST?**:
From [Kubernetes SIG Cloud Provider Issues](https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw/edit)

/kind cleanup

**What happened**:

[RecognizeRegion](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/regions.go#L61)
[RecognizeWellKnownRegions](https://github.com/kubernetes/kubernetes/

[2018-10-11 23:30] wgliang commented on #69710
/sig cloud-provider
/assign

[2018-10-11 23:42] misterikkit commented on #68957
Hey, how is this project going? Feel free to reach out if you need help.

[2018-10-11 23:42] misterikkit commented on #68962
@shubheksha have you had time to work on this?

[2018-10-11 23:47] wgliang opened #69712 "AWS: Replace service controller retry logic in persistUpdate with retry utils from client-go"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup
/sig cloud-provider

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

replace service controller retry [logic in persistUpdate](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L338-

[2018-10-11 23:47] wgliang commented on #69712
/assign

[2018-10-11 23:48] wgliang commented on #69712
/sig cloud-provider

[2018-10-12 00:09] nfisher commented on #69653
Would api machinery need to import the entire API? It seems only dependent
on meta and some of the primitive types. I guess I don’t have enough of an
understanding of how it works though.

To work around it I’ve copy+pasted the packages where I’m currently using
them and ripped out glog where I encountered it. Will paste a public repo
when I’m at my laptop to provide a concrete implementation to r

[2018-10-12 00:33] k82cn commented on #68987
@jberkus , let me check log to see whether still other issues here.

[2018-10-12 00:34] kfox1111 commented on #66020
I was very surprised to find out deployments use the pods service account to create the pod. I was under the impression the service account was for stuff running inside the pod to access the cluster. This mixing means that you can't easily not grant your pod's workload the ability to launch pods. container level serviceAccountName would help. but so would one up at the Deployment level to override

[2018-10-12 00:57] liggitt commented on #66020
The user making the API call to create the pod is the deployment controller service account, *not* the pod's service account. You are not required to grant pod create permission to your pod's service account.

The PodSecurityPolicy objects that apply to the creation of a particular pod are the ones the pod creator (the controller) is allowed to use, and the ones the pod's service account is allowe

[2018-10-12 01:05] paravz commented on #67278
found this looking for my centos upgrade difficulties, i needed to remove these packages added by update to keep kubernetes flannel networking working:

 `sudo rpm-ostree override remove firewalld-filesystem firewalld podman`

[2018-10-12 01:12] dims commented on #56038
@feiskyer mentioned - Azure manages a mirror of kubernetes packages, including helm charts - See http://mirror.azure.cn/kubernetes/

[2018-10-12 01:38] m1093782566 commented on #68974
@nishantsh77

Mind update your issue title to "due to ipset not supporting "comment", kube-proxy is not working in ipvs mode in Kubernetes 1.11.0"? As 1.11.3 works well and your server version is 1.11.0 indeed.

[2018-10-12 01:56] originsmike commented on #56038
@dims thanks!

[2018-10-12 02:02] jberkus commented on #65192
This is still failing in 1.11, but not on master.

As such, demoting priority, but it still needs to be fixed for the sake of 1.11 users.

/priority important-longterm

[2018-10-12 02:03] jberkus commented on #65192
/remove-priority critical-urgent

[2018-10-12 02:06] TracyBin commented on #69197
I have resolve the dns issue, the reason is the busybox version.it is ok using 1.28.4 version of busybox.Thanks to @chrisohaver

[2018-10-12 02:10] stewart-yu commented on #68947
Now that `ControllerClientBuilder` in `pkg/controller` packages, why not move it to `pkg/controller-runtime` directory (we should new the directory) in `k8s.io/kube-controller-manager` repo? @cheftako @justinsb

[2018-10-12 02:29] Lion-Wei commented on #68974
@nishantsh77 Hi, any update or more information? Seems this problem have been fixed in #65741 in 1.11.1. And if you still have this problem, advise from @islinwb will be helpful.

[2018-10-12 02:29] jberkus commented on #63612
gci-gke-reboot is passing for master, 1.12, 1.11.  Can we close this?

[2018-10-12 02:35] #69567 closed

[2018-10-12 02:52] andyzhangx commented on #69503
@D-PENG I have cherry picked the fix to v1.12

[2018-10-12 03:00] krzyzacy commented on #63612
this one is pretty stale...
/close

[2018-10-12 03:28] qinzhao168 commented on #60987
I have the same issue with k8s v1.11.2 and Docker 1.13.1 on CentOS Linux release 7.2.1511 (Core) .

this is log:

Oct 12 11:27:29 test-slave-114 kubelet[27200]: E1012 11:27:29.992579   27200 kubelet_volumes.go:140] Orphaned pod "32828c49-a053-11e8-a528-5254eec04736" found, but volume paths are still present on disk : There were a total of 3 errors similar to this. Turn up verbosity to see them.
Oc

[2018-10-12 03:37] wgliang opened #69715 "Reuse LabelNodeRoleMaster constant for loadbalancers in a common packageinstead of hard coding it"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FROM : https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw/edit#heading=h.w7i4ksrweimp

/kind cleanup

**What happened**:

Reuse LabelNodeRoleMaster constant for loadbalancers in a common package(kubernetes/pkg/apis/core and next to type Node) instead of hard coding it. Might be good to follow up on https://github.com/kubern

[2018-10-12 03:37] wgliang commented on #69715
/assign

[2018-10-12 03:42] fredkan commented on #60987
remove Orphaned pod, and restart kubelet if needed.

1. change the kubelet logical, PR: https://github.com/kubernetes/kubernetes/pull/68616
2. running the script on the host, watch orphaned pod and remove them in runtime.

[2018-10-12 04:01] zwfang opened #69717 "when i poweroff all nodes, i got all pods status is running, but i expected status is NodeLost"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):

[code]

-

[2018-10-12 04:48] qinzhao168 commented on #60987
@fredkan running the script on the host, watch orphaned pod and remove them in runtime.

where is the script?

[2018-10-12 05:02] dghubble commented on #68973
@sttts What components are now verifying these certs or supposed to be? I'd expect something to be failing since random certs are generated each time the pod restarts, but don't see any impact (implying this isn't yet improving security). Seems like controller-manager just added an HTTPS endpoint, but the HTTP one is still what's used right?

[2018-10-12 05:04] dghubble commented on #68973
I guess that aligns with the comment

[2018-10-12 05:36] Pingan2017 commented on #69665
try ClusterDNS: ["10.233.0.3"]

[2018-10-12 05:41] PrasadG193 commented on #68957
I was waiting for https://github.com/kubernetes/kubernetes/pull/69057 to get merged. Will rebase it with my changes and test it

[2018-10-12 06:16] dotw commented on #36222
Can we reopen this issue? I need this feature to change the yaml in cm, and I have been struggling with the intent and \n for several days ...

[2018-10-12 07:02] jsafrane commented on #69697
Reading the logs, it seems like A/D controller tried to attach the volume and got error from external attacher. Why it did not delete the VolumeAttachment afterwards? Do you still have a pod that uses the volume? If so, it blocks PV deletion.

[2018-10-12 07:58] mitar opened #69721 "PodPreset does not apply to Job pods"
**What happened**:

I tried to use `PodPreset` to configure a Job pod.

**What you expected to happen**:

A volume configured in `PodPreset` would be available to the Job pod.

**How to reproduce it (as minimally and precisely as possible)**:

I tried:

[code]

And:

[code]

But it failed with and error that `test-results` volume is not available. But it is defined in the preset.

**Environment**:

[2018-10-12 08:00] mitar commented on #69721
cc @kubernetes/sig-node-bugs

[2018-10-12 08:04] lfundaro commented on #69668
thank you @MrHohn . Looking into the PR, it's likely is the fix to our problem ! Unfortunately this fix has been introduced in `v.1.12.1` and GCP is currently at `v1.10.7`, so there's no way for me to verify it. I will leave to the admins of this repo the decision whether to close this issue or not.

[2018-10-12 08:06] bappr opened #69722 "GKE - Wrong scalability"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig scalability

**What happened**:
In the GKE UI -> Clusters, my cluster is scaled up to 14 nodes (105GB and 28CPU).
- Sum of the Memory for all the pods running in the cluster is only 20GB (`kubectl top pod --all-namespaces`). Sum of all the memory limits is only 50GB and sum of all the memory requests is 26GB. (`kubectl get nodes --no-h

[2018-10-12 08:11] mysunshine92 opened #69723 "sandbox container should have IP address when manually docker restart sandbox container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
manually docker restart sandbox container, then sandbox container doesn't have IP address, but using "kubectl get pod" find that the  pod have IP address 100.100.0.3

[root@node-29:~]$ kubectl get pod --all-namespaces -o wide
NAMESPACE   NAME                      READY     STATUS    RESTARTS   AGE       IP            NODE

[2018-10-12 08:27] JerryChaox opened #69725 "Operation cannot be fulfilled on nodes.What it means?"
The node will repeatly be Ready and be NotReady.
[code]

kube-controller-manager-izwz95wx4ufpnolro1iekmz:
[code]

[2018-10-12 08:42] Pingan2017 commented on #69723
/sig node
 @kubernetes/sig-node-bugs  kubelet should stop sandbox when it lost ip.
 @yujuhong @vishh

[2018-10-12 08:46] palmerabollo commented on #60807
I also see this issue with 1.10.x. I find @slassh's comment a workaround that only hides the real issue. Why are the namespaces stuck at `Terminating`?

[2018-10-12 08:47] shubheksha commented on #68962
@misterikkit, unfortunately no, as I'm on the move for a bit. @tossmilestone, feel free to pick this up!
/unassign

[2018-10-12 08:55] JerryChaox commented on #69725
/sig cluster-lifecycle

[2018-10-12 09:05] curlup commented on #55527
@andyxning any progress on that?

[2018-10-12 09:10] p0lyn0mial commented on #65612
/remove-lifecycle stale

[2018-10-12 09:28] benjamingorman commented on #60957
A very similar issue is affecting a Kubernetes cluster that I'm working with (Kubernetes 1.11.2).

We have some long running jobs which can take minutes or hours to complete. Clients poll the status of the jobs every 5 seconds or so until they complete (using the batch jobs client from the `client-go` package https://godoc.org/k8s.io/client-go/kubernetes/typed/batch/v1#JobInterface).

What happens

[2018-10-12 09:39] JerryChaox commented on #69725
/sig node

[2018-10-12 10:50] nikhita commented on #64319
I think we can close this. Thanks, @p0lyn0mial! :tada:

Closing the issue. Please reopen if needed.

/close

[2018-10-12 10:50] #64319 closed

[2018-10-12 12:09] damongant commented on #69428
We need this feature. Either as absolute steps or as scaling factor.

Let me give you the short version of our user journey. We operate a website that is used regionally, so we easily get scaling factors of 10 in everyday use, much higher in some cases.

If for some reason there was a network failure (e.g. our WAF/TLS termination fails) our entire cluster is suddenly down to near-0 CPU usage. In a

[2018-10-12 12:22] jwendell opened #69733 "Containers injected via MutatingAdmissionWebhook do not get default SA volumeMount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If a container is appended into a pod through a MutatingAdmissionWebhook, the volume mount for the service account (containing `mountPath: /var/run/secrets/kubernetes.io/serviceaccount`) does not get injected into this new container.

**What you expected to happen**:
All containers (despite being injected automatically by

[2018-10-12 13:09] irfanjs commented on #69610
this is resolved by using option : `--apiserver-advertise-address` along with `--pod-network-cidr` option

[2018-10-12 13:14] ipuustin commented on #67355
@pdeva: There's now a KEP which aims to mitigate the AVX issue (https://github.com/kubernetes/community/pull/2739) Please take a look and tell if this might help you.

[2018-10-12 13:28] #63846 closed

[2018-10-12 13:28] #63855 closed

[2018-10-12 13:30] dannyk81 commented on #66614
@P1ng-W1n I'm a bit confused by this, but we are hitting the same issue with kube-proxy on K8s 1.9.5

According to this: https://github.com/kubernetes/kubernetes/issues/17619 the correct way to avoid this (for now) is to add `--resource-container=""` flag to kube-proxy which is the only way to ensure it doesn't use a Resource Container (I didn't test this, but plan to do so today - will report)

W

[2018-10-12 13:54] mattfarina commented on #69376
cc @caesarxuchao @lavalamp @enisoc @kow3ns

[2018-10-12 13:55] dannyk81 commented on #66614
After adding the `--resource-container=""` flag to kube-proxy, I'm no longer seeing the reported error, however I still see these:

[code]

Though I believe this is a separate issue https://github.com/kubernetes/kubernetes/issues/54967, @P1ng-W1n any ideas?

[2018-10-12 14:11] fspaniol commented on #66170
/remove-lifecycle stale

[2018-10-12 14:12] #69705 closed

[2018-10-12 14:21] MaciekPytel commented on #69428
cc: @jbartosik @mwielgus

[2018-10-12 14:23] keontang opened #69735 "kubemark：--use-real-proxier=true will cause panic runtime error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

when i run hollow-node deployment，hollow-proxy will cause panic.

hollow-node deployment is as follows:

[code]

hollow-proxy container logs:

I1012 12:37:13.681139       7 proxier.go:638] syncProxyRules took 622.278µs
I1012 12:37:13.681156       7 asm_amd64.s:573] Shutting down service config controller
E1012 12:37:13.6

[2018-10-12 14:47] liggitt commented on #69689
/assign @cjcullen

[2018-10-12 14:49] liggitt commented on #69733
the volume mount is added by the service account admission plugin, which runs prior to webhook admission plugins. see https://github.com/kubernetes/kubernetes/issues/64333 for a discussion of ordering dependencies in admission webhooks

/close

[2018-10-12 14:49] #69733 closed

[2018-10-12 14:53] liggitt commented on #66829
the proxy client argument is not related to admission config. `--enable-admission-plugins` specifies plugins to enable *in addition to the default plugins*. It appears that despite printing a warning message about being deprecated, the "PersistentVolumeLabel" plugin is still enabled by default.

/sig storage
/remove-sig release

[2018-10-12 14:54] ehashman commented on #63750
This is also affecting us. I'll see if I can drag this into the metric overhaul KEP.

[2018-10-12 14:54] liggitt commented on #66829
also, the warning message you are seeing is non-fatal... it would not cause the apiserver to restart. specifying an invalid proxy file cert would prevent the apiserver from starting.

[2018-10-12 14:56] liggitt commented on #66829
@kubernetes/sig-storage-bugs the comment by the deprecation warning isn't very clear... do we have to wait until cloud-controller-manager is running before we should actually disable that admission plugin by default? if so, it probably shouldn't warn and ask people to remove it yet, right?

[2018-10-12 14:59] liggitt commented on #69576
unauthorized errors mean the credentials the kubelet is using are invalid. are there stale/expired client certificates in the kubelet certificate directory, and was the client-ca for the cluster rotated?

[2018-10-12 15:02] keontang commented on #69735
/sig Testing

[2018-10-12 15:05] liggitt commented on #69628
That would indicate there is data in etcd using proto tag 11 that does not match the nominatedNodeName type. Can you provide the full output of `kubectl version` (both at the 1.6 or 1.9 levels, and at the 1.10 level) so we can determine the build this was seen on?

[2018-10-12 15:08] liggitt commented on #69652
/cc @deads2k

[2018-10-12 15:22] ricktbaker commented on #69576
@liggitt This is a brand new cluster in EKS.  I completely recreated last night just to double check everything.  Nodes come up as Ready in the cluster, I then tail the logs for the kubelet service and I can see logs of pods being scheduled but like clockwork, every 21 minutes I get the unauthorized error about "error getting node"

[2018-10-12 15:22] keontang commented on #69735
maybe we need init:

execer := &fakeexec.FakeExec{
        LookPathFunc: func(cmd string) (string, error) { return cmd, nil },
}

[2018-10-12 15:44] liggitt commented on #69576
That's an odd internal, especially to be a non-persistent error. Does it resolve itself after one occurrance without a kubelet restart? Do you know the duration of the client certificates issued to the kubelet?

 @awly, do you remember if there were improvements to client cert rotation in 1.11 or 1.12 that would explain a stale client cert used for kubelet heartbeat, which would resolve itself aft

[2018-10-12 15:50] ricktbaker commented on #69576
Unsure on length of certificate.   I'd have to research a bit into EKS to find that out.

Doesn't resolve itself.  I've restarted the kubelet service several times, and the error persists.    It doesn't seem to be impacting anything from what I can tell.  The node stays in service, and pods continue to be scheduled as I add new services.  It's just a little concerning that this could lead to some

[2018-10-12 15:54] liggitt commented on #69576
I meant does it persist at a 10-second interval (encountered at every heartbeat attempt) or at a 21-minute interval?

[2018-10-12 15:58] ricktbaker commented on #69576
Only at 21 minutes.  That's pretty much all I see in the logs except for when I add a new service and it gets scheduled to the node.

[2018-10-12 16:02] ehashman commented on #68522
Given that I've been unable to find an accurate source of Prometheus-formatted metrics for empty-dirs, I am an enthusiastic +1 to including these. (Does anyone know if these are exported elsewhere? The exported cadvisor disk usage metrics in 1.8.7 appear to exclude any overlays and are useless for monitoring real container disk usage.)

[2018-10-12 16:09] liggitt commented on #69621
can you verify this is still needed after https://github.com/kubernetes/kubernetes/commit/31ff8c6b9a08d1168502e423bdd3fdbe4f2f729b (added in 1.10)

[2018-10-12 16:14] kfox1111 commented on #66020
@liggitt ah. ok. I didn't quite follow that only the psp binding was used from the pods service account. Thanks for the clarification.

[2018-10-12 16:16] mortent commented on #69376
The flaky test is actually testing kubectl, so an option is to split this into two issues. We can fix the test to avoid this problem, which would fix the flakiness for people working on other things. And then separately come up with a fix for the issue in replicaset.

I created a PR that updates the test to avoid creating replicasets with the same name: #69739

[2018-10-12 16:38] mshutt commented on #68607
Wait, is this an issue wherein the Kubelet's HTTP(S)_PROXY settings are always used for a Liveness/Readiness check?

[2018-10-12 16:52] dashpole commented on #68522
The kubelet's [`/metrics` endpoint](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/metrics/collectors/volume_stats.go) has disk usage metrics for volumes.  cAdvisor's disk usage metrics just measure the writable layer of the container.

[2018-10-12 16:58] praseodym commented on #31824
/remove-lifecycle rotten

[2018-10-12 16:59] leakingtapan commented on #69697
There is no pod uses the volume. And PVC is gone also. How can I find A/D controller log?

[2018-10-12 17:04] AishSundar commented on #69597
/assign @artemvmin
/cc @msau42

[2018-10-12 17:07] misterikkit commented on #68962
@shubheksha Don't worry about it. Hope things settle down for you. Phase 2 is coming.

[2018-10-12 17:07] misterikkit commented on #68962
/assign @tossmilestone

[2018-10-12 17:12] MarcPow opened #69740 "docker failed to get layer path from graph driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When deploying my service, I repeatedly received the following error on Windows.
  containerStatuses:
  - containerID: docker://ea088615163e091759d6fcdc49092c1ce029e4161be02533a3f151df70911223
    image: griffink8stest.azurecr.io/powerflowclient:90
    imageID: docker-pullable://griffink8stest.azurecr.io/powerflowclient

[2018-10-12 17:14] AishSundar commented on #63622
Is  there an ETA on #69239? This test is flaking quite a bit offlate - https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke

[2018-10-12 17:15] liggitt commented on #69569
data inside a configmap must live inside the `data` field, which is a map of string keys to string values

for example:

[code]

[2018-10-12 17:17] jberkus commented on #63612
And, spoke 24 hours too soon.

We're failing again, and for what looks like the same reason:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/18153

[2018-10-12 17:21] AishSundar commented on #63612
/assign @yujuhong

/cc @yujuhong  @filbranden these tests are flaking again for the same reason.. is there anything we can do to make these more robust?

[2018-10-12 17:21] krzyzacy commented on #63612
🙃
/shrug

[2018-10-12 17:30] msau42 commented on #69697
It's on the master node, controller-manager.log.  You can try to filter by searching for the volume name.

[2018-10-12 17:33] caesarxuchao commented on #69467
Can you try the patch on a deployment directly, does that work?
Can you try it on a 1.10 or 1.11 server?

[2018-10-12 17:36] msau42 commented on #66829
The pvlabel admission controller was [removed from apiserver default options](https://github.com/kubernetes/kubernetes/pull/64326), however deployment methods like kube-up may still be enabling it.

[2018-10-12 17:37] msau42 commented on #66829
Also the pvlabel admission controller is only needed if you use aws, azure or gce volumes.

[2018-10-12 17:40] liggitt commented on #66829
that pull request does the opposite of that... it enables it by default

[2018-10-12 17:46] agunnerson-ibm commented on #69471
@awly Sure thing, I'd be happy to do that.

[2018-10-12 18:00] novaterata commented on #45237
I'm seeing this with AKS. I have nodes with 8G of ram and I schedule 1 pod per node with limits and requests for 6.5G memory. Sometimes it works fine. Othertimes it says "insufficient memory" when there is clearly enough.

[2018-10-12 18:01] PatrickLang commented on #68791
does this impact conformance tests?

[2018-10-12 18:02] kow3ns commented on #69445
@smarterclayton

So the problem isn't the fact that a field has been added. It the way in which the field was added. enableServiceLinks is bool pointer that defaults to true. To be backward compatible it should be something like
[code]
where the new default behavior is to assume that service links are enabled, and the field should be set on an opt out basis to disable the service links.
compatibli

[2018-10-12 18:09] lavalamp opened #69741 "API OWNERS should not inherit from parent?"
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/OWNERS

I believe this owners file should not inherit permissions from parent OWNERS files; only api approvers should be able to approve api changes.

[2018-10-12 18:15] yujuhong commented on #63612
The reason is most likely going to look the same (since they are reboot tests after all...), but they are not caused by the same issue if you look closely.
These tests are not flaky, just outright failing for every build. I checked two tests, and none of the nodes can reach the network after the reboot consistently. I'm not convinced that this is known "flake". I'd suggest someone investigate the

[2018-10-12 18:19] msau42 opened #69743 "Leader election spamming scheduling logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-scheduling-bugs

**What happened**:
Here's an example from an e2e test:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4196/artifacts/bootstrap-e2e-master/kube-scheduler.log

[code]

**What you expected to happen**:
leader election success logs to be at a higher log level.

[2018-10-12 18:29] AishSundar commented on #63612
Thanks for the input @yujuhong. Assigning to @msau42 as the GKE Dev on-call

/assign @msau42

[2018-10-12 18:33] #63876 closed

[2018-10-12 18:34] yliaog commented on #63622
https://github.com/kubernetes/kubernetes/pull/68300 upgrades to 1.10. however it requires more rbac permissions than before which is not fully understood. We will either resolve the permission issue or leave it for later investigation. The upgrade to 1.10 should be merged in a couple of days, if not today.

[2018-10-12 18:47] lavalamp commented on #69376
The replica set controller needs a fix. Thanks for the clear description, @ncdc.

/assign @kow3ns

[2018-10-12 18:49] lavalamp commented on #69376
Alternatively, perhaps we could fix this by adding UID to the key used in the delta fifo?

[2018-10-12 18:50] liggitt commented on #63622
what issue are you seeing? is https://github.com/kubernetes/kubernetes/pull/64993 relevant?

[2018-10-12 19:00] yliaog commented on #63622
Yes, it is relevant. It does not fix the issue by itself though.

[2018-10-12 19:31] rakshith-ponnappa commented on #23562
Hi, I am facing the same issue on openstack, please can you advise.

root@master-node:~/.kube# k get service frontend --watch
NAME       TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)        AGE
frontend   LoadBalancer   10.105.62.204   <pending>     80:32489/TCP   5m

[2018-10-12 19:34] #48690 closed

[2018-10-12 19:58] dcbw commented on #27398
/remove-lifecycle rotten

[2018-10-12 20:25] cheftako opened #69748 "Insufficient trace on long running GET request"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Trying to debug a problem with intermittant long running GET requests. Looking in the logs I see things like.

trace.go:76] Trace[1901900101]: "Get /api/v1/namespaces/default/secrets/xxxxxx" (started: 2018-10-05 17:56:04.770559775 +0000 UTC m=+2735.450331215) (total time: 1m58.379470276s):
Trace[1901900101]: [8.315939853s] [8.315939

[2018-10-12 20:30] bsalamat commented on #69743
Leader election library is not a part of the scheduler. The scheduler is only a user of the library. It is located in client-go. It is currently [logged at V(4)](https://github.com/kubernetes/kubernetes/blob/38a9fc6aa240c99b17a93764fb5473bf6342ff9d/staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go#L227). I am not sure if it is a good idea to reduce verbosity further.
The log mess

[2018-10-12 20:31] msau42 commented on #69597
The suites are failing on both gce and gke, so I don't think it's a gke specific issue.

Looking at one occurrence: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4196

The first test that started failing was:
[code]

Because it couldn't schedule the pod.  Looking at the scheduler logs, I only see these two lines referring to that pod and nothing

[2018-10-12 20:47] msau42 commented on #69597
@kubernetes/sig-scheduling-bugs

[2018-10-12 20:52] mariusgrigoriu commented on #45419
We're not seeing high iowait on our machines doing this. (CoreOS, Kube 1.10, Docker 17.03)

@mauilion Can you point us to any issues or MR that explains the login issue?

[2018-10-12 20:57] AishSundar commented on #69597
@k82cn @bsalamat can you plz help take a look at this and help triage within scheduling?

[2018-10-12 21:01] 2rs2ts commented on #53347
@k82cn obviously, since it's ignored! But I dislike it, so I opened this issue :)

[2018-10-12 21:05] jberkus commented on #63612
@yujuhong hmmm, should I open a new issue for this failure then?

[2018-10-12 21:48] #67477 closed

[2018-10-12 21:51] blak3mill3r commented on #64653
If your nodes are a newer EC2 instance class and the `kope.io` jessie image (which is the `kops` default) ... that `FailedMount` error will be the result. That is what lead me here, so dropping a note for posterity in case it helps someone. https://github.com/kubernetes/kops/issues/3901

[2018-10-12 22:02] liggitt commented on #69471
I think that's probably ok, as long as it checks everything we include in the template *and* we consider a certificate missing anything we request to be cause for re-requesting another cert (an issuer couldn't choose to issue a cert that drops some SANs and us not request another cert)

left some comments in https://github.com/agunnerson-ibm/kubernetes/commit/7828edab3140d754367422df5bb9699b17df3b

[2018-10-12 22:19] mattmoor commented on #69590
Any chance this would land in 1.13?

[2018-10-12 22:22] msau42 commented on #69597
fyi, this is pretty easy to repro on a dev cluster on head.  I just run the EquivalenceCache tests, and then create any Pod afterwards.  The Pod fails to schedule about 50% of the time.

[2018-10-12 22:23] liggitt commented on #69590
I don't see why not. The change is trivial, just needs a testcase added.

[2018-10-12 22:32] fedebongio commented on #63622
As for #69239 should be ready to be merged.

[2018-10-12 22:50] leakingtapan commented on #69697
[code]

[2018-10-12 23:01] #69647 closed

[2018-10-12 23:16] ifosch commented on #62577
I am a new contributor and I am having this same issue. I got the following output when running `make test` on master:
[code]
When I `chmod +x` the file, which is empty, and run `make test` again fails to run another empty file. This happens a few times.
I think I am not missing any build tool required.
I might look into this if needed.
@idealhack any advance on fixing the scripts?

[2018-10-12 23:30] ifosch commented on #62577
Apparently I needed to install rsync, so the `No such file or directory` errors vanished, but I still get the `Permission denied` ones.

[2018-10-12 23:59] idealhack commented on #62577
@ifosch I haven’t got time to fix it. Feel free to give it a try and discuss about it here :)

[2018-10-13 00:07] cberner opened #69754 "kubectl get pods has unpredictable latency"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: `kubectl get pods` sometimes has an extra 5 seconds (seems exactly 5 seconds) of latency. This does not happen when using the official Python client, or a plain curl against the apiserver, suggesting it's something in the implementation of kubectl itself rather than my network or apiserver.

**What you expected to happen*

[2018-10-13 00:32] cybervedaa commented on #69656
@lixianyang  - Can you tell me what was the environment error you found and fixed in your case?
I am experiencing the same problem.

[2018-10-13 00:39] WanLinghao commented on #68607
@mshutt yes

[2018-10-13 01:29] ddebroy commented on #69642
This sounds great! Do you think at some point after this, perhaps 1.15, the default for volume binding mode may also be switched to "WaitForFirstConsumer"?

[2018-10-13 01:33] msau42 commented on #69642
since volume binding mode is an API field, I do not think we can change defaults until we move to a new API version.

[2018-10-13 02:39] mlmhl commented on #69743
I think this is a common problem for all components, not just for scheduler.

[2018-10-13 02:39] zwfang commented on #69717
/sig bug

[2018-10-13 02:44] zwfang commented on #69717
/sig node

[2018-10-13 02:45] zwfang commented on #69717
/sig pod

[2018-10-13 03:15] leakingtapan commented on #69697
I encountered this issue two more times now all on v1.12

[2018-10-13 03:37] jiuchongxiao commented on #69569
@liggitt  yes thank you

[2018-10-13 03:37] #69569 closed

[2018-10-13 03:41] #68904 closed

[2018-10-13 03:41] #69138 closed

[2018-10-13 03:50] samuela commented on #45092
I also just came across this error message:

[code]

wat? I have credentials for everything else with kubectl. Why doesn't getting the logs work?

[2018-10-13 03:52] samuela commented on #45092
It actually alternates between a few different errors:

[code]

[code]

In addition to the one that I reported above.

[2018-10-13 04:00] samuela commented on #45092
Oh, and sometimes it's just empty:

[code]

I'm running on GKE. No clue what's going on now...

[2018-10-13 04:15] liukaii commented on #69523
@ixdy Sorry, my English is poor. I will update it later.Thank you very much!

[2018-10-13 04:38] bsalamat commented on #69597
I identified the issue and sent a PR to address it. We need to cherrypick the fix to 1.12 as well.
Thanks to @msau42 for the initial investigation and finding reproduction steps!

[2018-10-13 05:55] TerraTech commented on #36391
/remove-lifecycle stale

[2018-10-13 06:34] AishSundar commented on #69597
Thanks a lot @msau42 and @bsalamat for looking into this and giving a fox PR.

/cc @feiskyer @tpepper @jberkus

@feiskyer #69758 needs to be CP'ed into 1.12 as well.

[2018-10-13 06:36] ifosch commented on #62577
I might find the solution today, but I'm uncertain, since I can't reproduce it anymore:
1. I ensured rsync was installed in my system (`apt-get install -y rsync`)
2. I ran `make clean` and `make clean_generated`
3. `make test` started working

Please, @idealhack and @chenyangguang, can you check if this works for you?

[2018-10-13 07:53] rdrgporto commented on #59959
Hi @shivamchandra4,

Maybe you need to install **vim** in order to edit/create **kubernetes.list** file:

[code]

Moreover you could try **vi** or **nano**, that is:

[code]

Once you have some of these programs installed, you have to copy
`deb http://apt.kubernetes.io/ kubernetes-xenial main ` and paste into **kubernetes.list** and make an update of Ubuntu repositories:

[code]
Regards :vulcan_sa

[2018-10-13 08:30] WanLinghao commented on #69686
/cc Chenditang

[2018-10-13 08:32] WanLinghao commented on #69686
/cc  @Chenditang

[2018-10-13 08:33] #66853 closed

[2018-10-13 09:52] jimmiebtlr commented on #69563
Is this always an issue, or just initially when re-deploying? (Does it fix itself after a few seconds, or stay down?)

[2018-10-13 10:45] rossigee commented on #69563
It happens probably about 90% of the time. There are rare times where it just works as expected, so I expect it's some kind of race condition, but I'm struggling to figure out from the code/docs what the chain of events should be, to determine how/where it might occur.

In our production environment, I usually have to apply a manual workaround (repoint the LB at a different app/port, then repoint

[2018-10-13 12:33] idealhack commented on #62577
It seems I only encountered these kinds of issues on Arch, not Ubuntu.

I’ll try it again on fresh systems for both.

[2018-10-13 14:11] tossmilestone commented on #68962
@misterikkit After inspect the `pkg/scheduler/scheduler_test.go`, I found that no mocking HTTP is used in the file. Could you help to verify if I missed something?

[2018-10-13 14:44] windoze commented on #51835
kubectl warned me "warning: Immediate deletion does not wait for confirmation that the running resource has been terminated. The resource may continue to run on the cluster indefinitely." when I use `--force --grace-period=0`.
Can anyone tell me if it'll really happen?

[2018-10-13 14:44] neolit123 commented on #69748
/sig api-machinery
/kind bug

[2018-10-13 14:44] neolit123 commented on #69748
/kind feature
/remove-kind bug

[2018-10-13 14:49] neolit123 commented on #69741
@kubernetes/sig-architecture-misc-use-only-as-a-last-resort
@kubernetes/sig-testing
/kind feature
/sig architecture

[2018-10-13 14:51] neolit123 commented on #69715
/sig api-machinery

[2018-10-13 14:52] neolit123 commented on #69679
/sig gcp
/kind bug

[2018-10-13 14:52] neolit123 commented on #69678
/sig aws
/sig auth

[2018-10-13 15:00] wgliang opened #69767 "Scheduler User Guide Documentation"
This is a tracking issue for the effort to add kube-scheduler's user guide documentation.

**Goals**:
If you saw the lengthy thread on slack#sig-scheduling recently, you might have noticed that users find configuring the scheduler (or scheduler extenders) to be difficult and undocumented. In fact, some of the best kube-scheduler documentation was not written by us!

e.g.
https://jvns.ca/blog/2017/

[2018-10-13 15:01] wgliang commented on #69767
/help
/good-first-issue

[2018-10-13 15:05] ifosch commented on #62577
I am using Debian, which doesn't bring rsync by default; I am not sure about Ubuntu.
About the tests, it seems to be working, except for I got errors on the tests on master.
Running `make` works without errors and, apparently, well, though I'm unsure on how to check its results.

[2018-10-13 15:49] wgliang opened #69768 "[Scheduler User Guide Documentation] How does the Kubernetes scheduler works?"
PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE. We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: #69767

When we first heard about the kubernetes scheduler, I think you are as curious as me:
How does it work?
What is the scheduler for?
Wait why did our pod get stuck then?
Why is the scheduler designed this way?
etc...

[2018-10-13 15:59] wgliang opened #69769 "[Scheduler User Guide Documentation] How to customize and extend the kubernetes scheduler?"
PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE. We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: #69767

The default scheduler satisfies most of our scheduling requirements, but sometimes we have to modify the default scheduler to meet our scheduling needs, depending on the production environment and the scenario. So

[2018-10-13 16:10] wgliang opened #69770 "[Scheduler User Guide Documentation] How to configure your kubernetes scheduler?"
PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE. We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: #69767

When we haven't used kube-scheduler or we haven't adjusted the kube-scheduler option, we'll be overwhelmed when we encounter some problems.

In fact, we adjust the weight ratio of different resources through some c

[2018-10-13 16:16] wgliang opened #69771 "[Scheduler User Guide Documentation] Learning kube-scheduler's design and implementation from source code"
PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE. We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: #69767

When we want to learn more about a system, starting with source code is always the right choice. So we need an document(feel free to create in https://github.com/kubernetes/website/tree/master/content/en/docs/conce

[2018-10-13 16:39] ifosch commented on #68026
I found a problem trying to fix golint messages for `cmd/cloud-controller-manager/app/apis/config/v1alpha1`.
Golint complaints on `defaults.go`'s `SetDefaults_CloudControllerManagerConfiguration` function because of the snake case. When I try to fix it, `make test` fails because it is being used in a code generated file. If I clean generated files, tests pass, but the generated file is not invokin

[2018-10-13 16:47] cblecker commented on #69741
@lavalamp opened https://github.com/kubernetes/kubernetes/pull/69772 to do this

[2018-10-13 17:04] MarcPow opened #69773 "Official coredns should be bound to nodeSelector: beta.kubernetes.io/os=linux"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

In a windows cluster, containers can get scheduled on Windows nodes where they will never work.

Warning Failed 54m (x3 over 54m) kubelet, 35934k8s9000 Failed to pull image "coredns/coredns:1.2.2": rpc error: code = Unknown desc = no matching manifest for windows/amd64 in the manifest list entries

**What you expected to

[2018-10-13 17:04] ifosch commented on #62577
I did a mistake in my last commit... this issue should not be closed, at least, until it's not validated

[2018-10-13 17:24] salilgupta1 opened #69774 "CronJob sometime stays in running state even though container exited"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Two situations:

1) We have a cron job that runs every 5 minutes. Looking at the container logs it shows that it successfully exited. However, the state of the pod was stuck at Running. Thus, the cron job never kicked off a new pod to run.

2) Similar as before, but this time the container failed and the pod never changed

[2018-10-13 18:16] embano1 commented on #67703
@ddebroy thx for the pointer. Actually I used this research for my proposal. However, engineering has come up with an easier implementation (from vSphere perspective I mean) that also works for both shared/non-shared datastores.

[2018-10-13 18:55] spiffxp commented on #63622
/reopen
I would like some manual confirmation this has been addressed

[2018-10-13 18:57] #63933 closed

[2018-10-13 20:19] #69741 closed

[2018-10-13 20:32] ifosch commented on #62577
/reopen

[2018-10-13 23:37] dims opened #69776 "Updating vendored dependencies for Kubernetes 1.13"
What we need to do? The task here is to pick one or a few of related dependencies for the main kubernetes repository and update them in time for 1.13 release.

- Review the [documentation for managing vendor dependencies](https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md)
- Click on each url below to see if there are any changes to dependencies. Note that the SHA in e

[2018-10-13 23:37] dims commented on #69776
/good-first-issue
/sig release

[2018-10-14 00:37] dims opened #69777 "Add a new CI job that runs e2e tests using conformance image"
We added a new image here:
https://github.com/kubernetes/kubernetes/tree/master/cluster/images/conformance

The build log looks good:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-cross-build/9675/build-log.txt

I can see the images getting pushed to gcr repo:
https://console.cloud.google.com/gcr/images/kubernetes-ci-images/GLOBAL/conformance?gcrImageListsize=50

Now we need

[2018-10-14 00:37] dims commented on #69777
cc @timothysc

[2018-10-14 00:54] liggitt commented on #69754
can you add --v=6 and see what URLs are being requested when the long-latency request is seen?

[2018-10-14 01:15] dims opened #69778 "conformance container should use kubetest"
We should switch from e2e.test to just kubetest in:
https://github.com/kubernetes/kubernetes/blob/master/cluster/images/conformance/run_e2e.sh#L53-L54

See more info here:
https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md

We may need to "teach" kubetest to use the incluster-config similar to the code here:
https://github.com/kubernetes/kubernetes/blob/master/test

[2018-10-14 01:15] dims commented on #69778
/assign @brahmaroutu

[2018-10-14 01:15] dims commented on #69778
/area conformance

[2018-10-14 01:15] dims commented on #69777
/area conformance
/sig testing

[2018-10-14 01:15] dims commented on #69778
/sig testing

[2018-10-14 01:27] #69725 closed

[2018-10-14 01:54] idealhack commented on #62577
/reopen

[2018-10-14 02:10] cberner commented on #69754
@liggitt for sure. It's the same URL I used in my curl test:

[code]

[2018-10-14 04:10] mitar commented on #43874
/reopen /remove-lifecycle rotten

[2018-10-14 05:07] #63687 closed

[2018-10-14 05:42] keontang opened #69780 "IsMasterNode should use HasPrefix instead of HasSuffix"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We want to capture "master(-...)?$" regexp, so we should use  strings.HasPrefix instead of strings.HasSuffix:

https://github.com/kubernetes/kubernetes/blob/master/pkg/util/system/system_utils.go#L29

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything e

[2018-10-14 05:58] keontang commented on #69780
I am wrong

[2018-10-14 05:58] #69780 closed

[2018-10-14 07:41] zhangxiaoyu-zidif commented on #51835
in fact, when we delete some pod, it may delay to delete by some reasons,
and if we execute "kubectl delete" with flag "--force --grace-period=0",
the resource object would be delete at once.

[2018-10-14 07:43] krmayankk commented on #69699
doing recursive group ownership for all files every mount time is excessive. Where are you proposing the flag live ?

[2018-10-14 12:08] feiskyer commented on #69597
It already got approved. Please create a cherry pick PR for it.

[2018-10-14 15:17] #61168 closed

[2018-10-14 15:32] dims commented on #69110
This is done in principle. please see follow ups in: https://github.com/kubernetes/kubernetes/issues/69778 and https://github.com/kubernetes/kubernetes/issues/69777

/close

[2018-10-14 15:32] #69110 closed

[2018-10-14 15:33] dims commented on #69107
@brahmaroutu @duglin @bradtopol - Is there someone who can help with this task?

[2018-10-14 15:54] astefanutti commented on #61168
#62544 has been merged and should fix this issue.

[2018-10-14 15:59] mitar commented on #69721
cc @droot, @jessfraz, @sttts

[2018-10-14 16:09] dghubble commented on #68973
The autogenerated certs only have SANs for localhost and 127.0.0.1.

[code]

[2018-10-14 16:15] acmore opened #69785 "Job status should not be updated when pod is preempted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
We scheduled a job with backofflimit 0, parallelism: 1, and enabled pod preemption and priority. However we found that sometimes when a pod is preempted, the status of the job which owns the preempted pod will be updated to active: 1, succeeded: 1, failed: 0, and job controller will complain that too many active pods for the job.

*

[2018-10-14 16:19] acmore commented on #69785
/sig feature-requests

[2018-10-14 16:45] liggitt commented on #68973
The auto generated certs are self signed, right? If so, and callers won't be able to validate the signer, which SANs they have don't really matter.

[2018-10-14 17:45] GrantKlassy commented on #67142
@ronakpandya7 No update on this issue from the Kubernetes Maintainers side. As far as I know the bug described in this GitHub issue is still around. An update from my side is that we've moved to managing our storage using Rook with CephFS. A storage management system like Rook adds additional complexity but not having to worry about manually matching up pods with PVCs was a worthy trade off.

[2018-10-14 17:49] cberner commented on #69754
A DNS name. Ah, interesting issue, thanks! I'll look more at the interaction between Go and my DNS servers

[2018-10-14 18:10] dghubble commented on #68973
Yeah, they're self-signed. So looks like the 1.12 controller-manager serves on HTTP/10252 (always on) and HTTPS/10257 (unless --secure-port=0). I guess the point of the original change was so some client could now choose to use the HTTPS endpoint with insecureSkipVerify. Main reason I was interested in the SAN is to get some clue about how a client would be expected to access these controller-mana

[2018-10-14 18:16] mortent opened #69786 "[sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restartChanges"
Reboot tests have been failing since 10/12

Dashboard: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-cos-master-reboot

Sample Failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/18153

This test failure will block 1.13 beta, so please let's fix it before then. Thanks!

/sig cluster-lifecycle
/kind failing-test
/priority imp

[2018-10-14 19:00] irabinovitch commented on #61717
/remove-lifecycle stale

[2018-10-14 19:16] #69597 closed

[2018-10-14 20:30] #69710 closed

[2018-10-14 22:14] jsw commented on #61430
/remove-lifecycle stale

[2018-10-14 22:31] MarcPow opened #69787 "Containers periodically killed due to kubelet "No such container" error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig Windows

**What happened**:

  Normal   Created                 8m    kubelet, 29891k8s9000  Created container
  Normal   Pulled                  8m    kubelet, 29891k8s9000  Successfully pulled image "<repository>/powerflowclient:97"
  Normal   Started                 8m    kubelet, 29891k8s9000  Started container
  Warning  FailedSync

[2018-10-15 00:52] liqlin2015 commented on #66844
Anyone has clue about this issue? I got the same issue in Kubernetes v1.11.3.

[2018-10-15 01:00] k82cn commented on #69785
/sig apps

[2018-10-15 01:27] lcwxz1989 opened #69789 "gpu info assinged to one pod"
hi  I have a problem about gpu
I want to get  gpu info  assinged to one pod.So if  possible I get the gpu info?

[2018-10-15 02:00] k82cn commented on #69767
IMO, we also need to provide some doc on our policy/algorithms: what's the target user case of algorithm? how to configure it? Source code of scheduler is low priority to me for now.

[2018-10-15 02:03] WanLinghao commented on #69658
/cc @Chenditang

[2018-10-15 03:33] justinsb opened #69792 "Profiling flag default value changed from true to false"
For both kube-scheduler and kube-controller-manager, the `profiling` flag default changed, I believe accidentally.

kube-scheduler changed in #52562, cc @ironcladlou  (I think this is k8s 1.9)
kube-controller-manager changed in #60270 cc @stewart-yu  (I think this is k8s 1.11)

There was a similar issue with leader-election default changed, where we changed the default: #60524  Not sure of the tim

[2018-10-15 03:45] stewart-yu commented on #69792
seems we have not setting default value for the `profiling` flag in `kube-controller-manager`

[2018-10-15 04:09] varkey commented on #56335
/remove-lifecycle stale

[2018-10-15 04:13] jiahut commented on #37471
this work for me：

[2018-10-15 04:17] Starnop opened #69793 "feature request: CRI should support more resources of container"
/kind feature
/sig node

As moby has defined [Resources](https://github.com/moby/moby/blob/master/api/types/container/host_config.go#L308) as follows :

[code]

Now, CRI has defined [Resources](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L503) as follows :

[code]

In the meantime, we have defined the interface of updateContainerResources :

[2018-10-15 05:22] splnanthakumar opened #69794 "How to access environment variables inside container at runtime ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-10-15 05:30] krmayankk commented on #69794
Your question is not clear ? Do you mean from the code running inside the container ? In golang you can use https://golang.org/pkg/os/#Getenv

Providing more concrete examples will help otherwise this is an incomplete bug/issue

[2018-10-15 06:14] tnsasse commented on #52218
+1 for combining -f and -l. For debugging we need to be able to look at logs holistically from all running instances of a pod.

[2018-10-15 07:18] brancz commented on #57660
/remove-lifecycle stale

[2018-10-15 07:43] mindw commented on #47862
/remove-lifecycle rotten

Please :)

[2018-10-15 08:31] javierprovecho commented on #60807
We discovered the reason for deleting namespaces to be stuck in our case (@palmerabollo)

When a namespace has a finalizer `kubernetes`, it means its an internal problem with the API Server.

Run `kubectl api-resources`, if it returns an like the following, it means that the custom API isn't reachable.

[code]

Run `kubectl get apiservices v1beta1.metrics.k8s.io -o yaml`, for checking its status c

[2018-10-15 08:34] luzhzhsoft opened #69798 "miss oomkilled event"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
when oom happend ,there no event appeared
**What you expected to happen**:
when oom happend,some event to desribe this phenomenon
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):1.10
- Cloud provider o

[2018-10-15 08:34] #63983 closed

[2018-10-15 08:37] warmchang commented on #48585
I try this by weave and flannel CNI plugin, it's ok after pause restart.

So, this seems to be related to the implementation of the CNI plugin itself.

[code]

[2018-10-15 09:06] anguslees opened #69799 "SELinux chcon relabelling considered harmful (for PVs)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT (sort of?)
/kind bug

**What happened**:

I had a large cephfs (rook) volume, and tried to mount it via the rook flexvolume on a coreOS node.  Dockerd on the node stopped responding, making the node go NotReady, and the huge number of setxattr calls DoSed my ceph metadata nodes, affecting other cephfs users in the cluster.

Consequently I'v

[2018-10-15 09:45] anguslees commented on #69799
/sig storage

[2018-10-15 09:49] chenchun commented on #64667
It's been replaced by configuring interested resource instead of labels or annotations.
See the discussion in https://github.com/kubernetes/kubernetes/pull/58851.
I think this issue can be closed.

[2018-10-15 10:13] DylanBLE commented on #69621
@liggitt  31ff8c6 fixed the issue! Thanks.

[2018-10-15 10:13] DylanBLE commented on #69621
/close

[2018-10-15 10:13] #69621 closed

[2018-10-15 10:31] shaikkhaja5628 commented on #44540
Hi All
I am facing the same issue on with kubectl top pod command with above 1.10 version also
root@:/home# kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:17:28Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

Getting the below error:
Error

[2018-10-15 11:00] mslga commented on #69665
@Pingan2017
It seems doesn't work

[code]

vi kubelet_config.yaml
[code]

[2018-10-15 11:51] donbowman commented on #65387
It seems the pull request https://github.com/kubernetes/kubernetes/pull/67384#issuecomment-427623086 is stalled on this. Does anyone have any input?

[2018-10-15 12:08] neolit123 commented on #69798
please provide better description for your issue or try getting help on slack or the support channels:
https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

/close

[2018-10-15 12:08] #69798 closed

[2018-10-15 12:08] neolit123 commented on #69794
/sig node

[2018-10-15 12:09] neolit123 commented on #69794
/close

[2018-10-15 12:09] #69794 closed

[2018-10-15 12:46] soltysh commented on #69248
The bug description seems legit, @Pingan2017 you're planning to work on it?

[2018-10-15 12:55] mmariani opened #69804 ""kubectl cp mypod:/ ..." truncates folder and file names"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I asked kubectl to extract all the files in a container.

[code]

Only the names of the top level entries are concerned.

**How to reproduce it (as minimally and precisely as possible)**:

Just cp the root folder somewhere.

**Environment**:
- Kubernetes version (use `kubectl version`):

Client Version: version.Info{Majo

[2018-10-15 13:00] Pingan2017 commented on #69248
@soltysh  Yeah , I'll work on it

[2018-10-15 13:17] vovkanaz opened #69805 "Multimaster issue with etcd"
Trying to do multi-master cluster,
First of all, we try to make a etcd cluster  based on this lhttps://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/
but we've got a result:
member 45bb04c0f4ab315b is healthy: got healthy result from https://XXX.XXX.XXX.XXX:2379
member ad96f29c89b43070 is healthy: got healthy result from https://XXX.XXX.XXX.XXX:2379
member ee4fa581d5988965 is unr

[2018-10-15 14:22] dmolik commented on #68686
I think I ran into this issue last week, (I'm trying to bootstrap the control plane with static pods) what can I do to help?

[2018-10-15 14:39] dims commented on #69776
@justinsb some context is here : https://github.com/kubernetes/kubernetes/issues/27543#issuecomment-402144607

Another aspect here is to help folks who are new to the project to give something specific that they can help with as well.

Another data point was how far behind we were in picking up some changes to ghodss/yaml and gopkg.in/yaml.v2:
https://github.com/kubernetes/kubernetes/pull/69627

I

[2018-10-15 14:48] juanvallejo commented on #69555
Closing, as this is not a bug.

/close

[2018-10-15 14:48] #69555 closed

[2018-10-15 15:20] carolynvs commented on #64319
O.M.G I can't wait to try it out! 🏃‍♀️ 💨

[2018-10-15 15:43] awly commented on #69576
@liggitt AFAIK EKS uses IAM authenticator for node auth. I'm not sure if it's only used to provision certs or always.
/sig aws

[2018-10-15 15:48] idealhack commented on #68772
PR merged.

/close

[2018-10-15 15:48] #68772 closed

[2018-10-15 16:10] micahhausler commented on #62185
/remove-lifecycle stale

[2018-10-15 16:11] seils opened #69811 "Services with externalIPs Should Honor externalTrafficPolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Services that define IP addresses using externalIPs (vs. loadBalancerIP) do not adhere to the localTrafficPolicy=Local setting.  This prevents preservation of (client) source IP addresses for such services.

**What you expected to happen**:
Services with externalIPs definitions should respect the localTrafficPolicy se

[2018-10-15 16:12] seils commented on #69811
/sig network

[2018-10-15 16:42] #64014 closed

[2018-10-15 16:42] #64033 closed

[2018-10-15 16:44] yliaog commented on #63622
after some in-depth investigations, it turns out the 1.10 sample-apiserver would need the following rbac permissions (in addition to the system:auth-delegator role). I'm updating the PR to add these.

=====================================================
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sample-apiserver
rules:
- apiGroups:
  - admissionregistration.k8s.i

[2018-10-15 16:57] mikedanese commented on #69792
I'd recommend the we turn debugging handlers off by default on all binaries. Thanks for catching this.

[2018-10-15 16:57] mariantalla opened #69815 "[sig-api-machinery] Aggregator Should be able to support the 1.7 Sample API Server using the current Aggregator"
This test has been failing since 10/13.

Dashboard: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-master-scale-correctness

Sample Failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/167

This test failure will block 1.13 beta (being in the [sig-release-master-blocking group](https://k8s-testgrid.appspot.com/sig-relea

[2018-10-15 16:59] shrinandj commented on #66829
I'm using `kops` to operate k8s cluster. I don't see the PersistentVolumeLabel admission controller in the kops config, nor in the api-server command line arguments. Yet, I see the api-server logs warning about the PersistentVolumeLabel admission controller. Where is the api-server getting it from? I'm using K8S version 1.10.7.

kops config:
[code]

api-server args:
[code]

[2018-10-15 17:05] smarterclayton commented on #69540
We could probably leave operation for now.  Operation is bounded.

[2018-10-15 17:06] ntcong commented on #68447
I'm on 1.12.0 and the issue is still there
[code]

I suppose https://github.com/kubernetes/kubernetes/pull/68764 is included in 1.12?

[2018-10-15 17:13] mitar opened #69816 "Init containers do not have same waiting state reasons as regular containers"
/kind bug

**What happened**:

When regular containers are starting up, they go through various waiting reasons like `ContainerCreating` and others. This allows one to read and get better understanding of what is happening to the container. But when looking at init containers, when they are in the waiting state, their reason is always `PodInitializing`.

**What you expected to happen**:

I do expe

[2018-10-15 17:17] RenaudWasTaken commented on #52757
Hello @lcwxz1989 !

This is currently not exposed but there is a design that is currently being discussed that would allow that.
Currently if you want to do that you would need to have your GPU containers expose the GPU they are consuming (maybe expose a `/gpu` HTTP endpoint).

[2018-10-15 17:28] fedebongio commented on #63622
Hi Josh, TL;DR: we are upgrading to 1.10 and that's what people is talking about in the previous comments.

[2018-10-15 17:30] krmayankk commented on #64319
I know there is no requirement for documentation on internal enhancements, but if there is a scope for that , please add a blob about how to use it , for both core and controller writers . I have been looking for an internal deep dive on informers but haven’t found one and it keeps improving :-) @nikitha @p0lyn0mial

[2018-10-15 17:34] leakingtapan commented on #69409
I had the same issue. After I scale down my worker node instance number from 3 to 1. One node is stuck in `NotReady` status and never got deleted. However, one interesting thing is one of the other node is removed successfully. @dadux do you see similar behavior too?

[2018-10-15 17:43] #64036 closed

[2018-10-15 17:48] liggitt commented on #66829
--enable-admission-plugins specifies plugins to enable in addition to the default plugins. the persistent volume label admission plugin was in the "enabled by default" list [until 1.11](https://github.com/kubernetes/kubernetes/pull/64326/commits/4c3fa4f9baa79ab08a4d39e5d40fb66617af111d)

[2018-10-15 17:50] msau42 opened #69819 "CSI plugin e2e testing discussion"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
I want to summarize my thoughts on how I think we should support running e2e tests against CSI plugins, and open it up for discussion.

Instead of running plugin e2e tests in kubernetes core, I think each CSI plugin should be responsible for setting up and running Kubernetes e2e tests from th

[2018-10-15 17:56] msau42 commented on #69819
https://github.com/kubernetes/kubernetes/pull/68025 is helping to move in this direction

[2018-10-15 18:13] msau42 commented on #69699
I haven't thought about exactly where in the API we can add it.  Maybe in the same place where fsgroup is specified.  There are also other issues around volume ownership that may impact this also, and it can benefit from someone taking full ownership of this area to investigate a complete solution.

Ref other ownership issues: https://github.com/kubernetes/kubernetes/issues/2630, https://github.co

[2018-10-15 18:14] shrinandj commented on #66829
Oh.. ok. Thanks for the update!

[2018-10-15 18:17] PatrickLang commented on #61674
FYI - #69516 adds npipe support (similar to a unix socket) for Windows

[2018-10-15 18:17] PatrickLang opened #69823 "Enhancement: Support CRI-ContainerD for Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/milestone v1.13
/sig windows

**What happened**:

ContainerD & CRI-ContainerD are now building for Windows Server 2019, but are not supported in the Windows kubelet yet. This issue will be used to track the changes needed to make this happen and is expected to be done for v1.13.

ContainerD will only work on Windows Server 2019. That re

[2018-10-15 18:31] ehashman opened #69825 "All Kubernetes components should offer an option for structured logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

From the documentation, it appears that only the audit log has a JSON format available (`--audit-log-format string    Default: "json"`). All Kubernetes components (including the kubelets) should provide an option to write logs in JSON format for easier processing and indexing.

**How to reproduce it (as minimally and

[2018-10-15 18:31] ehashman commented on #69825
/sig instrumentation
/sig node
/sig cluster-ops

[2018-10-15 18:37] lizthegrey commented on #69825
Without structured logs/events or traces, it is substantially more difficult to diagnose performance issues. I notice that apiserver/pkg/util/trace/trace.go diverges from https://golang.org/pkg/runtime/trace/ and only can emit info logs, rather than actually recording spans, etc. in machine-readable format

[2018-10-15 18:42] ehashman commented on #68522
@dashpole the linked file appears to only collect PVC stats, not emptyDir/local storage metrics.

[2018-10-15 18:44] brahmaroutu commented on #69107
@timothysc Can you provide more details on how to solve the issue, I would like to help.

[2018-10-15 18:54] miend commented on #60535
+1, just ran into this while trying to use an ExternalName service to point to another service in a different namespace. This would be a very useful feature.

[2018-10-15 18:55] Huang-Wei commented on #68432
with following yaml, I can't reproduce on v1.11.3:

[code]

[code]

And the pause pod show consistent matchExpression order as original yaml:

[code]

[2018-10-15 18:56] huggsboson commented on #60099
@bradhoekstra Does it make sense / is it possible to back port this feature to previous releases given the number of people wanting the new behavior?

[2018-10-15 19:03] bradhoekstra commented on #60099
@huggsboson My understanding is that new features are limited to minor releases; patch releases should be bug fix only. Since this didn't make it into 1.12 it will wait until 1.13.

[2018-10-15 19:06] pohly commented on #69819
This is currently very hard to do due to the monolithic nature of the Kubernetes E2E framework and its huge dependency tree. PR #68483 addresses that, but there has been some opposition against it. People interested in the topic should join the SIG-storage meeting tomorrow (2018-10-15) where this will be discussed.

If we add enough configuration options to the e2e.test binary published as part of

[2018-10-15 19:17] huggsboson commented on #60099
@bradhoekstra Based on the comments, one could argue this is a bug fix.

I'm curious if it would be easy to backport or if code changes landing in the 1.13 timeframe made it easier to accomplish.

[2018-10-15 19:45] #63954 closed

[2018-10-15 20:00] msau42 commented on #69819
You mean sig-testing meeting?

[2018-10-15 20:19] fedebongio commented on #69815
/assign

[2018-10-15 20:21] szeitlin commented on #67676
Is there a workaround for this? What permissions are the minimum required to be able to switch contexts?

[2018-10-15 20:28] misterikkit commented on #69767
Since this is the tracker issue,
/assign @wgliang
/remove-help

[2018-10-15 20:31] misterikkit commented on #69767
Strongly agree: The type of users who need help using the scheduler are often trying to configure predicates/priorities. I think scheduler configuration should be a separate topic.

Another topic that needs addressing is how our documentation will be organized and discovered. That is a good area for the lead (@wgliang in this case) to set a direction.

[2018-10-15 20:32] pdbogen commented on #67676
I have in fact discovered a usable workaround for this.

If the system-level config files are symlinked into a directory the user can write to, then `kubectl` will lock the symlinks instead of the actual config files. kubectl _can't_ write to these files, so some config change operations may fail; but as long as a writable config precedes the non-writable config in `KUBECONFIG`, it can work at lea

[2018-10-15 20:33] misterikkit commented on #69767
Oops, it's already a separate topic. :+1:

[2018-10-15 20:52] #68963 closed

[2018-10-15 20:56] dmolik commented on #68686
I've seemed to have figures my problem out, staticPodPath instead of StaticPodPath

[2018-10-15 21:28] bsalamat commented on #69743
In that case, we should consider reducing its verbosity to 5 or 6.

[2018-10-15 21:29] mitar commented on #69816
@kubernetes/sig-node-bugs

[2018-10-15 21:30] nsidhaye commented on #46915
I am also facing extact same issue mentioned by @ianjuma

[code]

I am using 1.10.1

[code]

Should we reopen this issue or create new one?

[2018-10-15 21:45] dghubble commented on #68686
I've also figured out the issue I thought was related. Static pods from checkpointed manifests starting in v1.12-rc.1 include a default affinity which prevents the static pod from start - the solution was stripping the affinity (which is not important on static pods anyway). https://github.com/kubernetes-incubator/bootkube/issues/1001

I don't have any more info to add about the original issue, I

[2018-10-15 21:47] #64052 closed

[2018-10-15 21:51] jberkus commented on #63612
Closing this in favor of #69786 per discussion.

/close

[2018-10-15 21:51] #63612 closed

[2018-10-15 21:53] jberkus commented on #69786
Note: this failure is similar to #63612 but is not the same failure, according to @yujuhong

This is a consistent failure rather than a flake, and all nodes are failing to reboot.

It's also been failing consistently since 10/11.

/cc @msau42

[2018-10-15 22:01] msau42 commented on #63612
Looking at one recent test run:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/18231/build-log.txt

The test failed because kubelet never became "not ready":
[code]

When looking at one of the kubelet logs, I do see that kubelet had problems making Node updates to the api server:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-g

[2018-10-15 22:02] msau42 commented on #69786
Copying my notes here:

Looking at one recent test run:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/18231/build-log.txt

The test failed because kubelet never became "not ready":
[code]

When looking at one of the kubelet logs, I do see that kubelet had problems making Node updates to the api server:
https://storage.googleapis.com/kubernetes-jenkins/logs

[2018-10-15 22:03] msau42 commented on #69786
So it seems like even though kubelet is unable to update its Node status, the Node is still showing up as Ready

[2018-10-15 22:10] squeed commented on #67019
Hostname is part of the network (really UTS) namespace; setting the hostname of a hostNetwork pod would change the hostname of the host...

[2018-10-15 22:11] jberkus commented on #69786
Adding sig-node to this discussion:

/sig node

[2018-10-15 22:16] lachlancooper commented on #34583
As mentioned above, this feature is now in beta in 1.12: https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode

[2018-10-15 22:30] msau42 opened #69831 "Can we remove check for container waiting state to determine volume unmounting?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Volume manager calls [isPodTerminated](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/volume/util/util.go#L873) to check if we should unmount a volume.  In it, it's checking if the Pod deletion timestamp is set and if all the containers are in terminated or waiting state.

I don't th

[2018-10-15 22:30] msau42 commented on #69831
@kubernetes/sig-node-bugs
cc @dashpole @yujuhong

[2018-10-15 22:40] fedebongio commented on #69815
Hi @mariantalla!

Please see #63622. This seems to be a duplicate of this one? Or this one is only for 1.13?

Anyways, there's a PR #68300 that hopefully will fix it, by upgrading the sample APIserver to 1.10.

[2018-10-15 22:41] misterikkit commented on #68962
If you delete the `SelfLink` line here, the test breaks (hangs). That
should only happen if we are mocking the HTTP interactions directly.
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler_test.go#L89

Also, the `Fake*Lister` types from `pkg/scheduler/testing` could be
replaced using a fake Clientset with real informers/listers. That might
cause slightly more boilerplate

[2018-10-15 22:55] msau42 commented on #69786
I'm trying to repro on a dev 1.11/1.12 cluster so we can get master logs for the node controller

[2018-10-15 22:56] msau42 commented on #69786
@kubernetes/sig-node-bugs

[2018-10-15 23:12] attfarhan commented on #32987
I am still seeing this on GKE with Kubernetes v1.917

[2018-10-15 23:16] mitar commented on #69816
cc @kubernetes/sig-architecture-bugs

[2018-10-15 23:16] mitar commented on #69721
cc @kubernetes/sig-architecture-bugs

[2018-10-15 23:17] mitar commented on #69640
@kubernetes/sig-architecture-feature-requests @kubernetes/sig-node-feature-requests

[2018-10-15 23:31] shawnhankim opened #69833 "kube-dns 2/3 Running : Error getting metrics from dnsmasq"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network
/sig aws
@kubernetes/sig-network-bugs

**What happened**:
* Occasionally, one of three kube-dns pods are not running as follows.

| NAMESPACE   | NAME                                                    | READY | STATUS  |
|---------------|--------------------------------------|--------|----------|
| kube-system   | pod/kube-dns-

[2018-10-15 23:43] msau42 commented on #69743
For some reason I thought that this was something new but I went back to 1.9 tests and checked the logs and I also see it printed every 2 seconds.

So maybe this is fine for test environments.

[2018-10-15 23:49] shawnhankim opened #69835 "@kubernetes/sig-Network-kubedns"
1. mentioning a sig: `@kubernetes/sig-<group-name>-<group-suffix>`
    e.g., `@kubernetes/sig-contributor-experience-<group-suffix>` to notify the contributor experience sig, OR

2. specifying the label manually: `/sig <group-name>`
    e.g., `/sig scalability` to apply the `sig/scalability` label

Note: Method 1 will trigger an email to the group. See the [group list](https://git.k8s.io/community

[2018-10-15 23:51] #69835 closed

[2018-10-16 00:13] klizhentas opened #69836 "Promote CSR API out of beta"
This is an umbrella issue tracking items to be discussed and dispositioned as part of promoting the CSR API to v1

* API shape/issues
  * Requires requesters to know all the info about the end certificate.
  * Use for higher-level requests (“give me a node client cert”, “give me a serving cert for a pod backing a service”).
  * Requested certificate attributes are split unthoughfully between encod

[2018-10-16 00:14] klizhentas commented on #69836
/sig arch

[2018-10-16 00:15] klizhentas commented on #69836
@kubernetes/sig-arch

[2018-10-16 00:17] klizhentas commented on #69836
/assign @timothysc

[2018-10-16 02:05] Lion-Wei commented on #68703
@islinwb Hi, since #68799 is approved, this issue already solved?

[2018-10-16 02:12] wgliang opened #69840 "[Scheduler User Guide Documentation] Choose scheduling algorithms and strategies for your cluster"
PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE. We want to avoid the situation where two people accidentally start work on the same fix.
Main tracking issue: #69767

We all know that the kube-scheduler algorithm contains many predicates and priorities, all of which are derived from some common scheduling scenarios. But many users don't understand their role, and they don't know