[2016-05-25 11:31] wojtek-t commented on #26119
OK - so I think that what is happening here is that since CreateRoute translates to:
- get instance
- insert route
- a bunch of getOperations

That means that if we call say 2000 CreateRoute() at the same time, all of them will try to issue: getInstance at the beginning. So we will quickly accumulate 2000 GET requests in the queue.
Once they are processed, we generate the "POST route" then for any

[2016-05-25 11:56] wojtek-t commented on #26119
But I still don't really understand why do we get "RateLimitExceeded". Is that because of Kubelets?

[2016-05-25 12:03] wojtek-t commented on #26119
I think that one problem we have at the RouteController level is that if CreateRoute fails, we simply don't react on it. And we will wait at least 5 minutes before even retrying it.
We should add some retries at the route controller level too.
I will send out some short PR for it.

[2016-05-25 12:12] luxas commented on #25886
@bpradipt Have you tried to upgrade `gcc` to a newer version?
It might or might not help...

You might also try to look at what in the gcc linker differs from `aarch64` for example, where it doesn't fail

[2016-05-25 12:13] derekwaynecarr commented on #8723
We can quota usage of both load balancers and node ports in a namespace to
ensure that a namespace cannot consume any.  I will get an example quota
soon.

On Wednesday, May 25, 2016, Brian Grant <notifications@github.com> wrote:

[2016-05-25 13:10] rootfs commented on #25697
@relaxdiego I see two topics discussed here: ceph secret namespace and ceph user. As @childsb said, the secret is in the same namespace as the project, so the same Ceph cluster resource can be shared among multiple projects, each of the projects can be properly isolated as well.

Sharing Ceph admin, the privileged user, among projects risks exposing the entire Ceph cluster to unprivileged users. S

[2016-05-25 13:16] cmpmohan commented on #19765
@ncdc thanks for your response.. we have alternative way to access the zeppelin web portal .. i,e we are accessing them via kubernetes minion IP with port.. its working..

[2016-05-25 13:20] wojtek-t commented on #26119
But I still don't understand why do we get those "RateLimitExceeded" error

[2016-05-25 13:22] dims commented on #26210
Isn't this a dup of https://github.com/kubernetes/kubernetes/issues/21484 ?

[2016-05-25 13:22] dims commented on #21484
Is this a dup of the bot proposed one? https://github.com/kubernetes/kubernetes/issues/26210

[2016-05-25 13:27] sttts commented on #26210
@dims yes, it's the same issue.

[2016-05-25 13:30] sttts commented on #26210
@dims in #21484 you can find backtraces from the apiserver during that request. It looks like a 501 or 503 error in fact.

Relaxing the error condition will fix the flake, but probably hide some other problem.

[2016-05-25 13:40] xiangpengzhao opened #26265 "Cannot build master code by running release.sh"
When I git clone the master code and run build/release.sh, I get an error `./../build/common.sh: line 32: hack/lib/init.sh: No such file or directory`. Any one else has got this problem?

I think the `common.sh` may lost a line `cd "${KUBE_ROOT}"`. Running `release.sh` works well if I add the line into `common.sh`.

Should we add the line [like this](https://github.com/xiangpengzhao/kubernetes/com

[2016-05-25 13:46] Gnouc commented on #26259
@dims why Openshift Origin?

If I ran kubernetes alone, the same issue occur.

I think we should state this an OS bug, or make `kubelet` handle this situation

[2016-05-25 13:47] derekwaynecarr commented on #8723
@erictune - an example doing this with quota:

[code]

You can set either to 0 to prevent consumption of either.

This is new to kube 1.3 - thanks to @sdminonne

[2016-05-25 13:53] timothysc commented on #18099
It seems like we can go-bindata the defaults then have an optional input argument as an over-ride.

[2016-05-25 14:11] javiercr commented on #23404
I had the same problem a few days ago, kudos for updating the docs!

[2016-05-25 14:31] dims commented on #26259
@smarterclayton - what's the best venue for this bug?

[2016-05-25 14:33] wojtek-t commented on #26119
OK - so as an update. In GCE, we have a separate rate-limit for number of in-flight CreateRoute call per project.
#26263 is supposed to address this issue.

[2016-05-25 14:43] therc opened #26268 "Support mixed HTTP/HTTPS ports in ELBs"
Implement the second SSL ELB annotation, per https://github.com/kubernetes/kubernetes/issues/24978

`service.beta.kubernetes.io/aws-load-balancer-ssl-ports=*` (or e.g. `https`)

If not specified, all ports are secure (SSL or HTTPS).

[2016-05-25 14:52] #23944 closed

[2016-05-25 14:52] pskrzyns opened #26269 "Conformance tests try to use gce as provider, when it should be provider independent"
I'm trying to run e2e tests against my k8s cluster

[code]
 but i got error

[code]

```KUBERNETES_CONFORMANCE_TEST=y``` should set ```KUBERNETES_PROVIDER``` to "", but its changed somehow to gce

Until yesterday it was working

[2016-05-25 14:58] a-robinson commented on #26185
Unless we've started running kube-proxy on the master, running fluentd-es is worthless, as originally discussed in #21362. Sorry for not making sure that got referenced from #21428

[2016-05-25 14:58] piosz commented on #16675
We are passing labelSelector to [Metrics API](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/resource-metrics-api.md) to fetch resource usage, so it's required by metrics client.

[2016-05-25 14:58] #16675 closed

[2016-05-25 15:07] relaxdiego commented on #25697
@rootfs (awesome username!) thanks for the clarification.

[2016-05-25 15:10] krousey commented on #21484
Closing in favor of the automated report #26210

[2016-05-25 15:10] #21484 closed

[2016-05-25 15:11] krousey commented on #26210
Transferred assignee and priority from de-duped bug.

[2016-05-25 15:17] zmerlynn opened #26270 "PR builder failing with: Quota 'NETWORKS' exceeded. Limit: 75.0"
From http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/41958/:

[code]

[2016-05-25 15:24] zmerlynn commented on #26270
Also here: http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/41956/console, from #26263

[2016-05-25 15:24] pwittrock commented on #25966
The node e2e tests now emit junit.xml test artifacts.  Let me know if this fixed the issue or there is something else I need to do.

[2016-05-25 15:24] a-robinson commented on #25503
@thockin - you are very right, kube-down doesn't even try to delete this stuff.

For what it's worth, this was brought up again by a customer today as a concern. It's not a small project, though, as you mention.

[2016-05-25 15:26] pwittrock commented on #26138
Should be fixed in #25171.  Reopen if needed.

[2016-05-25 15:40] dims commented on #26270
@zmerlynn - Are there public logs?

[2016-05-25 15:54] zmerlynn commented on #26270
Here's [one set](https://00e9e64bac9b383fe79e81dc16fe6c4f028f7054d2142492c6-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F26207%2Fkubernetes-pull-build-test-e2e-gce%2F41958%2Fbuild-log.txt?qk=AD5uMEvOoqDhVRAYS_B8q_PnI9ZFDS1S8JYCPUIhmi4HBTNCxghwkB5CVuiLMYE7ESAWd6AzsnUMV30ek8cYvKwJBwlk1DpT7Ka8Xeh9ca5L7VnlnjvEG6utNI2ZHo7kCM3D24NiO1AADs9hA0UyxHWqtwV3eGO5if1X

[2016-05-25 16:02] smarterclayton commented on #26259
This is a Kubernetes bug - the line referenced by @gnouc points out that the kubelet assumes the docker binary is called "docker" which is not necessarily the case.

[2016-05-25 16:04] smarterclayton commented on #26259
I think at a minimum that should not be a constant, but be defaulted.  The workaround for now is to hardlink the `docker-current` process you have to `docker`.

[2016-05-25 16:08] smarterclayton commented on #25139
This should have been fixed. Closing for now.

[2016-05-25 16:08] #25139 closed

[2016-05-25 16:10] dims commented on #26210
@sttts interesting, i haven't been able to find 501 or 503 in kubernetes-e2e-gke logs that i pulled this morning

[2016-05-25 16:20] xiang90 commented on #8700
@bgrant0607 @wojtek-t

Expiring definitely does not happen too often with a few fixes we did. So, yes, this exact issue is resolved.

But for etcd2, the window size is still small. Expiring still can happen in theory. If we switch to etcd3, the root cause should be resolved. We implemented the streaming watch feature @bprashanth proposed. We will do more testing for etcd3 on this.

[2016-05-25 16:28] krousey commented on #26210
@dims These would be in the API server log on the master. Due to GKE masters being hosted in a separate project, our Jenkins builder doesn't collect them. The logs @sttts found in the duped issue were from vanilla GCE runs where we do collect the master logs.

[2016-05-25 16:35] dims commented on #26259
@smarterclayton thanks, sounds good. I have heard many times that there are patches/hardening to docker and kubernetes and was not sure.

[2016-05-25 16:36] Gnouc commented on #26259
@smarterclayton If you don't mind, I can push the fix for this issue.

[2016-05-25 16:37] eparis opened #26271 "e2e: Quota 'ROUTES' exceeded. Limit: 170.0"
http://pr-test.k8s.io/26243/kubernetes-pull-build-test-e2e-gce/41944/build-log.txt

The `e2e` and `Node e2e` tests are hitting the following errors:
[code]

[code]

[code]

[2016-05-25 16:45] dims commented on #26210
Thanks @krousey i am just learning the ropes.

[2016-05-25 16:58] herbalizer404 opened #26273 "Unable to have an external ip on my ingress"
Hi,
When I try to expose a service directly on one of my nodes port, i can precise his ip like this when i create the service, Im on baremetal and all my nodes have a public ip.

[code]

And it works, I can access the service to the external ip on port 80.

But When I try to use ingress, I deleted this service above and put this one without external ip:
[code]
then i create the ingress:
[code]
But

[2016-05-25 16:59] wojtek-t opened #26274 "Maximum number of concurrent CreateRoute calls should be configurable"
#26263 introduces a limit on the number of concurrent CreateRoute calls in flight. This is necessary, because GCE has such a limit and we want to avoid a huge number of "Rate Limit Exceeded" errors.

However, this is now a constant number - this should be configurable and also depend on the cloud provider.

@zmerlynn @gmarek

[2016-05-25 17:00] lavalamp commented on #26211
@zmerlynn This doesn't look like a node team problem, this is a nodecontroller problem. nodecontroller is owned by control plane.

node controller clearly needs to do something in a retry loop.

@mikedanese @gmarek <--- people who know something about node controller.

[2016-05-25 17:01] lavalamp commented on #26211
@Random-Liu the only way this is your bug is if your component does many many writes to the node status on startup.

[2016-05-25 17:02] pwittrock commented on #26126
@sttts thanks

Duplicate of #25277

[2016-05-25 17:02] #26126 closed

[2016-05-25 17:03] lavalamp commented on #26236
I think this will be fixed when https://github.com/kubernetes/contrib/pull/1061 goes live.

[2016-05-25 17:06] pwittrock commented on #25642
@AaronTao1990 Due it being a maintenance nightmare, we are replacing the local docker setup with a new custom local cluster called [minikube](https://github.com/kubernetes/minikube).  It should be released soon, but is available for pre-release

@dlorenc Do you know if minikube runs the dashboard?

cc @vishh

[2016-05-25 17:06] janetkuo commented on #25645
@metral the external links are here (`s/pantheon.corp/console.cloud`):
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25221/kubernetes-pull-test-unit-integration/25998/
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26190/kubernetes-pull-test-unit-integration/27676/

[2016-05-25 17:08] lavalamp commented on #26265
What is your working directory when you run the build script?

[2016-05-25 17:12] pwittrock commented on #25675
cc @johndmulhausen

@isubuz Fixing this seems like the right thing todo.  If you create a PR against kubernetes/kubernetes.github.io @johndmulhausen and I will review it.

[2016-05-25 17:15] janetkuo commented on #23304
Another case http://stackoverflow.com/questions/37435540/if-number-of-replicas-in-a-deployment-is-1-and-the-deployment-is-bad-the-deplo

[2016-05-25 17:18] dlorenc commented on #25642
We haven't tried yet but we have it tracked here: https://github.com/kubernetes/minikube/issues/3

AFAIK it *should* just work because we support service accounts, but we obviously won't know for sure until someone tries it.

[2016-05-25 17:20] wojtek-t commented on #8700
What I meant closing this issue is that this small window doesn't cause us problems now (even in large clusters).

[2016-05-25 17:21] david-mcmahon commented on #25398
Is this what's current killing kubernetes-e2e-gce-serial again?

[2016-05-25 17:22] zmerlynn commented on #26211
@lavalamp - I took a fast stab and asked for triage, sorry. To be fair, there's about 2k nodes posting status, but yes, that's probably the controller falling over, not the node team's fault.

[2016-05-25 17:23] #25058 closed

[2016-05-25 17:25] ihmccreery commented on #26235
We expect persistent data on the PD to be available across upgrades (otherwise, why would we store it on the PD?), so it should be in the same place.  I don't care if it's mounted on the OS in a different place.

in GCI, as GCI does not use salt

On a CVM master, I see no Salt in either `/srv/kubernetes` or `/srv/sshproxy`.  Even if there was extra stuff there, why would it matter?

I'd hear an al

[2016-05-25 17:27] wojtek-t commented on #26211
But IIUC, this should be fixed by #26207 . Or am I missing something?

[2016-05-25 17:30] janetkuo commented on #25788
@krmayankk you can look for help-wanted issues https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Ahelp-wanted
or check https://github.com/kubernetes/community/wiki/Roadmap:-kubectl and https://github.com/kubernetes/community/wiki/Roadmap:-Deployment

[2016-05-25 17:32] euank commented on #26270
Another set of logs: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25902/kubernetes-pull-build-test-e2e-gce/41986/ from #25902

[code]

[2016-05-25 17:33] yujuhong commented on #26270
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26272/kubernetes-pull-build-test-e2e-gce/41981/

[2016-05-25 17:35] yujuhong commented on #23545
@fejta why did you close the issue? Is there a fix or new issue that I missed?

[2016-05-25 17:39] Random-Liu commented on #26211
@lavalamp There is no node-problem-detector running in this cluster

@zmerlynn I checked the cluster yesterday. It's wired that all nodes are started at "20:12:00", but the apiserver is started at "21:27:00". After apiserver started, all the node tried to update node statuses at the same time, and the node controller also started to complain the update error.

[2016-05-25 17:39] bgrant0607 commented on #23327
@gmarek I take back what I wrote before. I'll comment further on the PR.

[2016-05-25 17:41] MikeSpreitzer opened #26275 "Need a way for user to specify container labels"
I need a way for a client creating a pod to put something in the pod that specifies some container labels.  Please note that I am **_not_** talking about making a pod's containers inherit all the pod's labels.  Rather, I am talking about a new bit of specification for labels that are intended just for the containers.

For my use case, it suffices to give the client a way to specify one set of labe

[2016-05-25 17:49] k8s-merge-robot opened #26277 "Container runtime Conformance Test container runtime conformance blackbox test when running a container with invalid image it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when running a container with invalid image it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26278 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits failure it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits failure it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26279 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26280 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that keeps running it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that keeps running it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26281 "MirrorPod when create a mirror pod should be recreated when mirror pod forcibly deleted {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26282 "MirrorPod when create a mirror pod should be recreated when mirror pod gracefully deleted {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod gracefully deleted {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26283 "MirrorPod when create a mirror pod should be updated when static pod updated {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: MirrorPod when create a mirror pod  should be updated when static pod updated {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26284 "PrivilegedPod should test privileged pod {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: PrivilegedPod should test privileged pod {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26285 "[k8s.io] Kubelet metrics api when querying /stats/summary it should report resource usage through the stats api {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: [k8s.io] Kubelet metrics api when querying /stats/summary it should report resource usage through the stats api {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26286 "[k8s.io] Kubelet when scheduling a busybox command in a pod it should print the output to logs {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: [k8s.io] Kubelet when scheduling a busybox command in a pod it should print the output to logs {E2eNode Suite}

[code]

[2016-05-25 17:49] k8s-merge-robot opened #26287 "[k8s.io] Kubelet when scheduling a read only busybox container it should not write to root filesystem {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3284/

Failed: [k8s.io] Kubelet when scheduling a read only busybox container it should not write to root filesystem {E2eNode Suite}

[code]

[2016-05-25 17:51] zmerlynn commented on #26211
@Random-Liu: That time delta is really odd. The master is sometimes slow to create compared to the individual IGMs on GKE, but not the nodes themselves, which shouldn't even be that uniform.

[2016-05-25 17:52] jingxu97 commented on #26149
Looks like the same gce tests all past for most recent 50 builds

[2016-05-25 17:53] girishkalele commented on #25556
@saad-ali

I grabbed all available consoleText files (831 at this time) and did a grep for a few of these phrases, including "Service endpoints latency should not be very high" but haven't seen a reoccurrence.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/*/consoleText

Either this is a very rare flake or the underlying issue has been fixed by a recent commit.

[2016-05-25 18:04] saad-ali commented on #25556
That's possible. Feel free to close as no-repro. It can be re-opened if the test fails again (while making sure to preserve the logs somewhere permanent).

[2016-05-25 18:12] yujuhong commented on #20836
@kubernetes/kubectl, `test/e2e/kubectl.go` still uses yaml files from `docs/user-guide` and those files pull non-tagged images such as ["nginx"](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/pod.yaml). Please fix it.

[2016-05-25 18:27] Random-Liu commented on #26287
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:27] #26287 closed

[2016-05-25 18:27] Random-Liu commented on #26286
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:27] #26286 closed

[2016-05-25 18:27] Random-Liu commented on #26285
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:27] #26285 closed

[2016-05-25 18:27] Random-Liu commented on #26284
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:27] #26284 closed

[2016-05-25 18:27] Random-Liu commented on #26283
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:27] #26283 closed

[2016-05-25 18:27] Random-Liu commented on #26282
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:27] #26282 closed

[2016-05-25 18:28] Random-Liu commented on #26281
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:28] #26281 closed

[2016-05-25 18:28] Random-Liu commented on #26280
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:28] #26280 closed

[2016-05-25 18:28] Random-Liu commented on #26279
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:28] #26279 closed

[2016-05-25 18:28] Random-Liu commented on #26278
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:28] #26278 closed

[2016-05-25 18:28] Random-Liu commented on #26277
Docker hung on coreos-stable20160218.
[code]

Close this one becaues of dup to #25993.

[2016-05-25 18:28] #26277 closed

[2016-05-25 18:28] MikeSpreitzer commented on #26275
BTW, for my use case, I do not need to update the container labels --- the client can supply the needed labels from the start, and they do not need to change during the lifetime of the pod.

[2016-05-25 18:32] yujuhong opened #26290 "e2e flake: Namespace cannot be deleted in time"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1356/
[code]

The pods were not deleted in time, causing cascading failures in the following tests.

[2016-05-25 18:41] euank opened #26291 "OS_DISTRIBUTION / NODE_IMAGE backwards incompatible change"
As of #26197 (specifically [here](https://github.com/kubernetes/kubernetes/pull/26197/files#diff-57380bb03c3598646d5a3cb66518fa0bR50)), running `kube-up` against GCE without setting a node image defaults it to containervm, whereas before it defaulted it to the master image.

For example, my config of:
[code]

brings up a coreos master and then launches nodes with `containervm` images. Before the a

[2016-05-25 18:42] txomon commented on #23727
Yes, but would it be possible to print those credentials when using some of the quick start scripts? That would be really helpful!

[2016-05-25 18:43] lavalamp commented on #26211
I am suspicious of the time delta-- is one of those from a source that
doesn't include daylight savings or something?

On Wed, May 25, 2016 at 10:57 AM, Zach Loafman <notifications@github.com>
wrote:

[2016-05-25 18:44] pwittrock commented on #26209
Looks like the node never even tried to fetch the image.  @yujuhong Any ideas on what could be failing here?

[code]

[2016-05-25 18:44] nikhiljindal commented on #26270
cc @kubernetes/test-infra-maintainers

[2016-05-25 18:45] bprashanth commented on #26271
@k8s-oncall @kubernetes/goog-testing

[2016-05-25 18:47] caseydavenport commented on #22469
@HuKeping - "this namespace" refers to the namespace that is the parent of the NetworkPolicy.

So, if you create a NetworkPolicy in namespace "foo", `podSelector` can only match pods in namespace "foo".

[2016-05-25 18:48] isubuz commented on #25675
Sounds good!

[2016-05-25 18:49] lavalamp commented on #26270
@ixdy @fejta @spxtr Too many simultaneous runs in one project?

[2016-05-25 18:53] liggitt commented on #23974
If this hasn't been seen in over a month, I think we should close it. The pod not being found is in the common "TestContainerOutput" code, which is hit by a lot of test scenarios

[2016-05-25 18:57] alex-mohr commented on #26270
I chatted with @rmmh who offered to make sure someone on @kubernetes/test-infra-maintainers works on it.

[2016-05-25 18:59] alex-mohr commented on #26270
I wonder if this is a symptom of #26199 fixed by #26208 ?  Presumably have to clean up too even if PR fixes future leaks.

[2016-05-25 19:01] wonderfly commented on #26291
Yeah, this was something I was concerned too while making the change. However, the decision seems to have been that we decided to default `MASTER_IMAGE` to GCI, yet still default `NODE_IMAGE` to the debian based containervm. Also, if we are to seriously start supporting hybrid clusters, i.e., master and nodes run on different OS distros, which seems true according to #26183 , this old assumption o

[2016-05-25 19:14] ddgenome commented on #14170
@biswars use a DaemonSet rather than a ReplicationController.

[2016-05-25 19:31] dts commented on #9043
Mentioned in https://github.com/kubernetes/kubernetes/issues/13488 is an important use case for me: updating secrets.  Specifically if we have a load balancer referencing certificates in a Secret and we want to refresh those certificates in a rolling fashion to all pods in the deployment/etc.

[2016-05-25 19:38] ixdy commented on #26270
The issue is that we create networks and routes based on the Jenkins agent name, but these never get cleaned up by the cluster scripts. @fejta recently renamed all of the Jenkins agents, which resulted in us creating a bunch of new networks and not deleting the old deprecated names.

I'll clean up the old ones now.

[2016-05-25 19:53] Random-Liu commented on #26211
The time on the node:
[code]
The time on the master:
[code]

[2016-05-25 19:53] jingxu97 commented on #26271
Two of my recent tests failed because of this issue. Is this a infrastructure issue?

[2016-05-25 19:55] esthermofet opened #26292 "kube-proxy iptables service routing problem"
Seeing an issue with kube-proxy on a v1.2.2 (and v1.1.x) deploy running on CentOS 7. Haven't tested with other combinations yet.

When --proxy-mode=iptables and a Service is defined with a single Pod, any Node hosting that Pod is unable to reach its Service IP. All other Pods on that Node are also unable to reach its Service IP. They can reach the Pod's IP without issue, but the Service IP is the

[2016-05-25 19:57] roberthbailey commented on #26291
That sounds reasonable to me. We clearly didn't think about your use case whilst making this change.

[2016-05-25 20:00] k8s-merge-robot opened #26293 "Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod it should be possible to delete {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3289/

Failed: Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod it should be possible to delete {E2eNode Suite}

[code]

[2016-05-25 20:00] k8s-merge-robot opened #26294 "MirrorPod when create a mirror pod should be recreated when mirror pod forcibly deleted {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3289/

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suite}

[code]

[2016-05-25 20:00] k8s-merge-robot opened #26295 "MirrorPod when create a mirror pod should be recreated when mirror pod gracefully deleted {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3289/

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod gracefully deleted {E2eNode Suite}

[code]

[2016-05-25 20:00] k8s-merge-robot opened #26296 "MirrorPod when create a mirror pod should be updated when static pod updated {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3289/

Failed: MirrorPod when create a mirror pod  should be updated when static pod updated {E2eNode Suite}

[code]

[2016-05-25 20:00] k8s-merge-robot opened #26297 "PrivilegedPod should test privileged pod {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3289/

Failed: PrivilegedPod should test privileged pod {E2eNode Suite}

[code]

[2016-05-25 20:01] ixdy commented on #26270
[code]

Back under quota limits.

[2016-05-25 20:02] pwittrock commented on #25993
@vishh do you have time to put a quick PR together for this?

Should be easy to add these to the e2e framework now by copying whichever files you want only the local machine into the reports directory.  The whole directory is scp'ed from the host to jenkins after the command to run the tests finished.

- Should be simple to add in [e2e_node_suite_test.go](https://github.com/kubernetes/kubernetes/b

[2016-05-25 20:03] ixdy commented on #26271
dupe of #26270, now fixed.

[2016-05-25 20:03] #26271 closed

[2016-05-25 20:03] pwittrock commented on #26023
Why can't we test the container images by uploading them to gcr.io/your_name_here/cassandra?

[2016-05-25 20:05] abourget commented on #15180
Couldn't it pick a random node ? They all route to services, don't they ?

[2016-05-25 20:11] vishh commented on #25993
Yup!

[2016-05-25 20:12] pwittrock commented on #25993
@yifan-gu we seem to only be seeing this issue on coreos.  Would you take a look?

[2016-05-25 20:13] pwittrock commented on #25993
@vishh if needed, we can also execute any commands that would be useful and output the results to files as well.

[2016-05-25 20:15] Random-Liu commented on #26293
Dup to #25993. Keep this open to gather the failures.

[2016-05-25 20:15] Random-Liu commented on #26297
Dup to #25993. Keep this open to gather the failures.

[2016-05-25 20:15] Random-Liu commented on #26296
Dup to #25993. Keep this open to gather the failures.

[2016-05-25 20:15] Random-Liu commented on #26295
Dup to #25993. Keep this open to gather the failures.

[2016-05-25 20:15] Random-Liu commented on #26294
Dup to #25993. Keep this open to gather the failures.

[2016-05-25 20:20] girishkalele commented on #25556
Ah, your point about preserving the logs permanently got me looking at the GCS storage paths and I found the original build log for Jenkins job 16770 there, even though the job has been cleaned up on the Jenkins server.

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/16770

[2016-05-25 20:20] pwittrock commented on #25554
Issue #25924 documents a hack to override the `change-cause` annotation which we probably want to prevent as part of this.

[2016-05-25 20:22] pwittrock commented on #25924
See issue #25554 for request to support to override CHANGE-CAUSE.  Currently overriding this annotation is not supported.

Closing as a duplicate of #25554.

[2016-05-25 20:22] girishkalele commented on #25556
no-repro
Cannot reproduce - and problem has not reoccurred in the past 440 runs of the same suite.

[2016-05-25 20:22] #25556 closed

[2016-05-25 20:29] #25924 closed

[2016-05-25 20:29] yissachar opened #26299 "Allow auto-population of environment variables from ConfigMap"
The current approach for populating environment variables from ConfigMaps ends up pretty verbose. With the following ConfigMap:

[code]

I have to manually expose each variable separately:

[code]

This seems unnecessary and error-prone if all I want to express is that the pod should pull all the data from the ConfigMap and populate environment variables from them.

It would be nice if this could

[2016-05-25 20:31] yissachar commented on #26299
Note that my example implicitly assumes that there would be some type of auto-conversion from the lowercase and hyphenated ConfigMap keys to uppercased and underscored environment variables. This is not a requirement of the proposal, and it would probably simplify matters if no auto-conversion was done.

[2016-05-25 20:33] vishh commented on #23397
@timstclair https://github.com/kubernetes/kubernetes/issues/23397#issuecomment-209583923 is still unresolved AFAIK.

[2016-05-25 20:33] #24971 closed

[2016-05-25 20:35] euank commented on #26291
@wonderfly I don't see the issue with defaulting to non-hybrid while supporting hybrid.. Defaulting `NODE_IMAGE = MASTER_IMAGE` seems totally reasonable even in a world where hybrid support is possible. A user could explicitly control that they want hybrid via setting them to different values regardless of the defaulting, or wherever hybrid is toggled on different defaulting could be done.

I left

[2016-05-25 20:35] ichekrygin commented on #25554
I we add a "new" annotation, what would be the purpose for original annotation? If used w/ `--record=false` results in `CHANGE-CAUSE=<none>` IN rollout history.

[2016-05-25 20:36] timstclair commented on #23397
Ah, I missed that. Thanks.

[2016-05-25 20:40] derekwaynecarr commented on #25893
@dchen1107 - is there a date you want to have known issues gathered by for docker 1.10?  For RHEL based platforms, we will have some data based on the *docker version packaged by Red Hat* , which as discussed would be docker 1.10 with the patches specifically enumerated for whatever docker 1.10.x is packaged at the time.  We would then publish the list of those carried patches per our normal conve

[2016-05-25 20:45] chrislovecnm commented on #26023
@pwittrock how would developers that don't have GCE accounts run e2e tests?

[2016-05-25 20:47] yujuhong opened #26300 "Set timeout for docker image pull calls"
We recently removed the timeout for image pulls because the default is too low (i.e. 2 min), and it's hard to gauge what time will work for the users.

However, it's important that we set "a certain" timeout for such requests to resolve the cases where the request hangs indefinitely.
Off the top of my head, there are two options:

 1. Add the timeout back. Set the default to something longer (e.g.

[2016-05-25 20:47] yujuhong commented on #26300
/cc @Random-Liu

[2016-05-25 20:49] chrislovecnm commented on #20961
@bgrant0607 the PR is ready for merge on the v9 image. What do we need to do to close this out? I have another issues open for e2e tests which impacts all examples.

[2016-05-25 20:54] Random-Liu commented on #26300
I'll try option 2 once #26145 gets merged.

[2016-05-25 21:09] wonderfly commented on #26291
Agreed.

I am making a fix to this.

[2016-05-25 21:10] euank opened #26302 "e2e flake - Many failures, mostly timed out waiting for condition"
Apologies that I can't figure out a better title; I can't figure out what's in common between the flaking tests easily and I want something to point my `test this issue: #` at and maybe it will help. Feel free to re-title it.

I have two PRs with a similar set of failing tests:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26096/kubernetes-pull-build-test-e2e-gce

[2016-05-25 21:11] fejta commented on #25905
Assigning to @bgrant0607 per team/ux label

[2016-05-25 21:11] fejta commented on #26181
Assigning to @saad-ali per PD

[2016-05-25 21:12] nikhiljindal opened #26303 "--all-namespaces does not work with kubectl describe"
This works:
[code]

This does not:
[code]

cc @kubernetes/kubectl

[2016-05-25 21:12] fejta commented on #26139
Assigning to @bgrant0607 per team/ux label and no assigned owner for this test in spreadsheet.

[2016-05-25 21:13] zmerlynn opened #26304 "Fix wait.Until tests to actually verify something other than "not hanging""
In review for #26301, it was pointed out that my copy-pasta test was verifying one thing, but then the second half of the test is more of the "run this code and hope it doesn't hang" variety.

Follow-up issue.

[2016-05-25 21:13] nikhiljindal commented on #26303
Also `kubectl get services -all-namespaces` doesnt print anything.
It should probably throw an error saying invalid flag -all-namespaces (note that the right usage is --all-namespaces)

[2016-05-25 21:15] fejta commented on #25872
Got it thanks! It sounds like `start-kubemark.sh` needs be robust to 5xx responses.

[2016-05-25 21:15] zmerlynn opened #26305 "Convert wait.Until to wait.NonSlidingUntil"
I didn't feel like changing the default behavior this close to the release, but `wait.Until` awkwardly just slides along and always sleeps for `period`. In #26301 I added `wait.NonSlidingUntil` and used it, but an early-release thing to do is just to jump over to it by default and see if anything breaks.

[2016-05-25 21:22] janetkuo commented on #24198
@AdoHe is this one fixed?

[2016-05-25 21:22] pwittrock commented on #25585
I am not able to reproduce on GKE at 1.2.4 when exec'ing into one of the Pods and printing the environment.

[code]

[code]

This is the yaml I used - note the image is different:

[code]

What are the symptoms you are seeing?  Can you provide yaml using standard public image along with the specific symptoms you are seeing?

[2016-05-25 21:25] pwittrock commented on #26303
May be related to #25403

[2016-05-25 21:26] janetkuo commented on #23365
Closing as didn't see a single flake for a week and #25784 should help with the flake due to image pull timeouts.

[2016-05-25 21:26] #23365 closed

[2016-05-25 21:27] pwittrock commented on #26303
Work around is to get the pods and then describe them using `--namespace=`

[2016-05-25 21:29] #25967 closed

[2016-05-25 21:31] nikhiljindal commented on #26303
Well to clarify, the flag is not supported at all.
I get the following error:

[code]

[2016-05-25 21:32] salv-orlando opened #26307 "Kubelet: PodWorker upon network setup failure keeps creating/destroying containers"
If there is a failure during pod sync the operation will be retried as specified in the wrap_up function:

https://github.com/kubernetes/kubernetes/blob/v1.3.0-alpha.4/pkg/kubelet/pod_workers.go#L266

However sometimes pod sync errors are not transient: no matter how many times the kubelet retries the operation is always going to fail. As an example, when using network plugins, if all IPs in the n

[2016-05-25 21:35] ixdy commented on #26186
I'm not really sure what we can do about this. GitHub periodically goes down, and it's outside our control.

[2016-05-25 21:36] pwittrock commented on #26139
The root cause is not something we should be fixing in the kubectl test, and needs to be fixed at the test infrastructure level by prepulling images.

[2016-05-25 21:36] pwittrock commented on #26139
Leaving the issue open because we will continue to see it until the root cause is solved.

[2016-05-25 21:38] thockin commented on #26292
This issue comes up a lot, and we need to find the right places to document it.

1) This is a tested and maintained feature, so it is not a simple case of "not supported".

2) check that you have kubelet's `--hairpin-mode` flag set to either "promiscuous-bridge" or "hairpin-veth"

3) If that still doesn't work, I need to know what OS, what kubernetes version, what instructions you followed, what f

[2016-05-25 21:39] euank commented on #26201
Taken from the [v1.1 milestone](https://github.com/kubernetes/kubernetes/milestones/rktnetes-v1.1):

The following features are not supported with rkt as the container runtime currently:

* Init containers
* NVIDIA GPU support via the `--experimental-nvidia-gpus` flag
* OOM Score adjust for QoS classes
* HostPID / HostIPC namespace
* `kubectl attach`
* Updating a container's image without restarti

[2016-05-25 21:43] gflarity commented on #25585
@pwittrock did you create the deployment first with out the env, then add them via an apply?

[2016-05-25 21:48] d6u opened #26309 "Using nginx 1.9 DNS resolver output error periodically"
I'm not a Kubernetes or Nginx expert and I really want to provide meaningful information. However, I need some guidance and I'm willing to provide more data.

I constantly see `2016/05/25 21:34:35 [error] 170#170: unexpected response for hello-node.default.svc.cluster.local` message when using Nginx `resolver` feature to resolve pod IP. The pod can be visited just fine, but this message bugs me a

[2016-05-25 21:50] fejta commented on #24508
Assigned to @ArtfulCoder per @yujuhong comment

[2016-05-25 21:51] fejta commented on #25936
Please reopen if you see again

[2016-05-25 21:51] #25936 closed

[2016-05-25 21:57] fejta commented on #26180
Assigning to @thockin per team/cluster label and this test has no owner in spreadsheet.

[2016-05-25 21:58] fejta commented on #25621
Can we make this point to gubernator?

[2016-05-25 21:58] fejta commented on #26128
Assigning to @bprashanth per spreadsheet

[2016-05-25 21:59] fejta commented on #26129
Assigning to @quinton-hoole per spreadsheet

[2016-05-25 22:01] fejta commented on #26125
Assigning to @davidopp per team/control-plane label and no test owner in spreadsheet

[2016-05-25 22:01] ihmccreery opened #26311 "e2e flake: networking problems?"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26238/kubernetes-pull-build-test-e2e-gce/41990/

There are a lot of different failures in this run; "tcp connection refused", failure of pods to run, apiserver panicking.  I'm having trouble root-causing, but maybe someone more familiar with networking can.

E.g.

[code]

But I see no mention of `different-node-wget`

[2016-05-25 22:04] bprashanth commented on #26128
Looks like a slave that isn't able to ssh
[code]

The ssh test also failed
[code]

[2016-05-25 22:04] bprashanth commented on #26128
@kubernetes/goog-testing new project that needs ssh keys maybe?

[2016-05-25 22:06] janetkuo commented on #26204
The error happened at `WaitForDeploymentStatus`: the pods are created by deployments as expected, but the log is broken and didn't give me enough useful information :( fixing the log...
[code]

[2016-05-25 22:06] Random-Liu commented on #26307
It would be great to make `SyncPod` smarter, but it's really hard to distinguish what kind of error is fatal, what is not. During SyncPod, there could be all kinds of errors from runtime, network plugin, volume mount etc, and most of them are just arbitrary string.

However, other than distinguish different errors, maybe a configurable max retry time could help. /cc @yujuhong

[2016-05-25 22:07] ncdc commented on #26300
+1 to option 2

[2016-05-25 22:09] janetkuo commented on #26204
#26312 to fix the log

[2016-05-25 22:14] yujuhong commented on #9896
Closing this as the work has been completed. There is only one call (image pull) without any timeout, and that will be addressed in #26300

[2016-05-25 22:14] #9896 closed

[2016-05-25 22:14] quinton-hoole commented on #26129
Multiple tests failed on each of these runs.  In all cases including "Services [It] should be able to up and down services".

[code]

[code]

[code]

[code]

[2016-05-25 22:15] quinton-hoole commented on #26129
Looks like it might be a flapping pod.

[2016-05-25 22:16] Random-Liu commented on #9896
@yujuhong Thanks! :)

[2016-05-25 22:16] quinton-hoole commented on #26129
Duplicate of #26128

[2016-05-25 22:17] quinton-hoole commented on #26128
@bprashanth Same error as #26129

[2016-05-25 22:20] freehan commented on #26307
It is quite interesting that cni plugin returns empty error.

You can try to bump up the verbose level to 4 and see what it prints out.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L164

[2016-05-25 22:21] yujuhong commented on #26307
Like @Random-Liu said, kubelet cannot distinguish between transient and permanent errors effectively. If it can, it'd be straightforward to fail the pod :-)

There is a separate issue (#20177) that aims to report pod CIDR capacity in the node status, so that the scheduler won't overcommit the node.

[2016-05-25 22:37] janetkuo commented on #25905
@kargakis yes, that'd help. Thanks!

[2016-05-25 22:38] #26131 closed

[2016-05-25 22:39] yujuhong commented on #26302
The apiserver log is full of 503 errors accessing pods through proxy.

Some examples:
[code]

[2016-05-25 22:41] yujuhong commented on #26302
Might be a dup of #26311

[2016-05-25 22:45] euank commented on #26302
I'm happy enough with that. Thank you very much for taking the time to dig into that, closing as a dupe (happy to reopen if there's suspicion it isn't).

[2016-05-25 22:45] #26302 closed

[2016-05-25 22:47] bprashanth commented on #26311
the pod is running wget --timeout=10 -s 10.180.3.5:8080, and it exited with 1. The most common exit 1 for wget is network unreachable, i.e pod was started with net=none or something, i.e
[code]
and a lot of the apiserver proxy to pod endpoints are returning a 503

But I can't see anything obvious in the logs. @girishkalele @freehan in case one of you wants to debug.

[2016-05-25 22:47] salv-orlando commented on #26307
Thanks for your prompt replies!

@Random-Liu The difficulty in distinguishing between fatal and transient failures is indeed one of the reason that has prevented me so far from writing PoC code. For the network plugin case at least I can try and leverage the CNI interface to use specific error codes for fatal failures and try and bubble them up to syncPod. This however requires first work on the c

[2016-05-25 22:52] yujuhong commented on #26311
Another example for apiserver full of 503 errors: #26302
I've seen similar failures on other PRs as well.

[2016-05-25 22:53] Random-Liu commented on #26042
Just FYI, the docker version is 1.9.1.

[2016-05-25 22:54] janetkuo commented on #25554
The original annotation was for recording the commands automatically to make it easier to distinguish different rollout revisions. It wasn't turned on by default, because we don't want to spam all objects by change-cause annotations. The annotation will be updated if already present (no matter if `--record` is on).

We can support a new annotation (manually updated, you can any information you lik

[2016-05-25 22:55] bprashanth commented on #26311
All proxy errors, right? so Im guessing it's cluster networking, vs a 500 internally from apiserver

[2016-05-25 22:56] drashkov commented on #25585
Thanks for looking into it @pwittrock, I managed to reproduce it with the yaml you posted.

Here's what I did:
1. Saved the yaml you provided as 'og.yaml'
2. Deleted the "SLACK_ENDPOINT" env var from that file and save that as "mod.yaml" (no other changes)

3.
`$ kubectl apply -f og.yaml

deployment "test-api-deployment" created

$ kubectl exec test-api-deployment-2124663613-9tl0u env |grep SLACK

[2016-05-25 22:56] dchen1107 commented on #26042
The issue might be obsolete once we moved to docker 1.10.X or docker 1.11.X. If still exist, we can extend NodeProblemDetector to detect and propagate such issue.

[2016-05-25 22:59] chrislovecnm opened #26317 "Kubectl warn user that they are going to delete files"
Is it expected behavior that when:

[code]

Are executed that ALL files on the NFS share are deleted??

Here is the pvc and the pv:

[code]

Everything under /Users/clove/Workspace was deleted ... by by work ...

[2016-05-25 23:01] chrislovecnm commented on #26317
I think I found the answer http://kubernetes.io/docs/user-guide/persistent-volumes/

[code]

Just ate my lunch.

Should kubectl be smart enough to stop dumb admins (me) from doing `rm -rf` on the nfs share??  Maybe we should prompt users??

[2016-05-25 23:04] nikhiljindal commented on #26111
https://github.com/kubernetes/kubernetes/pull/26142 fixes this

[2016-05-25 23:04] janetkuo commented on #26203
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/26312/node-pull-build-e2e-test/7927/build-log.txt

[code]

[2016-05-25 23:08] janetkuo commented on #20836
Running on head:
[code]

[2016-05-25 23:12] nikhiljindal commented on #26138
Happened again in https://github.com/kubernetes/kubernetes/pull/26313
[logs](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26313/kubernetes-pull-build-test-e2e-gce/42051/)

[2016-05-25 23:12] fejta commented on #26290
Is this team/node or cluster or??

[2016-05-25 23:21] smarterclayton commented on #26303
It's just an oversight, the resource builder can do it just as well here.

[2016-05-25 23:21] bprashanth commented on #26138
Last failure just looks like we need to reget and retry in the test with new resource version :
[code]

[2016-05-25 23:23] bprashanth commented on #26138
https://github.com/kubernetes/kubernetes/pull/25171 was meant to solve the leaking pod issue (i.e we create an rc and just as it's creating 1 pod we scale it to 0, poll for 0 pods, (inbetween the previous and next operation the rc manager creates that one pod) test deletes rc, so it leaks that one pod)

[2016-05-25 23:24] lavalamp opened #26318 "Kubemark: Use unstable state, don't fail completely"
https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e-runner.sh#L367

If we fail completely, it blocks the submit queue.

@wojtek-t or @gmarek can one of you fix this ~asap? This is blocking the merge queue unnecessarily. See: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-500-gce/3375/

[2016-05-25 23:34] alex-mohr opened #26319 "Google Cloud Platform resources leaked while running tests: target-pools"
Prashanth, would you have time to look into this?  If not, suggest someone else on cluster?

A run of kubernetes-e2e-gke failed due to a leaked target-pool:

From http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/7753/console
16:15:45 +++ /workspace/_artifacts/gcp-resources-after.txt	2016-05-25 16:15:45.033318520 -0700
16:15:45 @@ -94,0 +95 @@ [ target-pools ]
16:15

[2016-05-25 23:37] pwittrock opened #26320 "Docker cannot find pre-pull imagse"
Another image pull related failure:

[artifacts](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25034/kubernetes-pull-build-test-e2e-gce/37862/)

Looking at the docker logs, it looks like docker is getting a 404 pulling some of the images

time="2016-05-02T10:38:57.316460860Z" level=info msg="GET /images/gcr.io/google_containers/redis:e2e/json?size=1"
time="2016-0

[2016-05-25 23:38] pwittrock commented on #24619
Looks like another image pull failure.  Filed #26320

STEP: Collecting events from namespace "e2e-tests-kubectl-dpxvf".
May  2 03:41:55.600: INFO: At {2016-05-02 03:39:25 -0700 PDT} - event for redis-master: {replication-controller } SuccessfulCreate: Created pod: redis-master-1u5dd
May  2 03:41:55.600: INFO: At {2016-05-02 03:39:25 -0700 PDT} - event for redis-master-1u5dd: {default-scheduler } S

[2016-05-25 23:38] Random-Liu commented on #26042
A problem is that NodeProblemDetector itself is running as a docker container. For this issue, once docker daemon is restarted, NodeProblemDetector itself will be restarted.

[2016-05-25 23:40] thockin commented on #26261
sounds OK to me.

On Wed, May 25, 2016 at 3:52 AM, Xiangpeng Zhao <notifications@github.com>
wrote:

[2016-05-25 23:44] Random-Liu commented on #26320
@pwittrock The error message is normal. We always inspect to see whether the image presents before pulling image. If the image doesn't present, docker will record 404 error in log.

[2016-05-25 23:47] rmmh commented on #25322
jenkins-daily-maintenance may have deleted the data volume in the instant between its creation and its usage in the test-- I'll be on the lookout for more failures like this.

[2016-05-25 23:54] timstclair opened #26322 "Load docker images from a PD for node e2e"
Mount a read only PD into each node, load images from the PD.

[2016-05-25 23:54] dchen1107 commented on #19720
@timothysc As we discussed in sig-node meeting, please help us on documenting known issues of docker 1.10. Thanks!

[2016-05-25 23:57] aronchick commented on #25236
I didn't intend to change both # of replicas & image; i overlooked the fact that the # of replicas was different when I rolled out the new image.

I have a new template that has a number of replicas in it. When I applied that new template, it used that new number in it.

It still feels, for better or worse, that ANY changes I made should be "undone" when I roll back given what I'm doing. Documenta

[2016-05-25 23:57] thockin commented on #26137
First, this exists:
https://github.com/kubernetes/contrib/tree/master/cni-plugins/to_docker

Second, I so think we should have a through-to-runtime network mode, but
that's only about connecting pods to a network, not creating networks (for
now)

If we had a "--net-driver=runtime" option, the docker runtime could look at
annotations on a Pod to decide which network to join it to.  I would be
gener

[2016-05-26 00:00] yujuhong commented on #26320
The logs are from May 2nd, when we didn't have the image prepulling. Closing the issue.

[2016-05-26 00:00] #26320 closed

[2016-05-26 00:00] #24619 closed

[2016-05-26 00:01] pwittrock commented on #24619
Should have been addressed by pre-pulling images

[2016-05-26 00:02] pwittrock commented on #25047
Janet probably has more state on this.  @wojtek-t if you have already started, feel free to take it back

[2016-05-26 00:04] timstclair commented on #26212
Demoting to P1 since this is not blocking builds.

[2016-05-26 00:15] thockin commented on #26255
Dup of #25793

[2016-05-26 00:15] #26255 closed

[2016-05-26 00:27] janetkuo commented on #20836
We should add some check in hack/verify-xxx.sh to prevent regressions.

[2016-05-26 00:30] girishkalele commented on #26239
Working on this - switching cluster deployment scripts to use kubedns.

[2016-05-26 00:34] k8s-merge-robot opened #26324 "[k8s.io] Kubectl client [k8s.io] Simple pod should support inline execution and attach {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7756/

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/7756

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support inline execution and attach {Kubernetes e2e suite}

[code]

[2016-05-26 00:37] thockin commented on #26319
The test that leaked this was "e2e-tests-resourcequota-jmbvk/test-service"
(as discovered in the 'description' field)

@derekwaynecarr

On Wed, May 25, 2016 at 4:36 PM, Alex Mohr <notifications@github.com> wrote:

[2016-05-26 00:39] pwittrock commented on #26209
@yujuhong [artifacts](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/7743)

This one is weird because it took over a minute to start pulling the container after the pod was scheduled:

May 25 12:34:18.213: INFO: At {2016-05-25 12:32:47 -0700 PDT} - event for redis-master: {replication-controller } SuccessfulCreate: Created pod: redis-master-1o4n1
May 25

[2016-05-26 00:40] jeffvance commented on #26233
@pmorie @childsb @jsafrane: PTAL. Interested in your thoughts. Please add any labels you feel are appropriate.

[2016-05-26 00:40] jeffvance commented on #25935
@pmorie @childsb @jsafrane: PTAL. Interested in your thoughts. Please add any labels you feel are appropriate.

[2016-05-26 00:40] jeffvance commented on #25930
@pmorie @childsb @jsafrane: PTAL. Interested in your thoughts. Please add any labels you feel are appropriate.

[2016-05-26 00:41] xiangpengzhao commented on #26265
@lavalamp

More info:
code:
[code]
local working directory:
`/home/paas/zxp/code/k8s/k8smaster/kubernetes/`

When I run build/release.sh for dockerized building, it fails.

If I add an echo in init.sh like this:
[code]
it shows:
[code]

And if I add `cd "${KUBE_ROOT}"` in init.sh like this:
[code]
it shows as below and works well:
[code]

[2016-05-26 00:41] #26245 closed

[2016-05-26 00:42] vishh commented on #26213
Node e2es were not part of the CI tests as of v1.2. So I don't think it makes sense to create node e2e jobs for v1.2 release.
Once v1.3 branch is cut, I can create a clone of the existing node e2e CI job and have it run against `release-1.3` branch.
I'm lowering the priority since there is nothing to do as of now.

[2016-05-26 00:48] lavalamp commented on #26265
What OS are you on? What version of bash? Maybe the cd in `$(cd $(dirname "${BASH_SOURCE}")/.. && pwd -P)` is escaping the subshell in your environment?

Just to triple check, you're running the script from the kubernetes directory?

[code]

[2016-05-26 00:57] derekwaynecarr commented on #26319
Just so I understand, would this be caused by a test that created a load balancer service?

[2016-05-26 00:57] #23695 closed

[2016-05-26 00:58] #23837 closed

[2016-05-26 00:58] yujuhong commented on #26209
I looked at the log and kubelet received the pod promptly and started an infra container for it. There is a long gap after that, until kubelet tries to pull the image for the user containers.
Since all these actions should happen in a single pod syncing iteration, it should *not* have been affected by other components.
What the pod worker would've been doing in this gap:
 - call SetUpPod() to setu

[2016-05-26 00:59] xiangpengzhao commented on #26265
I'm not so sure whether the cd in $(cd $(dirname "${BASH_SOURCE}")/.. && pwd -P) is escaping the subshell or not. It seems so.

OS:
[code]

Run the script:
[code]

[2016-05-26 01:01] derekwaynecarr commented on #26319
I can't seem to open the linked document, but the test does create a node port service and a load balancer service.  If there is something special I need to do to ensure that the load balancer is properly cleaned up?  It should be purged by namespace deletion.

[2016-05-26 01:03] xiangpengzhao commented on #26265
[code]

[2016-05-26 01:05] bprashanth commented on #26319
I think you can see https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/7753/ if you log into your (public) google account.

Yes simply deleting the service *should* cleanup the loadbalancer.

[2016-05-26 01:09] freehan commented on #26311
I cannot find anything suspicious in the logs. I am wondering if the network routes were set up correctly. Since the cluster is gone, how can I verify that?

[2016-05-26 01:09] quinton-hoole commented on #26129
This might help...

[code]

[2016-05-26 01:09] xiangpengzhao commented on #26265
If I just run `cd .. && pwd -P`, it seems OK

[code]

@lavalamp

[2016-05-26 01:11] bprashanth commented on #26311
the kube-controller-manager should have some logs for routecontroller (https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26238/kubernetes-pull-build-test-e2e-gce/41990/artifacts/e2e-gce-agent-pr-5-5-master/)

[2016-05-26 01:15] freehan commented on #26311
Looks like a smoking gun. kubenet lives another day.:)

[code]

[2016-05-26 01:16] lavalamp commented on #26265
[code]

No, this is the problem. You can't run it from the build directory. It's only tested when run from the root of the repository. (this is what I was trying to ask previously.)

It doesn't seem worth it to me to fix this-- chance of making the build script worse on some other system or way of running it is too high. (Adding a `cd` like you propose isn't good--users don't like scripts that ran

[2016-05-26 01:16] #26265 closed

[2016-05-26 01:16] yujuhong commented on #26311
Should've been fixed by #26270

[2016-05-26 01:22] bprashanth commented on #26311
hmm, we should fail harder. Obviously the cluster is dysfunctional without some routes.

[2016-05-26 01:29] dims commented on #26324
I see a bunch of 404's for images - http://paste.openstack.org/show/505493/

`logs-kubernetes-e2e-gke-7756-artifacts-gke-jenkins-e2e-default-pool-e401ea8d-2zwr-docker.txt:time="2016-05-26T00:13:34.207412260Z" level=error msg="HTTP Error" err="No such image: gcr.io/google_containers/busybox:1.24" statusCode=404`

[2016-05-26 01:33] xiangpengzhao commented on #26265
Thanks @lavalamp , it works well by running `build/release.sh` from the root of the repository now. BTW, I used to run `./release.sh` from the build directory and it worked well, so I thought that's the right way to build. :sweat_smile:

[2016-05-26 01:38] HuKeping commented on #22469
Get it , thanks @caseydavenport

[2016-05-26 01:39] bprashanth commented on #26324
that's just the docker daemon saying it doesn't have the image locally, after which image pulling from gcr.io should commence

[2016-05-26 01:49] dims commented on #26324
@bprashanth thanks for the tip!

[2016-05-26 01:49] fedenusy opened #26327 "kubectl error "json: cannot unmarshal object into Go value of type string""
Given `deployment.yml`:

[code]

`kubectl create -f deployment.yml` fails with message `unable to load "deployment.yml": json: cannot unmarshal object into Go value of type string`.

Unfortunately not a very helpful error message. Any idea what I'm doing wrong?

[2016-05-26 02:06] ghodss commented on #26229
@AdoHe I'm not sure what happened but I think maybe with YAML it doesn't reproduce - I just re-did the test and edited the issue to include JSON examples and now it reproduces consistently, both on 1.2.0 and on HEAD. Also, it turns out you don't have to modify EXAMPLE_VAR, but it does have to be present. Can you try to reproduce again?

[2016-05-26 02:10] ghodss commented on #26229
@bgrant0607 Added the patch request. Looks like kubectl isn't sending the new POD_NAMESPACE var.

[2016-05-26 02:11] AdoHe commented on #26229
@ghodss sure, I will try to reproduce this again.

[2016-05-26 02:12] xiangpengzhao commented on #26265
hi @lavalamp , would you please check another issue #26261 ? Thanks!

[2016-05-26 02:25] quinton-hoole opened #26328 "Fix hack/update-godeps-license.sh, re-enable hack/verify-godeps-license.sh, and commit updated godeps licenses to master."
Details in:

https://github.com/kubernetes/kubernetes/pull/26020#issuecomment-221625046

@lavalamp and I could not get hack/update-godeps-license.sh to work.

Hence #26020 got merged without updating the godeps licenses accordingly.
hack/verify-godeps-license.sh is currently disabled.

cc: @goltermann @david-mcmahon @karlkfi @zmerlynn

[2016-05-26 02:49] #25645 closed

[2016-05-26 02:51] mfanjie opened #26329 "Solution discussion for rebuilding federation service controller cache on restart"
I am working on federation service controller, and there is a limitation on current cache, after had a call with @quinton-hoole, as it's not a common case, we will leave it as is in v1.3, and I open this issue to track the problem and to find out a more robust solution.

**Federation service controller behavior description:**
1. service controller watch federation apiserver for new services, creat

[2016-05-26 03:02] bobintornado commented on #26246
@dims I didn't see the connection between a syncing error and docker itself, would you mind elaborating a bit?

[2016-05-26 03:04] bobintornado commented on #26246
@dims and majority of the container i am running are pretty standard stuff, like postgresql, nginx, cassandra, and redis, and I am using official images from docker hub without modifications. So I think probably docker isn't the issue?

[2016-05-26 03:12] fejta commented on #26186
Change it so we don't download the upload-to-gcs.sh script every time. It could be in the image, for instance.

[2016-05-26 03:27] MikaelCluseau commented on #10975
For a personal project, I did a SFTP gateway+endpoint to access volumes with for instance `sftp namespace.volume@gateway` and a key auth, all in pure Go. May I specify that somewhere if it can address part of this need?
I think a pure-go thing could allow the endpoint (probably the kubelet in this case?) to fork and jump in the container's namespace, avoiding the SSHD-exec thing, removing the need

[2016-05-26 03:57] fejta commented on #25849
@spxtr any idea why/whether `[[ -x kubernetes/cluster/log-dump.sh ]]` failed?

[2016-05-26 04:08] codefx9 commented on #26039
@colemickens, If I may ask a follow up question, can you point me to some good documentation about the internals of Azure networking? I found some docs via googling, but those are not detailed enough. I am looking for docs that explains how the networking stacks, public private IP allocation, firewalls, etc works in Azure (something similar to https://cloud.google.com/compute/docs/networking doc b

[2016-05-26 04:20] krmayankk commented on #25788
@janetkuo thanks

[2016-05-26 04:28] krmayankk commented on #23838
@adohe @janetkuo kubernetes/pkg/kubectl/cmd/get.go is where i see a flag called "show-all". I am not sure where its being handled. Am i looking in the the right place. Also another question, how do(what commands to use) i just build kubectl to quickly test my changes or put some debug flags. Thanks for your help

[2016-05-26 04:46] bobintornado commented on #26246
Update: I upgrade my nodes from 1 core 1.75 GB RAM into 2 core 7 GB RAM backed with SSD. Maybe this is because my nodes are too weak. Will keep updating.

[2016-05-26 04:49] alex-mohr opened #26337 "Submit queue's unit tests taking more than 1 hour to run"
In PRs that the mungebot is trying to merge, the e2es are passing after ~40 minutes, but the unit/integration are taking around an hour (or a bit more).  That's a significant slowdown to the rate at which we can merge.

See e.g. http://submit-queue.k8s.io/#/history that shows the time elapsed between Requesting a run to MERGED of ~1 hour.

Example PR, with "test this" from over an hour ago, e2e's

[2016-05-26 04:50] alex-mohr commented on #26337
@kubernetes/sig-testing @kubernetes/test-infra-maintainers

[2016-05-26 04:56] vectorsigma commented on #26104
FWIW, it's not just with Vagrant.  Regular Fedora 23 on bare metal is affected.

The problem appears to be that the package `python-dnf-plugins-core` is no longer used in Fedora, but Salt still tries to install it.  Unfortunately, that package is still available in the repos (it's part of the base Fedora 23 repo) so Saltstack can still install it by name, as it tries to do.

From my initial invest

[2016-05-26 05:00] xiangpengzhao commented on #25791
The Jenkins unit/integration of PR #25024 shows `6142 tests run, 24 skipped, 0 failed.` now, but its status is failed.

PTAL @lavalamp , thanks!

[build-log.txt](https://00e9e64bac998487c253d35c7f0e4d28edf2b420016dabf6cb-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F25024%2Fkubernetes-pull-test-unit-integration%2F26960%2Fbuild-log.txt?qk=AD5uMEv

[2016-05-26 05:10] roberthbailey commented on #26328
We should try to fix this before we cut the 1.3 branch.

[2016-05-26 05:16] k8s-merge-robot opened #26338 "[k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/7770/

Failed: [k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-26 05:17] jeremyd commented on #22224
You can have it use an existing VPC route table by tagging the route table with the tag KubernetesCluster=kubernetes

[2016-05-26 05:23] #24973 closed

[2016-05-26 05:30] roberthbailey commented on #25660
Looks like this was fixed by #25670.

[2016-05-26 05:30] #25660 closed

[2016-05-26 05:34] roberthbailey commented on #25360
This issue needs an owner. @a-robinson can you rebuild the image?

[2016-05-26 05:35] roberthbailey commented on #25154
This doesn't sound like a 1.3 feature. Can we remove it from the milestone?

[2016-05-26 05:36] roberthbailey commented on #24698
What is the status of this issue? We are past the feature freeze for 1.3 and this is still part of the milestone.

[2016-05-26 05:38] roberthbailey commented on #24597
Looks like this was fixed by https://github.com/kubernetes/kubernetes/pull/25571.

[2016-05-26 05:38] #24597 closed

[2016-05-26 05:39] roberthbailey commented on #24472
@justinsb what is the status of this?

[2016-05-26 05:40] roberthbailey commented on #24411
@bgrant0607 is this issue resolved?

[2016-05-26 05:41] roberthbailey commented on #24321
@davidopp what's the status of this issue?

[2016-05-26 05:45] roberthbailey commented on #24240
@smarterclayton what's the status of this issue?

[2016-05-26 05:46] krmayankk opened #26340 "doc bug in http://kubernetes.io/docs/user-guide/compute-resources/"
At http://kubernetes.io/docs/user-guide/compute-resources/

The following line
``
The following pod has two containers. Each has a request of 0.25 core of cpu and 64MiB (2^20 bytes) of memory and a limit of 0.5 core of cpu and 128MiB of memory. The pod can be said to have a request of 0.5 core and 128 MiB of memory and a limit of 1 core and 256MiB of memory.
``
incorrectly mentions 64Mib as 2^20by

[2016-05-26 05:49] roberthbailey commented on #24170
@jlowdermilk just took a look through our test cases to see what the delta was between gce and gke tests and it isn't too bad. @alex-mohr how do you feel about bumping it out of the 1.3 milestone?

[2016-05-26 05:49] roberthbailey commented on #23868
@justinsb status on this one?

[2016-05-26 05:54] roberthbailey commented on #23787
@justinsb If this is going to be part of kube-up v2 should we create an issue in the kube-deplo repo and close this? Even if not, I think we should remove it from the 1.3 milestone.

[2016-05-26 05:55] roberthbailey commented on #23664
@paralin Is there any debugging of this issue still in progress? Can we close as obsolete (since there have been no updates in almost 2 months)?

[2016-05-26 05:59] thockin commented on #26328
I'm taking a quick look, since I touched some of this.

On Wed, May 25, 2016 at 10:10 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-05-26 06:01] rhuss commented on #24785
@luxas thanks a lot for your awesome work ;-) I'm perfectly happy with going directly to v1.3.

Thanks !

[2016-05-26 06:01] #24785 closed

[2016-05-26 06:01] roberthbailey commented on #23583
Has anyone followed up on this in the last two months?

[2016-05-26 06:04] roberthbailey commented on #23416
/cc @lavalamp

Did ingress ever get enabled in any of the merge queue blocking test suites?

[2016-05-26 06:06] davidopp commented on #24321
@mml took this over. Reassigning to him.

[2016-05-26 06:06] davidopp commented on #24321
(Oh, and moving to next-candidate.)

[2016-05-26 06:07] roberthbailey commented on #23347
@david-mcmahon The batched cherry picks were great during the time between the 1.2 branch cut and the 1.2 release. I expect we will do the same for the upcoming 1.3 release. Do we want/need to implement automation in the next 2 weeks to make it easier?

[2016-05-26 06:09] roberthbailey commented on #23252
@bgrant0607 -- #20273 isn't merged (or lgtm'd) and #12143 is still open. Should this still be in the 1.3 milestone?

[2016-05-26 06:11] roberthbailey commented on #23196
@piosz -- status on this issue? Will it be fixed in 1.3?

[2016-05-26 06:13] roberthbailey commented on #22837
@AdoHe was this finished for 1.3?

[2016-05-26 06:13] roberthbailey commented on #22823
ping @ArtfulCoder

[2016-05-26 06:16] roberthbailey commented on #22368
@bgrant0607 should we move this out of the 1.3 milestone?

[2016-05-26 06:17] roberthbailey commented on #22106
I'm going to close this as obsolete. Please reopen it if you are still using this issue for tracking anything.

[2016-05-26 06:17] #22106 closed

[2016-05-26 06:18] roberthbailey commented on #22077
@quinton-hoole is this on your radar for 1.3 (or should it be)?

[2016-05-26 06:20] roberthbailey commented on #21577
@piosz what is the status of this issue?

[2016-05-26 06:22] roberthbailey commented on #20473
@bgrant0607 is this still on the list for 1.3?

[2016-05-26 06:25] roberthbailey commented on #19849
@david-mcmahon it looks like https://github.com/kubernetes/release/pull/1 doesn't have a reviewer. Do we expect to get it submitted soon? Since it's in a different repository, this issue doesn't seem intrinsically tied to the 1.3 milestone, other than that we wanted visibility around getting a fix for this issue. Does it still belong in the 1.3 milestone?

[2016-05-26 06:26] roberthbailey commented on #19312
@david-mcmahon status with respect to the upcoming 1.3 release?

[2016-05-26 06:28] roberthbailey commented on #18188
@bgrant0607 @david-mcmahon are we going to have this fixed in the upcoming 1.3 release?

[2016-05-26 06:33] AdoHe commented on #24198
@janetkuo even use `apply` to create the original resource, this will fail. The root cause is the default value of `strategy` is not set in client side, so the [deletionsMap](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/strategicpatch/patch.go#L1189) would be empty, and the final [patchMap](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/strategicpatch/patch.go#L1194

[2016-05-26 06:35] AdoHe commented on #24198
As a workaround, user can create the original resource like this:
[code]
This is just a workaround.

[2016-05-26 06:38] AdoHe commented on #24198
@bgrant0607 @janetkuo I think we really need to think about how to deal with the default value of some field, like strategy of deployment, spec.selector. Both of this issue and #26202 have this problem, the default value is not included in `last-applied-configuration`. WDYT?

[2016-05-26 06:39] david-mcmahon commented on #19849
Correct, it is not directly tied to 1.3.  Removed.

[2016-05-26 06:42] david-mcmahon commented on #18188
While this issue does involve what's ultimately included in a 'release', it is a product issue related to the subteam and needs resolution from them.

[2016-05-26 06:44] david-mcmahon commented on #19312
Yes, this is a long standing / meta issue that is being fixed in kubernetes/release and is more a nice to have than a blocker for 1.3.

[2016-05-26 06:46] #26235 closed

[2016-05-26 06:49] dlorenc commented on #18188
We can chat more if this turns out to be very important, but I think we'll continue releasing minikube independently through the 1.3 release.

Minikube will rely on the official 1.3 release when it's cut, but we'd like to continue to iterate on the minikube CLI itself out of band for a little longer. We should definitely revisit in the 1.4 timeframe, though.

[2016-05-26 07:03] krmayankk commented on #23838
never mind i figured, it was 'make all WHAT=cmd/kubectl GOFLAGS=-v'

[2016-05-26 07:04] k8s-merge-robot opened #26342 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3320/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-26 07:08] jimmycuadra commented on #18982
Somewhat related, a better story around managing the lifecycle of TLS certs/keys in general. See https://github.com/kubernetes/kubernetes/issues/25379.

[2016-05-26 07:10] fgrzadkowski opened #26343 "cluster-autoscaler: incompatible variable names with GKE"
In kube-up we use var `ENABLE_NODE_AUTOSCALER` while in GKE, documentation, issues etc I think we call it cluster autoscaler. We should make it consistent.

[2016-05-26 07:17] jimmycuadra opened #26344 "Managing authorization via apiserver REST API"
Currently fine-grained authorization of requests to apiserver is handled by the ABAC system, which requires managing configuration files on the host where apiserver is running. This is very difficult to work with when attempting to take an "immutable infrastructure" approach to cluster management where there is little to no configuration management running on the host system. Ideally authorization

[2016-05-26 07:18] wojtek-t opened #26345 "unit flake: TestControllerSync data race"
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/26301/kubernetes-pull-test-unit-integration/27919/build-log.txt

[2016-05-26 07:22] davidopp commented on #26211
Is this kubernetes/node-problem-detector#9 ?

[2016-05-26 07:26] krmayankk commented on #23838
@AdoHe question, when i do get all --all-namespaces, i only see services and pods, i dont see rs. I am running 1.2 client against 1.2.4 server. Did we start showing rs in a release after that ?

[2016-05-26 07:32] davidopp commented on #25663
Yes that seems fine. Removing 1.3 milestone.

[2016-05-26 07:40] sdminonne commented on #8723
yep, @derekwaynecarr not sure if I've to do something for release notes on  #24247 and #22154

[2016-05-26 07:47] fgrzadkowski opened #26346 "Deployment scripts for cluster autoscaler are broken"
For some reason they stopped working and we even don't create manifest file for cluster autoscaler. I used the following command to start the cluster:

[code]

[2016-05-26 07:48] chao007 opened #26347 "gcloud:command not found when install k8s locally on aws env"
When I try to install a k8s env on aws instance, I met below issue
[root@ip-10-67-160-86 kubernetes]#   cluster/kubectl.sh config set-cluster local --server=http://127.0.0.1:8080 --insecure-skip-tls-verify=true
cluster/../cluster/../cluster/gce/util.sh: line 37: gcloud: command not found

1. start up an rhel7 instance on aws
2. git clone https://github.com/kubernetes/kubernetes.git
3. install etcd

[2016-05-26 07:50] fgrzadkowski commented on #26346
It's possible it's related to https://github.com/kubernetes/kubernetes/pull/26197

[2016-05-26 07:50] Random-Liu commented on #26211
@davidopp Nope, node-problem-detector is not running in the cluster.

[2016-05-26 08:04] gmarek commented on #25398
It seems that we had another regression. I'm not familiar with PodAffinity tests at all, but MaxPods are broken as well. Affinity failure is probably more relevant:
[code]

cc @davidopp

[2016-05-26 08:06] davidopp commented on #25398
@kevin-wangzefeng

[2016-05-26 08:16] thockin-cc commented on #26328
#26348 offered as a godeps-licenses fix.

On Wed, May 25, 2016 at 11:00 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-05-26 08:30] wojtek-t commented on #26290
Another instance is here:
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-500-gce/3375/

BTW - I think we have another issue open for that, but I can't find it now.

[2016-05-26 08:48] chao007 commented on #26347
After export KUBERNETES_PROVIDER=aws , k8s env is ok.

[2016-05-26 08:49] #26347 closed

[2016-05-26 08:51] fejta commented on #26337
Dup of https://github.com/kubernetes/kubernetes/issues/25940

[2016-05-26 08:51] #26337 closed

[2016-05-26 08:57] #25926 closed

[2016-05-26 09:01] fejta commented on #26184
I do not understand how this has to do with the test infrastructure:

[code]

[2016-05-26 09:03] zongyimin commented on #19811
@alex-mohr  @AdoHe  unfortunately, I have the same question. and  when I deleted the replication controller and the docker. the status of related pods is still Terminating.

[2016-05-26 09:03] wojtek-t opened #26350 "GCI doesn't work in europe-west1-c"
After upgrading image on master machine to GCI, I cannot start a cluster in europe-west1-c zone. Everything works fine in us-central, but in europe it doesn't.

Basically what I'm seeing it:
[code]

I logged into a machine, and it actually didn't do anything useful (there are no running containers, not running k8s components, no services - nothing.

This is an extremely serious issue.

@andyzheng0

[2016-05-26 09:05] fejta commented on #25824
New agents will have the metadata server, and it will now restart.

[2016-05-26 09:05] #25824 closed

[2016-05-26 09:06] andyzheng0831 commented on #26350
Please try to assign it to someone else. I am OOO and will not be able to
take a look before next Tue.
On May 25, 2016 11:04 PM, "Wojciech Tyczynski" <notifications@github.com>
wrote:

[2016-05-26 09:29] #25825 closed

[2016-05-26 09:34] jnardiello commented on #15478
@smarterclayton I do understand about your concerns and they are well placed. I'm not sure if the whole cluster has to be aware of the existence of pod-level logging, what I think we should do is giving the option to log pod stdout/stderr somewhere (a file based on their current pod name?) so that anyone willing to implement their custom solution, would have a persisted place where to get the cont

[2016-05-26 10:00] dims commented on #26340
@krmayankk on the web page link you pasted, you will see blue circle on the right hand side with a pencil inside. if you click on it, it will walk you through an editor where you can submit a change yourself.

Thanks,
Dims

[2016-05-26 10:03] workhardcc opened #26353 "Return 400 when i use kubernetes Deployment rollback API"
Sorry, maybe this is not a problem.
Post data as below to url
http://$ip:8080/apis/extensions/v1beta1/namespaces/default/deployments/deployment-1/rollback
`{"kind":"Deployment","apiVersion":"extensions\/v1beta1","name":"deployment-1","updatedAnnotations":"1111","rollbackTo":{"revision":0}}`
return error:
`{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Deployment in

[2016-05-26 11:03] wojtek-t commented on #26318
@lavalamp - sorry, I don't understand what you want me to do. Can you please clarify?

[2016-05-26 11:08] ingvagabund commented on #26198
Testing on RHEL. The solution works only if I do the following:

[code]

[2016-05-26 11:32] steveeJ commented on #20391
@thockin

I'll stick my head together with @tomdee to figure this out.
Some information upfront will be good, this seems also related to installation/configuration (documentation) of kubernetes. What is the official way of setting up flannel with kubernetes? Does kubernetes rely on flannel's `--ip-masq` behavior in any way?

[2016-05-26 11:53] jsafrane commented on #26181
dup of #26256 - I can see in the log:

[code]

[2016-05-26 11:53] #26181 closed

[2016-05-26 11:54] jsafrane commented on #26256
This flake affects also TestPersistentVolumeMultiPVs:

[code]

[2016-05-26 11:59] ingvagabund commented on #26198
Tested on RHEL cluster (https://github.com/kubernetes/contrib/pull/1064). On nodes with kubelet/docker running on, cgroups are mounted as expected.

[2016-05-26 12:10] derekwaynecarr commented on #8723
You should be fine.  Both are labeled release note.

On Thursday, May 26, 2016, Dario Minonne <notifications@github.com> wrote:

[2016-05-26 12:41] StaymanHou commented on #24978
+1

[2016-05-26 13:00] AdoHe commented on #26137
@thockin that's just what I mean, we should have a through-to-runtime network mode which is just about connecting pods to a network, not about creating network. I think I will take some time to implement this as I really need this feature now.

[2016-05-26 13:03] wonderfly commented on #26350
@adityakali Can you take a look? This might be related to the regional fallback thing that @zmerlynn and @andyzheng0831 added sometime back.

cc/ @kubernetes/goog-image

[2016-05-26 13:04] AdoHe commented on #22837
@roberthbailey the code is already finished on my local branch. I will open a PR.

[2016-05-26 13:05] AdoHe commented on #22837
@bgrant0607 @bprashanth what do you think if print ingress like this:
[code]
Also the original resource is:
[code]

[2016-05-26 13:17] jsafrane commented on #26256
Extended logging got merged just now, please post links to logs when it breaks again!

[2016-05-26 13:19] sdminonne commented on #8723
thanks

[2016-05-26 13:22] rothgar commented on #23838
@krmayankk There are a few things that are missing from `kubectl get all` (rs, ds, deployments) I was looking last night if there's already an issue for those missing types but didn't see one. I was going to open a separate issue for that after asking in slack if someone else knows if work is already being done to fix it.

[2016-05-26 14:09] jsafrane commented on #26233
This is inherently time-sensitive and racy. If a PV is created with empty claimref, this PV is available to *any* claim that matches. This PV is not reserved to any claim. If you create the PV first, how is the controller supposed to know that there will be a claim pre-bound to it in near future? And if you can create the claim first, why can't you create the PV pre-bound to the claim if you want

[2016-05-26 14:11] jsafrane commented on #25930
This depends on #24236

[2016-05-26 14:11] jsafrane commented on #25930
sorry, wrong button, reopening

[2016-05-26 14:22] jsafrane commented on #25935
Can you try with lower sync period? Periodic sync should fix it. If so, https://github.com/kubernetes/kubernetes/pull/25881 *should* fix it even without waiting for sync period.

If not, please provide controller log with --v=5

[2016-05-26 14:23] smarterclayton commented on #24240
Has not hit the top of the priority list.  The bug is probably in
go-restful, not treating an alias correctly when generating the swagger.

On May 26, 2016, at 1:45 AM, Robert Bailey <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> what's the status of
this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on

[2016-05-26 14:25] jsafrane commented on #25930
I think we can make most users happy with reducing the sync period. There is still space for improvement, we can initiate binding in `syncVolume` call, however this opens another can of races and regressions and it needs to be considered carefully.

[2016-05-26 14:34] quinton-hoole commented on #18119
Why closed?

[2016-05-26 14:38] quinton-hoole commented on #22077
I doubt I'll get to it. Feel free to take it.
On May 25, 2016 11:19 PM, "Robert Bailey" <notifications@github.com> wrote:

[2016-05-26 14:57] rnowling opened #26357 "Warning image link is broken across docs"
This includes `podaffinity.md` but effects multiple docs.

[2016-05-26 15:05] yissachar commented on #26223
Seems that I'm hitting the same issue documented here: https://github.com/kubernetes/kubernetes/issues/23392

I'm running Kubernetes as single-node Docker on OS X, which seems to have to have some volume problems. I guess Minikube should fix these issues eventually but it's not quite ready yet.

[2016-05-26 15:07] roberthbailey commented on #22077
I wasn't asking about taking it, but whether we should move it out of the 1.3 milestone. It sounds like the answer is yes.

[2016-05-26 15:15] smarterclayton commented on #15478
Are you specifying custom log options per application?  How many different
sets of log options would you have per cluster?  If there are small sets of
config, an option would be to support an annotation on pods that is
correlated to node level config that offers a number of "standard log
options".  I.e. at kubelet launch time define a "log mode X" (which defines
custom log options and driver), and

[2016-05-26 15:21] bprashanth opened #26358 "Persist node tags to apiserver"
Persisting important config options in a salted file works, but we expose ourselves to bugs on every cluster update. I'm more confident about a solution that persists important information through the apiserver.

One way to achieve this is: service controller comes up, looks for config map, if not found - looks for gce.conf:nodeTags and persists to config map. This would also allow a reconciliatio

[2016-05-26 15:22] wonderfly commented on #26350
I was able to reproduce and found some leads - downloading of kubernetes-manifests.tar.gz failed. Looking...

[2016-05-26 15:23] ncdc commented on #15478
@smarterclayton have you seen https://github.com/kubernetes/kubernetes/issues/24677#issuecomment-220735829

[2016-05-26 15:29] bprashanth commented on #22837
That would fall right off the screen.

I think we have to stick to just printing the ips in `get ing`, and everything else in `describe ing`. You can print hoststs alone, and optimize for small ingresses by doing something like we do for endpoints (show a small number of characters then do "...").

The problem with trying to print everything on one line is you can't represent the fanout cleanly, i

[2016-05-26 15:36] bprashanth commented on #20391
There is no "official way", but there is a way that should just work. Run kube-up with NETWORK_PROVIDER=flannel (https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L134).

Someone needs to add that masq rule (https://github.com/coreos/flannel/issues/318)

[2016-05-26 15:47] AdoHe commented on #22837
[code]
I agree with this, maybe we should just remove these rules from get ingress output or just leave host here.

[2016-05-26 15:47] bprashanth commented on #23416
It takes ~15m, and it uses same resources as type=lb (they won't collide, but figuring out which test leakes a firewall named "1o09u90" a 100 runs later and getting its logs is near impossible). Also they have higher quota requirements. So as long as I can run them in a different project like they currently run, adding them to gce-slow should be easy.

It's currently running in ingress-gke/gce{ver

[2016-05-26 16:04] smarterclayton commented on #24677
I'm a little concerned with the forwarding journal to a logging volume.  Practically, the majority of Kube deployments are going to be on systemd OSes.  I'd want to ensure we have a good story there that bypasses extra work and processing.  I do think logging volumes make sense, especially for the ability to quota / offload them.

[2016-05-26 16:05] smarterclayton commented on #15478
No, thanks.  Moving discussion there.

On Thu, May 26, 2016 at 11:23 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-05-26 16:06] wonderfly commented on #26350
I have a theory: https://github.com/kubernetes/kubernetes/pull/25425/files#diff-6a44976362555568e0243a480da2e86bR168 - all .yaml files are placed under `${dst_dir}/kubernetes`, so that `find` command will always fail, because of that `-maxdepth 1`. This code path was never triggered when we started clusters in US because of the `if [[ "${kube_addon_registry}" != "gcr.io/google_containers" ]];` che

[2016-05-26 16:12] ryancox commented on #11935
The [cluster autoscaler](https://github.com/kubernetes/contrib/tree/master/cluster-autoscaler) in contrib is a big step toward this. It is GCE only right now bye the looks looks of [this](https://github.com/kubernetes/contrib/blob/master/cluster-autoscaler/cluster_autoscaler.go#L71):

[code]

[2016-05-26 16:12] quinton-hoole commented on #22077
Yup!  SGTM.

[2016-05-26 16:47] fedenusy commented on #26327
After some digging, I realized this issue was a duplicate of #22273.

A few days ago I had run get-kube as described [here](http://kubernetes.io/docs/getting-started-guides/aws/), which left me with:

[code]

So it seems like get-kube leaves you with mismatched client and server versions. After upgrading my client to 1.2, I was able to create the deployment.

[2016-05-26 16:47] #26327 closed

[2016-05-26 16:54] lavalamp commented on #12231
Done as much as it's going to be for 1.3.

[2016-05-26 16:54] lavalamp commented on #3955
This didn't make the date. :'(

[2016-05-26 16:57] adityakali opened #26361 "Add test for running k8s clusters in non-us GCE zones"
I am not sure if there is already a test for this, but we should catch issues like #26350 sooner.

@roberthbailey @dchen1107 @wonderfly @andyzheng0831

[2016-05-26 16:58] lavalamp commented on #8132
Is there anything left for 1.3 here? I think this is basically done. Let's close this and open a new issue about switching storage to proto by default?

[2016-05-26 16:59] a-robinson opened #26362 "Don't blindly trust cached state of load balancer resources in service controller"
Multiple users have been bit by some variant of the following problem: they delete a resource from their cloud provider that was created as part of a service's external load balancer. If they deleted it accidentally, they wonder why their load balancer stopped working. If they deleted it intentionally, they wonder why it comes back after an indeterminate amount of time (typically on the order of d

[2016-05-26 17:01] roberthbailey commented on #26361
The only non-US zones that I see in https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e.yaml are for the GKE prod tests that are running in asia. There is no coverage for europe at all.

[2016-05-26 17:01] roberthbailey commented on #26361
/cc @kubernetes/test-infra-maintainers

[2016-05-26 17:01] lavalamp commented on #24988
Thanks for putting thought into this. Unfortunately letting non-apiserver components talk to etcd is a non-starter. It breaks encapsulation and the security model. (access to etcd == root on cluster). Running a separate etcd for this is too operationally complex.

This problem is solvable with local kubelet & kube-proxy changes, the system already exports enough information.

[2016-05-26 17:01] #24988 closed

[2016-05-26 17:04] lavalamp commented on #18174
@mikedanese I'm assuming this didn't make the date. Bumping :(

[2016-05-26 17:05] lavalamp commented on #19054
Looks like we have a very alpha version in. Not ready for production yet.

We'll set a goal of beta in 1.4.

[2016-05-26 17:06] therc commented on #26202
We've been bitten by this for a service:

[code]

I just nuked the `last-applied-configuration` annotation and the change applied successfully.

[2016-05-26 17:07] lavalamp commented on #24240
We're going to focus on swagger for 1.4-- if it gets done before then, great, but definitely it's not blocking 1.3.

[2016-05-26 17:07] therc commented on #26202
And before that error, there was the very same sequence of proto errors.

[2016-05-26 17:10] lavalamp commented on #25761
I argued that these secrets really must be stored in the federation's control plane, NOT the individual kubernetes cluster's control plane. I consider this a very basic requirement. @nikhiljindal promised me he'll move it there in the future.

[2016-05-26 17:11] lavalamp commented on #25835
@thockin can I kick this out of 1.3? Unless it's blocking petset or Ubernetes, I think the answer should be yes.

[2016-05-26 17:11] jingxu97 commented on #26358
I think there is a assumption that gce.conf.nodeTags must match a common tag of each instance in the cluster. If we allow user to change tags for the cluster, can we find a way to also update the config nodeTags? Otherwise, they won't match.

[2016-05-26 17:12] lavalamp commented on #25836
Not for 1.3 unless it's blocking something amazingly important.

[2016-05-26 17:13] lavalamp commented on #23508
We will probably have to do this for 1.4.

[2016-05-26 17:14] bprashanth commented on #26358
The reconciliation loop in the controller should completely own this. The tag is a cluster level property enforced on each node in the cluster and all firewall rules created for the cluster.

[2016-05-26 17:15] wonderfly commented on #26350
Confirmed. See #26363

[2016-05-26 17:17] alex-mohr opened #26364 "Test failure: kubernetes-test-go's TestUDPProxyUpdatePort FAIL k8s.io/kubernetes/pkg/proxy/userspace 300.049s"
Test failure: kubernetes-test-go's TestUDPProxyUpdatePort FAIL k8s.io/kubernetes/pkg/proxy/userspace 300.049s

https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/12478

I don't see any more useful logs, though, so perhaps AI is to add sufficient logging to figure out what actually happened?  Or maybe log exists and I just don't see it.

[2016-05-26 17:20] mikedanese commented on #26184
gcloud compute list insde the ./cluster/gce/list-resouces.sh (run as part of ./hack/jenkins/e2e-runner.sh) running on a jenkins slave is failing. There are many reasons this would be failing be failing but it seems unlikely that this has anything to do with kubemark specifically.

[2016-05-26 17:22] portante commented on #24677
New to this discussion, so bare with me if I have not grok'd the history in its entirety (and yes, that is supposed to be a logging joke =).

So today there are three (or four) main sources of logs from containers today:

1. `stdout` / `stderr` (newline character delimits the message)
2. `syslog()`
3. other libraries and facilities that use the above or write to their own sink (e.g. `log4j`, pytho

[2016-05-26 17:26] andrewmichaelsmith commented on #24361
We had a case today that's slightly more serious, the API error 500 is stopping the kubelet from syncing but the pod is listed as "Running":

[code]

[2016-05-26 17:35] euank commented on #25789
@yifan-gu any further information on this?

[2016-05-26 17:41] screeley44 opened #26367 "Reminder: Revert #24808 when mount.glusterfs enables --verbose error returns functionality is implemented"
This is a place holder to revert the reading of glusterfs logs for true errors.  There is currently a work in progress to enabled glusterfs mount.glusterfs to use --verbose option which would return the error directly to the caller rather than writing to a log file and then having an extra step of opening and parsing the log file to obtain the true error.

when this functionality is available we c

[2016-05-26 17:44] markine opened #26368 "kube-up.sh for AWS: better error reporting for hitting quota limits for Elastic IPs"
As of kubernetes v1.2.4, kube-up.sh has a somewhat opaque error when it is unable to reserve an Elastic IP for a cluster (for our case, we were out of quota for EIPs):

[code]

The request here is to have a clearer error to communicate that this is an EIP issue and suggestions as to what to do about it.

[2016-05-26 17:47] huang195 opened #26369 "Support of container flavors"
We want to enforce that pods can be only be created from a known set of flavors. I've started the work to create an admission control plugin to do the enforcement. Initially, it will only be enforcing cpu+memory, which is the same set of resources that quota and limitrange plugins manage today.

@derekwaynecarr do you have any specific suggestions?

[2016-05-26 17:51] pwittrock commented on #26023
I guess I am unclear on if the image is built and uploaded as part as running the example?  If we do want to built them, ignore my following comments.

I am trying to better understand:

I don't think we want to be uploading untested container images if it can be avoided.  Does this approach solve the issue?

- Build and upload the image to your own repo
- Run the e2e tests using your image - **it

[2016-05-26 17:52] lavalamp commented on #26202
Please note if you want to get defaulted stuff, it's *super important* to let the server do the defaulting.

[2016-05-26 17:54] smarterclayton commented on #8132
I think there are a few things we need to do.

1. Document what our API guarantees are for protobuf
2. Document schema change process
3. Have a follow up issue for the other loose ends (serializing nil vs
empty lists)

On Thu, May 26, 2016 at 12:58 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-05-26 17:55] smarterclayton commented on #25836
I may ask to merge a non-critical path change that is latent in Kube but
not used to support this, but I can carry if necessary.

On Thu, May 26, 2016 at 1:12 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-05-26 18:15] euank opened #26370 "rkt: KillPod grace period override support"
Currently when the container runtime is rkt, the grace period override (#24843) in killpod is ignored.

This feature is used to support eviction (see #21274)

This can probably be implemented by updating the systemd `TimeoutStopSec`, reloading, and re-stopping. This is also likely to be supported by rkt itself (see https://github.com/coreos/rkt/pull/2438) at which point we can probably just call t

[2016-05-26 18:26] jeffvance commented on #26233
@jsafrane Fully agree with your comment above. However, why is the behavior asymmetric? If the pv is pre-bound it always binds to the target claim, but if the claim is pre-bound it is a race with unpredictible results.

[2016-05-26 18:26] nikhiljindal commented on #25761
Yes. Thanks for summarizing our discussion @lavalamp. I will move it to federation control plane when we start supporting secrets there.

[2016-05-26 18:29] girishkalele commented on #25573
Cannot reproduce when retested with the new kubedns implementation - the presence of the environment variable does not affect the kubedns pods now.

[2016-05-26 18:32] bgrant0607 commented on #26340
@krmayankk Please file this on kubernetes.github.io

[2016-05-26 18:32] Frusty commented on #26009
The kubelets do not use `--resolv-conf` flag.
`dnsPolicy` is not part of the kubernetes definition of the POD in question.

container resolv.conf
[code]

[2016-05-26 18:32] janetkuo commented on #7496
@asalkeld are you working on this? @dims has a PR for this #25640

[2016-05-26 18:38] janetkuo commented on #25911
No flakes observed

[2016-05-26 18:40] timstclair commented on #24698
It depends on https://github.com/kubernetes/kubernetes/pull/25914, which has been LGTM'd for over a week... I'll get this reviewed now though, so it can go in as soon as the dependency is in.

[2016-05-26 18:41] timstclair commented on #24698
Oops, that comment was referring to the PR which addresses this (https://github.com/kubernetes/kubernetes/issues/24771).

[2016-05-26 18:41] janetkuo commented on #20836
#26365 for this

[2016-05-26 18:46] spxtr commented on #25849
Yes, I just realized that the dockerized e2e don't mount the Jenkins workspace and so that file doesn't exist. They only mount `_artifacts`. @ixdy, should we mount the whole workspace?

[2016-05-26 18:58] vishh opened #26374 "Update kubectl to display pod QoS instead of per-resource per-container QoS"
QoS used to be pre-resource per container. It has been recently updated to be at the pod level. Kubectl needs to be updated to reflect this change in QoS semantics.

[2016-05-26 18:59] vishh commented on #26374
cc @timoreimann @derekwaynecarr

[2016-05-26 19:04] ixdy commented on #25849
I have a slight preference to mounting only the files/directories we explicitly need, since that helps eliminate any implicit dependencies on Jenkins.

[2016-05-26 19:05] ixdy commented on #25849
Though shouldn't `kubernetes/cluster/log-dump.sh` be in the kubernetes tarball?

[2016-05-26 19:09] chrislovecnm commented on #26023
The challenge that I have with that is that we are changing the test.  I would prefer to have the test run locally as it run during the PR process.

The test case is when containers for examples are updated.  For instance I just put in https://github.com/kubernetes/kubernetes/pull/26022 to modify the cassandra example.  e2e testing would need to build the new image, and run the testing.   For the

[2016-05-26 19:11] ixdy commented on #25849
Oh, I think I see the issue.

The kubernetes tarball is extracted inside the docker container, which gives us kubernetes/cluster/log-dump.sh. This call is happening on timeout (so outside docker), so the file is inaccessible.

We have a similar issue with all dockerized e2e - no cluster logs on timeout.

We can try moving the timeout handling inside dockerized e2e; this is probably the direction w

[2016-05-26 19:20] pwittrock commented on #26203
Fixed in #26321

[2016-05-26 19:20] #26203 closed

[2016-05-26 19:23] krousey commented on #26324
Given that the error is `Error from server: the server could not find the requested resource`, the master logs would be really helpful. However they are lost.

@a-robinson

[2016-05-26 19:30] clanstyles opened #26375 "Pod wont delete"
I created a temporary pod to check env variables being injected.
[code]

After I was done, exited via exit. I then checked pods.
[code]

The pod was still listed. I tried to remove it.
[code]

The busybox pod restarted with a new ID instantly. There is no Replication Controller either. How do I remove this pod?

[2016-05-26 19:31] pwittrock commented on #26023
What is stopping you now from changing the [image in the yaml](https://github.com/chrislovecnm/kubernetes/blob/742b92a034fa505c982959f13aff368fcd016b20/examples/cassandra/cassandra-controller.yaml) to something you control and running the tests locally?

What problems did you run into?  Why were you not able to catch these when running the tests locally?

Are you suggesting something different fro

[2016-05-26 19:33] pwittrock commented on #26138
Picking this up again

[2016-05-26 19:34] yujuhong commented on #26375
`kubectl` now creates a "Deployment" object. You'll need to delete that. See http://kubernetes.io/docs/user-guide/simple-nginx/ for an example.

[2016-05-26 19:34] yujuhong commented on #26322
Can we make this a flag so that users can turn it off if needed?

[2016-05-26 19:38] clanstyles commented on #26375
@yujuhong That resolved one of the dummy pods that wasn't deleting but not the other one. There is now no output to get deployments.

[code]

There are still two pods
[code]

And there are no RCs for them or deployments.

[2016-05-26 19:42] timothysc commented on #25278
So I set a script and looped this ~100 times without a single flake.

In general, I fail to see how
```k8s.io/kubernetes/pkg/registry/persistentvolumeclaim/etcd.newStorage(0xc820324000, 0x0, 0x0, 0x0)``` can even occur because we pass in constants, so how exactly do we get ```0x0```.  The only thing I can think of is the machine that is running tests was resource strapped, which could possibly cau

[2016-05-26 19:42] #25278 closed

[2016-05-26 19:44] yujuhong commented on #26375
What does `kubectl get rs --all-namespaces` return?

Did both of these pods get recreated when you tried deleting them?

[2016-05-26 19:44] timothysc commented on #25691
I'll re-open this one to investigate, as the results look different then the other test.

[2016-05-26 19:47] clanstyles commented on #26375
[code]

[code]

[code]

[code]

[2016-05-26 19:50] pwittrock commented on #25966
@spxtr @ixdy Do you know if there is any work remaining to be done here?

[2016-05-26 19:50] therc opened #26376 "Panics in controller manager lookup cache"
I was just trying to delete a DaemonSet and got a ton of these, edited for brevity. They went away when I restarted the controller manager. The cluster had been updated to HEAD yesterday from two-month old binaries.

[code]

[2016-05-26 19:52] yujuhong commented on #26375
@clanstyles I meant `kubectl get rs`. It's "rs" for the ReplicaSet :)

centos7 seems to be a different issue. Can you post the output of `kubectl describe pod centos7-o8msd`?
My guess is that it's stuck at pulling the image. To force delete it, you can run `kubectl delete pod --grace-period=0 centos7-o8msd`

[2016-05-26 19:54] therc commented on #26376
Looking at the code at the lines in controller.go, it seems to be indeed deep in the bowels of syncDaemonSet() and the last line from the controller manager is:

`if obj, cached := dsc.lookupCache.GetMatchingObject(pod); cached {`

[2016-05-26 19:59] jayunit100 commented on #25278
Definetely saw same thing even running in parallel because ports are random , it's robust as a test so long as infra working

[2016-05-26 20:03] smarterclayton opened #26377 "unit test data race: Test_Run_Positive_OneDesiredVolumeAttachThenDetachWithMarkVolume"
[code]

[2016-05-26 20:04] clanstyles commented on #26375
[code]
returns nothing

[code]
That just spun the container up again.

[code]

[code]

[2016-05-26 20:05] pwittrock commented on #26138
Have #26378 out to address this issue

[2016-05-26 20:06] krmayankk commented on #23838
@adohe @janetkuo kubernetes/pkg/kubectl/cmd/get.go is where i see a flag called "show-all". I am not sure where its being handled. Can someone help me figure where all the resources are being get and where the display is being handled.

[2016-05-26 20:11] ixdy commented on #25966
If only tests fail, the node e2e test runner should exit with status 0. It should only return a nonzero exit status on build, setup, teardown or other infra failures.

[2016-05-26 20:15] krousey commented on #26324
cc @ncdc

[2016-05-26 20:18] ncdc commented on #26324
I'm assuming this isn't an actual issue with attach, but I can take a quick look

[2016-05-26 20:18] a-robinson opened #26379 "fluentd-gcp log collection not working on GCI masters since Monday"
Will start investigating shortly

cc @krousey

[2016-05-26 20:19] a-robinson commented on #26379
@andyzheng0831

[2016-05-26 20:19] timstclair commented on #26322
Yes. We also need to have dedicated image pulling tests before we switch to this method.

[2016-05-26 20:20] fejta commented on #26338
Assigning to robert per random assignment on owners spreadsheet

[2016-05-26 20:20] davidopp commented on #22205
This didn't make 1.3, moving to 1.4.

[2016-05-26 20:21] davidopp commented on #12611
DisruptionController is in review; moving to 1.4.

[2016-05-26 20:22] davidopp commented on #14276
ping @justinsb - this is labeled v1.3, should we move it to 1.4 (or next-candidate) ?

[2016-05-26 20:22] #25911 closed

[2016-05-26 20:22] pwittrock commented on #25911
@dchen1107 Marking this as closed since we haven't seen any flakes in a couple days.  Re-open if needed.

[2016-05-26 20:24] chrislovecnm commented on #26023
What are your concerns about the e2e tests building the images and testing them locally? What are your recommendations to improve this?

With tests I don't want anything different.  But that is because I am really picky about them.  But then again maybe I am over complicating it. It makes more sense to me to have the e2e test to use a built container rather than pulling a staged container out of a

[2016-05-26 20:25] pwittrock commented on #23389
@davidopp Taking this since it looks like it is related to the test.  Let me know if you would prefer to keep it, or have some state on it already.

[2016-05-26 20:26] vishh opened #26380 "Make it easy to run node e2e remotely"
As of node e2e can be run manually against GCE VMs using the jenkins specific scripts. This is non-obvious and is not easy to use.

[ ] Allow test images to exist independent of user's project. For example, it should be possible to use public GCE VM Images without having to copy them to the user's project.
[ ] Add a Make rule to run tests against the standard set of images that jenkins tests again

[2016-05-26 20:28] jingxu97 commented on #26377
Looks like similar issue with #26345

[2016-05-26 20:30] pwittrock commented on #20552
Looks like it has been almost 2 months since the last time we recorded seeing this issue.  Any objection to closing it and letting the merge-bot open a new issue if we see it again.

[2016-05-26 20:31] FrenchBen commented on #25520
@yissachar I went ahead and replied to the post you mentioned, since the setup is just incorrect IMHO.

The Kubernetes getting started guide is a bit miss-leading, as it seems to show that everything is running from the OSX host, yet the `docker run` command mounts a lot of volumes within the VM that do not exist in OSX and creates a bunch of containers that tie-in to the host network.

[code]

Id

[2016-05-26 20:37] krousey commented on #26324
Master logs not available due to #26379

[2016-05-26 20:39] pwittrock commented on #26023
I think I understand now.  The problem you are trying to solve is to test that the image actually builds from the Dockerfile and passes validation.  This seems like a generally good thing to do.  My biggest concerns with this would be:

- Introducing more complexity / instability / flakiness to our already brittle e2e tests
- Time required to build / review this approach

[2016-05-26 20:45] #20552 closed

[2016-05-26 20:46] ncdc commented on #26324
I'm not sure what's going on yet. I'm not seeing any of the container creation calls I'd expect to see in the docker log, or maybe the log level is too high?

[2016-05-26 20:50] pwittrock commented on #25966
Good to know.

[2016-05-26 20:56] a-robinson commented on #26379
Also, @andyzheng0831, there seems to be a correlation between me SSHing into a GCI master that's being deployed and the cluster creation subsequently failing to complete. It's happened 2 times now...

[2016-05-26 20:57] lavalamp commented on #26211
I'm giving this to @davidopp to delegate-- I can't see any reason why it should be @Random-Liu's problem. :)

[2016-05-26 21:02] andyzheng0831 commented on #26379
I did sshing while master was under initialization, but did not see the
problem. BTW, i am ooo and not be able to investigate it until next Tue. My
auto email reply does not work?
On May 26, 2016 10:57 AM, "Alex Robinson" <notifications@github.com> wrote:

[2016-05-26 21:03] krousey commented on #26324
`May 26 12:12:14.919: INFO: Running '/workspace/kubernetes/platforms/linux/amd64/kubectl --server=https://104.197.171.254 --kubeconfig=/workspace/.kube/config --namespace=e2e-tests-kubectl-lq6vw run run-test --image=gcr.io/google_containers/busybox:1.24 --restart=Never --attach=true --stdin -- sh -c cat && echo 'stdin closed''`

seems to be thee command that failed in the 7811 job. Searching for t

[2016-05-26 21:04] a-robinson commented on #26379
Not for github cc's. Sorry for bothering you!

[2016-05-26 21:04] janetkuo commented on #25047
[code]

[2016-05-26 21:06] krousey commented on #26324
Which means master logs would probably be the best place to figure out what went wrong. :trollface:

[2016-05-26 21:08] a-robinson commented on #26379
It keeps getting blocked on the tarball corruption... Opening a separate issue for that part

[2016-05-26 21:11] a-robinson opened #26383 "e2e failures: GKE CI masters failing to pull tarball"
This is causing cluster creation failures, blocking the submit queue.

It appears to be trying to get the blob from the asia bucket, even though the cluster is in us-central1.

@k8s-oncall @zmerlynn

[code]

[2016-05-26 21:13] a-robinson commented on #26383
As mentioned in #26379, there seems to be some correlation of this happening with me SSHing to the master while it's initializing, but that's likely just a coincidence.

[2016-05-26 21:13] yujuhong commented on #26375
Try `kubectl get jobs --all-namespaces`
User guide for jobs: http://kubernetes.io/docs/user-guide/jobs/

[2016-05-26 21:13] janetkuo commented on #25047
`EtcdTestServer` timed out and return `nil` server and then caused `nil pointer dereference`

[2016-05-26 21:15] caesarxuchao opened #26385 "e2e test flake: package gopkg.in/yaml.v2: unrecognized import path "gopkg.in/yaml.v2" (https fetch: Get https://gopkg.in/yaml.v2?go-get=1: net/http: TLS handshake timeout)"
[code]

I've seen it 3 times in different PRs.

https://github.com/kubernetes/kubernetes/pull/25604#issuecomment-221978379
https://github.com/kubernetes/kubernetes/pull/25599#issuecomment-221948050
and this [one](https://00e9e64bace6f97fd736df25072ad5a584cc18e6d653618ee4-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F26381%2Fnode-pull-build-e2e-test%2F807

[2016-05-26 21:17] yujuhong commented on #26322
I thought we already had image pulling tests in the node e2e suite.

@dchen1107, you had some complaints about `docker load` before? Is there anything we should be aware of?

[2016-05-26 21:19] janetkuo commented on #25047
timeout for `EtcdTestServer` to be up is 5s; should we wait longer?

[2016-05-26 21:25] a-robinson commented on #26383
I suppose the more worrying part of those logs is that hash validation of the tarball that did exist failed:

[code]

Anyone seen errors like this before?

@kubernetes/release-maintainers @kubernetes/test-infra-maintainers

[2016-05-26 21:31] ixdy commented on #26383
For mysterious reasons, the kubernetes-build job has been retriggering for the same git sha, e.g. very recently with
kubernetes-build/10069 and kubernetes-build/10070, kubernetes-build/10071 and kubernetes-build/10072.

When uploading build artifacts, the job deletes any existing tarballs before uploading the new ones. This makes sense if something was wrong with the first version, but it means th

[2016-05-26 21:33] a-robinson commented on #26379
Ok, finally have logs from a failure (it's too bad logs don't get saved when the logging daemon isn't working...):

[code]

That's a little strange though, considering that the VM does have the appropriate scope. Continuing to investigate.

[2016-05-26 21:34] yujuhong commented on #26376
/cc @mikedanese

[2016-05-26 21:34] a-robinson commented on #26383
That could certainly do it. It's not failing every time, just occasionally.

[2016-05-26 21:36] caesarxuchao commented on #26385
Is it because `https://gopkg.in` was down?

[2016-05-26 21:37] a-robinson commented on #26379
The metadata endpoint isn't resolvable from within the container. The DNS must be messed up in some way. We've had this happen before but fixed the configuration to unbreak it. I wonder what retriggered it when switching to GCI.

Bumping to P0 because this is blocking investigation of at least one flake.

[2016-05-26 21:38] a-robinson commented on #26383
Is there anything that we can do about it? Is a different issue tracking it?

[2016-05-26 21:42] janetkuo commented on #25047
2 issues here:

1. 5s timeout is too short
2. Shouldn't return nil server but fail now

Fixing in #25047

[2016-05-26 21:44] a-robinson commented on #26379
cc @ArtfulCoder @bprashanth - the DNS policy for the pod is still set to "Default", so it's not the exact same issue as before. The resolv.conf in the container is

[code]

[2016-05-26 21:47] janetkuo commented on #26385
Again https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/26386/node-pull-build-e2e-test/8079/build-log.txt

[2016-05-26 21:50] saad-ali commented on #26377
That's the PV controller this is the attach controller, thus separate issues.

[2016-05-26 21:52] a-robinson commented on #26379
This affects k8s-on-gce as well

[2016-05-26 22:01] isubuz commented on #25675
Now that the code has been merged, does the issue get closed by an automated process? Or can I close it?

[2016-05-26 22:05] girishkalele commented on #26311
Yes, missing routes/major connectivity issues from apiserver to the pods should have shown up directly in the logs - I did not realize that the 503 tracebacks in the logs when these failed were due to connectivity until you mentioned it.

I heard of this node problem detector daemon - do we have a network problem detector component running inside it ? for e.g. can it help do ping tests from the cb

[2016-05-26 22:12] isubuz commented on #25620
As the documentation says, the pod IPs aren't externally available for most providers. I suppose you are running the curl from your local machine?

[2016-05-26 22:12] pwittrock commented on #25585
cc @janetkuo
cc @AdoHe

[2016-05-26 22:14] ixdy commented on #25940
We [run `hack/build-go.sh` in unit test runs](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/test-dockerized.sh#L55), which is probably gratuitous. It stops us from running the rest of the tests if things are horribly broken, but it also means we duplicate work with the e2e build.

We also run several dimensions for each of `KUBE_TEST_API_VERSIONS` and `KUBE_TEST_ETCD_PREFIXES`

[2016-05-26 22:15] pwittrock commented on #26023
Actually, it looks like we are already running a local registry that you can use.  :)

[2016-05-26 22:16] janetkuo commented on #26385
[code]

[2016-05-26 22:16] smarterclayton commented on #25940
I'm trying to think of when they actually caught anything.  Randomize
and pick one of each?

[2016-05-26 22:17] srkiNZ84 commented on #20092
I've also hit this issue (see: https://stackoverflow.com/questions/37449121/how-to-expose-kube-dns-service-for-queries-outside-cluster) when trying to expose DNS to queries from outside the cluster.

Note that in my setup, the "NodePort" is different for UDP and TCP but only UDP appears to work (it's the first to be defined?).

[2016-05-26 22:18] pwittrock commented on #26023
cc @lavalamp

[2016-05-26 22:19] pwittrock commented on #25585
@drashkov Thanks, I was able to reproduce the issue.

It looks like the config with the ENV does get stored in the last-applied-configurations annotation:

[code]

But does not get put into the pods:

[code]

[2016-05-26 22:21] yujuhong commented on #24361
@andrewmichaelsmith the pod will enter and stay in the the "Running" phase once all the containers have started, even if the containers in the pod died.
If you want to check whether a container is indeed healthy, readiness probe is what you want.

[2016-05-26 22:22] quinton-hoole commented on #25017
I saw this again today:

http://goto.google.com/k8s-test/job/kubernetes-e2e-gce-ubernetes-lite/4106/

[code]

[2016-05-26 22:26] pwittrock commented on #15493
@AdoHe Since this is causing flakey test failures, it is something we should focus on.  Is this something I should pick up?

[2016-05-26 22:27] esthermofet commented on #26292
Thanks for the feedback, @thockin . We'll do some testing with hairpin-mode.

[2016-05-26 22:29] ixdy commented on #25017
@fejta can you rebuild the Jenkins agents that have disks that are too small?

[2016-05-26 22:32] chrislovecnm commented on #26023
@pwittrock in the e2e cluster?

[2016-05-26 22:39] ixdy commented on #25017
In particular, `agent-light-20160524-1` is the problem VM.

[2016-05-26 22:41] yujuhong commented on #26307
Indeed, in your use case, this may not hep.

Besides kubelet failing the pod, there has also been discussion about a rescheduler (#12140) to move unhappy pods; it's still in the early stage and I am not sure if it's being actively worked on at the moment.

I remember there was an issue about setting max retries, but I couldn't find it. Setting a hard threshold may be tricky, especially since we ha

[2016-05-26 22:47] #25840 closed

[2016-05-26 22:47] isubuz commented on #25353
I would like to work on this and present a proposal, if that's ok. What is the usual way to announce that I intend to work on an issue?

[2016-05-26 22:49] alex-mohr commented on #26385
@lavalamp or @thockin who understands godep stuff?  If not you, someone else?

[2016-05-26 22:49] #15 closed

[2016-05-26 23:06] asalkeld commented on #7496
@janetkuo I posted the comment above as @dims put up his PR (I didn't start work on it yet). This was the reason I got frustrated and sent the email to k8s-dev about not being able to assign ourselves to issues...

[2016-05-26 23:10] #26118 closed

[2016-05-26 23:15] girishkalele commented on #26239
Related discussion - https://github.com/kubernetes/kubernetes/pull/26197

[2016-05-26 23:25] dchen1107 commented on #26383
re: https://github.com/kubernetes/kubernetes/issues/26383#issuecomment-222000830

We ran into a similar issue last release: https://github.com/kubernetes/kubernetes/issues/8705

[2016-05-26 23:28] yujuhong commented on #20550
@ArtfulCoder, is this fixed? I believe we still see this failure in some tests.

[2016-05-26 23:30] thockin commented on #26292
please reopen if you have more info :)

[2016-05-26 23:30] girishkalele commented on #26239
A lot of flakes were due to the failure to startup kube-dns - #26195 fixed that issue, but we still have the older 4 container skydns pod running when doing GCE kube-up.

[2016-05-26 23:31] janetkuo commented on #25585
After a few tries I found that if you put add the `SLACK_ENDPOINT` env as the last one you'll be able to add it. Definitely a bug.

[2016-05-26 23:32] bgrant0607 commented on #19033
See also #11725.

cc @lavalamp

[2016-05-26 23:34] bprashanth opened #26390 "Serve e2e images from local docker registry"
Yet another potential solution for the image pulling flake observed in https://github.com/kubernetes/kubernetes/issues/25277, https://github.com/kubernetes/kubernetes/issues/20550

Quoting email thread:

Other ideas include: https://github.com/kubernetes/kubernetes/issues/26322, flipping nodes to schedulable only once they've pulled the entire image list, and running a daemon set with the list of

[2016-05-26 23:40] dims commented on #7496
@asalkeld My apologies!

[2016-05-26 23:40] fejta commented on #25017
@ixdy please run https://github.com/kubernetes/test-infra/pull/63 (and I strongly recommend getting that committed)

[2016-05-26 23:47] bprashanth commented on #25818
@kubernetes/kubectl (this is a nice intersection of new in 1.3, node and usability, if anyone wants to give it a shot, pretty sure Clayton is busier than I am and I don't think I'll get to it)

[2016-05-26 23:48] janetkuo commented on #25585
The generated three way merge patch wasn't correct (the annotation is good, but look at the spec part):
`patch = {"metadata":{"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"kind\":\"Deployment\",\"apiVersion\":\"extensions/v1beta1\",\"metadata\":{\"name\":\"test-api-deployment\",\"creationTimestamp\":null},\"spec\":{\"replicas\":3,\"template\":{\"metadata\":{\"creationTimest

[2016-05-26 23:49] janetkuo commented on #25585
It only recognize the last env as diff

[2016-05-26 23:51] vishh commented on #26390
I like the PD option that @timstclair had proposed earlier. Essentially have a PD with all the images stored as tar files and load it using docker upon node startup.
We will have to manage the lifecycle of these PDs out of band. Assuming that PD is more reliable than remote registries, this option is more robust and will probably be faster too..

[2016-05-26 23:54] vishh commented on #26390
Related issue - #26322

[2016-05-26 23:55] smarterclayton commented on #25818
Will be happy to review any changes - should be fairly straightforward.

[2016-05-26 23:55] bprashanth commented on #26390
I was not against the pd option. I'm just not comfortable with the fact that if we can't pull images reliably our whole house of cards will crumble. It feels like testing `service.Type=LoadBalancer` without actually spinning up an external GCE lb but using nginx, because that's slow.

[2016-05-27 00:03] vishh commented on #26390
It depends on what we want to test. Not all contributors to Kubernetes care
about `gcr.io` or `dockerHub` being healthy. We can continue to test GCR
and other GCE services in localized tests. But making them a pre-requisite
for all our testing sounds a bit overwhelming to me.

On Thu, May 26, 2016 at 4:56 PM, Prashanth B <notifications@github.com>
wrote:

[2016-05-27 00:05] bgrant0607 commented on #26390
ref #1319

[2016-05-27 00:06] bprashanth commented on #26390
Yeah but image pulling via http should work in a variety of conditions and environments, which is difficutl to ensure in a controlled test with a handful of images

[2016-05-27 00:07] pwittrock commented on #26023
Yes, but apparently it isn't being used and is poorly supported.  We are considering using our own image registry generally for testing to address some issues we have been seeing with test failures due to image pulls timing out.

See #26390 and #1319

[2016-05-27 00:07] thockin commented on #23395
GCE doesn't do L2, so no ARP cache issues.

Maybe we need to just periodically force a flush?

[2016-05-27 00:09] lavalamp commented on #26290
This is control plane. @liggitt? @derekwaynecarr? One of you guys want this?

[2016-05-27 00:11] thockin commented on #25835
It's fine to kick from 1.3

On Thu, May 26, 2016 at 10:11 AM, Daniel Smith <notifications@github.com>
wrote:

[2016-05-27 00:14] dchen1107 commented on #25082
The problem is that kube-proxy didn't come up due to image is not exist. But it is not related to image pulling hang, instead we are having a version screw again for this release:

[code]

[2016-05-27 00:15] vishh commented on #26390
If we want to include real world randomness to some extend, can we run our
tests with and without dependency on remote registries?
From Kubernetes perspective, we primarily care about the client side
implementation of registries, not the server side. IMHO, the less
dependencies we have, the more reliable our core testing can be.

On Thu, May 26, 2016 at 5:07 PM, Prashanth B <notifications@github.c

[2016-05-27 00:17] lavalamp commented on #23416
@bprashanth New rule: presubmit test of some sort required before we can turn on a postsubmit test.

Otherwise we spend too much time when little things completely break the post submit tests.

It will be difficult to convince @fejta or me to make an exception, but you can try :)

[2016-05-27 00:18] dchen1107 commented on #25082
@ixdy Looks like another victim of version screw issue from our build infrastructure:

"Tag fcc8bbd662af5b53ccd7156de4c2fa45 not found in repository gcr.io/google_containers/kube-proxy"

[2016-05-27 00:22] pwittrock commented on #26390
Can we focus on testing gcr.io + dockerhub compatibility separately from the rest of our merge-blocking tests?

[2016-05-27 00:26] bprashanth commented on #26390
I care less about compatibility with a specific registry and more about noticing when the daemon messes up asking for a given layer, or for a new image hash, or locks up getting 1 layer etc. I don't think a controlled environment will trigger all such conditions, and it's definitely not what customers will do.

[2016-05-27 00:33] dchen1107 commented on #24605
For last 50 runs, the test never failed. Close this as obsolete now.

[2016-05-27 00:33] #24605 closed

[2016-05-27 00:34] lavalamp commented on #26318
When kubemark fails, it leaves its status in jenkins as "failed".

If instead its status was "unstable" and it printed out JUnit files like our other e2e test suites, then the queue optimization would work and it wouldn't block the queue until the same test failed twice in a row.

This is costing us an hour or two a day of merge time.

[2016-05-27 00:35] dims commented on #26385
@alex-mohr @thockin @lavalamp - i suspect we can get past this problem by switching from https:// to git:// using this .gitconfig trick:
https://github.com/golang/go/issues/6968#issuecomment-66089342

[2016-05-27 00:39] yujuhong commented on #26390
We need to test `docker pull` to some extent, whether it be in a separate cluster or in the regular e2e.
Since we don't care about what registry (gcr.io or dockerhub) we're testing, and we actually don't want to test those remote registries testing against a local registry makes sense.

[2016-05-27 00:45] ixdy commented on #25082
Where does that tag even come from? It's not in https://gcr.io/v2/google_containers/kube-proxy/tags/list.

[2016-05-27 00:45] dchen1107 commented on #24483
Yes, pulling heapster image is never finished since there is only pulling event, no corresponding pulled event.

[code]

Closed it as dup of #25277

[2016-05-27 00:45] #24483 closed

[2016-05-27 00:47] dchen1107 commented on #24508
Last 50 runs, there is no failure. I am closing it for now. Please re-open it if occured again.

[2016-05-27 00:52] ixdy commented on #26383
#8705 was a different root cause, I think - it involved the GCS staging path for server resources we use when starting a cluster, not the GCS path where the `kubernetes-build` job uploads the built tarballs.

[2016-05-27 00:53] dchen1107 commented on #24358
I am closing this one since we fixed tons of issue for our node e2e test infra last month, and I didn't see this particular issue for a while. And also the initial link in issue description doesn't have any useful information for that run.

[2016-05-27 00:53] #24358 closed

[2016-05-27 01:04] dchen1107 commented on #26342
Pending PR https://github.com/kubernetes/kubernetes/issues/25703 should fix the issue. Also dup of #25812

[2016-05-27 01:04] #26342 closed

[2016-05-27 01:06] fejta commented on #25849
Agree with putting as much logic as possible into the container instead of jenkins/yaml/etc

[2016-05-27 01:10] ixdy commented on #25849
So, there are two things being discussed here:
a) the kubemark build timed out, seemingly because docker checked out
b) cluster logs aren't collected on time outs

We should probably move b) into a separate issue in kubernetes/test-infra. Have we seen kubemark time out more than once? I'm inclined to believe it's docker being flaky.

[2016-05-27 01:11] dchen1107 commented on #26042
Good point! A chicken-egg issue here.

[2016-05-27 01:13] ixdy commented on #25849
kubernetes/test-infra/issues/79 for log dump issue.

[2016-05-27 01:18] davidopp commented on #21577
@piosz has previously indicated that everything needed for 1.3 here is already done, so I'm going to remove the 1.3 milestone. If the entire issue is finished, then he can close it.

[2016-05-27 01:19] davidopp commented on #21947
We didn't get time to do this for 1.3. Moving to 1.4.

[2016-05-27 01:21] davidopp commented on #23803
This feature is disabled by default in 1.3 due to performance issues (#26144), so while I will still write documentation for it since someone might enable it, I'm going to remove the 1.3 milestone.

[2016-05-27 01:26] dchen1107 commented on #26042
We are hitting https://github.com/docker/docker/issues/17426, and the workaround is deleting repositories-aufs file. Since this is the first time we observed such issue, I marked it as P2.

[2016-05-27 01:27] fejta commented on #25940
@smarterclayton good idea! I want tests to be consistent between runs so I'm just going to pick one for each at random.

@ixdy Nice info! Sent out two PRs for this (one to reduce the precommit set, a second to ensure the postcommit set does the full thing)

[2016-05-27 01:28] dchen1107 commented on #23591
I am closing this one since we haven't run into the same issue for a long time.

[2016-05-27 01:31] Random-Liu commented on #25057
From http://perf-dash.k8s.io/, we observed that the runtime cpu usage increased a lot (0.35 cores -> 0.50 cores) after #25784 got merged.

The reason is we have more images prepulled on each node, and the image history operation consumes much more resources.

From docker log, we could see every 10 seconds, there will be a bunch of image history inspection:
[code]

After #23595 got merged, we've al

[2016-05-27 01:32] davidopp commented on #17219
@justinsb Can you give an update on this? It is marked with 1.3 milestone.

[2016-05-27 01:39] pwittrock commented on #26390
I agree these are good things to test.  Can we test them in a way that doesn't block our merge process when due to a remote infrastructure failure?

[2016-05-27 01:42] bprashanth commented on #26390
That's what this issue is about? (Serve e2e images from local docker registry)

[2016-05-27 01:45] davidopp commented on #23028
Since kubernetes/node-problem-detector#1 has been merged, can we remove v1.3 milestone?

[2016-05-27 01:45] yujuhong commented on #25057
This almost doubles docker's cpu usage in some cases, as shown in the dashboard.
This also means that even if there are no containers running, nodes may still dedicate a significant amount just to check the image history. We should fix this.

[2016-05-27 01:46] pwittrock commented on #26390
Got it, I miss interpreted a previous comment to mean we needed to test both a local repo and against remote repos.

[2016-05-27 01:49] davidopp commented on #23178
The test definitely sounds useful (and as you say, more representative) but since it's a test I'm going to remove it from the 1.3 milestone.

[2016-05-27 01:51] yujuhong opened #26394 "Speed up getting pod statuses in PLEG when there are many changes"
Forked from https://github.com/kubernetes/kubernetes/issues/23591#issuecomment-203042820
Creating a new issue so I won't forget.

PLEG serially gets status for every pod, where at least one container has encountered a state transition. This becomes the bottleneck if a lot of containers changed in one relist period. We were aware of this problem and had come up with a few options before:

1. Add a

[2016-05-27 01:57] davidopp commented on #23396
My understanding from @erictune is that the 1.3 bits of this are finished (since #25634 has been merged)  but it still needs an integration test before the ship deadline. Is that correct?

[2016-05-27 01:58] davidopp commented on #23479
Moving this to 1.4 milestone.

[2016-05-27 01:59] davidopp commented on #23587
@justinsb Now that our v0 GPU support has merged, are there any AWS-specific bits needed to enable it on AWS?

[2016-05-27 02:01] davidopp commented on #24246
This wasn't done for 1.3, moving to 1.4 milestone.

[2016-05-27 02:09] iT2afL0rd opened #26395 "Scheduler create too much pods for deployment"
Hi,

I want to create a Deployment with only 1 replicas.
The config file is `tv.json`:
[code]

When I execute:
[code]

I got a lot of pods:
[code]

If I don't delete the Deployment, the pod created will up to the maximum size of the whole cluster.
And when I delete the deployment and I got:

[code]

Kubernetes versions:
[code]

docker version: 1.9.1

Can anyone help on it ?

[2016-05-27 02:11] bprashanth commented on #26379
that resolv.conf looks OK, does nslookup metadata just fail? docker exec in the other master components works?

[2016-05-27 02:12] iT2afL0rd commented on #26395
kube-scheduler logs:

[code]

[2016-05-27 02:14] #26395 closed

[2016-05-27 02:17] #26111 closed

[2016-05-27 02:22] jimmycuadra commented on #26344
Closing as it seems "RBAC" is the name of this feature, upstreamed from OpenShift: #23396.

[2016-05-27 02:22] #26344 closed

[2016-05-27 02:28] ericchiang commented on #23396
Yes. I will update this issue tomorrow with TODO for before the release.

[2016-05-27 02:28] Hui-Zhi commented on #23587
I filed a new issue to collect the details needed and risks for NVIDIA GPU workloads, also have some tech needed for kubelet. @davidopp Could you give some feedback on it?
#25557

[2016-05-27 02:29] AdoHe commented on #26202
@lavalamp yes, we should put this in server side.

[2016-05-27 02:53] resouer commented on #25320
Working on node side to support kubelet enforced feature of taints/toleration

[2016-05-27 03:04] roberthbailey commented on #26338
This doesn't seem worth investigating until https://github.com/kubernetes/kubernetes/pull/26335 gets merged and we are running kubedns instead of skydns.

[2016-05-27 03:10] ixdy commented on #26361
Who's going to watch this new build? We have lots of noncritical builds which remain perpetually broken because they have no owner. I'm not sure adding to that list helps.

[2016-05-27 03:21] #25017 closed

[2016-05-27 03:28] fejta commented on #25940
@ixdy has opinions about the right way to make this happen

[2016-05-27 03:31] roberthbailey commented on #26361
We don't need a new build; we can move an existing build to a different zone. As a general principle, it seems as though we should spread our existing runs out across more than just a single region anyway.

[2016-05-27 03:55] ixdy commented on #25940
The issue is that we don't yet have the PR Jenkins in source control (https://github.com/kubernetes/test-infra/pull/18 is a WIP), so we have no particularly great place to override the defaults. We'll probably have to do it in Jenkins directly, but then we want to be sure we're picking the right values.

I'm not super comfortably picking a random set of API versions for `KUBE_TEST_API_VERSIONS`, a

[2016-05-27 04:02] bobintornado commented on #13385
Also reported in issue https://github.com/kubernetes/kubernetes/issues/26246

[2016-05-27 04:08] #24411 closed

[2016-05-27 04:10] bgrant0607 commented on #24411
@k82 In the future, please put "fixes #issue" in the PR that should close the issue, and it will be closed automatically.

[2016-05-27 04:12] bgrant0607 commented on #23604
Done

[2016-05-27 04:12] #23604 closed

[2016-05-27 04:12] ixdy commented on #26361
OK. Maybe we should wait until we're past the merge crunch to do this.

[2016-05-27 04:15] bgrant0607 commented on #20176
@bprashanth Is this done?

[2016-05-27 04:16] #16938 closed

[2016-05-27 04:19] k82 commented on #24411
#bgrant0607 , copy that. Thanks very much :).

[2016-05-27 04:34] bprashanth commented on #20176
The main parts are, https://github.com/kubernetes/kubernetes/issues/20176#issuecomment-198142836 is not (creating a self signed cert when no key/cert is given)

[2016-05-27 05:11] davidopp commented on #25563
Moving to 1.4 milestone based on this comment
https://github.com/kubernetes/kubernetes/issues/25563#issuecomment-220365798

[2016-05-27 05:28] clanstyles commented on #26375
@yujuhong damn, thank you, it was a job. I had no idea these even existed.

[2016-05-27 05:28] #26375 closed

[2016-05-27 05:36] davidopp commented on #23327
The PR in question is #26267 (it's not referenced anywhere else here).

[2016-05-27 06:21] sttts commented on #26210
With the error logging merged, we now know that there is nothing logged in the proxy-service pod:

[code]

[2016-05-27 06:48] roberthbailey commented on #26361
The point of this issue was that *during* the merge crunch a change was made that was only caught by manual testing. We have no idea if other changes are merging that are breaking us in a similar way. Having e2es spread among zones/regions so that we at least know that basic cluster creation is working seems like it should be part of the test surge.

/cc @lavalamp

[2016-05-27 07:07] mengfanxing123 commented on #24388
@lenadroid My problem same to your. Please tell me hou you solve the issue? I cannot understand what you say. Thank you

[2016-05-27 07:28] Random-Liu commented on #26042
@dchen1107 Hopefully docker 1.12 will help. https://github.com/docker/docker/issues/2658

[2016-05-27 07:56] sttts opened #26403 "Integration flake: etcd cluster is unavailable in TestStoreDeleteCollectionNotFound"
Haven't found a flake really matching this, maybe https://github.com/kubernetes/kubernetes/issues/13117?

[code]

Reference: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23801/kubernetes-pull-test-unit-integration/28159/

[2016-05-27 08:00] zefciu commented on #19163
@caesarxuchao @derekwaynecarr could you please answer my questions?

[2016-05-27 08:01] AlbertoPeon opened #26404 "Kubernetes openstack cloud provider - too many request per minute"
Hi,

We are using the kubernetes Openstack cloud provider to get dynamic provisioning of Cinder volumes. While it is working, the number of requests to the Openstack nova API per minute is pretty high. ( Around `(10 * number of masters and nodes) / minute`). From what we could see, masters and nodes both make the same number of requests.

These calls seem to be part of the normal sync loop of kube

[2016-05-27 08:05] AdoHe commented on #26202
@bgrant0607 @janetkuo @lavalamp I thought about this carefully, I think the root cause of both this issue and #24198 is `last-applied-configuration` annotation doesn't include fields which has default value, e.g `spec.selector` and `spec.strategy`. Users may not specify these fields in the original resource file, but we will set in the client side. I have opened a PR #26405 to indicate this proble

[2016-05-27 08:13] saad-ali opened #26406 "Allow shared informers to set custom resync periods"
This feature request is based on https://github.com/kubernetes/kubernetes/pull/26402

With Issue #23394 (PR #24142) resync was split into resync and relist. This gives informers the ability to set more aggressive ResyncPeriods since resync now just requeues items in the existing cache and does not make expensive network calls to API server to re-fetch all items (relist).

However, since shared inf

[2016-05-27 08:28] steve-ng opened #26408 "Kubernetes RC wait until pod is really ready before scaling down"
I have a ruby on rails app on kubernetes.

Here's what I do

1. kubernetes rolling-update new_file
2. Kubernetes began to create new pods
3. When the new pods are ready, Kubernetes kills the old pod.

However, although my new pod are in ready state, they are actually still doing rails assets build/compressing. They aren't ready yet. How can I let kubernetes know that it's not ready yet?

[2016-05-27 08:35] ixdy commented on #25940
OK, I've figured out part of the issue: we currently run unit tests 2 times, and the integration test **4** times. And the integration test suite has some pretty slow tests:
* TestStressingCascadingDeletion takes around 4m30s
* TestOrphaning takes a bit over a minute
* TestUnschedulableNodes takes around a minute
* and a number of tests which take 10-30s, almost certainly due to polling intervals

[2016-05-27 08:39] wojtek-t commented on #26290
So actually the failure from kubemark seems to be a different issue - "event etcd" is not working there, so we weren't able to remove events at all (we weren't even able to list them).
BTW, that's a good question what we should do in such case. @lavalamp - thoughts?

[2016-05-27 08:40] Simon-lush opened #26409 "CrashLoopBackOff - Galera Replication for MySQL on Kubernete"
I have used the mysql-galera example supplied in this repo by following the instructions in it's readme, but am having an issue where pxc-node2 and pxc-node3 repeatedly restart until they get stuck in a CrashLoopBackOff status.

[2016-05-27 08:43] workhardcc commented on #26353
For the second question use command like this still have the same issue.
curl --request PATCH --header "Content-Type:application/merge-patch+json" http://$ip:8080/apis/extensions/v1beta1/namespaces/default/deployments/deploymen‌​t-patch --data '{"spec":{"template":{"spec":{"containers":[{"name":"mofang-web","image":"abc.co‌​m\/docker\/mofang-web-cc:stable"}]}}}}'

version:1.22

[2016-05-27 08:44] ixdy commented on #25940
At one point we did only run a few things in CI: #21352

Previous discussion of unit/integration getting slower: #21937 #24285

[2016-05-27 09:08] #26353 closed

[2016-05-27 09:16] workhardcc opened #26412 "PATCH one container image, the other container in the same pod is gone."
kube version:1.22 and 1.24
OS distro: centos 7.2.1511
Steps to reproduce the problem:
1.create a deployment by config file:
[code]
2.Use PATCH api to update container's image
`curl --request PATCH --header "Content-Type:application/merge-patch+json" http://10.1.1.1:8080/apis/extensions/v1beta1/namespaces/default/deployments/deployment-patch --data '{"spec":{"template":{"spec":{"containers":[{"name

[2016-05-27 09:22] #26138 closed

[2016-05-27 09:38] errordeveloper commented on #22911
I am wondering if this depends on Docker version, and not so much the graph driver.

[2016-05-27 09:46] errordeveloper commented on #25056
@apatil do you have `findmnt` installed on the Docker host?

[2016-05-27 10:26] zefciu commented on #17010
Looking...

[2016-05-27 11:01] jsafrane commented on #26233
@jeffvance, you're right, pre-bound PVs are always matched first, as side-effect of dynamic provisioning which uses the same mechanism to bind provisioned volumes to claims.

Question is if benefit of more predictable binding excuses costs of effort required to rewrite the matching... We should eventually bind volumes in `syncVolume` (i.e., when a claim is created first and a volume after that) an

[2016-05-27 11:06] mikebrow commented on #25452
I had the same fail on the current build and have verified that his stub is needed to run the e2e tests on local.

[2016-05-27 11:37] Trane9991 commented on #24484
The same problem.

Strage that after running newrelic agent in docker contaienr manually with
`sudo docker run -it --privileged=true --pid=host --net=host -v /sys:/sys -v /dev:/dev -v /var/run/docker.sock:/var/run/docker.sock -v /var/log:/var/log:rw -e NRSYSMOND_license_key=REPLACE_WITH_REAL_KEY -e NRSYSMOND_logfile=/var/log/nrsysmond.log newrelic/nrsysmond:latest bash`

**/dev/mqueue** was automo

[2016-05-27 11:38] dims commented on #26412
@workhardcc Did you already review this doc? https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#patch-operations

Can you please try "application/strategic-merge-patch+json" mentioned there?

[2016-05-27 11:46] dims commented on #26404
@AlbertoPeon Do you see failures on Nova/Cinder because of this?

[2016-05-27 11:55] dims commented on #26408
@steve-ng Does liveness check(s) help?

http://kubernetes.io/docs/user-guide/liveness/
http://kubernetes.io/docs/user-guide/production-pods/#liveness-and-readiness-probes-aka-health-checks

[2016-05-27 11:58] dims commented on #26409
@Simon-lush : does `kubectl describe pod pxc-node2` show any information? There are a few more tips here http://kubernetes.io/docs/user-guide/introspection-and-debugging/

[2016-05-27 12:03] wojtek-t commented on #25940
@lavalamp - what's the point in testing multiple "KUBE_TEST_ETCD_PREFIXES".
Since neither unit test nor integration tests don't test upgrades, I think it doesn't make any sense at all to test different values of those.
I will send a short PR for it.

[2016-05-27 12:07] acavas1 commented on #26259
@smarterclayton I'm having the same issue. If you don't mind explaining how to hardlink docker-current process to docker. Thanks

[2016-05-27 12:09] workhardcc commented on #26412
You're right. I read this paper this afternoon and found my mistake. Sorry for my fault. Thanks for your reply!
After read this doc I thought that I can remove all existing label and add a new label for a pod by use command as below:
[code]
`curl --request PATCH --header "Content-Type:application/json-patch+json" http://10.1.1.1:8080/api/v1/namespaces/default/pods/all-flow-0fbah --data '{"metadata

[2016-05-27 12:29] TomasTomecek commented on #26259
`ln docker-current docker`

[2016-05-27 12:34] acavas1 commented on #26259
thanks

[2016-05-27 12:43] dims commented on #26412
Here's an example curl based on the information in that document.

[code]

I also cheated just a little bit :) by running the following to see what happens (note the -v=99 turns verbose mode on way up so you will see lots of details) :

`kubectl --v=99 label pods my-nginx-2494149703-djgdv xunhealthy-`

[2016-05-27 12:48] zefciu commented on #17010
@janeutko: Do we only need to test arguments' validation or should we also test the output that is sent to API?

[2016-05-27 12:49] #25047 closed

[2016-05-27 12:50] AdoHe commented on #25585
Opened a PR #26418 ptal.

[2016-05-27 12:55] acavas1 commented on #26259
I couldn't do a hard link in a bin directory as there already is a file named docker, so i moved docker-current, renamed it to docker and edited the  /usr/lib/systemd/system/docker.service file with the new location of the renamed docker-current file.
Now I don't get the error, but get � in browser when I try to access the console.

[2016-05-27 12:56] workhardcc commented on #26412
I got it! Thanks a lot!

[2016-05-27 12:56] acavas1 commented on #26259
My didn't access it with https.

[2016-05-27 12:57] #26412 closed

[2016-05-27 13:28] wojtek-t commented on #25940
I've sent our https://github.com/kubernetes/kubernetes/pull/26416 for review. This PR saves ~10-15 minutes on unit/integration tests. It's still not great, but at least better that it was.

[2016-05-27 13:30] smarterclayton commented on #26259
@derekwaynecarr system container Cgrouping is broken with the latest docker packages due to the process name changing.

[2016-05-27 13:32] sttts commented on #26210
@krousey @gmarek in https://github.com/kubernetes/kubernetes/issues/21484#issuecomment-213591543 it was mentioned that Google-internally there is access to the gke apiserver logs. Could one of you try to get access to the relevant part in one of the upper gke flakes?

Recently it looks like this flake happens on gke only. Here is one for example: https://console.cloud.google.com/storage/browser/ku

[2016-05-27 13:33] dims commented on #26259
@acavas1 : can you try setting the pidfile parameter for your docker daemon? that may be an easier work around?

--pidfile=/var/run/docker.pid

Thanks,
Dims

[2016-05-27 13:34] bprashanth commented on #26409
Deploying galera is a little tricky. Unfortunately if you start them all up at the same time with the wrong gcomm string, members might start crashing and require human intervention. To help with situations like this we developed petset (in 1.3 and head). You can find petset galera example here:

[2016-05-27 13:37] dims commented on #26409
This one right @bprashanth?
https://github.com/kubernetes/kubernetes/pull/25848/commits/d57575762b8da8d925db931675eda6bacd12c293#diff-b4499bc7dee379adfbd1c0e2586760c2R1

[2016-05-27 13:37] bprashanth commented on #26409
On a phone and hit send to soon. https://github.com/kubernetes/contrib/tree/master/pets/mysql/galera

Note if you're actually going to try it right now with HEAD, there's a DNS bug that I'm fixing: https://github.com/kubernetes/kubernetes/pull/26393

[2016-05-27 13:38] bprashanth commented on #26409
@dims checked in now, works modulo bugs

[2016-05-27 13:39] dims commented on #26409
@bprashanth yay! :)

[2016-05-27 13:40] Gnouc commented on #26259
@acavas1 Change the docker script to use `#!/bin/bash`, then replace the `exec` line with `exec -a docker`.

[2016-05-27 13:47] timothysc commented on #25691
So I ran a number of experiments locally and here are my results.

When running 100's of iterations I had 0 failures.  So I decided to try testing to see what happens when I do too many tests in parallel.  Using a simple script:

[code]

I can essentially peg my cpu, hit swap, and cause timeouts.  In general, I think a lot of these flakes are due to running too many jobs concurrently.  Ideally, we

[2016-05-27 13:47] #25691 closed

[2016-05-27 13:47] huang195 opened #26419 "Problem when bootstrapping Kubernetes on Mesos HA cluster"
We're setting up a K8sm HA cluster following the instruction described here: https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/docs/ha.md

We have a few dedicated master nodes just for running kube apiserver, scheduler, and controller manager. Kube apiserver runs on each of the master nodes, and scheduler and controller manager only runs on one of the master nodes, and this is coo

[2016-05-27 13:51] timothysc opened #26420 "Build infrastructure: Eliminating flakes at the source."
So I ran a number of experiments locally trying to reproduce a number of test flakes in the registry.

When running 100's of iterations I had 0 failures. So I decided to try testing to see what happens when I do too many tests in parallel. Using a simple script:

[code]

I can essentially peg my cpu, hit swap, and cause timeouts. In general, I think a lot of these flakes are due to running too man

[2016-05-27 13:52] wojtek-t commented on #25940
BTW - I took a look into where we spend time in those runs and the biggest chunks are:
- 20m in hack/verify-all.sh (the biggest chunk seem to be verify_codecgen.sh ~7m)
- 2 x 5m - running unit tests
- 2 x 10m - running integration tests

We can try improving things, but generally, I don't think we will significantly reduce time neither unit or integration tests take. Which means that we are alread

[2016-05-27 13:58] #26346 closed

[2016-05-27 14:01] errordeveloper opened #26421 "Should back-off when tearing orphaned volume down fails"
Kubelet (v1.2.4) can consume a lot cycles and when it keeps trying to tear orphaned volumes down:
[code]

[2016-05-27 14:04] krousey commented on #26210
@sttts #26379 :cry:

Is there one before 5/23 that would help?

[2016-05-27 14:08] sttts commented on #26210
@krousey https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7336/ is the last in the old issue, 8 days old.

[2016-05-27 14:10] wojtek-t commented on #25940
@lavalamp
Actually, I started wondering what's the point in running unit/integration tests with just a subset of api groups (my question especially applies to unit tests).

I understand that we may want to switch some api groups to avoid running controllers to speed the up (or because they are in development can can interact badly with other controllers).
But for unit tests - it doesn't make sense

[2016-05-27 14:11] derekwaynecarr commented on #26259
This has been fixed in Kubernetes here:
https://github.com/kubernetes/kubernetes/pull/25907

[2016-05-27 14:21] drashkov commented on #25585
Thanks everyone.

[2016-05-27 14:24] wojtek-t commented on #25940
And regarding verify-* scripts - we spend 1/3rd of those 20m on actually building necessary scripts one by one. Maybe building them all at once and then calling scripts from after-build/ directory would also help here...

[2016-05-27 14:25] #26259 closed

[2016-05-27 14:27] bgrant0607 commented on #24198
Sorry, quick response: We intentionally do not record the default values, and we should not.

[2016-05-27 14:28] sttts opened #26424 "kubectl exec doesn't return command exit code"
[code]

The last line should be 5.

[2016-05-27 14:33] derekwaynecarr commented on #26259
The origin cherry pick is here: https://github.com/openshift/origin/pull/9060

[2016-05-27 14:38] k8s-merge-robot opened #26425 "[k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17696/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-27 14:40] #26377 closed

[2016-05-27 14:44] bgrant0607 commented on #26202
@AdoHe We should not add default values to `last-applied-configuration`. Unfortunately the design hasn't been written up yet, but there's some discussion on #1702, I think.

[2016-05-27 14:45] bgrant0607 commented on #26202
Changing selectors has other problems, also. For instance, it's a map, and maps are merged by default.

Also note that a default selector won't be changed automatically when pod template labels are changed.

[2016-05-27 14:56] k8s-merge-robot opened #26426 "Container runtime Conformance Test container runtime conformance blackbox test when running a container with invalid image it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when running a container with invalid image it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-27 14:56] k8s-merge-robot opened #26427 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits failure it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits failure it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-27 14:56] k8s-merge-robot opened #26428 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that exits successfully it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-27 14:56] k8s-merge-robot opened #26429 "Container runtime Conformance Test container runtime conformance blackbox test when start a container that keeps running it should run with the expected status [Conformance] {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Failed: Container runtime Conformance Test container runtime conformance blackbox test when start a container that keeps running it should run with the expected status [Conformance] {E2eNode Suite}

[code]

[2016-05-27 14:56] k8s-merge-robot opened #26430 "Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod it should have an error terminated reason {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Failed: Kubelet Container Manager oom score adjusting when scheduling a busybox command that always fails in a pod it should have an error terminated reason {E2eNode Suite}

[code]

[2016-05-27 14:56] k8s-merge-robot opened #26431 "[k8s.io] Kubelet metrics api when querying /stats/summary it should report resource usage through the stats api {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Failed: [k8s.io] Kubelet metrics api when querying /stats/summary it should report resource usage through the stats api {E2eNode Suite}

[code]

[2016-05-27 14:56] k8s-merge-robot opened #26432 "[k8s.io] Kubelet when scheduling a busybox command in a pod it should print the output to logs {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Failed: [k8s.io] Kubelet when scheduling a busybox command in a pod it should print the output to logs {E2eNode Suite}

[code]

[2016-05-27 14:56] k8s-merge-robot opened #26433 "[k8s.io] Kubelet when scheduling a read only busybox container it should not write to root filesystem {E2eNode Suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/3403/

Failed: [k8s.io] Kubelet when scheduling a read only busybox container it should not write to root filesystem {E2eNode Suite}

[code]

[2016-05-27 15:02] derekwaynecarr commented on #19163
@kubernetes/kubectl - can you please weigh in here:

https://github.com/kubernetes/kubernetes/issues/19163#issuecomment-220906195

[2016-05-27 15:06] derekwaynecarr commented on #26290
@wojtek-t - I don't think we can safely delete a namespace unless all stores reply back.

this is usually always an issue kubelet side.  I can look next week, but would not object to help from others.

[2016-05-27 15:28] dims commented on #26424
@sttts i am trying kubectl 1.2.4 and i see

[code]

[2016-05-27 15:31] #25761 closed

[2016-05-27 15:36] bprashanth commented on #26311
https://github.com/kubernetes/kubernetes/pull/26415

[2016-05-27 15:36] #26311 closed

[2016-05-27 15:48] Project0 opened #26434 "Swagger API: invalid schema v1.FinalizerName"
v1.FinalizerName seems to be invalid/incomplete in the swagger spec, its assumes an string, but properties is an empty object in definition.
This brokes the usage of listNamespace.

[2016-05-27 15:48] vishh commented on #26390
Can we stress test the daemon in a separate test suite? It is much simpler
to stress test docker daemon wrt. image pulls as part of the node test
suite.

If we want to have a test setup that matches customer's production
clusters, why not have a dedicated test suite for that.

On Thu, May 26, 2016 at 5:27 PM, Prashanth B <notifications@github.com>
wrote:

[2016-05-27 15:54] dchen1107 commented on #26431
I quickly scanned through the testing log, and noticed that all tests on such coreos node are failed, not only this one test case, but passed on the different os distro. Looks like it is coreos related issue. Unassigned @timstclair, @euank please triage.

[2016-05-27 15:54] gmarek commented on #25849
I agree - is that the lack of logs makes the debugging impossible, so this is blocked on kubernetes/test-infra#79

[2016-05-27 15:55] bprashanth commented on #26390
clusters, why not have a dedicated test suite for that.

I disagree with this. It's one thing to have a local cache (or cache proxy) for gcr.io, and a completely different thing to not test what your customers are actually running via the defacto cluster setup. Image pulling is too big a piece to mock out, unless we think the local registry approach is flawed in some way.

[2016-05-27 15:57] dchen1107 commented on #26431
Summarizing 12 Failures:

[Fail] MirrorPod when create a mirror pod  [BeforeEach] should be recreated when mirror pod gracefully deleted
/var/lib/jenkins/workspace/kubelet-gce-e2e-ci/go/src/k8s.io/kubernetes/test/e2e_node/mirror_pod_test.go:56

[Fail] MirrorPod when create a mirror pod  [BeforeEach] should be recreated when mirror pod forcibly deleted
/var/lib/jenkins/workspace/kubelet-gce-e2e-ci/

[2016-05-27 16:01] dchen1107 commented on #26426
This is a dup of https://github.com/kubernetes/kubernetes/issues/26431 and most of tests are failed on coreos node.

[2016-05-27 16:01] #26426 closed

[2016-05-27 16:02] dchen1107 commented on #26427
Dup of https://github.com/kubernetes/kubernetes/issues/26431

[2016-05-27 16:03] #26427 closed

[2016-05-27 16:03] dchen1107 commented on #26428
dup of https://github.com/kubernetes/kubernetes/issues/26431

[2016-05-27 16:03] #26428 closed

[2016-05-27 16:03] dchen1107 commented on #26430
dup of https://github.com/kubernetes/kubernetes/issues/26431

[2016-05-27 16:04] #26430 closed

[2016-05-27 16:04] dchen1107 commented on #26432
dup of https://github.com/kubernetes/kubernetes/issues/26431

[2016-05-27 16:04] dchen1107 commented on #26433
dup of https://github.com/kubernetes/kubernetes/issues/26431

[2016-05-27 16:06] dchen1107 commented on #26403
@lavalamp Please triage.

[2016-05-27 16:15] lattwood commented on #11935
One project that may serve as inspiration is supergiant- they do "right sizing" of autoscaling nodes based on the pods it's unable to schedule: https://github.com/supergiant/supergiant

[2016-05-27 16:19] dchen1107 commented on #26420
This issue is arguably a flake or enhancement, but @timothysc I agree with you that some of the flakes are due to the load on the test machine.

[2016-05-27 16:20] pwittrock opened #26435 "Node e2e does not return error from copying test artifacts"

[2016-05-27 16:31] #26433 closed

[2016-05-27 16:31] #26432 closed

[2016-05-27 16:32] dchen1107 commented on #26429
dup of https://github.com/kubernetes/kubernetes/issues/26431

[2016-05-27 16:32] #26429 closed

[2016-05-27 16:36] sttts commented on #26424
@dims that's right. But the return code in the shell of the whole command is 1, compare `$?`.

[2016-05-27 16:37] bgrant0607 commented on #15894
Summary (to be transcribed into a doc):

Apply conceptually is intended to enable users to just specify a configuration and "make it so". But it's not that easy.

We represent default values explicitly in the API so that system components, ecosystem components, tools, and users don't need to reason about implicit behaviors, especially since such behaviors can change across API versions.
https://gi

[2016-05-27 16:37] quinton-hoole opened #26436 "kubernetes-e2e-gce-federation is failing consistently with 'projects/k8s-jkns-e2e-gce-federation/global/firewalls/jenkins-e2e-minion-jenkins-e2e-http-alt' was not found"
Just to make sure that this is getting attention.  Pretty sure that @colhom is busy fixing this, but I could not find the tracking issue.  Feel free to assign this back to me if necessary.

[code]
Recording test results
ERROR: Step ‘Publish JUnit test result report’ failed: No test report files were found. Configuration error?
[PostBuildScript] - Execution post build scripts.
[kubernetes-e2e-gce-f

[2016-05-27 16:38] bgrant0607 commented on #26202
I wrote a brief explanation here: https://github.com/kubernetes/kubernetes/issues/15894#issuecomment-222194015

[2016-05-27 16:38] dims commented on #26424
@sttts ack, just making sure we are seeing the same thing :)

[2016-05-27 16:39] bgrant0607 commented on #15894
ObjectMeta.CreationTimestamp should be a pointer, for example.

[2016-05-27 16:40] sttts commented on #26424
Haven't looked into the code yet. Not sure cobra supports that.

[2016-05-27 16:45] janetkuo commented on #20836
All fixed now. Closing.

[2016-05-27 16:45] #20836 closed

[2016-05-27 16:47] errordeveloper commented on #25056
@apatil in our case it seems like a similar situation causes kubelet to simply eat too much CPU (https://github.com/kubernetes/kubernetes/issues/26421), cause it's not able to remove orphaned vols... could it really be the same thing in your case?

[2016-05-27 16:48] errordeveloper commented on #22911
xref https://github.com/kubernetes/kubernetes/issues/26421

[2016-05-27 16:58] #26350 closed

[2016-05-27 16:59] #26199 closed

[2016-05-27 17:00] ixdy commented on #25940
I think we should still aim to run unit/integration tests exactly once in PR Jenkins. In post-submit Jenkins we can run both configurations.

If we do that, what's the proper `KUBE_TEST_API_VERSIONS` setting to use for PR Jenkins?

[2016-05-27 17:01] AdoHe commented on #15894
@bgrant0607 Thanks very much :) I will look at this carefully.

[2016-05-27 17:01] colhom commented on #26436
@quinton-hoole @nikhiljindal I have a PR up for this already. It's caused by the docker version on the upstream Jenkins workers being older than ours.

#26396

[2016-05-27 17:04] colhom commented on #26436
Oh nevermind, this is a different error. it Seems that the issue #26396 is addressing with kubernetes-federation-build must have been resolved via other means sometime last night.

[2016-05-27 17:11] #26108 closed

[2016-05-27 17:15] adityakali commented on #26379
@kubernetes/goog-image

[2016-05-27 17:16] colhom commented on #26436
The root cause is this line:
[code]

This is caused by the image repo and tag not being in the expected text file, which is caused by `kubernetes-federation-build` job failing. The root cause of that is still #26396. We should try to get that merged ASAP, and once the build starts succeeding this issue could be fixed.

Alternatively we could upgrade the Jenkins slave docker version.

[2016-05-27 17:17] ericchiang commented on #25860
This was fixed in #25634 by adding a logic to client generate which detect a doc.go comment. That comment is used at the actual group name instead of the directory name.

[code]

Directory names are still expected to not have a dot in them.

Example here: https://github.com/kubernetes/kubernetes/blob/294e49f8b984c5834e069258a51e68cd7c11e572/pkg/apis/rbac/doc.go#L17

[2016-05-27 17:17] #25860 closed

[2016-05-27 17:20] ericchiang commented on #23396
@erictune I've added a comment[0] to kubernetes/features#2. Do you want me to reproduce that here?

I'm a little unfamiliar with that repo and it's role. Which issue is the best place to track progress?

[0] https://github.com/kubernetes/features/issues/2#issuecomment-222202448

[2016-05-27 17:20] pwittrock commented on #23389
Looks like this is caused by #15493

[2016-05-27 17:21] pwittrock commented on #23389
Closing this as a duplicate

[2016-05-27 17:22] mikebrow commented on #26431
Seeing similar fails on the master with local e2e testing on ubuntu 16.04lts with docker 1.11.1.

[2016-05-27 17:23] janetkuo commented on #26425
But we do see the request resource `pod/update-demo-kitten-2z6y0` in the log:
[code]

[2016-05-27 17:33] pwittrock commented on #26435
cc @vishh

[2016-05-27 17:35] ixdy commented on #26383
We may want to change `hack/jenkins/build.sh` to only build/upload if the artifacts aren't already there.

The side effect is that if there is a bad build and we need to rebuild at the same sha1, we'll need to explicitly delete the old artifacts. That's probably OK though.

[2016-05-27 17:38] a-robinson commented on #26383
Ack. Assigning to you as current test infra oncall. This is causing a lot of flakes in the GKE suites. Let me know if there's anything I can do to help

[2016-05-27 17:45] dims commented on #26424
@sttts looks like kubelet itself is treating exit code and the error stream as one thing. This will take some non-trivial work i think

[2016-05-27 17:56] metral commented on #26202
Ran into this myself. In the meantime is there a work around that doesn't require blowing away `last-applied-configuration`?

[2016-05-27 17:58] thockin commented on #23103
Dup of  #25020

[2016-05-27 17:58] #23103 closed

[2016-05-27 18:04] justinsb commented on #25668
This will likely best be done as part of #23478

[2016-05-27 18:05] dchen1107 commented on #25456
@bprashanth docker 1.11.1 image was out a while back, can we reproduce the issue?

[2016-05-27 18:06] timothysc commented on #19720
We do everything in the open.  Here is our current issue list:

https://bugzilla.redhat.com/buglist.cgi?bug_status=__open__&content=docker%201.10.3&list_id=5189164&order=Importance&query_format=specific

[2016-05-27 18:07] justinsb commented on #25476
When did you see this error?  It sounds more like the account under which you were running kube-up does not have permissions to call CreateLaunchConfiguration...

[2016-05-27 18:09] justinsb commented on #24854
That is correct.  Can you propose an improvement to the docs?

[2016-05-27 18:11] justinsb commented on #25075
I think this will likely be fixed as part of #23478

[2016-05-27 18:12] wojtek-t commented on #26062
I'm reopening it, because we still didn't fix it (we only fixed the disappearing data from flannel etcd).

@xiang90 - yeah those logs aren't from etcd. The logs from etcd doesn't give us anything (there is nothing suspicious there).

I don't understand what is happening. @lavalamp - there are no signs of OOMs, no events, nothing in kernel logs, etc. I'm not sure what we should look at now.

[2016-05-27 18:13] justinsb commented on #21153
Probably will be fixed as part of #23478

[2016-05-27 18:13] caesarxuchao commented on #19163
I think kubectl should return an error in this case

IMO it should also return an error in this case.

cc @janetkuo @bgrant0607

[2016-05-27 18:13] justinsb commented on #21389
Probably better done as part of #23478

[2016-05-27 18:14] justinsb commented on #21384
Probably best done as part of #23478

[2016-05-27 18:15] a-robinson commented on #26383
Is there any reason that this would be affecting GKE, but not GCE? That's the part that confuses me.

[2016-05-27 18:16] bprashanth commented on #25456
Oh, hmm, i swapped out my exec probe with a http probe that installed mysql. I'll try once I've got the other bugs sorted out and report back.

[2016-05-27 18:22] krancour commented on #17088
@jimmycuadra I had the same confusion up to a point.

[2016-05-27 18:27] timstclair commented on #24508
I just saw this again from the PR builder: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/24771/node-pull-build-e2e-test/8199/build-log.txt

[2016-05-27 18:30] #25467 closed

[2016-05-27 18:31] spxtr commented on #23350
Okay, this should stop showing up and instead we'll get BeforeSuite errors. The upside to that is that we won't pass the test run when it happens.

[2016-05-27 18:31] #23350 closed

[2016-05-27 18:32] #22407 closed

[2016-05-27 18:36] derekwaynecarr commented on #26369
@huang195 - can you elaborate what you mean by flavors?

Are you implying you want to support things like:

type1: requests=cpu=100m,memory=2Gi
type2: requests=cpu=1,memory=4Gi
...

And then only support pods that match a specific resource requirement?

[2016-05-27 18:39] vishh commented on #26390
Given that we don't have any data against the local registry option I think
it is definitely worth giving a shot!

In general I feel that we need more focussed tests that having all the
tests have a lot of dependencies.

On Fri, May 27, 2016 at 8:56 AM, Prashanth B <notifications@github.com>
wrote:

[2016-05-27 18:42] ixdy commented on #26383
Bad luck? It should be affecting both.

[2016-05-27 18:43] ixdy commented on #25940
Feel free to assign back to me once we've decided what `KUBE_TEST_API_VERSIONS` to use.

[2016-05-27 18:51] ericchiang commented on #26385
@dims to the best of my knowledge gopkg.in doesn't support the git:// scheme. It's not simply redirecting you to github, it's actually rewriting the refs[0] so the go tool thinks it's cloning the default branch.

[code]

The errors look like they were cased by gopkg.in being down, and not being able to get the info needed to find the git repo.

[code]

[0] https://github.com/niemeyer/gopkg/blob/65

[2016-05-27 18:52] lavalamp commented on #26385
Is this a failure running the godep verification script?

[2016-05-27 18:53] dims commented on #26385
@ericchiang i see..please see the "go get -u github.com/onsi/gomega" in the last comment from @janetkuo

[2016-05-27 18:53] lavalamp commented on #26385
@mhrgoog, @david-mcmahon, @thockin: can one of you take this? I've got no time to dig in.

Is this really P0?

@dims Would that make a difference? It looks like the problem is connectivity, I don't know that changing the transport would help?

[2016-05-27 19:00] lavalamp commented on #25940
The point is to keep it working. It doesn't have anything to do with upgrades. It is however fine to not run it as a *cross product* with the other choices, that is wrong and we used to not do that.

[2016-05-27 19:00] a-robinson commented on #26379
I can't actually verify whether nslookup fails, because I can't even apt-get install dnsutils due to not being able to resolve archive.ubuntu.com :/

`ping google.com` doesn't work either. DNS is just completely busted inside the fluentd container.

Hitting the metadata server at its IP address works fine:
[code]

[2016-05-27 19:01] lavalamp commented on #26379
@wonderfly @andyzheng0831 since this is probably GCI related.

[2016-05-27 19:01] lavalamp commented on #26379
@girishkalele since you were talking to me about something that sounds similar.

[2016-05-27 19:02] bprashanth commented on #26379
But you can docker exec into etcd and nslookup say? i think nslookup is already present in etcd since it's busybox based

[2016-05-27 19:02] jmheidly commented on #9260
Has anything been done in this regard??

[2016-05-27 19:05] ixdy commented on #26383
*cries* https://github.com/kubernetes/kubernetes/blob/a092fd2dd4091b735cc2389015ce4bef951abfab/build/common.sh#L1113-L1117

[code]

[2016-05-27 19:07] ixdy commented on #26383
Actually, this may be as simple as unsetting KUBE_GCS_DELETE_EXISTING in `build/push-ci-build.sh`. I'll do that now.

[2016-05-27 19:13] dims commented on #26434
Guess its one of those things limited by the expressiveness of swagger. Here's the intent:
https://github.com/kubernetes/kubernetes/blob/4db3cc7e5ef74aacd7609a90cc362b8b4eab1a98/docs/design/namespaces.md#finalizers

cc @kubernetes/sig-api-machinery

[2016-05-27 19:14] cdrage opened #26444 "Enabling TLS on the kubernetes docker local development."
Powering through the code here: https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/static-pods/master.json

I see references to TLS certification / ca files / etc.

I've tried for the life of me to get this working by going through http://kubernetes.io/docs/admin/authentication/

and applying it to:

http://kubernetes.io/docs/getting-started-guides/docker/

But I get a

[2016-05-27 19:16] #26383 closed

[2016-05-27 19:20] pwittrock commented on #26318
I can pick this up

[2016-05-27 19:22] david-mcmahon opened #26445 "Make kube::release::gcs::copy_release_artifacts() atomic"
Fix the story in https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L1119 around ensuring release artifacts are copied in an atomic and sane way.

See also #26443

cc @ixdy

[2016-05-27 19:22] krousey commented on #26379
@a-robinson nslookup works fine on my GCE master. Are you sure this affects k8s on GCE as well?

[2016-05-27 19:27] a-robinson commented on #26379
Yes, but only in the fluentd container.

@bprashanth - it resolves just fine from within etcd, but that uses host networking.

[2016-05-27 19:28] a-robinson commented on #26379
fluentd-es's resolv.conf on a master:
[code]

etcd's / the host's:
[code]

[2016-05-27 19:29] a-robinson commented on #26379
Presumably the problem is that the kube-proxy isn't running on the master, so it can't reach the nameserver at 10.0.0.10. I'm not sure why this broke on Monday, though.

[2016-05-27 19:30] bprashanth opened #26447 "Update ingress docs"
With feedback from https://code.google.com/p/google-cloud-sdk/issues/detail?id=838

[2016-05-27 19:37] pwittrock commented on #25966
@vishh I think i know what needs to be done here

[2016-05-27 19:44] a-robinson commented on #26379
Ok, ignore that case, since that's just a matter of fluentd-es being brought up on the master when it shouldn't be, without dnsPolicy set to Default.

But on the GKE master (and presumably on a gce master if you configure it to use fluentd-gcp), you get this resolv.conf, yet resolution still doesn't work:
[code]

So it looks like the GCE DNS server isn't reachable from within the container

[2016-05-27 19:45] a-robinson commented on #26379
[code]

[2016-05-27 19:46] dims commented on #26444
I count 6 flags, not all the command lines have all the options (by design):
[code]

Magnum has good examples of securing the services:
http://codesearch.openstack.org/?q=client-ca-file%7Ctls-cert-file%7Ctls-private-key-file%7Croot-ca-file%7Cservice-account-private-key-file%7Cservice-account-key-file&i=nope&files=magnum%2Ftemplates%2Fkubernetes%2Ffragments%2F.*&repos=

[2016-05-27 19:47] a-robinson commented on #26379
[code]

[2016-05-27 19:49] huang195 commented on #26369
Yeah, exactly.

[2016-05-27 19:50] a-robinson commented on #26379
On the host, it's clear no packets are making it through the docker bridge:
[code]

[2016-05-27 19:50] huang195 commented on #26369
Additionally, when user specifies a "partial" request, e.g., request=cpu=100m, it will fill the complete flavor as requests=cpu=100m,memory=2Gi.

[2016-05-27 19:54] #26361 closed

[2016-05-27 19:57] lavalamp commented on #26205
@apelisse was interested in working on this.

[2016-05-27 19:59] davidopp commented on #24200
#25571 fixed the most egregious situation but we need to more work on this in 1.4, so moved to 1.4 milestone

[2016-05-27 19:59] wojtek-t commented on #25940
The point is to keep it working. It doesn't have anything to do with upgrades. It is however fine to not run it as a cross product with the other choices, that is wrong and we used to not do that.

OK, but do we need to run it in presubmit? Also, do we need to run it in unit tests? Noone ever was even close to breaking it...

To be honest, I think we have a dedicated unit/integration test to test

[2016-05-27 20:00] apatil commented on #25056
Hi @errordeveloper, unfortunately the machine where this issue was observed has been shut down. I saw something similar since then, though, and have a hunch about what was going on.

A running pod had an NFS volume source, then the NFS server was shut down. The result was that there were some folders in `/var/lib/kubelet` in which recursive walkers like `find` and `du` would hang as described here

[2016-05-27 20:01] huang195 commented on #26369
Clarification: I meant container flavors only, not pods.

[2016-05-27 20:09] bgrant0607 commented on #15244
Copied from #562

Concept doc mocks:
https://docs.google.com/presentation/d/14mJwJGlwBJHIpMRGR-nYMSyyNk-kRpabyz74-YYXeTo/edit#slide=id.g12d21f53ed_0_6

We need an overview doc: what is it, when should it be used, required fields, commonly used fields, useful status, when to use something else (controllers, in this case). Some of this is in http://kubernetes.io/docs/user-guide/configuring-container

[2016-05-27 20:10] bprashanth commented on #26379
there's probably a bug with running non-host networked pods on the master. your cbr0 has some 172 address. I'm guessing this doesn't match the podcidr on your master. I think there's an implicit assumption that master components run with host networking. With kubenet (network plugin) we should be creating cbr0 with the right cidr and not even requiring a docker restart, maybe it's still running so

[2016-05-27 20:18] euank commented on #26431
I see timeouts in the log, and I don't see docker containers transitioning to running. I'm looking into this further.

`E0527 14:24:04.466812    1308 kubelet.go:2280] Error listing containers: dockertools.operationTimeout{err:(*errors.errorString)(0xc820015360)}`

[2016-05-27 20:21] mbruzek opened #26450 "How does the PR template release-note label system work?"
I created #26446 with
[code]
from the start but the k8s-merge-robot added  release-note-label-needed  to the PR.

I have read the PR process: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/pull-requests.md#release-notes and I don't see where the "release-note-label-needed" tag comes off the PR for ones requesting that status.

Please clarify.

[2016-05-27 20:24] Amey-D commented on #26379
On the same instance as @a-robinson 's:

# docker run busybox ping -c3 www.google.com
ping: bad address 'www.google.com'

# docker run --net=host busybox ping -c3 www.google.com
PING www.google.com (173.194.195.105): 56 data bytes
64 bytes from 173.194.195.105: seq=0 ttl=55 time=0.638 ms
64 bytes from 173.194.195.105: seq=1 ttl=55 time=0.473 ms
64 bytes from 173.194.195.105: seq=2 ttl=55 time=0.52

[2016-05-27 20:28] timothysc commented on #26406
/cc @rrati @kubernetes/sig-scalability

[2016-05-27 20:35] lavalamp commented on #25940
Yes, we could be more intelligent about this.

[2016-05-27 20:35] euank commented on #26431
Since the image used in the test (kubernetes-jenkins, e2e-node-coreos-stable20160218-image) is not available to me, I can't really look into this issue with confidence I've got a similar enough setup.

Any chance the images could be made public or whatever code produces it can be?
If someone with access to these nodes could upload systemctl status information (any failed units) and Docker's logs,

[2016-05-27 20:40] yujuhong commented on #26450
Someone needs to apply the release-note-* label to the PR, and non-maintainers don't have the permission to apply the labels AFAIK.
The merge-bot doesn't know how to parse your comment and apply the label. You'll need to wait until the reviewer to do it manually for you.

[2016-05-27 20:41] mbruzek commented on #26450
Ok thanks!

[2016-05-27 20:41] #26450 closed

[2016-05-27 20:54] Amey-D commented on #26379
I manually added some iptables rules and tweaked docker0 on the master instance:

    # iptables -A FORWARD -o cbr0 -j DOCKER
    # iptables -A FORWARD -o cbr0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
    # iptables -A FORWARD -i cbr0 ! -o cbr0 -j ACCEPT
    # iptables -A FORWARD -i cbr0 -o cbr0 -j ACCEPT
    # ip addr del 172.17.0.1/16 dev docker0
    # docker run busybox ping -c3 www

[2016-05-27 20:56] euank opened #26452 "unit test flake - TestWatchContextCancel - watcher_test.go:196: cancelling context shouldn't return any error. Err: <nil>"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26397/kubernetes-pull-test-unit-integration/28223/

[code]

cc @hongchaodeng

[2016-05-27 21:01] timothysc commented on #26385
umm why are you pulling an updated dep to the node-e2es?

There is already a vetted version in the vendored/godeps.  You could literally break yourself on an random update..?

This step seems unnecessary.

[2016-05-27 21:03] mikedanese commented on #25940
By my calculations, testapi is used in 12% of packages:
[code]

I'm going to start by only running those tests in the apigroup matrix

[2016-05-27 21:13] jbeda commented on #16508
For me, I'd consider this done when we stop building and distributing separate binaries for the core serve components -- the api server, scheduler, controller manager, proxy and kubelet.  That'll make it easier to be version aligned, make the builds faster and the distributions smaller.

Having kubectl in there is a question in my mind considering that the users are usually different.  Cluster use

[2016-05-27 21:17] hongchaodeng commented on #26452
This happened due to grpc issue. grpc somehow forgot sending context cancelled error back.
It's fixed in https://github.com/grpc/grpc-go/commit/9ac074585f926c8506b6351bfdc396d2b19b1cb1
Bumping up etcd dep should fix it.

[2016-05-27 21:17] janetkuo commented on #26425
Hmm it's not a "pod not found" error but a `404` status error

[2016-05-27 21:19] krmayankk commented on #16508
@jbeda sorry i always seem to use kubectl when i mean kubelet. Running kubelet is container is experimental. So are we just talking about distributing hyperkube, and running it uncontainerized or this bug includes both distributing a single binary and running it containerized. We like the hyperkube model and are betting on it.

[2016-05-27 21:22] ixdy commented on #26361
We're testing one of the GCE builds in europe now. GKE will take more work on the internal side to support.

[2016-05-27 21:26] jbeda commented on #16508
In my mind this is just about getting the number of build artifacts reduced.  Getting it running in a container is a different effort.  However, there is some overlap because if we do it right then we can put hyperkube in a container and use the same container for multiple roles.

[2016-05-27 21:29] krmayankk commented on #16508
@jbeda thanks, that makes sense and seem to be the model we are thinking when deploying kubernetes internally. i will keep a close eye on this.

[2016-05-27 21:32] girishkalele commented on #25020
@rboorgapally @MikeSpreitzer @thockin

PTAL at https://github.com/kubernetes/kubernetes/pull/26335

I have chosen approach 3 and implemented a trivial underscore based base template that will serve as the authoritative yaml template for the rc and svc.
Implemented the transforms in simple sed scripts to be more readable and extensible.
Every time the base templates change, the derived templates ca

[2016-05-27 21:35] janetkuo commented on #26425
Found a hidden issue here: if the output flag `-o` is specified, the "resource not found" error will not be exposed.

[code]

This also means the flake isn't related to the state of pods.

[2016-05-27 21:38] dcbw opened #26453 "cluster/kubectl.sh yells about "cluster/gce/util.sh: line 37: gcloud: command not found" for local clusters"
This used to work at least up until git commit 9aa1a59 from May 16:

sudo NET_PLUGIN=kubenet hack/local-up-cluster.sh -o _output/local/bin/linux/amd64/
cluster/kubectl.sh config set-cluster local --server=http://127.0.0.1:8080 --insecure-skip-tls-verify=true

but now cluster/kubectl.sh errors out with:
cluster/../cluster/../cluster/gce/util.sh: line 37: gcloud: command not found

[2016-05-27 21:44] bgrant0607 commented on #24198
I put an explanation of apply here: https://github.com/kubernetes/kubernetes/issues/15894#issuecomment-222194015

To fix this properly, we need to represent OneOf unions in the API (there are several such cases).

Until then, the previous selection needs to be manually nulled when applying changes.

[2016-05-27 21:46] lavalamp commented on #25940
Awesome!

[2016-05-27 21:46] bprashanth commented on #26379
I suspect gci trusty uses some other configuration of standalone kubelet on the master, that doesn't understand how to invoke kubenet. If you can gather kubelet logs it would help.

[2016-05-27 21:47] Random-Liu commented on #26345
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26451/kubernetes-pull-test-unit-integration/28249/

[2016-05-27 21:48] bgrant0607 commented on #24198
Example of why we should not set default values in last-applied-configuration:
https://github.com/kubernetes/kubernetes/issues/25238#issuecomment-217928835

[2016-05-27 21:50] colhom commented on #26436
As to the "firewall-rules.delete not found" bit on tear-down- this is a soft-error that is present in the kubernetes-e2e-gce build logs as well. The [gcloud delete](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1360) commands are set up explictly to allow that failure.

It's also not problematic that all federation zones share these rules, as far as I can tell.

@quinto

[2016-05-27 21:51] bgrant0607 commented on #26202
Accidental orphaning is another problem: #24888

[2016-05-27 22:09] dims commented on #26453
@dcbw - Guess we need to set KUBERNETES_PROVIDER to something new like "local", seems to work after that

[2016-05-27 22:11] dchen1107 opened #26455 "Upgrade GCI image with docker 1.11.2"
Now GCE master node switch to GCI image by default, and all worker nodes on GCE are using the latest containervm image with docker 1.11.1, which makes our master node's docker version mismatches with rest of clusters. Please cut a new release and enable the tests.

cc/ @kubernetes/goog-image

[2016-05-27 22:11] dchen1107 commented on #26455
cc/ @yinghan

[2016-05-27 22:11] dcbw commented on #26453
@dims Maybe, but I'd love to know why it's worked without setting KUBERNETES_PROVIDER for a long long time only to break in the past week...  I'm still bisecting but I'll come up with the offending commit soon.

[2016-05-27 22:12] euank opened #26456 "rkt: Liveness probe failing to restart pod"
With rkt as the container runtime, the e2e test `Pods should be restarted with a docker exec "cat /tmp/health" liveness probe [Conformance]` fails with `expected number of restarts: %!t(int=1), found restarts: %!t(int32=0)`

I dove into it a bit further and it looks like a real issue. With additional logging it appears that the probe does fail (exec happens and returns incorrectly as expected), bu

[2016-05-27 22:13] dcbw opened #26457 "Error from server: error when creating "foo.json": pods "blahblah" is forbidden: service account default/default was not found, retry after the service account is created"
At some point in the past couple weeks hack/local-up-cluster.sh began failing to create pods with this message.

[2016-05-27 22:14] bgrant0607 commented on #26202
@metral What problem did you encounter?

[2016-05-27 22:14] dchen1107 commented on #26455
cc/ @roberthbailey

[2016-05-27 22:14] bgrant0607 commented on #26202
@lavalamp We capture the last-applied-configuration prior to defaulting, so it shouldn't matter whether the defaulting happens in the client or server, though obviously I'd prefer the latter.

[2016-05-27 22:22] bgrant0607 commented on #26202
Controlled pods are identified by labels, not by name.

In general, changing the labels and selector on a controller isn't expected to work. To do it properly requires a multi-step dance. In any case, controllers don't update running pods -- for the most part, not even Deployment does that.

We should strongly recommend that users shouldn't do that, unless they use `kubectl replace --force`, which

[2016-05-27 22:23] metral commented on #26202
@bgrant0607 I'm hitting the same issue as @janetkuo described when I try changing a label. In my case it's a label I use for the revision/commit of the current build which gets altered in the deployment manifest upon a successful build so that I can apply the new deployment.

Oddly enough, this same strategy is working on 2 other projects / deployments that I have in the system just fine, but for

[2016-05-27 22:25] bgrant0607 commented on #26202
@metral Specify a selector that omits the label you plan to change.

[2016-05-27 22:26] jonmoter commented on #10439
FYI, I've been working on an implementation where I have a sidecar container that:

1. Authenticates with Vault using a client cert stored as a Kubernetes secret
2. Looks at annotations in the Pod definition to determine which secrets to pull from Vault.
3. Writes those files out to a directory shared between the sidecar and main app.

The main container has a lifecycle hook that blocks, waiting f

[2016-05-27 22:28] metral commented on #26202
@bgrant0607 that makes sense - I'll give that a shot when I'm back at my computer.

Just odd that I've never specified the selector in my working deployments, just the labels in the metadata and changing the revs on those has never caused an issue

[2016-05-27 22:40] a-robinson commented on #26379
Would the systemd unit automatically restart the default configured docker when the kubelet kills it, perhaps preventing it from being started with the correct flags?

[2016-05-27 22:41] a-robinson commented on #26379
(please pardon my currently lacking familiarity with systemd if that's a terrible question)

[2016-05-27 22:43] a-robinson commented on #26379
Because it looks like the kubelet tried to do the right thing:
[code]

[2016-05-27 22:48] jimmidyson opened #26460 "API server does not respect URL encoding rules"
While investigating fabric8io/fabric8#432, I found that

    https://localhost:8443/api/v1/namespaces/thisisatest/replicationcontrollers?labelSelector=nginx%3Dcontroller

doesn't work, whereas

    https://localhost:8443/api/v1/namespaces/thisisatest/replicationcontrollers?labelSelector=nginx=controller

does.

Would like to see the API server properly handle percent encoded URLs.

[2016-05-27 22:52] mikedanese commented on #25940
It takes 3 minutes on my workstation to compile all tests in pkg/ and it takes 30 seconds to execute them. I'm going to pivot and work on not recompiling per iteration. I hypothesis that will be more helpful than reducing the number of iterations (although I think we should do both).

[2016-05-27 22:54] #23389 closed

[2016-05-27 22:56] #24698 closed

[2016-05-27 22:59] jimmidyson commented on #26460
Sorry this works as expected.

[2016-05-27 22:59] #26460 closed

[2016-05-27 23:00] dcbw commented on #26453
3d95151971cf008a629394a7a8328414173d8219 is the first bad commit
commit 3d95151971cf008a629394a7a8328414173d8219
Author: Daniel Wang <wonderfly@google.com>
Date:   Mon May 23 19:16:36 2016 -0700

    Replace containervm with GCI as default master image for GCE clusters

:040000 040000 9813a48f5944962c8e012805e1a99841b6d9bcb8 255ba321d3dff1f0c450c3cc7315dbf5495a85fd M	cluster
:040000 040000 048ade7

[2016-05-27 23:04] spxtr commented on #25940
This is somewhat related to #23648. All the `pkg/registry/*/etcd` tests waste a couple seconds per test spinning up and tearing down a server which adds up to several minutes per test-go run per api version.

[2016-05-27 23:06] adityakali commented on #26379
killing docker (using kill / pkill) will not restart it. If kubelet does "systemctl restart docker", it should come back with any flag changes.

[2016-05-27 23:07] dcbw commented on #26453
cc @davidopp

[2016-05-27 23:10] dcbw commented on #26453
Offending PR is #26197

[2016-05-27 23:12] dcbw commented on #26453
KUBE_OS_DISTRIBUTION=debian makes it work again, so it looks like the issue is a chain of defaults.

[2016-05-27 23:13] dcbw commented on #26453
-OS_DISTRIBUTION=${KUBE_OS_DISTRIBUTION:-debian}
+OS_DISTRIBUTION=${KUBE_OS_DISTRIBUTION:-gci}

is the change that breaks stuff, I think.

[2016-05-27 23:16] ngtuna commented on #25979
This issue happens again with the current latest code on master branch.

[code]