[2019-07-05 15:38] odinuge commented on #79764
/sig cli

[2019-07-05 15:52] PauloASilva commented on #79779
Hi @mattjmcnaughton,
I agree with you that there's no reason for two different nodes share the same hostname but let's look at it from a different perspective: security.

When targeting containerized applications an attacker will certainly look to break out of the container environment and execute code on the host OS with superuser privileges.

Security misconfiguration and running containers with

[2019-07-05 16:04] Pothulapati commented on #79838
@liggitt
On Clusters 1.15, where the status of APIService is `Failed Discovery Check` it gives
[code]

On Clusters 1.14.3, where the status of APIService is `all checks passed` it gives
[code]

[2019-07-05 16:07] gjcarneiro commented on #79833
That is the problem.  At kernel level you play with both `cfs_period_us` and `cfs_quota`, you control both to ensure the desired results.

In Kubernetes land, the sysadmin configures `cfs_period_us` system-wide (via the cpuCFSQuotaPeriod kubelet setting), and application developers control the "cpu limit".  If we set cpu limit = 0.5, that should be "half a CPU", always, regardless of how the sysad

[2019-07-05 16:16] frittentheke commented on #70897
/remove-lifecycle stale

[2019-07-05 16:40] liggitt commented on #79838
https://github.com/kubernetes/kubernetes/commit/f9e162086fad14db91268458fd4ce82aa7f8a8fa#diff-517e1eb067654b2e2d75bdb3448eb546R279 looks related

If the aggregated server returns non-200 status code, it is treated as unavailable.

@deads2k, what endpoint is checked by the available controller?

[2019-07-05 16:59] #73671 closed

[2019-07-05 17:22] micahhausler commented on #79726
/remove-sig aws

Looks like an Azure issue, not EKS.

@Shuanglu when you got the 401 with curl, what was the exact curl command you used? Also, what exact commands did you use to generate the CSR and create the CSR request for the kubernetes API?

[2019-07-05 18:43] timothysc commented on #72102
@gyuho - any update?

[2019-07-05 19:01] #53347 closed

[2019-07-05 19:11] pieterdd commented on #72597
`/remove-lifecycle stale`

In my case, it'd be a valuable feature because it'd let my local machine connect to an Amazon RDS database that is normally only reachable within my Kubernetes cluster. This is helpful when diagnosing issues on production when no safer/easier options are available.

[2019-07-05 20:57] rmnoon commented on #74884
Also running into this issue (specifically with a remote node debugger).  Thanks!

[2019-07-05 21:26] aojea commented on #79633
Can you give more details?
per example, create a service with type NodePort and explain from where you try to connect and if you can see the packets with tcpdump in the node where the service is exposed.

[2019-07-05 21:30] aojea commented on #79622
@yujuhong seems that´s green since 07-02

[2019-07-05 21:32] aojea commented on #79459
only 1.12 is missing https://github.com/kubernetes/kubernetes/pull/79750

[2019-07-05 21:40] aojea commented on #79266
@lurenjia528 can you expand on the issue? what´s the problem with kube-proxy? is it running in ipvs mode despite the line is commented?

[2019-07-05 21:45] aojea commented on #79042
@cbf123 what´s the output of `build/run.sh ip a` in your system?

[2019-07-05 22:31] cbf123 commented on #79042
@aojea the interesting bit is this:

+++ [0705 18:29:50] Running build command...
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
9614: eth0@if9615: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP grou

[2019-07-05 22:31] #79042 closed

[2019-07-05 22:44] dblackdblack commented on #29276
/reopen

[2019-07-05 22:52] brahmaroutu commented on #73428
/reopen
/remove-lifecycle rotten

[2019-07-05 22:53] brahmaroutu commented on #73423
/remove-lifecycle rotten
/reopen

[2019-07-05 22:53] brahmaroutu commented on #73422
/remove-lifecycle rotten
/reopen

[2019-07-06 00:07] tamalsaha commented on #70816
We would like to see this issue make progress on 1.16 cycle. Are there any blockers beyond review bandwidth?

[2019-07-06 03:05] draveness commented on #79686
/reopen

Regards,
Draven
On Jul 6, 2019, 10:03 AM +0800, Kubernetes Prow Robot <notifications@github.com>, wrote:

[2019-07-06 03:36] tedyu commented on #79833
I assume kubefeatures.CPUCFSQuotaPeriod is enabled in @gjcarneiro 's case.

[2019-07-06 06:11] #73245 closed

[2019-07-06 07:33] Shuanglu commented on #79726
1. what was the exact curl command you used?
curl -k -v -XGET --cert  testuser1.crt --key testuser1-key.pem  'https://192.169.0.4:6443/api/v1/namespaces/default/pods?limit=500'
2. what exact commands did you use to generate the CSR and create the CSR request for the kubernetes API?
cat <<EOF | cfssl genkey - | cfssljson -bare testuser1
{

  "CN": "testuser1",
  "key": {
    "algo": "ecdsa",
    "s

[2019-07-06 08:35] errordeveloper commented on #25251
/remove-lifecycle rotten

On Fri, 5 Jul 2019, 2:43 am fejta-bot, <notifications@github.com> wrote:

[2019-07-06 09:16] OJFord commented on #36601
@seanturner83 It's happening in #64623 by allowing DSs to have a `restartPolicy: OnFailure`.

[2019-07-06 09:40] feiskyer commented on #67813
Still not fixed.

/reopen
/kind bug
/priority important-soon
/milestone v1.16

[2019-07-06 10:30] #79835 closed

[2019-07-06 10:34] OJFord commented on #72991
@outception Does your 'x' mean 'does not have issue'? Because my reproduction _was_ 1.14.1.

[2019-07-06 11:07] sashayakovtseva commented on #79803
Hello @mattjmcnaughton and thank you for response!
I have already raised this question in slack `#sig-node` channel, but there was no response, so I raised this issue here 🙂

How can we put this topic to any upcoming sig node meeting? How can I take part there?  Or should I bring that topic once again in slack?
As already said, `imagePullSecret` seems to be unaligned with CRI concept of arbitrary

[2019-07-06 11:10] #77546 closed

[2019-07-06 12:40] smbl64 commented on #48575
Btw, on macOS if you have upgraded your bash to 4+, make sure to change your shell via `chsh`. More info here:
https://apple.stackexchange.com/a/55998/273340

[2019-07-06 13:20] cpanato commented on #79740
closing

[2019-07-06 13:35] liucimin commented on #79833
/assgin
@gjcarneiro
Would do you like to show us all the data in /etc/kubernetes/kubelet/config.yaml ?
I will trying to fix this by https://github.com/kubernetes/kubernetes/pull/79850

[2019-07-06 13:42] gjcarneiro commented on #79833
[config.yaml.txt](https://github.com/kubernetes/kubernetes/files/3364712/config.yaml.txt)

[2019-07-06 13:48] gjcarneiro commented on #79833
If helps, kubelet args:

[code]

[2019-07-06 14:49] fabras78 commented on #66748
In my case the problem was that swap memory was turned on.
I removed any matching reference found in /etc/fstab

[2019-07-06 15:13] Luxbit commented on #63022
+1
This would be really handy to create multiple node pools of the same instance type

[2019-07-06 15:20] #67206 closed

[2019-07-06 15:30] mattjmcnaughton commented on #79833
On Fri, Jul 05, 2019 at 09:07:49AM -0700, Gustavo J. A. M. Carneiro wrote:

Ah I gotcha - thank you for that explanation :)

[2019-07-06 15:36] mattjmcnaughton commented on #79779
Hmm, that's quite interesting!

If you believe this is a security issue, please reach out to the security team following the process outlined here: https://kubernetes.io/docs/reference/issues-security/security/. Let's wait for their response, and then we can take it from there.

[2019-07-06 15:42] mattjmcnaughton commented on #79803
cc'ing @derekwaynecarr @dchen1107, who are the leaders of sig-node.

https://github.com/kubernetes/community/tree/master/sig-node provides some context around the meeting times, agenda, etc...

[2019-07-06 15:54] sudomann commented on #60807
Just chiming in to say I've also met this error on version `1.13.6` with GKE. It happened after I disabled GKE's Istio addon with the goal of manually installing it for full control.
This is the longest issue thread I've ever taken the time to read through, and I'm blown away that there is no real consensus or reproduction steps to the root of this issue. Seems it can get tripped in so many differ

[2019-07-06 16:05] abdul1986 opened #79853 "issue connecting ibm cloud."
i have one worker node at ibm cloud. & i have my server on aws, from where I am accessing my worker node. when i try to connect, its giving me below error.

The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2019-07-06 16:07] liggitt commented on #60807
The advice at https://success.docker.com/article/kubernetes-namespace-stuck-in-terminating is actively harmful, and can result in orphaned resources not getting cleaned up and resurfacing if a namespace with an identical name is later recreated.

There is work in progress to surface the specific cause of the hung delete, but the fundamental issue is that there are API types that cannot be verified

[2019-07-06 16:20] jparklab commented on #79719
@tedyu I created a PR and linked to this issue.

[2019-07-06 17:56] dwctua opened #79855 "Mapping Atlas MongoDB timed out"
**What happened**:
Follow [instruction](https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-mapping-external-services) to map Mongo DB(Atlas) as external service, but getting error:
{ "message": "context deadline exceeded" }

**What you expected to happen**:
The service should be able to redirect the request to Atlas

**How to reproduce it (as minimally and precisely as possible)*

[2019-07-06 18:14] dwctua commented on #79855
/sig api-machinery

[2019-07-06 18:38] dwctua commented on #79855
After a few try, I'm getting a different error, so is this approach not working when TLS is enabled?
`{ "message": "server selection error: server selection timeout
current topology: Type: ReplicaSetNoPrimary
Servers:
Addr: mongodb:27017, Type: Unknown, State: Connected, Average RTT: 0, Last error: x509: certificate
is valid for *.mongodb.net, mongodb.net, not mongodb
" }`

[2019-07-06 19:52] srslafazan commented on #79633
Hi @aojea, I gave up on this particular issue -- I found the problem originated with lack of correct install configurations for Ubuntu 18.04.

[2019-07-06 19:52] #79633 closed

[2019-07-06 19:55] george-angel commented on #35941
/remove-lifecycle stale

[2019-07-06 20:25] #73127 closed

[2019-07-06 21:13] DeeToTheVee commented on #66844
I can also confirm this is ongoing in 1.15. I'm spinning a new cluster up and seeing the same errors that have been discussed previously.

Let me know if you'd like any logs etc and I shall provide them.

[2019-07-06 21:26] #72183 closed

[2019-07-06 21:26] #73764 closed

[2019-07-06 23:32] tedder commented on #55046
/remove-lifecycle rotten

[2019-07-07 00:08] peter-wangxu commented on #79823
/sig node

[2019-07-07 00:29] #73750 closed

[2019-07-07 03:32] tedyu commented on #79825
Can you be a bit more specific about the problem with the storage type ?

[2019-07-07 04:56] nagexiucai commented on #79678
@ORESoftware @almiche @ramnar @oscarlofwenhamn :)

IMHO, `default` is innocent.
But we could make the messages more clear.
For example, `kubectl get xxx -n nonexistent-namespace` will show `No Resources found` also.

And `--all-namespaces` is a bit long, but a `-a/-A/--all/--ALL` is too simple to describe our intent, "all namespaces of cluster or all some resource of some namespace", so puzzled.

[2019-07-07 05:11] nagexiucai commented on #79853
what is your `admin` config?

[2019-07-07 09:07] pontiyaraja commented on #74949
/remove-lifecycle stale

[2019-07-07 10:34] draveness opened #79861 "Use framework.ExpectNotEqual() for e2e tests"
After fixing golint failures under test/e2e, we need to put gomega for each Expect() and Equal().
Then common error checking code has become like:

[code]

We can replace this code with framework.ExpectNotEqual(foo, bar) which is more readable and easy to be understood what the code does.

/assign
/cc @oomichi
/sig testing

[2019-07-07 12:28] sukeesh commented on #79688
/assign @sukeesh

[2019-07-07 12:30] sukeesh commented on #79688
@ramnar Please take a look at this PR #79863. Instead of throwing an error, executing the cmd and showing a warning would be the best thing to do IMO.

[2019-07-07 14:48] yue9944882 commented on #79855
consider rename ur service to either of them

/triage support

[2019-07-07 15:00] dwctua commented on #79855
Thanks! I believe dot is not allowed in the service name.

[2019-07-07 15:06] adolli opened #79865 "externalTrafficPolicy=Local no effects for the request made from the node LOCAL addresses."
**What happened**:

**kube-proxy mode: iptables**. I have a Service object with `externalTrafficPolicy=Local`. When I make a request from the node such as the following command. The `externalTrafficPolicy=Local` seems to take no effects and the request was sent to the pod running in another node.

[code]

I dived into the iptables rules and found 2 more rules added for the Service since version 1.

[2019-07-07 15:18] adolli commented on #79865
@kubernetes/sig-network-bugs

[2019-07-07 15:19] mattjmcnaughton commented on #79823
In the short term, I believe you can fix this by deleting the `/var/lib/kubelet/cpu_manager_state` file and then restarting `kubelet`.

@ConnorDoyle , I'm seeing your name a lot on the cpu manager code. Can you comment on whether its intentional that `cpu_manager` doesn't pick up the new CPUs without manual intervention? Or is this a bug that we want to address?

[2019-07-07 15:21] imroc commented on #79783
After a deep dive into this problem，I found the root cause.

Let me to tell the long story. It's a bit too detailed, but it helps us understand the problem.

## A tiny IPVS design flaw
There are following two contradictory sentences in the [proposal](https://github.com/kubernetes/enhancements/blob/baca87088480254b26d0fdeb26303d7c51a20fbd/keps/sig-network/0011-ipvs-proxier.md#support-loadbalancer-s

[2019-07-07 16:30] smekkley commented on #10921
For anyone who finds here. This issue is not solved, type: ClusterIP stays incompatible with keeping the source IP address.
Workarounds are using providers such as GKE and use type: Loadbalancer.
Another workaround is to use MetalLB and use externalTrafficPolicy: Local, if it's on-premise.

Ideally ClusterIP should also support externalTrafficPolicy: Local, because Loadbalancer is not available by

[2019-07-07 16:44] smekkley opened #79866 "Consider ClusterIP traffic routed to a node (from outside the cluster) as "external" for local-only"
Some what re-opening the issue #10921

With solution like the following that expose ClusterIP to outside the cluster, it would be very beneficial if there was an option to enable pods to see the source IP address instead of the node address.
https://www.projectcalico.org/kubernetes-service-ip-route-advertisement/

In an environment with type:LoadBalancer available, people can use externalTrafficPo

[2019-07-07 16:49] smekkley commented on #79866
@kubernetes/network

[2019-07-07 16:52] neolit123 commented on #79779
this seems like the correct course. the "newer" kubelet should exit with an error.

Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:36:19Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

what is the state in 1.15 and master?

[2019-07-07 16:58] smekkley commented on #79866
/sig network

[2019-07-07 17:07] nagexiucai commented on #79823
I had reviewed the logic, it seems that:

kubelet start -> cadvisor.MachineInfo -> plugapi.Device

But i can not find the point for updating `cpu manager state` by `machineinfo` periodically :(

[2019-07-07 18:57] edowson opened #79867 "Kubeflow three pods stuck that persistent volume claims stuck in pending state for NFS persistent volumes"
**What happened**: I installed `kubeflow` on kubernetes and there are three pods that have their persistent volume claims stuck in a pending state even though I've created the required pv.

Here are the pvc claims:
[code]

Create persistent volumes that meet pvc requirements:
[code]

[code]

[code]
[code]

[code]

[code]

Create persistent volumes:
[code]

[code]
Check PVC status:
[code]

**What y

[2019-07-07 19:02] edowson commented on #79867
@kubernetes/sig-storage-bugs

[2019-07-07 20:11] jmhodges commented on #31792
I think this is still fresh? I don't believe I have the /remove-lifecycle permissions

[2019-07-07 20:48] hantaowang commented on #79743
To add more info for this issue, the AttachDetachController currently [checks](https://github.com/kubernetes/kubernetes/blob/932487c7440b05f634da52e82f853fe2aacd5009/pkg/volume/csi/csi_attacher.go#L237) the status of the VolumeAttachment resources to determine if a volume is attached, but those resources may not accurately reflect the actual state of the volumes.

What should happen is that someho

[2019-07-07 23:36] smekkley commented on #489
Why don't you use pod-checkpointer? @thockin
https://github.com/kubernetes-incubator/bootkube/tree/master/cmd/checkpoint
This issue should be closed.

[2019-07-08 01:03] lurenjia528 commented on #79266
kube-proxy use command line args don't work , so I comment the command line args ,
and use config file works

[2019-07-08 01:09] mitar commented on #69637
/remove-lifecycle stale

[2019-07-08 01:53] KevinTHU commented on #53089
@wanghaibo thanks for your answer, it's a useful method, but how you did it, with multus-cni? or others?

[2019-07-08 02:27] imroc commented on #79783
@lbernail I heard that you use ipvs a lot in the production environment, can you join this discussion? rolling back [this PR](https://github.com/kubernetes/kubernetes/pull/63066) can be a temporary solution, but we need a better long-term solution.

cc @Lion-Wei

[2019-07-08 02:34] imroc commented on #79783
/area ipvs

[2019-07-08 02:49] peter-wangxu commented on #79823
@mattjmcnaughton yes, removal and restart fix it. shouldn't we provide a better way to heal this, it cause all workload running on the legacy cores without any attention.

Thanks
Peter

[2019-07-08 03:26] MarkBennett commented on #8876
Handy. Do you make an alias or define a function for this somewhere @xofred?

[2019-07-08 04:16] geerlingguy commented on #71305
Just wanted to post another confirmation here that when installing / running a K8s cluster on Raspberry Pis with Raspbian 10 / Buster, I had to run:

[code]

Otherwise I was getting lots of errors with networking from various non-k8s-core pods (e.g. coredns, ingress, kube-proxy, kube-apiserver were seemingly fine, but flannel, metrics-server, nfs-client-provisioner were crashlooping).

I ran the a

[2019-07-08 04:53] BobyMCbobs commented on #78748
@devaips Can you add my two PRs to the status of this umbrella ticket please?

[2019-07-08 06:01] AKCen commented on #24725
I wonder this thing was raised 3 years back and why is documentation here https://v1-12.docs.kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy says

[code]

while I get

[code]

kubectl version

[code]

[2019-07-08 06:06] peter0086 opened #79876 "kubelet command line flags doesn't override that value in Kubelet’s config file"
When I try to change the 'node status update frequency' via command line flags, I find an issue that when the value is larger than the one in config file, it will work. Otherwise, it won't.

This is an example:
I set the value below in config file.
**nodeStatusUpdateFrequency: 10s**
Then I add the flag in command line as
**kubelet --node-status-update-frequency=2s**

**What happened**:
The node-st

[2019-07-08 06:25] yue9944882 commented on #79838
i skimmed implementation from smi-metrics.. it only serves on `/apis` prefixes so when the available controller checks the root endpoint it returns a 404.

[2019-07-08 06:49] wydinspur commented on #79825
use inspur G2 storage

[2019-07-08 06:51] Pothulapati commented on #79838
@yue9944882 but then it dosent fail on clusters running v1.14, In that version the apiService is marked as `all checks passed`

[2019-07-08 07:11] lbernail commented on #79783
In several implementations load-balanced packets reach the nodes with the Load-balancer IP or External IP as target (it's the case with ILB on GCP and metalLB for instance). For IPVS to work in these cases, these IPs need to be considered local and that's why they are added to the dummy interface.

The problem you describe makes perfect sense. It would also impact AWS because packets are SNAT to t

[2019-07-08 07:21] smekkley commented on #79866
#67202 seems like the same issue. Kube proxy having no ability to disable SNATing causing a problem.  But it was closed without being solved.

[2019-07-08 07:27] smekkley commented on #67202
@thockin I re-opened the issue. The issue is to avoid using type: NodePort , Loadbalancer, or hostNetwork. We want to Use highly available ClusterIP and to have an option keep the source ip address(disable snat) for some services.

[2019-07-08 07:54] amit-k-yadav opened #79881 "No way to add authentication/ authorisation in kubelet endpoint 10255 in GKE private cluster (version: 1.13.6-gke.13)"
**What happened**:
I have created a [GKE](https://cloud.google.com/kubernetes-engine/) private cluster (version: 1.13.6-gke.13). I can see that the port (10255) is open in both the nodes (or we can say [GCP](https://cloud.google.com/compute/docs/instances/) compute instances) created in the above cluster.

If I create a simple [GCP](https://cloud.google.com/compute/docs/instances/) compute instanc

[2019-07-08 07:55] pohly commented on #79624
Let's update the KEP to mirror the discussion here: https://github.com/kubernetes/enhancements/pull/1129

[2019-07-08 08:01] warmchang commented on #70093
/remove-lifecycle rotten

[2019-07-08 08:46] hex108 commented on #78093
Just wrote a small proposal for it https://docs.google.com/document/d/1oFX8r9eRgcFs67BxDkKtZUfWG1_4ASXBvv6oQL_pAlA/edit?usp=sharing.

[2019-07-08 08:50] wawa0210 commented on #79515
I guess the error reported from the [hcsshim ](https://github.com/microsoft/hcsshim) by kube-proxy invoke

When i rollback to kubernetes 1.14.3 ,every thing is ok

Any one can help me @ksubrmnn @madhanrm @dineshgovindasamy

[2019-07-08 09:27] mborsz opened #79883 "kubemark is using simplified auth setup"
https://github.com/kubernetes/kubernetes/pull/78246 migrates the kubemark setup logic to kube-up-based, but also simplifies auth setup -- all components are using the same kubeconfig. This is a potential source of difference with gce setup where each component is using separate kubeconfig.

We should migrate all components to separate kubeconfigs.

[2019-07-08 09:27] mborsz commented on #79883
/sig scalability

[2019-07-08 09:55] xofred commented on #8876
@MarkBennett No, I just hit ctrl-r every time I need to manual operate on the cloud k8s master. Alias it in bashrc/zshrc should be better if u need them to be executed by another program

[2019-07-08 10:10] Pardhu448 commented on #8235
Is it possible to provide named args in Kubernetes manifest (.yaml) file in container configuration section, as in below.
This is required for passing values to ARG field in the container's DockerFile, which takes values from args filed of manifest file.
[code]
DockerFile of slave container:
[code]
I couldnt find any documentation to initialize named args in kubernetes manifest file.

Thanks in Ad

[2019-07-08 10:40] tedyu commented on #79876
[code]
Do you know the value for nodeMonitorGracePeriod in your deployment ?

[2019-07-08 11:16] cwdsuzhou opened #79884 "csi plugin supporting raw block failed"
**What happened**:

During I develop a driver that supports raw block devices but do not need to be attached to nodes, I found it would fail when a pod mount a raw block device.

PS: I use cluster-driver register and make requiredAttach as false.

kubectl get csidriver csi-xxx -o yaml
[code]
![image](https://user-images.githubusercontent.com/12230714/60805861-00bbbe80-a1b4-11e9-8ecd-d8ff680491a2.p

[2019-07-08 11:16] cwdsuzhou commented on #79884
/sig storage
/assign

[2019-07-08 11:16] cwdsuzhou commented on #79884
I would send a PR later

[2019-07-08 11:28] johnmarcou commented on #78125
Probably closed by #79451

[2019-07-08 11:43] amit-k-yadav commented on #44330
When I try to access `curl https://node-ip:10255/pods` it says:
[code]

How did you even manage to make the connection HTTPS and not HTTP on port 10255?

[2019-07-08 12:07] jsafrane commented on #74545
sort of covered here: https://github.com/kubernetes/kubernetes/pull/79796
(not sure if it makes sense to have a single pod requesting the same volume in both modes)

[2019-07-08 12:08] jsafrane commented on #74545
/assign

[2019-07-08 12:19] luvpreetsingh commented on #67941
This problem happened to us because initially when we launched the cluster, the Userdata was compatible with the Base AMI we were using for the worker nodes. But then, we updated our Base AMI in the cloudformation, but we did not update the Userdata.

Your userdata and AMI needs to be compatible

[2019-07-08 12:21] brancz commented on #62778
/sig storage

[2019-07-08 12:29] jsafrane commented on #79794
@mattjmcnaughton, we (sig-storage) need some help here. This is outside of the area of kubelet we're familiar with. Of course we can handle the code if we know what is the best place to check if a PVC is used correctly in a pod.

[2019-07-08 12:59] krzysied opened #79887 "[Failing Test] Kubemark 5000 - additional pod list"
**Which jobs are failing**:
ci-kubernetes-kubemark-gce-scale

**Which test(s) are failing**:
kubemark-5000 - load test

**Since when has it been failing**:
07/06/2019 13:22 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-kubemark#kubemark-5000

**Reason for failure**:
APIResponsiveness error: top latency metric: there should be no high-latency requests, but: [got: {Resource:pods Su

[2019-07-08 12:59] adamdougal commented on #77058
Heya, I just wondered if there was any update on this? Should I be rolling back my applications a different way?

[2019-07-08 13:00] krzysied commented on #79887
/sig scalability
/priority important-soon

[2019-07-08 13:03] krzysied commented on #79887
There was a problem with kubeblets having problem with getting/putting node lease, resulting in nodes marked as unhealthy for few seconds. This triggered node-controller to do the pod listing.

[2019-07-08 13:03] krzysied commented on #79887
/assign @mborsz

[2019-07-08 13:08] peter-wangxu opened #79888 "Pod with PV failed with unexpected scheduling error"
**What happened**:
I created a pod to bind with a PVC whose VolumeBindingMode=WaitForFirstConsumer, and the pod failed with :

which is quite confusing

**What you expected to happen**:
Pod should be created without any error
The pod should be stay in pending state as the external provisioner did not create the PV

**How to reproduce it (as minimally and precisely as possible)**:
it's possible to

[2019-07-08 13:10] peter-wangxu commented on #79888
/sig scheduling

[2019-07-08 13:11] peter-wangxu commented on #79888
/sig storage

[2019-07-08 13:21] rajeshsoro commented on #72462
Hi Team ,
i am getting following errors while running the comand on kubernetes clusers

[root@parrota ~]# kubectl get pods --all-namespaces | grep  kube-flanne
kube-system   kube-flannel-ds-amd64-2rh5f       0/1     CrashLoopBackOff   7          4d3h
kube-system   kube-flannel-ds-amd64-g8vn7       0/1     CrashLoopBackOff   6          4d3h

[root@parrota ~]# kubectl get pods --all-namespaces | gre

[2019-07-08 13:33] liggitt commented on #78845
it took O(hours) for me to run a build

[2019-07-08 13:41] zakthan commented on #36304
they should be at least logged in a log file so as to be collected with a tool like elastic

[2019-07-08 13:43] zhangshuiyong commented on #75707
I met this issue too. Have you got a solution?  @zhangguanzhang

[2019-07-08 13:58] mirkan commented on #76531
+1 same for me:

OS: RHEL 7.6-4.el7.x86_64
Kernel: 3.10.0-957.21.3.el7.x86_64
Kubernetes: v1.15.0
Docker: 18.09.7 CE

[2019-07-08 14:05] jingxu97 commented on #71928
cc @msau42 @cofyc

[2019-07-08 14:23] draveness opened #79891 "Limit the size of buffer in predicates metadata"
ref: #79777

/sig scheduling
/kind cleanup
/assign
/cc @Huang-Wei

[2019-07-08 14:27] shweta-sah commented on #69293
+1

[2019-07-08 14:29] msau42 commented on #79867
Your PV and PVC storageclass names don't seem to match.

Also to help with future debugging, it's helpful to check the events on PVC and pod.

[2019-07-08 14:29] alejandrox1 commented on #79740
#79778 and #79747 did not completely resolve the failing tests here or in #79533
/reopen

[2019-07-08 14:32] msau42 commented on #62096
CSI expansion is available as alpha starting with 1.14. See https://kubernetes-csi.github.io/docs/volume-expansion.html for how to implement expansion in your CSI driver.

/close

[2019-07-08 14:32] #62096 closed

[2019-07-08 14:37] alejandrox1 commented on #77538
want to track this one with the release team as well as it is showing up in https://testgrid.k8s.io/sig-release-master-informing#gce-master-new-downgrade-cluster-parallel

/priority critical-urgent
/milestone v1.16

[2019-07-08 14:55] liggitt opened #79893 "Promote AdmissionReview API to v1"
Part of https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md

* Promote the API type to v1
* Teach the webhook dispatcher to send/receive v1
* Tighten validation of response objects when receiving v1 responses (require kind, apiVersion, status.uid)
* Allow "v1" in admissionReviewVersions for webhook configurations

/milestone v1.16
/priorit

[2019-07-08 14:55] liggitt commented on #73185
remaining issues are tracked in individual issues and in https://github.com/orgs/kubernetes/projects/32

/close

[2019-07-08 14:55] #73185 closed

[2019-07-08 14:56] dims commented on #70137
/assign @brahmaroutu
/unassign

[2019-07-08 15:07] gnufied commented on #35941
This should be implemented and work out of box now. In any 1.15 cluster you can edit PVC (for volume types that support expansion) and have k8s take care of the rest.

See - https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims

/close

[2019-07-08 15:07] #35941 closed

[2019-07-08 15:18] mattjmcnaughton commented on #79823
@peter-wangxu yup, I agree with you 100% that we most likely shouldn't need user intervention to fix this. Just want to get input from @ConnorDoyle on if there's anything we're missing, before starting work on addressing this.

[2019-07-08 15:26] mattjmcnaughton commented on #79794
Whoops, I didn't see that you were a part of `sig-storage` @jsafrane . My apologies :)

Readding sig-node :)

/sig node

[2019-07-08 16:03] mtaufen commented on #75426
/remove-lifecycle stale
/lifecycle frozen

[2019-07-08 16:06] danwinship commented on #73360
/remove-lifecycle stale
I'll check the corresponding PR...

[2019-07-08 16:12] #79809 closed

[2019-07-08 16:18] andrewsykim commented on #70526
/remove-lifecycle rotte

[2019-07-08 16:18] andrewsykim commented on #70526
/remove-lifecycle rotten

[2019-07-08 16:19] andrewsykim commented on #70526
Will be fixed as part of https://github.com/kubernetes/enhancements/pull/1003

[2019-07-08 16:20] edowson commented on #79867
@msau42 If you notice, I didn't specify a `StorageClass` for the `pv` as indicated in the official troubleshooting documentation. It automatically sets `Standard` by default.

However, I think the issue is with my `pv` `accessModes`  set to `ReadWriteMany`. I think the three pods require it to be `ReadWriteSingle`. Once I created three `pv` with `accessModes` set to `ReadWriteSingle`, the `pvc` wo

[2019-07-08 16:20] #79867 closed

[2019-07-08 16:32] andrewsykim commented on #77095
@alejandrox1 please do, assigned it to you

[2019-07-08 16:42] johscheuer commented on #76064
Depending on which CNI plugin you use you need to install the bandwidth plugin, see: https://github.com/projectcalico/calico/issues/797#issuecomment-493210584

[2019-07-08 16:43] kfox1111 commented on #8876
I'd love a -l option too. while we can play subshell tricks in most places, its hard to give these to folks using kubectl on windows clients. Which are, unfortunately, still a thing.

[2019-07-08 16:44] msau42 commented on #79867
The [default storageclass admission controller](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/storage/storageclass/setdefault/admission.go) only sets a default storageclass for PVC, not PV.

But your output of `kubectl get pv` shows a non-empty storageclass on the PV object.  I'm not sure what else could be setting a storageclass for your PV.

[2019-07-08 16:45] msau42 commented on #79867
NFS volumes should be able to support `ReadWriteMany`.   I suspect you still have some issue binding to the wrong PV, and it's binding to a cloud disk instead of your NFS PVs.

[2019-07-08 16:46] ejmarten commented on #69082
/remove-lifecycle stale

bump

[2019-07-08 16:52] andrewsykim commented on #73794
/remove-lifecycle rotten

[2019-07-08 16:54] andrewsykim commented on #70897
Looks like you will need to set `--provider-id` on the kubelet for cases like this?

cc @cheftako @mcrute

[2019-07-08 17:09] ksubrmnn commented on #79515
@wawa0210 I’m looking at the logs you posted in slack now.

[2019-07-08 17:09] #73832 closed

[2019-07-08 17:22] oomichi commented on #79686
/reopen

[2019-07-08 17:25] jsafrane opened #79896 "CSI block volume expects that devices are symlinks"
I am testing CSI block volume reconstruction and it expects that devices "created" using `NodePublishVolume` are symlinks:

https://github.com/kubernetes/kubernetes/blob/be7da5052f40d8bcb7b6195ddae93f33b1faea28/pkg/volume/util/operationexecutor/operation_executor.go#L931-L939

Nothing in CSI spec requires the device to be a symlink.

  // block device at target_path.
  string target_path = 4;

"Pl

[2019-07-08 17:25] jsafrane commented on #79896
/sig storage

[2019-07-08 17:36] thockin commented on #8235
No, there's not an equivalent mechanism today

[2019-07-08 18:03] msau42 commented on #79896
@kubernetes/sig-storage-bugs

[2019-07-08 18:04] msau42 commented on #74552
cc @jsafrane

[2019-07-08 18:06] msau42 commented on #74914
/lifecycle frozen
cc @jsafrane

[2019-07-08 18:17] ksubrmnn commented on #79515
Can you try passing in the kube-proxy argument `--network-name=cbr0`

[2019-07-08 18:29] jonmoter commented on #70207
When you say the issue is with etcd2, do you mean version 2.x of etcd itself, or the v2 APIs and data format?  You can run etcd v3.1.x but have kube-apiserver configured to use the v2 APIs and data format.

[2019-07-08 18:30] Pardhu448 commented on #8235
Ok. Thankyou!

[2019-07-08 18:51] schleyfox commented on #70207
With the v2 APIs regardless of version of etcd.  The bug is in the kubernetes etcd v2 client/implementation, rather than in etcd specifically.

[2019-07-08 18:57] krzysied opened #79898 "kube-controller-manager memory/cpu increased after switching from RCs to Deployments"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-scalability

**Which test(s) are failing**:
Density test

**Since when has it been failing**:
07/08/2019 08:45 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-cos-master-scalability-100

**Reason for failure**:
Kube-controller-manager cup usage increased.

**Anything else we need to know**:

[2019-07-08 18:58] krzysied commented on #79898
/sig scalability
/priority important-soon

[2019-07-08 19:04] krzysied commented on #79898
This could be a result of [changing Rcs to deployments](https://github.com/kubernetes/perf-tests/pull/616). Probably we should bump up cpu limit for kube-controller-manager if handling deployment is intended to be more cpu than handling RCs.
I will also look if there were no k8s changes that time (apart from documentation/comments changes)

[2019-07-08 19:05] krzysied commented on #79898
/assign
/cc @wojtek-t
/cc @mm4tt

[2019-07-08 19:19] neolit123 commented on #72638
one question i had there is what happens once the k8s MAJOR becomes 2.

[2019-07-08 19:19] neolit123 commented on #72638
/remove-lifecycle stale

[2019-07-08 19:23] wojtek-t commented on #79898
Yeah - I'm pretty sure change do deployment will increase cpu-usage.Though, looking into perf-dash the size of increase is quite surprising...

[2019-07-08 19:31] edowson commented on #79867
@msau42 The config files for the pv that I posted in the bug report are the ones that I used to setup the three `pv`s. I do not have a cloud disk. I setup an on-premise k8s cluster, connected to a local NFS drive.

I decided to switch to a local SSD folder for the `pv`s, as show below, and the three pods were able to bind their `pvc`s to the `pv`s.

[code]

[code]

[code]

If I have to try it agai

[2019-07-08 20:12] #70248 closed

[2019-07-08 20:21] SGrondin commented on #27404
This is still a serious oversight. There doesn't seem to be a clean way to get this information programmatically other than parsing fragile "describe" output or iterating through pods on a node and querying their resource requests.

Can a contributor please reopen this?

[2019-07-08 20:21] smekkley commented on #79866
With `--cluster-cidr=0.0.0.0/0` , I see the original source IP from the pod. But then on the return traffic, it doesn't do SNAT, so the client never gets the response from ClusterIP, but only from the pod IP address. I'm not sure if this is something that should be solved with network plugin or kube-proxy.

[2019-07-08 20:33] gyuho commented on #72102
@timothysc I just came back from trip. Will start working on this from this week! And post updates here.

[2019-07-08 20:51] neolit123 commented on #72630
/lifecycle frozen
xref: https://github.com/kubernetes/kubeadm/issues/1638
^ we have ongoing work here, but we need to poke sig-node for approval.

[2019-07-08 21:12] spiffxp commented on #78830
Can we rewrite these to use local persistent volumes https://github.com/kubernetes/kubernetes/pull/79680#issuecomment-509159742

[2019-07-08 21:13] stevbev commented on #71305
I can confirm that updating the host to use iptables-legacy works on Raspbian 10 (arm) and Debian 10 (amd64) to resolve the iptables mismatch issue.

For completeness it may be beneficial to update all of the network tools to use the legacy versions to avoid issues. These commands may or may not be pertinent depending upon specific host configuration but will avoid mixing legacy and nft modes if i

[2019-07-08 21:15] timothysc commented on #77921
+1 from me, but we may move to release kubeadm separately in the future.
/cc @kubernetes/sig-cluster-lifecycle

[2019-07-08 21:28] #79653 closed

[2019-07-08 21:31] ahg-g opened #79901 "Add Normalize Scoring extension point of the scheduling framework"
**What would you like to be added**:
The scheduling framework KEP is now implementable. We have already added plugin interfaces and a few extension points, such as "reserve" and "prebind" plugins.

[Normalize Scoring](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#normalize-scoring) plugins are used to modify scores before the scheduler

[2019-07-08 21:31] ahg-g commented on #79901
/assign

[2019-07-08 21:33] yliaog commented on #79737
/cc @cheftako

[2019-07-08 21:33] congliu01 commented on #79901
Hi, I'd like to work on this one.

[2019-07-08 21:37] ahg-g commented on #79901
Thanks @congliu01 I can't reassign to you since you are not a member yet, but we will consider it yours. Note that you will have to wait until https://github.com/kubernetes/kubernetes/pull/79109 is merged since they depend on each other.

[2019-07-08 21:38] congliu01 commented on #79901
Sounds good! Thanks!

[2019-07-08 21:39] pickledrick commented on #78865
Hi @yastij I'm not able to reproduce. It seems in my environment Evictions are happening eventually. I am sourcing more information to see if there is something else set in original reporters configuration.

[2019-07-08 21:40] neolit123 commented on #77921
@ReSearchITEng

looking at https://github.com/kubernetes/kubernetes/releases
https://github.com/kubernetes/kubernetes/releases/tag/v1.14.4
i don't see the GitHub releases having binary assets, maybe i'm missing a link?

however following these links, e.g.:

leads to the page where one can download `kubernetes-node-OS-ARCH` that contains kubeadm.

[2019-07-08 21:47] SGrondin commented on #73856
I didn't want to parse "describe" output or make one call per pod, so I wrote something in awk. I hope it's useful, enjoy!
[code]
Output:
[code]
Comparison with `kubectl describe node my-node-aaaa`:
[code]

[2019-07-08 22:00] fejta opened #79904 "sig-cluster-lifecycle uses OWNERS aliases that 404"
/assign @timothysc
@kubernetes/sig-cluster-lifecycle

https://github.com/kubernetes/kubernetes/pull/79874#issuecomment-509407586

Cannot find either of these aliases
[code]

ref https://github.com/kubernetes/test-infra/issues/13362

[2019-07-08 22:03] davidxia commented on #65333
Hope people don't mind me removing the stale label from this. I'd find this useful too.

/remove-lifecycle stale

[2019-07-08 23:46] alejandrox1 opened #79907 "[e2e] cleanup test/e2e/framework/kubelet_stats.go"
Due to work refactoring `test/e2e/framework/metrics` in https://github.com/kubernetes/kubernetes/pull/79753 some objects and methods had to be duplicated from `test/e2e/framework/kubelet_stats.go` into `test/e2e/framework/metrics`.

We need to cleanup the duplicated code in `test/e2e/framework/kubelet_stats.go` and replace any calls made to duplicated methods/objects within the e2e framework with

[2019-07-09 00:04] neolit123 commented on #79904
thanks @fejta

/sig cluster-lifecycle
@justinsb @timothysc
let me know if want me to PR a fix, yet i don't know what action to take.
do you wish to keep these aliases?

[2019-07-09 00:49] BenTheElder opened #79912 "look at upgrading go to 1.12.9 / 1.11.13"
These are out now, announcement here:
https://groups.google.com/forum/#!msg/golang-announce/-JidGVRIVEc/MAGRIyQoCgAJ

@kubernetes/release-team
@kubernetes/release-engineering

[2019-07-09 00:52] BenTheElder commented on #79912
For 1.12.7:

https://github.com/golang/go/issues?q=milestone%3AGo1.12.7

----

/sig release
(also maybe scale??)

[2019-07-09 00:55] BenTheElder commented on #79912
looks like pretty much the same fixes to 1.11.12

[2019-07-09 01:07] justaugustus commented on #79912
Thanks for raising this, @BenTheElder. We'll look into it for the 1.16 cycle.
/milestone v1.16
/area release-team release-eng
/priority important-soon

[2019-07-09 01:16] draveness commented on #78830
Sorry, I'm not quite familiar with the local persistent volumes

/unassign

[2019-07-09 01:31] draveness opened #79913 "Cleanup utility function in e2e service package"
/sig testing
/priority important-longterm
cc/ @timothysc

https://github.com/kubernetes/kubernetes/pull/77155 moved service_utils into a separated package. But there is a ton of cleanup work that should be done in those utility functions.

[2019-07-09 01:31] draveness commented on #79913
/remove-kind bug
/kind cleanup

[2019-07-09 01:39] zhangguanzhang commented on #75707
I had no idea about it

[2019-07-09 02:11] ravisantoshgudimetla commented on #77998
/cc @damemi

[2019-07-09 02:14] cblecker commented on #79912
/cc

[2019-07-09 02:17] justinsb commented on #73099
Moving into the current milestone as it was not fixed in 1.14

[2019-07-09 02:30] 17billion opened #79915 "Can I set providerid after kube init?"
Can I set providerid after kube init?

Pvc is pending and I get the message "GetCloudProvider returned <nil>" as shown below.

[code]
I did not set up the CloudProvider when inited kubeadm.
So, is there any way to set the providerid of the cluster already configured via kube init?
(Kubernetes v1.14.1)

[2019-07-09 03:12] peter-wangxu commented on #79090
@dixudx

[2019-07-09 03:18] draveness commented on #79275
Hi, I tried to populate the boolean value bottom-up, but the code does not look good and seems redundant. I don't feel like it is a good idea. Please feel free to take it over.

/unassign

[2019-07-09 03:23] dixudx commented on #79090
/assign

[2019-07-09 03:24] dixudx commented on #79090
/kind bug
/sig storage

I will file a PR to fix this.

[2019-07-09 03:30] #79838 closed

[2019-07-09 03:37] feiskyer commented on #79597
Related with https://github.com/Azure/aks-engine/pull/1548

[2019-07-09 04:05] peter-wangxu commented on #79823
Sure, if confirmed, I can also start work with this

[2019-07-09 04:14] nikhita commented on #72638
I believe the idea is `v215.0.1` for `v2.15.1` of k/k. cc @sttts

[2019-07-09 04:18] nikhita commented on #72638
xref https://github.com/kubernetes/publishing-bot/pull/196

[2019-07-09 04:21] #73859 closed

[2019-07-09 04:21] #70342 closed

[2019-07-09 04:30] RainbowMango commented on #65517
/cc

[2019-07-09 04:39] Coderhypo commented on #79839
Interesting way，maybe you can run multiple `kubelet` and use `--docker-endpoint` flag to connect multiple docker daemons🙂

[2019-07-09 04:40] SataQiu commented on #79632
I guess you need to mount `/summer/conf.json` for kube-scheduler container.
Try to edit `/etc/kubernetes/manifests/kube-scheduler.yaml`, add `volumeMounts` and `volumes` :
[code]

[2019-07-09 04:52] peter0086 commented on #79876
It 40s. Is the nodeMonitorGracePeriod must be smaller to node-status-update-frequency?
My default node-status-update-frequency setting is 10s, which works well.

[2019-07-09 05:02] wawa0210 commented on #79515
I added the parameter '--network-name=cbr0' for kube-proxy , there's no change and report the error as the same as i posted

[2019-07-09 05:42] xelalexv commented on #78684
It's inaccessible again (ElasticSearch image as well):

[code]

[2019-07-09 06:48] feiskyer commented on #75249
@dineshgovindasamy @PatrickLang Do you know any updates for this on HCS?

[2019-07-09 06:49] mm4tt commented on #79898
for the time of investigation I'll raise the limits, this should deflake the presubmits

[2019-07-09 06:51] ReSearchITEng commented on #77921
You are right, I did not notice the 3rd section:"node" (I must have checked under "client"). Sorry about that.

Now, that we are at this, would it be very complex to open a package manager repo for alpha&beta (yum/deb), the same way there is one for final releases?

[2019-07-09 07:24] #69771 closed

[2019-07-09 07:48] yue9944882 commented on #70657
/remove-lifecycle stale

[2019-07-09 07:58] MOZGIII commented on #56850
Does anyone know where are apt/rpm packages for kubelet built? We probably should create a PR to that with fix from https://github.com/kubernetes/kubernetes/issues/56850#issuecomment-406241077.

[2019-07-09 08:04] cwdsuzhou opened #79922 "Protected_test.go do not remove tempdir when test finished"
**What happened**:

I run the unit tests for project.go, but I found it would not clean the tempdir it created.
![image](https://user-images.githubusercontent.com/12230714/60870299-2784fe00-a263-11e9-8da3-713a78e52634.png)

**What you expected to happen**:

automatically clean up when finishing unit tests.

**How to reproduce it (as minimally and precisely as possible)**:

go test $GOPATH/k8s.io/k

[2019-07-09 08:07] zhangiicc opened #79923 "kubernetes RBAC Permission by pod name"
kubernetes RBAC Permission by pod name
How to do it

[2019-07-09 08:11] cwdsuzhou commented on #79922
/sig storage
/sig testing

[2019-07-09 08:31] MOZGIII commented on #56850
Actually, turns out it doesn't help on my system:

[code]

[2019-07-09 08:35] MOZGIII commented on #56850
In fact, according to https://www.freedesktop.org/software/systemd/man/systemd-system.conf.html# accounting is enabled by default, so there's no need to explicitly enable it.

[2019-07-09 08:43] MOZGIII commented on #56850
I'm suspecting this to be caused by some kind of a race condition in docker and kubelet start order...

[2019-07-09 08:52] MOZGIII commented on #56850
Adding `/etc/systemd/system/kubelet.service.d/12-after-docker.conf` with the content below seems to help:
[code]

[2019-07-09 08:54] tanshanshan commented on #79923
do you read the document https://kubernetes.io/docs/reference/access-authn-authz/rbac/

[2019-07-09 09:05] luthienberen opened #79926 "centos 7.6.1810 (Core), docker-ce-18.06, kubernetes 1.14.3 HA cluster (3 master + 3 node) with keepalived and haproxy on master nodes + external etcd: pod statuses updated in strange, non-understandable manner"
Hi.
I deployed k8s 1.14.3 multi-master cluster and it works but something goes wrong and unpredictable. After i shut down 3 worker nodes ( or stop docker and kubelet on them ) pods' statuses updated to "NodeLost" or "Unknown". But when i shut down master node after that, statuses of pods running on it don't updated, and then i power on ( or start docker and kubelet ) on one random worker and maste

[2019-07-09 09:14] imroc commented on #79783
Let me summarize what candidate solutions I've come up with so far.

## Add A Flag to kube-proxy
Because the root cause of this problem is the LB's IP been bounded to `kube-ipvs0`, we can add a flag to `kube-proxy` to disable this behavior, but @m1093782566 worries that the kube-proxy will be overwhelmed by too many low-level flags, as far as I know, for instance, @lbernail added a low-level flag

[2019-07-09 09:18] RainbowMango commented on #79922
/assign @cwdsuzhou

Assign the issue to you since you have fired a pull request.

[2019-07-09 09:32] ramineni commented on #78573
As mentioned in PR as Alpine is not offcially supported distro, so closing this issue.

[2019-07-09 09:33] ramineni commented on #78573
/close

[2019-07-09 09:33] #78573 closed

[2019-07-09 09:36] chenchun opened #79927 "Replacing all no endpoints iptables rules with a single line iptables rule with ipset"
**What would you like to be added**:
Replacing all no endpoints iptables rules with a single line iptables rule with ipset.

**Why is this needed**:
Currently for each service/nodeport without endpoints, kube-proxy creates a reject rule in filter table. For example

[code]

This brings performance issues if there are many empty services and most requests to pods are small packets because each pack

[2019-07-09 09:37] chenchun commented on #79927
/sig network

[2019-07-09 09:39] mm4tt commented on #79898
/assign

[2019-07-09 09:40] mm4tt commented on #79898
/retitle kube-controller-manager memory/cpu increased after switching from RCs to Deployments

[2019-07-09 09:44] mm4tt commented on #79898
Density 5K test:

Baseline (RCs):
![RtNn3eOEjzN](https://user-images.githubusercontent.com/2604887/60877666-88e6a600-a23e-11e9-9a2e-ca4435c6b08c.png)

Run with deployments:
![4Jb93J4vzZV](https://user-images.githubusercontent.com/2604887/60877720-ab78bf00-a23e-11e9-8d1a-accbdb322add.png)

Looks like memory went up, which I think is reasonable given that now there are additional Deployment objects

[2019-07-09 09:48] liqlin2015 opened #79929 "image gc was still trigged even set high threshhold 100"
**What happened**:

image gc was still triggered even set image gc high threshhold 100
[code]

From this code
[code]

We can see image gc was triggered even `amountToFree` was a negative value. Should we check value of `amountToFree` before we invoke `im.freeSpace(amountToFree, time.Now())` ?

**What you expected to happen**:
image gc should not be triggered when set high threshhold to 100.

**How

[2019-07-09 09:49] vasicvuk commented on #44458
But should node be automatically deleted from cluster if kubelet does not response in some period of time ?

[2019-07-09 09:50] liqlin2015 commented on #79929
/sig node

[2019-07-09 09:51] wgliang commented on #78898
Have this issue too

[2019-07-09 10:01] wybzju opened #79930 "The scheduler should get pod Info from schedule cache rather than PodLister"
**What happened**:
https://github.com/kubernetes/kubernetes/blob/955198751cdbf10701607490937d35d0e3d57e50/pkg/scheduler/algorithm/predicates/predicates.go#L1351

why we don't just use the function nodeInfo.Pods() to get the pods' info?
The c.podLister.FilteredList function needs to traverse all pods，and it will increase lots of time. In our case, we need take about 2s to scheduler one pod.
`I0709

[2019-07-09 10:07] young-0 commented on #38456
spec.containers add
[code]

[2019-07-09 10:10] #75590 closed

[2019-07-09 10:13] vasicvuk commented on #74689
@liggitt  Powered off machine will not have containers running after power on so i don't see why this is set like that.

Also pod-eviction-timeout should be used here. If the node is not responding for N minutes we should consider that it is dead.

[2019-07-09 10:18] vasicvuk commented on #74947
In on-premise deployments without cloud provider --pod-eviction-timeout should be used to automatically  delete node and reschedule pods from that Node.

There is no sense in waiting for lost node to became available forever.

[2019-07-09 10:36] moebius87 commented on #53533
/remove-lifecycle stale

[2019-07-09 10:46] jeremyxu2010 commented on #54214
My solution:

container use a `HostToContainer` volumeMount.

[code]
make a script file to be executed every a minute:

`/usr/local/bin/unmap_not_used_rbd.sh`

[code]

[code]

[2019-07-09 11:15] wybzju commented on #79930
/sig scheduling

[2019-07-09 11:30] Pingan2017 commented on #79929
https://github.com/kubernetes/kubernetes/blob/99ff994948ff62221fdacb532443e98dce5acbd5/pkg/kubelet/kubelet.go#L1282-L1286

imagegc will be disabled when set high threshhold to 100

[2019-07-09 11:31] kadirtaskiran commented on #76531
+1 same for me:

Docker: 18.09.7 CE
Kubernetes: v1.15.0
Kernel Version: 4.15.0-54-generic
Operating System: Ubuntu 18.04.2 LTS

[2019-07-09 11:34] neolit123 commented on #77921
"client" is the only package that is missing kubeadm.

this is a WIP by sig-release and the publishing process.
see this KEP (k8s proposal) about having pre-release packages:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190219-publishing-packages.md#user-stories

[2019-07-09 11:37] neolit123 commented on #77921
but given kubeadm is already in the tars, we can close this issue.
/close

[2019-07-09 11:37] #77921 closed

[2019-07-09 12:02] jsafrane commented on #79896
Unfortunately, we use symlinks to check if all pods that use a device are deleted so we can remove the global "symlink":

https://github.com/kubernetes/kubernetes/blob/be7da5052f40d8bcb7b6195ddae93f33b1faea28/pkg/volume/util/operationexecutor/operation_generator.go#L1305-L1312

Complex solution or even rework of whole block device reference counting is needed here.

[2019-07-09 12:19] neolit123 commented on #72638
given k/k is not following semver directly (breaking api changes for MINOR), i don't see why we should diverge the staging repos to comply with semver and have different tags - i.e. why not simply do 1to1 mapping and have breaking API changes in MINORs there too?

[2019-07-09 12:20] fankangbest commented on #79010
/assign

[2019-07-09 12:20] PauloASilva commented on #79779
Hi @mattjmcnaughton,

Before opening this issue we have briefly discussed this with the security team and decided to make the discussion public to get more feedback from the community.

Let's put security aside for a second.
We know that with hostname collisions the database becomes inconsistent: it won't be able to provide accurate information about cluster nodes. Besides that, concurrent updates

[2019-07-09 12:41] yanghaichao12 opened #79934 "Some problems about workqueue"
**What happened**:
When I use workqueue(https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/util/workqueue/queue.go) in the following order: Add(item)-->Done(item),I noticed that the  queue is getting bigger and bigger because of the section：
[code]

**What you expected to happen**:
the queue can be  handled correctly and i want to know Why not judge if there is dupli

[2019-07-09 12:43] yanghaichao12 commented on #79934
/sig api-machinery

[2019-07-09 12:51] nikhita commented on #72638
k/k is not expected to be imported directly so it doesn't matter if it doesn't respect semver. However, the published repos are expected to be imported and if we want to use semantic versioning with versioned imports for it, we need to respect semver because versioned imports will have the major version in the import paths. And users will be expected to update their import paths only when there ar

[2019-07-09 13:00] blessedwithsins commented on #79556
This issue doesn't happen If i switch to Ubuntu 16.04 Xenial LTS release. Happens only with using GCE with Ubuntu 18.04 Xenial LTS.

[2019-07-09 13:01] blessedwithsins commented on #79556
This has already been set and I'm using systemd as cgroup driver which is advised.

[2019-07-09 13:10] rustyx commented on #20555
Also read the [limitations](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#limitations) of GKE Ingress:

[2019-07-09 13:13] neolit123 commented on #72638
i see, so it's a problem with the semantic MAJOR imports go does.
in any case, `v215.0.1` or `15.0.1` will surely end up as being confusing.

[2019-07-09 13:13] pohly commented on #72638
This leads to the next question: will the published packages use versioned imports themselves?

If I import one package, the expectation is that it imports the correct version of all its dependencies.

[2019-07-09 13:26] neolit123 commented on #72638
if someone starts doing `v15/` imports it means they have to update their imports on a much higher rate because this `v15` maps to a MINOR behind the lines that updates every 3 months.

the diffs for such changes will be big and frequent.

versioned imports have the benefits of mixing APIs and code from different MAJORs, but do we have use cases for that outside of core (v1)? the alternative the u

[2019-07-09 13:27] robertrbruno opened #79935 "k8s 1.14.4 rpms not available in yum repo"
Hopefully a simple answer.  I saw k8s 1.14.4 was released yesterday but still no rpms showing up in the repo index.  Any info on when they should show up would be great.

Any chance this can be part of the automated build process so yum is updated when the official release happens?

[2019-07-09 13:34] RainbowMango commented on #79610
I benefit a lot from @yliaog and @yue9944882's comments.

After go through the code, i'd like to share my findings and look forward to some advise.

## Root Cause

The controller, `garbagecollector` and `resourcequota`, will request a dynamic informer when a CRD be created.  The two controller each add an event handler to the informer.

Take quota as example, the code as follows:
https://github.co

[2019-07-09 13:38] mm4tt commented on #79898
I run density test on 100 node cluster with prometheus enabled, the increase in CPU is significant when using Deployments:
![LF70YfW7EkD (1)](https://user-images.githubusercontent.com/2604887/60892512-88aad280-a25f-11e9-88b1-11813f42330c.png)

[2019-07-09 13:43] robertrbruno commented on #79935
@kubernetes/sig-release-bug

[2019-07-09 13:46] robertrbruno commented on #79935
/sig release

[2019-07-09 13:48] nikhita commented on #72638
Yes, this is the intention.

This is true, such is the curse of versioned imports and a faster release cycle. :)

Experimenting in https://github.com/kubernetes/publishing-bot/pull/196 to figure out how disruptive versioned imports could be.

Honestly, I'm not sure how useful combining different major versions will be for our repos since a bunch of them use global variables and things can quickly

[2019-07-09 13:48] dims commented on #72638
@liggitt @sttts WDYT?

[2019-07-09 13:51] nikhita commented on #72638
xref https://github.com/kubernetes/client-go/issues/631

[2019-07-09 13:55] monotek commented on #78684
See: https://github.com/kubernetes/kubernetes/pull/79390

[2019-07-09 14:24] mrwonkerz opened #79936 "1.15 Kubelet service crashing Windows-Node"
**What happened**:
While trying to add a Windows Node to the cluster in v1.15 the kubelet service crashes.
It shows me the follwing messages

[code]

**What you expected to happen**:
I expect my Windows Node to start the kubelet service and be added to the clust successfully

**How to reproduce it (as minimally and precisely as possible)**:
Try adding a Windows Node to a v1.15 cluster via offical

[2019-07-09 14:25] mrwonkerz commented on #79936
/sig windows

[2019-07-09 14:45] mattjmcnaughton commented on #79926
Hi @luthienberen , thanks for your question :)

Looking at https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/, I'm thinking that you may have the most luck first asking your question on Stack Overflow or the k8s slack. Mind closing this issue and asking there? If the debugging process uncovers a bug in the k8s code itself, that'd be a great time to file an issue.

thanks :

[2019-07-09 14:48] mattjmcnaughton commented on #79929
Would you mind sharing the log message you're seeing indicating that garbage collection was triggered? I imagine it would look something like:

[code]

[2019-07-09 14:59] mattjmcnaughton commented on #79779
Gotcha, thanks for the update :) My personal opinion is that I agree with you, but I'm not familiar with how the database key was originally decided. Could you ping whoever originally authored that code and see if they would be willing to weigh in? Thanks :)

[2019-07-09 15:09] liggitt commented on #79838
fixed by https://github.com/kubernetes/kubernetes/pull/79895, picked to 1.15.x in https://github.com/kubernetes/kubernetes/pull/79918, will be in v1.15.1

[2019-07-09 15:11] liggitt commented on #79934
Get()/Done() calls *must* be paired 1:1. See examples for how to use the workqueue here: https://github.com/kubernetes/client-go/blob/master/examples/workqueue/main.go#L52-L60

/close

[2019-07-09 15:11] #79934 closed

[2019-07-09 15:14] Pothulapati commented on #79838
Awesome @liggitt
Thanks for the quick fix :)

[2019-07-09 15:16] MartinKaburu commented on #78879
@Pingan2017 any update on this?

[2019-07-09 15:26] #77741 closed

[2019-07-09 15:30] zhiweiyin318 opened #79939 "add QPS and Burst to DelegatingAuthorizationOptions as flags"
**What happened**:
I use aggregated apiserver to extend additional APIs.
When  a large number of concurrent requests are send to the aggregated apiserver, the responses have a high latency.
Because the aggregated apiserver uses `DelegatingAuthorizationOptions` to create a client making `SubjectAccessReview` calls to the kube-apiserver for authorization.
But the `QPS` and `Burst` of client config a

[2019-07-09 15:32] #73876 closed

[2019-07-09 15:32] yanchicago commented on #55713
Same issue here. The pods on the cordoned nodes are not terminated and started on the other ready nodes. After manually/force terminating the pods, the pods are rescheduled on the same cordoned/NotReady,ScheduleingDisabled nodes.

[2019-07-09 15:32] zhiweiyin318 commented on #79939
/sig api-machinery

[2019-07-09 16:08] sashayakovtseva commented on #79803
Hello @mattjmcnaughton, are there any updates so far?

[2019-07-09 16:08] saravanakumar-periyasamy commented on #71071
yes, we are seeing the issues in 1.12.9 too

[2019-07-09 16:14] arunbpt7 commented on #78865
@pickledrick

/var/lib/docker is a separate file system apart from node root fs

[2019-07-09 16:45] soccerdroid commented on #44665
If you are creating a cluster with more than 1 node (using kubeadm, k8s, ...) @SunHarvey solution works.

[2019-07-09 17:29] logicalhan commented on #76302
/remove-lifecycle stale

[2019-07-09 17:31] robertrbruno commented on #79935
I did notice the rpms seemed to have just showed up!  Is a delay normal?  Just wanted to set expectations.

[2019-07-09 17:32] lbernail commented on #71071
Are you sure it is the same issue?
Can you post the logs of a kube-proxy instance?

[2019-07-09 17:33] lbernail commented on #71071
Are you sure it is the same issue?
Can you post the logs of a kube-proxy instance?

[2019-07-09 18:12] qwrobins commented on #71502
I'm having this issue as well. Is there a work around?

[2019-07-09 18:34] JeremyWx commented on #78479
I just tested this with 1.14 and 1.15 binaries.  I was unable to reproduce the error with the 1.15 binaries.  Could someone else test this or perhaps @DavidSimner could re-test?

[2019-07-09 18:43] michmike commented on #78479
thanks for looking into this Jeremy

[2019-07-09 19:06] liggitt commented on #79740
this job is running 1.14-level tests against master (1.16). the test should be updated to run 1.15 against master

[2019-07-09 19:17] cchildress commented on #74151
Not stale

[2019-07-09 19:56] wuestkamp commented on #22188
Is there a good pattern you found @ch-acctg?

[2019-07-09 20:31] epa095 commented on #44165
This is definitely still an issue, /reopen

[2019-07-09 21:17] cheftako commented on #79739
Hi @queeno, the documentation for your use case can be found at https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#add_firewall_rules. Please feel free to let us know if you feel it should be more explicit for the webhook use case.

As Jordan mentions the "--enable-aggregator-routing=true" flag is because we do not run a DNS pod on the master. We made a conscious decision to n

[2019-07-09 21:25] davidz627 commented on #67972
/reopen

[2019-07-09 21:28] davidz627 commented on #75146
implemented here: https://github.com/kubernetes/kubernetes/blob/df346787d2da6aa6afe36496ad522307e2e59463/pkg/volume/util/operationexecutor/operation_generator.go#L1850
/close

[2019-07-09 21:28] #75146 closed

[2019-07-09 21:40] Huang-Wei commented on #40358
/remove-lifecycle rotten

[2019-07-09 22:10] liggitt commented on #79939
/remove-sig api-machinery
/sig auth

[2019-07-09 22:10] liggitt commented on #79939
/kind feature
/remove-kind bug

[2019-07-09 22:10] liggitt commented on #79923
roles can grant permission to specifically named resources with the `resourceName` attribute in a rule

/close

[2019-07-09 22:10] #79923 closed

[2019-07-09 22:13] liggitt commented on #79881
/assign @tallclair @dekkagaijin

[2019-07-09 22:21] pickledrick commented on #78865
Hi @arunbpt7

Yes, My test environment reflects this. Are you able to confirm the docker version you are using in this environment?

[2019-07-09 22:22] dchen1107 commented on #79389
@icelynjennings we missed you earlier at today's SIG Node weekly, and decided to move it to next week's SIG Node. Please let us know if you can join us.

I did read your proposal though, and have a few comments:

In your proposal, you listed two use cases, but both are related to a down registry. If a broken register is the only reason / cause here, shouldn't configuring container runtime with reg

[2019-07-09 22:39] #73879 closed

[2019-07-09 22:58] justaugustus commented on #79935
@robertrbruno -- Yep! We have a separate process for staging and releasing the artifacts to GitHub. Once that happens, we build the debs/rpms, so there's a bit of a delay.

We always wait until the debs/rpms are built to [announce to the community](https://groups.google.com/d/topic/kubernetes-announce/rk9Ev9jWuuI/discussion) though, so that's the signal that everything is good to go (for future re

[2019-07-09 22:58] #79935 closed

[2019-07-10 00:17] loqutus commented on #79939
i'm going to work on this one

[2019-07-10 00:43] PatrickLang commented on #79936
@ksubrmnn - did you remove this flag in the new version of those scripts?

[2019-07-10 00:45] PatrickLang opened #79950 "Containers with "m" used as abbreviation in memory limits fail to start on Linux, and consume 1e+9 too much memory on Windows"
## Background

https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/

  Limits and requests for memory are measured in bytes. You can express memory as a plain integer or as a fixed-point integer using one of these suffixes: E, P, T, G, M, K. You can also use the power-of-two equivalents: Ei, Pi, Ti, Gi, Mi, Ki. For example, the following represent roughly the same

[2019-07-10 00:45] PatrickLang commented on #79950
/sig node
/sig api-machinery

[2019-07-10 01:01] PatrickLang commented on #79950
/sig windows

[2019-07-10 01:19] draveness commented on #79930
/assign

[2019-07-10 01:21] liqlin2015 commented on #79929
@Pingan2017 I'm afraid not.
@mattjmcnaughton here is kubelet log
[code]

[2019-07-10 01:21] liggitt commented on #79950
/remove-sig api-machinery

cc @kubernetes/api-reviewers

See previous discussion in https://github.com/kubernetes/kubernetes/issues/49442

Tightening pod API validation is not generally feasible, since that can cause existing persisted data to be treated as invalid, and in some cases, not be able to be updated in order to be deleted. See https://github.com/kubernetes/kubernetes/issues/64841

If th

[2019-07-10 01:46] Pingan2017 commented on #79929
what's the version of kubelet? @liqlin2015  using `kubelet --version` on node

[2019-07-10 01:48] hex108 commented on #76386
/close

[2019-07-10 01:48] #76386 closed

[2019-07-10 01:57] liqlin2015 commented on #79929
@Pingan2017  See above my append, it's k8s v1.13.7.

I think I got it, in deepCopy of KubeletConfiguration there is no `ImageGCHighThresholdPercent`.
[code]

This is the reason why behaviour of `kl.kubeletConfiguration.ImageGCHighThresholdPercent == 100 ` is different.

[2019-07-10 02:30] mjaow opened #79957 "which http code may lead to apiserver to create pod"
when i  invoke apiserver to create a pod, it will return http code with 2xx,3xx,4xx,5xx.

1.  I know 2xx means pod will be created, and then I will check the pod status periodic.
2. Is there other situation(maybe 4xx,5xx) which will lead to a pod to be created.I wanna filter impossible situation and reduce visiting to apiserver

I thought 5xx may lead to this result, maybe it cost apiserver too lo

[2019-07-10 02:31] mjaow commented on #79957
/sig api-machinery

[2019-07-10 02:34] Pingan2017 commented on #79929
`klog.V(2).Infof("ImageGCHighThresholdPercent is set 100, Disable image GC")`
Have this message if set log level to 2?

[2019-07-10 02:59] eshiroma opened #79958 "GKE IAM authorizer can authorize verb="*" checks, but not specific verbs"
**What happened**:
[code]

**What you expected to happen**:
The above should both return "no" because `kubectl auth can-i create rolebindings` returns "no" (as expected).

**How to reproduce it (as minimally and precisely as possible)**:
For user with permission to get but not create rolebindings (in all namespaces):
[code]

**Anything else we need to know?**:
Verbose version of what was expected

[2019-07-10 03:20] #79806 closed

[2019-07-10 03:49] liqlin2015 commented on #79929
@Pingan2017 No. You see above kubelet log, image gc was triggered. So the condition was not met.
I was trying to debug the issue by adding more debug log. Seems `ImageGCHighThresholdPercent` from kubelet configure was lost due to some reason.

[2019-07-10 03:52] ricky1993 commented on #65954
/remove-lifecycle stale

[2019-07-10 04:20] hh commented on #79116
[code]
This test focuses on chunking the results of API list calls. It happens to create and list PodTemplates, which is why it's on the radar.

I think we should evaluate whether it's a good conformance test or not separately from the fact that it happens to hit endpoints that would increase endpoints hit by conformance tests.

[2019-07-10 04:25] hh commented on #79115
This one seems like a likely candidate:
[code]
It will add one new stable endpoint: patchCoreV1NamespacedPodStatus

[2019-07-10 04:26] hh commented on #79115
This test is disabled for large clusters... would that preclude it from conformance?
/cc @johnbelamaric
[code]
It would add another endpoint: listCoreV1PodForAllNamespaces

[2019-07-10 04:54] soggiest opened #79965 "[Failing Test] [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should support creating multiple subpath from same volumes [Slow]"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-master-new-downgrade-cluster

**Which test(s) are failing**:
* [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] provisioning should allow concurrent writes on the same node
* [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should

[2019-07-10 05:19] #79929 closed

[2019-07-10 05:25] liqlin2015 commented on #79929
Sorry. It was k8s v1.10.1. I was misled by two different clusters. For k8s v1.10.x, there is no fix
[code]

[2019-07-10 05:32] yue9944882 commented on #79939
in a bigger picture, the feature will be solved in https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md which moves rate-limiting to server-side. note that in the current design, the delegated auth[z/n] and webhook request will be placed an exempt/top priority to avoid priority inversion (spawned/delegated request got suspended by normal r

[2019-07-10 06:02] #79689 closed

[2019-07-10 06:02] #79710 closed

[2019-07-10 06:06] luthienberen commented on #79926
Hi @mattjmcnaughton and thanks for your reply!

Unfortunately, there're no answers on slack channel and no similar post on GitHub and StackOverflow, that's why i create this issue, hoping there's someone who can help me here.

Do you have any thoughts related to my problem? It will be great if you share couple of them so i can try them out.

Thanks!

[2019-07-10 06:13] imroc commented on #79783
We can add `--ipvs-exclude-external-ip` to kube-proxy which control whether to disable ipvs forwarding to the LoadBalancer's IP, I think it makes more sense, I'm going to submit a PR for this, what do you think? @m1093782566 @lbernail

[2019-07-10 06:14] 0312birdzhang commented on #23255
Change `overlay` to `overlay2` not works for me, i'm sure the issue still there.

[2019-07-10 06:36] zhiweiyin318 commented on #79939
@yue9944882  my temporary solution is to refactor the `ApplyTo` and `getClient` methods of delegated auth in my aggregated apiserver.
but it looks like ugly.
by the way, would the priority and fairness feature be merged into the next release or not?

[2019-07-10 07:01] bertinatto commented on #74313
/remove-lifecycle rotten

I have a PoC fix for this. Will open a PR soon.

[2019-07-10 07:02] bertinatto commented on #74313
/remove-lifecycle stale

[2019-07-10 07:07] bbotte commented on #37471
I can't make it, so use the shell.

[2019-07-10 07:07] bbotte commented on #37471
kubectl get po |awk 'NR>1{print $1}'|while read i;do echo "echo " $i >> 2; echo kubectl exec -it $i -- ping db-com -c 1 2\>\&1 \|grep from\|awk \'\{print \$4\}\'  >> 2;done

[2019-07-10 07:09] bbotte commented on #37471
I can't make it, so use the shell，For example, ping db.com
kubectl get po |awk 'NR>1{print $1}'|while read i;do echo "echo " $i >> a; echo kubectl exec -it $i -- ping db.com -c 1 2\>\&1 \|grep from\|awk \'\{print \$4\}\'  >> a;done
sh a

[2019-07-10 07:11] oscarlofwenhamn commented on #79678
@nagexiucai "`-A`~`--all-namespaces`" is already implemented as in #72006, in [v1.14.0-alpha.1](https://github.com/kubernetes/kubernetes/blob/bdc948d4c949bc498f8e599797e24a1726a99d69/CHANGELOG-1.14.md#v1140-alpha1). Not sure if I came across as suggesting a new shorthand or if I misread your comment, but for clarity's sake there it is.

[2019-07-10 07:15] alexfedoseev opened #79967 "`kubectl logs` with `-l` flag doesn't print all logs with `--tail=-1`"
**What happened**:
When I run `kubectl logs -l app=my-label --tail=-1` it prints last 10 lines from each pod (30 lines for 3 pods in my case).

**What you expected to happen**:
All lines from all logs should be printed.

**How to reproduce it (as minimally and precisely as possible)**:
I guess by running this command against cluster with multiple pods with the same label.

**Anything else we need

[2019-07-10 07:21] alexfedoseev commented on #79967
/sig cli

[2019-07-10 07:36] alenkacz commented on #79967
@alexfedoseev `--tail=-1: Lines of recent log file to display. Defaults to -1 with no selector, showing all log lines otherwise 10, if a selector is provided.`

that sounds to me like it's actually using the default even if you explicitly specified `-1`

[2019-07-10 07:37] alenkacz commented on #79967
/assign

[2019-07-10 07:37] alenkacz commented on #79967
I can take a look at this one if you're not planning on submitting PR..

[2019-07-10 07:52] alexfedoseev commented on #79967
Thanks! I also try to use `--since-time` flag but it seems it also ignored (i.e. I receive default 10 lines per pod).

[2019-07-10 08:00] jerryyifei commented on #28272
Any update on this :)   I'm using helm chart to install containers, and want to figure out where to add shmsize value

[2019-07-10 08:18] mm4tt commented on #79898
Once https://github.com/kubernetes/kubernetes/pull/79937 gets merged we should wait ~1 day and then check perf-dash and see if it'll be good to lower the thresholds.

[2019-07-10 08:19] hex108 opened #79972 "Add an interface in FrameworkHandle to get Kubernetes client related info"
**What would you like to be added**:

Add an interface in FrameworkHandle to get Kubernetes client(`kubernetes.Interface`) and a list of listers(e.g. `PodLister`). I find [PluginFactoryArgs](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/factory/plugins.go#L37) might be an appropriate struct for it, however there is no Kubernetes client in it, we could add it later?

**Why is t

[2019-07-10 08:33] bertinatto opened #79973 "iSCSI storage plugin not cleaning up dir"
**What happened**:

When creating a block volume, the iSCSI storage plugin stores volume-related data in different directories:

[code]
As a result, some data is not cleaned up once the volume is detached:

[code]
**How to reproduce it (as minimally and precisely as possible)**:

These are the objects I used to reproduce this issue:

claim.yaml
[code]

pod-block.yaml
[code]

pv.yaml
[code]

/sig s

[2019-07-10 08:34] bertinatto commented on #79973
/assign

[2019-07-10 08:55] bikashkarmakar opened #79975 "kubectl apply failing for pod with imagePullSecrets and resources defined in yaml"
**What happened**: Trying to deploy a pod from a private container registry with kubernetes secret and resources with the attached YAML file
kubectl apply -f cloudlink-pyapp2-pod.yaml
error: error validating "cloudlink-pyapp2-pod.yaml": error validating data: [ValidationError(Pod.spec.containers[0]): unknown field "imagePullSecrets" in io.k8s.api.core.v1.Container, ValidationError(Pod.spec): unkno

[2019-07-10 09:02] bikashkarmakar commented on #79975
@kubernetes/sig-cli-bugs as per https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/ ,the yaml should  specify the resouces for the containers. But getting rror: error validating "cloudlink-pyapp2-pod.yaml": error validating data: [ValidationError(Pod.spec.containers[0]): unknown field "imagePullSecrets" in io.k8s.api.core.v1.Container, ValidationError(Pod.spec): u

[2019-07-10 09:20] llech commented on #29838
Are there really any disadvantages of this feature?

Are there really any advantages of showing events in random order?

[2019-07-10 09:25] mrwonkerz commented on #79936
It works now, i forgott to remove the --allow-privileged flag from the windows service script

[2019-07-10 09:25] #79936 closed

[2019-07-10 09:36] zedtux commented on #29838
Seriously?

Looking at a history with a random order of the event isn't an issue for you @llech ?

[2019-07-10 09:49] RainbowMango commented on #79616
@detiber
Can you share more about the `additional logic`?  Should we split `pkg/kubectl/drain` to `pkg/kubectl/cmd/drain` and `k8s.io/xx`?

Please let me know if there any task i can do.

[2019-07-10 10:48] jsafrane opened #79980 "CSI volume reconstruction does not work for ephemeral volumes"
When a pod is marked as deleted while kubelet is down / being restarted, newly started kubelet does not clean up  CSI filesystem volumes of the pod.

Newly started kubelet tries to reconstruct the volume using CSI's `ConstructVolumeSpec` function. This part looks working, CSI volume plugin loads its json file.

But then VolumeManager checks if the volume is still mounted in `/var/lib/kubelet/pods/

[2019-07-10 10:49] jsafrane commented on #79896
I filled #79980 that's related to filesystem volumes, let's focus on block here.

[2019-07-10 10:50] jsafrane commented on #79980
/sig storage

related to #79896

cc @jingxu97 @vladimirvivien @msau42

[2019-07-10 11:00] planetf1 commented on #75565
++ for issue above. I'm fortunate enough to have easy access to a cloud environment, but for getting people onboarded with the idea of using k8s - or using k8s to showcase what I work in, it's a real inhibitor

[2019-07-10 11:14] qiaolin2019 opened #79982 "mount ceph volume error"
ceph-common version 0.94.5
ceph server  is  12.2.10

mout ceph error

	2019-07-10 18:32:35.730848 7f30271b7700  0 -- 100.2.28.128:0/1011471 >> 100.2.26.65:6789/0 pipe(0x7f3008000a60 sd=4 :40003 s=1 pgs=0 cs=0 l=1 c=0x7f300801a8c0).connect protocol feature mismatch, my 83ffffffffffff < peer 481dff8eea4fffb missing 400000000000000
2019-07-10 18:32:35.730912 7f30271b7700  0 -- 100.2.28.128:0/1011471

[2019-07-10 11:15] imeoer commented on #79832
There are two solutions:

1. Disable webhook creation with the same name.
2. Add `configuration_name` label to metric as @answer1991 said.

For compatibility, we can consider the second solution.

[2019-07-10 11:38] cofyc commented on #71928
@rohith-vallabhaneni What's your k8s version?

[2019-07-10 11:53] jsafrane commented on #79980
Maybe a stupid idea... Reconciler sync has found a directory in `/var/lib/kubelet/pods/<pod UID>/volumes/<plugin name>/<volume name>`. Reconciler has no way how to check that CSI volume (or any other volume) is really mounted / published there. Depending on DSW:

* The volume is in DSW -> from comment here it seems that the SetUp (=NodePublish) will be called on the volume:

https://github.com/kub

[2019-07-10 12:00] bcollard commented on #55045
Statefulset deletion should trigger its PVCs deletion. The fact that your existing data will be kept or removed depends on the StorageClass's **reclaim policy**. If no storageClass is defined, use the default one.

[2019-07-10 12:07] liucimin commented on #79833
@gjcarneiro
Report some thing about this issue.
I use my cluster(v1.14) to check this problem with your args.But the docker info is correct in my cluster.

[code]

[code]

And then i check the code in 1.14，the clac is correct in the code.
[code]

Then i check the code in 1.13.3, the code  also seem right ....
I will try to use 1.13.3 to check the runtime info.

[2019-07-10 12:27] pohly commented on #75222
As discussed in https://github.com/kubernetes/kubernetes/issues/79624, it is useful to allow drivers to work in both modes. https://github.com/kubernetes/kubernetes/pull/79983 implements that.

What remains open is to check the CSIDriver.Mode: an additional sanity check that prevents a "normal" driver to be used inline or vice-versa is useful.

Or can we rely on CSI drivers failing gracefully when

[2019-07-10 12:36] deitch commented on #40651
It looks like the proposal was accepted, but was it actually implemented?

[2019-07-10 12:37] jsafrane commented on #79980
Filed https://github.com/kubernetes/kubernetes/issues/79980, PTAL

[2019-07-10 12:40] anamika-avinash commented on #78164
I did face a similar issue.
Can you tell me if you are using the aws-vpc-cni or any other custom cni?

[2019-07-10 12:46] pohly opened #79986 "CSI inline volumes: remove CSIVolumeSource.FSType"
**What would you like to be added**:

CSIVolumeSource.FSType in pkg/apis/core/types.go needs to be removed or deprecated.

**Why is this needed**:

By design, volume creation is left entirely to the driver. There's no way how Kubernetes can translate `FSType` into anything that the driver's `NodePublishVolume` can understand. Therefore this field should be removed from the API before making it bet

[2019-07-10 12:46] pohly commented on #79986
/sig storage

[2019-07-10 13:28] liggitt commented on #79975
imagePullSecrets is a field in the podSpec, not in the container. check the nesting of your yaml file to make sure the imagePullSecrets field is specified at the correct level.

/close

[2019-07-10 13:28] #79975 closed

[2019-07-10 13:46] jaypipes commented on #79389
I disagree that the containerSpec is the appropriate place to put this information. Instead, I think a more appropriate strategy is to allow kubelet to make use of the OCI image specification's multiple fetch URLs feature:

https://github.com/opencontainers/image-spec/blob/da296dcb1e473a9b4e2d148941d7faa9ac8fea3f/schema/image-index-schema.json#L37-L40

At the end of the day, multiple retrieval loc

[2019-07-10 14:04] sh8121att commented on #74689
I think this needs to be toggle-able behavior as some users are going to rather have a n-1 steady state until a node is recovered rather than risking corrupted state by having a PVC + container start on boot while the same volume is possibly mounted elsewhere. Where your storage provider guarantees volume locking, you can likely safely enable automatic recovery of statefulsets.

[2019-07-10 14:07] pbugnion commented on #68078
Somewhat late to the party, but we ran into a similar issue. Network policies completely failed to block `169.254.169.254` when workload identity was on, or when the node pools had metadata concealment enabled.

Specifically, the following gcloud command creates a cluster where network policies *can* block the metadata server:

[code]

Adding ` --identity-namespace=REDACTED_PROJECT.svc.id.goog` re

[2019-07-10 14:13] liggitt commented on #74689
If a node starts back up, it can observe pods still scheduled on the node and will restart their containers. A discussion of an interlock between the node and the pod-evicting controller (so that a dead node's pods could be safely deleted by a controller without an ack from the node) is in progress at https://docs.google.com/document/d/1i2efgYG9xIXjugZgNLkLC-PG96ke59Jbup2Dx5Iv5a4/edit

[2019-07-10 14:23] hobbytp commented on #66042
But from [Guaranteed Scheduling For Critical Add-On Pods
](https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/#marking-pod-as-critical), it says "Prior to v1.11, critical pod has to run in the kube-system namespace, this restriction was removed after v1.11 and pod in any namespace can be configed as a critical pod by the following either way:xxx", so the

[2019-07-10 14:51] detiber commented on #79616
@RainbowMango I believe @ncdc was going to look into the feasibility of trying to break out the logic for the purposes of `sigs.k8s.io/cluster-api`, he might be able to provide additional context here.

[2019-07-10 15:13] mcandre opened #79988 "Better default value for resource limits"
When a container specifies a higher request value than the limitrange default value, then Kubernetes fails the deployment with complaints about `must be less than or equal to cpu limit` or `must be less than or equal to memory limit`.

This is not particularly helpful for the user. I would argue that it is more intuitive to apply a default limit value of `MAX(request, limitrange default)` here.

[2019-07-10 15:17] PierluigiLenociAkelius commented on #69461
/remove-lifecycle stale

[2019-07-10 15:23] mattjmcnaughton commented on #79803
Re cc'ing @dchen1107 and @derekwaynecarr - you could also try asking in #sig-node on the k8s slack :)

[2019-07-10 15:26] mattjmcnaughton commented on #79929
Gotcha, thanks :) If possible, it'd be great to upgrade that cluster as only 1.13, 1.14, and 1.15 are currently supported.

[2019-07-10 15:31] msau42 commented on #79980
I'm curious how the reconstruction e2e tests passed

[2019-07-10 15:35] msau42 commented on #79980
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-serial&include-filter-by-regex=CSI.*force

[2019-07-10 15:39] SleepyBrett commented on #78694
Still happening with kube 1.14.3 and crio 1.14.5.

[2019-07-10 15:43] jsafrane commented on #79896
Indeed. It's IMO against CSI spec, but I doubt anyone would complain.

With this commit, symlink counting looks working, at least the pod directory disappears after kubelet restart: https://github.com/kubernetes/kubernetes/pull/75071/commits/237a7eb412821860d701a67494903c7c24806d17.

/close

[2019-07-10 15:43] #79896 closed

[2019-07-10 15:48] Cobra1978 commented on #2630
Hi.

There are some news about this issue?

[2019-07-10 15:54] llussy commented on #79982
Similar to what I have encountered before  details: #70918

[2019-07-10 16:11] khenidak commented on #65006
/remove-triage unresolved

[2019-07-10 16:18] petertsu commented on #71502
I'm having this issue as well. Is there a work around?

[2019-07-10 16:36] gnufied opened #79990 "Ensure that NodeExpandVolume gets called by kubelet even if volume is of block type"
A block volume also may require node side expansion for CSI. We need to ensure that we call `NodeExpandVolume` for raw block devices too on kubelet.

/sig storage

[2019-07-10 16:36] gnufied commented on #79990
/assign

[2019-07-10 16:47] liggitt commented on #79939
/sig api-machinery
adding back since this intersects with the ratelimiting proposal

[2019-07-10 16:49] liggitt commented on #79602
/priority awaiting-more-evidence

[2019-07-10 16:52] liggitt commented on #23064
key publishing is proposed in https://github.com/kubernetes/community/pull/2314

[2019-07-10 16:52] cchildress commented on #74151
/remove-lifecycle stale

[2019-07-10 16:54] liggitt commented on #23064
will track via the linked proposal

/close

[2019-07-10 16:54] #23064 closed

[2019-07-10 16:55] liggitt commented on #79726
that is not correct for a client certificate... that should be "client auth"

[2019-07-10 17:03] liggitt commented on #79726
/close

[2019-07-10 17:03] #79726 closed

[2019-07-10 17:08] msau42 commented on #72139
I think this can be addressed through CSI migration.  It can translate existing zone labels on PVs to PV.NodeAffinity.

We can deprecate the VolumeZone predicate once we send out the migration deprecation notice for all cloud plugins, and then remove it entirely once migration is GA and cannot be disabled.

/assign @davidz627 @ddebroy @leakingtapan

[2019-07-10 17:26] eshiroma commented on #79958
@kubernetes/sig-auth-bug

[2019-07-10 17:37] stevebail commented on #79351
Let me try to clarify one last time.
Yes I understand that metadata.name is a DNS_Sudomain and it has a max length of 253 characters.
This is constraint #1.
No problem here. So far so good.

However, the DNS _Subdomain is also made of one or more DNS Labels and each DNS Label must have a max length of 63 characters. This is constraint #2.
This is the part that k8s is not following.

As far as I kn

[2019-07-10 17:45] neolit123 commented on #76433
did you resolve this problem?
i think the only reason it can happen is a race between nodes joining.

[2019-07-10 17:46] jsafrane commented on #79980
They start kubelet with a pod already deleted. If the pod still exists, volume reconstruction can see it in DSW and does nothing when `reconstructVolume` fails:

https://github.com/kubernetes/kubernetes/blob/978c38d488e6339aa294aa28b084f9c9626f83ab/pkg/kubelet/volumemanager/reconciler/reconciler.go#L385-L391

[Reconstruction fails because it checks for a mount in a wrong directory.]

In this case,

[2019-07-10 17:56] BenTheElder commented on #79351
Aha! Thank you very much for clarifying again, your point is much clearer 🙃

I do not have a different interpretation but will defer to @janetkuo / api-machinery.
imho we should absolutely see this clarified or the check adjusted.

[2019-07-10 18:04] msau42 commented on #72139
This also implies the volumebinding predicate needs to call the translation library

[2019-07-10 18:30] 2opremio opened #79994 "Pending load balancer security groups leak in AWS legacy cloud provider"
**What happened**:

A security group is leaked when a `<pending>` (due to having reached the ELB limit) `type: LoadBalancer` Service is deleted.

**What you expected to happen**:

The Security group should be deleted when deleting the service.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create file `memcache-svc.yaml`:

[code]

2. Create enough services to surpass the EL

[2019-07-10 18:30] dims commented on #75491
/remove-lifecycle stale
/good-first-issue

[2019-07-10 18:31] dims commented on #75491
/sig release

[2019-07-10 18:34] #79158 closed

[2019-07-10 18:41] kolorful opened #79995 "Add CatchUp concurrency policy to Cronjob"
**What would you like to be added**:

1. Add a new option `CatchUp` to Concurrency Policy in Cronjob spec, once chosen, when cronjob controller sees a list of `recentUnmetScheduleTimes`, it will schedule from the oldest instead of the latest.
2. Only check the limit on 100 max `recentUnmetScheduleTimes` when `concurrencyPolicy` is `Allow`
3. Allow cronjob controller to pass a start_time and end_ti

[2019-07-10 18:44] kolorful commented on #79995
/sig apps

[2019-07-10 18:47] 2opremio commented on #79994
/sig AWS
/sig cloud-provider

[2019-07-10 19:21] leakingtapan opened #79997 "kubeadm doesn't fallback to client version when there is 502 Bad Gateway"
**What happened**:
I was using kubeadm to generate cluster ca:

[code]

The CA generation failed because of 502 bad gateway returned and the response body isn't empty when it's trying to fetch stable version from internet. In this case, the `KubernetesReleaseVersion` function returns error instead of falling back to local client version:

[code]

[here](https://github.com/kubernetes/kubernetes/blo

[2019-07-10 19:29] qbaze commented on #36222
`Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"archive", BuildDate:"2019-06-20T22:55:20Z", GoVersion:"go1.12.6", Compiler:"gc", Platform:"linux/amd64"}`

`Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"2166946f41b36dea2c4626f90a77706f426cdea2", GitTreeState:"clean",

[2019-07-10 19:48] jmcmeek commented on #76292
I think we can close this issue.  All the PRs that I expect to see merged have been merged already.  I'm checking to see what to do with the remaining 1.11 PR.

[2019-07-10 19:48] #76292 closed

[2019-07-10 19:55] jaypipes commented on #79159
@hex108 sorry for delayed response, Jun. I have some follow-up questions.

First, I would expect that one of your Pods would have a status of Succeeded, but I only see Pods in either Error or PreStartHookError status. Do you see Pods get to Succeeded state as well, or do all Pods that are launched for the Job always end up in either Error or PreStartHookError?

Secondly, have you tried reproducing

[2019-07-10 20:00] #73842 closed

[2019-07-10 21:17] andrewsykim commented on #68270
Spoke with @ sfxworks on slack a few weeks ago, turns out his cluster was misconfigured. Are folks still running into this issue or was it resolved in https://github.com/kubernetes/kubernetes/pull/65226?

[2019-07-10 21:17] andrewsykim commented on #68270
Spoke with @sfxworks on slack a few weeks ago, turns out his cluster was misconfigured. Are folks still running into this issue or was it resolved in #65226?

[2019-07-10 21:17] Pothulapati commented on #75491
I am willing to take this, if it is available :)

[2019-07-10 21:26] dims commented on #75491
@Pothulapati go for it. All you need to do is remove `makeSymlinksFlag` and associated code - https://cs.k8s.io/?q=makeSymlinksFlag&i=nope&files=&repos=kubernetes/kubernetes

[2019-07-10 21:31] kendru commented on #44528
Also having this issue on GKE

[2019-07-10 23:11] gnufied opened #80002 "Update volume expansion e2e to create pods for block expansion - so as NodeExpandVolume can be called"
Currently the e2e that does volume expansion verification for block volumes does not work correctly for CSI drivers because for CSI driver `NodeExpandVolume` must be called even if volume is of type `Block`.

Granted - a driver may not implement `NodeExpandVolume` or the node expansion can be a no-op but this gives the kubelet chance to update pvc.Status.Capacity for such raw block PVCs.

/sig sto

[2019-07-10 23:20] kolorful commented on #79995
@kubernetes/sig-apps-feature-requests

[2019-07-10 23:24] #79538 closed

[2019-07-10 23:37] yujuhong commented on #76740
/cc @liyanhui1228

[2019-07-11 00:55] fahadullah opened #80005 "computePodActions() assumes "created" containers as dead"
**What happened**:
Runtime started an already created (later running) container without killing the existing one. I added some extra logging in computePodActions() to log the container statuses below. There were two containers containerA, containerB in the pod.

GetPodStatus() returned containerB as "created" and containerA as "running" which was later used by SyncPod.

[code]

While the "created"

[2019-07-11 00:58] fahadullah commented on #80005
/sig node

[2019-07-11 01:07] superbrothers commented on #74178
/remove-lifecycle stale

[2019-07-11 01:18] gnufied opened #80006 "Force deleting a pod before it could finish mounting may cause unmount to never finish"
If a mount operation takes too long (in order of ~30mins for example) because of recursive chown/chmod thingy and in the meanwhile user force deletes the pod then although mount operation will eventually succeed but volume/pod does not gets removed from DSOW because:

[code]

/sig storage

[2019-07-11 01:18] gnufied commented on #80006
cc @kubernetes/sig-storage-bugs

[2019-07-11 01:19] neolit123 commented on #79926
/area kubeadm
/remove-sig architecture docs network node scheduling testing

[2019-07-11 01:24] neolit123 commented on #79926
/remove-sig scalability

actually, let me re-add these labels after reading the issue in more detail:
/sig scheduling
/sig node

i can't find anything out of order in your kubeadm settings and static pod manifests.
anything interesting in the kubelet logs?

keepalived.conf.txt

any reason to use both haproxy and keepalived?

[2019-07-11 01:26] gnufied commented on #80006
I think this might be false alarm.

/close

[2019-07-11 01:26] #80006 closed

[2019-07-11 01:29] neolit123 commented on #79915
configuring a cluster in such a way is not officially supported from kubeadm.
but most importantly there is no way to set a "CloudProvider" field kubeadm.

are you trying to use AWS as an external cloud provider?
are you passing `--cloud-provider=external` to the kubelet?

see this guide:
https://blog.scottlowe.org/2019/02/18/kubernetes-kubeadm-and-the-aws-cloud-provider/

[2019-07-11 01:29] neolit123 commented on #79915
/sig cloud-provider cluster-lifecycle

[2019-07-11 01:49] #79861 closed

[2019-07-11 01:49] #79922 closed

[2019-07-11 01:51] RainbowMango commented on #79997
@timothysc
I'd like to take this issue.  It would be better if you could give some directions.
/assign

[2019-07-11 02:01] rhockenbury commented on #75296
/remove-lifecycle rotten

[2019-07-11 02:25] tao12345666333 commented on #79912
I have submitted a PR for this. #79966

[2019-07-11 02:31] saravanakumar-periyasamy commented on #71071
sorry, it may have been a false alert... We see this is the logs and its not the same error

[code]

[2019-07-11 02:32] hex108 commented on #79159
I make these pods fail intentionally to reproduce the bug. The pod has finished(failed actually), so scheduler could schedule a new pod to the node, however the kubelet node has not released the CPU that previous finished pod used, then the new pod failed to run because of not enough cpus available. It is a kubelet bug.

It is a bug of cpu manager static policy, so I think we might not need to tes

[2019-07-11 03:07] answer1991 commented on #79832
@imeoer

I think the validation is necessary, we should prevent user to submit Webhooks with same name in the same WebhookConfiguration.

[2019-07-11 03:11] kitianFresh opened #80010 "k8s node not support field selector well"
following is version of kubernetes client and server version

`Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeState:"clean", BuildDate:"2018-11-26T14:38:32Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.3-mt20190128.5+47e1f

[2019-07-11 03:18] leakingtapan commented on #79997
recreate the issue in kubernetes/kubeadm: https://github.com/kubernetes/kubeadm/issues/1662

/close

[2019-07-11 03:18] #79997 closed

[2019-07-11 03:24] #77826 closed

[2019-07-11 03:29] leakingtapan commented on #79997
@RainbowMango the fix will be removing the [if condition](https://github.com/kubernetes/kubernetes/blob/v1.13.7/cmd/kubeadm/app/util/version.go#L90) when failed to `fetchFromURL` and add some unit test if I don't missing anything

[2019-07-11 03:39] RainbowMango commented on #79997
@leakingtapan Got it. Thanks.

[2019-07-11 03:56] imeoer commented on #79832
Agree, so we can use label `configuration_name ` + `name` to distinguish webhook metrics completely.

[2019-07-11 03:57] wybzju commented on #79930
@draveness can you tell me when will you start this issue?

[2019-07-11 04:10] imeoer commented on #79832
But maybe it's an incompatible change if we prevent to create webhooks with the same name in a WebhookConfiguration.

[2019-07-11 04:39] #79210 closed

[2019-07-11 04:39] #76686 closed

[2019-07-11 05:08] ricky1993 commented on #80010
kubectl get nodes --field-selector spec.unschedulable=true
Have a try this command, it works for me

[2019-07-11 05:09] ricky1993 commented on #80010
BTW, node field-selector only support metadata.name and spec.unschedulable.

[2019-07-11 05:16] wgliang commented on #72506
/remove-lifecycle rotten

[2019-07-11 05:31] RajaSureshAditya opened #80012 "Services that come up in pods are unable to resolve DNS /sig dns"
HI i have created a Kubernetes Cluster using kubeadm and choosen cni as weave network ,unable to resolve created service from the pods ,not able to understand where i went wrong .

[root@k8s-master postgres]# kubectl get svc,rc,pod --namespace=kube-system -o wide
NAME               TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)                  AGE     SELECTOR
service/kube-dns   ClusterIP   10.96

[2019-07-11 05:35] RajaSureshAditya commented on #80012
@kubernetes/sig-contributor-experience-dns

[2019-07-11 05:52] PualrDwade opened #80013 "auto pod template hash on deployment, daemon set, job's selector"
**What would you like to be added**:
auto pod template hash on deployment, daemon set, job's selector,so that developers can find specific pods through their selectors, and can effectively avoid label conflicts.
**Why is this needed**:
I'm currently developing a CRD-based controller, and I'll get the selector of the controller to match the pods I need to manage, but since they don't provide the ha

[2019-07-11 05:58] #79678 closed

[2019-07-11 06:15] nilo19 opened #80014 "Node external IP of azure VMSS cannot be obtained."
**What happened**:

Node external IP of azure VMSS cannot be obtained when cloud-controller-manager
is enabled.

Corresponding logs are shown as follows:

[code]

[2019-07-11 06:15] nilo19 commented on #80014
/sig azure

[2019-07-11 06:34] feiskyer commented on #80014
/milestone v1.16

[2019-07-11 06:41] zhangxiaoyu-zidif commented on #55045
@plumdog I think as PVC is consumed by Pod, when Pod is deleted by scaling down or other operations, PVC, as one resource of pod, should be deleted at once. Manual deletion is so rough, especially in automatic production environment.

[2019-07-11 06:43] zhangxiaoyu-zidif commented on #55045
In our production env, we choose to delete pvc automatically with pod deletion because this feature is hard to in community. @plumdog

[2019-07-11 06:48] liucimin commented on #79833
@gjcarneiro

I check the code in 1.13.

https://github.com/kubernetes/kubernetes/blob/e1be42a61576dcb85ea6b56de18fd627e4c55bfc/pkg/kubelet/kuberuntime/kuberuntime_container_linux.go#L67-L75

There is seems the same with v1.14.
If u still meet the problem.Would u like to check your k8s version?Or try to upgrade your k8s then try again.

[2019-07-11 06:52] zhangxiaoyu-zidif commented on #55045
you can use this patch directly, and I need to have a long term discussion about this issue.

https://github.com/kubernetes/kubernetes/pull/75163

[2019-07-11 07:12] mcfedr commented on #38075
Just come across this, its particularly strange to have to edit the config file, when there is a folder `cache` in the `.kube` folder.

[2019-07-11 07:14] alenkacz commented on #79967
Hi, I looked into it and it seems to be already fixed on master #74900

[2019-07-11 07:15] alenkacz commented on #79967
/close

[2019-07-11 07:15] #79967 closed

[2019-07-11 07:29] samvdb commented on #76531
+1 same for me:

Docker: 18.09.6 CE
Kubernetes: v1.15.0
OS: CentOS 7
Kernel: 3.10.0-957.21.3.el7.x86_64

[2019-07-11 08:04] stieler-it commented on #68270
We haven't seen this issue for a very long time now.

[2019-07-11 08:11] #72048 closed

[2019-07-11 08:16] bashofmann commented on #68270
We also have not seen this issue anymore since 1.11.6.

[2019-07-11 09:12] #68631 closed

[2019-07-11 09:20] mm4tt commented on #73461
/close

The test doesn't seem to be flaky anymore, at least not more than the standard gce-100-perf-test.

[2019-07-11 09:20] #73461 closed

[2019-07-11 09:20] ricky1993 commented on #74397
/remove-lifecycle rotten

[2019-07-11 09:20] mm4tt commented on #73461
Also node killer has been enabled in the gce-100 in https://github.com/kubernetes/test-infra/pull/13344

[2019-07-11 09:26] ricky1993 commented on #74397
/sig scalability

[2019-07-11 09:29] ricky1993 commented on #74397
Can we list & watch the object at stand-by controller? Once it get the lease, it can work faster?
@wojtek-t @lavalamp

[2019-07-11 09:29] jwlogemann opened #80023 "Can't start pods in Windows Server core 1903"
What happened:
Trying to start a container on a windows node results in an error "The container operating system does not match the host operating system."

What you expected to happen:
Pod should start

How to reproduce it (as minimally and precisely as possible):
Try to deploy an application based on nanoserver:1903 to a node running windows server core 1903. Running a 1903 image on a 1903 serve

[2019-07-11 09:30] jwlogemann commented on #80023
/sig windows

[2019-07-11 10:38] dims opened #80028 "Deprecate goscaleio volume plugin"
The plugin and/or the code behind the plugin does not seem to be maintained, is it time to deprecate it?
https://github.com/kubernetes/kubernetes/issues/79234#issuecomment-504112377

[2019-07-11 10:39] dims commented on #80028
/sig storage

[2019-07-11 10:44] dims opened #80029 "Update libopenstorage/openstorage dependency to a release version"
Found this when trying to see which vendored dependencies does not use a proper tag (and is using a random SHA).

The https://github.com/libopenstorage/openstorage dependency is very old and there have been a lot of updates to it:
Looks like the https://github.com/libopenstorage/openstorage/compare/093a0c388875...v8.0.0

However there does not seem to be anyone around to take care of the portworx

[2019-07-11 10:45] dims commented on #80029
cc @harsh-px ?

[2019-07-11 10:48] dims commented on #80028
cc @vladimirvivien ?

[2019-07-11 10:54] DanHam commented on #76531
This issue will affect anyone who has configured kubelet to use systemd as the cgroup driver (as per official recommendations).

This will occur regardless of OS version or container runtime.

[2019-07-11 11:11] shubham124 commented on #41580
Did we get any resolution for above problem?

[2019-07-11 11:22] jwlogemann opened #80032 "Kubernetes should get correct Pause image based on windows build number"
**What would you like to be added**:
K8s uses a pause images for infrastructure reasons. On Windows this image must match the kernel version of the host operating system, or trying to run pods will fail with the fairly vague error message "Container OS version must match the host OS version".

Kubernetes on windows uses the "mcr.microsoft.com/k8s/core/pause:1.0.0" image as pause image. This is bas

[2019-07-11 11:22] jwlogemann commented on #80032
/sig windows

[2019-07-11 11:24] perrywang commented on #74986
same on 1.12

[2019-07-11 11:40] jwlogemann commented on #80023
It turns out that newer versions of k8s no longer use kubeletwin/pause as Pause image, but use mcr.microsoft.com/k8s/core/pause:1.0.0 instead.

Sadly noone bothered to document this.

The fix for this problem in server 1903 is to use the following Dockerfile:
FROM mcr.microsoft.com/windows/nanoserver:1903
CMD cmd /c ping -t localhost

And then run docker build . -t kubeletwin/pause -t mcr.microsof

[2019-07-11 11:45] jwlogemann commented on #74218
I've opened a related feature request here: https://github.com/kubernetes/kubernetes/issues/80032

It's a request to select the correct  pause image based on the windows kernel version. Currently k8s fails to run pods by default if you run it on Server 1903, since the pause image is build for 1809

[2019-07-11 12:00] adminops opened #80034 "kubernetes 1.15.0 IPVS--Rule lost"
**Version Info:**
kubeadm: 1.15.0
kubernetes: 1.15.0
docker: 18.09.7
OS: CentOS 7.5
Kernel: 3.10.0-862.14.4.el7.x86_64

**Problem**
1、
Pod and Service Status Running.

2、
\# dmesg | tail -n 2
[275968.997796] IPVS: wlc: TCP 10.102.203.22:443 - no destination available
[275970.001015] IPVS: wlc: TCP 10.102.203.22:443 - no destination available

3、
\# Ipvs forwarding rules are missing
\# ipvsadm -Ln

[2019-07-11 12:04] lbernail commented on #71071
Maybe the endpoint propagation is taking time if the apiserver is overloaded?

The messages are normal Info level messages:
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/graceful_termination.go#L94

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/graceful_termination.go#L161

[2019-07-11 12:22] ricky1993 commented on #68179
/reopen
We also have been troubled by this problem.
How about use a priority queue instead of a slice to implement https://github.com/kubernetes/kubernetes/blob/529255865d031b74a2f56e74a43dc29fd41361b1/staging/src/k8s.io/client-go/util/workqueue/queue.go#L26 ?
Then we can set resync event a low priority, and normal event can be processed immediately.
@lavalamp @liggitt

[2019-07-11 12:27] luthienberen commented on #79926
Hi @neolit123 and thnaks for your answer!

unfortunately, nothing

Our test environment has limit of resources, so HA loadbalancer cluster placed on master nodes, that's why i use keepalived to create vrrp_instance which serve with virtual IP failing over to another master node when current is down.

@neolit123 , actually it works if i switch --feature-gates=TaintBasedEvictions back to "true" and

[2019-07-11 12:28] andrewsykim commented on #68270
Thanks folks! Closing for now, please re-open if you can reproduce

/close

[2019-07-11 12:28] #68270 closed

[2019-07-11 12:35] gjcarneiro commented on #79833
OK, I am glad to hear this is not a widespread bug.  But it still affects my case. I double checked, on another pod/container, which has cpu limit `500m`, but inspecting the running container I can see:

[code]

Out of curiosity, what docker version do you have, @liucimin ?  I have `18.06.3-ce`.

[2019-07-11 12:35] clh-kubernetes opened #80035 "pod with pv cannot be scheduled"
**What happened**:
Start two pods, both pods have pv, and the two pods are set to anti-affanity.
pod1 is scheduled on node1，and the pv bounded to pod2 is also on node1
the anti-affinity is set between pod2 and pod1, causing pod2 to always be pending.
[detail error](https://github.com/clh-kubernetes/program1/blob/master/error.png)

**What you expected to happen**:
pod1 and pod2  are scheduled to di

[2019-07-11 12:44] clh-kubernetes commented on #80035
/sig scheduling

[2019-07-11 12:53] DaveWHarvey commented on #55045
Some terminology clarification: we do not want the PVC deleted when the pod is deleted, instead, we want the PVC deleted when the pod should no longer exist.
If I manually delete a pod from a sts  in order to force restart, or I do a rolling upgrade, I do not want the PVC deleted.      The implementation differences are probably significant.
It may be that the PVC needs to be modeled as being owne

[2019-07-11 12:59] isurulucky commented on #77575
Facing a similar issue with K8s server version 1.14.3. However in my case its the memory percentage that is not working. Providing the absolute value works:
[code]

It says memory request is not found but its correctly set:

[code]

[2019-07-11 13:09] YueHonghui commented on #68179
@ricky1993 @liggitt @lavalamp  In master branch of statefulset controller, resync period is set to 0. It seems that resync is totally disabled. I don't know clearly whether resyncing strategy is safe to remove totally now.

[2019-07-11 13:30] michmike commented on #80032
our goal is to build additional images for all the operating systems we support. today, we only support 1809 which is why that's the only image available. we also revamped the image to a new version to include new capabilities like port-forward

[2019-07-11 13:32] dims opened #80036 "Remove support for etcd2 from cluster/images/etcd image"
Follow up from a previously abandoned PR:
https://github.com/kubernetes/kubernetes/pull/69577#issuecomment-428243906

[code]

[2019-07-11 13:32] dims commented on #80036
/sig api-machinery

[2019-07-11 13:37] chrisohaver commented on #80012
Have you tried the troubleshooting steps in the Kubernetes Docs?

https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

[2019-07-11 13:39] dims commented on #80029
/area code-organization

[2019-07-11 13:39] dims commented on #80028
/area code-organization

[2019-07-11 13:40] liggitt commented on #68179
resyncing is not generally required. https://github.com/kubernetes/kubernetes/pull/79169 is open to allow multiple statefulset workers, which would also help throughput

[2019-07-11 13:42] mhamzeh27903 opened #80038 "deploymenet delete history"
Dear Kuberenetes,

We are supporting products running ontop k8s systems, all our applications are installed using helm and they are templated.

If a customer deletes parts of the deployment we have no way of figuring out when did that happen and what user did that.

Can we include a feature to list the delete history of deployment?

Thanks,
Mohammed

[2019-07-11 13:47] mattjmcnaughton commented on #80005
Hi @fahadullah ! Thanks for reporting :)

Currently, 1.11.1 is not a supported k8s release. Would it be possible for you to upgrade to a supported release (i.e. 1.13, 1.14, or 1.15)? I think there's a chance that your issue is already solved in one of those releases, and even if not, it'll be easier for community members to help you debug if you're on a supported release.

Thanks :)

[2019-07-11 13:47] liggitt commented on #79351
this is a bug in IsDNS1123Subdomain, which uses a dns1123SubdomainFmt regex, which checks one or more dns1123LabelFmt regexes. dns1123LabelFmt limits allowed characters, but not length. It depended on the IsDNS1123Label() function separately checking length restrictions.

That said, at this point, we cannot tighten that validation, since there are existing persisted objects that could be made inva

[2019-07-11 13:52] hex108 opened #80039 "Run plugins in the same scheduler extension point concurrently"
**What would you like to be added**:

Now plugins in the same extension point run one by one, e.g. `RunPrefilterPlugins`

[code]

Actually some of them could run concurrently, it will be more efficient.

**Why is this needed**:

It could improve performance.

/sig scheduling
/kind cleanup
/assign

[2019-07-11 14:04] ricky1993 commented on #68179
It's ok to disable periodically resync. But think about another scenario.
When we restart controller, it will relist all the deployment, rs, etc. And it will hang for a while to processed all the objects (most of them didn't change at all), so the new event cannot be processed in time. We have about 20k rs in a cluster, every time we restart controller, the new request will delay for about 20mins.

[2019-07-11 14:07] ricky1993 commented on #68179
You can see the details #74397

[2019-07-11 14:09] liggitt commented on #68179
Taking longer to warm up on restart for extremely large clusters is not unexpected.

The initial events on start are not considered resync events.

Prioritizing new events over all old events would allow starvation and potentially never processing some events, which is not desired.

[2019-07-11 14:10] liggitt commented on #68179
For very large clusters, I'd suggest increasing the number of parallel workers and the CPU/memory resources assigned to the controller manager. Long-term we will probably need to be able to shard controllers, but that effort has not started yet.

[2019-07-11 14:13] liggitt commented on #74397
It's quite expensive to maintain warm caches for an idle controller.

[2019-07-11 14:14] liggitt commented on #74397
Also, without the controller loops running draining the workqueues, they would grow indefinitely even if items were added/deleted

[2019-07-11 14:15] vmwkkwong opened #80040 "Node VM failure doesn't automatically recreate a pod with attached PV"
**What happened**:
After a deployment is created with PVC, a node hosting the pod shuts down. After 6 mins timeout, the replacement/new pod is created but cannot come up since the volume is attached to a terminating pod on a shutdown node. To work around this, the volume would be detached from the original pod when it's force deleted.

**What you expected to happen**:
According to the Node VM Fail

[2019-07-11 14:25] hex108 commented on #80039
/remove kind/feature

[2019-07-11 14:32] wojtek-t commented on #74397
+1 for what Jordan said - we would have to process all of them in a dry-run mode or sth. And what if then the master falls over our component and we already processed an item that master failed to process?

This will introduce a number of problems that don't exist now and would require a bunch of very careful thought-through.

[2019-07-11 14:45] MikeSpreitzer commented on #78701
This thing has flaked 5 times in a row for me now.

[2019-07-11 14:46] MikeSpreitzer commented on #78701
@kubernetes/sig-testing

[2019-07-11 14:47] drnybble commented on #78139
I am seeing the same error with Docker Swarm against 18.09.7

[2019-07-11 14:49] MikeSpreitzer commented on #78701
@kubernetes/sig-testing-pr-reviews

[2019-07-11 14:50] MikeSpreitzer commented on #78701
See #77048 and #78966 for some recent flakes

[2019-07-11 14:55] andrewsykim opened #80041 "Stage or Remove the OpenStack Cloud Provider"
**What would you like to be added**:
As part of a long running effort to [remove all in-tree cloud providers](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190125-removing-in-tree-providers.md), we either deleted or staged the in-tree cloud providers in [k8s.io/legacy-cloud-providers](https://github.com/kubernetes/legacy-cloud-providers). OpenStack was not delete

[2019-07-11 14:56] andrewsykim commented on #80041
/sig cloud-provider
/sig openstack
/area code-organization

[2019-07-11 14:57] dims commented on #80041
We should remove openstack cloud provider. @davidz627 and @ddebroy are trying to get `CSIMigration` to Beta in 1.16, So this removal can be done in 1.16 itself.

[2019-07-11 14:57] ricky1993 commented on #74397
I totally understand what you concern about. It is a really complicated work.
Another solution in my mind is using a independent init queue to process init event? We can add a option to switch it.
The problem is how to seperate the init events and we would add a worker for each controller to consume the init queue. But I think it may be more safe.
What do you think of that?

[2019-07-11 14:58] andrewsykim commented on #80041
cc @hogepodge @adisky

[2019-07-11 14:58] dims commented on #80041
Please see https://github.com/kubernetes/kubernetes/pull/67782#issuecomment-426437569 for additional context. I've been waiting for this for a while! :)

[2019-07-11 15:02] wojtek-t commented on #74397
Is this what you're talking about: https://github.com/kubernetes/kubernetes/pull/73203 roughly (as an infrastructure change we would like to use)?
I started looking into that some time ago, but didn't have time to push that forward. But I would have to think more whether it would really help for this case...

[2019-07-11 15:02] ricky1993 commented on #68179
Thanks for your suggestion, Jordon.
Now we have used a 64c 96g bare metal for the controller, and increase the worker for the controller. It still not work for me. I will try to seperate controller and deploy them to different machines.
I would be happy if long-term plan has any progress :)

[2019-07-11 15:09] towolf commented on #72216
/remove-lifecycle stale

[2019-07-11 15:09] dims commented on #74148
/remove-lifecycle stale

[2019-07-11 15:09] rphillips opened #80042 "Kubelet pod names break log directory path"
**What happened**:
Kubelet log directories are joined with a flat _NAMESPACE_PODNAME_UID_ directory path. The limit on pod names are 253 characters https://github.com/kubernetes/kubernetes/pull/78188#issuecomment-494609951.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/helpers.go#L180-L183

[code]

Joining a long pod name with the namespace and UID will be over 255

[2019-07-11 15:10] liggitt commented on #68179
https://github.com/kubernetes/kubernetes/pull/79169 will allow multiple workers for statefulsets... that is not available yet

[2019-07-11 15:10] rphillips commented on #80042
/sig @kubernetes/sig-node-bugs

[2019-07-11 15:15] ricky1993 commented on #68179
I know, my case is replicasets and deployments, not statefulsets.

[2019-07-11 15:32] ricky1993 commented on #74397
I have a quick through for the pr. I think it can partially fit this case.
Another problem is that can we process init events and watch events at the same time with two queues?
I am not sure is there any risk. Maybe sync the same deployment in two threads at the same time?

[2019-07-11 15:52] BenTheElder commented on #78701
/remove-sig testing
/sig scalability

[2019-07-11 15:56] liggitt commented on #74397
interleaving the init add events with later update/delete events is not desirable.

that is exactly the risk, as well as processing add/update/delete events out of order

[2019-07-11 16:00] BenTheElder commented on #78701
@kubernetes/sig-testing-pr-reviews in particular is not really appropriate here, this is not a pull request 🙃
`@ing` this team pings all members.

Additionally, cluster-loader & KubeMark are SIGs scalability.
In general tests are owned by one of the other SIGs. SIG testing primarily owns the framework and infrastructure. Individual tests are owned by the SIG for which functionality is being tested

[2019-07-11 16:06] Katharine commented on #78701
Dammit Ben, you just resubscribed me to this issue.

[2019-07-11 16:13] BenTheElder commented on #78701
Sorry, will make sure I code-quote it next time `@Katharine` ... 😞

[2019-07-11 16:19] #73874 closed

[2019-07-11 16:23] intlabs commented on #40610
Like @erik-stephens failure domain awareness would be a prime motivator for this: in our case Ceph.

[2019-07-11 16:31] IlyaSemenov commented on #44370
/remove-lifecycle rotten

[2019-07-11 16:50] BenTheElder commented on #79351
/kind documentation
ACK @liggitt, Let's get it documented then?

[2019-07-11 16:55] goatmale commented on #64699
Can you please share your resolution?

[2019-07-11 17:09] #75491 closed

[2019-07-11 17:28] davidz627 commented on #80041
@dims I'm not sure how removal can be done in `1.16` follows from `CSIMigration` to Beta in `1.16`. Are these related? The actual "removal" of in-tree plugin code from a storage CSI Migration timeline perspective is outlined in this doc: https://docs.google.com/document/d/16h9vLLbqQCN83KnlPtn7qL_GB1TYwhWkoA5G4FS3KBI/edit?usp=sharing

[2019-07-11 17:31] MikeSpreitzer commented on #78701
Thanks, I did not know how to ping team members.  And thanks for the pointers to more appropriate teams.

[2019-07-11 17:43] BenTheElder commented on #78701
👍

You can sig label with `/sig cli` in a comment on it's own line. https://prow.k8s.io/command-help#kind
`@ping` subscribes all of `ping` to an issue / PR.

[2019-07-11 17:44] BenTheElder commented on #78701
/remove-sig testing

[2019-07-11 17:45] fahadullah commented on #80005
@mattjmcnaughton Looking through the code in master, behaviour seems unchanged but I can give a try on a newer release. Thanks.

[2019-07-11 17:53] kfox1111 commented on #75222
I don't think we can rely on that. Ephemeral bypasses the normal csi workflow, starting potentially half way through it when used in ephemeral mode. The driver needs to be designed to handle that. In the other case, using it in a pv will have unexpected effects, as it can be shared between pods, but will get deleted once the first pod is deleted, causing a use after delete...

[2019-07-11 17:59] dims commented on #80041
@davidz627 When we have the `CSIMigration` enabled in 1.16,  folks will be able to continue using their existing cinder yaml(s) right? that was the thing that is blocking removing all the openstack related in-tree code.

[2019-07-11 18:06] andrewsykim commented on #15635
/priority backlog

[2019-07-11 18:07] liggitt commented on #79739
/remove-kind bug
/kind documentation

[2019-07-11 18:08] liggitt commented on #64953
/remove-kind bug
/kind cleanup

[2019-07-11 18:10] andrewsykim commented on #66321
/priority important-longterm

[2019-07-11 18:10] andrewsykim commented on #68026
/priority backlog

[2019-07-11 18:11] andrewsykim commented on #73933
/priority important-longterm

[2019-07-11 18:12] andrewsykim commented on #74352
/priority important-longterm

[2019-07-11 18:13] davidz627 commented on #80041
It will be beta and off by default. Please see doc for timelines.

TL;DR: You can't remove in-tree code until there is a viable CSI alternative that slots into the backend with `CSIMigration` with no/minimal user disruption. This requires things like driver feature parity, driver deployed by default, etc.

[2019-07-11 18:17] andrewsykim commented on #74379
/priority important-longterm

[2019-07-11 18:18] wojtek-t commented on #74397
out-of-order would be my main fear...

[2019-07-11 18:20] andrewsykim commented on #75526
/sig node
/priority backlog

[2019-07-11 18:20] andrewsykim commented on #75526
/assign @dims

[2019-07-11 18:22] andrewsykim commented on #75828
/priority backlog

[2019-07-11 18:27] andrewsykim commented on #76395
/assign @liggitt

[2019-07-11 18:28] andrewsykim commented on #76504
/priority important-longterm

[2019-07-11 18:28] andrewsykim commented on #76506
/priority important-longterm

[2019-07-11 18:28] andrewsykim commented on #77024
/assign @dims

[2019-07-11 18:29] andrewsykim commented on #78434
/close

Dupe of https://github.com/kubernetes/kubernetes/issues/79234

[2019-07-11 18:29] #78434 closed

[2019-07-11 18:30] sergey-safarov commented on #64466
Example SIP server. They use port 5060 for TCP and UDP transport.
Need to publish. In this case issue is reproduced.
[code]

[2019-07-11 18:32] andrewsykim commented on #78534
/priority important-soon

[2019-07-11 18:32] andrewsykim commented on #78534
/priority important-longterm

[2019-07-11 18:45] andrewsykim commented on #78995
For v1.16: investigate if cluster API is a potential replacement and meets the same level of coverage as `/cluster` and enumerate what is missing cluster API

/assign @alejandrox1

[2019-07-11 18:46] FishkinsDC commented on #78795
@liggitt From what I see, that comment said they wouldn't add _per cronjob_ timezones, not that they won't respect the TZ of the master.

The k8s cronjobs docs say this:

https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2019-07-11 18:47] ksubrmnn commented on #79936
removed, thanks for the heads up

[2019-07-11 18:54] BenTheElder commented on #79459
1.12 is closed for patches
/close

[2019-07-11 18:55] #79459 closed

[2019-07-11 18:59] andrewsykim commented on #80041
/priority important-longterm
/assign @dims

[2019-07-11 19:05] andrewsykim commented on #79234
/priority important-longterm

[2019-07-11 19:08] andrewsykim commented on #79234
/assign @dims

[2019-07-11 19:12] cblecker opened #80051 "external-dependencies-version: Improve error message"
**What would you like to be added**:
The current error message is vague and could be improved.

[code]
(credit to @liggitt)

**Why is this needed**:
Improve contributor experience, make it easier to identify change to be fixed.

/cc @justaugustus @yastij @kubernetes/sig-release

[2019-07-11 19:13] yastij commented on #80051
/assign

[2019-07-11 19:18] bclau opened #80052 "tests: Cannot build jessie-dnsutils image"
**What happened**:

The image ``jessie-dnsutils`` cannot be built anymore, since its mirrors has been archived. For more details, see: https://lists.debian.org/debian-devel-announce/2019/03/msg00006.html

**What you expected to happen**:

The image should be buildable.

**How to reproduce it (as minimally and precisely as possible)**:

    cd kubernetes/tests/images
    make all-container WHAT=jes

[2019-07-11 19:25] smarterclayton commented on #80042
Hrm, I thought we had an auto "hashify" the extended part of the string when it exceeded length, but maybe I'm wrong.  That might have been the very, very, very, very old implementation.

[2019-07-11 19:35] codenrhoden commented on #64953
Hi @msau42,

Now that https://github.com/kubernetes/kubernetes/pull/68513 is merged, I wanted to confirm that the next step here would be to move `pkg/util/mount` to be a package in `k8s.io/utils`.

[2019-07-11 19:55] costinm opened #80057 "CertificateSigningRequest doesn't support URL SANs or isCA"
**What would you like to be added**:
I created a CSR with URL-type SANs ( spiffee ), approved it - the generated cert includes the other SANs, but not the URL one.

The bug seems to be in cloudfare.cfssl.ParseCertificateRequest - the template doesn't copy from the CSR.

**Why is this needed**:
It would allow using the K8S CA to generate Istio or other Spiffee certificates, without having to run a

[2019-07-11 19:56] cmluciano commented on #78948
@kubernetes/sig-network-misc

[2019-07-11 19:58] neolit123 commented on #79926
i don't really have experience with `TaintBasedEvictions`, given this is a feature that is owned by sig-node you can try asking in the #sig-node k8s slack channel.

maybe there is a bug lurking for it.

[2019-07-11 19:58] neolit123 commented on #79926
/remove-area kubeadm
/remove-sig cluster-lifecycle

[2019-07-11 19:59] harsh-px commented on #80029
Hello @pditommaso, The portworx volume plugin is definitely in use.

The portworx volume plugin doesn't need frequent updates since the plugin acts as a simple client to all provisioning calls. In the same view, the vendored openstorage package doesn't need to be updated too. The server side implementation in Portworx handles all the latest Portworx features.

[2019-07-11 20:02] harsh-px commented on #80029
cc: @lpabon

[2019-07-11 20:16] rickypai commented on #74265
@bowei could you take a look at this again and let me know what you think? I'd like to make sure this makes the various deadlines for 1.16. Let me know if it needs like a KEP or something.

[2019-07-11 20:16] msau42 commented on #64953
Yup!

[2019-07-11 20:18] roycaihw commented on #79746
/sig apps
/remove-sig api-machinery

[2019-07-11 20:22] roycaihw commented on #79779
cc @liggitt

[2019-07-11 20:23] roycaihw commented on #79801
/remove-sig api-machinery

[2019-07-11 20:28] roycaihw commented on #79855
cc @yliaog

[2019-07-11 20:30] roycaihw commented on #79957
cc @MikeSpreitzer

[2019-07-11 20:31] liggitt commented on #79957
possible places to document this:
https://kubernetes.io/docs/reference/using-api/api-concepts/

[2019-07-11 20:31] roycaihw commented on #79957
ref https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#success-codes

[2019-07-11 20:36] liggitt commented on #79779
The name of the API object is unique, is limited to a fixed character set, and is reasonable to use as the database key. See https://kubernetes.io/docs/concepts/overview/working-with-objects/names/ for details about the meaning of API object names.

A node that is already joined to the cluster does not gain the ability to modify other Node objects (and therefore trigger this collision) simply by c

[2019-07-11 20:37] liggitt commented on #79779
/remove-sig api-machinery

[2019-07-11 20:42] dims commented on #80029
@harsh-px in that case, can you please update the dependency to a specific tag instead of a random SHA?

[2019-07-11 20:43] prameshj commented on #66651
If iptables-restore didn't work, there will likely be more issues than just stale udp connection entries. It doesn't seem like we want to clear conntrack entries in that codepath.
Closing this issue, please reopen if needed.
/close

[2019-07-11 20:43] #66651 closed

[2019-07-11 20:48] dcbw commented on #75443
@zhangguanzhang is this problem still occurring, and were you able to see the VIP in the output of `ipvsadm -ln` on a node that had the problem?

[2019-07-11 20:55] liggitt commented on #80057
Thanks for the report. Folded into list of issues to consider for v1 in https://github.com/kubernetes/kubernetes/issues/69836

/close

[2019-07-11 20:55] #80057 closed

[2019-07-11 21:02] dannyk81 commented on #71358
@lbernail @m1093782566 any thoughts on above?

[2019-07-11 21:09] andrewsykim commented on #80034
/assign

[2019-07-11 21:09] dcbw commented on #79622
/close

[2019-07-11 21:09] #79622 closed

[2019-07-11 21:10] roycaihw commented on #79957
also error codes are missed in our openapi doc: https://github.com/kubernetes/kubernetes/issues/69014. I owe a PR for this one

[2019-07-11 21:10] dcbw commented on #79563
/kind feature

[2019-07-11 21:10] dcbw commented on #79563
/remove-triage unresolved

[2019-07-11 21:11] dcbw commented on #79510
/sig storage
/remove-sig network

[2019-07-11 21:13] dcbw commented on #79266
/assign thockin

[2019-07-11 21:14] dcbw commented on #77493
/remove-triage unresolved

[2019-07-11 21:16] andrewsykim commented on #79400
Can you provide more information on how you are building this image? The official kube-proxy images should account for this already (as per https://github.com/kubernetes/kubernetes/issues/68703) unless the image was built using a different process

[2019-07-11 21:17] dcbw commented on #48107
@squeed will add a metric for failed iptables calls

@wojtek-t what kernel versions do you have?

[2019-07-11 21:17] dcbw commented on #48107
/remove-triage unresolved

[2019-07-11 21:19] dcbw commented on #45173
/assign thockin
/remove-triage unresolved

[2019-07-11 21:20] dcbw commented on #45173
/sig network

[2019-07-11 21:21] dcbw commented on #40244
/assign @thockin
/assign @freehan
/remove-triage unresolved

[2019-07-11 21:23] andrewsykim commented on #79213
Closing this for now, @myonlyzzy feel free to re-open if you feel this is still an issue.

/close

[2019-07-11 21:23] #79213 closed

[2019-07-11 21:24] dcbw commented on #78948
Decision from SIG Network Call: @maxstr will do a PR for this and if it passes E2E testing it's probalby OK

[2019-07-11 21:24] andrewsykim commented on #80034
@adminops can you share the corresponding service and endpoint resource?

[2019-07-11 21:25] nikhilk commented on #72637
In the absence of a generalized feature, is api server aggregation the answer? Is there a canonical example?

As mentioned by @fabianvf backup and restore are good examples of custom operations.

[2019-07-11 21:30] squeed opened #80061 "Proxy: better metrics for failed actions"
**What would you like to be added**:
kube-proxy should expose better metrics around tracking success and failures. Administrators should be able to alert on failure counts.

**Why is this needed**:
There are several motivating cases:
* iptables lock contention causes `iptables-save` to fail at an increasing rate as services + endpoints grows
* `ipvsadm` or `ipset` are failing to execute

Ultimatel

[2019-07-11 21:33] squeed commented on #48107
Filed https://github.com/kubernetes/kubernetes/issues/80061 for metrics enhancements.

[2019-07-11 21:38] caseydavenport commented on #52039
I think this PR will resolve this issue, once merged: https://github.com/kubernetes/kubernetes/pull/77593

[2019-07-11 21:43] dims commented on #77024
we'll need a etcd 3.3.14 looking at the list of changes since the last release [1]

[1] https://github.com/etcd-io/etcd/compare/v3.3.13...release-3.3

[2019-07-11 21:58] vkhromov opened #80063 "kubeadm doest't configure kube-scheduler pods to mount k8s cert directories"
**What happened**:
`kube-scheduler` failed to start with certificate/key files from `/etc/kubernetes/pki/` directory.

**What you expected to happen**:
`kube-scheduler` starts successfully and uses provided certificate/key files from `/etc/kubernetes/pki/` directory.

**How to reproduce it (as minimally and precisely as possible)**:
* Generate `/etc/kubernetes/pki/scheduler.crt` and `/etc/kubernet

[2019-07-11 22:05] vkhromov commented on #80063
/sig cluster-lifecycle

[2019-07-11 22:14] thockin commented on #79266
@vllry you were looking at the config stuff, yeah?  ISTR a lot of debate about which takes precedence in the new config world - flags of config files.  I though flags ultimately won, but I could be wrong.

@luxas @mtaufen for other folks with context

[2019-07-11 22:26] mtaufen commented on #79266
Flags won.

IIRC kube-proxy tried to avoid layering flags on top of config (to avoid the complications of parsing the command line multiple times), and force people to use one or the other instead. But since some flags couldn't be moved to config yet (like instance-specific) that didn't really work out as a migration strategy. So that could be what's observed in this issue.

We are trying to make

[2019-07-11 22:27] vkhromov opened #80065 "kubeadm: ignored certificate-authority option in discovery file"
**What happened**:
`kubeadm join` with discovery file containing `certificate-authority` option pointed to a file with CA certificate (instead of default `certificate-authority-data`) fails.

**What you expected to happen**:
`kubeadm join` with discovery file containing `certificate-authority` option pointed to a file with CA certificate successfully load the certificate from the file and use it.

[2019-07-11 22:27] vkhromov commented on #80065
/sig cluster-lifesycle

[2019-07-11 22:28] vkhromov commented on #80065
/sig cluster-lifecycle

[2019-07-11 22:44] thockin commented on #40244
So, we used to have `service.alpha.kubernetes.io/app-protocols` which was a per-port map of backend protocol.  That wasn't widely adopted, so we now have `cloud.google.com/app-protocols` in Google's ingress controller.

https://github.com/kubernetes/ingress-gce/blob/c8fd7bfc571b50d71cb68863f162ef8d8951060e/pkg/annotations/service.go

I don't see any reason why we couldn't add a new field to Servic

[2019-07-11 22:46] thockin commented on #79266
Do we consider this a bug or working-as-intended?

[2019-07-11 22:51] thockin commented on #78994
I don't understand if this is still an issue or not?  The reject should happen before FORWARD rules ever get hit.

Can you provide an update?  Should we close this?

[2019-07-11 22:52] #77860 closed

[2019-07-11 22:53] thockin commented on #76338
Can we get an update on this?

[2019-07-11 22:58] thockin commented on #70493
Any updates on this one?  Should we close it?

[2019-07-11 22:58] thockin commented on #64188
Status on this?

[2019-07-11 22:58] #64188 closed

[2019-07-11 23:00] #44409 closed

[2019-07-11 23:23] paulgmiller commented on #76338
I'm basically in a wait and see state. We rebuilt all our clusters with aks preview flag EnableSingleIPPerCCP  and have not seen the issue since.  (we also have a very course test to try and find it but don't have the metrics we cherry picked back to 1.14).
I do not represent the AKS folks here at all but there is a theory that EnableSingleIPPerCCP   removes a network compnent between our cluster

[2019-07-11 23:34] ddebroy opened #80069 "Add unit tests to CSI translation library for in-line volumes"
**What happened**:
The CSI translation library is lacking unit tests for in-line volumes, need to add them. This issue will track that work.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `c

[2019-07-11 23:34] ddebroy commented on #80069
/sig-storage

[2019-07-11 23:34] ddebroy commented on #80069
/assign

[2019-07-12 00:01] #78510 closed

[2019-07-12 00:07] thockin commented on #76338
OK.  For backlog's sake I am going to close this, but if it pos back up, please please please let us know.

[2019-07-12 00:42] MrHohn opened #80070 "Avoid unnecessary check for resolv.conf limit in kubelet"
**What happened**:

Ref #78414, we noticed that there are some unnecessary check around resolv.conf limit in kubelet, specifically at:
https://github.com/kubernetes/kubernetes/blob/1c99825adfb30f6abb177e85ddb31f2fdef011e1/pkg/kubelet/kubelet.go#L2033-L2040
and
https://github.com/kubernetes/kubernetes/blob/1c99825adfb30f6abb177e85ddb31f2fdef011e1/pkg/kubelet/kubelet.go#L2073-L2081

#78414 is moving

[2019-07-12 00:43] MrHohn commented on #80070
/sig network

[2019-07-12 00:43] rabun788 commented on #19317
Can we reopen this issue?

[2019-07-12 00:48] tedyu commented on #80070
/assign

Pending outcome of the discussion here, I would be happy to present a PR

[2019-07-12 01:21] msau42 commented on #79965
[code]

It looks like there was some temporary problem with GCP metadata server, but it seems to be resolved now.
/close

[2019-07-12 01:21] #79965 closed

[2019-07-12 01:44] gaotuan commented on #66532
@liyongzhezz  怎么关闭特性？

[2019-07-12 01:45] wenjiaswe commented on #68690
/remove-lifecycle rotten

[2019-07-12 01:55] ORESoftware commented on #79678
the problem is that the nixos-rebuild command is not available on non-NixOS linux machines.
However, the underlying issue is that if we run `nix-build` we get this error:

[2019-07-12 02:03] liyongzhezz commented on #66532
上边有写哦

[2019-07-12 02:08] cw-sakamoto commented on #71071
we are seeing the issues in 1.14.4...

[code]

[2019-07-12 02:14] RainbowMango commented on #79610
I reproduced this issue after https://github.com/kubernetes/kubernetes/pull/78742 be merged.
The problem still exists after gc and quota change client to metadata.

@liggitt Can you share your comments?

[2019-07-12 02:44] spiffxp commented on #80052
/assign @bclau @spiffxp

[2019-07-12 02:44] spiffxp commented on #80052
ref: https://github.com/kubernetes/kubernetes/pull/76838#issuecomment-510553220

[2019-07-12 03:06] liangwang1985 commented on #73814
vi  hack/lib/golang.sh
change form:  goldflags="${GOLDFLAGS:-}  -s -w $(kube::version::ldflags)”
to:  goldflags="${GOLDFLAGS:-}  $(kube::version::ldflags)”
then build with flag : make  GOGCFLAGS="-N -l”
after this gdb is ok!

[2019-07-12 03:17] #80051 closed

[2019-07-12 03:56] yue9944882 opened #80073 "Missing all path parameters in published CRD openapi spec"
/kind bug
/sig api-machinery
/priority critical-urgent
/cc @sttts @liggitt @roycaihw

as is shown in the following, the parameters list should contain {namespace}, {name}.

[code]

[2019-07-12 04:14] ogre0403 commented on #71773
@myonlyzzy

I try to debug kube-proxy running inside pod, but dlv  show `Warning: debugging optimized function
`. I can not see the code in dlv.

[code]

I already build kube-proxy from source with GOGCFLAGS="-N -l", and I'm sure that the dlv can show source code when I execute the binary from  dlv. I also add the securityContext you mentioned, but not work .

[code]

[2019-07-12 04:19] coolmary commented on #40131
Excellent Host port Certificates Easy Downloads

[2019-07-12 04:31] #73878 closed

[2019-07-12 04:31] #72762 closed

[2019-07-12 04:43] ogre0403 commented on #71773
sorry, it's my fault.
After putting k8s source in the right place, dlv can show the code.

[2019-07-12 05:03] #80052 closed

[2019-07-12 06:31] zhangguanzhang commented on #75443
My environment has changed, in simple terms:
kube-proxy bind 0.0.0.0, proxyMode is ipvs
[code]

[2019-07-12 07:06] wojtek-t commented on #48107
4.14.<something> (I can't remember exactly).
Do you have any specific feature on your mind that helps here and was added in particular kernel version?

[2019-07-12 07:25] wojtek-t commented on #74088
/lifecycle frozen

[2019-07-12 07:27] luthienberen commented on #79926
@neolit123 thanks for your advice.

But slack channels don't seem to be so active and i'm not always have time to resend message there, old messages are ignored. For example, i never had an answer to old message in #kubernetes-users chennel.

So i ask your help to add relevant people t this post instead of seeking answers on slack channel. I will do it anyway, but i think it's important to have op

[2019-07-12 07:38] zgfh commented on #69676
@brancz Can we add reason label for kube_pod_container_status_restarts_total to solve this problem?
 https://github.com/kubernetes/kube-state-metrics/blob/e61670627018010350a963dcb4e276ac10a5d57f/internal/store/pod.go#L658

[2019-07-12 07:42] calvix opened #80076 "Azure File persisten storage stop working after some time and hangs"
**What happened**:
On Azure Cloud we are using Azure File for persistent storage. Lately we have seen issue with servers that have mounted Azure File, after unspecified amount of time the storage hangs and  does not respond. This practially blocks whole machine as many operation over storage get locked and even docker and kubelet are hanging.

I even tried manually unmount the volume but that didn

[2019-07-12 07:43] calvix commented on #80076
ping @andyzhangx

[2019-07-12 07:43] calvix commented on #80076
/sig azure

[2019-07-12 07:44] lbernail commented on #71358
I'm closing the issue: sysctls are set as we expect. We still want to have lower timeouts by default and make them configurable but keeping this issue open isn't necessary.

Changing the timeouts is not that much work, libnetwork accepted my patch a while back to expose this in their ipvs netlink library (for reference: https://github.com/docker/libnetwork/pull/2349)

[2019-07-12 07:44] #71358 closed

[2019-07-12 08:10] lbernail commented on #77903
I'm a bit late on this one:
- if a node dies, the pods running on it are removed from Ready endpoints
- the IPVS weight of the backend is sent to 0
- the connection never really terminates because the backend will never send a FIN/RST
- the IPVS conntrack entry remains active (15mn timeout by default)
- if your client sends packets they are blackholed and never ACKed
- the TCP stack will by defaul

[2019-07-12 08:13] lbernail commented on #71071
These are just information logs:
- `Trying to delete rs` : a backend pod from removed, trying to delete it. If it has existing connections, make it enter graceful termination, otherwise delete id
- `Deleting rs` : the backend has no connection, removing it from IPVS

[2019-07-12 08:37] brancz commented on #69676
We don't know that number over time, do we? We only know the aggregate restarts and the last reason.

[2019-07-12 08:47] zhangguanzhang opened #80078 "sometime kubelet err when disable ipv6"
**What happened**:
kubelet cannot run，there is the err
[code]

**Anything else we need to know?**:
if I enable ipv6, it can run success
**Environment**:
- Kubernetes version (use `kubectl version`): 1.13.5
- Cloud provider or hardware configuration: phy
- OS (e.g: `cat /etc/os-release`): centos7.6
- Kernel (e.g. `uname -a`): 5.1
- Install tools:
- Network plugin and version (if this is a network-r

[2019-07-12 08:55] sunnykrGupta commented on #44273
[code]
reason:NetworkPluginNotReady
message:docker: network plugin is not ready:
Kubenet does not have netConfig. This is most likely due to lack of PodCIDR

[2019-07-12 08:55] Cobra1978 commented on #19317
Same Issue Here

Rancher 2.2.4

Kubernetes 1.13.5

We have a namespace stuck in Removing state, he does not have any resource inside but htere is no way to remove it

[2019-07-12 09:15] ricky1993 commented on #79810
Have you tried mutating admission webhook?

[2019-07-12 10:33] iggyzap commented on #38532
/remove-lifecycle stale

This is very interesting issue for being able to reason about pod lifecyle.

[2019-07-12 10:38] DanHam commented on #76531
@pakhomov-passteam Long and short, the code I suspect is causing the issue will be present on every system with a k8s install and will not change with OS type or chosen container runtime.

However, the code causing the problem is only executed when the cgroup driver for the kubelet is set to systemd. A system using cgroupfs as the cgroup driver will not experience this particular issue. Using syst

[2019-07-12 10:39] sebsto commented on #70229
I also observed this on customer's cluster :

[code]

[2019-07-12 10:55] josephburnett commented on #79275
Thanks @draveness for taking a look.  Can you show me the code?  Could be useful to see what not to do.

[2019-07-12 11:04] hokiegeek2 commented on #38532
This issue should not be designated stale, so thank you @iggyzap for helping to un-stale it . ![bitmoji](https://render.bitstrips.com/v2/cpanel/cf7648af-2035-4e07-9237-89aa82985b3c-cebe575f-fd79-4052-b084-1f812012fcdf-v1.png?transparent=1&palette=1&width=246)

[2019-07-12 11:05] andyzhangx commented on #80076
/assign

[2019-07-12 11:06] draveness commented on #79275
There are ~10 methods that need to update the return value and argument, and what it brings is less than the complexity and work we do for this IMO.

[2019-07-12 11:07] andyzhangx commented on #80076
@calvix as you said `even docker and kubelet are hanging.`, what's your node size? it looks like your node is  slow, could you run `top` to check whether load average is high at that time.

[2019-07-12 11:12] dims commented on #73814
@liangwang1985 please see https://github.com/kubernetes/kubernetes/blob/master/build/root/Makefile#L81-L85

[2019-07-12 11:20] bertinatto commented on #73181
/remove-lifecycle rotten
/remove-lifecycle stale

[2019-07-12 11:46] derWeihnachtsmann commented on #71502
I solved this by editing the Cluster yaml again and again in RancherUI. It now looks like this and is confirmed to WORK:

I assume I missed some lines at the workspace-part..

I use vcenter 6.0 / ESXI 6.0.0 13635687

Maybe this helps someone.

[2019-07-12 11:59] mm4tt commented on #79898
With the https://github.com/kubernetes/kubernetes/pull/79937 the memory is almost back to what it was before switching to Deployments:
![JfALdwTU58t](https://user-images.githubusercontent.com/2604887/61126507-e54efd00-a4ac-11e9-9f18-3aafdcc71f76.png)

The CPU went down, but it still visible higher than what it was for RCs:
![L9H1WAxYokp](https://user-images.githubusercontent.com/2604887/61126569-1

[2019-07-12 12:35] randomvariable commented on #80063
I need to understand the use case better here before we add this to the defaults. Commenting on the original issue.

/hold

[2019-07-12 12:37] neolit123 commented on #79926
i have no expertise in this area.
you can also try reddit / stackoverflow or mailing the kuberentes-dev mailing list.

or wait for the tagget SIGs (sig labels) to see the issue.
thank you.

[2019-07-12 12:39] randomvariable commented on #80063
Could you explain the use case here a bit more?

kubeadm generates a kubeconfig for kube-scheduler as `/etc/kubernetes/scheduler.conf`. This includes the CA authority data for the API server and kube-scheduler's client certificate and private key material.

What was the scenario in which you need a separately created TLS key-pair specifically for kube-scheduler? For kube-controller-manager, we min

[2019-07-12 12:50] wojtek-t commented on #71028
/lifecycle frozen

[2019-07-12 13:10] lhsm opened #80089 "Container termination reason while SIGTERM"
**What would you like to be added**:
New reason for exit code 143 or map SIGTERM to "Completed" instead current "Error"

**Why is this needed**:
When you redeploy the pod container (a Java app) that received SIGTERM and ends with code 143. As a result, container.state.terminated.reason becomes “Error”
So container is restarted in the normal way, but the reason for its termination is "Error".
In ad

[2019-07-12 13:16] dims commented on #75526
`DONE!`

/close

[2019-07-12 13:16] #75526 closed

[2019-07-12 13:17] dims opened #80092 "Switch to k8s.io/utils/inotify"
- [x] Fix fd leak
- [x] Fixing golint issues in k8s.io/utils/inotify
- [x] Switch cadvisor to use k8s.io/utils/inotify  ( https://github.com/google/cadvisor/pull/2269 )
- [ ] Switch k/k to use k8s.io/utils/inotify  ( https://github.com/kubernetes/kubernetes/pull/80689 )
- [ ] Switch k/k to use cadvisor (with the change above)

[2019-07-12 13:18] dims commented on #80092
/area code-organization
/sig architecture

cc @Pothulapati @alok87 @rohitsardesai83

[2019-07-12 13:19] dims commented on #80092
related to https://github.com/kubernetes/kubernetes/issues/75526

[2019-07-12 13:21] Pothulapati commented on #80092
Working on golint issues right now.

[2019-07-12 13:23] dims commented on #80092
/assign @Pothulapati @rohitsardesai83

[2019-07-12 13:24] ahg-g commented on #79629
@alculquicondor this is a good starter bug.

@draveness do you mind if Aldo works on this one?

[2019-07-12 13:25] dims commented on #80029
/assign @harsh-px

updated the title of the issue as well

[2019-07-12 13:25] dims commented on #64953
@codenrhoden let me know if you need a hand with git surgery

[2019-07-12 13:26] bkSentinel commented on #73056
I have the same problems (occuring when creating a backup for gitlab with kubectl exec).
Kubernetes: 1.13.5
Kubectl: 1.12.x, 1.13.5, 1.15.0

I can add as additional information that this "exit 0" occurs about exactly 600 seconds after starting the "exec".

[2019-07-12 13:29] dims commented on #78995
Step 1 we talked about was ... look at all the CI jobs that use the kube-up in the cluster directory and inventory the knobs/settings/configurations they setup or use and cross check if cluster-api/kubeadm allows us to do the same.
Step 2 mirror the GCE e2e CI Job (`pull-kubernetes-e2e-gce` to be specific) using cluster-api for AWS.

Both steps can be done in parallel and will need help/effort/coo

[2019-07-12 13:30] dims commented on #75828
/assign @alok87

[2019-07-12 13:31] vkhromov commented on #80063
@randomvariable

Exactly.
But please note, that `/etc/kubernetes/scheduler.conf` is for client credentials, and `--tls-cert-file` and `--tls-private-key-file` args are for server credentials.

We use an external CA from which we're issuing very short-living PKI credentials.
We store all PKI credentials in external files, since it's much easier to update them in such setup.

At the moment, all cont

[2019-07-12 13:31] dims commented on #74352
/assign @andrewsykim

[2019-07-12 13:31] dims commented on #73933
/assign @dims

[2019-07-12 13:31] #80036 closed

[2019-07-12 13:41] alejandrox1 commented on #78995
I'll start with step 1 right away.
So step 2 is free if anyone wants to work on this as well 😃

[2019-07-12 13:43] neolit123 commented on #80063
could you clarify the use case for serving the scheduler?

[2019-07-12 13:43] shimron commented on #49931
any updates for this feature ?

[2019-07-12 13:48] draveness commented on #79629
Of course not, please take it. And I’m glad to provide help.

Regards,
Draven
On Jul 12, 2019, 9:27 PM +0800, ahg-g <notifications@github.com>, wrote:

[2019-07-12 13:51] luthienberen commented on #79926
Thank you too for your advices.

[2019-07-12 14:00] bluephone commented on #64256
Have you tried to use the `stringData` field. It allows you to put a non-base64 encoded string into a Secret.

[code]

[2019-07-12 14:06] vkhromov commented on #80063
@neolit123

I'm not sure that I understand you.
kube-scheduler *does* listen to some address/port by default, plese see
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/
[code]
, and the rest of document.

Also,
[code]

Beside that, we need that directory mounted for scheduler to access the clients credentials as well.

[2019-07-12 14:06] raesene commented on #79737
@timothysc If there's specific items around the CIS benchmark that are sticking or problematic, we'd be happy to look at those as part of the process of maintaining/upgrading it.

The goal (or at least my goal, as one of the authors) is to produce a workable standard, not somethin that is impractical to implement.  Whilst obviously there'll be some items which only apply to specific environments,

[2019-07-12 14:07] luthienberen commented on #79926
I found one interesting thing and now i'm not sure is it bug or feature or it works as expected.

Here is the status section of kube-proxy pod from node which is powered off. When comparing from kube-rpoxy pod everything else is similar except that condition of type "Ready" is in "False" status.

status:
  conditions:
  - status: "**False**"
     type: Ready
  phase: **Running**

And, as i underst

[2019-07-12 14:08] draveness commented on #79629
/unassign

[2019-07-12 14:12] ahg-g commented on #79629
Thanks Draven, @alculquicondor we will consider assigned to you.

[2019-07-12 14:15] timothysc commented on #79737
I'll defer to @randomvariable , as he has the complete list.

[2019-07-12 14:15] vkhromov commented on #80063
I probably need to add, that we don't use kubeconfigs generation phase from kubeadm, but instead of that generate kubeconfigs for all control plane components by other way, so all of them use external credential files in the end.
There are no embedded credentials in our kubeconfig files.

[2019-07-12 14:16] genisd commented on #49931
/reopen

should at least reopen this I guess

[2019-07-12 14:21] aojea opened #80098 "e2e test "RuntimeClass should run a Pod" only supports docker runtime"
**What would you like to be added**:

The test should support more runtimes, currently only support `docker` and `test-handler` handlers

https://github.com/kubernetes/kubernetes/blob/b8ba75bcd9d3be31e4b53105b2cc67538c9c2d1b/test/e2e/common/runtimeclass.go#L64

**Why is this needed**:

The test is not working with kind that is using containerd

xref: https://github.com/kubernetes-sigs/kind/pull/70

[2019-07-12 14:23] aojea commented on #80098
/cc @BenTheElder

[2019-07-12 14:26] neolit123 commented on #80063
yes, that is an important detail.

so basically you need to rotate the cert and key for the scheduler faster and that is why you need to mount the directory in question? but right now the scheduler should be self-signing it's TLS and that's the use case i don't understand - why feed user signed certs to it?

are you also signing your kubelet serving certs?

your already have to patch the pod manif

[2019-07-12 14:27] kvaps commented on #71555
Good news everyone, new nft supports setting ip address for arp filters :

https://bugzilla.netfilter.org/show_bug.cgi?id=1307#c2

[2019-07-12 14:28] tao12345666333 commented on #79912
#79966 has been merged. Maybe we can close this.

[2019-07-12 14:31] vladimirvivien commented on #80028
LGTM

[2019-07-12 14:32] andrewsykim commented on #71071
In https://github.com/kubernetes/kubernetes/pull/78395 we bumped the log level from v=0 to v=2, I think v=5 makes sense. https://github.com/kubernetes/kubernetes/pull/80100 for update

[2019-07-12 14:32] randomvariable commented on #80063
There's nothing being served by kube-scheduler other than the healthcheck and metrics, which is why we never set up a serving certificate. On the other hand, controller-manager is a certificate authority, so we mint certificates for it.

With regards to #80064, I have two concerns:
* It adds the mount to `/etc/kubernetes/pki`, but there's no certificate generation
* `/etc/kubernetes/pki` has the A

[2019-07-12 14:33] MauRiEEZZZ commented on #70147
+1

[2019-07-12 14:35] neolit123 commented on #80063
+1 on `extraVolumes:`
the cluster configuration already supports this.
otherwise, if we enable the volumes by default it makes sense to add the flags too.

[2019-07-12 14:38] vkhromov commented on #80063
Not only to do that faster, but also to avoid regenerating of the kubeconfig.

Could you please describe of how the scheduler could self-sign anything in the case of the external CA and how other components could deal with those self-signed credentials?

The rest of control plane components already have that directory mounted.
Only scheduler don't because, as I suspect,  of a bug in the original c

[2019-07-12 14:39] darenjacobstellic commented on #15180
So, having read this, is there *any* way to get persistence of port-forward through the connected pod dropping?

[2019-07-12 14:39] draveness commented on #69010
/reopen
/remove-lifecycle rotten
/assign

[2019-07-12 14:40] hex108 opened #80101 "FrameworkHandle exports internalcache.NodeInfoSnapshot from an internal package"
**What would you like to be added**:

`FrameworkHandle` exports an internal struct `internalcache.NodeInfoSnapshot` as the return value for the func [`NodeInfoSnapshot()`](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/v1alpha1/interface.go#L244). We need to take it out of internal package or return a interface as the return value for `NodeInfoSnapshot()` in the same

[2019-07-12 14:41] #63570 closed

[2019-07-12 14:41] #73955 closed

[2019-07-12 14:41] #72969 closed

[2019-07-12 14:42] vkhromov commented on #80063
@randomvariable thanks for the example of how that could be done by using `extraVolumes` configuration.  I definitely could workaround the issue that way.
The question is why do we need to make the scheduler a special case where we're mounting that certs directory to all other control plane components, but cannot do the same for the scheduler.

[2019-07-12 14:46] randomvariable commented on #80063
No, this is by design:
API server needs tls-cert-file and tls-private-key-file because it's the API everything talks to.

We currently mount `/etc/kubernetes/pki` in kube-controller-manager because one of its components is acting as a certificate authority. It therefore has its own CA certificates for doing that. These are not serving certificates, but used as part of:
[code]

`kube-controller-man

[2019-07-12 14:47] Noah-Huppert commented on #69608
Would a headless service be the solution to this problem?

[Kubernetes Docs](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services):

[2019-07-12 14:49] dims commented on #78995
@alejandrox1 sounds good. please start a google doc or something that we can use to compile notes on the various flags/options

[2019-07-12 14:50] randomvariable commented on #79737
I've logged most of those in the workbench.

We mainly need to come up with new tests to target kubelet componentconfiguration for the published version of the documents now.

[2019-07-12 14:57] vkhromov commented on #80063
@randomvariable , just wondering, are there any plans to narrow access of control plane components to files in `/etc/kubernetes/pki?
E.g. at the moment world-listening apiserver have access to `ca.key` file while it doesn't need it, which is much more dangerous then listening to localhost-only scheduler.

[2019-07-12 15:29] alejandrox1 commented on #79662
For more context, the code for the failing tests is here 👀
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/lifecycle/resize_nodes.go

[2019-07-12 15:42] #66750 closed

[2019-07-12 15:44] justaugustus commented on #79912
@tao12345666333 -- we also need to update the other supported release branches: `release-1.15`, `release-1.14`, and `release-1.13`. Would you like to work on that as well?

[2019-07-12 16:03] marvinthepa commented on #50321
/remove-lifecycle rotten

[2019-07-12 16:03] marvinthepa commented on #50321
/reopen

[2019-07-12 16:12] ryanhartje commented on #72155
/remove-lifecycle stale

[2019-07-12 16:21] cpuguy83 commented on #75526
Thanks!

[2019-07-12 16:21] cpuguy83 commented on #80092
Did you fix the fd leak issues?

[2019-07-12 16:23] #78136 closed

[2019-07-12 16:25] johnbelamaric commented on #79115
Not according to the written policy. How is "large" defined?

[2019-07-12 16:26] php-coder commented on #79958
/sig auth

[2019-07-12 16:28] php-coder commented on #79982
/sig storage

[2019-07-12 16:36] php-coder commented on #80038
@mhamzeh27903 It seems like the case for audit: https://kubernetes.io/docs/tasks/debug-application-cluster/audit/ ? Would it help in your case?

/sig apps

[2019-07-12 16:37] php-coder commented on #80098
/sig testing

[2019-07-12 16:44] php-coder commented on #78965
@qiyongxiao Could you, please, update the title to use English language? It might pay more attract to the issue.

[2019-07-12 16:49] php-coder commented on #78398
@willzhang see the comment from @avorima This doesn't look like a bug. Could we close the issue then?

[2019-07-12 17:09] dims commented on #80092
@cpuguy83 this was just migration. please go ahead and file a PR for the fd leak issue specifically

[2019-07-12 17:09] paulgmiller commented on #60807
We also hit this with Knative which installs this namespaced apiservice.
---
apiVersion: apiregistration.k8s.io/v1beta1
kind: APIService
metadata:
  labels:
    autoscaling.knative.dev/metric-provider: custom-metrics
    serving.knative.dev/release: v0.7.1
  name: v1beta1.custom.metrics.k8s.io
spec:
  group: custom.metrics.k8s.io
  groupPriorityMinimum: 100
  insecureSkipTLSVerify: true
  service:

[2019-07-12 17:12] BenTheElder commented on #80098
I don't think that's true?https://github.com/kubernetes/kubernetes/blob/b8ba75bcd9d3be31e4b53105b2cc67538c9c2d1b/test/e2e/common/runtimeclass.go#L63

This is definitely
/sig node

[2019-07-12 17:17] BenTheElder commented on #80098
See:
https://github.com/kubernetes/kubernetes/blob/416a717effeb3b0ff69e3363b15a9f6570a1a4a1/test/e2e/common/runtimeclass.go#L39-L44

https://github.com/kubernetes/test-infra/blob/e4e1d0529df0ff5de95497fd9d251d8defaf82e8/jobs/e2e_node/containerd/config.toml#L19-L21

I think the issue here is that the test requires that you've already configured such a handler or no-ops on docker. This should be doc

[2019-07-12 17:30] kfox1111 commented on #27308
We have a few clusters we are trying to make easier for our users to use. The kubeconfig files are generic as no user secrets are involved. We're using krb5 spnego to do the authentication. So we should be able to share the kubeconfig files between multiple users.

The only wrinkle is letting the user easily change the namespace. Copying the entire kubeconfig to customize is pretty heavy.

[2019-07-12 17:33] chrisjohnson opened #80106 "Mount ConfigMap as JSON file"
**What would you like to be added**:
In our environment, we use JSON files as the interchange for config rather than a dozen ENV variables. So we fetch and build the config map inside terraform, and then when we go to create a ConfigMap to be given to the pod, we have to first serialize to JSON within terraform so we end up with a ConfigMap that looks like this:

[code]

It would be great if k8s s

[2019-07-12 17:36] chrisjohnson commented on #80106
/sig apps

[2019-07-12 17:36] chrisjohnson commented on #80106
I guessed at the SIG, feel free to re-assign

[2019-07-12 17:41] raesene commented on #79737
Awesome thanks :)

We'll try and come up with good modifications for the recommendations.  Any suggestions how the affected items could be worded, would be great.  with more complex configurations, it can be tricky to get a recommendation that covers all the options well.

[2019-07-12 17:54] queeno commented on #79739
Thanks @cheftako. This makes total sense.
It would be great if this behaviour were documented somewhere 😄
Thanks!

[2019-07-12 17:55] slawekm commented on #27308
@kfox1111 Will this be any help?

[code]

[2019-07-12 17:58] thockin commented on #70229
They can't vmalloc 77 KB?  Ouch.  Is this a super low-memory machine, or
has it been running a long time and is very fragmented?

On Fri, Jul 12, 2019 at 3:41 AM Sébastien Stormacq <notifications@github.com>
wrote:

[2019-07-12 18:08] cpuguy83 commented on #80092
https://github.com/kubernetes/utils/pull/101

[2019-07-12 18:10] codenrhoden commented on #64953
@dims @msau42  The git-foo wasn't too bad. Just slow to filter on the whole k/k repo. =)

I've opened the PR at https://github.com/kubernetes/utils/pull/100, feel free to take a look.

Once that is in, we'll need to be cognizant to not letting any fixes come into k/k/pkg/util/mount, otherwise they might get lost. Once the package goes into k8s.io/utils, I can open the PR on k/k to make use of it!

[2019-07-12 18:13] terryxychan commented on #71887
Same here:
k8s: v1.15.0
Docker: 18.06.2-ce
Linux: Ubuntu 16.04
cgroup-driver: systemd

[2019-07-12 18:28] sergey-safarov opened #80107 "LoadBalancerIP support for Amazon LoadBalancer"
**What would you like to be added**:
Amazon cloud support addition elastic IP as loadbalancer external IP. Screenshot attached.
But I cannot use this featured as not supported for Kubernetes 1.13. I receive error `LoadBalancerIP cannot be specified for AWS ELB`.

![load balancer elastic IP settings](https://user-images.githubusercontent.com/2562241/61150295-c3c13600-a4eb-11e9-8257-1dd5cc9b7385.png

[2019-07-12 18:32] sergey-safarov commented on #80107
/sig aws
/sig network

[2019-07-12 18:33] sergey-safarov commented on #80107
/sig aws

[2019-07-12 18:53] sergey-safarov opened #80108 "Expose service public IP into pod"
**What would you like to be added**:
Some services need to know public IP assigned to pod published via cloud `LoadBalancer`.
In my case SIP server use public IP in call signaling at application layer (L7 OSI). Without this info server not able make call properly.

I can get this info via REST request to `${KUBERNETES_SERVICE_HOST}`. But will be more simple to expose this info via environment vari

[2019-07-12 18:56] oliverisaac commented on #27308
@kfox1111 Kubectx/kubens simplifies managing namespaces:

https://github.com/ahmetb/kubectx

[2019-07-12 19:14] kfox1111 commented on #27308
The tricky bit is setting the namespace in the context means the kubeconfig file needs to be edited. I was hoping to use one kubeconfig per cluster for all users. An environment variable would work for that.
Just a quick glance at kubens, it looks like it edits the kubeconfig. So same issue.

Our login nodes have various shells installed and each user gets to pick their own shell. so while we coul

[2019-07-12 19:21] alculquicondor commented on #79629
Ack, thanks

[2019-07-12 19:25] #74148 closed

[2019-07-12 19:33] sergey-safarov opened #80110 "Add limit of used zones/IP for service cloud LoadBalancer"
**What would you like to be added**:
I want publish SIP service for external Internet. To do this recommended use service with type `LoadBalancer`. In my case to get it working properly need assign only one IP for each `pod:port`.
In current implementation `LoadBalancer` created over several zones and one `private` IP matched to several `public` IP.
Example

yaml file
[code]
service status
[code]

[2019-07-12 19:34] sergey-safarov commented on #80110
/sig network

[2019-07-12 19:46] #73886 closed

[2019-07-12 19:58] MikeSpreitzer commented on #50564
There are existing test cases in the `TestScaledValue` function in `quantity_test.go` that also show that the comment is wrong.  For example, the test case `{Micro, Nano, 1000}` shows that NewScaledQuantity(1, -6).ScaledValue(-9) produces 10 to the power of 3 (that's (-6)-(-9)) rather than -15 (that would be (-6)+(-9)).

[2019-07-12 20:06] sergey-safarov opened #80111 "service yaml enchantment for SIP servers"
**What would you like to be added**:
I want publish StateFulSet via service and cloud `LoadBalancer` for SIP servers. To get it working properly i found some issues that requires some of kubernetes enchantments:
1) [public IP limits](https://github.com/kubernetes/kubernetes/issues/80110)
2) [static IP for Amazon cloud](https://github.com/kubernetes/kubernetes/issues/80107)
3) [UDP for Amazon NLB](

[2019-07-12 20:38] alexeldeib commented on #79616
+1, wading through some fun problems due to this and would appreciate having the standard eviction logic centralized somewhere outside k/k

[2019-07-12 20:42] detiber commented on #79616
It looks like @justinsb has already started work on this here: https://github.com/kubernetes/kubernetes/pull/80045

[2019-07-12 20:45] sebsto commented on #70229
Yes, 4Gb machine running since 10-15 days when the problem will occur.  Is there any GC or recommandation to fine tune memory usage on machines with low amount of memory ?  Or should we just reboot them like Windows server ?

[2019-07-12 20:49] rquackenbush commented on #74918
Any hope of getting this in anytime soon? It looks like this is required to get windows authentication working for IIS on windows containers.

[2019-07-12 20:54] thockin commented on #70229
77KB is not a huge amount of memory and I don't think there's any alternate
path to read it in chunks.  It's an interesting failure mode and one more
nail in the coffin of iptables proxier, but I don't think there's an easy
solution here...

On Fri, Jul 12, 2019 at 1:46 PM Sébastien Stormacq <notifications@github.com>
wrote:

[2019-07-12 21:01] alexeldeib opened #80112 "make kubectl DrainCmdOptions.drainer public"
**What would you like to be added**:
Starting in 1.14, kubectl DrainCmdOptions changed and moved several of the flags to a private member for which there are no access methods. I would like to make `DrainCmdOptions.drainer` a public member of this struct.

**Why is this needed**:
It makes programmatic usage of the drain package significantly easier in the short term, because the package has a defa

[2019-07-12 21:03] dims commented on #51999
looks like we can close this now? given support in the community like https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/cmd/fpga_plugin/README.md

/close

[2019-07-12 21:03] #51999 closed

[2019-07-12 21:03] sebsto commented on #70229
Thank you fo your feedback.  The stack trace posted before mine by @nielsole is about a 438k allocation on a machine having 64Gb of memory.  So it looks like this iptables memory allocation problem is not limited to memory constrained environments.

[2019-07-12 21:04] eduardorj commented on #19317
same issue here.

[2019-07-12 21:05] dims commented on #24649
let's close this out given the Kustomize stuff has landed.

/close

[2019-07-12 21:05] #24649 closed

[2019-07-12 21:06] dims commented on #35226
/area code-organization

[2019-07-12 21:07] dims commented on #45594
/sig cloud-provider

[2019-07-12 21:08] MrHohn commented on #80070
/remove-triage unresolved

[2019-07-12 21:10] dims commented on #37254
/close

i think we are stable with what we have in `hack/verify-golint.sh`

[2019-07-12 21:10] #37254 closed

[2019-07-12 21:17] dims commented on #54090
@resouer do we still want to do this?

[2019-07-12 21:18] dims commented on #49213
i know this is the older one, but let's continue the conversation in https://github.com/kubernetes/kubernetes/issues/78995

/close

[2019-07-12 21:18] #49213 closed

[2019-07-12 21:20] dims commented on #59848
/priority important-soon
/milestone v1.16

(to match the priority and milestone in the PR)

[2019-07-12 21:27] yujuhong opened #80114 "Multiple "[StatefulSetBasic]" tests failing on Windows"
**Which jobs are failing**:
GCE and AKS Windows against the master branch

**Which test(s) are failing**:
[code]
**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-windows#gce-windows-master
https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master

**Reason for failure**:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine

[2019-07-12 21:27] yujuhong commented on #80114
/cc @pjh @kubernetes/sig-windows-bugs

[2019-07-12 21:37] thockin commented on #70229
Yeah, it's constrained to fragmentation, probably.  It seems that the
iptables kernel API depends on being able to vmalloc() largish chunks of
memory and if that fails, no iptables for you.  @lxpollitt since we
discussed similar stuff recently :)

On Fri, Jul 12, 2019 at 2:04 PM Sébastien Stormacq <notifications@github.com>
wrote:

[2019-07-12 22:19] maroda commented on #36891
This is happening to me, but I don't recall removing the _istio-system_ namespace when it started, and that's apparently the namespace that got orphaned. The only reason I found it was because it started showing up in my log aggregation, e.g.:

[code]

I'm fairly new to kube, so I'm not sure if this is something to expect or not. There's very very little documentation anywhere about "orphaned name

[2019-07-12 22:28] aojea commented on #80078
hi @zhangguanzhang can you give more details about your configuration?

we can observe that the error mentioned in the bugs show  `listen tcp [::1]:0: bind`  , why the port is 0?

[2019-07-12 22:49] #73861 closed

[2019-07-12 23:34] neolit123 commented on #80063
that is true.

we are currently doing an audit of the control-plane manifests mounts, also hopefully not running them as root eventually:
https://github.com/kubernetes/kubeadm/issues/1367

[2019-07-12 23:47] #80028 closed

[2019-07-13 00:46] vigu16 commented on #50619
Hi, I got the same issue  "spec.template.spec.containers[0].ports[0].name: Invalid Value: "xxxxxxx" must be no more than 15 characters.

Is there a fix for this ? Can anyone help ?

[2019-07-13 00:52] #73975 closed

[2019-07-13 01:14] dims commented on #77212
/close

Looks like there's a way to run sonarqube and then folks can work on reviewing the results and propose issues and PRs. we don't want to do anything more "officially" at the moment so closing this out

[2019-07-13 01:14] #77212 closed

[2019-07-13 01:15] dims commented on #35062
/close

[2019-07-13 01:15] #35062 closed

[2019-07-13 01:20] dims commented on #62577
/close

[2019-07-13 01:20] #62577 closed

[2019-07-13 01:21] dims commented on #76210
/close

[2019-07-13 01:21] #76210 closed

[2019-07-13 01:22] dims commented on #70132
/assign @justaugustus

[2019-07-13 01:23] dims commented on #70131
/assign

[2019-07-13 01:25] dims commented on #73286
@justaugustus @wojtek-t @feiskyer @ixdy - are we there yet? :) (what's left to be done)

[2019-07-13 01:27] dims commented on #61474
/close

[2019-07-13 01:27] #61474 closed

[2019-07-13 01:27] justaugustus commented on #70132
/area release-eng
/priority important-soon
/milestone v1.16

[2019-07-13 01:29] justaugustus commented on #70132
Also, linking:
- https://blog.gtank.cc/modern-alternatives-to-pgp
- https://github.com/theupdateframework/notary

[2019-07-13 01:32] wawa0210 commented on #79515
I found the reason for the issue ,
https://github.com/kubernetes/kubernetes/pull/80116

can you reivew that pr ? @ksubrmnn @dineshgovindasamy

[2019-07-13 01:33] dims commented on #76738
/assign @justaugustus

[2019-07-13 01:39] justaugustus commented on #73286
@dims -- we still need to write a policy for this. I'll work on crafting that.
/assign
/priority important-soon
/milestone v1.16
/kind documentation
/area release-eng

[2019-07-13 01:41] draveness opened #80119 "Test_buildClientCertificateManager flakes due to race condition"
**Which jobs are failing**:

pull-kubernetes-bazel-test

**Which test(s) are failing**:

Test_buildClientCertificateManager

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/79777/pull-kubernetes-bazel-test/1149849109813792769

**Reason for failure**:

**Anything else we need to know**:

[2019-07-13 01:42] draveness commented on #80119
/remove-kind failing-test
/kind flake
/sig scheduling

[2019-07-13 01:43] draveness commented on #80119
/sig node

[2019-07-13 01:53] greghaynes commented on #78994
I just tested this in my 1.14.3 cluster and I am still seeing the same behavior - a curl from one pod to another to clusterip with no hosts results in an open connection hanging indefinitely. Based on @zq-david-wang comments this seems likely a calico issue but AFAIK we've yet to find the specific cause. LMK if I can provide any more info/etc.

[2019-07-13 02:48] tao12345666333 commented on #79912
yes. I will work on that.

[2019-07-13 03:54] #63051 closed

[2019-07-13 04:20] mjaow commented on #79957
@roycaihw
I thought 5xx may also lead to pod to be created(server timeout, but pod is created). But the doc didn't mention it.

[2019-07-13 05:50] mjaow commented on #79957
thx.

[2019-07-13 05:51] #79957 closed

[2019-07-13 05:57] simplytunde commented on #79912
y
How
On Fri, Jul 12, 2019 at 9:50 I PM Jintao Zhang <notifications@github.Icom>
How wrote:

[2019-07-13 06:24] andrewschmidt-a commented on #70147
+1

[2019-07-13 07:03] zhangguanzhang commented on #80078
$  systemctl cat kubelet
[code]
$ cat /etc/kubernetes/kubelet-conf.yml
[code]

[2019-07-13 07:47] dwmkerr opened #80120 "Support kubectl configuration file loading from a '~/.kube/config.d' directory"
(Originally based on #569)

cc @kubernetes/sig-cli-feature-requests

This feature request is to allow the `kubectl` tool to load configuration automatically from the `$HOME/.kube/config.d/` directory. This would allow configuration files to be broken down and structured in a more simple fashion, and allow users more organisation when managing many clusters.

## Design Document

The design document

[2019-07-13 07:57] sergey-safarov opened #80122 "Static IP for pod"
**What would you like to be added**:
Requested ability to specify static IP for pod. like
[code]
And StateFulSet
[code]
If StateFulSet create replicas more than public IP available or specified IP used by other service and `PublicIPFailback` have `dynamic` value, then assign dynamic IP.
If `PublicIPFailback` have `none` value, then pod will not start until one of IP specified in `PublicIPPool` arr

[2019-07-13 08:41] sergey-safarov commented on #80122
Addition about cloud firewall.
If pods have list of `ports`, then need to be sure this ports allowed on firewall.
[code]

[2019-07-13 09:05] otiszv commented on #47711
Same the problem, svc lost the endpoint after a few time. If deleting the pod, then the svc endpoint is show up again

[2019-07-13 09:12] donngchao commented on #26000
I encounter the same issue like this

[2019-07-13 10:26] schrodit commented on #75034
/remove-lifecycle rotten

[2019-07-13 10:26] schrodit commented on #75034
@mml any update on this?

[2019-07-13 14:15] krzysied opened #80124 "[Failing Test] Scalability tests - cluster creation fails"
**Which jobs are failing**:
All scalability ci-jobs

**Which test(s) are failing**:

**Since when has it been failing**:
07/12/2029 17:40 PDT

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

**Reason for failure**:
cluster creation fails

**Anything else we need to know**:

[2019-07-13 14:16] krzysied commented on #80124
/sig scalability

[2019-07-13 14:18] krzysied commented on #80124
Also `make quick-release` fails, even for k8s checkouts from before 07/12/2029 17:40 PDT.
[code]

[2019-07-13 14:19] krzysied commented on #80124
/cc @wojtek-t @mm4tt @mborsz @oxddr

[2019-07-13 15:04] dims commented on #80124
@krzysied i'd bet on this? https://github.com/kubernetes/kubernetes/pull/80047/files as the cause of the problem

given the errors i see from the https://paste.fedoraproject.org/paste/Qe2Vj5nNK-Q1yrbITzYNCA/raw (grep of logs from https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1150041374645555200/artifacts/e2e-big-master/)

[2019-07-13 15:19] ringtail commented on #49931
I think this feature should be supported with CRD controller instead of kubernetes core. And there are several implements such as https://github.com/AliyunContainerService/kubernetes-cronhpa-controller and https://github.com/k8s-restdev/scheduled-scaler

[2019-07-13 15:24] wojtek-t commented on #80124
I bet it's something different - all GCE tests (not just scalability) are completely down in the last N hours.

I tried building stuff myself locally without rebasing (i.e. from commint from Thu) and it failed the same way.
It's some environmental thing (or test-infra issue).

[2019-07-13 19:09] bmwiedemann commented on #70131
yes. In openSUSE we usually build everything in constant paths, but it still is troublesome when some random component gets appended, as is the case here.

[2019-07-13 19:45] praveenperera commented on #70147
+1

[2019-07-13 20:02] QuLogic opened #80127 "github.com/kardianos/osext is deprecated"
**What would you like to be added**: Use of github.com/kardianos/osext should be removed.

**Why is this needed**: It is deprecated and no longer necessary on Go 1.8+ (see [this comment, for example](https://github.com/kardianos/osext/issues/20#issuecomment-278110433)). Since all current versions of Kubernetes [require Go > 1.8](https://github.com/kubernetes/community/blob/master/contributors/deve

[2019-07-13 20:21] QuLogic commented on #80127
Based on the files that use this import:
* `pkg/cloudprovider/providers/cloudstack/cloudstack.go`
* `test/e2e_node/e2e_node_suite_test.go`
* `test/e2e_node/services/services.go`

/sig cloud-provider
/sig node-reviewers

Also probably,
/area dependency

[2019-07-13 21:15] dims commented on #80124
@wojtek-t @javier-b-perez we need to merge this to get back on our feet? https://github.com/kubernetes/kubernetes/pull/80054

[2019-07-13 23:47] zhangxiaoyu-zidif opened #80130 "Daemonset need more RollingUpdateStrategy"
**What would you like to be added**:
/sig apps

**Why is this needed**:
Now we find Daemonset has a weak ability to do rollingUpdate.  So we need to do moere enhancement, such as pause, selector & and surge and more.

[2019-07-14 00:03] cmluciano commented on #78994
cc @caseydavenport for calico perspective

[2019-07-14 01:15] #65925 closed

[2019-07-14 01:49] draveness commented on #80130
/assign

Do we need a KEP for this?

[2019-07-14 04:51] librannk opened #80133 "quay.io/fluentd_elasticsearch/elasticsearch:v7.1.1 doesnt exist"
for kubernetes\cluster\addons\fluentd-elasticsearch

quay.io/fluentd_elasticsearch/elasticsearch:v7.1.1 doesn't exist in quay, thereby giving error doesn't exist while pulling.

[2019-07-14 05:01] librannk commented on #80133
@kubernetes/sig-testing-test-failures

[2019-07-14 05:50] wojtek-t commented on #80124
@dims - as I wrote above, I don't think the reason of it is related to any PR (at least in k/k repo).
I had exactly the same issue when trying to build on my workstation (from commit on Thursday which worked perfectly fine back then).
I restarted docker daemon and that fixed the problem (without any rebases, changes to code etc.) so I think that those problems aren't really related to any particul

[2019-07-14 05:58] dnoland1 commented on #57534
/remove-lifecycle stale

[2019-07-14 09:20] ricky1993 commented on #73958
Etcd move blocking watcher to victims, use a loop to send batch event to victims.
Can we move blocking watchers to victims like etcd? And we can make blocking watcher not to block dispatch events.
https://github.com/etcd-io/etcd/blob/e56e8471ec1870df699fde0bcf8d3e5bee5221be/mvcc/watchable_store.go#L91

[2019-07-14 09:23] #74005 closed

[2019-07-14 09:39] tao12345666333 commented on #79912
PR for release-1.15 #80134

[2019-07-14 10:08] dmoessne commented on #68050
/reopen

[2019-07-14 10:08] dmoessne commented on #68050
so, I think this is still an issue and do not get why it is abandoned. Are there at least any recommendations how to avoid that ?

[2019-07-14 14:53] loqutus commented on #80127
/assign

[2019-07-14 15:04] dims opened #80140 "GCE Jobs failing due to latest change in 80054"
The failure looks like this (example from [log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1150408788860211201/artifacts/bootstrap-e2e-master/kube-master-installation.log)):
[code]

Easy to recreate using the following snippet
[code]

[code]

[2019-07-14 15:06] dims commented on #80140
cc @javier-b-perez @spiffxp @wojtek-t

[2019-07-14 15:48] loqutus commented on #80122
/assign

[2019-07-14 16:01] javier-b-perez commented on #80124
if we are using "set -u" mode in the scripts, then the code in https://github.com/kubernetes/kubernetes/pull/80054/files will fail with something like:
line XX: local: manifest_name: readonly variable

This should only break GCE clusters. I working on a fix.

[2019-07-14 16:02] dims commented on #80124
@javier-b-perez please see https://github.com/kubernetes/kubernetes/pull/80141

[2019-07-14 16:03] javier-b-perez commented on #80124
I saw it, thanks! Who can approve it?

[2019-07-14 16:30] #73675 closed

[2019-07-14 16:30] #73925 closed

[2019-07-14 16:55] #80140 closed

[2019-07-14 16:56] Huang-Wei opened #80143 "scheduler: ambiguity among feature gates, custom scheduler policy and internal predicates/priorities"
How the scheduler behaves depends on (a) enabled feature gates and (b) registered predicates/priorities, the combinations could be:

- feature gates + default policy (i.e. default predicates/priorities)
- feature gates + custom policy (i.e. custom predicates/priorities)

But I see some issues around the consistency among feature gates, custom policy and internal state of scheduler predicate/priori

[2019-07-14 16:57] Huang-Wei commented on #80143
/sig scheduling
cc/ @bsalamat @k82cn @ravisantoshgudimetla @ahg-g

[2019-07-14 20:24] neolit123 commented on #79912
i don't see anything critical in the changelog for this release, why are we bumping golang in the older k8s branches?

[2019-07-14 20:58] Huang-Wei opened #80146 "events v1beta1: absence of optional `Related` event gives an error"
Per the comments in v1beta1 Event:

https://github.com/kubernetes/kubernetes/blob/7285829b8306a7cc1a2dc0da943afcfe45c06579/staging/src/k8s.io/api/events/v1beta1/types.go#L61-L64

The `Related` field claimed to be optional, but an error is dumped if it's illegal - including the `nil` case:

https://github.com/kubernetes/kubernetes/blob/7285829b8306a7cc1a2dc0da943afcfe45c06579/staging/src/k8s.io/cli

[2019-07-14 21:02] Huang-Wei commented on #80146
/sig scheduling
/sig api-machinery

[2019-07-14 21:07] pohly commented on #69608
Noah Huppert <notifications@github.com> writes:

It's better, but still a useless object that could be avoided if we
could get clarified that a StatefulSet is okay to use without a Service.

[2019-07-14 22:36] #74090 closed

[2019-07-14 22:56] dims commented on #80124
@krzysied https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100 is green again :)

/close

[2019-07-14 22:56] #80124 closed

[2019-07-14 23:01] loqutus commented on #80133
/assign

[2019-07-14 23:10] cblecker commented on #79912
@neolit123 see #73286

There are lots of reasons, but the biggest one in my mind is we need to keep them current because of the possibility of a future security fix. We want to start performance/regression testing as soon as we can, because if there is a problem we need to report to the go team, we want to do that before we're forced to accept a performance regression because of a critical securit

[2019-07-14 23:22] cblecker commented on #76093
/remove-lifecycle stale

[2019-07-14 23:44] dims commented on #79912
This is the right time in the cycle to do this for another reason :)

[2019-07-14 23:52] zhangxiaoyu-zidif commented on #80130
yes, this KEP is ongoing. Welcome to join us.

[2019-07-15 00:03] stevebail opened #80147 "Provisioner for standard Storage Class does not automatically create PV with minikube"
**What happened**:
Apply the nginx-statefulset example to minikube defined at https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/ but with the standard class.
See attached file.
[nginx-statefulset.pdf](https://github.com/kubernetes/kubernetes/files/3390526/nginx-statefulset.pdf)

The pod did not get its PVC/PV.
See below (partial output from kubectl describe po)
Events:
  Type

[2019-07-15 00:09] stevebail commented on #80147
/sig cluster-lifecycle

[2019-07-15 00:28] MikeSpreitzer commented on #79957
@mjaow : I assume you closed this because https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#success-codes documents that the 500 status code means the action may or may not have completed.

I am betting that status code 504 also means the action may or may not have been done, but that doc does not spell this out.

[2019-07-15 01:24] houjun41544 commented on #68050
/reopen

[2019-07-15 02:14] imeoer commented on #79832
Any thoughts on the above?  @jpbetz

[2019-07-15 02:22] Nebulazhang commented on #72181
/reopen

[2019-07-15 03:15] gjmzj opened #80152 "[Fail] [sig-network] DNS [It] should provide /etc/hosts entries for the cluster [LinuxOnly]"
**What happened**:
following instruction https://github.com/cncf/k8s-conformance/blob/master/instructions.md,
with k8s v1.14.3, sonobuoy  v0.15.0
[code]
and i've read related issues #43264, and serveral others, but got little information to solve it.
**What you expected to happen**:
the test suite should pass.
**How to reproduce it (as minimally and precisely as possible)**:
setup an AIO k8s clust

[2019-07-15 03:17] gjmzj commented on #80152
/sig network

[2019-07-15 03:21] gaorong opened #80154 "lookup ip from node name by NDS in kubelet node status setter take a long time, then controller-manager mark this node as `NotReady`"
**What happened**:
kubelet periodically report node status including nodeIP to apiserver, it tries to get nodeIP in below order (you can find this logical at [here](https://github.com/kubernetes/kubernetes/blob/7285829b8306a7cc1a2dc0da943afcfe45c06579/pkg/kubelet/nodestatus/setters.go#L153-L192)):
1) Use nodeIP if set
2) If the user has specified an IP to HostnameOverride, use it
3) Lookup the IP

[2019-07-15 03:23] draveness commented on #80130
Thanks, I could work on this when the KEP becomes implementable.

[2019-07-15 03:51] du86796922 commented on #61999
@0312birdzhang  Is this problem to be solved?

[2019-07-15 05:46] subfuzion commented on #48575
I realize this issue is closed, but in case this helps anyone ...
**IF** you are using a mac
**AND** you are using tmux
**AND** you used homebrew to install bash and bash-completion@2
**THEN** test without tmux and if it works, make sure you also tell tmux to use the correct shell by putting this in your `.tmux.conf`:

    set-option -g default-shell "/usr/local/bin/bash"

Just reloading the confi

[2019-07-15 06:02] 0312birdzhang commented on #61999
@du86796922 Not yet, but you can scale down the pods running on one node, then `du` and `ionice` will not execute.

[2019-07-15 06:04] nilo19 opened #80156 "E2E test encountered SSH error"
Error logs:
[code]
I consider to add the following configurations to the corresponding docs:
[code]

[2019-07-15 06:05] nilo19 commented on #80156
/sig docs

[2019-07-15 06:07] #80156 closed

[2019-07-15 06:12] du86796922 commented on #61999
@0312birdzhang  Thank you for your advice.  I will try it.

[2019-07-15 06:13] mjaow commented on #79957
@MikeSpreitzer can doc spell this out.I think it may affect people's desicion in what to do after creating pod

[2019-07-15 06:47] dgunjetti commented on #80122
Is this typical case of SIP behind NAT, in which case SIP device behind NAT is configured to use external IP in SIP headers. NAT device opens range of ports as specified in rtp.conf to handle multiple simultaneous calls. I think here it drops to supporting port-range in service than static ip for pods. There is long standing PR "Support port ranges in services #23864" does anyone know its current

[2019-07-15 06:48] zouyee commented on #60903
/reopen

[2019-07-15 07:24] ogre0403 opened #80158 "ipvs proxier wrongly unbind addr when multiple services have the same external IP"
**What happened**:

In kube-proxy IPVS mode, kube-proxy will unbind legacy address from kue-ipvs0. If service has external IP, external IP is also unbind from kube-ipvs0.  In our use case, services in the same namespace share ONE external IP.
[code]
When we delete one svc, the external IP is unbind from kube-ipvs0, then other services use the same external IP will encounter broken connection.
Howe

[2019-07-15 07:25] ogre0403 commented on #80158
/sig-network

[2019-07-15 07:40] calvix commented on #80076
@andyzhangx The reason for docker and kubelet hanging was that both wanted to work with the volume and that caused the process to stop/wait for the storage.

When I was looking at `top` and `systemd-cgtop` there was almost no CPU utilization, the same information was showing  CPU utilization graph in Azure portal, it was around 5%.

[2019-07-15 07:54] BSWANG commented on #75441
/remove-lifecycle stale

[2019-07-15 07:57] andyzhangx commented on #80076
@calvix could you run `mount -t cifs ...` on a node to narrow down this issue? Thanks.

[2019-07-15 09:03] daniela-waranie commented on #25766
@vishh @euank @dchen1107 or @kargakis please re-open this ticket as it is still valid and i do not want to create a duplicate just because of the wrong status of this ticket.

Debugging of postStart hooks is hard and debugging of preStop hooks is nearly impossible, as `kubectl describe pod ...` (to see the events) is not possible when the pod was terminated...

[2019-07-15 09:08] Michael754267513 opened #80161 "desc error"
code on 152 ：  https://github.com/kubernetes/kubernetes/blob/05183bffe5cf690b418718aa107f5655e4ac0618/pkg/scheduler/algorithm/priorities/most_requested_test.go

error:
Memory Score: (0 * 10) / 20000 = 10

mod:
Memory Score: (0 * 10) / 20000 = 0

[2019-07-15 09:12] gjmzj commented on #80152
[code]
error log: the server could not find the requested resource (get pods dns-test-b217596d-a5ef-11e9-9641-7a3fe53be04e)
but i'm pretty sure that the pod is running during the test.

[2019-07-15 09:58] #80161 closed

[2019-07-15 09:58] Michael754267513 opened #80164 "desc error"
code on 152 ： https://github.com/kubernetes/kubernetes/blob/05183bffe5cf690b418718aa107f5655e4ac0618/pkg/scheduler/algorithm/priorities/most_requested_test.go

error:
Memory Score: (0 * 10) / 20000 = 10

mod:
Memory Score: (0 * 10) / 20000 = 0

[2019-07-15 10:12] arcana261 commented on #46861
I'm having this issue on 1.14. I can't `apply` my deployment, changing env from a key-value pair to key-secret pair. Is there no other way to do this? I'd really hope to avoid a downtime on this!

[2019-07-15 11:43] yastij commented on #80146
/assign

I'll update the log to info or warning cc @wojtek-t

[2019-07-15 11:47] wojtek-t commented on #80146
It shouldn't be warning - it's a valid and allowed case.
I'm wondering if we even should be logging info, but maybe we can for now.

[2019-07-15 11:59] sergey-safarov commented on #80122
Ticket 23864 cannot be resolved until `docker` daemon will be able publish port ranges without thousand iptables rules.

But more important next info.
Usage case  `publishing via service` is more complex then `publishing pod directly`.
Reasons:
1) used double NAT. First at Amazon cloud, second at kebernetes instances.
2) real SIP servers not ready to work with double NAT configuration. They wrote