[2020-09-08 08:07] RoadRunnr opened #94608 "API watch on list of pods misses container events"
**What happened**:

When running a watch on the list of pods on the API through a HTTP/2 persistent connection, e.g. `GET /api/v1/pods?watch=1&resourceVersion=123`, (init)Container lifecycle events are missed.
The event that reports the initContainerStatuses / Container / state field change from `Waiting` to `Running` is sometimes missing. Also, it sometimes it jumps straight to `Running`, skippin

[2020-09-08 08:11] RoadRunnr commented on #94608
/sig api-machinery

[2020-09-08 08:20] dennis-benzinger-hybris commented on #93186
So far we couldn't reproduce the issue with Kubernetes v1.18.8. We think it was fixed by #93387.

[2020-09-08 08:20] #93186 closed

[2020-09-08 08:22] garimakemwal commented on #78761
Faced this exact issue as @scott2449 . Ensuring that every deployment being scaled with HPA has its unique set of selectors and labels in the deployment is crucial for HPA to work. Providing the HPA with target deployment name does not seem to be enough. In our case, there were `commonLabels` being passed from base kustomize deployment to all resources.

The challenge is that `kubectl describe hpa

[2020-09-08 10:19] mm4tt commented on #94450
Same failures for continuous tests - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1303210073211801600
[code]

[2020-09-08 10:22] mm4tt commented on #94450
I don't have access neither to k8s-infra-prow-build nor to k8s-infra-e2e-boskos-scale-12 to debug this. @spiffxp, could you help here?

As a mitigation, let's remove this project temporarily from the boskos pool.

[2020-09-08 10:25] qiyongxiao commented on #78965
我也忘了，现在已经不做mips平台的适配工作了

[2020-09-08 10:27] mm4tt commented on #94450
Interesting, the jobs use the `- --gcp-project-type=scalability-project`, but in the `scalability-project` boskos pool I don't see the `k8s-infra-e2e-boskos-scale-12` project - https://github.com/kubernetes/test-infra/blob/5bceca389324f0dad236f5403e0f980187b344a5/config/prow/cluster/boskos-resources.yaml#L477
[code]

[2020-09-08 10:32] mm4tt commented on #94450
Ah, it has been moved to a different cluster (and repo) in https://github.com/kubernetes/test-infra/pull/17725

[2020-09-08 10:50] mm4tt commented on #94450
Regarding why I don't have access. It might be a similar problem to the one fixed in https://github.com/kubernetes/k8s.io/pull/770
It looks like I'm a member but I'm not able to see other members - https://groups.google.com/a/kubernetes.io/g/k8s-infra-sig-scalability-oncall/members
Comparing to perf-dash rbac group where it works, but didn't when there was no permission to see members - https://gr

[2020-09-08 10:55] #94608 closed

[2020-09-08 11:11] tavin commented on #86352
/remove-lifecycle stale

PR open a while now, can close after it is merged

[2020-09-08 11:30] sttts commented on #88182
/reopen

We still see this happening. Kube users get nervous, I would too. Please fix the root cause.

[2020-09-08 11:42] MikeSpreitzer commented on #94477
I think what I am hearing is the suggestion that the new issue is not about how long a request takes to execute but rather how big a bite out of the server's capacity a given request takes _while_ it is executing.  While a server may be able to run 100 GET requests concurrently, it can only run 20 LIST requests concurrently, as an example with made-up numbers.  So we would not manage against a fix

[2020-09-08 12:15] wojtek-t commented on #94477
Yes - that's great summary of what I was trying to say - thanks Mike!

[2020-09-08 12:15] bentastic27 opened #94615 "HPA Feature: Ability to select workloads via label"
**What would you like to be added**:

It would be useful to be able to select workloads via label instead of just the [object reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#crossversionobjectreference-v2beta2-autoscaling) in the `scaleTargetRef` field in the spec. The desire is to essentially have a single HPA definition that covers multiple workloads.

**Why is th

[2020-09-08 12:16] bentastic27 commented on #94615
/sig autoscaling

[2020-09-08 12:24] wojtek-t commented on #90047
/remove-lifecycle stale

[2020-09-08 12:43] liggitt commented on #94550
The CLI help is accurate... when starting the kubelet with CLI flags (not from a config file), the default is 10255. See https://github.com/kubernetes/kubernetes/pull/94551#issuecomment-688840878

[2020-09-08 12:43] #94550 closed

[2020-09-08 13:31] sownak commented on #89898
Now facing this mainly for the tiller pod (helm), all other pods are generally working fine. I did shutdown all the EKS worker nodes and then recreated, that seems to solve the issue. Looks like a kubernetes 1.16 issue to me.

[2020-09-08 13:39] yanchicago commented on #88622
This is a needed capability.

[2020-09-08 13:39] jdef commented on #78664
/remove-lifecycle stale

[2020-09-08 13:42] jdef commented on #78664
The OP mentions Windows. We've seen this degrade kubectl performance on linux machines too, where /home/xyz dirs are NFS mounts. Sure, it's possible to hack around the issue, but it's problematic especially for new k8s users who wonder why kubectl commands sometimes take so long to run.

[2020-09-08 13:56] alculquicondor commented on #72278
/reopen

[2020-09-08 14:00] alculquicondor commented on #72278
There is incubation work going on

- https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/9-capacity-scheduling
- https://docs.google.com/document/d/1ViujTXLP1XX3WKYUTk6u5LTdJ1sX-tVIw9_t9_mLpIc/edit#

[2020-09-08 14:22] rikatz commented on #94191
/remove-triage unresolved

I'll keep an eye in this issue, but as Rob told there're some KEP on going :)

[2020-09-08 14:54] akcrisp commented on #85963
@enj Just wondering if there's been anymore thought given to deny rules ? this is causing me a major headache as i outlined on jul 17th. The ability to centrally be able to push out an rbac model which denies access to given namespaces or other resources is crucial and i am somewhat surprised hasn't been thought about already.

[2020-09-08 14:56] rikatz commented on #94495
Well, taking a look into how secure is to move to beta:

In the KEP there are some considerations about removing the IsMasterNode function, which seems to be already dealt in commit https://github.com/kubernetes/kubernetes/commit/a49a554211101f594e55e4b7d4574b535249db58

E2E tests needs to be also checked about usage of  IsMasterNode(), which I could not find anymore and also seems to be removed f

[2020-09-08 14:59] nvrgngyup opened #94618 "is kube-cross open"
https://github.com/kubernetes/kubernetes/blob/3fc1bc76a95d8a6a6cd33394526f00c00a98ce07/build/build-image/Dockerfile#L16

Hello,
Where can-I find the Dockerfile used to publish the k8s.gcr.io/build-image/kube-cross images ?

[2020-09-08 15:04] nvrgngyup commented on #94618
/sig docs

[2020-09-08 15:05] wawa0210 commented on #94490
If sig-windows has the latest discussion results, please let me know and I can try to follow up this issue

[2020-09-08 15:10] neolit123 commented on #94618
the image is here:
https://github.com/kubernetes/kubernetes/pull/89275

/remove-sig docs
/sig release
/triage support
/close

[2020-09-08 15:10] #94618 closed

[2020-09-08 15:12] neolit123 commented on #94604
i don't think this is possible. please use the support channels or e.g. #sig-network on k8s slack for general questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if this becomes a feature request please open a new FR ticket.

thanks
/close
/sig network

[2020-09-08 15:12] #94604 closed

[2020-09-08 15:13] neolit123 commented on #94584
/area kubeadm
/remove-kind bug
/kind feature

there is some discussion / Qs on the PR.

[2020-09-08 15:14] alculquicondor opened #94619 "[flaky unit test] TestCSI_VolumeAll/PersistentVolume_with_driver_info"
**Which jobs are flaking**:

pull-kubernetes-bazel-test

**Which test(s) are flaking**:

TestCSI_VolumeAll/PersistentVolume_with_driver_info

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&include-filter-by-regex=csi%2Fgo_default_test

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93305/pull-kubernetes-bazel-test/1303342948955459

[2020-09-08 15:15] ahg-g commented on #94437
I think we had a fix that we broke in 1.18.

The fix is https://github.com/kubernetes/kubernetes/pull/56622, it basically deletes the node when binding fails with a node `NotFound` error. However, in 1.18+ we refactored the binding logic to run in a plugin. The plugin returns a [framework.Status type](https://github.com/kubernetes/kubernetes/blob/14f8fd494e609ebec12fa1107f6c6990e96553ac/pkg/schedu

[2020-09-08 15:16] neolit123 commented on #94619
/retitle [flaky test] TestCSI_VolumeAll/PersistentVolume_with_driver_info

[2020-09-08 15:38] alculquicondor commented on #94437
Was that done by forcibly cutting the network between scheduler and API server? As @liggitt said above, once the network is restored, the node will be deleted. And this would inevitably happen if binding is also working (returning a not-found error in this case).

Still, I'll look into a way of preserving the type of the error so we can still use the same codepath for detecting deleted nodes.

[2020-09-08 15:38] alculquicondor commented on #94437
/assign

[2020-09-08 15:39] liggitt commented on #94313
Opened https://github.com/kubernetes/kubernetes/pull/94620 to round storage requests up to the nearest byte in the quota evaluator.

[2020-09-08 15:44] nick-cromwell commented on #89898
I can't share a full tcpdump of our internal services, but I have done tcpdumps and have some more to share about this issue. The first is I upgraded my cluster to GKE cluster to 1.17.9-gke.1503, and upgraded my nginx ingress via Helm (ingress-nginx/ingress-nginx) to chart version ingress-nginx-2.15.0. I'm still seeing an occasional timeouts but I still don't believe this is isolated to the ingres

[2020-09-08 15:49] rajeshkodali opened #94621 "Alternate image field"
**What would you like to be added**:
alternateImage:
**Why is this needed**:
image field is the only current field to pull any images. As the image hosting providers can also go down, it will be great to provide alternate images that can be tried in case of failure. The field can be an array so that users can add multiple alternate image locations.

[2020-09-08 15:50] nvrgngyup commented on #94618
Thanks, but...
On this merge https://github.com/kubernetes/kubernetes/blob/d20b6cd44d64864761a8a7913ba54e5cb52a1ee6/build/build-image/cross/Dockerfile
has been removed long ago
is that Dockerfile still public on a different projet in order to produce and public the kube-cross images ?

[2020-09-08 15:53] nvrgngyup commented on #94618
Maybe I just misunderstand the workflow : is this dockerfile recreate every time golang is updated ?

[2020-09-08 16:01] rajeshkodali commented on #94621
/sig Architecture

[2020-09-08 16:15] answer1991 opened #94622 "TestClientReceivedGOAWAY flakes"
* https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=GOAWAY
* https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-generate-make-test-count10&include-filter-by-regex=GOAWAY

Before #94530 merged, TestClientReceivedGOAWAY failed with data race on [localAddr](https://github.com/kubernetes/kubernetes/blob/3fc1bc76a95d8a6a6cd33394526f00c00a98ce07/staging/src/k8s.io/apiserv

[2020-09-08 16:16] answer1991 commented on #94622
/assign
/sig testing

[2020-09-08 16:17] answer1991 commented on #94622
cc @liggitt @knight42

[2020-09-08 16:19] answer1991 commented on #94532
Fix TestGOAWAYConcurrency flaky may need a new golang version after golang/go#41234 fixed.

TestClientReceivedGOAWAY will be tracked at #94622 .

[2020-09-08 16:21] lavalamp commented on #94532
Great find-- can we skip the test for now while we wait for the go fix to land?

[2020-09-08 16:22] answer1991 commented on #94532
Yes, I think so.

[2020-09-08 16:22] lavalamp commented on #94622
Thank you for working on this!!

How often does it flake? I'm just wondering if we should disable it in the mean time to avoid angry contributors.

[2020-09-08 16:25] answer1991 commented on #94622
On my PC, about 1/1000.

I will post a PR to disable it for now.

[2020-09-08 16:29] lavalamp commented on #94622
Thank you so much! That's not a bad rate at all, but we run a lot of tests.
This is super helpful!

On Tue, Sep 8, 2020 at 9:25 AM Jun Chen <notifications@github.com> wrote:

[2020-09-08 16:43] #88182 closed

[2020-09-08 17:01] neolit123 commented on #94618
please try asking in the #sig-release channel on k8s slack.

[2020-09-08 17:16] monotek commented on #92731
Seems the fluentd-gcp daemonsets were renamed to fluentd-gke.
At least this is what i see in my GKE v1.16.13-gke.400 clusters.

[2020-09-08 17:45] dennisjac opened #94625 "Document usage of cloud-controller-manager"
I'm trying to run a Kubernetes cluster on GCE and have succeeded in setting up the nodes and provisioning the cluster via kubeadm. What I now want to do is integrate that cluster with GCP so I can e.g. deploy a LoadBalancer type service. From what I read in the documentation what is needed is running the kubelets and kube-controller-manager with the `--cloud-provider=external` option and then depl

[2020-09-08 17:51] dennisjac commented on #94625
/sig cloud-provider
/sig docs

[2020-09-08 17:55] liggitt opened #94626 "Add field-level warnings for deprecated / known bad values"
- Add helper method to construct a field-level warning with a consistent format
  - [ ] determine when to emit warnings (on creation? on change of relevant field? on generation change? on any update containing the bad value, even if unchanged?)
  - [ ] Use field.Path format
  - [ ] for deprecated values, indicate replacement, deprecation and target removal release
- Add warnings for deprecated fie

[2020-09-08 18:00] neolit123 commented on #94625
/kind documentation

[2020-09-08 18:05] neolit123 commented on #94621
/sig node

[2020-09-08 18:10] jeid64 opened #94627 "topologySpreadConstraints ignored when nodeAffinity is configured"
Hello,

I seem to have hit a bug with topologySpreadConstraints. I am trying to set a topologySpreadConstraints to only schedule a pod onto a node only if there are no other pods on the same node with that label. I also want to set an affinity to only schedule pods onto nodes with a label of "type=kind". I add two workers to my kind cluster, so I would expect only 2 pods would be scheduled.

If I

[2020-09-08 18:10] jeid64 commented on #94627
/sig Scheduling

[2020-09-08 18:12] jeid64 commented on #94627
@Huang-Wei @alculquicondor

[2020-09-08 18:28] wcedmisten commented on #66159
/reopen
I am also getting this issue with:
[code]

Running prometheus-server image: prom/prometheus:v2.13.1

[code]

[2020-09-08 18:32] Huang-Wei commented on #94437
Although we can fix the bug by amending the scheduling logic (such as remove the "deleted node" upon a "node not found" error), the root cause is still unclear to me.

The "relist" mechanism should have been battle-tested - if that's problem, the whole Kubernetes and CRD ecosystem is already a problem, so I don't quite believe that's the root cause.

@srteam2020 Which version are you using in prod

[2020-09-08 18:42] Huang-Wei commented on #94627
@jeid64 When PodTopologySpread is used along with NodeAffinity/NodeSelector, the searching scope of PodTopologySpread will be constrained to the targeting nodes which satisfy the NodeAffinity/NodeSelector constrains.

So in your cluster, there is a tainted node (`master`), users may don't want to include that node to spread the pods, so they can add a nodeAffinity constraint to exclude `master`, s

[2020-09-08 18:42] MikeSpreitzer commented on #94477
So I think we could approach the original issue with two enhancements to API Priority and Fairness:
1. Add the concept of request "width".  In particular, I suggest that each FlowSchema specify a request width.
2. Give FlowSchemas the ability to discriminate on the ResourceVersion and chunk size, if any, in the request's query parameters.

I considered letting FlowSchemas discriminate on quer para

[2020-09-08 18:57] alculquicondor commented on #94627
for your case `maxSkew: 1` means that if node A has x pods and node B has y pods, then `|x-y|<=1`.

So this is working as expected.

/close

[2020-09-08 18:57] #94627 closed

[2020-09-08 18:57] jweyrich commented on #90145
The same issue happened to me today. Also happened after `kops update cluster`

My versions:

[2020-09-08 19:02] bmwiedemann opened #94628 "1.19: 1 bit non-determinism in kube-scheduler.1"
**What happened**:
50% of builds have a different man page content

**What you expected to happen**:
It should be possible to get bit-identical build results - might need a patch similar to #68983 - @dims knows these things.

**How to reproduce it (as minimally and precisely as possible)**:
build kubernetes1.19 openSUSE package a few times and compare results. e.g. with [my rbk script](https://git

[2020-09-08 19:07] bmwiedemann commented on #94628
/sig release

[2020-09-08 19:40] mattthias commented on #91714
/remove-lifecycle stale

[2020-09-08 19:49] mattthias commented on #91714
/sig apps
/sig sig/apps

[2020-09-08 19:53] mattthias commented on #91714
I can reproduce the behavior @13567436138 described on Kubernetes  v1.18.4 (on premise installation installed using kubeadm). As the rollout history is part of  `/apis/apps/v1/deployment`  i added the sig/apps as label.

[2020-09-08 20:00] neolit123 commented on #94628
/sig scheduling

[2020-09-08 20:08] srteam2020 commented on #94437
@Huang-Wei
We were using Kubernetes-v1.18.0 downloaded from: https://v1-18.docs.kubernetes.io/docs/setup/release/notes/

[2020-09-08 20:13] caesarxuchao commented on #94515
/assign @roycaihw
/assign

[2020-09-08 20:13] caesarxuchao commented on #94519
/assign @sttts

[2020-09-08 20:16] caesarxuchao commented on #94602
/assign @kubernetes/api-reviewers @wojtek-t

[2020-09-08 20:17] caesarxuchao commented on #94626
cc @deads2k

Do we have a KEP discussing how to emit the warnings?

[2020-09-08 20:18] liggitt commented on #94626
The mechanism was put in place in 1.19. See https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1693-warnings

[2020-09-08 20:19] karan commented on #94256
/cc @SergeyKanzhelev

[2020-09-08 20:49] robscott commented on #93536
I believe this was fixed by #94153 and/or #94166.

[2020-09-08 20:49] robscott commented on #93536
/close

[2020-09-08 20:50] #93536 closed

[2020-09-08 20:56] robscott commented on #94339
I believe this has been fixed by https://github.com/kubernetes/kubernetes/pull/94112, @akutz can you confirm?

[2020-09-08 20:57] akutz commented on #94339
1. I am more than happy to do so if there is a Kinder node image to use with the updated code.
2. There is still the larger issue with ServerSideApply and server-side mutations...

[2020-09-08 21:00] akutz commented on #94339
FWIW, I can try and find time to build a Kinder node image with the change. It may take a day or two to get to this though.

[2020-09-08 21:07] alculquicondor commented on #94437
Please retry with 1.18.8. I'm not aware of any known issues around this topic, but 1.18.0 is quite old at this point.

Could you also clarify if the issue reproduces in a live cluster with casual network problems? If you are forcibly dropping events by changing things such as code in reflector.go, we are not really concerned with it.

[2020-09-08 21:08] rikatz commented on #94499
/milestone v1.22

[2020-09-08 21:41] rikatz commented on #94495
@thockin Per deprecation lifecycle it seems that a feature needs 6 months or 2 releases (the longer one) in Beta before going to GA. So this actually seems to be the missing part before moving to GA.

As the 3 FeatureGates are directed related, probably this issue should be:

* Move all of them to GA in v1.21
* Default LegacyNodeRoleBehavior to false

Sounds a good approach? I can keep this opened

[2020-09-08 22:05] #94628 closed

[2020-09-08 22:07] lavalamp commented on #94445
As Jordan points out, many base 10 fractions (.2) expand infinitely in base 2 systems (Gi).

No one cares about the individual bytes until the scheduler is mysteriously telling you something doesn't fit. (This is literally the reason why we don't use regular floating point numbers.)

If we're mangling the user input into this form, that's one issue, but if we're just reporting the actual, literal

[2020-09-08 22:24] llamahunter opened #94631 "ownerReference should have namespace as well as name"
**What would you like to be added**:

Add the 'namespace' of the owning object to the ownerReference subobjects of ObjectMeta structure.

**Why is this needed**:

Right now, there is a name, which is not globally unique to the cluster, and uuid, which is globally unique but there is no way to lookup the owner by uuid.

It seems that the ownerReference object should allow you to actually _find_ the

[2020-09-08 22:29] llamahunter commented on #94631
/sig api-machinery

[2020-09-08 22:48] lavalamp commented on #46351
The doc is shared with the api machinery mailing list, kubernetes-announce, and kubernetes-dev, all of which anyone can join. (Sorry, my employer doesn't allow 100% open docs)

I thought we had exported it to a .md somewhere already though, but maybe not.

[2020-09-08 23:03] msau42 commented on #90868
/remove-lifecycle rotten

[2020-09-08 23:39] lavalamp commented on #94477
I'd like to start with an internal (i.e. coded) estimation of width before we modify the API. In particular just letting the flow schema state a constant won't be enough, since paginated lists should have their width vary based on how big of a page they requested.

[2020-09-09 00:07] liggitt commented on #94631
this limitation is intentional… cross-namespace ownerReferences are an explicit non-goal

If the kind referenced by the ownerReference is cluster-scoped, no namespace is required to look up the object. If it is a namespaced kind, then the current namespace is used.

See https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for details:

[2020-09-09 00:07] #94631 closed

[2020-09-09 00:12] roycaihw commented on #94515
I couldn't reproduce the issue with the reported versions. The graph builder added the owner to attemptToOrphan and the GC removed the ownerReference from the child. @edwardstudy Could you increase the verbosity of kube-controller-manager to `v=5` and share its log?

[code]

[2020-09-09 00:15] llamahunter commented on #94631
Okaayyyy... but then why do some namespaced objects not have namespaces on them when they are submitted to admission controller webhooks?  In particular, Pods generated by ReplicaSets?

[2020-09-09 00:22] liggitt commented on #94631
Namespaced objects submitted to the api server with an empty namespace have the namespace forcibly set in the object by the server prior to persisting. Currently that is done after mutating admission is called. The effective namespace is explicitly set in the admission request as a distinct attribute, apart from the object definition. See example admission requests in https://kubernetes.io/docs/re

[2020-09-09 00:25] liggitt commented on #88282
This isn't accurate… the namespace the object ends up with must match the namespace of the URL it was submitted to.

[2020-09-09 00:41] llamahunter commented on #94631
Yeah, any _mandatory mutation_ done by the api server should happen _before_ the webhooks are called. Where can the webhooks get this information from in the meantime?

[2020-09-09 00:43] novas0x2a commented on #27308
The lack of env var loading interacts somewhat badly with the plugin interface restriction on having flags before the plugin name: https://github.com/kubernetes/kubernetes/pull/92343/files

Currently, it is not possible to mix plugins with aliases that set global opts; being able to set context with env vars instead would work around it. Using sh functions instead of aliases is possible, but the l

[2020-09-09 01:25] Huang-Wei commented on #93082
I believe @resouer and cloud native sig-app-delivery did some research on blue-green deployment. If so, @resouer may be able to shed some light here.

Regarding your req of "_allowing the concept of a pod whose cpu utilization is inversely correlated with another pod so they can be scheduled together without consuming additional capacity_", I'm not quite sure I understand it right: is it possible

[2020-09-09 01:29] soulxu opened #94635 "PodTopologySpread doesn't calculate the pods on the node which doesn't match the node label"
**What happened**:
Currently, the PodTopologySpread plugin skips calculating the value of node which doesn't match node labels but has pod match the PodTopologySpread constraints. That leads the PodTopologySpread constraints being violated

**What you expected to happen**:
The PodTopologySpread plugin shouldn't skips the calculating the value of node which has the same topologyKey with TopologySpr

[2020-09-09 01:29] soulxu commented on #94635
/assign

[2020-09-09 01:29] soulxu commented on #94635
/sig scheduling

[2020-09-09 02:08] Huang-Wei commented on #94635
@soulxu it's as expected - if nodeSelector or nodeAffinity is specified, the searching scope of PodTopologySpread will be constrained to the nodes that satisfy nodeSelector or nodeAffinity. So in your 2nd example, only node(s) satisfying `disktype: ssd` can accommodate the 2nd deployment.

[2020-09-09 02:28] soulxu commented on #94635
Ah, thanks, I got it now. So using nodeSelector to specifiy the scope. I thought it is used to skip the node needn't to be calculated for efficent. I see now.

[2020-09-09 02:28] soulxu commented on #94635
This is as expected behaviour, so close it

[2020-09-09 02:28] #94635 closed

[2020-09-09 03:35] huataihuang commented on #92463
https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64

here is my `/etc/yum.repos.d/kubernetes.repo`

[code]

[2020-09-09 04:14] tranquyetdev commented on #90145
Has anyone solved this? I got the same issue
Kops version: 1.17.0
Kubernetes version: 1.11.7

[2020-09-09 05:02] omeryounus commented on #83063
This issue is still happening. I ran into a problem where I can not access the server.

While checking the instance console logs, I noticed that the firewall chain KUBE_FIREWALL is blocking all access (Drops packets) to the instance (see below).

------------------------------------------------------------------------------------------
[ 14.414142] : Chain INPUT (policy DROP)
[ 14.420149] : target

[2020-09-09 05:12] moonek commented on #75457
I also think `node-labels` in `kubeletExtraArgs` is a very useful feature from the perspective of Cluster API.
`node-role.kubernetes.io` label is very useful in that it is the default printcolumm of `kubectl get node`.

[2020-09-09 06:12] BenTheElder commented on #94562
We're not actually installing it to the host either:
https://github.com/kubernetes/kubernetes/blob/1c6057b59ca7a1eee66086b86c75315cf26db081/hack/verify-golint.sh#L33-L34

This is because we're making sure that we use the pinned version in `hack/tools/go.mod`.

If the binary already exists in the kubernetes binary output path, it should not be rebuilt. If you blow away the output dir it might be, b

[2020-09-09 06:12] #94562 closed

[2020-09-09 06:14] yehaifeng commented on #94155
I'm in a similar situation.
kubernertes version:
[code]
etcd version:
[code]

and the kube-apiserver logs:
[code]

[2020-09-09 06:20] Tayjahney opened #94638 "Evenbetter"
If you would like to settle any discrepancies/complaints from any project enterprise please contact us here breadnwater31@gmail.com

[2020-09-09 06:25] george-angel commented on #61486
/remove-lifecycle stale

[2020-09-09 06:29] tjanh123 commented on #62594
it works for me. So, i think we should increase the times a bit more, even the start time is less than 10s (value by default). Here is my config:
readinessProbe:
            httpGet:
              path: actuator/health/readiness
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: 15
            timeoutSeconds: 10
            periodSeconds: 30
            successTh

[2020-09-09 07:05] LalexH opened #94640 "Re install network plug-in calico，unable to add route automatically..."
**What happened**:
I used kubeadm tool to install the stand-alone k8s cluster, the version 1.19.0, and i use calico as a network plug-in
**What you expected to happen**:
the calico can't automatically create node routing
**How to reproduce it (as minimally and precisely as possible)**:
when i uninstall calico and re install that, the calico can't automatically create node routing, which result in

[2020-09-09 07:09] wojtek-t commented on #94477
+1 - let's have this ability in a coded way and prove that will prove us what exactly is useful to expose.

[Modulo the fact that listing from watchcache (with RV=0) ignores pagination. Which makes that even more tricky.]
But yes - constant doesn't seem to be enough.

So I fully agree with Daniel - let's incorporate something in an "non-exposed" way first and then we can think how to expose it in

[2020-09-09 07:14] aojea commented on #93143
/close
no answer

[2020-09-09 07:14] #93143 closed

[2020-09-09 07:19] aojea commented on #94337
@invidian the logs with the failures you linked shows that the test is not able to detect the proxy-mode, hence not applying the timeout.

[2020-09-09 07:21] aojea commented on #93098
/close
I could not find any evidence doing some test locally and observing the CI jobs

[2020-09-09 07:21] #93098 closed

[2020-09-09 07:23] aojea commented on #91216
/close

this is the expected behavior, if conntrack is not installed the test MUST fail because it is used to delete the stale records.

long and better explaination here https://github.com/kubernetes/kubernetes/issues/91216#issuecomment-633710458

[2020-09-09 07:24] #91216 closed

[2020-09-09 07:33] aojea commented on #73099
/unassign
@aledbf has a fix for this https://github.com/kubernetes/kubernetes/pull/93961

[2020-09-09 07:36] aojea commented on #44918
/close
this is not the right fix, will be better if we can move away from the allocators

[2020-09-09 07:36] #44918 closed

[2020-09-09 08:11] #94313 closed

[2020-09-09 08:14] edkreepio commented on #69697
Same issue here:

[code]

`storageClass: longhorn`

[2020-09-09 08:43] invidian commented on #94337
Yes, but after I fixed it, tests are still failing. See https://pastebin.com/F6eLN5hH (posted in https://github.com/kubernetes/kubernetes/issues/94337#issuecomment-683467140).

[2020-09-09 09:46] aojea commented on #94337
upss, sorry, somehow I missed it.

You should check why ipvs is not honoring the timeout then, maybe your kernel version is too old?
(you don't need kubernetes for testing this, but I'm not an ipvs expert though)

[2020-09-09 09:53] invidian commented on #94337
Hmm, I was running on Flatcar Linux stable with kernel `4.19.143`. I'll try with latest beta with `5.4.62`, maybe that helps. Thanks for suggestion!

[2020-09-09 10:11] jkaniuk commented on #94450
/unassign jkaniuk
/assign mm4tt

[2020-09-09 10:27] johnnylei opened #94645 "error execution phase wait-control-plane: couldn't initialize a Kubernetes cluster"
[code]
$ kubeadm init --config kubeadm-init.yaml
[code]
$ systemctl status kubelet
[code]

// but following ways, init normal
$ kubeadm init --pod-network-cidr=10.244.0.0/16 --service-cidr=10.96.0.0/12

[2020-09-09 10:41] #94645 closed

[2020-09-09 10:44] #89958 closed

[2020-09-09 10:55] #94638 closed

[2020-09-09 11:18] liggitt commented on #94621
/remove-sig architecture

This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/79389

[2020-09-09 11:20] tranquyetdev commented on #90145
hi @ajouve, Did you manage to fix the issue? Would the issue be fixed if I upgrade the Kubernetes version to the latest one?
Thanks

[2020-09-09 11:24] cloudcafetech opened #94648 "Node selector for container"
Not sure if this features is available or not ?

I have a POD with two containers, I want one container should go in node selector "beta.kubernetes.io/os: windows" another should go "beta.kubernetes.io/os: linux"

[2020-09-09 11:43] Zheaoli commented on #94648
I think it will break the Pod model in Kubernetes

Kubernetes make a group of containers as a pod, all of the containers in the pod will share the same network stack. If we split the container in pod to some different nodes, it will break the base model

[2020-09-09 11:47] jdef commented on #47368
/reopen

[2020-09-09 11:54] ufou commented on #94522
I couldn't get kubetest to work, also tried kubetest2 but had problems with that as well.

At the same time I was researching the ping error and noted that our net buffers were likely configured too low and were more appropriate for 1gb interfaces rather than our 10gb interfaces.

After applying the increased sysctl buffers to all nodes in the cluster (16.04 + the new 18.04 node) the problem appea

[2020-09-09 11:54] #94522 closed

[2020-09-09 11:58] TheDiveO commented on #77142
/remove-lifecycle stale

[2020-09-09 12:03] jkaniuk opened #94649 "cluster-info dump test consume large amount of memory in large clusters"
**What happened**:
cluster-info dump test consumed large amount of memory in large clusters

ref: https://github.com/kubernetes/kubernetes/issues/93506, https://github.com/kubernetes/kubernetes/pull/93838

**What you expected to happen**:
it should eat less than 10GB of memory

**How to reproduce it (as minimally and precisely as possible)**:
Run cluster-info dump in 5k node cluster

**Anything el

[2020-09-09 12:03] jkaniuk commented on #94649
memory consumption:
[code]

Corresponding log from run:
[code]

[2020-09-09 12:04] jkaniuk commented on #94649
To be investigated: would changing kubectl to use protobufs help?

[2020-09-09 12:05] jkaniuk commented on #94649
/sig cli
/sig scalability

[2020-09-09 12:15] wojtek-t commented on #94649
Changing kubectl to protobufs would help, but I'm not convinced how significant this change would be.

Looking into this command:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo_dump.go#L168
this is by-design really resource hungry.

Do we dump the whole cluster or just a specific namespace in this test?

[Also - I'm wondering if we d

[2020-09-09 12:47] Danil-Grigorev opened #94651 "Add vSphere metrics to report vCenter version"
**What would you like to be added**:

We need reporting of `vSphere` `vCenter` version to be shown in the metrics.

**Why is this needed**:

The goal behind this is to add some info about the underlying infrastructure for the kubernetes cluster. Some customers were experiencing issues during the cluster upgrades, but nothing in the upgrades themselves or kubernetes code for `vSphere` provider seem

[2020-09-09 13:06] Danil-Grigorev commented on #94651
/sig cloud-provider
/wg provider-vsphere

[2020-09-09 13:09] Danil-Grigorev commented on #94651
/area provider/vmware

[2020-09-09 13:20] verb commented on #94579
/assign @kiyoshim55

[2020-09-09 13:20] verb commented on #94579
Thanks @kiyoshim55 for the report and for fixing it!

[2020-09-09 13:28] dio-trinny commented on #7890
defo also need this here... running a container as privileged might as well be running it on the VM itself!

[2020-09-09 13:34] saschagrunert commented on #94538
Looks like that https://github.com/kubernetes/kubernetes/issues/94538 is not moving forward anytime soon. The community is discussing a possible dockershim deprecation. Maybe this would be a good time to recycle the hostport manager bits :grin:

[2020-09-09 13:36] #94378 closed

[2020-09-09 13:40] ingvagabund commented on #94192
This approach was discussed few years back and the reason for not taking this path was the amount of logs generated in huge clusters. With log level 3-4, one will need to set log level 2 to silence the logs. Potentially silencing important logs which might help with debugging.

[2020-09-09 13:41] ingvagabund commented on #94192
I am fine with increasing the complexity a bit for sake of getting more information about scheduling decisions

[2020-09-09 13:43] ingvagabund commented on #94192
Additionally, the plugin could be constrained to certain namespaces or label selectors. E.g. namespaces prefixed or containing `e2e` string.

[2020-09-09 13:46] liggitt commented on #72253
it looks like this aged out... has this been done?

[2020-09-09 13:46] liggitt commented on #72287
it looks like this aged out... has this been done?

[2020-09-09 14:19] TomUnequals commented on #7890
This is completely possible with the last couple updates Fuse released - I'll start work on this next week.

[2020-09-09 14:24] alculquicondor commented on #94192
Would you mind starting a design doc or perhaps a KEP?

[2020-09-09 14:54] rajeshkodali commented on #94621
@liggitt I agree. I am looking through the conversation now.

[2020-09-09 14:55] adtac opened #94655 "ubernetes_lite.go: remove image argument from SpreadServiceOrFail"
https://github.com/kubernetes/kubernetes/blob/47c450776f2731955ee7a4e8cc7ec1b4b6f14851/test/e2e/scheduling/ubernetes_lite.go#L68

It's not being used. Alternatively, pass the right image name to start with.

/assign
/sig scheduling
/sig testing

[2020-09-09 14:58] rajeshkodali commented on #79389
@icelynjennings What's the conclusion of the sig-node meeting?

[2020-09-09 15:09] liggitt commented on #94304
it's worth noting that the listed packages are not used by Kubernetes components:

* github.com/gorilla/websocket is only referenced from go.etcd.io/etcd/embed which is only used in unit/integration tests
* the referenced etcd CVEs look like server and gateway vulnerabilities. the vendored code in kubernetes is not used to run servers outside of unit/integration tests

[2020-09-09 15:19] neolit123 commented on #94369
notified #kops-dev on slack.

[2020-09-09 15:22] neolit123 commented on #93818
please try to reproduce this with a version of Kubernetes that is 1.17+.
(older versions are out of support and we usually close similar tickets).

/remove-sig cluster-lifecycle
/sig node

[2020-09-09 15:22] neolit123 commented on #93818
/priority awaiting-more-evidence

[2020-09-09 15:25] hakman commented on #94369
Hey @neolit123, @BenTheElder. This is an experiment I did with @bertinatto to see if e2e tests pass with SELinux enabled.
I think @bertinatto added this as a reminder to fix the issue.

[2020-09-09 15:34] neolit123 commented on #80774
thanks for the comments here @liggitt
i was hoping that we can get more responses from others.

i'm going to go ahead and archive this ticket but we can always reopen the it if more people are interested in the discussion.

/close

[2020-09-09 15:34] #80774 closed

[2020-09-09 15:48] nandeeshb09 commented on #94557
Any update on this issue, we are also facing the same issue.
EKS version : 1.14.9
Docker version: 19.03.6-ce
AWS CNI: 1.6.2

Intermittently we are also facing this , what might the issue, could please guide us here?

12e4e6edba39)" with CreatePodSandboxError: "CreatePodSandbox for pod \"a66cd63f-f0fe-11ea-9872-12e4e6edba39)\" failed: rpc error: code = Unknown desc = failed to create a sandbox for

[2020-09-09 16:01] deads2k commented on #94626
I'm thinking more about finding a way to make it easy to discover these.  Are you thinking about placing the checks in validating admission or storage or somewhere else?   Validating admissions seems like a reasonable place that could be mirrored for out of tree providers as well.

[2020-09-09 16:02] deads2k commented on #94626
I think that deprecated fields could/should be labeled by tag in the API itself, similar to how we handle it for the structs themselves.

[2020-09-09 16:10] brancz commented on #94429
cc @coffeepac @serathius

[2020-09-09 16:11] hjkatz commented on #44165
@deitch Would you do the honors? 😆 Every 30 days!

[2020-09-09 16:13] invidian commented on #94337
I've tried on kernel 5.4.62-flatcar now and same thing is happening. Here is full log: https://pastebin.com/HZfJBtwm

[2020-09-09 16:13] deitch commented on #44165
/reopen

[2020-09-09 16:14] deitch commented on #44165
/remove-lifecycle rotten

[2020-09-09 16:14] deitch commented on #44165
I am honoured @hjkatz 😄

[2020-09-09 16:37] MHBauer commented on #94648
This fights against the basic definition of a pod:
https://kubernetes.io/docs/concepts/workloads/pods/
A Pod (as in a pod of whales or pea pod) is a group of one or more containers , with shared storage/network resources, and a specification for how to run the containers. **A Pod's contents are always co-located and co-scheduled, and run in a shared context.**

[2020-09-09 16:40] eero-t commented on #92211
Here's more info on the problem statement:

User can access the device if container user or group happens to match *host* user/group setting for the device.  This leaks information about the host operating system, and may allow fingerprinting it => potential security issue.

Host group IDs for devices differ between distributions, their versions (e.g. Ubuntu 20.04 added new "render" group for rend

[2020-09-09 16:41] srteam2020 commented on #94437
@alculquicondor Thank you for the reply and suggestions!

We just retried with 1.18.8 and the issue is still there (same symptom).

The scheduler cache could miss the “node delete” due to network problem as mentioned in the previous bug report https://github.com/kubernetes/kubernetes/issues/56261 ( the bug happened in a live cluster).
This issue(94437) we found share the same severity level with t

[2020-09-09 16:42] jayunit100 commented on #91236
just saw it as well

[2020-09-09 16:48] alculquicondor commented on #94437
as stated previously, once the network recovers, we should get the update event. Is this not happening? If you are dropping the event to "reproduce", that would be lost. Transient errors are acceptable under network problems.

[2020-09-09 16:50] #89733 closed

[2020-09-09 17:03] liggitt commented on #94168
Requests made to namespaced URLs (URLs which contain a `.../namespaces/{namespace}` segment) populate the `namespace` attribute in AdmissionReview requests. The documentation of the AdmissionReview `namespace` field is as follows:

From https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#request:
[code]

Update/Patch/Delete requests to specific namespaces have

[2020-09-09 17:04] howardjohn opened #94657 "kubectl warnings output inconsistent with errors"
Example of response from webhook with unique warnings (warning is just a UID for testing purposes):
[code]

Example of response from webhook with the same warnings from multiple resources:
[code]

I think there are a few issues with the output here:
1. The warning is not associated with the resource that is being applied.
1. The warning output is inconsistent with error output.
1. The warnings are

[2020-09-09 17:05] howardjohn commented on #94657
/sig cli

[2020-09-09 17:06] tallclair opened #94658 "Migrate node E2E off insecure port"
The insecure port is being removed, but the node E2E test suite still depends no it. We need to migrate the test suite off the insecure port.

/milestone 1.20
/sig node
/priority important-soon
/help

[2020-09-09 17:10] tallclair commented on #94658
I have a WIP PR here, but I'd appreciate it if anyone else can pick this up since I don't know when I'll be able to get to it: https://github.com/tallclair/kubernetes/pull/2

That approach seems to be running into some sort of race condition. I'd also like to get it off the fixed "insecure-token" (though the fixed token approach should be acceptable as a temporary solution, as long as it's only se

[2020-09-09 17:10] tallclair commented on #94658
Blocking https://github.com/kubernetes/kubernetes/issues/91506

[2020-09-09 17:19] caesarxuchao commented on #94515
@edwardstudy is this a flaky thing or happening all the time?

[2020-09-09 17:31] apelisse commented on #94168
Thanks for the thorough analysis Jordan, the problem OP is trying to solve is that they want to know if the object is namespaced or not, and used the presence of the field to detect that. According to your analysis, that seems wrong.

The typical way to know if an object is namespaced is to use the discovery information, would that be the right way to solve that?

[2020-09-09 17:33] aojea commented on #91236
can you please add links to the job with the failures, I just merged new code to improve the logging 2 days ago

[2020-09-09 17:42] liggitt commented on #94168
They could use discovery, or can continue to use the presence of the `namespace` attribute, special-casing `resource.group=="" && resource.resource=="namespaces"` requests (namespaces are the only cluster-scoped resource which can have the `namespace` attribute populated in AdmissionReview requests).

[2020-09-09 17:45] srteam2020 commented on #94437
@alculquicondor
Understood: we'll investigate that as well and get back to you.

[2020-09-09 17:48] liggitt commented on #94168
the documentation should be clearer, and I'd consider updating the POST-based create behavior to include this information to be consistent

[2020-09-09 17:52] apelisse commented on #94168
@nodo, do you want to update the doc and/or the post-based create behavior?

[2020-09-09 17:55] nodo commented on #94168
Sure! I am happy to take care of both.

[2020-09-09 17:56] ahg-g opened #94659 "Add a metric tracking pod priorities used in a cluster"
**What would you like to be added**:
A histogram that tracks the priorities used in a cluster.

**Why is this needed**:
Helps platform operators track feature usage. Priorities in particular are important since they trigger preemption in the scheduler, and so understanding how they are used helps inform optimizations related to preemption.

/sig scheduling

[2020-09-09 17:59] cmluciano commented on #94498
@MrHohn I know a new-contributor looking for good-first-issues. Do you mind if I cc him on this issue since it seems pretty straightforward ?

[2020-09-09 18:00] MrHohn commented on #94498
@cmluciano That sounds perfect, thanks!

[2020-09-09 18:10] cmluciano commented on #94498
cc @bbyrne5

[2020-09-09 18:34] gman0 opened #94660 "csi-snapshotter v1: "selfLink was empty, can't make reference""
**What happened**:
I've hit an error while creating a snapshot of a PVC:

[code]

Full logs of all components may be found [here](https://logs.openlabtesting.org/logs/51/1151/c300b97dcbc9f68842d7c51f9aedcda6f3811525/cloud-provider-openstack-acceptance-test-csi-manila/cloud-provider-openstack-acceptance-test-csi-manila/339c57a/logs/kubernetes/)

**What you expected to happen**:
Snapshots are succes

[2020-09-09 18:46] Huang-Wei commented on #94437
BTW: usually scheduler is deployed along with the apiserver, so it's less likely that apiserver is live while scheduler loses its network connection.

[2020-09-09 18:47] tallclair commented on #84742
/remove-lifecycle rotten

[2020-09-09 19:12] karan commented on #79833
I've confirmed that the fix is to enable the `CustomCPUCFSQuotaPeriod` feature flag.

[2020-09-09 19:36] JoshuaSmeda commented on #55713
Still appears to be an issue:

[code]

Pods just get stuck in terminating:

[code]

Node is offline:

[code]

Deployment YAML overrides the default eviction period:

[code]

Only way I've managed to fix it is via the cron a user above posted.

[2020-09-09 19:39] 2rs2ts commented on #83332
FYI still seeing this on 1.17.8

[2020-09-09 20:11] jingxu97 commented on #94108
@travisghansen i see. then pls go ahead to open another issue and give us details about your issue. Thanks!

[2020-09-09 20:20] gnufied commented on #84878
/reopen
/remove-lifecycle rotten

[2020-09-09 20:40] adtac opened #94665 "scheduler_perf: use time.Ticker in throughput measurement"
https://github.com/kubernetes/kubernetes/blob/b56d0acaf5bead31bd17d3b88d4a167fcbac7866/test/integration/scheduler_perf/util.go#L244

https://golang.org/pkg/time/#Ticker

/sig scheduling
/sig testing
/assign

[2020-09-09 20:57] gnufied commented on #94108
I think what @travisghansen is seeing might be different thing but what @ravkash reported originally sounds like that is how it will work. I wonder if we should check for `volumeInUse` fields in pvc_protection controller, so as we don't delete PVCs until they are not in-use.

[2020-09-09 21:01] grosser commented on #91923
/lifecycle frozen

[2020-09-09 21:06] aojea commented on #91236
ok, here there is a new occurrence and with the new debug logs is easier to follow

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-network-parallel/1303341438905356288

[code]

has unreplied conntrack entries:
[code]

looking at the other side

[code]

The iptables rules are there
[code]

but no conntrack entries related to 10.244.2.32

[2020-09-09 21:19] neolit123 commented on #94655
/kind cleanup

[2020-09-09 21:20] neolit123 commented on #94665
/kind cleanup

[2020-09-09 21:21] jingxu97 commented on #94108
@saikat-royc and I are discussing the possible fix using volumeInUse fields now. Need to change certain things to make it work.

[2020-09-09 21:40] danwinship commented on #94538
Hm... the hostport code depends on `"k8s.io/kubernetes/pkg/util/conntrack"` and `"k8s.io/kubernetes/pkg/util/iptables"`, so it can't be staged/removed without staging/removing those too... (Of course, most network plugins could make good use of those packages if they were somewhere more available...)

[2020-09-09 21:41] danwinship commented on #94538
cc @aojea

[2020-09-09 21:55] #76338 closed

[2020-09-09 22:22] lavalamp commented on #94602
Yes, that does seem wrong. @liggitt may have an idea about who'd be good to fix it.

[2020-09-09 22:36] spiffxp commented on #94450
@mm4tt Regarding not having access to the project, are you able to see this? https://console.cloud.google.com/home/dashboard?project=k8s-infra-e2e-boskos-scale-12

I've gotten used to setting the URI parameter myself but you should be able to use the UI if you can explicitly select which org you're using (kubernetes.io vs. google.com)

Don't have much time to dig into why this particular project i

[2020-09-09 22:54] 2rs2ts commented on #73169
Can this be re-opened? Based on this discussion here this is apparently still an issue https://github.com/kubernetes/kubernetes/pull/81557/files#r399932710

[2020-09-09 23:03] liggitt commented on #94657
the deduplication is intentional to prevent flooding output with inactionable warnings.

[2020-09-09 23:06] tallclair commented on #84571
/remove-lifecycle rotten

[2020-09-09 23:08] liggitt commented on #94657
it might be better to track distinct issues for these requests:
* coloring error prefix red; we print errors in way more places, getting consistency will be heard
* associating warnings with specific resources; we're currently hooking in warning handlers very very low-level to ensure they are always seen and inform --warnings-as-errors… doing that differently for different commands is likely to le

[2020-09-09 23:12] tallclair commented on #83977
The proposal was to allowlist labels using a special annotation on the namespace, but this created a bootstrap problem mirror pods in kube-system, hence the change never went through. I haven't come up with a better proposal yet, though I'm leaning towards the original idea to just you a hardcoded allowed prefix.

[2020-09-09 23:13] liggitt commented on #94660
That message was removed in 1.16 in https://github.com/kubernetes/kubernetes/commit/399d09ce4ad1728fcecdce09503a07cf1bfecef6#diff-11d7e42f9dbb8d78ea8589f9506dee5b

What version of kubernetes server and libraries are being used?

[2020-09-09 23:16] tallclair commented on #89940
Yes, this annotation can be relied on as long as PSP is still around.

[2020-09-09 23:29] Akhilesh2412 commented on #94602
May I work on this?

[2020-09-09 23:38] liggitt commented on #94648
As noted, pods are the fundamental scheduling unit and identify a collection of containers that are colocated on a single node. This is fundamental to the definition of a pod

[2020-09-09 23:38] #94648 closed

[2020-09-09 23:46] cprivite commented on #74151
/remove-lifecycle rotten

[2020-09-09 23:46] cprivite commented on #74151
/remove-lifecycle stale

[2020-09-09 23:48] liggitt commented on #94660
Looks like https://github.com/kubernetes/kubernetes/pull/94397 is merging in 1.20, which stops setting selfLink. cc @wojtek-t

[2020-09-09 23:48] liggitt commented on #94660
/assign @wojtek-t

[2020-09-09 23:49] liggitt commented on #94660
It seems likely that the snapshot controller needs to update k8s libraries to use a fixed version of the GetReference function, but I also want @wojtek-t to have visibility to downstream impact of the selfLink change

[2020-09-09 23:57] #72533 closed

[2020-09-09 23:57] #85725 closed

[2020-09-09 23:57] #89866 closed

[2020-09-10 00:01] liggitt commented on #94660
it looks like csi-snapshotter 1.2.2 is using client-go from kubernetes 1.14:

https://github.com/kubernetes-csi/external-snapshotter/blob/v1.2.2/Gopkg.toml#L25-L27

using client-go 1.16+ should resolve this issue

[2020-09-10 00:03] liggitt commented on #94660
cc @msau42

[2020-09-10 00:30] msau42 commented on #94660
The snapshot feature is beta starting in 1.17, so I recommend using > v2.0 on 1.17+

[2020-09-10 00:46] lalithvaka commented on #94284
Our Corporate Cyber security intrusion detection agent called Cylance is causing a whole lot of issues and seems to be locking the iptables as well. It does not work well with container environment and we have seen this agent quarantining some docker folders as well. Once we removed this agent everything started working.
[code]
system libc is at libc-2.17 and not libc2.28

[2020-09-10 00:46] #94284 closed

[2020-09-10 00:52] cloudcafetech commented on #94648
Thank you all for explanation.

Let me know if you find any other alternative.

My problems statement as follows...

I am doing some POC on windows container NFS.
I have setup NFS based flexible volume plugin in Windows node. With that I am make persistent data on NFS server in a common share folder.

Challenge is I want create a folder on top of share folder. That I was planning to do using initc

[2020-09-10 01:58] Lion-Wei commented on #93858
/remove-triage unresolved
/assign

[2020-09-10 02:18] FreeZhang61 commented on #94622
/assign

[2020-09-10 02:19] dims commented on #54076
w00h00.... are we there yet @liggitt ?

[2020-09-10 02:21] FreeZhang61 commented on #94622
/unassign

[2020-09-10 02:35] #94497 closed

[2020-09-10 02:49] tangwz commented on #94665
@adtac @neolit123 May I give a try?

[2020-09-10 02:52] #92930 closed

[2020-09-10 03:15] lichaojacobs commented on #25456
me too, how do you fix that?

[2020-09-10 03:22] pacoxu commented on #79323
-  kubelet can update node info with ipmi info like BCM ip(xclarity ip in Lenovo).
-  controller-manager or standalone monitor system can get the server info from the BCM(the secret need to be provide in specified secret), so that the node can be drained once it is power off for some reason quickly.(No need to wait for 5minutes)

[2020-09-10 03:33] Lion-Wei commented on #93858
Get ips from interface might be easier then looking the routing table, but can we somehow determind which interface to lookup?

[2020-09-10 04:01] #89987 closed

[2020-09-10 04:04] Lion-Wei commented on #94191
/area ipvs

[2020-09-10 04:12] qinmaye commented on #70732
any progress about this?

[2020-09-10 04:12] easvera commented on #25456
@lichaojacobs @shachar-ash
Use the below command as mentioned by @kisshore
kubectl patch pod <pod> -p '{"metadata":{"finalizers":null}}'

[2020-09-10 05:02] #90098 closed

[2020-09-10 06:07] sbhnet commented on #88947
/close

[2020-09-10 06:07] #88947 closed

[2020-09-10 06:09] sbhnet commented on #88947
must use arm Bare Metal。

[2020-09-10 06:10] kakaroto commented on #53533
This is also a very big issue for me. In my use case, I would need to run pods that use ~100MB most of the time, but from time to time, when a user triggers specific events, it can burst up to 2GB of RAM for a few minutes before dropping back (and no, it's not because it's written poorly, it's the reality of the workload).
I run nearly a hundred of such workloads at a time on 16GB machines with sw

[2020-09-10 06:16] cofyc commented on #69507
/remove-lifecycle stale

[2020-09-10 07:19] knight42 commented on #94658
I would like to give it a try.
/assign

@tallclair Is it okay that I continue with the insecure token approach? Which approach is ideal as for e2e tests? using x509 certs?

[2020-09-10 07:53] wenyingd opened #94673 "Failed to find Endpoints for a IPv6 Headless Service in Dual-Stack cluster"
**What happened**:

Wrong Endpoints could be found in endpoints_controller for an IPv6 headless Service in a Dual Stack cluster. The Service is configured with IPFamily IPv6, while the endpoints are using IPv4 addresses. The address families are not compatible.

**What you expected to happen**:
For an IPv6 Headless Service, the endpoints should use IPv6 addresses of the Pod matching the Selector.

[2020-09-10 07:59] wojtek-t commented on #94602
I think it's just a documentation issue - given our validation it's not really optional...

[2020-09-10 08:09] verb commented on #87770
Thanks for the guidance, @lavalamp. I'll prepare a PR.

/remove-lifecycle stale
/assign @verb

[2020-09-10 08:16] moonek commented on #74551
Similar errors often occur on nodes where tiller is deployed using helm v2.
Are there any correct causes and actions?

[code]

[2020-09-10 08:29] knight42 commented on #94673
I believe this has been fixed by #91399

[2020-09-10 08:52] mm4tt commented on #94450
I do have access. It turned out I was using a wrong organization. Sorry about introducing a confusion.

[2020-09-10 08:53] aojea commented on #93858
it is passed as paremeter, right? `GetLocalAddresses(dev, filterDev string) `

[2020-09-10 09:00] zhouya0 commented on #94619
/assign

[2020-09-10 09:06] JornShen commented on #94568
/assign

[2020-09-10 09:43] jtlz2 commented on #52963
/reopen Any update on this?

The linked ticket #61332 has been closed as a dupe of this one.

/remove-lifecycle rotten

[2020-09-10 09:56] knight42 commented on #93188
I would like to help.
/assign

[2020-09-10 10:10] gjcarneiro commented on #79833
OK, but then if the `CustomCPUCFSQuotaPeriod` is required to be enable (was not aware of it), then shouldn't the kubelet configuration `cpuCFSQuota: true` and `cpuCFSQuotaPeriod: 10ms` just be ignored (possibly with warning) if the feature flag is not enabled?

[2020-09-10 10:58] misteruly opened #94675 "error: storage/cacher.go:/csinodes: Failed to list *storage.CSINode: no kind "CSINode" is registered for version "storage.k8s.io/v1""
this is my  apiserver  error

k8s  version  v1.15.11

kube-apiserver   parameter   as follow

/usr/bin/kube-apiserver --token-auth-file=/etc/kubernetes/token_auth_file --requestheader-client-ca-file=/etc/kubernetes/ca.crt --requestheader-extra-headers-prefix=X-Remote-Extra- --requestheader-group-headers=X-Remote-Group --requestheader-username-headers=X-Remote-User --requestheader-allowed-names=agg

[2020-09-10 11:13] liggitt commented on #94602
If validation actually requires the field, we should drop the optional comment and regenerate the v1 openapi schema

[2020-09-10 12:08] wojtek-t commented on #94660
yeah - we were updating couple storage components to not rely on that around 1.16.
@gman0 - please use a newer version of snapshotter (as Michelle recommended above)

[2020-09-10 12:11] gman0 commented on #94660
Alright, thanks guys! Closing.

[2020-09-10 12:11] #94660 closed

[2020-09-10 12:12] liggitt commented on #94675
The API server gained the ability to read CSINode objects in v1 format in 1.17 (https://github.com/kubernetes/kubernetes/pull/83474) and began persisting CSI node objects in etcd in v1 format in 1.18 (https://github.com/kubernetes/kubernetes/pull/84477)

The error you are getting means a 1.18+ API server was run against the etcd instance you are using and persisted v1 CSINode data. That means the

[2020-09-10 12:12] #94675 closed

[2020-09-10 12:25] liggitt commented on #54076
getting there... the separate network proxy component is making progress (see ENABLE_EGRESS_VIA_KONNECTIVITY_SERVICE option and the `konnectivity-agent` addon

[2020-09-10 12:27] liggitt commented on #94365
Tracking in #94626

[2020-09-10 12:27] #94365 closed

[2020-09-10 12:28] liggitt commented on #94626
I'd be fine with that, though the immediate ones I want to warn about are specific selector label values and alpha seccomp annotations, so there's not really a place to attach declarative deprecations for those

[2020-09-10 12:32] tivizi commented on #86507
Simple, and useful. Thanks.

[2020-09-10 12:58] Lion-Wei commented on #93858
Yep, but seems like in nodePort logic, it will get all address expect `filterDev`.

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L277-L291

I think we should decide how to chose which device to lookup, or which to filter. Current logic will add lots VS of IPVS for each nodePort service.
[code]

[2020-09-10 13:12] khatrig commented on #78645
Same issue here

[2020-09-10 13:18] uablrek commented on #93858
I think that is the way it is intended. The `kube-ipvs0` is filtered (obviously), but since the loopback addresses are unlikely to ever work the `lo` device should also be filtered IMHO, please see https://github.com/kubernetes/kubernetes/issues/67730.

To narrow the list of devices the `nodePortAddresses` configuration paramenter should be used.

[2020-09-10 13:20] sgandon commented on #82987
/reopen

[2020-09-10 13:39] justinsb commented on #80289
A big user of leader-election is kubebuilder operators.  They use leader election to ensure that only a single instance is active.  Do we have advice on whether it's better to use leader-election or a StatefulSet of size 1 to achieve this?

Using leader election requires more RBAC permissions, and it sounds like it's suboptimal from a scalability point of view also; I'm wondering if there's a reas

[2020-09-10 13:52] misteruly commented on #94675
think you!!   I'm starting to upgrade  1.18  api.  Does not support the calico-v2.5.  restore  1.15.11 api. How do I block this error???

[2020-09-10 14:10] liggitt commented on #94675
Upgrading across multiple minor versions of the API server at once is not supported for this reason... it prevents the old API server from successfully reading the data. The supported method for upgrading is to go one minor version at a time.

To recover from this, you could do one of the following:
1. Try to get those objects rewritten to etcd in v1beta1 format by:
  * Starting a 1.17 API server

[2020-09-10 14:17] wojtek-t commented on #80289
Actually, let me clarify couple things:
- the reason why leader-election use to be expensive is that it was using Endpoints object, which in turn is watched by all kube-proxies, DNS instances etc.
- with the Lease type (that was designed with this usecase on mind), this is no longer true - yes, it adds some load control plane (as the lease is periodically being updated), but that sounds fine if we

[2020-09-10 14:26] raul1991 commented on #81713
So did changing the timeoutSeconds did the magic ? I am facing this issue even when my pod is healthy.

[2020-09-10 14:36] nodo commented on #94168
@liggitt where do you think it makes sense to add the namespace to the post-based behavior?

We could add it to [RequestInfo](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo.go#L180), but that might interfere with authorization, right? Would it be better to add the namespace directly to the [createHandler](https://github.com/kuber

[2020-09-10 14:42] nodo commented on #94168
Makes sense, I will give it a go, thank you! 👍

[2020-09-10 15:12] #44995 closed

[2020-09-10 15:13] liggitt commented on #94168
that will also require sweeping admission plugins that check the namespace attribute. examples:

https://github.com/kubernetes/kubernetes/blob/88512be213159f87ed2dad07f75c02d355eadac5/plugin/pkg/admission/resourcequota/admission.go#L140-L143

https://github.com/kubernetes/kubernetes/blob/88512be213159f87ed2dad07f75c02d355eadac5/staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/

[2020-09-10 15:21] i2dcarrasco opened #94682 "Wrong method using headers on httpGet HealthCheck"
Hello,

**What happened**:
When I use the httpGet health check combined with a header, my pods gives an HTTP 400 error. When I remove the headers it works (I receive a 403 error, but is correct because does not have the host header).

**What you expected to happen**:
A normal GET petition even with headers.

**How to reproduce it (as minimally and precisely as possible)**:
Any pod configuration wi

[2020-09-10 15:26] travisgroth opened #94683 "Impersonate-Group header does not support comma-separated format"
**What happened**:

When specifying multiple groups to impersonate, setting `impersonate-group` to a comma separated list is parsed as a single group name containing the entirety of the header value.  See [RFC](https://tools.ietf.org/html/rfc2616#section-4.2).

Example: `impersonate-group: foo, bar, baz` is parsed as a group named `foo, bar, baz`.

**What you expected to happen**:

The header is p

[2020-09-10 15:27] karan commented on #79833
In my tests, the kubelet did ignore `cpuCFSQuotaPeriod: 10ms` (didn't test `cpuCFSQuota: true`) albeit silently. We should at least warn in that case.

[2020-09-10 15:30] travisgroth commented on #94683
/sig auth

[2020-09-10 15:42] justinsb commented on #80289
Thanks @wojtek-t & good point on recovery time.  It sounds like a reasonable rule of thumb might be: if failover time is important, use a short-lived lease with > 1 replicas on a deployment; if resource utilization is more important use a statefulset of size 1.  (I guess we could also do a Deployment of size 1 with a lease, I'm not sure if there's any reason to prefer that over a statefulset)

[2020-09-10 16:04] karan opened #94686 "CustomCPUCFSQuotaPeriod feature is required for using cpuCFSQuotaPeriod in kubelet config"
See https://github.com/kubernetes/kubernetes/issues/79833 for more context.

**What happened**:

When you set `cpuCFSQuota: true` and `cpuCFSQuotaPeriod: 10ms`, you'd expect container cfs quota period to be 10000. However, unless you also set `CustomCPUCFSQuotaPeriod: true` in the feature flags, the quota value will be silently ignored.

**What you expected to happen**:

At least a warning be logg

[2020-09-10 16:05] karan commented on #94686
/sig node

/assign karan

[2020-09-10 16:08] kk-src commented on #88683
@gnufied @xing-yang - planning to take the annotation approach mentioned by Hemant above. Will come up with draft PR with this approach and test it out. We can discuss further there.

[2020-09-10 16:09] jingxu97 commented on #93902
Generally, I think idempotent is a requirement. Controller cannot guarantee to avoiding calling concurrently, e.g., when controller restarts, it loses the information about in-flight operations. So I think it makes sense to relax tests a little bit.

[2020-09-10 16:13] adtac commented on #94665
@tangwz please go ahead. Un-assigning myself.

[2020-09-10 16:29] alejandrox1 commented on #74352
This has been mentioned in a couple places: the work require to stage the framework is more than the work required to build a custom framework. Thus the proposal from testing commons was to provide documentation and examples to help people build their own kubernetes-like framework.
What do people think? Leaning towards closing this issue and moving on with some other work.

/remove-lifecycle froze

[2020-09-10 16:33] #93775 closed

[2020-09-10 16:41] immuzz commented on #92963
SIG-Windows Backlog Review Meeting:-

Next Step is to take Privileged Containers KEP in front of SIG-Node and get feedback

[2020-09-10 16:42] nmarus commented on #60807
I had a similar issue on 1.18 in a lab k8s cluster and adding a note to maybe help others. I had been working with the metrics API and with custom metrics in particular. After deleting those k8s objects to recreate it, it stalled on deleting the namespace with an error that the metric sapi endpoing could not be found. Putting that back in on another namespace, everything cleared up immediately.

T

[2020-09-10 16:44] immuzz commented on #93276
SIG Windows Backlog Meeting

@jsturtevant to bring this for discussion in next SIG Windows Meeting

[2020-09-10 16:48] immuzz commented on #62046
SIG Windows Backlog Meeting

@daschott Can we discuss this in the next SIG Windows Meeting. We thought this became part of K8s 1.19

[2020-09-10 16:50] timoreimann commented on #74352
@alejandrox1 I'm not 100% sure I understand what the proposal to build a custom, Kubernetes-like framework is exactly about. Could you share more details?

[2020-09-10 16:54] daschott commented on #62046
@immuzz Just to be clear here, DSR support for Windows Server 2019 has landed in v1.19 (requires https://support.microsoft.com/en-us/help/4571748/windows-10-update-kb4571748). Local traffic policy will be coming in 1.20. We discussed this in SIG-Windows meeting on 07/21/2020 and reached this agreement, but definitely happy to discuss if there are any outstanding confusions!

[2020-09-10 17:19] m1o1 commented on #92382
Sorry for the delay. The time takes roughly half a second for me, sometimes close to a second:
[code]

I assume all that's needed to know the current kubectl context is to read the `current-context` field of the file in `~/.kube/config`, and I don't think there's any antivirus stuff delaying the reads to that file (I can `cat` it instantaneously, and other apps can read from it with no lag).

For

[2020-09-10 17:22] zegl commented on #94682
/sig node

[2020-09-10 17:27] zegl commented on #94682
The header field is called `httpHeaders`, not `httpHeader`, and is a list of maps, not a map. [[docs]](https://v1-15.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#httpgetaction-v1-core)

The correct syntax should be:

[code]

Is the issue reproducible after you've made these changes?

[2020-09-10 17:46] #94221 closed

[2020-09-10 17:46] i2dcarrasco commented on #94682
Hello, thanks for you answer.

Sorry for that, I've copied the Terraform config that is a bit different. I've tried to correct it to make it like the resulting yaml, but I had no time to check the correct syntax (I changed the check to TCP and I had no access to the output). Anyway, I've checked the syntax several times (terraform alert me if syntax is incorrect), and also the resulting yaml with

[2020-09-10 17:47] ibuildthecloud opened #94688 "Can no longer call DecodeParameters with url.Values in 1.19.0 client-go"
**What happened**:
The following code works in 1.18 but is broken in 1.19.0
[code]

This results in the error: `converting (url.Values) to (v1.PodLogOptions): unknown conversion`

**Anything else we need to know?**:

This seems to be caused by this line which seems like a mistake because it's an early exit and the comment right below indicates this should be removed in 1.20.  https://github.com/ku

[2020-09-10 17:49] ibuildthecloud commented on #94688
/sig api-machinery

[2020-09-10 18:06] ibuildthecloud commented on #94688
I put in a PR for this, but I have no clue if it's the write procedure for submitting fixes for releases.  Feel free to close the PR and make the one line change yourself following the proper procedure. https://github.com/kubernetes/kubernetes/pull/94689

[2020-09-10 18:06] saikat-royc commented on #94108
I am actively working on a fix for the race between node unstage and volume delete.

[2020-09-10 18:06] saikat-royc commented on #94108
/assign

[2020-09-10 18:09] BenTheElder commented on #93276
We run our CI in containers, which is why kind exists to begin with (because on linux we can run containers in containers), we can't run VMs there.

I ask to please focus on getting stable release blocking signal that release-ci-signal is happy with first, then we can explore presubmit.

[2020-09-10 18:14] akartsky opened #94690 "[CRD] Prunes the fields and validation does not fail"
Hi, I'm one of the contributors of [amazon-sagemaker-operator-for-k8s](https://github.com/aws/amazon-sagemaker-operator-for-k8s)

**What happened**:
While creating a CR, I specified an optional field at wrong indentation level and the field got pruned and execution continued as if that field wasn't specified at all

**What you expected to happen**:
Expected a validation error

**How to reproduce i

[2020-09-10 18:18] ceenam commented on #94198
@brettplarson Did you ever find a workaround to resolve this issue? I'm having a similar problem

[2020-09-10 18:20] wojtek-t opened #94691 "Conversion generation isn't fully deterministic"
When working on https://github.com/kubernetes/kubernetes/pull/94480 I faced a strange issue.

It seems that while auto-generating conversions it works fine,
but during things like `command: bash "verify-generated-swagger-docs.sh` or `make vet` in the presubmits what is generated is different.
Looking into test results:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/94480/pull-kuber

[2020-09-10 18:21] wojtek-t commented on #94691
FTR: The log from above has some debug-logging and panics added and the conversion-generator logs are those with `-->`

[2020-09-10 18:24] marosset commented on #93276
Azure provides dedicated resources to the CNCF as well.
All of the periodic jobs that test Windows, cloud-provider-azure, CAPZ, run on resources in here and we've also given resources in here to other projects like minikube for some of their CI testing.

@BenTheElder can we work with wg-k8s-infra to improve the ACL story/management of for these resources to be more community focused?

[2020-09-10 18:24] akartsky commented on #94690
/sig cli

[2020-09-10 18:24] brettplarson commented on #94198
We simply have a retry set in our code to recreate the pod for any failures.

[2020-09-10 18:25] alculquicondor commented on #94437
#94692 is up for review. This won't be cherry pick to older versions unless there is evidence of non-transient errors without it.

[2020-09-10 18:27] BenTheElder commented on #93276
Resources managed by wg-k8s-infra are fully controlled by members from multiple employers across the wg with only the billing handled via CNCF / provider, unblocking community management and insight into resource allocation. Please do work with the group. Configs for everything are here https://github.com/kubernetes/k8s.io

[2020-09-10 18:32] lavalamp commented on #87770
/priority important-soon

Thanks, @verb! (and thanks for bumping it in my email)

I've seen actually a lot of software breaking completely when just a single aggregated apiserver is not functioning. So I think this is fairly important to do soon.

[2020-09-10 18:33] lavalamp commented on #74551
This issue is waiting for a contributor to dig in and diagnose. My current guess is recorded above [in the comment here](https://github.com/kubernetes/kubernetes/issues/74551#issuecomment-600750593).

[2020-09-10 18:47] thockin opened #94694 "Should we extend the beta-API-removal window?"
Today, https://kubernetes.io/docs/reference/using-api/deprecation-policy says that a beta API can be removed 9 months after GA.  Given our version support policies, this means that an arbitrary external controller has very little wiggle-room for which API they support, which practically forces them to support multiple API versions.

E.g.
* vX: v1beta1
* vX+1: v1beta1 + v1
* vX+2: v1beta1 + v1
* vX

[2020-09-10 18:50] alculquicondor opened #94695 "Improve Error handling in framework"
Starting from golang 1.13, it's possible to wrap errors to be able to detect and compare root errors more easily.

In the scheduler framework, we only handled messages and used a status code to identify errors. This loses error information. #94437 is fixing this for a specific case, but we need to do a sweep through all the framework runtime and the plugins to **always** wrap errors.

Stretch:
It

[2020-09-10 18:57] alculquicondor opened #94696 "Remove usage of reflect.DeepEqual in framework/runtime tests"
The use of `reflect.DeepEqual` makes it harder to swap implementations. We should be using `cmp` package instead, preferring `cmp.Diff` to print the differences. In the cases where this is not possible due to unexported members, we should:

1. Check if we can simply export all fields
1. If 1 is not possible and the structs are only compared in one test file, implement an explicit Comparer there, o

[2020-09-10 18:58] adampl commented on #55713
@JoshuaSmeda could you post the output of `kubectl describe pod esnode-master-0` where `esnode-master-0` is the terminating pod? The events section should reveal why it cannot be terminated.

[2020-09-10 18:58] alculquicondor commented on #94696
/sig scheduling

[2020-09-10 18:58] alculquicondor commented on #94695
/kind cleanup

[2020-09-10 18:59] alculquicondor commented on #94696
/kind cleanup

[2020-09-10 19:12] droccom commented on #91848
/remove-lifecycle stale

[2020-09-10 19:13] alculquicondor opened #94697 "Make use of structured logging in framework runtime"
/sig scheduling
/kind cleanup

In `pkg/scheduler/framework/runtime/framework.go`, we use `klog.Error` with a message that wraps an error:

https://github.com/kubernetes/kubernetes/blob/0fd10997dfee0f9ec2c413004bf93d310d76c84b/pkg/scheduler/framework/runtime/framework.go#L400-L401

Instead, we should be using structured logging, like so:

[code]

[2020-09-10 19:14] alculquicondor commented on #94697
Depends on #94692 to be merged

[2020-09-10 19:15] alculquicondor commented on #94697
cc @damemi @ahg-g

[2020-09-10 19:35] JoshuaSmeda commented on #55713
Here is it is @adampl

[code]

What stands up for me is the following:

[code]

Why is it not terminating?

There is enough resources on the second node to fail over to:

[code]

Very strange...

[2020-09-10 19:37] q42jaap opened #94698 "kubectl rollout undo should alter kubectl.kubernetes.io/last-applied-configuration annotation"
**What would you like to be added**:
Make `kubectl rollout undo` and `kubectl apply` work together. `kubectl rollout undo` doesn't revert the `kubectl.kubernetes.io/last-applied-configuration` annotation, which leads to problems if named objects in arrays are  intended to be removed.

**Why is this needed**:
I ran into the issue that I had an old container still being present after applying a rena

[2020-09-10 19:38] q42jaap commented on #94698
/sig cli

[2020-09-10 19:40] sethev commented on #93545
Thanks for all the investigation on this! It sounds like we uncovered an 'interesting' case. Based on the comments in this thread, we're adjusting our configuration to point the controller manager to its co-located api server. Hopefully that will side-step this regardless of what you decide on this one.

[2020-09-10 19:48] javendo commented on #55713
Please @JoshuaSmeda , take a look at this page. It will clarify.

https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/

[2020-09-10 19:54] Constantin07 commented on #29838
On 1.19.1 it still fails:
[code]

[2020-09-10 20:04] champtar opened #94700 "Rebuild debian-iptables container with iptables 1.8.5+"
**What would you like to be added**:
Have debian-iptables with iptables 1.8.5+

**Why is this needed**:
To fix https://github.com/kubernetes/dns/issues/338 (nodelocaldns + iptables-nft)
More informations https://github.com/kubernetes/dns/pull/367

Found a bug in iptables-nft, fixed in iptables 1.8.5, and now available in buster-backports
https://alioth-lists.debian.net/pipermail/pkg-netfilter-team

[2020-09-10 20:08] champtar commented on #94700
/sig api-machinery

[2020-09-10 20:08] lavalamp commented on #94688
/assign @caesarxuchao

[2020-09-10 20:09] lavalamp commented on #94691
/assign @roycaihw

[2020-09-10 20:11] champtar commented on #94700
ping @justaugustus as you did the last 2 updates

[2020-09-10 20:25] justaugustus commented on #94700
Yep, this is on my list.
Will take of it next week.

/sig release network
/area release-eng
/milestone v1.20
/assign

[2020-09-10 20:48] ehashman commented on #83332
/cc @serathius

[2020-09-10 21:08] adampl commented on #55713
@JoshuaSmeda Hmm, the issue might be with the `es-data` volume (or the `es-data-esnode-master-0` pvc). Maybe the volume driver cannot release it for some reason? If it's a `local` volume, then Kubernetes won't reschedule this pod anywhere else, because a local volume is always bound to its initial node.

Are there other constraints that could prevent pod from scheduling? Node selectors, anti-affin

[2020-09-10 21:18] #78607 closed

[2020-09-10 21:22] #92628 closed

[2020-09-10 21:23] aojea opened #94703 "Replace e2essh on e2e service tests"
There are a few e2e sig-network tests  that are using e2essh, limiting the number of environments where they can run.

https://github.com/kubernetes/kubernetes/blob/0fd10997dfee0f9ec2c413004bf93d310d76c84b/test/e2e/network/service.go#L2592-L2594

some of them can be easily replaced executing the commands on a pod, per example the ones that execute commands on kube-proxy can be done with:

[code]

[2020-09-10 21:24] aojea commented on #94703
/sig-network
/help-wanted

[2020-09-10 21:24] aojea commented on #94703
/sig network
/help wanted

[2020-09-10 21:25] aojea commented on #94703
/help

[2020-09-10 22:18] maxsmythe commented on #94121
Some more context. A Gatekeeper user reported behavior where `kubectl diff` always shows a diff in the timestamp for `metadata.managedFields[manager="kubectl-client-side-apply"]` of its CRD objects -- it looks like non-CRDs are unaffected.

https://github.com/open-policy-agent/gatekeeper/issues/814

This happens when re-applying the static manifest found at https://raw.githubusercontent.com/open-p

[2020-09-10 22:21] apelisse commented on #94121
Thanks, this is useful, we'll look into it!

[2020-09-10 23:07] JornShen commented on #94703
I would like to do some job on this.
/assign

[2020-09-11 00:47] farvour commented on #34549
This is an interesting scenario I also ran into with EKS 1.17 (I don't think it's specific to version). I have to agree with @agilgur5 that this type of situation should not really occur and the storage class shouldn't even be created if there is already another with the default annotation. It causes a lot of confusion downstream when one goes to actually start using PVCs and realizes "oh crap, I

[2020-09-11 01:11] andrewsykim commented on #93858
This is true today, the GetNodeIPs call only happens if you pass in a zero cidr to nodePortAddresses:

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1126-L1136

[2020-09-11 01:18] andrewsykim commented on #93858
Oh ignore me, that's what you meant :)

[2020-09-11 01:26] tangwz commented on #94665
/assign
@adtac What should I do just replace  `time.After` with ` time.Ticker`?

[2020-09-11 01:35] andrewsykim commented on #93858
It simplifies a lot the code (looking the routing table for getting the local addresses is more complex than iterating over the current interfaces ip address ), it's a very simple fix and removes external dependencies, that seems a win-win smile

@aojea I think in the case where we call `GetLocalAddresses("", DefaultDummyDevice)`, we're getting all addresses in the route table (regardless of inter

[2020-09-11 01:56] neolit123 commented on #94694
i think extending the minimal support window for beta might be better for end-users, but it might partially conflict with the general idea of https://github.com/kubernetes/enhancements/issues/1635 to push to GA faster from the perspective of developers. so there is some trade off.

https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-parts-of-the-api
(adding link to the p

[2020-09-11 02:01] Lion-Wei commented on #93858
I think that is because we this filter in `GetLocalAddress` function, which will filter out ipv6 addresses.
[code]
As @yanghaochao12 described in this pr. https://github.com/kubernetes/kubernetes/pull/93631

[2020-09-11 02:32] roycaihw commented on #78499
/reopen
/remove-lifecycle rotten

[2020-09-11 02:34] #90251 closed

[2020-09-11 02:40] feiskyer commented on #93993
the issue has already been fixed.

[2020-09-11 02:40] #93993 closed

[2020-09-11 03:10] roycaihw commented on #94691
https://github.com/kubernetes/kubernetes/pull/94480 modifies conversion-gen, but doesn't change the generated files. Did you intentionally exclude those changes?

I wonder if it's similar to https://github.com/kubernetes/kubernetes/issues/78499. I checked out https://github.com/wojtek-t/kubernetes/commit/50792c6e5b6ae9bb4cdff4eac9c37e6e7011ab3c, ran
[code]
I was able to reproduce the error in http

[2020-09-11 03:39] nfisher commented on #74551
wonder if there is an easy way to get pcap running at various points in the connection. kubectl to api should be ok if the key exchange can be dumped. I guess the other point would be api to kube-proxy? Would that be direct or routed through the api servers kube-proxy and then to the pods node kube-proxy? I assume pod to kube-proxy would be ok or pod networking in k8s would be seeing similar conne

[2020-09-11 03:58] #94579 closed

[2020-09-11 05:42] igoratencompass commented on #86812
I would like to reopen this issue as the same thing happened to me while recovering from old ETCD backup. My etcd version was 3.2.8 and there were extraneous master leases, I presume from the time of the backup (30/10/2019), that would not go away until I manually removed them from etcd.
/reopen

[2020-09-11 06:14] wojtek-t commented on #94688
There should be auto-generated conversion for tihs:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L4983

And there is:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/zz_generated.conversion.go#L5911

No - it's not a mistake - it was consciously added - we're getting rid of default conversions.

@ibuildthecloud - how to reproduce

[2020-09-11 06:15] wojtek-t commented on #94688
@liggitt - FYI

[2020-09-11 06:20] wojtek-t commented on #94688
xref https://github.com/kubernetes/kubernetes/issues/87006

[2020-09-11 06:25] wojtek-t commented on #65954
Do you have watchcache enabled in your cluster?
If not, then all such lists are really going to etcd and what you described happens.
If you enabled it - then lists should be served from kube-apiserver cache (watcache) which helps a lot (though there are further improvements in further releases, like SelectorIndex in watchache feature).

[2020-09-11 06:41] pacoxu commented on #94500
/remove-triage unresolved

[2020-09-11 06:41] wongchao commented on #75832
apt upgrade

[2020-09-11 07:00] doeasier opened #94709 "My k8s was broken when I restarted my host"
I have a new installitation with k8s, That has 3 nodes(jaine-vpc01\jaine-vpc02\jaine-vpc03),When I finished the install, It runs OK.But  when I restart the master node(jaine-vpc01), the kubelet service can't start, then cluster was broken. Please tell me how can I to do?

the message like this:
`
[root@jaine-vpc01 ~]# journalctl -xeu kubelet
Sep 11 14:53:54 jaine-vpc01 kubelet[4367]: I0911 14:53:5

[2020-09-11 07:23] JornShen commented on #94528
I find  and fix the problem of https://github.com/kubernetes/kubernetes/issues/94528#issuecomment-688156967 with https://github.com/kubernetes/kubernetes/pull/94676 yesterday. Maybe can deal with the problem. :)

[2020-09-11 07:29] TBBle commented on #57250
A thought on option 3. It might be possible for the AWS Cloud Provider (or a LB-specific controller, see https://github.com/aws/containers-roadmap/issues/981#issuecomment-657634101) to auto-create a nodeport health check with proxy-protocol support as you describe, as part of applying the Service to an NLB. This would be similar to the way that currently a nodeport health-check HTTP service is cre

[2020-09-11 07:33] zhouya0 commented on #94619
@alculquicondor I hope my [PR](https://github.com/kubernetes/kubernetes/pull/94674) will solve this flaky :)

[2020-09-11 07:51] SomtochiAma commented on #94567
Giving this a shot /assign

[2020-09-11 07:51] SomtochiAma commented on #94567
/assign

[2020-09-11 07:54] Lion-Wei commented on #94703
/remove-triage unresolved

[2020-09-11 07:55] chaolou commented on #87199
It should a bug in pod type metrics（include Resource and Pods type） when exist missingPods and current metrics not greater then target metrics.

but object type is not exist this problem.

[2020-09-11 08:13] justaugustus commented on #94540
Closing this now that [v1.19.1](https://groups.google.com/g/kubernetes-announce/c/1WdgO7uvXjM) has been released, which includes the [backport](https://github.com/kubernetes/kubernetes/pull/94613).

/close

[2020-09-11 08:13] #94540 closed

[2020-09-11 08:19] tom20180101 opened #94710 "error: choose one of: [metrics-server metrics-server-nanny]"
when i install metrics-server  on k8s ,i find pod metrics-server  status is  CrashLoopBackOff  , i use  "kubectl logs   metrics-server-v0.3.6-*******.  " ,the result show "error: a container name must be specified for pod metrics-server-v0.3.6-86b7b5b85d-bw7x4, choose one of: [metrics-server metrics-server-nanny]" , i don't know how to fix it . is this a bug?  i‘m looking forward to who can help m

[2020-09-11 08:26] pentago commented on #22368
Just wanted to check the status of this KEP as the last conversation was in February and it seems abandoned.

[2020-09-11 08:28] chaolou commented on #78761
HPA get and calculate metrics by label selector completely flexibly, but can only control one deployment, It's so confusing！

[2020-09-11 08:31] tom20180101 commented on #94710
/sig Autoscaling

[2020-09-11 08:44] doeasier commented on #94709
I found the kube-apiserver's log,that has some error when access  https://127.0.0.1:2379 like these:
`
{"log":"Flag --insecure-port has been deprecated, This flag will be removed in a future version.\n","stream":"stderr","time":"2020-09-11T08:17:48.963972369Z"}
{"log":"I0911 08:17:48.963911       1 server.go:625] external host was not specified, using 192.168.5.203\n","stream":"stderr","time":"202

[2020-09-11 08:51] BenTheElder commented on #94710
There are multiple containers in the pod. See https://kubectl.docs.kubernetes.io/pages/container_debugging/container_logs.html selecting a container, or use --all-containers

[2020-09-11 08:54] arthurlogilab commented on #93342
Got hit by this problem too. This was a "display" problem for our use in rancher. As suggested in https://github.com/rancher/rancher/issues/28802 (see translation : https://translate.google.com/translate?hl=en&sl=auto&tl=en&u=https%3A%2F%2Fgithub.com%2Francher%2Francher%2Fissues%2F28802 ) removing `--port=0` from the configuration fixed it (for now). Not entirely sure what the security consequence

[2020-09-11 09:01] rafis commented on #71358
Does anybody familiar with "UNAVAILABLE Connection reset by peer" errors? Is it because IPVS default timeout 900sec (15min), and net.ipv4.tcp_keepalive_timeout=7200 (120min)? We are given a managed k8s cluster, we can't change `--allowed-unsafe-sysctls=net.*` in `kubelet`.

[2020-09-11 09:02] tom20180101 commented on #94710
i know how to fix it . thank you @BenTheElder  .

[2020-09-11 09:02] #94710 closed

[2020-09-11 09:28] icelynjennings commented on #79389
Hi @rajeshkodali, the sig-node meeting on July 16 2019 (https://github.com/kubernetes/community/blob/master/sig-node/archive/meeting-notes-2019.md#july-16) concluded that this should be configurable from the container runtime level. I have not researched the issue further since then but took to understand it relates to the Kubernetes CRI (https://kubernetes.io/blog/2016/12/container-runtime-interf

[2020-09-11 09:30] #90011 closed

[2020-09-11 09:32] wawa0210 commented on #94533
@brianharwell

How about now, after adding `preStop`, does it work as expected?

[2020-09-11 09:39] fxposter commented on #65954
According to `kube-apiserver --help` - it should be enabled by default, with default cache size of 100, isn't it? Though, I don't really understand what that "100" means, ie: 100 of what.

[2020-09-11 09:45] wawa0210 commented on #94237
What is behind this `gcepdd2hzx`pvc, is there its yaml and the yaml corresponding to pv?

[2020-09-11 09:48] karolinepauls commented on #93019
There is no sharing pod-scoped volumes (let's call them transient). One pod - one "transient volume". Pod kaputt - volume gone forever. New pod - new volume.

A pod wants to mount 3 "transient volumes" - OK. When it's gone - the volumes are gone.

[2020-09-11 09:53] icelynjennings commented on #94621
Related sig-node meeting notes (July 16 2019) https://github.com/kubernetes/community/blob/master/sig-node/archive/meeting-notes-2019.md#july-16

[2020-09-11 09:56] fxposter commented on #65954
It does seem like we have it enabled (cause sometimes I get logs from "cacher.go"), but it really doesn't seem it is working.

[2020-09-11 10:00] wawa0210 commented on #93842
@masaeedu

[2020-09-11 10:04] fxposter commented on #65954
We currently have ~1k nodes and ~20k pods deployed in that cluster. Currently apiserver was started many hours ago, and if I manually issue 200 `kubectl get pods --field-selector='spec.nodeName=x{COUNTER}' --all-namespaces` (responses are empty, cause I don't have such nodes) requests to apiserver - memory usage rises a lot. and I see etcd network traffic grows a lot as well.

[2020-09-11 10:06] ingvagabund opened #94715 "[Flaky]: [sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run (pods disappearing during the test)"
**Which jobs are flaking**:

**Which test(s) are flaking**:
`[sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run`

**Testgrid link**:
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/release-openshift-ocp-installer-e2e-metal-serial-4.6/1301858872989847552

**Reason for failure**:
If `[sig-scheduling] SchedulerPriorities [Serial] Pod shou

[2020-09-11 10:21] wojtek-t commented on #65954
kubectl doesn't list from cache.

in order to list from cache you need to explicitly opt-in for it setting ResourceVersion="0" (as the data may be stale). This is part of reflector framework that kubelet is using, but it's not what kubectl is doing - so that's expected and WAI.

[2020-09-11 10:24] neolit123 commented on #93342
Hi, the Http ports should be disabled by deafault in the components, but
they are not. The security issue is not severe (for now) but if you did not
specify --address the component can end up listening on a public interface
and e.g the whole internet can see the metrics.

[2020-09-11 10:31] neolit123 commented on #86812
/reopen
Given it was closed by the bots. Can you confirm this is a bug in newer
versions of k8s /etcd?

[2020-09-11 10:38] ScrapCodes opened #94718 "[Flaky Test] gce-windows-1909-master/ [K8s.io] Probing container should *not* be restarted with a tcp:8080 liveness probe [NodeConformance] [Conformance]"
**Which jobs are flaking**:

gce-windows-1909-master
ci-kubernetes-e2e-windows-gce-1909
**Which test(s) are flaking**:

Kubernetes e2e suite: [k8s.io] Probing container should *not* be restarted with a tcp:8080 liveness probe [NodeConformance] [Conformance]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-1909-master

**Reason for failure**:

[code]

Few recent

[2020-09-11 10:45] zhouya0 opened #94719 "Field selector podIPs not supported but enabled"
**What happened**:
When doing something like:
[code]
It will report error:
[code]
Because the logic to handle the field selector will separate `,`:
[code]
Which I think `--fied-selector` should not support arrays. But `podIPs` was enable by https://github.com/kubernetes/kubernetes/pull/83123.

**What you expected to happen**:
1. Tell user not supported like:
[code]
2. Provide a way to use array in

[2020-09-11 10:55] zhouya0 commented on #94719
/sig cli

[2020-09-11 10:58] aojea commented on #93858
@andrewsykim maybe I'm getting it wrong, but I think this has the same functionality

[code]
 the output
[code]

[2020-09-11 11:20] ysaakpr commented on #94675
I too have similar error happening, `Starting a 1.17 API server` can i start a api server connecting to existing cluster while other API server of version 1.15 running?

[2020-09-11 11:20] #93913 closed

[2020-09-11 11:22] fxposter commented on #65954
re-checked. ok, it seems to work just fine. so after apiserver restart that cache is populating and while it is not yet filled - apiserver proxies all requests to etcd directly, right?

[2020-09-11 11:33] qinqon opened #94720 "endpointslices: When Service is recreate too fast endpoint slices are not re-created."
**What happened**:
At https//github.com/kubevirt/kubevirt we have a operator that recreate services if they get deleted, this is done programatically quite fast, after upgrading our cluster to k8s-1.19 doing so prevent service connectivity with `connection resused`, doing some investigations we found that the `endpointslices` (they have being activated at kube-proxy by default at k8s-1.19) does no

[2020-09-11 11:33] qinqon commented on #94720
/sig network

[2020-09-11 13:17] knabben commented on #94499
/remove-triage unresolved

[2020-09-11 13:23] andrewsykim commented on #93858
Ah sorry @aojea, I misunderstood. I think that would work.

I would like to better understand though the correlation between route types and the address family in Linux. Can someone point me to some documentation or code that explains this?

[2020-09-11 13:29] danielkucera opened #94722 "DaemonSet not respecting Namespace defaultTolerations"
**What happened**:

Scheduler doesn't plan DaemonSet pods to nodes with taints although there is namespace wide default toleration defined, see configs:
[code]
[code]
[code]

**What you expected to happen**:

Pods scheduled to nodes with taints.

**How to reproduce it (as minimally and precisely as possible)**:

- configure taint on one node
- add defaultTolerations to namespace
- create daemonset

[2020-09-11 13:33] danielkucera commented on #94722
/sig scheduling

[2020-09-11 13:59] brianharwell commented on #94533
Well it's not just `preStop`. The process for a zero downtime deployments involves...

1. Start up probe writes a file
2. Readiness probe looks for the file and if it isn't there returns a failure code
3. Pre stop deletes the file and then waits X seconds

So when Kubernetes terminates a pod the prestop deletes the file and wait X seconds. Meanwhile the readiness probe doesn't find the file so it

[2020-09-11 14:09] adtac commented on #94665
Please see the go docs for `Ticker` and the example they have there: https://golang.org/pkg/time/#Ticker

They do a better job than I possibly can :)

[2020-09-11 14:19] icelynjennings commented on #79389
Should there be renewed interest from sig-node to implement a new container Spec field (a list of alternative images to be used as fallback), I would volunteer to implement. Otherwise, I suspect there are alternative ways to implement such a function outside of the container Spec; such as an operator which tracks the image pull failure events of annotated Pods.

[2020-09-11 14:36] andyzhangx commented on #56188
/reopen

[2020-09-11 15:02] liggitt commented on #94688
Reflect-based conversions are not supported in 1.19+ because they mask data loss errors.

Conversions must now be explicit. You can add the generated conversions @wojtek-t mentioned to your scheme like this:

[code]

[2020-09-11 15:11] liggitt commented on #94720
/assign @robscott

[2020-09-11 15:14] knight42 commented on #94688
@liggitt Does it mean users have to import `"k8s.io/kubernetes"` if they want to do conversion using client-go 1.19+? Would it be better to move the conversion funcs to a common place?

[2020-09-11 15:16] liggitt commented on #94688
Yes, conversion responsibilities explicitly belong to the server.

[2020-09-11 15:18] lavalamp commented on #94688
@ibuildthecloud can you say why you need to do this? I'd expect client-go users to be constructing url.Values, not parsing them.

@liggitt I don't think we can recommend that people import "k8s.io/kubernetes" if we did something that broke compatibility for a use case that we intend client-go to support

[2020-09-11 15:19] liggitt commented on #94688
We don't intend client-go users to be converting objects... that is the responsibility of the server.

[2020-09-11 15:33] liggitt commented on #94719
The value for this field contains a comma. Commas are significant in field selectors to separate terms.

That means to match this value you need to escape the comma:

[code]

[2020-09-11 15:33] #94719 closed

[2020-09-11 15:36] liggitt commented on #94683
Thanks for the report. Duplicating against https://github.com/kubernetes/kubernetes/issues/82468 which was reported for authentication proxy headers and has the same issue.

A way to resolve this in a forwards and backwards compatible way without breaking support for group names containing commas has not been determined yet.

[2020-09-11 15:36] #94683 closed

[2020-09-11 15:37] liggitt commented on #82468
Also applies to impersonation headers

[2020-09-11 15:44] liggitt commented on #94690
`--validate=true` is implemented client-side, based on the published openapi schema. Are you defining a schema in your CRD that allows publishing openapi for kubectl to use?

`kubectl explain hostingdeployments --recursive` will display the schema information kubectl has available to it for client-side validation purposes.

If you do not see schema information available to `kubectl`, https://kuber

[2020-09-11 15:48] lavalamp commented on #94688
Yeah, I agree, that's why I want to hear what @ibuildthecloud is doing, maybe there's a use case we hadn't thought of.

[2020-09-11 15:55] kfox1111 commented on #22368
Still important I think.

[2020-09-11 16:00] akartsky commented on #94690
Thanks .. will look more into client-side validation.

But why doesn’t it fail the server-side validation ?
even when `x-kubernetes-preserve-unknown-fields: true` ?

[2020-09-11 16:04] liggitt commented on #94690
Preserving unknown fields is explicitly telling the server you expect other fields that are not in the schema and that server server should preserve them. See https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#field-pruning for details

[2020-09-11 16:08] akartsky commented on #94690
Right
I meant server-side validation doesn’t fail regardless of `x-kubernetes-preserve-unknown-fields`

How do i make it so that validation fails when there are unknown fields ?

[2020-09-11 16:09] liggitt commented on #94690
The CRD implementation aimed to replicate the behavior of built-in resources, which drop unknown fields rather than error on them.

[2020-09-11 16:11] akartsky commented on #94690
so if we don't follow the default behavior by adding `x-kubernetes-preserve-unknown-fields : true` it should error out instead of dropping them, right ?

Is there something else i should do ?

[2020-09-11 16:13] liggitt commented on #94690
With `x-kubernetes-preserve-unknown-fields: true` it preserves unknown fields and does not error on them.

Without `x-kubernetes-preserve-unknown-fields` (or `spec.preserveUnknownFields` in a v1beta1 CRD) it drops the unknown fields and does not error on them.

[2020-09-11 16:16] akartsky commented on #94690
oh i see ...
So what is the correct way to validate and fail when there are unknown fields ?

(btw ...even when `x-kubernetes-preserve-unknown-fields : true` the fields are getting pruned )

[2020-09-11 16:20] liggitt commented on #94690
There is not a server-side option to do that today.

do you have an example CRD and CR manifest file to reproduce what you're seeing with `kubectl apply`?

[2020-09-11 16:25] akartsky commented on #94690
oh okay... Thank you so much

--------------

CRD : https://github.com/akartsky/amazon-sagemaker-operator-for-k8s/blob/8866f32e411c0f6a335c895bda85b666d16ec538/release/rolebased/installer.yaml#L608

CR manifest : The same one on this ticket test_hosting.yaml 👆🏼
it produces the same output when `kubectl apply` 👆🏼

[2020-09-11 16:36] liggitt commented on #94690
I'm unable to reproduce on master:
[code]

or on 1.17.9:

[code]

[2020-09-11 16:36] minhhieugma commented on #78429
@j3ffml
The deployment, for some reason, run on an unsupported namespace, for example, it runs on kube namespace that doesn't allow to access  PrivateIPv4Address. So, try to explicit put "namespace default" to the deployment would fix the issue

[2020-09-11 17:00] robscott commented on #94720
Thanks for reporting this @qinqon, I'll work on a fix.

/remove-triage unresolved

[2020-09-11 17:05] sbiermann commented on #87615
With Kubernetes 1.19.0 the issue still exists, but the message are slightly different.
`Sep 11 18:19:39 k8s-node3 kubelet[17382]: E0911 18:19:38.745482   17382 event.go:273] Unable to write event: 'Patch "https://192.168.1.150:6443/api/v1/namespaces/fhem/events/fhem-7c99f5f947-z48zk.1633c689ec861314": read tcp 192.168.1.153:34758->192.168.1.150:6443: use of closed network connection' (may retry af

[2020-09-11 17:13] travisgroth commented on #82468
Thanks @liggitt

Is there something we can do to move this forward?  I expected the comma support in groups might be a concern but that seems like quite the corner case.  Requiring `\` escaping seems very reasonable for that exceptional situation.  I don't think I've ever seen a group name with a comma in practice.

[2020-09-11 17:17] dashpole commented on #94281
Can anyone grab metrics from the kubelet on one of those nodes?

[2020-09-11 17:20] knight42 commented on #94658
@tallclair I have filed #94723 to migrate node e2e tests and `pull-kubernetes-node-e2e` passed.

[2020-09-11 17:21] liggitt commented on #82468
Starting a [proposal](https://github.com/kubernetes/enhancements/tree/master/keps) to describe the problem and propose
 a solution that maintains backwards and forwards compatibility would be the next step.

LDAP groups are commonly mapped to group names, and if the fully-qualified name is used, almost always contain commas.

Changing encoding of values in an existing API is a breaking change. Doi

[2020-09-11 17:36] akartsky commented on #94690
I am able to reproduce the issue

Tried it even on a new cluster

Commands I ran :
[code]

let me dig into this a bit more and get back to you
(or maybe i'll create a new issue for this)

[2020-09-11 18:47] EmanElsaban commented on #29838
[code]
The `` kubectl get event --sort-by .lastTimestamp`` fails for me  but this command works:
[code]

[2020-09-11 19:21] dashpole commented on #93688
Hmmm... Not able to reproduce yet.
All tests passed...
Will keep running them until they fail.
This was attempt #217
No, seriously... you can probably stop now.
[code]

[2020-09-11 19:26] dashpole commented on #93688
I'm thinking the mirror pod for the kube-scheduler may not be registered yet when the test is run.  This test seems to be one of the first ones run in the suite.

From the kubelet logs on the master node:
[code]
The kube-scheduler pod is created 1 second before the test looks for it, but it the kube-controller-manager pod is created 3 seconds after the test looks for it.  The kube-scheduler is clo

[2020-09-11 19:28] dashpole commented on #93688
Oh, actually it looks like the real timestamp was before the mirror pod was created:

[code]

note the 18:41 vs 18:45 timestamps.  So I think it is a race with mirror pod registration

[2020-09-11 19:28] dashpole commented on #93688
I think the best solution is just to retry.  Giving it an extra minute should reduce flakes.

[2020-09-11 19:49] pre commented on #29838
@EmanElsaban while sorting by creationTimestamp doesn’t yield an error, it does not work reliably due to grouping of events. See this comment for details: https://github.com/kubernetes/kubernetes/issues/36304#issuecomment-579275514

[2020-09-11 20:51] cmluciano opened #94732 "kube proxy configuration api tests are not validating errors correctly"
**What happened**:
The [kube-proxy config api validation tests](https://github.com/kubernetes/kubernetes/blame/master/pkg/proxy/apis/config/validation/validation_test.go) only appear to check for the existence of an error with respect to a small message. This means that the msg field can be blank and the test will still pass. It will only fail if the error is something arbitrary.

**What you expec

[2020-09-11 20:52] cmluciano commented on #94732
/sig network
/assign @cmluciano

[2020-09-11 21:25] justaugustus commented on #94700
Opened https://github.com/kubernetes/kubernetes/pull/94733 to bump the debian-iptables images.
/remove-triage unresolved

[2020-09-11 21:30] justaugustus commented on #94700
Here are the digests for the new image (`k8s.gcr.io/build-image/debian-iptables:buster-v1.3.0`):

[code]

[2020-09-11 23:12] ibuildthecloud commented on #94688
@liggitt @lavalamp We have a component that takes an API request and then makes a pod log API request.  The API request is intended to have the same query string args that get passed to the pod log API request.  So we would use the decoder to keep exact parity with the k8s API.

If the answer is I just can't do that anymore officially (since I officially shouldn't be importing k/k), then that's fi

[2020-09-11 23:15] ibuildthecloud commented on #94688
@wojtek-t This is probably already clean, but this can be reproduce with basically the snippet I put in the issue. This is because the converter is only registered in the internal k/k api package, not the public k8s.io/api one.

[2020-09-11 23:40] liggitt commented on #94722
The namespace tolerations only apply to pods as they are created. The scheduler does not look at those. Expanding the scheduler to incorporate these is more of a feature than a bug

[2020-09-12 01:06] BenTheElder commented on #72253
Where exactly, which tests? What job? I'm not aware of any cri-o tests in prow.k8s.io ...

[2020-09-12 03:33] BenTheElder commented on #93782
This is still flaking with this same issue.
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/94723/pull-kubernetes-conformance-kind-ga-only-parallel/1304613935629996033

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=LimitRange#6135c3792f44a8ec7317

/reopen

[2020-09-12 03:33] BenTheElder commented on #93782
/milestone v1.20

[2020-09-12 03:51] MikeSpreitzer opened #94738 "There are two clock packages with divergent history"
**What happened**:
I discovered a need to update one of the two clock packages, and preparation for that revealed the divergent history of the two.

One line of development can be seen in
- https://github.com/kubernetes/kubernetes/commits/0fdb33b25e3cb207705f225aec7d30b900dd1e89/staging/src/k8s.io/client-go/util/clock/clock.go , and then
- https://github.com/kubernetes/kubernetes/commits/master/st

[2020-09-12 03:51] MikeSpreitzer commented on #94738
@kubernetes/sig-api-machinery-bugs

[2020-09-12 04:48] #90150 closed

[2020-09-12 05:28] #94686 closed

[2020-09-12 09:01] rishabh625 commented on #94575
I have just reset 'ed the cluster and its working fine , seems like iptables r wiping out some of the rules, as issue mostly occurs when one of the nodes restarts.

I'll run above  conformance  test If issue occurs again,
Let this open, I'll soon post,

[2020-09-12 09:06] ysaakpr opened #94741 "no kind \"CSINode\" is registered for version \"storage.k8s.io/v1\" in scheme \"k8s.io/kubernetes/pkg/api/legacyscheme/scheme.go:30"
**What happened**:
I had a migration to 1.17 and got to rollback to 1.15, after that, many times I am hitting an error like this on API server. Few of the applications are started failing with. error
[code]
How would I fix this error? I have installed the cluster using kops, there is no documentation on fixing this error anywhere.

**How to reproduce it (as minimally and precisely as possible)**:

[2020-09-12 09:07] ysaakpr commented on #94741
Is there way to convert the resources to older version, and are there any command to see what all are resources which is not compatible with the existing k8s cluster version?

[2020-09-12 09:20] ysaakpr commented on #94741
[code]

[code]

So basically, all the apps which are failing is doing listing all k8s resources, and while listing CSINode it getting this error. Apart from this there are no issue. Are there a way to delete this resource kind from API resources?

[2020-09-12 09:56] uablrek commented on #94673
Yes, this is a bug in v1.18. It is fixed in v1.19

/remove-triage unresolved

[2020-09-12 09:58] uablrek commented on #94673
Since dual-stack is alpha and the general policy is to not back-port fixes for alpha fearures I close this issue.

Please upgrade to v1.19.x to fix this problem.

/close

[2020-09-12 09:59] #94673 closed

[2020-09-12 10:26] uablrek commented on #94505
Looks from the comment above that IPv6DualStack=false?

I can't see this problem in v1.18.8 (or v1.19) running with `IPv6DualStack=true`;
[code]
However there is a problem with _endpoints_ for headless services getting ipv4 addresses (fixed in v1.19) (https://github.com/kubernetes/kubernetes/issues/94673);
[code]

[2020-09-12 10:30] knight42 commented on #93188
@soltysh I have a PoC here https://github.com/knight42/kubernetes/commit/016cb482ad75df7a0e5d59d48ac85809ad555af1.

In summary, I move the flag `--local` to `genericclioptions.ConfigFlags`, i.e. `--local` becomes a global flag, and make `genericclioptions.clientConfig` return empty configs if `--local` is set to true.

[2020-09-12 10:34] jmillikin-stripe commented on #94505
We're running with `IPv6DualStack=false` because the pods' IPv4 addresses aren't used by Kubernetes; they're non-routable and used for communication with pre-existing non-k8s infrastructure. My understanding from the docs (this might be incorrect) is that a cluster using IPv6 only doesn't need to use the experimental `IPv6DualStack=false` feature.

I haven't noticed any issues in particular with t

[2020-09-12 10:42] uablrek commented on #94505
Ops sorry, you are running a single-stack ipv6-only cluster. Then this is of course a bug.

The title is altered to "DualStack: ..." (by @liggitt) and the references to `ipFamily` (only used for dual-stack) is very misleading!

Can you please change the title (back) to something without "DualStack"? E.g "IPv6-only: ", and make it clear that this is a single-stack ipv6-only cluster.

[2020-09-12 10:43] uablrek commented on #94505
/label ipv6

[2020-09-12 10:44] uablrek commented on #94505
/label area/ipv6

[2020-09-12 10:46] uablrek commented on #94505
/area ipv6

(arrgghhhh...)

[2020-09-12 10:54] aojea commented on #94505
yeah, let's forget about the ipFamily field if this is single stack.
There are jobs running single stack clusters that would fail if this was the case for all types of services.

@jmillikin-stripe can we start over and explain how to reproduce it?
you seems to reference headless service, is this happening with all types of services?

[2020-09-12 11:22] uablrek commented on #94505
@aojea I think this refers to a non-headless service. It was I who started mention headless.

I can't reproduce this on a v1.18.8 ipv6-only cluster;
[code]
I have not set the `IPv6DualStack` feature-gate.

But my POD's have **only** ipv6 addresses;
[code]
I think the problem in this issue might happen if the PODs have both ipv4 and ipv6 addresses, _which should be perfectly fine_. But I think this

[2020-09-12 12:24] uablrek commented on #94505
Hmmm... it's worse than I thought. I brought up a ipv6-only cluster but with my dual-stack config for `calico/cni:v3.16.0` and all **endpoints** are IPv4 except "kubernetes" and for "hostNetwork:true";
[code]
The endpointslices are however all IPv6 except for the headless service;
[code]
Note that `ipFamily` is not defines in the service manifests and not set by K8s either;
[code]
The family is ta

[2020-09-12 12:35] uablrek commented on #94505
The test above was with v1.18.8. In v1.19.1 the endpointslice's for headless service is ipv6 but endpoints are ipv4 still.

@aojea You were right about the headless thing, I was wrong. Sorry.

@jmillikin-stripe I think you have expicitly specified `ipFamily: IPv6` in your service manifests, right? If so, upgrade to k8s v1.19 will solve your problem.

I think that actually is a work-around for the

[2020-09-12 12:56] #90169 closed

[2020-09-12 12:57] liggitt commented on #94505
ipFamily is an alpha feature and not enabled by default, right?

[2020-09-12 13:04] uablrek commented on #94505
Dual-stack is alpha and `ipFamily` should only be used in a dual-stack cluster, so in that sense, yes.

But in this issue a single-stack ipv6-only cluster is used, but the POD's have dual-addresses which is a valid setup. But when POD's have dual-addresses in a IPv6-only cluster the endpoints becomes ipv4. This is the bug.

As a work-around it seems that the user can explicitly specify "ipFamily:

[2020-09-12 13:10] uablrek commented on #94505
Scratch that, I tested. @liggitt you are right without the feature-gate `ipFamily` can be specified in the manifest but it is ignored by k8s.

[2020-09-12 13:20] uablrek commented on #94505
For the record, my `podIPs` are **NOT** in the order described in this issue (ipv6,ipv4) but the reversed;
[code]

[2020-09-12 13:31] uablrek commented on #94505
I use CRI-plugin; `cri-o`;
[code]
The setting of `podIP` when there are dual-addresses may differ for other CRI-plugins. However I have had some problems with this and I am pretty sure cri-o let's `kubelet` set `podIP`. @saschagrunert Can you please confirm this?

[2020-09-12 13:50] liggitt commented on #94741
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/94675, some potential remedies are described in  https://github.com/kubernetes/kubernetes/issues/94675#issuecomment-690315502

Deleting must be done on an API server version capable of reading the v1 objects (e.g. 1.17+) or directly against etcd (using etcdctl, for example)

[2020-09-12 13:50] #94741 closed

[2020-09-12 15:40] uablrek commented on #94640
Please confirm that I have got it correctly;

1. You installed the cluster with Calico and inter-node pod communication works
2. You un-install Calico
3. You re-install Calico (another version?) and inter-node pod communication fails

No node-reboots?

This is likely a Calico problem, but I am not entirely certain. It may also be so that un-install+re-install a CNI-plugin requires a node reboot. A

[2020-09-12 15:59] SataQiu commented on #94697
/assign

[2020-09-12 16:04] ymmt2005 commented on #86509
/remove-lifecycle rotten

Has anyone been working on this?

[2020-09-13 00:07] #86161 closed

[2020-09-13 01:33] liggitt commented on #94690
is there a controller reading/writing the object spec in the background? if so, is the controller decoding into a typed go struct? if so, the controller is the one dropping the unknown field as it round trips.

you can verify this by watching create/updates in the background in another tab with `kubectl get hostingdeployments --watch -o yaml` before you create the new instance, and see the initial

[2020-09-13 02:05] allenhaozi commented on #69041
at least can support update statefulset with replicas is 0

[2020-09-13 02:09] #89689 closed

[2020-09-13 03:17] travisghansen opened #94745 "volume unstage not invoked until pvc is deleted, controller delete invoked before unstage"
**What happened**:

I create PVC, and POD to use the PVC. All csi actions get invoked in proper order.

I delete POD...node unpublish is invoked, unstage is not.
I delete PVC...controller delete is invoked, unstage is invoked.

**What you expected to happen**:

Unstage to happen when no pods on the node no longer need the pvc.
Ensure controller delete only happens when pvc is not published or stag

[2020-09-13 03:17] travisghansen commented on #94745
https://github.com/kubernetes/kubernetes/issues/94108

[2020-09-13 03:18] travisghansen commented on #94745
/sig storage

[2020-09-13 05:08] knight42 commented on #79616
/close

[2020-09-13 05:08] #79616 closed

[2020-09-13 05:10] misteruly opened #94746 "k8s-v1.15.11 Why don't you expel Daemonset pod ?"

[2020-09-13 07:26] mydockergit commented on #89731
Any update?

[2020-09-13 07:36] sayanchowdhury commented on #93740
This has been green for a while now. Should we close this one?

[2020-09-13 07:57] Alon-Katz commented on #68737
When running `df -h` in the cluster I still see the old storage size value, any workaround for this?

[2020-09-13 08:06] jmillikin-stripe commented on #94505
There was a bunch of comments there so I'll try to respond inline to open questions.

We have a headless service (`"type": "ClusterIP", "clusterIP": "None"`). I don't know if this works for other types of services because we're using the Kubernetes service resources as input to our non-k8s load-balancing infra.

k8s should always select `PodIPs[0]` to fill in `PodIP`. It's possible to control the

[2020-09-13 08:16] uablrek commented on #94505
No, it should explicitly select the address of the "main" family.

Otherwise you will cement an "upward compatibility issue". The CNI-plugins (which are not a K8s-only thing) can't possibly know what family K8s wants in the first slot. Only K8s knows that and should select family for it's backward compatibility item "podIP" accordingly.

The alternative is to force all current and future CNI-plugi

[2020-09-13 08:19] uablrek commented on #94505
If headless services are you only problem then upgrade to v1.19 will fix it;

[2020-09-13 08:33] jmillikin-stripe commented on #94505
Sorry, I should have written more carefully. Kubernetes requires the first entry of `PodIPs` to be the same as `PodIP`; this behavior is documented in the `PodSpec` API ("`podIPs` holds the IP addresses allocated to the pod. If this field is specified, the 0th entry must match the `podIP` field.").

I'm a bit confused about this because both Kubernetes and the CNI plugins are configured by the sam

[2020-09-13 09:29] uablrek commented on #94505
You are right about CRI-plugin, but the same problem exist. I think many CRI-plugins are preserving the order of addresses received from the CNI-plugin. Hence the order defined in the `/etc/cni/net.d/...` file will be crucial for the cluster function.

You are using `host-local` ipam. Does the order of families matter in `/etc/cni/net.d/...`?

If not I suppose your CRI-plugin is main-family-aware

[2020-09-13 09:37] jmillikin-stripe commented on #94505
Yes. The CNI plugin config is crafted to ensure the [IPv6, IPv4] ordering, and the plugin returns IP addresses in the same order as the `ipam.ranges` field:
[code]

[2020-09-13 09:43] uablrek commented on #94505
There does not seem to be a possibility to define the order for the Calico CNI-plugin. And Cilium I think puts IPv6 first which will prevent a ipv4-only cluster from working with Cilium and dual-addresses in pods, but that I must verify.

So at the moment I would say that dual-addresses in pods in a single-stack cluster is a gamble that may or may not succeed depending on CNI-plugin and how it is

[2020-09-13 11:24] tengqm opened #94748 "Event from events group not cleanly separated from core group"
**What happened**:

When I tried create an Event resource in `events.k8s.io/v1` group, I found that the following fields are required:

[code]

but our API spec failed to convey the accurate information. Some more interesting phenomena I observed:

- The `eventTime` has to be something like `2020-09-11T02:42:23.123456Z`. A RFC3339 string `2020-09-11T02:42:23Z` is always rejected.  The error messag

[2020-09-13 11:58] tengqm opened #94749 "DELETE API request can delete resource from different API version"
**What happened**:

I created a `CertificateSigningRequest` in `certificates.k8s.io/v1` as following, named `csr-v1.yaml`:

[code]

and a similar one in the `certificates.k8s.io/v1beta1` group version, named `csr-v1beta1.yaml`.

Then when I tried `kubectl delete -f csr-v1beta1.yaml`. The request is sent via

[code]

And my v1 CSR is deleted!!!

**What you expected to happen**:

My v1 CSR is on a d

[2020-09-13 11:59] tengqm commented on #94749
/sig api-machinery

[2020-09-13 11:59] tengqm commented on #94748
/sig api-machinery

[2020-09-13 12:21] liggitt commented on #94749
Different versions are representations of the same instance. An object created via v1beta1 can be read/updated/deleted/etc via v1 as well. The API handles converting between the versions so clients can continue interacting with the object via their preferred versions.

[2020-09-13 12:21] #94749 closed

[2020-09-13 12:32] kubealex opened #94750 "k8s 1.19 - Cannot exec commands in running containers with --tty option with cri-o as runtime"
**What happened**:
K8s 1.19 fresh install with cri-o 1.18.3, following the documentation.

**What you expected to happen**:

Being able to execute commands in a running container

**How to reproduce it (as minimally and precisely as possible)**:

Install k8s 1.19 with kubeadm
Use cri-o as runtime
launch "kubectl exec -it calico-node-58rdv -n kube-system /bash" or any other command in any other con

[2020-09-13 12:36] kubealex commented on #94750
/sig node

[2020-09-13 13:22] jayunit100 commented on #94070
/close

[2020-09-13 13:22] #94070 closed

[2020-09-13 13:23] jayunit100 commented on #93932
/assign @robscott

[2020-09-13 13:25] jayunit100 commented on #93842
/remove-sig network

[2020-09-13 13:28] jayunit100 commented on #94640
/assign @rikatz

[2020-09-13 13:30] rikatz commented on #94495
/remove-triage unresolved

[2020-09-13 13:34] jayunit100 commented on #94575
so, is this an older k8s ? ... seems like the Kubectl client is 1.12 ... what's the server version ?

[2020-09-13 13:35] jayunit100 commented on #94746
I think we can close this ... unless there's more detail on the way?

[2020-09-13 14:35] hasheddan opened #94753 "[Flaky Test] [sig-node] NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]"
**Which jobs are flaking**:

`Conformance - GCE - Master (ci-kubernetes-gce-conformance-latest)`

**Which test(s) are flaking**:

`[sig-node] NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master

**Reason for failure**:

[code]

**Any

[2020-09-13 15:01] uablrek commented on #94505
Yep, if you try to enable ipv6 (and ipv4) in `Cilium` in an ipv4-only cluster all endpoints except "hostNetwork:true" becomes ipv6;
[code]
Suprisingly ipv4 traffic works. Apparently Cilium and kube-proxy uses endpointslices which seem to be correct;
[code]
In this particular setup Cilium takes over the load-balancing from kube-proxy;
[code]
But kube-proxy (in ipvs mode) set's up load-balancing for

[2020-09-13 15:22] #85764 closed

[2020-09-13 15:22] liggitt commented on #94505
That seems like the fundamental issue. Reporting the IP for the correct family first is essential for supporting single-stack clusters.

[2020-09-13 15:45] Shuanglu opened #94754 "In 1.19, iptables reported error '[unsupported revision]' for DNAT rules"
**What happened**:
I'm using kubeadm to build a cluster with 1.19 version. The kube-proxy is running fine but there is error with the DNAT rules like below.
-A KUBE-SEP-FRUH4FMRRHR5RCGV -p tcp -m comment --comment "default/kubernetes:https" -m tcp -j DNAT [unsupported revision]
I increased the kube-proxy log level to 9 but didn't find error about appending the DNAT rules
**What you expected to hap

[2020-09-13 15:47] Shuanglu commented on #94754
/sig network

[2020-09-13 16:23] uablrek commented on #94505
Problem is that the CNI-plugin can't possibly know what one user among others (K8s) 2 layers up (via the CRI-plugin) thinks is the "correct" family.

[2020-09-13 16:38] aaraodeo commented on #90710
With kubelet 1.8.6 able to start a k8s cluster with cgroupfs v1(systemd.unified_cgroup_hierarchy = 0) on Fedora 31 server.
But when i upgraded kubelet to 1.19.0. i am not able to start k8s cluster. Its giving the same error described in the first update of the issue. I am using compatible version of kubeadm to setup the single master k8s cluster.

I0503 19:08:32.558943   11492 waitcontrolplane.go:

[2020-09-13 17:21] robscott commented on #93932
Thanks for the reminder! I think @freehan might be able to help with this one. If I'm understanding the failure correctly, everything works until the [setting ExternalTrafficPolicy back to OnlyLocal](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L3368). The first couple requests work but that seems to be because the update hasn't propagated yet (still returning i

[2020-09-13 17:36] krishchow commented on #94695
@alculquicondor unless you were planning on working on this, I would be happy to take a look at this issue and start working on a fix :)

[2020-09-13 17:37] krishchow commented on #94695
/assign

[2020-09-13 18:17] saurabhIU opened #94755 "Kubectl create deployment"
While creating deployment with Kubectl , Command and argument is not working. I am using version 1.18. Attached are the screenshots.

As per the Kubectl Create command [https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-deployment-em-](url) , I should be able to pass in commands and arguments. Either the reference document is wrong or I am missing something.

![Screen Shot

[2020-09-13 18:31] neolit123 commented on #94755
/sig cli
/remove triage-support
/kind documentation

i confirmed that [here](https://www.katacoda.com/courses/kubernetes/playground) with 1.18.0, that `kubectl create deployment my-dep --image=busybox -- date` does not create a deployment with the `date` command, so if this way of imputing a command was removed the reference documentation has to be updated:

https://kubernetes.io/docs/reference/ge

[2020-09-13 18:32] neolit123 commented on #94755
/remove-triage support

[2020-09-13 18:32] neolit123 commented on #94746
/close

[2020-09-13 18:32] #94746 closed

[2020-09-13 19:29] kfox1111 commented on #91845
/remove-lifecycle stale

still relevant.

[2020-09-13 21:25] danielkucera commented on #94722
@liggitt then what's the difference between Deployment and DaemonSet when Deployment respects them?

[2020-09-13 22:23] ialidzhikov commented on #94019
Should we consider closing this issue as the referenced PR is merged?

[2020-09-13 22:29] #89994 closed

[2020-09-13 22:29] #81725 closed

[2020-09-13 22:34] liggitt commented on #94722
Deployments don't respect those namespace annotations, they just produce replicasets, which produce pods. The admission plugin sets tolerations on the pod objects based on the namespace annotations as the pods are created. The scheduler honors the tolerations on the pods.

[2020-09-13 22:48] danielkucera commented on #94722
I see now. I've found the code where DeamonSet rules out nodes which doesn't fit the tolerations from DS template:
https://github.com/kubernetes/kubernetes/blob/e6287b05c0bfcf6b0ecf098ba83a231625522f1f/pkg/controller/daemon/daemon_controller.go#L1339
So there is no pod created and cannot be evaluated in the admission plugin.

Wouldn't it be more systematic to leave this work on scheduler as there

[2020-09-14 00:08] jmillikin-stripe commented on #94505
This is the same as the original bug -- IMO the IP address families reported by `Endpoint` and `EndpointSlice` should be the same. It doesn't make sense for these resources to have different behavior when it comes to detecting the address family of a service.

I also think this indicates that the `Service.ipFamily` field might be useful independent of dual-stack mode, since it allows for predictab

[2020-09-14 00:32] whereisaaron commented on #93900
Me too @devlounge. Doing my usual check of has-this-thing-got-to-beta-so-I-can-finally-use-it only to find PodPresets had entirely disappeared 😞

This feature was going to greatly simplify our manifests. We do have the mutating webhooks feature now, which we didn't when PodPresets were created. However PodPresets are a lot cleaner would have received a lot of use. Even `helm` chart designs could b

[2020-09-14 00:48] tengqm commented on #94749
@liggitt I was surprised by this behavior design and I believe this needs to be documented.

[2020-09-14 01:00] whereisaaron commented on #93900
Speaking of gaining traction and momentum, the 'Avoiding permanent beta' policy only has a nine-month countdown for beta features. This new policy clashes with the recent popularity of managed releases, which tend to lag upstream releases by 3-9 months (2-3 releases).

E.g. the current [AWS EKS lag for k8s release calendar is 6-9 months](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-

[2020-09-14 01:00] LalexH commented on #94640
I didn't change calico's version，and After reinstalling calico, I rebooted the node，It could be calico's problem，I'll look for other reasons，thank

[2020-09-14 01:03] jayunit100 commented on #94754
I think this is an ubuntu 18.04 issue, https://github.com/robbertkl/docker-ipv6nat/issues/47 .... something buggy specifically w/ that version of iptables in ubuntu :) .  can you upgrade and see if that fixes it ?

[2020-09-14 01:05] jayunit100 commented on #94754
(assuming this can be closed but ill leave it open for now)

[2020-09-14 01:53] Lion-Wei commented on #94505
/cc

[2020-09-14 02:35] pacoxu commented on #94755
`  # Start the nginx pod using the default command, but use custom arguments (arg1 .. argN) for that command.
  kubectl run nginx --image=nginx -- <arg1> <arg2> ... <argN> `

You can add args after "kubectl run ", but not "kubectl create"

[code]

[2020-09-14 02:45] doeasier commented on #94709
I found the answer. That has a confilict between a local "ETCD" service and a Pod's "ETCD" service, The kube-apiserver access https://127.0.0.1:2379, This is a Pod's etcd service, But it does not start sucessfully, because the 2379 port is always used by local "ETCD" with http.

[2020-09-14 02:46] doeasier commented on #94709
I'm disable the local etcd service by 'systemctl disable etcd' and reboot the host, then the kube-apiserver running successfully.

[2020-09-14 02:46] #94709 closed

[2020-09-14 03:53] Shuanglu commented on #94754
/sig network

thanks a lot. it's fixed by upgrading the iptables. I'll close this issue.

[2020-09-14 03:53] #94754 closed

[2020-09-14 04:33] yan234280533 opened #94757 "Can the pod.spec.hostname support data1.xxx.xxx.com, which is used in yarn and other system"
**What would you like to be added**:
Can the pod.spec.hostname support  data1.xxx.xxx.com, which is used in yarn  and other system ?

Now the pod.spec.hostname is DNS-1123 label. Actually it must not use  so strictly validate.

The Pod "ccc-1" is invalid: spec.hostname: Invalid value: "aaa.bbb": a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with

[2020-09-14 05:15] godomainz opened #94758 "kube-apiserver[4073]: Error: "kube-apiserver" does not take any arguments, got ["\\"]"
when restarting kubernetes master node. I'm getting below error

[code]

This is my kube-apiserver.service configuration

[code]
Whats wrong with above configuration ?
VMware workstation used.
I'm using kubernetes 1.19.
Ubuntu 18.04
RAM 16GB
CNI : Weave

Funny thing happened.
I removed some parameters -> Then restated kube-apiserver -> Then pasted same above config file -> Then restated kube-apise

[2020-09-14 05:53] uablrek commented on #94505
Ok I don't agree, but I am not a maintainer so I let it be. To rely on order of IP's from the CNI-plugins is bad practice and will bite back at some point. To explicitly require that podIP=podIPs[0] should be replaced by something like "podIP is set from the first IP in podIPs that matches the main family" IMHO.

But can we agree on that K8s must refuse to start POD's with `podIPs[0]` of the "wron

[2020-09-14 06:06] tengqm commented on #94755
The reference doc is generated from the upstream source code. If you want fix this, please raise an issue in the kubernetes/kubernetes repo.

[code]

[2020-09-14 06:09] tengqm commented on #94755
The upstream source code is here:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/create/create_deployment.go#L96

[2020-09-14 06:25] judgeaxl commented on #91601
How far back do you believe this bug was present? 1.17? 1.16? I've just seen the exact same problem in 1.17 on AWS and restarting the unscheduled node fixed the problem.

[2020-09-14 06:25] harche opened #94759 "crio node e2e test fails"
**Which jobs are failing**:
/test pull-kubernetes-node-crio1-18-e2e

**Which test(s) are failing**:
pull-kubernetes-node-crio1-18-e2e

**Reason for failure**:
Just before node e2e tests are started, we verify that the runtime (containerd or docker) is properly running or not on the target system. This check doesn't include crio, so the targeted node is not reported ready if it's using crio as the

[2020-09-14 06:27] harche commented on #94759
/sig testing

[2020-09-14 06:47] saschagrunert commented on #94505
Yep, that's correct :+1:

[2020-09-14 07:21] zhouya0 commented on #94753
My suggestion here is just to add more wait time like change
[code]
to `kubeletPodDeletionDelaySeconds+5*additionalWaitPerDeleteSeconds` since we have a pod with `pod2 := createPodForTaintsTest(true, 5*additionalWaitPerDeleteSeconds, podGroup+"2", podGroup, ns)`

[2020-09-14 07:38] #87070 closed

[2020-09-14 07:48] sleshchenko commented on #91732
/remove-lifecycle stale

[2020-09-14 07:53] Tej-Singh-Rana opened #94761 "Expecting apiVersion - networking.k8s.io/v1 instead of extensions/v1beta1"
**What happened**:
Manifest resource :- https://kubernetes.io/docs/concepts/services-networking/ingress/#the-ingress-resource
[code]
[code]
**What you expected to happen**:
I would like to know that I used apiVersion: networking.k8s.io/v1 to create an ingress in v1.19 but when I looked into the yaml file via `kubectl get ingress minimal-ingress -oyaml`, apiVersion is  `extensions/v1beta1`. What ki

[2020-09-14 07:58] Pingan2017 commented on #94411
the version of `kubectl ` u use is ?

[2020-09-14 08:15] anuragtr commented on #13488
Yes, we also have use case of re-starting pod without code change, after updating the configmap. This is to update a ML model without re-deploying the service.

[2020-09-14 08:25] BenTheElder commented on #91751
/close
/remove-kind bug

[2020-09-14 08:25] #91751 closed

[2020-09-14 08:33] aojea commented on #94505
I opened this debate about the default podIP because it impacts how kubelet implement the probes
https://github.com/kubernetes/enhancements/pull/1975

containerd defaults to IPv4,  per example
https://github.com/containerd/cri/issues/1278

[2020-09-14 08:50] jethrogb commented on #62788
/remove-lifecycle stale

[2020-09-14 08:50] montanaflynn commented on #13488
@anuragtr with latest versions you can run

[code]

[2020-09-14 09:10] gautierdelorme commented on #90128
/remove-lifecycle stale

The issue is still present. Fix have been made in upstream repos see (https://github.com/kubernetes/kubernetes/issues/90128#issuecomment-643941680) but the PR (https://github.com/kubernetes/kubernetes/pull/92146) is stuck on feedback due other dependencies changes.

[2020-09-14 09:19] pacoxu commented on #94755
opened  #94763
/assign

[2020-09-14 09:52] jakob-kr opened #94764 "FailedMount due to MountVolume.WaitForAttach timed out waiting for condition"
**What happened**:
MountVolume ran into timeout while trying to mount a PVC to a pod on Azure.
The pod events show `MountVolume.WaitForAttach ... timed out waiting for condition`.
After ~6 hours the volume got attached successfully.

**What you expected to happen**:
The volume should be mounted without timeout.

**How to reproduce it (as minimally and precisely as possible)**:
- Delete the pod by

[2020-09-14 09:56] jakob-kr commented on #94764
/sig storage

[2020-09-14 10:19] jakob-kr commented on #94764
Kubelet logs:

`I0909 17:28:29.377212    4600 operation_generator.go:661] MountVolume.WaitForAttach entering for volume "<pvc_name>" (UniqueName: "kubernetes.io/azure-disk//subscriptions/<subscription_id>/resourceGroups/<resource_group>/providers/Microsoft.Compute/disks/<disk_name>") pod "prometheus-prometheus-0" (UID: "<uid>") DevicePath "1"`

`E0909 17:38:31.353608    4600 nestedpendingoperation

[2020-09-14 10:24] luissio commented on #92586
確かに！助けてください！！

[2020-09-14 10:56] rikatz commented on #94640
oh just let me understand please :)

Your first attempt (kubeadm + calico) works fine, then you try to remove Calico and reinstall it and the problem rises. Is that correct?

IMO reinstalling a CNI is pretty disruptive, as the CNI writes a lot of things (in FS a state file, routes, maybe even some BPF maps) so I second what Jay and Lars asked about 'have you tried to reboot everything?' :)

Anyway

[2020-09-14 10:57] liggitt commented on #94505
That is incompatible with old API clients that don't know about podIPs. podIP must be honored over podIPs, and if there is a mismatch between podIP and podIPs[0], podIP takes precedence

[2020-09-14 11:04] uablrek commented on #94505
Clearification; In "podIP is set from the first IP in podIPs that matches the main family" the first `podIP` refers to the field spec.podIP, not a generic pod-ip-address.

[2020-09-14 11:05] liggitt commented on #94761
This is working as expected. When you create an ingress object, it can be read via any version (the server handles converting into the requested version. `kubectl get ingress` is an ambiguous request, since it does not indicate what version is desired to be read.

When an ambiguous request is made, kubectl searches the discovery docs returned by the server to find the first group/version that cont

[2020-09-14 11:05] #94761 closed

[2020-09-14 11:22] aojea commented on #92041
/remove-lifecycle stale

The test is flaky now :thinking:
https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-basic-sctp&width=5

[2020-09-14 11:23] aojea commented on #94750
/cc @saschagrunert

[2020-09-14 11:25] neolit123 commented on #93900
For long running alpha features I usually recommend announcing depreaction
and removing after one release, instead of right away.

For extending the beta policy please see:
https://github.com/kubernetes/kubernetes/issues/94694.

[2020-09-14 11:27] saschagrunert commented on #94750
Xref: https://github.com/cri-o/cri-o/issues/4189
Maybe related: https://github.com/cri-o/cri-o/issues/4189

[2020-09-14 11:58] aojea commented on #90810
The test seems quite stable, only 3 failures in the last 2 weeks https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Services%20should%20be%20rejected%20when%20no%20endpoints%20exist&xjob=cilium

The 3 failures are happening in a jobs with more than 12 failures and the other 2 jobs have more than 50 failures.

/close

feel free to reopen if necessary

[2020-09-14 11:59] #90810 closed

[2020-09-14 12:01] aojea commented on #91374
This will be fixed only since 1.18+
https://github.com/kubernetes/kubernetes/pull/90536#issuecomment-670232456

/close

[2020-09-14 12:01] #91374 closed

[2020-09-14 12:01] schrej commented on #3949
Hello again. I've managed to implement a PoC that allows to migrate individual Pods.
As this is going to be a bit longer again, and to make feedback and updates easier, I've once again outsourced it to Google Docs.

You can find a brief description, instructions on how to test it and links to the code here:
https://docs.google.com/document/d/1E5p_FOHDGAp5YEQ23dCi9I8wPnMzd4aOazxI4uO_AMo

[2020-09-14 12:12] danwinship commented on #90810
The failures in OpenShift were because of a regression in recent kernels which has since been fixed and probably never hit k8s CI.

There is still theoretically a problem that the test could flake depending on what it is scheduled against, but I guess that's not happening much.

[2020-09-14 12:19] HaonanFeng commented on #94696
I'm a new contributor and I'm interested in this issue.

[2020-09-14 12:20] justaugustus commented on #92698
/assign @saschagrunert

Sascha -- can you take a look or assign to someone on @kubernetes/release-engineering to investigate?

The following issues are similar classes of issues for apt/yum:
- https://github.com/kubernetes/kubernetes/issues/92698
- https://github.com/kubernetes/kubernetes/issues/92587
- https://github.com/kubernetes/kubernetes/issues/92586
- https://github.com/kubernetes/kubernete

[2020-09-14 12:21] justaugustus commented on #92587
/assign @saschagrunert
/unassign

Sascha -- can you take a look or assign to someone on @kubernetes/release-engineering to investigate?

The following issues are similar classes of issues for apt/yum:
- https://github.com/kubernetes/kubernetes/issues/92698
- https://github.com/kubernetes/kubernetes/issues/92587
- https://github.com/kubernetes/kubernetes/issues/92586
- https://github.com/kubernetes

[2020-09-14 12:21] justaugustus commented on #92586
/assign @saschagrunert

Sascha -- can you take a look or assign to someone on @kubernetes/release-engineering to investigate?

The following issues are similar classes of issues for apt/yum:
- https://github.com/kubernetes/kubernetes/issues/92698
- https://github.com/kubernetes/kubernetes/issues/92587
- https://github.com/kubernetes/kubernetes/issues/92586
- https://github.com/kubernetes/kubernete

[2020-09-14 12:21] justaugustus commented on #92463
/assign @saschagrunert
/unassign

Sascha -- can you take a look or assign to someone on @kubernetes/release-engineering to investigate?

The following issues are similar classes of issues for apt/yum:
- https://github.com/kubernetes/kubernetes/issues/92698
- https://github.com/kubernetes/kubernetes/issues/92587
- https://github.com/kubernetes/kubernetes/issues/92586
- https://github.com/kubernetes

[2020-09-14 12:23] justaugustus commented on #94700
Please reopen if you run into any issues with the new images.
/close

[2020-09-14 12:23] #94700 closed

[2020-09-14 12:42] champtar commented on #94700
[code]

[2020-09-14 12:52] mm4tt commented on #94098
Looking at the last two weeks (with 8vCPU masters), it looks better

### 8 vCPU Master
**Num failures:** 6
**Link:** https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=APIResponsivenessPrometheus&job=performance
![58Q6VEhzxhbpr9U](https://user-images.githubusercontent.com/2604887/93088211-eaec3800-f699-11ea-8913-76ea43c7b29f.png)

### 4 vCPU Master

[2020-09-14 12:55] saschagrunert commented on #92698
@HubbeKing @jasongol do you have a simple reproducer within a container?
I tested both package upgrade paths which were successful:
- kubeadm (1.18.5-00) over (1.18.4-01)
- kubeadm (1.18.5-00) over (1.18.4-00)
Even the downgrades work for me. Do I miss anything?

[2020-09-14 12:56] saschagrunert commented on #92586
Confirmed, this is still broken. Not completely sure what is the reason…
/help

[2020-09-14 12:57] saschagrunert commented on #92587
Confirmed, this is still broken. Not completely sure what is the reason…
/help
I think it's the same as for https://github.com/kubernetes/kubernetes/issues/92586

[2020-09-14 12:58] liggitt commented on #94758
You have multiple lines with spaces after the trailing slash:

[code]

That means the slashes are being passed to the API server and following lines are dropped from the invocation. In previous releases, that would have been silently accepted by the API server. In 1.19, unexpected arguments cause an error to prevent erroneous invocations (see https://github.com/kubernetes/kubernetes/pull/91349).

[2020-09-14 12:58] #94758 closed

[2020-09-14 13:00] saschagrunert commented on #92463
/help
Not sure if we can solve this without re-building those packages.

[2020-09-14 13:12] pre commented on #36304
/remove-lifecycle stale

[2020-09-14 13:19] ahg-g commented on #94659
/help

[2020-09-14 13:20] godomainz commented on #94758
@liggitt Thanks that works !!!

[2020-09-14 13:20] ahg-g commented on #92037
/remove-lifecycle stale

[2020-09-14 13:21] ahg-g commented on #91029
/remove-lifecycle stale

[2020-09-14 13:25] ahg-g commented on #91029
I suggest we move the interface out of `pkg/scheduler/framework/v1alpha1` to `pkg/scheduler/framework` or `pkg/scheduler/framework/interface` and close the enhancement issue https://github.com/kubernetes/enhancements/issues/624

@Huang-Wei @alculquicondor what do you think?

[2020-09-14 13:29] HubbeKing commented on #92698
@saschagrunert
I can still trigger the same issue in an ubuntu-based docker container - see below snippet for Dockerfile

[code]

[2020-09-14 13:30] wojtek-t commented on #94098
Thanks for the data! Indeed it looks better (especially given we got out of code freeze in that time).

It would make sense to look into those 6 failures and see where those are coming from at some point.

[2020-09-14 13:56] godomainz opened #94772 "Metric server crashing in kubernetes 1.19"
Can't get metric server working

**kubectl logs metrics-server-v0.3.6-66548d5b4b-dbktd metrics-server -n kube-system -f**
[code]
**kubectl get apiservices**
`v1beta1.metrics.k8s.io                  kube-system/metrics-server   False (MissingEndpoints)   8m51s`

**kubectl api-resources**

[code]

**My kubelet.service**

[code]

[2020-09-14 14:12] liggitt commented on #94749
that's fair, opening a documentation issue for https://github.com/kubernetes/website to clarify this would be good (perhaps against https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-versioning)

[2020-09-14 14:20] liggitt commented on #94547
See https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=TestDevicePluginReRegistrationProbeMode

[2020-09-14 14:27] alculquicondor commented on #94695
Sounds good. Just wait for #94692 to get merged first :)

[2020-09-14 14:42] alculquicondor commented on #91601
@judgeaxl could you provide more details? Log lines, cache dumps, etc. So we can determine whether the issue is the same.

As I noted in https://github.com/kubernetes/kubernetes/issues/91601#issuecomment-662746695, I believe this bug was present in older versions, but my thinking is that it's transient.

@maelk would you be able to investigate?

[2020-09-14 14:47] pacoxu commented on #94757
Other options would be
1. use Service name or svc-name.namepace.svc.cluster.local to connect each other. You may need kube-dns/coredns.
2. hostAliases would be a choice, you may add hostname and domain name as alias.
3. headless service may be useful in your case.

[2020-09-14 14:49] alculquicondor commented on #91601
Please also share the distribution of nodes in the zones.

[2020-09-14 14:49] alejandrox1 commented on #74352
There was some digging done to see what work would need to be done to stage the kubernetes e2e framework (detailing dependencies and what to do to resolve them https://docs.google.com/document/d/1ASPcrEC3iSFqD2K2ANaljfLeBZUPxKr-8nrJpRpH9rI/edit?usp=sharing ).
The e2e framework seems to have a couple tools integrated into it that are very intertwined with internal (non-public) Kubernetes APIs (one

[2020-09-14 14:54] pacoxu commented on #94772
/sig node

[2020-09-14 14:58] hdiass commented on #74551
I'm having same issue on AKS kubernetes v1.16.13. I use port-forwarding to connect to mongodb and i face this issue when doing backup from a local mongodump connecting to a remote mongodb via k8s cluster.

[2020-09-14 15:04] pacoxu commented on #94772
Can you provide metrics server deployment commands?

And please check the kubelet status on server worker-1 (192.168.111.250) and worker-2 (192.168.111.249).
Check kubelet logs for error messages for why 10255 is not available.

[2020-09-14 15:14] alculquicondor commented on #94715
Could you clarify how you translate `e2e-sched-priority-3802` to a specific previous test?

[2020-09-14 15:16] alculquicondor commented on #94696
Feel free to take it. You can start anywhere in `pkg/scheduler`, specially if the change doesn't depend on #94695.

Please submit small contained PRs (affecting one file and it's corresponding test if possible).

[2020-09-14 15:20] alculquicondor commented on #91029
I vote for `pkg/scheduler/framework`

[2020-09-14 15:20] jasongol commented on #92698
@saschagrunert, thank you for following up.  To be honest, I think my issue may be a different one.  I was using the Ansible [apt](https://docs.ansible.com/ansible/latest/modules/apt_module.html) module, which provides no access to the `--allow-change-held-packages` apt-get flag.  Instead I was trying to use the dpkg option `--force-hold` and that was not successful.

[2020-09-14 15:21] pacoxu commented on #94764
https://github.com/kubernetes/kubernetes/blob/e23d83eead3b5ae57731afb0209f4a2aaa4009dd/pkg/kubelet/volumemanager/volume_manager.go#L92

the timeout seems to be a 10 minutes timeout here

[2020-09-14 15:23] lavalamp commented on #94738
Whoops! Thanks for noticing!

Tagging recent other editors: @munnerz @euank @kevindelgado

Which one should we keep?

[2020-09-14 15:26] ingvagabund commented on #94715
Since `e2e-sched-priority-3802/scheduler-priority-avoid-pod-XXX` pod name reflects name of a pod created in `[sig-scheduling] SchedulerPriorities [Serial] Pod should avoid nodes that have avoidPod annotation` test.

[2020-09-14 15:31] maelk commented on #91601
@alculquicondor unfortunately I can't at this point. Sorry.

[2020-09-14 15:33] adrianreber commented on #3949
@schrej I am currently working on checkpointing and restoring containers in and out of Pods using cri-o. The following PRs are needed to have this working:

https://github.com/checkpoint-restore/criu/pull/1056
https://github.com/opencontainers/runc/pull/2525
https://github.com/opencontainers/runc/pull/2583

[2020-09-14 15:50] lavalamp commented on #94688
@ibuildthecloud thanks for explaining--

I actually recommend passing the parameters through directly without parsing, including ones you don't know about, because then you'll automatically be compatible with whatever cluster you're operating on. You can consider using a dry run request to pre-validate if the concern is giving the user a good error message early on. (If that doesn't work as expect

[2020-09-14 15:52] coffeepac commented on #94429
/assign

I will take a look this week.

[2020-09-14 16:20] schrej commented on #3949
Very interesting @adrianreber! I have to admit that I apparently didn't look deep enough into the internals of Pods. A quick research shows that Kubernetes [doesn't share the PID namespace by default](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/), which is probably why I didn't run into that so far (in contrast to joining network namespaces, which wasn't suppor

[2020-09-14 16:59] Huang-Wei commented on #91029
`pkg/scheduler/framework` looks good.

[2020-09-14 17:06] cmluciano opened #94776 "Add e2e API tests for the v1 NetworkPolicy API"
**What happened**:
We are missing CRUD API tests for NetworkPolicy according to [apisnoop](https://apisnoop.cncf.io/1.20.0/stable/networking).

**What you expected to happen**:
We need to add CRUD tests that are suitable for promotion to conference tests. The tests would be similar to the [Ingress API e2e tests](https://github.com/kubernetes/kubernetes/issues/92199).

**How to reproduce it (as min

[2020-09-14 17:06] cmluciano commented on #94776
/sig network
/assign @cmluciano

[2020-09-14 17:18] swetharepakula commented on #93397
Thanks for letting me take a stab at it!

[2020-09-14 17:25] ahg-g commented on #91029
do you also agree that we should just graduate kubernetes/enhancements#624 and considered implemented?

[2020-09-14 17:38] claudiubelu commented on #84158
/reopen

[2020-09-14 17:43] #91482 closed

[2020-09-14 17:43] #93900 closed

[2020-09-14 17:45] cbf123 commented on #84869
/reopen
/remove-lifecycle rotten

[2020-09-14 18:00] cmluciano commented on #94776
/remove-triage unresolved

[2020-09-14 18:02] msau42 opened #94778 "Windows CSI migration"
**What would you like to be added**:
We have not tested csi migration with Windows, so we need to investigate if anything needs to be done.

**Why is this needed**:
This is a blocker for moving CSI migration to GA.

@kubernetes/sig-storage-feature-requests

[2020-09-14 18:02] msau42 commented on #94778
/assign @jingxu97 @ddebroy @andyzhangx

[2020-09-14 18:33] wojtek-t commented on #94688
Just got to it again - yes I fully agree with Daniel (this is great write up btw).

@ibuildthecloud - please close the issue you agree with that (or let us know if you have other questions about that).

[2020-09-14 19:03] hasheddan commented on #93694
ping @justaugustus, want to chat about this?

[2020-09-14 19:06] ejweber opened #94780 "DetachFCDisk fails with "invalid device name""
**What happened**:

Certain stress tests we run involve a large number of fibre channel persistent volumes shared amount multiple Kubernetes worker nodes. During the stress tests, any given one of these volumes may be bound by a PVC and mounted to a node, released, and bound by a different PVC and mounted to a different node. Given enough cycles (and generally the number is not that large), failur

[2020-09-14 19:06] ejweber commented on #94780
/sig storage

[2020-09-14 19:07] ejweber commented on #94780
/assign ejweber

[2020-09-14 19:12] BenTheElder commented on #94759
/sig node
/remove-sig testing
This check is owned by SIG node

[2020-09-14 19:14] BenTheElder commented on #94759
The `test/e2e` code has also not allowed this sort of dependency (beyond some legacy dockershim specific bits), but I guess it's somewhat more understandable to check in `e2e_node`.

[2020-09-14 19:48] Huang-Wei commented on #91029
Agree. As (1) we're not maintaining a multi-versioned scheduler framework, (2) the in-tree scheduler has totally migrated to plugin-based execution path since 1.18, and (3) scheduler-plugins has provided a number of data points proving the maturity and the scheduler framework design.

[2020-09-14 20:06] cmluciano commented on #92147
Related to https://github.com/kubernetes/kubernetes/pull/93427/

[2020-09-14 20:12] huggsboson commented on #93082
Hi @Huang-Wei thanks for responding!

Yeah I think the basic question is, we know 2 pods pod-a and pod-b each require require X cores.  But we know that as pod-b's cpu utilization increases, pod-a's cpu utilization decreases (e.g. in a blue-green scenario).  So we'd like to leverage that understanding to overcommit nodes.  This is especially important with fixed sized cluster (i.e. baremetal), and

[2020-09-14 20:23] jasongol commented on #92698
Arg... I spoke too soon.  I tried it again today and can confirm the issue is real.

`FROM ubuntu:bionic

RUN apt-get update && apt-get install -y apt-transport-https curl gnupg software-properties-common
RUN curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
RUN apt-add-repository 'deb https://apt.kubernetes.io/ kubernetes-xenial main'
RUN apt-get update
RUN apt-get ins

[2020-09-14 21:02] rikatz commented on #94640
/triage needs-information
/remove-triage unresolved

[2020-09-14 21:02] rikatz commented on #94640
/remove-kind bug

[2020-09-14 21:24] oze4 commented on #60807
Definitely the cleanest one liner! It's important to note that none of these "solutions" actually solve the root issue.

## [See here for the correct solution](https://medium.com/@cristi.posoiu/this-is-not-the-right-way-especially-in-a-production-environment-190ff670bc62)

That is the message would should be spreading :smile: not "yet another one liner".

[2020-09-14 21:39] thyarles commented on #60807
This solution solves one of the all possibilities. To look for all possible root causes and fix them, I use this script: https://github.com/thyarles/knsk

[2020-09-14 21:42] oze4 commented on #60807
@thyarles very nice!

[2020-09-14 22:00] Huang-Wei commented on #93082
As of today, both scheduler and kubelet honor the KSM (Kubernetes Resource Model) to take into account a Pod's resources **requests**, so you have to tweak the current implementation so as to overcommit, in these 2 components, which I don't believe is a trivial task.

I read it as a compound problem. But given that your rollout takes one day, it's more an overcommitting problem. Without enough reo

[2020-09-14 22:21] huggsboson commented on #93082
I wasn't aware of the fact that in-place mutation of pod resource requests was becoming an option.  That should definitely help.

Is this the proposal you are talking about?
https://github.com/kubernetes/enhancements/pull/686

[2020-09-14 22:54] kfox1111 commented on #94445
Yeah. its a hard problem no matter how you slice it.

I still think the principal of least surprise would have 1.2 become something like 1229Mi though. I don't think a user would ever be confused by it rounding up a smidge to give them a nice round number. Even if it has to go all the way out to a single byte. Them specifying 1.2Gi and it showing up as 1288490188800m is quite confusing. Even as a

[2020-09-14 22:57] huggsboson commented on #93082
I didn't realize resource requests were becoming mutable, that will help us successfully implement what we need re:blue-green whenever that is released.  Closing for now.

[2020-09-14 22:57] #93082 closed

[2020-09-14 23:04] Huang-Wei commented on #93082
Yes.

[2020-09-14 23:06] saikat-royc commented on #94745
The race between node unstage (NodeUnpublishVolume) and delete volume (DeleteVolume) is being fixed as part of https://github.com/kubernetes/kubernetes/pull/94737

For "volume unstage not invoked until pvc is deleted", this is expected behavior. Thoughts @msau42 @jingxu97

[2020-09-14 23:09] msau42 commented on #94745
When all pods using that volume have successfully unpublished, then unstage should be called. You shouldn't need to delete PVC to get trigger unstage.

@kubernetes/sig-storage-bugs

[2020-09-14 23:20] travisghansen commented on #94745
@saikat-royc and to be extra clear, in my case unstage/delete is **not** a race condition...delete is simply getting invoked before unstage. Subtle difference but different nonetheless.

[2020-09-14 23:27] cbanek commented on #49493
so I just ran into this myself.  I totally feel the linked and quite relevant xkcd, so I'll chime in here with the answer as it was for me.  I did have a password set, but the password (and therefore the basic auth string in the docker secret) was wrong.  Instead of saying something like incorrect password, it says no basic auth provided, even when it's trying to log in with that.  Given that you

[2020-09-14 23:29] saikat-royc commented on #94745
I havent been able to repro a case where the volume delete is not invoked. Can you share the kube-controller-manager and the csi external provisioner sidecar logs for investigation

[2020-09-14 23:34] travisghansen commented on #94745
Delete is invoke, it's simply invoked *before* unstage. Which is slightly different from the other issue where unstage was getting invoked first but delete is/was not waiting for it to finish.

I'm using rke-v1.1.7 with my own csi driver/project: https://github.com/democratic-csi/democratic-csi

For my testing I've been running the `nfs-client` sub-driver which is a csi implementation of the old n

[2020-09-14 23:49] saikat-royc commented on #94745
Ah sorry I misread.

So, from code
Kubelet before proceeding with pod delete, checks if pod can be [deleted](https://github.com/kubernetes/kubernetes/blob/19064f47389429f8360e1d6684bef3d770db9368/pkg/kubelet/kubelet_pods.go#L950) syncPod->canBeDeleted->PodResourcesAreReclaimed->podVolumesExist. This only checks for volume mounted in the pod directory [This check is correct because for a scenario w

[2020-09-14 23:53] #90195 closed

[2020-09-14 23:54] travisghansen commented on #94745
Unless I'm missing something it only addresses part of the issue:

1. unstage should be invoked as soon as no pods on the node are using the pv
2. delete should never be invoked while nodes still have the volume staged or published

Your fix seems to address 2 but not 1 correct?

[2020-09-14 23:56] saikat-royc commented on #94745
Yes for 2. For 1, we need to investigate kubelet code if there is any bug in unstage logic.

[2020-09-14 23:56] Riaankl commented on #92949
/assign @heyste

[2020-09-15 00:05] jingxu97 commented on #94745
@travisghansen, do you still have kubelet log around this happened? There should be some log mentioning
operationExecutor.UnmountDevice started ==> unpublish
operationExecutor.UnmountDevice started ==> unstage

[2020-09-15 00:08] travisghansen commented on #94745
I'm just shutting down for the day but I can reproduce this behavior 100%. I'll gather logs in a few hours and send them.

I am however certain kubelet was not restarted during the timeframe.

[2020-09-15 00:15] godomainz commented on #94772
@pacoxu

[code]

[code]

[code]

[code]

[2020-09-15 00:46] nikutelusuiphone opened #94787 "API request content, including pod template env data, are included in API responses"
**What happened**:
Kubernetes api server is returning sensitive data (passwords/secrets) when create/update api fails (Bad request or any other failures) for any pod/deployment and few more resources ?

**What you expected to happen**:
Api server should scrub any sensitive data before returning the response to the client.

**How to reproduce it (as minimally and precisely as possible)**:
While cre

[2020-09-15 00:51] nikutelusuiphone commented on #94787
/sig Security

[2020-09-15 00:55] andyzhangx commented on #94778
thanks, I think at least we should enable the e2e test(with same config as Linux) for Windows CSI migration first.

[2020-09-15 01:05] liggitt commented on #94787
Is the request to not include any of the input data in the server response? A successful create request echoes the input object as the response object. An actor that has access to the request/response already has the content being included in the object.

[2020-09-15 01:07] LalexH commented on #94640
first, i use “wget https://docs.projectcalico.org/manifests/calico.yaml” ，get the calico yaml file, I changed the configuration。-
   name: CALICO_IPV4POOL_IPIP
   value: "Never"
then, i  use “kubectl apply -f calico.yaml” install calico. at this time ，the cluster network is no problem
after, i use "kubectl delete -f calico.yaml" remove calico.  also use "kubectl apply -f calico.yaml" install again

[2020-09-15 01:29] pacoxu commented on #94772
kubelet started just 5min ago ？

https://github.com/kubernetes-sigs/metrics-server/issues/167#issuecomment-469914560
Check 10255 in kubelet param ？ telnet localhost 10255 on worker

metrics server deployment commands？

[2020-09-15 01:42] Lion-Wei commented on #94696
/assign HaonanFeng

[2020-09-15 01:49] mquilling opened #94788 "Mounting persistent volume of 1TB fails on nodepool"
**What happened**:
Creating a AKS cluster nodepool to run cassandra with a 1TB persistent volume works on initial mount.  If the pods are deleted then reinstalled the volume fails to mount with a timeout error.  This **does** work for a 512GB volume

**What you expected to happen**:
Mounting works regardless of size

**How to reproduce it (as minimally and precisely as possible)**:
cassandra.yaml

[2020-09-15 01:50] mquilling commented on #94788
/sig azure

[2020-09-15 01:51] mquilling commented on #94788
/sig storage

[2020-09-15 02:03] cofyc commented on #83323
/lifecycle frozen

[2020-09-15 02:05] pacoxu commented on #92287
https://github.com/kubernetes/enhancements/pull/1907 the KEP is updated.

Please add some comments if you are interested.

[2020-09-15 02:21] zhouya0 commented on #94755
`kubectl create deployment -- [command]` start from 1.19:
Ref: https://github.com/kubernetes/kubernetes/pull/91113

[2020-09-15 02:27] pacoxu commented on #94755
@saurabhIU  Please check 1.18 docs in https://v1-18.docs.kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-deployment-em-

This is new feature in 1.19

[2020-09-15 02:36] judgeaxl commented on #91601
@alculquicondor sorry, I already rebuilt the cluster for other reasons, but it may have been a network configuration problem related to multi-az deployments, and in what subnet the faulty node got launched, so I wouldn't worry about it for now in the context of this issue. If I notice it again I'll report back with better details. Thanks!

[2020-09-15 02:58] denkensk commented on #91492
/remove-lifecycle stale

[2020-09-15 03:12] travisghansen commented on #94745
OK, think I've found part of the issue. Still not sure why there's a difference in behavior between 1.17 and 1.18 but here's the error 1.18 is giving..

[code]

Did the detection for this become more strict in 1.18?

Essentially I have a scenario where my nodes have the 'root' of the nfs export mounted on all the nodes (outside k8s). This is what you see as `/vault`. Is kubelet somehow detecting t

[2020-09-15 03:21] xujihui1985 opened #94790 "Inject Node Info to Pod"
**What would you like to be added**:
Inject label on Node to Pod
**Why is this needed**:
we may have different standards node in one cluster, so when we deploy pod on these node, the qps/tps they can handle are different, I want to expose node info to the pod, so that when I start pod, I know that pod are on the machine with low capacity, then I can adjust the weight of the service that this pod p

[2020-09-15 03:31] travisghansen commented on #94745
OK, I'm near certain this has something to do with the error message above as I've tried the other sub-drivers and they don't exhibit the behavior. They also don't have overlapping mounts of effectively the same export.

I'm guessing something changed which made the above checks more strict which is resulting in the behavior seen..we should probably discuss details further and I'll see if it's pos

[2020-09-15 03:41] wawa0210 commented on #94790
/sig node

[2020-09-15 03:59] lyyao09 commented on #92460
We are seeing similar issue on Kubernetes v1.15.6

[2020-09-15 04:07] spiffxp opened #94791 "Metadata Concealment test exercises endpoints due to be removed 2020-09-30"
https://cloud.google.com/compute/docs/migrating-to-v1-metadata-server

This test (which runs in most e2e jobs that run on GCE): https://github.com/kubernetes/kubernetes/blob/master/test/e2e/auth/metadata_concealment.go#L34

Schedules a container that runs this: https://github.com/kubernetes/kubernetes/blob/master/test/images/metadata-concealment/check_metadata_concealment.go

Resulting in a number

[2020-09-15 04:07] spiffxp commented on #94791
/kind cleanup

[2020-09-15 04:51] wenyingd commented on #94673
Got it, thanks for the explaination.

[2020-09-15 05:12] hellogdc opened #94792 "Kubelet report hash of container spec to ApiServer"
By now, kubelet calculate the hash of container spec, and save it in container annotation. Why did not kubelet report hash of container spec to ApiServer by add a Hash field in api.ContainerStatus?
Thanks a lot!

[2020-09-15 05:16] hellogdc commented on #94792
/sig node

[2020-09-15 05:18] zhanw15 opened #94793 "kubeadm init phase upload-config: questions about annotation kubeadm.alpha.kubernetes.io/cri-socket"
Guys, I has two questions about the follow step:
https://github.com/kubernetes/kubernetes/blob/37cf1d6aaa5c5d0dba6e545a70d91e77d730e478/cmd/kubeadm/app/cmd/phases/init/uploadconfig.go#L127-L130

- Why add the annotation `kubeadm.alpha.kubernetes.io/cri-socket=xxx` for nodes, and where is it used ?
- I think it shoudn't add the annotations this step, because this phase is used to upload-config, not

[2020-09-15 05:19] zhanw15 commented on #94793
/sig cluster-lifecycle

[2020-09-15 05:19] zhanw15 commented on #94793
/area kubeadm

[2020-09-15 05:28] zhanw15 commented on #94793
@neolit123 Can you explain for me ? I want use `kubeadm init phase upload-config` create rbac and upload config, but I don't have a node named myhostname. I think is more appropriate do it at `kubeadm init phase mark-control-plane`.

[2020-09-15 06:42] yashvardhan-kukreja commented on #94602
can I pick this up? would love to start contributing to k8s from this issue :D

[2020-09-15 06:44] yashvardhan-kukreja commented on #94602
/assign

[2020-09-15 06:52] wenyingd opened #94794 "DNS e2e test cases fail with IPv6 traffic"
**What happened**:
If I run DNS relevant test cases on an IPv6 cluster (not a Dual-Stack cluster), some cases should fail, while all the cases could pass on an IPv4 cluster. The failed cases include,
[code]
All above cases fail when trying to resolve an IPv6 Record (AAAA) if the case has provided a name appended with ` ClusterDNSDomain` (cluster.local). I have tried to capture the DNS packets usin

[2020-09-15 06:52] wenyingd commented on #94794
/sig network

[2020-09-15 06:55] BenTheElder commented on #88832
this is still true, for anyone not using the debs/rpms you either have to reinvent these or do quite some digging to turn up the upstream ones. consumers are not likely to be aware of kubernetes/release to begin with.

[2020-09-15 07:12] yuanhuaiwang opened #94795 "pod is ContainerCreating for long time when create a pod in large cluster while kubelet report configmap is forbidden"
**What happened**:
create a pod with a new configmap as volume in a large cluster(node more than 10k, pod more then 100k), the pod's status is ContainerCreating for a long time more than 1 hour, after long time or scale down the number of pods, this pod will change status to Running
`Warning  FailedMount  2m18s                 kubelet, nodexx  Unable to mount volumes for pod "test-jialuo_default(b

[2020-09-15 08:50] pacoxu opened #94797 "Why not support volume backup like snapshot in csi ?"
**What would you like to be added**:
As volume snapshot will be GA in 1.20, is there any plan to support volume backups ?

[Volume snapshot](https://kubernetes-csi.github.io/docs/snapshot-restore-feature.html) is beta after 1.17.

**Why is this needed**:
Backup is not the same as snapshots in some scenarios.  Some storage system support backup  and why not add an interface for Backup so we can imp

[2020-09-15 09:22] pacoxu commented on #94794
Have you configure `--cluster-dns` in kubelet config file ?

https://github.com/kubernetes/kubernetes/blob/62b8faed4042e9f1a9c1e895ad1c36bb473eb6ee/test/e2e/network/dns.go#L47
It tries to nslookup 'kubernetes.default.svc.cluster.local' inside a pod(ClusterFirst, which will use --cluster-dns config in resolv.conf)

[2020-09-15 09:36] wenyingd commented on #94794
I didn't add any additional configuration in kubelet. From the packets I captured, the client Pod could add the suffix read from the resolve.conf. But the issue is it always appends a suffix, and never uses the configured name directly. While the failed cases are already using a name including the suffix which the client Pod is trying to append. This causes the coreDNS receives requests including

[2020-09-15 09:55] pacoxu commented on #94797
Some docs from aws
[(NJM_9656)_The_Right_Data_Protection_Strategy_for_AWS_EC2.pdf](https://github.com/kubernetes/kubernetes/files/5224046/NJM_9656._The_Right_Data_Protection_Strategy_for_AWS_EC2.pdf)

What Is EBS Volume Snapshot?

What Is Backup?

What Is Replication?

[2020-09-15 09:59] scbizu opened #94798 "docs: The default PV Reclaim Policy is different with the document"
**What would you like to be added**:

Change the default PV Reclaim Policy in the codebase or the document

**Why is this needed**:

Really misunderstanding when we just read the document and use the api package .

### The main issue

The default PV Reclaim Policy documented [here](https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/#why-change-reclaim-policy-of-a-persiste

[2020-09-15 10:00] cedi opened #94799 "Make `instanceReadyCheckTimeout` for OpenStack Provider configurable"
**What would you like to be added**:
Make `instanceReadyCheckTimeout` for OpenStack Provider configurable.
Currently it is hardcoded to two minutes in
`pkg/cloudprovider/provider/openstack/provider.go:112`

**Why is this needed**:
In our environment it's possible that machine creation in OpenStack lasts up to 142s, but the machine-controller timeouts after 120s, deletes the resources in OS and tri

[2020-09-15 10:02] scbizu commented on #94798
/sig docs

[2020-09-15 10:02] cedi commented on #94799
/sig cloud-provider

[2020-09-15 10:03] cedi commented on #94799
/wg Node

[2020-09-15 10:03] #94799 closed

[2020-09-15 10:12] pacoxu commented on #94794
Any logs for the failed case ?

ERRO[0000] no dns pods found with the labels [k8s-app=kube-dns, k8s-app=coredns] in namespace kube-system

I got the error message in my cluster at first, for the label is not the same. Check the pod and service, and change it to coredns or kube-dns

[2020-09-15 10:16] yashvardhan-kukreja commented on #94790
would like to pick this up :)

[2020-09-15 10:16] yashvardhan-kukreja commented on #94790
/assign

[2020-09-15 10:19] wenyingd commented on #94794
The error logs should be something like this

[2020-09-15 10:20] yashvardhan-kukreja commented on #94790
[code]

@xujihui1985 if you look at the above example of one of my pods, you can see that the output of `kubectl describe pod loki-0` gives you the name of the node on which that pod is deployed.

**So, do you want the labels of that node to be displayed as well?**

[2020-09-15 10:40] wawa0210 commented on #94798
This should refer to dynamic-provisioning
https://kubernetes.io/blog/2017/03/dynamic-provisioning-and-storage-classes-kubernetes/

[2020-09-15 10:40] liggitt commented on #94795
Releases older than 1.17 are no longer supported. In 1.18, dramatic improvements were made to the performance of the node authorizer, which likely resolves this issue. Is this able to be reproduced on 1.18 or newer?

[2020-09-15 10:59] wojtek-t commented on #65954
correct

[2020-09-15 11:00] neolit123 commented on #94793
Its the kubelet that would create the Node object.

[2020-09-15 11:00] fxposter commented on #65954
can you also tell what does "watch cache size" mean? is it number of objects?

[2020-09-15 11:02] wojtek-t commented on #94691
This is supposed to be no-op :) no auto-generated files should change

That's not the fix. The problem is with the test jobs themselves:
- for generating swagger doc, they actually generate different things than they generate when you call "make generated-files"

My PR is only a trigger for the problem, it's not a root cause.
The auto-generated files are correct, but as part of running swagger doc

[2020-09-15 11:45] scbizu commented on #94798
Still `Delete` not `Retain`?

[2020-09-15 12:06] wojtek-t commented on #65954
watchcache consists of the two parts:
- cache of current state of all objects (of a given type)
- some history of recent changes (N most recent watch events for objects of a given type)
the size of watchcache is basically the size of that transaction log

[BTW - note that in 1.19 this size was made dynamic and no longer will be statically configured]

[2020-09-15 12:19] knight42 commented on #94798
According to the comment here: https://github.com/kubernetes/kubernetes/blob/e36e68f5f6964a3e612b36bfea0bb17c8f05e083/staging/src/k8s.io/api/core/v1/types.go#L343-L349

The default policy is `Retain` when pv is manually created and `Delete` when  dynamically provisioned.

/remove-kind feature

[2020-09-15 12:33] dims commented on #93621
@bradtopol @estesp i still don't see any movement on this front!

[2020-09-15 13:51] godomainz commented on #94772
@pacoxu I tried this

[code]

But when I ran this command **sudo netstat -ap | grep -i "listen" | grep "kubelet"** I don't see any process running on 10255 and I never specified 10250  anywhere. I'm using kubernetes 1.19

[code]

metrics server deployment commands means this right ??

[code]

[2020-09-15 14:05] scbizu commented on #94798
OK ,  docs here https://kubernetes.io/docs/concepts/storage/persistent-volumes/#delete is correct , thanks for your time @knight42 .

[2020-09-15 14:05] #94798 closed

[2020-09-15 14:16] jafferaws commented on #91664
I have created a solution as a docker image and it is publicly available.
Please use it in your environment and let me know you feedback

https://hub.docker.com/r/shaikjaffer/node-watcher

[2020-09-15 14:24] pacoxu commented on #94772
you have use --config=/var/lib/kubelet/kubelet-config.yaml
please  check config in  /var/lib/kubelet/kubelet-config.yaml

[2020-09-15 14:30] jingxu97 commented on #94745
I checked the code around this part, there is no recent changes, from what I can see. The reason it failed is because when triggering UnmouontDevice, it first checks whether the globalmount path (/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-b768fbb2-5f1f-4093-8de7-b7b9c97906a4/globalmount) is still referenced by other mounts. If yes, it will abort the operation. In you case, there are a numbe

[2020-09-15 14:42] godomainz commented on #94772
@pacoxu

[code]

How to use **--read-only-port=10255** in kubelet-config.yaml file ?

[2020-09-15 14:45] cwsolee commented on #93621
@dims We are making good progress on all the 3 tests namely Integration, Conformance and E2E. We are running Integration tests for latest 3 release HEAD's on our local Jenkins setups, we are very close to be done and planning to ask how we can publish the results on GCR bucket soon. Could you guide us on publishing the results on GCR or any pointers are welcome? Regarding conformance and E2E tests

[2020-09-15 14:48] pacoxu commented on #94772
[code]

You may try this. I still don't know your root cause yet.

[2020-09-15 14:58] FabianKramm commented on #94280
@seans3, @soltysh, @pwittrock any chance you take a look at this?

[2020-09-15 14:58] jingxu97 commented on #91758
/remove-lifecycle stale

[2020-09-15 15:04] dims commented on #93621
please see https://github.com/kubernetes/test-infra/tree/master/testgrid/conformance and https://github.com/kubernetes/test-infra/tree/master/testgrid it should have all the info you need for integrating with testgrid, questions, please hop on slack #sig-testing channel.

[2020-09-15 15:07] pwittrock commented on #94280
@eddiezane can you make sure this is part of the next triage?

[2020-09-15 15:11] adtac commented on #89036
tl;dr: I've modified defaultpreemption to only look at a moving window of all nodes to consider for preemption. While this is very much preliminary work (i.e. acceptability of the  nodes getting preempted needs to be verified), the results from a performance perspective are very promising. Commit can be found here: https://github.com/adtac/kubernetes/commit/  5906bcc0917c0fd7207d669163124e2eaace5b

[2020-09-15 15:30] alculquicondor commented on #89036
Just to confirm, is the benchmark exercising a successful or unsuccessful preemption (meaning that no preemption of pods is possible)?

If the former, maybe we could use the same "percentageOfNodesToScore" approach (stop looking once a percentage of nodes would be schedulable after preempting some pods). But this wouldn't help the worst case scenario (unsuccessful preemption).

Other than that, be

[2020-09-15 15:34] cwsolee commented on #93621
Sounds good, thanks @dims

[2020-09-15 15:36] mikebrow commented on #94493
NodeProblemDetector is broken on nearly every run: https://github.com/containerd/cri/pull/1562

[2020-09-15 15:46] adtac commented on #89036
The benchmark requires all 5000 pods to be successfully preempted to be scheduled. After scheduling 4 pods/node, each node has insufficient resources to schedule a measurement pod without preemption, so the fact that the test completes is proof that each measurement pod preempted one or more initial pod.

Indeed. That approach should be similar to the approach I've taken with this experiment from

[2020-09-15 15:53] chaimk-als commented on #29789
Seems to be related to this case:
https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/1331
And this code:
https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/internal/alb/generator/name.go#L23

[2020-09-15 15:55] alculquicondor commented on #89036
I don't think we should stop looking for nodes in the case were preemption isn't possible. There could be just one node that can be preempted and we want to do it, because the incoming pod has higher priority.

How expensive is that line? It might help to keep the pods sorted. But probably most of the cost is in running the filter plugins anyways :/

[2020-09-15 15:57] andrewsykim commented on #29789
I'm going to close this issue because the in-tree cloud provider is deprecated and we are actively trying to remove it. We are looking into improving the naming of ELBs in the out-of-tree cloud provider implementation https://github.com/kubernetes/cloud-provider-aws.

/close

[2020-09-15 15:57] #29789 closed

[2020-09-15 15:58] #94500 closed

[2020-09-15 15:58] andrewsykim commented on #29789
For people watching this issue, we are also looking into allowing node names that are not the private DNS of the ec2 instance.

[2020-09-15 16:00] adtac commented on #89036
Yes, I agree. I meant to say that with my current approach, preemption might not be possible when looking at only 10% of the nodes, but with the percentageOfNodesToScore approach you suggested, your suggestion will be more robust because it will exhaust all nodes before confirming that preemption isn't possible. However, in scenarios where preemption is possible (this benchmark, for example), ther

[2020-09-15 16:02] voor commented on #29789
Please move your :+1: and requests to https://github.com/kubernetes/cloud-provider-aws/issues/124 to help prioritize

[2020-09-15 16:08] ahg-g commented on #89036
My bigger concern here is the worst case scenario: executing preemption when it really can't help. Typically the number of priority classes in a cluster is just a handful, we should capitalize on that. One idea is to track for each priority the nodes with at least one pod in that priority.

-1 -> node-a, node-b
0 -> node-a, node-c
1000 -> node-c, node-b

A pod with a specific priority would iterat

[2020-09-15 16:18] johngmyers commented on #89178
/remove-lifecycle stale

[2020-09-15 16:21] jsturtevant commented on #93276
@BenTheElder I was referring to the "optional, manually triggered presubmits" that was a suggestion from a previous comment.  I think it would be valuable for sig-windows to begin to run subset of optional tests that are agreed upon for windows changes to attempt to catch any regressions before they hit the CI tests.

I agree we need to focus on the stability of the release-ci, there are currently

[2020-09-15 16:32] adtac commented on #92229
/remove-lifecycle stale

[2020-09-15 16:39] nikhita commented on #92366
/triage support

[2020-09-15 16:53] damemi commented on #89178
Is this still being seen as a flake?

[2020-09-15 16:58] hakman commented on #89178
@damemi @johngmyers seems that it got better lately:
https://testgrid.k8s.io/kops-misc#kops-aws-ha-euwest1

[2020-09-15 17:06] adrianreber commented on #3949
@schrej Please have a look at my draft PR https://github.com/cri-o/cri-o/pull/4199 to see what my API changes are. I am not yet sure which are the right locations and processes to discuss the API changes, but I wanted to provide my changes to make it easier to discuss the topic further.

[2020-09-15 18:28] brianpursley opened #94806 "e2e test failure: error in waiting for ingress to get an address: Ingress failed to acquire an IP address within 10m0s"
### Failure cluster [86d40ed2ca9261b4a466](https://go.k8s.io/triage#86d40ed2ca9261b4a466)

##### Error text:
[code]
#### Recent failures:
[9/15/2020, 1:33:56 AM ci-ingress-gce-e2e](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-ingress-gce-e2e/1305741549916655618)
[9/15/2020, 1:09:58 AM ci-ingress-gce-e2e-multi-zone](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-ingress-gce-e2e-

[2020-09-15 18:43] MikeSpreitzer commented on #94738
I think the one in k8s.io/utils is necessary, because it is consumed by component-base, on which apimachinery depends.

I created https://github.com/kubernetes/utils/pull/190 to start fixing the clock package in utils.

[2020-09-15 18:57] bastienbc commented on #47202
How am I supposed to over-provision my cluster at 7 in the morning to 7 in the evening?
Where my users are, there is summer time and winter time.
So I cannot rely on that at all.

To NOT manage timezone with cronjobs was a very strange decision you took.

[2020-09-15 18:58] jsturtevant commented on #94626
Another area for warnings related to "pods setting both linux and windows options" is  #93220

[2020-09-15 19:03] zorro786 opened #94808 "Scheduler Plugins: Node order in NodeScoreList can change in calls to Normalize"
**What happened**: The score of some nodes after normalizing were swapped

**What you expected to happen**: Scores remain as it is per node name

**How to reproduce it (as minimally and precisely as possible)**: Modify the order of `scores` in the call to `NormalizeScore(ctx context.Context, state *framework.CycleState, pod *v1.Pod, scores framework.NodeScoreList)`

**Anything else we need to know

[2020-09-15 19:04] zorro786 commented on #94808
/sig scheduling

[2020-09-15 19:05] garimakemwal commented on #87733
/reopen

[2020-09-15 19:05] zorro786 commented on #94808
@ahg-g If this bug is valid, I would like to submit a fix for this.

[2020-09-15 19:06] motmot80 commented on #77310
Having the same issue on a windows host. Not using ":" in the target path worked.

[2020-09-15 19:26] #89274 closed

[2020-09-15 19:27] brianpursley opened #94809 "e2e test failure: error: failed to create clusterrolebinding: clusterrolebindings.rbac.authorization.k8s.io "e2e-test-cluster-admin-binding" already exists"
### Failure cluster [5b6df9d4650b8c2ce8e4](https://go.k8s.io/triage#5b6df9d4650b8c2ce8e4)

##### Error text:
[code]
#### Recent failures:
[9/15/2020, 3:31:33 AM ci-kubernetes-e2e-gci-gce-autoscaling-hpa-cm](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling-hpa-cm/1305771124411338752)
[9/15/2020, 3:20:00 AM ci-kubernetes-e2e-gci-gce-autoscaling-migs-hpa](htt

[2020-09-15 19:33] liggitt commented on #94626
is that always invalid? are multi-os images possible?

[2020-09-15 19:33] xujihui1985 commented on #94790
@yashvardhan-kukreja thanks for reply, yes I would like to have node labels on the pod so that I would inject the label as environment variable into container, application then could read the env and adjust weight of service

[2020-09-15 19:45] janosi commented on #92041
I guess it is a timing issue? Do you think some extra polling rounds would help?

[2020-09-15 20:12] fedebongio commented on #94748
/assign @wojtek-t
would you mind taking a look to this one? thanks!

[2020-09-15 20:12] jsturtevant commented on #94626
AppArmor is a linux only security module so it is not valid on windows.

I might have misunderstood the item.  What is a multi-os image?  It is possible to have multi-arch image manifests.

[2020-09-15 20:16] liggitt commented on #94626
e.g. https://www.docker.com/blog/docker-official-images-now-multi-platform/

[2020-09-15 20:23] neolit123 commented on #94809
cc @soltysh @zhouya0
https://github.com/kubernetes/kubernetes/pull/94609

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling-hpa-cm/1305716383220240387

the namespace from the provided object "kube-system" does not match the namespace "horizontal-pod-autoscaling-830". You must pass '--namespace=kube-system' to perform this operation.
the namespace from the p

[2020-09-15 20:24] neolit123 commented on #94809
related fix:
https://github.com/kubernetes/kubernetes/pull/94789

[2020-09-15 20:26] neolit123 commented on #94793
duplicate of:
https://github.com/kubernetes/kubeadm/issues/1924

/close

[2020-09-15 20:26] #94793 closed

[2020-09-15 20:31] yashvardhan-kukreja commented on #94790
Got it @xujihui1985  !
I'll hop onto implementing this :)
So, just so that we are on the same page, (at the risk of repeating myself here 🙈 ,) so, considering the pod `loki-0` is deployed on a node with the labels `type=t2.micro`, `region=us-east-1` and `ebs-optimized=true` ,
then, here's how the output of `kubectl describe pod loki-0` would look like, after I implement this feature...

[code]

[2020-09-15 20:31] neolit123 commented on #94757
the logic is here:
https://github.com/kubernetes/kubernetes/blob/e077b0ffa48b1c0300a2cb25dd5d45d6fc358ade/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L42

you can see what names are valid in this test:
https://github.com/kubernetes/kubernetes/blob/e077b0ffa48b1c0300a2cb25dd5d45d6fc358ade/staging/src/k8s.io/apimachinery/pkg/util/validation/validation_test.go#L247

the function

[2020-09-15 20:36] neolit123 commented on #94757
actually let's leave this open in case apimachinery wish to comment.
sorry for closing so early.

/reopen
/sig api-machinery

[2020-09-15 20:42] bergerx commented on #90986
Apparently we hit this issue today as a result of replacing the nodepool. We added 2 new nodepools and deleted the old one, and now we have 718 of 1672 pods stuck with this error in one of our clusters. The volumes are failing to be attached to new pods, the VMSS for old nodepool is removed. In AKS portal disks are still reported to be attached to VM instances in the VMSS that was deleted. hundred

[2020-09-15 20:46] bbyrne5 commented on #94498
I am still planning on working on this, I am just having some dev environment issues I am hoping to resolve in the next few days. I'll update again when I get them resolved.

[2020-09-15 20:48] alculquicondor commented on #91601
/retitle Some nodes are not considered in scheduling when there is zone imbalance

[2020-09-15 20:53] bergerx commented on #90986
/remove-lifecycle rotten

[2020-09-15 20:54] nikutelusuiphone commented on #94787
@liggitt
We have a logging framework that logs all of the api errors and we are observing a lot of sensitive information in the api logs including database passwords, tokens, secrets. I understand user is entering the data and is already aware of what is being returned but it is not the case with our logging framework where different people have access to it.

We are trying to see if the api-serve

[2020-09-15 21:09] liggitt commented on #94787
Providing details about the invalid values is desired in non-sensitive scenarios, especially when the invalid nature occurs because of a mismatch between how the client thinks it is sending the data and the server thinks it is receiving it.

No fields in a pod / container / pod template spec are considered sensitive. See the following references for the recommended methods for injecting sensitive

[2020-09-15 21:09] adtac commented on #94808
I don't think the scheduler expects the plugin to switch order of scores in NormalizeScore, so I believe the plugin is at fault here. Is this happening with an in-tree scoring plugin?

[2020-09-15 21:15] adtac opened #94810 "[flaky unit test] plugin/webhook/validating"
**Which jobs are flaking**: pull-kubernetes-bazel-test

**Which test(s) are flaking**: `go_test: //staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/go_default_test:run_2_of_2`

**Testgrid link**: https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=94782

Example pass: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/94782/pull-kubernetes-bazel-test/1305

[2020-09-15 21:18] adtac commented on #94810
Looks like `go_test: //pkg/kubelet/cm/devicemanager/go_default_test:run_2_of_2` is flaky too. Example fail: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/94782/pull-kubernetes-bazel-test/1305963925329678341

[2020-09-15 21:21] alculquicondor commented on #94810
/sig api-machinery

[2020-09-15 21:44] brianharwell commented on #94533
Any feedback from the Kubernetes Devs?

[2020-09-15 21:55] nikutelusuiphone commented on #94787
Below is a sample log entry (redacted).  This clearly is a bad way to include secrets in the template and some of our new team members are still doing this perhaps to test out a scenario quickly(not a valid reason still) or not knowing about Secret API objects. Our log is retained for a while and this makes it even more difficult to constantly scrub all of the old values.

Is it possible to extend

[2020-09-15 21:59] dramich opened #94811 "updateUnfinishedWorkLoop uses a large amount of CPU at idle"
**What happened**:
When we scale Rancher to 1000's of clusters we end up spending a large percentage of
our time waking up and doing nothing across 10s of thousands of goroutines. This was seen as constantly consuming 2-3 cores while the system was in an 'idle' state with approx. 78k queues being active.

**What you expected to happen**:
I would expect these goroutines to not be running if there i

[2020-09-15 22:01] dramich commented on #94811
/sig api-machinery

[2020-09-15 22:13] zorro786 commented on #94808
I see framework at fault for two reasons:

1) Scheduler shouldn't depend on the order of scores returned by the plugins IMO. Normalization can involve several things including sorting etc. that can change the order of scores.
2) Since plugins are exposed to users this needs to be taken care in the framework as defensive programming.

Not happening with in-tree scoring plugin.

[2020-09-15 23:14] adtac commented on #89036
I've opened a PR to enumerate fewer candidates (improves the average case). As discussed offline and as mentioned by @ahg-g, the improvements made by this PR will be orthogonal to the one proposed in https://github.com/kubernetes/kubernetes/issues/89036#issuecomment-692817149 (which I'll be doing too, but later).

[2020-09-15 23:15] jsturtevant commented on #94626
Thanks for confirming. Since it is possible to have multi-os image (multi-arch) I don't think that we would be able to effectively warn for pods that set both linux and windows options.  In azure we use a mutli-os/multi arch image for the pause container: `mcr.microsoft.com/oss/kubernetes/pause:1.4.0` which has a manifest for linux and windows:

[code]

[2020-09-15 23:17] carnott-snap commented on #82531
/remove-lifecycle stale

[2020-09-15 23:17] freehck-codefresh commented on #15478
Any progress with it?
I was looking specifically for an ability to setup pods' containers to log into the external logstash, specifying docker's gelf log-driver. Setting it by default for all the containers in /etc/docker/daemon.json seems to be an overhead.

[2020-09-15 23:18] freehck commented on #15478
Any progress with it?
I was looking specifically for an ability to setup pods' containers to log into the external logstash, specifying docker's gelf log-driver. Setting it by default for all the containers in /etc/docker/daemon.json seems to be an overhead.

[2020-09-15 23:21] #94655 closed

[2020-09-15 23:21] dashpole commented on #93165
I don't actually see anything in #64801 that suggests we should ignore windows nodes for apparmor.  Can you link to it?

[2020-09-15 23:26] liggitt commented on #94810
Thanks for the report. Please report individual failing tests/packages so the responsible sigs can be assigned. The cm/devicemanager issue is tracked in https://github.com/kubernetes/kubernetes/issues/94547

[2020-09-15 23:26] adtac commented on #94808
Plugins are assumed to be trusted. For example, any plugin can modify the cycle state data of any other plugin.