[2016-11-22 09:14] zhouhaibing089 commented on #19317
The new issue is not the same as the original one, I think we need to create another new issue.

[2016-11-22 09:21] rmohr commented on #36885
Yes, agreed. The direction of Clayton and David sounds much better than what I proposed.

[2016-11-22 09:21] #36885 closed

[2016-11-22 09:22] zhouhaibing089 opened #37278 "namespace in terminating status when there is thirdpartyresources created"
When there are ThirdpartyResources created, a namespace will not be able to be deleted successfully.

logs from kube-controller-manager:

[code]

logs from kube-apiserver:

[code]

**steps to reproduce**:

[code]

**kubernetes version**: master branch HEAD.

[code]

[2016-11-22 09:23] zhouhaibing089 commented on #19317
created: https://github.com/kubernetes/kubernetes/issues/37278

[2016-11-22 09:27] nasry commented on #30210
@Ladicle  does my config is wrong ?
flannel.1  `inet 10.20.19.0  netmask 255.255.0.0`
docker0  `inet 10.20.19.1  netmask 255.255.255.0`
flannel-config.json:
`{
  "Network": "10.20.0.0/16",
  "SubnetLen": 24,
  "Backend": {
    "Type": "vxlan",
    "VNI": 1
  }
`

[2016-11-22 09:30] foxish commented on #37278
/cc @lavalamp @caesarxuchao

[2016-11-22 09:38] nebril commented on #37250
I think you should find what you are looking for here: http://kubernetes.io/docs/user-guide/node-selection/ . Node affinity feature is in alpha right now, check it out.

[2016-11-22 09:40] wojtek-t commented on #37232
@mwielgus - can you write exactly how did you reproduce it?

[2016-11-22 09:41] nebril commented on #37233
I think this question belongs on stackoverflow.com , under `kubernetes` tag.

[2016-11-22 09:45] bluecmd commented on #30961
When I gave kubectl a malformed YAML I received this error. I would argue the bug here is to make the error message more clear when using multiple YAMLs in the same file. The line number above refers to the start of the current section ('---' delimited YAMLs) which is quite confusing if you have many configs in the same file.

Example (purposely malformed Deployment):
[code]

Output:
[code]

Note:

[2016-11-22 09:52] mwielgus commented on #37232
@wojtek-t I followed this: https://github.com/kubernetes/kubernetes/issues/34772#issuecomment-260594667. @fgrzadkowski also reproduced the bug with these instructions but on the cluster autoscaler side (which reuses a big part of scheduler's logic).

[2016-11-22 10:00] fgrzadkowski commented on #11935
Quick comments - events where not designed to be the API that other components should depend on. That's why we added `Scheduled` pod condition with reason `Unschedulable`.

[2016-11-22 10:02] fgrzadkowski commented on #34102
Markin as release blocker as we don't understand the root cause.

@mwielgus Can you please look into this to understand why we see so many flakes for CA tests?

[2016-11-22 10:06] nasry commented on #30210
@Ladicle  thanks for your help, my configuration is right I had a mistake in the skydns-rc.yml file :
I have `-cmd=nslookup kubernetes.default.svc.cluster.local MASTER_IP >/dev/null` instead of `-cmd=nslookup kubernetes.default.svc.cluster.local 127.0.0.1 >/dev/null`
Replacing th MASTER_IP by 127.0.0.1 solved me the problem
Thanks

[2016-11-22 10:17] andyxning commented on #11935
@fgrzadkowski IIUC, you mean that event is not reliable and event is not designed to be depended on for usage like this. The most reliable way is to querying pod info and checking for `Scheduled` value of a pod spec.

[2016-11-22 10:18] #35722 closed

[2016-11-22 10:33] fgrzadkowski commented on #11935
Scheduler will emit events, but they are not considered to be part of the api for other components.

Yes, you should just check pod condition, which is part of PodStatus.

[2016-11-22 10:39] zhouhaibing089 commented on #37278
ref: https://github.com/kubernetes/kubernetes/pull/35947

[2016-11-22 11:13] JulienLenne commented on #34101
Hi everyone,
I just finished a Vagrant box with centos 7.2 and kubeadm with weave-net and dashboard.
[vagrant-centos-kubernetes](https://github.com/JulienLenne/vagrant-centos-kubernetes)
I include all solved issues in this post. Thank you to @petergardfjall and @errordeveloper !

@avkonst replace all occurences of kube-proxy-amd64 by kube-proxy maybe ... just check it with a get nodes

[2016-11-22 11:19] kargakis commented on #36574
@saad-ali i have a fix for this: https://github.com/kubernetes/kubernetes/pull/36644 - I am setting the milestone to v1.5 to get it merged.

[2016-11-22 11:33] bogdando commented on #35314
@jbdeda got it, thanks! merging kubeadm into kubectl looks like a very good idea to me, even tho a longterm.

[2016-11-22 11:41] kramarz commented on #37216
Using replace is sufficient for me. Thanks. If I can suggest anything, then empty string and null should be distinguished in api (even if it is not distinguished internally)

[2016-11-22 11:48] jgeraerts commented on #30258
@saad-ali  @rootfs @colemickens

Could this be caused by something else than azure_dd too? Because i see them also for secret mounts

`azureuser@k8s-agent-EE097672-0:~$ mount | grep 870ea111-aee6-11e6-b27f-000d3a22f72b
tmpfs on /var/lib/kubelet/pods/870ea111-aee6-11e6-b27f-000d3a22f72b/volumes/kubernetes.io~secret/default-token-8futo type tmpfs (rw,relatime)
tmpfs on /var/lib/kubelet/pods/870ea111

[2016-11-22 11:50] Ladicle commented on #30210
I'm glad you to resolve it 👍

[2016-11-22 11:54] Crassirostris commented on #37030
@xcompass Did you have a chance to test an image I built?

[2016-11-22 12:03] #36574 closed

[2016-11-22 12:08] jgeraerts commented on #30258
Another thing that catches my eye is that i always get timeout messages for attaching/mounting the disks and it takes a lot of time for the container to be started.

[code]

[2016-11-22 12:30] pigletfly commented on #33729
it works for me,I am using k8s v1.4.6. @sheerun

[2016-11-22 12:40] #37107 closed

[2016-11-22 12:52] pidah commented on #19317
we are hitting this issue atm on 1.4.6

[2016-11-22 13:12] jszczepkowski commented on #37163
Test could not delete namespace after  the execution was finished. The bug is not related to HPA.

[2016-11-22 13:15] jszczepkowski commented on #37082
Test could not delete replication controller after the execution. The bug is not related to HPA.

[2016-11-22 13:15] jszczepkowski commented on #35871
The test failed while getting replica set. The bug is not related to HPA.

[2016-11-22 13:17] jszczepkowski commented on #33878
The test failed while stopping replication controller after the execution. The bug is not related to HPA.

[2016-11-22 13:18] jszczepkowski commented on #32642
The test failed while deleting service after the execution. The bug is not related to HPA.

[2016-11-22 13:27] wojtek-t commented on #37232
@paul-symphony - your usecase is working as intended; we consume some part of resources for system pods (e.g. kube-proxy). So you pretty much can't schedule 4-cpu pod on a 4-cpu node.

[2016-11-22 13:52] wojtek-t commented on #37232
@mwielgus - I think that your original description of the problem is incorrect. Basically what happened in your situation is that:
- you indeed have a node with some free space on it.
- but the pod that you pasted failed from w __known__ reason - scheduler scheduled it on a node, where there weren't any free resources, and kubelet rejected it

That said, there is clearly a bug in scheduler.

I man

[2016-11-22 14:05] jsafrane commented on #37239
IMO, if you're happy with alpha behavior, keep it there and remove the annotation as @saad-ali suggests when 1.6 is released.

[2016-11-22 14:07] k82cn commented on #36716
@timothysc / @davidopp , it seems I missed sig meeting because of time zone :(.

[2016-11-22 14:20] bogdando commented on #6848
This looks related https://github.com/docker/docker/pull/17034

[2016-11-22 14:29] rootfs commented on #30258
@jgeraerts how did you start kubernetes and kubelet? Was kubelet running inside a container? Do you have kubelet and controller master logs?

[2016-11-22 14:32] dims commented on #35954
@madhusudancs referenced PR has merged. So closing this one

[2016-11-22 14:32] #35954 closed

[2016-11-22 14:35] dims commented on #36665
@nikhiljindal https://github.com/kubernetes/test-infra/pull/1129 has merged Can you please check on the runs?

[2016-11-22 14:37] dims commented on #36589
Since https://github.com/kubernetes/kubernetes/pull/36840 has merged, there's nothing more we can do here with release-blocker status, so switching it to non-release-blocker (pending additional testing?)

[2016-11-22 14:49] rootfs commented on #30258
@jgeraerts you get multiple tmpfs mounts when you have more than 1 replicas in your rc.

what does your mount output look like?

[2016-11-22 14:52] dims commented on #33882
There are Five PR(s) in this group "Feature:Reboot" which have various degrees of flakiness:
https://github.com/kubernetes/kubernetes/issues/33882
https://github.com/kubernetes/kubernetes/issues/33405
https://github.com/kubernetes/kubernetes/issues/36230
https://github.com/kubernetes/kubernetes/issues/33874
https://github.com/kubernetes/kubernetes/issues/34123

[2016-11-22 14:52] dims commented on #33405
There are Five PR(s) in this group "Feature:Reboot" which have various degrees of flakiness:
https://github.com/kubernetes/kubernetes/issues/33882
https://github.com/kubernetes/kubernetes/issues/33405
https://github.com/kubernetes/kubernetes/issues/36230
https://github.com/kubernetes/kubernetes/issues/33874
https://github.com/kubernetes/kubernetes/issues/34123

[2016-11-22 14:52] dims commented on #36230
There are Five PR(s) in this group "Feature:Reboot" which have various degrees of flakiness:
https://github.com/kubernetes/kubernetes/issues/33882
https://github.com/kubernetes/kubernetes/issues/33405
https://github.com/kubernetes/kubernetes/issues/36230
https://github.com/kubernetes/kubernetes/issues/33874
https://github.com/kubernetes/kubernetes/issues/34123

[2016-11-22 14:52] dims commented on #33874
There are Five PR(s) in this group "Feature:Reboot" which have various degrees of flakiness:
https://github.com/kubernetes/kubernetes/issues/33882
https://github.com/kubernetes/kubernetes/issues/33405
https://github.com/kubernetes/kubernetes/issues/36230
https://github.com/kubernetes/kubernetes/issues/33874
https://github.com/kubernetes/kubernetes/issues/34123

[2016-11-22 14:52] dims commented on #34123
There are Five PR(s) in this group "Feature:Reboot" which have various degrees of flakiness:
https://github.com/kubernetes/kubernetes/issues/33882
https://github.com/kubernetes/kubernetes/issues/33405
https://github.com/kubernetes/kubernetes/issues/36230
https://github.com/kubernetes/kubernetes/issues/33874
https://github.com/kubernetes/kubernetes/issues/34123

[2016-11-22 14:55] dvohra commented on #34134
kubelet on the node is already started.

Would it be the calico.yaml addon to apply?
http://docs.projectcalico.org/v1.6/getting-started/kubernetes/installation/hosted/calico.yaml

Any modifications required to calico.yaml or apply as such with default settings?

[2016-11-22 15:04] paul-symphony commented on #29166
In GCE where's the kubelet log?  This is the only relevant logging I could find on nodes when this happens: https://gist.github.com/paul-symphony/a3eac4f043869fddf76ad609028487b9

That said, I can reproduce it at will.  In fact, I cannot use a normal GCE persistent disk with K8s at all right now.
[code]

I managed to get around it by creating a new image off of a preexisting image that for some re

[2016-11-22 15:06] gmarek commented on #37232
We need to make sure that deduplicated FIFO queue that we use in the scheduler is really deduplicated.

[2016-11-22 15:14] rootfs commented on #30258
I haven't got a way to reproduce duplicate azure disk mounts yet. I tried rc with >1 replica and multiple pods with the same azure disk, but none could produce duplicate mount.

I am using latest `release-1.5` code.

@colemickens @jgeraerts can you share how you got into this situation?

Note, each azure disk is mounted to `/var/lib/kubelet/plugins`, then bind mounted to `/var/lib/kubelet/pods` fo

[2016-11-22 15:40] mtaufen commented on #37257
That sounds long to me. Do you see the same behavior when you run it without the `-M` flag?

[2016-11-22 15:43] ranhsd commented on #37181
Hi @resouer , thanks for your answer. I managed to figure it out. What i did is create a secret from file and then mount volume and consume the volume inside my pod and then put the path to the secret.

[2016-11-22 15:43] #37181 closed

[2016-11-22 15:47] jgeraerts commented on #30258
@rootfs The system was initially setup using Azure Container Services using [this ](https://github.com/Azure/azure-quickstart-templates/tree/master/101-acs-kubernetes) arm template. That template deployed 1.4.5 at the time i initialized it.

It starts the kubelets as a container. To "upgrade" to 1.5.0.beta.1 i manually modified the systemd kubelet service definition and restarted the whole batch o

[2016-11-22 15:48] pidah commented on #37278
we are experiencing this issue on 1.4.6 atm

[2016-11-22 16:02] luxas commented on #37265
Quite a lot of information is here: https://docs.google.com/document/d/1v4k7eN-eetHbbpTAG7WuioRAMsK_FVGi1yC3VIn4Inw/edit#heading=h.8dh1uxinqwag

[2016-11-22 16:08] jgeraerts commented on #30258
The controller log of today

[controller.20161122.zip](https://github.com/kubernetes/kubernetes/files/606893/controller.20161122.zip)

Note i filtered out the "touching" entries because there were 1681655 of these lines today.

[code]

[2016-11-22 16:08] Crassirostris opened #37292 "Container logs rotation"
Recently I was running some load test on the logging subsystem in docker and after a while, fluentd (logging agent) started to write warning in it's logs:

[code]

So it seems like the lines read from docker log files (in json format by default) are somehow damaged. Further investigation showed that container logs are constantly being rotated and the hypothesis is that lines are somehow being dama

[2016-11-22 16:12] jgeraerts commented on #30258
The master kubelet logs of today (not so interesting i think)

[master-kubelet.20161122.log.zip](https://github.com/kubernetes/kubernetes/files/606904/master-kubelet.20161122.log.zip)

[2016-11-22 16:17] jgeraerts commented on #30258
And the agent logs. I actually have 10 agents, but only first 3 are schedulable at the moment.

[agent-kubelet.20161122.zip](https://github.com/kubernetes/kubernetes/files/606914/agent-kubelet.20161122.zip)

[2016-11-22 16:26] dvasilen commented on #15128
+1

[2016-11-22 16:36] #35381 closed

[2016-11-22 16:36] #37110 closed

[2016-11-22 16:36] mikedanese commented on #35314
kubectl is a client binary, but kubeadm is a server binary. You would almost never use kubeadm where you use kubectl and vice versa.

[2016-11-22 16:36] fejta commented on #37110
Only things on ci-*

[2016-11-22 16:40] fejta commented on #37116
Some flakiness around starting kubemark clusters. In GCE testing we use the pattern ixdy suggests pretty extensively: retry requests on 500-level failures and if an retried insertion fails with already exists consider it a success.

[2016-11-22 16:40] #37147 closed

[2016-11-22 16:40] #37152 closed

[2016-11-22 16:42] #37153 closed

[2016-11-22 16:43] #37154 closed

[2016-11-22 16:43] fejta commented on #37156
Sen what is the plan for migrating these to bootstrap?

[2016-11-22 16:44] fejta commented on #37157
Bootstrap?

[2016-11-22 16:56] luxas commented on #35314
Totally agree with @mikedanese

@jbeda I asked because I've thought about the releasing issue, for example the commits for different repos would definitely not match each other. Right now we're coupling the binaries together in a tarball per commit in the main repo. We need to think about how we should workaround that. (For example by ordering the tarballs/folders in `kubernetes-release-dev` by ti

[2016-11-22 17:12] bgrant0607 commented on #37233
http://kubernetes.io/docs/search/?q=scale

If you have further questions, please ask on stackoverflow.

[2016-11-22 17:12] #37233 closed

[2016-11-22 17:14] bgrant0607 commented on #37207
We also need every test to be associated with a SIG so that we can automatically label the automatically created issues.

[2016-11-22 17:21] jingxu97 commented on #29166
@paul-symphony, please run command "sudo journalctl -u kubelet > /path/kubelet.log" to save your log.

[2016-11-22 17:24] bgrant0607 commented on #14396
Was addressed by #22065.

[2016-11-22 17:24] #14396 closed

[2016-11-22 17:26] bgrant0607 commented on #37086
One could always delete the RCs and then re-create them.

I think the most compelling case is scaling down and choosing a victim, which some other systems (e.g., Marathon) support. For that, a simple grace period before choosing a victim would suffice. We've discussed that previously in a number of issues.

[2016-11-22 17:27] jlowdermilk commented on #33702
I'm still struggling to get a repro, but I think I understand the problem.

Apiserver is crashing almost exactly 1 minute after reporting all nodes and components as healthy. You can see this from the kubelet logs on any node:

[code]

Then one minute later it crashes

[code]

From collected system logs it actually looks like the apiserver goes back to healthy a minute later. Unfortunately this pa

[2016-11-22 17:32] bgrant0607 commented on #37047
See also #37048.

[2016-11-22 17:37] soltysh commented on #12298
@erictune I'm wondering, after reading @bgrant0607 comment from the linked issue I'm sure this issue could be closed. You fixed the label generation for job and for RC we won't be going this way, but instead we'll allow changing the lables. In that case the issues doesn't make sense anymore, imho.

[2016-11-22 17:37] mikedanese commented on #36987
This issue was moved to kubernetes/kubeadm#1

[2016-11-22 17:37] #36987 closed

[2016-11-22 17:38] mikedanese commented on #36825
This issue was moved to kubernetes/kubeadm#2

[2016-11-22 17:38] #36825 closed

[2016-11-22 17:39] mikedanese commented on #36697
This issue was moved to kubernetes/kubeadm#3

[2016-11-22 17:39] #36697 closed

[2016-11-22 17:39] dvohra commented on #34134
Is a etcd cluster not created by default with kubeadm?

Applied a pod network as suggested.

`kubectl apply -f calico.yaml`

calico.yaml is from http://docs.projectcalico.org/v1.6/getting-started/kubernetes/installation/hosted/calico.yaml

Getting
`etcd cluster is unavailable or misconfigured; error #0: dial tcp 127.0.0.1:2379: getsockopt: connection refused\n; Skipping pod"`

[2016-11-22 17:39] alejandroEsc opened #37297 "make cross fails on OSX (10.11.6)"
BUG REPORT:

**Environment**:
- **OS** (e.g. from /etc/os-release): OSX 10.11.6
- **Kernel** (e.g. `uname -a`):

**What happened**:
Running the following:

`$ make clean`
`$ make cross`

The output is:

[code]

where that error is spewed out several times.

I suspect it has to do with building ARCH=arm builds.

What i noticed is this that line 476 in golang.sh adds
the additional flag when buildin

[2016-11-22 17:40] mikedanese commented on #36670
This issue was moved to kubernetes/kubeadm#4

[2016-11-22 17:41] #36670 closed

[2016-11-22 17:42] mikedanese commented on #36573
This issue was moved to kubernetes/kubeadm#5

[2016-11-22 17:42] #36573 closed

[2016-11-22 17:43] mikedanese commented on #36301
This issue was moved to kubernetes/kubeadm#6

[2016-11-22 17:43] #36301 closed

[2016-11-22 17:43] mikedanese commented on #36255
This issue was moved to kubernetes/kubeadm#7

[2016-11-22 17:43] #36255 closed

[2016-11-22 17:43] mikedanese commented on #36150
This issue was moved to kubernetes/kubeadm#8

[2016-11-22 17:43] #36150 closed

[2016-11-22 17:44] mikedanese commented on #36135
This issue was moved to kubernetes/kubeadm#9

[2016-11-22 17:44] #36135 closed

[2016-11-22 17:45] mikedanese commented on #36026
This issue was moved to kubernetes/kubeadm#10

[2016-11-22 17:45] #36026 closed

[2016-11-22 17:45] mikedanese commented on #35875
This issue was moved to kubernetes/kubeadm#11

[2016-11-22 17:45] #35875 closed

[2016-11-22 17:46] mikedanese commented on #35818
This issue was moved to kubernetes/kubeadm#12

[2016-11-22 17:46] #35818 closed

[2016-11-22 17:46] mikedanese commented on #35807
This issue was moved to kubernetes/kubeadm#13

[2016-11-22 17:46] #35807 closed

[2016-11-22 17:46] mikedanese commented on #35779
This issue was moved to kubernetes/kubeadm#14

[2016-11-22 17:46] #35779 closed

[2016-11-22 17:47] mikedanese commented on #35729
This issue was moved to kubernetes/kubeadm#15

[2016-11-22 17:47] #35729 closed

[2016-11-22 17:47] mikedanese commented on #35723
This issue was moved to kubernetes/kubeadm#16

[2016-11-22 17:47] #35723 closed

[2016-11-22 17:47] mikedanese commented on #35712
This issue was moved to kubernetes/kubeadm#17

[2016-11-22 17:47] #35712 closed

[2016-11-22 17:50] mikedanese commented on #35710
This issue was moved to kubernetes/kubeadm#19

[2016-11-22 17:50] #35710 closed

[2016-11-22 17:56] jbeda commented on #35314
Wrt `kubeadm` being a server binary -- I'm not so sure it is clear cut.  As we do things like bootstrap token management, that is a "client" type thing.  Similarly, as we streamline the TLS bootstrap stuff and break that out into separate "phase" commands these things may overlap with `kubectl`.

In addition, it isn't a "server" in that it isn't a daemon process but rather a short lived "client" i

[2016-11-22 17:58] mikedanese commented on #35642
This issue was moved to kubernetes/kubeadm#20

[2016-11-22 17:58] #35642 closed

[2016-11-22 17:59] mikedanese commented on #35535
This issue was moved to kubernetes/kubeadm#21

[2016-11-22 17:59] #35535 closed

[2016-11-22 17:59] mikedanese commented on #35133
This issue was moved to kubernetes/kubeadm#22

[2016-11-22 17:59] #35133 closed

[2016-11-22 18:01] thockin commented on #6545
a) We don't want to inject more automatic variables.  We should prefer to
publish the configuration via a ConfigMap and let users ingest it if they
want it.

b) Please don't assume a single CIDR for the whole cluster.  It's a bad
assumption, and it will break in the future.

On Tue, Nov 22, 2016 at 12:47 AM, Robert Bailey <notifications@github.com>
wrote:

[2016-11-22 18:02] mikedanese commented on #35788
I think that provisioning is out of scope for main repo and kubeadm. We would happily accept a link to an external github repo that implements this in our docs.

[2016-11-22 18:02] #35788 closed

[2016-11-22 18:02] mikedanese commented on #35536
This issue was moved to kubernetes/kubeadm#23

[2016-11-22 18:02] #35536 closed

[2016-11-22 18:03] mikedanese commented on #34025
This issue was moved to kubernetes/kubeadm#24

[2016-11-22 18:03] #34025 closed

[2016-11-22 18:03] mikedanese commented on #34307
This issue was moved to kubernetes/kubeadm#25

[2016-11-22 18:03] #34307 closed

[2016-11-22 18:04] mikedanese commented on #34324
This issue was moved to kubernetes/kubeadm#26

[2016-11-22 18:04] #34324 closed

[2016-11-22 18:09] mikedanese commented on #34132
This issue was moved to kubernetes/kubeadm#28

[2016-11-22 18:09] #34132 closed

[2016-11-22 18:09] mikedanese commented on #34420
This issue was moved to kubernetes/kubeadm#29

[2016-11-22 18:09] #34420 closed

[2016-11-22 18:10] mikedanese commented on #35378
This issue was moved to kubernetes/kubeadm#30

[2016-11-22 18:10] #35378 closed

[2016-11-22 18:12] mikedanese commented on #35591
This issue was moved to kubernetes/kubeadm#31

[2016-11-22 18:12] #35591 closed

[2016-11-22 18:13] mikedanese commented on #35502
This issue was moved to kubernetes/kubeadm#32

[2016-11-22 18:13] #35502 closed

[2016-11-22 18:13] mikedanese commented on #35413
This issue was moved to kubernetes/kubeadm#33

[2016-11-22 18:13] #35413 closed

[2016-11-22 18:19] mikedanese commented on #35264
This issue was moved to kubernetes/kubeadm#34

[2016-11-22 18:19] #35264 closed

[2016-11-22 18:20] mikedanese commented on #35084
This issue was moved to kubernetes/kubeadm#35

[2016-11-22 18:20] #35084 closed

[2016-11-22 18:20] mikedanese commented on #35073
This issue was moved to kubernetes/kubeadm#36

[2016-11-22 18:20] #35073 closed

[2016-11-22 18:20] mikedanese commented on #35043
This issue was moved to kubernetes/kubeadm#37

[2016-11-22 18:20] #35043 closed

[2016-11-22 18:20] bgrant0607 commented on #12298
@soltysh Closing for now.

[2016-11-22 18:20] #12298 closed

[2016-11-22 18:21] mikedanese commented on #34949
Let us know if that does work @craigbox

[2016-11-22 18:21] #34949 closed

[2016-11-22 18:22] mikedanese commented on #34927
This issue was moved to kubernetes/kubeadm#38

[2016-11-22 18:22] #34927 closed

[2016-11-22 18:22] bgrant0607 commented on #36856
@F21 Deployment is not the right scoping mechanism. Namespaces and ServiceAccounts are intended to be used to provide this type of isolation.

@liggitt Does Openshift enforce restrictions on which secrets can be mounted (and referenced via env) by pods of a given service account?

It looks like this is described here:
https://docs.openshift.com/enterprise/3.0/dev_guide/service_accounts.html

I see

[2016-11-22 18:23] mikedanese commented on #34720
This issue was moved to kubernetes/kubeadm#39

[2016-11-22 18:23] #34720 closed

[2016-11-22 18:23] mikedanese commented on #34677
This issue was moved to kubernetes/kubeadm#40

[2016-11-22 18:23] #34677 closed

[2016-11-22 18:24] mikedanese commented on #34559
This issue was moved to kubernetes/kubeadm#41

[2016-11-22 18:24] #34559 closed

[2016-11-22 18:24] mikedanese commented on #34404
This issue was moved to kubernetes/kubeadm#42

[2016-11-22 18:24] #34404 closed

[2016-11-22 18:26] mikedanese commented on #33744
This issue was moved to kubernetes/kubeadm#43

[2016-11-22 18:26] #33744 closed

[2016-11-22 18:27] bgrant0607 commented on #36716
cc @foxish @kow3ns

[2016-11-22 18:29] bgrant0607 commented on #36601
This could also just be a DaemonSet of containers that sleep to create whatever duty cycle they want.

[2016-11-22 18:29] smarterclayton commented on #37278
I think we should fix this in tpr by registering delete options and then backport the fix.  Controllers are allowed to couple to apiservers, and this is a client side only problem.

[2016-11-22 18:32] jberkus commented on #36301
Why has this issue been closed?  Was the change merged into main?

[2016-11-22 18:33] Random-Liu commented on #37292
A question: How does fluentd handle copy truncate rotation?

Once the file is truncated, will fluentd detect that and read from the beginning again? Or will it keep reading at the original location until the log file is filled up again?

The later will be problematic.

[2016-11-22 18:33] jberkus commented on #36301
Oh, I see, sorry.  Was confused at which version of the issue I was looking at.

[2016-11-22 18:34] bgrant0607 commented on #36347
@steve-wolter We're not changing PUT semantics. Will discuss on the buganizer issue, though only post such links to github if you plan to make the bugs publicly visible.

[2016-11-22 18:34] #36347 closed

[2016-11-22 18:34] smarterclayton commented on #37117
Folks with an opinion, please review the attached PR.

[2016-11-22 18:35] #35677 closed

[2016-11-22 18:43] mtaufen commented on #33882
Thanks @dims

[2016-11-22 18:44] roberthbailey commented on #37116
kubemark uses the same shell script code as GCE (from https://github.com/kubernetes/kubernetes/blob/master/cluster/kubemark/util.sh):

[code]

so shouldn't it inherit that behavior?

[2016-11-22 18:44] derekwaynecarr commented on #36891
If you are running an HA API server, it is possible for a resource to be admitted in admission control after the namespace is deleted due to a race in delivering the watch notification to all API servers to observe the namespace is terminating.  @liggitt and I discussed potentially having the namespace controller to check the kubernetes endpoint to see if it's HA and if so, add a delay to namespac

[2016-11-22 18:44] roberthbailey commented on #33702
It sounds like this is a regression from 1.4.

[2016-11-22 18:45] verb commented on #1615
We talked about shared PID namespace in the sig-node meetup today. Long term, sig-node would like to design an init solution that works for all runtimes, but in the short term we're going to proceed with this docker-specific solution.

There was some concern about backwards compatibility, so I'm going to write a short doc proposing a rollout plan to change the default behavior.

[2016-11-22 18:47] medhedifour commented on #37233
@bgrant0607
@nebril
ok I'll post this question on  stackoverflow.
but my question wasn't how to scale up an rc with cmd , obviously with " kubectl scale rc -- replicas"
but it was how to do this with **# **kubernetes API**** from a pod.
I was able to get access to kubernetes api from a pod, and it was possible also to update the rc yaml file and redeploy it (with an update of the rc) using kuberne

[2016-11-22 18:49] rothgar commented on #36601
@bgrant0607 That was actually the route I was going. I had a shell script that would just sleep for a day and then run the commands I wanted. I figured this should be supported natively. Hence this open issue.

[2016-11-22 19:02] mml commented on #37131
I tried again yesterday beginning with my original data and got exactly the same results.  Additionally, I started 3.0.14 with this data.  `kube-apiserver` contacted it and I ran `kubectl` to dump a list of all nodes and pods.  I am not sure why you aren't able to reproduce this.

@xiang90 can you please inspect the output from [etcd.log.txt](https://github.com/kubernetes/kubernetes/files/605040/e

[2016-11-22 19:03] nikhiljindal commented on #36665
Yes its running now. One of the daemon set tests is failing, but there is a separate issue for that.

[2016-11-22 19:03] #36665 closed

[2016-11-22 19:16] mml commented on #37131
@xiang90 here are snapshots at every step.

- [snapshot-initial.tar.gz](https://github.com/kubernetes/kubernetes/files/607363/snapshot-initial.tar.gz)
- [snapshot-post-migrate-2.2.1.tar.gz](https://github.com/kubernetes/kubernetes/files/607362/snapshot-post-migrate-2.2.1.tar.gz)
- [snapshot-before-migrate-2.3.7.tar.gz](https://github.com/kubernetes/kubernetes/files/607364/snapshot-before-migrate-2

[2016-11-22 19:21] jaydubsjay commented on #24215
I ran into this myself and the reason is because of the fact that your file is a symbolic link. Not only this, it's a symbolic link to *another* symbolic link that points to the actual data directory.

As such, not only will the modified times not change if the destination content changes, it also won't change if the directory is swapped out by Kubernetes because the symbolic link file you are acc

[2016-11-22 19:26] ravilr opened #37304 "rac"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-22 19:27] #37304 closed

[2016-11-22 19:32] davidopp commented on #36716
@k82cn We did not have time to discuss this topic at the SIG meeting yesterday anyway, so you didn't miss anything.

[2016-11-22 19:34] philips commented on #31711
@luxas I think HA can be made easier if we fix the API server to advertise DNS instead of just an IP and fix the default "race" where two API servers just flip-flop forever.

[2016-11-22 19:34] xiang90 commented on #37131
@mml Can you point me to a data dir that etcd 3.0.14 can successfully open, but a rollback tool that built with 3.0.14 WAL cannot open and panics?

To be honest, this sounds very strange to me. I cannot see a reason that the same WAL pkg behaviors differently in two different binaries. And it does not match my experiments. I guess we did something different.

[2016-11-22 19:40] mml commented on #37131
@xiang90 `after-migrate-3.0.14` is the state after migrating to 3.0.14.  From this I was able to start 3.0.14 and serve `kube-apiserver` requests.  After shutting 3.0.14 down, the state is as in `before-rollback-2.3.7`.  The files are not identical, but all that's happened in between is that I ran and shut down 3.0.14.

It is `before-rollback-2.3.7` that crashes.

[2016-11-22 19:45] mikedanese commented on #33923
This issue was moved to kubernetes/kubeadm#45

[2016-11-22 19:45] #33923 closed

[2016-11-22 19:46] mikedanese commented on #33921
This issue was moved to kubernetes/kubeadm#46

[2016-11-22 19:46] #33921 closed

[2016-11-22 19:46] xiang90 commented on #37131
Can you still open the data-dir with etcd again?

So you are able to open this with etcd 3.0.14 but not with a rollback tool built with 3.0.14's WAL pkg?

[2016-11-22 19:48] philips commented on #16779
Yes +1 to automount annotation.

On Wed, Nov 16, 2016 at 11:40 AM Mike Danese <notifications@github.com>
wrote:

[2016-11-22 19:50] mikedanese commented on #33828
This issue was moved to kubernetes/kubeadm#47

[2016-11-22 19:50] #33828 closed

[2016-11-22 19:51] mikedanese commented on #33920
This issue was moved to kubernetes/kubeadm#48

[2016-11-22 19:51] #33920 closed

[2016-11-22 19:52] krzyzacy commented on #37156
isn't it a manual run test?

[2016-11-22 19:53] krzyzacy commented on #37156
I guess I'll move it over with empty cron-string?

[2016-11-22 19:54] dchen1107 commented on #34123
@Random-Liu please take a look at this failure.

[2016-11-22 19:57] rootfs commented on #30258
@jgeraerts
I ran kubelet in docker but still couldn't reproduce it.

In agent-2 kubelet log, each mount matches one unmount.
[code]

[2016-11-22 19:59] xcompass commented on #37030
@Crassirostris sorry for the delay. Just got a chance to test it. It works. I used the hostPath option and the directory was created and ownership is correct.

[2016-11-22 20:00] thockin commented on #36104
It passes against head as of now, for me at least.

[2016-11-22 20:00] thockin commented on #35486
I am not clear on this - why should it fail?  It works for me.

[2016-11-22 20:03] philips commented on #19443
As an update on the etcd and self-hosted plan we have merged support behind an experimental flag in bootkube: https://github.com/kubernetes-incubator/bootkube/blob/master/cmd/bootkube/start.go#L37

This is self-hosted and self-healing etcd on top of Kubernetes.  Tracking issue https://github.com/kubernetes-incubator/bootkube/issues/31

[2016-11-22 20:08] philips commented on #36655
`go get k8s.io/kubernetes`, `eval $(minikube docker-env)`, `brew install docker`, `make` seems to work for me.

[2016-11-22 20:10] Crassirostris commented on #37030
Great, thanks!

[2016-11-22 20:11] mikedanese commented on #33926
This issue was moved to kubernetes/kubeadm#49

[2016-11-22 20:11] #33926 closed

[2016-11-22 20:11] mikedanese commented on #33918
This issue was moved to kubernetes/kubeadm#50

[2016-11-22 20:11] #33918 closed

[2016-11-22 20:12] mikedanese commented on #33917
This issue was moved to kubernetes/kubeadm#51

[2016-11-22 20:12] #33917 closed

[2016-11-22 20:12] madhusudancs opened #37306 "GCE Ingress controller (GLBC) should install a firewall rule per Ingress object per cluster"
Although this issue is about GLBC which is in its own repo - https://github.com/kubernetes/ingress/commits/master, this affects federation. So filing this issue here.

GLBC uses the UID specified in a ConfigMap in its cluster to construct the names of the GCE L7 load balancer resources it installs. In the multi-cluster Ingress case or the Federated Ingress case, things work as expected for all the

[2016-11-22 20:12] mikedanese commented on #33914
This issue was moved to kubernetes/kubeadm#52

[2016-11-22 20:12] #33914 closed

[2016-11-22 20:13] sebgoa commented on #36655
`make` with no target is a local build, not docker involved. But I will test again.

[2016-11-22 20:13] mikedanese commented on #33913
This issue was moved to kubernetes/kubeadm#53

[2016-11-22 20:13] #33913 closed

[2016-11-22 20:14] mikedanese commented on #33929
This issue was moved to kubernetes/kubeadm#54

[2016-11-22 20:14] #33929 closed

[2016-11-22 20:14] rootfs commented on #30258
more log from agent-2. It seems to me the pod `gitlab-nch7x` was deleted while the disk was being attached (note, azure disk attach is a slow moving process) and mounted and somehow escaped `UnmountDevice`

[code]

[2016-11-22 20:18] mml commented on #37131
Yes.  I just verified this.

Yes.  The rollback tool is built with 3.0.14, except for the diff shown in https://github.com/kubernetes/kubernetes/issues/37131#issuecomment-262098529.

[2016-11-22 20:18] mikedanese commented on #33909
This issue was moved to kubernetes/kubeadm#55

[2016-11-22 20:18] #33909 closed

[2016-11-22 20:20] Crassirostris commented on #37292
@Random-Liu Thank you very much for the feedback! It really cleared the picture

Fluentd basically has an association inode_num <=> offset. If logrotate removes old file and creates a new one, with the new inode number, fluentd will detect the change and will start to read the new file. If inode number doesn't change, then it's problematic. I will check that

OK, that's not great, because as I've

[2016-11-22 20:21] madhusudancs commented on #36327
We think we have identified the source of the problem. Filed issue #37306 to describe the problem, describe the workaround required until the problem is fixed and to discuss the proposed fix.

I am going to document the workaround in the [Federated Ingress doc](http://kubernetes.io/docs/user-guide/federation/federated-ingress/), but also posting it here to make it easier for people who find this i

[2016-11-22 20:23] krancour opened #37308 "StorageClass zone not being honored"
Using v1.4.6 _in a multi-zone_ cluster:

[code]

I have defined a `generic` `ServiceClass` as a pre-requisite for the Wordpress Helm chart. It's defined as follows:

[code]

__Note that `zone` is set to `us-west-2a`.__

I have installed the stable Wordpress Helm chart, but see one of its two pods stuck in a pending state:

[code]

Digging into why:

[code]

`NoVolumeZoneConflict`...

Better look a

[2016-11-22 20:27] smarterclayton commented on #35486
It works against head because I checked in the generated files as part of
another PR.  But those should never have been allowed to merge.

On Nov 22, 2016, at 3:00 PM, Tim Hockin <notifications@github.com> wrote:

I am not clear on this - why should it fail? It works for me.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.c

[2016-11-22 20:28] mml commented on #37131
If the exact steps help in debugging this, see #37309.  Particularly https://github.com/kubernetes/kubernetes/pull/37309/files#diff-df31784bf4f829f4fb8b2c74033d1f86.

[2016-11-22 20:35] bprashanth commented on #37306
Re moving firewall logic into the federated controller, you should probably
model it after the service controller with pluggable cloud specific
backends. Today the federated ingress controller's primary function is:
1. UID management
2. setting static-ip annotation

Both of which are GCP specific, since the on-prem nginx controller and by
extension the AWS ingress (which is basically a service.Typ

[2016-11-22 20:41] #37030 closed

[2016-11-22 20:41] #33636 closed

[2016-11-22 20:42] rkouj commented on #37257
@mtaufen: Tried it without the `-M` flag. No change.

rkouj@rkouj0:~/go/src/k8s.io/kubernetes$ cluster/gce/upgrade.sh v1.5.0-beta.1
== Pre-Upgrade Node OS and Kubelet Versions ==
name: "kubernetes-master", osImage: "Google Container-VM Image", kubeletVersion: "v1.4.7-beta.0.2+1ef121737093fd-dirty"
name: "kubernetes-minion-group-7kpl", osImage: "Debian GNU/Linux 7 (wheezy)", kubeletVersion: "v1.4.7

[2016-11-22 20:48] buchireddy commented on #37250
@nebril I have read about Node affinity but that's not enough for the feature I've suggested. Node affinity only helps scheduling a pod on given node(s) but how do you make sure a restarted pod comes up on the same node where it was running prior to going down?

[2016-11-22 20:55] mikedanese commented on #33907
This issue was moved to kubernetes/kubeadm#57

[2016-11-22 20:55] #33907 closed

[2016-11-22 20:56] mikedanese commented on #33910
This issue was moved to kubernetes/kubeadm#58

[2016-11-22 20:56] #33910 closed

[2016-11-22 20:57] mikedanese commented on #33962
This issue was moved to kubernetes/kubeadm#59

[2016-11-22 20:57] #33962 closed

[2016-11-22 20:57] mikedanese commented on #33911
This issue was moved to kubernetes/kubeadm#60

[2016-11-22 20:57] #33911 closed

[2016-11-22 20:57] mikedanese commented on #33928
This issue was moved to kubernetes/kubeadm#61

[2016-11-22 20:57] #33928 closed

[2016-11-22 20:58] mikedanese commented on #33961
This issue was moved to kubernetes/kubeadm#62

[2016-11-22 20:58] #33961 closed

[2016-11-22 21:01] krousey opened #37310 "e2e/framework: remove ready replica version checking"
Remove ready replica version checking added in #37303

[2016-11-22 21:01] mikedanese commented on #31711
This issue was moved to kubernetes/kubeadm#63

[2016-11-22 21:01] #31711 closed

[2016-11-22 21:12] deads2k commented on #16779
Why an annotation instead of an API field?  The same backwards compatibility concerns will exist either way and I think a field is more obvious.

[2016-11-22 21:13] krancour commented on #37308
Found the issue. The chart uses the `volume.alpha.kubernetes.io/storage-class: generic` annotation to effect dynamic provisioning of a volume of `StorageClass` `generic`...

But this annotation is only honored by k8s 1.3.x.

1.4.x uses `volume.beta.kubernetes.io/storage-class` instead.

I'll close this and open an issue against [kubernetes/charts](https://github.com/kubernetes/charts) instead.

[2016-11-22 21:13] #37308 closed

[2016-11-22 21:19] dvohra commented on #34134
The issue is fixed with following settings:

-Replace the `data: etcd_endpoints` in `calico.yaml` from default setting of `127.0.0.1:2389` to the private ip of the master node.

-Set `--listen-client-urls` and `--advertise-client-urls` in `etcd.json` to `0.0.0.0:2379`

[2016-11-22 21:19] xiang90 commented on #37131
@mml

With `before-rollback-2.3.7`, both of my etcd and rollback tool run well.

crash is untared `before-rollback-2.3.7`.

[code]

Also I manually checked `before-rollback-2.3.7`, it is very different from `data-crash.tar.gz` you provided in the original issue.

[2016-11-22 21:20] k8s-merge-robot opened #37314 "[k8s.io] Probing container should have monotonically increasing restart count [Conformance] [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.4/160/

Failed: [k8s.io] Probing container should have monotonically increasing restart count [Conformance] [Slow] {Kubernetes e2e suite}

[code]

[2016-11-22 21:23] Random-Liu commented on #37292
According to my understanding, copytruncate won't create new file. :)

[2016-11-22 21:25] krancour commented on #37308
https://github.com/kubernetes/charts/issues/116#issuecomment-262369938

[2016-11-22 21:30] jpeeler commented on #37257
I'm seeing this problem as well. And I saw this on two of the hosts:

[ 3870.180529] Memory cgroup out of memory: Kill process 4697 (google-fluentd) score 1923 or sacrifice child
[ 3870.191608] Killed process 4697 (google-fluentd) total-vm:1224416kB, anon-rss:186420kB, file-rss:8068kB

[2016-11-22 21:35] luxas commented on #34134
Oh no. Seems like calico broke the link in some way from the k8s website...

Well, @dvohra you should use this manifest http://docs.projectcalico.org/v1.6/getting-started/kubernetes/installation/hosted/kubeadm/ instead of the other manifests that do require etcd.

With the manifest I linked, it will just be a `kubectl apply` with no extra config.

[2016-11-22 21:41] dvohra commented on #34134
Thanks Luxas.

But a etcd cluster is created by kubeadm. Why to create another etcd cluster which the kubeadm/calico.yaml does?

[2016-11-22 21:43] dashpole commented on #32304
Quick update: I have have a coreos stable instance that has been running cadvisor for more than 24 hours now, and is still reporting metrics...  I'll post an update if and when it stops reporting.

[2016-11-22 21:46] luxas commented on #34134
The kubeadm etcd is _only_ for the apiserver and is right now deployed in a static pod, but that might change. Also when we go the HA route, we can't know where to find etcd, etc.

Basically, the etcd database that exists for the apiserver and is the heart of the cluster has nothing to do with a specific pod network's small config store between components, those two have to be separated, especiall

[2016-11-22 21:46] freehan opened #37315 "[CRI] Decide what to do with traffic shaping in kubenet"
Traffic shaping is currently disabled in kubenet when running with CRI. We can enable it by passing pod sandbox annotation into network plugin.

The current traffic shaping happens per pod per node, lack of global coordination. Hence @dchen1107 suggest to remove it and pursue a better design.

@kubernetes/sig-network @kubernetes/sig-node

[2016-11-22 21:48] saad-ali commented on #37267
@kubernetes/sig-network @bowei or @bprashanth could you please investigate triage this flake for 1.5 (mark it with blocker or non-blocker label).

[2016-11-22 21:48] dvohra commented on #34134
Beside the issue, the `kubeadm/calico.yaml` has a bug in `calico-policy-controller ReplicaSet`, the labels don't match.
[code]

Should be:

[code]

[2016-11-22 21:58] euank commented on #37315
cc @squeed

IIUC the traffic shaping feature is alpha, so removing it isn't as big a deal from an API perspective.

[2016-11-22 21:59] calebamiles commented on #34875
@jessfraz, you may want to pull in some people to triage this issue, all the failures look like they're on the 1.4 branch.

**cc: @saad-ali, @dims**

[2016-11-22 22:01] freehan opened #37316 "[CRI] dockershim networking umbrella issue"
Umbrella issue for tracking CRI networking related tasks for k8s 1.6

- [X] Maintain checkpoints in dockershim. Plus, ensure no resource (IP, hostport) leaks.
https://github.com/kubernetes/kubernetes/issues/35531

- [X] Support native docker networking
#38430

- [X] Support hostport in kubenet
https://github.com/kubernetes/kubernetes/issues/35457

- [x] Enable Traffic Shaping
#41588

- [ ] Now tha

[2016-11-22 22:03] ymqytw commented on #37138
After talking to @bgrant0607 today, I found this case is considered as a conflict.
If using `kubectl apply --overwrite=false`, this case can be detected.
@bgrant0607 @pwittrock what should we do with this issue?

[2016-11-22 22:03] cyberic99 opened #37317 "sorry... please close"

[2016-11-22 22:04] mml commented on #37131
Ah ha!  You are invoking rollback differently than we are.  See [migrate-if-needed.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/migrate-if-needed.sh#L235)

There is code in rollback.go that's supposed to detect the problem, but it's not working.  Tweaking things now.  Another update shortly.

[2016-11-22 22:12] Random-Liu commented on #34123
I found 2 failure cases:

1. Could not get node. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot/1124/
The test tried to get node and wait for the node to be ready before reboot the node. However, it could not get the node in this failure:
[code]
However, in the following test, it could get the node again:
[code]
When this happened, I didn't see anyth

[2016-11-22 22:14] eparis commented on #37315
I heard dawns comment (3rd hand) to remove it. From an API perspective we wouldn't be breaking any rules. But I'm not sure 'global or nothing' is the only reasonable option.

I get that a datacenter is going to have bottlenecks and the only way to drive things well in light of those bottlenecks is from a global view. I wholeheartedly agree that a wholeistic datacenter view is required to implement

[2016-11-22 22:15] k8s-merge-robot opened #37318 "TestIngressController {ingress}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/329/

Failed: TestIngressController {ingress}

[code]

[2016-11-22 22:21] tonglil commented on #6545
Thanks @thockin. I believe we are going to change it so that it only NATs the traffic heading for the VPN so we won't need to find the cluster CIDR(s).

[2016-11-22 22:21] caesarxuchao commented on #37278
It's a server-side problem. When decoding the DeleteOptions, the server calls the TPR decoder, which then [delegates](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/thirdpartyresourcedata/codec.go#L372) to the api.Codec, with gvk set to the thirdparty one. Shall we just hard-code the gvk to v1 in this branch? I think currently the switch case won't be hit except for d

[2016-11-22 22:22] rkouj commented on #37257
cc: @kubernetes/sig-node @dchen1107

[2016-11-22 22:27] dchen1107 commented on #34123
Thanks for the triage. Based on  how frequently the test failed, and it hadn't failed for last ~15 days, I think this is non-release-blocker.

[2016-11-22 22:33] mml commented on #37131
No.  That's not it.  But I see what the difference is.  We are removing the `*.snap` files first.  This was added in #36738 to fix #36555.

[code]

But when I remove the `.snap` files.

[code]

[2016-11-22 22:37] #37317 closed

[2016-11-22 22:39] philips commented on #34348
cc @ericchiang @ecordell @rithujohn191

[2016-11-22 22:39] thockin commented on #37315
The problem is that the annotation only works on some net drivers.  Maybe
we should just rename it to make that clear, then find a way to plumb it to
CNI, and implement it in plugins that care to.

On Nov 22, 2016 2:14 PM, "Eric Paris" <notifications@github.com> wrote:

[2016-11-22 22:41] rkouj commented on #37257
After syncing up with @jpeeler

This is what we saw in the master configuration.

rkouj@kubernetes-master /var/log $ sudo systemctl status kube-master-configuration
● kube-master-configuration.service - Configure kubernetes master
  Loaded: loaded (/etc/systemd/system/kube-master-configuration.service; enabled; vendor preset: disabled)
  Active: failed (Result: exit-code) since Tue 2016-11-22 21:0

[2016-11-22 22:42] nikhiljindal commented on #37318
sigh. cc @mwielgus @kubernetes/sig-cluster-federation

[2016-11-22 22:45] xiang90 commented on #37131
We can remove v2 data by using etcdctl, not remove the snapshot file.

[2016-11-22 22:49] xiang90 commented on #37131
@mml Try not removing the snap file. The snapshot file is important.

[2016-11-22 22:52] freehan commented on #30338
The hash is CNI commit hash. Here is the script that builds the tar ball
https://github.com/kubernetes/kubernetes/blob/master/build-tools/cni/Makefile

[2016-11-22 22:53] mml commented on #37131
@xiang90 We're removing the snapshot file on the advice of @hongchaodeng (https://github.com/kubernetes/kubernetes/issues/36555#issuecomment-260224217).

Anyway, what's the correct etcdctl invocation to remove v2 data?

[2016-11-22 22:58] bprashanth commented on #37267
Is it actually resolving an ipv6 address or is that some random logging junk?

[2016-11-22 22:59] mml commented on #36555
@xiang90 says that removing the snap file was not the right way to go.

[2016-11-22 23:00] krousey commented on #37257
cc @roberthbailey

[2016-11-22 23:01] saad-ali commented on #36895
Related `IsUp` issue has been marked as a blocker for 1.5: https://github.com/kubernetes/kubernetes/issues/33702#issuecomment-262307082

[2016-11-22 23:14] dchen1107 commented on #37257
This is a cluster lifecycle integration issue. I will leave @roberthbailey to drive this. cc/ @dashpole for the support from the node side. Thanks!

[2016-11-22 23:14] mikedanese commented on #33641
This issue was moved to kubernetes/kubeadm#64

[2016-11-22 23:14] #33641 closed

[2016-11-22 23:14] bgrant0607 commented on #37138
@ymqytw Does the right thing happen if the user leaves an empty list for `mergingIntList`?

[2016-11-22 23:15] mikedanese commented on #35643
This issue was moved to kubernetes/kubeadm#65

[2016-11-22 23:15] #35643 closed

[2016-11-22 23:23] freehan commented on #31307
@CaoShuFeng Only able to assign to a k8s member.
Would you mind sharing the status and your plan?

[2016-11-22 23:30] smarterclayton commented on #37278
Ah.  Might as well, we implicitly version everything in v1 that is
unversioned.

On Nov 22, 2016, at 4:22 PM, Chao Xu <notifications@github.com> wrote:

It's a server-side problem. When decoding the DeleteOptions, the server
calls the TPR decoder, which then delegates
<https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/thirdpartyresourcedata/codec.go#L372>
to the api.Code

[2016-11-22 23:37] calebamiles commented on #33882
@mtaufen, please provide a status update on this issue by 1pm PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/sig-node**

[2016-11-22 23:38] calebamiles commented on #33405
@bprashanth please provide an update on this issue by 1pm 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/sig-node**

[2016-11-22 23:39] calebamiles commented on #32451
@vish, please provide an update on this issue by 1p 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/sig-node**

[2016-11-22 23:41] calebamiles commented on #33754
@jszczepkowski, @mwielgus please give a status update on this issue by 1pm 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/autoscaling**

[2016-11-22 23:43] calebamiles commented on #36588
@mwielgus, @matchstick please provide a status update on this issue by 1pm PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/goog-control-plane, @kubernetes/sig-cluster-federation**

[2016-11-22 23:46] calebamiles commented on #34679
@davidopp, @jszczepkowski could you please provide a status update for this issue by 1pm PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/goog-control-plane**

[2016-11-22 23:48] calebamiles commented on #36074
@madhusudancs, @matchstick could you please provide a status update on this issue by 1p PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/sig-cluster-federation**

[2016-11-22 23:48] calebamiles commented on #36088
@madhusudancs, @matchstick could you please provide a status update on this issue by 1p PST 23 November 2016. Thanks!

cc: @saad-ali, @dims, @kubernetes/sig-cluster-federation

[2016-11-22 23:48] dvohra commented on #34134
The kubeadm/calico.yaml gets applied without any modification. But, the Pods do not get started with the following error.
	`FailedSync	Error syncing pod, skipping: failed to "SetupNetwork" for "nginx-3449338310-1p37p_default" with SetupNetworkError: "Failed to setup network for pod \"nginx-3449338310-1p37p_default(7541546c-b10d-11e6-9621-0ae0495bf8fc)\" using network plugins \"cni\": No configured

[2016-11-22 23:52] calebamiles commented on #36054
@cjcullen, @roberthbailey could you please provide a status update on this issue by 1p PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/goog-gke**

[2016-11-22 23:52] nikhiljindal commented on #36074
https://github.com/kubernetes/kubernetes/pull/37323 and https://github.com/kubernetes/kubernetes/pull/37271 fix a few bugs in ingress controller.

We found the reason for flapping health checks and a workaround for it.
@madhusudancs is updating the test to use that workaround.

[2016-11-22 23:54] madhusudancs commented on #36088
This test failure is related to Issue #37306 and Issue #36327. We have identified the root cause. I am working on fixing the tests for time being.

[2016-11-22 23:54] calebamiles commented on #34060
@fejta, @krzyzacy, @ixdy, @nikhiljindal, @justinsb could you please provide a status update for this issue by 1pm PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/sig-api-machinery, @kubernetes/test-infra-maintainers**

[2016-11-22 23:56] calebamiles commented on #34102
@fgrzadkowski, @mwielgus could you please provide a status update for this issue by 1pm PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/autoscaling**

[2016-11-22 23:57] calebamiles commented on #33897
@fgrzadkowski, @mwielgus could you please provide a status update for this issue by 1pm PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/autoscaling**

[2016-11-22 23:57] calebamiles commented on #33891
@fgrzadkowski, @mwielgus could you please provide a status update for this issue by 1pm PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/autoscaling**

[2016-11-22 23:57] calebamiles commented on #33804
@fgrzadkowski, @mwielgus could you please provide a status update for this issue by 1pm PST 23 November 2016. Thanks!

**cc: @saad-ali, @dims, @kubernetes/autoscaling**

[2016-11-23 00:06] k8s-merge-robot opened #37324 "[k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-es-logging/366/

Failed: [k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}

[code]

Previous issues for this test: #34666 #34708 #35409 #35445

[2016-11-23 00:12] Dm3Ch opened #37326 "StatefulSet PVC (from RBD storage class) mount error"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
[code]
- **Kernel** (e.g. `uname -a`):
`Linux Dm3Ch-Server-Node3 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**: kubeadm
- **Others**: StorageClass for RBD

**What happened**:
StatefulSet cre

[2016-11-23 00:13] whereisaaron commented on #36450
We get this frequently with EBS PVC/PV voumes and see plenty of simialr reports. It usually starts when recreating a Pod ("Recreate" Strategy). The old Pod is torn down and the PV unmounted, then the PV is mounted on the new Pod (on same or different worker). It seems like quick unmount/mount can trigger the 'stuck attaching' issue, which AWS blames on reusing device names (or reusing them too qui

[2016-11-23 00:21] MrHohn commented on #36230
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/219/
Seems like the log files were not dumped out correctly in `ci-kubernetes-e2e-gci-gce-reboot`. Only logs from one of the minion nodes were in the artifact.
@kubernetes/sig-testing @kubernetes/test-infra-maintainers

[2016-11-23 00:21] whereisaaron commented on #28709
This 'stuck attaching' is a common issue using k8s with AWS and GCE (at least). On AWS it appears to be an AWS problem, triggered by the fast unmounting and remounting of EBS volumes. You see an error in the AWS console for the problem volume. One suggestion (based on AWS FAQ) is it is caused by mounting a volume using the same device name as one you just detached a very short time ago.
I comment

[2016-11-23 00:24] ixdy commented on #36230
@MrHohn looks like that run was before https://github.com/kubernetes/test-infra/pull/1153 was merged, so expected.

[2016-11-23 00:25] MrHohn commented on #36230
@ixdy Great, thanks for fixing!

[2016-11-23 00:49] krzyzacy commented on #30711
I guess close it via #36570?

[2016-11-23 00:53] ymqytw commented on #37138
No. Because [`json.Unmarshal()`](https://github.com/kubernetes/kubernetes/blob/v1.5.0-beta.1/pkg/util/strategicpatch/patch.go#L1352) will drop this field, this field will be missing in the go struct.

[2016-11-23 01:11] CaoShuFeng commented on #31307
@freehan
tomdee discussed this with me and I am going to take his suggestion:

[2016-11-23 01:12] nnashok commented on #37205
Looking at the kube-controller-manager pod description, you'll notice that the command to start the controller does not include specifying the cloud-config:
`
[cloud-user@ip-x-x-x-x ~]$ kubectl -n kube-system describe pod kube-controller-manager-ip-x-x-x-x
Name:           kube-controller-manager-ip-x-x-x-x
Namespace:      kube-system
Node:           ip-x-x-x-x/x.x.x.x
Start Time:     Tue, 22 Nov 2

[2016-11-23 01:16] Random-Liu commented on #37314
Meta issue: https://github.com/kubernetes/kubernetes/issues/36054

Close this one.

[2016-11-23 01:16] #37314 closed

[2016-11-23 01:17] Random-Liu commented on #29352
This doesn't happen for 4 months. Close this one.

[2016-11-23 01:17] #29352 closed

[2016-11-23 01:24] k8s-merge-robot opened #37329 "ci-kubernetes-e2e-gci-gke-staging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging/15/

Run so broken it didn't make JUnit output!

[2016-11-23 01:25] bgrant0607 commented on #16873
To document:
* whole apiversions, alpha, beta, and GA
* API fields, alpha, beta, and GA
* kubectl commands and flags
* component configuration options

[2016-11-23 01:28] zhouhaibing089 commented on #37278
@caesarxuchao your patch works for me. thanks!

[2016-11-23 01:46] saad-ali commented on #36450
Thanks @gnufied

Sorry for the crappy experience! What version of kubernetes are you running?

I know @justinsb @jingxu97 have worked on a number of fixes to improve the AWS EBS experience. A big fix, https://github.com/kubernetes/kubernetes/pull/34859, went in to 1.4.6 and there are already fixes pending for 1.4.7: https://github.com/kubernetes/kubernetes/pull/36840

CC @kubernetes/sig-storage

[2016-11-23 01:54] BaluDontu commented on #37022
@jingxu97 : The fix #36840 alone did not work. However based on our analysis we observed that the changes need to be made to plugin code as well for this issue to be fixed. You can check out the changes at #37332.

[2016-11-23 01:56] rootfs commented on #36450
@willis7
Can you provide `kubectl describe pvc` output and is it possible to share your controller log and kubelet log?

[2016-11-23 01:58] saad-ali commented on #36450
@willis7 and @eggie5 Could you also try 1.4.6+ if you get a chance and see if you get a repro there.

[2016-11-23 02:00] Random-Liu opened #37333 "Node E2E: Broken Pipe during test on GCI."
Forked from #35935.

The failure happened again in ci-kubernetes-node-kubelet-cri: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-cri/143.

[code]

The log collecting command failed because of:
[code]

The directory `/tmp/node-e2e-20161122T133345` should not be removed, unless the node is rebooted. This also aligns with our previous observation.

Anothe

[2016-11-23 02:00] jingxu97 commented on #37022
@BaluDontu thank you very much for the fix. I will update our code. Could you please verify whether #36840 plus #37332?

[2016-11-23 02:07] eggie5 commented on #36450
@saad-ali upgraded to 1.4.6 today, i'll keep an eye on it...

[2016-11-23 02:09] saad-ali commented on #36450
@eggie5 Thanks!

[2016-11-23 02:37] bprashanth opened #37335 "LB soak tests"
For both l7 and l4 type=loadbalancers, should run for about a week at least

[2016-11-23 03:07] derekwaynecarr commented on #34348
Historical reference:
https://github.com/kubernetes/kubernetes/pull/17305

Is your use case to apply defaults or mutate the incoming object or to accept/reject the incoming object?

[2016-11-23 03:27] k8s-merge-robot opened #37339 "ci-kubernetes-e2e-gci-gce-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-release-1.4/336/

Run so broken it didn't make JUnit output!

[2016-11-23 03:28] Zjianglin commented on #37199
Hi~ @resouer , the SELinux was disabled as default.
[code]
However, I'm sorry that I didn't understand your other words . The `curl 10.96.234.18:3000` hanged for a long time, how can know whether the traffic has redirected to the backend Pod(`mypod`) by the service(`frontendservice`)?

Following along side [debugging-service](http://kubernetes.io/docs/user-guide/debugging-services/#a-pod-cannot-re

[2016-11-23 03:33] whereisaaron commented on #36450
@saad-ali no need to apologize, even before k8s the 'stuck attaching' was a known EBS condition (hence the AWS FAQ). It was just that before k8s it came up less often because it was much less common to be unmounting and remounting EBS volumes between instances every few minutes when a k8s CD deployment happens :-)

Thanks for the tip about the upcoming patches by @justinsb and @jingxu97. We create

[2016-11-23 03:38] k8s-merge-robot opened #37340 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1773/

Run so broken it didn't make JUnit output!

[2016-11-23 04:52] k8s-merge-robot opened #37341 "ci-kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/16/

Multiple broken tests:

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}

[code]
Issues about this test specifically: #2865

[2016-11-23 05:02] rmmh commented on #37340
@sjenning #32577 broke the build on OSX and Windows.

[2016-11-23 05:16] ymqytw opened #37342 "Remove shorthand flag `-w` from kubectl apply"
When writing the docs for `kubectl apply`, I found there is a flag `--prune-whitelist` with short hand flag `-w` has been add to `kubectl apply` in 1.5.
The flag is mostly used by add-on manger.
I think we only give the flag that is very commonly used a shorthand flag.
I think we should keep `-w` and save it for other flags in the future.
We can make the change before it goes out in 1.5.

cc: @pwi

[2016-11-23 05:41] tmandry commented on #3595
I'm having trouble understanding why the comment by @dchen1107 is a showstopper... perfect enemy of good? ulimits cover a broad range of needs, from running a basic webserver to high performance computing. Privileged mode is not an option in many environments, and I think a lot of people would prefer to use kubernetes in those environments, even if it comes with certain caveats.

[2016-11-23 05:48] k8s-merge-robot opened #37344 "ci-kubernetes-e2e-gci-gce-petset: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-petset/190/

Multiple broken tests:

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should come back up if node goes down [Slow] [Disruptive] [Feature:PetSet] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36677

Failed: [k8s.io] StatefulSet [Slow] [Featur

[2016-11-23 06:07] BaluDontu commented on #37022
@jingxu97 : Yes it's working fine.

[2016-11-23 06:16] MrHohn commented on #33405
Some investigations:
All failures of this test seems to be timeout waiting for one of the nodes to become unready after the "dropping in bound packets" iptable rules were injected.

Digged in [this failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot-release-1.4/2322/), e2e test failure log as below:
[code]

Checked `kube-controller-manager.log`,

[2016-11-23 06:28] dstiliadis commented on #34949
Just tested this and it seems work. On the nodes make sure you create cbr0 first according to the instructions http://kubernetes.io/docs/getting-started-guides/scratch/

[2016-11-23 06:28] dstiliadis commented on #34949
Just tested this and it seems work. On the nodes make sure you create cbr0 first according to the instructions http://kubernetes.io/docs/getting-started-guides/scratch/

[2016-11-23 06:34] matchstick commented on #36074
@nikhiljindal @kubernetes/sig-cluster-federation That said while we do want this fixed I don't think it should be listed as a release blocker. Removing the label.

[2016-11-23 07:07] jessfraz commented on #37254
so should we pin to a hash?

[2016-11-23 07:09] gmarek commented on #37116
It should but it doesn't. I agree that it should be fixed.

[2016-11-23 07:11] dragon9783 opened #37348 "kubelet will be NotReady after many times restart"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): cAdvisor inotify_init: too many open files

---

**Is this a BUG REPORT or FEATURE REQUE

[2016-11-23 07:12] jessfraz commented on #37254
we could do something like this in the dockerfile:

[code]

[2016-11-23 07:20] ccatlett2000 commented on #24145
Is there an issue for source IP preservation on non-GCE clusters?

[2016-11-23 07:21] matchstick commented on #30752
@saad-ali Can we try to make sure this gets addressed in 1.6? @kubernetes/sig-storage

[2016-11-23 07:37] wojtek-t commented on #37116
We will be changing kubemark in the upcoming days anyway. So we will try to fix it.

[2016-11-23 07:44] mootezbessifi opened #37352 "kube-dns pod and service still up for a while and suddenly dies"
Hi all,
Hi all,
i tried to setup a kubernetes dns addon based on ansible repo:
https://github.com/kubernetes/contrib/tree/master/ansible/roles/kubernetes-addons

After running the playbook, i can't find out neither dns pod nor service.!!
After doing some lecture, (https://github.com/kubernetes/contrib/issues/886#issuecomment-216741889) it seems that i need to run the rc.yml and the svc.yml manuall

[2016-11-23 07:58] matchstick commented on #33173
@bowei @kubernetes/sig-network PTAL?

[2016-11-23 08:03] nikhiljindal opened #37354 "Federation e2e improvements"
Our federation e2e's require a lot of love.
Filing this as a top level issue to track all the work that needs to be done.

* Reduce the running time:

- [ ] [#40765, #40766, #40767] Run the tests in parallel: All our tests are running serially right now. This was required because we did not have federated namespaces and hence there was no guarantee that each test can run independent of each other.

[2016-11-23 08:04] nikhiljindal commented on #37354
cc @madhusudancs @mwielgus I have filed this as a top level issue. Feel free to add anything that I missed

[2016-11-23 08:05] nikhiljindal commented on #37354
Our e2e tests are timing out after 500 mins on Jenkins!! That is crazy.
We need to fix the issues in "reduce the running time" bucket really soon.

[2016-11-23 08:06] mootezbessifi commented on #26245
any response for this issue

[2016-11-23 08:10] jgeraerts commented on #30258
@rootfs Do you also get timeouts during disk attach?

Here it seems to give up, but it continues anyhow

[code]

Is there a way to increase the timeout?

The full log output:

[code]

[2016-11-23 08:11] jgeraerts commented on #30258
@rootfs could it be a stupid kernel bug reporting the number of mounts incorrectly?

[code]

[2016-11-23 08:11] roberthbailey opened #37355 "upgrade.sh doesn't work on mac due to inline use of sha1sum"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): sha1sum

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

[2016-11-23 08:12] roberthbailey commented on #37355
Apparently no one has done manual upgrade testing on a mac for some time, as this was introduced by @mwielgus in https://github.com/kubernetes/kubernetes/pull/27771 way back in June.

[2016-11-23 08:26] RaphaelHerd commented on #35788
Dear all,

why you closed that issue mikedanese? My question is not about provisioning (see text above). My question relates to the fact that kubernetes should run in a AWS for example and therefore you need some kind of cloud provider integration. That integration is still there in Kubernetes, but very very poor documented. This integration is working with kube-up.sh but it's not with kubeadm. So

[2016-11-23 08:26] jingxu97 commented on #30258
@jgeraerts, your log shows that the volume nexus-data.vhd is attached and mounted correctly. There might be some timeout logs before the volume is finally attached and mounted, but it does not matter. I only see one MountVolume.SetUp succeeded for this volume, so it means the there should be only one (sometimes I see two) mountpoints for this volume. But I will double check azure code path.

Mount

[2016-11-23 08:28] nikhiljindal commented on #37352
which cloud provider are you using and what version of kubernetes are you running?

Users are not allowed to create resources in kube-system namespace. Its reserved for system components.
cc @MrHohn who knows addon manager best.

[2016-11-23 08:33] roberthbailey commented on #37257
@yujuhong's analysis was correct. I was able to ssh into my upgraded Kubernetes master, manually edit `/home/kubernetes/bin/configure-helper.sh` to fix the shell, unmount the master pd (`umount /mnt/disks/master-pd`), and re-run `sudo /home/kubernetes/bin/configure-helper.sh`. Once that finished, my master upgrade succeeded after being in a waiting state for a long time:

[code]

The bad news is t

[2016-11-23 08:36] davidopp commented on #25320
We should consider whether to add taint/toleration check to GeneralPredicates (so Kubelet checks them) when moving to Beta.

[2016-11-23 08:36] davidopp commented on #25319
We should add node and pod affinity to GeneralPredicates when we move them to Beta (this will make Kubelet check them in admission check).

[2016-11-23 08:40] davidopp commented on #25319
Also, @wojtek-t has suggested we should consider restricting hard anti-affinity to node-level only. The reasons are
* scalability/performance
* for Kubelet admission to check any topology other than node, it would need full cluster state
* it's not clear there are any use cases for hard anti-affinity at topology other than node-level (soft anti-affinity is different; e.g. you might want to spread

[2016-11-23 08:43] resouer commented on #37199
@Zjianglin The response you got from  `curl 10.96.234.18:3000` is a error output from Nginx, that's why I said your service has redirected your request to `mypod`, which is a Nginx running.

And this is done by:
[code]
I think you have noticed what happened next is:`KUBE-SVC-AGCYLPLBGVDRXMMI -> KUBE-SEP-YJI5MBS55ULMFDFK -> 10.32.0.5:80`.

So can you make sure `curl 10.32.0.5:80` from that node alw

[2016-11-23 08:48] davidopp commented on #37257
Thanks for the investigation, @yujuhong and @roberthbailey ! I LGTMd the PR @roberthbailey sent with the fix.

[2016-11-23 08:52] willis7 commented on #36450
Hey gang, @whereisaaron has summed up my scenario perfectly in his first post. I shall fire up another cluster, and see if this is resolved with the latest patches. Many thanks!

[2016-11-23 08:52] roberthbailey opened #37359 "GCE/GCI configure-helper.sh is not re-entrant"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): configure-helper.sh

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-11-23 09:03] k8s-merge-robot opened #37360 "ci-kubernetes-e2e-gci-gce-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/190/

Multiple broken tests:

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28297 #37101

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully r

[2016-11-23 09:03] k8s-merge-robot opened #37361 "[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should provide basic identity {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/390/

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should provide basic identity {Kubernetes e2e suite}

[code]

[2016-11-23 09:05] Crassirostris commented on #37292
Damn :)

[2016-11-23 09:14] iTagir commented on #37079
Got the same error on
Linux ubuntu 4.2.0-27-generic #32~14.04.1-Ubuntu SMP Fri Jan 22 15:32:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Docker
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.2.1
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.2.1
Git commit (server): 7c8fca2
OS/Arch (server):

[2016-11-23 10:18] piosz opened #37368 "Deprecate ENABLE_{CLUSTER, NODE}_LOGGING in kube-up"
Similarly to monitoring, logging should be configured just by `LOGGING_DESTINATION`. We should remove `ENABLE_{CLUSTER, NODE}_LOGGING` env variables.

[2016-11-23 10:18] piosz commented on #37368
cc @Crassirostris

[2016-11-23 11:04] wojtek-t commented on #25319
we should consider restricting hard anti-affinity to node-level only.

We should do it as long as we can (which means we need to make this before doing beta).

[2016-11-23 11:09] Draiken opened #37371 "Error when running kubectl apply"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `kubectl apply`, `kubectl apply label:kind/bug` and `apply error label:kind/bug`

---

[2016-11-23 11:18] feiskyer opened #37372 "Value could be empty in sysctls"
As pointed at [here](https://github.com/kubernetes-incubator/cri-o/pull/206#issuecomment-262424777) and [documentation](http://kubernetes.io/docs/admin/sysctls/#setting-sysctls-for-a-pod), it seems both key and value should not be empty in sysctls annotations.

But at [SysctlsFromPodAnnotation](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/helpers.go#L602), the key of sysctls is che

[2016-11-23 11:21] sttts commented on #37372
A value can be empty. There is no format implied by the kernel.

[2016-11-23 11:24] sttts commented on #37372
@feiskyer Where do you read in the Docs that empty values are not allowed?

[2016-11-23 11:28] feiskyer commented on #37372
@sttts Is there any example of empty value?

[2016-11-23 11:29] sttts commented on #37372
Example of the syntax?

[2016-11-23 11:54] sttts commented on #37372
Compare http://unix.stackexchange.com/questions/268210/sysctl-malformed-setting-net-ipv4-ip-local-reserved-ports.

Also e.g. kernel.hostname. The kernel happily accepts an empty string.

[2016-11-23 11:56] k8s-merge-robot opened #37373 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should come back up if node goes down [Slow] [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/32/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should come back up if node goes down [Slow] [Disruptive] {Kubernetes e2e suite}

[code]

[2016-11-23 11:57] feiskyer commented on #37372
@sttts Cool, thanks. It is a good example of empty value.

[2016-11-23 11:57] #37372 closed

[2016-11-23 11:58] dims commented on #37254
Sounds like the sane thing to do @jessfraz +1 from me.

[2016-11-23 12:01] AdoHe commented on #35993
I looked into this issue again, and just found other problem when test against master branch.
[code]
I believe there are some problem of TPR discovery.

[2016-11-23 12:08] k8s-merge-robot opened #37374 "[k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/395/

Failed: [k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28462 #33782 #34014

[2016-11-23 12:09] typhoonzero commented on #37268
I've got a simmilar issue on v1.3.6, I used rolling update to update a deployment, the new pod start hanging at:
[code]
while the old pod is still terminating.

[2016-11-23 12:12] carldanley commented on #36575
👍 I also have the exact same problem and i'm not sure why... I've done exactly what @kolisko did and i'm still seeing `ContainerCreating` with the following:

`Error syncing pod, skipping: failed to "SetupNetwork" for "kube-dns-654381707-lzh8r_kube-system" with SetupNetworkError: "Failed to setup network for pod \"kube-dns-654381707-lzh8r_kube-system(abb2894b-b175-11e6-ac63-001b78777574)\" using n

[2016-11-23 12:14] resouer commented on #37199
And please make sure you are not doing that behind some `http_proxy` btw.

[2016-11-23 12:16] jsafrane commented on #37056
I did run the test for ~500 times too and I got no flakes. And `framework.LookForStringInPodExec` always succeeded on the first attempt, no retries were necessary.

[2016-11-23 13:00] k8s-merge-robot opened #37376 "ci-kubernetes-e2e-gci-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/132/

Multiple broken tests:

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29752 #36837

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a RW PD, gracefully r

[2016-11-23 13:03] AdoHe commented on #37371
@ymqytw ptal.

[2016-11-23 13:10] deads2k commented on #37278
Shall we make an issue to remove that codec entirely?  I think that its only trying to write the raw TPR json out.  `runtime.Unstructured` was build for the sole purpose of funneling data like that and will serialize properly when encoded.

[2016-11-23 13:10] wojtek-t commented on #37232
I also managed to repro "roughly" the other way than yesterday, which is "again CA is right, but scheduler is consistently scheduling all pods to one node, those are later rejected by kubelet". The problem seems to be exactly the same with incorrect retries. I'm trying to understand this exactly right now.

Some logs:
[code]

[2016-11-23 13:20] mootezbessifi commented on #37352
I setup kubernetes on 3 VMs (created by VMWare): one master and two minions.
Moreover, I installed kubernetes-master 1.2.0 and kubernetes-nodes 1.2.4.
I just followed the official kubernetes ansible repo.

[2016-11-23 13:21] wojtek-t commented on #37232
OK - I understood exactly what happened in this case. What happened here is that:
- we tried to assign a pod to e2e-test-wojtekt-minion-group-z1xo
- in cache we assumed a pod is assigned to that node
- then we did another try to assign it to e2e-test-wojtekt-minion-group-l730
- assume to that node failed (because pod was already assumed)
- however, since binding is asynchronous, the second one suc

[2016-11-23 13:21] jsafrane opened #37377 "Internal provisioners should report success as an event"
`kubectl describe pvc` is quite confusing when provisioning for a PVC fails and then succeeds:

[code]

* it shows the PVC as `Bound`, i.e. everything is OK
* the last logged event is `Failed to provision volume`, i.e. something went wrong

What of the above is correct? We should log also the success:

[code]

[2016-11-23 13:28] eparis commented on #31307
Assigned to 'k8s-external-contributor' as a representation that the assignee is external. @CaoShuFeng is the actual assignee.

[2016-11-23 13:31] wojtek-t commented on #34772
As an update - the probelm with kubemark is scalability issue, which we can only reproduce in very large setups. And this is unrelated to this one.

[2016-11-23 13:31] MarkRx commented on #37086
Deleting the RCs could leave you in a bad state should you come across a failure. I had considered it but it also means that if something died along the way I could be left without an RC which could make a mess.

[2016-11-23 13:37] wojtek-t commented on #37232
BTW - the above problem would be fixed by my PR (in a hack way, but still).

[2016-11-23 13:40] eparis commented on #33173
NetworkPolicy (with a network plugin that supports it) should cover the access control part. So that only leaves "information leak", right? Do we allow zone transfers? If not, its a pretty weak information leak. You have to already know the name in that other namespace to look it up.

The only solution to have split DNS is going to have to be network policy based. As cross namespace services are q

[2016-11-23 14:06] fabianofranz commented on #35185
@pwittrock on it.

[2016-11-23 14:07] liggitt commented on #37023
do you see anything in the kube-dashboard logs? not sure if it uses discovery as well.. you may need to allow `"nonResourcePath": "*"`

[2016-11-23 14:07] wojtek-t commented on #37232
Actually, we discussed it with @gmarek and I think that the problem from yesterday was actually the same problem (and I was just looking into not exactly the logs I should have been looking). That said, I did 3 more tries, and all 4 runs failed exactly the same way.
What is more, the original bug reported by @mwielgus is also exactly the same one.

So I think that the fix that is waiting for merge

[2016-11-23 14:08] sjenning commented on #37340
I'm looking at it

[2016-11-23 14:24] sebgoa opened #37378 "Need to run `make` via sudo"
This is a follow up to #36655

Trying to build master, the go-bindata issue is fixed in a pending pr ( #36964  ). But It looks like one need to run via `sudo`.

[code]

[2016-11-23 14:25] rootfs commented on #30258
@jingxu97 thanks for looking!
the trouble is with volume `git-data.vhd` in https://github.com/kubernetes/kubernetes/issues/30258#issuecomment-262353026

Is it possible device that is attached after pod killing escapes UnmountDevice?

[2016-11-23 14:46] craigbox commented on #36327
That fixed my problem, thanks!

(It's worth noting that you will, of course, also fail the health check if you don't have any pods running in the cluster. My demo deployment started with pods in only one of the three clusters, so I sat confused for a while as to why I still had 0/2 nodes healthy in the other two!)

[2016-11-23 15:06] errordeveloper commented on #37063
cc @dgoodwin

[2016-11-23 15:07] wojtek-t commented on #37131
The correct command is:
[code]
[I guess we can just do <directory>="registry" (or "/registry" I can't remember exactly).]

But for that we need the etcd to be up, IIUC.

[2016-11-23 15:28] squeed commented on #37315
We're currently working on a convention within the CNI to facilitate post-interface-creation "tuning" plugins. One of the motivating examples is, of course, traffic shaping.

There are a few subtleties, including the fact that traffic shaping is a per-container consideration, rather than a per-network configuration.

The design I'm leaning towards is a separate call to libcni after the interface i

[2016-11-23 15:34] whitlockjc commented on #34348
The plan was to provide a mechanism to do both.

[2016-11-23 15:35] bprashanth commented on #37361
@foxish @janetkuo sst failure or storage layer?

[2016-11-23 15:46] jszczepkowski commented on #34679
I've analyzed two cases:
1. Run **2411**: HPA was not working because heapster was not running. There are no logs from addon-manager (responsible for running heapster), hard to say why there were no logs, probably addon manager was somehow broken.
2. Run **2525**: build failed, seems to be a jenkins problem.

Some thoughts:
- The problems are not caused by HPA.
- The problems are not related one t

[2016-11-23 15:48] smarterclayton commented on #37278
I think you might even be able to register runtime.Unstructured for the
specific kind into a scheme and just get the right behavior.

On Nov 23, 2016, at 7:10 AM, David Eads <notifications@github.com> wrote:

It's a server-side problem. When decoding the DeleteOptions, the server
calls the TPR decoder, which then delegates to the api.Codec, with gvk set
to the thirdparty one. Shall we just hard-co

[2016-11-23 15:49] pires opened #37383 "Can't compile kubelet for Windows"
Because of [the kubelect eviction manager now depends on cgo](https://github.com/kubernetes/kubernetes/commit/2583116f1a6e668500c86c9add88905e86e09c3e) we're no longer capable of compiling `kubelet` for Windows.

This is a release blocker.

/cc @alexbrand @michmike @brendandburns

[2016-11-23 15:51] dims commented on #37383
@pires if you mean 1.5, please set the milestone and the "release-blocker" tag

[2016-11-23 15:54] deads2k commented on #37278
Tried it.  Its not a drop-in.  You have to adjust creators and typers and then the list objects become an issue because `ListMeta` API retrievals don't work down in storage.  It's close, but its not all the way there.

[2016-11-23 15:54] mikedanese commented on #34949
I don't think that's actually necessary anymore. Kubelet will do that for you.

[2016-11-23 15:56] dims commented on #37184
Submit Queue stuck for 8 hours now. Marking this as p0

[2016-11-23 15:58] dims commented on #37184
@wojtek-t @janetkuo : @piosz : the revert PR (https://github.com/kubernetes/kubernetes/commit/a3e6ad4b9a45247eb4da81eef056eabb70cc23a1) did not help this problem

https://k8s-testgrid.appspot.com/google-gke#gci-gke is still red!

[2016-11-23 15:59] derekwaynecarr commented on #37340
same

[2016-11-23 15:59] pires commented on #37383
@dims I don't have the permissions to do so.

Also, here's how I am building it:
[code]

[2016-11-23 16:00] dims commented on #37184
@janetkuo : should we add the slow back in? (revert this change - https://github.com/kubernetes/kubernetes/commit/0744033d8c2a3bf3d46dbdefd5ae665bf10eca69) so the test does not get run in gci-gke?

[2016-11-23 16:02] dims commented on #37383
Done.

[2016-11-23 16:09] dims commented on #37383
@pires looks like @derekwaynecarr 's PR may help https://github.com/kubernetes/kubernetes/pull/37384

[2016-11-23 16:23] fabianofranz commented on #35185
Actually @SamiHiltunen already has it covered.  ;)

[2016-11-23 16:25] dgoodwin commented on #37063
Did you install kubelet and kubeadm via the official CentOS 7 rpms? It carries an important systemd drop-in that configures kubelet to crash-loop until it's configuration is written. If this is not in place, kubelet starts and creates /var/lib/kubelet, and isn't running in the correct mode for kubeadm. First guess is this is a manually setup kubeadm env perhaps?

Come to think of it we should pref

[2016-11-23 16:28] bigglesandginger commented on #22351
@liggit what do you mean "...explicitly give it to each apiserver...", how?  I have not seen any documentation about this mention this seemingly huge flaw in HA deployments.

[2016-11-23 16:39] philips commented on #34348
Overall I am supportive of this. I think the tricky part is how to bail users out of the "admission controller network partitioned and now my entire cluster doesn't work" problem. There needs to be hard thought given to that; it could be that we just suggest that your admission controller, generally, should only be in the same pod.

[2016-11-23 16:41] smarterclayton commented on #37278
Ok.  At some point I'd like to come back to it.

[2016-11-23 16:42] luxas commented on #34134
@dvohra Please just tear down your cluster `kubeadm reset`, turn it up again (start kubelet and `kubeadm init|join`) and from the beginning apply the right manifest.

[2016-11-23 16:51] dstiliadis commented on #34949
To be more accurate the way I got it working (and kube-dns to actually come up) is by using this in the master:

printf '[Service]\nEnvironment="KUBELET_NETWORK_ARGS=--network-plugin=kubenet --reconcile-cidr --pod-cidr=10.20.0.0/24"\n' > /etc/systemd/system/kubelet.service.d/20-kubenet.conf

I believe this is because of #32900

Note: this is a bare metal setup, where subnet/host is handled in the

[2016-11-23 16:51] whitlockjc commented on #34348
I completely agree.  My plan is to take the already available related features in the image policy webhook and use those.  But where we can do more, I'm all ears.  _(I do already have features to limit the chattiness of the webhook like limiting the kinds you're interested in and even the admission operations on those kinds.)_  I hope to have a PR ready soon.

[2016-11-23 16:53] roberthbailey opened #37385 "Manual upgrade testing on GCE is leaking resources"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): upgrade test leak

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BU

[2016-11-23 16:57] ymqytw commented on #37371
@Draiken From the error message you provide, it seems the patch causing server error is generated by a `kubectl` with version `1.4.3` or earlier. Because the patch is still using `name` as `mergeKey` for `VolumeMount `. We changed the `mergekey` of `VolumeMount` to `mountPath ` since `1.4.4`, see #35208.

If you are using a `1.4.5 kubectl` against a `1.4.5 APIServer`, this should not happen.

[2016-11-23 17:01] liggitt commented on #22351
distribute the public key you want the api servers to use to verify service account tokens as part of distributing the configuration/options.

[2016-11-23 17:06] jcrawfordor opened #37386 "Remove IP of ingress controller from ingress object status when ingress controller ceases to exist"
**Kubernetes version** (use `kubectl version`): 1.3.0

**What happened**:

When using the Google nginx-ingress-controller image to provide a reverse-proxy to various services, ingress controllers sometimes go down for various reasons and may be replaced by new ingress controllers (e.g. when a random node failure occurs) or their workload may just be left to existing ingress controllers (e.g. as a

[2016-11-23 17:06] janetkuo commented on #37184
@dims Yes we should

[2016-11-23 17:16] janetkuo commented on #37184
GKE doesn't have StatefulSet yet, and that's why the test failed. Reverting the PR first.

[2016-11-23 17:22] soellman commented on #34348
My use cases might cover all three of those options; primarily it will be to accept or reject, but I have other cases which might apply defaults or transform the object. In the defaults case, I'd imagine the defaults would be on a per-namespace scope.

[2016-11-23 17:29] emaildanwilson commented on #29887
+1 on this, I'll start looking at what it would take to make it happen.

[2016-11-23 17:35] yujuhong commented on #32214
`ci-kubernetes-e2e-gci-gce-serial-release-1.4` failed once in the past ~40 runs. It really is not at the top of my priority list. The soak cluster tests are bound to fail because docker 1.11 (on non-gci images) leaks memory (known issue with no fix). The alternative is to disable this test and pretend everything is fine.

Most failures in this issue are now from the pre-release builds.

[2016-11-23 17:35] yujuhong commented on #32214
/cc @saad-ali see the comment above

[2016-11-23 17:39] roberthbailey commented on #37385
I tried this on a different GCP project and it didn't reproduce. I'm going to see if there's anything strange about my project.

[2016-11-23 17:45] Raffo commented on #27658
@justinsb Is it also expected that the pods are still running?

[2016-11-23 18:01] bronger commented on #37063
I followed http://kubernetes.io/docs/getting-started-guides/kubeadm/:

    # cat <<EOF > /etc/yum.repos.d/kubernetes.repo
    [kubernetes]
    name=Kubernetes
    baseurl=http://yum.kubernetes.io/repos/kubernetes-el7-x86_64
    enabled=1
    gpgcheck=1
    repo_gpgcheck=1
    gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg
           https://packages.cloud.google.com/yum/doc/rpm-packa

[2016-11-23 18:12] smarterclayton commented on #27658
?

[2016-11-23 18:14] wongma7 commented on #31272
@jingxu97 @saad-ali did you consider paul's above suggestion to modify `IsNotMountPoint` to check the mount table instead of doing stat, for a short-term 1.5 fix? It wouldn't prevent future regression of things like stat potentially hanging kubelet but for now, with the problem is isolated to that one function on kubelet restarts, I think the fix can be implemented easily for 1.5?

[2016-11-23 18:16] juanvallejo opened #37390 "`kubectl create` does not support `--output` when using `--dry-run`"
**What happened**:
[code]

**What you expected to happen**:
[code]
*yaml output*

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything else do we need to know**:
Related PR https://github.com/kubernetes/kubernetes/pull/34028

[2016-11-23 18:30] madhusudancs commented on #36327
Thanks for verifying it @craigbox.

I hope it isn't too confusing after this fix and health checks shouldn't flap.

[2016-11-23 18:31] dgoodwin commented on #37063
Ok I will try to reproduce ASAP, if possible would love to see the "systemctl status kubelet".

[2016-11-23 18:33] MrHohn commented on #34274
Actually I think we might want to keep this issue open. There is an Alpha Disclaimer comment [in the code](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/apply.go#L74), which has a pointer to this issue.
Plus this `--prune` feature indeed needs to be refined, see comments [here](https://github.com/kubernetes/kubernetes/pull/35220#issuecomment-255231265) and [here](https://git

[2016-11-23 18:40] MrHohn commented on #37352
Could you show the output of `kubectl get pods --namespace=kube-system`? Is addon-manager running?

And could you get logs from the addon-manager (by using `docker logs` command on master node)?

Did the `kube-dns` service also be deleted?

[2016-11-23 18:46] eparis commented on #31272
Checking the mount table is ok, but on systems with large number of containers it might be HUGE. 2 stat calls are quick. Parsing a 1,000,000+ line file isn't. Paul talked to me about having a go routine which parsed the mount table every X seconds and then provided these answers as a service of some sort. That might be feasible but we have to understand that the answers from this service would be

[2016-11-23 18:56] freehan commented on #31307
@CaoShuFeng SGTM. Let us know when the CNI hostport plugin is ready.

If we want to catch the 1.6 train, need some head room to get hostport plugin into upstream CNI first.

[2016-11-23 18:58] #37355 closed

[2016-11-23 19:00] janetkuo opened #37393 "GKE should enable apps/v1beta1 API group"
@jlowdermilk @foxish @saad-ali

It's for StatefulSets

[2016-11-23 19:05] bowei commented on #33173
@sandys, @jonathan-kosgei  -- trying to understand the problem

Echoing @eparis -- to resolve a name in a different namespace you have to give both the service name and the external namespace explicitly in the lookup. E.g. for service "foo" and external namespace "external-ns", resolving a DNS name would look like this:
[code]
Presumably, once the name is resolved, any attempts to contact the endp

[2016-11-23 19:30] k8s-merge-robot opened #37395 "ci-kubernetes-soak-gke-gci-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-gci-test/25/

Multiple broken tests:

Failed: [k8s.io] PrivilegedPod should test privileged pod {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29519 #32451

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2e

[2016-11-23 19:31] boynux opened #37396 "It's not necessary for Kube Proxy to SNAT UDP Packets"
**What happened**:
Source address in UDP packets are the only way to reliably identifies the originator and many UDP based systems (like Radius servers) rely on this fact. Kube Proxy in iptables mode masks the originator IP by obfuscating the originator address when forwards the request to the POD.

**What you expected to happen**:
Option in Server config or Kube Proxy settings to override this be

[2016-11-23 19:39] bigglesandginger commented on #22351
I misinterpreted the CoreOS instructions about the api-server and controller-manager configurations.  The CLI parameter --service-account-private-key-file= must point at the same key for all api-servers and controller-managers.  Now I understand.  Thanks.

[2016-11-23 19:44] Draiken commented on #37371
The deployment container uses gcloud to update kubectl, so it should be on
the same version. Either way I'll switch to downloading the kubectl binary.

Thanks for looking into it.

On Wed, Nov 23, 2016, 2:57 PM Mengqi Yu <notifications@github.com> wrote:

[2016-11-23 19:51] #37257 closed

[2016-11-23 20:00] roberthbailey commented on #37257
FYI this won't actually be fixed until this PR is in the 1.5 release branch and we cut a beta release. At that point we will update the instructions in https://docs.google.com/document/d/19Q4AzWLD5jd2FNaPyKy2xdTN4JIGUUpvwDwg0tcBkyc/edit# to point to `v1.5.0-beta.2` and upgrade.sh should be working properly again.

[2016-11-23 20:01] mikedanese commented on #34101
Moved to kubernetes/kubeadm#66

[2016-11-23 20:01] #34101 closed

[2016-11-23 20:03] Raffo commented on #27658
In the original post, the author mentioned that he removed a petset, leaving with the pods still running. I guess currently the default behavior is to have `cascade=true` in kubectl when doing this.
I was originally commenting cause I was mixing version (1.4, 1.5) and due to the rename of PetSets into StatefulSets I was having similar behaviors to the one described in this issue.

[2016-11-23 20:10] dvohra commented on #34134
1. Started 3 new CoreOS EC2 instances.
2. On one of the nodes reset with `kubeadm reset` if `kubeadm` available. Subsequently,  installed the `kubeadm-installer`
[code]
3. Inited the cluster with `kubeadm init --skip-preflight-checks`
4. Applied `kubeadm/calico.yaml`
5.Installed `kubeadm-installer` on the other 2 nodes
6. Joined the two nodes with master with `kubeadm join --skip-preflight-checks

[2016-11-23 20:11] smarterclayton commented on #27658
Yeah, cascade was not implemented in the original petset alpha release.

On Nov 23, 2016, at 2:04 PM, Raffaele Di Fazio <notifications@github.com>
wrote:

In the original post, the author mentioned that he removed a petset,
leaving with the pods still running. I guess currently the default behavior
is to have cascade=true in kubectl when doing this.
I was originally commenting cause I was mixing v

[2016-11-23 20:15] Raffo commented on #27658
Then I guess this can actually be closed (one less!). Thanks!

[2016-11-23 20:40] bprashanth commented on #24145
It needs to be dealt with on a case by case basis (eg https://github.com/kubernetes/kubernetes/issues/35758)

[2016-11-23 20:51] #34909 closed

[2016-11-23 20:52] kargakis opened #37399 "Editing a pv exits without returning any error"
[code]
The edited file contains my changes (different hostPath), the editor exists but leaves no message about why my change didn't happen.

cc: @kubernetes/kubectl @kubernetes/sig-cli

[2016-11-23 21:04] foxish commented on #37393
The change has been submitted.
Waiting for the test clusters to get the update.

[2016-11-23 21:15] kargakis commented on #27732
Is there any other way to test provisioning in StatefulSets locally currently?

[2016-11-23 21:18] smarterclayton opened #37400 "Unable to compile on Mac"
[code]

Caused by #32577 - needs to be gated by a build guard.

[2016-11-23 21:19] smarterclayton commented on #37400
Dupe of #37384

[2016-11-23 21:19] #37400 closed

[2016-11-23 21:25] kargakis commented on #37086
I am interested in what cases you have for this kind of setup. We have a lot of issues with overlapping controllers and I am not sure we want to allow ways of getting this any more complex that it already is. Managing labels in general is hard for average users. Wouldn't https://github.com/kubernetes/kubernetes/issues/36897 be helpful for you?

[2016-11-23 21:28] grodrigues3 commented on #32451
@dchen1107 please reassign

[2016-11-23 21:31] ymqytw commented on #37399
It seems that it detected change in apiVersion, kind or name. Have you changed them?

[2016-11-23 21:32] kargakis commented on #37399
Oops, missed. The name is changed, thanks.

[2016-11-23 21:32] #37399 closed

[2016-11-23 21:35] ixdy commented on #37378
Did you previously run `sudo make`? I'm pretty sure the `.make/` directory is created as part of the build, and so would only be unreadable if you ran `make` as a different user first.

(At least in my workspace, everything under `.make/` is owned by me.)

[2016-11-23 21:36] ixdy commented on #37079
What git sha of `kubernetes` were you building from?

[2016-11-23 21:36] mtaufen commented on #33882
**Current Status:**
We are seeing several reboot test suites that are more flaky on GCI than on Container-VM. gke-reboot (https://k8s-testgrid.appspot.com/google-gke#gke-reboot), for example, passes ~99% of the time but gci-gke-reboot (https://k8s-testgrid.appspot.com/google-gke#gci-gke-reboot) only ~93% of the time.

These K8s issues summarize the failing suites:
https://github.com/kubernetes/kub

[2016-11-23 21:38] iTagir commented on #37079
I have cloned the head. I think the reason might be missing package: gccgo-4.8-aarch64-linux-gnu
I'm compiling right now and update on result.

[2016-11-23 21:41] ixdy commented on #37079
@iTagir were you running `make release` or `make`? `make release` runs inside docker, so the gcc error is confusing.

[2016-11-23 21:44] iTagir commented on #37079
@ixdy I run:
sudo make release
 in Ubuntu VM running in VMWare workstation if that matters. Are you in kubernetes-users slack channel?

[2016-11-23 21:45] ixdy commented on #37079
@iTagir does `make quick-release` fail in the same way?

[2016-11-23 21:50] pwittrock commented on #34274
SGTM

[2016-11-23 21:52] Ademord commented on #23727
I'm having the same issue (win10). Did anyone find a workaround?

[2016-11-23 21:56] vincipdx commented on #36575
I had similar issue using kubeadm and resolved it. If you are using flannel then you need to use --pod-network-cidr= flag to kubeadm as @smerrill said. I tried to use weave and still had the same issue as @carldanley. Then I realized had remnant flannel conf in /etc/cni/netd.d/ 10-flannel.conf from my previous attempt to configure kube. I removed that flannel conf and kube dns came up fine.

[2016-11-23 21:59] #37340 closed

[2016-11-23 21:59] #37383 closed

[2016-11-23 22:00] iTagir commented on #37079
tagir@ubuntu:~/gospace/kubernetes$ sudo make release
+++ [1123 13:33:46] Verifying Prerequisites....
+++ [1123 13:33:46] Building Docker image kube-build:build-911c53b32d-4-v1.7.3-0
+++ [1123 13:33:48] Syncing sources to container
+++ [1123 13:33:49] Running build command...
+++ [1123 13:34:16] Generating bindata:
    /go/src/k8s.io/kubernetes/test/e2e/framework/gobindata_util.go
+++ [1123 13:34:1

[2016-11-23 22:01] abrarshivani opened #37402 "vSphere CloudProvider doesn't initiate"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-23 22:04] vincipdx commented on #36575
Also when joining the minions to the cluster. kubeadm join complains /etc/kubernetes is not empty and failed to join the minion.  using --skip-preflight-checks option to join command resolves it.

_[root@kube-vm2 ~]# kubeadm join --token=<token> <master ip>
Running pre-flight checks
preflight check errors:
        /etc/kubernetes is not empty_

[2016-11-23 22:06] ixdy commented on #37079
Do you need to run `sudo make release`, instead of just `make release`?

Can you try running the following:
[code]

[2016-11-23 22:08] iTagir commented on #37079
well, if I don't do sudo docker does not work :) I need to run as root.
I'll try the commands as soon as quick-release ends.

[2016-11-23 22:10] ixdy commented on #37079
ah, gotcha. you can probably fix the docker access issue by following [these instructions](https://docs.docker.com/engine/installation/linux/ubuntulinux/#/create-a-docker-group) in the docker manual. that's probably not why it's failing, though.

[2016-11-23 22:17] lavalamp commented on #34060
This should not be an api machinery issue.

Are these presubmit (per-pull) tests or post submit (run serially on head)?
If the former, and they run in the same project, I think this could just be
multiple instantiations of the tests interfering with each other.

On Tue, Nov 22, 2016 at 3:54 PM, caleb miles <notifications@github.com>
wrote:

[2016-11-23 22:18] ixdy commented on #37378
@thockin should we be deleting the `.make/` dir on `make clean`?

[2016-11-23 22:18] #37326 closed

[2016-11-23 22:19] k8s-merge-robot opened #37403 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1783/

Run so broken it didn't make JUnit output!

[2016-11-23 22:19] ixdy commented on #34060
@lavalamp these are CI, and should all be using unique projects.

[2016-11-23 22:20] dims commented on #37138
@bgrant0607 @ymqytw : Do we still consider this a release blocker?

[2016-11-23 22:20] ixdy commented on #34060
that said, I think at least some of these are expected due to renaming things in the CI configuration.

[2016-11-23 22:21] dims commented on #37393
thanks for the update @foxish

[2016-11-23 22:21] #37403 closed

[2016-11-23 22:23] lavalamp commented on #34348
Without actually reading this, I think it would be great if we could
combine all efforts in this area around initializers. #17305

On Wed, Nov 23, 2016 at 9:22 AM, Oliver Soell <notifications@github.com>
wrote:

[2016-11-23 22:23] dims commented on #36891
@liggitt : @derekwaynecarr : do we still think this is a release-blocker? if so, what needs to be done to unblock the release?

[2016-11-23 22:24] dims commented on #27828
@justinsb : do we still consider this a blocker? I haven't seen any activity for more than a week. If so, what needs to be done to unblock it?

[2016-11-23 22:25] dims commented on #33884
@justinsb : @chrislovecnm : How do we unblock the release? What needs to be done here?

[2016-11-23 22:26] dims commented on #37117
Thanks for the update @smarterclayton !

[2016-11-23 22:33] kerneltime commented on #37402
This is the same issue as https://github.com/kubernetes/kubernetes/issues/36295 the init code needs to be https://github.com/kubernetes/kubernetes/issues/36295

[2016-11-23 22:35] jgeraerts commented on #30258
@rootfs  my last log i posted also resulted in a duplicate mount. would strace-ing the kubelet help? Maybe that way we can figure out if it is actually doing 2 mounts?

[2016-11-23 22:42] k8s-merge-robot opened #37405 "ci-kubernetes-e2e-gci-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/48/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28091

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an inval

[2016-11-23 22:54] k8s-merge-robot opened #37406 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1784/

Run so broken it didn't make JUnit output!

[2016-11-23 22:55] jingxu97 commented on #37056
After checking the code path, I found that there is no retry to read file content. So most likely this behavior (return empty string from the file) is caused by the docker issue we identified earlier. Will add a retry function into the test.

[2016-11-23 22:57] ymqytw commented on #37138
@dims I think it's not a release blocker now.

[2016-11-23 22:59] saad-ali commented on #28283
"VolumesInUse Status to NOT contain diskName" is a new failure mode we haven't seen in flakes before. @jingxu97 can you see if there was a recent change that might've triggered that?

[2016-11-23 23:00] rmmh commented on #37406
dupe of #37340

[2016-11-23 23:01] rmmh commented on #37406
[code]
uhhh

[2016-11-23 23:05] rootfs commented on #30258
@jgeraerts strace probably doesn't help, it doesnt trace the kubelet internal api calls

[2016-11-23 23:11] rootfs commented on #30258
@jgeraerts is your last log complete (nexus-data.vhd)? there is only one mount message
[code]

[2016-11-23 23:17] davidopp commented on #37257
Agreed; I'll take care of doing that once I see the anago announcement of the new beta.

[2016-11-23 23:52] jingxu97 commented on #28283
Investigated with Saad the failures "VolumesInUse Status to NOT contain diskName", looks like this happened during the PR #36610 was merged.
Due to an error caused by this PR, mounter script will fail to garbage collect the rocket container. UnmountDevice will fail because the global mount has other mount references.

After #36610 is reverted, this error should not happen again.

[2016-11-23 23:55] jingxu97 commented on #31272
Currently, we are working on a workaround to avoid checking mount point during cleanupOrphantPods. After we verify the approach and check in the code, kubelet will not hung for this. But umount process will still has issue which needs more work.

[2016-11-23 23:56] mstump opened #37408 "Move kubernetes-cassandra.jar to external repository"
I'm updating the [kubernetes-cassandra.jar](https://github.com/kubernetes/kubernetes/blob/master/examples/storage/cassandra/image/files/kubernetes-cassandra.jar) in pull request #37145 as part of fixing #34422. I'm not sure if keeping this code and the resulting binary in the Kubernetes repo makes sense. I'd like to move the code out to it's own repo and push the binaries to another repository suc

[2016-11-24 00:03] ymqytw commented on #37138
This should be changed to a future milestone.

[2016-11-24 00:09] k8s-merge-robot opened #37409 "ci-kubernetes-e2e-gce-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/47/

Run so broken it didn't make JUnit output!

[2016-11-24 00:10] foxish opened #37410 "Enable PDB tests on GKE"
It [currently skips the tests ](https://github.com/kubernetes/kubernetes/blob/e3091d830418309ae0496dab08130d226e25c588/test/e2e/disruption.go#L47) on GKE but it has moved to beta since the time that was written.

Prior to this change:
* The group "policy/v1beta1" would need to be enabled in GKE explcitly similar to https://github.com/kubernetes/kubernetes/issues/37393.

[2016-11-24 00:11] foxish commented on #37393
@dims, not yet. Will verify the fix and once the tests start to be run on GKE, we can close this out.

[2016-11-24 00:17] jeffvance commented on #31272
FWIW, I'm currently working on an e2e test for this pr. I'll push shortly and appreciate any feedback.

[2016-11-24 00:21] foxish commented on #37393
Verified the fix.
We are good to go, and the latest run of ci-kubernetes-e2e-gke-slow just ran the Stateful Set tests on GKE successfully.

Thanks @maisem @saad-ali

[2016-11-24 00:25] foxish commented on #37393
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/148/build-log.txt

[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/149/build-log.txt

[code]

[2016-11-24 00:31] foxish commented on #37393
After the freeze has ended (Monday):
- [ ] Merge https://github.com/kubernetes/kubernetes/pull/37398
- [ ] Revert https://github.com/kubernetes/kubernetes/pull/37387

[2016-11-24 00:33] ymqytw commented on #31429
The first 3 test failures appear to have been fixed by some others PR. Since that kind of failure don't happen any more.
The last 2 test failures are related to timeout, can't get enough replicas (pods) in time.
I didn't find any clue showing that the failure is caused by kubectl e2e tests. I guess the last 2 failure may be caused by some random node failure.
There is another test failure (not the

[2016-11-24 00:35] freehan opened #37414 "Race between kube-proxy start up and node registration"
During kube-proxy bootstrap, kube-proxy retrieves node IP by accessing node object.
https://github.com/kubernetes/kubernetes/blob/release-1.5/cmd/kube-proxy/app/server.go#L464

Because kube-proxy is a static pod, kubelet may start kube-proxy before completing self registration. Hence kube-proxy may start up without knowing the correct node IP.

[2016-11-24 00:36] Random-Liu commented on #37414
@yujuhong to confirm.

[2016-11-24 00:45] bharrisau opened #37415 "Confirm behaviour of CreateThreeWayMergePatch"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): master

**What happened**:
Three way merge is described as

However the behaviour matches this test case (https://github.com/kubernetes/kubernetes/blob/5190ace8f0d78d8b1774504e502ae983b993b48c/pkg/util/strategicpatch/patch_test.go#L380)

The key `name` is `1` in original, `1` in m

[2016-11-24 00:46] gladiatr72 commented on #37386
@jcrawfordor hey there.  Just saw your PR and thought I'd mention: running through your steps under 1.4.6 doesn't display this problem.

[2016-11-24 00:49] huggsboson opened #37416 "kubelet 1.3.9 inserting duplicate iptables rules on centos6 (iptables v1.4.7)"
**Kubernetes version** (use `kubectl version`):
Upgrading from 1.2.0 (working) to 1.3.9 (broken)

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal Dell R420's
- **OS** (e.g. from /etc/os-release): CentOS 6 with a 3.10 kernel.
- **Kernel** (e.g. `uname -a`):  3.10.0-327.18.2.el7.x86_64
- **Install tools**:
- **Others**:
iptables --version
iptables v1.4.7

**What happened*

[2016-11-24 01:01] freehan commented on #37416
Looks like our EnsureRule iptables util does not work properly in this case.

[2016-11-24 01:09] huggsboson commented on #37416
Note: we aren't running kube-proxy at the moment either.  But would like to in the near future.

[2016-11-24 01:11] saad-ali commented on #37376
@foxish @janetkuo Can you please get this triaged for 1.5 as blocking or non-blocking

[2016-11-24 01:13] foxish commented on #37376
This is also fixed by the GKE fix as part of https://github.com/kubernetes/kubernetes/issues/37393.
Closing the issue.

[2016-11-24 01:13] #37376 closed

[2016-11-24 01:18] k8s-merge-robot opened #37417 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: http [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/211/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: http [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #33730

[2016-11-24 01:24] freehan commented on #37416
chatted with @huggsboson offline

flip ` --make-iptables-util-chains=false` to stop the sync for now.

Maintain util rules thru a different process.
[code]

[2016-11-24 01:30] saad-ali commented on #37417
@kubernetes/sig-network @bprashanth Can you please take a look and triage as blocking or non-blocking for 1.5? Previous issue was closed assumed to be fixed by #36332

[2016-11-24 01:31] #35159 closed

[2016-11-24 01:42] MrHohn commented on #37417
Seems like it is the same duplicated nodePort allocation issue mentioned [here](https://github.com/kubernetes/kubernetes/issues/28569#issuecomment-261385150):
[code]

[2016-11-24 02:03] guangxuli opened #37419 "Can not receive Contributor License Agreement"
this PR is releated to CNCF/CLA:

Today when I click the "review&sign" button in my email sent by Linux Foundation some days ago.
the result:  `Sorry, that page doesn't exist!` from **hello sign**.
In PR:  https://github.com/kubernetes/kubernetes/pull/33757 , you can see that  `cla/linuxfoundation — guangxuli needs CLA` . When i click the `detail` link, it response:
**A Contributor License Agreeme

[2016-11-24 02:21] inetkiller opened #37421 "kube-controller-manager panic frequently"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

fatal error: concurrent map writes
i found this https://github.com/kubernetes/minik

[2016-11-24 03:26] k8s-merge-robot opened #37423 "[k8s.io] Downward API volume should set mode on item file [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/472/

Failed: [k8s.io] Downward API volume should set mode on item file [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-24 03:55] typhoonzero commented on #37265
Thanks for replying. I see `kubeadm` has different goals to `sextant`. Still we are happly to share the project to `kubernetes/contrib` , how could I do that?

[2016-11-24 04:10] k8s-merge-robot opened #37425 "ci-kubernetes-e2e-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/124/

Run so broken it didn't make JUnit output!

[2016-11-24 04:15] saad-ali commented on #34223
@davidopp Can you please help triage this issue as blocker/non-blocker for 1.5 release.

[2016-11-24 04:32] adiri opened #37426 "kubeadm not creating /etc/cni/net.d .. pods will fail to load."
I tested kubeadm on CentOS 7, did exactly what the document stated and everything work as expected.

when I created a pod I had the following error:

[code]

creating  at the master and slaves /etc/cni/net.d fixed the problem.

[2016-11-24 04:58] gnufied commented on #36450
I tried reproducing this with latest version and I think situation has defenitely improved. Here is my deployment file:

[code]

and I bumped nginx image verison so as to trigger new deployment. I couldn't reproduce it. So I think situation here has definitely improved in latest version.

If those - who are still seeing this problem can attach `kubelet.log` and `kube-controller-manager.log` that w

[2016-11-24 05:11] Zjianglin commented on #37199
Hi, @resouer , from another pod(`busybox`),I can always get expected output `I love kubernetes storage!` by `wget -qO- 10.32.0.5:80` , is that your ` make sure wget or curl 10.32.0.5:80 from that node always works?` meaning?
The service yaml:
[code]

Then, thanks for your reminding of the `http_proxy`. After `unset http_proxy` , i can access the service by `curl 10.96.234.18:3000`. However, at ano

[2016-11-24 05:43] k8s-merge-robot opened #37427 "[k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging/21/

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]

[2016-11-24 06:05] k8s-merge-robot opened #37428 "[k8s.io] Generated release_1_5 clientset should create v2alpha1 cronJobs, delete cronJobs, watch cronJobs {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/630/

Failed: [k8s.io] Generated release_1_5 clientset should create v2alpha1 cronJobs, delete cronJobs, watch cronJobs {Kubernetes e2e suite}

[code]

[2016-11-24 06:28] thockin commented on #37416
I seem to recall CentOS 6 has an ancient version of iptables which was
broken 6 ways to Sunday.  Specifically, 1.4.7 (which you have) is less than
`MinCheckVersion` (1.4.11), which means we fall back on a known sketchy
function: `checkRuleWithoutCheck`.   That is the function to debug.  If you
run kubelet with `--v=5`, you might see lines like "DBG: fields is not a
superset of args" which would ha

[2016-11-24 06:34] thockin commented on #37378
.make is cleaned up by a `make clean` - if you ever ran `sudo make` there
might be some root-owned debris.  clean it once with sudo.

On Wed, Nov 23, 2016 at 2:18 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-11-24 06:36] thockin commented on #24145
This issue is sort of a collector, not really actionable.  We should
probably close it and move info to docs and discrete bugs/FRs.

On Wed, Nov 23, 2016 at 12:40 PM, Prashanth B <notifications@github.com>
wrote:

[2016-11-24 06:38] thockin commented on #37315
Maybe we need a CNI developers summit in early Q1?  There are a lot of
ideas on the table, we should be careful here...

On Wed, Nov 23, 2016 at 7:28 AM, Casey Callendrello <
notifications@github.com> wrote:

[2016-11-24 06:40] k8s-merge-robot opened #37430 "ci-kubernetes-e2e-gci-gke-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-updown/641/

Run so broken it didn't make JUnit output!

[2016-11-24 06:46] mootezbessifi commented on #37352
hi @MrHohn,
this is what you want:
1. `#kubectl get pods --namespace=kube-system`
     `kube-dns-v11-olq8v           4/4                  Running             0                      1m             ctc-cicd3`

After some minutes, the pod disappear and kubectl get pods ... shows nothing.

2. kube-addons.service is already running.
3. kube-addons.service logs (the next was a portion from the hole log

[2016-11-24 06:52] sebgoa commented on #37378
yeah, so it was debris. Blame is on me sorry for the noise.

Your PR #36964 works fine.

[2016-11-24 06:52] #37378 closed

[2016-11-24 06:55] liggitt commented on #36891
@dims yes, possible fix in https://github.com/kubernetes/kubernetes/pull/37431

I'd really like an automated reproducing test case for this, but the current CI infrastructure doesn't currently set up HA apiserver and HA etcd servers

[2016-11-24 07:08] iTagir commented on #37079
After running make release I got an error:
# k8s.io/kubernetes/cmd/genkubedocs
/usr/local/go/pkg/tool/linux_amd64/link: running gcc failed: fork/exec /usr/bin/gcc: cannot allocate memory

Current configuration is 4GB. I'll try to increase memory in VM.

[2016-11-24 07:18] davidopp commented on #34223
@kevin-wangzefeng

[2016-11-24 07:21] caesarxuchao commented on #34223
Seems it's not caused by #36673. The first failure today started running at 13:57 PST.

[2016-11-24 07:33] anguslees commented on #13776
Just because I didn't see it explicitly spelled out above, the rsync version is as easy as ensuring the rsync binary exists in the container and setting `RSYNC_RSH` env var to point to the location of this script:

[code]

Then you can just do `rsync /local/path $name_of_container:/remote/path` and all the other rsync argument variations as usual.

[2016-11-24 08:43] k8s-merge-robot opened #37435 "[k8s.io] Proxy version v1 should proxy to cadvisor using proxy subresource {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kubenet/450/

Failed: [k8s.io] Proxy version v1 should proxy to cadvisor using proxy subresource {Kubernetes e2e suite}

[code]

[2016-11-24 08:45] huggsboson commented on #37416
Agreed on archaic.  We're gonna try @freehan's work around and if it works out keep this work around in place until we can move to centos7.

[2016-11-24 08:50] nikhiljindal commented on #36194
Sent PR https://github.com/kubernetes/kubernetes.github.io/pull/1788 to update documentation for this

[2016-11-24 08:53] nikhiljindal commented on #33612
Status update for 1.5:
We support cascading deletion in Ingresses, Namespaces, Replica Sets, Secrets, Deployments and Daemon Sets. Config maps and services do not support this.
For services we were deleting all underlying resources by default, which was a bug. Fixing it in 1.5: https://github.com/kubernetes/kubernetes/issues/36799.

Next step is to support it in these 2 resources as well.

[2016-11-24 08:57] davidopp commented on #37410
@mwielgus can you take care of this?

[2016-11-24 09:06] k8s-merge-robot opened #37436 "[k8s.io] StatefulSet [Slow] [k8s.io] Basic StatefulSet functionality should provide basic identity {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/162/

Failed: [k8s.io] StatefulSet [Slow] [k8s.io] Basic StatefulSet functionality should provide basic identity {Kubernetes e2e suite}

[code]

[2016-11-24 09:18] k8s-merge-robot opened #37437 "ci-kubernetes-e2e-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/331/

Run so broken it didn't make JUnit output!

[2016-11-24 09:29] roberthbailey commented on #37265
New projects are not being added to contrib; instead contrib is being broken into separate repositories through the [incubator process](https://github.com/kubernetes/community/blob/master/incubator.md).

[2016-11-24 09:36] jsafrane commented on #27732
@kargakis There is! https://github.com/kubernetes-incubator/nfs-provisioner

[2016-11-24 10:07] k8s-merge-robot opened #37439 "[k8s.io] EmptyDir volumes should support (root,0666,default) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1949/

Failed: [k8s.io] EmptyDir volumes should support (root,0666,default) [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-24 10:08] #37371 closed

[2016-11-24 10:58] #37419 closed

[2016-11-24 11:02] F21 commented on #10439
Here's our take on integrating Kubernetes and Vault: https://github.com/Boostport/kubenetes-vault

We have a service that watches for pods being created using the Kubernetes API and checks to see if they contain an annotation for a Vault AppRole. If it does, we push a `secret_id` to an init container for the pod. The init container then exchanges the `secret_id` and `role_id` for a token and write

[2016-11-24 12:03] xiaolou86 opened #37444 "Panic maybe happens, since close the same channel multiple times"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): close channel multiple times

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2016-11-24 12:26] CaoShuFeng opened #37445 ""make test-integration" fails"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.871+1dfd64f4378ad9-dirty", GitCommit:"1dfd64f4378ad9dd974bbfbef8e90127dce6aafe", GitTreeState:"dirty", BuildDate:"2016-11-24T09:20:15Z", GoVersion:"go1.7.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- *

[2016-11-24 12:48] dims commented on #37184
cc @dchen1107

[2016-11-24 13:23] fgrzadkowski opened #37447 "Upon restart, kubelet tries to start all pods including terminated ones"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-24 13:24] mwielgus commented on #34211
The problems are caused by: https://github.com/kubernetes/kubernetes/issues/37232

Scheduler leaves empty space enough to fit any of the pending pods. As the results CA doesn't scale up the cluster, thinking that scheduled is yet to schedule the pods.

Decreasing priority to P2.

[2016-11-24 13:26] fgrzadkowski commented on #37447
I added @dchen1107 and @yujuhong to my project to let them investigate further.

GKE cluster: test-cluster-1 in europe-west1-b
Node: gke-test-cluster-1-default-pool-44d8ae2f-kpn9

[2016-11-24 13:27] fgrzadkowski commented on #37447
@gmarek @wojtek-t @kubernetes/sig-node

[2016-11-24 13:28] kad opened #37448 "Allow item EnvVar be optional if user thinks it ok, and if referenced key in valueFrom (ConfigMap or Secrets) is missing"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): EnvVar, optional, defaults, configmap

---

**Is this a BUG REPORT or FEATURE REQUES

[2016-11-24 13:28] mwielgus commented on #35744
The problems were caused by the underlying infrastructure:

I1116 13:32:55.032] Nov 16 13:32:55.032: INFO: Condition Ready of node bootstrap-e2e-minion-group-kiy5 is false instead of true. Reason: KubeletNotReady, message: Kubenet does not have netConfig. This is most likely due to lack of PodCIDR
I1116 13:32:57.032] Nov 16 13:32:57.031: INFO: Condition Ready of node bootstrap-e2e-minion-group-kiy

[2016-11-24 13:39] mwielgus commented on #34102
In line we 281 we are waiting for the node pool to be added to the cluster. It is not related anyhow to the Cluster Autoscaler code and problems in this line indicate underlying problems with the GKE infrastructure that is unable to provide the node pool in time. I will send a PR that increases the 5 min timeout for node pool addition.

Removing release-blocker label.

[2016-11-24 13:42] mwielgus commented on #33891
In line 255 we are waiting for cluster to add nodes after a manual scale up.

setMigSizes(newSizes)
framework.ExpectNoError(WaitForClusterSizeFunc(f.ClientSet,
	func(size int) bool { return size >= increasedSize }, scaleUpTimeout))

This line fails in 5 min. This is not a problem with CA but with the test infrastructure that doesn't provide new nodes within the reasonable time.

Removing release b

[2016-11-24 13:52] bluecmd commented on #7433
@thockin The more I think about this the more I realize that maybe it would be a good idea to offer something like CNI but for internal traffic flows as well. We had even more discussions about this and we have a bunch of ideas we want to try out - like using ECMP on the node itself through normal routing - but as far as I can tell there is no pluggable way of totally ripping out the forwarding lo

[2016-11-24 14:05] mwielgus commented on #33897
We haven't seen this flake for quite a while - almost 1 month. Closing.

[2016-11-24 14:05] #33897 closed

[2016-11-24 14:07] mwielgus commented on #33804
GKE infrastructure is just slow with master restarts and updates. The timeout is currently 15 min. We can increase it but to what value.

This is not directly connected to CA. It doesn't seem to be a release blocker.

[2016-11-24 14:09] jonboulle commented on #34965
Is this missing 1.5? It's pretty bad.

[2016-11-24 14:12] resouer commented on #37199
It's good to know `http_proxy` is the problem (you are behind GFW I guess).

As for your last question, k8s is working well according to your logs & posts. Could you please try to `curl` your pod directly from  `cloud@CNT-13` to see if there's any `No route to host`? Your underlying network seems unstable (Looks like Weave + IaaS network?)

Anyway, I will close this issue now since it's not a bug.

[2016-11-24 14:12] #37199 closed

[2016-11-24 14:28] resouer commented on #37265
@typhoonzero I suggest you join this cluster-lifecycle sig-group: https://groups.google.com/forum/#!forum/kubernetes-sig-cluster-lifecycle

Post your idea in the group, take part it's online meeting, show your sextant demo, listen to advices. And then try to get sponsors to promote your project into incubator.

[2016-11-24 14:33] mwielgus commented on #33754
This is strange. So it seems that 2 nodes are added to mig despite asking for only 1.  The second node is present in mig but not present in K8S, causing confusion around.

This is probably not p0 and release-blocker but requires more investigation.

[2016-11-24 14:34] #29339 closed

[2016-11-24 14:34] mwielgus commented on #29336
The tests are there.

[2016-11-24 14:34] #29336 closed

[2016-11-24 14:38] fgrzadkowski commented on #33754
Priorities for flakes are based on how often they occur, not how serious the bug is. I don't remember what's the threshold for P0.

[2016-11-24 14:59] k82cn opened #37449 "Build failed on Mac"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): `Darwin MacPro.local 16.1.0 Darwin Kernel Version 16.1.0: Thu Oct 13 21:26:57 PDT 2016; root:xnu-3789.21.3~60/RELEASE_X86_64 x86_64`
- **Inst

[2016-11-24 15:00] Nicofuma opened #37450 "Readiness probe keeps running when the pod is ready"
**Kubernetes version** (use `kubectl version`): v1.2.0-36

**Environment**:
- **Cloud provider or hardware configuration**: OpenShift Enterprise v3

**What happened**:
I am using an OpenShift 3.2.0.44 platform (which is running Kubernetes master 1.2.0-36-g4a3f9c5).
On this platform I launched a POD with a single container, which has a readiness probe. My issue is that when the container is determi

[2016-11-24 15:26] k8s-merge-robot opened #37452 "[k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/457/

Failed: [k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}

[code]

Previous issues for this test: #27295 #35385 #36126

[2016-11-24 15:26] Nicofuma commented on #37450
If I am reading the source code (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/prober/worker.go) correctly, both issues are still present in master.

There isn't any special case to stop readiness probe when the success threshold is hit, and the tickers' first tick is not immediate but respect the configured delay (the periodSeconds in our case)

[2016-11-24 15:36] piosz opened #37453 "No system/misc stats in Summary API on master"
**Kubernetes version** (use `kubectl version`):
1.4.6

**Environment**:
GCE

**What happened**:
I created a cluster for Heapster testing purposes to debug failing test in https://github.com/kubernetes/heapster/pull/1394. It turned out that Summary API does not export system/misc stats in SystemContainers section (though there are kubelet and docker stats). Everything works as expected on nodes.

S

[2016-11-24 15:43] gmarek commented on #37452
Master died.

[2016-11-24 15:43] #37452 closed

[2016-11-24 15:47] whitlockjc commented on #34348
I'll go take a peek at #17305 but initial thoughts are that unless initializers are intended to replace admission controllers, this would still be useful to have.  I will postpone further comment until I read up on initializers.

[2016-11-24 15:50] wojtek-t commented on #37452
@gmarek - why master died? If it e.g. crashed, we should open an issue for that.

[2016-11-24 16:03] amarruedo commented on #23474
Does this mean that now it is not possible to use either `-nameserver` nor `SKYDNS_NAMESERVERS`  (as stated [here](http://stackoverflow.com/questions/33260745/adding-nameservers-to-kubernetes/34085756#34085756))?

I'm trying to use SKYDNS_NAMESERVERS (so my settings will be independet of hosts '/etc/resolv.conf') with no luck. Here is the spec I'm using:

[code]

[2016-11-24 16:11] dims commented on #37385
Ack @roberthbailey marking this as non-release-blocker

[2016-11-24 16:12] dims commented on #37410
@davidopp marking this is non-release-blocker. is that label correct?

[2016-11-24 16:15] dims commented on #36555
@mml @xiang90 i marked #37322 as milestone 1.5 and marking this as a non-release-blocker. hope this is correct.

[2016-11-24 16:17] dims commented on #30258
Marking this as non-release-blocker, please holler if this label is incorrect.

[2016-11-24 16:18] dims commented on #37040
Let's treat this as non-release-blocker, unless we hear back from @wojtek-t @deads2k @lavalamp

[2016-11-24 16:19] dims commented on #34985
Has not happened for 6 days now. removing milestone

[2016-11-24 16:20] dims commented on #34903
Hasn't happened for 8 days now. removing 1.5 milestone

[2016-11-24 16:22] dims commented on #37179
last burndown meeting there was talk about how "feature:reboot" were written and that the feature itself was working properly (manual testing?). So removing the milestone

[2016-11-24 16:23] dims commented on #37143
@matchstick @madhusudancs @rmmh : is this a blocker for v1.5 release?

[2016-11-24 16:25] dims commented on #37105
@matchstick @madhusudancs : is this a blocker for v1.5? if so, what needs to be done?

[2016-11-24 16:35] craigwillis85 commented on #36450
So, can we use EFS as the `awsElasticBlockStore`?

I see in the docs that it mentions not supporting nodes in different availability zones. My nodes are in the same region, but different availability zones.

I'm guessing I can't use `awsElasticBlockStore` in this case? Or can I?

[2016-11-24 16:49] iTagir commented on #37079
Memory increased to 8GB, make clean done. Now make quick-release works.
tagir@ubuntu:~/gospace/kubernetes$ sudo make quick-release
+++ [1124 08:14:30] Verifying Prerequisites....
+++ [1124 08:14:31] Building Docker image kube-build:build-911c53b32d-4-v1.7.3-0
+++ [1124 08:14:43] Creating data container kube-build-data-911c53b32d-4-v1.7.3-0
+++ [1124 08:14:44] Syncing sources to container
+++ [1124

[2016-11-24 16:55] Quentin-M opened #37455 "ThirdPartyResources / API: Failure on POST with YAML"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug Report.
**Kubernetes version** (use `kubectl version`):

[code]

**What happened**:

Occurs only with third-party resources:

[code]

The 'a' being the first letter of the manifest (stands for `apiVersion`). Changing it modifies the returned error.

However, it works just fine after conversion from YAML to JSON of the object:
[code]

Of course, whe

[2016-11-24 17:03] k8s-merge-robot opened #37456 "[k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/320/

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28416 #31055 #33627 #33725 #34206

[2016-11-24 17:26] k8s-merge-robot opened #37457 "ci-kubernetes-soak-gce-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-test/27/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28091

Failed: [k8s.io] Cluster level logging using GCL should check that logs from containe

[2016-11-24 17:30] erikerlandson commented on #34377
PSA: I encourage anybody in the community who is interested in seeing this adopted by Apache Spark to vote and/or comment on the corresponding Spark JIRA:
https://issues.apache.org/jira/browse/SPARK-18278

[2016-11-24 17:46] jonathanbl commented on #28496
Hi,

Is there a reason why the link http://kubernetes.io/docs/user-guide/scheduled-jobs/ is not accessible anymore?

Thank you

[2016-11-24 18:15] ernestoalejo commented on #28496
They have been renamed:
http://kubernetes.io/docs/user-guide/cron-jobs/

[2016-11-24 18:19] wojtek-t commented on #37232
Actually, we decided (@davidopp was involved) that the second PR #37379 will be merged and cherrypicked to 1.5 branch. So I'm marking as release-blocker.

[2016-11-24 18:58] cmluciano commented on #33666
Would it be beneficial to implement this at general set-x level? I always thought it would be beneficial to import a whole file and merge it into my kubeconfig.

[2016-11-24 19:48] dgoodwin commented on #37063
@bronger can you confirm your version of kubeadm/kubelet? I am unable to reproduce. Well /var/lib/kubelet exists as soon as the rpms are installed, but this is ok, it just has to be empty. The pre-flight checks should be ok with this.

[code]

Pre-flight checks pass on kubeadm init, as well as join.

Will need more info here, please show output from the above commands, exact error you got and comm

[2016-11-24 19:54] bronger commented on #37063
I can check in 12h.

[2016-11-24 20:23] vortec commented on #33544
I have the same problem using Debian 7. In my case no container gets started. How can I debug this issue further?

[2016-11-24 20:46] k8s-merge-robot opened #37458 "[k8s.io] Cluster size autoscaling [Slow] should scale up correct target pool [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-autoscaling/99/

Failed: [k8s.io] Cluster size autoscaling [Slow] should scale up correct target pool [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

Previous issues for this test: #33897

[2016-11-24 21:15] coco98 opened #37459 "ConfigMapKeySelector should accept a namespace argument?"
**Is this a request for help?**: no

**What keywords did you search in Kubernetes issues before filing this one?**: configmapkeyselector configmap namespace consumable

---

**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

I would like to mount configmap from a different namespace in a podspec while using ``valueFrom >   configMapKeyRef``. Is there a reason why this is not allowed?

[2016-11-24 21:41] saad-ali commented on #37409
The serial test suites [ci-kubernetes-e2e-gce-serial](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/) and [ci-kubernetes-e2e-gci-gce-serial](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/) started to fail on November 23, 2016 (lots of tests are red due to `timed out waiting for the condition`). I

[2016-11-24 21:47] saad-ali commented on #37409
Looks like @jszczepkowski is ahead of me: PR https://github.com/kubernetes/kubernetes/pull/37441

[2016-11-24 22:11] davidopp opened #37460 "fix some issues with kubectl drain"
In writing some documentation for `kubectl drain` I noticed some issues with the implementation.

I think the simplest user experience is that the command doesn't return until all the user pods are drained off the machine. In particular this means
* wait until all graceful termination is finished
* infinitely retry evictions that are rejected due to insufficient PodDisruptionBudget

The current im

[2016-11-24 22:35] vbasem opened #37461 "HostPath PV recycler tries to download busybox image from gcr.io"
### **What happened**:
Being on a virtual machine with no internet, I have created few different PVs using hostpath with recycling policy set to recycle. When I delete these PVs, the recycle policy will try to download the busybox image from gcr.io and fail. I can override the template for one of the PVs using kube-controller-manager --pv-recycler-pod-template-filepath-hostpath,  but the rest of t

[2016-11-24 23:33] k8s-merge-robot opened #37462 "[k8s.io] Deployment deployment should label adopted RSs and pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/1830/

Failed: [k8s.io] Deployment deployment should label adopted RSs and pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #29629 #36270

[2016-11-24 23:38] thockin commented on #23474
Correct.  That will not work any more.  Kubelet has a flag to set the
resolv.conf to something other than /etc, so you can configure it that way.

On Thu, Nov 24, 2016 at 8:03 AM, Asier Marruedo <notifications@github.com>
wrote:

[2016-11-24 23:40] thockin commented on #7433
Maybe I misunderstand.  If you just want to change the way Services work,
you can replace kube-proxy with something else...

On Thu, Nov 24, 2016 at 5:52 AM, Christian Svensson <
notifications@github.com> wrote:

[2016-11-24 23:54] thockin commented on #37416
If you give us debug info we might be able to fix up yet another case of
"broken on centos 6" :)

On Thu, Nov 24, 2016 at 12:45 AM, huggsboson <notifications@github.com>
wrote:

[2016-11-25 01:13] bluecmd commented on #7433
Maybe I'm misunderstanding how kube-proxy works, but AFAICT it is in the packet forwarding path. We would like to experiment with doing things like IPIP / GRE forwarding and real L3 routing which requires quite some intelligence and integration with both the pods running the services and the nodes themselves.

[2016-11-25 01:19] liggitt commented on #37459
Cross namespace references from pods are not allowed for security and isolation reasons.

[2016-11-25 01:19] xingzhou opened #37465 "K8S should enforce the access mode ROX check when attaching PVC to pods."
As I discussed this issue in #sig-storage these days, at present, even if we add ROX access mode to PV and PVCs, the volume attached to pod is still in RW mode and can be written files to.

The steps to reproduce this issue:
1. Create a NFS PV with access mode ReadOnlyMany.
2. Create a PVC with access mode ReadOnlyMany and make sure k8s bind this PVC with the PV we created in step1.
3. Create a po

[2016-11-25 01:19] bprashanth commented on #7433
What exactly are you missing in today's config, assuming you replace the
static pod kube-proxy runs in with your own hostnetwork daemon to manage
service vips and replace the kubenet binaries, which is the default CNI
plugin on node, with your own to manage pod networking? You might need to
turn off the route controller through a flag to the controller-manager (I'm
blanking on the name) and write

[2016-11-25 01:19] xingzhou commented on #37465
I will take a look a the issue and try to submit a PR then.

[2016-11-25 01:23] xingzhou commented on #37461
Let me take a look at it, if I can reproduce, will try to fix that.

[2016-11-25 02:15] zhouhaibing089 commented on #37455
is `application/yaml` a valid content type?

[2016-11-25 02:35] simonhorlick commented on #29903
I'm using v1.4.6 on GKE and I'm seeing a similar issue. I have a PetSet that creates a few pods and PVs, but if a node dies and the pod gets rescheduled the new pod is unable to mount its PV. I can see in the compute engine console that the PV is attached to the new node, it's listed under /dev/disk/by-id, but yet VerifyControllerAttachedVolume never seems to recognise it:

[code]

[2016-11-25 02:40] zhouhaibing089 opened #37466 "add controller-related metrics in kube-controller-manager"
I have searched through the issue list, here are some of the relevant ones.

*   [Need metrics in volume manager and controllers](https://github.com/kubernetes/kubernetes/issues/36818), this is the most relevant one, but it cares about volume manager mostly.
*   [Expose controller manager and scheduler metrics](https://github.com/kubernetes/kubernetes/issues/22382), this talked about how can we co

[2016-11-25 03:12] Zjianglin commented on #37199
@resouer  okay, Thanks for your help!

[2016-11-25 03:20] inetkiller commented on #37421
i found something.
the Resync() function in delta_fifo.go has read lock only

func (f *DeltaFIFO) Resync() error {
	f.lock.RLock()
	defer f.lock.RUnlock()
	for _, k := range f.knownObjects.ListKeys() {
		obj, exists, err := f.knownObjects.GetByKey(k)
		if err != nil {
			glog.Errorf("Unexpected error %v during lookup of key %v, unable to queue object for sync", err, k)
			continue
		} else if !exi

[2016-11-25 03:35] Quentin-M commented on #37455
Also, all other API calls with v1 / v1beta objects in YAML format work fine.

[2016-11-25 04:07] k8s-merge-robot opened #37469 "TestMetrics {empty_dir}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/425/

Failed: TestMetrics {empty_dir}

[code]

Previous issues for this test: #29953

[2016-11-25 04:13] thockin commented on #7433
Prashanth's answer is good, I think.  If you stop kube-proxy and clean up
the iptables rules, you can create an IP interface and use some other form
of route discovery.

On Nov 24, 2016 5:14 PM, "Christian Svensson" <notifications@github.com>
wrote:

[2016-11-25 06:01] resouer commented on #27994
@fabioy What did you do to grant proper permission to run e2e? I am facing the same insufficient permission problem (and it's should be my fault), but I don't know how to fix it ...

[2016-11-25 06:06] k8s-merge-robot opened #37470 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/120/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374 #31427 #31433 #31589 #31981 #32257 #33711 #33839 #36547 #37111

[2016-11-25 06:10] tatsuhiro-t commented on #29542
@foxish I did `kubectl patch` but it complains like this:

the provided version "example.com/v1alpha1" has no relevant versions: group example.com has not been registered

Could you tell us how to make this work?

I use kubectl v1.5.0-beta.2

[2016-11-25 06:13] foxish commented on #29542
@tatsuhiro-t, see my comment here https://github.com/foxish/spark/issues/3#issuecomment-262163976

[2016-11-25 06:55] xingzhou commented on #37461
@vbasem, I failed to reproduce the issue on my local environment, would you please share your recycler template file?

Here is my I did on my machine:
1. I was using ubuntu 16.04 and k8s code from master branch.
2. Started the k8s cluster without network connection on the machine and using .
3. Created a recycler pod template file by using "imagePullPolicy: Never" and the image is gcr.io/google_co

[2016-11-25 06:57] tatsuhiro-t commented on #29542
@foxish thank you!

[2016-11-25 07:25] ligc opened #37471 "kubectl exec -it fails with "Unable to use a TTY" and never get a prompt"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Unable to use a TTY

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-11-25 07:32] resouer opened #37472 "Run e2e against GCE raise in insufficientPermissions error"
I am running e2e test against my GCE account by using:

`go run hack/e2e.go -v --up --test --test_args="--ginkgo.focus=MyTestXXX"`

The cluster is booted up and e2e is ready to run, but then I got `insufficientPermissions` error:

[code]

How can I fix this? May be need some GCE configuration?

I assume this may be a configuration problem, but I was definitely following https://github.com/kubernet

[2016-11-25 07:43] wojtek-t opened #37473 "Allow for serving GET operation from cache if user explicitly opt-in for it"
Currently, if you are sending "LIST" request to apiserver, depending on the "ResourceVersion" field value:
https://github.com/kubernetes/kubernetes/blob/8ef325643490274f8639ea1bee8c7718b316e839/pkg/api/v1/types.go#L3247
the request will be served:
- from etcd if it is not set
- from apiserver cache, if it is set with a guarantee that the returned result is at least as fresh as the "RV" passed as p

[2016-11-25 08:00] roberthbailey opened #37474 "cluster/gce/upgrade.sh fails to upgrade nodes when run from a mac"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubern

[2016-11-25 08:03] roberthbailey commented on #37474
More complete error output:

[code]

[2016-11-25 08:15] tonyclam opened #37475 "'kubeadm join' failed on cluster node ( @kubernetes/sig-cluster-lifecycle )"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
'<node/discovery> failed to parse response as JWS object [square/go-jose: compact JWS

[2016-11-25 08:26] vbasem commented on #37461
@xingzhou  thanks for looking into this.

Perhaps the issue has been my template, do you mind sharing the recylcer pod template . I can run my system with it and report back.

[2016-11-25 08:33] xingzhou commented on #37461
@vbasem, sure, here is what I'm using right now:
[code]

[2016-11-25 08:59] rmohr commented on #37455
I can reproduce the same behaviour on 1.4.5. No matter if you send JSON or YAML content type it always selects the json serializer.

I see that on master the ThirdPartyResource serializer negotiation part was refactored in #34651. It looks like there is now explicitly only application/json supported.

@smarterclayton do you know if this is also the intended behaviour for 1.4.5?

[2016-11-25 09:16] vbasem commented on #37461
@xingzhou thanks again for the template

the problem was indeed my template as I had included the volume itself in the pod. I apologize for it was indeed my lack of knowledge. Sadly I was hardy able to scrap enough information in this regard.

the issue is no longer a bug. Thanks alot, hopefully that template will help others as well.

[2016-11-25 09:16] #37461 closed

[2016-11-25 09:30] soltysh commented on #37474
This is blocking test and per email I'm bumpting this to P0.

[2016-11-25 09:39] iTagir commented on #37079
make release still does not work :(

[2016-11-25 10:18] jszczepkowski commented on #33341
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/314/

Situation is similar to https://github.com/kubernetes/kubernetes/issues/33341#issuecomment-258883418, kubelet didn't start the pod, build logs:
[code]

kubelet-logs:
[code]

[2016-11-25 10:20] piosz commented on #13589
Reassigning to @jszczepkowski and @krzysztofgrygiel who will work on the new version of Iniital Resources/Vertical Pod Autoscaler.

[2016-11-25 10:21] piosz commented on #14178
Reassigning to @jszczepkowski and @krzysztofgrygiel who will work on the new version of Iniital Resources/Vertical Pod Autoscaler.

[2016-11-25 10:21] piosz commented on #18826
Reassigning to @jszczepkowski and @krzysztofgrygiel who will work on the new version of Iniital Resources/Vertical Pod Autoscaler.

[2016-11-25 10:21] piosz commented on #20272
Reassigning to @jszczepkowski and @krzysztofgrygiel who will work on the new version of Iniital Resources/Vertical Pod Autoscaler.

[2016-11-25 10:25] k8s-merge-robot opened #37479 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [ReplicationController] should eagerly create replacement pod during network partition when termination grace is non-zero {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/43/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [ReplicationController] should eagerly create replacement pod during network partition when termination grace is non-zero {Kubernetes e2e suite}

[code]

[2016-11-25 10:43] mwielgus commented on #33754
Added more debug information in e2e. As this issue doesn't seem to be a real release blocker I will remove the label until we learn what is really going on.

[2016-11-25 10:49] k8s-merge-robot opened #37482 "[k8s.io] kubelet [k8s.io] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/692/

Failed: [k8s.io] kubelet [k8s.io] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s. {Kubernetes e2e suite}

[code]

Previous issues for this test: #28106 #35197

[2016-11-25 11:03] Blasterdick opened #37483 "Wrong host IP using auto-registration on zabbix-server (seems like k8s networking issue)."
Maybe someone should explain me, how I should fix this? Seems like it could be kubernetes related issue.

[Link to zabbix issue](https://github.com/zabbix/zabbix-docker/issues/69), though, replicate it here.

Agent on the instance (GCE node) sending auto-registration requests to a zabbix-server in GKE container in another GCE project.

After registering on zabbix-server, a new host appears there w

[2016-11-25 11:33] gmarek opened #37484 "Kubemark master should be possible to run on GCI"
Currently we have a custom setup on Debian image, which can have different performance characteristic. We need to increase Kubemark precision as we're approaching a point when it'll start to matter.

cc @kubernetes/sig-scalability @wojtek-t

[2016-11-25 11:36] gmarek opened #37485 "Kubemark master components should run as Pods"
Currently we have a custom setup that runs master components as top-level processes under supervisord, which is lighter than running kubelet and docker. We need to make it similar to production setup when they run as Pods, so that we have better precision and we'll be able to experiment with introducing limits for components.

cc @kubernetes/sig-scalability @wojtek-t

[2016-11-25 12:23] gmarek commented on #37470
This looks like a network/image download problem
[code]

Dug deeper for `load-medium-rc-25`. In API server I see repeated gets and pusts for one Pod from this RC:
[code]

Going to kubelet I see logs like one below constantly repeating:
[code]

So it seems that Kubelet had a problem with downloading image, it went into backoff-retry loop. When this happens RC will consider this Pod as OK, and will

[2016-11-25 12:51] bluecmd commented on #7433
Interesting, I'll give that a try. Thanks!

[2016-11-25 13:36] amarruedo commented on #23474
@thockin I see, ok, thanks for the answer.

So now, if my understanding is correct, if you want to change DNS configuration, you must restart the kubelet service (CoreOS systemd service in my case) in order to propagate changes in the cluster, no matter if you choose to edit hosts `resolv.conf` or use Kubelets `--resolv-conf` flag, is this right?

The key thign here is that I'm trying to avoid res

[2016-11-25 13:46] wojtek-t commented on #37040
OK - I spent a bit more time on it and now I understand what is happening here.
Basically the problem is this call:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/ipallocator/controller/repair.go#L108
how do we treat "nil" ListOptions:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/generic/registry/store.go#L206

That means, that when we are listi

[2016-11-25 14:00] wojtek-t opened #37488 "Race in service ipallocator in portallocator"
There is a race in ipallocator (and the same for portallocator) that may lead to 2 services sharing the same IP (or port).

How can it happen:
1. We have this "Repair" thread responsible for reporting bugs in IP allocations:
https://github.com/kubernetes/kubernetes/blob/fbd187af4544c3734c2ddf45024972857bf44583/pkg/registry/core/service/portallocator/controller/repair.go
2. What it does is in the "

[2016-11-25 14:01] wojtek-t commented on #37040
For the latter problem, I opened: https://github.com/kubernetes/kubernetes/issues/37488
To fix this one, I've sent out #37487

[2016-11-25 14:03] wojtek-t commented on #28569
@bprashanth @thockin - I'm guessing that https://github.com/kubernetes/kubernetes/issues/28569#issuecomment-261385150 is an instance of the problem described here: https://github.com/kubernetes/kubernetes/issues/37488
It's your call if this one should block the release or not (it doesn't seem to be a regression, so probably not).

[2016-11-25 14:49] wojtek-t commented on #37474
Does it mean that "node-kube-env.yaml" is too large?
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/debian/node-helper.sh#L25

It seems like that too me. If so, we should understand why those are different than on startup...

[2016-11-25 15:04] bronger commented on #37063
The following is in `/var/lib/kubelet`: https://gist.github.com/bronger/92d8cf703628c6d1ff9e93aa920515de

The versions:

    [root@kubmaster ~]# rpm -qa | grep kube
    kubernetes-cni-0.3.0.1-1.07a8a2.x86_64
    kubeadm-1.5.0-1.alpha.2.380.85fe0f1aadf91e.0.x86_64
    kubelet-1.4.4-1.x86_64
    kubectl-1.4.4-1.x86_64

[2016-11-25 15:30] lesaux commented on #37063
I am seeing the same thing on Ubuntu Xenial.

I am deploying my kube cluster with terraform, and seeing this behaviour once in a while. Outcome is not consistent.

[code]

For now my workaround is to
[code]
before running
```kubeadm init``` and ```kubeadm join```

[2016-11-25 15:31] jonboulle commented on #28667
@yujuhong could you expand on this a bit? I don't really understand, since the CRI still only contains minimal networking related information (only pod CIDR at this stage).

[2016-11-25 15:36] dgoodwin commented on #37063
@bronger systemctl status kubelet if you get a chance.

From your gist however it is very clear that kubeadm init has been run on this system already, can you confirm if there were previous or failed attempts to kubeadm init before you run this, or was the system completely clean? Are you using kubeadm reset between attempts?

[2016-11-25 15:41] hanikesn opened #37492 "Kubelet on AWS should use Instance Metadata instead of IAM roles"
As of the recent changes the masters attach/detach EBS volumes on AWS nodes. That means it shouldn't be necessary to assign IAM roles to the instances anymore.

When testing that out with we found that the kublet version 1.4.6 didn't start:
[code]
Even without an IAM role it's still possible to query the [EC2 Metadata API](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.ht

[2016-11-25 16:01] mrmm opened #37493 "Problem mounting and EBS Volume on a Pod when Node is deleted"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---
I am trying to create a pod with a PVC

This the log error from the controller-mana

[2016-11-25 17:01] gnufied commented on #37493
There has been some fixes around this behaviour - https://github.com/kubernetes/kubernetes/pull/33616

I would suggest you should try a more recent k8s release and see if that fixes this problem.

[2016-11-25 17:58] paultyng commented on #19634
This affected our cluster pretty hard recently with new relic.  New relic would try every search domain for every request so hammered dns.  Once we added the `--address` setting to return `NXDOMAIN`, the logs slowed down substantially.  We haven't tried this in prod yet, but just observed anecdotally.

[2016-11-25 17:59] dgoodwin commented on #37063
Additionally, if anyone could capture output from apt-get install when this happens it would be helpful. I'm suspecting folks are being bitten by the automatic starting of services when package is installed in the .deb's. kubeadm deb should drop that systemd drop-in to make kubelet crash loop and wait for config, but I suspect it's not happening transactionally and kubelet might in some cases try

[2016-11-25 18:46] lesaux commented on #37063
In my case I am definitely not running any `kubeadm` commands before hand.

After the package installation, I have the two empty `plugins` and `pods` folders in `/var/lib/kubelet`

I've put all of the terraform output log in a gist here (sorry for the lengthly log): https://gist.github.com/lesaux/0c480bab173eee71203162a725f90e9d#file-apt-get-install-journalctl-n-200

I am just creating a network,

[2016-11-25 18:53] aanm commented on #33173
You can use the Network Policy to prevent pods from one particular namespace to talk with a different namespace. Why is so problematic they resolve some DNS entry if they can't access that particular service?

[2016-11-25 18:55] hjacobs commented on #26202
We planned to use labels to "promote" deployments to a new stage, i.e. initially the pods would have label `stage: canary` and later change to `stage: production` (the production service would only select pods with `stage: production`). I think this is a pretty simple and valid use case which should not require rolling pod updates. We would not change the deployment `selector` labels, so the behav

[2016-11-25 18:58] k8s-merge-robot opened #37496 "[k8s.io] Kubectl client [k8s.io] Simple pod should support port-forward {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/505/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support port-forward {Kubernetes e2e suite}

[code]

Previous issues for this test: #28371 #29604

[2016-11-25 19:11] thockin commented on #33173
It is still an info leak.  And a DoS vector.  To be clear, I *do* want to
solve this, it's just less urgent than 100 other things right now :)

On Nov 25, 2016 10:53 AM, "André Martins" <notifications@github.com> wrote:

[2016-11-25 21:22] mootezbessifi commented on #23505
@tooda02 please what was the setup error ? i am facing the same issue from several days.

[2016-11-25 21:25] k8s-merge-robot opened #37500 "[k8s.io] EmptyDir volumes should support (root,0666,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/459/

Failed: [k8s.io] EmptyDir volumes should support (root,0666,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-25 21:31] gleeb commented on #28999
Experiencing the same problem with kube_aws, kubernetes 1.4.3 but not with secret, with EBS PVC. it seems that something is stuck, and K8S is unable to release the volume from the EC2 instance and/or assign it to a pod again. I have not yet identified how to recreate the problem but i suspect it happens after the node works at 100% cpu for awhile, i "fixed" the problem once by actually terminating

[2016-11-25 22:22] k8s-merge-robot opened #37502 "[k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/403/

Failed: [k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-25 22:58] bprashanth commented on #28667
Right now, CRI doesn't even care about CNI or !CNI. Our implementation of dockershim probes for plugins and translates pod sandbox setup/teardown calls to CNI ADD/DEL calls. The kubelet just passes a struct of plugin settings down to the shim (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L509) and then, sometime later, passes down the podCIDR through an rpc (https://

[2016-11-25 23:10] mrmm commented on #37493
@gnufied Thanks for the advice.

[2016-11-25 23:10] #37493 closed

[2016-11-26 00:13] thockin commented on #37444
Under what conditions do we call it more than once and under what conditions does it actually panic?

[2016-11-26 00:48] thockin commented on #37488
Well damn.  @smarterclayton

I am not sure how to fix this.  We could force some number of repair loops
to pass before fixing it, I guess.  We can just keep that in memory, worst
case is it takes longer to clean up allocated-not-used records.  When can
we start to rely on multi-object atomic transactions in backing store?

On Nov 25, 2016 6:01 AM, "Wojciech Tyczynski" <notifications@github.com>
wr

[2016-11-26 00:50] paralin commented on #37474
This is broken for me too:

[code]

[2016-11-26 00:52] xiaolou86 commented on #37444
The following UT is near the condition:
[code]
It indicates that we can and maybe call it more than once~

Once we call it more than once, the panic is coming nearly~

[2016-11-26 01:07] bprashanth commented on #37488
Yeah I suspected this was happening in https://github.com/kubernetes/kubernetes/issues/28569 but didn't get down to verifying. Thanks @wojtek-t. The easiest fix is to probably share some threadsafe array of pending allocations with the repair routine.

[2016-11-26 01:09] bprashanth commented on #28569
Not a release-blocker since the root cause described by Wojciech is not new, we should try to fix ASAP (either 1.5 or minor release)

[2016-11-26 01:24] #31310 closed

[2016-11-26 01:26] thockin commented on #37444
So this only happens I'm tests, not prod?

On Nov 25, 2016 4:52 PM, "LouZhengwei" <notifications@github.com> wrote:

[2016-11-26 01:26] thockin commented on #37488
Think HA.  It could be allocated on a different instance of API server.

On Nov 25, 2016 5:07 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-11-26 01:33] xiaolou86 commented on #37444
yes. It doesn't happen in current prod. I just think it's potential dangerous.

[2016-11-26 02:15] mstump commented on #34978
Spent some time thinking about this. Cassandra 2.1 introduced host IDs. With host IDs if a node comes up with a different IP than it had previously it'll automatically adjust and gossip out the new IP. We don't need to store the IP on the PV to guard against the lack of an IP guarantee in petsets.

However, in the instance that we lose the PV (ephemeral storage attached to a rack or machine) we'll

[2016-11-26 02:57] davidopp commented on #37410
IIUC #37489 will fix this, @mwielgus can you confirm?

[2016-11-26 03:04] ianlewis opened #37503 "GKE Timeout waiting for volumes to attach/mount"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): GKE, GCE, volume timeout

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

    Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f

[2016-11-26 03:14] thockin commented on #37444
Thanks, I just wanted to understand the exposure.

On Nov 25, 2016 5:33 PM, "LouZhengwei" <notifications@github.com> wrote:

[2016-11-26 03:35] k82cn opened #37504 "Made cache.Controller to be an interface"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature request

**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **OS** (e.g. from /etc/os-release): all

**Anything else do we need to know**:

Export `cache.Controller` as interface instead of struct.

[2016-11-26 03:37] bprashanth commented on #37488
The local solution should always be consistent. Even with HA we're still doing active/passive right? at most there'll be read replicas of the apiserver, are we really going to sync the write cache across all of them? If we have N apiservers committing to etcd, we need help from the database to solve this problem (either constraints, transactions or a lock api), and probably many others.

[2016-11-26 04:53] thockin commented on #37488
API server is active-active.  That's why I suggested that a minimum bldelay
between detection and repair would smoothe over this issue without atomic
txn

On Nov 25, 2016 7:37 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-11-26 05:29] bprashanth commented on #37488
How does active-active even work? what if i connect to you, do a write, then disconnect and reconnect a watch to the other guy, the watch cache is going to be stale right? Or are we somehow tracking connections and purging the cache? or sharding (which is still not active active in this context)?

Assuming we have such issues figured out *without* requiring one of those aforementioned etcd api con

[2016-11-26 05:31] bprashanth commented on #37488
My proposal was to solve it 100% locally because active active is going to need one of {transactions, constraints, distributed locking} anyway

[2016-11-26 05:42] carldanley opened #37507 "Duplicates all docker containers on reboot"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"duplicate", "reboot", "restart"

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2016-11-26 06:02] jgeraerts commented on #30258
@rootfs i'll doublecheck.

@colemickens do you have some more information about this since you were able to reproduce it as well in a fresh environment

[2016-11-26 08:15] mootezbessifi commented on #23505
@ArtfulCoder

[2016-11-26 08:24] huangjiasingle commented on #37507
@carldanley  please look at the container's status?

[2016-11-26 08:35] k8s-merge-robot opened #37508 "[k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/90/

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28257 #29159 #29449 #32447

[2016-11-26 08:57] k8s-merge-robot opened #37509 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/29/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27662 #29820 #31971 #32505 #34221 #35106 #35110 #35121

[2016-11-26 10:43] resouer commented on #37472
After digging this for whole day, I found the reason.

Since I am using a VM in GCE to build and execute `go run hack/e2e.go ...`, it is naturally that this work VM should have permission to access GCE api. Unfortunately, the default `Access scopes` of GCE is **insufficient**.

Quickest way to fix this is choose `Allow full access to all Cloud APIs` when create this work VM, or you can customize s

[2016-11-26 11:41] jeqo opened #37510 "Create libvirt-coreos persistent cluster"
**Kubernetes version**:
Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.876+545f749a0deb85", GitCommit:"545f749a0deb8535656ce93ac1f35a59887839bf", GitTreeState:"clean", BuildDate:"2016-11-25T19:40:26Z", GoVersion:"go1.7.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Cloud provider or hardware configuration**: on-premise
- **OS**: "Ubuntu" "16.04.1 L

[2016-11-26 12:30] k8s-merge-robot opened #37511 "[k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work for type=NodePort [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/291/

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work for type=NodePort [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

[2016-11-26 13:49] carldanley commented on #37507
The "container status" you were telling me to look at is what I posted above: `Exited (0)`. Upon inspecting the logs for various containers, I found that most of them have something in their stdout that says "exited: terminated" or some other similar saying (which makes sense because in my ticket I mentioned that I restarted). This is normal docker behavior.... What I don't understand is why kuber

[2016-11-26 14:33] dvohra commented on #34134
Update:
With calico.yaml customization cluster does get created and Pods do get started but a service does not get created or exposed. The kubeadm/calico.yaml is the Pod network manifest to use but for the issue indicated previously.

[2016-11-26 16:07] k8s-merge-robot opened #37514 "ci-kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/885/

Run so broken it didn't make JUnit output!

[2016-11-26 17:23] k8s-merge-robot opened #37515 "[k8s.io] ConfigMap should be consumable in multiple volumes in the same pod [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/571/

Failed: [k8s.io] ConfigMap should be consumable in multiple volumes in the same pod [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-26 17:56] k8s-merge-robot opened #37516 "[k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/510/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26209 #29227 #32132

[2016-11-26 19:05] derailed commented on #22770
Having the same issue here with timeouts using either kubectl logs/execs on pods. Cluster was hydrated via kubeadm. I understand I can alway ssh to instance and get logs/exec but this is a royal pain. Any update on this issue?

[2016-11-26 19:05] thockin commented on #37488
I don't know how the watch caches work any more, but apiserver was always
designed to be scale-out, unless I am wayyyyyyy out of touch.

On Fri, Nov 25, 2016 at 9:29 PM, Prashanth B <notifications@github.com>
wrote:

[2016-11-26 19:39] bgrant0607 commented on #37138
Conflict detection is #13576

[2016-11-26 19:40] #13576 closed

[2016-11-26 21:03] tooda02 commented on #23505
@mootezbessifi sorry, I don't have any further info on the setup error.  As noted in my earlier comments, I lost my environment and had to re-create it.  Once I did, the problem did not recur.

[2016-11-26 21:16] smarterclayton commented on #37488
Apiserver is intended to be Scale out.

Initializers will fix this, so I'm tempted to punt on this.  It's hard to reproduce if the allocator is random.

[2016-11-26 21:21] smarterclayton commented on #37488
another short term thing is to require repair to see an IP unused across two runs before releasing it.

[2016-11-26 21:25] k8s-merge-robot opened #37517 "[k8s.io] StatefulSet [Slow] [k8s.io] Basic StatefulSet functionality should allow template updates {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/254/

Failed: [k8s.io] StatefulSet [Slow] [k8s.io] Basic StatefulSet functionality should allow template updates {Kubernetes e2e suite}

[code]

[2016-11-26 21:38] bprashanth commented on #37488
I'm not qustioning the scale out architecture. I'm asking if there are other local caches in the apiserver that require the help of higher level constructs to ensure write consistency in an active-active deployment?

Write to db, wait for peers to ack, reply with 200 seems like a common enough pattern, this can be 100% offloaded to etcd if we didn't have apiserver local caches (which i believe we

[2016-11-26 21:38] sakshamsharma commented on #14963
Had totally slipped from my mind. Unless this has already been done, or someone is working on it, I'd love to get this done, and in the process get familiar with the k8s code.
Can someone point me to the place where such a change would fit? I've looked a bit at `pkg/kubectl/cmd/create*.go` files, searching for the part where I could make a tweak; still new to the k8s code base. Any help is welcome

[2016-11-26 21:58] smarterclayton commented on #14963
It would be in pkg/api/rest/* - you can see the Generator type and the
various "simple" schemes.

On Nov 26, 2016, at 3:38 PM, Saksham Sharma <notifications@github.com>
wrote:

Had totally slipped from my mind. Unless this has already been done, or
someone is working on it, I'd love to get this done, and in the process get
familiar with the k8s code.
Can someone point me to the place where such a

[2016-11-26 22:00] smarterclayton commented on #37488
The allocators are probably the exception today.  Those and the other "core controllers" represent the logic in the apiserver that makes it "smarter" than it has to be.

[2016-11-26 22:04] bprashanth commented on #37488
Requiring that every local cache comes up with a DIY solution for cross
member write consistency seems VERY brittle (though all proposed solutions
on this bug are short term so we don't really care which one we end up
doing).

On Sat, Nov 26, 2016 at 2:00 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-26 22:06] ged15 opened #37518 "Ingress does not support several TLS certificates"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `ingress` `tls`.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FE

[2016-11-26 22:18] thockin commented on #37488
That was my proposed hack.  It's not 100% but if time is our enemy, this
mostly neutralizes the threat.

On Nov 26, 2016 1:21 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-11-26 22:20] thockin commented on #14963
Be aware that this makes it MORE likely to generate bad words...

On Nov 26, 2016 1:58 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-11-26 22:53] bprashanth commented on #37518
Cloudproviders don't really support muxing multiple certs onto a single lb, so your current options are:
1. Create 2 ingresses with 2 certs (works everywhere)
2. Create 1 ingress with a wildcard or san (works everywhere)
3. Create 1 ingress with a list of certs with different hostnames, one per host (depends on backend implementation, cloud provider will simply pick the first cert and assume it's

[2016-11-26 23:56] k8s-merge-robot opened #37519 "ci-kubernetes-e2e-gci-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/561/

Multiple broken tests:

Failed: [k8s.io] Network should set TCP CLOSE_WAIT timeout {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36288 #36913

Failed: [k8s.io] InitContainer should not start app containers if init containers fail on a RestartAlways pod {Kubernete

[2016-11-27 00:13] smarterclayton commented on #37488
I'm not even sure this is a problem in the short term.  We've been running
HA masters for a year on high density clusters and I don't think that it
has been reported yet.  I don't see urgency, certainly not for 1.5

On Nov 26, 2016, at 5:18 PM, Tim Hockin <notifications@github.com> wrote:

That was my proposed hack. It's not 100% but if time is our enemy, this
mostly neutralizes the threat.

On No

[2016-11-27 00:39] thockin commented on #37488
We have seen reports of IPs being reallocated.  This fits the symptims, I
think.

On Nov 26, 2016 4:13 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-11-27 00:53] bprashanth commented on #37488
We have a flaking tests, at least. Till now the S/N ratio in flakes was too high to pick up on the bug.

[2016-11-27 01:21] davidopp commented on #37500
@bprashanth can you PTAL?

[2016-11-27 03:14] huggsboson commented on #37416
Turned on --v=5 for a few minutes.  A lot of info was being written.  Here is a sampling:

[code]

[code]

[code]

[code]

[2016-11-27 05:18] whitecolor opened #37520 "gclould + kubectl proxy + keyfile.json doesn't work"
I'm using https://github.com/GoogleCloudPlatform/cloud-sdk-docker docker container to run k8s proxy.

I've created service account key  (keyfile.json) and setting `GOOGLE_APPLICATION_CREDENTIALS` env var.

After I do:
[code]

I can successfully run commands like `kubectl cluster-info`, `kubectl get servcies` etc, but when I try to run `kubectl proxy` it just stucks (nothing in stdin and no port li

[2016-11-27 05:41] whitecolor commented on #30617
For me `GOOGLE_APPLICATION_CREDENTIALS ` works for `kubectl` commands but doesn't work for `kubectl proxy`
https://github.com/kubernetes/kubernetes/issues/37520

[2016-11-27 05:55] mootezbessifi commented on #23505
@tooda02  what was the exact version of kubernetes master and minion components that you were working with?

[2016-11-27 07:55] whitecolor commented on #37520
It seem that It is not an issue.

[2016-11-27 07:55] #37520 closed

[2016-11-27 08:52] p0lyn0mial opened #37521 "Integration tests fail due to “too many opened files” - etcd."
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
test getsockopt: connection refused,
getsockopt: connection refused,
integration getsockopt: connection refused,
integration test open file limit

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Environment**:
- **Cloud pro

[2016-11-27 09:06] Hades32 commented on #20391
Happening for me in a fresh "kubeadm init" installation.

My workaround is finding the "RETURN" rule in "POSTROUTING" that "ignores" intra-pod traffic ans simply delete it. Works fine until k8s restarts...

Could someone care to explain why this rule is needed in the first place? Is it just for optimization?

[code]

Versions: (system is arm64)
[code]

[2016-11-27 09:09] k8s-merge-robot opened #37522 "ci-kubernetes-e2e-gci-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-test/32/

Multiple broken tests:

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28257 #29159 #29449 #32447 #37508

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity

[2016-11-27 10:29] ceefour commented on #31176
Situation improves on 1.4.6, but minor annoyance because there is still lag while it's retrying:

[code]

`The disk resource 'mongodb-disk0' is already being used by 'gke-fatih-pool-1-2efbbabb-kfxk'` but that instance no longer exists now:

[code]

[2016-11-27 10:59] rozzy commented on #30617
For me worked: `gcloud auth application-default login`

[2016-11-27 11:37] sakshamsharma commented on #14963
@thockin Can you clarify what you mean by "bad words" here?
I'm submitting an early PR (there still are things which can be ironed out or changed). Perhaps this discussion can be taken to #37523

[2016-11-27 12:06] gmarek commented on #37509
Dupe of #36054

[2016-11-27 12:06] #37509 closed

[2016-11-27 12:52] k8s-merge-robot opened #37525 "[k8s.io] Secrets should be able to mount in a volume regardless of a different secret existing with same name in different namespace {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/512/

Failed: [k8s.io] Secrets should be able to mount in a volume regardless of a different secret existing with same name in different namespace {Kubernetes e2e suite}

[code]

[2016-11-27 13:27] whitecolor commented on #30617
I lied: `GOOGLE_APPLICATION_CREDENTIALS` with path to `keyfile.json` works for `kubectl proxy` too.

[2016-11-27 14:02] k8s-merge-robot opened #37526 "[k8s.io] ServiceAccounts should mount an API token into pods [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/767/

Failed: [k8s.io] ServiceAccounts should mount an API token into pods [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-27 14:34] KingJ opened #37527 "vSphere Volume Attachment Fails with Error "unknown SCSI controller type 'lsiLogic-sas'""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): vsphere, lsilogic-sas

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2016-11-27 15:04] Thermi commented on #36659
Can I somehow get assistance in this issue? This is quite important for the company I'm working for.

[2016-11-27 15:10] haniceboy opened #37528 "Create the duplicated pods if node have the same host name"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): same host name

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**K

[2016-11-27 17:48] mkulke commented on #22770
I haven't had the time to test an 1.5 cluster yet, but from looking at the code, i guess what works now is:

- Set something master-resolvable via `--hostname-override` on the kubelet.
- Have the cloud-provider rename the node to something non-resolvable.

@hectorj2f By default the node uses the node's hostname, so when you use `--hostname-override` with some non-resolvable display name (e.g. "my-

[2016-11-27 17:54] k8s-merge-robot opened #37529 "[k8s.io] Secrets should be consumable from pods in volume with mappings and Item Mode set [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/741/

Failed: [k8s.io] Secrets should be consumable from pods in volume with mappings and Item Mode set [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-27 17:55] smarterclayton opened #37530 "Proposal: Refactor pkg/api/unversioned"
As part of #33900 and also long running desires to clean up some incomplete abstractions, we need to normalize and resolve the status of `pkg/api/unversioned` (which is versioned) by moving it to a versioned package.

1. All "common" server logic will be in `pkg/apis/meta/v1`, or associated with that package.
2. Any internal versions of those objects will be in `pkg/apis/meta/internalversion`
3. A

[2016-11-27 17:59] Nicofuma commented on #37450
I re-read the doc  and it's actually the expected behaviour so closing it.

[2016-11-27 17:59] #37450 closed

[2016-11-27 18:10] chicagozer commented on #32546
what minion type did you choose? I had the same issue with r3.large when I switched from t2.large; had to throw in

export KUBE_AWS_STORAGE=ebs

[2016-11-27 18:49] k8s-merge-robot opened #37531 "[k8s.io] Downward API volume should provide node allocatable (memory) as default memory limit if the limit is not set [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/822/

Failed: [k8s.io] Downward API volume should provide node allocatable (memory) as default memory limit if the limit is not set [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-27 19:01] thockin commented on #14963
http://thedailywtf.com/articles/The-Automated-Curse-Generator

We just removed vowels from the random-letter set to reduce the chances of
curse words.

On Nov 27, 2016 3:37 AM, "Saksham Sharma" <notifications@github.com> wrote:

[2016-11-27 19:57] dims commented on #37393
@foxish sounds like a plan!

[2016-11-27 19:58] dims commented on #36891
@liggitt : gotcha. thanks for the update. we can mark this as non-release-blocker (or 1.6) once the fix merges so we can work on the CI stuff later

[2016-11-27 19:59] dims commented on #37447
Picked a couple of folks and assigned them as this is a release-blocker, please assign someone else if appropriate.

[2016-11-27 20:01] dims commented on #37474
@soltysh @wojtek-t @paralin : so who is going to be the assignee? and come up with a plan of attack? :)

[2016-11-27 20:06] dims commented on #32451
@dchen1107 @vishh : this is a release-blocker with no assignees!

cc @kubernetes/sig-node

[2016-11-27 23:02] bradfitz commented on #7452
@ncdc, if it helps, https://godoc.org/golang.org/x/build/revdial is used by the Go build system to multiplex multiple net.Conns and a net.Listener all over a single net.Conn.

[2016-11-27 23:14] admiralobvious commented on #37518
@bprashanth There's an example on how to use multiple TLS certificates [here](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx/examples/multi-tls) that @aledbf wrote. It actually lets you create the Ingress but it does not work as it uses the first certificate only.

When you describe the Ingress you actually see:
[code]
So it's almost there it seems.

[2016-11-28 00:28] bprashanth commented on #37518
What controller are you running? If you're runnign the nginx controller, it has nothing to do with gke or gce, it functions the same everywhere. If you're running the gce ingress controller, gce doesn't accept multiple certs. By default you get the gce controller on gce, if you want to deploy the nginx controller instead, you need to do: https://github.com/kubernetes/contrib/tree/master/ingress/co

[2016-11-28 00:33] bprashanth commented on #37518
To clarify, we *don't* validate against a single cert, because it's 100% valid to use a list of certs and look them up in the backend. If you're interested in submitting a patch to the nginx backend, i'm sure @aledbf would be more than happy to guide you (assuming the nginx controller doesn't already handle this).

You just need to read out the hostname from the provided certs and write the approp

[2016-11-28 00:47] smarterclayton commented on #37530
@kubernetes/sig-api-machinery

[2016-11-28 02:41] smarterclayton commented on #37455
It's not the intended behavior, but TPR doesn't handle YAML.

[2016-11-28 03:08] bradfitz commented on #35198
That seems very unlikely, even with an old version of Go. But what version of Go? And how big is the heap? Sure those `pred.Label.Empty() && pred.Field.Empty()` calls aren't doing any work?

[2016-11-28 03:15] tianshapjq opened #37533 "In pkg/kubectl/cmd/get.go there is a confused arg named "all""
In pkg/kubectl/cmd/get.go there is a piece of code extracting arg named "all" from args, like below:
       // determine if args contains "all"
	for _, a := range args {
		if a == "all" {
			printAll = true
			break
		}
	}
The question is, how can we set this arg properly? Such as "kubectl get all", "kubectl get pod all" and "kubectl get all pod" all go wrong, maybe this arg should not be used in