[2021-01-07 05:03] pacoxu commented on #94791
Try to cleanup the legacy endpoints in #97789

[2021-01-07 05:16] pacoxu commented on #97320
https://github.com/docker-library/official-images/pull/9257

[2021-01-07 05:50] yan234280533 commented on #27000
/reopen

[2021-01-07 06:07] govadasrinivasa opened #97790 "How to recover user data"
Hi,

Requirement/scenario - Microservice receive around 1000 user data records each time from the queue and will process data from to store in the respective databases. Once all the records processed then insert these 1000 records data into the respective database tables.
Issue - How to recover/protect user processing data if Pod crashed suddenly in between processing (say 800 records processed ou

[2021-01-07 06:32] #78621 closed

[2021-01-07 06:36] justicezyx commented on #80346
My use case:

A job launcher replicate itself with different roles, needs to know the image digest to ensure the same version of image being used.

Tag would not work because potential stale image on the nodes.

Workarounds include:
* User inject digest in envvar
* User inject unique tag in envvar

As already mentioned above these workaround fails in typical production environment, because the con

[2021-01-07 06:40] gongwei1027 commented on #96859
You use hostpath. The first time you create f1 is because pod is scheduled on node1. When the pod is deleted and rebuilt, it is scheduled to node2. At this time, the hostpath on node2 is used, so there is no f1. When you have f1 again The pod is scheduled to node1 again

After testing, it is consistent with my guess

[2021-01-07 06:45] JoseFMP commented on #51835
In the meantime I upgraded to `1.18.10` and I did not see these issues again. Seems.

[2021-01-07 07:07] #97271 closed

[2021-01-07 07:12] shelmingsong commented on #60987
same issue

any progress on this issue?

[2021-01-07 07:12] MikeSpreitzer commented on #97685
When I merge #97753 and #97791, the problem is visibly gone on the 386 arch on linux.

[code]

[2021-01-07 07:20] pickfire commented on #78446
I have this issue too but I use curl in one of the pods within kubernetes and curl the ip address of the pod directly as a workaround now.

[2021-01-07 07:31] andyzhangx commented on #97781
already fixed by https://github.com/kubernetes/test-infra/pull/20398

[2021-01-07 07:31] andyzhangx commented on #97781
/close

[2021-01-07 07:32] #97781 closed

[2021-01-07 08:08] heqg opened #97793 "What is the purpose of these files [test/fuzz/json/json.go ,/test/fuzz/yaml/yaml.go]?"
About the following two files and methods in them。 I have not found where it is called yet. so, What is the purpose of these files?

1. the functon [FuzzDurationStrict] in kubernetes/test/fuzz/json/json.go
2. the functon [FuzzDurationStrict] in kubernetes/test/fuzz/yaml/yaml.go

[2021-01-07 08:10] heqg commented on #97793
/sig testing

[2021-01-07 08:34] #30603 closed

[2021-01-07 08:34] #92710 closed

[2021-01-07 08:36] thomacos commented on #97783
Yes.

The current version of the test checks only for the DirectX device being available in the container:
https://github.com/aarnaud/kubernetes/blob/dc86fb93901f089bb1a72cba8691f7ce93c035eb/test/e2e/windows/device_plugin.go#L144
But currently the test does intentionally not require a specific DirectX device vendor. Non-GPU devices (e.g. "Basic Render Driver") are intentionally also allowed:
https

[2021-01-07 08:57] djboris9 opened #97795 "audit.k8s.io/v1 leakes 'kubectl exec' args to audit log when level=Metadata"
**What happened**:
When audit.k8s.io/v1 Policy is configured with level=Metadata for resource pods/exec, it will create events in the form of:

	{
	  apiVersion: audit.k8s.io/v1
	  kind: Event
	  level: Metadata
	  objectRef: {
	    apiVersion: v1
		name: pod-example
		namespace: appl-example
		resource: pods
		subresource: exec
	  }
	  requestURI: /api/v1/namespaces/appl-example/pods/pod-example/

[2021-01-07 09:01] lengrongfu opened #97797 "Kubernetes Service Bug"
**What happened**:
1、I started to create a Kubernetes service, the type is NodePort, which has been created successfully, and then I changed the type to ClusterIP, and when I applied again, the error was reported as follows.
[code]

**What you expected to happen**:

After modification, apply again successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. Successfully crea

[2021-01-07 09:03] djboris9 commented on #97795
/sig sig-auth

[2021-01-07 09:03] djboris9 commented on #97795
/sig auth

[2021-01-07 09:11] samaiyayashraj commented on #88808
Hi,
I'm having the same issue on my windows machine. Is there any workaround for this.?

[2021-01-07 09:46] henrik-m commented on #96428
@marosset I ran the script on a machine that is emitting the described behaviour. Since the data is from an intranet cluster I am not comfortable posting the logs into the public domain though. Is there an email address where I can send you a download link to?

System info:
We switched to Windows Server 2019 Core in the meantime and the resource leaks are a bit slower, but still apparent. This is

[2021-01-07 09:48] mborsz opened #97798 "Slow pod lists in ci-kubernetes-e2e-gce-scale-performance"
**Which jobs are failing**:
ci-kubernertes-e2e-gce-scale-performance is failing with slow pods LIST requests, e.g.:

[code]
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1342697119697342464
**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-perfo

[2021-01-07 09:48] mborsz commented on #97798
/sig scalability
/triage accepted

[2021-01-07 09:51] mborsz commented on #97798
We already know that all slow pod lists are from clusterloader client.

The sample trace:

[code]

We see that in some tests clusterloader is not able to keep pod watch running:
[code]

The watch connection is being interrupted after O(seconds) while the timeout is set to O(minutes).

[2021-01-07 10:01] mborsz commented on #97798
I tried to bisect first test run where we started seeing unstable pod watch, but I failed. There is no single first job, rather this issue happens occasionally, e.g.:

* 1342334740853690368 test on 12-24 has unstable watch
* 1342244135892946944 (run before 1342334740853690368) has stable watch
* 1342515926557265920 (run after 1342334740853690368) has stable watch

[2021-01-07 10:15] mborsz commented on #97798
When the watch is unstable in the test, it's unstable since the very beginning of the test, e.g. in 1342334740853690368:

* The test has started at 5:21
* The first interrupted watch was at 5:31
* We had <= 20K pods that time

[2021-01-07 10:18] wzshiming commented on #94887
https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go#L1319-L1328
This is the control over whether to keep null and executed in APIServer.
https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go#L893
I'm no

[2021-01-07 10:25] wzshiming commented on #94887
I'm happy to work on this issue If it's a bug!

[2021-01-07 10:34] HerbertDuan15 commented on #84869
m

[2021-01-07 11:47] wojtek-t commented on #97798
I guess it may not be the amount of pods, but the churn that matters.

But the fact that it seems to be cluster-loader-oriented suggests some kind of resource starvation there maybe?

I know you already checked that and you didn't see anything for cpu, so maybe it's something around network?
Or maybe the granularity of our cpu metrics is not high enough?

[2021-01-07 12:00] mborsz opened #97801 "kube-apiserver restarts in ci-kubernetes-e2e-gce-scale-performance"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-performance, .e.g

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1345777377413697536
**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance
**Reason for failure**:

kube-apiserver re

[2021-01-07 12:04] mborsz commented on #97801
In 1345777377413697536, clusterloader started at 17:17

At 18:15:35 we are seeing first "connection refused" errors in build-log

[2021-01-07 12:13] mborsz commented on #97801
I was trying to find prometheus snapshot for that run, but I failed:
* ci-kubernetes-e2e-gce-scale-performance-1345777377413697536 snapshot doesn't exist
* gce-scale-cluster-dyna-pvc-56f949c3-93d4-4998-8d92-884660a9769b disk is also removed

In CL2's logs I see:

[code]

[2021-01-07 12:41] claudiubelu opened #97802 "Subpath Atomic writer volumes with nested volume subpaths do not work on Windows containerd"
**What happened**:

Creating a pod with a nested subpath volume will cause the pod to fail to start on Windows containerd nodes.

**What you expected to happen**:

The pods should start normally.

**How to reproduce it (as minimally and precisely as possible)**:

Create the following pod on a Windows node with containerd:

    apiVersion: v1
    kind: Pod
    metadata:
      annotations:
        k

[2021-01-07 12:50] smarterclayton commented on #64715
/remove-lifecycle rotten
/reopen

[2021-01-07 12:51] HerbertDuan15 commented on #84601
m

[2021-01-07 12:53] smarterclayton commented on #64715
This is definitely a bug / underspecified / unintended linkage.

liveness failures trigger container kill processing in the Kubelet, which by default follows graceful rules.  But stop in happy path (termination grace) is intended to be othogonal to stop in unhappy path (liveness) so that you can tune independently (very long shutdown for services that want to handle requests).  The current couplin

[2021-01-07 12:53] smarterclayton commented on #64715
/priority important-soon

[2021-01-07 12:53] smarterclayton commented on #64715
/assign

[2021-01-07 12:54] TeddyAndrieux commented on #95188
Up, (I'm not really familiar with Kubernetes "waterflow" for that kind of bug fixes) from what I see it also needs to be backported to release-1.20 to be part of future 1.20.x versions right ? (I can open the PR if you confirm this)

[2021-01-07 12:55] mborsz commented on #97801
From kube-apiserver logs:
[code]

Resource quota evaluation took ~10s for some reason. This repeats for many different configmaps and secrets.

[2021-01-07 12:57] smarterclayton commented on #64715
It’s possible people are abusing / unintentionally depending on this coupling - https://stackoverflow.com/questions/63138138/is-it-possible-to-specify-a-delay-for-pod-restart-when-kubernetes-liveness-probe implies some people might assume that this is how it should work.  The counter argument is that the expectation for liveness is to maintain the availability of your pod when it is not ready or w

[2021-01-07 12:59] oumkale commented on #49458
Hello @spzala,
The front-end pod is crashing again and again during catalogue pod delete?
Liveness:     http-get http://:8079/ delay=300s timeout=1s period=3s #success=1 #failure=3
    Readiness:    http-get http://:8079/ delay=30s timeout=1s period=3s #success=1 #failure=3

Connection refused

[2021-01-07 13:04] NicolasT commented on #95188
@TeddyAndrieux Kubernetes doesn't really use the 'GitWaterflow' approach to branching :disappointed: Instead, indeed, similar to https://github.com/kubernetes/kubernetes/pull/96297 a PR to `release-1.20` which cherry-picks the patch that went into `master` will be needed to get this into 1.20.2 (ideally), since `release-1.20` was cut off `master` after the fix of https://github.com/kubernetes/kube

[2021-01-07 13:05] TeddyAndrieux commented on #95188
It's done here #97803

[2021-01-07 13:22] mborsz commented on #97801
The kube-apiserver has been restarted by kubelet:

[code]

but issues with kube-apiserver started earlier, e.g.:

[code]

[2021-01-07 13:24] mborsz commented on #97801
event-etcd seems to be overloaded that time:

[code]

[2021-01-07 13:41] wojtek-t commented on #94649
/remove-lifecycle rotten
/lifecycle frozen

[2021-01-07 13:43] rikatz commented on #97750
Ok, can confirm here.

With the old code, during a rollout the data is shown at OldReplicaSets (both the old and new RS) while with the patch during the rollout the NewReplicaSet contains the net one and the Old the old one (ehr....doctor obvious here) while the old exists.

I'll make some more tests here @borgerli and check if is there anything else in your PR that needs better verification, othe

[2021-01-07 14:06] jayunit100 commented on #97751
(resolved in slack, matts digging into this)

[2021-01-07 14:19] jayunit100 opened #97805 "Missing nodeSelector for DNS test in windows"
**What happened**:

Some of our windows tests (in this case `should support configurable pod DNS servers`) dont add enough scheduling metadata to behave predictably in environments where, for example, `nodeSelector` is required to interpret a pods proper location.  A "bug" in EKS CNI actually causes EKS, for example, to not properly label such pods with IP addresses (because it uses an adm control

[2021-01-07 14:20] jayunit100 opened #97806 "Missing NodeSelector to Windows "creating a pod with dnsPolicy=" tests"
**What happened**:

Some of our windows tests (in this case `should support configurable pod DNS servers`) dont add enough scheduling metadata to behave predictably in environments where, for example, `nodeSelector` is required to interpret a pods proper location.  A "bug" in EKS CNI actually causes EKS, for example, to not properly label such pods with IP addresses (because it uses an adm control

[2021-01-07 14:20] jayunit100 commented on #97806
/sig windows

[2021-01-07 14:30] liggitt commented on #97733
In my mind, the point is less how it presents in openapi and more the validation behavior you get for free. Services/endpoints have validation implemented as code. I would definitely expect a CRD wanting an IP field to validate using this format approach rather than add a validating webhook.

[2021-01-07 14:36] jayunit100 opened #97807 "Missing NodeSelector for "functioning NodePort" tests for windows"
**What happened**:

Similar to #97805 , were missing the windows nodeselectors for this one...  resulting in failed pod sandboxes due to missing metadata, root cause is easy fix, will issue PR shortly

[code]

[2021-01-07 14:41] #97437 closed

[2021-01-07 15:09] smarterclayton commented on #64715
There are several use cases for terminationGracePeriodSeconds:

1. Delay shutdown to continue processing requests (from seconds to minutes to hours) in combination with app code that waits or a preStop hook (grace period must be set *longer* than the expected wait time)
2. Ensure that the process has time to react to SIGTERM before SIGQUIT is sent, because the process may not be crash safe (histor

[2021-01-07 15:09] abhijainy123 opened #97810 "K8s Container are removed by topology Manager after particularly 4 hours"
**What happened**: I have started a JOB with my inhouse application image. K8s Container are removed by topology Manager after particularly 4 hours

**What you expected to happen**: Pod's container should not be removed

**How to reproduce it (as minimally and precisely as possible)**: I have started a JOB with request & limit memory with my application. Container keeps on running for 4 hours & th

[2021-01-07 15:09] abhijainy123 commented on #97810
Below are the Kubelet log around the same timestamp:

Jan 07 18:35:53 vmcipind83wsfd2 kubelet[7593]: I0107 18:35:53.667179    7593 log.go:181] http: superfluous response.WriteHeader call from k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/server/httplog.(*respLogger).WriteHeader (httplog.go:217)
Jan 07 18:36:56 vmcipind83wsfd2 kubelet[7593]: I0107 18:36:56.756426    7593 topology_manager.go:219] [t

[2021-01-07 15:13] abhijainy123 commented on #97810
/sig K8s Infra

[2021-01-07 15:14] abhijainy123 commented on #97810
/sig kubenetes

[2021-01-07 15:14] abhijainy123 commented on #97810
/sig kubernetes

[2021-01-07 15:15] Clivern commented on #97797
@lengrongfu  it fails on validation here https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L4257.

since k8s assign nodePort value if `spec.type=NodePort`. if you do this

[code]

it should work as expected. i think we can consider this as bug or enhancement for the api

[2021-01-07 15:18] Clivern commented on #97797
/sig api-machinery

[2021-01-07 15:43] dskatz commented on #85643
I observe these issues using both AWS (ELB + NLB) solutions with `externalTrafficPolicy: Local`.

[2021-01-07 15:47] alculquicondor commented on #92143
/remove-lifecycle stale

Promotion of component config to GA hopefully happens in 1.22. In the meantime, we have to keep the policy config.

[2021-01-07 15:52] smarterclayton commented on #64715
The scenario that triggered the reopen here was a a long outage reported by an ingress controller - the controller uses a 3600s grace period so that it can drain long requests from end user app traffic, but when the controller wedges it takes an hour to resolve, which is the worst outcome (the process wedges immediately, but kube has to wait the full hour to kill it).

[2021-01-07 15:56] shrutiyer commented on #65973
Will this feature be shipped in any upcoming releases?

[2021-01-07 16:09] wojtek-t commented on #97484
@msau42 - can I assign it to you for coordination, I'm not familiar with all provisioners (I though we did for all), so we need someone familiar with that.

[2021-01-07 16:10] apelisse commented on #65973
We're planning on doing that! @xiaobaitusi

[2021-01-07 16:11] gavinfish opened #97813 "Scheduler: Reduce unnecessary PodInfo struct initialization"
**What would you like to be added**:

Originated from @ahg-g's TODO `AddPod/RemovePod should pass a *framework.PodInfo type instead of *v1.Pod.`. Some discussions at https://github.com/kubernetes/kubernetes/pull/97599#discussion_r550214325.

In scheduler, we use `PodInfo` to wrap pod with additional pre-computed information to accelerate processing. This issue is trying to reduce the construction

[2021-01-07 16:13] howardjohn commented on #97288
I can reproduce it pretty easily by spinning up 10 pods, then doing `kubectl delete deployment` and timing it. There is often (although not always) 1 or more pods that gets "stuck" and takes noticeably long (30s+).

On the good pods, status immediately transitions to:
[code]

On the bad pods:
[code]

[2021-01-07 16:15] davinkevin commented on #40958
This issue has been closed but this could be an important evolution.

The current implementation force use to define a `USER 65532` directive in our base image to be able to use PSP with `RunAsNonRoot`. Our image are based on `distroless`, so if for some reason the user ID change, we can face issues…

Is there a way to reopen it because the issue is still happening ?

[2021-01-07 16:15] ankeesler commented on #91913
Opened a PR for `#1`: https://github.com/kubernetes/kubernetes/pull/97811.

[2021-01-07 16:42] alculquicondor commented on #97813
/triage accepted

[2021-01-07 16:53] jsturtevant commented on #97783
If we do want it running on nodes without gpu's we need to figure out why it is causing cascading failures. I've disabled the test for our CI for now: https://github.com/kubernetes/test-infra/pull/20352 and https://github.com/kubernetes/test-infra/pull/20396

[2021-01-07 16:58] apelisse commented on #97733
Agreed, I'd love it if we had a documented list of accepted format along with:
- Name of the format string,
- Specific validation, possibly as a regex, possibly in the form of code,
- Canonicalization/Comparison function,

Then we would be able to use these for CRDs and built-in.

[2021-01-07 17:01] derekwaynecarr commented on #64715
@unclewizard @smarterclayton i think having a separate termination period for liveness probe failures makes sense.  i think only backward compatible way to do it is a new field per option @smarterclayton enumerated.

[2021-01-07 17:18] liggitt commented on #43932
support for unsecured localhost was removed in #95856 in 1.20

/close

[2021-01-07 17:18] #43932 closed

[2021-01-07 17:27] neolit123 commented on #97778
/sig storage
/area provider/azure

[2021-01-07 17:28] neolit123 commented on #97765
/sig api-machinery
?

[2021-01-07 17:28] neolit123 commented on #97780
/sig windows

[2021-01-07 17:28] neolit123 commented on #97780
/kind bug

[2021-01-07 17:29] neolit123 commented on #97790
please try the support forums instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-07 17:29] #97790 closed

[2021-01-07 17:29] neolit123 commented on #97805
/sig windows

[2021-01-07 17:30] neolit123 commented on #97807
/sig windows

[2021-01-07 17:30] thomacos commented on #97783
Is it possible that the node has not only no GPU, but no DirectX device at all, and therefore the registration of the device plugin fails?

[2021-01-07 17:31] neolit123 commented on #97810
/sig node

[2021-01-07 17:50] liggitt commented on #91913
that also seems like a distinct issue to improve on

[2021-01-07 18:21] apelisse commented on #89264
For reference:
[code]
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go#L168-L169

[2021-01-07 18:30] msau42 commented on #97484
/assign

Yes, I'll work with @kmova to make the fix.

[2021-01-07 18:36] yuga711 commented on #91784
After PR https://github.com/kubernetes/kubernetes/pull/97499, this issue doesn't seem to be relevant. Closing it for now. We can reopen if needed.

[2021-01-07 18:36] #91784 closed

[2021-01-07 18:37] howardjohn commented on #97288
I built 1.20 with https://github.com/kubernetes/kubernetes/pull/92817 reverted as gcr.io/howardjohn-istio/kindest/node:v1.20.0-revert-pod

With this, the problem is not reproducible. cc @SergeyKanzhelev @kmala

[2021-01-07 18:43] #90262 closed

[2021-01-07 18:43] #93783 closed

[2021-01-07 18:48] wojtek-t commented on #97484
Thank you!

[2021-01-07 18:58] wojtek-t commented on #90833
@lyzs90 - sorry for delayed response - vacation period

What you wrote above makes sense, with the differences:
1. that we're deprecating and removing dockershim. I think our tests are already using containerd, so you need to contact the containerd (CRI?) sockets or something like that.
2. I think we don't want to touch RemoteRuntimeService - we only want to touch ImageEndpoint. The fact that we h

[2021-01-07 18:59] jayunit100 opened #97817 "missing nodeSelector for volume tests"
similar to #97805
PR en route

[2021-01-07 19:00] jayunit100 commented on #97817
/sig windows

[2021-01-07 19:02] oomichi commented on #94901
/remove-lifecycle stale

[2021-01-07 19:31] dims commented on #96564
cc @smarterclayton

[2021-01-07 19:34] Jiawei0227 commented on #97781
Thanks for the quick fix Andy!

[2021-01-07 19:35] dims commented on #96169
May be we should wait until go 1.16 comes out and use the new capability in there?

[2021-01-07 19:39] apelisse commented on #96564
FYI, @yliaog and I have been looking into it a little bit. We were trying to at least run an experiment to see what can be done and how the performances would be affected. We're thinking about it :-)

[2021-01-07 19:40] kmala commented on #97288
The PR #92817 will add additional time it takes for a pod to be deleted from the apiserver and the additional time depends on the performance of the container runtime. We need to look at the logs of the kubelet to understand why it took 3x times as the additional time is only to guarantee the removal of pod sandbox before removing the pod from the apirserver.

The grace period is the duration in s

[2021-01-07 19:44] howardjohn commented on #97288
@kmala there are kubelet logs in the original issue, is there more info needed?

[2021-01-07 19:45] dims commented on #94976
@ehashman can we please close this if there isn't anything to do?

[2021-01-07 19:51] #97805 closed

[2021-01-07 20:01] ehashman commented on #94976
@dims sure, I don't think the ask in the original comment has been met :) There currently is not a machine-readable format available for consuming k8s licenses. The CNCF exceptions list, which is, is not for k8s itself.

Ideally, the issues described in the ClearlyDefined report could be addressed.

[2021-01-07 20:11] liggitt commented on #97685
should we merge the pass-by-reference bit of #97791 in the meantime until golang/go#43570 is resolved?

[2021-01-07 20:17] rkojedzinszky commented on #97685
I would say that we could wait a few days for response on the bug report. On the other side, I dont know how fast a resolution will get into a stable golang release, and what is needed for k8s to be built using that. Can these take a long time?

[2021-01-07 20:18] liggitt commented on #97685
yes, I would not expect it faster than O(months)

[2021-01-07 20:23] thockin commented on #97396
I am bit confused on the intent.  IngressClass would still be a non-namespaced object (aside: we need a better word for that, I hereby decree that "rooted" is the opposite of "namespaced" :).  If I have the ability to create a rooted Class object, why do I need to reference a namespaced params?  Clearly I have the authority to create/edit rooted objects?

[2021-01-07 20:29] brandond commented on #97685
It would be great if the fix could be merged and backported in time for 1.20.2; as it currently stands 1.20 is basically unusable on arm.

[2021-01-07 20:31] MikeSpreitzer commented on #97685
BTW, #97791 contains _only_ the pass-by-reference change and logging of an error if there is a wild jump anyway; I would recommend taking all of that PR.

[2021-01-07 20:32] thockin commented on #97393
Another way to look at this is to ask: what does "ready" mean.  Perhaps your non-master pods should not be succeeding the readiness probes?

Looking forward, I actually do see value in Service having its own health-check descriptor, but I don't know that it should be as you describe.  I think it's more valuable to probe from the outside (ideally off-node).  Then you could define a service.healthCh

[2021-01-07 20:32] thockin commented on #97393
I'll close this - workarounds seem acceptable.  Please reopen if I got that wrong.

/close

[2021-01-07 20:32] LorbusChris commented on #96169
Sounds fine to me. I'll rename/repurpose this issue.

[2021-01-07 20:32] #97393 closed

[2021-01-07 20:33] thockin commented on #97392
/triage accepted

[2021-01-07 20:33] BenTheElder commented on #96803
This is one of the few sources of flakes in some of our release blocking CI:

`Kubernetes e2e suite: [sig-api-machinery] API priority and fairness should ensure that requests can be classified by testing flow-schemas/priority-levels`

https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1347258

[2021-01-07 20:34] jayunit100 commented on #97392
/assing

[2021-01-07 20:35] jayunit100 commented on #97807
/assign

[2021-01-07 20:41] ehashman commented on #64715
/triage accepted

[2021-01-07 20:52] thockin commented on #97377
I recall the bug with metadata and it was exceedingly difficult to find.  I don't know why the other end of the connection doesn't get closed properly - when it does, the records should be released, right?

In this case, at 1300 QPS you'll open about 78000 connections per minute, which wilkl last you 8.4 minutes until you overflow your 655360 record table.  That's bad.

With a 60s timeout you'd op

[2021-01-07 20:53] liggitt commented on #97685
the deadline for cherry-picks to be merged for 1.20.2 is tomorrow

[2021-01-07 20:56] thockin commented on #97360
@aojea is correct.  Also, we decided overall that it was less surprising to users to REJECT such accesses than to let them "fall through" and route to things that would not be possible if that service had endpoints.

In short - we claim complete ownership of the port, and if you have a local process listening on a node-port a) we have a bug (we try to hold those ports) and b) you're doing somethin

[2021-01-07 20:56] #97360 closed

[2021-01-07 21:00] thockin commented on #97226
When you say "log in" do you mean like an app-level username and password?  That's not what this does.  All this does is ensure that subsequent connections will go to the same backend.  It's still a new TCP session, so unless you have some sort of cookie or token built into your app protocol, you may still get treated as a new client.

Am I misunderstanding the report?

[2021-01-07 21:02] thockin commented on #97225
If I read this right it sounds like a bug, indeed.  Is that right?  If so, let's accept the triage.

[2021-01-07 21:04] andrewsykim commented on #97225
/triage accepted

[2021-01-07 21:04] aojea commented on #97797
/sig network

as explained by @Clivern , if you want to mutate the service to ClusterIP, you have to drop the field `nodePort`

@thockin IIRC there was a similar issue recently, should the apiserver release the `nodePort` when mutating the service?

[2021-01-07 21:13] aakarshg commented on #97129
hey guys, any update on this at all?

[2021-01-07 21:14] fedebongio commented on #97704
/triage accepted

[2021-01-07 21:14] fedebongio commented on #97062
/triage accepted

[2021-01-07 21:16] fedebongio commented on #80354
thank you @varshavaradarajan
/triage accepted

[2021-01-07 21:19] fedebongio commented on #97331
/assign @yliaog
/triage accepted

[2021-01-07 21:20] fedebongio commented on #97504
/remove-sig api-machinery
/sig apps

[2021-01-07 21:21] fedebongio commented on #97511
/assign @lavalamp
/triage accepted

[2021-01-07 21:21] thockin commented on #96868
What should we do with this  bug, now?

[2021-01-07 21:22] fedebongio commented on #97525
/cc @lavalamp
/triage accepted

[2021-01-07 21:23] fedebongio commented on #97545
/cc @caesarxuchao
Would be good to understand what you are trying to accomplish so we can give you a better answer, thanks!

[2021-01-07 21:24] fedebongio commented on #97559
/assign @apelisse
/triage accepted

[2021-01-07 21:24] mwhipple commented on #95403
I'm unlikely to find time for this anytime soon so this can just be closed without further momentum
/close

[2021-01-07 21:24] #95403 closed

[2021-01-07 21:26] caesarxuchao commented on #97545
Can you tell us more on what you want to achieve?

[2021-01-07 21:26] fedebongio commented on #97586
/cc @roycaihw
/triage accepted

[2021-01-07 21:29] apelisse commented on #97559
/wg api-expression

[2021-01-07 21:49] ehashman commented on #64715
I agree that this option has the least likelihood of breaking things or unintended consequences:

I'll put together a short KEP for it.

[2021-01-07 22:05] thockin commented on #97744
/triage accepted

[2021-01-07 22:08] #97744 closed

[2021-01-07 22:09] andrewsykim commented on #97797
I _think_ this would be addressed in v1.20 with this PR https://github.com/kubernetes/kubernetes/pull/95196 that drops type dependent fields. Haven't tested it though

[2021-01-07 22:09] aojea commented on #97662
/cc

[2021-01-07 22:09] thockin commented on #97660
/triage accepted

[2021-01-07 22:11] BenTheElder commented on #97511
https://github.com/kubernetes/kubernetes/issues/96803 had some different failures I think, commented there as well

[2021-01-07 22:11] thockin commented on #97553
/triage accepted

[2021-01-07 22:14] jayunit100 commented on #97159
/triage accepted

[2021-01-07 22:17] thockin commented on #97268
/triage accepted

[2021-01-07 22:17] thockin commented on #97239
/triage accepted

[2021-01-07 22:27] GrzegorzDrozda commented on #60987
same issue
Kubernetes 1.19.4
Rook 1.5.4
Kernel: 3.10.0-1160.11.1.el7.x86_64

[2021-01-07 22:31] brianpursley commented on #97549
You could run the port forward in the background, something like this script:
[code]

[2021-01-07 22:47] prameshj commented on #97268
Seems like the tests are now flaky due to connectivity issues:

[code]

[2021-01-07 22:49] aojea commented on #97239
@wojtek-t before going into the specific failures, the job is timing out multiple times 8/15 last runs,
can you PTAL?
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

[2021-01-07 22:57] aojea commented on #97268
the disruptive tests are not flaking, there are other failures but I think this issue can be closed, I don't like to use this as a placeholder :)

Thanks @prameshj for looking into it

[2021-01-07 22:57] #97268 closed

[2021-01-07 23:09] thockin commented on #97797
https://github.com/kubernetes/kubernetes/pull/95196/files#diff-2dd9a1ef6872092e519941c8a4870f4c2a71eda096b660510b02afe9b3d19fefR346-R350 in particular fixes this, which is only in 1.20.  It's unlikely that we will want to backport it.

[2021-01-07 23:09] #97797 closed

[2021-01-07 23:22] thockin commented on #96909
It seems there's no real validation for `loadBalancerIP` and even `loadBalancerSourceRanges` validation calls `strings.TrimSpace()`.  So more or less this is allowed, and all consumers of this field must handle whitespace.

This is ugly.

We can:

a) Add validations and disallow whitespace.  This will be a breaking change for SOMEONE.  It works today, which means I am 100% sure someone has a servi

[2021-01-07 23:30] BenTheElder commented on #94976
I would say that https://github.com/kubernetes/kubernetes/tree/master/LICENSES is fairly machine-readable, simply by matching the text of the license ..? And 1:1 with source directories. This "format" works pretty well because it doesn't require us to modify `vendor/`, leaving it how go defines it *

\* except `vendor/OWNERS`

Other than somehow mutating all files to use an SPDX header, is there s

[2021-01-07 23:54] caseydavenport commented on #97283
So, our general recommendation on the Calico side is to just disable firewalld and instead to use Calico to manage the firewall rules on the host. I think that's what most folks end up doing.

I believe that it is possible to make Calico and firewalld play nicely together, but I'm afraid I don't know the full set of configurations needed in firewalld to make this happen off the top of my head. Som

[2021-01-07 23:55] #97283 closed

[2021-01-07 23:55] caseydavenport commented on #97283
I've left the corresponding Calico issue open since we should probably document something on that side.

[2021-01-08 00:17] lavalamp commented on #97511
My guess is we somehow have a race with the apiserver loading the new PL / FS.

[2021-01-08 00:23] thockin commented on #97662
Discussed a bit in sig-net today.  Historically I was a big proponent of keeping tight control of this, but it has come up enough times that I am willing to consider a more complete escape hatch.

The only thing that worries me is to define the complete gamut of options.

If I specify nothing, what hostname can I expect?

If I specify `hostname` what can I expect?

If I specify `hostname` and `sub

[2021-01-08 00:23] thockin commented on #97662
/triage accepted

[2021-01-08 00:24] thockin commented on #96507
What should we do with this bug now?

[2021-01-08 00:25] thockin commented on #96018
You can upload it to drive or something and share it with sig-net ML ?

[2021-01-08 00:30] andrewsykim commented on #96507
In favor of closing and making sure this bug doesn't exist in https://github.com/kubernetes/kubernetes/pull/96600 and topology aware routing.

[2021-01-08 00:30] andrewsykim commented on #96507
/close

[2021-01-08 00:30] #96507 closed

[2021-01-08 00:31] thockin commented on #92928
@robscott is this a proper bug?  Or does it still need triage?

[2021-01-08 01:03] house0128 commented on #97377
@thockin
thanks.
We have reviewed the configuration of nginxplus , found the keepAlive of the reverse proxy is not working.
We fixed it and change  nf_conntrack_tcp_timeout_close_wait  from 3600 to 300.It looks OK now.

[2021-01-08 01:07] robscott commented on #92928
I think it's a proper bug, but my initial fix got rather bogged down for this. This is the kind of error that most controllers emit, it just happens significantly more frequently due to the nature of EndpointSlices. My first attempt was to try to limit the number of times we sync before the informer cache is up to date, but that could have potentially introduced more bugs and it was certainly not

[2021-01-08 01:18] apelisse commented on #96909
That's specifically why I mentioned "Canonicalize/Comparison" in https://github.com/kubernetes/kubernetes/issues/97733#issuecomment-756241709.

If we had a format for these and the format spec said "Spaces will be trimmed", we would be able to canonicalize/compare and avoid the reconcile loop. We don't have that right now.

Alternately, you could maybe do some validation ratcheting (and we probabl

[2021-01-08 01:38] SergeyKanzhelev commented on #97007
BTW, found this: https://github.com/kubernetes/enhancements/pull/1592 for the context

[2021-01-08 01:39] JorjBauer commented on #97662
Some quick thoughts, which you've probably had, but I'm still climbing up this hill.

I don't have any substantive arguments against the existing naming model, although as a greybeard it was a bit puzzling that a pod has a potential FQDN, but internally doesn't seem to know about its own DNS zone (just knows about its short hostname). But as that seems to have been the norm in k8s for some time -

[2021-01-08 01:46] like-inspur opened #97825 "kubernetes can create ingress with empty rule"
**What happened**:
kubernetes can create ingress with empty rule

**How to reproduce it (as minimally and precisely as possible)**:
ingree yaml like below,
[code]
kubernetes create this successfully like below
[code]
**Environment**:
- Kubernetes version (use `kubectl version`): 1.14.3

[2021-01-08 01:50] like-inspur commented on #97825
/sig Usability

[2021-01-08 01:50] #93358 closed

[2021-01-08 01:53] wajika commented on #97118
Same problem in the version Kubernetes 1.17.* / 1.14.*

kube-apiserver ver 1.14.4
`kube-apiserver[1195]: E0108 09:16:21.651217    1195 available_controller.go:353] v1beta1.metrics.k8s.io failed with: Get https://10.0.178.209:443: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)`

[2021-01-08 02:00] wanghaoran1988 commented on #97676
@wzshiming i'd prefer expose different url path for those clusters using the same port, eg we have two context "cluster1" & "cluster2", we can expose the proxy api like "/clusters/<cluster_name>/", so to access cluster1, the proxy url is: "http://localhost:8080/clusters/cluster1".

[2021-01-08 02:00] wajika commented on #83332
I'm facing the same problem. ver 1.14.X and 1.17.X
I found that in both cases, metric service is unavailable, and the apiserver log is timeout

[code]

[2021-01-08 02:25] wzshiming commented on #97676
@wanghaoran1988 If the prefix is added, it is not an implementation of the ApiServer interface! Or does kubectl/client-go need to add a path prefix to the request?

[2021-01-08 02:28] wanghaoran1988 commented on #97676
What do you mean about that? it just gonna be an  api proxy that supports multiple cluster.

[2021-01-08 02:42] lingsamuel commented on #96363
agree @michaelgugino , job controller should track the complete status.
But the question is: the pod is deleted, user can no longer access its logs. We could check pod's phase in taint manager, and only deletes the Running pods.

[2021-01-08 02:42] carlory commented on #97662
/cc

[2021-01-08 02:44] hzxuzhonghu opened #97831 "Support multi namespaces list-watch"
**What would you like to be added**:

Provide label selector for namespaces when list-watching resources.

**Why is this needed**:

It is very common for an operator or to manage some resources selectively mostly by namespaces. Currently, they have to either create one informer per namespace or one informer but filter out resources that do not belong to them. It is very helpful if this could be do

[2021-01-08 02:44] hzxuzhonghu commented on #97831
/sig api-machinery

[2021-01-08 02:46] lingsamuel opened #97832 "Should the taint manager permanently delete a pod without a controller?"
**What happened**:

Pods created directly (without a controller) may be permanently evicted by taint manager.

**What you expected to happen**:

Just a discussion, [per the doc](https://kubernetes.io/docs/concepts/workloads/pods/#working-with-pods):

The eviction is reasonable, but there is no controller to restart it.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a

[2021-01-08 02:56] wzshiming commented on #97676
@wanghaoran1988
![image](https://user-images.githubusercontent.com/6565744/103968601-1b9f3280-519f-11eb-8ecc-4af4112c4af6.png)
I mean something like this.

[2021-01-08 03:04] allenhaozi commented on #97559
thank u @apelisse

Now I'm using it the way you said

But I got `.spec.template.spec.containers[name="simple-web-0"].resources.limits.cpu`
Actually, my expected value is `.spec.template.spec.containers[0].resources.limits.cpu` if simple-web-0 is the first container in spec.containers

I'm looking for a better way to transform, because I need to do a few pre-patch things before calling `Client. pat

[2021-01-08 03:07] pacoxu commented on #97825
document here https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#ingressspec-v1-networking-k8s-io shows

Field | Description
-- | --
rulesIngressRule array | A list of host rules used to configure the Ingress. If unspecified, or no rule matches, all traffic is sent to the default backend.

[2021-01-08 03:34] yliaog commented on #97331
$ cat /usr/local/google/home/yliao/.cache/bazel/_bazel_yliao/22feabd09ed7500b895ae722021d89a6/execroot/io_k8s_kubernetes/bazel-out/k8-fastbuild/testlogs/staging/src/k8s.io/client-go/tools/remotecommand/go_default_test/run_14_of_1000/test.log
exec ${PAGER:-/usr/bin/less} "$0" || exit 1
Executing tests from //staging/src/k8s.io/client-go/tools/remotecommand:go_default_test
--------------------------

[2021-01-08 03:35] pacoxu commented on #97832
[Doc: Evicting end-user Pods](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#evicting-end-user-pods)

`Create Pods with priorityClassName` would change the eviction order. To avoid eviction, `system-node-critical` priorityClassName is a choice.

If a pod without controller have a higher priority, it will not be evicted even it uses lots of compute resource. (IMO, this is not

[2021-01-08 03:35] yliaog commented on #97331
bazel test --runs_per_test=1000 //staging/src/k8s.io/client-go/tools/remotecommand/...

[2021-01-08 03:37] yliaog commented on #97331
the error: "client crashed after 1 second" is from https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/remotecommand/remotecommand_test.go#L58

the error: "return err" is from https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/remotecommand/remotecommand_test.go#L63

[2021-01-08 03:38] yliaog commented on #97331
/assign @adamzhoul

please take a look

[2021-01-08 03:38] yliaog commented on #97331
/cc @adamzhoul

[2021-01-08 03:40] yanhuibin315 commented on #90077
I got the same error . And this is my k8s version:
[code]

When I usr apiVersion: networking.k8s.io/v1
I got the error message:
[code]

And then I change my apiVersion to "networking.k8s.io/v1beta",
I got the error message like that
[code]

Is that my format wrong？？

[2021-01-08 03:41] yanhuibin315 commented on #90077
my-ingress.yaml
[code]

[2021-01-08 04:01] WxySupn commented on #96363
agree @lingsamuel , the completed pods do not occupy node resources and do not need to be evicted.

[2021-01-08 04:07] lingsamuel commented on #97832
IMO pod is considered ephemeral because most of them are managed by controllers. Users may not expect their "orphan" pods to be deleted permanently.

[2021-01-08 04:09] marshallford commented on #43784
I'm running into the "accessible health checks" issue while using RKE2, a distribution that has a goal/feature of passing the CIS k8s benchmark. The CIS control for anonymous auth doesn't take into consideration the usage of the `AlwaysAllow` authorizer (as mentioned in related GH issues).

[2021-01-08 04:29] apratina commented on #95021
ping. can some one look into this?

[2021-01-08 05:44] feiskyer opened #97835 "Expose cloudCIDRAllocator as a cloud-provider interface"
**What would you like to be added**:

cloudCIDRAllocator is part of nodeipam, which allows cloud provider to allocate node CIDRs according to IP address aliases:

https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go#L55-L61

But the current implementation is GCE only. We should expose the interface for out-of-tr

[2021-01-08 05:55] lyzs90 commented on #90833
@wojtek-t no worries, welcome back!

thanks for clarifying. as for local testing, would it suffice to start a hollow node pod and see if it can pull an image?

[2021-01-08 06:10] Lion-Wei commented on #94191
Since we already have an enhancement about this issue, maybe we can left this issue closed?

[2021-01-08 06:16] im7mortal commented on #68083
/remove-lifecycle rotten

[2021-01-08 06:48] wojtek-t commented on #90833
It should be. And you will also see what happens as part of presubmit (we have mandatory kubemark presubmit in perf-tests repo and option in k/k)

[2021-01-08 06:49] jatin-pathangi opened #97836 "External IP of externalTrafficPolicy Local service is unreachable from pods within the cluster on GCP"
**What happened**:
I have a LoadBalancer type service whose externalTrafficPolicy is set to Local. I cannot reach the external IP address of the service from pods within the cluster that do not run on the same node as one of the service backend pods.  I am using iptables proxying

I can reach the external IP from outside the cluster, I can reach it from all the nodes within the cluster. I can reac

[2021-01-08 06:52] jatin-pathangi commented on #97836
/sig Network

/sig Cloud Provider

[2021-01-08 06:52] jatin-pathangi commented on #97836
/sig cloud-provider

[2021-01-08 06:53] wojtek-t commented on #97239
@aojea - it started timing out after merging this PR: https://github.com/kubernetes/kubernetes/pull/97345/

I'm fairly sure it's the reason of that.

Those are both networking tests - I'm just wondering if we want to revert it to prove or we want to keep them enabled to have more debugging info?

[2021-01-08 07:00] aojea commented on #97239
Let me check them, we had recently a similar issue with the network policy jobs ...

[2021-01-08 07:02] lyzs90 commented on #90833
/assign

[2021-01-08 07:02] frasertweedale commented on #97149
@thockin @aojea I wonder if someone could please reopen this issue?  My argument (two comments previous) that this is a separate issue from #47249 was not addressed.

I am happy to write and submit a KEP, if that is the best way forward.  I wait upon your guidance.

[2021-01-08 07:53] yp28 commented on #97396
Because the implementation and it's already existing parameters would not (always) be rooted. The intent is to pass the Gateway object as the parameter object here to have Istio automatically configure an IngressClass.

Besides that I can imagine some ingress controllers simply using a ConfigMap as the parameters object here.

[2021-01-08 07:59] jiayouxujin commented on #97545
In my project,I use client-go to exec my pod-container.Can I reuse the connect(the original connect is closed),when another request arriverd?

[2021-01-08 08:30] aojea commented on #97149
That sounds good to me

/reopen

[2021-01-08 08:49] CaoDonghui123 commented on #97825
I don't think this is a bug

[2021-01-08 08:58] aojea commented on #97239
ups

[2021-01-08 09:01] yue9944882 commented on #97685
i wonder if it's also related w/ https://github.com/kubernetes/kubernetes/issues/97525, the latter issue seems to be stambling on the memory pressure tho. but cpu&memory consumption can be also connected.

[2021-01-08 09:09] tatianguiqu opened #97840 "One job controlled by Cronjob failed and nothing left"
The cronjob format is as follows：
[code]
Several automatic and manual triggered tasks can be completed normally. Howerer, one automatic job scheduled by that Cronjob failed very strangely. It left no pod, no event, and nothing. The only information is shown in the figure below：
![image](https://user-images.githubusercontent.com/9394362/103995179-0fcd6380-51d3-11eb-8a1d-15623d341c36.png)
The job ya

[2021-01-08 09:11] yue9944882 commented on #97525
ref #97685

[2021-01-08 09:17] aojea commented on #97239
There are taking more than 20 mins to run, this graph is really useful
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness&graph-metrics=test-duration-minutes&width=5

I´ve submitted https://github.com/kubernetes/kubernetes/pull/97839 to fix one of those, but as wojtek pointed out, the trigger is #97345 , and based on the graph

![image](https://user-images.githubuser

[2021-01-08 09:45] tatianguiqu commented on #97840
/sig sig-apps

[2021-01-08 09:46] tatianguiqu commented on #97840
/sig apps

[2021-01-08 10:06] tosi3k opened #97846 "[Failing test] ci-golang-tip-k8s-1-18 fails very frequently"
**Which jobs are failing**:
ci-golang-tip-k8s-1-18

**Since when has it been failing**:
The job started to fail with high frequency around Dec 9th; first failing job run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-golang-tip-k8s-1-18/1336941587187372032.

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-golang#golang-tip-k8s-1-18

**Reason for failure**:
Multiple API call la

[2021-01-08 10:09] tosi3k commented on #97846
I will run some experimental jobs to narrow the area in which the regression was introduced.

/assign

[2021-01-08 11:19] bukowa commented on #94362
Where can we find more info about this, specifically how to remove this throttling ?

[2021-01-08 12:18] guillermobandres commented on #67014
Hi @pedrohdz I'm having the same problem in my AKS with a log volume with 50Gb of size. I tried to use supplementalGroups instead of fsGroup but it still taken a lot of time to start the container. The version of k8s is 1.17.1 and this is my security config:

      securityContext:
        runAsGroup: 10001
        runAsNonRoot: true
        runAsUser: 10001
        supplementalGroups:
          -

[2021-01-08 12:50] ingvagabund commented on #91782
/remove-lifecycle stale

[2021-01-08 12:54] rkojedzinszky commented on #97685
I think yes, I've seen similar log messages.

[2021-01-08 12:57] donalddewulf commented on #60152
Just a quick response here. I was working on an existing kubernetes cluster made with kops the other day, and for some reason it was not creating the ELB. I looked into the public (utility) and private subnets and found that the cluster was tagged incorrectly

So make sure that whatever the name is of your cluster (``kops get cluster``) is correctly tagged in your subnet tags
So if your clusternam

[2021-01-08 13:01] #92635 closed

[2021-01-08 13:33] mborsz commented on #97798
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1347317422025084928 failed with similar error.

I was trying to debug and for now, the only interesting finding is that in logs I see entries like:
[code]

It's not clear whether "Forcing watcher" and "processing initEvents" warnings are for the next watch closure, but this seems to be likely:
* e.g. in th

[2021-01-08 13:49] tosi3k commented on #97846
Ran an experiment using [89f465c2b5](https://go-review.googlesource.com/c/go/+/276552) as the tip Golang commit to confirm a regression exists upon this point of time.

I will run an experiment using [5627a4dc30](https://go-review.googlesource.com/c/go/+/276452) as the next tip (this is the k8s build directly preceding 89f465c2b5 that was generated by [build-and-push-k8s-at-golang-tip](https://tes

[2021-01-08 13:51] ddebroy commented on #94778
/remove-lifecycle stale

[2021-01-08 13:56] ddebroy commented on #94778
hey @jayunit100, this is referring to testing the shim infrastructure that allows operations against in-tree storage plugins to be directed towards their corresponding CSI plugins (https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-csi-migration-beta/). Specifically, we need to make sure the node operation translations all works out as expected for Windows nodes with CSI plugins that do

[2021-01-08 14:02] #93648 closed

[2021-01-08 14:02] #93875 closed

[2021-01-08 14:32] ankeesler commented on #91913
Status:
1. superfluous describe clients, `pr opened`: https://github.com/kubernetes/kubernetes/pull/97811
1. creating >1000 clients means you start to get spammed with warnings, `in progress`[0]
1. superfluous get clients, `in progress`[1]
1. for each *kubernetes.Clientset we create a client for each API version `in progress` (from @liggitt's comment above)

[0] strawperson proposal: do nothing
-

[2021-01-08 14:33] chris13524 opened #97851 "Support PKCS#11 in kubelets"
kubelets should support storing kubeconfig certificate private keys inside an HSM using PKCS#11. This is particularly useful for IoT scenarios.

Ref:
 - https://github.com/kubernetes/kubernetes/issues/64783
 - https://github.com/kubernetes/enhancements/pull/1749

[2021-01-08 14:41] swixkot commented on #95039
I got same issues with CentOS Userland 7.9.2009 / kernel 5.4.72-v7l.1.el 7 / Raspberry 4B 4Go / k8s 1.20.0

[2021-01-08 15:04] anthr76 commented on #95039
OpenSUSE Kubic

[code]

[code]

[code]

[2021-01-08 15:19] ankeesler opened #97852 "kubectl describe should reuse already fetched API objects instead of making another API call"
/sig cli

**What would you like to be added**:

- The `kubectl describe` code makes live API calls for each object it wants to describe (e.g., https://github.com/kubernetes/kubernetes/blob/cc09a6df5805574394e2eff285756d2886b34805/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L4024).
- However, the object that it wants to describe has already been fetched from the API (i.e., https://github.co

[2021-01-08 15:19] JamesTGrant commented on #62036
/reopen
/remove-lifecycle rotten

TL;DR:
Please could I suggest to Kubernetes that
a) the documentation is addressed and
b) possibly modify the sleep function and constrain the variability by a smaller, hardcoded, amount independent from readinessPeriod (a random portion of 5sec should be enough for anyone, right...?)

or
c) expose the 'variability' in the readiness probe sleep so that, for time s

[2021-01-08 15:19] ankeesler commented on #97852
/kind cleanup

[2021-01-08 15:22] knight42 commented on #97852
I would like to help.
/assign

[2021-01-08 15:30] koala9527 commented on #41025
My system is  5.4.47-OPENFANS+20200622-v8 , can't apt-get install linux-image-$(uname -r)  ,how to solve it

[2021-01-08 16:27] erikwilson commented on #97685
For what it is worth this seems like a very high impact bug, as it can potentially effect 64-bit architectures also. The following example of the bug that was submitted as part of the fix also fails on Darwin/x86_64: https://github.com/golang/go/blob/304f769ffc68e64244266b3aadbf91e6738c0064/test/fixedbugs/issue43570.go

It seems like the best mitigation until a new version of golang is released is

[2021-01-08 16:29] ahmedbrandver commented on #68737
@alwinmarkcf thank you for your suggestion it work for me

[2021-01-08 16:30] apelisse commented on #97559
Actually, my expected value is `.spec.template.spec.containers[0].resources.limits.cpu` if simple-web-0 is the first container in spec.containers

We can't positively identify a list element by its position, that's why we're using the key instead.

It's still hard for me to know if you're doing the right thing :-)

[2021-01-08 16:38] qfen commented on #97657
Looks like it's superfluous, I'll remove FromPort

[2021-01-08 16:46] MikeSpreitzer commented on #97685
I created #97854 as a cut-down alternative to #97791, containing only the work-around and not the checking and logging for the argument passing problem.

[2021-01-08 16:57] Johnnyt123 opened #97856 "Docker Run not working after Untainting the master Node"
Hello,

I'm trying to redo the labs for the LFS258. I completed all the labs with the Google Cloud Platform and everything was working fine.

This time around i decided to redo the labs but instead of using the cloud, i would create my own Nodes on VMware. (with Ubuntu 18.04.3)

I created 2 nodes (master and worker), i was able to join (kubeadm join) the worker node to the master node.

Right now

[2021-01-08 17:03] FranciscoKurpiel commented on #97549
You are right. But it is quite a stretch. The code is hard to read, full of corner cases and and fragile. Some issues:

- If the script has a `set -e` and psql fails, then `kubectl` will be leaked running
- if the script gets interrupted, `kubectl` will be leaked running
- the example code will have to be made even more complex to properly handle the timeout condition
- it uses `nc` to connect to

[2021-01-08 17:05] #93819 closed

[2021-01-08 17:10] MikeSpreitzer commented on #97685
@liggitt : What do you recommend for how to proceed on this?  We should probably get something into 1.20.2

[2021-01-08 17:10] Johnnyt123 commented on #97856
/sig cli ?

[2021-01-08 17:19] antonakv commented on #82987
/reopen

[2021-01-08 17:26] liggitt commented on #97685
agree. I'm fine with a temporary commented pass-by-reference workaround.

[2021-01-08 17:32] #89668 closed

[2021-01-08 17:39] freehan commented on #97377
Cool! Closing this issue. Reopen if needed.

[2021-01-08 17:39] #97377 closed

[2021-01-08 18:06] #93756 closed

[2021-01-08 18:12] joshkurz opened #97859 "kubectl top pods -o wide"
I'd like to add this feature to top pods.

Its often very useful to grep out hungry pods by nodes that we know have high utilization.
Currently I have to get pods -o wide | grep nodeip, to see the pods on that node. then top those pods to find the hungry ones on a specific node. It would be useful if top had a wide option for pods.

Let me know if this is a useful feature and I can write up a PR f

[2021-01-08 18:13] joshkurz commented on #97859
/sig cli

[2021-01-08 18:13] aojea commented on #97377
Should we lower the timeout?
600 seems a good middle ground to me

[2021-01-08 18:16] thockin commented on #97662
Mistakes were made.  In hindsight there are things that could perhaps have been done differently, though I think the decisions all make sense in the context of the maturity and goals of the project :)

We could position it as `forceHostname` and say that it overriddes other fields.  Or we could say it is mutually incompatible with the other fields, and fail validation.  There are implications in t

[2021-01-08 18:35] liggitt commented on #91913
Looking at UpdateTransportConfig, I think we can limit ourselves to a single connection tracker and sidestep this issue for exec auth. Opened #97857 to do that.

All of the issues you identified are real issues I think we should track individually, but mostly live in the domain of sig-api-machinery (clientset and restclient issues) and sig-cli's (kubectl get and describe issues)

[2021-01-08 18:36] ehashman commented on #96664
Hi @tharun208, if you are interested in working on this, can you please bring this up for discussion with SIG Node? You add it to the [agenda for the next meeting](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit) or ask people on Slack to asynchronously indicate interest on this issue.

[2021-01-08 18:37] patrickleet commented on #64315
Seeing this in Kube 1.18 on EKS

[2021-01-08 19:02] liggitt commented on #96803
This is still flaking frequently. The latest update in #96966 did not improve things (failed twice in the three hours since merge)

[2021-01-08 19:07] #93139 closed

[2021-01-08 19:58] liggitt commented on #97852
note that `describe` can be used with a file input (e.g. `kubectl describe -f file.yaml`), in which case the expected behavior is for the object in the file to be fetched from the server and described. we need to ensure that behavior is not modified as part of optimizing the case where the object was already fetched from the server

[2021-01-08 20:21] OliverCole commented on #87149
/remove-lifecycle stale

[2021-01-08 21:09] #93553 closed

[2021-01-08 21:34] ehashman commented on #97722
/assign

[2021-01-08 21:59] dims commented on #97651
@AlexanderYastrebov do you want to submit a patch to decoder.do with a defensive check to avoid the panic ( compare `len(js)` and `syntax.Offset`)

[2021-01-08 22:04] ehashman commented on #97288
/triage accepted
/priority important-soon

[2021-01-08 22:04] goshlanguage commented on #72155
/remove-lifecycle stale

[2021-01-08 22:06] spiffxp commented on #97025
/close
This job is no longer failing

[2021-01-08 22:06] #97025 closed

[2021-01-08 22:10] #92775 closed

[2021-01-08 22:33] matucker-msft commented on #97859
I'm a big fan of the kube-capacity plugin: https://github.com/robscott/kube-capacity

[2021-01-08 22:33] dims commented on #97565
@zgfh feel free to send an PR update with new name for the process and the location of the pid file.

[2021-01-08 22:46] SergeyKanzhelev commented on #97288
On the repro from @howardjohn I see the following behavior. Test starts at `19:07:45.336759`. `containerd.log` shows all but one sandboxes got removed before `2021-01-08T19:08:05.372949491Z`. Than there is a gap for 24 seconds - nothing happens. And finally, `DeleteSandbox` is called for the last sandbox (`DeleteSandbox` has `Stop`, `Teardown` and `Remove`):

[code]

This may indicate that the las

[2021-01-08 22:49] logicalhan commented on #36291
/remove-lifecycle rotten
/reopen
/needs-triage

[2021-01-08 22:50] ehashman commented on #97856
/kind support

[2021-01-08 22:54] ehashman commented on #97288
I haven't gone and filed separate issues for each test, but I've noticed a number of the node e2e tests that involve pod deletion and low default timeouts (e.g. 1m for deletion wait time) have been flaking in 1.20 where they weren't in 1.19 and earlier. So this is repro'd in upstream k8s CI as well.

For example, see some of the taint tests:

https://storage.googleapis.com/k8s-gubernator/triage/in

[2021-01-08 23:39] #97685 closed

[2021-01-08 23:39] SergeyKanzhelev commented on #97288
A few considerations.

**First**. Do we need to delete sandbox from the `killPodWithSyncResult`? Logs has a few calls to `StopPodSandbox` at a right timing when kubelet is trying to kill the pod. But since we only stopping the sandbox and not deleting, according to the new way calculating the status, pod kept alive. So one fix would be to call `RemovePodSandbox` right after this code:

https://git

[2021-01-09 00:03] Johnnyt123 commented on #97856
I figured it out, my node subnet was interfering with my pod subnet. (192.168.x.x)

So i just changed my node subnet to the 10.x.x.x and the docker was still working after untainting

[2021-01-09 00:03] #97856 closed

[2021-01-09 00:21] lavalamp commented on #97733
I agree that the validation behavior is the important thing. I'd be very surprised if the validation behavior were the same if the openapi presented differently.

[2021-01-09 00:57] #97817 closed

[2021-01-09 01:13] #93883 closed

[2021-01-09 02:36] allenhaozi commented on #97559
this is the relevant  issue [Server-side Apply problem](https://github.com/kubernetes-sigs/controller-runtime/issues/1311)

In short we have multiple controllers manage one resource

controller Workload and Scaler manage deployment,

Workload is responsible for create or update deployment
Scaler is responsible for deployment's replicas

once deployment's replicas update by Scaler, expect Workload

[2021-01-09 03:15] #93886 closed

[2021-01-09 04:04] yuga711 commented on #97230
Did you get a chance to try on latest k8s version that has this issue fixed https://github.com/kubernetes/kubernetes/issues/77324?

[2021-01-09 07:27] SergeyKanzhelev commented on #97288
Small update. On my local repro taken from @howardjohn (deleting of 10 pods), I see the following:

1. Event of type `pleg.ContainerRemoved` is received for all 10 pods.
    https://github.com/kubernetes/kubernetes/blob/75115236e77c08698d6fdd91c3c9d0897de44ad6/pkg/kubelet/kubelet.go#L1936-L1938

2. For the first few pods condition `kl.IsPodDeleted` returns `false` indicating that pod has not been

[2021-01-09 07:49] timchenxiaoyu commented on #92287
/cc

[2021-01-09 09:19] knight42 commented on #97852
@liggitt I believe we could invoke `.Latest()` on `resource.Builder` to enforce it to fetch objects from the server.

[2021-01-09 10:49] knight42 commented on #97852
@ankeesler I just realize there is lots of refactoring to do to make `kubectl describe` reused the fetched objects, let alone updating the tests... I am unavailable to finish all the work within a single PR, is it possible to do this progressively?

[2021-01-09 12:26] Yuan-Junliang opened #97876 "The token of the DeploymentController will not be consistent with the token-controller while the token-controller makes an error and recreate the secrets again"
**What happened**:
A Deployment can't be deployed, and show “Unauthorized” fail info.
The kube-controller-manager output the following log:
I1227 02:21:51.732634       1 event.go:281] Event(v1.ObjectReference{Kind:"Deployment", Namespace:"default", Name:"xxx-webhook", UID:"ac20477e-b092-4dd6-8c1e-e018f9f1f472", APIVersion:"apps/v1", ResourceVersion:"585", FieldPath:""}): type: 'Warning' reason: 'R

[2021-01-09 12:37] Yuan-Junliang commented on #97876
/sig apps

[2021-01-09 13:50] andyzhangx commented on #96508
Azure file CSI migration scenario, the secret creation happens in CSI driver, kubelet does not set relationship between node and secret. PR(#97877) pass the `secretName` and `secretNamespace` as CSI driver volume parameters instead of setting `NodeStageSecretRef`, I have verified it works well in CSI migration test.

There could be no straightforward fix(as I tried in last two months), #97877 woul

[2021-01-09 14:05] AlexanderYastrebov commented on #97651
@dims
I have raised a discussion https://github.com/golang/go/issues/43513 on having line number in the `json.SyntaxError`. The consensus there is that it should be possible to count lines with a full input at hand and it does not worth to have it in the core library due to performance impact and maintenance costs. The problem of `YAMLOrJSONDecoder` here is that it attempts to find out line number

[2021-01-09 16:21] tanskann commented on #60748
See https://gitlab.com/arm-research/smarter/smarter-device-manager from ARM that probably solves most of the use cases mentioned in this issue.

[2021-01-09 16:41] eddytruyen commented on #70585
I am thinking this may be solvable  by moving  to another  container runtime  than Docker. In my experience,  the --parent option in the docker run command is the  problem

[2021-01-09 17:37] aojea commented on #97239
great, we have a green, let's see if it keeps up, but there are some test that still take more than 30 mins to run, maybe we should revisit some of them

[2021-01-09 18:17] liggitt commented on #97876
What version and deployment are you seeing this on? Versions since 1.15 use renewable bound service account tokens (see #72179 ) if that feature is enabled (which it is required to be in 1.20)

[2021-01-09 19:26] liggitt commented on #97876
I think the most likely next step is to remove use of secret-based tokens from the controller manager in 1.21, since non-secret-based tokens are available starting in 1.20

[2021-01-09 19:26] liggitt commented on #97876
cc @zshihang

[2021-01-09 19:33] sudip-moengage commented on #62061
/reopen

[2021-01-09 19:52] sudip-moengage commented on #49926
/reopen

[2021-01-09 20:09] neolit123 commented on #97851
/sig auth
/wg iot-edge

[2021-01-09 21:13] thomacos commented on #88157
Fixed by https://github.com/kubernetes/kubernetes/pull/93285.
/close

[2021-01-09 21:14] #88157 closed

[2021-01-09 22:13] lauchokyip commented on #93100
Hey @sachinkumarsingh092 can I work on `create_secrete.go`?

[2021-01-09 22:13] lauchokyip commented on #93100
Hey @ramnar , Can I work on `create_configmap.go`?

[2021-01-09 23:07] molnarsg opened #97883 "No error or warning message when service modified with partially success."
**What happened**: No error or warning message when service modified only with partially success.

**What you expected to happen**: Error or warning message when the service is not fully successful configured by yaml file.

**How to reproduce it (as minimally and precisely as possible)**:
Service creation by this yaml is ok:
[code]

Modifying with this yaml reports success configuration, but it is

[2021-01-09 23:50] molnarsg commented on #97883
/sig apps
/sig api-machinery

[2021-01-10 00:36] dims commented on #97846
subscribe

[2021-01-10 04:23] gjkim42 commented on #97722
@ehashman @harche
I've been digging for a few days and found the key causes.

1. If the contents of the static file or HTTP response change, the hash identifying the static pod and its mirror pod is changed. As a result, the mirror pod is deleted not gracefully.

File-specific?
Depends on your file editor program(vim in my case),

2. It may make the backup file("[filepath]~"). Then, the hash chang

[2021-01-10 04:36] sachinkumarsingh092 commented on #93100
@lauchokyip yeah, sure. Go ahead :)

[2021-01-10 05:04] lauchokyip commented on #93100
@sachinkumarsingh092 Thanks

[2021-01-10 07:52] balibebas commented on #58692
Saw the message trying to copy files out of a Pod. Didn't think to actually check the file system until I saw the suggestion from @AnthonyWC:

Looks like the message is just a warning that isn't squelched. Probably.

[2021-01-10 08:07] pacoxu commented on #97883
tried like this and it worked. It may be related with the same port.(the validation doesn't check the protocol?)
[code]

[2021-01-10 09:57] aojea commented on #97472
ping @rajibmitra @jayunit100  , are you still working on this?

some jobs filter `[Feature:.*]`, can we go with adding a tag `[LoadBalancer]` per https://github.com/kubernetes/kubernetes/issues/97472#issuecomment-749836076 ?

[2021-01-10 11:36] molnarsg commented on #97883
tried different settings at modification of existing service:
type: ClusterIP
same protocol, different ports: ok
different protocol, different ports: ok
different protocol, same ports: not ok (see above)

type: LoadBalancer
same protocol, different ports: ok
different protocol, different ports: ok (error message, can not configure)
different protocol, same ports: not ok (see above)

[2021-01-10 11:55] ash2k commented on #94738
/assign

[2021-01-10 13:26] njuptlzf opened #97889 "How to avoid frequent refreshing of create-verb audit logs"
I want to capture events `created `by pods/rc/deploy, and I want to see the correspondence between kubelet and pod, so that I can quickly locate the problem.
Kubelet updated the pod information with the `patch`, so I `had to` capture the `patch `request.
This means that when the pod is repeatedly created for reasons such as `pulling bad images`, the log will be printed `wildly`.
Delete pod/rc also

[2021-01-10 14:14] mattfenwick commented on #97836
/assign @rikatz

[2021-01-10 14:15] pacoxu commented on #96363
Most Likely, eviction is based on `disk usage`. You can run `docker ps -a -s` to check.

[2021-01-10 14:27] mattfenwick opened #97890 "Flake in pull-kubernetes-e2e-ubuntu-gce-network-policies job, iperf test"
**Which jobs are flaking**:

Kubernetes e2e suite.[sig-network] Networking IPerf [Experimental] [Slow] [Feature:Networking-Performance] should transfer ~ 1GB onto the service endpoint 1 servers (maximum of 1 clients)
`pull-kubernetes-e2e-ubuntu-gce-network-policies`

**Which test(s) are flaking**:

`should transfer ~ 1GB onto the service endpoint 1 servers (maximum of 1 clients)`

**Testgrid link*

[2021-01-10 14:28] mattfenwick commented on #97890
/sig network

[2021-01-10 14:28] mattfenwick commented on #97890
/triage accepted

[2021-01-10 14:34] pacoxu commented on #97883
/assign
I will look into it and try to fix it this week.

[2021-01-10 14:40] mattfenwick commented on #97890
/assign

[2021-01-10 15:31] adamzhoul commented on #97331
let me have a look.

[2021-01-10 15:45] Vaishalinicky commented on #49804
apiserver is not there

[root@k8snode2 kubernetes]# ls
admin.conf  controller-manager.conf  kubelet.conf  manifests  pki  scheduler.conf
[root@k8snode2 kubernetes]#

under manifest i have below details

[root@k8snode2 manifests]# ls -ltr
total 16
-rw-------. 1 root root 1384 Jan 10 10:59 kube-scheduler.yaml
-rw-------. 1 root root 2798 Jan 10 10:59 kube-controller-manager.yaml
-rw-------. 1 root r

[2021-01-10 15:48] lauchokyip commented on #93100
If anyone wanna on work `create_secret.go` please go ahead, I will work on `create_configmap.go` first

[2021-01-10 17:08] TBBle commented on #97739
Confirmed that right now, it's [Docker itself](https://github.com/moby/moby/blob/cd049777a21bc17bcedd5eec95ace65bbba833cf/daemon/oci_windows.go#L282-L295) that maps `HostPath` into [`oci.WindowsDevice`](https://github.com/opencontainers/runtime-spec/blob/master/config-windows.md#devices) as `<idType>/<id>`, ignoring `ContainerPath` and `Permissions`. [dockershim itself is totally agnostic](https:/

[2021-01-10 17:31] adamzhoul commented on #97331
@yliaog @Rajalakshmi-Girish

logs below are normal,  they are simulating client err.
`E1215 21:52:19.670414  239900 v2.go:105] client crashed after 1 second`
`E1215 21:52:19.670784  239900 v2.go:151] return err`

the only reason why it failed with a timeout is it's blocked in :
`errorChan := watchErrorStream(p.errorStream, &errorDecoderV2{})`

notice,  the test failed occasionally. there might be

[2021-01-10 18:20] maxweisel commented on #65012
/remove-lifecycle stale

[2021-01-10 18:37] rikatz commented on #97750
/triage accepted

[2021-01-10 18:38] Vaishalinicky commented on #49804
@Tushar120120

Is that solution worked for you??

[2021-01-10 18:52] rikatz commented on #93100
@zhouya0 as @ramnar is out of bandwidth @lauchokyip will work on `pkg/cmd/create/create_configmap.go`

Also, `pkg/cmd/create/create_pdb.go` is also done with PR #97429

[2021-01-10 22:58] #93978 closed

[2021-01-10 23:02] Riaankl commented on #92949
/remove-lifecycle stale
To be revisited in 1.21

[2021-01-11 03:47] pandaamanda opened #97900 "bazel test --runs_per_test=1000 //staging/src/k8s.io/client-go/tools/remotecommand/... failed"
**Which jobs are failing**:

bazel test //staging/src/k8s.io/client-go/tools/remotecommand/...
When --runs_per_test value is big enough, the command will fail.

[code]

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

[2021-01-11 05:04] #92960 closed

[2021-01-11 05:04] #93989 closed

[2021-01-11 05:54] harche commented on #97722
thanks @gjkim42

[2021-01-11 06:02] pandaamanda commented on #97900
/sig api-machinery

[2021-01-11 06:52] yue9944882 opened #97904 "Openapi schema for metav1.MicroTime doesn't reflect the precision requirements"
[RFC3339Micro](https://github.com/kubernetes/kubernetes/blob/bb376f161640529f600203faee4cd0de8ec16778/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/micro_time.go#L24) is an extended format of timestamp from RFC3339 which additionally requires explicit micro-sec expression. however in the current published openapi schemas, the schema is published as normal RFC3339 format:

[code]

consider marki

[2021-01-11 07:06] #92973 closed

[2021-01-11 07:34] saschagrunert commented on #91286
@pjbgf I think the warning mechanism was blocked by a not existing API. This is now tracked in https://github.com/kubernetes/kubernetes/issues/94626

[2021-01-11 07:34] saschagrunert commented on #91286
/remove-lifecycle stale

[2021-01-11 07:35] saschagrunert commented on #95171
/remove-lifecycle stale
/milestone v1.23

[2021-01-11 07:35] saschagrunert commented on #95171
/assign
/cc @pjbgf

[2021-01-11 07:36] saschagrunert commented on #94538
/close

This will be tracked in different places and we have another solution for CRI-O.

[2021-01-11 07:36] #94538 closed

[2021-01-11 07:42] wojtek-t commented on #97239
I think that is somewhat expected. If the test is programming LB for 5k-node cluster couple times (which is what some of these tests are doing), each of this operation can take couple minutes, which together sums up for half-an-hour +.

I'm not sure we can do much about it. And given the nature of scalability tests (things are expected to take longer in those very large tests), I think we're fine

[2021-01-11 07:48] pacoxu commented on #97883
/unassign
/assign wzshiming

[2021-01-11 08:02] pandaamanda opened #97907 "kubectl drain keep going when one node failed"
**What would you like to be added**:
`kubectl drain` on multiple nodes, if one node failed, the command aborting. Without special purpose, maybe it's better to continue processing other nodes.

[code]

**Why is this needed**:
Follow the pattern of other `kubectl` subcommand, such as kubectl delete.

[2021-01-11 08:02] pandaamanda commented on #97907
/sig cli

[2021-01-11 08:17] tydra-wang opened #97908 "Share PV across namespaces"
**What would you like to be added**:

Share PV across namespaces

**Why is this needed**:

When I want to share a read-only ceph RBD volume across namespace, I found it's so tricky.

1. I can not create two pods with volume source pointing  to the same RBD.

[code]

If I set `spec.nodeName` of the second pod to a different node, kubelet failed to create pod:
[code]

NOTE: I succeeded to create the

[2021-01-11 08:37] george-angel commented on #13136
/remove-lifecycle stale

[2021-01-11 08:48] xiaoluhong commented on #52386
/reopen
I have the same issue

[2021-01-11 09:12] chendave commented on #93013
/remove-lifecycle stale

[2021-01-11 09:23] pohly commented on #94217
/remove-lifecycle rotten

[2021-01-11 09:38] aojea commented on #97239
I couldn´t dig too much into the tests, but I think that there are several places that test the connectivity iterating over each node, the guys that implemented the new network policy tests parallelised the probing using N workers, we can do the same, just reducing by 2 or 3 (40 mins -> 20 or13 mins) the time seems a big win

[2021-01-11 10:00] mm4tt commented on #90833
Thanks @lyzs90! Your approach looks good, let's see how it works out in the kubemark presubmit.

FTR, the second part of this issue is blocked by https://github.com/kubernetes/perf-tests/issues/1619 - CL2 imagepreload currently doesn't work with containerd.

[2021-01-11 10:02] Huangsh17 opened #97910 "The deployments can't be created, it's stuck all the time, and the pod hasn't been created"
The deployments can't be created, it's stuck all the time, and the pod hasn't been created
![image](https://user-images.githubusercontent.com/27496367/104167307-15c37e80-5437-11eb-80fe-3ee3f62dc9c5.png)
![image](https://user-images.githubusercontent.com/27496367/104167331-1b20c900-5437-11eb-91ac-a6aa6d48ed35.png)

[2021-01-11 10:22] pandaamanda commented on #97910
/sig apps

[2021-01-11 10:26] pandaamanda commented on #97910
@Huangsh17  can you execute the command `kubectl describe rs whoami-5548dd78bb`  to get more info?

[2021-01-11 10:31] pandaamanda commented on #97900
Maybe duplicated with #97331, i will track it.

[2021-01-11 10:40] NovaHe commented on #97910
Looks like the api-server muting/validating failed.
Run the following command to check whether the muting/validating server is running:
[code]

[2021-01-11 11:04] saschagrunert commented on #97273
I think we can consider this as a bug, right? Then we could work on a fix for v1.21 interdependently of the AppArmor GA graduation.

[2021-01-11 11:15] sharma-raj commented on #19317
I am unable to delete ns, still showing in terminating state, there's no filed were mentioned the finalizer option. can some please help to resolve the problem?

cat fleet-system.json
{
    "apiVersion": "v1",
    "kind": "Namespace",
    "metadata": {
        "annotations": {
            "cattle.io/status": "{\"Conditions\":[{\"Type\":\"ResourceQuotaInit\",\"Status\":\"True\",\"Message\":\"\",\"L

[2021-01-11 11:23] sharma-raj commented on #64002
I am unable to delete ns, still showing in terminating state, there's no filed where mentioned the finalizer option. can some please help to resolve the problem?

cat fleet-system.json
{
"apiVersion": "v1",
"kind": "Namespace",
"metadata": {
"annotations": {
"cattle.io/status": "{"Conditions":[{"Type":"ResourceQuotaInit","Status":"True","Message":"","LastUpdateTime":"2021-01-08T09:14:26Z"},{"Type"

[2021-01-11 12:57] wojtek-t commented on #97239
If that's the case, then this definitely seems like a good suggestion. Can you point me to those?

[2021-01-11 12:59] flokli commented on #76570
This still seems to be an issue.

/remove-lifecycle rotten
/reopen

[2021-01-11 13:19] liggitt commented on #97883
Thanks for the report, merging into duplicates of https://github.com/kubernetes/kubernetes/issues/58477 and https://github.com/kubernetes/kubernetes/issues/59119

[2021-01-11 13:19] #97883 closed

[2021-01-11 13:20] liggitt commented on #59119
duplicate report in #97883

[2021-01-11 13:28] wojtek-t commented on #90047
We reenabled this test and it seem to work. So closing this one.

Thanks for all the help on it!

[2021-01-11 13:28] #90047 closed

[2021-01-11 13:31] neolit123 commented on #97908
/sig storage

[2021-01-11 13:31] juinquok opened #97914 "ExternalName for MySQL is not working as intended"
**What happened**:
I am trying to create a service endpoint using the externalName spec to allow my microservices running inside the pods to access a local MySQL server on my local host.

This is the relevant section for the yaml file:
`apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: default
spec:
  type: ExternalName
  externalName: host.minikube.internal`

**What you expected t

[2021-01-11 13:36] alexzimmer96 commented on #97914
An external name is just an alias for the host you refer to. Is the host `host.minikube.internal` reachable and resolvable from inside your cluster?

[2021-01-11 13:38] neolit123 commented on #97914
hi, this seems like a DNS issue. please try the support channels and #kubernetes-users on k8s slack first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if this is a confirmed bug in core k8s, please reopen.
i'm going to close this for now.
/close

[2021-01-11 13:39] #97914 closed

[2021-01-11 13:39] neolit123 commented on #97914
#minikube might be able to provide feedback too.

[2021-01-11 13:45] mborsz commented on #97798
From my manual run with cherry pick of #97843:

[code]

It looks like also leases watch from kube-controller-manager is very unstable: it manages to keep running for 10~50s.

Also, once watch is interrupted, it is not able to reinitialize as the watch is getting killed by "Forcing *coordination.Lease" after O(ms) from watch start. Most likely this is caused by the fact that processing initEvents t

[2021-01-11 14:06] wojtek-t commented on #97798
The leases are problematic, because they don't have index, which means the channel size is always equal to 10 for this case...
For leases, where we have ~500qps in 5k-node cluster, 10 is super low and it's not surprising that we are not able to always process all initEvents within that time...

We definitely need to somehow adjust this logic, but that didn't change anytime recently, so it's not a

[2021-01-11 14:26] answer1991 commented on #94532
/remove-lifecycle rotten

[2021-01-11 15:01] ankeesler commented on #97852
@knight42:

Short answer - yes, I think doing this progressively is a healthy way to go about it.

Long answer - I only have a very elementary mental mode of this `kubectl describe` code, and therefore I may not be the best resource for how to do this progressively. One way that does come to mind, though, is updating the `describe.ResourceDescriber` interface method to take an optional `runtime.Ob

[2021-01-11 15:10] mohag commented on #68684
There are also unnecessary ranges being added. If a NLB LoadBalancer's access is not filtered, 0.0.0.0/0 is added, but the public subnets are also added, even though they are included in 0.0.0.0/0 (at least on 1.17)

[2021-01-11 15:11] aojea commented on #97239
I couldn´t spend time on this, so take it with a grain of salt, but this seems to be used in a lot of tests

https://github.com/kubernetes/kubernetes/blob/cb8ad64243d48d9a3c26b11b2e0945c098457282/test/e2e/framework/service/jig.go#L946-L979

and in `should only target nodes with endpoints` ~ 25 mins this seems related

https://github.com/kubernetes/kubernetes/blob/334b426a6be3c09b475ae8b481809c5794

[2021-01-11 15:13] dims commented on #96475
ok let's close this and drive that one . https://github.com/kubernetes/kubernetes/pull/93510

[2021-01-11 15:13] #96475 closed

[2021-01-11 15:19] #36409 closed

[2021-01-11 15:23] justinsb commented on #67455
/remove-lifecycle stale

[2021-01-11 16:03] aojea commented on #91072
@howardjohn you´ve reported this in https://github.com/kubernetes/kubernetes/issues/97424 and seems that you have an use case?
what do you think?

[2021-01-11 16:05] dims commented on #94976
cc @puerco @xmudrii @hasheddan - please add this to the BOM discussion

[2021-01-11 16:10] howardjohn commented on #91072
@aojea in my issue I found it by trying to override the Endpoints to point from a real in cluster pod to my host machine (running `kind`). so its more a debugging use case than a prod one.

[2021-01-11 16:14] aojea commented on #92369
/assign @rikatz @andrewsykim
IIRC they´ve commented during past sig-network meeting they were going to do a KEP for this

Seems the staging repo is already there

[2021-01-11 16:35] thockin commented on #97396
So you want an IngressClass whose params block is an Istio Gateway, am I
getting it right?  Interesting.   Would it make sense to add an
intermediate resource which is not namespaced, which itself contains the
reference to the namespaced Gateway?

On Thu, Jan 7, 2021 at 11:53 PM Yordi Pauptit <notifications@github.com>
wrote:

[2021-01-11 16:39] #91913 closed

[2021-01-11 16:42] knabben opened #97920 "Cleanup the networkpolicy tests folder"
**What would you like to be added**:
Remove the `test/e2e/networking/networkpolicy` folder in favor of `test/e2e/networking/netpol`.

**Why is this needed**:
With the refactoring from the Netpol validation [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1611-network-policy-validation), the tests from `networkpolicy` folder are deprecated and duplicated at this point.

[2021-01-11 16:42] knabben commented on #97920
/area testing
/sig network

[2021-01-11 16:51] liggitt opened #97921 "Stop using bazel for unit tests"
**What would you like to be added**:

Switch the unit test job to use go test (e.g. `make test`) instead of using bazel.

**Why is this needed**:

The unit test job is one of the few remaining places we use bazel (https://github.com/kubernetes/kubernetes/issues/88553)

[2021-01-11 16:51] liggitt commented on #97921
cc @BenTheElder

[2021-01-11 16:52] liggitt commented on #97921
/sig testing

[2021-01-11 16:58] couloum commented on #96868
Hi,

I have confirmed the patch is integrated in latest Kernel version of Ubuntu 20.04. I will update the kernel and see if I no longer observe the issue.

[2021-01-11 17:10] ehashman commented on #97497
/priority important-soon
/triage accepted
/assign

[2021-01-11 17:36] ehashman commented on #94976
@BenTheElder I regret that ClearlyDefined's docs are less clear than they could be... I don't have a ton of bandwidth to look into this right now, but I'd consider reaching out to them and asking for help, perhaps on their GH repo? They are probably the most prominent org driving standards right now for this.

[2021-01-11 17:41] saschagrunert commented on #92587
It feels we will not come to a solution for those issues until someone is really working on it. I will close it for now, especially since 1.13.x is EOL since a long time.

/close

[2021-01-11 17:41] saschagrunert commented on #92586
It feels we will not come to a solution for those issues until someone is really working on it. I will close it for now, especially since 1.13.x is EOL since a long time.

/close

[2021-01-11 17:41] #92587 closed

[2021-01-11 17:41] #92586 closed

[2021-01-11 17:52] marosset commented on #97807
/milestone v1.21

[2021-01-11 18:09] cheftako commented on #97835
Hi @feiskyer When the cloud provider extraction plan was put in place, Google was the only cloud provider with any interest in supporting the cloud cidr allocator. As such the community decided it would like a pared down version for the node ipam controller for the general case. Then Google (and anyone) else interested in more custom ipam control could run their own controller in the cloud control

[2021-01-11 18:16] sunjay-jeffrish commented on #89898
, I was facing the same problem in prod but then I tried hitting pod id with the actual port number which resulted in a 200 but the response time was some where close to 7 seconds . But the usual response time is somewhere near 120 ms. So if once in a while the health point records a lag there is a unhealthy pod request and to the surprise this kept on happening every 10 s and the pod got killed .

[2021-01-11 18:32] jayunit100 commented on #97890
@mattfenwick isnt this fixed by your pending PR ? for iperf2 ?

[2021-01-11 18:32] jayunit100 commented on #97920
thank you @knabben ... !

[2021-01-11 18:34] ehashman commented on #95041
Some of these failures are definitely due to #97288, which is causing tests to fail since pods aren't terminating in time.

[2021-01-11 18:36] jayunit100 opened #97924 "improve k8s windows dnsPolicy e2e to actually check DNS resolution"
**What would you like to be added**:

a check of nslookup.exe output for the dnsPolicy tests

**Why is this needed**:

dnsPolicy tests right now are confusing to interpret, bc they grep a regex out of the output of `ipconfig /all`.

its great to print the output of `ipconfig/all` but i think its more important to really measure wether DNS is plumbed properly into the container by directly attempti

[2021-01-11 18:56] jayunit100 commented on #97924
/sig windows

[2021-01-11 18:56] jayunit100 commented on #97924
/assign

[2021-01-11 18:56] jayunit100 commented on #97924
cc @marosset @ravisantoshgudimetla @jsturtevant

[2021-01-11 19:01] oomichi commented on #81427
/remove-lifecycle stale

[2021-01-11 19:35] yuzhang66 opened #97926 "Secret doesn't work properly under REHL7.8 when pod pulling from docker-hub private repo"
**What happened**: I setting up the secret (which works in ubuntu18.04 cluster) in my Kubernetes cluster (os: REHL7.8) and when trying to create a pod pulling from one of my docker hub private repo. Following is my command for creating secret:
[code]
Here is the yaml file I use for creating pod:
[code]
And I always got the following response when creating the pod:
[code]
I also tried direct docker

[2021-01-11 19:42] aojea commented on #91072
I´m with @freehan here then, can guess what will be the right move, was expection Howard had some use case that solved it :)

[2021-01-11 19:52] RSE132 opened #97927 "[ERROR] plugin/errors: 2 staging-gondor-api.postgres.database.azure.com. A: dial tcp 168.63.129.16:53: i/o timeout"
**What happened**:
TCP DNS query is failing. Only works with UDP

**What you expected to happen**:
Expecting name resolution using tcp as well

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

PODs using ExternalName type service to querry staging-gondor-api.postgres.database.azure.com. Query using tcp fails when queried against ExternalName.

[2021-01-11 20:02] apelisse commented on #97559
Let's try to discuss this further, I don't think you should be hacking your way into a non-generic solution.

[2021-01-11 20:08] maplain opened #97928 "kube-proxy should not intercept LB traffic when the LB type Service has no Selector"
**What happened**:
When Service has loadBalancerIP allocated, access to LB VIP from the cluster nodes is intercepted by kube-proxy. Requests are routed the same as clusterIP traffic.

However, when the Service selector is explicitly undefined and Endpoints manually populated by an external component, kube-proxy should NOT serve the LB traffic as the backend IPs are not managed by K8s, and probably

[2021-01-11 20:10] maplain commented on #97928
/sig network

[2021-01-11 20:23] vkruoso commented on #45509
We run conference recorders on HPA right now. Some suggestions here does not apply, because the recorders must be IDLE (and not kill themselves) because a user might start a recording at any time. When scaling down, each pod have a simple status that is BUSY or IDLE. We want to scale down only the IDLE pods, because if we scale the BUSY ones, we loose all the data so far, and the recording fails.

[2021-01-11 20:34] mattfenwick commented on #97890
Looks like it might be -- https://github.com/kubernetes/kubernetes/pull/94015 has the latest results.  What do you think, ready to merge or needs to soak more?  @jayunit100

[2021-01-11 20:51] alculquicondor commented on #28486
/cc

[2021-01-11 20:52] alculquicondor commented on #28486
Was there ever a better proposal than Brian's? https://github.com/kubernetes/kubernetes/issues/28486#issuecomment-394558752

[2021-01-11 21:21] apelisse commented on #93363
Actually solved by #95544

/close

[2021-01-11 21:21] #93363 closed

[2021-01-11 21:26] gnufied opened #97929 "Switch to new location and version for cfssl and cfssljson (cfssl and cfssljson installed via ./hack/local-cluster-up.sh broken)"
Looks like the hardcoded URL - `https://pkg.cfssl.org/R1.2/cfssl_linux-amd64` is not working anymore and returns:

[code]

Having said that - installation from https://github.com/cloudflare/cfssl works.

[2021-01-11 22:03] NicolasAndresCalvo commented on #78761
I'm using `EKS 1.17` and faced same issue. I tried everything that I saw in this thread. Finally I make it down, by deleting old replicasets (`kubectl delete $(kubectl get all | grep replicaset.apps | grep "0         0         0" | cut -d' ' -f 1)`), increasing `targetAverageUtilization` from `80` to `90`, and what I think make it work, removing `replicas: 1` from Deployment.yml

[2021-01-11 22:09] cheftako commented on #97835
Along the previously mentioned lines. https://github.com/kubernetes/kubernetes/pull/97925#issuecomment-758173011

[2021-01-11 22:21] #90698 closed

[2021-01-11 22:54] dims commented on #97929
looks like we have a bunch of locations to fix:
https://cs.k8s.io/?q=pkg.cfssl.org&i=nope&files=&repos=kubernetes/kubernetes,kubernetes/test-infra,kubernetes/website

Looks like this was their plan all along:
https://github.com/cloudflare/cfssl/issues/995#issuecomment-548473012

They have yum/apt repos in:
https://pkg.cloudflare.com/

[2021-01-12 00:38] chewong commented on #97318
/reopen
Still failing according https://testgrid.k8s.io/sig-testing-images#post-kubernetes-push-e2e-agnhost-test-images. #97938 should fix it.

[2021-01-12 00:42] apelisse opened #97939 "`kubectl diff` downloads" the OpenAPI at least once per object"

[2021-01-12 00:44] apelisse opened #97940 "`kubectl diff` "downloads" the OpenAPI at least once per object"
# How to reproduce

Create three configmaps:
[code]

`kubectl diff` them (not created, doesn't matter):
[code]

There are four calls to /openapi/v2, please remove 3.

I strongly suspect that most are getting the definitions from cache, but that's still one round-trip to the server, and I also strongly suspect that we re-decode the entire blob, which may take some time if you have A LOT of objects.

[2021-01-12 00:44] apelisse commented on #97940
/wg api-expression
/cc @kwiesmueller @julianvmodesto
/triage accepted

[2021-01-12 01:20] julianvmodesto commented on #97939
/close

Duplicate of https://github.com/kubernetes/kubernetes/issues/97940

[2021-01-12 01:20] #97939 closed

[2021-01-12 01:41] Huangsh17 commented on #97910
![image](https://user-images.githubusercontent.com/27496367/104258354-587a6a80-54ba-11eb-8de1-1b78ba2b907a.png)

[2021-01-12 01:43] Huangsh17 commented on #97910
![image](https://user-images.githubusercontent.com/27496367/104258450-8c559000-54ba-11eb-8662-dd5445010ec0.png)

[2021-01-12 01:53] allenhaozi commented on #97559
thank u @apelisse

In our internal scenario, We developed a PaaS platform based on [OAM](https://github.com/oam-dev/spec)
our business simply declare the Workload and Traits they use
There are two types of Workload, `ServerWorkload`(online) and `TaskWorkload`(offline)
Traits include `ManualScalerTrait`,`AutoScalerTrait`,`LoadBalanceTrait`, `FlaggerTrait`, etc.

The ServerWorkload renders a Deploym

[2021-01-12 02:13] apelisse commented on #97939
No clue what happened here :-)

On Mon, Jan 11, 2021 at 5:20 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2021-01-12 02:41] Haleygo commented on #97929
/assign

[2021-01-12 02:56] pacoxu commented on #97288
Is #97502 an acceptable fix？

[2021-01-12 02:57] kwiesmueller commented on #97559
Thanks for the details, that helps already.
What I think you'd want to do is making sure your ServerWorkload uses Apply to send all the fields it cares about, but not replicas.
Then your scaling traits can send partial applys that only specify replicas (nothing else) and force ownership (controllers should force ownership in general).

I'm not a 100% sure right now, but you might have to do a Crea

[2021-01-12 03:08] houfangdong opened #97942 "make test-integration failed"
**Which jobs are failing**:
make test-integration WHAT=./test/integration/apiserver/apply GOFLAGS="-v"
**Which test(s) are failing**:
=== Failed
=== FAIL: test/integration/apiserver/apply TestApplyConvertsManagedFieldsVersion (112.78s)
**Since when has it been failing**:
Every execution fails
**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:
Detailed log：
[code]

[2021-01-12 03:28] JornShen opened #97944 "[Failing Test] go_test: //staging/src/k8s.io/legacy-cloud-providers/vsphere/go_default_test:run_2_of_2"
**Which jobs are failing**:

pull-kubernetes-bazel-test #1348806045291515904

**Which test(s) are failing**:

TestSecretUpdated

**Testgrid link**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/97837/pull-kubernetes-bazel-test/1348806045291515904

**Reason for failure**:

[code]

[2021-01-12 03:33] zerkms commented on #66450
/remove-lifecycle stale

[2021-01-12 03:35] JornShen commented on #97944
Has been  reported at https://github.com/kubernetes/kubernetes/issues/94528

/close

[2021-01-12 03:35] #97944 closed

[2021-01-12 03:56] #97094 closed

[2021-01-12 03:59] apelisse commented on #97940
I can't remember why the DryRun verifier is lazy?

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cli-runtime/pkg/resource/dry_run_verifier.go#L81

[2021-01-12 04:04] apelisse commented on #97940
We're probably supposed to use this, to prevent this from happening again: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/util/openapi/openapi_getter.go#L43-L49

[2021-01-12 04:20] apelisse commented on #66450
One important thing to note is that even if kubectl sends a patch that shouldn't do anything, a mutating webhook can decide to alter the object.

[2021-01-12 04:43] nickysemenza commented on #97929
Sorry that page is offline, we're looking at it internally (https://github.com/cloudflare/cfssl/issues/1165#issuecomment-758277988)

It's also worth nothing that http://pkg.cfssl.org/ (http _does_ work) only has versions from 2018 and prior (I see 1.2.0 is being used here), newer + current versions are available at https://github.com/cloudflare/cfssl/releases, but i'm not sure if there's changes b

[2021-01-12 05:32] wzshiming opened #97948 "GracefulNodeShutdown configuration file /etc/systemd/logind.conf.d/99-kubelet.conf is marked executable"
**What happened**:

![image](https://user-images.githubusercontent.com/6565744/104273491-dac65700-54d9-11eb-8faf-ce78775f32cb.png)

https://github.com/kubernetes/kubernetes/blob/9caf675ed1a055ebce18cf34e8284028a729fd00/pkg/kubelet/nodeshutdown/systemd/inhibit_linux.go#L181

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2021-01-12 05:33] wzshiming opened #97949 "GracefulNodeShutdown configuration file /etc/systemd/logind.conf.d/99-kubelet.conf is marked executable."
**What happened**:

![image](https://user-images.githubusercontent.com/6565744/104273491-dac65700-54d9-11eb-8faf-ce78775f32cb.png)

https://github.com/kubernetes/kubernetes/blob/9caf675ed1a055ebce18cf34e8284028a729fd00/pkg/kubelet/nodeshutdown/systemd/inhibit_linux.go#L181

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2021-01-12 05:34] #97948 closed

[2021-01-12 05:34] wzshiming commented on #97949
/sig node

[2021-01-12 05:49] Haleygo commented on #97929
Seems like "https://pkg.cfssl.org" can't be used but "http://pkg.cfssl.org" works fine.
Since the version 1.2.0 is old, I replace them with latest 1.5.0 installation from https://github.com/cloudflare/cfssl in https://github.com/kubernetes/kubernetes/pull/97947.
Is that ok? @gnufied @dims

[2021-01-12 06:18] #97910 closed

[2021-01-12 06:43] wzshiming opened #97951 "GracefulNodeShutdown dbus shutdown events not continuing if they are not valid"
**What happened**:

https://github.com/kubernetes/kubernetes/blob/9caf675ed1a055ebce18cf34e8284028a729fd00/pkg/kubelet/nodeshutdown/systemd/inhibit_linux.go#L125-L157

 kubelet from panic after getting the wrong signal, and restart.

![image](https://user-images.githubusercontent.com/6565744/104977549-c2ef5580-5a3a-11eb-8d7d-12d2c132031e.png)

`gdbus emit --system --object-path /org/freedesktop/lo

[2021-01-12 06:52] wzshiming commented on #97951
/sig node

[2021-01-12 07:35] uablrek commented on #92369
@rikatz @andrewsykim Please keep me informed on this. I would like to contribute anyway I can.

[2021-01-12 07:36] kong62 commented on #97227
In fact, it has nothing to do with HostNetwork, the rolling update mechanism of deployment is this：
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 100%
    type: RollingUpdate

# kubectl get pod -n sit |grep algo-doccano-web
algo-doccano-web-20210107155126-0000000-5dcf99f45b-g6pjd          0/1     Init:0/3           0          3s
algo-doccano-web-20210107155126-0000000-6fd9

[2021-01-12 07:36] #97227 closed

[2021-01-12 09:10] uablrek commented on #97928
This is expected behaivor from `kube-proxy`. It does not know anything about the "selector" it cares only about endpoints (and endpointslices), no matter how they are set.

However there are other ways. It seems you want to setup load-balancing yourself and keep `kube-proxy` out of it. If so use the `service.kubernetes.io/service-proxy-name` label;
[code]
Kube-proxy checks this label and will igno

[2021-01-12 09:38] theJaxon commented on #94362
For me the issue was that the permissions of $HOME/.kube dir were root:root so when i executed a command like `k get all -A --v=10` i got the following error

When i changed the permissions of .kube to my current user and group vagrant:vagrant the error didn't occur again because the cache directory now gets created

[2021-01-12 09:47] kvch commented on #64760
@krzysied Could you please explain why changing from copytruncate to copy does not help?

In Filebeat, to support reading from Kubernetes logs, we are working on supporting the copytruncate method so if someone really wants to use this strategy can be supported as well as possible. However, we cannot do anything about the logs which are written to the file after the copy but before the truncation.

[2021-01-12 10:00] Cweiping commented on #91834
/assign

[2021-01-12 10:08] maranmaran commented on #23880
/remove-lifecycle stale
This would still be nice to have.

[2021-01-12 10:12] wzshiming opened #97956 "pod cannot be deleted without cniVersion in flanne.conf"
**What happened**:

[code]

Log when deleting pod:
![image](https://user-images.githubusercontent.com/6565744/104299890-b762d280-5500-11eb-8845-e89088df0ba1.png)

**What you expected to happen**:

error when starting kubelet
or
it can delete pod

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubec

[2021-01-12 10:15] wzshiming commented on #97956
/kind bug
/sig node

[2021-01-12 10:29] mborsz commented on #97798
Next run has failed: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1348857701819486208

It should have better logging introduced in https://github.com/kubernetes/kubernetes/pull/97843

[2021-01-12 10:33] pandaamanda commented on #97900
Fixed in #97909, close it.
/close

[2021-01-12 10:33] #97900 closed

[2021-01-12 10:34] andyzhangx commented on #97778
@ebehar-openai  could you paste the detailed error?
could be related to this issue: https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#25-multi-attach-error, and there is workaround in that issue

[2021-01-12 10:34] andyzhangx commented on #97778
/assign

[2021-01-12 10:34] andyzhangx commented on #97031
/assign

[2021-01-12 10:36] andyzhangx commented on #97304
/assign

[2021-01-12 10:37] andyzhangx commented on #97304
run azure disk & file test on containerd is a to-do work item

[2021-01-12 10:38] andyzhangx commented on #94788
/assign

[2021-01-12 10:38] TBBle commented on #23880
Indeed. And #94028 implemented it [as alpha for Kubernetes 1.20](https://kubernetes.io/docs/concepts/services-networking/service/#load-balancers-with-mixed-protocol-types); it's still up to the actual Load Balancer implementations to support it, e.g., [EKS/AWS](https://github.com/aws/containers-roadmap/issues/841) needs some work.

It's possible some LB implementations support it without changes,

[2021-01-12 10:38] andyzhangx commented on #94788
is this still an issue now? what's the error msg if it failed?

[2021-01-12 10:42] aojea commented on #97331
it seems the bot didn´t closed it automatically
fixed by https://github.com/kubernetes/kubernetes/pull/97909
/close

[2021-01-12 10:42] #97331 closed

[2021-01-12 10:42] feiskyer commented on #97835
@cheftako thanks for the response. it makes sense to add this in out-of-tree cloud provider. I would log an issue in cloud-provider-azure to support cloudCIDRAllocator.

/close

[2021-01-12 10:43] #97835 closed

[2021-01-12 10:43] ialidzhikov opened #97962 "kube-apiserver: runtime error: invalid memory address or nil pointer dereference"
**What happened**:
We see the following panics multiple times in our kube-apiserver@v1.17.12 logs:

[code]

I believe at least the last panic `runtime error: invalid memory address or nil pointer dereference` should not happen and sounds more like possible nil pointer dereference in the kube-apiserver.

Initially we observed Pods that fail to connect to the kube-apiserver with:

[code]

When we ch

[2021-01-12 10:44] aojea commented on #97836
@robscott @bowei can you also PTAL, it seems it happens in GCE only

[2021-01-12 10:45] ialidzhikov commented on #97962
/sig api-machinery
/area apiserver

[2021-01-12 10:53] jethrogb commented on #62788
/remove-lifecycle rotten

[2021-01-12 11:08] saschagrunert commented on #95038
I'm not sure if that is too trivial, but I gave the proposal a test-shot in #97963

[2021-01-12 11:09] Cweiping commented on #96614
I agree with @clarkmcc .

The `InitialDelaySeconds` of readiness probes are determined according to the start-up time of the container, not according to the `readinessProbe` -`livenessProbe` >= `InitialDelaySeconds`.

https://github.com/kubernetes/kubernetes/blob/b2ecd1b3a3192fbbe2b9e348e095326f51dc43dd/pkg/kubelet/prober/worker.go#L226-L228

[2021-01-12 11:27] Riaankl commented on #95127
/remove-lifecycle stale

[2021-01-12 11:33] pjbgf commented on #97273
Sounds like a good plan @saschagrunert. :+1:

[2021-01-12 12:23] neolit123 commented on #97926
this doesn't seem like a core k8s bug, but rather something related to setup on the node:

please try the support channels first:

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-01-12 12:23] #97926 closed

[2021-01-12 12:24] neolit123 commented on #97962
1.17 is no longer in support.
can you reproduce this with 1.18?

[2021-01-12 12:25] neolit123 commented on #97942
/sig api-machinery

[2021-01-12 12:26] dims commented on #97929
@Haleygo yes, 1.5.0 will do. thanks!

[2021-01-12 12:27] neolit123 commented on #97927
1.17 is out of support.

this doesn't look like a bug in core k8s.

please try the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-12 12:27] neolit123 commented on #97927
/kind support

[2021-01-12 12:27] #97927 closed

[2021-01-12 12:28] neolit123 commented on #97929
/sig testing

[2021-01-12 12:29] neolit123 commented on #97889
/sig instrumentation

[2021-01-12 12:29] neolit123 commented on #97889
you might get more replies at the support channels like #kubernetes-users on k8s slack.

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-01-12 12:35] neolit123 commented on #97825
/close
/sig network

[2021-01-12 12:36] #97825 closed

[2021-01-12 12:37] neolit123 commented on #97956
/sig network

[2021-01-12 12:38] jayunit100 commented on #97890
Antonio mentioned that Pr needs to deflate the waiting on that iperf server endpoint ... so let's get that in there and then merge, then we probably can close this after monitoring test grid for a day

[2021-01-12 12:43] ialidzhikov commented on #97962
Actually the eol of v1.17 is 2021-01-30. See https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#timelines

[2021-01-12 12:43] jayunit100 commented on #95948
/assign

[2021-01-12 12:47] neolit123 commented on #97962
i saw this on the kubernetes-dev mailing list:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/0-bh_fY6RN0/kFmIi7IyAwAJ

[2021-01-12 14:14] jingyih commented on #94155
@grosser
I am quite surprised that turning off `--etcd-db-metric-poll-interval` would completely solve this. The error message is a generic error returned from etcd. As an example, in the original post, a compaction request from apiserver to etcd would also trigger this message. So you might be experiencing a different issue. It will be great if you could share the server log.
[code]

[2021-01-12 14:19] jingyih commented on #94155
From the original post, I noticed that the errors started with the following message. (please share more log entries if I am wrong)
[code]
I did a quick search and found #76146, which unfortunately is an unresolved issue since 2019.

[2021-01-12 14:21] mcatany commented on #62078
/remove-lifecycle stale

[2021-01-12 14:42] Danil-Grigorev opened #97970 "Server Side Apply - Selectors are not atomic"
While closing the https://github.com/kubernetes/kubernetes/issues/92913 fixed a problem for structured selectors across `k/k` api, there is still a great deal of unstructured selectors across different resources as a `map[string]string`. So a similar problem is present - SSA does not work for modifying these when a multiple source-of-truths attempting to manage this field in parallel.

Say a user

[2021-01-12 14:44] Danil-Grigorev commented on #97970
/wg api-expression

[2021-01-12 14:55] verb commented on #53188
/priority important-soon

[2021-01-12 14:56] verb commented on #53188
/remove-priority backlog

[2021-01-12 15:00] verb commented on #84353
/reopen
/assign @verb
/unassign @Ye-Tian-Zero
/remove-lifecycle rotten
/priority important-longterm
/remove-priority backlog

[2021-01-12 15:05] verb commented on #84764
/priority important-longterm

[2021-01-12 15:07] verb commented on #89233
/priority backlog

[2021-01-12 15:17] yann-soubeyrand commented on #75457
/remove-lifecycle stale

[2021-01-12 16:09] hasheddan commented on #74965
/assign
xref https://github.com/kubernetes/sig-release/issues/1337

[2021-01-12 16:10] hasheddan commented on #75114
xref https://github.com/kubernetes/sig-release/issues/1337

[2021-01-12 16:29] LappleApple commented on #74375
/remove-lifecycle stale
/help

[2021-01-12 16:30] LappleApple commented on #74375
cc @kubernetes/ci-signal

[2021-01-12 17:02] gdubya commented on #60538
@wojtek-viirtue @fernando-villalba Same problem here after accidentally deleting the argocd namespace (deleting namespace gets stuck). I'm trying [this workaround](https://github.com/kubernetes/kubernetes/issues/60538#issuecomment-369099998).

[2021-01-12 17:10] SergeyKanzhelev commented on #97288
@pacoxu my biggest concern is that for 1.20 the proposed fix introduces even more logic. So maybe the right fix for 1.20 would be not to account for sandbox status. And in master get it back with your fix or other. Wdyt?

[2021-01-12 17:17] verb opened #97974 "Create kubelet metrics for ephemeral containers creation and usage"
**What would you like to be added**: I'd like to add metrics to the kubelet to measure the usage of ephemeral containers.

I propose adding two metrics:
* A gauge describing the number of ephemeral containers currently in use on the kubelet
* A counter for ephemeral container creation rate and result.

**Why is this needed**: This is part of the Production Readiness Review for the Ephemeral Contai

[2021-01-12 17:18] verb commented on #97974
/assign @verb
/priority important-soon

[2021-01-12 17:27] #97729 closed

[2021-01-12 17:40] #49466 closed

[2021-01-12 17:41] ehashman commented on #97949
/triage accepted
/priority backlog

[2021-01-12 17:54] dims commented on #89554
cc @saschagrunert @jeremyrickard `"Architecture": "amd64"` for arm64 image :(

[code]

[2021-01-12 17:56] hasheddan commented on #89554
xref https://github.com/kubernetes/sig-release/issues/1337
/assign

[2021-01-12 17:59] mosheavni commented on #66607
The hostname workaround doesn't work if you're creating DNS records with external-dns.
external-dns picks up the load balancer DNS instead of the IP and since it's not an A record, it just doesn't create it.
Any workaround for this case?

[2021-01-12 18:02] dchen1107 commented on #64715
@smarterclayton Thanks for the detail writeup. The issue was discussed at SIG Node in the past, and similar production issue like the ingress controller was reported before. If I remembered it correctly, the decoupling was rejected by API review due to the complexities (couldn't find the PRs / issues). To move forward for the production, we had to introduce some other per node maximum shutdown val

[2021-01-12 18:12] cmluciano commented on #50495
I'm going to unassign myself in case someone else would like to work on this

/un-assign @cmluciano

[2021-01-12 18:16] verb commented on #97974
Looking at the metrics the kubelet currently surfaces, `kubelet_running_containers` looks like a gauge of all running containers. I wonder if we could add a container type metric field so it's possible to identify which are ephemeral.

I don't see any counters of container creation except insofar as they are translated into calls to the runtime, which has a counter on every method.

@ehashman do y

[2021-01-12 18:19] mquilling commented on #94788
This started working in version 1.18.6

[2021-01-12 18:19] #94788 closed

[2021-01-12 18:44] ehashman commented on #97974
/sig instrumentation

[2021-01-12 18:45] ehashman commented on #97974
/triage accepted

[2021-01-12 18:48] stevengubler commented on #83094
/reopen

[2021-01-12 19:05] hasheddan commented on #92030
/assign

[2021-01-12 19:20] sayanibhattacharjee commented on #94428
/assign

[2021-01-12 19:57] lauchokyip commented on #93100
Finished `create_configmap.go`, will take `create_secret.go` :)

[2021-01-12 19:59] xujyan opened #97983 "Scheduler: support per priority class preemption victim metrics"
**What would you like to be added**:
Support per priority class preemption metrics that track how many pods are preempted in each priority class over time.

**Why is this needed**:
This is interesting because priority is a main factor for preemption and in a multi-tenant environment where quotas are oversubscribed and there are multiple priority classes, the rate of preemption per priority class c

[2021-01-12 20:02] shalini-b commented on #84169
@saad-ali Seeing this issue in k8s 1.19 version as well. For now, it got resolved by increasing the `attach-detach-reconcile-sync-period` to `300s`.

[2021-01-12 20:02] xujyan commented on #97983
/sig scheduling

[2021-01-12 20:10] heyste commented on #94867
@johnbelamaric  I've been retesting this mock test and apisnoop does log `patchCoreV1NamespacedServiceStatus` as been hit.
From my testing below it looks like the patchStatus is working as expected or have I missed something?

---

Using the following code before the patch request
[code]
Gives this response
[code]
Then after running the patch ServiceStatus
[code]
Then running
[code]
The response s

[2021-01-12 20:31] robscott commented on #97836
/area provider/gcp

[2021-01-12 21:23] hh commented on #94867
During the Conformance Meeting on 12th of January 2021, reviewed approach with Clayton, and we will start on the test PR this week!

[2021-01-12 21:23] caesarxuchao commented on #36291
/assign @logicalhan
/triage accepted

[2021-01-12 21:24] caesarxuchao commented on #97545
/triage accepted

[2021-01-12 21:25] caesarxuchao commented on #97651
cc @liggitt @lavalamp
/triage accepted

[2021-01-12 21:25] caesarxuchao commented on #97733
/triage accepted

[2021-01-12 21:27] caesarxuchao commented on #97763
/assign @jkh52 @caesarxuchao
cc @Jefftree

/triage accepted

[2021-01-12 21:28] caesarxuchao commented on #97765
/cc @yliaog
/triage accepted

[2021-01-12 21:45] prameshj commented on #97836
I see the network plugin used is Flannel. Does this happen with kubenet or other plugins as well?

I tried this on a GCE k8s cluster created via kubetest(running k8s from HEAD) and it works. This does not use Flannel.
Copied the yaml you posted above:

[code]

I deployed a test client pod in a different node than the nginx pods from above.

[code]

[2021-01-12 21:48] #97780 closed

[2021-01-12 21:48] yliaog commented on #97765
a very specific validation rule to fail the resourcequota creation request for count/jobs or count/deployments are surely helpful to avoid the misconfigure issue you mentioned.

[2021-01-12 21:50] yliaog commented on #97765
/help

[2021-01-12 22:10] lavalamp commented on #97651
This is probably acceptable.

[2021-01-12 22:11] aojea commented on #97956
@wzshiming I think that the `cniVersion` field is mandatory in the CNI spec   https://github.com/containernetworking/cni/blob/spec-v0.4.0/SPEC.md

But let me double check with one of the CNI maintainers, @squeed is the CNI configuration in the description valid?

or should it include the cniVersion field?

[code]

[2021-01-12 22:17] Jiawei0227 commented on #80488
@gnufied @yuga711 Do you guys think there are still remaining tasks/design needed for this one?

[2021-01-12 22:27] Jiawei0227 opened #97985 "Install gce-pd-csi-driver by default in the kube-up script"
CSI Migration has been beta for a few releases. We are planning to move forward and progress CSI Migration towards GA. CSI Migration is a multi-cloud-provider and multi-driver effort project. So we are planning to move gce-pd in-tree plugin to CSIMigrationGCE GA first.

A very first step we can do is to install the gce-pd-csi-driver into the OSS kubernetes distribution.

cluster/kube-up.sh has bee

[2021-01-12 22:28] yuga711 commented on #80488
The patch (https://github.com/kubernetes/kubernetes/pull/96617) would recover dangling attaches due to certain races.

The additional work that may need here is rely on plugin detection mechanism. That is, the CSI drivers will detect and return error code (Volume published to another node | 9 FAILED_PRECONDITION) as per the CSI spec. The attach() in the ADC will update its ASW accordingly to trigg

[2021-01-12 22:42] mecampbellsoup commented on #71151
This is a very lucid and reasonable response.

Question: in what scenarios do you see benefits of implementing a full-fledged OIDC server (i.e. Identity Provider) over just a normal "webhook token" auth server that issues/processes opaque tokens?

[2021-01-12 22:48] julianvmodesto commented on #97940
/assign

[2021-01-12 23:05] julianvmodesto commented on #97940
Oh, the dry run verifier is in k8s.io/cli-runtime, which should not depend on k8s.io/kubectl.

Also, the cached open API getter is an improvement, but we probably could change the dry run verifier to accept the open api resources object instead of any discovery client at all.

[2021-01-12 23:06] #92067 closed

[2021-01-12 23:14] samyhocine commented on #52757
+1

[2021-01-12 23:32] rackeric opened #97991 "Expose retry-after HTTP response header variable as a kube-apiserver cli option"
**What would you like to be added**:

There is a hardcoded variable for the HTTP response header "retry-after" that I would like to have exposed as a cli option for the kube-apiserver binary. The "retry-after" is internally set to 1s which can cause issues on clusters as large as 1k nodes. Allowing this to be tuned could allow us to minimize, if not eliminate, the issue described below.

**Why is

[2021-01-12 23:39] apelisse commented on #97940
I'm sure there is a reason why it's lazy?

We could change the openapi getter to return a `func() Resources` so that we can get the resources lazily.

[2021-01-12 23:56] AlexanderYastrebov commented on #97651
@lavalamp

I have opened a PR

[2021-01-13 00:02] #97949 closed

[2021-01-13 00:26] apelisse commented on #97940
On the other hand, we have downloaded it before we create the dryrun verifier here (in diff). I'm curious if there is a time where we need it lazy (I'm not convinced).

[2021-01-13 00:27] msau42 opened #97993 "Storage cloning e2e using default storageclass instead of configured"
**Which jobs are failing**:

**Which test(s) are failing**:
 provisioning should provision storage with pvc data source in parallel

**Since when has it been failing**:
The test case was introduced in 1.18 but is unclear when it started failing. Lowest observation is 1.19.

**Testgrid link**:

**Reason for failure**:
[code]
**Anything else we need to know**:

[2021-01-13 00:28] msau42 commented on #97993
From slack thread, https://app.slack.com/client/T09NY5SBT/C8EJ01Z46/thread/C8EJ01Z46-1610454501.479200

This line is suspicious
https://github.com/kubernetes/kubernetes/blob/88f93e7909607b621eadd336c1cedf58788544da/test/e2e/storage/testsuites/provisioning.go#L295

[2021-01-13 00:28] msau42 commented on #97993
@kubernetes/sig-storage-test-failures

cc @jsafrane

[2021-01-13 00:45] msau42 commented on #97993
/triage accepted

[2021-01-13 00:48] msau42 commented on #97985
/triage accepted

[2021-01-13 00:49] msau42 commented on #80488
Does #96617 cover all the dangling attach root causes that we've seen, or are there more scenarios where we can still hit dangling attach issues?

[2021-01-13 00:52] coboluxx opened #97994 "Configuration option for CA certificate chain"
We need a way to provide the full CA chain with the service account token when using an intermediate CA from a private PKI. This is required because some clients may try to validate the full chain when talking to the API.

Currently we have to provide a custom configmap and config but I think there could be an easy universal solution.

Background: The CA certificate is provided trough the --root-c

[2021-01-13 00:54] #97288 closed

[2021-01-13 01:06] yuga711 commented on #80488
PR https://github.com/kubernetes/kubernetes/pull/96617 would fix race scenarios where ADC was restarted while the attach() or detach() were in-progress. It won't solve cases where there are potential bugs in the plugins. For example: return success or failure incorrectly during detach or attach.

[2021-01-13 01:19] coboluxx commented on #97994
/sig auth

[2021-01-13 01:22] SergeyKanzhelev commented on #88543
/reopen

[2021-01-13 01:31] caesarxuchao commented on #97545
Do you mean reusing the underlying TCP connection? That's managed by the golang http library. This [post](https://stackoverflow.com/questions/17948827/reusing-http-connections-in-golang) might be helpful.

[2021-01-13 01:45] msau42 commented on #80488
I guess the question is if it's a bug in the plugin, could it have been avoided/fixed in the first place?

[2021-01-13 02:00] pacoxu commented on #97288
@SergeyKanzhelev OK
For master, feel free to ping me for investigating or testing on this.

[2021-01-13 02:11] allenhaozi commented on #97559
thank u @kwiesmueller

It's very clear

Now all of my traits work just like you said,

but workload

based on the implementation mechanism, It's a little bit complicated,

This is also the purpose of creating this issue, I'm looking for an easier way to solve this problem

My online strategy is I will do pre-patch by the managedFields of existing, as the following code

[code]

[2021-01-13 02:42] caesarxuchao commented on #97763
I think we need to refactor the SpdyRoundTripper,
* replace its [*net.Dialer](https://github.com/kubernetes/kubernetes/blob/bbde53e30054ff93037ebc57edc8d0176f777297/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go#L62) with a netutil.Dialer, which allows a custom Dial() function, so that we can pass in the egressDialer.
* refactor the [dialWithoutProxy](https://github.com/k

[2021-01-13 02:57] shravan-achar opened #98000 "SignerName in CSR v1beta1 API is not defaulted when nil"
**What happened**:

We are using client-go's certificate manager utility [code link](https://github.com/kubernetes/kubernetes/blob/release-1.18/staging/src/k8s.io/client-go/util/certificate/certificate_manager.go#L207) to configure and rotate certificates for a webhook server. The certificate config does not specify any signerName [code link](https://github.com/kubernetes/kubernetes/blob/release-1

[2021-01-13 02:58] shravan-achar commented on #98000
/sig auth

[2021-01-13 02:59] caesarxuchao commented on #97763
I'm not familiar with this use case, @Sh4d1  can you explain more on the network in this use case?

It looks like that the kube-apiserver (or more precisely, the aggragator) is talking SPDY with the custom apiserver.

For my own record:
Note that this use case is different from `kubectl exec`.

In `kubectl exec` case, the kubectl client uses the SPDY transport to initiate a SPDY upgrade with the k

[2021-01-13 03:02] bgrant0607 commented on #96346
See also #30716, #89738

[2021-01-13 03:26] jqmichael commented on #98000
@liggitt

[2021-01-13 03:27] carlory commented on #97765
/assign

[2021-01-13 03:34] liggitt commented on #98000
The short version is that absent != "".

Using the client utility, you must specify a signerName. Sending an empty string (which is what that utility does in 1.18+ if you do not specify which signer you want) is not the same as omitting the field entirely (which is what earlier versions of client-go would do).

[2021-01-13 03:34] #98000 closed

[2021-01-13 03:52] rackeric commented on #97991
/sig api-machinery

[2021-01-13 04:24] coboluxx commented on #97994
Turns out this is a non issue. Problem was sitting right in front of the terminal. For everyone stumbling about the same thing: I forgot about the cluster-signing-cert-file. My setup had root-ca-file and cluster-signing-cert-file pointing to the same file. cluster-signing-cert-file must include the CA only.

[2021-01-13 04:24] #97994 closed

[2021-01-13 05:10] #97929 closed

[2021-01-13 05:14] yue9944882 commented on #97991
instead of tuning retry-after intervals, this issue should be solved by [APIPriorityAndFairness](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/). what's your server version?

[2021-01-13 05:47] liuhengliang666 commented on #26353
你们解决了吗，我也遇到同样的问题了！

[2021-01-13 06:48] wzshiming opened #98004 "GracefulNodeShutdown rescheduled to the node of shutdown state"
**What happened**:

A node is in shutdown state. all the pods are down, but the pods are rescheduled to this node.

**What you expected to happen**:

No new pod will be scheduled to the node of shutdown state.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.20.1
- Cloud provid

[2021-01-13 06:48] wzshiming commented on #98004
/sig node

[2021-01-13 06:49] diemus commented on #96731
kubernetes version: v1.17.13

same problem, I need the readinessProbe run immediately after the container has started,  but it's not.
and I also observed another problem, the startupProbe does not work like liveness probe, it wait 60s+ to trigger the the killing process

[code]

Type|Reason|Age|From|Message
-- | -- | -- | -- | --
Normal | Started | 2021/1/13 a2:19:18 | kubelet,xxxx | Started conta

[2021-01-13 06:57] matthyx commented on #96731
@diemus for the immediate readiness check I have this PR: https://github.com/kubernetes/kubernetes/pull/97126

For the killing, let me check and I come back to you.

[2021-01-13 07:19] oldthreefeng opened #98006 "systemd Cgroup driver cause error: applying cgroup configuration for process caused \"No such device or address\""
env like
[code]

my coredns like
[code]

when descirbe coredns

[code]

For solving the problem

step 1:
delete  `"exec-opts": ["native.cgroupdriver=systemd"],` in `/etc/docker/daemon.json `
[code]
step: 2 , reload docker

[code]
xref: https://github.com/cri-o/cri-o/issues/832

so ,  there some bug still exist. why recommand systemd not Using cgroupfs??

[2021-01-13 07:31] matthyx opened #98007 "startupProbe takes 60s before killing a failing container"
Everything is described in https://github.com/kubernetes/kubernetes/issues/96731#issuecomment-759244994
Thanks @diemus for the report!

[2021-01-13 07:31] matthyx commented on #98007
/assign

[2021-01-13 07:32] matthyx commented on #96731
Yes, this is a bug, I can reproduce it on 1.19.1
I will be working on it in https://github.com/kubernetes/kubernetes/issues/98007

[2021-01-13 08:35] sunnoy opened #98009 "kubelet --root-dir use nfs dir give error "could not find device with major: 0, minor: 38 in cached partitions map""
**What happened**:
when kubelet --root-dir use nfs dir , it give error :
[code]

**What you expected to happen**:

kubelet runing

**How to reproduce it (as minimally and precisely as possible)**:

when kubelet --root-dir use nfs dir

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14.1
- Cloud provider or hardware configuration:
- OS (e.g: `ca

[2021-01-13 08:39] yp28 commented on #97396
Correct. An intermediate non-rooted resource would be possible, but I personally don't see the benefit of doing this in comparison to switching to `ObjectReference`. I could be missing something here.

As it is now, what kind of object is intented to be used as `parameters` here? As far as I can see it will always be a custom resource created by the implementer of the `IngressClass`, so why not gi

[2021-01-13 08:40] sunnoy commented on #98009
/sig node

[2021-01-13 09:07] sunchill06 commented on #97687
Hi @Huang-Wei ,

one more follow-up query here:

**Kubernetes version:** v1.19.3

I have 4 worker nodes in a cluster where pods can be scheduled, and I am trying to apply only kubernetes.io/hostname topology spread constraint.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deploy
  labels:
    foo: bar
spec:
  replicas: 2
  selector:
    matchLabels:
      foo: bar
  template:
    met

[2021-01-13 09:08] saschagrunert commented on #89554
It looks like that the issue is not in k/release, since we only build/stage the images via `make package-tarballs`. Then we push the images and annotate them to their corresponding architecture. Looking at the staged artifacts, for example for v1.20.1 arm64:
https://console.cloud.google.com/storage/browser/kubernetes-release/stage/v1.20.1-rc.1.15%2B6af63cd8ac4ed6/v1.20.1/release-images/arm64

Then

[2021-01-13 09:18] bobbypage commented on #94335
New cAdvisor has been cut with the BTRFs fix:

* v0.37.4 - https://github.com/google/cadvisor/releases/tag/v0.37.4
* v0.38.7 - https://github.com/google/cadvisor/releases/tag/v0.38.7

[2021-01-13 09:28] Sh4d1 commented on #97763
@caesarxuchao I'm not familiar with it too 😄
But I think it's when the connection are upgraded (which uses spdy) (with websockets for instance) to a kube-aggregator api. Discovered this when trying https://github.com/kubevirt/kubevirt and trying to see the serial console log via kubectl (which indeed uses a websocket to the kube-aggregator api).

Regarding the network it's pretty basic, master and

[2021-01-13 09:35] thomas1984 opened #98011 "error: error upgrading connection: error dialing backend: dial tcp: lookup ms on 127.0.0.11:53: no such host"
I use three servers to deploy the kubernetes master, and now I publish pods on the three node machines. The following is the situation of pods that I query through kubectl.
![Screenshot from 2021-01-13 17-20-02](https://user-images.githubusercontent.com/6303182/104432243-c65e8900-55c3-11eb-98e1-8c6a0e1e5ca1.png)
But when you want to configure port forwarding, the following happens:
![Screenshot fr

[2021-01-13 09:40] wzshiming opened #98012 "GracefulNodeShutdown No mechanism to remove pods in the shutdown state"
**What happened**:

![image](https://user-images.githubusercontent.com/6565744/104433778-71bc0d80-55c5-11eb-8c6b-39c17f967412.png)

**What you expected to happen**:

like drain.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.20.1
- Cloud provider or hardware configuration:
-

[2021-01-13 10:08] Eriner commented on #20227
/remove-lifecycle stale

[2021-01-13 10:26] wzshiming commented on #98012
/sig node

[2021-01-13 11:14] chenyw1990 commented on #96579
the fix pr #96582 has been merged，close this issue

[2021-01-13 11:14] #96579 closed

[2021-01-13 11:16] sunchill06 commented on #97687
Just to elaborate on this issue:

Kubernetes version: v1.19.3
Total worker nodes: 4

**Labels on the worker nodes:**

node1         Ready    worker   5d18h   v1.19.3   kubernetes.io/hostname=pool-1-ccd-stag-worker-1,node-pool=pool-1,topology.kubernetes.io/zone=zone1
node3         Ready    worker   5d18h   v1.19.3   kubernetes.io/hostname=pool-1-ccd-stag-worker-3,node-pool=pool-1,,topology.kubernet

[2021-01-13 12:09] rikatz commented on #97836
/assign @prameshj

/unassign

[2021-01-13 12:40] mikelo commented on #20227
/assign

[2021-01-13 12:52] neolit123 commented on #98006
a partial explanation is here:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-drivers

if you are not running the kubelet via systemd you can use cgroupfs, but otherwise you should use the systemd driver so that you don't have 2 cgroup managers running at the same time.

note that changing a cgroup driver on the fly is completely unsupported.
your pods may or ma

[2021-01-13 12:53] neolit123 commented on #98007
/sig node

[2021-01-13 12:54] neolit123 commented on #98011
please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-13 12:54] #98011 closed

[2021-01-13 13:45] spirilis commented on #81089
Add my 2 cents that having the ability to specify uid, at least, for mounted secrets - and mounted configMap files, whether a whole directory or individual files (so specified at volumeMounts, not volumes) would be an important feature to smooth integration with different Unix applications that are strict about file ownership.

[2021-01-13 13:56] AkihiroSuda commented on #20227
My this project supports container-to-local port forwarding as well as local-to-container and container-to-container: https://github.com/norouter/norouter

[2021-01-13 14:14] harche opened #98020 "NodeFeature:SetHostnameAsFQDN failing in periodic node-kubelet-features-master job"
**Which jobs are failing**:
[sig-node-kubelet/node-kubelet-features-master ](https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-features-master)

**Which test(s) are failing**:
https://github.com/kubernetes/kubernetes/blob/23839ba6492a682d5011d112e3772d4f5978b2de/test/e2e_node/pod_hostnamefqdn_test.go

**Since when has it been failing**:
From about 9 hours ago.

**Testgrid link**:
https://testg

[2021-01-13 14:14] harche commented on #98020
/sig node

[2021-01-13 14:17] harche commented on #98020
One interesting node on CRIO job is, it's only failing when run by test-infra. If I trigger those `NodeFeatures` jobs locally it completes successfully. Maybe something broke in `test-infra`? not sure.

[code]
That's the way to trigger node e2e from your local system (make sure gcloud is configured because just like test-infra, the actual tests are run on gcloud)

[2021-01-13 14:18] harche commented on #98020
/cc @SergeyKanzhelev @MHBauer

[2021-01-13 14:37] ryuphi commented on #15180
I use this with TCP! <3 thx

[2021-01-13 14:41] julianvmodesto commented on #97940
I don't think it needs to be lazy. For some reason the method signature changed in https://github.com/kubernetes/kubernetes/pull/86408 (see below), but I couldn't find any convincing reasoning. I think we can change it back to accept the schema instead of being lazy:

https://github.com/kubernetes/kubernetes/blob/0040920045e44692adfcefc85f959e680151cea2/staging/src/k8s.io/kubectl/pkg/util/openapi/

[2021-01-13 14:55] BSVogler commented on #83287
I got this error when attempting to copy a file using
`kubectl cp <source-namespace>/<source-pod-name>:<path> <dest-namespace>/<dest-pod-name>:<path>`

[2021-01-13 14:56] squeed commented on #97956
`cniVersion` was, in the beginning, optional. If missing, it assumes `0.1.0`.

[2021-01-13 14:58] #96040 closed

[2021-01-13 15:02] wzshiming commented on #97956
@squeed
Yes, because it is assumed to be '0.1.0', there is no problem in creating pod, but there is a problem in deleting pod.

[2021-01-13 15:07] prameshj commented on #97836
/assign @jatin-pathangi

[2021-01-13 15:26] adtac commented on #97983
I assume you mean the priority class of the preempted pod and not the preemptor?

Having both might be issue because of metric cardinality issues; with N priority classes, there could be N^2 combinations of preemptor/preempted pods, so it might not be feasible even for small N values.

Quick note: while we have `preemption_attempts_total`, that is incremented even when preemption isn't successful,

[2021-01-13 15:33] aojea commented on #97956
Great, thanks for educating me. So the situation is:

-  the fix is only for dockershim, that has announced it deprecation in previous release https://kubernetes.io/blog/2020/12/02/dockershim-faq/ , do we want to fix something that is being deprecated?

- in case we want to fix dockershim, does kubernetes supports or should support CNI 0.1.0?
The web says it follows 0.4.0 https://kubernetes.io/doc

[2021-01-13 15:49] gryf opened #98022 "Getting empty resource list with RemoveSelfLink=true causes API to return items: null"
**What happened**:

On Kubernetes 1.18 and 1.19, with passed `--feature-gates=RemoveSelfLink=true` parameter, result for query the API for a list of non-existent resources gives null as an items value:

[code]

**What you expected to happen**:

It should return `"items": []` like:

[code]

similar to version 1.20.
Documentation says, that for PodList type, `items` must be an array[1], which API co

[2021-01-13 15:52] gryf commented on #98022
/sig api-machinery

[2021-01-13 15:53] danwinship commented on #46625
@jayunit100 did this get added in your new tests? If so, I think this issue can be closed

[2021-01-13 16:25] hasheddan commented on #98020
I believe I have identified the issue stemming from https://github.com/kubernetes/kubernetes/pull/96315. Working on fix now :+1:

/assign

[2021-01-13 16:35] howardjohn opened #98024 "mutating webhook v1beta1 bad key with server side apply"
What I ran:
[code]

With yaml:
[code]

Two unexpected things here:
* `--dry-run=server` is not giving an error, but the real server side apply fails
* server side apply fails, the real one does not

Note: This is exclusive to the v1beta1 API. When using the `v1` API, its rejected for all modes.

[code]

[2021-01-13 16:39] kwiesmueller commented on #97559
I think you should almost never need to look at managedFields for the usual operator case.
I'd just do
[code]

In `createFullResourceIncludingReplicas` you can use apply, but don't need to.
It should only do this once anyways. The reason I'd do a create on the full object is, because I'm not sure the replica field can be missing or will be correctly defaulted. So better to create the object with i

[2021-01-13 16:58] hasheddan commented on #98020
Fix in #98025

[2021-01-13 17:06] alculquicondor commented on #28486
@bgrant0607

Is the proposal to keep this list in the Job Status? This might be a big overhead if completions is a big number.

And at this point we also increment the counter (failed or succeeded)?

I don't think we want to remove Pods from the controller. That's up to GC and the new TTL controller. So, in general, Pod names or IDs would remain in the list.

[2021-01-13 17:09] dashpole commented on #97889
/triage accepted

[2021-01-13 17:19] apelisse commented on #97940
Ah, I see what's going on here. We typically hide the `openapi_v2.Document` behind the parsed form `Resources`. So we probably didn't have a good way to get the `Document`. We should probably split the thing that gets the `Document` from the thing that converts into `Resources`.

[2021-01-13 17:28] logicalhan commented on #36291
I guess I deserve that.

[2021-01-13 17:32] apelisse commented on #97940
Let's look for other places where we're using the `DryRunVerifier` (I'm sure we do that in apply too), because I don't see how it would avoid the bug. IOW, I think "apply" is also impacted.

[2021-01-13 18:12] pwittrock commented on #97549
Let's write this up more formally as what is being proposed in another issue.  The proposed user documentation would be a helpful starting point.

[2021-01-13 18:19] #89554 closed

[2021-01-13 18:19] jqmichael commented on #98000
Ah I see. Thanks @liggitt

Is it a convention in k8s API to enforce an "optional" field not to be empty? In other words, new "optional" field is **required** to set to a non-empty value in the client starting from the k8s version when it is introduced (in this case 1.18) ?

[2021-01-13 18:20] smarterclayton commented on #64715
Thanks Dawn, will follow up with that.  I will put my terminationGracePeriod author hat on and say "I never intended this coupling!  I should have specified!".  Hopefully we can find the places where we were concerned and address it.

[2021-01-13 18:33] liggitt commented on #98000
Not in the API types directly, only in this utility helper method

[2021-01-13 18:35] ahg-g commented on #97983
@adtac, I think it is N! (factorial), not N^2. Regardless, I think we can have two separate metrics, and so the cardinality is N for each: one metric tracking number of preempted pods that belong to a specific class, the other is number of pod that a specific class preempted.

[2021-01-13 18:42] jqmichael commented on #98000
Thanks @liggitt.

I was reading the "optional vs required" section from [k8s API convention](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#optional-vs-required)

And I noticed `SignerName` from [`v1beta1` API ](https://github.com/kubernetes/kubernetes/blob/f9f5262cfb79cad5e6e8b121921cbb756f8430b7/staging/src/k8s.io/api/certificates/v1bet

[2021-01-13 18:44] liggitt commented on #98000
the empty value for a pointer field is nil, not &""

[2021-01-13 18:47] lavalamp commented on #97991
The current 1s delay is hot-loop protection, not ddos / thundering herd protection.

The actual solution is the API priority and fairness feature that we're working on. It's beta in 1.20, so you can try now to see if it helps your situation--if not we'd like to know.

[2021-01-13 18:53] sgreene570 opened #98026 "EndpointSliceMirroring controller does not mirror annotations from endpoints"
**What happened**:
The [endpointslice mirroring controller](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/endpointslicemirroring) does not copy over annotations from endpoints resources to endpointslice resources (although it does [mirror endpoint labels](https://github.com/kubernetes/kubernetes/pull/93442)). Additionally, annotations applied by hand to endpointslices owned b

[2021-01-13 18:54] sgreene570 commented on #98026
/sig network

[2021-01-13 19:00] jqmichael commented on #98000
Aha. Didn't notice [that util library](https://github.com/kubernetes/kubernetes/blob/c2367bd5da68112ad3031dd33933859dacf8db58/staging/src/k8s.io/client-go/util/certificate/csr/csr.go#L59) did a string to pointer conversion.
[code]

A simple code snippet to reproduce:
[code]
[code]
https://play.golang.org/p/SDu7G28lLDM

Much appreciate all the insights @liggitt !

[2021-01-13 19:14] Huang-Wei commented on #97687
@sunchill06 I guess that's because of the master node. Suppose you have 1 master + 4 worker nodes, when you're trying to schedule the 5th Pod among `kubernetes.io/hostname`, the 5th Pod will be attempted to be scheduled to master. If you want to limit the context of "PodTopologySpread" to worker nodes only, you can specify a nodeSelector/nodeAffinity to exclude the master node. Hope this helps.

[2021-01-13 19:51] julianvmodesto commented on #97940
Ah so we want the cached OpenAPI getter that gets a `Document` instead of the `Resources`. That could go into cli-runtime, and the existing cached getter can wrap it to return a `Resources`.

[code]

Then the `DryRunVerifier` would accept one of these `Getter`s.

We use the `DryRunVerifier` in all commands and subcommands where we added `--dry-run=server`. I haven't come across any other internal/

[2021-01-13 19:56] apelisse commented on #97940
Yep, to be honest, I'd remove these `Getter` interfaces and replace them with mere functions, that would prevent us from having to propagate the dependencies all over.

[2021-01-13 19:57] spiffxp commented on #95528
/remove-lifecycle stale
/help

[2021-01-13 20:00] adtac commented on #97983
(while I agree that it's inconsequential whether it's N^2 or N!, can you elaborate why it's factorial? my thinking was: if there are N priority classes and we sort them by priority, then each class can only preempt a class lower than itself. the i-th ranked priority class could preempt (i-1) classes, so the summation will N^2.)

[2021-01-13 20:52] ahg-g commented on #97983
ah, right, it is an arithmetic sequence from 1 - N, which is in the order of N^2.

[2021-01-13 21:01] Bessonov commented on #66430
/remove-lifecycle stale

[2021-01-13 21:13] neolit123 commented on #97759
/retitle kubelet: don't check for the Docker cgroup driver on Windows

[2021-01-13 21:18] vpnachev opened #98035 "Deprecate and Remove audit.k8s.io/v1[alpha|beta]1 Versions"
**What would you like to be added**:
Since k8s v1.12 the API audit.k8s.io has a stable version V1, ref: https://github.com/kubernetes/kubernetes/pull/65891.
However, the v1alpha1 and v1beta1 versions of the API are still not deprecated and available
- https://github.com/kubernetes/kubernetes/tree/v1.21.0-alpha.1/staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1
- https://github.com/kubernetes/k

[2021-01-13 21:24] aojea commented on #98026
just curious, is there any special use case to mirror annotations from endpoints to endpoint slices?

/assign @robscott

[2021-01-13 21:31] robscott commented on #98026
I don't see any harm in doing this, had not thought of annotations being used this way. They were not intentionally being left out or overwritten.

[2021-01-13 21:31] robscott commented on #98026
/triage accepted

[2021-01-13 21:33] robscott commented on #98026
I'm pretty overrun right now but may have time to take this on if no one else can. I do think this is a good opportunity for new k8s contributors to jump in though, so if anyone's interested, let me know.

/good-first-issue

[2021-01-13 21:44] sgreene570 commented on #98026
In OpenShift, `oc idle` annotates endpoints so the ingress controller knows it shouldn't serve them. Would be nice to be able to check for this annotation on endpointslices directly. @aojea

[2021-01-13 21:45] robscott commented on #98026
Was looking into what would be involved and may not be a good first issue after all. It's very straightforward to ensure that new EndpointSlices have appropriate annotations, it's less straightforward to ensure that updates to annotations are mirrored across.

/remove-good-first-issue

[2021-01-13 21:57] rendhalver commented on #94764
I just ran into this in a recently upgraded 1.16.7 cluster running in Azure.
Was there a fix in progress?

[2021-01-13 22:02] aojea commented on #98026
`endpoints` will not be dual stack, for for dual-stack services, annotations will only work for one of the IP Families, however, there will be endpoint slices for IPv4 and IPv6.
 I think we have to modify `oc idle` to annotate endpoint slices directly, if we want to support dual stack.

[2021-01-13 22:08] aojea commented on #95515
/remove-lifecycle stale

[2021-01-13 22:11] vpnachev commented on #98035
/kind deprecation

[2021-01-13 22:17] #94183 closed

[2021-01-13 22:17] #96167 closed

[2021-01-13 23:08] #89263 closed

[2021-01-13 23:16] Trackhe opened #98038 "Pods on Master cant use InternalIP ExternalIP Hostname and configs."
**What happened**:

I setup an Kubernetes Cluster with these [Guide](https://github.com/Trackhe/Raspberry64bitKubernetesServerDualstack).

After i Setup Calico v3.14 Metrics v.0.4.1  and the Dashboard v2.1.0 on 5 Ubuntu arm64 / 64bit RPis.

my hostnames are
raspnode00
raspnode01
and so on.

The Metrics Pod say in log
[code]
And Calico Pod on Master (raspnode00)
[code]
After Installing Mettallb the

[2021-01-13 23:18] ehashman opened #98039 "[Flaky test] [release-1.20] pull-kubernetes-e2e-gce-100-performance failing on Prometheus stack timeout"
**Which jobs are flaking**:

pull-kubernetes-e2e-gce-100-performance

Seems to only be on the release-1.20 branch?

**Which test(s) are flaking**:

e2e.go: ClusterLoaderV2

[code]

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-scalability#pull-kubernetes-e2e-gce-100-performance

**Reason for failure**:

Further investigation shows the Prometheus stack is timing out:

[code]

ht

[2021-01-13 23:19] ehashman commented on #98039
/sig testing
/sig scalability

just guessing, I haven't looked into the test failure in detail

[2021-01-13 23:23] ehashman commented on #98039
/sig release

[2021-01-13 23:24] ehashman commented on #98039
/kind failing-test

[2021-01-13 23:28] wongma7 commented on #98039
[code]

[2021-01-13 23:30] justaugustus commented on #98039
cc: @kubernetes/sig-scalability @kubernetes/release-engineering

[2021-01-13 23:34] dims commented on #95296
looks like we can close this

/close

[2021-01-13 23:34] #95296 closed

[2021-01-13 23:42] brianharwell commented on #94533
Any feedback from the Kubernetes Devs? At the very least the documentation should be updated.

[2021-01-14 00:11] carnott-snap commented on #82531
/remove-lifecycle rotten

[2021-01-14 00:14] jayunit100 commented on #46625
@mattfennwick @knabben can we queue up making sure these are all in the new validation.  suite ?

[2021-01-14 00:15] roycaihw commented on #97586
/remove-sig api-machinery
(just realized that @aojea did this already in https://github.com/kubernetes/kubernetes/issues/97586#issuecomment-752697843. Thanks)

IIUC kube-apiserver reconciles the kubernetes service object (which looks correct from the original post), but not the ipvs weight. Please let me know if you need me to look at anything from api-machinery side.

[2021-01-14 00:38] chymy commented on #97586
When the issue occurs, restart the proxy  of another node to solve it. Is the apiserver cache not updated in time, or is the loadBalancer not disconnected from the down apiserver?

[2021-01-14 00:46] margocrawf opened #98040 "Inconsistent garbage collection behavior when any ownerReference is unresolvable and the parent is deleted"
**What happened**:

- create a namespaced parent object (for example a `Secret`)
- delete the parent object
- create a cluster-scoped object (for example. an `ApiService`) with the parent as an `ownerReference`, which is unresolvable since the parent is namespaced.
- create a namespaced object (for example another `Secret`) in the same namespace, with the parent as an `ownerReference`, which shoul

[2021-01-14 00:54] liggitt commented on #98040
/assign

[2021-01-14 01:43] jiayouxujin commented on #97545
yes.but I find the k8sclient use the apimachine libirary's transport which don't use the idle connection.

[2021-01-14 01:45] jiayouxujin commented on #97545
yes.but I find the client-go use the apimachine libirary's transport which don't use the idle connection.

[2021-01-14 01:45] jiayouxujin commented on #97545
yes.but I find the k8sclient use the apimachine library's transport which don't use the idle connection.

[2021-01-14 01:46] jiayouxujin commented on #97545
yes.but I find the client-go use the apimachine library's transport which don't use the idle connection.

[2021-01-14 02:07] sunchill06 commented on #97687
@Huang-Wei , thanks for your inputs.

I actually tried this with nodeAffinity or zone as an additional topology constraint and then it works as expected.

Also, **what about case 2 (with only node-pool constraint),** why isn't that working because with node-pool, we are limiting the scope of the deployment to specific nodes with non-standard label node-pool only?

[2021-01-14 02:51] carlory commented on #96497
/assign

[2021-01-14 02:54] knight42 commented on #98022
This should be fixed by https://github.com/kubernetes/kubernetes/pull/94397/files#diff-4519926a750520e1d319f4931197f61b4b9c277740f46e8f4b514bec746e2647 in v1.20.

[2021-01-14 03:21] andyzhangx commented on #94764
@rendhalver can you paste detailed pod description events? If that disk is already attached to the node, while it could not be recognized, then it could be vm level issue, need to provide more details: https://github.com/andyzhangx/demo/blob/master/linux/azuredisk/azuredisk-attachment-debugging.md

[2021-01-14 03:35] 13164815445 opened #98044 "kubelet is not ready for relist"
**What happened**:

kubelet is not ready

**What you expected to happen**:

kubelet is ready

**How to reproduce it (as minimally and precisely as possible)**:

Jan 09 19:48:52 txsh-kubernetes-biz-006 kubelet[9136]: I0109 19:48:52.460707    9136 setters.go:559] Node became not ready: {Type:Ready Status:False LastHeartbeatTime:2021-01-09 19:48:52.460628029 +0800 CST m=+1199233.179416634 LastTransit

[2021-01-14 03:36] 13164815445 commented on #98044
/sig node

[2021-01-14 04:06] pigletfly commented on #73056
/sig node

[2021-01-14 05:03] Huang-Wei commented on #97687
The master node doesn't have node-pool label, right?

[2021-01-14 05:03] ssup2 commented on #93456
Hello. To solve this problem, I developed a kubernetes controller called node-network-manager. node-network-manager works on all kubernetes nodes and adds iptables DNAT rules from CLUSTER-IP to Load Balancer IP. Please try this and give me feedback. Thanks.

https://github.com/kakao/network-node-manager

[2021-01-14 05:41] rendhalver commented on #94764
Apologies, this may have been a false alarm.
I only saw the issue with the install we have of prometheus-operator.
I was upgrading from v5.13.1 to v6.2.1 of the Chart.
Later versions of the Chart didn't have the problem.
I tried to replicate the issue with other StatefulSets and Deployments but they had no issues either.

[2021-01-14 05:56] MrAmbiG opened #98048 "Docker images which work with *docker run* *docker-compose* won't work with kubernetes"
**What happened**:
https://github.com/MrAmbiG/shorty/tree/k8s
There were no k8s native url shorteners which were active so I wrote one. The code, dockerized image all work with
`docker run --name shorty -it --env-file .env -p 80:8000 gajuambi/shorty` works
`doker-compose up` works
Same image when used with k8s/helm, you can never access it from outside. SSH to the pod and curl localhost works just

[2021-01-14 05:59] gryf commented on #98022
Right, but 1.18 and 1.19 are broken.

[2021-01-14 06:40] shsjshentao commented on #95942
I have happened the same issue, it leads to hard eviction make ineffective then the node down.
![image](https://user-images.githubusercontent.com/7941563/104553917-6aa10800-5676-11eb-8d19-98173045bcc4.png)

[2021-01-14 06:43] zbh2021 opened #98051 "how to read kubernetes for arm"
how to read kubernetes for arm  ? give me  a link

[2021-01-14 06:57] knight42 commented on #98022
@wojtek-t Is it okay to backport #94397 to 1.18 and 1.19?

[2021-01-14 07:23] wojtek-t commented on #98039
@jkaniuk - can you please take a look into it?
It must be somewhat related to being presubmit, because periodic jobs seem to be perfectly green....

[2021-01-14 07:23] wojtek-t commented on #98039
/assign @jkaniuk

[2021-01-14 08:27] pedrohdz commented on #67014
Hey @guillermobandres!
I don't know to be honest.  What I can say is that we are using a `securityContext` along the lines of:

[code]

Note that we are not using `runAsGroup`.  Maybe that is triggering the `chown` as well?

If that does not work, you can try running it as root like @andyzhangx  mentioned in: https://github.com/kubernetes/kubernetes/issues/67014#issuecomment-589915496, though I wo

[2021-01-14 08:29] jichenjc opened #98052 "[openstack cinder] in-tree e2e failed with fsType = """
**What happened**:

in order to fix https://github.com/kubernetes/cloud-provider-openstack/issues/1362
I submitted https://github.com/kubernetes/cloud-provider-openstack/pull/1366

however the case failed with in-tree test
https://logs.openlabtesting.org/logs/66/1366/6bd52d8f09cf9895e1baed6100f85daab3fef48f/cloud-provider-openstack-multinode-csi-migration-test/cloud-provider-openstack-multinode-cs

[2021-01-14 08:29] jichenjc commented on #98052
/assign

[2021-01-14 08:36] wzshiming commented on #97956
@aojea
I've tested that containerd doesn't have this problem,
If dockershim is going to be deleted in the next version, I don't think this fix should be needed.
Thanks for your remind.

[2021-01-14 08:40] jianghuiyou commented on #4301
Sorry to interrupt this busy channel. I have the same need as the above says~ Is there any progress about this issue?

[2021-01-14 09:04] chymy commented on #97586
Thank you，the cause of the issue has been located, like #89392.

[2021-01-14 09:04] chymy commented on #97586
/close

[2021-01-14 09:04] #97586 closed

[2021-01-14 09:10] Cweiping commented on #98044
`PLEG` timeout is very easy, but there are many reasons. You can check the `docker` and `kernel` logs to confirm the root cause. Maybe because of OMM or docker API timeout.
/kind support
/triage needs-information

[2021-01-14 09:11] aojea commented on #97956
my pleasure, :+1:
Thanks
/close

[2021-01-14 09:11] #97956 closed

[2021-01-14 09:25] #98039 closed

[2021-01-14 09:32] lkt82 commented on #60538
Same problem here using cert-manager. 👎

Versions

[2021-01-14 10:39] RamLavi commented on #97367
Hey @fedebongio, I understand that @Clivern has removed his assignment from this issue.
Does this mean someone else will check it out? I would very much appreciate it.

[2021-01-14 11:56] thinkin commented on #71704
Have solve?

[2021-01-14 12:13] wojtek-t commented on #98022
Thanks for reporting this bug!

We can't backport the whole #94397 - we should just backport that part that is fixing that issue.

Let me take care of it.

[2021-01-14 12:14] neolit123 commented on #98052
/sig cloud-provider storage

[2021-01-14 12:15] neolit123 commented on #98051
hi, please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-14 12:15] #98051 closed

[2021-01-14 12:19] neolit123 commented on #98048
do you have related error logs from the kubelet?
`journalctl -xeu kubelet`

/sig node

[2021-01-14 12:21] #89156 closed

[2021-01-14 12:21] neolit123 commented on #98038
/kind support

this should work, but you should try contacting the authors of the https://github.com/Trackhe/Raspberry64bitKubernetesServerDualstack guide since it's not a k8s official one.

if they confirm that this is core k8s bug please re-open this ticket.

thanks
/close

[2021-01-14 12:39] wojtek-t commented on #97239
This test seems fine for me. Basically this line makes the trick:
https://github.com/kubernetes/kubernetes/blob/334b426a6be3c09b475ae8b481809c579435ad0f/test/e2e/network/service.go#L3064

We're taking only 3 nodes and iterating over these 3 nodes. So that test shouldn't be proportional to cluster size.

What makes it long is that (re)programming load balancer on 5k-node cluster takes minutes...

[2021-01-14 12:53] frobware commented on #98026
I think this is fine as long as the mirroring service doesn't remove any annotations. I actually implemented the change (i.e., oc idle) this way to begin with but got caught out when the annotation was subsequently removed.

[2021-01-14 13:13] Trackhe commented on #98038
@neolit123 this is confirmed. i create it more then 3 times everytime again. and this is my guide.
I wrote it down and tried it out according to the official instructions.
since kubernetes 1.20.1 this no longer works.

[2021-01-14 13:22] liggitt commented on #68026
After a couple years of seeing changes spawned from this issue, I don't think this is a good use of contributors' or reviewers' time. golint is very opinionated about
* exported type and function names, leading to PRs attempting to change exported things people use downstream
* missing documentation on interface implementation functions, which leads to not-very-useful copy/paste of interface godoc

[2021-01-14 13:23] neolit123 commented on #98038
did it work in 1.20.0?

[2021-01-14 13:25] neolit123 commented on #98038
i recall some related changes in 1.20 related to IPs but don't recall all the details there.

/reopen
/sig network

leaving the SIG network team to triage.

[2021-01-14 13:28] Trackhe commented on #98038
I try it in 1.20.0 and give feedback.

[2021-01-14 13:43] wojtek-t commented on #98022
FTR - I'm already looking into it - I just wanted to ensure that it's also tested...

[2021-01-14 13:46] Clivern commented on #97367
Sorry @RamLavi!  I actually looked in to it and somehow it records only the first 25 events.

i think it has something to do with these lines since it uses a channel with buffer length 25 & those events goes into this channel

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/watch/mux.go#L67
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8

[2021-01-14 13:56] neolit123 commented on #68026
i guess one can say gofmt is opinionated too, but something good about Golang is that it comes with an opinion and a set of standard tools.

for API documentation at least we found inconsistencies on how exported all API items are documented:
https://github.com/kubernetes/website/issues/23889

golint can help with that, but if there are no "pragmas" to avoid breaking changes and given we have code

[2021-01-14 13:59] aojea commented on #98026
@frobware I'm not familiar with `oc idle`, so forgive me if this is wrong.
What I try to mean is, if you have a dual stack service:

[code]

it has only Endpoints in one family:

[code]

but one endpoint slice has the notion of IP family:
[code]

what I don't know is how the mirroring will deal with the IPFamilies of the endpoints

[2021-01-14 14:14] liggitt commented on #68026
true, but code formatting has the benefits of mostly eliminating meaningless diffs in PRs due to code movement/whitespace/etc

if there are specific packages (like API packages) we lack documentation on, adding checks specifically for that could make sense

exactly, I don't think golint is the right tool for making sure we have API docs

[2021-01-14 14:42] patrick-pt commented on #94861
We were bit by this too after revisiting an old service that had been unused since the heady days of pre-#74840, and would also like to see the proposed patch merged (or a configuration option to prevent insertion of the INVALID state drop rule - either suits us).

I unfortunately don't have any useful input as to setting up for reproduction. In our case we have a pretty odd anycast set up with a

[2021-01-14 14:45] gryf commented on #98022
Thanks!

[2021-01-14 14:46] alculquicondor commented on #90473
/cc

[2021-01-14 14:50] alculquicondor commented on #96104
Given this, why can't we remove the APIs from k8s.io/api? Or start the deprecation process

[2021-01-14 14:52] liggitt commented on #96104
because a client built from master can still be talking with older servers, and because the API server itself still requires those definitions to exist (along with the internal conversions) in order to decode data that is still persisted in etcd in those versions and convert it to apps/v1

[2021-01-14 15:00] liggitt commented on #63814
Updated the title and description to clarify the impact of the current logic and why it should be changed

[2021-01-14 15:01] liggitt commented on #95587
updated title/description of https://github.com/kubernetes/kubernetes/issues/63814 for sig-node, changed kind to bug, and increased priority

[2021-01-14 15:06] knabben commented on #46625
sure, I brought it to our list.

[2021-01-14 15:08] aelbarkani commented on #64315
I'm seeing the same in GKE 1.16

[2021-01-14 15:15] #96697 closed

[2021-01-14 15:15] MrAmbiG commented on #98048
The most baffling thing is there are no errors, images gets pulled successfully, if I check the pod logs itself it is exactly the same as
docker run
docker-compose
running the app inside a VM.
If I ssh into the pod and do a curl localhost I do see that my django app is running well but we cannot access it from outside though... The loadbalancer IP is assigned and service is created.

[2021-01-14 15:16] ipatrykx opened #98066 "kube-proxy would not update iptables rules when pod selectors are used for service"
**What happened**:

After deploying pod and service with selector and changing the endpoint using kubectl apply, the endpoint's IP reported by `kubectl get ep` is updated to new value but iptables rules are not being updated. The same operation works if service is deployed without selector.

**What you expected to happen**:

After applying new definition of endpoint I would expect that IP address

[2021-01-14 15:36] johanfleury commented on #90311
/remove-lifecycle stale

[2021-01-14 15:40] dougsland commented on #97426
No answer more than 20 days, closing for now.
/close

[2021-01-14 15:40] ipatrykx commented on #98066
/sig network

[2021-01-14 15:40] #97426 closed

[2021-01-14 15:46] liggitt commented on #98040
Thanks for the detailed report, reproduced the issue with a unit test in https://github.com/kubernetes/kubernetes/pull/98068

[2021-01-14 15:51] uablrek opened #98069 "externalTrafficPolicy:Local does not preserve source if client and server is the same POD"
externalTrafficPolicy:Local does not preserve source if client and server is the same POD

**What happened**:

On access to a load-balancer-IP for a service with `externalTrafficPolicy:Local` from the POD that is also a server (endpoint) for the service the source is NAT'ed to a node address.

The source is *correctly preserved* on;

* Access from any other POD on the same node (pod ip)
* Access f

[2021-01-14 15:55] uablrek commented on #98069
IMHO this should be fixed only if it is reasonable simple to do. If it is very hard it should be documented as an unsupported corner case.

[2021-01-14 16:00] wojtek-t commented on #98022
FTR - see this discussion: https://github.com/kubernetes/kubernetes/pull/98064#discussion_r557448075 - it's highly possible that it will not get backported.

[2021-01-14 16:07] Trackhe commented on #98038
the answer is no its not working with 1.20.0

[2021-01-14 16:10] Jefftree commented on #90902
This should be fixed with https://github.com/kubernetes/kubernetes/pull/97172

/close

[2021-01-14 16:10] #90902 closed

[2021-01-14 16:27] gnufied commented on #88683
/reopen
/remove-lifecycle rotten

[2021-01-14 16:32] podedra92 commented on #55713
Same case for StatefulSets - seeing the same issue in AKS cluster 1.18+
Set both:
node.kubernetes.io/unreachable
node.kubernetes.io/not-ready

Pod stays in a terminating state until the node is Ready again - behaviour differs from deployments and I guess thats by nature of being tied to Volume

The only workaround Ive seen is terminationGracePeriodSeconds to 0 which causes issues when running a le

[2021-01-14 16:32] liggitt commented on #98040
/priority important-soon
/triage accepted
/sig api-machinery

[2021-01-14 16:46] liggitt commented on #63814
my naive recommendation would be to limit the container hash to specific fields that are known to be immutable or are expected to be able to change (maybe just name and image?)

[2021-01-14 16:54] patrickleet commented on #64315
I fixed with changing inotify settings.

It was EKS and via terraform for a worker group launch template:

additional_userdata  = "sudo sysctl -w fs.inotify.max_user_watches=1048576;sudo sysctl -w fs.inotify.max_user_instances=512;sudo sysctl -w vm.max_map_count=524288;"

[2021-01-14 16:54] xing-yang commented on #88683
/triage accepted

[2021-01-14 16:55] #94335 closed

[2021-01-14 16:57] max-rocket-internet commented on #92137
@neolit123 is there a way to proceed? Should I sign up to the mailing list in order to post this?

[2021-01-14 16:57] xujyan commented on #97983
yeah the issue I raised is mainly about the `victim` but agreed that `preemptor` as a separate metrics is interesting too, although in my use case I think the victim metric is more useful because we typically care about that for the priority class that we oversubscribe and it may be preempted by any priority classes above it. From the preemptor's POV I guess I am less interested how much preemptio

[2021-01-14 16:58] lavalamp commented on #63814
✅  💯

If kubelet doesn't know how to react to a field change, it must not be included in the hash.

In-place upgrades add some restrictions:
* The hash must be versioned so that a future kubelet which knows how to react to additional field changes doesn't do an unnecessary restart. (it has to be able to reproduce the hashes of the old kubelet.)
* A new hash version must not be used until there's n

[2021-01-14 17:04] neolit123 commented on #92137
you can join the SIG Arch mailing list and post the topic there:
https://github.com/kubernetes/community/tree/master/sig-architecture#contact

[2021-01-14 17:04] ledroide opened #98071 "Quotas not displayed and not updated anymore"
#### What happened:

* quotas were working well during months with the same configuration
* the same issue happens on multiple namespaces
* existing quotas are displayed, but changes in settings and usage are ignored, current usage looks frozen

##### quota status and settings are not displayed anymore

[code]
[code]
[code]
[code]
[code]
[code]

##### events claim limits.memory=62Gi (an old settin

[2021-01-14 17:17] jebeaudet commented on #87733
Encountering the same issue, it breaks our CI pipeline. Can we reopen this?

[2021-01-14 17:19] ledroide commented on #98071
/sig api-machinery
?

[2021-01-14 17:21] ledroide commented on #98071
/wg component-standard
?

[2021-01-14 17:26] #89922 closed

[2021-01-14 17:56] apelisse commented on #89374
We've actually made changes for that very recently: https://github.com/kubernetes/kubernetes/pull/97172

Could you take a look and see if it solves your problem?

[2021-01-14 18:00] marosset commented on #97159
/help

[2021-01-14 18:12] knabben commented on #97640
@needkopi @sheetalsingala any progress here? I'm available on Slack if you guys want to chat.

[2021-01-14 18:16] qiutongs commented on #78693
/reopen

[2021-01-14 18:17] qiutongs commented on #78693
Revive this issue and see if we can come up with a more reasonable default value for the threshold.

[2021-01-14 18:23] rikatz commented on #24744
@sijnc is this issue still something? I guess during the discussion folks got a lot of different approaches :)

If not, I guess this can be closed right?

[2021-01-14 18:24] rikatz commented on #11485
@bgrant0607 Do we still want to move forward with this? If so I can take the subject to next sig-cli meeting.

Thanks!

[2021-01-14 18:31] bgrant0607 commented on #11485
@rikatz I suggest not. Recommended labels have been documented, and kustomize can be used to inject labels and annotations declaratively.

/remove-lifecycle frozen
/close

[2021-01-14 18:31] #11485 closed

[2021-01-14 18:38] rikatz commented on #98071
/sig cli
/remove-wg component-standard
/remove-sig api-machinery

[2021-01-14 18:49] cdennison commented on #20381
@Huangsh17 - if it's a local cluster just kill the docker container with that name something like k8s_POD_kube-controller-manager-MYNAME_kube-system - otherwise check with your service provider.

[2021-01-14 18:51] alculquicondor commented on #94696
/remove-lifecycle stale

[2021-01-14 18:52] alculquicondor commented on #94696
/help

[2021-01-14 18:52] Trackhe commented on #98038
my kubeadm init file was wrong i set a old ip. ... i m srry for this. my bad. thank you for your time.

/close

[2021-01-14 18:52] #98038 closed

[2021-01-14 19:11] xmath279 commented on #88698
/remove-lifecycle stale

@cmluciano

My cluster right now is using K8S 1.18.10, but I've tried the v1.20.0 of kube-proxy in it and now it doesn't filter at all.

My initial tests were with K8S 1.16.6 and the filtering was inconsistent (going from open to filtered indefinitely), but I'm no longer able to reproduce this behaviour, now it just doesn't filter at all. I get the same results when trying

[2021-01-14 19:15] damemi commented on #89178
/remove-lifecycle rotten

[2021-01-14 19:24] ehashman commented on #64715
/assign

[2021-01-14 19:27] #76935 closed

[2021-01-14 19:33] xmath279 commented on #88698
I take that back, I'm sorry. I restarted the cluster and filtering works properly now.

[2021-01-14 19:33] #88698 closed

[2021-01-14 19:41] BenTheElder commented on #68026
golint itself doesn't have these and the go project is against this sort of comment AIUI, however golangci-lint does have them.

I think there are plenty of other static analysis lints we should use instead, beyond just staticcheck and vet there is e.g. `ineffassign`

[2021-01-14 19:43] ravisantoshgudimetla opened #98075 "Exercise hostPort test in scheduler e2e for both Windows and Linux nodes"
**Which jobs are failing**:
We want to change ownership of a test from scheduler to network
**Which test(s) are failing**:
[sig-scheduling] SchedulerPredicates [Serial] validates that there is no conflict between pods with same hostPort but different hostIP and protocol [Conformance]

**Since when has it been failing**:

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-windows-releases#aks-

[2021-01-14 19:44] ravisantoshgudimetla commented on #98075
/sig scheduling
/sig network

cc @spiffxp @jayunit100 @jsturtevant @marosset

[2021-01-14 19:52] neolit123 commented on #68026
btw, if we remove golint can we see e.g. all-caps constants or functions with underscores dodging review?

perhaps we should add golangci-lint soon after:
https://github.com/kubernetes/kubernetes/issues/81518

[2021-01-14 20:10] liggitt commented on #63814
Specifically for kubelets, if the change is made on a minor version boundary, I don't think we need those protections, given sig-node's position that in-place kubelet upgrades without draining is not supported.

Yes, for controllers, which have to deal with persisted ControllerRevisions and annotations on API objects made by earlier versions of the controller, they definitely have to consider the

[2021-01-14 20:12] lavalamp commented on #63814
Oh, I did not know this. What is the point of in-place upgrades then?

[2021-01-14 20:15] liggitt commented on #63814
Expanded my previous comment... in place *minor version* upgrades are not supported. I think in place patch version upgrades are.

[2021-01-14 20:19] lavalamp commented on #63814
Ah, OK, I can see why you call it optional, but I think it's bad karma unless we have some system that guarantees we don't make a mistake over a patch version change. Perhaps we could resolve that with e.g. a golden data test.

[2021-01-14 20:28] #73906 closed

[2021-01-14 20:46] kow3ns commented on #63814
Is there a particular problem that impacts the user wrt to how we do this today? Definitely the controllers can't change the way they compute the hash function between versions (currently fnv). We can add support for that if we think that we will have a need to change the hash computation in the future. The controllers only track `Spec.Template` for the purposes of history, so the place where we a

[2021-01-14 20:48] liggitt commented on #63814
Yes, see https://github.com/kubernetes/kubernetes/issues/95587#issuecomment-731497172

I'd recommend taking the controller discussion back to there and keep this issue focused on the kubelet.

[2021-01-14 21:21] fedebongio commented on #97831
/assign @lavalamp
/triage accepted

[2021-01-14 21:21] fedebongio commented on #97904
/cc @liggitt
/triage accepted

[2021-01-14 21:22] fedebongio commented on #97942
/cc @apelisse

[2021-01-14 21:23] fedebongio commented on #97942
/triage accepted

[2021-01-14 21:24] fedebongio commented on #97962
/assign @roycaihw
/triage accepted

[2021-01-14 21:25] fedebongio commented on #98022
/triage accepted

[2021-01-14 21:26] fedebongio commented on #98024
/cc @apelisse

[2021-01-14 21:26] fedebongio commented on #98024
/triage accepted

[2021-01-14 21:46] SandeepPissay opened #98076 "Build easy to use CSI tools to detect and resolve k8s storage issues and tools to run speed/stress test against k8s storage/CSI driver"
**What would you like to be added**:

Kubernetes community has built ks8 storage features, CSI, sidecars, etc. to manage the lifecycle of storage volumes. Many cloud and storage vendors leverage this to build CSI drivers that work for their cloud and/or storage solutions. The k8s storage components and cloud software are complex and when the entire stack is put to use by the end user, they will fa

[2021-01-14 21:51] SandeepPissay commented on #98076
/sig storage

[2021-01-14 22:23] alculquicondor commented on #28486
*Thanks to @lavalamp for brainstorming this with me offline*

I have a 2nd proposal that addresses the issue of unbounded number of IDs added to `.status`.
Instead of keeping track of the counted Pods, we keep track of the uncounted Pods in a `.status.uncountedPods` field. The flow goes like this:

1. Controller creates Pods with finalizer
1. Pod finishes
1. Controller adds a Pod to the .status.un

[2021-01-14 22:42] liggitt commented on #97904
/cc @wojtek-t

[2021-01-14 22:42] Ahmadre commented on #54798
/shoutout

[2021-01-14 22:57] zerkms commented on #87615
I just observed it on a new 1.19.6 node (which has the backported fix)

[code]

[2021-01-14 23:01] ahg-g commented on #97169
/assign @alculquicondor

[2021-01-14 23:01] ahg-g commented on #97170
/assign @adtac

[2021-01-14 23:24] lavalamp commented on #97831
For the foreseeable future I recommend just watching the namespaces individually with the client.

Somewhat ironically, we just accepted https://github.com/kubernetes/enhancements/pull/2162 which will add namespace labels and let you filter by them. But it will be *extremely* inefficient if you use that in a watch of all objects, because apiserver will examine every change in the system.

@wojtek-

[2021-01-14 23:24] Jiawei0227 commented on #97985
@mattcary Is anyone on your team going to work on this?

[2021-01-14 23:34] thockin commented on #63814
Just to be clear on the implications of this - we're blocking API changes that could trigger this, so the project overall is being impacted.

[2021-01-14 23:38] caseydavenport opened #98079 "Validation fails for CustomResource with array of pointers"
**What happened**:

I have a CustomResourceDefinition with a schema that includes an array property, where each element of the array is either an integer or null. This is implemented in the CRD like so:

[code]

Using the golang client, I am able to properly write instances of the custom resource. However, `kubectl` fails validation with the following error when attempting to edit an instance of t

[2021-01-14 23:44] caseydavenport opened #98080 "CustomResources dropping "null" values from arrays"
**What happened**:

While attempting to work around https://github.com/kubernetes/kubernetes/issues/98079, I encountered an issue where data was not preserved when writing a custom resource instance to the apiserver with kubectl.

Specifically, I am using a CRD that has a properly which is an array of values which can either be an integer, or null:

[code]

When using kubectl to modify the resourc

[2021-01-14 23:48] apelisse commented on #98080
That's clearly a bug, thanks for the easy steps to reproduce, I'll look at it.

[2021-01-15 00:11] amritk commented on #71647
This is happening to me now on github actions CI, wasn't before

[2021-01-15 00:12] lavalamp commented on #28486
I think the extra API call is not an issue, we can halve the update frequency if need be. Multiple pod changes can be batched together in step 3 and again in step 5.

[2021-01-15 00:49] houfangdong commented on #97942
@apelisse，Is it a problem when I run the integration test locally on centos8. The error seems to be related to the early exit of etcd? Please help me, thanks.
  There are also other failure cases, depending on the situation for the same reason.
Add a log of other failed use cases：
`[root@loongson-0076 kubernetes]# make test-integration WHAT=./test/integration/master GOFLAGS="-v" KUBE_TIMEOUT="-tim

[2021-01-15 00:49] #97651 closed

[2021-01-15 00:51] AlexanderYastrebov commented on #97651
@lavalamp Thank you for support.

[2021-01-15 01:33] #93911 closed

[2021-01-15 01:40] spiffxp commented on #68026
Completely agree there are better places to spend review bandwidth.

I was curious to see what the effort looked like.

There have been 469 commits that touched `hack/.golint_failures` over the past 3+ years

![golint_failures linecount over time](https://user-images.githubusercontent.com/49258/104669500-23336f80-56a8-11eb-8c6e-2bbb1760ccef.png)

[2021-01-15 01:57] spiffxp commented on #68026
/remove-help
/remove-good-first-issue

[2021-01-15 02:02] krmayankk commented on #68026
Overall agree on the bandwidth. Also note that it was a good first issue with very low bar to get them in the repo. May be we need to find a similar low bar, but high value good first issue. UT's come to mind, are there other things we curate for new contributors ?

[2021-01-15 02:02] spiffxp commented on #72956
Since I just did this out of curiousity for hack/.golint_failures...

There have been 258 commits that touched `hack/.shellcheck_failures` in the past 2 years

![shellcheck_failures linecount over time](https://user-images.githubusercontent.com/49258/104671253-6fcc7a00-56ab-11eb-9a29-b801d3d9f785.png)

[2021-01-15 02:05] wawa0210 opened #98084 "[Flaking Test][sig-windows] /home/prow/go/src/sigs.k8s.io/azuredisk-csi-driver/test/e2e/dynamic_provisioning_test.go"
**Which jobs are flaking**:
pull-kubernetes-e2e-azure-disk-windows

**Which test(s) are flaking**:

**Testgrid link**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/97141/pull-kubernetes-e2e-azure-disk-windows/1349895908019408896

**Reason for failure**:

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
- links to specific failures in spyglass appreciated

[2021-01-15 02:05] wawa0210 commented on #98084
/sig windows

[2021-01-15 02:06] spiffxp commented on #98075
/area conformance
/area test
/sig windows
since windows

[2021-01-15 02:56] Jerry-Ge opened #98086 "Conformance image v1.18.0 still fails on arm64"
**What happened**:
Per this PR #97982 which fixed #89554, I have tried run
[code]
I still got this error message:
[code]

I can see the manifest file from gcr.io/google-containers/conformance:v1.18.0 which has the arm64 digest and I tried to run with digest:
[code]

And I still got the same error as above:
[code]

**What you expected to happen**:
The conformance test on arm64 should be launched.

[2021-01-15 02:58] Jerry-Ge commented on #98086
/sig Testing
/sig Release
/area conformance

[2021-01-15 02:59] Jerry-Ge commented on #98086
/ping @hasheddan

[2021-01-15 02:59] wzshiming opened #98087 "GracefulNodeShutdown Repeatedly aquire the inhibit lock"
**What happened**:

![image](https://user-images.githubusercontent.com/6565744/104675385-5e718500-5720-11eb-8e9b-8edfa34582d4.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.20.1
- Cloud provider or hardware configuration:
- OS (e.g: `cat

[2021-01-15 03:23] xing-yang commented on #98076
CC @saad-ali @msau42 @jsafrane @gnufied

[2021-01-15 03:27] Cweiping commented on #94583
I didn't repeat the question.

[code]

Is there a way of stable recurrence?
Thx! @yanghaichao12

[2021-01-15 03:36] yanghaichao12 commented on #94583
you could use the shell i'v paste above, or make "add" more faster than "delete".....

[2021-01-15 03:55] kow3ns commented on #95587
The commonality between all workloads controllers is that they retrieve the declared user intent from the API server and attempt to reconcile it with what they observe (believe) the state of the system to be. We can't look directly at Pods for the state of workload configuration because of defaulting and mutating admission control (i.e. when I create a Pod the Pod observed in the API machinery wil

[2021-01-15 04:09] sunchill06 commented on #97687
my bad, master also did have the node-pool labels. thanks for clarifying all these doubts @Huang-Wei .

[2021-01-15 04:09] #97687 closed

[2021-01-15 04:28] apelisse commented on #98079
/triage accepted

I know what that happens, and I suspect I know how to fix it (though there are interfaces everywhere in this code so it's hard to modify without breaking compatibility): https://github.com/kubernetes/kube-openapi/blob/master/pkg/util/proto/openapi.go
There is no concept of null here.

[2021-01-15 04:29] apelisse commented on #98079
Or rather, I think that very specific todo very well highlights the problem:
https://github.com/kubernetes/kube-openapi/blob/master/pkg/util/proto/validation/types.go#L219

[2021-01-15 05:18] pacoxu commented on #98071
/assign

@ledroide  Could you give an example yaml of `workspace` deployment ?
I may look into it this weekend.

[2021-01-15 05:47] caesarxuchao commented on #87615
@zerkms, how long does it take to recover? If it's < 45s, then it's expected. Otherwise we have more to debug.

[2021-01-15 05:52] zerkms commented on #87615
@caesarxuchao the node does not switch to not ready state. Even though it's logged - 300+ such lines over the course of 8 hours, the node has never went offline.

[2021-01-15 05:56] warmchang commented on #55713
Unlike a Deployment, a StatefulSet maintains a sticky identity for each of their Pods. When node in NotReady state, the master can't get the conform message from kubelet and can't remove the POD arbitrary (terminationGracePeriodSeconds equal to 0 is a special case), untile the node is Ready again.

FYI: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[2021-01-15 06:02] caesarxuchao commented on #87615
That sounds like the old problem, but this time it's logged from a different file (conn.go), and the connection is from localhost to localhost. Can you dig which conn.go it is, and what are the source and destination of the connection?

In the old problem, it's the connection between kubelet and the kube-apiserver got broken.

[2021-01-15 06:06] liggitt commented on #87615
looks like

https://github.com/kubernetes/kubernetes/blob/857c06eb490a7ff934a329cda1c6600824637fcf/staging/src/k8s.io/apiserver/pkg/util/wsstream/conn.go#L252-L257

[2021-01-15 06:08] zerkms commented on #87615
Source is

[code]

It's hard to tell what's the destination given it's random port there.

[2021-01-15 06:16] oldthreefeng commented on #98006
Using systemed driver in docker and  Install kubernetes by `kubeadm init xxxx` . somehow cause the error
[code]

so change docker driver to cgroupfs works well.

finally.  should I define some thing on Environmet like this ? @neolit123

[code]

[2021-01-15 06:17] theunrealgeek commented on #96717
Since no one else has taken this up yet, I am still interested in getting this to completion once I get some time to spend on it

[2021-01-15 06:20] royeo commented on #64466
I have the same problem, what's the solution?

[2021-01-15 06:29] instantlinux commented on #60987
For the past 2 years...steps to reproduce: run k8s for a while. Ungracefully reboot the server. It will come back up with 1 to a dozen of these, spewing out every second or two: enough to dominate all entries sent from a production cluster to a centralized syslog.

[2021-01-15 07:06] liyongxin opened #98092 "How to discard the permissions defined in /etc/kubernetes/admin.conf"
I deployed the k8s cluster using kubeadm and gave the file /etc/kubernetes/admin.conf to others as the kubeconfig file.
Due to security issues, now i want to discard the permissions of the file,
but I found out that the certificate of the file is bound to the system:masters group which is not controlled by RBAC permissions,
so I want to ask, how can I revoke the permissions in admin.conf?

[2021-01-15 07:08] liyongxin commented on #98092
/sig auth

[2021-01-15 07:13] caesarxuchao commented on #87615
Thanks, Jordan. That looks right. I didn't realize kubelet imports packages from apiserver.

The package is used to implement the portforward/remotecommand server in kubelet.

The reported broken connection is the hijacked HTTP connection [here](https://github.com/golang/net/blob/6772e930b67bb09bf22262c7378e7d2f67cf59d1/websocket/server.go#L82).

The patch ( #95981) I worked on doesn't help this c

[2021-01-15 07:20] pacoxu commented on #87615
If you use node-problem-detector, it may alert the kubelet is unhealthy according to kubelet logs.
https://github.com/kubernetes/node-problem-detector/pull/489

This will not make the node not ready. However, it may cause failures during `exec attach or portforwad`. will

[2021-01-15 07:39] #91247 closed

[2021-01-15 07:51] zerkms opened #98094 "Error on socket receive: read tcp 127.0.0.1:42499->127.0.0.1:40604: use of closed network connection"
**What happened**:

kubelet logs

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

In my particular case it happens when my jenkins runs jobs. I have jenkins configured with dynamic workers spawned as kubernetes pods (using kubernetes plugin).

I suspect the jenkinsfile node commands are run through kubernetes `exec` command but not sure

[2021-01-15 07:52] zerkms commented on #87615
@caesarxuchao just did https://github.com/kubernetes/kubernetes/issues/98094 thanks

[2021-01-15 07:52] zerkms commented on #98094
/sig api-machinery
/sig node

[2021-01-15 07:55] joakimr-axis commented on #72956
So close now! Getting there...

[2021-01-15 08:25] sbwfnhn commented on #89900
same issue

[2021-01-15 09:42] invidian commented on #88046
/remove-lifecycle stale

[2021-01-15 09:55] abhijainy123 commented on #97810
/sig needs-triage

[2021-01-15 10:27] ledroide commented on #98071
Hello @pacoxu, thanks for your answer.
I can edit the values and add lines to my quota. The value is what I have configured locally and applied.
If I edit again, I can see it is "commited".

I can edit, change `limits.memory: 52Gi` to `limits.memory: 58Gi`, and add `secrets: "24"`.
If I edit again, I can see `limits.memory: 58Gi`, and `secrets: "24"`, as expected.

[code]

The issue is about what

[2021-01-15 11:07] wojtek-t commented on #97831
@wojtek-t could the indexing feature we added help this?

Didn't read the KEP recently so I'm not sure how exactly it looks like, but is the namespace-label going to be added to every single object? [I think that initially it was supposed to only add the label for the `Namespace` object.]
If that is really the case, then I don't think it's particularly helpful - we would need this label to be adde

[2021-01-15 11:08] wanglijie95 commented on #91847
I met the same problem. When I delete the PVC bounded to a PV, the PV status became to "Released" but not "Available". And the PV can not be reused.

[2021-01-15 11:27] stevehipwell opened #98097 "AWS EKS LoadBalancer service stuck updating NLB security group"
**What happened**:

When updating a LoadBalancer service (mapped to a NLB) additional ports were added that when combined with the large number of rules being defined via the `loadBalancerSourceRanges` broke the account security group rule limit with the following errors were returned (which was expected).

However after modifying the `loadBalancerSourceRanges` back to a fewer entries (or even jus

[2021-01-15 11:30] stevehipwell commented on #98097
/sig cloud-provider

[2021-01-15 12:18] imilchev commented on #95673
help is still needed here

[2021-01-15 12:18] imilchev commented on #95673
/remove-lifecycle stale

[2021-01-15 13:07] kohtala commented on #91652
The Jenkins syntax can be found at https://www.jenkins.io/doc/book/pipeline/syntax/#cron-syntax

But maybe a more modern route is to go with options like for the [systemd.timer](https://www.freedesktop.org/software/systemd/man/systemd.timer.html) using [systemd.time](https://www.freedesktop.org/software/systemd/man/systemd.time.html) format .

This sample from `snapd.snap-repair.timer`:

    OnCal

[2021-01-15 13:19] sttts commented on #98079
@apelisse I bet this is another case for k8s.io/apiextensions-apiserver/pkg/controller/openapi/v2/conversion.go.

[2021-01-15 13:24] sttts commented on #98080
This is about data loss. Set to urgent to investigate.

[2021-01-15 13:53] danielkucera commented on #94722
/remove-lifecycle rotten
no way my friend

[2021-01-15 13:53] danielkucera commented on #94722
/remove-lifecycle stale

[2021-01-15 13:56] brianpursley commented on #91847
/remove-lifecycle rotten

[2021-01-15 14:23] marseel opened #98099 "[Flaky test] [sig-network] Services should be able to change the type and ports of a service [Slow]"
**Which jobs are flaking**:
gce-master-scale-correctness
**Which test(s) are flaking**:
Services should be able to change the type and ports of a service [Slow]
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness
**Reason for failure**:
Test timeouts in ~half of the runs since it was enabled here: https://github.com/kubernetes/kubernetes/pull/97345

[2021-01-15 14:24] marseel commented on #98099
/cc @mm4tt
/cc @wojtek-t

[2021-01-15 14:33] liggitt commented on #98080
Digging briefly, it looks at first glance like json-patch is dropping all null values in https://github.com/evanphx/json-patch/blob/master/merge.go#L81 (haven't verified with a test yet, just manual inspection)

[2021-01-15 14:37] dastrobu opened #107536 "Field Selectors Need Docs on `status.successful` Selector for Jobs"
[Docs](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-fields) on field selectors mentions:

According to https://stackoverflow.com/a/63128911/1458343 one can select jobs with

[code]
which actually works. However, I did not find any docs on either the [Field Selectors](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/)

[2021-01-15 14:42] max-rocket-internet commented on #92137
OK done: https://groups.google.com/g/kubernetes-sig-architecture/c/nDbhknjYtts

[2021-01-15 14:42] stephanpieterse commented on #30861
I ran into this issue today by forgetting to encode an item in a secret properly, after which the pod would fail to start with the 'oci runtime error'.

I found this ticket, and it's a bit unclear what causes it, but I have a couple of cases that break and don't.
My hypothesis is that, any value that has valid base64 characters and can decode (albeit to to non-readable characters), in which the fi

[2021-01-15 14:44] MrAmbiG commented on #98048
I was able to take care of this by changing the image and disabling probes of helm.

[2021-01-15 14:44] #98048 closed

[2021-01-15 14:49] alculquicondor commented on #88634
/triage accepted

[2021-01-15 14:49] alculquicondor commented on #88634
/remove-lifecycle rotten

[2021-01-15 14:51] mecampbellsoup commented on #37822
@liggitt @jsloyer @ericchiang

Sorry, maybe/probably a dumb question but, how is that ... better than just giving out a shared secret?

`authlib` also discusses using JWTs for authorization grants, I'm looking into this but I expect the big picture to be the same - you have to share some secret value among different `kubectl` users.

(Our use case is administering a multi-tenant, and eventually mu

[2021-01-15 15:06] mlbiam commented on #37822
@mecampbellsoup using a client secret with k8s would provide no security value, since it would need to be handed out to everyone using kubectl.  It would also impact compliance issues in most enterprises because the shared secret would be considered a "password" and need to be rotated periodically like any other service account password.

requiring a client secret for kubectl is like embedding a p

[2021-01-15 15:07] mecampbellsoup commented on #37822
Yea, I get that but, how is registering my k8s client as _public_ any different in effect? I realize it's less hassle since I won't have to deal w/ rotating the secret over time, for example, but otherwise they both seem to have 0 security (at least regarding client auth)...

[2021-01-15 15:10] joedborg opened #98100 "Kubectl on Windows does not support wildcards"
**What happened**:

I get an error when I try to use wildcards with kubectl.

[code]

**What you expected to happen**:

`cmd` does support wildcards and so does the *nix kubectl.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Run example above.

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

[2021-01-15 15:11] joedborg commented on #98100
/sig cli

[2021-01-15 15:13] mlbiam commented on #37822
yes, they both provide zero security so why go through that additional hassle for zero additional security?  The security of OIDC comes from (in no particular order):

1. Short token length
2. one time refresh tokens
3. security of the idp because k8s is trusting it

the client secret is designed for web applications where there's a server side and client side component to the transaction.  It's n

[2021-01-15 15:21] stephanpieterse commented on #30861
I played around with a base64 decoder and checked some tables, it looks like if `A` is any of the first 3 characters, that decodes to a control character / sequence (Null, ACK, Device Control 1, Backspace) etc.
My personal opinion is that no valid (or useful perhaps) environment variable will ever contain one of those, and I don't expect either Docker or Kubernetes to handle that.

I suspect the f