[2016-03-18 17:46] AdoHe commented on #22986
also SGTM.

[2016-03-18 17:50] lgomez commented on #19452
@smparkes You're right... it's more of a question. I didn't realize that until I read the answers.

@runseb & @smparkes thank you both for your answers. I was confused by how kubectl handles configuration, what contexts are, how to switch between them, etc.

[2016-03-18 17:50] #19452 closed

[2016-03-18 17:53] krousey opened #23200 "Go unit tests are failing in jenkins"
[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/9833/

[2016-03-18 17:54] krousey commented on #23200
@kubernetes/sig-testing any idea what is causing this?

[2016-03-18 17:58] Random-Liu commented on #23170
@msaffitz Ha, every time kubelet starts a infra container (even a newly started one), it will print this "restart" log. I believe the pod is just added
[code]
So this is just starting the infra container for the first time, no a real "restart", no "kill".

[2016-03-18 18:00] Random-Liu commented on #23170
@msaffitz In your issue description, I saw this `Killing container with docker id 661a6ded11b9: Need to kill pod.`
If you could show us the log containing this, it would be very helpful. :)

[2016-03-18 18:00] yujuhong commented on #23170
@msaffitz, from the log, kubelet received the pod at 17:19:05.04, and then created the containers for the pod.

[code]

The messages you pointed out were misleading because kubelet prints out "Need to restart" even though it's the first time for kubelet to start the pod. We should improve the wording, but there is nothing in the log that suggests the containers/pods were killed.

The log should co

[2016-03-18 18:06] lavalamp commented on #23166
@alex-mohr `upgrade-storage-objects.sh` is for API changes, and in fact we *are* making an api change: extensions/v1beta1/Job -> batch/v1/Job and similar for HPA.

@erictune and I debated in the release notes, and we think it won't be necessary to run this until after upgrading to 1.3. It shouldn't hurt anything to run it now, but unless you also change the defaults for your 1.2 binary, you'd have

[2016-03-18 18:10] erictune opened #23201 "Dashboard is run by default, but could allow privilege escalation when used with custom authorization"
Dashboard is run by default (by virtue of the file: cluster/addons/dashboard/dashboard-controller.yaml).   Dashboard lets anyone who can connect to it view, edit, and delete objects.
Kubernetes authorization plugins allow putting very flexible restrictions on what users can do what to which objects.

I plan to immediately edit Authorization docs, Addons docs, and 1.2 release notes docs to recommen

[2016-03-18 18:10] erictune commented on #23201
@kubernetes/sig-auth

[2016-03-18 18:11] krousey commented on #23200
@ixdy pointed out that this is probably due to https://github.com/tools/godep/commit/670c16bc098f626edb93e9bcc1001e44333d1db8 and us not setting $GOPATH properly.

[2016-03-18 18:11] erictune commented on #23201
@kubernetes/dashboard-maintainers

[2016-03-18 18:12] erictune commented on #23201
@lavalamp

[2016-03-18 18:12] ixdy commented on #23200
Yeah, hack/jenkins/test-dockerized.sh runs `go get github.com/tools/godep` on each run, so we are now getting the latest and greatest godep binary, which coincidentally is now broken. We probably need to set GOPATH to $WORKSPACE or something, and then cherry-pick that fix to the release-1.1 and release-1.2 branches.

[2016-03-18 18:14] vishh commented on #23073
@mikedanese and I chatted offline about this feature and came up with an alternative. Here is the summary:

Implementation goals are to have the primary kubelet run until a secondary kubelet is ready to take over and rerun the primary kubelet whenever the secondary kubelet exits.
The primary and secondary kubelet synchronize using a file lock.
A bootstrapping controller will be created to coordina

[2016-03-18 18:16] msaffitz commented on #23170
@Random-Liu That message was displayed as part of `pod describe`.  Interesting this cycle didn't have any messages about Killing pods, but the next cycle did.  I updated the gist to include those.

@yujuhong

The pod appears to be deleted-- I've never seen a restart count above 1.  From `describe node` and looking at the events, the nodes appear to be staying in the ready condition.  And on a give

[2016-03-18 18:18] DirectXMan12 commented on #23196
On the other hand, defaults more complicated when multiple metrics are introduced -- now that we have alpha custom metrics, you don't want CPU autoscaling by default if you have custom metrics set.  However, at the moment, custom metrics are specified via an annotation.  In `autoscaling/v1` this is not problem, since we can leave the CPU percentage field empty, and it will stay that way (and if we

[2016-03-18 18:21] erictune commented on #23201
Note, the dashboard is only 1.2, not 1.1, so this is not a security concern for users who are running official kubernetes releases.

[code]

[2016-03-18 18:22] spxtr commented on #23169
`hash_test.go` is no longer deterministic, it fails at different iterations on each run for me.

[2016-03-18 18:23] bprashanth commented on #21070
Microsegmented network policy (and eventually multiple netowrks in a cluster) is a goal we're working toward, we're just not there yet. People are experimenting with third party resources over at the signetwork mailing list (https://groups.google.com/forum/#!topic/kubernetes-sig-network/igJrjG-v-Cs).

[2016-03-18 18:28] gmarek commented on #23182
SGTM - we can start by setting up cron job which cleans up the tmp folder, but we probably want to clean other stuff as well.

[2016-03-18 18:29] Random-Liu commented on #23170
@msaffitz Thanks! From the log
[code]
It seems that these pod are gracefully killed by other components, if so what @bgrant0607 mentioned is more likely to be the problem:

[2016-03-18 18:29] yujuhong commented on #23170
- Were the pod deleted or just terminated? (i.e., can you see it in `kubectl get pods -a`)
- Could you check the apiserer.log and paste the output for a pod that's been affected? kubelet doesn't actively delete pods. Some other components need to initiate the delete request, and apiserver records the sender.

[2016-03-18 18:34] msaffitz commented on #23170
Thanks @yujuhong

They do not appear in `kubectl get pods -a`

The `kube-apiserver` logs on the master (at the default log level) don't have any output over the last ~17 hours.  I'll see if increasing the log level add something interesting

[2016-03-18 18:35] alex-mohr commented on #23166
@lavalamp Okay, that makes sense to me.  Thanks Daniel!

[2016-03-18 18:38] msaffitz commented on #23170
While I wait for the api server logs, `describe ds` shows the following-- is that odd?

[code]

[2016-03-18 18:39] ixdy commented on #23182
We already do that. I think we're just running too many things on one host, which is something I'm working on fixing.

[2016-03-18 18:40] davidopp commented on #23170
Just to clarify, if Kubelet cannot talk to API server for 5 minutes, API server will delete the pods on the master, but this of course won't have any effect on the Kubelet/node until the Kubelet is able to start talking to the API server again. Until it does, the pods will keep running.

[2016-03-18 18:41] msaffitz commented on #23170
@yujuhong It does look like it's the daemonset-controller deleting the pods -- here are the apiserver logs

[code]

[2016-03-18 18:44] derekwaynecarr commented on #23073
I feel like I just read Inception... a little more flow on how the upgrade/downgrade process is envisioned would help to give some more context here.  I am still trying to work out which kubelet listens on what ports, etc.

[2016-03-18 18:50] yujuhong commented on #23104
This applies only for the static pods (manifest files), but yes, we'll add it to the release note.

We've discussed some options, e.g., hash the versioned object before converting the the internal objects. I am not sure there are no corner cases, and we'll need to think about it some more.
/cc @dchen1107 @lavalamp @bgrant0607

[2016-03-18 18:59] davidopp commented on #23170
FYI the release notes say the following about DaemonSet:

DaemonSet was Alpha in 1.1 (though it had apiVersion extensions/v1beta1) and was disabled by default. Due to some non-backward-compatible API changes, any DaemonSet objects you created in 1.1 won’t work with in the 1.2 release.
Before upgrading to 1.2, delete all DaemonSet alpha-version resources. If you do not want to disrupt the pods, use

[2016-03-18 19:06] huggsboson commented on #23197
I'm gonna try cleaning out the /var/lib/kubelet using:
[code]

[2016-03-18 19:07] davidopp commented on #23170
It does seem from the logs like the DaemonSet controller is deleting the pods...

[code]

[2016-03-18 19:08] yujuhong commented on #23170
Since the change in node ready condition won't cause pod eviction for daemon set controllers, figuring out why daemonset controller decides to delete the pods is the key

FWIW (with very limited knowledge about daemonset controllers), the numberMisscheduled seems strange to me in the status:

[code]

[2016-03-18 19:09] msaffitz commented on #23170
Thanks @davidopp.  I'll try seeing if I can flush out the old daemon sets and recreate them.

Where are the release notes?  I noticed the release from https://github.com/kubernetes/kubernetes/releases and clicking the Documentation link just takes me to http://kubernetes.github.io.  The blog post says "And many more. For a complete list of updates, see the release notes on github." but that just c

[2016-03-18 19:10] davidopp commented on #23170
Yeah, sorry, we're going to be posting the release notes today...

[2016-03-18 19:13] davidopp commented on #23170
mis-scheduled means a node is running a DaemonSet pod but the DaemonSet controller thinks the node should not be running the pod.

the fact that desiredNumberScheduled == 0 means the DaemonSet controller thinks no DaemonSets should be running anywhere.

[2016-03-18 19:13] bgrant0607 commented on #23170
Release notes are currently here:
https://docs.google.com/document/d/1qVWj3mmrYfYcS68t_rPvuym8xkj4O5PkL5YcoEorYMM/edit?ts=56e36ad0#

Join kubernetes-dev googlegroup to access.

[2016-03-18 19:13] bgrant0607 commented on #23170
It's the selector change. Delete the DaemonSets.

[2016-03-18 19:14] msaffitz commented on #23170
thanks @bgrant0607  Do I need to downgrade to 1.1.7 to do that?

[2016-03-18 19:18] bgrant0607 commented on #23170
@msaffitz You shouldn't need to.

kubectl *might* have trouble deleting them the normal way.

You could use curl -X DELETE on the API paths, through the kubectl proxy.

[2016-03-18 19:19] bgrant0607 commented on #23170
Or maybe try the 1.1 kubectl, if you still have that around

[2016-03-18 19:34] ixdy commented on #23200
Looks like it's not just Jenkins broken; if I update godep to v59 locally, `hack/update-generated-swagger-docs.sh` fails:
[code]

This is probably due to our munging of GOPATH in `hack/lib/golang.sh`.

[2016-03-18 19:34] ixdy commented on #23200
(there may be other stuff broken, too. who knows!)

[2016-03-18 19:38] vishh commented on #23073
@derekwaynecarr :) The goal is to make kubelet upgrades seamless. A solution for that is to self-host which is what this issue is talking about.
One primary assumption is that of not running more than one fully functional kubelet at the same time.

[2016-03-18 19:38] vishh commented on #23073
@derekparker: As I mentioned earlier, a formal proposal will definitely help here. The proposal can serve as a design doc once it is implemented. So its worth the effort.

[2016-03-18 19:46] msaffitz commented on #23170
Thanks all.  I really appreciate all the help debugging this.  I've deleted /  recreated the offending DaemonSet and everything is running smoothly now.  Definitely a :+1: for getting the release notes out concurrent with the actual release :)  Thanks for the great SW, community, and support.

[2016-03-18 19:46] #23170 closed

[2016-03-18 19:52] roberthbailey commented on #23201
The latest official release is 1.2.0 and contains dashboard running by default.

[2016-03-18 19:54] eparis commented on #23200
godep must be pinned to v53 until my PR to fix it....

[2016-03-18 19:54] eparis commented on #23200
https://github.com/kubernetes/kubernetes/pull/22807

[2016-03-18 19:54] eparis commented on #23200
That is the fix.  Pin godep to v53 (how did it get unpinned?

[2016-03-18 19:55] eparis commented on #23200
ohhhhhhhhhh, I see, this is a different godep issue  :-(   this one is just a bug in godep. @freeformz

[2016-03-18 19:56] derekwaynecarr commented on #23073
@vishh - I am wondering who launches the primary kubelet and who babysits the kubelet in a pod when the primary kubelet shuts down?  the launching container runtime?

[2016-03-18 20:04] vishh commented on #23073
@derekwaynecarr: The turtle at the bottom is systemd or upstart or some other init.
The secondary kubelet is partly managed by the container runtime.

[2016-03-18 20:04] childsb commented on #22994
@jsafrane can you explain the bug if we leave the kubelet code alone? is the upper bound on attachable AWS /dev/ devices always 39? Where is the second check in the kubelet?  (i'm looking at: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L908)

This spot looks like its just using a range of possible devices and not a 2nd quota check/enforcement.

[2016-03-18 20:29] therc opened #23211 "Automatic rollback for failed deployments"
I don't see any existing issues filed for this.

Allow the user to instruct Kubernetes,  based on data from liveness/readiness probes (or failures to start new pods at all), to automatically undo a rollout, not just pause it. This could even have a configurable maxFailures knob to specify how many pods in "failed after upgrade" state to allow before rolling back. Similar for pending pods.

[2016-03-18 20:30] freeformz commented on #23200
@eparis AFAICT The $GOPATH listed above is busted and should contain `/go` if you plan to build code / use godep in `/go/src/k8s.io/kubernetes`

[2016-03-18 20:31] freeformz commented on #23200
FWIW: I spend a HUGE amount of time going back and forth with troubleshooting stuff that ends up being because people are doing stuff outside of a $GOPATH. Hence this "feature".

[2016-03-18 20:35] ixdy commented on #23200
It would've been nice is this was a warning, first. Now we get to have a fire drill fixing all of our builds, which were more or less working.

[2016-03-18 20:36] justinsb opened #23212 "AWS: Maybe-bug when set of AZs changes after ELB created"
If we create an ELB, and then add nodes in another AZ, I don't think the ELB will be recognifgured to include the additional AZ.  Verify / fix.

[2016-03-18 20:39] freeformz commented on #23200
@ixdy I am sorry about that. FWIW: I've also gotten flack for adding things as Warnings. I also wonder, would it have been noticed if it had been a warning?

[2016-03-18 20:40] aronchick commented on #18367
SGTM - let's close this.

[2016-03-18 20:40] #18367 closed

[2016-03-18 20:47] freeformz commented on #23200
@ixdy also, re my initial comment ... I didn't read the initial output.

It looks like the script is trying to do stuff in `/workspace/kubernetes` when the GOPATH is set to `/go`. Why not check it out to `/go/src/k8s.io/kubernetes`?

Maybe I should relax the restriction for `godep go` as well. As that just manipulates $GOPATH to add `./Godeps/_workspace` and then shells out to `go`. But you still

[2016-03-18 20:50] freeformz commented on #23200
After thinking about this some more, maybe I should just make it a warning.

[2016-03-18 20:53] lavalamp commented on #23104
1. We should figure out something to test here and start testing it so that we don't do this again. (Maybe that static pods don't get bounced on kubelet upgrade in one of the upgrade tests?)
2. I think hashing the versioned object instead of the internal object (i.e., before defaulting and conversion functions) is the best way to go.
3. Hashing the bytes of the file is my second choice.
4. Either

[2016-03-18 20:54] ixdy commented on #23200
Depends how long it was a warning. If a month or so, I'm sure someone would have noticed it.

I fixed the [initial `godep go install` failure](https://github.com/kubernetes/kubernetes/issues/23200#issue-141935611) by `cd`ing into a path in the GOPATH in #23202, which is probably more correct anyway.

We had another failure in `hack/update-generated-swagger-docs.sh` because we change the GOPATH to

[2016-03-18 20:56] derekwaynecarr commented on #23073
@vishh - so the bottom turtle is something like `kubelet.service` that has been enabled to start on-boot via `systemd`, but whose unit `Restart=` is set to something like 'on-failure'.  That primary kubelet probably had `--cgroup-parent` flag that was set so it launches the secondary kubelet somewhere appropriate.  That primary `kubelet` launches the secondary `kubelet` as a pod using the containe

[2016-03-18 20:58] freeformz commented on #23200
godep v60 pushed changing this to a warning.

[2016-03-18 21:00] ixdy commented on #23200
Thanks!

I'll still work on fixing this properly.

[2016-03-18 21:01] eparis commented on #23200
And I do think the idea of not complaining at all on `godep go` is a good idea...

[2016-03-18 21:03] freeformz commented on #23200
@ixdy :+1:

[2016-03-18 21:04] justinsb commented on #23212
Might also be a failure to tag subnets...

[2016-03-18 21:10] derekparker commented on #23073
@vishh thanks for the response.

I really like the idea of using taints/tolerations, and we had discussed that before when @mikedanese came out to the CoreOS office, but it feels like we can achieve the same goal without adding new concepts, just simply using slightly modified versions of what already exists. In other words, instead of introducing a bootstrapping controller that knows how to tell

[2016-03-18 21:16] derekwaynecarr commented on #23073
@derekparker - I am interested in a proposal, but I am also most concerned on the impact it has to the cgroup topology and ability to enforce node allocatable so we can keep a hierarchy that looks something like this at the end of the day:

https://github.com/kubernetes/kubernetes/pull/17688/files#diff-2d458913eb3f03bfd7f4b1fddb0e043cR305

[2016-03-18 21:19] yujuhong commented on #23104
Both options indicate that we won't restart the pod when defaults change. I am not sure that's a desired behavior.

[2016-03-18 21:20] lavalamp commented on #23104
Right. That's something for @dchen1107 to decide.

[2016-03-18 21:20] lavalamp commented on #23104
But if you do want to restart on default change, then this is WAI...

[2016-03-18 21:22] janetkuo opened #23215 ""kubectl <verb> all" should support more resources."
`kubectl <verb> all` currently only supports "rc, "svc", "pods", and "pvc". Now that we have replica sets and deployments, we should add them to the list.

Also, is the use of `all` documented anywhere?

@kargakis @smarterclayton @derekwaynecarr @kubernetes/kubectl

[2016-03-18 21:33] vishh commented on #23073
What does runonce mean? It might be incorrect to assume that the kubelet
daemon set already exists on the API server.

If we had an external controller, the actions we perform will be explicit
and hence less magic added to each component/layer.

+1 for considering and including how all the shared state will be handled
during the handover.

[2016-03-18 21:33] lavalamp opened #23216 "Move internal types of job & hpa"
We left the internal types of job and hpa in the extensions group for 1.2. Now it's time to move them over to the correct groups. This needs to happen before 1.3, and sooner is probably better.

@erictune @piosz

[2016-03-18 21:34] justinsb commented on #23212
User confirmed that tagging subnets fixed their particular issue, but we should still check this case.

[2016-03-18 21:36] spxtr commented on #23169
[code]

This generally fails about 15 times out of 100.

[2016-03-18 21:37] bgrant0607 commented on #2643
cc @caesarxuchao

[2016-03-18 21:39] erictune opened #23217 "Bring PodSecurityPolicy to usable state"
The PodSecurityPolicy object was merged by @pweil- in #7893.

That defined a new type, (https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/types.go#L919), a registry, kubectl support, and a client.

We still need to:
- [x] expose the extension by default, and generate the docs for it.
- [x] write code that decides whether a Pod create/update is allowed by any maching

[2016-03-18 21:49] derekparker commented on #23073
daemon set already exists on the API server.

In this case it means literally starting the kubelet with the `--runonce` flag (via systemd or some other system mechanism), and allowing it to contact an API server, run a pod and exit. Also, at some point there must be a seeding process to get the control/worker manifests stored somewhere, whether that's the apiserver/etcd or this new bootstrap contr

[2016-03-18 21:52] derekparker commented on #23073
@vishh as an amendment to my comment, I suppose all configuration would not have to happen in the manifests, as we could provide "stock" manifests without configuration, and use a configMap to configure the components separately.

[2016-03-18 22:17] smarterclayton commented on #20176
Yeah, I can buy that.  I just suspect that folks might ask for infinite
parameterization here, so how do we draw the line to something reasonable.
I.e., we *don't* parameterize it, or have like 1 flag at best.

On Thu, Mar 17, 2016 at 10:17 PM, Prashanth B <notifications@github.com>
wrote:

[2016-03-18 22:20] mikedanese opened #23218 "Don't sync daemonset or deployment when their pod selector is Everything"
This is useful for most controllers but critical for daemonset and deployment due to bugs like #23170

@davidopp @bgrant0607

[2016-03-18 22:24] bprashanth commented on #20176
Not parameterizing makes sense. We should be able to choose unambigous defaults. We'll just keep updating the key size every 5 years :)

[2016-03-18 22:30] #23173 closed

[2016-03-18 22:38] liggitt commented on #23216
cc @deads2k

[2016-03-18 22:42] liggitt commented on #23199
https://github.com/kubernetes/kubernetes/pull/17590 is open to look up homedir on Windows correctly

[2016-03-18 22:42] bgrant0607 commented on #23104
Defaults are represented in the serialized, versioned form, also.

[2016-03-18 22:44] bgrant0607 commented on #23170
@msaffitz Thanks for using Kubernetes!

[2016-03-18 22:45] ghodss commented on #23104
I don't think this is right. In my example above, the pods come from apiserver, not static manifest files.

[2016-03-18 22:45] bgrant0607 commented on #23218
cc @ghodss

[2016-03-18 22:45] kfox1111 opened #23220 "cpu usage high"
cpu for kubelet sits between 33 and 80 all the time with sometimes 150% spikes. Running just two pods configured in /etc/kubernetes/manifets/. all containers running with hostNetwork: true

Versions:
Docker version 1.8.2-el7.centos, build a01dc02/1.8.2
CentOS Linux release 7.2.1511 (Core)
kubernetes-client-1.2.0-0.6.alpha1.git8632732.el7.x86_64

Config:
[root@rc0 ~]# more /etc/kubernetes/config
KU

[2016-03-18 22:47] andyzheng0831 commented on #12689
This issue can be closed now. Since 1.2.0, kube-proxy is moved into a pod and the test code simply kill the kube-proxy process to force restart it. This way works in ContainerVM, Trusty, and CoreOS.

[2016-03-18 22:48] yujuhong commented on #23104
That was mainly because of a race condition in kubelet, and should be fixed by #23141
Also, if the pods were drained from the node before the upgrade (which is recommended), non-static pods will be fine.

[2016-03-18 22:49] #12689 closed

[2016-03-18 22:56] andyzheng0831 opened #23221 "Support differentiating the OS distribution in e2e tests"
The test case "[k8s.io] Addon update should propagate add-on file changes" uses "/etc/init.d/kube-addons restart" to restart kube-addons service. This way only works in ContainerVM. In our Jenkins running on trusty, this test case keeps failing. Please add a method in the e2e testing code to differentiate the OS distribution in use, just like the env variable KUBE_OS_DISTRIBUTION used in cluster c

[2016-03-18 23:04] yujuhong commented on #23220
@kfox1111, do the pods/containers working correctly and how long has the cluster been running?

Could you check kubelet and docker logs to see if there are obvious errors?

Besides that, you can
 1. Get the goroutines: `curl  http://localhost:10248/debug/pprof/goroutine?debug=1`
 2. Profile the cpu usage: `go tool pprof -seconds=30 <kubelet_binary_path> http://localhost:10248/debug/pprof/profile`

[2016-03-18 23:08] bgrant0607 commented on #23215
Should use the discovery API. @lavalamp @caesarxuchao

Not sure about documentation.

[2016-03-18 23:10] bgrant0607 commented on #23211
See also #14519

[2016-03-18 23:13] bgrant0607 commented on #22781
Release notes are now in CHANGELOG.md.

[2016-03-18 23:15] liggitt commented on #23215
@deads2k has done work to hook up `all` to discovery for openshift. There's ongoing debate about whether it should actually include every last resource or not (@smarterclayton)

[2016-03-18 23:16] kfox1111 commented on #23220
Here's some more info... I'll get the other two bits next.

ps -eo etime,cmd | grep kubelet | grep -v grep
 1-00:36:28

docker logs are just a lot of stuff like:
Mar 18 16:10:46 rcap1 docker[2120]: time="2016-03-18T16:10:46.086482406-07:00" level=info msg="GET /containers/46bc30784eb457590d0698197515450838f95e443ce26bf0e1e67b4829effbf7/json"
Mar 18 16:10:46 rcap1 docker[2120]: time="2016-03-18T16:

[2016-03-18 23:17] bgrant0607 commented on #18465
@janetkuo and @pwittrock are working on this.

[2016-03-18 23:18] bgrant0607 commented on #11614
@johndmulhausen Any idea whether this is still an issue?

[2016-03-18 23:26] kfox1111 commented on #23220
Not exactly sure how to use the profiler. is this what your looking for?:

(pprof) top
5950ms of 9660ms total (61.59%)
Dropped 201 nodes (cum <= 48.30ms)
Showing top 10 nodes out of 116 (cum >= 260ms)
      flat  flat%   sum%        cum   cum%
    2180ms 22.57% 22.57%     2530ms 26.19%  regexp.(*machine).add
     860ms  8.90% 31.47%     3130ms 32.40%  regexp.(*machine).step
     820ms  8.49% 39.96

[2016-03-18 23:30] vishh commented on #23220
@kfox1111: Type `web` in the `(pprof)` prompt. More info on pprof [here](https://blog.golang.org/profiling-go-programs).

[2016-03-18 23:31] caesarxuchao commented on #23215
Dup of https://github.com/kubernetes/kubernetes/issues/22337.

[2016-03-18 23:32] yujuhong commented on #23220
copy my replies on slack:
@kfox1111: can you generate a graph and upload? e.g., try "web"
@kfox1111: also, checking the goroutines using the command I have would help too.

BTW, from the log, the kubelet is in the standalone mode. Is that intentional?

[2016-03-18 23:33] mikedanese opened #23224 "move fluentd into a daemonset in salt"
ref #23174

[2016-03-18 23:33] mikedanese opened #23225 "move kube-proxy into a daemonset"
ref #23174

[2016-03-18 23:34] mikedanese opened #23226 "move logrotate into a daemonset in salt"
ref #23174

[2016-03-18 23:41] davidopp commented on #23218
Once we have controllerRef, we could also have a check that a controller should not delete a pod unless its controllerRef points to that controller. (Though I haven't thought this through carefully, so maybe there is some problem with the idea. And maybe it should be "unless its contorllerRef points to that controller or is unset.") It's not a replacement for the check described here, just somethi

[2016-03-18 23:42] bprashanth commented on #23218
would be nice if we got `gcloud container clusters upgrade` to handle this with a before/after hook @kubernetes/goog-gke

[2016-03-18 23:44] kfox1111 commented on #23220
Yeah. Right now, on these systems, I'm transitioning from docker-compose to using kubelet in standalone mode to gain spawning/keepalive features. Once transitioned, then a future step would be to build a full kubernetes system and migrate the local stuff to it.

goroutines here:
goroutine profile: total 133
1 @ 0x8cfcc6 0x8cfa6d 0x8cbb55 0x5da6df 0x5da84e 0x5bc701 0x5bdfed 0x5be9ba 0x5bc257 0x4403

[2016-03-18 23:50] kfox1111 commented on #23220
ok. got the dump I think....
[dump.zip](https://github.com/kubernetes/kubernetes/files/180552/dump.zip)

[2016-03-18 23:52] yujuhong commented on #23220
Got it.

Could you paste it to gist so that it's more readable? :)
I see the total number is 133 (which is high) but the output don't corroborate that. Could you check if you have everything in the output? Thanks!

[2016-03-18 23:56] kfox1111 commented on #23220
Yeah, it got truncated I think. let me try attaching it...
[dump.txt](https://github.com/kubernetes/kubernetes/files/180555/dump.txt)

[2016-03-18 23:58] yujuhong commented on #23220
Thanks!
[code]

How many containers are running on your node? 88 goroutines seems high to me.

[2016-03-19 00:01] kfox1111 commented on #23220
2 pods, 4 containers, 2 of them pause.

[2016-03-19 00:03] bprashanth commented on #19920
I think this is fixed because we're now going
[code]
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L913

When previously we were going from 'f' upto 'p' (I didn't understand my own previous comment for a moment). Please re-open if it's not fixed.

[2016-03-19 00:03] #19920 closed

[2016-03-19 00:06] bprashanth commented on #21885
Hmm, we already have it checked in so you should just be able to use: https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/cluster/saltbase/salt/helpers/safe_format_and_mount

If aws needs some custom script we can upload it to GCS.

[2016-03-19 00:08] yujuhong commented on #23220
ok. That's definitely not right. cadvisor seems to be misbehaving.
@kfox1111, I think you hit #19633, which is fixed in the current v1.2 release. Do you mind trying with a newer version of kubelet?

[2016-03-19 00:16] Q-Lee opened #23229 "Change addon yamls and the addon-resizer to reflect best practices for resource requirements"
In #22893 we noticed that our yaml's resource requirements for addons don't match the [best practices](http://kubernetes.io/docs/user-guide/config-best-practices/). It seems #18216 added requests to all addons.

We'll also want to change the addon-resizer's behavior to understand this. Currently it would update the deployment so that requests = limits if requests is unspecified.

[2016-03-19 00:16] yujuhong commented on #23104
My bad. @dchen1107 pointed out that since the SecurityContext is per container, the container hash will also change in the apiserver. The containers in the regular pods will then be recreated.
However, draining the pods from the node will help in this case.

[2016-03-19 00:26] dchen1107 commented on #23104
I sent https://github.com/kubernetes/kubernetes/pull/23227 to update release notes to include this as known issue for 1.2 release. We are going to continue discussing how to handle this. So far all proposed solutions above couldn't resolve the current problem caused by the defaulting without draining.

But it is terribly bad we didn't catch this issue due to lack of understanding our users. The as

[2016-03-19 00:45] dchen1107 commented on #23104
Question to @bgrant0607 and @lavalamp If the defaulting for a ContainerSpec is changed over each release, should we recreate container here? Or we just leave it running until the user takes the explicit actions. I personally don't want to have this because it makes the overall management much harder for admin, but open to any other suggestion.

[2016-03-19 00:53] sah opened #23231 "kubectl command --help doesn't mention deployments"
In 1.2.0, `kubectl expose --help` and other command help talks about replication controllers rather than deployments. Because `kubectl run` creates a deployment now, it's important that help explain how to work with them.

[2016-03-19 00:55] yujuhong commented on #23104
/cc @pmorie since this is related to security context changes.

[2016-03-19 00:55] kfox1111 commented on #23220
Ok. I can't do it today but I'll give it a shot. Thanks. I'll let you know.

[2016-03-19 01:05] bks7 commented on #21613
@thockin Any updates on this?

[2016-03-19 01:15] bgrant0607 commented on #23104
@dchen1107

Our policy is that we shouldn't change behavior for existing objects when we add new fields, so any new default values would have to be the same as preexisting behavior without the new fields.

The problem is how to determine whether the spec changed due to update or due to defaulting. Currently, it should be easy, since we only allow image to be changed.

However, if we just checked f

[2016-03-19 01:16] bgrant0607 commented on #23104
In case it's not clear, I'm suggesting we only hash fields that are updatable.

[2016-03-19 01:18] sjpotter opened #23232 "Debian specific e2e tests?"
There are a number of tests that fail in our rktnetes work that seem to be Debian specific (though not 100% sure)

There are 3 DNS tests that do "jessie"/"wheezy" lookups.  dont quite understand what they are doing but they seem to fail when tested with CoreOS

[k8s.io] DNS [It] should provide DNS for services [Conformance]
[k8s.io] DNS [It] should provide DNS for pods for Hostname and Subdomain A

[2016-03-19 01:27] mikedanese opened #23233 "kube-addon-update revamp"
kube-addon-update needs to support DaemonSets and Deployments which have different update strategies. It's half python and half shell so it can't run on coreos. It has no tests.

v2 should:
- support appropriate update strategies for DaemonSets and Deployments
- use kubectl apply
- be written entirely in python or go
- have tests
- run in a static pod on the master
- Address the current [limitatio

[2016-03-19 01:48] tweakmy opened #23235 "Use case: How to create test pod with other label from production pod for stateful container"
The obvious is that there is a running stateful pods(etc database) with volume mount. The volume mount is assume to faciltate for rolling update. However, i have got a use case where i would like to create a same set of database with it latest state but with s different image.One could do it by means of copying but that way is too clunky and it is anti kubernetes semantic. What is your advice?

[2016-03-19 02:02] mikedanese commented on #23233
I don't think the golang client is particularly useful here. What we really want to do is to script against kubectl which has patch/apply/replace logic builtin. We can exec or use kubectl as a library.

[2016-03-19 02:11] mikedanese opened #23236 "move to a build tool that has dependency calculation"
We need this for both the compilation phase and the release packaging phase. Building a release is incredibly inefficient right now and a huge development slowdown.

[2016-03-19 03:33] aanm commented on #22778
@jayunit100 Have you try it with docker 1.9.1?

[2016-03-19 03:52] aanm opened #23237 "Proposal: Mount each secret as a file, not as a directory"
On the following example, the user is setting up the mount path as `/etc/foo` which will create the directory `/etc/foo`.

I was hopping if it would be possible instead the `/host_directory/foo` to be the mount point of `/etc/foo`, it would be created the mounting point `/host_directory/foo/mysecret` and that one would be mounted in `/etc/foo/mysecret`.

This would allow a user to be able to mount

[2016-03-19 04:08] bgrant0607 commented on #17168
There's a separate issue for set, and I'd like to wait for user feedback re. status, so closing.

[2016-03-19 04:08] #17168 closed

[2016-03-19 04:10] bgrant0607 commented on #18363
This is done.

[2016-03-19 04:10] #18363 closed

[2016-03-19 04:13] aanm commented on #22943
@Random-Liu Thanks, so I guess this issue can be closed, right?

[2016-03-19 04:59] thockin opened #23238 "auto-provisioned PV is released but not deprovisioned"
[code]

@childsb @swagiaal

[2016-03-19 05:10] thockin commented on #23238
repro sequence:

make a namespace
make a claim that is auto-provisioned
wait for it to be bound
delete the namespace

It seems to be a race, though.  Not 100%

[2016-03-19 05:16] fejta commented on #4548
Thanks for reopening!

Multiple quarters elapsed without anyone making progress. I closed this class of bug because I want to bring attention to the ones that are still interesting to fix.

I removed the test-infra tag because it is about adding test coverage.

[2016-03-19 05:19] fejta commented on #9299
Thanks for reopening!

Multiple quarters elapsed without anyone making progress. I closed this class of bug because I want to bring attention to any that are still interesting to fix.

@ixdy this looks related to your plans to create a canonical way to run tests. I agree e2e tests should run as a regular user.

[2016-03-19 05:20] davidopp commented on #22797
I don't think it's a good use of time to update design docs. Features morph infinitely over time; it's not practical to keep their original design doc up to date. I don't think people expect that a design doc will even reflect what was originally implemented, much less how the feature exists at the time they are reading the design doc.

Now, I *do* agree "We need to ensure that everything in this

[2016-03-19 05:22] fejta commented on #10308
Thanks for reopening!

Multiple quarters elapsed without anyone making progress. I closed this class of bug because I want to bring attention to any that are still interesting to fix.

GKE will need to expose a way for e2e tests to configure the log level when deploying a GKE cluster

[2016-03-19 05:25] davidopp commented on #22077
ping

[2016-03-19 05:25] fejta commented on #3120
Thanks for reopening!

Multiple quarters elapsed without anyone making progress. I closed this class of bug because I want to bring attention to any that are still interesting to fix.

I removed the test-infra tag because it is about adding test coverage.

[2016-03-19 05:28] fejta commented on #8879
Thanks for reopening!

Multiple quarters elapsed without anyone making progress. I closed this class of bug because I want to bring attention to any that are still interesting to fix.

This looks like something interesting to fix at the infrastructure level, especially since GCS can compress data for us on the fly.

[2016-03-19 05:30] davidopp commented on #20638
Moving out of v1.2 milestone, upgrading to P1. (Feel free to downgrade if you think it's not P1-worthy, @wojtek-t).

[2016-03-19 05:30] fejta commented on #6085
Thanks for reopening!

Multiple quarters elapsed without anyone making progress. I closed this class of bug because I want to bring attention to any that are still interesting to fix.

I removed the test-infra tag because it is very specific to kubectl.

[2016-03-19 05:31] fejta commented on #10670
@spxtr what logs doesn't already add this info?

[2016-03-19 05:36] thockin commented on #23237
Dup of #19764

It's a great idea, it's just technically hard.

[2016-03-19 05:37] #23237 closed

[2016-03-19 05:42] thockin commented on #19764
The all-in-one was really ugly, I thought.  I guess I am not really against it, it just feels clumsier than it should be.  any other answer I have come up with is uglier, though.  Still doesn't solve the as-a-file case.

[2016-03-19 05:47] thockin commented on #22778
@pmorie @swagiaal trivial attempt at repro did not repro the problem...

[2016-03-19 06:12] zhouhaibing089 opened #23239 "Wrong package for the keystone authenticator"
Currently, the keystone authenticator is placed at `plugin/pkg/auth/authenticator/request/keystone`, however it should be a password authenticator since it implements `authenticator.Password` instead of `authenticator.Request`, I would suggest to move this package to password package.

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authenticator/request/keystone/keystone.go#L

[2016-03-19 06:13] wojtek-t commented on #20638
Actually it seems to be fixed now.

[2016-03-19 06:13] #20638 closed

[2016-03-19 06:55] bpatelcs opened #23241 "Ubuntu Provider is not working"
I have been trying to deploy the kubernetes cluster for ubuntu provider by following the instruction on
http://kubernetes.io/docs/getting-started-guides/ubuntu, I am getting following error for etcd.

Error:  client: etcd cluster is unavailable or misconfigured
error #0: dial tcp 127.0.0.1:4001: getsockopt: connection refused
error #1: dial tcp 127.0.0.1:2379: getsockopt: connection refused

[2016-03-19 06:57] aanm commented on #19764
Continuing from #23237, the `hostPath` http://kubernetes.io/docs/user-guide/volumes/#hostpath exists, so isn't to difficult to merge both? I've looked at the code and I know that would take a lot of work than just magically merge it.

[2016-03-19 07:02] thockin commented on #19764
Read the rest of this issue.  Doing it is not that hard, as long as we give
up on the ability to ever dynamically update contents, which we CAN do with
directories.

On Fri, Mar 18, 2016 at 11:57 PM, André Martins <notifications@github.com>
wrote:

[2016-03-19 07:04] ixdy commented on #23232
@kubernetes/sig-testing

[2016-03-19 07:06] davidopp commented on #22212
Today QoS is determined by the relationship between request and limit. Trying to tie together QoS and scheduling priority would be confusing, because we'd end up having to forbid some combinations of \<scheduling priority\> and \<relationship between request and limit\>. (For example, pods with "low" scheduling priorities wouldn't be able to set limit==request, and pods with "high" scheduling prio

[2016-03-19 07:22] thockin commented on #23236
Are you mostly concerned about build time or things like only running tests
that have changed?  I have done significant experimentation here.  Here are
my current thoughts:

Easiest plan is to move to `glide` for dependency management and once we
get go-1.5 as a minimum requirement, the back-to-back build time (the
second being a no-op) was O(seconds).  It should be ~0, but it's not.  Go
still end

[2016-03-19 07:31] thockin commented on #23235
I'm not sure I understand what you want to do, but as far as I can understand there is no built-in way.  We do not parameterize a pod by another pod ever.   You can do this client-side, maybe?

Or are you talking about sharing volumes?

I think this is more of a "support" style request and should probably be done in StackOverflow so other people can find it more readily.  Please file it there, wit

[2016-03-19 07:31] #23235 closed

[2016-03-19 07:58] thockin commented on #23174
I think that we can move 90% of flags to configMaps which will dramatically
cut down on the amount of things we do with salt, and will expose the
important-to-convert bits more readily.

I also think that we need to make 2 setup paths.  One path works pretty
much everywhere, has very few or no tools deps, makes all sorts of possibly
dubious assumptions about what the user wants, but actually comes

[2016-03-19 08:01] thockin commented on #17619
Do we consider flags to be part of the API (never removable?) or have we
just not tested the water on actually removing flags after deprecating?

On Thu, Mar 17, 2016 at 2:10 PM, Mike Danese <notifications@github.com>
wrote:

[2016-03-19 08:03] thockin commented on #13299
Simplest answer is to look at logs or iptables-save.  If you see lines like
"KUBE-SVC-F39DEA35866", you're in iptables.

On Thu, Mar 17, 2016 at 5:37 AM, spiddy <notifications@github.com> wrote:

[2016-03-19 08:44] vincentheet commented on #23120
You are using a feature which is only available in Kubernetes v1.2.0. and newer. Currently your GKE cluster has Kubernetes v1.1.x. So your GKE cluster needs an upgrade to the newest version of Kubernetes. But as you can see here Google only supports version 1.1.8 and 1.0.7 for now: https://cloud.google.com/container-engine/release-notes#supported_kubernetes_api_versions They will probably start wi

[2016-03-19 08:49] gmarek commented on #10308
Sorry - it just went off my radar, after I've done this for salt-based deployments. @bprashanth - IIUC GKE doesn't use salt. @alex-mohr

[2016-03-19 08:56] gmarek commented on #23229
I'll add my 2c here. I don't like the defaulting behavior of setting up request to the limit value, if request is omitted. I see it as a discontinuity at 0 - I know that 0 and unset are different values, but one would need to look at the API definition to notice that request is a pointer, not a plain value - my first and thought would be that it's plain `int` thus unset = 0. I understand why we di

[2016-03-19 09:02] fejta commented on #3573
Thanks for reopening!

No one had made any progress on many test-infra bugs for multiple quarters. I closed this class of bug because I want to draw attention to the ones that are still valuable to address.

I'm removing the test-infra label because this is about adding test coverage.

[2016-03-19 09:46] olafurnielsen opened #23242 "kubectl panic: runtime error: invalid memory address or nil pointer dereference"
Getting a panic error when trying to do a rolling-update. Any ideas?

[code]

The resource controller was originally created with the following yml:

[code]

[2016-03-19 10:08] fejta commented on #13288
Per #10352 we should review the following:

[code]

Especially:

[code]

Also search for  "image": " or image= in hack/test-cmd.sh

[2016-03-19 11:10] jayunit100 commented on #22778
I haven't been able to either... maybe what we need is a node conformance test for this type of thing ... As is not sure if we can reproduce or diagnose unless it's done using vagrant or Kube-up

[2016-03-19 11:11] jayunit100 commented on #22778
Vote to close unless @macpoint is still having this issue , in which case let's run the e2e suite battery of EmtpyDir tests and see what passes

[2016-03-19 13:01] AdoHe commented on #23242
@olafurnielsen could you provider your kubernetes version? `kubectl version` can give you that info. As I can see you are rolling-update a rc using the same image I tried on my local, it's ok.

[2016-03-19 13:01] derekwaynecarr commented on #22778
Assuming Oracle Linux 6 is tracking RHEL 6, then RHEL does not support running docker on RHEL 6.

https://access.redhat.com/solutions/1378023

@eparis - am I missing something here?  The kernel version is different than RHEL 6.7 so it looks like the other Oracle kernel, so I am not sure what behavior to expect here or can really claim that this should work.

[2016-03-19 13:21] AdoHe commented on #23231
@sah I think in the HEAD, we have add deployments in help message:
[code]
not every command mention deployments, but we did add this.

[2016-03-19 14:12] olafurnielsen commented on #23242
Sure, see the version below. I've tried this with different images but always get the same error.

[code]

[2016-03-19 14:44] josemolmomillan opened #23245 "kube-up aws with specific us-east-1 region is in loop for ever"
With release 1.1.8 this setup works correctly, but with 1.2.0 kube-up is in loop constantly. If we change to us-west works correctly, but with us-east-1 dont work

export KUBERNETES_PROVIDER=aws
export KUBERNETES_SKIP_DOWNLOAD=1
export KUBE_AWS_ZONE=us-east-1d
export KUBE_OS_DISTRIBUTION=jessie
export AWS_S3_REGION=us-east-1
 export AWS_S3_BUCKET=prevvy-k8s
export INSTANCE_PREFIX=prevvy_dev

[2016-03-19 15:14] zhouhaibing089 commented on #23241
@mfanjie maybe you have some experience here..

[2016-03-19 15:25] amlinux commented on #22911
To reproduce this behavior I cleaned up everything related to kubernetes (containers, /var/lib/kubernetes contents, etc), then started a bunch of containers - everything is good up to this point.

Then I delete a pod with (kubectl delete pod frontend), and this happens:

[code]

[2016-03-19 15:36] mikedanese commented on #23236
I am concerned with both correctness and speed of build.

There are bugs in that pile of shell. For example @madhusudancs and I chased a bug a couple weeks ago on my work station where I was generating code that looked like it was from a codegentool from an old revision of the repository. My repo was synced to master. We spent a few hours writing print statements and analyzing huge debug outputs t

[2016-03-19 15:43] thockin commented on #23236
I am 100% in favor.  I think we need to decide between glide and GB and
"other".  I have a repo converted to glide, it compiles, but godep is not
fully excised. I need to time it against go-1.6.

My hope was to build a new parallel Makefile with simpler build scripts
backing it.
On Mar 19, 2016 8:37 AM, "Mike Danese" <notifications@github.com> wrote:

[2016-03-19 16:05] mdshuai commented on #22471
@madhusudancs Is there a example about scheduler extender ?

[2016-03-19 16:18] amlinux commented on #22911
More observations. Here is my default token:

[code]

Here is error message I get:
[code]

This path is changing all the time:
[code]
(Note the subdirectory names are different)

Pod deleteion code was recently touched by @caesarxuchao, authentication tokens (whose directories can't be removed) by @liggitt, @jlowdermilk. Any ideas what it could be?

I could ignore this problem if it didn't consume

[2016-03-19 16:22] liggitt commented on #22911
Those tokens are just secrets as far as the kubelet is concerned. Not sure how secret volume cleanup differs in hyperkube.

cc @pmorie

[2016-03-19 17:34] jachandler commented on #20722
Sorry I didn't come back to this sooner! Multiple masters with the same network subnet was the cause. As soon as we varied that value the problems disappear. Will close, thanks for your responses!

[2016-03-19 17:34] #20722 closed

[2016-03-19 17:35] AdoHe commented on #23242
@olafurnielsen seems you are using mismatched client and server, could you update your server version to the latest v1.2.0? we just release this stable version.

[2016-03-19 17:46] spxtr commented on #10670
I think they pretty much all do. Which ones don't?

[2016-03-19 18:39] luxas commented on #23153
@colemickens To clarify, the static pods were created and ran in `kube-system` ns just fine. `kubectl --namespace=kube-system get pods` returned the static pods as expected, but `kubectl get ns` returned only the default ns

[2016-03-19 18:50] roberthbailey commented on #22764
@erictune is working on this; see https://github.com/kubernetes/kubernetes/issues/16779

[2016-03-19 19:26] tdeheurles commented on #4869
I can't confirm that everything is working (volume sharing in mind) but the core services and dns are fine on docker with v1.2.0. I'm using [this setup](https://github.com/kubernetes/kubernetes/issues/4869#issuecomment-194149162) on top of a docker-toolbox on windows.

[2016-03-19 19:29] davidopp commented on #22764
Thanks; @MaksymBilenko please direct any followup questions to #16779.

[2016-03-19 19:29] #22764 closed

[2016-03-19 19:32] bgrant0607 commented on #23070
From email to kubernetes-dev:

One thing that was clear is that most people didn't know what should go into the release notes. In a number of cases, I had to ask specific people to add specific items to specific sections. The only way I could do that is I knew what was in the release and how the release notes should be organized.

We need a template for release notes, guidelines for what belongs i

[2016-03-19 19:35] bprashanth commented on #10308
I though creating a cluster just ran kube-up with a combination of these settings + GCE scripts: https://github.com/kubernetes/kubernetes/tree/master/cluster/gke.

But clearly there is more trickery, since we need to do things like: https://github.com/kubernetes/kubernetes/blob/master/cluster/gke/config-common.sh#L33

[2016-03-19 19:35] bgrant0607 commented on #23055
@mrezaei00 This use case will be addressed by a new controller. Please take a look at #18016. It's targeted for 1.3.

[2016-03-19 19:35] #23055 closed

[2016-03-19 19:37] bgrant0607 commented on #19
Yes.

[2016-03-19 19:37] #19 closed

[2016-03-19 19:42] davidopp commented on #22471
Just to be clear, scheduler extender is unrelated to the multiple-schedulers feature that this issue is talking about.

Scheduler extender design doc is here
https://github.com/kubernetes/kubernetes/blob/master/docs/design/scheduler_extender.md

There's an example scheduler config file that uses it here
https://github.com/kubernetes/kubernetes/blob/master/examples/scheduler-policy-config-with-exte

[2016-03-19 19:58] huggsboson commented on #4869
This is the setup that I've been using with Docker 1.10.3 via docker-machine on a macbook.  Note I've been using --containerized and the /var/lib/kubelet:rw instead of doing all of the bind mounts and make-shareds.  https://github.com/huggsboson/docker-compose-kubernetes

[2016-03-19 20:04] luxas commented on #4869
@huggsboson `--containerized` works for the most things thanks to @fgrzadkowski. I'm using it too in kubernetes-on-arm. However, it's a hack and has limitations, so it's best to migrate if you're lucky enough to have `docker-1.10`

[2016-03-19 20:08] mikedanese commented on #23233
cc @roberthbailey @zmerlynn

[2016-03-19 20:28] huggsboson commented on #4869
Now that I have a reproducible up and down script I just changed it to do the mounting and the /var/lib/kubelet:shared and everything seems to be working correctly.   My test run is usually stop it, start it, start a debian image with curl, then do:
curl --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -H "Authorization: Bearer $(cat /var/run/secrets/kubernetes.io/serviceaccount/token

[2016-03-19 20:35] mikedanese commented on #23174
Let's start this as the "run everywhere" setup with the goal to eventually make it "production ready" without sacrificing portability. I've opened some issues around salt refactorings that will make it easier to implement this deployment.

ref #4869

[2016-03-19 20:46] Random-Liu commented on #22943
Hi, @aanm~ I tried kubernetes HEAD with docker 1.10.3, and didn't reproduce the issue you mentioned:
[code]

[2016-03-19 21:08] luxas commented on #23174
/cc @luxas

[2016-03-19 21:13] justinsb commented on #23245
Can you please provide some output, so I can figure out where the loop is?

[2016-03-19 21:47] mikedanese commented on #23233
This can probably live in the contrib/ repo.

[2016-03-19 21:57] justinsb opened #23247 "Certificates as built by kube-up include a lot of cruft"
I don't know if this actually matters, it caused me some pain on AWS but I got around it by gzipping the metadata.  But the Certificates (e.g. CA_CERT) as built by easyca include a plain text dump of the certificate before the certificate data itself.  This bloats the data size a lot.

e.g.

[code]

[2016-03-19 22:30] aanm commented on #22943
With HEAD sometimes it worked sometimes it didn't but with v1.2.0-beta it
doesn't. Thanks for trying it out.
On Mar 19, 2016 20:47, "Lantao Liu" <notifications@github.com> wrote:

[2016-03-19 22:37] Random-Liu commented on #22943
@aanm Really? Let me try it again. :)

[2016-03-19 22:53] Random-Liu commented on #22943
@aanm I still can't reproduce this with k8s v1.2.0-beta.1 + docker 1.10.3:
[code]
[code]
[code]

[2016-03-19 22:56] Random-Liu commented on #22943
BTW, we haven't officially support golang 1.6 yet.
https://github.com/kubernetes/kubernetes/issues/22039

[2016-03-19 23:19] Random-Liu commented on #22943
@aanm I tested golang 1.6 and docker 1.10.0 just for fun... And they both work, so I think you are using a too old docker version.
Feel free to close this issue. :)

[2016-03-19 23:41] Morriz commented on #22433
Same here still...1.2.0 didn't solve it :(

[2016-03-20 00:01] aanm commented on #22943
@Random-Liu Test it against `docker 1.10.3` plus `kubernetes v1.2.0` and worked. Not sure what happen. Thanks for trying it out.

[2016-03-20 00:01] #22943 closed

[2016-03-20 00:22] smparkes commented on #20605
FWIW, the relationship with `glcoud` is also a bit confusing when switching contexts.

My "best guess" `gcloud config set container/cluster CLUSTER_NAME` doesn't change the kubeconfig, i.e., "best guess" is not "good guess".

But `gcloud container clusters get-credentials CLUSTER_NAME` does, which was unexpected.

Took me a while (and grubbing through the sdk) to realize that it was get-credential

[2016-03-20 00:55] mdshuai commented on #22471
@davidopp thanks for your comment

[2016-03-20 02:32] huggsboson commented on #23111
I had issues with service account tokens ceasing to function after multiple runs of comtainerized kubelet due to state accumulating in /var/lib/kubelet.  kube2sky also showed "Using kubernetes API <nil>" for me.  I can give you a more direct way to test if it's service accounts when I get back to my computer, but if you want to try clearing out /var/lib/kubelet (umount all things under there first

[2016-03-20 02:41] mqliang commented on #21679
Close this in flavour of https://github.com/kubernetes/kubernetes/pull/17393

[2016-03-20 02:41] #21679 closed

[2016-03-20 03:54] chancez commented on #19637
My current plan for this is to write a simple pod which watches for namespaces being created/removed, and then for each namespace watches incoming events and logs them to stdout. By doing this, the pod logs will be picked up by fluentd and stored into elasticsearch. It should work as a simple work-around until a better solution is created.

This will enable searching/indexing events however you wa

[2016-03-20 04:35] ddysher opened #23251 "Unable to use 'true' and 'false' as label value"
It seems resources can't be created with label value set to 'true' or 'false'.

With the following yaml,
[code]

I'm getting error:
[code]

but change to
[code]

No error:
[code]

Label documentation doesn't mention this case.
[code]

The use case for using 'true' as label value is to use "Exist", "NotExist" selector, where you don't have a meaningful label value.

I haven't tested yet, but if yam

[2016-03-20 04:59] roberthbailey commented on #23172
I'd like to see a design doc written as PR and submitted to https://github.com/kubernetes/kubernetes/tree/master/docs/proposals.

[2016-03-20 05:28] jadhavnitind commented on #23120
@vincentheet Thanks for the inputs on this.

[2016-03-20 05:36] roberthbailey commented on #23233
I thought we already had an issue to replace it but I don't see one. https://github.com/kubernetes/kubernetes/issues/7459 https://github.com/kubernetes/kubernetes/issues/9469 and https://github.com/kubernetes/kubernetes/issues/9849 all seem related.

@zmerlynn has thought about this a bit and should definitely chime in.

[2016-03-20 07:56] ddysher opened #23252 "Deployment in an inconsistent after kubectl delete and ctrl + C"
Pressing Ctrl + C while doing kubectl delete deployment leaves it in an inconsistent state:

[code]

Pods are still running:

[code]

No error event sent from deployment controller, but there's some error from controllermanager log

[code]

The closest issue I can find is https://github.com/kubernetes/kubernetes/issues/21257. But I believe I'm on a newer version.

[code]

@janetkuo

[2016-03-20 08:22] olafurnielsen commented on #23242
Ok, I didn't realize that these versions are supposed to match. When I ran the same verisons on both sides I had no problems. Thank you.

kubectl should perhaps catch an error like this and give you feedback on the client/server incompatability.

[2016-03-20 09:24] mzupan commented on #22906
I'm running `Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"5cb86ee022267586db386f62781338b0483733b3", GitTreeState:"clean"}`

Running into a rate limit issue by setting `--cloud-provider=aws` on control-manager, kubelet, apiserver

[2016-03-20 09:48] mzupan commented on #22984
I noticed the same issue using `1.2.0` that it was using the reverse dns for the pod and completely ignoring the override.

We use the override hostname to let the nodes self label.

[2016-03-20 10:13] csandanov opened #23253 "Debian 3.16 freezes with kernel panic"
Running few pods on DigitalOcean (Debian 8 3.16.7-ckt20-1+deb8u4 x86-64) with kubernetes 1.1.2 and docker 1.10.3. After a few hours, the server freezes with 100% CPU loading (according to new relic). After reboot I see these kernel panics in the syslog:

[code]

Any idea what could cause this?

[2016-03-20 10:48] mwielgus commented on #19637
@chancez We have a Heapster component called Eventer (https://github.com/kubernetes/heapster/tree/master/events) that watches Events on the master and writes them to one of the permanent storages. There is a pending PR with ElasticSearch support.

Please consider using this component.

[2016-03-20 12:03] AdoHe commented on #23242
I will take a deep look later, and find a more elegant solution.

[2016-03-20 13:23] antoineco commented on #23107
OK, I've got more elements here. I could reproduce the exact same situation after upgrading my mirror cluster.

I found out that after an upgrade, **the `selector` attributes from the `daemonsets` were blank**, causing them to match _anything_  :scream:

After upgrade:

[code]

Delete/recreate `ds` resource:

[code]

This leads to a combination of problems, all related to DaemonSets:

1. Pods are

[2016-03-20 13:55] justinsb commented on #22906
@mzupan can you post / send me the relevant bits of your kube-controller-manager log (/var/log/kube-controller-manager.log) from the master.  We increased the logging in 1.2, so that it should now be much more informative.

[2016-03-20 13:57] justinsb commented on #22433
That is really surprising - 1.2.0 should really have solved it.  Can you possibly send me the kubelet log from the node.   (volume mounts are done directly on the node, hence it is the kubelet log we need here).  Not sure about CoreOS; on other systemd systems it is in `journalctl -u kubelet`.

[2016-03-20 13:57] mzupan commented on #22906
@justinsb is there a set level you want to see? Right now most of the loggin is set to `0` due to not wanting to kill the system with IO but I can turn them back on

[2016-03-20 14:00] justinsb commented on #22906
@mzupan I think that in 1.2, when we hit the RateLimit we log the failing API request as a warning https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/retry_handler.go#L86.  So I hope you basically can't turn it off :-)

I'm really trying to figure out which particular call is hitting the rate limit ... if it is an ELB call or something else.  And of course there m

[2016-03-20 14:05] jsafrane commented on #20564
Fixed by #21140 - can anyone close this issue?

[2016-03-20 14:08] mzupan commented on #22906
I've been digging around too and just enabled aws on the kubelet till I figured out what process was caucing a limit to be hit.. On the kubelets per node I notice this

[code]

That happens once per second per node. The only services I'm running are normal k8 services like internal redis instances and nodeports. I'm not running any loadbalancers that would try to make an ELB or expose a external I

[2016-03-20 14:09] jsafrane commented on #22994
Scheduler recognizes an env. variable to tun number of EBS/PDs that can be attached to a AWS/GCE node. If it's higher than 39, any pods assigned to a node with 39 EBS volumes will fail with "Too many EBS volumes attached to node".

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L1064

[2016-03-20 14:20] antoineco opened #23255 "Kubelet I/O usage abnormally high"
After upgrading to Kubernetes 1.2.0, kubelet's `du` sub-process is using 95-99% of my read I/O constantly:

[code]

[code]

[code]

[2016-03-20 14:21] Morriz commented on #22433
I will when I get the chance (sunday restday). Restarting kubelet is the current workaround still...

[2016-03-20 14:23] jsafrane commented on #22994
I've created PR #23254, it will just attach as many volumes as scheduler wants. This can lead to more than KUBE_MAX_PD_VOLS attached to a node. I'd say it's up to any future attach controller to enforce KUBE_MAX_PD_VOLS properly.

Also, we should not depend on magic env. variables. There should be clear configuration option for such values.

[2016-03-20 14:27] justinsb commented on #22906
@mzupan do you have any logs that show a rate limit error?

I'm not sure whether the " Could not determine public IP from AWS metadata." is related.  As I recall that happens when your instances don't have public IPs, and we don't have any great options about how to determine the error - we just get back a generic error.  I take you aren't giving your nodes public IPs?  I'll look into why it is ha

[2016-03-20 14:29] mzupan commented on #22906
so i have aws enabled for controller and kubelet and so far nothing is sprung.. Another issue is the controller is looking up ELB for services that aren't a loadbalancer.

[code]

[code]

[2016-03-20 14:29] mzupan commented on #22906
I have yet to see any throttling errors in the controller

[2016-03-20 14:30] AdoHe commented on #23255
@kubernetes/sig-node

[2016-03-20 14:37] jsafrane commented on #20262
Working on #22994 I found out there should be *something* that should enforce nr. of attached EBS or PDs to a node - AWS supports ~40 volumes (this number should be configurable) and GCE has hard limit of 16 PDs attached to a node.

Scheduler is now aware of these limits, however it sees only "running" pods and not the deleted ones, so it  may happen that more than scheduler's limit of volumes bec

[2016-03-20 15:08] eparis commented on #20564
I will close. If you put `fixes #20564` or `resolves #20564` in the FIRST comment of the PR, github will close it automatically when the PR merges.

[2016-03-20 15:08] #20564 closed

[2016-03-20 15:15] justinsb opened #23256 "AWS: Public IP warning every second"
@mzupan reported that the "no public IP" warning was being logged every second.  It should not be logged that often:
https://github.com/kubernetes/kubernetes/issues/22906#issuecomment-198935575

[2016-03-20 15:16] AdoHe commented on #23125
@jakubkulhan I can see what's you problem, as for now we are using `bufio.Scanner` to split YAML documents in `pkg/util/yaml`, but bufio.Scanner cannot handle lines longer than 64KB (you'll get "bufio.Scanner: token too long"), in your case the line is more much longer than 64KB, I have fixed this on my local to use `reader.ReadLine()` instead of `bufio.Scanner`, I will open a PR tomorrow. Sorry a

[2016-03-20 15:16] justinsb opened #23257 "AWS: We require the DescribeLoadBalancers permission"
@mzupan reported that: Even if we aren't using services with type=LoadBalancer, we still require the DescribeLoadBalancers permission (I believe so that we can delete any ELB).

https://github.com/kubernetes/kubernetes/issues/22906#issuecomment-198941460

[2016-03-20 15:17] justinsb commented on #22906
Opened those two issues for the two other issues you've found @mzupan - let's try to keep this bug about rate limits / throttling :-)

[2016-03-20 16:19] innovia commented on #16412
+1

[2016-03-20 17:18] orospakr opened #23258 "GCE PD driver should be mounting with `discard` (TRIM support) when mounting an FS that supports it"
GCE PD docs [recommend using the `discard` option](https://cloud.google.com/compute/docs/disks/persistent-disks#formatting) so unused blocks can be freed back into the cloud and performance gains realized.

Rummaging through the source of the GCE PD and mounter stuff in Kube, it does not appear that that's being done (the old shell script version of safe_format_and_mount does, but I don't think th

[2016-03-20 17:30] colrack opened #23259 "Provide support to attach a vhd as volume on Microsoft Azure"
With this I want to track and share thoughts about introducing the ability to provide support to attach a vhd as a volume on MS Azure.

With the recent kubernetes v1.2.0 the ability to use Azure File System as a volume was introduced. I recently gave it a try on a cluster running on CoreOS and with some workaround (see https://github.com/coreos/bugs/issues/571 and https://github.com/coreos/bugs/is

[2016-03-20 17:56] thockin commented on #23259
Sounds reasonable to me.  Glad to have more Azure support.
On Mar 20, 2016 10:31 AM, "colrack" <notifications@github.com> wrote:

[2016-03-20 19:19] bprashanth commented on #23257
Suggest modifying title to reflect that only the master needs it (or clarify that all nodes need it, but I don't see why that would matter).

Is there a possibility of qps blacklisting of the project for too many failed requests? -- theoretically, i know we put in backoff.

[2016-03-20 19:29] bprashanth commented on #23253
I don't believe we've encountered this GCE, which runs (essentialy the same debian):
[code]
However, we haven't validated docker 1.10 with 1.2.0 (let alone 1.1.2).

Is this reproducible? What pods are you running? does you docker logs say anthing suspicious?

Noting tcp_v4_connect in your stack, what is your kube-proxy mode (iptables or userspace -- easiest way to check is iptables-save on a node

[2016-03-20 20:37] sah commented on #23231
Looks like this is indeed fixed in HEAD, but unfortunately didn't make it into 1.2.0, leaving kubectl confusing in that release.

[2016-03-20 20:46] yvespp commented on #16670
`kubectl run` with a short running command still doesn't work for me with 1.2.0 final:

With `--restart=Never` the command ends with `Unrecognized input header`
[code]
Also the job doesn't get deleted but the pod does.

Without the `--restart=Never` the command hangs:

[code]

I'm using the Docker single node setup with Docker Machine, versions:
[code]

[2016-03-20 21:01] chancez commented on #19637
@mwielgus Thanks for pointing this out. The log sink would be sufficient since heapster's logs should get picked up by fluentd anyways, so I don't even know that having an ES sink is all that important right now.

It looks like the `deploy` folder in heapster is pretty out of date, is the heapster stuff from cluster/addons in the kubernetes repo sufficient to have this functionality?

[2016-03-20 22:18] antoineco commented on #23255
Please note that the maximum disk read speed is low in the figures I posted above because AWS throttles I/O operations when these get abnormally high for a certain period of time (~ 1 hour). Before that my read I/O was capped at ~8 MiB/s for an hour (600,000 IOPS). Looks like this `-B 1` flag is too aggressive for some environments.

My instances are running on Amazon's SSD, which are limited to 2

[2016-03-20 22:46] hongchaodeng opened #23263 "Fixing scheduler benchmark"
Even though existing scheduler benchmark showed almost linear scheduling rate, in kubemark density test we didn't see as huge improvement.

This is caused by the discrepancies between scheduler benchmark and density test in mostly two places:

- [ ] Replication controller:
  - Scheduler benchmark creates pod one by one. See [here](https://github.com/kubernetes/kubernetes/blob/e664ef922fd3ecc2dcb69

[2016-03-20 22:47] hongchaodeng commented on #23263
/cc @wojtek-t @davidopp @xiang90

[2016-03-20 23:40] xiang90 commented on #23263
Sure, we can add different types of micro-benchmarks and try to match the results of other e2e tests. These are useful to analysis any performance decrease or catch some low hanging fruits for performance improvement.

But as we discussed a few months ago, I think the only way to make scheduler benchmark meaningfully is to get the trace of real workload or at least simulate the real world workload

[2016-03-21 01:03] justinsb opened #23264 "kube-up (GCE & AWS) should not delete the CA Key"
kube-up currently deletes the SSL CA Key, after kube-up finishes (because it runs easyrsa in a temporary directory).

This will make it impossible to generate more trusted certs in future, for example to rotate the kubelet / kubecfg / master keys.

We also don't have a great way to push a new CA cert right now (it's possible, but I think it would be very tricky).

I think we should probably includ

[2016-03-21 01:58] Random-Liu commented on #22765
Also ref #21013

[2016-03-21 02:48] mfanjie commented on #23241
the ubuntu provider is developed by ZJU SEL, I successfully deployed that before.
@bparees , if you got problem during the installation, please post more info like how you set your environment variables, and logs during the deployment.
It seems your etcd was not installed properly.

[2016-03-21 03:22] bpatelcs commented on #23241
I setup three environment variables as described in the instructions,

export KUBE_VERSION=1.1.8
export FLANNEL_VERSION=0.5.0
export ETCD_VERSION=2.2.0

As long as I know we do not need to install etcd , kube-up will download dependencies from declared environment variables, please correct me if I am wrong, which log will help me debug this?

[2016-03-21 03:42] sjpotter commented on #20475
so my above hack isn't reliable, sometimes its able to complete the KubeProxy test with it, but more often than not it seems it doesn't.  What i've noticed is that even when it does, the "problematic tests" (seemingly UDP oriented) take a long time to be successful.

[2016-03-21 03:43] AdoHe commented on #23125
@jakubkulhan I have open a PR #23265 ptal.

[2016-03-21 03:43] AdoHe commented on #19603
@wangqunOne I have opened a PR #23265 ptal.

[2016-03-21 06:17] adohe opened #23266 "confused apiserver.Mux usage"
In apiserver.go, we define a `Mux` interface:

[code]

we use this in `genericapiserver.go`:

[code]

I can't see why we have to use `apiserver.Mux` here, I think `http.ServerMux` is enough.

[2016-03-21 07:39] mwielgus opened #23268 "verify-godep-licenses.sh fails in kubernetes-test-go"
cc: @ixdy

[2016-03-21 07:49] xinxiaogang commented on #23186
@krousey Can anyone take a look at this? We meet this problem for every push now. And it is very suffer to manual kill the old version process each time.

[2016-03-21 07:49] xinxiaogang commented on #23184
https://github.com/kubernetes/kubernetes/pull/23185

[2016-03-21 08:01] jadhavnitind commented on #23120
I have installed Kubernetes 1.2 on GCS instance now and trying to create Replication Controller/Pod but unable to create it using secrets to export it as variable into the pods.

root@standalone-kubernetes:~# kubectl version
Client Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.7", GitCommit:"e4e6878293a339e4087dae684647c9e53f1cf9f0", GitTreeState:"clean"}
Server Version: version.Inf

[2016-03-21 08:44] bryk commented on #23201
@erictune Hasn't this problem been present since 1.0 when kube-ui was added? Dashboard UI is basically similar UI + a few write capabilities. I don't see a reason why at the time it wasn't a problem, but now it is.

Of course, when somebody changes default auth scheme, then the configuration for Dashboard and other addons should be reevaluated (like heapster publishing metrics data).

We want, how

[2016-03-21 08:47] macpoint commented on #22778
@derekwaynecarr AFIK Oracle has backported docker required features to its kernel (UEK 3.8.13-68.3.4.el6uek.x86_64 - this is the version that I run) and Docker should be supported on 6.7 (https://docs.oracle.com/cd/E37670_01/E37355/html/section_kfy_f2z_fp.html) ... However I admin that this combination (UEK 3.8, Docker 1.8.3, OEL 6.7) might cause the issue ...

@aanm No, haven't tried that. The OS

[2016-03-21 08:49] mfanjie opened #23269 "Discussion for Ubernetes scheduler flow"
I am working with Huawei PaaS team on Ubernetes Phase I implementation, and focus on Uberenetes scheduler. I created a sequence diagram to illustrate the process of ubernetes scheduler and want to start some discussions.

**A general principle design spec**
Currently clusterSelector (implemented as a LabelSelector) only supports a simple list of acceptable clusters. Workloads will be evenly distri

[2016-03-21 09:01] fgrzadkowski commented on #23197
@huggsboson I was obviously wrong in my comment in the other issue. As you say, we need `/var/lib/kubelet` mounted because we need to propagated directories and mounts to the host machine and docker daemon. Please check if clearing this directory between restarts helps.

[2016-03-21 09:02] drora commented on #22535
great! +1
really expecting that...

[2016-03-21 09:02] fgrzadkowski commented on #23197
@mikedanese

[2016-03-21 09:04] fgrzadkowski commented on #22781
@mwielgus Can we close this issue?

[2016-03-21 09:07] fgrzadkowski commented on #23229
To be honest I don't see any value in specifying exactly the same number twice. Simpler/shorter configs are usually better. @gmarek What's the advantage?

[2016-03-21 09:07] huangyuqi commented on #23269
Hi, @mfanjie , the return result would be a list of sub-RC,and the cluster is just a field of sub-RC.

[2016-03-21 09:14] mfanjie commented on #23269
@huangyuqi what I meant here is the returned value of step 26 in the sequence diagram, the function definition will be similar like followings, it will return prioritized cluster list, and the next step 29 is to iterate the returned list and created sub-rc and assign cluster.

func PrioritizeClusters(
	federationRC *api.ReplicationController,
	clusterNameToInfo map[string]*schedulercache.ClusterIn

[2016-03-21 09:18] mfanjie commented on #23269
@alfred-huangjian @quinton-hoole @davidopp please comment freely, thanks.

[2016-03-21 09:21] fgrzadkowski commented on #22797
@davidopp @bgrant0607 AFAIU you're both saying different things here :) We have already updated user guides. Should we update the [design doc](https://github.com/kubernetes/kubernetes/blob/master/docs/design/horizontal-pod-autoscaler.md)?

[2016-03-21 09:27] fgrzadkowski commented on #4869
@huggsboson I assume you don't pass `--containerized` flag? Can you also test other APIs? Downard API might be a good example as it shouldn't work with `--containerized` and should work with shared docker volumes.

[2016-03-21 09:43] gmarek commented on #23229
Consistence around 0. My perspective is the following:
- people will expect that both request and limit to be plain ints (not pointers)
- default value if int is unspecified is 0
- there shouldn't be much difference between 1 and 0 (similar argument that we have against different semantics of value `0` for `graceful_deletion_period`) - currently the semantics of 1 and 0 are close, but between 1 an

[2016-03-21 09:44] mwielgus commented on #22781
Yes.

[2016-03-21 09:44] #22781 closed

[2016-03-21 10:06] antoineco commented on #23255
Apparently this is not related to garbage collection. With `--image-gc-high-threshold=90` and `--image-gc-low-threshold=80` (and a disk ~50% full) the `du` command [still kicks in](https://github.com/kubernetes/kubernetes/blob/11cdc919f50ae632871f45ad19eb3628729de7d5/pkg/volume/util/fs_linux.go#L48-L61), with the same consequences.

I updated my original comment.

[2016-03-21 10:28] Pensu opened #23271 "Not able to start pod through yaml"
Hi all,

I have been trying to run mysql pod using a yaml file. Here is my yaml file:

[code]

And here is the error I am getting:
[code]

I am not sure if there is a problem with my yaml or some other issue. Please help. TIA.

[2016-03-21 10:35] fgrzadkowski commented on #21547
Marcin - what's the plan here?

[2016-03-21 10:46] antoineco commented on #23107
This has been documented here since I created the issue: [1.2 Changelog](https://github.com/kubernetes/kubernetes/commit/73449887c9f54508eb184089eea1d0f782c320e9#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR180). Feel free to close!

[2016-03-21 10:53] Yzord opened #23273 "Validation error v1 yaml file"
I am trying to learn and understand Kubernetes so i created a cluster for it and wanted to deploy some services on them.

I follow the manual from Red Hat, because i use the RHELAH version from them. At some point (https://access.redhat.com/documentation/en/red-hat-enterprise-linux-atomic-host/7/getting-started-with-containers/chapter-3-creating-a-kubernetes-cluster-to-run-docker-formatted-contain

[2016-03-21 11:00] AdoHe commented on #23271
@Pensu the root cause is here: `error validating data: expected type array, for field spec.containers, got map`. Try this:
[code]

[2016-03-21 11:06] gmarek commented on #23028
+1 - I'd like to be kept up to date with this effort.

[2016-03-21 11:14] antoineco commented on #23255
I managed to narrow it down even more. My monitoring agent pods mount the entire FS of the host they run on as a read-only hostPath volume:

[code]

After disabling it everything is back to normal, this is just a temporary workaround though.

[2016-03-21 11:15] Yzord commented on #23220
Also be sure that your ntpd is running on all nodes otherwise you get ip release issues.

[2016-03-21 11:28] mzupan commented on #22906
little bit of an update.. I ran 1.2.1-beta.0 most of the weekend and I don't think I'm hitting the api limits anymore. Before I would see limit errors when I browsed the console and have yet to see one

[2016-03-21 11:33] wojtek-t commented on #22262
Getting back to it - we are out of 1.2 work, so it's time to get back to it.
Let me write few comments about it.

1. I'm not sure using "controllerRef" here is the best idea - basically because we should do spreading based on different objects here (already RC, RS, Service, probably in the near future also Job, Deployment, etc.) - and I don't think we will have a "backpointer" to all of those obje

[2016-03-21 11:35] wojtek-t commented on #23263
But as we discussed a few months ago, I think the only way to make scheduler benchmark meaningfully is to get the trace of real workload or at least simulate the real world workload.

In general I agree, but we cannot have benchmark that is using different priority functions that we are using in production. So we should definitely fix at least that one.

[2016-03-21 12:03] #23268 closed

[2016-03-21 12:06] warden commented on #13511
@rootfs ping, was this somehow fixed? or some more insights are needed?

[2016-03-21 12:06] wojtek-t commented on #22262
In the meantime, I will do a quick fix by parallelizing these computations, which seems pretty easy to do with recent changes introducing schedulercache done by @hongchaodeng

[2016-03-21 12:23] jadhavnitind commented on #23120
I tried to create another manual yaml file and its working fine for now.

root@standalone-kubernetes:~# /usr/local/kubernetes/cluster/kubectl.sh exec -it testtomcat-7qd12 /bin/bash
root@:# echo $DB_USERNAME
testdb
root@:# echo $DB_PASSWORD
nG145849p8R484yS
root@:#

[2016-03-21 12:29] rootfs commented on #13511
@warden @onorua as explained in [another issue](https://github.com/openshift/origin/issues/6070), need to create a service [like this](https://github.com/kubernetes/kubernetes/blob/master/examples/glusterfs/glusterfs-service.json) to associate gluster's endpoints so they won't get lost.

[2016-03-21 12:36] zhulinhong opened #23275 "The volumes config of rbd issue"
I want to use the volumes rbd config to  mount the folder on ceph images .
But it seems the container mount a host path.

I used the daemon of "https://github.com/kubernetes/kubernetes/tree/master/examples/rbd".
The pod and container start successfully.

 - I use the "docker exec " login the container and watch the /mnt folder.
[code]
 - And then I watch the host path that mount on the ceph. The `

[2016-03-21 12:39] justinsb commented on #22535
Yes .. worked on it this weekend & continuing working on it today.  1.2 => >1.2 should be easier because we're on the "standard" GCE approach now, but 1.1 => 1.2 is harder sadly...

[2016-03-21 12:54] rootfs commented on #13511
@yujuhong any insight? I think the problem is that when kubelet is killed, the mountpoints are also gone. This is in 1.1.1 code.

@onorua @warden: i don't see you were using persistent volume, correct me if i am wrong.

[2016-03-21 12:55] antoineco opened #23276 "Rolling-updates timing out since v1.2.0"
Rolling-update tasks which worked since v1.0 are now getting stuck mid-way since v1.2

I'm rolling a multi-container pod from `sidekiq-rollout` to `sidekiq`. The target number of replicas is 4. The first 2 pods are rolled correctly, but the job hangs and times out (5min) after the first 2 iterations:

[code]

[code]

Controller manager logs:

[code]

Note the time it took to scale down `sidekiq-ro

[2016-03-21 13:08] csandanov commented on #23253
Thanks for the reply. My answer to your questions:

* I can't reproduce it even on servers in the same datacenter (Toronto 1) with similar pods (containers are the same, code is different)
* I still have the original server with this bug, I can't reproduce the freeze, but I can reproduce high CPU usage spikes
* I run pods consisting of 3 containers: nginx+php-fpm, maria db and redis.
* Nothing spe

[2016-03-21 13:14] BrianHicks opened #23277 "Incomplete sentence in changelog"
The [changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md) says this about the new GUI:

It does not what? Seems important!

[2016-03-21 13:34] wojtek-t opened #23278 "Introducing protobuf tags changes behavior api.ObjectMetaFor"
After running protobuf generator some unit tests are not passing, e.g.: TestAnnotateObjectFromFile

I did some debugging and the issue is basically, that (at least in this particula case):
  api.ObjectMetaFor(&v1.Pod{})
returns:
  unexpected error: couldn't assign/convert *v1.ObjectMeta to *api.ObjectMeta

The reason for that is that:
https://github.com/kubernetes/kubernetes/blob/master/pkg/runtim

[2016-03-21 13:35] wojtek-t commented on #8132
Ref #23278

[2016-03-21 14:05] therc commented on #23174
It's funny. I used Ansible to do our own thing at my company, because it's what the old infrastructure relied on. I wanted to try switching to the standard Salt scripts, because I didn't want to keep maintaining our custom setup and I had read that Salt was faster, etc. We run Kubernetes on CoreOS on AWS and the lack of Python on hosts is problematic for Ansible. That said, I still would be unlike

[2016-03-21 14:11] ernoaapa commented on #20799
:+1: Spend multiple days on trying to figure out why I cannot balance traffic properly until now found out this!

[2016-03-21 14:17] zmerlynn commented on #23233
It actually does have a test: https://github.com/kubernetes/kubernetes/blob/4e29c580a8e274875f442be9d97a45baf1139aa8/test/e2e/addon_update.go

[2016-03-21 14:25] zmerlynn commented on #23233
It can't run on CoreOS for multiple reasons, which are all unrelated to this script. The fact that it's shell and python is *because* it's Salt-only.

If you're going to crack this nut for both CoreOS and Salt-based, the problem is that you need to flow the add-on configuration from somewhere. We've just started to have the right machinery for that, barely, but we still don't have a central author

[2016-03-21 14:36] mrezaei00 commented on #23055
@bgrant0607 thanks for the link. Once the feature is merged, is there a way to use it before its released, i.e. beta testing, etc.

[2016-03-21 14:40] zhouhaibing089 commented on #23273
@Yzord You should use code block instead of the quote grammar.

[code]

I feel that the code you pasted is not well aligned, maybe fixed like this:

[code]

[2016-03-21 14:48] zhouhaibing089 commented on #23269
Haven't read in detail, one thought here, using `ReplicaSet` instead of `ReplicationController`maybe better, this is not the key point though. :)

[2016-03-21 14:49] derekwaynecarr commented on #21613
I will attempt to reproduce this now.  Thanks for the detailed report.

[2016-03-21 14:52] JeanMertz commented on #15702
I'm somewhat confused on this issue.

We are still experiencing this problem constantly (ie: `kubectl exec -it` disconnecting every x minutes):

[code]

was this only fixed in 1.2, or is this bug still present?

[2016-03-21 14:56] zhouhaibing089 commented on #23266
Yes, `http.ServerMux` implements `apiserver.Mux`, however, I am guessing that maybe it is some kind of narrowing dependency, we only need an interface `apiserver.Mux` with these only two methods, not all of the methods in `http.ServerMux`.

Kind of guessing, :)

[2016-03-21 14:57] ncdc commented on #15702
@JeanMertz there is an idle timeout in use here. If the client doesn't send any traffic to the container, or the container doesn't send any traffic back to the client for e.g. 5 minutes, the connection will be forcibly closed. Is that what you're seeing?

[2016-03-21 15:22] JeanMertz commented on #15702
@ncdc definitely not. I'm in the middle of typing a query (in this specific use-case) and suddenly I am disconnected only milliseconds after the last command typed. Colleagues of mine are experiencing the same.

[2016-03-21 15:34] derekwaynecarr commented on #21613
This appears to not be the vagrant environment from the project (or at least the one I am looking at here: https://github.com/kubernetes/kubernetes/tree/master/cluster/vagrant), what vagrant setup are you working from?

[2016-03-21 15:41] erictune commented on #14913
@jayunit100 is that PR merged?

[2016-03-21 15:51] mwielgus commented on #23271
Everything seems to be working as intended, closing.

[2016-03-21 15:51] #23271 closed

[2016-03-21 16:06] jayunit100 commented on #14913
For now the conformance tests have been updated I believe ; but I've lost track of this issue....

[2016-03-21 16:07] piosz commented on #23216
HPA part is covered by #21577

[2016-03-21 16:08] smarterclayton commented on #23278
Is that the struct tag?  Go requires it to be equal?  That's insane....

[2016-03-21 16:17] smarterclayton commented on #23278
Why in the world would the struct tag have anything to do with convertible to?

[2016-03-21 16:17] mvdan opened #23281 "Add issue and PR templates"
Hidden under two levels of docs [here](https://github.com/kubernetes/kubernetes/blob/master/docs/troubleshooting.md) coming from `CONTRIBUTING`, you have this:

[code]

It would be much better to have this as an issue template, as described here:

https://github.com/blog/2111-issue-and-pull-request-templates

Would probably be a good idea to do the same for PRs, e.g. to suggest that people sign th

[2016-03-21 16:28] cjcullen commented on #23149
Fixed by #23167

[2016-03-21 16:28] #23149 closed

[2016-03-21 16:29] jbeda commented on #22262
Forgive me for being a little out of the loop here, but the scheduler knowing about services and RCs seems to actually be a leaky abstraction. Ideally there should be nothing special about RCs and Services at this layer.  Are there going to have to be similar hacks in the scheduler for peers to RCs as they come out?  What if someone isn't using the k8s definition of services but instead rolling th

[2016-03-21 16:31] jbeda commented on #1111
@thockin -- who was the "interested in finishing" pointed at?

[2016-03-21 16:43] gmarek commented on #22262
It's not clear to me that the scheduler don't need to know about RCs or Services. We need to spread pods from a single X, and it's not clear that we want to spread by label selector alone.

[2016-03-21 16:46] csandanov commented on #23253
I contacted DigitalOcean support – they migrated my droplet to another less populated hypervisor. Looks like it helped. I will keep an eye on the droplet for some time and if it remain like this I will close this issue. Btw, ksoftirqd is still in the top. Thanks.

[2016-03-21 16:47] jbeda commented on #22262
@gmarek I'm suggesting that we make this more explicit.  For example, perhaps have a set of labels (on the namespace) that are "spread keys".  Have these be set to something sane by default and have all of the RC examples use those keys.  Perhaps even have the RC automatically apply one of those keys.

Then have the scheduler key off of *that*.  That way the scheduler only knows about labels but n

[2016-03-21 16:57] smarterclayton commented on #15952
This is fixed, forgot to close

[2016-03-21 16:58] bks7 commented on #21613
It's our own vagrant environment. If you need more details I can provide it. Actually problem is not vagrant specific, we have the same problem on bare metal, aws installation. We deploy kuberenetes using own puppet modules.

[2016-03-21 16:58] smarterclayton opened #23282 "test-go.sh fails on macs in cAdvisor because inotify lib isn't available for non-linux"
[code]

Looks like a test case is missing a tag for linux only.

[2016-03-21 16:59] deads2k commented on #21577
I'd like to see the group, version, resource reference in `ScaleRef` properly handled by the HPA controller.  Right now, its assuming that it can convert statically from `Kind` to `Resource`, which is wrong.

[2016-03-21 16:59] ncdc commented on #15702
@JeanMertz where are you running Kubernetes? GCE? GKE? Elsewhere?

[2016-03-21 17:03] andrewmichaelsmith commented on #18174
I'm also hitting this issue, handing over `--api-servers` to the kubelet doesn't actually make the kubelet use all the api-servers (just the first one, it seems).

I also tried to do this using kubeconfig (which works for the scheduler and the controller-manager) but that doesn't work either ("No api server defined - no node status update will be sent.").

As others say - the reason I'd like to do

[2016-03-21 17:03] smarterclayton commented on #23282
Looks like the runc additions also fail (after I comment this out):

[code]

[2016-03-21 17:06] roberthbailey commented on #23201
@bryk It wasn't an issue with kube-ui because that UI was read-only.

[2016-03-21 17:08] deads2k commented on #23201
If the UI displayed secrets, then that would allow escalation via service account tokens.

[2016-03-21 17:19] smarterclayton commented on #15952
No wait, it's not fixed:

[code]

on Go 1.6

[2016-03-21 17:20] smarterclayton opened #23283 "TestDeepHashObject fails on Go 1.6"
[code]

[2016-03-21 17:21] roberthbailey commented on #23201
@deads2k kube-ui pretty basic and doesn't show secrets:

<img width="1431" alt="screen shot 2016-03-21 at 10 12 12 am" src="https://cloud.githubusercontent.com/assets/7751204/13927342/9ae7c330-ef4e-11e5-9456-9675407bbe28.png">

[2016-03-21 17:21] caesarxuchao opened #23284 "Remove pkg/storage's dependency on pkg/api/errrors"
Forked from #22965. pkg/storage should emit errors defined in pkg/storage/errors.go rather than the ones defined in pkg/api/errors. We should add a .import-restrictions to enforce the rule.

cc @lavalamp

[2016-03-21 17:22] mikedanese commented on #19152
Let's fold this into #18174

[2016-03-21 17:22] #19152 closed

[2016-03-21 17:22] #22672 closed

[2016-03-21 17:23] cjcullen commented on #20938
#22336 took care of this.

[2016-03-21 17:23] #20938 closed

[2016-03-21 17:25] huggsboson commented on #23197
@fgrzadkowski No problem!  It took me 3 seconds to try the change you suggested and realize it was broken, and also helped cement my understanding for how the directory is used.  The clearing the directory has fixed all of my issues, you can see the whole script at:
https://github.com/huggsboson/docker-compose-kubernetes/blob/SwitchToSharedMount/kube-up.sh

The lines for clearing are:
[code]

[2016-03-21 17:25] gmarek commented on #22262
I like the idea of spread-by label keys. I'm afraid that it's not backward compatible though... @bgrant0607

[2016-03-21 17:28] jbeda commented on #22262
For back compat, I'd do something like create "invisible/hidden/automatic" spread-by labels for RCs and Services as they stand in addition to explicit.  The scheduler can then be moved to only pay attention to labels.

[2016-03-21 17:36] quinton-hoole commented on #20461
Why closed?  It seems that we still need to do #1 in the original issue description above?

[2016-03-21 17:37] AdoHe commented on #23284
I have did something about storage, will take a look.

[2016-03-21 17:42] bprashanth commented on #19333
Now that 1.2 is almost out the door we should focus on nailing this. There are several ingress controllers that you can draw inspiration from:
https://github.com/kubernetes/contrib/tree/master/ingress
https://github.com/kubernetes/contrib/tree/master/service-loadbalancer

And a few out there in the wild.

The easiest way to express SNI would be as mentioned above (https://github.com/kubernetes/kub

[2016-03-21 17:46] AdoHe commented on #23273
Please always make sure yaml file is validate, especially the difference between map and array.

[2016-03-21 17:47] timstclair commented on #23255
@vishh - Do you think it makes sense to disable collecting disk usage for read-only filesystems?

[2016-03-21 17:49] Yzord commented on #23273
How can i check something like that?

[2016-03-21 17:53] spxtr commented on #20461
We did b) `NUM_NODES_PARALLEL` has been removed from Jenkins configs.

[2016-03-21 18:00] hongchaodeng commented on #15952
Can you change the title with "test fails with Go 1.6"

[2016-03-21 18:04] aledbf commented on #19333
Two or more certificates implies that only SNI capable clients can access the server (at least in haproxy and nginx)

Which port is going to be used to expose each tcp service?

[2016-03-21 18:04] eosrei commented on #1111
@jbeda Good chance it was me.

@thockin I want to, but I'm in the middle of a few other projects and can't right now.

[2016-03-21 18:05] liggitt commented on #23028
as we build integrations to the node api from other components, don't forget the potential need for things using the kubelet API to be able to provide auth (client cert or bearer token, etc).

[2016-03-21 18:07] quinton-hoole commented on #23269
@mfanjie Thanks for this.  I still need to got through your sequence diagram in detail, but first I'd like to address a few elements of the higher level design in the mean time:

1. As far as I understand, the number of replicas created across all clusters in this proposal will be the requested number of replicas, times the number of clusters specified in the cluster selector (or all clusters, if

[2016-03-21 18:09] zmerlynn commented on #23117
I'm not sure this is the right fix. We should be right-sizing masters so this doesn't happen in the first place rather than papering over the problem when we hit it.

[2016-03-21 18:10] bgrant0607 commented on #23055
@mrezaei00 Yes, we build alpha releases every 2 weeks.

[2016-03-21 18:11] bprashanth commented on #19333
If you want to actually terminate the tls connection at the lb using SNI, your Ingress will need a list of matching certs too. But haproxy supports SSL routing which you can express without a TLS section (right?).

I think that's a non-SNI tcp question. We should discuss that on the tcp bug (which I'm yet to file).  For SNI it's safe to assume :443 right?

[2016-03-21 18:12] aledbf commented on #19333
@paultag > but that's exactly right, I'd love to be able to do that based on SNI to allow svc to do TLS termination :)

I asked exactly the same thing here https://github.com/openresty/lua-nginx-module/issues/612

I tried that but basically you need to write a proxy that routes the traffic inspecting the server name. Doing that you end with a man-in-the-middle "attack" (from the perspective of the

[2016-03-21 18:17] aledbf commented on #19333
ok, so all the Ingress TCP services share the same port? (that might sound weird, one port for many services)

[2016-03-21 18:20] huggsboson commented on #4869
@fgrzadkowski I have it so I can run with either --containerized (and /var/lib/kubelet:rw) or without --containerized (and /var/lib/kubelet:shared).  I did a test of --containerized first with docker 1.10.3 and kube 1.2 with the downward api, like so:
[code]

env produced:
[code]

[2016-03-21 18:20] mikedanese commented on #23233
Even if it's not the complete solution, we will get a lot of mileage on systems like coreos by moving the update manager into a static pod(#9469). Instead of having to rewrite the entire addon management suite, they will only have to figure out distributing the addon configs.

[2016-03-21 18:22] maisem commented on #23281
cc @johndmulhausen

[2016-03-21 18:23] bprashanth commented on #19333
I think such a proxy would be really useful (whether written as a simple go proxy or using haproxy). I also think for an MITM attack we'd need to decrypt and re-encrypt, the SNI router should just act as a tcp proxy muxed on SNI hostname.

Currently, :443 is assumed unless you put more information into the annotations. This makes the non-SNI tcp use case a little hard.

We discussed exposing ports

[2016-03-21 18:30] spiffxp commented on #14913
PR coming soon for this, I'm trying to confirm the tests pass as documented across at least 2 different providers.  I'd really like to get rid of `conformance-test.sh` if possible

[2016-03-21 18:33] Lukasa commented on #19333
No you don't.

The SNI extension is provided in the ClientHello TLS record, which is not encrypted in any way. The client sends this before it sends any data, and so the SNI proxy does not need to have any knowledge of the server's private keys or any ability to insert itself into the encryption handshake.

(I should note that session resumption might make this tricky, but you can get around that

[2016-03-21 18:39] wojtek-t commented on #23278
Is that the struct tag? Go requires it to be equal? That's insane....

I agree, but that's what I see in the Go code:
https://github.com/golang/go/blob/f2772a49353e09e4e00121ca4e538a3b3302a1de/src/reflect/type.go#L1410

[2016-03-21 18:39] paralin commented on #23117
@zmerlynn in the same note I would rather not have the master go unresponsive, wrong size or not.

[2016-03-21 18:42] zmerlynn commented on #23233
The actual pod-vs-daemon is mostly a distribution detail, to to be honest, and doesn't change what I was saying in https://github.com/kubernetes/kubernetes/issues/23233#issuecomment-199312020 (you can, in fact, distribute the existing script as a pod, even, and it doesn't change anything). You still have to get the addon config to the pod somehow. In a unicorns-and-rainbows world, it would just qu

[2016-03-21 18:48] lavalamp commented on #23104
I agree with Brian-- but you should also hash a few known-immutable fields
like UID to make sure you detect delete-and-recreate. Hashing the entire
object is probably going to break like this every release :/

On Fri, Mar 18, 2016 at 6:16 PM, Brian Grant <notifications@github.com>
wrote:

[2016-03-21 18:51] liggitt commented on #23104
I thought this was in the case of static pods, which don't have a UID, and the hash was being used to compute a UID (https://github.com/kubernetes/kubernetes/issues/23104#issuecomment-198114436)

In that case, the UID won't be immutable

[2016-03-21 18:53] lavalamp commented on #23104
I was referring to pods from apiserver. Static pods shouldn't have the same
problem, because you can read them without applying defaults.

On Mon, Mar 21, 2016 at 11:51 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-03-21 18:55] liggitt commented on #23104
Am I misreading this issue, then?

Agree that immutable field (pod UID) plus hash of known mutable container fields (currently just image) should be sufficient for pods from the API server

[2016-03-21 18:58] lavalamp commented on #23104
Yes, if you read all of the discussion, it was an issue for pods from the
apiserver also. :)

On Mon, Mar 21, 2016 at 11:55 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-03-21 18:59] bprashanth opened #23291 "Ingress and TCP"
This is more of an open question, should we teach the Ingress about TCP?

If we fold TCP into Ingress:
- Everything in the Ingress is about entry into the cluster
- Everything in the Service is intra cluster (ips, algorithms, affinity etc)
- Type=NodePort will continue to be an escape hatch for Services

This would enable us to leverage the Ingress for things like SSL routing (https://github.com/k

[2016-03-21 19:00] bprashanth commented on #19333
Filed: https://github.com/kubernetes/kubernetes/issues/23291

[2016-03-21 19:21] vishh commented on #23255
@timstclair: Yes. It does make sense.

[2016-03-21 19:24] vishh commented on #23255
@timstclair: Read-only filesystem is only one kind of pitfall. We are currently vulnerable to any container that mounts the root filesystem. We need to ideally ignore mounts while calculating disk usage.

[2016-03-21 19:26] vishh commented on #23255
Filed https://github.com/google/cadvisor/issues/1173

[2016-03-21 19:35] dmcnaught opened #23292 "/etc/kubernetes/bootstrap fails if there are no ephemeral volumes (1.2, AWS)"
I copied the launch config for the k8s cluster (v1.2) and changed the instance type from c3.2xlarge to m3.xlarge. bootstrap fails due to no ephemeral volumes:

[code]

justinsb on Slack: I think this needs to go into my kutil tool....
I think you have two options:
1) Figure out how to do this with the awscli (no AWS console).  Including mapping the blockdevicemappings
2) Bug me every day until I p

[2016-03-21 19:55] gy8 commented on #23292
+1

[2016-03-21 19:55] nikhiljindal commented on #23231
cc @janetkuo @bgrant0607

[2016-03-21 19:56] nikhiljindal commented on #23231
Added to milestone 1.2 since we will need to cherrypick the fix.

[2016-03-21 20:08] hongchaodeng commented on #22262
@jbeda 's idea is also good for caching results.

I have a rough plan in my mind to optimize spread calculation like this:
[code]

If I'm right about this simplified version, the complexity is O(nodes). A huge move for scale perspective. Maybe we should talk about this in scale meeting :)

[2016-03-21 20:09] bgrant0607 commented on #23231
Will consider it.
cc @madhusudancs

[2016-03-21 20:09] mfanjie commented on #23269
@quinton-hoole thanks. What you described was my previous thought, saying replicas = 8 and cluster number is 3, the scheduler should split the 8 replicas to 3 clusters. But my mind was changed after I had call with @huangyuqi . As if we go this way, the logic will be much more complex, so I raised it here to discuss if it is possible to simply clone to federation RC, otherwise we need to consider

[2016-03-21 20:13] mikedanese commented on #5754
As an alternative to this API, @jdef proposed using SRV, and TLSA records.

cc @quinton-hoole who was advocating DNS over a custom service.

[2016-03-21 20:14] nikhiljindal commented on #23276
@antoineco Can you please share the exact command you are running that leads to timeout?

cc @janetkuo

[2016-03-21 20:16] roberthbailey commented on #5754
@jdef Can you expand on that a bit? Would each cluster have it's own set of records, and thus it's own unique domain name?

[2016-03-21 20:17] dmcnaught commented on #23292
adding ephemeral storage to the new launch config in aws console works (after changing the instance type) - so as long as the instance has ephemeral storage it looks ok.

[2016-03-21 20:23] mikedanese commented on #5754
I think we could trim this proposal down or find a way to break it up to focus on the problem domain:

* Nodes find the API.
* Nodes trust the API.

and separate the bits:

* API trusts the node. (covered by #23172)
* Bring up a control-plane.

This greatly reduces the scope of the project. IIUC, @jdef proposed SRV/TLSA as a solution to the smaller problem domain.

[2016-03-21 20:23] antoineco commented on #23276
I first get the current RC definition in YAML format, replace the image and `deployment` label, and finally pass it to:

`kubectl --rolling-update --update-period=0s api-rollout -f -`

[2016-03-21 20:33] liljenstolpe commented on #19972
There's another paper in this space (related, anyway), with the nice benefit of not requiring integration with the intermediate switching points.  It basically allows any given workload to trade-off jitter and/or latency against bandwidth requirements.

https://www.usenix.org/system/files/conference/nsdi15/nsdi15-paper-grosvenor.pdf

[2016-03-21 20:38] davidopp commented on #22797
Please hold off on doing it until I discuss with Brian. I definitely don't think this is a good policy.

[2016-03-21 20:40] pwittrock commented on #21605
#23293 #23289

[2016-03-21 20:56] caesarxuchao opened #23297 "Stop UID defaulting in ValidateObjectMetaUpdate"
When handling PUT request, if the UID field is empty in the new object, API server defaults the UID of the new object to that of the existing object: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L344-L346

This was introduced to fix #14126 from the server side. A client-side fix is introduced in https://github.com/kubernetes/kubernetes/pull/15268.

I think

[2016-03-21 20:58] vishh commented on #23282
Builds on Mac are supposed to not attempt to build cAdvisor and instead use the stub.

[2016-03-21 21:03] ixdy commented on #23221
cc @kubernetes/sig-testing

[2016-03-21 21:11] ixdy commented on #23221
Not sure if there's an easy way to automatically detect the OS distribution from a running cluster. I guess we could add a flag to `test/e2e/e2e.go` that's set in `hack/ginkgo-e2e.sh`.

[2016-03-21 21:15] miguelfrde opened #23298 "Cross-region ECR support"
I’m having trouble to pull images from ECR on K8S 1.2. Before I was doing it with the imagePullSecrets field, but now I wanted to try the [new feature](http://kubernetes.io/docs/user-guide/images/#using-aws-ec2-container-registry) which sadly didn't work.

The policy for the minion IAM role I have looks just like the one on the [template](https://github.com/kubernetes/kubernetes/blob/master/cluste

[2016-03-21 21:15] andyzheng0831 commented on #23221
I had thought about that before. But it seems that the machine running e2e should differentiate it, as it runs commands in remote vms of a cluster. A cluster knows which os distro is in use seems not adequate.

[2016-03-21 21:17] quinton-hoole commented on #23269
@mfanjie As I mentioned, in phase 1, just create all replicas in one cluster (and yes, you can just use cloning, as you suggest). In a later phase we will consider spreading across more than one cluster, and yes, in that case, unequal numbers of replicas will potentially be created in each cluster.

[2016-03-21 21:18] ixdy commented on #23221
Well, I mean it would be nice if the e2e test infra could query the cluster under test, rather than requiring the user running the e2e tests to supply that information. We already do this with cluster versions, for example.

[2016-03-21 21:19] stefansedich commented on #23187
Not sure if the same issue but under OSX and on the second boot after a `vagrant halt` I am getting stuck on "Validating master", I had tried to kube-push as suggested elsewhere but had no luck, I can only get back up and running with a destroy and start.

[2016-03-21 21:22] a-robinson commented on #23195
We'll have to work out the specifics, but I'd be a huge fan of making it more configurable through file includes or environment variables. Would you be up for figuring out a proposal?

As an (out of date) example of one option, last year I crafted [fluentd images](https://github.com/kubernetes/contrib/tree/master/logging/fluentd-sidecar-gcp) that could be used as sidecar containers in pods by spec

[2016-03-21 21:24] andyzheng0831 commented on #23221
That sounds reasonable and doable, I think. There is an env variable OS_DISTRIBUTION (https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L38) and we can add it in the kube-env file in function build-kube-env (https://github.com/kubernetes/kubernetes/blob/master/cluster/common.sh#L454), and the test infra can query this variable.

[2016-03-21 21:25] liggitt commented on #23297
in general, UID has been defaulted on update server-side since 1.0 (events were just not going through the common code path which accomplished that). I wouldn't change that now.

[2016-03-21 21:26] mikedanese commented on #23218
I'm not convinced this is necessary to do for deployment. Shouldn't this validation:

https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/validation/validation.go#L705-L707

Prevent a deployment from rolling forward to a replicaset with a `{}` label selector?

[2016-03-21 21:27] liggitt commented on #23297
I don't mind moving defaulting out of the validation step, but I still want defaulting to occur server side (possibly in a common PrepareForUpdate impl?)

[2016-03-21 21:32] vishh commented on #22984
@AdoHe: Yeah.

[2016-03-21 21:32] maisem opened #23299 "e2e flake: gsutil cat fails with a 503"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/13616/ failed with
[code]
subsequently https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/13617 passed

[code]

Maybe we need to retry here?

[2016-03-21 21:35] a-robinson commented on #22537
I'd be very interested in that new setting.

Last time I tried rebuilding the fluentd-es image (pulling the latest fluentd build, as you observed from the Dockerfile), it would just crash-loop because the kubernetes_metadata_filter plugin didn't like that it couldn't reach the apiserver, and I didn't have time to dig into fixing it.

You should be able to build the image and push it to a different

[2016-03-21 21:37] timstclair commented on #22193
What sort of documentation are you looking for? The parameters are already documented in the [API reference](http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_probe), and these are advanced features which I'm not sure belong in the user guide examples.

[2016-03-21 21:39] spiffxp commented on #23221
There are a couple of assumptions here, not just that the cluster is deployed as a specific set of named services on a particular OS, but also that SSH access to the cluster under test is even available.  This is particularly apparent when you try to run e2e tests on a cluster deployed with something other than `e2e.go` or `kube-up.sh`.

All that to say that keying off of OS distribution probably

[2016-03-21 21:39] 2opremio commented on #17406
We are experiencing the same problem with Weave Scope. We are using env variable expansions to work around it, but it's a hack because it imposes a specific deployment order.

See point (5) of https://github.com/weaveworks/scope#using-weave-scope-with-kubernetes and https://github.com/TheNewNormal/kube-charts/blob/07a2fd485c7183e4a5bb5630724d7dd03ed1767c/weavescope/manifests/scope-probe-ds.yaml#L2

[2016-03-21 21:40] maisem commented on #21484
Seems to have happened again
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/3092/

[2016-03-21 21:42] smarterclayton commented on #5754
SRV/TLSA is complicated to do in many non cloud environments.  Zone
files are tightly controlled.  It's nice as an option.

[2016-03-21 21:43] sjpotter opened #23300 "rktnetes can't run k8s guestbook frontend"
This is both a rkt bug and a k8s bug in terms of the image used for this app.

https://github.com/coreos/rkt/issues/2300

The best approach might be to change the image to not depend on being able to open /proc/self/fd/2 but to use apache's pipe log syntax to just fork a process that writes to it's stderr.

[2016-03-21 21:45] andyzheng0831 commented on #23221
I see. I did not mean to cover all of these cases when logging this issue.
The major motivation is to make the known failed test cases work on trusty,
as it has an assumption that kube-addon service is running in debian. We
used to be able to blacklist a known failed test, but the new e2e framework
seems not support it any more. So, we see the same test case failing in our
jenkins every 8 hours

O

[2016-03-21 21:47] lavalamp opened #23301 "kubectl documentation: generate .yaml files"
Just putting our current documentation in the form of yaml would make it much easier to get nice documents. We already generate .man files and .md, so this shouldn't be too much work.

[2016-03-21 21:50] lavalamp opened #23303 "API documentation: convert swagger spec into yaml (to make life easier for humans producing the documentation website)"
Yaml is more readable. This would also include copying our swagger spec over to the new docs repo.

[2016-03-21 21:53] philips commented on #23011
cc @steevej @jonboulle

[2016-03-21 21:53] philips commented on #23011
cc @steveej @jonboulle

[2016-03-21 21:54] dhawal55 opened #23304 "Reconsider default value for DeploymentSpec.MaxUnavailable"
I'm exploring the new `Deployment` resource in Kubernetes 1.2 and it seems it is not quite correct. It scales down the old replica set before scaling up for the new set. This is inconsistent with the rolling-update command which waited for new replication controller to scale up successfully first. As a result, deployment resource cannot be used for zero-downtime deployment in case of a single repl

[2016-03-21 21:55] johndmulhausen commented on #23303
:+1:

[2016-03-21 21:56] johndmulhausen commented on #23301
I suppose this would also go for kube-apiserver, kube-proxy, kube-scheduler, kubelet, and kube-controller-manager.

[2016-03-21 21:57] gtank commented on #5754
Agree that DANE probably isn't what we want to rely on here. I have no objection to supporting it, but it is a complex dependency for a feature that should make clustering easier.

[2016-03-21 21:58] #16049 closed

[2016-03-21 22:00] gmarek commented on #22262
We're having too many sigs working on the same thing...

[2016-03-21 22:02] caesarxuchao commented on #23297
Agree we cannot remove the defaulting if it has been there since 1.0.

I think it's fair if the user doesn't provide the UID in the new object, the API server won't guarantee the update is applied on the expected object.

[2016-03-21 22:10] dhawal55 commented on #23304
After little exploring, i found that this can be fixed by setting spec.strategy.rollingUpdate.maxUnavailable to 0. Probably, the default value should be 0 instead of 1.

[2016-03-21 22:12] lavalamp commented on #23301
Yeah, we use the same mechanism for all of those components. kubectl is the most important, though.

[2016-03-21 22:12] jimmidyson commented on #22537
I'm looking at that now.

BTW the workaround for the `Cannot get new connection from pool` error is detailed [here](https://discuss.elastic.co/t/elasitcsearch-ruby-raises-cannot-get-new-connection-from-pool-error/36252/10) - set `reload_connections false` in the Elasticsearch plugin config.

[2016-03-21 22:17] JeanMertz commented on #15702
GKE

[2016-03-21 22:27] maisem commented on #23292
cc @justinsb

[2016-03-21 22:38] #23087 closed

[2016-03-21 22:39] JeanMertz commented on #15702
I also noticed another downside to this:

Whatever we are doing using `exec` at the time of the disconnect keeps running in the background: meaning we sometimes use a console program to enter our production code, which consumes some amount of memory inside the pod. After a day of disconnects, we have 20 to 30 running unused consoles , and a pod that has reached is memory limit, degrading performan

[2016-03-21 22:39] jimmidyson commented on #22537
@a-robinson I've just rebuilt a new version of the Docker image we use for our fluentd Kubernetes logging to ES & all works fine without any changes. Here's the [source repo](https://github.com/fabric8io/docker-fluentd-kubernetes). Happy to take a look at what's happening for you if you can send on logs, Dockerfile, etc (link above doesn't work btw).

[2016-03-21 22:39] janetkuo commented on #23231
Filed #23305 to further update kubectl help docs for 1.2.

[2016-03-21 22:46] Morriz commented on #22433
I got this:
[code]

[2016-03-21 23:12] sjpotter opened #23307 "Unknown metrics in ControllerManager"
Running the [k8s.io] MetricsGrabber [It] should grab all metrics from a ControllerManager against rktnetes and it prints out

[code]

and then errors out because they are unexpected I guess?

[code]

[2016-03-21 23:12] gtank commented on #18112
Just to update everyone: design discussion is ongoing at #20439 and I should have a POC ready soon.

[2016-03-21 23:25] maisem commented on #23127
Timed out again
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/9953/

[2016-03-21 23:33] quinton-hoole commented on #22077
@davidopp I started this and it's slightly more complicated than I thought, because the scripts that build e2e test clusters need to be extended slightly to build multi-zone clusters.  It's WIP, but I have a few higher priority things happening this week.  Hope to get back to it next week.

[2016-03-21 23:50] a-robinson commented on #22537
I haven't tried it recently, so I'm happy to trust that it works for you.

And sorry about the link above, I've fixed it now.

[2016-03-21 23:53] thockin commented on #8190
NIT:

[code]

field and JSON should not have "PersistentVolume" in them

[2016-03-21 23:56] pwittrock opened #23309 "node container runtime conformance test to check container runs before exiting"
container conformance blackbox test -> it should run successfully to completion [Conformance]

Should check the container enters a running state before exiting

[2016-03-21 23:59] alex-mohr commented on #23028
FWIW, looks like on GCE that nodes can report as healthy even if the route controller has not yet fully programmed their route into GCE's network.  Unsure if that warrants a separate issue or should be solved control-plane side by unioning node-reported readiness with environment-of-node-readiness?

[2016-03-22 00:04] colemickens opened #23310 "Should master kubelet register itself?"
It looks like there are now two registration flags. One to register the node, the other to register it as schedulable. I currently have the master kubelet configured to register itself, but not register as schedulable.

This works, but during `validate-cluster.sh` there is a non-fatal, but red-colored output line that indicates there are too many nodes.

What is the recommendation?

1. Don't regis

[2016-03-22 00:06] bgrant0607 commented on #21648
@ncdc I didn't see this on your 1.3 list. Should it be on the list?

[2016-03-22 00:06] lavalamp commented on #23297
This is a tough one for me. I'd argue that we should make it hard for users to do the bad thing of clobbering a resource they didn't intend. On the other hand, I don't want to break existing clients.

At least we can say, if they *do* provide a UID, we should treat that as a precondition.

[2016-03-22 00:12] liggitt commented on #23297
Agree that a mismatched UID should fail update

[2016-03-22 00:27] janetkuo commented on #21648
Yes we can chain `kubectl label` and `kubectl annotate` with -o yaml.

[2016-03-22 00:27] yujuhong commented on #23310
[validate-cluster.sh](https://github.com/kubernetes/kubernetes/blob/9845639e143223ff73c05f8e8f6a9256dd228a08/cluster/validate-cluster.sh#L40) should expect N+1 nodes if you set your register your master node.

[code]

Did you set REGISTER_MASTER_KUBELET (which actually defaults to true)?

[2016-03-22 00:30] colemickens commented on #23310
No. That's my issue. Thanks!

[2016-03-22 00:30] #23310 closed

[2016-03-22 00:40] ncdc commented on #21648
@bgrant0607 it wasn't originally, but I will discuss it with my team and see if we can fit it in.

[2016-03-22 00:42] bgrant0607 commented on #10495
We should create more specific issues for additional commands.

[2016-03-22 00:42] #10495 closed

[2016-03-22 00:44] thockin commented on #23273
This was validated - the errors came from validation, and they were both indenting errors (yay YAML!)

[code]

[2016-03-22 00:45] thockin commented on #23273
Closing this as a support issue.  Support issues are better handled on Slack or StackOverflow.

[2016-03-22 00:45] #23273 closed

[2016-03-22 00:54] mikedanese opened #23314 "opencontrail networking minion and master should run in a DaemonSet"
And should be managed as an addon in salt or should be managed outside of salt

cc @kubernetes/goog-cluster @thockin

[2016-03-22 01:04] therc commented on #23195
I can write a proposal, but I know almost nothing about fluentd and even less about Ruby. For simple substitution, I had thought of scripting the creation of files at startup with Bash, e.g. a bunch of
[code]

Your example is already more advanced than that. It does answer a few of my questions, though. Thanks! Let's see what I can come up with.

[2016-03-22 01:42] janetkuo commented on #23276
@antoineco Were you able to reproduce this consistently (i.e. this always fail)?

[2016-03-22 01:49] zhulinhong commented on #23275
@krousey

[2016-03-22 01:55] ixdy commented on #23268
The issue is that `hack/update-godep-licenses.sh` looks for remote files at `master`, so this is going to keep failing.

We should probably use the revision we've specified in the Godeps instead. This is an easy fix.

cc @david-mcmahon @karlkfi @eparis

[2016-03-22 01:57] antoineco commented on #23276
Yes, 100%. It eventually goes through if I increase the timeout but I still have to wait a couple of minutes between each container.

I switched this deployment task to the `deployment` API with the Rolling-update strategy and it's extremely fast.

[2016-03-22 02:07] janetkuo commented on #23276
@antoineco Yes, we'd recommend using [`Deployment`](http://kubernetes.io/docs/user-guide/deployments/) since it's faster, declarative and has more features, such as you can rollback to a previous reversion even when the rollout/rolling-update is done.

When you're using `kubectl rolling-update`, is it possible that there are overlapping resources fighting with `kubectl rolling-update`, such as rep

[2016-03-22 02:08] ixdy commented on #23268
... though I'm realizing that several of packages didn't have LICENSEs at the version we've imported. Arguably we should not have introduced them without a license.

[2016-03-22 02:10] mfanjie commented on #23269
@quinton-hoole okey, so in Phase I, we only place the RC to one of user specified clusters, for the case that use defined clusterSelector. And place the RC to any of the running clusters if no clusterSelector is defined.
About entity change.
For Federation, I agree that only ClusterSelector is need to be added, but checking the code, this property would be appropriately added to PodSpec like NodeS

[2016-03-22 02:17] ixdy commented on #23268
Looking at the code further, I think we only try to look for files at master if they don't exist in the local Godeps tree. So it's not as bad as I first thought, but it's still likely to spontaneously break.

[2016-03-22 03:03] AdoHe commented on #22984
@vishh I will add this test this week.

[2016-03-22 03:56] hurf commented on #22344
There's one thing called GFW. Private repo may be our best solution. Eagerly looking for this feature. @dchen1107 @Random-Liu

[2016-03-22 04:09] erinboyd commented on #20262
@jsafrane How did you find this limitation? Is is through an API call that we can set this value from? Do you currently have it hardcoded? Is it possible that is could vary by the level of service you select with either provider? Just thinking forward if it's something we can call and get the value from the provider and set on each run...

[2016-03-22 04:15] smarterclayton commented on #23291
Moderately in favor.

I like ingress as the indicator of external access, since it
simplifies services.  I think it's a little wierd to leave node port
on service in this case, although it would complicate the proxy to
remove it.  I like being able to mix externalIP and NodePort to handle
VIPs, but I'd prefer externalIP under ingress status where we can
control it with authz than under spec of ser

[2016-03-22 05:19] saad-ali commented on #23098
Yep. Just updating existing documentation to point to that: https://github.com/kubernetes/kubernetes.github.io/pull/193

[2016-03-22 05:57] ernoaapa commented on #22770
:+1: Yes this is causing issues when i'm setting up from scrach. I want to use public ip as node name but cannot because apiserver uses it for communication. Would be great that I could give kubelet flags: `override-hostname=$public_ipv4` and `node-ip=$private_ipv4` and it would use the `InternalIP` for communication and display the public ip as hostname. I assumed this would work but it didn't :(

[2016-03-22 05:59] ernoaapa commented on #22770
Some closely related discussion going on in here https://github.com/kubernetes/kubernetes/issues/22063

[2016-03-22 06:28] onorua commented on #13511
In 1.2.0 the behavior is the same I believe? In case kubelet is killed all mount points are gone?

[2016-03-22 06:40] antoineco commented on #23276
@janetkuo labels are not conflicting. I have 2 other rcs in that namespace and each of them has a different `component` label (see my first comment).

Nothing has changed in that deployment procedure since Kubernetes v1.0, and v1.2 is the first version that seems to struggle.

I can post my rc definition here, just in case you can't reproduce with a generic 3-container pod.

[2016-03-22 06:42] roberthbailey commented on #23221
@spiffxp -- many of the tests (and test infrastructure) do assume the ability to log into a node. If we want to address this, we should open a separate issue, since it is a larger problem to solve (and I think relates to other initiatives like self hosting and running addons as deployments).

@andyzheng0831 - I think there is still a mechanism to blacklist a specific test if we wanted to take that

[2016-03-22 06:42] janetkuo commented on #23276
Yes, posting the RC definition would help, since I cannot reproduce it on my end. Thanks!

[2016-03-22 07:02] wojtek-t commented on #22262
Hmm - this is very interesting idea, but I'm still not fully convinced about it:

1. If we force ReplicationController (or any other controller) set some additional labels, this would be very misleading from the user perspective - a user is giving a pod template for RC specifying labels that those pods are supposed to have, and the pods that are created have some additional labels added automatica

[2016-03-22 07:47] soltysh commented on #20434
@timothysc since we have #20808 in place already, do you think this is still valid? I mean with that PR we have pretty flexible approach into managing SCC inside of openshift, agreed?

[2016-03-22 08:00] fgrzadkowski commented on #23197
@huggsboson Can send a PR to our docker instructions that would help future users? Maybe in the 'Troubleshooting` section?

[2016-03-22 08:06] fgrzadkowski commented on #4869
Sweet! We need to document this in docker.md and multinode instructions.

[2016-03-22 08:24] fuliangliu opened #23320 "kubelet failed to add host's DNS servers to pod container"
kubernetes version: v1.2
docker version: 1.8.3
os: centos 7.1

see the help doc of kubelet option --cluster-dns below:
--cluster-dns="": IP address for a cluster DNS server.  If set, kubelet will configure all containers to use this for DNS resolution  **in addition to the host's DNS servers**

I set this option to my cluster dns, **but it failed to add host's DNS servers to pod container**. it ad

[2016-03-22 08:30] piosz commented on #21577
@deads2k could you please elaborate? I'm not sure whether I understand your comment.

[2016-03-22 09:00] wojtek-t commented on #23278
@smarterclayton - any thoughts on how to proceed - my suggestions were:
- either need to generate tags also for internal types
- review all usecases of ConvertibleTo in our code and change it to our custom code

I agree that's insane in Go, but this is what already exists and we cannot change it.

[2016-03-22 09:08] resouer opened #23321 "e2e test flake: should support exec [It]"
Noticed this in #22736
[code]

This e2e test can pass in my local cluster test.

[2016-03-22 09:13] bryk commented on #23201
Yeah, abstracting from whether kube-ui was good in this matter, I agree that Dashboard UI security model is primitive and should be improved.

@erictune Can we have a meeting between @kubernetes/dashboard-maintainers and you to describe us the problem and brainstorm possible solutions?

[2016-03-22 10:01] MurgaNikolay opened #23322 "kubelet: Incorrect fallback to hairpin-mode "hairpin-veth""
Hi guys. I have issue with connecting to PODs itself via service ip.
I determined that the problem with the wrong fallback to harpin-veth.

In kubelet output I have message:

    W0322 09:27:09.399179   25899 kubelet.go:508] Hairpin mode set to "promiscuous-bridge" but configureCBR0 is false, falling back to "hairpin-veth"
    I0322 09:27:09.399219   25899 kubelet.go:380] Hairpin mode set to "hair

[2016-03-22 10:18] PradeepSingh1988 commented on #22436
@wallnerryan,
Hey, i updated my setup to `kubernetes : 1.2.0 docker: 1.10.3 flocker: 1.10.2 os: ubuntu 14.04 trusty LTS`
Basically i updated my k8 only.
I am using openstack as flocker backend.

Below scenarios are working fine:

1. I can create the POD and volume from openstack is mounting correctly in container.

2. When i power off one of my node, POD moves to another node, and volume is mounte

[2016-03-22 10:30] jsravn opened #23323 "apiserver keeps increasing in memory until it gets oomkilled"
We have a kubernetes 1.2 cluster where our apiserver keeps getting oomkilled every day or two. This is a pretty small cluster (4 nodes), and we're not sure why it only happens on this cluster. Memory usage constantly grows from less than 100MB at start to over 2GB when it will get oomkilled (the box has 4GB total ram). Restarting apiserver resets its memory usage to less than 100MB.

We have anoth

[2016-03-22 10:47] bryk commented on #23277
Hmm... That's interesting. Will fix.

[2016-03-22 11:02] MurgaNikolay commented on #23322
Fix #23325

[2016-03-22 11:16] mogren commented on #22854
I'm very interested in the "Allow to use L7 protocol, mainly because this preserves original IPs in X-Forwarded* headers", that would solve a lot of my problems

[2016-03-22 11:31] jsafrane commented on #20262
@erinboyd, AWS [[link]](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/volume_limits.html) supports only 40 EBS volumes per node, everything above this limit "is supported on a best effort basis only and is not guaranteed."

GCE [[link]](https://cloud.google.com/compute/docs/machine-types) has limit of 16 PDs, which seems to be really hard limit.

39 and 15 are hardcoded scheduler defaults, tu

[2016-03-22 12:09] deads2k commented on #21577
Take this code as a for instance: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/typed/generated/extensions/unversioned/scale_expansion.go#L37 .  It's not actually mapping from a `Kind` to a `Resource`.  That function just tries to run a `ToLower`, pluralize, and hopes for the best.  Since registration can happen with any name, that only works by luck.

You've also not explicitly

[2016-03-22 12:10] deads2k commented on #21577
@kubernetes/rh-cluster-infra @liggitt anything big still missing from the list?

[2016-03-22 12:24] soltysh commented on #23216
@lavalamp are we also removing the extensions/v1beta1 objects for the two, or that will happen in 1.4?

[2016-03-22 12:24] soltysh commented on #23216
As usual, I'll take care of the job part.

[2016-03-22 12:24] gmarek commented on #22491
And again: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-serial/834/

[2016-03-22 12:26] piosz commented on #23216
@soltysh I'm not planning to remove extensions/v1beta1 in 1.3 but only deprecate it. In 1.4 this will be removed.

[2016-03-22 12:30] soltysh commented on #23215
There are some discussion around the general topic of aliases in https://github.com/kubernetes/kubernetes/issues/18023 and https://github.com/kubernetes/kubernetes/issues/20293.

[2016-03-22 12:31] soltysh commented on #23216
@piosz thx, just wanted to make sure.

[2016-03-22 12:38] piosz commented on #22491
@ihmccreery #21664 should help. I've started working on it.

@gmarek there was a problem with network:
[code]

[2016-03-22 12:40] #22369 closed

[2016-03-22 12:40] #23277 closed

[2016-03-22 12:43] sadlil opened #23326 "Consume configMap resourceVersion in ENV or File"
can a `configMap` `resourceVersion` be mounted in a volume or in Environment variable? like `downwardAPI`.
If not could this Feature be added?

[2016-03-22 12:47] gmarek opened #23327 "Nodes are ready even if GCE routes are not created for them."
Observed in v1.2 release. Node is Ready even if route controller fails to create a route for a Node, which allows scheduler to schedule new Pods on it. Those Pods will be running, but the networking for them won't work, which makes it a bad experience for users. Node should be NotReady before route is created for it.

cc @kubernetes/goog-control-plane @kubernetes/sig-node @cjcullen @alex-mohr @rob

[2016-03-22 13:11] gmarek opened #23329 "e2e flake: Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable [replication controller] recreates pods scheduled on the unreachable node AND allows scheduling of pods on a node after it rejoins the cluster"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-serial/824/

[code]

It seems that Node failed to become running - do we plan to do something with such failures? @dchen1107

[2016-03-22 13:11] gmarek commented on #23028
@alex-mohr - IUUC this is an ubrella issue for v1.3 feature. GCE route thingy is a bug that we need to fix sooner. I filed #23327

[2016-03-22 13:18] wallnerryan commented on #22436
@PradeepSingh1988 Thanks! @mattbates and I are looking into this one, it seems this surfaces in two ways which could be seperate errors, but seem related based on initial investigations.

* When kubernetes shows error message of `Invalid bind mount spec ":/some/mount"`
* When kubernetes shows error message of  `Unable to setup mount point, neither source nor volume defined`

In both cases, it look

[2016-03-22 13:22] justinsb opened #23330 "Dynamic PVs are always created in the master zone"
When running with multi-zone (ubernetes-lite), a dynamic persistent volume is always created in the zone of the master.  It would be nice to fix this, likely through an annotation.

Brought up in code review of the docs: https://github.com/kubernetes/kubernetes.github.io/pull/140

cc @quinton-hoole @saad-ali

[2016-03-22 13:26] druidsbane commented on #23298
It seems like it currently only works on us-east-1.

[2016-03-22 13:31] rata commented on #21283
I think this just got fixed by this commit: https://github.com/kubernetes/kubernetes/commit/c0af96ccc241a9402ceeaafc73c9f57f046a64b9

[2016-03-22 14:12] jsravn commented on #23323
After some more analysis, this seems to be caused by the fact that we run jenkins slaves on this cluster which builds docker images on the node.

This has a couple effects:
 - Etcd watcher gets sent an updated minion entry much more frequently, as every build changes the list of docker images on the node.
- The etcd watcher entries  balloons in size - 170KB of data across the minions, vs ~20K for

[2016-03-22 14:46] jsravn commented on #23323
In case anyone doesn't want to download the pprof files:

normal (or not - it still has unusual patterns):
[code]

memoryleak:
[code]

[2016-03-22 14:50] PradeepSingh1988 commented on #22436
@wallnerryan , yes indeed this error is coming from docker, it seems errors are originating from below points, but not sure.

https://github.com/docker/docker/blob/master/runconfig/config.go#L56
https://github.com/docker/docker/blob/bump_v1.10.3/volume/volume_unix.go#L42

[2016-03-22 14:54] jsravn commented on #23323
It looks like this was made obvious by https://github.com/kubernetes/kubernetes/pull/18248 which exposes images on the node status (which can be a large string as it includes all docker images currently pulled on that node regardless of whether they are running).

[2016-03-22 15:03] guoshimin commented on #13892
@justinsb What is the L7 load balancer you were talking about? Is it Ingress?

[2016-03-22 15:05] thockin commented on #23330
@kubernetes/rh-storage

[2016-03-22 15:06] stevesloka commented on #22433
I just got my cluster upgraded to 1.2 and the EBS mounts seemed to work fine. I'm running on CoreOS:

[code]

[2016-03-22 15:07] jbeda commented on #22262
Regardless of the path forward here a couple of points:

* The fact that the scheduler even knows what an RC or Service are smells bad.  There are going to be usages of kubernetes that don't use either of these higher level services.  We also tell users that they could replace the RC with their own control loop and it would be just the same.  Furthermore, this is a vague requirement on any replace

[2016-03-22 15:18] pmorie commented on #22778
@macpoint I would try @jayunit100's suggestion of running the emptyDir e2es and see if you can recreate the failure that way.

[2016-03-22 15:30] therc commented on #22537
@jimmidyson it looks like your image failed to build somehow?
https://hub.docker.com/r/fabric8/fluentd-kubernetes/builds/bxmti5grn6xwzmvu66nngyx/

[2016-03-22 15:30] stevesloka commented on #23330
I'm in this exact boat now needing persistent storage with my pods. I might be able to help out since I either need to get this working across zones, or setup GlusterFS (not sure which is more work).

[2016-03-22 15:33] jimmidyson commented on #22537
@therc Thanks - saw that yesterday but can't figure out a way to retrigger the build - Docker hub builds interface seriously needs work. Will re-tag in git & see if that works.

[2016-03-22 15:36] andyzheng0831 commented on #23221
Blacklisting it is a short-term approach that can exclude the noise from our testing result. But in long-term we should have this test to catch potential breakage.

[2016-03-22 15:37] zhouhaibing089 commented on #23326
ConfigMap could be mounted both as volume or env.

As env: https://github.com/eBay/Kubernetes/blob/master/docs/proposals/configmap.md#consuming-configmap-as-environment-variables-1

As volume: https://github.com/eBay/Kubernetes/blob/master/docs/proposals/configmap.md#consuming-configmap-as-volumes

I do not know what `resourceVersion` is though. :)

[2016-03-22 15:43] therc commented on #23195
It looks like @jimmidyson's [image](https://github.com/fabric8io/docker-fluentd-kubernetes/blob/master/start-fluentd) already does a lot of that. And his currently unused [configuration file](https://github.com/fabric8io/docker-fluentd-kubernetes/blob/master/fluent.conf#L122) shows how to expand environment variables without scripting. Should we just adopt his image and build on top of that, e.g.

[2016-03-22 15:50] zhouhaibing089 commented on #23323
If this is caused by image status report, I think @yujuhong may have some thoughts.

[2016-03-22 15:52] roman-shuhov opened #23332 "[1.2] Issue with system k8s pods on master"
I got an issue with controller-manager starting from v1.2.0-beta.1 and it still persists in v1.2.0 release.

It keeps restarting pods kube-apiserver, kube-controller-manager, kube-proxy and kube-scheduler every 30s :

[code]

Age for the listed pods don't go above 30s.

[code]

If i switch controller-manager to v1.2.0-beta.0 issue dissapear.

The strange thing is that docker containers are keep ru

[2016-03-22 15:57] jimmidyson commented on #22537
Built successfully now - I assume Docker hub has a rubygems cache that was out of date & has caught up now.

[2016-03-22 16:00] therc commented on #22222
It occurred to me that if we allow to set the ES index name (see #23195 for a discussion on how to tweak fluentd configurations in general), then the administrator could tell fluentd to forward to per-cluster indices, which might be better than adding yet another field. But I'm very new to ES, so maybe the latter is still preferable to some? I'm wary of adding too many options.

[2016-03-22 16:01] philips opened #23335 "API: use cases for kubectl attach?"
In the rkt container engine integration we are trying to get full feature parity with the existing k8s API. We are very close.

The most recent snag we hit though is that rkt does not support the concept of "attach". For those who aren't familiar see the help output of `kubectl attach`:

[code]

The reason rkt doesn't support this is quite practical: for applications that are long running we attac

[2016-03-22 16:03] philips commented on #23335
cc'ing the relevant people from the historical discussions here: @davidopp @bgrant0607 @vishh @yifan-gu @spotter @dchen1107

[2016-03-22 16:04] jimmidyson commented on #22222
We actually do something similar in the OpenShift aggregated logging images, sending logs from different namespaces to separate ES indices. The fluentd Elasticsearch plugin allows that configuration now so that is all doable.

[2016-03-22 16:05] krousey commented on #23275
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-22 16:05] #23275 closed

[2016-03-22 16:07] ernoaapa commented on #23332
:+1: I have exactly same problem and not sure where to start debugging this!

[2016-03-22 16:19] smarterclayton commented on #23278
The latter seems more correct to me - generating tags for internal types
isn't really solving the problem, it's pretending it doesn't exist.  If we
are dependent on ConvertibleTo working correctly, we should probably make
it work correctly (by having an equivalent).

On Tue, Mar 22, 2016 at 5:01 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-03-22 16:19] miguelfrde commented on #23298
I just saw that ECR is now on `us-west-2` as well, so I tried putting my images there and it worked (since my cluster is on `us-west-2` as well. So it seems that for this to work both the cluster and the container registry have to be in the same region.

[code]

[2016-03-22 16:20] smarterclayton commented on #23278
If ConvertibleTo doesn't work, don't we fall back to field by field casts?

On Tue, Mar 22, 2016 at 12:18 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-03-22 16:20] spiddy commented on #13299
I see "KUBE-SVC-..." lines in my environment, so I'm using iptables. Unfortunately I don't have the previous environment anymore and the current one is production which I can't expose the iptables-save here.

I'll test it with K8S 1.2 to see if the regression disappears and get back to you.

[2016-03-22 16:26] justinsb commented on #23298
OK, yes, that is a limitation for now ... same region only.

We also hit another bug.. if you had an existing IAM profile, kube-up doesn't update it.  This script will fix it:

[code]

[2016-03-22 16:26] sadlil commented on #23326
@zhouhaibing089 yes. we can consume ConfigMap as both. But i was asking for the `resourceVersion` of `configMap`, one of the metadata to be consumed. [resourceVersion](https://github.com/kubernetes/kubernetes/blob/master/docs/design/configmap.md#consuming-configmap--updates) is sated here.  If this field could be consumed as like `downwardAPI` for pod wors would be better.

[2016-03-22 16:32] Morriz commented on #22433
I am targeting a 200 GB gp2 partition, and managed to mount one. Another container is trying to mount one similar disk, but that fails with the old output from pre-1.2.0. I have never seen any improvements since 1.2.0. Here's the describe pod log:
[code]

[2016-03-22 16:32] gmarek opened #23336 "e2e flake: Pods should be submitted and removed"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/13647/

[code]

cc @kubernetes/goog-control-plane

[2016-03-22 16:37] yujuhong commented on #23323
I believe we update node status at a fixed frequency, even though a larger object is expected at each update with the image list.

Memory leak seems like a bigger issue. cc @wojtek-t (for the generated code) @lavalamp

[2016-03-22 16:42] sachingharge opened #23337 "Service definition do not support HTTP protocol"
Hi Team,

We have scenario where service is exposed as Loadbalancer in AWS cluster through supported protocol TCP.
As a result, we don't see HTTP headers passing to pods from ELB specially X-Forwarded-For which is really required for validating client IP address.
- spec.ports[0].protocol: unsupported value 'HTTP': supported values: TCP, UDP
- spec.ports[0].protocol: invalid value 'HTTP': cannot cr

[2016-03-22 16:47] spiffxp commented on #20861
What remains to be done here?  We've more or less consolidated on hack/e2e.go as The One True Way to run e2e tests, and I've seen tests run (if not pass) against AWS.

There are a variety of assumptions non-conformance e2e tests make that don't necessarily work on cloud providers other than gce/gke, is that what this is about?  Or is that blowing scope here?

[2016-03-22 16:48] pmorie commented on #23326
@sadlil I don't think we should expose this through an env var, since they cannot be updated without restarting the process.  In our current implementation of the volume, I might be able to buy having a special file that contained the resource version, with emphasis on _might_.  I need to think about it.

Any thoughts, @thockin ?

[2016-03-22 16:52] pmorie opened #23338 "There should be a single way that pods and other resources are identified in k8s component logs wherever possible"
Currently there is no single way that pods are identified in log messages, which can make it difficult to find all the messages relevant to a single pod in a log file.  I think, wherever possible, that we should identify pods with the following information, formatted consistently:
1.  Pod name
2.  Pod namespace
3.  Pod UID

It's possible that not all call sites will have all of this information; i

[2016-03-22 16:52] justinsb opened #23339 "AWS: We fail with 3 or more security groups on the instance"
@einyx reported hitting this error:

` aws.go:2076] Error opening ingress rules for the load balancer to the instances: Multiple security groups found for instance (i-XXXX); ensure the k8s security group is tagged`

The instance had 4 security groups, and only one of them was tagged.  However, the logic around picking the security group is incorrect.. if we get two non-tagged SGs before we see the

[2016-03-22 16:53] caseydavenport commented on #22469
I think there is a problem with the current spec and NodePort services.

The current spec allows traffic from a pod's host by default to allow for kubelet health checks.  This opens a window where a pod might be in an isolated namespace but can still be accessed if selected by a NodePort service, and traffic is directed at <pods_host>:<nodeport>, thus circumventing the policy in place.

[2016-03-22 17:01] spxtr commented on #20861
This can probably be closed. `e2e.go` should work anywhere k8s works.

[2016-03-22 17:03] lavalamp commented on #23323
@yujuhong Nothing in that limits the number of images reported-- we should probably not have fields that can grow without bound in our API. But I agree it seems likely that there's a memory leak in ugorji-- I'll look for it in a little bit.

[2016-03-22 17:03] smarterclayton commented on #19483
Go now has a convention for this that they are using in the compiler

[code]

We should consider having an equivalent, and filtering it from docs.

[2016-03-22 17:04] spiffxp commented on #23221
@roberthbailey ref #20919

[2016-03-22 17:05] spiffxp commented on #20919
It might be useful to differentiate "ssh access to nodes" vs. "ssh access to a special thing called master that has kubernetes deployed in an assumed manner"

[2016-03-22 17:05] yujuhong commented on #23338
I've been trying to push this with a [helper function](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/format/pod.go#L33) that prints `podName_podNamespace(podUID)` for any api.Pod object, but not all call sites have been converted. In some cases, there may not be pod-level information (e.g., only container names/IDs), I am not sure if printing empty fields will help(?)

[2016-03-22 17:07] rootfs commented on #13511
@onorua no, I don't have this issue. BTW, are you running `kubelet` as a container or as a process on the host?

[2016-03-22 17:14] wojtek-t commented on #23278
Not in this particular case that I found:
https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/helper.go#L66

But now, when I'm looking into it, this code actually looks incorrect for me. We are not even trying to convert it using our Converter, which I think we should.

I will try to fix it tomorrow.

[2016-03-22 17:17] tspecht opened #23341 "LoadBalancer creation failed"
Hey guys,

I'm currently experiencing an issue regarding LoadBalancers and adding / removing nodes from the cluster. Since I applied EC2 autoscaling to my minion nodes its regularly the case that new nodes join and other nodes leave the cluster. I witnessed that kubernetes automatically removed them after a certain grace period.

However if I'm deploying something while a node is marked as `NotRea

[2016-03-22 17:37] yujuhong commented on #23104
To summarize, container hash should be computed using known, updatable fields (or with some immutable fields like UID). UID may not be necessary since we already write UID explicitly to the container name and label.

As for static pods, we still need to generate the UID either based on the hash of the file or the entire api.Pod object. Each has it pros and cons as discussed before. I'd vote for us

[2016-03-22 17:38] thockin commented on #23326
If I parse correctly the request is to know what version of a configmap is
being presented?  If so, that really needs to be user-managed.
ResourceVersion is an ever-increasing value that changes when any change is
made to the resource.  ConfigMap doesn't currently have a 'status' block,
but it is not inconceivable. If that ever happened (or an atime field or
any other mutation) then Resource versi

[2016-03-22 17:39] AdoHe commented on #23320
I will take a look asap.

[2016-03-22 17:40] mikedanese commented on #23336
I've reopened #21367, let's discuss there.

[2016-03-22 17:40] #23336 closed

[2016-03-22 17:45] nikhiljindal opened #23342 "e2e flake: All nodes should be ready after test, Not ready nodes"
38 tests failed in kubernetes-pull-build-test-e2e-gce/33205/

Output from one of the test:
[code]

Output of other tests look the same.

cc @kubernetes/sig-node

[2016-03-22 17:46] lavalamp commented on #23323
So this doesn't look like a leak in ugorji, I think there's just a ton of strings being stored--that's just where they're allocated. Does the memory grow slowly or quickly?

If I get 42kB per minion per OP's report (170kB/4), and we have a cache of 1000 entries, that's ~4.2MB. If I misunderstood and it's 170k per node status, that's still just 170MB. However we may keep more than one copy.

I woul

[2016-03-22 17:47] dchen1107 commented on #23335
@philips, kubectl attach is introduced mainly for debuggability. I agreed with you that most, if not all use cases can be handled through different mechanism(s). I accepted that feature initially without much questions because I treated it as a usability level compatible with docker. :-) cc/ @ncdc who might know the real use cases for this one.

I am ok with 1) for now unless someone can come up a

[2016-03-22 17:50] madhurranjan commented on #23332
Same here .  +1 . Asked on the slack channel last night.
What's the recommended way to upgrade the cluster from 1.1.8 to 1.2 on AWS ? I've a HA setup with pod master. I started by upgrading scheduler and replication controller and brought it up with '--leader-elect' option. That seemed to work well with election and I can see the logs as well but the system pods are flaky.  I'm also seeing an erro

[2016-03-22 17:52] dchen1107 commented on #23104
SGTM.

[2016-03-22 17:55] lavalamp commented on #23216
Right, we will *not* move extensions/v1beta1 objects. 1.3 deprecation, 1.4 removal (theoretically).

[2016-03-22 17:55] bgrant0607 commented on #23335
cc @brendandburns

[2016-03-22 17:58] Morriz commented on #22433
I found out that:
- when k8s won't mount on redeploy of a container it won't free the disk, so
- I have to force unmount
- which corrupts the disk (not nice at all!)
- and I have to recreate a partition, which will work the first time

[2016-03-22 17:59] yujuhong commented on #23342
[code]

[2016-03-22 18:03] ncdc commented on #23335
cc @smarterclayton as I believe we use attach as part of `kubectl run`

[2016-03-22 18:05] yifan-gu commented on #23335
IIRC `kubectl run` essentially creates/starts a container then attaches to it.

[2016-03-22 18:07] ncdc commented on #23335
Yes, that is the flow in the Docker case for `kubectl run` - create a container, start it, then attach to its process. If you can do that in rkt some other way than "attach", that works for me.

[2016-03-22 18:11] okoreniuk commented on #13629
Same time http://kubernetes.io/docs/user-guide/rolling-updates/
If no NEW_NAME is specified, a new replication controller is created with a temporary name. Once the rollout is complete, the old controller is deleted, and the new controller is **## updated** to use the original name.
Are you going to change this policy?

[2016-03-22 18:13] caesarxuchao commented on #23284
Thank you @AdoHe! Please cc us if you have a PR.

[2016-03-22 18:14] pmorie commented on #22778
@macpoint there's also a secrets e2e you can use as a reproducer

[2016-03-22 18:15] david-mcmahon commented on #23268
So this is still still failing despite https://github.com/kubernetes/kubernetes/pull/23164 ?
If that's the case, we might want to implement the previously considered option of creating a parallel _workspace tree to locally hold the license and copyright files that godeps doesn't want to get.  This would eliminate the need to look on the interwebs for missing items (at least until another package i

[2016-03-22 18:17] yujuhong commented on #23332
It seems that the node controller kept deleting pods on your master node, leading to recreation of mirror pods in kubelet (which has *no* effect on the actual containers). What's the status of your master node (`kubectl describe node <node_name>`? Also, the node controller log should mention why it started to evict the pods (e.g., node stopped posting ready status).

[2016-03-22 18:21] onorua commented on #13511
@rootfs we have kubelet as a process on the host, managed by systemd.

[2016-03-22 18:23] pmorie commented on #23104
Sorry for the latency here -- I've had some personal matters that have been keeping me busy.

Let me just mention for completeness that using known, updateable fields is not going to save us if we add **new** updateable fields.  In that case, we are right back in the situation that @ghodss is hitting now.

[2016-03-22 18:24] pmorie commented on #23104
One thing that comes to mind is that we probably need to set expectations about whether this will happen when a user upgrades.  If we are doing so right now, I am not aware of it.

[2016-03-22 18:27] vishh commented on #22344
This feature +1! Is anyone working on a patch.

[2016-03-22 18:36] yujuhong commented on #23104
Yes, I agree. @bgrant0607's https://github.com/kubernetes/kubernetes/issues/23104#issuecomment-198597811 also explicitly said that we expected this to happen less frequently in comparison.

This will cause container restarts on upgrade. If you drained the the pods on the node before upgrading, only the static pods would be restarted. If you did live upgrade without draining the pods, other pods wo

[2016-03-22 18:37] jsravn commented on #23323
It seems to grow slowly. api-server starts out at about 200MB and takes about a day to oom at above 2GB.  The minion entry is 30K. For my non-jenkins clusters it's ~8K. I suspect the watcher gets triggered more often as well since the image list is changing when building docker images constantly. Not sure if kubelet's GC also kicks in here.

[2016-03-22 18:41] rootfs commented on #13511
@onorua can you post your kubelet systemd unit file and related config?

[2016-03-22 18:42] yujuhong commented on #13511
IIUC, this happened in 1.1.1 but not 1.2?

Killing kubelet shouldn't affect the mount points, at least I don't think so. One possibility is that after kubelet restarts, there is some race condition causing kubelet to clean up the mounts. @rootfs, do you remember any bug like this in 1.1?

[2016-03-22 18:42] freehan commented on #23011
I have a working version. I uploaded my cni binary with bug fix on GCS.

[Here](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/cni/init.sls#L15) change source to `https://storage.googleapis.com/cni_plugins/cni.tar.gz `
[Here](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/cni/init.sls#L17) change source_hash to `md5=6f16c11b4bf662ecb05d59d925

[2016-03-22 18:44] erinboyd commented on #13511
@onorua can you also post a link to the guide you are using to setup gluster for use in kube

[2016-03-22 18:44] rootfs commented on #13511
@yujuhong thanks for helping. I unfortunately don't remember any bugs like that.

[2016-03-22 18:45] madhurranjan commented on #23332
[E0322 18:40:35.550094      12 nodecontroller.go:350] 100: Key not found (/registry/pods/kube-system/kube-scheduler-10.129.2.117) [328985]
E0322 18:40:35.630475      12 nodecontroller.go:350] 100: Key not found (/registry/pods/kube-system/kube-scheduler-10.129.1.176) [328988]
E0322 18:40:35.834857      12 nodecontroller.go:350] pods "scheduler-master-10.129.3.114" not found
E0322 18:40:35.902287

[2016-03-22 18:50] bprashanth commented on #23322
Closed via https://github.com/kubernetes/kubernetes/pull/23325
@MurgaNikolay thanks for the fix

[2016-03-22 18:50] #23322 closed

[2016-03-22 18:52] quinton-hoole commented on #23269
Thanks @mfanjie  - your approach looks good to me, except for clusterName, which won't work well when we progress to perhaps spreading across more than one cluster.  I think that we will more than likely expose the underlying replication controllers instead, but we have not figured out the details of that yet.  It is on my TODO list to extend the existing design, as per the discussion we had last

[2016-03-22 18:55] bprashanth commented on #23337
Yeah, you want Ingress for L7 proxying/loadbalancing: https://github.com/kubernetes/contrib/issues/346
If you have bandwidth I'm sure @therc could use help in getting L7 support for AWS.

For some context see http://kubernetes.io/docs/user-guide/ingress/, https://github.com/kubernetes/kubernetes/issues/23291

[2016-03-22 18:55] david-mcmahon opened #23347 "Automate cherry-pick batching process"
Since 1.2 we have moved away from individual cherrypicks and instead batch them up.  This should be turned into a button/lever/whatever. Some kind of automated (I don't care about the details) mechanism that any branch 'owner' can make use of easily.

cc @bgrant0607 @eparis

[2016-03-22 18:57] yujuhong commented on #23332
@madhurranjan the pods being deleted is a symptom, not the cause. If your problem is the same as @roman-shuhov's, it's node controller that's deleting the pods. You should be able to find the reasons of deleting the pods in the node controller log and also check if your node status is being updated by kubelet regularly.

[2016-03-22 19:03] erinboyd commented on #20262
@jsafrane thanks for the clarification

[2016-03-22 19:08] DirectXMan12 commented on #21577
Did we ever resolve the UX question around users not being able to see the current target in `autoscaling/v1` if they use a default value?  Is there a way to disambiguate between "I want the default CPU value" and "I don't want CPU autoscaling" (and perhaps I forgot to put in any other type of autoscaling)?

[2016-03-22 19:10] vishh commented on #22984
@AdoHe: :+1: Kindly add the test to the node test suite under `/test/node_e2e`

[2016-03-22 19:19] huggsboson commented on #4869
@fgrzadkowski  I'll work on updating the docks, but I still haven't found a test case where --containerized fails and mount --make-shared doesn't.  Downward API worked for --containerized.  Do you have any other cases that are likely to fail?

[2016-03-22 19:35] onorua commented on #13511
@rootfs Well, it was long time ago, I can only restore it by deploying on one of the VMs, to get "almost" the same as we had that time. Here you go:

### /lib/systemd/system/kubelet.service
[code]

### /etc/default/kubelet
[code]

@erinboyd I do not remember exactly the documentation link, but we did not have any k8s specifics in it. it is basically plain glusterfs + kubernetes endpoint to get acc

[2016-03-22 19:40] wojtek-t commented on #23323
If I get 42kB per minion per OP's report (170kB/4), and we have a cache of 1000 entries, that's ~4.2MB. If I misunderstood and it's 170k per node status, that's still just 170MB. However we may keep more than one copy.

I'm pretty sure we can find more than a single copy of an object. But even if we assume say 5 copies of each object (which I think might not be far from the truth), then it's still

[2016-03-22 19:49] lavalamp commented on #23104
I think that's avoidable-- for the hash, we can prepend it with e.g. a
"hash version". Then kubelet can just keep old versions of the hashing
function. So e.g., if it sees a hash of 3-xxxx... it will know it should
use the 3rd hashing function version from e.g. before we started allowing
people to mutate the frobber field.

On Tue, Mar 22, 2016 at 11:23 AM, Paul Morie <notifications@github.com>
wr

[2016-03-22 19:58] jeremyeder opened #23349 "Increase maximum pods per node for kube-1.3 release"
As discussed on the sig-node call on March 22:

max-pods on kube-1.1 was 40, kube-1.2 is 110 pods per node.

We have use-cases expressed by customers for increased node vertical scalability.  This is (generally) for environments using fewer larger capacity nodes and perhaps running lighter-weight pods.

For kube-1.3 we would like to discuss targeting a 100 node cluster running 500 pods per node.

[2016-03-22 19:59] mikedanese commented on #23107
Let's roll this into #23218 now that doc is in.

[2016-03-22 19:59] #23107 closed

[2016-03-22 20:00] quinton-hoole commented on #23330
@stevesloka It would be great if you could help out on this.  Let me of @justinsb know if you need any pointers as to how to get it done.

[2016-03-22 20:04] stevesloka commented on #23330
@quinton-hoole I would love some pointers! I just started to look into everything to see what might need to be done. Would be great to help outline the pieces and parts that need touched. I've done some integrations with the k8s client, but never yet in the core components.

[2016-03-22 20:07] lavalamp commented on #23323
@jsravn can you get a goroutine dump? (visit `/debug/pprof/goroutine?debug=2`) Maybe something else is going on?

[2016-03-22 20:14] quinton-hoole commented on #23330
@stevesloka #22602 is a good place to start, to get a feel for how the volume creation code is structured, and where you'll likely need to make your changes.  @saad-ali might have additional pointers.

[2016-03-22 20:16] nikhiljindal opened #23350 "e2e flake: "Ginkgo timed out waiting for all parallel nodes to report back""
Failure: kubernetes-pull-build-test-e2e-gce/33303

[code]

[2016-03-22 20:17] nikhiljindal commented on #23350
Seems related to https://github.com/kubernetes/kubernetes/issues/21862 which @krousey was debugging. Hopefully we have enough logs now.

[2016-03-22 20:18] erinboyd commented on #23330
@stevesloka hi! There isn't a dynamic provisioner for GlusterFS. I can point you to some e2e examples for this. Are you also looking for documentation on setting up gluster or just the PV/PVC portion?

[2016-03-22 20:19] spiffxp commented on #23349
How do we vet that a given node configuration is "qualified enough" to meet the 500 pods per node goal?

[2016-03-22 20:20] freehan commented on #23011
ref: https://github.com/appc/cni/issues/163

[2016-03-22 20:23] yujuhong commented on #23349
As discussed in the meeting, using a single number (max pods) can be misleading for the users, given the huge variation in machine specs, workload, and environment. If we have a node benchmark, we can let users profile their nodes and decide what is the best configuration for them. The benchmark can exist as a node e2e test, or in the contrib repository.

@jeremyeder, you mentioned you've tried ru

[2016-03-22 20:23] maisem opened #23352 "kubemark gcloud commands need better retry logic"
If I am reading the output correctly, it looks the first command succeeded in creating the master but returned some other error. This caused subsequent calls to fail because the master already existed. Maybe we need to be a little smarter about the retries?
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/272/
[code]

cc @gmarek

[2016-03-22 20:24] stevesloka commented on #23330
@erinboyd I don't want to muddy this issue, but can quickly explain my needs. I need to persist some data for mysql and redis. I need this to be over AWS AZ's. Now that EBS mounts work on 1.2, I need to either utilize the Ubernetes-lite and scale my pods across AZ's using EBS mounts and fixing this issue with PVC or I use Gluster to acomplish the same, but then need to implement a way to get a glu

[2016-03-22 20:30] erinboyd commented on #13511
@onorua did you use a PV/PVC to access it or directly via the glusterfs plugin?

[2016-03-22 20:31] yujuhong commented on #23349
That's where the benchmark can play an important role. Community can also share the results on different platform with each other using the standardized benchmark.

I'd suggest we should look at:
 - management overhead in terms of resource usage
 - performance (responsiveness) in terms of latency for various operations (create/delete pod, etc). Or even detecting the container changes.

So far we o

[2016-03-22 20:32] maisem commented on #23352
related to #18334

[2016-03-22 20:34] caesarxuchao commented on #12143
I put up a list of complex behavior in the kubectl code. Some of them can be moved to server. And probably I missed something. Please feel free to comment.

***Fan-out operations, only Get operations***
- [ ] LogsForObject:	If the object is RC or RS, this function retrieves the associated pods first.
- [ ] DeploymentHistoryViewer: It gets new RS and old RS associated with the deployment. It also p

[2016-03-22 20:40] spiffxp commented on #18162
Vetting release-1.0 doesn't make sense at this point, and would require a lot of backporting that I'm not sure anyone's heavily incentivized to do here.  Bumping up to release-1.1 and release-1.2

[2016-03-22 20:42] saad-ali commented on #18342
@ttllyy I am going to close this as no repro. If you run into this please re-open with detailed repro steps.

[2016-03-22 20:42] #18342 closed

[2016-03-22 20:43] madhurranjan commented on #23332
@yujuhong  I'm at a bit of a loss here because the master nodes themselves don't show up in "kubectl get nodes" . In 1.1 version as well, when I do a describe on the pod, I see Node : <node ip>/ , but that node doesn't really appear in kubectl get nodes. Am I doing something wrong here ?

[2016-03-22 20:46] bprashanth opened #23354 "Support Elasticsearch deployments in StatefulSet"
https://github.com/kubernetes/kubernetes/pull/18016#issuecomment-199979272 has good context on what's required to support an elasticsearch deployment.

[2016-03-22 20:46] bprashanth commented on #23354
@haizaar

#### Setup:

Can you create an rc per data node? or does that not work for some other reason?

#### Updates:
Deployment should help, when it goes GA, but you can't use it with plain pods. IIUC the only requirement here is to scale down 1 of old, and scale up 1 of new, in a controlled manner.

#### Scale Up:

Is it sufficitent to get something like an init container (https://github.com/ku

[2016-03-22 20:49] yujuhong opened #23355 "Limit the potentially unbounded list of images in the node status"
Forked from https://github.com/kubernetes/kubernetes/issues/23323#issuecomment-199908778

In short, kubelet reports the list of images on the node as part of the node status. The kubelet image GC kicks in only when the disk space hits a threshold, so the list can grow very long with many small images.
@lavalamp mentioned that this could be a problem for the apiserver, and we should handle it someh

[2016-03-22 20:59] davidopp commented on #23355
If the reason we put the images in the node status was just for the scheduler, we probably don't need it at all. Scheduler can just watch which pods get bound to which nodes, and keep the mapping from nodes to images in its memory. Kubelet would just need to somehow report when it GCs images so scheduler can update its information. When scheduler restarts it would lose all the information, but put

[2016-03-22 21:10] yujuhong commented on #23355
I believe it was added for image-affinity scheduling, and only that.

This'd make things more complicated than necessary. If we're aiming for best-effort only, scheduler can look construct the list of images by looking at only running pods (which may be too limited?).

[2016-03-22 21:11] ekuric opened #23357 "make sizes of persistent volume and persistent volume claims to be case sensitive and to check volume units"
If in pv/pvc file is specified
"storage": "5Gi"
it will create pv of 5 GB size and oc get pv output will be
pvol-5087a6e7   5Gi        RWO           Bound     clusterproject0/pclaimvol-5087a6e7             52s

However, if one specify
"storage" :"5"
then output of oc get pv will be
NAME            CAPACITY   ACCESSMODES   STATUS    CLAIM                                REASON    AGE
pvol-f88aab4f

[2016-03-22 21:13] ekuric commented on #23357
/cc @jeremyeder @markturansky

[2016-03-22 21:17] yujuhong commented on #23332
@madhurranjan, hmm......if your master node didn't register, it should not have been creating mirror pods for master component at all. The fact that you can't find the master node but can see the pods is strange. By default in 1.2, the master node will register itself. What are the flags passed to your kubelet on the master node?

[2016-03-22 21:18] saad-ali commented on #23330
Dynamic volume provisioning was released in v1.2 as an experimental feature. It is triggered via a `volume.alpha.kubernetes.io/storage-class` annotation. See README [here](https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning).

For v1.3 we'd like to complete this feature by finalizing the UX/API. One of our goals is to introduce an abstraction l

[2016-03-22 21:18] roman-shuhov commented on #23332
@yujuhong kubelet on master is configured with "--register-node=false" flag so i don't see it on the "get nodes" list

[2016-03-22 21:21] yujuhong commented on #23332
@roman-shuhov is "--api-servers" set?

The pods for the master components should not exist in the apiserver if the master node is configured to not register itself. The node controller believes the node does not exist and tries to purge the pods repeatedly.

[2016-03-22 21:23] roman-shuhov commented on #23332
yes, "--api_servers=http://127.0.0.1:8080"

[2016-03-22 21:23] ansel1 commented on #23332
We're seeing this as well.  on master kubelet, --register-node is false, and --api-server is set, to http://127.0.0.1:8080.  Just like @roman-shuhov

[2016-03-22 21:24] roman-shuhov commented on #23332
just to clarify, this works fine until v1.2.0-beta.1
i also don't want to list master as a node, as i only want to use master's pods.

[2016-03-22 21:26] david-mcmahon commented on #23347
An additional thought/idea on how to manage patches in batches. https://github.com/kubernetes/kubernetes/pull/23345#issuecomment-199983794

[2016-03-22 21:27] madhurranjan commented on #23332
Exactly.  +1 above .I don't have --api-server set. I'll try this option as well. My setup for apiserver:

 --bind-address=0.0.0.0 --etcd-servers=<etd servers>
     --cloud-provider=aws --admission-control=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota
     --service-cluster-ip-range=10.0.0.0/16 --client-ca-file=/etc/kubernetes/ssl/ca.pem
     --basic-auth-file=/etc

[2016-03-22 21:30] yujuhong commented on #23332
@roman-shuhov, in v1.2, by default kubelet will register the master as an unschedulable node, so that scheduler wont' assign pods to it. This provides better visibility of the master components through the pods in the apiserver. I believe this is what you want?

On the other hand, we should stop kubelet from creating the pods if --register-node is turned off.

[2016-03-22 21:32] haizaar commented on #23354
Since our pod uses r/w PD, RC refuses to handle it by design, since during rolling update there will be two pods desiring for the same PD in r/w mode.

Correct.

Yeah, looks good. If PetSet will provide PD we can easily mkfs it (if required) through init container.

Not really - data migration duration depends on node data size and on overall ES cluster load, and thus can not really be estimated.

[2016-03-22 21:36] roman-shuhov commented on #23332
ok, i removed "--register-node=false" and looks like it's working now....

[2016-03-22 21:37] yujuhong commented on #23332
In short, the valid flag combination for the master kubelet should be
 1. register-node=false, api-servers="": the master node is standalone, unaware of the apiserver.
 2. register-node=true, api-servers=<master node>, register-schedulable=true/false:  the master node registers itself, and reports pod status to the apiserver. It can/cannot be assigned pods depending on the --register-schedulable f

[2016-03-22 21:39] ixdy commented on #23268
@david-mcmahon we started failing at 3:54pm on March 20 with
[code]

which was due to https://github.com/golang/protobuf/commit/2fea9e168bab814ca0c6e292a6be164f624fc6ca.

I'm worried that downloading from `master` for a lot of these files (especially `README`s) means we're going to frequently break.

[2016-03-22 21:39] JonathanFraser opened #23359 "Unable to mount volumes for pod"
System:
 Gentoo linux
 btrfs root filesystm
 4.1.15-r1 kernel
docker version: 1.9.1
docker backend: btrfs
kubernetes version: 1.1.7 commit:e4e6878

Whenever I try to start a container which includes and emptyDir volume is gives the error
	Unable to mount volumes for pod "watch-cwd1k_default": operation not supported

I have been, as of yet, unable to trouble shoot why this is occuring.

I have a d

[2016-03-22 21:47] bprashanth commented on #23354
Fair enough, I'm not familiar with ES, what happens if you just delete the pod without updating quorum? shouldn't the master detect something like a session timeout and form of quorum of 1 (with 2 masters) and carry on?

[2016-03-22 21:52] madhurranjan commented on #23332
Problem resolved. Thanks @yujuhong  for the explanation.

[2016-03-22 21:53] roman-shuhov commented on #23332
so, just to clarify, in both options we don't need api-servers value, right?

I updated my kubelet config and master looks good now, one more question about daemon-sets. Will it runs on master even if register-schedulable is false?

[2016-03-22 21:59] yujuhong commented on #23332
I fixed my comment above. You need to set the api-severs if you want the master to register itself. E.g., https://github.com/kubernetes/kubernetes/blob/f56207bd5fd0723daddc74beb8517b314314b0bd/cluster/common.sh#L442

AFAIK, daemon set should run on unschedulable nodes as well.

[2016-03-22 22:02] roman-shuhov commented on #23332
thanks for clarification! issue is solved

[2016-03-22 22:02] haizaar commented on #23354
Quorum in there number of neighbors seach master must see (including
itself) to allow operations on data nodes that are connected to it (and a
data node itself will block operations if it doesn't see qourum number of
masters).

Quorum parameter is never auto-adjusted by ES itself.

For example, a cluster with 5 masters has quorum setting of 3. If 2 masters
"vapor away", the rest will still have a

[2016-03-22 22:05] yujuhong commented on #23332
No problem! Reopening the issue since we still need to fix the problem that kubelet tries to create mirror pods even when regsiter-node=false.

@kubernetes/sig-node, if kubelet does *not* register itself, it should not use the apiserver client at all. Any objections?

[2016-03-22 22:06] vishh opened #23360 "Quota for DaemonSets and Deployments"
Do we need to quota for deployments and daemon sets? In general, would it make sense to expand the quota machinery to take into account other `Kind`s of objects in the API?

cc @derekwaynecarr

[2016-03-22 22:07] yujuhong commented on #23349
Let's target for having a proper benchmark for the next release, so that we can decide how many pods to support.

[2016-03-22 22:07] spiffxp commented on #21843
It would be nice if eventually something like `e2e.test` or `hack/e2e.go` was distributed with kubernetes so there was an out-of-the-box way to validate and exercise your cluster.

As it stands today, we seem to be adopting the stance that you can only do this with the kubernetes source code, so I'm very much in favor of ripping out the `cluster/` cruft

[2016-03-22 22:10] yujuhong commented on #23104
That's a good point. When can we drop support for the older versions? I assume two releases?

Keep the list up-to-date is another issue, which I assume will be catch by the new e2e test that accompanies the new updatable field.

[2016-03-22 22:12] ixdy commented on #21843
We already have `e2e.test` and `hack/e2e.go` included in the kubernetes-test tarballs. (And a lot of other cruft, too, including some stuff we probably shouldn't be.)

[2016-03-22 22:14] vishh commented on #19780
#22183 fixes this issue.

[2016-03-22 22:14] #19780 closed

[2016-03-22 22:34] bprashanth commented on #23354
Thanks for the explanation. I didn't realize the quorum settings was static and parametrized. It's tricky to update, a solution will most likely fallout from the petset discussion.

[2016-03-22 22:38] maisem commented on #23127
And again
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/9986/
This makes it twice in two days. Maybe we need to bump the priority.

[2016-03-22 22:39] spxtr opened #23361 "Data race in pkg/controller/podautoscaler"
[Test artifacts](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23302/kubernetes-pull-test-unit-integration/19096/).

I could reproduce this after 50 runs on my local machine. It may only show up with go 1.6.
[code]

On a related note, `time.Sleep` in a unit test is a huge red flag.

[2016-03-22 22:45] david-mcmahon commented on #23268
The script generates `LICENSES` using local files under Godeps/ or pulls upstream copies.  `hack/verify-godep-licenses.sh` run from `hooks/pre-commit` will do the right thing and catch these updates, but #22681 short-circuits that check by requiring that Godeps/ has changed.  That isn't valid in this new world where we are pulling down the latest lawyer docs from upstream.

A couple of options:

1

[2016-03-22 22:51] david-mcmahon commented on #23268
I guess this is happening because KUBE_FORCE_VERIFY_CHECKS is set in when running `verify-godep-licenses.sh` the CI builds but not in pre-commit?

[2016-03-22 22:54] ixdy commented on #23268
Correct. Without that, `hack/verify-godep-licenses.sh` would never run in CI, since we are effectively checking the branch against itself for Godeps changes.

[2016-03-22 22:56] spxtr commented on #21098
It looks like this was started in #19157 but didn't get far. One major issue is that our licensing stuff depends on godeps, although it shouldn't be too touch to switch it over.

[2016-03-22 22:57] ixdy commented on #23268
Also, the check is intermittently flaking, even with #23164.
https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go/9969 and https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go/9974 are two recent flakes.

[2016-03-22 23:00] david-mcmahon commented on #23268
So if we just force KUBE_FORCE_VERIFY_CHECKS=y (in pre-commit), then the files will not look out of date when they hit the CI.

[2016-03-22 23:01] david-mcmahon commented on #23268
re: https://github.com/kubernetes/kubernetes/issues/23268#issuecomment-200069282, what am I looking at there? :)

[2016-03-22 23:01] Random-Liu commented on #22344
I don't think we could use pull secret for all pods. Apiserver is also running as a pod. If we always pull pod infra container image with secrets, how could we start apiserver?

[2016-03-22 23:06] ixdy commented on #23268
Setting `KUBE_FORCE_VERIFY_CHECKS=y` in pre-commit means that PRs will randomly start failing when our Godeps licenses change, even if the PRs don't touch Godeps. I don't think that's really improving things.

In the two builds I linked, `hack/verify-godep-licenses.sh` flaked because it appears to have failed to download the remote files.

[2016-03-22 23:06] spxtr commented on #23221
`go run hack/e2e.go -v --test --test_args="--ginkgo.skip=blacklist\sthis\stest"` ought to do the trick.

[2016-03-22 23:09] Random-Liu commented on #22344
@wjiangjay @mdshuai @hurf It is easy to add a flag to pull infra container image using the same secrets with other user containers in the same pod. But I'm not sure whether that will meet your requirement.

[2016-03-22 23:10] ixdy commented on #23221
Short of being able to query the cluster itself for OS distro, passing a flag to `test/e2e/e2e.go` and saving it in `testContext` is probably fine. We already use this pattern for cloud provider (https://github.com/kubernetes/kubernetes/blob/master/hack/ginkgo-e2e.sh#L95 and https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L70).

[2016-03-22 23:15] vishh commented on #22344
@Random-Liu: The goal is to fix [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1633). We can inject docker config through flags. We can also consume a statically defined secret instead of docker config.

[2016-03-22 23:16] Random-Liu commented on #22344
@vishh Statically defined secret sgtm~ :)

[2016-03-22 23:17] andyzheng0831 commented on #23221
Sounds good! I will make a PR for it.

[2016-03-22 23:23] caesarxuchao commented on #19054
@bgrant0607 may I ask what you mean by "change"? Do you mean the change of API scheme?

[2016-03-22 23:32] timstclair opened #23363 "Investigate using easyjson for JSON (un)marshalling"
[easyjson](https://github.com/mailru/easyjson) claims to be 2-3x faster than ugorji for JSON marshalling (I don't see any benchmarks for unmarshaling). If the claims hold, it may be worth investigating using it in k8s.

(Found on reddit: https://www.reddit.com/r/golang/comments/4bh0uk/easyjson_a_json_library_in_go_which_is_much/)

/cc @wojtek-t @lavalamp

[2016-03-22 23:37] lavalamp commented on #23363
We plan to switch to proto for system components, so hopefully this won't be an issue for much longer. :)

[2016-03-22 23:39] lavalamp commented on #23104
Yeah, I figure keeping the list up to date won't be an issue, since a large
part of making a field updateable is surely modifying kubelet's behavior!

On Tue, Mar 22, 2016 at 3:11 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-03-22 23:40] mfanjie commented on #23269
@quinton-hoole where you want to store the scheduling result. The scheduler will watch apiserver for new federation RC, put it into a queue, then pop up the queue, and do scheduling, create sub RC for each target cluster. The clusterName is where to save the scheduling result. When the workload need to be split to more than one clusters, one sub RC will be created for each target cluster. That's m

[2016-03-22 23:41] vishh commented on #23332
client at all. Any objections?

Yeah. That makes sense

[2016-03-22 23:46] david-mcmahon commented on #23268
Yes, it would then put the burden of keeping the LICENSES file up to date effectively on everyone.  And based on what I've seen so far, the missing upstream licenses and copyrights we're pulling are changing fairly often.

The good news is I took a closer look and it's a relatively easy fix to write the parallel tree and sync the full state.  I'll send a PR shortly.

[2016-03-23 00:03] nishen commented on #15108
Hi there,

New to kubernetes...

What I've done so far is to manually register the node and set the node to unschedulable. Is this a viable workaround currently?
``kubectl create -f node.json``

node.json:
[code]

[2016-03-23 00:06] erictune commented on #19113
@innovia
Follow AWS instructions to docker login to ECR:
 http://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html#registry_auth

Then scp copy your .docker/config.json to /root/.docker/config.json on your virtualbox VM.  Should work.

[2016-03-23 00:10] lavalamp opened #23365 "e2e flake: [k8s.io] Kubectl client [k8s.io] Update Demo [It] should scale a replication controller"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21675/kubernetes-pull-build-test-e2e-gce/33285/

[code]

[2016-03-23 00:13] erictune commented on #22888
@pdbogen do you have an automated docker image build pipeline which has they keys to push to your trusted repo?  If so, could that automated process be the thing responsible for ensuring that the FROM of the Dockerfile is an allowed base layer?

[2016-03-23 00:13] lavalamp commented on #23365
Two other failures, too:

[Fail] [k8s.io] Kubectl client [AfterEach] [k8s.io] Kubectl version should check is all data is printed [Conformance]
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework.go:178

[Fail] [k8s.io] Kubectl client [k8s.io] Update Demo [It] should do a rolling update of a replication controller [Conformance]
/go/src/k8s.io/kubernetes/_output

[2016-03-23 00:13] dchen1107 commented on #23332
@yujuhong if kubelet does not register itself, it should not use the apiserver client at all. Any objections?

SGTM

[2016-03-23 00:13] gopinatht commented on #21162
Guys, I see a problem with at least the kubelet when killed by the OOM killer. When the minion runs out of memory, it looks like the kubelet gets killed by the kernel but does not get restarted even when I specify `restart=always` in the systemd unit description:

[code]

Is this a known issue now? Is there any workaround for this? I am using k8s 1.2.0 with the latest version of CoreOS Alpha (991.

[2016-03-23 00:14] erictune commented on #22888
I'm trying to separate this problem into two parts: "trusted images are built from trusted sources/bases" and "trusted containers only run trusted images".

[2016-03-23 00:24] dchen1107 commented on #23355
@davidopp putting pods on nodes with images installed is the only use case so far. But some users want that feature support is not best-effort since they pre-cached the images to the node for speed up the container startup.

[2016-03-23 00:43] bgrant0607 commented on #19054
@caesarxuchao If we record "delete me if this other object goes away" in each child (e.g., pod), then in order to choose not to delete the pods when deleting their parent (e.g., controller), one would have to update the pod template and every pod.

[2016-03-23 00:43] jsravn commented on #23323
@wojtek-t it is built from https://github.com/sky-uk/kubernetes/tree/cirrus-release which was cut from master a couple weeks ago, using `make release`. My plan was to rebase this against more recent master to see if anything fixes it but I didn't see anything obvious in commits since then.

@lavalamp I will get that tomorrow

[2016-03-23 00:50] yujuhong commented on #23332
@dchen1107, can we safely assume every node self-registers if they want to join the cluster, i.e., is there any use case that node self-registration is not used?

[2016-03-23 00:52] yujuhong commented on #23323
@jsravn, could you also do some spot/sanity checks of `kubectl get node -o yaml` to see how the image list grows over time?

[2016-03-23 00:57] mfanjie commented on #23269
@quinton-hoole ok, I get the point, will check out and get back to you when I have clear idea.

[2016-03-23 01:01] yujuhong commented on #23342
This is a known kernel issue that we decided to just document for v1.2 release. We *might* want to revisit this issue for v1.3 to see if we can better surface the issue.

The previously discussed solution for a general docker issue was to surface this error through node status and report container runtime not ready. This requires:
 - Decouple kubelet's and docker's health checks: kubelet's /health

[2016-03-23 01:08] davidopp commented on #23355
The suggestion in the first entry in this issue (sort and drop the smaller packages from the report) also makes the feature best-effort.

[2016-03-23 01:22] smarterclayton commented on #22888
Operational teams may delegate access to build images to users, but still
control the trusted bases.  We hear that a lot.  So a trusted image is only
trusted because it comes from a trusted base.

On Tue, Mar 22, 2016 at 8:15 PM, Eric Tune <notifications@github.com> wrote:

[2016-03-23 01:23] smarterclayton commented on #23278
Although that code is infrequently called, and is assumed to be about
internal classes mostly.

On Tue, Mar 22, 2016 at 1:15 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-03-23 01:24] smarterclayton commented on #23354
@sosiouxme can you add your experience with how we run ES and how it differs / aligns with above?

[2016-03-23 01:39] yujuhong commented on #23355
Yes, I guess one argument will be that users usually pre-pull if image size is significant, and scheduler will disregard this "optimization* by looking at pod mappings only.

BTW, it was just a random idea i threw out...

[2016-03-23 01:46] quinton-hoole commented on #23269
@mfanjie I would suggest that you use labels or annotations to associate the various components (e.g. label the Ubernetes RC with the same key and value as the parent Ubernetes RC.

[2016-03-23 01:47] quinton-hoole commented on #23269
Sorry, fixed confusing typo in the original version of the above comment.

[2016-03-23 02:01] smarterclayton commented on #12143
"last-applied-configuration" annotation. It would be nice if clients don't
have to implement this logic.

I'm pretty leery of the server doing this for us.

"kubectl explain" navigate swagger to find description of fields of API
objects. I think it makes more sense to keep these two features at the
client-side.

We're in a weird middle ground where swagger is *almost* an official API
for us.  It e

[2016-03-23 02:02] smarterclayton commented on #12143
of the Pod scheme

There is a general concept among a bunch of commands (especially the
kubectl set *) for "does this object expose a pod template" or "can this
object return one or more pods" or "can this object be turned into a pod
template".  That could be done with swagger for some of those.

On Tue, Mar 22, 2016 at 10:00 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-03-23 02:28] sosiouxme commented on #23354
In general, it's important that cluster members know not just how many members there are, but how many there are "supposed" to be. Quorum is usually calculated as a majority of the intended number of masters (it does not *have* to be - you can set it lower or higher if you accept the tradeoffs). ES has another parameter that comes into play during recovery after a full cluster restart - a minimum

[2016-03-23 02:33] bgrant0607 commented on #23347
I think the existing script can handle multiple PRs, but there are some technical issues with how it cherrypicks.

[2016-03-23 02:40] eparis commented on #23268
Great! 17 seconds to `git commit` didn't seem acceptable to me.

[2016-03-23 03:10] bprashanth opened #23367 "Imports are dropped when generating conversions for extensions"
There's a chance this is use error, but I just ran `./hack/update-all.sh` and it croaked with:

[code]

I'm defining an extension with a runtime.Object field (just like list: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2125, but in an extension), the generated `conversion_generated.go` file has runtime.Object in it, but no `k8s.io/kubernetes/pkg/runtime` import.

I added

[2016-03-23 03:15] eparis commented on #23347
The script works ok. It gets the .patch files from github and applies them. This means that the actual merge commit on 'master' is not reflected in the 'release' branch.

The shoddy tools I hacked together around cherry-picking looked for the merge commit on the 'release' branch because `git cherry-pick -m 1` was a lot easier for me. The shoddy tools 'could' be updated to look for 'every' commit i

[2016-03-23 03:54] MikeSpreitzer commented on #22469
Casey:
(1) I suspect you used angle bracket quotes and github mistook them for HTML markup, in your last sentence where you say "traffic is directed at :".
(2) I think the intent is that a Network Policy is about the relationship between the "origin client" and the "origin server" and if there is a (kube or other) proxy in between then that proxy has to play its part in implementing the policy.  O

[2016-03-23 04:00] MikeSpreitzer commented on #22469
(I posted these on the SIG mailing list recently, but since this now seems to be the right forum, I am repeating them here.)

I drafted example network policies, for the k8s guestbook example.  Find them in https://review.openstack.org/#/c/290172/ .

While doing that I realized I did not know how to express the white-listing of connections to a given TCP port on a given pod from any client on the

[2016-03-23 04:03] madhurranjan commented on #23332
@yujuhong As I was testing my upgrade from 1.1 to 1.2 , in my test environment, I 'patched' all the nodes   to 'unschedulable' , except the 3 masters. All the other nodes were on 1.1 and all the  master components were on 1.2. Then I deleted the pod and expected behavior was that the pod wouldn't get scheduled. But one of the masters picked it up . kubelet on the master doesn't have any other valu

[2016-03-23 05:11] krousey commented on #23361
[code]

The code smell of that `time.Sleep` just screams all sorts of synchronization issues. I would wager that this is just a racey test, and something about go 1.6 just exposes it more.

[2016-03-23 05:26] thockin commented on #23320
The bug is the docs.  @artfulcoder changed it to be a single DNS
`nameserver` entry (long explanation).  We should update the docs to say
this value is used for the DNS server in case of Pods with
"dnsPolicy=ClusterFirst"

Can one of you make that change?

Thanks.

On Tue, Mar 22, 2016 at 10:40 AM, TonyAdo <notifications@github.com> wrote:

[2016-03-23 05:39] ixdy commented on #23268
@eparis verify-godep-licenses is hardly the worst offender... there are several verify- checks which take O(minutes).

[2016-03-23 05:43] AdoHe commented on #23320
Ok, will update the doc.

[2016-03-23 06:01] onorua commented on #13511
@erinboyd We use directly via glusterfs plugin. Secrets for instance remain accessible, but glusterfs is disappear each kubelet restart.

[2016-03-23 06:06] fejta commented on #23299
Thanks for adding this!

I investigated and gsutil already retries 503. I suspect cloud storage was having issues at that time, which means there isn't a lot for us to do about this.

Please reopen if you see in the future.

[2016-03-23 06:13] fejta commented on #23036
I'm removing the test-infra label because I don't understand how this is related to the infrastructure at this point.

[2016-03-23 06:24] thockin commented on #13299
If you can still reproduce this, you can send me your iptables-save
privately (my username at google.com) or you can redact the public IPs if
you want.

On Tue, Mar 22, 2016 at 9:21 AM, spiddy <notifications@github.com> wrote:

[2016-03-23 06:24] thockin commented on #13299
And if you can't reproduce, I'd be happy to see this issues closed :)

On Tue, Mar 22, 2016 at 11:23 PM, Tim Hockin <thockin@google.com> wrote:

[2016-03-23 06:47] david-mcmahon commented on #23268
If you didn't like 17 seconds, you would really hate how long it took when verify-* and update-* were calling out to https://github.com/mesosphere/godep-licenses.  That took just under a minute and only generated a list of a subset of licenses, rather than the entire set of full text.

And worse than that, have you run a `git commit` with the pre-commit hook (lately)?  That runs a ton of things, t