[2016-06-17 14:46] justinsb commented on #11935
If you do a hangout let me know and I'll see if I can join.  Also you can discuss your plans in slack in sig-aws if you want :-)

[2016-06-17 14:52] smarterclayton commented on #24070
@stevekuznetsov was investigating from our end, he had reports of `kubectl run --attach` races prior to engine-api, so there are two races (kubectl run only) or two races (kubectl run + engine-api).

[2016-06-17 14:57] justinsb commented on #26983
Similar to #27347; I believe this is getting fixed, but it sounds like this script isn't correctly initializing the network (that's what the node health check is detecting)

[2016-06-17 15:01] ss7pro opened #27621 "Petset pods are not terminated where petset is removed."
Hey,

I've noticed that on 1.3.0-beta.1 when petset is deleted its pods stay alive:

core@master ~ $ kubectl get petsets | grep mariadb
mariadb-galera   3         3         7s
core@master ~ $ kubectl get pods | grep mariadb-galera
mariadb-galera-0                 1/1       Running       0          5s
mariadb-galera-1                 1/1       Running       0          4s
mariadb-galera-2

[2016-06-17 15:02] smarterclayton commented on #27588
Good point - probably only streaming ones.  Regular log calls being limited
to 2 minutes doesn't worry me.

On Thu, Jun 16, 2016 at 10:03 PM, Dawn Chen <notifications@github.com>
wrote:

[2016-06-17 15:03] smarterclayton commented on #26259
Hi @priyanka5, let's move this discussion to the origin repository (issue openshift/origin#9060)

[2016-06-17 15:04] kri5 commented on #11492
Any updates?

[2016-06-17 15:13] #22707 closed

[2016-06-17 15:18] reAsOn2010 commented on #27418
@zhouhaibing089 @harryge00 By using fsnotify, I've completed auto updating on tokenfile authencation. Basic-auth and ABAC auto updating can be done just using the same way. But this is my first attempt to create pull request to k8s, is there anything to do before making this PR?

And CC @jay-lau. Maybe this is what you want?

DIFF: https://github.com/kubernetes/kubernetes/compare/master...reAsOn20

[2016-06-17 15:19] erictune commented on #27534
I don't see any indication that this is a regression.  I am kicking it out of milestone 1.3.  Explain how it is a regression or otherwise super-important to get it back on the milestone.

[2016-06-17 15:20] erictune commented on #27484
I cannot hold the release on hearsay about a regression.  Kicking out of 1.3.

[2016-06-17 15:22] rootfs commented on #27347
@wojtek-t do we need to add `--experimental-flannel-overlay` to `hack/local-up-cluster.sh` to work on aws/gce?

[2016-06-17 15:22] erictune commented on #27446
@a-robinson have you been able to look at this yet. and if not may I assign to someone else?

[2016-06-17 15:23] ss7pro commented on #27621
Duplicate of

https://github.com/kubernetes/kubernetes/pull/27438

[2016-06-17 15:23] #27621 closed

[2016-06-17 15:24] erictune commented on #27363
I am marking this documentation on the assumption we are going to report this as a known issue for 1.3.0.

[2016-06-17 15:29] erictune commented on #27347
@wojtek-t, please add a flag that disables the problem reporting, and does nothing else.

[2016-06-17 15:31] erictune commented on #27095
@yujuhong please elaborate on how it is a regression if this bug existed in 1.2?

[2016-06-17 15:34] erictune commented on #26994
@saad-ali can you update on how the fix is progressing?

[2016-06-17 15:36] erictune commented on #26970
@saad-ali  #27004 is closed.  Can this be closed?  If not, is it fixed enough to not block the release, in which case please remove the 1.3 milestone.

[2016-06-17 15:37] justinsb commented on #27534
It is a regression: volume mounting is broken on AWS.  My believe is that it happens because we have moved volume mounting to KCM, and/or KCM runs in a container.  Between those two, volume mounting just doesn't work right now.

[2016-06-17 15:38] erictune commented on #26800
Status update: this has a fix which is blocked on the submit queue being long and slow.

[2016-06-17 15:42] erictune commented on #25893
Status update: this issue is open just to remind us to document what the recommended docker version is for 1.3.

[2016-06-17 15:44] liggitt commented on #25204
are you running with an etcd cluster? https://github.com/kubernetes/kubernetes/pull/23858 is likely to help with this (will merge once 1.4 queue opens up)

[2016-06-17 15:47] pmorie opened #27622 "Garbage collection integration tests produce prolific amount of message spam"
It seems to me like all of the garbage collection integration tests produce a ton of log messages of the form:

[code]

[2016-06-17 15:48] sttts commented on #27040
+1 for the second option.

[2016-06-17 15:50] porridge commented on #9132
https://github.com/kubernetes/kubernetes/issues/16307 seems to be in a conflict with this one. What's the plan for near term? (I don't know whether a removal of milestone v1.0-post means it's going to happen in 1.0 or at unspecified time?)

[2016-06-17 16:03] justinsb commented on #22535
Coming very soon, via upup!  Just grappling with the fact that we didn't save the CA key in kube-up (on any platform), so have to issue a new one and keep the old one around I think.

[2016-06-17 16:10] justinsb commented on #27363
OK!  I actually plan on getting to this - I think it might be fixed already in fact, just need to verify.  If not, we can treat as a docs issue presuming it is not more serious.

[2016-06-17 16:11] erictune commented on #23396
Yes.  Waiting for #26753

[2016-06-17 16:11] mml opened #27623 "Add e2e test that federated servicecontroller recreates deleted services in underlying clusters"
As mentioned in https://github.com/kubernetes/kubernetes/pull/27587#discussion_r67451976 when the service is deleted from the underlying cluster, the controller should recreate it, but it does not.

Below's a transcript.  `ukc` is talking to the federation-apiserver, and `kc` is talking to the normal cluster it's pointed at.

[code]

[2016-06-17 16:16] krousey commented on #26628
It's been a week and no more occurences were pointed out. Also no objections were raised.

[2016-06-17 16:16] #26628 closed

[2016-06-17 16:19] jingxu97 commented on #26994
The PR is #27576. I am addressing the comments from @saad-ali now.

On Fri, Jun 17, 2016 at 8:35 AM, Eric Tune <notifications@github.com> wrote:

--
- Jing

[2016-06-17 16:21] timothysc opened #27624 "RFE: Inter-pod signaling on cohort life-cycle events."
**Motivation:**
As a distributed systems designer who would like to create a "better batch" system atop of kubernetes, I would like to be able to create my own master-worker model using kubernetes concepts to sustain an overall higher throughput.

**Background:**
In traditional batch systems there is often the notion of "claim re-use".   Traditional batching will typically have a queue which can s

[2016-06-17 16:25] krousey commented on #27456
How many `inotify.Watcher`s are created? `readEvents` has an internal 65k buffer: https://github.com/golang/exp/blob/master/inotify/inotify_linux.go#L153

[2016-06-17 16:25] justinsb commented on #22531
This is implemented in 1.3 as of 16730aba964a19d3c81eb127ab4877393965d2de

[2016-06-17 16:25] #22531 closed

[2016-06-17 16:28] erictune commented on #26800
Increased #27265 to P1

[2016-06-17 16:30] tmrts commented on #27624
/cc @kubernetes/sig-rktnetes

[2016-06-17 16:33] erictune commented on #17219
Thanks for the update, Justin.

[2016-06-17 16:36] lavalamp commented on #27320
This broke and is blocking merges. Timeouts and pods not starting.

[2016-06-17 16:40] mtaufen opened #27626 "Strange nesting of pkg directory in local clone"
While poking around on something unrelated, I noticed that it looks like there are recursively nested copies of the `pkg` dir in my local kubernetes dir.

e.g. `pkg/kubelet/server/server.go`, `pkg/pkg/kubelet/server/server.go`, `pkg/pkg/pkg/kubelet/server/server.go` all exist, and contain identical content.

This isn't the case upstream, so likely noncritical. I chatted with @mbohlool and we think

[2016-06-17 16:42] vanloswang commented on #27614
@davecheney Thanks, setup swap to 2GB size works for me. compile k8s will take more than 2GB memory.

[2016-06-17 16:42] #27614 closed

[2016-06-17 16:43] wonderfly commented on #27465
Ah I didn't get that email. Great power comes with great responsibilities I guess. I won't be able to dedicate time for maintaining k8s tests so I'll just leave.

@kubernetes/goog-image FYI

[2016-06-17 16:46] yujuhong commented on #27095
It's a regression that was introduced in v1.2, but wasn't discovered until recently (because it's a rare use case). The PR is already waiting in the queue to land.

[2016-06-17 16:48] lavalamp commented on #27320
I manually told the merge queue to continue since it looks like the current run might be going to succeed.

[2016-06-17 16:49] lavalamp commented on #27320
@freehan I'm not sure why the auto-prioritizer didn't bump this one up automatically. I saw it working on other issues. Can you take a look?

[2016-06-17 16:56] spxtr commented on #27444
e2e pull configs are in https://github.com/kubernetes/test-infra/pull/169. I'll get that in ASAP. I'm not sure if we should switch on `KUBE_FASTBUILD` until we have a job doing a full release, or else things might break on other OSs.

[2016-06-17 16:59] wojtek-t commented on #27444
@spxtr - yeah - those would be super useful. (IIUC, so far this was configured in Jenkins itself, right?)

[2016-06-17 17:01] a-robinson commented on #27446
Yeah, I've been putting the exciting tales of my exploits in an internal bug rather than here. Sorry for that, I should have opened up this issue sooner and been putting the details here.

The tl;dr of where I'm at is:

* Decided to use the existing https://github.com/reevoo/fluent-plugin-systemd plugin to fluentd
* Went through dependency hell trying to get an image built that contained all its d

[2016-06-17 17:01] a-robinson commented on #27446
But given the headache this has been, I'd be happy if you assigned it to someone else :)

[2016-06-17 17:07] a-robinson commented on #27446
Huh, turns out it might not be a version related issue. I get the protocol compatibility error when running a container with systemd 225 in it as well. The approach that had been working for me yesterday (regardless of ubuntu version) was to mount in the journalctl binary from the host, but that doesn't solve the problem for the fluentd plugin, which relies on the libraries directly rather than th

[2016-06-17 17:07] roberthbailey commented on #9132
It means an unspecified time.

/cc @matchstick @girishkalele

[2016-06-17 17:07] luxas commented on #27444
This is post-1.3 work, right?
If you then may spin up the jenkins `make release` job, I think it's ok to run just fast-build on e2e

[2016-06-17 17:12] a-robinson commented on #27446
The specific error message hit when running with SYSTEMD_LOG_LEVEL=debug:

[code]

@adityakali @andyzheng0831

[2016-06-17 17:12] spxtr commented on #27462
I think so, or maybe remove the `kind/flake` label and call it a P3 to try to detect this and fail with a more reasonable message.

[2016-06-17 17:14] wonderfly opened #27629 "Support `--image-family` in GCE cluster creation"
The `gcloud compute instances create` and `gcloud compute instance-templates create` commands both support the flag [`--image-family`](https://cloud.google.com/compute/docs/images#image_families), which allows creating instances with the latest image in a family. This makes it easier to update default OS images as you don't have to update the hardcoded image name any more.

Is this in the plan?

[2016-06-17 17:14] krousey opened #27630 "Influxdb crash-looping in GCE soak test"
Part of the investigation #27374. This is causing multiple failures in the GCE soak tests.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/5764#k8sio-schedulerpredicates-serial-validates-that-nodeaffinity-is-respected-if-not-matching

[code]

[code]

Some more context in this comment https://github.com/kubernetes/kubernetes/issues/27374#issuecom

[2016-06-17 17:18] freehan commented on #27320
got it. will fix it.

[2016-06-17 17:20] yujuhong commented on #27456
This morning:
[code]
There is a slight increase of `readEvents` usage over time.

There are three watcher based on the goroutine stack:
[code]

I know cadvisor has one for watching the kernel logs to discover oom events, and at least one for watching the cgroup fs to discover container events. There can probably be one more in cadvisor, as I am not that familiar with cadvisor internals. Not sure w

[2016-06-17 17:21] wojtek-t commented on #27444
This is slightly unrelated to 1.3 - this is purely test-infra related thing. So we may do it in parallel.

[2016-06-17 17:23] freehan commented on #27489
FYI, I ran the stress test from [here](https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-182531030) on my 2 node cluster in haripin-veth mode. It has been more than 36 hours now and yet it has not explode.

[2016-06-17 17:24] yujuhong commented on #27630
influxdb was repeatedly OOM killed. It probably needs a higher memory limit:
[code]

[2016-06-17 17:29] DreadPirateShawn commented on #25204
@liggitt We are indeed running with an etcd cluster. Though, #23858 doesn't seem to reference etcd and all, and only seems to apply when using quotas -- does Kubernetes have some quotas in place by default?

(That said, agreed that #23858 seems to describe a symptom very similar to what we're seeing.)

[2016-06-17 17:30] justinsb commented on #23188
I reran the commands as provided in the original report, and they did work now.  It could have been an eventual consistency problem in the volume tagging, though I doubt it given the likely delay in between the two operations.  Is it possible you weren't running the final 1.2 kube-up @druidsbane ?

I verified the instructions in the docs and they also did work, though any corrections / clarificati

[2016-06-17 17:30] yujuhong commented on #27630
/cc @mwielgus @piosz

[2016-06-17 17:34] freehan commented on #27603
Since the current one has been tested for quite some time and 1.3 release is close, we plan to update CNI after 1.3 release.
Can you work around the problem by overwriting the cni binary for now?

[2016-06-17 17:34] dchen1107 commented on #27630
@yujuhong I am just about to update the issue with OOM killing. :-)

[2016-06-17 17:37] dchen1107 commented on #27630
@mwielgus I am re-assigning this to you, please triage or re-assign.

[2016-06-17 17:37] a-robinson commented on #27446
I can't even dump the journal file's headers from within a container:

[code]

[2016-06-17 17:37] wonderfly commented on #25215
The PR is marked as P3 so it's getting pushed back over and over again. Can anybody with the authority adjust its priority? Or if it's not super urgent then this issue should be a P3 too. :smile:

[2016-06-17 17:38] timothysc opened #27631 "Using kubernetes to build kubernetes"
Allow myself to introduce myself.

All joking aside, this needs to happen, and we should track progress and make it a deliverable.

/cc @kubernetes/sig-testing @jayunit100

[2016-06-17 17:40] liggitt commented on #25204
no quotas in place by default.

the work queue PR addresses the general issue of a token creation failing by requeueing failed creations (currently, failures aren't reattempted until the controller resyncs, which can be a long time)

[2016-06-17 17:43] yujuhong commented on #26297
This looks like #27498

[2016-06-17 17:43] #26297 closed

[2016-06-17 17:43] nikhiljindal commented on #27623
Thanks for catching this @mml
cc @kubernetes/sig-cluster-federation

[2016-06-17 17:43] justinsb commented on #27631
I think we should also replace our build system with bazel, and I think it is within reach:  https://github.com/bazelbuild/rules_go/issues/15#issuecomment-226757589

I was able to build a docker container of a small controller of mine, with vendored golang dependencies, with no need for docker-in-docker.  Creating the BUILD files for the dependencies was tedious but I think can be easily automated

[2016-06-17 17:44] yujuhong commented on #24508
Dup of #27498

[2016-06-17 17:45] felipejfc commented on #24862
@therc, I'm now using [](https://github.com/kopeio/aws-es-proxy) with a elasticsearch cluster in aws elastic search service, It seems that my fluentd pods stops sending logs to my elasticsearch just like when I was using the elasticsearch pods provided by get.k8s...
I will try to set that config you said before (reload_connections)... but if thats the case I think it should be set by default..

[2016-06-17 17:46] nikhiljindal commented on #27565
Yes this is not good, but we dont have namespaces in federation control plane yet. Users will have to ensure that namespaces exist in underlying clusters.
https://github.com/kubernetes/kubernetes/pull/26298 has some related discussion

Will fix this in 1.4

[2016-06-17 17:48] spxtr commented on #27631
I played around with this and got to the point where I could automatically trigger builds: https://github.com/spxtr/test-infra/tree/ciongke/ciongke

This is definitely something I'm interested in working on.

I'm not a huge fan of bazel until it's more mature. The go tool is smart enough to do incremental builds.

[2016-06-17 17:56] nikhiljindal commented on #27467
Adding to 1.3 milestone

[2016-06-17 18:02] chales opened #27633 "l"

[2016-06-17 18:02] dchen1107 commented on #27374
@krousey I have a couple of questions:

1) When you say master node's cpu utilization, I guess you are referring to the the entire node's cpu utilization, not measure individual containers and system daemons (docker and kubelet), right?

2) When you say GKE master with 1.9, I guess you are referring to k8s 1.2 / 1.1 release. Right? If it is true, The extra cpu usage might be introduced by master c

[2016-06-17 18:06] smarterclayton opened #27634 "PetSet controller hot loops on authorization failures and other errors"
Testing PetSet in OpenShift where policy is denying creation (just as a verification) I see the PetSetController hot loop forever, which blows up the controller manager.

We should never treat failures as "hotloop", normally this goes into a retry queue or a backoff.  The client retry limit isn't enough.

[code]

[2016-06-17 18:09] smarterclayton commented on #27634
@bprashanth we need to triage this - I don't think it meets the 1.3 bar because of alpha but quota / auth / other failures can bring down the controller manager.

[2016-06-17 18:10] smarterclayton commented on #27634
@kubernetes/sig-apps @kubernetes/sig-api-machinery

[2016-06-17 18:10] dchen1107 commented on #25543
Removed the priority and added it back to 1.3 milestone, so that we can discuss at burndown meeting.

[2016-06-17 18:10] saad-ali commented on #26970
We can close this. Will track the extra robustness work with #26994

[2016-06-17 18:11] girishkalele commented on #27489
@freehan

Did you change the code to do sequential veth operations ?

[2016-06-17 18:15] bprashanth commented on #27634
don't most controllers run into this? we should add backoff to the work queue and this will just fix itself i think

[2016-06-17 18:16] #24508 closed

[2016-06-17 18:16] bprashanth commented on #27634
Ah https://github.com/kubernetes/kubernetes/issues/15095#issuecomment-147462028, so sounds like we should just teach controllers to use the delayed queue addeded in https://github.com/kubernetes/kubernetes/pull/23444

[2016-06-17 18:16] #26970 closed

[2016-06-17 18:18] krousey commented on #27374
@dchen1107

1) Yes, the overall node.

2) No. This is a GKE master with docker 1.9 and Kubernetes 1.3 build. The GKE and GCE masters were using different GCI base images. I created a GCE master with the same GCI image that the GKE master was using, and still noticed the over utilization. So the docker version probably doesn't matter.

[2016-06-17 18:18] sarahnovotny commented on #23146
I think this is done.  many thanks to @spiffxp for the lift and shift.  i just reconciled and deleted all the SIG wiki pages and updated a few more pages with a "this page has moved".  please reopen if you see anything that still needs a tuneup.

[2016-06-17 18:18] #23146 closed

[2016-06-17 18:19] lavalamp commented on #27444
Filed: https://github.com/kubernetes/kubernetes/issues/27578

[2016-06-17 18:20] bprashanth commented on #27489
Is coreos using kubenet ? https://github.com/kubernetes/kubernetes/issues/27498, quite a few reports of this from the wild have been kube+coreos

[2016-06-17 18:22] bprashanth commented on #25543
Yeah i think codefreeze just means no features

[2016-06-17 18:24] #26800 closed

[2016-06-17 18:24] #23390 closed

[2016-06-17 18:25] smarterclayton commented on #27634
Yeah, I *think* some other controllers have explicit backoff protection on failures (scheduler and RC I vaguely recall going through the motions) but delayed queue is the future thing.  As I said I wouldn't block 1.3 on this either.

[2016-06-17 18:26] DreadPirateShawn commented on #25204
Roger. So -- in this ticket, the service account itself didn't get created, not just the token -- would that be covered as well, or does #23858 address the secret token specifically?

[2016-06-17 18:27] simonswine commented on #27534
closing this in favor of #27628

[2016-06-17 18:34] paralin commented on #23188
The problem was with making a separate CIDR for each AZ. And that works fine. It was just a documentation question I think. But it's simple enough and this was long enough ago that I think now it's a non issue.

This issue probably is more on the instance registration front and is unrelated to what I was talking about before.

[2016-06-17 18:36] mikedanese commented on #25940
unit/integration is running at about 30 minutes.
verification is running at about 20 minutes.

Paralleling integration tests is the next thing that I think could knock some time off unit/integration suite but it involves starting an etcd per master and it's a non-trivial change.

[2016-06-17 18:38] quinton-hoole commented on #27565
Even without namespaces in the federation control plane yet, we could in theory save users the trouble by creating the namespace in the underlying cluster if it does not exist yet, before trying to create services in that namespace.  But that would make it inconsistent with the Kubernetes API (which does not automatically create missing namespaces).  So what I suggest is:

1. Have the e2e tests au

[2016-06-17 18:39] quinton-hoole commented on #27623
cc @mfanjie

[2016-06-17 18:39] k8s-merge-robot opened #27635 "SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6024/

Failed: SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27529

[2016-06-17 18:41] quinton-hoole commented on #27623
This is definitely a bug, but I think that we can kick it out into v1.4.  Until fixed (i.e. while in beta), we can tell customers not to delete the underlying services in their clusters.

[2016-06-17 18:41] liggitt commented on #25204
...

I totally missed that. #23858 is just the token. I've never seen an issue creating the service account in a namespace. Do you see anything in the log from serviceaccounts_controller.go?

[2016-06-17 18:45] bprashanth commented on #27634
I think we should go through and audit the controllers, modify the ones that blindly requeue on error to use the delayed queue instead. Scheduler is probably backing off, but most things written with informer+workqueue are probably not (endpoints, servicecontroller, daemon etc). They'll just GET and queue.Add on error (eg: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replica

[2016-06-17 18:46] quinton-hoole commented on #26762
This loos like a bug.   Namespace being dropped?  I'll send in a fix shortly.

[code]

[2016-06-17 18:49] freehan commented on #27489
@girishkalele Yes. It has been done for quite some time for some other reasons.

@bprashanth Nope. It looks like node test is not using network plugins.

[2016-06-17 18:57] bprashanth commented on #27634
Oh servicecontroller is backing off with the horrific time.Sleep in a goroutine thing. https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L203

[2016-06-17 18:57] spxtr commented on #27578
@kubernetes/sig-testing

[2016-06-17 19:25] gmarek commented on #27444
@spxtr - isn't kubernetes-build building for all architectures? We're already blocking on it.

[2016-06-17 19:27] pwittrock commented on #23396
@ericchiang
@erictune

Would you provide an update on the status for the documentation for this feature as well as add any PRs as they are created?

Not Started / In Progress / In Review / Done

Thanks
- @pwittrock

[2016-06-17 19:30] pmorie commented on #27590
@screeley44 this is the issue we have been discussing.

[2016-06-17 19:33] mml opened #27638 "clustercontroller can't handle a change in the cluster spec"
To reproduce.

I. Create cluster with the wrong IP address.

(skipping some lines)

[code]

II. Using kubectl edit, correct the IP address.

III. Sad controller

A. Carries on using the old address
B. Seems to have trouble negotiating an update to the cluster object.

(again, some lines skipped)

[code]

[2016-06-17 19:34] mml commented on #27638
@kubernetes/sig-cluster-federation

[2016-06-17 19:36] smarterclayton commented on #27634
:)

[2016-06-17 19:38] lavalamp commented on #27444
You mean we're not already doing `make quick-release`? or is KUBE_FASTBUILD something else?

@gmarek yeah that's the problem statement...

[2016-06-17 19:38] pwittrock commented on #23028
@Random-Liu
@dchen1107

Would you provide an update on the status for the documentation for this feature as well as add any PRs as they are created?

Not Started / In Progress / In Review / Done

Expected Merge Time

Thanks
@pwittrock

[2016-06-17 19:39] lavalamp commented on #27529
Feel free to disable the test if it sees that it's running docker 1.9.

On Thu, Jun 16, 2016 at 10:36 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-06-17 19:41] pwittrock commented on #23376
@piosz

Would you provide an update on the status + ETA for the documentation for this feature as well as add any PRs as they are created?

Not Started / In Progress / In Review / Done

Expected Merge Time:

Thanks
@pwittrock

[2016-06-17 19:46] quinton-hoole commented on #27638
Thats pretty bad.  We should fix that for 1.3 if possible.

[2016-06-17 19:49] quinton-hoole commented on #27638
An acceptable workaround would be to delete and re-create the cluster object, so this is not a blocker.

[2016-06-17 19:56] Random-Liu commented on #23028
@pwittrock I have documentation for this feature, but I don't know whether or where we should put them in kubernetes.io.

[2016-06-17 19:58] krousey commented on #27456
Wow. There looks to be a leak in the `inotify` package. Specifically https://github.com/golang/exp/blob/master/inotify/inotify_linux.go#L146 cleans up the mapping of path to `watch` in `w.watches`, but nothing seems to clean up the reverse FD to path mapping in `w.paths`. So as containers come and go, cAdvisor recursively watches all the files related to that container, and tries to clean them up.

[2016-06-17 19:59] luxas commented on #27631
+100, If we get an easy way to test Kubernetes on an existing cluster, it will be soo much easier to set up distributed testing (for non-amd64 arches in my case)

[2016-06-17 20:08] dchen1107 commented on #23349
cc/ @coufon

[2016-06-17 20:13] abhgupta commented on #27198
We might want to keep this issue open to discuss the broader issue of graceful PVC deletion.

[2016-06-17 20:15] spxtr commented on #27444
`make quick-release` is the same as `KUBE_FASTBUILD`. We're not using it right now.

[2016-06-17 20:20] gmarek commented on #27529
The problem is that this test is just more sensitive to this error - it can appear it any test.

[2016-06-17 20:25] gmarek commented on #27444
So we're testing builds on other architectures in our continuous builds, right? Seeing that the breaks of only non-amd64 builds are pretty rare I don't think we need to run it on every PR if it's taking a lot of time. Can we just use `KUBE_FASTBUILD` for per-PR builds?

[2016-06-17 20:45] prasadbsd opened #27642 "Kubernetes DNS not working in some containers"
Hi,

I created a kubernetes cluster with one master and two nodes(etcd + flannel + Kube)

Installed some cluster addons. Trying to make heapster work but having DNS issue.. I was able to install skyDNS but doesnt seem to be working correctly

-> kubectl get svc --all-namespaces
NAMESPACE    NAME    CLUSTER-IP    EXTERNAL-IP   PORT(S)   AGE
default    kubernetes    10.254.0.1    <none>    443/TCP

[2016-06-17 20:51] quinton-hoole commented on #27444
+1 !!

[2016-06-17 20:51] timothysc commented on #18831
@hongchaodeng can we close this now?

[2016-06-17 20:53] timothysc commented on #22669
closed via #23819 & resync issue.

[2016-06-17 20:53] #22669 closed

[2016-06-17 20:55] timothysc commented on #4548
/cc @kubernetes/sig-testing

[2016-06-17 20:56] luxas commented on #27444
If it's possible, it would be great with a presubmit jenkins job that does run in parallell with KUBE_FASTBUILD e2e tests.

Otherwise, the SQ will be blocked _after_ a breaking change for non-amd64 builds, not before merging the PR

[2016-06-17 20:59] #18831 closed

[2016-06-17 20:59] timothysc commented on #10030
I'm going to close this one but we should be mindful of the legacy in the reflector re-design.

/cc @hongchaodeng

[2016-06-17 20:59] #10030 closed

[2016-06-17 21:00] fejta commented on #27444
Yes, agreed. We are working on this today -- and getting the e2e PR jobs under source control.

[2016-06-17 21:01] timothysc commented on #10934
@ingvagabund where are we at here?

[2016-06-17 21:02] hongchaodeng commented on #10030
Is there a list of legacy issues? Are they all covered by tests? If not, we could add the testing for it?

[2016-06-17 21:03] justinsb opened #27643 "GCE kube-up: /usr/bin/kubectl is created with mode 744"
This means that we have to sudo to run kubectl...  It should be created with 755, not 744

[code]

[2016-06-17 21:03] fejta commented on #27322
No, we are not in agreement on this :)

The pull e2e jobs run large numbers of clusters in the same project as the jenkins VMs, the node e2e tests, etc. I plan to move them out to a different project.

Also that error looks like a 500 level error, which is different than the one we see in the gke-large cluster.

[2016-06-17 21:14] fejta commented on #27465
Updated assignment in https://docs.google.com/spreadsheets/d/17-fH_Dbcin2YSsaJ0LSQz1DSoa2MzSdGI9VM92ev7yg/edit#gid=1903830210 to @maisem

[2016-06-17 21:16] fejta commented on #27610
Assigning to people to triage per labels/comments.

[2016-06-17 21:18] fejta commented on #27498
Not sure how to assign coreos issues... Assigning to people to reassign based on thread activity. Please reassign correctly!

[2016-06-17 21:19] yujuhong commented on #27456
Thanks @krousey. That's definitely a leak!

[code]

On the other hand, I think `readEvent` (with the higher space usage) might be a separate leak, as it shows the number of objects increase at [this line](https://github.com/golang/exp/blob/a81ff186ef36ddfe55688ddf56f607ac8662074c/inotify/inotify_linux.go#L206). Could it be that the `Event` object was never recycled? I am looking at the cadvisor co

[2016-06-17 21:20] fejta commented on #27612
Assigning to people based on thread activity. Please help reassign this correctly!

[2016-06-17 21:24] timothysc commented on #20242
I have not seen this in a long time, closing.

[2016-06-17 21:24] #20242 closed

[2016-06-17 21:25] timothysc commented on #25762
Code is in, we'll just need to update defaults for 1.4

[2016-06-17 21:29] smarterclayton opened #27645 "LimitPodHardAntiAffinityTopology fails e2e test when enabled"
#19914 added a topology limiter, however when enabled this admission plugin breaks the SchedulerPredicates invalid NodeAffinity test because it returns early from the admission plugin:

[code]

[code]

returns a JSON error.  Because we validate these, I think the admission controller should allow the unparseable annotations by returning nil:

[code]

This allows validation to handle the error.

[2016-06-17 21:29] smarterclayton commented on #27645
@davidopp

[2016-06-17 21:29] fejta commented on #27615
@wojtek-t  Which logs are missing from https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27220/kubernetes-pull-build-test-e2e-gce/45191? The cluster logs?

[2016-06-17 21:31] luxas commented on #27603
@freehan I think we can do it right after v1.3, and we'll validate the new release with docker-multinode then.

[2016-06-17 21:33] girishkalele commented on #7825
DNS healthz container needs an additional DNS lookup to localhost port 10053 to verify kubedns is healthy.

[2016-06-17 21:39] pwittrock commented on #23376
@piosz If there are no user facing changes in v1.3 for this, then we do not need to document it.  If it changes existing user-facing behavior / apis or adds new user-facing capabilities to Kubernetes, we should document somewhere on the kubernetes.io site.

It sounds like there are no user-facing changes for Kuberenetes v1.3 for this issue.  Is that correct?

[2016-06-17 21:41] fejta commented on #25539
Thanks!

[2016-06-17 21:46] jingxu97 commented on #27492
Should we consider Exponential Backoff like this https://www.awsarchitectureblog.com/2015/03/backoff.html

[2016-06-17 21:58] smarterclayton commented on #27634
Namespace controller and quota controller are using the delaying queue
right now (asked Derek).

On Fri, Jun 17, 2016 at 2:57 PM, Prashanth B <notifications@github.com>
wrote:

[2016-06-17 21:58] yujuhong commented on #27529
From my past experience, tests that creates a huge number of pod on a single node is prone to hit this bug. However, after the workaround (i.e. always move `/lib/docker/network` before restarting docker) has reduced the frequency of this a lot. How often do we see this bug (@gmarek, maybe you know more)? Is it rare enough that we can ignore it for now?

[2016-06-17 21:59] pwittrock commented on #27308
Does using `--context $KUBECTL_CONTEXT ` with your command history work?

[2016-06-17 22:02] gmarek commented on #27444
@luxas - it's so rare that I don't think it's a big problem. There's a number of tests that we don't run on each PR, even though they're important - it's just a tradeoff between speed of builds and how quickly we notice a regression. IIUC we have a lot of problems with the first one, while no one is complaining about the second.

[2016-06-17 22:02] jmartin127 commented on #5130
+1

[2016-06-17 22:07] fejta commented on #27629
@bgrant0607 do the cluster/up scripts fit under CSI? See https://github.com/kubernetes/kubernetes/pull/27083#issuecomment-226879027 for some additional discussion about this -- we want a `KUBE_GCE_MASTER_IMAGE_FAMILY` to take precedence over `KUBE_GCE_MASTER_IMAGE`

[2016-06-17 22:11] luxas commented on #27444
For me it doesn't actually matter, as long as the multiarch builds doesn't hurt :)
If this happens, we have to revert the PR that did the breaking change, so if _everyone_ agrees with that, I'm ok with it

[2016-06-17 22:21] lavalamp commented on #27529
That impacts our submit queue. Turning off the issue filing wouldn't solve
the problem. The whole point is for the issues to annoy humans into fixing
things... If there's a docker version that fixes this then why aren't we
running with it?

On Fri, Jun 17, 2016 at 1:20 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-06-17 22:22] pwittrock commented on #27362
@chbatey As a work around, what happens if you use a rolling update with MaxSurge=0 and MaxUnavailable=1?

[2016-06-17 22:22] euank opened #27646 "rkt: Image pull policy of 'Always' is not respected"
Setting a [pull policy](http://kubernetes.io/docs/user-guide/images/#updating-images) of `Always` should cause the runtime to always hit the remote server for an image. However, the `rkt fetch` invocation used to get the image always checks the cache first, rather than hit the network.

This also impacts `Always` PullPolocies that are implicitly added to `:latest` tagged images.

The impact of thi

[2016-06-17 22:33] pwittrock commented on #27362
@janetkuo Just assigned for triage, not to fix the issue.  Can clear your assignment once this is triaged.

[2016-06-17 22:33] yujuhong commented on #27529
We do run a newer version of docker in v1.3 and HEAD. This suites uses 1.2 builds, so it shouldn't affect submit queue at all.

[2016-06-17 22:33] colemickens commented on #27308
It does, but it's still a bunch of keystrokes every time to delete the old
command before putting in the new one, plus my muscle memory is to just
type `kubectl get pod blah` quickly.
On Jun 17, 2016 5:00 PM, "Phillip Wittrock" <notifications@github.com>
wrote:

[2016-06-17 22:36] dchen1107 commented on #25543
It is very rare after we upgrade to docker 1.11.X. To extend KernelMontor in NodeProblemDetector to detect the issue is totally overkill, since we have to allocate more compute resource to NodeProblemDetector to process tons of kube-proxy logs. Here is what I suggested for this issue for 1.3 and 1.4+:

- Document this as known issue for docker releases: docker 1.10.X (#19720), docker 1.11.X (#2339

[2016-06-17 22:41] fejta opened #27648 "Move node e2e VMs into their own project"
I want to isolate these in their own project:
[code]

[2016-06-17 22:52] kargakis commented on #27362
Deployments with size of 1 should be the same (both in that it's really a Recreate and it has the same problem even though it only matters for Recreate), larger deployments should be rolling.

[2016-06-17 22:59] DreadPirateShawn commented on #25204
Sorry -- apart from the partial logs from the controller manager in the original ticket (filtered by the relevant namespace), the raw logs are no longer available.

But yeah, we saw contant `service account grafana/default was not found, retry after the service account is created` errors for about 5 minutes, while the service account wasn't showing up, then finally pod creation started to work.

[2016-06-17 22:59] bgrant0607 commented on #17902
cc @kubernetes/kubectl

[2016-06-17 23:01] #27095 closed

[2016-06-17 23:01] fejta opened #27649 "Issues after moving PR e2e jobs under source control"

[2016-06-17 23:03] fejta commented on #27649
There are issues with missing comments added to github after putting the e2e jobs under source control -- https://github.com/kubernetes/test-infra/pull/169

We think we have this fixed with https://github.com/kubernetes/test-infra/pull/183

Monitoring results of http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/31272/console

[2016-06-17 23:05] rakesh-k commented on #22319
I am seeing this in my log and looks like it is related to the default interface being treated as `eth0`. The default interface in case of my node is `ens192`.

`summary.go:311] Missing default interface "eth0" for s%!(EXTRA string=node:`

[2016-06-17 23:40] fejta commented on #27321
I'm pretty sure this was an out of disk issue, which we mitigated with https://github.com/kubernetes/test-infra/pull/167

[2016-06-17 23:40] bprashanth commented on #24745
@aledbf

[2016-06-17 23:45] aledbf commented on #24745
@wernight the nginx ingress controller supports websockets ootb.
Just increase of the values of `proxy-read-timeout` and `proxy-send-timeout` to something like 3600 to avoid the close of the connection.

Can you share more information on how are you running Jupyter?

[2016-06-17 23:50] Random-Liu commented on #27095
@yujuhong Which log are you mentioning about?

[2016-06-17 23:55] yujuhong commented on #27095
This [line](https://github.com/kubernetes/kubernetes/blob/f279e362920ebff0108cef4e9bf2944bda1796dc/pkg/kubelet/dockertools/manager.go#L1807). We print out the same line even when no container status can be found.
[code]

[2016-06-17 23:56] lavalamp commented on #27529
ah, it's from a different suite. We can take the suite out of the list.

[2016-06-17 23:56] lavalamp commented on #27529
But then why do we even have that suite?

[2016-06-17 23:59] Random-Liu commented on #27095
@yujuhong Got it. Will think about how to make it more clear. Thanks!

[2016-06-18 00:03] lavalamp commented on #27403
Should this just be added to @eparis's dashboard?

[2016-06-18 00:04] lavalamp commented on #27418
@erictune

[2016-06-18 00:07] yujuhong commented on #27529
There are quite a few GKE suites which are triggered by kubernetes-build-1.2, but their names don't have "1.2" in it. I have no idea what their purpose is and why even run this test in the "subnet" suite.

[2016-06-18 00:08] lavalamp commented on #27436
I don't understand what this issue is about. Are you trying to add documentation? If so please send a PR to the docs repository: https://github.com/kubernetes/kubernetes.github.io/tree/release-1.3

[2016-06-18 00:08] #27436 closed

[2016-06-18 00:12] mfanjie commented on #27623
it should not be, I have tested this before. How long did you wait when you check the service existence in last step? Can you send me the logs?

The service deletion will cause federation service update, and then the federation service watcher will catch the update even and call another round of service updates to all clusters.

When you delete the service, if the service got ingress ip already? I

[2016-06-18 00:14] lavalamp commented on #27442
Your cert needs to list
* A "bare-metal/public" IP address for kubelet, kube-proxy, & external kubectl clients
* The cluster-internal VIP (probably 10.0.0.1)
* The service name for dns access (kubernetes)
* Plus any load balancers etc through which you might want to access it.

The documentation includes `--subject-alt-name="IP:${MASTER_IP}"`-- something about that must not have worked or you woul

[2016-06-18 00:15] david-mcmahon commented on #27403
That's probably a good place.  I was working a bit on a command-line tool as well.

[2016-06-18 00:16] yujuhong commented on #27095
We have quite a few log messages like this in this file, i.e., printing a condition that doesn't apply to all cases. It'd be good to clean them up, but it's not urgent. Also, I didn't mean to ask you to fix it, just tagged you FYI :)

[2016-06-18 00:17] lavalamp commented on #27464
I'm pretty sure this is a duplicate request... Not sure how to find the other issue though. I'll leave this open because it's a well written clear feature request, thanks.

[2016-06-18 00:23] lavalamp commented on #27497
(personal note: I think you've diagnosed the problem. maybe something else is listening on localhost:8080 from skyDNS's perspective.)

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, an

[2016-06-18 00:26] lavalamp commented on #27516
Dup of #27418

[2016-06-18 00:26] #27516 closed

[2016-06-18 00:27] lavalamp commented on #27528
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-06-18 00:27] #27528 closed

[2016-06-18 00:29] lavalamp commented on #27543
feel free to send us a PR!

[2016-06-18 00:31] lavalamp commented on #27550
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-06-18 00:31] #27550 closed

[2016-06-18 00:35] lavalamp commented on #27556
Can you try setting --deserialization-cache-size to a small value?

[2016-06-18 00:37] lavalamp commented on #27575
It should go into release 1.3? If you think it should be cherrypicked in previous releases, you'll have to make a cherrypick PR.

[2016-06-18 00:37] #27575 closed

[2016-06-18 00:41] lavalamp commented on #27601
You can try setting a [proxy env var](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=proxy%20environment%20variable) but if that doesn't work you're probably on your own, our build scripts assume you can talk to the internet...

[2016-06-18 00:41] #27601 closed

[2016-06-18 00:42] yujuhong opened #27651 "Failed to remove orphaned pod because volumes weren't unmounted"
I have a recently built cluster (0856e1dd43834f1b729756555365a8b672faa5bd) and after running some tests, kubelet.log is full of errors for not being able to remove orphaned pod directories.

E.g.,
[code]
I manually unmounted one of the directory and was able to delete the directory afterwards. I haven't tried reproducing it, but here is the sequence of the actions that led to this:
  1. Create an

[2016-06-18 00:43] lavalamp commented on #27605
I believe the behavior is correct.

[2016-06-18 00:45] lavalamp commented on #27607
There's a big component registration proposal laying around the repo somewhere.

[2016-06-18 00:47] lavalamp commented on #27618
Pretty sure this is a dup but I'm not sure what of.

[2016-06-18 00:48] #27588 closed

[2016-06-18 00:50] lavalamp commented on #27631
The go tool is not smart enough to do things like automatically build the generated code...

[2016-06-18 00:52] yujuhong commented on #27605
FYI, cpu capping in v1.2 release note: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md/#v120

[2016-06-18 00:54] janetkuo commented on #27362
It's because `Recreate` Deployment scales old RS down to 0 (`.spec.replicas`=0, and RS controller will observe this change later and then kill its pods) and then scales up the new one. So it's possible there's a race here.

[2016-06-18 00:54] quinton-hoole commented on #27623
@mfanjie @mml I think that the best way forward will be to encode this in a reproducible e2e test, otherwise there are too many variables to debug effectively.  @mfanjie It's great to know that you've tested this case, and it works in at least some scenarios.

[2016-06-18 00:56] felipejfc commented on #24860
@c4po have you managed to upgrade your master node?

[2016-06-18 00:57] ixdy commented on #27615
yeah, this is still kubernetes/test-infra/issues/79.

[2016-06-18 01:01] davecheney commented on #27614
Compiler memory usage should be better in go 1.7.

On Sat, 18 Jun 2016, 02:42 vanlos wang <notifications@github.com> wrote:

[2016-06-18 01:18] saad-ali opened #27653 "Make volume manager more robust across restarts"
When kubelet is restarted, volume manager loses its internal state. It rebuilds this state and calls attach/mount on volumes that may already be attached/mounted.

This issue is to track two items:

1. Verify that if mount is called on a volume that is already mounted that it does not fail.
2. If a pod was deleted while kubelet was unavailable, the associated volume will not be unmounted (since Ku

[2016-06-18 01:22] saad-ali commented on #27651
This is an expected side effect of the current design. When kubelet is restarted, volume manager's internal state is nuked. When it starts up again, it rebuilds the state based on the pods that still exist. In this case the pods are deleted so volume manager doesn't know about them or about the mounts that were not unmounted, so it tells orphanedPod cleanup loop to go ahead and delete them, but th

[2016-06-18 01:26] yujuhong commented on #27651
Thanks for the answer! I'll close this issue.

[2016-06-18 01:26] #27651 closed

[2016-06-18 01:30] justinsb opened #27654 "AWS: Not using docker 1.11.2"
We should use the same version of Docker on AWS as GCE is using

[2016-06-18 01:33] yujuhong commented on #27653
/cc @kubernetes/sig-node @dchen1107

Item (2) will lead to irremovable pod directories (see #27651 for an example), and these directories will accumulate over time. kubelet'd also try to clean up every 2s and fail, wasting cycles and spamming the log.
@saad-ali, is it possible to add a temporary fix for v1.3?

[2016-06-18 01:36] yujuhong commented on #27456
I did a few things in my cluster to reproduce this issue:
 - adjusted the memory profile rate to get a more accurate picture (at the cost of performance, which I don't care)
 - tampered with the inotify code to increase the `inotify.Event` size (*100x*) to amplify the impact of these objects.

After kubelet was up for ~1 hour, and has created/deleted hundreds of pods, the heap profile showed a sig

[2016-06-18 01:48] fejta commented on #27649
Nice work @spxtr things look good in https://github.com/kubernetes/kubernetes/pull/27220

@lavalamp any idea how we can get rid of the `X default` in the above PR?

[2016-06-18 02:24] k8s-merge-robot opened #27655 "[k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1514/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching {Kubernetes e2e suite}

[code]

[2016-06-18 02:24] fejta commented on #27444
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27570/kubernetes-pull-build-test-e2e-gce/45359 shows the build takes 7m now, but the overall suite continues to require 50m

[code]

[2016-06-18 02:34] justinsb opened #27656 "The multizone setting in gce.conf is ignored by PersistentVolumeLabel"
gce.conf is not even read while building the GCE cloudprovider:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/persistentvolume/label/admission.go#L176

As such, multizone is ignored, and a PV in a zone other than that in which the apiserver is running cannot be created on GCE.

[2016-06-18 02:38] fejta commented on #27648
Right now just the CI jobs, but after https://github.com/kubernetes/test-infra/issues/188 we also need to do this for the PR jobs.

[2016-06-18 02:39] #24103 closed

[2016-06-18 02:41] fejta commented on #27649
Life seems good, that PR merged despite the `X default` line

[2016-06-18 02:41] #27649 closed

[2016-06-18 02:43] fejta commented on #27444
Jobs that need to migrate to a new project:

node e2e - https://github.com/kubernetes/kubernetes/issues/27648
e2e - https://github.com/kubernetes/test-infra/issues/187
heapster/cadvisor - https://github.com/kubernetes/test-infra/issues/190

[2016-06-18 03:19] justinsb opened #27657 "GCE Multizone: Cannot create volumes in non-master zones"
Due to #27656, users are unable to create volumes in non-master zones.  The volume cannot be found, and so effectively only one zone is usable for persistent storage (or, in the case of HA master, none of them are).

Fix coming in the next hour or so...

[2016-06-18 03:20] justinsb commented on #27656
The most important consequence of this bug is #27657.  I propose that if we can work around that we can punt this to 1.4.

[2016-06-18 03:21] #27584 closed

[2016-06-18 03:24] justinsb commented on #23431
Concur that this is next-candidate.  kube-deploy tools include the ability to do true HA master, in auto-scaling groups on AWS, which are much more reliable and generally better.  I think we should generally prefer that approach to CloudWatch alarms, which were only ever temporary.

[2016-06-18 03:33] justinsb commented on #17219
I believe that is the behaviour.   kube-down ignores VPC_ID, doesn't find a tagged VPC, and doesn't destroy anything.  With #27518 it prints a hint as to why it isn't doing anything and points users to the more capable tools being developed in kube-deploy.

[2016-06-18 03:42] justinsb commented on #23787
Thank you for moving to next-candidate.  I think we're doing this work in kube-deploy.  I opened https://github.com/kubernetes/kube-deploy/issues/118, so I'm going to close this one.

[2016-06-18 03:42] #23787 closed

[2016-06-18 03:44] justinsb commented on #23476
I've actually made a lot of progress here, but most excitingly was able to separate it out into a separate controller thanks to https://github.com/kubernetes/kubernetes/pull/25614 .  My WIP is here https://github.com/kopeio/kope-routing  Once the 1.3 dust clears I hope to polish it up, but it isn't tied to a k8s release any more!

[2016-06-18 04:28] justinsb opened #27658 "Safely GC the volumes of a petset"
When a PetSet is deleted, the underlying pods / PVCs / PVs are not deleted.

Using the redis example:

[code]

[2016-06-18 04:30] justinsb commented on #27657
Fix in #27553

[2016-06-18 04:30] justinsb commented on #27656
Workaround to justify punting in #27553

[2016-06-18 04:32] justinsb commented on #27256
Fix in #27553

[2016-06-18 05:46] #26127 closed

[2016-06-18 05:50] bgrant0607 commented on #27629
@fejta This is cluster lifecycle, which currently has an area label rather than a team label. Applied ux and node team labels for now.

[2016-06-18 06:06] piosz commented on #23376
That's true.

[2016-06-18 06:29] wernight commented on #24745
I changed Ingress to look for `/robots.txt` for the alive/up check. Then directly making Ingress controller point to Jupyter port.

Currently and while testing I had Nginx in the middle. Directly hitting Nginx behind a LoadBalancer works as I've set it up with WebSocket support. It allowed me to serve the `robots.txt` but now `robots.txt` [should soon be included](https://github.com/jupyter/notebo

[2016-06-18 06:53] k8s-merge-robot opened #27660 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13052/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]

Previous issues for this test: #27394

[2016-06-18 06:56] #25145 closed

[2016-06-18 07:02] bgrant0607 commented on #27548
I agree with @lavalamp.

We want to facilitate multiple layers of APIs and systems built atop the core primitive: pods.

We could expose atomic transactions at the storage layer, but that wouldn't be accessible to the next layer.

One could implement three-phase commit in any layer, but I don't think that's better.

[2016-06-18 08:18] teestone opened #27661 "kubectlsetup is not uploaded to VM"
==> master: Running triggers after up...
==> master: Sanitizing stuff...
==> master: Waiting for Kubernetes master to become ready...
==> master: Installing kubectl for the Kubernetes version we just bootstrapped...
==> master: Executing remote command "sudo -u core /bin/sh /home/core/kubectlsetup install"...
==> master: /bin/sh: /home/core/kubectlsetup: No such file or directory
==> master: Remot

[2016-06-18 08:22] #27661 closed

[2016-06-18 09:35] AdoHe commented on #27607
I would take a look. Thanks @lavalamp

[2016-06-18 10:35] k8s-merge-robot opened #27662 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-subnet/3119/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

[2016-06-18 12:17] resouer commented on #27339
@lavalamp  Wrong label? This should be cluster-lifecycle or os/ubuntu I think.

@cityofships This is in TODO list but seems no one is working on that.

[2016-06-18 12:23] Seraf commented on #11543
Hello, I don't understand why this issue has been closed ?
I still have errors with components trying to reach ip-xxx-xxx-xxx-xxx.mycompany.internal instead of using  ip-xxx-xxx-xxx-xxx.eu-west-1.compute.internal because I'm using a private dns hostname on the DHCP.

Then I'm stuck, I don't know what to do as I need this private zone and kubernetes use dns not resolvable (not sur that create a /16

[2016-06-18 12:27] jtblin commented on #11543
The fix was released in 1.2. Which version do you use?

[2016-06-18 12:33] Seraf commented on #11543
@jtblin I'm using the 1.2.4 release

[2016-06-18 12:37] jtblin commented on #11543
Maybe a different problem then. We use private dns hostname without any issue now so I can confirm this issue has been fixed. What are the exact logs that you are getting?

[2016-06-18 12:50] Seraf commented on #11543
Ok, thanks ! Good to know.

I should have another issue, I will dig a little bit more and if it seems to be related to this issue I will post an update.

Thanks for your reactivity !

[2016-06-18 14:42] eparis opened #27663 "e2e node flake: unable to create gce instance with running docker daemon - ssh: connection timed out"
https://github.com/kubernetes/kubernetes/pull/27652
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/27652/node-pull-build-e2e-test/11090/build-log.txt

[code]

[2016-06-18 15:15] developerinlondon commented on #22984
yes i am having the same issue. i need to be able to self-label the node in AWS cloud.

[2016-06-18 15:43] aledbf commented on #24745
@wernight can you share the manifest you used to setup the ingress controller and Jupyter?

[2016-06-18 15:46] roberthbailey commented on #27654
@justinsb this is a p0 and didn't have an owner so I've assigned this to you.

[2016-06-18 15:50] roberthbailey commented on #23188
Given "this was long enough ago that I think now it's a non issue." I'm going to remove this from the 1.3 milestone.

[2016-06-18 17:26] #26698 closed

[2016-06-18 17:26] paralin commented on #23188
@roberthbailey I was talking about my specific part of this issue which turned out to be a bit unrelated. The actual errors themselves probably are still an issue. Ask @druidsbane

[2016-06-18 17:50] smarterclayton opened #27667 "Kubernetes api, controller, and client performance work"
This is a roundup issue for Kubernetes 1.4 and a tracker to orient folks on the ongoing work.  It is focused on all components that touch the API, but not necessarily the total system.  It also serves to identify areas where folks can get involved.

Track issues using [labels performance and CSI-API-Machinery](https://github.com/kubernetes/kubernetes/issues?utf8=✓&q=label%3Aarea%2Fperformance+labe

[2016-06-18 17:54] smarterclayton commented on #14978
Going to roll this up for 1.3 and say we need to open focused issues for remaining hotspots.

[2016-06-18 17:54] #14978 closed

[2016-06-18 18:01] smarterclayton commented on #27667
@kubernetes/sig-api-machinery @kubernetes/sig-scalability @xiang90 @hongchaodeng as there have been a lot of people recently discussing what they're doing in 1.4, wanted to make sure we had a list of the areas everyone is attacking.  Cross-over between the two sigs.

[2016-06-18 18:20] k8s-merge-robot opened #27668 "[k8s.io] Downward API should provide container's limits.cpu/memory and requests.cpu/memory as env vars {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/4809/

Failed: [k8s.io] Downward API should provide container's limits.cpu/memory and requests.cpu/memory as env vars {E2eNode Suite}

[code]

[2016-06-18 18:59] k8s-merge-robot opened #27669 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13054/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]

Previous issues for this test: #27406

[2016-06-18 19:12] #27062 closed

[2016-06-18 22:19] chrislovecnm opened #27670 "Pet cannot communicate with another Pet"
I am getting a flacky error that one Pet cannot communicate with other Pets.  These errors seem to become more prevalent as I am getting nearer to 500 pets.  How can I debug this?

I can ping the cassandra-0 and cassandra-1 from the node where the pet is attempting to launch.  After a couple of tries to launch the pod, it finally is able to chat with cassandra-0 or cassandra-1, but did get one loc

[2016-06-18 22:38] chrislovecnm commented on #27670
To add some more color when a new pod / pet is created it is having networking problems.  It eventually can talk to cassandra-0 or cassandra-1, and according to @bprashanth we need to change everything to DNS, not ips.  That is feasible..

Currently it is attempting to talk to the ip address directly.

[2016-06-18 22:45] bprashanth opened #27671 "Extended period of kube-dns probe failures after kubelet restart"
serial suite has a node reboot test, it checks for pods running/ready after the reboot. kube-dns restarts more than it should (4) times, eg: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1519/consoleFull

[code]

The last log messgae is wrong, the image puller had succeeded. If you lookup the DNS pod you should see.
[code]

To fix the log: https://github.com/kubernetes/kubernet

[2016-06-18 22:46] bprashanth commented on #27671
Oh, if this is because of delayed service account mounting then kube-dns is just a victim, any pod can crashloop post kubelet restart till the secret is mounted.

[2016-06-18 22:50] spxtr commented on #27475
Closing in favor of https://github.com/kubernetes/test-infra/issues/190

[2016-06-18 22:50] #27475 closed

[2016-06-18 22:56] bgrant0607 commented on #26234
@dshulyak I think the main challenge is how to determine correctness of the result. That needs more thought before this will be worth doing.

[2016-06-19 00:08] #22911 closed

[2016-06-19 00:08] #25056 closed

[2016-06-19 00:08] #26421 closed

[2016-06-19 00:10] k8s-merge-robot opened #27673 "[k8s.io] Port forwarding [k8s.io] With a server that expects no client request should support a client that connects, sends no data, and disconnects [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18908/

Failed: [k8s.io] Port forwarding [k8s.io] With a server that expects no client request should support a client that connects, sends no data, and disconnects [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-19 00:41] k8s-merge-robot opened #27674 "kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/6830/

Run so broken it didn't make JUnit output!

[2016-06-19 00:41] k8s-merge-robot opened #27675 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6029/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27479

[2016-06-19 01:03] justinsb commented on #21225
We actually have a workaround, so this really is a docs issue:

In 1.3, you can `export KUBE_AWS_STORAGE=ebs` and we will not use instance storage.  Arguably it should be the default, but that behavioural change would probably surprise some people.  Current plan is for upup will not use instance storage (by default)

[2016-06-19 01:45] AdoHe commented on #22984
Initially this is how we handle `hostname-override` in kubelet:
[code]
there are `nodeName` and `hostName`, they are different. For `nodeName`, `hostname-override` will be ignored if you are using cloud provider, we will use the node name determined by your cloud provider to register the node with apiserver. Perhaps we need some flag like `nodename-override` thus we can override node name even usi

[2016-06-19 02:19] drngsl opened #27678 "flexvolume: can't use volume plugins for test: no volume plugin matched"
I want to extend a volume plugin for flexvolume, so I tested the default flexvolume volumeplugin--kubernetes.io/lvm, but I got the above error.
Of course, I could see kubelet loaded the volume plugin successfully.
`I0619 10:10:36.011840   28544 flexvolume_util.go:103] Successfully initialized driver kubernetes.io/lvm`
My test pod yaml is from flexvolume example.
apiVersion: v1
kind: Pod
metadata:

[2016-06-19 02:36] bgrant0607 commented on #23525
cc @kubernetes/sig-storage

[2016-06-19 02:37] #27678 closed

[2016-06-19 02:48] justinsb commented on #23395
AWS recommends setting `net.ipv4.neigh.default.gc_thresh1 = 0`.  Amazon Linux AMIs do this also:
https://forums.aws.amazon.com/thread.jspa?messageID=572171

[2016-06-19 03:22] kant111 commented on #27239
I would like headless-service to be accessible through a public DNS so a client external to the cluster can  communicate to the pods directly and be able to do the load balancing themselves.

[2016-06-19 03:31] ae6rt opened #27679 "Pin the nameserver for cluster.local in dnsmasq config"
Now that kube-dns is fronted by dnsmasq, I believe there is an opportunity to avoid sending queries to  kube-dns for which it has no expectation of returning an answer, and, conversely, to avoid sending queries to additional general purpose recursive nameservers for cluster service names.

Would it be worth considering configuring dnsmasq in places such as saltbase (https://github.com/kubernetes/k

[2016-06-19 03:44] bgrant0607 commented on #27670
cc @wojtek-t re. scalability issues

[2016-06-19 03:56] bprashanth commented on #27670
Can you kubectl exec into another pod (busybox or anything that has nc) and run the same nc command?

[2016-06-19 03:56] k8s-merge-robot opened #27680 "[k8s.io] Port forwarding [k8s.io] With a server that expects a client request should support a client that connects, sends data, and disconnects [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/4404/

Failed: [k8s.io] Port forwarding [k8s.io] With a server that expects a client request should support a client that connects, sends data, and disconnects [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-19 04:06] k8s-merge-robot opened #27681 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/152/

Run so broken it didn't make JUnit output!

[2016-06-19 04:13] luxas commented on #25886
Ah, this s only partially fixed. Reopening...

[2016-06-19 04:36] k8s-merge-robot opened #27683 "[k8s.io] [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12078/

Failed: [k8s.io] [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers {Kubernetes e2e suite}

[code]

[2016-06-19 04:54] kelseyhightower opened #27684 "Build federation-controller-manager docker image with ca-certificates"
Current the federation-controller-manager docker images does not include a root ca cert bundle which causes syncing with DNS providers to fail:

[code]

To fix this issue I created my own container image using the following Dockerfile:

[code]

This resulted in a working image with a root cert bundle. Syncing with the GCE DNS provider now works.

[2016-06-19 05:44] roberthbailey commented on #23188
I'm re-adding the milestone so we don't lose track of this issue before hearing back.

[2016-06-19 05:59] roberthbailey commented on #27529
Many GKE suites are running against the 1.2 release branch since that's the stable branch that is currently supported in production. Why are gke-test and gke-staging tests in the non-blocking section of the submit queue? They shouldn't have any relation to whether or not we should be merging changes to head, since they are pinned at a specific k8s version.

[2016-06-19 06:03] lavalamp opened #27685 "hack/update-api-reference-docs.sh broken"
It seems to have broken a couple hours ago. `git bisect`ing shows that it's not something that merged that broke it, it's some dependency. I'm disabling it so the merge queue can make progress, and opening this issue so we fix ASAP. Our api docs will be out of date if any changes to the api merges, that seems like an OK tradeoff.

[2016-06-19 06:19] quinton-hoole commented on #27684
cc: @colhom @nikhiljindal @mml FYI...

[2016-06-19 07:20] davidopp commented on #27667
We have a separate issue for tracking scheduler performance/scalability improvements: #18418

[2016-06-19 08:37] davidopp commented on #27645
cc/ @kevin-wangzefeng

[2016-06-19 09:44] Random-Liu commented on #27663
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/23969/node-pull-build-e2e-test/11128/build-log.txt

[2016-06-19 09:50] wojtek-t commented on #27667
@smarterclayton - thanks for putting this together. I have few other things on my mind, but let me get back to it on Monday.

One thing that gives significant improvements on scale is avoid a lot of unnecessary computations in cacher - in large clusters we know that only O(1) watchers are interested in all pods/nodes and most of them are iterested in only one node/pods from that node.

I have alre

[2016-06-19 11:31] kargakis opened #27687 "Deployment controller should deep-copy before mutating its caches"
Right now the deployment controller mutates both replica sets and pods from its caches. It should deep-copy before mutating, otherwise it should not use shared caches.

@kubernetes/deployment

[2016-06-19 12:21] otaviosoares opened #27688 "High I/O - nodes keep going NotReady"
I have a cluster with 1 master and 3 nodes with just 4 pods of mine. Each pod has only 1 container running a tiny node.js app. The cluster is just a POC so, there is no load to this apps.

From time to time my nodes become NotReady and don't recover till I manually restart the kubelet service or the vm itself (sometimes all 3 nodes go down).

From servers monitoring I can tell that before going do

[2016-06-19 13:30] justinsb commented on #23395
Fix in #27682 (applies the recommended sysctl)

[2016-06-19 14:19] resouer commented on #25625
@roberthbailey I'm wondering is this really a common use case that worth doing? Could you explain with more details, for example, how to apply to autoscaling down?

[2016-06-19 14:44] resouer commented on #17676
I once mean to fix this but you know ... this will makes gitRepo more complicated

[2016-06-19 16:11] tgraf commented on #27398
What seems to be missing is the scope in which the address is valid in. The health check IP seems obvious but all others are unspecified. Is a consumer of this supposed to scan all visible addresses and pick a random one? Specifically this becomes complex with the potential introduction of multiple networks. Are all visible addresses supposed to be reachable across all networks?

I would prefer if

[2016-06-19 16:13] k8s-merge-robot opened #27691 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5567/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26970

[2016-06-19 16:29] smarterclayton commented on #27239
Can you not set up a CNAME and then expose your cluster DNS to the outside.  You'd have to be aware that may leak information about your cluster.

[2016-06-19 16:35] kant111 commented on #27239
I am not sure..how to do that?

[2016-06-19 16:46] goltermann commented on #27663
This appears to be happening to every item in the queue starting last night - they're all being kicked out instead of merged.  Upping to P0.

[2016-06-19 17:06] quinton-hoole opened #27692 "kubernetes-e2e-gke-multizone perma-broken on 6/18/2016"
The test job was passing consistently until midday on 6/18, e.g.

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-multizone/3736/

Then it started failing consistently, e.g:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-multizone/3737/

... with this error:

12:31:41 ... in gke:detect-node-instance-groups()
12:31:42 ERROR: (gcloud.compute.instance-groups.managed.list-insta

[2016-06-19 17:07] quinton-hoole commented on #27692
cc: @a-robinson

[2016-06-19 18:18] bgrant0607 commented on #14961
Note that unique label/selector generation similar to what we do for Job will require changes to kubectl expose, if will want users to be able to do a rolling update to an RC/RS with auto-generated labels.

#17902
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/WbqQVNkDZUE/1f5WZK2zCAAJ

[2016-06-19 18:36] davidopp opened #27693 "e2e failure: "No such image or container""
Happened in

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27682/kubernetes-pull-verify-all/948

Also mentioned previously, but no bug filed:

https://github.com/kubernetes/kubernetes/pull/25125#issuecomment-221666235

https://github.com/kubernetes/kubernetes/pull/25415#issuecomment-219201572

and elsewhere.

Seems to be a test infra problem.

The only error I se

[2016-06-19 18:52] JeanMertz commented on #24745
@aledbf I don't think the GCE-based Ingress controller supports websockets, does it?

[The documentation](https://cloud.google.com/compute/docs/load-balancing/http/) mentions:

But I don't believe using network load balancing is possible, using GKE's ingress controller, is it?

[2016-06-19 19:12] chrislovecnm commented on #27239
@kant111 can you put in another issue and link it to this one?

[2016-06-19 19:31] davidopp commented on #27347
Please make sure to also fix #26983  (it's referenced above but just wanted to call attention to it; I don't think #27525 fixes it).

[2016-06-19 19:41] bprashanth commented on #24745
GCE ingress only supports l7, and there is no websocket support at l7 yet. you can use servcie.Type=loadbalancer for a network loadbalancer that does support websockets on gce, or use the nginx ingress.

[2016-06-19 20:17] #27534 closed

[2016-06-19 20:25] developerinlondon opened #27694 "having problems with secrets in AWS"
I am trying to load containers form ECR into my kubernetes stack. But it seems to work fine with docker but not if I use the kubernetes imagePullSecrets.

here is the output from the pods:
[code]

this is the pod definition:
[code]

and this is the secrets file:

[code]

and this is the output from kubectl secrets:
[code]

any ideas what i am doing wrong here or how i can resolve this? its been dr

[2016-06-19 20:44] chrislovecnm commented on #27670
@bprashanth  I had to delete the last petset that I brought up.  I have to get some cluster up.

 I made the change to have C* not bootstrap, and redid the deployment.  The deployment failed horribly last night, with unknown causality.  I am redeploying in 100 server chunks, and have slowed the deployment down to one server a minute.  Will keep this issue up to date.  At 74 server deployed as of n

[2016-06-19 20:47] a-robinson commented on #27692
Almost certainly caused by #26917. I'm not going to bother rushing in a rollback today since it's not a critical build, but could you fix this up tomorrow @fabioy?

[2016-06-19 21:04] saad-ali commented on #26682
Looks like there are three different flavors of failure for this test:

1. `server does not allow access to the requested resource`
  * Status: @matchstick--"After consulting with Chao we are moving this to team CSI due to namespace deletion."
2. `PersistentVolume pvc-ee236ef7-2cbe-11e6-9e3e-42010af00002 still exists within 20m0s`
  * Resolution: Fix tracked by https://github.com/kubernetes/kubern

[2016-06-19 21:11] #23395 closed

[2016-06-19 21:24] saad-ali commented on #23525
Correct, GCE PD creation [does not specify a type](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L2190) which defaults to `DISK_TYPE` `pd-standard` not `pd-ssd`.

Dynamic provisioning is an alpha feature, so we could change the default type without having to worry about backwards compatibility. That said, I think it makes sense to keep `pd-standard` (i

[2016-06-19 21:48] bgrant0607 commented on #27547
Is this primarily about node configuration, or also about master configuration?

What kinds of information needs to be configurable?

Has anyone thought about approaches that wouldn't require substitution?

See also:
* #23174
* https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/cluster-deployment.md
* https://github.com/kubernetes/kube-deploy/tree/master/min-turnup
* https://githu

[2016-06-19 21:50] saad-ali commented on #27653
Only if kubelet is restarted *and* a pod with volumes mounted is deleted during that period.

I agree it must be fixed. But I don't think it's a v1.3 blocker. I think it can wait for v1.3.1

@matchstick for triage.

[2016-06-19 21:57] bgrant0607 commented on #24114
This should be replaced by kubernetes-anywhere.

[2016-06-19 22:05] saad-ali commented on #20262
Closed with https://github.com/kubernetes/kubernetes/pull/26351

[2016-06-19 22:05] #20262 closed

[2016-06-19 22:06] saad-ali commented on #21931
Closed with https://github.com/kubernetes/kubernetes/issues/26801

[2016-06-19 22:06] #21931 closed

[2016-06-19 22:08] saad-ali commented on #26847
This is fixed in v1.3 by https://github.com/kubernetes/kubernetes/pull/26351

[2016-06-19 22:08] #26847 closed

[2016-06-19 22:17] saad-ali commented on #18785
This is fixed in v1.3 by #26351

[2016-06-19 22:17] #18785 closed

[2016-06-20 00:40] goltermann commented on #27573
@dchen1107 Please close if the cadvisor version bump was all we needed.

[2016-06-20 00:42] goltermann commented on #27382
@nikhiljindal what work remains before closing this issue?

[2016-06-20 00:43] goltermann commented on #27198
Should it remain in the v1.3 milestone, or is the 1.3 required work finished?

[2016-06-20 00:44] pbitty commented on #11935
@fgrzadkowski @justinsb Sounds great!  I am generally available for a hangout  Mon-Wed 11:00-17:00 ET.  I'll also hop on #sig-aws on Slack tomorrow.

[2016-06-20 01:38] #27378 closed

[2016-06-20 02:36] resouer commented on #24114
It seems kubernetes-anywhere is bound to weave?

[2016-06-20 02:37] AdoHe commented on #27404
@dchen1107 I think pr #27365 addressed how to parse the data at kubectl side, but what @pwittrock means we should support this in API level.

[2016-06-20 03:26] girishkalele commented on #7825
Will close via https://github.com/kubernetes/kubernetes/pull/27652

[2016-06-20 03:30] girishkalele commented on #26135
```Error building GCE/GKE provider```

https://github.com/kubernetes/kubernetes/issues/22190

[2016-06-20 03:43] evmin commented on #17676
Indeed, it does add a degree of sophistication.

Yet it makes the life a lot easier in situations where the implementation pattern is to have a docker image for the software engine only, and to source the interpreted code at the deployment.

Please correct me if I am missing something, yet I do not see how a sidecar could work for such scenario  - I am under impression that there is no way to defi

[2016-06-20 04:00] zhanghonged opened #27697 "After the deployment, view logs wordPress tips are not connected to the database:"
After the deployment, view logs wordPress tips are not connected to the database:
[root@master k11]# kubectl logs wordpress
WordPress not found in /var/www/html - copying now...
WARNING: /var/www/html is not empty - press Ctrl+C now if this is an error!
+ ls -A
.htaccess
+ sleep 10
Complete! WordPress has been successfully copied to /var/www/html

Warning: mysqli::mysqli(): php_network_getaddresse

[2016-06-20 04:02] zhanghonged commented on #27697
The docker-compose connection database has the Linx field, but there is no k8s below this field, how to find the hostname MySQL?
docker-compose.yaml
 links:
    - db:mysql

[2016-06-20 04:06] #26646 closed

[2016-06-20 04:29] onorua opened #27698 "Shouldn't kube processes use kubeconfig for API server discovery?"
I'm wondering, why do kubelet/kube-proxy need to have `--api_servers` defined explicitly as a command line argument and not use `server` in cluster config of the `kubeconfig` file.
Generally kubelet will not be able to talk to API server due to missing certificates or credentials, so why don't use server from kubeconfig rather than from command line?

I've tried to set it in kubeconfig removing co

[2016-06-20 04:40] #26691 closed

[2016-06-20 04:40] guoshimin opened #27699 "`git describe` to semver translation wrong in hack/lib/version.sh"
The line in question is https://github.com/kubernetes/kubernetes/blob/527cb50583a2599823e1784b0c35deb1e8ad763a/hack/lib/version.sh#L59

We built a custom version off of v1.2.4. The output of `git describe` is `v1.2.4-1-ge191e9760c2dbd`

After the translation, it became `v1.2.4.1+e191e9760c2dbd`.

It's not a valid semver. Node controller complained about this fact:
[code]
One consequence of this is

[2016-06-20 04:50] vishh commented on #27605
CPU `limits` are enforced using **hardcapping** and `requests` are enforced using **shares**.
So its working as intended.

The docs might have to be fixed. I updated the issue title to reflect that.

Thanks for filing the issue @stefanodoni

[2016-06-20 05:01] luxas commented on #24114
This issue is stale. It's working now with v1.3 and some alphas as well.

@bgrant0607 I don't agree with you. I took care of it, and now the deployment is working quite well (based on conformance tests), and there will be further improvements to the run-everywhere docker-multinode solution.

I admit that kubernetes-anywhere has a much nicer name, and is probably advertised about better. But it isn

[2016-06-20 05:14] caesarxuchao commented on #27667
inprogress Versioned client in controllers depends on the shared cache work (all controllers sharing a cache have to use the same object type)

Thanks @smarterclayton. The link you gave doesn't work. Did you mean to link to this [issue](https://github.com/kubernetes/kubernetes/issues/4874)? I have an outdated [WIP PR](https://github.com/kubernetes/kubernetes/pull/24155) related to this and plan to

[2016-06-20 05:34] davidopp commented on #27198
Not for 1.3

[2016-06-20 06:01] asalkeld commented on #27523
I found this in the logs:

[code]

[2016-06-20 06:25] Blake-R commented on #23276
Same problem here. We don't use any limits, but simple scale down more then 3 pods is hangs.

One moment about rolling-update issue: it appears only in case of renaming original rc; if use it by default all ok.

[2016-06-20 06:26] k8s-merge-robot opened #27703 "[k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5588/

Failed: [k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}

[code]

[2016-06-20 06:30] wojtek-t commented on #27444
@fejta is probably correct, because there are runs that take <30m, e.g. this one:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/45838/consoleFull

[2016-06-20 06:34] saad-ali commented on #27523
cc @rootfs @jsafrane @kubernetes/sig-storage

[2016-06-20 06:42] wojtek-t commented on #27615
Oh yeah - it's duplicate of https://github.com/kubernetes/test-infra/issues/79 - thanks @ixdy for pointing on it.

[2016-06-20 06:42] #27615 closed

[2016-06-20 06:43] wojtek-t commented on #18831
In fact there are already some things that are not solved here (e.g. spreading priority is O(pods)). But I'm fine with closing this one and filing separate issues for such things.

[2016-06-20 07:02] saad-ali commented on #26250
Closed with https://github.com/kubernetes/kubernetes/pull/26801

[2016-06-20 07:02] #26250 closed

[2016-06-20 07:06] k8s-merge-robot opened #27704 "[k8s.io] V1Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9545/

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]

[2016-06-20 07:07] sttts commented on #27685
It's because the `hack/gen-swagger-docs` container accesses master's `pkg/api/v1/register.go` and uses the `GetObjectKind` lines to list the top level api objects (compare https://github.com/kubernetes/kubernetes/blob/master/hack/gen-swagger-doc/gen-swagger-docs.sh#L43).

In https://github.com/kubernetes/kubernetes/pull/27168/commits/e3af3451c8445639c33644bbcbdc94da16968b87#diff-f0456cede4d61f48e5

[2016-06-20 07:09] nhlfr opened #27705 "Failed to run update-api-reference-docs.sh"
When running `hack/update-api-reference-docs.sh` on the current master, it's exiting with non-zero status:

[code]

That's because it's failing on the following line of `hack/gen-swagger-docs.sh` script:

[code]

Because due to [this commit](https://github.com/kubernetes/kubernetes/commit/e3af3451c8445639c33644bbcbdc94da16968b87), all `GetObjectKind` methods got removed from `pkg/api/v1/register.g

[2016-06-20 07:20] saad-ali commented on #27477
Between Wed June15 12:15 PM PST and Mon, June 20 12:17 AM PST:
* This test has flaked 6 times in the last 131 runs in the GCE-slow suite (4.58% failure rate).
* This test has flaked 1 times in the last 160 runs in the GKE-slow suite (0.625% failure rate).

[2016-06-20 07:23] zefciu commented on #17902
I started a thread in a group about it as well:
https://groups.google.com/forum/#!topic/kubernetes-dev/WbqQVNkDZUE
I explain the simple scenario where this can be very baffling to a newcoming user.

[2016-06-20 07:28] sttts commented on #27685
The actual root cause of the trouble is that we run scripts from HEAD accessing files from master. If we change the later, the former might get incompatible. Why is that necessary?

Compare https://github.com/kubernetes/kubernetes/blob/master/hack/update-api-reference-docs.sh#L63.

[2016-06-20 07:57] kargakis commented on #23276
https://github.com/kubernetes/kubernetes/pull/27048 should help in identifying if the error comes from the scaler.

[2016-06-20 08:14] stefanodoni commented on #27194
Hi,

Any news on that one?

I think this is going to impact pretty much all of k8s deployments out there, if this remains unfixed.

Are there alternative ways to get reliable pod CPU usage metrics within k8s?

[2016-06-20 08:16] jszczepkowski commented on #27317
Closing as fix for #27194 was merged and all failures were from before it.

[2016-06-20 08:16] #27317 closed

[2016-06-20 08:31] jsafrane commented on #27523
CephFS PVs **should** work, there is nothing special about them... All these messages mean that something has deleted the PV and Kubernetes can't start a pod that uses it:

* `volume "cephfs-angus" deleted`
* `Lost` PVC status
* `PersistentVolumeClaim 'default/ceph-claim-wm' is not in cache`

Kubernetes do not implement any deleter for Ceph volumes (yet), it must have been deleted by something out

[2016-06-20 08:34] asalkeld commented on #27523
thanks @jsafrane , I am not manually doing any deleting. I'll check for some magic happening in ceph.

[2016-06-20 08:35] davidopp commented on #27404
It seems like the pods that should be running on a machine (and their resources) are part of the "request" not the "status" ? If you're suggesting to put them in NodeStatus I'm not sure that is the right thing to do.

[2016-06-20 08:40] Random-Liu commented on #27194
@stefanodoni This has been fixed in #27591

[2016-06-20 08:50] stefanodoni commented on #27194
Great thanks!

To better state my question: will the change be backported to 1.2 series? I guess most of the people are using k8s 1.2 currently, so the question probably translates to which Heapster release should be used to monitor 1.2 clusters?

The cluster monitoring manifests that come with k8s release currently use heapster 1.0.2 version, which is buggy:

apiVersion: extensions/v1beta1
kind:

[2016-06-20 09:15] chrislovecnm commented on #27670
I am getting memory errors on multiple servers.  Seems that tasks are being killed because they are exceeding a limit.  How often is the ready probe ran?  I am restarting the petset with more headroom.  I left 1 GB of mem above the 4G assigned to the java jvm.

[code]

[2016-06-20 09:27] chrislovecnm commented on #27670
Tasks are being killed even when the ready probe is not being run:

[code]

[2016-06-20 09:28] chris-milsted opened #27710 "Federation: Proposal: support snapshotting or mirroring persistent volumes between clusters"
Reading the Ubernetes proposal and specifically with interest in Scenario 4:

"I want to be immune to any single data centre or cloud availability zone outage, so I want to spread my service across multiple such zones (and ideally even across multiple cloud providers)."

I would like to add scenario 5 to also include thinking which covers persistent volumes if these were available across both clus

[2016-06-20 09:41] dirtGit commented on #19049
@Hui-Zhi "gpuDevices:{GPUPlatform:{Name:cuda DriverVersion:352.63 PlatformVersion:7.5} Devices:[{Path:/dev/nvidia0 Cores:640 Memory:4092 Family:Maxwell}]}" How to get these GPU info?

[2016-06-20 10:08] xiaochunyn opened #27712 "e2e run fails during build with 'compile: reading input: EOF' errors"
[code]

[2016-06-20 10:12] kargakis commented on #27362
Opened #27713 that partially fixes this.

[2016-06-20 10:29] gmarek commented on #27635
It probably was fixed by #27428. Please reopen and assign to me if it happens again.

[2016-06-20 10:29] #27635 closed

[2016-06-20 10:32] gmarek commented on #27444
@luxas - I think that we just live with the possibility of revert caused by a lot of other suites, so I don't think mutliarch build is treated any different.

[2016-06-20 10:42] dims commented on #27705
@nhlfr Dup of P0 issue https://github.com/kubernetes/kubernetes/issues/27685 ?

[2016-06-20 10:44] nhlfr commented on #27705
@dims yes

[2016-06-20 10:44] #27705 closed

[2016-06-20 10:52] s-m-b commented on #23276
Must add to @Blake-R message, that with bigger time-out (--timeout=30m), rolling-update proceeds after 3 pods but much slower. On master I have following log for 5 pods RC:

[code]
Message like `Clobbering existing delete keys: map[default/python-test-ws-e1-s439t:{}]` appear every time before update makes progress after a ~5 minutes freeze.

[2016-06-20 11:13] dragon9783 commented on #6862
+1

[2016-06-20 11:22] typhoonzero commented on #13944
I have an repo make use of  ```storm.local.hostname``` for topologies to run, based on @mattf : https://github.com/typhoonzero/storm-docker, so where should I merge to?

[2016-06-20 11:58] k8s-merge-robot opened #27715 "[k8s.io] Kubectl client [k8s.io] Simple pod should support inline execution and attach {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9559/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support inline execution and attach {Kubernetes e2e suite}

[code]

Previous issues for this test: #26324

[2016-06-20 12:03] willstudy opened #27716 "How to involve an alarm function in the monitoring system( heapster & influxdb & grafana ) ?"
Heapster & Influxdb & Grafana can be a resource monitor well, but the it's a pity that I can not use them as a alarm system directly.

For example, if some nodes were going down, I want the alarm system will send me a warning email immediately.

About alarm system in kubernetes cluster, how do you solve it ? Thank you ....

[2016-06-20 12:13] jsafrane commented on #26682
I'd love to, but I can't find any kube-controller-manager.log

[2016-06-20 12:55] Thermus opened #27718 "AWS service without ELB (implement PBR)"
Hello,

I need to make pods reachable from the internet, but I can't use ELBs for that, because I need static IPs. I want to use the elastic IPs for that, but the NAT that happens between the elastic IP and the private IP only translates the IP address, it can not translate the ports. The pods have overlapping ports, so I need to run one pod on each node.
The problem with that is, that the pods th

[2016-06-20 13:24] wernight commented on #24745
To be specific I was talking about an Ingress controller on Google Contrainer Engine (GKE); didn't try on self-hosted.

@bprashanth By "or use the nginx ingress", I guess you mean create a `LoadBalancer` pointing to a service running Nginx which does Ingress-like using virtualhost and such? That would work for sure (tested). I found a bit strange that the Kubernetes' Ingress doesn't handle that (y

[2016-06-20 13:41] edouardKaiser opened #27720 "Logging: No symlink from /var/lib/docker/containers/ to /var/log/containers"
According to the fluentd-elasticsearch configuration ([td-agent.conf](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/td-agent.conf)),  it says that the kubelet creates symlinks that capture the pod name, namespace, container name & Docker container ID to the docker logs for pods in the /var/log/containers directory on the host.

Unfortuna

[2016-06-20 13:47] aledbf commented on #24745
@wernight this is the nginx ingress controller that @bprashanth mentioned https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx

[2016-06-20 14:29] sttts commented on #26210
Some insight after we separated some of the flaky test cases by using other ports than 80 (https://github.com/kubernetes/kubernetes/issues/26961):

**We continue getting exclusively flakes with port 80.**

[2016-06-20 14:58] laboger commented on #25886
The error occurs because the hyperkube binary is very large and when building the binary, golang is generating a single go.o file with a single text section that is larger than 2^26 on ppc64le.  When there is a call instruction within that section where the call target offset is beyond what can fit in the instruction the relocation truncation error will be generated by the GNU linker.  When there

[2016-06-20 15:12] luxas commented on #25886
@laboger Interesting. How does amd64 handle it?

[2016-06-20 15:17] yujuhong commented on #27383
@derekwaynecarr @vishh, any suggestions?

[2016-06-20 15:18] luxas commented on #27679
@bprashanth @ArtfulCoder @girishkalele

[2016-06-20 15:18] wernight commented on #24745
@aledbf Ok I see the contrib, but I'm lost in how it's supposed to be used/setup on GKE. What I used is http://kubernetes.io/docs/user-guide/ingress/ with the setup on https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md . Does it mean there are various implementation of an Ingress controller one can choose from?

[2016-06-20 15:27] erictune commented on #27152
Current implementation is using  "unrestricted impersonation".  In the future, consider having the ability to do "restricted impersonation".  In the latter, the action is authorized if both the authenticated and "acting-as" roles are authorized to do the action.

This makes it possible to two two things at once: (1) restrict the controller to only do the operations it needs to do (e.g. a pod contr

[2016-06-20 15:32] dims commented on #27720
@edouardKaiser Can you please check if you see this error in your logs?
https://github.com/kubernetes/kubernetes/blob/v1.2.4/pkg/kubelet/dockertools/manager.go#L1543

[2016-06-20 15:34] goltermann commented on #27663
Moving to P1, this was happening for several hours yesterday then stopped.

[2016-06-20 15:36] luispabon opened #27721 "After rolling update, old pod still lying around"
Whenever I do a rolling update of a replication controller with an image, the originally deployed pod is kept alive on the cluster. For instance, if I deploy a new application, version 1 gets deployed. After a number of deployments, both original version 1 and version X are active.

Not only that, replication controllers seem messed up. If I describe the pods in question, they each are in a differ

[2016-06-20 15:39] metal3d opened #27722 "Kubelet displays MissingClusterDNS despite cluster-dns and cluster-domain options are given"
I installed kubernetes 1.2.4 on 3 REHEL7 servers (no internet access).
I've got everything working great excepting the kubedns example given in documentation.

Configuration:
[code]

I loaded the "busybox" example and see events:

[code]

But if you look to the congfiguration file and the "ps ax" output I've given, dns and dns-domain are given to the kubelete options.

So why kubelet says : "Missi

[2016-06-20 15:43] goltermann commented on #23396
@erictune #26753 is now merged

[2016-06-20 15:47] laboger commented on #25886
I don't know for sure how arm64 handles it because I don't have access to a machine that is set up to build for arm64.

I suspect their text section size is not as large as it is on ppc64le so they haven't hit the limit yet.

[2016-06-20 15:55] ahuffman commented on #27442
@lavalamp, as I mentioned, I'm using the openssl portion of the documentation to create the certificates.  The documentation states to use: -subj "/CN=${MASTER_IP}" and I don't see any mention on SANs there to be clear.  Looking at the manpages on req 'man req' it states you can provide multiple values via the -subj option as such: -subj CN=kubernetes.huffnet.org/CN=192.168.122.20/CN=huff-kubmst01

[2016-06-20 15:58] erictune commented on #24167
Whitelist approach seems like it makes it hard to distinguish between just-created vs just-deleted.  Delay in propagating updates to service accounts in HA/federated setup leads to weird failures, maybe?

Blacklist seems preferable.  Article about revoking JWTs using a `jti` claim: https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/

[2016-06-20 16:18] erictune commented on #12732
Is OpenShift just doing this for servers, or for clients as well?  The latter seems very useful too, but a little trickier.    Servers are discovered by their DNS name, so that is sufficient.  But clients may have multiple attributes that servers want to know about when authorizing them (pod name/namespace, controller it is part of, service account, labels, etc).

Related: @jbeda's [spiffe.io].

[2016-06-20 16:19] hongchaodeng commented on #27667
If so, it should watch on single pod, right?

[2016-06-20 16:28] erictune commented on #24925
No.  The number of cores on your machine never matters when interpreting a cpu usage.

[2016-06-20 16:28] #24925 closed

[2016-06-20 16:29] luxas commented on #23225
@mikedanese How do you plan to access the apiserver from the daemonset?
I totally forgot about this when making the manifest for docker-multinode.
It's a chicken-and-egg-problem where kube-proxy needs to connect to the apiserver in order to setup the 10.0.0.1 mapping from endpoint to service.

I obviously know you know this, but summarizing anyway.

The first solution I can think of is that the ap

[2016-06-20 16:45] ncdc commented on #27195
@sttts is this similar to the other proxy flakes you've looked into?

[2016-06-20 16:48] #19204 closed

[2016-06-20 16:50] smarterclayton commented on #12732
Just generating serving certs and propagating a CA into service account
secrets right now.

On Mon, Jun 20, 2016 at 12:19 PM, Eric Tune <notifications@github.com>
wrote:

[2016-06-20 16:51] goltermann commented on #22823
Moving P2 code bugs out of v1.3 milestone.  Please comment if you disagree and think a fix is required for 1.3.

[2016-06-20 16:52] goltermann commented on #17219
Moving P2 code bugs out of v1.3 milestone.  Please comment if you disagree and think a fix is required for 1.3.

[2016-06-20 16:52] goltermann commented on #27638
Moving P2 code bugs out of v1.3 milestone.  Please comment if you disagree and think a fix is required for 1.3.

[2016-06-20 16:52] fabioy commented on #27692
Yeah, that's me. The change to support multiple MIGs in a single zone doesn't quite work. Didn't know of this test variation.

Just to confirm, to run this test variation, the additional env vars I should set are (aside from the standard ones):

export KUBERNETES_PROVIDER=gke
export ADDITIONAL_ZONES=us-central1-a,us-central1-b

Any other?

[2016-06-20 16:53] goltermann commented on #27658
@bprashanth Can you help triage?  Think this is a P1 (required for 1.3)?

[2016-06-20 16:55] mikedanese commented on #23225
@luxas kube-proxy and kubelet should not use the service IP

This sounds like a good idea. We can mount a kubeconfig file into the kube-proxy container and configure the apiserver client using the --kubeconfig= flag. The kube-proxy should talk directly to the apiserver (using the node ip if using host port or another method that doesn't depend on the master service).

The reason we haven't just pu

[2016-06-20 16:55] roberthbailey commented on #27692
@lavalamp -- yet another instance of a PR passing all presubmit tests and breaking other jenkins jobs after being merged.

[2016-06-20 16:57] wojtek-t commented on #27667
It's not a single pod - these are all pods attached to a given node.

[2016-06-20 16:59] luxas commented on #25886
Ok, you may easily see what's going on for **arm64** by investigating what `aarch64-linux-gnu-gcc` does in kube-cross.

But I asked about what **amd64** (x86_64) does to prevent this :)
(I'm assuming this will never happen to amd64)

[2016-06-20 17:00] mbohlool commented on #8116
My initial thoughts on this is to have one validation type for each validation in a validation package. For example a Range validation would be like this:

[code]

(I don't like ModelProperty in above code and would like to generalize it more, will do that in the actual PR)

then we can add a tag to any int property to use Range validator:

[code]

The validator code can use reflection (or generat

[2016-06-20 17:15] quinton-hoole commented on #27710
Thanks for your input @chris-milsted.  Yes, we definitely have some form of data replication/migration on the long-term roadmap for cluster Federation.  Be warned that it's going to be difficult to come up with a general-purpose, performant, reliable data replication model though.

In the mean time however I envisage that multiple datastore-specific mechanisms will emerge from the community.

Lets

[2016-06-20 17:16] Random-Liu commented on #27194
@stefanodoni The bug is in cadvisor side not heapster. This is change will be in 1.3 and 1.3 will come out soon.
For 1.2, AFAIK, we don't have plan to backport it for now. @dchen1107 has better ideas about this.

[2016-06-20 17:27] lavalamp commented on #27320
@davidopp the scheduler predicate tests seem very broken again, can you find someone to look at them?

[2016-06-20 17:28] chrislovecnm commented on #27670
I am thinking this was a user problem, problem between the floor and the keyboard. Knock on wood but I am over 500 nodes and no more nasty dmesg errors. We may want to update the docs to remind people to give enough headroom for readiness probes... Fingers crossed want to get to 1k today!

[2016-06-20 17:32] nikhiljindal commented on #8116
cc @kubernetes/sig-api-machinery @whitlockjc

[2016-06-20 17:37] yujuhong commented on #27456
I patched the `RemoveWatctch` function in my local branch to delete the paths, and this seems to have fixed the leaks in both `AddWatch` and `readEvents`.

[code]

[2016-06-20 17:41] yujuhong commented on #27456
/cc @kubernetes/sig-node @dchen1107 @timstclair

xref: https://github.com/golang/go/issues/16097

[2016-06-20 17:43] ncdc commented on #27456
cc @kubernetes/rh-cluster-infra

[2016-06-20 17:47] piosz commented on #27194
@stefanodoni we will probably release 1.3 sooner than we will be able to include this in a 1.2 patch release. Also since cadvisor is linked into Kubelet and it's not possible to do a patch release of cadvisor. If we would like to backport this to 1.2 we would have to include also a bunch of other changes there which is risky.

[2016-06-20 17:49] fejta commented on #27671
Assigning to @thockin to find an owner per team/cluster label.

[2016-06-20 17:49] lavalamp commented on #27685
@sttts thanks for looking into this!

[2016-06-20 17:51] lavalamp commented on #27685
@caesarxuchao looks like you might have had something to do with this, can you put a fix together?

[2016-06-20 17:52] fejta commented on #27674
Last two instances both have the following:

[code]

[2016-06-20 17:55] wernight commented on #24925
If it doesn't, can you explain? Because I understood that on a dual core
`200m` = `10%`, but those are not equivalent on a single core for example.

Le lun. 20 juin 2016 à 18:29, Eric Tune <notifications@github.com> a écrit :

[2016-06-20 17:57] fejta commented on #27685
FYI this is also causing https://k8s-testgrid.appspot.com/google-unit#test-go-release-1.2 to fail

[2016-06-20 18:00] vishh commented on #27383
+1. If you can create an image and give me read access, I can copy that image over to the testing project that the CI uses.

[2016-06-20 18:01] fabioy commented on #27692
@quinton-hoole Can you tell me a bit more how this test is setup? I tried to do a "kube-up.sh" with the additional zones and it worked for me. My settings:

export KUBERNETES_PROVIDER=gke
export ZONE=us-central1-f
export CLOUDSDK_BUCKET=gs://cloud-sdk-testing/ci/staging
export CLOUDSDK_API_ENDPOINT_OVERRIDES_CONTAINER=https://test-container.sandbox.googleapis.com/
export ADDITIONAL_ZONES=us-centra

[2016-06-20 18:01] caesarxuchao commented on #27685
@sttts has sent #27706 to fix it. I'm reviewing it.

[2016-06-20 18:05] erictune commented on #27654
This seems nice, but why is it a P0?

[2016-06-20 18:06] fejta commented on #27681
From looking at https://k8s-testgrid.appspot.com/google-unit#verify-master it seems as if there was something bad about 9d8e79b, closing.

[2016-06-20 18:06] #27681 closed

[2016-06-20 18:07] #24254 closed

[2016-06-20 18:09] fejta commented on #27693
@davidopp that isn't the actual error -- it detects that the image doesn't exist so then it creates it:

[code]

The actual error is near the top (of this impossible to process output):

[code]

That makes this a dup of https://github.com/kubernetes/kubernetes/issues/27685

[2016-06-20 18:09] #27693 closed

[2016-06-20 18:09] yujuhong commented on #27653
Almost every pod has a default secret volume, so this applies to most pods. The difference between this issue and many other issues is that it's not transient and haunts kubelet forever even after restarts, and would only get worse as times goes by.

Could this be documented as known issues in the release note if the decision is to table this for v1.3.1? Thanks!

[2016-06-20 18:10] smarterclayton commented on #27685
Introduced by #27168

[2016-06-20 18:13] janetkuo commented on #27086
dup with #27325

[2016-06-20 18:15] #27573 closed

[2016-06-20 18:15] erictune commented on #23188
The AWS maintainer says " reran the commands as provided in the original report, and they did work now.".  That sounds like it is probably fixed.  I don't think we can wait longer for "definitely fixed".  Moving to P2.

[2016-06-20 18:17] erictune commented on #23396
Waiting just for docs: https://github.com/kubernetes/kubernetes.github.io/pull/643

Adding docs label.

[2016-06-20 18:19] caesarxuchao commented on #27685
Thanks @stts. The fix LGTM.

[2016-06-20 18:19] dims commented on #27683
@apelisse can we please mark this as milestone v1.3? i have a PR ready - https://github.com/kubernetes/kubernetes/pull/27717

[2016-06-20 18:20] freehan commented on #27489
Ran the stress test over the weekend. Still has not bump into the kernel bug.
But kubelet breaks this morning due to OOM + cadvisor issue. @dchen1107 will follow up with that.

This looks promising. We can observe soak cluster for sometime. And consider switching to `hairpin-veth` mode with `kubenet` for 1.3.1.

FYI, soak tests currently is not healthy  #27630 #27374

[2016-06-20 18:23] vefimova opened #27723 "Proposal to enable setting of multiple handlers per probe type"
Hi, I wonder, is there a reason of having restriction to only one probe handler per probe type (Liveness and readiness) per container? Because it seems reasonable to provide at least possibility to set HTTP or TCP handler (to check endpoint availability) along with exec handler (for application specific checks inside container)? If there are no crucial objections against this, I would like to disc

[2016-06-20 18:23] quinton-hoole commented on #27692
@fabioy Have you read https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md#federation-e2e-tests ?

[2016-06-20 18:23] quinton-hoole commented on #27692
Oh, sorry, wrong link.

[2016-06-20 18:25] kfox1111 commented on #27464
docker 1.12 has this implemented:
https://github.com/docker/docker/issues/10163

Which I think would be a prereq.

[2016-06-20 18:27] wojtek-t commented on #26983
@rootfs - can you please check if this is fixed by https://github.com/kubernetes/kubernetes/pull/27525 ?

[2016-06-20 18:29] nikhiljindal commented on #27382
The PR is now merged: https://github.com/kubernetes/kubernetes/pull/27396. Closing.

[2016-06-20 18:29] #27382 closed

[2016-06-20 18:35] roberthbailey commented on #25625
When removing a node from a cluster (either because an autoscaler decides to free up space or a user requests the release of resources), we should drain the node before deleting it from the cluster. If we want to build this into automation (e.g. autoscaling), then we don't want to rely on the drain command only existing in the kubectl client that is intended to be used by a human.

[2016-06-20 18:48] #27683 closed

[2016-06-20 18:49] wojtek-t commented on #27347
I asked for check in the other issue - my feeling is that it fixes the other bug too.

[2016-06-20 18:54] sols1 commented on #27556
Did I just not wait long enough?

It looks like the slop decreases after 2 days:

<img width="1031" alt="screen shot 2016-06-20 at 11 50 32 am" src="https://cloud.githubusercontent.com/assets/17886050/16206522/a7aebd40-36dd-11e6-9cbe-7fd8c56f63ba.png">

[2016-06-20 18:54] erikgrinaker opened #27725 "NoDiskConflict failure with RBD read-only volumes"
Only a single pod per node is able to use the same Ceph RBD image in read-only mode. Further pods fail to be scheduled with `NoDiskConflict`.

I would expect multiple pods per node to be able to use the same RBD image in read-only mode, for example by mapping the image once per node and bind-mounting it into each pod. Is there any reason why this isn't possible?

[2016-06-20 19:00] laboger commented on #25886
Sorry I misread your question about amd64...  The call instruction in amd64 has a 32 bit field instead of a 24 bit field in ppc64le for the call target address.  That means they wouldn't hit this error when linking hyperkube until its text section was larger than 2^32.  If you search on "relocation truncated to fit" you will see that this error has happened in the past on x86 with other programmin

[2016-06-20 19:01] ghodss commented on #26229
Thanks @AdoHe!

[2016-06-20 19:01] #26229 closed

[2016-06-20 19:05] yujuhong commented on #27653
/cc @freehan, this is why your kubelet log is full of error messages :)

[2016-06-20 19:06] k8s-merge-robot opened #27726 "[k8s.io] [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12120/

Failed: [k8s.io] [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers {Kubernetes e2e suite}

[code]

Previous issues for this test: #27683

[2016-06-20 19:14] alex-mohr commented on #15131
We don't have automated testing for components to keep working if they were created e.g. in 1.2 and upgraded to 1.3.  We need to do that manually for 1.3.

Once we manually verify 1.3, we should build automation for 1.4 and push this issue to that milestone.

[2016-06-20 19:20] luxas commented on #27444
Okay, I'm a huge fan of a faster Submit Queue (I assume everyone agrees that it should be faster), and faster builds, so given that there are other mandatory and blocking tests that aren't a part of the PR checks, I'm fine with moving multiarch.

[2016-06-20 19:22] quinton-hoole commented on #15131
cc: @lavalamp FYI.  This is the issue we discussed this morning.

[2016-06-20 19:22] quinton-hoole commented on #15131
Specifically: https://github.com/kubernetes/kubernetes/issues/15131#issuecomment-145943453

[2016-06-20 19:22] piosz commented on #11382
Assigning to myself as my intern will probably work on this. First version of Master Metrics API is done as for now.

cc @davidopp @fgrzadkowski @janetkuo @pwittrock

[2016-06-20 19:25] saad-ali commented on #27653
Spoke with @matchstick. We're going to try to get it in for v1.3. If not, we'll punt it to post-1.3

[2016-06-20 19:31] felipejfc commented on #27670
Hi @chrislovecnm, I'm trying to test petsets so I've installed v1.3.0 beta1 in vagrant but when I try to create a petset resource I'm getting this message: error validating "petset.yaml": error validating data: API version "apps/v1alpha1" isn't supported
do I need to enable this api somehow?

thanks

[2016-06-20 19:36] roberthbailey commented on #27643
This is a regression. It a 1.2.4 master I see

[code]

[2016-06-20 19:36] ncdc commented on #24070
@smarterclayton are you 100% sure that there's a race with engine-api and the attach output? I've seen it with go-dockerclient in OpenShift prior to the most recent rebase, but I haven't looked into engine-api yet.

[2016-06-20 19:37] dims commented on #27726
We should close this. Should be fixed in https://github.com/kubernetes/kubernetes/pull/27717

[2016-06-20 19:42] justinsb commented on #27658
OK cool - if it isn't supposed to then I agree that it shouldn't block 1.3.  I think it will surprise users, so this is probably an important thing to document, and then if users hate it maybe we can revisit.

[2016-06-20 19:44] lavalamp commented on #27339
Yeah, this stuff doesn't categorize cleanly into one of our team labels.

[2016-06-20 19:45] gmarek commented on #27674
There was a regression which was fixed by #27719

[2016-06-20 19:57] lavalamp commented on #27442
Yeah, I think that documentation is probably just wrong, it must have been written by someone using dns only or something. I'm not sure what the proper incantation is, but IP= seems more likely to be correct than CN=.

[2016-06-20 19:59] ahuffman commented on #27442
I did try IP as an experiment earlier, but with no luck.

On Mon, Jun 20, 2016 at 3:58 PM, Daniel Smith <notifications@github.com>
wrote:

--
Regards,

Andrew

[2016-06-20 20:27] #27663 closed

[2016-06-20 20:29] luxas commented on #24114
That said, there are common parts of those two projects, and we could see if it's possible to merge the two deployments, but none of them should be sacrificed

[2016-06-20 20:30] luxas commented on #24114
@resouer I don't either like the Weave dep...

[2016-06-20 20:36] bprashanth commented on #27658
Yeah we intentionally left out pv deletion out of alpha:  https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet_set.go#L352

[2016-06-20 20:36] lavalamp commented on #8116
@mbohlool Yeah that looks promising. I'd tweak it just a bit and include the type as part of the validator (we can generate them like we do pkg/util/sets if that gets tedious).

[code]

(Anyway, there should *not* be any plain ints in our api, they should all have a size, int32 or int64.)

How do you plan to express regexps? (I'm wondering on account of nested quotation that might be necessary)

I

[2016-06-20 20:39] k8s-merge-robot opened #27727 "[k8s.io] [Feature:Example] [k8s.io] Redis should create and stop redis servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12122/

Failed: [k8s.io] [Feature:Example] [k8s.io] Redis should create and stop redis servers {Kubernetes e2e suite}

[code]

[2016-06-20 20:42] chrislovecnm commented on #27670
@felipejfc probably want to open another issue :)

Here is a couple of examples

https://github.com/k8s-for-greeks/gpmr/blob/master/pet-race-devops/k8s/cassandra/cassandra-petset-gce.yaml

https://github.com/kubernetes/contrib/tree/master/pets

[2016-06-20 20:45] smarterclayton commented on #24070
I am not sure.

On Mon, Jun 20, 2016 at 3:37 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-06-20 20:49] #27674 closed

[2016-06-20 20:49] fejta commented on #27674
thanks!

[2016-06-20 21:00] bprashanth opened #27729 "Consider making petset governing Service optional"
The identity of a pet is the link between network <-> storage, so it doesn't make sense to create a pet without a governing service. The `serviceName` is a required field to express this relationship.

Maybe we should make it `omitempty` so users can just get a nice name on some storage? When we allow petset editing, people can add the service whenever they want DNS.

[2016-06-20 21:01] yujuhong commented on #27456
AFAIK, this leak has always been there (and the leak is *relatively* minor), so it should not be a v1.3 blocker.
That said, we should keep track and ensure it's fixed in the future release.

[2016-06-20 21:02] girishkalele commented on #26180
This is a log of pods polled every 10 seconds during kube-up.

During 3 samples, there were 2, 3 and 4 pods up+ready+running - and the e2e suite would have been allowed to start running since the min_pods is 0. We need to wait for the essential pods to come up before allowing the E2E suites to run.

[code]

List of 8 essential functionality pods:

[code]

[2016-06-20 21:05] bprashanth commented on #26180
if you drop `l7-default-backend-v1.0-66izg` can you simply wait on all pods on the master?

[2016-06-20 21:06] bprashanth commented on #26180
oh, i guess waiting for the addon manager is != waiting for dns. In that case, are you waiting on the pods by name or by count? there are many more pods in kube-system right

[2016-06-20 21:13] quinton-hoole commented on #27692
@fabioy Take a look at https://github.com/kubernetes/kubernetes/pull/19578 and let me know if you need any more info.

[2016-06-20 21:16] quinton-hoole commented on #27692
The above PR was the one for GCE.
The following is the one @a-robinson did for GKE.  There are some relatively minor differences:

https://github.com/kubernetes/kubernetes/pull/24075

[2016-06-20 21:17] girishkalele commented on #26180
Yes, the DNS pod needs to be scheduled and run on one of the minions. At one point, the addon-manager was ready and running but there were only 4 pods.

[code]

The existing wait-for-pods functionality in the e2e framework is pretty basic at the moment. The command line flag is also only a min_startup_pods number, so if we need to express the startup conditions in more detail, we'd need to enhance

[2016-06-20 21:22] the-destro commented on #23417
It would be nice if minikube and [Kube Solo](https://github.com/TheNewNormal/kube-solo-osx) could be merged or fleshed out. It does almost what I need but I also need outside users to be able to view the host.

[2016-06-20 21:27] yujuhong commented on #27374
Not sure what the difference between gce and gke master is, but FYI, quite a significant chunk cpu usage comes from the addon-manager pod, which create multiple python processes periodically for version checkup (#26770).
[code]

[2016-06-20 21:34] girishkalele commented on #22823
Ran the DNSPerf 2.0.0 test client (using the current sample queries file) in varying numbers of test containers to test DNS QPS and reliability. Worker nodes were n1-standard-2 GCE instances.

**Each DNS Pod seems to max out at ~ 1700 DNS QPS** - this should be a guideline to customers somewhere about scaling the number of replicas based on their expected DNS QPS.

- 1 DNS Pod and 1 client pod

~

[2016-06-20 21:40] yifan-gu commented on #25581
@dchen1107 @yujuhong Do we want to expose the result somewhere?

[2016-06-20 21:45] #26180 closed

[2016-06-20 21:47] yujuhong commented on #27688
@otaviosoares, it's possible that the processes got killed because the system was out of memory. To confirm that, you can check the kernel log (`journalctl -k`) and look for keywords such as "Killed process".
If that indeed is the case, check if you've set proper resource limits/requests for your pods (ref: the [resources doc](http://kubernetes.io/docs/user-guide/compute-resources/))

[2016-06-20 21:48] smarterclayton commented on #8116
Since this overlaps so much with swagger, we should definitely look at the "swagger generator from struct comments" work if possible.

[2016-06-20 21:49] smarterclayton commented on #8116
And yes, no more reflection :)

[2016-06-20 21:53] aaronlevy opened #27730 "pkg/kubelet unit tests fail on OSX"
TestUpdateNewNodeStatus
TestUpdateExistingNodeStatus
TestUpdateNodeStatusWithRuntimeStateError

The above tests seem to be architecture specific now (and fail on unexpected objects "linux" vs "darwin").

Per https://github.com/kubernetes/kubernetes/blob/master/docs/devel/testing.md#unit-tests I would expect unit tests to still pass on OSX

[2016-06-20 22:03] dchen1107 commented on #27653
Talked to both @yujuhong and @saad-ali We should fix this for 1.3 release otherwise, Kubelet will be quickly useless due to out-of-disk here. I marked this as P1.

[2016-06-20 22:23] girishkalele commented on #27722
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-20 22:31] yujuhong commented on #25581
We are still working on a node performance benchmark, and haven't established the practices for publishing the numbers (even for docker) yet. Maybe you could post the key numbers in this issue (with details of the setup) just for the reference?

[2016-06-20 22:36] fejta commented on #25621
Please reopen if you see it again, I'm going to move the pr-test.k8s.io over to gubernator work to https://github.com/kubernetes/test-infra/issues/195

[2016-06-20 22:36] #25621 closed

[2016-06-20 22:36] rmmh commented on #25621
I manually fixed up the bad links.

[2016-06-20 22:42] rmmh commented on #25322
Haven't seen this reproduce recently.

[2016-06-20 22:42] #25322 closed

[2016-06-20 22:44] saad-ali commented on #27477
Chronological ordering of logs from sample failure:

[code]

[2016-06-20 22:50] zmerlynn opened #27731 "Can't create LoadBalancer on medium->large GCE clusters"
Customer impact: Attempts to create services with type `LoadBalancer` will never get an external IP or any GCE object created on all clusters >=124 nodes (with variably cutoffs starting even at 72 nodes, depending on the cluster name). I believe, but haven't tested, that L7LB will fail to create firewalls on these size clusters as well (based on code inspection).

Analysis: There's an issue in htt

[2016-06-20 22:50] yifan-gu commented on #25581
@yujuhong Gotcha.

The result I got recently:
https://docs.google.com/spreadsheets/d/1lcmajSnR6suev9K75O_w0sKLGSF0gVc5ueTLZGzt5dY/edit?usp=sharing

Test environment: rkt 1.8.0 / docker 1.10 / kubernetes 1.3 / coreos-alpha-1032-0-0-v20160428 / n1-standard-2 on GCE, running e2e/density.go

[2016-06-20 22:51] zmerlynn commented on #27731
cc @kubernetes/sig-network @cjcullen

[2016-06-20 22:56] bprashanth opened #27732 "consider a tmpfs storage class"
This should be easy to write and it makes iterating on petset development fast. Sometimes you just want some fast storage for each pet, simply `/tmp/ns_petname` should do. The petset will create the appropriate claims, we just need a provisioner that creates a pv (based on the storage class annotation) that takes the pvc name and shoves it under the hostPath, eg:

[code]

I know this sounds simila

[2016-06-20 23:05] chrislovecnm commented on #23525
@saad-ali can someone point me toward how to specify only ssd? I may have to do a one off.  Also where the heck are the numbers for president ssd iops vs local spinning in GCE??

[2016-06-20 23:11] metal3d commented on #27722
My apologies. I will post on stackoverflow so.

Le mar. 21 juin 2016 00:23, Girish Kalele <notifications@github.com> a
écrit :

[2016-06-20 23:16] ghodss commented on #26202
@bgrant0607 @janetkuo @lavalamp This is a fundamental issue with apply that I believe is fairly severe, since it took down our cluster today.

To summarize the more general issue, if a field's default value is derived from other provided fields (in this case, deployment.spec.selector is derived from deployment.spec.template.metadata.labels), and there is a change to those other provided fields thr

[2016-06-20 23:20] fabioy commented on #27692
Hum, I'll have to dig a bit deeper. I tried the exact combination of env vars and my "kube-up" was successful (with the correct number of nodes across the zones). Curious...

[2016-06-20 23:22] roberthbailey commented on #27643
@andyzheng0831 - this is likely a result of switching the masters from containervm -> gci. Can you take a look?

[2016-06-20 23:28] Random-Liu commented on #23028
@pwittrock @dchen1107 The document is In Review now: https://github.com/kubernetes/kubernetes.github.io/pull/696.

[2016-06-20 23:34] saad-ali commented on #23525
You will need to specify the `Type` variable [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L2190) (currently not set). Example:

[code]
Possible values for `Type` are `pd-standard` or `pd-ssd` (you'll want the latter).

https://cloud.google.com/compute/docs/disks/performance

[2016-06-20 23:36] yifan-gu commented on #27653
FWIW, this is very easy to reproduce by using local-up-cluster.sh. Basically after local-up, create a pod, nuke the cluster, local-up again, and then we will see messages like `kubelet.go:2018] Failed to remove orphaned pod "03a5ea59-371b-11e6-98cf-28d244b00276" dir; err: remove /var/lib/kubelet/pods/03a5ea59-371b-11e6-98cf-28d244b00276/volumes/kubernetes.io~secret/default-token-385u2: device or r

[2016-06-20 23:38] yujuhong commented on #26770
CPU usage on my master node before and after killing kube-addon-manager:

![addon-manager](https://cloud.githubusercontent.com/assets/10524058/16213574/55e428d8-3705-11e6-96ee-5273c0097160.png)

[2016-06-20 23:40] chrislovecnm commented on #23525
Much thanks!!!!!

[2016-06-20 23:42] aaronlevy commented on #13411
Closing this as it's a year old, and I was probably being lazy at the time by not generating proper certs.

[2016-06-20 23:42] #13411 closed

[2016-06-20 23:53] caesarxuchao commented on #26682
#27004 should be fixed by https://github.com/kubernetes/kubernetes/pull/27435

[2016-06-20 23:54] caesarxuchao commented on #26682
GKE had logging issues, which is fixed now. We can close this issue and wait for new occurrences. Is there any objection?

[2016-06-21 00:03] caesarxuchao commented on #26728
I'm closing this one since there is no occurrences in 18 days.

[2016-06-21 00:03] #26728 closed

[2016-06-21 00:11] lavalamp commented on #26202
https://github.com/kubernetes/kubernetes/pull/25256 would have saved you, but it didn't make 1.3.

[2016-06-21 00:13] andyzheng0831 commented on #27643
sure, I will work on it

[2016-06-21 00:15] edouardKaiser commented on #27720
I checked the hyperkube logs on one of the host but I didn't see any error like this.
Is there a parameter to give to hyperkube to enable this behaviour ?

[2016-06-21 00:22] vishh commented on #27643
I don't see any issues with the build/release pipeline. @roberthbailey Thanks for the tip!

[2016-06-21 00:22] saad-ali commented on #27477
Suspicious entry from all kernel logs of failed runs is:
[code]

Which happens right when detach is called on the read-write attached disk.

[2016-06-21 00:24] andyzheng0831 commented on #27643
I think the problem is at https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure.sh#l142-143. For the kubelet and kubectl built in GCI image, we have the correct permission 755. I will make a change to fix it shortly

[2016-06-21 00:35] k8s-merge-robot opened #27738 "[k8s.io] Federation apiserver [Feature:Federation] Cluster objects should be created and deleted successfully {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/910/

Failed: [k8s.io] Federation apiserver [Feature:Federation] Cluster objects should be created and deleted successfully {Kubernetes e2e suite}

[code]

[2016-06-21 00:35] k8s-merge-robot opened #27739 "[k8s.io] [Feature:Federation] Federated Services DNS non-local federated service should be able to discover a non-local federated service {Kubernetes e2e suite}"
(see #27949 -- @mml)

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/913/

Failed: [k8s.io] [Feature:Federation] Federated Services DNS non-local federated service should be able to discover a non-local federated service {Kubernetes e2e suite}

[code]

[2016-06-21 00:40] AdoHe commented on #26202
@lavalamp thanks for pointing this out, would take a look.

[2016-06-21 00:47] #25940 closed

[2016-06-21 00:54] mml opened #27744 "Log version/build info as the first line of every glog log from every binary"
This makes it so much easier to tell _what_ you are debugging.
#27735 is a not great version--the stringification elides some useful info--but it's a start.

[2016-06-21 00:58] yifan-gu opened #27745 "rkt: Support restart back-off for containers"
Today, the restart strategy is exponential back-off(https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/pod-states.md#restartpolicy). There are discussions on other back-off strategies as well (https://github.com/kubernetes/kubernetes/issues/17801) , but none of them is implemented in rktnetes yet as we are not able to do per container restart yet.

cc @kubernetes/sig-rk

[2016-06-21 01:00] dims commented on #27727
Should be fixed by @janetkuo 's PR https://github.com/kubernetes/kubernetes/pull/27577

[2016-06-21 01:03] mml commented on #27684
@quinton-hoole I'm willing to grab this tomorrow.

[2016-06-21 01:04] yifan-gu commented on #26986
Ref https://github.com/kubernetes/kubernetes/pull/22575

[2016-06-21 01:30] mfanjie commented on #27623
@quinton-hoole one possible solution come into my mind, currently we set the service full sync time to 10 minutes `serviceSyncPeriod = 10 * time.Minute`, if we change it back to 30s, then at least during the full sync, the deleted service will be re-created.
I will send a PR anyway, you can judge if it should be put to v1.3

[2016-06-21 01:31] asalkeld commented on #27523
OK, this was user error on my part. But totally unhelpful errors.
Basically I had a type-o in the pods "claimName" so it only failed in a GET to the api-server.
It would be nice to validate this earlier.

So I had "ceph-claim-rwm" in the claim and "ceph-claim-wm" in the pod.
[code]
Sorry for the noise.

[2016-06-21 02:00] dims commented on #27726
Can someone please close this issue? Looks PR mentioned above appears to be working well (https://k8s-testgrid.appspot.com/google-gce#gce-examples&width=20)

[2016-06-21 02:07] yifan-gu opened #27751 "rkt: cni plugin is not supported"
We have been solving the support for kubenet, but however there's a little left for cni plugin support: The cniNetworkPlugin bails out if the runtime [is not docker](https://github.com/kubernetes/kubernetes/blob/v1.3.0-beta.1/pkg/kubelet/network/cni/cni.go#L141), ehh..

Fortunately we can easily remove most of these lines except the one in the `GetPodNetworkStatus()` as it requires the runtime to

[2016-06-21 02:27] dims commented on #27732
@bprashanth - is this similar (same?) as https://github.com/kubernetes/kubernetes/issues/7562 ?

[2016-06-21 02:45] girishkalele commented on #27739
cc @mml @quinton-hoole

Looks like this flake has occurred enough to get auto-bumped to P0.

[2016-06-21 02:47] girishkalele commented on #27738
cc @nikhiljindal @quinton-hoole

Looks like this flake has occurred multiple times this evening and its been auto-bumped to P0.

[2016-06-21 02:50] girishkalele commented on #27725
@erikgrinaker

Will wait for confirmation whether this is as per-design or a bug from a storage area engineer.
If this is a bug, need a pointer to the log snippets for further debugging.

cc @saad-ali

[2016-06-21 02:51] saad-ali commented on #27691
GKE doesn't currently capture master logs, therefore we have no way to know why this flaked.

If it flakes on GCE we can grab the master logs and debug.

[2016-06-21 02:55] saad-ali commented on #27725
According to [this](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L107), Ceph RBD forbids any two pods from sharing the same monitor, and match pool and image.

@rootfs for details

CC @kubernetes/sig-storage

[2016-06-21 02:55] nikhiljindal commented on #27738
We recently updated merge bot to start filing issues for federation e2es.
We still dont block merges on it.

Assigning this to myself

[2016-06-21 02:57] AdoHe opened #27752 "different pod status handling in kubectl describe and get"
FYI. When I use `kubectl get` to get pod info, I get the pod status `CrashLoopBackOff`, but if I use `kubectl describe`, the pod status is `Running`. I am not clear this is intented or not, I would expect the output the same. Besides we are using kubernetes 1.2 @kubernetes/kubectl @bgrant0607

[2016-06-21 02:57] nikhiljindal commented on #27739
We recently updated merge bot to start filing issues for federation e2es.
We still dont block merges on it.

[2016-06-21 03:00] girishkalele commented on #27723
@vefimova

The subject of multiple health checks has been discussed before here - https://github.com/kubernetes/kubernetes/issues/21493 - the suggestion was to use sidecar containers to run elaborate health checks triggered by single readiness/liveness check.

See responses from @bgrant0607 @thockin @smarterclayton
https://github.com/kubernetes/kubernetes/issues/21493#issuecomment-186716990

[2016-06-21 03:14] snailshen2014 commented on #3189
I can understand it.i meat this issue

[2016-06-21 03:21] girishkalele commented on #27712
@xiaochunyn

Your compile error seems to be `compile: reading input: EOF` - nearest match I found was this windows-amd64 golang compiler issue. Your logs don't seem to indicate a Windows environment though.

[code]

https://github.com/golang/go/issues/15061

[2016-06-21 03:26] girishkalele commented on #27698
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-21 03:28] chancez commented on #2212
@erictune Does this even make sens with RBAC anymore, or are there still plans for ABAC?

[2016-06-21 03:30] girishkalele commented on #27699
Marked as P2 because submitter mentions that **every pod deletion resulted in forceful shutdown, which caused a bunch of problems for us**

[2016-06-21 03:32] girishkalele commented on #27697
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-21 03:32] #27697 closed

[2016-06-21 03:36] #27483 closed

[2016-06-21 03:36] #26679 closed

[2016-06-21 03:36] #27492 closed

[2016-06-21 03:38] girishkalele commented on #27688
https://github.com/kubernetes/kubernetes/issues/21859

@otaviosoares

The error was
```volumes/kubernetes.io~secret/default-token-9llsj - ... - wrapped_default-token-9llsj.deleting~722406808: device or resource busy```

[2016-06-21 03:40] girishkalele commented on #27688
This is fixed via https://github.com/kubernetes/kubernetes/issues/26421

[2016-06-21 03:40] #27688 closed

[2016-06-21 03:53] chancez commented on #27720
@edouardKaiser Please see https://coreos.com/kubernetes/docs/latest/kubelet-wrapper.html#use-the-cluster-logging-add-on

You need to modify your `kubelet.service` to pass some flags to rkt since kubelet runs inside of rkt on coreos.

[2016-06-21 03:57] edouardKaiser commented on #27720
I missed that bit in the CoreOS documentation. Thank you so much guys, I'll close this one.

[2016-06-21 03:57] #27720 closed

[2016-06-21 04:01] chancez commented on #27485
I was thinking about this the other day. Since the api-service is basically stateless, and rkt has no long living process, one possibility is to have `rkt` create files on disk for the prometheus node-exporter to read:
https://github.com/prometheus/node_exporter#textfile-collector

[2016-06-21 04:02] guoshimin commented on #27699
Well we do have a solution (making sure we tag our custom builds), so it's not blocking us. But it might be a problem for others who try to patch Kubernetes. The nasty part is that it's very unintuitive that the forceful shutdown is caused by the incorrect versioning.

[2016-06-21 04:06] otaviosoares commented on #27688
Thank you @yujuhong and @girishkalele

[2016-06-21 04:09] chancez commented on #27308
This would be super great. Currently I have an alias to handle this, but it's fairly incompatible with other scripts that use these flags.

My alias today:

[code]

It also has the downside of having to set a default KUBECTL_CONTEXT and KUBECTL_NAMESPACE in my `.profile` otherwise the alias will break kubectl.

[2016-06-21 04:39] caesarxuchao opened #27753 "[client-gen] generated clients should use versioned ListOptions and DeleteOptions"
E.g., https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/release_1_3/typed/core/v1/pod.go#L36-L40

[2016-06-21 05:03] chrislovecnm opened #27754 "Log rotating not enabled - master killed logs filled up"
Hi all

The logs on the gci master 1.3 beta image are not being rolled.  Just lost my master because `/var/log` was filled up :(  Are we using logrotate?  Because it is not configured.

The cluster is a multi az cluster running on gce, using the default master.  Cluster was created using `kube-up.sh`.

Master version info.

[code]

K8s Version info:

[code]

cc: @bgrant0607 @andyzheng0831 @kuberne

[2016-06-21 05:07] goltermann commented on #27685
Closing, #27706 is merged

[2016-06-21 05:07] #27685 closed

[2016-06-21 05:20] resouer commented on #17470
It seems docker 1.12 will ship Service based on IPVS

[2016-06-21 05:23] fejta commented on #27726
Thanks very much for the fix and the helpful testgrid link!

[2016-06-21 05:23] #27726 closed

[2016-06-21 05:29] feiskyer commented on #26102
@jellonek The proposal to support hypervisor runtime in CNI:  https://github.com/containernetworking/cni/issues/251

[2016-06-21 05:40] davidopp commented on #25625
@roberthbailey I agree with that, but I think the question might have been why the dry-run mode / ability to just ask which is the best node to drain but not actually drain it is useful. TBH I can't remember why you suggested it. Presumably it's because the client (e.g. autoscaler) wants to manage the drain itself?

[2016-06-21 05:40] gmarek commented on #26770
Oh, the beauty of the bash scripts. We probably should prioritize it higher then. @wojtek-t @jlowdermilk

[2016-06-21 05:43] resouer commented on #17676
May I ask what's your work around for now?

Containers in Pod dose not guaranteed of order, so I suggest you to use lifecycle:
[code]
to "check & wait" the condition is ready and then run real container CMD.

[2016-06-21 05:44] gmarek commented on #27322
Fixed by #27719

[2016-06-21 05:44] #27322 closed

[2016-06-21 05:50] quinton-hoole commented on #27684
Cool, thanks @mml .  Re-assigning.

[2016-06-21 05:53] nikhiljindal commented on #27738
I looked at the first 6 failures and there are 2 different failures here (each of them happened 3 times):

* Cluster controller couldnt come up. It failed with:
[code]

We do wait for the apiserver to be up, but we dont wait for the apiserver to be reachable via service (service should have its endpoints populated). Maybe thats causing a failure here.
Also, its interesting that the service cluster

[2016-06-21 05:54] quinton-hoole commented on #27623
@mfanjie I think we need to find and fix the underlying problem, not cover it up with a shorter sync period.  If we have the correct watch on each service, we will be notified as soon as they are deleted.  Why is the watch notification not firing correctly?

[2016-06-21 05:55] evmin commented on #17676
The workaround is simple - I think I might have made a mistake when defined the auth parameters the first time.

Now I am using:
          repository: "https://user:password@bitbucket.org/team/repo.git"

And it works.

The hook idea is great - I will play with it.
I am a bit concerned though with the following (quoting the doco):

Myself I still prefer how it is right now - gitRepo.
Only if there

[2016-06-21 05:56] huggsboson commented on #17676
@evmin you can make it so that the two containers coordinate to produce the desired "ordering".  The two ways I know of doing this:
1. Have the engine exit if it starts and doesn't find the source it expects.  Kube will restart the container until it does start running.  This feels "gross" at first but we got over it pretty quickly.
2. Implement a "wait" script on your engine side that waits for t

[2016-06-21 06:01] evmin commented on #17676
All these options are working solutions - and I am sure I will use them for other scenarios going forward.

But as you correctly noted - they do seem a bit "gross" in this particular case. Especially in the light of the existing, and a very nice feature - gitRepo.

Do I read it correctly that parsing ENV variables in "repository" clause is not possible?

[2016-06-21 06:07] huggsboson commented on #17676
The right solution is to use secrets to store at least the password.  This would cleanly fit into the side car proposal.  I understand their hesitance to implement ordering primitives in core kube given how slippery that slope is, especially given that all containers should be capable of "dealing" with networked resources being unavailable.

I implemented a lot of this here (this one tries to do s

[2016-06-21 06:12] asalkeld opened #27757 "Error at startup "PersistentVolumeController can't initialize caches ...""
When we startup there is the following error:
[code]
I don't think an empty list should result in a startup error.

Also, the function returns at that point instead of checking the claim list
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/persistentvolume/controller_base.go#L145

[2016-06-21 06:14] evmin commented on #17676
I see the rationale with the side cars.
Unfortunately the amount of work required to implement the synchronisation dependency somewhat defeats the purpose.

The key takeout here I think that an easy way to source the git repo as a file system is required.
How it is implemented - is another matter. Sidecar with startup order, gitRepo with ssh sync, something else.

I will check out the postStart ho

[2016-06-21 06:16] wojtek-t commented on #26770
Yeah - I think we should

[2016-06-21 06:29] nikhiljindal commented on #27668
Happened again: [logs](https://00e9e64bac96a68b8506c1958f9e0a60944052e84a55dcc286-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F27708%2Fnode-pull-build-e2e-test%2F11386%2Fbuild-log.txt?qk=AD5uMEuLcXsKVc2geJLWR4d-tKGR8U6OsS2_fGmjlu9fmu1qEoc4kHOWATi1lKD1OKhDdACG2QPwDB-hfKeCP60ZlsG5eNYpiflMGLmOkypwQwcIkZjIymgVp_TtXOKndbMehfUKU28vAdUxO1aQxpjl94s4a_wUq1k4rN9E

[2016-06-21 06:34] onorua commented on #27698
@girishkalele even though it looks like a question, it is rather proposal. You can't have proposal heard from stackoverflow :(

[2016-06-21 06:47] roberthbailey commented on #25625
I think it was for upgrades. But I don't recall why that would be better than just asking the server to do it.

[2016-06-21 07:00] thockin commented on #17470
A) why do we need a dummy IP?

B) ideally this would work in masquerade mode (NAT) and Direct Return mode?
On Jun 6, 2016 11:25 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-06-21 07:09] #27060 closed

[2016-06-21 07:18] sttts commented on #27195
It's a i/o timeout on 443 of the apiserver if I read the logs correctly, on test setup, looking for the service account. So it looks unrelated to https://github.com/kubernetes/kubernetes/issues/26210.

[2016-06-21 07:42] hanpenghero opened #27758 "Ceph RBD 'failed fork/exec /usr/bin/rbd: invalid argument' when creating the pod"
I installed latest kubernetes version 1.2.1 on 4 nodes separately . And after installation I run the command kubectl get nodes , I can see all nodes stay on the ready status . Also I may create tomcat RC successfully . After that I install CEPH with version 0.94 on another grouped machines .
[root@master-kub ~]# ceph -s
    cluster 5bab69d4-a34b-439c-876f-b63e4f6cde29
     health HEALTH_OK
     mo

[2016-06-21 08:16] tbrox opened #27761 "influxdb-grafana-controller dies over time"
Not sure whether this is incorrect use, a bug or just missing functionality.

I'm running a kube-upped Kubernetes 1.2.3 cluster on AWS, on two m4.large nodes, and I'm using the auto-installed influx-grafana pod for cluster monitoring.

After a week or so, the influx-container appears to be OOM-killed, and will time out trying to restart.
`4434 manager.go:2050] Back-off 5m0s restarting failed conta

[2016-06-21 09:21] resouer commented on #17676
@evmin what if you mount a Secret volume and consume it as env in repo url?

[2016-06-21 10:18] #27197 closed

[2016-06-21 10:19] wojtek-t opened #27764 "Once final 1.3.0 is available, verify cluster/gce/upgrade.sh works to upgrade to that version"
There seem to multiple issues with cluster/gce/upgrade.sh script.
- [x] cluster-name.txt file doesn't exists: fixed by #27763
- [x] the script has unbound variable errors: fixed by #27771
[code]
- [x] master is not ready after upgrade: fixed by #27846
- [x] nodes are not ready after upgrade: fixed by #27824

@piosz @gmarek @davidopp @roberthbailey @mikedanese @kubernetes/goog-gke

[2016-06-21 10:30] piosz commented on #27764
Unbound variables issue can be workarounded by upgrading to local binaries. I'm checking whether it works.

cc @jszczepkowski @mwielgus

[2016-06-21 10:34] wojtek-t commented on #27764
It can be workarounded for testing, but this is a blocker for release in my opinion.

[2016-06-21 10:34] evmin commented on #17676
@resouer That's what I have tried the first. Does not seem to work.
Event log output:

Error syncing pod, skipping: failed to exec 'git clone
https://$(BITBUCKET_USERNAME):$(BITBUCKET_PASSWORD)@bitbucket.org/team/project.git main: Cloning into 'main'...
fatal: Authentication failed
: exit status 128

[2016-06-21 10:34] sttts commented on #27680
Two hunks (2x 10 "x"s) are not sent back. #27766 extends the logging. At least it will tell us whether the sender gets an error or not.

[2016-06-21 10:49] k8s-merge-robot opened #27767 "kubernetes-e2e-gce-federation: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/931/

Run so broken it didn't make JUnit output!

[2016-06-21 10:57] stefanodoni opened #27768 "How to get logs of terminated jobs?"
Hi,

I've created a simple Job that echo a value when it exists.

However, I'm unable to get the logs of the pod/job after it has completed its processing.

$ kubectl get jobs
NAME      DESIRED   SUCCESSFUL   AGE
sleeper   1         1            8m

$ kubectl get pods -a  | grep sleeper
sleeper-psc5l                0/1       Completed   0          7m

$ kubectl logs sleeper
Error from server: pods

[2016-06-21 10:58] stefanodoni commented on #27768
Solved:

$ kubectl logs sleeper-psc5l
1

Thanks!

[2016-06-21 10:58] #27768 closed

[2016-06-21 11:13] piosz commented on #27764
Totally agree. I can confirm that upgrade using local variables work for me.

[2016-06-21 11:23] activars commented on #19704
@justinsb Where can I find the documentation for the ELB `source-ip` configuration?

[2016-06-21 11:35] sashgorokhov commented on #22676
Having the same issue.
kubernetes v1.3.0-beta.1

kubectl get ep
`heapster               10.0.2.15:8082`
heapster logs are healthy, i see full stats for my containers in influxdb and grafana.
added labels to heapster replication controller as bprashanth did.

in api server logs i see lines like this:
`I0621 11:15:30.706061   13624 <autogenerated>:1] Error getting ResourceLocation: no endpoints avai

[2016-06-21 11:52] ash2k commented on #24840
`master` on commit a8fecd0cc643db30720bc5b9cce6ef8bce090661
[code]

[2016-06-21 11:56] workhardcc opened #27770 "Controller-manager didn't load configure file /etc/kubernetes/controller-manager"
version:1.22
I use command `/bin/systemctl start  kube-controller-manager.service` to start kube-controller-manager, cat "/usr/lib/systemd/system/kube-controller-manager.service" as below:

    [Unit]
    Description=Kubernetes Controller Manager
    Documentation=https://github.com/GoogleCloudPlatform/kubernetes

    [Service]
    EnvironmentFile=-/etc/kubernetes/config
    EnvironmentFile=-/etc/

[2016-06-21 12:02] ash2k commented on #24840
It actually works. My mistake was that I had the clone in `gopath/src/github.com/kubernetes/kubernetes`, it should be in `gopath/src/k8s.io/kubernetes`.

[2016-06-21 12:33] soltysh commented on #27704
Will look into it later today or tomorrow, at latest.

[2016-06-21 12:36] deads2k commented on #24167
If I'm reading correctly, that still requires a lookup to see if the JWT (or its identifier) is in a list.  If we're going to do that, why not use the mechanism we already built to hit a cache a SA tokens and check if its there?

[2016-06-21 13:03] jsafrane commented on #27523
We can easily update `kubectl describe pod` output to say `PersistentVolumeClaim 'default/ceph-claim-wm' not found` instead `is not in cache`, I filled #27772 for that.

[2016-06-21 13:16] piosz commented on #27764
There is yet another issue: after upgrade master becomes not ready. @gmarek is trying to fix it.

[2016-06-21 13:19] wojtek-t commented on #27764
@piosz - this seems to be the third issue from first post.
I'm also looking into it now. In fact I'm testing a possible fix.

[2016-06-21 13:22] piosz commented on #27764
Yep. Just wanted to emphasize this.

[2016-06-21 13:23] k8s-merge-robot opened #27773 "Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6039/

Failed: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27316

[2016-06-21 13:24] wojtek-t commented on #27764
And there is another problem, that nodes after upgrade are not getting ready. I though it's the same, but it may be a different fix.

But to clarify, the problem is that kubelet doesn't have --api_servers flag set at all.

[2016-06-21 13:40] sp-joseluis-ledesma opened #27774 "Panic detaching volume on AWS"
Hi,

I was emulating some minions failures (in this case a made the minion unreachable by bringing down the network). This minion had a pod with a volume attached, and it seems the controller-manager is unable to detach de volume after the failure:

`I0621 13:35:48.956705       5 reconciler.go:103] Started DetachVolume for volume "kubernetes.io/aws-ebs/vol-546074f1" to node "ip-172-20-0-188.ec2.in

[2016-06-21 14:00] resouer commented on #17676
Your secret value does not mapping to ENV successfully. Did you following:
http://kubernetes.io/docs/user-guide/secrets/#consuming-secret-values-from-environment-variables

On Tue, Jun 21, 2016 at 6:35 PM, evmin <notifications@github.com> wrote:

[2016-06-21 14:01] wojtek-t commented on #27764
I got to the point where I have this flag is set, but it seems we have incorrect certificates:
https://github.com/kubernetes/kubernetes/compare/master...wojtek-t:fix_master_ready?expand=1

[2016-06-21 14:22] mikedanese commented on #26770
Do we actually know that this is the problem? Does the soak test pass when we disable the addon manager? The quickest fix is to drop the interval back down to 15 minutes like it was before.

[2016-06-21 14:39] piosz commented on #27764
Regarding problem with broken nodes in the new instance template I can see metadata field `configure-sh` instead of `startup-script`.

[2016-06-21 14:45] piosz commented on #27764
It seems that `upgrade.sh` tries to upgrade my nodes to gci instead of debian. Is this by design?

@dchen1107 @andyzheng0831 Which image are we using for 1.3 for nodes?

[2016-06-21 15:11] AdoHe commented on #17902
/cc @FlyWings

[2016-06-21 15:19] gmarek commented on #27764
I tried another approach to what @wojtek-t did - I just removed few cases from the if statement. It didn't work, so there must be some other thing that drives addition of `kubelete_api_servers` Kubelet flag.

More context to what @piosz said: originally we have a debian image with startupscript set. After `upgrade -N` we see a new template with a `configure-sh` and lines such as
[code]

I tried ad

[2016-06-21 15:20] Raffo opened #27777 "Proposal: Log "reason" when executing kubectl exec"
We are currently trying to use Kubernetes (GKE) and kubectl in our company in a setup where we have to pass audits from external auditors. For this reason one of our requirements is to log the reason why a user wants to get access to a container which in Kubernetes terms means executing `kubectl exec -it POD_NAME /bin/sh`. What we would love to have is Kubectl asking for the reason (prompting the

[2016-06-21 15:50] piosz commented on #27764
@gmarek it won't help since you want to have appropriate script to be included in mig template. You should try to export local env var OS_DISTRIBUTION=debian

[2016-06-21 16:01] adityakali commented on #27754
This was recently fixed by PR #27409.

[2016-06-21 16:02] chrislovecnm commented on #27670
I have recreated the pod communication issue, and ran into a new one:

[code]

@bprashanth
I am getting memory errors, as above, and the petset is stuck at 998 deployed.   Once I get to this place where I am getting these memory errors any way to recover?

I cannot say that I am running into memory errors because of the nodetool command that I am using for readyprobe or not.

[2016-06-21 16:02] screeley44 commented on #27590
@saad-ali - I am about to push up a PR with what I think might fix this, but not sure I implemented correctly, will let you know when I have it up there but wanted to give a heads up that I was poking around on this one as this being broken ruins all the volume mount error handling UXP I've been working on

[2016-06-21 16:03] krousey commented on #27374
@yujuhong This also runs on the GKE master.

[2016-06-21 16:18] wongma7 commented on #26866
@pmorie here is the problem line https://github.com/wongma7/kubernetes/commit/8f985b0fda0cd657679c996c13049ad4011065f6

[2016-06-21 16:35] krousey commented on #27456
@yujuhong Back from PTO. I patched it locally as well, and noticed my repro case stopped leaking too. I proposed https://go-review.googlesource.com/#/c/24289/.

[2016-06-21 16:38] girishkalele commented on #27698
@onorua

I didn't realize it was a proposal - I have reopened the issue and marked it as an enhancement for the node team.

[2016-06-21 16:40] chrislovecnm commented on #27670
And once again scaling is fun!!  Ran out of CPU headroom.  I am going to keeps this issue open, but I am thinking I am running into app tuning challenges, not K8s issues.

[2016-06-21 16:50] gmarek commented on #27764
I don't want to do that, as if I set it locally before running script, the master will be using debian as well.

[2016-06-21 16:51] #27643 closed

[2016-06-21 16:52] piosz commented on #27764
You can upgrade master first, then set env variable and upgrade nodes.

[2016-06-21 16:52] girishkalele commented on #25020
Addresses with new base templates via https://github.com/kubernetes/kubernetes/pull/26335

[2016-06-21 16:52] #25020 closed

[2016-06-21 16:53] fejta commented on #27767
Assigning to @quinton-hoole per https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gce.yaml#L221

[2016-06-21 16:53] caesarxuchao opened #27779 "node e2e flake: mirror pod failure"
[code]

[log](https://00e9e64bacdc940d452af5b52517f6a059b53fa08ab2cef716-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F27733%2Fnode-pull-build-e2e-test%2F11383%2Fbuild-log.txt?qk=AD5uMEtOQ26CkCH7yz8cdHhzCc-vRBJR73QNAGM2WU4bqA6i7JurfHNJuYydhvlekik4rUmCkUehUmyoIGkGGLmTJLudT9lbkT-rQOWaBNuee0duzwQYA0EMXea0r_6Yu8nG2B4HdSggjP6L_ZBGfQEaqFu9JuQUFqzZ1o95-PHc-ZS9m

[2016-06-21 16:54] #27731 closed

[2016-06-21 16:55] gmarek commented on #27764
yeah - that's the perfect flow. I think that setting it in the script before template creation should be enough.

[2016-06-21 16:57] Seraf commented on #11543
Hello,
It seems to be working now, I'm not using cloud-provider on my controller/master, so it uses the hostname as nodename. But I was able to use anything else than ip-10-XX-XX-XX.compute.internal as nodename for my workers. Does someone had success with it ?

[2016-06-21 16:59] spxtr commented on #27500
I think it's a dupe of #27451, already fixed.

[2016-06-21 16:59] #27500 closed

[2016-06-21 17:02] dchen1107 commented on #27779
@yujuhong Can you take a look at this? Thanks!

[2016-06-21 17:04] girishkalele opened #27781 "e2e: Ensure number of DNS replicas scales with cluster size"
Ensure that the number of DNS replicas changes when the cluster scales up or down.

The expected number of DNS replicas is

1-5 nodes         : 1
6-100 nodes     : 3
101-500 nodes : 5
500+ nodes      : 7

[2016-06-21 17:04] andyzheng0831 commented on #27764
For question in https://github.com/kubernetes/kubernetes/issues/27764#issuecomment-227462767: Currently the master branch head uses gci-dev-53-8467-0-0 image. But this will be automatically updated when we cut a new release image. You can find the image in use via "gcloud compute images list --project google-containers | grep gci-dev-53"

@piosz @gmarek From the above comments I am not clear about

[2016-06-21 17:07] erictune commented on #27467
Let's find another assignee.  @quinton-hoole

[2016-06-21 17:08] erictune commented on #27467
Justin has several things he is already working on for 1.3 and this seems like something someone else could tackle.

[2016-06-21 17:09] yujuhong commented on #27456
Thanks for the fix!

[2016-06-21 17:10] erictune commented on #27446
@adityakali we have a release this week and this issue is marked as a blocker.  Could someone from GCI team comment in the next day?

[2016-06-21 17:11] yujuhong commented on #27779
/cc @Random-Liu

[2016-06-21 17:12] erictune commented on #27347
@davidopp Can you summarize status of this issue.

[2016-06-21 17:12] gmarek commented on #27764
@andyzheng0831 - we were testing ordinary `gce/upgrade.sh` for Nodes, which seems to be trying to update nodes to GCI. To reproduce just run `gce/upgrade.sh -N v1.3.0-beta.1`

[2016-06-21 17:13] quinton-hoole opened #27785 "Panic in DNS Zone Creation: interface conversion: interfaces.ManagedZone is *internal.ManagedZone, not internal.ManagedZone"
See https://github.com/kubernetes/kubernetes/pull/27695#issuecomment-227488419

Fix PR incoming shortly.

cc: @mml FYI.

[2016-06-21 17:14] chrislovecnm commented on #27754
I will cherry pick that and keep this open till I test.  Thanks @adityakali

[2016-06-21 17:16] andyzheng0831 commented on #27764
Does it mean I need to first create a cluster (nodes on GCI or containerVM does not matter), and then run that upgrade.sh to upgrade nodes to GCI?

We switched master from ContainerVM to GCI but never declare nodes on GCI as default. Why mark this issue as P0? P0 looks to me like a release blocker

[2016-06-21 17:17] Random-Liu commented on #27779
@caesarxuchao The log link is dead. :(

[2016-06-21 17:17] gmarek commented on #27764
It's for upgrade tests, and upgrades doesn't seem to be working for now.

[2016-06-21 17:18] adityakali commented on #27446
Here is the update I had posted on internal bug yesterday:
---
I spent whole day today trying to learn how the google-fluentd agent works. I was able to build the fluentd container (based on https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-image/Dockerfile) with the https://github.com/reevoo/fluent-plugin-systemd installed. The journalctl also works in th

[2016-06-21 17:20] caesarxuchao commented on #27779
Copy-pasted in pastebin: http://pastebin.com/VpaEhj9m

[2016-06-21 17:21] andyzheng0831 commented on #27764
The upgrade test is new to me, so please provide detailed information for me to reproduce it. Do I need to first create a cluster using kube-up.sh, with nodes on ContainerVM? What version of k8s should I use? And then try to upgrade nodes to GCI, with a certain setting to use GCI as nodes image?

[2016-06-21 17:21] bgrant0607 commented on #26299
@yissachar Thanks. This is a reasonable request. Others have also encountered the same issue.

cc @pmorie

[2016-06-21 17:23] gmarek commented on #27764
- create a cluster from v1.2 branch (basically checkout v1.2, build it and deploy it)
- try to upgrade it to v1.3 (switch to the head/v1.3 branch, try running upgrade script)

[2016-06-21 17:23] janetkuo opened #27788 "node e2e flake: multiple "Container Runtime Conformance" test failure"
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/27728/node-pull-build-e2e-test/11333/build-log.txt
[code]

[2016-06-21 17:24] krousey commented on #27662
Also one of the few remaining failures in the GKE soak test: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/7506#k8sio-schedulerpredicates-serial-validates-maxpods-limit-number-of-pods-that-are-allowed-to-run-slow

#27374

[2016-06-21 17:24] chrislovecnm commented on #23525
@saad-ali I will let you know where my work is, not sure if it will be reusable, but maybe.

[2016-06-21 17:27] Random-Liu commented on #27779
@dchen1107 @yujuhong This is still a group of failure on coreos image. There is no docker or kernel log now, I guess it's https://github.com/kubernetes/kubernetes/issues/27498, but no evidence yet.

[2016-06-21 17:27] a-robinson commented on #27692
Any ETA, @fabioy? I'm getting tired of all the test failure emails :p

[2016-06-21 17:30] yujuhong commented on #27779
Since we don't have other logs to triage the failure, let's close this issue. @Random-Liu, hanks for taking a look~

[2016-06-21 17:30] #27779 closed

[2016-06-21 17:31] yujuhong commented on #27498
@yifan-gu, ping!

[2016-06-21 17:33] zmerlynn commented on #27699
I'm sorry you ran into this. Yes, bump builds off of true releases don't work with this particular expression. The supported way is to branch the `1.2.5-alpha.0` tag and build that, or something similar, which is the tag we create we branch the release.

I'm closing this for now, because it was never intended to work.

[2016-06-21 17:33] #27699 closed

[2016-06-21 17:42] bprashanth commented on #27732
This is trivial to write. No guarantees about data being preserved cross restart etc. Good for local dev or caches like redis, you just want fast storage+network+cute name, you don't care if the pet lands on another node because the cache will warm up (or you're just kicking the tires/doing a demo/dev-testing and don't want to spend money on a PD).

[2016-06-21 17:49] yujuhong commented on #27498
/cc @freehan

[2016-06-21 17:53] dims commented on #27732
@bprashanth : Understood. I was just trying to see what works right now and this example seems to work:
https://gist.github.com/dims/916fd6c76b7b2869cfe62242fe4890c2

How would the yaml file look like with the new tmpfs storage class? (Just as an example with the annotation you mentioned etc)

[2016-06-21 17:58] girishkalele commented on #27774
@justinsb cc@tpounds PTAL

Around ```pkg/cloudprovider/providers/aws/aws.go:993```

[2016-06-21 17:59] freehan commented on #27498
This happens in node e2e test right? I believe node e2e test is NOT using kubenet.

[2016-06-21 18:00] freehan commented on #27498
Running node e2e with kubenet+hairpin-veth could prevent this.

[2016-06-21 18:00] piosz commented on #27764
What I did:
[code]

[2016-06-21 18:02] fabioy commented on #27692
I think I found the problem. I have a workaround that'll make it work for now. I'm hoping sometime this afternoon.

[2016-06-21 18:08] hongchaodeng opened #27790 "Race in informer.controller.Requeue"
[Controller.Requeue()](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/framework/controller.go#L112-L119) was designed to expedite reprocessing, or delay processing. However, it has a race that:
- the item has been deleted in store.
- when Requeue(), the DeltaFIFO didn't contain the event, so it will just go queue a Sync
- controller will process Sync event and add the item.

F

[2016-06-21 18:09] hongchaodeng commented on #27790
/cc @kubernetes/sig-api-machinery @xiang90 @timothysc @smarterclayton

[2016-06-21 18:17] sbilali commented on #26965
hello thank you for your answer,
it is working partially i have a cluster with one master and two slaves. I changed the typeport of the frontend to NodePort. The 3 frontends pods are scheduled in the same node and when I type the IP:PORT of this node the submit button is working but when I hit the other node I see the site but the submit button is not working.

Is it a normal behavior ? Or am I mi

[2016-06-21 18:18] guoshimin commented on #27699
If it's not supposed to work, it should give the user a big fat error, given that it could lead to such unintuitive consequences.

[2016-06-21 18:21] justinsb commented on #27467
Sorry this slipped off my plate

We just need to add this to the IAM policy/policies `cluster/aws/templates/iam/kubernetes-master-policy.json` and `cluster/aws/templates/iam/kubernetes-minion-policy.json`:

[code]

Question though - just on the masters, or on master & nodes?

[2016-06-21 18:22] roberthbailey commented on #27764
@piosz -- did you re-build binaries after checking out the master branch?

[2016-06-21 18:23] boweeb commented on #27758
I was getting "rbd: map failed fork/exec /usr/bin/rbd: invalid argument" as well.  I fixed it by encoding the ceph secret with base64.

So on a ceph-mon:

and put that value in your ceph-secret.

Does that help?

[2016-06-21 18:23] girishkalele commented on #27761
@tbrox

It looks like there is already an issue tracking this OOM condition. Please see https://github.com/kubernetes/kubernetes/issues/27630

[2016-06-21 18:25] piosz commented on #27764
It doesn't matter - I'm using pre-built binaries from release v1.3.0-beta.1. I was also trying upgrade to local binaries with option `-l` and then after changing branch to master I invoked `make clean && make quickrelease`

[2016-06-21 18:30] davidopp commented on #26983
ping @rootfs

[2016-06-21 18:32] roberthbailey commented on #27764
Ah. In that case, for step 1 you could also do `curl https://get.k8s.io | bash` to create the cluster at the latest release version.

[2016-06-21 18:32] quinton-hoole commented on #27467
Thanks @justinsb.  The Federation control plane pods run on nodes, so the answer to your question is "on nodes".

[2016-06-21 18:32] quinton-hoole commented on #27467
More specifically it runs in pods on nodes.

[2016-06-21 18:33] piosz commented on #27764
I need to have cluster in v1.2.4 instead of the latest one.

[2016-06-21 18:36] roberthbailey commented on #27764
1.2.4 is the latest stable version:

[code]

[2016-06-21 18:36] piosz commented on #27764
Oh I see. Thanks!

[2016-06-21 18:37] roberthbailey commented on #27764
Saves you the build step, which should speed up the testing cycle. :)

[2016-06-21 18:37] saad-ali commented on #23525
Sounds good!

Bah, the perils of linking to an everchanging HEAD

[2016-06-21 18:47] krousey commented on #27630
@mwielgus ping? This is still failing in the soak tests.

[2016-06-21 18:47] piosz commented on #27764
This seems to be related https://github.com/kubernetes/kubernetes/issues/26183

[2016-06-21 19:06] gmarek commented on #26183
This may be a cause of Node upgrade failures. We should investigate if that's the case, as it may be a blocker.

[2016-06-21 19:06] wojtek-t commented on #27347
@erictune - I think this is fixed (i.e. I don't know how to reproduce it). If that's not the case, I need some repro instructions.

[2016-06-21 19:08] andyzheng0831 commented on #27764
@piosz the issue you mentioned is not a blocker for functionality. @wonderfly logged it just for improving some logic in setting up master and node distro. I am following the information in above comments to reproduce it and check where is wrong.

[2016-06-21 19:17] andyzheng0831 commented on #27764
In https://github.com/kubernetes/kubernetes/issues/27764#issuecomment-227521367, "-M" and "-N" are used, which means do not upgrade master or node. So, what is the real thing we are trying to do? Upgrade both master and nodes, or upgrade master only, or upgrade nodes only? Or you meant that neither upgrade master only nor nodes only works?

[2016-06-21 19:27] nikhiljindal commented on #27738
@madhusudancs pointed out that routes are not configured correctly in our e2e tests. He is fixing that. Lets see if that helps.

[2016-06-21 19:29] #27654 closed

[2016-06-21 19:39] justinsb commented on #27774
I added a missing error check which was causing the panic: #27793

I am not sure this is a complete fix, in that I don't think we will detach the volume, but it should at least fix the panic.

[2016-06-21 19:46] justinsb commented on #27467
Fix in #27794 .  I did it on the master & on the nodes; I figure the nodes are the ones we are more concerned about security on, and not having it on the master is just going to cause confusion.

[2016-06-21 19:47] justinsb commented on #27467
Also, I just do it across the board, not just in federation.  I know a lot of users are excited to have k8s auto-provision DNS with ingress (and get LetsEncrypt working)...

[2016-06-21 19:57] saad-ali commented on #27691
This test started to flake after https://github.com/kubernetes/kubernetes/pull/27567 was merged.

That PR prevents kubelet from mounting a volume until controller completes attach.

Logs from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5635:

[code]

From the kernel log of [8f7d]
[code]

We don't have the controller logs from master since this test ran

[2016-06-21 19:59] gmarek commented on #27764
Upgrade procedure is that we first upgrade master only (and everything should work), then we update nodes (and everything should still work).

[2016-06-21 20:07] #27452 closed

[2016-06-21 20:09] Random-Liu commented on #27788
Duplicate to #27498.

The kernel log is full of:
[code]

[2016-06-21 20:10] Random-Liu commented on #27788
Duplicate to #27498.

The kernel log is full of:
[code]

[2016-06-21 20:10] #27788 closed

[2016-06-21 20:12] Random-Liu commented on #27779
@yujuhong I found the kernel log, and found
[code]
Proved my guess. :)

[2016-06-21 20:17] caniszczyk opened #27796 "Umbrella issue for the Linux Foundation (CNCF) CLA system"
Since the IP assets of Kubernetes are owned by the Cloud Native Computing Foundation (CNCF), it's time for us to move to the CNCF CLA system. We will beta test first on a test repo before rolling it out everywhere. cc: @bgrant0607

[2016-06-21 20:26] vishh commented on #26809
Closing via #26811

[2016-06-21 20:26] #26809 closed

[2016-06-21 20:26] vishh commented on #26218
This is done. Node e2e framework now exposes kernel and docker logs.

[2016-06-21 20:26] #26218 closed

[2016-06-21 20:29] vishh commented on #6590
Closing this issue since I don't see a need for fixing this from the community.

[2016-06-21 20:29] #6590 closed

[2016-06-21 20:31] vishh commented on #4489
The stats API plumbing has changed a lot since this issue was filed. Closing this issue now. We can re-open if we have any issues with the new pipeline.

[2016-06-21 20:31] #4489 closed

[2016-06-21 20:48] evmin commented on #17676
I want to believe that the container is being set up correctly.
At least when I comment out gitRepo and the volume the container gets created and I can see the ENV variable:

I think the issues might be coming from the fact that ENV variable is defined _per_container_ and container definition is somewhat external to volume declaration.

@resouer do you mind trying it out on your side - may be I am

[2016-06-21 21:01] yifan-gu commented on #24677
cc @colhom @chancez

[2016-06-21 21:13] nikhiljindal commented on #27382
Verified that we recently built `v1.3.0-beta.2` with https://github.com/kubernetes/kubernetes/pull/27396 and we pushed the relevant binaries as expected

[code]

[2016-06-21 21:14] wonderfly commented on #26183
If you read anything more than just the tile, you'll notice this is an unimplemented feature request.

[2016-06-21 21:16] andyzheng0831 commented on #27764
Here is what I did and found:
1. git checkout v1.2.4
2. hack/dev-build-and-up.sh
3. git checkout master
4. make release-skip-tests quick-release
5. cluster/gce/upgrade.sh -M v1.3.0-beta.1
Wait for a while after the above step, I can see "Cluster validation succeeded". So, upgrading master works fine.

6. cluster/gce/upgrade.sh -N v1.3.0-beta.1
In step 6, I expect that nodes should still use Contai

[2016-06-21 21:20] mml opened #27804 "Decide how/if to distribute SSL CA certs with components"
`federation-controller-manager` runs within kubernetes inside a container.  It [needs access to CA certificates to work](https://github.com/kubernetes/kubernetes/issues/27684).  At the moment, we are grabbing those certs [from the node filesystem](https://github.com/kubernetes/kubernetes/pull/27802).

Do we wish to package this some other way?  If so, do we have a standard way of doing this?  Depe

[2016-06-21 21:21] nikhiljindal commented on #26762
federation apiserver e2e test was a lot more green over the weekend. It seems to have regressed again

![fed-apiserver-flake](https://cloud.githubusercontent.com/assets/10199099/16246705/3727fb8e-37bb-11e6-8944-e1c9942b8452.png)

[2016-06-21 21:23] nikhiljindal commented on #27738
federation apiserver e2e test was a lot more green over the weekend. It seems to have regressed recently.

![fed-apiserver-flake](https://cloud.githubusercontent.com/assets/10199099/16246769/8967120e-37bb-11e6-97f0-d576fd25f997.png)

So the route problem @madhusudancs pointed out should not be the cause here since that has always been that way. Am looking at recent PRs to find a cause.

[2016-06-21 21:23] mml commented on #27804
More clearly, it runs as a non-mirror pod on non-master nodes.

[2016-06-21 21:24] andyzheng0831 commented on #27764
OK, I find what is wrong. See this line https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh#l214, since the OS_DISTRIBUTIONS is gci, it sources cluster/gce/gci/helper.sh, and that is the reason why it creates a GCI-based node group template. Now, see this block https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#l750-755, you will understand why the hyb

[2016-06-21 21:30] #26869 closed

[2016-06-21 21:36] yujuhong commented on #27751
/cc @freehan

[2016-06-21 21:47] gmarek commented on #26183
It's also a problem we stumbled upon today, as the "lack of this feature" broken an upgrade script. There's certainly a workaround, but it doesn't mean that this is not a root cause.

[2016-06-21 21:58] colhom commented on #26762
We should probably wrap the underlying `kube-up` invocations in a retry loops? That would probably take care of most of the failures.

[2016-06-21 22:13] #27325 closed

[2016-06-21 22:13] #27727 closed

[2016-06-21 22:13] #27684 closed

[2016-06-21 22:18] vishh commented on #24677
Thanks for the feedback @t0ffel

This proposal attempts to make it possible to define many such interfaces instead of picking a standard. As mentioned earlier in this issue, there has been no consensus wrt. logging in the community yet.

This is part of the proposal. Log files that are identifiable to k8s will be managed.

This is part of the goal as well. The logging medium that k8s will support

[2016-06-21 22:28] bprashanth opened #27809 "Expand petset volume zone spreading"
We got petset disk zone spreading in and it's really useful. However we left a couple of todos to follow up on:
1. Don't embed a zone scheduler in the pv provisioner (https://github.com/kubernetes/kubernetes/pull/27553/files#diff-b3d75e3586a2c9a5140cd549861da9c0R2094)
2. Write a unitest that protects the zone spreding from petset implementation changes (https://github.com/kubernetes/kubernetes/pul

[2016-06-21 22:30] girishkalele commented on #26626
GCE scalability test flake - **12 GCE nodes have bandwidth measured less than 10 MiB/sec**.
One has only 5 MiB/sec....took 14.2 seconds to download a 64MB blob from GCS.

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/8731

[code]

[code]
and
[code]

[2016-06-21 22:38] jlowdermilk commented on #26742
The internal error that was being surfaced as a 403 was changed to 500, so transient failures that were causing these errors should now be retried.

[2016-06-21 22:38] #26742 closed

[2016-06-21 22:39] saad-ali commented on #23671
Recommend creating two new directories:
* `examples/volumes/` for volume plugin examples
  * `examples/volumes/aws_ebs/`
  * `examples/volumes/azure_file/`
  * `examples/volumes/cephfs`
  * `examples/volumes/fibre_channel/`
  * `examples/volumes/flexvolume/`
  * `examples/volumes/flocker`
  * `examples/volumes/glusterfs`
  * `examples/volumes/iscsi/`
  * `examples/volumes/nfs/`
  * `examples/volum

[2016-06-21 22:40] k8s-merge-robot opened #27811 "[k8s.io] [Feature:Example] [k8s.io] Redis should create and stop redis servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12156/

Failed: [k8s.io] [Feature:Example] [k8s.io] Redis should create and stop redis servers {Kubernetes e2e suite}

[code]

Previous issues for this test: #27727

[2016-06-21 22:44] maisem commented on #26183
I can take this if no one is already working on it.

[2016-06-21 22:47] #27467 closed

[2016-06-21 22:52] jlowdermilk opened #27813 "Ingress tests broken on gke"
I didn't see an existing bug. Started failing this morning at ~10am
http://kubekins.dls.corp.google.com/view/GKE/job/kubernetes-e2e-gke-ingress/

From logs it looks like it may be cluster nodes missing permissions. Did we perhaps change IAM settings for test clusters? cc @cjcullen
[code]

[2016-06-21 23:05] bprashanth commented on #27813
As noted this looks related to permissions, @kubernetes/goog-gke how do i reproduce? the project has enough quota and the test fails to acquire the loadbalancer ip. I haven't looked up gke master logs yet.

[2016-06-21 23:07] mml commented on #27739
Can I silence the bot?

[2016-06-21 23:11] jlowdermilk opened #27818 "cluster autoscaling tests failing on gke"
Started failing this weekend (6-18-2016). First broken run http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-autoscaling/491/

Failure looks like it may be in the test
[code]

[2016-06-21 23:14] mml opened #27819 "Set --federations kube-dns flag when FEDERATION=true"
(Blocking #27739)

`kube-dns` needs to know what federation it belongs to, so we need to set `--federations=${FEDERATION_NAME}=${DNS_ZONE_NAME}` in `kube-up`.

Note that cloud DNS names domain names *with* a trailing dot, but `kube-dns` needs (or at least wants: #27815) the name *without* a trailing dot.  If that is in fact a restriction, there is the convenient shell hack `${DNS_ZONE_NAME%.}`, bu

[2016-06-21 23:14] mml commented on #27819
@madhusudancs @kubernetes/sig-cluster-federation

[2016-06-21 23:24] mml opened #27820 "kube-dns panic in federation code"
[full log](https://github.com/kubernetes/kubernetes/files/326757/kubedns.log.txt)
Run like so:

[code]

[code]

@kubernetes/sig-cluster-federation

[2016-06-21 23:25] mml commented on #27819
And then we gotta resolve #27820

[2016-06-21 23:27] jlowdermilk commented on #27813
Actually the 403 may be misleading/bad error code from GCE. The failures started happening with the build that included #27741, so this may just be https://github.com/kubernetes/contrib/issues/1246

[2016-06-21 23:28] jlowdermilk opened #27821 "cluster autoscaling tests broken on gce"
Filing as a separate issue from #27818 because failure symptoms and first break don't match. First failure was this morning: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/4707/

It looks like the cluster autoscaler pod is crashlooping on startup
[code]

The upstream build where this started breaking included change #27741. Is it possible the cluster-autoscaler needs a rev

[2016-06-21 23:28] mml commented on #27739
- [ ] #27819

[2016-06-21 23:28] jlowdermilk commented on #27813
cc @zmerlynn

[2016-06-21 23:29] jlowdermilk commented on #27821
cc @zmerlynn

[2016-06-21 23:30] zmerlynn commented on #27813
That's kind of disturbing. The Ingress container should have it's own vendored version of the code and should just be running old code?

[2016-06-21 23:33] zmerlynn commented on #27813
There's also not a similar failure of `kubernetes-e2e-gce-ingress`.

[2016-06-21 23:35] lodotek commented on #23198
How do I get past  this? :~/kubernetes$ cluster/kube-up.sh
... Starting cluster using provider: juju
... calling verify-prereqs
... calling kube-up
make: *** No rule to make target 'clean'.  Stop.

I am running ubuntu 16.04

[2016-06-21 23:39] bprashanth commented on #27813
Yeah i think what happend was we updated the gce.conf with the node-instance-prefix and the vendored kubernetes library didn't understand it. The gce.conf file changed right? If that's the case just checking in the glbc version bump should fix it i think.

[2016-06-21 23:42] zmerlynn commented on #27813
@bprashanth: Yeah, we just worked out the same thing. It turns out, even with vendored code, this is not forward-compatible because of the `gce.conf` change.

[2016-06-21 23:42] bprashanth commented on #27813
Evne the gce one doesn't read it, but somehow it doesn't seem to matter:

On GCE
[code]

On GKE (I finally paged in sql query syntax and did a binary search on metadata.timestamp to when this started):
[code]

Is GKE more strict about something? Or is the gce.conf failure just a red herring

[2016-06-21 23:43] zmerlynn commented on #27813
@bprashanth: On GKE, we need the `TokenURL` to work.

[2016-06-21 23:47] k8s-merge-robot opened #27822 "kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/7041/

Run so broken it didn't make JUnit output!

[2016-06-21 23:49] zmerlynn commented on #27813
I believe this will be fixed by #27814, but has the same root cause as #27821. So we need a bump there (or a revert).

[2016-06-21 23:57] zmerlynn commented on #27813
Actually, I think I can fix this by making it a `gcfg` multi value, then enforcing there's exactly one.

[2016-06-22 00:01] resouer commented on #17676
Sure, will try out this and feedback here.

[2016-06-22 00:10] zmerlynn commented on #27821
I take full responsibility for breaking this, but I am utterly crunched trying to get another PR out for 1.3. I believe rolling forward is actually better than rolling back here, but the fact that `gcfg` screwed us here is kind of evil (see https://github.com/kubernetes/kubernetes/issues/27813#issuecomment-227604581).

[2016-06-22 00:15] mfischer-zd commented on #24677
@vishh What data suggests that journald is not up to the task of collecting and managing container logs?  You state it as though it were established fact, but cite no evidence.

[2016-06-22 00:18] nikhiljindal commented on #27820
nodeStore doesnt seem to be set anywhere (except in tests).
Thats why code panics when we access it: https://github.com/kubernetes/kubernetes/blob/master/pkg/dns/dns.go#L632

[2016-06-22 00:19] nikhiljindal commented on #27820
cc @madhusudancs

[2016-06-22 00:21] vishh commented on #24677
@mfischer-zd
https://github.com/kubernetes/kubernetes/issues/24677#issuecomment-213598517
https://github.com/kubernetes/kubernetes/issues/24677#issuecomment-222880516

[2016-06-22 00:27] mfischer-zd commented on #24677
The comments you cite are around the ability to manage log storage.  In my view, this is the system administrator's concern, not K8S's.

In the journald case, one can set `Storage=volatile` in `journald.conf` and persistence can be managed by a consumer.

[2016-06-22 00:32] goltermann commented on #27383
Adding v1.3 milestone, this appears to be blocking a v1.3 issue.  Please remove if incorrect.

[2016-06-22 00:33] zmerlynn opened #27827 "Transition gce.conf (and any other gcfg users) to something like text proto"
When I checked in #27741, I accidentally broke the `gke-ingress` and `autoscaler` suites, despite both of them using vendored versions of the GCE provider. The problem is I added a minor option to `gce.conf`, but [gcfg](https://godoc.org/gopkg.in/gcfg.v1) will error out on values it doesn't understand, so the old code started erroring out on new clusters (c.f. #27821 & #27813).

It would be nice t

[2016-06-22 00:42] fejta commented on #27822
Assigning to @mikedanese per area/cluster-lifecycle tag (per discussion with @alex-mohr and @bgrant0607)

[code]

[2016-06-22 00:49] AdoHe commented on #27790
@hongchaodeng how about you new proposal? shall we implement it and get it into? I would really like to help with this.

[2016-06-22 00:51] AdoHe commented on #27777
@kubernetes/kubectl

[2016-06-22 00:52] spxtr commented on #27811
Fixed by #27577.

[2016-06-22 00:52] #27811 closed

[2016-06-22 01:11] justinsb commented on #26983
#27525 is now merged, and my understanding is that:

1. We previously added code so nodes come up as not-ready with NoRouteCreated, and then the route controller must mark them ready
2. The normal AWS setup uses KCM and works fine, but if you set it up differently (local-cluster) or use flannel and don't set --experimental-flannel-overlay I think, nothing marks the nodes ready
3. That is what #273

[2016-06-22 01:11] #26983 closed

[2016-06-22 01:17] justinsb opened #27828 "Re-enable NoRouteCreated on AWS"
Because of issues like #27347 and #26983, we had to disable the NoRouteCreated logic on AWS in 1.3, in #27525.  But this is a good feature - it prevents scheduling onto a node until the controllers have set up a node (and we also want to use this pattern generally I suspect).

We should find a way to re-enable the logic on AWS in #27525, perhaps via an opt-in or opt-out flag or configuration.

[2016-06-22 01:20] justinsb commented on #27347
I propose closing for the same reason as https://github.com/kubernetes/kubernetes/issues/26983#issuecomment-227617059 .  We can always reopen if needed.

I opened https://github.com/kubernetes/kubernetes/issues/27828 to track re-enabling this functionality in 1.4 - it's probably not too hard, just not really practical in 1.3.0

[2016-06-22 01:31] zmerlynn commented on #27813
Tentatively calling this fixed. Please reopen if it's still failing.

[2016-06-22 01:31] #27813 closed

[2016-06-22 01:33] JoelBCarter commented on #22947
Was this ever resolved? Could you post a YAML showing the fix if it was just escaping/syntax issues? I'm trying to do _exactly_ the same thing.

[2016-06-22 01:52] #27328 closed

[2016-06-22 02:21] hongchaodeng commented on #27790
Do you mean the informer redesign? It's an orthogonal issue.

What I'm thinking is we should make informer readonly and provide routine for client to retry on failed condition. If you want to do it, go ahead and submit a PR.

[2016-06-22 02:23] workhardcc commented on #27770
oops, I should read more about systemd.
This is not a problem.I feel quite ashamed.

[2016-06-22 02:23] #27770 closed

[2016-06-22 02:28] AdoHe commented on #27137
@yujuhong pls help review pr #27832. Also @mqliang ptal.

[2016-06-22 02:39] saad-ali commented on #27691
Also interesting that this only flakes on GKE not on GCE.

[2016-06-22 02:41] dims commented on #27540
@gitfred thanks for the detailed test, please see the PR :)

[2016-06-22 02:58] saad-ali commented on #27653
@jingxu97 is working on implementing a clean up routine on startup

[2016-06-22 03:16] dalanlan commented on #20292
@MikeSpreitzer It could be way too late to ask, yet is CNI used to support overlay network which kubernetes requires or just cover the network of pods?

[2016-06-22 03:19] lokkju commented on #27602
I'm seeing the same behavior on:
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.4+3eed1e3", GitCommit:"3eed1e3be6848b877ff80a93da3785d9034d0a4f", GitTreeState:"not a git tree"}

[2016-06-22 03:28] #26994 closed

[2016-06-22 03:56] AdoHe commented on #27602
seems you are using a higher version kubectl to talk with 1.2.0 apiserver, would try to reproduce this on my laptop.

[2016-06-22 04:29] k8s-merge-robot opened #27834 "[k8s.io] Kubectl client [k8s.io] Kubectl run default should create an rc or deployment from an image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9671/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run default should create an rc or deployment from an image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27014

[2016-06-22 04:39] k8s-merge-robot opened #27835 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9672/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #27443

[2016-06-22 04:39] chrislovecnm commented on #23525
@saad-ali so you pointed me in the right direction ... eventually I will get there.  Just for documenting this...

'types' actually now takes a url.  Hopefully these docs are ok: https://cloud.google.com/compute/docs/reference/beta/disks#resource-representations

Which matches what `gcloud` tool gives yah.

[code]

So I am implementing as:

[code]

[2016-06-22 04:43] saad-ali opened #27836 "Attach controller should not start detach until the node status has been updated"
https://github.com/kubernetes/kubernetes/pull/27567 introduced logic to make kubelet volume manager wait for attach detach controller to finish attach before it starts mount.

The controller should also not start a detach operation until the node status has been updated removing the volume from the list of attached volumes. Otherwise if a pod is rapidly created and deleted on the same node, it cou

[2016-06-22 04:43] MikeSpreitzer commented on #20292
@dalanlan: I am not sure I understand the question, but will try to answer anyway.  You might be asking about how Kubernetes uses CNI in general, and you might be asking about the change in PR #21072.

Regarding Kubernetes and CNI in general: Kubernetes can be configured to use a CNI plugin to connect pods to (whatever network(s) the CNI plugin chooses).  This one bit of configuration does not cha

[2016-06-22 05:13] t0ffel commented on #24677
thanks @vishh

Can you possibly point to a description on what it means for a log to be identifiable to k8s and also what it means that log is managed by k8s according to the proposal?

[2016-06-22 05:44] k8s-merge-robot opened #27839 "kubernetes-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/9674/

Multiple broken tests:

Failed: [k8s.io] V1Job should scale a job down {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Pods should get a host IP [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Generated release_1_3 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}

[2016-06-22 06:13] fejta commented on #27839
[code]

[2016-06-22 06:42] #27347 closed

[2016-06-22 06:46] tbrox commented on #27761
Looks like you're right, I'll add my comments there and close this one

[2016-06-22 06:46] #27761 closed

[2016-06-22 06:49] fejta commented on #22387
Created

[2016-06-22 06:49] #22387 closed

[2016-06-22 06:52] tbrox commented on #27630
My soon-to-be production cluster is suffering from what looks like this issue.
The influx-container consistently goes down after about a week, and the only way I've found to get it up and running again is to delete the pod to have Kubernetes recreate it from scratch, thus deleting all monitoring data.
Is increasing the memory limit going to be enough, or will it just delay the issue a few more day

[2016-06-22 06:53] fejta commented on #17079
Interesting idea for sure! Want to look into this for 1.4

[2016-06-22 06:54] fejta commented on #18123
@lavalamp is working on adding retry logic to ginkgo (Daniel feel free to just close this as a dup of that if you want)

[2016-06-22 06:54] wojtek-t commented on #27828
Yeah - I think the easiest way is to add a flag to kubelet that will decide whether create or not the "NoRouteCreated" condition. This is super small change in the code. The non-trivial changes here would be to configure it correctly in startup scripts.

[2016-06-22 06:58] fejta commented on #8759
https://onsi.github.io/ginkgo/#spec-permutation `--randomizeSuites` and `--randomizeAllSpecs`

And pass these args into a new suite here: https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gce.yaml#L68

[2016-06-22 07:39] davidopp commented on #26183
IIUC @andyzheng0831 thinks he fixed the original problem without having to implement this (in #27824). Is that correct @andyzheng0831 ? If so, this issue is probably not needed to be fixed for 1.3.

[2016-06-22 07:40] metal3d commented on #27722
@girishkalele I'm sorry but it seems that there is a bug anyway. Or enhancement about logs. Using `--cluster-dns=...` and `--cluster-domain=...` should not display errors from kubelete saying "kubelet does not have ClusterDNS IP configured and cannot create Pod using "ClusterFirst" policy. Falling back to DNSDefault policy" because it's wrong. I did it :)

[2016-06-22 07:43] piosz commented on #27764
I can confirm that #27824 fixed nodes upgrade. So it seems the only remaining problem is not ready master.

[2016-06-22 07:45] wojtek-t commented on #27764
I'm looking into it now.

[2016-06-22 08:23] #27256 closed

[2016-06-22 08:23] #27657 closed

[2016-06-22 08:30] nikhiljindal commented on #27820
Sent https://github.com/kubernetes/kubernetes/pull/27845 to fix this

[2016-06-22 09:13] gmarek commented on #26183
Yup, it seems it works, so it's not a blocker for v1.3. The "fix" is actually a hack, that shadows function definitions and makes the scripts volatile (@wojtekt already fixed the bug that was caused by a similar thing).

[2016-06-22 09:17] metal3d commented on #27722
https://github.com/kubernetes/kubernetes/blob/a8fecd0cc643db30720bc5b9cce6ef8bce090661/pkg/kubelet/kubelet.go#L1665 it's clear that kl.clusterDomain is false there despite the fact I set option

[2016-06-22 09:26] k8s-merge-robot opened #27847 "[k8s.io] Pods should have monotonically increasing restart count [Conformance] [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5664/

Failed: [k8s.io] Pods should have monotonically increasing restart count [Conformance] [Slow] {Kubernetes e2e suite}

[code]

[2016-06-22 09:43] simonswine commented on #27347
Just tested this with `1.3.0-beta.2` it is fixed there

[2016-06-22 09:44] wojtek-t commented on #27347
@simonswine - awesome. Thanks for confirmation!

[2016-06-22 09:48] wojtek-t commented on #27764
This is now fixed.

We will verify end-to-end that the script works now and I will close this bug if so later today.

[2016-06-22 09:56] k8s-merge-robot opened #27849 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/10566/

Run so broken it didn't make JUnit output!

[2016-06-22 09:57] k8s-merge-robot opened #27850 "[k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12170/

Failed: [k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}

[code]

[2016-06-22 10:05] harryge00 opened #27851 "kubectl showing password on screen"
When I want to use basic-auth, kubectl will display the password I entered:

[code]

I think it is more sensible to hide the password?

[2016-06-22 10:12] palonsoro commented on #17724
Excuse me for the delay, I did not receive mail notifications for some reason.

I see that the new documentation documents the env variables, but that is not what I was pointing. I was talking about the fact that, by default, pods `default` service account does not have permission to read the `Endpoints`. You need to either give such permission to the `default` service account or deploy your cassa

[2016-06-22 10:15] piosz opened #27852 "Cluster is not validated properly after nodes upgrade"
Currently algorithm to upgrade nodes on gce works in the following way:
- create a new MIG template
- schedule rolling update of instances in the MIG
- validate cluster

Since rolling update doesn't start immediately and it takes some time for the node controller to notice changed instance the last step may succeed before the update is actually started. Then a user thinks that the cluster is updat