[2015-10-14 09:12] hurf commented on #13851
Closing since it's fixed.

[2015-10-14 09:12] #13851 closed

[2015-10-14 09:13] davidopp commented on #15531
It's #12455.

[2015-10-14 09:15] dalanlan commented on #15531
Yeah i'm aware of that :)
It's blocked by other pr for now, so i was thinking we could have some workaround.

[2015-10-14 09:20] davidopp commented on #15531
I'm hoping we can unblock it soon. Let me check and get back to you.

[2015-10-14 09:42] bronger commented on #15609
It seems to work if I indent "imagePullPolicy" into the container data in the YAML file.  However, shouldn't it also work at the container-global position?  Besides, there is no error message.

[2015-10-14 09:49] jimmidyson commented on #12968
I think this can be closed now - the read-only port is no longer required now that the kubelet has configurable authz policy.

@roberthbailey @vishh @liggitt @smarterclayton ?

[2015-10-14 10:02] liggitt commented on #12968
Plumbing for the interfaces is present, but not hooked up to command line args for implementations yet

[2015-10-14 10:14] jimmidyson opened #15615 "Updating dependencies fails on `*_test.go` files"
In #15612 failures on shippable & travis are related to missing `*_test.go` files. This godep bump was done via `godep update github.com/google/cadvisor/...`. godep functionality is documented to not include `*_test.go` files & `testdata` directories.

I'd like to update `hack/verify-godeps.sh` to ignore these files in comparisons to make godep updates easier.

[2015-10-14 10:29] piosz commented on #13873
I don't think so. Removing 1.1 milestone

[2015-10-14 11:03] dkorn opened #15618 "Broken selflink for a specific component status"
The selflink provided in the api response for component statuses (/api/v1/componentstatuses) is broken.
For example: /api/v1/namespaces/componentstatuses/controller-manager (as specified in the response of /api/v1/componentstatuses), will return:
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "the server could not find the requested resource",
  "

[2015-10-14 11:22] piosz commented on #15297
fixed by #15298

[2015-10-14 11:22] #15297 closed

[2015-10-14 11:44] feiskyer commented on #15528
I have met same problem on k8s hangout meeting (running k8s all-in-one on aws instance), but I can't reproduce it again.

[2015-10-14 11:51] feihujiang commented on #15609
```imagePullPolicy``` is the container's field, It works only when you put it there. And  because the Go json parser kubernetes use now has a number of limitations,  so ```kubectl create``` doesn't show helpful information when you specified a field wrong place.  We've been investigating alternatives parser, #3338

[2015-10-14 12:28] markturansky commented on #15421
Right, some kind of "CloneAsRoot" or something that says the volumeMount should be the root as opposed to using the repo name.

Might want to ask @bgrant0607 as this is an API change.

[2015-10-14 12:48] ncdc commented on #15599
@jayunit100 please investigate, thanks!

[2015-10-14 12:53] deads2k commented on #15542
The `resource.Builder` is used to get the items.  This is necessary in the general case to support reaping of related objects.  That requires a `get`.  You can use the `--ignore-not-found` option to avoid failing on a 404.

Code could be special cased depending on values of related flags, but I doubt we'd do that.

[2015-10-14 12:56] wojtek-t opened #15622 "e2e failure: "deployment should delete old pods and create new ones" is flake"
Expected error:
        <*errors.errorString | 0xc2080e2bd0>: {
            s: "total pods available: 1, less than the min required: 2",
        }
        total pods available: 1, less than the min required: 2
    not to have occurred
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:173

Example failure:
http://kubekins.dls.corp.google.com:8081/job/k

[2015-10-14 13:08] bronger commented on #15609
But then, the docs need to be clarified:

http://kubernetes.io/v1.0/docs/user-guide/working-with-resources.html speaks of "spec.containers.imagePullPolicy", which suggests that imagePullPolicy sits on the name level as each container rather than within a container.

And in http://kubernetes.io/v1.0/docs/user-guide/images.html, imagePullPolicy is clearly defined outside the container.

[2015-10-14 13:19] bronger commented on #15609
Ah, I see the latter is already fixed.

[2015-10-14 13:19] jayunit100 commented on #15599
Hmmmm ok let me look into this.... Was the e2e CI for PRs not running networking ? I'll try to reproduce locally hopefully it is a bug introduced in the last rebase

[2015-10-14 13:21] ncdc commented on #15599
@jayunit100 I'd recommend you test on GCE

[2015-10-14 13:35] ironcladlou commented on #15557
@azr There's not currently any support for "indefinite" timeouts, so you're probably being affected by the default (it's the timeout value which will cause the readiness checks to fail, not the update period).

I think for now your best bet is to just set some incredibly large timeout (like 24 hours). @nikhiljindal, do you feel we should support indefinite timeouts?

[2015-10-14 13:44] azr commented on #15557
@ironcladlou are you saying that if I set 24h as a timeout, then the old one will be killed only once the new one is ready ?

[2015-10-14 13:47] rvrignaud opened #15624 "Add a severity concept in kubernetes events"
Hello,

As a new production operator of a GKE cluster, I feel a bit frustrated not to be able to distinguish "regular" / "normal" event from "not normal" events.

If we had a severity for events, it would be much easier for operators to know when the cluster is doing regular tasks or if something wrong is happening.

Maybe related to https://github.com/kubernetes/heapster/issues/477 ?

Any thought

[2015-10-14 13:49] azr commented on #15557
While I'm here, I'm pretty sure you should support indefinite rolling update, I've seen many production sql services take more that one hour to boot.

[2015-10-14 13:51] ironcladlou commented on #15557
@azr

I could have misunderstood your original problem. The readiness checks affect how the rolling updater makes progress: the updater counts the number of "ready" pods in order to decide whether scale-down can occur (e.g., if configuration dictates that the available pod count should never fall below 10, there must be 10 "ready" before the updater will scale down). If your pods take longer to be

[2015-10-14 14:01] azr commented on #15557
@ironcladlou ,  yes ! I tried to demonstrate that in my console debug output, the old pods got killed before any of the new pod were ready.

[2015-10-14 14:04] ironcladlou commented on #15557
@azr If you're able to reproduce the behavior, could you please share the YAML of one of the pods which was scaled down prematurely, preferably as soon as possible after it's scaled down?

[2015-10-14 14:15] wojtek-t commented on #15622
cc @kubernetes/goog-testing @quinton-hoole

[2015-10-14 14:17] ArtfulCoder commented on #15591
@yifan-gu are you still facing a dns issue ?

[2015-10-14 14:34] gmarek commented on #15577
cc @saad-ali

[2015-10-14 14:37] gmarek commented on #15589
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-14 14:37] #15589 closed

[2015-10-14 14:39] azr commented on #15557
Ah you asked yaml, sorry I did json, but anyways here it is :

With two large enougth nodes in my cluster, I had two zsh loop over `kubectl get pods --output=json` forever and for both of them the last time when I saw my old pod it this one :

My go program received a signal terminated when I check the logs & with `docker ps -a`

[code]

[2015-10-14 14:43] gmarek commented on #15624
@brendandburns @thockin @bgrant0607 @davidopp

[2015-10-14 14:45] azr commented on #15557
the same happens with replication set to 2

[2015-10-14 14:48] jayunit100 commented on #15599
Can't reproduce so far.  I wonder if its an ordering or parallel related thing?

[2015-10-14 14:49] bgrant0607 commented on #15624
cc @vishh @saad-ali @dchen1107

[2015-10-14 14:55] bgrant0607 commented on #15421
Volume => punted to @thockin and @saad-ali.

[2015-10-14 15:02] rroopreddy commented on #4455
Seems like pods are killed and only some restarted on machine where influxDB running. See StackOverflow [here](http://stackoverflow.com/questions/33068639/kubernetes-pods-some-die-after-running-for-a-day)

I noticed that these pods are on machine where *influxdb* is running (this process has high cpu usage). **There were 5 pods before and only 2 new ones with replication controller came back  now*

[2015-10-14 15:09] quinton-hoole commented on #15622
I think deployments fall under @kubernetes/goog-control-plane .  Labelled as such.

[2015-10-14 15:19] quinton-hoole commented on #15551
@wojtek-t Fair enough - I thought that the rate limit was currently set to 5 QPS, and meant to suggest increasing it (although I accidentally types 'disable' - Freudian slip :-) ).  It sounds like you have this covered at 20 QPS.  It might be worth trying it at 40 QPS.

[2015-10-14 15:22] #13709 closed

[2015-10-14 15:23] shuoli84 commented on #13709
Close this as no more detail I can provide. Thx

[2015-10-14 15:34] rvrignaud opened #15627 "Common environment variables for all rc / pods inside a same namespace"
Hello,

I have for all my applications some "standardised" environment variables. Today I need to copy them for all my RC definitions inside a specific namespace (integration / staging / production).
I think a way to specify some "common" environment variables for all rc / pods in a same namespace would be really useful.

Thoughts ?

[2015-10-14 15:43] jayunit100 opened #15629 "Investigate service-soak failure"
Last night,  the service soak test (#9052) was found to create a regression and reverted.  The original issue is https://github.com/kubernetes/kubernetes/issues/15599.

- It works locally.
- E2E's pass in the CI.  Possibly they skip this test.
- @dchen1107 might know: Was this a stochastic failure?  I see "kind/flake" label on the issue.  Or was it 100% failure  ...
- **Possibility 1**: It appears

[2015-10-14 15:44] thockin opened #15630 "precommit is too slow"
There has to be more we can do to make it not SO INCREDIBLY PAINFUL.  It has accumulated a lot of cruft.  Filing this for debt paydown.

[2015-10-14 15:49] #7634 closed

[2015-10-14 15:49] #9331 closed

[2015-10-14 15:49] #5659 closed

[2015-10-14 15:50] thockin opened #15632 "Simplify persistent volume controllers"
Filing this for debt paydown, though I know it's in flight under other names

@markturansky @saad-ali

[2015-10-14 15:52] thockin opened #15633 "Simplify validation logic and errors"
Validation is inconsistently applied and hard to get right.  The prefix logic needs a rethink, and some bits of validation have found themselves in other files.

Filing this for debt paydown

[2015-10-14 15:52] thockin opened #15634 "pkg/util should contain no code"
we should move everything into sub-pkgs.

[2015-10-14 15:53] thockin opened #15635 "app-specific pkgs should be under cmd/..."
I don't think things like pkg/kubelet, pkg/proxy, etc are useful outside of their own commands.  This clutters pkg and makes it less useful.

[2015-10-14 15:54] #10158 closed

[2015-10-14 15:55] thockin opened #15636 "decouple dbus and iptables"
iptables should receive some interface that dbus happens to implement instead of coupling.

[2015-10-14 15:56] thockin opened #15637 "test infrastructure code should live in testing/ sub-packages"
We have a few places where test infra (fakes, etc) live in teh same dir as prod code.  This means that fakes get linked into prod code.  We should use packages to avoid this.

[2015-10-14 15:57] thockin commented on #14944
We should also define one true way to run e2e

[2015-10-14 15:59] rimusz opened #15638 "rkt does not work on latest k8s v1.0.6 on CoreOS"
It looks like `rkt run` got changed and k8s cannot start pods, tried on latest CoreOS 833 and 766 builds:
[code]

[2015-10-14 16:02] markturansky commented on #15632
Here's the related PR: https://github.com/kubernetes/kubernetes/pull/14537

Just 1 controller, explicit sequence flows, and unit/integration tests.   If that PR isn't it, I'll need serious design guidance.

[2015-10-14 16:06] bprashanth commented on #14944
.. that works on all platforms. Recently @aledbf ran into some problems with e2e on vagrant (KUBERNETES_PROVIDER was always getting overwritten to gce?), I think he just ended up running it on gce. Kinda like cutting your foot off so the shoe fits :)

[2015-10-14 16:07] thockin opened #15639 "Need consistency in managing containers we push"
We have no real process for versioning, documenting, and pushing all the myriad containers we use for testing and other things.

[2015-10-14 16:08] thockin opened #15640 "Move contrib for_demos/for_tests stuff"
These groupings are artificial and ugly.

[2015-10-14 16:09] ArtfulCoder commented on #15592
@smarterclayton sosiouxme Would this impact RH install since RH uses skydns in no-rec mode ?
Do read my first comment in this issue..
I believe RH should move to using skydns in rec mode along with ClusterFirst pods use skydns only (without fallback NS on the pod)

[2015-10-14 16:10] erictune opened #15641 "Running hooks/precommit makes unnecessary copies of files"
when I do a `git commit -a`, I see in the preformatted comments, and in a subsequent `git status` output, that something has done `cp pkg/* .`.

In particular, git status says:
[code]

This has happened several times.

I've verified that my .git/hooks/pre-commit  is up to date.

[2015-10-14 16:19] erictune commented on #15641
Suspect some interaction between  53e14c7a1eaec0f9e075eeb316c5395942e573b0 changes a deep copy of pkg, which is exactly what I am seeing.  @mikedanese any ideas here?

[2015-10-14 16:23] jayunit100 commented on #15629
cc @gmarek @timothysc @ncdc .

[2015-10-14 16:29] lavalamp commented on #15551
We should figure out why our QPS is so pitiful. If we turn off all watches
& lists is it still this bad?

Or-- imagine we do this experiment: we start two apiservers. We direct all
lists/gets/watches to one, and all create/update/deletes to the other.
Which one falls over? I'm guessing it's actually the read one, and that the
write one will be happy with very high QPS. But the experiment is kind o

[2015-10-14 16:30] dchen1107 commented on #15638
cc/ @yifan-gu

[2015-10-14 16:31] timothysc commented on #15629
The fact that networking is marked as "flakey" is concerning, as I find it to be the single most important test.

[2015-10-14 16:38] mikedanese commented on #15641
hmmm, i suspect a mac vs linux cli caveat. I'll take a look.

[2015-10-14 16:49] dchen1107 commented on #11204
@thockin, We are still on target to resolve this issue in 1.1 timeline?

[2015-10-14 16:51] timothysc commented on #11962
Just to give a complete update..
- 1st commit around contexts is in.
- We've agreed upon removing the FakeClient and stading up etcd per unit test that needs it.  Currently block on godep issues
- Code exists to transition to new client, but there is some runtime error that is masked by the FakeClient and only visible by the integration tests.

[2015-10-14 16:56] smarterclayton opened #15643 "Liveness checks against a pod that supports keep-alive are broken"
Scenario:

1. User running a liveness probe against HTTP 8080
2. Default delay 30s, timeout 3s, no interval set
3. Pod is a unicorn server which supports keep-alive, but has a 30s timeout

Symptom: pod is restarted continuously with:

[code]

We allow keep-alive, which means the TCP connection stays in the golang transport.  After 30s, unicorn closes the connection but we don't see it.  The next l

[2015-10-14 16:56] smarterclayton commented on #15643
I think this should be fixed and back ported to 1.1

[2015-10-14 16:57] nikhiljindal commented on #15557
@ironcladlou Before you go further debugging this, I would like to point out that @azr is using v1.0.6 on GKE.
Isnt it correct to say that what @azr is experiencing is expected for that version?
We have now fixed the problem on HEAD, so that we wait for the new pods to become ready before we scale down old pods, but that has not been part of any release it.

If I am correct, @azr this should be fi

[2015-10-14 17:04] smarterclayton commented on #11962
I'd like more context behind the second bullet - that doesn't make a lot of
sense to me to require a database to be running to run the bulk of our unit
tests that touch the storage path.

On Wed, Oct 14, 2015 at 12:51 PM, Timothy St. Clair <
notifications@github.com> wrote:

[2015-10-14 17:09] yujuhong commented on #15594
Closing as dup of #5319

[2015-10-14 17:09] #15594 closed

[2015-10-14 17:12] brendandburns commented on #15496
Re-opening.  This flaked again:

http://kubekins.dls.corp.google.com/view/job/kubernetes-e2e-gce-autoscaling/1324/

[2015-10-14 17:12] a-robinson commented on #15590
I agree that an f1-micro is a bad example, but there isn't anything running on the node and the node size isn't really the point - the point that I keep seeing brought up is that the baseline resource usage is high. For instance, in another cluster without anything running on it I have an n1-standard-1 node with a steady 15% CPU usage, according to the developer console.

Although if you're alread

[2015-10-14 17:17] timothysc commented on #11962
The SIG agreed that the FakeClient doesn't make much sense going forwards as the semantics change with both the current mod, as well as the upcoming etcd3 mods.  We are basically fixing the fake client to match the shift, while it still masks behavioral differences between clients.

Thus standing up etcd programmatically is relatively low cost and can be done on an as needed basis.

https://github

[2015-10-14 17:19] dchen1107 commented on #15629
@jayunit100 Actually multiple jenkins projects failed last night due to the same issue. I only mentioned above two (Empty, Services) because they are green last many days (> 10 days) without any flakiness. After reverting your PR, jenkins projects are back to green again.

I poked several failed builds, and found right before those failures, e2e just finished a network test: Networking  should fun

[2015-10-14 17:20] vishh commented on #15624
+1 for this idea.

On Wed, Oct 14, 2015 at 7:49 AM, Brian Grant <notifications@github.com>
wrote:

[2015-10-14 17:22] timstclair commented on #15421
I think we should stick with @resouer 's approach, and match the `git clone` semantics. As alluded to, a destination directory of `'.'` should clone into the root directory.

[2015-10-14 17:27] yujuhong commented on #15590
Was the 15% CPU usage solely from kubelet and/or docker or did it include fluentd and other add-on pods? kubelet/docker's usage should increase with #pods/containers running on the node. Even though the per-pod overhead is quite high now, If there are no pods running and the cpu usage is high, that'd be a bug. A cpu profile would be appreciated in that case:
Run `kubectl proxy` and then
`go tool p

[2015-10-14 17:28] ssergiienko opened #15644 "Kubelet eats lots of memory and cpu"
[code]

I reported almost same bug for flannel and found that problem appears when node's system time is in far future from master on which etcd is running. This happens after restore cluster from snapshot. It looks like kubelet has this bug too.

Link to my bug for flanneld (for more description): https://github.com/coreos/flannel/issues/337

Possible this https://github.com/kubernetes/kubernetes

[2015-10-14 17:29] bprashanth commented on #15643
So I think that maps to:
1. just create the transport with DisableKeepAlives
2. defer CloseIdleConnections (since we read the body this should be enough?)

@kubernetes/goog-node

[2015-10-14 17:29] dchen1107 commented on #15643
cc/ @mikedanese @timstclair

[2015-10-14 17:30] smarterclayton commented on #15643
I think - however, if we're health checking a lot of pods at a rapid clip we could be creating lots of TCP sockets.  Probably not at bad scales, but also a possibility.

[2015-10-14 17:32] smarterclayton commented on #11962
Can you explain why FakeClient doesn't make sense?  Emulating deep etcd
behavior I agree is not productive.  But higher level tests having to start
etcd concerns me more.

On Wed, Oct 14, 2015 at 1:17 PM, Timothy St. Clair <notifications@github.com

[2015-10-14 17:34] yujuhong commented on #15644
Previous issues about time skew: #6159, #1651

[2015-10-14 17:36] derekwaynecarr commented on #15627
@bparees - is this something that you struggle with today?

/cc @kubernetes/rh-cluster-infra

[2015-10-14 17:37] derekwaynecarr commented on #15624
I agree.  Today, I have to ask "do you see any interesting output in kubectl get events" when I should be able to ask "do you have any output with severity X".  Big +1

[2015-10-14 17:38] derekwaynecarr commented on #15624
@smarterclayton  @kubernetes/rh-cluster-infra @kubernetes/rh-dev-experience

I think it would be a huge win if we got severity on events.

[2015-10-14 17:39] ncdc commented on #15629
I've discovered another flake and it has to do with the order that things get deleted:

[code]

[2015-10-14 17:39] timstclair commented on #15643
The prober currently retries up to 3 times on error or failure. If the connection is cleared after the first failure, why isn't the retry succeeding? (Note that I'm thinking about changing this logic to only retry on error. Discussing [here](https://github.com/kubernetes/kubernetes/issues/12866))

The default probe interval is 10s, why is the timeout being reached? If it is because of the initial

[2015-10-14 17:41] ncdc commented on #15624
:+1:

[2015-10-14 17:42] yujuhong commented on #15644
The conclusion from the old issues was that ntpd should be part of the node requirement. @davidopp @dchen1107 @erictune, does the conclusion still hold today?

[2015-10-14 17:45] ihmccreery commented on #15506
Closed #15506 via #15422.

[2015-10-14 17:45] #15506 closed

[2015-10-14 17:45] rootfs opened #15647 "kubectl get pod should print header just once"
Currently (as of e929977ff3da5ddfed854e444bba6ed4ef88d618) `kubectl.sh get pod` prints header for each pod as the following. This extra header printout is rather unnecessary.

[code]

[2015-10-14 17:49] markturansky commented on #15421
I have no strong feelings about it and I'm not personally invested in this feature, so take my argument with the proverbial grain of salt.

I don't see much value in simply renaming $foo (the repo name) to $bar (an arbitrary string).  The user's container still has to know where the data lives.  The inherent complexity is the same. Maybe it's more because you now have to mentally parse the locatio

[2015-10-14 17:53] jayunit100 commented on #15629
Interesting, looks like youv'e reproduced this in vagrant.  I've run these in vagrant before (without issue)... but let me try again.

[2015-10-14 17:53] yujuhong opened #15649 "soak cluster should not run daemon/node restart tests"
We should be testing the reliability of a long-running cluster. These tests kill/restart components or nodes in the cluster, defeating the purpose of a soak cluster.

[2015-10-14 17:54] ncdc commented on #15629
I haven't reproduced the nil pointer yet

[2015-10-14 17:54] jayunit100 commented on #15629
Yup, nil pointer seems to be a GCE specific thing? maybe based on url or something...

[2015-10-14 17:55] thockin commented on #3752
Simply moving this to DNS1035 labels would remove some cruft around truncating auto-generated service names.

I'd like to see this fully analyzed and either fixed or closed in v1.2

[2015-10-14 17:55] ncdc commented on #15629
My guess is that your Wait.Poll code is still running in a goroutine when the framework goes out of scope.

[2015-10-14 17:56] jayunit100 commented on #15629
Yes  I think you are right ; definitely some variables are being referenced after the test has already "failed".

[2015-10-14 17:58] thockin commented on #15627
I think the right answer here is some use of the not-completed config
object and tying it into env vars or a volume.  This moves the values out
but leaves the boilerplate code in each RC.  I could maybe see something
like a namespaced config object being applied to all pods, but it's a bit
"magical" and that's not good.  I would not be against a design doc to
consider the options.

On Wed, Oct 14,

[2015-10-14 18:05] smarterclayton commented on #15643
It's possible each probe opens a new connection, and subsequents are
reusing multiple old connections out of the pool.  Hard to say.  We deal
with this all over in the code today (search for "closed network
connection") - it's essentially an io.EOF that isn't really an EOF but most
of the time you want to treat it that way.

On Wed, Oct 14, 2015 at 1:40 PM, Tim St. Clair <notifications@github.com>

[2015-10-14 18:05] ironcladlou commented on #15557
@nikhiljindal is right, thanks.

[2015-10-14 18:20] yifan-gu commented on #15638
@rimusz can you tell what's the version of rkt?

[2015-10-14 18:21] dchen1107 commented on #15644
cc/ @yifan-gu @jonboulle

[2015-10-14 18:22] bgrant0607 opened #15652 "Autoscaling docs"
We need up-to-date docs for autoscaling once we finalize the API #15315, #15549.

1. User guide doc that explains the feature
2. Example in docs/user-guide (not in examples)
3. Update, unify, and move the design docs to docs/design:
   1. https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/autoscaling.md
   2. https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/hori

[2015-10-14 18:22] jonboulle commented on #15644
cross-linking to coreos/flannel#340

[2015-10-14 18:29] yujuhong commented on #15644
@ssergiienko, what OS distro and version do you use?

[2015-10-14 18:31] ihmccreery opened #15654 "E2E_PUBLISH_GREEN_VERSION should use same logic as other version uploaders"
This is follow-on work to #14959 and #15422.

[2015-10-14 18:31] saad-ali commented on #15577
Reasons that I am aware of that Kubelet needs access the host's `/dev/`:
  * Access to /dev/disk, /dev/sd* to mount volumes attached to the node to containers
  * Default termination log is written to `/dev/termination-log`
There may be other reasons that I'm not aware of.

I agree that none of these seem critical for Kubernetes running inside docker.

CC @dchen1107 @brendandburns who might be abl

[2015-10-14 18:35] yujuhong commented on #15528
@feiskyer , it was suggested in #15644 that the clock difference between the master and the node might be the root cause. Do you think it'd be the cause of your problem?

[2015-10-14 18:37] nikhiljindal commented on #15557
Re: @azr's questions about GKE:

Only release versions are supported on GKE. We are planning to release kubernetes v1.1 in early November and your cluster on GKE will be automatically updated to that version soon after.
cc @a-robinson and @roberthbailey incase they want to add more.

[2015-10-14 18:37] yifan-gu commented on #15591
Yes.
[code]

[2015-10-14 18:42] saad-ali commented on #15176
@jijun2 can you please combine all these PRs in to one, and close the individual ones. They are all doing essentially the same thing, so comments on one of these PRs is likely to apply to the others. Thanks!

[2015-10-14 18:43] saad-ali commented on #15176
CC @ashcrow

[2015-10-14 18:47] ashcrow commented on #15176
:+1: agreed. Pulling them all into one fix for the issue will make more sense for git history.

[2015-10-14 19:06] rimusz commented on #15638
I tried with v0.7 and v0.9

[2015-10-14 19:09] a-robinson commented on #15557
Yup, GKE should be up-to-date with the 1.1 release within about a week after the release finalized.

[2015-10-14 19:11] timothysc commented on #11962
The updated client libraries change both the api and behaviour.  On those modifications, it forces a shift in the FakeClient to match on both fronts.  So shift now + shift later ...

We counted ~15 files, and not all tests within those files.  In general, the code has not properly abstracted the storage layer, and that concerns me even more.

Removing the FakeClient ensures that we are testing rea

[2015-10-14 19:16] jayunit100 opened #15656 "Run networking.go tests in the Per Pull-Request CI"
We consider `Networking.go` the workhorse of all e2e tests.
- it tests mounts and communication auth (tokens).
- it tests pod connectivity over service endpoints.
- it confirms that networking in the cluster is setup correctly (i.e. kubelets can find each other)
- it isn't CPU or memory intensive, so in general shouldn't lead to stochastic failures or stalls.

I'd suggest we remove it from FlakeyT

[2015-10-14 19:42] thockin commented on #15550
On Tue, Oct 13, 2015 at 8:34 AM, Mike Lloyd <notifications@github.com> wrote:

This is going to create you a pod with three containers all running on
the same machine.  I don't think this is what you want.

Are you sure the JSON you posted is the JSON you're running?  This is
complaining that you have multiple containers each named "server"
(which is not allowed - container names must be unique).

[2015-10-14 19:46] yifan-gu commented on #15638
@rimusz Current it only supports v0.8.1. But I will send a PR to fix for 0.9 as there are breaking changes in 0.9.

[2015-10-14 19:49] rimusz commented on #15638
@yifan-gu awesome, as I see it is a time to start using rkt with Kubernetes :)

[2015-10-14 19:52] four43 commented on #12093
Note: 1.1.0 has this enabled by default.

But `make release` at the root has been what's working for me after making the changes @mbabker suggested. Make sure you're using the correct `kubectl`, mine was in `{{project root}}/_output/release-stage/full/kubernetes/platforms/linux/amd64/kubectl` after being built. Just FYI as I play with this NFS stuff.

[2015-10-14 19:54] thockin commented on #14870
Can you paste `iptables-save` ?

Also you might set the --v= flag to 4 and see what the logs say.

On Wed, Sep 30, 2015 at 1:45 PM, AdrianAbraham <notifications@github.com>
wrote:

[2015-10-14 19:55] four43 commented on #8735
This is an older issue, but still open so I'll comment. Regarding the title, about resolving addresses, using v1.1.0-beta

I found this extremely helpful: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns#how-do-i-test-if-it-is-working

I was able to poke around at what pods could resolve. Instead of `nfs-server.default.kube.local` I found that simply `nfs-server` resolved pr

[2015-10-14 19:58] wojtek-t commented on #15551
I completely agree that experiment would be very useful. And my feeling is also that the read one would be the more busy one. But I don't know how to do it without a lot of changes everywhere...

[2015-10-14 19:59] aronchick commented on #1957
@jefferai for sure, wasn't implying that. Just that you clearly know the space, and we'd love the help.

[2015-10-14 20:01] wojtek-t commented on #13548
@quinton-hoole - why did you close this? IIUC the PR is still not merged.

[2015-10-14 20:02] smarterclayton commented on #11962
Ok, thanks for the clarification.

On Wed, Oct 14, 2015 at 3:12 PM, Timothy St. Clair <notifications@github.com

[2015-10-14 20:11] yifan-gu commented on #15638
@rimusz yeah, FYI the network plugin piece and per container lifecycle hooks are still missing. Will work on the lifecycle hooks this week, but the network plugin needs to change its interface.

[2015-10-14 20:11] yifan-gu commented on #15638
Filed a fix for this at #15658

[2015-10-14 20:13] AdrianAbraham commented on #14870
[code]

[code]

[2015-10-14 20:16] nikhiljindal commented on #15403
Here are the set of tasks based on various discussions:

- [ ] Update defaults in code to enable extensions/v1beta1 by default. Jobs, ingress and HPA will also be enabled by default. All other extension resources will be disabled.
- [ ] Users will be able to override these default enabling/disabling of resources and whole group versions using runtime-config (We should maybe rename that to runtime-

[2015-10-14 20:17] aronchick commented on #1743
Was "Job" already rejected? If not, that has my vote. It's already a well known term.

[2015-10-14 20:26] bgrant0607 commented on #7641
This should be caught by --validate, which is now on by default.

[2015-10-14 20:26] #7641 closed

[2015-10-14 20:29] a-robinson commented on #15590
That number is everything running on the node, according to GCE's automatic monitoring of instances.

You should easily be able to replicate this yourself if you'd like a cpu profile, since it's just a default container engine cluster. Run `gcloud container clusters create foo` and you'll have a cluster of n1-standard-1s to look at, that will likely all be using 10-20% CPU according to GCE.

[2015-10-14 20:31] rimusz commented on #15638
@yifan-gu we at Deis are looking to switch to rkt and use v2 Deis under Kubernetes+rkt.
Is the network plugin interface can be fixed/updated soon too?

[2015-10-14 20:32] liggitt commented on #15643
keep-alive only helps you if you're repeatedly talking to the same remote addr... if you're checking lots of pods with different IPs/ports, keep-alive will do nothing for you

[2015-10-14 20:33] ixdy commented on #14781
cc @jlowdermilk

[2015-10-14 20:33] mynameismevin commented on #15550
Gotcha! That helped with the errors, I resolved it! Thanks!

[2015-10-14 20:33] #15550 closed

[2015-10-14 20:34] derekwaynecarr commented on #14562
The change in https://github.com/kubernetes/kubernetes/pull/15427 will remove the experimental flag and work against the discovery API.

As a result, I am closing this issue.

I will shift focus to https://github.com/kubernetes/kubernetes/issues/14765 to make it delete all resources based on discovery with no manual need for future developers to write code in namespace_controller to take part in d

[2015-10-14 20:34] #14562 closed

[2015-10-14 20:34] azr commented on #15557
All right then ! I'll set a huge time until 1.1 is released :)

Thank you all guys for your awesome support !

[2015-10-14 20:35] yujuhong commented on #15590
Thanks. The numbers are not so meaningful since we cannot tell which % is contributed by kubelet/docker and by monitoring or logging. I agree in general we should have lower overhead though.

[2015-10-14 20:40] caesarxuchao commented on #11173
It's still valid at HEAD,

[code]

[2015-10-14 20:44] dmcqueen opened #15660 "Google Container Engine only recognizes Nodes created with Debian?"
I'm trying to switch my gke cluster to use an ubuntu instance template for the clusters instance group and seems like kubectl will only recognize the nodes created with the Debian instance template.  Is this a restriction for GKE?

[2015-10-14 20:46] yujuhong opened #15661 "kubelet cpu usage increases over time"
I had a 4-day old cluster and the kubelet cpu was 20%+ in all three nodes with only add-on pods running.  **Restarting kubelet resolved the issue.**
We've had similar reports from users on slack before.

Edit:
[code]

Here are some cpu profiles I took before restarting:

![kubelet1](https://cloud.githubusercontent.com/assets/10524058/10497163/58c7f634-7279-11e5-8eda-d5a8a3872962.png)
![kubelet2](h

[2015-10-14 20:49] yifan-gu commented on #15638
@rimusz The problem is the interface takes a docker container ID, we need to change that to take a PID. But that involves many changes. I am curious what network plugin are you using? Currently by default the rkt pods on a node will run in one private subnet.

[2015-10-14 20:49] bgrant0607 opened #15662 "All fields passed to NewFieldFoo() functions should specify full json paths"
How we specify fields to NewFieldRequired, NewFieldInvalid, etc. is very inconsistent.

In some places, we specify full paths. For example, `spec.ports[%d].port`.

In others, we specify only the field name, such as `name`.

In still other places, we specify some not-necessarily-contiguous subset of the path, such as `template.labels`.

We should convert all of them to specify full paths, such as `

[2015-10-14 20:53] yujuhong commented on #15661
@kubernetes/goog-node

[2015-10-14 20:57] yifan-gu opened #15663 "Change the network plugin's interface"
Currently the network plugin's [interface](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/plugins.go#L49) takes a docker container ID as the parameter. AFAICS, the container ID is used to get the PID of the infra container. So will it be feasible to change it to the PID that holds the network namespace? This would make the interface more generic for other runtimes such as

[2015-10-14 21:06] ncdc opened #15664 "Reflector's call of WatchInterface.Stop() every resyncPeriod results in a new TCP connection to the apiserver each resync"
The Reflector is currently calling WatchInterface.Stop() each resyncPeriod to stop the watch, retrieve the full list of resources again, and then restart the watch.

Unfortunately, as indicated by https://github.com/golang/go/commit/8476d4cf2937fc261bbcf2890ba39d815bce3ae5, you have to read the response's body to completion before calling body.Close() if you want to reuse the TCP connection.

Beca

[2015-10-14 21:08] ncdc commented on #15664
@smarterclayton @liggitt @kubernetes/rh-cluster-infra @jeremyeder @timothysc @kubernetes/goog-control-plane @lavalamp

[2015-10-14 21:08] JanetKuo commented on #15647
dup #15415

[2015-10-14 21:08] #15647 closed

[2015-10-14 21:09] liggitt commented on #15664
Also, all the non-watch places we do resp.Body.Close() are destroying our keep-alive sessions

[2015-10-14 21:11] dchen1107 commented on #15661
@yujuhong What is the difference between this node and other two nodes? More pods? more containers?

There are two major contributors from the graph you posted:
1) cadvisor: we already know
2) go-dockerclient: Part of them comes from ListContainers, introspectContainer, which is known heavy operations. Once we switch to event based pod lifecycle management, those cost should go away.

But you are

[2015-10-14 21:11] bprashanth commented on #15643
eitherway a keep-alived liveness probe on the node feels like over optimization

[2015-10-14 21:13] karlkfi commented on #3024
+1 for Replicator

PodReplicator is a close 2nd, but I prefer single word resources at the top level API, at least until we actually need to replicate other resources with a common API.

[2015-10-14 21:15] caesarxuchao commented on #11173
The reason is there is no field named spec.name on the pod struct, the strategicpatch.Merge() function will just add such a field to the pod object ([here](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/strategicpatch/patch.go#L539), marshal the patched object to JSON, and the field is ignored during unmarshal [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver

[2015-10-14 21:15] dchen1107 commented on #15660
cc/ @kubernetes/goog-gke

[2015-10-14 21:19] gmarek commented on #15664
cc @wojtek-t

[2015-10-14 21:23] yujuhong commented on #15661
There were three nodes in the cluster running only addon pods. **All three of them** exhibited the unusual high cpu usage.

[2015-10-14 21:26] JanetKuo opened #15665 "Watching a list of resource doesn't work"
**Problem**:
`kubectl get -f <file> --watch` won't work if the file contains a list (api.List, api.ReplicationControllerList, etc).

For example, if we want to watch a ReplicationControllerList with 2 rc:
[code]
Note that watch will first print the object being watched and then start watching. The object printed here should be but is *not* retrieved from server, because the list doesn't have a "na

[2015-10-14 21:27] smarterclayton commented on #15643
Agree

On Oct 14, 2015, at 5:12 PM, Prashanth B <notifications@github.com> wrote:

eitherway a keep-alived liveness probe on the node feels like over
optimization

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/15643#issuecomment-148201852>
.

[2015-10-14 21:28] quinton-hoole commented on #13548
@wojtek-t Yes, sorry, you're right. I'll assign this one to @ixdy, to close once the PR is merged.

[2015-10-14 21:28] smarterclayton commented on #15664
* without reading the full body, which we do in most cases.

On Oct 14, 2015, at 5:09 PM, Jordan Liggitt <notifications@github.com>
wrote:

Also, all the non-watch places we do resp.Body.Close() are destroying our
keep-alive sessions

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/15664#issuecomment-148201243>
.

[2015-10-14 21:30] rimusz commented on #15638
@yifan-gu we are using the default network plugin.

[2015-10-14 21:36] smarterclayton commented on #15664
This manifests in CPU profiles on the apiserver that are biased towards tls
handshaking when using elliptic curves (because they're slow) and you have
reflectors with frequent resyncs.  Also clients that watch for a specific
event and then react (but close their watch) will also close their
connection (note there is no way to have the client terminate the watch, so
we're stuck on this being ugly u

[2015-10-14 21:38] bparees commented on #15627
Yes, not being able to do this has definitely been a pain point for some of
our users.
On Oct 14, 2015 1:37 PM, "Derek Carr" <notifications@github.com> wrote:

[2015-10-14 21:40] smarterclayton commented on #15665
That solution sgtm

On Oct 14, 2015, at 5:26 PM, Janet Kuo <notifications@github.com> wrote:

*Problem*:
kubectl get -f <file> --watch won't work if the file contains a list
(api.List, api.ReplicationControllerList, etc).

For example, if we want to watch a ReplicationControllerList with 2 rc:

$ kubectl get -f hack/testdata/multi-resource-rclist.json -wCONTROLLER
  CONTAINER(S)     IMAGE(S)

[2015-10-14 21:44] spiffxp commented on #14216
Nope, I raised that constant to 300s and down to 1s with no visible effect on behavior.

[2015-10-14 21:49] philk commented on #15546
Yup, when you use an ELB in TCP mode you lose the origin information unless what you're passing to supports the PROXY protocol: http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/enable-proxy-protocol.html

[2015-10-14 21:52] yujuhong commented on #15649
Example tests:

- Nodes\sResize
- Services.*restarting
- DaemonRestart
- Nodes\sResize
- Reboot
- Etcd failure

@quinton-hoole @ixdy

[2015-10-14 21:59] vishh commented on #4455
On Wed, Oct 14, 2015 at 8:02 AM, Ravindar Reddy <notifications@github.com>
wrote:

Pods are not immortal. Unless you set an appropriate restart policy, pods
will disappear.
Replication Controllers are meant to handle this situation. When a new pod
is created to replace a dead pod, the new pod can either be scheduled on
the same node or on a different node.

You can set env `ENABLE_CLUSTER_MONITORI

[2015-10-14 22:01] bgrant0607 commented on #15665
A clearer error sounds fine to me, also, but we should support watching a resource collection, potentially filtered by a label selector, correct?

[2015-10-14 22:02] quinton-hoole commented on #15649
@yujuhong Agreed.

Some of them already seem to be skipped:

https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L184

GCE_SOAK_CONTINUOUS_SKIP_TESTS=(
    "Density.*30\spods"
    "Elasticsearch"
    "Etcd.*SIGKILL"
    "external\sload\sbalancer"
    "identically\snamed\sservices"
    "network\spartition"
    "Services.*Type\sgoes\sfrom"
    )
Q

[2015-10-14 22:03] roberthbailey commented on #15660
There isn't anything in GKE that is preventing your from using a different base image -- we may it really easy to use the default image, but it's possible (if you know what you are doing) to use a different OS.

You won't be able to just change the image type in the instance template and expect the nodes to work. The instance template (and specifically the startup script) are specific to our Debia

[2015-10-14 22:03] quinton-hoole commented on #15649
@ArtfulCoder FYI

[2015-10-14 22:04] thockin commented on #15662
The biggest problem with this is indices, but I agree.  I filed #15633
today, I'll fold this in.

On Wed, Oct 14, 2015 at 1:50 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-14 22:04] thockin commented on #15633
From @bgrant0607:

How we specify fields to NewFieldRequired, NewFieldInvalid, etc. is very inconsistent.

In some places, we specify full paths. For example, spec.ports[%d].port.

In others, we specify only the field name, such as name.

In still other places, we specify some not-necessarily-contiguous subset of the path, such as template.labels.

We should convert all of them to specify full pat

[2015-10-14 22:04] JanetKuo commented on #15665
@bgrant0607 Yes, commands like `kubectl get pods --watch` will continue working since it's filtered by a label selector (when you don't specify resource name, the system gives you labels.Everything() by default).

[2015-10-14 22:04] #15662 closed

[2015-10-14 22:04] bgrant0607 opened #15666 "Improve watch documentation"
Currently it's negligible, out of date, and scattered.

[2015-10-14 22:09] yifan-gu commented on #15638
OK, if you are not specifying anything in the `--network-plugin` flag for kubelet, then the default one is no-op, so it won't affect you.

[2015-10-14 22:10] lavalamp commented on #15511
Some sort of cleanup here is P1.

[2015-10-14 22:14] rimusz commented on #15638
no, I'm not specifying anything in the `--network-plugin` flag for kubelet. So that means we only need lifecycle hooks to be fixed then?

[2015-10-14 22:16] lavalamp commented on #15618
I agree that it doesn't make a lot of sense for this to be namespaced given what's in it at the moment. Given what I'd like it to contain, the namespace might make more sense in the future.

The self link is super broken right now, though, probably due to lack of actual namespace. @caesarxuchao there's probably a bug in the go-restful setup code for this. Can you take a look at some point?

Also i

[2015-10-14 22:24] dchen1107 commented on #14966
Now we split kubernetes-e2e-gce-release project into two: one for 1.0, and another one for 1.1. I checked builds last couple days for both projects, and none of them failed due to this particular issue. Like I mentioned in https://github.com/kubernetes/kubernetes/issues/14966#issuecomment-145177776, I believe the failure is caused by the test configuration back then, and such breakage is fixed aft

[2015-10-14 22:24] #14966 closed

[2015-10-14 22:28] thockin commented on #15663
Yeah, I apologize - it should never have been docker-specific.

On Wed, Oct 14, 2015 at 1:57 PM, Yifan Gu <notifications@github.com> wrote:

[2015-10-14 22:28] lavalamp commented on #13775
A start is in #14665.

[2015-10-14 22:29] four43 opened #15668 "NFS Volume not mapped (v1.1.0-beta)"
Following setup guide: https://github.com/kubernetes/kubernetes/tree/release-1.1/examples/nfs

Built kubernetes with tagged v1.1.0-beta (latest tagged revision at the time, however I tried with master too)

We are using a salted host, AWS EC2. (Side note: the provisioning works really well, that part runs very smoothly)

Created NFS Server Pod via: https://github.com/kubernetes/kubernetes/blob/rel

[2015-10-14 22:33] davidopp opened #15669 "Better ways to check internal component invariants in e2e tests"
I reviewed a test that had a comment "This test requires that --terminated-pod-gc-threshold=100 be set on the controller manager"

There's no easy programmatic way to do this right now. Once we have component config stored as an API object, this will hopefully be easy. It might also be useful for components to export their config information (whether it comes from command-line flags or API object

[2015-10-14 22:37] lavalamp commented on #14216
Logs please!

[2015-10-14 22:37] yifan-gu commented on #15638
@rimusz I think so.

[2015-10-14 22:44] rimusz commented on #15638
@yifan-gu cool then :)

[2015-10-14 22:48] four43 commented on #15668
I also tried running that container locally, just as a sanity check:
[code]
[code]
So something is going on there...

[2015-10-14 22:49] yujuhong opened #15671 "Incorrect state for pods with crashlooping containers"
With the enhancement of container restart backoff, pod phase may not progress monotonically.

A pod is considered running if at least one container in the pod has been started. If the container happens to be crashlooping, the restart backoff would eventually kick in. From that point on, the container status becomes waiting, and [kubelet determines the phase](https://github.com/kubernetes/kubernete

[2015-10-14 22:55] smarterclayton opened #15672 "Convert all clients that set parameters directly to use Request.VersionedParams()"
We now have a generalized mechanism to turn any of our versioned API objects (options) into parameters via `pkg/client/request#VersionedParams` so we should start doing so.

[2015-10-14 22:56] smarterclayton commented on #15672
Example: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/pods.go#L77 should just be `VersionedParams(deleteOptions, api.Scheme)`.  We should try to remove the nil options check as well.

[2015-10-14 22:57] smarterclayton commented on #15672
@kubernetes/goog-csi

[2015-10-14 22:58] yujuhong commented on #15649
It'd be hard to prevent regression as more tests are added. It might be better if we explicitly define a set of DISRUPTIVE_TESTS, and include them wherever needed, e.g., GCE_PARALLEL_SKIP_TESTS and GCE_SOAK_CONTINUOUS_SKIP_TESTS. That way, people who are adding tests will be aware of the category. @quinton-hoole, WDYT?

[2015-10-14 23:03] four43 commented on #15668
Exit status 32 seems to be a permission issue? These guys are talking about it over here: https://github.com/kubernetes/kubernetes/issues/9051

[2015-10-14 23:03] vsimonian commented on #10309
The error for invalid keys is equally confusing:

[code]

This makes it seem as though the base64 data is invalid because it reads <code>invalid **value**</code> instead of `invalid key`. Certainly sent me off on a wild goose chase until I read up on the restrictions for the keys.

[2015-10-14 23:03] bgrant0607 opened #15673 "Write resource management overview"
We need an overall design for how all our resource-management features should interact:

* horizontal pod autoscaling
* vertical pod autoscaling (initial and reactive)
* resource metrics APIs
* oversubscription
* scheduling (including taking resource usage into account)
* QoS
* out-of-resource killing
* rescheduling

cc @davidopp @fgrzadkowski @dchen1107 @vishh

[2015-10-14 23:08] rroopreddy commented on #4455
Documentation says "If RestartPolicy is not set, the default value is Always". In this case RestartPolicy is not explicitly set, should it not have started automatically?

[2015-10-14 23:13] dchen1107 commented on #15673
+1000

I can contribute some for sure.

[2015-10-14 23:22] dchen1107 commented on #15661
@yujuhong any container has crashloop?

[2015-10-14 23:34] eliaslevy opened #15675 "Proposal: Service connection affinity"
As of now connections to Services are either handled in a round robin fashion (the default) or can make use of client IP based affinity, where the endpoint for the initial connection to the service by a client is selected in a round robin fashion and subsequent connections will attempt to use the previously selected endpoint.

In some environments there is a need for a topographical or administrat

[2015-10-14 23:34] yifan-gu opened #15676 "Kube-proxy not working on coreos/gce"
After I created a service, the kube-proxy on other machines cannot establish connection to the pod in the service:
[code]

The kube-proxy on the same node with the pod works fine:

[2015-10-14 23:35] yifan-gu commented on #15676
Think I need to fix this first before #15591

[2015-10-14 23:36] jayunit100 commented on #15629
Ok, after playing with a 3 node vagrant cluster, I was able to recreate this.
- It seems like some funniness around how the AfterEach/BeforeEach are triggered,  and it only happens in clusters, which can lead to the polling continuing.
- it seems to be a recent change (a month ago, i ran this in a cluster, and it didn't have problems).

The mechanism is less important, the most important thing is

[2015-10-14 23:36] thockin commented on #14870
Two things are happening.

First, it's detecting your iptables version is "too old".  I don't buy that
- can you run `iptables --version` ?

Second, it's failing the check even with the fallback method.  Can you up
that --v flag to 5 (there's a level 5 log-line I want to see)

On Wed, Oct 14, 2015 at 1:13 PM, AdrianAbraham <notifications@github.com>
wrote:

[2015-10-14 23:39] thockin commented on #15668
@kubernetes/rh-storage

[2015-10-14 23:42] jfoy commented on #11543
:+1: to @roboll's proposal. We've just been bitten by this same issue.

[2015-10-14 23:44] yujuhong commented on #15661
Nope, the containers were all running happily and had not be restarted for days.

[2015-10-14 23:46] thockin commented on #8735
`nfs-server.default.kube.local` is incorrect

Assuming you changed the default `cluster.local` to `kube.local`, you want
`nfs-server.default.svc.kube.local`

On Wed, Oct 14, 2015 at 12:56 PM, Seth Miller <notifications@github.com>
wrote:

[2015-10-14 23:47] vishh commented on #4455
Can you post the output of `kubectl describe pods --all-namespaces`? If
those pods were not deleted, it should show up in the output.

On Wed, Oct 14, 2015 at 4:09 PM, Ravindar Reddy <notifications@github.com>
wrote:

[2015-10-14 23:52] JanetKuo commented on #14952
Isn't this enough? `kubectl run -o yaml | kubectl expose -f -`

[2015-10-14 23:59] thockin commented on #15591
Is the DNS service actually at `10.0.0.10` ?

Is the cluster domain actually set to `cluster.local` ?

Is kube-proxy actually running?

If you delete teh DNS pod and let it recreate does it still fail?

On Wed, Oct 14, 2015 at 11:38 AM, Yifan Gu <notifications@github.com> wrote:

[2015-10-15 00:01] nikhiljindal opened #15679 "Multiple e2e tests failing with "Couldn't delete ns namespace""
Ex: http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/12770/#

More than 95 tests failed in that run. Example error:
[code]

@k8s-oncall is this a known issue?
@quinton-hoole

[2015-10-15 00:05] nikhiljindal commented on #15679
cc @kubernetes/goog-testing

[2015-10-15 00:06] dchen1107 commented on #15663
@yifan-gu thanks for tracking down the issue. Mind to send us a fix to change the interface? Thanks!

[2015-10-15 00:09] yifan-gu commented on #15676
cc @dchen1107

[2015-10-15 00:21] davidopp commented on #15673
I agree. Producing such a doc was one of the goals of the meeting we had in Warsaw a couple of months ago, but that never happened. Probably all for the best, as we've made good progress in a number of these areas since then, so if we do it now, it will be more grounded in reality.

I'll assign this to myself for now, but if someone wants to start working on it before I get a chance, they should f

[2015-10-15 00:26] dchen1107 commented on #15676
cc/ @runningwild who recently fix some issues for this setup.

cc/ @ArtfulCoder for kube-proxy related configuration

[2015-10-15 00:29] thockin commented on #15421
The '.' syntax is sort of what a git user would expect, even if it is a bit of a lie, strictly speaking.

That said, we sort of view gitRepo as a "mistake".  we should have implemented this as a sidecar container.  Do we really want to add more functionality to it?

[2015-10-15 00:30] ArtfulCoder opened #15680 "create a udp timeout flag for kubeproxy"
Create a udp timeout flag for kube-proxy so users can adjust it based on their use case.
Also, if users are facing dns timeouts, this flag could prove to be useful.
We don't want to increase the default udp timeout since we are getting close to 1.1 release

[2015-10-15 00:30] thockin commented on #15663
Bear in mind thee are some external users of this interface - @rajatchopra

On Wed, Oct 14, 2015 at 5:07 PM, Dawn Chen <notifications@github.com> wrote:

[2015-10-15 00:33] thockin commented on #15676
172 suggests the default docker networking - are you sure the bridge is
being configured with the per-node podCIDR?

On Wed, Oct 14, 2015 at 4:35 PM, Yifan Gu <notifications@github.com> wrote:

[2015-10-15 00:35] markturansky commented on #15668
NFS in a pod requires root/privileged mode.  Are you running the server that way?

Here's the bog standard "PersistentVolumes w/ NFS" example I use for testing:

https://github.com/openshift/origin/tree/master/examples/wordpress

This example in OpenShift touches on security (currently wide open for NFS) and shows how to connect the web pod to the backend database service.

[2015-10-15 00:38] yifan-gu commented on #15663
@thockin Yes, this will break the contract with those plugins binaries.
@dchen1107 I'd like to take it, but probably won't send the fix until next week.

[2015-10-15 00:42] four43 commented on #15668
I am. The current v1.1.0-beta has privileged mode enabled by default. The example links I posted show that privileged mode is enabled in the config, so should be enabled on the pod. Any way to verify that? I am thinking there is a bug or something missing in the NFS example docs.

Thanks for the link @markturansky I've seen you post that around here when others have asked about nfs. I'll give it a

[2015-10-15 00:55] derekwaynecarr commented on #15661
@kubernetes/rh-cluster-infra

@tstclair - have you seen this?

On Wednesday, October 14, 2015, Yu-Ju Hong <notifications@github.com> wrote:

[2015-10-15 01:10] hurf commented on #15673
@hurf @HaiyangDING

[2015-10-15 01:13] samsabed commented on #15671
@yujuhong so change it to stay in running when one of the containers is not running ?

[2015-10-15 01:19] JanetKuo commented on #15179
Looks like we only handle hiding terminated pods in the default printer. It should be all printers.

[2015-10-15 01:21] ttllyy opened #15681 "kubectl rolling-update rc correspond to api?"
kubectl rolling-update foo new_image.

What interface API for rolling-update? Give an example for update new image?

thanks!

[2015-10-15 01:41] zhengguoyong commented on #15319
sorry i have not saw this issue as i open a similar one(#15594),
do you mind i participate in this issue?  i would happy to do some work for this.
best regards.
@yujuhong

[2015-10-15 01:44] yifan-gu commented on #15676
I think the problem is kubelet is not started with `--configure-cbr0=true`

[2015-10-15 01:44] hurf commented on #15201
It seems kublet will always retry until container is started. Both in this case and for other reasons which prevent the constainer to start, pod will always stay in 'Pending' phase. I'm going to add a retry count, after retrys reached maximum count, change pod into 'Failed' phase.

[2015-10-15 01:53] jijun2 commented on #15176
@ashcrow @saad-ali @ixdy , Ok, I will bombine all PRs.

[2015-10-15 01:55] smarterclayton opened #15683 "Reflector ListWatch should use Jitter to avoid aligning resync"
Nodes use ListWatch for pod, service, and endpoint retrieval.  Clusters that undergo a shared restart, or are scaled up at the same time, may end up synchronizing their requests and creating load spikes (we're seeing it as described here https://github.com/openshift/origin/issues/5106#issuecomment-148234658).

We should use `util.Jitter()` that is relative to the resync period (1/20th? 1/50th?) to

[2015-10-15 01:56] smarterclayton commented on #15683
@kubernetes/goog-csi @kubernetes/rh-platform-management

[2015-10-15 02:03] yifan-gu commented on #15676
IIRC, the configuration is for rkt at that time, so the cbr0 is not set. But I am going to add this so we can make coreos/gce works for docker as well.

[2015-10-15 02:13] rroopreddy commented on #4455
Hi @vishh - using kubectl.sh and "--all-namespaces" is not an option. However, I dumped the details of one of the pod that died which **I have to restart manually*. Please notice the **'restartPolicy: Always** as default without me specifying it. When it dies there is no trace that it was running before

        apiVersion: v1
        items:
        - apiVersion: v1
          kind: Pod
          m

[2015-10-15 02:23] vishh commented on #4455
I'd recommend creating a separate issue for the pod restart behavior. I'd
be curious to see the output of describe when the pod dies (and never
restarts) again.

On Wed, Oct 14, 2015 at 7:13 PM, Ravindar Reddy <notifications@github.com>
wrote:

[2015-10-15 02:26] smarterclayton commented on #15201
Does docker not distinguish in their errors between "this is literally
broken" and "we don't know whether it would work"?  Some of these are
likely to be "never" work (executable on path, path not found, etc)

On Oct 14, 2015, at 9:44 PM, Victor HU <notifications@github.com> wrote:

It seems kublet will always retry until container is started. Both in this
case and for other reasons which prevent

[2015-10-15 02:27] fgrzadkowski opened #15684 "Add API for autoscaling based on cpu request utilization"
e.g. scale up if CPU usage exceeds 70% of CPU request.

Subtasks:
- [x] Add API changes #15706
- [x] Add implementation #15706
- [x] Add support in kubectl to print status with cpu request utilization #15706
- [ ] Add e2e tests #15770

@derekwaynecarr @bgrant0607 @jszczepkowski @mwielgus @piosz

[2015-10-15 02:29] smarterclayton commented on #15664
I think we should reuse the existing ?timeout= behavior for watch, and have the apiserver close the watch on the server side for us, and we'll wait a bit longer than that in the watch loop before closing the connection directly.  We may actually want to enforce a shorter watch timeout anyway (15 minutes) and this would be a good angle.

[2015-10-15 02:29] fgrzadkowski opened #15685 "Delete API for autoscaling based on raw resources (CPU/Memory usage)"
For 1.1 we plan to scale based on cpu request utilization (see #15684)

Subtasks:
- [ ] Delete API
- [ ] Clean implementation
- [ ] Delete kubectl support to print status
- [ ] Delete e2e tests

@bgrant0607 @derekwaynecarr @jszczepkowski @piosz

[2015-10-15 02:32] fgrzadkowski opened #15686 "Add example and documentation for Horizontal Pod Autoscaling"
This is a blocker for 1.1

@bgrant0607 @davidopp @jszczepkowski @piosz @derekwaynecarr

[2015-10-15 02:37] xuedihualu commented on #11134
@dieuroi
Hi:
 I have the same problem with you, can you tell me how to solve?
E1015 10:36:21.521270    5744 manager.go:1579] Error running pod "test_default" container "test": API error (500): No command specified

[2015-10-15 02:38] bgrant0607 commented on #15686
See also #15652

[2015-10-15 02:40] smarterclayton commented on #15664
I also think that the resync interval should apply an inverse multiplier to list size instead of being a fixed duration.  `nextResyncDeadline` could be calculated from `cacheSize / desiredSize * baseInterval + minimumInterval` or similar.  An empty cluster would resync at minimumInterval, and a doubling of cluster size would double the extra interval.  A 1k pod cluster resync interval doesn't make

[2015-10-15 02:49] fgrzadkowski commented on #15686
@bgrant0607 Thanks for the pointer. I've missed it. Closing this one.

[2015-10-15 02:49] #15686 closed

[2015-10-15 02:55] xuedihualu commented on #6888
@ReSearchITEng
Hi:
I do as you said ,But still have the problem. Is not to start a container from gcr.io/google_containers/pause

[2015-10-15 02:56] hurf commented on #15201
I think docker does distinguish errors, but not exactly between "temporarily broken" or "never work". Like "image not found"(like "path not found"), can be caused by wrong image name(never work) or a sudden netwok down(temporarily broken, my vm is down for I was testing this) . For this case, bash not in the image, unless we check the error by string message, we can not distinguish it by error typ

[2015-10-15 03:01] fgrzadkowski commented on #15684
@piosz I've sent main PR for review (#15687). During your day/my night please look into kubectl changes and e2e tests.

[2015-10-15 03:17] mikedanese commented on #15675
Is there a usecase for this beyond a multi-zone cluster? Currently we recommend against multi-zone cluster for this reason (and others). See https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/docs/admin/multi-cluster.md#scope-of-a-single-cluster however it should be possible in theory. Instead we recommend a single cluster per zone (a federated model).

cc @quin

[2015-10-15 04:01] karlkfi commented on #15618
The whole /componentstatus API is just broken. It needs rewriting.

[2015-10-15 04:05] resouer commented on #15421
@thockin For me, most sidecar solution will require 'copy file to volume' step, comparing to that, gitRepo is more suitable when the source is suitable to be stored in git

[2015-10-15 04:36] thockin commented on #15592
I think using SkyDNS in recursive mode is the better answer.  I think it has the best overall behavior.  If the cluster DNS is down, the cluster is in trouble, falling back to a DNS server that only has partial answers (no in-cluster names) is wrong.

Additionally, asking for a name like `google.com` should be fast.  The general flow is:

[code]

I proved it with tcpdump

[code]

@karlkfi

[2015-10-15 04:45] andrevtg opened #15688 "multinode sample on local VM docker-machine"
Any specific reason why not to support the multinode sample on a local setup done with docker-machine on VirtualBox?

I could gladly go for it and make a PR if I succeed, unless there is a road block ahead for this built-in Linux distro (lsb_release says "Boot2Docker 1.8.2").

[2015-10-15 04:46] thockin commented on #10163
That's neat.  I'm not sure I'm comfortable with how intrusive it is into
the lifecycle of a container, but it sure seems useful to get started with
and maybe figure out some more solutions.

Thanks!

On Tue, Oct 13, 2015 at 9:12 PM, Jan B <notifications@github.com> wrote:

[2015-10-15 05:04] resouer commented on #13353
#dibs

[2015-10-15 05:12] thockin opened #15690 "Consider reverse DNS records for services"
Running a wildcard DNS lookup returns a bunch of IPs, but I can't lookup those IPs into a name.  Also, some DNS tools do reverse lookups of IPs they are given (not sure why).  I don't see any reason NOT to support reverse lookups for services.. Anyone?

[2015-10-15 05:23] smarterclayton commented on #15627
We've made a fairly strong set of statements that we don't want to magically inject things into pods - pods have to explicitly reference those things.  Once ConfigData lands, I think it'll be a lot clearer how to set this up with either admission controllers or just good code generation.

[2015-10-15 05:34] bgrant0607 commented on #15633
This is about validation generally? The issue I filed was about a very specific problem.

[2015-10-15 05:36] thockin commented on #15421
There's already a (somewhat half-cooked) git side-car that does almost the
same thing as the gitRepo volume.  It's exactly as many copies.  Why would
you need extra copies?

On Wed, Oct 14, 2015 at 9:05 PM, Harry Zhang <notifications@github.com>
wrote:

[2015-10-15 05:37] thockin commented on #15633
My point is that there are several things that I think are debt around
validation and they can all be fixed-up roughly together.

On Wed, Oct 14, 2015 at 10:35 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-15 05:45] bprashanth commented on #15633
In others, we specify only the field name, such as name.

As long as the callers have applied Prefix in a way that produces the right yaml path of a field this might be ok? I mean:
[code]

This is hard to reason about with local conetxt, but you can't encode full paths in shared functions.

[2015-10-15 05:48] xuedihualu commented on #7332
@tobegit3hub
do not start the container from the image(docker tag docker.io/kubernetes/pause gcr.io/google_containers/pause:0.8.0)???

[2015-10-15 05:52] thockin commented on #14118
@jijun2 sure!  This is an interesting starting point.  Bring up a cluster with the iptables kube-proxy (ask if you need details :), then launch 3 pods (kubectl run hostnames --image=gcr.io/google_containers/serve_hostname --replicas=3), then expose it as a bunch of services (for i in $(seq 1 500); do kubectl expose rc hostnames --port 80 --target-port 9376 --name hostnames-$i; done).

Now look at

[2015-10-15 06:00] thockin commented on #14099
Two things come to mind:

First, the largest clusters we've done so far are 1000 nodes with 30 pods
per node, and we weren't quite satisfied with the tail latency on that, so
at 40k you're already in "unsupported land".  That said, tell us how it
goes - we want to know!

Second, yeah, that's a lot of iptables, but the vast majority of those
rules will never be evaluated for each packet.  The longe

[2015-10-15 06:02] thockin commented on #15633
I think we should be passing down catenated full paths - it's way easier to
think about than the prefix stuff, in practice.  I am sure there will be
places where that is hard.

On Wed, Oct 14, 2015 at 10:45 PM, Prashanth B <notifications@github.com>
wrote:

[2015-10-15 06:04] ArtfulCoder commented on #15592
The behavior you saw tried FQDN first, followed by relative path-suffixed tries
This happens with busybox libc.
On unbuntu, FQDN is tried last.
that implies that on some pods, google.com query could take a while to resolve, after it has gone through the search paths.

[2015-10-15 06:13] apeeyush opened #15692 "Vagrant setup broken on master branch"
I am trying to setup vagrant using the master branch but get the following error:

	==> minion-1: Installed:
	==> minion-1:   flannel.x86_64 0:0.5.0-3.fc21
	==> minion-1: Complete!
	==> minion-1: Created symlink from /etc/systemd/system/docker.service.requires/flanneld.service to /usr/lib/systemd/system/flanneld.service.
	==> minion-1: Job for flanneld.service failed. See "systemctl status flannel

[2015-10-15 06:13] abonas commented on #3024
+1 for Replicator.
BTW ManageIQ's Kubernetes provider already calls them replicators.

[2015-10-15 06:17] wojtek-t commented on #15683
We use randomizing the length of the watch request so this shouldn't happen.

[2015-10-15 06:27] wojtek-t commented on #15664
Thanks for reporting it - this explains https://github.com/kubernetes/kubernetes/issues/13671
cc @kubernetes/sig-scalability

BWT - I recently increased resync periods in different controllers - see https://github.com/kubernetes/kubernetes/pull/15153

Also, all the non-watch places we do resp.Body.Close() are destroying our keep-alive sessions

Do we do that in case of non-watch requests?

I think

[2015-10-15 06:38] jijun2 commented on #14118
@thockin ,Thank you! Let me try.

[2015-10-15 06:40] davidopp commented on #3024
Let me reiterate my opinion: I think that resources representing collections should either have names that sound like a collection of objects, or names that sound like a thing that manages collections of objects. We should be consistent and not use a mixture of the two across different collections.

So it should either be Job/DaemonSet/ReplicaSet or JobController/DaemonController/Replicator.

[2015-10-15 06:45] xuedihualu commented on #7332
I have the new problem  API error (500): No command specified

[2015-10-15 07:00] apeeyush commented on #15692
I suspect that it might be related to #15545

[2015-10-15 07:05] xuedihualu commented on #11134
@dieuroi
 你的问题解决了没，我也遇到了api500的问题，

[2015-10-15 07:24] resouer commented on #15421
my bad .. I ignored the fact git side-car can specify target directory when `git clone`. You just remind me that the gitRepo seems to be originally designed as a demo of volume plugin:

[2015-10-15 07:27] davidopp commented on #15675
Could you just create one service per zone, and have the pods in a zone use the service local to that zone? It seems unlikely that all the pods providing the service would go down, but the pods consuming the service would not go down, if they are all in the same zone, so I'm not sure I see a lot of value to configuring the proxy with endpoints in remote zones.

Now, if some service is *only* avail

[2015-10-15 07:30] davidopp commented on #15652
Personally I would leave this one in proposals and put a big note at the top that the document is superseded by the individual docs on HPA and cluster autoscaling.

[2015-10-15 07:30] #15369 closed

[2015-10-15 07:30] davidopp commented on #15652
Personally I would leave this one in proposals and put a big note at the top that the document is superseded by the individual docs on HPA and cluster autoscaling.

(Ignore previous email, I had the wrong link.)

[2015-10-15 07:32] davidopp commented on #15652
nit: I don't think we should mark documentation issues as P0, even if they're urgently needed for the next release.

[2015-10-15 07:33] #15415 closed

[2015-10-15 07:52] ssergiienko commented on #15644
@yujuhong CentOS Linux release 7.1.1503 (Core)
Kubernetes 1.0.3-0.1.git61c6ac5
Kubernetes are with our own patches but they are related to replication-controller and they are small

[2015-10-15 08:45] feihujiang commented on #14014
I checked the current version:
[code]
and found it is supported now,
```Get http://127.0.0.1:8080/api/v1/pods?fieldSelector=metadata.name=counter```
The result is:
[code]

I also checked the replicationcontrollers, also support.
@lavalamp Do we need to do anything about this issue?

[2015-10-15 08:51] resouer commented on #831
@thockin Isn't the side-car mode enough for these cases? like: [this demo ](https://github.com/kubernetes/kubernetes/tree/master/examples/javaweb-tomcat-sidecar)

What's benefit of a new volume type then?

cc @kjvalencik @bgrant0607

[2015-10-15 09:12] ae6rt commented on #15592
If SkyDNS is the only nameserver in /etc/resolv.conf for ClusterFirst pods, and I want SkyDNS to recurse, where will the reference to the other nameserver come from?  Sorry if I missed this somewhere.

[2015-10-15 09:18] resouer commented on #15421
Back to this issue itself, personally I choose to keep `gitRepo` as side-car container is a little bit verbose somehow ...

[2015-10-15 09:40] cristicbz opened #15698 "On kubernetes.io AWS link 404-s"
Going to "Documentation > Turn-Key Cloud Solutions > AWS" takes you to http://kubernetes.io/v1.0/docs/getting-started-guides/AWS.html which 404s and then redirects back to homepage.

[2015-10-15 09:45] cristicbz opened #15699 "On kubernetes.io "Quick Walkthrough (Basics Tutorials)" is blank"
The page on "Documentation > Quick Walkthrough (Basics Tutorials)" contains a "Table of contents:" heading but is otherwise blank.

[2015-10-15 10:30] azr commented on #15557
By the way I just tried the rolling update with `--timeout="-22m0s", the old one still got killed after a minute.

[2015-10-15 10:30] jeremyeder commented on #15664
@wojtek-t can you add me to @kubernetes/sig-scalability ?

[2015-10-15 10:32] jeremyeder commented on #13671
The exact fingerprint of this issue is in https://github.com/openshift/origin/issues/5106

[2015-10-15 10:49] wojtek-t commented on #13671
@jeremyeder - yup - I think we figured it out from #15664

[2015-10-15 10:51] wojtek-t commented on #15664
@jeremyeder - you need to request membership yourself. And I think only @jbeda can accept it.

[2015-10-15 11:33] jeremyeder commented on #15664
@jbeda can you add me to @kubernetes/sig-scalability please ?

[2015-10-15 11:41] feihujiang opened #15701 "The result of accessed "all namespaces" endpoint with fieldSelector=metadata.namespace=default is wrong"
I used: ```Get http://127.0.0.1:8080/api/v1/pods```
       or ```Get http://127.0.0.1:8080/api/v1/pods?fieldSelector=metadata.name=counter```
The result is:
[code]
It works, and we can see there is a pod named counter and the namespace is default

But when I used:
```Get http://127.0.0.1:8080/api/v1/pods?fieldSelector=metadata.namespace=default```

The result is:
[code]
The result has no pod, I th

[2015-10-15 11:45] bronger opened #15702 "kubectl exec -i exits prematurely"
With the current Git version of kubectl (see below), I cannot get an interactive shell in a container:

[code]
just exits after a couple of seconds, without echoing any TTY input.

Similarly,
[code]
shows that in many cases, the file is not completely transferred.  "large-file" was 1MB in my case, with 6Mbit upload rate.

Client Version: version.Info{Major:"1", Minor:"2+",
GitVersion:"v1.2.0-alpha

[2015-10-15 11:46] wojtek-t commented on #15664
@smarterclayton - I will try to hack something about it to measure the impact of.
I'm going to follow your suggestions (that I really like) about reusing ?=timeout option.

Assigning to myself - will post here when I have some results.

[2015-10-15 11:47] cheld commented on #11819
The IP and the certificates are not extracted from the vagrant image. The kube configuration is not written.

The file cluster/vagrant/util.sh has the line:

[code]

if you remove the /dev/null part, then you will see:
[code]
However, the line works if envoked manually after vagrant up.
[code]

 Any idea?

[2015-10-15 11:59] liggitt commented on #15683
the reflector will still proactively terminate at exactly the resync period

[2015-10-15 12:04] wojtek-t commented on #15683
@liggitt - sure I think I wanted to write something completely different, but was thinking about a different issue when writing this :)

What I wanted to write is that, we are already trying to randomize the resync periods. So far I changed some of them in our controllers - see
https://github.com/kubernetes/kubernetes/pull/15153

We can do more of that in our components (controllers, kubelets).

T

[2015-10-15 12:11] jsafrane commented on #15668
It's NFSv4, try to mount NFS root: `mount -vvv -t nfs 192.168.254.90:/ /mnt/docker-test2`
It works for me,

[2015-10-15 12:12] #14598 closed

[2015-10-15 12:31] azr commented on #15557
If I read the doc it says
[code]
That probably means that I need to have 2 replicas and use the `--update-period` option, instead of ```--timeout``` to achieve zero downtime.

[2015-10-15 12:33] jijun2 commented on #14118
@thockin ,I have started up  example, and try to use memory profile. I confused how kube-proxy works ? and use a simple case ,
$./kubectl run hostnames --image=gcr.io/google_containers/serve_hostname --replicas=3
$./kubectl expose rc hostnames --port 80 --target-port 9376 --name hostnames-1
$curl http://vip:80
$iptables -t nat -L -n
I check iptable rules has not changed all the time,
The iptable r

[2015-10-15 12:36] atrauzzi opened #15703 "Add support for variables in configuration files"
I haven't seen anywhere in the kubernetes documentation that shows how to use variables (either specified command line, or by importing all declared environment variables) in my yaml configuration files.  As I'm getting started with google container engine, it's definitely something I'm already wishing for.
With things as they currently are, I either have to generate the files myself, or maintain

[2015-10-15 13:04] timothysc commented on #15664
This could also explain #13331
/cc @jayunit100

[2015-10-15 13:04] #15480 closed

[2015-10-15 13:07] wojtek-t commented on #13671
OK - I'm going to close this issue in favor of #15664

[2015-10-15 13:07] #13671 closed

[2015-10-15 13:11] ArtfulCoder commented on #15227
this could be the root cause: #15649

[2015-10-15 13:18] ArtfulCoder commented on #15592
skydns gets the reference for other nameservers from the host's /etc/resolv.conf

[2015-10-15 13:30] rootfs commented on #15668
@four43 @jsafrane please post your linux kernel version and docker version.

@four43 your mount hang and error 32 (EPIPE) indicate the nfsd was not running and is likely due to a known issue with nfsd running in a container. See if the following steps can confirm my hypothesis:

[code]

If your `showmount` hangs and you find nfsd stack dump in your `/var/log/messages`, that confirms you hit that n

[2015-10-15 13:32] jayunit100 commented on #11819
I still haven't reproduced this and tested from head.
Maybe it's related to shared folders? Can you read and write from /vagrant easily ? What version vagrant and vbox are you using?

[2015-10-15 13:39] jsafrane commented on #15668
Kernel: 4.2.3-300.fc23.x86_64 [Fedora 23 Beta-ish]
Docker: 1.8.2-fc23

Docker version is IMO irrelevant here. And yes, nfsd has problems running in a container, but it can provide basic functionality despite throwing some warnings to dmesg. I tested that when implementing test/e2e/volumes.go (May 2015) and I am sure I tested both Debian (wheezy?) and Fedora 21 as the hosts.

[2015-10-15 13:53] cheld commented on #11819
Yes, important detail: I am using libvirt, Vagrant 1.7.4 and Ubuntu 14. ( It worked for Kubernetes 1.0. )

I have just noticed that the certificate directory  /srv/kubernetes appears eventually. A 3 minutes sleep after vagrant up helps.

[2015-10-15 14:01] karlkfi commented on #3024
I would agree, David, but I don't think this IS a set of pods. It's a single pod factory with a template for producing more of one kind of pod. It's also it's own daemon that watches those pods and makes new ones when necessary. It's NOT a group of pods, which makes it distinct from the way borg works.

-Karl

[2015-10-15 14:04] karlkfi commented on #3024
There's already a"pod set" too. It's called PodList.

-Karl

[2015-10-15 14:20] brendandburns commented on #15702
This seems like a real bug to me.  We should have an e2e to cover this use case if we don't already, and that will likely help with the repro.

@bronger was this on OSS Kubernetes or Google Container Engine?

[2015-10-15 14:22] #15501 closed

[2015-10-15 14:27] four43 commented on #15668
@jsafrane - The author himself! Thanks for the work you've put into this NFS stuff and checking on these issues.

Something is wrong with my environment. I tried your exact instructions, still no go:
[code]
Looks like it's trying version 4 there, but it's just hanging and timing out.

From a new terminal, nothing:
[code]
@rootfs - Thanks for the interest, here are my specs of my local machine and

[2015-10-15 14:27] rootfs commented on #15668
@jsafrane i found your nfs-data container comments out `rpcbind -w`. This could cause trouble. Without `rpcbind`, `showmount` or `mount.nfs` won't be able to find the nfs mountd port.

on your test environment, is `rpcbind` running?

[2015-10-15 14:32] jsafrane commented on #15668
No, rpcbind does not need to run. Please note that I explicitly disable NFS v2 and v3 in the container.

[2015-10-15 14:33] four43 commented on #15668
@rootfs - I am not familar with showmount. I created the pods on the cluster again:
[code]
^^^ Should I have done that `showmount` on the host?

[2015-10-15 14:37] dhawal55 commented on #11543
+1 to @roboll. I was wondering the same. Why not use instanceId for instance lookup. I will trying to find out why the PrivateDNSName for ec2 is not updated even when i have DHCP option sets for my VPC point to my custom DNS server. If that doesn't work, i'm going to change ```ExternalID``` method to use instanceID and submit a PR.

[2015-10-15 14:39] karlkfi commented on #3024
The other distinction between JobController and ReplicationController is that RC's are created by users. I think the fact that it makes a controller is an implementation detail that the end user shouldn't have to know about. It could continue to be implemented as ReplicationController, as long as it's exposed to the user with a friendlier name. The dev and operator are the only personas that shoul

[2015-10-15 14:42] bronger commented on #15702
@brendandburns the cluster was GKE.

[2015-10-15 14:43] jsafrane commented on #15668
@four43, anything interesting in `kubectl logs <nfs server pod>`? Mine:

[code]

 And dmesg? My dmsg complains "NFSD: attempt to initialize legacy client tracking in a container" with a stack trace, but it's fine otherwise.

[code]

Umm, looking at "starting 90-second grace period", it may take up to 90 seconds until your nfsd starts accepting connections...

[2015-10-15 14:51] karlkfi commented on #15592
I agree recursion is the best option, but falling back is not "wrong". Ideally, for the Mesos cases, kube-DNS is always available and handles recursion to Mesos-DNS and host cluster DNS, but don't forget the bootstrapping and failure conditions. You want to be able to deploy all addons simultaneously, not wait for kube-DNS to be ready before deploying the rest. Other pods also still need to be abl

[2015-10-15 14:59] sttts commented on #15575
Looking into this.

[2015-10-15 15:09] timothysc commented on #15683
@bprashanth more thundering herd issues.

/cc @kubernetes/sig-scalability

[2015-10-15 15:18] four43 commented on #15668
@jsafrane - Looking logs, I got what you did, looking pretty happy:
[code]

I ran the container locally to see if anything spit out in my host dmesg. Nothing was added to the log (Ubuntu), I looked in the container itself to see if it was logging anywhere:
[code]
Nothing in there.

I tried looking at the running nfs container on my cluster:
[code]

No dice. Thanks for the ideas.

[2015-10-15 15:23] jsafrane commented on #15668
The pod shares kernel logs with your host, it's kernel log after all. Execute /usr/bin/dmesg on your host.

[2015-10-15 15:27] smarterclayton commented on #15683
I'd like to make resync variant based on the size of the cache as well,
with some well chosen constant factors.  That would be a slightly different
factoring, but could account for both the need to jitter and
scale-invariance.

On Thu, Oct 15, 2015 at 11:09 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2015-10-15 15:34] eliaslevy commented on #15675
@mikedanese A zone is just one particular networking boundary that one may wish to use for prioritization purposes.  One may also wish to prioritize endpoints within the same node, rack, subnet, [placement group](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html), or VPC as the client.

The proposal allows for prioritized routing of connections based on administrative policy

[2015-10-15 15:34] four43 commented on #15668
@jsafrane - Ah, that certainly makes sense.

After restarting my container and looking for new entries in the log I found this:
[code]
Looking into what that might be now, sounds like you're not having that issue on Fedora

[2015-10-15 15:50] kelseyhightower commented on #15387
I've been pretty happy with the current setup and I don't see a problem with the .yaml or .json file extensions, but it might be a good idea to validate the proper encoding. One benefit of using the "native" file extensions is better integration with other tools and editors that may be used to generate these configs and possibly consume them in the future.

[2015-10-15 15:51] jsafrane commented on #15668
No, I don't see it on Fedora. I might spin up a virtual machine tomorrow, but I'd prefer you to look at it, I am not much Debian/Ubuntu guy. Out of curiosity, what Ubuntu version do you use?

[2015-10-15 15:52] thockin commented on #15702
@ncdc

[2015-10-15 15:55] ncdc commented on #15702
Ugh, not again.

@bronger can you share your pod spec please?

[2015-10-15 15:56] ncdc commented on #15702
@brendandburns I added some e2es recently that should cover these cases as best as possible in a headless test driver, although the `cat` test doesn't test a large file.

[2015-10-15 15:58] jbeda commented on #15664
@jeremyeder Go to https://github.com/orgs/kubernetes/teams/sig-scalability and request to join.  I *think* I can approve that. I can't add you directly though.

[2015-10-15 16:00] jbeda commented on #15664
Wrt the CPU cost of reestablishing the TLS connect, are we making sure that we are using fast resume?  It looks like we need to use a ClientSessionCache across multiple TLS connections.  We can also look at the `DidResume` bit in the connection state. That'd be a good thing to put a counter on.  In steady state the percentage of connections that are resumed should be very high.

[2015-10-15 16:00] ncdc commented on #15702
`kubectl exec -it` works for me in my local setup. I wonder if this is something that's GKE specific?

[2015-10-15 16:01] bronger commented on #15702
@ncdc see https://gist.github.com/bronger/f982a30a798c473b0e5b

[2015-10-15 16:03] ncdc commented on #15702
@bronger can you share your image, or if not, let me know what it's based on?

[2015-10-15 16:07] four43 commented on #15668
I am running 14.04 LTS on dev box, Kubernetes spun up 15.04 minions on AWS. Still looking at what the heck errno 110 is., it also is throwing a 97 when I try and connect. Still investigating...

[2015-10-15 16:08] bgrant0607 commented on #15703
Dupe of #11492.

Yes, agree that this is needed. We have a couple ideas in the works.

It's also not too hard to run a preprocessing pass before passing the configs to kubectl, though we're considering adding support for that, as well. #13241

[2015-10-15 16:08] #15703 closed

[2015-10-15 16:21] bronger commented on #15702
The Dockerfile is https://gist.github.com/bronger/f914700b2dcd13a7b9ca
and "apache_entrypoing.sh" is https://gist.github.com/bronger/11955b3828ce5a9da44b

[2015-10-15 16:24] bronger commented on #15702
The DEBUG=1 output is https://gist.github.com/bronger/28f65a42e4f0964e7802

[2015-10-15 16:29] sttts commented on #15575
@dchen1107 do you have a longer test trace for me?

I cannot see much that could be flakey due to the tests. It just does this:

- start pod without-label
- remember NodeName
- delete without-label
- set label kubernetes.io/e2e-<some-uuid>=42 on NodeName
- launch pod with-label and NodeSelector set to {"kubernetes.io/hostname": nodeName, kubernetes.io/e2e-<some-uuid>":42}

The only idea I have is

[2015-10-15 16:41] taimir commented on #11819
I can report the same behavior as cheld (using libvirt and vagrant on Ubuntu 14) - the /srv/kubernetes directory on master (containing the certificates) is created with a significant delay and the extraction of the .crt files fails because the path does not exist yet.

Could it be that the salt provisioning is running asynchronously to the /cluster/vagrant/util.sh script? This would explain the de

[2015-10-15 16:47] four43 commented on #15668
Ah ha! I noticed my nfs container stopped after a while:
[code]

Hmmmm

[2015-10-15 16:50] bgrant0607 commented on #11793
@HaiyangDING @cameronbrunner We're considering this for the 1.2 timeframe.

[2015-10-15 16:57] aveshagarwal commented on #15624
If nobody is working on it, I would be happy to work on it and here are some preliminary thoughts regarding changes required:

- [ ] Add  a new field Severity to type Event struct in  pkg/api/types.go,  pkg/api/v1/types.go:

//Severity of this event (low, medium, high) (or may be Fatal too?)
Severity string `json:"severity,omitempty"`
- [ ] Modify event conversion API in ./pkg/api/v1/conversion_ge

[2015-10-15 17:04] yujuhong commented on #15319
@zhengguoyong, of course, fixes are welcome. Thanks for picking up on this!

We'll try to expedite the review and merge process of such PRs to avoid a lot of churns, but chances are that some rebases are needed :)

[2015-10-15 17:04] smarterclayton commented on #15664
We would need to have the session tickets set and shared across master
instances - just more config work (and we'd need to handle rotation).  I'm
also a little scared about fast resume and the security implications being
something everyone needs to be very sure of before they enable.

On Thu, Oct 15, 2015 at 12:00 PM, Joe Beda <notifications@github.com> wrote:

[2015-10-15 17:05] ncdc commented on #15702
So it looks like it's disconnecting after 8 seconds. Presumably something is timing out somewhere and forcibly closing the connection. I'll try to reproduce on GKE.

[2015-10-15 17:14] erictune opened #15713 "e2e test failure: Kubectl client Simple pod should support exec through an HTTP proxy"
@ncdc @ashcrow

#11694 was merged a few hours ago

It added the following test:

"Kubectl client Simple pod should support exec through an HTTP proxy"

I saw the following flake in several of our e2e runs:

[code]

Any idea if this might be a flaky test?

[2015-10-15 17:17] ncdc commented on #15713
@erictune I'll defer to @ashcrow on this. Is there any more info about the failure?

[2015-10-15 17:19] erictune commented on #15713
No, e2e doesn't save much output.

Suggest running just that test in a loop to see if it is flaky.

[2015-10-15 17:26] yujuhong commented on #15671
Hm...once the pod has transitioned to "running", it should stay as "running" or transition to a final phase based on the restart policy. It should never go back to "pending" though.
This wasn't a problem before we had restart backoff, but now there could be a time when all containers in a pod are in the "waiting" status, and none of them are running.

I think we should treat the pod as running as

[2015-10-15 17:27] ashcrow commented on #15713
It shouldn't be flaky. I've run it many times in a gce cluster as well as local. The only way I could think that it may flake would be if the jenkins e2e builders are not all create the same and some are missing golang and or make.

However, I'll take a look and see if maybe there is some possible case where an error on success occurs if the same call is made two times.

[2015-10-15 17:28] jbeda commented on #15664
With a single master API server, this should be easier, right?  Obviously this gets more complicated with HA masters if users connect to all of them randomly but we can put that off for a bit, I'm thinking. (I am by no means an expert here!)

[2015-10-15 17:31] ashcrow commented on #15713
[code]

[2015-10-15 17:32] vishh opened #15716 "Profile Heapster on large clusters"
Heapster is currently required for multiple autoscaling features in kubernetes - Horizontal pod, node and initial resource estimation.
To meet the scalability goals for kubernetes v1.1, we need to test heapster's stability on a large cluster (250 nodes) with lots of pods (30 per node).

Measuring compute resource overhead on a large cluster will be useful for users.

Profiling heapster's cpu and m

[2015-10-15 17:32] ncdc commented on #15713
Does `exit status 2` mean `ENOENT` in this case?

[2015-10-15 17:33] ashcrow commented on #15713
@ncdc good question. I'll see if I get the error without the path.

[2015-10-15 17:35] jlowdermilk commented on #15713
I ran the make command in the jenkins job workspace, and it looks like the problem is that `make -C /examples/kubectl-container/` doesn't work when run from an extracted kubernetes.tar release bundle. It's trying to find `hack/build-go.sh` which isn't included, and looking for the kubectl binary in `_output/local/` instead of `platforms/`. It can either skip or copy the already built binary if the

[2015-10-15 17:36] ncdc commented on #15713
@jlowdermilk it needs to be a static binary b/c we're running kubelet in a container as part of this test.

I'm curious how this passed the Jenkins GCE e2e tests before?

[2015-10-15 17:37] ashcrow commented on #15713
@jlowdermilk hrm. Thank you for looking! I wonder how this passed during the review. Unfortunately, we can't use the prebuilt kubectl since it is not static.

[2015-10-15 17:37] ncdc commented on #15713
@jlowdermilk what is the best way to fix this?

[2015-10-15 17:39] smarterclayton commented on #15664
Well.... OpenShift is now fully HA on the apiservers and controllers, so we
wouldn't want to add things that make it harder.  That shouldn't block Kube
doing this, just that we should make sure we know exactly what we want to
add.

On Thu, Oct 15, 2015 at 1:29 PM, Joe Beda <notifications@github.com> wrote:

[2015-10-15 17:40] jbeda commented on #15664
Looking at the golang crypto library, it looks like fast reconnect is turned on by default on the server.  So we are already there.  Looks like key rotation support is coming in 1.6 (https://github.com/golang/go/issues/9994).

[2015-10-15 17:40] jlowdermilk commented on #15713
The reason it passed review is because the pr builder actually pulls the repo branch and builds it, so those files are present. I think fixing may require bundling static kubectl in the release.

[2015-10-15 17:42] ncdc commented on #15713
Ok, so have both a dynamic and a static build of kubectl in the release?

[2015-10-15 17:44] ashcrow commented on #15713
That could work. We could make every build produce the current dyanmic ```kubectl``` as well as a ```kubectl.static```.

[2015-10-15 17:49] smarterclayton commented on #15664
It's a shame the elliptic curve improvements are blocked on copyright
issues.  That's what the underlying roadblock was on this particular block.

On Thu, Oct 15, 2015 at 1:40 PM, Joe Beda <notifications@github.com> wrote:

[2015-10-15 17:51] JanetKuo commented on #13621
The reason terminated pods are hidden by default is for #7660 (GC terminated pods).

We didn't use field selector because the users can get multiple resources at once (such as `kubectl get po,svc,ns`) but we don't have an universal way to apply fieldSelector to different resources. If any of the resources doesn't have the field we specified, it'll fail.

[2015-10-15 18:01] jlowdermilk commented on #15713
Why ship only the static kubectl? I thought that was the plan when making it static.

[2015-10-15 18:02] quinton-hoole commented on #15649
@yujuhong Agreed, that seems like a good idea. Want to send in a PR?  Or at least open an issue?

[2015-10-15 18:02] ashcrow commented on #15713
@jlowdermilk you mean why not ship just a static ```kubectl```? It was proposed but not accepted in #11694.

[2015-10-15 18:04] lavalamp commented on #14014
@feihujiang that's a bug-- you need to specify a namespace before name makes sense. @smarterclayton I thought you fixed that? Am I misremembering?

[2015-10-15 18:06] lavalamp commented on #15701
Yes, this is a bug. There is another way to specify the namespace, though, so I'm marking it p2.

[2015-10-15 18:07] jbeda commented on #15664
Those improvements did make it in but they won't show up until 1.6 either.  https://twitter.com/jbeda/status/642516821589946368

[2015-10-15 18:08] yujuhong commented on #15644
@ssergiienko, thanks for the information.

We are aware that some features rely on sync'd clocks in the cluster to function correctly, and I don't see us attempt to handle time skew in near future.
The best solution for you might be to run ntpd on your nodes to ensure the clocks are in sync.

That said, perhaps kubelet can warn or fail more gracefully. @ssergiienko, are you able to reproduce this

[2015-10-15 18:08] bgrant0607 commented on #15716
Anything that needs to be done for 1.1 is P0 at this point.

[2015-10-15 18:09] lavalamp commented on #15702
@bronger Am I right to deduce that this is a client problem, that it worked until you started using a new kubectl?

[2015-10-15 18:10] bgrant0607 commented on #15680
If this is for 1.1, it needs to be P0 at this point.

[2015-10-15 18:11] bgrant0607 commented on #15643
If this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 18:12] bgrant0607 commented on #15592
If this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 18:12] derekwaynecarr commented on #15685
The issue proliferation around graduating this feature is becoming intense!

[2015-10-15 18:13] bgrant0607 commented on #15563
If this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 18:14] bgrant0607 commented on #15333
If this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 18:15] bgrant0607 commented on #15311
Moved to 1.2.

[2015-10-15 18:15] bgrant0607 commented on #15311
Since we decided not to make major changes for 1.1.

[2015-10-15 18:16] bgrant0607 commented on #15204
Not happening for 1.1 AFAIK.

[2015-10-15 18:17] bgrant0607 commented on #15187
If this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 18:18] dchen1107 commented on #15563
Ok, bump this to p0

[2015-10-15 18:19] bronger commented on #15702
@lavalamp yes.  I still have kubectl 1.0 installed.  With this, it works.  With the freshly compiled, it does not.

[2015-10-15 18:20] davidopp commented on #15311
Just curious, what's wrong with the current scale subresource? Just the fact that it uses the old type of selector in the status?

[2015-10-15 18:20] bgrant0607 commented on #13749
If this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 18:20] lavalamp commented on #15702
OK, thanks. That should make this much easier.

[2015-10-15 18:25] bprashanth commented on #15333
Fwiw I use annotations both from cmd line as an admin and from scripts, to experiment with loadbalancer settings. In the case of the former, I've never really had a collision, and in the case of the latter my scripts know how to retry like we retry all other updates.

[2015-10-15 18:26] dchen1107 commented on #15716
For some background, here is what @saad-ali and I had done for 1.0: https://github.com/kubernetes/kubernetes/issues/10335

[2015-10-15 18:28] KurtStam commented on #14828
I have updated the proposal and incorporated the feedback, please see https://kurtstam.github.io/2015/10/15/Update-1-Proposal-for-Kubernetes-Service-Annotations.html. Changes are:
- dropped support for multiple endpoints
- added a namespace to the annotation keys of 'apiman.io/'

[2015-10-15 18:30] JanetKuo commented on #11157
Yes; closing it.

[2015-10-15 18:30] #11157 closed

[2015-10-15 18:40] dchen1107 commented on #13749
No we decide to leave other provider to 1.7.1 and only bump GCE / GKE to 1.8.3 by default. Also we are dropping support for docker version under 1.6.2 (API version: 1.18)

[2015-10-15 18:51] ncdc commented on #15702
I can reproduce on GKE.

[2015-10-15 18:52] caesarxuchao commented on #15333
Thank you @bprashanth. When used in scripts, the annotate and label commands have collisions frequently, e.g. in the test-cmd.sh, see #15181. IMO, we shouldn't require users to retry in their scripts if we know there is a simple way to avoid the collisions.

Anyway, #15597 and #15651 are sent to fix this.

[2015-10-15 18:54] bgrant0607 opened #15723 "kubectl autoscale"
As mentioned in the proposal.
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/horizontal-pod-autoscaler.md#support-in-kubectl

Implementation similar to kubectl expose (using generator, etc.). Should at least work for RCs, and Deployment, if easy.

cc @fgrzadkowski @jszczepkowski @mwielgus

[2015-10-15 18:58] bgrant0607 commented on #13048
If this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 18:58] bgrant0607 commented on #12818
If this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 19:00] bgrant0607 commented on #12483
Punting to 1.2.

[2015-10-15 19:01] four43 commented on #15668
So I saw you (@jsafrane) were referencing the cpuguy83/docker-nfs-server container in your build, yours was possibly a little more Fedora specific, understandable. So I am backing up a bit. I tried running cpuguy83's container locally to see what I can find. His container starts up:

[code]

Resulting in dmesg output similar to what you were seeing:
[code]

[2015-10-15 19:02] bgrant0607 commented on #12087
Closing in favor or more specific issues.

[2015-10-15 19:02] #12087 closed

[2015-10-15 19:03] bgrant0607 commented on #11764
I assume nothing is happening on this. Punting to 1.2.

[2015-10-15 19:04] ncdc commented on #15702
This was broken by my PR #13322. I'm still investigating.

[2015-10-15 19:04] ncdc commented on #15702
GKE is currently Kube 1.0.6, Docker 1.6.2.

[2015-10-15 19:04] ncdc commented on #15702
And Kube 1.0.6 doesn't have this PR. So it's a newer kubectl client with this PR going up against an older kubelet that doesn't have it.

[2015-10-15 19:06] bgrant0607 commented on #12014
Is this done? If not, if this is for 1.1, it needs to be P0 at this point. Should it be?

[2015-10-15 19:09] bgrant0607 commented on #3760
@thockin Should this be closed, or removed from the 1.1 milestone?

[2015-10-15 19:11] bgrant0607 commented on #1743
Closing in favor of more specific follow-up issues.

[2015-10-15 19:11] #1743 closed

[2015-10-15 19:11] bgrant0607 commented on #1702
kubectl apply has been implemented. Yeah! Closing in favor of more specific issues.

[2015-10-15 19:11] #1702 closed

[2015-10-15 19:13] davidopp commented on #12483
My understanding was that "we can simplify the work by providing stats for pod or top-level resource-only containers managed by kubelet through a separate endpoint" is a blocker for horizontal pod autoscaling. (But everything else in the issue can be punted.)

[2015-10-15 19:14] bgrant0607 commented on #341
Done for Job. Punting the rest to 1.2.

[2015-10-15 19:14] ncdc commented on #15702
I have identified the root cause. Prior to 13332, the server (kubelet) would call Close() on its half of the stdin stream, because it never writes to it. Note: with spdystream stream's, Close() means "I'm not sending any more data", so it's only a half-close, not a full-close. Because you have a newer client that includes 13332, that client does a read on the stdin stream, not because it expects a

[2015-10-15 19:14] bgrant0607 commented on #561
Can this be closed in favor of more specific follow-up issues?

[2015-10-15 19:16] ncdc commented on #15702
cc @liggitt

[2015-10-15 19:16] bgrant0607 commented on #11902
Assigned to @quinton-hoole to decide what to do and assign or punt.

[2015-10-15 19:21] #15649 closed

[2015-10-15 19:23] bronger commented on #15702
I wanted to make use of the
[code]
trick to copy file to the pod, for debugging purposes.  Since 13332 adresses this, I assume that there is currently no way to use this with current GKE?  Would a modified cat help that terminates after a preset number of bytes are written?

[2015-10-15 19:24] timstclair commented on #12483
FWIW, I'm close to having the PR for this ready (progress in https://github.com/kubernetes/kubernetes/pull/15691) - modulo review latency & flaky tests.

[2015-10-15 19:24] jimmidyson commented on #15590
We turn down docker log level to `warn` - `info` is just too verbose & pretty useless anyway. That reduces docker resource usage too btw.

Switching to docker event stream should bring a reasonably big decrease in utilisation, both for kubelet & docker.

[2015-10-15 19:31] ncdc commented on #15702
I guess you could try that... not sure if it would work, but worth a shot. But piping data to a non-interactive stdin the way you're trying to do is generally broken on 1.0.6 and fixed with the aforementioned PR.

[2015-10-15 19:33] RichieEscarez commented on #11764
Thanks. @MikeJeffrey and I recently decided that we could not contain this for v1.1. At this point, there has only been a couple discussions about how to generate the set of graphics that we need to cover our concepts and that can be shared between GKE and k8s. We decided that the new graphics should based on the current set of GKE icons and show the progression for an individual app to a multi-no

[2015-10-15 19:35] davidopp opened #15725 "Document the different flavor of updates and when to use them"
replace, patch, apply, ...

There used to be an issue, filed as a documentation issue, called something like "explain the different kinds of updates and when to use them" but I can't find it.

@jackgr @bgrant0607

[2015-10-15 19:39] vishh commented on #15590
Docker logs have been a concern for GKE logging as well. So +1 for turning down docker log level!

[2015-10-15 19:43] ncdc opened #15726 "Add protocol versions & negotiation for exec, attach, port forward"
As seen in #15702, trying to use kubectl from master (which includes #13322) against GKE (currently Kube 1.0.6, which does not include 13322) results in exec falling to function properly. We need to add protocol versions and negotiation to exec, attach, and port-forward to ensure backwards and forwards compatibility.

@smarterclayton @liggitt @lavalamp @kubernetes/kubectl @kubernetes/rh-ux @kubern

[2015-10-15 19:43] rootfs commented on #15668
Since this nfsd bug is really that annoying, why won't us just enable nfsv3?
@jsafrane  I just created a PR to update the nfs-data and exporter containers
https://github.com/jsafrane/kubernetes-nfs-example/pull/1

[2015-10-15 19:54] davidopp commented on #3024
How is this different from DaemonSet or Job? They're all pod factories that also manage the lifecycle of the pods they create.

[2015-10-15 20:05] cameronbrunner commented on #11793
@bgrant0607 Thanks for the update.  I implemented a *very* simple version of where I can limit a scheduler process to a single namespace to prove out this feature for my use case and was quite happy with it.  I would much rather use a general purpose solution though.

[2015-10-15 20:06] smarterclayton commented on #15664
That's GCM, not Elliptic curve (negotiation) which is amazingly slow.  I
think we can only do 50/sec on a reasonably fast core, or something
ridiculously low.

On Thu, Oct 15, 2015 at 2:08 PM, Joe Beda <notifications@github.com> wrote:

[2015-10-15 20:07] smarterclayton commented on #15643
I know we've had it reported by a fair number of people.  I'm not sure
though whether there is a workaround except "don't use liveness"

On Thu, Oct 15, 2015 at 2:12 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-15 20:18] four43 commented on #15668
@rootfs - I'm testing a patch I made that seems to be working, still testing: https://github.com/aerisweather/docker-nfs-server/commit/30097d1105e22ce26708fc22096672fa453a6780

Just needed a kick to really get going I guess. Local testing, it ran great. Testing on my Kubernetes cluster now.

[2015-10-15 20:22] yujuhong opened #15727 "Issues encountered when trying to use heapster/grafana/influxdb on gce"
1. heapster requires both "cloud monitoring" and "cloud logging" api to be enabled for the project in the cloud developer console. Without it, the hepaster container may crash or not actually function correctly.
E.g., `kubectl logs` heapster container shows
` failed to sync data to sinks - encountered the following errors: request to "https:/v1beta3/projects/<project-name>/logs/kubernetes.io%2Feve

[2015-10-15 20:22] rootfs commented on #15668
@four43 that's more or less the same route - exporting thru nfsv3

[2015-10-15 20:24] vishh commented on #15727
cc @thucatebay.

[2015-10-15 20:25] thockin commented on #3760
I'll move it to 1.2 just for the default enablement.

[2015-10-15 20:28] quinton-hoole commented on #11902
@bgrant0607 Yes, I think that we need to solve this general problem (for all images that form part of a release).  I think it's too late for v1.1 though, and probably falls into the 1.2 technical debt bucket.

[2015-10-15 20:31] bgrant0607 commented on #15671
@yujuhong is correct.

[2015-10-15 20:32] bgrant0607 commented on #15671
Rather than phase, ready, at both the container level and pod level, should be used to infer whether the containers are capable of doing anything useful.

[2015-10-15 20:33] four43 commented on #15668
Mine is still mounting via NFSv4:
[code]

[2015-10-15 20:47] ashcrow commented on #15713
Just so people are aware, I'm going through the bash build stuff now to try to shoehorn in a static build along side the dynamic build.

[2015-10-15 20:49] bgrant0607 commented on #15725
I think it was #11157.

That was actually done, but needs to be updated for apply and other new commands.

[2015-10-15 20:53] davidopp commented on #11324
I had an email discussion with @justinsb on this and he said that what's remaining shouldn't be considered a blocker for 1.1, so I'll move it to 1.2-candidate.

[2015-10-15 20:55] lavalamp commented on #15702
@ncdc How hard is it to cherrypick 13332 into the 1.0 branch? Would that break old clients?

[2015-10-15 20:56] dchen1107 commented on #14783
@ixdy and @vishh is migrating today's cAdvisor-only Jenkins project to Kubernetes existing one, so that we can have single dashboard.

[2015-10-15 20:58] ncdc commented on #15702
@lavalamp I'd have to test it out, both the cherry-picking and to see if anything would break.

[2015-10-15 20:58] lavalamp commented on #15726
Do non-13322-clients work against 13322-masters?

[2015-10-15 21:00] ncdc commented on #15726
I'll have to test that out and report back.

[2015-10-15 21:01] lavalamp commented on #15726
OK. It looks like it's a bit late to revert #13322. It's unfortunate we forgot to test whether it was backwards compatible or not. :(

[2015-10-15 21:08] rroopreddy opened #15731 "Kubernetes pods die with default restartPolicy=true and do not restart"
Kubernetes version 1.0.6

This setup involves pods for Cassandra (2-nodes), Spark (master, 3-workers, driver), RabbitMQ(1-node). Some pods that are not under replication controller die after a day and never restarted automatically. I found out that  *influxDB' monitoring was using too much of CPU and the pods dying are from that node.

Please notice the *restartPolicy: Always* is the default as I

[2015-10-15 21:11] four43 commented on #15668
After all that back and forth, I still get:
[code]
On my cluster from `nfs-web.yaml` as it tries to mount from the container. DANG!

[2015-10-15 21:14] derekwaynecarr commented on #3585
@bgrant0607 - I have not had time to think about how synchronous delegation would work yet, and ma not until we look at 1.2

[2015-10-15 21:28] #15431 closed

[2015-10-15 21:29] fgrzadkowski opened #15732 "Unit tests for pod autoscaler takes too long"
Currently they take ~24 seconds. That's too long for unit tests. I've noticed some sleeps. We should get rid of them.

@quinton-hoole

[2015-10-15 21:32] ArtfulCoder commented on #15592
I am still trying to convince myself that this is a safe change...

[2015-10-15 21:36] erictune opened #15734 "Dependency on unavailable source repos"
Some Shippable builds failed with:
[code]

Two problems are evident here:

1. every time we do a shippable build, we are running verify-godeps, which is pulling source from a remote repository.  That should not have to happen every single build, should it?  Seems wasteful.
1. today, http://www.bitbucket.org/ is down.  It was giving 500s when I visited their web site, and I see 503s in the log abov

[2015-10-15 21:36] erictune commented on #15734
http://status.bitbucket.org/ confirms "major outage".

[2015-10-15 21:43] saad-ali commented on #15624
SGTM

[2015-10-15 21:43] davidopp commented on #12483
@fgrzadkowski @dchen1107

[2015-10-15 21:46] a-robinson commented on #13048
It isn't a true blocker for 1.1, so I'll remove it from the milestone. It would be a very nice-to-have to help out the many customers that have run into problems like https://github.com/kubernetes/heapster/issues/632, though.

I'm OOO most of the next couple weeks, but if anyone else has cycles to do something here, it'd be a nice addition to 1.1. Taking care of #15716 in the context of large clus

[2015-10-15 21:58] erictune commented on #12014
Can be done somewhat after 1.1.  Removing milestone.

[2015-10-15 22:03] davidopp commented on #13258
I'm going to move this out of 1.1.

@dchen1107 would be good to know current Kubelet startup time and monitor/systemd/whatever liveness check interval for kubelet.

[2015-10-15 22:06] davidopp commented on #13048
I'll assign it to myself to make sure we don't lose track of it. Will also add to v1.2-candidate

[2015-10-15 22:18] apeeyush commented on #15692
On exploring further, it appears that the setup is working fine when networking is done using OVS instead of flannel.

Also, on the master branch, after the setup fails:
1. On ssh to the master node, `systemctl status etcd` shows that etcd terminates after some time of starting. However, flannel is still running.
2. On ssh to the minion-1 node, `systemctl status flannels` shows that it fails to st

[2015-10-15 22:22] bprashanth opened #15738 "e2e.go -push is borked"
I suspect we're going through an if/else clause where KUBE_TAR_URL isn't defined, and not defaulting it, though the function header seems to indicate it should be set in the callee.
[code]
@ihmccreery

[2015-10-15 22:33] ihmccreery commented on #15738
Will take a look.

[2015-10-15 22:36] ihmccreery commented on #15738
@bprashanth Is this in Jenkins, or on a local run?

The Jenkins push job is borked as well, but it looks like it's for a different reason:

[code]

Which I'm taking care of in #15737.

[2015-10-15 22:41] bgrant0607 opened #15741 "Make API schema docs more discoverable for kubectl users"
We have kubectl explain, but we should make the online docs more discoverable from kubectl docs, also.

[2015-10-15 22:42] timstclair commented on #15421
@thockin is that side-car checked into our repo somewhere?

[2015-10-15 22:46] #15245 closed

[2015-10-15 22:46] bgrant0607 commented on #3585
@derekwaynecarr We're definitely not going to look at this until 1.2. Our current leaning is to do as much as possible asynchronously, though.

[2015-10-15 22:53] dchen1107 commented on #15575
@sttts here is the most recent failure from our Jenkins build:

[code]

[2015-10-15 22:53] apeeyush commented on #14265
Hi,

It looks like to error is fixed in virtualbox 5.0.6

The error was that it got stuck in an infinite loop with virtualbox 5.0.4

Closing this issue for now. Feel free to reopen if you this that some work needs to be done here.

[2015-10-15 22:53] #14265 closed

[2015-10-15 22:59] dchen1107 commented on #15676
--configure-cbr0=true and related changes in kubelet was introduced after my initial setup for rkt. We need to upgrade this.

[2015-10-15 23:12] yifan-gu commented on #140
Trying to implement the `PostStart` and `PreStop` hooks we have for rkt. As each app currently is essentially a systemd service within the nspawn container. I'd like to take advantage of the systemd's service lifecycles. However it only has `ExecStartPre`, `ExecStartPost` and `ExecStopPost`. So I wonder do we really need the hooks to run *exactly* before the container stops?
@bgrant0607

/cc @dche

[2015-10-15 23:22] yifan-gu commented on #15676
@dchen1107 I made some changes to the config files, testing this.

[2015-10-15 23:25] andyzheng0831 commented on #15563
cc/ @andyzheng0831
cc/ @yinghan

[2015-10-15 23:35] ArtfulCoder commented on #15592
We are going to punt this to v1.2
It will be safer to make this change when we move to the motr performant iptables-based proxy.
Till then, let us have clients have the fallback nameservers, the way it has been  today..

[2015-10-15 23:37] quinton-hoole opened #15743 "Make capacity planning easier"
=== copy of email trail ===
If we can expose cluster fullness and pending pods metrics to customers, they will figure out from experience what a healthy fullness ratio is for their pod shape mix ("when we get to 90% RAM consumption, we typically see pending pods, so lets plan ahead and not get to 90% RAM consumption" etc).

Q

On Thu, Oct 15, 2015 at 2:22 PM, David Oppenheimer davidopp@google.com

[2015-10-15 23:56] lavalamp opened #15746 "Investigate whether there's a race when DeltaFIFO has an external key source"
Follow up to #14881.

[2015-10-15 23:57] jackgr commented on #12143
Up to this point, the discussion has assumed that moving things server side == putting them in the api server. To @smarterclayton's point, however, that's an anti-pattern for a host of reasons.

An alternative that we should consider is putting things into jobs kicked off by ordinary services. For example, why not create a RollingUpdate service that watches RollingUpdate objects, processes each ne

[2015-10-15 23:59] dchen1107 commented on #15743
Couple of comments without deep thinking:

* Shouldn't horizontal node scaling should take care of this? At least the same/similar set signals should be used by autoscaler? Of course, we need separate machine / node management system to get the signals, and add the new node(s) to the scheduling pool.
* Resource fragmentation has to be resolved through rescheduling. But to make node more compact, w

[2015-10-16 00:06] jackgr commented on #11492
@ghodss Not sure I'm following your point about environment variables tying the templating language to Kubernetes tooling. Environment variables a very general purpose mechanism for injecting context into processes. Their widespread use suggests that this is a useful capability. A templating engine that didn't respect environment variables would probably need some other mechanism to serve the same

[2015-10-16 00:10] dchen1107 opened #15747 "v1.1 known issues / FAQ accumulator"
This issue is intended to accumulate known errata / issues / workarounds so we can produce a useful doc upon release. If you have a known issue that is worth putting in our 1.1 release notes, please add a comment here of the form "NEW: ..." and write a paragraph explaining the issue and the workaround or repercussions or whatever.

cc/ @thockin @bgrant0607

[2015-10-16 00:13] thockin commented on #15421
It's pretty half-baked, but it is the way we should be adding new
features.  It is more verbose but it is more extensible and manageable, and
offers a way to evolve functionality.  For example, if someone wanted an
svnRepo or hgRepo volume plugin the answer is "no" :)

https://github.com/kubernetes/contrib/tree/master/git-sync

On Thu, Oct 15, 2015 at 3:43 PM, Tim St. Clair <notifications@github.c

[2015-10-16 00:14] erictune commented on #15312
I think this is closed by #15520

@mikedanese @bgrant0607 FYI

[2015-10-16 00:14] #15312 closed

[2015-10-16 00:16] thockin commented on #15624
I'd go for more semantically meaningful severity - Info, Warning, Error,
for example.  3 should suffice, we can add more if we need them, but in my
experience it's hard enough to get people using just those 3 correctly.

On Thu, Oct 15, 2015 at 9:58 AM, aveshagarwal <notifications@github.com>
wrote:

[2015-10-16 00:18] bgrant0607 commented on #15312
Yes, I don't _think_ any of the changes discussed in #14961 need to be non-backward-compatible, so I believe we're fine for 1.1 now.

[2015-10-16 00:21] thockin commented on #15187
Not worth a cherry pick

[2015-10-16 00:25] dchen1107 commented on #12818
No, move it to 1.2

[2015-10-16 00:29] thockin commented on #11204
Moving to v1.2

[2015-10-16 00:30] thockin commented on #14118
iptables requires that you be root

On Thu, Oct 15, 2015 at 5:34 AM, jijun2 <notifications@github.com> wrote:

[2015-10-16 00:46] derekwaynecarr commented on #3585
@bgrant0607 - I was asked about a use case today to see if it would be
possible for a third party to reject pods whose docker image declared
volumes but whose pod spec had no associated volume declaration.  This
seemed like a possible use case for initializers that needed to perform
some image analysis prior to allowing a pod to become active in the system.
  Doing that synchronously today in the

[2015-10-16 00:56] zhengguoyong commented on #15319
ok, i will send some fix sonner, and tag you for review.
thanks again.
@yujuhong

[2015-10-16 01:01] yifan-gu commented on #15676
Pushed a fix for this:  #15749

[2015-10-16 01:34] dalanlan commented on #140
Would love to get my hands dirty for `PreStart` hook, and do you still stick with the idea of [#3067(comment)](https://github.com/kubernetes/kubernetes/issues/3067#issuecomment-67704214)?

/cc @bgrant0607 @vishh @vmarmol

[2015-10-16 01:35] derekwaynecarr commented on #12818
Cc @derekwaynecarr for tracking

[2015-10-16 01:45] ntquyen opened #15751 "kube-ui dashboard got 503 (Service Unavailable)"
When I access the kube-ui dashboard via `/api/v1/proxy/namespaces/kube-system/services/kube-ui/#/dashboard/` the page is blank, console errors:

[code]
But other views (explore, pods...) are fine. Looks like the proxies are not working...

[2015-10-16 01:47] karlkfi commented on #3024
I'm not an expert in either.

The only clear difference between DaemonSet and RC seems to be the constraints that can be placed on the creation of pods. Both are constrained by node constraints but a ReplicationController can also have a desired number of pods independent of nodes and DaemonSets have an implicit maximum per node. I may be ignorant, but I don't see why they're not just the same thi

[2015-10-16 01:50] bgrant0607 commented on #14500
Are we fixing this for 1.1? How frequently does it fail?

[2015-10-16 02:02] ArtfulCoder opened #15752 "Improve udp packet processing for userspace proxier"
udp packet processing is done in a single go-routine (seperate go routine per k8s udp service).
For scenarios like DNS, this can get slow.

(This performance issue has been fixed with the iptables proxier.)

Parallelizing the udp packet processing can be done for 1.1 (3-4 hours of work), but seems a bit risky given that we are close to 1.1 release.

This work can be done post 1.1, IF, iptables-pro

[2015-10-16 02:03] karlkfi commented on #3024
In fact, now that I think about it, if I were really going to clean house (in a reverse incompatible way) I'd combine DaemonSet and ReplicationController into one API resource and call it a Daemon, singular. That way it simplifies the abstractions down to just Daemons and Jobs. Daemons run till you stop them. Jobs run till they complete successfully.

[2015-10-16 02:05] bgrant0607 commented on #15702
Is it correct that this is a 1.0.x issue rather than a 1.1 issue?

[2015-10-16 02:08] ncdc commented on #15702
It's a 1.1 client not able to exec correctly to a 1.0.6 kubelet server.

On Thursday, October 15, 2015, Brian Grant <notifications@github.com> wrote:

[2015-10-16 02:17] nikhiljindal commented on #15679
Was an issue in my PR

[2015-10-16 02:17] #15679 closed

[2015-10-16 02:29] ghodss commented on #11492
@jackgr The concern isn't directly related to environment variables. Instead it's about the idea that the templating supports "special" function calls that need information only known at template application/reconciliation. e.g. if I want to pass the node's hostname as a special var into a pod, maybe there's a way to express that in the templating language. But that means the templating is now cou

[2015-10-16 02:34] hurf commented on #14953
/cc

[2015-10-16 02:35] #15641 closed

[2015-10-16 03:09] combk8s opened #15756 "Proposal : add health check for etcd client"
By now, kubernetes use go-etcd https://github.com/coreos/go-etcd#deprecated as etcd client. However, because go-etcd pins to one endpoint if possible, it will always make requests to one server. In addition it cannot detect whether the member in use is healthy when doing read requests. If the member is isolated from the cluster, go-etcd may retrieve outdated data. BTW, go-etcd has deprecated and d

[2015-10-16 03:14] hurf commented on #14953
I'm interested in filtering outcome of kubectl by fields other than labels. I feel the fieldseletor isn't well used in kubectl.

[2015-10-16 03:21] combk8s commented on #15756
[code]

[2015-10-16 03:29] nikhiljindal commented on #13883
Sent https://github.com/kubernetes/kubernetes/pull/15757 to update the static docs to include extension resources.

[2015-10-16 03:38] combk8s commented on #15756
I  commit this implementation to go-etcd https://github.com/coreos/go-etcd/pull/245, but it doesn't be accepted since go-etcd has been  deprecated and doesn't accept new features.

Sure, etcd/client will solve this problem using the experimental /health endpoint coreos/etcd#3265, but this experimental /health endpoint is just available after version V2.1.XX.

So I think solve this this problem in

[2015-10-16 04:18] #13548 closed

[2015-10-16 04:20] aanm opened #15758 "Proposal: Add content-type on http-headers"
Currently the command `kubectl -s http://192.168.0.15:8080 create -f sample.json` produces a packet similar to this one:
[code]

Can someone add, if possible, the `Content-type: json` to the HTTP header of the `kubectl` request?

[2015-10-16 04:21] thockin opened #15759 "Cleanup and type safety - UID and GID types"
We have a couple fields in the API for Unix UID and GID.  We should define `type UnixGroupID int64` and `type UnixUserID int64` and use them everywhere.

[2015-10-16 04:46] so0k commented on #15751
I had the same issue on the dashboard, in my case it was due to the k8s nodes not having a proper IP. Have you deployed your k8s cluster in Digital Ocean, if so, the network management tool which disovers the node IPs picks the wrong IP (an internal DO IP), I document and correct this issue in the https://github.com/docker-saigon/docker-saigon-k8s repo

[2015-10-16 04:48] so0k commented on #15751
this is the commit that fixed it, I filter out the internal Digital Ocean Subnet from the interface setup: https://github.com/docker-saigon/docker-saigon-k8s/commit/3dd0e944ab200988c962e5ebba40d2176aedcbca#diff-ec7ef0d861167c50203edf0d8052d3b7

[2015-10-16 04:59] aronchick opened #15760 "kube-up fails under Google Cloud SDK 0.9.82"
Don't know what caused it - just created a new configuration, and found

[code]

[2015-10-16 05:17] resouer commented on #15421
@thockin thus remind me of #831, it seems sidecar mode can also apply to that issue, if work properly with lifecycle hook

[2015-10-16 05:21] thockin commented on #15421
#831 was intended to be somewhat different (more like volumes-from), but
the requirements haven't really been clarified.

On Thu, Oct 15, 2015 at 10:17 PM, Harry Zhang <notifications@github.com>
wrote:

[2015-10-16 05:29] #15333 closed

[2015-10-16 05:31] sttts commented on #15575
@dchen1107 thanks for the logs.

This clarifies what happens: the kubelet does not know its new labels. Maybe, its node storage didn't update fast enough and there is a race with the scheduler:
[code]

[2015-10-16 05:31] davidopp commented on #15716
@wojtek-t

[2015-10-16 05:37] davidopp commented on #7660
I think all the 1.1 bits are now finished (I just LGTMd #15183 which I believe was the last relevant PR), so we can remove the label. @mikedanese do you agree?

[2015-10-16 05:44] ntquyen commented on #15751
I setup my cluster in our private cloud, in my case, the master picked up the correct nodes' IP to proxy to. (10.9.8.20 can ping to 10.9.8.x) But the problem is that the port 4194 is not opened in the nodes, no idea why...

[2015-10-16 05:47] davidopp commented on #14303
Is there more to do on this beyond #15339?

[2015-10-16 05:51] danielschonfeld opened #15763 "kubectl command to convert pod IP to pod name"
Since we don't currently auto create POD DNS names, it would be nice to have a way to convert an IP address of a pod to pod name.  Perhaps even let you `exec` with an IP address in addition to a pod name.

Thanks!

[2015-10-16 05:54] davidopp commented on #15402
Is there anything to do for this issue other than merge the cherrypick for #15427 ?

[2015-10-16 05:55] davidopp commented on #15378
Is there anything left to do for this issue?

[2015-10-16 05:57] davidopp commented on #14778
@ihmccreery can you give an update on the status of this issue?

[2015-10-16 05:57] davidopp commented on #14771
@ihmccreery can you give an update on the status of this issue?

[2015-10-16 06:15] wojtek-t commented on #15716
@gmarek - since you were already doing it yesterday for smaller clusters - can you please continue it for larger ones? Thanks!

[2015-10-16 06:17] so0k commented on #15751
4194 is the cAdvisor port on the nodes (opened by the kubelet), can you curl that port?

[2015-10-16 06:19] davidopp commented on #3024
@karlkfi I would agree with you about combining DaemonSet and ReplicationController, but we are planning to move DaemonSet into the NodeController, so I think it makes sense to keep them separate.

Anyway, my point is that all three (D, R, and J) are "pod factory with a template for producing more of one kind of pod [and] it's own daemon that watches those pods and makes new ones when necessary" s

[2015-10-16 06:26] thockin commented on #14828
If you want to put it in a different annotation space, be prepared to keep
it there, at least for a while.  I have no problem with that and I think
the namespacing of labels and annotation is designed exactly for this use -
for you to define a standard of your own that is related-to but not part-of
kubernetes.

The biggest problem I have with this is that it sort of assumes HTTP, which
is absolute

[2015-10-16 06:32] gmarek commented on #15716
Sure - I spoke with Filip yesterday, and that's what I'll be doing today.

[2015-10-16 06:34] resouer commented on #13768
@vishh agreed. Actually, I am keeping a close eye on docker 1.9, which has the same intention.

[2015-10-16 06:45] davidopp commented on #14674
@mikedanese / @ihmccreery can you guys clarify what is left from this issue that is for v1.1? It seems that
http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gce/
hasn't been passing recently so I assume there is still stuff left. (In which case I will channel Brian and say, we should mark this issue P0).

[2015-10-16 06:57] davidopp commented on #14552
Any update on this? It's marked 1.1 but not P0, which is a bit of a limbo state...

[2015-10-16 06:58] davidopp commented on #13690
@pmorie Did you have a chance to look into this?

[2015-10-16 07:01] davidopp commented on #14674
Oh is
https://github.com/kubernetes/kubernetes/pull/15717#issue-111668850
part of what's left here?

[2015-10-16 07:02] davidopp commented on #12014
The milestone was not actually removed. I'll remove it.

[2015-10-16 07:04] wojtek-t commented on #14552
@davidopp - I did some debugging around it and still have no clue what is happening.
I'm moving it to 1.2

[2015-10-16 07:07] thockin commented on #15469
deprecatedPublicIPs was retained, and in v1.1 it "un-deprecated" and called "externalIPs".

That said, there are other answers that are less clumsy (IMHO) - https://github.com/kubernetes/contrib/tree/master/for-demos/proxy-to-service

[2015-10-16 07:09] davidopp commented on #11391
This was marked v1.1 and downgraded to P2 on the same day. :-) Is it a 1.1 blocker?

[2015-10-16 07:14] hurf commented on #15204
QoS Tier:
      cpu:              BestEffort
      memory:           BestEffort

is included in the outcome of describe pod. Do you mean something like `kubectl desribe qos BestEffort` and give users some detailed infomation about how system will react under 'BestEffort' policy?

[2015-10-16 07:21] ixdy commented on #13548
I enabled the new script for -scalability, but it will take a few hours to verify that it works as intended.
I haven't disabled the plugin yet, but assuming everything works as intended, I'll do that during the day PDT Friday.

[2015-10-16 07:23] wojtek-t commented on #13548
@ixdy - thanks!

[2015-10-16 07:29] davidopp commented on #11082
Audit something that we have no evidence is broken--doesn't sound like a 1.1 blocker to me. Can we remove the label?

[2015-10-16 07:35] davidopp commented on #10268
This is marked 1.1 and P2 and hasn't been touched in over three months. Writing more e2e tests sounds like a great idea but not really a 1.1 blocker. @quinton-hoole can we punt this to 1.2?

[2015-10-16 07:50] #15311 closed

[2015-10-16 07:51] hurf commented on #15731
Even the pod died, `kubectl describe` should be able to access the pod. Have you used `kubectl get` to see if the pod exsit? `kubectl get ev` can also help to find the reason why the pod dies.

[2015-10-16 08:05] dalanlan commented on #12563
Closing it in favor of a newer one.

[2015-10-16 08:05] #12563 closed

[2015-10-16 08:09] jimmidyson commented on #11858
Kubernetes metadata will be added to Prometheus metrics via #15612.

[2015-10-16 08:10] jimmidyson commented on #11858
Prometheus now does discovery of nodes, etc from the Kubernetes API server so once #15612 is merged we can close this.

[2015-10-16 08:12] jimmidyson commented on #15554
@yujuhong #15612 fixes #11858 so once merged Prometheus metrics will be labelled with Kubernetes metadata (node, namespace, pod name, container name, image, etc). Latest release of Prometheus also has [autodiscovery](http://prometheus.io/docs/operating/configuration/#kubernetes-sd-configurations-kubernetes_sd_config) of nodes built-in so configuration should be super simple.

[2015-10-16 08:12] hurf commented on #15763
Is it dup with #15690?

[2015-10-16 08:20] soltysh commented on #14500
I wasn't able to repro this recently. I'll try to have another look over the weekend.

[2015-10-16 08:23] jszczepkowski commented on #15311
I'm bit confused. Horizontal Pod Autoscaler was graduated to beta in 1.1. Scale sub-resource is required for HPA to work, as is a part of HPA API. So, I guess scale sub-resource should be also in beta in 1.1?

[2015-10-16 08:25] dalanlan opened #15767 "FailedSync events of infra container when starting a pod using containerized kubelet"
kubelet needs to edit  `/var/lib/docker/containers/<container-id>/resolv.conf`(https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1587). Yet `-v /var/lib/docker/:/var/lib/docker:ro` param for containerized kubelet won't allow this, while `-v /var/lib/docker/:/var/lib/docker:rw` should do.

[code]

I'll send a pr to fix this later.

[2015-10-16 08:32] jsafrane commented on #15668
@rootfs, thanks for the PR. I was playing with NFS4 because at that time Kubernetes services could export only one port.

Would you mind patching NFS test container in test/images/volumes-tester/nfs and update e2e test in test/e2e/volumes.go (VolumeTestConfig for NFS tests needs to expose more ports)? We have a good chance that these will be actually tested by someone on non-Fedora distros.

After

[2015-10-16 08:48] jszczepkowski commented on #15685
#15706 is merged. Closing.

[2015-10-16 08:48] #15685 closed

[2015-10-16 08:50] jszczepkowski commented on #15315
Implemented in #15706.

[2015-10-16 08:50] #15315 closed

[2015-10-16 08:58] ssergiienko commented on #15644
We already use ntpd.service but in some strange cases it failed, most likely due restoring cluster from snapshot. Now we give more attention to clock setup on cluster, and this problem is mostly solved for us.

Main reason for this bug report is to inform Kubernetes team about huge memory leak issue (936M!) that gradually grows. In flanneld this was due to missing `defer connection.close()`, and i

[2015-10-16 08:59] wojtek-t commented on #13548
@ixdy - this doesn't work at all - in fact the cluster doesn't even start after this change

[2015-10-16 09:02] wojtek-t commented on #13548
@ixdy - I reverted your change
Can you please experiment on something different than -scalability - if this doesn't work it blocks merge bot for ~2.5 hours which is how long a single run lasts.
Can you please experiment on something that is not blocking merge-bot first?

FYI: @piosz @quinton-hoole

[2015-10-16 09:24] #15684 closed

[2015-10-16 10:01] jszczepkowski commented on #15652
@bgrant0607

So, our example should be moved from ``examples/extensions/horizontal-pod-autoscaling/`` to ``docs/user-guide/horizontal-pod-autoscaling``?

[2015-10-16 10:26] sttts commented on #15575
This might be fixed with #15772.

[2015-10-16 10:41] samsabed commented on #15671
probably best to do a quick phase fix and look into conditions (BTW in this instance the container is terminated and we want to access the logs)

for the conditions part, do you think a pod condition  ready=True should take into account readiness / liveness
@bgrant0607 @yujuhong

[2015-10-16 11:57] cheld commented on #11819
Ok, I found the problem. On my machine the master & minion is provisioned in parallel. The salt process requires about two minutes to complete and has not finished when the verification step starts.

I will create a pull-request

[2015-10-16 12:08] aveshagarwal commented on #15624
@thockin I am fine with Info, Warning, Error.

[2015-10-16 12:25] mbwalas opened #15776 "ReplicationController pod template ignores generateName (ignores all ObjectMeta in fact)"
Default is that for RC named "rc" we get pods named rc-1a2e.. according to generateName policy. We would like to customize that to be able to have pods named ab-1a2e... for RC named "rc".
What we tried, is to put desired prefix (ab-) in generateName field of ObjectMeta of PodTemplateSpec, however this didn't work.

We found that this is actually implemented so that the ObjectMeta from spec is igno

[2015-10-16 12:39] JeanMertz commented on #170
@nikhiljindal is your "current status" still correct?

Ie. I'd like to separate the RC template from the Pod template, but am unsure if this is even possible yet? This issue is still open, so I guess there's still *something* left to do?

[2015-10-16 13:03] gmarek commented on #15716
I'll paste the results later today (I need to finish experiments). I also spent some time trying to plug in pprof in a way that actually produces useful profiles, but failed.

I can connect to the pprof endpoints easily enough, but I'm getting empty (for any reasonable definition of empty) profiles. When I hit `/heap` profile I'm seeing all symbol information and quite a lot of data, so either it

[2015-10-16 13:48] ashcrow commented on #15713
@jlowdermilk I noticed that when making the release tars the ```kubernetes.tar.gz``` has ```platforms/linux/386/kubectl``` which is already built as static. Would this path be available when pulling the repo branch doesn't occur?

[2015-10-16 13:57] pmorie commented on #15759
Is `int64` really correct?  As you pointed out, GID is an unsigned int32, isn't it?

[2015-10-16 13:58] pmorie commented on #15759
@pweil- @swagiaal @kubernetes/rh-cluster-infra

[2015-10-16 14:02] fgrzadkowski commented on #15685
@jszczepkowski This issue covers also e2e tests. Do we have them?

[2015-10-16 14:03] fgrzadkowski commented on #15685
@jszczepkowski Oh, my bad. Please ignore :) I looked at the wrong PR :)

[2015-10-16 14:12] #15556 closed

[2015-10-16 14:27] danielschonfeld commented on #15763
@hurf it appears it is! do you want to close this?

[2015-10-16 14:29] four43 commented on #15668
@jsafrane - I have found the following logs on the host that ran the nfs-server container:
[code]
^^ Looks like some nfs stuff.

I am not sure how to get logs from the kublet however. My best effort was running this on the master:
[code]

And I got nothing.

[2015-10-16 14:32] markturansky commented on #15524
This problem effects EBS as well: http://www.fpaste.org/279970/05660144/

[2015-10-16 14:33] four43 commented on #15668
Ah, I ran on a minion and got a lot of output!

`/var/log/syslog:Oct 16 14:32:30 ip-172-20-0-190 kubelet[15801]: E1016 14:32:30.430126   15801 mount_linux.go:103] Mount failed: exit status 32`

[2015-10-16 14:44] gmarek commented on #15716
@vishh @bgrant0607 @fgrzadkowski @mwielgus @jszczepkowski @wojtek-t
TL;DR: I didn't manage to run 250 Node experiments, but probable result will be that heapster won't fit on n1-standard-1 machine, as it'll use ~3GB of memory.

Details:
Single experiment consisted of:
- starting a fresh cluster and noting heapster memory usage (as reported by `docker stats`)
- running a density '30 test, monitorin

[2015-10-16 14:45] four43 commented on #15668
Okay so it's complaining about possibly not having `mount.nfs`. I ran `sudo apt-get install nfs-common` on my minions.

IT WORKED! I successfully got the pod to start! It was missing nfs utils on the minions!

[2015-10-16 14:48] four43 commented on #15668
So it sounds like a provisioning issue. Using the AWS cluster, it is starting Ubuntu servers which just need an extra package. Wow.

[2015-10-16 15:03] piosz commented on #13048
cc @marekbiskup

[2015-10-16 15:14] four43 commented on #8735
@thockin - Thanks for the info, that works for me when resolving with the busybox test container.

This does NOT seem to work when trying to reference an NFS share as a volume however. That sounds like a different issue, however.

[2015-10-16 15:15] ReSearchITEng commented on #6888
@xuedihualu
if the image is already available on the node where it is supposed to start the container, it will not fail trying to get it.
are you able to do:
`docker run  gcr.io/google_containers/pause` on the problematic host?

[2015-10-16 15:33] resouer commented on #15634
Then what left for `util`, only doc.go & format.go ?

[2015-10-16 15:44] jszczepkowski commented on #15685
@fgrzadkowski

Yes: #15770.

[2015-10-16 15:48] jszczepkowski commented on #15723
That's great we are doing this for 1.1!

In addition to ``kubectl autoscale``, there is also a proposal to add new parameters to ``kubectl run``, eg: ``--min`` ``--max`` ``--cpu%``, so that we will start an image together with the autoscaler. Do we also plan to do it?

[2015-10-16 15:55] karlkfi commented on #3024
Why?

Agreed.

Is it possible to move to a world of just Daemons and Jobs or is that going to be impossible with reverse compatibility concerns and "daemon" already being used for a narrower concept?

[2015-10-16 15:57] quinton-hoole commented on #10268
Not strictly true that this has not been touched in over three months.  Both @mikedanese and @ArtfulCoder have been working on improving service test coverage, as discussed in the linked #11067 and associated PR's.  We're still missing some e2e coverage of services, IMO.  I'll assign this to @artfulcoder and team/cluster to decide what they want to do with it.

[2015-10-16 15:58] quinton-hoole commented on #10268
@kubernetes/goog-cluster @thockin FYI

[2015-10-16 16:04] derekwaynecarr commented on #4822
@smarterclayton @bgrant0607 @deads2k  - I had hoped to spend time on this today in code, but I don't think we are there yet.

Assume the create <subcommand> pattern:

[code]

Major pain points:
1. we need a ```dry-run``` on all sub-commands.
2. inconsistency of short/long-form names with what the user sees in kubectl get.  If I can say, ```kubectl get ns``` or ```kubectl get po```, I would expect

[2015-10-16 16:15] dchen1107 commented on #15643
Ok, let's disable keep-alive for liveness probe for 1.1 release. I promote this to p0.

[2015-10-16 16:18] ihmccreery commented on #14674
@davidopp This is a work-in-progress, and #15717 and others are work toward getting results, but hasn't stabilized yet, so we haven't ported it over to GCE.

In a meeting with @brendandburns, @alex-mohr, @bgrant0607, @quinton-hoole, @roberthbailey a couple of weeks ago we prioritized upgrades on GCE as a P1, (not a hard blocker,) following closely behind upgrades on GKE, which we decided was P0.

[2015-10-16 16:19] ihmccreery commented on #14771
What's left is just to get in and stabilize #15717, and port to GCE.

[2015-10-16 16:22] ihmccreery commented on #14778
This is just a tracking issue; see referenced issues for statuses.  Once #13602 is done, we can knock this down to a P1, unless we decide that #14674 should also be P0.

[2015-10-16 16:23] deads2k opened #15781 ""kubectl get resource-shortname/foo" backwards compatibility broken"
I'm no longer able to request `kubectl get sa/default`.  I get back an error that says: `error: no resource "default" is defined for group ""`.

This seems to be due to a bad parsing that doesn't respect the short names described in the RESTMapper.  I suspect https://github.com/kubernetes/kubernetes/pull/14461, but I haven't definitively tracked it down yet.

@smarterclayton @liggitt @JanetKuo @ku

[2015-10-16 16:23] ihmccreery commented on #13602
@davidopp since I saw your comments on other bugs, what's left:
@davidopp This is a work-in-progress, and #15717 and others are work toward getting results, but hasn't stabilized yet, so we haven't ported it over to GCE.

- [x] fix the build infrastructure on the `release-1.1` branch (@ixdy looks to have succeeded on this)
- [ ] stabilize 1.0-1.1 upgrades on GKE (#15717)
- [ ] diagnose failures an

[2015-10-16 16:25] lavalamp commented on #15402
No-- just waiting for that to merge.

[2015-10-16 16:25] liggitt commented on #15781
Does rc/replicationcontrollername work? I think we defined the sa short name in origin

[2015-10-16 16:26] lavalamp commented on #15378
#15573 cherry-picked #15488, so this is done now. I was waiting for that to merge before closing this.

[2015-10-16 16:26] #15378 closed

[2015-10-16 16:27] ncdc commented on #15726
Ok, with kubectl 1.0.2 against kubelet master, I am able to both `exec -i` and `exec -it`, however, both of them "hang" when you type `exit` and hit enter. With no tty, you can ctrl-c to get out. With a tty, you have to wait several seconds before you regain control of the terminal.

[2015-10-16 16:27] thockin commented on #10268
Several of these points are covered in the kube-proxy test.  There's a very grey area between services and kube-proxy where the tests overlap

[2015-10-16 16:27] thockin commented on #10268
I moved this to 1.2 - there's always more we can do.

[2015-10-16 16:28] lavalamp commented on #14132
This issue is mostly obsolete now that we don't even have an experimental group. @erictune-- do you agree? Is this covered by your recent doc changes?

[2015-10-16 16:30] liggitt commented on #15781
Along with a fix, we need to add tests for `shortname/name` to prevent rebreakage

[2015-10-16 16:30] thockin commented on #15763
15690 is specifically about SERVICES and not pods.

Can you explain what this issue is actually about?  What do you mean by pod
name?  a DNS name or just a name resolvable in our API?  Or something else?

On Fri, Oct 16, 2015 at 7:28 AM, Daniel Schonfeld <notifications@github.com>
wrote:

[2015-10-16 16:37] deads2k commented on #15781
Yes.  Looks like its the new interface method `ResourceIsValid`.  I'll add the tests and refactor to avoid breaking again.

[2015-10-16 16:37] #15781 closed

[2015-10-16 16:37] deads2k commented on #15781
semi-related.  `sa` is a pretty useful one....

[2015-10-16 16:41] nikhiljindal commented on #13883
As per discussion on #15757 @caesarxuchao is going to take this.

[2015-10-16 16:43] thockin commented on #4822
"secret" is both a verb and a noun.
 So is "namespace".

Things like "run" are lovely because they abstract multiple
frequently-done-together steps.  "expose" is on the hairy edge of that, but
plausible.  "confide" feels "too cute" to me.

On Fri, Oct 16, 2015 at 9:05 AM, Derek Carr <notifications@github.com>
wrote:

[2015-10-16 16:44] liggitt commented on #15781
I would just add `shortname/name` tests until the discussion around `group.resource/name` (and I suppose `group.shortname/name` settles

[2015-10-16 16:45] thockin commented on #15634
util should be a directory that holds other directories and nothing else.

On Fri, Oct 16, 2015 at 8:33 AM, Harry Zhang <notifications@github.com>
wrote:

[2015-10-16 16:47] thockin commented on #8735
That's right.  The node itself does not have a DNS nameserver pointer to
the kube DNS service.  That turns out to be way more complex.  This impacts
any service that we want to run on kube and use from nodes (NFS, other
storage, docker registry, etc).

On Fri, Oct 16, 2015 at 8:15 AM, Seth Miller <notifications@github.com>
wrote:

[2015-10-16 16:48] RichieEscarez commented on #14132
Can we define here how we want to expose and refer to the "v1beta1" documentation?

(1)
Is "v1beta1 extension" the correct way to refer to what was previously the "experimental API"?
What variations are okay? Does "beta extension for v1.1" also work?

Example: "...this feature is a beta extension that is currently supported only by v1.1..."

(2)
Are there any specific statements that need to be ma

[2015-10-16 16:49] aronchick commented on #15760
@jlowdermilk

[2015-10-16 16:49] thockin commented on #15759
If I recall, POSIX does not actually specify signedness and some Unixes
differ on it.  int64 seems like a safe superset, unless we know of any OS
that uses 64 bit UID/GID ?
On Oct 16, 2015 6:58 AM, "Paul Morie" <notifications@github.com> wrote:

[2015-10-16 16:50] derekwaynecarr commented on #4822
@thockin - ```secrete``` is a verb. but I hope we are not discharging slimy substances.  ```secret``` is an adjective and a noun.  as for "confide" being cute, I updated the table with many options.  I would prefer either a single verb that expresses the concept, or a phrase ```make-secret```, but I think subcommands on create that dont have a 1:1 match with the values I can pass into kubectl get

[2015-10-16 16:54] jayunit100 commented on #15629
This is now proceeding in #15762

[2015-10-16 16:54] #15629 closed

[2015-10-16 16:57] liggitt commented on #4822
definitely also a verb - https://en.wiktionary.org/wiki/secret#Verb :)

[2015-10-16 17:00] derekwaynecarr commented on #4822
@liggitt - not according to Google https://www.google.com/search?q=divide&ie=utf-8&oe=utf-8#q=define+secret

[2015-10-16 17:01] pmorie commented on #15759
I personally don't know of one.  How about you @eparis ?

[2015-10-16 17:01] thockin commented on #4822
"secret" is a valid verb, but is generally seen as obsolete.  "secrete"
actually means both "to emit a fluid" and "to conceal or hide", but I don't
think `kubectl secrete` is a good UX :).  `kubectl secret` otoh seems fine
to me.

On Fri, Oct 16, 2015 at 9:51 AM, Derek Carr <notifications@github.com>
wrote:

[2015-10-16 17:01] thockin commented on #4822
pfft, like Google knows anything.

On Fri, Oct 16, 2015 at 10:01 AM, Derek Carr <notifications@github.com>
wrote:

[2015-10-16 17:02] mikedanese commented on #11816
We will also need a secured node API if we embed the pod resource path into the kubelet to create/interact with "static" pods using the client. This is useful even if we mover proxying out of the apiserver.

[2015-10-16 17:06] lavalamp commented on #15402
Cherry pick is merged.

[2015-10-16 17:06] #15402 closed

[2015-10-16 17:07] mikedanese commented on #11816
How much of this is covered by #14700? What still needs to be done?

[2015-10-16 17:07] thockin commented on #4822
Caveat: I am just a user on this.  UX is not my area, and I have not thought deeply about it.  But I have used and scripted a lot of CLIs.

I sort of prefer the polymorphic nature of the earlier proposals, myself, though I might not overload "create".

`kubectl new secret foo --type=opaque -f key1=~/path/to/somefile -v key2=literal_value`

[2015-10-16 17:08] ncdc commented on #4822
Reping @kubernetes/rh-ux

[2015-10-16 17:09] jlowdermilk commented on #15713
Yep, both get exploded in the test workspace, and tests run from the `kubernetes` dir. So if the http exec test can use `platforms/linux/386/kubectl`, then no need to add another build target.

[2015-10-16 17:11] yujuhong commented on #15554
@jimmidyson, thanks for the update! This would make performance measurement much easier. The rest of the work involves fixing the metrics in kubelet (the current issue) and get a long running dashboard up (e.g., http://perf-dash.k8s.io).

[2015-10-16 17:16] dchen1107 commented on #15661
@bgrant0607 To answer your earlier question, we do actively pprofing kubelet, and several issues caused by cAdvisor were fixed. Here is the recent report from @yujuhong on kubelet cpuusage. Obviously there still some unknown leakage through using of go-dockerclient library. Beyond this, we can optimize the code and reduce more resource footprint in a long run. But some of those cost cannot be avoi

[2015-10-16 17:18] ncdc commented on #15661
cc @timothysc

[2015-10-16 17:18] yujuhong commented on #15671
AFAIK, pod ready condition already takes into account the readiness of the containers.

Agreed that we should fix this sooner than later.

[2015-10-16 17:23] deads2k commented on #4822
I like the idea of a simple `kubectl new <subcommand-per-resource> args specific to resource` too.

@derekwaynecarr didn't you have a proposal for that a while back?

[2015-10-16 17:24] pmorie commented on #4822
I kind of like `kubectl secrete`

[2015-10-16 17:24] liggitt commented on #11816
https://github.com/kubernetes/kubernetes/pull/14700 set up the same flow for the kubelet as the master:
request -> authentication -> authorization attributes builder -> authorization

It added plumbing and tests to make sure the interfaces are exercised, but didn't hook up implementations yet.

The attributes builder implementation would have to be specific to the kubelet, since it's API looks com

[2015-10-16 17:24] derekwaynecarr commented on #4822
@deads2k - the new command is in this PR https://github.com/kubernetes/kubernetes/pull/14294

[2015-10-16 17:24] thockin commented on #15759
int64 also has the nice property of allowing negative values without
wraparound.  (uid_t)-1 is a thing, sadly, and (uid_t)-2 is apparently a
thing, too.

On Fri, Oct 16, 2015 at 10:01 AM, Paul Morie <notifications@github.com>
wrote:

[2015-10-16 17:25] pmorie commented on #4822
In seriousness, I like what you proposed, @derekwaynecarr , but I am little unclear in the meaning of:

[code]

Does a key get inferred from the filename?

[2015-10-16 17:25] thockin commented on #4822
We've already established that @pmorie has no taste :)

On Fri, Oct 16, 2015 at 10:24 AM, Paul Morie <notifications@github.com>
wrote:

[2015-10-16 17:28] pmorie commented on #4822
@thockin I think `confide` meets the decision plane you described here.  If anyone can think of a better single word that expresses telling a secret, I'm all ears, but if we're bikeshedding the word to use, does that mean @derekwaynecarr has rung the bell otherwise?

[2015-10-16 17:28] yujuhong commented on #15661
Could be relevant: https://github.com/kubernetes/kubernetes/issues/15644#issuecomment-148659147

[2015-10-16 17:30] pmorie commented on #4822
I do think this will eventually become a macro, case in point, say we make this add the secret to a service account as well?

[2015-10-16 17:33] pmorie commented on #15759
Okay, you've got me on the fence.

[2015-10-16 17:33] derekwaynecarr commented on #4822
@pmorie

[code]

results in ```Secret``` whose ```SecretType``` is ```opaque``` and has keys for each file in folder "bar", so equivalanent to ```oc secrets new my-secret path/to/bar```

I think the macro extension to optionally associate it with a service account makes a lot of sense as that will be the next thing someone will want to do easily.

[2015-10-16 17:33] pmorie commented on #15759
I will change #15352 and @swagiaal will change #14991 when he's back from PTO.

[2015-10-16 17:34] thockin commented on #4822
Adding a secret to a service account must be possible when the SA did not
exist at the time the secret was "confided".  So we necessarily need a
second command.  Frankly "confide" sounds more like "grant an SA access to
this secret"  but it's still "cute" and too anthropomorphic for my design
sense (but I could cope).

On Fri, Oct 16, 2015 at 10:31 AM, Paul Morie <notifications@github.com>
wrote:

[2015-10-16 17:35] derekwaynecarr commented on #4822
@thockin - irony of Kubernetes project name from a company called Google whose parent is Alphabet is not lost on me this Friday afternoon.  the world is "too cute" for the guy whose Github picture is a cartoon ;-)

[2015-10-16 17:42] derekwaynecarr commented on #4822
@thockin - point on "adding existing secret to a service account" is well-taken, mulling on that some more.

[2015-10-16 17:43] thockin commented on #4822
I find the mixture of bare-word args and flags to be confusing.
Specifically "opaque" should be a --type flag in my mind.

We have poor consistency with regards to name.  `kubectl run NAME` vs
`kubectl expose pod foo --name NAME`.  Is the distinction that in run the
name is required and in expose it is not?    I would have (yay hindsight)
argued for `kubectl expose [NAME] --from pod/foo` or someth

[2015-10-16 17:46] derekwaynecarr commented on #4822
@thockin - my initial bias was --type as flag, but I think the issue was each type has different arguments that make sense, and we didnt want to invent a new flag syntax.  see reaction to https://github.com/kubernetes/kubernetes/issues/4822#issuecomment-144548003

[2015-10-16 17:47] fabioy commented on #15738
Jobs are generating incredibly large log files  (300 Megs?) with lots of repeated lines like this:

Failure trying to curl release .sha1
/jenkins-master-data/jobs/kubernetes-push-gce-step1-deploy/workspace/kubernetes/hack/e2e-internal/../../cluster/../cluster/../c
luster/gce/../../cluster/common.sh: line 283: KUBE_TAR_URL: unbound variable
Failure trying to curl release .sha1
/jenkins-master-data/

[2015-10-16 17:50] dchen1107 commented on #15644
@ssergiienko Could you please run cpu profile against Kubelet and post the graph here? Since you are running 1.0.3-X release, we know there are some issues caused by cAdvisor on collecting both disk and network stats on both cpu and memory.

After 1.0 release, we create daemon resource monitoring related e2e tests, and try to capture those issues as earlier as possible. Also we plan to publish som

[2015-10-16 17:50] saad-ali commented on #15524
Yep, and the proposed solution would fix the issue for all volumes.

[2015-10-16 17:51] ihmccreery commented on #15738
Okiedokie.  Yes, this was my fault.  `tars_from_version` silently expects `SERVER_BINARY_TAR_URL` and `SALT_TAR_URL` to be set in `find-release-tars`.  I added the extra expectation that `KUBE_TAR_URL` be set, but didn't think about how `find-release-tars` would then also have to set that.  Working on a fix.

[2015-10-16 17:53] thockin commented on #4822
puke.  yeah.  Is it so bad to have the flagset for "confide" (or whetever)
include flags for all values of --type, and just document which flags apply
to which --type?

On Fri, Oct 16, 2015 at 10:47 AM, Derek Carr <notifications@github.com>
wrote:

[2015-10-16 17:55] liggitt commented on #4822
It gets really messy, which is why we ended up with subcommands per type

[2015-10-16 17:58] pmorie commented on #4822
@derekwaynecarr

[code]

`whisper`?

[2015-10-16 17:58] ihmccreery commented on #15738
(For anyone who cares, culprit is #15519.)

[2015-10-16 17:59] #15676 closed

[2015-10-16 17:59] thockin commented on #4822
I can see it both ways.  I concede that point.

On Fri, Oct 16, 2015 at 10:56 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-16 18:00] pmorie commented on #4822
Bikeshedding lvl 999:

I actually like `confide` and `whisper` better than `divulge` or `reveal`

[2015-10-16 18:02] bgrant0607 commented on #4822
How about `stash`: to store (something) safely and secretly in a specified place?

[2015-10-16 18:05] derekwaynecarr commented on #4822
@bgrant0607 - ```stash``` is good for me.

[2015-10-16 18:06] pmorie commented on #4822
+1 to stash

:trophy:

[2015-10-16 18:09] thockin commented on #4822
I still like "new" as the creation (but that opens the door for much more
discussion) and confide or grant as the way to assign to an SA.

Maybe I'm just wrong and "create" is the in-wall plumbing, "new" is exposed
plumbing, and "confide" or "secret" or "stash" is porcelain.

On Fri, Oct 16, 2015 at 11:01 AM, Paul Morie <notifications@github.com>
wrote:

[2015-10-16 18:11] thockin commented on #4822
What about "deposit"?  as in to a vault.  Or "escrow"?  Nah.  "confide" or
"secret" have connotations that work.  "stash" is pretty generic, it might
as well be "store" or "hold".  "guard"?

On Fri, Oct 16, 2015 at 11:08 AM, Tim Hockin <thockin@google.com> wrote:

[2015-10-16 18:11] pmorie commented on #4822
I'm afraid the trophy has already been awarded @thockin

[2015-10-16 18:13] four43 commented on #8735
That kind of throws a wrench into that workflow. Since services are supposed to always point at a corresponding pod, is there another way to reference that pod? Use case being: Need to share persistent storage across pods without copying to each pod. But if the host NFS pod moves, it sounds like Kubernetes won't resolve that.

[2015-10-16 18:13] pmorie commented on #4822
hrm

[2015-10-16 18:13] thockin commented on #15767
Uggh, in a few more docker releases we won't need to edit that anymore.

[2015-10-16 18:14] pmorie commented on #4822
I like deposit pretty well, actually.

[2015-10-16 18:17] derekwaynecarr commented on #4822
vault uses read/write - https://vaultproject.io/docs/commands/read-write.html

[2015-10-16 18:19] bprashanth commented on #4822
wait no, i like bury.
I kid I kid.

[2015-10-16 18:20] ncdc commented on #4822
I just had the same thought re bury, ha...

[2015-10-16 18:24] bgrant0607 commented on #4822
`secret` would be the most obvious by far, and is a verb. Hopefully enough people have seen period British TV shows. Can we stop bikeshedding and just go with that?

`new` is taken for another purpose: #14294

[2015-10-16 18:25] pmorie commented on #4822
@bgrant0607 +1 to picking a new.  `secret` is fine with me.

[2015-10-16 18:26] liggitt commented on #4822
jolly good

[2015-10-16 18:30] pmorie commented on #4822
![](http://i1.cdnds.net/14/02/618x387/uktv-blackadder-goes-forth.jpg)

[2015-10-16 18:33] jimmidyson commented on #15554
@yujuhong If you're interested, I could put together some grafana dashboards for the perf stuff quite easily. Prometheus-Grafana integration is in Grafana master now. You may want to build your own dashboarding app of course - but just so you know the choice is there.

[2015-10-16 18:34] ixdy commented on #13548
Ugh, sorry about that. It'd been working fine on a number of builds, but all of those cleaned their workspaces before running tests.

#15786 should fix the issue, and I'll test it on one of the flaky builds first.

[2015-10-16 18:39] thockin commented on #8735
The only answers so far are to use a known IP for the service (which is
what we do for DNS) and optionally program each machine's /etc/hosts with
that known IP and a name for it, or else use a local proxy on every machine
(which is what we do for docker registry)

On Fri, Oct 16, 2015 at 11:14 AM, Seth Miller <notifications@github.com>
wrote:

[2015-10-16 18:43] saad-ali commented on #14642
@chrislovecnm I can't comment on an ETA, but I will say it's high pri post v1.1.

[2015-10-16 18:46] saad-ali commented on #11391
Nope not a v1.1 blocker. Removing 1.1 tag.

[2015-10-16 18:46] four43 commented on #8735
Sounds good, thanks for the tip @thockin

[2015-10-16 18:48] derekwaynecarr commented on #4822
*secrets away to write a CLI command...

[2015-10-16 18:49] ncdc commented on #4822
@derekwaynecarr now that we've settled on the name, would it be worth circling back here with an updated set of usage examples?

[2015-10-16 18:49] runningwild commented on #15382
I noticed something strange on a small cluster I was running over the weekend.  I had a single minion cluster with a pod that was using a disk in RW mode.  The pod restarted at some point and got stuck in state Waiting, even though the disk it needed was (still?) attached to that node.  I assume that k8s got confused about the state of the disk when it detached/reattached it.  (I should have taken

[2015-10-16 18:51] thockin commented on #4822
http://www.columbia.edu/~xs23/benny.jpg

[2015-10-16 18:52] jackgr commented on #11492
OK. It makes sense that the template language shouldn't need any special information. It should get everything it needs from its input parameters, which can come from environment variables, command line flags, input files, etc.

However, I don't see how that constraint is violated by the GCE template language. The deployment name and project ID are passed in as parameters through environment varia

[2015-10-16 18:53] dchen1107 commented on #15671
Ahh, I ran into this issue yesterday for testing. Yes, Pod Phase shouldn't switch back to Pending once all containers in such pod run once. This is a regression, and we should fix for 1.1. I will send pr shortly.

[2015-10-16 18:55] rroopreddy commented on #15731
Ok, I have this situation now where the commands mentioned did gave any info. Are there any other internal commands I could run to get info for DEBUGGING

1. BEFORE: ./cluster/kubectl.sh get pods -o wide

        NAME                            READY     STATUS    RESTARTS   AGE       NODE
        cassandra                       1/1       Running   0          3d        ip-172-20-0-16.us-west-2.com

[2015-10-16 18:58] derekwaynecarr commented on #4822
@ncdc - will comment with an updated set of usage patterns.

[2015-10-16 19:02] rroopreddy commented on #15731
Please let me know if I can gather any useful information now as it is in that state now. Initially I though pods are dying because the CPU from influxDB. However, in this cluster instance monitoring (influxDB) was disabled and there was only a light load on CPU

[2015-10-16 19:04] thockin commented on #15421
How urgent is this one small feature?  I'm not deeply against adding it if it solves real problems, but I'd rather focus energy on the git-sync sidecar.  Additionally, we need clarity on whether this is just "checkout and rename" or whether "." is expected to be supported.  Doing a checkout to a subdir has one significant advantage - it can be updated atomically.  This means you could periodically

[2015-10-16 19:10] vishh commented on #15204
This issue was opened in light of #14943. Since that has been shelved for the purposes of v1.1, this issue can definitely be punted for now.

[2015-10-16 19:10] vishh commented on #15204
I'm closing this issue for now. I will re-open if #14943 goes through.

[2015-10-16 19:10] #15204 closed

[2015-10-16 19:11] fgrzadkowski commented on #15311
Isn't it that we have fixed remaining issues with scale subresource? (#15706)

[2015-10-16 19:35] #15767 closed

[2015-10-16 19:37] davidopp commented on #10268
Oops, very sorry, somehow I didn't realize that the date on a reference to an issue/PR that Github inserts is the date the issue/PR was initially mentioned, not the date it was last updated. Kinda makes sense, but for some reason I was assuming Github did the "cooler" thing (last update) and I didn't click through to the thread, hence my confusion about when #11067 was last touched.

[2015-10-16 19:39] saad-ali commented on #15382
@runningwild If you get a repro, file an issue, I'll take a look at it.

[2015-10-16 19:58] yujuhong commented on #15554
@jimmidyson, that'd be great, thanks. I think we should have a dashboard first, and think about whether we need to build our own app later :-)

[2015-10-16 20:05] lavalamp commented on #14132
@RichieEscarez Let's define this.

__No__. There is no experimental API. There are three new features that are in beta in 1.1. There's no reason to mention the word "extensions" unless you're explaining where to find them in the API.

Also please avoid mentioning "v1beta1" without context, because we already had a v1beta1 version. Only developers should care about this, and they will need to know

[2015-10-16 20:06] davidopp commented on #3024
To make it easier for it to put the daemons on newly-added machines before any scheduler can jump in and schedule something there, possibly blocking the daemon from scheduling. (Even if we had preemption, doing this in node controller allows us to avoid the preemption.)

My main concern is the latter; when you read the code, documentation, comments, etc. it is really confusing to see "daemon" some

[2015-10-16 20:20] erictune commented on #14132
I consider this issue closed by https://github.com/kubernetes/kubernetes/pull/15339

[2015-10-16 20:21] erictune commented on #14132
BTW, There is no relationship between the "v1" in "v1.0 or "v1.1", versus the "v1" in "v1beta1".
one is the version for a specific API, and one is a version for a software package.

[2015-10-16 20:25] fgrzadkowski commented on #15716
@gmarek Thanks much for running this experiment. This is very useful data.

I think this shows that we can easily use current heapster in 1.1 release.

The only AI that I see left before 1.1 is to write down the recommended limits somewhere in user guides. Once that's done I think we should move this issue out of 1.1 and assign P1 or P2 priority.

[2015-10-16 20:26] brendandburns commented on #14070
This is now fixed.

[2015-10-16 20:26] #14070 closed

[2015-10-16 20:29] brendandburns commented on #15643
Assigning to @yujuhong since she authord #15733

[2015-10-16 20:29] lavalamp commented on #14132
If @erictune is happy, I am happy.

[2015-10-16 20:29] #14132 closed

[2015-10-16 20:39] derekwaynecarr commented on #4822
This is what a first PR would look like:

[code]

It appears to meet the semantics @bgrant0607 expressed here:
https://github.com/kubernetes/kubernetes/issues/4822#issuecomment-144584226

It appears to satisfy the desires of @thockin as understood here:
https://github.com/kubernetes/kubernetes/issues/4822#issuecomment-148782470

It uses ```--from-file``` instead of ```source-file``` since we appea

[2015-10-16 20:39] dchen1107 opened #15794 "kube-push.sh is broken due to unbound variable KUBE_TAR_URL"
I tried to upgrade my cluster through hack/dev-build-and-push.sh, and failed due to endless error messages:

hack/../cluster/../cluster/../cluster/gce/../../cluster/common.sh: line 283: KUBE_TAR_URL: unbound variable
Failure trying to curl release .sha1
hack/../cluster/../cluster/../cluster/gce/../../cluster/common.sh: line 283: KUBE_TAR_URL: unbound variable
Failure trying to curl release .sha1
h

[2015-10-16 20:41] lavalamp commented on #15403
Reopening this because there's still e.g. cherrypicks and todo items.

[2015-10-16 20:41] dchen1107 commented on #15794
cc/ @ihmccreery @mikedanese I suspect #15519 the culprit here.

[2015-10-16 20:42] ncdc commented on #4822
If you do `--from-file=key1=/path/to/dir` is that a validation error because you're trying to assign a directory to a single key?

[2015-10-16 20:42] lavalamp commented on #15403
#15785 is the cherrypick we need.

[2015-10-16 20:47] derekwaynecarr commented on #15716
@kubernetes/rh-cluster-infra @DirectXMan12 @smarterclayton - see above data on Heapster memory consumption relative to number of nodes and 30 pods per node.

[2015-10-16 20:47] aronchick commented on #7688
Correct, the failure here is the quoting:

[code]

It'd be really great to (somehow) detect the quoting and warn them.

[2015-10-16 20:52] derekwaynecarr commented on #4822
@ncdc - yes, need to check if we do that in oc

On Friday, October 16, 2015, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-16 20:53] ihmccreery commented on #15794
Closing this as a duplicate of #15738.

[2015-10-16 20:53] #15794 closed

[2015-10-16 20:54] ihmccreery commented on #15794
#15793 is out to fix.

[2015-10-16 21:18] rroopreddy commented on #15731
I started to look into the logs on master, see bunch errors of following kind (/var/log/kube-apiserver.log):

errors.go:62] apiserver received an error that is not an api.Status: 100: Key not found (/registry/events/default/spark-driver.140d31c9b92794b4) [125564]

[2015-10-16 21:18] legdba opened #15795 "Support for JSON log events logged to STDOUT"
JSON log events logged to STDOUT are handled has a raw string wrapped in a new JSON document with additional meta-date. This cause the application initial JSON document to be mostly useless.

Instead JSON log events logged to STDOUT should be handled as JSON documents preserved and merged with additional meta-data.

[2015-10-16 21:47] karlkfi commented on #3024
Um, yes... Repurposing a term to mean something new is always going to cause intermediate confusion. It's only worth doing if the end state is sufficiently less confusing.

If the controllers are implementation details, however, the user can still conceptually create a Daemon and let k8s decide how to make that happen.

The difference to the user then is just "one per node + as many as possible to

[2015-10-16 21:49] lavalamp commented on #15747
I thought we were going to scrape the cherry pick issues for this? Or is this meant for things that are known broken?

[2015-10-16 21:51] lavalamp commented on #14778
There is version skew in kubectl, does that belong in this tracking issue? https://github.com/kubernetes/kubernetes/issues/15702

[2015-10-16 21:52] #15638 closed

[2015-10-16 21:52] lavalamp commented on #15702
@bgrant0607 No, kubectl 1.1 is broken when used w/ 1.0.x apiserver.

[2015-10-16 21:57] lavalamp commented on #15726
@ncdc What sort of timeframe are we looking at for a fix for this? Should we just plan on living with it for the 1.1 release, or is a fix easy?

[2015-10-16 22:00] ArtfulCoder commented on #15680
https://github.com/kubernetes/kubernetes/pull/15797

This gives users the ability to adjust udpIdleTimeout values.
Especially useful, if they experience dns flakiness and think that the adjusting the timeout can help.

[2015-10-16 22:00] lavalamp commented on #15747
Known broken in 1.1: #15726

NEW:

Stdin redirection (pod exec, attach etc) does not work as expected between kubectl 1.0.x clients and Kubernetes 1.1 apiservers, as well as between kubectl 1.1 and 1.0.x apiservers. Workaround: use a kubectl that corresponds to your apiserver's version.

[2015-10-16 22:01] lavalamp commented on #15702
The root cause is being tracked in #15726.

[2015-10-16 22:03] smarterclayton commented on #15781
I am going to try to finish that this weekend

[2015-10-16 22:03] dchen1107 commented on #15747
@lavalamp This is for known breakage in 1.1 release, not for cherry-picks.

[2015-10-16 22:04] vishh commented on #15716
@gmarek: Thanks for the data! This information is very useful!

Since you mentioned you are having issues profiling heapster, here is what I usually do for profiling:
1. I download the release binary from Github. Since the current release tagged with Kubernetes v1.1 is v0.18.2, download the corresponding heapster binary:
``` wget https://github.com/kubernetes/heapster/releases/download/v0.18.2/hea

[2015-10-16 22:05] dhawal55 commented on #11543
I have changed the hostname on my ec2 instance to match the ```private-dns-name``` and restarted kubelet but somehow it keeps using the domain set in our VPC's DHCP option set. I have no idea where it is getting the domain. I checked /etc/host and /etc/resolv.conf and both have ```us-west-2.compute.internal``` as the domain. Can any one help explain how kubelet builds the nodeName and how i can ma

[2015-10-16 22:14] vishh commented on #15716
The default retention policy for dead containers is now 4 minutes. We can tune that down further or even not keep dead containers around. AFAIK the only use case that might need this data is GKE where scrape heapster every 2 minutes. But we could argue that missing the last sample isn't that bad. cc @mwielgus
Switching from lists to static slices for caching might also help here. List requires Go'

[2015-10-16 22:15] vishh commented on #15716
@fgrzadkowski: +1

[2015-10-16 22:24] fabioy commented on #15444
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-16 22:33] ihmccreery commented on #14778
No, we decided that was distinct enough that it belongs in its own world.

[2015-10-16 22:35] aronchick commented on #10735
I just ran into this myself, oddly, today with @jlowdermilk. The problem is gcloud thinks it has a cluster, and gcloud config lists that cluster & project, but kubectl pulls from a different cluster. Not obvious at all (and not related to kubeconfig files - it's more the integration with gcloud and kubeconfig).

Basically, it's weird that you can set a KUBECONFIG file, to point at one cluster, and

[2015-10-16 22:39] aronchick commented on #15760
Issue was addressed in 1.0.6.

[2015-10-16 22:39] #15760 closed

[2015-10-16 22:41] timstclair opened #15800 "E2E Flake: Pods should have their container restart back-off timer increase exponentially"
This test relies on time ratios. There are a number of infrastructure blips which could through off these numbers though.

Example output (from https://github.com/kubernetes/kubernetes/pull/15275)
[code]

[Sample jenkins result](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/13092/#)

[2015-10-16 22:43] fabioy commented on #15546
Is this issue still active? If not, please close it.

Thank you.

[2015-10-16 22:44] aronchick opened #15801 "Documentation for kubectl bash completion does not work for those that download the tarball"
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/gce.md#enabling-bash-completion-of-the-kubernetes-command-line-tools

Tells people that bash completion is available at `./contrib/completions/bash/kubectl`. If you downloaded the tarball (https://github.com/kubernetes/kubernetes/releases), that directory is not present.

[2015-10-16 22:46] fabioy commented on #15660
If you need continued assistance, please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common u

[2015-10-16 22:46] #15660 closed

[2015-10-16 22:47] fabioy commented on #15668
Is this issue still active? If not, please close it. Thank you.

[2015-10-16 22:47] fabioy commented on #15681
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-16 22:47] #15681 closed

[2015-10-16 22:47] aronchick opened #15802 "Getting Started for GCE should list all variables"
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/gce.md

All environment variables should be listed (e.g. size of machine).

[2015-10-16 22:48] dchen1107 commented on #15800
cc/ @samabed

[2015-10-16 22:54] fabioy commented on #15731
This may be of help: http://stackoverflow.com/questions/31666135/is-norestart-policy-supported-for-kubernetes-pods

Specifically:

"If you run something as a pod rather than as a replication controller, you can set the restartPolicy field on it. The OnFailure policy is probably what you'd want, meaning that kubernetes will restart a pod that exited with a non-zero exit code, but won't restart a po

[2015-10-16 22:54] #15731 closed

[2015-10-16 22:54] jlowdermilk commented on #10735
There are now a number of open issues related to kubeconfig and kube-up that need attention (see also #14335, #10516). I'll set aside some time next week to clean this up.

[2015-10-16 22:55] dchen1107 opened #15803 "Enable REGISTER_MASTER_KUBELET by default"
To enable this feature by default for OSS k8s, we need to fix a bunch of e2e tests. File this issue for place holder.

[2015-10-16 23:04] caesarxuchao commented on #15235
With #15659, this can be fixed now.

What's the expected behavior of `kubectl explain`? I assume in case of `kubectl explain hpa`, it should search hpa in both v1 and extensions/v1bata1, and determines hpa as a resource in the extensions group?

BTW, the use of "api-version" flag is problematic https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/explain.go#L71. It adds extra meani

[2015-10-16 23:20] ihmccreery commented on #15123
Lies.  Bumping back up to P0, because this does seem to be affecting 1.1.

[code]

Also see the *kubernetes-upgrade-1.0-1.1-gke-step3-e2e-old* job.  There are a lot of failing tests, most of which seem to be failing because pods aren't deleting.

[2015-10-16 23:24] ihmccreery commented on #13602
The biggest problem seems to be not being able to delete pods: #15123.

[2015-10-16 23:25] ihmccreery commented on #15123
Assigning to @thockin; please reassign as necessary.

[2015-10-16 23:32] ihmccreery opened #15804 "Don't run DaemonRestart tests in GKE in the release-1.1 branch"
There are two tests that are running on GKE in `release-1.1` that shouldn't be:

[code]

We should backport the skip of those tests into the `release-1.1` branch.

[2015-10-16 23:39] ihmccreery commented on #15123
A lot of the tests in Jenkins are also failing after the nodes have been upgraded.  My guess is that the pods are still stuck from the first e2e run during the second, so I think this is just a version-skew issue, but I could be wrong.

[2015-10-16 23:43] ihmccreery commented on #15120
Closing as likely duplicate of #15123.  Will re-open if this persists after it's fixed.

[2015-10-16 23:43] #15120 closed

[2015-10-16 23:44] smarterclayton commented on #4822
-1 on the cute proposals - our job is not to reach for a thesaurus, it's to
establish clear lines of meaning between the concept (secret) and the
interaction mechanism.

The reason why the "command noun verb <args>" shows up in a lot of places
is that new users often go looking for concepts (or see references to them
and try to find them in other places).  Few users, wanting to provide a
secret to

[2015-10-16 23:46] smarterclayton commented on #140
PreStop is a tough one - all the use cases folks have brought up so far
involve "I want to do something to my running process to ensure it
gracefully shuts down".

On Thu, Oct 15, 2015 at 9:34 PM, Emma He <notifications@github.com> wrote:

[2015-10-16 23:48] dchen1107 opened #15805 "Investigate goroutine leakage issue in Kubelet"
I profile kubelet without much workload (one or two pods), and found both goroutine and heap increased crazily. For example, on node:

/debug/pprof/

profiles:
0	block
1010	goroutine
1658	heap
12	threadcreate

And still keeping going.

Among 1010 goroutines: there are >450 with same stack trace:

[code]
or

[code]

Then another 477 with net/http.(*persistConn).writeLoop

[2015-10-16 23:54] dchen1107 commented on #15661
FYI, #15805 might be the real cause.

[2015-10-16 23:54] yujuhong commented on #140
Hasn't that already been covered by the graceful termination you added?

[2015-10-16 23:56] yujuhong commented on #15805
Similar goroutine leakage from my cluster that had been running for 5 hours. My kubelet happily accumulate over 18000 goroutines.

[code]

[2015-10-16 23:56] ihmccreery opened #15806 ""limit number of pods that are allowed to run" failing on version-skewed clusters running 1.1 master and 1.0 nodes"
See Jenkins job **kubernetes-upgrade-1.0-1.1-gke-step3-e2e-old**'s last few runs.

[code]

The relevant line is [max_pods.go:156](https://github.com/kubernetes/kubernetes/blob/release-1.0/test/e2e/max_pods.go#L156).  Note that this is running e2e tests off of the `release-1.0` branch.

It's possible that this is also caused by #15123, but it's not clear to me.

[2015-10-16 23:56] dchen1107 commented on #15805
As an record: I measured this before 1.0 release, and found some leakages from cAdvsor. After that fix, we reasonably keep the goroutine down to some number (i.e. 100)

This should be a regression. This explains Kubelet CPU, memory usage increasing.

[2015-10-16 23:57] ihmccreery commented on #15806
This is also failing on kubernetes-upgrade-1.0-1.1-gke-step5-e2e-old, where we're running `release-1.0` tests against a cluster that's been fully upgraded, (master and nodes,) from 1.0 to 1.1.

[2015-10-17 00:02] #15738 closed

[2015-10-17 00:05] derekwaynecarr commented on #4822
@smarterclayton - can you comment on the result I proposed "kubectl secret"
as parent command and "kubectl secret make" as opaque secret subcommand,
and "kubectl secret make-dockercfg" as the type specific secret syntax?  I
think it aligns with where discussion ended, and addresses @thockin
critique on oc secrets use of arguments where flags were preferred.

On Friday, October 16, 2015, Clayton Co

[2015-10-17 00:13] ncdc commented on #15726
@lavalamp we need to first come up with a plan for how to do the protocol negotiation. Once we do that, it shouldn't be difficult to restore support for the code as it was in 1.0.x (i.e. no defined protocol), and then continue to evolve with new protocol versions as needed.

The exec/attach/port-forward flows all start with an HTTP request with `Connection: Upgrade` and then an `Upgrade` header fo

[2015-10-17 00:33] lavalamp commented on #15726
Yes, SGTM

On Fri, Oct 16, 2015 at 5:13 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-17 00:37] liggitt commented on #15726
cc @benjaminapetersen @stefwalter as interested parties for websocket clients

[2015-10-17 00:43] bgrant0607 commented on #15652
@jszczepkowski /examples is for real apps. Documentation of system features, including examples, belongs in docs/user-guide.

[2015-10-17 02:21] four43 commented on #15668
Well it took 30 back and forth messages to get it to work. I'd say at the very least there needs to be some documentation changes, but probably some deployment provisioning too.

[2015-10-17 02:32] #15671 closed

[2015-10-17 02:32] smarterclayton commented on #140
Unfortunately no - there are lots of examples of legacy software that don't
respond to SIGTERM well (Java as an example), so people are writing Prestop
hooks that invoke specific shutdown paths.

On Oct 16, 2015, at 7:55 PM, Yu-Ju Hong <notifications@github.com> wrote:

PreStop is a tough one - all the use cases folks have brought up so far
involve "I want to do something to my running process to

[2015-10-17 02:55] bgrant0607 commented on #15776
One advantage of the current approach is that it ensures uniqueness, at least with high probability. Pods generated by one RC can't generate the same names as pods of another RC. That said, it is possible for a RC to adopt pods with arbitrary names.

I'm not opposed to making it possible to specify another prefix, but we'd need to ensure the controller (and the generateName mechanisms) responded s

[2015-10-17 03:21] mqliang opened #15810 "Refactor `list()` method of `StoreToXXXLister` to return api.XXXList, instead of []*api.XXX"
All `list()` method of `StoreToXXXLister` should return `api.XXXList`, instead of []*api.XXX, `since api/types.go` has provided `api.XXXList` type, it will be more readable if our code keeps consistence.

I have upload two PR to help refactor `StoreToJobLister` https://github.com/kubernetes/kubernetes/pull/15694  and `StoreToDaemonSetLister` https://github.com/kubernetes/kubernetes/pull/15305, and

[2015-10-17 03:30] philk commented on #11543
It's been awhile since I looked at this but I'm pretty sure it's pulling
the hostname out of the AWS metadata service. I could confirm later when
I'm back at a real computer.

On Fri, Oct 16, 2015 at 3:05 PM dhawal55 <notifications@github.com> wrote:

[2015-10-17 03:37] resouer commented on #15421
Not urgent, obviously. btw, I don't see too much differences as for the sync part, could you please explain why cloning to '.' not work?

 I'm a fan of sidecar and I actually used sidecar almost  [in any case as I can](https://gist.github.com/resouer/378bcdaef1d9601ed6aa). But here's case for this issue:

Want svnRepo? Please read our sidecar demo.
Want gitRepo? I expect a built-in feature.

[2015-10-17 03:56] #15618 closed

[2015-10-17 04:49] resouer commented on #15634
clear, I'll help with this

[2015-10-17 05:08] smarterclayton commented on #15726
We should reuse the websocket subprotocol rtc definition - websocket exec
handles protocols today, and the same pattern works for any other upgrade
mechanism:

https://tools.ietf.org/html/rfc6455#section-1.9

On Oct 16, 2015, at 8:13 PM, Andy Goldstein <notifications@github.com>
wrote:

@lavalamp <https://github.com/lavalamp> we need to first come up with a
plan for how to do the protocol negotiat

[2015-10-17 05:14] smarterclayton commented on #14014
I actually fixed it to allow name without namespace.  Previously, the special case for metadata.name assumed it could call keyfunc which checked for namespace and errors out.  Fast path there didn't need a list.  However, we now detect that you tried the fast path, but it wasn't valid, so we process the non fast path (list), rejecting any entries that don't match the selector.

So there was a bug,

[2015-10-17 05:58] paralin commented on #14402
Is there a temporary fix for this in development environments? I can't seem to start anything via OpenShift origin due to this.

[2015-10-17 06:21] dalanlan commented on #14402
You can manually patch #15522 to fix this.

[2015-10-17 07:06] ttllyy opened #15811 "Fail to delete rc by api?"
kubernetes version:1.02
REST api
DELETE /api/v1/namespaces/default/replicationcontrollers/test
body
{
"apiVersion": "v1",
"kind": "ReplicationController",
"gracePeriodSeconds": 0}
}

Fail
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "converting  to : type names don't match (ReplicationController, DeleteOptions), and no conversion 'func (v1.Repli

[2015-10-17 07:50] gmarek commented on #15716
@vishh I'll try what you suggested. I was accessing heapster profile through API server proxy.

[2015-10-17 08:02] dhawal55 commented on #11543
Yes, that's what is looks like. Now I'm trying to figure how to change
hostname in metadata.

On Fri, Oct 16, 2015 at 8:31 PM, Phil Kates <notifications@github.com>
wrote:

[2015-10-17 09:26] soltysh commented on #15389
/sub

[2015-10-17 09:35] ttllyy opened #15812 "Fail to patch rc by api"
kubernetes verison: 1.02
PATCH  /api/v1/namespaces/default/replicationcontrollers/test
body
{"spec":
     {"replicas": 3}
}

response
'{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "the server responded with the status code 415 but did not return more information",
  "details": {},
  "code": 415
}'

this is bug for api?

[2015-10-17 13:48] ashcrow commented on #15713
#15787 has been merged which should fix this issue.

[2015-10-17 15:21] smarterclayton commented on #4822
Yes I'm ok with the current syntax at a high level.

[2015-10-17 15:34] pmorie commented on #9946
@stevekuznetsov I noticed that the equivalent test in origin has been made a little more readable.  I have made some improvements recently debugging this test, but I would like to get the side-by-side diff that origin has in.  Perhaps if you have some bandwidth you can work on this?

[2015-10-17 15:34] pmorie opened #15816 "Should we build codecgen from godeps?"
On a clean build in master I get the following:

[code]

[2015-10-17 15:39] smarterclayton commented on #15592
Some of these changes are also moot if we serve DNS from the node-proxy as
well.

On Oct 15, 2015, at 7:35 PM, Abhi Shah <notifications@github.com> wrote:

We are going to punt this to v1.2
It will be safer to make this change when we move to the motr performant
iptables-based proxy.
Till then, let us have clients have the fallback nameservers, the way it
has been today..

—
Reply to this email di

[2015-10-17 16:19] pmorie commented on #15816
It's not broken, actually, but I had to update my system pflag to make it work.  Should we build our own codecgen binary from godeps and use that?

[2015-10-17 16:23] pmorie commented on #15759
@pweil- We might want to talk through the effects of changing this on the origin policy stuff before we start doing it.

[2015-10-17 18:25] mikedanese commented on #15812
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-17 18:25] #15812 closed

[2015-10-17 18:26] mikedanese commented on #15811
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-17 18:26] #15811 closed

[2015-10-17 18:43] janeczku commented on #10163
@thockin For a non intrusive way you may have a look at https://github.com/janeczku/alpine2skydns - bridging Alpine Linux containers to SkyDNS.

[2015-10-17 18:44] hsaputra opened #15817 "Add example application for Apache Flink on Kubernetes"
With more people trying to run Apache Flink [1] as better distributed platform for streaming and batch, I think it will be great to add example to deploy Flink cluster on Kubernetes.

It is already support deployment on YARN [2], Google Cloud [3], and Apache Mesos pending PR [4]

[1] http://flink.apache.org/
[2] https://ci.apache.org/projects/flink/flink-docs-release-0.9/setup/yarn_setup.html
[3]

[2015-10-17 21:12] danielschonfeld commented on #15763
@thockin imagine you power up a storm cluster, or any cluster of any program.  the nodes need to announce themselves.  currently since we do not provide DNS entries for pod names in kube-dns then one must resort to announcing the POD's IP address broadcast to the network.

So now your logs are full of IPs that may or may not be meaningful to you.

Suppose there was an error on of the nodes and all

[2015-10-17 21:39] nVitius opened #15818 "Docker Multinode master not starting"
I'm using v1.1.0 (1.0.6 didn't have the master.sh script)
I get this output from the script:
[code]

Any help troubleshooting this would be appreciated.

[2015-10-17 21:56] nVitius commented on #15818
I went with the steps in the MASTER.md and that worked fine. Closing this issue, unless anyone has any questions about it.

[2015-10-17 21:56] #15818 closed

[2015-10-17 22:23] paralin opened #15819 "Kubernetes components seem to downgrade themselves automatically"
I attempt to update kube-ui like so.

First, I update the rc file:

[code]

Then I do a rolling upgrade like so:

[code]

Everything's fine but eventually the system deletes the new replication controller and re-instates the old version.

How can I update system components like this?

[2015-10-17 22:25] paralin commented on #15819
Never mind, just found this:

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/README.md#add-on-update-procedure

Hmm

[2015-10-17 22:25] #15819 closed

[2015-10-17 22:29] alexcouper opened #15820 "GKE Persistent Disk unusable after restart of container (on same host)"
I have an issue which has the same resulting symptoms as https://github.com/kubernetes/kubernetes/issues/14642 (that a container can't use the disk) - but that is not caused by the Persistent Disk being on the wrong host.
- Is this the same underlying issue?
- Am I shutting down containers in a non-friendly way?
- Is the only known workaround that of recreating the RC?
## Reproducing the error
- O

[2015-10-17 22:33] mikedanese commented on #15816
I'm getting a different error:
[code]
and
[code]

[2015-10-18 00:27] yujuhong commented on #15805
I found the culprit.

TL;DR: go-dockerclient now saves and reuses the connection. `cadvisor.GetVersionInfo` creates a new docker client each time, causing the connection leakage. This does not affect v1.1 because go-dockerclient was only updated recently (#15127).

Kubelet calls cadvisor to get version info [whenever updating the node status](https://github.com/kubernetes/kubernetes/blob/0338e0ef5