[2016-12-03 00:39] k8s-merge-robot opened #38003 "kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew/1284/

Run so broken it didn't make JUnit output!

[2016-12-03 00:39] k8s-merge-robot opened #38004 "kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew/1440/

Run so broken it didn't make JUnit output!

[2016-12-03 00:39] k8s-merge-robot opened #38005 "kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/171/

Run so broken it didn't make JUnit output!

[2016-12-03 00:45] caesarxuchao commented on #37994
I think setting PrevValue is for other use cases, because etcd2 doesn't have transaction. We only need to prevent race, so we only need to set PrevIndex.

[2016-12-03 00:52] sayrer opened #38006 "Vendored dependencies clash with other projects in Bazel"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"bazel"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug repor

[2016-12-03 00:53] xiang90 commented on #37994
Will take a look next Monday

On Dec 2, 2016 4:45 PM, "Chao Xu" <notifications@github.com> wrote:

[2016-12-03 00:53] bprashanth commented on #32323
Since we use the mig rolling update, do we actually know which node to
drain before the mig kicks in and picks one for update?

On Fri, Dec 2, 2016 at 3:36 PM, David Oppenheimer <notifications@github.com>
wrote:

[2016-12-03 00:56] enisoc commented on #37585
I verified my repro case is also fixed for the release-1.5 branch following the cherrypick, by using `v1.5.0-beta.2.54+92991e70b8dd5e` as the upgrade target.

[2016-12-03 00:57] k8s-merge-robot opened #38007 "ci-kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/844/

Run so broken it didn't make JUnit output!

[2016-12-03 00:57] k8s-merge-robot opened #38008 "ci-kubernetes-e2e-gci-gke-ingress: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress/763/

Run so broken it didn't make JUnit output!

[2016-12-03 00:57] k8s-merge-robot opened #38009 "ci-kubernetes-e2e-gci-gke-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.4/738/

Run so broken it didn't make JUnit output!

[2016-12-03 00:57] k8s-merge-robot opened #38010 "ci-kubernetes-e2e-gci-gke-ingress-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.5/658/

Run so broken it didn't make JUnit output!

[2016-12-03 00:57] k8s-merge-robot opened #38011 "ci-kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1.4/114/

Run so broken it didn't make JUnit output!

[2016-12-03 01:09] dims commented on #38007
@k8s-oncall looks like some credentials went bad. Please see latest runs of

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/

( cc @saad-ali )

[2016-12-03 01:09] k8s-merge-robot opened #38013 "ci-kubernetes-e2e-gci-gke-alpha-features: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/675/

Run so broken it didn't make JUnit output!

[2016-12-03 01:09] k8s-merge-robot opened #38014 "ci-kubernetes-e2e-gci-gke-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/965/

Run so broken it didn't make JUnit output!

[2016-12-03 01:09] k8s-merge-robot opened #38015 "ci-kubernetes-e2e-gci-gke-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/474/

Run so broken it didn't make JUnit output!

[2016-12-03 01:12] hasahni commented on #27796
I am having issues as well. My company signed the CCLA. My LF ID shows that I am part of the CNCF Contributors group. But I can't link my LF Identity to my github identity. I get the error "This identity is registered to another user" when I try to link LF Id to github Id. I am using different emails for LF (company) & Github (personal). Probably a LF Id issue but maybe some else has hit this.

Bl

[2016-12-03 01:12] dchen1107 commented on #37981
@krousey I checked the cluster you mentioned above at: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/172/ The problem is not node-not-ready, instead it is pod is not ready because failed to pulling the image. You are hitting a docker issue which should be fixed by docker/docker#25523 in docker 1.13.X cc/ @t

[2016-12-03 01:13] caesarxuchao commented on #37862
I'll try my luck with #35792. I'll let you know if I can fix it easily.

[2016-12-03 01:22] k8s-merge-robot opened #38016 "ci-kubernetes-e2e-gci-gke-slow-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.4/524/

Run so broken it didn't make JUnit output!

[2016-12-03 01:22] k8s-merge-robot opened #38017 "ci-kubernetes-e2e-gci-gke-slow-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.5/502/

Run so broken it didn't make JUnit output!

[2016-12-03 01:26] davidopp commented on #32323
Oh right, I forgot about about that.

We've talked about two possible solutions to this:

(1) Create "node drain as a service" a.k.a. "move kubectl drain into the server" -- an API object where you specify which nodes you want to drain, with an associated controller that figures out a good "schedule" for draining them subject to PDB and any other constraints, and which does the drain (evictions) a

[2016-12-03 01:28] ixdy commented on #37930
timeout.

[2016-12-03 01:28] #37930 closed

[2016-12-03 01:33] philips commented on #1443
From @thockin [via twitter](https://twitter.com/thockin/status/804854680945770496) on known things that would have to happen to make this work

- API: IP & CIDR fields
- iptables kubelet & proxy
- CNI & bridge driver
- grep and fix all places we have To4, ParseIP, ParseCIDR

[2016-12-03 01:34] k8s-merge-robot opened #38018 "ci-kubernetes-e2e-gci-gce-kubenet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kubenet/930/

Run so broken it didn't make JUnit output!

[2016-12-03 01:37] smarterclayton commented on #37991
According to JSONPath the spec an empty field is supposed to return empty
value.  It may be that we just implemented the spec in a way that resulted
in this hidden error and did not notice.

I think we should be more spec compliant rather than less, where possible.

On Dec 2, 2016, at 6:59 PM, Phillip Wittrock <notifications@github.com>
wrote:

I think I figured out the issue.

*Correction: In 1.4

[2016-12-03 01:39] smarterclayton commented on #37991
- An alternative for jsonPath to return false in case of *no match* may
   be to return an empty array in future.

[2016-12-03 01:40] smarterclayton commented on #37991
Returning the default value seems wrong.

Trying to find a clear answer among the maze of implementations.  It does
not seem to be correct to error in any of these implementations.  Client
code may differ from server side schema, and clients may not even know the
schema (tpr, extension apis).

On Dec 2, 2016, at 6:59 PM, Phillip Wittrock <notifications@github.com>
wrote:

I think I figured out the

[2016-12-03 01:51] k82cn commented on #37961
@sttts , it seems the mock master did not start in `makeHttpMocks`; do you have more logs on why http master mock did not start?

[2016-12-03 01:53] thockin commented on #1443
To be clear: those are the STARTING points for auditing v6 support.  I
would approach it by making pods work, then making services work, then
finding stragglers.

On Dec 2, 2016 5:34 PM, "Brandon Philips" <notifications@github.com> wrote:

[2016-12-03 02:01] saad-ali commented on #36059
@kubernetes/release-maintainers is this expected behavior? Is it something we can fix for the 1.5 release (with <1 week left)?

[2016-12-03 02:10] #38007 closed

[2016-12-03 02:10] #38008 closed

[2016-12-03 02:10] #38009 closed

[2016-12-03 02:10] #38010 closed

[2016-12-03 02:10] #38011 closed

[2016-12-03 02:10] #38013 closed

[2016-12-03 02:10] #38014 closed

[2016-12-03 02:10] #38015 closed

[2016-12-03 02:10] #38016 closed

[2016-12-03 02:10] #38017 closed

[2016-12-03 02:10] #38018 closed

[2016-12-03 02:12] saad-ali commented on #26317
FWIW, the recycler policy is being deprecated: https://github.com/kubernetes/kubernetes/pull/36760
And there is a PR adding some additional documentation around recycling: https://github.com/kubernetes/kubernetes.github.io/pull/1636

[2016-12-03 02:13] k8s-merge-robot opened #38019 "ci-kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/862/

Run so broken it didn't make JUnit output!

[2016-12-03 02:13] k8s-merge-robot opened #38020 "ci-kubernetes-e2e-gci-gke-alpha-features: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/689/

Run so broken it didn't make JUnit output!

[2016-12-03 02:13] k8s-merge-robot opened #38021 "ci-kubernetes-e2e-gci-gke-ingress: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress/780/

Run so broken it didn't make JUnit output!

[2016-12-03 02:13] k8s-merge-robot opened #38022 "ci-kubernetes-e2e-gci-gke-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.4/755/

Run so broken it didn't make JUnit output!

[2016-12-03 02:13] k8s-merge-robot opened #38023 "ci-kubernetes-e2e-gci-gke-ingress-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.5/675/

Run so broken it didn't make JUnit output!

[2016-12-03 02:13] k8s-merge-robot opened #38024 "ci-kubernetes-e2e-gci-gke-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/978/

Run so broken it didn't make JUnit output!

[2016-12-03 02:13] k8s-merge-robot opened #38025 "ci-kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1.4/127/

Run so broken it didn't make JUnit output!

[2016-12-03 02:13] k8s-merge-robot opened #38026 "ci-kubernetes-e2e-gci-gke-slow: broken test run"
Current status:

Feb 25 status: https://github.com/kubernetes/kubernetes/pull/42105#event-977177529

[2016-12-03 02:13] k8s-merge-robot opened #38027 "ci-kubernetes-e2e-gci-gke-slow-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.4/525/

Run so broken it didn't make JUnit output!

[2016-12-03 02:15] #38025 closed

[2016-12-03 02:15] #37980 closed

[2016-12-03 02:15] #37954 closed

[2016-12-03 02:15] #37942 closed

[2016-12-03 02:18] yujuhong commented on #37333
The call trace seems different from the one in other CVM issues. This may not be the same bug(?).

[2016-12-03 02:23] dchen1107 opened #38028 "GCI node: remove docker and kubelet's the dependency on systemd-journaltd"
On GCI node, I noticed that if systemd-journaltd was killed due to any reason, both docker and kubelet will be restarted. We found both has dependency on systemd-journaltd. We should understand why and if possible, we should remove this extra dependencies.

[code]

[code]

Beside above dependencies, @yujuhong also mentioned a known docker issue:
https://github.com/docker/docker/pull/22460

[2016-12-03 02:24] dchen1107 commented on #38028
cc/ @kubernetes/goog-image

[2016-12-03 02:26] k8s-merge-robot opened #38029 "ci-kubernetes-e2e-gci-gke-slow-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.5/511/

Run so broken it didn't make JUnit output!

[2016-12-03 02:38] k8s-merge-robot opened #38030 "ci-kubernetes-e2e-gke-alpha-features-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-alpha-features-release-1.5/262/

Run so broken it didn't make JUnit output!

[2016-12-03 03:23] metral opened #38031 "Docker manager incorrectly encodes security opts if they are nil, causing Docker to error on parsing"
**Kubernetes version** (use `kubectl version`): v1.4.0

**Environment**:
- **Cloud provider or hardware configuration**: Rackspace
- **OS** (e.g. from /etc/os-release): CoreOS 1122.2.0
- **Kernel** (e.g. `uname -a`): 4.7.0

**What happened**:
When configuring custom security opts for Docker in the Docker manager, these options get formatted before being passed along to Docker. If the security opts

[2016-12-03 03:49] k8s-merge-robot opened #38033 "TestUDPProxyUpdatePort {userspace}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/731/

Failed: TestUDPProxyUpdatePort {userspace}

[code]

[2016-12-03 03:49] k8s-merge-robot opened #38034 "ci-kubernetes-e2e-gci-gce-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/751/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33703 #36230

Failed: [k8s.io] Reboot [Disruptive] [Featur

[2016-12-03 03:50] louiscryan commented on #28443
I agree this is the right way of thinking about things, lets focus on 2-4 as that will unblock 1 over time.

I'm not sure the variation between unfixable and verifiable is sufficient to be worth the distinction. I like the idea of 'type' as a specifier for which proxy implementations the rule should work with which allows for validation, even static validation, if it refers to actual proxy impleme

[2016-12-03 06:34] saad-ali commented on #28999
@coffeepac Agreed, closing this issue. @blurrcat, 1.5.0 is coming out in the next week or 2. Give that a shot, and if you are still experiencing performance issues, please open a new bug with your data.

[2016-12-03 06:34] #28999 closed

[2016-12-03 07:17] vincipdx commented on #36575
@burnyd, You must install a pod network. I had configured and setup couple of k8s clusters successfully using kubeadm with flannel and weave as pod network. Here are my suggestions and couple of troubleshooting tips. Hope this helps. If you can paste your pod logs or events that would help debug your problem further.

1. If you want to use flannel CNI, make sure you use --pod-network-cidr to kubea

[2016-12-03 07:33] k8s-merge-robot opened #38039 "ci-kubernetes-soak-gce-1.5-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-1.5-test/59/

Run so broken it didn't make JUnit output!

[2016-12-03 07:50] k8s-merge-robot opened #38040 "[k8s.io] HostPath should give a volume the correct mode [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/1004/

Failed: [k8s.io] HostPath should give a volume the correct mode [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #32122

[2016-12-03 08:49] #20684 closed

[2016-12-03 09:46] k8s-merge-robot opened #38041 "[k8s.io] Deployment RollingUpdateDeployment should delete old pods and create new ones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/878/

Failed: [k8s.io] Deployment RollingUpdateDeployment should delete old pods and create new ones {Kubernetes e2e suite}

[code]

Previous issues for this test: #31075 #36286

[2016-12-03 10:04] remoe commented on #24002
i had the same with coreos 1185, kube 1.4.5, kube-dashboard 1.4.2 after shutdown/restart of master (one api-server). It was working after shutdown all nodes and restart of the master and nodes.

[2016-12-03 11:46] k8s-merge-robot opened #38042 "ci-kubernetes-e2e-gci-gce-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-release-1.5/911/

Run so broken it didn't make JUnit output!

[2016-12-03 11:46] k8s-merge-robot opened #38043 "ci-kubernetes-verify-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.5/753/

Run so broken it didn't make JUnit output!

[2016-12-03 11:58] k8s-merge-robot opened #38044 "ci-kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/556/

Run so broken it didn't make JUnit output!

[2016-12-03 12:27] #37007 closed

[2016-12-03 13:09] k8s-merge-robot opened #38045 "ci-kubernetes-e2e-gci-gce-ingress: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/772/

Run so broken it didn't make JUnit output!

[2016-12-03 13:09] k8s-merge-robot opened #38046 "ci-kubernetes-e2e-gci-gce-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress-release-1.4/684/

Run so broken it didn't make JUnit output!

[2016-12-03 13:51] #23802 closed

[2016-12-03 13:55] k8s-merge-robot opened #38047 "[k8s.io] [Feature:Example] [k8s.io] Storm should create and stop Zookeeper, Nimbus and Storm worker servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/697/

Failed: [k8s.io] [Feature:Example] [k8s.io] Storm should create and stop Zookeeper, Nimbus and Storm worker servers {Kubernetes e2e suite}

[code]

Previous issues for this test: #29225 #33106

[2016-12-03 14:50] dims commented on #32947
Dear @k8s-oncall This test has been failing pretty consistently since last evening, can someone please take a look as it is affecting the submit queue?

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/

(cc @saad-ali )

[2016-12-03 17:39] hongchaodeng commented on #37473
@wojtek-t @lavalamp
Mind share if you know any use cases that would benefit from this?
Do you know how much faster it would be?

[2016-12-03 17:43] r-tock commented on #37853
FWIW. we are seeing similar symptoms in 1.4.6 on GKE. It happens once a week (we have about 10 mini clusters and about 80 nodes in total), pegged CPU, no ssh and finally we have to reset the machine. Not sure what we should look at to find the root cause of this. Halp!

[2016-12-03 17:54] mikesplain commented on #29324
@rdtr Not the same issue as this but may help you https://github.com/kubernetes/kubernetes/pull/36840, which should be released this coming week on the 1.4 branch.

[2016-12-03 17:55] chrislovecnm commented on #26317
@saad-ali let's close then

[2016-12-03 17:55] #26317 closed

[2016-12-03 17:57] wojtek-t commented on #37473
Yup - this is hack to that we can get rid of once we have it:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L312

This speeded up 99th % of GET node operations by ~10x and speeded up pretty much all other operations by reducing load on etcd. There are at least few other places we can leaverage it (e.g. NodeProblemDetector).

[2016-12-03 18:04] soltysh commented on #34383
@krousey looking through the logs it looks like this failure is happening in 1.4 (matching lines). I've fixed this problem in 1.5 in https://github.com/kubernetes/kubernetes/pull/37077. Can you confirm that? Not sure how the upgrade tests is run currently, could you point me to the flow? Maybe we should cherry-pick that PR to 1.4?

[2016-12-03 18:48] cmluciano commented on #37979
Ideally would the changes be removed and then reported back? Is there a preferred log or place to return the error?

[2016-12-03 19:30] davidopp commented on #37792
You marked this as "kind/flake" but you said it is failing regularly. Should we consider this to be a release blocker?

[2016-12-03 19:37] smarterclayton commented on #35355
I suspect that [Deployment overlapping deployment should not fight with each other](https://k8s-testgrid.appspot.com/google-gke#gci-gke&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Deployment%5C%20overlapping%5C%20deployment%5C%20should%5C%20not%5C%20fight%5C%20with%5C%20each%5C%20other is broken) started breaking on GCI-GKE because of #36439 (merged yesterday, which was when

[2016-12-03 19:39] dims commented on #35355
There are *tons* of failures as @smarterclayton mentioned https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/

[2016-12-03 19:41] dims commented on #32947
Please see related issue:
https://github.com/kubernetes/kubernetes/issues/35355#issuecomment-264660496

[2016-12-03 19:41] smarterclayton commented on #32947
gce-gki has been broken since yesterday afternoon when #36439 merged, suggest we revert that to unblock the queue.

[2016-12-03 19:42] dims commented on #32947
@smarterclayton : +1 on reverting that

[2016-12-03 19:43] smarterclayton commented on #32947
Opened https://github.com/kubernetes/kubernetes/pull/38049 to revert

[2016-12-03 19:48] mwielgus commented on #37792
No. This particular test won't work on a big clusters as it assumes that it is NOT possible to schedule 10 replicas with host port constraint. I submitted a code that should prevent it from running but apparently something didn't work there, probably in the framework code that was copy/paste/replaced.

[2016-12-03 19:52] dims commented on #37393
Looks like @foxish 's PR https://github.com/kubernetes/kubernetes/pull/37997 merged

[2016-12-03 19:53] dims commented on #37393
@foxish @maisem : looks like we can close this out

[2016-12-03 20:04] bprashanth commented on #37853
those are also symptoms of a naturally overloaded node, suggest checking serial console output of signs of a soft lockup (http://stackoverflow.com/questions/27734763/how-do-you-access-the-console-of-a-gce-vm-instance)

[2016-12-03 20:13] k8s-merge-robot opened #38050 "ci-kubernetes-node-kubelet-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/17/

Multiple broken tests:

Failed: [k8s.io] InodeEviction [Slow] [Serial] [Disruptive] when we run containers that should cause Disk Pressure due to Inodes should eventually see Disk Pressure due to Inodes, and then evict all of the correct pods {E2eNode Suite}

[code]
Issues about this test specif

[2016-12-03 21:10] wojtek-t commented on #37792
@davidopp - yes, as Marcin wrote, this is problem with test, not with the code itself.

[2016-12-03 22:01] chrislovecnm commented on #37843
Carving out time next week

[2016-12-03 23:21] foxish commented on #37393
@dims, thanks for tracking this. Closing.

[2016-12-03 23:21] #37393 closed

[2016-12-03 23:26] daniilyar commented on #17525
@Raffo, in our case docker daemon hangs on Ubuntu were caused by issues with _devicemapper_ storage driver. Upgrading or downgrading Docker didn't help, only switching docker to _AUFS_ fixed the problem for us on all Ubuntu 14 servers. See related https://github.com/docker/docker/issues/12606

[2016-12-03 23:33] seanknox commented on #17525
@Raffo posted this in https://github.com/docker/docker/issues/5618#issuecomment-264671313, hoping it might tip you in the right direction. We were seeing the same symptoms mentioned in this thread on Kubernetes v1.4.4; an unresponsive Docker daemon (tested via `docker ps`) leading to the Kubelet timing out with errors:
[code]
...during all of this Kubernetes reported the node as healthy.

---
I wa

[2016-12-04 00:06] dmrub commented on #28988
I observe same issue on CentOS 7, Kubernetes 1.2.0. Also it works with node IP (in my case 192.168.81.108).

[2016-12-04 00:08] dims commented on #37585
https://github.com/kubernetes/kubernetes/pull/37727 and https://github.com/kubernetes/kubernetes/pull/37973 are merged. So let's close this issue now. thanks to @enisoc for verifying as well!

[2016-12-04 00:08] #37585 closed

[2016-12-04 00:34] garciaba opened #38053 "current context set to "" (no character)"
**Working environment**: 2 CoreOS instances (master+worker)

**Problem**: Current-context set to ""

**Steps to reproduce:**
 Basically, use this command:

`$ kubectl config set-context $CONTEXT --namespace=<insert-namespace-name-here>`

without any value in the $CONTEXT environment.

Now I can't switch back to any namespaces.

[code]

[2016-12-04 00:54] bprashanth commented on #28443
I think the original reasons we did multi-host are still valid, even in the internal case:
* atomic edits
* Domain cross over (i.e blue green deployments via slightly different hostnames)
* Ux (i.e managing O(100) subdomains through O(100) api objects is hard)
* Admins can still enforce a single host policy via admission controller, but the other way around is a lot messier (i.e controller that ag

[2016-12-04 00:59] bprashanth commented on #28443
I'm wondering if we can we solve the validation problem through an admission controller, either by documenting deployment steps that always include once, or teaching each controller to install its own at boot time?

It's an extra moving piece, but would give us sync backend specific validation.

[2016-12-04 01:08] bprashanth commented on #36850
we should write an e2e that ssh's into the node and shells out. This would've caught https://github.com/kubernetes/kubernetes/issues/36652

This is an example of an e2e that ssh's into a node https://github.com/kubernetes/kubernetes/blob/master/test/e2e/daemon_restart.go#L61

[2016-12-04 01:21] k8s-merge-robot opened #38054 "ci-kubernetes-e2e-gce-slow-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow-release-1.5/500/

Multiple broken tests:

Failed: [k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27703 #32981 #35286

Failed: [k8s.io] Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD

[2016-12-04 02:44] k8s-merge-robot opened #38055 "ci-kubernetes-e2e-gci-gce-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-release-1.4/973/

Run so broken it didn't make JUnit output!

[2016-12-04 02:54] MrHohn commented on #33405
Finally we got something. From this [failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/752):

[code]
Turned out what we suspected is correct. The iptables command itself failed. And seems like adding `-w` to wait for the xtables lock would be a better choice. Will send a PR soon to fix this case.

[2016-12-04 04:10] davidopp commented on #20064
Sorry, can you explain which part of https://github.com/kubernetes/kubernetes/issues/20064#issuecomment-212070819 you don't think we should do?

[2016-12-04 04:18] roberthbailey commented on #37981
@dchen1107 - is there a workaround other than upgrading the version of docker? What is the recommended docker version that we are planning to use for 1.5?

[2016-12-04 04:18] saad-ali commented on #37903
@lavalamp can you please help triage (or help find someone) this issue for 1.5 as blocking or non-blocking.

[2016-12-04 05:37] k8s-merge-robot opened #38060 "ci-kubernetes-e2e-gci-gke-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/93/

Run so broken it didn't make JUnit output!

[2016-12-04 05:41] frankgreco opened #38061 "kubernetes.default.svc.cluster.local not resolving"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.4.4

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g. `uname -a`): Linux master 3.10.0-327.36.3.el7.x86_64
- **Install tools**: kubeadm

**What happened**:
Am not able to resolve `kubernetes.default.svc.

[2016-12-04 06:23] justinsb commented on #37656
Marking as autoscaler as I think the node autoscaler is the logical place for it...

[2016-12-04 07:48] AdoHe commented on #38053
@garciaba so why would you like `context` to be empty?

[2016-12-04 07:52] garciaba commented on #38053
@AdoHe wouldn't, but if by chance you use the command above without setting the $CONTEXT environment, it gets the current context to "" and I didn't find a way back to switch to the default environment nor kube-system.

[2016-12-04 07:54] AdoHe commented on #38053
@garciaba so I think kubectl should validate argument, this could be a ux enhancement.

[2016-12-04 08:00] garciaba commented on #38053
@AdoHe definitely. But also, I can't switch back to use a different namespace, hence I had to specify the namespace every time I use kubectl. Or at least I couldn't find a way to do that.

[2016-12-04 08:58] k8s-merge-robot opened #38063 "ci-kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1.4/138/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27115 #28070 #30747 #31341 #35513 #37187

Failed: [k8s.io] SchedulerPredi

[2016-12-04 09:28] resouer commented on #37657
So I can reproduce it on upstream/master `host_path` easily, since it is a race, what I did is just mocking a slow volume plugin :
1. Adding `time.Sleep(10 * time.Second)` in `host_path.TearDown()`
2. Adding `time.Sleep(1 * time.Second)` in `operation_executor.generateUnmountVolumeFunc()`, this is not necessary, just try to make it easier to race.

Of course this issue does not break anything, onl

[2016-12-04 09:47] resouer commented on #37657
We can reproduce it by mocking a **slow plugin** by using HostPath.

1. Sleep 10 secs in `hostPath.TearDown()`
2. Sleep 2 secs in `operation_executor.generateUnmountVolumeFunc()`// just make it easier to create race

Then we can see when the last unmount task try to`MarkVolumeAsUnmounted`, the key of this volume has already been removed by the `right` unmount task. which also means the last unmoun

[2016-12-04 09:53] k8s-merge-robot opened #38064 "[k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/1408/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26138 #28429 #28737

[2016-12-04 12:42] xigang commented on #27436
@keontang Can you provide a detailed set up documents? HA cluster in the recent study of this.

[2016-12-04 13:29] k8s-merge-robot opened #38065 "ci-kubernetes-soak-gke-gci-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-gci-test/71/

Run so broken it didn't make JUnit output!

[2016-12-04 15:01] eviloop commented on #34698
I believe i have the same error as the original reporter as well, but I am not sure

Cluster 1.4.5 - 1.4.6
I see:
- Attach volume reporting succeeded attached in loop.
- Openstack shows the volume attached.
- Host has the volume attached on /dev/bla

- I see no error related with fdisk, udevadm or something else.
- I see no formated or mounted volume
- I see the same error as the original poster o

[2016-12-04 16:09] k8s-merge-robot opened #38066 "ci-kubernetes-e2e-gci-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/975/

Run so broken it didn't make JUnit output!

[2016-12-04 16:19] luxas opened #38067 "Multi-architecture plan for Kubernetes"
Background: I've implemented most of the multi-architecture Kubernetes has today, and wrote the proposal here: https://github.com/kubernetes/community/tree/master/contributors/design-proposals/multi-platform.md

Now it's time to continue improving the multi-arch experience as well.
Tasks to do:
 - Deprecate `armel` and use `armhf` images instead and use `GOARM=7` instead of `GOARM=6`
   - Motivati

[2016-12-04 16:37] KingJ opened #38068 "vSphere Volume Pod Attachment Times Out"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): vSphere, pod, timeout

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2016-12-04 17:55] hectorj2f commented on #35183
@smarterclayton Which are those concerns ?

With the current lifecycle either, you increase the container functionality to cleanup itself when calling the `PreStop` operation of the pod lifecycle (this is quite ugly when those operations aren't related to the container logic :/ ); OR you have to hack some pods to be scheduled once you run a delete operation to do the cleanup. Both alternative are

[2016-12-04 19:22] metral opened #38069 "VpcLimitExceeded: The maximum number of VPCs has been reached"
Hitting this flake during testing:

`error running task "vpc/aws-kops-agent-pr-17-0.test-aws.k8s.io" (9m45.748449064s remaining to succeed): error creating VPC: VpcLimitExceeded: The maximum number of VPCs has been reached`

Output & logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/38032/pull-kubernetes-e2e-kops-aws/2715

https://k8s-gubernator.appspot.com/build/kuber

[2016-12-04 19:52] roldancer commented on #16284
Hi All, From the compatibility perspective, Kubernetes should support all DNS's SVR format, I mean old and new.

[2016-12-04 20:43] frankgreco commented on #38061
Turns out that `alpine linux` breaks a lot of service discovery according to [this](https://github.com/janeczku/docker-alpine-kubernetes). However, adding the resolver line to my `nginx.conf` should fixed that but it didn't. Switch my base container image to `centos` and it worked. Closing this issue as it seems to be related to alpine linux.

[2016-12-04 20:43] #38061 closed

[2016-12-04 21:46] k8s-merge-robot opened #38070 "ci-kubernetes-e2e-gci-gce-ingress-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress-release-1.5/776/

Run so broken it didn't make JUnit output!

[2016-12-04 22:22] broady opened #38072 "Updating a deployment scales existing RS to 0 before new RS is ready"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
https://github.com/kubernetes/kubernetes/issues?page=1&q=is%3Aissue+is%3Aopen+rolling

[2016-12-04 22:48] mtaufen commented on #32215
@ncdc @thockin @mikedanese
A potential benefit of a separate struct for flags is that we can temporarily nest the serializable config struct in it, change all legacy flags to target the flags struct, mark all legacy flags deprecated, and in 1.8 remove the nested config struct from the flag struct, and use compile time errors to enumerate all legacy flags that need to be removed.

I would eventuall

[2016-12-04 23:12] k8s-merge-robot opened #38073 "ci-kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/103/

Run so broken it didn't make JUnit output!

[2016-12-05 00:17] brendandburns commented on #37439
Closing this.  Investigation shows that it was a duplicate of: #37560

(look at: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1949/artifacts/35.160.18.19/kubelet.log) to confirm that the kubelet crash signature looks the same.

[2016-12-05 00:17] #37439 closed

[2016-12-05 00:57] kargakis commented on #35355
MinReadySeconds has always been dependent on the relist of its controller (for Deployments until 1.4 and moved to ReplicaSets (https://github.com/kubernetes/kubernetes/pull/34548) for 1.5). The Deployment resync interval is tighter so that's probably why the 1,3 test is failing? I don't see the specific test (`testRolloverDeployment`) though using MinReadySeconds...

Anyway, the real fix for MinRe

[2016-12-05 01:00] JackTiger commented on #34321
Hi, @Bashton-MattBuckland, Thank you for your detailed answers. As you said, if I use 5 pods, the probabilities of every pod is 1/5. But I actually test, I run the same server in every pod to receive restful http request, and I send the request from the client at the same time, I find that not all the pod handle the request, some requests are handled by the same pod from the log description. So I

[2016-12-05 01:03] kargakis commented on #35355
Hm, probably was in 1.3 :)

[2016-12-05 01:15] jdanbrown opened #38075 "kubectl: Bad creds get cached in ~/.kube/config, causing user confusion until expiry (or manual file edit)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
- No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
- kubectl "does not allow access"

---

**Is this a BUG REPORT or FEATURE REQUEST?*

[2016-12-05 01:54] kargakis commented on #35355
Opened https://github.com/kubernetes/kubernetes/pull/38076

[2016-12-05 02:17] k8s-merge-robot opened #38077 "ci-kubernetes-e2e-gci-gke-staging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging/67/

Run so broken it didn't make JUnit output!

[2016-12-05 03:41] #25314 closed

[2016-12-05 04:10] vishh commented on #38028
IIUC, STDIO of systemd services are handled by journald. If Journald were to restart, then all other services will also have to restart. I wonder why journald isn't supporting restarts using named pipes for example.... Some info [here](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=771122).

For the near term, we should be protecting journald from restarts. @adityakali @Amey-D can we set journa

[2016-12-05 04:13] r-tock commented on #37853
@bprashanth thanks for that tip, I now have clear pattern of what is happening. From on rare occasions the network connection resets. That causes sudden CPU spike on the node regardless of what is running on the node (we have different clusters with different jobs (haproxy, java http server etc etc)).

[code]

[2016-12-05 04:57] chakri-nelluri commented on #37626
@mccormd Sorry for the tardy response. I am on PTO and didn't get a chance to catch up on the emails.
Thank you for the feedback.
Today, we don't have a way to delegate isMountPoint check. I will make a note of it for the V2 proposal.

[2016-12-05 05:15] dalanlan commented on #25318
Any update on this thread?

[2016-12-05 05:19] k8s-merge-robot opened #38081 "ci-kubernetes-e2e-gci-gce-autoscaling-migs: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling-migs/695/

Run so broken it didn't make JUnit output!

[2016-12-05 05:38] justinsb opened #38082 ""Unable to perform initial Kubernetes service initialization" prevents master replacement"
When using kops, we replace the master regularly (and normally change IP addresses) as part of upgrades.  I observed this failure when upgrading to 1.5 beta.1 -> beta.2:

[code]

The kubernetes endpoint was indeed not updated:

[code]

It wasn't the cleanest repro (I was updating from beta.1 -> beta.2, while also doing an AMI update for a kernel upgrade etc); going to see if I can get more data.

[2016-12-05 05:41] thockin commented on #16284
I'm not clear what you mean.  Can you tell me exactly what you think should
be supported that isn't?

On Sun, Dec 4, 2016 at 11:53 AM, Cristian <notifications@github.com> wrote:

[2016-12-05 05:41] justinsb commented on #38082
Update 1: Manually updating the endpoint using `kubectl edit endpoints..` caused the cluster to recover immediately.

[2016-12-05 05:45] AdoHe commented on #38082
some backward compatibility issue?

[2016-12-05 05:45] thockin commented on #38067
For the myriad images that we build that are 'from busybox' or 'from
alpine', we need stable, maintained base images for each arch.

There appear to be several for busybox, but NOT for alpine (also, don't
forget the apkg packages we need)...

On Sun, Dec 4, 2016 at 8:20 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-12-05 05:50] k8s-merge-robot opened #38083 "[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality Scaling should happen in predictable order and halt if any pet is unhealthy {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/932/

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality Scaling should happen in predictable order and halt if any pet is unhealthy {Kubernetes e2e suite}

[code]

[2016-12-05 05:57] davidopp commented on #25318
In general the "move XXX to beta" features where XXX is currently expressed using an annotation, are waiting for a decision on how we want field-level versioning to work (kubernetes/kubernetes#34508). If we can find someone to do multi-scheduler to beta for 1.6 then we will, but affinity and taints/tolerations are higher on the priority list based on the feedback collected from sig-scheduling.

[2016-12-05 06:14] justinsb commented on #38082
I think not @AdoHe, because I have more details...   It's actually pretty easy to trigger: just delete the master instance on a kops cluster.  The replacement comes up with a new IP but the same version (and same etcd data), the old IP is still there and we get the same error.  `kubectl edit endpoint -n default kubernetes` to fix the IP repairs the cluster.

Based on the error message, I guess we

[2016-12-05 06:18] Pensu commented on #37790
@ixdy go1.8beta1 has already been released. I guess stable go1.8 would be coming sometime mid feb-2017. Can we align k8s v1.6 release to that timeline or would it be before that?

[2016-12-05 06:31] lichen2013 commented on #36220
Hi,

I have a similar idea, to use a haproxy deployment between the service and pods, can this work ?

![elb in kubernetes](https://cloud.githubusercontent.com/assets/3983266/20875645/5677bc08-baf7-11e6-831f-8a7bd95954af.png)

[2016-12-05 06:57] sttts commented on #37961
The mock server has no reference to 5050. Why does the mesos client still connect to 5050?

[2016-12-05 07:23] justinsb opened #38087 "Remove reviewable: requires write-access"
Can we stop using reviewable?  Github code review is now better than it used to be, and sadly reviewable needs read/write access to all the repos you can see, which is a barrier to my using it.

The kicker is that, if someone does a review in reviewable, it is hard to understand the review without going into reviewable.  It just becomes an unnecessary barrier to PRs going smoothly when they are sp

[2016-12-05 07:40] resouer commented on #38087
Could you please explain the problem? I am not quite understand the barrier.

[2016-12-05 07:47] xingzhou commented on #25579
I didn't see corresponding versions in the "kubectl get nodes -o wide" right now(code from master branch), and I'd like to investigate on adding the kubelet version/osImage/kernel version to the command's output. Please let me know if this is invalid now.

[2016-12-05 07:53] justinsb commented on #38087
Sure @resouer!  In increasing order of unacceptableness:

1) I don't _want_ to give reviewable the rights to write to github in the kubernetes project as me, even if k8s considers it OK
2) I don't _want_ to give reviewable the rights to read my private projects in my org
3) I _really_ don't want to give reviewable the rights to write my private projects in my org
4) I _can't_ give reviewable the r

[2016-12-05 08:58] soltysh commented on #37965
How this is different from `kubectl patch`?
[code]
vs
[code]
? I am aware that with the latter a bit more thought is required to write the json, but I'm seeing the two pretty similar. Eventually we could extend `patch` with an option `--from-file`, imho.

[2016-12-05 08:58] gmarek commented on #37543
It seems that api-server proxy wasn't able to connect to this Node, but there are no logs, so it's impossible to know what happened.

[2016-12-05 09:07] lansz commented on #38069
This is not an issue of k8s, you need file a case to AWS support increase your VPC limit, which default number is 5.

[2016-12-05 09:16] Stono commented on #28718
I need this in my Production life.

[2016-12-05 09:52] workhardcc opened #38095 "Why not add container's diskio limit?"
For now k8s has  Pod CPU and Memory Limits. But sometimes we also need diskio limit.
I can `echo "8:16 52428800" >blkio.throttle.write_bps_device` for one container, but it's not automate, cause  I don't know which node will be used by this time for this pod . At the same time I need figure out which device will be use(I mean device number, like 8:16).
I think maybe k8s do this more better.

[2016-12-05 09:59] #38095 closed

[2016-12-05 10:00] pigmej commented on #38087
cc @thockin

@justinsb reviews with reviewable are just easier especially when someone rebases stuff. But yeah the permisson model etc is bad. But frankly speaking I don't see github reviews as an alternative (it's just mess).

[2016-12-05 10:21] k8s-merge-robot opened #38096 "ci-kubernetes-soak-gci-gce-1.5-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-1.5-test/65/

Multiple broken tests:

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28297 #37101

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usag

[2016-12-05 10:41] #35015 closed

[2016-12-05 10:44] suonto opened #38098 "OpenStack Cinder: upon node failure kubernetes fails to relocate pods with cinder volumes"
### Bug Report

**Kubernetes version** (use `kubectl version`): v1.4.6, v1.5.0-beta.2

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): Centos7

**What happened**: When kubernetes relocates a pod that has a persistent volume from cinder, the pod will never start because the volume cannot be attached as it is already attached to anothe

[2016-12-05 10:49] k8s-merge-robot opened #38099 "ci-kubernetes-e2e-gci-gce-kubenet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kubenet/1044/

Run so broken it didn't make JUnit output!

[2016-12-05 11:11] k8s-merge-robot opened #38100 "ci-kubernetes-e2e-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging/65/

Multiple broken tests:

Failed: [k8s.io] Downward API volume should provide container's memory request {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29707

Failed: [k8s.io] EmptyDir volumes should support (root,0777,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]
Issues ab

[2016-12-05 11:15] suonto commented on #38098
@kiall @dagnello @anguslees have you guys encountered this? It's trivial to fix this here, example:
[code]

Yet I wonder whether it's the right place for the fix. The most intuitive fix would be to make ejecting pods also detach their disks from the compute nodes. What do you guys think?

[2016-12-05 12:16] kad opened #38103 "Cleanup non-official branches from kubernetes repository."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): branch, revert

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

[2016-12-05 12:18] jsafrane commented on #37802
@ixdy: thanks for a quick fix

[2016-12-05 12:38] mortenlj commented on #27796
In the kubernetes/helm repository, somewhere in the process before creating a PR, I got directed to the Google CCLA form. After creating the PR, the LF CLA bot came in and directed me to the CNCF CCLA form.

You probably need to fix that first link, as it causes confusion and extra work for managers (which rarely is a good thing :)).

[2016-12-05 12:44] duglin commented on #15128
Based on the chat here, and https://github.com/kubernetes/kubernetes/issues/1362, it appears that "fieldSelector" isn't really supported (except in a few cases, like Pods).  Yet http://kubernetes.io/docs/api-reference/v1/operations/ seems to show it as a valid query param whenever "labelSelector" appears in the GET operation. Would it make sense to remove it from the docs to avoid any confusion fo

[2016-12-05 12:44] jsafrane commented on #37964
I don't know anything about ESIPP and its handling of updates to source ip annotation, @bprashanth has written the test

[2016-12-05 12:47] #37445 closed

[2016-12-05 12:55] AdoHe commented on #32702
@pwittrock this can be closed, please close it.

[2016-12-05 12:56] AdoHe commented on #32700
@pwittrock this can be closed too.

[2016-12-05 12:57] AdoHe commented on #32699
@pwittrock and also this one.

[2016-12-05 13:26] SeMeKh opened #38105 "Scheduler crash"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): `Ubuntu 16.04 LTS (Xenial Xerus)`
- **Kernel** (e.g. `uname -a`): `Linux 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

[2016-12-05 13:32] deads2k commented on #37965
Create a config map that contains a `master-config.yaml` and then write the patch you need to mutate a field.  This would solve that use-case in a far more reasonable way.

It gets even worse with secrets since they are base64 encoded.

[2016-12-05 13:41] #29255 closed

[2016-12-05 13:57] majewsky commented on #37566
What about `rolling-restart`?

[2016-12-05 14:13] soltysh commented on #37965
How about then extending patch with the ability to limit the scope to a single field? This seems very similar to how `kubectl patch` operates, imho.

[2016-12-05 14:15] kargakis commented on #37566
@majewsky rolling restart has its own issue (which is different from normal upgrades imo)
https://github.com/kubernetes/kubernetes/issues/13488

[2016-12-05 14:21] henrynash opened #38109 "hack/etcd script can fail with pipe error 141 in some circumstances"
Our hack/etcd script contains a line to verify the version of etcd running:

  version=$(etcd --version | head -n 1 | cut -d " " -f 3)

This is not safe since, depending on your processor and timing configurations, a SIGPIPE from head completing can cause the whole command to fail with error 141. A trick to get round it is to use tail ahead of the head command like this:

  version=$(etcd --versio

[2016-12-05 14:22] henrynash commented on #31338
I think I managed to work out what is wrong here: See: hack/etcd script can fail with pipe error 141 in some circumstances #38109

[2016-12-05 14:25] derekwaynecarr commented on #37554
This is fixed via https://github.com/kubernetes/kubernetes/pull/37721

[2016-12-05 14:29] majewsky commented on #37566
But isn't step 2 described in the first comment exactly a rolling restart? The main difference in a rolling update is that you create a new object (either ReplicationController or ReplicaSet) of the same type, whereas with a DaemonSet, you don't really have any other option than to update it in-place and then issue a rolling restart.

[2016-12-05 14:34] henrynash commented on #31232
I think I managed to work out what is wrong here: See: hack/etcd script can fail with pipe error 141 in some circumstances #38109

[2016-12-05 14:34] deads2k commented on #37965
It wasn't strictly rhetorical.  You'll end up with a patch about 100 lines long.

[2016-12-05 14:36] suonto commented on #35056
@grahamhayes you're absolutely right, this is a critical issue (if you enable security group management). The dangerousness of aggressive cleanups has already been discussed in detail in this thread: https://github.com/kubernetes/kubernetes/pull/33276. I hope you guys can fix this.

[2016-12-05 14:41] davidmckayv commented on #37704
#dibs

[2016-12-05 14:42] AdoHe commented on #31553
@soltysh @janetkuo an alternative approach is use GC controller instead of reaper, wdyt?

[2016-12-05 14:42] soltysh commented on #37965
I'm worried we're messing two behaviors here. Edit by its nature edits the entire object, patch not matter if 2 lines long, or 1000 touches part of an object, still.

[2016-12-05 14:42] soltysh commented on #31553
@AdoHe yes, this will be implemented as GC, no more reapers.

[2016-12-05 14:44] kargakis commented on #37566
The DaemonSet will not restart pods, but rather roll out new pods over old pods.

[2016-12-05 14:47] deads2k commented on #37965
And yet, patching a key in a configmap is a replacement of an entire field (you choose the field to patch, but you must replace the entire value) and that involves escaping and base64 encoding inside of your patch.

[2016-12-05 14:47] kargakis commented on #37965
@soltysh edit also uses patch.

[2016-12-05 14:56] jwforres commented on #37965
speaking from a user experience side, patch is not an acceptable answer.  There is a legitimate use case for needing to update large blobs for a single key in both config maps and secrets.  For secrets what happens when you need to update your cert because it expired.  I agree with @deads2k that having to generate a base64 encoded multi-line blob in a patch is NOT the way to go.

[2016-12-05 15:05] majewsky commented on #37566
Ah, I see your point. So it would be something like `rolling-replace` or `rolling-recreate`?

[2016-12-05 15:08] jsafrane commented on #37843
@chrislovecnm, deleting PVs in Kubernetes is very dangerous operation. If there is a `PersistentVolumeClaim` (PVC) bound to it it will get `Lost` and you've effectively lost your data without any way how to repair it.

As a user, when you're done with your pet set and you want to release the underlying storage (AWS EBS) you should delete the PVCs instead. Kubernetes will delete PVs automatically i

[2016-12-05 15:10] jsafrane commented on #37843
`SchedulerPredicates failed due to PersistentVolume 'pvc-c1022dae-b770-11e6-8a9b-12360934d5c8' not found, which is unexpected.`: thats exactly what happens when you delete a PV and have a PVC that points to it.

[2016-12-05 15:36] luxas commented on #37790
@Pensu In #38067 I outlined that ppc64le will/should start working again in time for v1.6, thanks to using go1.8

We should move arm and ppc64le over to go1.8betas as soon as possible

[2016-12-05 15:41] fabxc opened #38113 "Sub-resources for Custom Resources"
_Feature Request_

Custom controllers can be implemented on top of TPRs (e.g. [prometheus-operator](https://github.com/coreos/prometheus-operator) and [etcd-operator](https://github.com/coreos/etcd-operator).
In our custom resources we still want to provide a `status` field which is updated by the controller, to inform about the current status of whatever is being managed by the TPR's controller.

[2016-12-05 15:44] k8s-merge-robot opened #38114 "ci-kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/1607/

Run so broken it didn't make JUnit output!

[2016-12-05 15:51] metral opened #38116 "AWS + kops: Request limit exceeded across SecurityGroup & InternetGateway"
Hitting various flakes around request limits when running tests for kops on AWS:

`I1204 18:58:10.553] security-group:sg-71444108	error deleting resource, will retry: error describing SecurityGroup "sg-71444108": RequestLimitExceeded: Request limit exceeded.`

`I1204 19:01:27.769] internet-gateway:igw-1ffe9f7b	error deleting resource, will retry: error describing InternetGateway "igw-1ffe9f7b": Re

[2016-12-05 15:51] alfirin commented on #32542
👍

[2016-12-05 15:53] fabxc opened #38117 "Validation for Custom Resource contents"
_Feature Request_

When adding objects for a TPR type, create and update operations succeed as long as the contents are valid JSON. The closest thing to user feedback controllers of those TPRs can provide is emitting of an event, which is asynchronous. In practice, we want to prevent invalid objects to be stored from the server side in the first place and also give them useful feedback on what is

[2016-12-05 15:57] enm10k opened #38118 "kubeadm failed to start kube-dns"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubeadm, kube-dns

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-12-05 16:01] fabxc commented on #22768
Are there any ideas yet on how the migration path would look like if TPRs hit beta state? This is fairly important for anyone releasing controllers on top of v1alpha1.

[2016-12-05 16:02] xiaolou86 commented on #38067
mark, to learn later

[2016-12-05 16:08] pires commented on #35993
I can confirm this issue as well.

[2016-12-05 16:15] sachincab commented on #21397
Will this be part of 1.5 release?

[2016-12-05 16:22] soltysh commented on #37965
I spoke with Jessica and David more about this on IRC. I got persuaded that if this proposal addresses the use-case of being able to edit configmap/secret value only then I'm ok with it. Here's what I mean with that.
Assume I have a big XML file being part of my config map, I'd like to be able just to edit the file itself, iow. the configmap value as if I normally execute `vim mybigconfig.xml` on

[2016-12-05 16:44] #32702 closed

[2016-12-05 16:44] #32700 closed

[2016-12-05 16:49] smarterclayton commented on #37566
Rolling recreate is interesting, although it might imply that it updates
all pods.  rolling-apply is interesting....

On Mon, Dec 5, 2016 at 10:06 AM, Stefan Majewsky <notifications@github.com>
wrote:

[2016-12-05 17:04] pmorie opened #38120 "Move to UnixUserID and UnixGroupID in API fields"
Currently in the API there are a number of fields that correspond to a unix user id or group id which are typed as `*int64`.  We also have, in `pkg/types/unix_user_id.go`, typedefs for `UnixUserID` and `UnixGroupID`, but these are unused.  I don't see any compatibility issues with migrating the API to use these types, and so we should.  If we do not plan to use the types, we should delete them.

[2016-12-05 17:04] pmorie commented on #38120
@kubernetes/api-review-team

[2016-12-05 17:19] krousey commented on #37981
@dchen1107 Where did you find that message? Also, how does failing to pull a docker image cause the node to stop reporting its status?

[2016-12-05 17:34] hongchaodeng commented on #37994
@caesarxuchao
How to reproduce it?
Ideally we can have a unit test for it.

[2016-12-05 17:42] grahamhayes commented on #35056
Yup - I have a larger refactor, that ensures this, and a few other edge cases we have found in our development.

It is in massive need of a rebase though, so I will need a day or 2 of uninterrupted time to get it together

[2016-12-05 17:45] deads2k commented on #22768
Given the shortcomings of the API as a whole, the potential for auto-created naming conflicts which are impossible to resolve and inconsistencies between metadata for storage versus metadata from the API, I'm not sure that backwards compatibility will be maintainable when we try to fix it.  The TPR resource itself is missing data and then the thirdpartydata storage allows inconsistencies which are

[2016-12-05 18:00] ericchiang commented on #37876
So I think the solution here is to cache transports like transport.New does. @liggitt that sound correct?

[2016-12-05 18:20] dchen1107 commented on #37981
@roberthbailey Each docker version has different bugs required to workaround. In 1.5 timeframe, we didn't plan to upgrade docker version.

@krousey I saw what you said here. The node first hits docker issue I reported above. I saw that message from build-log. Some tests failed due to that failure. Later I saw the error message you reported. I took a deep look at the nodes of 172 run, and I believe

[2016-12-05 18:24] kargakis commented on #38072
When you create a Deployment that does not specify the strategy, the deployment will be defaulted by the system to the Rolling strategy (so far so good) but it also defaults to rolling parameters that can make your app become totally unavailable (see https://github.com/kubernetes/kubernetes/issues/23304). I suggest switching MaxUnavailable to a non-100% percentage (currectly it should be 1 (absolu

[2016-12-05 18:32] dchen1107 commented on #37981
I don't think so. But if that is true, then my above statement is still right since there are only 3 nodes when the cluster is created, no other nodes come up.

[2016-12-05 18:33] krousey commented on #37981
And unfortunately, current runs are timing out since test infra changed the upgrade jobs to bootstrap in https://github.com/kubernetes/test-infra/pull/1263/. Some had timeouts of 2 hours. https://github.com/kubernetes/test-infra/pull/1291

[2016-12-05 18:38] kargakis commented on #35183
Lifecycle hooks for different objects (eg. Deployments) discussed elsewhere:
https://github.com/kubernetes/kubernetes/issues/140
https://github.com/kubernetes/kubernetes/issues/3585
https://github.com/kubernetes/kubernetes/issues/14512

Also custom strategies are related to this -  having the ability to customize the lifecycle of X means you can add your own hooks anywhere you want in the process.

[2016-12-05 18:38] kargakis commented on #35183
@kubernetes/sig-apps

[2016-12-05 18:39] foxish commented on #38113
cc @kubernetes/sig-api-machinery

[2016-12-05 18:39] dmrub commented on #28988
This issue has something to do with IPv6, running curl with --ipv4 option and localhost:<nodeport> argument works for me.

[2016-12-05 18:41] broady commented on #38072
@kargakis Ah, I see. Thanks Setting `MaxUnavailable=0` should have my desired effect, right?

[2016-12-05 18:42] kargakis commented on #38072
Yes, you can also simply set it to 0.

[2016-12-05 18:42] deads2k commented on #38113
Providing a `/status` subresource requires semantic knowledge of the type being stored.  By their nature, TPRs do not provide that semantic knowledge to the API server hosting them.  I don't think we should get into the business of interpreting what various fields inside of a TPR mean (barring perhaps `metadata`), so I think that if you want to have that degree of control, you should create your o

[2016-12-05 18:42] broady commented on #38072
This seems like a bad default. Was there a reason behind it?

[2016-12-05 18:43] foxish commented on #38103
cc @kubernetes/contributor-experience

[2016-12-05 18:43] bprashanth commented on #36220
@dgonzalez  do you really want to couple the deployment of the loadbalancer to the exposure of a single backend, or do you just want a loadbalancer implementation for bare metal (and deploying one lb per pod is just a means to an end)?

[2016-12-05 18:45] kargakis commented on #38072
I don't think there was a specific reason for it. There is already an open PR for changing that default (https://github.com/kubernetes/kubernetes/pull/34339) but we need to also move Deployments to a new api version (v1beta2 I guess) before merging it.

cc: @kubernetes/deployment

[2016-12-05 18:49] foxish commented on #36034
@kow3ns @enisoc We should probably warn against this in the SS concept doc as well?

[2016-12-05 18:52] broady commented on #38072
Yeah, it's a dangerous default to change. People may rely on the fact that only one pod of that kind is running at any time.

[2016-12-05 18:52] foxish commented on #36337
This test no longer runs on this alpha features Jenkins job. Closing.

[2016-12-05 18:57] broady commented on #38072
I tried `maxUnavailable: 0` and now see the old container only terminate after the new one is ready, but traffic is not routed via the LoadBalancer service for a couple minutes.

Separate bug?

[2016-12-05 18:58] kargakis commented on #38072
Yes, that should be a separate bug specific to the LoadBalancer you use I guess.

[2016-12-05 19:00] krousey commented on #37981
@dchen1107 I believe the VMs are recreated with the same name. Activity logs in the cluster show deletes followed by creates of the same name.

[2016-12-05 19:01] yujuhong commented on #17525
#37865 may help a little bit. Kubelet will report node not ready if the periodic `docker ps` doesn't report back in time.

[2016-12-05 19:05] foxish commented on #37373
This was fixed once we [enabled the API group in GKE](https://github.com/kubernetes/kubernetes/issues/37393). Closing.

[2016-12-05 19:05] #37373 closed

[2016-12-05 19:06] foxish commented on #36688
The alpha jenkins job no longer runs this test. Closing.

[2016-12-05 19:06] #36688 closed

[2016-12-05 19:06] saad-ali commented on #36230
Ack.

[2016-12-05 19:06] foxish commented on #36677
The alpha jenkins job no longer runs this test. Closing.

[2016-12-05 19:06] #36677 closed

[2016-12-05 19:07] foxish commented on #36658
The alpha jenkins job no longer runs this test. Closing.

[2016-12-05 19:07] #36658 closed

[2016-12-05 19:08] saad-ali commented on #33405
Spoke with @MrHohn, marked as non-release-blocker with same reason as https://github.com/kubernetes/kubernetes/issues/36230

[2016-12-05 19:10] saad-ali commented on #37843
Going to mark this as non-release-blocker. Holler if you disagree

[2016-12-05 19:12] kow3ns commented on #36034
I think we should remove it from the examples, but I don't see a clear reason to add it to the StatefulSet concept. imo, terminationGracePeriod should be dealt with in the Pod and Pod lifecycle documentation because it is not specific to StatefulSet.

[2016-12-05 19:13] ixdy opened #38126 "rename build-tools/ back to build/"
As part of the Bazel effort, in #35453 we had to rename `build/` to `build-tools/`, as `build/` and `BUILD` conflicted on case-insensitive filesystems (like macOS).

Bazel 0.4.1 has now been released, which includes the fix for https://github.com/bazelbuild/bazel/issues/552, allowing us to use `BUILD.bazel` instead of `BUILD`.

I'd like to rename `build-tools/` back to `build/`, to be consistent w

[2016-12-05 19:15] ixdy commented on #38126
We probably don't want to do this on master until we're ready to cherry-pick to 1.5, as otherwise other cherry-picks to 1.5 that affect `build-tools/` or `build/` will get pretty messy.

[2016-12-05 19:15] foxish commented on #37051
This jenkins job no longer runs this test. Closing.

[2016-12-05 19:15] #37051 closed

[2016-12-05 19:16] ixdy commented on #35359
FYI we should be able to rename back to `build/` now. https://github.com/kubernetes/kubernetes/issues/38126

[2016-12-05 19:18] liggitt commented on #38113
I agree

[2016-12-05 19:18] kow3ns commented on #35183
It sounds like what you are looking for is analogous to an [init cotainer](http://kubernetes.io/docs/user-guide/pods/init-container/) except that it runs after the pod is shutdown. Would a feature like this, lets call it a de-init container, be suitable to your requirements?

[2016-12-05 19:19] ixdy commented on #38066
3 timeouts. I'm not sure what it's doing.

[2016-12-05 19:19] mfischer-zd commented on #10439
@thockin

This is a meta issue, but I'd like to make sure that if we start going down the road of implementation, we actually stand a chance of getting our code into core.  The pattern we've seen for many PRs where people with commit bits endlessly criticize it and ask us to perfect it ourselves, without any assistance, discourages us from such undertakings, particularly if they're significant cha

[2016-12-05 19:26] kargakis commented on #38072
Closing this as a dupe of https://github.com/kubernetes/kubernetes/issues/23304

[2016-12-05 19:26] #38072 closed

[2016-12-05 19:26] MrHohn commented on #37932
This is intended because these iptables rules will be examined from top to bottom.

Take your case as an example:
[code]
When it reach the first rule, there are still 5 possible endpoints to choose from. Hence the possibility should be set to 1/5 to achieve equality.
If the first endpoint has not be chosen, we have 4 possible endpoints left to choose from. Hence the possibility should be 1/4 now.

[2016-12-05 19:28] foxish commented on #38113
Writing one's own APIServer to support one's type seems like a lot of effort.

I feel like there is value in this request. We have several applications making use of third party resources to communicate state with k8s (for example, with Spark native support, we use TPRs to make the usually opaque state of Spark jobs visible to k8s). The ability to include semantic information in a TPR and providin

[2016-12-05 19:33] kargakis commented on #28475
You need to have specified either metadata.labels in the pod template or spec.selector (the one that's missing will be defaulted to the other) for the Deployment to work (create new pods and label them so they can be partitioned from other pods).

[2016-12-05 19:33] #28475 closed

[2016-12-05 19:37] roberthbailey commented on #37981
That is correct. It's similar to the way that [upgrade.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh) works.

[2016-12-05 19:40] kargakis commented on #26818
Another reason for missing history is rollbacks. When you rollback the old replica set becomes the new thus you lose the information that you had an old replica set. Fortunately, we added a new annotation that stores old revisions a replica set has served in https://github.com/kubernetes/kubernetes/pull/34249. I am still not convinced about exposing this to `kubectl rollout history` though..

[2016-12-05 19:40] enisoc commented on #36034
I think it makes sense to add a warning to the StatefulSet concept doc. StatefulSet promises to ensure at most one instance of a given ordinal. It could silently fail to deliver on that promise if you set the grace period to zero. That interaction is too specific to make sense in Pod docs.

[2016-12-05 19:41] kargakis commented on #27003
@kandycs closing this one, please let us know if you have any more problems with this issue.

[2016-12-05 19:41] #27003 closed

[2016-12-05 19:43] pwittrock commented on #37592
Since you are working on drain stuff already.  Should sync up with @bprashanth to make sure uncordoning is always the right thing to do.

[2016-12-05 19:43] JonathanFraser opened #38129 "kube-proxy fails to recover from out of disk"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No, bug report

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kube-proxy, kube-proxy not ready, kube-proxy fails to recover

---

**Is

[2016-12-05 19:44] kargakis commented on #23885
Once we add MaxUnavailable in PDB, that should do it. We probably need to switch `kubectl delete` and the controllers to use the Eviction subresource. Finally, we need MinReadySeconds in Pods.

cc: @mwielgus @davidopp @ymqytw

[2016-12-05 19:44] fabxc commented on #38113
I get the general sentiment. Similar points apply and were raised on validation for TPRs (#38117). If its decided that TPRs will definitely stay opaque to Kubernetes, we'll have to deal with it. In fact, providing a status endpoint ourselves is what we decided to do in the meantime for the [Prometheus Operator](https://github.com/coreos/prometheus-operator).

For us and many people I talked to, th

[2016-12-05 19:44] rdtr commented on #29324
I see. Thank you for the information! I'm looking forward to the next release.

[2016-12-05 19:45] lavalamp commented on #37573
Oh. That's not very interesting.

[2016-12-05 19:45] #37573 closed

[2016-12-05 19:57] foxish commented on #35269
@kargakis, see https://github.com/kubernetes/kubernetes/issues/36034

[2016-12-05 20:00] kerneltime commented on #38068
@BaluDontu is this the same as https://github.com/kubernetes/kubernetes/issues/37022

[2016-12-05 20:01] foxish commented on #36034
I agree. Although it is not specific to StatefulSet, setting `terminationGracePeriodSeconds=0` is especially harmful when using them, as opposed to using other controllers.
Folks seem to be [using it alongside PetSets](https://github.com/kubernetes/kubernetes/issues/35269) probably due to old examples which had that value set. Maybe even pointing this out in the upgrade guide would be useful. @jan

[2016-12-05 20:04] broady opened #38132 "LoadBalancer delayed routing to pods after RollingUpdate"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

https://github.com/kubernetes/kubernetes/issues?page=3&q=is%3Aissue+is%3Aopen+loadba

[2016-12-05 20:06] mtaufen commented on #27980
Just posted a comment with my thoughts over in the proposal PR: https://github.com/kubernetes/kubernetes/pull/29459#issuecomment-264961734

Let's keep the conversation focused over there.

[2016-12-05 20:08] kshafiee opened #38133 "Deletion of SOME Federated Objects fails"
This issue applies to federation objects such as: secret, namespace, deployment
===================================================

NAMESPACE:
I used namespace.yaml as following to create namespace 'federation3'

[code]

The creation is successful. Upon deletion, namespace 'federation3' does NOT get deleted from underlying cluster, the STATUS goes to 'Terminating on federation. The error I get is

[2016-12-05 20:12] kshafiee commented on #38133
@madhusudancs @XiaoningDing @nikhiljindal

[2016-12-05 20:25] mogthesprog opened #38134 "Add support for Custom VNET in a different Resource Group in Azure"
**Feature Request**

Currently the Kubernetes Azure `cloudprovider` assumes kubernetes is deployed to the same Azure Resource Group as all of the dependencies. In my case our case we're interested in deploying kubernetes to a Virtual Network that sits in a different resource group to the cluster itself, this will enable us to deploy kubernetes to a subnet in a locked down vnet.

I think there migh

[2016-12-05 20:27] madhusudancs commented on #38133
cc @kubernetes/sig-cluster-federation

[2016-12-05 20:33] MHBauer commented on #15552
I just stumbled into this issue looking for past issues. The build output is probably a lot better now for unused imports. I think this could be closed.

[2016-12-05 20:33] bgrant0607 commented on #38113
Quick response for now: We should support common subresources needed by workload controllers, such as /status and /scale.

cc @erictune

[2016-12-05 20:38] foxish commented on #22768
Sub-resources for Third Party Resources: https://github.com/kubernetes/kubernetes/issues/38113

[2016-12-05 20:39] colemickens commented on #38134
I'm curious for @brendandburns thoughts on this.

I laid out the three options here: https://github.com/Azure/acs-engine/issues/120#issuecomment-262757203

The easiest one is to simply remove the check where we inspect the subnet to make sure the route table is set correctly - the subnet/vnet references aren't used anywhere else. The second easiest is to add `vnetResourceGroup`. The hardest, but m

[2016-12-05 20:42] deads2k commented on #38113
The main reason that `/status` has value is the ability to control which bits of a resource a "normal" client can update and which bits of a resource a "privileged" client can update.  Doing this means interpreting and stomping out certain parts of an object.

`/scale` is even more tenuous.  Each resource decides which part of its object gets controlled.  Its different for different resources.  Se

[2016-12-05 20:44] calebamiles commented on #37862
Any updates on this issue @caesarxuchao, @davidopp, @mwielgus? Please update this issue immediately, thanks!

**cc: @saad-ali, @dims**

[2016-12-05 20:46] davidopp commented on #37862
I'm marking this a non release blocker. Putting a big warning in the release notes is sufficient, if we can't implement the fix in time.

[2016-12-05 20:50] calebamiles commented on #37177
any updates on this issue @soltysh @krousey? Please update this issue immediately as it blocks the release. Thanks!

**cc: @saad-ali, @dims**

[2016-12-05 20:54] krousey commented on #32947
@janetkuo @kargakis Any update on this. It's causing the submit queue to block intermittently

[2016-12-05 20:59] calebamiles commented on #34060
Any updates on this issue @justinsb @ixdy? Please update this issue immediately as it's a release blocker. Thanks!

[2016-12-05 21:02] Demotivated commented on #37662
I see via #37867 has been placed in release-1.4 branch, any idea on where I can find when the next 1.4 release is planned?

[2016-12-05 21:07] robszumski commented on #37651
The pod ownership hasn't changed between:

1. list pods
2. delete RS
3. list pods

Here's what the ownership looks like:

[code]

After `kubectl edit`, the ownership looks the same. I waited about 5 min for the pods to disappear.

After that time, the RS did delete, but the pod still exists with the same owner reference and isn't being cleaned up.

[2016-12-05 21:11] soltysh commented on #37177
I was looking into https://github.com/kubernetes/kubernetes/issues/34383, but there it was about a definitive problem with jobs not failing on time, I suggested cherry-picking a fix from 1.5 fixing the problem. Here the problem is with removing namespace due to existing object. IIRC it's a problem still persistent even in 1.5. I've seen these reports, but I haven't dug into them, since I'm not too

[2016-12-05 21:14] ixdy commented on #37254
`golint` updated again, and it broke both `master` and `release-1.5`. We probably need to pin it for 1.5 at least.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.5/828/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/613/

[2016-12-05 21:18] anguslees commented on #38098
I vaguely recall raising that concern on the PR - or a related one.  In
general, if kubernetes and openstack disagree about where the volume should
be attached, is openstack correct (throw an error) or k8s correct (forcibly
adjust the existing volume)?

I think you're pointing out that we should just do whatever k8s is telling
us, and we probably need to audit a bunch of error returns for that.

-

[2016-12-05 21:18] saad-ali commented on #38082
CC @lavalamp

[2016-12-05 21:25] hjacobs commented on #38117
@fabxc my 2 cents: JSON schema would be good for users without "deep" integration, i.e. it would nicely fit to allow specifying a [JSON schema](http://json-schema.org/) when creating a TPR. The "HTTP callback" on the other hand would also require building a HTTP service for each use case thus introducing additional burden for users.

FYI: We are currently using TRD to allow defining required OAuth

[2016-12-05 21:26] caesarxuchao commented on #37994
@hongchaodeng Here is the unit test for reproducing:
https://github.com/caesarxuchao/kubernetes/blob/etcd-error-reproduce/pkg/storage/etcd/etcd_helper_reproduce_test.go#L26

You need to start a v2.2.1 etcd server locally. The test is expected to fail with error message: `client: etcd cluster is unavailable or misconfigured`.

[2016-12-05 21:26] lavalamp commented on #38082
Probably the update code in apiserver should delete the entry if it is empty. But it's hard to understand how that could happen, since if apiserver is running that code at all, then it can't possibly be empty.

[2016-12-05 21:29] spxtr commented on #38087
Why did we start using it in the first place? I think I remember a few reasons:

1. Batched comments are nice. GitHub has since added batched review comments, but the author can't do a batched response.
2. When code changes due to a push -f, such as after a rebase, reviewable tells you what changed. On GitHub you still only see the new version. This is the most important thing reviewable does for

[2016-12-05 21:30] eparis commented on #37254
/me totally agrees for 1.5!

[2016-12-05 21:33] justinsb commented on #38082
A bit more of the log, in particular `W1205 05:56:14.299380       5 controller.go:392] Resetting endpoints for master service "kubernetes" to &TypeMeta{Kind:,APIVersion:,}`

[code]

[2016-12-05 21:35] eparis commented on #38087
Reviewable at least used to allow you to 'deny' the first request to read/write all public and private repos. It would later ask only for public repos.  Don't know if it still does that.

[2016-12-05 21:36] krousey commented on #37177
@derekwaynecarr Is this something you could take a look at?

[2016-12-05 21:36] hongchaodeng commented on #37994
@caesarxuchao

Have you tried if it fixes your issue?

[2016-12-05 21:37] justinsb commented on #38082
This is my fault - we had another issue on kops master (which I am running here), where we are passing ` --apiserver-count=0`.  So I think we are removing the master IP.  Going to verify, but I think a non-blocker.

[2016-12-05 21:38] liggitt commented on #37876
caching for process duration based on inputs used to construct the transport sounds right

[2016-12-05 21:42] hjacobs commented on #38132
I think terminating pods will lead to failing requests by default as there is no "connection draining" in Kubernetes --- you would have to manually toggle the app's readiness probe "just in time": https://github.com/RisingStack/kubernetes-graceful-shutdown-example

Not sure whether this is your issue (don't see the source of your app / Docker image).

[2016-12-05 21:42] BruceZu commented on #37833
[root@k8s-09 ~]#  kubectl logs kube-dns-654381707-e5x6z -c kube-dns --namespace=kube-system
[code]

[2016-12-05 21:42] saad-ali commented on #37853
Based on today's burndown meeting ([notes](https://docs.google.com/document/d/10186fm6wgPD6gdYaFS7ljJVV11LT152mqWb_6cjqAPU/edit?ts=58238f22#)) marking as release blocking for 1.5 until we have verification this is not a k8s 1.5 caused issue.

[2016-12-05 21:42] caesarxuchao commented on #37994
Yes, I tried and it's fixed.

[2016-12-05 21:43] BruceZu commented on #37833
[root@k8s-09 ~]#  kubectl logs kube-dns-654381707-e5x6z -c healthz --namespace=kube-system
[code]
[root@k8s-09 ~]#

Is this is root reason?

[2016-12-05 21:46] hjacobs commented on #38117
Original TPR issue mentions missing validation too: #95

[2016-12-05 21:47] hongchaodeng commented on #37994
Thanks @caesarxuchao . That sounds promising.

I agree with your solution. Comparing PrevValue doesn't make sense since we already compares PrevIndex.

I would also want to know what had made it fail to update the object. I will try to reproduce it and figure it out.

[2016-12-05 21:50] sjug opened #38138 "e2e/framework ClusterVerification only works against default namespace"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Not a request for help.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): I did not search, it's a code enhancement.

---

**Is this a BUG

[2016-12-05 21:55] mtaufen commented on #37896
Looks like image layer corruption to me. See: https://github.com/kubernetes/kubernetes/issues/33882#issuecomment-264075001 for similar issue triage.

[2016-12-05 21:56] broady commented on #38132
App source code:
https://gist.github.com/d68192f04e3ff50bf9bf7e90ee879077

I'll try altering the source code to drain requests. Makes sense that this might be the problem.

[2016-12-05 21:57] psaintlaurent commented on #37704
Feel free to correct me if I'm wrong on any of this since I've never looked at kubernetes code base before.

The code for the [node port repair controller](https://github.com/kubernetes/kubernetes/blob/v1.6.0-alpha.0/pkg/registry/core/service/portallocator/controller/repair.go#L76 ) and the[ ip cluster repair controller](https://github.com/kubernetes/kubernetes/blob/v1.6.0-alpha.0/pkg/registry/cor

[2016-12-05 21:57] eparis commented on #37853
Softlockups are always kernel bugs. Not userspace's fault. The kernel means it will panic which will either crash the node, or just kill the process in question. Most enterprise systems prefer to crash the node rather than run in what is obviously an unstable kernel state.

While it might be possible to work around this in userspace the real bug is (with 99.999% prob) in the kernel. If we can get

[2016-12-05 22:00] MrHohn opened #38140 "kube-proxy should have retry logic for iptables op failure"
From #7370.

Recently learned there are cases iptables command may fail(#38057). Especially when using old iptables version that does not support `-w` flag (wait for xtables lock). Without the `-w` flag, iptables command from kube-proxy may fail if kubelet is holding the xtables lock.

Checked the codes but did not find any direct retry logic in kube-proxy. What we do is simply log the error([ref]

[2016-12-05 22:04] BruceZu commented on #37833
but this command works
[root@k8s-09 ~]# kubectl --namespace=kube-system exec -it kube-dns-654381707-e5x6z -- nslookup kubernetes.default.svc.cluster.local 127.0.0.1
[code]

[2016-12-05 22:05] mogthesprog commented on #38134
Hadn't thought of the first option, quickly knocked together the [second option](https://github.com/mogthesprog/kubernetes/commit/d644796f50745345219152d9f18a41270f6ea02a). At least I think that's all is needed anyway, but i could be missing something.

I agree with you on the third option, especially about not having a breaking change. If we choose two then I'll raise a PR for the above change. B

[2016-12-05 22:06] ymqytw commented on #37592
cc: @erictune @davidopp

[2016-12-05 22:09] BruceZu commented on #37833
[root@k8s-09 ~]# kubectl get  deployment kube-dns --namespace=kube-system  -o yaml |grep local
[code]

[2016-12-05 22:12] colemickens commented on #38134
cc: @jpoon

[2016-12-05 22:14] #38109 closed

[2016-12-05 22:16] dchen1107 commented on #37853
r-tock@ when you mentioned the node running into the possible similar issue with 1.4.6, do you mean you never observe the the issue with previous release? Even something like 1.4.2? cc/ @jlowdermilk too since his script job show no production occurrences.

eparis@ yes, we do plan to kernel.softlockup_panic =1 with the image (#38001). The problem is that with the same images (same kernel), we saw f

[2016-12-05 22:17] broady commented on #38132
Confirmed. Combination of draining and the readiness check resulted in zero downtime:
https://gist.github.com/ac98158ccfd0c006de0bb0bc7d31a596

Sorry for the erroneous report.

[2016-12-05 22:17] #38132 closed

[2016-12-05 22:18] caesarxuchao commented on #37651
Could it be the controllers cannot connect to the apiserver? Do you happen to keep the apiserver log and controller manager log when the issue happens? Or is it easy to reproduce the bug?

[2016-12-05 22:19] caesarxuchao commented on #37862
I haven't got time to look at the bug yet.

[2016-12-05 22:22] anmolnagpal commented on #22799
Getting same Error

	root@ubuntu:~/kubernetes/cluster# KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
	... Starting cluster using provider: ubuntu
	... calling verify-prereqs
	Identity added: /root/.ssh/id_rsa (/root/.ssh/id_rsa)
	... calling kube-up
	~/kubernetes/cluster/ubuntu ~/kubernetes/cluster
	Prepare flannel 0.5.5 release ...
	Prepare etcd 2.3.1 release ...
	Prepare kubernetes 1.4.6 release ...

[2016-12-05 22:22] lavalamp opened #38142 "Expressing port ranges in pods/RS/deployments is very awkward"
Especially large ranges make for extremely bulky objects, and could trigger #37994.

[2016-12-05 22:26] bprashanth commented on #37853
fwiw I believe the kern log messages mentioned in https://github.com/kubernetes/kubernetes/issues/37853#issuecomment-264764391 are unrelated and benign, though I can't say for sure from the given snippet. You will see them with pod churn, the kernel is basically logging veth/eth0 information about the *container*.

[2016-12-05 22:27] saad-ali commented on #37254
@ixdy Are you working on pinning for 1.5?

[2016-12-05 22:29] ixdy commented on #37254
not ATM, though the breaking PR was reverted. @jessfraz said she might own pinning in https://github.com/kubernetes/test-infra/pull/1283#issuecomment-264982520.

[2016-12-05 22:30] saad-ali commented on #37903
Ping @lavalamp

[2016-12-05 22:31] r-tock commented on #37853
@dchen1107 @bprashanth CPU spikes started happening on our java server dedicated clusters with 1.4 (which I believe is the switch to GCI) and every minor version after. Up until a few days ago, we were running our HAProxy dedicated clusters on 1.3.3 which had none of these issues. But ever since we upgraded we have been having this issue on that cluster as well.

I haven't seen any soft lockup spe

[2016-12-05 22:32] saad-ali commented on #37254
Ack, thanks. @jessfraz I'll keep an eye out for the PR/cherry-pick

[2016-12-05 22:32] jessfraz commented on #37254
ok cool will do!

[2016-12-05 22:35] BruceZu commented on #37833
update it to be
[root@k8s-09 ~]# kubectl get  deployment kube-dns --namespace=kube-system  -o yaml |grep kube_master_url
`        - --kube_master_url=http://10.145.101.91:8080`
[root@k8s-09 ~]# kubectl get  deployment kube-dns --namespace=kube-system  -o yaml |grep local
[code]
[root@k8s-09 ~]#

[root@k8s-09 ~]# kubectl get  deployment kube-dns --namespace=kube-system  -o yaml
[code]
[root@k8s-09

[2016-12-05 22:36] krzyzacy commented on #37901
migrated to ci-, see if it fires up again

[2016-12-05 22:37] krzyzacy commented on #37901
/close

[2016-12-05 22:37] #37901 closed

[2016-12-05 22:37] krzyzacy commented on #37918
migrated to ci-, see if it fires up again

[2016-12-05 22:37] krzyzacy commented on #37918
/close

[2016-12-05 22:37] #37918 closed

[2016-12-05 22:40] krousey commented on #37177
cc @saad-ali could you find someone to look at this?

[2016-12-05 22:40] justinsb commented on #38082
Confirmed as my fault.  Will open another issue (low priority) for blocking `--apiserver-count=0`.

Sorry for false alarm!

[2016-12-05 22:41] justinsb opened #38143 "Validate `--apiserver-count` != 0"
If kube-apiserver is run with `--apiserver-count=0`, odd things happen e.g. #38082

We probably should validate that `--apiserver-count` > 0.

[2016-12-05 22:54] jayunit100 commented on #16538
close this ?

[2016-12-05 22:56] jimmidyson opened #38144 "Relax probes' cipher requirements?"
**BUG REPORT**

See https://github.com/openshift/origin/issues/12133 for original bug report (copying here as needs to be fixed in Kubernetes).

**What happened**:

Readiness & liveness checks fails:

    Readiness probe failed: Get https://172.17.0.7:8443/health: remote error: tls: handshake failure

Where curl succeeds:

[code]

**What you expected to happen**:

Readiness & liveness probes shoul

[2016-12-05 22:59] k8s-merge-robot opened #38145 "[k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/2405/

Failed: [k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}

[code]

Previous issues for this test: #28069 #28168 #28343 #29656 #33183

[2016-12-05 23:00] saad-ali commented on #37177
@erictune Looks like you might have some familiarity with the "Job should fail..." test. Could you please help triage this (or help find someone who can) as a blocker or non-blocker for the 1.5 release?

[2016-12-05 23:10] AndryBray commented on #33447
@vishh thank you for your suggestion but at the moment I'm not able to setup a new env. I can just try it with k8s on GC platform. Is there any way to enable it there? I see the latest version is 1.4.6.

Nobody tested it in the meanwhile?

Thank you

[2016-12-05 23:16] ixdy commented on #34060
The following builds worry me, because they don't seem related to test infra. Someone should probably investigate further:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-alpha-features-release-1.5/196/?log#log
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/495/?log#log
[code]

https://k8s-gubernator.ap

[2016-12-05 23:20] jingxu97 commented on #33447
The support for NFS is also back ported to release 1.4.7 which should be
available soon. We also have some NFS tests running currently. Thanks and
please let me know if you have any issue when using NFS.

On Mon, Dec 5, 2016 at 3:10 PM, AndryBray <notifications@github.com> wrote:

--
- Jing

[2016-12-05 23:26] BaluDontu opened #38148 "vSphere cloud provider Dynamic provisioning should not use white space"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:

[2016-12-05 23:30] adityakali commented on #38028
I think ignoring SIGPIPE in kubelet might work too (what docker's fix is). Alternatively we might have to upgrade to systemd v232 that seems to contain the fix (https://bugs.freedesktop.org/show_bug.cgi?id=84923 is relevant. This PR - https://github.com/systemd/systemd/pull/4456).

Makes sense.

[2016-12-05 23:40] saad-ali commented on #38082
Is it ok to close this issue or remove the release-blocker label?

[2016-12-05 23:43] erictune commented on #37177
There aren't behavioral changes to Job controller in this release, just refactors.  The change @soltysh mentions is to test code.  So I think this is low risk for being a regression in Job code.  It could indicate a problem in namespace deletion code.  Looking more at that.

[2016-12-05 23:44] saad-ali commented on #37765
@spxtr Could you please take a look at this and triage it as blocker or non-blocker for triage. If not, can you please help find an owner who can. To prevent the 1.5 release from slipping, we need this bug investigated and fixed or triaged as non-blocking ASAP.

[2016-12-05 23:45] buchireddy commented on #2630
@stapelberg I've tried exactly like you explained with k8s 1.4.6 on a hostPath volume but I still see that root owns the mounted directory with 755 permissions. Any additional pointers on how to debug this?

Also, does it depend on the existence of the given user/group on the actual node/host where the container is scheduled?

[2016-12-05 23:46] saad-ali commented on #35355
To prevent the 1.5 release from slipping, we need all blocker issues investigated and fixed or triaged as non-blocking ASAP. So, @kargakis, I'd like to get an update on this issue for the 1.5 release--once #38076 is merged will this issue be fixed?

[2016-12-05 23:47] jingxu97 commented on #38148
cc @kubernetes/sig-storage

[2016-12-05 23:48] erictune commented on #37177
Looking at a random sampling of referenced test issues above, all of them refer to broken test runs where there are many failures (job and non-job).  So, I don't see any job-related signal.  Some are about namespaces and some are about service account internal errors.  This issue is not a clear enough signal to block the release.

[2016-12-05 23:49] bprashanth commented on #38129
I think kubeproxy dies, then fails an admission check, then never gets started really. I can't find the old issue about this, maybe someone from @kubernetes/sig-node remembers.

[2016-12-05 23:51] bprashanth commented on #38105
I think we fixed one of these in a minor release, @kubernetes/sig-scheduling would know

[2016-12-05 23:53] yujuhong commented on #38129
#35521?

[2016-12-05 23:54] dchen1107 commented on #38129
Might be related to https://github.com/kubernetes/kubernetes/issues/22212?

[2016-12-05 23:55] saad-ali commented on #34383
To prevent the 1.5 release from slipping, we need all blocker issues investigated and fixed or triaged as non-blocking ASAP. So, @soltysh, I'd like to get an update on this issue for the 1.5 release. Is it still considered a blocker? If so, what is needed to fix it?

[2016-12-05 23:55] saad-ali commented on #37177
Marking as non-release blocking

[2016-12-05 23:58] saad-ali commented on #34060
To prevent the 1.5 release from slipping, we need all blocker issues investigated and fixed or triaged as non-blocking ASAP. So, @bprashanth @bowei, could you please help investigate the above. I'd like to know ASAP if there is a release-blocking issue here (i.e. if we need to push the 1.5 release date or not).

[2016-12-05 23:59] saad-ali commented on #32947
To prevent the 1.5 release from slipping, we need all blocker issues investigated and fixed or triaged as non-blocking ASAP. So, @kargakis @janetkuo, could you please help investigate this. I'd like to know ASAP if there is a release-blocking issue here (i.e. if we need to push the 1.5 release date or not).

[2016-12-06 00:00] bprashanth commented on #34060
https://github.com/kubernetes/kubernetes/issues/34060#issuecomment-263946359 is still valid, haven't debugged the pvc leaks but for the others this is not a blocker

[2016-12-06 00:05] BruceZu commented on #37833
[root@k8s-09 ~]# kubectl logs kube-dns-590287545-zk9co  --namespace=kube-system  -c healthz
// no any output
[root@k8s-09 ~]# kubectl logs kube-dns-590287545-zk9co  --namespace=kube-system  -c dnsmasq
// no any output
[root@k8s-09 ~]# kubectl logs kube-dns-590287545-zk9co  --namespace=kube-system  -c kube-dns```

I1205 23:57:56.138683       1 server.go:94] Using https://10.96.0.1:443 for kubernete

[2016-12-06 00:07] buchireddy commented on #2630
Ahh.. Not sure if I'm looking at the correct code but seems like setUp method doesn't do anything for hostPath volume driver. See https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/host_path/host_path.go#L198

@thockin @saad-ali Can you please confirm? Seems like you guys are maintaining hostPath volume driver.

[2016-12-06 00:07] BruceZu commented on #37833
seems the status is fine too
[root@k8s-09 ~]# kubectl describe pod kube-dns-590287545-zk9co  --namespace=kube-system
[code]
[root@k8s-09 ~]#

[2016-12-06 00:08] JonathanFraser commented on #38129
#35477 looks like the same issue

[2016-12-06 00:08] #38129 closed

[2016-12-06 00:08] BruceZu commented on #37833
oh  3 containers are available now
# kubectl get pod kube-dns-590287545-zk9co  --namespace=kube-system
[code]
[root@k8s-09 ~]#

[2016-12-06 00:10] bgrant0607 commented on #37473
@wojtek-t Once this is introduced, it will be subject to API deprecation policy.

[2016-12-06 00:11] davidopp commented on #38105
Yes this was fixed, I can look up the PR that fixed it later, but the fix is definitely in the latest 1.4.

[2016-12-06 00:16] xiang90 commented on #37473
@wojtek-t This sounds a correct thing to do.

[2016-12-06 00:19] hongchaodeng commented on #37994
We have figured out. Here's the analysis:

- The SetOptions is passed in the wire in HTTP header, while the actual that's actually set in http body. Even if we double the size of the value, it's still OK.
- the DefaultMaxHeaderBytes in go http is set to 1 MB: https://golang.org/pkg/net/http/ . That's why when we set a large PrevValue in SetOptions, it exceeds the limit.
- The size of value is OK.

[2016-12-06 00:25] bgrant0607 commented on #38113
@deads2k I agree we need to fix TPR before adding new features. It would be useful to have a common understanding of its direction and intended use cases (vs apiserver federation) as we plan/design the fixes.

[2016-12-06 00:27] AdoHe commented on #38113
[code]
This is just what I am concerned, and of course we are enhance it continuously

[2016-12-06 00:29] BruceZu commented on #37833
But the dns-service is still can not work
[root@k8s-09 ~]# kubectl cluster-info
[code]
[root@k8s-09 ~]# curl http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/kube-dns
[code]
}[root@k8s-09 ~]#

[2016-12-06 00:32] AdoHe commented on #35993
@pires what error you get? and also what's your kubernetes version?

[2016-12-06 00:34] #32595 closed

[2016-12-06 00:34] liggitt commented on #37473
Exposing semantics of waiting for a (potentially far) future version in this way are odd to me (get resourceVersion=8 may not return resourceVersion 8 of that resource). I guess something similar was already done for list (though I saw more discussion of "serve from cache" aspect) but this is doubling down… how are we using the blocking aspect of the list resourceVersion? are we happy with that me

[2016-12-06 00:34] #33325 closed

[2016-12-06 00:36] BruceZu commented on #37833
[root@k8s-09 ~]# kubectl describe svc kube-dns  --namespace=kube-system
[code]
No events.[root@k8s-09 ~]#

[2016-12-06 00:38] bprashanth commented on #34060
RE pv failure:

the logs show that one pod doesn't start because the pvc is not bound
[code]

Even though the test fails, it deletes the pvc

[code]

What's odd is the volume controller fails creating the pd, claiming it already exists
[code]

And we eventually end up leaking it. I don't think this has anything to do with the petset, because we see the pvc being created/deleted and it's requesting

[2016-12-06 00:39] thockin commented on #23864
and now a bug caused by this: #38142 #37994

[2016-12-06 00:40] lavalamp commented on #37473
No-- all of our config turns on quorum reads. (If it doesn't, it's a bug.)
Clients need to explicitly opt out of quorum read only if they know what
they're doing.

On Mon, Dec 5, 2016 at 4:34 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-12-06 00:40] thockin commented on #38142
Dup of #23864

[2016-12-06 00:40] #38142 closed

[2016-12-06 00:41] AdoHe commented on #38117
@fabxc @hjacobs I believe this is just on the schedule :)

[2016-12-06 00:52] BruceZu commented on #37833
but  service kubernetes-dashboard  is not in the normal status:
[root@k8s-09 ~]# kubectl get svc   --namespace=kube-system
[code]
[root@k8s-09 ~]# kubectl describe svc kubernetes-dashboard  --namespace=kube-system
[code]

[2016-12-06 00:53] caesarxuchao commented on #37994
Thanks for the confirmation! @hongchaodeng you can assign the PR to me.

[2016-12-06 00:55] krousey commented on #32947
@rmmh is going to disable this test for now. @kargakis or @janetkuo please look into this, fix it, and re-enable.

[2016-12-06 01:01] nalink commented on #33943
i do see similar issue while doing federation setup on AWS:
`
➜  kubernetes git:(master) ✗ kubectl get clusters --context=federation-cluster
NAME       STATUS    AGE
cluster1   Ready     44m
cluster2   Ready     37m
cluster3   Ready     37m
`

but controller logs:
`
E1206 01:00:26.465644       1 ingress_controller.go:450] Failed to get ConfigMap "kube-system/ingress-uid" for cluster "cluster3".  W

[2016-12-06 01:05] lavalamp commented on #37994
I'm curious if not encoding the entire object here will make any impact on
our performance numbers. @wojtek-t fyi

On Mon, Dec 5, 2016 at 4:53 PM, Chao Xu <notifications@github.com> wrote:

[2016-12-06 01:08] lavalamp commented on #38113
I agree with Brian, I think it would be useful for TPR to be able to
"opt-in" to our common patterns. spec, scale, and status are the obvious
three. We would need clear rules about what checking the relevant box says
about the schema of your TPR.

On Mon, Dec 5, 2016 at 4:27 PM, TonyAdo <notifications@github.com> wrote:

[2016-12-06 01:15] JackTiger commented on #37932
Hi, @MrHohn, Thank you for your detailed answers. As you said, if I use 5 pods, the probabilities of every pod is 1/5. But I actually test, I run the same server in every pod to receive restful http request, and I send the request from the client at the same time, I find that not all the pod handle the request, some requests are handled by the same pod from the log description. So I do not underst

[2016-12-06 01:16] smarterclayton commented on #37994
We still have to encode to compare mutation.  Otherwise we'll write the
same contents forever in status loops.

On Dec 5, 2016, at 8:05 PM, Daniel Smith <notifications@github.com> wrote:

I'm curious if not encoding the entire object here will make any impact on
our performance numbers. @wojtek-t fyi

On Mon, Dec 5, 2016 at 4:53 PM, Chao Xu <notifications@github.com> wrote:

https://github.com/kub

[2016-12-06 01:16] smarterclayton commented on #37994
But there might be a minor win on updates.

On Dec 5, 2016, at 8:05 PM, Daniel Smith <notifications@github.com> wrote:

I'm curious if not encoding the entire object here will make any impact on
our performance numbers. @wojtek-t fyi

On Mon, Dec 5, 2016 at 4:53 PM, Chao Xu <notifications@github.com> wrote:

https://github.com/kubernetes/kubernetes/issues/37994#issuecomment-265027581

https://gith

[2016-12-06 01:25] k8s-merge-robot opened #38159 "ci-kubernetes-e2e-gci-gce-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/125/

Run so broken it didn't make JUnit output!

[2016-12-06 01:27] smarterclayton commented on #37473
I'm fairly worried about long waits.  It's convenient, and makes certain
clients easier to write.  But it is a big semantic change and I'm not
comfortable backing into it.

On Dec 5, 2016, at 7:34 PM, Jordan Liggitt <notifications@github.com> wrote:

Exposing semantics of waiting for a (potentially far) future version in
this way are odd to me (get resourceVersion=8 may not return
resourceVersion

[2016-12-06 01:32] xingzhou commented on #38143
I'd like to work on this:)

[2016-12-06 01:33] BruceZu commented on #37833
# kubectl get serviceaccounts  --all-namespaces
[code]

[2016-12-06 01:39] BruceZu commented on #37833
[root@k8s-09 ~]# kubectl get svc kube-dns  --namespace=kube-system  -o yaml
[code]
[root@k8s-09 ~]#

[2016-12-06 01:40] justinsb opened #38160 "kubectl 1.5 incompatible with 1.1 cluster"
Running kubectl 1.5, against a 1.1 cluster `kubectl get pods` gives the error: `the server doesn't have a resource type "pods"`

[code]

kubectl 1.4.4 works

Comparing the `--v=8` output, the difference seems to be that `/api/v1` in 1.2 includes a Kind, but 1.1 does not:

1.1:

[code]

1.2

[code]

[2016-12-06 01:42] justinsb commented on #38160
cc @lavalamp (api machinery stuff?)  @saad-ali  (build czar)

Pretty sure this isn't worth delaying the release over, unless it is a deeper issue.

[2016-12-06 01:43] BruceZu commented on #37833
the  selfLink:
                                  `/api/v1/namespaces/kube-system/services/kube-dns `
but the information from the output of kubectl cluster-info
is
kube-dns is running at
` http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/kube-dns`

why there is a proxy there?
how to fix it
as it works :
[root@k8s-09 ~]# curl  http://localhost:8080/api/v1/namespaces/kube-system/se

[2016-12-06 01:43] bowei commented on #35377
https://github.com/skynetservices/skydns/pull/309

[2016-12-06 01:44] saad-ali commented on #38160
@pwittrock @bgrant0607 Do we support version skew between client and server this far apart?

[2016-12-06 01:46] mdshuai commented on #29534
https://bugzilla.redhat.com/show_bug.cgi?id=1379484 fixed.
Fixed In Version:  golang-1.7.3-2.fc25 golang-1.5.4-4.fc23 golang-1.6.3-4.fc24 golang-1.7.3-2.el6

[2016-12-06 01:46] #29534 closed

[2016-12-06 01:46] rmmh commented on #36895
let's let a new issue get opened for this

[2016-12-06 01:46] #36895 closed

[2016-12-06 01:53] k8s-merge-robot opened #38162 "ci-kubernetes-e2e-gci-gce-slow-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow-release-1.5/576/

Run so broken it didn't make JUnit output!

[2016-12-06 01:53] k8s-merge-robot opened #38163 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling-migs/782/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895

[2016-12-06 01:55] BruceZu commented on #37833
[root@k8s-09 ~]# cat /etc/hosts
[code]
[root@k8s-09 ~]#

[2016-12-06 01:58] pwittrock commented on #38160
I believe we support skew of no more than 2 versions.  This is consistent with what is documented with respect to node-master version skew [here](https://cloud.google.com/container-engine/docs/clusters/upgrade).  [This document](https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md) states that: `a client should be skewed no more than one minor version from the master, but

[2016-12-06 01:59] Random-Liu opened #38164 "CRI: Support docker 1.10"
In K8s v1.5, we focus on supporting docker 1.11. We should also support docker 1.10 which is still supported by Kubernetes.

There are 2 known issues of current CRI integration (forked from https://github.com/kubernetes/kubernetes/issues/29478#issuecomment-248197665):
1) **Separator in seccomp configure is changed from 1.10 to 1.11.**
Docker >=1.11 is using `=` as separator, e.g. `seccomp=unconfin

[2016-12-06 02:00] jeffvance opened #38165 "The cfssl container run in hack/local-up-cluster.sh gets permissions errors"
Get various config errors after rebasing to latest k8s and running `local-up-cluster.sh`:
[code]
with the end result being that `kubectl get nodes` shows no resources.

Version:
[code]

`hack/local-up-cluster.sh` function create_client_certkey() runs the cfssl container bind-mounted to /var/run/kubernetes.  Shelling into this container you'll see there are no `owner:group` for the files in its /ce

[2016-12-06 02:02] Random-Liu commented on #38164
Not mark v1.6 for now until we decided to support 1.10 before rolling out CRI integration as default.

[2016-12-06 02:04] k8s-merge-robot opened #38166 "[k8s.io] ConfigMap updates should be reflected in volume [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/1574/

Failed: [k8s.io] ConfigMap updates should be reflected in volume [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #30352

[2016-12-06 02:05] mml commented on #36555
Hmm...  I tried re-running this on my test data, and now 2.3.7 **always** panics after the last step, whether I begin with backup data or not.

[code]

Here is the data
 - before running rollback: [snapshot-before-rollback-2.3.7.tar.gz](https://github.com/kubernetes/kubernetes/files/632789/snapshot-before-rollback-2.3.7.tar.gz)
 - after running rollback: [snapshot-post-rollback-2.3.7.tar.gz](https

[2016-12-06 02:12] feiskyer commented on #38164
@Random-Liu Do we have ci environment for testing docker v1.10?

[2016-12-06 02:13] du2016 commented on #38118
you need add the cni network first

[2016-12-06 02:24] Random-Liu commented on #38164
@feiskyer The only one currently is node e2e ubuntu trusty image.

[2016-12-06 02:31] janetkuo commented on #32947
Haven't found the cause. I'm unable to reproduce this locally.

[2016-12-06 02:43] janetkuo commented on #32947
From controller manager log:
[code]

2nd deployment should have been skipped. Why did it create a RS?

[2016-12-06 02:52] MrHohn commented on #37932
Hi @JackTiger, could you provide more details about:
- How many clients you ran and where did these clients run on? (If unfairness really happened, I will suspect it is the result of connection tracking)
- How many requests did the clients send? (Although it is obvious, unfairness may happen if you are sampling a relatively small amount of requests)
- Which kind of load distribution you got? Does

[2016-12-06 02:53] janetkuo commented on #32947
Two weird things observed:

1. `W0917 13:41:29.948479       5 listers.go:67] can not retrieve list of objects using index : object has no meta: object does not implement the Object interfaces` - could this be the cause? Something wrong with the indexer?

2. `found deployment e2e-tests-deployment-u2al6/second-deployment has overlapping selector with an older deployment /, skip syncing it` - the old

[2016-12-06 02:55] dims commented on #38082
@justinsb please let use know if we can mark this as non-release-blocker

[2016-12-06 03:07] JackTiger commented on #37932
Hi,  @MrHohn,

I use curl command to send the http request from the local host, as below:

`curl 192.168.3.163:9090 & curl 192.168.3.163:9090 & curl 192.168.3.163:9090 & curl 192.168.3.163:9090 &`

and my service describe is like this:
[code]

The service resource file I created is as below:

[code]

I will try many times, and the result is the same, and from the logs as below:

[code]

One of the

[2016-12-06 03:09] timothysc commented on #38105
I think you are referring to #29090 , but timeframe and signature look different.

[2016-12-06 03:12] timothysc commented on #38105
We'll trace down if it's the same, but the timeframes don't match up.

[2016-12-06 03:18] janetkuo commented on #32947
@wojtek-t do you know what may cause many `can not retrieve list of objects using index : object has no meta: object does not implement the Object interfaces` errors in controller manager log? (It's flaky, not failing consistently)

[2016-12-06 03:25] #36880 closed

[2016-12-06 03:29] k8s-merge-robot opened #38168 "[k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.5/119/

Failed: [k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}

[code]

Previous issues for this test: #27502 #28722 #32037

[2016-12-06 03:56] xiang90 commented on #36555
@mml I do not understand this. Does the migration tool still panic? Or the etcd 2.3.7 panics? etcd 2.3.7 should panic if you build the migration tool with 3.0 wal pkg. I believe I sent you the correct migration binary over slack.

[2016-12-06 04:02] MrHohn commented on #37932
Correct me if I misunderstood the situation: the curl command sent out 4 requests to the service IP roughly at the same time and two of them were being served by one of the endpoints.

I would say it is normal because we are not using round robin loadbalancing here. The possibility for 2 out of 4 requests being served by one endpoints is not that low.

Suggest make this curl command in a loop that

[2016-12-06 04:16] bgrant0607 commented on #38160
kubectl currently only works +/- one release.

Note that while old clients should work with newer cluster releases in general, newer clients might not, if they take advantage of new functionality.

[2016-12-06 04:16] #37278 closed

[2016-12-06 04:21] JackTiger commented on #37932
@MrHohn   Ok, Thanks. I will try as your suggestion. By the way, if I want to use round robin loadbalancing in my server,  what should I do, could you have some suggestions? Because I want to every pod to handle the single task that may take a lot of time to execute, so if there comes some request at the same time, I want to handle in more pods, not only in a few of these. At the best solution, th

[2016-12-06 04:22] xiang90 commented on #36555
@mml Can we close this issue if the rollback tool stop panics? If the migrated data panics etcd 2.3, it is expected. And there is some other issues tracking it. I think we went though them a few weeks ago before thinks giving.

[2016-12-06 04:33] resouer commented on #38164
Have we decided that docker <=1.10 should be supported yet?

btw, I can help with to fix `oomScoreAdj `, the original logic is introduced by one of my previous patch I think.

[2016-12-06 05:24] bgrant0607 commented on #24343
@brendandburns We're already in a multi-repo world, and limitations of github and the desire to limit the size of the "core" are both driving us towards even more repositories.

We're starting with code that needs to be consumed by multiple projects, such as the client libraries, API types, API machinery, utility libraries, and build/test infrastructure.

We're in the "how" stage now. If you have

[2016-12-06 05:34] Zjianglin commented on #38118
I meet a problem similar to this.I have already added the cni network, but the `kube-dns` container in Pod `kube-dns-654381707-k0bpz' is waiting due to CrashLoopBackOff.
[code]
root@kube-master:~$ kc describe pod kube-dns-654381707-k0bpz -n kube-system
Name:		kube-dns-654381707-k0bpz
Namespace:	kube-system
Node:		kube-master/10.239.47.100
Start Time:	Tue, 06 Dec 2016 13:15:25 +0800
Labels:		compon

[2016-12-06 06:04] k8s-merge-robot opened #38172 "[k8s.io] Upgrade [Feature:Upgrade] [k8s.io] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-1.4-1.5-upgrade-cluster-new/68/

Failed: [k8s.io] Upgrade [Feature:Upgrade] [k8s.io] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade] {Kubernetes e2e suite}

[code]

[2016-12-06 06:04] saad-ali commented on #34060
@jsafrane Could you please take a look at what @bprashanth is describing in https://github.com/kubernetes/kubernetes/issues/34060#issuecomment-265025027 and help us triage this as a blocker or non-blocker for the 1.5, ASAP?

[2016-12-06 06:06] roberthbailey commented on #9267
@thockin -- this may be a good test for your new deprecation proposal. ;)

[2016-12-06 06:07] patzeltjonas commented on #37662
I've build a quick-release of the branch release-1.4 yesterday containing the bugfix. I set up a test cluster but after 6 hours some of the petset volumes got stuck again.. There are other issues for the 1.5-beta.2 version which contains the bugfix too, having the same problem #37854 #37844

[2016-12-06 06:14] jingxu97 commented on #37854
@bonovoxly thank you for reporting the issue. Could you please share the kubelet log if it is available so that we can have a check? Thanks!

[2016-12-06 06:16] jingxu97 commented on #37844
cc @kubernetes/sig-storage

[2016-12-06 06:19] madhusudancs commented on #38168
Assigning to @dchen1107 for triaging.

[2016-12-06 06:22] yarntime commented on #34519
Hi @kshafiee, you can try the latest version.

[2016-12-06 06:33] thockin commented on #9267
Devin will get us a place to store deprecation notices.  I continue to
believe that we should roll a v2 API with minimal changes, *just to prove
we can*.

On Mon, Dec 5, 2016 at 10:06 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-12-06 06:38] k8s-merge-robot opened #38174 "[k8s.io] Services should only allow access from service loadbalancer source ranges [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod/66/

Failed: [k8s.io] Services should only allow access from service loadbalancer source ranges [Slow] {Kubernetes e2e suite}

[code]

[2016-12-06 06:38] fejta commented on #27680
@sttts
Looks like this got a lot worse on 12/3 - https://k8s-testgrid.appspot.com/google-gce#gce-etcd3&width=5&include-filter-by-regex=Port

Any chance this is related to https://github.com/kubernetes/kubernetes/pull/37103?

[2016-12-06 06:45] thockin commented on #24343
Thinking out loud.

* create a new repo for each binary (kubelet, kube-proxy, kube-apiserver, etc)
   - opportunity to move things around/rename
   - any generic libs that are common across many binaries get moved up to a lib or util repo, or something (github.com/kubernetes/pkg ?)
   - vendor into each binary repo
   - each binary repo can be built and unit tested and containerized independently

[2016-12-06 06:58] davidopp commented on #38105
No I was thinking of #28350 / #31968 which are fixed by #33086.

So I'm going to close this, but please reopen if you think this is actually a new issue.

[2016-12-06 06:58] #38105 closed

[2016-12-06 07:06] saad-ali commented on #37862
Release notes are [here](https://github.com/kubernetes/features/blob/master/release-1.5/release-notes-draft.md). Please make sure they are updated accordingly.

[2016-12-06 07:12] modor opened #38176 "redis sentinel in k8s example has wrong ip when i check it in sentinel pods."
Hello,
I created  redis cluster in k8s cluster according to the Document：https://github.com/kubernetes/kubernetes/tree/master/examples/storage/redis.
But  it can not work. Slaves can not find the new master. I found that slave's ips were wrong  in sentinel server.
[code]
It shows the slave's ip in sentinel server:172.17.72.0,172.17.55.0, in fact i get the slave's ip by the "hostname -i" command:17

[2016-12-06 07:12] k8s-merge-robot opened #38177 "TestSecretController {secret}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/851/

Failed: TestSecretController {secret}

[code]

Previous issues for this test: #33880 #36422 #36473

[2016-12-06 07:13] bigfreeZhou opened #38178 "kubectl logs or exec failed, return not found response"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.7-beta.0", GitCommit:"fd8fac83034df346529c6e11aabceea2db48d663", GitTreeState:"clean", BuildDate:"2016-11-16T02:07:21Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Ma

[2016-12-06 07:23] thockin commented on #38087
A few points:

But still impossibly crappy for a wide range of PRs.

Blame github.  But really, we looked at this in depth.  We decided that we should run our own reviewable and that made the risk small enough.  There's a per-org setting that can disallow integrations like reviewable.  All that said, you don't have to use it.  If you send me a PR and I want to use it, you can simply reply to comme

[2016-12-06 07:29] mbohlool commented on #37881
Look like Kubernetes behavior is valid. the log function returns text response with Content-Type header set to plain/text. The generated client is not behaving as expected and tries to decode a plain/text into a json object. Kubernetes spec should not specify v1.Pod as the response for this operations. The response should be an string. I will continue investigating to see what is the best fix here

[2016-12-06 07:40] thockin commented on #38140
I'm not super concerned about this.

1) 30 seconds is not that long
2) this primarily affects REALLY old versions

I'm not shutting it down, because I am always open to improvements, and
this is a fun place for someone to contribute a little bit.  I imagine the
fix would be:

a) add some jitter to the timer so it is not exactly 30 seconds (maybe 30
seconds +/- 1.5s).
b) in case of failure add a ti

[2016-12-06 07:56] Random-Liu commented on #38164
@resouer We won't support docker <= 1.9, but probably 1.10.

[2016-12-06 07:57] thockin commented on #38120
I think we'd do well to use string types more.  @mbohlool - any
implications for swagger?

On Mon, Dec 5, 2016 at 9:05 AM, Paul Morie <notifications@github.com> wrote:

[2016-12-06 08:05] lixiaobing10051267 commented on #31232
yes, that's right, the problem has dispeared, you are so great!

[2016-12-06 08:05] #31232 closed

[2016-12-06 08:08] hjacobs commented on #38117
@AdoHe great to hear, any details / links?

[2016-12-06 08:19] resouer commented on #38164
btw, I think oomScoreAdj is included in docker 1.10, not since docker >= 1.11, see [release note](https://github.com/docker/docker/blob/master/CHANGELOG.md#1100-2016-02-04)

[2016-12-06 08:22] #33943 closed

[2016-12-06 08:28] sttts commented on #27680
@fejta yes, it is most probably related to #37103. In fact, #37103 was meant to make connection closing much less aggressive on the server side. It looks like our half-open connection support using socat is far from stable.

I have https://github.com/kubernetes/kubernetes/pull/37072 in flight which is blocked by broken socat. Maybe that will help eventually to fix this flake.

[2016-12-06 08:32] AdoHe commented on #38178
@bigfreeZhou please give a try with `kubectl log *** -v=9` and paste the output here, also could you provide the apiserver log?

[2016-12-06 08:38] janetkuo commented on #32947
@kargakis would you take a look at this? I have a few findings  https://github.com/kubernetes/kubernetes/issues/32947#issuecomment-265044972

[2016-12-06 08:41] bigfreeZhou commented on #38178
@AdoHe
here is the -v=9 output:

I1206 16:38:18.772544    7150 round_trippers.go:299] curl -k -v -XGET  -H "Accept: application/json, */*" -H "User-Agent: kubectl/v1.4.1 (linux/amd64) kubernetes/bd85192" http://10.10.64.141:8080/api/v1/namespaces/default/pods/dmo-commenttest-v1-j8630/log
I1206 16:38:18.775145    7150 round_trippers.go:318] GET http://10.10.64.141:8080/api/v1/namespaces/default/pod

[2016-12-06 08:45] wojtek-t commented on #37473
@smarterclayton I don't think it's a semantic change. We are introducing a new option for which you need to explicitly opt-in. The default behavior remains as it was before.

[2016-12-06 08:48] fabxc commented on #38117
Okay thanks. I wasn't sure what was the most recent status given the comment linked in the initial post.
If it's planned and tracked elsewhere, we can close here.

[2016-12-06 08:50] wojtek-t commented on #38066
@ixdy - I have a very strong hypothesis that it's not really related to the suite itself, but to the testing infrastructure.
Basically, when I'm looking into artifacts directory from those failed runs, there are missing junit_xx.xml files from some of the workers (in healthy runs there are all 25 of those). So my feeling is that some workers went into deadlock or was killed or sth like that.
Can y

[2016-12-06 08:50] janetkuo commented on #35355
IIUC #38076 needs to be cherrypicked to fix this

[2016-12-06 09:02] wojtek-t commented on #37994
Yeah - as @smarterclayton observed, we are serializaing to compare with the previous value to avoid updates to the same value. There may be some small gain on avoiding sending this to etcd, but I would be surprised if it would be significant.

[2016-12-06 09:08] mbohlool commented on #38120
@thockin I did not understand your comment. Are you suggesting we use string type instead of int64?

As far as I can tell from @pmorie's first comment, we want to change *int64 members to be UnixUserID and UnixGroupID that are both int64. That does not have any implications on OpenAPI spec (*int64 and int64 or any alias to any of them should all be treated the same in OpenAPI spec generation).

[2016-12-06 09:09] davidopp commented on #37592
I'm not sure I agree with this feature request. I think it would be better to print a message on exit from "kubectl drain" saying that the node is cordoned and what the user should type to uncordon it. (This is useful even in the success case, as people might not remember or realize this.)

I don't think we should fail "kubectl drain" if the node is already cordoned (are we? I'm too lazy to check

[2016-12-06 09:20] Random-Liu commented on #38164
If so the dockertools code is wrong:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L732-L733

[2016-12-06 09:24] davidopp commented on #23885
I don't think we should change the default behavior of `kubectl delete`. We should either add a new command `kubectl evict` or add a flag to `kubectl delete` to request it to use eviction subresource.

[2016-12-06 09:30] resouer commented on #38164
@Random-Liu `dockerV110APIVersion` is docker version 1.10, and if current version equals or newer than that, we set `oom_sore_adj`: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L736-L738, do I missed something?

[2016-12-06 09:36] jsafrane commented on #34060
@bprashanth, @saad-ali, leaked PVs are strange.

Looking at http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/927/artifacts/bootstrap-e2e-master/ and cutting a lot:

[code]

`provisionClaimOperation[...] started` means that the provisioner is asking GCE to create a PD. This takes some time and several periodic syncs happen in the meantime, e.g.:

[code]

`skipping` means t

[2016-12-06 09:41] soltysh commented on #34383
I'm still waiting for @krousey input on that one. I've pointed in my previous comment what might be the cause and didn't get answer yet. @krousey can you confirm my observations from my previous comment? Is this still a release blocker?

[2016-12-06 09:49] pires commented on #35993
Environment: `kubectl` and Kubernetes **v1.4.6**

I create a TPR that exposes an object `XyzCluster` and am able to create/delete it. But when I try to edit through `kubectl edit xyzcluster <name>`, change some data and save it, the editor pops up again with the same error message @aaronlevy mentioned:
[code]

[2016-12-06 09:54] kargakis commented on #35355
Yes, we should have #38076 not only because of this issue but also because it fixes MinReadySeconds for Deployments and ReplicaSets in general. This issue can be closed I guess.

[2016-12-06 09:54] #35355 closed

[2016-12-06 10:41] jimmidyson commented on #38144
A bit more background: trying to secure a Spring Boot based service using certs provided by OpenShift's (brilliant) [auto service cert issuer](https://docs.openshift.org/latest/dev_guide/secrets.html#service-serving-certificate-secrets) (hope it makes it upstream soon!).

OOTB Spring Boot seems to only support the following ciphers:

[code]

Looking at https://golang.org/src/crypto/tls/cipher_suit

[2016-12-06 10:45] kargakis commented on #32947
Looking... FWIW I have opened https://github.com/kubernetes/kubernetes/pull/38080 which should make this test more stable.

[2016-12-06 11:02] kad commented on #36059
anyone can point me to scripts that are used to generate official release ? maybe I'll look myself on it ?

[2016-12-06 11:19] AdoHe commented on #38178
@bigfreeZhou `/log` is a subresource of pod, normally all pods should support this, since `log` and `exec` will all call kubelet, and you just met this problem on one node, guess maybe some issues with the node.

[2016-12-06 11:44] codablock opened #38187 "When kubelet runs with --register-node=false and runs static pods, controller-manager tries to delete them regulary"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "static pod orphaned" and "static pod register-node"

---

**Is this a BUG REPORT or FEA

[2016-12-06 11:49] jsafrane commented on #38165
SELinux was culprit in my case (Fedora 24), containers can't write to /var/run. I am not sure what's official way around this except disabling it.

[2016-12-06 11:53] feiskyer opened #38188 "Kubectl attach failed: pod not found"
Meta from https://github.com/kubernetes/frakti/issues/54.

When enabled frakti with kubelet, `kubectl attach` failed with errors:

[code]

Kubelet logging:

[code]

This is because the `podUID` param in [GetAttach()](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L1342) could be empty string:

[code]

[2016-12-06 12:02] kargakis commented on #32947
Actually, I am not sure #38080 will help in this particular case. The only reason for this flake I can think of is the cache lagging and not returning all Deployments that exist thus not marking the second deployment as overlapping in time.

[2016-12-06 12:26] kargakis commented on #32947
It doesn't seem like an Indexer problem (most test logs I 've looked at don't experience this issue).

[2016-12-06 12:31] kargakis commented on #32947
FWIW, I don't consider this issue a release blocker. It's a pre-existing issue and overlapping selectors are a user problem. We already try to mitigate the problem by not reconciling overlapping deployments but it seems racy in situations where both Deployments are created at the same time. We could potentially switch the overlap check to List from the api server instead of using the shared cache.

[2016-12-06 12:55] jsafrane commented on #34242
Returning back to this bug with newest kube-controller-manager and kubelet (almost 1.5), I noticed that if I restart controller-manager, node retains enough information about attached volumes:

[code]

Could it be enough to detach these volumes when controller restarts? I know, there is some window where the volume is attached and node status is not written yet, still it would help in most of the

[2016-12-06 13:33] bigfreeZhou commented on #38178
@AdoHe
thank you for your patient.

I find that there is no tcp link established from apiserver to node 10250 port. i don't known if it is the problem.

further, now all pod one other node is not works well when use kubectl log / exec except pods on the node which is the same host with apiserver.

I'm sure some node works well before, but now only the node with apiserver is ok.

[2016-12-06 13:34] pigmej commented on #38187
@dims @saad-ali @kubernetes/sig-node  I think it should be release-blocker bug.

[2016-12-06 13:51] quasiben commented on #37881
@mbohlool happy to help test

[2016-12-06 13:52] jsafrane opened #38192 "Allow configuration of reclaim policy in StorageClass"
Use case: as Kubernetes admin I want to define a StorageClass that provisions PVs with `PersistentVolumeReclaimPolicy = "Retain"` so users don't loose their data when they accidentally delete their PVCs.

**API changes:**

* Either "magic" annotation `kubernetes.io/reclaim-policy: Retain`
* Or a new StorageClass field `sc.PersistentVolumeReclaimPolicy: Retain`

**Requested actions:**

* Update the

[2016-12-06 14:18] rootfs commented on #38192
Along this line, I'd also want fsType (used by block volume plugins, such as ebs, pd, cinder, etc) to be configurable. It is default to ext4, and we have encountered format latency issues with ext4.

[2016-12-06 14:18] dims commented on #32947
Marking as non-release-blocker per last comment from @kargakis

[2016-12-06 14:20] wojtek-t commented on #33057
Regarding heartbeats - I talked about it with @xiang90 some time ago, and he suggested (and I really really like the ideas), to actually used the concept of  ```Lease``` for it once we migrate to etcd v3 API.
What that means is that instead of sending a heartbeat every X seconds, we only refresh a lease connected with that node every X seconds. When it is not refreshed for Y seconds, it expires.

[2016-12-06 14:23] gnufied commented on #38192
There is already an issue open for allowing user to specify fsType - https://github.com/kubernetes/kubernetes/issues/37801

[2016-12-06 14:28] eparis commented on #38192
Do we ahve any interest in supporting the USER deciding if they want reclaim or delete? I think doing so would have DoS fears.

[2016-12-06 14:31] dims commented on #38187
cc @saad-ali

[2016-12-06 14:33] dims commented on #38187
@pigmej Is there anyone working on this issue?

[2016-12-06 14:35] kargakis commented on #34654
@derekwaynecarr is the namespace controller deleting resources in an arbitrary sequence or does it always delete Deployments before ReplicaSets or Pods?

[2016-12-06 14:42] pigmej commented on #38187
@dims
@ivan4th or @lukaszo could work on it. We will figure out ;-)

(cc @kubernetes/mirantis)

[2016-12-06 14:46] dims commented on #38187
Assigned to both. Please make sure anyone working on this attend the Burndown meeting today

https://groups.google.com/d/msg/kubernetes-dev/mvIXrgEyHPY/EPyasKZaDAAJ

[2016-12-06 14:58] jayunit100 commented on #38105
yup,
[code]
Is specifically what 33086 is fixing.  So good to keep closed.

[2016-12-06 15:26] timothysc commented on #28350
This should be closed.

[2016-12-06 15:26] #28350 closed

[2016-12-06 15:29] xsgordon commented on #38098
@suonto I think what you are suggesting makes sense, though I worry a little about the various states you can get into that have led to people requesting a "force detach" option over the years - not much you can do about that though, just attempting the detach would be a good start.

@idvoretskyi can I get area/platform/openstack or equivalent label please? Thanks!

/cc @kubernetes/sig-openstack

[2016-12-06 15:32] deads2k commented on #37961
Hit this on a CI run

[2016-12-06 15:43] luxas commented on #38172
@roberthbailey @mikedanese Do you know anything about why the upgrade tests started failing yesterday?

Is this critical for v1.5 or just another flake?

[2016-12-06 15:52] deads2k commented on #37961
This has failed every run in the past hour, bumping to p0.

[2016-12-06 16:02] k8s-merge-robot opened #38195 "Test_ExternalID {mesos}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/863/

Failed: Test_ExternalID {mesos}

[code]

[2016-12-06 16:10] smarterclayton commented on #38120
Widening int types would be backwards incompatible.

[2016-12-06 16:12] smarterclayton commented on #24343
Note that with hyperkube we don't have to flatten the deps (and if we allow
the deps to drift it's going to be very difficult to do so) - we might
flatten specifically APIs, but everything else can be left vendored since
the hyperkube commands do not pass interfaces across.

On Tue, Dec 6, 2016 at 1:45 AM, Tim Hockin <notifications@github.com> wrote:

[2016-12-06 16:13] smarterclayton commented on #37994
Note that we've never benchmarked the update pipeline really.  It's likely
insanely inefficient (esp. in the presence of contentions) at multiple
levels (resthandler patch logic, guaranteed update loop, deep
serialization).  I'm positive there is low hanging fruit there, but I would
recommend splitting that into a separate effort that looks at the total
cost for a contested patch and uncontested u

[2016-12-06 16:32] deads2k opened #38198 "[k8s.io] Port forwarding"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/37561/pull-kubernetes-e2e-gce/8530/

[code]

I'm seeing this frequently

[2016-12-06 16:42] Oloremo opened #38199 "Destruction of pods which are in the "Pulling" or related states takes a lot of time"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:

libvirt VM
- **OS** (e.g. from /etc/os-release):

Ubuntu 16.04 x64
- **Kernel** (e.g. `uname -a`):

Linux node1 4.4.0-38-generic #57-Ubuntu SMP

**What happened**:
Deletion of the namespace, which contains of the many deployments(~10), which creating a lot of pods(~60) which ar

[2016-12-06 16:47] kshafiee commented on #34519
@yarntime I tried kubectl version 1.4.4

[2016-12-06 16:47] codablock commented on #30752
I did some further investigation here and it turns out there are other factors involved as well, especially on Azure. My initial statement that I got OOM due to mkfs.ext4 seems to be not true, as the OOMs were caused by fluentd-elasticsearch.

I tried to use mkfs.ext4 with "-E discard=1" as I assumed that it should speed up things dramatically. This did not make a difference however. While trying

[2016-12-06 16:50] FeatherKing commented on #38068
@kerneltime i am also running into this even after removing the space between datastore and path. If i turn up debug on the kubelet to v=2 i see this scrolling over and over

"Checking VMDK [datastore] kubevols/test-pv.vmdk" is attached"

also as a side note, the kubelet is generating and holding a lot of connections to vcenter while this is happening

[2016-12-06 16:59] jeffvance commented on #38165
Thanks @jsafrane. I'm running kube in rhel vms. However, the cfssl container is not fedora based is it?
From cfssl container:
[code]

[2016-12-06 17:14] jingxu97 commented on #34242
That's a good point. We might recover some information from node object and
put this information back to the actual state when controller restarts. But
again we need design this carefully to avoid race condition. Will follow up
with a proposal later this week. Thanks!

Jing

On Tue, Dec 6, 2016 at 4:55 AM, Jan Šafránek <notifications@github.com>
wrote:

--
- Jing

[2016-12-06 17:18] codablock commented on #30752
Ok, my assumption about the kernel using discard for lazy init was wrong. Just checked the kernel source and it simply issues multiple write bios which write zero-pages. So it would definitely have a negative impact on other cloud providers when lazy_itable_init would be enabled.

Would it be a viable solution to check support for BLKDISCARDZEROES in kubernetes before doing the mkfs and then decid

[2016-12-06 17:24] #37961 closed

[2016-12-06 17:26] codablock commented on #30752
Argh, digging deeper into the kernel turned out that it actually uses discard for zeroing out (check [blk-lib.c:267](https://github.com/torvalds/linux/blob/a379f71a30dddbd2e7393624e455ce53c87965d1/block/blk-lib.c#L267) and [blkdev.h:1163](https://github.com/torvalds/linux/blob/513a4befae06c4469abfb836e8f71977de58c636/include/linux/blkdev.h#L1163)). So my initial assumption was correct. Sorry for a

[2016-12-06 17:27] dimpavloff commented on #16779
Hi, I'm still a bit new to this part of k8s but wouldn't it be possible to add a CLI flag to the controller manager specifying whether to create service accounts for each namespace or not and have it default to true for backwards compatibility? Or alternatively provide it with a list of the namespaces for which to create SAs / SAs with API access tokens?

[2016-12-06 17:27] jsafrane commented on #38165
It does not matter what's inside the container, SELinux on the host blocks writes to /var/lib

[2016-12-06 17:27] jsafrane commented on #38165
well... host... probably a VM in your case. The thing that runs Docker.

[2016-12-06 17:35] jeffvance commented on #38165
ok that makes sense.
`setenforce 0` on host vm fixes the permission problem. No need to change local-up-cluster.sh.

[2016-12-06 17:48] MrHohn commented on #37932
I think the [userspace proxy mode](http://kubernetes.io/docs/user-guide/services/#proxy-mode-userspace) for kube-proxy does round robin for choosing backends. But as the [iptables proxy mode](http://kubernetes.io/docs/user-guide/services/#proxy-mode-iptables) should be faster and more reliable than the userspace proxy, so I don't recommend to switch back only because you want round robin.

I might

[2016-12-06 17:49] brendandburns commented on #24343
@bgrant0607 I still come back to one fundamental question (there are many other concerns, but this is priority 1 in my mind)

How are we going to do the equivalent of PR e2e validation that we have right now?

I'm totally fine forking out standalone binaries (e.g. kube-dns) since we can vendor them in as configurations, and thus not break the main flow.

But if you do anything else, you're going t

[2016-12-06 17:55] timothysc commented on #37853
@bprashanth merge my min-sync patch and test ;-) with a modified param.

/cc @eparis

[2016-12-06 17:55] MrHohn commented on #37932
And you may be able to utilize [the readiness probe](http://kubernetes.io/docs/user-guide/production-pods/#liveness-and-readiness-probes-aka-health-checks) feature. If you don't want any more request be forwarded to backends that are already serving enough traffic, mark them as unready and they will be removed from the service endpoints. Mark them as ready when they are done and the endpoints will

[2016-12-06 17:56] rootfs commented on #38098
@suonto the cinder volume on the failed node will be detached by k8s controller. Do you have controller-master log to share?

[2016-12-06 17:57] bprashanth commented on #37853
at this point it looks unrelated to networking, people are working on a repro and will probably have an update soon

[2016-12-06 18:00] bprashanth commented on #37592
no we're not failing drain, but leaving the node cordoned seems like a weird choice (though maybe surfacing this clearly in the first, failing drain is enough).

If I run a drain without realizing that there are some important pods on the node I don't want to drain, then decided I didn't want to drain that node but another node instead, I'm leaft with one cordoned node right?

that's the argument

[2016-12-06 18:02] timothysc commented on #37853
@bprashanth data to support?  everything in this issue so far says networking.

[2016-12-06 18:05] krousey commented on #34383
@soltysh I could not find an incident of this failing in 1.4. You're welcome to double check https://k8s-testgrid.appspot.com/release-1.4-blocking#gce-release-1.4&sort-by-failures=. As far as the upgrade flow, it's like this:

- *-upgrade-master:
    1. Turn up cluster at old version.
    2. Upgrade the master to new version.
    3. Run e2e tests at old version.

- *-upgrade-cluster:
   1. Turn up

[2016-12-06 18:05] timothysc commented on #37853
Also if we have an isolated repoducer, I can quick turn an eval to see if it occurs on our kernels.

[2016-12-06 18:06] saad-ali commented on #35355
Ack, will cherrypick

[2016-12-06 18:07] calebamiles commented on #38082
removing the release blocker label @justinsb, @saad-ali, @dims please update this issue @justinsb. Please close the issue when you get a chance. Thanks!

[2016-12-06 18:09] vjm commented on #22063
@marun Anyone have a non-openshift solution?

[2016-12-06 18:09] thockin commented on #37853
We do not have an isolated repro yet.  Best repro I have heard is
kubemark-5000.  PLEASE we need signal on this - if it reproduces on anyone
else's systems but our.s

On Tue, Dec 6, 2016 at 10:06 AM, Timothy St. Clair <notifications@github.com

[2016-12-06 18:11] thockin commented on #38120
I don't think we're widening them, just changing `*int64` to `*UnixUserID`
which is a type-alias to `int64`

On Tue, Dec 6, 2016 at 8:10 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-12-06 18:12] nikhiljindal commented on #38133
`Failed to ensure delete object from underlying clusters finalizer` error is fine as long as it eventually succeeds (controller keeps retrying).

For secrets, deployments and all other federation resources, deleting them from federation control plane using kubectl does not delete them from underlying clusters. We need a way for users to be able to specify --cascading=true with kubectl delete.

I l

[2016-12-06 18:14] calebamiles commented on #38160
I'm going to add a non blocking label on this issue @justinsb. Given the discussion it probably makes sense to close this issue since there's no commitment to make kubectl v1.5 work with a 1.1 cluster. Please update or close the issue as you see fit. Thanks!

** cc: @saad-ali, @dims**

[2016-12-06 18:16] liggitt commented on #22063
this can be closed.... fixed in #33718, #35497, and #25532

node.status.addresses are now populated with the hostname the kubelet is given, and the apiserver uses an address reported by the node to contact the kubelet (in the order specified by `--kubelet-preferred-address-types`)

[2016-12-06 18:16] #22063 closed

[2016-12-06 18:17] dhawal55 commented on #20352
Cannot use multiple filters:
```kubectl get pods --all-namespaces -o jsonpath='{.items[*].spec.containers[?(@.securityContext && @.securityContext.privileged==true)].name```
Erorr:
```error: error parsing jsonpath {.items[*].spec.containers[?(@.securityContext && @.securityContext.privileged==true)].securityContext.privileged}, unrecognized character in action: U+0026 '&'```

[2016-12-06 18:18] pmorie commented on #38120
Correct, we would not be widening, just adopting a strong typedef equivalent to the current API type.

[2016-12-06 18:19] louiscryan commented on #28443
@amb67

[2016-12-06 18:26] Random-Liu commented on #38164
@resouer I mean the comment is misleading:
`If current api version is newer than docker 1.10 requested, set OomScoreAdj to HostConfig`

[2016-12-06 18:26] louiscryan commented on #28443
I'm not entirely sold on multi-host for internal.

ux & atomic edits - The grain of ownership is probably closer to that of a pod or deployment and so edits are tied to a set of services that span that. This is quite different to mapping a large no. of services behind a single DNS name addressed by the public internet.

domain cross over - Having a single DNS addressable name for routing over mult

[2016-12-06 18:26] vjm commented on #22063
@liggitt -- so, if my internal hostname does not resolve correctly I can have communication via IP addresses?

My use case is: in AWS due to use of custom DNS servers, my hostnames for individual machines do not resolve.

[2016-12-06 18:29] louiscryan commented on #28443
@rshriram

[2016-12-06 18:31] jingxu97 commented on #38068
@FeatherKing looks like there is a mismatch between the real device path and the device path retrieved in kubelet. Could you please check on your node what is the device path after the volume is attached?

[2016-12-06 18:31] jingxu97 commented on #38068
cc @kubernetes/sig-storage

[2016-12-06 18:34] yujuhong commented on #38188
@feiskyer assigning to you since you already have a PR up

[2016-12-06 18:36] liggitt commented on #22063
yes, start kube-apiserver with `--kubelet-preferred-address-types=InternalIP,ExternalIP`, or whatever priority order you want the apiserver to use to pull addresses out of the node status

[2016-12-06 18:37] talktorana commented on #34052
Why this got closed without comments? I am still facing the issue.

[2016-12-06 18:41] k8s-merge-robot opened #38201 "[k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-1.5-test/70/

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28297 #37101

[2016-12-06 18:42] calebamiles commented on #34383
Thanks for the update @krousey taken with the comments from @soltysh can we mark this as a non release blocking issue for 1.5? Will we need a cherrypick of the fix to 1.4?

**cc: @saad-ali, @dims, @jessfraz**

[2016-12-06 18:43] yujuhong commented on #38178
@bigfreeZhou this is working as intended.

On the master node (where the master components such as apiserver run), the /logs, /exec, /attach are disabled due to security concerns.(`--enable-debugging-handlers=false`). There is also an issue open to report a better error message in this case: #25448

[2016-12-06 18:43] rootfs commented on #38068
@abithap

[2016-12-06 18:44] timothysc commented on #37853
I need more data to assist.  Setting up kubemark 5k on our end is nontrivial and the number of stack differences is also high.

[2016-12-06 18:44] wernight commented on #16779
CLI argument is not easy on GKE.

Le mar. 6 déc. 2016 à 18:27, Dimitar <notifications@github.com> a écrit :

[2016-12-06 18:48] krousey commented on #34383
This will continue to fail in the upgrade tests (except for cluster-new ones) and it is understood to be a test issue and not a product issue. I vote it is a non-release blocker that should probably be cherry-picked to 1.3 and 1.4.

[2016-12-06 18:52] thockin commented on #37853
We're actively trying to narrow a repro and remove variables.  The matrix
is large, one dimension is "just google".  Any repro we get from outside
google would help.

On Tue, Dec 6, 2016 at 10:44 AM, Timothy St. Clair <notifications@github.com

[2016-12-06 18:53] BaluDontu commented on #38068
@FeatherKing : I guess you are using an existing kubernetes cluster where you have first tried to create a deployment with volume path:  [datastore] kubevols/test-pv.vmdk. After this kubernetes stalls attempting to check for the volume [datastore] kubevols/test-pv.vmdk. On this existing kubernetes cluster which is already stalled, If you are now trying to create a new deployment to use a volumePat

[2016-12-06 18:54] eparis commented on #37853
Stack differences are the reason I asked you to do this. The things that are different can be eliminated. They are in fact a good thing. What is the problem running kubemark? How do we pursue this path with all possible haste?

[2016-12-06 18:54] ixdy commented on #38066
@wojtek-t usually that happens because there is a bad test that is hanging. ginkgo is not very good at handling stuck tests.

[2016-12-06 18:57] mbohlool commented on #37881
This is only one instance in our APIs, I am tempted to just patch the OpenAPI spec before client generation (We currently do that for a number of simplification in client-python). There is a more generic fix in kubernetes code, but I am not sure if it add enough value because it only impact one operation.

[2016-12-06 18:59] timothysc commented on #37853
I'm actually doing that, but everything about kubemark-5k is script jig'd for gce and we don't normally test this way.

[2016-12-06 19:13] rootfs commented on #34242
@jsafrane @jingxu97 would #37727 help?

[2016-12-06 19:16] saad-ali commented on #34060
@jsafrane It would be logged as an error in the `kube-controller-manager.log` as `glog.Errorf("operation for %q failed with: %v", operationName, *err)`. See https://github.com/kubernetes/kubernetes/blob/master/pkg/util/goroutinemap/goroutinemap.go#L146

[2016-12-06 19:18] bprashanth commented on #37853
@gmarek had a doc with steps, and apparently was able to repro by just bringing up a large cluster and letting it sit

[2016-12-06 19:18] saad-ali commented on #34383
Marking non-release-blocking

[2016-12-06 19:26] dchen1107 commented on #37853
@timothysc and @eparis The steps reproducing the issue on GCE is documented at: https://docs.google.com/a/google.com/document/d/1D3DpKbcCSxgcAdTnqnqsn-6pB5W4e0WQjfFxd8dhJ74/edit?usp=sharing

[2016-12-06 19:27] yissachar commented on #27796
Following up on my previous comment:

I decided to create a separate GitHub account and use that for my corporate CLA. I removed my corporate email from my personal account and used it for my new account (https://github.com/yissacharcw).

 My organization then sent me an invite to join the the Linux Foundation. I followed the link, and logged in using my new GitHub account. I filled in the account

[2016-12-06 19:27] saad-ali commented on #38195
https://github.com/kubernetes/kubernetes/pull/38196 needs to be cherrypicked to 1.5 to fix this on `ci-kubernetes-test-go-release-1.5`

[2016-12-06 19:32] timothysc commented on #37853
k, I'll have my cluster up shortly.  It sounds like it even happens before kubemark-5k from the notes.

[2016-12-06 19:40] jingxu97 commented on #34242
@rootfs, #37727 is addressing a different issue, I think. When node
restarts, kubelet might delete the old node object, and create a new one.
Because of this, the list of attached volumes will be wiped out from the
node object so that kubelet on the node will not able to retrieve this
information from the api server and will wait forever for node to be
attached (even though the truth is that it is

[2016-12-06 19:42] kfox1111 commented on #16779
Cli will break helm packages and cause a lot of unexpected bug reports that arent real. Better to change a default in v2.

[2016-12-06 19:48] rootfs commented on #34242
@jingxu97 here is my thought.  When controller master restarts, if it first gets the node status (and gets the attached volumes) before sync pods, wouldn't the attached volume be still there by the time pod is to be deleted?

[2016-12-06 19:48] dchen1107 commented on #37853
@timothysc Thanks for helping on repro.

Updated the issue with the latest information I had so far:

* By mining the test failures for both cluster e2e and node e2e we had for last many days, we know the problem start to occur on both GCI and CVM significantly around 11/22.
* We tried to reproduce the issue, but there is no reliable and easy way to repro this except kubemark-5000 tests.
* davidop

[2016-12-06 19:54] jingxu97 commented on #34242
@rootfs, pod deletion does not affect the node status. Yes, the information
about the attached volume will still be available and we can add the logic
to recover this information (currently we don't have this logic and only
rely on sync pod to recover the volumes information). But if node restarts
at the same, then the information about the attached volumes will be gone
because the whole node obje

[2016-12-06 20:00] mwielgus commented on #33754
#38203 fixes 404 in this test. See PR description for more details.

[2016-12-06 20:04] nikhiljindal commented on #38133
@kshafiee Whats the version you are running? Are you on HEAD or 1.5 beta or 1.4?

[2016-12-06 20:12] thockin commented on #37853
I caught a "first error" log.  I brought up a cluster from head as of a few
hours ago.  I ran a deployment with 10 replicas (on 3 nodes) and exposed it
as a service.  Then I run a loop that deletes all of the pods every 10
seconds.  This will cause iptables churn.

Then I ran this loop for each VM (GCE specific):

[code]

This triggered within 2 hours.  Here is the log:

[code]

On Tue, Dec 6, 201

[2016-12-06 20:18] k8s-merge-robot opened #38204 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-test/84/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313 #35444 #37814

[2016-12-06 20:18] k8s-merge-robot opened #38205 "ci-kubernetes-e2e-gci-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/107/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416

Fa

[2016-12-06 20:18] k8s-merge-robot opened #38206 "DumpClusterLogs {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/1263/

Failed: DumpClusterLogs {e2e.go}

[code]

Previous issues for this test: #33722 #37578

[2016-12-06 20:18] k8s-merge-robot opened #38207 "TearDown {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/462/

Failed: TearDown {e2e.go}

[code]

Previous issues for this test: #34118 #34795

[2016-12-06 20:18] k8s-merge-robot opened #38208 "ci-kubernetes-e2e-gce-federation: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/84/

Multiple broken tests:

Failed: [k8s.io] Federation daemonsets [Feature:Federation] DaemonSet objects should be created and deleted successfully {Kubernetes e2e suite}

[code]

Failed: [k8s.io] [Feature:Federation] Federated Services DNS non-local federated service [Slow] missing local service sh

[2016-12-06 20:18] k8s-merge-robot opened #38209 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/77/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26982 #33994 #34035 #35399

[2016-12-06 20:18] k8s-merge-robot opened #38210 "ci-kubernetes-e2e-gce-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/1064/

Multiple broken tests:

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality Scaling should happen in predictable order and halt if any pet is unhealthy {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Proxy version v1 should proxy to cadvisor using proxy subresource {Kubernet

[2016-12-06 20:18] k8s-merge-robot opened #38211 "[k8s.io] Port forwarding [k8s.io] With a server that expects a client request should support a client that connects, sends data, and disconnects [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/2448/

Failed: [k8s.io] Port forwarding [k8s.io] With a server that expects a client request should support a client that connects, sends data, and disconnects [Conformance] {Kubernetes e2e suite}

[code]

[2016-12-06 20:20] sjug commented on #38165
I think @sttts wrote the new cert parts, looping him in.

[2016-12-06 20:21] thockin commented on #37853
next tests to isolate networking.

- SIGSTOP kube-proxy
- SIGSTOP kube-proxy; run iptables-save | iptables-restore in a loop
- kube-proxy in userspace mode.

On Tue, Dec 6, 2016 at 12:12 PM, Tim Hockin <thockin@google.com> wrote:

[2016-12-06 20:25] abrarshivani commented on #38068
@FeatherKing For ```attacher.go:138] Checking VMDK [datastore] kubevols/test-pv.vmdk" is attached```. Is  property ```disk.enableUUID=TRUE``` set for all your vms on which kubernetes cluster is launched?

For ```also as a side note, the kubelet is generating and holding a lot of connections to vcenter while this is happening.``` This PR https://github.com/kubernetes/kubernetes/pull/36169 solves th

[2016-12-06 20:27] vjm commented on #22063
@liggitt I am not seeing a way to configure this option in `kops`. Do you know of a way to do that?

[2016-12-06 20:29] luxas commented on #22063
@vjm ask @justinsb or @chrislovecnm or just file a kops issue

[2016-12-06 20:31] emsearcy commented on #27796
Please email helpdesk@rt.linuxfoundation.org to receive support regarding Linux Foundation IDs or signing CLAs.  We'll need info like the email addresses being used that we wouldn't want to ask here, plus it's hard to track individual requests throughout a single thread.  Using the contact forms on any "dead ends" in the CLA signing process will also create a support ticket with the Linux Foundati

[2016-12-06 20:42] #38204 closed

[2016-12-06 20:43] #38206 closed

[2016-12-06 20:52] lavalamp commented on #37903
It appears that nodes are going unavailable, so I would guess that it's the lock up issue. However it's impossible to confirm because **no node or master logs are getting saved**. @ixdy @fejta

[2016-12-06 20:53] #38031 closed

[2016-12-06 20:56] bgrant0607 commented on #24343
@brendandburns In parallel, I'm also pushing on addressing major pain points with the monorepo, such as the OWNERS mechanism, bot commands, and more directed notifications. If you'd like to help with that, please participate in the contributor experience working group.

[2016-12-06 20:56] saad-ali commented on #37903
CC @krousey Who I think saw something similar in automated upgrade testing?

[2016-12-06 20:57] timothysc commented on #37853
That's easy, just parallel submit a bunch of services in a script till loaded + give it some steady state churn.  Didn't you guys turn on HA-ish around that time?

[2016-12-06 21:05] fejta commented on #34060
FYI https://github.com/kubernetes/kubernetes/pull/38151 slightly improves how these errors are reported (to include class of resource leak)

[2016-12-06 21:10] fejta commented on #37974
Looks like we have problems starting gke staging and aws clusters.

[2016-12-06 21:11] #38211 closed

[2016-12-06 21:12] krzyzacy commented on #38043
I opened https://github.com/kubernetes/test-infra/issues/1313 to track this flake, at least https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.5/847/ passes. Keep an eye on it.

[2016-12-06 21:13] timothysc commented on #37853
FWIW - We have a load test @ 1k nodes that causes a large iptables load and it never locks, but it is the primary motivation for #37726, so I'm guessing from that perspective we eliminated RHEL kernels.

I'm guessing you could probably cause an issue on your end simply by setting --leader-elect-retry-period=1ms on the scheduler.  This will force incessant iptables spamming.

/cc @knobunc @danwinsh

[2016-12-06 21:14] krzyzacy commented on #38043
cf https://github.com/kubernetes/test-infra/pull/1314 thanks @rmmh

[2016-12-06 21:17] robdaemon commented on #38068
In the case of what I saw with PR #36169, it never successfully attached disks on my production clusters because it never actually logged in to vSphere. This happened as a result of the changes in #34491.

[2016-12-06 21:19] fejta commented on #37903
@lavalamp we updated the timeout logic yesterday evening to handle this scenario -- https://github.com/kubernetes/test-infra/issues/1250 -- so runs that started after 5p yesterday should collect logs on failure.

[2016-12-06 21:23] FeatherKing commented on #38068
Here are some more logs after restarting all my services and using no space in after the datastore name

controller logs at pod creation
reconciler.go:202] Started AttachVolume for volume "kubernetes.io/vsphere-volume/[datastore]kubevols/test.vmdk" to node "intk8sm2"
operation_executor.go:612] AttachVolume.Attach succeeded for volume "kubernetes.io/vsphere-volume/[datastore]kubevols/test.vmdk" (sp

[2016-12-06 21:23] mtaufen commented on #37853
I ran kubemark at the PR (37246) right before the memcg PR (32577) successfully on my kubemark cluster for about an hour with no failures (@gmarek indicated failures should happen within 30-45 minutes). I tore it down and am now trying the memcg PR (32577) to see if failures occur on that one.

[2016-12-06 21:24] kshafiee commented on #38133
Thanks @nikhiljindal
It looks like there is no resource in the namespace, i.e., `kubectl get X` returns nothing
I am on HEAD

[2016-12-06 21:27] saad-ali commented on #37903
CC @dchen1107

[2016-12-06 21:27] fejta commented on #38023
https://github.com/kubernetes/test-infra/issues/1316 looks like get nodes can fail w/o failing any test case

[2016-12-06 21:29] mikedanese commented on #38187
What is the master kubelet's command line?

[2016-12-06 21:29] gnufied commented on #33088
It should be noted exponential backoff is disabled in pv_controller.go - https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller_base.go#L74 , I am not sure if it was intentional.

Also, we should consider case where k8s cluster is in, inconsistent state.  For example - if volume being deleted is still mounted to a pod, there would be a flood of AP

[2016-12-06 21:32] euank commented on #38187
Since kargo was referenced, it looks like it's coming from https://github.com/kubernetes-incubator/kargo/blob/8870178a2d162b78ed6992e391f40ab0cba5867e/roles/kubernetes/node/templates/kubelet.j2#L15-L17

Should that not be `register-schedulable=false` instead of `register-node`?

IIUC standalone kubelet is deprecated, and operating badly when `register-node=false` but the node object isn't created

[2016-12-06 21:34] jingxu97 commented on #38068
Could you please double check whether /dev/disk/by-id/wwn-
0x6000c290c97403da891839e9bd75ecac exist on the node or not? Since there
are multiple log showing Checking VMDK "[datastore]kubevols/test.vmdk" is
attached, it seems like it could not verify this device path.

On Tue, Dec 6, 2016 at 1:24 PM, FeatherKing <notifications@github.com>
wrote:

--
- Jing

[2016-12-06 21:37] krzyzacy commented on #38043
/close

[2016-12-06 21:39] jingxu97 commented on #38201
Checked the log, the root cause is due to the shared mounts created by rkt container used in gci mounter, unmountdevice failed and controller will force to detach the volume cause the file system corruption. The PR should help fix the issue #38124

[2016-12-06 21:39] saad-ali commented on #38187
@yujuhong can you please help with the investigation and any fix please

[2016-12-06 21:39] roberthbailey commented on #38187
@euank -- why do you think that standalone kubelet is deprecated? That's how we run it in GKE.

GCE/GKE uses `register-schedulable=false` (see https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L509 and https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kubelet/default#L36) if you don't have the master configured to join the cluster.

T

[2016-12-06 21:42] roberthbailey commented on #38187
Sorry, my last comment was incorrect. When running in the mode where the kubelet should be part of the cluster, we pass `register-schedulable=false` (so that nothing gets scheduled to the master node). When running in standalone mode we don't pass `--api-servers` at all, which prevents the kubelet from registering.

What is the behavior that you are looking for?

[2016-12-06 21:43] mikedanese commented on #38187
If you use `register-node=false`, you shouldn't be passing a kubeconfig to the kubelet or using --require-kubeconfig.

[2016-12-06 21:43] bgrant0607 opened #38216 "Expose enough information to resolve object references and label selectors generically"
The API has a number of references to other resources that don't specify full details needed to construct API calls (e.g., `secretName`) without specific, detailed knowledge of the API. Clients need to be able to resolve dependencies generically.

There are a few possible approaches. One could be to augment the OpenAPI spec. Another could be to provide a subresource or alternative representation (

[2016-12-06 21:45] lavalamp opened #38217 "Don't overload User-Agent to express client version"
User-Agent doesn't go through all proxies untouched, so we should probably switch to a custom header to state the client version.

(We have fixed some client incompatibilities by looking at User-Agent, so old clients don't get the fix if they go through the wrong proxy.)

[2016-12-06 21:45] mikedanese commented on #38187
We should mark `--register-node` as deprecated because it's essentially redundant to `len(apiservers) != 0` and kubelet expects those two conditions to be equal.

[2016-12-06 21:45] MrHohn commented on #33405
A new pattern of failure appeared since last night in:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/881/
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/888/

All iptables rules were injected successfully and from the kubelet logs we could tell the network was cut during this test. But [build

[2016-12-06 21:47] lukaszo commented on #38187
The strange thing is that even the register-node == false kubelet still sends node status https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L285-L296

[2016-12-06 21:49] mikedanese commented on #38187
I don't know why --register-node exists or if it's ever been tested... It's functionality looks very broken. If a node isn't meant to register, it just shouldn't create a client to the apiserver.

[2016-12-06 21:51] euank commented on #38187
@mikedanese with some digging, I found that apparently it can be used to manually create the `node` object with a separate non-kubelet api client, and then have the kubelet operate as part of the cluster.

[2016-12-06 21:54] mikedanese commented on #38187
Ahh, I remember when we used to do that back in 0.4.2... In which case this is a kargo bug that is fixed by not passing `--kubeconfig --require-kubeconfig` to the master kubelet if they don't want that kubelet to register. If they do want that kubelet to register, they need to either create the master node manually or pass `--register-node=true`. This seems to be working as intended?

[2016-12-06 21:56] saad-ali commented on #37903
Marking as blocking until we know what is going on here.

[2016-12-06 21:57] saad-ali commented on #37903
At burndown @calebamiles indicated that @euank will own this issue. Will ping @dchen1107 if help is needed.

[2016-12-06 22:01] smarterclayton commented on #37473
The wait is a semantic change to how the server works.  I'm not really
happy with unbounded GET request waits being added without clearly thinking
through the implications on denial of service on the cluster.

For example, what if I say resourceVersion=MaxInt64?  And then fill up all
the rate limiter?

On Tue, Dec 6, 2016 at 3:45 AM, Wojciech Tyczynski <notifications@github.com

[2016-12-06 22:04] codablock commented on #37853
We had the same soft lockups last week on Azure, causing 100% cpu and SSH being unreachable. Even worse, we couldn't even stop/restart the VMs anymore, only deleting the VMs was possible. It happened multiple times.

It was a custom built master, slightly behind v1.5.0-beta.2. I can't check the last commit right now as I don't have access atm. Kernel was the default CentOS 7.2 kernel, 3.10 if I re

[2016-12-06 22:08] lavalamp opened #38220 "AllNodesReady function makes useless errors"
https://github.com/kubernetes/kubernetes/blob/c3a2cc53708cdeabdccf6e1a905e8fdf9b35c7c5/test/e2e/framework/util.go#L3940

The %#v in the error message prints a pointer instead of a node name. This should be changed to print something useful for humans looking at test logs.

(Noticed while looking at #37903)

[2016-12-06 22:10] euank commented on #37903
I think it's notable that this did not only impact 1.5: see [reboot-release-1.4](https://github.com/kubernetes/kubernetes/issues/37921) and [etcd3](https://github.com/kubernetes/kubernetes/issues/37923) which all failed roughly within the same hour with similar errors.

This seems like it could potentially be a GCE flake that impacted quite a few runs.

Since there were no useful logs for the last

[2016-12-06 22:12] kshafiee commented on #38133
namespace_controller.go:350] Failed to delete federation3: error in deleting resources in namespace federation3: failed to delete service list: no kind "DeleteOptions" is registered for version "federation/v1beta1"``

[2016-12-06 22:12] lukaszo commented on #38187
@mikedanese does it require any changes though?

[2016-12-06 22:12] #38043 closed

[2016-12-06 22:12] euank commented on #37903
Oops, I didn't notice there are tons more recent failures here. Somehow paged past em. Sorry, digging into logs now..

[2016-12-06 22:13] ixdy commented on #38045
+ git clone https://github.com/kubernetes/test-infra -b master
Cloning into 'test-infra'...
fatal: unable to access 'https://github.com/kubernetes/test-infra/': Failed to connect to github.com port 443: Connection timed out

[2016-12-06 22:13] #38045 closed

[2016-12-06 22:13] #38207 closed

[2016-12-06 22:13] #38210 closed

[2016-12-06 22:15] k8s-merge-robot opened #38222 "[k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/836/

Failed: [k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {Kubernetes e2e suite}

[code]

Previous issues for this test: #36323 #36469

[2016-12-06 22:21] FeatherKing commented on #38068
@jingxu97 that path doesnt exist. only the cdrom for the vm shows up in there.

@abrarshivani i did not have disk.EnableUuid set to true. i just set it now and will try again. Should this be in my vmx automatically?

[2016-12-06 22:23] enm10k commented on #38118
@du2016
Thank you for telling me.
I can solve my problem with following command.

[code]

I thought that I had already tried `--pod-network-cidr=10.244.0.0/16` option, but I may have misunderstood.

@Zjianglin I will close this issue. Please make new issue yourself if needed.

[2016-12-06 22:23] #38118 closed

[2016-12-06 22:24] thockin commented on #37853
I caught another repo.  This time it was on the machine that was just running `while true; do iptables-save | iptables-restore; sleep 0.5; done`.  Will try it again.

[2016-12-06 22:26] mikedanese commented on #38187
Not in kubernetes.

[2016-12-06 22:26] eparis commented on #37853
Do the kernels in question have lockdep enabled? Can you get a sysrq-w after they lock?  spinning in _raw_spin_lock() shouldn't really be a thing. Unless this is actually a deadlock somehow that never gets registered...

[2016-12-06 22:27] dchen1107 commented on #37853
@thockin you have a luck fingers today. This repro case is the one @freehan was trying for a couple of days, but failed. :-)  Tim, if you could repro it again, can you try to re-build your cluster by reverting #32577 to see if you can hit the same issue here?

[2016-12-06 22:28] thockin commented on #37853
This crash came with an NMI backtrace.  An interesting symbol name in the list:

[code]

Maybe it's nothing, but that is fishy to me.

[2016-12-06 22:32] abrarshivani commented on #38068
@FeatherKing Yes. The path won't appear unless you have this property set.

[2016-12-06 22:39] timothysc commented on #37853
I've left my 7.3.2 (3.10.0-327.28.2.el7.x86_64) box running

``` while true; do iptables-save | iptables-restore; sleep 0.5; done```

will report if I see anything.  I ran a more aggressive syncing and ... nothing.

[2016-12-06 22:40] saad-ali commented on #38195
Should be fixed by #38195 and https://github.com/kubernetes/kubernetes/pull/38202

[2016-12-06 22:40] #38195 closed

[2016-12-06 22:40] #28424 closed

[2016-12-06 22:41] #27414 closed

[2016-12-06 22:42] nikhiljindal opened #38223 "federation: cluster replicasets should not be scaled down when federated rs is deleted using kubectl"
Steps to repro:
* fedkubectl create -f myrs.yaml
* fedkubectl delete rs myrs

where fedkubectl is `kubectl --context=federation-cluster`

Expected:
myrs should be deleted from federation control plane. myrs in underlying clusters should be left as is.

Actual:
myrs is deleted from federation control plane fine, but myrs in all underlying clusters are also scaled down to zero. This should not happe

[2016-12-06 22:43] nikhiljindal commented on #38223
From what I can tell, this problem has existed since 1.4 when we first introduced federated replicasets (as alpha).

[2016-12-06 22:44] euank commented on #37592
The argument to leave it cordoned IMO is that the user has already expressed that they intend to decommission that node.

If, for example, it drains all but one pod and then says "delete this one pod to continue" but also uncordons it, then I might find that deleting that pod doesn't suffice since more could have been scheduled in the meantime.

[2016-12-06 22:46] bprashanth commented on #37592
you would need to rerun drain till it exits with a non-zero code, to know
it succeeded

On Tue, Dec 6, 2016 at 2:45 PM, Euan Kemp <notifications@github.com> wrote:

[2016-12-06 22:47] #38187 closed

[2016-12-06 22:52] pigmej commented on #38187
@mikedanese I think it require at least mention in docs. It may lead to unexpected behavior.

[2016-12-06 22:52] smarterclayton commented on #37592
What if the uncordon operation fails?  How long do we retry to uncordon
it?  If you're going to rerun drain in a loop, uncordon doesn't help
anyway.  I have trouble imagining a case where a partial drain is treated
indicative that the user wants to go back in service.  And if they want
that, they can script that just as easily.

On Tue, Dec 6, 2016 at 5:46 PM, Prashanth B <notifications@github.com

[2016-12-06 22:53] mikedanese commented on #38187
http://kubernetes.io/docs/admin/node/#manual-node-administration seems like the right place and explores this topic thoroughly. Where else should we mention this?

[2016-12-06 22:53] euank commented on #38187
@pigmej documented http://kubernetes.io/docs/admin/node/#manual-node-administration

Maybe there's other places it should be documented better.

Someone should definitely be opening an issue kargo side

[2016-12-06 22:55] euank commented on #37592
@bprashanth a loop of drain could fail forever though, and if it uncordons after each it's more likely to just constantly churn pods as it fails.

[2016-12-06 22:56] nikhiljindal opened #38225 "federation: deleting ns does not delete rs"
Steps to repro:
* fedkubectl create -f myns.yaml
* fedkubectl create -f rs.yaml
* fedkubectl delete ns myns

Expected:
Namespace myns and all resources in that namespace including the replicaset should be deleted from federation control plane

Actual:
While the namespace is deleted fine, the replicaset remains.

Notes:
replicaset has DeletionTimestamp set which means it was marked for deletion.
re

[2016-12-06 22:57] nikhiljindal commented on #38225
This should be fixed by https://github.com/kubernetes/kubernetes/pull/35950.
Also ref https://github.com/kubernetes/kubernetes/issues/32826 for adding kubectl tests

[2016-12-06 22:58] bprashanth commented on #37592
The assumption is if the command exited with non-zero, it didn't have any
side effects. If we're going to leave stuff around, it should be totally
clear (i.e the absence of a corresponding "node uncordoned" line isn't
enough of an indication that the user needs to uncordon to undo a side
effect).

On Tue, Dec 6, 2016 at 2:53 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-12-06 22:58] nikhiljindal commented on #38223
Ref  https://github.com/kubernetes/kubernetes/issues/32826 to add kubectl tests

[2016-12-06 23:02] saad-ali commented on #37903
See @fejta's comment:

Looks like logs are present for all recent failures: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5 e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/1070/

[2016-12-06 23:10] euank commented on #37903
@saad-ali but that's not a `All nodes should be ready after test, Not ready nodes` failure, that's only associated with this issue because it's the same test name with a totally different failure reason.

I don't think there are incidents of this one since those improvements.

[2016-12-06 23:10] kshafiee commented on #38223
@XiaoningDing

[2016-12-06 23:15] mtaufen commented on #37853
I think the `SyS` capitalization is just due to macros in the kernel code.
- https://github.com/torvalds/linux/blob/master/kernel/trace/trace_syscalls.c#L40
- https://github.com/torvalds/linux/blob/master/include/linux/syscalls.h#L198

[2016-12-06 23:15] MrHohn commented on #35600
This test always failed in 1.5 upgrade builds. An example as this :https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/12/.

Checked logs and found we were actually running the old version Addon update e2e test(probably depends on the original version?) after upgrade. But because Addon Manager is upgraded to a newer version in 1.5 and does

[2016-12-06 23:21] jeffvance commented on #38165
@sjug Here is the local-up-cluster cmd I've been using for months:
[code]
With the latest k8s this command fails with the errors I've listed above. I'm running it on a rhel 7.2 vm and selinux was enforcing.

[2016-12-06 23:21] pwittrock commented on #38160
Closing since this is something we explicitly don't support

[2016-12-06 23:21] #38160 closed

[2016-12-06 23:24] MrHohn commented on #32531
This test always failed in 1.5 upgrade builds for the similar reason as #35600. In previous version it will try to retrieve the ReplicationController of kube-dns during this test([ref](https://github.com/kubernetes/kubernetes/blob/366366022e0347/test/e2e/rescheduler.go#L59)). But since #36008 kube-dns started to use Deployment but not RC and leads to this failure in upgrade builds.

@saad-ali @kro

[2016-12-06 23:24] mtaufen commented on #37853
I am running kubemark-5000 at the memcg PR (#37246) on CVM nodes and currently have soft lockups on one of the nodes.

[2016-12-06 23:30] krousey commented on #37981
This test suite passed here https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/74 and timed out the 2 following runs. The name now has `ci-` prepended to it.

[2016-12-06 23:34] krousey commented on #37765
This test suite was renamed and doesn't seem to be broken as a suite anymore. Though it does have several individual failures. https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gke-gci-1.4-gci-1.5-upgrade-cluster-new&width=20&sort-by-failures=

[2016-12-06 23:39] thockin commented on #37853
I have a third crash - on the machine running regular kube-proxy.  That's 2 crashes with kube-proxy trash, 1 crash with direct iptables thrash, and 0 crashes with neither.

[2016-12-06 23:40] dchen1107 commented on #37853
Updated on the top of https://github.com/kubernetes/kubernetes/issues/37853#issuecomment-265253440:

* mtaufen@ run kubemark-5000 tests by syncing his branch prio to #32577, and the test passed. He re-ran the same test by including #32577, one of the nodes failed with soft lockup issue. This kind of prove the hyperthesis we had at https://github.com/kubernetes/kubernetes/issues/37853#issuecomment-

[2016-12-06 23:44] saad-ali commented on #37765
Ack. Marking non-release-blocking.

[2016-12-06 23:45] mikedanese commented on #38198
I'm getting these very frequently

[2016-12-06 23:46] bradfitz opened #38228 "Update to Go 1.8; eval 1.8beta1"
Hi, I coordinate Go releases.

Go 1.8beta1 is out now.

This is a request for Kubernetes to test it now, sooner than later. The later you test, the harder and/or less likely we're able to fix bugs.

* Go 1.8 announcement email: https://groups.google.com/d/msg/golang-announce/Wgv6NGcntlQ/JtOV10rwBgAJ
* Go 1.8 release notes: https://beta.golang.org/doc/go1.8

We expect Go 1.8beta2 to be out next wee

[2016-12-06 23:46] krousey commented on #37765
Going to close as it seems to be producing results now.

[2016-12-06 23:46] #37765 closed

[2016-12-06 23:47] jessfraz commented on #38228
I'll test it out

On Dec 6, 2016 15:46, "Brad Fitzpatrick" <notifications@github.com> wrote:

[2016-12-06 23:48] rshriram commented on #28443
Are the improvements/issues suggested above targeted at HTTP only?
What if I want to use ingress for managing TCP services, with similar requirements, i.e., route a portion of traffic to a different version of the service.  I think this relates to https://github.com/kubernetes/kubernetes/issues/23291

[2016-12-06 23:49] mikedanese commented on #38198
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31647/pull-kubernetes-e2e-gce-etcd3/8114/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31647/pull-kubernetes-e2e-gce/8609/

[2016-12-06 23:50] mikedanese commented on #38198
@sttts is the lucky test owner according to test_owners.csv

[2016-12-06 23:55] bprashanth commented on #28443
Yeah, we will have to figure out TCP+Ingress. Either way I feel like the common denominator is first agreeing upon how to validate, reject or enforce routing policy across different backends that don't support the same core rule set (eg: internal ELB vs common cluster level nginx vs sidecar proxy).

[2016-12-06 23:55] jingxu97 commented on #37531
Checked the log, could not find anything useful except the error "unknown" from server. Will keep monitoring this issue.

[2016-12-06 23:55] saad-ali commented on #37903
You're right, none of the recent runs have hit the issue yet.

[2016-12-07 00:07] saad-ali opened #38229 "[Upgrade test] "Addon update should propagate add-on file changes" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=&include-filter-by-regex=Addon%20update%20should%20propagate%20add-on%20file%20changes) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrad

[2016-12-07 00:10] jingxu97 commented on #37333
I checked the build.log, the NFS/GlusterFS tests are not running on the node because the os distro does not support them

[2016-12-07 00:12] thockin commented on #37853
I have rolled back 1ec69f65 and 2583116f and and retrying.

[2016-12-07 00:13] saad-ali opened #38230 "[Upgrade test] "Kibana Logging Instances Is Alive should check that the Kibana logging instance is alive" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=&include-filter-by-regex=Kibana%20Logging%20Instances%20Is%20Alive%20should%20check%20that%20the%20Kibana%20logging%20instance%20is%20alive) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/](https://k8s-gubernator.appspot.com/builds/kubern

[2016-12-07 00:14] jingxu97 commented on #37657
@resouer thanks for the analysis. As suggested earlier, to make unmount more robust, unmount should not fail over and over if dir no long exists.

[2016-12-07 00:19] saad-ali opened #38231 "[Upgrade test] "Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes" failing in"
Test has been failing [60% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/). Sample failure: [link](https://k8s-gubernator.appspot.com/build/kubernetes

[2016-12-07 00:23] ymqytw commented on #35936
Closing this, since #35647 has been reverted.

[2016-12-07 00:23] #35936 closed

[2016-12-07 00:27] rkouj opened #38232 "[Upgrade test] "ScheduledJob should not emit unexpected warnings" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20not%20emit%20unexpected%20warnings) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort-by

[2016-12-07 00:30] smarterclayton commented on #37592
I don't think non-zero means no side effects, that's almost impossible to
guarantee for distributed operations like this.  I'd rather not pretend and
be totally consistent.  Having to script uncordon on failure if I want it
all the time as opposed to *maybe* needing it is a lot more complex.

On Dec 6, 2016, at 5:58 PM, Prashanth B <notifications@github.com> wrote:

The assumption is if the comman

[2016-12-07 00:33] rkouj opened #38233 "[Upgrade test] "ScheduledJob should not schedule jobs when suspended" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20not%20schedule%20jobs%20when%20suspended) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&s

[2016-12-07 00:36] rkouj opened #38234 "[Upgrade test] "ScheduledJob should not schedule new jobs when ForbidConcurrent" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20not%20schedule%20new%20jobs%20when%20ForbidConcurrent) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-mast

[2016-12-07 00:36] saad-ali opened #38235 "[Upgrade test] "Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available" in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster"
Test has been [failing 100%](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=&include-filter-by-regex=should%20ensure%20that%20critical%20pod%20is%20scheduled%20in%20case%20there%20is%20no%20resources%20available) of the time in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-

[2016-12-07 00:37] MrHohn commented on #38229
Paste my same comment from #35600:

This test always failed in 1.5 upgrade builds. An example as this :https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/12/.

Checked logs and found we were actually running the old version Addon update e2e test(probably depends on the original version?) after upgrade. But because Addon Manager is upgrade

[2016-12-07 00:38] mml commented on #36555
@xiang90 your slack message was lost while I was out of office, but the attached file is still there.  Trying it now.

[2016-12-07 00:39] rkouj opened #38236 "[Upgrade test] "ScheduledJob should replace jobs when ReplaceConcurrent" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20replace%20jobs%20when%20ReplaceConcurrent) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&

[2016-12-07 00:41] MrHohn commented on #38235
This test always failed in 1.5 upgrade builds for the similar reason as #38229. In previous version it will try to retrieve the ReplicationController of kube-dns during the test([ref](https://github.com/kubernetes/kubernetes/blob/366366022e0347/test/e2e/rescheduler.go#L59)). But since #36008 kube-dns started to use Deployment but not RC and leads to this failure in upgrade builds.

[2016-12-07 00:42] rkouj opened #38237 "[Upgrade test] "ScheduledJob should schedule multiple jobs concurrently" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20schedule%20multiple%20jobs%20concurrently) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&

[2016-12-07 00:44] macb commented on #19634
`address=/foo/` worked for me:

When logging is enabled can see lines similar to:
[code]

[2016-12-07 00:45] rkouj opened #38238 "[Upgrade test] "Kibana Logging Instances Is Alive should check that the Kibana logging instance is alive" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort-by-failures=&include-filter-by-regex=%20Kibana%20Logging%20Instances%20Is%20Alive%20should%20check%20that%20the%20Kibana%20logging%20instance%20is%20alive) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master](https://k8s-testgrid.appspot.com/google-1.4-1.5-

[2016-12-07 00:46] bprashanth commented on #37592
Hrm, I guess if scale fails it isn't going to restore replicas and that's
pretty obvious. I think the problem is drain = cordon + delete is hidden,
so reliazing you need to uncordon isn't as obvious. Another option is to
just NOT uncordon if we know it's going to fail because of
--delete-local-data, unless the flag is specified.

On Tue, Dec 6, 2016 at 4:31 PM, Clayton Coleman <notifications@githu

[2016-12-07 00:47] rkouj opened #38239 "[Upgrade test] "Addon update should propagate add-on file changes" failing in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort-by-failures=&include-filter-by-regex=Addon%20update%20should%20propagate%20add-on%20file%20changes) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-master](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-master&width=20&sort

[2016-12-07 00:51] saad-ali opened #38240 "[Upgrade test] "ScheduledJob should not emit unexpected warnings" in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster"
Test has been [failing 100%](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20not%20emit%20unexpected%20warnings) of the time in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-c

[2016-12-07 00:59] saad-ali opened #38241 "[Upgrade test] "ScheduledJob should not schedule jobs when suspended [Slow]" in ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster"
Test has been failing [100% of the time](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade#gce-cvm-1.4-cvm-1.5-upgrade-cluster&width=20&sort-by-failures=&include-filter-by-regex=ScheduledJob%20should%20not%20schedule%20jobs%20when%20suspended) in [ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upg