[2015-03-10 19:47] bgrant0607 commented on #473
Known issues with replicating apiserver:
* IP allocation -- believed to be the only global state
* Cluster turnup scripts, Salt, kube-push, etc.
* nginx setup so that most/all clients can be oblivious to the number/locations of the apiservers

[2015-03-10 20:44] jayunit100 opened #5260 "Add k8PetStore load generator application."
We now have ported the Apache BigTop data generator to work as an independent container, in an architecture which leverages guestbook's redis k/v sink, and visualizes throughput in a web app.

As per
https://groups.google.com/forum/#!topic/google-containers/cRe7Wo6xFr0

The work done will be:

- The original Dockerfiles + content for all images
- An e2e test that validates that it is working
- The

[2015-03-10 20:44] pmorie commented on #4954
Will make a PR for this later tonight if I have time.

[2015-03-10 20:58] prateekarora151083 opened #5261 "can i ping Docker Container from another machine using container ip"
I have installed kubernetes ( v0.6.2) on Ubuntu ( multi host) .

My Setup:
Master 10.23.48.79
Minion1 10.23.48.76
Minion2 10.23.48.77

I have created one container on "host": "10.23.48.76" with "podIP": "172.17.0.4"

In my Use case i want my "host": 10.23.48.77 can communicate ( example : ping ) container ("podIP": "172.17.0.4" )  using container ip  ( means want to run command ping 172.17.0.4 on

[2015-03-10 21:08] timothysc opened #5263 "apiserver under load."
When checking out the performance data on the apiserver under soak testing it appears that there is a fair amount of gc work going on:

20.43%  kube-apiserver  [.] runtime.MSpan_Sweep
3.91%  kube-apiserver  [.] findrunnable
3.05%  kube-apiserver  [.] runtime.mallocgc
2.29%  kube-apiserver  [.] scanblock
1.83%  kube-apiserver  [.] runtime.sweepone
1.75%  kube-apiserver  [.] runtime.atomicload
1.73%

[2015-03-10 21:25] dchen1107 commented on #5020
There are more prs pending to get rid of BoundPods completely, thus we won't run into this out-of-sync on boundpods and pods issue. Should be fixed soon.

[2015-03-10 21:27] bgrant0607 commented on #4528
In addition to fixing etcd problems, we should make the client more robust, by retrying.

[2015-03-10 21:30] bgrant0607 commented on #3042
Note that we're currently going in the opposite direction of unification.

But we do need to make the support consistent.

This isn't really a bug.

[2015-03-10 21:30] bgrant0607 commented on #3042
See #5171.

[2015-03-10 21:33] smarterclayton commented on #4954
Making it a reference isn't terrible (strong typing can be good), it's just we should be doubly certain how it is used.

[2015-03-10 21:40] smarterclayton commented on #1139
I don't believe so

[2015-03-10 21:47] #1139 closed

[2015-03-10 21:49] bprashanth commented on #4528
@davidopp I put in retries for stop in https://github.com/GoogleCloudPlatform/kubernetes/pull/5193 and etcd stability is being addressed in https://github.com/GoogleCloudPlatform/kubernetes/issues/3853

[2015-03-10 21:49] bgrant0607 commented on #4940
Good catch. Default namespace must be specified explicitly.

[2015-03-10 21:49] ArtfulCoder commented on #5261
Hi, you can create a service for your pod, (pod spec the container ), kubernetes will give a service ip that you can use to reach your container.
If you now access the container through the service ip, it will just work.

[2015-03-10 21:56] bgrant0607 opened #5267 "TestServeExecInContainerIdleTimeout failures on Shippable"
I saw this a couple times today on Shippable:
[code]

cc @dchen1107

[2015-03-10 22:03] prateekarora151083 commented on #5261
Thanks  but i think service cant solve my problem .
My  use case is :

application is running on container ( "host": "10.23.48.76" with "podIP": "172.17.0.4")

and one "third party  service" is running on host 10.23.48.77

application want to perform some task on third party service .

before perform task some handshaking between application and third party  service happen. during handshaking thir

[2015-03-10 22:04] bprashanth opened #5268 "e2e guestbook.sh flakes in creating loadbalancer"
Running e2e on my localsetup with a clean checkout, guestbook.sh flakes a lot more than any other test because of a timeout in creating the loadbalancer.

@rsokolowski can we remove the loadbalancer from guestbook.sh till we've figured out the cause of the timeouts? it would also help with confusion like https://github.com/GoogleCloudPlatform/kubernetes/issues/4464, because a loadbalancer is incom

[2015-03-10 22:05] erictune commented on #5261
Which Getting Started Guide are you using?

[2015-03-10 22:10] erictune commented on #5020
#5252 should not matter.

On Tue, Mar 10, 2015 at 2:26 PM, Dawn Chen <notifications@github.com> wrote:

[2015-03-10 22:10] prateekarora151083 commented on #5261
not any particular guide .
just search  about kubernetes  installation on internet .
follow below link
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides

[2015-03-10 22:11] Komnomnomnom commented on #5181
Just saw this issue, didn't notice it when I created mine yesterday, d'oh. I was having similar problems and updating SkyDNS fixed it for me, see #5238 and skynetservices/skydns#142

[2015-03-10 22:11] erictune commented on #5261
are you following
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu_multinodes_cluster.md
in particular?

On Tue, Mar 10, 2015 at 3:10 PM, Prateek Arora <notifications@github.com>
wrote:

[2015-03-10 22:14] erictune commented on #5261
Possibly you have not setup flannel correctly, or possibly that guide is
broken.
It is suspicious that you are using v0.6.2 but the guide says to use v0.12.0

On Tue, Mar 10, 2015 at 3:11 PM, Eric Tune <etune@google.com> wrote:

[2015-03-10 22:15] prateekarora151083 commented on #5261
No because when i installed kubernetes on ubuntu multi node  no such type of document is available . so just search on net and follow steps that already tried by someone.

[2015-03-10 22:16] erictune commented on #5261
I'm afraid we can't help much with debugging your setup then.

On Tue, Mar 10, 2015 at 3:15 PM, Prateek Arora <notifications@github.com>
wrote:

[2015-03-10 22:18] thockin commented on #5261
Please see docs/networking.md - the existence of a 172 IP suggests you have
not yet set up networking.
 On Mar 10, 2015 6:17 PM, "Eric Tune" <notifications@github.com> wrote:

[2015-03-10 22:20] bgrant0607 commented on #3476
This is currently very messy. It would be a little better if everything had been converted to etcdgeneric. We should have a centralized key-producing function, similar to etcdgeneric.NamespaceKeyRootFunc, but which is used for both namespaced and non-namespaced resources.

For now, EtcdHelper does appear to be the only single chokepoint where we could introduce a universal prefix, and has the adva

[2015-03-10 22:26] prateekarora151083 commented on #5261
Thanks erictune , i will try to setup kubernetes with new document  that you mention

i need one clarification .
as per my current understanding using flannel containers on multiple node can talk to each other .

but can using flannel all nodes can also communicate with all containers on multiple node  (and vice-versa) ?

[2015-03-10 22:28] erictune commented on #5261
Take a look at docs/networking.md

On Tue, Mar 10, 2015 at 3:26 PM, Prateek Arora <notifications@github.com>
wrote:

[2015-03-10 22:39] lavalamp commented on #4877
@pmorie @ironcladlou I've put the next round into #5270 for ease of commenting.

[2015-03-10 22:40] bgrant0607 commented on #260
+1 to special-casing 1:1 VIPs. I think that's going to be a common case.

I'm still worried about changing DNS mappings dynamically. I'd prefer an approach that didn't require that.

Something to keep in mind when evaluating alternatives is that I'm 100% certain that we're eventually going to need 2 pods with the same role to coexist at the same time, the old and the new. Therefore, the role can't

[2015-03-10 22:46] bgrant0607 commented on #260
@smarterclayton Simple indices aren't problematic due to scale. It's due to the model. See my comments from a few minutes ago. Simple indices are the way to go if they can be assigned dynamically independent of pod and RC identity.

[2015-03-10 22:47] erictune commented on #5112
Is there any plan to make the other salt-based distros to use standalone too?  It is convenient to have them consistent.

[2015-03-10 22:56] bgrant0607 commented on #260
Given that one of the problems is system-oriented assumptions, is there something Linux could do for us here? For instance, could we create an IP alias or somesuch in the container for the service VIP?

[2015-03-10 22:56] zmerlynn commented on #5112
I have no plans to do this work. If others want to follow, that's awesome.
For now, it's actually not a huge delta, and the change to the Salt mine
was actually meant to be a giant alarm bell on any mine.get action (so it
would be an obvious break ... I think)

On Tue, Mar 10, 2015 at 3:47 PM, Eric Tune <notifications@github.com> wrote:

[2015-03-10 23:02] lavalamp commented on #3476
Yeah, my plan is to evolve EtcdHelper to make it an implementation of a generic storage interface. It's the natural place to implement key prefixing.

[2015-03-10 23:04] alex-mohr commented on #5078
... or we buy more Travis capacity.  I think @craigmcl is driving that.

[2015-03-10 23:05] brendandburns commented on #5261
Yes, nodes (e.g. the host VMs) should be able to talk to container IP
addresses over flannel.

On Tue, Mar 10, 2015 at 3:28 PM, Eric Tune <notifications@github.com> wrote:

[2015-03-10 23:10] prateekarora151083 commented on #5261
Thanks
 i will try to setup kubernetes with flannel using https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu_multinodes_cluster.md
and try to achieve my use case .

[2015-03-10 23:16] bgrant0607 commented on #1607
I'd be fine with PortalIP=none. We shouldn't allocate an IP, create links vars, nor publish DNS for such services.

Just search for all uses of PortalIP (including kube2sky):
https://github.com/GoogleCloudPlatform/kubernetes/search?l=go&q=PortalIP&utf8=%E2%9C%93

[2015-03-10 23:16] bgrant0607 commented on #4971
#4370 and #4742, but neither directly address #1607. More details on that issue.

[2015-03-10 23:17] bgrant0607 commented on #1607
Nit: Should be None, to obey our constant convention.

[2015-03-10 23:22] goltermann commented on #5268
This might be the only test currently testing the load balancer.  We should break this out into another test.  Perhaps in the short term we extend the timeout?

[2015-03-10 23:22] alex-mohr commented on #5258
Thanks for the report Derek!

[2015-03-10 23:23] bgrant0607 commented on #170
Well, we don't have to prevent in-use deletion, or we could implement a best-effort check. It's similar to preventing replication controller overlap.

Assuming we don't 100% prevent in-use deletion, replication controller would need to do something reasonable, like report that it's broken in its status somehow.

[2015-03-10 23:26] goltermann commented on #5263
Dupe of #4521 (this is data that helps solve that one)

[2015-03-10 23:26] #5263 closed

[2015-03-10 23:28] bprashanth commented on #5268
that would work if it really is a timeout and not a straight-up failure. you should be able to trigger the condition if you setup an e2e cluster and try guestbook.sh against it, no need to run the entire e2e suite (ie -build -pushup; ./guestbook.sh). You might also need https://github.com/GoogleCloudPlatform/kubernetes/pull/5262 to properly cleanup forwarding-rules.

[2015-03-10 23:29] bgrant0607 commented on #5057
We should just document the default.

[2015-03-10 23:30] bgrant0607 commented on #5057
This will be easier to do if we convert this to a string field. #3607

[2015-03-10 23:33] zmerlynn commented on #5258
Yeah, this broke our Jenkins a while ago, and I thought I fixed it, but didn't. The real fix is in #5273

[2015-03-10 23:34] bgrant0607 commented on #4844
kubectl should retry. apiserver drops connections after 5 minutes.

[2015-03-10 23:38] brendandburns commented on #3222
I'm closing this as obsolete.  If you are still having the issue, please re-open.

[2015-03-10 23:38] #3222 closed

[2015-03-10 23:40] bgrant0607 commented on #4090
Please populate Spec.Host. See #5256.

[2015-03-10 23:41] brendandburns commented on #3111
Closing this as completed.  Please open a new issue if you have more questions!

[2015-03-10 23:41] #3111 closed

[2015-03-10 23:42] bgrant0607 commented on #2483
BoundPods is hypothesized to be gating apiserver pod scheduling and deletion performance, and perhaps is causing pathologically bad resource conflicts resulting in high latency and apiserver cpu consumption. #3954, #4521.

[2015-03-10 23:45] brendandburns commented on #4412
Closing as obsolete.

[2015-03-10 23:45] #4412 closed

[2015-03-10 23:46] brendandburns commented on #4388
Hello,
Sorry for the delay in responding.  Those objects are not present in kubernetetes version 0.9

[2015-03-10 23:46] #4388 closed

[2015-03-10 23:46] brendandburns commented on #2678
@nterry is this working now?

[2015-03-10 23:47] brendandburns commented on #4384
#4434 is merged so I'm closing this.

[2015-03-10 23:47] #4384 closed

[2015-03-10 23:49] brendandburns commented on #4809
I'm pretty sure that this is actually due to heapster having a bad pod selector (see the recent issue on this subject)

Should be fixed soon.

[2015-03-10 23:57] vishh commented on #4809
@brendandburns: This issue is about the connectivity between heapster and Influxdb service and transient errors observed.
@pires: The more recent versions of heapster should check for the existence of required databases before attempting creation. Some users have their own custom InfluxDB setup and creating the databases from heapster helps their use case.
Do you still observe this error?

[2015-03-11 00:00] #5258 closed

[2015-03-11 00:39] yujuhong commented on #4090
@bgrant0607, that's what I have been doing, and my code works with the current implementation. Scheduler would go ahead and update the BoundPod by inserting the mirrored pod kubelet created. On the other hand, kubelet would de-duplicate the pods from different sources.

[2015-03-11 01:05] bgrant0607 opened #5275 "Make kubectl awesome"
Filing this as a GSoC project idea.

There are many ideas for kubectl improvements in the [CLI roadmap](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cli-roadmap.md).

Also see issues with the [CLI label](https://github.com/GoogleCloudPlatform/kubernetes/labels/component%2FCLI).

A few of the ideas have been implemented (I'll try to update it soon), but a batch of them could m

[2015-03-11 02:26] bgrant0607 commented on #3111
See also #260.

[2015-03-11 02:28] bgrant0607 commented on #4950
See #489. (Yes 3 digits.)

[2015-03-11 02:33] bgrant0607 commented on #4950
Half-baked idea: embed identifying information in the file name.

[2015-03-11 02:43] thockin commented on #4950
It's possible to start checkpointing (in fact some volume plugins already
do it a bit) but I'd rather not do it entirely ad hoc...

On Tue, Mar 10, 2015 at 7:33 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-11 02:48] pmorie commented on #4950
@bgrant0607 i had thought about a metadata file in the volume

On Tue, Mar 10, 2015 at 10:44 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-03-11 02:52] thockin commented on #4971
I don't like a magic out-of-band value for an otherwise typed field, but I
am not confident in any other solution yet, and I'd rather be biased
towards action.

On Tue, Mar 10, 2015 at 4:16 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-11 03:17] timothysc commented on #5260
@satnam6502 here is your soak test.

@dchen1107 during testing we brought down etcd via the other bug reported.

[2015-03-11 03:21] satnam6502 commented on #5260
+1

[2015-03-11 03:33] thockin commented on #260
Hey guys,

I am out all this week.  This is a really fun conversation, but it requires
more time than I have at hand.  I'd be happy to sit and discuss in real
time next week.

On Tue, Mar 10, 2015 at 3:56 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-11 03:43] brendandburns commented on #5203
Confirmed that we use the name of the binary by default for the User-Agent string via ```DefaultKubernetesUserAgent()```

Closing this issue.

[2015-03-11 03:43] #5203 closed

[2015-03-11 03:48] smarterclayton commented on #260
I'm out of pocket next two days - next week it is.

[2015-03-11 04:01] thockin commented on #3622
I did not get the sense that a decision had been made and I've been
watching that thread...

On Tue, Mar 10, 2015 at 11:01 AM, Brian Grant <notifications@github.com>
wrote:

[2015-03-11 04:03] bgrant0607 commented on #4711
Let's move the discussion to #2804. We're not planning to do any work on that in the near future, so if you'd like that functionality, contributions would be welcome.

[2015-03-11 04:03] #4711 closed

[2015-03-11 04:08] bgrant0607 commented on #4710
Re. "wrapping": replacing the entrypoint + exec would give us pre-start hooks. We could mount a specialized Go binary into the container at an obscure path for this. OTOH, there's no ETA from Docker for that capability.

[2015-03-11 04:09] brendandburns commented on #4462
This was fixed by #4494

[2015-03-11 04:09] #4462 closed

[2015-03-11 04:12] bgrant0607 commented on #5009
GitRepo should go away.

That leaves only EmptyDir.

Other VolumeSources should be just that -- other sources.

[2015-03-11 04:35] bgrant0607 opened #5277 "Support multiple kinds on kubectl command line"
Forked from #3233.

We should support multiple kinds of objects on a single command line, such as by using URL suffixes. For instance:
[code]

[2015-03-11 04:41] bgrant0607 opened #5278 "Kind wildcarding/discovery in kubectl"
Forked from #3233.

I think the last proposal was to support:
[code]

where "all" implies all known kinds.

@brendandburns @smarterclayton

[2015-03-11 04:48] thockin opened #5279 "Need e2e test for tmpfs"
I'd like to commit #5166 without e2e support so others can unblock.  We need to come back to get e2e on this.  I could use help, and it seems like an easy test...

[2015-03-11 04:52] bgrant0607 opened #5280 "Server-side configuration generation"
Forked from #3233, #1007, #1694, #1695, and other issues.

We've started to introduce a few configuration generators in kubectl: run-container, expose, ... They're not really built the way they should be.

It needs to be possible to access same generator functionality declaratively as is available imperatively using the CLI. The command-line arguments for imperative commands should be used to gene

[2015-03-11 04:56] bgrant0607 opened #5281 "General way to set API fields on kubectl command line"
Forked from #3233 and other issues.

We have patch, but it would be very convenient to have a generic way to specify API fields on the command line for create and update.

[2015-03-11 04:59] ghodss commented on #4889
I like the content type idea.

A few hundred lines - I'll have a PR soon.

Actually I am not yet too familiar with swagger. I was imagining them as struct tags on the versioned objects - can swagger pick up and expose arbitrary tags, or only ones that it knows about? How do I get a tag exposed through swagger? How do I query swagger for a tag?

On second though, this information may not even need

[2015-03-11 05:07] ghodss commented on #4889
[This design](https://www.ietf.org/mail-archive/web/json/current/msg02730.html) gave me an idea for how to structure the special case list items, and if we extend it to maps, we can have a pretty good way to express all kinds of intent in patches.

For example, as mentioned above, if you want to your local reconcile command to ask that a list item be deleted due to a change from a previous config,

[2015-03-11 05:36] saad-ali commented on #4432
Here is the data that I've gathered:
* 4 minions no extra pods other then those created with normal cluster start up:
  * [Chart](https://docs.google.com/a/google.com/spreadsheets/d/1zxTXdY1gfiIzxpbk7Ys5f8l_4Kj6FjPTzOZvRa3NLpU/pubchart?oid=656058140&format=interactive) showing memory usage with events
  * [Chart](https://docs.google.com/a/google.com/spreadsheets/d/1zxTXdY1gfiIzxpbk7Ys5f8l_4Kj6FjPT

[2015-03-11 05:51] erictune commented on #2448
@zmerlynn does your recent change "Change GCE to use standalone Saltstack config" make this bug obsolete?

[2015-03-11 06:03] bgrant0607 commented on #4889
We're using swagger 1.2:
https://github.com/swagger-api/swagger-spec/tree/master/versions

Swagger has a way to specify a list is a set (uniqueItems), but not to specify map keys. There's a little bit of a discussion about it in an issue, though:
https://github.com/swagger-api/swagger-spec/issues/289

It's probably worth raising this issue with them.

Getting the support into go-restful is another

[2015-03-11 06:08] satnam6502 commented on #4432
Happy to help with the Fluentd -> Elasticsearch option for the events log
-- I think this should be straight forward. We could then re-wire kubectl
etc. to get the events from Elasticsearch. Note that it is possible to
create a cluster with (a) no cluster logging; (b) Fluentd -> Elasticsearch;
(c) Fluentd -> Cloud Logging. We don't have a systematic way of knowing
what the cluster level logging op

[2015-03-11 07:01] bgrant0607 commented on #4889
The proposed representation looks powerful enough to represent the patches we want to perform.

However, I think that generating the patch spec is harder than serializing and applying it. I'm fine with driving it from Go struct field tags until we figure out the swagger representation, but it does impose a barrier for non-Go clients, of which we have several (at least Java, Ruby, Python, Javascrip

[2015-03-11 07:58] erictune commented on #5268
seeing this issue too.
Failed 5 times.
Also, fails to cleanup properly for me.

At least call it a loadbalancer test, rather than guestbook.sh

[2015-03-11 08:32] turbospaces opened #5283 "Validating minion-1 never succeeds with vagrant #2"
**VirtualBox** 4.3.24
**LinuxMint** 3.13.0-37-generic
**Docker**  1.0.1
**Vagrant** 1.7.2

*net-tools* are also installed.

[code]

vagrant ssh minion-1 -c "ping kubernetes-master"

[code]

sudo cat /var/log/salt/minion

[code]

[2015-03-11 08:46] abonas commented on #4940
fyi @itamarh @simon3z

@nikhiljindal  any timelines that you can share regarding freezing the api to become stable?

[2015-03-11 10:56] kbeecher commented on #1788
This example was merged. Can the issue now be closed?

[2015-03-11 10:59] gmarek commented on #1086
Yeah. I tried to reproduce it locally by running multiple (20) times, ale gone through without this bug. I also looked at all travis failures in the last 24 hours. It never happened. I guess we can assume it's fixed.

[2015-03-11 11:23] #1086 closed

[2015-03-11 11:29] gmarek commented on #4797
I tried to reproduce this problem on 4 single-hyperthread nodes and 1 single-hyperthread master without any success. I was playing with pods and replication controller heavy load. Maybe services behave differently?

[2015-03-11 11:34] gmarek commented on #4787
#5022 WIP PR addresses some of those issues, namely it prevents restarting RestartPolicy::Never Containers, when Infra Container is being recreated.

It does not change the logic behind updates, and exactly as previously if any container is changed, Infra Pod is being recreated (variable was erroneously called 'podChanged' before, now it's 'containerChanged' as it reflects the semantics better).

[2015-03-11 11:52] wojtek-t commented on #4028
I looked into recent history of PD tests in jenkins and I think it's no longer an issue.
Basically, there are currently 2 PD-related test:
1. PD should schedule a pod w/ a RW PD, remove it, then schedule it on another host
2. PD should schedule a pod w/ a readonly PD on two hosts, then remove both.
Within last week (~250 runs), the first one failed once, the second one failed twice.

So I think we

[2015-03-11 12:38] timothysc commented on #4521
I'll paste my comment in this thread then:

When checking out the performance data on the apiserver under soak testing it appears that there is a fair amount of gc work going on:

20.43% kube-apiserver [.] runtime.MSpan_Sweep
3.91% kube-apiserver [.] findrunnable
3.05% kube-apiserver [.] runtime.mallocgc
2.29% kube-apiserver [.] scanblock
1.83% kube-apiserver [.] runtime.sweepone
1.75% kube-apiser

[2015-03-11 12:40] roberthbailey commented on #4028
CJ made some significant improvements to the PD tests and deleted pd.sh in the process, obsoleting this issue.

[2015-03-11 12:40] #4028 closed

[2015-03-11 12:43] timothysc commented on #473
@smarterclayton - here is the apiserver slog (https://github.com/GoogleCloudPlatform/kubernetes/issues/4521)

[2015-03-11 12:51] zmerlynn commented on #2448
I hunted for this bug when I was looking for other master-kubelet securing
paths and didn't see it. Yeah, on GCE at least.
On Mar 10, 2015 10:52 PM, "Eric Tune" <notifications@github.com> wrote:

[2015-03-11 13:09] timothysc commented on #4861
@lavalamp - this one can be closed as https://github.com/GoogleCloudPlatform/kubernetes/pull/4862 is merged.

[2015-03-11 13:10] timothysc commented on #4521
More color:

https://github.com/GoogleCloudPlatform/kubernetes/pull/4862 shows a rc fill time ~10 minutes.

A part of this lag is apiserver, but there are other issues in the system that we're tracing.

[2015-03-11 13:22] abonas commented on #4932
cc @mfojtik

[2015-03-11 13:26] abonas commented on #4934
cc @mfojtik

[2015-03-11 13:31] abonas opened #5286 "REST api - namespace entity contains namespace attribute as part of the metadata"
Namespace entity, as other entities, contains ObjectMeta (metadata), which contains in turn also a namespace property, which is :
a. duplication of information
b. can be updated to a completely different value than the namespace it's in.

so imho this is a bug and can cause inconsistency and confusion.

[2015-03-11 13:32] abonas commented on #5286
cc @mfojtik

[2015-03-11 13:41] xudifsd commented on #3060
maybe this can also be included in https://github.com/GoogleCloudPlatform/kubernetes/issues/5275

[2015-03-11 13:46] timothysc commented on #4971
IMHO, we should try to avoid baking in too many default semantics based on primitives, because in the long run you may find it limiting, or not what you really want.  I understand the desire to spread, but in reality different workloads will often have different QoS tiers and thus different constraints.  Keeping the core algorithm simple enough while having the mechanics to enable customized const

[2015-03-11 13:53] jdef commented on #4798
xref https://github.com/mesosphere/kubernetes-mesos/issues/18

[2015-03-11 14:08] bgrant0607 commented on #5039
This is basically done.

[2015-03-11 14:08] #5039 closed

[2015-03-11 14:11] bgrant0607 commented on #1728
@yujuhong @vishh v1beta3 didn't get the "cannot be updated" annotations. Could one of you

[2015-03-11 14:14] bgrant0607 commented on #3996
Done.

[2015-03-11 14:14] #3996 closed

[2015-03-11 14:17] jdef commented on #4951
xref https://github.com/mesosphere/kubernetes-mesos/issues/76

[2015-03-11 14:20] jdef commented on #2585
xref https://github.com/mesosphere/kubernetes-mesos/issues/59

[2015-03-11 14:34] pires commented on #4809
I've said this previously so I'm going to repeat myself, `influxdb` **is running** and is accessible. `heapster` error has nothing to due with `influxdb`.

[2015-03-11 14:36] jonlangemak commented on #4785
The minions have their kubelet service pointed toward the etcd service running on the master...

https://gist.github.com/jonlangemak/b799802cd349d4b7c19e

I'll work on getting the logs, it appears that some of the services are logging correctly the the log_dir configuration.

[2015-03-11 14:36] jdef commented on #2303
xref https://github.com/mesosphere/kubernetes-mesos/issues/169

[2015-03-11 14:42] jdef commented on #983
xref https://github.com/mesosphere/kubernetes-mesos/issues/59

[2015-03-11 15:05] timothysc opened #5290 "apiserver crash from build on 2015-03-11"
initial trace on panic
--------------------------

Mar 11 14:42:36 host18-rack11.fqdn kube-apiserver[17661]: /var/lib/jenkins/workspace/kubernetes/_output/local/go/src/github.com/GoogleCloudPlatform/kubernetes/pkg/master/pod_cache.go:268 +0x71
Mar 11 14:42:36 host18-rack11.fqdn kube-apiserver[17661]: github.com/GoogleCloudPlatform/kubernetes/pkg/master.func·004()
Mar 11 14:42:36 host18-rack11.fqdn

[2015-03-11 15:30] eparis commented on #5290
@aveshagarwal  can you take a look?

[2015-03-11 15:35] aveshagarwal commented on #5290
Sure

[2015-03-11 15:42] timothysc commented on #5260
exposed - https://github.com/GoogleCloudPlatform/kubernetes/issues/5290

[2015-03-11 15:46] jonlangemak commented on #4785
I fixed my log issue.  I have a tar from each server with all of the logs.  Whats the best way to get them to you?

[2015-03-11 15:56] yujuhong commented on #1728
I will do that.

[2015-03-11 15:58] vishh commented on #1728
Thanks @yujuhong for picking that up!

On Wed, Mar 11, 2015 at 8:56 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-03-11 16:00] vishh commented on #4809
@pires: I did notice your previous post. But this error `Post http://10.100.235.159:80/db?u=root&p=root: read tcp 10.100.235.159:80: connection reset by peer` sounds more like a networking issue than an application issue.
Is there any specific behavioral change in heapster that you are trying to point out here?

[2015-03-11 16:05] piosz commented on #5181
Fixed by @Komnomnomnom in #5238. Thanks!

[2015-03-11 16:05] #5181 closed

[2015-03-11 16:07] fgrzadkowski opened #5292 "Service proxy and persistent connection"
@davidopp

We had an interesting discussion with a potential client and they have raised an important question regarding services.
Let's assume that we have:
- 50 back-ends
- 5 front-ends with a very high throughput that simply forwards heavy requests to backends using persistent connection
  In this scenario we will utilize only 5 backends, instead of 50. Currently I can imagine that we have a cu

[2015-03-11 16:11] davidopp commented on #5292
(because there is no longer a programmable indirection point where we could insert the load-balancing logic @fgrzadkowski described)

My take-away from this is that maybe we should keep both options available, i.e. not rip out the code that implements the current load-balancing technique (though the current load-balancing obviously won't work directly for persistent connections, but it is closer t

[2015-03-11 16:23] pires commented on #4809
@vishh you tell `heapster` to go through API server -> proxy service -> `influxdb`. That didn't work for me! But when I executed a shell in the Heapster pod, I can access `influxdb` HTTP API in the service IP. **10.100.235.159**.
[code]

[2015-03-11 16:26] lavalamp commented on #4432
I think this needs to be optional/in addition to the ordinary way from apiserver.

[2015-03-11 16:27] bgrant0607 commented on #3060
@xudifsd Yes, definitely. We just need to agree on the kubectl syntax, and it can target the existing swagger api. Changes to apiserver (kind resource, plugins, etc.) can be resolved later.

@smarterclayton Did you noodle this at all?

How about:
[code]
which would display the swagger for the operations on `/api/<version>/namespaces/<namespace>/pods` (using defaults for namespace and version, unle

[2015-03-11 16:28] vishh commented on #4809
@pires: The proxy is used only for external access to heapster, Influxdb or
Grafana. Inside the cluster heapster uses environment variable based
service discovery or DNS in that order of preference.
https://github.com/GoogleCloudPlatform/heapster/blob/master/deploy/run.sh#L36

On Wed, Mar 11, 2015 at 9:23 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-03-11 16:34] pires commented on #4809
@vishh I'm having trouble making myself clear. I added logs that show you that `heapster` fail to write to `influxdb`
[code]
but that the `hipster` container can access the service in the **same** IP and **port**.

[2015-03-11 16:38] lavalamp opened #5295 "Add metric and rate limit for mutating operations"
The test in https://github.com/GoogleCloudPlatform/kubernetes/pull/5274 starts a bunch of operations on the server that fight over changing boundPods. Eventually apiserver crashed.

We should measure how many mutating operations we have, and we should rate-limit it. Giving some clients a bad experience is better than making the system unusable for everyone.

[2015-03-11 16:39] #4861 closed

[2015-03-11 16:41] lavalamp commented on #4521
@timothysc what process are you using to generate those numbers?

I think taking boundpods out will drastically speed adding & removing pods to the system, I think there's a lot of contention for updating that.

[2015-03-11 16:43] vishh commented on #4809
@pires: heapster -> Influxdb is tested continuously as part of e2e tests in Kube. I believe it works. As for the race during startup, I have patched heapster to retry database creation instead of failing in the first try. The next release of heapster should have that fix.
As for access to InfluxDB, it is useful for debugging and also for looking up events once heapster starts pushing into Influxdb

[2015-03-11 16:45] cnaize opened #5297 "Kube-proxy should start after network has been initialized"
The problem in starting `kube-proxy` by `systemd`.
[code]
`systemctl status kube-proxy` says that `kube-proxy` not running.

We need start `kube-proxy` after network has been initialized.

[2015-03-11 16:46] timothysc commented on #4521
@lavalamp - https://github.com/GoogleCloudPlatform/kubernetes/issues/5260 is the load we used for the numbers above.

[2015-03-11 16:46] bgrant0607 commented on #4971
The goal is to do something reasonably useful by default, perhaps differentiated by class of workload (e.g., services vs. data processing / HPC), but then also support more expressive constraints (#367).

[2015-03-11 16:48] bgrant0607 commented on #1788
Yep. Thanks.

[2015-03-11 16:48] #1788 closed

[2015-03-11 16:49] bgrant0607 commented on #4940
@abonas We're working on it. Hopefully no more than a few weeks. Last big planned incompatible change is #4742.

[2015-03-11 16:51] #5178 closed

[2015-03-11 16:52] a-robinson commented on #4432
+1 to @lavalamp -- we can't make the core components depend on an optional cluster add-on.

The place where elasticsearch would make more sense for this problem is as an eventual replacement for the second etcd instance that Saad proposes, where it would be a standard part of the cluster setup.

[2015-03-11 16:54] cnaize opened #5300 "Typo in contrib/init/systemd/environ/kubelet"
Where is a typo in contrib/init/systemd/environ/kubelet.
`KUBELET_API_SERVER="--api_server=127.0.0.1:8080"`
should be
`KUBELET_API_SERVER="--api_servers=127.0.0.1:8080"`
otherwise
`No api server defined - no events will be sent.`

[2015-03-11 16:56] pires commented on #4809
It's OK @vishh. Thanks for sharing your ideas and knowledge.

[2015-03-11 16:56] #4809 closed

[2015-03-11 17:06] #2146 closed

[2015-03-11 17:07] timothysc commented on #260
+1 for next week, perhaps a hangout.

[2015-03-11 17:09] eparis commented on #5297
fixed by #5293

[2015-03-11 17:09] #5297 closed

[2015-03-11 17:15] lavalamp commented on #3042
Is there anything concrete to do here? They're now versioned and it seems we're not going to merge them.

[2015-03-11 17:15] eparis commented on #2967
kubelet also has a similar same problem:

works:
--api_servers=127.0.0.1:8080
--api_servers=http://127.0.0.1:8080
--api_servers=http://localhost:8080

fails:
--api_servers=localhost:8080

[2015-03-11 17:18] bgrant0607 commented on #3042
Dupe of #1362.

[2015-03-11 17:18] #3042 closed

[2015-03-11 17:21] dchen1107 commented on #4432
I am fine with either proposal b) or proposal c).

According to proposal b) with fluentd->ElasticSearch, there are three different types of cluster setups. When setup option a) is chosen, the users make the decision on no historical stats; kubectl just returns the recent events related to objects. But if setup option b) and c), kubectl should provide an access point to user to retrieve such logs.

[2015-03-11 17:25] brendandburns commented on #4758
See: https://github.com/spf13/cobra/pull/65 for the cobra commander fix.

[2015-03-11 17:28] kbeecher commented on #3476
I have started to work on this. You can see the latest state on my local branch here: https://github.com/endocode/kubernetes/commit/d2174dd051732e3d0600468b5a0093030e246d42

Please be aware this is a WIP. At the moment, it passes all tests and works only if the prefix is not specified (i.e. empty).

I'd welcome any suggestions on how best to deal with the handful of hard-coded paths that @bgrant06

[2015-03-11 17:48] a-robinson commented on #4218
This should be fixed now that #4865 is in, right?
@sub-mod

[2015-03-11 17:59] satnam6502 commented on #4977
Fixed in #5002

[2015-03-11 17:59] #4977 closed

[2015-03-11 18:00] bgrant0607 commented on #4432
Optional is fine, but we can't leave users without a way to figure out what's going on. Providing a convenient access mechanism via kubectl is desirable.

[2015-03-11 18:00] satnam6502 commented on #3388
End to end test proposed in #5269

[2015-03-11 18:03] satnam6502 commented on #2918
PR #5269  for end to end test under review: when this is submitted perhaps you can use it help work out what is going in.

[2015-03-11 18:05] alex-mohr commented on #4333
We need to decide if HostPort is a supported use case for Kubernetes -- and if it's supported, then it needs e2e test coverage to ensure it remains functional.  Note that supported and not-preferred are orthogonal.  My understanding is that it's supported-but-not-preferred and that there are reasonable use cases for using it.

[2015-03-11 18:06] eparis commented on #5300
fixed in #5307

[2015-03-11 18:06] #5300 closed

[2015-03-11 18:06] abhgupta commented on #4971
@timothysc I completely agree on being able to specify (or override) constraints at different resource-levels. Even for spreading, some services may want to be spread at a rack level, whereas others might want rack-level-affinity and be spread at an individual minion level. These are things that we can discuss and build. However, this does not take away from the fact that we need reasonable defaul

[2015-03-11 18:08] #4333 closed

[2015-03-11 18:11] bgrant0607 commented on #4752
Actually, we changed memory to int64. I suspect the json encoder and/or decoder.

[2015-03-11 18:13] nikhiljindal commented on #5283
@eparis @derekwaynecarr

[2015-03-11 18:18] bgrant0607 commented on #5250
@sdodson You suspect master-to-node communication should be broken, node-to-master communication should be broken, or both?

We're in the process of making Kubelet post node status to the master: #4562, #5265. In your scenario, the update should fail, which would cause the Node Controller to update readiness accordingly.

Closing this as a dupe.

[2015-03-11 18:18] #5250 closed

[2015-03-11 18:18] saad-ali commented on #4432
To be clear, I'm planning on doing all three parts of the proposal (a, b, and c). @satnam6502, perfect--I'll sync up with you when working on b.

[2015-03-11 18:23] saad-ali commented on #4797
@preillyme have you run in to this again?

[2015-03-11 18:32] vmarmol commented on #5108
@Symmetric what requests are you seeing going to the normal socket? Looking at the code I can't see how and your log seems to show all requests failing initially and then recovering and never failing again?

I'll start a setup and report back.

[2015-03-11 18:33] nikhiljindal opened #5311 "watch of *api.Pod ended with error: very short watch"
From https://groups.google.com/forum/#!topic/google-containers/Icdzt0iWTik

[2015-03-11 18:36] #1728 closed

[2015-03-11 18:39] vishh commented on #4432
@satnam6502: Events can be stored in backends like Datadog and Influxdb in addition to Elasticsearch. Should we come up with a pluggable backend option instead? It could be etcd or elasticsearch or whatever.
Heapster is currently well suited for pluggable backends, but it does not handle events as of now.

[2015-03-11 18:39] #1581 closed

[2015-03-11 18:40] nikhiljindal commented on #5311
The error seems to be from here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/cache/reflector.go#L213

[2015-03-11 18:42] a-robinson commented on #4752
I'm unable to reproduce at head (d12f989e98b8ddcc3c8e79daab8c4d90b95dd5db). There have been some large changes to the update.go command file since 16 days ago. Is this still happening for you @pravisankar?

[code]

The relevant node details:
[code]

[2015-03-11 18:43] lavalamp opened #5312 "apiserver doesn't restart if it crashes"
When you step on a bug like #5301, it crashes and doesn't restart. I expect this will be fixed when we start running master components in pods on kubelet, but it seems worth documenting.

[2015-03-11 18:43] lavalamp commented on #5312
I think @ArtfulCoder is already working on putting master components in pods?

[2015-03-11 18:44] jayunit100 commented on #5260
https://github.com/jayunit100/bigtop/commit/be48aa96647603d299f3f753678781201319b06d I've now merged the load generators into upstream.  Attaching PR tonight of an initial implementation.  Here is a screenshot of the dashboard .
![screen shot 2015-03-11 at 10 38 58 am](https://cloud.githubusercontent.com/assets/826111/6604156/0091d88a-c7fd-11e4-983a-c414e92220cd.jpg)

[2015-03-11 18:46] lavalamp commented on #5311
It means apiserver accepted the watch request but then immediately terminated the connection.

If you see it occasionally, it implies a transient error and is not alarming. If you see it repeatedly, it implies that apiserver (or etcd) is sick.

[2015-03-11 18:48] bgrant0607 commented on #4083
@nikhiljindal What's left to be done here?

[2015-03-11 18:53] prateekarora151083 commented on #5261
Hi i am trying to do setup kubernetes  using following guide
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu_multinodes_cluster.md
after configuration

run this command
/opt/bin/etcdctl  mk /coreos.com/network/config '{"Network":"10.0.0.0/16"}'
got following error
Error:  501: All the given peers are not reachable (Tried to connect to each peer twic

[2015-03-11 18:55] davidopp commented on #4432
Do we know yet whether etcd can even handle the non-event load for large clusters? If we think we eventually will need to replace etcd with something else even for non-events, then it might make more sense to keep events in the same store, but just use something more performant than etcd.

[2015-03-11 18:55] brendandburns commented on #2862
See https://github.com/spf13/cobra/pull/66 for a fix to upstream.

[2015-03-11 18:57] brendandburns commented on #5261
That error indicates etcd isn't running (or at least not on 127.0.0.1:4001)

what does ps -ef | grep etcd show?

On Wed, Mar 11, 2015 at 11:54 AM, Prateek Arora <notifications@github.com>
wrote:

[2015-03-11 18:58] prateekarora151083 commented on #5261
ps -ef | grep etcd
root      6149     1  0 12:05 ?        00:00:00 /opt/bin/etcd -name infra1 -initial-advertise-peer-urls http://10.0.0.11:2380 -listen-peer-urls http://10.0.0.11:2380 -initial-cluster-token etcd-cluster-1 -initial-cluster infra1=http://10.0.0.11:2380,infra2=http://10.0.0.31:2380,infra3=http://10.0.0.32:2380,infra4=http://10.0.0.34:2380,infra5=http://10.0.0.35:2380 -initial-cluste

[2015-03-11 19:02] brendandburns commented on #5261
Ok, I _think_ it looks like etcd is listening on 10.0.0.11:2380 not
localhost:4001.

You'll need to configure both etcdctl and the kube-apiserver to talk to
http://10.0.0.11:2380 instead of http://127.0.0.1:4001

(or reconfigure etcd to listen on localhost)

--brendan

On Wed, Mar 11, 2015 at 11:59 AM, Prateek Arora <notifications@github.com>
wrote:

[2015-03-11 19:05] bgrant0607 commented on #4432
@davidopp Think of this as infrastore. Even if we had a store that could handle the load, the events would be stored for a limited duration.

[2015-03-11 19:06] prateekarora151083 commented on #5261
ok i will try
but  i am using ./configure.sh present in kubernetes/cluster/ubuntu-cluster
and it configure on http://10.0.0.11:2380

[2015-03-11 19:06] zmerlynn opened #5313 "Detect and handle docker api unresponse issue"
During our Jenkins run, a cluster failed to initialize with a pattern like so:

[code]

I logged into the second node to see what was going on, and found the kubelet logs seemed to be repeating themselves every couple of minutes:

[code]

Checking monit, yup:
[code]

Jenkins is currently disabled to allow live debugging of the issue. Raising to P0 until we get Jenkins back.

cc @dchen1107 @ixdy

[2015-03-11 19:11] derekwaynecarr commented on #4432
Is it possible to make the charts available as public information?  I am getting permission denied when I attempt to view them from my redhat domain.

[2015-03-11 19:12] prateekarora151083 commented on #5261
when i am trying with 10.0.0.11:2380 using below command

/opt/bin/etcdctl --peers 10.0.0.11:2380  mk /coreos.com/network/config '{"Network":"10.0.0.0/16"}'

get error
Error:  cannot sync with the cluster using endpoints http://10.0.0.11:2380

[2015-03-11 19:12] sdodson commented on #5250
node-to-master was definitely broken as the node was spewing invalid CA errors.

I suspect master-to-node was as well but I don't understand k8s well enough to know when the master connects to a node other than to fetch kubelet's healthz.

I'll watch the two referenced issues, thanks.

[2015-03-11 19:21] bgrant0607 commented on #4752
Actually, Capacity is IntOrString, which is still int.

Apparently, the reason we used IntOrString was to allow float values.

This representation is pretty hopeless, IMO.

[2015-03-11 19:24] lavalamp commented on #4432
@saad-ali can you share the charts with kubernetes-dev so @derekwaynecarr and others can see them?

@davidopp what Brian said is true, we should do this in any case. However I can answer in the negative right now. I think it's contention over updating the boundPods that is causing the problem. Need to fix that and try #5274 again.

[2015-03-11 19:31] erikthorselius opened #5314 "`kube-up.sh` stays in loop forever"
When I run `./cluster/kube-up.sh` it loops on `Waiting for cluster initialization.`.

I think I have removed everything between runs.
./cluster/kube-down.sh, the ssh-key on aws and rm ~/.kube* . I can't see any error. Is there any other good place to take a look?

Here is my output from today:
[code]

[code]

[2015-03-11 20:09] erictune opened #5317 "pkg/proxy/proxier_test.go crash on OSX"
pkg/proxy/proxier_test.go crashes on macos

ChooseHostInterface() returns an error and so NewProxier is nil, so stuff crashes.

[2015-03-11 20:09] saad-ali commented on #4432
@derekwaynecarr I replaced the links in the original post to point to a doc that is shared with kubernetes-dev@googlegroups.com. Let me know if you still have trouble.

[2015-03-11 20:09] erictune commented on #5317
`E0311 13:09:27.857647   90434 proxier.go:324] Failed to select a host interface: open /proc/net/route: no such file or directory`

[2015-03-11 20:10] erictune commented on #5317
There is no such thing as /proc on OSX.

I'd like it if unit tests worked on OSX.

[2015-03-11 20:11] brendandburns commented on #5314
For some reason, the apiserver is not running correctly.  Can you ssh onto the master VM and run
```ps -ef | grep kube-apiserver``` as well as ```cat /var/log/kube-apiserver.log```

[2015-03-11 20:15] erikthorselius commented on #5314
[code]

Looks like it never started :-/

[2015-03-11 20:15] erictune commented on #5317
Ideally, unit tests would not interact with actual OS files like this.  Maybe interface needs to be an arg to NewProxier.

[2015-03-11 20:16] smarterclayton commented on #3060
Absolutely want this.  I want a "list resources" with nice descriptions, then a describe that shows the data.

Maybe we want to use "types"?

[2015-03-11 20:17] brendandburns commented on #5314
is there anything in ```/var/log/kube-apiserver.log``` ?

[2015-03-11 20:17] brendandburns commented on #5314
(and what if you try ```sudo /etc/init.d/kube-apiserver start```)

[2015-03-11 20:17] smarterclayton commented on #3060
Also we really want to be able to put long descriptions on types themselves (paragraph long form even) and have that show up in swagger.

[2015-03-11 20:18] erikthorselius commented on #5314
ubuntu@ip-172-20-0-9:/var/log$ sudo /etc/init.d/kube-apiserver start
sudo: /etc/init.d/kube-apiserver: command not found

[2015-03-11 20:19] bgrant0607 commented on #2114
cc @ArtfulCoder

[2015-03-11 20:19] brendandburns commented on #5314
how about ```sudo salt '*' state.highstate```

[2015-03-11 20:20] brendandburns commented on #5314
Also, what is in ```/var/log/cloud-init.log``` ?

[2015-03-11 20:21] erikthorselius commented on #5314
[code]

[2015-03-11 20:21] satnam6502 commented on #3085
I am starting work on this now. Step 1: produce a repo of the bug.

[2015-03-11 20:23] erikthorselius commented on #5314
It's a long file
[code]

[2015-03-11 20:24] jayunit100 opened #5319 "0.0.0.0 and 127.0.0.1 should be rejected as a publicIP fields for kube services."
When spinning up VMs w/ kube, I attempted to use `publicIPs=["0.0.0.0"]` but this fails.

ironically, 127.0.0.1 succeeds (internally you can then access a kube service via `curl 127.0.0.1:3000`, for example, but you *cannot* do this if you try to bind to 0.0.0.0.

- binding works to 127.0.0.1, but is a horrible idea (since this IP wont be reachable by the outside world), so in that case kube shoul

[2015-03-11 20:25] brendandburns commented on #5314
So it looks like the release was never successfully download.  I'd search for 'google'

Although at this point, you're probably better off blowing away the cluster and retrying...

[2015-03-11 20:29] bgrant0607 commented on #3476
@kbeecher Did you find etcd operations that didn't use EtcdHelper?

[2015-03-11 20:30] a-robinson commented on #4752
I talked about this with @fabioy and we're wondering if perhaps the server you're running is older than the client version you were running, since the server shouldn't have been returning memory in the "3.221225472e+09" form.

[2015-03-11 20:30] erikthorselius commented on #5314
Okey thank, I will try again. Is there any other files I need to clean up then
./cluster/kube-down.sh, the ssh-key on aws and rm ~/.kube*?

[2015-03-11 20:31] satnam6502 commented on #4432
@vishn : pluggable back ends sounds like a good idea.

[2015-03-11 20:34] a-robinson commented on #128
Is this meant to now refer to communication from the client rather than from the node components?  If not, then it and #129 are covering the same thing and this should be closed.

[2015-03-11 20:35] a-robinson commented on #129
This depends on #3168 to get the certs in place.

[2015-03-11 20:35] dchen1107 commented on #5313
I can login to the node and working on it now.

[2015-03-11 20:43] nikhiljindal commented on #4083
Last time I tried I was having problems installing swagger-tools.
Let me try that again.

[2015-03-11 20:45] nikhiljindal commented on #4083
Work to be done is to see if go-restful sample examples pass the validation. If not, then we need to fix upstream. Else the issue is in our code.

[2015-03-11 20:48] bprashanth commented on #4785
Whatever works for you, paste them to a gist or share them on gdrive?

[2015-03-11 20:48] a-robinson commented on #5102
Closing, given that having monit running at all fixes this problem 99% of the way. Changing the period is just an extra optimization.

[2015-03-11 20:48] #5102 closed

[2015-03-11 20:48] bprashanth commented on #4785
I'm mostly just looking for the kube* logs, not all of /var/log

[2015-03-11 20:50] dchen1107 commented on #5313
Here is what happened: Docker daemon is hung during startup phase:

[code]

But nono docker CLI calls return, including 'docker version'. Monit now does healthcheck on kubelet, which in turns to query docker version, which never response and timeout, and cause a kubelet restart.

Looking into why docker daemon hang forever.

[2015-03-11 21:01] alex-mohr opened #5322 "Create release v0.12.1"
Create release v0.12.1 with these cherrypicks:
https://github.com/GoogleCloudPlatform/kubernetes/pull/5115/commits
https://github.com/GoogleCloudPlatform/kubernetes/pull/5120/commits
https://github.com/GoogleCloudPlatform/kubernetes/pull/5127/commits

See #1883 with instructions.

[2015-03-11 21:07] davidopp commented on #4521
What is "rc fill time"?

[2015-03-11 21:14] ifuller1 opened #5326 "Not able to set readyOnly to true for persistent disk, wherever the config is placed."
Hi Guys,

See valid config here: http://pastebin.com/raw.php?i=8GeV4jrD (I redacted my image / drives)

With replicas set to 1 this works, greater than 1 I get the following error:

[code]

The pastebin has several incorrectly placed readOnly flags but no matter where I place them I still get this error.

Thanks,

Ian

[2015-03-11 21:14] erictune opened #5327 "Event failed to update"
Seen in integration test output:

[code]

[2015-03-11 21:14] erictune commented on #5327
@saad-ali

[2015-03-11 21:14] erictune commented on #5327
We talked about this and thought it was suspicious.

[2015-03-11 21:15] vmarmol commented on #5326
Assigning to myself since I started to take a look. Thanks for reporting @ifuller1!

[2015-03-11 21:17] erictune opened #5328 "Event logging should show one up the callstack"
`I0311 14:09:35.984662   99741 event.go:138] Event(api.ObjectReference{Kind:"BoundPod", Namespace:"test", Name:"nginx-controller-133ol", UID:"ebe57781-c832-11e4-b233-b8f6b11c8883", APIVersion:"v1beta1", ResourceVersion:"", FieldPath:""}): reason: 'hostPortConflict' Cannot start the pod due to host port conflict.`

This would be more useful if it showed the file/line of the caller.

[2015-03-11 21:18] bgrant0607 commented on #4521
Get or list replicationcontrollers. List replicationcontrollers is currently O(#RCs*#pods).

[2015-03-11 21:19] fgrzadkowski opened #5329 "Predeclared network for k8s cluster"
@davidopp @roberthbailey

During talks with a potential client we've noticed a pretty common scenario that we do not support properly. If a client has some services outside of GCE (e.g. in a private datacenter) and some running on k8s cluster he'd want to have all of them discoverable. This can be achieved using VPN. The problematic part is that k8s cluster (on GCE and GKE) chooses a random subnet

[2015-03-11 21:24] zmerlynn commented on #5329
This is actually more or less doable today using the GCE startup scripts, and slightly trickier on GKE, but all the pieces are there.

[2015-03-11 21:26] lavalamp commented on #4521
listing rc's should be better now that #4751 has merged. @gmarek is it easy for you to take those measurements again?

[2015-03-11 21:30] saad-ali commented on #5327
There is a race condition in ```pkg/client/record/event.go```. If the same event is created in rapid succession it is possible that ```ResourceVersion``` used to update one of the events becomes out-of-date.

[2015-03-11 21:42] dchen1107 commented on #5313
Ok, that docker daemon on a terrible state, and all docker API requests hang. This is known issue from docker since I personally reported twice. The current active one is docker/docker/issues/9605.

1) I tried to strace docker process for about 20 seconds, and nothing is interesting except one thread stucking at read syscall forever:
[code]

2) I sent SIGQUIT to docker daemon. Docker is shutdown,

[2015-03-11 21:43] lavalamp commented on #3954
Preliminary result from running with #5320 is that scheduler performance is much better with boundPods gone. ratio of apiserver's CPU usage to scheduler's is about 9:1...

[2015-03-11 21:46] bgrant0607 opened #5331 "Attach documentation to API types and/or resources"
Forked from #3060, based on [a comment](https://github.com/GoogleCloudPlatform/kubernetes/issues/3060#issuecomment-78361868) by @smarterclayton.

Currently we can extract documentation from struct fields and represent them in the swagger for the API. We don't have a comparable mechanism for documenting whole types or resources. We'd like to be able to either directly embed documentation or at leas

[2015-03-11 21:47] bgrant0607 commented on #3060
Filed #5331 re. documentation on types themselves.

[2015-03-11 21:49] vmarmol commented on #5326
@ifuller1 I am sad to report that the problem is a typo. It seems like you're using "readyOnly" instead of "readOnly". I can't believe it took us this long to notice :P once the typo is fixed all works as expected

[2015-03-11 21:52] vmarmol commented on #3338
+1 to this, I just spent more time than I'd like to admit debugging #5326 and the root cause was a typo in one of the fields "readyOnly" instead of "readOnly". No error message was generated, the field was simply silently dropped.

[2015-03-11 21:53] vmarmol commented on #5326
Closing this issue, but feel free to open new issues if you run into any trouble.

Sorry it took so long to find a relatively simple problem. I +1'd #3338 which looks to improve the experience when this type of error occurs.

[2015-03-11 21:53] #5326 closed

[2015-03-11 21:54] ifuller1 commented on #5326
Right. Can we remove this issue from the internet...

[2015-03-11 21:54] dchen1107 commented on #5313
This is part of #2884

[2015-03-11 21:54] lavalamp commented on #3954
Yeah, and the actual scheduling of this run I just did scheduled 200 pods in 87 seconds.

[2015-03-11 21:57] sub-mod commented on #4218
@a-robinson  yes

[2015-03-11 22:07] erictune opened #5334 "Just erase host but don't fail pod"
@brendandburns pointed out that it is a bad user experience to show a pod as failed if it never actually started (due to HostPort conflict).  He asked if kubelet could just clear Host so that it always shows as pending.

@yujuhong can this work?

@bgrant0607 are you okay with a Pod being bound to host A, never starting, and then being bound to host B, and then starting (same UID).  Phase transitio

[2015-03-11 22:07] bprashanth commented on #2210
Since I'm working on refactoring replication controller to use generic etcd, is this something we want for v1?

[2015-03-11 22:09] erictune commented on #5334
Never mind, this is not easy because kubelet cannot modify the Spec.

[2015-03-11 22:09] erictune commented on #5334
@lavalamp

[2015-03-11 22:10] #4218 closed

[2015-03-11 22:13] fabioy commented on #4844
A retry logic would be good, except that "docker logs" doesn't support an offset option, so it'd be very difficult to maintain a seamless "follow" experience to the end-user.

Filed issue #11337 with docker to extend their logging functionality (https://github.com/docker/docker/issues/11337).

[2015-03-11 22:15] bgrant0607 commented on #2210
At least a best-effort check would be nice, but if it's hard we should punt it to post-1.0. It can't be done in validation, unfortunately. See #2395 and #2457. @lavalamp had thoughts about how/where it should be done. I could live without the background checking for 1.0.

[2015-03-11 22:18] ecnahc515 commented on #5011
I suggested this in #4885, but you should look into the Alpine Docker image. It would simplify your build process while still maintaining your minimal image size. It avoids the need for using salt, or pre-building binaries since it can all be done in the image while still getting 5-10Mb images (most of which is the Go binary size).

[2015-03-11 22:18] dchen1107 commented on #5334
If reset Pod phase to pending, how upstream layer will determine it is pending due to pull images? or pending due ot port conflicts?

[2015-03-11 22:19] sub-mod commented on #4884
@smarterclayton When there is no internet connection , should the kube-proxy use 127.0.0.1 right ?

[2015-03-11 22:20] #5267 closed

[2015-03-11 22:20] lavalamp opened #5335 "Philosophy: when and how should kubelet reject assigned pods?"
Summarizing a IRL conversation.

Bug report: kube-scheduler doesn't see its own assignments for [latency amount], so it commonly schedules incompatible pods together. We're removing the atomic check (#5320) which exposes this. I (lavalamp) will try and make a PR to fix this.

The philosophical question is, should this ever be allowed to happen? It's a bad user experience to have your pod mis-sched

[2015-03-11 22:21] bgrant0607 commented on #5334
@erictune No, I'm not ok with it. Marking the pod as failed is the right thing to do. Pods can fail at any time for any reason -- hostport conflict, out of disk, out of memory, out of cpu, broken dockercfg, ... If users want to ensure success, they need a controller. If we need a solution for RestartOnFailure pods, we should build a job controller already. Pods are a system primitive. Users should

[2015-03-11 22:25] erictune opened #5336 "Scheduler to optimistically use binding info"
The scheduler binds a pod A to machine M.
Then it tries pod B to machine M.
In trying this second binding, it uses stale information about A, in particular, that it is not yet bound to a machine.
Sometime later, it "learns" about A being bound to M via watch.

It should assume all bindings it makes happen so as to avoid conflicts.

It will be very common for the scheduler to miss hostPort conflict

[2015-03-11 22:25] erictune commented on #5336
@lavalamp

[2015-03-11 22:25] #5334 closed

[2015-03-11 22:28] dchen1107 commented on #5335
cc/ @bgrant0607

[2015-03-11 22:28] satnam6502 commented on #3085
I did:
[code]

followed by:

[code]

So this appears to be a different error message. @abonas @bgrant0607 : is this message good enough or does it need to be improved? Or do I need a better example to illicit the original error message? Thanks.

[2015-03-11 22:42] roberthbailey opened #5339 "apiserver proxy rewrites v1beta1 URLs to include a namespace in the path"
Today I launched a pod that was serving an angular app without a service or host port. To access the app, I used the proxy in the apiserver (```/api/v1beta1/proxy/pods/<pod-id>```). This returned the html of the app but none of the css or javascript loaded. Looking at the console, it appeared that the browser was attempting to load the resources from ```/api/v1beta1/ns/default/proxy/pods/<pod-id>`

[2015-03-11 22:44] bgrant0607 commented on #3085
@satnam6502 Could you do a GET, remove the resourceVersion field, change the containerPort, and try a PUT?

[2015-03-11 22:46] bgrant0607 commented on #5335
Dupe of #5334.

[2015-03-11 22:46] #5335 closed

[2015-03-11 22:47] ravigadde opened #5340 "Pod doesn't get rescheduled when node dies"
I created a pod with replication controller (1 replica). The node on which the pod was scheduled died after sometime. Pod transitions to Unknown state and doesn't get scheduled on to another healthy node.

[2015-03-11 22:48] bgrant0607 commented on #5335
But, yes, we should fix the scheduler if it screws up often.

[2015-03-11 22:50] dchen1107 commented on #5340
cc/ @ddysher

[2015-03-11 22:51] satnam6502 commented on #3085
[code]

[2015-03-11 22:55] vmarmol commented on #5108
@Symmetric I made a similar setup:

- Made Docker listen elsewhere
- `socat` on `/var/run/docker.sock`
- Started Kubelet with `--docker_endpoint`

The Kubelet worked as expected and no requests were sent to the socket. Are you able to reproduce the issue? Maybe something else was sending the requests?

[2015-03-11 22:55] roberthbailey opened #5341 "Create an e2e test for HostPort"
In #4333 we removed the last HostPort from the existing e2e test suite (making the tests more reliable) but this leaves a gap in our e2e testing, which should cover HostPorts if we continue to support them.

[2015-03-11 22:57] bgrant0607 commented on #3085
@satnam6502 Look at your quoting. You can't embed " in a double-quoted string.

That said, the server shouldn't be converting YAML to JSON...

[2015-03-11 23:00] roberthbailey commented on #5329
To be clear, the GCE startup scripts don't choose a random subnet -- it's specified via environment variable (and fixed for all clusters unless you know how to tweak it).

For GKE, we allow a user to launch more than one cluster in a project & network by selecting a /14 that doesn't overlap with any of the existing routes in the project. Right now we return this /14 to the customer, but it wouldn'

[2015-03-11 23:01] bgrant0607 commented on #1004
+1. We shouldn't be decoding YAML in Decode.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/conversion/decode.go#L23
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/conversion/decode.go#L49
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/conversion/decode.go#L112

[2015-03-11 23:08] sdminonne commented on #4380
@saad-ali @bgrant0607 as far as I know this one should be closed.

[2015-03-11 23:08] #4380 closed

[2015-03-11 23:09] bgrant0607 commented on #4971
@abhgupta Combined with @danmcp's proposal to also spread by pod labels, I think using a headless service would be entirely reasonable for the default policy. Note that people can use services that way today, by just ignoring the allocated IP address.

If someone wants to develop a detailed API design for #367, we could also start that discussion.

[2015-03-11 23:10] bgrant0607 commented on #3085
FYI/FWIW, apparently #1004 hasn't yet been implemented.

[2015-03-11 23:23] nikhiljindal commented on #3758
We are using master.publicIP to generate the swagger basePath (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/master.go#L524).
master.PublicIP is set from config.publicAddress, which it seems is the internal IP address.

@a-robinson : Any idea how can the master get its public IP when it is running in GCE?

[2015-03-11 23:34] abhgupta commented on #4971
@bgrant0607 I agree that users can create a service for the use case I described. However, the issue with having services that proxy requests to pod endpoints is that a mechanism to reach your pods exists even though it may not be needed. This coud make users uncomfortable.

I would like to get https://github.com/GoogleCloudPlatform/kubernetes/issues/367 moving as well, once I have some of this ba

[2015-03-11 23:36] abhgupta commented on #4971
@bgrant0607 By the way, I never got your go-ahead on specifying null as PortalIP as a way to implement headless services. If this approach is acceptable, I will make a PR for this at the earliest opportunity.

[2015-03-11 23:40] abhgupta commented on #4971
@bgrant0607 Ignore my comment above regarding the consent on None for PortalIP. I just checked your comments https://github.com/GoogleCloudPlatform/kubernetes/issues/1607#issuecomment-78169282

[2015-03-11 23:43] ddysher commented on #5340
Can I ask which version are you using, and how long have you waited?  k8s wait a few minutes before reschedule.

[2015-03-11 23:43] a-robinson commented on #3758
Due to the way GCE networking works, the OS actually has no knowledge of whether it has an external IP or what it is. The way to get it is to query the metadata server, as described [here](http://stackoverflow.com/questions/23362887/can-you-get-ext-ip-address-from-within-a-google-compute-vm-instance).

It'd be pretty awkward to do this from within the apiserver itself (currently the default public

[2015-03-11 23:45] a-robinson commented on #3758
It looks like sticking it in [PublicAddressOverride](https://github.com/GoogleCloudPlatform/kubernetes/blob/7703b50078848fcc8d33d5eeb0c9a2d65a5f846d/cmd/kube-apiserver/app/server.go#L118) would do the trick.

[2015-03-11 23:47] a-robinson commented on #3758
Except that it may break the cluster-local read-only and read-write services, so you'd have to test such a change carefully.

[2015-03-11 23:49] satnam6502 commented on #3085
Can we Post YAML?
On Mar 11, 2015 3:58 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-03-11 23:54] bgrant0607 commented on #5340
5 minutes, specifically. It's changeable by flag on the node controller.

[2015-03-11 23:54] vishh opened #5349 "Document the current state of monitoring using heapster"
Monitoring using heapster will work on all kubernetes setups. It is not documented in detail anywhere.

[2015-03-12 00:00] bgrant0607 commented on #3779
Dupe of #4141 and probably others. Assigning to @erictune to close/dedupe.

[2015-03-12 00:01] bgrant0607 commented on #2794
No longer writing boundpods as of #5320.

[2015-03-12 00:01] bgrant0607 commented on #5020
No longer writing boundpods as of #5320.

[2015-03-12 00:02] bgrant0607 commented on #5020
Assigned to @erictune to close/dedupe.

[2015-03-12 00:12] lavalamp commented on #5336
I am working on this. Hope to have something out tomorrow.

[2015-03-12 00:16] pires commented on #4141
This has been fixed recently with #4708, right?

[2015-03-12 00:19] pires commented on #3779
@bgrant0607 this is not a dupe of #4141 in the sense that the issue here is with how CoreOS behaves in different environments (in this particular case VMware) when setting `${public,private}_ipv4` environment variable.

Since VMware instructions are not up-to-date, I would recommend removing them.

[2015-03-12 00:34] ravigadde commented on #5340
@ddysher @bgrant0607

Yes I am on older code which doesn't have pod eviction support. I am curious though why SyncNodeStatus and EvictTimedOutPods are mutually exclusive. Does EvictTimedOutPods rely on health registry being enabled in apiserver to update the node status?

[2015-03-12 00:42] #5313 closed

[2015-03-12 00:51] saad-ali commented on #3139
@lavalamp  took advantage of #4862 for load generation

[2015-03-12 00:54] zmerlynn commented on #5313
Thanks for the quick fix!

[2015-03-12 01:06] bgrant0607 commented on #5336
+1 to this change.

[2015-03-12 01:07] bgrant0607 commented on #5339
cc @nikhiljindal

[2015-03-12 01:07] ddysher commented on #5340
SyncNodeStatus will do node status update as well as pod eviction.   We are changing our model to kubelet posting node status now, so we want to disable node status sync but still keep pod eviction.

[2015-03-12 01:14] nikhiljindal commented on #5339
@lavalamp

[2015-03-12 02:09] bgrant0607 commented on #3779
Ok, fair point. Kubelet shouldn't be contacting etcd, though.

@erictune is working out what to do with non-up-to-date instructions elsewhere (e.g., #5141).

[2015-03-12 02:41] bgrant0607 commented on #3085
@satnam6502 The problem in your example was your quoting.

Yes, YAML can be posted for now, but we should remove that capability, as per #1004..

[2015-03-12 03:12] eparis commented on #5329
@mrunalp @rajatchopra I know you two are working on a more sane networking model which would hopefully some day work on these 2 platforms and want to make sure you see any discusison here.

[2015-03-12 03:17] mrunalp commented on #5329
@eparis The bridging between private / public cloud is a good use case for isolated networks, so different clients can use whatever subnets that they want in the public cloud without worrying about their requested subnets overlapping with each other.

[2015-03-12 03:24] bgrant0607 commented on #5335
In case it wasn't clear from #5334:

Pods should never be treated as durable pets. In general, users shouldn't be creating pods directly. They should almost always use controllers, not unlike auto-scaling groups on AWS (AIUI) or our internal "job" abstraction.

Pod is exposed as a primitive to facilitate writing schedulers, controllers, etc., to facilitate bootstrapping, for separation of concerns

[2015-03-12 03:25] smarterclayton commented on #4884
Good question - or the test should log an error message but not actually fail.  I don't know if Kube-proxy listening on 127.0.0.1 is something we would want happening by accident in a prod env.

[2015-03-12 03:35] thockin commented on #4884
kube-proxy listening on 127 is probably not going to actually WORK either.

On Wed, Mar 11, 2015 at 8:25 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-03-12 03:45] yujuhong opened #5354 "nodeInfo errors spamming kubelet.log"
The log file is drowned in nodeInfo check failures. This can be easily reproduced by starting a local cluster and check kubelet.log. Since I only started seeing this today, the suspects are by PRs merged today or the day before.

[code]

[2015-03-12 03:48] ravigadde commented on #5340
@ddysher

Thanks for your response. I will try out the latest code. Closing this issue also.

[2015-03-12 03:48] #5340 closed

[2015-03-12 04:00] thockin commented on #5317
@sub-mod tests should not be accessing /proc directly - must have missed that case.  Can you take a look?  I'm not immediately sure what the right fix is.

AFAIK there is no way tepo tell whether your code was built into a test or a real bin.

[2015-03-12 04:01] bgrant0607 commented on #5354
@simon3z

[2015-03-12 04:02] bgrant0607 commented on #5354
@yujuhong What is your cluster configuration? Are you running cadvisor?

[2015-03-12 04:28] thockin commented on #5292
I don't understand.  They intentionally use persistent connection and then
are surprised that we can't utilize the backends more?  I must be
misunderstanding.

They could not persist connections, or they can open more connections and
round-robin them themselves?

What am I not understanding about this?

On Wed, Mar 11, 2015 at 9:12 AM, David Oppenheimer <notifications@github.com

[2015-03-12 04:39] resouer commented on #4334
@erictune Thanks for he heads up, we'll fix ubuntu-cluster stuff in next week.

[2015-03-12 04:45] kseifriedredhat commented on #128
If you replace all these with TLS via #129 then yes, that would cover this. Does your documentation specifically state that the intra cluster nodes need to have a trusted network, becauce if not this should probably be given a CVE.

[2015-03-12 04:58] nikhiljindal commented on #4083
There were 2 validation errors:

1. basePath didnt have a schema. This was an issue in our code. Sent https://github.com/GoogleCloudPlatform/kubernetes/pull/5342 to fix that.
2. "Data does not match any schemas from 'oneOf'. Expected type object but found type array" errors. This is an issue with the way go-restful generates swagger spec. Filed https://github.com/emicklei/go-restful/issues/186 for

[2015-03-12 05:27] nikhiljindal opened #5356 "Validate swagger spec on each commit"
Once https://github.com/GoogleCloudPlatform/kubernetes/issues/4083 is fixed, we should include swagger validation as part of our tests.

It will probably be a lot easier when we move to swagger spec 2.0 as we will then be able to use the online validator (http://online.swagger.io/validator/)

[2015-03-12 05:43] bgrant0607 commented on #4083
Is (2) the cause of #3757?

[2015-03-12 05:47] yujuhong commented on #5354
I used the basic configuration, i.e., running `hack/local-up-cluster.sh` with no additional changes.

As far as I know, the script does not start cadvisor because of the lack of cadvisor.manifest file. If cadvisor is required for getting nodeInfo, this setup would certainly fail. If that's the case, perhaps kubelet should fail more gracefully without the spamming?

[2015-03-12 05:47] BlueShells opened #5357 "Can not use '/usr/bin/kubectl create -f apache.json' when follow the Configuring kubernetes on Fedora via Ansible."
I followed the Configuring kubernetes on Fedora via Ansible.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/fedora/fedora_ansible_config.md
It seems that need some update ,some files just changed there location....
here is the output of 'ansible-playbook -i inventory setup.yml'

******

TASK: [minion | Enable kubelet] *************************************

[2015-03-12 05:50] nikhiljindal commented on #3757
Apologies for not looking at this earlier.
The swagger spec has changed a lot since then and I am not sure now what was at line 2604 then.
@iantw89 Can you please post a snippet or a screenshot of the spec that you are referring to.

[2015-03-12 06:04] hurf opened #5358 "Add more detailed settings in the doc on how to build kubernetes"
I was tring to build kubernetes following /kubernetes/build/README.md. But failed for some times. I looked into the error and found it's because I'm behind a proxy. Then I edited the dockerfile under build/build-image/ folder, added some proxy settings into it and solved the problem.

Though it may not be a problem for experienced guys. Would it be better for the beginners to describe these detaie

[2015-03-12 06:14] #5091 closed

[2015-03-12 06:46] davidopp commented on #5329
@mrunalp Can you explain? It seems to me that the simplest model for bridging private/public clouds is to put them in the same address space and make everything routable between the two. This makes it easy, for example, to contact a service or pod running in an on-prem cluster from a cloud datacenter, or vice-versa. It's painful to have to set up an ExternalLoadBalancer for every service (or, wors

[2015-03-12 07:00] davidopp commented on #5292
In their approach the client gets a list of all of the backends and sets up persistent connections to (I can't remember -- either all or most) of them and then does its own request distribution across the connections. We can do this in Kubernetes by having their client watch the service endpoint information from the API server and then set up the persistent connections based on that information, c

[2015-03-12 07:18] satnam6502 commented on #3085
[code]

I am on call on Thursday and Friday so I will return to this on Monday.

[2015-03-12 07:32] gmarek commented on #4521
Yup. I'll do it today. Are we still playing with 1 hyperthread master, or have we moved to something truly multithreaded? Are we optimising for cpu time or wall time?

[2015-03-12 07:43] satnam6502 commented on #1004
/sub

[2015-03-12 07:48] bgrant0607 commented on #5354
Yes, I agree.

[2015-03-12 07:48] bgrant0607 commented on #5354
There are also plans to integrate cadvisor into Kubelet. @vmarmol may know more about that.

[2015-03-12 07:51] simon3z commented on #5354
This is weird because I can understand the "tcp 127.0.0.1:4194: connection refused" part (cadvisor not running). But I don't know where the stacktrace is coming from (not happened to me yet). Looking into it.

[2015-03-12 08:12] gmarek commented on #3338
+1. I believe it's at least P2 if not P1, as it impacts performance and usability.

[2015-03-12 08:18] gmarek commented on #5358
Yes, please, by all means. Please describe your problem and the solution in the doc and send a PR.

[2015-03-12 10:14] sdminonne commented on #3338
@bgrant0607 I managed to have a look at this

`--validate=true` helps only for basic JSON syntax troubles.
Removing a comma in a JSON produces:  `Client error processing command: unable to get type info from ... : couldn't get version/kind: error converting YAML to JSON: yaml: line 15: did not find expected ',' or '}'` which is not so explicit but fair enough.

[2015-03-12 11:09] roberthbailey opened #5360 "kubectl log -f doesn't appear to work"
Running ```kubectl log <pod>``` produces container output. Then, expecting to see new output, we ran ```kubectl log -f <pod>``` and waited while watching an empty screen. A while later, we killed that kubectl and ran ```kubectl log <pod>``` again and saw the output we'd been expecting.

Based on the documentation, I expected that passing the -f flag would cause a streaming log to be printed to the

[2015-03-12 12:12] jszczepkowski opened #5361 "hack/e2e.go -build -push doesn't do push new binaries on GCE"
On GCE, when I run `go run hack/e2e.go -v -build -push` to push new binaries to e2e cluster, the binaries are not pushed.

[2015-03-12 12:36] sub-mod commented on #5317
@erictune do you run kube on Mac ? or do you just build it and run it in Linux ?
@thockin the util_test is not accessing it.It is the proxier_test. Will change proxier_test.go

[2015-03-12 12:58] mbruzek commented on #5098
@roberthbailey I had the time to try out the latest 1.4.2 go compiler and as you indicated that fixed the problem.  Thanks for the help.

[2015-03-12 12:58] #5098 closed

[2015-03-12 13:01] roberthbailey commented on #5098
Awesome! Hopefully that will help @Suvitruf as well.

[2015-03-12 13:16] jszczepkowski commented on #5361
I lost a lot of time due to this bug today. I was debugging failing e2e tests, and I was using this command often. I took me some time before I realized it doesn't work and I need to do `e2e.go -up` each time.

[2015-03-12 13:21] thockin commented on #5292
Right, OK.  Our proxy is L3, so we obviously can not balance at granularity
less than a connection.  They want an L7(ish) service proxy, which we do
not have.

As you say, they can implement it (not very hard) or just do
connection-balancing in the client (also not very hard but more coupled to
k8s).

The iptables changes would also be L3, and should be (almost) behaviorally
indistinguishable from

[2015-03-12 13:52] gmarek opened #5365 "kubelet_test tests implementation not behavior"
Currently kubelet_test verify the order of docker calls/image pulls. This is bad, as we'd want to test the outcome of some function, not the implementation of it. I suspect that this may be hard problem, involving writing better Docker mock, but maybe someone will have a better idea.

[2015-03-12 13:52] xudifsd commented on #2156
Hi, I'm interested in implementing this as gsoc work, but it seems @soltysh is already doing this, I'm not sure if this still is a gsoc idea?

[2015-03-12 14:08] timothysc commented on #473
@bgrant0607

- I think the only blocker seems like IP allocation

- Cluster turnup scripts, Salt, etc.. are deployment
- re: nginx setup so that most/all clients can be oblivious to the number/locations of the apiservers
-- I was thinking about just using HAProxy as the front end and hide the details as if it were a single api-server.

[2015-03-12 14:22] jonlangemak commented on #4785
Oh for sure, I ended up putting the kube logs into a different directory so this is just all kube logs from all 5 servers. Let me know if that link doesnt work.

I rebooted the servers rather than restarting all the services so some of the early errors in the logs could be because of that.  Things appear to be running normally after everything came back up.

https://drive.google.com/folderview?id=

[2015-03-12 14:27] rsokolowski opened #5366 "Pod template labels in replication controller should be automatically populated"
It doesn't make sense to define pod template with a set of labels that is strict subset of replicaSelector (or at least I can't find an use-case). For that reason I think that the labels in pod template part of replication controller should be optional and user should care about them only if he wants to define a superset of what replicaSelector already defines.

[2015-03-12 14:30] bgrant0607 commented on #5354
@simon3z There were at least 2 problems -- one of which was unrelated to your change and was just fixed.

[2015-03-12 14:37] vishh commented on #5354
#5308 is out to integrate cadvisor into kubelet. @simon3z: kubelet might dump a stack trace on all http errors.

[2015-03-12 14:40] fgrzadkowski commented on #5366
I've heard the same comments from a client.

I think that it'd be more intuitive if we always specify pod labels in the template (so that we can copy&paste pod definition), and replicaSelector is optional (by default pod labels).

[2015-03-12 14:42] #3693 closed

[2015-03-12 14:46] smarterclayton commented on #473
Quick predesign on ip allocation:

Two options:
1. Implement an etcd allocator which does CAS on a single document storing ranges of allocated IPs, on startup check the allocated ranges for unused blocks.
2. Move ip allocator to a controller loop (PortalIPController) in controller-manager, use the indexer function on cache.Store to expose a reverse lookup on portalIP.  Watch for service creations

[2015-03-12 14:58] fgrzadkowski commented on #5319
Please also see #4897

[2015-03-12 14:59] fgrzadkowski commented on #5319
Since this is very similar to #4897 I'm gonna take this.

[2015-03-12 15:06] vmarmol commented on #5365
That's always hard, a better Docker fake will start looking more and more like Docker and we'd have to worry about replicating it's behavior. FWIW, I am also unhappy at the Kubelet tests. The mocks today don't give enough control to test failures either.

[2015-03-12 15:14] soltysh commented on #2156
@xudifsd me and a couple of folks we are currently working on a proposal to drive the discussion in this topic. I can't tell you when exactly the implementation of it will start.

[2015-03-12 15:16] satnam6502 commented on #5361
@zmerlynn

[2015-03-12 15:19] davidopp opened #5370 "Semantics of delete vs. stop for ReplicationController are non-obvious"
When someone explains it, it makes sense, but the semantics are not "discoverable" from the names. Is there a use case for deleting a RC without removing its pods? If not, @roberthbailey suggested (and I agree) that we should not have a stop operation and instead make delete do what stop does today.

[2015-03-12 15:20] satnam6502 commented on #5370
What team does this belong to?

[2015-03-12 15:21] satnam6502 commented on #5370
Specifically, you mean right now one has to resize a replication controller to 0 and then delete it?

[2015-03-12 15:22] sevki opened #5371 "Kubelet hangs after instance creation"
It seems that the kubelet becomes unresponsive after a docker instance is created

[code]

[2015-03-12 15:22] davidopp commented on #5370
Today "stop" resizes to 0 and then deletes the rc. "delete" just deletes the rc and leaves the pods running. But nobody would guess that from the names.

[2015-03-12 15:26] thockin opened #5372 "Kubelet log filled with errors"
W0312 15:24:56.615757     792 docker.go:725] found a container with the "k8s" prefix, but too few fields (5): "k8s_cadvisor.8d424740_cadvisor-agent.file-6bb810db-kubernetes-minion-oazg.file_f67a53c9f0b87f76b175e512efee1def_43b09df6"

These are all brand new pods - they should not be invalid

[2015-03-12 15:26] thockin commented on #5372
@dchen1107 @yujuhong

[2015-03-12 15:29] thockin opened #5373 "Manually killing one POD container restarts all pods"
Observed in testing somehting unrelated - @dchen1107 prio

We need a test that captures this - we can't let this slip through,  Maybe same as #5372?

[2015-03-12 15:33] vmarmol commented on #5372
I've been tracking this issue, this seems to be old, not new containers. Typically happens when a GCE cluster is started (static pods are brought up by the old Kubelet) when the new Kubelet comes up it kills the old pods but we can't GC them because we can't recognize them. The log is from GC.

Assigning to myself and I'll fix today.

[2015-03-12 15:37] #5212 closed

[2015-03-12 15:42] zmerlynn commented on #5361
Can you be specific? I verified apiserver push at least, and I manually
inspected kubelet, but it's fidgety to test push.
On Mar 12, 2015 8:16 AM, "Satnam Singh" <notifications@github.com> wrote:

[2015-03-12 15:53] wojtek-t commented on #4881
I looked into pkg/kubelet (which is the longest one) and the longest test is:
pkg/kubelet/runonce_test.go
I will investigate it deeper tomorrow.

[2015-03-12 15:56] wojtek-t commented on #4881
BWT - it really seems that this test is sleeping for exactly 3 seconds while running. Will try to fix it.

[2015-03-12 16:01] jszczepkowski commented on #5207
@bgrant0607 Can you tell us more about implementation step:
"Run fit predicates wherever PodSpec.Host can be set: create, update, binding"
The other steps are already addressed by our PRs, but we are not sure what this one means. It is some kind of feasibility for binding? If yes, where it is/should be checked?

[2015-03-12 16:04] bprashanth opened #5374 "Failure to delete load balancer causes apiserver crash"
[code]

[2015-03-12 16:19] gmarek commented on #4521
### 1 master (standard-1), 10 nodes (standard-1), 100 1-pod rc

empty get pod | get rc 100 pods | get pod 100 pods
----|-----|-----
1.01	| 22.35 | 31.48
1.01	| 21.27 | 5.68
0.51 | 19.88 | 25.41
1.11 | 10.48 | 25.56
1.15 | 12.71 | 15.74

So get's got much better. Sadly stops are REALLY bad. I guess they are still O(|rc| * |pods|).

### 1 master (standard-8), 10 nodes (standard-1), 100 1-pod rc

emp

[2015-03-12 16:25] eparis commented on #5357
clearly the problem is the apiserver not lauching.  Can you let me know what version of kube you have installed, the contents of /etc/kubernetes/* and the full output of journalctl -b -u kube-apiserver ?

[2015-03-12 16:26] erictune opened #5384 "Remaining cleanups for BoundPods"
Starting a new issue since the old ones have lots of history.
I'm perfectly willing to do this work, but putting it in an issue in case anyone else wants to grab instead.

 1. Delete BasicBoundPodFactory reference in pkg/master/master.go
   1. Now `NewREST` in pkg/registry/pod/etcd/etcd.go line 42 no longer needs the second argument.  Fix that.
   1. Now pkg/registry/pod/bound_pod_factory.go and p

[2015-03-12 16:27] rrati opened #5385 "Density test can fail on cleanup"
If the cleanup of the replication controller takes too long after a successful test run, then the clean up performed in the AfterEach can actually cause the test to fail.  Should only perform the clean up if the rc exists and its replica count is non-zero.

[2015-03-12 16:30] erictune commented on #5384
@wojtek-t @rsokolowski  @jszczepkowski you might be interested or know someone who is.

[2015-03-12 16:32] timothysc commented on #3954
@lavalamp we found density tests to change very little, but cleanup is much faster, I'm also looking into adding profiling data today.

@rrati has more numbers.

[2015-03-12 16:32] erictune commented on #5317
I run unit and integration tests directly on Mac.

[2015-03-12 16:38] erictune commented on #3372
@wojtek-t this is somewhat related to other issues we talked about.

[2015-03-12 16:42] erictune commented on #3413
Remaining work covered by #3412

[2015-03-12 16:42] #3413 closed

[2015-03-12 16:43] dchen1107 commented on #5372
dup of #5209?

[2015-03-12 16:46] vmarmol commented on #5209
Closing in favor of #5372

[2015-03-12 16:46] #5209 closed

[2015-03-12 16:47] erictune commented on #5020
@rrati We've deleted boundPods yesterday.  Please reopen if you see this with code built today or later.

[2015-03-12 16:47] #5020 closed

[2015-03-12 16:47] vmarmol commented on #5372
Thanks @dchen1107, closed that in favor of this.

On Thu, Mar 12, 2015 at 9:43 AM, Dawn Chen <notifications@github.com> wrote:

[2015-03-12 16:49] erictune commented on #5371
It seems like you might be using a outdated cluster setup.  Current practice is that kubelet does not access etcd.  Which getting-started-guide are you using?

[2015-03-12 16:50] dchen1107 commented on #5373
I just reproduced this with newly built cluster from HEAD. This is definitely a regression introduced lately. Will look into it in detail.

[2015-03-12 16:50] erictune commented on #5371
There were bugs in the older setup (kubelet uses etcd) which where never fixed.  So, hypothesizing that what you are seeing is one of those bugs.

[2015-03-12 16:50] sevki commented on #5371
coreos

On Thu, Mar 12, 2015 at 6:49 PM, Eric Tune <notifications@github.com>
wrote:

[2015-03-12 16:51] erictune commented on #5371
what command line flags does your kubelet have?

[2015-03-12 16:52] erictune commented on #5371
If it doesn't include `--api_servers=...` then I am going to tell you to update your cloud config to pick up this PR:

https://github.com/GoogleCloudPlatform/kubernetes/pull/4708

[2015-03-12 16:53] sevki commented on #5371
[code]

[2015-03-12 16:54] erictune commented on #5295
@lavalamp Obsolete because boundPods are gone, or still needed?

[2015-03-12 16:57] yujuhong commented on #5372
@vmarmol, thanks for handling this. Let me know if there's anything I can help. We should GC them as long as the container name starts with k8s.

[2015-03-12 16:58] erictune commented on #4521
are these single observations, a mean or 99%ile or what?

[2015-03-12 17:00] erictune commented on #4141
Right.

[2015-03-12 17:01] erictune commented on #4141
@sym3tri we think if you update your config to #4708 that you won't see this.

[2015-03-12 17:01] erictune commented on #4141
Please feel free to reopen if not.

[2015-03-12 17:01] #4141 closed

[2015-03-12 17:05] thockin commented on #5372
I saw it today on a brand new cluster.
 On Mar 12, 2015 12:58 PM, "Yu-Ju Hong" <notifications@github.com> wrote:

[2015-03-12 17:06] brendandburns commented on #4521
As we do these observations, can we check in scripts so that others can repro. the results?

Thanks!
--brendan

[2015-03-12 17:09] erictune commented on #5371
I think picking up #4708 will help.

[2015-03-12 17:09] vmarmol commented on #5372
@thockin that should be expected. The first Kubelet that comes up is the Kubelet we have built-in the Container VM image and it doesn't do the new names yet.

[2015-03-12 17:20] bgrant0607 commented on #4521
Stop polls RCs:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/stop.go#L81

Watch should work on RC status now.

[2015-03-12 17:20] cnaize opened #5388 "Storage plugins (was PreStart pod hook required)"
Hello!
We want to mount pod volumes to a remote filesystem and we need to mount that filesystem to a node before a pod is started.
Where are `postStart` and `preStop` hooks, but we need `preStart`.

[2015-03-12 17:20] lavalamp commented on #3139
It seems like everyone independently realized that load generation is important... I will not do anything for workload generation for the next week or so (will be out). I will look back here before doing anything about workload generation to see what's going on when I get back.

[2015-03-12 17:21] lavalamp commented on #5339
The bug is that it doesn't work, not that it got rewritten.

[2015-03-12 17:23] lavalamp commented on #5339
Hm, actually I think the bug is that the ```ns/default``` appears before the ```proxy``` instead of after it... That's really weird.

If you access it as ```/api/v1beta1/proxy/ns/default/pods/<pod-id>``` does it then rewrite the paths correctly?

[2015-03-12 17:24] thockin commented on #5372
No, it keeps happening, even later.  I manually updated kubelet, it keeps
popping up
On Mar 12, 2015 1:10 PM, "Victor Marmol" <notifications@github.com> wrote:

[2015-03-12 17:26] vmarmol commented on #5372
@thockin taking a look

[2015-03-12 17:30] gmarek commented on #4521
Those are single observations. I can write 'scripts', but they are more or less just 'for's of kubectls inside time. Literally single line scripts, but if you believe it's good to have them wrapped in something I can write something more general.

[2015-03-12 17:34] dchen1107 commented on #5372
@yujuhong indicates what happened above:

1) When node first bootstrap, it has containers running with old format
2) kubelet is upgrade, and kill old containers
3) GC periodically queries the dead containers with k8s prefix, and found those containers with old format, and throw log message.

How to fix? just GC them.

[2015-03-12 17:36] dchen1107 commented on #5372
Or simply lower down the log level to VLOG(4) since it should be a short-term thing.

[2015-03-12 17:40] satnam6502 commented on #5384
What team and component does this belong to? Thanks.

[2015-03-12 17:45] bgrant0607 commented on #3372
Detail: We want locally specified pods to be able to use YAML config files, but we also want to rip YAML out of the API server #1004.

The config-file behavior should be as similar to the kubectl experience. Kubelet could use parts of the kubectl library to translate YAML to JSON.

Vision:

Eventually, I'd like Kubelet to use the apiserver library and support exactly the same Pod API as the master

[2015-03-12 17:46] erictune commented on #2471
@lavalamp revaluate next steps or close, now that boundPods gone.

[2015-03-12 17:46] satnam6502 commented on #5388
@davidopp ? Are you the right person to answer this?

[2015-03-12 17:57] erictune opened #5392 "Kubelet to use Pods internally."
Convert internal uses of api.boundPods to api.Pods (except at the point where we are reading api.boundPods from file or http).

[2015-03-12 17:57] dchen1107 commented on #5388
cc/ @vishh

[2015-03-12 17:59] satnam6502 commented on #5388
Please re-assign reviewer as appropriate. Thank you.

[2015-03-12 18:01] bcwaldon commented on #4141
I don't believe this issue is really *solved* by moving away from the etcd watcher. CoreOS clusters are more likely to have other clients of etcd, which causes the etcd index to increase faster than it may on non-CoreOS problems. This issue, however, is caused by shared usage of an etcd cluster - it is not specific to the CoreOS platform. As far as I am concerned, this bug is not fixed by #4708, o

[2015-03-12 18:03] prateekarora151083 commented on #5261
Hi now my kubernetes setup is working
I just removed data dir infra1.etcd/ infra2.etcd/ infra3.etcd/ infra4.etcd/ infra5.etcd/ from all hosts and reconfigure all machines and its working
flannel interface also setup

i am facing one issue
i have five machine 10.0.0.11 10.0.0.31 10.0.0.32 10.0.0.34 10.0.0.35
for flannel i use this command
/opt/bin/etcdctl mk /coreos.com/network/config '{"Network":"

[2015-03-12 18:11] erictune commented on #2483
Closing in favor of targeted issues:
  - Kubelet config/file should read Pod #3372
  - Kubelet to use Pods internally. #5392

[2015-03-12 18:11] #2483 closed

[2015-03-12 18:12] brendandburns commented on #5261
Are you really specifying 11.0.0.0/16 for Flannel, or is that a typo?
 11.0.0.0 is in real IP, not private IP space, so you probably don't want
that.

If it is a typo and you instead actually specified 10.0.0.0/16 for Flannel,
then the problem is that flannel is overlapping with your main IP network.
You want to make sure that the CIDR for flannel, and your physical host
machines don't overlap.

-

[2015-03-12 18:14] erictune commented on #3412
@lavalamp i took the liberty of unassigning you because I think you have lots on your plate and I think a "newber" might want to pick this up.

[2015-03-12 18:20] vmarmol commented on #5388
Hi @cnaize, we've talked about having a preStart hook for pods. This would run before your pod starts, but within the container it will start it. Will this work for your usecase? My only concern is that you may not have privileges to mount the filesystem. That would have to be in the Kubelet through the volume drivers.

(re-assigning to me)

[2015-03-12 18:26] bprashanth commented on #4521
If there's a lot of noise (pods dying/coming up causing the controller to update its replica count) while you're trying the resize or delete (which are the 2 write operations in stop), the writes will conflict and trigger retries. The polling interval of these retries is 100ms. I'm curious to know how much of the stop time is just `delete --all` on the pods vs waiting for the rc to notice and take

[2015-03-12 18:26] vmarmol commented on #5372
Just sent out #5395 with the fix. The issue was container GC.

- Old Kubelet created containers
- New Kubelet comes up and kills old containers
- GC runs, but since the containers don't have a UID we don't remove them (repeat)

Verified on a new cluster.

[2015-03-12 18:26] vishh commented on #5388
@vmarmol: We support [PostStart and PreStop](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L406) currently.  FWIU @cnaize's use case is to run a command on the 'node' before a pod starts, which translates to adding a PreStart hook along with the existing ones.

[2015-03-12 18:30] vmarmol commented on #5388
@vishh yes the PreStart hook would run in the container, which may not work today for mounting filesystems. The right way to do this seems like the volumes on the pod, similar to how we handle PD today.

[2015-03-12 18:35] gmarek commented on #4521
On the side: I recall that someone was writing load generator - what's the status of this? If it's still far away I can hack a script which will do some kind of load testing.

[2015-03-12 18:36] bliss commented on #5388
Exactly. We need to mount a pod shareable volume to a remote filesystem and this hook required to learn which node mount that (i.e. rbd) device to

[2015-03-12 18:44] satnam6502 commented on #3085
Should I PUT with a version number in it work? I tried:
[code]

[2015-03-12 18:48] vmarmol commented on #5388
The pre-start part I think is covered by #140 for the storage part why filesystem are you looking to mount?

[2015-03-12 18:53] eparis commented on #5388
So we shouldn't be using a PreStart hook for filesystems.  We should be designing it into #4055 ....

[2015-03-12 18:56] bliss commented on #5388
Basically we need to keep a pod data on remote filesystem and give access to a user to his data even if a pod (or a node enrirely) is gone. Remote filesystem is the mosst obvious way to achieve it

[2015-03-12 18:57] dchen1107 commented on #5388
cc/ @thockin

We talked about supporting new Volume source type, but this one is definitely not in our v1 roadmap. Are we plan to include this? I would like to say no. If we come up a design for supporting adds-on volume source type, there is no need for PreStart hook, especially introducing a new one for Pod.

[2015-03-12 18:58] vmarmol commented on #5388
@bliss if the data is read-only you can have a data-only volume. If it is r/w then today if you're in GCE we have PD. Otherwise, adding support for more volumes is still in the works (as @dchen1107 mentioned).

Thanks @eparis! I tried looking for an issue dealing with new volume types but couldn't find any.

[2015-03-12 19:01] smarterclayton commented on #3338
https://github.com/dustin/go-jsonpointer is an interesting implementation for locating arbitrary json - we could easily convert some of the proposed syntaxes into this form.

We really want more control over both phases: tokenization (for better error reporting and debugging of local json files in the cli) and structural comparison.  The author of that library also forked the go json scanner to ex

[2015-03-12 19:04] bliss commented on #5388
@vmarmol Is there any possibility to use volume containers with kubernetes? As far as I know 'volume-from' is not supported by kubernetes. At any rate when a node is gone a data-volume container is gone too. Basically all we want is to know beforehand which node a pod assigned to and have a little time to prepare mountpoint for it.

[2015-03-12 19:10] prateekarora151083 commented on #5261
now i changes my hostmachine ips
10.10.0.11 ,10.10.0.31 , 10.10.0.32 , 10.10.0.34 ,10.10.0.35

for flannel
/opt/bin/etcdctl --peers 10.0.0.11:2380 mk /coreos.com/network/config '{"Network":"10.0.0.0/16"}'

then same error exist .

is my configuration right ?

[2015-03-12 19:11] haf commented on #3617
I got this error on CoreOS, current stable (at this date) on DigitalOcean, for a single container that I had never built before -- rebuilding it after changing a single file making up the image, made the problem go away.

[code]

[2015-03-12 19:11] prateekarora151083 commented on #5261
sorry use this command
/opt/bin/etcdctl mk /coreos.com/network/config '{"Network":"10.0.0.0/16"}'

[2015-03-12 19:12] vmarmol commented on #5388
@bliss yeah unfortunately the support we have right now is: PD and git volume. You can alternatively fetch it from remote HTTP, but that's not great.

You could also have a hack where you specify an empty dir and share it between two containers the running one and the data one. Have the data one make the data available through the empty dir to the other container (copy, maybe symlink). But hacky..

[2015-03-12 19:20] bliss commented on #5388
@vmarmol thank you for your replies! But unfortunately our case is having access to pod data even when all nodes are dead. This is achievable with placing pod volume on a remote filesystems only. So the question is: how we can know beforehand a pod starts what node it is assigned to. :)

[2015-03-12 19:22] markturansky commented on #5317
@sub-mod I run kube and the unit tests on OS X, if I can be of help.

I've since updated from master and this is failing for me, too :)

[2015-03-12 19:22] vmarmol commented on #5388
You can probably query the API server. Once the scheduler makes a decision it'll be reflected on the pod's host but not yet be in a running state.

I think what you're looking for is expanded volume support though.

[2015-03-12 19:26] vishh commented on #5388
Watching the API server is racy. Having a volume type that handles your use
case is the way to go.

On Thu, Mar 12, 2015 at 12:23 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-03-12 19:28] bgrant0607 commented on #5388
Volume plugin work is ongoing (e.g., #5167). Take a look at:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/volume/plugins.go

PRs to push this along would be welcome.

You could also run powerstrip.

[2015-03-12 19:30] sub-mod commented on #5317
@erictune @markturansky first of all apologies i didnot know about folks using mac.
I am just pushing my fix , pls wait. I ofcourse would need ur help

[2015-03-12 19:34] piosz commented on #4961
Fixed by #5177, #5196 and #5262

[2015-03-12 19:34] #4961 closed

[2015-03-12 19:35] markturansky commented on #5317
@sub-mod I will test it for you.  Ping me here or on IRC.

[2015-03-12 19:49] bprashanth commented on #4785
Thanks for the logs, though I don't have enough to help you debug, since they all truncate within a few minutes. From what I can tell your node controller is confused, which probably means something is wrong with your setup. The kube-controller log is filled with:

[code]

And your apiserver has:
[code]

1. The node controller is not able to figure out ips for nodes
2. The apiserver doesn't seem t

[2015-03-12 19:50] bprashanth commented on #4785
Getting back to missing HostIPs, when a node is unhealthy we don't immediately evict its pods, we wait around for an eviction timeout https://github.com/GoogleCloudPlatform/kubernetes/blob/9aa744925e210c13f8c98b26a9b33c659dff52ec/pkg/cloudprovider/controller/nodecontroller.go#L245. During this time, if the apiserver can't talk to the kubelet, it will leave the pods hostip field blank even if the n

[2015-03-12 19:58] #5372 closed

[2015-03-12 20:11] jszczepkowski commented on #5361
The scenario:
1. I compiled the old version and installed it with e2e.go -v -build -up;
2. I run some e2e tests, cluster with the old version was running;
3. I changed source code of some files in pkg/apiserver or pkg/registry/pod;
4. I compiled the new version and was trying to install it with e2e.go -v -build -push;
5. I run some e2e tests, hoping the new version of apiserver was deployed.
Howev

[2015-03-12 20:14] sub-mod commented on #5317
@markturansky 5400 has my fix , can u kindly check

[2015-03-12 20:16] zmerlynn commented on #5361
I did tests to verify that I was no longer seeing version mismatches after
a push (which is a good sign that a push succeeded in bonking the
apiserver), but I'll see if I can do more rigorous testing soon. To be
honest, the master push hasn't changed much - the node deployment was the
part that changed much more radically with the Salt changes. So I'm not
exactly sure what you're seeing here.

On

[2015-03-12 20:18] Suvitruf commented on #5311
I have same error. But 'systemctl status' said that apiserver works fine.

I asked it here https://groups.google.com/forum/#!topic/google-containers/Icdzt0iWTik

But still don't understand how can i fix etcd (if it's etcd fault actually).

[2015-03-12 20:18] sub-mod commented on #5317
@erictune i this is now fixed with 5400 . @markturansky  kindly confirm here to close this thread.

[2015-03-12 20:20] markturansky commented on #5317
This issue can be closed.

[2015-03-12 20:32] erictune commented on #5292
Tim, you don't say whether Kubernetes should at some point offer an L7
balancing as part of the service abstraction.

On Thu, Mar 12, 2015 at 6:21 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-03-12 20:48] lavalamp opened #5402 "kube-push.sh broken?"
"MASTER_IP_RANGE: unbound variable" at least sounds like an issue.

[code]

[2015-03-12 20:55] bgrant0607 commented on #5207
We removed hostPort conflict checking in #4619. The problem was that it was applied when updating BoundPods, which we were trying to remove.

We do plan to replicate apiserver and support multiple, workload- and/or user-specific schedulers. However, unlike [Omega](http://eurosys2013.tudos.org/wp-content/uploads/2013/paper/Schwarzkopf.pdf), I don't think we should enforce invariants at the storage

[2015-03-12 21:03] satnam6502 commented on #5402
@zmerlynn

[2015-03-12 21:05] lavalamp opened #5405 "kube-down.sh can't delete master-pd"
kube-down.sh gave me this error the past two times I've turned down a cluster.

[code]

[2015-03-12 21:10] zmerlynn commented on #5402
The `MASTER_IP_RANGE` was actually @brendanburns, but the problem is that it's trying to pull from a `kube-env` that just doesn't have that variable in it.

[2015-03-12 21:11] zmerlynn commented on #5402
(I would care about this right, but I'm trying to get GKE back settled first.)

[2015-03-12 21:13] brendandburns commented on #5402
Yeah, you're going to have to delete your old cluster and rebuild.

We can't ensure that kube-push.sh will work consistently across arbitrary code changes (at least until we have update working properly, and possibly not even then)

[2015-03-12 21:13] #5402 closed

[2015-03-12 21:17] zmerlynn commented on #5402
The weird thing is that `util.sh` in `kube-push` does a `write-master-env`, then does do an `add-instance-metadata-from-file` on the master, so it *should* have updated your master kube-env before attempting to blast configure-vm. If you feel like debugging for a little while, it's worth poking at. I'm not going to have time this afternoon because someone else was complaining about binaries not ge

[2015-03-12 21:19] zmerlynn commented on #5402
Oh! e2e? @brendanburns just noticed it's not in config-test.

[2015-03-12 21:20] brendandburns commented on #5402
Ah, also, I realized that I forgot to add the variable to the test config,
so e2e will fail!  PR coming.

Sorry!
--brendan

On Thu, Mar 12, 2015 at 2:17 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-03-12 21:20] zmerlynn commented on #5402
Haha. We've been failing cluster creates on Jenkins for 2 hours. Thanks for the bug. :)

[2015-03-12 21:29] zmerlynn commented on #5402
Can you update past #5406 and try the push again? I'm curious, because I thought I actually planned for this case.

[2015-03-12 21:32] lavalamp commented on #5402
@brendanburns I accept the occasional kube-push.sh failure as par for the course but it shouldn't fail this much.

@zmerlynn Yeah apparently I can't even start a cluster without that.

[2015-03-12 21:36] zmerlynn commented on #5402
Note that I doubt *just* a push is enough here, because startup is actually creating a route to the master as well. But I don't think it'll hang in the same way. We aren't doing anything with that route yet, so you'd probably end up fine for a few days. ;)

[2015-03-12 21:47] zmerlynn commented on #5405
It's normal for down to give errors about resources that don't exist?

[2015-03-12 21:48] zmerlynn commented on #5405
(It did finish, yes?)

I added that code because it's obnoxious when kube-up creates the PD but then fails to create the VM, yet there's no script to clean up. So this is either a non-bug, or you just want someone to /dev/null it.

[2015-03-12 21:54] zmerlynn commented on #5405
Oh, I see the misunderstanding. I just re-read the title. This isn't the bug. I'm changing the title.

By the time `kube-down.sh` is trying to actually delete the PD, it passed `--delete-disks all` to `gcloud compute instances delete`. So it had one shot to delete the master PD already. The second attempt is just to delete a lonely PD if there was no PD.

Closing for now. Reopen if you really want

[2015-03-12 21:54] #5405 closed

[2015-03-12 22:29] lavalamp commented on #5402
-push worked for me just now. Thanks for the fix.

[2015-03-12 22:37] satnam6502 opened #5408 "kube-push.sh and dev-build-and-push.sh do not update kube-apiserver binary"
I made several attempts to update the apiserver (i.e. `kube-apiserver` on the master) using `kube-push.sh` and `dev-build-and-push.sh` but they failed to update the binary. I noticed the same PID on the master for `kube-apiserver` and a long uptime. If I tore the cluster down and rebuilt it then I could see the change I made to the apiserver.

[2015-03-12 22:53] satnam6502 commented on #5408
@dchen1107 @davidopp @zmerlynn

[2015-03-12 22:55] zmerlynn commented on #5408
I'm actively working on it.

[2015-03-12 22:56] dchen1107 commented on #5408
I noticed exact the same issue today by update my kubelet binary.

[2015-03-12 22:57] zmerlynn commented on #5408
Push is broken, sorry. I thought I tested it, but the binaries aren't getting bonked appropriately.

[2015-03-12 23:01] zmerlynn commented on #5408
kubelet binary push actually worked before? That path looked dubious at
best.
On Mar 12, 2015 3:56 PM, "Dawn Chen" <notifications@github.com> wrote:

[2015-03-12 23:20] galvez opened #5410 "`hostname -i` doesn't work in running container"
I have this pod: http://pastebin.com/GJzkLybV

	# docker ps
	CONTAINER ID        IMAGE                                             COMMAND                CREATED             STATUS              PORTS                    NAMES
	6719460ecb83        gcr.io/analytical_rig_823/reachsocket-db:latest   "/opt/reachsocket/ma   56 minutes ago      Up 56 minutes                                k8s_mongodb-fail

[2015-03-12 23:21] alex-mohr opened #5411 "Kubelet not robust to docker not running?"
With version 0.12.1 on GKE, a node came up, but kubelet never served on :10250 -- connection refused.

From the logs, the most suspicious line is:
E0311 20:06:01.137166    4797 server.go:299] Failed to create kubelet: dial unix /var/run/docker.sock: connection refused

If that happens, kubelet is unhealthy, but it doesn't terminate.  It never serves, master's /validate reports:
  {
    "component"

[2015-03-12 23:22] satnam6502 commented on #5410
@thockin -- who else can help with this?

[2015-03-12 23:22] alex-mohr opened #5412 "kube-proxy: needs monit"
% ls /etc/monit/conf.d/
docker  kubelet

We need kube-proxy there too?

[2015-03-12 23:23] satnam6502 commented on #5410
Continuing from IRC, @galvez wants to know the IP address of the container (pod).
`hostname` works, but `hostname -i` does not.

[2015-03-12 23:24] alex-mohr commented on #5411
if I reboot a node, 3/3 times it also triggers this behavior.  If anyone does a kernel upgrade or a VM fails for maintenance and is restarted, presumably kubelet won't go healthy again later.  P0.

[2015-03-12 23:25] vmarmol commented on #5411
I merged #5187 a few days ago. This makes Kubelet wait up to 5min for Docker to come up. I don't think that went into 0.12.1. Does anyone know? I think that would alleviate this.

[2015-03-12 23:25] markturansky commented on #2170
Volumes in boot2docker work but are fairly limited because b2d only mounts /Users into the VM.

So long as your volume lives beneath /Users, Kube on OS X w/ boot2docker works except for services.

[2015-03-12 23:26] vmarmol commented on #5411
Just verified, this is not in 0.12.1. @alex-mohr can we try with that change? May be worth a cherrypick.

[2015-03-12 23:33] brendandburns commented on #5410
```hostname -i``` has worked for me in other containers.  Is this OS dependent?

[2015-03-12 23:33] galvez commented on #5410
My containers' base image is Ubuntu 14.04.

[2015-03-12 23:33] dchen1107 commented on #5411
Shouldn't this is dupe of #5313?

[2015-03-12 23:35] brendandburns commented on #5410
See:
http://askubuntu.com/questions/185070/why-i-get-hostname-name-or-service-not-known-error

perhaps?

/etc/hosts might be borked (or DNS somehow?)

On Thu, Mar 12, 2015 at 4:34 PM, Jonas Galvez <notifications@github.com>
wrote:

[2015-03-12 23:35] satnam6502 commented on #5410
The container I ran `hostname -i` on was also Ubuntu 14.04.

[2015-03-12 23:37] brendandburns commented on #5410
Jonas, can you try just running a vanilla docker container and seeing if
hostname -i works?

On Thu, Mar 12, 2015 at 4:35 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-03-12 23:37] alex-mohr commented on #5411
Maybe a dup of #5313 but I'm not convinced #5187 is a perfect fix: note the "failed to create kubelet" in the current log, but kubelet did not exit.  My read of #5187 is that it will also "failed to create kubelet", so unless there's something else that actually triggers a binary exit, we can still have the case where kubelet isn't responding?

[2015-03-12 23:37] dchen1107 commented on #5411
Reassign it to myself to make sure I didn't miss any case beside #5313. But the fix in #5313 is not in 0.12.1 yet.

[2015-03-12 23:39] chuckbutler commented on #4334
@erictune I see this was opened 29 days ago. I've just completed iteration 1 of the juju cluster integration bits and curious if I've based it off a recent enough edition, I'm working off of a branched master, and things are working on our end. Relevant PR - is here: #5414

[2015-03-12 23:40] alex-mohr commented on #5411
Note that even though the proximate cause may be partially mitigated, the root cause I think is the mismatch between monit checking the pid and master checking /healthz on 10250.

Re: patching 12.1, we could, though it's somewhat a pain.  But I think this is easy enough to trigger (via reboots) that it's worthwhile -- will go kick that off.

[2015-03-12 23:40] dchen1107 commented on #5411
@alex-mohr I agreed with you that #5187 is the perfect fix. Actually if node runs into the situation like #5313, #5187 doesn't help at all.

@alex-mohr Can I ssh into one of your nodes?

[2015-03-12 23:42] vmarmol commented on #5411
They're completmentary, #5313 handles some of the cases where the Docker daemon in unreachable #5187 handles cases where it is temporarily unreachable. Having said that, we should be existing when that times out. That we don't today is a bug.

[2015-03-12 23:51] #5361 closed

[2015-03-12 23:54] dchen1107 commented on #5411
I checked bad node, and it is known issue:

#5107 is fixed by #5120 (monit health check kubelet and restart unhealthy one)
#5313 is fixing when docker daemon unresponsible issue, could be deadlock, or whatever reasons.

Somehow, I thought 0.12.1 does include #5120, but monit configure for kubelet, it doesn't do healthz check at all.

[2015-03-12 23:54] dchen1107 commented on #5411
Dup of #5107

[2015-03-12 23:54] #5411 closed

[2015-03-12 23:55] zmerlynn commented on #5408
I would appreciate external testing. I have done some sniff testing, but
push is a really broad use-case.

On Thu, Mar 12, 2015 at 4:51 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-03-12 23:59] vmarmol commented on #5412
I'll take a look.

[2015-03-13 00:01] smarterclayton commented on #5183
Opened #5416 to marshal to utc when serializing

[2015-03-13 00:10] dchen1107 commented on #5411
@alex-mohr  If you did include #5120 in 0.12.1, I guess you run into #5408 (push.sh doesn't really up the binaries). I ran into this problem since yesterday, and spent a lot of time on debugging my issues. :-(

[2015-03-13 00:13] dchen1107 commented on #5411
Ok, I just proved my hyperthesis here:

root@k8s-staging-regtest-loop-2015-03-11-13-03-21-node-2:/var/log# kubelet --version
Kubernetes v0.12.0

It is NOT v0.12.1

[2015-03-13 00:15] alex-mohr commented on #5411
I am now officially completely embarrassed -- sorry for the false alarm!  I'll check versions more closely next time.

[2015-03-13 00:16] dchen1107 commented on #5412
Actually I am thinking about run it as pod not like docker and kubelet. Eventually I even want kubelet running as a docker container, but not for v1.0, so that Node upgrade / cluster upgrade will be much simplier.

[2015-03-13 00:18] dchen1107 commented on #5411
np at all. I did want to make sure both docker and kubelet are properly monitored and restarted when healthchecking failed. Let me know if you run into the similar situation next time.

[2015-03-13 00:21] dchen1107 commented on #5408
reopen this since the fix is reversed.

[2015-03-13 00:35] vmarmol opened #5419 "Run kube-proxy in a Docker container"
Have it be a static pod started by the Kubelet.

[2015-03-13 00:35] vmarmol commented on #5412
@dchen1107 and I spoke offline, we're gonna close this in favor of #5419 which will run kube-proxy in a Docker container. We will work on that soon.

[2015-03-13 00:35] #5412 closed

[2015-03-13 00:35] galvez commented on #5410
Guys, hostname -i doesn't work... but -I does:

  # hostname -I
  10.132.1.23

[2015-03-13 00:48] vmarmol opened #5421 "Integration test should not be in the cross-compile list"
Today we have server, client, and test binaries. We expect the server ones to only build in Linux, but the client and test ones we expect to be able to build and run in Linux, Mac OS X, and Windows.

Server binaries:
- kube-proxy
- kube-apiserver
- kube-controller-manager
- kubelet
- hyperkube
- kube-scheduler

Client binaries:
- kubectl
- kubernetes (busybox)

Test binaries:
- e2e
- integration
-

[2015-03-13 01:09] satnam6502 commented on #5410
Strange that asking for all addresses for the hostname works (-I) but asking for the IP (-i) does not.

[2015-03-13 01:10] galvez commented on #5410
Note: `/etc/hosts` is empty on all running containers.

[2015-03-13 01:24] BlueShells commented on #5357
thans for answer me ,I just follow the guide,and I do not know wich step I installed the kube,
I just git from the github and config the ssh,config the netwok, and run the 'ansible-playbook -i inventory setup.yml',I did not use yum to install kube ,if it installed,I think it is the command 'ansible-playbook -i inventory setup.yml' do the install.
[root@fedora ~]# ls -l  /etc/kubernetes/
total 24
-

[2015-03-13 01:26] bgrant0607 commented on #5421
This is a short-term / long-term tradeoff.

Today, our repo is Linux-only and Docker-only.

Fabric8 (JVM) is in a separate repo. Rocket, novm, LXC, lmctfy, etc. haven't been integrated.

What about when Windows Docker support becomes available? CBSD?

I'm all for short-term expedience, provided we don't think it would be excessively hard to generalize later. We've taken that approach with etcd, fo

[2015-03-13 01:27] bgrant0607 commented on #2170
cc @vmarmol

[2015-03-13 01:35] markturansky commented on #5419
This would allow it to run iptables on OS X, wouldn't it?

[2015-03-13 03:47] thockin commented on #5419
First, kube-proxy needs to be able to open host ports dynamically - this
would require --net=host support.

Second kube-proxy needs to be able to update iptables so it would require
--privileged to be enabled.

On Thu, Mar 12, 2015 at 6:36 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-03-13 03:50] thockin commented on #5410
/etc/hosts should not be empty.

docker run -ti busybox cat /etc/hosts
172.17.0.11 0eb34aecf94d
127.0.0.1 localhost
::1 localhost ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

On Thu, Mar 12, 2015 at 6:10 PM, Jonas Galvez <notifications@github.com>
wrote:

[2015-03-13 04:35] #5408 closed

[2015-03-13 04:43] erictune commented on #5421
Integration creates kubelets with fake docker.  If it is not too hard, then
there should also be a way to make a fake mounter, or whatever is needed
for tmpfs.

On Mar 12, 2015 6:26 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-03-13 04:44] bgrant0607 commented on #2156
@soltysh Does that imply you plan to build it?

@xudifsd Sorry, it's a bit hard to tell what people will start working on.

[2015-03-13 04:59] satnam6502 opened #5423 "kube-up.sh failed with template error"
[code]

[2015-03-13 05:03] satnam6502 commented on #5423
Retrying after `rm -rf kubernetes-satnam2_kubernetes/`

[2015-03-13 05:06] satnam6502 commented on #5423
Now trying `kubectl config unset current-context`

[2015-03-13 05:15] smarterclayton commented on #5421
Yeah, we have a few fake mounters in places already for unit tests.

I'd say there are at least 4-5 active contributors on Mac.

[2015-03-13 05:26] bgrant0607 commented on #473
I vote for (2).

[2015-03-13 05:52] nikhiljindal opened #5425 "Swagger: Make the order of paths in swagger spec deterministic"
The order of paths in swagger spec changes each time we regenerate it, making it very hard to inspect changes in PRs carefully.
We need to make the order deterministic.

https://github.com/emicklei/go-restful/issues/185 refers to fixing go-restful so that it emits paths in swagger spec in the order in which they were registered.
We also need to fix our code. Right now, we extract the paths from a

[2015-03-13 06:07] nikhiljindal commented on #4083
Now, that we have fixed those issues, we are getting a new set of errors and warnings (58 errors and 119 warnings):

[code]

Will try to fix them one by one :)

[2015-03-13 07:28] gmarek commented on #4628
I think this is done.

[2015-03-13 07:28] #4628 closed

[2015-03-13 07:31] wojtek-t commented on #5384
I will start working on that today.

[2015-03-13 08:32] wojtek-t commented on #5392
cc @jszczepkowski @wojtek-t

[2015-03-13 08:40] cnaize commented on #5388
@bgrant0607
Can you provide some details about plugins?
Main design and how to use.

[2015-03-13 09:45] gmarek commented on #4521
@bprashanth The fact that you depend on goroutines explains speedup when running master on 8 hypethread machine. IIUC we still haven't decided what our target configuration is, so I don't know how much parallelism we allow. I'll write a simple script to measure execution times of basic operations.

[2015-03-13 10:44] soltysh commented on #2156
On Fri, Mar 13, 2015 at 5:44 AM, Brian Grant <notifications@github.com>
wrote:

Definitely I'll be one of the implementers.

[2015-03-13 11:35] markturansky commented on #5419
If kube-proxy were to run in docker, it would not be running in OS X itself.  The cmd would, but the server itself would be in a container running in the b2d VM.  It can manipulate iptables in the VM.

That last piece (b2d-ip:port) would enable me to curl from OS X into Kube with my service.

I've developed most of Persistent Volumes on the Mac, but the service fronting my examples had to be teste

[2015-03-13 12:06] roberthbailey commented on #5339
Tried accessing a service at ```/api/v1beta1/proxy/ns/default/services/<service-id>/``` and accessing a pod at ```/api/v1beta1/proxy/ns/default/pods/<pod-id>```. Both returned a 404.

[2015-03-13 12:14] thockin commented on #5388
Volume plugins provide the abstraction you want, and they are very easy to
implement.  The hard part is the API, which is not really plugin-enabled
yet.

We dont really want to support every random technology in the core of
kubernetes, but maybe you can tell me more about your flavor of rbd?  How
is it mounted and addressed?  If it is really generic, we could consider
supporting it in the core.

T

[2015-03-13 12:22] markturansky commented on #5388
I believe Persistent Volumes (#4055) solves much of what is being asked, except for the requirement "our case is having access to pod data even when all nodes are dead."

Manual workarounds exist for that requirement.  The volume is a pet, so visiting with it is possible.  It breaks the abstraction between the administrator and user, but that is moot if they are the same person.

Accessing data in

[2015-03-13 12:47] piosz opened #5431 "Request timeout while creating guestbook example"
When I'm creating guestbook application I often get a timeout with following error message:
[code]

It happens in all cases
* manual creation
* in guestbook.sh e2e test
* in kubectl.go e2e test (I'm working to port guestbook.sh to ginkgo, #5045)

[2015-03-13 14:09] gmarek commented on #4521
I created PR #5432 with extremely simple script. It's kind of manual as it outputs time results. I lost some time trying to make variables out of those results, but failed. Somehow I wasn't able to correctly redirect stderr to stdout for timed wait call and put it into a variable.

[2015-03-13 14:13] gmarek opened #5434 "In e2e test cluster in GCE Route for master is not being deleted during --down"

[2015-03-13 14:38] ehacke opened #5435 "Killing machine doesn't migrate the pod immediately"
I'm running kubernetes on top of coreos machines inside of vagrant.

It looks like if I deploy some pods into a cluster with 1 master and 4 minions, and then kill one of the vagrant machines running a given pod, kubernetes does not immediately migrate the pod to another machine. It seems to take about 13 minutes to notice that the machine is dead. During that time, if I run `kubectl get pods` it s

[2015-03-13 15:13] #5384 closed

[2015-03-13 15:34] ArtfulCoder commented on #5261
@prateekarora151083
could you check the flanneld process on each host and check what etcd host and port it is talking to ?

[2015-03-13 15:40] vmarmol commented on #5419
That's what worries me about this approach. We'd need to expose both of those as options in the manifest. They're probably not options we want to give most jobs. Maybe we can limit it to static pods, but that sounds brittle.

[2015-03-13 15:41] gmarek commented on #4910
I started looking on this issue and it looks simple with one small exception. Namely you suggest that it should be per Node. If by 'Node' you mean 'Kubelet' everything's easy, number of available IPs can be put into KubeletConfig, Kubelet then fills NodeStatus.Capacity with this number when asked for it. But if by Node you mean Node, and for some reason you want this number be a parameter for Node

[2015-03-13 15:53] vmarmol commented on #5421
We make the fakes today for those tests. The argument was the work required to maintain those (and alternate implementations of things). There are also a lot of incompatibilities that aren't detected at compile time (access Linux-specific parts of /proc, iptables, cgroups). There does seem to a good number of developers on Mac which may make it worthwhile. I'm not sure the pain today is bad enough

[2015-03-13 15:56] satnam6502 commented on #5410
I'd like to try and make progress on this issue. @galvez : please can you:
* Tell us exactly what version of Kubernetes you are using (a release? built from HEAD?).
* We're assuming GCE
* We're assuming nothing special has been done to the config
If you have a regular config you should have some pods running for cluster level services e.g. for logging. Can you docker exec into either the Elasticse

[2015-03-13 15:59] cnaize commented on #5388
@thockin
In future it will be very good to have plugin-enabled API and we'll write just plugins for different types of storage.
But rbd support right now is greate.
http://ceph.com/docs/master/man/8/rbd/

[2015-03-13 16:35] roberthbailey commented on #5435
I think this has to do with our notion of "forgiveness" when a node disappears. @erictune?

[2015-03-13 16:45] erictune commented on #5435
I don't think that anything has been implemented around "forgiveness".  We just talked about that.

[2015-03-13 16:45] ArtfulCoder commented on #5312
Yes, I am working on putting apiserver in a pod.

[2015-03-13 16:51] roberthbailey commented on #5431
Piotr - have you tracked this down yet?

The create/patch/update/delete functions in [resthandler.go](https://github.com/GoogleCloudPlatform/kubernetes/blob/19b6c85fa50f22c0f7a5cffd8f81e3b359448d17/pkg/apiserver/resthandler.go) all timeout if the request hasn't completed sufficiently quickly. The default timeout is [30 seconds](https://github.com/GoogleCloudPlatform/kubernetes/blob/19b6c85fa50f22c

[2015-03-13 16:51] prateekarora151083 commented on #5261
result of ps -ef | grep flannelid
is
root     20525     1  0 09:42 ?        00:00:00 /opt/bin/flanneld

[2015-03-13 16:57] smarterclayton commented on #5421
From an engineering perspective, forcing ourselves to clearly identify (via interfaces, fakes, etc) those dependencies is beneficial in general - it makes us recognize coupling and break it, introduce interfaces for specific behaviors, and make general sub components that can be swapped out. Given that an integration fake (emulating a mount failure) is valuable, the slightly more work to make cert

[2015-03-13 16:57] roberthbailey commented on #5435
Interesting. I did a similar test the other day and had just assumed that was what was going on. Any ideas what could actually be happening then?

[2015-03-13 16:59] erictune commented on #5435
`PodEvictionTimeout:      5 * time.Minute`

I don't see how we are getting to 13 minutes.

[2015-03-13 17:02] erictune commented on #5421
We know it is useful to have the ability to do lightweight simulations of
clusters.  That is another reason to ensure kubelet remains able to run as
non-root.

On Fri, Mar 13, 2015 at 9:57 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-03-13 17:03] cnaize commented on #5388
If I'll have developed this, will you merge my pull request?

[2015-03-13 17:09] ehacke commented on #5435
@erictune I got the 13 minutes by observing the difference in pod created time. I'll reproduce the issue right now and double check that.

In addition, prior to the eviction timeout expiring, should the pod be reported as 'running' when it's missing entirely? I guess that's a different issue.

[2015-03-13 17:13] satnam6502 commented on #3085
After discussion with @bgrant0607 I propose to do the following the following when I get to this:

* When a PUT occurs without a resource version, perform a GET on the same resource to get the current resource version and then PUT at that version ("push -f").

Is it possible that an interleaving PUT might cause this perform a PUT at a version which is not the most recent? In which case, is it poss

[2015-03-13 17:15] vmarmol commented on #5435
We've been working on pushing pod status to the master from the machines. We'd need a mechanism through which the master can see when the statuses have not been updated in EXPECTED_TIME and reflect that.

[2015-03-13 17:18] ddysher commented on #5435
Right now, it should be Unknown

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/pod_cache.go#L199

[2015-03-13 17:19] erictune commented on #5435
@ehacke Oh, I believe you.  I just don't have any idea why yet.

[2015-03-13 17:20] simon3z commented on #5354
@bgrant0607 what do you think it should be the correct behavior. For me logging a failed connection to cadvisor is important (even though I understand that it's probably too much verbose).

At this time I think that having cadvisor running should be mandatory.
Do you think we should have a configurable somewhere? (apiserver) What would be the default?

[2015-03-13 17:28] ehacke commented on #5435
@erictune I'm not sure I believe me, so I'm double checking.

[2015-03-13 17:34] thockin commented on #5410
I dont think docker will create an empty hosts file - that's the fun part...
On Mar 13, 2015 9:57 AM, "Satnam Singh" <notifications@github.com> wrote:

[2015-03-13 17:42] galvez commented on #5410
@satnam6502 You've made the right assumptions. No special config other than the pod file I shared earlier. Let me know if you still need a copy. I'll take a look at the other bits later today and update the issue.

[2015-03-13 17:44] ehacke commented on #5435
So it's possible I could have just done bad math for the 13 minute case, because it does look like it's ~5 minutes in the three cases I just tried.

In terms of status, it does continue to report as 'Running' even if the machine is dead. Though it seems like if I bring the formerly dead machine back with the same IP, the reporting updates to 'Unknown'.

[2015-03-13 17:44] vmarmol commented on #5421
Alright, I think there is consensus :) Closing this issue, thanks everyone for the discussion!

[2015-03-13 17:44] #5421 closed

[2015-03-13 17:47] preillyme commented on #5419
I agree with @vmarmol if it can be limited to only static pods then I think it would be okay. Otherwise it just seems too risky.

[2015-03-13 17:54] thockin commented on #5419
Anything can be done, its just a matter of whether it is worthwhile.  If
this let's us run other daemons in containers, it might be.
On Mar 13, 2015 11:47 AM, "Patrick Reilly" <notifications@github.com> wrote:

[2015-03-13 17:57] ArtfulCoder commented on #5261
I was trying to figure out what endpoint flanneld is hitting. What args is it running with ?

[2015-03-13 17:58] thockin commented on #5388
Maybe.  I have spoken with ceph people before, and I think it is pretty
desirable.  That said, I focused on file storage not block.  Will read docs
on it. On a plane now.
On Mar 13, 2015 11:03 AM, "Nikita" <notifications@github.com> wrote:

[2015-03-13 17:58] prateekarora151083 commented on #5261
no arguments result show only
root 20525 1 0 09:42 ? 00:00:00 /opt/bin/flanneld

[2015-03-13 18:04] jayunit100 commented on #5260
The PR for this is now available....  https://github.com/GoogleCloudPlatform/kubernetes/pull/5447

[2015-03-13 18:22] lavalamp commented on #5405
I see. Thanks for explanation.

[2015-03-13 18:23] lavalamp commented on #5295
Hmm... less important, but would still be valuable, I think. I'll downgrade to P3.

[2015-03-13 18:26] satnam6502 opened #5449 "Fix PD deletion error message (and cause?) during kube-down"
It's very annoying to see the PD deletion error every time.

[code]

[2015-03-13 18:28] erictune commented on #4334
@chuckbutler
I'm looking at https://github.com/whitmo/charm-kubernetes/blob/master/files/kubelet.upstart.tmpl and https://github.com/whitmo/charm-kubernetes/blob/master/files/proxy.upstart.tmpl

The flags you are using are out of date with respect to Kubernetes head, but they are acceptable with respect to v0.8.2, which you are packaging with it.

[2015-03-13 18:29] jlowdermilk commented on #5423
`kubectl config unset current-context --global` will fix it. The problem is that your kubeconfig's current-context doesn't have a corresponding context entry. I'll see if I can make it gce's kube-up little more robust to invalid kubeconfig entries.

[2015-03-13 18:35] bgrant0607 commented on #5419
FYI: @jmreicha Reported kube-proxy running out of fds. Not sure if it was a user limit or system limit yet.

If we change to iptables (#3760), would we just integrate that into Kubelet, which needs to watch services, anyway, in which case kube-proxy would go away?

[2015-03-13 18:36] bgrant0607 commented on #3760
Would we integrate this into kubelet, or keep it in a separate daemon? Kubelet already watches services in order to populate env vars.

[2015-03-13 18:55] vmarmol commented on #5354
#5308 will make it a known and existing dependency. I think that PR should fix this issue.

[2015-03-13 19:02] brendandburns commented on #3760
I would like to keep it as a separate binary.  There are reasons why you
might want to run this on other machines (e.g. pet VMs) outside of a k8s
cluster in order to gain access to k8s services.

--brendan

On Fri, Mar 13, 2015 at 11:37 AM, Brian Grant <notifications@github.com>
wrote:

[2015-03-13 19:04] bgrant0607 commented on #157
User on IRC just reported OOD due to too many dead containers from different dead pods:
http://paste.kismatic.io/view/a13c5e16#t15QhxeWR8MVIHhEKle50JpFhJjA9op4

@brendandburns @dchen1107

[2015-03-13 19:09] satnam6502 commented on #5423
Thank you @jlowdermilk kindly for your help again. My brain is simply not large enough to remember all this.

[2015-03-13 19:09] #5423 closed

[2015-03-13 19:11] satnam6502 opened #5451 "Cluster teardown and bring up for GCE e2e not working"
[code]

[2015-03-13 19:11] satnam6502 commented on #5451
@zmerlynn @jlowdermilk

[2015-03-13 19:12] bgrant0607 commented on #5156
@smarterclayton Did you say you (or someone on the RH side) were working on this?

[2015-03-13 19:17] quinton-hoole commented on #5156
If not, I can take a look at it now.

[2015-03-13 19:18] zmerlynn commented on #5451
This is really cc @brendanburns, but are you synced to past #5448?

[2015-03-13 19:19] zmerlynn commented on #5449
I agree with your p3 assessment. I have become inured to resource-not-found errors on teardown, so I don't even notice this one (and was the one that added it).

I can /dev/null it, but in the end, I plan on rewriting all this crap anyways, so please just wait.

[2015-03-13 19:21] piosz commented on #5431
So about about increasing it to 2 minutes or so?

[2015-03-13 19:28] brendandburns commented on #4962
This was fixed by #5131

[2015-03-13 19:28] #4962 closed

[2015-03-13 19:43] lavalamp commented on #3412
Ah, that's fine-- I was trying to collect all the issues related to controller framework. I'm definitely working on the first checkbox in this issue.

[2015-03-13 19:46] lavalamp commented on #2471
Yeah. This error condition is no longer possible, I believe.

[2015-03-13 19:46] #2471 closed

[2015-03-13 19:48] vmarmol opened #5457 "Cap dead containers at a global max"
From @bgrant0607:

[2015-03-13 19:49] vmarmol commented on #157
Created #5457 and assigned to myself.

[2015-03-13 20:00] quinton-hoole commented on #5431
#5156 aims to make external load-balancer creation asynchronous.  I'd suggest filing an issue to revert this change as soon as #5156 is fixed.

[2015-03-13 20:15] quinton-hoole commented on #3760
Catching up.  Regarding what happens in the case of failures (of which there will be many, trust me), I'm a great fan of the anti-entropy approach - store desired state somewhere, and periodically reconcile desired and actual state (by mutating actual state).  In this case, perhaps as simple as:

while (true) {
  actualState = iptablesSave()
  if actualState != desiredState { iptablesRestore(desir

[2015-03-13 20:19] bgrant0607 commented on #1277
A benchmark would be useful. I had a chat with a user today about proxy performance problems.

@quinton-hoole

[2015-03-13 20:31] jmreicha commented on #4112
I am seeing this error as well.  It is happening on a node with a service running through it, not sure if that has anything to do with the issue.

Getting this over and over in the logs:

[code]

[2015-03-13 20:35] bgrant0607 commented on #5435
Look at the node.status.conditions. You should see a condition with kind==Ready with the status, last probe time, etc.

If you want to change the 5-minute default, you can set --pod_eviction_timeout=<duration> on the controller-manager command line.

@ddysher

[2015-03-13 20:36] dchen1107 commented on #5457
Yes, there is a known issue. If I remembered correctly, there is even a TODO for this.

[2015-03-13 20:40] jmreicha commented on #3943
I am seeing this as well in 0.8.1.  Is there a way to temporarily fix without upgrading to newer code?

[2015-03-13 20:47] dchen1107 commented on #3943
AFAIK Unfortunately there is no a workaround except
1) changing your logrotation config
2) removing that log file regularly

[2015-03-13 20:47] bgrant0607 commented on #5366
It would be reasonable for the selector to be a subset.

I'm fine with intelligent defaulting but we need to be careful not to conflate the 2 concepts, which I think would increase the amount of confusion.

[2015-03-13 20:52] #4973 closed

[2015-03-13 20:54] satnam6502 commented on #5449
If you want to work together to have all these bash scripts re-written in Go then I am all for it.

S

[2015-03-13 20:56] zmerlynn commented on #5449
I am to have a proposal out soon. I'm in a quagmire of GKE deployment hell
from all the Salt stuff, though. :)

On Fri, Mar 13, 2015 at 1:54 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-03-13 21:01] brendandburns commented on #3760
Agree 100% that's the right way to deal with failure in writing iptables
rules.

On Fri, Mar 13, 2015 at 1:16 PM, Quinton Hoole <notifications@github.com>
wrote:

[2015-03-13 21:03] jmreicha opened #5461 "kube-proxy too many files open"
I am hitting an issue that is (presumably) affecting the performance of my Kubernetes cluster.  I am running a service on this host that is proxying web traffic and notice that web requests that hit pods/containers on this host are incredibly slow.  This seems to happen randomly to different hosts and I can temporarily resolve the issue by killing the sick host, but eventually this issue seems to

[2015-03-13 21:06] jmreicha commented on #5419
I opened a new issue https://github.com/GoogleCloudPlatform/kubernetes/issues/5461 for my problem since we're not exactly sure what the problem is yet.

[2015-03-13 21:21] bgrant0607 commented on #5366
Setting RC selector from pod template labels SGTM. Any concerns @smarterclayton? It wouldn't have to work with separate templates, though it would be desirable if it did.

It would be nice if we could add preconditions based on other objects (resource version of pod template in this case) to etcd transactions.

[2015-03-13 21:22] TamerTas opened #5463 "Shippable Continuous Integration Logs Broken Link"
The `details` link provided by the `googlebot` for `shippable` CI leads to their homepage. I've checked a bunch of failed pull requests and it's same for them as well. I think it's bugged.

[2015-03-13 21:24] satnam6502 commented on #5449
Don't talk to me about quagmires :-)
You're the man that made me spend a month on an e2e test!
:-)

[2015-03-13 21:26] thockin commented on #3760
That's more or less what happens now, isn't it?  For each expected rule,
check if it exists and if not, make it.

On Fri, Mar 13, 2015 at 2:02 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-03-13 21:26] thockin commented on #3760
I agree there's utility in a separate binary, but maybe we link it into
kubelet (the same way cAdvisor is going) and make it a standalone at the
same time.

On Fri, Mar 13, 2015 at 12:03 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-03-13 21:27] satnam6502 opened #5465 "Develop process for accepting examples"
It's great to have people contribute examples. We should document the process for doing this. What files we need. e2e requirements. Best practices. How to deal with Docker images needed for the examples (if they need to be push?).
@jayunit100 @brendandburns

[2015-03-13 21:28] thockin commented on #3943
if you don't care about the logs you could ln /dev/null /var/lib/kubelet -
might work?

On Fri, Mar 13, 2015 at 1:47 PM, Dawn Chen <notifications@github.com> wrote:

[2015-03-13 21:32] bgrant0607 commented on #5419
Re. net=host and privileged: I'm not in favor of stricting to just static pods. We want to move such pods to a per-node controller, for one, and I also don't want API skew.

The right solution is policy enforcement, such as by using the admission control plugin.

[2015-03-13 21:32] bgrant0607 commented on #5419
Host directories and host ports have the same issue.

[2015-03-13 21:32] thockin commented on #5292
Probably, but it's not clear whether the sessions in question are L7 HTTP
or some other application layer protocol.  Doing L3 is (relatively) easy
without any userspace help (we just need to implement it).  L7 will be
somewhat more difficult.

On Thu, Mar 12, 2015 at 1:32 PM, Eric Tune <notifications@github.com> wrote:

[2015-03-13 21:33] bgrant0607 commented on #5461
cc @quinton-hoole

[2015-03-13 21:35] bgrant0607 commented on #5461
lsof of kube-proxy:
http://paste.kismatic.io/view/db8afb49#L187

[2015-03-13 21:35] thockin commented on #5419
Except that host ports an dirs were relatively easy to implement and are
done :)

But yes - these features are all "leaky" in a way that we wan to discourage
but maybe not disallow.

On Fri, Mar 13, 2015 at 2:33 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-13 21:36] thockin commented on #5461
P1

On Fri, Mar 13, 2015 at 2:34 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-13 21:37] bgrant0607 commented on #5419
I'm not saying that we definitely should implement net=host, just commenting on the way to restrict it. Sticking flags on kubelet and/or kube-proxy is a short-term hack that won't scale.

[2015-03-13 21:38] bgrant0607 commented on #5461
@thockin Done.

[2015-03-13 21:38] bgrant0607 commented on #5461
@jmreicha Any chance you could try a more recent version of Kubernetes?

[2015-03-13 21:40] zmerlynn commented on #5463
They actually don't, you just have to login (on the upper right) with your github before you can view the results.

[2015-03-13 21:40] #5463 closed

[2015-03-13 21:40] smarterclayton commented on #5366
I think we agreed in another issue that defaulting the selector from the pod template labels is reasonable.  No argument from me.  One problem with pod templates is that we lose the strict relationship between selector and template, so if you change the template the RC needs to behave intelligently (I refuse to create more pods because the template selector doesn't match mine, etc)

[2015-03-13 21:41] jmreicha commented on #5461
@bgrant0607 that is what I am aiming for at this point.  My cluster is basically dead.  What version should I move to?

[2015-03-13 21:46] smarterclayton commented on #5156
It was me but I won't get to it anytime soon.  Please do

----- Original Message -----

[2015-03-13 21:52] prateekarora151083 commented on #5261
Is it required to add   -ip-masq=true for flannel arguments.
I have Edited  /etc/default/flanneld
Added  FLANNEL_OPTS="-ip-masq=true"

then container ( exist in host 10.0.0.32 )  able to ping  10.0.0.11 10.0.0.31 10.0.0.34 10.0.0.35 host.

is above setting is correct or is there any other way to achieve my goal .

[2015-03-13 21:53] TamerTas commented on #5463
Thanks

[2015-03-13 21:55] zmerlynn commented on #5463
FWIW, we've complained to them about this behavior, because Travis CI doesn't actually require a login before viewing results. We're trying to get it changed.

[2015-03-13 21:59] TamerTas commented on #5463
That's what confused me. Also the redirection wasn't even a log-in page redirection just a homepage.

[2015-03-13 22:07] quinton-hoole commented on #3731
PR #5192 provides a possible canonical implementation of "namespace/name" format in pkg/types/valid/namespacedname.go.
Do we want to standardize on using that?

[2015-03-13 22:10] quinton-hoole commented on #5461
Try Kubernetes v0.12.0

[2015-03-13 22:16] jmreicha commented on #5461
@quinton-hoole I'm going to shoot for v0.12.0, I will update once the new version is up and running.

[2015-03-13 22:26] brendandburns commented on #2862
Closed by #5464

[2015-03-13 22:27] brendandburns commented on #4758
fixed by #5464

[2015-03-13 22:27] #4758 closed

[2015-03-13 22:40] saad-ali commented on #5327
The integration test error  is not caused by the race condition I mentioned above (I'll create a separate issue to track that).

This error, `events ... already exists`, indicates that an event with the same key already exists in etcd.

It happens because etcd is called two times to create the same exact event. This happens because the integration test [creates two kubelet instances](https://githu

[2015-03-13 22:44] Symmetric commented on #5108
@vmarmol confirmed that this is a false alarm, the packets were being dropped elsewhere in the pipeline.

[2015-03-13 22:44] #5108 closed

[2015-03-13 22:54] erictune commented on #3760
I'd be curious to hear what thoughts the Kubernetes-Mesos folks have to say about whether node components should be more integrated or modular. @jdef?

[2015-03-13 22:56] saad-ali opened #5471 "Race condition updating events for compression"
There is a race condition in event compression logic in `pkg/client/record/event.go`. If the same event is created in rapid succession it is possible that ResourceVersion used to update one of the events becomes out-of-date and the update fails due to `Conflict`.

The fix for the race condition can not be implemented on the client side, because it requires doing an atomic increment operation: no c

[2015-03-13 23:01] jayunit100 commented on #5465
One idea:  the first step will be to say all examples need to have  source for containers which is in a folder called *containers/* that is in the top level so other projects like e2e tests depend on it as well.

[2015-03-13 23:04] #5373 closed

[2015-03-13 23:04] satnam6502 commented on #5465
I've been thinking for a while that we should put all the container sources in one place to make it easier to understand how many containers we use, what base images we use (to permit factorization) etc.

[2015-03-13 23:07] satnam6502 commented on #5451
Building from head and trying again I get stuck at the dots -- I've done this N times.

[code]

[2015-03-13 23:09] satnam6502 commented on #5451
@roberthbailey @a-robinson apologies -- this is blocking my progress on addressing your kind review comments for the e2e cluster level logging test #5269

[2015-03-13 23:13] jlowdermilk commented on #5451
If you have the full kube-up output, can you dump it in a gist?

[2015-03-13 23:16] satnam6502 commented on #5451
I do get:
[code]

[2015-03-13 23:17] satnam6502 commented on #5451
But here you go:
[code]

[2015-03-13 23:18] satnam6502 commented on #5451
It could be me. My brain is mush after being call for two days.

[2015-03-13 23:23] jlowdermilk commented on #5451
How long did you wait before killing it? Could just be gce slowness.

[2015-03-13 23:25] satnam6502 commented on #5451
Various durations including one > 20 minutes.

On Fri, Mar 13, 2015 at 4:24 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-03-13 23:30] bgrant0607 commented on #3933
The tags are a nuisance and a source of confusion, which is evident in the first couple sentences of #5459. Someone should just do the experiment of removing the tags to see if anything breaks.

[2015-03-13 23:30] brendandburns commented on #4128
This is now done for GCE and GKE.  We need to do it for AWS (and others?)

[2015-03-13 23:35] brendandburns commented on #3933
not really a priority for 1.0 though...

--brendan

On Fri, Mar 13, 2015 at 4:30 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-13 23:36] brendandburns commented on #5180
I'll take this on.

[2015-03-13 23:37] satnam6502 commented on #5451
How many more dotes do you want to see?
[code]

[2015-03-13 23:39] quinton-hoole commented on #5180
This seems like a duplicate of #5156.  Should we close one of them?

[2015-03-13 23:41] #4798 closed

[2015-03-13 23:45] brendandburns commented on #983
I'm going to close this issue as:
   * Port has been renamed to ContainerPort
   * We now have improved default behavior, and attempts to implement a (more) complete solution were rejected by @thockin

Re-open if you have any concerns.

[2015-03-13 23:45] #983 closed

[2015-03-13 23:47] zmerlynn opened #5472 "Proposal to rework Kubernetes deployment CLI"
The following is a proposal for reworking the existing `kube-up.sh`, `kube-down.sh`, and `kube-push.sh` to eventually be in Go for advanced cloud deployments, while allowing the existing shell investment to continue for a period of time.

* [ ] Define a `deploy/deploycmd/api` versioned `Cluster` object. This object holds all general configuration variables of the cluster and the add-on pods, plus

[2015-03-13 23:49] dchen1107 commented on #5392
Assigned to @wojtek-t since he already started working on it. Thanks!

[2015-03-13 23:49] jlowdermilk commented on #5472
cc @satnam6502. Apologies to @satnamsingh who this probably does not interest :)

[2015-03-13 23:51] dchen1107 commented on #5354
This should be fixed. Close it.

[2015-03-13 23:51] #5354 closed

[2015-03-13 23:52] dchen1107 commented on #5328
@quinton-hoole Do you want to take a look at this?

[2015-03-13 23:58] satnam6502 commented on #5472
After decades of using (and writing) hardware CAD tools I have developed a very very very high pain threshold.

[2015-03-14 00:01] satnam6502 commented on #5451
Switching to a different GCE project makes everything work.

[2015-03-14 00:02] jdef commented on #3760
I really like the modularity of the k8s components, for example running a proxy process separate from a kubelet process. If the proxy fails for whatever reason it doesn't take down the kubelet. That's pretty great since Mesos executors don't have a very graceful failover model right now -- and the kubernetes-mesos framework's executor is a kubelet/executor hybrid. This model also lets me run a pro

[2015-03-14 00:07] quinton-hoole commented on #5328
Sure, will do.

[2015-03-14 00:08] zmerlynn commented on #5451
You probably have some resource that's screwed up and not getting torn down
correctly. (Maybe something that teardown didn't find because it was in a
different zone?)

On Fri, Mar 13, 2015 at 5:02 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-03-14 00:16] satnam6502 commented on #5451
Several time I went into Dev Console and deleted all stray resources manually -- it did not help.

[2015-03-14 00:17] zmerlynn commented on #5451
I'm disturbed there were stray resources after kube-down...

On Fri, Mar 13, 2015 at 5:16 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-03-14 00:20] #501 closed

[2015-03-14 00:24] quinton-hoole commented on #3760
@thockin re: anti-entropy: Ah yes.  I see proxier.SyncLoop() does that.  In which case isn't the answer to @bgrant0607 's question of Feb 15 that errors can be ignored and will be repaired on the next iteration of SyncLoop() (currently 1 minute)?  Or perhaps I'm missing something?

[2015-03-14 00:27] bgrant0607 opened #5475 "Flip to v1beta3"
We should start creating PRs to flip to v1beta3, so that we can start testing and merge when ready:
- [x] enable v1beta3 by default in apiserver (https://github.com/GoogleCloudPlatform/kubernetes/pull/6098, will be in 0.15)
- [x] change to v1beta3 by default in kubectl (https://github.com/GoogleCloudPlatform/kubernetes/pull/6377)
- [x] ping all getting-started-guide maintainers to rebase onto 0.15

[2015-03-14 00:29] smarterclayton commented on #5475
At a minimum, being able to test the cluster runs correctly when content is upgraded is important.  I have my doubts.

[2015-03-14 00:31] bgrant0607 commented on #5475
@smarterclayton You have your doubts that it will work correctly or that it's possible to test whether it works correctly? :-)

[2015-03-14 00:39] bgrant0607 opened #5476 "Document desired system architecture"
@lavalamp Issue to remind me (or you, if you want to) write up what we discussed today wrt. write-through cache, etc.

cc @dchen1107

[2015-03-14 00:42] jmreicha commented on #5461
Just an update.  Site traffic died off and I stopped getting the "too many open files" errors in the kube-proxy logs and I am not experiencing the slowness issues currently.

I think I just have to figure out where to increase the limits and how to not break anything else in the process.

[2015-03-14 00:42] bgrant0607 commented on #3671
We'll need to cover v1beta3 in e2e, also. See #5475.

[2015-03-14 00:54] smarterclayton commented on #5475
Yes :)

[2015-03-14 00:59] quinton-hoole commented on #5328
@erictune Probably a dumb question, but you're presumably not wanting the caller of the function at event.go:138

https://github.com/GoogleCloudPlatform/kubernetes/blob/99a5ab4cfac971b44ae6e6a401e2507973c93f43/pkg/client/record/event.go#L138

 ... but rather the creator of the event being logged?  i.e. in your example, the code that's whining about the host port conflict, namely this?

https://git

[2015-03-14 01:01] quinton-hoole commented on #5328
If so, I wonder how useful this really is, given how easy it is to search the source code for the event message (as I did above)?  Either way, this sounds like a P3?

[2015-03-14 01:12] quinton-hoole commented on #5461
Yes it sounds like we're either leaking file handles through not closing connections when necessary, or you're simply seeing more concurrent connections than your file open limits allow.

Given the following, it looks like you're simply hitting a 1024 file handle limit somewhere:

$ wc -l ~/Downloads/db8afb49.txt
1032 /Users/quinton/Downloads/db8afb49.txt

I don't know that part of the code very w

[2015-03-14 01:16] quinton-hoole commented on #5461
@dchen1107 What is the intended per-process file handle limit on the node, and where do we set that (if at all - it sounds like we might be hitting the 1024 default limit)?

[2015-03-14 01:19] quinton-hoole commented on #5156
Looks like @brendandburns jumped on it on #5180

[2015-03-14 02:16] ddysher commented on #5434
firewall is also not deleted

[2015-03-14 03:49] bgrant0607 commented on #2316
It seems like we should do something to enable usage of containers with entrypoint for v1beta3. Can we do something to address that, even if it doesn't solve the whole problem? Is command = entrypoint and args = cmd worse than what we have now in any way?

[2015-03-14 03:51] smarterclayton commented on #2316
I don't believe so.  I was in favor, as long as we test it against a few people and see if they get it (which I think they will).

[2015-03-14 04:04] brendandburns commented on #5434
I believe that the problem w/ the route is deleted by #5448

Also, what firewall?  There was no new firewall added...

[2015-03-14 04:11] satnam6502 commented on #5434
Perhaps this is related to my woes in #5451

[2015-03-14 07:28] ArtfulCoder commented on #3760
1. Are we worried about black hole-ing network traffic or is it something that that the service/pod author needs to take care of ?

With userspace proxy
Assume Virtual IP 10.0.0.11 has 3 endpoints say, 10.240.1.1, 10.240.1.2, 10.240.1.3
With a user-space proxy, if one endpoint say, 10.240.1.1 didnt work, the proxy would realize that the tcp connection was not established with 10.240.1.1, and it co

[2015-03-14 07:39] satnam6502 opened #5480 "Cluster teardown for GCE failing with an error from Managed Instance Groups"
My perception is that since we moved to Managed Instance Groups the reliability of brining clusters up and tearing them down for GCE has gone down. And I say that as someone who usually creates and destroys many GCE clusters every day (sometimes quite large ones).

[code]

[2015-03-14 07:56] satnam6502 commented on #5480
Stuck at this step for over an hour.
[code]

[2015-03-14 10:53] TamerTas commented on #4470
I removed most of the unused arguments. But, There are a few methods still using the `cmd` argument. Namely, `factory.Validator`, `PrintObject`, `PrinterForMapping` and `ClientMapperForCommand`. Before proceeding any further I wanted to ask what should be done about these methods? Deprecated/Refactored/Removed ?

[2015-03-14 13:08] rashmimargani commented on #4259
Hi, @bgrant0607  , i'm GSOC 2015 applicant.. I'm willing to work on pod based networking models. my project idea is to enable multicloud integration of Kubernetes through pod based networking model. I started reading  docs related to pod based.... Please suggest me to do few more task, so that i'll able to come with good project proposed and be efficient candidate to team.

[2015-03-14 15:02] xudifsd commented on #4259
@thockin @bgrant0607 hi, goroutine per pod in kubelet interested me, but I failed to find any issue related with it, is there any?
BTW, it is **so** hard to find any idea that no one is working on

[2015-03-14 15:03] PhilAndrew opened #5483 "Image on design page is unreadable"
Take a look.

![image]
(https://raw.githubusercontent.com/GoogleCloudPlatform/kubernetes/master/docs/architecture.png)

https://raw.githubusercontent.com/GoogleCloudPlatform/kubernetes/master/docs/architecture.png

From this page.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/DESIGN.md

[2015-03-14 15:06] smarterclayton commented on #4470
The factory methods were the most important. The pattern before was people using the flags by name (cmd.Flags().Get("foo")), but now factory methods must use pointer flag vars, so there's nothing that should need the command there.

The printer methods are optional units that can be used when you add the flags for them to your command.  Unless we refactor the definition of those flags to use point

[2015-03-14 16:10] jayunit100 commented on #5465
to get the details started, can i suggest something like this?

[code]

[2015-03-14 16:15] roberthbailey commented on #5011
If you are building the binary on your machine, why not use the (short) git-hash from the dev environment? Then it would be easy to trace an image back to a particular source revision.

[2015-03-14 16:16] roberthbailey commented on #5011
I played with gcr.io this week and it's a really easy way to distribute the images (assuming you are running your dev cluster on GCE). It also has the advantage that if you are pushing the same image to multiple clusters in your GCP project that you only need to upload to google once and the pulls will be fast. The current dev flow uploads a .tgz to google storage so it wouldn't be adding any new

[2015-03-14 16:19] roberthbailey commented on #4855
This is a P1 and needs an owner. @zmerlynn if you are planning to drive it, please assign to yourself, otherwise it sounds like @rsokolowski is interested in starting on it.

[2015-03-14 16:22] roberthbailey commented on #5241
@tkulczynski Can you explain the affinity type (it isn't immediately obvious to me why 1 target pool pointed at all nodes wouldn't be suficient)?

Also, what happens if we want to create 2 Managed Instance Groups (with different node types) as part of the cluster? Can we still delegate updating to the Managed instance Groups or do we need a coordinator inside of k8s?

[2015-03-14 16:41] smarterclayton commented on #4404
One issue that needs to be discussed is how image references are used throughout our API objects.  Right now `Image` is a string, and is opaque to all callers.  We also assume there is only one container runtime in operation.  For backwards compatibility we must assume that a valid Docker pull client pull spec in that field corresponds to the Docker type.  Rocket is currently using URLs with a run

[2015-03-14 16:57] satnam6502 commented on #5483
Assigning to Brendan. Strange: the image looked fine to me when I reviewed the PR. Sorry about this.

[2015-03-14 19:27] zmerlynn commented on #4855
I think a chunk of this work is actually on Dawn, but let me figure out how to piece it out.

[2015-03-14 19:30] PavelPrischepa opened #5486 "/watch stream filter"
Is it possible to filter /watch stream by timestamp or index (as in etcd waitIndex)?
If no it we'll be great to have.

[2015-03-14 21:03] bgrant0607 commented on #3760
The user can set up readiness probes, which are performed by Kubelet. Probe failure will cause an endpoint to be removed from the endpoints list by the endpoints controller. The service proxy should then remove the endpoint from the target set.

[2015-03-14 21:06] yifan-gu commented on #2725
Hi folks,

Recently I did a rocket container runtime support for the k8s.
The branch is now in the coreos's k8s fork: https://github.com/coreos/kubernetes/pull/5

Basically in the PR, it defines the container runtime interface, and provids a rocket implementation for the interface. Since I haven't fully the abstract the existing docker code into the interface yet, I added a different code path for

[2015-03-14 21:11] yifan-gu commented on #2725
And here is an overview for that PR:

***OVERVIEW***
This PR is an initial attempt at adding support for Rocket to Kubernetes. It is largely functional but not fully complete. We are seeking feedback on the approach and for some of the outstanding issues. More details below.

***CURRENT STATE***
- The kubelet is able to launch/stop/reconcile pods via Rocket (also with specified mount volumes)
- Po

[2015-03-15 00:34] justinsb commented on #5472
+1 from me (wearing my AWS-porting hat).  Would we also replace the Salt code?

I have heard that coordinating other clouds to do the port is a blocker.  However, there is also a lot of work today for other clouds to keep up with the latest functionality.  I'd much rather do a solid day of rewriting work on the AWS cluster scripts and then have the ongoing work be much easier, by virtue of elimina

[2015-03-15 01:43] zmerlynn commented on #5472
My goal was to start at the top and work my way down. `kubedeploy` would first do something like an object -> env translator, so with the very first cut for "unenlightened" cloud providers, you'd end up with something that almost acted how `ssh-agent` acts when you run it: it spews the appropriate bash environment variables that would drive the pre-existing scripts. This is simply a bridge, and to

[2015-03-15 02:07] zmerlynn commented on #5480
That last one is completely unrelated to MIGs - the CreateBucket failed. Which is also a rare operation - is this the first time you've used this project for k8s? Otherwise the bucket would be there.

I'm not sure what's different about your environment, but Jenkins also churns through a cluster every half hour and rarely sees issues. It's a stat I want to get more precision on, but I don't think

[2015-03-15 02:27] satnam6502 commented on #5480
In that case I shall just close this issue since I can't see what the resolution might be.

[2015-03-15 02:27] #5480 closed

[2015-03-15 02:57] satnam6502 opened #5487 "kube-up for GCE repeatedly fails"
I've wasted an insane numer of hours over this. Note also that date gives an error for an illegal "-I" flag and there is an unbound variable error. This is running on my Macbook Pro.

[code]

[2015-03-15 04:39] roberthbailey commented on #5487
Not that it helps too much, but it looks to me like its failing when trying to get a list of the minion names as part of validate-cluster.sh: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/util.sh#L152

Can you run this command by hand?

[code]

[2015-03-15 04:46] derekwaynecarr commented on #5472
+1 to eliminate bash.
+1 to eliminate salt soon after.

Sent from my iPhone

[2015-03-15 05:20] bgrant0607 commented on #4259
@xudifsd Goroutine-per-pod was implemented #4895. Sorry. Yes, the project is moving quickly.

AFAIK, nobody is working on the per-node controller #1518, or job controller #1624, or converting replication controller to a plugin #3058.

Efficient label queries, reverse label lookups, field-based selection, and field filtering would all be great to have, also.

A Kubelet UI would be great to have --

[2015-03-15 05:24] satnam6502 commented on #4259
Are we doing a per-node controller? The thread seems cool on the idea
(Tim's comments). If I thought this is something we definitely wanted then
I would have jumped on it earlier.

S

On Sat, Mar 14, 2015 at 10:21 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-15 05:35] bgrant0607 commented on #4259
@satnam6502 Yes, we are. Tim developed a prototype #2491.

[2015-03-15 05:37] bgrant0607 commented on #1518
Prototype: #2491.

This is definitely something we want.

[2015-03-15 05:41] bgrant0607 commented on #4259
@rashmimargani Networking is a complex topic. Take a look at #3760 or #260. If you just want to get your feet wet, take a look at #15 (yes, 2 digits).

[2015-03-15 05:44] satnam6502 commented on #5487
I tried:
[code]
but perhaps I got something wrong (will look again when I have more time).

[2015-03-15 07:12] PhilAndrew commented on #5483
I think Kubenetics is great, just want to understand it more

[2015-03-15 09:04] erikthorselius commented on #5314
If someone have the same problem: i have not solved this issue. I suspect that is is some limit on our aws account. When I try deploy to eu-west-1 were I have a lot of other servers, vpc, security groups and so on. I get this behavior.

But if I deploy to eu-central-1 or us-west-1 everything works fine. So now my cluster lives in frankfurt instead of ireland. I hope my kubernetes like lederhosen :

[2015-03-15 09:04] #5314 closed

[2015-03-15 09:08] erikthorselius opened #5489 "Documentation adding user"
Hi, I can't find any documentation how I add more admin users so my team members can deploy pods.

[2015-03-15 12:10] xudifsd commented on #4817
@bgrant0607 Is it possible to cache selector result in etcd, and consumers watch its change. incrementally update cached selector is done by apiserver: every time api server add a object with labels it will traverse all selector, and update each one if needed?

[2015-03-15 12:34] abonas opened #5490 "REST api - "env" section seems to be structured differently than other key value pair attributes"
The "env" section in containers in pod has a different structure than other key/value structures as labels.
For example, labels is a hash with key:value pairs.
"labels": {
 "role": "pod",
 "mylabel": "mylabelvalue"
}

But "env" for some reason is an array of hashes where there are always 2 key names hardcoded:

"env": [
{
"name": "STORAGE",
"value": "local"
},
{
"name": "STORAGE_PATH",
"value": "/

[2015-03-15 12:35] abonas commented on #5490
cc @oschreib

[2015-03-15 16:41] abonas opened #5491 "REST api - some errors return as json and some as plain text"
This causes overhead on client side when parsing the errors since need to recheck content type for every error in order not to parse plain text as json (some libraries fail on that).
The errors message format should be standardized.

Examples:
404: Page Not Found
Content-Type: text/plain; charset=utf-8

405 Method Not Allowed
Content-Type: text/plain

409 Conflict
Content-Type: application/json

5

[2015-03-15 16:57] abonas commented on #5491
cc @simon3z

[2015-03-15 17:34] abonas commented on #4940
@bgrant0607 , @nikhiljindal  so from what I see, v1beta1 still works the old way where no need to provider a namespace during POST, is that correct?
if so, it means double work for clients who support both api versions, or is the v1beta1 is about to be deprecated soon?
And btw, is the v1beta3 will be also renamed for 1.0 to some other name?
thanks

[2015-03-15 18:46] zmerlynn commented on #5487
Is your gcloud up to date? I realize that I actually have a crontab to
update it.
On Mar 14, 2015 10:44 PM, "Satnam Singh" <notifications@github.com> wrote:

[2015-03-15 18:47] zmerlynn commented on #5487
(I'm not claiming it would matter, but I've had no reliability issues.)
On Mar 15, 2015 11:46 AM, "Zachary Loafman" <zml@google.com> wrote:

[2015-03-15 18:51] zmerlynn commented on #5434
I think this is fixed. Please reopen if there's still an issue.

[2015-03-15 18:51] #5434 closed

[2015-03-15 19:24] a-robinson commented on #5483
The diagram should be fixed now. Thanks for reporting the issue, @PhilAndrew!

[2015-03-15 19:24] #5483 closed

[2015-03-15 19:49] satnam6502 commented on #5487
Yes, it is. Let me come back to this on Monday. This is for Cinderella.

[2015-03-15 20:16] smarterclayton commented on #5475
Since all clients use latest.Version to talk to a server, most internal code can be changed centrally.

[2015-03-15 20:55] vipulnayyar commented on #1353
@bgrant0607 Just wanted to confirm whether this idea is really open or someone has started work on this. I went through @jlowdermilk's commit consisting of current rolling update code and future points in the cli roamap. Building an auto-scaler which is by default easy to use or configure and having an option for insertion of custom scripts is definitely exciting.

This would require using and exp

[2015-03-15 20:59] thockin commented on #4259
I was won over.

On Sat, Mar 14, 2015 at 10:36 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-15 21:09] thockin commented on #2316
I agree.  Just no time/people to implement it.  We should bounce this off
the rocket folks - they are trying to up-level everything, which makes
sense, but this is a peculiar factoring if one were designing from scratch.

On Fri, Mar 13, 2015 at 8:52 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-03-15 21:56] thockin commented on #5421
Kubelet running as non-root is a dead-end IMO.  There are too many things
we want to be able to do that just won't work.  Futzing with namespaces,
cgroups, network interfaces, sysctls, kernel knobs, tmpfs, etc.  It's a
giant waste of time.

I'm fine with saying "we build for Windows specifically to flush out
Linux-isms" as long as we don't pretend Windows or MacOS will actually
WORK.  Running unit

[2015-03-15 22:00] thockin commented on #4910
We have discussed this topic before (implicit resource requirements) but I
don't think I ever saw a final design - design doc?

On Fri, Mar 13, 2015 at 8:41 AM, gmarek <notifications@github.com> wrote:

[2015-03-15 22:33] TamerTas commented on #4470
I've cleaned the `factory.Validation` as well. Printer API still stands I might do that next.

[2015-03-15 23:16] jlowdermilk commented on #5472
+1 from me. The go -> bash translation sounds unpleasant but is probably the easiest way to bridge the existing mess with a better future.

[2015-03-15 23:17] TamerTas commented on #3058
Currently the implementation is on hold for 1.0 correct? Is there any work in progress about this feature at the moment?

In the spirit of Kubernetes being modular, multiple small `replicationController`s seems to be the most favored solution. For coordination, I think `ZeroMQ` or `nsq` would be a good or even better `etcd`. I'd be very interested to work on this.

[2015-03-16 00:00] TamerTas commented on #5275
There seems to be a lot of side effects/mutations  going on in `kubectl`. Providing a testable input and output would be a good starting point I think.

[2015-03-16 00:09] smarterclayton commented on #5421
The implication being that it's not worth it to have non-root integration fakes, for say, being able to test lots and lots of kubelets talking to the apiserver from a travis test?  I would think that's the best reason in the world to ensure the Kubelet remains stubbable.

[2015-03-16 01:25] jonlangemak commented on #4785
Im wondering if I just need to rebuild and see if this is still happening.  Like I said, this is my lab setup and it's been through quite a lot in the last month and a half.  I'll do that and see what comes of it.  Do you want to let me know when the PR you are submitting goes through and I can rebuild then?

Also - To clarify, my nodes were listed under the nodecontroller service, I failed to men

[2015-03-16 01:59] thockin commented on #5421
Look,I am big proponent of dependency injection, but the more levels you
have to inject through the higher the cost of keeping it working is.

Injecting a fake mounter at the very top means a lot of plumbing and a lot
of the top-level test understanding how the bowels of the app work.  For
every subsystem that does anything privileged, we pass some number of fakes
in from the very top of the app.

[2015-03-16 03:59] thockin commented on #5388
I think ceph is an important enough system that we should be willing to
support it.  Now, ideally we could support it without being linked in, and
when we get there we can consider that.  But if someone wrote a volume
driver for ceph, it should integrate with Mark's work (which is P0 for me
now that I am back :) very easily.

On Fri, Mar 13, 2015 at 10:58 AM, Tim Hockin <thockin@google.com> wrote:

[2015-03-16 04:08] smarterclayton opened #5496 "TestSyncPodsDeletesWithNoPodInfraContainer is flaky"
Seeing random failures.

[code]

[2015-03-16 05:04] a-robinson commented on #5489
@erictune @jlowdermilk  Is there a functioning concept of different user types yet or is the answer here just passing around kubeconfig files?

[2015-03-16 05:31] brendandburns commented on #5421
I (as a developer on OS X) would like integration tests to work as best as
possible.  We should chose the places to stub where there is minimal effort
for maximum coverage in developing stubs, even if that means that OS X
integration tests are not as complete as Linux integration tests.

Basically, I just need my development environment to "mostly work".  I'm
fine if we disable a few tests, or the

[2015-03-16 05:32] brendandburns commented on #5489
For now, the answer is to pass around kubeconfig files.  There are better
answers coming sometime, but afaik, not yet.

--brendan

On Sun, Mar 15, 2015 at 10:04 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-03-16 07:19] gmarek commented on #4910
OK, I'll try to write something today.

[2015-03-16 08:21] simon3z commented on #5486
@PavelPrischepa @a-robinson we are already tracking this at https://github.com/GoogleCloudPlatform/kubernetes/issues/5130

[2015-03-16 08:55] lhuard1A commented on #5435
I encountered the same issue and found that the POD was evicted `pod_eviction_timeout` seconds after the minion is considered not ready anymore.
The problem is that if the minion is totally unresponsive, its status is not updated.

Here is what I observe if I pause the VM hosting the minion 192.168.10.3 :
[code]
[code]

[2015-03-16 08:57] gmarek commented on #4731
I believe this was fixed by the PR #5094.

[2015-03-16 11:28] you-n-g commented on #5164
I'm a  prospective GSOC2015 participant. I've  finished some basic works such as learing go, reading the docs and so on.  I want to work on this issue to get started.
So I want to make sure that this issue is unassigned,  Is there anyone working on this issue?
Thanks!

[2015-03-16 11:39] tkulczynski commented on #5241
That was my intuition too, but there's GCECloud.makeTargetPool method that creates a pool per service and one of the arguments is AffinityType that comes from ServiceSpec.AffinityType. And it's not just an implementation issue: it comes from the fact that target pool holds both the information about where to send the traffic and what affinity to use. While the former is common for all the services

[2015-03-16 12:20] AAzza commented on #3511
I was looking in this one and need some advice to proceed. (disclaimer: I'm student who wants to apply for GSoC and want to become more familiar with the codebase by solving some issues. If it all looks pretty dump, don't be too stict :) )

It looks like a good task to do, but I am not sure, what to include in the struct.
The ParseDockerName signature looks like this:

    func ParseDockerName(nam

[2015-03-16 12:25] craigbox commented on #4805
I also have a report of this running on GKE, K8s version 0.11.0.

As a result of the rolling update of a RC running container v0.7 to run container v0.8, there are v0.7 containers left running:

[code]

Does not seem to be related to hostname:
[code]

Some log output from the kubelet.log around the RC time: https://gist.github.com/craigbox/c053fb664600a61720ee

[2015-03-16 13:23] piosz opened #5503 ""nil pointer dereference" error in scheduler while trying to schedule pod with cpu specified"
When I'm trying to run pod with cpu specified (redis-master from guestbook example) I can see:
[code]
And in scheduler logs:
[code]

The problem disappear when I remove line `"cpu": 100,` from pod specification.

[2015-03-16 13:35] gmarek opened #5505 "Proposal: Move nodecontroller to pkg/controller"
Current location, i.e. cloudprovider/controller does not seem very natural to me. Can we move it to 'controller' folder or is there a good reason for it to be in cloudprovider?

[2015-03-16 13:44] ddysher commented on #5435
@lhuard1A This is a similar, but different issue.  The unresponsive vm is due to the fact we switched node status update from controller to kubelet itself.

PR is here #5399; I think we need to get that in this week.

@bgrant0607 @dchen1107

[2015-03-16 14:07] you-n-g commented on #5275
Hi. @bgrant0607
I'm a prospective GSOC2015 participant.   kubernetes is the accepted GSOC2015 project that attracts me most . I'm getting familiar with it recently and plan to work on this idea.
I want to get started by working on a issue.  But it is a little hard for me to evaluate the workload of the issues. So @bgrant0607 , could you please recommend me a issue that is relatively easier for me

[2015-03-16 14:16] wojtek-t commented on #3372
I think that #5392 is a prerequisite for it.

[2015-03-16 14:18] wojtek-t commented on #2448
Does it make sense to have an issue with milestone 1.0 and priority P3?

[2015-03-16 14:28] gmarek opened #5507 "Proposal: IP addresses as a opaque counted resource"
## IP addresses as a opaque counted resource

Currently Kubernetes scheduler is not aware of number of IP addresses available on a single node. We do have some assumptions about network masks, from which a number of available IPs can be inferred, but this is not general or configurable in any way. We want to create a simple counted resource published by kubelet and visible for scheduler, which wil

[2015-03-16 14:29] gmarek commented on #4910
I wrote a short proposal #5507. I'm not sure how such document should look like though, so please let me know if there's some established norm.

[2015-03-16 14:43] #4357 closed

[2015-03-16 14:48] fgrzadkowski commented on #3028
Is there consensus in this issue? Do we want to check hash of binary to see if we need to load new version? Does docker allow that?

[2015-03-16 15:04] fgrzadkowski commented on #2934
@bgrant0607 Brian - you added 1.0 milestone to this issue, but I'm not sure what is the action item here. Can you please explain what should be done?

[2015-03-16 15:08] timothysc commented on #5465
IMHO we should have 2 tao tse docs:

1. tao tse e2e tests
2. tao tse examples

[2015-03-16 15:09] siddhsuper opened #5509 "Service Creation request is getting failed every second time!!"
Hi,

I am trying to create a service through api, its getting failed every second time. It's not stable and if I am trying it again its getting passed.

And another thing is in the response body "status" will not come if it is successful.

Failure Response Body:
 {
    "kind": "Status",
    "creationTimestamp": null,
    "apiVersion": "v1beta1",
    "status": "Failure",
    "message": "service \"m

[2015-03-16 15:16] abonas commented on #2174
@bgrant0607  this is also relevant to error codes:
https://github.com/GoogleCloudPlatform/kubernetes/issues/5491

[2015-03-16 15:24] #5431 closed

[2015-03-16 15:27] vmarmol commented on #4731
Closing as per @gmarek's PR. Thanks!

[2015-03-16 15:27] #4731 closed

[2015-03-16 15:38] erictune commented on #5164
Look at what `etcdctl` does.  (See https://github.com/coreos/etcd/tree/master/etcdctl)
It has a `--watch` options for humans and an `exec-watch` option for scripts, which calls a script with env vars set.

The one thing that I think could be improved is that the etcdctl can't do an atomic replacement of all state, so it can't handle re-lists atomically.

[2015-03-16 15:40] erictune commented on #5164
@bgrant0607  to reply on GSOC inquiry.

[2015-03-16 15:41] smarterclayton commented on #5164
No one is working on it at this time.

----- Original Message -----

[2015-03-16 15:53] AALEKH commented on #2890
Hello , I am willing to take ownership of this project as a part of GSOC 2015 can someone please guide me with some starter doc about the project ?

[2015-03-16 16:10] timothysc commented on #3139
FYI - Incorporating generator in examples here: https://github.com/GoogleCloudPlatform/kubernetes/pull/5447

[2015-03-16 16:20] jlowdermilk commented on #5489
Yep. AFAIK, the apiserver doesn't yet support multiple user credentials, so if you want to grant others access to a cluster, they'll need to share credentials (stored in kubeconfig file).

[2015-03-16 16:30] jlowdermilk commented on #5505
It makes sense to me that it would be cloudprovider, as creating/healthchecking/etc of nodes requires provider specific logic. `pkg/controller` houses replication controller logic, which is unrelated. cc @thockin, @davidopp

[2015-03-16 16:34] jlowdermilk commented on #5507
@davidopp

[2015-03-16 16:35] thockin commented on #5505
I have not paid attention to what all code is in there, but my instinctive
split is that pkg/controller (or something like it) holds the main body of
the logic, and calls into cloudprovider interfaces.  Generic code in a
generic place, specific code in specific places.

On Mon, Mar 16, 2015 at 9:31 AM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-03-16 16:36] a-robinson commented on #5486
Thanks @simon3z, I'll close this in favor of #5130.

[2015-03-16 16:36] #5486 closed

[2015-03-16 16:38] jlowdermilk commented on #5509
Hi @siddhsuper. I take it you are hitting the apiserver directly via js or something. Can you post the request body and the url you are hitting?

[2015-03-16 16:42] piosz commented on #5503
Unassigning myself since I haven't done it today. Maybe someone from US timezone want to take a look?

[2015-03-16 16:45] a-robinson commented on #5489
Ok, and we do have a doc on [kubeconfig files](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubeconfig-file.md), but unless I'm mistaken, it appears to be more targeted at developers rather than users and doesn't talk about how to find the file to copy it between machines, or where to put it when you do so.

And how is a new user supposed to find that documentation if they do

[2015-03-16 16:50] jlowdermilk commented on #5489
I'm happy to add a short doc describing how to share/copy kubeconfig files for cluster access. Does `docs/sharing-clusters.md` sound sufficiently discoverable?

[2015-03-16 17:03] erictune commented on #5472
I'd be inclined to take a bottom-up approach instead.  That is, look at each shell function that is called by `kube-up`, and see if it makes sense to replace it with a small go program.

This lets you work in small increments, rather than a big-bang PR that forces ever other cloud-provider to do a big rewrite, and would allow use to work on it in parallel -- maybe as part of a fixit day.

[2015-03-16 17:04] #5358 closed

[2015-03-16 17:05] dchen1107 commented on #4805
We recently introduced a naming schema change in Kubelet which introduces the following workflow:

1) When node first bootstrap, it has containers running with old format
2) kubelet is upgrade, and kill old containers
3) GC periodically queries the dead containers with k8s prefix, and found those containers with old format, and throw log message.

I think #5395 introduced later should fix above is

[2015-03-16 17:05] #4805 closed

[2015-03-16 17:08] dchen1107 commented on #5496
Looks like lately refactory makes docker API requests are not deterministic. Will look into it.

[2015-03-16 17:11] erictune commented on #5472
@dchen1107

[2015-03-16 17:15] zmerlynn commented on #5472
I might call that "middle up", but you have a point. (The layering distinction depends on whether you cut the consumer at the node/salt/etc or not.)

My initial proposal was the way it was to start out with a simplistic design. It wouldn't be hard to introduce a second interface that others could glom onto that was an intermediate building block interface, though.

[2015-03-16 17:20] jlowdermilk commented on #4566
#5106 standardized the pod start timeout to 5 minutes, which mostly solves timeouts from slow image pulls. I'm going to propose we close this and push on making the e2e tests use gcr.io (#5007) as a better long-term solution.

[2015-03-16 17:21] #5336 closed

[2015-03-16 17:23] #3607 closed

[2015-03-16 17:24] #4566 closed

[2015-03-16 17:30] jlowdermilk commented on #5007
@ixdy, can you look into this?

[2015-03-16 17:33] erikthorselius commented on #5489
Thanks for all the answers. A doc in `docs/sharing-cluster.md` is fine for me.

[2015-03-16 17:33] erictune opened #5511 "Rolling node update"
Capturing conversation with @bgrant0607 just now.

New feature for kubectl:
when you run `kubectl rollingnodeupdate --exec myprogram --success_label=k3=v3 --fail_label=k4-v4 --selector k1=v1,k2=v2`, then it would do this:

[code]

This cleanly separates the problem of taking a node in and out (which kubectl should know about) from what you might do to a node once it is removed.  Things you might d

[2015-03-16 17:34] erictune commented on #5511
@bgrant0607

[2015-03-16 17:39] erictune commented on #5472
I think that there are a lot of individual functions in `kube-up` that don't belong in `kube-up` or a `kubedeploy`.  They belong in `kubectl`, `addons`, or `pkg/cloudprovider`.  I figured move as many as possible to those places before writing `kubedeploy`.   I'll try to file specific issues for the things I have in mind.

[2015-03-16 17:42] dchen1107 commented on #5505
cc/ @ddysher @bgrant0607 for more background on the current location.

[2015-03-16 17:49] fabioy opened #5513 "kubectl should return non-zero exit code for invalid parameters"
Kubectl returns an exit status of 0 (zero) on parameters validation error. For example:

ERROR: F0316 10:45:59.801908   12777 expose.go:98] Service "service-name-is-too-long-and-will-fail" is invalid: metadata.name: invalid value 'service-name-is-too-long-and-will-fail': must have at most 24 characters and match regex [a-z]([-a-z0-9]*[a-z0-9])?

0

Any non-successful execution of the command shoul

[2015-03-16 17:52] zmerlynn commented on #5472
I think a lot of these fall out as you end up writing the libraries for enlightened providers, but the key is also that they *don't exist today*. I think it's actually somewhat difficult to see some of them apriori, but I'd love your input.

[2015-03-16 17:53] zmerlynn commented on #5472
(In particular, I'm worried that if we try to design it too much ahead of time, we'll end up with a structure we'll actually regret.)

[2015-03-16 18:02] jlowdermilk commented on #5007
iiuc, this entails uploading the images we use for e2e into gcr.io on the kubernetes-jenkins project, and then modifying the image references for all e2e pod specs. [GCR docs](https://cloud.google.com/tools/container-registry/#using_the_container_registry_with_google_cloud_platform) have more detail.

[2015-03-16 18:02] bgrant0607 commented on #5505
I have no idea why it is where it is. I am in favor of moving it. It contains generic health-checking logic.

See also #4851.

[2015-03-16 18:22] mbforbes opened #5514 "`hack/build-go.sh` broken for Mac"
### Cleaning (ok)
[code]

### Building (not ok)
[code]

The error is `go install runtime: mkdir /usr/local/go/pkg/darwin_amd64_cgo/: permission denied`; I haven't mucked with my `/usr/local/go/` files, so I think this isn't something I did? Do I just have to nuke something and start over?

[2015-03-16 18:26] fabioy commented on #5513
Forgot the version strings:

Client Version: version.Info{Major:"0", Minor:"12", GitVersion:"v0.12.0", GitCommit:"ecca42643b91a7117de8cd385b64e6bafecefd65", GitTreeState:"clean"}
Server Version: version.Info{Major:"0", Minor:"11+", GitVersion:"v0.11.0-dirty", GitCommit:"18ddff0eb6bc069b41832ce47d19b5b89cfb26e3", GitTreeState:"dirty"}

[2015-03-16 18:28] derekwaynecarr commented on #5505
If we make this change, then the open question I have is if all of our controller code should go in pkg/controller

[2015-03-16 18:29] brendandburns commented on #5514
I ran:

sudo chmod -R a+rw /usr/local/go/pkg/darwin_amd64_cgo

and it fixed things...

On Mon, Mar 16, 2015 at 11:23 AM, Maxwell Forbes <notifications@github.com>
wrote:

[2015-03-16 18:31] erictune commented on #5328
This is a one line change if you use
http://godoc.org/github.com/golang/glog#InfoDepth

On Fri, Mar 13, 2015 at 6:02 PM, Quinton Hoole <notifications@github.com>
wrote:

[2015-03-16 18:34] bgrant0607 commented on #5505
Putting everything in pkg/controller is not the right solution, IMO. Let's discuss on #4851.

[2015-03-16 18:34] #5505 closed

[2015-03-16 18:40] zmerlynn commented on #5513
Run this raw, without gcloud?

[2015-03-16 18:46] jlowdermilk commented on #5513
This is a gcloud bug. The same command returns an error if you run standalone `kubectl`. I'll open a bug internally.

[2015-03-16 18:46] #5513 closed

[2015-03-16 18:48] piosz commented on #5374
Seems to be fixed.

[2015-03-16 18:48] #5374 closed

[2015-03-16 19:14] satnam6502 commented on #5487
I am going to delete every cluster I have and then rm -rf my .kube directory and hope that a fresh start looks more kindly down on me. @jlowdermilk

[2015-03-16 19:17] timothysc commented on #3954
If I've grok'd this correctly, it appears that the reflector seems to act as the rate limiter around watches, and hence scheduling.  I'm not entirely certain why though.

[2015-03-16 19:25] zmerlynn commented on #4501
Closed via #5135

[2015-03-16 19:25] #4501 closed

[2015-03-16 19:27] zmerlynn commented on #4566
Closed via #5135

[2015-03-16 19:30] jlowdermilk commented on #5514
I just hit this on linux as well. The above solved it for me, but I had to create the directory first.

[2015-03-16 19:49] #5045 closed

[2015-03-16 19:50] jayunit100 commented on #3954
possibly related (if not, please Im happy to mv this comment elswhere) FYI, we've noted plateaus in scheduling related to this.  Spinning up  a cluster of 40 containers, I've seen
- first 40 seconds, only 3 containers
- next 60 seconds or so, another 4 or 5 containers
This notably happens when you have port forwarding configured on a  pod basis (i.e. like in `guestbook-go`) instead of using the pu

[2015-03-16 20:03] zmerlynn opened #5517 "Cadvisor test failures"
We've seen this a few times on GCE now, and I saw it flake on `gke-ci` now as well (cc @vish @ixdy):

[code]

[2015-03-16 20:08] jlowdermilk commented on #4389
Closed by #5439

[2015-03-16 20:08] #4389 closed

[2015-03-16 20:10] vishh commented on #5517
cc @vmarmol. Victor integrated cadvisor into the kubelet. I wonder if a fake version of cadvisor gets integrated into kubelet in the case of `gke-ci` builds.

[2015-03-16 20:12] preillyme commented on #5514
I just saw this as well with testing. It appears to be fixed with @brendanburns workaround.

I was seeing similar output to: http://paste.k6c.io/view/d5265a8d as reported by @satnam6502

[2015-03-16 20:28] bgrant0607 commented on #5491
Duplicate of #4347.

[2015-03-16 20:28] #5491 closed

[2015-03-16 20:29] bgrant0607 commented on #4347
Copying text from #5491:

Some errors return as json and some as plain text.

This causes overhead on client side when parsing the errors since need to recheck content type for every error in order not to parse plain text as json (some libraries fail on that).
The errors message format should be standardized.

Examples:
[code]

The text/plain errors are from go-restful.

cc @abonas @simon3z

[2015-03-16 20:35] bgrant0607 commented on #5490
Env is a list.

Long-debated topic.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#lists-of-named-subobjects-preferred-over-maps
#2004
#4889

@ghodss Any preference for list vs. map with respect to Env specifically?

[2015-03-16 20:40] zmerlynn commented on #5517
I noticed this first on GCE. (FWIW, GKE uses the same binaries as GCE.)

[2015-03-16 20:46] ixdy commented on #5517
Jenkins shows the following four changes for the build where this test started consistently failing:

Commit d5e0054eb039e90defc55464a2d938bc38fddb0d by mattmoor
Enable usage of a "json key" for authenticating with gcr.io.

Commit 992d78a32e41348c9c599739a5257afa4a6682d9 by dbsmith
Add a system modeler to scheduler

Commit 34e9c82c703c4655c01eb0b5641c9539dd031fb4 by dawnchen
Convert RestartPolicy

[2015-03-16 20:52] satnam6502 commented on #5514
No so on my machine since the error is:
[code]
but
[code]

[2015-03-16 20:54] satnam6502 commented on #5514
After reading @jlowdermilk 's comment above I am now golden.
Will I need to do this every time I create a repo?

[2015-03-16 20:57] jlowdermilk commented on #5514
@satnam6502 , nope. should just need to do that once on your workstation/laptop.

[2015-03-16 21:05] satnam6502 commented on #5451
I deleted all of my clusters.
I deleted my ~/.kube directory.
I tried to make a fresh new e2e cluster.
Still to no avail.

[code]