[2017-01-04 01:52] #39340 closed

[2017-01-04 01:57] calebamiles commented on #39356
@vendrov could you please update your issue with the sections specified in the template

[code]

If this feature request is scoped only to AWS please signal so that the feature request can be routed to the appropriate team for discussion and prioritization. Thanks!

[2017-01-04 02:04] euank commented on #39395
Previous comment is ref: https://github.com/kubernetes/kubernetes/commit/ecd23a02176c5f1aa5416316f69c5601333ea421 from #39092

I'll copy that to container-linux as well.

[2017-01-04 02:09] calebamiles commented on #39326
Hello @leshik! You may have more luck getting attention on your feature request to [the Kubernetes Dev](https://groups.google.com/forum/#!forum/kubernetes-dev) mailing list. Perhaps @saad-ali could be more helpful in routing your request but it sounds like you would like for a digital ocean [storage provisioner](http://blog.kubernetes.io/2016/10/dynamic-provisioning-and-storage-in-kubernetes.html)

[2017-01-04 02:15] thockin commented on #28525
On Thu, Dec 29, 2016 at 10:28 AM, Justin Santa Barbara
<notifications@github.com> wrote:

Man, we need some centralized control of annotations with
*.kubernetes.io prefixes, or it's gonna explode one day.

I think this is a really interesting model, and is probably the right
way to go rather than building it in.

[2017-01-04 02:16] calebamiles commented on #39290
Could someone from @kubernetes/sig-cli-misc please help with triage. Thanks!

[2017-01-04 02:16] thockin commented on #28525
Maybe we can get mate and kops to join forces and make a single thing that
is useful on its own?

On Thu, Dec 29, 2016 at 5:39 PM, Paul Tiplady <notifications@github.com>
wrote:

[2017-01-04 02:18] calebamiles commented on #39289
Could someone from @kubernetes/sig-node-misc or @kubernetes/sig-network-misc please help triage. Thanks!

[2017-01-04 02:20] calebamiles commented on #39271
Could someone from @kubernetes/sig-federation-misc please help with triage? Thanks!

[2017-01-04 02:22] calebamiles commented on #39262
@apachemycat has your issue been resolved? Can this issue be closed?

[2017-01-04 02:52] resouer commented on #29725
But I saw a TODO in `defaultPodLimitsForDownwardApi` saying:

// to use those limits instead of node allocatable.

Is it implying that we should not even use allocatable in this method?

[2017-01-04 02:55] resouer commented on #27204
@davidopp > Add top level scheduler check to ensure that pod can be scheduled on the node by estimating left over resources on the node.

How can we achieve this? I mean, it seems scheduler has no knowledge of pod level cgroup values, unless we modify pod spec to support it.

[2017-01-04 03:07] AdoHe commented on #39290
@calebamiles There is already a PR on the way.

[2017-01-04 03:10] zhanghao94 commented on #39357
Thank you for you reply, our spark is outside in kubernetes network, we built docker image with jupyter kernel, and want to manage it in kubernetes. my understanding is when jupyter kernel in kubenetes want to connect to spark outside, it will allocate some ports dynamically, and communicate with spark bi-direction. so the question might be how to allow dynamic port allocation or set kubenetes exa

[2017-01-04 03:14] hongchaodeng commented on #39189
@philips @calebamiles @smarterclayton
Can we reopen this? Still doesn't work.

yaml:
[code]

On 1.5:
[code]

Successful on 1.4

[2017-01-04 03:16] timothysc commented on #39310
@rrati I'm not all caught up, but did your inter-pod annotations->fields land yet?

[2017-01-04 03:20] #37956 closed

[2017-01-04 03:20] krmayankk commented on #23597
Fine with default to be 2, which means current plus 2 revisions

[2017-01-04 03:20] zhuqinghua commented on #26245
@bowei
hi bowei：

**Environment:**
centos7  on openstack virtual machines, master and nodes with static ip's

**images：**

- gcr.io/google_containers/kubedns-amd64:1.9

- gcr.io/google_containers/kube-dnsmasq-amd64:1.4

- gcr.io/google_containers/dnsmasq-metrics-amd64:1.0

- gcr.io/google_containers/exechealthz-amd64:v1.2.0

- gcr.io/google_containers/etcd-amd64:3.0.14-kubeadm

- gcr.io/google_con

[2017-01-04 03:21] xiang90 commented on #39189
@smarterclayton So it seems that it also accidentally accepts empty apiVersion in 1.4?

[2017-01-04 03:22] hongchaodeng commented on #39189
@xiang90
There is some kind of defaulting mechanism, I believe. For example, when you create a pod, you don't specify "apiVersion".

[2017-01-04 03:26] resouer commented on #30702
Just a note, for hypervisor based runtimes, it prefers to stick to one runtime cgroups (frakti use cgroupfs for example). So it will be nice if kubelet has a default cgroup type (perfect if it's cgroupfs, of course ).

[2017-01-04 03:29] qianzhangxa opened #39403 "Too many logs generated by kube-dns"
Hi,

I have deployed kube-dns in my K8s cluster, and and I found it is generating a lot of logs, like this:
[code]
Actually I do not need such logs, so is there a way to disable it and only generate warning/error logs?

[2017-01-04 03:34] #36059 closed

[2017-01-04 03:43] smarterclayton commented on #39189
Downward api should be defaulted during a defaulting pass.  There's an
existing bug on that.  For 1.5 you have to fill in the defaults yourself

On Jan 3, 2017, at 10:22 PM, Hongchao Deng <notifications@github.com> wrote:

@xiang90 <https://github.com/xiang90>
There is some kind of defaulting mechanism, I believe. For example, when
you create a pod, you don't specify "apiVersion".

—
You are recei

[2017-01-04 03:50] hongchaodeng commented on #39189
@smarterclayton Thanks for answering. Is there any issue created against it? We can help fix the issue if needed.

[2017-01-04 04:08] smarterclayton commented on #39189
Was reported in https://github.com/kubernetes/kubernetes/issues/38542 and
fixed in the linked PRs.

On Tue, Jan 3, 2017 at 10:50 PM, Hongchao Deng <notifications@github.com>
wrote:

[2017-01-04 04:13] hongchaodeng commented on #39189
@smarterclayton
I actually tried the latest master today and no luck. The issue only tested imagePullPolicy. That might be not enough.

[2017-01-04 04:17] smarterclayton commented on #39189
It's possible that something else is interfering with defaulting.  Please report that on the other issue

[2017-01-04 04:24] hongchaodeng commented on #39189
You mean create an new issue?

[2017-01-04 04:27] #39386 closed

[2017-01-04 04:32] liggitt commented on #39259
I think this can be closed now that the e2e RBAC setup is best effort and failures there don't affect the test if another authorizer is in use

[2017-01-04 04:38] roberthbailey commented on #39385
@maisem @fabioy

[2017-01-04 04:41] liggitt commented on #36667
would this mean giving a process in the process in the pod namespace access to a TLS serving cert/key that was valid for the node's hostname as seen by the API server?

[2017-01-04 05:25] cjcullen commented on #39259
I agree. My original thought was that we'd make the RBAC test stuff only happen on RBAC-enabled setups. But, since we're going to be pushing setups towards using RBAC, we might as well have those pieces stick around in the common code (as best-effort).

[2017-01-04 05:25] #39259 closed

[2017-01-04 05:29] k8s-merge-robot opened #39406 "ci-kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/274/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] Pods should return to running and ready state after network partition is healed All pods on the unreachable node should be marked a

[2017-01-04 05:54] matchstick commented on #33447
@jingxu97 @saad-ali It looks like this slipped through the cracks over the holidays. Can  you PTAL?

[2017-01-04 05:54] wzdnzd commented on #26245
i have the same issue
this is some error infomation

[root@k8s-master kubernetes]# kubectl logs --namespace=kube-system $(kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name) -c healthz
2017/01/04 03:59:19 Healthz probe on /healthz-dnsmasq error: Result of last exec: nslookup: can't resolve 'kubernetes.default.svc.cluster.local': Name does not resolve
, at 2017-01-04 03:59:18.8092

[2017-01-04 05:59] wzdnzd commented on #26245
i have the same issue.
**log:**Healthz probe on /healthz-dnsmasq error: Result of last exec: nslookup: can't resolve 'kubernetes.default.svc.cluster.local': Name does not resolve

[2017-01-04 06:00] wzdnzd commented on #26245
i have the same issue.
log: Healthz probe on /healthz-dnsmasq error: Result of last exec: nslookup: can't resolve 'kubernetes.default.svc.cluster.local': Name does not resolve

[2017-01-04 06:14] davidopp commented on #39102
@vishh pointed out that the first part of this (per-pod resource usage) is wrong; we actually need per-container. This is because request and limit are set per-container. So vertical autoscaling needs to know the per-container usage, since the knob it tunes is per-container. We could say vertical autoscaling (and humans who are trying to figure out how to set request/limit for their containers) ne

[2017-01-04 06:16] saad-ali commented on #33447
[code]

@mikudeko This error indicates that the mount command failed to resolve the hostname. Can you verify if the node is able to resolve `instance.c.project.internal` otherwise?

@jingxu97 This maybe because the containerized mount might not be using the same host file?

[2017-01-04 06:25] xingzhou commented on #29403
Have checked the code, here are my findings:
1. At present, the code will no longer print `...skipped` message. Instead, it's printing `error: deployments "nginx" is invalid` right now, but I do think we need to provide some error details. Let me provide a PR for this then.

2. Some of the error messages are not printed. E.g. if we change the memory from `100Mi` to `100mi`, there is an error when

[2017-01-04 06:30] zhuqinghua commented on #39397
#26245

[2017-01-04 06:37] liggitt commented on #39267
@zmerlynn what auth is configured in GCE?

[2017-01-04 06:45] davidopp commented on #39310
There's nothing about pod affinity that should make it behave any different with StatefulSet than with ReplicaSet or anything else. I'm copying the problem @a-robinson referenced above, so that we can investigate what is going wrong.

@a-robinson can you put here your StatefulSet YAML so we can try to repro? (You already changed it to preferred in the referenced PR, so I want to make sure we have

[2017-01-04 06:45] qianzhangxa commented on #39403
In the help message of kube-dns:
[code]
I see there are two options `--stderrthreshold` and `--v=0`, I thought they are related to the log level of kube-dns, but even I changed them to `--stderrthreshold=4` and `--v=4`, I can still see those logs.

[2017-01-04 06:47] Yancey1989 commented on #30243
Hi @diegodelemos @soltysh,  how about this issue? I also have many demands about this.

[2017-01-04 06:58] xiang90 commented on #39102
@DirectXMan12

Do you have a design doc or a short introduction of this project?

[2017-01-04 07:15] zetaab commented on #34532
your loadbalancer in front of kubernetes service should apply real ip to original request http header. Lets say that it is added to header called X-Forwarded-For header. Then in pods you will see real ip in header called that. This means that you need to run loadbalancer in http mode (not TCP).

[2017-01-04 07:27] bowei commented on #26245
DNS queries from the kube-dns pod will not hit the kube-dns service. Also, the domain name you gave to nslookup is wrong: `kubers.default.svc.cluster.local`, it should be `kubernetes.default.sv.cluster.local.`. Can you try doing the query from another pod?

Also, @zhuqinghua is the issue you referenced related to what your cluster, e.g. you are using flannel? How are the issues related?

[2017-01-04 07:29] davidopp commented on #27204
@resouer I'm actually not sure what this work item means. I originally thought this proposal didn't require any scheduler changes, but now I'm not sure. Maybe @dubstack or @vishh can explain that comment?

From a scheduling perspective, all we care about is that the amount of resources in the "request" translates into resources that are guaranteed to the container/pod on the node. Best-effort pods

[2017-01-04 07:30] bowei commented on #39397
It looks like the IP range used in your flannel configuration intersects with the IP range for the DNS service. I'm guessing that this causes issues with kube-dns. Can you change the subnet used in flannel (10.244.x.x) to something else?

[2017-01-04 07:51] resouer commented on #39310
@davidopp I am sure this is caused by @a-robinson happened to add anti-affinity annotation to wrong place :) See: https://github.com/a-robinson/kubernetes/blob/ff2ddbf208ffa6d7e3b69cf43af418bcd2af980c/examples/cockroachdb/cockroachdb-statefulset.yaml#L80-L96

The right place for this annotation is in pod spec, not metadata of `StatefulSet`, e.g.:
[code]

[2017-01-04 07:51] tcf909 commented on #28226
What I found worked pretty well for me is appending the following to the Launch Configuration User Data:

`apt-get update

apt-get install jq

AWS_AVAIL_ZONE=`curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone`

AWS_REGION="`echo \"$AWS_AVAIL_ZONE\" | sed -e 's:\([0-9][0-9]*\)[a-z]*\$:\\1:'`"

EFS_FS=`aws efs describe-file-systems --region $AWS_REGION | jq -r '.FileSystems

[2017-01-04 07:54] Yancey1989 opened #39411 "How about supports ETL job scheduler?"
We have many ETL jobs and preparing transfer these jobs running on k8s. Here is my demands and ideas:

1. Jobs on k8s should have dependency relation.
2. Support CRON syntax, [CronJob](http://kubernetes.io/docs/user-guide/cron-jobs/) can do this.
3. Support configuration a maximum number of failures backoff policy.
    For now, `RestartPolicy=Never` will start a new pod, #30243 also discusses this

[2017-01-04 07:59] davidopp commented on #39310
But the current version in #39103 seems to have it as metadata in the template.

[2017-01-04 08:00] resouer commented on #39310
Oh yes, I mis-read the PR, have updated the original comment. >_<

[2017-01-04 08:04] zetaab commented on #39403
v=4 means that it is writing almost everything, our production setting is 1

[2017-01-04 08:05] zhuqinghua commented on #26245
Sorry for my typo error, now
[code]

[2017-01-04 08:18] bowei commented on #26245
@zhuqinghua From your query, it looks like the DNS is working.

[2017-01-04 08:42] YuPengZTE opened #39412 "go vet check failed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

go vet check
src\githu

[2017-01-04 08:44] nebril commented on #38220
Seems like this issue is resolved. Please consider closing.

[2017-01-04 08:59] yejw5 opened #39414 "How to redirect log output to log_dir when using systemctl to start kube-apiserver?"
When I start the kube-apiserver in command line by `/usr/bin/kube-apiserver --logtostderr=false --log_dir=/home/kube_apiserver/ --v=4 --etcd-servers=http://127.0.0.1:2379 --insecure-bind-address=0.0.0.0 --port=8080 --allow-privileged=true --service-cluster-ip-range=10.254.0.0/16 --admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ResourceQuota`, logs data output

[2017-01-04 09:25] timchenxiaoyu commented on #39403
dont set v too big，especially in production env

[2017-01-04 09:45] nebril commented on #37706
No activity on this one, will try to fix it.

[2017-01-04 09:50] mikudeko commented on #33447
@saad-ali as written above, resolving the fileservers hostname manually on the nodes works fine.

[2017-01-04 09:54] luxas commented on #10834
Is this something we can prioritize?
The actual implementation, what would it look like?
A flag to the kubelet, _sigh_, that let's the user choose shell intepreter on host (default /bin/sh, since it exists nearly everywhere) and when the user is running `kubectl sh` it would just run nsenter, but with sh from the host, right?

cc @timstclair

Anyone up for this?

[2017-01-04 10:21] soltysh commented on #39411
There was an idea for that, but was rejected eventually from core. You'll have to use some 3-rd party solution to provide such functionality or write your own controller on top of TPR. You can sync with @sdminonne, he's interested in this as well

Already available.

Yup, #30243 is the way to solve this.

Not sure what you mean with this, so I'm leaving this open until that gets cleared out.

[2017-01-04 10:22] soltysh commented on #30243
@Yancey1989 you're welcome to submit a patch as well 😃

[2017-01-04 10:23] dragoscirjan commented on #39282
Made the suggested changes, which eventually lead to the following config for the LXC container:

[code]
      lxc-start 20170104104323.930 DEBUG    lxc_cgfsng - cgroups/cgfsng.c:cgfsng_setup_limits:1958 - cgroup 'devices.allow' set to 'c 5:2 rwm'
      lxc-start 20170104104323.930 DEBUG    lxc_cgfsng - cgroups/cgfsng.c:cgfsng_setup_limits:1958 - cgroup 'devices.allow' set to 'c 136:* rwm'
      l

[2017-01-04 10:43] hectorj2f commented on #37278
@george-angel This solution isn't a workaround. I am not gonna delete the `thirpartyresource` every time I want to delete a namespace.

[2017-01-04 10:46] zhouhaibing089 commented on #37278
There is no true workaround, unless changing the code, compile, and
deploy...

On Wed, Jan 4, 2017 at 6:43 PM, Hector Fernandez <notifications@github.com>
wrote:

[2017-01-04 11:16] #37957 closed

[2017-01-04 11:30] sheerun commented on #35180
@DonMartin76 From my experience running a StateFul set makes restart faster if it is places on the same node. If node is drained and pod is moved to other node, you need to wait 6 minutes for vhd to unmount. This is unfortunate as I'd expect kubernetes would unmount everything instantly when node is drained.

[2017-01-04 11:42] bprashanth commented on #39363
See the other petset examples: https://github.com/kubernetes/charts/blob/master/incubator/zookeeper/templates/zookeeper-petset.yaml#L12 and https://github.com/kubernetes/kubernetes/issues/25283, https://github.com/kubernetes/kubernetes/pull/37093

[2017-01-04 11:56] george-angel commented on #37278
@hectorj2f Its not a silver bullet by it definitely fixed the problem I was having. Use at your own discretion of course.

[2017-01-04 12:27] ok-he commented on #39397
my image is wrong, I'm so fool

my image's id is different from the right id, so I pull the image again and the problem solved.

thanks

[2017-01-04 12:27] #39397 closed

[2017-01-04 12:30] qianzhangxa commented on #39403
OK, now I have changed to start kube-dns with the options `--domain=cluster.local. --dns-port=10053 --stderrthreshold=1 --v=1`, but I can still see a lot of logs like this:
[code]
Is there a way to not show such logs?

[2017-01-04 12:37] kargakis commented on #39337
@davidopp a library for building controllers would certainly be a nice thing, we have discussed it already with @mfojtik and we will most probably end up doing it for the Deployment controller, I am just not sure when.

Deployment is the only controller that has a strategy *currently*. In order to implement upgrades for DaemonSets and StatefulSets, we will end up adding a strategy field in those c

[2017-01-04 12:48] DonMartin76 commented on #35180
I ended up running an NFS server besides the k8s cluster. That works fine so far.

[2017-01-04 12:53] kargakis commented on #23380
Annotations can be arbitrarily large and the output of `describe` is starting to get bloated for various resources. Showing *just* the annotations is going to be a thing with `kubectl view annotations`, isn't that enough?

[2017-01-04 13:25] JorritSalverda opened #39420 "GKE network load balancer doesn't get deleted on service deletion"
**FEATURE REQUEST**

When deleting a service of type LoadBalancer I would expect the GCE network load balancer to get deleted as well.

**Kubernetes version**

[code]

**Environment**:
- **GKE 1.4.7**:
- **gci image**

**What happened**:
Deleting a service of type LoadBalancer leaves the network load balancer in place leading to unnecessary costs.

**What you expected to happen**:
That the network

[2017-01-04 13:25] sdminonne commented on #39411
@Yancey1989 if you have [this kind of job](http://www.webopedia.com/TERM/E/ETL.html) (please confirm) and you want to state the dependency in your manifest files you may need a custom controller with built on top of [Third Party Resources (TPR)](http://kubernetes.io/docs/user-guide/thirdpartyresources/). My company has some interested in this kind of tool and we're trying to build [one](https://gi

[2017-01-04 13:27] JorritSalverda opened #39421 "GKE network load balancers don't get deleted on cluster deletion"
**FEATURE REQUEST**

When deleting a GKE cluster the GCE network load balancers created for any of the services with type LoadBalancer to get deleted as well.

**Kubernetes version**

[code]

**Environment**:
- **GKE 1.4.7**:
- **gci image**

**What happened**:
Deleting a GKE cluster with services of type LoadBalancer leaves the network load balancers in place leading to unnecessary costs.

**What

[2017-01-04 13:32] JorritSalverda opened #39423 "GKE network load balancer target pools don't get updated for changes in node pools"
**BUG REPORT**

When adding new node pools or scaling a node pool not all of the network load balancers pointing to services of type LoadBalancer get their target pools updated. Over time this leads to target pools pointing to non-existing nodes.

**Kubernetes version**

[code]

**Environment**:
- **GKE 1.4.7**:
- **gci image**

**What happened**:
When adding a new node pool and remove and old one

[2017-01-04 13:49] je-al opened #39424 "kubectl create service missing a selector flag?"
Hi, this is a feature request, unless I'm missing something.

I'm running:
[code]

I was following this [quick-start guide](http://kubernetes.io/docs/user-guide/quick-start/#launching-a-simple-application-and-exposing-it-to-the-internet), but since I'm running in minikube I wanted to specify a service using NodePort instead of a LoadBalancer. Since the expose command does not provide a flag (AFAIC

[2017-01-04 14:26] resouer commented on #35423
I think this case is covered by rescheduling https://github.com/kubernetes/community/blob/master/contributors/design-proposals/rescheduling.md

This feature has not been finished of course.

[2017-01-04 14:34] nebril commented on #39420
What about other types of LoadBalancers/non-GKE clusters?

It seems to me that deleting objects outside of cluster is out of scope of Kubernetes and should be handled by cluster operator independently.

[2017-01-04 14:37] JorritSalverda commented on #39420
They're created automatically, so why not delete them automatically?

Do you know how I can file an issue for the correct 'operator'? I guess it's a GKE application running on the master node?

[2017-01-04 14:38] resouer commented on #35438
May I ask can you get these information from events in `kubectl describe`?  If not, what do you usually get  failed health check result for now?

[2017-01-04 14:46] zmerlynn commented on #39267
I just brought up a cluster at master. Looks like it's `--authorization-mode=RBAC` now.

[2017-01-04 14:46] #39368 closed

[2017-01-04 15:00] nebril commented on #39420
Sorry, I was not aware that they were created automatically, as I don't use GKE too much. If I find a better place for this issue I will let you know.

[2017-01-04 15:09] jsindy commented on #24687
This doc really should be updated, it definitely fails in the current state. 1.4.7

[2017-01-04 15:11] JorritSalverda commented on #39423
Removing orphaned network load balancers seem to have fixed the fact that some of them didn't get updated at all.

A test learns though that the update process is really slow. For 116 target pools it takes 37 minutes.

When scaling up this would lead to unbalanced incoming traffic, because the majority will still go to the nodes present at the start of the scaling action.

But for scaling down it'

[2017-01-04 15:30] deads2k commented on #39086
First level of no-k8s/kubernetes deps are these:

1. k8s.io/kubernetes/pkg/api/pod - need to figure out why this is here
2. k8s.io/kubernetes/pkg/api/util - need to figure out why this is here
3. k8s.io/kubernetes/pkg/capabilities - need to snip this dependency
4. k8s.io/kubernetes/pkg/client/metrics - need to figure out why this is here
5. k8s.io/kubernetes/pkg/genericapiserver/routes/data/swagge

[2017-01-04 15:30] deads2k commented on #39086
Running this: https://gist.github.com/deads2k/989d7cb9a6c714fe81c0efb43e0322f2

[2017-01-04 15:37] smarterclayton commented on #39363
That would break existing applications.  Readiness is a good thing, it's
unusual for software to tolerate unreadiness.  Tolerate-unready-endpoint
also breaks deployments (you'd have things taking traffic that can't serve
it)

On Wed, Jan 4, 2017 at 6:42 AM, Prashanth B <notifications@github.com>
wrote:

[2017-01-04 15:40] smarterclayton commented on #10834
I don't think we'd want to override the image's shell, it would have to be a fallback iff the shell is missing.

[2017-01-04 15:57] hernandanielg commented on #24860
Has someone tried [this procedure](http://bit.ly/2iPrUxg)?
I am going to try it in a test environment but I don't know how much downtime it involves. Kops makes managements easier.

[2017-01-04 16:03] #39381 closed

[2017-01-04 16:14] n-rook opened #39427 "Add a short and a json output option for kubectl version"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"kubectl version", "kubectl version" json

---

**Is this a BUG REPORT or FEATURE REQ

[2017-01-04 16:47] gmarek commented on #39245
@shyamjvs - you can probably add logic similar to https://github.com/kubernetes/heapster/blob/e603915446120a1fd3175539d041de6f5822425e/common/kubernetes/configs.go#L86 to the NPD.

[2017-01-04 17:00] Shawyeok opened #39430 "Call cluster/kube-up.sh script to create a HA cluster"
I'm thinking about making `cluster/kube-up.sh` support create a HA cluster. For now, it just can create a one-master cluster, it's not enough for me. Because `kops` and `kubeadm` have some issues in a limited network region, e.g: China [#794](https://github.com/kubernetes/kops/issues/794) [#PR33818](https://github.com/kubernetes/kubernetes/pull/33818). But there are a lot of people who using k8s,

[2017-01-04 17:06] a-robinson commented on #39310
@davidopp the original yaml was the same as it is now, just with `requiredDuringSchedulingRequiredDuringExecution` instead of `preferredDuringSchedulingIgnoredDuringExecution` and no `weight` specified. I've copied it below, but for future reference it can also be pulled out of reviewable (which keeps around previous versions of commits as revisions, r1 in this case).

For what it's worth though,

[2017-01-04 17:06] #39310 closed

[2017-01-04 17:07] alejandroEsc commented on #39427
I wouldnt mind helping out on this, if there are no objections?

[2017-01-04 17:11] paultiplady commented on #28525
cc @linki -- discussion about bringing a DNS controller into the kubernetes incubator.

[2017-01-04 17:18] kobolog commented on #17470
IPVS definitely supports client and director on the same machine. I just tried re-running your example @starsdeep and it worked:

[code]

Maybe there're some other 3rd-party networking toolkits you have running on that box that might interfere with experiment?

[2017-01-04 17:21] hernandanielg commented on #29643
@justinsb so your recommendation is to spin up a second cluster and move manifests to the new one. Can you please tell what do you think are the risks, possible lost and/or downtime?

[2017-01-04 17:24] madhusudancs commented on #39388
Fixed in #39405. Also in https://github.com/kubernetes/kubernetes/pull/39132/files#diff-e7243d86cc50e209d78ce51d57dad48dL420.

[2017-01-04 17:24] #39388 closed

[2017-01-04 17:28] madhusudancs commented on #39271
Did your service `fellowship-apiserver` get a load balancer address? Also, do you know whether there exists a load balancer implementation for your cloud provider?

[2017-01-04 17:31] matchstick commented on #34127
For the official supported functionality check out: https://cloud.google.com/container-engine/docs/node-image-migration#storage_driver_support
There is ongoing work for adding support of some new storage drivers (notably NFSv3).

I think, @childsb correct me if I am wrong please, that ceph requires kernel functionality which is not compiled into GCI today. You cannot load a kernel module in to GCI

[2017-01-04 17:32] deads2k commented on #39086
updated the list in the description to show current state after open pulls merge.

[2017-01-04 17:50] smarterclayton opened #39434 "Remove client side validation in kubectl"
As evidenced by https://github.com/kubernetes/kubernetes/pull/38071, client side validation made some assumptions that were broken (assuming that types across different groups will not have the same name), and fixing so that future clients get the correct behavior while still allowing legacy clients to work has been much more labor intensive than if we had not done this on the client.

We should r

[2017-01-04 17:56] smarterclayton commented on #39434
This may have to be opt in for the client to ignore old fields, in which case this probably depends on the client indicating to the server it wants extra validation.

[2017-01-04 17:59] jingxu97 commented on #24687
@wongma7 right, we will clean up the code in the example.
@jsindy is https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/nfs/nfs-data the doc you meant not working? Thanks!

[2017-01-04 18:01] deads2k opened #39436 "kops still having a lot a trouble with flakes"
kops is currently blocking the merge queue, but there's not a clear pattern of flakes.  Looks like the job has been consistently unreliable for as far back as the test grid history goes: https://k8s-testgrid.appspot.com/google-aws#kops-aws&include-filter-by-regex=%5EOverall%24%7CTest .  Did this recently get made blocking again?

@kubernetes/test-infra-maintainers @kubernetes/rh-cluster-infra @der

[2017-01-04 18:03] eparis commented on #39436
last night. by @zmerlynn https://github.com/kubernetes/contrib/pull/2245

[2017-01-04 18:04] zmerlynn commented on #39436
The noise level has actually increased as 1.6 has gone along, I'm looking into it. (That's hard to see in testgrid because of very consistent full-breaks.)

Please don't remove it from the SQ yet.

[2017-01-04 18:13] deads2k commented on #39434
I have only experienced pain from client-side validation and no clear benefit since the server makes the actual decision and returns reasonable failures to client.

I'm in favor of simply removing the feature.

[2017-01-04 18:15] seh commented on #20352
As it stands, `jsonpath.Parser.parseFilter` only [parses a single top-level binary expression](https://github.com/kubernetes/kubernetes/blob/b48deebc7a67f86c091f6e03437d73f5327689b7/pkg/util/jsonpath/parser.go#L322-L360).

[2017-01-04 18:34] maisem commented on #39385
@montanaflynn - Do you mind running the upgrade again? It should not alter your existing nodes but will try to repair the missing one.

[2017-01-04 18:46] ymqytw commented on #34413
@munnerz I believe #38982 will be in 1.5.2.
@pwittrock Can you confirm?

[2017-01-04 18:53] piosz commented on #39102
@xiang90 metrics-server is somewhat described in [monitoring architecture](https://github.com/kubernetes/kubernetes/blob/master/docs/design/monitoring_architecture.md). It's more or less trimmed down [Heapster](https://github.com/kubernetes/heapster) without sinks, exporting only one well defined [Master Metrics API](https://github.com/kubernetes/community/blob/master/contributors/design-proposals

[2017-01-04 19:01] fabianofranz commented on #39434
I'm +1 for this, specially given version skew and because it's already one small step in direction of our intent of moving more stuff from client to server side.

My only concern is that sometimes the failure messages returned by the API are not as friendly as they  should be for CLI users. For example, "must match regex [a-z0-9]?" instead of "can only contain letters or digits". We should prefera

[2017-01-04 19:15] MrHohn commented on #38896
@zhuqinghua Could you provide more details? "dnsmasq can't start" does not seem like the same problem.

[2017-01-04 19:16] #39380 closed

[2017-01-04 19:16] #39332 closed

[2017-01-04 19:22] bowei commented on #38896
@zhuqinghua: Can you file a new issue with your bug? It is somewhat confusing to add it onto this thread which may or may not be related.

[2017-01-04 19:23] dashpole commented on #39102
Proposal updated to include:

- Versioned API

- HPA and Scheduler Resource requirements

[2017-01-04 19:27] je-al commented on #32796
Furthermore, kubectl needs some love:

[code]

P.S.: disregard the selector patching, that's an unrelated issue.

[2017-01-04 19:32] dashpole commented on #39102
cc: @kubernetes/sig-node-misc

[2017-01-04 19:36] derekwaynecarr commented on #39102
@DirectXMan12 that is my understanding as well, but we lack any of the machinery in the kubelet to support stable versioned apis (hence why everything is staying at v1alpha1)

[2017-01-04 19:42] jsindy commented on #24687
https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/nfs/ as a whole fails. Throws the errors @xidui mentioned above.

[2017-01-04 19:45] jsindy commented on #24687
@jingxu97 I am available to run through the doc again once it is updated.

[2017-01-04 19:52] MrHohn commented on #39403
@qianzhangxa From your logs I could tell you are not using the latest kube-dns.

#36013 enhanced the dns logging and you may consider using a newer version kube-dns with this change. Consider [the latest one](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kubedns-controller.yaml.base) :)

[2017-01-04 19:53] copejon commented on #37956
Thanks @jsafrane . I'll keep `sudo` in mind for future tests.

[2017-01-04 20:02] montanaflynn commented on #39385
@maisem I tried just now but there is no apparent changes made (node age still reported as 1d old using `kubectl get nodes`)

From https://console.cloud.google.com/kubernetes/clusters/details/us-central1-b/cluster-name?project=project-name-123&authuser=0 under node pools I see:

<img width="485" alt="screen shot 2017-01-04 at 11 58 18 am" src="https://cloud.githubusercontent.com/assets/24260/21657

[2017-01-04 20:50] timstclair opened #39441 "Node audit logging"
We should have a better story about audit logging on nodes. This is a fairly broad topic that could include:

- Host access (SSH, privileged pods / host volumes / etc, credential changes)
- Kubelet API access
- Pod access (exec / attach / portforward)
- What is running on the node (both in & out of pods)

I think we should treat application (pod) audit logging as a separate topic, with the possibl

[2017-01-04 20:56] enisoc commented on #35269
@davidstack I have successfully used multiple StatefulSets (new name for PetSet) with a single headless service before. Based on my experience, I would expect your example to produce DNS entries like `ambari-master-1.ambari-cluster` and `ambari-agent-1.ambari-cluster`. What behavior are you seeing exactly? Is there an error message?

One thing I did notice about your example is your pod templates

[2017-01-04 21:04] jayunit100 commented on #33314
assign to @sjug i think is better

[2017-01-04 21:05] smarterclayton commented on #39434
The gap is typo'd fields and unrecognized fields.  That is useful to users and can't just be dropped.

[2017-01-04 21:06] sjug commented on #33314
Sounds good

[2017-01-04 21:06] timstclair commented on #36667
Yes, the way we are currently thinking about auth, it would. That sounds like a risk of leaking the credentials. The tokenized approach in https://github.com/kubernetes/kubernetes/pull/38742 might make client cert auth unnecessary, but there's still a threat of server-side spoofing (MITM). Any suggestions?

[2017-01-04 21:16] nikhiljindal commented on #32826
Fixed by https://github.com/kubernetes/kubernetes/pull/38844

[2017-01-04 21:16] #32826 closed

[2017-01-04 21:23] jayunit100 commented on #31977
I think https://github.com/kubernetes/kubernetes/issues/37232 is sufficient to close this issue since:

- reproducing is non-obvious.
- the suspicion here is that the inconsistency in AssumePod is causing this issue, but that is fixed in the above issue.
- the patch above forces a clean cache on update/remove

If it crops up again, I'd say we can reliably say its not due to a corrupted cache, and

[2017-01-04 21:32] wstrange commented on #37995
I'm seeing something similar with auto scaling, on gke / kube 1.5.1

In my case the new autoscaled node eventually becomes non responsive and enters into a NotReady state.

I can't even ssh into the node from the cloud console - it appears to hang. The serial port output shows nothing of interest.

I am using PVCs. I have a suspicion this may be related to attach / detach of pvc disks

[2017-01-04 21:43] verb commented on #10834
@luxas I have this problem as well, see #35584 for how I'd like to address it. I'm looking for additional use cases, so your input would be most welcome.

This isn't a priority for SIG Node (at least as defined in the tentative 2017Q1 road map), but it's the only thing I'm attempting to contribute so it's a priority for me.

[2017-01-04 21:43] gmarek commented on #19188
If I'm not mistaken configmaps are (slightly) less problematic, because by default Pods don't have any (unlike Secrets, in which case Pods have default ServiceAccount token).

[2017-01-04 21:50] #31977 closed

[2017-01-04 22:15] deads2k commented on #39086
@sttts We're going to have trouble in admission.  The API for admission provides `kubernetes/pkg/runtime.Object`s, but obviously the gotypes being decoded won't match the ones we have in tree.

@lavalamp @caesarxuchao @kubernetes/sig-api-machinery-misc I think we have to bite the bullet and move all types from `kubernetes/pkg/api`, `kubernetes/pkg/apis` to `staging/src/k8s.io/api`.  Similar to how

[2017-01-04 22:28] liggitt commented on #36667
auth aside, you still need a serving cert, valid for the kubelet's IP and/or DNS name, signed by a CA the API server trusts, so the API server can verify the serving cert when it makes the connection to the streaming server. I *really* don't want to put trusted certs that close to pod processes

[2017-01-04 22:58] janetkuo commented on #29403
If you look closely, `kubectl edit` header shows you the error you made in your last edit:

[code]

The errors aren't printed to stderr on purpose. If we print it, you'll see all errors you made after you're done, although you already fixed them, and that's confusing.

We discussed this previously in https://github.com/kubernetes/kubernetes/issues/26050#issuecomment-246089751. The right solution i

[2017-01-04 23:18] #39267 closed

[2017-01-04 23:19] ravishivt commented on #38849
@nicerobot Same issue here.  I believe it's because of #23920, where the kube-registry-proxy daemonset requests hostPort 5000 but it doesn't actually bind on the host.  I'm using canal CNI.

I tried to switch from hostPort to hostNetwork but then I face another issue where the daemonset can not resolve the kube-registry hostname due to #17406.  So I then manually set REGISTRY_HOST to the service I

[2017-01-04 23:37] nikhiljindal commented on #39168
cc @kubernetes/sig-cli-misc

[2017-01-04 23:45] yujuhong commented on #39113
Can we identify the bottleneck first and define what "acceptable" latency is?  "Immediate" seems a little vague to me...

AFAIK, there are two known, relatively significant latency, in the critical path.
 1. kubelet polls the container runtime every 1s to detect changes. Shortening this needs more profiling and extra care as it could cause a significant increase in resource usage and latency. If a

[2017-01-04 23:54] timothysc commented on #38967
I need to dig back into the kubemark script-ery, but why can't we just have a helm chart for deploying it and let others worry about the cluster stand.

/cc @jeremyeder

[2017-01-05 00:02] smarterclayton commented on #39086
Declare a new interface with the same methods.  Identical interfaces can be
substituted.

On Jan 4, 2017, at 5:15 PM, David Eads <notifications@github.com> wrote:

@sttts <https://github.com/sttts> We're going to have trouble in admission.
The API for admission provides kubernetes/pkg/runtime.Objects, but
obviously the gotypes being decoded won't match the ones we have in tree.

@lavalamp <https:/

[2017-01-05 00:06] maisem commented on #39385
@montanaflynn - After investigating further this does look like an issue on GKE. I've filed a bug to fix it.

In the mean time the course of action to fix your cluster would be to recreate the "gke-backend-default-pool-a671890f-uxby" VM instance.
You can do that by running the following gcloud command
[code]

Once this completes, please rerun the upgrade and it should proceed to completion.

[2017-01-05 00:07] ecordell commented on #38833
@euank I will spend some more time verifying the behavior and get back to you

[2017-01-05 00:09] ymqytw commented on #39168
@nikhiljindal What tests? Unit or e2e or test-cmd.sh? I'm lack of context.

[2017-01-05 00:12] nikhiljindal commented on #39168
`make test-cmd` which runs `hack/make-rules/test-cmd.sh` which contains all kubectl tests

[2017-01-05 00:22] calebamiles commented on #39412
Thanks for submitting this issue @YuPengZTE. I've filed a PR to delete the test. After some brief review I believe the test itself is incorrectly implemented.

[2017-01-05 00:25] timothysc commented on #13057
closing, this issue is old, and no longer applies post refactorings over the last year, and have other refactors coming post 1.6 release.

[2017-01-05 00:25] #13057 closed

[2017-01-05 00:32] shyamjvs commented on #38967
@timothysc There is atleast one way in which kubemark differs from a regular kubernetes application, in that it starts a separate VM instance and rightly configures it to use as the master for the hollowNodes. IIUC, (I might be wrong about this)  helm packaged applications pretty much are defined on pod space and do not allow creation of VM instances. However, an alternative to creating a VM insta

[2017-01-05 00:33] yujuhong commented on #38854
@feiskyer what's the reason to upgrade to v3 so soon?

[2017-01-05 00:43] yujuhong commented on #34672
We (@thockin, @freehan, @dchen1107)  had a discussion recently, since the network-related information is the main driver for checkpointing for now.

@dchen1107 brought up a good point that it might be too premature to commit to a generic checkpointing (either in kubelet or in the shim). Maintaining backward-compatibility would be a pain and could slow down the development in the future. Instead, w

[2017-01-05 00:50] montanaflynn commented on #39385
Thanks @maisem that worked!

[2017-01-05 00:53] shyamjvs commented on #38967
@timothysc There was a discussion before implementing kubemark ([here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubemark.md#kubemark-architecture-overview)), where the above alternative was considered. However, the option of having all the master components on a single VM was opted for.

[2017-01-05 01:03] nikhiljindal opened #39453 "kubefed init breaks for dev hyperkube image"
I ran `kubefed init` after pushing my dev hyperkube image and federation control plane failed to come up.
On closer look, I see the image field as: `gcr.io/google_containers/hyperkube-amd64:v1.6.0-alpha.0.2798+8b2c620b33b9a1-dirty`. It picked the right image version but not the right repository.

cc @madhusudancs @kubernetes/sig-federation-misc

[2017-01-05 01:17] smarterclayton commented on #39337
Upgrades *require* a strategy, and both SS and DS are likely to have one by
end of 1.6, if not 1.7

On Jan 4, 2017, at 7:37 AM, Michail Kargakis <notifications@github.com>
wrote:

@davidopp <https://github.com/davidopp> a library for building controllers
would certainly be a nice thing, we have discussed it already with @mfojtik
<https://github.com/mfojtik> and we will most probably end up doing i

[2017-01-05 01:50] dchen1107 commented on #38164
The initial goal we had is docker CRI support only targets for docker 1.11.x and beyond. Is there any reason we want to change that decision? User requests?

[2017-01-05 01:54] yujuhong commented on #38164
This is purely for rolling out the CRI implementation as default. If k8s still supports docker 1.10 in the 1.6 release, CRI should also support it.

[2017-01-05 01:55] qianzhangxa commented on #39403
@MrHohn Yes, you are right, I am using v1.4. And I see the latest kubedns in gcr.io/google_containers is v1.9, so I guess once I upgrade to that version and start it with `--stderrthreshold=1 --v=1`, there should be much less logs, right?

[2017-01-05 01:59] xingzhou commented on #29403
@janetkuo, thanks for the information. Here is something in my mind about the issue:
1. Some other errors in edit command also print out the error message into standard output, like this [line](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/edit.go#L240). If we want to avoid the confusing in the standard output, shall we avoid all the error printings?

2. I don't think `alway

[2017-01-05 02:03] MrHohn commented on #39403
I don't think you need to tweak `stderrthreshold`. If you want only warning/error in logs, you could go with `--v=0`.

We are using `--v=2` in the template and the logging is generally useful.

[2017-01-05 02:07] moonek commented on #39271
All my k8s cluster is running on VirtualBox VMs in my laptop. So I don't have a load balancer.
In this case, is it impossible that use kubefed?

[2017-01-05 02:07] foxish commented on #39125
@a-robinson Just created the PR. I expect that it should get into the next patch release.
/cc @saad-ali.

[2017-01-05 02:09] timchenxiaoyu commented on #39403
it's is verbose log.maybe -verbose=false can help you

[2017-01-05 02:13] MrHohn commented on #39403
The latest kube-dns does not have flag `--verbose`.

[2017-01-05 02:19] smarterclayton commented on #38542
Some values still not being defaulted

[2017-01-05 02:27] k82cn commented on #38542
@smarterclayton , I'm going to create a PR if none works on it.

[2017-01-05 02:34] s332401890 opened #39456 "is there a remote api for delete deployment"
is there a remote api for delete deployment

i find some info  on http://stackoverflow.com/questions/39416251/kubernetes-rest-api-create-deployment

and  i have try
[root@centos-master titanbi]# curl -X DELETE http://xxxx:8080/apis/extensions/v1beta1/namespaces/titan/deployments/titanbi
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Success",
  "code": 200
}

but the de

[2017-01-05 02:34] resouer commented on #39113
@yujuhong maybe take a look at if #26538 can help?

[2017-01-05 03:14] feiskyer commented on #38854
@yujuhong for a couple of reasons, it's better to upgrade to v3:

1. v2 and v3 are incompatible
2. v3 is recommended by protocol buffer: `we recommend using proto3 for all new gRPC servers and clients as it avoids compatibility issues.` (see [here](https://developers.google.com/protocol-buffers/docs/overview#introducing-proto3))
3. We use proto2 in CRI because protobuf v3 is beta then. Now protobu

[2017-01-05 03:25] feiskyer commented on #36997
(copied from #39128)

And

@euank @timstclair let's move here to discuss how to pass profiles to runtime.

Related with #39128.

[2017-01-05 03:33] feiskyer commented on #36997
This is issue is related with two level APIs:

1. In CRI, since we may also want to support profiles from ConfigMaps, I think we should pass full profile contents instead of path to runtime.
2. This issues is also related with seccomp api in kube-apiserver, it is based on annotations today. We should define seccomp profile format clearly (see #39128) and decide whether to add struct types to pod s

[2017-01-05 03:36] feiskyer commented on #39441
Cool. Are there any more details on this?

[2017-01-05 04:18] MrHohn commented on #39403
`stderrthreshold` is usually used for adjusting the desired Severity Level. As the description says, the logs being considered as severe(logs at or above the defined threshold) will also go to stderr.

You may set this flag explicitly if the default threshold 2 is unfit to you.

[2017-01-05 04:28] hw-qiaolei commented on #39048
Done

[2017-01-05 04:57] kris-nova commented on #39255
Where would be a good place to start digging into this?

[2017-01-05 05:10] dhawal55 commented on #38498
In our case, we have a new cluster (no upgrade) using v1.5.1. and still see a lot of these errors:
[code]
I'm able to reproduce it as follows:
- create a pvc
- create a pod that refers to the pvc
- delete the pod

[2017-01-05 05:19] madhusudancs commented on #39453
@nikhiljindal Did you pass the `--image` flag?

[2017-01-05 05:38] micmro commented on #39027
I can confirm this issue and fix, I had to change
[code]
to
[code]
to be able to create a stack.

[2017-01-05 06:19] davidopp commented on #39337
I think there's a reasonable philosophical question of when the pattern you're using here (delegate some behavior of a controller to specialized external logic) is appropriate vs. telling people to write their own controller that contains the specialized logic plus the base logic of the controller. My suggestion about a library was trying to get at how to do this without a lot of code duplication.

[2017-01-05 06:26] k8s-merge-robot opened #39458 "ci-kubernetes-e2e-gke-large-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/32/
Multiple broken tests:

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28297 #37101 #38201

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a RW PD, grac

[2017-01-05 07:04] Yancey1989 commented on #39411
@soltysh @sdminonne , thanks for your reply.

This mean, we assume each job is a vertex, each dependency relation is an edge. The graph consisting of these vertices and edges can not have a ring, otherwise these jobs will fall into deadlock.

@sdminonne The (repo)[https://github.com/sdminonne/workflow-controller] is helpful for us, I'll have a thorough understanding of this, and maybe contact you

[2017-01-05 07:33] jingxu97 opened #39459 "NFS example will break due to default dynamic provisioning"
The NFS example under https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/nfs has an issues

nfs-pvc will not be able to bound to manually created nfs-pv object after release 1.6 with default storageclass. In PR #31617, a default storageclass is deployed automatically. Because of this change, for persistentvolumeclaim that does not have any storageclass annotation (as in https://

[2017-01-05 08:04] thockin commented on #39459
You can set the class to "", which should force-select only PVs that have
class = ""

On Wed, Jan 4, 2017 at 11:33 PM, Jing Xu <notifications@github.com> wrote:

[2017-01-05 08:09] thockin commented on #10834
I think I disagree with Clayton - if we offer this it should be consistent
functionality.  This doesn't have to replace exec, but it should work the
same in all cases.  Having a static busybox seems like a good start, but it
does become one more thing that nodes need to have installed or that we
ship with kubernetes.

On Wed, Jan 4, 2017 at 1:43 PM, Lee Verberne <notifications@github.com>
wrote:

[2017-01-05 08:14] thockin commented on #39289
This is probably not a sig-network issue, per se.  @lavalamp which SIG owns
the API proxy?  You?

On Tue, Jan 3, 2017 at 6:18 PM, caleb miles <notifications@github.com>
wrote:

[2017-01-05 08:27] resouer commented on #36482
Encountered this on single- node kubeadm, I think it's caused by same reason.

[2017-01-05 08:36] EamonZhang commented on #22351
@bigglesandginger @liggitt

1.--service-account-private-key-file=?

2.what is the use of
[code]
generate by --admission-control=ServiceAccount

3. when i config the params in kube-apiservice
[code]
 then  apiserver.crt ,apiserver.key file will not generate.

[2017-01-05 08:44] xingzhou opened #39461 "Improve RBAC error message"
I got the following message when using RBAC to block user from deleting pods:
[code]
which is not in a good format: the punctuations and the `<nil>`.

Working on a patch to fix it.

[2017-01-05 08:44] davidopp commented on #20064
I'll re-read this and throw in my two cents in the next few days. IIUC the main controversy is whether this informatoin should go in PodStatus?

[2017-01-05 09:13] xingzhou commented on #31897
I tried the same steps with latest code from master branch, got the following error immediately(use RBAC):
[code]
@guoshimin, would you please re-try this issue with latest kubectl and confirm the issue?

[2017-01-05 09:48] wojtek-t commented on #19188
Yes. We should do the same for config maps, but that's slightly less urgent.

[2017-01-05 09:51] jszczepkowski commented on #38307
WRT https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.5/282/

Before HPA test, one of pod is still pending, because of insufficient CPU in the cluster:
[code]

[2017-01-05 10:06] kenzhaoyihui commented on #37063
Hey, I met same problem.
Just follow kubernetes offical guide:

# cat <<EOF > /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=http://yum.kubernetes.io/repos/kubernetes-el7-x86_64
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg
       https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
EOF
# setenforce 0
# yum install

[2017-01-05 10:14] alfred-huangjian commented on #39048
done

[2017-01-05 10:52] k82cn commented on #36716
@davidopp / @timothysc , I updated docs based on my understanding, /PTAL .

And here's a short video on the prototype (~3mins): https://youtu.be/916FP1hCKDw ; I mixed "scheduler" & "controller" in this video, but the idea is similar.

[2017-01-05 11:04] mbohlool opened #39465 "Bug: OpenAPI types are missing some fields"
Discovered in kubernetes-incubator/client-python#85

Some types are missing fields in generated OpenAPI spec. For example v1.ConfigMapKeySelector is missing a Name field. This is due to ignoring fields with empty json name tag while most (if not all) of these members also have "inline" tag meaning we should inline their members into the generated type.

cc @kubernetes/sig-api-machinery-misc

[2017-01-05 11:08] #33088 closed

[2017-01-05 11:18] mbohlool commented on #39465
@lavalamp I have a fix for this. python client is set to generate client only from a kubernetes release branch. I suggest we cherry-pick the fix into 1.5 release branch, what do you think?

[2017-01-05 11:36] #39290 closed

[2017-01-05 11:47] vklonghml opened #39467 "k8s with 1.4.0(beta1) or 1.4.5 or 1.5.1 could not support the dynamic volume provisioning"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 FEATURE REQUEST

**Kub

[2017-01-05 12:03] pawankkamboj commented on #27343
Not yet, have tried on 1.5.1 and still same.

[2017-01-05 12:12] luxas commented on #37063
@kenzhaoyihui This is totally by design and isn't related to the issue above.
When you run `kubeadm init`, kubelet will get the file it's right now failing for and run with it.
It should be good to go, just continue...

[2017-01-05 12:35] codevulture commented on #39048
Done, Thanks!

[2017-01-05 13:04] olekzabl commented on #39048
Done, thanks.

On Thu, Jan 5, 2017 at 1:35 PM, Jaivish Kothari <notifications@github.com>
wrote:

[2017-01-05 13:46] gnufied commented on #39467
Can you post output of `kubectl describe pvc myclaim-1`?  It just may be your gluster/heketi configuration.

[2017-01-05 14:02] kpgriffith commented on #26230
@thockin I'm new to k8s and looking for something to get me started.  Does this fit?

[2017-01-05 14:04] DjangoPeng commented on #37922
@caesarxuchao @quinton-hoole
I don't know who could have a look at this issue, but it is really an obstacle for k8s users in CentOS/Redhat. Could you cc someone who response for the issue?

[2017-01-05 14:07] piosz commented on #37226
fixed by #38622

[2017-01-05 14:07] #37226 closed

[2017-01-05 14:17] jayunit100 commented on #20064
i think to summarize clayton's thoughts...  there are 2 minor contraversies:
- should the scheduler updating pod status type information fields? imo podspec is a decent place for it to live also.
- other information should we want to surface from the scheduler ? should we think about it and have it tackled in this API change? imo not necessary for this feature,but i could see the value in doing so

[2017-01-05 15:10] deads2k commented on #39086
@smarterclayton

I can't because they aren't identical.

[code]
and
[code]

are mutually exclusive . Nothing can satisfy both and I need to stop either stop depending on `k8s.io/kubernetes/pkg/runtime` or move it to `k8s.io/different-repo/pkg/runtime` to be able to finish splitting out the generic API server.

[2017-01-05 15:17] Crassirostris commented on #39041
@fejta @ixdy Any news?

[2017-01-05 15:29] Dingshujie commented on #39048
Done, thanks

[2017-01-05 15:31] k8s-merge-robot opened #39471 "TestPatch {client}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/1808/
Failed: TestPatch {client}

[code]

[2017-01-05 15:39] deads2k commented on #39255
The authorizer lives here: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/rbac.go You can go forward and backward along the chain from there.

[2017-01-05 15:55] smarterclayton commented on #39086
Depend on client-go runtime/schema

On Jan 5, 2017, at 10:10 AM, David Eads <notifications@github.com> wrote:

Declare a new interface with the same methods. Identical interfaces can be
substituted.

@smarterclayton <https://github.com/smarterclayton>

I can't because they aren't identical.

type Object interface{
    GetObjectKind() runtime/schema.GroupVersionKind
}

and

type Object interface{

[2017-01-05 15:56] smarterclayton commented on #39086
I'm also ok with not requiring admission to have runtime.Object

On Jan 5, 2017, at 10:10 AM, David Eads <notifications@github.com> wrote:

Declare a new interface with the same methods. Identical interfaces can be
substituted.

@smarterclayton <https://github.com/smarterclayton>

I can't because they aren't identical.

type Object interface{
    GetObjectKind() runtime/schema.GroupVersionKind
}

[2017-01-05 15:59] deads2k commented on #39086
@smarterclayton if I do that, then we'll have k8s.io/kubernetes packages with two incompatible views of the API types.  What if I started smaller and made a k8s.io/apimachinery which included pkg/apimachinery/registered, pkg/runtime, and pkg/runtime/serializer plus their fanout (it's not too big and I think I can snip the weird links).  I make that in staging.  Force the staging copy to be authori

[2017-01-05 16:00] smarterclayton commented on #10834
Let me clarify - it is unacceptable for exec to change to magically override the built in shell, because that is not backwards compatible and breaks large classes of apps on Kube.  It's acceptable to make static injection a net new mechanism, and *might* be acceptable to fallback.

I also don't want a generic shell command that is tied too closely with one particular shell impl - we would not be a

[2017-01-05 16:01] dashpole commented on #39102
The new proposal (in kubernetes/community) can be [found here](https://github.com/kubernetes/community/pull/252)

[2017-01-05 16:08] smarterclayton commented on #20064
Third bullet:

If this is for users, and we're not totally clear on how this would be used
by automated processes in the future, rather than add to the API we should
add a message or condition which summarizes this information for the end
user in a human friendly way.  That is better than adding an API because
this information would already be exposed by clients and thus reach users
more effective

[2017-01-05 16:09] smarterclayton commented on #39086
Sgtm

On Jan 5, 2017, at 10:59 AM, David Eads <notifications@github.com> wrote:

Depend on client-go runtime/schema

@smarterclayton <https://github.com/smarterclayton> if I do that, then
we'll have k8s.io/kubernetes packages with two incompatible views of the
API types. What if I started smaller and made a k8s.io/apimachinery which
included pkg/apimachinery/registered, pkg/runtime, and
pkg/runtim

[2017-01-05 16:10] ReneSaenz commented on #17648
Can I help with this? I am new to Kubernetes and I would like to contribute and get my feet wet

[2017-01-05 16:15] yaxinlx commented on #38857
@fraenkel indeed.

[2017-01-05 16:16] deads2k commented on #39086
@lavalamp I plan to pursue this path.  What's involved in getting an actual k8s.io/apimachinery repo set up so that we can cleanly godep for client-go and heapster?

[2017-01-05 16:44] jsindy commented on #24687
I have tried volume-nfs:0.8, nfs-server:1.1 and jsafrane/nfsexporter with no luck so far.

[2017-01-05 17:00] thockin commented on #10834
I didn't mean to imply overriding.  IMO `exec` should stay literal - run
this command in the user's container.  If that command doesn't exist, fail.

This proposal was always about adding a net new shell API that was
guaranteed to work on any container without the container needing to have
any particular files in its image.

So if you're -1 on that, can you explain why?  The main reason many peopl

[2017-01-05 17:01] quinton-hoole commented on #38897
@liggitt Do you have answers to my questions above? https://github.com/kubernetes/kubernetes/issues/38897#issuecomment-268921918

[2017-01-05 17:04] #37529 closed

[2017-01-05 17:21] thockin commented on #26230
I think this is still open.

On Thu, Jan 5, 2017 at 6:02 AM, Kevin Griffith <notifications@github.com>
wrote:

[2017-01-05 17:23] verb commented on #10834
It's a requirement for the runtimes rather than the kubelet, and the CRI will need to add support. It's the run times that would have to ship a binary. Implementation would be pretty straightforward for the current container-based runtimes and slightly more difficult for hypervisor/cloud runtimes.

This solution is constrained to a single static binary specified by the Kubernetes developers, limit

[2017-01-05 17:35] kargakis commented on #38774
This is a regression for `kubectl logs` so I am raising the priority on this one.

@kubernetes/sig-cli-misc can somebody work on this?

[2017-01-05 17:41] kargakis commented on #29727
I don't think this is any longer an issue  - I am able to run DNS just by exporting KUBE_ENABLE_CLUSTER_DNS=true. @magicwang-cn please re-open if you still have any problem.

[2017-01-05 17:41] #29727 closed

[2017-01-05 17:42] kargakis commented on #29829
I don't think this is any longer an issue - I am able to run DNS just by exporting KUBE_ENABLE_CLUSTER_DNS=true. @better0332 please re-open if you still have any problem.

[2017-01-05 17:42] #29829 closed

[2017-01-05 17:44] kargakis commented on #32381
https://github.com/kubernetes/kubernetes/pull/38408 should satisfy this issue.

[2017-01-05 17:47] liggitt commented on #38897
I think the reasons are identical to the ones made for local cascading being on by default (I wasn't a fan of it there either). See https://github.com/kubernetes/kubernetes/pull/7210

[2017-01-05 17:51] kargakis commented on #17648
@ReneSaenz sure, it's a simple package renaming so it should be pretty straightforward to take a stab at.

[2017-01-05 17:54] liggitt commented on #22351
@EamonZhang `--service-account-private-key-file` provided to the controller manager is used to sign service account tokens. The corresponding public key must be provided to the api server with `--service-account-key-file`, which uses it to verify tokens.

As a convenience, you can provide a private key to both, and the public key portion of it will be used by the api server to verify token signatu

[2017-01-05 17:54] #22351 closed

[2017-01-05 18:05] jayunit100 commented on #20064
So, are we

- erasing and rewriting Message?
- appending to Message and aggregating only in kubectl?
- aggregating the map into Message?

[2017-01-05 18:06] jingxu97 commented on #24687
@jsindy , the following are the changes I made to make the test work

1. Edit examples/volumes/nfs/nfs-pv.yaml
change the last line to path: ""

2. Edit examples/volumes/nfs/nfs-server-rc.yaml
change the image to the one that enabled NFSv4
image: gcr.io/google_containers/volume-nfs:0.8

Please let me know if you have any problems with these changes. Thanks!

[2017-01-05 18:07] epall opened #39474 "Permissions 0755 instead of 0775 on gcePersistentDisk volumeMount with subPath"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): gcePersistentDisk, fsGroup, permissions

---

**Is this a BUG REPORT or FEATURE REQUE

[2017-01-05 18:14] jingxu97 commented on #38498
@dhawal55 , could you please confirm for how long you see this message? It is normal you might see this for a little bit. It would be also very helpful if you could share your kubelet log for us to take a look. Thanks!

[2017-01-05 18:15] smarterclayton commented on #10834
I'm ok with a flag that says "inject shell" that makes it opt in.  But we
(red hat) probably won't support busybox for that, so my personal ask is
that we try to define what API injected shell is expected to follow before
we introduce it - has to be really carefully thought through.

Agree with Lee's points that this won't work with all runtimes, and that
the real problem isn't just a shell binary

[2017-01-05 18:20] thockin commented on #10834
I'm fine with more robust solutions - this was filed as an idea to solve
the most immediate piece of the problem, but it's just an idea :)

@smarterclayton should know by now that 96.3% of my ideas are outright
terrible or at the very least are least off-target.

On Thu, Jan 5, 2017 at 10:16 AM, Clayton Coleman <notifications@github.com>
wrote:

[2017-01-05 18:25] smarterclayton commented on #20064
The nice thing about scheduling is that you're at the right spot:

[code]

You can set a reason `CannotSchedule` (the machine readable reason why you are in this condition), a message `There are no nodes that match the node predicates X, Y, and Z` (human readable) and probably a condition on the pod.  Once we have competitive schedulers this could be more difficult (because they'd be fighting over

[2017-01-05 18:28] foxish commented on #39456
Please post support questions on Stackoverflow.
You can use the same approach as http://stackoverflow.com/a/40919786/759019 to find the associated REST API calls.

[2017-01-05 18:28] #39456 closed

[2017-01-05 18:35] john-delivuk commented on #37023
So sorry for the delay @liggitt. I think you're right. Let me confirm.

[2017-01-05 18:42] oscerd commented on #17648
I was interested too. By the way no problem

[2017-01-05 18:46] sijnc commented on #831
Another use case:

* Users can login via SFTP and upload/download media to website
* PHP source code is baked into Apache container via Docker ADD
* SFTP is in it's own container so Apache does not have to run privileged
* At some later date the "media" volume will be an NFS container when more stable.

Pod
- Container Apache
  - Mount "media" PD volume
- Container SFTP (Runs privileged to bind mo

[2017-01-05 18:46] jsindy commented on #34127
just tested GlusterFS on 1.4.7 and it is failing, has anyone else gotten glusterfs working on 1.4.7?

[2017-01-05 18:49] matchstick commented on #34127
@jingxu97 @saad-ali Can you PTAL? We have this working in house but maybe we are missing something that others are doing. Or we are executing some secret step.

[2017-01-05 18:49] dileepfrog commented on #25554
@jbeda

Thank you! Confirmed this is an entirely viable workaround for the time being.

[2017-01-05 18:53] jingxu97 commented on #34127
@jsindy thanks for reporting the issue. Could you please provide more details about your test? Are you using a GKE cluster? What is your cluster image and which example did you use to test the glusterfs?
Currently we support GlusterFS on GKE cluster and we tested it with our e2e test https://github.com/kubernetes/kubernetes/blob/master/test/e2e/volumes.go#L431

[2017-01-05 18:56] jsindy commented on #34127
Here is the error I am seeing although I don't think the error is quite accurate.

15s		15s		1	{kubelet gke-ceterus-1-pool-3-aec5f27b-yzmd}			Warning		FailedMount	MountVolume.SetUp failed for volume "kubernetes.io/glusterfs/397a4848-d376-11e6-87bb-42010a8001eb-glusterfsvol" (spec.Name: "glusterfsvol") pod "397a4848-d376-11e6-87bb-42010a8001eb" (UID: "397a4848-d376-11e6-87bb-42010a8001eb") with: gl

[2017-01-05 18:57] jsindy commented on #34127
[code]

[2017-01-05 18:58] fouadsemaan commented on #10411
@ArtfulCoder We had a slightly different case which is that our root crt and server crt did not have a FQDN at all. Reading your comment, we set one on the root crt and I can now curl the apiserver on the secure port. Thanks for your post!

[2017-01-05 19:02] jsindy commented on #24687
[code]

[2017-01-05 19:03] jsindy commented on #24687
should it be path: "/" ?

[2017-01-05 19:06] jingxu97 commented on #24687
@jsindy right, the path is "/". Thanks!

[2017-01-05 19:06] Random-Liu commented on #39245
@shyamjvs @gmarek @wojtek-t

Sorry for the delay. I was on vocation and just come back today.

There is an on-going effort by @andyxning to directly reuse the heapster code in NPD. #49

After this is merged, we should be able to use the same flag with heapster to config the master.

[2017-01-05 19:09] jayunit100 commented on #20064
Yes, its definitely not a long term solution but *good... enough* for now.

[2017-01-05 19:10] jingxu97 commented on #33447
@mikudeko thanks for reporting this issue. Could you please provide more details about how you resolve the fileserver hostname manually? Thanks!

[2017-01-05 19:12] jsindy commented on #24687
That did the trick, thanks @jingxu97

[2017-01-05 19:14] jingxu97 commented on #24687
@jsindy thanks for confirming. The reason for those changes is because currently we support NFSv4 and the old example is using NFSv3. We will update the document very soon. Also the support for NFSv3 should be out soon. Please let us know if you have any problems using it. Thanks!

[2017-01-05 19:17] jingxu97 commented on #34127
@jsafrane  Looks like a name resolution issue. Are you using hostname or IP address? Thanks!

[2017-01-05 19:23] jayunit100 commented on #20064
yup, something like

reason = `cannotSchedule` + message `There are no nodes that matched all the predicates:  The map of predicate failures is {"memory":23, "cpu":30}`.

makes sense.

[2017-01-05 19:24] jsindy commented on #34127
My endpoints are IPs.

[2017-01-05 19:30] jsindy commented on #34127
https://github.com/jsindy/glusterfs-gce/blob/master/glusterfs-endpoints.json

[2017-01-05 19:32] smarterclayton commented on #20064
Reason is a constant and is always CamelCase "CannotSchedule" .

Please ensure the message is readable by a human.  The map output above
really isn't something I would ever show to a user.

On Thu, Jan 5, 2017 at 2:23 PM, jay vyas <notifications@github.com> wrote:

[2017-01-05 19:32] nikhiljindal commented on #39453
nope. Just simple `kubefed init federation --dns-zone-name="nikhiljindal.com"

[2017-01-05 19:33] jayunit100 commented on #20064
yup typo fixed

[2017-01-05 19:40] smarterclayton commented on #20064
Can you double check that we don't already have a condition for "scheduling failed" or "cannot schedule"?  Someone mentioned we discussed it at one point, not sure whether it ever got implemented.

[2017-01-05 19:40] osterman commented on #25554
@jbeda - I can also confirm these strategies both work now for us in k8s 1.4.6.  Not sure what's different, but could have sworn we tried some variation of both of these.

[2017-01-05 19:46] jayunit100 commented on #20064
yup im in the code now, `PodReasonUnschedulable` is a valid pod condition.

[2017-01-05 19:47] smarterclayton commented on #37991
I think this was a breaking change.  It bit openshift very badly, and we depend on the behavior of JSONPath for a lot of scripts.

[2017-01-05 19:47] smarterclayton commented on #37991
@ncdc can you describe how prevalent this was?

[2017-01-05 19:48] grosskur opened #39480 "kubelet panic: "invalid memory address or nil pointer dereference" in findAndRemoveDeletedPods()"
**Is this a request for help?**

No

**What keywords did you search in Kubernetes issues before filing this one?**

panic, findAndRemoveDeletedPods

---

**Is this a BUG REPORT or FEATURE REQUEST?**

BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): gci 56 (8938.0.0)
- **Kern

[2017-01-05 19:51] smarterclayton commented on #20064
Ok, so I'd recommend adding the condition with the message, adding a reason on the condition that is more specific (i.e. "NoNodesMatchingPredicates" or something like that), and then using "Unschedulable" as the pod status level reason and the same message as the condition.

[code]

[2017-01-05 19:51] ncdc commented on #37991
1. We have a test that evaluates a field in our DeploymentConfig.Status to ensure that its value is 0. Because the field is set to `omitempty`, and go's json encoder doesn't emit a field if its value is the default value (i.e. 0) or nil, we had to remove the `omitempty` tags so we didn't have to change the test
1. We have a test that is supposed to check for a pod's `{.status.podIP}` frequently, w

[2017-01-05 19:53] smarterclayton commented on #37991
So basically anyone using jsonpath in scripting this way is potentially broken?  All things considered, we have stopped releases for much less than this.

[2017-01-05 19:54] foxish commented on #39337
If I understand correctly, this proposal is talking about top-level objects that simply update status and cannot directly control the underlying pods. So far, there was [some discussion](https://github.com/kubernetes/kubernetes/issues/38113) on implementing this sort of functionality in TPRs. For example, there is already a need to implement status reporting in TPRs such that kubernetes can interp

[2017-01-05 19:55] jsindy commented on #24687
@jingxu97 know where I can track down the Dockerfile for gcr.io/google_containers/volume-nfs:0.8

[2017-01-05 19:55] smarterclayton commented on #37991
Bumping priority so we can assess whether this constitutes an API regression

Copying in @kubernetes/api-reviewers @kubernetes/sig-cli-misc

[2017-01-05 19:58] nikhiljindal opened #39482 "kubefed should allow adding a label to cluster API resource"
Came up while discussing https://github.com/kubernetes/kubernetes/issues/29887 with @emaildanwilson .

We need a way to add labels to a cluster API resource while joining it in federation.
Something like:
`kubefed join mycluster1 --labels="region=us-central"`

cc @madhusudancs @kubernetes/sig-federation-misc

[2017-01-05 19:58] jingxu97 commented on #34127
@jsindy On the node, could you try to manually mount glusterfs and see what is the output?

Mounting command would be something like

/home/kubernetes/bin/mounter -t glusterfs -o ro,log-level=TRACE,log-file=/var/lib/kubelet/plugins/kubernetes.io/glusterfs/glusterfsvol/wordpress-4097368104-o1ucb-glusterfs.log 10.244.233.10:vol1 /var/lib/kubelet/pods/397a4848-d376-11e6-87bb-42010a8001eb/volumes/kube

[2017-01-05 20:01] nikhiljindal commented on #39482
Actually we should think hard about this. If we go this path, there are so many more flags we will have to support (essentially one for every field in the Cluster API resource). We can instead say that admins should use kubectl to modify the default cluster resource.
[code]

[2017-01-05 20:03] ncdc commented on #37991
It looks like the implementation from http://goessner.net/articles/JsonPath/ returns "false" if the input doesn't match against the jsonpath expression. How about if we just always allow missing keys, instead of making it optional and off by default?

[2017-01-05 20:04] timothysc commented on #36482
@resouer version?

[2017-01-05 20:06] smarterclayton commented on #10834
Well, since I was very skeptical of Lee's changes in terms of scope, I
can't disagree that this is potentially a much simpler path.  I think the
unfortunate choice is between a limited experience that enables you to at
least look at filesystems and potentially download other things into the
container for further debugging, or a much more complete story that is also
very complex (requires mutable p

[2017-01-05 20:10] timothysc commented on #20504
going to close this one now, we can open up issues as needed now.

[2017-01-05 20:10] #20504 closed

[2017-01-05 20:11] jsindy commented on #34127
now this is interesting. GKE shows 1.4.7

[code]

but when I login to the node directly. I see this.

[code]

[2017-01-05 20:12] ncdc commented on #37991
I'm going to do a PR that:

1. Makes jsonpath relaxed by default; i.e., allow missing keys
1. Adds a `--strict` flag that, if set, would disallow missing keys

[2017-01-05 20:12] nikhiljindal commented on #39420
cc @kubernetes/sig-cluster-lifecycle-misc ?

[2017-01-05 20:16] timothysc commented on #23398
@hongchaodeng can you comment re: v3?

[2017-01-05 20:18] nikhiljindal commented on #37991
Another example where this change broke a script: https://github.com/kubernetes/kubernetes/issues/36287 (we have since fixed the script so its not a problem any more).

[2017-01-05 20:19] bshi commented on #39480
CC @sjenning @saad-ali

[2017-01-05 20:23] jingxu97 commented on #24687
It is here
https://github.com/kubernetes/kubernetes/tree/master/test/images/volumes-tester/nfs

On Thu, Jan 5, 2017 at 11:55 AM, Joshua Sindy <notifications@github.com>
wrote:

--
- Jing

[2017-01-05 20:28] jayunit100 commented on #20064
makes sense,  the PodStatus updater in the scheduler handles the update mutate logic to .

[2017-01-05 20:28] timothysc commented on #22448
closing now enabled by default.

[2017-01-05 20:31] #39395 closed

[2017-01-05 20:31] madhusudancs commented on #39453
Please use the flag.

[2017-01-05 20:32] timothysc commented on #5933
v3 will allow us to remove this pretty easily but we are now waiting 1 release before making registry and data model changes.

[2017-01-05 20:36] timothysc commented on #9290
So across several releases we have a workflow that works for publishing updates, it definitely needs refinement, but it works none-the-less.  I'm going to close out this issue and if we have specific issues on our update mechanics we can handle that separately.

[2017-01-05 20:36] #9290 closed

[2017-01-05 20:37] rootfs commented on #38362
@kim0 fix is in #37845

[2017-01-05 20:40] timothysc commented on #10412
issue expired.. ;-)

[2017-01-05 20:40] #10412 closed

[2017-01-05 20:42] timothysc commented on #18791
closing, no longer applies. 0xDEADBEEF

[2017-01-05 20:42] #18791 closed

[2017-01-05 20:45] ReneSaenz commented on #17648
Can somebody point me in the right direction?  I am confused. I cannot find controller here
https://github.com/kubernetes/kubernetes/tree/master/pkg/registry

The controller I found is here
https://github.com/kubernetes/kubernetes/tree/master/pkg/controller

[2017-01-05 20:48] mrkurt commented on #3760
@justinsb @yoshiwaan did anyone ever create an issue for this? My search fu is failing me, and I have a similar need.

[2017-01-05 20:51] #24578 closed

[2017-01-05 20:53] timothysc commented on #26015
A lot of work was put into 1.4/.5 that fixes this issue, closing.

[2017-01-05 20:53] #26015 closed

[2017-01-05 20:56] msau42 commented on #39459
I did #2 and it worked.  Since the nfs pv example uses "retain" as the reclaimpolicy, I had to manually delete the pv and recreate the pv to make it available.

[2017-01-05 21:09] kpgriffith commented on #26230
@thockin Okay.  I'd like to pick it up if no one else is working on it.  You want the same approach from the closed PR?

[2017-01-05 21:09] #15056 closed

[2017-01-05 21:11] timothysc commented on #39221
we just switched to etcd3 default today, so I'm going to close this one and if we see it again please assign to @kubernetes/sig-scalability-misc

[2017-01-05 21:11] #39221 closed

[2017-01-05 21:14] #21971 closed

[2017-01-05 21:15] #37521 closed

[2017-01-05 21:17] thockin commented on #26230
#28432 seems like a good starting place.  Please make sure to comprehend it and figure out what makes the most sense :)

[2017-01-05 21:20] sjenning commented on #39480
guess it doesn't matter how it happens; it does.  creating a fix.

[2017-01-05 21:20] verb commented on #10834
Agreed. In the very best case my proposal will take a long time to fully implement, but the complete troubleshooting story is important for Kubernetes overall. Ideally we could find a limited solution that makes progress towards a complete solution, like `kubectl debug` to troubleshoot a duplicate pod before being able to troubleshoot a running one.

The most contentious part of my proposal is mut

[2017-01-05 21:21] crockpotveggies opened #39489 "GCE Cloud: Service (LoadBalancer) networking breaks when pod is restarted"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
Google Cloud
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
none
- **Others**:
none

**What happened**:
We have a replication controller that is responsible for our external REST API. The pod is exposed via a service. Whe

[2017-01-05 21:24] gnufied commented on #39480
If the pod is still around(even if failed state), can you paste output of `kubectl describe pod <pod-name>`. Just wondering how did the pod get in that state.

[2017-01-05 21:27] linki commented on #28525
thx @paultiplady for letting us know about this discussion.

Indeed, it looks like `mate` tries to solve the same problem as kops’ `dns-controller`.

What it currently does:
* DNS names for type=LoadBalancer services
* DNS names for Ingress rules’ hostnames
* DNS names for type=NodePort services (open PR)
* supports Google CloudDNS (A records) and AWS Route53 (Alias)

It’s serving us well so far a

[2017-01-05 21:39] sjenning commented on #39480
looking at https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/plugins.go#L233-L242

seems that there is a `Volume` field for temporal volumes (configmaps, secrets, etc) and a `PersistentVolume` field for persistent volumes and only one is set at a time.

[2017-01-05 21:40] timothysc commented on #33693
reopening, b/c we reverted and I need to cleanup that fixed PR.

[2017-01-05 21:42] kargakis commented on #17648
@oscerd sorry about that, there are other onboarding issues you can have a look at:
https://github.com/kubernetes/kubernetes/labels/help-wanted

@ReneSaenz the respective registry package for RCs can be found below:

[2017-01-05 21:43] thockin commented on #28525
I think it would be super duper to have a well-tested, well-supported DNS
controller with a plugin API for new DNS backend implementations and a
schema spec for annotations that trigger the publication of DNS.  This is
exactly what annotations and controllers are designed to do.

On Thu, Jan 5, 2017 at 1:28 PM, Martin Linkhorst <notifications@github.com>
wrote:

[2017-01-05 21:47] nikhiljindal opened #39494 "kubectl throwing group is already registered error"
I brought up a cluster on HEAD on GCE using cluster/kube-up.sh. The cluster came up fine but running any kubectl command gives me:
[code]

cc @kubernetes/sig-cluster-lifecycle-misc kube-up.sh should work, right?

[2017-01-05 21:50] thockin commented on #10834
What if we *always* injected a toolbox volume into every container, and you
could make `kubectl toolbox -ti podname -c container` be the equivalent of
`kubectl exec -ti podname -c container $(kubectl get pod podname -o
go-template='.status.toolboxPath')/bin/bash`

On Thu, Jan 5, 2017 at 1:20 PM, Lee Verberne <notifications@github.com>
wrote:

[2017-01-05 21:53] grosskur commented on #39480
@sjenning: Thanks for the quick PR!

[2017-01-05 22:02] msau42 commented on #39459
I also tried the "" class suggestion, which also worked, but would require users to use a beta feature to have this behavior.

[code]

[2017-01-05 22:03] mstump commented on #34978
I think we should probably put a stake in the ground and declare that StatefullSets are the preferred mechanism and deprecate the other examples. If that's not an option then I'd prefer to have a single image. It'll drive up complexity, but it'll be easier to maintain then 3-4 separate images.

I've got mixed feelings about moving the code/image in or out of the repo. On one hand it's easier to it

[2017-01-05 22:03] fraenkel commented on #38774
The server side can change all it wants but the client will never display the information being sent back. The restclient is transforming all errors into an unstructured error which drops all useful information.

[2017-01-05 22:09] copejon commented on #39459
@msau42 It seems that with the latest k8s code, dynamic provisioning / default storage class is enabled by default.   Would updating the example to reflect this (adding the "" class annotation) be the right way to solve this?

[2017-01-05 22:12] kargakis commented on #38113
Are we assuming that TRP implementations will be workload controllers only? Certainly, operators are a neat idea but so is the idea of expressing relations between api objects (AppController, OpenShift triggers also fit here).

[2017-01-05 22:15] timothysc commented on #38949
So I'm going to ignore all the other comments and "just say no!"

Events by were always intended to be ephemeral, if folks want a history service, then create a history service and shunt events out of etcd entirely.  At the scales we reach today, and want to reach tomorrow this type of decision option is untenable.

[2017-01-05 22:20] jessfraz commented on #35462
Just to update working on test-infra things here: https://github.com/kubernetes/test-infra/pull/1515/files

[2017-01-05 22:26] MrHohn commented on #39420
The network load balancer for k8s service should be deleted by the `service controller` automatically.

Was the LoadBalancer type serivce working normally after you created it? Could you still reproduce it?

As a side note, turning off a cluster with LoadBalancer type services exist may leak the network load balancer resources on GCE.

[2017-01-05 22:31] timothysc commented on #39032
@lachie83 Are you trying to open the same scheduler on a different annotation?  b/c that's not really how it was intended to be used.  The multiple scheduler model was to allow for domain specific 3rd party schedulers.  The endpoint lock on the main scheduler would have to be re-jigged to allow this.

Are you looking for a practical use case or are you tinkering?

[2017-01-05 22:31] copejon commented on #39119
@saad-ali just saw this, will start digging into it

[2017-01-05 22:36] mikedanese commented on #39420
@kubernetes/sig-network-misc

[2017-01-05 22:39] kargakis commented on #39337
I love the idea of TPR in general but I am not convinced about structuring it to fit the needs of a workload controller api-wise and I don't believe it will prevail our core controllers for running workloads in the future although I believe operators will be used for running many things. One thing worth considering is how easy it can be for a user to run custom logic by using TPRs vs an external D

[2017-01-05 22:41] MrHohn commented on #39489
It seems like kube-proxy didn't work as expected and it stopped to update the new endpoints appeared(the restarted pods). Is there anything worth to notice in kube-proxy's logs?

[2017-01-05 22:49] jingxu97 commented on #38498
@SleepyBrett @dhawal55 , we tried the same steps you mentioned above, but could not reproduce the error. Could you share your kubelet log so that we can check why the volume directories are not getting cleaned up? Thanks!

[2017-01-05 22:58] kargakis commented on #25554
How does the annotation end up in the pod template?

[2017-01-05 22:59] crockpotveggies commented on #39489
Looking at kube-proxy.log it appears that k8s simply removes the restarted container endpoint, but never comes back to reinstate it:

Machine 1:
[code]

Machine 2:
[code]

Machine 3:
[code]

All other compute instances look nearly exactly the same.

[2017-01-05 23:04] MrHohn commented on #39489
Could you try `kubectl get endpoints http-api` and confirm the new pods are in?

[2017-01-05 23:07] verb commented on #10834
Assuming this is implemented using something like container image volumes (i.e. reusing existing image build system, distribution channels, resource efficiency via caching & layer sharing, etc) it has only a few disadvantages:

1. It couples troubleshooting tools to pod creation, and one of our goals was to get the freshest utilities at debug time and free us from updates due to CVEs unrelated to

[2017-01-05 23:13] pwittrock commented on #38774
@AdoHe Do you have time to figure out why the 1.5.1 kubectl client doesn't print the error messaging?

[2017-01-05 23:16] k8s-merge-robot opened #39498 "TestDelete {etcd}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/1817/
Failed: TestDelete {etcd}

[code]

[2017-01-05 23:17] crockpotveggies commented on #39489
Looks like k8s has been aware of the pods for 90 days, perhaps the issue is originating elsewhere?

[code]

[2017-01-05 23:20] pwittrock commented on #26202
@hjacobs What you are describing seems like it would be a separate issue.  Is this something you would do with apply?

[2017-01-05 23:30] gnufied commented on #38498
@SleepyBrett And just to double check - is `/var/lib/kubelet/pods/<pod-id>/volumes` directory non-existant for you as original reporter as well? Or if it exists - is it empty or contains some files and folder?

For example, for an Orphan pod here is how it looks for me:

[code]

And this consistently produces the same warning you are seeing. But original reporter had a case where - the `volumes` d

[2017-01-05 23:32] pwittrock commented on #38774
Actually this might be a good one for @jessfraz to check out.

[2017-01-05 23:34] MrHohn commented on #39489
And have you tried accessing the service through the internal service IP? To confirm it isn't a problem with the external LoadBalancer?

[2017-01-05 23:43] crockpotveggies commented on #39489
Let me quickly replicate this pod/r.c./service and force a restart and see if I can indeed force a restart. Will get back to you shortly, and then I'll use your suggestions as a checklist.

[2017-01-05 23:48] shyamjvs commented on #39245
Thanks @Random-Liu ! This PR is super helpful. I was suggesting a solution similar to this in my last comment, as modifying the client library would make it available to all the downstream libraries (npd, heapster, etc).
There is a small caveat that still remains:
- We want to use npd with authentication (so the option of `insecure=false` is ruled out). But we also cannot use service account for n

[2017-01-05 23:55] sheerun commented on #29059
I have similar issue to @hanikesn with fresh kubeadm install on kubernetes 1.5.1

[2017-01-06 00:00] whitlockjc commented on #27281
I've been running into this as well.

[2017-01-06 00:02] yoshiwaan commented on #3760
I didn't raise it myself

[2017-01-06 00:04] mengqiy opened #39500 "kubectl should support [*] for strings in jsonpath"
Originally from kubernetes/charts#366

[code]

According to https://github.com/kubernetes/charts/issues/366#issuecomment-270776575, kubectl used to support `[*]` for strings in 1.4.
But kubectl now complains about using `[*]` for strings in 1.5.

@kubernetes/sig-cli-misc

[2017-01-06 00:08] whitlockjc commented on #27281
I think I'm going to see if I can get `hack/local-up-cluster.sh` to build `gcr.io/google_containers/kubelet` locally when `DOCKERIZE_KUBELET` is set.

[2017-01-06 00:09] david-mcmahon opened #39501 "kube::release::package_hyperkube() fails to complete"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes version** (use `kubectl version`): Top of master
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.1", GitCommit:"8ef690251641b7df6749f67abff86fa01c10b070", GitTreeState:"clean", BuildDate:"2017-01-05T23:16:32Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
Build

[2017-01-06 00:13] SleepyBrett commented on #38498
[code]

[code]

[2017-01-06 00:24] shyamjvs commented on #39245
I'm sorry about the confusion. Looks like this won't be needed as the npd runs in a separate container on which the path to the service account file is (of course) writable. I guess I was confusing this with the option of also morphing the npd binary into the kubemark binary (which currently morphs into the hollow-kubelet or the hollow-proxy binary, based on the command line argument passed to it)

[2017-01-06 00:26] ixdy commented on #39501
cc @gajju26

[2017-01-06 00:27] mrkurt commented on #3760
Ahhhhh, I think I found it, this appears to be the feature/fix: https://github.com/kubernetes/features/issues/27

Seems to be beta as of 1.5.x.

[2017-01-06 00:33] nikhiljindal commented on #39494
Sorry I had brought up my cluster by running `go run hack/e2e.go -v --up --build` and not cluster/kube-up.sh.

cc @ixdy @spxtr

[2017-01-06 00:51] vklonghml commented on #39467
@gnufied thks for your reply, here are the output:
Name:		myclaim-1
Namespace:	default
Status:		Pending
Volume:
Labels:		<none>
Capacity:
Access Modes:

[2017-01-06 00:58] vishh commented on #34127
There can be multiple kubelet binaries on the node. The version available
via $PATH is not what is typically used by the cluster. Look under
`/home/kubernetes/bin` for the kubelet that's being used.

On Thu, Jan 5, 2017 at 12:11 PM, Joshua Sindy <notifications@github.com>
wrote:

[2017-01-06 01:05] s332401890 commented on #39456
ths

[2017-01-06 01:20] bjornswift opened #39502 "Update the vendored version of aws-sdk-go"
Can the vendored version of aws-sdk-go be upgraded? We're hitting AWS ECR throttling limits on GetAuthorizationToken which should be retried by aws-sdk-go. However, Kubernetes is vendoring an old version of the SDK which has poor retry logic. Newer versions of aws-sdk-go have improved on this, and upgrading to a newer version of the sdk would be great (as we believe that would retry properly and s

[2017-01-06 01:24] vklonghml commented on #39467
@gnufied i don't think is the gluster/heketi configuration problem, even the gluster has a  problem, the default storageclass will create a pv, and create a volume, but execute the command "kubectl get event -w", there is no errors about it.

[2017-01-06 01:33] timstclair commented on #36997
I don't disagree, but it's not strictly a requirement for supporting ConfigMaps (kubelet could create a file with the contents). An open question is whether to pass it as a raw string, or wait for https://github.com/kubernetes/kubernetes/issues/39128 and pass the structured data.

The annotations way is deprecated (https://github.com/kubernetes/kubernetes/issues/30819). I think the bigger question

[2017-01-06 01:49] EamonZhang commented on #22351
@liggitt

I kown clearly now. Thx

[2017-01-06 01:54] csbell commented on #33312
@mwielgus, I can take this one.

[2017-01-06 01:58] gnufied commented on #38498
Okay so orphaned pods may not get cleaned up properly for variety of reasons - I think we have at least one ticket to handle such cases.

But what you are seeing is intended behavior. I have opened a simple PR that splits the messaging between two -  https://github.com/kubernetes/kubernetes/pull/39503

[2017-01-06 01:59] timstclair commented on #29326
Also `/var/lib/kubelet`, which includes the kubelet credentials.

[2017-01-06 02:25] kenzhaoyihui commented on #37063
@luxas  Thank for your explanation. I will try again. That  is  a strange design, what is the purpose of this? Could you explain it for me? Thanks in advance!

[2017-01-06 02:37] k82cn opened #39505 "update-generated-docs.sh updates all links to kubernetes/community"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature request

**Kubernetes version** (use `kubectl version`):
master

**What happened**:
all md files in docs are updated.

**What you expected to happen**:
create a PR for the update or skip `mungedocs`

**How to reproduce it** (as minimally and precisely as possible):
run `./hack/update-generated-docs.sh`

[2017-01-06 02:59] feiskyer commented on #36997
Yes, already opened #39130 to replace annotations with typed structs.

I personally prefer  a structured data type in both kubernetes API and CRI. @yujuhong @euank WDYT?

[2017-01-06 03:16] emaildanwilson commented on #39271
I hit this issue today as well trying to kubefed init against minikube.

[2017-01-06 04:08] shiywang opened #39506 "go get gazel.v8/gazel failed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-01-06 04:17] emaildanwilson commented on #29887
If we want to reuse the same logic for podnodeselector then I think it will need to be updated to be more generic and allow for more than just pods. It seems to be filtering that currently. https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/podnodeselector/admission.go#L93

Should I instead create a new admission package for clusterselector?
Is there a preferred approach to

[2017-01-06 04:26] thockin commented on #39420
I have a 1.4.6 cluster and it works for me.  The kube Service is really
gone?  Is this a user-defined Service or a kube-system?  Can you get logs
from kube-controller-manager that span the deletion of the Service and
failed LB removal?

On Thu, Jan 5, 2017 at 2:37 PM, Mike Danese <notifications@github.com>
wrote:

[2017-01-06 04:42] roberthbailey commented on #39420
@thockin I think this is a GKE cluster so we can access logs if we know the cluster.

[2017-01-06 04:51] olostan opened #39508 "Azure CS: No space left on device during mounting default token"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure CS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04 LTS
- **Kernel** (e.g. `uname -a`): 4.4.0-57-generic
- **Install tools**: Azure cli (2 agents, standard d2)

**What happened**:
Everything were working, until I decided to update deployment (using `replace`). After that

[2017-01-06 04:58] HardySimpson commented on #39048
Done, thanks

[2017-01-06 05:04] hridyeshpant opened #39509 "masters causing route53 rate exceeded/Throttling issue in AWS"
**Kubernetes version** (use `kubectl version`):

kops version
Version 1.4.4

kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.6", GitCommit:"e569a27d02001e343cb68086bc06d47804f62af6", GitTreeState:"clean", BuildDate:"2016-11-12T05:22:15Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"darwin/amd64"}

**Environment**:
- **Cloud provider or hardware configuration**

[2017-01-06 05:12] olostan commented on #39508
Small note: assigning pod to another node solved the problem. However i can't identify any difference between nodes.

[2017-01-06 05:14] aerokite commented on #39246
The `replicationcontroller` has no finalizer. And the garbage collector controller is running.

Second option works. If we set DeleteOptions.OrphanDependents=false, It deletes rc.

[2017-01-06 05:14] xialonglee opened #39510 "flaky test: unit/integration failed in “TestNamespaceController.go”"
see:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/38621/pull-kubernetes-unit/11304/#k8siokubernetesfederationpkgfederation-controllernamespace-testnamespacecontroller

I think that test fail is nothing to do with my pr #38621

@mwielgus i tag you because the failed messages has connections with your pr #37659
and i have no idea why it fails, i tested it on my branch of

[2017-01-06 06:38] xilabao opened #39513 "fail to make quick-release (rsync error)"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`):Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.2850+4398e1edb00b7c-dirty", GitCommit:"4398e1edb00b7cd00b56abb9673467746063d148", GitTreeState:"dirty", BuildDate:"2017-01-06T09:06:04Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server

[2017-01-06 07:23] hjacobs commented on #26202
@pwittrock yes, maybe the feature "do not terminate/create pods on simple label changes (without selector change)" could be a separate issue (if this is what you were referring to).

[2017-01-06 08:12] shyamjvs commented on #39335
Here are the causes of the above tests to fail and fixes:
Test | Cause | Fix
------ | ---------| ------
ci-kubernetes-kubemark-5-gce/3443 | `${CERT_DIR}/pki/issued/kubelet.crt` wasn't found inside cluster/common.sh:create-certs even though it was surely written in generate-certs (as it didn't exit with non-zero status), so I feel that most probably the /tmp directory was cleared by the daily cron-

[2017-01-06 08:24] shyamjvs commented on #39335
This PR fixes issues with the 2nd, 3rd and 5th tests in the above table. @gmarek Could you PTAL at the PR?
Also, I think we can safely ignore the 1st test (which is super flaky) and what do you suggest about the 4th test (do we add retrying logic to just `gcloud describe` call inside detect-master function of `cluster/gce/util.sh` or let it stay as it is because there are a lot of other such gclou

[2017-01-06 08:45] Raffo commented on #28525
/cc @kris-nova @justinsb Maybe we can connect you guys with @linki and us for a discussion on how to go on with this topic?

[2017-01-06 08:50] gajju26 commented on #39501
@ixdy  Trying to reproduce and looking into this issue why it is failing for s390x.

[2017-01-06 08:58] luxas commented on #39501
Thanks. To me it looks like s390x is missing from a list somewhere, might be in the kubernetes/release repo or in build/lib/release.sh...

Note that the image did build successfully, it's the tarball creation that somehow fails

[2017-01-06 09:15] resouer commented on #36482
@timstclair v1.5.1, with calico network. It occurs whenever I restart the VM, etcd daemonset of calico will fail. I will dig deeper to make sure.
[code]

[2017-01-06 09:16] ualtinok commented on #38897
How about having kubectl to ask user for confirmation when the command is directed to federation apiserver? I never saw kubectl asking for user confirmation for anything so this may be a silly proposition.

[2017-01-06 09:33] humblec commented on #39345
@fabiand Did you get a chance to look at this ?

[2017-01-06 09:39] JorritSalverda commented on #39420
I have a forwarding rule with a creationTimestamp of `2017-01-03T12:05:37.785-08:00` that's orphaned in a cluster that's already at version 1.5.1.

It's inedeed a GKE cluster. How can I get you the project, cluster and forwarding rule name safely?

[2017-01-06 09:47] keith4743 opened #39521 "Is there a pv and pvc sample for cephfs?"
https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/cephfs/cephfs-with-secret.yaml

I found a pod sample here, is there a pv and pvc sample for cephfs?

And i have run this sample successfully on my k8s cluster.

[2017-01-06 10:03] JorritSalverda commented on #39423
See https://github.com/kubernetes/kubernetes/issues/39420 for issue of orphaned load balancers.

[2017-01-06 10:05] JorritSalverda commented on #39423
Is there a particular reason the GCE target pools that are created automatically do not have a health check set? The slow speed of updating the target pools in combination with the lack of health checks seems pretty bad for correct handling of incoming requests.

[2017-01-06 10:09] Lain92 opened #39522 "Problem with kubernetes and flocker agent-control node connectivity"
Hello,

This issue is also submitted at https://github.com/ClusterHQ/flocker/issues/2994 but the related component is part of this repository.

I tried to install Flocker with my Kubernetes cluster.
K8s version : 1.5.1
Flocker version : 1.15.0
I have problems similar to this old issue : kubernetes/kubernetes#17651
My nodes are on Centos 7.3.
I'm using VMWare-flocker-plugin to provision the storage

[2017-01-06 11:00] keith4743 commented on #39521
@resouer

[2017-01-06 11:04] ualtinok commented on #39087
Related to issue of ingress being created only one of the underlying cluster:

`E0106 10:50:08.309545       1 ingress_controller.go:725] Failed to ensure delete object from underlying clusters finalizer in ingress aning: failed to add finalizer orphan to ingress : Operation cannot be fulfilled on ingresses.extensions "aning": the object has been modified; please apply your changes to the latest ve

[2017-01-06 11:11] kargakis commented on #36482
@kubernetes/sig-scheduling-misc

[2017-01-06 11:36] fabiand commented on #39345
@humblec No, sadly not.

[2017-01-06 12:36] kris-nova commented on #28525
+1 here on getting us all together. I just read through the issue and it seems we are just about ready to start implementation. Just need to gather thoughts and get a plan together around incubation.

How do you guys want to handle this? I'm partial to jumping on a call. But anything works for me. Cheers.

[2017-01-06 12:53] jsafrane opened #39524 "Configurable timeouts for AWS"
Currently, AWS re-tries every AWS API call several times due to AWS throttling. Timers and number of retries are not configurable. They may be too long for small clusters, which are unlikely to hit API quota and too short for big clusters which would need longer recovery times.

Would it make sense to make them configurable? I don't have any real user behind this, it's more gut feeling that this m

[2017-01-06 13:08] Raffo commented on #28525
+1 for the call!
If @linki agrees, we can setup an (hangout) call next week and then report the result here. I can take care of setting it up, you can drop me an email (it's in the github profile) and we can coordinate.

[2017-01-06 14:40] stu-gott commented on #37704
I would like to work on this if nobody else is.

[2017-01-06 14:56] jayunit100 commented on #22554
- assuming  **Error on a node == error in the predicate algorithm, or in the ability of the scheduler to calculate a predicate, or handle a particular node's information content.**
If thats the case,
- then we should keep current behaviour, close the issue based on the "fail fast" mantra, rather then wallpapering over a broken predicate, or broken scheduler extension...

For example:
- Lets say et

[2017-01-06 14:59] linki commented on #28525
sounds good

[2017-01-06 15:01] liggitt commented on #38897
yeah, none of those are interactive commands

[2017-01-06 15:32] ReneSaenz commented on #17648
Picking up this issue. Thank you @kargakis

[2017-01-06 15:41] ReneSaenz commented on #17648
@lavalamp I am going to work on this issue and going to rename it to "replicationcontroller"

[2017-01-06 15:49] sebbonnet commented on #31858
We're seeing a similar issue but with DescribeInstances

Taking a quick look at the code the main place we call describe instances is for checking volumes are attached. We recently added a few volumes to the cluster but only a handful < 10 per cluster.

All our controller managers are now spamming the AWS API and now are all limited.

E.g.

[code]

Any idea what could be causing the requests @just

[2017-01-06 15:54] sstarcher commented on #31858
We have seen similar issues between 10-20 EBS volumes between a few clusters on both 1.4.6 and 1.4.7

[2017-01-06 16:01] chrislovecnm commented on #31858
Unless someone beats me too it I am going to open an issue on the DescribeInstances this morning.

[2017-01-06 16:01] chrislovecnm commented on #31858
@sebbonnet what version are you on?

[2017-01-06 16:02] chbatey commented on #31858
@chrislovecnm (i work with @sebbonnet ) 1.4.7

[2017-01-06 16:02] chrislovecnm commented on #31858
cc @kubernetes/sig-aws-misc @kubernetes/sig-storage-misc

[2017-01-06 16:34] thockin commented on #28525
Please loop me and @bowei in on the call

On Fri, Jan 6, 2017 at 7:00 AM, Martin Linkhorst <notifications@github.com>
wrote:

[2017-01-06 16:37] chrislovecnm opened #39526 "AWS PV Storage Causing API Timeouts."
**Kubernetes version**
1.3.8 <

It has been reported that this bug is in the 1.4.0 branch and above.  I have validated on 1.4.7 and 1.4.6.  We have not validated the 1.5.x branch, and an exponential back off patch just was just merged. https://github.com/kubernetes/kubernetes/pull/38766, but we do not beleive that is addressing the root problem.

**Environment**
- **Cloud provider or hardware conf

[2017-01-06 16:44] #39480 closed

[2017-01-06 16:51] chrislovecnm commented on #39526
cc: @kubernetes/sig-aws-misc @kubernetes/sig-storage-misc @saad-ali @jsafrane @jingxu97

[2017-01-06 16:52] deads2k opened #39528 "Create k8s.io/apimachinery repo"
Having multiple copies of the base apimachinery types makes it impossible to cleanly make use of client-go inside of k8s.io/kubernetes and makes it impractical to separate our the genericapiserver.

There is a pull to split out the apimachinery (https://github.com/kubernetes/kubernetes/pull/39475), but it requires updates to gengo (https://github.com/kubernetes/gengo/pull/29) which will only work

[2017-01-06 16:54] chrislovecnm commented on #39526
@saad-ali can you assign this to myself and a member of the storage team.  Also, this is a P0, sorry but you know if I write that it actually is a P0.  We have two other reports of this already, and we have multiple clusters with this behavior.

[2017-01-06 16:56] copejon commented on #39119
@saad-ali @jeffvance
Here's what I think is happening:
All the pv e2e tests use classless PVCs and predefined PVs.  This is okay as long as the pv suite is run alone.  However, when run in parallel with another test that uses PV(C)s, there is a chance of cross contamination (I think this is why the original pv e2e was also flaky).

Sometimes this manifests as `Expect(pv.Spec.ClaimRef.Name).To(Equa

[2017-01-06 17:04] thockin commented on #39420
You can email me privately thockin@google

On Fri, Jan 6, 2017 at 1:39 AM, Jorrit Salverda <notifications@github.com>
wrote:

[2017-01-06 17:14] cookeem opened #39530 "apiserver can not start in offline environment without internet"
kubectl version: 1.5.1
CentOS version: 7.3.1611

I use kubeadm to install k8s cluster in CentOS. When connect internet and set /etc/resolv.conf to public internet dns, the cluster can start normally, but when I comment the nameserver in /etc/resolv.conf then use `kubectl reset` to reset k8s cluster and reinit the cluster, it will stop here:

kubeadm init --pod-network-cidr=10.244.0.0/16
[kubeadm]

[2017-01-06 17:15] ixdy commented on #39501
@luxas ah, good call. looks like [this line](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/Makefile#L107) is the problem: https://storage.googleapis.com/kubernetes-release/network-plugins/cni-s390x-07a8a28637e97b22eb8dfe710eeae1344f69d16e.tar.gz does not exist.

[2017-01-06 17:18] ixdy commented on #39501
I think `cd build/cni && ARCH=s390x make push` is all we need to do. @freehan can you confirm?

[2017-01-06 17:22] craigwillis85 opened #39531 "KubeDNS on baremetal - will not start"
Hi

I'm trying to setup a baremetal cluster on Vultr.

I have 2 masters and 2 nodes setup, the problem is I'm having a problem with kube-dns.

Having started the service and the deployment, I'm always getting a `CrashLoopBackOff` on the kube-dns pods.

Describing one of the pods below (small snippet):

    Warning	Unhealthy	Readiness probe failed: Get http://10.200.0.55:8081/readiness: dial tcp 10

[2017-01-06 17:23] timothysc commented on #35555
Second 1/2 is addressed by #37858

[2017-01-06 17:26] kargakis commented on #29326
Seems like something that should be managed by PSP @pweil- @php-coder ?

[2017-01-06 17:29] brandoncole commented on #31858
This is affecting us as well.

[2017-01-06 17:31] guoshimin commented on #39526
We have around 50 EBS volumes. Ever since we upgraded from 1.3.8 to 1.4.7, the controller-manager has been making DescribeInstances calls at a rate of 60k/hour.

[2017-01-06 17:31] timothysc commented on #22554
I'm going to close and if folks feel strongly enough we can reopen.

[2017-01-06 17:31] #22554 closed

[2017-01-06 17:31] kargakis commented on #39424
@kubernetes/sig-cli-misc

[2017-01-06 17:32] chrislovecnm commented on #31858
I think we have a 1.3.x spam problem at scale, which is this issue.  We also have another issue not at scale https://github.com/kubernetes/kubernetes/issues/39526 in 1.4.x+

[2017-01-06 17:33] krousey opened #39532 "AUTH: Admin role cannot GET healthz"
**What keywords did you search in Kubernetes issues before filing this one?**: rbac, healthz

---

**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE

**What happened**: I manually upgraded a cluster and it hung forever trying to curl /healthz. The response that come

[2017-01-06 17:35] pwittrock commented on #39424
@ymqytw

[2017-01-06 17:37] jayunit100 commented on #35555
@timothysc you mean #39491  :) now

[2017-01-06 17:38] guoshimin commented on #39526
Now mysteriously the flood of DescribeInstances calls stopped 14 hours after the upgrade. We are now seeing only about 1.5k calls/hour and no RequestLimitExceededs.

[2017-01-06 17:39] timothysc commented on #36482
@jayunit100 - race to see who gets to this 1st.

[2017-01-06 17:39] chrislovecnm commented on #39526
@guoshimin ours continues to flood.  We have multiple clusters in a Region, and it is bad.  Once the Rate Limits start timing out, it starts to retry, and it gets bad.

Talking with @justinsb, we should only be seeing a lot of API use around volume creation, not a ton when we are at steady-state.

[2017-01-06 17:52] pweil- commented on #29326
Yes, this would fall in the realm of PSP IMO.  Right now it is an on/off for the volume type but I could imagine the use case for having specific allowed directories.

[2017-01-06 17:55] jayunit100 commented on #36482
By definition, this is not in the perview of the Scheduler, lets bounce it over to Sig-node ...

[2017-01-06 18:00] jayunit100 commented on #35117
What is remaining here.... Just an audit of parallelization ?

[2017-01-06 18:06] verb commented on #10834
Oh, ok. I assumed a configurable default. A random path is more compelling.

It makes things like $PATH, shared libraries & configuration files more
difficult. We could probably use some sort of exec shim to update $PATH and
what not, but getting bash to find /<UUID>/etc/bashrc probably isn't
possible. hmmm.

[2017-01-06 18:10] foxish commented on #31969
Assigned @sjenning and unassigned myself because I think he'd be more familiar with this e2e test.

[2017-01-06 18:12] #37926 closed

[2017-01-06 18:12] foxish commented on #37926
Hasn't recurred in a while, closing.

[2017-01-06 18:13] foxish commented on #37517
This isn't flaking anymore, closing.

[2017-01-06 18:13] #37517 closed

[2017-01-06 18:13] #36337 closed

[2017-01-06 18:18] liggitt commented on #39532
looks upgrade related. need to ensure bootstrap roles/rolebindings are reconciled on upgrade, not just when etcd is empty.
cc @deads2k

[2017-01-06 18:23] ymqytw commented on #39424
@je-al It seems that `kubectl create service nodeport` doesn't support that. So this is a feature request.

An workaround for you is that:
Create an service using `kubectl create -f`. You can specify the selector in the config file. Please take a look at [service doc](http://kubernetes.io/docs/user-guide/services/). There are several examples.
[code]

[2017-01-06 18:24] freehan commented on #39501
@ixdy Yes. That might be the problem. We never build CNI plugins for `s390x` ARCH.

[2017-01-06 18:24] gmarek commented on #39335
Let's not fix everything - fix just the things that you need, and direct vicinity.

[2017-01-06 18:34] timstclair commented on #10834
One concern I have with auto mounting debug tools into every container is it makes the tools available to potential attackers as well. For example, if an arbitrary command execution vulnerability gets you to a shell, a lot of attack paths become much easier. I thought this was the original motivation for the tool being discussed, so that we didn't need to build a shell into every container?

[2017-01-06 18:37] wongma7 commented on #39474
Think this is an issue with Docker, not `fsGroup` functionality

Since /data doesn't yet exist on the gce disk, Docker creates it with 0755 permissions when it mounts it to the container /data. This happens after kubernetes has already done its chmoding/chowning with `fsGroup`. On the second go, it works because now /data exists for the `fsGroup` stuff to chmod to 775.

[2017-01-06 18:45] crockpotveggies commented on #39489
Quick update, before I duplicated the production environment I narrowed my attention on the Google Cloud load balancer. I noticed that a health check had not been instated by Kubernetes when it was created. I created one with a frequency of 2 seconds. The load balancer is checking 5 different machines of 24 CPUs each, but typically only one or two has our HTTP API pods.

My *suspicion* is because

[2017-01-06 18:49] ixdy commented on #39501
Go 1.6 doesn't have support for s390x. I can build the s390x CNI plugin with Go 1.7.4 though.

[2017-01-06 18:53] ixdy commented on #39501
OK, built and pushed https://storage.googleapis.com/kubernetes-release/network-plugins/cni-s390x-07a8a28637e97b22eb8dfe710eeae1344f69d16e.tar.gz using go 1.7.4. (The other arches are presumably using go 1.6.something.)

@david-mcmahon can you confirm that this fixes the issue?

[2017-01-06 18:53] foxish commented on #39337
The plan with TPRs is to allow kubectl to interact with them approximately the same way as any first class kubernetes object, letting TPRs "implement" common patterns like scale and status. I think it wouldn't be a big leap to allow a TPR to implement a 'workload controller' pattern that lets a given object watch and report changes to pods that it manages. Even if we don't use TPRs for this, it se

[2017-01-06 18:55] gmarek commented on #35117
It's hard to tell if caching is done - when adding new priority functions/moving existing ones to MR-framework one pretty often discovers that more things need to be cached.

There's my PR #35630, that moves basic spreading priority function to MR-framework, which for some reason makes it worse. I didn't have time to look into that though. This needs to be done, which may require modifying MR-fram

[2017-01-06 19:00] krousey commented on #39532
It's not upgrade related. I just brought up a recent version using kube-up.sh, and it has the same issue. I think I just noticed it on upgrades because it was picking up the latest version.

kube-up.sh does a health check on /api/v1/pods while upgrade.sh does a health check on /healthz.

[2017-01-06 19:06] patrickmcclory commented on #39524
@jsafrane - we're seeing something very similar and possibly a little more focused as reported in #39526

imho there's a core concern about how we're relying on the AWS api for external validation of something that should be checked externally and validated internally -- in our case, the API calls for volumes keep pounding DescribeInstances where a node-level fdisk check would validate attach once

[2017-01-06 19:13] MrHohn commented on #39489
I need to think more about it. But a quick note is that the health check would not be needed for a general LoadBalancer type Service, because we put all node IPs as the backends instead of the real backend Pod IPs. When a request is forwarded to either node, it will be re-forwarded to one of the backend Pods. Hence it does not matter whether the Pods run on this node or not.

There is one case the

[2017-01-06 19:15] crockpotveggies commented on #39489
Gotcha, then yes it might trace back to a problem with kubectl-proxy. That would mean that all I discovered was some sort of band-aid that doesn't address the underlying problem.

[2017-01-06 19:20] ckarlsen84 commented on #35180
I believe this is caused by the upstream library go-autorest (used by azure-sdk-for-go) due to its default settings and buggy(?) implementation.

Some background:

When you submit a PUT/PATCH request to Azure you receive an operation id (the azure-asyncoperation http header) which you can use to monitor async operations (Succeeded, InProgress etc).

The psuedo implementation of virtualMachinesClie

[2017-01-06 19:24] wongma7 commented on #36170
@jsafrane I can work on this (I already have some tests, copied from/based on the internal dyn. provisioning tests, that test this from my external POV https://github.com/kubernetes-incubator/nfs-provisioner/blob/master/e2e/e2e_test.go)

[2017-01-06 19:26] jayunit100 commented on #36482
should this be bumped over to sig-node

[2017-01-06 19:26] pwittrock commented on #26202
Yes that is what I was referring to.

[2017-01-06 19:30] timstclair commented on #36997
A counter argument is that as the spec grows or new features are added, we need to keep updating the Kubernetes API to maintain parity, or update the code in each CRI implementation to translate the Kubernetes spec. OTOH, if we use unstructured data we can use 3rd party libraries to parse out the data we need (assuming the spec evolves in a backwards compatible way).

[2017-01-06 19:32] ixdy commented on #39494
cc @deads2k ref #39092 and https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/gASoXHp52R8/_7dVtpkoFQAJ

[2017-01-06 19:33] ixdy commented on #39494
@nikhiljindal what version of `kubectl` are you using?

[2017-01-06 19:36] MrHohn commented on #39489
One theory for why the health check reduced the alarm rate is that:
- One or more `kube-proxy` on nodes stopped working properly.
- Requests went to these nodes would not be forwarded correctly.
- The health check detected these bad nodes so not more requests were sent to them.

Is there any node stays unhealthy in the health check status?

[2017-01-06 19:44] crockpotveggies commented on #39489
Looks like there is indeed a problem, see image:

![screen shot 2017-01-06 at 11 43 52 am](https://cloud.githubusercontent.com/assets/1445295/21730635/73c91046-d405-11e6-8e24-7e8bb8093e1c.png)

[2017-01-06 19:48] matchstick commented on #39526
@saad-ali @jingxu97 Can you PTAL?

[2017-01-06 19:57] crockpotveggies commented on #39489
It's also worth noting that CPU usage on this machine is abysmal, indicating nothing is actually running on this machine but it's being managed by k8s somehow, I can confirm it shows up in the kube dashboard as a node.

![screen shot 2017-01-06 at 11 56 17 am](https://cloud.githubusercontent.com/assets/1445295/21731020/2c0ec2f8-d407-11e6-91ef-fe54c5ff1625.png)

[2017-01-06 20:03] crockpotveggies commented on #39489
Aha! Found a problem... only 2 containers exist and one of them is a pending kube-proxy pod that has been stagnant for 4 hours:
![screen shot 2017-01-06 at 12 02 30 pm](https://cloud.githubusercontent.com/assets/1445295/21731207/1afac380-d408-11e6-9489-3fb6233781a4.png)

[2017-01-06 20:16] saad-ali commented on #39526
Taking a look.

Just a thought: We have 1.5.2 going out on Tuesday. As a quick and dirty fix we could disable the volumes attached check for AWS until we have a more robust fix out for AWS.

I'll sync with @jingxu97 and folks offline and then circle back with short and long term recommendations.

[2017-01-06 20:17] enisoc opened #39541 "Cannot list statefulsets.apps at the cluster scope"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* `"at the cluster scope"`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (cho

[2017-01-06 20:17] enisoc commented on #39541
Attn @foxish

[2017-01-06 20:18] chrislovecnm commented on #39526
Hey all.  Trying to get some logs with timeouts and of course I cannot:

[code]

This is 1.4.7 code base.  It appears that we are doing 6 DescribeInstances, in parallel, which matches the cluster size.  Then we are reconciling all of the volumes.  You can hit the API limit for DescribeInstances fast.

[2017-01-06 20:20] chrislovecnm commented on #39526
See https://gist.github.com/chrislovecnm/9c8482b6e82fec13a21bee5cd9a19a60 for a longer snippet

[2017-01-06 20:22] #38983 closed

[2017-01-06 20:24] foxish commented on #39541
cc @mwielgus
This looks related to https://github.com/kubernetes/kubernetes/pull/39454

[2017-01-06 20:26] copejon commented on #39119
NFS flakes are due in part to
` Recycler failed: User "system:serviceaccount:kube-system:persistent-volume-binder" cannot watch events in the namespace "default"`  which seems to cropped up because of [new permissions enforcement](https://github.com/kubernetes/kubernetes/compare/f0f871f...834f193).

There's some framework support to setting cluster roles that should be useful.

[2017-01-06 20:28] chrislovecnm commented on #39526
@saad-ali we need to talk about the consequences of that option, I think @gnufied may have a couple of ideas.  Should all of us hop on a zoom call this afternoon real quick?  I know that @kris-nova is probably going to want to help looking a long term fix.

Also, can we get the patch backported to 1.4.8?

[2017-01-06 20:30] chrislovecnm commented on #39526
Also, a restart of the controller may sort of fix this ... I am wondering if we have a race condition.  I am not seeing timeouts on the cluster that I am pulling logs from.  It previously had timeouts.

[2017-01-06 20:30] kris-nova commented on #39526
+1 for a call. I'm very much interested in helping out with this issue, ideally coding some of all of it.

[2017-01-06 20:44] jayunit100 commented on #35117
- Im not sure what the MR Framework stuff is referring to.  Can you provide me a pointer ?
- Should we close this issue since the original patches for caching were done?  Sounds like the work we're referring to now is actually more like a second iteration.

[2017-01-06 20:45] shyamjvs opened #39543 "e2e rbac-binding for kubelet should have a weaker role than cluster-admin"
Ref [kubelet-binding.yaml](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/e2e-rbac-bindings/kubelet-binding.yaml)

From the comments in the file, it appears that the kubelet role binding is required because its certificate in GKE environments doesn't include it as part of the `system:nodes` group (which has the `system:node` role bound to it as part of rbac bootstrapping). But

[2017-01-06 20:45] gnufied commented on #39526
I did some investigations and part of those `DescribeInstances` flood is defenitely coming from - https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L111 which runs every 5s.

I am thinking we should make the SyncInterval user configurable. Also, since we allow parallel executions of that check  - it is possible to flood EC2 with API re

[2017-01-06 20:47] gnufied commented on #39526
A quick workaround  is - restart your controller-manager, that will reduce those request.  I guess that is what might have reduced the API calls for  @guoshimin

[2017-01-06 20:48] saad-ali commented on #39526
Chris let's do a call from 2:30 to 3:30 PM

[2017-01-06 20:49] hjacobs commented on #39509
@hridyeshpant maybe this should be an issue for kops? DNS controller is part of kops AFAIK: https://github.com/kubernetes/kops/tree/master/dns-controller

BTW: we are using an alternative "DNS Controller" for AWS Route53: https://github.com/zalando-incubator/mate

[2017-01-06 20:53] gmarek commented on #35117
"MR-style" parallelization, that was mentioned before. Yeah, I guess we can close this - this is more like an ongoing process thing, when everyone who adds anything to the scheduler needs to keep it in mind.

[2017-01-06 20:53] #35117 closed

[2017-01-06 20:56] hjacobs commented on #38910
@tylerFowler the Kubernets AWS integration relies on the `KubernetesCluster` tag to find the correct subnets. We also have (different to yours) issues with that as we want to use multiple clusters in the same subnet(s), see #35052.

[2017-01-06 20:57] foxish commented on #39541
Looks like an authorization issue. It doesn't seem to happen on a local cluster.

From APIServer logs:
[code]

[2017-01-06 20:58] calebamiles commented on #39521
Hello @keith4743 you might want to ask your question on StackOverflow so that it might be preserved for others in the future per the [official suggestions](http://kubernetes.io/docs/troubleshooting/). Alternatively someone from [SIG Storage](https://github.com/kubernetes/community/blob/master/sig-storage/README.md) should be able to help you out. If you are looking for examples of using CephFS as

[2017-01-06 21:00] ideahitme commented on #39509
@hridyeshpant feel free to take a look at the AWS/GKE DNS controller we are running in our cluster setup (https://github.com/zalando-incubator/mate)

Mate is only making Route53 API calls in two cases (and not hitting the AWS API limitation):
1. When new service is created - this case is tracked via Kubernetes service monitoring, hence immediate update when service is created
2. Every minute we sy

[2017-01-06 21:04] hjacobs commented on #37492
@justinsb @hanikesn I would love to have a more configurable approach regarding "AWS environment detection". The `KubernetesCluster` tag leads currently to issues like #35052 and I think something like cluster name / ID could also be (optionally) passed via a config flag instead of calling `ec2:DescribeTags`.

[2017-01-06 21:05] luxas commented on #39501
Just FYI, I'm generally updating to go1.7 (including cni) in this PR: https://github.com/kubernetes/kubernetes/pull/38926

Thanks @ixdy for pushing that, I believe it will fix the issue.
(@ixdy Side note, have you now made sure every `Makefile` is pushed from from the PR @gajju26 made where he added s390x to the lists everywhere?)

[2017-01-06 21:11] guoshimin commented on #39526
I did restart the controller-manager a number of times. The first couple
times didn't seem to have any effect on the request rate though. How
exactly does restarting help reduce the request rate?

On Fri, Jan 6, 2017, 12:47 PM Hemant Kumar <notifications@github.com> wrote:

A quick workaround is - restart your controller-manager, that will reduce
those request. I guess that is what might have redu

[2017-01-06 21:23] montanaflynn commented on #13488
We would also like to see this for deployments maybe like `kubectl restart deployment some-api`

[2017-01-06 21:29] MrHohn commented on #39489
Glad we found the problem. Do you notice any log(from `kube-proxy` or `kubelet`) or event showing why the kube-proxy stayed in pending?

A quick fix for this would be to kill this kube-proxy pod and let the system recreate it automatically. Or if there is something wrong with this node itself, restart this node may help. But you may want to keep this node for investigation.

[2017-01-06 21:32] whitlockjc commented on #27281
It looks like this was removed here: https://github.com/kubernetes/kubernetes/commit/eb652814db401059de9f83074ce997240073e2c0  Seeing that `DOCKERIZE_KUBELET` requires this, is it work bringing back `cluster/images/kubelet`?

[2017-01-06 21:38] rootfs commented on #39521
There is no cephfs PV example yet. You can find a similar PV example using NFS at https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/nfs/nfs-pv.yaml

[2017-01-06 22:02] davidopp commented on #27204
I got clarification from @vishh and @dchen1107, and the statement "Add top level scheduler check to ensure that pod can be scheduled on the node by estimating left over resources on the node" should say "Add Kubelet admission control check to ensure pod can be scheduled on the node taking into account resources that are technically free but are still being cleaned up (reclaimed) on the node so not

[2017-01-06 22:10] lavalamp commented on #38949
Yeah, events were intended to be archived and read from the archival store.
I'm not in favor of doing stop-gap work to make the etcd events stick
around longer.

On Thu, Jan 5, 2017 at 2:15 PM, Timothy St. Clair <notifications@github.com>
wrote:

[2017-01-06 22:14] matthiasr commented on #38949
Fair enough. How can this, and the options to do so, be made more clear to
people building clusters?

On Fri, Jan 6, 2017, 23:10 Daniel Smith <notifications@github.com> wrote:

[2017-01-06 22:16] lavalamp commented on #39017
Just want to agree that we should encourage usage of PATCH, even if it
increases apiserver footprint, it decreases client CPU and network usage so
it's probably already a net win even if we don't optimize it.

but in regards to optimizing it, I know I have seen go libraries for
turning map[string]interface{} directly into structs--if it's not too late,
it would be good to look for something to use

[2017-01-06 22:17] davidopp commented on #38949
#36304 is relevant (I think)

[2017-01-06 22:23] csbell opened #39550 "bazel needs new busybox release"
PR [here](https://github.com/kubernetes/kubernetes/pull/39548)

[2017-01-06 22:32] saad-ali commented on #39526
To summarize, we suspect that the check introduced in https://github.com/kubernetes/kubernetes/pull/34859 is casuing AWS to quickly hit quota limits.

The current plan is to make two changes:
1. Reduce the rate of the `GetAttachedVolumesPerNode` check from every 5 seconds, to 1 per minute.
2. Add a flag to the `kubernetes-controller-manager` to gate the `GetAttachedVolumesPerNode` check so that it

[2017-01-06 22:38] fejta commented on #35588
Are we still working on these @nikhiljindal

[2017-01-06 22:38] fejta commented on #35588
?

[2017-01-06 22:38] gnufied commented on #39526
@saad-ali quick update @chrislovecnm has volunteered to do the patch instead of me. I will review etc.

[2017-01-06 23:04] lucasmundim opened #39554 "Auto-populated labels are not set if kubelet is started with --node-labels flag set to some custom labels"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): node labels

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPO

[2017-01-06 23:14] crockpotveggies commented on #39489
On this specific node both kube-proxy log and kubelet logs are empty. Not sure why that is. I'll take a snapshot and then I'll kill it and see if anything changes.

[2017-01-06 23:20] nikhiljindal opened #39555 "kubefed init needs to create rolebinding to allow cluster controller to fetch secret"
With the latest rbac changes, federation cluster controller is not able to fetch secrets from host cluster for registered clusters.  The exact error is
`error in fetching secret: User "system:serviceaccount:federation-system:default" cannot get secrets in the namespace "federation-system"`
As a result, registered clusters never turn ready.

Running the following fixed the problem for me:
[code]
We

[2017-01-06 23:23] crockpotveggies commented on #39489
After manually deleting that pod the problem comes back:
[code]

[2017-01-06 23:26] lavalamp commented on #39434
I support moving the validation to the server.

On Wed, Jan 4, 2017 at 1:05 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-01-06 23:30] lavalamp commented on #39086
good question-- can you file an issue so we can track that? It's easy to
create the repo but I'll have to look up how to configure the bot to do the
copies.

On Thu, Jan 5, 2017 at 8:16 AM, David Eads <notifications@github.com> wrote:

[2017-01-06 23:36] colemickens commented on #35180
@ckarlsen84 Thank you for this analysis.  Did you happen to notice if the API is advertising a poll duration of 60 seconds, or if the fallback logic is being invoked and thus polled after 60 seconds?  My understanding is that go-autorest should be respecting the poll interval advertised by a header in the async operation response.

Could I get you to open an issue on `go-autorest` for this? In my

[2017-01-06 23:44] saad-ali commented on #39526
Ack, let's get the changes in ASAP and cherrypicked so that 1) we have time to verify the fix, and 2) we have time for the fix to bake over the weekend before the release.

1.5.2 with these changes should go out on Tuesday, Jan 10.
We pulled up the 1.4.8 release date to Tuesday, Jan 10 as well.

Speaking with @justinsb it sounds like a better long term fix is to batch requests to the AWS API--we d

[2017-01-06 23:53] Reifier opened #39557 ""Failed to setup network for pod \ using network plugins \"cni\": no IP addresses available in network: podnet; Skipping pod""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

I tried requesting for help on Slack and SO. No results.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Here is the issue that I thin

[2017-01-07 00:02] #38857 closed

[2017-01-07 00:04] lavalamp commented on #39528
It'd be nice to have step 5 ready to go so we don't end up with a big mess.

I'd like to have a nice README ready to go before I make this repo, so people will be able to understand its scope. E.g., target users include both client and servers, so nothing specific to one of those should appear in the repo. Where and how to make changes. Stuff like that. The mirroring stuff is confusing enough alre

[2017-01-07 00:07] emaildanwilson commented on #29887
@nikhiljindal Any thoughts here... is it better to have the code all exist in the federation subdirectory?

[2017-01-07 00:20] lucasmundim commented on #39554
Sorry for the invalid report, the problem was that I was specifying the labels for --node-labels surrounded by quotes (like --node-labels="foo=bar"), causing them to be invalid labels.

[2017-01-07 00:20] #39554 closed

[2017-01-07 00:30] enisoc commented on #24946
@janetkuo Could you assign this to me? I'm planning to pick up the remaining work on this (targeting 1.6):

* Make sure all workload controllers (RC, RS, SS, DS, Deployment) populate controllerRef according to the [proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/controller-ref.md). As mentioned above, some have already been done.
* Update workload contro

[2017-01-07 00:32] lavalamp commented on #37040
thanks for figuring this out, @wojtek-t!!

On Tue, Nov 29, 2016 at 5:04 PM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2017-01-07 00:33] patrickmcclory commented on #39526
@saad-ali - batching is not an acceptable solution--given that these calls will still incur the same 'cost' in terms of rate limiting on the AWS side of things, all this will do is concentrate pain.  We need a better solution overall and a more intelligent means of accomplishing the goals related to the underlying need to query AWS (or maybe any underlying infrastructure) in 'panic mode' constantl

[2017-01-07 00:45] lavalamp commented on #37421
Followup: is this still a live issue or can it be closed?

On Thu, Dec 1, 2016 at 11:19 AM, Chao Xu <notifications@github.com> wrote:

[2017-01-07 00:50] nikhiljindal commented on #29887
Sorry it is not clear to me why do we want an Admission controller for this?

I was hoping that we can just update federation controllers to look at the cluster selector annotation and then create resources in only those clusters that match the annotation instead of creating it in all clusters (which is what they do today).
Am I missing something?

[2017-01-07 00:51] Random-Liu commented on #39489
@crockpotveggies Could you login into the bad node, and run `docker images` to check whether there is kube-proxy image listed?

IIUC, we don't really push the kube-proxy image to gcr and pull it. We create a tarball for the kube-proxy docker image, put the tarball on the node, and use `docker load` to load the image. So kube-proxy image should have already been loaded on each node.

In your case,

[2017-01-07 00:54] #38220 closed

[2017-01-07 00:56] enisoc commented on #36859
I'm pursuing a fix for this via controllerRef (https://github.com/kubernetes/kubernetes/issues/24946).

[2017-01-07 00:58] nikhiljindal commented on #39453
Sorry maybe I didnt explain myself well.

There are 3 possible things that can happen by running `kubefed init` (without the --image flag):
* It always uses the latest release version of hyperkube to start federation control plane
* It uses the dev images from my project if present, else the release images.
* It breaks

I am fine with any of the first 2 (prefer the second), but what is happening r

[2017-01-07 01:00] scottvidmar commented on #39526
AWS should really be a fallback, shouldn't it? What's stopping asking for a local source of truth from the OS. We *should* be able to figure out what the attachment point is, if we trust the kernel... So couldn't we check fdisk -l and if that poll hits some threshold, *then* query AWS? If the volume is gone, relaunch the container, alert someone, or emit some kind of event. The point is to reduce

[2017-01-07 01:03] #39541 closed

[2017-01-07 01:04] chrislovecnm commented on #39526
@saad-ali is this code aws specific or shared using cloud providers? I believe it is part of the shared code base.

[2017-01-07 01:10] lavalamp commented on #37704
No need to ask for permission! Just say here that you're working on it, that should be sufficient to prevent duplicate work. :)

[2017-01-07 01:12] calebamiles commented on #39357
Hello @zhanghao94 and thanks for the clarification. Perhaps the information contained in [this old issue](https://github.com/kubernetes/kubernetes/issues/19171) might be of use to you. If you're still in need of help I would contacting someone from SIG Apps [using their contact information](https://github.com/kubernetes/community/blob/master/sig-apps/README.md). Good luck.

[2017-01-07 01:15] foxish commented on #39357
/cc
I can look into this later today.

[2017-01-07 01:16] saad-ali commented on #39526
This functionality was primarily put in to place because AWS calls are not atomic in the sense that when an attach/detach operation fails it may subsequently succeed and throw the attach/detach controller's internal state out of sync. This check was put in place to ensure that the internal state does not drift. Since this functionality is on the master we have to rely on the storage provider to gi

[2017-01-07 01:33] k82cn opened #39559 "Improve SIG-Scheduling code coverage"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):
master (1.6)

**What happened**:
This issue is used to trace code health investigation in preparation for Kubernetes v1.6.  Assuming a goal of **80%** coverage.

The following package are included, coverage reports are based on recent master (SHA 8667d7c4f158ce3e2d117f223e6b4

[2017-01-07 01:38] inetkiller commented on #37421
@lavalamp  upgrade kubernetes to 1.4.6 solve my problem.you can close it .thx

[2017-01-07 01:40] k82cn commented on #39559
/cc @ConnorDoyle @davidopp

[2017-01-07 01:49] k82cn commented on #39505
cc @eparis , @spxtr, @ixdy

[2017-01-07 01:59] jingxu97 commented on #39526
Thanks for all the discussion. As Saad mentioned, syncState is implemented
on master, it would be difficult to rely on disk information on the node,
which is also very error prone. for example, libeled may not updating
information for a while and master node will not notice, so the information
is out of date.

The main event that often cause actual state out of sync is when node
reboot. Volume wil

[2017-01-07 02:01] saad-ali opened #39561 "Default Storage Classes can't easily be disabled"
PR https://github.com/kubernetes/kubernetes/pull/31617/files introduced default storage classes for 1.6. They are created with cluster addon which can not easily be modified by end users (requires access to the master).

We should improve experience before 1.6 goes out.

CC @kubernetes/sig-storage-misc

[2017-01-07 02:07] Random-Liu commented on #38854
@feiskyer Does protobuf v3 have better performance than v2? I've seen significant memory usage of grpc in my benchmark. Will post some result soon.

[2017-01-07 02:13] #39550 closed

[2017-01-07 02:20] timstclair commented on #39441
cc @piosz

[2017-01-07 02:44] zhanghao94 commented on #39357
Thanks @calebamiles, the old issue said --allow_privileged=true solve the problem, but I checked this option is true by default now. so it might not solve my issue?

[2017-01-07 02:46] resouer commented on #39521
+1 to Huamin's link, @keith4743 you can have a try and submit example if it works.

[2017-01-07 02:58] feiskyer commented on #38854
@Random-Liu Didn't see related reports. Could you help also make a benchmark of v3 based on #39158?

[2017-01-07 03:26] crockpotveggies commented on #39489
Attempted to run the command and got:
[code]

I attempted to restart the daemon with known commands, but `docker-machine` and `service docker start` don't seem to work on a GCE node.

[2017-01-07 04:42] thockin commented on #39561
@mikedanese another call for addon manager to distinguish initial values
from re-asserted values.

On Fri, Jan 6, 2017 at 6:01 PM, Saad Ali <notifications@github.com> wrote:

[2017-01-07 04:51] thockin commented on #10834
Tim: I think we're still at the brainstorming stage.  :)

On Fri, Jan 6, 2017 at 10:34 AM, Tim St. Clair <notifications@github.com>
wrote:

[2017-01-07 05:07] resouer commented on #36482
@jayunit100 Yes, and I don't think adding a initcontainer like that (or the logs of scheduler there) make any difference. I will try to re-produce this offline and provide more information.

[2017-01-07 05:13] justinsb commented on #39509
Thanks for opening the kops issue.

There are actually two pieces that do DNS in kops, protokube and dns-controller.  I suspect this might be protokube, but I'll take a look and make sure!

In any case, it's a straight bug - no dns controller should be making that many API calls, particularly when nothing is changing :-)

I believe we have plans to merge mate & dns-controller and put it into the i

[2017-01-07 05:24] bacongobbler commented on #38849
Yes, @ravishivt hit it on the nail. check your host and see if port 5000 was actually bound on the host. If not then this is a duplicate of #23920.

[2017-01-07 05:31] MrHohn commented on #39489
Just to confirm, did you run commands with 'root'(sudo)?

[2017-01-07 06:02] #39506 closed

[2017-01-07 06:43] crockpotveggies commented on #39489
Aha! No I didn't 🌮
Here's the output
[code]

[2017-01-07 06:44] crockpotveggies commented on #39489
Also worth noting, I cannot delete the node at all from Google Cloud. Even though it's removed from k8s, I cannot delete it from the console, nor does changing node size in GCE remove it.

[2017-01-07 08:57] k8s-merge-robot opened #39567 "TestConfigMapController {configmap}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/1857/
Failed: TestConfigMapController {configmap}

[code]

[2017-01-07 09:19] cookeem commented on #39530
kubelet start logs like this:

tail -f /etc/log/message

Jan  7 17:10:00 centos72 systemd: Configuration file /etc/systemd/system/kubelet.service is marked executable. Please remove executable permission bits. Proceeding anyway.
Jan  7 17:10:00 centos72 systemd: Started kubelet: The Kubernetes Node Agent.
Jan  7 17:10:00 centos72 systemd: Starting kubelet: The Kubernetes Node Agent...
Jan  7 17:10

[2017-01-07 09:25] AdoHe commented on #23380
yes, `kubectl view annotations` should be something fit this case.

[2017-01-07 11:55] jonathan-kosgei commented on #34052
Hi guys, in kube 1.5.1 you can use stateful sets instead of deployments/replicasets to in a way solve this problem http://kubernetes.io/docs/concepts/abstractions/controllers/statefulsets/

[2017-01-07 12:41] hridyeshpant commented on #39509
Thanks @justinsb .you can close this as i already open issue in kops.
Do you have any workaround on this? i am completely blocked due to this issue and have to disable kubernetes masters.

[2017-01-07 13:01] deads2k commented on #39528
I'll write one up Monday morning.  Since this in direct support of kube I think we can start it with a branching pattern to match kube and no compatibility guarantees for the foreseeable future.  Those who vendor must know what they're doing, just like they must today.

I can split tests in a different pull and then I ought to be able to include the "no touching" commit in the same pull as the mov

[2017-01-07 15:14] resouer commented on #36482
@jakub-d  Could you please provide `gluster-slow-01`'s log in kube-controller-manger?

[2017-01-07 16:18] madhusudancs commented on #39453
@nikhiljindal we have discussed this in the code reviews and elsewhere. `kubefed` trades developer experience for user experience. And so it optimizes for the user experience. `kubefed` defaults to official released image of the version matching the `kubefed` version.

It is none of the three things you have listed here but it is better than all the three.

How do you reliably determine the latest

[2017-01-07 16:35] kargakis commented on #34052
The statefulset reaper is still baked in the cli as far as I know

On Sat, Jan 7, 2017 at 12:56 PM, Jonathan Kosgei <notifications@github.com>
wrote:

[2017-01-07 16:39] ckarlsen84 commented on #35180
@colemickens

There is no Retry-After header (or anything that would indicate a recommended poll duration) from the API.

I've also noticed that the operation status API is quite slow to report success.

00:00 Send detach disk request
00:16 The disk is removed from the machine according to kernel log
00:17 ... 00:28 Operation API reports In-Progress
00:29 Operation API reports success

The same th

[2017-01-07 16:57] kargakis commented on #24946
Deployments, RC, and RS already use owner references.

Overlapping Deployments are handled gracefully by the controller manager,
you should see the first one working as expected.

On Sat, Jan 7, 2017 at 1:30 AM, Anthony Yeh <notifications@github.com>
wrote:

[2017-01-07 17:27] k8s-merge-robot opened #39569 "[k8s.io] Downward API volume should provide container's memory request [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1173/
Failed: [k8s.io] Downward API volume should provide container's memory request [Conformance] {E2eNode Suite}

[code]

[2017-01-07 17:41] kargakis commented on #39337
TPRs are going to be useful for some cases and bringing in your own status
has advantages like the example you brought up with spark jobs. I believe
there is room for both, more specialized use cases can be satisfied by
TPRs/operators but simpler use cases like the addition of hooks shouldn't
require users to come up with a new API. SS and DS will need Noop for
backwards compatibility. Furthermore

[2017-01-07 17:44] kargakis commented on #39424
I don't think we want to add any more flags for these commands cc @deads2k

You can pipe to `kubectl set selector`

On Fri, Jan 6, 2017 at 7:23 PM, Mengqi Yu <notifications@github.com> wrote:

[2017-01-07 19:02] hubt opened #39571 "t"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-01-07 19:02] #39571 closed

[2017-01-07 19:26] mkutsevol opened #39572 "Openstack blockstorage cinder v2"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

openstack cinder v2
PR (closed) https://github.com/kubernetes/kubernetes/pull/36976
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):
1.5.1

**Environment**:
- **Cloud provi

[2017-01-07 19:33] mkutsevol commented on #39572
My proposal is to move from https://github.com/rackspace/gophercloud to https://github.com/gophercloud/gophercloud because of https://github.com/rackspace/gophercloud/issues/592

rackspace/gophercloud can't be removed due to rackspace provider. They state that they will also move it to a separate repo.
Use the new library for cloudprovider/provider/openstack. It introduces minor API changes, it wi

[2017-01-07 19:40] justinsb commented on #39526
I implemented a PoC of batching in 39564.

@patrickmcclory that isn't my belief about how AWS rate limiting works - my understanding was a DescribeInstance call that returns 1 record "counts" the same as one that returns 500 (ignoring paging).  The only information I have though is here: http://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#api-request-rate

And I wo

[2017-01-07 20:00] ksingh7 commented on #23562
@1ambda @zreigz @broady @hyunchel  Guys ,  i tried creating NodePort and type: Loadbalancer for my K8s on AWS , but still the service cant get external IP. I also have the required [IAM roles created](https://github.com/kubernetes/kubernetes/tree/master/cluster/aws/templates/iam) but still does'nt work.

Any thoughts / suggestions ?

Do you think the only option is to ditch AWS and use GCE to get

[2017-01-07 20:27] tylerFowler commented on #38910
The tag is definitely another issue altogether, but I guess to narrow down the wanted effect for this issue it would be to have a more sensible default with the tag being available for overrides.

[2017-01-07 20:27] chrislovecnm opened #39573 "Error running make test-integration discoverysummarizer"
I am encountering the following exception while running `make test-integration` on master.

[code]

On centos: Linux build-01-pi 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Go: go version go1.7.3 linux/amd64

[2017-01-07 21:07] cackharot commented on #26477
Faced the same issue recently. But finally figured out the cause and solution to the issue.

Each namespace has one service token (named *default-token-xxxx*) and all pods in the same namespace get that token mount at `/var/run/secrets/kubernetes.io/serviceaccount/token` this is signed by the `/srv/kubernetes/server.key` file where kube-apiserver/kube-controller-manager runs aka cluster-master nod

[2017-01-07 21:21] cackharot commented on #39531
I also faced the same issue when setting up a local baremetal cluster using Ubuntu 14.04.

My exact issue is when the DNS pods starts it fails to authenticate with the cluster api server using service account token.

In my case I ran the `get-kube.sh` few times as I was initially playing around with it by creating few busybox pods and then moved to install DNS add-on. This messes up the cluster au

[2017-01-07 21:32] cackharot commented on #39530
Your log clearly states that

Your docker images list
$ docker images
REPOSITORY TAG IMAGE ID CREATED SIZE
gcr.io/google_containers/kube-controller-manager-amd64 v1.5.1 cd5684031720 3 weeks ago 102.4 MB
**gcr.io/google_containers/kube-apiserver-amd64 v1.5.1** 8c12509df629 3 weeks ago 124.1 MB

Pull a the correct version of the image `gcr.io/google_containers/kube-scheduler-amd64:v1.5.0` and try ag

[2017-01-07 21:36] kargakis commented on #26376
Should be fixed by https://github.com/kubernetes/kubernetes/pull/26758, closing.

[2017-01-07 21:36] #26376 closed

[2017-01-07 21:57] cackharot commented on #39414
Have a look at `/etc/systemd/system/kube-apiserver.service` file to find out where it loads the ENV variables from.

[2017-01-07 22:05] #37421 closed

[2017-01-07 22:16] kargakis commented on #39531
@craigwillis85 can you post the log of the kube-dns pod?

Maybe related to https://github.com/kubernetes/kubeadm/issues/99

[2017-01-07 22:22] ksingh7 commented on #23562
Managed to get this working by adding ``--cloud-provider=aws`` in the following unit files followed by service stop , reload , restart  on all controller nodes.

- /etc/systemd/system/kube-apiserver.service
- /etc/systemd/system/kube-controller-manager.service

There is no need to bother about using NodePort , just add ``type: LoadBalancer`` and it should work

[2017-01-07 22:55] ksingh7 commented on #10692
Managed to get this working by adding ``--cloud-provider=aws`` in the following unit files followed by service stop , reload , restart  on all controller nodes.

- /etc/systemd/system/kube-apiserver.service
- /etc/systemd/system/kube-controller-manager.service

Make sure you have correct IAM roles as mentioned by @justinsb

[2017-01-07 23:27] k8s-merge-robot opened #39574 "[k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/2002/
Failed: [k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kubernetes e2e suite}

[code]

Previous issues for this test: #27978 #28817

[2017-01-07 23:30] phemmer opened #39575 "OpenShift Origin example does not work"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
Vagrant

- **OS** (e.g. from /etc/os-release):
CoreOS

- **Kernel** (e.g. `uname -a`):
[code]

- **Install tools**:
Vagrant & https://github.com/coreos/coreos-kubernetes/tree/master/multi-node/vagrant

- **Others**:

**What happened**:
[code]

**What you expected to happen**:
Su

[2017-01-07 23:42] jbeda commented on #18610
Poking this issue again.  I think this is a part of the API that we could clean up.  As I write the services chapter for a Kubernetes book, I'm bothered by the fact that the Endpoints object doesn't follow our regular pattern (spec/status) and that sometimes it is written by a buddy service and sometimes is written directly.

Having a way to bind externally run things into the Service object and f

[2017-01-07 23:47] samreaves commented on #8441
Confirming --cascade=false enables deleting a failed deployment

[2017-01-08 00:38] kargakis opened #39576 "Namespaces are removed from the api server prematurely"
Pods can still be terminating after the respective namespace they are running in is removed from the api server:
[code]
It seems like the namespace should be removed *after* all pods are removed from the api server.
@derekwaynecarr @smarterclayton

[2017-01-08 05:12] btipling opened #39578 "There's no way to stop a job from restarting forever on failure, documentation is wrong"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): jobs, activeDeadlineSeconds, restartPolicy

---

**Is this a BUG REPORT or FEATURE RE

[2017-01-08 06:27] btipling commented on #39578
My Yaml was:

[code]

[2017-01-08 06:56] btipling commented on #39578
nm I noticed this:

And I had it on the spec instead of the job. Why are there two of them?

[2017-01-08 06:56] #39578 closed

[2017-01-08 07:47] keith4743 commented on #39521
@resouer ok, i will have a try.

BTW, another question, RBD do not support **ReadWriteMany** access mode, why k8s can use it for backend storage?

##### refer to
http://kubernetes.io/docs/user-guide/persistent-volumes/

[2017-01-08 08:10] resouer commented on #39521
Kubernetes volume plugin is responsible for detach/attach devices to right node.

[2017-01-08 08:29] #39521 closed

[2017-01-08 08:33] keith4743 commented on #39521
get it, thanx.

[2017-01-08 09:37] resouer commented on #21248
Use `--logtostderr=false --log-dir=XXX`

[2017-01-08 09:37] #21248 closed

[2017-01-08 10:37] craigwillis85 commented on #39531
This is what I did in the end as well.

Deleting the default serviceaccount seemed to work (regenerated the default
secret as well)

On 7 Jan 2017 21:22, "cackharot" <notifications@github.com> wrote:

[2017-01-08 10:56] cookeem commented on #39530
@cackharot thx, finally I find the reason, I use kubeadm v1.5.1 and kubelet v1.5.1, but when I use `kubeadm init --pod-network-cidr=10.244.0.0/16` it output like this:
[init] Using Kubernetes version: v1.5.0
kubeadm use k8s version is  v1.5.0, so I must set --use-kubernetes-version=v1.5.1 params in kubeadm init, it works!

But it's very weird, my kubeadm and kubelet both are v1.5.1, why when I use

[2017-01-08 10:56] resouer commented on #36482
I'm sure this issue is related to specific pods, it can not be re-produced on basic daemonset like this.

[code]

[2017-01-08 12:00] kargakis commented on #39531
@craigwillis85 can this issue be closed now?

[2017-01-08 12:29] #39531 closed

[2017-01-08 13:44] snowsky commented on #39576
What are the versions by the command kubectl version?

[2017-01-08 14:36] ualtinok commented on #39087
@lguminski @thesandlord
While using in GCP, creating a static global ip and annotating Ingress with:
`kubernetes.io/ingress.global-static-ip-name`

solves the problem.

[2017-01-08 14:47] sysradium commented on #37554
Still reproducible on 1.5.2. This issues looks like kind of critical :(

[2017-01-08 15:07] karsinkk commented on #37706
@nebril Has it been resolved? Can I try?

[2017-01-08 15:47] resouer opened #39581 "[kubeadm] Master role missing after kubelet restarted"
Installed by kubeadm, after a master role kubelet is restarted, it's master role (kubeadm.alpha.kubernetes.io/role=master) will lost:

Got
[code]
Expected
[code]

It is due to kubeadm only set master role to node during first deploy.
I will try to work out a patch to fix this.

[2017-01-08 16:06] #39509 closed

[2017-01-08 18:50] k8s-merge-robot opened #39582 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0s interval {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/53/
Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0s interval {E2eNode Suite}

[code]

[2017-01-08 19:46] saad-ali commented on #37554
Re-opening. Looks like folks are still hitting this.

From slack:
[code]

[2017-01-08 20:37] adriano-fonseca commented on #24152
Hello Guys!
I think that I have a relevant question related to this issue. I would appreciate any answer.
That configuration, which generate this bad behavior. I mean to have a common label between two deploys wouldn't be required to implement a canary release r? If the canary release was just a different nginx's  versions?
I am asking this because I have this configuration and don't have this mes

[2017-01-08 20:42] sysradium commented on #37554
From what I can tell this may be connected with the issue https://github.com/projectcalico/libcalico-go/issues/297

Basically deleting TPR solves the problem, but breaks calico.

[2017-01-08 20:52] mtaufen opened #39583 "hack/verify-bazel.sh failing with HTTP error 301"
When I run it locally:
[code]

Small test case to induce failure:
[code]

I am using git version 2.11.0, if it makes any difference.

[2017-01-08 20:53] sbadia opened #39584 "Upgrade on GKE from 1.4.7 to 1.5.1 - Scheduling issues for pods with a persistent volume"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
  * master and nodes on `k8s 1.5.1`
  * nodes on `Debian 7.11/3.16.0-4-amd64`

**What happened**:

During the upgrade of our cluster on GKE from 1.4.7 to 1.5.1 some pods with persistent volumes are scheduled twice for a deployment, and one of the twice pods is stuck in `Con

[2017-01-08 20:54] mtaufen commented on #39583
Also applies to `hack/update-bazel.sh`

[2017-01-08 21:49] chrislovecnm commented on #39526
@matchstick can we setup a call on Wednesday about this issue?

[2017-01-08 22:09] mikekap commented on #39584
The `StrategyType: RollingUpdate` can cause more than one pod for this deployment when doing updates. You likely want to change that to `Replace`, or at least change `maxSurge` to 0 - that's what's causing the extra pod. For reference: `Deployment` objects actually create `ReplicaSet` objects which are what create the `Pod` objects - deleting the `ReplicaSet` rather than the `Pod` may do what you

[2017-01-08 23:12] normanrz opened #39585 "kube-apiserver restarts due to failing SSHKey sync check"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bunch of bare metal servers x64
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 8 (jessie)
- **Kernel** (e.g. `uname -a`): Linux kube.scm.io 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU/Linux
- **Install tools**: kubeadm

**What happened**:
I obse

[2017-01-08 23:50] bergtwvd opened #39586 "API Server does not bind to 0.0.0.0 when configured to do so"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- Desktop HyperV
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
- **Others**:

**What happened**:
Edited ``/etc/kubernetes/manifests/kube-apiserver.json`` and changed ``--insecure-bind-address=0.0.0.0``

**What you expected to happen**:
Reboot VM.  API server still bin

[2017-01-09 00:32] bergtwvd commented on #39586
The API server is started with ``--insecure-bind-address=127.0.0.1``, ignoring the manifest from kubeadm:
[code]

In my previous install (Kubernetes v1.4.4) on CentOS this worked fine. Is there a different between CentOS and Ubuntu in how these applications are started?

[2017-01-09 01:02] snowsky commented on #39586
I got a different proccess on CoreOS:

[2017-01-09 01:49] resouer commented on #31123
@untoreh Could you please provide your daemonset yaml?

[2017-01-09 02:09] hongchaodeng opened #39589 ""go run hack/e2e.go -v --up" isn't spawning etcd3 by default"
We should have made etcd3 as the default backend for k8s cluster.
However, I followed the guide on [e2e-tests.md](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md) and it's still spawning up etcd2 backend. We should change that.

Another question is that I didn't see any option to switch to etcd3. How to do that?

[2017-01-09 02:09] hongchaodeng commented on #39589
cc @xiang90 @wojtek-t @timothysc

[2017-01-09 02:11] hongchaodeng commented on #39589
So is ./cluster/kube-up.sh

[2017-01-09 02:14] chrislovecnm opened #39590 "make bazel-build failing"
So I noticed that bazel on osx is not supported, but if you see the next comment.  I am having issues on CentOS.

I am working off of master currently. OSX with go 1.7.3.

[code]

I am getting an error:

[code]

Thoughts?

[2017-01-09 02:37] chrislovecnm commented on #39590
Another one.  Centos, with built bazel.

[code]

[2017-01-09 02:42] chrislovecnm commented on #39589
@hongchaodeng since e2e still runs tests on 1.3 and 1.4, which cannot use etcd3, what do you propose?

[2017-01-09 02:49] #39530 closed

[2017-01-09 03:04] jeffbarnes769 commented on #34395
Thanks!

[2017-01-09 03:43] k82cn commented on #38542
We decode from bytes, set defaults and then convert; but for init containers, we delay the decode from "decode phase" to "convert phase" at `Convert_v1_PodTemplateSpec_To_api_PodTemplateSpec`.

The defaults has been handled for initContainer at https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/zz_generated.defaults.go#L194 .

/cc @smarterclayton @hongchaodeng

I'm working to find a s

[2017-01-09 04:08] DjangoPeng opened #39592 "[CAfile]Failed to fetch apt pakcages"
**OS: ubuntu 14.04**
Net: behind proxy.

I'm trying to install Kubernetes 1.5.1 in my ubuntu 14.04 Linux Server, but failed!
I followed the `Install with kubeadm` tutorial, and added apt-key successfully.
But when I run `apt-get update` as root, I faced an error as below:
[code]
I checked my apt.conf and source, all is well.  Does anyone has the same issue and solution?

**I think the apt-key of k

[2017-01-09 04:33] justinsb opened #39593 "AWS: Changing Service Type / Annotation not applied to ELB"
k8s 1.4.7, kops, HA, weave, private networking

I changed the guestbook-go example service in two ways, neither of which were reflected in the ELB.  First I added the `service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0` annotation, and the ELB was not changed (that's not terribly surprising IMO).  But I then tried changing it to type NodePort (it was deleted - good) and then back to

[2017-01-09 05:23] madhusudancs opened #39594 "Federation API server is failing to process requests."
It looks like an `etcd3` compatibility issue from the initial debugging, but I haven't had a chance to do a thorough analysis.

Federation control plane creates an `etcd` container with an `etcd2` image and recent changes announced here https://groups.google.com/forum/#!topic/kubernetes-dev/WMPK5fyOorE might be the reason for the failures.

Were there any changes to generic API server to make this

[2017-01-09 05:25] k82cn opened #39595 "Ignore "codecgen-pkg-1234.generated.go" for bazel or not"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes version** (use `kubectl version`):
master

**What happened**:

One PR for master after `./hack/update-bazel.sh`.

[code]

**What you expected to happen**:
No code change after `./hack/update-all.sh` without new PR.

**How to reproduce it** (as minimally and precisely as possible):
`./hack/update-bazel.sh`

[2017-01-09 05:26] k82cn commented on #39595
@mikedanese , should I create a PR for it? or update `update-bazel.sh` to ignore `codecgen-pkg-1234.generated.go` ?

[2017-01-09 06:03] xingzhou commented on #39461
Close this issue as somebody already submitted a [PR](https://github.com/kubernetes/kubernetes/commit/9b38eaf98eafed8f73347c489291b067b15e898b) on this.

[2017-01-09 06:03] #39461 closed

[2017-01-09 06:15] mbohlool commented on #39465
Fixed by #39466, cherrypick into 1.5 by #39549.

[2017-01-09 06:50] yejw5 commented on #39414
In file `/etc/systemd/system/kube-apiserver.service`, the Env is assigned as:
[code]
And in `/etc/kubernetes/config`, the using variables are set to default values:
[code]
The new config parameters added by hand will cover the default values:
[code]
After service `kube-apiserver` started, run command `systemctl status kube-apiserver` and get following message:
[code]

[2017-01-09 06:54] xingzhou opened #39596 "Support "kubectl create role" sub-command"
Happened to see there is no sub-command like "kubectl create role" for kubectl to create a role object easily from the CLI while testing RBAC.

I'd like to work on providing a patch for the sub-command of role and cluster-role.

Welcome your comments and let me know if anything is wrong.

[2017-01-09 07:07] gajju26 commented on #39501
@Ixdy @luxas
I had been trying to reproduce this issue but I couldn't reproduce this issue because of build failure due to some other issue "_output/bin/deepcopy-gen: Permission denied" Tried to resolve this first but couldn't fix this. If I am not wrong the root cause is known for this failure and the required image is pushed also. Let me know if I have missed adding s390x support to some files.

[2017-01-09 07:32] untoreh commented on #31123
[code]

[2017-01-09 07:33] codec commented on #36503
I can no longer reproduce this issue in our 1.5.1 environment.

[2017-01-09 07:33] #36503 closed

[2017-01-09 07:50] saad-ali opened #39597 "`pull-kubernetes-node-e2e` and `pull-kubernetes-node-e2e-cri` failing with `Command failed: Permission denied (publickey)` for 1.5 branch"
`pull-kubernetes-node-e2e` and `pull-kubernetes-node-e2e-cri` pull request test suites are consistently failing with `Command failed: Permission denied (publickey)` for the `release-1.5` branch.

Example failures:
[code]

Example failures:
* https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/39549/pull-kubernetes-node-e2e-cri/
* https://k8s-gubernator.appspot.com/builds/kube

[2017-01-09 08:00] alirezaDavid commented on #33664
if `kubectl apply -f for-god-sake-update-latest-image.yaml ` can update latest image we should really happy.

[2017-01-09 08:14] Random-Liu commented on #39597
I think this is because we started to use dockerized node e2e. In dockerized node e2e, we use `-e GCE_USER=jenkins` to run the test as user `jenkins`, so as to avoid the `Command failed: Permission denied (publickey)` error.

However, https://github.com/kubernetes/kubernetes/pull/39074 is not in branch 1.5, so node e2e in 1.5 doesn't understand the `GCE_USER` env.

We should cherry-pick https://gi

[2017-01-09 08:16] Random-Liu commented on #39597
Another option to change test-infra side to not run dockerized node e2e against 1.4 and 1.5, as is proposed [here](simply let node-1.4 and node-1.5 jobs not run in docker)

[2017-01-09 08:40] shiywang commented on #39595
@k82cn I checkout a new branch, and run `./hack/update-bazel.sh` after commit some code, but I didn't see a any `codecgen-pkg-1234.generated.go` with `git diff`, does this related to some specific code change ?

[2017-01-09 08:42] micmro commented on #36992
I've just seen there is a PR that would fix this issue (tried it locally and it works): https://github.com/kubernetes/kubernetes/pull/37264

[2017-01-09 08:51] kargakis commented on #24152
@adriano-fonseca can you post the deployment yaml files you are running? Seems like they are overlapping. Are both deployments broken or is it just one of them?

[2017-01-09 08:51] kargakis commented on #39576
@snowsky I am running on master

[2017-01-09 08:56] hectorj2f commented on #19317
we are hitting this issue atm on 1.5.2

https://github.com/kubernetes/kubernetes/issues/37554
https://github.com/kubernetes/kubernetes/issues/37278

[2017-01-09 09:02] nebril commented on #37706
@karsinkk check out #39419 for discussion about it.

[2017-01-09 09:03] chbatey commented on #39526
Also seeing this and we only have a handful of volumes. Makes volumes unusable atm.

[2017-01-09 09:03] resouer commented on #39581
Note: a nice fix would be adding a node label to kubelet, but it relies on: https://github.com/kubernetes/kubernetes/pull/39362

[2017-01-09 09:12] xinxiaogang opened #39599 "Resource quota calculating incorrect under heavy resource creation"
**Kubernetes version** (use `kubectl version`):
v1.4.5

**What happened**:
I have a 3rd party resource of my CI which works as an umbrella resource. And there is a controller to spin up Jenkins pod based on this CI 3rd party resource object.
To ensure eventually consistency and tolerance, I have retry logic in my controller to re-create RC for my Jenkins if fail last time.
Further more, I have ena

[2017-01-09 09:39] gmarek commented on #24946
Job is another one that is missing IIRC.

[2017-01-09 09:53] kargakis commented on #24946
Jobs, DaemonSets, and StatefulSets, all of them still need it.

[2017-01-09 09:54] kargakis commented on #24946
CronJobs too

[2017-01-09 10:05] clearbjli opened #39600 "Packages missing for Ubuntu 16.10 (yakkety)"
Package repo for yakkety distribution is empty.

https://packages.cloud.google.com/apt/dists/kubernetes-yakkety/main/binary-amd64/Packages

[2017-01-09 10:27] kinglion811 opened #39602 "kubelet can not up of V1.5.0"
I compile the kubernetes  source code  of  v1.5.0  by go V1.6.3 on centos 7.2 amd64;
then I deploy the kube-apiserver kube-scheduler kube-controller-manager kube-proxy can work;but kubelet can not up;
**the err like this:**
● kubelet.service - Kubernetes Kubelet Server
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
   Active: failed (Result: start-lim

[2017-01-09 10:34] resouer opened #39603 "[DaemonSet] Consider log out more failed reasons of ds in DaemonSet Controller"
In [daemoncontroller](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/daemon/daemoncontroller.go), when ds can not find a fit node, `nodeShouldRunDaemonPod` will return `false` and DESIRED number of ds will become `0`.

This is confused (e.g. #36482), because we does not log out anything in that method to tell user what blocked his ds from being created.

I think we should cons

[2017-01-09 10:50] shyamjvs commented on #39244
@gmarek Can we close this issue now?

[2017-01-09 10:51] sdminonne commented on #10834
FYI @EricMountain-1A

[2017-01-09 10:55] #39244 closed

[2017-01-09 11:04] jsravn commented on #39526
I really don't trust any optimisations in the AWS code anymore, as long as calls to AWS remain synchronously triggered from non-AWS code. Regressions keep happening like this one, making AWS usage of k8s unstable. I think the AWS code should move to updating its state of the VPC periodically and asynchronously, then respond to calls with cached data. Then we can strictly control how often AWS call

[2017-01-09 11:14] Crassirostris commented on #37241
@piosz No flakes for more than a week, can be closed

[2017-01-09 11:41] jsravn commented on #39526
Can someone label this issue with sig/aws?

[2017-01-09 11:46] deitch commented on #33664
LOL!

[2017-01-09 11:46] jsravn commented on #23256
I think the warning is silly anyways, can we just remove it, or reduce its level? (any node in an internal VPC logs this)

[2017-01-09 11:47] deitch commented on #33664
But, yeah, I get @brendandburns's point that `latest` is just, well, bad. But it is a reality in many cases.

[2017-01-09 11:52] kargakis opened #39604 "k8s.io/kubernetes/pkg/master TestValidOpenAPISpec"
Haven't seen this one before and I am not sure it has any relation with the [PR](https://github.com/kubernetes/kubernetes/pull/36243) that hit it.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36243/pull-kubernetes-unit/12124/

@kubernetes/sig-testing-misc

[2017-01-09 11:57] jsravn commented on #21397
I'm one of the original authors of the PR for this. If you really want you can try cherry picking the last commit in https://github.com/kubernetes/kubernetes/pull/23576.

But we've long ago moved to using ingress. As originally discussed, that's the "right way" in kubernetes to handle external DNS. Our WIP is at https://github.com/sky-uk/feed - to use, create an ELB, then run the ingress controlle

[2017-01-09 12:10] kargakis commented on #39596
@kubernetes/sig-cli-misc @kubernetes/sig-auth-misc

[2017-01-09 12:10] deitch commented on #21397
@jsravn so how do you have it configured? Assuming you start a `Service` that can have anywhere from 1-1000s (or more) of pods in its deployment, what actually routes the traffic in from the external world, and how are you configuring it? Is the ingress controller just managing ELB, or do you have actual proxies (e.g. nginx) set up, and if so, what is connecting to them?

... which sounds like you

[2017-01-09 12:31] deads2k commented on #39555
Yes, that's a good idea.  This post has relevant links for adding bootstrap roles: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/gASoXHp52R8/_7dVtpkoFQAJ

[2017-01-09 12:35] deads2k commented on #39596
I like the the idea, but I suspect it will be harder that expected.  I would probably start by trying to specify resource group tuples as we do for regular commands.  So `kubectl create role foo --verb=get --resource=rc. --resource=rs.extensions`.

@fabianofranz for other UI suggestions.

[2017-01-09 12:54] deads2k commented on #39494
Yeah, likely a problem with an old `kubectl`  As I recall, kubectl 1.4, was bugged and failed if you had versions other than the hardcoded ones.  Something in TPR.

[2017-01-09 12:59] deads2k commented on #39532
You're sure we want to?  Annotation based skips?  I'm probably in favor, but at a certain point it starts looking more controller like than post-start-hook like.

[2017-01-09 13:01] deads2k commented on #39532
@liggitt @kubernetes/sig-auth-misc How protected should `/healthz` be by default?  We chose to defend it in openshift, but that makes for some challenges when describing readiness checks inside of a pod.

[2017-01-09 13:12] je-al commented on #39424
@kargakis is the selector sub-command WIP or a proposal?
I don't have it available on kubectl, nor can I see it in the docs.

[2017-01-09 13:19] peay commented on #34710
@soltysh is this still relevant and up for grabs?

I have a few CronJob running every couple minutes and jobs really pile up quickly, so I would be interested to work on this.

[2017-01-09 13:30] jsafrane commented on #37377
fixed by #37678

[2017-01-09 13:30] #37377 closed

[2017-01-09 13:30] kargakis commented on #39424
It's in master, will be included in 1.6.

[2017-01-09 13:36] je-al commented on #39424
Oh, ok then, if there actually is a "prescribed" way to do it (for my part) we can close this.

[2017-01-09 13:39] k82cn commented on #39595
@shiywang , seems worked with latest code. Close this issue.

[2017-01-09 13:39] #39595 closed

[2017-01-09 13:42] luxas commented on #39494
Yes, one can't use kubectl 1.4 with apiserver 1.5, it crashes with that error if you try.

[2017-01-09 14:01] deads2k commented on #39528
Created https://gist.github.com/deads2k/fff58bbb306d9cb073fc7d4aea8e9a14 as a first shot at a README.md.

[2017-01-09 14:13] deads2k opened #39611 "apimachinery tests with scheme dependencies should be fixed"
In order to split API machinery, several related tests which required schemes and specify types from those schemes were moved in https://github.com/kubernetes/kubernetes/pull/39610.  We can refactor core types like `ObjectMeta` and `ListMeta` out of the scheme and into API machinery to move those unit tests back into API machinery.

[2017-01-09 14:17] shashidharatd commented on #39594
Yes @madhusudancs, the upgrade in etcd is causing the issues.
we need to upgrade etcd image to gcr.io/google_containers/etcd:3.0.14-alpha.1 for federation

[2017-01-09 14:19] fraenkel commented on #39604
From what I can gather, it is being killed due to taking over 5 minutes which is roughly how long it takes (~300s) on successful unit builds.

[2017-01-09 14:24] Starefossen commented on #23323
We are seeing a slow and steady increase of memory usage for kube-apiserver on Kubernetes v1.5.1 with `--proxy-mode=iptables`.

<img width="1385" alt="screen shot 2017-01-09 at 15 23 46" src="https://cloud.githubusercontent.com/assets/968267/21769582/b673fb3c-d67f-11e6-9808-e7270eaea342.png">

[2017-01-09 14:25] mqliang commented on #13382
We got the same issue. We write a custom controller using client-go, and deployment it in k8s cluster. Our custom controller can not List&Watch from APi server due to the `TLS handshake timeout` error.

We use the following code snippet to create a clientset.

[code]

[2017-01-09 14:40] Tha-Robert commented on #36992
I dont think its the same issue, #37264 fixes wrong nodename.
This is about the hostname must be being a full url and not just the nodename, and the entry beeing name and not url hostname or such.

In openstack and the heat setup scripts fixes the hostnames to be just nodenames and not a fully qualified hostname due to local domains that cant be looked up. This then breaks du to the change in the

[2017-01-09 14:50] gmarek commented on #23323
I don't think the `proxy-node` is important here, as it shouldn't impact api-server at all.

@smarterclayton @wojtek-t @timothysc

[2017-01-09 15:01] resouer commented on #31123
@untoreh And can you make sure `nodenum: "1"` is available on your nodes at anytime.

Scheduler, Controller, ApiServer should not rely on each other by design

[2017-01-09 15:22] resouer commented on #39557
What CNI network plugin are you using? Flannel?

[2017-01-09 15:26] rootfs commented on #38824
Oh, I missed the discussion. Will investigate it thanks @justinsb

[2017-01-09 15:30] xmik commented on #27191
It seems that it will be possible to add `retry` on any salt state in Salt Nitrogen:
  * https://github.com/saltstack/salt/pull/36578
  * https://github.com/saltstack/salt/pull/37951

and Salt version 2016.11.0 was codenamed: Carbon.

[2017-01-09 15:33] grahamhayes commented on #39572
@idvoretskyi @xsgordon can we get a sig/openstack label here ?

cc/ @kubernetes/sig-openstack-misc

[2017-01-09 15:37] grahamhayes commented on #39572
We should be doing this using feature detection / probing.

http://developer.openstack.org/api-ref/block-storage/v2/index.html?expanded=list-api-versions-detail gives the list of active API versions, so we can easily work out what is availible and use the right version.

This may need gophercloud work, or it might just need us to `GET api-endpoint/` and parse the JSON. (Afaik most versions APIs in

[2017-01-09 15:46] piosz commented on #37620
Closing as obsolete.

[2017-01-09 15:46] #37620 closed

[2017-01-09 15:47] Crassirostris commented on #29862
@piosz Well, it's fixed by https://github.com/kubernetes/kubernetes/pull/39151

[2017-01-09 15:47] piosz commented on #38293
Closing as obsolete.

[2017-01-09 15:47] #38293 closed

[2017-01-09 15:53] mkutsevol commented on #39572
@grahamhayes, thanks for your input.
I've looked into lbaas code, will do something similar. With a config param that can override autodetection.

I want to split this work into two PRs,
First I want to push a PR with library switch and without new features, just porting to the new library api.
And only after it push the support for v2 blockstorage.

Is that the right way?

[2017-01-09 16:02] Reifier commented on #39557
Yes, flannel.

[2017-01-09 16:05] therc commented on #24450
1) for backward compatibility, admins could use [ExternalName (CNAME) service](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/service-external-name.md) so that the API servers are reachable from both old and new KubeDNS names
2) speaking of which, an alternative to the whole controller's API health checks and reconciler machinery could be an external load balance

[2017-01-09 16:12] fgrzadkowski commented on #38949
I don't agree with this reasoning. Events being ephemeral is somewhat orthogonal to how long we try to keep them. Keeping them for 1h makes it impossible to debug problems that occurred during a longer lunch, not to mention during the night.

@timothysc what scale issues are you worried about? what size of a cluster? If the number of events is high we would just delete quicker. I imagine this migh

[2017-01-09 16:18] xmik commented on #39586
Could it matter that @bergtwvd 's `/etc/kubernetes/manifests/kube-apiserver.json` ends with `.json` while saltbase files provide [/etc/kubernetes/manifests/kube-apiserver.manifest](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-apiserver/init.sls#L48)?

[2017-01-09 16:31] sheerun opened #39622 "Invalid regexp for ingress host"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "must match the regex"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2017-01-09 16:42] sjevs opened #39623 "Label nodeSelector blocks having `fluentd-elasticsearch` running properly"
fluentd-elasticsearch addon
---
BUG REPORT

**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): `Debian GNU/Linux 8 (jessie)`
- **Kernel** (e.g. `uname -a`): `Linux ip-172-20-80-201 4.4.26-k8s #1 SMP Fri Oct 21 05:21:13 UTC 2016 x86_64 GNU/Linux`
- **Install tools**: KOPS
- **Others**:

**What happened**:
Was tr

[2017-01-09 16:53] MrHohn commented on #39489
Surprise to see the kube-proxy image was already there, not sure how would the image pulling failed. @Random-Liu might have more ideas.

`Even though it's removed from k8s` how did you remove it from k8s? I was thinking about [`kubectl cordon`](http://kubernetes.io/docs/user-guide/kubectl/kubectl_cordon/) but apparently this marks node as unschedulable but not removes them.

[2017-01-09 16:57] timothysc commented on #38949
All the more reason to address properly with a history service, b/c even if you lengthen the time there will always be a question "How long is long enough vs. what is arbitrary".  If you were to record overnight on a 1k node/ 250k-pod high churn cluster, that is an obscene amount of data to be holding onto, which can OOM etcd.

[2017-01-09 17:17] Quentin-M commented on #39572
@mkutsevol
- Library switching: https://github.com/kubernetes/kubernetes/pull/36344
- Might also be related: https://github.com/kubernetes/kubernetes/pull/33944

[2017-01-09 17:33] Raffo opened #39626 "Kubectl 1.5.1 much slower to execute requests"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS, GKE
- **OS** (e.g. from /etc/os-release): Container Linux by CoreOS stable (1235.5.0)
- **Kernel** (e.g. `uname -a`): Linux ip-172-31-12-46.eu-central-1.compute.internal 4.7.3-coreos-r2 #1 SMP Sun Jan 8

[2017-01-09 17:56] hongchaodeng commented on #39589
@chrislovecnm
What's the option to enable that in spawning up a cluster? The docs doesn't show:
https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md

[2017-01-09 18:04] nikhiljindal commented on #39594
Why alpha image?
Dont we have a stable etcd:3.0 image?

[2017-01-09 18:07] shashidharatd commented on #39594
This is the image used in base kubernetes for etcd. Not sure why it is alpha

[2017-01-09 18:10] madhusudancs commented on #39594
@nikhiljindal

This is the image we use in Kubernetes clusters. I believe this image's release cycle is tied to Kubernetes release cycle, which is also in alpha.

Also note, etcd 3.0.14 is stable. I believe this our modified version of the image that ships with necessary migration bits.

@kubernetes/sig-scalability-misc, is this correct?

[2017-01-09 18:14] jonboulle commented on #36997
What spec?

[2017-01-09 18:20] crockpotveggies commented on #39489
I attempted to re-scale but the image didn't remove itself, so I used the Google Container console to execute a manual deletion. Interestingly, it failed but gave no error. For a couple days I could log in and see a failure message in the terminal telling me k8s was out of sync and the node was improperly provisioned. The notice has since disappeared.

[2017-01-09 18:25] enisoc commented on #24946
you should see the first one working as expected.

I think this only works if the Deployments have different timestamps, which have one-second precision. In my tests, I had both Deployments in a single YAML file, so they got created at the same time. The controllerRef proposal aims to make even this case work, which is why I tested it as a baseline to see how much of the proposal has been realized

[2017-01-09 18:29] timstclair commented on #36997
Whichever seccomp profile spec is being implemented by runtimes. E.g. if we decide to base the Kubernetes seccomp profile API off the OCI seccomp profile spec, and OCI adds some new features, at some point we'd probably want to add those features to Kubernetes. It also means that if different runtimes support different feature sets, we'll be stuck either tracking only the common features, or speci

[2017-01-09 18:34] krzyzacy commented on #39597
I think it has to be cherry-picked to fix `pull-kubernetes-node-e2e` so we can support multiple go version, like what we did earlier for kubekins.

[2017-01-09 18:35] Random-Liu commented on #39597
@krzyzacy I see. Will send a cherrypick soon.

[2017-01-09 18:38] jonboulle commented on #36997
Well, yes, but that applies to _everything_ in the CRI, and is one of the tradeoffs we made by introducing this abstraction in the first place.

[2017-01-09 18:55] mikedanese commented on #39595
Looks like you ctrl-c'd in the middle of hack/update-codecgen.sh.

[2017-01-09 19:00] deads2k commented on #39604
bumping priority.  I'm seeing this pretty frequently this morning.

@mbohlool I see OpenAPI and associate you.  You know something about this one?

[2017-01-09 19:03] mikedanese commented on #39583
This is caused by the most recent git upgrade and affects all of our gopkg.in deps but gazel is the one we pull the most. @ixdy @spxtr how do we mitigate this?

[2017-01-09 19:04] bergtwvd commented on #39586
When I rename ``/etc/kubernetes/manifests/kube-apiserver.json`` to ``/etc/kubernetes/manifests/kube-apiserver.manifest`` the settings are picked up !

How about the other files in the manifests directory:
* etcd.json
* kube-controller-manager.json
* kube-scheduler.json

Do these need to be renamed as well?

[2017-01-09 19:09] odacremolbap commented on #21070
I like this one https://github.com/kubernetes/kubernetes/issues/21070#issuecomment-198466671

A CIDR (or maybe list of CIDRs for some others) would do it for me.

The 2 cases I have are:

1) 2 clusters which can reach each other using their private addresses. In my case one of the clusters expose services only to be consumed by the other cluster, and although I can set the firewall rules, I'd also

[2017-01-09 19:11] spxtr commented on #39583
We could possibly set `http.followRedirects` in verify/update-gazel, but that feels a bit iffy because it has to be global. Possibly print out the command to fix it in case the go get fails?

[2017-01-09 19:16] mikedanese commented on #39583
Source code for gopkg.in is here https://github.com/niemeyer/gopkg . There doesn't seem to be an open issue for this.

[2017-01-09 19:17] mikedanese commented on #39583
I filed. https://github.com/niemeyer/gopkg/issues/50

[2017-01-09 19:20] spxtr commented on #39583
@ixdy says `git config --global http.https://gopkg.in.followRedirects true`

[2017-01-09 19:22] msau42 commented on #39459
Since storageclass is supposed to go to GA this release, I think that is fine.  We could change the example to use the beta annotation now, and change it to the official annotation once that change is made, or wait until we have the official annotation.

[2017-01-09 19:23] xmik commented on #39586
I believe so. However, on my k8s master virtual machine I have 1 file that does not end with `.manifest`:
[code]
and it is still picked up.

[2017-01-09 19:31] grahamhayes commented on #39572
@mkutsevol Yeap, pulling in the 2 PRs above, and then doing an auto detection / config switch to tie it all together seems sane.

[2017-01-09 19:31] mkutsevol commented on #39572
@Quentin-M, thanks! Will search better next time :)

[2017-01-09 19:38] lavalamp commented on #39528
I created the repo.

On Mon, Jan 9, 2017 at 6:02 AM, David Eads <notifications@github.com> wrote:

[2017-01-09 19:39] emaildanwilson commented on #29887
as discussed in chat, we'll stick with handling the logic without an Admission controller and look into adding it later if required.

[2017-01-09 19:42] pvoisin opened #39633 "Documentation - Probes & Timeout/Period Settings"
In current documentation about [configuring the probes](http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_probe) it is unclear how the timeouts & periods are used and so what's the behavior of the probes when the timeout value is greater than the period. Will another HTTP request (in the case it is an HTTP probe) be performed before the first timeout is reached or will it wait up to that

[2017-01-09 19:44] nikhiljindal commented on #29887
Yes. I checked and that PodNodeSelector admission controller is off by default: https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/cluster/azure-legacy/config-default.sh#L60

[2017-01-09 19:46] lavalamp commented on #20504
Great work everyone! Much appreciated!

[2017-01-09 19:46] smarterclayton commented on #24450
Eventually we'll need to move things out of the default namespace.  When we
do that, your proposal makes sense to me as the path to move.

1. Create new certs for master that have new name and old name
2. Restart the master with the new master service namespace
(kubernetes.kube-system) or something
3. Create a new external name in default for X period of time
4. Fully deprecate X.

On Mon, Jan 9,

[2017-01-09 19:48] smarterclayton commented on #20504
Although my initial estimate of summer 2016 were way off :)

On Mon, Jan 9, 2017 at 2:46 PM, Daniel Smith <notifications@github.com>
wrote:

[2017-01-09 19:53] mkutsevol commented on #39572
@grahamhayes
 #33944 includes #36344, no need to pull both.
I will pull @Quentin-M 's #33944 and see what I can do on top of it!

[2017-01-09 20:01] bergtwvd commented on #39586
Thanks, works!

[2017-01-09 20:05] #39335 closed

[2017-01-09 20:11] dchen1107 commented on #39597
I ran into the same issue with 1.4 branch: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39563/pull-kubernetes-node-e2e/12090/ The fixes should be cherrypicked to 1.4 branch too.