[2022-05-05 11:48] fromanirh commented on #106635
xref: https://github.com/kubernetes/test-infra/pull/26212

[2022-05-05 12:17] silenceshell commented on #109554
Your proposal name `DisableLockCreation` is better. Good to me.

[2022-05-05 12:19] rphillips commented on #109596
Correct. It should work in this scenario.

[2022-05-05 12:27] pacoxu commented on #109817
/kind support
(as there is no enough data to prove this is a bug of kubelet.)

[2022-05-05 12:28] pacoxu commented on #109815
/kind support
it seems that coredns is not installed properly and that the RBAC of coredns was not created.
/area dns
/kind network

[2022-05-05 12:29] pacoxu commented on #109815
/sig network

[2022-05-05 12:29] pacoxu commented on #109815
/remove-kind feature

[2022-05-05 13:04] sftim commented on #109817
/triage needs-information
too, I think

[2022-05-05 13:08] claudiubelu opened #109821 "Windows HostProcessContainer jobs fail due to mismatching COMPUTERNAME"
### Which jobs are failing?

Windows GCE jobs:

https://testgrid.k8s.io/sig-windows-gce#gce-windows-2019-containerd-master
https://testgrid.k8s.io/sig-windows-gce#gce-windows-20h2-containerd-master

### Which tests are failing?

[sig-windows] [Feature:WindowsHostProcessContainers] [MinimumKubeletVersion:1.22] HostProcess containers should run as a process on the host/node
[sig-windows] [Feature:Wi

[2022-05-05 13:08] FullyScaled commented on #106884
We still see similiar issues (but with OutOfMemory instead of OutOfCpu) with k8s 1.23.4.

@rphillips Would you expect those issues to be addressed with k8s version 1.23.6 as well?

[2022-05-05 13:34] silenceshell commented on #109554
The optional flag will help me much.

In my user case, helm chart is designed to manage the lifecycle of the lock resource. The issue I met before is that a lock resource was left after `helm uninstall`, but it was a pure new one created during `helm uninstall`. The process is that helm has already deleted my StatefulSet and my lock resource, but my Pod created by the Statefulset still had a chanc

[2022-05-05 13:40] #105742 closed

[2022-05-05 13:50] alculquicondor commented on #109783
That would still be quite some code moving around, as we need to factor out the util functions into a package.

Quickest fix is #109825. Hopefully it is enough.

Then I think I can do the helper functions to recreate the scheduler without recreating the apiserver. We will all benefit from a faster test suite.

We already do that for every test case regardless, because the etcd is the same.

[2022-05-05 13:53] ahg-g commented on #109783
oh, then I agree there is no reason to restart the api-server.

[2022-05-05 14:26] aojea commented on #109783
@wojtek-t is spot on and the problem is that the scheduler tests are close to 10 mins , it easy to see in the junit output of the jobs
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1522185621873889280/artifacts/junit_20220505-122815.xml

There are some tests that are very expensive

<testcase classname="k8s.io/kubernetes/test/integration/scheduler" name="T

[2022-05-05 14:33] wojtek-t commented on #109783
Hmm - 978s seems more than 10m which is the limit....

[2022-05-05 14:59] dashpole opened #109829 "Add Tracing to the kubelet's read-only endpoint"
### What would you like to be added?

Follow-up to https://github.com/kubernetes/kubernetes/pull/105126.  Discussed in https://github.com/kubernetes/kubernetes/pull/105126#discussion_r783142176.

As part of kubelet tracing beta, we should add tracing support to the kubelet's read-only endpoint, which currently does not have tracing.  It should use WithPublicEndpoint to prevent callers from influen

[2022-05-05 15:00] dashpole commented on #109829
/sig node
/sig instrumentation

[2022-05-05 15:10] RedrumSherlock commented on #109802
With more testing it turns out the issue is only in k8s version 1.20 or lower. After I upgraded the control plan and node version to 1.21.6-gke.1503, the issue is gone. I will close this issue now.

[2022-05-05 15:10] #109802 closed

[2022-05-05 15:12] spadgett commented on #83961
/remove-lifecycle rotten

[2022-05-05 15:31] liggitt commented on #106886
this reminds me a lot of `spec.schedulerName` on pods

[2022-05-05 15:31] stevekuznetsov opened #109831 "apiserver/storage: test caching and indexing layers at the unit level"
### What would you like to be added?

Today, unit-level tests only exist for `*etcd3.store{}`, and cannot be run against any other implementation of `storage.Interface`. In general, these tests define what it means to be a correct implementation of `storage.Interface`, and only use exported functionality. We aim to refactor the tests to accept any `storage.Interface`. This allows for testing the e

[2022-05-05 16:27] mauriciopoppe commented on #109800
that was the only failure, after I added the skip `Generic.Ephemeral-volume.*immediate` I didn't see any other testpatterns that failed with "immediate" mode in other test groups.

[2022-05-05 16:33] logicalhan commented on #109650
/triage accepted
/assign @serathius

[2022-05-05 16:35] leilajal commented on #109831
/triage accepted

[2022-05-05 16:36] logicalhan commented on #109829
/triage accepted
/assign @dashpole

[2022-05-05 16:37] marosset commented on #109821
dupe of https://github.com/kubernetes/kubernetes/issues/106640
/close

[2022-05-05 16:38] #109821 closed

[2022-05-05 16:41] marosset commented on #108649
/milestone v1.25

[2022-05-05 16:42] marosset commented on #93276
/remove-lifecycle stale

[2022-05-05 16:44] marosset commented on #104562
/milestone v1.25

We are experimenting with updates to how volume mounts get set up for host-process containers and believe we have a solution that provides a much better experience over the current behavior

https://github.com/microsoft/hcsshim/pull/1344

[2022-05-05 16:47] marosset commented on #99170
@dcantah @kevpar - FYI

[2022-05-05 16:56] marosset commented on #51691
/close
This was fixed with the Windows GMSA KEP a while ago.
https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/ for more details.

[2022-05-05 16:56] #51691 closed

[2022-05-05 17:01] marosset commented on #108886
/help

[2022-05-05 17:42] serathius commented on #109650
As confirmed this was intentional.
/close

[2022-05-05 17:43] #109650 closed

[2022-05-05 17:50] #108641 closed

[2022-05-05 18:27] jensentanlo commented on #109712
Thanks for creating this issue, I missed the notification so apologies for the delay.

I've been thinking about this since our previous discussion and I remember that you mentioned about specifying which container exit codes are considered as failures/successes. Is there a separate issue somewhere with the discussion of that proposal and why that was rejected/deferred? I think that would cover mos

[2022-05-05 18:39] roycaihw commented on #109554
SGTM. Would you like to send a PR?

cc @mikedanese for visibility.

[2022-05-05 18:49] pohly commented on #109650
I might bring back a separate "Validate" function because that has some use when used without "Apply" - see https://github.com/kubernetes/kubernetes/pull/105797

[2022-05-05 18:52] alculquicondor commented on #17244
Here is my current thinking about this problem:

The requirement is to be able to declare a Job as failed on user errors (unknown command, crashes), but still be able to recreate pods if there is an infrastructure failure (VM preemption, OOM kill, kubelet eviction, kube-scheduler preemption).
When the current backoffLimit is reached, the controller terminates a job if such a number of failures is

[2022-05-05 18:53] alculquicondor commented on #109712
That's #17244. We are also still thinking about multiple interpretations for it. Your input will be helpful.

[2022-05-05 18:53] #109543 closed

[2022-05-05 19:08] liggitt commented on #109720
I think this is the same as https://github.com/kubernetes/kubernetes/issues/98612, which was resolved in 1.22 in https://github.com/kubernetes/kubernetes/pull/102040

[2022-05-05 19:15] liggitt commented on #108372
Having two deployments with overlapping selectors means that when you orphan from the first, the second deployment adopts the replicaset, then picks one to terminate

This is working as designed. In general, overlapping deployment selectors in non-adoption scenarios is not recommended and can interfere with desired orphaning behavior.

/close

[2022-05-05 19:15] #108372 closed

[2022-05-05 19:30] aryan9600 commented on #109554
@roycaihw i was hoping to send a PR for this (and explore the gc option for expired leases), if that's okay? 😅

[2022-05-05 19:48] CatherineF-dev opened #109837 "Add network packet stats in kubelet Summary API"
### What would you like to be added?

Expose network packet stats in kubelet Summary API:

- RxPackets: Cumulative count of packets received
- RxDropped: Cumulative count of packets dropped while receiving
- TxPackets:  Cumulative count of packets transmitted
- TxDropped: Cumulative count of packets dropped while transmitting

### Why is this needed?

Packet related metrics are important to monito

[2022-05-05 19:56] hoyhbx opened #109839 "Quantity type's validation does not conform to its serialization specification"
### What happened?

We found that the the serialization specification for the `Quantity` type does not conform to the real implementation of parse function. The serialization specification is found here in the documentation https://github.com/kubernetes/kubernetes/blob/f02682c628c530219966a00ae002d799f0d813dc/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L31-L66.

In the specificati

[2022-05-05 20:11] hoyhbx commented on #109839
/sig api-machinery

[2022-05-05 20:20] alculquicondor commented on #17244
/wg batch

[2022-05-05 20:50] elmiko commented on #109793
we've added an agenda item for next week's (11 May) SIG cloud provider meeting

[2022-05-05 21:00] roycaihw commented on #109554
yes, please!

[2022-05-05 21:20] apelisse commented on #65973
We're working on a kep, can you share what your goals are? Now is the best time to ask! ;-)

[2022-05-05 21:20] mauriciopoppe commented on #109800
I checked tests that passed with VolumeBindingMode immediate which are found in the topology tests, the topology tests detect if the testdriver has the `TopologyKeys` field set to work and modify the clone of the StorageClass adding the `AllowedTopologyKeys` field to it, I'm going to do the same for the Generic Ephemeral Volume tests.

[2022-05-05 21:20] Porges commented on #109839
I would suggest:

- amend the specification to remove decimals in exponents (given that they aren’t permitted already, and their usefulness seems dubious)
- add `nu` to the list of decimal SI suffixes

The usefulness of `nu` also seems rather low given that you can only ever have 3 decimal places, but to remove the support could be an insidious breaking change.

[2022-05-05 21:34] Jiawei0227 commented on #109354
@ialidzhikov can you help me understand this.

So basically the issue only happens if you enable CSI migration in 1.20 and then upgrade to 1.21 because we did the topology fix from 1.20 to 1.21

But for example, if csi migration is enabled in 1.21 and further, and then when they do upgrade, it should not get impact, right? Because at that time the volumesAttached information is correct on that nod

[2022-05-05 21:38] Jiawei0227 commented on #109354
let's first figure out when will the issue occur and what's the impact range and then we can work on a fix. It might be a fix that only on release-1.21 branch possibly.

[2022-05-05 21:59] MikeSpreitzer opened #109846 "Denominator not set for apiserver_flowcontrol_read_vs_write_request_count_samples"
### What happened?

While working on the code, I noticed a bug: apiserver_flowcontrol_read_vs_write_request_count_samples is a histogram of _ratios_, but when API Priority and Fairness is used the denominator is left defaulted to 1.0 rather than set to something meaning like what is done when the max-in-flight filters are used.

Same for apiserver_flowcontrol_read_vs_write_request_count_watermarks

[2022-05-05 22:04] MikeSpreitzer commented on #109846
@kubernetes/sig-api-machinery-bugs

[2022-05-06 00:16] Jeaniowang commented on #107308
报告收到

[2022-05-06 02:03] H-W-WXL commented on #109665
if this PR(https://github.com/kubernetes/kubernetes/pull/109042/files) has solved this problem? and it has been merged two days ago.if this problem has been solved ,I,ll close this issue and the PR I've submitted.

[2022-05-06 03:44] BenTheElder commented on #109182
Potentially related: ... We should probably update the docker-in-docker in Kubernetes CI, it's going to have an outdated docker install and it's generally not well done, I've been meaning to clean that up ...

https://github.com/kubernetes/test-infra/blob/master/images/krte/Dockerfile is still based on Debian Buster ...

[2022-05-06 04:26] sanposhiho opened #109847 "Flaky TestNamespaceAuthorization integration test"
### Which jobs are flaking?

pull-kubernetes-integration

### Which tests are flaking?

TestNamespaceAuthorization

### Since when has it been flaking?

unknown

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestNamespaceAuthorization

### Reason for failure (if possible)

[code]

### Anything else we need to know?

_N

[2022-05-06 04:28] sanposhiho commented on #109847
/sig auth

[2022-05-06 04:36] sanposhiho opened #109848 "Flaky Test_managerImpl_processShutdownEvent unit test"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

Test_managerImpl_processShutdownEvent

### Since when has it been flaking?

?

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit&include-filter-by-regex=Test_managerImpl_processShutdownEvent

### Reason for failure (if possible)

[code]

### Anything else we need to know?

[2022-05-06 05:46] 21kyu commented on #109717
If no one is working it yet, can I do the work related to `k/k/pkg/kubelet/cm/qos_container_manager_linux.go`?

[2022-05-06 05:50] jesseduffield commented on #109214
I'm having this same problem, also using datadog for capturing request latency. My pods scale up as expected but when no more requests come in, they pods fail to scale down. I'd like to be able to configure an option to have my pods scale down when there's been no more metrics after a period of time.

[2022-05-06 06:41] jesseduffield commented on #109214
To flesh out my above comment there's a few possible solutions to this that come to mind:
1) (outside k8s) somehow have the external metric report a fallback value if none is present, which would lead to scaling down to one pod
2) in k8s specify a fallback value when metric is missing, on per metric basis. Might need to define a time range for when to stop using last value
3) in k8s define a fallb

[2022-05-06 07:04] Goend commented on #109663
because  the node label ```ceph-rgw: enabled```   has been watched by scheduler ,So ceph-rgw-548fdf5fc5-t5k8d was scheduled to node-5, Is there anything else situation

[2022-05-06 07:21] #106790 closed

[2022-05-06 07:42] pacoxu opened #109851 "Failure cluster [3aba724e...] TestStaticPodExclusion flake"
### Failure cluster [3aba724e4e525dc8072c](https://go.k8s.io/triage#3aba724e4e525dc8072c)

##### Error text:
[code]
#### Recent failures:
[2022/4/24 13:53:44 ci-kubernetes-unit](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-unit/1518105418134458368)

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109736/pull-kubernetes-unit/1522458909191704576

/kind failing-test

[2022-05-06 09:45] RyanAoh commented on #100726
/assign

[2022-05-06 10:05] wojtek-t commented on #108483
With https://github.com/kubernetes/kubernetes/pull/109854 we're down to 14.
I admit that this is one of the simplest tests, but apiserver shutdown is pretty clean once that PR merges.

[2022-05-06 10:41] collimarco commented on #106802
Related article:
https://andrewlock.net/deploying-asp-net-core-applications-to-kubernetes-part-8-running-database-migrations-using-jobs-and-init-containers/

They use a job for the database schema migration and then wait for its completion using a third-party docker image (k8s-wait-for), made only to wait... It would be nice to have the feature directly in K8s without relying on small external lib

[2022-05-06 12:05] hchouraria commented on #103998
/reopen

[2022-05-06 12:38] CatherineF-dev commented on #109837
/sig instrumentation

[2022-05-06 13:50] aojea commented on #109814
it tooks more than 2 years to settle on that and was a lot of work, do you think we can do this at this point for Pods?
it looks that train has left the station alread

let's assume that the user don't have control over the cni

IF I have cluster with ipv4 pod cidr 10.0.0.0/8 and an ipv6 pod cidr 2001:db8::/64.
AND my pods ALWAYS get dual-stack addresses
BUT I want pod X to work only in IPv4
CAN I

[2022-05-06 14:03] ardaguclu commented on #104318
@yuzhiquan  @kerthcet are you planning to look at this issue?. If you are busy other things, I'll assign it to myself.

[2022-05-06 14:08] kerthcet commented on #104318
Free to assign to yourself, I'm out of bandwidth honestly.

[2022-05-06 14:10] ardaguclu commented on #104318
/assign

[2022-05-06 14:18] sftim commented on #109814
The workload might not do [fast fallback](https://en.wikipedia.org/wiki/Happy_Eyeballs) to IPv4: if it sees that the target has an IPv6 address, it might try reaching it and only fall back to IPv4 after (say) 180 seconds.

Not ideal. I think there _is_ a difference between not presenting an IPv6 address to a Pod, and presenting it but dropping / rejecting all its packets.

PS. Using rejection woul

[2022-05-06 14:29] alculquicondor commented on #106802
I'm not fond with the idea of having this into kubernetes, so I wouldn't be able to advocate for it in a SIG meeting. I would recommend you to come up with an API proposal and present. Or you could directly open a KEP, and we can comment there.

[2022-05-06 14:43] blame19 opened #109862 "kube-addon-manager seems to ignore ADDON_CHECK_INTERVAL_SEC var"
### What happened?

I'm deploying addon manager v9.1.6:
[code]

### What did you expect to happen?

I expected the addon-manager to run the check every 180 seconds.

Instead, according to the logs:

INFO: == Kubernetes addon templatizer started at 2022-05-06T14:24:08+00:00 with ADDON_CHECK_INTERVAL_SEC=60 ==

The number of times the addon reconcile fails seems to confirm that it runs every minute:

[2022-05-06 14:50] matthewygf commented on #108903
ping ~ are we okay to work on this ?

[2022-05-06 14:53] sanposhiho commented on #108903
I think we need to discuss the way to achieve this. We have multiple option for implementation.

@Huang-Wei Could you please take a look at this? Which way do you think is better?

[2022-05-06 15:20] sanposhiho opened #109863 "[Flaking test] Kubernetes e2e suite: [sig-storage] Projected secret optional updates should be reflected in volume [NodeConformance] [Conformance]"
### Which jobs are flaking?

pull-kubernetes-conformance-kind-ga-only-parallel

### Which tests are flaking?

Kubernetes e2e suite: [sig-storage] Projected secret optional updates should be reflected in volume [NodeConformance] [Conformance]

### Since when has it been flaking?

unknown

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-conformance-kind-ga-o

[2022-05-06 15:22] liggitt commented on #109831
maybe I'm misunderstanding, but the rv returned from a Get or from the Create is explicitly *not* what we want to be the RV in a delete watch event or delete response. The RV on a delete response or watch event must be distinct from and later than the RV on the last write to the object.

instrumenting the current test:

[code]

you get
[code]

[2022-05-06 15:23] sanposhiho opened #109864 "[Flaking test] Kubernetes e2e suite: [sig-node] ConfigMap should be consumable via the environment [NodeConformance] [Conformance]"
### Which jobs are flaking?

pull-kubernetes-conformance-kind-ga-only-parallel

### Which tests are flaking?

Kubernetes e2e suite: [sig-node] ConfigMap should be consumable via the environment [NodeConformance] [Conformance]

### Since when has it been flaking?

unknown

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-conformance-kind-ga-only-parallel&inc

[2022-05-06 15:24] leoluz commented on #103597
We are facing this issue using the `fieldmanager.NewGVKParser()` in ArgoCD.
Is there a workaround for this issue?

[2022-05-06 15:25] apelisse commented on #103597
Hard to tell without knowing more about the actual set-up. Also, we should have a work-around internally to avoid that issue.

[2022-05-06 15:26] apelisse commented on #103597
Do you have an aggregated apiserver that isn't at the same version as the apiserver?

[2022-05-06 15:28] sanposhiho commented on #109739
Yeah, I think your guessing is right.
So, I prefer this way. If we do this way, we can set two extenders.

https://github.com/kubernetes/kubernetes/issues/101776#issuecomment-841691754

[2022-05-06 15:33] stevekuznetsov commented on #109831
@liggitt thanks - seems like I had a mistaken assumption that `etcdWatch.Events[0].Kv.ModRevision` would be the revision of the last modification, but it seems like `etcd` sets that to the logical time at which the `kv` was deleted. This test then can only exist at the etcd unit level unless we make it less strict and allow any number > the previous revision.

[2022-05-06 15:42] leoluz commented on #103597
As I am invoking `fieldmanager.NewGVKParser()` inside ArgoCD code base I guess that there is a possibility that users will have that condition. Currently I am seeing this error inside our e2e tests for example. I guess I need to somehow handle this error gracefully.

[2022-05-06 15:43] liggitt commented on #103597
note that the _v2 objects show up even when there's no aggregated server... this is a bug internal to kube-apiserver tracked in https://github.com/kubernetes/kubernetes/issues/109275

[2022-05-06 15:44] liggitt commented on #109275
/cc @apelisse

[2022-05-06 15:47] apelisse commented on #103597
Yeah, and even if an aggregated apiservers has that condition, we probably shouldn't break the world.

[2022-05-06 16:07] #109783 closed

[2022-05-06 16:08] able8 commented on #109862
You can use the `TEST_ADDON_CHECK_INTERVAL_SEC` ENV to override the default ADDON_CHECK_INTERVAL_SEC
https://github.com/kubernetes/kubernetes/blob/e2206cae9dacb397369980bf1c9e76d04234845b/cluster/addons/addon-manager/kube-addons.sh#L62

[2022-05-06 18:19] ialidzhikov commented on #109354
Yes, the issue happens when you upgrade a 1.20 cluster with enabled CSI migration to 1.21.

I haven't checked what happens if you upgrade 1.20 cluster without CSI to 1.21 that enables CSI. However I cannot say we from Gardener are interested much in this case. In [Gardener](https://gardener.cloud) for GCP cluster we enable CSI migration starting from K8s 1.18 - ref https://github.com/gardener/gard

[2022-05-06 18:20] alculquicondor opened #109870 "When restartPolicy=OnFailure the calculation for number of retries is not accurate"
### What happened?

Currently, the number of retries is calculated in two ways:
1. The number of Pods with `.status.phase = "Failed"`.
2. When using `restartPolicy = "OnFailure"`, the number of retries in all the  containers of Pods with `.status.phase` equal to `Pending` or `Running`.

Only the first number is reflected in the API. However, when either of the two numbers reaches the backoffLimit,

[2022-05-06 18:21] alculquicondor commented on #109870
/sig apps
/area batch

[2022-05-06 18:38] brandond opened #109871 "`Should not happen: OpenAPI V3 merge schema conflict` when applying CRDs"
### What happened?

* Related to https://github.com/kubernetes/kubernetes/pull/109031

Seeing the following errors in kube-apiserver logs when CRDs are applied:
[code]

### What did you expect to happen?

No errors in logs

### How can we reproduce it (as minimally and precisely as possible)?

Apply any CRD manifest

### Anything else we need to know?

_No response_

### Kubernetes version

<detai

[2022-05-06 18:40] brandond commented on #109871
/sig api-machinery

[2022-05-06 19:43] xmcqueen commented on #109621
I think I found a decent clue about the failing of the NFSPersistentVolumes test.  Its waiting for a pod, and that pod is failing to schedule due to an untolerated taint.  Here's a lone from the [stdout](https://prow.k8s.io/57564f94-e9f7-4608-95ab-f23dc00f9aeb):

[code]

[2022-05-06 21:11] franpog859 commented on #65973
@apelisse , I'm implementing an operator that uses a CR to obtain some information needed to create/ update/ delete other different resources. Some specs of these resources are not upgradeable. I think it'd be good to make these CR fields immutable so the user cannot trigger the operator with the changes that cannot be properly maintained anyway. An error while trying to edit an immutable field wo

[2022-05-06 22:23] xmcqueen commented on #109621
everything looks OK in [there](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-flaky/1522588769654411264/build-log.txt) except for this bit about having a problem connecting to the NFS server:

[code]

I don't know how to debug that at the moment.

[2022-05-06 22:33] xmcqueen commented on #65517
@soltysh lists a candidate solution.  This bug is causing steadily failing tests.  I'll talk to a few people to see if this can get any traction. @soltysh do you know who can get this moving? It sounds like you have identified the problem and have proposed a solution.

[2022-05-06 23:59] yibozhuang opened #109876 "scheduler volumebinding: leverage PreFilterResult for Bound local PersistentVolumes"
### What would you like to be added?

Similar to #109475

Today, in the scheduler volumebinding plugin, the bound PV node affinity check is done during `Filter` stage which means that all nodes are considered.

For the case of bound **local** PV, the PV node affinity spec looks like

[code]

Today, if the node which the local PV with affinity tied to is tainted and/or out of cpu/memory, etc. we st

[2022-05-06 23:59] yibozhuang commented on #109876
/sig scheduling
/sig storage

[2022-05-06 23:59] yibozhuang commented on #109876
/assign

[2022-05-07 00:23] #108526 closed

[2022-05-07 02:38] SirBlues opened #109878 "How does efk integrate with LDAP in k8s"
### What happened?

How does efk integrate with LDAP in k8s
efk在k8s里怎么和ldap集成

### What did you expect to happen?

Efk login with LDAP user
efk用ldap用户登录

### How can we reproduce it (as minimally and precisely as possible)?

Efk login with LDAP user

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

tencent

### OS version

[2022-05-07 04:57] Jefftree commented on #109871
/assign

[2022-05-07 05:48] Huang-Wei opened #109881 "[sched-perf] PreemptionBasic/5000Nodes and PreemptionPVs/5000Nodes failures"
### Which jobs are failing?

ci-benchmark-scheduler-perf-master

### Which tests are failing?

- BenchmarkPerfScheduling/PreemptionBasic/5000Nodes
- BenchmarkPerfScheduling/PreemptionPVs/5000Nodes

### Since when has it been failing?

Unclear. It seems to be failing for a while, consistently.

### Testgrid link

https://testgrid.k8s.io/sig-scalability-benchmarks#scheduler-perf

### Reason for fail

[2022-05-07 06:02] m-yosefpor commented on #81723
/remove-lifecycle rotten

[2022-05-07 06:19] yiwenshao commented on #109739
Yeah, Making extenders profile-leveled seems more flexible.  I do not find further discussions on it [#101776 (comment)](https://github.com/kubernetes/kubernetes/issues/101776#issuecomment-841691754). Are there any plans on making extenders profile-leveled? Or should we write another KEP for it?

[2022-05-07 06:29] mengjiao-liu commented on #109355
/triage accepted

[2022-05-07 06:40] pacoxu commented on #109878
/kind support
/kind bug

[2022-05-07 06:40] pacoxu commented on #109878
/remove-kind bug

[2022-05-07 06:58] STRRL commented on #109034
I am also interested in this issue. Maybe could I pick it? @mrjoema @kidddddddddddddddddddddd

BTW, is there possible to extra ipset as a standalone library? As a committer of [chaos-mesh](https://github.com/chaos-mesh/chaos-mesh), I think similar works are also required when injecting NetworkChaos.

[2022-05-07 07:07] kidddddddddddddddddddddd commented on #109034
@STRRL I'm not working on it, so feel free to pick it up.

[2022-05-07 07:09] STRRL commented on #109034
/assign

[2022-05-07 07:31] pacoxu opened #109882 "Failing test: Feature gate checking is not enabled"
### Failure cluster [16ae3f774c3255733716](https://go.k8s.io/triage#16ae3f774c3255733716)

##### Error text:
[code]
#### Recent failures:
[2022/5/7 10:22:24 ci-kubernetes-e2e-gci-gce-serial-kube-dns](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-kube-dns/1522763733787480064)
[2022/5/7 08:45:24 ci-kubernetes-e2e-gci-gce-serial-kube-dns-nodecache](https://prow.

[2022-05-07 07:32] pacoxu commented on #109882
Same failure in https://storage.googleapis.com/k8s-triage/index.html#46c6ebec3f62ee000cb3

[2022-05-07 07:34] pacoxu opened #109883 "Failure cluster [744a4b08...]: test/e2e_node/critical_pod_test.go:47"
### Failure cluster [744a4b0836673f8abb50](https://go.k8s.io/triage#744a4b0836673f8abb50)

##### Error text:
[code]
#### Recent failures:
[2022/5/7 13:23:24 ci-crio-cgroupv1-node-e2e-flaky](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-flaky/1522809284809723904)
[2022/5/7 11:23:24 ci-crio-cgroupv1-node-e2e-flaky](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/c

[2022-05-07 07:36] pacoxu commented on #109883
It seems to be dupped with #109296

[2022-05-07 07:36] #109883 closed

[2022-05-07 07:53] lunhuijie opened #109885 "Why is there no clusterRoleBinding that binds the kubelet-bootstrap with the ClusterRole system:node-bootstrapper"
group system:bootstrappers is existed and role system:node-bootstrapper is existed;
but no clusterRoleBinding
why do this?

sometimes I need group system:bootstrappers have this permission only by creating it by myself after cluster is ready.

[2022-05-07 07:53] lunhuijie commented on #109885
/kind support

[2022-05-07 07:56] lunhuijie commented on #109885
/sig node

[2022-05-07 08:21] #85624 closed

[2022-05-07 08:42] aryan9600 commented on #109554
/assign

[2022-05-07 10:21] #94892 closed

[2022-05-08 02:00] sanposhiho commented on #108308
/close

move to https://github.com/kubernetes/kubernetes/issues/109881

[2022-05-08 02:00] #108308 closed

[2022-05-08 02:06] sanposhiho commented on #109881
I did some investigation before on https://github.com/kubernetes/kubernetes/issues/108308

I was not aware of this.
will do some additional investigation..

[2022-05-08 02:58] cmengs opened #109887 "kubeadm-config.yaml certSANs"
### What would you like to be added?

I don't understand what that means

### Why is this needed?

If I have two hosts now and add them later, can I also copy the certificate to other hosts through master1 and then execute kubeadm join to join the cluster?

[2022-05-08 05:07] zuzzas commented on #102367
/reopen

[2022-05-08 05:40] sanposhiho opened #109889 "Flaky unit test: TestClientReceivedGOAWAY"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

TestClientReceivedGOAWAY

### Since when has it been flaking?

unknown

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit&include-filter-by-regex=TestClientReceivedGOAWAY

### Reason for failure (if possible)

[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/p

[2022-05-08 06:10] sanposhiho opened #109890 "[Flaky] Kubernetes e2e suite: [sig-node] Pods Extended Pod Container Status should never report container start when an init container fails"
### Which jobs are flaking?

pull-kubernetes-e2e-kind

### Which tests are flaking?

Kubernetes e2e suite: [sig-node] Pods Extended Pod Container Status should never report container start when an init container fails

### Since when has it been flaking?

unknown

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&include-filter-by-regex=Pods\sExtend

[2022-05-08 06:13] sanposhiho commented on #109890
seems duplicated with #109182

/close

[2022-05-08 06:14] #109890 closed

[2022-05-08 13:01] loqutus commented on #109717
/assign

[2022-05-08 13:19] wangyysde commented on #109665
Yes , I think that this problem has be fixed by #109042.

[2022-05-08 13:19] wangyysde commented on #109665
/close

[2022-05-08 13:19] #109665 closed

[2022-05-08 13:20] STRRL commented on #109034
Hi @thockin, @lavalamp, @thockin metioned a functional options/args pattern for refactoring the ipset api. But the disadvantage of functional pattern is we would still maintain the full-set of all the possible options, like the current `IPSet`.

It seems it could not "hide" more details to the user, the user still needs to think about which "Option"/"Arg" is required for his/her purpose.

IMHO, ma

[2022-05-08 14:16] xmcqueen commented on #109621
/sig storage
/remove-sig node

This fixes the labels, which I broke earlier.

[2022-05-08 14:29] xmcqueen commented on #109621
There are folks inquiring about the CustomResourcePublishOpenAPI failure (the first flaky test listed above) in #65517 and a proposed solution in #96771. I've put a comment into the PR to try to get the PR owner to update the status so it can get another review and possible merge, and I'm linking these issues together so their progress can be tracked from here.

[2022-05-08 14:33] #101189 closed

[2022-05-08 18:19] Huang-Wei commented on #109783
Late to the party, it seems the failing pattern is timeout. Under the hood, it throws a "connection refused" error, no matter it's an event logging, or a patchPodStatus() operation. The "connection refused" error, to my best knowledge, is due to a too-high QPS setting in client side. (we share the etcd instance)

With that being said, https://github.com/kubernetes/kubernetes/pull/109834, which tri

[2022-05-08 18:28] Huang-Wei commented on #109783
Another interesting symptom is: the scheduler related tests are using its own library to start API Server (where it sets a -1 QPS as mentioned above):

https://github.com/kubernetes/kubernetes/blob/ef410d18e11ef25cae6005c7a9686d62ea4da475/test/integration/util/util.go#L345

However, most tests in other components use another one, which doesn't set QPS (which would be defaulted to a negative value

[2022-05-08 18:54] sanposhiho opened #109894 "scheduled Pods in Kubernetes scheduler's internal cache don't have PodScheduled condition until they are next updated"
### What happened?

Some Pods in Kubernetes scheduler's internal cache don't have `PodScheduled` condition in their status.

We store scheduled pods information into cache as assumedPod before binding Pod.
https://github.com/kubernetes/kubernetes/blob/7af5a7bfc51d0455d8b2322ae9e72ed66fb1b8f9/pkg/scheduler/schedule_one.go#L741
https://github.com/kubernetes/kubernetes/blob/7af5a7bfc51d0455d8b2322ae9

[2022-05-08 18:54] sanposhiho commented on #109894
/sig scheduling

[2022-05-09 00:34] #104879 closed

[2022-05-09 02:05] silenceshell commented on #109554
@aryan Thanks for your PR! It works for those `configmapLock`, but other locks `leaseLock` and `endpointLock` can still be created by `update` method with `DisableLockCreation=true`, please refer my option2.

[2022-05-09 02:39] robinchia commented on #108579
@dcbw Can you have time to give me a reply？

[2022-05-09 03:39] 249043822 commented on #107226
the debug log, testjob8 ActiveDeadlineSeconds triggered twice, jobStatus.startTime was re-set to 16:55:50.242498（to UTC time， minus 8，08:55:50.242498 ）

	Line 138: I1207 16:55:49.681391   29325 job_controller.go:489] Job default/testjob4 have ActiveDeadlineSeconds will sync after 60 seconds
	Line 148: I1207 16:55:49.690173   29325 job_controller.go:489] Job default/testjob6 have ActiveDeadlineSeco

[2022-05-09 03:42] 249043822 commented on #107226
1. the controller1 received a new job1, called SyncJob(), but it has not called jm.updateHandler(&job) to update job status, then job.Status.StartTime is still nil
2. then a job pod was created, enqueued the job1, the controller2 called SyncJob() again, which would set the job.Status.StartTime again, but the delay queue trigger time would not be reset to a later time(see the issue for details)
3.

[2022-05-09 05:26] uablrek commented on #108579
Please read:

* https://github.com/kubernetes/community/blob/master/contributors/guide/README.md#contributor-guide

I found this useful;

* https://github.com/kubernetes/community/blob/master/contributors/guide/github-workflow.md

[2022-05-09 06:10] wojtek-t commented on #109783
+1 - we should absolutely try to unify it

[2022-05-09 06:36] wangyysde commented on #109814
/cc @wangyysde

[2022-05-09 07:34] xlw712 commented on #88772
How to solve this problem? I had this problem with 1.18 as well
---------------
E0509 07:01:01.643956       1 reflector.go:178] k8s.io/client-go/informers/factory.go:135: Failed to list *v1.VolumeAttachment: Get https://localhost:6443/apis/storage.k8s.io/v1/volumeattachments?limit=500&resourceVersion=0: dial tcp 127.0.0.1:6443: i/o timeout
I0509 07:01:01.643945       1 trace.go:116] Trace[12036274

[2022-05-09 07:45] aojea commented on #106771
/reopen

[2022-05-09 08:01] aojea commented on #109889
It doesn't look too flaky to me
https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=TestClientReceivedGOAWAY

let''s keep an eye on it though

[2022-05-09 08:13] neolit123 commented on #109887
Kubeadm certsSANS for e.g. kube-apiserver means that its serving certificate will include additional IPs and domain names in the SAN. You can then move this serving cert to another machine and it will work if its in the SAN. You can google on how serving certs work.

/kind support
/close
For more questions please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-05-09 08:14] #109887 closed

[2022-05-09 08:56] akshaysharama opened #109900 "kube-scheduler: disabling insecure port does not work (1.21)"
### What happened?

We are using Kubernetes 1.21. deployed using kubespray.

to enable secure ports, we have added the below configuration in the controller as well as a scheduler.
- --port=0
- - --secure-port=10257/10259.
- bind-address=127.0.0.1

we accessing from outside, still can see 10251 port(insecure) is opened, which of the scheduler.

below are the logs from the scheduler.
I0506 08:40:09

[2022-05-09 09:40] #106935 closed

[2022-05-09 09:47] #107989 closed

[2022-05-09 09:51] blame19 commented on #109862
Thanks, that worked.

[2022-05-09 10:02] aojea commented on #109847
one advice, looking for flakes based on only that URL is prone to errors.

You should correlate different sources, in this case the presubmit and the periodic job. Presubmit failures may be legit depending on the PR, these days are different PRs touching the integration framework that will show up there creating noise.

Other thing is that the test should be "red" in the graph, blank is that the r

[2022-05-09 10:29] RA489 commented on #100683
/remove-lifecycle stale

[2022-05-09 10:44] kerthcet commented on #109223
Another failure related to `Feature:ProxyTerminatingEndpoints`: https://github.com/kubernetes/kubernetes/pull/108884, but in test `pull-kubernetes-e2e-gce-alpha-features`

[2022-05-09 10:53] lsytj0413 opened #109902 "Job status have been updated after it's marked as DeadlineExceeded"
### What happened?

- Create a Job
- Wait job to exceeded it's deadline
- First, it marked as DeadlineExceeded: True and Failed: 1
- Second, it marked as DeadlineExceeded: True and Failed: 0

job:
[code]

the job's first update event from audit-log：
[code]

the job's second update event from audit-log：
[code]

### What did you expect to happen?

- job been marked as DeadlineExceeded: True and Fail

[2022-05-09 11:03] furkatgofurov7 commented on #75482
@kfox1111 hi, how can we move forward with this issue, this has been here for a long time, any ideas? Is it a problem of no one willing to take this up or it needs a confirmation from sig node?
Also, @nikopen hi, is there anything I can do to move forward with this issue, thanks!

[2022-05-09 11:20] lsytj0413 commented on #109902
The reason maybe:

- job exceeded it's deadline, start to delete pod
- job-controller update it's status with: failed: 1
- pod have been deleted from apiserver, job-controller receive Delete event,  sync Job
- job-controller update it's status with: failed: 0（because job's cache haven't been update, so the syncJob will continue)

[2022-05-09 11:36] aojea opened #109903 "[Flake-test] Kubernetes e2e suite: [sig-node] Downward API should provide pod UID as env vars [NodeConformance] [Conformance]"
I start to see this failures on Node tests more often :eyes:
/retest

_Originally posted by @aojea in https://github.com/kubernetes/kubernetes/issues/109899#issuecomment-1120983277_

The error message in the failing job https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109899/pull-kubernetes-e2e-kind-ipv6/1523605981697675264

[2022-05-09 11:38] aojea commented on #109903
/close
duplicate of https://github.com/kubernetes/kubernetes/issues/109182

[2022-05-09 11:38] #109903 closed

[2022-05-09 11:40] lsytj0413 opened #109904 "Duplicate Failed condition in job status"
### What happened?

If the user update job.status.conditions, duplicate condition:

![image](https://user-images.githubusercontent.com/6871552/167402803-650072df-f926-4ed5-8960-107ae1160f71.png)

### What did you expect to happen?

Only one Failed condition

### How can we reproduce it (as minimally and precisely as possible)?

- Create Job and wait it marked as Failed
- Update the Failed conditio

[2022-05-09 12:18] shopee-jin commented on #108741
1 sec sounds reasonable and thus need better documentation

[2022-05-09 13:43] alculquicondor commented on #107226
In any case, the suggested solution is to `AddAfter` in every sync.

[2022-05-09 13:50] vinaykul opened #109905 "[FG:InPlacePodVerticalScaling] Add E2E test case to revert resource resize patch"
### What would you like to be added?

Pod resize E2E tests need a test case to revert the applied patch and verify that the original values are restored.
PR discussion: https://github.com/kubernetes/kubernetes/pull/102884#discussion_r865662604

This should be done for both cases:
1. Fully actuated and resized resources are reflected in pod status.
2. Fully actuated but not yet reflected in pod sta

[2022-05-09 14:00] able8 commented on #109904
It's not a bug.  The job.status.conditions is a list, so it can contain many conditions.
Also,  we should not update the `job.status.conditions` fields.

[2022-05-09 14:41] stevekuznetsov commented on #109831
@liggitt mentioned this test plan in a Slack thread, wanted to add it here for posterity:

1. create an object, record RV (createdRV)
2. start a watch on the object
3. delete the object, record RV (deletedRV)
4. assert deletedRV != createdRV
5. wait for watch to observe delete (tolerating any intermediate updates from other actors, I guess)
6. assert deleted watch event is received
7. assert delet

[2022-05-09 15:05] dims opened #109908 "[failing-tests] SIG-Windows failing tests as of May 9th"
Context: Tests marked as failing in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

- [ ] [ci-kubernetes-e2e-aks-engine-azure-master-windows-20h2-containerd](https://testgrid.k8s.io/sig-windows-sac#aks-engine-windows-20h2-containerd-master) | 36 |
- [ ] [ci-kubernetes-e2e-windows-20h2-containerd-gce-1-22](https://testgrid.k8s.io/sig-windows-gce#gce-windows-20h2-containerd-1.22)

[2022-05-09 15:08] stevekuznetsov commented on #109831
@logicalhan would it be sufficient to test that the storage provides this semantic to the `storage.Interface` implementation? As this is end-client-visible I would have thought that we want to make sure that we continue to forward this property up the stack

[2022-05-09 15:10] dims opened #109910 "[failing-tests] SIG-Storage failing tests as of May 9th"
Context: Tests marked as failing in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

CI Jobs | Days | URL
-- | -- | --
canary-nfs-subdir-external-provisioner-push-images | 475 | https://testgrid.k8s.io/sig-k8s-infra-gcb#canary-nfs-subdir-external-provisioner-push-images
canary-sig-storage-local-static-provisioner-push-images | 532 | https://testgrid.k8s.io/sig-k8s-infra-gcb#canar

[2022-05-09 15:12] logicalhan commented on #109831
I would be okay with just testing this on the inner layer, it should transitively retain the properties on the outer layer. But that's just me. Porting this logic to the outer layer involves patching the `storage.Interface` and the implementation which is considerably involved.

[2022-05-09 15:13] dims opened #109911 "[failing-tests] SIG-Node failing tests as of May 9th"
Context: Tests marked as failing in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

CI Job | Days | URL
-- | -- | --
ci-containerd-soak-cos-gce | 64 | https://testgrid.k8s.io/sig-node-cos#soak-cos-gce
ci-cri-containerd-e2e-cos-gce-flaky | 174 | https://testgrid.k8s.io/sig-node-cos#soak-cos-gce
ci-crio-cgroupv1-node-e2e-eviction | 150 | https://testgrid.k8s.io/sig-node-cri-o#ci-c

[2022-05-09 15:17] dims opened #109912 "[failing-test] SIG-Network as of May 9th"
Context: Tests marked as failing in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

CI Job | Days | URL
-- | -- | --
ci-ingress-gce-e2e | 139 | https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e
ci-ingress-gce-e2e-canary | 139 | https://testgrid.k8s.io/sig-testing-canaries#ingress-gce-e2e-canary
ci-ingress-gce-e2e-scale | 139 | https://testgrid.k8s.io/sig-testin

[2022-05-09 15:18] dims commented on #109912
slack thread https://kubernetes.slack.com/archives/C021E147ZA4/p1651068004993369

[2022-05-09 15:20] dims opened #109913 "[failing-test] SIG-Cloud Provider as of May 9th"
Context: Tests marked as failing in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

CI Job | Days | URL
-- | -- | --
ci-kubernetes-e2e-gci-gce-flaky | 175 | https://testgrid.k8s.io/sig-api-machinery-gce-gke#gce-flaky
ci-kubernetes-soak-gce-gci | 52 | https://testgrid.k8s.io/google-soak#gce-gci
ci-kubernetes-soak-gci-gce-beta | 451 | https://testgrid.k8s.io/google-soak#gce-gci
ci

[2022-05-09 15:28] dims opened #109915 "[failing-test] SIG-Scalability as of May 9th"
Context: Tests marked as failing in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

CI Job | Days | URL
-- | -- | --
ci-kubernetes-e2e-gci-gce-scalability-node-killer | 298 | https://testgrid.k8s.io/sig-scalability-experiments#gce-cos-master-scalability-100-nodekiller
ci-kubernetes-kubemark-100-gce-scheduler-highqps | 504 | https://testgrid.k8s.io/sig-scalability-kubemark#kubema

[2022-05-09 15:29] dims opened #109916 "[failing-test] SIG-Testing as of May 9th"
Context: Tests marked as failing in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

CI Job | Days | URL
-- | -- | --
ci-kubernetes-coverage-conformance | 433 | https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-conformance
ci-kubernetes-coverage-e2e-gci-gce | 433 | https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-e2e-gci-gce
ci-kubernetes-e2e-

[2022-05-09 15:33] chaodaiG commented on #109916
`test-infra-fuzz` has failed for 213 days, @mpherman2 is it still relevant?

[2022-05-09 16:09] chaodaiG commented on #109916
`test-infra-cfl-coverage-report` seems to be also related to fuzz testing, @mpherman2 could you also take a look please?

Have gone through the jobs that I might have context with, please at me if there is anything else that I could help with

[2022-05-09 16:16] MikeSpreitzer opened #109917 "Confusing log from kubelet crash when `--container-runtime-endpoint` is wrong"
### What happened?

I installed Docker, https://github.com/Mirantis/cri-dockerd, and Kubernetes release 1.24.  I used `hack/local-up-cluster.sh` to start a single-node local cluster, without specifying `CONTAINER_RUNTIME_ENDPOINT`, so it defaulted to `unix:///run/containerd/containerd.sock` --- which is indeed a thing, but is the _wrong_ thing (I eventually worked out that I need to point Kubernet

[2022-05-09 16:16] MikeSpreitzer commented on #109917
@kubernetes/sig-node-bugs

[2022-05-09 16:26] enj commented on #109233
xref: https://github.com/kubernetes/kubernetes/pull/109389#issuecomment-1121312456

[2022-05-09 16:29] kbbgl commented on #14924
Is this still relevant? Seems that it's a duplicate of https://github.com/kubernetes/kubernetes/issues/11933 which was closed also for age.

[2022-05-09 16:29] endocrimes commented on #109911
/triage accepted
/priority important-soon

[2022-05-09 16:32] jsturtevant commented on #109908
`soak-tests-capz-windows-2019` is a brand new job that @oprinmarius is working on as part of https://github.com/kubernetes/kubernetes/issues/108621.  This is a pre-submit job as of right now.

[2022-05-09 16:34] backendcloud opened #109918 "Issue Title"

[2022-05-09 16:40] #109918 closed

[2022-05-09 16:49] BenTheElder commented on #109916
Coverage fix (first one was wrong 🤦) https://github.com/kubernetes/kubernetes/pull/109843

This seems to be an issue for SIG Node.

This is failing because there are unit tests that are too flaky to pass 10 times, we should not remove the job we should file bugs for the handful of tests that are not reliable. And once they're passing IMO this should be release-informing.

Not sure where this one i

[2022-05-09 16:50] kfox1111 commented on #75482
Pretty sure its not on anyone's radar anymore. Someone should bring it back up to sig-node maybe?

[2022-05-09 16:55] chaodaiG commented on #109916
forgot to mention that https://github.com/kubernetes/test-infra/pull/26237 fixes gcloud-terraform image

[2022-05-09 17:04] msau42 commented on #109910
@jsafrane I propose we disable the iscsi jobs if we can't resolve the failures this week.

[2022-05-09 17:06] msau42 commented on #109910
@jingxu97 @mauriciopoppe can you help look at the gce smb test failures?
https://github.com/kubernetes/kubernetes/issues/109910

[2022-05-09 17:12] longwuyuan commented on #109912
https://github.com/kubernetes/ingress-nginx/pull/8566
https://github.com/kubernetes/ingress-nginx/issues/8552

[2022-05-09 17:21] danwinship commented on #109814
No no no. It took us a year to even decide that we _wanted_ dual-stack services, and then it took us half a year to come up with a suitable semantics for dual-stack services, and half a year to add the implementation of dual-stack services to the existing implementation of single-stack services.

We already have dual-stack pods, and core Kubernetes is perfectly capable of dealing with a cluster wi

[2022-05-09 17:38] longwuyuan commented on #109912
https://github.com/kubernetes/ingress-nginx/issues/8552#issuecomment-1120784917

[2022-05-09 17:44] eero-t opened #109920 "HPA: scaling replica count directly based on a metric"
### What would you like to be added?

HPA policy where simpler algorithm is used: desiredReplicas = factor * currentMetricValue.

I'd like this to be supported at least for app/custom metrics.

### Why is this needed?

Current scaling algorithm: desiredReplicas = ceil[currentReplicas * ( currentMetricValue / desiredMetricValue )]

Has several issues:
* It's harder to understand (one can easily fin

[2022-05-09 17:45] jingxu97 commented on #109882
I think this is related to the change https://github.com/kubernetes/kubernetes/pull/109649
@[pohly](https://github.com/pohly)

[2022-05-09 17:46] eero-t commented on #109920
/sig autoscaling

[2022-05-09 18:16] BenTheElder commented on #109916
thanks @chaodaiG -- green now after kubernetes/test-infra#26237 https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-push-gcloud-terraform/1523715759824441344

[2022-05-09 19:06] endocrimes commented on #109911
ci-kubernetes-node-swap-fedora-serial is now passing: https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-swap-fedora-serial

[2022-05-09 19:41] pohly commented on #109882
We already discussed this in https://github.com/kubernetes/kubernetes/pull/109852.

The change from https://github.com/kubernetes/kubernetes/pull/109649 correctly points out that the test isn't working as expected. It needs to be fixed.

/unassign

[2022-05-09 19:42] pohly commented on #109882
/assign @pacoxu

[2022-05-09 19:45] nadenf commented on #7890
/remove-lifecycle stale

[2022-05-09 20:04] Jiawei0227 commented on #109354
@ialidzhikov Hey Ismail, I apologize for the late response here. I have no excuse and we will try to fix this issue as soon as possible.

[2022-05-09 20:32] aojea commented on #108483
@wojtek-t a leftover for the storage cleanup in

https://github.com/kubernetes/kubernetes/blob/d0832102a7017e83bf47a5137b690e52f19c267c/staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/testserver.go#L82-L93

[2022-05-09 20:41] #105572 closed

[2022-05-09 20:52] aojea opened #109923 "[Test] integration tries to connect to non-existent address"
The integration tests for the apiextensions-apiserver generates a fake kubeconfig with a non-existing server `127.1.2.3:12345`

https://github.com/kubernetes/kubernetes/blob/42f1e81488d8599c6874e467fe39b91a23654886/staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/server.go#L34-L42

However, the integration logs show that there are a lot of connections refused trying to use that

[2022-05-09 20:53] aojea commented on #109923
/cc @liggitt @wojtek-t

[2022-05-09 21:33] msau42 commented on #109910
@mauriciopoppe unless gce is testing some different functionality than the azure job, then it should be fine to disable the gce job.

[2022-05-09 21:38] furkatgofurov7 commented on #75482
Got it, sorry I am not aware of the process, what exactly does one have to do to take this up to sig-node/'s attention?
/sig node

[2022-05-09 21:46] kfox1111 commented on #75482
Sorry. I don't really know.

Guessing it may need to be brought up at one of the meetings?

[2022-05-09 21:51] aojea commented on #109923
/sig api-machinery
/kind flake

[2022-05-09 21:58] BenTheElder commented on #109916
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-coverage-conformance/1523775425250070528

Coverage still not compiling. maybe should've gotten it under typecheck, we maybe don't want to expand that test matrix so much though with different tag combinations ...

[2022-05-09 22:15] liggitt commented on #109885
it's not a given all cluster deployers want those permissions granted to that group in perpetuity

granting permissions to a group is easier, but less secure. granting permissions to a single bootstrapper user is more fiddly, but more secure. rather than bake that decision into roles set up by kube-apiserver, it is made part of deployment flows

[2022-05-09 22:15] #109885 closed

[2022-05-09 22:31] longwuyuan commented on #109912
Merged https://github.com/kubernetes/ingress-nginx/pull/8566

[2022-05-09 22:37] apelisse commented on #109871
Did this cause any specific trouble to your cluster @brandond? I'm curious what the impact/severity of this is.

[2022-05-09 23:10] brandond commented on #109871
Everything seems to work fine, but there's a bunch of log spew every time a CRD manifest is loaded. In K3s we mix all the control-plane component logs together in a single pair of stdout/stderr streams so it's quite noisy, compared to previous releases.

[2022-05-10 00:44] oomichi commented on #105837
/remove-lifecycle stale

[2022-05-10 00:58] 249043822 commented on #107226
I can reproduce this in v1.19 and v1.22, but recently I could not reproduce in v1.23.x, so I closed this

[2022-05-10 02:53] lsytj0413 commented on #109904
But should we avoid the duplicate Type's condition？In my opinion，this will confuse the user. According to kubelet, it will rewrite the 'Ready' condition in pod, and take is as managed only by kubelet. Should we did this for job Failed condition?

[2022-05-10 04:04] pacoxu commented on #109911
- [node-kubelet-containerd-eviction](https://testgrid.k8s.io/sig-node-containerd#node-kubelet-containerd-eviction) is tracked in https://github.com/kubernetes/kubernetes/issues/107063
- ci-cos-cgroupv2-containerd-node-e2e-serial: https://github.com/kubernetes/kubernetes/issues/106635

[2022-05-10 04:33] MadhavJivrajani commented on #109904
/sig apps

[2022-05-10 06:45] LastNight1997 commented on #105323
@jsafrane I have found the other case. If I have a data block name /dev/vdb, and I mount it to /mnt/vdb, bind mout /mnt/vdb/kubelet to /var/lib/kubelet , bind mount /mnt/vdb/containerd to /var/lib/containerd as below:
225 26 254:16 / /mnt/vdb rw,relatime shared:118 - ext4 /dev/vdb rw
232 26 254:16 /kubelet /var/lib/kubelet rw,relatime shared:118 - ext4 /dev/vdb rw
239 26 254:16 /containerd /var/li

[2022-05-10 07:11] shay-berman commented on #96149
what is the status of this feature in k8s?  @fromanirh

[2022-05-10 07:16] fromanirh commented on #96149
AFAIK no changes since last update

[2022-05-10 07:26] pacoxu commented on #105019
milestone v1.25

[2022-05-10 07:30] tksm opened #109927 "The `ServiceIPStaticSubrange` assigns duplicate IP addresses when the dynamic block is exhausted"
### What happened?

In a `ServiceIPStaticSubrange` enabled cluster, Kubernetes assigns duplicate IP addresses when the dynamic block is exhausted.

[code]

### What did you expect to happen?

I expected all clusterIPs are uniquely assigned.

### How can we reproduce it (as minimally and precisely as possible)?

1. Create a `ServiceIPStaticSubrang` enabled Kubernetes v1.24 cluster with a small serv

[2022-05-10 07:33] lsytj0413 commented on #109902
/sig apps

[2022-05-10 07:38] cyclinder commented on #109927
When the dynamic block  is exhausted, we expect the service creation to fail with an error message like "No IP address available",  right?

[2022-05-10 07:46] tksm commented on #109927
According to [KEP-3070: Reserve Service IP Ranges For Dynamic and Static IP Allocation](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/3070-reserved-service-ip-range), Dynamically IP assignment will use the upper band by default, once this has been exhausted it will use the lower range. So I think using the reserved block (the lower range) is expected behavior

[2022-05-10 07:54] tksm commented on #109927
/sig network

[2022-05-10 08:19] tarun-asthana opened #109929 "Kubelet unable to terminate pod. Probe happening post killing"
### What happened?

![Screenshot 2022-05-10 at 1 40 55 PM](https://user-images.githubusercontent.com/60086012/167581232-6edb7972-08e0-4e34-b10c-6fe79f122cb5.png)
As shown in above screenshot, kubelet is probing the container after attempting to kill it. Even in 20 min, the kubelet couldn't kill the pod.

### What did you expect to happen?

1. Kubelet kills the pod in due time.
2. Kubelet does not

[2022-05-10 08:40] aojea commented on #109927
/assign @tksm
great catch, thanks

[2022-05-10 09:17] longwuyuan commented on #109912
https://github.com/kubernetes/ingress-nginx/pull/8569

[2022-05-10 09:43] omertuc commented on #98213
/remove-lifecycle stale

[2022-05-10 09:49] wangscot092019 opened #109934 "Discussion regarding Deployment's revision history tracking of replica test currently based on labels - could this be more reliable?"
### What would you like to be added?

Edit: used markdown for easier viewing of code

Hello all, I created this discussion regarding kubernetes' deployment Rollout History/ Rollback functionality.

The underlying replicasets are tracked by it's underlying labels to tie it to a deployment object. Malforming the label (and of course, deleting the replicaset itself) results in the history no longer a

[2022-05-10 09:58] dudicoco commented on #55045
This is my workaround for this issue, the script runs as a [helmfile](https://github.com/roboll/helmfile) hook after deployment, but you can adjust it to your needs:
[code]

[2022-05-10 10:01] akunszt opened #109936 "Kubelet removes non-Kubernetes images."
### What happened?

We also hit by this issue. We're using Flatcar Linux which is quite barebone so we are using a few containers to augment it. Unfortunately kubelet removes the images when they are not in active use. For example we a have a cronjob which uses an image we pulled and specially tagged. That images isn't used by any pods at all but kubelet choose to remove it under disk pressure. It

[2022-05-10 10:04] blame19 commented on #109862
So we can close the issue @able8
I must add tho that code wise the naming of those two variables is confusing. You might want to add this behaviour to the doc.

[2022-05-10 10:04] #109862 closed

[2022-05-10 10:12] neolit123 commented on #109936
/sig node

[2022-05-10 10:13] neolit123 commented on #109934
/sig api-machinery apps

[2022-05-10 10:14] neolit123 commented on #109929
/sig node

[2022-05-10 10:15] neolit123 commented on #109913
/sig cloud-provider

[2022-05-10 10:18] neolit123 commented on #109900
/sig scheduling

[2022-05-10 10:19] neolit123 commented on #109900
/retitle kube-scheduler: disabling insecure port does not work (1.21)

[2022-05-10 10:21] neolit123 commented on #109801
/close
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-05-10 10:21] #109801 closed

[2022-05-10 10:21] neolit123 commented on #109799
/sig api-machinery

[2022-05-10 10:23] neolit123 commented on #109521
/sig windows node multi-cluster

[2022-05-10 10:28] neolit123 commented on #109812
/sig auth

[2022-05-10 10:30] neolit123 commented on #109878
/close
Please try asking in support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-05-10 10:30] #109878 closed

[2022-05-10 11:07] stefanprodan commented on #108008
This can be closed. We've implemented the conversion from `stringData` to `data` in Flux before server-side apply takes over, to workaround this bug.

[2022-05-10 11:11] avinashjain7143 commented on #107161
I am seeing similar issue, have you find some solution to this?

[2022-05-10 11:53] klolik commented on #60140
I haven't done too much of testing, but got pretty consistent results upon few retries (file size is 273557558 bytes):
[code]
returns a random checksum pretty much every time it's run, where as:
[code]
consistently returns correct checksum (20s is just a random pick).

kubectl is calling tar, but it seems to be the same case for both.
Perhaps buffers are not flushed before the process exists?

[2022-05-10 12:18] #109927 closed

[2022-05-10 13:11] BenTheElder commented on #98213
/lifecycle frozen

[2022-05-10 13:30] alculquicondor commented on #107226
In 1.21, we introduced this fix #100553, that could potentially reduce uncertainty.

But if you still observed the problem in 1.22, then there is still probably a bug. I propose this solution https://github.com/kubernetes/kubernetes/pull/97101#issuecomment-1115061840

[2022-05-10 14:27] benluddy commented on #107949
/remove-lifecycle stale

[2022-05-10 14:30] astoycos opened #109942 "Follow up work to ensure we can return an error when starting an EventWatcher"
### What happened?

Follow-up cleanup work for: https://github.com/kubernetes/kubernetes/issues/108518

Most of the information about this issue can be found in https://github.com/kubernetes/kubernetes/pull/108080, where the work merged with a `//TODO` to change the function signature of `StartEventWatcher` to return a func() as well as an error.  This issue will help to track that.

### What did

[2022-05-10 14:31] astoycos commented on #109942
/sig api-machinery

[2022-05-10 14:32] astoycos commented on #109942
/priority low

[2022-05-10 15:31] SataQiu commented on #109900
https://github.com/kubernetes/kubernetes/blob/f3ad8e60207d1f8e24e4d2641e98206bdb64753b/cmd/kube-scheduler/app/options/insecure_serving.go#L37-L38

https://github.com/kubernetes/kubernetes/blob/f3ad8e60207d1f8e24e4d2641e98206bdb64753b/cmd/kube-scheduler/app/options/options.go#L204-L207

Did you specify the configuration file for kube-scheduler using `--config`?
If you use `--config` to specify the

[2022-05-10 15:47] akshaysharama commented on #109900
- kube-scheduler
    - --authentication-kubeconfig=/etc/kubernetes/scheduler.conf
    - --authorization-kubeconfig=/etc/kubernetes/scheduler.conf
    - --bind-address=127.0.0.1
    - --config=/etc/kubernetes/kubescheduler-config.yaml
    - --kubeconfig=/etc/kubernetes/scheduler.conf
    - --leader-elect=true
    -  --port=0
    - --secure-port=10259

yes, we have specified --config!!. Is this intr

[2022-05-10 16:07] #126812 closed

[2022-05-10 16:11] mattcary commented on #55045
This is available as an alpha feature. Any feedback would be useful in promoting it to beta!

/remove-lifestyle stale

[2022-05-10 16:12] #126813 closed

[2022-05-10 16:18] rafadc commented on #105678
Hi!

I've created a PR to address the tests in e2e/apps

https://github.com/kubernetes/kubernetes/pull/109944

It is my first PR so hopefully, everything is ok.

Thanks a lot!

[2022-05-10 16:38] mattcary commented on #55045
/remove-lifecycle-stale

[2022-05-10 16:43] zmeggyesi commented on #55045
Sometimes you just _need_ Ctrl+Space and syntax highlighting in the comments... :)

[2022-05-10 17:03] #107212 closed

[2022-05-10 17:06] jsturtevant commented on #107114
The dynamic port range on the nodes is set to 33000-65535 in [capz ](https://github.com/kubernetes-sigs/image-builder/pull/750) and [aks-e](https://github.com/Azure/aks-engine/pull/4767), based on feedback we received for clusters with high number of services.  Should this be different set of ports?

[2022-05-10 17:36] longwuyuan commented on #109912
https://github.com/kubernetes/test-infra/pull/26257

[2022-05-10 17:53] aryan9600 commented on #109554
@silenceshell I don't see how that's a problem. Even if a `Lease`/`Endpoint`  can be created with the `Update` method, since clients are expected to create the `Lease`/`Endpoint` themselves when they have `DisableLockCreation=true`, and the leader election logic only calls the `Update` method if it wants to update the record or release the lock itself, both of which are not possible if the client

[2022-05-10 18:54] ruiwen-zhao commented on #107925
[containerd-e2e-cos-1.4](https://testgrid.k8s.io/sig-node-cos#containerd-e2e-cos-1.4) seems to be removed. I will close this issue.

[2022-05-10 19:07] gnufied opened #109949 "Handling of per-driver fsgroup and other properties is broken for CSI drivers with multiple volume types support"
### What happened?

We traditionally expected one CSI driver to generally expose one type of volume. For example:

[code]
So as long as one driver exposes only one kind of volumes, it all works fine.

But then there are drivers like azurefile CSI driver, which are exposing both block volumes and shared volume types and for those drivers - having a global instance of `CSIDriver` type that defines d

[2022-05-10 19:23] wojtek-t commented on #109915
/triage accepted

/assign - I will take a look at storage tests.

/assign @mborsz
@mborsz - will you be able to take a look (or delegate) the node-killer ones

And I'm wondering what the scheduler-high-qps test actually is... Do we need it? Can we get rid of it?

[2022-05-10 19:37] wojtek-t commented on #108483
Re comment above - yeah, I'm aware, we need to clean it up.

FTR:
[code]

[2022-05-10 19:47] bswartz commented on #109949
I'm willing to own changing the CSI spec to enable this. I'm not sure what's involved on the kubelet side but I can help there -- I'm not sure I can sign up to own that though.
I can also lead whatever meetings we need to talk through the potential approaches and collect notes.

[2022-05-10 20:12] fedebongio commented on #109799
/assign @deads2k
/triage accepted

[2022-05-10 20:15] fedebongio commented on #109839
/help
@Porges would you be willing to send a PR implementing your suggestions?
Thanks

[2022-05-10 20:17] fedebongio commented on #109846
/assign @MikeSpreitzer
/triage accepted

[2022-05-10 20:17] fedebongio commented on #109871
/triage accepted

[2022-05-10 20:18] fedebongio commented on #109889
Agree with @aojea but thank you for raising.
Triaging for now, keeping it open.
/triage accepted

[2022-05-10 20:19] fedebongio commented on #109923
/assign @aojea
/triage accepted

[2022-05-10 20:21] fedebongio commented on #109934
/remove-sig api-machinery

Suggestion: maybe if you want to get more traction use email list?

[2022-05-10 20:21] fedebongio commented on #109942
/cc @wojtek-t @aojea
/triage accepted

[2022-05-10 20:50] tnyeanderson commented on #27404
Still needed, hate the autoclose bots...

[2022-05-10 20:58] abraithwaite commented on #40610
/remove-lifecycle stale

[2022-05-10 21:31] aojea commented on #108483
awesome, we are several order  of magnitud better

[2022-05-11 00:29] BenTheElder commented on #109936
Currently kubelet only has "don't touch pause".

A feature like this will need an enhancement proposal. we've started one before but haven't had time to go through with it https://github.com/kubernetes/enhancements/pull/1717 / https://github.com/kubernetes/enhancements/pull/1007

[2022-05-11 00:42] jingxu97 opened #109951 "AddVolumeToReportAsAttached logic issue"
### What happened?

If a volume is marked as uncertain, the volume should not be on the volumeAttached list. But if detach is triggered, but failed, the attach_detach_controller will try to add this volume as attached in node status (AddVolumeToReportAsAttached). However, the volume might be not even attached (since the state is uncertain). So in this case, if detach failed, we should mark volume

[2022-05-11 01:08] roycaihw commented on #109554
@silenceshell Could you point out where the `update` call is? I thought https://github.com/kubernetes/kubernetes/pull/109875 would short-circuit if `DisableLockCreation=true`-- no `update` call will be made.

[2022-05-11 02:45] fusida opened #109953 "kubectl edit fail, since deploy contains imagePullSecrets: - {}"
### What happened?

if a deploy contains:
  spec:
      imagePullSecrets:
      - {}
 it will cause `kubectl edit` fail, although `kubectl create` success.
some people meet the same problem:
https://stackoverflow.com/questions/49694153/kubernetes-error-kubectl-edit-deployment
the scheduler suffer the problem, happen and fix in 1.20.x
https://github.com/kubernetes/kubernetes/commit/bd5c54805d4fef12

[2022-05-11 03:27] humblec commented on #109910
@msau42 I have filed the fix PR https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/199 and its merged. That should take care of the failure

[2022-05-11 03:49] denkensk commented on #109953
/sig api-machinery

[2022-05-11 04:28] #108837 closed

[2022-05-11 04:30] RinkiyaKeDad commented on #104461
We're still blocked on this, see Jordan's comment [here](https://github.com/golang/go/issues/42504#issuecomment-1098273774).

/remove-lifecycle rotten

[2022-05-11 05:31] hxietkg commented on #79658
I got the same issue:

[code]

[code]

[code]

ExfAcquireRundownProtection was accessing a NULL pointer:
[code]
The NULL pointer is from afd!AfdPodGetCurrent:
[code]

Above code shows that function afd!AfdNotifyIPAvailabilityConsumers doesn't check the return value from afd!AfdPodGetCurrent.

[2022-05-11 05:33] adammw opened #109954 "CalculateExpectedPodCountFailed events occur intermittently on supported resources."
### What happened?

We frequently see events on PodDisruptionBudgets consisting of:
[code]

As stated in the [API docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#read-scale-replicaset-v1-apps), replicasets.apps clearly does implement the scale subresource.

### What did you expect to happen?

CalculateExpectedPodCountFailed events not to occur.

### How can we reproduce

[2022-05-11 05:34] adammw commented on #109954
/sig apps

[2022-05-11 05:34] 5279314 commented on #109812
/sig auth

[2022-05-11 05:36] saivarunk commented on #109904
@alculquicondor can I take this issue ?

/assign

[2022-05-11 06:03] wojtek-t commented on #109942
/priority important-longterm

[2022-05-11 06:03] adammw commented on #109954
Attaching a debugger and I managed to catch it happening, looks like the issue is implementsScale() as introduced in #98346 incorrectly checks the Kind matches when the scale subresource always has a Kind of `Scale`.
cc @mortent

![Screen Shot 2022-05-11 at 4 00 03 pm](https://user-images.githubusercontent.com/153219/167779382-2c7778eb-601c-4a74-8601-46dd82d5132b.png)

[2022-05-11 06:07] SOF3 commented on #102641
I noticed a different but highly related issue. The story is like this:

We have a CRD called `DeploymentWorkload` (DW) with an operator that generates a corresponding [FederatedDeployment](https://github.com/kubernetes-sigs/kubefed) (FDP) for each DW. The FDP should be deleted when the corresponding DW is deleted, so we set an `ownerReference` in FDP that references the DW.

The problem comes whe

[2022-05-11 06:38] wojtek-t commented on #109915
Hmm - the storage failures are strange. Basically all of tests are failing because of things like this:
[code]

Those failures are basically coming from here:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/measurement/common/scheduler_latency.go#L303-L314

This is extremely strange, because the same code-path is used for gazilion of other tests and it works, e.g. for our m

[2022-05-11 06:39] PaulFurtado opened #109955 "Kubelet should prevent failed volume mounts from resulting in containers writing to host filesystem"
### What happened?

A PVC failed and the FS became unmounted. A container restarted and the replacement container ended up mounting the mountpoint directory from the host filesystem and continuing to operate without realizing it.

### What did you expect to happen?

In a perfect world, the replacement container would entirely fail to restart, and the pod might even be killed, but that's not someth

[2022-05-11 06:39] PaulFurtado commented on #109955
/sig storage

[2022-05-11 06:42] stackbaek opened #109956 "Support for "pooled" image puller"
### What would you like to be added?

Is there a way to tune the number of concurrent images being pulled by kubelet?

### Why is this needed?

We want to turn off `SerializeImagePulls`, since one bad image pull on our nodes kept all subsequent deployments to be stuck at `ImagePull` state. So, we're considering turning off `SerializeImagePulls` for our kubelets. However, I am worried that any bad

[2022-05-11 06:46] stackbaek commented on #109956
/we node

[2022-05-11 06:47] mk46 commented on #108346
I would like to work on this.
/assign

[2022-05-11 06:48] NoicFank opened #109958 "lastProbeTime in pod.status.conditions always remain null?"
I apply following yaml to create a pod named `my-pod`. it equipped a readiness probe, and I expect to see a place recored the latest probe time.
[code]

But the `type: Ready` in  pod.status.condition is always null.
- Did I miss something with probe, which case null in ready condition ?
- Or, is there a place that I could see the lastProbeTime of the equipped probe?

Besides, I do not found any co

[2022-05-11 06:51] NoicFank commented on #109958
/sig/api-machinery

[2022-05-11 06:52] NoicFank commented on #109958
/sig api-machinery

[2022-05-11 06:55] kidddddddddddddddddddddd commented on #103853
I can't see why these codes are duplicated😢. Maybe someone can explain this a little bit more when they have time?

[2022-05-11 07:00] FillZpp commented on #107226
That's a weird problem. I do believe #97101 solves the `StartTime` reset in a very short time, but I don't think it will cause the job doesn't terminate, even if the termination time will be delayed a very short time. Because when the job is resynced, the controller will AddAfter again with the delta duration.

https://github.com/kubernetes/kubernetes/blob/b74d023e70d6064c7f3f77031e7d26ec38497fc9/

[2022-05-11 07:41] Crazybus commented on #106309
/remove-lifecycle stale

[2022-05-11 08:08] fromanirh commented on #106635
[podresources tests](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/podresources_test.go) started to fail also locally - we have baremetal lanes in RH - in the project CI they skip the relevant test. Investigating a possible common root cause

[2022-05-11 08:11] fromanirh commented on #109911
The device plugin tests [will skip](https://github.com/kubernetes/kubernetes/pull/109770) on all lanes until we get to the bottom of the failures - which is challenging because they seem to fail only on some CIs - most notably, the kube CI :)

[2022-05-11 08:26] DreamyProtect commented on #106957
Tested with `Kubernetes v1.24.0` and `crio v1.23.2` on a fresh cluster bootstraped with kubeadm, ran a job 3 times and there's a log line for every execution, so it spams 3 log lines per kubelet loop.

[2022-05-11 08:29] cookeem opened #109960 "v1.24.0 kubeadm init --image-repository not works for k8s.gcr.io/pause:3.1"
### What happened?

Run below command to init a v1.24.0 cluster:

`kubeadm init --kubernetes-version v1.24.0 --image-repository registry.local/gcr --pod-network-cidr 173.169.0.0/16 --cri-socket /run/cri-dockerd.sock`

I have already set --image-repository, but cluster initial stuck at this log:
[code]

this image `k8s.gcr.io/pause:3.1` image-repository settings not correct.

### What did you expec

[2022-05-11 08:40] neolit123 commented on #109960
Check the container runtime config.  k8s.gcr.io/pause:3.1 is probably coming from there. Kubeadm uses 3.7, but the container runtime has separate version.

/kind support
/close

[2022-05-11 08:41] #109960 closed

[2022-05-11 08:56] neolit123 commented on #109960
See https://github.com/kubernetes/website/issues/33613 as well

[2022-05-11 09:19] lzhecheng commented on #98359
/remove-lifecycle stale

[2022-05-11 09:51] aneagoe commented on #106957
It looks like cgroups are left behind. Removing them fixes the logspam (temporarily).
Can use something like this to find all of them, depending on actual error in journal:
[code]
Then iterate over the `LEFTOVER_SCOPES` and remove them, while checking that running pods are not considered:
[code]

It's quick and dirty, but does the job. I've deployed a garbage collector daemonset with the above and

[2022-05-11 09:53] kerthcet opened #109962 "prevent protential goroutine leakages in scheduler"
### What would you like to be added?

In this issue https://github.com/kubernetes/kubernetes/issues/108483, we're trying to find potential goroutine leakages in k8s, as a separation, this issue only focuses on the kube-scheduler.
Currently, the fact is that we have multiple places calling API with a `context.TODO()` or `context.Background()`, but in theory, we should use an inherit one in case of

[2022-05-11 09:54] kerthcet commented on #109962
/assign
I'll help to take a look then.

[2022-05-11 09:55] kerthcet commented on #109962
also cc @ahg @alculquicondor @Huang-Wei

[2022-05-11 10:03] blame19 opened #109963 "Kube-addon-manager internal .kube/cache disk storage issue"
### What happened?

We are running the addon-manager on several big kubernetes clusters (talking about 500+ nodes with multiple resources).
On some of those, our instances of addon manager grew in memory storage until it almost saturated all the available memory on the node.

Digging the issue, we found out that the folder /root/.kube/cache/http/ was eating up to 100Gi of disk space. This doesn't

[2022-05-11 10:06] blame19 commented on #109963
/sig API Machinery
/sig Apps

[2022-05-11 10:09] TzlilSwimmer123 opened #109964 "ValidatingWebhookConfiguration stales it's deployment when created together"
### What happened?

I have a yaml that contains 3 k8s configurations:
1. Deployment
2. Service
3. ValidatingWebhookConfiguration

If I try to apply them together I get a replica failure `failed calling admission webhook: connection refused`

I noticed that the combination of `resources:   ["*/*"]` alongside `operations:  ["CREATE", "UPDATE"]` and `failurePolicy: Fail` (default value)` makes the pr

[2022-05-11 11:05] nagpalnitin0110 opened #109965 "Nodes flapping (NotReady/Ready)"
### What happened?

Nodes are flapping with error PLEG is not healthy: PLEG was last seen active 3m.6314604s ago, threshold is 3m0s  This issue is coming only in 2 nodes out of 18 nodes

### What did you expect to happen?

Node to be in Ready State

### How can we reproduce it (as minimally and precisely as possible)?

We just upgraded from k8s 1.18.0 to 1.19.0 and then 1.20.14

### Anything else

[2022-05-11 11:26] wojtek-t commented on #108483
Looking further into it, in different tests I'm seeing a lot of goroutines with the top of the stacktrace like this:
[code]

https://github.com/kubernetes/kubernetes/pull/108414 should hopefully address those once it merges...
@aojea ^^

[2022-05-11 11:31] TzlilSwimmer123 commented on #109964
/sig api-machinery

[2022-05-11 11:35] Shubham82 commented on #109812
Hi @5279314

I have tried this issue but I got the following error:

[code]
and also there is no` "Unable to authenticate the request" err="[invalid bearer token, square/go-jose: error in cryptographic primitive]"`error  under kube-apiserver log. Did I miss something?
Are role and rolebinding help here? what do you think?

[code]

[2022-05-11 12:07] renshuyang7 opened #109967 "Cannot handle ValidatingWebhookConfiguration while the API is already enabled"
### What happened?

Please help me out  T_T
This is the action caused the error:
Action:
[code]
Problem:
[code]
I don't understand why this happens

My settings are shown below:
env:
[code]
admission-plugin:
[code]
API enabled:
[code]

### What did you expect to happen?

successfully deploy the validatingadmissionwebhook

### How can we reproduce it (as minimally and precisely as possible)?

kubec

[2022-05-11 13:11] Shubham82 commented on #109967
Hi @renshuyang7
I think there is some problem with caBundle, It should be PEM encoded CA bundle, which is again encoded in  base64-encoded JSON.

on decoding your caBundle i got the following PEM which i think is wrong:

[code]
Please again check and PEM certificate for CA and then encode it base64.

[2022-05-11 13:21] alculquicondor commented on #103853
See https://github.com/kubernetes/kubernetes/issues/103853#issuecomment-889370324

[2022-05-11 13:42] alculquicondor commented on #109962
While this is good to solve, I'm not sure this is the major source of routine leakages.

https://github.com/kubernetes/kubernetes/blob/c50579afb1c3fbb2b83007bba6e8d285436d5dc9/test/integration/util/util.go#L429-L430

I think this might be a more relevant source: this channel is never stopped. We should be using `ctx.Done()`

[2022-05-11 13:42] alculquicondor commented on #109962
Not sure if there are other instances like this in the codebase.

[2022-05-11 13:58] kashifest commented on #106691
@ehashman is there any estimate on when a fix for this land ?

[2022-05-11 14:28] wojtek-t commented on #108483
OK - I think I have now the biggest thing contributing factor to the remaining tests, although I don't yet fully understand it and don't know how exactly to fix it.

The main problem is basically that TestServer is not finishing its shutdown:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/testing/testserver.go#L114

So what exactly is happening is:
- we run TryDown the

[2022-05-11 14:51] Random-Liu commented on #109956
@Random-Liu @dchen1107

This is a reasonable request to me, and a good tradeoff for now.

[2022-05-11 15:04] Random-Liu commented on #109956
Chatted with @stackbaek offline, we might be able to use the throttled image puller for this case, and will investigate that first.

[2022-05-11 16:07] nckturner commented on #109913
/triage accepted

[2022-05-11 16:15] nckturner commented on #109698
/triage accepted
/assign @kishorj @nckturner

[2022-05-11 16:16] MorrisLaw commented on #109717
@JayKayy this may have some room for another contributor, if you're interested.

[2022-05-11 16:16] nckturner commented on #109655
/assign @cheftako

[2022-05-11 16:17] nckturner commented on #109655
/triage accepted

[2022-05-11 16:27] fromanirh commented on #109717
To give readers more context: basically any go source code with missing or insufficient unit test coverage is a good candidate. Some source files are harder than others to unit-test, and we will probably need to create or improve mocks/fakes. But we should start this process anyway, so totally help is welcome in this area.

[2022-05-11 17:13] neolit123 commented on #109965
/sig node

[2022-05-11 17:14] neolit123 commented on #109967
/sig api-machinery

[2022-05-11 17:25] alculquicondor commented on #109429
/triage needs-information

[2022-05-11 17:25] alculquicondor commented on #109429
/unassign

[2022-05-11 17:30] nckturner commented on #109913
The link you provided (https://storage.cloud.google.com/k8s-metrics/failures-latest.json) shows more failing tests (at least today, 5/11) linked to cloud providers than you provided here.  Is there a reason you listed only the tests above or is everything listed in failures-latest.json worth attention?

[2022-05-11 17:30] nckturner opened #109982 "[failing-test] SIG Cloud Provider GCE tests"
Triage failing GCE tests in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

ref: https://github.com/kubernetes/kubernetes/issues/109913

/assign @cheftako

/area provider/gcp
/sig cloud-provider
/kind failing-test

[2022-05-11 17:30] nckturner opened #109983 "[failing-test] SIG Cloud Provider Azure tests"
Triage failing Azure tests in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

ref: https://github.com/kubernetes/kubernetes/issues/109913

/assign @bridgetkromhout

/area provider/azure
/sig cloud-provider
/kind failing-test

[2022-05-11 17:31] nckturner opened #109984 "[failing-test] SIG Cloud Provider AWS tests"
Triage failing AWS tests in https://storage.cloud.google.com/k8s-metrics/failures-latest.json

ref: https://github.com/kubernetes/kubernetes/issues/109913

/assign @nckturner

/area provider/aws
/sig cloud-provider
/kind failing-test

[2022-05-11 17:31] nckturner commented on #109983
/triage accepted

[2022-05-11 17:31] nckturner commented on #109984
/triage accepted

[2022-05-11 17:39] nckturner commented on #109984
Currently listed:

[code]

https://k8s-testgrid.appspot.com/google-aws#kops-aws-misc-karpenter
https://k8s-testgrid.appspot.com/kops-presubmits#pull-kops-e2e-aws-karpenter

@ellistarn or @rifelpet are you familiar with these tests?

[2022-05-11 17:51] alculquicondor opened #109986 "Flaky TestTimeoutWithLogging"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

TestTimeoutWithLogging

### Since when has it been flaking?

It looks like May 4th, but perhaps it's now solved, according to k8s-triage.

However, I found it today in the release-1.23 branch: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109980/pull-kubernetes-unit/1524436051102273536

### Testgrid link

[2022-05-11 19:45] alculquicondor commented on #109429
FTR, the issue of the job being blocked for deletion is mitigated with #109486. But we still have to figure why is the job controller creating more than one pod in this scenario.

[2022-05-11 20:56] jpbetz commented on #108346
Thanks @mk46. Would you coordinate with @jiahuif who is also considering moving some of the CEL code around to make some future work possible.

[2022-05-11 23:59] #106561 closed

[2022-05-12 00:11] Jiawei0227 commented on #109354
Hey @ialidzhikov , sorry for the late reply. We had some brainstorm meeting to figure out if there is some obvious solution or potential workaround/fix that we can go with to solve this, it is all documented in the doc linked below:

https://docs.google.com/document/d/17iIoVj3g02U8Pgt4nC7g7sJG-Jd4TvPCpEXZ5e3oCk4/edit?usp=sharing

Our recommendation is to follow Option 5 for now as none of the othe

[2022-05-12 00:58] renshuyang7 commented on #109967
Thank you soooooooooo much, you really saved my day T.T
I made a mistake when I paste the encoded base64 form of CA certificate.

[2022-05-12 01:03] renshuyang7 commented on #109967
@Shubham82
Thank you soooooooooo much, you really saved my day T.T
I made a mistake when I paste the encoded base64 form of CA certificate.

[2022-05-12 01:49] kolyshkin commented on #104325
/remove-lifecycle stale

[2022-05-12 02:56] mk46 commented on #108346
Sure. Thanks for considering me.

[2022-05-12 02:56] rifelpet commented on #109984
We're working on getting those fixed, starting with https://github.com/kubernetes/kops/pull/13547 but the jobs are now failing because apparently AWS CCM merges to release branches overwrite the `latest` image tag and the version string panic (https://github.com/kubernetes/cloud-provider-aws/issues/339) has regressed:

https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-misc-karpen

[2022-05-12 03:14] BenTheElder commented on #109182
KIND's CI image is now on docker 20.10.15 / runc v1.1.1-0-g52de29d.

Tentatively after this change we don't see any more loges about rdma cgroups, I've spot checked with a few `curl $kubelet_log | grep rdma` for CI logs from before and after the change. Which makes sense since3 we should be on runc v1.1.1 on both dind and kind within that. (the dind is still naively done and I'm not sure what the

[2022-05-12 03:40] pacoxu commented on #109882
The skip function is used in another case as well. We may remove that like #109852.

[2022-05-12 04:12] mamiu commented on #68737
/remove-lifecycle stale

[2022-05-12 04:23] Shubham82 commented on #109967
you're welcome @renshuyang7.

[2022-05-12 05:28] tksm opened #109994 "The metrics for the cluster IP allocator are incorrectly reported"
### What happened?

The metrics for the cluster IP allocator (`kube_apiserver_clusterip_allocator_*`) are occasionally reported incorrect values. I suspect that the metrics are overwritten by [the repair loop](https://github.com/kubernetes/kubernetes/blob/v1.24.0/pkg/registry/core/service/ipallocator/controller/repair.go#L41-L42).

The following example is the metrics on a cluster with only two se

[2022-05-12 06:47] akshaysharama commented on #109900
Any reason, when giving --config, --port is will not longer take effect? because we need both of them.
just for understanding.

[2022-05-12 07:04] neolit123 commented on #109900
In kubelet and kubeadm flags override --config. In scheduler its the other way around. In kube-proxy it is both ways.

You can remove all flags and only use --config. But the question here is whether kubeschedulerconfiguration has the --port field.

[2022-05-12 07:05] neolit123 commented on #109900
@kubernetes/sig-scheduling-bugs

[2022-05-12 07:09] akshaysharama commented on #109900
--port is deprecated I guess,

the following official document for the scheduler doesn't mention the --port parameter.
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/

if it depreciated, then how we can disable the insecure port?
and why --config has to do with --port? why --port are not longer taking effect? what is the relation between these two? or in config fi

[2022-05-12 07:44] pacoxu commented on #84764
The KEP was updated in the v1.23 release cycle https://github.com/kubernetes/enhancements/pull/2892.

There are some discussions in https://github.com/kubernetes/kubernetes/pull/103354#issuecomment-897451068.

[2022-05-12 07:59] aojea commented on #108483
I thought that the reconciler hangs because of https://github.com/kubernetes/kubernetes/issues/108483#issuecomment-1123611572

[2022-05-12 08:03] wojtek-t commented on #108483
Not in this place - here the usual GET request hangs - I will keep looking over the next days.

[2022-05-12 08:09] wyhysj opened #109996 "Kubelet failed to start due to memory stat mismatch"
### What happened?

In kubelet config, we use `memoryManagerPolicy: Static`, and specify the following configuration to reserve memory for system etc
[code]

When server rebooted, kubelet will fail to start, this is the error log

[code]

Everytime I reboot server, the numa stat changes, so the total memory of numa nodes will change also, but the sum of all the numa nodes memory is same (memory of

[2022-05-12 08:13] vaibhav2107 commented on #109996
/sig node

[2022-05-12 08:19] vaibhav2107 commented on #105881
/remove-lifecycle stale

[2022-05-12 08:24] wojtek-t commented on #108483
OK - I understand now and the above isn't really true.
The request wasn't really hanging forever. What was happening is that it was being rejected by the WaitGroup handler:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/waitgroup.go#L55
and retried by the client-go internals...

So I guess from that perspective setting non-zero ShutdownDelayDur

[2022-05-12 08:26] DreamyProtect commented on #106957
Yesterday we tested with the newly released version of `crio v1.24.0` and the problem was still here.

After reading @aneagoe I digged a little bit because we use systemd to manage cgroups and it seemed the error was on our side.
I updated the kernel boot command in the grub file `/etc/default/grub` because in order to have cgroupsv2 unified behavior in systemd you have to set both options: `syste

[2022-05-12 08:29] pacoxu commented on #109882
#109997 will fix this.

[2022-05-12 08:37] aojea commented on #109912
for multicluster https://github.com/kubernetes/test-infra/pull/26297

and I think that with https://github.com/kubernetes/kubernetes/pull/109950 we should be ready to close this

[2022-05-12 08:53] yylt opened #109998 "endpoint not update even if pod had deleted when node shutdown"
### What happened?

1. shutdown node host, the kubelet on node enabled GracefulNodeShutdown feature
2. endpoint which associated with pod running on this node, **the endpoint is  not remove after long time**

### What did you expect to happen?

expect the endpoint was removed finally.

when enable nodeGraceFullShutDown, the update logic about node.status.conditions.Ready is below:

[code]

when di

[2022-05-12 08:53] p0lyn0mial commented on #108483
mhm, not sure why setting `ShutdownDelayDuration` should help.

In general, the server shout stop listening and the HTTP std library should instruct the client's stack to tear down the underlying TCP connection.

In that case, the client-go should fail on dialing and stop retrying releasing the server.

 thoughts?

[2022-05-12 08:54] yylt commented on #109998
/sig apps

[2022-05-12 08:56] wojtek-t commented on #108483
It's that with ShutdownDelay, the "stopCh" is signaling PreShutdown hooks (that still want to do some work, including API calls) and if we immediately start rejecting that, they will not be able to do that work...

[2022-05-12 08:57] yylt commented on #109998
/assign @mysunshine92

[2022-05-12 09:00] aojea commented on #109994
sounds very possible you are right :smile:
/triage accepted

is this something you are going to work on it @tksm , should I assign it to you?

[2022-05-12 09:20] tksm commented on #109994
@aojea Yes, I am working on it. Could you assign it to me?

[2022-05-12 09:23] aojea commented on #109994
/assign @tksm

:heart:

[2022-05-12 09:27] theunrepentantgeek commented on #106286
/remove-lifecycle

[2022-05-12 09:42] wojtek-t commented on #108483
Discussed a bit more offline - I'm going to investigate blocking closing the waitGroup filter on preshutdown hooks. Will try to send a PR in upcoming days.

[2022-05-12 10:31] Antiarchitect commented on #105536
Also confirm on 1.22.7

[2022-05-12 10:54] Dingshujie commented on #94220
@klueska @ehashman
1.allocate app container
2.allocate cpu from cpuset that allocated for app container, and if init container ask for more cpu，allocate from remaining cpu.

and this can resolve inherit problem,but if init container has some performance requirement，may be is not best allocate.

[2022-05-12 11:16] azylinski opened #110001 "POST requests to kube-apiserver for custom resources has incorrect scope classification"
### What happened?

I've observed, that some `apiserver_request_slo_duration_seconds` metrics has `verb:POST` and `scope:namespace` labels.

### What did you expect to happen?

`POST` (create) requests are "single resource", therefor they should be classified as `scope:resource`.
Def: https://kubernetes.io/docs/reference/using-api/api-concepts/#single-resource-api

### How can we reproduce it (as

[2022-05-12 11:19] tonyaw commented on #84764
Can I say I can't use ephemeral container to run a periodic check for a  long-lived pods by using current release?
I need the ephemeral container to run and exit after each check.

[2022-05-12 11:24] pacoxu commented on #84764
No, you can run the periodic check.

The Pod can have many ephemeral containers with different names. This issue is about removing exited containers from pod's ephemeral container list. Once the ephemeral container was added to the Pod, it cannot be removed.

[2022-05-12 11:38] tonyaw commented on #84764
Right. My concern is if ephemeral containers run too many times after a long period, the list will be too long and make pod manifest reach 1.5MiB etcd limiation.
Will it be a problem? :-)

[2022-05-12 12:20] liggitt commented on #84764
Using ephemeral containers to run a planned periodic check indefinitely for a long-running pod will monotonically increase the length of the ephemeral containers list, and is not a good use case for this feature. You could include what you need to run the periodic check in one of the normal containers and use something like `exec` to run the check

[2022-05-12 12:42] JayKayy commented on #109717
Sure I would like to get involved. I start looking at the coverage

[2022-05-12 12:44] liggitt commented on #84764
What you're describing sounds more like a health or liveness check, not one-off debugging... including what you need to run that in the normal containers for the app is required.

[2022-05-12 12:44] sumanthkumarc commented on #79194
Got similar error as https://github.com/kubernetes/kubernetes/issues/79194#issuecomment-685247763

[code]

I just have empty directory and configmap mounts, no nfs mounts.

[2022-05-12 13:22] DreamyProtect commented on #106957
Looks like the cgroup slices not being cleaned up by systemd is an old issue: https://github.com/moby/moby/issues/7015

[2022-05-12 13:28] ialidzhikov commented on #109354
Thank you all! I am impressed by the efforts you put! That's tremendously helpful for us as we are stuck in the 1.20 to 1.21 upgrade process because of this issue.

---

In the last weeks I was also looking for mitigations/workarounds that prevent hitting this issue. Here is what I managed to find out as options:

1) (Option 1) Restart KCM at given interval (less than 6min) during the upgrade from

[2022-05-12 13:37] tonyaw commented on #84764
@liggitt Thanks for your info.
From KEP, looks like there is no plan to add the removing feature in the short term. Right?
Also, for the use case I mentioned, I think there is no solution so far. Right? :-(

[2022-05-12 13:48] breunigs commented on #109414
We're experiencing similar symptoms after upgrading from v1.21.5 to v1.22.8. Bisecting leads to 3eadd1a9ead7a009a9abfbd603a5efd0560473cc (https://github.com/kubernetes/kubernetes/pull/102344) as the first broken commit. The issue is still present on `HEAD` at the time (= 076168b84d0af4ad65cb5664fc1cef40f837e9dc). I'll attach the reproducer at the bottom.

We observe this when kubelet evicts a Pod,

[2022-05-12 15:08] akunszt commented on #109936
I see both proposals are closed, so this won't be happening I assume. Am I right?
Is there anything we can do to make this happen?

[2022-05-12 15:09] #107447 closed

[2022-05-12 15:11] dims commented on #109936
@akunszt very little probability. you can join the sig-node meeting and ask there.

[2022-05-12 15:28] aojea commented on #109414
/triage accepted

This is legit, thanks for the reproducer, and there more issues related like this https://github.com/kubernetes/kubernetes/issues/109718

In 1.22 there was a change in the kubelet https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-1005074672 , most of the issues were solved but seems the surface was bigger than expected and is not deleting the pod.Status.PodIPs f

[2022-05-12 15:51] smarterclayton commented on #109414
Are CNI plug-ins depending on pod status ips as the authoritative record of allocation?  Also, do we formally define CNI destroy as happening before that release?

The answer to those two questions is required to correctly determine where in pod shutdown logic needs to be added (and this is another kubelet e2e test we need to add).  Ie if the second is no, we can clear the status podIPs once the p

[2022-05-12 16:03] aojea commented on #109414
/assign

[2022-05-12 16:25] deitch opened #110018 "kubelet without deprecated `--cloud-provider=external` do not get proper taint and are not CCM initialized"
### What happened?

The [kubelet CLI docs](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) state that `--cloud-provider=external` is deprecated and will go away in1.24:

The [docs for running a CCM](https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#running-cloud-controller-manager), on the other hand, say that `--cloud-provider=external` is r

[2022-05-12 16:25] deitch commented on #110018
/sig cloud-provider

[2022-05-12 16:40] leilajal commented on #109986
/assign @Jefftree would you please take a look, thanks!
/triage accepted

[2022-05-12 16:40] leilajal commented on #109967
/triage accepted

[2022-05-12 16:41] leilajal commented on #109964
/assign @jpbetz
/triage accepted

[2022-05-12 16:42] leilajal commented on #109958
this is probably related to sig node.
/sig node
/remove-sig api-machinery

[2022-05-12 16:42] sanposhiho commented on #99953
/remove-lifecycle rotten

[2022-05-12 16:44] leilajal commented on #109953
/sig cli
feel free to send it back to us if the request to API server looks reasonable. thanks!

[2022-05-12 16:45] leilajal commented on #109839
/triage accepted

[2022-05-12 18:04] neolit123 commented on #110001
/sig api-machinery

[2022-05-12 18:15] jpbetz commented on #106437
/remove-lifecycle rotten

I'm in favor of having clear, well defined formatting rules for APIs. Markdown (or some subset) seems sane to me.

+ @kubernetes/api-approvers for any thoughts or prior work on this.

[2022-05-12 18:34] msau42 commented on #109910
Thanks everyone for jumping on this! @mauriciopoppe @jsafrane are you also ok removing the iscsi CI jobs?

[2022-05-12 18:44] SatishNaidi commented on #52345
I ran into the similar issue, namely as follows.

we are running bitnami redis on our kubernetes cluster as statefullset and each pod has following components.

1. init container -> to issue the permissions for pv
2. redis container
3. sentinel container
4. metrics container

After long running time, some how redis container is failing with error as " Can't open the append-only file: Read-only fil

[2022-05-12 18:52] wespanther commented on #109377
We don't need to update gmp explicitly, we just need to rebuild debian-base in kubernetes/release.

Also, we have moved to bullseye in upstream, so this probably won't happen.

[2022-05-12 19:03] jingxu97 commented on #109354
@ialidzhikov thanks for sharing the detailed information.
About label, I confirmed with @msau42, it is ok to not reapply it since it is mainly informational. Controller or scheduler does not depends on the zone label to make decisions.
Also as we discussed, in option 5, you can choose not to downgrade external provisioner as long as you make sure no new PVs are created during upgrade

[2022-05-12 19:37] prakharporwal commented on #109717
@21kyu @yuv00191 .  I think their is scope as the creator mentioned. You can pick up as per what you find. I am not working on
- k/k/pkg/kubelet/cm/qos_container_manager_linux.go
You can take it up.

[2022-05-12 20:47] #110001 closed

[2022-05-12 21:46] theunrepentantgeek commented on #106286
/remove-lifecycle stale

[2022-05-12 21:57] #103498 closed

[2022-05-13 01:58] yylt commented on #109998
@k82cn @rlenferink  PTAL, 3ks

[2022-05-13 02:08] robinchia commented on #108579
@uablrek Thanks a lot.

[2022-05-13 02:42] 5279314 commented on #109812
Your serviceaccount does not have permission to manage the default namespace. Grant the serviceaccount permission to manage the default namespace
[code]

[2022-05-13 02:45] 5279314 commented on #109812
Your serviceaccount does not have permission to manage the default namespace. Grant the serviceaccount permission to manage the default namespace
[code]

[2022-05-13 02:53] 5279314 commented on #109812
The authentication failed in my visit. I suspect there is an error in the args configuration of my api-server. Can I have a look at your Kube-apiserver args?

[2022-05-13 03:04] denkensk commented on #109953
@leilajal  I find this happens not only when using `kubectl`, but also happens when updating pods spec (like update annotation) by calling the API.

[2022-05-13 03:30] 21kyu commented on #109717
/assign

[2022-05-13 04:07] yuv00191 commented on #109717
/assign

[2022-05-13 04:14] nckturner commented on #110018
/triage accepted

I don't think the `node.cloudprovider.kubernetes.io/uninitialized` taint can be added to clusters without the flag passed, because that could break legitimate clusters where the flag isn't passed and a CCM isn't run.  I think the messaging is definitely confusing and we need to improve the documentation.  The `--cloud-provider=external` should probably not be deprecated, rather,

[2022-05-13 04:19] hakman commented on #110018
@nckturner Would it be a good idea to have also `--cloud-provider=none` which would make clear the taint wouldn't be applied? I guess it would also be the default.

[2022-05-13 04:25] deitch commented on #110018
Agreed on cases where you don't need a CCM, that it should not taint them.

It sounds like it should not be deprecated at all, but rather should have two acceptable values:

- "none" - do not taint, no CCM expected (default)
- "external" - taint, expect CCM

Is that it?

[2022-05-13 05:32] Shubham82 commented on #109967
Hi @renshuyang7
if your problem is resolved so could you please close this issue?

Thanks!

[2022-05-13 05:39] uablrek commented on #108579
#### TL;DR

I propose;

* Ditch the module checks entirely
* Check the `ipvs` *function* by doing a list command (will automativally load the module if needed)
* Assume that the `rr` (round-robin) scheduler exist if ipvs is supported (no explicit check)
* Check the `conntrack` *function* by doing a list command (will automativally load the module if needed)

@thockin @andrewsykim @aojea Please com

[2022-05-13 06:33] #109967 closed

[2022-05-13 06:35] LinFCai opened #110028 "not ready node without taint node.kubernetes.io/unreachable:NoExecute"
### What happened?

I use kind to create kubernetes cluster in version 1.20.0. When I stop kubelet of work node, the node status is changed to not ready. But taint `node.kubernetes.io/unreachable:NoExecute` is not added to node, so pods on that node are not evicted .
From the log of kube-controller-manager, I can see that not ready node was added to the taint queue, but another ready node was acqu

[2022-05-13 06:36] pacoxu commented on #109882
/close
the test grid is green now.

[2022-05-13 06:36] #109882 closed

[2022-05-13 06:36] renshuyang7 commented on #109967
@Shubham82
Sorry, I forgot that... closed!!

[2022-05-13 06:39] ardaguclu commented on #109953
@fusida could you please elaborate reproduce steps(`valid deploy create, and stop using "-: {}"`)?.
Do we need to create a deployment contains
[code]
What is the error message returns after editing?

[2022-05-13 06:40] Shubham82 commented on #109812
Hi, @5279314 I tried this one, but still, get the same error.

[code]
After on run  this:
[code]

[2022-05-13 06:42] LinFCai commented on #110028
/sig node

[2022-05-13 06:46] Shubham82 commented on #109812
Yeah, sure,  i searched but nothing related to this error, find the logs below:

[code]

[2022-05-13 06:48] Shubham82 commented on #109967
Don't be sorry @renshuyang7

thanks.

[2022-05-13 06:57] Goend commented on #109963
kubernetes/staging/src/k8s.io/client-go/discovery/cached/disk/round_tripper.go
[code]
I find how to create,because NewCachedDiscoveryClientForConfig need to cache,but i dont find the code about clear
maybe we should add code to  set cache size?

[2022-05-13 07:04] LastNight1997 commented on #65110
also on v1.19.6

[2022-05-13 08:27] mk46 commented on #109707
I am working on this.
/assign

[2022-05-13 08:48] pires commented on #87770
/remove-lifecycle rotten

[2022-05-13 08:54] bamboo12366 opened #110034 "The Max/Min Will Influence HPA Disable Policy"
### What happened?

When we disable the scale direction by using `SelectPolicy: Disabled`, then manually scale it to a value over <min, max> range. The HPA will patch the replicas based on min/max value

### What did you expect to happen?

Since the scale direction already being disabled, is it more acceptable to ignore this case? What I understand scale the replicas to min/max also can be conside

[2022-05-13 08:55] bamboo12366 commented on #110034
/sig autoscaling

[2022-05-13 08:55] 5279314 opened #110035 "new invalid bearer token, square/go-jose: error in cryptographic primitive"
### What happened?

I doubt whether the API configuration is wrong, because the created serviceaccount does not seem to be mounted in the pod container
[code]
apiserver log
[code]

### What did you expect to happen?

All pods can operate normally. Please help analyze whether there are errors

### How can we reproduce it (as minimally and precisely as possible)?

try to apply the yaml file I supply

[2022-05-13 08:57] 5279314 commented on #110035
/sig auth

[2022-05-13 09:07] Goend commented on #109963
the kube-addons.sh use kubectl apply -f yaml,kubectl create -f yaml to update file.
And apply op will be use discoveryclient,the client will use
[code]
when request is cacheable,it is likely to be cached in a temporary file.
[code]
so if you could  change this code,you can change newCacheRoundTripper like this
[code]
or change addon-manager file to reduce apply op .

[2022-05-13 09:18] navidnadali commented on #109414
Hi All

Apologies for the delay, just to confirm we are still experiencing this in production - I have asked @declangallagher to come back to all the questions today

[2022-05-13 09:18] Goend commented on #109963
you can use shell to reproduce it.
[code]
you can observe the .diskv-temp  bigger and bigger

[2022-05-13 09:24] zhiyxu opened #110036 "Pod stuck in ContainerCreating for too long due to volumeManager"
### What happened?

Recently I found newly created pod needs too long to get ready, nearly 14 mins, and most of time waiting for the volume mounted.
[code]

After deep analysis, it seems block point lies down [populatorLoop](https://github.com/kubernetes/kubernetes/blob/9d85e18ec0dc09f681650d04d65e3db5237bef96/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go#L154) of  `desir

[2022-05-13 09:25] zhiyxu commented on #110036
/sig node

[2022-05-13 10:21] toastal commented on #56402
This thread is embarrassing to read. This bot is useless. 65+ 👍‍ automatically means it's an issue people care about. Instead of you have a mess of bot and human-to-bot noise that makes this issue illegible. People get their time wasted by a bot email too to have to say, "yes, we're still here and interested in this bug--and never stopped being interested".

[2022-05-13 13:35] glebiller commented on #109576
The `managedField` is not updated because you are not changing the structure of the object (adding or removing fields).
According to [managedfieldsupdater](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/managedfieldsupdater.go#L65), the time is updated if and only if the fieldSet is changed. It does not take into account the va

[2022-05-13 14:33] #109577 closed

[2022-05-13 14:55] A-Hilaly commented on #67250
/assign

[2022-05-13 15:54] astoycos commented on #108518
/re-open

[2022-05-13 15:55] astoycos commented on #108518
/reopen

[2022-05-13 15:56] MikeSpreitzer commented on #109576
Yes!  Look at the first paragraph of https://kubernetes.io/docs/reference/using-api/server-side-apply/#apply-and-update .

[2022-05-13 16:01] jsturtevant commented on #109807
`hostnetwork` for windows containers is only supported with containerd (1.6+) using hostprocess containers in k/k 1.22+. See https://kubernetes.io/docs/tasks/configure-pod-container/create-hostprocess-pod/#hostprocess-pod-configuration-requirements for more details.

/close

[2022-05-13 16:14] silenceper commented on #109807
@jsturtevant  But the pod can be started normally. Although the hostNetwork network is not used, it is the docker nat network.

[2022-05-13 16:33] jsturtevant commented on #109807
Sorry it is accidental behavior that the pod starts when hostNetwork with dockershim.  Having a hostnetwork ip address, isn't a support scenario in process isolated Windows Containers so it's not something that will be fixed.  You can reach out to mirantis if you want to explore other options with docker runtime or switch to containerd with hostprocess containers if `hostnetwork` is needed.

If yo

[2022-05-13 16:58] silenceper commented on #109807
Thanks

[2022-05-13 17:29] lavalamp commented on #109576
@apelisse, is that documentation correct? Is this what we intended?

[2022-05-13 17:37] apelisse commented on #109576
I don't see any mention to the timestamp in that first paragraph.

We've clarified recently the exact semantic of the timestamp, as defined here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L1229-L1233

I think you've identified the wrong code @glebiller, if you want to go ahead and fix it, go ahead, I'll happily review!

[2022-05-13 18:13] #104625 closed

[2022-05-13 18:26] BenTheElder opened #110041 "undeprecate kubelet --provider-id flag"
### What would you like to be added?

Un-deperecate the `--provider-id` kubelet flag, as this option is typically set per-node similar to `--node-ip` (which is not deprecated).

Or more generally, consider not deprecating fields available in config that make sense to set per-node.

### Why is this needed?

I noticed this while trying to ensure KIND moves towards not setting any deprecated flags, t

[2022-05-13 18:30] BenTheElder commented on #110041
technically KIND doesn't strictly need this flag, FWIW, but we were asked by users to set it to make detection easier and have values more similar to "real" clusters.

other projects in Kubernetes are also doing this, e.g. some of of the cluster api-provider implementations:
https://github.com/kubernetes-sigs/cluster-api-provider-digitalocean/blob/32ed18d5e68fc61f8ba7150d6ddaddf7e47f967a/test/e2e/

[2022-05-13 19:10] jsafrane commented on #105323
I think you can fool Kubernetes in many different ways, however, I am not sure if it's worth fixing all of them. Why would anyone use bind-mount for /var/lib/kubelet?

[2022-05-13 19:14] #106750 closed

[2022-05-13 20:09] oliviermichaelis commented on #110034
From [User Story 4 from the KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/853-configurable-hpa-scale-velocity/README.md#story-4-scale-up-as-usual-do-not-scale-down):

From my understanding, the HPA is still in control of the Deployment/ReplicaSet. And the HPA will maintain its guarantee to scale the number of pods between `minReplicas` and `maxReplicas`.

From @b

[2022-05-13 20:15] #72216 closed

[2022-05-13 22:31] #109871 closed

[2022-05-14 00:13] #101991 closed

[2022-05-14 01:14] #106229 closed

[2022-05-14 04:17] ofek commented on #70013
@jim3ma Is it open source now?

[2022-05-14 05:16] #106464 closed

[2022-05-14 05:16] #106763 closed

[2022-05-14 05:34] 5279314 commented on #109812
You try to access the following API, but my successful version is 1.20.x  Kubernetes，I'm still working on this issue after version 1.23.

[code]

[2022-05-14 05:39] 5279314 commented on #109812
@kubernetes
Can kubernetes officials help solve the following problem? Or do you have relevant technical documents for reference。

[2022-05-14 07:16] #105740 closed

[2022-05-14 08:15] andyzhangx commented on #109949
I think we could still keep the `spec.fsGroupPolicy` in `CSIDriver` to make backward compatibility, while we could add a new property `fsGroupPolicy` (could be empty) per volume, if `fsGroupPolicy` in CSI volume is defined, then respect that value, otherwise respect `fsGroupPolicy` in `CSIDriver`

[code]

[2022-05-14 08:16] #105321 closed

[2022-05-14 08:18] andyzhangx commented on #109949
BTW, vhd feature is just a preview feature, it does not matter much if it's broken in `fsGroupPolicy`, the Azure File CSI driver provides both smb and nfs protocols, for nfs, we want to leverage `fsGroupPolicy: File`, while for smb, we want to set `fsGroupPolicy: None`, one global value in CSIDriver could not solve such issue, I think defining `fsGroupPolicy` could solve the problem, thanks.

[2022-05-14 10:55] gnufied commented on #109949
The problem I think is not unique to azurefile though. There is also vSphere CSI driver which ships both block and shared filesystem volumes with same driver name and @bswartz has some similar drivers. The fact is - these global attributes of CSI driver defined via `CSIDriver` object does not work well for drivers that expose multiple volume types using same driver name.

[2022-05-14 14:15] mysunshine92 commented on #109998
when node Readycondition True -> false or True -> unknown，node controller will set pod readyContidion to false.

[2022-05-14 14:28] jlsong01 commented on #109942
/assign

[2022-05-14 14:33] jlsong01 commented on #106637
@mattcary Hey, any progress on the PR review? Please let me know if anything needed from my side. Thanks :-)

[2022-05-14 18:00] brianpursley opened #110054 "Failure cluster [7484e009...]: could not get CSINode limit for driver csi-hostpath"
### Failure cluster [7484e00943191113f9bb](https://go.k8s.io/triage#7484e00943191113f9bb)

##### Error text:
[code]
#### Recent failures:
[5/13/2022, 10:51:48 PM ci-kubernetes-kind-e2e-json-logging-1-24](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-json-logging-1-24/1525307452818460672)
[5/13/2022, 8:44:10 PM ci-kubernetes-e2e-prow-canary](https://prow.k8s.io/view/gs/

[2022-05-14 18:04] wallrj commented on #108025
I stumbled across this issue after reading https://kubernetes.io/blog/2021/05/14/using-finalizers-to-control-deletion/ and wondering if the "read-only" part was true:

Is it possible to update that blog too?

[2022-05-14 18:12] liggitt commented on #108025
opened https://github.com/kubernetes/website/pull/33669

[2022-05-14 18:16] #106410 closed

[2022-05-15 00:19] #106719 closed

[2022-05-15 03:22] #106626 closed

[2022-05-15 03:22] #106720 closed

[2022-05-15 11:23] #106989 closed

[2022-05-15 12:32] Jean-Daniel commented on #94825
/remove-lifecycle stale

Related PR still not merged.

[2022-05-15 14:40] prakharporwal commented on #109717
@fromanirh  I am trying to mock the the cpumanager NewManager function . I generated the mock file using mockgen. but I get this error when I run my test. Can you take a look and help. I have looked at multiple places on internet none of it is making sense to me.

![image](https://user-images.githubusercontent.com/49529937/168478143-1d5976a6-dc2f-4f8d-8fca-74c7f6b50c03.png)

@STRRL  Any Ideas on h

[2022-05-15 15:00] b10s commented on #105844
/remove-lifecycle stale

[2022-05-15 17:42] sftim commented on #107488
Still needs fixing as far as I can tell
/lifecycle frozen

[2022-05-15 19:23] #106613 closed

[2022-05-15 19:50] matthyx opened #110060 "pr-kubekins login makes node (and other) e2e tests failing"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-containerd#cgroup-systemd-containerd-node-e2e
https://testgrid.k8s.io/sig-node-containerd#containerd-node-conformance
https://testgrid.k8s.io/sig-node-containerd#node-kubelet-containerd-hugepages
https://testgrid.k8s.io/sig-node-containerd#node-kubelet-containerd-resource-managers
https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-

[2022-05-15 19:52] matthyx commented on #110060
/triage accepted
/priority important-soon

[2022-05-15 19:53] matthyx commented on #110060
Maybe more urgent...
/priority critical-urgent

[2022-05-15 20:26] endocrimes commented on #110060
/cc @ameukam @dims

Any ideas as to how to fix this? I've seen this before but not sure how to resolve it

[2022-05-15 21:18] zerkms commented on #78007
/remove-lifecycle stale

[2022-05-15 22:34] nckturner commented on #110018
:+1:  It seems reasonable to have an explicit value for the case with no ccm and no taint, and to make that default.

[2022-05-15 22:49] deitch commented on #110018
Beyond the future plans, what is the right thing to do for 1.23 and 1.24?

[2022-05-16 00:26] #103866 closed

[2022-05-16 02:05] yylt commented on #109998
yes, that's we expected, but it is not.

monitorNodeHealth is driverd by clock, this can be seen as async opeartioin.
the kubelet set state form true to false by shutdown event, thus can be seen as sync operation.

[2022-05-16 02:12] silenceshell commented on #109554
@roycaihw @aryan9600 There is still a chance that lock still exists when [getting lock](https://github.com/kubernetes/client-go/blob/master/tools/leaderelection/leaderelection.go#L327), but it is deleted somehow after [getting lock](https://github.com/kubernetes/client-go/blob/master/tools/leaderelection/leaderelection.go#L327) and before [updating lock](https://github.com/kubernetes/client-go/blo

[2022-05-16 02:12] robinchia commented on #108579
@uablrek
IMHO it is not a good idea to ditch the module checks entirely. It will need a lot of working for checking the ipvs, rr, wrr, and sh by commands, and so on.

[2022-05-16 04:17] mysunshine92 commented on #109998
you want to handle this case right？
node ReadyConditon from false to unknown，we set podReady condition from true to false.
if so，You can add conditional judgment

[2022-05-16 04:30] #106765 closed

[2022-05-16 05:07] nckturner commented on #110018
Well, assuming you are running a CCM and are expecting a taint, you should use `--cloud-provider=external`.

[2022-05-16 05:21] ameukam commented on #110060
@endocrimes Looks like a expiration of the service account for the prowjob. Those jobs are running inside Google infra. you may want to ping folx in #testing-ops.

Also I don't think this is critical or urgent. We passed the release period and we are away from code freeze. Also reminder this is KubeCon week. Not everybody is gonna be available for debugging

[2022-05-16 05:35] deitch commented on #110018
Even though it is marked as deprecated in 1.23 and supposed to be removed in 1.24?

[2022-05-16 05:52] yylt commented on #109998
@mysunshine92
in patch https://github.com/kubernetes/kubernetes/pull/110012, is it safe to check node ReadyCondition?

expect finally consistency, and want to handle `anything(except unknown) -> unknown` situation.

[2022-05-16 06:05] hakman commented on #110018
Probably this should be addressed and cherry-picked in 1.23 and 1.24.

[2022-05-16 06:08] nckturner commented on #110018
+1.  Let me take a stab at this now.

[2022-05-16 06:09] hakman commented on #110060
We are seeing the same issue in kOps test runs since last week.

[2022-05-16 06:11] matthyx commented on #110060
So with different credentials than ours? Is it something with gcloud authentication?

[2022-05-16 06:15] hakman commented on #110060
When it works, we have these credentials:
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kops-e2e-kubernetes-aws
[code]

[2022-05-16 06:17] matthyx commented on #110060
Same for us:
[code]

[2022-05-16 06:48] YairHalberstadt opened #110065 "Allow Resource Quotas to be scoped based on label selectors"
### What would you like to be added?

Currently Resource Quotas can be [scoped](https://kubernetes.io/docs/concepts/policy/resource-quotas/#quota-scopes) based on whether a pod is terminating or not, best effort or not, its priority, and its CrossNamespacePodAffinity.

It should be possible to scope a Resource Quota to any objects which match a particular label selector. This would allow providing

[2022-05-16 06:53] YairHalberstadt commented on #110065
/sig scheduling

[2022-05-16 07:10] pierluigilenoci commented on #61486
/remove-lifecycle stale

[2022-05-16 07:39] nckturner commented on #110018
I didn't change the empty value to "none" yet in the above PR, but its still on the table.  Figured I'd go with minimal change for the first iteration and see what people think.

[2022-05-16 07:58] nckturner commented on #109793
/triage accepted

[2022-05-16 07:59] nckturner commented on #109793
/lgtm

[2022-05-16 08:33] #106876 closed

[2022-05-16 10:07] neolit123 commented on #110041
I think for 1.25 in kubeadm we can enable patching of kubeletconfuguration. This will allow us to use the current global kubletconfiguration for all nodes, but patches can act as the node instance specific config.

Flags would still take precedence over patches and are the simpler UX.
But if one day all flags are removed the above solution will still support the instance specific use case.

[2022-05-16 10:09] LastNight1997 commented on #105323
@jsafrane In some case, the system data block may not have enough capacity. So,  we attach a data block for kubelet and containerd. As far As I know, the emptyDir volume of pods will store in /var/lib/kubelet, consuming system data block capacity.

[2022-05-16 11:10] jgoeres opened #110070 "exec-type probes now consider timeoutSeconds for readiness state, but probe processes accumulate if they get stuck"
### What happened?

We have a bunch of different microservice application pods. To simplify their handling in our Helm chart, we have a common "checkReadiness.sh" in all our containers, which we run with an exec-type probe.
From K8s perspective, all probes look basically like this:

    readinessProbe:
      exec:
        command:
        - /bin/bash
        - -c
        - /scripts/checkReadiness.

[2022-05-16 11:12] jgoeres commented on #110070
/label k8s-infra

[2022-05-16 11:40] bamboo12366 commented on #110034
Hey @oliviermichaelis Thank you for replying me

Maybe my description is too vague, here's example to explain my case:

sometimes user only want to disable scaleDown cuz a bit risky, and we already expect there will be a flood of request to our application, so we manually scale it up over the max but the hpa will patch replicas back to max which is a scaleDown operation. In this circumstance the s

[2022-05-16 12:25] endocrimes commented on #109848
struggling to reproduce this actually...

[code]

[2022-05-16 12:46] liggitt commented on #109851
bumping priority, seeing this in PR presubmit runs

[2022-05-16 13:00] liggitt commented on #110065
this looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/77508, which did not make progress as an issue or have a concrete design proposed

[2022-05-16 13:01] endocrimes commented on #109848
Ok seems like it is definitely reproducible, but difficult 😅

[code]

[2022-05-16 13:02] neolit123 commented on #110070
/sig node

[2022-05-16 13:04] liggitt commented on #109964
/remove-kind bug
/kind support
/close

see https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#avoiding-deadlocks-in-self-hosted-webhooks for guidance to avoid this immediate issue, but be aware that self-hosted webhooks that intercept resources required to run self-hosted webhooks are generally going to be problematic... even if you manage to exempt the names

[2022-05-16 13:05] #109964 closed

[2022-05-16 13:53] denkensk commented on #110065
How about creating a new namespace for this job?
If we allow the resource quota to be scoped on the label selector. I am concerned there may be many different resource quotas in the same namespace, and they may intersect with each other, making troubleshooting problems complicated.

[2022-05-16 13:55] YairHalberstadt commented on #110065
Creating a new namespace is tricky as we need to mount secrets stored in this namespace.

[2022-05-16 14:54] TzlilSwimmer123 commented on #109964
@liggitt thanks!

[2022-05-16 15:15] liggitt commented on #110070
cc @SergeyKanzhelev

[2022-05-16 15:56] frachel commented on #99061
Hitting this with 1.22.6 - when you say a "fix is rolling out" - do you mean there will be a "1.22.7" or something, or is it a behind-the-scenes fix that we don't have to do anything manually to get? We have hundreds of secrets in namespaces.. we currently recreated them all in the default namespace (same thing we had to do with this same bug was there about a year ago) but want to know how we'll

[2022-05-16 16:19] oradwell commented on #109287
we also have the same issue. I previously thought it was caused by #103607 and fixed at #104799 but we're still experiencing this

[2022-05-16 17:10] vaibhav2107 commented on #107730
/remove-lifecycle stale

[2022-05-16 18:24] jsturtevant opened #110073 "Windows Containerd nightly CI job is failing"
### Which jobs are failing?

ci-kubernetes-e2e-capz-master-containerd-nightly-windows

### Which tests are failing?

the cluster doesn't start

### Since when has it been failing?

May 10th 2022

### Testgrid link

https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd-nightly-master

### Reason for failure (if possible)

This is a canary job to catch bugs early in lifecycle of

[2022-05-16 18:25] Jiawei0227 commented on #100474
/close

[2022-05-16 18:25] #100474 closed

[2022-05-16 18:26] aneagoe commented on #106957
@haircommander while your fix does make sense, the root cause (which atm is somewhat unknown) is not really addressed. Something's leaking cgroup slices...
https://github.com/moby/moby/issues/7015 and https://github.com/moby/moby/issues/13802 have both been closed off.

[2022-05-16 18:30] Jiawei0227 commented on #109354
I think basically we need to make sure no customers are actually relying on these labels for their logic.

I think we should not re-add the label unless the volume is being detached from a node.

Label and nodeAffinity are two different thing. It should not impact each other.

Yes. And to make sure no new PVs created has this label, you need to use external-provisioner <=2.1.0. After the cluster i

[2022-05-16 18:39] xmcqueen opened #110074 "E2eNode Suite: [sig-node] MirrorPod ... test is flaking on deletion of mirror pod"
### Which jobs are flaking?

prowjob_name: ci-kubernetes-node-kubelet-kubetest2-1-23
prowjob_config_url: https://git.k8s.io/test-infra/config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml

The test failure is related to static-pods, and the deletion of the associated mirror-pod when the static pod is removed.

### Which tests are flaking?

E2eNode Suite: [sig-node] MirrorPod when creat

[2022-05-16 19:06] xmcqueen commented on #110074
/sig-release

[2022-05-16 19:21] oliviermichaelis commented on #110034
I think I can now better understand your problem :)

From my understanding so far, the HPA is a control loop that will reconcile on its resources to match the desired state. Personally, I think if we enable the HPA, we have made a decision to use autoscaling instead of manual scaling. Scaling manually would therefore be a violation of that decision.
After scaling the replicas of the deployment hig

[2022-05-16 20:05] neolit123 commented on #110074
/sig node

[2022-05-16 21:56] PushkarJ commented on #89535
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 21:57] PushkarJ commented on #74534
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 21:57] PushkarJ commented on #80984
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 21:58] PushkarJ commented on #80983
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 21:58] PushkarJ commented on #81023
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 21:59] PushkarJ commented on #76797
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 22:00] PushkarJ commented on #71411
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 22:00] PushkarJ commented on #60814
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 22:01] PushkarJ commented on #60813
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-16 22:01] PushkarJ commented on #43459
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2022-05-17 01:17] nobiit opened #110077 "Kubeadm pull images failed"
### What happened?

I can't initialize Kubernetes 1.24.0 cluster, failed at `kubeadm config images pull` step

[code]

### What did you expect to happen?

I can initialize Kubernetes 1.24.0 cluster without error

### How can we reproduce it (as minimally and precisely as possible)?

1. Prepare a computer with docker/containerd pre-installed and make sure it works properly
2. Install kubeadm/kubele

[2022-05-17 01:18] nobiit commented on #110077
/sig release

[2022-05-17 01:33] wibed opened #110078 "[Question] Could you elaborate on how namespaces, are required to be statically set"
### What happened?

cannot provision resources dynamically.

### What did you expect to happen?

to dynamically set namespaces as need arises

### How can we reproduce it (as minimally and precisely as possible)?

ClusterRoleBinding.subjects requires a namespace to be set statically

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

</details>

### Cloud provide

[2022-05-17 02:09] aimuz commented on #106475
/remove-lifecycle stale

[2022-05-17 03:56] jwtty commented on #105678
Hi @pohly, can I take test/e2e/common/node?

[2022-05-17 04:55] #108026 closed

[2022-05-17 05:16] astraw99 opened #110080 "Rollback ResourceQuota changes in admission if persisting to etcd fails"
### What happened?

In our cluster, we encountered an issue below:
The ResourceQuota `status.used` showed:
[code]

But when we got the actual `svc` or `cm` count, they were just:
[code]

After debugging the mismatch, we found that it is the apiserver `Create()` with `QuotaAdmission` would +1 (`UpdateQuotaStatus`) every time, even if the `Create()` returned err.

https://github.com/kubernetes/kuber

[2022-05-17 05:23] astraw99 commented on #110080
/sig api-machinery

[2022-05-17 06:11] wangyysde commented on #110080
/cc @wangyysde

[2022-05-17 06:24] jicki commented on #98476
kubelet_volume* / persistent volume metrics missing for ceph rbd

me too

[2022-05-17 06:41] neolit123 commented on #110077
@nobiit also reports that ctr fails to extract 1.24 image layers.

https://github.com/kubernetes/kubeadm/issues/2696#issuecomment-1128217146

[2022-05-17 06:42] neolit123 commented on #110077
As noted on the issue this seems like either a problem with containerd or the images. Not s kubeadm issue, per se.

[2022-05-17 06:58] Goend commented on #109663
I can't reproduce this situation,even if by using code version 1.21.

[2022-05-17 06:59] Goend commented on #109663
I can't reproduce this situation,even if by using code version 1.21.

[2022-05-17 07:22] dalavayi opened #110083 "Liveness probe failing when the load on the application is maxed"
The liveness probe is going into a BAckoff state, when the application is bombarded with 35k rpm, we dont see the same behavior when performing the load with 10k or 15k rpm. What could be a possible reason for this, is the pod stacking all the readiness/liveness probe requests and only responding to app requests or how is it. please correct me if it doesnt make sense

[2022-05-17 07:45] dalavayi commented on #110083
/sig livenessprobe

[2022-05-17 07:52] dalavayi commented on #110083
/kind bug

[2022-05-17 08:10] gaohuatao-1 opened #110084 "kubelet: fix to prevent concurrent map read and map"
### What happened?

When we add custom annotations to PodSandboxConfig.Annotations in function generatePodSandboxConfig， kubelet crashes with errror:
kubelet[2257292]: fatal error: concurrent map read and map write

The role of function generatePodSandboxConfig(located at kuberuntime_sandbox.go) is to create SandboxConfig that is used to RunSandbox. In some scenarios, we want to pass custom annota

[2022-05-17 08:20] pohly commented on #105678
Yes, please do.

[2022-05-17 08:25] sftim commented on #110078
This looks like
/kind support

[2022-05-17 08:25] sftim commented on #110078
/remove-kind bug

[2022-05-17 08:27] andyzhangx commented on #99061
@frachel the fix is already rolled out on AKS with following fixed versions,  if you are on AKS 1.22.6, you need to do an image upgrade for agent node to get fixed versions

[code]

[2022-05-17 08:47] wojtek-t commented on #108518
https://github.com/kubernetes/kubernetes/pull/110040 should address this once merged.

[2022-05-17 08:48] JornShen commented on #108065
@VivekThrivikraman-est what's the difference between this issue problem and https://github.com/kubernetes/kubernetes/issues/105192 ? I see they have the same name

[2022-05-17 09:24] neolit123 commented on #110077
@nobiit from the images that kubeadm lists, does this only happen for the kube-apiserver image?

[2022-05-17 10:08] mk46 commented on #110077
Issue is related to containerd, I try to reproduce the same. It's working with fixes provided by @dims in https://lifesaver.codes/answer/failed-to-create-kubelet-unknown-service-runtime-v1alpha2-runtimeservice-73189
`containerd config default > /etc/containerd/config.toml`

[2022-05-17 10:44] kerthcet commented on #106886
Hi @ahg-g , do you have time, if not, I can help draft a KEP.

[2022-05-17 11:52] gaohuatao-1 commented on #110084
![image](https://user-images.githubusercontent.com/22569211/168804092-7f9e17eb-144f-4150-b65b-6502a72c28ec.png)

The function newPodLables and function newPodAnnotations have different copy methods， what is the reason for this?

[2022-05-17 12:15] satya12sahoo commented on #109766
Hello @swatisehgal

In normal scenario, I had configure the NUMA with below parameter to Kubelet file

cat /etc/systemd/system/kubelet.service.d/30-kubelet-extra-args.conf
[Service]
Environment='KUBELET_EXTRA_ARGS=--feature-gates=MemoryManager=true --allowed-unsafe-sysctls=fs.mqueue.* --cpu-manager-policy=static --memory-manager-policy=Static --topology-manager-policy=single-numa-node --topology-m

[2022-05-17 12:38] neolit123 commented on #110077
/remove-sig release
/sig node
(But the issue seems external)

[2022-05-17 13:15] mk46 commented on #110077
Yes but not exactly for v1.24. See  https://github.com/containerd/containerd/issues/4581 and https://github.com/kubernetes-sigs/cri-tools/issues/710

[2022-05-17 13:20] #108518 closed

[2022-05-17 13:27] mk46 commented on #110077
`disabled_plugins = ["cri"]`  in /etc/containerd/config.toml is actual cause. this is default config when installing containerd with apt.
Possible solution may be

1. Commenting disabled_plugins = ["cri"]  or
2. Removing /etc/containerd/config.toml or
3. containerd config default > /etc/containerd/config.toml

and then restarting containerd service.

[2022-05-17 13:31] neolit123 commented on #110077
/kind documentation

[2022-05-17 13:44] Shubham82 commented on #109812
Hi @5279314
I checked this on both k8s v1.20.0 and v1.23.3, With the following steps it's working for me in both, please follow the below steps:
1) Create ServiceAccount:

kind: ServiceAccount
metadata:
  name: test
  namespace: default

2) Attach the role/clusterrole and rolebinding/clusterrolebinding:

3) Deploy pod:

[code]
4) Now access the pod:

5) Run the following command:

We have to assig

[2022-05-17 13:47] liuyingshanx commented on #106149
This comment really makes sense. As the workload or priority of each container of a same pod varies a lot, it's more flexible that static policy is decided according to the quality of each container, but not in pod level.

At present, the Cgroups hierarchy is: node level -> qos level -> pod level -> container level. In this feature, maybe it need to exchange the position of qos level and pod level

[2022-05-17 14:11] vilmosnagy commented on #60140
@matthyx I cannot find your branch, and the shared link has expired. Could you help me to download the patched `kubectl` executable?

[2022-05-17 18:52] federicopires commented on #108096
In case this helps someone else, our issues were because of this particular cluster where we had CSI driver disabled and were using kops-ssd storage class instead. We switched to CSI and that fixed it.

[2022-05-17 20:12] nhumrich opened #110097 "Rollout history doesn't show the revision when output format is used"
### What happened?

If you use `kubectl rollout history --revision=100` you get the pod spec at revision 100.

Everything is correct. However, if you add the `-o json` or `-o yaml` on the command, you just get the latest deployment, and not the revision you specified.

### What did you expect to happen?

I expected to get the deployment spec of the revision I specified, or at least some json repre

[2022-05-17 20:12] nhumrich commented on #110097
/sig cli

[2022-05-17 20:14] cyang49 opened #110098 "Kubemark script support for IKS not working with latest ibmcloud CLI"
### What happened?

While trying to run `kubernetes/test/kubemark/start-kubemark.sh` with a valid ibmcloud account, the following error happened

[code]

I also tried to run `ibmcloud ks region-set` and got the same error. Looks like a compatibility issue.

### What did you expect to happen?

ibmcloud CLI shouldn't return error

### How can we reproduce it (as minimally and precisely as possible)?

[2022-05-17 20:19] leilajal commented on #110001
/triage accepted

[2022-05-17 20:22] roycaihw commented on #109953
@denkensk @fusida Could you please provide steps to reproduce this issue (without using kubectl)?
/help

[2022-05-17 20:24] roycaihw commented on #110080
Thanks for reporting @astraw99! Would you like to send a PR to fix the issue?

[2022-05-17 20:24] roycaihw commented on #110080
/help

[2022-05-17 23:36] oomichi commented on #107957
@JohnTitor is active for this issue now.

/remove-lifecycle stale

[2022-05-17 23:46] #94738 closed

[2022-05-17 23:56] ieugen commented on #105536
Also confirming on k3s
[code]
I am using local-path-provisioner and nfs-server-provisioner-1.4.0 .
No hard reboot in my case.
I removed a helm chart that was using NFS and deployed it to use both NFS and local volumes via local-path-provisioner.

[2022-05-18 00:13] ypicard commented on #105204
I am using AWS EKS in version 1.22 and still seing this issue. Since AWS restricts which Kubernetes versions are available to upgrade to, I do not think I am able to just bump the version and benefit from this fix.

Is there a way to manually fix it while waiting for AWS to actually update the version on their end?

[2022-05-18 01:11] liggitt commented on #110080
This is currently working as designed, there is no rollback hook for admission on etcd write errors. There is a reconciliation controller that periodically sweeps resources and corrects overallocated quota usage. Are you seeing that happen or is it permanently stuck with high usage?

[2022-05-18 01:57] MikeSpreitzer commented on #94738
Hooray!  Thanks, @MadhavJivrajani !

[2022-05-18 02:20] astraw99 commented on #110080
Yes, In the `resource_quota_controller`, if the resyncPeriod > 0, will do a full recalculation across all quotas, then the mismatched status.used will be consistent with the actual resource num.

So it is the gap between the resyncPeriod or if resyncPeriod = 0, then the mismatch will occur.

[2022-05-18 03:12] yangjunmyfm192085 commented on #110084
/sig node

[2022-05-18 03:13] yangjunmyfm192085 commented on #110083
/sig node

[2022-05-18 04:18] #109549 closed

[2022-05-18 04:31] SataQiu commented on #110097
/assign

[2022-05-18 04:42] brunoborges commented on #108028
I believe Docker Desktop with WSL2 still uses cgroups v1 because systemd is not a thing _yet_ on WSL2.

[2022-05-18 04:47] rthakur-est commented on #107928
/remove-lifecycle stale

[2022-05-18 05:53] matthyx commented on #110060
So after all it was a gcloud credentials issue... they need to be rotated every 3 months:
https://kubernetes.slack.com/archives/C7J9RP96G/p1652721834638769
https://kubernetes.slack.com/archives/C7J9RP96G/p1644607361477129?thread_ts=1644597775.837469&cid=C7J9RP96G

[2022-05-18 06:24] fromanirh commented on #106635
after a very long troubleshooting and quite few attempts, https://github.com/kubernetes/kubernetes/pull/109820 is ready for review

[2022-05-18 07:05] JanScheurich commented on #106270
/remove-lifecycle stale

[2022-05-18 09:28] Aib666 opened #110107 "<a href="https://api.easycla.lfx.linuxfoundation.org/v2/repository-provider/github/sign/18706487/20580498/110106/#/?version=2"><img src="https://s3.amazonaws.com/cla-project-logo-prod/cla-not-signed.svg" alt="CLA Not Signed" align="left" height="28" width="328"></a><br/><br /><ul><li><a href='https://api.easycla.lfx.linuxfoundation.org/v2/repository-provider/github/sign/18706487/20580498/110106/#/?version=2' target='_blank'>:x:</a> - login: @Aib666 / name: Aib_666 . The commit (49e55cc4bf0c7cf3ab5954a5e117c9caa2d76464) is not authorized under a signed CLA. <a href='https://api.easycla.lfx.linuxfoundation.org/v2/repository-provider/github/sign/18706487/20580498/110106/#/?version=2' target='_blank'>Please click here to be authorized</a>. For further assistance with EasyCLA, <a href='https://jira.linuxfoundation.org/servicedesk/customer/portal/4' target='_blank'>please submit a support request ticket</a>.</li></ul>"
<a href="https://api.easycla.lfx.linuxfoundation.org/v2/repository-provider/github/sign/18706487/20580498/110106/#/?version=2"><img src="https://s3.amazonaws.com/cla-project-logo-prod/cla-not-signed.svg" alt="CLA Not Signed" align="left" height="28" width="328"></a><br/><br /><ul><li><a href='https://api.easycla.lfx.linuxfoundation.org/v2/repository-provider/github/sign/18706487/20580498/110106/#/

[2022-05-18 09:39] bamboo12366 commented on #110034
I see. I just feels like the HPA should consider some manually scale cases, or at least consider it will happened and not interfere other HPA logic

[2022-05-18 09:49] oradwell commented on #109287
Found out that this is actually a duplicate of #106496 and it was fixed in #107997
I've removed "app.kubernetes.io/version" from the job objects as a workaround and it worked

@wastrachan as a workaround you can also remove "app.kubernetes.io/version" label from the job. since it changes on every deploy the bug causes the cronjob controller to lose track of the job status.
@ide you must have a sim

[2022-05-18 10:00] xuchen-xiaoying commented on #107172
I found an issue related with this. Because some fields(RSSBytes/ UsageCoreNanoSeconds) are missing in stats got from cAdvisor, so after overwrite, these fields are missing when exposed by summary API.

Could I only trust the stats from cri and skip the step to get stats from cadvisor?

[2022-05-18 10:49] kong62 opened #110109 "kubernetes scheduler too slow"
### What happened?

when use daemonset create 178 pods，take me 33 seconds
[code]

### What did you expect to happen?

I think 1 - 5 seconds created completed

### How can we reproduce it (as minimally and precisely as possible)?

100 nodes in cluster，then create a daemonset

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

[2022-05-18 10:55] kong62 commented on #110109
/sig scheduling

[2022-05-18 13:46] wastrachan commented on #109287
@oradwell Great research!

#107997 was backported into several versions (including 1.22 - #108305). Presumably this would make it a candidate for a release soon.

I do see that 1.24.0 contains this fix, but unfortunately this probably won't be available to me (on GKE) for a while. I'm going to try out your workaround, but leave this issue open for now, until I'm sure #107997 resolves this behavior

[2022-05-18 13:53] wb14123 commented on #101079
Hi @adisky , I'm having the same problem. In my case, and I think that's also what @ncapps meant is, I'm actually using docker as container run time. But since `/var/lib/docker` is backed with ZFS, list the disk usage is very expensive: the `zfs list` drives CPU usage to 100%. Is there anyway to configure the frequent of the behavior?

[2022-05-18 14:11] cagatayatabay opened #110113 "Kubernetes Token Controller is not working at v1.24"
### What happened?

I installed kubernetes 1.24, cluster is up and healthy but when i try to install kubernetes-dashboard, i realized can not access dashboard token. Before 1.24 i just describe token and get.

Normally when sa created, secret should be created automaticaly, BUT NOW, I just tried create service account then secret not created automaticaly.

just create sa with: "kubectl create serv

[2022-05-18 14:19] wb14123 commented on #101079
Actually I'm not sure if `--disabled-metrics` in kube-apiserver can do the work or not, since the `zfs list` command is invoked by kubelet. If it doesn't work, it would make since to also add the `--disabled-metrics` flag to kubelet since this flag is also in many other Kubenetes components.

[2022-05-18 15:01] mysunshine92 opened #110114 "when node zonestate is stateFullDisruption，we should stop evicting pod，but now limiter is nc.evictionLimiterQPS"
### What happened?

when node zonestate is stateFullDisruption，there is no node Ready，so evicting pod is meaningless.
but now the limiter is nc.evictionLimiterQPS，it will evict pod.

when node zonestate is stateFullDisruption，we should set limiter is 0.

### What did you expect to happen?

when node zonestate is stateFullDisruption，we should set limiter is 0.so it will not evict pod.

### How can

[2022-05-18 15:03] mysunshine92 commented on #110114
/sig-apps
/triage accepted

[2022-05-18 15:04] mysunshine92 commented on #110114
/sig apps

[2022-05-18 15:37] neolit123 commented on #110107
/close

please contact the CNCF help desk if you have issues with the CLA.
alternatively join the k8s slack and ask questions in the #sig-contribex channel.

[2022-05-18 15:37] #110107 closed

[2022-05-18 15:37] neolit123 commented on #110113
/sig auth

[2022-05-18 15:39] neolit123 commented on #110078
discuss.k8s.io or the dev@kubernetes.io mailing list can be a used for this discussion:
https://github.com/kubernetes/community/blob/master/communication/mailing-list-guidelines.md#sharing-the-meeting-notes-with-the-google-group

for additional support questions, please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-05-18 15:40] #110078 closed

[2022-05-18 15:40] neolit123 commented on #110098
/sig scalability

[2022-05-18 15:43] vaibhav2107 commented on #67500
/assign

[2022-05-18 15:57] haircommander commented on #106957
I am not sure if they're leaking as much as have yet to be cleaned up. Have those pods been deleted by the kubelet yet? and by deleted, I mean fully removed (no traces if searched by `crictl`). The kubelet will clean up the pod scope when GC kicks in, but will keep them around until then to allow for forensics and inspection to be performed. Since your script uses `crictl` to find the scopes, I am

[2022-05-18 16:14] haircommander commented on #106957
@aneagoe to verify my suspicion, I would be interested in seeing `crictl inspectp` for all the pods that are showing up in your script, as well as `crictl ps -a` to cross reference pods to containers, if you wouldn't mind uploading that somewhere.

[2022-05-18 16:36] dioguerra opened #110116 "audit policy wrong logic does not record events."
### What happened?

Configuration on the k8s audit-policy.yaml is failing to currectly record the events.
I'm trying to create a audit-policy.yaml fail to save some of the events and i noticed some issues.

1. I cannot dismiss all the logs that watch, get or list an object:
[code]
Will produce no effects and the logs will be printed in the log file.

2. I'm trying to drop all "watch", "get", "list

[2022-05-18 17:00] jpbetz commented on #106438
/remove-lifecycle stale

[2022-05-18 19:18] Shubham82 commented on #110113
Hi @cagatayatabay
This is due to the `LegacyServiceAccountTokenNoAutoGeneration` feature gate which is in beta(enabled by default) in k8sv1.24.

See this [KEP:2799](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2799-reduction-of-secret-based-service-account-token) and PR: #108309

 From now you have to [manually create a service account API token](https://kubernetes.io/docs/

[2022-05-18 23:29] patelr3 opened #110120 "kubectl cp fails with absolute path on Windows"
### What happened?

I tried to copy a file from a running pod to my local machine using `kubectl cp` on Windows. I used the `$HOME` env var in Powershell and it failed to copy saying essentially no local path was specified.

[code]

Using relative paths works. Also removing the `C:` allows the command to work:

[code]

### What did you expect to happen?

I expected `kubectl cp` to succeed and copy

[2022-05-18 23:34] patelr3 commented on #110120
/sig windows

[2022-05-19 00:58] Riaankl opened #110121 "Write ControllerRevisionLifecycleTest +7 Endpoints"
# Progress <code>[6/6]</code>

-   [X] APISnoop org-flow: [Appsv1ControllerRevisionLifecycleTest.org](https://github.com/apisnoop/ticket-writing/blob/master/Appsv1ControllerRevisionLifecycleTest.org)
-   [X] Test approval issue: #110121
-   [X] Test PR: #110122
-   [x] Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&grap

[2022-05-19 00:59] Riaankl commented on #110121
/triage accepted

[2022-05-19 01:15] Riaankl commented on #107939
/close
Replaced by #110121

[2022-05-19 05:16] astraw99 opened #110123 "kubectl `annotate` msg is not distinguished between annotate and unannotate"
### What happened?

Currently, the kubectl `annotate` cmd output msg is not distinguished between annotate and unannotate (using `-` suffix ), both of them response annotated.

e.g.
1. Annotation key `hello` not exist
[code]
2. Annotation key `hello` exist
[code]
3. Annotation key `hello2` not exist
[code]

### What did you expect to happen?

To distinguish kubectl response msg between annotate an

[2022-05-19 05:21] astraw99 commented on #110123
/sig cli
I am trying to fix it.

[2022-05-19 05:51] kerthcet commented on #109900
Actually this is worked as expected, when using `--config`, `--port` will be ignored. IIRC, we removed the insecure flags in v1.24 already. I think we should cover this need here in case of secure requirement, but I don't know the origin design, do you have any idea @Huang-Wei ?

[2022-05-19 05:53] #101877 closed

[2022-05-19 06:00] NikhilSharmaWe commented on #108144
/remove-lifecycle stale

[2022-05-19 06:31] maaoBit commented on #110028
This has already been fixed in https://github.com/kubernetes/kubernetes/pull/96876

[2022-05-19 07:22] aneagoe commented on #106957
@haircommander I'm sure they're not in crio anymore. I'm only using `crictl inspectp` to ensure I'm never going to touch a scope that's reported under a pod still seen by crio. I'll scale down the DaemonSet on my test cluster, run some workload to generate the leaking pods and then provide you some log snippets and requested output from crictl.

[2022-05-19 07:28] tonyaw opened #110126 "Ephemeral container can't work with restricted PodSecurity"
### What happened?

I want to start an ephemeral container for a pod under namespace with restricted PodSecurity.
I got following error:
Warning  FailedCreate  59s (x6 over 2m20s)  replicaset-controller  (combined from similar events): Error creating: pods "ephemeral-demo-74d9cfc58f-jbdpg" is forbidden: violates PodSecurity "restricted:latest": allowPrivilegeEscalation != false (container "ephemer

[2022-05-19 07:43] neolit123 commented on #110126
/sig auth

[2022-05-19 08:56] DreamyProtect commented on #106957
I took one of my clusters that's suffering heavily on this issue (hosting gitlab CI jobs), reactivated the logs on it for a second, doesn't take long for the kubelet to log things like this:
[code]
Trying to inspect the pod with `crictl inspectp 4f3c87e5_9c3d_4a72_b73e_f7a406d65220` returns:
[code]
I tested with a few pods and the result is always the same.
This seems logic as `crictl ps -a` gives

[2022-05-19 09:08] neolit123 commented on #110116
/sig auth

[2022-05-19 09:54] aojea commented on #103145
@BenTheElder I have the necessary tooling to enable prometheus on kind to gather metrics and dump them at the end of the test

https://github.com/aojea/kind-networking-plugins/tree/main/monitoring

What do you think to add it to the kind jobs? and if affirmative, what will be the best way?

I guess it should be called from https://github.com/kubernetes-sigs/kind/blob/main/hack/ci/e2e-k8s.sh

[2022-05-19 09:56] lzhecheng commented on #109913
`cloud-provider-azure-slow-capz` job has been recovered. The case `LoadBalancers should be able to create an internal type load balancer` was failing because of a bug in k/k test code, which can be exposed by CAPZ clusters (now), but not aks-engine clusters (before).
Now the bug has been fixed: https://github.com/kubernetes/kubernetes/pull/109413
Due to the fact that the fix won't be in release br

[2022-05-19 10:01] Abirdcfly commented on #107377
https://github.com/kubernetes/test-infra/pull/26282 has delete these job.

/close

[2022-05-19 10:01] #107377 closed

[2022-05-19 10:36] vaibhav2107 commented on #103587
/remove-lifecycle stale

[2022-05-19 10:37] vaibhav2107 commented on #99697
/remove-lifecycle stale

[2022-05-19 10:59] scholtz opened #110128 "ExecSync"
### What happened?

ExecSync messages are flooding syslog

Each second we have logs something like:

[code]

This happens on the worker node.

### What did you expect to happen?

I dont want the syslog to be flooded with base operation messages..

### How can we reproduce it (as minimally and precisely as possible)?

I dont know.. just run few applications in k8s probably.

### Anything else we ne

[2022-05-19 16:10] BenTheElder commented on #105681
That's talking about go at runtime, but this issue involved a large increase in the compiler code specifically, which should be resolved by removing the problematic code in 1.18 https://github.com/golang/go/issues/49035#issuecomment-947887007

[2022-05-19 16:21] #110054 closed

[2022-05-19 16:35] yogevyuval commented on #70732
/reopen

[2022-05-19 16:38] logicalhan commented on #109837
/assign @dashpole
/triage accepted

[2022-05-19 16:41] leilajal commented on #110080
/triage accepted

[2022-05-19 16:43] leilajal commented on #109953
/cc @jpbetz
/triage accepted

[2022-05-19 16:47] dashpole commented on #109837
I think this use-case might be met by https://github.com/kubernetes/kubernetes/pull/109398.

[2022-05-19 17:01] BenTheElder commented on #108028
It's also true in rancher desktop and colima where alpine is used which ships openrc, besides WSL2 which currently requires a custom init.

We're painfully aware of this in KIND, cgroupns + cgroup v2 everywhere would be great but I don't think it will happen anytime soon.

Even if they're not a primary use case, those cover a lot of developers iterating locally with KIND or otherwise. Docker Deskt

[2022-05-19 17:05] cagatayatabay commented on #110113
Great, thanks!

[2022-05-19 18:53] PaulFurtado opened #110136 "Kubelet makes excessive calls to EC2 metadata service, which has rate limits"
### What happened?

We frequently see AWS metadata service rate limiting on kube nodes and one of the worst offenders is kubelet. if not aware, the AWS IMDS `169.254.169.254` has a packet-based rate limit of 1024 packets per second which includes both IMDS and DNS.

On the node I'm currently investigating, every 10 seconds, it makes 36 useless requests which amounts to a few hundred packets amount

[2022-05-19 18:54] PaulFurtado commented on #110136
/sig AWS

[2022-05-19 18:54] PaulFurtado commented on #110136
/sig node

[2022-05-19 18:55] PaulFurtado commented on #110136
/sig cloud-provider

[2022-05-19 19:28] BenTheElder commented on #103145
I would really really like to stop making e2e-k8s.sh more complex before we migrate to a binary command, and I'd like to stop straying further from default configuration. Why are these metrics disabled by default?

I also think kind is probably not a very appropriate way to perform performance tests, at least specifically not when running on noisy-neighbor host environments.

[2022-05-19 20:17] liyimeng commented on #108364
@giuseppe are we giving up?

[2022-05-19 20:21] BenTheElder commented on #108364
I'm sorry this doesn't help in your case, but leaving a note on this thread that we've moved to systemd cgroupDriver in [KIND](https://kind.sigs.k8s.io/) for Kubernetes v1.24.0+

[2022-05-19 20:22] ialidzhikov commented on #110136
/area provider/aws
cc @nckturner @hakman

[2022-05-19 20:32] luckerby commented on #109444
Ran into this yesterday as well. As discussed with @jsturtevant I'm adding the link to the relevant logs [here](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110075/pull-kubernetes-e2e-capz-windows-containerd/1527045280405393408).

[2022-05-19 21:03] tkashem opened #110139 "data race in priority and fairness unit test"
### What happened?

`TestApfWatchHandlePanic/post-execute_panic` has a data race

[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110132/pull-kubernetes-unit/1527377549582143488

### What did you expect to happen?

test should not have data race

### How can we reproduce it (as minimally and precisely as possible)?

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/11

[2022-05-19 21:09] tkashem commented on #110139
/sig api-machinery
cc @wojtek-t @MikeSpreitzer

[2022-05-19 21:22] tkashem commented on #110139
looks like there has been a PR to fix the data race - https://github.com/kubernetes/kubernetes/pull/107465

[2022-05-19 23:00] #103819 closed

[2022-05-19 23:20] benlongo commented on #60748
I also need access to USB devices
/remove-lifecycle stale

[2022-05-19 23:26] Shikaz commented on #68861
I am using below but getting an error with patchtype JSONPatchType :

`[{"op":"replace","path":"/status/conditions/-","value":{"status":"False","type":"RegistryFailure"},{"status":"False","type":"FrequentPosixSignals"},{"status":"False","type":"KernelDeadlock"},{"status":"False","type":"QuayState"},{"status":"False","type":"ReadonlyFilesystem"},{"status":"False","type":"ContainerRuntimeUnhealthy"}

[2022-05-19 23:46] jsturtevant commented on #109444
we are testing a fix here https://github.com/cloudbase/cloudbase-init/issues/94#issuecomment-1132286138. We are pretty close to getting a working fix.

[2022-05-20 02:12] haoruan commented on #109953
/assign

[2022-05-20 05:54] ash2k commented on #89899
At the moment the SPDY implementation's `Close()` method on a stream (not connection) does a half-close. I think we need a way to do that rather than using an empty message to mean "close stdin" channel. What if in the future we'll need more than a single writable channel for some purpose, not only stdin?

What if we introduce a v5 protocol and treat messages with channel id only as a half-close s

[2022-05-20 06:44] ash2k commented on #89163
Draft PR https://github.com/kubernetes/kubernetes/pull/110142.

[2022-05-20 07:39] liyimeng commented on #108364
A lot of embedded system are not systemd ready, if we are giving up here, bad news for those, I guess.

[2022-05-20 07:55] BenTheElder commented on #108364
Those systems are probably running cgroupsv1 though?

Commented with a bit more detail in https://github.com/k3s-io/k3s/issues/5133#issuecomment-1132593610, of course I do *not* speak for SIG node though.

I think mostly people are just busy with many other issues filed. I would guess further that *right now* giuseppe is probably at KubeCon this week.

[2022-05-20 07:57] sftim commented on #110113
/remove-kind bug
/kind support

[2022-05-20 08:22] silenceper opened #110143 "windows node is not ready: PLEG is not healthy"
### What happened?

windows node  not ready:
kubelet error log:
[code]

dockerd is running normal。

### What did you expect to happen?

node is ready

### How can we reproduce it (as minimally and precisely as possible)?

normal run for a while

### Anything else we need to know?

_No response_

### Kubernetes version

[code]

### Cloud provider

<details>

</details>

### OS version

<details>

[

[2022-05-20 08:23] silenceper commented on #110143
/sig  windows

[2022-05-20 08:32] mysunshine92 commented on #110114
cc @k82cn @kow3ns @soltysh

[2022-05-20 09:30] danwinship commented on #108074
https://pkg.go.dev/net/netip

[2022-05-20 09:30] vsxen commented on #110065
use scheduler plugin ?
https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/kep/9-capacity-scheduling/README.md
for example:
[code]

[2022-05-20 09:37] X-neuron opened #110144 "fail to start kubelet(1.24) in wsl run with ubuntu22.04"
### What happened?

May 20 16:59:42 XZ-GSEDAU80BA62 kubelet[7328]: Flag --container-runtime has been deprecated, will be removed in 1.27 as the only valid value is 'remote'
May 20 16:59:42 XZ-GSEDAU80BA62 kubelet[7328]: Flag --pod-infra-container-image has been deprecated, will be removed in 1.27. Image garbage collector will get sandbox image information from CRI.
May 20 16:59:42 XZ-GSEDAU80BA62

[2022-05-20 10:51] mborsz opened #110146 "High cpu usage in json.compact call"
### What happened?

I was debugging performance of case with heavy watch traffic of CRD objects and found interesting suboptimality: we burn significant amount of CPU on json.compact calls that deserialize JSONs to validate correctness of already serialized objects:
![image](https://user-images.githubusercontent.com/2559168/169510517-e5b23c43-b15c-4f6d-adf1-cf36ccf6e203.png)

It looks like while i

[2022-05-20 10:54] mborsz commented on #110146
/sig api-machinery

[2022-05-20 10:55] mborsz commented on #110146
The most prefered solution is to cache serialized metav1.Event objects and reuse its result in all watchers.

[2022-05-20 11:55] aneagoe commented on #106957
I've posted a quick gist with all the manifests I'm using to deploy a garbage collector daemon set. Nothing fancy, just a bit of patchwork to address the issues I was having.
https://gist.github.com/aneagoe/6e18aaff48333ec059d0c1283b06813f

[2022-05-20 12:23] nbrational commented on #109698
Encountered same issue when creating a self managed node group where nodes are not assigned cluster security group and instead assigned a single SG WITHOUT the tag `kubernetes.io/cluster/cluster-name: owned`. During creation of LoadBalancer service, in-tree LB controller picks the node security groups to add an ingress rule where source is dynamically created CLB security group. But when deleting

[2022-05-20 13:45] mborsz commented on #110146
/cc @wojtek-t

[2022-05-20 15:35] gjkim42 commented on #110074
cc

[2022-05-20 16:22] jcstanaway commented on #107415
Waiting for https://github.com/kubernetes/kubernetes/pull/107531 to be merged into a k8s release. Appears to be targeted to 1.25, so unless backported to earlier releases, users may want to consider using an OPA Gatekeeper policy to detect/block such malformed label values.

/remove-lifecycle stale

[2022-05-20 16:47] MikeSpreitzer commented on #110139
How did this get merged?  I thought that there is always data race checking.

[2022-05-20 17:57] BenTheElder commented on #103860
Actually, that is circular ... 🙃

https://github.com/kubernetes-sigs/kind/pull/2264#issuecomment-885814334

Devil's advocate:
How much tech debt is this code carrying?
How much effort would it be to add a CI coverage?

It looks like there's some easily identified niche usage still:
https://grep.app/search?q=--proxy-mode%3Duserspace

[2022-05-20 19:13] sftim commented on #110136
Even if we did want to retry, shouldn't that involve a back-off?

[2022-05-20 21:07] dariodsa opened #110149 "[RFE] image_locality - Scheduling factor"
Hi,
in default scheduling profile ``LowNodeUtilization``  ``ImageLocality`` is plugin which is taken in the consideration. But, you can only schedule pods and they consists of containers. So if one container has specified ``PullPolicy`` to ``Always`` should ``image_locality`` really been taken in the consideration because you will pull image and not take in consideration local image?
https://githu

[2022-05-20 21:12] marosset commented on #109444
/triage accepted

[2022-05-20 21:26] marosset commented on #110143
@silenceper can you share more details about how you configured the node?
There is not enough information in this issue to fully troubleshoot.

Is the node healthy for a while and then suddenly goes unhealthy?

Based on this comment that is my assumption...

normal run for a while

If this is the case can you look is Docker EE / MCR EE healthy?

[2022-05-21 02:51] fenngwd commented on #110109
[code]

It seems no pod has been created before 33s. IMHO, maybe it's not a scheduler's related issue, it's a daemonset controller's related issue. BTW, it's better to attach more details(like logs, events and etc.) to figure it out.

[2022-05-21 03:07] kong62 commented on #110109
solved，because alicloud arms-pilot webhook, deleted it.

[2022-05-21 03:07] #110109 closed

[2022-05-21 05:34] astraw99 commented on #110080
@liggitt Trying to fix it by https://github.com/kubernetes/kubernetes/pull/110153
PTAL thanks.

[2022-05-21 15:21] harshanarayana commented on #109936
@BenTheElder  @dims  I would be happy to help in any way I can with this if that is all right with you. In our product we have a local docker registry that runs as a Pod in the local k8s cluster itself. Which like you can already see is a cyclic dependency. Though it is not the best thing, works great for us in AirGap solutions. We were bit by this uncontrolled GC in production a bunch of times.

[2022-05-21 15:25] kerthcet commented on #106127
/remove-lifecycle stale

[2022-05-21 15:26] dims commented on #109936
@harshanarayana 2 ways to do this ... easy way right now would be to just send what you have now as a draft PR to kick start the discussion (esp to determine if a KEP is needed).

[2022-05-21 15:28] harshanarayana commented on #109936
@dims Great. Let me get that done by End of next week. Mind assigning this to me ?

[2022-05-21 16:03] BenTheElder commented on #109936
xref: https://github.com/containerd/containerd/issues/6930

[2022-05-21 16:06] BenTheElder commented on #107645
/remove-lifecycle rotten
something to consider for #109111

[2022-05-21 16:27] harshanarayana commented on #109936
@BenTheElder  /Ack. I also remember d3ae0a381ac8d90d8a532bd502e685a2641ea9db was merged a while ago. To enable exempting the pinned images from being GC'ed.

[2022-05-21 16:28] ricardbejarano commented on #50375
/reopen

[2022-05-21 16:28] ricardbejarano commented on #50375
This is a very simple feature I don't know why it should be closed.

[2022-05-21 16:32] nodesocket commented on #50375
While I completely agree a command to reset a pod restarts wound be super useful, it’s been explained above the technical complications on why it not just as easy as setting a int back to 0. Software is hard! Especially Kubernetes.

[2022-05-21 16:34] BenTheElder commented on #109936
Though this comment suggests it's only a a recommendation to kubelet not a requirement https://github.com/kubernetes/kubernetes/commit/d3ae0a381ac8d90d8a532bd502e685a2641ea9db#diff-583fcb2b2b9fed64e8ac45392565a924918b4a64a7d4b66df0d4bccd298e8769R1259

[2022-05-21 16:37] harshanarayana commented on #109936
Indeed. Also, the current implementation like you shared above, is only addressing the sandbox images. (Until the generalisation discussion is concluded on that thread) What would be the way one would indicate that this image should be pinned  on the K8s side when the pod is being created ? Annotate it in the spec ?

[2022-05-21 16:42] ricardbejarano commented on #50375
Am I missing something? It seems to me like we could make apiserver source pod restart counts from etcd instead of kubelet. And then we could simply `k edit pod <ID>` and set `status.containerStatuses[i].restartCount` to `0`.

Is there something I'm missing?

[2022-05-21 16:51] mrdima commented on #50375
/reopen

[2022-05-21 16:52] mrdima commented on #50375
Haha, too bad, had to try. I like the idea @ricardbejarano

[2022-05-21 17:19] BenTheElder commented on #110128
These logs are from containerd, not Kubernetes.

https://github.com/containerd/containerd
/kind support
/remove-kind bug
/close

[2022-05-21 17:19] #110128 closed

[2022-05-21 18:47] smarterclayton commented on #104017
/close

dockershim is dead

[2022-05-21 18:48] #104017 closed

[2022-05-21 19:59] anshul35 commented on #106842
Hi , can I take this  ?

[2022-05-22 01:18] xmcqueen opened #110156 "[Flaky test] ci-containerd-soak-cos-gce NodeProblemDetector should run without error"
### Which jobs are flaking?

sig-node-cos

The ci-containerd-soak-cos-gce job is flaking on `NodeProblemDetector should run without error`

https://git.k8s.io/test-infra/config/jobs/kubernetes/sig-node/containerd.yaml

### Which tests are flaking?

Kubernetes e2e suite.[sig-node] NodeProblemDetector should run without error

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-containerd-soak-co

[2022-05-22 01:18] #107174 closed

[2022-05-22 01:48] xmcqueen commented on #110156
I see [over here](https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor.json) the regex for TaskHung:

`"task [\\S ]+:\\w+ blocked for more than \\w+ seconds\\."`

will also match the log line for DockerHung:

`"task docker:\\w+ blocked for more than \\w+ seconds\\."`

so I'll look around over there a bit more.

[2022-05-22 03:25] BenTheElder commented on #109936
I don't think pods should be able to configure this at all, I think this is something for cluster administrators to configure.
Letting pods configure it is a potential DOS issue.

[2022-05-22 03:53] fenngwd commented on #110144
[code]

It seems control-plane-endpoint didn't get correct name resolution. Section about this in doc may help you to solve this problem. Link below:
[https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#considerations-about-apiserver-advertise-address-and-controlplaneendpoint](url)

[2022-05-22 05:59] harshanarayana commented on #109936
/Ack @BenTheElder  @dims

I have a draft PR opened with the changes that we use internally to have an exemption list. PTAL and let me know if we should take this via a KEP.

[2022-05-22 05:59] harshanarayana commented on #109936
/assign

[2022-05-22 08:15] fenngwd commented on #110083
It's more easier for us to understand what kind of problem you are facing if you attach more details in description. Please attach more details according issue template guide.

[2022-05-22 08:18] #103909 closed

[2022-05-22 09:08] TzlilSwimmer123 commented on #109964
@liggitt ?

[2022-05-22 09:40] fenngwd commented on #110080
As @liggitt said, there is no rollback hook for admission on etcd write errors. IMHO, the way using reconciliation controller to sweep usage is more general and understandable than doing rollback in some specific situation.

[2022-05-22 12:06] khatrig opened #110158 "Unable to attach or mount volumes: timed out waiting for the condition"
### What happened?

PVC mount gets timed out when the number of parallel pod requests with pvc access goes past 400. This caused pod PVC mount retries(several of these in some cases.) and delays the pod startup.

`3m1s        Warning   FailedMount              pod/nginx-deployment-7c54456f-2sk89    Unable to attach or mount volumes: unmounted volumes=[stresstest-pvc kube-api-access-f2nnp], unattac

[2022-05-22 12:09] khatrig commented on #110158
/sig storage
/sig scalability

[2022-05-22 13:16] endocrimes commented on #110074
/triage accepted
/priority important-soon

[2022-05-22 13:45] endocrimes commented on #105678
Have we considered `ExpectTrue`/`ExpectFalse` helpers that can skip the comparison output? - `if bool { Fail }` is noisy and makes it harder to skim tests, especially given that it's a pretty commonly required pattern.

[2022-05-22 14:24] #107093 closed

[2022-05-22 14:45] maxwolffe commented on #69676
/remove-lifecycle stale

[2022-05-22 16:30] invidian commented on #84298
/remove-lifecycle stale

[2022-05-22 16:43] vaibhav2107 commented on #72881
/remove-lifecycle stale

[2022-05-22 16:45] vaibhav2107 commented on #96981
/remove-lifecycle stale

[2022-05-22 16:46] vaibhav2107 commented on #98607
/remove-lifecycle stale

[2022-05-22 16:54] xmcqueen commented on #110074
After the **second delete** I see this which is wrong:

[code]

That log message is also shown **after the first delete**, which is **correct** in that case, because the manifest file was deleted and then recreated (probably much too quickly - there's no wait), so in the moment after the first delete, there is likely already a "requested to restart with same UID".  However, that is **not true for

[2022-05-22 18:23] pohly commented on #105678
No, we haven't. Do you find it noisy because it's two lines instead of one? I don't have a problem with that. It seems to be a common approach in unit tests and I find it easy to read, partly because it matches how production code would be written.

[2022-05-22 19:28] endocrimes commented on #105678
It becomes three, plus extra indention - but more importantly stands out in a series of expectations. This draws extra scrutiny to those lines.

many unit tests using testify would use `require.ExpectTrue` to express this because of that.

[2022-05-22 20:10] JohnRusk commented on #108003
/remove-lifecycle stale

[2022-05-22 20:46] pohly commented on #105678
Isn't that a good thing? `ExpectEqual(xxx, true)` is bad without any or no useful extra explanation. The if check makes it obvious that a good failure message is needed.

Does `require.ExpectTrue` print less useless boilerplate code than Gomega? We could use that with Ginkgo (`require.ExpectTrue(ginkgo.GinkgoT(), ...`), but then we still need to ensure that the optional explanation is useful.

[2022-05-22 20:51] aojea commented on #105678
xref https://go.dev/doc/faq#testing_framework

[2022-05-23 00:47] LinFCai commented on #110028
@maaoBit thanks.

[2022-05-23 00:47] #110028 closed

[2022-05-23 01:54] MikeSpreitzer opened #110160 "Wrong Denominator for priority_level_request_count_samples waiting requests"
### What happened?

While working on #110101 and related PRs, I noticed that the denominator that is set for the number of waiting requests of a priority level is wrong: it is the length limit for a single queue rather than the collective limit for all the priority level's queues.

https://github.com/kubernetes/apiserver/blob/v0.24.0/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go#L242-L246

[2022-05-23 01:54] MikeSpreitzer commented on #110160
/sig api-machinery

[2022-05-23 01:55] MikeSpreitzer commented on #110160
/sig instrumentation

[2022-05-23 01:55] lixiaobing1 commented on #110143
\etc\\kubernetes\\manifests，no yaml configuration for k8s?

[2022-05-23 02:03] MikeSpreitzer commented on #109846
To be clear, there are four corners here:
- For max-in-flight, the denominators are set for number executing and no metrics are produced for number waiting;
- for APF, the denominators are not set, neither for number executing nor number waiting.

[2022-05-23 02:04] MikeSpreitzer commented on #109846
Also, #110160 is about related denominator issues.

[2022-05-23 02:12] bmmpp opened #110161 "timeout waiting for etcd cluster to be available"
### What happened?

[root@k8s-master02 ~]# kubeadm join k8s-vip:16443 --token 5amux5.4feptm57mlep9kgo \

[preflight] Running pre-flight checks
        [WARNING FileExisting-tc]: tc not found in system path
[preflight] Reading configuration from the cluster...
[preflight] FYI: You can look at this config file with 'kubectl -n kube-system get cm kubeadm-config -o yaml'
[preflight] Running pre-flight

[2022-05-23 02:38] yylt commented on #109998
@mysunshine92
Hi, has any comments now?

[2022-05-23 02:50] sanposhiho commented on #101849
/remove-lifecycle stale

[2022-05-23 03:00] vinaykul commented on #109905
/assign @zuoshaoyi

[2022-05-23 04:49] Muyan0828 opened #110163 "Kubelet cannot finish terminating a pod that uses a PVC with `volumeMode: Block` if the there is an lv on the underlying block device"
### What happened?

pod uses a PVC with `volumeMode: Block`. The block volume is backed by a block device on the node (which is created by some CSI storage providers).
If the there is an lv on the underlying block device, Kubelet cannot finish terminating a pod

### What did you expect to happen?

Kubelet should be able to finish terminating a pod when the corresponding block device has an lv on i

[2022-05-23 04:50] Muyan0828 commented on #110163
/sig storage

[2022-05-23 05:56] wojtek-t commented on #86484
/remove-lifecycle stale

[2022-05-23 06:07] horihel commented on #78446
retested with 1.22.9 - still a problem

please
/remove-lifecycle stale

[2022-05-23 06:08] adityajoshi12 commented on #140
There is no updates on the prestart hook, you can use the init container as an alternative to restart hook.

[2022-05-23 06:26] #108302 closed

[2022-05-23 06:27] #106194 closed

[2022-05-23 06:47] mengjiao-liu commented on #102373
/remove-lifecycle stale

[2022-05-23 07:10] neolit123 commented on #110161
Please try asking on support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-05-23 07:10] #110161 closed

[2022-05-23 07:43] pierluigilenoci commented on #80897
/remove-lifecycle stale

[2022-05-23 08:41] aojea commented on #110146
/cc @p0lyn0mial

[2022-05-23 08:44] wojtek-t commented on #110146
+1 for addressing this, but I won't have time to look into it any time soon.

[2022-05-23 08:48] rafaeljesus opened #110169 "Intercepting "pods/eviction" subresource via validating webhook is not working"
### What happened?

I’ve created a validation webhook server to intercept `pods/eviction` requests but calling evictions via both, the go SDK client and VPA is not invoking the webhook,

The webhook config is as follows:
<details><summary>webhook.manifest.yaml</summary>

[code]
</details>

The `namespaceSelector` and `objectSelector` are pointing to the right resources,

I am testing by invoking e

[2022-05-23 08:50] aojea commented on #103145
is not about performance tests, is about having metrics of the system after the test , that will help to debug the tests.
The trade off is that Heisenberg principle applies "act of measurement always disturbs the object measured"

@wojtek-t @BenTheElder the alternative is adding them as an addon :grimacing:
 https://github.com/kubernetes/kubernetes/tree/master/cluster/addons

[2022-05-23 08:51] rafaeljesus commented on #110169
/sig api-machinery

[2022-05-23 08:51] sftim commented on #110169
Can you use validating webhooks with subresources? If not, this might be more of a feature request against the docs.

[2022-05-23 08:54] sftim commented on #110120
If you use a UNC path that is equivalent to `C:\Temp\os-release.log`, does that work OK?

[2022-05-23 09:04] aojea commented on #108074
https://github.com/kubernetes/kubernetes/issues/106161

[2022-05-23 09:16] X-neuron commented on #110144
thanks so much,i config the host file to make the name ubuntu map the local IP address.it works well when i use in ubuntu20.04 。if i make --control-plane-endpoint=192.9.168.221.82 .i aslo fails.
[code]

[2022-05-23 09:25] rafaeljesus commented on #110169
@sftim AFAICT, this appears to only (or mostly work) for the `pods/status` subresource, for example, I changed the `resources: ["pods/status"]` and my webhook received a request for the UPDATE /status operations, and changing it to "pods/*" also worked for the status subresouce, but if I tried to portforward, and evict the pod my wehbhook is not receiving any request

<details><summary>list of pod

[2022-05-23 09:33] aneagoe commented on #106957
Here's another really interesting bit of information. This issue seems to be only affecting VMs and **not** bare-metal nodes. It's completely puzzling, but I have 12 bare-metal nodes and 1 VM node in one cluster (the VM is just for testing) and it manifests only on the VM node. As well, my test cluster is made up fully of VMs (ie no bare-metal) and there it happens across the board. The bare metal

[2022-05-23 09:36] fkocik commented on #106957
Sorry but I have the same issue on bare-metal nodes (x86 ArchLinux kernel 5.17.5 with K8S 1.23.6/Crio 1.23.2)

[2022-05-23 09:38] rkojedzinszky commented on #106957
The issue in title happens on bare metal nodes too.

[2022-05-23 10:27] ryuseongryong commented on #106957
I've got the same issue on bare-metal nodes(k8s v1.23.0/cri-o v1.22.3) and I'm not sure if it's for the same reason, but I have this problem as well.
[code]
[code]

[2022-05-23 10:50] kerthcet commented on #109962
Also need to address the comments here https://github.com/kubernetes/kubernetes/pull/110148#discussion_r878671611

[2022-05-23 10:58] zabrox commented on #109717
I want to work on it.
I will write some error cases of existing tests under k/k/pkg/kubelet/cm.

[2022-05-23 10:58] zabrox commented on #109717
/assign

[2022-05-23 11:03] jessica-low opened #110170 "External NFS Provisioner Pod Fail to Create Container Due to Certificate Error"
### What happened?

Used Helms to deploy NFS server on the worker node, but got this error:

![image](https://user-images.githubusercontent.com/106072993/169804644-c041e6b0-974c-4c8c-a8e9-9cb5e514dd29.png)

Describing the NFS pod gave the following:

**Warning  FailedCreatePodSandBox  14s                  kubelet            Failed to create pod sandbox: rpc error: code = Unknown desc = failed to c

[2022-05-23 11:31] rafaeljesus commented on #110169
I want to reiterate that I also tested the rules with the below and still the webhook server didn't received any request

[code]

[2022-05-23 11:58] ialidzhikov opened #110171 "Deployment status does not contain information whether there are still `Terminating` Pods (related to old ReplicaSet)"
/sig apps
/kind feature

**What would you like to be added**:
Deployment status to contain information whether there are still `Terminating` Pods (related to old ReplicaSet).

**Why is this needed**:
According to the K8s docs K8s ensures that no new traffic is routed to `Terminating` Pods. But traffic from existing clients/connections can be still routed to such `Terminating` Pods. Depending on th

[2022-05-23 12:15] fredgan commented on #73304
/reopen

[2022-05-23 12:17] fredgan commented on #73304
This issue is marked as closed, but the last state is memtioned to be reopen. I'm wondering whether this issue is open or closed.

[2022-05-23 12:21] jsafrane commented on #104493
/remove-lifecycle rotten

[2022-05-23 12:27] #107214 closed

[2022-05-23 12:41] jsafrane commented on #105323
Yeah, but why a bind mount instead of a real one?

[2022-05-23 13:32] awels commented on #107479
/remove-lifecycle stale

[2022-05-23 13:49] josephburnett opened #110172 "Better HPA unit and E2E test coverage"
### What would you like to be added?

The HPA needs better unit and E2E test coverage.

**E2E TESTS**

Missing E2E test coverage by API / feature

Spec.ScaleTargetRef
- [x] scaling a CRD (not built-in kind)

Spec.MinReplicas
- [x] scale-to-zero (minReplicas=0)

Spec.Metrics
- [ ] scale on cpu average value
- [ ] scale on memory average value
- [ ] scale on memory utilization
- [ ] scale on multipl

[2022-05-23 13:52] josephburnett commented on #110172
Here is the unit test coverage at the time of this writing:
[coverage.txt (rename to coverage.html)](https://github.com/kubernetes/kubernetes/files/8755103/coverage.txt)

Unfortunately I cannot automatically produce coverage for E2E tests yet (https://github.com/golang/go/issues/51430).

[2022-05-23 13:52] josephburnett commented on #110172
/sig autoscaling
/triage accepted

[2022-05-23 15:29] LastNight1997 commented on #105323
@jsafrane We want to use a data disk for both /var/lib/containerd and /var/lib/kubelet.

[2022-05-23 16:56] thakkarnirav commented on #80579
We followed this: https://aws.amazon.com/premiumsupport/knowledge-center/eks-troubleshoot-unhealthy-targets-nlb/ and it resolved the issue after following
[code]

[2022-05-23 17:25] AtkinsChang commented on #109679
@SergeyKanzhelev @yangjunmyfm192085
FYI I encounter this with `cir-o 1.23`.
`-62135596800000` seems to be an uninitialized time type.

https://github.com/kubernetes/kubernetes/blob/aa49dffc7f24dc31dd333869be8e6e3cdfc00af9/pkg/kubelet/stats/cri_stats_provider.go#L602

The `StartTime` in `ContainerStats` is create from the response of cri `ListContainers` RPC, this maybe cause either by cri-o or the

[2022-05-23 17:32] #109576 closed

[2022-05-23 18:02] sanposhiho opened #110175 "scheduler: move all preCheck to QueueingHint"
### What happened?

In our custom plugin, we want to move pods that is unscheduled by the plugin to activeQ/backoffQ when a new Pod is created.
So, we define `EventsToRegister` like this:

[code]

But, even when a new Pod is created, the Pod that was unscheduled by our custom plugin isn't moved to backoffQ/activeQ.

### What did you expect to happen?

when a new Pod is created, the Pod unscheduled

[2022-05-23 18:02] sanposhiho commented on #110175
/assign
/sig scheduling

[2022-05-23 18:25] sanposhiho commented on #110175
Maybe it's only on a newly created unscheduled Pod.
We've moved correctly for events related to assigned Pod.
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/internal/queue/scheduling_queue.go#L597

[2022-05-23 18:28] sanposhiho commented on #110175
And deleting Node events has the same issue...? I guess we need to run `sched.SchedulingQueue.MoveAllToActiveOrBackoffQueue` when some Nodes are deleted.
https://github.com/kubernetes/kubernetes/blob/31a10245d67544b6718f569a1442b1de97a91e7d/pkg/scheduler/eventhandlers.go#L92-L112

going to investigate more tomorrow 💭

[2022-05-23 19:23] Congelli501 opened #110177 "Constant kube-system pod restard due to SandboxChanged under ubuntu Jammy"
### What happened?

When installing a master node under Ubuntu jammy, the base kube-system pods (etcd, kube-apiserver, kube-proxy...) restarts every few minutes.
The etcd pod restarts because of a `SandboxChanged`
[code]
The other pods restarts because of the `SandboxChanged` event and fail because of unreachable etcd / api server (as a consequence)

I haven't found the origin of the `SandboxChang

[2022-05-23 21:15] glhl86 commented on #109829
@dashpole  can i help you with this issue?

[2022-05-23 21:35] #101397 closed

[2022-05-23 21:35] #106606 closed

[2022-05-23 22:59] tallclair commented on #105186
Should we re-open the original issue (don't require `runAsNonRoot: true` if a non-zero `runAsUser` value is provided) once PodOS goes GA? Should this be handled as a line-item in https://github.com/kubernetes/kubernetes/pull/105919?

[2022-05-23 23:07] atiratree commented on #107920
/remove-lifecycle stale

[2022-05-24 00:46] IzhakJakov opened #110344 "Outdated modules that contain vulnerabilities"
## Found vulnerability ([SNYK-GOLANG-GITHUBCOMDGRIJALVAJWTGO-596515](https://security.snyk.io/vuln/SNYK-GOLANG-GITHUBCOMDGRIJALVAJWTGO-596515))

[github.com/spf13/cobra](https://github.com/spf13/cobra) `v1.1.3` uses [github.com/dgrijalva/jwt-go](https://github.com/dgrijalva/jwt-go) which is affected by [a known vulnerability](https://security.snyk.io/vuln/SNYK-GOLANG-GITHUBCOMDGRIJALVAJWTGO-596515

[2022-05-24 01:44] cyclinder commented on #110172
Hi, I would like to add unit tests for `getReadyPodsCount()`

[2022-05-24 02:13] SataQiu commented on #110097
/unassign

[2022-05-24 02:55] shmurata opened #110181 "sandbox(pause) containers remain undeleted"
### What happened?

Sandbox containers are left on the container runtime (dockershim) and a large number of them are causing problems with the container runtime and the systems that reference the running containers.
As far as we have confirmed, the following combinations may or may not cause this problem.

|Kubernetes Version | Container Runtime | happened |
| :---- | :---- | :---|
| v1.21.11 | do

[2022-05-24 02:57] shmurata commented on #110181
/sig node

[2022-05-24 03:40] FillZpp commented on #96218
@behos Now you can update pods parallelly using StatefulSet since maxUnavailable is supported https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#maximum-unavailable-pods

[2022-05-24 04:11] kapad commented on #102641
Hi. I stumbled onto this thread when trying to understand whether the mentioned behavior is the default behavior of the garbage collector.

i.e., by default, does the garbage collector watch resources of every CRD?
In the example in this issue, can X and Y, be resources with any custom group, version and kind?
Can X and Y have a different version? And a different group?
Should I expect the garbage

[2022-05-24 07:03] pacoxu commented on #110170
Your calico seems to be not running. There is no calico pod in your screenshot.
The tigera-operator pod is restarted twice for some reason, and please check its log to find why. I suspect that the pod subnet is not set or it is set with a different clidr from cluster settings.

/kind support
/remove-kind bug

[2022-05-24 07:21] pacoxu commented on #110181
As dockershim is removed from kube v1.24, I'm not sure whether we'd better fix it in https://github.com/Mirantis/cri-dockerd.

[2022-05-24 07:25] pacoxu commented on #110177
/kind support
Would you provide more kubelet logs to convince us that it is a Kubernetes bug or your node/configuration problem?

[2022-05-24 07:25] rafaeljesus commented on #110169
I've found the problem, I removed the `objectSelector` and now my webhook server receives eviction validation requests, again, it's interesting that if I add the `pods/status` into the resources field and still have the `objectSelector` field, my webhook server receives validation requests for the status subresource.

as a reference, the pod I am trying to intercept with the same label used in the

[2022-05-24 07:47] RichardoC commented on #108213
/remove-lifecycle stale

[2022-05-24 07:56] x13n opened #110186 "Prevent scheduler framework changes from breaking Cluster Autoscaler"
### What would you like to be added?

Unit test that will ensure that Cluster Autoscaler objects that currently implement interfaces from https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/listers.go stay that way. It would suffice to do add compile-time checks for the following types:
- [BasicClusterSnapshot](https://github.com/kubernetes/autoscaler/blob/e3ad872747917613

[2022-05-24 07:56] x13n commented on #110186
/sig scheduling

[2022-05-24 07:56] x13n commented on #110186
/sig autoscaling

[2022-05-24 09:17] Shubham82 commented on #110113
Hi @icebear74

It is shown under `Tokens` when you describe the serviceaccount.

For example:
1) create serviceaccount with the following sa.yaml kubectl apply -f sa.yaml -n abc:

2) Describe the pod using command `kubectl describe sa sa-abc` you will see output like this:
[code]
Nothing is present under token because we don't attach any token to serviceaccount till now.

3) Create secrets using t

[2022-05-24 09:35] acabarbaye opened #110188 "FieldSelector extended for Custom resource fields"
### What would you like to be added?

Currently only a not documented set of fields can be used with FieldSelector https://hoelz.ro/blog/which-fields-can-you-use-with-kubernetes-field-selectors

When considering custom resources, could we add a way to extend the set to fields defined in the custom reource?

### Why is this needed?

LabelSelector can be used but fieldSelectors are more efficient an

[2022-05-24 09:37] acabarbaye commented on #110188
/sig api-machinery

[2022-05-24 10:59] vikash32 opened #110189 "UnmountDevice failed for volume (pvc-123d45c6-78ee-90c1-9d7e-f028843dfgs0dh)"
### What happened?

After upgrading to 1.20v , while pods trying to update itself during rolling restart after release, it gets stuck at init state itself for forever.  while checking the event logs we see below events. Althought we checked volume is already present and attached on host. And when we deleted the pods it coming up fine and pvc get attached with the pods successfully, but again when

[2022-05-24 11:41] unixfox commented on #57187
/remove-lifecycle stale

[2022-05-24 12:27] liggitt commented on #102641
Deleting objects whose referenced owners can be verified to be absent is sort of the whole job of GC, so the scenario you are describing is working as intended. Being resilient to an unresolveable owner type for a long time is necessary in a distributed system where the backing server for an owner type might be unavailable for long stretches of time.

I think this is already logged, but at a very

[2022-05-24 12:35] silenceper commented on #110143
The main problem is that it seems that there is a problem with the connection between kubelet and dockerd, but I check it through the `docker ps` command is normal.

I can't reproduce it now

[2022-05-24 12:35] SOF3 commented on #102641
The problem is, it is not a problem with the inevitable problems like network errors in a distributed system, but with misconfiguration that should require immediate user intervention. And while garbage collection is meant to delete objects, in general one wouldn't expect it to delete a lot of objects in a short period of time, particularly objects that were created months ago (instead of objects

[2022-05-24 12:40] liggitt commented on #102641
attemptToDelete logs RESTMapper errors on line 372 here:

https://github.com/kubernetes/kubernetes/blob/fdb2d544751adc9fd2f6fa5075e9a16df7d352df/pkg/controller/garbagecollector/garbagecollector.go#L356-L372

[2022-05-24 12:40] liggitt commented on #102641
sorry, I meant a very *high* verbosity, to avoid flooding the log in steady state

[2022-05-24 12:41] liggitt commented on #102641
(as an aside, https://github.com/kubernetes-sigs/kubectl-check-ownerreferences is available as a tool to locate existing problematic owner references in your cluster)

[2022-05-24 13:04] dashpole commented on #109829
I don't think we'll be able to start with this until https://github.com/kubernetes/kubernetes/pull/105126 merges

[2022-05-24 13:07] glhl86 commented on #109829
Ok, I'm waiting to see if I can help you. Thank you

[2022-05-24 13:22] tonyaw commented on #110126
Any comment for this? :-)

[2022-05-24 13:25] sftim commented on #109965
/retitle Nodes flapping (NotReady/Ready)

[2022-05-24 14:07] thuandt commented on #63371
I'm running EKS 1.21 with CronJob Controller v2 and still have similar issue.

My CronJob was auto-triggered by kube-controller-manager after ArgoCD update schedule and spec (container image).

Platform: AWS EKS
Kubernetes version: 1.21
Platform version: eks.6