[2015-06-04 20:51] thockin commented on #9273
This is really bad.  I think we should just nix Pending phase and always consider every Available volume for indexing - map lookups are cheap.

[2015-06-04 20:51] mikedanese commented on #8773
Please reopen if you have questions.

[2015-06-04 20:51] #8773 closed

[2015-06-04 20:56] yujuhong commented on #3954
Do we have any proof that kubelet received the event but did nothing with it?

Why would this fix the problem..? If you don't generate status on half of the invocations, you wouldn't get send the update and get the "Running" status anyway. Am I missing something? Also, increasing the sync frequency would also increase kubelet/docker's cpu usage at steady state (when there is no pod update). It is

[2015-06-04 21:06] arun-gupta commented on #9271
As a result `get minions` is returning no result:

[code]

just returns back to the prompt, with no result. This in spite of the fact that Vagrant reports a minion is provisioned.

[2015-06-04 21:07] bgrant0607 commented on #8335
We should not change pod phase to Unknown. We used to do that, and it was a nightmare. Additionally. that's not consistent with the model for phase. See #7856 for more details.

We should change the pod's Ready condition to false if the node is unreachable. That has the additional benefit of removing it from the set of endpoints targeted by the service. This is discussed in #8674.

That would mean

[2015-06-04 21:14] bgrant0607 commented on #5927
You might be interested in #7843

[2015-06-04 21:14] bprashanth opened #9275 "Kubelet can rectify corrupt pod phase"
If the pod phase reported by the apiserver is different from the actual pod phase, the kubelet can rectify it. Spin off from https://github.com/GoogleCloudPlatform/kubernetes/issues/8335.

[2015-06-04 21:15] bgrant0607 commented on #8674
EP controller already looks at pod conditions.

[2015-06-04 21:17] yujuhong commented on #9275
How is this different from #8818?

[2015-06-04 21:19] bprashanth commented on #9275
meh

[2015-06-04 21:19] #9275 closed

[2015-06-04 21:26] bgrant0607 commented on #3060
This came up in friction study -- people didn't want to read docs. Some help in kubectl to explain the main concepts would help.

[2015-06-04 21:26] bgrant0607 commented on #8817
The difference between kubectl and cluster/kubectl.sh was surfaced in the friction study. Eliminating kubectl.sh would help.

[2015-06-04 21:29] bgrant0607 commented on #2839
Tutorials were highlighted as needed in the friction study.

[2015-06-04 21:34] bgrant0607 commented on #9208
FYI @quinton-hoole

[2015-06-04 21:38] bgrant0607 commented on #1111
Minion vs. node vs. worker vs. kubelet has come up as a point of confusion.

[2015-06-04 21:41] bgrant0607 commented on #9247
Are you aware of `-o template`?

[2015-06-04 21:41] a-robinson commented on #7514
1. It'd be good if both the getting started and developer guides pointed to the same example
1. It'd be good if guestbook-go's [external networking section](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook#accessing-the-guestbook-site-externally) at least mentioned that load balancers only work on certain platforms and linked to an explanation of how to hit the serv

[2015-06-04 21:41] bgrant0607 commented on #9247
See also discussion in #7843

[2015-06-04 21:45] vishh commented on #8772
I believe this issue can be avoided by not statically linking hyperkube binaries. This can be done by removing [this line](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/lib/golang.sh#L96).
@nkwangleiGIT: Let me know if that works.

[2015-06-04 21:46] bgrant0607 commented on #9248
+1. Use labels. I think describe does take labels now.

[2015-06-04 21:47] bgrant0607 commented on #4366
cc @erictune

[2015-06-04 21:47] bgrant0607 commented on #1624
cc @erictune

[2015-06-04 21:47] bgrant0607 commented on #1899
cc @erictune

[2015-06-04 21:48] bgrant0607 commented on #1503
cc @erictune

[2015-06-04 21:48] timothysc commented on #9208
We're still trying to sus-out why Jay's setup is magically fixed and our Atomic Cluster still shows the error.

[2015-06-04 21:50] bgrant0607 commented on #6797
More output conventions: https://github.com/GoogleCloudPlatform/kubernetes/issues/3894#issuecomment-77238672

[2015-06-04 21:51] bgrant0607 commented on #6797
More output conventions: #8476

[2015-06-04 21:52] bgrant0607 commented on #5906
Discussion of script output vs. human-oriented output: https://github.com/GoogleCloudPlatform/kubernetes/issues/3894#issuecomment-71953420

[2015-06-04 22:00] alex-mohr commented on #5472
@pires Something like that, yes.  Presumably the auto-provision and scaling is an optional plug-in module like everything else, so static clusters would still be an option, as would a separate implementation.  Vague and lots TBD, but I think it helps move things towards focusing on containers and less on nodes and provisioning for customers who don't want to handle those things.

I'm not sure what

[2015-06-04 22:04] #9231 closed

[2015-06-04 22:05] pires commented on #5472
@alex-mohr I meant IT/System-administrators. Anyway, making it optional invalidates that concern.

[2015-06-04 22:07] quinton-hoole commented on #9237
Have you looked in /var/log/kube-kubelet.* on 10.x.x.y for errors?

[2015-06-04 22:13] pramttl commented on #9247
@bgrant0607: Yeah I know the `-o template`. (I have just used the `-o json` format till now)

Looks like #7843 is exactly what I reported (as @thockin pointed out) , so this is duplicate then, closing issue.

[2015-06-04 22:13] #9247 closed

[2015-06-04 22:24] davidopp commented on #3954
@yujuhong explained to me that watch (when new pod is created) will trigger running SyncPods, so the SyncPods interval shouldn't be the cause of the problem. (The 10 second interval is only if there is no update to trigger SyncPods to run.)

(Her other point was also good, that even if it were the cause of the problem, this would only start the pod sooner, but the user wouldn't find out about it s

[2015-06-04 22:34] #9243 closed

[2015-06-04 22:47] bgrant0607 commented on #9224
No apiVersion.

[2015-06-04 22:50] jlowdermilk commented on #9224
Yeah, no apiVersion in the schema. The validator should still fail with a user friendly error that the apiVersion is required.

[2015-06-04 22:51] bgrant0607 commented on #9205
That's a good start, but I think we should incorporate similar diagrams directly into our docs.
@RichieEscarez @mansoorj

[2015-06-04 22:52] quinton-hoole commented on #9268
cc @satnam6502

[2015-06-04 22:55] bgrant0607 commented on #9044
Internally, nodes automatically surface a variety of attributes that can be used in constraints. We should do so also, and could also use them for spreading. The scheduler can be configured with which labels to use for spreading.

[2015-06-04 22:56] jfoy opened #9283 "Container `hostname -f` should include namespace"
Right now, both `hostname` and `hostname -f` return the bare pod name. As we move our existing services into Kubernetes, many of our JVM applications are still reporting to our existing metrics (Graphite) and logging (Flume) pipelines. Both of these use host FQDN as a canonical app instance ID, which includes an environment name in the DNS domain.

Docker already does the right thing with FQDNs; w

[2015-06-04 22:56] satnam6502 commented on #9224
Ah, right! And indeed, we should not have a panic.

[2015-06-04 22:58] quinton-hoole commented on #9270
Hi

Have you looked in /var/log/kube-nodecontroller.* for error messages?

[2015-06-04 22:58] thockin opened #9284 "Error "name is required""
We accept name or generateName, but if you spec neither the error says name is required.

[2015-06-04 22:59] quinton-hoole commented on #9271
cc @eparis

[2015-06-04 23:00] satnam6502 commented on #9224
Works except for the ELB.
[code]

[2015-06-04 23:02] quinton-hoole commented on #9283
cc @vishh

[2015-06-04 23:09] fahadpolash commented on #9270
Nothing is there.

[vagrant@kubernetes-master ~]$ cat /var/log/kube-controller-manager.log
[vagrant@kubernetes-master ~]$
[vagrant@kubernetes-master ~]$

[2015-06-04 23:12] bgrant0607 commented on #9224
Re-opening because we should fix the crash and generate an error message.

[2015-06-04 23:12] satnam6502 commented on #9224
Fair enough.

[2015-06-04 23:12] derekwaynecarr commented on #9271
The API server is run as a pod.  Only the Kubelet is run as a service on the master.  Much has changed since your blog post.  You should try the instructions from HEAD.  We are now running Fedora 21 as well.  Ping me if you have issues.

Sent from my iPhone

[2015-06-04 23:18] lavalamp commented on #8119
I processed the apiserver log and did some digging.

It looks like some mystery event happened twice during the run; twice I see clusters of extremely high latency requests. One cluster ends at 14:58:23.513357, the other at 15:00:55.505686.

So between 14:58:13 and 14:58:23, a ton of high latency requests all end. The timing makes me suspicious that they were all blocked on the same thing. There's

[2015-06-04 23:18] bgrant0607 commented on #6584
Move everything to v1 now? :-)

I'm hoping that could be done by a shell script.

@krousey

[2015-06-04 23:19] bgrant0607 commented on #6584
Closing this issue.

[2015-06-04 23:19] #6584 closed

[2015-06-04 23:19] bgrant0607 opened #9286 "Move all docs and examples to the v1 API"
cc @caesarxuchao @nikhiljindal @RichieEscarez

[2015-06-04 23:20] bgrant0607 commented on #9286
Forked from #7018

[2015-06-04 23:23] jfoy commented on #9283
On further examination `--hostname` doesn't behave as advertised; when I set `--hostname=x.y` then `hostname` returns `x.y`.

[2015-06-04 23:27] arun-gupta commented on #9271
@derekwaynecarr I was using the instructions from: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md

Sent you an email, and will report back of what the issue might be.

[2015-06-04 23:37] satnam6502 commented on #9268
Using a fairly recent build I have no problem accessing either Elasticsearch or Kibana for logging.
Did you wait until the status of both the Elasticsearch and Kibana pods were `Running` before connecting?

[code]

[2015-06-04 23:40] brendandburns commented on #9087
Closing this as done.  The release is live as default in GKE.

[2015-06-04 23:40] #9087 closed

[2015-06-04 23:40] derekwaynecarr commented on #9271
Doc needs an update since systemd is only managing Kubelet.  Will send PR for update to doc tomorrow AM.  In interim, cluster should be operational.

[2015-06-04 23:43] caesarxuchao commented on #9167
hack/test-update-storage-object.sh also depends on ~/.kube/config

[2015-06-04 23:55] thockin opened #9288 "kube-proxy: use --bind-address for iptables"
From #6910

@biswars said:

@thockin said:

[2015-06-04 23:56] thockin commented on #1513
Should this bug be closed now?

[2015-06-04 23:56] squillace commented on #9178
@pires we might consider a document for this on azure.com. I won't have headspace to consider what's necessary until next week, but I'm happy to respond then.

[2015-06-05 00:00] smarterclayton commented on #1513
I think as a bug it's done.  The last comment from me is next steps and it's not a priority right now.

[2015-06-05 00:18] davidopp commented on #8119
Should we open a PR saying that all the controllers should be taking advantage of #8964 ? I assume the reason you're seeing 10 second period is because using the longer connection timeout is "voluntary" ?

(and just now @bprashanth also pointed me to #8700)

[2015-06-05 00:19] thockin opened #9289 "We should vendor skyDNS"
We build skyDNS and push a container and use that container but we have not vendored skyDNS code.

[2015-06-05 00:21] thockin opened #9290 "Should we vendor etcd?"
We build our own container for it, we should probably make that reproducible.

[2015-06-05 00:23] lavalamp commented on #8119
An issue, yes-- and yes.

[2015-06-05 00:23] davidopp commented on #9205
I think we want both, not either/or. Presentation is a very different format than documentation/howto/getting started guide/etc.

I will clean up the most recent presentation I gave (remove backup slides and any speaker notes) and send out a PR to add a link to our github page.

[2015-06-05 00:24] bprashanth commented on #8119
I'm less afraid of relists from something that doesn't scale with number of nodes. @timothysc how did you setup your cluster? if you used our e2e setup scripts you aren't going to get the longer connection timeout David mentioned.

[2015-06-05 00:26] bprashanth commented on #9290
That would make testing changes to the etcd server easier

[2015-06-05 00:28] derekwaynecarr commented on #9270
Are you using virtual box?
Are you running from HEAD or an older release?

There were 2 fixes to the vagrant setup this week.  One to fix Kubelet registration on nodes (which required a code changes in cloud provider and may result in errors on earlier release versions), and another to move to Fedora 21 and Docker 1.6.

At HEAD, vagrant should be stable today.  I spun machines up and down multiple

[2015-06-05 00:31] lavalamp commented on #8119
Since I just analyzed the log file, I'm pretty confident that setting a longer relist period won't have an effect on @timothysc's test. Only three nodes had watches end during the test.

[2015-06-05 00:34] lavalamp commented on #8799
@satnam6502 Yes, you have to pre-create namespace now.

[2015-06-05 01:14] nkwangleiGIT commented on #9122
Hi  lavalamp,
Actually, we're not quite clear about how kube-proxy works, seems it's just create some routing rules in iptable on each kube-proxy node. Looking at the kube-proxy log, seems these rules was created quickly.

The number of services and replication controllers are both over 300, actually we don't start/stop the rc or service frequently, would like to have them running as long as possi

[2015-06-05 01:15] ghodss commented on #1111
Where does worker come from?

[2015-06-05 01:43] bgrant0607 commented on #1111
[code]

[2015-06-05 01:44] bgrant0607 commented on #1111
And then there's host...

[2015-06-05 01:51] bgrant0607 commented on #1513
We should keep this open until we capture that in a doc or another issue.

[2015-06-05 01:53] thockin-cc commented on #1111
Having started the migration from minion to node, it is clear that
migrating in either direction is significant work. We should pick the word
we like and then never look back.
On Jun 4, 2015 6:44 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-06-05 02:14] bprashanth commented on #3954
@gmarek your pr measurements include scheduler time. Suggest digging through event notifications after the fact instead of restricting yourself to the information in the pod status.

[code]

This should tell us how to narrow the search. Btw starting a single pod on a 3000 pod cluster takes < 2s, and 100 more ~10s (longest pole is scheduler).

[2015-06-05 02:27] bgrant0607 commented on #1111
If we eliminated the term "master" and the concept of a master machine, does that change our preference?
[code]

The future is hosting of the cluster-level control plane on Kubernetes (self-hosting and remote hosting): HA, plugins, custom schedulers, addons, ...

The terms aren't as catchy, but the following makes sense to me:
* cluster (software-defined -- what we call "cell" internally)
* API se

[2015-06-05 02:50] smarterclayton commented on #1111
No opinion about upstream, but in our documentation, tutorials, and education sessions we have to have a term for the control plane, and people expect a word they can relate to.  "Master" fits that for us today (replacing "broker" from previous versions).

[2015-06-05 02:50] bgrant0607 commented on #9132
@erictune I believe we are in agreement. We just need to solve the "real nameserver" problem to retain access to external services.

[2015-06-05 02:51] ghodss opened #9298 "By default, merge more .kubeconfig files"
By default, kubectl should have access to all clusters, users and contexts defined in any .kubeconfig files in any of the following locations:

* Any files or directories specified by KUBECONFIG
* /etc/kubernetes/config/*
* ~/.kube/*

(Today kubectl only loads from ~/.kube/config, or only KUBECONFIG or --kubeconfig if specified.)

This would allow me to do a few things that I can't easily do today

[2015-06-05 02:59] pmorie opened #9299 "Add ability to run E2Es with non-root uids"
There should be a way to easily run any e2e test as a non-root uid -- there's at least one issue that I believe would cause a breakage that it will be critical going forward to surface (#2630)

[2015-06-05 03:00] pmorie commented on #9299
@quinton-hoole @zmerlynn @smarterclayton @bgrant0607

[2015-06-05 03:03] bgrant0607 commented on #8818
What about the case where the pod is in Succeeded or Failed?

[2015-06-05 03:06] bgrant0607 commented on #7562
@kuboid: One detail: the node controller should not recreate the pod. It can either remain (i.e., not deleted) or be replaced by a pod controller, such as replication controller. If it remains, its unavailability could be reflected by a condition, such as Ready=False. See #7856, #6363, #1574, #8335.

[2015-06-05 03:14] justinsb commented on #8376
@bakins or @kelseyhightower are more knowledgeable on the CoreOS stuff.

[2015-06-05 03:17] justinsb commented on #8932
I just proposed #9294.  We include the public key fingerprint in the name, so that the tool won't get confused by different keys.

We don't delete keypairs, so theoretically they leak, but I don't think this is a huge problem.

[2015-06-05 03:18] justinsb commented on #8892
@quinton-hoole is this still happening?  Anything in the logs?

[2015-06-05 03:18] bgrant0607 commented on #8476
#9032 changes to NAME. At least then we'll have consistency. If we decide to use the kind instead, we'll need to change them all.

[2015-06-05 03:22] bgrant0607 commented on #8476
Ok, still not consistent. get RCs still uses CONTROLLER

[2015-06-05 03:23] justinsb commented on #8496
Haven't reproduced this yet, but hopefully tomorrow / this weekend.  Hopefully if I apply the changes in #7984...

[2015-06-05 03:48] bgrant0607 commented on #9298
cc @lavalamp @pmorie @liggitt  re. dropping credentials for clusters into files vs. using service accounts and secrets.

[2015-06-05 04:09] thockin commented on #5880
@vishh Plans for this?  Is there someone available to take this right now?

[2015-06-05 04:39] BenTheElder commented on #9270
I saw the cluster fail to create twice after updating due to problems with the mirrors seemingly earlier this evening, but it seems to be working now.

However there have been a number of warnings and errors:
[code]

This happens on both minions when running `go run hack/e2e.go -v -up -test`
It seems to still be working though.

This is running on my [BenTheElder:iptables_proxy](https://github.com

[2015-06-05 04:53] bgrant0607 commented on #8988
cc @jdef @guenter

[2015-06-05 04:56] brendandburns commented on #8969
This is addressed with the PR here:

https://github.com/GoogleCloudPlatform/kubernetes/pull/9305

Which will clone the docs.

And yes, @bgrant0607 there is a chance that they will be out of date anyway, but they definitely won't be any _worse_ than what is at head.

@RichieEscarez we should also work to scriptify the migration of docs from vanilla github into the gh-pages branch.  We should be a l

[2015-06-05 04:57] brendandburns commented on #8969
Additionally I added Documentation and Examples links to the release pages for 0.18.1 and 0.17.1, we should continue to do that going forward.

[2015-06-05 05:05] thockin commented on #9290
Apparently it's hard/impossible to make Godep vendor a whoile binary - it
only handles libraries.  Or, at least as far as I can see..

On Thu, Jun 4, 2015 at 5:27 PM, Prashanth B <notifications@github.com>
wrote:

[2015-06-05 05:10] #4783 closed

[2015-06-05 05:21] nkwangleiGIT commented on #9122
BTW, is there any performance tuning parameters we can use on api-server or kubelet? thanks!

[2015-06-05 05:24] quinton-hoole commented on #8892
Yes, it's still happening.  Sorry, I forgot to pull logs for you.  Will do tomorrow.  Assigning to myself :-)

[2015-06-05 05:52] davidopp commented on #1111
Regarding @bgrant0607's point, I think that if all nodes are going to be truly identical in the long run, then "nodes" makes sense. But if there are going to be *any* special nodes (maybe a special security policy or firewall for the API server, or special PD mounts for the etcd replicas) for the purpose of running any portion of the control plane, then I think it is worth distinguishing "minions"

[2015-06-05 05:53] thockin commented on #9283
AFAIK the POSIX spec on hostname is unclear, and therefore different OSes implement it differently.  putting an FQDN into hostname is not unheard of.  Docker does appear to do the right thing wrt /etc/hosts, though.

In general we are wary of making DNS associations with pods, but hostname seems like it should be useful.

@bgrant0607 @smarterclayton

[2015-06-05 05:54] thockin opened #9306 "Disable SkyDNS forwarding"
Leave that to clients.  Requires a new skyDNS build and flags,

[2015-06-05 05:56] thockin commented on #1111
*Someone* has to have permissions to access cloud-provider stuff like
attaching PDs.

On Thu, Jun 4, 2015 at 10:52 PM, David Oppenheimer <notifications@github.com

[2015-06-05 06:16] thockin opened #9307 "Change headless services to be a service Type rather than magic "None""

[2015-06-05 06:17] thockin opened #9308 "Put load-balancer status messages into service.status.loadBalancer"
Currently we have an event for failed LBs, would be nice to put it into the API.

[2015-06-05 06:20] thockin commented on #8315
Closing.  re-open if it pops up

[2015-06-05 06:20] #8315 closed

[2015-06-05 06:22] thockin commented on #7979
What's the status on this?  It seems that tokens are a big issue for many people but I guess a lot of it has to do with doing upgrades.  Do we think this issue is something we want to do?  If not, let's close it out.

[2015-06-05 06:24] thockin commented on #7964
If we wanted to run a registry inside a kube cluster wouldn't we need this docker flag?

[2015-06-05 06:33] Artenac2 commented on #9243
Thanks for help.

[2015-06-05 07:18] srakesh28 commented on #9244
azure login did not work for me, I provided my azure subscription user id and password and below is error I get
info: Executing command login
warn: Please note that currently you can login only via Microsoft organizational account or service principal. For instructions on how to set them up, please read http://aka.ms/Dhf67j.
Password: ***********

Authenticating... error: Server returned error in

[2015-06-05 07:19] srakesh28 commented on #9242
azure login did not work for me, I provided my azure subscription user id and password and below is error I get
info: Executing command login
warn: Please note that currently you can login only via Microsoft organizational account or service principal. For instructions on how to set them up, please read http://aka.ms/Dhf67j.
Password: ***********

Authenticating... error: Server returned error in

[2015-06-05 07:20] srakesh28 commented on #9244
I don't see anything running in containers as deamon for example guestbook appln, so Endpoint can't connect to services in backed.

[2015-06-05 07:29] errordeveloper commented on #9242
CC @squillace

[2015-06-05 07:29] glensc commented on #9039
btw, had to run `build/release.sh` before could use HEAD version (which required docker installation)

[2015-06-05 07:33] errordeveloper commented on #9244
If you do `kubectl get services` you will get IP/port for the services there are, which you should be able to test from any of the nodes other then master. That would certainly allow you to verify that the cluster is working, however you would still need some way of making these accessible from the outside world, which I'm not quite sure about at this stage, hopefully someone else will shine a lig

[2015-06-05 07:34] kevinliuzhong opened #9310 "all the services in the cluster on longer listening"
we are now encounter an emergency problem on k8s, all the services in the cluster on longer response to request(it worked with no problem in past few weeks), but when I list the service, it did not tell me anything wrong.
[code]
and I tried to list the pods, all pods are in running.
[code]
and there is no output when run `kubectl get event`

the service definition is like
[code]

[2015-06-05 07:42] satnam6502 commented on #7979
I can't help thinking that we will keep wanting to make system pods that want to make Kuebernetes API calls but perhaps we should wait until there is a clear demand for this scenario.

[2015-06-05 07:42] #7979 closed

[2015-06-05 07:45] glensc commented on #9039
i can confirm the previous problem (why i made this issue), is gone:

[code]

[2015-06-05 08:28] nkwangleiGIT commented on #8772
Hi vishh, it really works, thanks a lot for your help!

[2015-06-05 08:35] kevinliuzhong commented on #9310
the release I am using is 0.15.0

[2015-06-05 09:20] pires commented on #9178
@squillace there's time before 1.0 so one week time is more than good. @AntonioMeireles will probably get on this as well.

[2015-06-05 09:24] njuicsgz opened #9311 "Support show pod/service/events/rc by namespace in UI"
It seems we just support namespace 'default' for all items of 'view' in dashboard. I can not find any place to get Pods/Services of other namespace.

[2015-06-05 09:24] njuicsgz commented on #9311
[code]

[2015-06-05 09:40] thomschke commented on #9271
same problem (0.18.1 under MacOS 10.10.3)

pod `kube-dns-v1-6iptb` is `PENDING` due to host is `<unassigned>`.

[code]

[code]

[code]

[2015-06-05 11:04] jdef commented on #8988
@sushantk it appears that you've run into an unfortunate consequence of the port-mapping approach used by default in k8s-mesos, which assumes that the mesos cluster has been configured with default docker networking. Like marathon, host ports are allocated from resource offers on a mesos slave. Unlike marathon, which uses environment variables to expose this metadata, the k8s-mesos host-to-contain

[2015-06-05 11:11] jdef commented on #8988
FWIW k8s has been working on a downward API (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md). k8s-mesos *could possibly* expose port-mapping information through this mechanism.

Also, I should add that the mesos team is working on a solution that would ultimately allow k8s-mesos to assign an IP-per-pod, where IP's are allocated from a managed IP resource pool. T

[2015-06-05 11:25] gmarek opened #9312 "3 e2e tests are currently flaky - debug what's happening"
Run from the master head (but see https://github.com/GoogleCloudPlatform/kubernetes/issues/9312#issuecomment-110383138 below for more general flakyness stats):
[code]

@quinton-hoole

[2015-06-05 11:31] gmarek commented on #3954
@bprashanth I am aware that I include scheduling - this is by design, as we want to measure e2e startup latency. I was looking at event logs as well, and I was observing that scheduling was really fast, but it took some time for Kubelet to react. But again - it was on 5 node cluster.

[2015-06-05 11:31] nikhiljindal commented on #8341
cc @RichieEscarez

[2015-06-05 11:35] JeanMertz opened #9313 "Delete outdated CHANGELOG"
Wondering if it's just an oversight that the latest Git tag is `v0.18.1`, while the [CHANGELOG](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/CHANGELOG.md) file still points to 0.17 as the latest version?

I am using that file to track changes and know where to look out for when upgrading the cluster. Any other way (besides a regular commit diff) to keep in the loop of all the chan

[2015-06-05 11:36] JeanMertz commented on #9313
Answering myself: https://github.com/GoogleCloudPlatform/kubernetes/releases

[2015-06-05 12:09] stephenR commented on #8871
A part of my previous comment was wrong. It's actually possible to POST application/json cross origin, so checking the content-type wouldn't be enough to protect against XSRF.

[2015-06-05 12:31] deads2k commented on #9298
Keeping fields that in all files that are only respected from one file is problematic.  Rather than do that, I'd prefer to split the file into different parts.

 1. When loading multiple separate stanzas from different levels, how would conflicts be resolved?
 1. Would we want to restrict files to only containing a single cluster and single credential to make ignore messages easy to reason about?

[2015-06-05 12:41] rochaporto commented on #9180
5 minutes sounds about right. Any way to have that timeout configurable?

[2015-06-05 12:44] stephenR commented on #8871
So I still think the proxy is scary if someone actually tries to attack it.
The api needs some XSRF protection so that an attacker can't trigger it cross-origin. A custom header might be fine in this case.
However, I'd be happier if we could completely drop POST requests to the API since any XSRF protections can be bypassed with an XSS. That is, any XSS in kibana, elasticsearch or any other servic

[2015-06-05 12:56] derekwaynecarr commented on #9311
kubectl get pods --namespace=foo

Or am I missing something in the question?

[2015-06-05 13:11] satnam6502 commented on #8799
I now find that even adding the type the load balancer still does not get created.

[2015-06-05 13:13] satnam6502 commented on #8799
[code]

[2015-06-05 13:18] satnam6502 commented on #8799
The reported LB works but doing a `get` on the service does not report it.
[code]

[2015-06-05 13:23] gmarek commented on #3954
[code]
Note the order of RC and scheduler logs above.

First mention of this pod on Kubelet is the last line here.
[code]

This means that even though scheduler (probably) wrote entry to etcd at :36 it took Kubelet 5 seconds to start reacting on it.

Slight problem with my measurements is that Creation timestamp is a time from API server, while start time is a Kubelets local time. On my cluster ti

[2015-06-05 13:27] derekwaynecarr commented on #9270
I will look to hide the warning text. The not found bits were for ensuring the system did not have a previously configured sdn

Sent from my iPhone

[2015-06-05 14:04] smarterclayton commented on #1111
In our docs we are starting to use "nodes" and "infrastructure nodes" or "infra" nodes to describe the difference.

[2015-06-05 14:20] bgrant0607 commented on #9180
I'm not sure it's configurable.

There also might be multiple timeouts in play. We'd need to check the client code, the parameterized request timeout in the server, and the default read/write timeouts in the server. The latter is not configurable, and is here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L53

See also:
https://github.com/openshift

[2015-06-05 15:12] quinton-hoole commented on #9272
There were a lot more of these overnight:

https://github.com/GoogleCloudPlatform/kubernetes/blob/a15c69798b1f01067ac07101c1d92c4a6d540d54/plugin/pkg/admission/serviceaccount/admission.go#L175

[2015-06-05 15:14] timothysc commented on #8119
@bprashanth we provisioned our cluster, and use defaults for most settings.

[2015-06-05 15:20] juliaferraioli commented on #8527
@bgrant0607 When is the uncertainty expected to resolve? If it's far out, then deliberate obscurity isn't really a good option for developers, especially if they aren't privy to the reason; it would be better to deprecate instructions after they're no longer needed.

[2015-06-05 15:25] timothysc commented on #3168
cc @rrati

[2015-06-05 15:26] kelseyhightower commented on #9290
@thockin The only real solution I can think of is "cloning" the etcd project under the GoogleCloudPlatform namespace and doing builds from there; syncing up with upstream along the way.

Any reason to avoid relying on the upstream etcd tags and releases? Is there something CoreOS can improve on regarding how etcd tags and releases are cut?

[2015-06-05 15:28] kelseyhightower commented on #9289
I left a response in #9290 regarding this question and etcd. I think it might make sense to "clone" skyDNS under the GoogleCloudPlatform namespace and doing builds from there. Sync with upstream along the way.

[2015-06-05 15:29] thockin commented on #9290
Better safe than sorry? Nothing you guys in particular have done, but we
have been bitten by other upstreams rewriting history and obliterating the
git hash we had pinned to.
On Jun 5, 2015 8:26 AM, "Kelsey Hightower" <notifications@github.com> wrote:

[2015-06-05 15:49] swagiaal commented on #9190
Hmm.. it looks like the attach check here https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/gce/gce.go#L643 is never reached. If the disk is already attached the gce attach call just succeeds and the volume is mounted if it attached as READ_ONLY when Attach call is requesting READ_WRITE the call still succeeds but the pod is not able to mount the volume, and the loop

[2015-06-05 15:50] bprashanth commented on #9290
that's what i had in mind. With every release we need to change something anyway (unless there's an etcd:latest we aren't using), what difference hash or release tag?

[2015-06-05 15:52] matt-deboer opened #9320 "Emulate 'createExternalLoadBalancer' support with default 'publicIPs' list"
question/possible-enhancement:
Currently in the docs (in various places), I read that if your cloud provider doesn't support 'createExternalLoadBalancer', you have to modify your Service definitions to contain a list of 'publicIPs'.
I'm in the process of testing k8s in various deployment scenarios, and it's a little annoying to have to change my service definitions (or template them and token-repl

[2015-06-05 15:55] thockin commented on #9310
kubectl get endpoints?

On Fri, Jun 5, 2015 at 1:35 AM, kevinliuzhong <notifications@github.com>
wrote:

[2015-06-05 16:00] thockin-cc commented on #9320
Good news, I hope. PublicIPs is deprecated, in part because it only sort of
limps along as you experienced.

Instead, set your Services with spec.type = "NodePort". This will allocate
a port (not your Service's port, so no conflicts) that is exposed on every
node. You can then set up your own LB to target that port on one or more
nodes. Or you can use DNS-RR with SRV.

Tim
On Jun 5, 2015 8:53 AM,

[2015-06-05 16:10] bgrant0607 commented on #1111
@thockin "Someone" doesn't have to be a node. It just needs to be a process with the right credentials.

[2015-06-05 16:13] thockin commented on #9289
Yeah, it just sucks because we have all this tooling with Godeps which will
break.  I can't stick binaries under the Godeps dir because Godeps will
purge it.  If I put it outside the Godeps dir then Godeps will try to
vendor in all of the libs that it uses - including its own libs!

On Fri, Jun 5, 2015 at 8:28 AM, Kelsey Hightower <notifications@github.com>
wrote:

[2015-06-05 16:14] bgrant0607 commented on #8527
Before we discuss solutions, more information about the request would be extremely helpful.

What information specifically do users want, how do they want to process it, and for what purpose / use case?

@vishh @saad-ali @thockin

[2015-06-05 16:15] derekwaynecarr commented on #8818
Architecturally, is there a ever a future where a field could be defined on Pod.Status whose source of truth is not the Kubelet?

[2015-06-05 16:17] bgrant0607 commented on #1111
From #9176:
[code]

[2015-06-05 16:19] quinton-hoole commented on #9270
@fahadpolash please re-open if you're still seeing the problems when sync'd to HEAD.

[2015-06-05 16:19] #9270 closed

[2015-06-05 16:24] bgrant0607 commented on #8818
@derekwaynecarr Yes.
1. We're planning to make the node controller have joint (backup) responsibility for the Ready condition: https://github.com/GoogleCloudPlatform/kubernetes/issues/8335#issuecomment-109051619
2. We could create a subresource that would enable another controller to set a specific part of the status and/or an annotation. For instance, /binding currently sets spec.nodeName and ann

[2015-06-05 16:25] thockin commented on #1111
And yet I feel like changing node to minion is less risky than the other
direction (except API stuff)

On Fri, Jun 5, 2015 at 9:17 AM, Brian Grant <notifications@github.com>
wrote:

[2015-06-05 16:26] thockin commented on #7979
Doesn't service accounts handle this?

On Fri, Jun 5, 2015 at 12:42 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-06-05 16:28] liggitt commented on #7979
Yes. Room for improvement (including the CA or a kubeconfig with the token as well), but yes... that's how pods get API credentials.

[2015-06-05 16:31] #8701 closed

[2015-06-05 16:45] bgrant0607 commented on #1111
Why less risky?

"Minion" (and "pod" for that matter) is fairly incongruous with the rest of the API design, which uses fairly prosaic terminology rather than "cute" terms. The issue of cute terms also came up in the usability study -- what's a "pod"?

[2015-06-05 16:45] RichieEscarez commented on #9205
Today we have this wiki page with other presentations and videos: https://github.com/GoogleCloudPlatform/kubernetes/wiki/Media

I am also working this into the restructuring of the site (for our near future move out of GitHub.com and into Kubernetes.io) so that we will have a dedicated page for this type of material (and its clearly visible from the site navigation tree).

I think in general (and

[2015-06-05 16:48] erictune commented on #9298
Regarding Brian's comment:

The current service-account model does not have a mechanism to autopopulate credentials from other clusters, but it isn't hard to imagine building a tool that syncs credentials from other clusters into the service accounts's secret-list.

The current code does not generate a Kubeconfig.  I go back and forth on whether I think it should.
The current code puts the token a

[2015-06-05 16:49] juliaferraioli commented on #8527
@kprobst can you elaborate on your issue?

[2015-06-05 16:53] bgrant0607 commented on #8087
I think enough of this has been done for the 1.0 release candidate.

[2015-06-05 16:53] RichieEscarez commented on #8341
One thing to keep in mind is that I'll soon be moving all the user docs to "Kubernetes.io" (which means that these files will move out of the master branch, and into the gh-pages branch in github), so please consider that in the tool implementation.

[2015-06-05 16:54] vishh commented on #8527
Our current model is to consume events via heapster. Heapster currently
exports pod/container lifecycle events to InfluxDB and Google Cloud
Logging.

We need to document the heapster model though.

On Fri, Jun 5, 2015 at 9:15 AM, Brian Grant <notifications@github.com>
wrote:

[2015-06-05 16:56] quinton-hoole commented on #9272
cc @lavalamp

[2015-06-05 16:57] yujuhong commented on #8818
Kubelet ignores pods in the terminated states, so it will not update their status. This behavior can be changed, but I don't see any reason to do that (terminated pods cannot be revived)>

For this specific case, the pod is not scheduled anywhere, so it is safe for the scheduler to update the pod status.

[2015-06-05 16:58] derekwaynecarr commented on #9272
Cc @liggitt. - need to wait for service accounts before pods are admitted in test.

[2015-06-05 17:00] derekwaynecarr commented on #8818
I think the resource version of a pod that is terminated should be stable as it used to do screwy things to our client watches when the Kubelet updated their status.

Sent from my iPhone

[2015-06-05 17:04] liggitt commented on #9272
@derekwaynecarr I thought you added that in beforeEach:
[code]

[2015-06-05 17:05] liggitt commented on #9272
oh, those tests create another namespace than the one in beforeEach

[2015-06-05 17:05] bprashanth commented on #3954
Ok, 6s form bind to pull is high enough for me to be uncomfortable. We really need to know whic part of that pipeline is slow, I will add metrics soon. It would be great if your test flagged this case ignoring scheduler time. The scheduler will cap out at 10 pods/sec, this is something we intentionally aren't fixing for 1.0 (https://github.com/GoogleCloudPlatform/kubernetes/pull/8261).

I think yo

[2015-06-05 17:08] vishh commented on #5880
@saad-ali: Will you be able to look at heapster scalability?

[2015-06-05 17:08] kprobst commented on #8527
@amygdala brought up this issue originally. Amy, can you provide more context please?

[2015-06-05 17:10] zmerlynn commented on #6075
Closing, since #8081 encompasses testing.

[2015-06-05 17:10] #6075 closed

[2015-06-05 17:11] lavalamp commented on #9272
Wow, this is really unfortunate.

Can you just modify the createTestingNS to wait for the service account?

[2015-06-05 17:13] liggitt commented on #9272
sure... though I'd like to clean those up to use NewFramework instead as soon as there's time

[2015-06-05 17:15] gmarek commented on #3954
What do you mean by rc time? In tests I compare Pod start time (computed from container start time, as we don't have one for Pod in the API) and creation timestamp. IIUC creation timestamp is time when RC created a Pod entry in etcd.

I agree that adding RC time would be nice, but I'm not quite sure how to do this properly. I can use RC creation time as a proxy, but otherwise I don't know how to c

[2015-06-05 17:20] lavalamp commented on #9272
Longer term, this is going to be a big usability issue unless we also make kubectl create namespace wait. There should be a "ready" field in the namespace (is there? I haven't looked; better yet, use the sequence number pattern), we should NOT make clients know this obscure detail to use the system.

[2015-06-05 17:21] liggitt commented on #9272
is that what the initializer concept is intended to do long-term?

[2015-06-05 17:22] liggitt commented on #9272
namespace has a status.phase, but that only tracks "active" and "terminating" right now, not "preparing"

[2015-06-05 17:23] derekwaynecarr commented on #9272
A namespace does have a phase of active or terminating.  This is really a use case for some type of initializers concept in future.

Sent from my iPhone

[2015-06-05 17:28] timothysc commented on #9023
@quinton-hoole , @roberthbailey etc.. could you guys take a look?

[2015-06-05 17:28] bgrant0607 commented on #9272
cc @erictune

[2015-06-05 17:34] ghodss commented on #9298
I also would strongly prefer that CurrentContext and Preferences be moved out of .kubeconfig. I don't think they belong there - CurrentContext is just another preference, and Preferences is a UX construct that is only applicable to kubectl. (CurrentContext would be determined in other binaries through --context or as it is automatically today when there's only one cluster/authinfo/context.) So I w

[2015-06-05 17:34] bgrant0607 commented on #9272
@derekwaynecarr Yes, we really want an initializer for this. Pod creation shouldn't fail. The pod should just remain pending/inert until the service account exists.

[2015-06-05 17:37] derekwaynecarr commented on #9272
I think moving some stuff out of admission control and into object initializers is a high priority post 1.0.  In this case, it's a pod that is initialized and not the namespace in my view.  The namespace is ready right away - after all you can create other resource types besides a pod.

Sent from my iPhone

[2015-06-05 17:38] liggitt commented on #9272
Agree. It would require doing things like allowing mutation of pod.spec until initialized, and controllers not acting on a pod with initializers remaining

[2015-06-05 17:39] borgenk opened #9323 "Getting started AWS CoreOS: unknown flag: --service-cluster-ip-range"
Seems to be a mismatch between Kubernetes version and configuration used in
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws/cloudformation-template.json

[code]

Guessing it's caused by this change https://github.com/GoogleCloudPlatform/kubernetes/commit/300547110093d435dfb1cd31e6337d53d92f7194

[2015-06-05 17:43] bkeroackdsc opened #9324 "kube-dns-v2: images not found"
I'm running k8s 0.18.1.1 on CoreOS (alpha) in AWS.

I'm trying to get the DNS pod working per the [documentation](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/addons/dns).

The container images in the [example controller](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.in) do not appear to exist:

[code]

Changing the tags to

[2015-06-05 17:47] fahadpolash commented on #9270
I have used the latest release v0.18.1
https://github.com/GoogleCloudPlatform/kubernetes/releases

Still getting the same errors.

[2015-06-05 17:49] derekwaynecarr commented on #9270
Not release.  Literally the HEAD of source tree is your best bet right now.  I do not plan to back port changes to 18.1 branch.

Sent from my iPhone

[2015-06-05 17:55] alex-mohr commented on #5921
Looks like #9233 merged.  @erictune @lavalamp to sanity check where we are and whether this is now closable?

[2015-06-05 17:58] alex-mohr commented on #8107
Poland has had a national holiday the past couple days; ETA landing M/T next week.  Marking P0 as a hard RC blocker.

[2015-06-05 18:00] lavalamp commented on #9272
Ah, I see. Yes, I agree, an initializer and/or kubelet should spin until the account becomes available.

[2015-06-05 18:04] lavalamp commented on #5921
I think this is fixed.

[2015-06-05 18:04] #5921 closed

[2015-06-05 18:06] #9273 closed

[2015-06-05 18:06] lavalamp commented on #7444
I think this is fixed; canonical examples of upgrading are in contrib/prometheus (workload agnostic proxy method) and in contrib/for-tests/network-tester (go client construction method).

[2015-06-05 18:06] #7444 closed

[2015-06-05 18:08] alex-mohr commented on #8285
I'm marking #9066 as a dup of this one (GCE Cluster turnup should fail if stale routes exist), but add some more wrinkles:
- it's not just the kube-up.sh created stuff that we should GC, but also all the various load balancers and disks and such that the master creates that can be a problem.
- since tracking each create point and adding a specific GC step for it is going to miss stuff, this may be

[2015-06-05 18:09] alex-mohr commented on #9066
Closing this specific-about-routes issue in favor of @8285 with broader coverage.

[2015-06-05 18:10] davidopp commented on #8285
This was also mentioned yesterday at the meeting we had to discuss friction issues.

[2015-06-05 18:10] bprashanth opened #9325 "Changing kubelet port breaks kubectl logs"
Starting the kubelet with --port breaks kubectl logs because the master has a hardcoded assumption of 10250. The easiest way to fix this is to claim it's a user error if the master and any kubelet use mismatched ports, and pipe the one right port into the http client the master creates to talk to all kubelets.

[2015-06-05 18:11] davidopp commented on #8285
BTW this is currently assigned to @goltermann and it is marked as 1.0 but there haven't been any PRs merged related to this issue. Should we reassign it?

[2015-06-05 18:12] alex-mohr commented on #8669
Moving this to team/testing.  @gmarek driving via PR #8802

[2015-06-05 18:13] alex-mohr commented on #4747
P2 -- blocked by P1s implementing upgrade.

[2015-06-05 18:16] alex-mohr commented on #8514
I propose removing this from v1 milestone as I don't think it blocks, and agree with Brian that we don't have good ideas on how to solve absent switching to structured config files and go per #5472.

[2015-06-05 18:17] quinton-hoole commented on #9272
@lavalamp, please label lgtm once you're happy with this PR.  I'm keen to merge as soon as you're happy.

[2015-06-05 18:17] marcospedreiro commented on #7683
I have the same issue as @joeygibson, exact same setup except am running Vagrant 1.7.0 as per issue #3326 "You can use a vagrant version >= 1.6.2 but < 1.7.1"

[2015-06-05 18:18] amygdala commented on #8527
IIRC, this came from a number of queries on google-containers.  People were trying to figure out how to use the API to e.g. do service config, get cAdvisor statistics, get the status of the cluster, etc.  Maybe there are ~3 sub-issues:
- better publicize how to use kubectl in proxy mode
- improve docs on how to auth against the API (?)
- better docs for some common uses of the api, e.g.:
call

[2015-06-05 18:22] alex-mohr commented on #8285
@davidopp Thanks -- I don't think TJ was working on this, so unassigned.

Marking P2: I think this is less important than other things we're trying to land for 1.0-RC, but makes sense to address before we get to v1 proper.

[2015-06-05 18:26] davidopp commented on #3954
This is a good point. @gmarek, your currently PR creates all the pods at once (creates one replica controller with replicas==minionCount). You should instead create the pods sequentially -- something like
```for (n=0; n<minionCount; n++)  { startTimer(); createPod(); waitForPodRunning(); endTimer(); }```
This is what this particular performance target is talking about--sequential startup latency.

[2015-06-05 18:27] evandbrown opened #9329 "IP address of service's public load balancer not returned by kubectl"
In 0.18.1 on Google Container Engine, I have a service with createExternalLoadBalancer=true. The load balancer is created and works as expected, but neither `kubectl get service` nor `kubectl describe service` include the LB IP. This worked in 0.17.1.

Output of `kubectl get service` (condensed to show relevant service):

[code]

Output of `kubectl describe service/nginx-ssl-proxy` (note the first

[2015-06-05 18:27] bgrant0607 commented on #8957
cc @krousey

[2015-06-05 18:32] dchen1107 commented on #9324
cc/ @thockin @brendandburns

[2015-06-05 18:34] dchen1107 commented on #9324
cc @ArtfulCoder

[2015-06-05 18:39] derekwaynecarr commented on #7683
I need to update documentation, the kube-apiserver is run as a pod on the master.

If you are attempting to use the Vagrant configuration right now, I strongly recommend you run from the lastest HEAD of the source tree as two major fixes went in this week that are not in prior release trees.

Given that we are trying to close down Kube 1.0 release requirements, I strongly recommend you run from HE

[2015-06-05 18:41] thockin commented on #9324
We explicitly do not support :latest, but kube2sky:1.8 works for me.

[code]

@brendandburns any chance your recent changes to this bucket might have
caused problems?

On Fri, Jun 5, 2015 at 10:43 AM, bkeroackdsc <notifications@github.com>
wrote:

[2015-06-05 18:41] erictune commented on #9198
How do we know that the k8s-bot and bgrant0607 *are* different?

[2015-06-05 18:44] erictune commented on #4567
@ sujaymansingh  if you describe your client, I can suggest the best way to
access the API.

On Wed, Jun 3, 2015 at 9:16 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-05 18:44] RichieEscarez commented on #8341
Something i just stumbled across: "GitHub pages" which is what Kubernetes.io uses, does support includes, this troubleshooting topic outlines the requirements: https://help.github.com/articles/page-build-failed-file-does-not-exist-in-includes-directory/

[2015-06-05 18:45] dchen1107 commented on #9198
Thanks Eric to poke this thread, otherwise I would miss such good joke. @pmorie Support you!

[2015-06-05 18:54] thockin commented on #9329
The version of kubectl must be stale.

[code]

Alternately, try `kubectl get -o yaml` for your service

On Fri, Jun 5, 2015 at 11:27 AM, Evan Brown <notifications@github.com>
wrote:

[2015-06-05 18:57] derekwaynecarr commented on #9084
So I read the test as follows:

create a 100 namespaces
wait 10 seconds

[during this period, the system is generating a service account per namespace, and it is generating 2 secrets per acount if I recall]

list all 100 namespaces
delete all 100 namespaces
 [ error if they are not gone in 150 seconds, poll server every 2s to take a look]

In practice, this means that we are deleting 100 namespace

[2015-06-05 19:01] #8525 closed

[2015-06-05 19:06] jayunit100 opened #9331 "Claims require redundant namespace specification?"
Looks like when making claims, you have to specify `--namespace` **EVEN** when the namepsace is specified in the yaml file already.     Why is it that namespace declarations in the YAML file force the user to enter a command line option ?  My guess:  its a bug.   But it could be some kind of sanity feature which prevents users from accidentally creating claims which are in a unintended namespace?

[2015-06-05 19:06] #8352 closed

[2015-06-05 19:06] jayunit100 commented on #9331
cc @wattsteve @rootfs @bchilds

[2015-06-05 19:08] davidopp commented on #8669
I think we should move this out of 1.0. It is required for supporting --max-pods, but that feature is not needed for 1.0 (we are already accomplishing the same thing in a hacky way using LimitRange default of 0.1 CPU per pod). @gmarek has bigger fish to fry that are critical for 1.0 (#3952/#3954).

[2015-06-05 19:11] thockin commented on #1111
I think it is somewhat less risky because "minion" has deeper roots.
Either way, we just need to pick and proceed carefully.  Since all the
momentum is behind node at this point, that's probably the direction that
makes most sense, even if minion feels more context-specific.

On Fri, Jun 5, 2015 at 9:46 AM, Brian Grant <notifications@github.com>
wrote:

[2015-06-05 19:12] alex-mohr commented on #8669
@davidopp thanks, done.

[2015-06-05 19:13] davidopp commented on #1111
I'm fine with "node" instead of "minion" but it *has* to be preceded by another word. Like "slave node" or "worker node" or something like that. The problem isn't the word "node" per se -- it's the word "node" by itself, which doesnt allow one to distinguish.

[2015-06-05 19:13] rootfs commented on #9331
add @markturansky for claim ns.
glusterfs uses pod namespace

[2015-06-05 19:18] markturansky commented on #9331
This is not correct.

You should be already within a namespace when creating the claim (or any object in a namespace for that matter).

You *can* use the --namespace CLI arg, but it is better to be working in the namespace already.

[2015-06-05 19:30] jeffvance commented on #9331
mark, so does the mean using something like kubectl config context=xx ?

[2015-06-05 19:35] markturansky commented on #9331
@jeffvance yes, that is correct.  Set the context for the namespace you are working within.

[2015-06-05 19:37] #9150 closed

[2015-06-05 19:40] ArtfulCoder commented on #7471
resolved by #9073

[2015-06-05 19:40] #7471 closed

[2015-06-05 19:50] evandbrown commented on #9329
I'm using the latest kubectl that comes with gcloud (just did `gcloud components update` to confimr):

[code]

Outputting yaml doesn't help:

[code]

Maybe a stale `kubectl` bundled `gcloud`?

[2015-06-05 19:52] erictune opened #9332 "Drop /redirect/ verb for v1"
@lavalamp  @bgrant0607

Let's drop support for `/redirect/` verb in v1.
It is only useful if the client, master and nodes are on the same network, which is not always the case.
Better to just tell people to use `/proxy/`

[2015-06-05 20:04] lavalamp commented on #9272
looks like parallel jenkins is happy again.

[2015-06-05 20:04] #9272 closed

[2015-06-05 20:11] bgrant0607 commented on #9332
SGTM

[2015-06-05 20:12] quinton-hoole commented on #9023
@timothysc I'd appreciate it if you could do a detailed code review before I get involved.  We're pretty busy with v1.0 stuff right now.
Many thanks.
Q

[2015-06-05 20:15] jeffmendoza commented on #8828
@amygdala @juliaferraioli I'm working on this readme for another issue, and can get this too

[2015-06-05 20:15] ArtfulCoder commented on #9324
@bkeroackdsc I was able to pull the docker image as well from a guest network where I was not logged into any google accounts (gcloud auth revoke)

I did get the 401 and 405 http response codes as well, but inspite of that the docker pull command worked. So the http response codes might be a red herring

[2015-06-05 20:16] lavalamp commented on #9298
+1; don't keep things that we can have more than one of and things we can reasonably only have one of in the same file.

I think the .kubeconfig merging/loading code is currently an incomprehensible mess. I'm reluctant to say "yes let's do even more of that" unless it comes along with significant clarity improvements.

E.g.: get rid of overriding and merging. Define a K8SPATH env var that just pro

[2015-06-05 20:19] lavalamp commented on #9332
Yes, it is not worth the costs of keeping it documented.

[2015-06-05 20:28] jeffmendoza commented on #8824
@juliaferraioli How does this look:
https://github.com/GoogleCloudPlatform/kubernetes/compare/master...jeffmendoza:patch-1
https://github.com/jeffmendoza/kubernetes/blob/patch-1/examples/mysql-wordpress-pd/README.md

[2015-06-05 20:37] jayunit100 commented on #9331
Okay, so your saying using `--namespace=gluster-ns` is bad style.  But shouldnt it be equivalent, nonetheless, to the results of running a pod with `namespace: gluster-ns` ?

[2015-06-05 20:38] bkeroackdsc commented on #9324
I thought perhaps the local docker registry mirror might have been interfering somehow, so I destroyed and spun up my cluster without it.

I'm still getting these errors in the journal:

[code]

Weirdlly, manually pulling the images works:
[code]

Any ideas?

[2015-06-05 20:39] bgrant0607 commented on #9198
Fixed.

[2015-06-05 20:39] #9198 closed

[2015-06-05 20:49] timothysc commented on #9208
So we've traced down the issue to a silently failed mount on atomic for the secrets (#7101).  There are no log issues what so ever, but when we docker inspect a pass/fail it pops out clear as day.

Passing (Jay):
"VolumesRW": {
        "/dev/termination-log": true,
        "/var/run/secrets/kubernetes.io/serviceaccount": false
    }

Failing (Mine-Atomic):
"VolumesRW": {
        "/dev/termination-

[2015-06-05 20:52] brendandburns commented on #9312
for PD there is a known bug:

https://github.com/GoogleCloudPlatform/kubernetes/issues/9190

That can definitely cause the PD tests to fail.

[2015-06-05 20:54] brendandburns commented on #8337
@smarterclayton @bgrant0607
Is this in flight?  Is this just going to happen by default when we disable v1beta3?

[2015-06-05 20:58] dchen1107 commented on #8918
I am taking over this one from Vish and will send out the initial assessment by end of today. @bgrant0607, you can find the pending changelog from this commit:

https://github.com/jfrazelle/docker/blob/51c0f8f1f00dbf4501e847964fb4f967c71e1235/CHANGELOG.md

[2015-06-05 21:07] jayunit100 opened #9336 "use outputdir for all perf data in e2es"
easy one.  i can tackle it now or else someone beat me to it.
looks like marek has put a bandaid over the density.go test to put data in /tmp rather than local dir.
tim suggests, lets solve it once and for all w/ using the already existing outputdir option.
  @timothysc @rrati @gmarek

[2015-06-05 21:11] dchen1107 opened #9337 "cleanup docker dependencies"
In master/Godeps/Godeps.json, we add several docker dependencies.Some of them are pointing to very old release, such as v1.4.0, others are pointing to the recent ones. We should clean up this asap.

[2015-06-05 21:15] pmorie opened #9338 "Add coverage for E2Es when SELinux is enforcing"
I'm not really sure what to call this PR since it touches so many things.  Suggestion receptacle open if anyone can think of a better name.  I have been thinking about this for a while and want to open discussion while I'm thinking about it.

TL;DR: when there's a multi-platform dashboard for E2E described in #6605, one of the things on that dashboard should be a run of e2e on at least one platfor

[2015-06-05 21:19] jayunit100 commented on #9338
I guess we need a general guide on how we should be running kubernetes, at all, w/ selinux enforcing as a prerequisite to this?

[2015-06-05 21:21] timothysc commented on #9336
cc @davidopp  re: https://github.com/GoogleCloudPlatform/kubernetes/pull/8809#issuecomment-109421230

[2015-06-05 21:26] timothysc commented on #9338
I would like to add a test jig to jenkins to setup a fully-enforcing atomic cluster.

[2015-06-05 21:41] pmorie commented on #2630
Security aside -- can we agree that a PR that relaxes the mode is a Good Thing?  I would like it if non-root uids could use volumes and junk.

[2015-06-05 21:44] bgrant0607 commented on #8337
We're not working on it here.

No, it won't happen for free. The registration of the paths is unconditional:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/api_installer.go#L308

Actually, @caesarxuchao was looking for something to do now that the v1 api is done.

[2015-06-05 21:46] liggitt opened #9340 "ValidateObjectMetaUpdate and RESTUpdateStrategy.ValidateUpdate signatures are reversed"
[code]

Since most implementations of `ValidateUpdate` call `ValidateObjectMetaUpdate`, this makes people lose their minds. Should be made consistent and registries swept for correct usage.

[2015-06-05 21:48] bgrant0607 commented on #8337
IIRC, watch using the query param was added by PR #5763

[2015-06-05 21:48] thockin commented on #2630
I don't know what "relaxes the mode" means - can you be more concrete?

On Fri, Jun 5, 2015 at 2:41 PM, Paul Morie <notifications@github.com> wrote:

[2015-06-05 21:50] derekwaynecarr commented on #9340
Which order is right?

[2015-06-05 21:58] thockin commented on #9324
We did see something like this a LONG time ago.  @dchen1107 do you recall
what this was?

On Fri, Jun 5, 2015 at 1:38 PM, bkeroackdsc <notifications@github.com>
wrote:

[2015-06-05 21:58] thockin commented on #9331
Nothing here should be specific to claims.

On Fri, Jun 5, 2015 at 1:37 PM, jay vyas <notifications@github.com> wrote:

[2015-06-05 22:01] pmorie commented on #2630
My bad.  I meant, make emptyDir 0777 instead of 0700.

[2015-06-05 22:08] bgrant0607 commented on #9298
+1 on moving current context and preferences elsewhere. I think we had consensus to do that in the previous round of discussion about kubeconfig merging

[2015-06-05 22:08] dchen1107 commented on #9324
@thockin, we saw an issue with similar symptom before. The root cause is the old implementation of image garbage collection removed untagged images periodically, and unfortunately all intermediate images are untagged during the pulling. In this case, there are a race between pulling and rmi. We fixed image garbage collection long time ago, and haven't touched it for a while.

@bkeroackdsc Could yo

[2015-06-05 22:12] bgrant0607 commented on #9298
Previous comments: https://github.com/GoogleCloudPlatform/kubernetes/issues/4428#issuecomment-75289113

[2015-06-05 22:13] smarterclayton commented on #2630
At a minimum for us (Paul) we could use the sc of the first container that mounts the volume until we get a broader solution.  Users can then control ordering and we'll at least be unbroken.

[2015-06-05 22:18] jayunit100 commented on #9084
- yup thats the way the test works.
- we can shoot for post-1x to s `PIt`->`It`.
thanks for the update on this derek .  looks like eric set the v1.0-post milestone already, also .

[2015-06-05 22:21] jayunit100 opened #9344 "docs/ page for tokens."
We need a docs page which explains tokens.  at the bare minimum it needs explanations around:

1) How (And why) tokens are mounted into in memory FS and so on.
2) What scenarios might occur where tokens can fail at being seen by container (i.e. debugging mount issues w/ docker)
3) Some pointers to example containers like `nettest` which use tokens in to access services instead of **kubernetes-ro**

[2015-06-05 22:24] gmarek commented on #3954
I'll check if doing everything sequentially will help with the latency, but I must admit I'd be surprised if it would. Most of the work is distributed between multiple Kubelets either way, and I've never seen any big delay caused by the scheduler on my 20 node clusters. IIUC main difference between creating one RC with multiple Pods vs multiple singe Pod RCs is on a scheduler side.

[2015-06-05 22:31] bprashanth commented on #3954
I'm intrigued by your previous numbers and don't dispute the possibility of a bug. But even with 3 nodes and 100 pods the scheduler is the bottleneck https://github.com/GoogleCloudPlatform/kubernetes/issues/3954#issuecomment-85120827

[2015-06-05 22:37] dchen1107 opened #9345 "e2e networking test schedule a pod to a NotReady node"
I ran e2e tests against docker 1.7.0-rc2 release, found a bunch of issues. Here is one I think it belongs to kubernetes for sure.

1) ResizeNode test failed, the machine is removed from instance group:

[code]

But kubectl get nodes still returns 3 ndoes:
[code]
This might be caused by the new docker binary I am testing against here. This is not the issue I am filing here.

2) Now networking test

[2015-06-05 22:38] davidopp commented on #9198
LOL!

[2015-06-05 22:38] lavalamp commented on #9345
The networking test doesn't use the scheduler, it manually fills in the host field.

[2015-06-05 22:39] pmorie commented on #2630
@smarterclayton that's what I was going to next.  We still need to fix the
non-root UID case when SELinux isn't in play -- which I think we need the
0777 mode to do until we have supplemental groups in docker.

On Fri, Jun 5, 2015 at 6:13 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-05 22:41] smarterclayton commented on #2630
I do agree that a separate security context for the pod volumes (individual or group) is probably necessary.

[2015-06-05 22:44] pmorie commented on #2630
I think so too after having my brain thoroughly pretzelized while thinking through all the permutations of what you would have to handle without one. :curly_loop: :curly_loop: :curly_loop:

[2015-06-05 22:46] dchen1107 commented on #9345
Ok, then we should filter out NotReady nodes from testing; otherwise, the test itself has the dependencies on other tests.

[2015-06-05 22:50] lavalamp commented on #9345
Yes, that test is doing a questionable thing.

[2015-06-05 23:00] dchen1107 commented on #8918
Ok, I brought up an e2e cluster with docker 1.7.0-rc2, and here are the initial test result:

Summarizing 16 Failures:

[Fail] Density [BeforeEach] [Performance suite] should allow starting 3 pods per node
/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/density.go:63

[Fail] Density [BeforeEach] [Performance suite] shou

[2015-06-05 23:01] dchen1107 commented on #8918
My e2e cluster is sync up to commit: 636b40ffa1992815c5063fe8b3f8b9fce67aaf7f and our jerkin e2e test are green.

[2015-06-05 23:02] vishh commented on #8918
v1.7 has networking and volumes changes. So its required to probe the test
failures in detail. Thanks for picking this up Dawn.

On Fri, Jun 5, 2015 at 4:00 PM, Dawn Chen <notifications@github.com> wrote:

[2015-06-05 23:03] kprobst opened #9347 "UI has partially cut off view"
See attached screenshot. The line below FS2 is cut off.

![screenshot from 2015-06-05 16 00 59](https://cloud.githubusercontent.com/assets/1454434/8016720/3eeac226-0b9c-11e5-8bc6-937728e91ec5.png)

[2015-06-05 23:03] dchen1107 commented on #8918
@vishh you are right! That is the goal here. :-)

[2015-06-05 23:06] bprashanth opened #9349 "Reboot e2e test timeout because of slow docker startup"
I've seen this fail on occasion on local e2e runs. It looks like what happens is:
- Reboot, kubelet logs show a bunch of binary looking output (I'm assuming from the reboot)
[code]
- Ssh fails for a while , e2e logs:
[code]
- Ssh works, kubelet isn't up (10:50->11:50)
[code]
- Kubelet is up, docker isn't running
[code]
- Test times out

Here's a gist of a segment of my logs:
https://gist.github.co

[2015-06-05 23:06] bgrant0607 commented on #8527
I'm glad we asked, because that's not at all what I thought this was about. We definitely should break this into multiple issues.

Resource metrics: I think we need a tutorial that shows how to determine that there's a resource problem such as OOM (out-of-memory), how to isolate the problem (e.g., which pod/node), how to determine what resources are required, such as by using [Heapster](https://gi

[2015-06-05 23:07] squillace commented on #9242
@srakesh28 @errordeveloper `azure login` only works from a work or school id, which really means an AAD object (identity). If you have a Microsoft account, you can only "connect" with the `azure account import` command that takes a .publishsettings file that you have to download. (it's a cert file)

This is actually a feature of Azure, although I think we don't communicate well here. Turns out tha

[2015-06-05 23:07] kprobst opened #9350 "UI is not as self-explanatory as it could be"
In the dashboard of the UI, we list CPU, Memory, and FS. I would argue that there's no reason to abbreviate FS and let users puzzle over what we mean. There is plenty of horizontal space available.

Also, whatever we can do to explain the donut chart. It's actually not clear to me what the light purple and black areas mean (but it could be cut off and explained lower, see issue #9347).

[2015-06-05 23:07] lavalamp commented on #9122
@nkwangleiGIT I'm writing a test to start a RC with a single pod and wait for it to be ready; then start a service that will point at that pod & measure latency until the endpoint is updated. I'm still not quite clear if this is what you're doing or not and my most likely candidate for the delay you see is the delay until the pod(s) become ready.

If you start the RC & service at the same time, th

[2015-06-05 23:08] quinton-hoole commented on #9345
Agreed.

[2015-06-05 23:09] bgrant0607 commented on #9350
cc @jackgr @bcbroussard @preillyme

[2015-06-05 23:10] bgrant0607 commented on #9349
See also #9062, #8962, #9117

[2015-06-05 23:11] bgrant0607 commented on #9347
cc @jackgr @bcbroussard @preillyme

[2015-06-05 23:14] bgrant0607 commented on #9308
Dupe of #8992, which you also filed. :-)

[2015-06-05 23:14] #9308 closed

[2015-06-05 23:18] bprashanth commented on #9349
I swear i searched for the error message and found nothing. I think the reboot test involves a whole lot of stuff and there's a good chance all 3 bugs are actually different, so retitling.

[2015-06-05 23:22] bgrant0607 commented on #9332
cc @caesarxuchao

[2015-06-05 23:25] bgrant0607 commented on #8817
cc @krousey

[2015-06-05 23:25] bgrant0607 commented on #8817
cc @jlowdermilk

[2015-06-05 23:31] bgrant0607 commented on #9329
The gcloud release cycle is different than our release cycle, unfortunately.

[2015-06-05 23:34] erictune commented on #9332
Remove from docs/accessing-the-cluster.md

[2015-06-05 23:36] bprashanth opened #9352 "Etcd logs on master"
Just realized we don't have etcd logs on the master. Need them for debugging. Should be easy to mount /var/log into the container and capture stdout/err, haven't had a chance to dig and see if something more subtle is going on. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/etcd/init.sls seems to indicate that they should be in /var/log @ArtfulCoder

[2015-06-05 23:37] bgrant0607 commented on #9313
Yes, we should just delete that file, rather than maintaining 2 locations.

@RichieEscarez

[2015-06-05 23:38] evandbrown commented on #9329
Thanks, Brian. Might make sense to pin the cluster version created by
gcloud rather than defaulting to latest, though I expect these types of
issues will be less frequent after 1.0. Thoughts?

On Friday, June 5, 2015, Brian Grant <notifications@github.com> wrote:

[2015-06-05 23:46] bgrant0607 commented on #3338
See #9348, which uses ffjson

[2015-06-05 23:58] bgrant0607 commented on #3525
See also #5472

[2015-06-05 23:58] bgrant0607 commented on #5472
See also #3525

[2015-06-06 00:00] bgrant0607 commented on #8514
Also `curl -sS https://get.k8s.io | bash` was reported in the friction log.

[2015-06-06 00:01] bgrant0607 commented on #8514
Specific issues include:
If the script fails, it has left resources created that make it impossible to run the script successfully later without manually deleting these resources.
    -- Install script uses us-central-b regardless of default zone specified

We should make it more resilient to errors, and ensure it doesn't leave users in a place where they can't easily re-run the script without hav

[2015-06-06 00:05] lavalamp commented on #9122
On a 2 node cluster, I did 200 trials of the test I mentioned, 16 at a time in parallel. Median time between service creation and endpoint generation was 1.1s, 99th percentile was 3.3s. I think these numbers are fine. I will shortly package this test up in a PR.

[code]

[2015-06-06 00:12] bgrant0607 commented on #5906
The default terse output was cited as a source of confusion in our usability study. People didn't know whether it meant success, failure, a tool bug, or something else.

[2015-06-06 00:17] ArtfulCoder opened #9355 "kube2sky should do smart updates including not deleting-recreating for each update"
To do a DNS update, kube2sky currently deletes all records related to a service and then recreates them.

1. For unchanged records: This is not desirable since there is a brief interval where valid records that did not need to be changed, are unavailable (since they are being deleted and re-created)

2. For modified records: instead of deleting and recreating entries, it should be possible to simp

[2015-06-06 00:17] bgrant0607 opened #9356 "Don't show cluster addons by default"
We've discussed using labels or even namespaces so that cluster addons don't show up in kubectl output by default. Users appear confused by this when they get pods, rcs, services.

Addons are labeled, so this filtering should be possible.

[2015-06-06 00:20] lavalamp commented on #9122
Can you run the test in #9354 against your cluster?

I think if you pull my change in that branch something like the below should work to run just this test against your cluster:
[code]

This will tell us if the delay you see is service creation -> endpoint generation or something else.

[2015-06-06 00:20] davidopp commented on #9356
But users are also confused when the node has less available resources than the machine's capacity. I think hiding this stuff may be more confusing than not.

[2015-06-06 00:22] bgrant0607 commented on #4690
Is this still a problem? It looks like we added -q:
https://github.com/GoogleCloudPlatform/kubernetes/blob/8195f13b86c54acad7f16097ecffa531245f41c3/cluster/gce/util.sh#L76

[2015-06-06 00:22] bgrant0607 commented on #4690
@brendandburns

[2015-06-06 00:26] pmorie commented on #9198
@bgrant0607 :trophy: :trollface:

[2015-06-06 00:33] saad-ali commented on #9028
@erickhan, @dchen1107,, @vishh, and I sync'd up on this offline.

We've decided to do the following for GCE:
* For metrics:
  * Disable GCM
  * Enable InfluxDB/Grafana
* For events:
  * Leave GCL enabled
* For logs:
  * Disable Elasticsearch
  * Enable GCL

[2015-06-06 00:34] bgrant0607 commented on #5906
We should probably spawn another issue for this, but putting here for expedience and consistency...
Feedback from user: Output of success is just the name of the resource (services/redis-slave) Would be friendlier as "Service 'redis-slave' created successfully"

[2015-06-06 00:42] mikedanese commented on #9011
I am actually able to create a pod without and apiVersion.
[code]
Maybe there was something else going on.

I assume it's using the --api-version? @jlowdermilk is this the expected behavior?

[2015-06-06 00:45] ghodss commented on #1111
That kind of requirement is rarely adhered to in practice. People will shorten it to node most of the time. Node/infra node is probably the right split. But as @bgrant0607 says, those two types will become more and more homogenous over time.

[2015-06-06 00:47] ghodss commented on #1111
In case we're voting again, I do like minion more - it's more clearly "a miner who gets work done" instead of the more vague "a component of a system". It will be quite painful to change the v1 API though.

[2015-06-06 00:51] davidopp commented on #1111
I agree. I didn't mean to imply I was switching my vote away from "minion" just that I saw maybe a way we could still leave "node" in the term (but I think it is worse for the reason you mentioned).

[2015-06-06 00:52] srakesh28 commented on #9242
Got it great explanation.. this was not very clear at first, This helps. Thanks

[2015-06-06 01:06] squillace commented on #9242
@srakesh28 My pleasure. I believe that the kubernetes driver and other work for Azure was done with the V1 model, so using a publishettings OR AAD identity should work fine, but it will not use the resource management api to create the resources. I'll look into it.

[2015-06-06 01:12] bgrant0607 commented on #6797
Only use templates when writing reusable scripts. Human output formats may change.

[2015-06-06 01:21] dchen1107 commented on #8814
It turns out there is an issue in docker.  Docker remote API never check if memory swap is enabled by kernel or not. If memory limit is passing to docker, by default it will set swap limit = memory_limit *2, thus return API error (500) if swap is disabled. GKE image is disabling swap.

PR #9358 explicitly passing -1 to disable swap.

[2015-06-06 01:22] dchen1107 commented on #8814
cc/ @brendandburns We might want to patch this workaround to our v0.18 release. I will file a separate issue to docker.

[2015-06-06 01:24] karlkfi commented on #9267
LegacyHostIP is the one most used with existing cloud providers. So it definitely needs to remain supported, at least until all the included cloud providers have been updated.

Ultimately, I would like to see the following concepts codified:
- `NodeHost` - IP (or hostname) & Port that the Node web server listens on (intra-node communication)
- `ClusterNodeHost` - IP (or hostname) & Port that the N

[2015-06-06 01:29] derekwaynecarr commented on #8814
@smarterclayton - need to cherry pick this.  Will add to list.

Sent from my iPhone

[2015-06-06 01:52] BenTheElder opened #9359 "Bad certificate on Vagrant/e2e"
After running `go run hack/e2e.go -v -up` on 0f1c4c25c344f70c3592040b2ef092ccdce0244f (master) and ssh'ing into minion-1 and running `sudo journalctl -u kube-proxy` I get:
[code]
repeatedly.

@derekwaynecarr Any ideas?

[2015-06-06 01:56] derekwaynecarr commented on #8814
See https://github.com/GoogleCloudPlatform/kubernetes/issues/7294

Sent from my iPhone

[2015-06-06 03:10] jlowdermilk commented on #9011
I'm not sure if that's expected behavior. It may be falling back to api.latest if one isn't read from the schema, but if there is no apiVersion in schema, and the command wasn't run with an explicit `--api-version` it should error out.

[2015-06-06 03:21] jlowdermilk commented on #8817
I agree. `cluster/kubectl.sh` should just find the appropriate binary and update your PATH. Once #9227 is merged, the only work required is the tedious chore of going through the code base and switching every instance of `cluster/kubectl.sh` to `kubectl` (along with a `source cluster/kubectl.sh` where needed).

[2015-06-06 03:21] bgrant0607 commented on #9329
Not so simple, actually. Some discussion about this in #3955, #4855, and #5889.

[2015-06-06 03:39] bgrant0607 commented on #9356
The problem is most severe when working through an example:
* create one service and RC and see half a dozen of each
* create 3 pods and see a dozen

Perhaps describe node should indicate what's running on it -- at least number of pods and amount of resources reserved. Probably would need to add that to node status since users won't be able to get all the pods when authz is enabled.

[2015-06-06 03:55] yanypunix commented on #9054
i will try it,close issue

[2015-06-06 03:55] #9054 closed

[2015-06-06 04:00] bgrant0607 commented on #9283
Hostname shouldn't even be the pod name. https://github.com/GoogleCloudPlatform/kubernetes/issues/4825#issuecomment-77759846

Please use the downward API:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md

[2015-06-06 04:03] bgrant0607 commented on #4825
The pod name can be passed via environment variables:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md

[2015-06-06 04:18] srakesh28 commented on #9242
Thank you resource management would be great

[2015-06-06 04:47] davidopp commented on #9356
I really like the idea of "describe node" showing all the pods running on it, and their limits/requests/whatever. As you know, we have this in Borg, and it's definitely the most useful debugging page we have. I think that would make it more reasonable to hide the cluster addon pods.

But as a secondary issue, are you implying that when we have authz, you won't be able to see pods from other namesp

[2015-06-06 05:30] kevinliuzhong commented on #9310
yes, endpoints are there.
[code]
The problem is kube-proxy, when I using `sudo systemctl status proxy.service`, it seems some thing  wrong with iptable, unfortunately I did not capture the log, so I can not show you the exact info.

I tried to restart the kube-proxy using `sudo systemctl restart proxy.service`, everything was recovered.

What I am worrying is, I didn't know the exact reason cause

[2015-06-06 05:38] uruddarraju opened #9360 "Service Controller Watch possible infinite loop during LB creation"
I am using the openstack cloudprovider to bring up a cluster and create an external LB. I then ran into a weird problem and tried to debug a little and think found what the problem is, but there are a few things that I could not explain and have a theory that I want someone to refute.

This is the log I have in `kube-controller-manager`

[code]

As you can see it is basically an infinite loop wher

[2015-06-06 05:50] uruddarraju commented on #9360
You can reproduce this by:

1) Induce an error returned at CreateTCPLoadbalancer function in the cloudprovider
2) Build a cluster with this
3) Create a service (with externalLB set to true) on top of some pods.
4) Delete service

The 3rd step should fail and be set for retry.

[2015-06-06 05:56] uruddarraju commented on #9360
Eventually, I got a panic on the kube-controller-manager

[code]

[2015-06-06 06:00] davidopp commented on #8132
Google's proto3 supports some kind of inter-operation with JSON that I did not take the time to read about in detail: https://developers.google.com/protocol-buffers/docs/proto3#json

[2015-06-06 06:43] gmarek commented on #3954
Yeah, but I never started more than 20 pods at once. Note that the current implementation saturates the cluster, and then starts one additional Pod per Node. In most runs I was using 5 Nodes, so even rate limiting shouldn't be an issue.

[2015-06-06 06:56] #9360 closed

[2015-06-06 07:08] linfan commented on #8376
@justinsb the issue do not need CoreOS knowledge, it's all about AWS.
The parameter of AWS CLI command provided in the guide is incorrect.

[2015-06-06 07:14] thockin commented on #9290
I found out how to vendor a binary and all its deps.  Awesome.  Now, about
HEAD...

I can use gopkg.in to pull etcd version tags.  Awesome.
gopkg.in/coreos/etcd.v2 -> latest v2.x.y tag.

Here's where it breaks down - `go get` follows imports.  etcd code is not
expecting to find itself named gopkg.in/coreos/etcd.v2 - every import (and
vendored code) refers to github.com.

Unfortunate.  I can manual

[2015-06-06 07:45] thockin commented on #9310
I'll close this for now - if you can reproduce it, grab the kube-proxy logs!  You might even run with --v=4 in hopes of failing.

[2015-06-06 07:45] #9310 closed

[2015-06-06 07:50] jimmidyson opened #9363 "Service accounts should also mount CA certificate"
Service accounts currently mount the generated token but in order to use it against the API server you either have to disable certificate validation (bad but easy) or manually set up secrets for the CA certificate.

It would be really nice to have the CA certificate automatically mounted to a known location like the token is when using a service account.

[2015-06-06 09:40] errordeveloper commented on #9242
@squillace thank you very much for this excellent explanation of what's going on, as it was a bit unclear and I actually assumed that CLI only works with organisational accounts... Anyhow, the issue here is really about what to do with [`azure-login.js`](https://github.com/errordeveloper/weave-demos/blob/da78a16a5ddc3b1b1ca8f48e5b570517f120138e/coreos-azure/azure-login.js) helper?

[2015-06-06 09:54] errordeveloper commented on #9242
The purpose of this helper scrip was to not have to ask user to install the package in system path and just use what's already in `node_modules`. Anyhow, sounds like writing an interactive login script that asks what kindda account the user has doesn't make too much sense to me, perhaps there should be just two scripts... although, I would debate whether CLI should wrap this somehow all under `log

[2015-06-06 10:58] satnam6502 commented on #4690
I have en encountered this issue since filing filing. I suspect the move to MIG has eclipsed this issue.

[2015-06-06 10:58] #4690 closed

[2015-06-06 11:01] satnam6502 commented on #9028
@saad-ali do you mean that for GCE clusters you now want logging to GCL to be the default rather than Elasticsearch/Kibana? It's not really a matter of "disabling" the Elasticsearch instances (and Kibana) since the type of cluster logging is determined at cluster birth time (and can't easily be changed afterwards right now).

[2015-06-06 14:33] ArtfulCoder commented on #9290
https://vividcortex.com/blog/2013/09/10/100-reproducible-builds-in-go/

the link talks about solving the versioning problem and has open sourced the tooling for it.

[2015-06-06 16:05] bgrant0607 commented on #6797
Errors output to stderr rather than (or in addition to) glog: #9357

[2015-06-06 16:24] bgrant0607 commented on #3714
Pointers to how to specify a query parameter using go-restful's route builder:

https://github.com/emicklei/go-restful/blob/bdfb7d41639a84ea7c36df648e5865cd9fbf21e2/examples/restful-swagger.go#L26
https://github.com/emicklei/go-restful/blob/master/parameter.go
https://github.com/emicklei/go-restful/blob/5aeddab2ca153e662be4ff9efb82f6c6788466d0/route_builder.go#L123
https://github.com/emicklei/go-r

[2015-06-06 16:45] justinsb commented on #8932
#9294 has merged.  I'm going to close this, as I think/hope that is a good solution.  If not, please feel free to reopen though.

[2015-06-06 16:45] #8932 closed

[2015-06-06 16:50] justinsb commented on #9246
Thanks for the bug report @pramttl; I've filed a PR to fix it.

[2015-06-06 16:53] justinsb commented on #8376
Thanks for the report @linfan - I put in a PR to fix the docs.

[2015-06-06 19:42] justinsb opened #9368 "Salt assumes !redhat => !systemd"
Our salt assumes that only os_family == redhat uses systemd.  Debian Jessie has now been released and ships with systemd, and I believe the next LTS of Ubuntu is also going to be systemd.

We should be detecting systemd itself.

(I looked briefly and couldn't find the salt variable to do that though.)

[2015-06-06 20:55] diferential opened #9372 "Problem with inbound Internet => Container traffic on GCE"
I'm trying to setup the 'guestbook' example on my GCE instance, but running into issues exposing this service to the internet.

I cannot connect to any of my internet based ports, but the container <=> container networks do seem to work and I can telnet from within a Kubernetes VM to the container based IPs and the 'target' ports of 80.

I changed the port to bind the service to 880 and a type of

[2015-06-06 21:26] thockin-cc commented on #9372
kubectl get -o yaml shows the full picture. Setting type to NodePort tells
the system to allocate a port (for example 30123) that is available on all
nodes. That is the port that your service is available on. Then you have to
open firewalls for that port - we don't do that by default for safety.
On Jun 6, 2015 1:55 PM, "diferential" <notifications@github.com> wrote:

[2015-06-06 21:51] diferential commented on #9372
What do you mean by a port that is available on all nodes? What is a nodeip
compared to a clusterip? I thought the former is would bind the service to
the VM interface, while the later only to the internal cluster IPs.

From my inspection above the port is only available on the internal
interfaces of Kubernetes and not on the GCE VM interface. Even if I
manually open up the firewall I won't be abl

[2015-06-06 22:13] thockin commented on #9308
Better twice than not at all :)

[2015-06-06 22:31] #8661 closed

[2015-06-06 22:36] davidopp commented on #8478
Right now the only way to avoid having two pods schedule onto the same machine is to have them each request enough resources such that they won't fit on the same machine. See #3945 for more details.

Thanks for your PR!

[2015-06-06 22:36] #8478 closed

[2015-06-06 23:24] kevinliuzhong commented on #9310
The kube-proxy failed to work again, I catch the log for to all two nodes
on kube-02
[code]
on kube-01
[code]

[2015-06-07 00:27] thockin-cc commented on #9310
Ah. Yeah. Do you have a load balancer frontend holding sessions open?
On Jun 6, 2015 4:24 PM, "kevinliuzhong" <notifications@github.com> wrote:

[2015-06-07 01:46] kevinliuzhong commented on #9310
I don't have external load balancer, I defined a service for each replica, will it act as the frontend load balancer?

[2015-06-07 01:54] liggitt commented on #9363
Dupe of https://github.com/GoogleCloudPlatform/kubernetes/issues/7648

[2015-06-07 03:33] thockin commented on #9310
Usually this symptom implies that something is accessing your service and
keeping TCP sessions alive. Who is accessing the service?
On Jun 6, 2015 6:47 PM, "kevinliuzhong" <notifications@github.com> wrote:

[2015-06-07 03:38] thockin commented on #9310
Also try ls -l /proc/`pidof kube-proxy`/fd
On Jun 6, 2015 8:32 PM, "Tim Hockin" <thockin@google.com> wrote:

[2015-06-07 03:39] kevinliuzhong commented on #9310
But no matter who is accessing and hold the session, it can cause the whole k8s can not response. then is it a bug for k8s that should be fixed?

[2015-06-07 03:42] kevinliuzhong commented on #9310
I tried `ls -l /proc/`pidof kube-proxy`/fd`, give the result
[code]

[2015-06-07 03:48] justinsb commented on #9372
Your rule for port=880 is this one:
[code]

iptables remaps traffic on the service IP & port 880 to a port that kube-proxy chooses to listen on locally, in this case 59034.

For NodePort, I would expect to see a port chosen in the 30000-32767 range, also redirected to port 59034.  I don't see that, so something has not worked correctly.

Can you please post the output from `kubectl get -o yaml gue

[2015-06-07 04:20] kevinliuzhong commented on #9310
If I can not prevent client accessing the service and hold the session, is there any workaround the prevent kube-proxy going stuck?

[2015-06-07 04:21] thockin commented on #9310
We have an open bug on the FD limit issue.  That listing is not the FD dir
- the back-ticks I posted are required.

ls -l /proc/$(pidof kube-proxy)/fd
On Jun 6, 2015 8:42 PM, "kevinliuzhong" <notifications@github.com> wrote:

[2015-06-07 04:22] kevinliuzhong commented on #9310
yes, I went wrong directory, I just modified the comments.

[2015-06-07 04:29] kevinliuzhong commented on #9310
is there any workaround temporarily?

[2015-06-07 06:59] jimmidyson commented on #9363
OK thanks - closing

[2015-06-07 06:59] #9363 closed

[2015-06-07 07:10] jimmidyson commented on #7648
Mounting the CA certificate is pretty essential for this story as otherwise need to disable host verification which potentially could expose token to wrong service (through dns poisoning perhaps).

Is this going to be in 1.0?

[2015-06-07 09:50] linfan commented on #8376
The fix looks good : )

[2015-06-07 10:32] matthiasr opened #9374 "Service update should preserve clusterIP if not specified"
Trying to update a service that does not specify a clusterIP, I hit [this](https://github.com/GoogleCloudPlatform/kubernetes/blob/0f1c4c25c344f70c3592040b2ef092ccdce0244f/pkg/api/validation/validation.go#L1160-L1162) condition with the error message

[code]

As far as I can tell, what happens is that the YAML deserialization communicates absence via the Go zero value, and the validation thinks I'm

[2015-06-07 11:35] feihujiang commented on #9224
And I also found that kubetcl create --validate crashes when no kind is provided. Hi, I wonder if any other has already started working on this? If not, I would volunteer myself to do this.

[2015-06-07 11:37] pires opened #9375 "Binaries for 0.18.1.1 not publicly available"
This returns 404, https://storage.googleapis.com/kubernetes-release/release/v0.18.1.1/bin/linux/amd64/kube-apiserver

[2015-06-07 14:15] thockin commented on #9374
I know it feels a bit clumsy in this specific case but it is actually correct and consistent.  Update is not Patch - it is not a partial update.  The correct way to change an object is to read the old form, mutate it, and write it back.  That includes clusterIP.

In general there are any number of fields that get auto-assigned - the logic to preserve them all quickly gets out of hand and hard to m

[2015-06-07 14:15] #9374 closed

[2015-06-07 16:28] matthiasr commented on #8609
Here's a workaround to find out what it's choking on: read the YAML from stdin. With a borked file, I get:

[code]
but
[code]
This will give you an idea where the error lies.
Funnily, even though it says JSON, it does totally accept YAML, but there must be some subtle difference between reading from stdin or from file.

[2015-06-07 17:41] thockin commented on #9011
It should absolutely error out.
On Jun 5, 2015 8:11 PM, "Jeff Lowdermilk" <notifications@github.com> wrote:

[2015-06-07 17:44] smarterclayton commented on #8337
If we could memoize APIRequestInfo for use in both the limit check and the authorizer then I would say we should do that.  In theory the context for a request should be populated early with the desired API request (version, resource, etc) structure, then all the subordinate / wrapped handlers can reuse that.  The ultimate goal is to be able to make intelligent statements about a request before it

[2015-06-07 17:47] thockin commented on #2630
For comparison, we are intentionally NOT this flexible for things like
RestartPolicy - defining sane semantics for this sort of edge case is just
not worth the effort. Is it really worth the effort for security context ?
On Jun 4, 2015 11:27 AM, "Paul Weil" <notifications@github.com> wrote:

[2015-06-07 17:50] thockin commented on #2630
Can't we make it 0770 and set the group ID for it and every container in
the pod? It's coarse but better than 0777 and closer to where we should go
(IMO supplemental GIDs). As far as I see, Security Context does not yet
allow a container to set GID...
On Jun 5, 2015 3:01 PM, "Paul Morie" <notifications@github.com> wrote:

[2015-06-07 17:55] thockin commented on #2630
I could live with this iff it comes with a giant TODO and docs in the right
places.
On Jun 5, 2015 3:13 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-06-07 17:55] thockin commented on #2630
I really really want to lean on simple assumptions intra-pod. Adding SC on
volumes is not simpler.
On Jun 5, 2015 3:44 PM, "Paul Morie" <notifications@github.com> wrote:

[2015-06-07 18:04] smarterclayton commented on #2630
Volumes plural, not volumes singular.  I'm pretty sure different uids per container is absolutely valid, so we can't guess a uid based on containers alone and be predictable.  So we either need a pod default sc or a subset of sc applied to all volumes.  If the uid on the directory is wrong for that sc that has other security implications.  And labels *have* to match or you get nothing.

So the two

[2015-06-07 18:05] smarterclayton commented on #2630
I agree group is generally useful.  It wouldn't work for labels though.

[2015-06-07 18:21] thockin-cc commented on #2630
Yeah, I don't know selinux at all (it has only ever given me problems that
I don't know how to solve - same as here).
On Jun 7, 2015 11:05 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-06-07 18:25] smarterclayton commented on #2630
Treat it like 700 - if labels are different you can't see it, if they are you can.

In this context we're probably going to stay simple and say every volume has a single label, and every container has a single label, and we want everything in the pod to have the same label in 99% of cases.  Eventually we may want a container to have a different label (which means it can access anything outside of

[2015-06-07 19:23] pmorie commented on #2630
Hrm
On Sun, Jun 7, 2015 at 2:25 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-06-07 20:22] pmorie commented on #2630
It doesn't look like docker exposed control of the group at all yet. Am i
missing something, @thockin? Would the kubelet have to setgid on the
container process? Sounds racy to me.
On Sun, Jun 7, 2015 at 3:22 PM Paul Morie <pmorie@gmail.com> wrote:

[2015-06-07 21:13] pmorie commented on #2630
@thockin @smarterclayton It looks like

[2015-06-07 21:13] pmorie commented on #2630
Multiple GH fail, my bad!

[2015-06-07 22:13] fabianofranz opened #9380 "kubectl should properly validate against malformed json files"
When a malformed json file[1] is passed to `create` the `error: no objects passed to create` is returned. Increasing the log level to 4 we get a `Unable to load file "<file>": unable to get type info from "<file>": couldn't get version/kind; json parse error: invalid character '\n' in string literal`.

This happens because the resource builder in `create` is marked as `ContinueOnError` so that the

[2015-06-08 00:54] thockin commented on #2630
Hmm, I thought docker allowed setting GID. Damn.
On Jun 7, 2015 1:23 PM, "Paul Morie" <notifications@github.com> wrote:

[2015-06-08 02:00] pmorie commented on #2630
@thockin :'-/

On Sun, Jun 7, 2015 at 8:54 PM, Tim Hockin <notifications@github.com> wrote:

[2015-06-08 04:06] brendandburns commented on #9375
To be honest, it's identical to v0.18.1

The version that I uploaded to github was accidentally built first with a dirty git client.  I didn't want to overwrite the version with a file with different sha1 and md5 so I added v0.18.1.1

You can just use v0.18.1 in Google Cloud Storage, it's the exact same binary.

(sorry for the confusion)

--brendan

[2015-06-08 04:06] #9375 closed

[2015-06-08 04:10] smarterclayton commented on #3060
Here's the start of this for OpenShift https://github.com/openshift/origin/pull/2914

I went for the straight simple approach for now - displaying a list of concrete paragraphs for each concept.  Ultimately I think these are descriptions that should be present in the swagger doc (although for swagger there may be more paragraphs per resource, and certain concepts like Labels will have to live some

[2015-06-08 04:18] arun-gupta commented on #8609
Try:
[code]

It might give you some more detailed information.

[2015-06-08 04:31] brendandburns opened #9382 "Indefinite retries of failing objects"
From: _Uday Kumar Raju ruddarraju <rudaykumarraju@gmail.com>_

I have run into a wierd situation using the FIFO queue in the ServiceController. We (at ebay) have modified the openstack cloud provider to suit our installation of openstack, where all the Pod IPs are reachable outside the cluster. So we have changed out cloudprovider to read the pods belonging to a service and create a tcp load balan

[2015-06-08 04:31] brendandburns commented on #9382
@lavalamp

1) We should distinguish between transient failures and permanent failures in CreateTCPBalancer, there are lots of reasons that a failure might be persistent (over quota, invalid IP, etc) and we shouldn't retry those indefinitely.

2) We should perhaps change the semantics of the FIFO queue so that an indefinitely failing message can't block up an entire queue, that seems bad.

[2015-06-08 04:49] saad-ali commented on #9028
@satnam6502 Yes, we'd prefer to align the story for events and cluster logs (both GCL or both elastic). We can sync up offline.

[2015-06-08 06:20] WIZARD-CXY commented on #9237
@adyanthaya17. You must install bridge-util to get docker use flannel network. Maybe there are other problems. A look at the kubelet log will be helpul

[2015-06-08 07:03] adyanthaya17 opened #9386 "Integrating kubernetes with Openstack"
Hi,

I'm trying to integrate kubernetes with my openstack without murano and was wondering if a code was required to configure in openstack.

I have worked with chef previously and in that the knife.rb file was used to fetch the data from the openstack. Is it possible to do something similar in kubernetes too? The point of working on it is that I want to be able to look at the applications in the

[2015-06-08 07:23] marekbiskup commented on #8107
@bgrant0607 clarified (in a personal email) that version string ```should be included``` in RC names

[2015-06-08 07:55] #8402 closed

[2015-06-08 08:04] jsdir commented on #9340
Switched to `ValidateObjectMetaUpdate(meta, old *api.ObjectMeta)` since most of the other functions in the package accept the old parameter as the last one.

[2015-06-08 08:33] pcx commented on #7683
@derekwaynecarr OK, I will try using HEAD. Thanks for the update!

[2015-06-08 08:35] fgrzadkowski commented on #4521
@davidopp Yes. I'll send a PR to update go-etcd client library version today.

[2015-06-08 08:42] jakobholmelund commented on #9372
Im not sure if this is related. But it seems that the way that nodes, targetpools and instances are named in container engine have changed. I just tried to setup a new cluster the exact same way i did a month ago. Everything get's created and everything internally seems to work but the load balancer address just hangs. I will try to follow one of the walkthroughs tonight. But i have tried to get m

[2015-06-08 08:43] nikhiljindal commented on #6359
This is now fixed

[2015-06-08 08:43] #6359 closed

[2015-06-08 09:12] #9336 closed

[2015-06-08 09:56] erimatnor commented on #6743
Headless services would probably do for now, although proper SRV records (e.g., _something._tcp.your-service.namespace) would be preferable. SRV would be more powerful and allow better support for multiple protocols, ports, weights, etc. I guess one issue is where to get things like weights from? I imagine that one could optionally support that via some extended liveness check akin to what is alre

[2015-06-08 10:32] jdk-google commented on #9057
HI Brian.

Describe gives info only about on RC at a time, right?

I would prefer to have one place where I can see list of all my "services"/ "jobs" (services not in the k8s sense) and their state on one screen.

For typical user they will fit (I expect that typical k8s user will have ~10 RCs not, ~100)

[2015-06-08 11:10] jdk-google commented on #9126
I see - so this is probably another example of a case where silently dropping uknown fields is not good.

Instead - I would raise an error for every JSON field not know to the server

[2015-06-08 12:16] liggitt commented on #9340
FYI @deads2k

[2015-06-08 12:57] hurf commented on #9386
I guess the Magnum project can help deploy k8s in an openstack environment.

[2015-06-08 13:06] nikhiljindal commented on #6842
Not sure if this is still happening now that v1beta1 and 2 have been deleted.
A way to verify that is to remove this condition: https://github.com/GoogleCloudPlatform/kubernetes/blob/35c7912a7ad27797ce9889df0e360f7051b4f47b/pkg/api/validation/schema.go#L109 and see if any tests fail.

[2015-06-08 13:35] gmarek commented on #3954
To give some more data about parallel case, a short timeframe of 12 sec startup latency:
[code]

I'll dig into those 4 and 2 second intervals.

[2015-06-08 13:39] vially commented on #499
Any update on this?

[2015-06-08 13:44] vaijab commented on #473
For kubernetes deployed on top of fleet, this approach can be used: https://github.com/vaijab/kube-apiproxy

[2015-06-08 13:48] liggitt commented on #499
1. Pods now have an `imagePullSecrets` field that lists the secrets to use for pulling the container images
2. That field must reference secrets of type "kubernetes.io/dockercfg", with a ".dockercfg" key containing dockercfg file credentials.
3. If a pod references a service account, that service account's imagePullSecrets are automatically added to the pod's imagePullSecrets field.

[2015-06-08 13:48] liggitt commented on #499
@deads2k any pointers to docs or better explanations?

[2015-06-08 14:21] fgrzadkowski commented on #8315
Sorry for not responding. I missed this issue. I don't see this error anymore. The only error message is:
[code]

[2015-06-08 14:26] thockin commented on #6743
As of two weeks we have support for headless services DNS and as of last
week we have support for SRV. Try it out!
On Jun 8, 2015 2:57 AM, "Erik Nordström" <notifications@github.com> wrote:

[2015-06-08 14:48] calvinmetcalf commented on #7286
`./createConfig.sh | kubectl rolling-update $PREV_VERSION -f - ` is still throwing errors with version 0.17 used directly (without wrapping)

[2015-06-08 14:53] gmarek commented on #3954
A bit more data from another 13 sec latency startup. First event from scheduler:
[code]
And from now on Kubelet logs (with some additions)
[code]

It seems that for some reason it takes quite some time from noticing change from watch to processing it. To be fair I've seen logs where noticeable time (~3s) was used when starting Docker container, but sometimes it does not appear. I'm not sure that w

[2015-06-08 14:55] timothysc commented on #9208
I think we may have rooted the last issue... details here: https://bugzilla.redhat.com/show_bug.cgi?id=1229319

[2015-06-08 15:04] mrunalp commented on #2630
@thockin @pmorie The syntax for setting gid is --user "uid:gid". For e.g.
[code]

[2015-06-08 15:09] pweil- commented on #2630
@pmorie @smarterclayton - we probably want to patch this in to SCs and SCCs then.

[2015-06-08 15:25] smarterclayton commented on #2630
Yes we do.

----- Original Message -----

[2015-06-08 15:33] marekbiskup opened #9394 "e2e tests for add-on update"
Add-on update was added in #9128 (it fixed #8107).
It was manually tested and automated tests are missing. The following scenarios should be tested:

 1. If a service/rc manifest is deleted, the object should be deleted from the API server
 1. If a new service/rc manifest was added, the object should be created.
 1. If the version of an rc is changed, the rc should be updated (in the future - chec

[2015-06-08 15:38] erimatnor opened #9395 "Service IP mapping issue"
On several occasions now, kube-proxy has ended up in a weird state where it is trying to open up connections to the wrong IP.

I have a service "turnstile":

    $ kubectl get endpoints turnstile
    NAME        ENDPOINTS
    turnstile   10.244.20.49:8080,10.244.20.49:10000

And the service definition:

    $ kubectl get service turnstile
    NAME        LABELS                         SELECTOR

[2015-06-08 15:44] pmorie commented on #2630
@pweil-

On Mon, Jun 8, 2015 at 11:25 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-08 15:53] uruddarraju commented on #9386
And also the latest code from Murano (a Miratis project has something like this)

[2015-06-08 15:54] uruddarraju commented on #9382
https://groups.google.com/forum/#!topic/google-containers/-0tL-_lOV-Q

[2015-06-08 16:02] erimatnor commented on #9395
Some additional info. Deleting the replication controller and service definition (i.e., removing the service completely) left the iptables rules in the kernel. Manually deleting these rules and adding rc and service again didn't help. Mapping was still wrong. Finally, restarting kubelet and kube-proxy seemed to resolve the issue.

[2015-06-08 16:11] gmarek commented on #3954
Bringing up additional pods sequentially instead of starting them all at once gives much better results, with median being ~3s, and 90% ~7s. It's anectdata from one run, as it's much slower walltime-wise.

[2015-06-08 16:18] bprashanth opened #9397 "pushup fails when local cluster running"
If I do something like:
`down; make; pushup` (substituting the right e2e.go commands, note that I'm not doing -down -build -pushup in a single command), the last pushup fails with:

[code]

because `isup` returns true based on my local cluster, causing pushup to go looking for e2e-test-beeps-master.

[2015-06-08 16:24] bprashanth commented on #3954
@gmarek I've reached a similar conclusion. Tl'dr it isn't the watch, we're pushing docker to a scalability limit (which is a function of how many operations we're asking it to do and how much cpu we're giving it) and it's very possible there are things we can do on the kubelet side to alleviate this load.

I'll review your test today and we should get that in asap so we have something that we can

[2015-06-08 16:28] thockin-cc commented on #9395
Did you look at kube-proxy logs?
On Jun 8, 2015 9:02 AM, "Erik Nordström" <notifications@github.com> wrote:

[2015-06-08 16:29] thockin-cc commented on #2630
Docker's syntax is atrocious, please don't copy it.
On Jun 8, 2015 8:45 AM, "Paul Morie" <notifications@github.com> wrote:

[2015-06-08 16:33] pmorie commented on #2630
@thockin agree, we need a ditinct gid field in security context

On Mon, Jun 8, 2015 at 12:29 PM, thockin-cc <notifications@github.com>
wrote:

[2015-06-08 16:37] pweil- commented on #2630
Definitely not, we'd add an `RunAsGroup int64` field.

[2015-06-08 16:41] dchen1107 commented on #8223
No, I still observed such error logs once a while, but so far those errors are red herring, without any breakage. Haven't get down to look into the detail yet.

[2015-06-08 16:46] evasnee opened #9398 "Scrub help documentation to consistently format and call out which steps are optional and which are required."
It's not clear to first-time users which instructions are required and which are optional/informational.

Example from user on this docs page: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook

redis-server --slaveof --> this command is not something I'm supposed to run, but looks like it is

![image](https://cloud.githubusercontent.com/assets/11644912/8040167/243907

[2015-06-08 16:52] roberthbailey commented on #6548
This has been marked P0 for 2 months but hasn't had any updates. Is this still happening on Shippable? If so, can we just increase a timeout in the test?

[2015-06-08 16:53] evasnee opened #9399 "Provide more explanation of new concepts and instructions"
When a new concept is introduced, it should also be explained. Here are a few examples from the recent K8s Hackathon from new users:
         \* “First reference to createExternalLoadBalancer is confusing, this concept hasn't been introduced.  This section should be organized like: IF you are running locally: Do nothing, IF you are running on GCE and want your app to be externally visible, do X.

[2015-06-08 16:55] #9066 closed

[2015-06-08 16:55] #8516 closed

[2015-06-08 17:00] bgrant0607 commented on #8337
@smarterclayton Perhaps you intended to post your [latest comment](https://github.com/GoogleCloudPlatform/kubernetes/issues/8337#issuecomment-109781954) to another issue?

[2015-06-08 17:03] davidopp commented on #4521
@fgrzadkowski : Once you're confident we're meeting the goal described in the title of this issue, please move the issue to milestone "1.0-post". (We don't need to wait on the etcd PRs to merge if we're already meeting the goal.)

[2015-06-08 17:05] evasnee opened #9401 "Provide clearer instruction on how to create a public IP with expose command and improve UX for kubectl for expose command"
Unclear how to specify or create a public IP for expose cmd (from these instructions: https://github.com/GoogleCloudPlatform/kubernetes/blob/2ffb875129602924257d2a8ea30a24d0e00c6cd1/examples/simple-nginx.md)

![image](https://cloud.githubusercontent.com/assets/11644912/8040474/adf400ee-0dc5-11e5-9287-27cf909303fa.png)

We should consider how we could improve the usability of kubectl to make this a

[2015-06-08 17:06] davidopp commented on #7561
@fgrzadkowski any update this, or you are still looking into it?

[2015-06-08 17:06] smarterclayton commented on #8337
It was combining https://github.com/GoogleCloudPlatform/kubernetes/pull/6207 which rate limited watch separately, with the removal of the thing that allow watches to be detected.  We need a better way to unambiguously identify watch requests so that they can be rate limited in a separate bucket.  If we remove watch here we have no effective way to bucket regular calls and watch calls separately, s

[2015-06-08 17:07] evasnee opened #9402 "nginx example is missing a firewall rule step"
nginx example missing step to create firewall rule (tcp:80 targettag:kubernetes-minion)
from these instructions:

https://github.com/GoogleCloudPlatform/kubernetes/blob/2ffb875129602924257d2a8ea30a24d0e00c6cd1/examples/simple-nginx.md

[2015-06-08 17:09] davidopp commented on #9029
@lavalamp / @bprashanth: do you think the issue @bprashanth mentioned in the last update needs to be fixed for 1.0, or will #9262 be sufficient for 1.0?

(BTW https://github.com/GoogleCloudPlatform/kubernetes/pull/9262#issuecomment-109468760
says "We can revisit & test more after @brendandburns' ssh tunnel stuff goes in?" -- has that gone in yet?)

[2015-06-08 17:11] satnam6502 commented on #9268
Is this still an issue? If not then please can this issue be closed?

[2015-06-08 17:12] satnam6502 commented on #4968
The move to Kibana 4 makes this work.

[2015-06-08 17:12] #4968 closed

[2015-06-08 17:13] satnam6502 commented on #5523
I think we can close this.

[2015-06-08 17:13] #5523 closed

[2015-06-08 17:14] bprashanth commented on #9029
I don't think the /debug endpoints timing out is a 1.0 blocker (we can still fix it).

[2015-06-08 17:14] satnam6502 commented on #3449
Close in favour of a more general solution at some point.

[2015-06-08 17:14] #3449 closed

[2015-06-08 17:14] satnam6502 commented on #3523
Since this is no longer deemed to a high priority issue let's close it and live with it.

[2015-06-08 17:14] #3523 closed

[2015-06-08 17:15] manansaraf commented on #9010
If someone hasn't started fixing this issue, I would like to start on it then!

[2015-06-08 17:16] satnam6502 commented on #8180
This is resolved by #8187.

[2015-06-08 17:16] #8180 closed

[2015-06-08 17:17] smarterclayton opened #9403 "Rate limiter in APIServer needs to take into account watch, exec, proxy, and logs"
The rate limiter in the apiserver is impacted by #8337 and also by the addition of exec/proxy/logs.  Endpoints which hold long running connections need to be independently rate limited.  We probably need three buckets:
1. watch - required for intraserver components
2. exec/proxy/logs - used by clients and long running
3. everything else

https://github.com/GoogleCloudPlatform/kubernetes/issues/833

[2015-06-08 17:17] quinton-hoole commented on #9268
Re-open if necessary.

[2015-06-08 17:17] #9268 closed

[2015-06-08 17:17] smarterclayton commented on #8337
Spawned https://github.com/GoogleCloudPlatform/kubernetes/issues/9403

[2015-06-08 17:19] #8814 closed

[2015-06-08 17:19] quinton-hoole commented on #9010
Thanks @manansaraf.  @mikedanese can confirm.

[2015-06-08 17:21] lavalamp commented on #9029
@davidopp I was hoping that would summon @brendandburns so he could tell us himself :)

@bprashanth what's the timeout currently at (and which proxy server are you talking about)? If it's > 30 seconds, I think it's fine. If it's less than that, we can fix after 1.0.

[2015-06-08 17:21] dchen1107 commented on #8814
@krousey Thanks.

@zmerlynn @roberthbailey @brendandburns Should we patch v0.18 release or wait for v0.19? All GKE users cannot specify memory limit to their workload due to this regression.

[2015-06-08 17:22] lavalamp commented on #9382
I'm still reading this, but: you should just read (i.e. list/watch) the endpoints object; there's an entire controller that does this query for you, efficiently.

[2015-06-08 17:24] bprashanth commented on #9029
I will need to dig up which server exactly (the kubectl proxy, the apiserver, the apiserver proxy and the kubelet server), but pprof -kubelet debug endpoint- will timeout before 30s

[2015-06-08 17:25] evasnee opened #9404 "Clarify what "controller" means, or if it's referring to another concept, then be consistent in how we refer to it."
Controller is used frequently in instructions, but isn't well defined. Could we scrub our help docs to more clearly define this term?

Feedback from users:
-- "Run THE CONTROLLER now we will turn up two replicas of an image" --> I don't understand. Controller? replica? image?
-- "controller" is overloaded in the doc.

[2015-06-08 17:27] lavalamp commented on #9382
Wait, I didn't understand the situation correctly. Let me take a look at the service controller code and get back.

[2015-06-08 17:33] mikedanese commented on #9010
#9357 fixes this.

[2015-06-08 17:33] lavalamp commented on #9382
@brendandburns it doesn't block the entire queue, it just blocks progress on a particular object.

[2015-06-08 17:35] bcbroussard commented on #8043
Updates to the documentation are being tracked in https://github.com/GoogleCloudPlatform/kubernetes/issues/7122 and the changes are in PR https://github.com/GoogleCloudPlatform/kubernetes/pull/9330. This issue can be closed.

[2015-06-08 17:40] uruddarraju commented on #9382
We do use the endpoints controller, but the CreateTCP call is only called within servicecontroller. But the updates to the LB when replication factor changes, or when pods are replaced, goes through the endpoint controller.

[2015-06-08 17:43] mikedanese opened #9405 "Kubectl: rethink handling (and surfacing) of errors in the resource visitor loop"
From @smarterclayton https://github.com/GoogleCloudPlatform/kubernetes/pull/9357#issuecomment-109600305

[2015-06-08 17:43] lavalamp commented on #9382
OK there are multiple problems with the service controller.

a. The IP addresses it gives are that of all our nodes. It should be configurable to get the list of endpoints, which is what sane load balancer implementations will want.
 a. It should get the nodes by listing & watching, instead of listing every time.
b. A crash or restart of the controller can leak load balancers; nowhere does it read

[2015-06-08 17:45] mikedanese commented on #9010
@manansaraf #9405 might be of interest

[2015-06-08 17:52] jeffmendoza opened #9407 "Downward API does not work inside of list object"
Trying to use the [Downward API](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md) inside of a list object results in an error when trying to create the objects:

Example:

[code]

Taking the replication controller out of the list and running `kubectl create -f` with just the RC works fine:

[code]

[2015-06-08 17:57] manansaraf commented on #9284
I can start working on this if no one has started!

[2015-06-08 18:11] uruddarraju commented on #9382
Thanks for your analysis @lavalamp. The reason for me to initiate this discussions is to find the right patterns. Can I try the (c) part and submit a PR and get some feedback if this is not something that has to to be dealt with immediate urgency (Next 1/2 days) ?

[2015-06-08 18:14] mrunalp commented on #2630
Depending on requirements, you might want to store user and group as strings. They are looked up by default in the passwd and group files. If they aren't found and are numeric then they are converted to uid/gid.

[2015-06-08 18:25] justinsb opened #9411 "Docker oom_score_adj is 0, should probably be lower (more important)"
Docker oom_score_adj is 0, but it being killed is probably at least as disruptive as kube-proxy crashing.

(This turned out not to be the cause of my problem, but I think we probably want to do this)

[2015-06-08 18:27] lavalamp commented on #9382
@uruddarraju I actually have most of a fix already. :) I'll toss it up in a PR shortly & you can see if it resolves your issue. I can't promise it'll be accepted for 1.0.

[2015-06-08 18:29] justinsb opened #9412 "monit is too aggressive in killing docker"
When we get into a low-memory situation, docker is slow to respond and monit kills it:

[code]

However, if you have a lot of containers, it can take a long time for Docker to restart and get healthy again.  If you're under a lot of pressure, it will still be recovering at the next check-time (5 minutes later).  (At least I think that is what is happening.)

I don't know what we should do here.  W

[2015-06-08 18:34] #9010 closed

[2015-06-08 18:43] evasnee opened #9414 "Make it clear that the script to bring up your first cluster is a one-time use script."
From: https://github.com/GoogleCloudPlatform/kubernetes/blob/2ffb875129602924257d2a8ea30a24d0e00c6cd1/docs/getting-started-guides/gce.md

curl -sS https://get.k8s.io | bash

Feedback from users:
   -- docs should mention the bring-up script creates a cluster with the name/prefix "kubernetes" and if you want more than 1 or to use a different name you must override that
   -- mention that the script

[2015-06-08 18:44] caesarxuchao commented on #8337
Hi @smarterclayton, I'm trying to remove the "watch" from the path for api versions starting from v1. I guess this should be done in a similar fashion as how the apiserver tells whether namespace should be in the path or as a query, which is encoded in RESTScopeName. Shall I add a similar field in RESTScope for "watch", or is there any better way to handle this? Thanks.

[2015-06-08 18:45] evasnee opened #9415 "Make it clear you can't copy/paste the command for installing K8s command line tools."
path export (path/to/kubernetes/platforms/...) should be formatted to indicate that you can't just copy-paste

![image](https://cloud.githubusercontent.com/assets/11644912/8042379/c35e4b48-0dd3-11e5-9579-e6d0a06ee84a.png)

Documentation: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md#installing-the-kubernetes-command-line-tools-on-your-workstation

[2015-06-08 18:50] evasnee opened #9416 "Consider scrubbing troubleshooting sections of help to be organized by symptom"
Consider organizing troubleshooting sections by symptom/problem so that it's easier for people to find the solution to the problem they are experiencing in that moment.

[2015-06-08 18:52] evasnee opened #9417 "Provide only one command for starting a cluster, or clearly state the difference between the two command options."
We give two commands for starting a cluster, but why?

![image](https://cloud.githubusercontent.com/assets/11644912/8042535/bb904bd6-0dd4-11e5-9767-b76791cd13d9.png)

Help doc: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md

Hackathon participants weren't completely clear on what the difference was between these two options.

[2015-06-08 18:58] evasnee opened #9420 "Tell people how they can verify their cluster is working."
Comment from user: "starting a cluster" tell me how to verify that it worked

Help doc: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md

People wanted suggestions on how they could go further and explore the technology beyond the linear documentation
“Include links for things to experiment with during a demo that aren't specific to the demo itself.

[2015-06-08 19:02] evasnee opened #9421 "Provide more explanation on networking in the Guestbook App help documentation."
Feedback from users at Hackathon:
   -- My guestbook didn't come up and I couldn't figure out why.  Turns out it was networking.  The whole thing about networks, IPs etc is super confusing
   -- 1) why do docs show public IP when source doesn't? (copy-and-paste workflow breaks), 2) createExternalLoadBalancer syntax is not illustrated in the docs, 3) Participant was having trouble getting publicIPs

[2015-06-08 19:09] evasnee opened #9422 "Fix misc issues with Guestbook app help documentation"
Documentation: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook

There were several miscellaneous issues that users noted with the Guestbook walkthrough that would be worth fixing:
   -- docker logs xxx / FATA[0000] Get http://var/run/docker . permission denied.  Are you trying to connect to a TLS-enabled ... without TLS?  No, I forgot "sudo"
   -- docs reference po

[2015-06-08 19:12] davidopp commented on #9394
@marekbiskup it would obviously be great if you can get this in by Friday, though I realize that might not be possible.

[2015-06-08 19:16] evasnee commented on #1111
Chiming in on this to say this inconsistency caused confusion in our latest hackathon because we use three different terms (Node, Minion, Worker) throughout our documentation and in other forums where we discuss this concept.

![image](https://cloud.githubusercontent.com/assets/11644912/8043016/f9f50cba-0dd7-11e5-9a72-6837833bc51d.png)

In a recent OpenStack Murano presentation (https://www.youtub

[2015-06-08 19:18] jseaidou commented on #8692
@yujuhong we won't be able to upgrade soon, but I will update. Feel free to close this and I will re-open if  necessary

[2015-06-08 19:32] erictune commented on #8527
#9353 will improve docs on auth with apiserver.

On Fri, Jun 5, 2015 at 4:07 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-08 19:41] erictune commented on #9356
The two authorization policies that make the most sense to me are:
 - typical users can read node objects.  - Borg model.
 - typical users cannot read node objects.  - GCE model.
Brian seems to be implying some middle ground which I hadn't considered.

In either model, it makes sense to me to put the addons in a different namespace than is used by a typical user.  This has nothing to do with autho

[2015-06-08 19:46] bgrant0607 commented on #9356
I prefer putting the addons in a different namespace. The main reason they aren't now is lack of convergence of previous rounds of discussion.

[2015-06-08 19:49] bgrant0607 commented on #9356
One of the previous discussions (though I think main discussion was offline): https://github.com/GoogleCloudPlatform/kubernetes/pull/4417#discussion_r24699831

[2015-06-08 19:50] erimatnor commented on #9395
I posted a short excerpt from the kube-proxy log above. Or are you looking for something else?

[2015-06-08 19:51] bgrant0607 commented on #9356
cc @piosz

[2015-06-08 19:54] erictune commented on #9356
cc @thockin

[2015-06-08 19:55] #8376 closed

[2015-06-08 20:00] davidopp commented on #9356
I'm not really objecting to putting them in a single namespace, I'm just saying that the Borg experience suggests that it's absolutely crucial that the user be able to see everything that's running on the machine, and the associated resource request/usage. So I like Brian's suggestion of putting this in "describe node" (and, if we really must have some super-secretive mode, which honestly I don't

[2015-06-08 20:02] mikedanese commented on #4783
Current e2e tests has two failure cases: network partition and SIGKILL. The network partition runs consistently but the SIGKILL is flaky. I'm investigating further.

[2015-06-08 20:07] dchen1107 commented on #9356
"kubectl describe nodes" already display which pods on it, but lack of namespace and resource related information.

[2015-06-08 20:09] dchen1107 commented on #9356
But I don't think it is easy to retrieve resource usage related information for pods today. node team did export such information long time back, but removed due to API refactory later. Also  please note that there is no Pod level resource request at our API yet.

[2015-06-08 20:11] bgrant0607 commented on #9356
@davidopp They don't all need to go into a single namespace, just not in the default namespace.

[2015-06-08 20:13] bgrant0607 commented on #9356
@dchen1107 At the moment, we don't need actual resource usage. We only need resource limits, since that's the only info used in scheduling.

[2015-06-08 20:16] davidopp commented on #8081
@mikedanese offered to work on this and @satnam6502 was OK with that (and it seems an especially good idea since @mikedanese  just did the etcd-killing e2e test), so reassigning to Mike. Thanks, Mike!

[2015-06-08 20:19] derekwaynecarr commented on #9356
@davidopp - the user can list namespaces, so if I understand this correctly, it's not that the user will not be able to find the pods, they just have to get namespaces, and then get pods in that namespace.

Is there a proposed name of the namespace that holds add-ons?

[2015-06-08 20:31] dchen1107 commented on #9356
@bgrant0607 I agreed that we don't need resource usage now. But for resource limit, it is only at container level, no pod level. Are we going to show all containers too when describe node?

[2015-06-08 20:31] ihmccreery commented on #8814
@dchen1107 Do you know if this functionality is covered in end-to-end tests?  If not, it should be.  We should have caught this earlier, (per @brendandburns).

[2015-06-08 20:45] rektide commented on #8242
This was also mentioned in #2922, [https://github.com/GoogleCloudPlatform/kubernetes/issues/2922#issuecomment-67069629](here) and [https://github.com/GoogleCloudPlatform/kubernetes/issues/2922#issuecomment-67100187](here). That issue was also closed. I'd love to have an issue to track. This and load-balancing are what I think of as bread-and-butter for most webapp deployment scenarios.

[2015-06-08 20:49] satnam6502 commented on #3527
This no longer seems to be an issue.

[2015-06-08 20:49] #3527 closed

[2015-06-08 20:51] bprashanth opened #9428 "Support incremental updates in kubelet?"
We send a snapshot of all pods to the kubelet, everytime we add a pod. This leads to 31 parallel workers listing containers and images from docker simultaneously. The 31st container is the most important since it hasn't started yet, while all the others are just status checking.

Bad for 2 reasons:
1. syncLoop and SyncPods hogs cpu not allowing the 31st worker to run
2. other pod workers hammer do

[2015-06-08 20:51] bprashanth opened #9429 "Move generatePodStatus out of critical path for pod startup"
Analyzing nodes where startup of a single pod on a 30 pod node takes O(10s) it's evident that generatePodStatus takes O(3s) and we do it twice before finally setting the status as Running. Even starting the containers takes < 1s. Can we skip the first generatePodStatus for new pods?

Most of the time for generatePodStatus is coming from a handful of docker operations in GetPodStatus (list, inspect

[2015-06-08 20:51] bprashanth opened #9430 "Add kubelet /metric endpoints to measure and debug per pod startup latency"
To measure the latency of starting a single pod on a 30 pod node we need an accurate depiction of how long it took start. Currently we use `time created - time started of last container`. This has the following problems:
1. includes scheduler overhead
2. time started is updated on restart

What we want to know is how long it took the kubelet from when it saw a pod in Pending, to update it to Runni

[2015-06-08 20:56] davidopp commented on #9356
@erictune pointed out that the "describe nodes" model where it only shows your own containers, and nothing about other containers (even aggregate request or usage), is important for people who use k8s to run a hosting provider. So I could see an admin wanting to configure any of the three options we've discussed here (Borg model, GCE model, GCE model but showing you only aggregate stats about stuf

[2015-06-08 20:56] justinsb opened #9432 "Mount all ephemeral volumes on AWS"
Currently we're limited to 4.  See #9369.  It is somewhat tricky to mount the exact number, and 4 should cover most use cases today, but we should fix this at some stage.

Likely the correct time to fix this is when/if we move instance creation from bash to Go.

[2015-06-08 20:57] justinsb commented on #9432
Triaged as v1-post; this is a "don't forget one day to do this".

[2015-06-08 21:01] lavalamp commented on #8119
So by my math--which was admittedly pretty bad earlier in this thread--you're getting a throughput of about 3 pods per second. I don't think we actually have a 1.0 requirement for throughput, arguably we should, but I think 3pps would meet the hypothetical requirement if we had it. So I think we can kick this out of the 1.0 list. (Even though I think we should be closer to 10pps throughput.)

I co

[2015-06-08 21:10] dchen1107 commented on #8814
@ihmccreery Yes, that is the plan. We do have docker container e2e tests, but it doens't verify the resource limits. We are going to improve that.

[2015-06-08 21:13] vishh commented on #9089
cc @lavalamp @quinton-hoole @jlowdermilk

[2015-06-08 21:20] bprashanth commented on #3954
If we want a startup time in seconds we need to ensure 2 things:
1. The pod worker of the new pod runs asap
2. Docker operations: list, inspect, images, create, all return in under a second

Obviously we can't guarantee either of these in a cpu starved environment, but the bugs filed might make it a lot more likely.

[2015-06-08 21:21] jlowdermilk commented on #9089
Presumably, the master vm still exists and is running?
`gcloud compute instances list --zone=us-central1-b`

[2015-06-08 21:21] dchen1107 opened #9433 "kubectl describe nodes id should include namepaces when dumping pods running on the node"
kubectl describe nodes id today shows all pods running on a node with that id, but doesn't include namespace for each pod:
[code]

But when the user describe pod, it requires the namespace. There is no good way to find such pod belonging to which namespace so far.

[2015-06-08 21:21] dchen1107 commented on #9433
cc/ @bgrant0607

[2015-06-08 21:21] lavalamp commented on #9089
That script looks hairy. I always do

[code]

[2015-06-08 21:22] vishh commented on #9089
Yup it is running.

On Mon, Jun 8, 2015 at 2:21 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-06-08 21:25] dchen1107 commented on #9433
Some related discussion can be found at #9356

[2015-06-08 21:28] quinton-hoole commented on #9089
Try adding the -v (verbose) flag to your invocation of hack/e2e.go.  That will give you a better idea of what's failing.

[2015-06-08 21:32] dchen1107 opened #9435 "kubectl doesn't provide describe namespace"
All resources defined in kubernetes has both get and describe commands from kubectl, except namespace and cs (component statuses)

[code]

Proposed to add describe namespace, and dump all other objects / resources belonging to such namespace.

[2015-06-08 21:33] dchen1107 commented on #9435
cc/ @bgrant0607

Related discussion can be found at #9433,  #9356

[2015-06-08 22:03] dchen1107 commented on #9356
Please don't put all containers related information when describe a node. I believe very soon we are going to get people complaining about describe nodes useless like what we had for kubectl get pod. I spent a lot of time on arguing with ppl that you can use describe pod to get detail information about a pod, please don't make get pod too verbose, but failed. Now we reset everything back to the or

[2015-06-08 22:16] #9070 closed

[2015-06-08 22:18] bgrant0607 commented on #8871
cc @caesarxuchao

[2015-06-08 22:19] bgrant0607 commented on #8528
Any more specific details?

[2015-06-08 22:23] bgrant0607 commented on #7018
v1 is enabled by default, is the preferred API version, and is tested as much as v1beta3.

Docs/examples are covered by #9286.

[2015-06-08 22:23] #7018 closed

[2015-06-08 22:23] caesarxuchao commented on #8871
@brendanburns are you working on this issue? I can take a look if you are not.

[2015-06-08 22:26] bgrant0607 commented on #8337
This change seems risky, so punting from 1.0.

[2015-06-08 22:31] kprobst commented on #8528
@amygdala

[2015-06-08 22:31] davidopp commented on #9356
@dchen1107 mentioned the more verbose output suggestion I made is related to #3500 and could be handled by a separate command as suggested there.

[2015-06-08 22:31] caesarxuchao commented on #8337
I will work on this later. Just for the record, in test/integration/client_test.go, in func TestSingleWatch, I modify the watch request from:
[code]
to:
[code]
and I get error
[code]

@smarterclayton Do you have any suggestions? Thanks.

[2015-06-08 22:33] davidopp commented on #9356
sorry I meant the verbose output suggestion Brian made :-) (but I agree with it)

[2015-06-08 22:33] bgrant0607 commented on #8337
All our clients still use `Prefix("watch")`, AFAICT. We need to convert them to `Param("watch", "true")`.

Also, does the query-param form of watch work for watching individual objects?

[2015-06-08 22:36] smarterclayton commented on #8337
No, you'd need to list with "fields"="metadata.name" (which is what individual watch is a shortcut for)

----- Original Message -----

[2015-06-08 22:39] BenTheElder commented on #9359
I think this commit: https://github.com/GoogleCloudPlatform/kubernetes/commit/50eb9ad598daf4ab33de6e6608acf60570979441 [`Use https only for the kubelet port`]  might be why this just cropped up as an issue?

I've been digging around and I don't see the CA cert getting setup on the minions, is this expected?

[2015-06-08 22:43] derekwaynecarr commented on #9359
Just saw this now.  Have not had a chance to debug further, but appreciate any help if you have time to continue debugging.  I won't be able to look at this until tomorrow.

[2015-06-08 22:44] eparis commented on #2630
So I know it's a wild unreasonable idea, but from a purely correctness technical and layering PoV it seems to me like the right solution would be to just forbid/ignore the USER line in any docker file and make people set the uid of a container somewhere in the kube pod/container declaration. (although that still obviously suffers from the insanity of having to look at /etc/passwd inside the contai

[2015-06-08 22:50] smarterclayton commented on #2630
I agree - we plan to reject images with non numeric usernames in some modes.  You can't even trust /etc/passwd anyway, so you're just compensating for lazy image authors.

People need to write images to a known uid or work on any uid.  But all the prep work to get to user namespaces can be done now.  And user namespaces doesn't solve the ownership problem because containers can have multiple users

[2015-06-08 22:51] derekwaynecarr commented on #9435
We have a command in OpenShift that describes a project (aka a namespace).  It shows the quota and the limit range settings.  I can send a PR to make that available in Kube if you like tomorrow.

[2015-06-08 22:59] dchen1107 commented on #9429
Skipping the first generatePodStatus for new pods doesn't help your goal in #3954: 99%ile end-to-end pod startup time, right? you still need podStatus is generated and it is running within 5s, right?

Speeding up generatePodStatus requires using docker event stream, which is out-of-scope of 1.0 unfortunately.

[2015-06-08 23:01] caesarxuchao commented on #8337
As a first step, I will update the occurrences of "watching on a list" in the client code to use query param.

[2015-06-08 23:01] bgrant0607 commented on #8337
Ok, that is consistent with my reading of the code. Only ListResources implements watch.

[2015-06-08 23:02] bprashanth commented on #9429
we generatePodStatus twice, seems debatable that we need the first one:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1132
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1091

[2015-06-08 23:06] derekwaynecarr commented on #9435
You can see sample output here:

https://github.com/openshift/origin/pull/2223

I don't want to dump ALL resources in the namespace, so I am hoping you are not recommending that because that would be completely unreadable.

[2015-06-08 23:07] liggitt opened #9441 "int fields should probably not set omitempty"
In v1beta3, ReplicationControllerSpec.Replicas is defined as:

[code]

In v1, it is:

[code]

omitempty means a value of 0 will not be serialized in v1beta3 (see http://play.golang.org/p/INjWh33QnH).

Removing a user-set value of 0 when building v1beta3 API responses, and treating the absence of that value as a different default in the next version of the API is surprising. The conversions handle

[2015-06-08 23:19] bgrant0607 commented on #9435
Yes, that looks useful.

It would be useful to get counts of all kinds of resources in the namespace. I suppose we could do that by setting up some quota by default.

[2015-06-08 23:25] dchen1107 commented on #9435
Yes, that is useful. Also yes, not dump ALL objects of ALL resources. What Brian proposed sounds reasonable.

[2015-06-08 23:31] dchen1107 commented on #9429
@bprashanth I think you are right, the first one is not needed for new pods at all. I can quickly change that, or feel free to send me a pr on this. Thanks!

[2015-06-08 23:32] derekwaynecarr commented on #9435
Will send a PR for your review tomorrow.

[2015-06-08 23:33] derekwaynecarr commented on #9435
In absence of a quota, we could infer some counts on the client.  Will mull on it tonight.

[2015-06-08 23:41] krousey opened #9444 "e2e is flakey with spec.clusterIP value failures"
Errors similar to this have been showing up in E2E runs lately. First noticed on June 8th, 2015. A sample follows from  kubernetes-e2e-gce build 6780:

`Service "nettest" is invalid: spec.clusterIP: invalid value '': cannot allocate resources of type serviceipallocation at this time`

[2015-06-08 23:43] pmorie opened #9445 "HostDir E2E doesn't work with SELinux enforcing"
...because it relies on mounting /tmp into a container.  Generally it is a bad idea to grant `svirt_lxc_net_t` to `tmp_t`, so we should think about another way to do this.  I understand why /tmp was used, and it might be OK for this to fail with SELinux enforcing for now, since this really shouldn't work from a container into /tmp or /var/tmp as far as I know.

@jayunit100 @eparis @timothysc

[2015-06-08 23:54] krousey commented on #9444
cc @quinton-hoole

[2015-06-09 00:04] krousey commented on #9444
Likely causes (from scrubbing test logs and correlating with merges) are #9392 or #9390. We've disabled the e2e test in the parallel suite and still see this error, so it is likely #9390. Seems the message comes from here: https://github.com/GoogleCloudPlatform/kubernetes/blob/51750a4680cbb161b068b7748c8d00cacb8a893a/pkg/registry/service/allocator/etcd/etcd.go#L147

cc @lavalamp @fgrzadkowski

[2015-06-09 00:20] dchen1107 commented on #8918
Here are more updates:

1) I analyzed the failures I reported above. The most failures came after failed ResizeNode which leaving one node NotReady. By installing dnsutils, nslookup kubernetes.default.cluster.local on the node without skydns pod failed:

[code]

Looks like the node is allocated to a different route caused by ResizeNode which adding and remove nodes.

2) I manually ran ResizeNode,

[2015-06-09 00:24] dchen1107 opened #9448 "e2e density failed on Mkdir"
While debugging #8918, density test failed due to failure of Mkdir. cc @jayunit100

Density
  [Performance suite] should allow starting 3 pods per node
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/density.go:184
[BeforeEach] Density
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/githu

[2015-06-09 00:31] satnam6502 opened #9449 "Need flag for kubectl get that gives detailed output"
It is very nice to have:
[code]
but we should also provide a single flag which gives the previous detailed output without having to futz around with template args.
@jlowdermilk

[2015-06-09 00:35] lavalamp opened #9450 "Allocator bugs"
https://github.com/GoogleCloudPlatform/kubernetes/blob/51750a4680cbb161b068b7748c8d00cacb8a893a/pkg/registry/service/allocator/etcd/etcd.go#L149

Since resource version increments with every change and e.last will always be the old resource version, this if will trigger every time this runs. This is probably a performance problem. It also masks the fact that `fn()` should probably be run no matter

[2015-06-09 00:35] lavalamp commented on #9444
I think if this is related to @fgrzadkowski's change, it's just exposing preexisting bugs.

[2015-06-09 00:37] bgrant0607 commented on #8087
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/record/event_test.go#L76
[code]
The above is v1beta1/2 syntax, not v1beta3/v1. Other lines in that file need to similarly be updated.

[2015-06-09 00:37] bgrant0607 commented on #8087
Not sure if this is related to the sporadic test failures I see on travis or not.

[2015-06-09 00:39] smarterclayton commented on #9450
Was that in my original change?  I don't remember using that.

[2015-06-09 00:47] lavalamp commented on #9450
Oh sorry, looks like I should be tagging @justinsb :)

[2015-06-09 00:48] smarterclayton commented on #9450
He did such a thorough refactor I'm going to blame him first.  The original loop may have done the same thing of course.

[2015-06-09 00:52] njuicsgz commented on #9311
Sorry for the confused issue title. I mean the dashboard of k8s in www, not CLI. I cannot find any config or filter by namespace in the GUI.

[2015-06-09 00:52] lavalamp commented on #9450
I'm also pretty skeptical of the try-locally-and-then-try-etcd strategy for allocates. Why not just try etcd?

[2015-06-09 00:54] smarterclayton commented on #9450
Might be easier.  Do it inside a guaranteed update loop.  More expensive when you get denied (because you ask for an IP we know is allocated).

[2015-06-09 00:56] jayunit100 commented on #9448
Looking into this now

[2015-06-09 01:00] lavalamp commented on #9450
But it's more correct-- we only *think* it's denied, it may have since been freed up!

[2015-06-09 01:04] bgrant0607 opened #9453 "TestEventf is failing intermittently"
[code]
Maybe related to v1beta1/2 removal: https://github.com/GoogleCloudPlatform/kubernetes/issues/8087#issuecomment-110182028

cc @saad-ali @krousey

[2015-06-09 01:09] jayunit100 commented on #9448
@dchen1107 heres what is happening.

If you launch **without** the `--e2e-output-dir` option, it will write to /tmp.  Like this...
[code]
Which results in something like:
[code]

Is this fixable via a simple chmod ?

[2015-06-09 01:19] smarterclayton commented on #9450
True, but the user doesn't know that unless he's coordinating with the deleter.  Ultimately  I agree with you since we have to round trip to etcd to persist the in memory check every time.

[2015-06-09 01:30] xuhuiy commented on #6440
@Dekarti  Thanks...

[2015-06-09 01:57] jayunit100 commented on #9448
I've just run density.go from head, works for me... modifying a couple parameters to make it run faster, i got...

[code]
results in...
[code]

[2015-06-09 03:04] justinsb opened #9456 "Need to clean up after docker crash"
After a docker crash, the processes running in the containers (usually?) keep running, and a lot of mounts are leaked.

In order to get docker to restart correctly, I often have to go through and kill all the processes, and the usually I have to delete all the mounts:
```cat /proc/mounts | grep docker.aufs | awk '{print $2}'  | sudo xargs -r umount```

We should make sure these processes are kille

[2015-06-09 03:07] BenTheElder commented on #9359
After a bit of hacking on util.sh I can scp over and install the ca cert and then restart the kube* services giving a new error:
`Unable to load endpoints: the server has asked for the client to provide credentials (get endpoints)`

It looks like we need to set up the client certs too https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/accessing_the_api.md#ports-and-ips-served-on

R

[2015-06-09 03:16] roberthbailey commented on #9359
For auth you can specify a client cert, a bearer token, or basic auth credentials depending on how the master is configured.

[2015-06-09 03:32] yujuhong commented on #3954
We use one-core (n1-standard-1) machines as nodes, so there are inevitably some slower paths when creating pods. Like you mentioned, deleting pods could be one. There might be other cases such as image/container garbage collection, etc. All these do not take into account the cpu usage of real pods (I know we don't care about that in our performance test, but still...).

Graceful deletion may help

[2015-06-09 03:49] saad-ali commented on #9453
The `retry limit exceeded` looks like it is an expected part of a negative test. Can you link to logs showing the intermittent failure. I'll take a look.

[2015-06-09 03:51] yujuhong commented on #9430
Does e2e test look at /metrics at all? It already provides a bunch of information, but lacks the startup latency. I have a pending PR (just uploaded, #9457) that records the latency from seeing the pod for the first time to start a pod worker for it. This is not exactly what you want, but may help anyway for the breakdown.

There is also a `StartTime` timestamp in the pod status that is recorded *

[2015-06-09 04:14] yujuhong commented on #9429
Yes, the first one is not necessary for new pods.

[2015-06-09 04:25] fahadpolash opened #9459 "Vagrant:Fedora 21 repo failing"
Hello,
I was trying to bringing up the cluster from the github master branch which is using fedora 21. But I am getting the following errors:

==> master: Installing, enabling prerequisites
==> master:
==> master:
==> master:  One of the configured repositories failed (Fedora 21 - x86_64),
==> master:  and yum doesn't have enough cached data to continue. At this point the only
==> master:  safe th

[2015-06-09 05:14] tanmaybinaykiya opened #9460 "Seeing error on command mentioned in gettingstarted/docker.md"
I tried to follow the example and the following command failed.

    kubectl -s http://localhost:8080 run nginx --image=nginx --port=80

     Run 'kubectl help' for usage.

Is the command supposed to be run-container?

[2015-06-09 05:44] derekwaynecarr commented on #9459
Looks like a transient error with fedora mirrors.  Will try in morning to see if issue is gone.

Sent from my iPhone

[2015-06-09 05:51] tanmaybinaykiya opened #9461 "Issues with skydns pod"
I am using a kubernetes cluster using skydns to resolve my service ips. My skydns RC and Service files are shared [here](https://gist.github.com/tanmaybinaykiya/ed9727e342b4f01989d1)
To have skydns resolve my domain names, I have to add skydns service IP to my resolv.conf.
The problem arises whenever any container inside the skydns pod is updated. The pod cannot be updated at this time because it

[2015-06-09 05:54] hurf opened #9462 "Can not get svc after updated to latest code"
I created a pod and a service for testing purpose with v1beta1 template. And they all worked fine. The k8s binaries are compiled from code 2 weeks ago.

    $ kubectl get po -l type=apache2
    POD       IP           CONTAINER(S)   IMAGE(S)        HOST                  LABELS                        STATUS    CREATED      MESSAGE
    apache1   172.17.0.1                                  127.0.0.1/1

[2015-06-09 06:38] fgrzadkowski commented on #7561
@davidopp Yes, I'm looking into this. I need to refactor load test to make it more robust.

[2015-06-09 07:04] fgrzadkowski commented on #3954
@bprashanth @yujuhong Do we have any proof that it's cpu starvation? We are talking here about starting 1 (!) container per machines. Doesn't seem like a heavy operation... In the sequential scenario there is only one pod that the cluster is processing, so I really see no reason why 1 core is not enough.

[2015-06-09 07:08] marekbiskup commented on #8811
Merged in #9128

[2015-06-09 07:08] #8811 closed

[2015-06-09 07:08] marekbiskup commented on #8803
Merged in #9128

[2015-06-09 07:08] #8803 closed

[2015-06-09 07:21] marekbiskup opened #9463 "Rolling update of addon RCs and update of addon services"
Two important things:
 1. The add-on replication controllers should be rolling upgraded.
 1. Services and RCs should be updated if their parameters change (currently they are updated only if the name changes)

At the same time, the additional improvements are welcomed
 1. add-on manager (currently kube-addons linux service) should be run as a pod (as a controller)
 1. the bash code should be rewri

[2015-06-09 07:22] marekbiskup commented on #8107
Merged in #9128:

 * linux service (kube-addon) for monitoring add-on dir on the master
   * if files change, API objects are updated accordingly (stop/start, no rolling upgrade)
 * add-on dir is polled every 10 minutes
 * kube-push restarts the service, so it checks the add-on dir without the (up to) 10-minute delay
 * the log of the kube-addon service is rotated by logrotate
 * only manual tests

[2015-06-09 07:22] #8107 closed

[2015-06-09 07:40] davidopp commented on #9207
#9341 which was merged today addresses half of your issue ("and also lists every attempted node.")

The other half (that we use the predicate name directly, which is cryptic) is a valid complaint but I'm not sure we have time to fix it for 1.0. The solution would be to have a translation table in the predicates package from predicate rule name to "human-friendly" name (presumably we'd do the same

[2015-06-09 07:55] davidopp commented on #9290
@lavalamp What do you think about this--is it needed for 1.0? With Brian and Tim out, I'm nominating you to make the call. :-) (I'm a bit doubtful there's anyone to do it, in any event.)

[2015-06-09 07:56] yangzhares opened #9464 "CentOS 7 systemctl start apiserver return to fail, but apiserver process runs background"
**Description**:
Kubernetes version: v0.18.2
start apiserver with unit file provided by [kube-apiserver.service](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/contrib/init/systemd/kube-apiserver.service), **systemctl start kube-apiserver** hangs with "/usr/bin/systemd-tty-ask-password-agent --watch", at last, systemd returns "Job for apiserver.service failed. See 'systemctl status

[2015-06-09 07:58] davidopp commented on #9352
@ArtfulCoder am I correct in understanding you're working on this?

[2015-06-09 08:25] gmarek commented on #9448
@dchen1107 Actually your error is exactly the reason why I added /tmp/ in front of UUID in the first place. I believe that
[code]
means that there's no --e2e-output-dir set.

You're running slightly too old version. You need to sync up to 640c40d which fixes this problem by adding /tmp in front of UUID, or cherrypick mine (#9316) or @jayunit100 (#9351) PR that fixes this problem.

[2015-06-09 08:34] feihujiang commented on #9405
@mikedanese Yes, we should continue loops even when errors happen. We could collect errors, put them into errs.ErrorList{}, then aggregate errors, finally show  a user friendly aggregated errors . I wonder if any other has already started working on this? If not, I would like to start on it then!

[2015-06-09 09:11] hurf commented on #9462
I used `kubectl describe svc`, found both services exsits. But no endpoint is attached to the newly created one.

new:

    Name:			v3svc
    Labels:			name=webserver
    Selector:		tier=webserver,type=apache2
    Type:			ClusterIP
    IP:			11.1.1.158
    Port:			<unnamed>	999/TCP
    Endpoints:		<none>
    Session Affinity:	None
    No events.

old:

    Name:			webserver
    Labels:			name=webs

[2015-06-09 09:30] erimatnor commented on #8042
I have the same issue with a similar setup. Not using token auth (disabled in DNS pod). Skydns pod restarted due to failed livenessProbe. Interestingly, executing the same command (nslookup) in the container via kubectl returns a 0-value exit code, so don't really understand why probe fails.

[2015-06-09 09:31] rassie opened #9465 "Kubernetes cannot be started with libvirt-coreos"
I'm explicitely sorry if the following is just my situation and this works for everyone else, but I feel like there is some sort of discrepancy in file ownership / access rights.

I'm following https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/libvirt-coreos.md to setup a Kubernetes cluster for local development of Kubernetes pods and services. I'm doing thi

[2015-06-09 09:42] fgrzadkowski commented on #9463
I think we should have separate issues for each of the steps/tasks you've listed, because IMO they have different priorities. My initial ordering would be:

1. Run as a pod
2. Rewrite in go
3. Updating Services when definition changes
4. Rolling update

[2015-06-09 09:44] erimatnor commented on #6743
Great! Will do.

[2015-06-09 09:56] gmarek commented on #3954
After running sequential version few more times I decided not to go there, it is a silly place. Todays results are the same as for parallel case, with tail latencies reaching 20s.

[2015-06-09 10:04] marekbiskup opened #9467 "Rolling update of addon RCs"
During upgrade, the replication controllers of addons are stopped and then started. But they should be rolling updated.

[2015-06-09 10:06] marekbiskup opened #9468 "Update addon services when their definition changes"
Currently the add-on services are updated only if the name changes (new service is created and the old one is deleted). But it should be possible to update them without changing the name.

[2015-06-09 10:08] marekbiskup opened #9469 "Run addon update process as a pod"
Addon updater is a linux service on the master. It should be replaced by a pod

[2015-06-09 10:09] marekbiskup opened #9470 "Rewrite bash code of addon updater in go"
Bash has poor maintainability and error handling. Go will be more robust.

[2015-06-09 10:09] marekbiskup commented on #9463
I created these issues:

Rolling update #9467
Update addon services when their definition changes #9468
Run addon update process as a pod #9469
Rewrite bash code of addon updater in go #9470

[2015-06-09 10:09] marekbiskup commented on #9467
cc @zmerlynn @davidopp @fgrzadkowski @satnam6502

[2015-06-09 10:09] marekbiskup commented on #9468
cc @zmerlynn @davidopp @fgrzadkowski @satnam6502

[2015-06-09 10:09] marekbiskup commented on #9469
cc @zmerlynn @davidopp @fgrzadkowski @satnam6502

[2015-06-09 10:09] marekbiskup commented on #9470
cc @zmerlynn @davidopp @fgrzadkowski @satnam6502

[2015-06-09 10:10] #9463 closed

[2015-06-09 13:04] justinsb opened #9473 "Downward API for resource limits"
Is it possible inside a container to discover your resource limits, in particular the memory limit.

Apparently this is sometime put under `/sys/fs/cgroup/memory/memory.stat`, but that isn't present.  And /proc/meminfo is the memory of the host (AFAICT)

I would like, for example, to specify memory limits for things like memcache, Java, Node, Postgres, Mysql based on the resource limits given to m

[2015-06-09 13:11] justinsb opened #9474 "Can a pod discover its namespace?"
In #9473 I asked if there was an easy way to discover resource limits without querying the API.  But maybe I should just be querying the API...  It seems easy, except that I don't know how to find my namespace.

I think I can do this:

[code]

And then I get everything (labels, resources etc), which is great.

But:

1) How can I discover my namespace?
2) Will this continue to be supported?  I can

[2015-06-09 13:17] stevekuznetsov opened #9475 "Need Support for OpenShift Readiness Endpoint In Example"
Once https://github.com/openshift/origin/pull/2952 merges, the OpenShift example [replication controller spec](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/openshift-origin/openshift-controller.yaml) will need to be updated to reflect the change.

[2015-06-09 13:35] bgrant0607 commented on #9453
One example:
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/65966544

Don't know if it's related, but I also see:
[code]

[2015-06-09 14:05] gmarek commented on #3954
Few runs later I have few observations. First - generally it's setting up and starting Infra Container that is slow. After Infra Container is running starting real pod takes ~2s on slow runs.

Looking closer into Infra Container startup surprisingly long time is used in the beginning of syncPod kubelet method. I easily see 1.5-2 second used to even reach containerRuntime.SyncPod call. Quite a few

[2015-06-09 14:37] quinton-hoole commented on #9312
The following 18 e2e tests are currently flaky:

1. Cluster level logging using Elasticsearch should check that logs from pods on all nodes are ingested into Elasticsearch (Failed 5 times in the last 30 runs. Stability: 83 %)
2. Density [Performance suite] should allow starting 30 pods per node (Failed 13 times in the last 30 runs. Stability: 56 %)
3. Etcd failure should recover from SIGKILL (Fail

[2015-06-09 14:45] gmarek commented on #3954
In kubelet syncPod I observe long tail in generatePodStatus call.

In runContainer actually it's a Docker CreateContainer call that takes most time.

Both of them call Docker for various reason. It's still not evidence, as I'll need to instrument code even more, but that makes Docker quite strong suspect.

[2015-06-09 15:27] fahadpolash commented on #9459
I tried this morning as well. Still the same errors. FYI..
[vagrant@kubernetes-master ~]$
[vagrant@kubernetes-master ~]$ sudo yum update

 One of the configured repositories failed (Fedora 21 - x86_64),
 and yum doesn't have enough cached data to continue. At this point the only
 safe thing yum can do is fail. There are a few ways to work "fix" this:

     1. Contact the upstream for the repositor

[2015-06-09 15:43] ddysher opened #9483 "Create certificate as secret"
It seems creating a secret is only allowed if it's base64 encoded?  I have a secret that's PEM encoded, e.g.
[code]

kubectl create reports error:
[code]

BTW, I'm not sure if puting certificate in secret is the right approach in k8s (or will work).  My use case is to mount certificates as secret volume, and set ssl_certificate directive in nginx to use that certificates. e.g.
[code]
and nginx con

[2015-06-09 15:43] pmorie commented on #9430
@detiber
On Mon, Jun 8, 2015 at 11:51 PM Yu-Ju Hong <notifications@github.com> wrote:

[2015-06-09 15:49] ddysher commented on #9483
@pmorie @deads2k

@smarterclayton The error comes from kubectl, is it possible add pem codec? It think for opaque type, server won't do any validation.

[2015-06-09 15:52] quinton-hoole opened #9484 "Etcd failure should recover from SIGKILL (Failed 12 times in the last 30 runs. Stability: 60 %)"
Master tracking bug: #9312

[2015-06-09 15:54] quinton-hoole opened #9485 "Density [Performance suite] should allow starting 30 pods per node (Failed 13 times in the last 30 runs. Stability: 56 %)"

[2015-06-09 15:55] quinton-hoole commented on #9485
@wojtek-t @fgrzadkowski @davidopp FYI.  This might be a dupe of another issue - just making sure that all of our currently flaky e2e tests are covered by issues.

[2015-06-09 15:56] quinton-hoole commented on #9485
Master tracking bug: #9312

[2015-06-09 16:00] smarterclayton commented on #9483
Secrets must be base64 encoded.

[2015-06-09 16:04] bprashanth commented on #3954
@yujuhong those will add to the trouble, this is a description of the base case (nothing out of the ordinary happening, no deletes, gc not running, only weird thing is sometimes docker restarts randomly).

Checked we're not hitting qps either. Note this is time to startup a single pod.

@gmarek did you see the bugs I filed (https://github.com/GoogleCloudPlatform/kubernetes/issues/9429, https://git

[2015-06-09 16:04] krousey commented on #9453
The build being killed is likely travis running out of resources.

[2015-06-09 16:05] quinton-hoole commented on #9062
Master tracking bug #9312

[2015-06-09 16:05] quinton-hoole opened #9486 "Cluster level logging using Elasticsearch should check that logs from pods on all nodes are ingested into Elasticsearch (Failed 5 times in the last 30 runs. Stability: 83 %)"
Master tracking bug #9312

[2015-06-09 16:07] quinton-hoole commented on #9486
May be a duplicate of another issue.  TODO.

[2015-06-09 16:09] quinton-hoole opened #9487 "Nodes Network should survive network partition. (Failed 4 times in the last 20 runs. Stability: 80 %)"
Master tracking bug: #9312

[2015-06-09 16:10] PeregrineFalcon opened #9488 "Error in Vagrant Fedora 21 kubelet service startup"
There appears to be an error when starting the kubelet.service on the latest k8s FC21.

Version info I'm running is below:
[code]
The status for kubelet is as follows.
[code]

The https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md is also out of date, not sure if it is being updated.

[2015-06-09 16:10] liggitt opened #9489 "QPS documentation in client.Config is incorrect"
In `client.Config`:

[code]

In `client.SetKubernetesDefaults()` (called by `client.New()`):

[code]

[2015-06-09 16:15] liggitt commented on #9489
Looks like QPS of -1 would avoid rate limiting. In `client.NewRESTClient()`:
[code]

[2015-06-09 16:17] brendandburns commented on #8526
I think this is mostly a dupe, I'm going to add some troubleshooting documentation so that it is easier to discover this option.

[2015-06-09 16:22] soltysh commented on #8236
I'm positive it's needed, an example top of my head would be ssh keys, which specifically needs to be 0400. Even if we do 0400 to be the default like it was stated in #4789, I'm sure there'll be requests to loosen that requirement, so having that mechanism in place is reasonable imho.

[2015-06-09 16:23] caesarxuchao commented on #8087
I'll take a look on this.

[2015-06-09 16:26] mikedanese commented on #9405
@feihujiang No one is currently working on this.

[2015-06-09 16:30] gmarek commented on #3954
Oh, I forgot to mention: I was watching CPU usage in Graphana and didn't notice anything suspicious.

[2015-06-09 16:31] ddysher commented on #9483
@smarterclayton How hard is it to add another codec for a resource (PEM for secret)?

It does seem useful to stuff certificates into pod.

[2015-06-09 16:32] gmarek commented on #9429
This seems to be necessary for #3954. Promoting to v1.0

[2015-06-09 16:32] smarterclayton commented on #9483
You can base64 encode your PEM secret?

[2015-06-09 16:34] ddysher commented on #9483
Also, mandatary base64 encoded secret doesn't align with the Opaque type:
// SecretTypeOpaque is the default; *arbitrary* user-defined data

[2015-06-09 16:40] bprashanth commented on #3954
I think you need to monitor how long it was till the pod worker of that new pod started running, and how long till it updated the status after that. There's currently a pr up for the former (https://github.com/GoogleCloudPlatform/kubernetes/pull/9457), I'll get a pr up for the latter.

Point being, the right things have to get cpu since we don't really prioritize within the kublet and it's battlin

[2015-06-09 16:40] ddysher commented on #9483
Yeah, that's an option, but i'm not sure tools like nginx will be able to
recognize base64 encoded certificate. (also considering that pem is also
base64 encoded)

On Tue, Jun 9, 2015 at 12:33 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-06-09 16:48] ArtfulCoder commented on #9352
@davidopp yes. I have referenced a PR now.

[2015-06-09 16:48] gmarek commented on #3954
I monitored pretty much each step of pod startup by adding easily grepable logging. I was looking at graphana, but frankly I may have read it wrong.

[2015-06-09 16:51] #9246 closed

[2015-06-09 16:58] bprashanth commented on #3954
Ah then you might've noticed what I did:
In some cases the delay was spent in:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1081
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1099

But in others it took a while to even hit 1081 because SyncPods was hogging cpu starting up the other pod workers (*maybe* it was also per

[2015-06-09 17:01] smarterclayton commented on #9483
When we write to disk we base64 decode it.

[2015-06-09 17:01] smarterclayton commented on #9483
"	// The serialized form of the secret data is a base64 encoded string,
	// representing the arbitrary (possibly non-string) data value here.
"

[2015-06-09 17:02] smarterclayton commented on #9483
So if you're writing in JSON you should be base64 encoding - however, if you base64 and it's being validated as not valid, that's a bug

[2015-06-09 17:08] fgrzadkowski commented on #9485
This for regular gce tests, right? For scalability jenkins job this is very stable (close to 100%).

[2015-06-09 17:12] marekbiskup commented on #9394
Scenarios 1-3 are ready in #9394
There are only a few lines changed in production code.

I wonder If performing kube-push during e2e tests is a good idea. It takes long.
Are there any tests for kube-push? I could add my case to those tests. If not, maybe I can skip scenario 4 as well. Are we consider kube-push production code?

[2015-06-09 17:12] fgrzadkowski commented on #9444
I think this was solved by reverting my PR. Can we close it? @krousey

[2015-06-09 17:12] quinton-hoole commented on #9312
@brendandburns FYI, as per discussion yesterday.

[2015-06-09 17:15] krousey commented on #9444
This particular issue is done, but if we plan to try that PR again, it'd be nice to know why this happened.

[2015-06-09 17:20] ddysher commented on #9483
ok, so I take it that before mounting the secret volume, kubelet will
decode the secret?

That indeed sounds reasonable and solves my concern.  I'll just encode the
certificate.

On Tue, Jun 9, 2015 at 1:01 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-06-09 17:20] #9340 closed

[2015-06-09 17:21] RichieEscarez opened #9494 "Copy all "user" documentation to GitHub Pages (http://kubernetes.io/)"
Setup http://kubernetes.io (gh-pages branch) for publishing transformed copies of the user documentation (source .md files remain in the master branch).

**Details**:
 * *(updated)* All non-kubernetes-contributor documentation will be transformed to .html and published on http://kubernetes.io/ (this site will be the main source for all user facing documentation) (#7034)
     * Including the conten

[2015-06-09 17:22] fgrzadkowski commented on #4521
I enabled load test. Currently it plays the following scenario:
1. [0-10min] Run 300 RCs with 5 replicas each, 25 RCs with 30 pods each, 3 RC with 250 pods each
2. [10-13min] Scale all RCs randomly and list pods within RC
3. [13-16min] Repeat 2
4. [16-26min] Delete all RC
The test is configured in a way to keep ~5 creation/deletions per second, which IMO sounds reasonable. The test checks latency

[2015-06-09 17:23] smarterclayton commented on #9483
It should.  David has added a command to Openshift that bundles secrets easily on the cli - we'll back port that after 1.0

[2015-06-09 17:29] cjcullen commented on #3168
SSH proxy code is in. The only remaining question is whether to leave 10250 open to the public internet (in which case we'd still need to secure it) or close it off and only listen inside the cluster.
@a-robinson @vishh

[2015-06-09 17:32] bprashanth commented on #9147
This is too error prone to do without some changes to the rc manager. The best change discussed so far (and one that will be helpful long term) is to add a sequence number to the spec and status of the rc. Everytime the rc manager takes any action it mirrors the sequence number from the spec into the rc, and kubectl does:
- resize to 0
- poll on status.sequenceNumber from previous step so it knows

[2015-06-09 17:33] caesarxuchao commented on #8087
I don't think this will cause any damage, these strings are not parsed. I will send a PR to fix them anyway.

[2015-06-09 17:33] dchen1107 commented on #9448
I synced to HEAD, and the issue is fixed. Thanks!

[2015-06-09 17:33] #9448 closed

[2015-06-09 17:33] bprashanth commented on #4521
@fgrzadkowski just fyi, with the load test we resize rcs quickly so there's a chance you will run into https://github.com/GoogleCloudPlatform/kubernetes/issues/9147

[2015-06-09 17:33] dicato commented on #2849
:+1: on supporting this.

[2015-06-09 17:35] ddysher commented on #9483
Glad to know.

Thanks! closing the issue

[2015-06-09 17:35] #9483 closed

[2015-06-09 17:44] uruddarraju commented on #9488
Can you paste the content of your `/etc/hosts` file on the minion ?

[2015-06-09 17:48] PeregrineFalcon commented on #9488
Here it is

[code]

[2015-06-09 17:51] #7100 closed

[2015-06-09 17:53] lavalamp commented on #9290
When @ArtfulCoder and I were chatting about this previously, we talked about including the source code in the container.

Ultimately, this is a problem we need to solve for *all* of our default cluster containers. They *all* need to be reproducible, and one should be able to reproduce them knowing only the container's version tag.

@thockin

You need to construct a GOPATH (and separate-from-k8s Go

[2015-06-09 17:55] smarterclayton commented on #9290
----- Original Message -----

Doubt it.

We vendor etcd already (because we run it in our integrated binary) so don't worry about that.

[2015-06-09 17:55] thompsonja opened #9497 "kubectl label nodes no longer works"
I used to be able to follow the process outlined here with success: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/node-selection/README.md

However, after a previous update (not sure which, I hadn't tried it in a week or two), I can no longer set a label on a node.  I am attempting the following:
$ gcloud alpha container clusters create example -m n1-standard-16 --num-node

[2015-06-09 17:57] lavalamp commented on #9450
I think people will expect to be able to delete a service and then make another service with the same IP.

(@brendandburns: I don't think this is a 1.0 issue unless we're doing HA)

[2015-06-09 18:10] bprashanth commented on #9429
The fix for this is coupled into https://github.com/GoogleCloudPlatform/kubernetes/pull/9454, I'll split it out. Note that docker list/inspect etc shouldn't be taking so long in the normal case for a single new pod (just ssh into a stead node with 30 pods and run them), one of the reasons it does is concurrent podworker hammering.

[2015-06-09 18:11] quinton-hoole commented on #9485
Yes, regular e2e-gce tests.

[2015-06-09 18:13] quinton-hoole commented on #9485
It's in the e2e-gce-flaky run at the moment.  It's entirely possible that some other test in that run is making this one fail.

[2015-06-09 18:14] jeffmendoza commented on #8528
We have the api docs, but maybe an example would be appropriate?

[2015-06-09 18:14] amygdala commented on #9417
They might have both been provided since people might not necessarily have both installed on their laptops (e.g. on osx I think you have to specifically install wget).  Otherwise they should act the same.
(A somewhat separate comment -- I think vote for this page to also show how you'd start up a cluster via gcloud).

[2015-06-09 18:25] lavalamp commented on #9290
Cool. In that case: *not* 1.0.

[2015-06-09 18:27] quinton-hoole commented on #9485
The error is that the number of high latency requests (currently defined to be >3 sec) is greater than zero (typically around 12).
Perhaps we can relax that threshold in the test?  Increase 3 sec to more?  Do we understand why they're taking so long?

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/density.go#L92

[2015-06-09 18:50] dorongrinstein opened #9501 "Kubertenes with Vagrant instructions do not work"
On a Mac OS X v10.10.3 with Vagrant 1.7.1 and VirtualBox 4.3.28 r100309, after following the Kubernetes with Vagrant instruction page, when I do

export KUBERNETES_PROVIDER=vagrant
export VAGRANT_DEFAULT_PROVIDER=virtualbox
export NUM_MINIONS=1
curl -sS https://get.k8s.io | bash

and then
vagrant ssh master

[vagrant@kubernetes-master ~]$ sudo systemctl status kube-apiserver

I get:

kube-apiserve

[2015-06-09 19:00] RichieEscarez commented on #7514
#9421

[2015-06-09 19:01] mbforbes commented on #7914
OK, here is the plan:

Create a specific test that will be skipped by default that goes through the following process (where "validate" means "ensure the resources exist and function correctly"):
- create a bunch of resources (rc-backed pods, services, external load balancer); validate
- upgrade the master; validate
- upgrade the nodes; validate
- tear down the resources

Run this test, alone, on

[2015-06-09 19:08] sghosh151 commented on #9290
In the long run, it would be better to not have a vendored copy inside k8s.
Leveraging etcd for other use cases without having to run two copies would
be preferable.  Specially when you add up the ha/resiliency req I
requirements.

Subhendu

On Tue, Jun 9, 2015, 14:26 Daniel Smith <notifications@github.com> wrote:

[2015-06-09 19:12] ghodss opened #9502 "Can't see Shippable build results"
I can't see the results of any Shippable builds, which means when a PR fails I have no idea why, and so it's quite hard to fix. No matter what build I try to look at, I get the below screen indefinitely, even with multiple reloads.

![screen shot 2015-06-09 at 12 11 36 pm](https://cloud.githubusercontent.com/assets/5209643/8067169/c895fcd2-0ea0-11e5-9ec8-9699df2a05cd.png)

[2015-06-09 19:14] gmarek commented on #3954
This whole thing makes me worry - do we really need more than one CPU to handle 'housekeeping' for a single Node? It does not seem right...

[2015-06-09 19:14] davidopp commented on #7914
#9493 is vaguely related.

[2015-06-09 19:15] pmorie commented on #9502
Unfortunately you have to be on the GCP gh team to see these.

[2015-06-09 19:15] davidopp commented on #7914
Sorry, wrong issue. I meant #8081.

[2015-06-09 19:22] cpg1111 commented on #6046
I am receiving this same error running master and node on separate coreos images with vagrant on parallels.  I am able to register the node, but then health check fails and results in this error.

[2015-06-09 19:22] davidopp commented on #4521
Yes.

[2015-06-09 19:25] bprashanth commented on #3954
Better phrased as: what resources do we need to run 30 ish goroutines and service that many docker list/images/inspects/creates, with occasional gc pause, in under 5s. And we don't need to bother with that question if we don't run 30 ish goroutines on each create, because we know we have enough resources for just 1.

[2015-06-09 19:35] lavalamp commented on #9290
Actually I don't agree with this one; k8s's etcd should just be used by k8s. There's currently too many performance & security concerns to use the same etcd instance for both k8s and other components.

[2015-06-09 19:36] davidopp commented on #3954
Maybe try fewer pods per node and see what effect that has? (Like 20 pods/node or something.)

[2015-06-09 19:43] andronat commented on #7843
#9032 is merged, I think that when #9490 is also merged we can close this issue.

[2015-06-09 19:51] lavalamp commented on #6548
This is ridiculous, I'll fix it myself.

[2015-06-09 20:09] davidopp commented on #9468
I don't think this is 1.0-worthy. The instructions for doing update of addons says to use a new RC/service name for the new version. I don't think this is a particularly significant burden.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/README.md

[2015-06-09 20:10] davidopp commented on #9468
Sorry that should say RC, not RC/service.

[2015-06-09 20:17] mbforbes commented on #7914
Thanks for the pointer—seems super related, not just vaguely!

[2015-06-09 20:28] #8314 closed

[2015-06-09 20:28] #8480 closed

[2015-06-09 20:41] fgrzadkowski commented on #3954
AFAIK @gmarek is using 10-node cluster with 10 pods, so I don't seen how anything CPU related can be involved. This sounds more like "we scheduled N pods on a single node and docker is effectively single-threaded".

Do we know what happens if we start multiple containers in the same time? Maybe docker has some internal synchronization/locking?

[2015-06-09 20:43] fgrzadkowski commented on #9468
+1

This should be fixed relatively soon, but it doesn't block 1.0. We can fix this after the release.

[2015-06-09 20:45] davidopp commented on #9394
I think you meant #9493.

[2015-06-09 20:46] fgrzadkowski commented on #9485
My guess is that the metrics are too high because of some previous/other tests. Currently we do not have mechanism to compute delta of the latency metrics (though it should not be very hard to implement).

@quinton-hoole Do the tests run in parallel?

[2015-06-09 20:48] gmarek commented on #3954
Tomorrow I'll run the tests with service on top, so pods will be more evenly spread between Nodes.

[2015-06-09 20:48] davidopp commented on #9467
This would definitely be nice but I think the question is whether @marekbiskup thinks he can finish this by Friday. I guess it partially depends on how the following question is resolved:
https://github.com/GoogleCloudPlatform/kubernetes/issues/9394#issuecomment-110436841

[2015-06-09 20:49] bprashanth commented on #3954
My tests were with 20-node cluster and 30 pods+1 (this is the one I time). That's what this bug states right?

Sure, that's definitely a part of it. But we're only starting 1 pod here so that doesn't really matter if the cluster is steady (unless we're hammering docker unnecessarily, which seems to be the case). Starting multiple containers is slower, the same metrics measured during density are m

[2015-06-09 21:02] jayunit100 opened #9510 "API client should fail strongly if server doesnt match."
Looks like @mattf found that you could get unpredictable "RESOURCE NOT FOUND" errors when mismatching client/server setup.

MAybe make the API client fail quickly when server metadata when doing its first request ?

[2015-06-09 21:05] fgrzadkowski commented on #3954
@bprashanth I'm sorry for not being clear. In the scenario that @gmarek is using he starts RC with 10 replicas, waits until they all run and measures e2e startup time by comparing timestamps of state transitions (more or less). I don't see how starting 10 pods can saturate CPU (i.e. cpu utilization close to 100%).
What I'm suggesting is that maybe docker cannot schedule more than 1 container at a

[2015-06-09 21:06] gmarek commented on #3954
I'm not seeing any problem coming from the master (APIserver/scheduler) I don't think number of nodes matter a lot. The bug is about 100 node cluster, but first things first.

Actually I was starting multiple pods in last tests, but I had very similar results for sequential startups.

[2015-06-09 21:07] erictune opened #9511 "kubectl uses "ID" rather than "Name" in help string"
[code]
In v1 there is no ID.  There is only UID and Name.

[2015-06-09 21:13] kcao3 opened #9512 "k8sm apiserver process failed to start on mesos master Centos-7-based node due to network issue"
Hello,

I am trying to run Kubernetes, version 0.18.0 on my mesos clusters. I actually have two mesos clusters:
both are based on Centos7 OS. The first cluster I run from AWS and the second cluster I am running
from an isolated network environment. On both of my k8sm clusters, on the mesos-master node,
I start the apiserver process using the command as the following:

/opt/k8sm/bin/km apiserver \

[2015-06-09 21:18] trinitronx commented on #9180
maybe `kubectl exec` should be doing TCP keepalives?

[2015-06-09 21:24] zmerlynn commented on #9394
I don't think doing kube-push during an e2e is a great idea. We've got Jenkins runs that are doing `kube-push` between e2e runs, which seems like a possible right approach, though also limiting (because there's no active load at that point). There's so many wrong answers here. :)

[2015-06-09 21:27] alex-mohr commented on #3954
From the sidelines: it seems there's a lot going on in those tests and it's tough to figure out exactly what's happening.  I have in the past found it useful to reduce complexity and understand the reduced problem, then incrementally add things.
If you wanted to follow that approach, it'd be something like:
(1) run 1 node
(2) ask master to create 1 pod and wait until it's created.
(3) ask master t

[2015-06-09 21:27] roberthbailey commented on #3168
We've decided not to leave 10250 open to the internet, so I'm bumping this to the v1.0-post milestone (since we still want to add better security to the kubelet's http endpoint, just not for 1.0).

[2015-06-09 21:27] zmerlynn commented on #9394
To expand a bit further... The main reason I'm a little twitchy about is that it's pretty invasive. It's reconfiguring the entire node in the middle of an e2e run, which stands the chance of possibly wreaking all sorts of havoc. I'm not sure I really want to debug that.

[2015-06-09 21:33] davidopp commented on #9029
At the master team meeting we decided it's OK that /debug handler doesn't work, but we do need
an e2e test for master proxy.

[2015-06-09 21:39] davidopp commented on #9325
The fix is for kubelet to tell master its port when it registers. For now, we will just add a note for the help text on kubelet --port that says kubelet logs won't work if you override the default.

[2015-06-09 21:39] gmarek commented on #3954
That was pretty much how sequential test looked like (well, except deletion).

Collecting data about latency on different levels of saturation is a good idea though.

[2015-06-09 21:42] davidopp commented on #7561
This is related to #4521.

[2015-06-09 21:42] diferential commented on #9372
I've since deleted the cluster to save the money. I'll do another
experiment and report back here.
Could it be problematic if I created the cluster from the GCE page instead
of the gcloud commands?

On Mon, Jun 8, 2015 at 4:42 AM, Jakob Holmelund <notifications@github.com>
wrote:

[2015-06-09 21:42] juliaferraioli commented on #9460
[run-container](https://github.com/GoogleCloudPlatform/kubernetes/blob/1d50e97305f33075bcd7e337f1bb0296f013934b/pkg/kubectl/cmd/run.go#L49) is deprecated. What version of kubectl are you using?

[2015-06-09 21:42] dchen1107 commented on #9474
I filed #9433 yesterday related to pod and namespace and more discussion can be found at: https://github.com/GoogleCloudPlatform/kubernetes/issues/9356#issuecomment-110155706

[2015-06-09 21:44] davidopp commented on #9403
#8337 is already marked post-1.0 so transitively this is post-1.0.

[2015-06-09 21:44] quinton-hoole commented on #9485
@fgrzadkowski No, in this case they're running in serial.

[2015-06-09 21:45] davidopp commented on #9382
At master team meeting we decided to move this to post-1.0 because it only blocks one object, not the whole queue.

[2015-06-09 21:48] satnam6502 opened #9518 "Validation failure for v1 RC spec"
The RC:
[code]
Attempt to create with the `--validate` flag shows an error which also has hex in its output which surely should not be there:
[code]
Clean up and re-try without the `--validate` flag shows that everything is actually working fine.
[code]

[2015-06-09 21:49] davidopp commented on #9122
@nkwangleiGIT could you please respond or close the issue? Thanks!

[2015-06-09 21:49] dchen1107 commented on #9473
This is discussed in https://github.com/GoogleCloudPlatform/kubernetes/issues/9356#issuecomment-110155706

[2015-06-09 21:53] amygdala opened #9520 "Convert the guestbook example to use .yaml instead of .json files"

[2015-06-09 21:53] yifan-gu commented on #3954
/cc myself

[2015-06-09 21:54] dchen1107 commented on #9456
Docker restart will cleanup those running processes, including umount here. Monit is monitoring docker, kubelet, and kube-proxy process on a given node, and periodically check their status, and restart then upon failure. Is that enough here?

[2015-06-09 21:55] mikedanese commented on #9484
Closing but I'll keep an eye on it. I'm optimistic.

[2015-06-09 21:55] #9484 closed

[2015-06-09 21:55] #9011 closed

[2015-06-09 21:58] yifan-gu commented on #9428
Isn't the runtime cache helping with the 2) ?

It seems `resync existing pods in the resyncInterval` will cause the preference on pod creates to pod updates. Is that what we want?

[2015-06-09 21:59] juliaferraioli commented on #9205
Presentations generally have a very different utility and audience than documentation. Short videos and the like may be useful in line with the documentation, but in general users want a centralized location to view media such as presentations à la what @RichieEscarez mentioned.

Keep in mind that if you put a presentation in the documentation itself, you need to commit to keeping it updated with

[2015-06-09 22:04] crcsmnky opened #9521 "Matched kubectl client/server versions throw "could not find requested resource" errors"
Cluster deployed in GKE (0.18.1) and downloaded matching Kubernetes release tarball.

Once I set the appropriate context, this command works as expected:

    $ kubectl get pods
    ...

This does not (it did work back in 0.17.0 days):

    $ kubectl create -f controller.yaml
    Error from server: the server could not find the requested resource

Only changes in controller were to `apiVersion` fr

[2015-06-09 22:15] davidopp commented on #3954
Temporarily moving this to 1.0-candidate so we remember to discuss this at the triage meeting. At the master team meeting we felt that it's too late for heroic measures to fix this problem; @dchen1107 suggested that a number of important Kubelet changes have piled up for post-1.0 and it makes more sense to take them all together than to make incremental changes now that risk stability (like the fu

[2015-06-09 22:18] fahadpolash commented on #9459
Hello,
Fedora 21 repo is working fine. I had to add proxy in /etc/yum.conf file.
After adding proxy, it seems working. Though it is getting hanged in slat's repo. I am opening new issue for that. Thanks.

[2015-06-09 22:18] #9459 closed

[2015-06-09 22:28] brendandburns commented on #9429
Assigning to @bprashanth since he has a fix.

[2015-06-09 22:30] brendandburns commented on #7964
Yeah, you need that flag in order to run a service based, un-authenticated registry.

If we want to run our own registry, we need that flag.

[2015-06-09 22:32] bprashanth commented on #9428
Hmm, the runtime cache won't help 2 x generatePodStatus in syncPod. We currently resync the whole world on creates, if there aren't creates, we have whatever problems we have. In principle the resync period is precautionary and with incremental updates nothing will really change. In principle.

[2015-06-09 22:33] satnam6502 opened #9526 "Restart policy Never rejected in v1 API Call"
The RC:
[code]
Attempt to create:
[code]
Fails even without the `--validate` flag.

[2015-06-09 22:36] brendandburns commented on #7964
Note that this is statically set in the Container VM as far as I can tell.  We should either add the 172 range or kill this, since as it stands half of GKE clusters won't work.

[2015-06-09 22:49] brendandburns commented on #8849
@thockin is this still open/relevant? I know you did some work here...

[2015-06-09 23:09] satnam6502 opened #9529 "Service sometimes unstable"
The output below is for one of my soak tests which launches a pod in the cluster -- this pod itself then creates lots of other pods (one per node) and a service which captures these serve_hostname pods. It then repeatedly makes calls to these pods via the service (using DNS) and checks that all the pods are behaving as expected. Most of the time things seems fine but some of the time the service f

[2015-06-09 23:14] roberthbailey commented on #7964
As an update, the only certificate validation being skipped now is the flag being passed to docker.

[2015-06-09 23:16] roberthbailey commented on #9501
Assigning to @derekwaynecarr

[2015-06-09 23:22] bprashanth commented on #3954
@fgrzadkowski don't think this is about starting containers. As a datapoint docker can create 60 pause containers each from a parallel worker on a g1-small, in 45s. Starting an rc with 10 replicas across 10 nodes is 1 container per node. This is about what else we're doing on the node that makes the docker operations (like list -a and inspect) and the pod worker of the new pod slow to start.

[2015-06-09 23:32] alex-mohr commented on #8571
Looks like something the kubelet team could more productively diagnose.  @dchen1107  ?

[2015-06-09 23:34] #9456 closed

[2015-06-09 23:34] alex-mohr commented on #8571
Note: the error seems to only be for the kubelet on the master node.  Are we launching it with an invalid flag?

[2015-06-09 23:36] alex-mohr commented on #7962
#8255 should resolve once it merges.

[2015-06-09 23:36] pires opened #9531 "0.19.0 binaries not available"
https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.19.0 has been tagged for 20 hours now but no binaries available.

/cc @brendandburns

[2015-06-09 23:38] caleblloyd commented on #8235
It looks like args are not being individually quoted in their array, the container configuration:

        - image: redis:latest
          name: slave
          args:
            - redis-server
              --port 6380
          ports:
            - containerPort: 6380
              name: slave

Yields the docker command:

        /entrypoint.sh 'redis-server --port 6380'

This causes an error, b

[2015-06-09 23:42] goltermann commented on #9417
They're not both installed by default on all OSes - we might need to revert this change.

[2015-06-09 23:48] saad-ali commented on #9453
Looks like the problem is:
[code]
Haven't been able to repro it locally. Trying to understand why this happens.

[2015-06-09 23:50] jlowdermilk commented on #9372
@jakobholmelund there were some incompatible v1beta3 api changes between 0.17 and 0.18. The `kubectl` binary shipped with the cloud sdk is currently 0.17 while the k8s version container engine launches by default is 0.18+. The cloudsdk release tomorrow will  include an updated kubectl binary (0.18.1), but in the meantime you could retry your setup using a kubectl binary from https://github.com/Goo

[2015-06-09 23:51] dchen1107 commented on #9372
cc/ @dchen1107

[2015-06-10 00:02] dchen1107 commented on #9122
cc/ @dchen1107

[2015-06-10 00:04] jlowdermilk commented on #9449
Old pod column view removed by #9032. Can put it back in with a `--detailed` bool passed through to `printPod`. @dchen1107 happy to take this if you are busy with other things.

[2015-06-10 00:06] brendandburns opened #9533 "Write an e2e test for the node proxy"
Context: #9029

[2015-06-10 00:06] erictune opened #9534 "Pod in impossible state, according to kubelet"
Note the: `impossible: cannot find the mounted volumes for pod "gh-tag_default"` below.

[code]

This is for a cluster built at commit dafe79e5de03a29633c606a67f76d4e922bd74da

[2015-06-10 00:07] satnam6502 commented on #9449
Perhaps I am just a curmudgeon about this, but I keep wanting to see the detailed view of a group of pods at once. It would be annoying to do a `get` following by another set of `get -o` calls for specific resources and then try to zip the output together in my mind.

[2015-06-10 00:10] goltermann commented on #9415
use angle brackets or curly braces

[2015-06-10 00:12] satnam6502 opened #9536 "Env var specification error with v1 API"
The RC:
[code]
The error:
[code]
The env var declaration does not work i.e. is not propagated into the container.

[2015-06-10 00:12] Snesha opened #9537 "Cluster/Kube-up.sh doesnt work for other clouds"
With the latest changes, kube-up now has a requirement on gcloud.

This breaks all other clouds and even if I do install the SDK, there are further requirements to install docs / set the project etc. Could you please update to allow an alternate path to allow k8s setup for AWS & Azure?

[2015-06-10 00:25] thockin-cc commented on #8235
From a glance, it is giving you the yaml you asked for. Try - --port - the
leading dash indicates a new entry in an array.
On Jun 9, 2015 4:39 PM, "caleblloyd" <notifications@github.com> wrote:

[2015-06-10 00:26] Snesha commented on #9242
@errordeveloper Since Azure doesn't have a scriptable login yet, I suggest sticking with the manual two step login. I'll update this issue once we've got a resolution.

[2015-06-10 00:30] dchen1107 commented on #9526
@satnam6502 I think kubernetes does the right thing here. From doc: https://github.com/GoogleCloudPlatform/kubernetes/blob/a58847e45d4bd996564d6c5fae8169864b8a2ac7/docs/replication-controller.md

"ReplicationController is only appropriate for pods with RestartPolicy = Always (Note: If RestartPolicy is not set, the default value is Always.). ReplicationController should refuse to instantiate any po

[2015-06-10 00:30] #9526 closed

[2015-06-10 00:30] BenTheElder commented on #9359
Further debugging shows that `/var/lib/kube-proxy/kubeconfig` is empty on minion-1 and that this is being passed to kube-proxy:
[code]

I've refactored the token generation to work more like AWS (done in util.sh, before making the cluster) but I'm still figuring out providing them to the minions.

[2015-06-10 00:30] dorongrinstein commented on #9501
This is the same issue as 7683. I am closing this issue.

[2015-06-10 00:30] #9501 closed

[2015-06-10 00:30] mbforbes commented on #7914
As an update, I'm going to do this for the GKE provider first, as [`upgrade-master()` for GCE](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/upgrade.sh#L60) is currently broken (will file an issue if there isn't one).

[2015-06-10 00:31] dchen1107 commented on #9449
@satnam6502 Have you tried kubectl describe pods <pod-name>?

[2015-06-10 00:31] krousey opened #9540 "e2e is broken and looping forever trying to start the cluster"
both kubernetes-e2e-gce and kubernetes-e2e-gce-parallel seem to not be able to bring the cluster up.

[code]

[2015-06-10 00:32] krousey commented on #9540
I think the issue may be #9419. I was able to reproduce the e2e hang locally. I've reverted locally and am seeing if it still happens. If it doesn't, I will revert this change.

[2015-06-10 00:36] mbforbes opened #9541 "cluster/gce/upgrade.sh upgrade-master() broken"
This is blocking a GCE implementation of #7914.

Sample output:
[code]

So there's clearly a problem in building the `kube-env`, but I haven't investigated whether that's necessary or sufficient to get this working.

Once this works locally for someone, I've been changing the Jenkins configs and have #9535 in flight to get this repeatedly verifiable.

[2015-06-10 00:38] mbforbes commented on #9541
+cc @zmerlynn (author)
+cc @piosz (last touched)
+cc @saad-ali (may be interested)

I'm not an expert on master stuff, but once I can get a GKE implementation out for #7914 I'll hop on this if no one else has had time to take a look.

[2015-06-10 00:48] quinton-hoole commented on #6399
Closing as a dupe of #7972 where it is being actively debugged.

[2015-06-10 00:48] #6399 closed

[2015-06-10 00:54] dchen1107 commented on #9412
@justinsb You are absolutely right about this, especially in over-commit situation, docker respond slowly, and restarting docker causes tons of containers recovery, which causes even higher memory usage for docker.  This is why I had been pushing hard on resource-ware scheduling. Unfortunately for v1.0, putting resource limit for pod is not possible (pod-level limit cannot specify at API), and spe

[2015-06-10 00:58] krousey commented on #9540
cc @brendandburns @quinton-hoole

[2015-06-10 00:59] krousey commented on #9540
OK I reverted that locally and it still didn't work. I'm going to go back to the last know pass locally and roll forward until I see that it doesn't come up.

[2015-06-10 00:59] krousey commented on #9540
cc @dchen1107

[2015-06-10 01:00] dchen1107 commented on #9411
@justinsb which version are you running? We did oom protect docker. Here is what I have on my node:

[code]

Today, we oom protect monit(-901), docker (-900), kubelet (-900), kube-proxy (-899), and all podinfra containers' process

Is that enough?

[2015-06-10 01:01] ncdc commented on #9180
The `kubectl exec` flow is client :arrow_right: master :arrow_right: kubelet :arrow_right: container. The kubelet http server has a 5 minute read/write timeout (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/server.go#L68-L69). This unfortunately means that after 5 minutes, regardless of the amount of I/O generated during the exec session, the connection is forcibly clos