[2016-07-12 13:50] JeanMertz opened #28838 "Ingress, SSL + internal IP?"
I've got a service that I want to expose only on the internal service IP (which is available through a VPN connection), but I _also_ want the ease of use of an ingress resource, handling SSL termination for me.

It seems that the SSL termination functionality is tightly coupled to ingress functionality, which is only used to expose a service to the outside world (especially on GKE, where – by defa

[2016-07-12 14:26] yarntime opened #28839 "defect of the daemonset"
I built a  cluster of kubernetes with 5 hosts, and created a daemonset, while nodeselector and nodeName were not used. After the daemonset is created, I detected the amount of DESIRED was 4.( To my understanding, it should be 5).

Trouble-shooting: After an intensive troubleshooting, I found out that the amount of DESIRED is influenced by a function called nodeShouldRunDaemonPod.
In general, this

[2016-07-12 14:34] jszczepkowski commented on #28591
@bprashanth
Please see the follow-up in #28840.

[2016-07-12 14:39] matthughes commented on #26000
I'm getting the same thing with CoreOS / k8s 1.2.4 using default overlay storage driver:

[code]

[2016-07-12 14:41] seh commented on #28483
I ran into this today, trying to figure out how one can determine which pods—and hence which host IP addresses—are currently backing a Service. Poking around via _kubectl_, I figured out that each Service has an Endpoints, but, as noted above, it's only the names that match up. Nothing in the Service makes explicit mention of the Endpoints object.

[2016-07-12 14:44] seh commented on #20112
Also related: #28483.

[2016-07-12 14:48] mwielgus opened #28842 "Align scheduler node scoring with cluster autoscaler"
Right now it seems that scheduler tries to place pods on nodes that have the most free space. However, from the cluster autoscaler perspective it would be best to place them on the more busy nodes so that the unused nodes are easier to remove.

cc: @fgrzadkowski @davidopp @piosz @jszczepkowski

[2016-07-12 14:52] wojtek-t commented on #28842
/cc

[2016-07-12 15:11] k8s-merge-robot opened #28845 "[k8s.io] Kubectl client [k8s.io] Simple pod should support inline execution and attach {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11060/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support inline execution and attach {Kubernetes e2e suite}

[code]

Previous issues for this test: #26324 #27715

[2016-07-12 15:29] pskrzyns commented on #26269
@fejta i changed it but without my patch i have same situation
My output from Jenkins
[code]

[2016-07-12 15:35] halr9000 commented on #24677
@dcowden when you know what the log data will look like, head over to [Splunk Answers](https://answers.splunk.com) or #splunk on EFnet or [splunk-usergroups Slack](http://splunk402.com/chat/) and our community will help you out with the config. Ideally the end results would be bottled into a Splunk App which could be released as OSS. Perhaps we could contribute.

[2016-07-12 15:42] mksalawa commented on #11382
I created a pull request #28844.

Available commands are:
- `kubectl top node ([<id>] | [(--selector | -l) <labelSelector>])`
- `kubectl top pod ([<id>] | [(--selector | -l) <labelSelector>])`

Also, for pods, the supported flags are:
- `--containers` - lists container usage below the pod total usage
- `--all-namespaces`

[2016-07-12 15:42] felixbuenemann opened #28846 "[kubectl][Feature] Add short option for --namespace option"
If many namespaces are used in a kubernetes cluster, eg. one per app, typing `kubectl command --namespace=someapp` quickly gets annoying.

It would be great if there was a short option like `kubectl command -n myapp` or `kubectl command -ns myapp` if `-n` is already used elsewhere.

[2016-07-12 15:43] jcantrill opened #28847 "Provide a way to categorize or group common parameters in a template"
Provide a way for tooling to be able to group template parameters that are common. This would allow us to display parameters in a hierarchical structure instead of a long list. Example, one might want to group database items together (e.g. username, password, port) or web-server specific parameters. Additionally, categories could support a description that would be provided by the template author

[2016-07-12 15:56] thockin commented on #28695
SGTM, if a bit confusing (to people who think they know what's going on but
seem to be wrong - me :)

On Mon, Jul 11, 2016 at 11:59 PM, Janet Kuo <notifications@github.com>
wrote:

[2016-07-12 16:41] yujuhong commented on #28124
In #28384, both kubelet and runtime exceed the memory limit. This issue is for the "runtime" memory issue, but not for kubelet. The kubelet memory issue seems to be relatively new. I'll look into that as well.

[2016-07-12 16:45] chrislovecnm commented on #28709
Nudge, how can we debug this??

[2016-07-12 16:49] haizaar commented on #28718
No :(

We are ES-only shop.
On 12 Jul 2016 19:33, "Chris Love" <notifications@github.com> wrote:

[2016-07-12 16:50] chrislovecnm commented on #28712
@freehan @girishkalele I need to tear down this cluster. How do we address this? I am concerned this is a issue in GCE.

[2016-07-12 17:03] wonderfly commented on #28698
The continuous e2e tests are back to green now.

[2016-07-12 17:09] toidi commented on #21480
@a-robinson Fluentd  `v0.14.0` released at May 31.
There is `v0.14.1` version.

Please update `fluentd-es`. Please please please..

[2016-07-12 17:14] toidi opened #28851 "Fix sub-second resolution issue: Update fluentd to version 0.14"
There is a bug with sub-second portion of timestamps [#21480](https://github.com/kubernetes/kubernetes/issues/21480).

As @a-robinson said it can be resolved with using `0.14` version of `fluentd`.

Nowadays `fluentd` fully released, thus it's possible to use it for `fluentd-es` image.

[2016-07-12 17:56] k8s-merge-robot opened #28853 "[k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/5872/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching {Kubernetes e2e suite}

[code]

[2016-07-12 17:58] bprashanth commented on #28712
Can you show me ifconfig? I want to confirm your bridge cidr

[2016-07-12 18:05] pskrzyns commented on #28470
Closing after today sig-testing meeting. I will create other issue for tracking e2e tests failing on bm.
This will be reopened when i have real bm specific tests i.e. Density tests with 500 pods per node ;)

[2016-07-12 18:05] #28470 closed

[2016-07-12 18:06] chrislovecnm commented on #28712
[code]

[2016-07-12 18:10] chrislovecnm commented on #28712
Let me repeat.  This is a vanilla setup created with `kube-up.sh`.  No customization, and running across multiple gce zones.

[2016-07-12 18:11] ardnaxelarak commented on #28695
#investigating

[2016-07-12 18:17] bprashanth commented on #28712
Aha! no address on cbr0.
@freehan maybe this is our bridge cidr off by one bug (https://github.com/kubernetes/kubernetes/pull/27905)? If not, we should grab nodecontroller logs and make sure it isn't messing up cidr allocation.

[2016-07-12 18:17] mikedanese commented on #2098
Was kubelet rest api auth[n/z] ever completed? Is there some doc/issues that discuss this?

[2016-07-12 18:19] freehan commented on #28712
Can you confirm if the cluster includes #27905?

[2016-07-12 18:25] euank commented on #24677
One thing I don't think is adequately addressed here is unusual formats, especially those that the kubelet can't trivially rotate.

For most formats, simple trunc rotation will work. That isn't true for all formats. If we do support these other arbitrary formats, we have a few options:

1. Don't rotate, let something else handle it (e.g. a daemonset that manages all log rotation for all containers

[2016-07-12 18:27] freehan commented on #28712
`kubectl version` would work

[2016-07-12 18:38] sekka1 commented on #26943
Also having this issue.  The shared mount did not fix it for me.

[2016-07-12 18:43] tristanz commented on #26943
@sekka1 Did you use a shared mount for `/var/lib/kubelet` and remove `--containerized` flag?  I believe this does solve the issues as @luxas suggests.

[2016-07-12 18:44] saad-ali opened #28854 "PD tests should wait for safe detach"
PD E2E tests have very aggressive clean up routine that does not wait for volumes to safely detached. After the test completes, the test cleanup routine unilaterally detaches the PD (instead of waiting for k8s to do it cleanly). Although this does not cause the test to fail, it results in errors in the kernel logs:
[code]

We should modify these tests to wait for k8s to safely detach the disk.

[2016-07-12 18:46] dims commented on #27980
/subscribe

[2016-07-12 18:51] saad-ali opened #28855 "Detect Unexpected Detach Operations and Notify Users"
When a GCE PD is detached unexpectedly (as was the case in https://github.com/kubernetes/kubernetes/issues/28854), for example, it results in scary errors in the kernel logs and potentially data corrpution/loss. k8s can not prevent outside actors from triggering unexpected detaches but we should try to detect when they happen and notify users (maybe generate an event saying device was hot removed

[2016-07-12 19:09] caesarxuchao commented on #28559
@smarterclayton, I'll repeat to confirm we are on the same page:

1 and 2 are two client libraries. 1 doesn't know any API types. 2 only knows external API types. 2 uses 1. Neither of them contains any conversion/defaulting/validation code.

I intend to start with 1 and 2 in the same repo, and separate them if necessary.

For 4, you said "used elsewhere inside the codebase (conversions, defaults,

[2016-07-12 19:11] pskrzyns opened #28857 "SchedulerPredicates validates resource limits of pods that are allowed to run doesn't consider register-schedulable=false"
When calculating CPU resources( or pods capacity) it still counts node with `register-schedulable=false` as valid for sheduling, so the number of pods to spawn is too big so its ends with error:
[code]

[2016-07-12 19:17] vishh commented on #26000
cc @ronnielai

[2016-07-12 19:22] davidopp commented on #28842
Changing the default scheduling algorithm from worst-fit to best-fit is a large change (not in terms of code, but in terms of what users will observe). I think you could argue that best-fit is a "power user" feature and should require user action to enable. We could automatically enable it if the user is using cluster autoscaling.

[2016-07-12 19:39] bprashanth commented on #23354
Circling back to this since we now have an alpha petset:

Support for watching a set of ES pets. I suppose we'll have three petsets for a single ES cluster - master pets, data pets and client pets.

You can notice "changes" to the list of peers by resolving DNS on the cluster service: http://kubernetes.io/docs/user-guide/petset/bootstrapping/#example-ii-initializing-state-based-on-environment, but

[2016-07-12 19:40] ronnielai commented on #26000
The error seems to come from [cadvisor](https://github.com/google/cadvisor/blob/b9e36443c490f54cee2f1539d27364730a226e33/cache/memory/memory.go#L104). cc @timstclair

[2016-07-12 20:34] vishh commented on #28301
@dims I don't think we test `docker stats` integration. @rchandh can you get metrics via kubelet instead - `http://localhost:10255/stats/summary`?

[2016-07-12 20:34] vishh commented on #28301
@dims If you want to solve this, I'd look at libcontainer code and see why docker fails to collect stats...

[2016-07-12 20:45] chrislovecnm commented on #28712
[code]

[2016-07-12 20:51] bgrant0607 commented on #12768
Done.

[2016-07-12 20:51] #12768 closed

[2016-07-12 20:58] freehan commented on #28712
Okay. I believe you meant beta 2. Beta 2 does not contain the fix. It should not happen now with 1.3 release.

[2016-07-12 21:34] chrislovecnm commented on #28712
@freehan so close this??

[2016-07-12 21:34] bgrant0607 commented on #28846
@felixbuenemann Please comment on #24078.

Closing this as a dupe.

[2016-07-12 21:34] #28846 closed

[2016-07-12 21:34] chrislovecnm commented on #28709
@bprashanth ping ... want to kill this cluster.  Do we need to debug at all?

[2016-07-12 21:36] lorenzvth7 opened #28861 "Vagrant install: The connection to the server localhost:8080 was refused - did you specify the right host or port?"
I used [the official guide](http://kubernetes.io/docs/getting-started-guides/vagrant/#setup) to set up Kubernetes with Vagrant on VirtualBox. I have one master and one node.

There are some weird issues after the install.
First of all I started 3 nginx pods like in the tutorial:
`$ ./cluster/kubectl.sh run my-nginx --image=nginx --replicas=3 --port=80`

The pods were running fine. I was able to de

[2016-07-12 21:38] aaronlevy commented on #27980
How does this work? Does this proposal include locally checkpointing api-defined-configs (e.g. `global-kubelet-configuration` or `<node-name>-kubelet-configuration`)?

[2016-07-12 21:39] bgrant0607 commented on #13579
See also #5286

[2016-07-12 21:40] felixbuenemann commented on #24078
I think either a short option, like `kubectl command -n myns` or `kubectl command -ns myns` could be a solution or suffic the namespace using "@": `kubectl command po/mypod@myns`.

[2016-07-12 21:41] bgrant0607 commented on #5286
Closing as dupe of #13579

[2016-07-12 21:41] #5286 closed

[2016-07-12 21:44] mtaufen commented on #27980
The first iteration of this feature it's just going to be a deep comparison between what is found on the API server and what is local on the given Kubelet. We have talked about local checkpointing of config being a nice feature to have eventually, but we haven't extensively discussed how it will work. I think it might be worth opening a separate issue to discuss a general solution for checkpointin

[2016-07-12 21:48] smarterclayton commented on #2098
There is an authz/n filter in place, @liggitt

On Tue, Jul 12, 2016 at 2:18 PM, Mike Danese <notifications@github.com>
wrote:

[2016-07-12 21:53] bgrant0607 commented on #25668
Closing as a dupe / obsolete. Follow SIG cluster lifecycle for current efforts.

[2016-07-12 21:53] #25668 closed

[2016-07-12 21:54] bgrant0607 commented on #25386
See also #25900

[2016-07-12 21:56] bgrant0607 commented on #18993
Please reopen if still a problem with 1.3.0.

[2016-07-12 21:56] #18993 closed

[2016-07-12 21:56] robertsdionne opened #28862 "Volume gitRepo fails for directory: ".", revision: <SHA> but succeeds for directory: ".", revision: master"
For the following volume specification:
[code]

[code]

Yet the same specification with `revision: master` works correctly.

[code]

I'm using `minikube version: v0.5.0`.

This case looks to be covered by this test case: https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/volume/git_repo/git_repo_test.go#L173

[2016-07-12 21:57] cdrage commented on #12716
I'm encountering the same issue. I thought it was the docs so I submitted an issue here: https://github.com/kubernetes/kubernetes.github.io/issues/830

[2016-07-12 21:59] timothysc commented on #23354
Elastically scaling + data life-cycle mgmt + upgrades makes stretches the bounds of Pet Sets imho.

We would either require lifecycle containers for different life-cycle events, or we'd have to 1st class a controller and expose custom params that operators would want to control.  I'd argue that the latter is probably the more tenable method for operators.

[2016-07-12 22:01] bgrant0607 commented on #17911
@AXGKl  please file on the contrib repo if still a problem

[2016-07-12 22:01] #17911 closed

[2016-07-12 22:06] aaronlevy commented on #27980
Hmm. Still a little unclear on the statement "kubelets will restart to take up that new config" -- can you describe how you envision that working?

[2016-07-12 22:08] k8s-merge-robot opened #28863 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13366/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26970 #27691 #28214

[2016-07-12 22:10] sekka1 commented on #26943
@tristanz It doesnt resolve the issue for me.  I am following these docs with the modified kubelet start

http://kubernetes.io/docs/getting-started-guides/docker-multinode/worker/

[code]
When I startup a pod, i see these logs in that kubelet container.  Not sure what to make of that.

[code]

Happy to try more things, just let me know.  Im not really sure what to do from this point.

[2016-07-12 22:21] euank commented on #19765
If you run the kubelet via `kubelet-wrapper` on CoreOS, the dependencies (like socat) are included in the rkt fly container the kubelet is run in.

CoreOS issue: https://github.com/coreos/bugs/issues/1114

/cc @crawford @aaronlevy

[2016-07-12 22:27] lavalamp commented on #22448
Maybe it's time for us to find a googler to own getting this tested and
productionized. @davidopp do you have anyone free?

On Mon, Jul 11, 2016 at 11:42 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-07-12 22:28] mtaufen commented on #27980
Part of the Kubelet startup process will be checking the API server and applying the relevant config that it finds there. So when the Kubelet detects new config it can cleanly download and apply the new config by just restarting.

[2016-07-12 22:30] #28291 closed

[2016-07-12 22:35] aaronlevy commented on #27980
@mtaufen sorry, I might be missing something.

So "cleanly download and apply the new config just by restarting". How is the config which is downloaded applied to the kubelet after restart? By restart do you mean a kubelet process restart? Or the internal kubelet object is restarted within the same process (and with a new config)?

The part I'm missing is how is this new config actually applied to

[2016-07-12 22:46] mtaufen commented on #27980
Ah, sure. The devil is in the details :).

@vishh and @mikedanese and I briefly chatted in our first meeting about this feature, which was a few weeks ago, about how we might do the restart (both options you mentioned came up as possibilities). I'm hoping to have the details of at what stage, exactly, we apply the config figured out and implemented by the end of this week and the details of how we

[2016-07-12 22:51] VMTrooper commented on #7199
Hello @a-robinson,

+1 on no external IP displayed as well as no clues from the events output.

Does Kubernetes OpenStack provider support both Neutron LBaaS v1 and v2 APIs? or just one or the other?

Thanks!

[2016-07-12 23:00] a-robinson commented on #7199
If there aren't any events, then you're probably running in a configuration that doesn't support load balancers. Do you know what `--cloud-provider` your cluster's kube-controller-manager was configured to use? The controller manager won't attempt to do anything for services of `type=LoadBalancer` unless the cloud provider specified supports it. If the specified provider doesn't support it, then t

[2016-07-12 23:06] ericchiang commented on #15952
Also seeing this on go1.7beta2
[code]

[2016-07-12 23:09] #28712 closed

[2016-07-12 23:10] freehan commented on #28712
Thanks for providing all the information.

[2016-07-12 23:14] bgrant0607 commented on #18168
We're no longer using redcarpet, I believe.

[2016-07-12 23:14] #18168 closed

[2016-07-12 23:16] aaronlevy commented on #27980
Without being privy to prior discussions, I might argue for saving the config state outside the kubelet (and reboot simply picks up this local / on-disk config).

A reason for this would be to minimize the delta of `minimal-config` to the api-defined config through lifecycle of the kubelet. A specific case that has been brought up in the past are cgroup related settings (e.g. kubelet + minimal-con

[2016-07-12 23:34] ericchiang commented on #15952
The bigger issue seems to be that these tests are doing string comparisons against error messages. Every time the Go standard library tweaks them, the tests will start breaking again.

[2016-07-12 23:42] erictune opened #28864 "applying petset after creating petset gives proto errors"
[code]

I would have expected that applying something where there was no delta would  not give the error about `updates to petset spec for fields other than 'replicas' are forbidden`, since nothing changed.  And I expected not to see the `proto: ...` errors.

This doesn't happen if I apply first.  Just if I create, then apply.

This happens with 1.3.0 and HEAD kubectl.

[2016-07-12 23:59] k8s-merge-robot opened #28866 "[k8s.io] Job should keep restarting failed pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/7609/

Failed: [k8s.io] Job should keep restarting failed pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #28006

[2016-07-13 00:13] thockin opened #28867 "kube-proxy conntrack-max flag should scale by machine size"
This seems like very low-hanging fruit and hugely impactful.  256K might suffice for 4 or 8 core machines, but it's not enough for 32 core machines.

I heard a couple grumbles from people regarding 1.3 - maybe we should make this a patch for 1.3.1 or 1.3.2.

@matchstick @girishkalele @roberthbailey objections?  I think this can be pretty surgical.

[2016-07-13 00:18] aaronlevy commented on #19765
@jimmycuadra this should work on CoreOS when running the kubelet as a container via the kubelet-wrapper (as @euank mentioned).

See: https://coreos.com/kubernetes/docs/latest/kubelet-wrapper.html

Also agree that longer-term something along the lines of pod infrastructure image would help with required utilities (socat, nsenter), mount tools (nfs, ceph, git), network plugins (flannel, calico, weav

[2016-07-13 00:19] k8s-merge-robot opened #28868 "[k8s.io] ConfigMap should be consumable from pods in volume as non-root with FSGroup [Feature:FSGroup] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/6346/

Failed: [k8s.io] ConfigMap should be consumable from pods in volume as non-root with FSGroup [Feature:FSGroup] {E2eNode Suite}

[code]

[2016-07-13 00:24] bprashanth commented on #28785
Ack, sorry about the warnings. I remember seeing it only after the code freeze deadline. It's from the petset controller.

[2016-07-13 00:25] cjcullen opened #28869 "ABAC config does not respect $KUBE_USER"
abac-authz-policy.jsonl hardcodes "admin" instead of using the $KUBE_USER variable. This means that "admin" is the only basic-auth username that will work with that abac config.

https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-apiserver/abac-authz-policy.jsonl

[2016-07-13 00:27] bprashanth commented on #27634
@foxish this is a good one to pick up if you're starting with controllers.
See Ingress controller for an example of how to use this delayed queue (https://github.com/kubernetes/contrib/pull/1285/commits/46b397d6948ea6b87f2fd9535f9fdcb5b6fe23b8) or namespace controller (https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/namespace/namespace_controller.go#L50) then modify the control

[2016-07-13 01:03] dims commented on #28817
@fabioy this was already fixed by https://github.com/kubernetes/kubernetes/pull/28808 We can close this now

[2016-07-13 01:08] jeffchanjunwei commented on #23423
@loveresolution , how do you solve this problem at last? I have the same journal inform.

[2016-07-13 01:08] smarterclayton commented on #23354
Why not make it easy to define lifecycle controllers (running in
containers) that can handle multiple pet sets?

On Tue, Jul 12, 2016 at 6:00 PM, Timothy St. Clair <notifications@github.com

[2016-07-13 01:11] erictune commented on #13829
Are we moving from apiserver logs to audit logs?  https://github.com/kubernetes/kubernetes/pull/27087

I don't recall those having a user agent.

A separate account for the addon controller, or a "reason" field in the audit log are alternatives to user-agent.

[2016-07-13 01:12] dims commented on #25675
@isubuz please close the bug. thanks!

[2016-07-13 01:18] bprashanth commented on #23354
I think probably the only way we'll figure this out is by writing a few lifecycle controllers that build on current petset. I was planning on mysql master/slave, and hoping someone would be able to contribute one with one of the others.

[2016-07-13 01:19] #25675 closed

[2016-07-13 01:26] dims commented on #26764
@ltiao i second @a-robinson 's suggestion.

[2016-07-13 01:43] janetkuo commented on #26834
Didn't observe it for over 10 days so bump down to P2 (since the P is accumulated over several open-fix-reopen iterations).

[2016-07-13 01:57] liggitt commented on #2098
@mikedanese https://github.com/kubernetes/kubernetes/issues/11816#issuecomment-148778046 mentions authn/authz for kubelet. https://github.com/kubernetes/kubernetes/pull/14700 added interfaces for authn/authz to the kubelet but didn't wire them to command line options yet. Some of the work around webhook authn and authz could allow the kubelet to use the same authn/authz as the master if we wanted

[2016-07-13 02:59] smarterclayton opened #28873 "Invalid JSON errors during PATCH are not properly wrapped as API errors"
Patching with an invalid JSON input returns a raw JSON error.  We need to wrap it with BadRequest (probably).

[code]

[2016-07-13 03:30] #27362 closed

[2016-07-13 04:05] #19636 closed

[2016-07-13 04:54] bprashanth commented on #15995
Isn't it easiest to just lookup the ip from full service name in the field, from the plugin?
This would also help petset clustering by making it easier to share a temp nfs volume during bootstrap.

[2016-07-13 05:39] Divyaraaga opened #28877 "Kubernetes pod dependancies"
Hi

I have a rancher/kubernetes catalog item which on click of launch button starts 2 services and hence 2 pods/containers start creating containers instantly .
My issue here is I need to pause the creation of container2/Pod2 until the container1/ pod1 is in running state.
or as bare minimum should pause pod 2 atleast for 20 seconds.
Any inputs are appreciated!

Thanks

[2016-07-13 05:57] foxish commented on #28785
@erictune, The behavior seen above isn't right, and we should not issue a warning event when the initial attempt to get a PVC fails given that the call to provision one may succeed right afterwards. @bprashanth pointed me at [this](https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/controller/petset/pet.go#L250) which is where the code corresponding to the w

[2016-07-13 06:04] bprashanth commented on #28785
It's usually informational (eg: image pulling started, image pullling done) or note worthy warnings/errors (eg: failed to start container). A get failing usually indicates a recoverable flake. The error should get logged, and we should retry. If it keeps failing it probably means the apiserver is down and some more critical operation will create the event.

[2016-07-13 06:05] sttts commented on #28825
Duplicate of https://github.com/kubernetes/kubernetes/issues/28656.

[2016-07-13 06:05] #28825 closed

[2016-07-13 06:12] qq690388648 commented on #28877
What you mean I thought is workflow, this is not supported in kubernetes ,and I thought these dependancies can be implemented in user-defined codes.

[2016-07-13 06:15] cheld commented on #26943
Use these scripts:
https://github.com/kubernetes/dashboard/blob/master/build/setup-docker.sh
https://github.com/kubernetes/dashboard/blob/master/build/hyperkube.sh

[2016-07-13 06:18] Divyaraaga commented on #28877
Thanks for your response !
By user defined u mean handle dependancies in the respective Dockerfile s
?

[2016-07-13 06:20] cheld commented on #26943
[code]

[2016-07-13 06:40] VMTrooper commented on #7199
My controller manager is configured to use the OpenStack provider.

I tried deploying Kubernetes on two different clouds: one with the load balancing as a service version 1 API and another with the version 2 API.

I will try looking at the controller manager logs tomorrow to see if I find any helpful hints.

Thanks!

[2016-07-13 07:31] jeffersongirao commented on #18785
Hey @saad-ali, I'm running v1.3 but still facing some issues with EBS volume attachments. At first we get the same error "Error attaching EBS volume: VolumeInUse: vol-xxxxx is already attached to an instance", after that first error pop up, it keeps getting "Timeout waiting for volume state". This happens every time the pod is rescheduled to a different worker and I have to "force dettach" through

[2016-07-13 07:45] cvle opened #28878 "Support for private registry broken on GKE"
Running latest version of GKE 1.2.5, I have issues pulling images from a private docker registry.

The first images pulled fine, but then I ran into 404 errors similar to the ones described here: https://github.com/docker/docker/issues/15759.

Updating docker on the nodes to version 1.10 or higher fixes the issues.

As a workaround I'm currently updating the docker versions on each node manually.

[2016-07-13 08:05] gmarek opened #28879 "If CIDRAllocator fails to update CIDR in Node object it won't retry."
Currently CIDRAllocator observes only Node creations and deletions. When Node is created it tries to assign a CIDR to it. If it fails for any reason (no available CIDRs, run out of Node update retries) it won't ever retry, as the Node won't be "created" again. We need to add a mechanism for retrying assignments in such cases.

cc @kubernetes/goog-control-plane

[2016-07-13 08:06] shenshouer commented on #21513
I got the same issue on the port 8080 of kube-apiserver :
[code]

[2016-07-13 08:29] k8s-merge-robot opened #28880 "[k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11103/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26425 #26715 #28825

[2016-07-13 08:33] wojtek-t commented on #22448
I talked with @davidopp about it and we probably want have someone to help with that, but given that in 1.4 release we probably won't increase scalability (we are targetting 5000 nodes for 1.5), this is not critical for 1.4. That said, we may not be able to find anyone with free cycles in the next few weeks.

[2016-07-13 08:45] davidopp commented on #28879
cc/ @cjcullen

[2016-07-13 08:49] k8s-merge-robot opened #28881 "[k8s.io] ClusterDns [Feature:Example] should create pod that uses dns [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12883/

Failed: [k8s.io] ClusterDns [Feature:Example] should create pod that uses dns [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-13 08:58] wojtek-t opened #28883 "Scheduler cache corruption in case of failed bindings"
I've just faced the problem of corrupted cache in scheduler. Basically the problem was the following:
- scheduler tried to bind a pod X
- binding was rejected (in this case because of http didn't reach apiserver due to network overload, but the type of error doesn't really matter)
- then after some time we are scheduling this pod again, but this time we are binding it to a different node
- the bin

[2016-07-13 09:04] wojtek-t commented on #28883
The solution for the problem is basically to remove the "assumed" pod from the cache, before queuing it again for scheduling:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/scheduler.go#L143

[2016-07-13 09:06] ShashankYadav commented on #28750
Facing the same issue in 1.3. I also notice that the files in /var/lib/kubelet/<pod-id> are not removed even after deleting the pod. And am still seeing the message a day after deleting the pod:
`Jul 13 06:10:43 coreos-02 kubelet-wrapper[23023]: E0713 06:10:43.761116   23023 goroutinemap.go:155] Operation for "kubernetes.io/secret/default-token-7vgrg" failed. No retries permitted until 2016-07-13

[2016-07-13 09:07] wojtek-t commented on #28883
So probably something like "ForgetPod" method (sibling to RemovePod) should be added to schedulercache.

[2016-07-13 09:26] wojtek-t commented on #28883
Let me send some PR for it later today.

[2016-07-13 09:30] chetankmalur commented on #16021
I am running into the same issue

curl -sS https://get.k8s.io | bash

Waiting for 4 ready nodes. 1 ready nodes, 1 registered. Retrying.
Waiting for 4 ready nodes. 1 ready nodes, 1 registered. Retrying.
Detected 1 ready nodes, found 1 nodes out of expected 4. Your cluster may not be fully functional.
NAME                STATUS                     AGE
kubernetes-master   Ready,SchedulingDisabled   3

[2016-07-13 09:39] k8s-merge-robot opened #28884 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6131/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes {Kubernetes e2e suite}

[code]

Previous issues for this test: #26682

[2016-07-13 09:46] mwielgus commented on #28842
@davidopp  Yep, we are thinking about switching to best-fit automatically if (and only if) cluster autoscaler is enabled.

[2016-07-13 10:05] greg89757 opened #28885 "can not umount nfs volume while kubelet stopped abnormaly"
I created a pod which uses nfs as volume，it can not umount nfs while kubelet stopped abnormaly。
[code]
@ddysher

[2016-07-13 10:45] pskrzyns commented on #28667
cc @kubernetes/sig-rktnetes

[2016-07-13 10:51] cesartl opened #28887 "Cannot add node in different AWS zone"
I'm following the [official tutorial](http://kubernetes.io/docs/admin/multiple-zones/) to span k8s nodes in multiple AWS availability zones.

Creating a clusters works fine:

    export KUBE_AWS_ZONE=eu-west-1a
    export NUM_NODES=1
    export MULTIZONE=true
    export MASTER_SIZE=t2.medium
    export NODE_SIZE=t2.medium
    export AWS_S3_REGION=eu-west-1
    export AWS_S3_BUCKET=########
    exp

[2016-07-13 10:52] talk2vino opened #28888 "Kubernetes AWS Stuck -TLS Handshake Error in Kube-api - In Version 1.3.0"
Environment: Kubernetes in AWS

Previously i tried 30+ times in version Kubernetes 1.2.4 on AWS . It works flawless all the times.

Today when i tried the same with fresh new cluster with kubernetes version 1.3.0 . The cluster initialisation loops forever for 30 minutes

[code]

kube version

[code]

I go and checked each of the nodes with "docker ps" , and all of the nodes responded.

The below a

[2016-07-13 10:53] #28593 closed

[2016-07-13 10:55] lukasredynk commented on #28667
Work with NS:
- Docker
- rkt coreos flavor
Not work with NS:
- rkt kvm flavor
- HyperContainers (WIP)

It's not looking like "most" working with NS, it's more like 50/50

[2016-07-13 10:57] pskrzyns commented on #26102
@dcbw we are going to extend CNI to support VM configuration
https://github.com/containernetworking/cni/issues/251#issuecomment-231378414
https://github.com/coreos/rkt/issues/2791#issuecomment-231348752

I dont get it why i cannot use same plugin for rkt and docker for both of them (without hypevisor) plugin just need to prepare namespace and runtime need to know how to use it or i'm missing somet

[2016-07-13 11:03] pskrzyns commented on #23335
cc @kubernetes/sig-rktnetes

[2016-07-13 11:13] pskrzyns commented on #25113
cc @lukasredynk

[2016-07-13 11:15] Arachnid opened #28889 "Kubernetes azure support broken on OSX"
Trying to bring up a Kubernetes cluster using Azure by following the guide at http://kubernetes.io/docs/getting-started-guides/azure/ fails while generating SSH keys, because the call to `azkube` specifies a user ID, which is not valid inside the docker-machine instance used for Docker support on OSX, resulting in azkube not having permission to write to the filesystem when trying to generate SSH

[2016-07-13 11:39] ingvagabund opened #28890 "Unable to build kubernetes running 'make'"
After merging https://github.com/kubernetes/kubernetes/pull/25978, I am unable to build kubernetes:

[code]

Before ``eecbfb1a2808b233a4c7032ce26e260276bffde5``:
[code]

Am I something missing?

[2016-07-13 11:56] pigmej commented on #28890
I have the same problem.

`make clean` does not help. (running `make` directly too)

[2016-07-13 11:56] argusua opened #28892 "AWS: EBS volume mount failures due to "timeout expired waiting for volumes to attach/mount""
EBS Volume can't be attached after minion replacement.
Kubernetes v1.3.0

**Test Case**
1. Create EBS volume with aws ec2 create-volume
2. Launch a replication controller with replicas=1 that references the volume.
3. Discover which ec2 instance (minion) the pod is running on.
4. Mark this instance as unhealthy in autoscaling group and wait for startup new instance.

**Expected outcome**
- The new

[2016-07-13 12:07] dims commented on #28890
@ingvagabund @pigmej - "./build/run.sh make" from the root directory seems to work. Though it is using a docker container to execute the make.

[2016-07-13 12:08] pskrzyns commented on #27154
cc @jjlakis

[2016-07-13 12:11] fgrzadkowski opened #28894 "Ubernetes lite in GCE does not allow to change node configuration"
Currently, when using flag `KUBE_USE_EXISTING_MASTER=true` in kube-up.sh, we will simple recreate nodes in a new zone, but we will use the same template. This makes it impossible to use different machine specification, e.g. use SSD or bigger machines. This defeats one of the main reasons why we have introduced ubernetes lite in the first place.

AFAIU it works on AWS.

Am I missing something or is

[2016-07-13 12:19] ingvagabund commented on #28890
@dims thanks for pointing that out. That is so wrong, I don't want to built kubernetes in container.

[2016-07-13 12:28] pigmej commented on #28890
yeah it works, but it's kinda strange.

[2016-07-13 12:30] cdpb commented on #28890
[code]

[code]

git branch on v1.3.0

[2016-07-13 12:31] talk2vino commented on #28888
Its work when i use TLSv1.2 in curl

curl --insecure --user admin:bwteKU6yD3RsFzWI --max-time 5 --silent https://52.42.15.182/healthz --tlsv1.2
ok

I can see the changelog 1.3.0 added
[code]
Do this need to update in the aws/utils.sh in package right ?.

[2016-07-13 12:35] ae6rt commented on #27679
Ping.

I know people are busy, but I understood that k8s 1.4 has a focus on usability, which this issue plays into.

Many thanks.

[2016-07-13 12:47] dims commented on #28890
Another work around I used to have the following GOPATH:
`GOPATH=/home/dims/go`

So i created another directory `/home/dims/k8s-go/` and updated my GOPATH:
`GOPATH=/home/dims/go:/home/dims/k8s-go/`

In this new directory created a soft link to vendor directory in kubernetes root:
[code]

The following work for me.
[code]

[2016-07-13 12:56] idvoretskyi commented on #28890
@dims that sounds like a temporary workaround, not a solid solution.

[2016-07-13 12:57] dims commented on #28890
@idvoretskyi - my first sentence started with "Another work around" :)

[2016-07-13 12:58] deads2k commented on #28450
@eparis Can you help me figure out how to opt out of this?

[2016-07-13 12:58] dims commented on #28890
@idvoretskyi something to get by until @thockin chimes in with his thoughts...

[2016-07-13 13:09] #28314 closed

[2016-07-13 13:09] deads2k commented on #24078
@smarterclayton was hoping to save `@` for indicating a `resourceVersion` for the day when we'd be able to retrieve a historical version of an object via the API.

Does `kubectl ` not alias `--namespace` to `-n` like openshift?

[2016-07-13 13:31] kelseyhightower commented on #18174
@mikedanese I think this is an area where we should enable the simple case of letting all Kubernetes components talk to a list of API Servers. Ideally users can take a different approach, but this feels like low hanging fruit. More advanced solutions outside of allow each component to take a list of API servers should be a much lower priority IMO.

[2016-07-13 13:35] wojtek-t commented on #22448
@xiang90 @hongchaodeng - one more large thing that I think we are completely missing now are scripts. Currently apiserver can be configured to talk to etcd3, but there is:
- no way to start the cluster with etcd3 (using kube-up)
- configure apiserver based on that (in kube-up)
- and stuff like that

If I am not missing something, would you guys will be able to do this piece?

[2016-07-13 13:40] soltysh commented on #28866
Looks like a gke problem, already handled in #28656.

[2016-07-13 13:40] #28866 closed

[2016-07-13 13:42] idvoretskyi commented on #28890
@dims I know, but that won't solve the issue completely :)

[2016-07-13 13:57] timothysc commented on #23354
containers) that can handle multiple pet sets?

I think the answer here is the operators want control over the parameters.  For example, when to do compaction vs. scale elastically may be a fragmentation issue vs. a space issue.

[2016-07-13 13:57] pigmej commented on #28890
So I got it working.

clone / symlink k8s sources (top dir) as `some_path/src/k8s.io/kubernetes` and run `make` from that dir. Set GOPATH to it to. Works perfectly then.

[2016-07-13 14:16] xiang90 commented on #22448
@wojtek-t @lavalamp @hongchaodeng

Most of the etcd3 support code is there. We did some very basic testing:

- unit test inside storage/etcd3 pkg
- customized e2e testing with etcd3 that runs every night

Redhat is helping to run etcd3 with real workload.
We have a etcd2 -> etcd3 upgrade plan. We will publish it next week or so.

Next steps:

The short term goal is to make etcd3 the default backen

[2016-07-13 14:26] dims commented on #28888
@talk2vino yep. filed a PR.

[2016-07-13 14:31] gmarek opened #28896 "make tests sometimes doesn't work for some reason"
Error message is following:

[code]

I can successfully run (or rather fail) the test using `godep go test`

cc @wojtek-t

[2016-07-13 14:46] ingvagabund commented on #28890
Looks like it is already there [1]. Though, saying it is highly recommended. Now, it is a must.

[1] https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#clone-your-fork

[2016-07-13 14:46] thockin commented on #28890
I thought it was already required to be under a GOPATH somewhere?  If it
was working properly before, then yeah, I probably broke it.  Where do you
think would be the most findable place to document it?
On Jul 13, 2016 7:41 AM, "Jan Chaloupka" <notifications@github.com> wrote:

[2016-07-13 14:48] ingvagabund commented on #28890
@thockin in my CI, I don't clone the kubernetes under src/k8s.io. Jenkins is responsible for that and clones the kubernetes under kubernetes directory in its workspace. This will slight update to have the Jenkins clone the repo under different directory.

[2016-07-13 14:55] justinsb commented on #28887
The instructions say to use `MASTER_INTERNAL_IP`, but it looks like you have specified `KUBE_MASTER_IP`.  Can you please try again using MASTER_INTERNAL_IP?

[2016-07-13 14:55] ingvagabund commented on #28890
Anyone new getting familiar with kubernetes will clone the repository (to a random directory). Then see Makefile and just runs ``make`` (or runs ./hack/build-go.sh as so many people have done so far). Nobody will read the docs unless it is necessary. So need for putting kubernetes under src/k8s.io directory makes it a little complicated for newbies (and everyone use to it).

[2016-07-13 14:56] theobolo commented on #28889
Hi @Arachnid,

You can deploy a cluster without using the kube-up.sh simply by using that command with docker :

sudo docker run -it colemickens/azkube:latest /opt/azkube/azkube deploy --subscription-id="{subscription id}" --deployment-name="test-cluster" --location="northeurope" --no-cloud-provider --node-count=2 : it's just an example.

If the kube-up.sh script is not working use that

Feel free

[2016-07-13 15:07] pigmej commented on #28890
@thockin If it's a must have to have that directory structure then I would recommend to adjust scripts and throw error about incorrect directory structure. Otherwise the errors are a bit strange.

[2016-07-13 15:16] childsb commented on #26996
@jingxu97 did #27054 resolve this issue?  Is this remaining open for future refactoring?

If so i'd like to adjust the priority

[2016-07-13 15:19] childsb commented on #26256
Closing this issue since previous fixes made the flake go away.

[2016-07-13 15:19] #26256 closed

[2016-07-13 15:20] childsb commented on #23098
Do we want to document the Alpha function, or wait until beta?

[2016-07-13 15:21] cesartl commented on #28887
sorry that was stupid...
After making this change it seems to go a bit further but I'm still not able to add the node.

In the `daemon.log` file I don't see the error I used to see anymore.

Now it reaches a point where it logs:

    Downloading binary release tar (https://s3.amazonaws.com/kubernetes-staging-1a780d2335f92008afb6287d059de6f2/devel/kubernetes-server-linux-amd64.tar.gz)

Then

    Fa

[2016-07-13 15:24] JorritSalverda opened #28898 "Secret file modifications don't persist since 1.3.0 on GKE"
In one of our containers we mount ssh keys via a secret, then chmod, chown and rename them in the entrypoint script (see https://github.com/Travix-International/docker-gocd-server/blob/16.6.0/docker-entrypoint.sh). The lines that do this are below.

[code]

From the scripts perspective the chown and renames are all happening. However when looking into the container with kubectl exec the files have

[2016-07-13 15:26] thockin commented on #28890
well, it *is* Go code, which really does want to be checked out into a
GOPATH.  Let me see what I can do.

On Wed, Jul 13, 2016 at 7:56 AM, Jan Chaloupka <notifications@github.com>
wrote:

[2016-07-13 15:29] childsb commented on #19589
This is a few months (and releases) old, @sttts is this still a problem?

@AdoHe are you still looking at this issue?

[2016-07-13 15:30] andrewwatson opened #28899 "ELK Stack Example is missing"
http://kubernetes.io/docs/samples/ still links to https://github.com/kubernetes/kubernetes/tree/release-1.3/examples/logging-demo/ which no longer exists.

[2016-07-13 15:31] felixbuenemann commented on #24078
No it does not.

[2016-07-13 15:35] #18885 closed

[2016-07-13 15:38] timothysc commented on #28315
Couldn't this be added as a functional feature to the rescheduler proposal?

[2016-07-13 15:42] thockin commented on #28890
Ahh, here's what is happening.  It's actually a confluence of recent
changes (all mine) that I did not detect were piling up requirements.

The change to use vendor/ demands that any go tools operate from within the
GOPATH, or else they just refuse to find vendored packages.  All the hack/*
scripts were fixed to chdir into GOPATH.  This was the straw that broke my
back, so I finally set up a prope

[2016-07-13 15:50] toidi commented on #28851
http://www.fluentd.org/blog/fluentd-v0.14.0-has-been-released

[2016-07-13 15:59] pigmej commented on #28890
@thockin

c) leave everything as it is but throw meaningful error when incorrect path is detected.

[2016-07-13 16:06] kolov commented on #23241
I tried to run set up kubernetes on fresh Ubuntu 14.04 and 16.04 servers on Digital Ocean (with private networking) with no success.

If I try user different than root (like vcap in config-default), the script breaks fast with:

    vcap@10.129.12.16's password:
    sh: 4: source: not found  // this originates from cluster/ubuntu/util.sh:471

With root it goes further:

    flanneld.conf  100%  56

[2016-07-13 16:13] roberthbailey commented on #28867
I don't see any issues cherry picking a fix for this into the 1.3 branch.

[2016-07-13 16:15] k8s-merge-robot opened #28900 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11123/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #27443 #27835

[2016-07-13 16:16] bprashanth commented on #27679
I think the issue here is search path. Today we have:
[code]
If someone does `nslookup kubernetes` I want a hit on `kubernetes.default.svc.cluster.local`.  Even though `google` is a valid service name and `com` is a valid namespace, if someone does `nslookup google.com` I don't want to cycle through the search path.

@kubernetes/sig-network

[2016-07-13 16:18] quinton-hoole commented on #28894
@fgrzadkowski For each invocation of kube-up.sh, you can specify a different machine type (as well as a different zone).  So it should do what you want.  If it doesn't, then that's just a bug, that should be fixed.

[2016-07-13 16:22] pires commented on #28617
This is happening on 1.3.0 as well.

[2016-07-13 16:23] MHBauer commented on #28890
I vote for A by way of C.

[2016-07-13 16:30] hongchaodeng commented on #28883
This fixes #26043.

[2016-07-13 16:30] chulkilee commented on #28750
I'm seeing this problem on centos 7 + flannel + kubernetes in docker (`containerzed`). BTW even after I stop all docker containers `docker stop $(docker ps -q -a)`, some mounted volume remains (`mount`)

Also for me this error always happen on kubernetes-dashboard pod. I don't know how hyberkube runs all pods (e.g. in serial or parallel)

[2016-07-13 16:34] thockin commented on #28890
There's an interesting corollary to this.  When we make up a fake GOPATH
for tools to execute it, we ENSURE that there are no external deps being
found in GOPATH.  Is that worth the cost?

On Wed, Jul 13, 2016 at 9:24 AM, Morgan Bauer <notifications@github.com>
wrote:

[2016-07-13 16:38] mikedanese commented on #2098
@liggitt thanks for clairfying.

[2016-07-13 16:39] dims commented on #28899
@andrewwatson : looks like when all the docs/examples moved over the docs did not get updated. Can you please throw in a issue in https://github.com/kubernetes/kubernetes.github.io/issues instead of here? Note that the logging-demo is in that repo as well https://github.com/kubernetes/kubernetes.github.io/tree/master/docs/user-guide/logging-demo

thanks!

[2016-07-13 16:44] dims commented on #28890
@thockin : if you see my work around in https://github.com/kubernetes/kubernetes/issues/28890#issuecomment-232344319 i added a new directory to my GOPATH in addition to what i already had there. That directory had a soft link to the vendor directory in my git cloned kubernetes directory

[2016-07-13 16:44] MHBauer commented on #28890
From my limited understanding of the golang ecosystem, anything in vendor should override anything outside of vendor, so I don't think we need an empty GOPATH. Is there a way to test?

[2016-07-13 16:46] dims commented on #28617
@pires : do you have a stripped down example that i can use to recreate the problem? can you please share?

[2016-07-13 16:47] joshm1 opened #28901 "All nodes in my cluster marked for deletion by the kube-controller at the same time"
I'm running a Kubernetes v1.2.0 cluster on AWS.  My master instance is Ubuntu 15.04 (initially provisioned via the `kube-up.sh` script).  I'm only running 4 nodes (also Ubuntu 15.04)

I had an issue today where **all** nodes in my cluster were marked for deletion at the same time, which terminated all pods.  My nodes (all m4.large) were healthy before and after this happened.  5-7 minutes after th

[2016-07-13 16:55] timothysc commented on #28310
/cc @erictune @vishh

[2016-07-13 17:03] jingxu97 commented on #26996
No, it is not resolved yet. We want to keep it open and I should have time
to address this early next week. Thanks!

On Wed, Jul 13, 2016 at 8:17 AM, bradley childs <notifications@github.com>
wrote:

--
- Jing

[2016-07-13 17:04] thockin commented on #28890
Please take a look at #28890

[2016-07-13 17:13] smarterclayton commented on #28616
@kubernetes/rh-storage as discussed we need to help Saad with this

[2016-07-13 17:13] elsonrodriguez commented on #18174
It would also be great if the components could take a DNS name, and if the DNS name returns multiple A records, it would be parsed as OP described.

So if I had domain "master", and 3 A records(192.168.0.1, 192.168.0.2, 192.168.0.3). Passing in:

`--master=http://master:8080`

Would be the same as

`--master=http://192.168.0.1:8080,http://192.168.0.2:8080,http://192.168.0.3:8080`

[2016-07-13 17:13] thockin commented on #28896
Sometimes?  As in running it 10 times in a loop fails some N < 10 times?  what is N?

[2016-07-13 17:13] thockin commented on #28896
I have not been able to repro this.

[2016-07-13 17:17] #28644 closed

[2016-07-13 17:24] pires commented on #28617
@dims nevermind, recreating the secret and deployment worked. I had created it before upgrading from 1.2.2 to 1.3.0, so I can't confirm or deny @rapenchukd report.

[2016-07-13 17:25] jingxu97 commented on #28750
Hi ShashankYadav,

Thank you for posting the log message. In normal situation, those secret
directories should only be mounted once. In order to debug, could you also
share your full log file if it is still available? Thanks!

Jing

On Wed, Jul 13, 2016 at 2:07 AM, ShashankYadav <notifications@github.com>
wrote:

--
- Jing

[2016-07-13 17:27] #13781 closed

[2016-07-13 17:29] bprashanth commented on #23828
https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/petset/mysql-galera

[2016-07-13 17:29] #23828 closed

[2016-07-13 17:32] childsb commented on #6650
We should investigate federated testing as a solution to this.

[2016-07-13 17:32] philk commented on #27430
From the [latest blog post](http://blog.kubernetes.io/2016/07/thousand-instances-of-cassandra-using-kubernetes-pet-set.html): `A relevant analogy is that a Pet Set is composed of Pet dogs. If you have a white, brown or black dog and the brown dog runs away, you can replace it with another brown dog no one would notice.` wat.

I think this is a pretty good example of how "pet" isn't the right name

[2016-07-13 17:38] childsb commented on #17344
Closing since this specific error path and message have since been removed.

[2016-07-13 17:38] #17344 closed

[2016-07-13 17:41] bprashanth commented on #28901
AFAIK nodecontroller shouldn't try to delete nodes unless they disappear from the cloudprovider api.

[2016-07-13 17:43] bgrant0607 commented on #3268
@dims No, this is still a valid issue. Why do you think it should be closed?

[2016-07-13 17:53] childsb commented on #28710
@atombender What does your PODs & PV/Cs look like?  When you say 'Trying to attach EBS volume' are you doing this manually somehow?

[2016-07-13 17:56] girishkalele commented on #27679
There was also concern about PTR records which we support in 1.3 - I don't recall if we did testing to see how dnsmasq behaves with the ```--server=/cluster.local/127.0.0.1#10053``` option for PTR records.

[2016-07-13 17:57] atombender commented on #28710
@childsb: As I wrote earlier, everything works now. What was missing was the pod annotation, which is why I changed the issue title.

FWIW, my manifest just has:

[code]

By "trying to attach EBS volume" I mean "trying to create a pod that uses an EBS volume".

But it works. Just not without the pod annotation.

[2016-07-13 17:59] spiffxp commented on #22452
/cc @kubernetes/sig-testing ref #20919

[2016-07-13 18:00] saad-ali commented on #28750
To be clear, based on what Clayton reported above, there are two issues.

1. `device or resource busy` on secret unmount issue
  * This issue was fixed in https://github.com/kubernetes/kubernetes/pull/27054 for hyperkube.
  * But looks like the issue is not fixed in all cases, as reported in this issue (and https://github.com/kubernetes/kubernetes/issues/25489, https://github.com/kubernetes/kubern

[2016-07-13 18:01] MikeSpreitzer opened #28906 "constant 'eth0' in KUBE-OUTBOUND-NAT chain of nat table from kube-proxy in iptables mode"
Using release 1.3.0, with the kube-proxy in iptables mode, I found this chain in the nat table on a worker node:
[code]
Here 192.168.0.0/16 is the subnet for pod IPs and 100.125.0.0/24 is the subnet for the hosts.

The problem here is that the host's ethernet interface (yes, it has just one) is not named `eth0`.  So all the packets leaving that node get SNATted, which is bad.

This cluster was bui

[2016-07-13 18:07] ae6rt commented on #27679
Thank you.  This helps clarify my thinking and questions.

I am running k8s v1.3.

Let me back up a bit.

Consider this snippet of "kubectl describe <kube dns pod>", showing the dnsmasq container config in an essentially out of the box configuration (https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/cluster/saltbase/salt/kube-dns/skydns-rc.yaml.in#L89)

[code]

[2016-07-13 18:17] childsb commented on #27732
Before I speculate.. why not just use emptyDir as the Volume (skip PV) and call it a day?

Dynamic Provisioning/storage class is not be a good fit since you're asking for node local storage before the node is scheduled.  The provisioning controller will have no way of knowing which node the PV might land on to create the storage.

Is the intent to "warm up" a cache on a node then if other PODs lan

[2016-07-13 18:28] yujuhong commented on #19188
By the way, I just learned that kubelet talks to the apiserver to get the secret again *for every pod on every sync*.

http://kubernetes.io/docs/user-guide/secrets/
```When a secret being already consumed in a volume is updated, projected keys are eventually updated as well. The update time depends on the kubelet syncing period.```

This is quite undesirable, especially if pods all use the same se

[2016-07-13 18:38] timothysc commented on #28311
Discovery should be on initialization either native or as an add-on as part of the cluster boot strapping process.  I'm not entirely keen on the name-spaced labels vs. more generic mechanics where applicable.

[2016-07-13 18:42] pigmej commented on #28890
@thockin this is #28890 you probably meant #28903 ;)

[2016-07-13 18:43] davidopp commented on #28311
Can you explain what you mean? We'd like to avoid "endorsing" one particular partner, especially at the early stages of their work, so having an "intel" label namespace for this stuff seems like a good idea to me.

[2016-07-13 18:48] timothysc commented on #28311
Depends on whether the HW in question is more generally applicable, or fungible, to other vendor solutions.  If not, then it makes perfect sense to label as "intel".

[2016-07-13 18:49] Random-Liu commented on #28698
FYI, docker 1.12-rc4 came out yesterday. Our first run of validation test is red because some system pods in `kube-system` are `Pending` with image pulling error.
[code]

[2016-07-13 18:56] timothysc commented on #28316
Same comment on this as it relates to the re-scheduler, there are overlapping requirements.

[2016-07-13 19:04] davidopp commented on #28311
"intel" isn't intended to refer to the hardware vendor (though presumably they care more about Intel hardware than non-Intel hardware), it's intended to refer to who wrote the software module that is populating the labels. you could imagine someone else in the community doing something where they populate slightly different labels based on discovering the same hardware; we'd put those in a differe

[2016-07-13 19:13] timothysc commented on #28311
Couldn't that be problematic when taken to (N+1) in the case of overlapping labels?

VendorA.label
VendorB.label
...

I'd perfer vendor label to apply more specifically to the non-fungible resource, than to who wrote the "add-on".

[2016-07-13 19:22] stensonb commented on #27884
bummer...just today found another one...though, I suspect this actually started yesterday.

and, this is on a node with the updated CoreOS image.

we've got some additional details coming...

[2016-07-13 19:28] luxas commented on #23233
I have some ideas for addon-manager v2:

_The target addons here are cluster-internal ones that are inside Kubernetes core. User-made addons should be managed via Helm._

 - It should be written in Go and exec kubectl if the golang client isn't good enough to use for this
 - The addon-manager should live inside the cluster as a ReplicaSet.
   - It could be bootstrapped from a static pod which crea

[2016-07-13 19:29] caseydavenport commented on #28906
I think we've traced this to an older version of the Calico getting started guide which set up these NAT rules (see https://github.com/kubernetes/kubernetes/blob/v1.1.8/docs/getting-started-guides/ubuntu-calico.md#nat-on-the-nodes) but doesn't any longer, so not a Kubernetes issue.

[2016-07-13 19:29] MikeSpreitzer commented on #28906
Actually, this was my fault.  It was in my automation based on an old edition of http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/

[2016-07-13 19:29] #28906 closed

[2016-07-13 19:39] stensonb commented on #27884
We noticed the issue this time due to a few containers which were left "dangling".  We performed a rolling update of two RCs.  The rolling update succeeded.  However, two of the pods (one from each RC) remained running on a single host (with the stuck kubelet).

The kubelet logs (`journalctl -u kubelet`) were empty.

Here are the results of `docker inspect` on each container, in case it's useful:

[2016-07-13 19:42] davidopp commented on #28315
The plan was to run one of these controllers per-node. They don't need global information. But even if you ran one per cluster, there are all the standard arguments for separating different logic into different components (why do we have DaemonSet instead of just interpreting ReplicationController with `replicas == -1` as "run on every node", etc.).

My hope is that some day we can unify some of t

[2016-07-13 19:51] lorenzvth7 opened #28912 "Vagrant install: enable custom metrics"
I did perform the Vagrant installation with virtualbox.
This remains after the installation
`heapster 	10.247.2.xxx:80 	0 of 4 	kube-system 	`

I wanted to test autoscaling but therefor the metrics must be enabled.
What is going wrong?
Can't access logs of pods because no pods are started

[2016-07-13 19:54] #17934 closed

[2016-07-13 19:58] zefciu commented on #23828
@bprashanth: Two questions:
1. I was trying to run the manifest manually. But I cannot. The volumes I created are not bound in time for the first galera pod to initialize. Could you give some hints about running this example?
2. There were some concerns, that if a pod gets restarted and changes its IP, then it would fall from the galera cluster. Did you address this concern in your test?

[2016-07-13 20:00] saad-ali commented on #18785
@jeffersongirao What is your scenario exactly? That you have a pod scheduled to node X using an AWS EBS volume, and then you terminate node X? If that is the case, the attach/detach controller [will wait 6 minutes](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/attach_detach_controller.go#L53) for the volume to be safely unmounted before unilaterally detach

[2016-07-13 20:01] dims commented on #3268
@bgrant0607 was wondering aloud since the last few comments were old.

[2016-07-13 20:01] jonmoter commented on #11000
This is obviously an old issue, but adding some comments about our own experience.

I'm building out a highly available Kubernetes cluster in both AWS and on bare metal servers. Thus, multiple API servers. We're using [Hashicorp Vault](https://www.vaultproject.io/) and their PKI backend to generate client and server certs for the different components.

The way we had it configured, each API host h

[2016-07-13 20:03] bprashanth commented on #23828
You need a dynamic provisioner, http://kubernetes.io/docs/user-guide/petset/#alpha-limitations. Do you have one in your cluster? if not you will need to hand create the volumes. Can you describe your failure mode in more detail?

I was under the impression that specifying the hostname in the mysql config will cause mysql to reresolve DNS periodically respecting the DNS TTL. Is that not the case? P

[2016-07-13 20:11] timothysc commented on #27980
/cc @pmorie @kubernetes/rh-cluster-infra

[2016-07-13 20:11] doublerr commented on #6962
Unfortunately I think we'll need to drop support for Rackspace as a deployment target since I can't commit to keeping the deployment scripts up to date.

Rackspace support as a _cloudprovider_ should be maintained.

[2016-07-13 20:24] saad-ali commented on #28772
https://github.com/kubernetes/kubernetes/issues/27590 should cover this

[2016-07-13 20:29] chrissnell commented on #27884
To add to what @stensonb said, the pod objects were actually deleted--it was the containers associated with those now-deleted pod objects that did not get deleted.

[2016-07-13 20:34] luxas commented on #27857
@fejta What do you think about adding a liveness probe to the flower rc?
I think that would be a possible solution. Have had a hard time trying to reproduce the flake, but think that could work.
Will send a PR soon

[2016-07-13 20:34] timothysc commented on #28315
Ohh wait, this sounds more like backfill.

[2016-07-13 20:46] bgrant0607 commented on #3268
@dims Nobody has had time to do it. I have listed it as something we want to do, here:
https://github.com/kubernetes/community/wiki/Roadmap:-kubectl

[2016-07-13 20:46] bgrant0607 commented on #3268
See also https://github.com/kubernetes/kubernetes/issues/24649#issuecomment-213489912

[2016-07-13 20:47] mtaufen commented on #27980
That sounds very reasonable to me. This is probably a good reason to eventually do local checkpointing of config. I'd like to keep things as simple as possible for the next two weeks so I can get a basic prototype of the feature working sooner rather than later.

I think this is important to discuss further. Is there a current issue related to checkpointing config? I see #489, but that looks more

[2016-07-13 20:52] erictune commented on #11000
What you said makes sense.  I hope your head feels better!

[2016-07-13 20:57] bprashanth commented on #25543
@Random-Liu thanks for the help!

[2016-07-13 21:05] #28365 closed

[2016-07-13 21:07] yujuhong commented on #28667
There are proposals/discussions to integrate runc (oci) runtime, kurma, etc. It's the question of whether we want to make integration of non-hypervisor based runtime easier. If they can easily reuse/import what we maintain for the docker integration, that might be enough. On the other hand, it's probably not that easy to reuse our network-related code as it is today.

[2016-07-13 21:13] dims commented on #3268
Thanks @bgrant0607 !

[2016-07-13 21:23] gmarek commented on #23233
cc @wojtek-t @mwielgus

[2016-07-13 21:27] dims commented on #26275
@MikeSpreitzer - I see a comment https://github.com/kubernetes/kubernetes/pull/27964#issuecomment-232136812 which references another https://github.com/kubernetes/kubernetes/issues/28789 So we can close this right?

[2016-07-13 21:28] saad-ali commented on #28750
Debugged this some more (thanks to @justinsb for repro logs). The `device or resource busy` is the root cause of `Unable to mount volumes for pod`. Once the secret fails to unmount repeatedly (for whatever reason), all mounts for that secret are no longer allowed. This will be changed with the fix for #28616 which should reduce the impact of the `device or resource busy` to the original pod that f

[2016-07-13 21:30] Quentin-M commented on #28561
Confirming that the commits above fixes the issue on my environment.

[2016-07-13 21:37] cesartl commented on #28887
Apologises, after some time the nodes does register itself.

[2016-07-13 21:37] #28887 closed

[2016-07-13 21:41] girishkalele commented on #27679
The dnsmasq container will forward entries to the kube-dns container, which consults its local /etc/resolv.conf (all containers in a pod should have the same /etc/resolv.conf I believe), and forwards to the upstream nameservers.

[2016-07-13 21:46] dubstack opened #28918 "Pod UID is not exposed by the downward API volume"
I am working on introducing pod level cgroups in Kubernetes. And I need to access the pod UID from inside the container. I was looking into the Downward API docs and couldn't find Pod UID being exposed.
I believe we should be exposing the pod UID aswell.
cc @kubernetes/sig-node

[2016-07-13 21:54] mboersma commented on #28616
I see something very similar (deis/workflow#372) when four different pods attempt to mount the same secret volume at roughly the same time, except the timeouts are pathological and the pods will be stuck in the `ContainerCreating` status indefinitely.

[2016-07-13 21:56] minjs opened #28919 "Why would ever using log.Fatal to exist application?"
This is so confusing. Why you would exist application from a log package.

[2016-07-13 22:03] saad-ali commented on #28616
@mboersma You're likely hitting https://github.com/kubernetes/kubernetes/issues/28750 The fix for this issue should help a lot.

[2016-07-13 22:10] dims commented on #28919
@minjs what's the specific problem (line/file) where you find this behavior as undesirable?

[2016-07-13 22:13] ddgenome opened #28920 "Build of Go projects importing kubernetes fail because of missing auto-generated code"
This commit https://github.com/kubernetes/kubernetes/commit/9eb42ff1089243928da623c33fb28eb07f910436#diff-5c755714d0649f91c00269ed3d88e19c removed files like pkg/api/v1/conversion_generated.go so now simply running `go get -v k8s.io/kubernetes/pkg/api/v1` fails. While there are ways around this if your intent is building kubernetes, if you have a Go project that imports "k8s.io/kubernetes/pkg/api/

[2016-07-13 22:16] dims commented on #28920
@ddgenome : we are also talking about this in https://github.com/kubernetes/kubernetes/issues/28890 and @thockin has a PR open as well

[2016-07-13 22:18] ye commented on #23273
Got the exact same error message as OP for the past weeks. Finally I was able to resolve it. The culprit was actually NOT because of yaml syntax error but rather an YAML spec error.

[code]

Here is the content of`templates/letsencrypt_register.yml`:
[code]
And the offending bits was the the ".metadata.label", removing it solves the problem.

Note that it passes the YAML online validator http://ya

[2016-07-13 22:34] minjs commented on #28919
There are so many places using glog.fatal, for example
controllermanager.go
l117.
Anyway, put exist in glog, make people confuse.

	leaderelection.RunOrDie(leaderelection.LeaderElectionConfig{
		EndpointsMeta: api.ObjectMeta{
			Namespace: "kube-system",
			Name:      "kube-controller-manager",
		},
		Client:        kubeClient,
		Identity:      id,
		EventRecorder: recorder,
		LeaseDuration: s.Lea

[2016-07-13 22:52] imkin opened #28923 "Release to Release update of kubernetes."
There are so many providers and so many ways to install. But there is no clear way to say how a release to release upgrade impacts my existing cluster. This request is specifically for requesting
1. guideline for release to release upgrade strategy.
2. release to release upgrade matrix for kubernetes components.
3. known issues with upgrades with the release statements.

[2016-07-13 23:04] timstclair commented on #25276
Assigning to Michael to find an owner.

[2016-07-13 23:06] bgrant0607 commented on #27430
For completeness, names that have been proposed in the past that I don't see above include NominalSet, ShardSet, and IndexedSet.

The distinguishing characteristics we want to convey were specified here:
https://github.com/kubernetes/kubernetes/issues/27430#issuecomment-231554652

To expand on the storage point: The controller currently known as PetSet is unique among all the controllers in that i

[2016-07-13 23:09] #26580 closed

[2016-07-13 23:10] abourget commented on #28923
Reading the announcement for etcd3 in Kubernetes 1.3 left me wondering how I'll migrate or if I need to migrate at all.  I wasn't sure if I needed to do that now, later, or how.

[2016-07-13 23:16] bgrant0607 commented on #27430
cc @erictune

[2016-07-13 23:40] dims commented on #28918
@dubstack there's a discussion on adding a couple of more things over at: https://github.com/kubernetes/kubernetes/pull/27880 fyi

[2016-07-13 23:42] spxtr commented on #28920
This is not a dupe of #28890, and I think this one is much more important. From the [golang blog](https://blog.golang.org/generate):

I hate to suggest reverting such a big PR, but this is important.

[2016-07-13 23:43] #28775 closed

[2016-07-13 23:44] dubstack commented on #28918
@dims Thanks for pointing that out.

[2016-07-13 23:48] ddgenome commented on #28920
This does seem separate from #28890, as that is talking about building kubernetes using make and its tools and this is about building with the standard Go toolchain as an import in another project.

[2016-07-13 23:48] mml commented on #28920
cc @lavalamp

[2016-07-13 23:50] bprashanth opened #28924 "Service health check"
This would help loadbalancers. The simplest way to do it (but in no way the only) is through a boolean on the port.

[code]

Which means the frontend loadbalancer looks up the endpoints matching this service, and adopts their tcp/http readiness probe as a health check.
- All endpoints behind the Service must have _the same_ tcp/http readiness probe on the given port
- "ready" endpoints that don't

[2016-07-13 23:50] mml opened #28925 "we should test 'go get k8s.io...'"
We should have some CI tests that warn us when things like #28920 happen.

cc @lavalamp @thockin

[2016-07-13 23:52] mml commented on #28920
Assigning to current buildcop.

[2016-07-13 23:56] bprashanth commented on #28924
Ingress already does this, with the following unfortunate caveats:

1. Only http probes
2. Heterogenous endpoints (some pods have /healthz and some have /foobar on the same targetPort) only get 1 health check (which ever the first pod sorted by creation timestamp has as its readiness probe).
3. Defaults to "/" if no pod has a readiness check

[2016-07-13 23:57] Random-Liu commented on #28698
This seems to be a image pulling flake. I started a gci-canary with docker 1.12-rc4 myself and pulled the image `gcr.io/google_containers/kibana:1.3`. Everything is fine.
Let's wait for the result today.

[2016-07-13 23:58] dims commented on #28920
@ddgenome @spxtr gotcha. thanks for the context, now i understand.

[2016-07-14 00:00] wonderfly commented on #28698
Or, you can log onto Jenkins and trigger a manual build, if you want the result sooner.

[2016-07-14 00:03] aljim commented on #2971
intOrString should be represented as anyOf

[2016-07-14 00:04] Random-Liu commented on #28698
@wonderfly Done! Don't know I have the permission to do that, Thanks a lot!

[2016-07-14 00:13] cjcullen commented on #2971
Yeah, it looks like `intstr.IntOrString` is still broken
[code]
produces

[code]

[2016-07-14 00:15] jimmycuadra commented on #27430
[Another blog post](http://blog.kubernetes.io/2016/07/stateful-applications-in-containers-kubernetes.html) has appeared which quite heavily uses the pets vs. cattle metaphor and makes it very clear that this is the derivation of the name of PetSet. Is there a way to communicate to the Kubernetes marketing team that a rename is being discussed? This kind of attention on the name PetSet is why I emp

[2016-07-14 00:50] changx commented on #27498
unfortunately I hit the bug with hairpin_mode sets to promiscuous-bridge

kubelet v1.3.0, linux kernel 4.6.3

cbr0 has already enter the promiscuous mode, all veth hairpin_mode = 1

[code]

`kubelet` start with parameter `--configure-cbr0=true` `--hairpin-mode=promiscuous-bridge`

[code]

[code]

[2016-07-14 00:52] ae6rt commented on #27679
I see.  My apologies for the misunderstanding.  From my perspective, this issue may be closed, unless someone sees value I cannot.

[2016-07-14 00:53] cjcullen commented on #2971
Not a regression. It has been this way for a long time.

[2016-07-14 00:54] bprashanth commented on #27498
can you `for intf in /sys/devices/virtual/net/cbr0/brif/*; do cat $intf/hairpin_mode; done` ? what distro are you running?

[2016-07-14 00:55] bprashanth commented on #27498
also are you using a network-plugin, overlay (like flannel), which cloudprovider?

[2016-07-14 00:55] mbohlool commented on #2971
is "anyOf" a swagger type? where is it documented?

[2016-07-14 00:57] girishkalele commented on #27498
Are the SELinux warnings normal ?

[2016-07-14 01:04] erictune commented on #27430
Sets are unordered.  Lists, Arrays and Sequence all imply order and having indexes.  So, I don't get why it has to end in set.  I don't even think it is good for it to end in set.

Which opens up:

- PodArray
- PodList
- PodSequence
- PetArray
   - *uuh, no... wait, that last one doesn't work* :smirk:

[2016-07-14 01:07] erictune commented on #27430
They aren't replicas, but they aren't totally different either.  There is only one template.  They all have to have the same PodSpec.  So, "distinct" or snowflake overemphasize the differences.

[2016-07-14 01:07] astropuffin opened #28928 "Prioritizing Pods in Scheduling"
Hey all, I’m looking to extend the default scheduler with a capability that I don’t think exists yet. I wanted to ask here just in case I'm duplicating work.

My workload:
A few services/forever pods, but a large number of terminating pods (not yet using the jobs object, but that’s the general idea). These jobs can run anywhere from 5 min to 3 days, and we pretty much always have more “requests” o

[2016-07-14 01:08] Random-Liu commented on #27498
@changx Maybe a little out of topic. Are you running K8s on GCE? Do you have the node problem detector running in your cluster?

[2016-07-14 01:09] erictune commented on #27430
It would be nice to capture that they are similar, and cooperate to fulfill a single purpose (what we would call a service if that name wasn't taken).  But they have numbers.

Which leads me to the name "Team".  They work together, but they have numbers on the back of their jerseys so that you can tell them apart.

[2016-07-14 01:11] changx commented on #27498
@bprashanth

all veths hairpin_mode = 1

my distro is coreos 1068.6.0

I don't use any network-plugins, and no cloudprovider support here,  controller-manager start with `--allocate-node-cidrs=true` `--cluster-cidr=172.16.0.0/12`  kubelet setup `cbr0` after address allocated by controller-manager, all pods connected each other with static routes which controlled by ospfd running inside docker.

@g

[2016-07-14 01:11] changx commented on #27498
@Random-Liu

not running on GCE. no detector running inside.

[2016-07-14 01:13] Random-Liu commented on #27498
@changx Alright, just want to verify whether the NPD works as expected.

[2016-07-14 01:13] changx commented on #27498
here is the logs of kubelet startup.

[code]

[2016-07-14 01:14] bprashanth commented on #27498
That's the problem, the reason we ran into this to begin with is because of hairpin mode. Apparently it is still getting set, or isn't getting erased in your environment. I don't think we erase existing values.

[2016-07-14 01:18] erictune commented on #27430
Another thought:
While the dictionary definition of "Replica" is an identical copy.  But that is not how we use it in computer systems.  MySQL, which is a key motivating use case for PetSet, talks about the master and slave (yes, I know another offensive term), as both being replicas.  In fact, zookeeper and cassandra talk about replication and replication factors -- which I understand refers to s

[2016-07-14 01:32] changx commented on #27498
that's wired.  I checked all my nodes, each veth hairpin_mode is 1.  it seems it was set to 1 regardless of --configure-cbr0.

[2016-07-14 01:37] changx commented on #27498
there is no existing veth before kubelet create bridge `cbr0`, docker could not start without cbr0 which created by kubelet.

[2016-07-14 01:39] #27922 closed

[2016-07-14 01:50] changx commented on #27498
@bprashanth

hairpin_mode is always enabled if the device is a bridge interface,

`network/hairpin/hairpin.go`

[2016-07-14 01:50] Gnouc opened #28929 "Creating service does not fire an event"
I find a strange thing when writing a monitor service for k8s events.

With `service-sample.yml`:
[code]

In one terminal, I do:
[code]
In other one:
[code]

Then nothing about `Service` shown in watch events screen. When I delete the service, there is:
[code]
I even use the k8s client watch API, filter the `api.Event.InvolvedObject.Kind` is `Service`, but still the same, no events about *create*

[2016-07-14 01:55] tobegit3hub commented on #23241
I got this when following the official tutorial with `KUBE_VERSION=1.1.8`, `FLANNEL_VERSION=0.5.0` and `ETCD_VERSION=2.2.0` in `Ubuntu 14.04`. All the processes seem to run but the final register step fails.

[code]

[2016-07-14 01:56] smarterclayton commented on #28919
This is done primarily to ensure that all exits involve a log message and a timestamp (as well as the code that exited).

[2016-07-14 01:56] #28919 closed

[2016-07-14 02:03] smarterclayton opened #28930 "make on Mac breaks with a bad target for older sed"
[code]

I don't know where the `\nt` at the beginning of the target comes from, but probably from assumptions about sed version that are wrong.

I had to update to gnu-sed 4.2.2 to build.

[2016-07-14 02:05] smarterclayton commented on #28930
Also `paste` ootb on a Mac doesn't work with the rules specified (on el capitan):

[code]

[2016-07-14 02:06] smarterclayton commented on #28930
`paste -sd, -` does work

[2016-07-14 02:15] smarterclayton commented on #28930
I take it back - updating sed did not appear to work.

[2016-07-14 02:31] Gnouc commented on #28930
@smarterclayton most recent OSX version is UNIX certified, a POSIX `paste` requires `-` as file argument when reading input from stdin.

For `sed`, `sed 's/ / \\\n\t/g'` is only guaranteed to work in GNU sed, you need to insert literal newline and tab character there for portability.

[2016-07-14 02:33] dims commented on #13160
@jayunit100 can this be closed now?

[2016-07-14 02:38] therc commented on #27430
Team, Lineup, Ensemble, Cohort or Variants. I agree with @erictune that the name needs to convey some degree of similarity rather than uniqueness.

[2016-07-14 02:39] philips commented on #26903
@euank what is the resolution on this?

[2016-07-14 02:41] philips commented on #28452
cc @timstclair as I can't attach cadvisor labels to this myself.

[2016-07-14 02:58] MikeSpreitzer commented on #26275
Closing in favor of lifecycle hooks.

[2016-07-14 03:08] thockin commented on #28930
Can someone with a mac send a patch?  I don't have a mac...

[2016-07-14 03:12] aljim commented on #2971
Right it seems that anyOf is not supported on swagger,  OAI/OpenAPI-Specification#707
Another type of generation needs to be set in place, since accepting integers with schema string, is impossible in some generated libraries, and also for automated systems that validate requests.

one possibility is to create the schema

numberOrString:
  properties:
     numberValue:
       type: number
     str

[2016-07-14 04:09] thockin commented on #28920
I know the "go way of doing things" is to check generated code in.  But the
code in question causes MASSIVE pain in our contribution queue.  That is
why I am trying to do this.

On Wed, Jul 13, 2016 at 4:59 PM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-07-14 04:10] thockin commented on #28920
I am going to close this.  It's not EXACTLY a dup, but I know whats up and I don't need N issues open.

[2016-07-14 04:10] #28920 closed

[2016-07-14 04:21] bprashanth commented on #27498
Trust me it's not on my (and our other e2e test) clusters, or we'd know because tests would fail, and teh default setup is docker running on cbr0 and using veths. In 1.3 we started using kubenet network plugin by default, but hairpin flag wasn't set since 1.2. I can trace the code path down when I have some time, but I suspect it's something to do with the way coreos is setup.
[code]

[2016-07-14 04:23] toidi commented on #28851
I made some research and found that kubernetes uses `td-agent` instead of `fluentd`.

The latest release of [td-agent 2.3.2](https://docs.treasuredata.com/articles/td-agent-changelog#20160710-version-v232) includes `fluentd v0.12.26`.

[2016-07-14 04:49] smarterclayton commented on #28930
It's update `sed` and every `paste` should end in `-` instead of having no
arguments.

On Wed, Jul 13, 2016 at 11:08 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-07-14 04:49] smarterclayton commented on #28930
(user should update sed, make needs changes to paste)

On Thu, Jul 14, 2016 at 12:49 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-07-14 04:52] Gnouc commented on #28930
@smarterclayton I think we should stick to portable way for `sed`, it's too risky for relying on GNUism. If you don't mind, I will make a PR.

[2016-07-14 05:00] smarterclayton commented on #28930
Sure, thanks

On Thu, Jul 14, 2016 at 12:52 AM, Cuong Manh Le <notifications@github.com>
wrote:

[2016-07-14 05:37] bgrant0607 commented on #28925
No, we're not supporting this.

[2016-07-14 05:37] #28925 closed

[2016-07-14 05:43] bgrant0607 commented on #28559
See also #11606

[2016-07-14 05:45] bgrant0607 commented on #28559
And #5660, #7584

[2016-07-14 05:48] bgrant0607 commented on #28559
@lavalamp @caesarxuchao Could we dedupe this and some of the older issues?

[2016-07-14 05:48] bgrant0607 commented on #4874
@lavalamp @krousey What remains to be done here?

[2016-07-14 05:52] krmayankk opened #28940 "kubectl describe nodes should display free resources for the nodes"
Currently kubectl describe nodes displays two things:-
1: total capacity for the node in terms of cpu and memory
2: Allocated resources for both cpu and memory

What would be nice is to display the amount of free resources remaining on the node based on both cpu requests and memory requests. That would allow implementing  some alarms before the node approaches its limits. Currently we would have t

[2016-07-14 05:54] baiyunping333 commented on #9808
only execute "ssh-keygen"

[2016-07-14 05:58] davidopp commented on #16021
@mikedanese

[2016-07-14 06:07] k8s-merge-robot opened #28941 "TestWatchPods {job}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/14334/

Failed: TestWatchPods {job}

[code]

[2016-07-14 06:09] zefciu commented on #23828
I have created the volumes manually, they get bound to the volumeclaims created by ``petset.yaml``, but the first pod is in Init state forever. In events I get a message ``pvc: datadir-mysql-0, error: persistentvolumeclaims "datadir-mysql-0" not found`` I believe I can fix it by splitting the yaml and creating the claims first. I don't know if there are any more issues.

The changing IP problem is

[2016-07-14 06:18] krmayankk commented on #28940
@davidopp

[2016-07-14 06:46] Gnouc commented on #28930
@smarterclayton Are you sure the `Makefile` worked? I pull the latest from master, then run the same command above, I got:
[code]

[2016-07-14 06:59] danielqsj opened #28943 "Apply Jsonnet to simplify configuration"
Hi all,

Now configuration file should be _json-format_ or _yaml-format_. In my practice, I find that I often need to copy-and-paste some fragments of _JSON_ among some configurations. It's time-consuming and prone to mistake. I think _Jsonnet_ is a cool way to solve it.

Could anyone give me some suggestions? If this is valuable, I'm interested to code it up.
Thanks for insights you can offer.

[2016-07-14 07:29] bgrant0607 commented on #8830
@thockin Please ref this issue in your PRs.

[2016-07-14 07:31] bgrant0607 commented on #24844
Looks like I also filed this here: https://github.com/kubernetes/contrib/issues/869

[2016-07-14 07:47] gmarek commented on #28896
Sorry for the vague report. I had a bug in #28897 in `nodecontroller.go`, where in line 495 instead of `stateInitial` I had `stateFullSegmentation` - reintroducing the bug causes this problem to reappear, while `godep go test` works fine. I'll keep a copy of this commit if in case it'll change today a lot.

[2016-07-14 08:02] ShashankYadav commented on #22319
Using kubernetes 1.3 here. Even thought the default interface is eno1 for my node, I see:
`summary.go:311] Missing default interface "eth0" for s%!(EXTRA string=node`

[2016-07-14 08:31] resouer commented on #23241
ping @dalanlan and @wangzhezhe  to this, could u please take look and see if this scripts needs update?

[2016-07-14 09:03] ShashankYadav commented on #28750
@jingxu97 I am attaching the full logs. I did not encounter this issue when using a different namespace(other than default) for the pods.
[kubelet.txt](https://github.com/kubernetes/kubernetes/files/363326/kubelet.txt)

[2016-07-14 09:08] dalanlan commented on #23241
@tobegit3hub Hopefully I didn't mis-parse your words, you've managed to set this up right?

From your previous message `sudo: brctl: command not found`, looks like it failed to bring up or down docker0 bridge.

[2016-07-14 09:13] dalanlan commented on #23241
@kolov

`Failed to start etcd.service: Unit etcd.service not found.`  This is odd. We wanna take care of the setup process of etcd for you and raise it up via a upstart service, you don't need to worry about that.
Could you please kindly check that if all of the config file and scripts are well placed?

And also `After Ctrl-C, retry:..` just ignore those noises come out from etcd, it's unpleasant

[2016-07-14 09:17] dcolens opened #28947 "termination-log file writable by root only"
if an app runs with a different user than root, the termination-log can't be written because:
[code]
[code]

Is there a security requirement to have the termination-log writable by root only ? Is there a way for non-root users to use the termination-log feature ?

[2016-07-14 09:18] dalanlan commented on #23241
@resouer
I'll admit we didn't handle a quite good job when it comes to shell, but I guess the main part of the script is, like ok or something.
Truly that we need to update it to a newer releases of k8s and etcd, unfortunately it won't be possible for me to access any available machine to conduct a test as of now.
For anyone who's interested in this, please kindly take care of the port thing of et

[2016-07-14 09:20] wojtek-t commented on #26144
I took a deeper look into it and here are some thoughs about it, that should significantly improve performance of pod-affinity features (hopefully it will be good enough to switch it on by default at this point).

1. We should limit the number of allowed "failure domain" values to some constant number. Currently, the default ones are: "host", "zone" and "region". We may consider adding 1 or 2 more

[2016-07-14 09:23] changx commented on #27498
@bprashanth

I trust you, I promise.

I did some tests. None of results told me the flag is set by kubelet. I could not figure out what was happend to these veths. finally, I duplicate hairpin.go to hairpin_unset.go, the only difference is hairepinEnable default to "0", and invoice the hairpin_unset.SetUpContainerPid  when `dm.configureHairpinMode` false. It works!

But, if create veth by hand, th

[2016-07-14 09:25] wojtek-t commented on #28941
@soltysh

[2016-07-14 09:25] soltysh commented on #28941
Looking at it...

[2016-07-14 09:27] wangzhezhe commented on #23241
I could look at this script to check the port thing when installing the etcd. @resouer @dalanlan

[2016-07-14 09:37] tobegit3hub commented on #23241
Thanks @dalanlan @wangzhezhe . The log above "brctl" has been be fixed after installing `brctl-utils`. I have installed `docker 1.11.2` and make `/etc/default/docker` can not be modified. I found kubernetes may modify the docker configuration which make it down because of `port in used`.

And the scripts and document work after installing `docker` in advance. I think @bpatelcs @DahuK @rsabir shoul

[2016-07-14 09:41] dalanlan commented on #23241
@tobegit3hub
Good for you then. We do need to overwrite the config file of docker, cuz we're using flannel. However k8s is totally free of this thing, just pick up whatever you may like when it comes to network setting.

[2016-07-14 09:53] #26269 closed

[2016-07-14 09:57] kolov commented on #23241
@dalanlan

Scripts are certainly well placed: I start on a pristine Digital Ocean instance and all I do is:
  - git clone https://github.com/kubernetes/kubernetes.git
  - edit config-default.sh: nodes="root@10.129.12.16", role="ai", NUM_NODES=1, ERVICE_CLUSTER_IP_RANGE=0.129.12.0/24
  - passwd root
  - kube-up.sh

About the noices at the and: thee real problems is that the script hangs there, the

[2016-07-14 10:02] changx commented on #27498
`docker daemon --userland-proxy=false `   will enable hairpin_mode

[2016-07-14 10:02] toidi commented on #28851
I created docker image with `fluentd==0.14`.
And it even works..

But it still sends log records without sub-second part in timestamp.

[code]

[2016-07-14 10:02] soltysh commented on #28890
@thockin any idea why `make clean all` fails:
[code]

Calling `make clean` and `make all` works ok.

[2016-07-14 10:06] soupdiver commented on #28890
I'm having the same problem when executing `make`. However `make all` works.
Which of both is the intended way to build?

[2016-07-14 10:07] toidi commented on #28851
Attaching `fluentd-es` container log

[fluend-es-log.txt](https://github.com/kubernetes/kubernetes/files/363430/fluend-es-log.txt)

[2016-07-14 10:08] dalanlan commented on #23241
@kolov
Ah no, say from the very beginning, you shouldn't be stuck here `Failed to start etcd.service: Unit etcd.service not found.` By config file I mean `init_conf/etcd.etcd.conf` and `init_scripts/etcd`. If `upstart` fails to bring `etcd` up with all of these files properly placed, it's likely that you should check the system log, like `dmsg` maybe?

[2016-07-14 10:09] Tebro commented on #28527
This was an issue with kubernetes being provided with a Cinder V2 API, instead of V1.

[2016-07-14 10:10] toidi commented on #28851
@a-robinson @jimmidyson do you have any idea about that?

[2016-07-14 10:12] dalanlan commented on #23241
About the `hang forever` thing, `apiserver` has a strong dependency of `etcd` for now, you cannot expect it work without that.

[2016-07-14 10:12] fvigotti opened #28950 "terminationGracePeriodSeconds: 0 , in petset-pod cause node crash"
Hi,
I'm sorry to not have time (I'm really very busy )  to setup a test environment or provide more concrete evidences of that bug,
but I've found that some nodes in my kubernetes cluster ( 1.3.0 ) crashed, kicking me out of ssh session and become unresponsive ( I had to login on my vps provider control panel and trigger a hard reboot of the vps every time )

some vps seems to be more stable then

[2016-07-14 10:15] ashmere commented on #27161
@thockin is there any public docs on your gce soution as this is what I'm struggling with making the cluster service range available over a gce vpn.

[2016-07-14 10:23] danielqsj opened #28951 "Add interface to show more detailed and custom information about cluster and pods"
Hi all,

In our environment, I need to get some logging information about running pods. There are some issues have talked about how to collect log like #24677. But I'm wondering that if there is a standardized logging mechanism for us?

In my opinion, k8s could provide an interface like _/varz_ to collect and show detailed and custom information (key-value pairs) from cluster and pods, and then ot

[2016-07-14 10:25] asalkeld commented on #28877
@Divyaraaga as far as I know there is no support for this currently.

[2016-07-14 10:27] resouer commented on #23241
From a offline talk, I expect @wangzhezhe can work out a way to 1). deploy kubelet as daemons on machines 2). use these kubelet to bootstrap master.  Thus will make ubuntu scripts much simpler I hope.

If anyone see any disadvantage of this self-managed k8s cluster (which is a classical way of the community did today), please let us know.

[2016-07-14 10:34] asalkeld commented on #17727
please close this issue, fixing PR is merged.

[2016-07-14 11:01] #28941 closed

[2016-07-14 11:06] fgrzadkowski commented on #28894
@quinton-hoole Current implementation for GCE is just reusing existing template:

[code]

AFAIU it means there's no way to change machine size or any other parameter except for number of nodes and their names.

[2016-07-14 11:39] suquant commented on #19589
This kind of problem repeat under "quay.io/coreos/hyperkube:v1.2.4_coreos.cni.1" image

[code]

When i use ip of service in "server" field everything working fine !

volume.yaml

[code]

[2016-07-14 12:09] #27679 closed

[2016-07-14 12:21] stregatto commented on #22319
Me too, kubernetes v1.3.0
Error "`Missing default interface "eth0" for pod:kube-system`" for all kube-system pods

[2016-07-14 12:26] #28772 closed

[2016-07-14 12:29] asalkeld commented on #24373
Can we close this issue now?

[2016-07-14 12:30] #28883 closed

[2016-07-14 12:36] lukaszo commented on #25320
Is anyone working on ` Move to GeneralPredicates` ? If no, I can take it.

[2016-07-14 13:17] liyouwei opened #28956 "Unable to build kubernetes running 'make'"
I try :
git clone https://github.com/kubernetes/kubernetes.git
make release

but I get a error:
make: *** No rule to make target `/*.go', needed by `_output/bin/deepcopy-gen'.  Stop.

just like [https://github.com/kubernetes/kubernetes/issues/28890](#28890)
[https://github.com/kubernetes/kubernetes/issues/28890](url)

I try :
"./build/run.sh make" from the root directory

but also get a error :

r

[2016-07-14 13:18] liyouwei commented on #28956
sorry .
link is [#28890](https://github.com/kubernetes/kubernetes/issues/28890)

[2016-07-14 13:52] timothysc commented on #25067
So this is exactly the path that I/we (red hat) had discussed for future add-on support.  My only concern is test automation mechanics.  At some point in the future there will likely be a lot of extensions/add-ons to the point where we will want mechanics to qualify those extensions/add-ons.

[2016-07-14 13:59] smarterclayton commented on #28930
Make sure you are in your GOPATH in the correct spot for Kube

On Jul 14, 2016, at 2:47 AM, Cuong Manh Le <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> Are you sure the
Makefile worked? I pull the latest from master, then run the same command
above, I got:

F0714 13:36:50.652387   21108 main.go:76] Error: Failed making a
parser: unable to add directory
"k8s

[2016-07-14 14:01] nkwangleiGIT commented on #23104
@yujuhong ok, I see, so we need to drain all pods from node first before in-place upgrade kubelet.

BTW, is this the future design, or we plan to make it better? I expect we can support in-place kubelet upgrade without recreate containers, thanks.

[2016-07-14 14:10] bgrant0607 commented on #28890
See #28903

[2016-07-14 14:11] bgrant0607 commented on #28956
Yes, this is a dupe.

[2016-07-14 14:11] #28956 closed

[2016-07-14 14:11] bgrant0607 commented on #28890
cc @liyouwei

[2016-07-14 14:22] timothysc commented on #28408
/cc @kubernetes/rh-cluster-infra @derekwaynecarr

[2016-07-14 14:26] #13585 closed

[2016-07-14 14:27] timothysc opened #28960 "Golang 1.7"
"On x86-64 systems, many programs will run significantly faster, due to improvements in generated code brought by the new compiler back end. As noted above, in our own benchmarks, the code generation changes alone typically reduce program CPU time by 5-35%."

https://tip.golang.org/doc/go1.7#performance

/cc @kubernetes/sig-scalability @smarterclayton @kubernetes/rh-cluster-infra

release time-fra

[2016-07-14 14:32] wojtek-t commented on #28960
That means, that we may consider it for 1.5 release (it would be too late for 1.4).

[2016-07-14 14:44] AdoHe commented on #28940
SGTM. I think this is easy to do. We can add [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/describe.go#L1669)

[2016-07-14 15:03] #21260 closed

[2016-07-14 15:08] thockin commented on #28930
If you get the "expected 'package', found 'EOF'" message it is usually
because something somewhere failed, and left an empty .go file.  `make
clean_generated`

On Wed, Jul 13, 2016 at 11:47 PM, Cuong Manh Le <notifications@github.com>
wrote:

[2016-07-14 15:09] cdrage commented on #12716
@brendandburns is it safe to WARN the user instead of error out that it's being ran without a cloud-provider? Essentially this blocks people whom would like to run kube controller bare-metal without a cloud provider.

[2016-07-14 15:22] brendandburns commented on #12716
@cdrage Yeah, warning seems fine.  Something like: `Warning, no cloud provider provided, services of type `LoadBalancer` will fail.

ServiceController is responsible for sync-ing `LoadBalancer` services with a Cloud provider.  If there is no cloud provider, we should simply not start the ServiceController.

Longer term, the right thing to do is probably to start the `ServiceController` but have it

[2016-07-14 15:32] alph486 commented on #831
Additional Use-Case: Our data science team has trained models and other large datasets that need to be bundled with their app. They don't change too frequently. We'd like to be able to snap off a docker image with their static content and make it available to multiple ML/NLP microservices in our cluster as static content rather than manage automation that downloads it at runtime to the filesystem.

[2016-07-14 15:33] pires commented on #10921
This is a huge no-go for any apps that require some geodata about the users and I don't think @thockin is the only one to have to worry about this. @aronchick this is something we were asking for a year now, and I'm astonished as this hasn't been high on priority list for the project.

The OpenShift guys fixed this, right @smarterclayton? For some time now, I was under the impression you'd be cont

[2016-07-14 15:37] cdrage opened #28961 "Log errors / error out when initializing LoadBalancer with without a cloud-provider specified"
As per @brendandburns 's comment on: https://github.com/kubernetes/kubernetes/issues/12716 longer term, we should error out when a user tries to user type `LoadBalancer` with no cloud provider activated / supplied.

[2016-07-14 15:38] 1gnition commented on #13313
@iterion

How did you change the Fluentd pod configuration? This is a managed add-on pod and any changes to it are overridden automatically by the master node (https://github.com/kubernetes/kubernetes/tree/release-1.3/cluster/addons).

The instructions say that you need to edit the yaml on the master node's filesystem (`/etc/kubernetes/addons`). Unfortunately, the Fluentd yaml is not there. I'm tr

[2016-07-14 15:38] cdrage commented on #12716
Thanks @brendandburns I'll create a PR to update the logging. I've opened up issue #28961 , i'll most likely work on it later in the week.

[2016-07-14 15:49] george-angel opened #28962 "Timeout attaching/mounting volume"
Deployment/Service manifest:

[code]

logs from events:

[code]

In aws, the volume is attached,

On the box:

[code]

In `/proc/mounts` only one is mounted:

[code]

Where can I debug this further?

[2016-07-14 15:55] MHBauer commented on #28960
I want this part of the compiler:

[2016-07-14 15:56] MHBauer commented on #28930
From BSD sed man page:
`     -r	     Same as -E	for compatibility with GNU sed.`

Maybe try that?

[2016-07-14 16:01] Gnouc commented on #28930
@MHBauer It's not about ERE (`-r` enables it), it's about expanding escape sequences in RHS of search and replace `s///`.

[2016-07-14 16:25] childsb commented on #28710
@atombender it should work without manually adding the annotation.

Do you want to try and figure out what caused it to need the manual annotation, or should i close the issue?

[2016-07-14 16:27] chrislovecnm commented on #27430
Can someone change the name of this issue?  Release has already occurred ;)

StatefulSet gets my vote.

Or on the radical side:

PetSet ... just keep the darn name.

[2016-07-14 16:29] chrislovecnm commented on #27161
@thockin should we reopen this?

[2016-07-14 16:30] thockin commented on #28890
What's happening is that there is work that is done outside of any rule to
evaluate and generate dependencies.  when you run `make clean all` the work
is done, then `clean` removes it, then `all` tries to use it, but now it is
gone.

I'll think about how to fix this.  In the mean time, the solution is simply
to run as 2 different rules.

On Thu, Jul 14, 2016 at 7:12 AM, Brian Grant <notifications@

[2016-07-14 16:33] jayunit100 commented on #13160
Yup !

[2016-07-14 16:33] #13160 closed

[2016-07-14 16:36] euank commented on #26903
xref: https://github.com/coreos/bugs/issues/1435 #28407 https://github.com/opencontainers/runc/issues/931

The original issue this was filed over was solved by running the kubelet as a unit during these tests.

There's still some issues with detection that are tracked in the above, but we should be able to close this.

[2016-07-14 16:37] atombender commented on #28710
Yes, it should work, but it doesn't, so I created this issue. I think it's up to someone who wants to go through code.

I took as a cursory peek. `initialNodeStatus` checks for the flag (`--enable-controller-attach-detach`, which should be true by default) and sets the annotation. But in [this block](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1099) the node is nev

[2016-07-14 16:42] childsb commented on #27164
@metral can you retry this on the 1.3 code base and attach logs of the failure? We made extensive changes to the Volume controller code in 1.3..

The issue #20753 was with the recycler.  Yours may be the same or dif.

[2016-07-14 16:45] bboreham commented on #19766
Feel sure I'm missing something but...

The CNI bridge plugin now has a `hairpinMode` flag, so kubenet can use that.

Having done that, we can set `DockerManager.configureHairpinMode` false when the plugin name is non-blank.

[2016-07-14 16:48] caesarxuchao commented on #4874
Clientset is our versioned client. The next step is extract the client lib into its own repo, then vendor it in the main repo, and convert pkg/controllers and pkg/kubelet to use the versioned client.

AFAIK, kubectl should use the dynamic client, @krousey is working on it and have more insight.

[2016-07-14 16:49] childsb commented on #27131
i'm marking this as a feature request against the iscsi volume driver.

RFE:  support iscsi interfaces named something besides 'default'.

[2016-07-14 16:50] MikeSpreitzer commented on #27398
I am not so sure I want that `apiHidden` field.  If the additional addresses are not persisted to the API server, what happens when the kubelet crashes and recovers?  Actually, you have to answer that question anyway, since the kubelet could crash before reporting to the apiserver.

In my use case, I am using an API proxy and it can shield users from seeing certain additional addresses --- so I do

[2016-07-14 16:52] childsb commented on #26791
@alena1108 which PV features are you trying to use that this broke?

[2016-07-14 16:53] MikeSpreitzer commented on #27398
Regarding how a client can cope with a multiplicity of addresses: remember that the IETF has already defined some of this for us.  The difference between global and link-local addresses, for example, is well understood, and does not need any accompanying annotation --- the client knows which are global and which are link-local and can make up its own mind which to use for which.  Similarly for the

[2016-07-14 16:55] childsb commented on #25930
Is this still an issue with the new binding code @jeffvance ?

[2016-07-14 16:59] childsb commented on #25268
Similar #28367

[2016-07-14 17:17] bprashanth commented on #23828
That's a spurious error, I believe it will be fixed by https://github.com/kubernetes/kubernetes/pull/28909
you should be able to run kubectl logs on the init container, any clues? eg k logs mysql-0 -c install

[2016-07-14 17:22] childsb commented on #27725
This is an issue with the PV logic but works in volumes as mentioned here: #24738

[2016-07-14 17:23] bprashanth opened #28969 "Sticky IPs for StatefulSet"
Most of the databases I (https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/petset) and others (https://github.com/kubernetes/kubernetes/issues/28718#issuecomment-231498420) have prototyped seem to handle DNS properly, but there are murmurs that some do not (https://github.com/kubernetes/kubernetes/issues/23828#issuecomment-232565460), and dont' have plans to do so (ht

[2016-07-14 17:24] bprashanth commented on #23828
https://github.com/kubernetes/kubernetes/issues/28969

[2016-07-14 17:26] ae6rt commented on #4874
@caesarxuchao Is there a tracking issue for "next step is extract the client lib into its own repo"?

[2016-07-14 17:28] djsly commented on #28920
What would be a quick way to fix compilation error for project that imports k8s.io/kubernetes/pkg/api/v1

We are using the golang -onbuild docker image to build our program which calls go get
[code]

[2016-07-14 17:28] jeffvance commented on #25930
In the current code when the pvc is created before the pv the time to bind is noticeably slower compared to when the pv is created prior to the pvc.

----- Original Message -----

[2016-07-14 17:39] wstrange commented on #28706
For OpenDJ ldap servers, I have a requirement to update the topology when a pet is scaled down.

The OpenDJ server requires that the scaled down node
be taken out of the replication topology so other servers do attempt to replicate to it.

Some kind of scale down hook would be useful.

[2016-07-14 17:41] alena1108 commented on #26791
@childsb just the regular volume mount/attach; here is is the RC yml example:

[code]

[2016-07-14 17:41] damoon commented on #28718
Ceph Monitors and etcd need sticky IPs as far as I know. Or at least fixed dns names. Currently i use a service per 1 Pod deployment with hostpath volume and node Selector.

[2016-07-14 17:41] timothysc commented on #27430
+1 to StatefulSet

[2016-07-14 17:41] smarterclayton commented on #831
I don't believe it is on the 1.4 list.  Image volumes are hard because they
require support from the underlying volume.

On Thu, Jul 14, 2016 at 11:32 AM, Kevin Kuhl <notifications@github.com>
wrote:

[2016-07-14 17:43] bprashanth commented on #28718
Petset already gives you fixed dns names http://kubernetes.io/docs/user-guide/petset/#network-identity. If you have some working form of ceph with petset I'd be glad to help work out the kinks/understand what we need to grow petset. I believe theres a prototype etcd in the works: https://github.com/kubernetes/contrib/pull/1295

[2016-07-14 17:45] caesarxuchao commented on #4874
@ae6rt, it's https://github.com/kubernetes/kubernetes/issues/28559

[2016-07-14 17:48] childsb commented on #23330
DP enhancements are targeted for 1.4

[2016-07-14 17:51] childsb commented on #22221
@wkharold we've made a LOT of updates around the volume framework code for 1.3.  Can you try this again on 1.3?

[2016-07-14 17:56] childsb commented on #21859
Any chance of testing this on kube 1.3? We've made heavy changes to the volume binding and attach/detach which might resolve the issue.

[2016-07-14 17:56] vinayk06 commented on #23599
@soltysh  can you explain where put those values. I am pretty much a new bee here. you r input is really helpful.
I am not trying to do anything fancy but just trying the examples given by redhat-atomic site.

https://access.redhat.com/documentation/en/red-hat-enterprise-linux-atomic-host/version-7/getting-started-with-containers/

I was trying to create replicaton-controller for webserver.

[2016-07-14 17:57] childsb commented on #21498
Has anyone tested binding latency on kube 1.3?  I'd like to close this!

[2016-07-14 18:00] lavalamp commented on #28920
We intend to publish the client to a separate repository, which will be go-gettable--we're still working out the logistics, though. I'm really sorry this causes pain, but our repository is not really set up to be go-gotten at the moment.

In the short term, can you point at the 1.3 release branch?

Baring that, we could make a go-gettable write-only fork and run a script hourly or something that p

[2016-07-14 18:09] liggitt commented on #28683
do we need this picked to release-1.2 as well? seeing the same error on pulls like https://github.com/kubernetes/kubernetes/pull/28967

[2016-07-14 18:21] mml opened #28971 "allow passing 'go test' args in makefile"
Before the recent makefile revolution (commit faeef5c4ae7068e507a9554252fb03605bd8c8b5) I could say `hack/test-go.sh pkg/controller/disruption -v -run=Foo`.

Now to do that I end up calling `hack/make-rules/test.sh` directly anyway.

I have an approach in mind.  Should produce a PR today.

[2016-07-14 18:23] djsly commented on #28920
OK , I will try updating my godeps to use the following
[code]

[2016-07-14 18:39] djsly commented on #28920
Unfortunately, it isn't that easy to force a specific version since we are using the automagic from the gaoling docker image :(

[code]

[2016-07-14 18:49] #27486 closed

[2016-07-14 19:10] justinsb commented on #28923
Which announcement for etcd3 in Kubernetes 1.3 @abourget ?  I didn't think 1.3 was tested with etcd3 - could well be wrong though!

[2016-07-14 19:18] timothysc commented on #28537
251 concurrent requests from the e2e client seems... odd.

[2016-07-14 19:19] chrislovecnm commented on #23932
What open issues still exist?  Ubernetes?  Ingress and loadbalancing?

[2016-07-14 19:20] chrislovecnm commented on #28718
@damoon I am looking for a use case that requires IP addresses to be sticky.  Otherwise, I will not ask for it.  I think we are coming up dry.

[2016-07-14 19:20] stevesloka commented on #26038
I had the same problem running k8s on Hypriot. I had to add `cgroup_enable=cpuset` to `/boot/cmdline.txt`

I'm running v1.3.0

[2016-07-14 19:21] pwittrock commented on #28940
@krmayankk Are you planning on using this pragmatically somewhere?  We really recommend using kubectl describe in this manner.  I would be interested in learning about your use case more.

[2016-07-14 19:29] davidopp commented on #28940
@pwittrock Can you get all the same info from "kubectl get node -o yaml" as from "kubectl describe node"? I totally agree that the latter is not good to use programatically, but the former would only work as a substitute if it provides all the same info.

[2016-07-14 19:33] chrislovecnm commented on #28706
@wstrange same exists for Elastic and Cassandra.  Upgrades, restarts, scale down.

[2016-07-14 19:33] foxish commented on #7483
@janetkuo Based on our offline discussion, adding a new field to [api/types.go:ReplicationControllerStatus](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1632) is not preferable at the moment. So, we choose to make multiple GET calls to fetch the status of the pods. It seems difficult to see which would be the appropriate place to make those calls back to the pods.

[2016-07-14 19:38] timothysc commented on #1542
@bprashanth that's being far to kind for stateful distributed systems.  You would need a hook-container for literally every lifecycle event to determine the correct action.  At that point you're almost better off creating a controller.

[2016-07-14 19:42] chrislovecnm commented on #1542
@bprashanth why would we elect masters with k8s when the app elects masters?  I am not quite getting what you are proposing.  Stateful apps should do this w/o the help of k8s.  Or maybe I am not getting what you are saying.

[2016-07-14 19:43] chrislovecnm opened #28973 "vSphere limitations with kubernetes"
What are the current limitations / nuances with running kubernetes on vSphere?  For instance, I know that ingress controller varies by platform.

What about:

- Storage
- Ubernetes, Ubernetes light
- OS for minions
- Load Balancing
- Network challenges
- DNS

[2016-07-14 19:45] chrislovecnm commented on #27754
@thockin so what are the actions from this issue?

[2016-07-14 19:46] jberkus commented on #1542
@bprashanth I guess I don't understand why we need this when Etcd/Consul/Zookeeper work perfectly well?

Leader election for Postgres is 2-stage, and stage #2 is highly application specific (it has to do with PostgreSQL log positions).  Given that, I don't really see a way that any generic API would be able to satisfy it.  Right now, we either use state machine knowledge (Flynn.io) where no leader

[2016-07-14 19:47] jberkus commented on #1542
The only thing I could see having is a Kube API for generic DCS functions so that applications written for Kubernetes don't have to know whether they're addressing Etcd, Consul or Zookeeper.  That would require dumbing down the interfaces, though.

[2016-07-14 20:11] foxish commented on #28225
@lavalamp, I cannot seem to reproduce this with newer releases.

[2016-07-14 20:11] timothysc commented on #16508
@roberthbailey The major versioning is primarily based on user expectations, not release policy.  Users can/should expect shifts in behavior on major version numbers.  If a user waits 6 months for the next minor release cycle to take an update and all their script-jiggery is now defunct, that's simply not a tenable user/operator experience.

[2016-07-14 20:14] bprashanth commented on #1542
To clarify, I actually do see people writing the same controller repeatedly. 2 services, 1 for writes and 1 for reads. Write service has just 1 endpoint, the master, read service has all endpoints. Then they move the "role=master" label on the write service between pods after every new master election.

This is a perfect example of something we should aim to make easier, if its possible.

[2016-07-14 20:14] deads2k commented on #27984
@hongchaodeng have you gotten a handle on the current semantics?  I think I'd summarize it like this.

On the producer side:
1. A reflector watches an API endpoint.
1. For each watch event, it queues the event in the delta fifo.
1. The event's object is inspected to determine a key.
1. The delta fifo uses the key to add a delta to the list of deltas associated with the key.
1. It also adds the key

[2016-07-14 20:21] soltysh commented on #23599
@vinayk06 reach me out on #openshift-dev on freenode and I'll help you step by step with what you need. It'll be much easier.

[2016-07-14 20:24] bprashanth commented on #28718
Most pets are not going to run amock in the 1000s. For those that do, you can write a custom autoscaler. Ideally we would integrate with HPA but unless someone has hard use cases for a broad category of pets that need autoscaling I'm tempted to punt on that for beta.

we should add a flag that allows auto-GC of the pvc when a pet is killed.

[2016-07-14 20:32] davidopp commented on #23104
The issue for fixing in-place upgrade is #17397 (the title may be a little misleading, as we may do it differently than kube-push.sh). IMO "not restarting containers" is something we should consider as a possible requirement, but until we know exactly how we will address the issue, it's probably too early to commit to it.

[2016-07-14 20:42] Markbnj opened #28974 "kubectl apply: parsing unquoted number in selector value in yaml fails"
`kubectl apply -f` fails to parse this yaml file due to the unquoted number '1' in the spec.selector.instance and spec.template.metadata.labels.instance fields.

[code]
[code]

If the number is quoted then parsing succeeds. Apologies if this is by design but the use doesn't seem prohibited in any way I can think of, and the error seems inconsistent with the way other fields in a yaml definition ar

[2016-07-14 20:44] andyzheng0831 commented on #27551
Unassign myself as I am leaving this project.

[2016-07-14 20:44] andyzheng0831 commented on #26929
Unassign myself as I am leaving this project.

[2016-07-14 20:55] bprashanth commented on #27551
You mean you're checking out right? this is an open source project, you can never leave :)

[2016-07-14 21:09] andyzheng0831 commented on #27551
My contribution to kubernetes codebase is mainly for supporting gci image. (Just like this issue has a area/os/gci label). I am leaving the gci project now, so I unassigned the issue. It will be better to contact @kubernetes/goog-image for these issues to have a prompt action.

[2016-07-14 21:10] saad-ali commented on #831
No, this request is not on the 1.4 list. There are too many unresolved questions. Even a simple read-only container volume, like @smarterclayton mentioned, is non-trivial to implement (it'd require a good amount of thought on how to support different container runtimes, etc).

[2016-07-14 21:18] robertsdionne commented on #28862
I am closing this issue, since it appears the underlying cause is specifying a revision that is not available at the remote URL. The error message is confusing, however.

[2016-07-14 21:18] #28862 closed

[2016-07-14 21:35] mikedanese commented on #24123
cc @maisem

[2016-07-14 21:39] lavalamp commented on #28225
Can't reproduce because it makes a different patch now?

On Thu, Jul 14, 2016 at 1:11 PM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-07-14 22:07] dstynchula opened #28977 "'kubectl delete job <jobname>' hangs for ten minutes, then times out"
#### Running

`kubectl delete job <job name>`
#### or

`kubectl delete -f <job yaml definition>.yaml`
#### causes kubectl to hang for approximately 10 minutes.
#### (absent waiting 10 minutes, ctrl+c is required to kill the process)
#### After 10 minutes, kubectl reports:

[code]
#### This bug has caused major problems as jobs that have run for months have suddenly ceased to operate normally.
####

[2016-07-14 22:32] vishh commented on #28452
Custom metrics based autoscaling is an alpha feature for reasons like
these.

On Wed, Jul 13, 2016 at 7:42 PM, Brandon Philips <notifications@github.com>
wrote:

[2016-07-14 22:35] davidopp commented on #25320
@lukaszo  I don't think anyone is working on it.

[2016-07-14 23:05] yujuhong commented on #28408
I think it's not defined yet. @Random-Liu, are you working on that?

[2016-07-14 23:31] timstclair commented on #22319
See https://github.com/kubernetes/kubernetes/issues/28407

[2016-07-15 00:01] Random-Liu commented on #28408
We already have the first version introduced https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/environment/conformance.go. Thanks to @pwittrock.

And we'd make improvement based on it and put the system configuration verification part into `kubelet verify`.

[2016-07-15 00:26] k8s-merge-robot opened #28979 "[k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11205/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}

[code]

Previous issues for this test: #27156

[2016-07-15 00:37] chrislovecnm commented on #28973
@bgrant0607 who can help out on this?

[2016-07-15 00:39] chrislovecnm commented on #26317
@pwittrock what is going to be recommended on this?  More documentations for users like me who don't read :)

[2016-07-15 00:40] chrislovecnm commented on #28718
@bprashanth I kinda don't agree.  These are persistent data stores, and having autoscaling based on memory or cpu would be HUGE.

[2016-07-15 00:42] chrislovecnm commented on #28706
@wstrange here is the issue that I wrote about scale up, scale down, upgrades and restarts:

https://github.com/kubernetes/kubernetes/issues/25275

[2016-07-15 00:59] chrislovecnm commented on #23828
@zefciu did you get around IP addresses?

[2016-07-15 01:00] chrislovecnm commented on #28969
I am checking to see if Cassandra can run on DNS fully.  It works for lookup of seeds, but I am seeing that IP Addresses gets bound to a token range.

[2016-07-15 01:02] gudeyang1 opened #28981 "will kube keep the client session for a period of time?"
sorry for my bad english !
i'm really confused about the configuration of RC  `"sessionAffinity: ClientIP"`,is this the same as #"ip_hash"? according to my test ,for several  times i access the SERVICE PORT (configure as nodeport),i was assigned  to one of my pods, if the sessionAffinity: ClientIP means ip_hash i think it's wright .but when a access the SERVICE port after about half an hour ,i was

[2016-07-15 01:03] chrislovecnm commented on #24030
@bgrant0607 is there a reason to keep this open?  I need to merge my Pet Set examples into examples.  But it is supported now.

[2016-07-15 01:09] chrislovecnm commented on #28899
@saad-ali here is another bug on the examples moved to storage ... 😄

[2016-07-15 01:28] bprashanth commented on #24030
Yeah upload a pr with "Fixes #24030" in the description :)

[2016-07-15 01:35] bprashanth commented on #28718
HPA is already aware of how to scale RCs, teaching it to bump up the replica count on a petset can happen without any additional features or api changes, if someone does the plumbing. @kubernetes/autoscaling

autoscaling cross zone/region is a different story.  For that we need WAN deployment prototypes.

[2016-07-15 02:00] smarterclayton commented on #28718
Not probably - are, and having to rediscover every failure.  Distributed
systems need training wheels, and Kubernetes needs to be the tricycle.

On Sat, Jul 9, 2016 at 8:06 PM, Prashanth B <notifications@github.com>
wrote:

[2016-07-15 02:04] smarterclayton commented on #1542
100% agree.  What we have today in the field is *not good enough*
(underscore, exclamation points, etc).

We probably want to proceed in simple steps as noted, but these are
standard patterns that benefit from designed automation tools.

[2016-07-15 02:20] vishh commented on #28619
`working_set` computed in cAdvisor is incorrect. It needs to take into account the status of swap. If swap is disabled, it should not assume that `inactive_anon` pages are reclaimable.
The behavior when swap is enabled is TBD. Given that we recommend users to disable swap, `working_set` computation with swap enabled is not a high priority issue.

[2016-07-15 02:23] vishh commented on #28619
@mtaufen is working on a cAdvisor fix which needs to be cherry-picked into v1.3 branch.
cc @timstclair ^^

[2016-07-15 02:43] bmarks-mylo opened #28983 "curl to api-server IP successful but not through ELB, 401 unauthorized"
I've been going round and round with TLS handshake issues on my workers/minions so for sanity sake I recreated my api-server, worker, and client certificates.  The ELB is configured to forward 443 to 443.  I added the api-server certificate to the ELB 443 listener.  The alt subject names for the api-server certificate include the IP and the ELB DNS name.

Here's the results direct to the master IP

[2016-07-15 03:10] bgrant0607 commented on #28322
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/coding-conventions.md

Added this issue to https://github.com/kubernetes/community/wiki/Roadmap:-Contributor-Experience

cc @kubernetes/contributor-experience

[2016-07-15 03:11] bgrant0607 commented on #27403
@david-mcmahon FYI, these kinds of issues should be filed in contrib (at the moment).

[2016-07-15 03:12] jimmycuadra commented on #26909
I was going to post this on Stack Overflow, but it's seemingly related to this issue (and the lack of thorough documentation about RBAC) so I will include it here. Thanks in advance for any help or clarification!

---

I'm trying to set up RBAC authorization in a Kubernetes 1.3 cluster. Here are the manifests I'm trying to apply in a file named `rbac.yaml`:

    ---
    kind: "ClusterRole"
    api

[2016-07-15 03:14] bgrant0607 commented on #24228
ok-to-merge is gone. What else do we need to do here? @david-mcmahon

[2016-07-15 03:21] justinsb commented on #18174
Looking at the code, and spluking in to the golang HTTP infrastructure, it looks like if we set up a DNS name with multiple A records, that golang should resolve them all, and will try to connect to each of them in turn, and only fail if they all fail.  So I believe that what @elsonrodriguez suggested is already the case.

For example, net.DIaler https://golang.org/src/net/dial.go#L24 has the foll

[2016-07-15 03:23] bgrant0607 commented on #15630
These should just be tests instead.

[2016-07-15 03:24] bgrant0607 commented on #28559
And #12290

[2016-07-15 03:25] bgrant0607 commented on #28559
And #22405

[2016-07-15 03:27] bgrant0607 commented on #22405
See also #28559, #12290, #11606, #7584, #5660

[2016-07-15 03:28] #28831 closed

[2016-07-15 03:56] m1093782566 commented on #20504
/cc

[2016-07-15 04:09] bprashanth commented on #19587
We have various ways to ingress into a cluster with/without kube-proxy now including a nginx ingress controller (https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx) and the haproxy loadbalancer mentioned above, so im closing this

[2016-07-15 04:09] #19587 closed

[2016-07-15 04:10] bprashanth commented on #17627
@cjcullen we fixed this right?

[2016-07-15 04:13] bprashanth commented on #17627
https://github.com/kubernetes/kubernetes/pull/21012 fixed part of it, at least

[2016-07-15 04:20] k8s-merge-robot opened #28984 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/6498/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

[2016-07-15 04:38] sekka1 commented on #26943
@cheld Cool!  That works!  The token and ca.crt are there now.  Thanks!

However something is still different here.  The ingress doesnt complain about not finding the token and crt now but it is timing out on something.  Same setup as v1.2.5 except for this change to the minion nodes running kubelet.

'''
F0715 04:35:17.177010       1 main.go:125] unexpected error getting runtime information: time

[2016-07-15 04:38] matchstick commented on #28868
@yujuhong @saad-ali  this a node bug? Or a storage one?

[2016-07-15 04:40] foxish commented on #28225
I intercepted the request at the apiserver. I tried using client version 1.2.4 as indicated.
The PATCH looks like:

[code]
It contains spec.ports[0].name as can be seen, and throws no errors.
It is the same with client version 1.2.2 as well.

[2016-07-15 04:49] chrishiestand commented on #27430
In my mind, the general use case that stands above the rest is that by contrast to all other pod deployment mechanisms this is the one that allows stateful pods. So my vote is for `StateSet` - it is after all a set of states (thanks @apsinha for a great list); it sounds the best to me and is grammatically akin to `PetSet`, `ReplicaSet` and `DaemonSet`; but I would side with `StatefulSet` as a next

[2016-07-15 05:16] thockin commented on #21498
Not joking, we should bulk close all volume-controller, binder, and
attacher bugs that predate 1.3 - all of that has been rewritten.

Volume driver bugs can stay, of course ;)

On Thu, Jul 14, 2016 at 10:58 AM, bradley childs <notifications@github.com>
wrote:

[2016-07-15 05:24] madhusudancs commented on #27949
This is fixed. Closing it.

[2016-07-15 05:24] #27949 closed

[2016-07-15 05:25] madhusudancs commented on #28073
This can be considered fixed now. As far as I know this should be fixed in all the cloud provider scripts. So I am closing this issue.

Please feel free to reopen the issue if you this happening.

[2016-07-15 05:25] #28073 closed

[2016-07-15 05:31] krmayankk commented on #28940
@pwittrock i think you meant programmatically and not pragmatically, please confirm :-). Yes actually i need programmatic access. I think the fix should be both in the api and in the describe option as well. If no one minds, can one of you assign this bug to me and i can try to submit my first Kubernetes PR for this issue ? Lets first discuss how it should be fix before i submit a PR for it .

[2016-07-15 05:54] slaskawi opened #28986 "Memory based autoscaler"
Hey!

I've been working on integrating Kubernetes and Infinispan (Java based Data Grid, distributed cache,  in-memory key/value store) and I noticed that [Kubernetes horizontal pod autoscaling feature](http://kubernetes.io/docs/user-guide/horizontal-pod-autoscaling) operates only on CPU metrics.

I would like to propose extending the Autoscaler's functionality and adding memory based thresholds (I

[2016-07-15 06:07] thockin commented on #27161
@roberthbailey @cjcullen Do we have published docs on the services routing config "trick" ?

@ashmere It was broken for a couple of 1.2.x releases and was fixed in https://github.com/kubernetes/kubernetes/pull/24429

[2016-07-15 06:11] thockin commented on #10921
It's in progress.

On Thu, Jul 14, 2016 at 8:34 AM, Paulo Pires <notifications@github.com>
wrote:

[2016-07-15 06:18] lixiaobing10051267 opened #28987 "make: *** No rule to make target `/*.go', needed by `_output/bin/deepcopy-gen'. Stop."
No problem until yesterday, now I tried again many times, including clone again, but problem exists:

root@ubuntu:/home/zte/share/k8s-clone/kubernetes# git commit
Checking that it builds...
make: *** No rule to make target `/*.go', needed by `_output/bin/deepcopy-gen'.  Stop.

Checking for docs that need updating... make: *** No rule to make target `/*.go', needed by `_output/bin/deepcopy-gen'.  S

[2016-07-15 06:19] yossiilan opened #28988 "kube-proxy nodePort localhost not working"
I've just launched kubernetes 1.3.0
I have a nodePort service with a port of 30000 mapped to port 5000

when I `curl localhost:30000` it hangs
when I `curl 127.0.0.1:30000` it works (I get a response)

It works on kubernetes 1.1.7

Any ideas?

[2016-07-15 06:21] wojtek-t commented on #28537
Well - whatever it is, we need to fix it. I've seen at least 5 (I think it was closer to 10) failures because of that in the last few days.

[2016-07-15 06:37] wojtek-t commented on #27984
There are details around compression I didn't get into, but you can choose to compress the list of deltas to eliminate unnecessary ones based on a function of your choosing.

Yeah - but I'm not sure anyone is really using it...

[2016-07-15 06:38] thockin commented on #27754
@Random-Liu Can I pass this to you to own?  I'll propose:

0-10 nodes: 100GB
10-100 nodes: 250 GB
100-1000 nodes: 500 GB
1000+ nodes: 1000 GB

What do you think?  I think it's better to err on the side of "too big" and maybe dial back when we have data that it is too big.

[2016-07-15 06:38] thockin commented on #27754
I'm tagging this as a 1.4

[2016-07-15 06:44] tommyknows commented on #18174
@justinsb is right, with multiple DNS-A-records, it works just fine. However afaik (tested it a few months ago on version 1.1.2) you're gonna get lots of error messages and a few problems as soon as one goes down.
To work around this, I wrote a small script on the DNS-server which checks the availibilty of each api-server. If one goes down, it removes the corresponding DNS-entry. If it comes up ag

[2016-07-15 06:44] lixiaobing10051267 commented on #28987
many people have this problem, how can it be fixed?

[2016-07-15 06:55] pires commented on #10921
@thockin can you link issue/PR? Can't find it in the LB umbrella issue https://github.com/kubernetes/kubernetes/issues/24145.

[2016-07-15 06:58] thockin commented on #10921
@girishkalele

[2016-07-15 06:58] thockin commented on #10921
I don't think a design proposal has been posted yet, but I know we were
discussing it this week (face-to-face) in prep for the proposal.

On Thu, Jul 14, 2016 at 11:56 PM, Paulo Pires <notifications@github.com>
wrote:

[2016-07-15 06:58] thockin commented on #10921
@matchstick

[2016-07-15 07:16] stregatto commented on #22319
I think is a wrong assumption.
Perhaps it can be correct for standard pods, but pods can use the worker network (like kube-system's pods, api, controller, proxy, scheduler), this mean the pods do not use eth0 for sure but uses lot of different interfaces (enoX, bondX ... and so on).

[2016-07-15 07:17] stregatto commented on #28407
https://github.com/kubernetes/kubernetes/issues/22319

Perhaps it can be correct for standard pods, but pods can use the worker network (like kube-system's pods, api, controller, proxy, scheduler), this mean the pods do not use eth0 for sure but uses lot of different interfaces (enoX, bondX ... and so on).

[2016-07-15 07:20] sttts commented on #22159
Seccomp PSP support is on its way: https://github.com/kubernetes/kubernetes/pull/28300

[2016-07-15 07:35] sttts commented on #28881
Seems like the apiserver died. We don't have master logs though. Not much to do until we get logs.

[2016-07-15 07:35] sttts commented on #28880
Duplicate of #28656. Closing.

[2016-07-15 07:35] #28880 closed

[2016-07-15 07:52] rhcarvalho opened #28992 "kubelet: nil pointer dereference in desired_state_of_world_populator.go"
I'm seeing this recovered panics in `kubelet.log`:

<details>
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go:158
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go:128
/go/src/k8s.io/kubernetes/_output/dockerized/g

[2016-07-15 08:17] wu8685 commented on #26891
hi @gmarek , please help to review the PR #28994

[2016-07-15 08:18] imkin commented on #28973
@chrislovecnm I am currently maintaining this in my free time.

vSphere deployment steps for kubernetes is documented at http://kubernetes.io/docs/getting-started-guides/vsphere/

- Storage
http://kubernetes.io/docs/user-guide/volumes/#vspherevirtualdisk
@dagnello can comment better on this as he is one of the people who introduced this.

- Ubernetes/Ubernetes light

Not tested. So Not sure.

- OS

[2016-07-15 08:21] imkin commented on #28625
@dagnello

Hi Can take a look or tag someone who can?

[2016-07-15 08:24] imkin commented on #28923
@justinb For this very specific reason we need a "support matrix" somewhere.

[2016-07-15 09:21] sp-joseluis-ledesma commented on #28449
Found the same issue today. Launching a 1.3.0 kubernetes cluster with kube-up using wily distribution brings an unsuable cluster because libltdl7 is not installed.

[2016-07-15 09:43] gmarek opened #28997 "Kubelet doesn't start master components"
Recently we observe increased number of large-cluster startup failures. After very little digging it seems to be a problem in kubelet/cAdvisor/docker. We're seeing the following log repeat itself until the timeout:
[code]

P0 as it happened at least 3 time in last 2 days.

cc @kubernetes/goog-node @kubernetes/sig-node @dchen1107 @Random-Liu @wojtek-t @fgrzadkowski

[2016-07-15 09:49] wojtek-t commented on #28997
Those particular logs come from kubelet on master machine in this run:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gce-scalability/9505/console

[2016-07-15 10:22] damoon commented on #28718
ceph: http://docs.ceph.com/docs/hammer/rados/operations/add-or-rm-mons/#changing-a-monitor-s-ip-address ceph mons NEED static ips

etcd: fixed dns names are good enough. but it seems, a dns request from a pod targeting itself fails for some reason. seems kubedns tries to prevent services to call themself recursively.

[2016-07-15 10:27] zefciu commented on #23828
I still cannot run the YAML. Even with dynamic provisioning I get `pvc: datadir-mysql-0, error: persistentvolumeclaims "datadir-mysql-0" not found`. The volumes and claims however are created.

[2016-07-15 10:40] wu8685 commented on #27454
So, is it supposed to be valid to get value "A,B" for key "seeds" ?

[2016-07-15 10:42] bboreham commented on #28987
I had a similar problem that I fixed by ensuring I was building in a directory `.../k8s/kubernetes`; such that `../../github.com/` was a valid path.  Building in `.../github.com/kubernetes/kubernetes` failed.

[2016-07-15 10:43] k8s-merge-robot opened #28998 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11230/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}

[code]

Previous issues for this test: #27196

[2016-07-15 10:52] sp-joseluis-ledesma opened #28999 "kubernetes unable to successfull mount volume in AWS"
Hello,

   after a node restart kubernetes is not able to be mount a volume successfully. Kubelet logs:

`
Jul 15 10:49:19 ip-172-20-0-107 kubelet[2203]: I0715 10:49:19.294687    2203 reconciler.go:253] MountVolume operation started for volume "kubernetes.io/secret/default-token-6jqrn" (spec.Name: "default-token-6jqrn") to pod "037e9c66-4a76-11e6-9ba9-0e0cbeb16a0f" (UID: "037e9c66-4a76-11e6-9ba9-0

[2016-07-15 11:17] geriBatai commented on #28225
Command execution log attached. True, to get this situation now I had to do

[code]

[typescript.txt](https://github.com/kubernetes/kubernetes/files/365825/typescript.txt)

[2016-07-15 11:26] arjenvanderende commented on #19144
I have the same issue on GKE running master on 1.2.5 and nodes on 1.2.4.
The current CPU% is never updated for 2 HPAs. The events of HPA 1 are empty, but the other has some events:

[code]

Looking at the logs of pods in the `kube-system` namespace the following stands out:

[code]

Deleting and recreating the HPAs has no effect. After recreation, the current CPU% hangs in the `<waiting>` state.

[2016-07-15 11:49] bboreham commented on #28987
This is the same problem as #28890; the generator in `Makefile.generated_files` assumes that you have valid Go development environment set up, and if you don't then it cannot find the dependencies and generates a rule like this:

[code]

(to illustrate:
[code]
)

[2016-07-15 11:50] gmarek commented on #28853
@kevin-wangzefeng PTAL

[2016-07-15 11:50] gmarek commented on #27655
@kevin-wangzefeng PTAL

[2016-07-15 12:16] dims commented on #28987
@lixiaobing10051267 - The recommended way as @bboreham mentioned is here:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#clone-your-fork

Also, fyi @thockin is exploring ways to add back the old use case here:
https://github.com/kubernetes/kubernetes/pull/28903

So until then please try the steps in the first url

[2016-07-15 12:24] gmarek opened #29001 "API server panics when writing response"
When I was running large scale kubemark test (2000 Nodes with 95 pods each) my API server crashed with the error:
[code]

It happened around 110k-120k Pods in the cluster.

It looks like a bug in http2 handling. cc @timothysc @smarterclayton @wojtek-t @lavalamp @kubernetes/sig-api-machinery

[2016-07-15 12:28] zefciu commented on #17902
OK, starting to work according to idea by @bgrant0607

[2016-07-15 12:30] soltysh commented on #28977
I've edited your post fixing markdown formatting for code blocks to be more readable.

[2016-07-15 12:38] duglin opened #29002 "Random behavior with third-party-resources"
Using this script:

[code]

I'm seeing some random errors.

1 - running the above script it fails for me on the `kubectl create -f -` near the bottom when it tries to create `instance12`. Notice that I had already successfully created `instance1` which of the same type:

[code]

Sometimes if I wait a while (like over a minute) then the two `kubectl -f` commands at the bottom work.

2 - At the top,

[2016-07-15 12:49] wangzhezhe commented on #23241
I tested the scripts on ubuntu 14.04 with kubernetes v1.3.0 , it's ok to deploy this version of kubernetes. I doubted the etcd client may needed some time to send messages into etcd after etcd started (or some other reasons?), after some retries , the scripts could function well.
[code]
@kolov @dalanlan

[2016-07-15 12:49] #28756 closed

[2016-07-15 12:55] soltysh commented on #28977
In your case here's what's happening. Your job is in an unexpected state, because it has following spec: `parallelism:0` and `completions:1` but at the same time this status: `active:1` and `succeeded:1`. When it comes to removing a job we are scaling the job to `parallelism:0` and checking [this condition](https://github.com/kubernetes/kubernetes/blob/423106cceef3f50e2085ba89c2151ebd5edfc032/pkg/

[2016-07-15 13:01] bmarks-mylo commented on #28983
After adding the proxy protocol to my ELB I get a successful handshake and a 400:
[code]

[2016-07-15 13:15] gitfred commented on #6099
Folks, are there any steps being taken towards online updates?

[2016-07-15 13:21] aabed commented on #28027
@girishkalele

I see your point but what I am saying is to give the user the flexibility, if he know what he is doing it will not make any conflicts

and it was not a patch actually I just removed the constant for the "svc"

[2016-07-15 13:27] andreykurilin commented on #23402
will work on this issue

[2016-07-15 13:34] DongyiYang commented on #9125
Thanks Tim! I will have a standalone poller and measure its resource consumption

[2016-07-15 13:36] dims commented on #28997
@wojtek-t @gmarek - wild theory. is it possible that the kube-logrotate.service has to be running before kubernetes.target? Looking at:

- https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/node.yaml#L105
- https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/master.yaml#L105

If so, we could add a `Requires=kube-logrotate.service` in the `[unit]` for  kubernetes.

[2016-07-15 13:51] ashmere commented on #27161
@thockin I'm using v1.3.0 are we should it is fixed I get odd results some connections work others don't

simple example of connecting to kubernetes service ip from another gce project connected via gcp vpn
[code]

[2016-07-15 14:15] mwielgus opened #29004 "HPA should inform which pods don't have cpu metrics available"
Currently, the events are not very helpful:

"FailedComputeReplicas failed to get CPU utilization: failed to get CPU consumption and request: metrics obtained for 7/12 of pods".

The event should look more or less like:
"FailedComputeReplicas failed to get CPU utilization: failed to get CPU consumption and request: metrics obtained for 7/12 of pods. Pods aaa-1, aaa-2, aaa-3 (and 2 more) don't have

[2016-07-15 14:30] bprashanth commented on #23828
I can debug when I have some time but the e2e I pointed you at is passing as we speak so I'm guessing it's something to do with your env. where are you running this? have you made any modifications ot the yaml? what does logs show on the init containers? what does describe show on the pod? anything in controller manager logs?

[2016-07-15 14:36] kolov commented on #23241
I confirm it works with `KUBE_VERSION=1.3.0` - this is great, thanks. Can someone fix http://kubernetes.io/docs/getting-started-guides/ubuntu/ where the default version is `KUBE_VERSION=1.1.8`. I tried to make it first working following the instructions and I started with the versions from the tutorial.

[2016-07-15 14:42] deads2k commented on #27984
Largely because we wire them to work queues.  I think I'd be in favor of using compression by default at some point, but I don't see it as particular important.

[2016-07-15 14:46] timothysc commented on #28537
Is it only this test that is causing this issue?  b/c the clients can be overridden via environment variable.

[2016-07-15 15:17] dims commented on #28987
Based on a conversation in slack. Here's a check list.

1) Do you have GOPATH set? Is it a single directory?
2) Have you checked out kubernetes under `$GOPATH/src/k8s.io`? (Cross check the directory name!)
3) Can you `cd $GOPATH/src/k8s.io/kubernetes` and run `make clean`?
4) Can you then run `make gen_deepcopy`?
5) Can you run `make gen_conversion`?

[2016-07-15 15:17] #28930 closed

[2016-07-15 15:26] suquant commented on #28920
+1

[2016-07-15 15:29] mwielgus opened #29007 "Internal error in kubelet summary API"
Happens consistently on one of Kubernetes 1.2.4 nodes.

[code]

[2016-07-15 15:34] djsly commented on #28920
@lavalamp do you guys have an rough ETA ? I would like to see how much effort I should be putting on this knowing that it is still a WIP on your side.

We tried using v1.2.5 but we are hitting the following issue:
https://github.com/kubernetes/kubernetes/issues/23529

while using v1.3.0 we are not getting:
[code]

Fun day it was yesterday :)

[2016-07-15 15:35] euank commented on #27204
@vishh circling back; I was distinguishing `rkt` the container runtime from `rktnetes` the CRI implementation that turns kubelet requests, including `CgroupParent` into something for `rkt` to do.
The semantic issue I was taking here is that @yifan-gu's comment meant that `rktnetes` can set a cgroup parent that kubelet provides and `rkt` will then nest under it happily without any changes to `rkt`

[2016-07-15 15:35] eyalev commented on #26357
What's needed to fix this? Are the broken headers being generated automatically somewhere?

[2016-07-15 15:37] dstynchula commented on #28977
Hi Maciej,

Thank you for taking a look into this! I apologize for the formatting. I'll take your feedback as an invitation to strengthen my grasp of markdown. :)
I'm not sure what in the mix of things I'm doing is generating that condition.
Here is the YAML I'm using the create the job:
[code]

I have a cron task that runs:
[code]
How it had been working is this would remove the old job, and repl

[2016-07-15 15:37] thockin commented on #28987
#28903 has a couple options for fixing this.

On Fri, Jul 15, 2016 at 8:17 AM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-07-15 15:38] thockin commented on #28920
The logrus error is something else - logrus IS vendored by Kubernetes.

On Fri, Jul 15, 2016 at 8:35 AM, Sylvain Boily <notifications@github.com>
wrote:

[2016-07-15 15:39] MikeSpreitzer commented on #28789
At the SIG Node meeting of July 12, 2016 there was discussion about how this issue includes adding lifecycle hooks that the Kubernetes operator can exploit for various purposes.  I do not see that in the initial comment here.  What am I missing?

[2016-07-15 15:42] dims commented on #28987
@thockin one more issue that came up this morning was that someone had checked out under `/home/xyz123/go/src/github.com/k8s.io/kubernetes` and set GOPATH to `/home/xyz123/go`. Was not sure if #28903 would support that case. (cc @bboreham)

[2016-07-15 15:49] joe2far commented on #26357
@eyalev - The warning section is pre-pended to the md docs from the following script
cmd/mungedocs/unversioned_warning.go

The [PR #26702](https://github.com/kubernetes/kubernetes/issues/26702) fixes this issue, updating this script and all the docs...
However,  there is an open question as to where the docs should be removed from this repo which has prevent this PR from being merged.

[2016-07-15 15:55] rootfs commented on #27131
@anish

[2016-07-15 16:07] thockin commented on #28987
no.  The canonical Go import path is `k8s.io/kubernetes` - importing it as
any other path (and expecting GOPATH to work) will not work.  That's just
how Go works (or doesn't, depending on your perspective).

I am pushing on #28903 which will allow the build to run regardless of
GOPATH (fixing the "regression" I introduced).  BUt I also offered #29010
which would assert that GOPATH was valid.  I am

[2016-07-15 16:09] euank commented on #22112
On my systemd host, `/stats/summary` works. I suspect this issue is stale and can be closed.

[2016-07-15 16:15] bprashanth commented on #28718
Lets maintain a list of apps that needs ip on the sticky ips bug (https://github.com/kubernetes/kubernetes/issues/28969) so we can at least start by cautioning users in documentation. Currently you can create a Service pet pet for sticky ips.

@damoon can you comment on the deployment style you'd use for ceph. It sounds like one might want to run ceph as a daemon set and only the monitors as a pet

[2016-07-15 16:17] childsb commented on #18444
We removed the CanSupport(..) call, so the message isn't as cryptic.  Now the mount failure is more obvious (unsupported type in kubelet logs..) closing..

[2016-07-15 16:17] #18444 closed

[2016-07-15 16:19] bhujangr opened #29012 "Pod Status Synchronization - Failed Runtime"
Have been testing a 1.3.0 cluster which at the moment comprises of 1 master and 1 minion (size does not matter). What we find is if we did deliberately kill the docker daemon (kubelet is running) on the minion, for some reason the event that the minion is `Not Ready` is emitted but the status of the Pods never get updated. What I mean is running `kubectl --server=<master-ip> get pods` always shows

[2016-07-15 16:19] #17727 closed

[2016-07-15 16:20] childsb commented on #17706
Closing per application fix mentioned.

[2016-07-15 16:20] #17706 closed

[2016-07-15 16:26] bboreham commented on #28987
Agreed.  But it is not at all obvious how to get from the symptom here to realising that you have broken this rule.

Note the Octocat link from http://http://kubernetes.io/ goes to https://github.com/kubernetes/kubernetes; the obvious next step is to clone to $GOPATH/github.com/kubernetes/kubernetes.

[2016-07-15 16:29] lavalamp commented on #28735
@fejta maybe you can find an infra person to look at this? These look like issues in the leak checker itself, running gcloud.

[2016-07-15 16:29] therc commented on #28928
You also need rescheduling and disruption budgets, for high-priority pods that arrive after low-priority ones, which will is bound to happen at some point. See also https://github.com/kubernetes/kubernetes/pull/22217, https://github.com/kubernetes/kubernetes/issues/22212, https://github.com/kubernetes/kubernetes/issues/23781, https://github.com/kubernetes/kubernetes/issues/12140, etc.
Once that's

[2016-07-15 16:33] dims opened #29013 "On OSX - default BSD grep breaks gen_conversion"
Using the grep from OSX, fails when GREP_OPTIONS/GREP_COLOR is set as shown below (`GREP_OPTIONS=--color=always`).

Workaround : unset GREP_OPTIONS/GREP_COLOR

Note that using GNU grep using brew install will show that GREP_OPTIONS shows immediately that GREP_OPTIONS may be interfering with make (http://paste.openstack.org/show/533072/)

[code]

[2016-07-15 16:34] dims commented on #29013
oh, here's badly manged conversion-gen.mk

[code]

[2016-07-15 16:34] justinsb commented on #28456
This does make sense, yes - thanks @derekwaynecarr .  Three options:

1) don't make that SLO guarantee
2) move the labelling to another controller.  But then we have a PV in an odd state where it is not yet "fully created"
3) skip auto-labelling if the volume is already labeled, and the caller would have to label to get the SLO guarantee

I think option 1 is the best, though I realize that may not

[2016-07-15 16:34] hongchaodeng commented on #27655
I have looked at this before. I will take a look over next couple of days. But expect long delay since it's `[serial]` test..

[2016-07-15 16:35] david-mcmahon commented on #24228
Looks like the last item was covered in #27001.  Thank you, @eparis.
Closing.

[2016-07-15 16:35] #24228 closed

[2016-07-15 16:37] anish commented on #27131
Sorry about the previous comment, I was logged in to the wrong account.

In theory the fix should be easy, just move the path check from iface name to transport_name. I will take a look asap, unfortunately I am travelling till monday.

@mcumings can you share your iface file ? It will help me validate

[2016-07-15 16:43] bgrant0607 commented on #3500
@dims The original proposal wasn't fully implemented, but a new more specific issue can be filed to record additional data.

[2016-07-15 16:43] #3500 closed

[2016-07-15 16:43] thockin opened #29014 "Use Go canonical import paths"
I think we should follow https://golang.org/doc/go1.4#canonicalimports and decorate all of our packages with their canonical paths.  It's sort of tedious, but I have heard a few people who were unhappy that our code lives in `github.com/kubernetes/kubernetes`, but our go import is `k8s.io/kubernetes`.

This should at least cause a more obvious error.

I suppose that means that every package gets a

[2016-07-15 16:44] thockin commented on #28987
https://github.com/kubernetes/kubernetes/issues/29014

On Fri, Jul 15, 2016 at 9:27 AM, Bryan Boreham <notifications@github.com>
wrote:

[2016-07-15 16:44] jberkus commented on #1542
@bprashanth well, there's two different features you're talking about here then.

Feature 1 is access to the Kubernetes-backing DCS via the apiserver.  This seems like a reasonable enough thing to have that it's almost not worth talking about; someone should just write it.

Feature 2 is some kind of PetSet extension that understands single-master services.  This is more of a special case, down to

[2016-07-15 16:44] thockin commented on #29013
Will look, thanks.

For make-related bugs, please @ me directly.

[2016-07-15 16:46] david-mcmahon commented on #27403
Closing.  Dup of https://github.com/kubernetes/contrib/issues/1372

[2016-07-15 16:46] #27403 closed

[2016-07-15 16:49] dims commented on #29013
Will do. thanks @thockin

[2016-07-15 16:56] aronchick commented on #831
@alph486 Can I ask a basic question? If you're already snapping off a docker volume, why not build it into a pod? Eg

[code]

Then, when `my-static-model-image` starts, copy the static content to a volume, and presto, it's shared.

[2016-07-15 16:57] girishkalele commented on #10921
@pires

We are finalizing the proposal - I think it is very likely to be in for 1.4

#28647 is the issue tracking this new feature.

[2016-07-15 16:58] caesarxuchao opened #29015 "#28805 broke scalability suite"
#28805 was reverted because it broke the scalability suite:

http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gce-scalability/9471/
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gce-scalability/9472/

More info: https://github.com/kubernetes/kubernetes/pull/28805#issuecomment-232583459

cc @cjcullen

[2016-07-15 16:58] girishkalele commented on #24145
Adding to this list

#28647 Source IP Preservation for external LB services.

[2016-07-15 17:00] alph486 commented on #831
@aronchick Yes, that's the plan. Since there's potentially a lot of data, I was going to have a script write a symlink to whatever data that pod needs. Which I think will work just fine. It's just nice to be able to have the ability to reference a volume another container exposes is all.

[2016-07-15 17:11] bboreham commented on #28987
The failure comes before any Go builds run.

Expanded out, the line I quoted at https://github.com/kubernetes/kubernetes/issues/28987#issuecomment-232932492 does this:

[code]

when you have fetched the code somewhere other than `$GOPATH/k8s.io/kubernetes`

[2016-07-15 17:16] wojtek-t commented on #28537
I've seen it both in real-cluster-related tests and in kubemarks. But so far I've seen it only in large ones so it seems to be scale-related.

[2016-07-15 17:34] bgrant0607 commented on #24030
@chrislovecnm Where is the example?

[2016-07-15 17:38] bprashanth commented on #1542
We're not going to expose the raw k/v store. It will have to be through a well defined api. Ideally other components in the system should be able to leverage the same pattern, and an admin should be able to figure things out with kubectl. What's the exact requirement here? can you simply write to annotations, or do you need to use TTL/etcd leases etc?

We did at one point have a proposal for a lea

[2016-07-15 17:42] yujuhong commented on #29012
I may be wrong but I don't think this is new in v1.3.

When the container runtime is unreachable, kubelet cannot get the status of the containers, and thus can't update the status.
However, if the node stays not ready for period that's longer the preset threshold (5min?), the node controller will take action and evict all pods on the node.

[2016-07-15 17:42] mbohlool commented on #2971
But that would change the API itself, right? I mean now the target port need to be provided as an object instead of string or integer (instead of targetPort: 12, we would have targetPort: {numberValue: 12}). Type 'object' does not make sense by itself too (without any schema) as no validation can be done and also generated clients does not know what to do with an object with no schema. I suggest w

[2016-07-15 17:47] vishh commented on #22112
Let's close this then!

[2016-07-15 17:47] #22112 closed

[2016-07-15 17:50] vishh commented on #28789
There will be no `hooks`. Instead if one wants to customize the docker
runtime behavior for example, fork the docker runtime implementation in
kubernetes core, add necessary features, build it as a separate binary and
have kubelet use that binary as the runtime. Essentially bring your own
kubelet runtime for customizations that cannot be handled as part of
kubernetes core.

On Fri, Jul 15, 2016 at

[2016-07-15 17:58] colemickens commented on #24343
Another vote for splitting out cloudproviders. Eventually when Azure VMSS (VM Scale Sets) are ready for Kubernetes, they will likely require a separate implementation or some changes to the existing implementation to call different APIs in the VMSS-path. It would be easier to ship this in whichever form if they were decoupled from the full Kubernetes release.

[2016-07-15 18:01] MikeSpreitzer commented on #28789
That seems pretty heavy.
Carrying a permanent fork is pretty ugly practice.
Could I instead create an additional repo that builds a binary from code that wraps the upstream code?

[2016-07-15 18:05] ncdc commented on #28986
fyi @DirectXMan12

[2016-07-15 18:05] yifan-gu commented on #17406
/cc @quentin-m AFAICS from the code, when `hostNetwork = true`, the dns options are ignored.

[2016-07-15 18:07] vishh commented on #27204
FYI: As of now all the cgroups logic is being added to container manager
(`cm`) package in kubelet. Changing the current architecture requires more
thought.

On Fri, Jul 15, 2016 at 8:36 AM, Euan Kemp <notifications@github.com> wrote:

[2016-07-15 18:07] ncdc commented on #28979
@fejta @cjcullen fyi

@lavalamp do you have any ideas for how to treat test flakes that aren't test specific and are flaking because of infrastructure issues like this?

[2016-07-15 18:12] wojtek-t commented on #27984
I agree it makese sense to use compression. What I wanted to say is that if we want to change something about it, it shouldn't be a problem now, since (I think) noone is using it.

[2016-07-15 18:12] aljim commented on #2971
Yes, is an API change that could allow this behavior, swagger 1.2 does not allow oneOf, neither swagger 2.0.

This are the options I see.

1. You could use a discriminator on the parent objects of things that contain IntOrString, but you need to define an extra property that defines this value.

targetPort: {
   numberValue:
   stringValue:
}

2. Change the API to have IntOrString represented as p

[2016-07-15 18:14] #28890 closed

[2016-07-15 18:14] #28987 closed

[2016-07-15 18:14] #28553 closed

[2016-07-15 18:18] cbarlock opened #29021 "Liveness/readiness probe behavior"
Forgive me if this is not the right forum for general questions, but I didn't find a mailing list or web site for questions.

For the liveness and readiness probes, does the readiness probe run for the first time only after liveness has been reported to be successful, or does it run independently, running for the first time after whatever its initialDelaySeconds is?

[2016-07-15 18:18] yujuhong commented on #28997
`Failed to start cAdvisor inotify_add_watch /sys/fs/cgroup/memory/system.slice/kube-logrotate.service: no such file or directory` caused kubelet not being able to sync pods.
Could it be possible that kubelet-logrotate get removed while cadvisor was traversing the directory recursively to add all of them? If so, we should ignore such errors since the file doesn't exist anymore.
/cc @timstclair @vis

[2016-07-15 18:20] lavalamp commented on #29001
@roberthbailey @smarterclayton so it begins :)

[2016-07-15 18:23] timothysc commented on #29001
There is a log'd issue upstream, in process on godep update.

[2016-07-15 18:24] philips commented on #27154
We discussed this at length yesterday with @vishh, @thockin, @yujuhong and others in f2f so I am reporting out.

The overall sentiment in the group was `--since` is important user experience to users who get paged and want to dig in and filter down to actionable data. I feel that `kubectl logs --since` is a mandatory feature and my personal data points are my own usage of k8s and the CoreOS SRE te

[2016-07-15 18:26] quinton-hoole commented on #27739
Should no longer be occurring.  Will be auto-re-opened by the bot if it does re-occur.

[2016-07-15 18:26] #27739 closed

[2016-07-15 18:27] yifan-gu opened #29022 "rkt: rkt should copy the host's /etc/hosts/ and /etc/resolv.conf instead of just bind-mount in hostNetwork mode"
This enables the container to edit the `/etc/resolv.conf` and `/etc/hosts` file without modifying the host's ones (e.g. add the k8s' DNS setting to the hostNetwork container).

The question here is should we apply the dns options (dns, dns search, dns opt) to the hostnetwork container by default?

cc @quentin-m @kubernetes/sig-rktnetes @kubernetes/sig-network

[2016-07-15 18:28] philips commented on #24677
To be clear the systemd-journal format cannot be truncated. And through various discussions it seems the growing consensus is that the kubelet should be doing rotation / truncation. This means that we 100% would not be able to let the kubelet truncate and rotate files and use the journal file format.

I am OK with that if that is the direction things are going as I don't really believe the journal

[2016-07-15 18:36] Random-Liu commented on #28997
I've never seen `/sys/fs/cgroup/memory/system.slice/kube-logrotate.service` in my cluster.
Only `/etc/systemd/system/kube-logrotate.service`

[2016-07-15 18:37] timbunce commented on #26009
Possibly related: coreos/coreos-kubernetes#506

[2016-07-15 18:40] chrislovecnm commented on #28973
Adding @sputnik13 and @dkalleg to this conversation.

Great doc, but we could use the gotchas documented on blogged.

@dagnello what is the capability?  DRS?

Low priority

We need RHEL ... going to do RHEL on EC2 as well

This needs to be addressed

This needs to be documented / addressed.

Hasn't this changed in 1.3?  Are we still using sky?

[2016-07-15 18:45] richm commented on #24677
@philips That implies that the indexing overhead of journal is substantial and well known?  Is this documented somewhere?

[2016-07-15 18:46] philips commented on #22159
How does this play with the CRI? https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/container-runtime-interface-v1.md

cc @yujuhong ?

[2016-07-15 18:51] davidopp opened #29023 "Guaranteed scheduling of critical pods"
We want to ensure that pods deemed "critical" (this is *not* official terminology -- I am just using it in the colloquial English sense) are guaranteed to schedule if there are sufficient resources for them in an "empty" cluster, even if the cluster is non-empty and non-critical pods are currently occupying node resources that the critical pods would need in order to schedule.

Examples of critica

[2016-07-15 18:52] mbohlool commented on #2971
I would say the side effects are acceptable for now (changing APIs just to make this work does not make sense, specially if we need to do it in many places these fields defined). The best solution in my opinion is to define a format "int-or-string" (swagger 2.0 allows it) and mark these fields as type "string" and format "int-or-string". We can change client generators we know to understand "int-o

[2016-07-15 18:53] lavalamp commented on #29002
Any chance #28414 addresses this?

[2016-07-15 18:55] lavalamp commented on #2971
I added this to the umbrella issue.

[2016-07-15 18:55] duglin commented on #29002
@lavalamp I'm pretty sure I tried that PR w/o any luck but let me try again just to be sure....brb

[2016-07-15 18:56] astropuffin commented on #28928
Thanks @therc ! Now that I've had a chance to review the linked issues, I have a couple of comments (below). Also bringing in @davidopp to the discussion.

More context on my specific goal: in order to reduce the average cycle time for jobs, I want to implement a [highest response ratio next](https://en.wikipedia.org/wiki/Highest_response_ratio_next) queue. The current system is effectively random

[2016-07-15 18:57] lavalamp commented on #2971
Changing the API to split out int and string values separately would be a bit of a big deal--it breaks every client ever--we should do it only as a last resort, and we could only do it on a version boundary. v1 objects can't ever make that change. :(

[2016-07-15 19:04] dhawal55 commented on #28643
@justinsb Any update on this? Looks like there are lots of issues related to volume mounting.

[2016-07-15 19:06] mcumings commented on #27131
I no longer have the file precisely as it was.  However, I did have some version of what I had used committed into my VCS.  While not 100% sure this is what I was using while encountering the failure it does looks to be about what I'd expect:

[code]

[2016-07-15 19:06] yujuhong commented on #28997
logrotation is triggered by `/etc/systemd/system/kube-logrotate.timer` and only runs hourly. I assume it was run while cadvisor was starting up, so cadvisor saw the short-lived cgroup.
All my comments above are just speculation :)

[2016-07-15 19:14] mfischer-zd commented on #24677
@philips do you mean something other than

(Reference: https://www.freedesktop.org/software/systemd/man/systemd-journald.service)

[2016-07-15 19:20] foxish commented on #28225
It appears this issue was fixed in 1.2.4 by this [PR](https://github.com/kubernetes/kubernetes/commit/70386e4924ab392c2cf9cfb597f2982c39322126).
Adding `patchStrategy:"merge" patchMergeKey:"port"` to the JSON tag fixes the issue. Should we backport this into 1.2.2?

[2016-07-15 19:24] mikedanese commented on #1542
The leader election client used by scheduler and controller manager implement a lease system on top of annotations. It canprobably be modified to meet new requirements or at least used for inspiration.

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/leaderelection/leaderelection.go

[2016-07-15 19:25] saad-ali commented on #28899
@chrislovecnm This appears unrelated to https://github.com/kubernetes/kubernetes/pull/27977 That PR did not touch `logging-demo` and is not in the 1.3 release branch

[2016-07-15 19:26] davidopp commented on #6099
Unfortunately there are many duplicate issues open on this topic, but I don't know which ones to close.
In any event, #17397 and #23104 are probably the most relevant at the moment.
Nobody is working on it but we know it's important. We're currently trying to find someone to do it.

[2016-07-15 19:28] chrislovecnm commented on #28973
cc @ghand

[2016-07-15 19:48] davidopp commented on #28928
I chatted with @astropuffin on Slack to unblock him for working on something that meets his requirements, but with the understanding it wouldn't be upstreamed as-is. I'll reply to this issue when I get more time.

[2016-07-15 19:54] davidopp commented on #6099
(To clarify: the "it" is in-place node upgrade. Whether it will guarantee to not kill running pods is TBD.)

[2016-07-15 20:33] lavalamp commented on #28225
1.2.4 *is* a patch release of 1.2.2 (we haven't yet needed to do an e.g. 1.2.2.1, and would only consider that for an extreme security problem I think). So the answer is just to update to 1.2.4 or later (1.2.6 was just released). Thanks for investigating!

[2016-07-15 20:33] #28225 closed

[2016-07-15 20:49] girishkalele opened #29025 "Better User-Agent or other HTTP headers to identify probes"
Grabbed tcpdump of a readiness probe - the src ip was the bridge address (10.244.1.1), but apart from this, there is no identifying information in the HTTP request that this is a Kubernetes daemon requesting readiness checks - this might help QoS/priority assignment by the container application.

[code]

[2016-07-15 20:52] andrejvanderzee opened #29027 "Kubelet's heartbeat to apiserver pauses between GET and PUT"
Hi,

We are experiencing long delays in the Kublet's heartbeat cycle to the apiserver (with --node-status-update-frequency=10s). The problem looks to be between the GET and PUT of the heartbeat. This is what we see in the kubelet logs:

[code]

After the second successful GET, it takes 43 seconds to send the next PUT.

Then we see that the PUT fails because in those 43 seconds the apiserver update

[2016-07-15 20:54] elsonrodriguez commented on #831
@aronchick @alph486 That pattern seems good to me. It's a novel use of existing primitives, and looks like it does the job.

Would volume containers offer much benefit over @aronchick's pattern?

[2016-07-15 20:58] girishkalele commented on #29021
I just tried it and it seems to be independent - each running after whatever its initialDelaySeconds is set to.

[2016-07-15 21:00] duglin commented on #29002
@lavalamp nope, still fails for me using #28414.

On a related question... is it normal for thirdPartyResource types to not be visible right away? I find that I have to add a `sleep` in there to wait for these new types to be known. I understand that some things in kube need/should-be async, but I'm not sure why the creation of these would be.

[2016-07-15 21:10] saad-ali opened #29028 "vsphere volume should implement attacher interface"
The vsphere volume [calls out to cloud provider to attach a volume](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/vsphere_volume/vsphere_volume_util.go) as part of the `setup(...)` step in the `mounter` plugin interface.

*The vsphere volume plugin should be refactored to implement the volume [`Attacher` plugin interface](https://github.com/kubernetes/kubernetes/blob/master/pkg/v

[2016-07-15 21:11] #26183 closed

[2016-07-15 21:18] yujuhong commented on #22159
We will have to extend CRI to support this as well. There are a few things in the pipeline that we will need to add later, and this is one of them. Let me file an issue.

[2016-07-15 21:19] samuraisam commented on #23880
Does #24090 support this?

[2016-07-15 21:21] yujuhong opened #29029 "Supporting new features in CRI"
There are a few features planned or in the process of being added to kubernetes, and we need to plumb this via CRI. Filing this issue to keep track of them for the time being.

(More to be added)
- [ ] apparmor #22159
- [ ] sysctl #27180
- [ ] Nvidia GPU (in `pkg/dockertools` already, but currently is experimental)

[2016-07-15 21:25] therc commented on #23880
For AWS, you can use a combination of https://github.com/kubernetes/kubernetes/pull/23495 and https://github.com/kubernetes/kubernetes/issues/26268

[2016-07-15 21:26] samuraisam commented on #23880
Can it be accomplished on GCE?

[2016-07-15 21:31] yissachar opened #29030 "Large Cluster docs not displaying critera list"
In the [Large cluster raw docs file](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/cluster-large.md) I see the following:

However, on the [docs site](http://kubernetes.io/docs/admin/cluster-large/) only the first two sentences are visible and the criteria list is not displayed for some reason.

[2016-07-15 21:36] yissachar commented on #29030
Closing here, and recreating this issue in the proper repo: https://github.com/kubernetes/kubernetes.github.io/issues/862

[2016-07-15 21:36] #29030 closed

[2016-07-15 21:40] yujuhong commented on #29021
Forums for kubernetes questions in general:
* stackoverflow: stackoverflow.com/questions/tagged/kubernetes
* slack channel: https://kubernetes.slack.com/messages/kubernetes-users/
We prefer github to be used for reporting bugs or asking for features :)

Yes, as @girishkalele answered, they are independent.

[2016-07-15 21:48] kargakis commented on #7483
Can you elaborate on why? We are already doing this for Deployments and 1) I have stumbled across many cases where people want to know the available replicas of their controllers individually and 2) doing this at the replica set status and then using that at the deployment level seems more correct and would offload complexity from the deployment controller. That's why I have opened https://github.

[2016-07-15 21:50] cbarlock commented on #29021
Thank you both!  Will use github correctly going forward.

[2016-07-15 21:50] #29021 closed

[2016-07-15 22:02] chrislovecnm commented on #27754
1TB is a bit big :)

@thockin  how about
1. volume for logs
2. volume for dockers images
3. machine sizing for S,M,L,XL deployments (compute / ram, for cross-cloud deployments)

I assume that you don't want LVM, but that is my preference.

[2016-07-15 22:03] vishh opened #29033 "Have kubelet delete all pods"
As of now kubelet deletes pods that have a graceful termination period > 0 seconds. Why not have kubelet delete all pods, even ones that have graceful termination == 0 ?

Having kubelet delete pod objects will make it possible to identify pods that are still being cleaned up kubelet, and hence occupying some resources. Ideally, a pod should not be considered as deleted until all its resources have

[2016-07-15 22:04] saad-ali commented on #28992
Taking a look. The offending line is:
[code]

which means that the `kubeContainerRuntime` must be `nil`.

[2016-07-15 22:04] vishh commented on #29033
@dubstack: If we go with this idea, the chances of kubelet having to reject pods should be minimal.

[2016-07-15 22:11] saad-ali commented on #28992
The loop runner catches it so it doesn't bubble up too far and doesn't effect the populator loop since it runs periodically anyway.

But it shouldn't be happening. Need to understand if it is normal for `kubelet.containerRuntime` to be `nil`. If so, the fix is a simple `nil` check.

[2016-07-15 22:14] mikedanese commented on #27980
We need to verify that the round trip conversion tests are running on this api group, and enable them if they are not.

[2016-07-15 22:16] davidopp commented on #29033
There's some discussion of this general issue in #20497 starting with this comment:
https://github.com/kubernetes/kubernetes/issues/20497#issuecomment-190976488

I think it makes a lot of sense to have all pod deletion for pods that are bound (nodeName is not empty) go through the same path, even independent of the issue @vishh is mentioning. But I'm happy that we now have a real-world justificati

[2016-07-15 22:20] dstroot commented on #2585
Access *external* database from inside K8S
--------------------------------------------

I have workers inside K8S that want to talk to an external database.  I have created an external mapping to SQL server like so:

[code]

DNS seems to work and "database" resolves to a 10 net address which I think points to the external address.  BUT pods can't seem to successfully access/login.

Thoughts/sugge

[2016-07-15 22:26] saad-ali commented on #28992
Looks like it happens for `kubernetes-pull-build-test-e2e-gce`, tests pass, but the logs are littered with the panic.

cc @yujuhong

[2016-07-15 22:31] Random-Liu commented on #27754
@thockin Sure.

Do we want to change the master instance size or use a volume? Which would be better?

[2016-07-15 22:38] DirectXMan12 commented on #28986
See also #28628

[2016-07-15 22:42] chrislovecnm commented on #27754
@Random-Liu volume ... PLEASE ... sugar on top

[2016-07-15 22:46] vishh opened #29035 "[Feature] Add Pid limits"
Recent kernels and docker now support limiting the number of processes that a container can spawn. The overall pid limit is typically much lower that the overall memory availability and it is often possible for nodes to run out of pids.

We can treat this resource as being similar to memory. A pod can specify how many pids it expects to use.
Like in the case of memory, scheduler uses requested pid

[2016-07-15 22:49] roberthbailey commented on #29001
You mean finding issues that were previously masked. Early in the 1.4 dev cycle seems like a great time to find those.

[2016-07-15 22:49] saad-ali commented on #28868
Looks like node:
[code]

[2016-07-15 22:53] kerneltime commented on #29028
cc @abrarshivani @msterin

[2016-07-15 23:50] thockin commented on #27754
Doing it as a volume brings a lot more complexity.  Can we first fix the
problem of running out of space and THEN talk about overall bettering of
the system?

Maybe 1TB is too big  How about 100, 200, 350, 500 ?

On Fri, Jul 15, 2016 at 3:43 PM, Chris Love <notifications@github.com>
wrote:

[2016-07-15 23:56] davidopp commented on #27754
Unless I'm misunderstand what you're asking for, there's guidance for that here
http://kubernetes.io/docs/admin/cluster-large/

Please send a PR to update it if you'd like to change or expand the recommendations.
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/cluster-large.md

(I'm not talking about the volume stuff here, just the part of your message that I quoted above

[2016-07-16 00:01] Random-Liu commented on #27754
http://kubernetes.io/docs/admin/cluster-large/

If so, except changing https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L663,  maybe we should also have disk size recommendation in the doc http://kubernetes.io/docs/admin/cluster-large/.

[2016-07-16 00:02] Random-Liu commented on #27754
problem of running out of space and THEN talk about overall bettering of
the system?

OK. So
* For short term, I'll update https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L663 to make the disk size larger.
* For long term, we should discuss whether to have separate volume for master log.

[2016-07-16 00:05] coufon opened #29039 "Host ports are not mapped when kubenet is enabled in e2e-node-test"
In e2e-node-test we want to use a standalone Cadvisor pod to monitoring kubelet/docker-daemon resource usage. We create the Cadvisor pod in the e2e-node-test framework and have 8090(host):8080(container) port mapping. However, the pod runs successfully but the port is not mapped.

We tried disabling 'kubenet' (--disable-kubenet=true) and found this problem was gone. We tried on three test images (

[2016-07-16 00:11] pnovotnak commented on #25828
I've upgraded to 1.3, but I'm still having the issue where ROX volume claims are not mounted properly.

`$ kubectl get pv`

    NAME        CAPACITY   ACCESSMODES   STATUS    CLAIM                   REASON    AGE
    databases   500Gi      ROX           Bound     a-namespace/databases             7m

`$ kubectl get pvc --namespace=a-namespace`

    NAME        STATUS    VOLUME      CAPACITY   ACCE

[2016-07-16 00:11] bprashanth commented on #27754
wait, isn't there a log spam issue? i remember Chris rm -rf'd the directory and in 1h it was full again, before the next logrotate.

[2016-07-16 00:12] Random-Liu commented on #29039
I've debugged this with @coufon just now. We found that `hostport` would never work in node e2e test when `kubenet` is enabled. And once we disable `kubenet`, everything works fine after that.

We are not sure whether this is an issue in kubenet or node e2e test image. Maybe because we didn't set the docker flag `--iptables=false --ip-masq=false`(https://github.com/kubernetes/kubernetes/blob/maste

[2016-07-16 00:13] k8s-merge-robot opened #29040 "[k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a service. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11266/

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a service. {Kubernetes e2e suite}

[code]

[2016-07-16 00:13] Random-Liu commented on #29039
BTW, if `--iptables=false --ip-masq=false` is a must have, we may want to check it in `kubelet verify`.

XRef https://github.com/kubernetes/kubernetes/issues/28408.

[2016-07-16 00:14] smarterclayton commented on #29001
That'd be a great tag line:

Kubernetes: Destruct testing your go libraries since 2014

[2016-07-16 00:15] smarterclayton commented on #2585
I think this is covered by referential services
https://github.com/kubernetes/kubernetes/issues/13748

[2016-07-16 00:16] smarterclayton commented on #29033
Technically grace period 0 *is* force deletion.  Grace period 1+ is
everything else. Which is why zero is handled differently.

[2016-07-16 00:18] bprashanth commented on #29039
hmm can you look at your iptables rules for the kube-hostports chain? something like
`sudo iptables -t nat -L | grep -i KUBE-HP -C 10`
should be enough

what's it pointing to? can you curl the endpoint ip etc

[2016-07-16 00:24] bmikhael opened #29041 "SkyDNS | failure to forward request "read udp ${outside_DNS_IP}: i/o timeout""
I'm trying to setup SkyDNS on a Kubernetes cluster running on bare-metal with Calico network.

I keep getting the following error from SkyDNS container:
[code]

Although the etcd instance is running fine and kube2sky successfully added entries for Kubernetes in the etcd database as follows:
[code]

I'm using the following Kubernetes RPMs:
[code]

and that's the DNS replication controller YAML file

[2016-07-16 00:26] thockin commented on #27754
There is ALSO a logspam issue, but running out is sort of bad.

On Fri, Jul 15, 2016 at 5:12 PM, Prashanth B <notifications@github.com>
wrote:

[2016-07-16 00:32] saad-ali commented on #25828
@pnovotnak Let's debug it then.

Could you repro the issue and share the following with me:
  * The pv/pvc/pod definition files.
  * What order you created the pods in which ones succeed which ones fail.
  * Your `/var/log/kubelet.log` files from your nodes

Feel free to email this to me (email address in profile) if you don't want to share publically.

[2016-07-16 00:40] chrislovecnm commented on #27754
@thockin yah How about 100, 200, 350, 500  works better.

No I don't think there is a big log spam issue, as much the server was busy.  Spam to me is repeated messages that are duplicates, this was just a busy fast server.

[2016-07-16 01:00] Random-Liu commented on #28997
All my comments above are just speculation :)

Offline discussed with @vishh and @yujuhong, https://github.com/kubernetes/kubernetes/issues/28997#issuecomment-233043524 should be the root cause.

In this master, we can see:
[code]
It means that cadvisor did see `/sys/fs/cgroup/memory/system.slice/kube-logrotate.service` during [start up](https://github.com/google/cadvisor/blob/master/manager/manag

[2016-07-16 01:14] #28867 closed

[2016-07-16 01:18] dstroot commented on #2585
@smarterclayton Yep!  Thanks for sharing.

That's why I posted here - I also saw your other thread that was circling around this concept.

[2016-07-16 01:30] ConnorDoyle commented on #28311
Hey @timothysc, I've talked about that exact question with some other folks who contributed to the OpenStack glance metadata APIs [link](http://docs.openstack.org/developer/glance/glancemetadefcatalogapi.html). The main idea there is to enable software of diverse provenance to interoperate by sharing some data representations. Is something like that what you have in mind?

For this issue, labels s

[2016-07-16 01:56] #29022 closed

[2016-07-16 02:04] bprashanth opened #29043 "Allow leading * in ingress hostname and validate tls.hostname"
The hostname in the ingress rules should be a valid domain, the hostname in the tls section should be a valid san formatted hostname.
rules.hostname https://tools.ietf.org/html/rfc1034#section-4.3.3
tls.hostname https://tools.ietf.org/html/rfc2818#section-3.1

Currently we validate the former with: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/validation/validation.go#L3

[2016-07-16 02:10] mmontagna commented on #27454
Yes that is what I expect, or if there was some way to quote it such that "A,B" was the resulting value of seeds.

[2016-07-16 03:43] thockin commented on #831
The idea was to avoid the copying and the manual-ness of it.

On Fri, Jul 15, 2016 at 1:55 PM, Elson Rodriguez <notifications@github.com>
wrote:

[2016-07-16 03:48] justinsb commented on #28643
Sorry for the delay @dhawal55 .

Looks like a confusion between hostname & nodename in the volume code.  I'm currently looking at going through the whole codebase and replacing every `nodeName string` with `nodeName types.NodeName`.... wish me luck!

Have found the bug I think you're hitting, but may still find others...

[2016-07-16 04:02] kevin-wangzefeng commented on #28853
I'm trying to reproduce on my environment, but not find the cause yet.

[2016-07-16 04:04] mqliang commented on #24199
@saad-ali

Using Secrets mechanism to inject ssh key seems have several problems:

* The key of Secrets must be a valid DNS_SUBDOMAIN, which does not support '_', however, it's common that a ssh key file has a file name containing a '_', for example `~/.ssh/github_rsa`

* The mode of ssh key file should be 0600, however, the volume mount in pod using Secrets is 0644

[2016-07-16 04:54] dhawal55 commented on #28643
@justinsb Thanks for the update. Just wanted to check the status. Let me know if i can help in any way.

[2016-07-16 05:23] thockin commented on #20466
This seems to be resolved now?

[2016-07-16 05:23] #20466 closed

[2016-07-16 05:46] k8s-merge-robot opened #29050 "[k8s.io] Kubectl client [k8s.io] Kubectl version should check is all data is printed [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11281/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl version should check is all data is printed [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-16 05:47] saad-ali opened #29051 "PVC Volume not detached if pod deleted via namespace deletion"
**Problem:**
An attachable volume referenced by a pod via a PVC object (instead of directly) is not detached if the pod is deleted via namespace deletion (i.e. deleting the pod's namespace instead of the pod object directly).

**Repro steps:**

0. Create a new volume
  * `gcloud compute disks create --zone=us-central1-b  test-0b`
1. Create a new namespace.
  * `kubectl create ns testns`
    * `nam

[2016-07-16 06:06] k8s-merge-robot opened #29052 "[k8s.io] ConfigMap should be consumable from pods in volume [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6142/

Failed: [k8s.io] ConfigMap should be consumable from pods in volume [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-16 06:09] magicwang-cn commented on #28718
i think the petset can join the concept of (`Role`).  Which represents a component of an app, every role has its (`Replicas, PodSpec, etc.`)
for example:

 - mongodb is the composition of config server,  router and shard, these three components can  be         three roles.
- etcd has just one role

what's more, we can supply a common image(like peer) to find every role's identity information(like

[2016-07-16 06:10] davidopp commented on #29033
I think the idea would be that even with grace period 0, the deletion would be triggered by Kubelet rather than the master. To have it triggered by the master you'd need some kind of override.

But thinking about it more, IIUC the default grace period is 30 seconds, so I guess in a sense it already only goes through the force-deletion path if the user specifically requests it. (That was your point

[2016-07-16 06:21] davidopp commented on #29035
ref/ #19082

[2016-07-16 06:22] thockin opened #29053 "kubedns logging is too chatty and not helpful"
We need to taker a hard look at every line that gets logged and make sure it tells us something new, and that increasing V levels is also useful (at least for a few levels).  For high-volume clusters this is REALLY important.  Maybe a good starter.

[2016-07-16 06:24] thockin opened #29054 "kubedns logging is missing important items"
I queried a domain I KNOW has not been queried in my cluster and I don't see it in the logs.

[2016-07-16 06:34] bprashanth opened #29055 "dns masq should have resources defined"
kubedns has resource/limits but not the dnsmasq cache.

[2016-07-16 07:23] krmayankk commented on #28940
@pwittrock just realized i didnt answer your question completely. My usecase was simply stemming out of the fact that for a k8s cluster deployed in vcenter vms, i saw that there was no way to tell if there is enough capacity on the vms. The node description was showing just 2 cpus, but there were a ton of pods scheduled on vm node. So i was confused if there was indeed a bug or how we could tell i

[2016-07-16 07:29] saad-ali commented on #29051
**Root Cause:**

1. Delete event for pod fails on Attach/Detach controller
  * When a volume referenced via PVC is deleted by namespace, the PV/PVC objects are deleted *before* the pod object, therefore when the delete event is processed by the attach/detach controller, it fails because it cannot dereference the PVC object.
[code]
2. There was [code added](https://github.com/kubernetes/kubernetes/

[2016-07-16 08:30] thockin opened #29058 "Duplicate pod CIDR assignments in 1.3.0"
We spun up an 800 node cluster today, across 2 zones and we found 27 duplicate pod CIDRs (and duplicate GCE routes) assigned.  This obviously caused havoc.

We don't have hard evidence, but we think it is NOT related to multi-zone (we found some dups in the same zone).

@kubernetes/sig-scalability

[2016-07-16 08:40] thockin commented on #29058
Similar 1.2 cluster does NOT show dups.

[2016-07-16 09:34] bprashanth commented on #29058
I'm going to guess something here isn't locking when it should https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/cidr_set.go
@mqliang @gmarek

[2016-07-16 09:43] wojtek-t commented on #29058
@gmarek - this may be related to the changes in node controller done in 1.3 timeframe that you did/reviewed. Could you please take a look?

[2016-07-16 09:54] wojtek-t commented on #28997
Thanks a lot for this debugging! And waiting for the fix.

[2016-07-16 10:09] bprashanth commented on #27754
Please, that server was idle :)
A "busy" master is 2000 nodes with continuous pod churn. Production webservers need hourly rotation. IIUC the logs were from plain old node status updates. We need logging handlers that compress insipid frequent requests.

[2016-07-16 14:43] smarterclayton commented on #29033
Yeah, the argument is:

1. We want a way to bypass a failed Kubelet
2. When we don't bypass a failed Kubelet, there is an effective
minimum grace period anyway (2s) because just SIGKILL in practice is
always worse than SIGTERM + small wait + SIGKILL
3. g(1) and g(2) are indistinguishable from "hey Kubelet, delete
immediately" effectively.
4. Making g(0) behave the same as g(1) so we can invent g(!

[2016-07-16 16:02] thockin commented on #27754
We need better logs, but also rotating hourly is sort of pathetic.

On Sat, Jul 16, 2016 at 3:10 AM, Prashanth B <notifications@github.com>
wrote:

[2016-07-16 16:15] jf647 opened #29059 "kubelet remounting default-token-xxxx repeatedly"
**TL;DR: kubelet keeps trying to remount secrets and configmaps into pods over and over again.**

My environment: kubernetes 1.3.0 running on Ubuntu 14.04.  I used the instructions here to set things up:

http://kubernetes.io/docs/getting-started-guides/ubuntu/

(i.e. etcd, flanneld and the kube\* processes are running on the host OS, not in containers or docker-in-a-vm ala minikube)

In trying to

[2016-07-16 16:26] thockin opened #29060 "Report kube-dns stats"
I'd kill for a metric from kubedns that showed me how many queries it was serving.  even a simple http endpoint, but better to have prometheus metrics

[2016-07-16 16:29] thockin commented on #29053
Even simply reformatting the logs so they say what they represent would be a help. query received?  responded?  error?

[2016-07-16 16:36] bgrant0607 commented on #29058
It looks like #28604 went in after 1.3.0 was cut.

[2016-07-16 16:40] justinsb commented on #29058
AFAIK multizone only affects the cloud provider & the volume provider, and thus is not in the code path for PodCIDR allocation.  (The language here is a little ambiguous maybe, so I assume you are talking about the assignment by KCM to Node.Spec.PodCIDR for a newly-created Node)  But I'm here if anyone has any questions about multizone!

Was it HA master?

[2016-07-16 16:43] thockin commented on #29058
No HA master.  re-titleing to remove zone-relation (likely) misinfo

[2016-07-16 16:47] bgrant0607 commented on #29058
#26531 was merged into 1.3

[2016-07-16 16:50] therc commented on #27462
I'm stumped with this problem, over in #28743. Do I need to keep prodding k8s-bot, or...?

[2016-07-16 16:50] justinsb commented on #28643
Fix is (buried) in #29048.  I would obviously prefer to fix it right, but if it's problematic we can split out the actual fix I guess!

[2016-07-16 16:53] bgrant0607 commented on #29058
Noticed one sketchy thing: updateCIDRAllocation didn't re-confirm that PodCIDR was still empty when updating a node.

[2016-07-16 16:54] bgrant0607 commented on #29058
It also continues to retry in the case of conflict, though that should just cause performance problems.

[2016-07-16 17:00] justinsb commented on #29058
Q: If a node is deleted, we release the NodeCIDR.  What happens if it the node is actually still alive?  Will the kubelet recreate the same Node record with the existing PodCIDR?  This might happen if the cloudprovider stopped reporting an instance as being present, the nodecontroller deletes it, but the node could still be alive e.g. eventual consistency problems on AWS, so kubelet will presumabl

[2016-07-16 17:01] #28854 closed

[2016-07-16 17:01] therc commented on #28311
When do we declare label bankruptcy and turn some of them from binary values into sets? My nodes already have six standard labels today. If we turn only a quarter of the CPUID feature bits into individual labels, it's going to be a long list, with obvious UX implications. Even if we make the cluster admin pick the subset of features they care about, there's still a lot of noise for the user vs. ac

[2016-07-16 17:09] bprashanth commented on #29058
Yeah https://github.com/kubernetes/kubernetes/pull/28604 should be just a refactor, the original pr is https://github.com/kubernetes/kubernetes/pull/19242

[2016-07-16 17:21] thockin opened #29061 "Need an e2e to look for duplicate pod CIDR assignments"
If it is happening now, it will happen again.

[2016-07-16 17:24] justinsb commented on #29058
Regardless of my tendency to leap to over complicated explanations...

Two big problems in the code that leap out at me:

1) I don't see any code that waits for the Node watch to have completed before handing out PodCIDRs.  In other words, I don't think we wait for the allocation map to be fully populated before handing out more pod CIDRs.  I could obviously be missing it!
2) glog.Errorf should be