[2018-07-17 11:56] kongbo1987 commented on #60279
it  is hard code  in  kubernetes  file  */cadvisor_linux.go
ignoreMetrics := cadvisormetrics.MetricSet{
		cadvisormetrics.NetworkTcpUsageMetrics:  struct{}{},
		cadvisormetrics.NetworkUdpUsageMetrics:  struct{}{},
		cadvisormetrics.PerCpuUsageMetrics:      struct{}{},
		cadvisormetrics.ProcessSchedulerMetrics: struct{}{},
	}

[2018-07-17 11:57] Draiken commented on #40157
When the node is reaching OOM levels I guess I understand some SIGKILLs happening but when a pod is reaching it's manually set resource limit it also gets a SIGKILL. As the initial post mentions, this can cause a lot of harm.

As a workaround we're going to try and make the pod unhealthy before it reaches the memory limit to get a graceful shutdown.
Kubernetes sending this signal beforehand would

[2018-07-17 12:14] yastij commented on #66265
@feiskyer - can you assign me on this one ? I already have a PR in flight.

[2018-07-17 12:20] resouer opened #66289 "Scheduler extender preemption should respect IsInterested()"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Scheduler extender preemption should respect `IsInterested()` in this line:

https://github.com/kubernetes/kubernetes/blob/86b53ff74d70ce61fce80ef1b79c0e9ebaaf67fe/pkg/scheduler/core/generic_scheduler.go#L285

**What you expected to happen**:

As the title said.

**How to reproduce it (as minimally and precisely as possi

[2018-07-17 12:20] resouer commented on #66289
/sig-scheduling

[2018-07-17 12:20] resouer commented on #66289
/sig scheduling

[2018-07-17 12:32] andyzhangx commented on #66265
That's great!
/assign @yastij
just loop in for this RP review, thanks.

[2018-07-17 12:33] andyzhangx commented on #66265
@yastij o, you are not a k8s member yet, anyway, you could send out the PR for this feature, related to this issue, thanks.

[2018-07-17 12:44] acsrujan commented on #53309
I've faced this issue on serviceAccountName while doing dd-agent daemon set.

[code]

Kubectl version - 1.8.6

[code]

[2018-07-17 13:10] wojtek-t commented on #66239
@shyamjvs - yes I know we were talking about that.
But given the ClusterLoader effort I don't want to spend too much effort on fixing that.

So if you can do that in a way that we will be able to reuse with ClusterLoader - I'm fine with that.
If not - do the simplest possible thing without fixing all possible problems.

[2018-07-17 13:32] shyamjvs commented on #66239
IMO isolating flakes is independent problem from moving stuff to cluster-loader :)

Yes - I'm trying to make some changes in test-framework that'll also be reusable by cluster-loader.

[2018-07-17 13:35] SergSlipushenko commented on #62415
Specifying .spec.activeDeadlineSeconds didn't work for me in this case.
K8s version: Major:"1", Minor:"8", GitVersion:"v1.8.13"
For now only using custom scheduler instead of CronJob seems to be a solution

[2018-07-17 13:37] liggitt commented on #2799
detailed help text was added in https://github.com/kubernetes/kubernetes/pull/58920

the options are:

[2018-07-17 13:40] liqlin2015 commented on #66281
/sig kubelet

[2018-07-17 13:43] liqlin2015 commented on #66281
/sig node

[2018-07-17 13:56] sivarajp commented on #45419
@mechpen We see this issue in the cluster running in flannel as well? Is the fix be the same?

[2018-07-17 14:01] timothysc commented on #66250
We need to fix the builds for 1.11 to update the cri-tools.

/cc @feiskyer @Random-Liu

[2018-07-17 14:01] #66250 closed

[2018-07-17 14:02] mehmetsalgar opened #66294 "HorizontalPodAutoscaler and NamespaceProblem"
/kind bug

I have a Deployment/HorizontalPodAutoscaler/Service Configuration....

I am trying to run this configuration in Docker for Mac Edge version, I installed metrics-server, I am getting continuously following Event for the Service.

"missing request for cpu on container apimanagementreactiveproxy in pod api-management/api-management-reactive-proxy-78fd5d5c8f-hb9nv"

When I execute the comma

[2018-07-17 14:07] tamalsaha commented on #66285
cc: @jennybuckley

[2018-07-17 14:16] feiskyer commented on #66265
@yastij  Thanks, looking forward to your PR.

[2018-07-17 14:29] fbcbarbosa commented on #25456
Hi, I've experienced the same issue when attempting to delete mysql containers with k8s v1.9.6.

[code]

I've started the cluster using Kops and I'm running the debian stretch AMI `debian-stretch-hvm-x86_64-gp2-2018-06-13-59294 (ami-810b35e4)`. Disclaimer: this is not the ami supported by kops (they're still using jessie), not sure if this could be related to the issue.

I've tried `kubectl delete

[2018-07-17 14:32] liqlin2015 commented on #66281
It would be good that the cert/key used by kubelet server can be generated by specified CA.

[2018-07-17 14:46] dev00 commented on #58079
With version 1.10.5 I see a rather interesting behaviour:
Draining a node is quite fast, volumes are rescheduled and reattached within a minute (so our OpenStack is not the issue).

When shutting down a node (without draining it, simulating a node failure) we see the pods being rescheduled as soon as the node is removed from the node list - however, the volume is not rescheduled until about 5 minu

[2018-07-17 14:46] msau42 commented on #66287
/sig storage

Maybe syncVolume could wait to make PV bound until PVC exists.  @jsafrane, wdyt?

[2018-07-17 14:47] msau42 commented on #66287
/assign

[2018-07-17 15:01] waynr commented on #58079
@dev00 https://github.com/kubernetes/kubernetes/pull/64930 should address the problem you are seeing.

[2018-07-17 15:02] msau42 opened #66295 "PV resize tests are failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

@kubernetes/sig-storage-bugs

**What happened**:
http://k8s-testgrid.appspot.com/sig-storage#gce-slow

It's likely caused by https://github.com/kubernetes/kubernetes/pull/66172

cc @krunaljain

[2018-07-17 15:11] DewaldV commented on #51271
Thought we'd leave an update here. We just encountered this issue when we noticed that our certs hadn't been updated on the ELBs. We ended up switching the subnets to their private equivalents manually and everything resumed ticking over afterwards.

[2018-07-17 15:31] kamesh2229 opened #66297 "How to create a new node and join to the existing kubernetes cluster.Enable the node to allow the Elastic search data to be stored."
Hi,

I have a Kubernetes cluster defined as below

1) 1 Master node
2) 4 worker nodes

I am using 3 worker nodes to store the elastic search data and the size of the node is reached to 60% and soon it will reach more and i am worried if it crashes suddenly.

I wanted to increase the size of the disk that the elastic search data can be stored with more requests..
can anyone suggest on how it can do

[2018-07-17 15:37] aclowkey commented on #43633
This is much needed :((

[2018-07-17 15:39] alexsandro-xpt commented on #58357
@TallOrderDev I also guess. Azure Application Gateways could be a nice tool over ingress in K8S.

[2018-07-17 16:06] seh opened #66298 "DaemonSet with node affinity for "dynamic" labels only works with one candidate value"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After creating a _DaemonSet_ that uses node affinity to request only creating pods on nodes with a label matching a set of candidate values, pods get created on the appropriate nodes—and, fortunately, only on the appropriate nodes—but the pods get terminated and deleted quickly before they can start running. The cycle ta

[2018-07-17 16:12] seh commented on #66298
/sig node
/sig apps

[2018-07-17 16:14] chuckha opened #66300 "Deb packages for other distros"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Debs are only built for xenial. We've had requests in the past to support other distros including [zesty](https://github.com/kubernetes/release/issues/378) and [bionic](https://kubernetes.slack.com/archives/C2C40FMNF/p1531505736000019?thread_ts=1531502997.000100&cid=C2C40FMNF).

/cc @timothysc

[2018-07-17 16:23] krzysied commented on #64030
I've just updated [perf-dash](http://perf-dash.k8s.io/). It looks like it works fine.
![image](https://user-images.githubusercontent.com/25119199/42831323-53284ab4-89ee-11e8-97db-c3d354016b3d.png)

[2018-07-17 16:52] valer-cara commented on #65766
Perfection! I've been going through the garbage collector code, apiserver registry stuff to try to figure out what's going on when deleting a pod and why's it getting stuck...
... it was the `finalizer` for me as well

[2018-07-17 16:52] seh commented on #66298
To work around this problem, I found that I can use multiple match expressions, with one candidate value in each. This works because sibling match expressions are a disjunction.
[code]

[2018-07-17 17:14] sstarcher commented on #45419
@komljen I just saw this issue with `1745.7.0`

I'm seeing this issue on `calico` currently with k8s 1.9

I do have a pod on that exact node that is stuck in Terminating.  Let me force kill it and see if the issue stops.

[2018-07-17 17:15] sstarcher commented on #45419
@mechpen did you open a issue for k8s for your suggestion?

[2018-07-17 17:34] MrHohn commented on #66141
Job started to pass again. Though it almost always timed out during the TearDown step. https://github.com/kubernetes/test-infra/pull/8704 is bumping up the timeout.

[2018-07-17 17:43] timothysc commented on #66300
/assign @ixdy
/cc @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-testing-feature-requests @kubernetes/sig-release-feature-requests

This should really be owned by sig-release but in reality, no one seems to own and manage this.

@chuckha - I can't find the old issue.  ETOOMANYISSUES

[2018-07-17 17:48] sstarcher commented on #45419
@mechpen should we also open a ticket against calico?

[2018-07-17 17:51] spiffxp commented on #10322
[Yes it's still a problem](https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=timed%20out%20waiting%20for%20the%20condition)

I'm not sure that you'll run into this during unit tests.  Mostly commonly shows up in e2e tests.

Some ideas:
- allow the wait function to take a description of the condition that's being waited on
- chip away at #34059 to replace the `Expect(err).NotTo(H

[2018-07-17 17:59] jiatongw opened #66303 "Filtered some unused variables and logic problems in cloudprovider package"
Hi, I am currently working on k8s cloud provider and I ran [staticcheck](https://staticcheck.io/) in pkg/cloudprovider package. Turned out that some providers code have unused variables and logic problems. Here is the report:

### cloudprovider/providers/aws/:
session.New is deprecated
[code]
### cloudprovider/providers/azure/:
some bugs and unused values
[code]
### cloudprovider/providers/gce/:
o

[2018-07-17 18:02] jiatongw commented on #66303
/sig-cloud-provider
/sig-vmware

[2018-07-17 18:02] luxas commented on #66300
Instead, we want to rename the deb repo. There's nothing xenial-specific in there, it's just named badly.
We do something generic atm and should name is as such when it's hosted under a CNCF umbrella.
cc @idvoretskyi

[2018-07-17 18:07] luxas commented on #66250
With this stuff should be fixed: https://github.com/kubernetes/test-infra/pull/8697

[2018-07-17 18:10] jiatongw commented on #66303
PR open for vsphere cloud provider

[2018-07-17 18:47] liggitt commented on #66298
if the kubelet is rejecting the pod, then this belongs to sig-node

it might be reusing logic from the scheduler library, so looping in sig-scheduling for reference:
/sig scheduling

[2018-07-17 19:05] idvoretskyi commented on #66300
@luxas, thanks, I second this.

I can propose just the generic "kubernetes-deb" naming or similar.

[2018-07-17 19:10] mbohlool commented on #65790
That is true but we would only have problem if we roll back to 1.11.0 or 1.11.1 (assuming the solution for this goes into 1.11.2). Those versions do not have conversion.Strategy but anything after that will. That's why I think it is good to have it as soon as possible. If we wait till 1.12 for this, then it is not safe to rollback to any 1.11 version. earlier versions like .0 and .1 are most proba

[2018-07-17 19:21] liggitt commented on #65790
Even with an explicit conversion type field, it wouldn't be safe to roll back a cluster with CRDs using webhook conversion to 1.11.x, since status updates would drop the webhook-related conversion fields in the CRD object.

[2018-07-17 19:22] selslack opened #66306 "AWS LoadBalancer doesn't handle updates correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After adding `service.beta.kubernetes.io/aws-load-balancer-type: nlb` annotation to `LoadBalancer` service on AWS a new network load balancer gets provisioned, but the old one is not deleted and `status.loadBalancer.ingress` service field is not updated with the new address.

**What you expected to happen**:
Old load bala

[2018-07-17 19:23] selslack commented on #66306
/sig aws

[2018-07-17 19:37] selslack commented on #66306
/sig aws

[2018-07-17 19:46] rtripat commented on #65724
Quick update: I'm working on sending a PR for this issue by this week

[2018-07-17 20:57] george-angel commented on #60665
/remove-lifecycle stale

[2018-07-17 21:14] jim-minter commented on #52653
@mfojtik is this on your team's radar? `kubectl rollout status statefulset` hangs forever if a statefulset rollout is not actually happening at the time.

[2018-07-17 22:29] tallclair opened #66311 "TokenReview audience support for nodes"
Once https://github.com/kubernetes/kubernetes/pull/62802 merges, we should add support for audiences to the Kubelet's token review.

This is important as part of the node isolation efforts, as the node could otherwise use tokens sent with requests to the nodes endpoints (e.g. stats requests) to send requests to other nodes.

I think the node should accept 3 types of audiences:

- legacy (no audien

[2018-07-17 23:06] mahmoudm opened #66312 "apiserver's etcd client can get into a non-operational state, all calls on that resource 504"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: The API server can get into a state where it's etcd client can no longer process connections, and therefore all calls to an endpoint that uses that client will 504 (timeout). I've observed this specially in this situation:

We turned on datadog-agent v6 which does a WATCH on the Events resource to collect events. Shortly

[2018-07-17 23:17] inlined opened #66313 "ObjectMetadata is insufficient for creating a SelfLink URL"
/kind feature

**What happened**: I've been trying to create an example of how Kubernetes can integrate with the upcoming [CloudEvents spec](https://github.com/cloudevents/spec). I wanted to model K8S events as CloudEvents, but ran into a brick wall when creating the CloudEvent's `source` field. It seems like this should be the [`Metadata.SelfLink`](https://godoc.org/k8s.io/apimachinery/pkg/apis/m

[2018-07-17 23:25] liggitt commented on #66294
The error message indicates that the container is not specifying a cpu request in its spec. That means the HPA cannot judge what percentage of its requested CPU it is using and therefore can not determine whether it is above or below the threshold at which it should scale horizontally.

To use a deployment with HPA, the containers must specify a resource request

/close

[2018-07-17 23:42] mahmoudm commented on #66312
/sig api-machinery

[2018-07-18 00:52] #52653 closed

[2018-07-18 01:05] ary31415 opened #66320 "kubeadm init failed to pull image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In the process of running kubeadm init, kubernetes attempted to "pull images required for setting up a kubernetes cluster", and then failed to pull all 4 of the images required.

**What you expected to happen**:

I expected a new cluster to be created, with my VM as the master node.

**Anything else we need to know?**:

[2018-07-18 01:14] smarterclayton opened #66321 "VMWare library dependency contributes roughly ~22M to total hyperkube binary size"
As a follow up to #62576 I was investigating other large packages.  In Go 1.10 it looks like `github.com/vmware/govmomi/vim25/types` is the next largest - it was ~ 23M compiled (by itself) and defines roughly 6k structs, and also preserves very large maps of type information as well as individual init functions to create that map.  When compiling `hyperkube` with the vmware packages commented out,

[2018-07-18 01:30] jiuchongxiao commented on #39227
@resouer how to set the encoding

[2018-07-18 01:40] wenlxie commented on #64908
https://github.com/kubernetes/kubernetes/pull/65714

[2018-07-18 01:40] Vickey-Wu commented on #52636
Hello, i get this error, too. 192-168-43-131 is master, 192-168-43-134 is node. os is ubuntu 16.04, k8s version is 1.11.0.
And i follow @prashantabkari's solution copy admin.conf to $HOME, I still got this error.
any help would be appreciated, thanks!
master error info
[code]
node info
[code]

[2018-07-18 01:41] jiuchongxiao commented on #39227
@KeithTt do you had solved it? how to solve the issue?

[2018-07-18 01:57] msau42 opened #66323 "CSI incorrectly sets fsgroup for all volume types"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
fsgroup is only intended for RWO volumes because it recursively changes the permissions of all the directories in the volume.  This can cause problems for nfs-type volumes because multiple pods could access the same volume and have the permissions changed out from underneath.

**What you expected to happ

[2018-07-18 02:03] EdisonSu768 commented on #55765
version of v1.11.1:
[code]

macOS 10.13.3

[2018-07-18 02:03] jiuchongxiao opened #66325 "mount: wrong fs type, bad option, bad superblock"
i use cephfs directly by pod,my pod detail is as below:

[code]
my admin.secret file as below:
AQDirEhbxggJAhAAHtsEZJlRQZGT9+4YGMkMyQ==
![image](https://user-images.githubusercontent.com/13093730/42856275-1220cd00-8a77-11e8-86a9-e6ebf2330c9f.png)

kubectl describe pod ceph-pod2-with-secret
[code]
my cephfs is well,the follow is the detail
![image](https://user-images.githubusercontent.com/13093730

[2018-07-18 02:04] msau42 commented on #65604
@wenlxie as a workaround to this issue, instead of setting pod.Spec.NodeName, can you set pod.Spec.NodeAffinity?  That way the pod will still go through the scheduler.

[2018-07-18 02:04] jiuchongxiao commented on #66325
/sig/storage

[2018-07-18 02:05] adilOo02 commented on #66320
i have the same issue :'(,someone help please

[2018-07-18 02:06] vitorfhc commented on #66320
I used --kubernetes-version=1.11.0 and it fixed for me, for some reason it was looking for images with version 1.11.1 and they are not available

[2018-07-18 02:10] msau42 commented on #65122
Fixed by #65499
/close

[2018-07-18 02:10] #65122 closed

[2018-07-18 02:17] adilOo02 commented on #66320
vitorfhc thanks pale :)

[2018-07-18 02:21] gyuho commented on #66312
Possibly related to https://github.com/coreos/etcd/issues/9212. And there is also a pending issue in watch stream multiplexing https://github.com/coreos/etcd/issues/9416.

[2018-07-18 02:22] Vickey-Wu commented on #59959
thank you @rdrgporto , because of  China special network, we can use google directly, but finally i get it from USTC(University of Science and Technology of China) open source software mirror, thanks for your  help.

[2018-07-18 02:35] jiuchongxiao commented on #66325
#39227

[2018-07-18 02:44] Vickey-Wu commented on #52636
sorry, i misunderstood kubeadm init output, just run the following command as a regular user but root not, so i get this error when i use root, finally i run command with root and regular user then it work.
[code]

[2018-07-18 02:51] jiuchongxiao commented on #66325
dmesg
[code]

[2018-07-18 03:07] Newbrict commented on #66320
Also having this problem
![capture](https://user-images.githubusercontent.com/1683041/42857063-2f5a816a-8a16-11e8-97ff-20d165f33fae.PNG)

[2018-07-18 03:10] xujieasd commented on #66103
emm... seems currently kube-proxy cannot guarantee that `KUBE-SERVICES` is always at the top.
Because kube-proxy only ensure that `KUBE-SERVICES` exists in  `PREROUTING` chain (or in other chain) for every round of sync even if `KUBE-SERVICES` is created by `iptables -I`.
So for these iptables rules really need to be `Prepended`, maybe we need a function to ensure the order (currently kube-proxy j

[2018-07-18 03:12] #66241 closed

[2018-07-18 04:41] nikhita commented on #61206
/remove-lifecycle stale

[2018-07-18 05:09] yisampi opened #66326 "TLS handshake error from 127.0.0.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-07-18 05:17] yisampi commented on #66326
please close or delete it for my faulty operation. thanks.

[2018-07-18 05:17] #66326 closed

[2018-07-18 05:30] k82cn commented on #63267
@misterikkit , @xchapter7x  I approve the open issues, so we can get them merged when it LGTM for misterikkit@ :)

[2018-07-18 05:36] duane-ibm commented on #44325
Hey, I did not try the e2e tests.
Although I tried to execute the bootstrap.py jenkins script to run pull-kubernetes-unit jenkins job.
The images required for this job were as below:
[code]

[2018-07-18 05:59] deshui123 commented on #2799
Thanks for your support.
I tried kubelet cli with flag but received "deprecated"
`[root@h]$ # kubelet  --tls-min-version VersionTLS12
Flag --tls-min-version has been deprecated, This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ for more information.`

Then I set the config file acc

[2018-07-18 06:09] dhirajnair commented on #10322
Thanks Aaron. Will take a look at e2e and get started on this.

[2018-07-18 06:51] nikhita commented on #28167
/remove-lifecycle rotten

[2018-07-18 06:51] Shawyeok commented on #62594
We have same issue on `v1.7.5`, intermittent probe failed cause by `getsockopt: connection refused` in a specific worker node, other pods on other nodes works perfectly, and go inside of container do `curl http://localhost:8080/health` return ok.

A snippet of `kubelet` log:
[code]

#### Environment:
- kubernetes version:
[code]

- worker node OS and kernel:
[code]

- docker version:
[code]

- fla

[2018-07-18 06:53] nikhita commented on #56986
/remove-lifecycle rotten

[2018-07-18 06:53] nikhita commented on #46822
/remove-lifecycle stale

[2018-07-18 06:55] Shawyeok commented on #62594
@Phanindra48 Hi there, do you have any updates about this issue?

[2018-07-18 06:55] nikhita commented on #57485
/remove-lifecycle stale

I believe this is still relevant.

[2018-07-18 07:06] nikhita commented on #62044
/remove-lifecycle stale

[2018-07-18 07:08] nikhita commented on #60724
/remove-lifecycle rotten

still relevant

[2018-07-18 07:08] nikhita commented on #60700
/remove-lifecycle rotten

[2018-07-18 07:09] nikhita commented on #61946
/remove-lifecycle stale

still relevant

[2018-07-18 07:23] floriantraber commented on #42649
We hit the same issue after changing the cron from `@weekly` to `@hourly`.

[2018-07-18 07:30] ProFfeSsoRr commented on #66320
Is there any problems with k8s.gcr.io? Maybe another mirror for this images available?

[2018-07-18 08:05] w1ndy commented on #39792
This feature would also be extremely useful in implementing domain-based proxies, e.g., routing  blocked google.com traffic to an internal container, where the ports are mapped to Google servers via a SOCKS5 proxy.

[2018-07-18 08:38] ricohomewood commented on #66320
@kubernetes/sig-cluster-lifecycle-bugs

[2018-07-18 08:40] ricohomewood commented on #66320
indeed as @vitorfhc mentioned the v1.11.1 images don't exist on the k8s.gcr.io registry?

[2018-07-18 08:46] acondrat commented on #24873
An variation on top of the solution provided by @alahijani
[code]
This is to have all yaml files in a single dir for an easy `kubectl apply -f`. It also excludes the default service account secret which can not be exported.

[2018-07-18 08:55] chenguoquan commented on #63637
I have the same problem

[2018-07-18 09:18] hanscj1 commented on #66320
Ditto

[2018-07-18 09:36] jiatongw commented on #66321
/sig vmware

[2018-07-18 09:40] jiatongw commented on #66325
it should be ```/sig storage``` @jiuchongxiao
/sig storage

[2018-07-18 09:56] saad-ali commented on #66323
CC @vladimirvivien @lpabon @sbezverk

[2018-07-18 11:10] csghuser commented on #40214
Any update on this?

[2018-07-18 11:38] d11wtq commented on #65674
The last comment here was 11 hours ago. Is it correct the images are still unavailable?

[code]

[2018-07-18 12:06] pursultani commented on #66320
The image is missing from `k8s.gcr.io`. Perhaps haven't been pushed yet.

[code]

@vitorfhc suggestion does the trick.

[code]

[2018-07-18 12:54] jontis commented on #66153
/sig aws

[2018-07-18 12:56] neolit123 commented on #66320
closing as this was logged earlier:
https://github.com/kubernetes/kubeadm/issues/1000

/close

[2018-07-18 12:56] #66320 closed

[2018-07-18 12:58] liggitt commented on #39792
the idea that any service can specify something that overrides dns of external names for pods in other namespaces seems problematic. what determines whether this is permitted?

[2018-07-18 13:03] daixiang0 opened #66335 "Stat fs failed. Error: no such file or directory"
/kind bug
/sig cluster-lifecycle

**What happened**:
When check kubelet.service with systemctl:
[code]
The kubelet.service is still in active running state.

I do not know how to debug or where is wrong.

**What you expected to happen**:
1. in fs.go file, print which file missing
2. If the missing error does no impact on kubelet service, maybe place log info somewhere else

**Environment**:
- Kube

[2018-07-18 13:22] jd485057 commented on #65933
Similar issue in my case.
vsphere.conf set
[code]
UUIDs returned bu `cat /sys/class/dmi/id/product_serial` look correct on each node.
But both externalID and providerID are null for all nodes:
[code]

How do I enable verbose logging for controller manager?
Default log level shows entries like this for every node:
[code]

[2018-07-18 13:31] Phanindra48 commented on #62594
@Shawyeok Actually I don't have a concrete solution yet as there are several reasons for it to fail and moreover its quite inconsistent. May be they need to provide more information or something useful instead of what we get now in the logs.

[2018-07-18 13:36] shahbour commented on #65933
edit file vi `/etc/kubernetes/manifests/kube-controller-manager.yaml` and add - --v=4 as below

[code]

[2018-07-18 13:40] liggitt commented on #2799
For the config file, be sure you use the json tag names: `tlsMinVersion` and `tlsCipherSuites`

[2018-07-18 14:00] adamdecaf commented on #60724
@nikhita Thanks for keeping this issue open. Should I just go ahead and file a PR changing the wording?

[2018-07-18 14:06] mohammedzee1000 opened #66337 "Failing Test: [sig-scalability] Density [Feature:Performance]"
# Failing Jobs
[sig-release-master-blocking#gce-scale-performance](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance)

# Failing Tests
[should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/180)

Tests

[2018-07-18 14:13] nikhita commented on #60724
Yes, that would be great! Thank you!

[2018-07-18 14:16] frankh commented on #59117
Just wanted to add that I'm experiencing this bug too

[2018-07-18 14:17] mohammedzee1000 opened #66338 "Failing Test: [sig-cluster-lifecycle] kubeadm gce, gce-selfhosting up"
# Failing Jobs
[sig-master-blocking#kubeadm-gce](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce)
[sig-release-master-blocking#kubeadm-gce-selfhosting](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-selfhosting)

# Failing Tests
[kubeadm gce up](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/11247)
[

[2018-07-18 14:20] mohammedzee1000 commented on #66338
/sig cluster-lifecycle
/milestone v1.12

[2018-07-18 14:37] mohammedzee1000 opened #66339 "Failing Tests: [sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot]"
# Failing Jobs
[sig-release-master-blocking#gci-gke-reboot](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-reboot)

# Failing Tests
[each node by ordering clean reboot and ensure they function upon restart](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/16044)
[each node by switching off the network interface and ensure they

[2018-07-18 14:49] crealyticskris commented on #45438
I've had same issue as @warent for gce and nginx-ingress. After hours of head banging when I changed the name of chart everything started to work. I was not able to reproduce this issue hence I've not created a new issue in Git.

[2018-07-18 14:58] Ochir commented on #57726
I also vote for this feature request

[2018-07-18 15:49] ncdc opened #66340 "cluster/gce/gci unit test failure using build/run.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: unit tests failed when run under build/run.sh

**What you expected to happen**: unit tests pass

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
I've seen this on both docker for mac and linux, with varying uids (501 and 1000).

This patch makes the package's t

[2018-07-18 15:56] immutableT commented on #66340
LGTM

[2018-07-18 16:00] dturn commented on #66135
Its not causing disruption, most of our deployments explicitly set progressDeadlineSeconds. But we do have deploy tooling that monitors progressing conditions and its CI caught this unexpected behavior change.

[2018-07-18 16:03] ncdc commented on #66340
PR: https://github.com/kubernetes/kubernetes/pull/66342

[2018-07-18 16:05] pdbogen opened #66343 "PolicyRule link in Role and ClusterRole API description does not link to an existing anchor"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In docs page https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#clusterrole-v1-rbac-authorization-k8s-io, `PolicyRule` link does not go to an anchor that exists. Link is to `https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#policyrule-v1-rbac-authorization-k8s-io`, but such an anchor

[2018-07-18 16:15] gofrane opened #66344 "How to measure containers execution time inside a kubernetes POD?"
I am running a jobs with a kubernetes POD and I need to measure the execution time for each job .

I want to get it through some api.

Does anyone know how can I get it ? @k8s-merge-robot

[2018-07-18 16:18] rkttu-devsisters commented on #65163
@PatrickLang @daschott I recently tested after upgrading to Windows Server 1803 version 17134.167, the frequency at which vNICs in the container appear to be deleted has changed. In other words, the problem is still not resolved.

About two or three hours after I put the Pod on, the problem appeared, so I looked at the kubelet log. You will see a message to disconnect the Pod's network as shown be

[2018-07-18 16:21] ncdc commented on #66340
/sig cluster-lifecycle

[2018-07-18 16:24] #55949 closed

[2018-07-18 16:31] timothysc commented on #66340
/assign @roberthbailey

[2018-07-18 16:45] codenrhoden commented on #64953
@wglian is this something you are still looking at? It's come up in sig-storage, and is on the planning spreadsheet for 1.12. It's something I'd like to work on as well, so want to see where you are at with it.

While it didn't get any traction, I will point out that when me and some coworkers wrote several CSI drivers to the 0.1 version of the spec, we saw this problem, and factored this code out

[2018-07-18 16:55] jhorwit2 opened #66345 "Release 1.11.1 seems to not have pushed docker images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Docker images aren't pushed to k8s.gcr.io for control plane components.

**What you expected to happen**:

The latest released version should have images pushed to the repository.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

/sig release

[2018-07-18 16:56] jhorwit2 commented on #66345
/close

tracked else where

https://github.com/kubernetes/release/issues/587

[2018-07-18 16:56] #66345 closed

[2018-07-18 16:57] adampl commented on #40358
In my case, a deployment should have a specific number (_N_>1) of replicas per node, regardless of the number of nodes. Is there any way to achieve this? And (if the answer is _yes_) is it also possible to have a different _N_ for each node (or a set of nodes matching some selector)?

[2018-07-18 17:02] saad-ali commented on #64984
This can be handled today. The source image can be specified as `VolumeAttributes` and the plugin would fetch that image, unpack it, and put it at the mount path.

This maybe could be handled by kubelet, if we have a some flag indicating that the plugin needs "pod identity". Drawback is it would require kubelet to understand how to talk to third party secret store and where would we put the "requi

[2018-07-18 17:08] ixdy commented on #66300
cc @mikedanese

Do you have any thoughts on this?

[2018-07-18 17:19] kfox1111 commented on #64984
@saad-ali some of this is being discussed in https://github.com/kubernetes/community/pull/2273 too.

[2018-07-18 17:21] kfox1111 commented on #64984
I've got a prototype implementation of a csi replacement of docker-flexvol here:
https://github.com/kfox1111/drivers/tree/volume-driver/pkg/image

It works as a csi driver, but need some plumbing on the k8s side to make it usable.

[2018-07-18 17:32] wking commented on #25625
If folks want to kick this around, I've stubbed it out in https://github.com/wking/kubernetes-drain.

[2018-07-18 17:44] dougm commented on #66321
We have been meaning to improve this situation with the govmomi generated code, @akutz and I will dig in soon.

[2018-07-18 17:44] dougm commented on #66321
/assign

[2018-07-18 17:51] r7vme opened #66346 "Azure File fails to be mounted on CoreOS"
/kind bug

**What happened**:

NOTE: I think this is a bug of CoreOS, but taking into account silence from 2016 in [CoreOS bug](https://github.com/coreos/bugs/issues/571), i did not expect it will be fixed there soon. So creating it here as it affects all people who are using Kubernetes with CoreOS on Azure.

Azure File (mount cifs) mount does not work on CoreOS. By default CoreOS does not provide

[2018-07-18 17:52] r7vme commented on #66346
/sig azure

[2018-07-18 17:52] r7vme commented on #66346
/sig storage

[2018-07-18 18:22] fabianvf commented on #54498
/remove-lifecycle stale

[2018-07-18 18:23] fabianvf commented on #54498
@colemickens any luck?

[2018-07-18 18:23] khrm commented on #64579
Hi,

You need to pass "1m"  in divisor to resourceFieldRef like below.
Read relevant document here: https://github.com/kubernetes/kubernetes/blob/release-1.5/docs/design/downward_api_resources_limits_requests.md

`apiVersion: v1
kind: ReplicationController
metadata:
  name: nginx
spec:
  replicas: 2
  selector:
    app: nginx
  template:
    metadata:
      name: nginx
      labels:
        app: n

[2018-07-18 18:30] chrissnell commented on #64579
That's helpful, @khrm, thanks.  Can we make this into a docs issue?  I didn't see this documented outside of the design doc you just posted.

[2018-07-18 18:51] Huang-Wei opened #66348 "Pending pod scheduled onto master node when `ScheduleDaemonSetPods` is enabled"
/kind bug

**What happened**:

To enforce daemonset pods scheduling is handled by default scheduler, instead of ds controller, I enabled `ScheduleDaemonSetPods` feature, and it looks almost fine except for a flaw: for a cluster spawned by kubeadm, the daemonset pod is still scheduled to master node with "pending" state.

[code]

**What you expected to happen**:

The behavior should be consistent a

[2018-07-18 19:02] Shivang44 opened #66349 "kubectl wait does not work properly with selectors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Running the command like:

`./kubectl wait deployment --selector app=web --for condition=available --timeout=100s`

Returns instantly without waiting, even though the deployment with label (app=web) is not available yet (available=0 when doing `kubectl get deployments`).

However, not using a selector works as intended:

[2018-07-18 19:07] hjacobs commented on #17512
If anybody is interested, I created a tool to generate static HTML for Kubernetes resource usage (and costs): https://github.com/hjacobs/kube-resource-report

[2018-07-18 19:11] codenrhoden commented on #64953
@msau42 Awesome. I plan to start working on this now, and i agree with the refactor approach.

I do wonder where the resulting library should end up? Would kubernetes/utils be the right place?, rather than kubernetes/kubernetes-sigs?

k/utils seems odd to me, though, as one goal is to not have to vendor a bunch of code you don't care about. but, k/utils has the intent of holding many different pro

[2018-07-18 19:16] Shivang44 commented on #66349
Apologizes, this is not a bug but misunderstanding of labels. My deployment had "label" in the spec.template.metadata.labels, but not in the deployments own metadata's labels. I did not know those were different things.

However, I still feel that the command should output a response when nothing is matched. For example, executing wait with a label key=value when it is not found _instantly_ return

[2018-07-18 19:18] tonglil commented on #17512
@hjacobs I would like to use that tool but not a fan of installing/using python packages. Mind packaging it up as a docker image?

[2018-07-18 19:46] snackycracky commented on #51835
I just had the problem that the pods were not terminating because a secret was missing. After I created that secret in that namespace everything was back to normal.

[2018-07-18 19:47] hjacobs commented on #17512
@tonglil the project is pretty early, but my plan is to have an out-of-the-box ready Docker image incl. webserver which you can just do `kubectl apply -f ..` with.

[2018-07-18 19:57] msau42 commented on #64953
Can it just be a standalone package, like kubernetes/utils/mount?

[2018-07-18 19:58] pdbogen commented on #66343
/sig docs

[2018-07-18 20:17] #66340 closed

[2018-07-18 20:19] yastij commented on #66348
cc @k82cn @janetkuo

[2018-07-18 20:22] jjo commented on #52657
`v1.9.8` -> `v1.9.9` seems to have fixed `kube-controller-manager` RSS:
![k dev_kube-controller-manager_rss 20180718](https://user-images.githubusercontent.com/88727/42905271-f02d1136-8aad-11e8-8c8c-763c914e587d.png)

Our use case creates in the order of 1k~ish per hour `Pods` from app-driven scheduled Kubernetes `Jobs`, with tolerations indeed (to land these at specific nodes).

[2018-07-18 20:40] briantkennedy opened #66353 ""Invalid Value" Error when attempting to modify ClusterRoleBinding roleRef"
/kind bug

**What happened**:
I encounter an error when attempting to change the roleRef in a ClusterRoleBinding:

The ClusterRoleBinding "test-crb" is invalid: roleRef: Invalid value: rbac.RoleRef{APIGroup:"rbac.authorization.k8s.io", Kind:"ClusterRole", Name:"view"}: cannot change roleRef

**What you expected to happen**:
I expected to be able to modify the roleRef field in a ClusterRoleBinding.

[2018-07-18 20:44] krmayankk commented on #18174
Does client-go support talking to multiple endpoints ?

[2018-07-18 21:05] yastij opened #66354 "externalTrafficPolicy=Local makes it unable to reach externalIP from nodes without pods"
Currently when having `externalTrafficPolicy=Local` you cannot reach your service through the externalIP on a node without the targeted pods. is it an expected behaviour ?

Kubernetes v1.10.1 running on Azure.

/kind bug
/sig network

[2018-07-18 22:08] stevekuznetsov commented on #64030
Why is that using an interpolated spline for the data? That's implying there are valid values for the metrics between test runs and that the values are continuous and somehow related run-to-run, but neither of those is true, right?

[2018-07-18 22:09] stevekuznetsov commented on #54247
/remove-lifecycle stale
@kubernetes/sig-node-bugs

[2018-07-18 22:09] stevekuznetsov commented on #54247
/shrug

[2018-07-18 22:12] janetkuo commented on #66135
`RevisionHistoryLimit` is also unset in extensions/v1beta1 or apps/v1beta2 but defaulted in apps/v1 and thus affected. However, `0` is allowed for `RevisionHistoryLimit` and means "limit = 0" instead of "unlimited" before the field is introduced.

We can default this value to `-1` (currently invalid) in old API versions to represent "unlimited". Would that be confusing to users?

[2018-07-18 22:42] Huang-Wei commented on #66348
btw: I can actively work on this.

/assign

[2018-07-18 22:43] Huang-Wei commented on #66298
I can reproduce it on kubeadm v1.11.0. Let me try to give a fix.

/assign

[2018-07-18 23:02] briantkennedy commented on #66353
/sig auth

[2018-07-18 23:03] briantkennedy commented on #66353
/sig apimachinery

[2018-07-18 23:05] janetkuo commented on #66135
Some more examples:
* autoscaling/v2beta1 HPA defaults `.spec.metrics` when it's unset, however autoscaling/v1 will leave it unset
* batch/v1beta1 CronJob defaults `.spec.SuccessfulJobHistroyLimit` whereas batch/v2alpha1 will leave it unset

I didn't find an example that handles the "introduce a new field that has a default value in newer API versions" case by setting an explicit value that carrie

[2018-07-18 23:18] roycaihw commented on #55453
/reopen
/remove-lifecycle rotten
cc @cheftako

[2018-07-18 23:20] roycaihw commented on #55453
/assign
/reopen
/unassign

[2018-07-18 23:21] roycaihw commented on #55453
/assign

[2018-07-18 23:22] roycaihw commented on #55453
/reopen

[2018-07-18 23:23] roycaihw commented on #55453
/unassign

[2018-07-18 23:32] BenTheElder commented on #64833
I'm seeing one or two weird flakes there now, but largely green runs and nothing that looks like a persistent issue.

[2018-07-18 23:46] k82cn commented on #66348
@Huang-Wei , with `ScheduleDaemonSetPods`, DaemonSet controller will create Pod based on nodes  ignored node's attributes, e.g. taint; the scheduler will help to handle it :) If we want to only create Pod for worker nodes, please add NodeSelector/NodeAffinity into it :)

[2018-07-18 23:56] Huang-Wei commented on #66348
@k82cn ok, that means it's sort of **as expected**, right? (in kubeadm cluster, the daemonset behavior changes a little bit after enabling `ScheduleDaemonSetPods` though.)

If we want to go promote `ScheduleDaemonSetPods` to beta in 1.12 and keep current logic, in my opinion, we need to at least document in `kubeadm` - telling kubeadm users they need to add NodeSelector/NodeAffinity, otherwise a "

[2018-07-18 23:58] philips commented on #60534
/remove-lifecycle stale

On Tue, May 29, 2018 at 10:48 PM fejta-bot <notifications@github.com> wrote:

[2018-07-19 00:08] dashpole opened #66357 "[Failing Tests] Kubelet Serial GCE e2e tests which set PodPriority are failing"
https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e

The following tests are broken:
 * NVIDIA GPU Device Plugin
 * PriorityLocalStorageEvictionOrdering
 * PriorityMemoryEvictionOrdering

Looks like some new validation was added to prevent two things:

1. Setting PodPriority directly
2. Using system-critical priority classes outside of the kube-system namespace.

To fix this,

[2018-07-19 00:09] dashpole commented on #66357
/kind bug

[2018-07-19 00:20] philips commented on #44505
any updates on your FOSSA research @cblecker ?

[2018-07-19 00:44] janetkuo commented on #66348
This is a pretty big behavioral change. I didn't see it documented in https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/ or release note https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md

We should communicate that better.

[2018-07-19 00:44] mahmoudm commented on #66312
@gyuho https://github.com/coreos/etcd/issues/9212 does look like it could be the culprit here. Given that it's been open for a while, is there any change in prioritization given the impact/repro above, or is it blocked on finding a contributor?

Also slightly tangential to the issue above: when the API server is in that state, all connection stuck on the transport.wait never die (i.e while the fin

[2018-07-19 00:49] gyuho commented on #66312
@mahmoudm Haven't had a chance to look into https://github.com/coreos/etcd/issues/9212 yet. Since we are seeing this in production, this will be our high priorities. Will also look into the code that you provided.

[2018-07-19 01:13] hex108 commented on #65797
Finally I implemented it. I add `maxRetires` in PodSpec.

e.g.
[code]
The above pod will retry 3 times, and failed finally. Without `maxRetries`, the pod will always retry, however it will not succeed and retries take a lot of time and resource.

BTW: I implemented another version using annotation `kubernetes.io/maxRetriesForOnFailurePolicy`. Maybe we could use it for alpha feature?

[code]

[2018-07-19 01:22] jzelinskie commented on #54498
I don't think we ever got through any proposals for this. Our initial desire for the functionality was discovering resources being managed by Operators. The Operators managed by [OLM](https://github.com/operator-framework/operator-lifecycle-manager) are supposed to set ownerref on all created objects to a custom resource. We wanted this API for making it easy to display the resources that the Oper

[2018-07-19 01:48] sarjeet2013 commented on #62096
Is there any update on it? Is this being worked on for CSI? Thanks

[2018-07-19 01:52] l-yb opened #66360 "kubernetes endpoint 不准确"
enviroment:
dmidecode | grep "Product Name"
	Product Name: VMware Virtual Platform
	Product Name: 440BX Desktop Reference Platform

kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:55:54Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server V

[2018-07-19 02:07] JustinZ commented on #30427
Any updates ?

[2018-07-19 02:19] cofyc commented on #65113
/assign

[2018-07-19 02:32] miaoshixuan commented on #66360
you should check your service object 'spec.selector' and your pods label

[2018-07-19 02:33] liqlin2015 commented on #66103
Any idea to fix this issue in Kubernetes 1.11.1?

[2018-07-19 02:35] leeivan opened #66361 "ERROR: (gcloud.compute.ssh) [/usr/bin/ssh] exited with return code [255]"
/sig bugs
[code]

[2018-07-19 02:35] leeivan commented on #66361
/sig bug

[2018-07-19 02:35] mahmoudm commented on #66312
Thanks @gyuho. Let me know if you need any further information or help reproducing it.

[2018-07-19 02:50] k82cn commented on #66348
oh, agree; I was thinking that was covered by doc, but it seems not according to the above link :)

@Huang-Wei , would you help on that?

[2018-07-19 02:52] liggitt commented on #18174
it does not

[2018-07-19 02:57] tamalsaha opened #66362 "How to implement a Vault CSI driver?"
I would like to use Vault as source of secret for my Kubernetes cluster. I have read this awesome post https://arslan.io/2018/06/21/how-to-write-a-container-storage-interface-csi-plugin/ post by @fatih . I understand the overall process. I would like to implement a `tmpfs` based volume like `Secrets` that provision secrets using Vault.

Few things that are not clear to me:

- How do I use the serv

[2018-07-19 03:19] fanux opened #66363 "ipvs SNAT when clientIP not in clusterCIRD"
[code]
[code]

[code]

**What happened**:
We use ipvs mod, but it SNAT packages when a client not in the cluster, packages may route to the different node in the cluster, so the source IP is different after SNAT, cause MySQL connection failed.

**What you expected to happen**:
I don't want ipvs to SNAT package, can I change the code to :
[code]

**How to reproduce it (as minimally and precisely as

[2018-07-19 03:36] volume-ji opened #66365 "secret coordinating with serviceaccount is not changed when serviceaccount bind a cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. I created a serviceaccout named kube-system:kubernetes-dashboard and created a kubenetes-dashboard using the sa to access apiserver.
2. firstly, the sa "kube-system:kubenetes-dashboard" has no RBAC,  k8s can generate automatically a corresponding secret, which has a token including userid and tokenid. Then I used the token to acc

[2018-07-19 03:44] khenidak commented on #59876
@PatrickLang + @andyzhangx  the bot closed this. But is it *really* closed?

[2018-07-19 03:47] andyzhangx commented on #59876
/reopen

[2018-07-19 03:47] andyzhangx commented on #59876
I will take a look when I have bandwidth...

[2018-07-19 03:47] andyzhangx commented on #59876
/assign

[2018-07-19 04:07] wackxu commented on #66357
/assign

[2018-07-19 04:07] opsnull opened #66366 "kubelet: panic: runtime error: index out of range"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

kubelet panic.

**What you expected to happen**:

not panic.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
kublet log:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]
- Cloud provider or hardware configuration:

Powerleader PR1710G2:
+ 40 CPU Cores（2

[2018-07-19 04:42] smarterclayton opened #66368 "Startup of API server is CPU limited, mostly in GC due to OpenAPI"
I profiled a moderately complex apiserver startup to see why over the last few releases (1.9 -> 1.11) its gone from 5s to 40s to fully initialize.

The CPU profiles were mostly memory and GC related - looking at the GC profiles revealed that in the first 50s of startup we allocated about 20 million objects, of which 19,900,000 of those allocations were in OpenAPI (serving, reading, or merging).  T

[2018-07-19 04:45] smarterclayton commented on #66368
A middle chunk

[code]

[2018-07-19 04:53] jiuchongxiao commented on #66325
@miaoshixuan
[code]

[code]

[2018-07-19 05:00] krmayankk commented on #30427
/area apps

[2018-07-19 05:01] krmayankk commented on #30427
/assign @krmayankk

[2018-07-19 05:02] krmayankk commented on #30427
@kow3ns is this already supported ? I would like to work on this and fix it ?

[2018-07-19 05:41] wgliang commented on #66366
/assign

[2018-07-19 06:21] Huang-Wei commented on #66348
@k82cn Sure, I can definitely help.

Let me also run more tests to be 100% sure that `ScheduleDaemonSetPods` doesn't respect taint. If it's the case, in an user's perspective, it's a behavioral change of "DS respect taint" versus "DS doesn't respect taint" - hugh change IMHO.

[2018-07-19 06:37] liucimin commented on #66354
Yes，
If u use the flag externalTrafficPolicy=Local.Requests will only be proxied to local endpoints and will not be forwarded to other nodes. This preserves the original source IP address. If there are no local endpoints, the packets sent to this node will be discarded.

[2018-07-19 06:46] ddehghan commented on #45438
By the way nginx-ingress on gce works with services exposed as clusterIP.

[2018-07-19 06:52] daixiang0 commented on #35062
any update?

[2018-07-19 06:59] dhirajnair commented on #10322
I am on osx. Looks like only apiserver and controllers can be tested e2e on osx(darwin). Please correct me if I am wrong.

[2018-07-19 07:06] daixiang0 commented on #66335
Seems like #35062, there is a solution in it but no any feedback

[2018-07-19 07:12] airwolfnh commented on #58065
/remove-lifecycle stale

[2018-07-19 07:29] feiskyer commented on #66346
@r7vme Thanks for reporting the issue. Would you like file a PR to fix that?

[2018-07-19 07:32] liucimin commented on #66103
I think dont use kube-proxy and use cni plugin to hold these iptables problem is a good way.

[2018-07-19 07:33] brycesteinhoff commented on #13488
Would love to have this feature. It seems very basic and needed.

[2018-07-19 08:05] xiaoxubeii commented on #66363
I think it is not a problem. If use ipvs and set `clusterCIDR`, the packet flow will be `client -> node -> svc -> pod`, your packet will masq as svc ip and then node ip. The response will be  pod -> node -> svc -> client.

[2018-07-19 08:39] w1ndy commented on #39792
@liggitt Yeah it could be hard to determine. I have worked out a solution with the rewrite plugin of CoreDNS. For example, redirecting google.com traffic to a service named google under the proxy namespace can be set up as follows:

[code]

Save it to the config map of CoreDNS, and the service's cluster IP will be returned for google.com DNS queries.

[2018-07-19 08:42] fanux commented on #66363
@xiaoxubeii Mysql source address affinity will cause the issue.  One connection will route to the different node,
so the source IP is different for pod, if pod check the source IP, it will be failed because source IP changed

[2018-07-19 08:55] Lion-Wei commented on #66103
@liucimin Can you be more specific?

[2018-07-19 09:01] ceshihao commented on #66221
/sig node

[2018-07-19 09:06] m1093782566 commented on #66103
Make sense. I would love to see a Heuristic prototype :)

[2018-07-19 09:07] m1093782566 commented on #66103
/area ipvs

[2018-07-19 10:17] calind opened #66375 "Annotation content mangled in mounted file"
/kind bug

**What happened**:
Annotation content mangled in mounted file

**What you expected to happen**:
The content of the file to match exactly the annotation

**How to reproduce it (as minimally and precisely as possible)**:
The content of `buggy-pod.yaml`:

[code]
[code]

The expected output would be:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `ku

[2018-07-19 10:33] shyamjvs opened #66376 "Failing Tests: [sig-storage] 5000-node correctness tests"
Failing Job:

[sig-release-master-blocking#gce-scale-correctness](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness)

These tests started flaking recently (they were consistently green for a long time):

- Mounted volume expand[Slow] Should verify mounted devices can be resized
- Volume expand [Slow] Verify if editing PVC allows resize
- Subpath [Volume type: gcePD

[2018-07-19 11:01] simongun commented on #65910
A VPC has a default subnets, and I assume, K8S provisioned VPC resources are provisioned in one of these default subnets.

So why not take this a step further: instead of specifying a VPC, it would be more generic to specify a set of subnets. These could then either be the default subnets (covers the same case as specifiying the VPC), but also opens the door to implement other scenarios. One such

[2018-07-19 11:12] jfpucheu commented on #56850
adding a file in : /etc/systemd/system/kubelet.service.d/11-cgroups.conf

with:
[Service]
CPUAccounting=true
MemoryAccounting=true

and:
systemctl daemon-reload
systemctl restart kubelet

solve the issue for me .

[2018-07-19 11:51] ricklagerweij opened #66377 "Change Kubernetes documentation / Bug while editing Dynamic Node Config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Editing a node when only the name and namespace is defined to add uid does result in an error.
error: unable to find api field in struct NodeConfigSource for the json field "configMapRef"

remove the name/namespace and add them again including uid does work however.

On the documentation the uid is refered to as kubeletCo

[2018-07-19 11:52] RickNEP commented on #66377
@kubernetes/sig-api-machinery-bugs

[2018-07-19 11:58] hzxuzhonghu commented on #58292
/remove-lifecycle stale

[2018-07-19 12:10] ojab commented on #8876
/remove-lifecycle stale

[2018-07-19 12:12] jsafrane commented on #64984
Regarding P0, passing pod namespace+name+uid to csi drivers: We can introduce set of attributes that kubelet passes in NodePublish.attributes when a driver requires so:

[code]

These attributes would be Kubernetes specific and it's expected that drivers that require these parameters know something about Kubernetes, e.g. can GET the Pod based on the attributes.

Question is, how kubelet knows if a

[2018-07-19 12:19] CallMeFoxie opened #66379 "kubectl panic on large lists 1.11.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Running `kubectl get pods --namespace=kube-system` with large amount of pods (over 100 at least? But there might be something else as it crashed after updating the deployment several times) seems to crash `kubectl`. Tested with kubectl 1.11.1 - broken, downgrading to 1.10.5 and all works fine.

**What you expected to happ

[2018-07-19 12:21] CallMeFoxie commented on #66379
/sig cli

[2018-07-19 12:22] jsafrane commented on #66362
Currently you can't. See #64984 for discussion

If I understand it correctly, CSI `NodePublish` call of your driver creates a tmpfs and puts the current secret value there. And you need a mechanism to refresh the content of this tmpf periodically, until `NodeUnpublish`. Here I would suggest to spawn a thread (goroutine, ...) that refreshes the tmpfs you mounted. You can update it as you want until

[2018-07-19 12:45] mvernimmen commented on #62355
/remove-lifecycle stale

Experienced the same with
kubernetes version: 1.10.5
OS: CentOS Linux release 7.5.1804 (Core)
kernel: 3.10.0-862.6.3.el7.x86_64

[2018-07-19 12:48] erdun commented on #66288
I still meet the problem  when create a deploy but can't run with follow msgs
[code]

[2018-07-19 12:48] CallMeFoxie commented on #66379
Actually no ,scratch that, I managed to replicate it with even just 3 pods where one was in Pending (possibly?) state, trying to figure it out further. (Also I've broken controller/scheduler meanwhile, that's another ticket)

[2018-07-19 12:49] CallMeFoxie commented on #66379
I think that the stacktrace is currently the best lead, any of the maintainers remembers what has changed about the printer recently? :)

[2018-07-19 12:50] #66288 closed

[2018-07-19 12:52] Krishna1408 opened #66380 "[Bug Kubernetes GKE Service Loadbalancer] Sometimes need to rename a service for it to get load balancer"
/kind bug

**What happened**:
I am working with Google Container Engine, sometimes when I delete a service of type Loadbalancer and recreate it, It doesn't get a External-Ip and status shows as `<pending>`. In the google load balancing page I see that a new load balancer for this service is not getting created. When I check the service in GKE UI, I see below:

`Error deleting load balancer (will r

[2018-07-19 12:55] CallMeFoxie opened #66381 "Controller spewing out new and new pods when predicate fails"
/kind bug

**What happened**:
- Scenario: 2 nodes in a cluster.
- Deployment with hostPort
- I request more instances of the given pod
- Schedules but fails to start because overlapping hostports on the node(s)

**What you expected to happen**:
Have one pod pending

**How to reproduce it (as minimally and precisely as possible)**:
- have let's say 2 nodes
- deploy this (or with 1 replica and scale

[2018-07-19 12:56] CallMeFoxie commented on #66381
/sig scheduling

[2018-07-19 12:59] Krishna1408 commented on #66380
/sig service

[2018-07-19 13:33] andyzhangx commented on #65225
@j03wang this is not related, original issue is that after granting sp access to azure acr, pull image still fails with `unauthorized: authentication required`.

After my repro and investigation(really spent a lot of time...), I found the issue lies here, `registryClient.List(ctx) ` would return empty even after granting sp access to azure acr, and after around 15min, it returns correct loginServe

[2018-07-19 13:36] andyzhangx commented on #65225
BTW, in v1.12, acr list(`registryClient.List`) uses new API, I will check whether in v1.12 would have same issue. Acutally I have already implemented LazyProvide func(check here: https://github.com/andyzhangx/kubernetes/commit/60292a793addd008328f4f143a0e3f9f9d642d67), while it won't fix the original issue.

[2018-07-19 13:43] psandhu79 opened #66384 "Endpoints have stopped working with GKE version 1.8.11"
/kind bug

**What happened**:
Using Endpoints with Kubernetes 1.8.11-gke.0 has stopped working version 1.8.10-gke.0 works fine.

**What you expected to happen**:
 Our app should be able to use the service name to access the endpoint

**How to reproduce it (as minimally and precisely as possible)**:

[code]
**Anything else we need to know?**:

The file above works with 1.8.10-gke.0 but not with 1.8

[2018-07-19 13:44] nmnellis opened #66385 "Kubectl apply on Deployment - replicas overriding Horizontal Pod Autoscaler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

/kind bug

**What happened**:

When applying a change using `kubectl apply` the `replicas` field will override any hpa values and allow it to scale to under the hpa minimum.

**What you expected to happen**:
To either keep the current hpa values on a kubectl apply or not allow it to fall below minimum allowed hpa value.

**How to reproduce it (as

[2018-07-19 13:52] liggitt commented on #52657
closing as resolved by https://github.com/kubernetes/kubernetes/pull/65339

/close

[2018-07-19 13:52] #52657 closed

[2018-07-19 14:02] CallMeFoxie commented on #66381
Ok another observation: There needs to be two different deployments fighting over that port it seems, just one does not trigger this with high chance. When there's two fighting it goes much faster with higher chance.

[2018-07-19 14:20] AlexMuresan opened #66387 "Pod with NFS volume attached cannot be terminated"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When trying to delete a nfs-volume pod it gets stuck in "Terminating" state.

**What you expected to happen**:
The pod should be deleted

**How to reproduce it (as minimally and precisely as possible)**:
1. Create one namespace called:  e2e-tests-kubelet-bugtest1
2. Create a second namespace called: e2e-tests-kubelet-bugte

[2018-07-19 14:30] neolit123 commented on #66338
/cc @kubernetes/sig-cluster-lifecycle-test-failures

[2018-07-19 14:30] psandhu79 commented on #66384
/sig gcp

[2018-07-19 14:37] andyzhangx commented on #65225
Update:
After a few more tries, I found it's related to this code snippet, before `registryClient.List`, we need to generate a new ServicePrincipalToken every time:
https://github.com/kubernetes/kubernetes/blob/b005f2fba340e2a9a3111b499f4f0eaf1ceed3eb/pkg/credentialprovider/azure/azure_credentials.go#L164-L170

I will move this code snippet into Provide() func, and send out a PR!

[2018-07-19 14:39] mohammedzee1000 commented on #66339
/cc @kubernetes/sig-cluster-lifecycle-test-failures

[2018-07-19 14:43] neolit123 commented on #66338
@timothysc, question.
do we want to maintain `kubeadm-gce-selfhosting` for 1.12 and in the future, given the recent selfhosting decisions?

[2018-07-19 14:58] nmnellis commented on #66385
found similar issue https://github.com/kubernetes/kubernetes/issues/25238

[2018-07-19 14:58] #66385 closed

[2018-07-19 15:03] ravisantoshgudimetla commented on #66381
What is happening to old pod? Is it getting killed?

[2018-07-19 15:09] mkimuram opened #66388 "Add e2e tests for ceph-csi(rbd/cephfs) volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
e2e tests for ceph-csi(rbd/cephfs) volume don't exist.

**What you expected to happen**:
e2e tests for ceph-csi(rbd/cephfs) should exist.

**How to reproduce it (as minimally and precisely as possible)**:
Run e2e tests, for example with ```--ginkgo.focus=".*CSI Volumes.*".```

**Anything else we need to know?**:
/sig

[2018-07-19 15:33] msau42 commented on #66376
Volume expansion tests have been fixed by https://github.com/kubernetes/kubernetes/pull/66324

[2018-07-19 15:33] msau42 commented on #66295
Fixed by #66324
/close

[2018-07-19 15:33] #66295 closed

[2018-07-19 15:38] msau42 commented on #66376
/assign @davidz627
can you investigate the remaining failures?

[2018-07-19 15:54] mxey opened #66390 "kubectl apply --force does not recreate resources for immutable fields"
/kind bug

**What happened**:

From https://github.com/kubernetes/kubernetes/pull/34584 I expected kubectl apply to support deleting a resource and recreating it, if changes cannot be applied.

[code]

kubectl replace works:

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

Change clusterIP to any IP address.

[cod

[2018-07-19 16:07] mikejk8s commented on #64743
GKE support actively references this ticket and states that it will be filled with more information if you contact them with this issue. This might be an upstream kernel bug but the fact that support is actively referencing should bring some consideration to keeping it open so people are at least more aware of this. I've encountered this on multiple clusters in GKE and went through months of hell

[2018-07-19 16:16] Evesy commented on #64743
@geekgonecrazy @mikejk8s We're getting the same thing on both clusters with and without Calico for what it's worth (1.10.5 GKE)

[2018-07-19 16:31] geekgonecrazy commented on #64743
@mikejk8s so far nothing... but its been one of those issues that doesn't seem to pop up immediately.

But as a few here mentioned they haven't noticed a difference with or with out calico.

Looks like today actually 1.10.5-gke.2 has been released. I'm hunting for release notes.. you'd think they would be what you would see when you clicked release notes :roll_eyes:
![image](https://user-images.gi

[2018-07-19 16:57] mheese commented on #2630
@pearj that's exactly the workaround that everybody uses ... and as the name says: it's a workaround, and should get addressed :) ... However, there is also a problem with this workaround: updated secrets will eventually get updated in mounted volumes which will make it possible to act on a file change in the running pod; you will miss out on this update when you copy it from an init container.

[2018-07-19 17:20] cblecker commented on #44505
We met with FOSSA last month. The Github integration and periodic reports look decent, but the key was trying it out in our org and workflow.

My plate ended up overflowing with other tasks though, and I haven't got to setting it up and trialing it.

[2018-07-19 17:31] ravisantoshgudimetla commented on #66381
So, if kubelet is not admitting, then scheduler should have seen it as well as they share the same code for predicates. If you could provide kubelet logs, it could further debugging.

[2018-07-19 17:42] #65553 closed

[2018-07-19 18:01] osela opened #66392 "Duplicate logs in fluentd-elasticsearch addon"
fluentd in the fluentd-elasticsearch addon is configured to collect container logs from /var/log/containers and logs for specific k8s components from /var/log.
Installing the addon on a cluster created using kops, it seems logs for k8s components which run as pods (kube-apiserver, kube-scheduler, kube-proxy etc) are collected twice, once from /var/log/containers and once from the respective log in

[2018-07-19 18:29] Huang-Wei commented on #66348
FYI: another data point:

- enabled `ScheduleDaemonSetPods=true,TaintNodesByCondition=true` on all components (apiserver, kubelet, controller-manager, scheduler)
- add a normal taint to worker1
[code]
- deploy a daemonset app
- only worker1 has pod running; pods on tainted nodes show pending
[code]

[2018-07-19 18:38] verult commented on #66184
Yes will do!

[2018-07-19 18:48] wongma7 commented on #56647
/reopen
I am working on this

[2018-07-19 18:48] wongma7 commented on #56647
/assign
/reopen

[2018-07-19 18:51] kevincox opened #66393 "Kubelet should respect ACPI shutdown #22494"
See https://github.com/kubernetes/kubernetes/issues/22494

/kind feature

[2018-07-19 18:52] kevincox commented on #66393
/sig node

[2018-07-19 19:17] GEverding commented on #25238
I'm running into the same issue on 1.9.7
[code]

Is there an accepted workaround to this issue?

[2018-07-19 19:30] brpalmer opened #66396 ".."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-07-19 19:50] davidz627 commented on #56647
/reopen

[2018-07-19 19:54] timothysc commented on #66338
per slack, this is from the version of the test-infra file being passed into init is too old.
I'll try to loop around to this tomorrow, unless someone else can help out.

/cc @kubernetes/sig-cluster-lifecycle-bugs

[2018-07-19 20:17] fedebongio commented on #66231
/remove-sig api-machinery

[2018-07-19 20:19] fedebongio commented on #66312
/cc @wenjiaswe @jpbetz

[2018-07-19 20:19] fedebongio commented on #66312
/cc @jingyih

[2018-07-19 20:21] fedebongio commented on #66313
/cc @mbohlool @janetkuo

[2018-07-19 20:25] nicksardo opened #66399 "GCE: Wrong HTTP status code returned in operation error"
/kind bug
/sig gcp

https://github.com/kubernetes/kubernetes/pull/64630 introduced a bug returning status code 200 for operations that may have resulted in an error.

[2018-07-19 20:29] fedebongio commented on #66377
@RickNEP the steps to reproduce are not super clear, can you give us more details? Are you usuing kubectl, patch, post? if you provide more detailed steps we can take a look. Thanks!

[2018-07-19 20:31] philips commented on #44505
cc @justaugustus

[2018-07-19 20:40] ashi009 opened #66401 "`kubectl apply` failed to update resources in different namespaces"
/kind bug

**What happened**:
When applying a config file with resources in multiple namespaces, the first namespace will be applied to all other resources.

**What you expected to happen**:
resources created in their own namespaces.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:
-

**Environment**:
- Kubernetes version (use `kubectl

[2018-07-19 20:41] ashi009 commented on #66401
/sig api-machinery

[2018-07-19 20:53] justaugustus commented on #44505
@philips --
@cblecker and I are planning to braindump on this and I'll take it over.

/assign
/cc @nikhita

[2018-07-19 20:57] justaugustus commented on #44505
/unassign @cblecker

[2018-07-19 21:02] dims commented on #66396
/close

[2018-07-19 21:02] #66396 closed

[2018-07-19 21:09] liggitt commented on #66401
/sig cli

[2018-07-19 21:09] apelisse commented on #25238
OK Here is the scenario:
- You have a deployment, and you've specified a number of replicas, let's say 5, and you've applied this deployment.
- Later, you've set-up an HPA that keeps changing the number of replicas to a much bigger number,
- You make a change to your deployment configuration (maybe updating the image, that's pretty common),
- When you apply that configuration, the number of replic

[2018-07-19 21:11] liggitt commented on #66379
/assign @juanvallejo

[2018-07-19 21:16] liggitt commented on #66379
pod printing optionally sets this field:
[code]

when it does, the number of cells exceeds the number of column definitions, and kubectl panics trying to look up the relevant column definition.

kubectl should probably ignore cells without corresponding column definitions, and the apiserver should not send malformed table output

[2018-07-19 21:18] bczoma commented on #37471
Same issue but `winpty kubectl.exe exec -it <pod> -- bash` worked for me as a workaround - see https://github.com/Microsoft/WSL/issues/2271#issuecomment-317006437.

[2018-07-19 21:22] liggitt commented on #66379
fixed in https://github.com/kubernetes/kubernetes/pull/66406

/assign

[2018-07-19 21:29] mbohlool commented on #65790
Does it also drop this new discriminator field?

Anyway this change is not necessary for 1.11 anymore as the webhook conversion is alpha in 1.12 but we can merge it to master as it is part of the webhook design and I feel it is a good first step also preventing problems in downgrading 1.13 to 1.12 (with alpha flag off). I think this part should not be featuregate protected.

[2018-07-19 21:31] verult opened #66408 "Flexvolume e2e test for attachable driver: detach errors in controller manager log"
/kind bug

After the [test](https://github.com/kubernetes/kubernetes/blob/8770d12494f58f19cd5298853b9749937140e970/test/e2e/storage/flexvolume.go#L252) creates the client pod successfully, it waits for pod deletion, and  uninstalls the driver right after. Detach could happen after pod is deleted, but because the driver no longer exists, controller manager continuously logs error of this form:
[cod

[2018-07-19 22:02] tamalsaha opened #66412 "Mutating webhook for DELETE operations fail"
We had mutating webhooks on delete operation. After updating to Kubernetes 1.11, it is failing.
Stacktrace:

[code]

I tried to debug and this is what I found:

1. https://github.com/kubernetes/apiserver/blob/kubernetes-1.11.0/pkg/endpoints/handlers/delete.go#L106
2. https://github.com/kubernetes/apiserver/blob/kubernetes-1.11.0/pkg/admission/plugin/webhook/generic/webhook.go#L201
3. https://githu

[2018-07-19 22:03] tamalsaha commented on #66412
cc: @deads2k @sttts

[2018-07-19 22:10] bartoszhernas commented on #47775
Hi, we stumbled into a similar issue.

Our spec:
- no ImagePullPolicy
- GKE 1.10 Kubernetes
- image in spec has "latest" tag

When we do a release we update image via kubectl specifying the SHA of the image.
Additionally, we tag the newest image (coming from master branch) as "latest".

Then I've added a new environment variable to the spec, and used "kubectl apply".
Our latest tag is pointing to

[2018-07-19 22:22] neolit123 commented on #66338
potential fixes are up:

sig-master-blocking#kubeadm-gce:
https://github.com/kubernetes/kubernetes-anywhere/pull/545

sig-release-master-blocking#kubeadm-gce-selfhosting
https://github.com/kubernetes/kubernetes-anywhere/pull/546

[2018-07-19 22:36] kfox1111 opened #66416 "Add restrictions on tolerations and nodeSelectors to PodSecurityPolicy"
/kind feature

Sites may have reserved nodes such as masters where you do not want particular users to land workload on. You should be able to specify what nodeSelectors are allowed, and what tolerations are allowed.

[2018-07-19 22:46] kfox1111 commented on #66416
@kubernetes/sig-auth-feature-requests

[2018-07-19 23:05] MohdAhmad commented on #57471
@bsalamat will this automatically be applied for critical pods you've identified above or will their spec need to be updated?

[code]

[2018-07-19 23:16] #63784 closed

[2018-07-19 23:30] bsalamat commented on #57471
@MohdAhmad We have already made changes to run those pods with proper priority. Please check this PR #59237 and let us know if we have missed anything. Kube-proxy's priority is also set in a different PR.

[2018-07-19 23:53] vishh commented on #24925
Assume that there is 200 quantums of cpu time available across 2 cores.
With your example, pod A will get 40 quantums of time while pod B will get
160 quantums of cpu time.
In the case of since core, there will 100 quantums of cpu time, where pod A
gets 20 quantums and pod B gets 80 quantums.

On Wed, Jul 18, 2018 at 6:30 AM Steven Bower <notifications@github.com>
wrote:

[2018-07-20 00:24] krmayankk opened #66417 "dockershim ut failures"
These Tests fail on the master branch with no local changes on my macbook. Needs investigation on why this is failing

[code]

[2018-07-20 00:25] krmayankk commented on #66417
/sig auth

[2018-07-20 00:25] krmayankk commented on #66417
/sig node

[2018-07-20 00:27] zhangmingld commented on #66221
Wow,the code above is not our code,i think i said clearly that we will do a pull request,please pay attention to the community rules @ceshihao

[2018-07-20 00:30] k82cn commented on #66381
What the yaml file of the other Deployment? It's better to use different selector of each Deployments.

[code]

[2018-07-20 00:44] geekgonecrazy commented on #64743
Ok according to: https://github.com/kubernetes/kubernetes/pull/65342 this node problem detector change was released in its: 0.5.0

1.10.5.gke.0 has:
[code]

1.10.5-gke.2
1.10.5.gke.0 has:
[code]

So... no doesn't include that particular change.

[2018-07-20 01:06] k82cn commented on #66416
@kfox1111 , suppose this is part of PodSecurityPolicy proposal, would you help to create an issue to list sub-tasks? it's easier to trace the progress, e.g. how many PR/issues remain :)

[2018-07-20 01:06] k82cn commented on #66416
/wg policy

[2018-07-20 01:12] Random-Liu commented on #55141
This is fixed by https://github.com/kubernetes/kubernetes/pull/63357.

[2018-07-20 01:12] #55141 closed

[2018-07-20 01:20] liggitt commented on #66416
I don't think PSP would be the vehicle for that. Requests for the ability to control scheduling is already covered by existing issues/feature requests: #48041 https://github.com/kubernetes/kubernetes/issues/59366 https://github.com/kubernetes/community/pull/1937

/close

[2018-07-20 01:20] #66416 closed

[2018-07-20 01:24] liggitt commented on #66416
in the meantime, the [PodTolerationRestriction](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podtolerationrestriction) and [PodNodeSelector](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podnodeselector) admission plugins offer preliminary alpha-level controls over bounding what selectors and tolerations are permitted in given name

[2018-07-20 01:27] magixyu opened #66420 "kubeadm - list all components version command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Need the components version for certain k8s release

**What you expected to happen**:
kubeadm list-versions
it will list all the components versions in current kubeadm, including:
coredns etc.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Ku

[2018-07-20 01:31] neolit123 commented on #66420
this is already possible in 1.11 using the following command:
[code]
replacing x.xx.x would give you the list of all the control plane and addon images, including coredns.
if you are not happy with this functionality, please open an issue in the `kubernetes/kubeadm` repository and make a proposal.

thanks.
/close

[2018-07-20 01:31] #66420 closed

[2018-07-20 01:36] neolit123 commented on #66390
/cc @kubernetes/sig-cli-bugs

[2018-07-20 01:36] magixyu commented on #66420
Thank you very much!

Tristan

[2018-07-20 01:42] #56736 closed

[2018-07-20 01:45] neolit123 commented on #66417
i cannot confirm this.
all tests pass for me in `dockershim/`.
[code]
HEAD is at 795b7da8b05d2ad39

[2018-07-20 01:45] Lion-Wei commented on #66103
@liqlin2015 How can I reproduce this problem? Just build a cluster and use calico as cni plugin?

[2018-07-20 01:53] MrHohn commented on #66141
Test has been passing.
/close

[2018-07-20 01:53] #66141 closed

[2018-07-20 02:01] daixiang0 opened #66421 "fsHandler.go:121: failed to collect filesystem stats"
/kind bug
/sig node

**What happened**:
I run kubelet at physical machine and find below logs with `systemctl status kubelet`:
[code]
`/software/docker/overlay2/b9bb924fa49e4f1414894eba364c2c80f6e3924122bcc01d09b26a300ba559a9/diff` exists, but `.cfs`,`.dim`  files and so on do not exist.

But i check all my pods, they are all fine.

I really do not know should i ignore them or not.

I look some is

[2018-07-20 02:12] resouer commented on #64908
@wenlxie  #65714 is used to improve equivalence class cache, not scheduler cache. The scheduler cache does not hold global lock in scheduling path AFAIK.

While #65714 does improve cache performance to some extend, but if it's really caused by lock contention there, I will assume the problem won't be fixed.

Also, would be great if provided with your cluster spec and if any alpha feature is enable

[2018-07-20 02:14] Lion-Wei commented on #66103
https://github.com/kubernetes/kubernetes/blob/cdf7f2dbf54aa6e2ec264baa61ace145e39ffe10/pkg/proxy/ipvs/proxier.go#L1397-L1402

[2018-07-20 02:14] liucimin commented on #66103
Don't you use Ipvs now? and the hostport configuration is configured by docker into iptables.‘
I dont think change the kube-proxy iptables can fix this problem.

[2018-07-20 02:17] resouer commented on #63784
@godliness If you are still interested in this issue, would be great if you can try with the HEAD to see how  #65714 is doing.

[2018-07-20 03:11] liggitt commented on #66412
thanks for the report... is this on a custom resource or a native resource?

[2018-07-20 03:21] krmayankk commented on #66417
sounds good @neolit123 i will debug this more

[2018-07-20 03:28] tamalsaha commented on #66412
It is a CRD.

[2018-07-20 03:34] xiaoxubeii commented on #66363
Can kube-proxy ipvs [Client-IP based session affinity](https://kubernetes.io/docs/concepts/services-networking/service/) fix your problem? If kube-proxy don't set masq, the packet response cannot return.

[2018-07-20 03:35] xiaoxubeii commented on #66387
/sig storage

[2018-07-20 03:36] xiaoxubeii commented on #66360
/close

[2018-07-20 03:36] #66360 closed

[2018-07-20 03:42] fejta commented on #64030
What wwwww

On Thu, Jul 19, 2018, 02:27 Shyam JVS <notifications@github.com> wrote:

[2018-07-20 03:42] onlyjob opened #66422 "Sloppy vendoring of "json-iterator/go""
[json-iterator/go](https://github.com/json-iterator/go/releases) is a [semantically versioned](https://semver.org/) library yet is is [vendored by random commit](https://github.com/kubernetes/kubernetes/blob/master/Godeps/Godeps.json#L2010) instead of release tag.

Please consider vendoring by tag whenever possible.

Thanks.

[2018-07-20 03:44] #59741 closed

[2018-07-20 03:53] xujieasd commented on #66103
@Lion-Wei , yes, you are right.
kube-proxy can make sure that `KUBE-SERVICES` rule at the top only for the first time `KUBE-SERVICES` rule is created.
maybe a simple fix solution is after `EnsureRule`, check the rules sequence, if `KUBE-SERVICES` rule is not at the top, delete the rule and re-prepend the rule

[2018-07-20 03:54] rite2nikhil opened #66424 "Azure - ILB Frontend IP configuration does not change while updating service"
/kind bug

**What happened**:
ILB Frontend IP configuration does not change while updating service
**What you expected to happen**:
LB Frontend IP configuration should get updated
**How to reproduce it (as minimally and precisely as possible)**:
Source issue : https://github.com/Azure/AKS/issues/532
AKS service is created using .yaml manifest. ILB is described as it is shown in the documentation:

[2018-07-20 03:57] rite2nikhil commented on #66424
/sig azure

[2018-07-20 04:12] bchelli commented on #66380
👍

[2018-07-20 04:19] nikhita commented on #66422
We vendored it that way because the commit that fixed a bug (which we needed to be fixed and vendored back in) was https://github.com/json-iterator/go/commit/f2b4162afba35581b6d4a50d3b8f34e33c144682. This was merged on June 13. The release 1.1.4 (https://github.com/json-iterator/go/releases/tag/1.1.4) was released on July 1.

If we want to update it to 1.1.4, I believe it should be fine. Between t

[2018-07-20 04:19] nikhita commented on #66422
/sig api-machinery

[2018-07-20 04:29] feiskyer commented on #66424
This also not works for public LB.

/cc @karataliu @fseldow Could you fix the bug and cherry pick to old versions?

[2018-07-20 04:53] liggitt commented on #66412
fix is in #66425, pick to 1.11.x in #66426

conversion of unstructured objects (used internally for CRDs) changed in 1.11 as part of CRD versioning, which made them actually go through the conversion stack

[2018-07-20 05:05] liggitt commented on #66412
/assign

[2018-07-20 05:22] cblecker opened #66428 "pull-kubernetes-e2e-kops-aws - VpcLimitExceeded"
Seeing sporadic failures of the kops aws e2e due to VpcLimitExceeded

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/66426/pull-kubernetes-e2e-kops-aws/97882
https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kops-aws

@kubernetes/sig-testing-misc @kubernetes/sig-aws-misc
/assign @fejta
(test-infra on-call)

[2018-07-20 05:40] stevekuznetsov commented on #64030
Not sure I understand the comment @fejta

[2018-07-20 06:12] nicksnyder opened #66430 "kubectl apply --prune --all fails to remove existing resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I ran
[code]

It applied all my new yaml in base/ but did not remove existing resources from the cluster due to an error:

**What you expected to happen**:

I expected all the yaml in base/ to get applied to my cluster, and all other resources currently running on the cluster that were not represented in base/ to be remo

[2018-07-20 06:16] CallMeFoxie commented on #66381
Ah yeah, of course they have different selectors etc, they were even in different namespaces when I observed it and went to diagnose the bug :) Just need to have the same hostport exported.

Somehow I am unable to replicate the issue today (yay friday) and journal has already removed yesterday's logs :( Will keep on trying.

[2018-07-20 06:16] nicksnyder commented on #66430
@kubernetes/sig-cli-bugs

[2018-07-20 06:17] CallMeFoxie commented on #66381
Actually the PodFitsHostPort pods have Failed state, not terminated/evicted.

[2018-07-20 06:57] yastij commented on #66354
/close

[2018-07-20 06:57] #66354 closed

[2018-07-20 07:04] sttts commented on #65790
Let's get a fully working end-to-end prototype PR ready first. This we can review and then sign off the proposal. After that we can split it up in natural steps and get into master. This will be one of those steps. I don't like to merge in half of a design before it is actually finished.

[2018-07-20 07:10] liucimin commented on #66103
@Lion-Wei
Yes,Some cni plugin may think the service ip or host port should it self to generate a iptables chain and rule
to hold this problem.
If we just make the proxy's iptables rule on the top of preroute chain.We may fix this problem but maybe cause other problems.
In my opion,i want the @liqlin2015 to give us the  ingress  config .
And would do you like to give us the whole iptables rule to l

[2018-07-20 07:12] CathySha opened #66431 "Replace Deployment doesn't work in Java"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I'm trying to update a deployment in Java.

The codes are :

    ApiClient client = this.k8sClientManager.getClient();
    Configuration.setDefaultApiClient(client);
    AppsV1Api apiInstance = new AppsV1Api();
    V1Deployment deploymentV1 = new V1Deployment();
    V1Deployment result = null;
    try {
        result =

[2018-07-20 07:14] vishen commented on #66380
I believe this issue is caused because of #66399, and it being fixed by #66400

[2018-07-20 07:17] CathySha commented on #66431
/sig networking

[2018-07-20 07:18] vishen commented on #65583
I believe this issue is caused because of #66399, and it being fixed by #66400

[2018-07-20 07:22] CathySha commented on #66431
/sig api-machinery

[2018-07-20 07:35] ddehghan commented on #45438
GCE has a ingress controller that looks up any Ingress you declare. it is the default ingress controller. If you want to have your own ingress controller inside your cluster to route your traffic between your pods then you have to specify

annotations: kubernetes.io/ingress.class: nginx

on the ingress yaml that defines the routing of traffic between your pods. that way GCE ingress controller will

[2018-07-20 07:44] willthames opened #66432 "DNS almost entirely failing on single Kubernetes node only"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

On a single node only, DNS is almost entirely failing to work

**What you expected to happen**:

DNS to always work

**How to reproduce it (as minimally and precisely as possible)**:

[code]

So in that test DNS resolution succeeded one time out of 9. (This seems to be worse since I tried earlier where it was more like 5

[2018-07-20 07:53] hzxuzhonghu commented on #66231
/unassign

[2018-07-20 08:19] zhangmingld commented on #66221
@kubernetes/sig-node-feature-requests

[2018-07-20 08:19] DevOps-Alvin commented on #66231
@hzxuzhonghu  The problem has been solved. thank you very much

[2018-07-20 08:19] #66231 closed

[2018-07-20 08:24] tnozicka commented on #63166
Tried with current master (cef1880350bed8df724f6f06e6d7e4e9b8acda7f) and KUBE_VERBOSE, still broken:

[code]

[2018-07-20 09:00] CallMeFoxie commented on #66381
OK one precondition I forgot to mention and forgot about today: I've spammed `kube-dns` pods beyond what the cluster can take (`requests` and `limits`) and not all got scheduled. However the kube-dns has got high priority whilst the other two deployments have normal default priority of zero.

I see nothing in logs of kubelet BUT kubelet is boiling 100% of the CPU.

[code]
on kubelet

[2018-07-20 09:01] scriptonist opened #66435 "kubectl fails when duplicate context names are present"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I brought up an AKS cluster with name `testcluster`.Then  ran azure-cli command  `az aks get-credentials` to set the current `kubectl` context to point to the new cluster.The command ran successfully.
Now on running `kubectl get nodes`, I was greeted with the following error
[code]

**What you expected to happen**:

Expe

[2018-07-20 09:01] CallMeFoxie commented on #66381
I wonder if it is some race condition with eviction on equal pods of the `kube-dns` and scheduler doing ... -- hmm ok I have no idea here, anyone? :)

[2018-07-20 09:02] scriptonist commented on #66435
/sig cli

[2018-07-20 09:07] mkasep commented on #25478
@hvalls So besides te declarative way, there is no other way to describe a nodeport on a single command?

[2018-07-20 09:07] godliness commented on #63784
@resouer ok, i will try it! thx!!

[2018-07-20 09:22] Reamer opened #66437 "Resize PV with Ceph Mimic - parsing error"
**Is this a BUG REPORT**:
/kind bug

**What happened**:
The command `rbd info` reports size of rbd image now in GiB and not in MB with Ceph Mimic. Therefore size parsing in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L721-L725 fails.

[code]
[code]

**What you expected to happen**:
Parsing with MB and GiB should work to support also ceph mimic

**How to reproduc

[2018-07-20 09:30] wenlxie commented on #64908
@ravisantoshgudimetla No, we didn't enable it.

@resouer  Sorry, not take full look of that PR.
But #65714 changes the scheduler cache's lock to RW Lock.
I think the performance will be improved.
For our cluster(k8s 1.9), we just enable feature:
[code]

We will start to do more analyze this issue next month.
I will paste the full result here.

[2018-07-20 09:35] CallMeFoxie commented on #66381
This is the kube-dns deployment:
[code]

however the nodes are completely full (both have +- the same HW and capacity and load):
[code]
which prevents the remaining instances of kube-dns be scheduled just as the test pods and they're somehow fighting over.
I have no idea how the `PodFitsHostPorts` clicks in though.

[2018-07-20 09:39] alicefr opened #66438 "Getting amd64 images when pull images for s390x"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I pulled the s390x images for kubernetes `v1.10.5` and I got amd64 images.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[2018-07-20 09:42] #66438 closed

[2018-07-20 09:54] xingxingxia opened #66439 "The `wait` command about condition name for use"
Issue 1:
In the help info `kubectl help wait`, it mentions `condition=available`.
When I first time uses it for pod, it always timeout. **This confuses user**.
Finally I know it depends on resource type, user should check .status.conditions, pod uses `condition=ready`, pod controller uses `condition=available`.
It should clarify this in help info.

Issue 2:
For resource that does not have .status.

[2018-07-20 10:51] #57971 closed

[2018-07-20 11:01] tanaka-takayoshi opened #66443 "Failed to mount Azure Disk as a PV when ADE is enabled"
/kind bug

**What happened**:
kubernetes failed to mount directory in Azure Disk as a PV when Azure Disk Encryption is enabled in node host.

**What you expected to happen**:
Successfully to mount the disk.

**How to reproduce it (as minimally and precisely as possible)**:
I confirmed the issue in AKS (kubernetes 1.9.9) and OpenShift Enterprise 3.9 on Azure. Here is how to reproduce with AKS.

Cre

[2018-07-20 12:30] #66399 closed

[2018-07-20 12:31] andyzhangx commented on #66387
/assign

[2018-07-20 12:45] cablespaghetti commented on #60099
Same issue as @alkin. Just spent quite a while workout out why I was getting an error for my redis.port property in my Java containers when I wasn't setting it. I guess I'll rename my redis service to something other than "redis". :(

[2018-07-20 13:07] falzm commented on #65221
Same issue on Google Cloud GKE with version 1.10.5:

[code]

[2018-07-20 13:12] neolit123 commented on #66339
this is a flaky one that had the same behavior since as long as test grid allows you to go back (May).
is this test maintained by sig-cluster-lifecycle?

i'm seeing some kubelet errors here:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-
reboot/16082/artifacts/gke-e2e-16082-344e3-default-pool-07f2b410-9rsd/kubelet.log

there are some node timeouts too here:
https

[2018-07-20 13:17] tnozicka commented on #63166
ok, so I got to the bottom of this:
[code]

seems like an issue of passing env to docker run here:
https://github.com/kubernetes/kubernetes/blob/9b15af19b22e91284eeb89827b2091caaec25bf6/build/common.sh#L660-L663

[2018-07-20 13:40] neolit123 commented on #66240
after that it was fixed somehow and it started failing with this error consistently since the 18th:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster/2298

sadly, i cannot help much here.
the errors seem gcloud related...

[2018-07-20 13:43] andyzhangx commented on #66443
@tanaka-takayoshi I found the root cause, by encrpyting the vm disk, there would be a new disk `/dev/sdc`, the azure cloud provider would recognize the `/dev/sdc` disk instead of `/dev/sdd`
[code]

[2018-07-20 13:51] tnozicka commented on #63166
I have traced it to a mistake in my script `~/bin/docker` wrapping docker that has been loosing the quotes:
[code]
was missing quotes
[code]

Appollogies for the noise.

[2018-07-20 13:51] #63166 closed

[2018-07-20 13:52] andyzhangx commented on #66443
There are two ways to fix this issue to support disk encryption since there would be a new disk `/dev/sdc` after disk encryption:
 - simple way
always find device bigger than `/sys/bus/scsi/devices/3`, it looks correct per our experience in multiple OS, e.g. Ubuntu, CoreOS, Redhat...
https://github.com/kubernetes/kubernetes/blob/57729ea3d9a1b75f3fc7bbbadc597ba707d47c8a/pkg/volume/azure_dd/azure_co

[2018-07-20 14:12] tanaka-takayoshi commented on #66443
@andyzhangx Yes. That's what I want to explain.

[2018-07-20 14:50] cblecker commented on #63166
Glad you could figure it out!

[2018-07-20 14:52] pdwyer commented on #66443
If you changed to always find a device bigger that 3 aren't you going to break situations where ADE is not involved?

If the bek volume was labelled in a similar manor to root and resources disks, a udev rule could be created and it could be excluded in a similar way as is done in func listAzureDiskPath?

[2018-07-20 14:53] xmudrii opened #66448 "Implement mechanism for certificates rotation in aggregated API servers"
### Problem outline

When we want to rotate certificates for aggregated API servers, we have to restart (kill) pods in order for API server to pick the new certificates. It would be very useful to implement some sort of self-awareness for the aggregated API servers, so they can pick-up new certificates when they're updated, without user interaction.

### Problem description

If we have certificate

[2018-07-20 14:59] helgifeiti opened #66449 "Kubelet won't start on Azure VMSS after upgrading to k8s v.1.11.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Updated Kubernetes to v1.11 on my k8s cluster running on Azure VMSS and now, kubelet won't start reporting error:
` failed to run Kubelet: could not init cloud provider "azure": No credentials provided for AAD application.`

I have the azure.json file located under `/etc/kubernetes/`, where it was working fine in k8s v1.10.4 and it

[2018-07-20 15:11] WesCossick opened #66450 "Inconsistent use of "configured" vs. "unchanged" when applying configuration files"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug report

/kind bug

**What happened**: When deploying an unchanged resource to Kubernetes using `kubectl apply`, output sometimes states `[resource kind] "example" configured`.

**What you expected to happen**: For the output to state `[resource kind] "example" unchanged` instead.

**How to reproduce it (as minimally and precisely as possible)**: I

[2018-07-20 15:14] russt commented on #65221
@falzm from your version dump I think you have 1.11.  (try kubectl version --short).

[2018-07-20 15:16] falzm commented on #65221
My bad:

[code]

[2018-07-20 15:19] andyzhangx commented on #66443
no, the new data disk device would be always bigger than 3 no matter ADE is enabled or not.

The data disk could always be found under `/dev/disk/azure/scsi1`,
[code]

[2018-07-20 15:33] andyrd2405 commented on #66443
To prove the original issue raised I tried the following to add BEK as a sym link in /dev/disk/azure as below.

lrwxrwxrwx. 1 root root   9 Jul 17 15:32 root -> ../../sda
drwxr-xr-x. 7 root root 140 Jul 17 15:32 ..
lrwxrwxrwx. 1 root root  10 Jul 17 15:32 root-part2 -> ../../sda2
lrwxrwxrwx. 1 root root  10 Jul 17 15:32 root-part1 -> ../../sda1
lrwxrwxrwx. 1 root root   9 Jul 17 15:33 resource ->

[2018-07-20 15:59] liggitt commented on #66448
this could also be done by a purpose-built container that watched the same input files

[2018-07-20 15:59] #66412 closed

[2018-07-20 16:02] liggitt commented on #66435
this seems like a bug in the component that produced the kubeconfig file

[2018-07-20 16:02] bamb00 opened #66454 "KUBE-PROXY: Failed to execute iptables-restore: exit status 2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kube-proxy pod return error failed to execute iptables-restore exit status 2
**What you expected to happen**:
kube-proxy pod in running state
**How to reproduce it (as minimally and precisely as possible)**:

    # kubectl logs kube-proxy-t4x8x -n kube-system
	I0720 05:19:28.533050       1 feature_gate.go:190] feature gat

[2018-07-20 16:08] timothysc commented on #66338
/assign @neolit123

[2018-07-20 16:14] timothysc commented on #66368
/assign @shyamjvs @wojtek-t

[2018-07-20 16:14] jsenon commented on #56903
Hi, in your alpine pod have you tried to add: `apk -v --update add  --no-cache bind-tools` ?

[2018-07-20 16:16] Shivang44 commented on #66349
Okay, issue #1 is mostly my fault. It turns out comma separated labels uses the logical AND (so I was selecting deployments that had BOTH keys, not two different deployments, each with one of those keys). To resolve this, you can use set notation. I believe we should document this in the command so people know that `kubectl wait` supports set notation. So, if you want to select two deployments, on

[2018-07-20 16:24] Shivang44 commented on #1899
@chucky2305 Yeah, unfortunately it instantly returns if the selector does not match (I made a bug report for that https://github.com/kubernetes/kubernetes/issues/66349). Basically, it will only wait if that resource exists. It will not wait on nonexistent resources.

What you could do (I believe) is put those labels on the deployment, and wait until the deployment has a condition of available. The

[2018-07-20 16:27] Shivang44 opened #66456 "kubectl wait with selectors does not output anything if resource is not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When running the command without selectors, everything seems to work:

`kubectl wait deployment/web --for condition=available --timeout=100s`

It waits until the condition is met, and then outputs:

`deployment.extensions/web condition met`

*Or*, if it can't find a resource, it outputs:

`Error from server (NotFound): d

[2018-07-20 16:43] fturib commented on #66432
@chrisohaver , @MrHohn  - FYI.

[2018-07-20 16:45] PierrickI3 opened #66457 "kubelet won't start after reboot"
/kind bug

**What happened**:
After rebooting, kubelet service won't start

**What you expected to happen**:
kubelet service should start

**How to reproduce it (as minimally and precisely as possible)**:
Deploy kubeadm
Deploy containers
Apply workaround to fix rebooting issue: https://github.com/xetys/k8s-self-hosted-recovery
Reboot
Keep on working in kubernetes
Multiple reboots and it worked fin

[2018-07-20 17:11] djsly commented on #65991
@mikedanese / @smarterclayton your input would be appreciated :)

[2018-07-20 17:48] chrisohaver commented on #66432
Do you have better results with tcp?  e.g. `dig www.google.com +tcp`

[2018-07-20 17:52] destijl opened #66460 "Move coredns/coredns to k8s.gcr.io for 1.10 and 1.9"
Head is using k8s.gcr.io:
https://github.com/kubernetes/kubernetes/blob/90f681be107cf67aa610b836a6a45f99e0bf04f2/cluster/addons/dns/coredns/coredns.yaml.in#L109

It would be great if you could also update the 1.10 and 1.9 release branches to do the same so we can vulnerability scan those images.

[code]
/kind bug
/sig auth

@rajansandeep

[2018-07-20 17:53] tianyicaii opened #66461 "Cannot set node scope with "cloud-platform""
https://github.com/kubernetes/kubernetes/blob/07387782ec8e1824907b1ae5d11a33f1afcb1548/cluster/gce/config-default.sh#L119

I tried to get full Google cloud API access on my nodes by appending "cloud-platform" to the list that initiates NODE_SCOPES, but I don't see any effect. Please help, thanks.

@kubernetes/sig-auth-bugs

[2018-07-20 18:05] rajansandeep commented on #66460
@destijl To clarify, we'll need gcr.io images for CoreDNS 1.0.1 and 1.0.6 for k8s v1.9 and v1.10 respectively?

[2018-07-20 18:05] chrisohaver commented on #66460
Can we move 1.10 and 1.9 to coredns version 1.1.3.

[2018-07-20 18:22] huydinhle commented on #65743
we are also got affected by this issue https://github.com/kubernetes/kubernetes/issues/45419, can someone take a look at this PR. we will be happy to test this out

[2018-07-20 18:39] adampl commented on #58788
I have just experienced this issue with Kubernetes 1.10.1 (Rancher 2.0) on the latest Docker CE.

[2018-07-20 18:40] raoofm commented on #61488
same issue here

[2018-07-20 18:50] justinsb commented on #66428
I'm looking at this now.  It appears that we have some test clusters that aren't shutting down (i.e. are more than one day old), and that these are using most of our capacity.

[2018-07-20 19:12] #66379 closed

[2018-07-20 19:30] jhorwit2 commented on #66457
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2018-07-20 19:30] jhorwit2 commented on #66457
/close

[2018-07-20 19:30] #66457 closed

[2018-07-20 19:30] jhorwit2 commented on #66456
/sig cli

[2018-07-20 19:34] deads2k commented on #66448
That coordination would certainly work and be a valuable tool for someone to build to help manage rolling generic processes if we never get a pod restart.  However, being able to have a "usually won't all go down together" option built-in is easy to understand and will resolve the problem until then.

It isn't a stretch to say that if your process isn't fulfilling the current intent of the pod, it

[2018-07-20 19:35] fturib commented on #66460
Pushing image of CoreDNS to gcr.io can be done, right now, only by @thockin .
He is out of office for 2 weeks from now.

Once the images are pushed, I guess we could update the manifest of CoreDNS to to point to the repository gcr.io in order to retrieve the images.
=> That would be for future releases of k8s 1.9 and  k8s 1.10

@destijl : is that what you expect ? Or you just need to have the 2 im

[2018-07-20 19:36] dims commented on #53221
fyi "need to re-vender to include the fix moby/moby#35008" is being handled in https://github.com/kubernetes/kubernetes/pull/64283

[2018-07-20 19:36] jhorwit2 commented on #66306
/sig aws

[2018-07-20 19:37] cblecker commented on #66422
I'm indifferent to updating this. I'm okay with moving up if it doesn't break anything, or I'm fine with leaving things as is. We don't require deps to match semver. We can version out any commit in a deps tree, as we rely on our vendored copy.

[2018-07-20 19:38] chrisohaver commented on #66460
Why not just move to coredns 1.1.3 at that time?  Why continue to use an old CoreDNS?

[2018-07-20 19:40] chrisohaver commented on #66460
1.0.x -> 1.1.X major version change, possible custom configuration incompatibilities?

[2018-07-20 19:44] jhorwit2 commented on #66273
@sanjid133 this seems unrelated to the controller manager itself and a problem isolated to your setup. If you run without the cloud provider set and deploy a pod is it able to reach the apiserver?

[2018-07-20 19:44] jhorwit2 commented on #66273
cc @andrewsykim since it's DO related

[2018-07-20 19:52] jhorwit2 commented on #66258
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2018-07-20 19:52] #66258 closed

[2018-07-20 19:56] jhorwit2 commented on #66281
@haoqing0110 please take a look at https://kubernetes.io/cn/docs/admin/kubelet-tls-bootstrapping/ which includes kubelet server and client certificate management plus rotation.

If you have any further questions please post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are pos

[2018-07-20 19:56] #66281 closed

[2018-07-20 20:00] #8337 closed

[2018-07-20 20:00] #59996 closed

[2018-07-20 20:22] lcasassa commented on #65583
nice! thanks for the update

[2018-07-20 20:36] chrisohaver commented on #66460
It would get validation in the e2e tests... however, I think the minor version change means that we introduced some backward incompatible changes between those versions.   Which means we could break deployments if people have customized their configurations to use a deprecated plugin/option.  So not a good idea to upgrade.

[2018-07-20 21:54] ryanmcnamara commented on #62928
/remove-lifecycle stale

[2018-07-20 22:02] caesarxuchao commented on #66068
If the user expects the dependents to be deleted with the original owner, they'll have to use "foregroundDeletion".

If the user wants the recreated owner to adopt the dependents, then we can introduce "ttl after owner is deleted" concept, and as long as the user successfully recreates the new owner within TTL after when the old owner is deleted, the dependents will survive, and there will be no r

[2018-07-20 22:02] #57798 closed

[2018-07-20 22:07] yocum137 commented on #65569
@frittentheke, I'm curious, did you configure kube-reserved (and system-reserved) on the node where the pod lived to avoid oom-killer from being invoked?  See: https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/

[2018-07-20 23:02] #64649 closed

[2018-07-20 23:03] #47746 closed

[2018-07-20 23:10] nicksardo opened #66465 "GCE: ILB->ClusterIP orphans a few GCP resources"
/kind bug

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a service of type ILB.
2. Edit the service
    a. Change the type to ClusterIP
    b. Remove the port's nodeport

Observe the service controller calls the delete code for the external load balancer instead of the internal loadbalancer.

/sig gcp
/assign @bowei
cc @freehan @MrHohn

[2018-07-20 23:51] verb commented on #27140
/remove-lifecycle stale

[2018-07-21 00:30] Huang-Wei commented on #66298
I've found the root cause, and should be able to send out a PR next week.

[2018-07-21 00:55] liucimin commented on #65743
@huydinhle
Yes, i m trying to fix this problem.
My change is first set a timeout in cni.
When the cni merge my code,then kubelet will fix more easy.
https://github.com/containernetworking/cni/pull/568

[2018-07-21 01:02] bsalamat opened #66468 "Improve unit tests of generic_scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**: clean-up

Unit tests of generic_scheduler.go includes [a hack](https://github.com/kubernetes/kubernetes/blob/b1e9e747fb777a49ecd204c5e97a5d00d9fcfea1/pkg/scheduler/core/generic_scheduler_test.go#L675) that should be removed. We should add a parameter to the test cases that indicates the expected score and then check if the returned value of the functio

[2018-07-21 01:06] liucimin commented on #66103
@m1093782566
Thx for your response.And i get it. Thx~

[2018-07-21 01:34] islinwb commented on #66468
I'll work on this.
/assign

[2018-07-21 01:49] rezroo commented on #2630
@pearj @mheese This work around wouldn't work for me anyway - because our PodSecurityPolicy doesn't allow containers to run as root - normal or init containers - doesn't matter - no one can access a secret owned by root as far as I can tell.

[2018-07-21 02:06] #60105 closed

[2018-07-21 02:41] andyzhangx commented on #66443
@andyrd2405 Thanks, that would be a better solution without changing k8s code. I just verified that add one more udev rule(see below) in `/etc/udev/rules.d/66-azure-storage.rules` would fix this issue:

ATTRS{device_id}=="?00000000-0000-*", ENV{fabric_name}="root", GOTO="azure_names"
ATTRS{device_id}=="?00000000-0001-*", ENV{fabric_name}="resource", GOTO="azure_names"
**ATTRS{device_id}=="?0000000

[2018-07-21 02:53] warmchang commented on #47928
/remove-lifecycle stale

[2018-07-21 02:55] scriptonist commented on #66435
So, maybe a problem with azure-cli ?

[2018-07-21 03:58] ejc3 commented on #66230
Using the eviction api is a good idea. I wish there was something more built in since this seems like a common case to get right, but I think having a version of the “in pod” health check call eviction on itself is a good idea without adding anything outside k8s primitives.

[2018-07-21 04:35] djsly commented on #65965
/sig-node
I'm having the same issue but with a daemonset having the issue with the service account Token volume

In my case the daemonset is stuck in Terminating due to a missing Volume.

[kubelet.log.tgz.zip](https://github.com/kubernetes/kubernetes/files/2215894/kubelet.log.tgz.zip)

[2018-07-21 04:35] djsly commented on #65965
/sig Node

[2018-07-21 05:09] #60061 closed

[2018-07-21 07:48] onlyjob commented on #66422
It is always a good idea to match semver and it should be a default policy.

Even if it doesn't matter to you, it should, because it is a best practice.

Moreover downstream it matters much more as dependencies may be un-vendored in favour of tested re-usable packages.

[2018-07-21 09:39] PhilipGough opened #66474 "Invalid openapi-spec being generated."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/assign cblecker

**What happened**:
While working on #58677 there was a repeated failing test in the verify job `make verify WHAT=openapi-spec` reporting an outdated `swagger.json` file. The test was passing locally. Running `hack/update-openapi-spec.sh` created no diff in the codebase.

Since this is a long running PR I thought we may have

[2018-07-21 12:16] #59680 closed

[2018-07-21 13:26] leeivan opened #66475 "Error in ./test/kubemark/start-kubemark.sh:340"
/area conformance
/area test
/sig testing
/sig scalability

STARTING SETUP FOR HOLLOW-NODES
Configuring registry authentication
gcloud credential helpers already registered correctly.
Copying kubemark binary to /home/leeivan/gowork/src/k8s.io/kubernetes/cluster/images/kubemark
docker build --pull -t gcr.io/avid-equator-210902/kubemark:07fkvk .
Sending build context to Docker daemon  162.2MB
Step 1

[2018-07-21 20:39] fulvi0 commented on #46915
Hi folks,

I'm facing the same issue try to get stats from my nodes, I tried with the instructions above but without success.

**Env info**
[code]

[code]

[code]

[2018-07-21 21:51] fturib commented on #61488
Hum.. I did not notice this issue so far.
FYI - @rajansandeep , @chrisohaver
@rajansandeep : could you have a look and adapt the code ?

[2018-07-22 00:08] slecrenski opened #66477 "apiserver along with entire control plane crashes during initialization in previously long running Kubernetes Cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We've been running a Kubernetes Cluster for more than a year now.  We have upgraded a few time.  Now all of a sudden we are receiving this and the apiserver/control plane crashes and all docker processes crash on the  master server.

[code]

[code]

[code]

[code]

**What you expected to happen**:  I would expect the con

[2018-07-22 00:39] StephanX opened #66478 "kubectl delete pod --grace-period=0 --force intermittently hangs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Intermittently, after successfully deleting a pod with --force and --grace-period=0, the command never returns and must be CTRL+c exited.

machine: > kubectl delete pod --force --grace-period=0 some_pod
warning: Immediate deletion does not wait for confirmation that the running resource has been terminated. The resource

[2018-07-22 00:40] DreadPirateShawn commented on #39170
/remove-lifecycle rotten
/lifecycle frozen

Removing lifecycle stagnation, as this is still being reported in 1.9.

This hurts signal-to-noise when auditing for behavioral concerns in prod environments.

[2018-07-22 00:40] DreadPirateShawn commented on #54155
/remove-lifecycle stale

Any update on this?

[2018-07-22 00:57] wu8685 commented on #66344
The information under `pod.status` may be helpful

[2018-07-22 01:29] #57447 closed

[2018-07-22 01:29] #60167 closed

[2018-07-22 02:38] hzxuzhonghu commented on #66477
I can not see what caused your apiserver to exit. But I can say that the `goroutine 24774 [running]:` is not an error. It indicates a new request is coming when apiserver is shutting down, We have to deny this request for graceful shut down.

[2018-07-22 02:39] hzxuzhonghu commented on #66477
`I0721 22:07:06.272917       1 trace.go:76] Trace[259818831]: "Create /api/v1/namespaces/kube-system/events" (started: 2018-07-21 22:07:02.263972787 +0000 UTC m=+8.472477353) (total time: 4.008912365s):
Trace[259818831]: [4.001283782s] [4.001230604s] About to store object in database`

Do you have any webhook audit or admission controller?

[2018-07-22 02:53] dims commented on #66474
Just tried this, don't see a problem. Can you please paste your `git diff`?

[code]

[2018-07-22 03:50] mortent commented on #64500
I think this is the intended behavior, even if the error message suggests it might be a bug.

So the error message comes from the kubectl code and it is the default message for the rollout status of StatefulSets when the update strategy is OnDelete. Code is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/rollout_status.go#L129). This makes sense since when using the OnDelet

[2018-07-22 04:03] wu8685 commented on #32220
Should we return another `AlreadyExists` instead of `ServerTimeout` to include the generate name information ?

[2018-07-22 04:32] #57304 closed

[2018-07-22 06:04] tamilmani1989 opened #66481 "Kubernetes unable to parse error returned by CNI plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Azure CNI is using the method provided by kubernetes cnitypes package  [https://github.com/containernetworking/cni/blob/master/pkg/types/current/types.go#L208
](url) to print error in stdout but still we are seeing the following error both in Linux and windows

`2872 cni_windows.go:49] error while adding to cni network: n

[2018-07-22 06:14] cloudbow commented on #60164
How are others doing this. Is this fixed in some version of k8s

[2018-07-22 07:06] tamilmani1989 commented on #66481
opened this issue in containernetworking/cni repo. so closing here

[2018-07-22 07:06] #66481 closed

[2018-07-22 08:03] nak3 commented on #62989
/remove-lifecycle stale

[2018-07-22 10:29] drkrishnan8109 commented on #65575
Downgrading to version 1.10.0 fixed the issue for me.

[2018-07-22 11:36] slecrenski commented on #66477
This was a strange one for me as I've never seen it before and it worries me a bit..  I rebooted the compute node that was providing this error message.

[code]

After rebooting the node responding with the error message above I restarted the kubelet on the master node and now the control plane appears to be staying online.  Perhaps there is some error condition that needs to be reviewed to preven

[2018-07-22 13:40] dims commented on #65089
related to https://github.com/kubernetes/kubernetes/issues/53221

[2018-07-22 15:29] yastij commented on #66449
cc @feiskyer

[2018-07-22 15:50] ManifoldFR commented on #60807
Having the same problem on a bare metal cluster:

[code]

My namespace looks like so:

[code]

It's actually the second namespace I've had have this problem.

[2018-07-22 16:31] gyuho commented on #66312
@mahmoudm The root cause of https://github.com/coreos/etcd/issues/9212 was kept-alive TCP connections. Once client-side keepalive is enabled, gRPC closes previous TCP connections on keepalive timeouts. I would try enable keep-alive parameters from API server(etcd client) to etcd server.

[2018-07-22 16:44] #57891 closed

[2018-07-22 16:59] jennybuckley commented on #59124
/remove-lifecycle stale

[2018-07-22 17:21] emadolsky commented on #15180
I assume a very nice idea in this context (while we are port-forwarding to a service) is to watch on the pod we have chosen to forward to and when it goes down, try to connect to another ready replica.
Now we will choose a pod without checking its readiness and after connecting if it gets terminated, there is no failover.

[2018-07-22 17:46] mahmoudm commented on #66312
Thanks for investigating @gyuho. I can try doing that this week and report back. If it resolves the issue, do you want a PR to merge upstream? Or is the plan to upgrade the etcd client instead given that it's not an issue on master as per https://github.com/coreos/etcd/issues/9212?

[2018-07-22 17:51] gyuho commented on #66312
@mahmoudm Latest api server already uses keep alives

https://github.com/kubernetes/kubernetes/blob/4797c8df8f2db6c0ed88f9d108c08ef61e1c25af/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go#L37-L40

Maybe keepalive parameters aren't short enough.

If you still see leaky connections even with short keepalives, it could be some other issue.

Please let us know after you try i

[2018-07-22 23:09] willthames commented on #66432
/sig network

[2018-07-22 23:10] willthames commented on #66432
I left the node running over the weekend so that I could further diagnose this now it's Monday but the DNS is now working perfectly again which is frustrating - would have liked to have got further to the bottom of this.

[2018-07-22 23:11] djangofan commented on #23562
FYI: I get the problem described in this issue when I try to create services from this project:  https://github.com/kubernetes/examples/tree/master/mysql-wordpress-pd
The mysql pod is fine but the wordpress pod never gets an IP.  Thoughts?

[2018-07-23 00:56] dims commented on #62950
please move this to https://github.com/kubernetes/federation

/close

[2018-07-23 00:56] #62950 closed

[2018-07-23 00:57] dims commented on #59387
/close

[2018-07-23 00:57] #59387 closed

[2018-07-23 02:01] xiangpengzhao commented on #66365
/sig auth

cc @liggitt :)

[2018-07-23 02:20] mengqiy commented on #64833
I believe this one can be closed due to obsolete.
/close

[2018-07-23 02:20] #64833 closed

[2018-07-23 02:31] xiaoxubeii commented on #66478
/sig cli

[2018-07-23 02:34] liggitt commented on #66365
A service account token is used for authentication. It identifies a service account to the cluster.

Changing the authorization policy associated with a user does not modify the authentication credentials.

It is likely that the dashboard deployment simply needed to be started with sufficient permissions. No regeneration of the token is required after granting RBAC permissions.

/close

[2018-07-23 02:34] #66365 closed

[2018-07-23 02:54] feiskyer commented on #66449
@helgifeiti From the error log, AADClientSecret and AADClientID is empty. Could you check again whether `azure.json` and `kubelet --cloud-config` are configured correctly?

[2018-07-23 03:01] liggitt commented on #66478
You can avoid kubectl waiting for the pod object to be removed before returning by setting --wait=false

[2018-07-23 03:10] xiaoxubeii commented on #66454
Can you output your iptables rule by `iptables-save`? It seems that you specify a wrong cidr.

[2018-07-23 03:10] xiaoxubeii commented on #66454
/sig network

[2018-07-23 03:56] volume-ji commented on #66365
OK, I get it. you are right, token of the secret associated with ServiceAccount is just a authentication like Group and User, it never change unless restart it. Authorization of RBAC policy binding clusterrole/role is used to grant. It is necessary that I test again.

[2018-07-23 04:18] #65225 closed

[2018-07-23 04:45] tbronchain opened #66490 "[GKE] LoadBalancer constantly restarting from service"
/kind bug

Hi team!

I hope it is appropriate to post it as I experience an issue that seem to be a bug. I have been following the procedure described here [https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/] to solve the problem, with no luck.
In addition, I didn't seem to experience the issue before updating my cluster/nodes.

**What happened**:
We are creating "temporary

[2018-07-23 05:19] StephanX commented on #66478
Ah, thanks @liggitt I wasn't aware.

[2018-07-23 05:19] #66478 closed

[2018-07-23 05:50] blaggacao commented on #57117
[Here the corresponding lines from libpq](https://github.com/postgres/postgres/blob/b90d97e081415768468295cc4d10d7ee21881964/src/interfaces/libpq/fe-connect.c#L6413-L6429)

[2018-07-23 05:57] xingxingxia commented on #66439
/sig cli

[2018-07-23 06:09] blaggacao commented on #57117
/reopen
/remove-lifecycle rotten

[2018-07-23 06:20] ecsdigitalih commented on #25055
has this issue been resolved?

[2018-07-23 06:49] vishen commented on #66490
It is hard to tell from what you provided, but it sounds similar to #66399, and it was fixed in #66400. Basically, Kubernetes was unable to delete GCP load balancers, and when a load balancer is updated, it first tries to "clean up" the old load balancer, but it gets stuck because it currently isn't able to delete GCP load balancers.

[2018-07-23 07:19] hareeshrao4839 commented on #62056
i am also facing same error, as per k8s Documentation i tried , but Replication controller its not Working. except of Replication Controller deployment, ReplicaSet, Pod, its working Fine. so use Deployments in Production with Specified Parameter's like max, min, cpu..etc

[2018-07-23 07:30] crealyticskris commented on #45438
Thanks for the explanation @ddehghan I got confused because I see that ingress resource have an external IP which I cannot connect to but I am able to connect to connect to the service external IP of nginx controller.

[2018-07-23 07:31] tbronchain commented on #66490
@vishen it does seem very similar indeed. However, from what I see in the GCP interface, the load balancer do get deleted. At least, from what is shown in the console and when I try to access the associated load balancer, the resource doesn't exist.

Any additional information I could provide to help?

[2018-07-23 07:43] dohnto commented on #66276
No.

[code]
[code]

[2018-07-23 07:56] yue9944882 commented on #66276
/close

[2018-07-23 07:56] #66276 closed

[2018-07-23 07:57] shyamjvs commented on #62456
/remove-lifecycle stale

On Sun, Jul 22, 2018, 7:45 PM fejta-bot <notifications@github.com> wrote:

[2018-07-23 07:58] andyrd2405 commented on #66443
@andyzhangx Thank you. Can I just confirm you tested this with just the additional UDEV rule? Does the device presented from Azure not need to have the fabric_name set first ?
In the mean time I will do some further tests.

[2018-07-23 08:06] andyzhangx commented on #66443
@andyrd2405 In my testing, insert following UDEV rule(may require reboot) would work:
[code]
The `BEK` name is set by disk encryption tool in my env.

[2018-07-23 08:21] andyrd2405 commented on #66443
@andyzhangx Yes I can confirm I added the UDEV rule to my VM's and stopped to deallocate and then start. Once the machine is up I can see the below under /dev/disk/azure

lrwxrwxrwx. 1 root root   9 Jul 23 08:17 root -> ../../sda
drwxr-xr-x. 7 root root 140 Jul 23 08:17 ..
lrwxrwxrwx. 1 root root   9 Jul 23 08:17 BEK -> ../../sdc
lrwxrwxrwx. 1 root root  10 Jul 23 08:17 root-part2 -> ../../sda2
lr

[2018-07-23 08:29] tianshapjq opened #66493 "should delete node when hostname-override set"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
When hostname-override is set(or changed) in kubelet, we can find that there will be new node coming up while the original one becomes NotReady. Maybe deleting the original node is better, right?

**What you expected to happen**:
delete original node when hostname-override is set.

**How to reproduce it (as minimally a

[2018-07-23 08:29] tianshapjq commented on #66493
/sig node

[2018-07-23 08:34] tianshapjq commented on #66493
I try to figure this out, but stuck in identifying the specific node. There are no params which can be used to identify one node, the UID changes when hostname-override is set. Is identified by IP or machineID possible?

[2018-07-23 09:02] kusha commented on #61586
@simbo1905
Hi, I had the same problem. Upgrade to [origins-client v3.9.0](https://github.com/openshift/origin/releases) solved the issue for me.

[2018-07-23 09:16] Whitespirit0 commented on #26895
/remove-lifecycle rotten

I'm still seeing this.

[2018-07-23 09:21] discordianfish commented on #58170
For the record, I'm really frustrated by this responds and lack of discussion around this. In the future I'll only create issues for things I can commit myself to fixing it.

[2018-07-23 09:32] vaisov commented on #65863
+1

[2018-07-23 09:46] shyamjvs commented on #64030
Closing this issue with both action items done. Etcd metrics are now available on http://perf-dash.k8s.io . Thanks!
/close

[2018-07-23 09:46] #64030 closed

[2018-07-23 10:54] tanshanshan commented on #66151
see
https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-policy

[2018-07-23 11:06] ling2yt commented on #65974
yes. the "xx.xx.xx.xx" is same in the two place.
it's the ip of the k8s cluster deployed by rancher

[2018-07-23 11:10] jsafrane opened #66497 "Move CSI driver information into Node.Status"
For initial implementation we've chosen to use `Node.Annotations` to store mapping between Kubernetes node name and CSI driver node names. We'd like to move this information into proper Node.Status field:

[code]

This will make the API more readable and extensible in future, we already have couple of ideas what `CSIDriverStatus` could contain (but these will be part of another PR).

This would be

[2018-07-23 11:36] dims commented on #53221
Looks like the API history are doc'ed here:
- https://docs.docker.com/engine/api/version-history/
- https://github.com/moby/moby/blob/master/docs/api/version-history.md

[2018-07-23 11:45] michilu commented on #48948
Same issue with v0.28.1.

[2018-07-23 11:50] Lion-Wei commented on #66103
I think check rules sequence not gonna work. Normally prepend the rule is enough to make sure it is on the top, but kube-proxy have a period to sync rules, and beyond this period, we can't make sure what might happen.

And AFAIK, cni only sync nodeport related rules once on pod create, so even though calico prepend the `cali-PREROUTING` rule, kube-proxy should make `KUBE-SERVICE` on the top after

[2018-07-23 11:51] andyrd2405 commented on #66443
@andyzhangx Just to confirm I have retested with POD's and mounted storage and all now works as expected after the UDEV rule change. Thank you for the help and support.

[2018-07-23 12:05] sreber84 commented on #65910
Having the possibility to-do this on a more detailed level, that would be greatly appreciated. So if we could specify VPC, subnet and other potential options from ELB that would be greatly appreciated and would allow much more flexibility when using AWS Cloud Provider.

[2018-07-23 12:09] Nurza commented on #66151
Thank you. Is this scenario possible :

- k8s is running out of disk space in imagefs
- k8s evicts some pods to free a little disk space
- k8s do a random garbage collect to free a lot of disk space
- when I come back, there is plenty of imagefs disk space

If this is possible, it can explain my case.

Sorry if it's a stupid question, I am beginning with k8s.

[2018-07-23 12:18] deads2k commented on #65718
fixed by https://github.com/kubernetes/kubernetes/pull/66249

[2018-07-23 12:18] #65718 closed

[2018-07-23 12:22] andyzhangx commented on #66443
@andyrd2405 that's great. Is it possible to file an issue to make that UDEV rule into RHEL image on Azure? @pdwyer I am not sure who is the right contact at this moment.

[2018-07-23 12:42] patrickshan commented on #60914
@hzxuzhonghu I couldn't find the documentation about the default 30s timeout. Will it also apply to the case when all the webhook backend pods get killed ? like webhook service returns 503

[2018-07-23 13:03] bvwells commented on #66384
Just to clarify - break occurred between 1.8.12-gke.1 (worked okay) and 1.9.6-gke.1.

[2018-07-23 13:04] adampl commented on #60807
Try this to get the actual list of all things in your namespace: https://github.com/kubernetes/kubectl/issues/151#issuecomment-402003022

Then for each object do `kubectl delete` or `kubectl edit` to remove finalizers.

[2018-07-23 13:04] #60143 closed

[2018-07-23 13:06] jcgleissner opened #66502 "Kubelet could not detect clock speed from output: """
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When starting the kubelet binary it fails on
`server.go:233] failed to run Kubelet: could not detect clock speed from output: ""`
**What you expected to happen**:
kubelet to start up or produce an error I can use to debug.
**How to reproduce it (as minimally and precisely as possible)**:
I'm building a containerized Clust

[2018-07-23 13:12] jcgleissner commented on #66502
/sig cli

[2018-07-23 13:55] ming19871211 commented on #65221
但是可以搭建成功搭建kubernetes-dashboard

[2018-07-23 14:05] #60297 closed

[2018-07-23 14:41] ffahri commented on #66502
https://github.com/kubernetes/kubernetes/blob/4e0a60a44ce7e0f33d1c22d997338542cda63ab8/vendor/github.com/google/cadvisor/machine/machine.go#L71

so error coming from cadvisor on that line. its nice to start debugging there i guess

[2018-07-23 14:57] bamb00 commented on #66454
# iptables-save
	# Generated by iptables-save v1.4.21 on Fri Jul 20 14:56:04 2018
	*mangle
	:PREROUTING ACCEPT [4397728:1947643879]
	:INPUT ACCEPT [4357648:1946084295]
	:FORWARD ACCEPT [0:0]
	:OUTPUT ACCEPT [4354827:1937179934]
	:POSTROUTING ACCEPT [4355450:1937204034]
	-A POSTROUTING -o virbr0 -p udp -m udp --dport 68 -j CHECKSUM --checksum-fill
	COMMIT
	# Completed on Fri Jul 20 14:56:04 2018
	#

[2018-07-23 15:02] mohammedzee1000 opened #66505 "Failing Tests: [sig-scheduling] [sig-network] [sig-api-machinary] SchedulerPriorities SchedulerPredicates"
# Failing Jobs
[sig-release-master-upgrade#gce-1.10-master-upgrade](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

# Failing Tests
## API Machinary
[[sig-api-machinery] Etcd failure [Disruptive] should recover from SIGKILL](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1668)
## Schedule

[2018-07-23 15:07] BenTheElder commented on #58170
There's a lack of further discussion here because it's the wrong place to discuss it and that discussion already occurred in depth elsewhere. If you'd like to discuss please bring it to the contributor experience sig, issues in this repo are for the kubernetes core components (which have code here). Even feature requests are generally redirected to github.com/kubernetes/features and kubeadm issues

[2018-07-23 15:08] liggitt commented on #66368
likely this line, which runs per resource, per group:

https://github.com/kubernetes/kubernetes/blob/444e8ec267696030ec2ca8607bd3a3004f93cee2/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L501-L505

it is constructing and discarding the entire openapi schema internally each time in order to get the model for the resource in question.

a better approach could be to construct the schema on

[2018-07-23 15:12] BenTheElder commented on #58170
Unfortunately the best way to get an issue looked at is to actually bring it to the attention of contributors (ideally one of the SIGs specifically) through any other channel as the volume of GitHub issues is so high.

[2018-07-23 15:16] liggitt commented on #66493
that is expected. in non-cloud envs, setting --hostname-override changes the identity of the node. it does not have a record of it's previous identity.

in a cloud provider environment, the node controller will delete nodes that are not found in the cloud provider metadata. in a non-cloud provider environment, you are responsible for deleting those nodes.

having nodes delete themselves is a non-g

[2018-07-23 15:16] #66493 closed

[2018-07-23 15:33] Vickey-Wu commented on #27873
[code]
my error logs is as following:
[code]
 i got tips from @girishkalele

so i restart my docker `/etc/init.d/docker restart`, i check the logs `kubectl logs coredns-xxx -n kube-system`, there is no error in logs again
[code]

[2018-07-23 16:12] redbaron commented on #40973
/remove-lifecycle stale

[2018-07-23 16:12] ssfilatov commented on #57643
Is this resolved? I see that issue 1 was merged, but it seems that when pod gets UNKNOWN status, the  volume is not detached(issue 2).
I have 1.9.8 kube with openstack cloudprovider

[2018-07-23 16:16] msau42 commented on #62917
/remove-lifecycle stale

[2018-07-23 16:26] chuckha opened #66508 "Add a warning/notice when kubectl and server version are far apart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I often run into issues when a newer kubectl version does not work with an older server.

One instance: when my user has admin RBAC permissions on a v1.6 cluster and I'm using a v1.11 kubectl I cannot `kubectl edit` anything because I get an RBAC error. That's confusing to me and when I switch to `kubectl` v1.6 the `ku

[2018-07-23 16:41] YP28 commented on #66068
Thanks a lot for the effort guys.

We currently have a workaround that is alright for us. We deploy the namespace first (as we always do), then grep it's `uid` and just paste it in the dependants during deployment.

[2018-07-23 16:43] micahhausler commented on #57249
/remove-lifecycle rotten

[2018-07-23 17:08] discordianfish commented on #57073
/remove-lifecycle stale
/lifecycle freeze

The nginx ingress controller runs into the same problem until it gives up and the config becomes stale.

[2018-07-23 17:46] discordianfish commented on #50898
/remove-lifecycle stale
/lifecycle freeze

[2018-07-23 17:47] matt-duch opened #66509 "IPVS Proxier: fixed subset of nodes (proxier iptables or ipvs) lose connectivity to remote pods on nodes with ipvs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We are attempting to transition our clusters from the iptables to the ipvs proxier.

Under most conditions, this works well. However, for the specific case of:
When moving node "A" over to ipvs, a fixed subset of other "client" nodes can no longer reach pods on node A (directly via pod ip, not via service).
Whether or not

[2018-07-23 17:51] matt-duch commented on #66509
@kubernetes/sig-network-bugs

[2018-07-23 17:51] 2rs2ts commented on #64315
Uh, isn't this like, a huge problem? Shouldn't this be a high priority issue?

[2018-07-23 17:51] fturib commented on #63366
@bclau : But one of the purpose of the test is to ensure that the DNS of the cluster is replying. In other words, if it does not reply then we EXPECT this test to fail.

If you are not using DNS then isn't it better to SKIP the test ?

[2018-07-23 17:55] bmcstdio commented on #60703
I would like to work on this!

[2018-07-23 17:59] chrisohaver commented on #63366
I believe @bclau means to say "false negatives" ... meaning that in some situations, the test will errantly pass, when it should fail.

[2018-07-23 18:14] fturib commented on #63366
oops . Looks like I misread the description, and agree that the dig should work.

[2018-07-23 18:54] matt-duch commented on #66509
After posting, I realized we also had nodes (iptables proxier) that only match a service external IP, but without any pods (no host port). Forwarding of those external services IPs works, but trying to reach the following on nodes with IPVS proxiers does not work:
- pod directly by IP
- node ip:port (for host port pods)
But this works from a number of nodes, none of which has a service with an ext

[2018-07-23 18:54] nikhita commented on #62872
/remove-lifecycle stale

[2018-07-23 19:13] WilliamDenniss commented on #39090
I don't think that only having a global setting is what users want, that assumes that every team and every workload has the same desired HPA behavior.

The [stated goal](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-cooldown-delay) of the upscale and downscale delay is to reduce thrashing:

Different workloads may have different thresholds before thrashing

[2018-07-23 19:18] jiatongw opened #66513 "Is that possible to add a custom label without touching k8s code?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig cloud-provider

**What you expected to happen**:
Currently k8s has `built-in-node-labels` (`topologyKey`, for example,`kubernetes.io/hostname`, `beta.kubernetes.io/instance-type`). And k8s provides interfaces for cloud providers to implement that . Question: If I want to **add a custom label** as a `topologyKey` that specific to the

[2018-07-23 19:22] jiatongw commented on #66513
And nodes can come pre-populated with the custom topologyKey

[2018-07-23 19:32] #41938 closed

[2018-07-23 19:58] rata commented on #57117
@blaggacao The link to pqlib is using stat() and not lstat(). See https://github.com/postgres/postgres/blob/b90d97e081415768468295cc4d10d7ee21881964/src/interfaces/libpq/fe-connect.c#L6410

And note that, from the manage, it says:

[code]

So stat should return true to S_ISREG, as it is a regular file what this points to.

I'll try to reproduce and report back anyways :)

[2018-07-23 20:09] fedebongio commented on #66422
/cc @caesarxuchao

[2018-07-23 20:10] fedebongio commented on #66431
/cc @mbohlool please send to the right people

[2018-07-23 20:11] fedebongio commented on #66448
/cc @cheftako @lavalamp

[2018-07-23 20:14] fedebongio commented on #66505
/cc @wenjiaswe

[2018-07-23 20:16] liggitt commented on #66513
you can apply labels to nodes once they appear in the API using knowledge your cloud provider has

[2018-07-23 20:25] smarterclayton opened #66517 "It should be possible to check configuration without starting the process"
The upcoming dynamic configuration for Kubelet and also the transition to config files instead of flags increases the need for an administrator to be able to "test" or "check" that the configuration is valid before starting a process.  This is a common behavior for daemons with large or complex configuration (which the kubelet considers) - administrators often want to validate or verify their loca

[2018-07-23 20:34] mithrav commented on #63622
Pinging to see what are the next steps. Who is taking point to create a parallel test?

[2018-07-23 20:36] smarterclayton commented on #66517
@liggitt as discussed today

[2018-07-23 20:48] AishSundar commented on #63622
last I chated with @fedebongio someone on his team will build 1.9 API server image and push it to GCR. Once that image is available then @mgdevstack can help writing the parallel test. I am not sure if the image step is done.

[2018-07-23 21:00] rata commented on #57117
@blaggacao @rhymoid I can't reproduce. What am I missing?

I tried creating a pod with this yaml

[code]

And used this file:

[code]

as pgpass. I run `kubectl create secret generic rata-test-secret --from-file=pgpass` to create the secret.

Then I run a `kubectl` apply of the pod and then exec to connect to it. And inside the pod run:

[code]

I tried to export the env var as it was described in

[2018-07-23 21:07] blaggacao commented on #57117
@rata Thanks! I indeed missed that intricate detail about `stat` vs `lstat` - I will dig into that, If my observation was an unexpected side effect and this bug is no, I'd would be more than happy to confirm that. Will have a deeper look this evening...

[2018-07-23 21:16] rata commented on #57117
@blaggacao Thank you. Let me know if the steps I followed are not clear. I'll be waiting for your confirmation =)

[2018-07-23 21:19] Huang-Wei commented on #62109
@k82cn you can link https://github.com/kubernetes/website/pull/9626 to the "description" section.

[2018-07-23 21:20] smarterclayton commented on #66517
Also, our various binary behaviors have drifted (with regards to how errors and usage info are printed) which needs to be fixed no matter what.

[2018-07-23 21:57] m1kola commented on #66456
I'm going to work on this. I don't know kubernetes source code very well, so, probably, it will take some time.

[2018-07-23 22:00] janetkuo commented on #62519
/remove-lifecycle stale

[2018-07-23 22:03] oomichi opened #66522 "Add e2e test for "GET /apis/extensions" API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

According to https://github.com/cncf/apisnoop "GET /apis/extensions" API is a stable API but that is not tested on e2e test.
We need to add the corresponding test for making the API more stable by testing it always.

**Environment**:
- Kubernetes version (use `kubectl version`): $ kubectl version
Client Version: vers

[2018-07-23 22:06] oomichi commented on #66522
/sig testing

[2018-07-23 22:16] andrewsykim commented on #39090
/reopen

[2018-07-23 22:16] andrewsykim commented on #39090
I'm happy to implement this using an alpha annotations for the initial iteration. @DirectXMan12 are you able to review?

[2018-07-23 23:12] vladikr opened #66525 "Kubelet should add a label to nodes on which CPU manager is running"
/kind bug
/sig node
/sig scheduling

**What happened**:
I'd like to have some kind of an indication on which nodes CPU manager is running

**What you expected to happen**:
Users should be able to distinguish between the nodes that have CPU manager running and those that aren't, so they'll be able to schedule workloads on nodes with a running CPU manager.

**Environment**:
[code]

[2018-07-23 23:53] Huang-Wei opened #66526 "Promote ScheduleDaemonSetPods to Beta in 1.12"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description:**

The feature `ScheduleDaemonSetPods` was in alpha phase in 1.11.
In discussion of https://github.com/kubernetes/features/issues/548, it's agreed to promote this feature to beta in 1.12.

**Tasks:**

- [x] Update `ScheduleDaemonSetPods` to be beta in kube_features.go (#67899)
- [x] Added unschedulable and network-unavail

[2018-07-23 23:54] Huang-Wei commented on #66526
/cc @bsalamat @k82cn
/sig scheduling
/sig apps

[2018-07-24 00:08] krancour opened #66527 "Custom controllers shouldn't be so hard"
I'm being honest in saying that the [official example ](https://github.com/kubernetes/sample-controller), which alleges to be simple, makes me feel stupid. Various examples I've found scattered across the internet aren't much better.

What they all have in common is that complexities of client-go and apimachinery have bled through into the custom controller code. In the official example and in oth

[2018-07-24 00:50] senzi1988 opened #66528 "kube-apiserver: I0724 logs.go:49 http: TLS handshake error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
(lvs+keepalived)+kube-apiserver for HA

lvs_server:
10.155.12.1
10.155.12.2
10.155.12.3

kube-apiserver:
10.154.11.1
10.154.11.2
10.154.11.3

The same /var/log/messages are seen on each server:

Jul 24 08:44:16 vlnx154011001 kube-apiserver: I0724 08:44:16.757261  227350 logs.go:49] http: TLS handshake error from 10.155.12.3:38170: r

[2018-07-24 01:04] senzi1988 opened #66529 "kube-apiserver: I0724 logs.go:49 http: TLS handshake error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
(lvs+keepalived)+kube-apiserver for HA

lvs_server:
10.155.12.1
10.155.12.2
10.155.12.3

kube-apiserver:
10.154.11.1
10.154.11.2
10.154.11.3

The same /var/log/messages are seen on each server:

Jul 24 08:44:16 vlnx154011001 kube-apiserver: I0724 08:44:16.757261  227350 logs.go:49] http: TLS handshake error from 10.155.12.3:38170: r

[2018-07-24 01:06] pauloeliasjr commented on #60807
removing the initializer did the trick for me...

[2018-07-24 01:08] #66529 closed

[2018-07-24 01:14] #66528 closed

[2018-07-24 01:15] senzi1988 opened #66530 "kube-apiserver: I0724 logs.go:49 http: TLS handshake error"
/help wanted
/area ha
/area apiserver
/sig network

**What happened**:
(lvs+keepalived)+kube-apiserver for HA

lvs_server:
10.155.12.1
10.155.12.2
10.155.12.3

kube-apiserver:
10.154.11.1
10.154.11.2
10.154.11.3

The same /var/log/messages are seen on each server:

Jul 24 08:44:16 vlnx154011001 kube-apiserver: I0724 08:44:16.757261  227350 logs.go:49] http: TLS handshake error from 10.155.12.3:381

[2018-07-24 01:17] senzi1988 commented on #66530
/sig HA

[2018-07-24 01:33] bgrant0607 commented on #66135
This looks like a gap in https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md

In general, I'd prefer not to use meaningless values as sentinels for undefined.

Changing the behavior of deprecated API versions would only help people who haven't yet upgraded to releases where the storage version has already been changed.

[2018-07-24 01:34] tatsuhiro-t opened #66531 "v1: CustomResourceColumnDefinition JSONPath should be serialized as "jsonPath""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

CustomResoruceColumnDefinition JSONPath is serialized as "JSONPath".
All fields I observed start with lower case letter, regardless they are abbreviated name (e.g., osImage, nfs).  JSONPath is inconsistent to the rest of the API object serialization.  Not sure there is a rule for this, or some exceptions.

**What you exp

[2018-07-24 01:35] bgrant0607 commented on #66135
The rule that's missing is that any field with a default value in one API version must have default values in all API versions.

[2018-07-24 01:38] tatsuhiro-t commented on #66531
/sig api-machinery

[2018-07-24 01:47] bgrant0607 commented on #66135
0 could work for "no" progressDeadlineSeconds, if validation indeed prevented it previously. Validation isn't versioned, so it would be allowed in all API versions.

[2018-07-24 01:47] xiangpengzhao commented on #66365
@liggitt is it possible that new permissions can take effect immediately after a service account is granted by a rolebinding operation ? People may want to change the API access permissions of their applications without restart the deployment.

[2018-07-24 01:52] hzxuzhonghu commented on #60914
There is no doc about this.  check `staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go#L36`

[2018-07-24 01:56] bgrant0607 commented on #66135
@janetkuo Instead of -1, I'd use max int for "infinite".

[2018-07-24 02:15] liggitt commented on #66365
Yes, and they do take effect immediately. However, some applications must be restarted to make them reattempt initialization operations

[2018-07-24 02:20] k82cn commented on #58635
Really a long history :)

@yastij , what's scope/subtasks for 1.12, e.g. supported cloud providers? alpha or GA?

As @cheftako mentioned, are we on the same page for the involved components? Taint nodes by `node_life_cycle` vs. `CCM/cloud`.

[2018-07-24 03:17] hanxiaoshuai commented on #66509
cc @m1093782566 @Lion-Wei @islinwb

[2018-07-24 03:19] Vickey-Wu commented on #50619
hello , i got the same error, RELEASENAME include 18 chars, how can i solve this, any help would be appreciated.
[code]

[2018-07-24 03:39] liyongzhezz opened #66532 "I got an error when kubernetes use Ceph."
sig/ceph

this is my rbd.yaml:
`
apiVersion: v1
kind: Pod
metadata:
  name: rbd1
spec:
  containers:
    - image: kubernetes/pause
      name: rbd-rw
      volumeMounts:
      - name: rbdpd
        mountPath: /mnt/rbd
  volumes:
    - name: rbdpd
      rbd:
        monitors:
        - '10.10.97.32:6789'
        - '10.10.97.33:6789'
        - '10.10.97.34:6789'
        pool: rbd
        image: foo

[2018-07-24 03:57] mitchellmaler opened #66533 "Allow Minimum (or Maximum) Pods per failure zone"
Hello,

I am trying to figure out a way to tell the scheduler to at least schedule one pod per failure zone but then allow others to be filled/moved as needed.

I can setup anti-affinity using the topologyKey zone but I am only able to get one pod per zone.

[2018-07-24 03:59] mitchellmaler commented on #66533
/sig scheduling

[2018-07-24 04:13] liggitt commented on #66531
/assign @sttts @nikhita

[2018-07-24 04:13] liggitt commented on #66531
this won't change in v1beta1, but can be corrected in v1

[2018-07-24 04:19] #60203 closed

[2018-07-24 04:19] #60330 closed

[2018-07-24 04:50] nikhita commented on #66522
/remove-sig testing
/sig api-machinery
/area custom-resources
/area test

[2018-07-24 04:51] nikhita commented on #66522
We have tests for creating and deleting already, just need GET ones as well.

/assign

[2018-07-24 05:02] yue9944882 opened #66536 "Old object of admission attributes is always nil on delete calls"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When admission controller receives attributes for delete operations,  the old object field is always nil😅

**What you expected to happen**:

The old object field is assigned the the status of the object to delete.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-07-24 05:07] yue9944882 commented on #66536
/sig api-machinery

[2018-07-24 05:19] dougm commented on #66321
I've started by adding some background and possible ways we can improve in vmware/govmomi#1186
I will follow up once we flesh out more detail and a plan on how to best move forward.

[2018-07-24 05:35] tatsuhiro-t opened #66538 "CRD additionalPrinterColumns does not work with kubectl get SOMETHING -w"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Without -w option, I can see that kubectl get SOMETHING shows additional columns for my CRD instances.  But with -w flag, just NAME and AGE are shown.

**What you expected to happen**:

additionalPrinterColumns should work with -w flag as well.

**How to reproduce it (as minimally and precisely as possible)**:

1. Define

[2018-07-24 05:36] tatsuhiro-t commented on #66538
/sig api-machinery

[2018-07-24 05:41] #66532 closed

[2018-07-24 06:04] #66530 closed

[2018-07-24 06:12] k8s-mirror-api-machinery-bugs commented on #63622
It's on the works. Buiding the sample-image showed to be more complicated
than what it seemed to be. If it becomes a blocker let me know.

On Mon, Jul 23, 2018 at 1:49 PM Aish Sundar <notifications@github.com>
wrote:

[2018-07-24 06:48] vincentvanderweele commented on #65583
After upgrading our cluster to `1.10.5-gke.3` the problems seem to be gone.

[2018-07-24 07:12] fejta-bot opened #66542 "pr:pull-kubernetes-e2e-kops-aws flaked 82 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-kops-aws
 Flakes in the past week: **82**
 Consistency: **83.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 36 |
| IsUp | 17 |
| list nodes | 15 |

#### Previously closed issues for this job flaking:
#52214

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-07-24 07:30] xujieasd commented on #66103
@Lion-Wei

I don't think it's true, please check the implementation of `EnsureRule`
[code]
`EnsureRule` will first call `checkRule` to check whether rule exists, if exists, just return true.
so if calico prepend rule after kube-proxy. `KUBE-SERVICE` could not be on the top

[2018-07-24 07:43] mohammedzee1000 opened #66544 "Failing Test: [sig-cluster-lifecycle][sig-network] Cluster Downgrade Parallel, ingress upgrade"
# Failing Jobs
[sig-release-master-upgrade#gce-master-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.10-downgrade-cluster-parallel)

# Failing Tests

## Cluster Lifecycle
[Downgrade [Feature:Downgrade] cluster downgrade should maintain a functioning cluster [Feature:ClusterDowngrade]](https://k8s-gubernator.appspot.com/build/kubernetes-jen

[2018-07-24 07:44] sttts commented on #66531
We had a discussion about that when introducing the types and decided for `JSONPath`. I don't feel strongly about either way. I believe to remember @smarterclayton wanted the upper case one.

[2018-07-24 07:46] ssfilatov opened #66545 "Kubernetes can't recreate pods with PVC if Node goes into "NotReady" state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: persistentvolumes are not moved to another node if node goes into NotReady state

1. Node goes into NotReady state
[code]

2. The old pod goes into UNNOWN state and RS creates a new one on a healthy node:
[code]

The new one can't be created since the volume is not detached from the old pod.

**What you expected to happen**:

Attach

[2018-07-24 07:47] ssfilatov commented on #66545
/sig storage

[2018-07-24 07:50] mohammedzee1000 opened #66546 "Failing Test: gke-gci-1.10-gci-master-upgrade-master Up"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-master)

# Failing Tests
[Up](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-master/1335)

Triage Results
[Up](https://storage.googleapis.com/k8s-gubernator/t

[2018-07-24 08:06] k82cn opened #66549 "Add error handling if preempting victims failed"
**Description**:

`Scheduler.preempt` will delete victims after set nominatedNodeName; if only part of victims are deleted, the preemptor will pending here: `podEligibleToPreemptOthers` will return false, as part of victims are deleted.

/kind enhancement
/sig scheduling

[2018-07-24 08:06] xiangpengzhao commented on #66365
@liggitt Thanks!

[2018-07-24 08:06] k82cn commented on #66549
@bsalamat , correct me if any misunderstand.

[2018-07-24 08:07] mohammedzee1000 commented on #66546
/sig cluster-lifecycle
Assuming up is your territory.

[2018-07-24 08:09] 372046933 commented on #64312
I tried  adding `--node-name=` to kubeadm, but it doesn't work.

[2018-07-24 08:11] mohammedzee1000 commented on #66546
/milestone v1.12

[2018-07-24 08:11] mohammedzee1000 opened #66550 "Failing Test: gke-gci-1.10-gci-master-upgrade-cluster-parallel Up"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel)

# Failing Tests
[Up](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-parallel/5759)

# Triage Results
[Up[](https://storag

[2018-07-24 08:32] nhamlh commented on #62536
Any update on this issue? I got many pods keep restarting repeatedly by "Pod sandbox changed, it will be killed and re-created."
As I check on k8s node, pause container for such pod got killed by OOM. There wasn't any log.

- Environment: AWS with kops
- Kubernetes version: 1.8.5
- OS: ubuntu 16.04.2
- Kernel: 4.4.0-1013-aws

[2018-07-24 08:35] WanLinghao commented on #66020
@mikedanese
Do you mean we should insist current model that containers on same pod share same ServiceAccount but providing more info about which pod-container pair it bounded  in serviceaccount token? On other words, each container share same serviceacccount name but NOT the token itself.

[2018-07-24 08:52] mohammedzee1000 opened #66555 "Failing Test [sig-apps] hpa upgrade, replicaset upgrade gke-gci-master-gci-1.10-downgrade-cluster-parallel"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster-parallel)

# Failing Tests
## Sig Apps
[[sig-apps] replicaset-upgrade](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-master-gci-new-downgrade-cluster-parallel

[2018-07-24 09:17] fanux commented on #66363
No, session affinity can't solve this, the client is out of kubernetes cluster. We expose some node in the cluster as a network gateway.

We fixed this by configure router session affinity, using (sip dip:port) hash instead (sip:port dip:port)

[2018-07-24 09:17] #66363 closed

[2018-07-24 09:29] mcortinas opened #66560 "Adding operators in k8s affinity rules..."
Hi,

 I'm a newbie in k8s and I have some experience working in mesos/marathon environments.
 I'm very comfortable with a orchestration rule in order to spread equitably the number of pods of one deployment inside a pool of minions or physical machines or whatever you can call it...

https://mesosphere.github.io/marathon/docs/constraints.html
I think is very usefull distribute tasks evenly across

[2018-07-24 09:35] bclau opened #66561 "Test fails when using Windows containers due to the low memory limit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig testing

**What happened**:

Tests from ``test/e2e/common/init_container.go`` are spawning pods with memory limits (30 MB). Running the tests using Windows nodes will cause the Windows nodes to end up in NotReady state. This happens because the Docker service couldn't start that container (because of the low memory limit) and it hangs.

[2018-07-24 09:45] philicious opened #66563 "[Feature Request] Add a "Job Status" feature similar to "Rollout Status""
/kind feature
/sig api-machinery

As I cannot reopen #58742 , I duplicate it

**Proposed feature**
Where the command will exit when all Pods in the Job are terminated but not before, and return an exit code of 0 if all Pods were successful, or appropriate exit code if some Pods did not succeed.

This would allow actions to be performed after the Job has run - without polling - dependent on the Job

[2018-07-24 10:07] IronCore864 commented on #57725
Same error here, k8s 1.11.1
Why closing this issue? Apparently the author did not use local storage class but google persistent disk.

[2018-07-24 10:17] IronCore864 opened #66564 "PVC pending Failed to get GCE GCECloudProvider with error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
--cloud-provider=gce for kubelet
service account that has permission to create gce pd added to the VM
install k8s cluster using kubeadm in the VM
Created a Dynamic StorageClass slow using provisioner: kubernetes.io/gce-pd in k8s cluster, according to official doc example:
https://kubernetes.io/docs/concepts/storage/storag

[2018-07-24 10:56] mohammedzee1000 opened #66566 "Failing Test: [sig-apps] gke-gci-1.10-gci-master-upgrade-cluster-new"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new)

# Failing Tests
[daemonset-upgrade](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/2185)
[deployment-upgrade](https://k8s-guber

[2018-07-24 11:10] cofyc opened #66567 "Bind mounts in container not updated after volume is remounted again"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

@kubernetes/sig-storage-bugs

**What happened**:

For fuse-backed volumes, fuse process may exit on error, the volume on the host will disappear. Kubelet will remount the volume later because it will find volume mount point does not exist anymore. But bind mount in container will still be the old one,  processes in container will fail with

[2018-07-24 12:01] username1366 opened #66568 "FailedScheduling didn't have free ports"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After deploy I have some pods in Pending state and they won't change his state untill I restart kube-scheduler.
kubectl describe pod \<pod name\>:
[code]

**What you expected to happen**:
All pods should be in Running state after deployment

**How to reproduce it (as minimally and precisely as possible)**:

[code]

test-d

[2018-07-24 12:02] liggitt commented on #66536
This isn't a bug, it's working as designed. The old object is currently only set for update requests.

[2018-07-24 12:15] username1366 commented on #66568
/sig scheduling

[2018-07-24 12:19] Miyurz opened #66569 "kubectl delete cronjob,job doesn't purge the resources and hangs indefinitely"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

**What happened**:
Trying to delete a cronjob hangs!
Also, tried kubectl delete cronjob --force --grace-period=0 and kubectl delete cronjob --cascade=false but that too doesn't work

**What you expected to happen**:
The cronjob and the associated resources like jobs and the pods should be evicted from the node.

**How to reproduce it (as mi

[2018-07-24 12:45] username1366 commented on #66568
Update
It also happens when I use one deploymend for all nodes and hostNetwork: false

[code]

kube-scheduler logs
[code]

[2018-07-24 12:48] liggitt commented on #66569
The wait was resolved in 1.11.1

[2018-07-24 13:03] Miyurz commented on #66569
@liggitt Looks like I am using the default which is the latest in EKS . I'll still try to specify 1.11.1 and see if its available.

[2018-07-24 13:03] Miyurz commented on #66569
@liggitt also, is it possible for you to help me with the PR that fixed this ?

[2018-07-24 13:05] jcgleissner commented on #66502
Thank you, this pointed me to the correct direction. I had to add
`-v /cgroup:/sys/fs/cgroup:ro`
to my `docker run` to provide cAdvisor with the correct read permissions.

[2018-07-24 13:05] #66502 closed

[2018-07-24 13:07] Miyurz commented on #66569
Its a shame, EKS doesn't support 1.11.1 yet 👎
<img width="1091" alt="screen shot 2018-07-24 at 6 34 29 pm" src="https://user-images.githubusercontent.com/2662752/43139888-7ee1a4a2-8f70-11e8-844c-41073f15f403.png">
<img width="1286" alt="screen shot 2018-07-24 at 6 36 08 pm" src="https://user-images.githubusercontent.com/2662752/43139889-7f114004-8f70-11e8-9c5f-df28b91e47c8.png">

[2018-07-24 13:08] liggitt commented on #66569
https://github.com/kubernetes/kubernetes/pull/66024 resolved the hang. The change was in kubectl, not server side

[2018-07-24 13:12] Miyurz commented on #66569
@liggitt okay, looks like 1.11.3 is still not GA.
Ref: https://storage.googleapis.com/kubernetes-release/release/stable.txt

[2018-07-24 13:16] Miyurz commented on #66569
Looks like I have to compile kubectl from source to get kubectl 1.11.3.
If you know of any other way, please let me know

[2018-07-24 13:18] liggitt commented on #66569
https://github.com/kubernetes/kubernetes/pull/66024 was included in 1.11.1

[2018-07-24 13:38] mborsz commented on #66337
/cc @shyamjvs

I was debugging this attempt today and the reason it fails is that pod 'load-medium-1113-25xkb' in RC 'load-medium-1113' cannot be stopped.

In kubelet's logs I see:
[code]

In docker's logs I see:
[code]

So it looks like containerd <-> dockerd grpc connection is broken.
I think the reason is that containerd has crashed - in dockerd's logs I see:
[code]

I'm going to check if this

[2018-07-24 13:38] mborsz commented on #66337
/assign

[2018-07-24 13:44] mborsz commented on #66337
I think it also happened in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/183: all attempts to create a pending pod are failing there with a similar error "the connection is unavailable". Unfortunately docker.log is incomplete there, so I can't see if containerd has crashed on that machine.

[2018-07-24 13:47] mborsz commented on #60097
/assign

In https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/181 I saw an instance of this issue.
In logs of the VM I see that all processes were restarted at some point, in GCE logs I was able to find information that the VM was restarted due to host error.

[2018-07-24 14:06] chenchix commented on #61163
Same error here, using 1.11 and a master in a PC (x86_64) and workers in arm64 board.

Any update?

[2018-07-24 14:16] mohammedzee1000 opened #66570 "Failing Test : gke-gci-1.10-gci-master-upgrade-cluster-new Up"
# Failing Jobs:
[sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new)

# Failing Tests
[Up](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/2190)

# Triage Results
[Up](https://storage.googleapis.co

[2018-07-24 14:16] smarterclayton commented on #66531
I did?  All api fields should start with lowercase and be camelCase, so if I said that it was wrong

[2018-07-24 14:19] mohammedzee1000 commented on #66132
Tests seem to have stabilised, closing for now
/close

[2018-07-24 14:20] liggitt commented on #66531
yeah, needs to be on the list for v1 fixup

[2018-07-24 14:31] mkimuram opened #66571 "Refactor e2e test for non-csi drivers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**Anything else we need to know?**:
/sig storage

Refactoring e2e test for csi drivers are done in below commit.
This is to apply similar change in existing non-csi drivers.

https://github.com/kubernetes/kubernetes/commit/4d11dab272fc358c918a1a6b83db8f938535cdb0#diff-0d9ecaa3e6a0297186ad33f57aad472e

Scopes for this refactoring are belo

[2018-07-24 14:37] smarterclayton opened #66572 "Behavior of commands with respect to errors and printing usage is inconsistent and reduces usability"
The majority of kube binaries print usage when certain invalid arguments are presented.  Unfortunately, most of our binaries have > 2 pages of usage output, and the result of printing that is a very confusing and context disrupting action.

In general, CLI commands try to minimize their output - for example:

[code]

[code]

both print their minimal sets.  Obviously, as commands grow the number of

[2018-07-24 14:39] smarterclayton commented on #66572
@kubernetes/sig-cli-bugs this is really painful as an end user (and I've been tracking people who have these issues).  I hit this while looking at #66517 and trying to clean it up, and realized we need to fix the broader problem.

[2018-07-24 14:41] darthmetu commented on #65575
You can also add the -w switch or switch the output using -o. I had to do this when using kubectl on Azure in the cloud shell as I can't control the versions there. Not ideal but it will work.

[2018-07-24 14:41] Dm3Ch commented on #41442
..Sorry if this isn't the right place to ask questions...

Would this useful thing be created?

[2018-07-24 14:42] smarterclayton commented on #66517
While poking around at fixing this, I realized our help output and usage output is really painful.  Spawned #66572 for that, I think that's a prerequisite since most of the commands here are ugly.

[2018-07-24 14:43] ncdc opened #66573 "Allow overriding CoreDNS image tag in kubeadm configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: Unable to override the CoreDNS image tag for a kubeadm installation in the kubeadm config file

**What you expected to happen**: Be able to override the CoreDNS image tag for a kubeadm installation in the kubeadm config file

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2018-07-24 14:46] danbondd opened #66574 "Pod stuck Terminating will not deregister from API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Pod stuck in terminating state.
1. `kubectl delete pod <pod>` did nothing.
2. `kubectl delete pod <pod> --now` did nothing.
3. `kubectl delete pod <pod> --grace-period=0 --force` did nothing.
4. SSH onto node and `docker ps` shows running container.
5. `sudo docker kill <container id>` did nothing.
6. `sudo service docke

[2018-07-24 14:49] timothysc commented on #66573
closing - please reopen here - https://github.com/kubernetes/kubeadm

[2018-07-24 14:49] #66573 closed

[2018-07-24 14:56] danbondd commented on #66574
/sig api-machinery

[2018-07-24 14:56] #66574 closed

[2018-07-24 14:56] pvrbharg commented on #61163
I do not have this issue when I tried on most current release level on my RHEL 7.5 instance on intel - I used 1.11.2 release with coredns plugin. Thanks.

[2018-07-24 14:59] mohammedzee1000 commented on #66339
/sig cli

[2018-07-24 15:01] shyamjvs commented on #66337
Thanks for digging @mborsz. So 180 and 183 indeed failed due to the reason you pointed above. I took a look into 181, and that one seems to fail in a different way (this may potentially be related to 180,183). A few pods that were already running/scheduled went down sometime later, e.g:

[code]

All of them were pods running on the same node `gce-scale-cluster-minion-group-1-lvq9`. Looking at the

[2018-07-24 15:22] liggitt commented on #66574
do you have the content of the pod yaml as retrieved from the API post-deletion?

[2018-07-24 15:38] liggitt commented on #66574
the presence of a persistent foregroundDeletion finalizer means that the garbage collector controller is not processing the object correctly. a potential deadlock in gc was resolved in 1.11 in https://github.com/kubernetes/kubernetes/pull/64235

additionally, kubectl 1.11.1 changed to not force objects into a foreground deletion path to avoid putting the garbage collector in the interactive delete

[2018-07-24 15:50] xikunyang opened #66575 "Pod cannot connect to apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Pod cannot connect to apiserver.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

When I setup kubernetes, it works fine. But I suddenly found the pod cannot connect to apiserver.

**Anything else we need to know?**:

[code]

**Environment**:
- Kubernetes version (use `kubectl ve

[2018-07-24 15:54] nikhita commented on #66531
/area custom-resources

[2018-07-24 15:55] cbluth commented on #51835
I removed my stuck pods like this:

[code]

[2018-07-24 15:57] danbondd commented on #66574
Logs from kube-controller-manager have this 100+ times:

[code]

[2018-07-24 16:14] G-Harmon commented on #25485
/remove-lifecycle stale

[2018-07-24 16:16] saurfangg commented on #61543
Seeing this issue with Pods trying to attach volumes when trying to deploy prometheus.

[2018-07-24 16:18] nikhita commented on #66522
/cc @sttts

[2018-07-24 16:19] mkimuram commented on #66571
With this refactoring, setup/teardown codes for each driver are moved to its own class and
tests for it are iterated in the same loop, as it is done in csi tests code.

Please see below tables for which tests are moved to the loop in non_csi_volumes.go.

files | NFS | Gluster | iSCSI | Ceph-RBD | CephFS
---|---|---|---|---|---
volumes.go| D->D | D->D | D->D | D->D | D->D
volume_io.go| D->D | D->D

[2018-07-24 16:20] nsidhaye commented on #33664
Should we reopen this issue?

[2018-07-24 16:43] tbronchain commented on #66490
So it was related to this issue. After manually cleaning the load balancers, ips, and updating the cluster from 1.10.5-gke.0 to 1.10.5-gke.3, it seems to be back to normal.
Thanks!

[2018-07-24 16:43] #66490 closed

[2018-07-24 17:06] janetkuo commented on #66135
I'll update the doc.

[2018-07-24 17:23] RobertKrawitz commented on #54384
The problem with ephemeral storage is even worse than the du latency; it's possible for a pod (attached) to create a file and delete it, but keep the file descriptor around.  Without quota support, any pod or container within it can use as much ephemeral storage as it wants and never get caught doing so.

Remove the `unlink "/tmp/foo"` and the pod gets evicted as it should (but not after chewing t

[2018-07-24 17:46] infinitecompute commented on #65109
@liggitt Curious as to hear your thoughts on the Bassam's last post?

[2018-07-24 17:49] cheftako commented on #60703
/assign @bmcstdio

[2018-07-24 17:49] ceridwen commented on #32220
`AlreadyExists` seems like the correct error in other cases involving an object that already exists with that name.

[2018-07-24 17:57] luxas commented on #66517
Also related wrt standardizing componentconfig handling inside of the components: https://github.com/kubernetes/community/pull/2354

[2018-07-24 18:14] janetkuo commented on #66135
Updated doc https://github.com/kubernetes/community/pull/2411

[2018-07-24 18:32] rrichardson commented on #65221
fwiw, here is the apt-get command to install an older kubectl over the top of the existing, assuming you have the kubernetes apt source.

[code]

[2018-07-24 18:37] daschott commented on #65163
I'm afraid I can't get a repro of this, neither on-prem nor on Azure using acs-engine (albeit this uses Azure CNI and this sounds like wincni issue). I will keep trying.

@rkttu-devsisters all I need to repro is setup WS1803 and schedule an IIS pod, correct?

[2018-07-24 18:48] adampl commented on #55713
I have just run into this issue. I suspect it has something to do with volumes not being detached/unmounted.

[2018-07-24 18:59] venkatmandavilli opened #66578 "Create ConfigMap only if not exists"
**Feature Request**:
/kind feature
/sig cli
Hello, is there a way to create config map only if it does not exist?

**What happened**:
I need to create config map only if does not exist

**What you expected to happen**:
Create Config map only if not exists

[2018-07-24 19:32] waltz-kaijie commented on #50115
still having this issue with kubernetes 1.9.8. Currently I have only one worker node in us-east-1c (but I set 1a,1c,1d in kops) while my default gp2 storageclass created pv in us-east-1a

[2018-07-24 19:33] jackzzj commented on #50115
still having this issue in 1.9.8. Currently I have only one worker node in us-east-1c (but I set 1a,1c,1d in kops) while my default gp2 storageclass created pv in us-east-1a

[2018-07-24 19:36] huggsboson commented on #7294
@jonmoter @Dominik-K  This exact thing happened to us when we noticed that one of our java services was running super slow, and we debugged it to container.resources.limits.memory = 1Gi and the jvm Xms = 3Gi Xmx = 3Gi.  So it wasn't getting OOM Killed but 2Gi of address space were swapped.

[2018-07-24 19:40] ManifoldFR commented on #60807
When I do `kubectl edit namespace annoying-namespace-to-delete` and remove the finalizers, they get re-added when I check with a `kubectl get -o yaml`.

Also, when trying what you suggested @adampl I get no output (removing `--ignore-not-found` confirms no resources are found in the namespace, of any type).

[2018-07-24 19:52] vishh commented on #7294
@huggsboson what version of k8s were you using? Is kubelet flag `--fail-swap-on` set to `false`?

[2018-07-24 19:58] huggsboson commented on #7294
We're still back on 1.6.  We plan on disabling swap going forward.

[2018-07-24 20:14] kad commented on #59380
I think we should keep that item on our radar still.

/remove-lifecycle rotten

[2018-07-24 20:18] vladimirvivien commented on #66323
@msau42
- Are you saying that CSI internal driver should check driver capability for RWO, if supported, only then apply `fsgroup` value ?
- What would the `new csi capability` be ?

[2018-07-24 20:48] #66289 closed

[2018-07-24 20:58] msau42 commented on #66323
Yes one possible way is to infer fsgroup is supported for all rwo volumes, which may not be true?  Like a nfs volume technically supports rwo but not fsgroup.

So the other option is to make it a new CSI capability. I'm not sure exactly sure how best to describe it though, maybe something about volume ownership management.

[2018-07-24 20:59] #66468 closed

[2018-07-24 21:02] janetkuo opened #66582 "Any field with a default value must have default values in all API versions"
The issue was first reported in #66135.

Open this as an umbrella issue for all existing violations.
What we need to fix:
- [x] Document defaulting rule (PR https://github.com/kubernetes/community/pull/2411)
- [x] `extensions/v1beta1` Deployment `.spec.progressDeadlineSeconds` (PR #66581)
- [x] `extensions/v1beta1` Deployment `.spec.revisionHistoryLimit` (PR #66605)
- [ ] `batch/v2alpha1` `CronJob

[2018-07-24 21:03] janetkuo commented on #66135
Opened #66582 as an umbrella issue

[2018-07-24 21:07] serg060606 commented on #32432
Hello. Does it mean that will work only from 1.10 kubernetes version ?

[2018-07-24 21:43] janetkuo commented on #62518
/remove-lifecycle stale

[2018-07-24 21:52] DirectXMan12 commented on #66582
@kubernetes/sig-autoscaling-bugs (not sig-instrumentation)

[2018-07-24 21:53] stu-gott commented on #62560
/remove-lifecycle stale

[2018-07-24 22:08] vladimirvivien commented on #66323
@gnufied what do you mean by `I think we shouldn't have to do this`?  Shouldnt have to solve this issue ?

[2018-07-24 22:21] gnufied commented on #66323
I meant ` For raw block storage too - I think we shouldn't have to do this.`  - which is obvious. I just meant that the entire mechanism of changing ownership of files should apply only to volume types with block storage filesystems. I am just wondering if we can get away with detecting fsType and not have to introduce new capability in CSI.

[2018-07-24 22:37] #58814 closed

[2018-07-24 22:55] vladimirvivien commented on #66323
@msau42 @gnufied agreed, PVC.spec.AccessModes do not map well to current csi.Capabilities enums which makes it hard to determine RWO when mounting.  Perhaps, instead of a new capability, we revisit the existing capabilities to see if there are any way RWO can be reliably inferred from returned capabilities.  Currently, this is what the code is doing which we knew needed to be revisited:

[code]

[2018-07-24 23:19] mbohlool commented on #65790
I am going to close this issue then. One last note is the discriminator field should not be controller by the feature gate so we would have a safe downgrade from 1.13 to 1.12.

[2018-07-24 23:19] #65790 closed

[2018-07-24 23:38] #59926 closed

[2018-07-24 23:57] BrendanThompson commented on #61076
I too am facing this problem whilst trying to use `subPath` with `volumeMounts`.

| App | Version |
| --- | --- |
| Kubernetes | `v1.11.1` |
| Docker | `v1.13.1` |
| Ubuntu | `16.04.4` |

[2018-07-25 00:00] msau42 commented on #66323
Users may not fully understand what fsgroup is and set it anyway, or a default psp with some fsgroup may be defined in which it will automatically be set on all pods.  The first case we can attribute to user error, but the second case may not have a good workaround and could cause permission issues on rwx volumes.  So I think we do need to solve this.

[2018-07-25 00:04] msau42 commented on #61076
@BrendanThompson can you open a new issue and paste your pod spec into it?

[2018-07-25 00:08] msau42 commented on #62156
@Miyurz is this a public helm chart that I could try out?  I manually tried to reproduce the issue by repeatedly creating a Pod first and Configmap later, but didn't hit the issue.

[2018-07-25 00:15] BrendanThompson opened #66583 "Pod Volume Mount with subPath causes container creation to fail"
/kind bug

**What happened**:

When creating a pod based off of the below spec, I receive `CreateContainerConfigError`. In `kubectl describe pod/pod_name` the following message is shown:

[code]

The following is the Deployment spec:

[code]

**What you expected to happen**:

I expect the pod to mount a volume thats linked back to a directory of the pods hostname on the host.

**How to reproduce i

[2018-07-25 00:15] adampl commented on #53059
In my case it became NotReady when I stopped the Docker service. I'm using Rancher 2.0 so everything (including kubelet) is containerized. It runs on 3 bare-metal Ubuntu 16.04 nodes, latest Docker CE and Kubernetes 1.10.1. I have a Deployment with 1 replica that mounts a Ceph RBD PVC in RWO mode.

[2018-07-25 00:15] BrendanThompson commented on #66583
/sig storage

[2018-07-25 00:34] msau42 commented on #66583
Ah I think the issue is the hostPath doesn't exist, and subPath processing now requires that the base volume already exists.

To fix this issue, you should specify `type: DirectoryOrCreate` in your hostpath specification, so that the directory is created by Kubernetes, instead of the container runtime:
[code]

[2018-07-25 00:39] janetkuo commented on #66135
When I try to fix this in #66581, @enisoc pointed out that validation cannot be relaxed according to API guidelines. Allowing `0` could also cause problems when rolling back to a release that doesn't allow `0`. Therefore, I'll use "max int" for progressDeadlineSeconds too.

[2018-07-25 00:43] mikedanese commented on #66353
Role bindings are immutable:

https://github.com/kubernetes/kubernetes/blob/1e3d23c5c3d23ea99b489e1a9d54098bc0b30b43/pkg/apis/rbac/validation/validation.go#L159-L161

[2018-07-25 00:43] mikedanese commented on #66020
Yes, I think I would like that. Unfortunately it's not useful with RBAC right now.

[2018-07-25 00:44] msau42 commented on #66564
@neolit123 kube-controller-manager is the process that handles provisioning of volumes, so that needs the cloud provider passed in

[2018-07-25 01:00] briantkennedy commented on #66353
Yes, I linked to the same code you just posted in the original bug.  Is the rationale for this documented somewhere?  It seems strange that updating a role requires delete then create since no other kubernetes resources impose this constraint which seems to imply that this API might be violating the principle of least surprise.

[2018-07-25 01:11] liggitt commented on #66135
Be careful not to exceed 2^53-1 (xref #17095)

[2018-07-25 01:13] janetkuo commented on #66135
Thanks, I'll use max int32 (2^31-1). Is it documented already? If not, I'll add it to API guidelines too.

[2018-07-25 01:14] mahmoudm commented on #66312
@gyuho I was able to reproduce this on v1.10.5, which has the keep-alive timeouts. After the etcd client got into the hung state, I waited 15 minutes without introducing any load and the endpoint never recovered (implying it doesn't matter how short the keep-alives are).

[2018-07-25 01:31] neolit123 commented on #66564
@IronCore864, as @msau42 suggests, try passing `cloud-provider: gce` to the controller manager from the kubeadm config as explained here:

https://kubernetes.io/docs/setup/independent/control-plane-flags/#controllermanager-flags

might as well pass it to the api server as well.

[2018-07-25 01:33] neolit123 commented on #66564
/priority awaiting-more-evidence
/area kubeadm

[2018-07-25 02:02] jingslunt commented on #53309
[code]

[code]
[code]

[2018-07-25 02:09] interma commented on #66560
/sig scheduling

[2018-07-25 02:09] feiskyer opened #66588 "Setup DNS for Windows containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://github.com/kubernetes/kubernetes/pull/63905 is trying to setup DNS for Windows containers, so that Pods on Windows could confirm to dns policies. However, as posted https://github.com/kubernetes/kubernetes/pull/63905#issuecomment-396709775:

Docker is not managing the networking here for windows. So it doens't re

[2018-07-25 02:18] interma commented on #66578
As I know, no single command can do this.
But there are some walkarounds:
- `kubectl get configmaps xxx-config && kubectl create xxx-config ...`
- write a simple tools via client-go: https://github.com/kubernetes/client-go

[2018-07-25 02:35] liggitt commented on #66578
`kubectl apply` will update-or-create

[2018-07-25 02:46] ary31415 opened #66591 "ISCSI devices not visible inside container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

When attempting to use ISCSI devices inside a kubernetes container, the devices are discovered correctly, but when `iscsiadm -m node -l` is run (on the container) to log in, the devices do not show up under /dev. They are visible as having been discovered, just not under /dev. However, they are visible under /dev on the host machine. How d

[2018-07-25 02:49] resouer commented on #58222
Issue is up-to-date after #65714

The on going task is #62226 and #66148 to add more integration tests for volume related predicates.

[2018-07-25 03:22] hzxuzhonghu commented on #66575
/sig network

[2018-07-25 03:22] hzxuzhonghu commented on #66575
/remove-sig api-machinery

[2018-07-25 03:50] edify42 commented on #39593
So recreating (delete followed by apply) is the only way for the k8s controller to pick up the changes to SVC annotations?

Annoying as I want to recreate the ELB but don't want to destroy the service entirely as it's used by the Ingress...

[2018-07-25 03:58] msau42 commented on #66583
@BrendanThompson that's an alpha feature, do you have the feature gate enabled on kubelet?

Also FYI, there are currently some api compatibility concerns around this feature, so it's likely going to change from its current form.  See https://github.com/kubernetes/features/issues/559

[2018-07-25 05:37] hchenxa opened #66597 "command panic when use kubectl to get the pods list"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I was using kubectl v1.11.1, and command panic when try to get pods list by command `kubectl get pods -n kube-system` like below:

[code]

**What you expected to happen**:
The command should work fine.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2018-07-25 06:01] haf commented on #58238
Why is it me who needs to keep talking to a computer about this? Either you fix it or close it, but stop letting a bot ping me?

[2018-07-25 06:02] haf commented on #58238
/remove-lifecycle stale

[2018-07-25 07:16] xikunyang commented on #66575
Maybe I had add new Kubernetes Control node result in these problem.

[2018-07-25 07:34] sttts commented on #66522
The extensions API is not stable (i.e. GA), but beta.  Moreover, its use is deprecated and all types move to other groups.

Some background: being beta though is more of an accident as it was declared beta before we even had the concept of alpha. Nowadays we probably would never promote it to beta.

[2018-07-25 07:36] sttts commented on #66531
@smarterclayton maybe I wrongly blame you and it was just a misunderstanding. v1 fixup sounds good.

[2018-07-25 07:47] Krishna1408 commented on #66380
Thanks vishen. I did some testing and it seems the issue is not happening. But on the other side it used to pop up randomly so  I would wait for few more days and see how it goes.

[2018-07-25 07:48] nikhita commented on #66522
/remove custom-resources
Oh, this says "extensions" and not "apiextensions". (I blame jet lag for this :))

/unassign
I am travelling this week, so if someone gets to it sooner, they are welcome to send a PR! :)

[2018-07-25 07:48] nikhita commented on #66522
/remove-area custom-resources

[2018-07-25 07:52] rkttu-devsisters commented on #65163
@daschott Yes, but I don't think there will be any problems with the Kubernetes cluster built with acs-engine. I think you've already done a lot of testing with acs-engine. As I mentioned when I first started this issue, the problem I'm having is a Kubernetes cluster that I built with AWS EC2 using KOPS, not Azure.

Can you test in the same environment? If you can do that, I'll give you more confi

[2018-07-25 07:57] mborsz commented on #66337
I debugged 181 as well, it's unrelated: the GCE VM gce-scale-cluster-minion-group-1-lvq9 was restarted due to host error (in activity logs of that VM I can see hostError and automaticRestart operations that happened exactly that time). I added information about this to the relevant issue:
https://github.com/kubernetes/kubernetes/issues/60097#issuecomment-407412794

[2018-07-25 08:17] BIGPHATTOBY commented on #37218
This would be oh so awesome!

[2018-07-25 08:23] mborsz commented on #66337
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/179 is the same issue

docker's logs shows the same error:
[code]

[2018-07-25 08:43] jabdoa2 commented on #60152
@tatobi did you solve the issue? or just gave up on it?

[2018-07-25 08:50] mborsz commented on #66337
FTR We are using `cos-stable-65-10323-64-0` with docker in 17.03.2-ce version and containerd version `0.2.3 commit: 595e75c212d19a81d2b808a518fe1afc1391dad5`

[2018-07-25 08:55] dixudx commented on #66390
/assign

[2018-07-25 09:00] mborsz commented on #66337
595e75c212d19a81d2b808a518fe1afc1391dad5 version of containerd uses rather old version of grpc library:
https://github.com/containerd/containerd/blob/595e75c212d19a81d2b808a518fe1afc1391dad5/vendor/src/google.golang.org/grpc/server.go#L357

I checked and even relatively fresh versions of cos (cos-stable-67-10575-62-0) are using the same version of docker (and containerd), so changing cos image won

[2018-07-25 09:06] mborsz commented on #66337
https://github.com/moby/moby/issues/34944 describes the same issue in that 17.03.2 version.

[2018-07-25 09:30] danbondd commented on #66574
@liggitt what is the best way to restart `kube-controller-manager`? I see it has a pod in kube-system or should I restart the service on the master node?

[2018-07-25 09:32] alexander-kasper commented on #61543
We located our problem. There was a wrong IP in the monmap as we added storage interfaces later. We changed the config but in the monmap there was the old IP.

[2018-07-25 09:35] danbondd commented on #66574
/sig scheduling

[2018-07-25 09:35] danbondd commented on #66574
/remove-sig api-machinery

[2018-07-25 09:41] ssfilatov opened #66603 "Add attachdetach timer config parameters to kube-controller-manager options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

I'd like to be able to tweak attachdetach controller timer options, especially ReconcilerMaxWaitForUnmountDuration(which 6 minutes by default).

What do you think about adding TimerConfig options to controller-manager?
options:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/attach_detach_controller.go#L57

[2018-07-25 09:42] ssfilatov commented on #66603
/storage

[2018-07-25 09:46] johnzheng1975 commented on #64259
Since it is by design of k8s, I closed this issue.
However, it will be great let user add an annotation to decide whether sg need changed back or not.

I used the method suggested by Bizzelicious & hubt finally.
I still do not know which code will check the sg and change back continually.  Is it use "k8s job", or "cron job"? It will be appreciate if someone can show code to me, thanks in advance.

[2018-07-25 09:47] r7vme opened #66604 "ipv6 support for Azure Load Balancer"
/kind feature

**What happened**:

Azure Load Balancer supports ipv6 [1]. It would be great to have Azure load balancers with ipv6 supported by Kubernetes.

**What you expected to happen**:
Load balancer with IPv6 can be created by Kubernetes.

**Anything else we need to know?**:
Please see Azure docs for details and limitations [2].

**Environment**:
- Kubernetes version (use `kubectl version`):

[2018-07-25 09:47] #64259 closed

[2018-07-25 09:47] r7vme commented on #66604
/sig/azure

[2018-07-25 09:53] george-angel commented on #49387
/remove-lifecycle stale

[2018-07-25 10:17] jowenn commented on #65221
I have the same problem with centos7 and 1.11
kubectl version --short
Client Version: v1.11.0
Server Version: v1.11.0

[2018-07-25 10:30] kiall commented on #23880
As a very very quick hack, I simply removed the validation code that enforces only a single protocol:

	diff --git a/pkg/apis/core/validation/validation.go b/pkg/apis/core/validation/validation.go
	index 7050c604e5..7747d527fc 100644
	--- a/pkg/apis/core/validation/validation.go
	+++ b/pkg/apis/core/validation/validation.go
	@@ -3714,9 +3714,6 @@ func ValidateService(service *core.Service) field.E

[2018-07-25 11:32] mborsz commented on #66337
docker implements health checking mechanism that restarts containerd when it doesn't respond to health check.
If this would work correctly in that case, it should be able to mitigate impact of this sigsegv.

https://github.com/moby/moby/blob/17.03.x/libcontainerd/remote_unix.go#L158

I think there is a bug in that logic:
In case of sigsegv, the error message is "transport is closing":
[code]
The l

[2018-07-25 11:41] BSWANG opened #66607 "Why kube-proxy add external-lb's address to node local iptables rule?"
/kind friction

**What happened**:
I have a `LoadBalancer` type service A of address 1.1.1.1. The external loadbalancer of service A is a TLS decoder, it will convert https requests to http `hostport` and `endpoint`.  But since the kube-proxy add the external-lb's address to local iptables rule. Requests of `https//1.1.1.1` will hijack to local http `endpoints`. Then https request failed.

**What

[2018-07-25 11:43] BSWANG commented on #66607
/sig network

[2018-07-25 11:44] shyamjvs commented on #66337
Great debugging @mborsz. One question I have here is what changed on our side that we started to see such failures recently? As our jobs were relatively green earlier and I don't remember such failures happening. I looked at the [cos version](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L78) we're using and that last changed 3 months ago.

[2018-07-25 11:52] Bondeau commented on #65933
Hello, I have the same problem as @jd485057.

The VCP plugin works well with kubernetes 1.10.5 but doesn't work with kubernetes 1.11.x. The OS is CentOS 7.

I tried to install the VM with hardware version 11 and 13.

Both product_serial and product_uuid are the same uuid but the VCP plugin don't find VM by UUID.
[code]

I don't know why the VCP plugin doesn't work with kubernetes 1.11.x. To config

[2018-07-25 12:07] andyzhangx commented on #66387
@AlexMuresan are you use nfs plugin on Windows? As I know, nfs mount is not supported on Windows

[2018-07-25 12:11] Rishi0405 commented on #58988
I got the same error, I forgot to turn off the swap. after disabling swap it worked.

[2018-07-25 12:11] soltysh commented on #66339
I don't see why this is marked as sig-cli related. I went through the failures none of them is cli-related. Dropping the label.

[2018-07-25 12:45] and3rson commented on #65754
We're having same issue here.

[code]

[2018-07-25 12:55] mborsz opened #66609 "gce scalability tests stuck on gathering log sizes"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable2/414 has failed with
[code]

The last message before SIGABRT is:
[code]

According to stacktrace, the framework is waiting for all goroutines to gather log sizes:
[code]

IIUC, a single goroutine is stuck on creating a SSH session:
[code]

/sig scalability
/cc @shyamjvs

[2018-07-25 12:55] mborsz commented on #66609
/assign

[2018-07-25 12:59] and3rson commented on #65754
Downgrading kubectl to the same version as server (1.8.10) fixed the issue for me.

[2018-07-25 13:31] mborsz commented on #66609
Next instance of this issue: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable2/401

[2018-07-25 13:32] sttts opened #66610 "CRD validation: properties and patternProperties at the same time must be disallowed"
In CRD OpenAPI validation we disallow `additionalProperties` in parallel to `properties`. But `patternProperties` is allowed without restriction.

But, `patternProperties: {".*": foo}` is equivalent to `additionalProperties: foo`. So we should add the same restriction to `patternProperties`, for the same reasons we had for the  `additionalProperties` case.

[2018-07-25 13:33] mborsz commented on #66609
And https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable2/394

[2018-07-25 13:39] mborsz commented on #66609
It happens also in 1.10 branch: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/1203

[2018-07-25 13:46] mborsz commented on #66337
Instance from 1.11: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/1082

[2018-07-25 13:54] shyamjvs commented on #66337
@mborsz Do you have a rough estimate around when we started seeing such failures?

[2018-07-25 14:00] rayburgemeestre commented on #22351
Did you try to delete the pod? It could still have the old token mounted maybe

[2018-07-25 14:01] RRAlex commented on #66073
Seems like we can pull 6.2.5 now... closing.

[2018-07-25 14:01] #66073 closed

[2018-07-25 14:05] rayburgemeestre commented on #44298
I had the same issue on a 1.6.4 cluster that I had to fix the certificates for, since they all expired after one year. After that it was a big mess. In my case one of the few things I had overlooked was the tokens, so I basically deleted all secrets from kubectl get secrets -n kube-system
And then all the pods in kube-system. In my case calico would then come up properly again and the pods that we

[2018-07-25 14:09] mborsz commented on #66609
Also https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/1187