[2019-09-14 03:24] draveness opened #82715 "Migrate Predicates to plugins"
**What would you like to be added**:

Write equivalent Plugins for all currently supported priorities and predicates. Those plugins should only call the existing predicates/priorities logic

/sig scheduling
/assign

[2019-09-14 04:27] tedyu commented on #82693
With fix from #82710, I don't see this particular test failure.

[2019-09-14 04:45] Huang-Wei commented on #82715
Hold on...

Let's [discuss first](https://docs.google.com/document/d/1P1eBaePxuko22B8LLOrPEonoj1awc1dCVBDefuRWUA4/edit#heading=h.u7jfy9wqpd2b) before heading into implementation. And I think @ahg-g will make detailed a roll-out plan and timeline.

[2019-09-14 05:16] draveness commented on #82715
Sure, I started this as a test to find what we else we need to do except what listed in the document.

[2019-09-14 06:53] hwdef commented on #81427
@oomichi
Please this issue,I accidentally closed it.
Sorry about it.

[2019-09-14 09:46] #82617 closed

[2019-09-14 11:57] mindw commented on #74011
Would [kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy) be a solution as well?

[2019-09-14 12:52] #76155 closed

[2019-09-14 15:01] sallyom commented on #82657
oops moving over to kubectl

[2019-09-14 15:01] #82657 closed

[2019-09-14 15:27] ArturoTarinVillaescusa commented on #80481
Thank you Joe!

Just for documentation, let me share my document [Debugging Issue # 80481: Duplicate HPA CPU metrics dropped during conversion](https://docs.google.com/document/d/1Q2GDaTvrcfzRxk1MdLuBsWaLr7OHzELYiWWYXCAXUGc).

This is a detailed document with the research that I've done, trying to debug the Kubernetes code to find the exact point when the issue arises.

I haven't find it yet, but

[2019-09-14 15:55] #76706 closed

[2019-09-14 17:48] tedyu commented on #80481
Thanks @ArturoTarinVillaescusa for the detailed doc.

If possible, it would be nice to enhance the snapshot images with filename and line number - the snapshot is not as readable as text.

[2019-09-14 17:49] tedyu commented on #82693
This should be duplicate of #82694

[2019-09-14 17:57] djschny commented on #42885
I'm trying to understand the rationale beyond the guidelines referenced for what is to be included or not be included. For example, `no namespace admin level resource`, if a person doesn't have privileges to access or edit those privileges then there is protection that way.

It seems like perhaps we should have some variations of it. For example:

* `all`
* `all-admin`

[2019-09-14 18:28] bdowling opened #82723 "kubectl run change default restart policy due to generator depreciation"
**What happened**:

Most of the generators for `kubectl run` have been depreciated per #68132

As a result, the default invocation of `kubectl run -it some/image my-pod` is still complaining about this depreciation many versions later.

[code]

This happens I believe because `--restart=Always` is the default and it is trying to generate a Deployment.  Adding `--restart=Never` to the command line c

[2019-09-14 19:45] ajinkya599 opened #82724 "Environment variables support - kubectl create secret --from-literal"
@kubernetes/sig-cli-feature-requests

**What would you like to be added**:
Support for passing environment variables in `create secret` command:

`kubectl create secret generic mysecret --from-literal=username=sudouser --from-literal=password=$sudopass`

or maybe something like `password=(-env sudopass)`

**`sudopass`** above being an environment variable.
`kubectl` can substitute the correct valu

[2019-09-14 21:09] #78747 closed

[2019-09-14 21:09] devaips commented on #78747
Issues which were not merged are superceeded by https://github.com/kubernetes/kubernetes/pull/81574

[2019-09-14 21:24] #76249 closed

[2019-09-14 22:48] riking commented on #66067
Fixed in #80591

[2019-09-15 00:42] tedyu commented on #77993
storageclass.storage.k8s.io "manual" not found

[2019-09-15 05:34] ZP-AlwaysWin commented on #82723
create a deployment default restart policy is "Always",it don't have "Never" restart policy。

[code]
so you use `--restart=Never` it default to create a pod,because it can't craate a deployment.

You can use this command to try

[code]

[2019-09-15 05:48] mcanevet commented on #65274
/remove-lifecycle stale

[2019-09-15 06:16] ArturoTarinVillaescusa commented on #80481
Hello @tedyu

thank you for your feedback, I really appreciate your interest, and your highlight about the quality of the document.

Please, find attached the document in several splitted pdf parts, Github does not allow uploading files greater than 10MB:

[PART 01 - Issue # 80481_ Duplicate HPA CPU metrics dropped during conversion.pdf](https://github.com/kubernetes/kubernetes/files/3613446/PART.

[2019-09-15 08:43] ZP-AlwaysWin commented on #82706
kubectl kustomize development|grep 30 is a new commond?

[code]

[2019-09-15 08:52] wu0407 commented on #73056
the kubectl  exec is idle exit with  use http_proxy  to apiserver  in my case, the timeout of http proxy server is 10min and streamingConnectionIdleTimeout: 4h0m0s

[2019-09-15 09:34] subrnath opened #82727 "conntrack shows wrong IP after changing the backend Pod of K8s ClusterIP service"
**What happened**:

There are two Pods behind a K8s clusterIP service. It's expected only one Pod to carry the traffic. Hence label corresponding to the "selector" of the service is attached to first Pod. There are two client Pods scheduled on different worker nodes of the K8s cluster. TCP connection from those two client Pods established properly towards the ClusterIP of the K8s service. "conntra

[2019-09-15 11:14] #76604 closed

[2019-09-15 13:15] sariel1212 commented on #15478
are --log-driver , --log-opt still not supported?
I'm trying to find a way to forward logs from single pod to Splunk. any ideas?

[2019-09-15 15:39] jaredledvina commented on #76935
/remove-lifecycle stale

[2019-09-15 19:18] dims commented on #69299
@caesarxuchao @lavalamp are we ready to pull the plug on these shell scripts?

[2019-09-15 22:25] #76730 closed

[2019-09-15 23:26] dims commented on #73304
/reopen
/remove-lifecycle rotten

[2019-09-16 00:37] alejandrox1 commented on #82695
/milestone v1.17
(labeling critical urgent as this is something that is being currently worked on)
/priority critical-urgent

[2019-09-16 00:40] ORESoftware commented on #79004
here we go /remove-lifecycle stale

[2019-09-16 00:46] alejandrox1 commented on #82676
The job does still have a good amount of failures but these seem to be different that the failure raised in this issue.
Will mark this one as done and open up a new issue to investigate and see what else can be done to reduce flakiness for this job.

For future reference: https://github.com/kubernetes/kubernetes/issues/78701 was the previous flake issue related to this job.

/close

[2019-09-16 00:46] #82676 closed

[2019-09-16 03:46] coffeepac commented on #15478
@sariel1212 for a single pod I recommend including a side car container in your pod that is only the splunk forwarding agent.  You can share an emptydir volume between all containers in the pod and have the application container(s) write their logs to the shared emptydir.  Then have the splunk forwarder container read from that volume and forward them.

[2019-09-16 03:52] andyzhangx commented on #67234
This issue only happens on k8s version: 1.11.0 ~1.11.2
**workaround**:
1. create a V2 storage account with Standard_LRS or Premium_LRS (depends on `storageAccountType` in azure file storage class)
2. use azure file storage class:
[code]

[2019-09-16 04:47] nrvnrvn commented on #79034
/remove-lifecycle stale

[2019-09-16 04:48] leakingtapan commented on #50898
Since volume plugin will be migrated to CSI, please comment here for the same feature for EBS CSI driver:
* add static tags: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/333
* add dynamic tags: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/180

[2019-09-16 04:56] whereisaaron commented on #15478
If you should want to collect to Splunk for your whole cluster @sariel1212, there is an [official Splunk `helm` chart to deploy `fluentd`](https://github.com/splunk/splunk-connect-for-kubernetes) with the Splunk HEC `fluentd` plug-in to collect node logs, container log, and control plane logs, plus Kubernetes objects, and Kubernetes cluster metrics. For one Pod @coffeepac's suggestion of a sidecar

[2019-09-16 06:05] logicalhan commented on #79108
/remove-lifecycle stale

[2019-09-16 06:37] mm4tt commented on #82695
Yeah, I'm working on that. Have a pending PR that should fix the problem, but need to verify it first.

[2019-09-16 07:23] lboclboc commented on #82706
I think it was integrated with kubectl in version 1.14. Earlier it was a standalone command.

[2019-09-16 07:44] kmala opened #82743 "Have option to pass in cluster service IP for apiserver"
**What would you like to be added**: Have an option to pass in cluster service IP for the apiserver. Currently the first IP of the ServiceClusterIPRange is used as the cluster IP for the apiserver where ServiceClusterIPRange can be changed using a flag and it would be nice to have service IP also configurable using the flag.

**Why is this needed**: This will help in setting up the network configu

[2019-09-16 07:48] kmala commented on #82743
sig api-machinery

[2019-09-16 08:06] lboclboc commented on #82706
Sorry, my fault. Syntax error in the kustomization.yaml, used resource instead of patchesStrategicMerge.

[2019-09-16 08:06] #82706 closed

[2019-09-16 08:26] yue9944882 commented on #82743
you can override the advertising address of the kube-apiserver via the flag `--advertise-address ip`. the cluster ip will be resolved to the address by endpoints..

[2019-09-16 08:58] danielqsj commented on #82659
/cc

[2019-09-16 09:14] kvaps commented on #69528
/remove-lifecycle stale

[2019-09-16 09:15] xiaoxubeii commented on #77041
Same problem here.

[2019-09-16 09:42] Benjamin-Riefenstahl-mecom opened #82746 "Have podManagementPolicy=OrderedReady garantee that restarts are executed in series"
**What would you like to be added**:
With Statefullsets, podManagementPolicy=OrderedReady should garantee that PODs are never started in parallel.

**Why is this needed**:
When PODs in a Statefullset fail in an certain order or are deleted in a certain order, they may be restarted in parallel even when podManagementPolicy=OrderedReady is configured.  This is most likely not intentional, but a cons

[2019-09-16 09:45] Benjamin-Riefenstahl-mecom commented on #82529
I added a feature request for this, s.a.

In the meantime, I would suggest that the problem (OrderedReady != serial in cases of error) should be noted in the documentation.

[2019-09-16 09:55] zouyee opened #82747 "[Failing Test] [sig-node] startup_probe_test.go"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-serial

**Which test(s) are failing**:
StartupProbe [Serial] [Disruptive] [NodeFeature:StartupProbe]

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

**Reason for failure**:
[code]
**Anything else we need to know**:

[2019-09-16 09:56] zouyee commented on #82747
@kubernetes/sig-node-test-failures

[2019-09-16 10:37] #76708 closed

[2019-09-16 10:53] oponder commented on #18982
Would it be super hacky to have a flag on the api server that allows us to reject certs created BEFORE a certain date?

That would be a way to quickly revoke all certs and start over when you have a feeling something went wrong.

[2019-09-16 10:55] krzysied commented on #82069
Calling sleep method on standard server, without k8s default filer chain.
![image](https://user-images.githubusercontent.com/25119199/64952476-bb390300-d880-11e9-8014-51f456b04c99.png)

I'll be running test with separate http2 server. However, IMHO it seems that problem is on creating new stream handler level and not on handling requests by k8s level.

[2019-09-16 11:11] tewner commented on #60789
I would love for "deployment" pods to be able to resolvable simply as:
<podname>.<namespace>.<clusterDomain>

It should be easy for a pod to discover it's own fqdn (hostname -f); This is the problem with using the "matching-name-headless-service" solution - By default, the hostname is ip-address-based; A pod can't easily discover it's resolvable name. I found the "endpoint_pod_names" CoreDNS optio

[2019-09-16 11:52] humblec commented on #82372
One of the obvious method which I can think of here is, introducing a new func similar to `formatAndMountWithOptions`  (....., formatArgs)` then move the core formatting logic to new func, so that the backward compatibility of `formatAndMount` is preserved. Any other suggestions ?

[2019-09-16 12:00] ep4eg commented on #18982
So that means any time I want to revoke a cert I have to revoke all of them and sign another bunch? Doesn't sound sane for me.

[2019-09-16 12:25] jkaniuk opened #82751 "[Failing Test] GCE 5K Performance - transient etcd failures"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
density & load

**Since when has it been failing**:
2019-09-13, green otherwise

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:

W0913 19:12:50.794] E0913 19:12:50.791546   14798 clusterloader.go:189]   Status: Fail
W0913 19:12:50.7

[2019-09-16 12:28] jkaniuk commented on #82751
/assign

Looks very similar to #82538

both etcd had problems writing to Persistent Disk, more than once (both etcd logs are very similar):
2019-09-13 17:43:44.767229 W | wal: sync duration of 1.002211007s, expected less than 1s
2019-09-13 18:03:16.642854 W | wal: sync duration of 17.47753688s, expected less than 1s
2019-09-14 00:15:05.450054 W | wal: sync duration of 18.269658169s, expected less

[2019-09-16 12:57] jkaniuk commented on #82751
One of master instance Persistent Disks was reported unhealthy during windows:
- 2019-09-13 18:03:20-18:05:10 GMT
- 2019-09-14 00:15:20-00:17:10 GMT

[2019-09-16 13:03] llarsson commented on #70082
So, do we know whether the root cause is the etcd version or slow disks? This thread seems to have contradictory responses.

[2019-09-16 13:06] ankon opened #82753 "CronJob reports active job even when that job was deleted"
**This is not a _duplicate_ of #37957, but rather a "the problem seems to have re-appeared."**

**What happened**:

I have a weekly cronjob that last week failed in a way that made me delete the spawned job. The specific failure was caused by a bug in our code, and as such is not a problem for Kubernetes. This week I noticed that the cronjob did not trigger at the expected time, and when looking a

[2019-09-16 13:12] ankon commented on #82753
Rough guess: @kubernetes/sig-apps-bugs

[2019-09-16 13:39] heartlock opened #82754 "Pod sandbox be killed and re-created when pull image failed"
**What happened**:
Pod sandbox be killed and re-created when pull image fail.
[code]
**What you expected to happen**:
pod sandbox should not be re-created but only need to  reconcile containers

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl create -f pod.yaml`
pod.yaml
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versi

[2019-09-16 14:19] andyzhangx commented on #80571
/assign @ritazh

[2019-09-16 14:20] cwdsuzhou opened #82755 "Dynamically created pv may be bound to wrong pvc"
**What happened**:

During I trace the #82584, I found if a PV dynamically created by PVC, though it does not have the required labels, it will be bound to PVC.

See https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/util/util.go#FindMatchingVolume

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/util/util.go#L233

[2019-09-16 14:20] heartlock commented on #82754
/sig node

[2019-09-16 14:20] cwdsuzhou commented on #82755
/assign

[2019-09-16 14:27] humblec commented on #82372
Also, in case of CSI, we can fix it with our own implementation of `formatAndMount` , but this issue was opened considering both CSI and in tree drivers. For example, in tree iscsi like drivers make use of this func. If we are only considering CSI, it can be handled via driver code.

[2019-09-16 14:37] cwdsuzhou commented on #82755
/sig storage

[2019-09-16 14:39] sharathmankala opened #82756 "Nameserver limits were exceeded, some nameservers have been omitted, the applied nameserver"
Hi Team,
I am new to k8s.
i am installed k8s cluster successfully and i am able to access k8s Dashboard.
But i am unable to access other apps from outside.
i am getting below error.
Kindly suggest me.

[code]

Sep 16 14:30:57 k8s-master kubelet[1896]: E0916 14:30:57.426517    1896 dns.go:130] Nameserver limits were exceeded, some nameservers have been omitted, the applied nameserver line is: 172.1

[2019-09-16 15:16] #82712 closed

[2019-09-16 15:36] tedyu commented on #82755
FindMatchingVolume is called by the PV controller and scheduler.

It seems the label check is only in the scheduler path.

[2019-09-16 16:19] ritazh commented on #80571
@chewong

[2019-09-16 17:04] dionysius commented on #67019
What am I allowed to do to prevent this request from rotting? Just because I'm not commenting doesn't mean I'm patiently waiting :P

[2019-09-16 17:40] karthick2411 commented on #81364
Hi @zq-david-wang  We have already labels and selectors for the Deployment and replicasets. But the issue is Old Replicaset are not getting scaled down after deployment. Old Replicasets are piled up which exhaust the worker nodes

[2019-09-16 17:41] karthick2411 commented on #81364
Workaround is scaling down the deployment before redeploying the same deployment.

[2019-09-16 18:03] aojea commented on #82634
/cc @BenTheElder

[2019-09-16 18:03] danielmotaleite commented on #40610
we need this for 2 user cases:
- nodes zone info in pod labels, so service selector can deliver traffic inside the same zone instead of doing cross zone requests
- environment variable with node zone info, so cluster based apps can have the correct info. It can also be used to request the correct in-zone dns and add the correct labels to monitoring ( like /metrics) and logs

While we can use a ini

[2019-09-16 18:29] ksubrmnn commented on #82711
@nagiesek Do you know how this would happen? Is this a CNI thing? I also don't have context here as to why this would work differently than it would for Docker.

[2019-09-16 18:52] narayanan commented on #77192
@Swetad90 We are running into similar issue in out environment, did you find the root cause / any workarounds?

[2019-09-16 19:40] #82023 closed

[2019-09-16 19:46] #75162 closed

[2019-09-16 20:08] nagiesek commented on #82711
I don't think setting hostname is commonly supported through CNI. My expectation is that the hostname would be set as part of the CRI, but I'd have to dig around a bit to confirm.

[2019-09-16 20:18] Jefftree commented on #82312
@hh @BobyMCbobs It seems that we already have e2e testing for hostIPC and hostPID (https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/security_context_test.go). Is there something you want to cover which is missing from that test?

[2019-09-16 20:40] johnSchnake commented on #82663
Summarizing the many conversations on the PR and in Slack regarding this:

We wish we had identified the lack of a `Disruptive` tag sooner and could have taken better action. Since the release is 2 days away and our own tooling currently prohibits us from marking tests as both `Disruptive` and `Conformance`, we've decided to let the release proceed with this "bug".

Risk:
 -  Someone running the c

[2019-09-16 20:45] tallclair commented on #82647
BTW, I consider custom AppArmor / Seccomp profiles to be pretty low priority, especially as we don't have a good story for deploying custom profiles right now. Also matters less for non-root containers.

[2019-09-16 21:14] roycaihw commented on #82693
/cc

[2019-09-16 21:16] roycaihw commented on #82743
/sig network
/cc @caesarxuchao

[2019-09-16 21:22] kmala commented on #82743
@yue9944882 i was talking about the incluster service IP not the IP which the apiserver will be listening/reachable on.

[2019-09-16 21:24] frittentheke commented on #76568
/remove-lifecycle stale

[2019-09-16 21:28] aanm opened #82765 "[v1.16.1] kube-controller-manager v1.16.0-rc.2 panics when restarting after disabling alpha feature 'IPv6DualStack'"
**How to reproduce it (as minimally and precisely as possible)**:
- Follow https://github.com/kubernetes/website/blob/dev-1.16/content/en/docs/concepts/services-networking/dual-stack.md
- After that, disable 'IPv6DualStack', i.e., deploy the same cluster without the options followed in the previous step.
- Notice `kube-controller-manager` does not start.

[code]

**Workaround**:

1 - `kubectl dele

[2019-09-16 21:39] liggitt commented on #82765
/milestone v1.16.x

This needs to be resolved and picked to 1.16.x before the IPv6DualStack feature can be promoted to beta

[2019-09-16 21:40] liggitt commented on #82765
/milestone v1.16

[2019-09-16 21:49] jpbetz commented on #82693
@roycaihw want to take a look at the audit event issue first? I can dig in after that if issues remain.

[2019-09-16 21:50] tedyu commented on #82765
What about adding check of idx:
[code]

[2019-09-16 21:58] roycaihw commented on #82693
@jpbetz yes, I'm looking at the audit event issue now

[2019-09-16 22:10] roycaihw commented on #82693
actually the failure message suggests that the missing audit log is caused by unexpected admission invocation:
[code]

I think it's unrelated to auditing

Note that there are two tests named "no reinvocation of webhook B when in-tree or prior webhook mutations" :( and from the audit log (`last event checked`), it also suggests that the test is hitting a wrong endpoint

[code]

[2019-09-16 22:26] jpbetz commented on #82693
Thanks @roycaihw. I'll dig in.

[2019-09-16 22:43] sturfee-petrl commented on #68083
/remove-lifecycle stale

I spent more then 1 year on the solution of this bug. :tired_face:
 It was crucial option for us As we have websocket protocol and an average live of the connections is more then 10 mins
We actually were forced to implement the additional fail handling logic on top of it.

I can confirm that it behave dangerously and unpedictiosly  :disappointed:

And this issue should hav

[2019-09-16 23:13] tedyu commented on #82765
It seems safer approach is to match clusterCIDR of CidrSet with member of allocatedCIDRs so that the operation is not dependent on the order within the slices.

[2019-09-16 23:19] schahal commented on #77557
Same issue (editing Service to add extra load balancer source ranges don't update the node's SG) in the following environment as well:
k8s version: v1.13.8
cloudprovider: AWS
provisioner: EKS

[2019-09-17 00:19] tpepper opened #82767 "Deprecated mondo test tarball needs removed"
**What happened**:
On 2019-02-22 https://github.com/kubernetes/kubernetes/pull/74065 was merged with an indication that the mondo test tarball noted as deprecated as per https://git.k8s.io/enhancements/keps/sig-testing/20190118-breaking-apart-the-kubernetes-test-tarball.md.  But it did not include a timeline for eventual removal.

**What you expected to happen**:
It's been 7 months now.  We should

[2019-09-17 01:25] jurgenweber opened #82768 "kube-apiserver sometimes times out contacting MutatingWebhook"
**What happened**:
the kube-apiserver pods reporting the following error when contacting the webhook we are using:
[code]

**What you expected to happen**:
I expected all posts to the webhook to be successful and without error.

**How to reproduce it (as minimally and precisely as possible)**:
Create a webhook using create pod:
[code]
reference a service as the clientConfig endpoint.
[code]

**Any

[2019-09-17 01:30] liggitt commented on #82768
The controller manager does not speak to the webhook, only the apiserver does.

[2019-09-17 01:32] xiaoanyunfei commented on #82754
`k8s.gcr.io/pause:3.1-l` is the image that pod sandbox uses, and pod sandbox can't run without image.
I don't think this is a reasonable requirement.
/close

[2019-09-17 01:32] liggitt commented on #82768
the correlation with the controller manager is likely just because the controller manager speaks to its local apiserver, so the volume of pod write requests is much higher on that api server.

[2019-09-17 01:35] liggitt commented on #82768
A few questions:
1. Is the backing pod (or pods) for the webhook restarting around when this is occurring?
2. Do you have multiple pods backing that service?
3. Are you using `--enable-aggregator-routing` on the API server?

[2019-09-17 01:37] jurgenweber commented on #82768
no

yes

no, but kube-proxy is on the master nodes.

note: https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/

[2019-09-17 01:53] liggitt commented on #82768
Note that 1.11.x is out of support, we'll need to reproduce against 1.13+

If the issue is dead TCP connections, that issue is still a general client-go issue that is known and unresolved (it is on the list for investigation in 1.17)

[2019-09-17 02:01] liggitt commented on #82768
Re: https://github.com/kubernetes/kubernetes/issues/75791, concurrent requests load balance better in 1.16 due to switching to http/1.1 for webhook connections

[2019-09-17 02:02] jurgenweber commented on #82768
yeah, I thought you might say that.

How can I confirm if it is that issue?

[2019-09-17 02:14] danielqsj commented on #82753
/area workload-api/cronjob

[2019-09-17 02:45] skaji commented on #72775
Hi,
I faced this issue on Amazon EKS, kubernetes v1.14.6.
It seems that kubernetes v1.14.6 contains the fix (#79708), but the issue remains.

Here are reproduction steps
https://gist.github.com/skaji/575e4a383fac0f0d11b5b51220a6049c

[2019-09-17 03:28] andyzhangx commented on #80571
/assign @chewong

[2019-09-17 03:30] xieyanker opened #82770 "kubectl get node slowly"
**What happened**:

Hello, on my k8s, the command `kubectl get node` is too slow.

**What you expected to happen**:

`kubectl get` can show resource right away.

**How to reproduce it (as minimally and precisely as possible)**:

always on my cluster.

**Anything else we need to know?**:

I print the log as follows:
[kubectl_get_node_slow.log](https://github.com/kubernetes/kubernetes/files/3619129/

[2019-09-17 03:32] zouyee opened #82771 "[Failing Test] [sig-node] pod infra containers oom-score-adj should be -998 and best effort container's should be 1000"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-serial

**Which test(s) are failing**:
[k8s.io] Container Manager Misc [Serial] Validate OOM score adjustments [NodeFeature:OOMScoreAdj] once the node is setup pod infra containers oom-score-adj should be -998 and best effort container's should be 1000

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-node-ku

[2019-09-17 03:32] heartlock commented on #82754
@xiaoanyunfei `k8s.gcr.io/pause:3.1-l` is container image config, you can replace with any image not exist.

[2019-09-17 03:32] xieyanker commented on #82770
/sig api-machinery
/sig cli
/sig usability

[2019-09-17 03:41] xieyanker commented on #80245
@kong62 Hello, I meet a same issue, such as `kubectl get node` slowly, and the pod ` metrics-server` exists in my cluster. I try to delete the deployment of it, but no help to me. I want to kown why it worked for you when you deleted the pod `metrics-server-6c66b78c97-lt9ph`.

[2019-09-17 04:05] zouyee commented on #82771
@kubernetes/sig-node-test-failures

[2019-09-17 04:05] instantlinux commented on #67019
Agreed
/remove-lifecycle rotten

[2019-09-17 04:05] zouyee commented on #82771
/assign

[2019-09-17 04:05] snowplayfire opened #82773 "kube-controller-manager crash when node.Spec.PodCIDR is out of range, is the result as expected?"
**What happened**:
If a node with illegal cidr is added into a cluster,  there is a error message in kube-controller-manager.ERROR. The error message only appears once,  the cluster will be thought as normal and do nothing if the error message is missed. Everything is ok until controller-managers change leader or restart.

When controller-managers restart, the new leader controller-manager's nodei

[2019-09-17 04:06] snowplayfire commented on #82773
/sig apps

[2019-09-17 05:16] aojea commented on #82634
/assign @Random-Liu
Thanks for fixing the issue

[2019-09-17 05:26] xiaoanyunfei commented on #82754
my mistake
/assign

[2019-09-17 05:34] dhineshbabuelango opened #82774 "Not able to deploy kind:pod from another cluster."
Hi All,
We have two EKS cluster running, we are running the kubectl command from one cluster to deploy the pod in other cluster, we are getting error like below.
when the kind is deployment instead of pod, we are able to deploy.

**Error: release test-api failed: pods "test-api" is forbidden: pod does not have "kubernetes.io/config.mirror" annotation, node "XXXXX..compute.internal" can only create

[2019-09-17 05:42] zouyee commented on #82773
https://github.com/kubernetes/kubernetes/issues/82765

[2019-09-17 06:27] chendave opened #82775 "reset `binfmt_misc` is needn't when build arm images on arm platform"
**What happened**:
when building images on non-amd platform, arm64 for example, and the target image is arm64 too, the code still reset `binfmt_misc`.

**What you expected to happen**:
There is no need to reset anything, the shell code is purely for amd64 and haven't considered the non-amd platforms.

**How to reproduce it (as minimally and precisely as possible)**:
on any platform other than amd,

[2019-09-17 06:27] chendave commented on #82775
/assign

[2019-09-17 06:31] duglin commented on #18787
/ping @mikebrow

This is the issue we were discussing yesterday. We're running Kubernetes in a multi-tenant environment and so we'll have multiple users running pods on the same node. This means that if one of them is able to figure out the image name that some other user used then, even if they don't have access to the private repo from which the image was pulled, they'll be able to use the image

[2019-09-17 06:42] tdihp opened #82776 "kubectl: Azure AAD authentication should handle refresh token timeout"
**What would you like to be added**:

Currently, when AAD login is configured, refresh token timeout would make kubectl print an error, not able to re-login without manually remove the tokens. Expect kubectl to promote user to login again.

**Why is this needed**:

Configure refresh-token timeout from Azure is a way to force re-login after inactivity. kubectl doesn't promote re-login makes users h

[2019-09-17 06:47] tdihp commented on #82776
/sig azure

[2019-09-17 07:03] zhangguanzhang commented on #80455
well.... It was submitted by someone else.
19c0aa9#diff-16d6720d733f4a8d336f41acfc43c857R31

[2019-09-17 07:03] #80455 closed

[2019-09-17 07:15] cwdsuzhou commented on #82755
label check does not exist for dynamically provisioned pv

[2019-09-17 07:36] sharathmankala commented on #82756
/sig  Linode

[2019-09-17 07:55] tuminoid commented on #49835
We're hitting this still today with k8s 1.15.3, Docker 1.13.1 (+RHEL backports) on RHEL 7.7. Cleaning up kubepod slices do nothing, and so far only solution has been rebooting the node in question.

[2019-09-17 08:18] will-beta commented on #44528
I'm also having this issue on AKS.

[2019-09-17 08:18] will-beta commented on #44528
/reopen

[2019-09-17 08:57] Sai-Adarsh commented on #81526
Stale issue? Still open to contribution?

[2019-09-17 09:27] adelina-t commented on #81760
I started some work on pulling it from the main k/k repo, I'm still slowly working on build scripts. Will update when I have a PR in a week or two ( depending on the volume of my other commitments ).

[2019-09-17 09:36] hex108 commented on #80291
Resolved in https://github.com/kubernetes/kubernetes/pull/82704

/close

[2019-09-17 09:36] #80291 closed

[2019-09-17 09:48] pohly commented on #82507
The `VolumeLifecycleModes` isn't about that. It's a sanity check that prevents kubelet from calling `NodePublishVolume` for an inline volume when the CSI driver doesn't support that mode. The outcome would be unspecified, because the call isn't valid (doesn't follow the CSI spec regarding prior calls, volume context not what the driver expects). Who knows what a badly written driver then does...

[2019-09-17 09:49] luisdavim commented on #80948
some discussion also on the metacontroller side: https://github.com/GoogleCloudPlatform/metacontroller/issues/184

[2019-09-17 10:03] MSSedusch opened #82781 "Azure: Add Support for Write Accelerator"
**What would you like to be added**:
Add support for Azure Write Accelerator on Azure Disks - https://docs.microsoft.com/azure/virtual-machines/windows/how-to-enable-write-accelerator

**Why is this needed**:
For high performance applications, like databases, using Write Accelerator on disks where the database log is stored can improve performance. If customers are already using M or Mv2 VM types,

[2019-09-17 10:05] MSSedusch commented on #82781
/sig storage
/area provider/azure

[2019-09-17 10:23] michalpiasecki1 opened #82782 "initContainers does not accept imagePullSecrets"
**What happened**:
initContainers does not accept imagePullSecrets. No way to configure a secret so initContainers can connect to a private repository.

**What you expected to happen**:
Adding an imagePullSecrets under spec should work for both container and initContainers

**How to reproduce it (as minimally and precisely as possible)**:
Have a template with both container and initContainer. Defi

[2019-09-17 10:24] michalpiasecki1 commented on #82782
/sig node

[2019-09-17 10:27] michalpiasecki1 commented on #70732
`      initContainers:
        - name: wait-for-database
          image: image-name
          command: ["/usr/local/bin/wait-for-main-controller-database.sh", "postgresql"]
          imagePullPolicy: Always
          imagePullSecrets:
            - name: regcred`

ends with

error validating data: ValidationError(Deployment.spec.template.spec.initContainers[0]): unknown field "imagePullSecrets" i

[2019-09-17 10:35] blurpy commented on #75414
Just wondering, since this is fixed in the 1.14-branch now, if 1.14.7 is scheduled for release any time soon? 1.16 is right around the corner, so we are soon to be out of support on 1.13.

[2019-09-17 10:51] adamdougal commented on #77058
Any update? Happy to help out in any way I can to resolve this, would just need some pointers on where to start. Thanks

[2019-09-17 11:13] ZP-AlwaysWin commented on #82773
These two should not be the same problem.The second problem is a bug introduced in the new version.The current problem is the problem of the old version.

[2019-09-17 11:17] ZP-AlwaysWin commented on #82773
kube-controller-manager crash when node.Spec.PodCIDR is out of range，kube-controller-manager ，It can't be started. It's always in a state of selection.You can see the problem from the logs of the chooser。maybe the best way is  not let the wrong nodes join the cluster

[2019-09-17 11:42] rikatz commented on #81630
@KevinTHU sorry for taking so long, pretty busy here. Will take a look into this ASAP

[2019-09-17 11:50] RainbowMango commented on #82510
@irajdeep
I just saw this issue...

We have wrapped Prometheus bucket functionality in https://github.com/kubernetes/kubernetes/pull/82583.

For Prometheus Collector/Desc functionality, these usually used in custom collector scenario.
Maybe not simply provide a wrapper but should provide a mechanism to annotate the custom collector with stability metadata.  Actually, I'm working on it.  Refer http

[2019-09-17 11:52] andyzhangx commented on #82781
hi @MSSedusch , do you know what if user enable `WriteAccelerator` on a VM size does not support this or on a standard HDD disk?
/assign

[2019-09-17 12:00] IlyasAzeem opened #82786 "Survey on Pull Request Prioritization"
Dear Pull Requests integrators,
We are an international group of researchers investigating Pull Requests management activities. We implemented an automated approach, named CARTESIAN, for prioritizing Pull Requests (PRs) received by an open-source project according to the likelihood of acceptance/response. We would like to evaluate whether CARTESIAN can help integrators when reviewing PRs.
As we no

[2019-09-17 12:12] snowplayfire commented on #82773
@ZP-AlwaysWin Yes, it is also a "Fix suggestion" which involves not only kube-controller-manager.

[2019-09-17 12:17] MSSedusch commented on #82781
If the VM size does not support it, Azure API returns the following response:
[code]

If you enable write accelerator for Standard HDD and the VM is deallocated, it works but the VM cannot start with this configuration. If the VM is running and you enable WA for a Standard HDD, Azure API responds with:
[code]

[2019-09-17 12:35] liggitt commented on #81526
Yes, https://github.com/kubernetes/kubernetes/pull/74245 seems to have stalled. If you want to start with that PR, fixup the verify failures with a second commit of your own, and open a new PR, that would be great

[2019-09-17 12:35] heartlock commented on #82765
@tedyu How about:
[code]

[2019-09-17 12:37] liggitt commented on #82786
the contributor experience special interest group would be a better place for discussion about the contribution process. see https://github.com/kubernetes/community/tree/master/sig-contributor-experience for contact info

/close

[2019-09-17 12:37] #82786 closed

[2019-09-17 12:39] liggitt commented on #82782
do you have a copy of your pod manifest? `imagePullSecrets` are specified at the pod spec level, not at the container level (which is what https://github.com/kubernetes/kubernetes/issues/70732 was trying to do)

[2019-09-17 12:42] liggitt commented on #82774
Kubelets are only permitted by the `NodeRestriction` admission plugin to create "mirror pods", in order to protect against one compromised node scheduling workloads to run on another node. You will need to use a non-kubelet credential to create the pods.

/close

[2019-09-17 12:42] #82774 closed

[2019-09-17 12:48] liggitt commented on #82765
/sig network

[2019-09-17 12:51] JamesBalazs commented on #68737
Looks like someone tried to add support for this in https://github.com/kubernetes/enhancements/pull/660 but the PR has been open for ~10 months and awaiting requested changes for ~8 months.

Are there any plans to merge the PR or is the workaround listed here the only solution?

[2019-09-17 12:51] michalpiasecki1 commented on #82782
[code]
I was convinced that I have to include second time imagePullSecrets for initContainers, but I understand your point now

[2019-09-17 12:56] liggitt commented on #82782
is it possible there's a different issue pulling the initContainer than credentials? is the same `{{ build_tag }}` defined for the postgresql and main-controller images?

[2019-09-17 12:57] liggitt commented on #18787
The [`AlwaysPullImages` admission plugin](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#alwayspullimages) is the only current mitigation

[2019-09-17 12:59] chrisohaver commented on #75414
@blurpy, Kubernetes v1.14.7 cut is planned Wednesday September 18 (tomorrow).

https://groups.google.com/d/msg/kubernetes-dev/Ev8mjKD3h-o/nrJxd3YyAQAJ

[2019-09-17 13:07] liggitt commented on #82765
Please add a note to https://github.com/kubernetes/kubernetes/issues/81930 describing the issue as well for v1.16.0

[2019-09-17 13:10] blurpy commented on #75414
Great, thanks!

[2019-09-17 13:17] andyzhangx commented on #82781
@MSSedusch do you have any rough perf improvement in specific scenario? In general, it's doable, while I would like to know the business impact, thanks.

[2019-09-17 13:23] dims commented on #81760
thanks @adelina-t

[2019-09-17 14:10] gnufied commented on #68737
The enhancement#660 is in work for 1.17. We should have either this PR or a variant of it merged in 1.17 time window.

[2019-09-17 14:13] johnSchnake opened #82787 "Allow conformance tests to be marked as Disruptive"
**What would you like to be added**:
Our tooling that makes the list of conformance tests needs to allow conformance tests to be marked as disruptive.

**Why is this needed**:
To test default, conformance behavior which may be disruptive (e.g. taint eviction)

ref #82663

/sig testing
/area conformance

[2019-09-17 14:22] danwinship commented on #82361
/remove-triage unresolved

[2019-09-17 14:27] mariantalla commented on #82532
I can start work on the second TODO (=experiment replacing pull-kubernetes-e2e-gce with a CAPA (cluster-api AWS) job)

Here's what I was had in mind more specifically:
**Local dev environment setup**
* Get a cluster (perhaps even a `kind` one will work) and IaaS (GCP?) account
* Deploy prow on it
* Run `pull-kubernetes-e2e-gce` and have it run successfully using that local prow instance
* Take not

[2019-09-17 14:47] wdec commented on #71887
docker:18.09.2
k8s:v1.15.0
linux:Ubuntu 18.04.1 LTS
cgroup-driver: systemd

[2019-09-17 15:17] mannevijayakrishna opened #82791 "Kubeadm init --config config.yaml issue ( high avalibulity cluster )"

[2019-09-17 15:18] mannevijayakrishna commented on #82791
Can some on help to reslove this below error/issue ::

kubeadm init --config config.yaml
W0917 10:44:31.802396   10260 strict.go:54] error unmarshaling configuration schema.GroupVersionKind{Group:"kubeadm.k8s.io", Version:"v1beta1", Kind:"ClusterConfiguration"}: error unmarshaling JSON: while decoding JSON: json: unknown field "apiServerCertSANs"
[init] Using Kubernetes version: v1.15.3
[preflight

[2019-09-17 15:21] mannevijayakrishna opened #82792 "k8s high availability / multi master cluster issue"
hi, I am trying to build a 3 master cluster but I am getting below error c. can some help me.

kubeadm init --config config.yaml
W0917 10:44:31.802396   10260 strict.go:54] error unmarshaling configuration schema.GroupVersionKind{Group:"kubeadm.k8s.io", Version:"v1beta1", Kind:"ClusterConfiguration"}: error unmarshaling JSON: while decoding JSON: json: unknown field "apiServerCertSANs"
[init] Usin

[2019-09-17 15:35] 007 commented on #48767
/remove-lifecycle stale

[2019-09-17 15:41] duglin commented on #18787
@liggitt thanks for the pointer!  Sadly, that won't work for us due to the performance impact of a pull each time, but good to know there's a solution for other use cases.

[2019-09-17 15:43] Marusyk commented on #70153
so, how to enable cAdvisor in kubernetes ?

[2019-09-17 15:43] Marusyk commented on #70153
/sig cadvisor

[2019-09-17 15:47] liggitt commented on #18787
Note that the "pull" does **not** re-pull already-pulled layers, but simply resolves/verifies the manifest  has not changed in the registry (which incidentally requires authenticating to private registries, which enforces the image access). That means in the normal case (where the image has not changed since the last pull), the request size is O(kb).

It *does* put the registry in the critical pat

[2019-09-17 15:49] lundbird opened #82793 "Eviction signals do not consider reserved compute resources"
**What happened**:
OOM reached on nodes

**What you expected to happen**:
pods are evicted based on eviction rules before triggering OOM

**How to reproduce it (as minimally and precisely as possible)**:
Configure the kubelet to grant additional memory to kubeReserved and or systemReserved past what is given for the hard eviction rule(100Mi by default). Now node can reach OOM state without trigger

[2019-09-17 15:52] lundbird commented on #82793
@kubernetes/sig-Node-bugs

[2019-09-17 15:52] duglin commented on #18787
ooooo that's interesting and great to know - thanks!  That definitely would help a lot, but you are correct that putting the registry check in the critical path (especially for cases where every millisecond matters for container start-up time) is still an issue for us.

[2019-09-17 15:53] PatrickLang commented on #82711
this causes failures:

[code]

[2019-09-17 15:59] lachie83 commented on #82765
cc @khenidak

[2019-09-17 16:30] #82306 closed

[2019-09-17 16:39] krzysied commented on #82069
Calling sleep on separate server using http2. There was only one connection made per node. All sleep calls were send using streams.
![image](https://user-images.githubusercontent.com/25119199/65061397-1ef32700-d97a-11e9-9c07-d2fb0b71d7b0.png)
 IMHO it looks the same as calling standard k8s server.

[2019-09-17 16:42] dfang commented on #82724
do we really need  env substitution in kubectl command ?  it seems only `kubectl create secret` needs this env substitution.

i prefer this syntax over the second one.

`kubectl create secret generic mysecret --from-literal=username=sudouser --from-literal=password=$sudopass`.

maybe we can take it further like [this](https://github.com/a8m/envsubst).

[2019-09-17 16:45] weinong commented on #82776
/sig platform/azure

[2019-09-17 16:46] weinong commented on #82776
/platform/azure

[2019-09-17 16:50] weinong commented on #82776
/area provider/azure

[2019-09-17 16:54] logicalhan commented on #81930
How's this:
[code]

[2019-09-17 16:55] bernadinm opened #82796 "kube-scheduler panic on PodAffinity"
**What happened**:

Kube scheduler went into a crash loop after upgrading to 1.15.2. The logs can be located here: https://gist.github.com/bernadinm/30416acf185f4ea36d620d60d81f3f56

[code]

We suspect that it is related to this commit here that https://github.com/kubernetes/kubernetes/pull/76973/files was introduced in k8s-v1.15.0-alpha

[code]

**What you expected to happen**:

This issue was ad

[2019-09-17 17:05] weinong commented on #82776
the root cause of this issue is in this [file](https://github.com/kubernetes/kubernetes/blob/c3e60b6e1c7bc147740800b7ac52712d55579844/staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go#L178)
1. it first gets the cached token (result of device code flow) at [this line](https://github.com/kubernetes/kubernetes/blob/c3e60b6e1c7bc147740800b7ac52712d55579844/staging/src/k8s.io/client-go

[2019-09-17 17:16] neolit123 commented on #82792
v1beta1 ClusterConfiguration does not have `apiServerCertSANs`, see examples at:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

also better migrate to v1beta2:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

make sure your external etcd cluster is healthy.

/triage support
/sig cluster-lifecycle

[2019-09-17 17:16] neolit123 commented on #82791
duplicate of https://github.com/kubernetes/kubernetes/issues/82792

/close

[2019-09-17 17:16] #82791 closed

[2019-09-17 17:38] kow3ns commented on #82773
Hello @snowplayfire. This is issue should be assigned to a combination of SIG Cluster Lifecycle and (potentially) SIG Node.

[2019-09-17 17:39] kow3ns commented on #82773
/sig cluster-lifecycle
/sig node

[2019-09-17 17:39] kow3ns commented on #82773
/remove-sig apps

[2019-09-17 17:41] brycecr commented on #78227
/remove-lifecycle stale

[2019-09-17 17:52] zoltanromocsa opened #82799 "Websocket connection failures"
**What happened**:
We are running multiple Azure Kubernetes services that accept long running websocket connections. These services are externally exposed through an Azure load balancer and they handle multiple concurrent connections from clients. During these connections, the client sends a fairly constant stream of data packets every 50ms - 100ms and each of these packets contain a few KBs  of d

[2019-09-17 17:58] #15636 closed

[2019-09-17 18:03] zoltanromocsa commented on #82799
/sig network
/sig cloud-provider provider-azure

[2019-09-17 18:09] tedyu commented on #82796
I am thinking about the following change (looking at the flags inside processPod):
[code]
Another option is to allocate int64 for every node.

[2019-09-17 18:22] lukeschlather commented on #65797
I would really like this feature for deployments. Based on https://github.com/kubernetes/kubernetes/issues/24725 , this feature will not work with deployments?

Also, the way I would really like this to work is to have restartPolicy: never when deploying a new pod, but then allow have it be Always once the deployment is completed. (And if the deployment fails, the old pods from the previous succes

[2019-09-17 18:45] caesarxuchao commented on #76338
/cc

[2019-09-17 19:13] Huang-Wei commented on #82796
We shouldn't be doing that. That had proved to be a perf regression.

So we should come up with a fix resolving only this issue.

[2019-09-17 19:30] Huang-Wei commented on #82796
Regarding this approach, isn't `nodeNameToInfo[name].PodsWithAffinity()` designed for pre-processing that?

[2019-09-17 19:31] Huang-Wei commented on #82796
/sig scheduling

[2019-09-17 19:34] tedyu commented on #82796
@bernadinm
The log snippet you posted contained only the panic.

Are you able to attach / post more of the scheduler log so that we can have more background ?

Thanks

[2019-09-17 19:38] Huang-Wei commented on #82796
@bernadinm Is it possible that your workload has Pod(Anti-)Affinity **explicitly** defined but its size is 0?

I asked this because it seems we only check if the Pod.Affinity.Pod(Anti-)Affinity == nil:

https://github.com/kubernetes/kubernetes/blob/09d2cdf384309696c01307d249bc308f87402d0a/pkg/scheduler/nodeinfo/node_info.go#L496-L499

[2019-09-17 19:49] liggitt commented on #82531
heketi/heketi issue resolved in https://github.com/heketi/heketi/pull/1649, vendored copy bumped in https://github.com/kubernetes/kubernetes/pull/82805

[2019-09-17 20:04] hpandeycodeit commented on #78693
/remove-lifecycle stale

[2019-09-17 20:12] nfd9001 opened #82806 "kubectl exec sometimes interprets options right of the opening command as its own"
Hi; I'm tapping this out on my phone, so please forgive the missing boilerplate. Using client v1.15.0, server 1.15.3, kubectl 1.15.3 (as reported by apt) on Ubuntu 18.04, kubectl isn't working the way I expect.

Try some command `kubectl -n namespace exec podname -c containername -ti bash -c "command"`. I tried this within a script I'm using, and I get an error...
`Error from server (BadRequest):

[2019-09-17 20:15] msau42 commented on #70773
I spoke to liggitt and he explained that it's not always good to use informers.

In this case, we have multiple factors that would argue in favor of *not* using informers:
* There's a CSINode object per Node in the cluster, but kubelet only needs 1 of them. In large clusters with 1000s of nodes, that means every node opens a watch and is filtering 1000s of unneeded objects. Informers would actuall

[2019-09-17 20:16] zoltanromocsa commented on #82799
/sig platform/azure

[2019-09-17 20:22] bpownow commented on #59888
Seeing the same issue in `1.14`

[2019-09-17 20:22] davidz627 commented on #70773
Lets remove the TODO from the codebase (if there exists one) then and we can consider this issue closed

[2019-09-17 20:24] liggitt commented on #80313
cc @caesarxuchao

[2019-09-17 20:37] liggitt commented on #82806
you can add `--` and all options following it are assumed to be part of the command to be sent to the pod, not to be interpreted by `kubectl exec`

In your example:
[code]

This follows posix guidelines:

/close

[2019-09-17 20:37] #82806 closed

[2019-09-17 20:39] alejandrox1 commented on #82771
Let's monitor this one and see if #82772 worked
/reopen
/milestone v1.17
/priority critical-urgent

[2019-09-17 20:50] medmedchiheb commented on #79134
/close

[2019-09-17 20:50] #79134 closed

[2019-09-17 21:16] Huang-Wei commented on #82796
Nvm, I've managed to repro this issue.

[2019-09-17 21:19] tedyu commented on #82796
How about the following change ?
[code]

[2019-09-17 21:27] #81731 closed

[2019-09-17 21:32] jktomer opened #82808 "/healthz?verbose=true should report component timings"
**What would you like to be added**:
Getting `/healthz?verbose=true` from apiserver presently returns output like:
[code]

It would be nice if each of these lines included a statement of how long that check took to run.

**Why is this needed**:
We were debugging a cluster with inexplicably slow /healthz responses today and knowing why/what was slow would have been helpful.

[2019-09-17 21:33] jktomer commented on #82808
/sig api-machinery

[2019-09-17 21:46] daschott commented on #81938
Can you share the [collectlogs](https://github.com/microsoft/SDN/blob/master/Kubernetes/windows/debug/collectlogs.ps1) output?

[2019-09-17 21:58] tedyu commented on #82796
How about the following change ?
[code]

[2019-09-17 22:23] sarjeet2013 commented on #55713
I am currently seeing the same behavior in 1.15. From what I read, this is still the intended behavior for statefulset pods. But, I am seeing the daemonset pod is still continue to show up as `Running`, though the statefulset pods are stuck in `Terminating` status. Is this intended behavior as well?

What's the temporary workaround or solution for now, until the kubernetes fix it natively. Does fo

[2019-09-17 22:28] daschott commented on #80288
@mrwonkerz  Can you share [collectlogs.ps1](https://github.com/microsoft/SDN/blob/master/Kubernetes/windows/debug/collectlogs.ps1) output and tell us the ID of the faulty pod?

[2019-09-17 22:29] eshamay commented on #13136
+1 need this support - access a kerberized NFS volume from a pod

[2019-09-17 22:57] jpbetz commented on #59848
@smarterclayton

Apologies. This got stalled out. We had split this into two sub-problems:
- Clarifying how resourceVersion semantics currently behave and proposing some adjustments to make them consistent (both across operations, and when the watch cache is enabled/disabled) ([ref](https://docs.google.com/document/d/1x3JXKwPTpum8S6bC-YXvoGS583iixuQSskEGukTAzcI/edit#bookmark=id.61bwd0wkn9c6)). Onc

[2019-09-17 23:02] thockin commented on #82531
The things that call go list have to be totally rewritten.

https://github.com/golang/go/issues/31087

[2019-09-17 23:05] thockin commented on #82531
compiling with 1.13 gives me:

[code]

At the bottom it calls `go install k8s.io/kubernetes/./vendor/k8s.io/code-generator/cmd/deepcopy-gen`.  I forget exactly why that prefix was needed but it was.  If I remove it, it passes.

[2019-09-17 23:06] alejandrox1 commented on #82435
What would be a good first step to move this issue forward?

[2019-09-17 23:08] thockin commented on #82531
...but the build fails later:

[code]

[2019-09-17 23:14] fejta commented on #82531
We use modules, golang1.13 (and bazel) in test-infra. The way we found to get the generators to work is to temporarily disable modules:

https://github.com/kubernetes/test-infra/blob/master/hack/update-codegen.sh#L119

Here's how kind does the same thing without bazel's help:

https://github.com/kubernetes-sigs/kind/blob/master/hack/update/generated.sh

Does `GO111MODULE=off` change anything?

Are

[2019-09-17 23:16] thockin commented on #82531
if we depend on people calling `go generate` they WILL run tests without having regenerated code.  This is why we did on-the-fly in the first place

[2019-09-17 23:16] fejta commented on #82531
We can have presubmits catch this though, right?

[2019-09-17 23:17] thockin commented on #82531
What a miserable experience, but I guess, maybe?

[2019-09-17 23:20] fejta commented on #82531
This is how test-infra handles things. We don't generate for people, but presubmits will fail if they forget.

It seems like go is pretty committed to making people use this pattern? It seems hard to reconcile doing anything else with the expectation that you can `go get` code.

For example historically we generated protos on the fly with bazel, but it caused enough annoyance that we abandoned it

[2019-09-17 23:38] smarterclayton commented on #59848
Right now anyone running Kubernetes and depending on the uniqueness of pods
has infinite liability.  I'm. fine with important-soon, but either way this
is still the top of issues we as a project have to care about.

On Tue, Sep 17, 2019 at 6:58 PM Joe Betz <notifications@github.com> wrote:

[2019-09-17 23:48] liggitt commented on #82531
That's where I ended up in https://github.com/liggitt/kubernetes/commits/go-1.13 as well

[2019-09-17 23:50] daschott commented on #80288
Also, which Windows version are you running? Do you have https://support.microsoft.com/en-us/help/4512534  installed?

[2019-09-17 23:55] #82506 closed

[2019-09-17 23:59] bowei commented on #78206
We cannot rely on that behavior because musl libc does not do it the same way and there are many containers compiled with it:
https://wiki.musl-libc.org/functional-differences-from-glibc.html#Name-Resolver/DNS

[2019-09-18 00:51] nvanheuverzwijn commented on #43916
Is there a workaround for this ? Is it possible to change how kubelet reports it's memory pressure as to exclude buffer/cache from it's calculation ?

This makes memory based autoscaling very hard with horizontal pod autoscaler. I know that we can change the resource metric for HPA but I'd rather see Kubernetes fixed.

[2019-09-18 01:15] liggitt commented on #62872
/lifecycle frozen

[2019-09-18 01:19] xiaoanyunfei commented on #82754
The main reason may be kubelet cann't get the pod sandbox IP when pulling image failed
I think it has been fix in this commit
https://github.com/kubernetes/kubernetes/pull/73977/commits/dba434c4ba0bf39275f25b3833fcc5f6eefa9379

[2019-09-18 01:20] liggitt commented on #82531
The immediately motivation to get into go1.13 is for support reasons. Supported go versions last ~1 year, we're six months into go1.12, and we're about to ship k8s 1.16 and support it for ~9 months. My ideal scenario is to get a small set of changes in build/generation scripts we can pick to release-1.16 to get it into a go version supported for its lifetime.

Long term, I'm hopeful the move to go

[2019-09-18 01:55] liggitt commented on #82531
looks like simply setting GO111MODULE=off in init.sh works around the build issues... that could be a reasonable first step to validate go1.13, and consider picking back to 1.16 (not urgently, just sometime in the next few months)

[2019-09-18 02:14] zouyee commented on #70732
/reopen

[2019-09-18 02:16] #72758 closed

[2019-09-18 02:41] RainbowMango commented on #82509
Copy @logicalhan 's [comments](https://github.com/kubernetes/kubernetes/pull/82583#issuecomment-530603913) to here:

We also need to wrap the prometheus.Collector and prometheus.Desc objects. It is slightly more involved because we also want to be able to add stability level annotations to prometheus.Desc but the current mechanism through which this works does not make it a simple change.

A simpl

[2019-09-18 02:55] zouyee commented on #82771
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1174077362866753536
 It seems work well.

[2019-09-18 03:05] RainbowMango commented on #82509
Do you mean intercept prometheus.Desc during metrics.NewDesc() ?
Indeed, we can add stability level annotations, but we should consider how `Create()` it during registry.

[2019-09-18 03:09] dwin commented on #80897
Having the same issue, but with multiple services using the `LoadBalancer` type with Classic and `NLB` on AWS EKS.

[2019-09-18 03:28] yue9944882 commented on #82768
/cc

[2019-09-18 04:19] shukla2112 commented on #72775
I was facing the same issue. I have implemented a workaround for the issue. The small script which works like a charm. The steps are -

1. Set the HPA max to current replicas
2. Set the image
3. Wait for deployment to be completed or specified time
4. Set the max HPA to the original number

https://gist.github.com/shukla2112/035d4e633dded6441f5a9ba0743b4f08

it's bash script, if you are using the

[2019-09-18 05:20] nikhilk commented on #80948
@DirectXMan12 I personally think extensibility of the platform should be part of the platform.
Furthermore, in this case it is especially helpful, as one developing a controller doesn't have to impose their metacontroller dependency on users of the controller.

At the very least it ought to be a standard addon that controller authors can assume is installed.

[2019-09-18 05:29] paivagustavo commented on #82808
I like this idea, I would like to take this one. I was thinking that we could simply add the time in the end of each line, for example:

[code]

The implementation seems pretty straight-forward, just time each check in the handler `handleRootHealthz` at the file `staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go`.

If we don't want to add this directly maybe could add another request para

[2019-09-18 05:34] tbarrella commented on #69507
To me it seems like pod-level ephemeral storage metrics would be useful to help avoid underutilization or eviction.

It's natural to set ephemeral-storage requests and limits to reduce the chance of pod eviction and enforce pod-level quotas. Without metrics for total ephemeral storage usage per pod, it takes more work to track whether requests and limits are set appropriately.

Are there already o

[2019-09-18 06:01] zouyee opened #82811 "[Failing Test] [sig-storage]EmptyDir volumes pod should support shared volumes between containers"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-orphans

**Which test(s) are failing**:
[sig-storage] EmptyDir volumes [It] pod should support shared volumes between containers [Conformance]

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-orphans

**Reason for failure**:
[code]
**Anything else we need to know**:

[2019-09-18 06:06] dghubble commented on #75457
[#80238](https://github.com/kubernetes/kubernetes/pull/80238/files) clears up some of the background.

1) `node-role.kubernetes.io/master` had some (quite old) side effects altering a few controller behaviors (such as auto-tainting the master). Unless one had a reliance on one of those behaviors, this looks ok. Clayton added two new labels and also a `LegacyNodeRoleBehavior` gate in there if that'

[2019-09-18 06:07] zouyee commented on #82811
@kubernetes/sig-testing

[2019-09-18 06:09] zouyee commented on #82811
@kubernetes/sig-storage-test-failures

[2019-09-18 06:39] giladsh1 commented on #8305
I would suggest
`docker container prune`

[2019-09-18 07:04] adelina-t commented on #82711
That's what confuses me as well. Looking trough the code in dockershim, the hostname is set explicitly only on the sandbox container. I've checked, and the work container gets it's proper hostname only after it is started. I've put a long sleep in between create and start operations and indeed it is the case. So I assume there is an extra step happening at start where the hostname is updated, but

[2019-09-18 07:49] axelborja commented on #28272
The following may help to implement this feature request easily: https://github.com/containerd/containerd/pull/3655 ;)

[2019-09-18 07:51] saschagrunert commented on #81930
Hey @logicalhan, I added the note to the draft, thanks.

@justincormack, @danwinship, @praseodym are you fine with that entry for the iptables topic or should we not it at all?
[code]

[2019-09-18 08:00] mrwonkerz commented on #80288
@daschott I'm on OS Build 17763.529. I didn't install this update yet. Will try this out.

Also I will deliver you the collectlogs.ps1 output as soon as possible

[2019-09-18 08:15] mvukadinoff commented on #58908
I can confirm, we're hitting the same thing with:
Kubernetes: 1.15.1
Calico: v3.7.3
In ipvs mode.

NodePort service definition
[code]

Listen port
[code]
Works from node itself:
[code]
But now working from anywhere else.  There are no rules for that port in  iptables filter or nat.
For example hostPort works

/reopen

[2019-09-18 08:27] tewner commented on #61572
Hi!
I'm using the instructions at https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/ to issue certificates inside the cluster. In order to _trust_ these certs inside my app, I'll need to create a Java Keystore with the cluster CA in order to allow other containers to trust the certs. I can probably use the /var/run/secrets/kubernetes.io/serviceaccount/ca.crt from inside a container (a

[2019-09-18 08:48] zouyee opened #82816 "[Failing Test] Security Context should run with an image specified user ID"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-orphans

**Which test(s) are failing**:
[k8s.io] Security Context should run with an image specified user ID [It]
[k8s.io] Security Context When creating a container with runAsNonRoot should not run with an explicit root user ID [LinuxOnly] [It]

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#n

[2019-09-18 08:54] zouyee commented on #82816
/area test
/sig node

[2019-09-18 08:55] heartlock commented on #82754
I think `klet.podCahe` out of date is the main reason.  PLEG get current status of pods by [relist()](https://github.com/kubernetes/kubernetes/blob/7da563f0f80d45b21e9008691c142c7f75350cc7/pkg/kubelet/pleg/generic.go#L188) every one second. If pod's status be listed after sandbox container started but [network not ready](https://github.com/kubernetes/kubernetes/blob/dba434c4ba0bf39275f25b3833fcc5f

[2019-09-18 09:16] mm4tt opened #82818 "[Failing Test] [sig scalability] gce-master-scale-performance - load test fails and started taking ~3h longer"
**This is not a regression - it's a test issue introduced by our extensions**

**Which jobs are failing**: gce-master-scale-performance

**Which test(s) are failing**: load test

**Since when has it been failing**: Sep 17th 2019

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
The failure was caused by newly enabled Daem

[2019-09-18 09:16] mm4tt commented on #82818
/sig scalability
/assign

[2019-09-18 09:16] heartlock opened #82819 "Migrate kube-proxy to use v1beta1 Events"
Now that new Events API is ready, we can migrate the kube-proxy to emit events against the new API.

This is part of #76674

[2019-09-18 09:16] heartlock commented on #82819
/sig node

[2019-09-18 09:17] heartlock commented on #82819
/assign

[2019-09-18 09:23] andyzheung commented on #77251
Ill be happy to create a patch if we agree that we should add support for it.

===>We also need use multiple hugepagesize, and could you show your patch so that we can refer to?
@odinuge

[2019-09-18 09:27] andyzheung commented on #82469
I am so happy that you reply, and is the multiple hugepage patch can show me to refer?

[2019-09-18 09:28] iahmad-khan commented on #13136
+1 need this support - access a kerberized NFS volume from a pod

[2019-09-18 09:28] iahmad-khan commented on #13136
+1 need this support - access a kerberized NFS volume from k8s

[2019-09-18 09:35] mm4tt commented on #82818
The test failed with:
[code]

After checking scheduler logs looks like one pod for the new daemonset took really long to be scheduled:
[code]

The pod was supposed to be run on the heapster node, but it couldn't be scheduled there because there was already 110 pods running there.
It looks like heapster node gets saturated by the test pods, they have very low requirements (10MB, 10milliCpu per pod)

[2019-09-18 09:45] neolit123 commented on #75457
deployers like kubeadm, kops and kubespray will continue relying on the `"node-role.kubernetes.io/master"` labels.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go#L206

[2019-09-18 09:52] wenlxie commented on #13136
gssproxy need to get user key tab, so need to make sure that user_namespace enabled for this feature?  Because different userid's keytab may be different for different KDC/AD?

[2019-09-18 09:59] odinuge commented on #77251
If you refer to support on node level, here is an example patch: https://github.com/kubernetes/kubernetes/pull/82820

Doing pod level will be a bit tricker, as we would have to rethink the pod spec defining the `hugetlbfs` mount. All the infrastructure behind that is already implemented with full support, so it should be more or less ok as long as we agree about the mounting format. https://github

[2019-09-18 10:00] odinuge commented on #82469
I replied in #77251. Closing this, so we can continue the discussion in #77251. :smile:

/close

[2019-09-18 10:00] #82469 closed

[2019-09-18 10:04] thinker666 commented on #66844
I meet the same problem when upgrade from 1.10.1 to 1.15.

[2019-09-18 10:18] torubylist commented on #82770
maybe you need test your disk io performance.

[2019-09-18 10:29] SataQiu commented on #82635
/cc

[2019-09-18 10:37] cheng1li commented on #77251
@odinuge Thanks for your patch. Seem the patch is to remove the multi-size check. But considering the [discuss](https://github.com/kubernetes/community/pull/837/files#r133337110) in the proposal, not sure if this brings new issue?

[2019-09-18 10:49] rojkov commented on #71233
@zouyee ping

[2019-09-18 10:51] rojkov commented on #71233
@zouyee oops, sorry. I was intended to ping not you, but my PR's reviewer. Please disregard.

[2019-09-18 11:07] RainbowMango commented on #82509
@logicalhan

For this todo
[code]
I'd like to provide a method to `type StabilityLevel string`, that will be used in custom collector too.
e.g.
[code]
How do you feel?  If ok, can you propose a method name? I think it's not good.

By the way please help review the PR #82823.

[2019-09-18 11:16] jyothish-git opened #82824 "Set kubernetes controller-manager "terminated-pod-gc-threshold" flag to a small value"
I like to change the control manager  --terminated-pod-gc-threshold value from the default 12500 pods to a small value in my kubernetes cluster. Like 100 or 50. Setting this flag to a small one will cause any issues ? Why kubernetes itself set it to a very high value by default. Is that purposefully set ?

[2019-09-18 11:29] jyothish-git commented on #82824
@kubernetes/sig-node-bugs

[2019-09-18 11:47] bg-chun commented on #77251
Hi guys. @odinuge @cheng1li
Support muti size hugepages, it is an interesting topic.
Now, I'm writing a new commit to propose to extend the CRI message [`LinuxContainerResources`](https://github.com/kubernetes/cri-api/blob/24ae4d4e8b036b885ee1f4930ec2b173eabb28e7/pkg/apis/runtime/v1alpha2/api.proto#L531) to specify hugepages.

The [runime-spec](https://github.com/opencontainers/runtime-spec/blob/m

[2019-09-18 11:51] mvukadinoff opened #82825 "NodePort only responding when connecting locally from node but not from other machines."
**What happened**:
NodePort only responding when connecting locally from node but not from other machines on the network.

**What you expected to happen**:
NodePort should be accessible from other machines as well

**How to reproduce it (as minimally and precisely as possible)**:
NodePort service definition
[code]

try to connect from another machine on the nework

**Anything else we need to know?

[2019-09-18 12:17] andyzheung commented on #77251
I have read the patch，but it seems that pod is restricted by only one hugepage type in  empty_dir.go.

// getPageSizeMountOptionFromPod retrieves pageSize mount option from Pod's resources
// and validates pageSize options in all containers of given Pod.
func getPageSizeMountOptionFromPod(pod *v1.Pod) (string, error) {
	pageSizeFound := false
	pageSize := resource.Quantity{}
	// In some rare cases

[2019-09-18 12:18] ahg-g commented on #80670
Thoughts and discussion in the following doc: https://docs.google.com/document/d/1P1eBaePxuko22B8LLOrPEonoj1awc1dCVBDefuRWUA4/edit

[2019-09-18 12:18] andyzheung commented on #77251
I have read the patch，but it seems that pod is restricted by only one hugepage type in empty_dir.go.

`
// getPageSizeMountOptionFromPod retrieves pageSize mount option from Pod's resources
// and validates pageSize options in all containers of given Pod.
func getPageSizeMountOptionFromPod(pod *v1.Pod) (string, error) {
pageSizeFound := false
pageSize := resource.Quantity{}
// In some rare cases i

[2019-09-18 12:23] jfbai commented on #76674
/assign

I'd like to take controller-manager part.

[2019-09-18 12:26] jsafrane opened #82826 "API server latency is affected by cloud provider latency"
API server latency for PV creation depends on underlying cloud API latency. We have admission plugin that examines incoming PV and adds topology labels and node selector:

https://github.com/kubernetes/kubernetes/blob/61774cd7176cae0c0324d23ab20e6c6b3038153f/plugin/pkg/admission/storage/persistentvolume/label/admission.go

When the cluster (and cloud) are under pressure, e.g. lot of PVCs are creat

[2019-09-18 12:27] jfbai opened #82827 "Migrate kube-controller-manager to use v1beta1 Events"
Now that new Events API is ready, we can migrate the kube-controller-manager to emit events against the new API.

This is part of #76674

[2019-09-18 12:27] jfbai commented on #82827
/assign

[2019-09-18 12:28] jfbai commented on #82827
/kind feature

[2019-09-18 12:28] jfbai commented on #82827
/remove bug

[2019-09-18 12:36] andye2004 opened #82828 "conntrack-tools issue on 1.15.3 (install related)"
**What happened**: Failed to install kubectl and kubeadm via YUM repos. Basically there appears to be a dependency on conntrack-tools-1.4.4-4.el7.x86_64 and libnetfilter_ctfilter-1.0.0-9.el7.x86_64 which seems to be no longer available on the centos repos, nor on the mirrors.

**What you expected to happen**: Installation to complete successfully

**How to reproduce it (as minimally and precisely

[2019-09-18 12:43] andye2004 commented on #82828
/sig release

[2019-09-18 12:45] jfbai commented on #82827
cc @wojtek-t @shoucongc @yastij

[2019-09-18 13:04] adelina-t commented on #82679
Yeah, seems like RunAsUsername is completely ignored on Windows Containers with Process Isolation. Explicit check for LCOW is here: https://github.com/jterry75/cri/blob/windows_port/pkg/server/container_create_windows.go#L412-L440

[2019-09-18 13:06] AtrisMio commented on #78068
/remove-lifecycle rotten

[2019-09-18 13:08] jsafrane commented on #82826
Implementation of the above: https://github.com/kubernetes/kubernetes/pull/82830

[2019-09-18 13:32] xiaoanyunfei commented on #82754
A pod is handled in the same [podWorkers.managePodLoop](https://github.com/kubernetes/kubernetes/blob/dba434c4ba0bf39275f25b3833fcc5f6eefa9379/pkg/kubelet/pod_workers.go#L221)
and update the [lastSyncTime](https://github.com/kubernetes/kubernetes/blob/dba434c4ba0bf39275f25b3833fcc5f6eefa9379/pkg/kubelet/pod_workers.go#L181) after one `podUpdates` (creating sandbox)

`klet.podCahe`  is latest for t

[2019-09-18 13:43] frittenlab commented on #76531
Thank you so much @youurayy this was really causing a headache Cheers

[2019-09-18 13:47] #78214 closed

[2019-09-18 13:48] liggitt commented on #82808
it's unclear if the output of that endpoint is supposed to be considered machine-parseable. if so, we might need a separate parameter to include timing info

[2019-09-18 13:48] vbasavani commented on #49906
Again I am facing the same issue in Kubernetes version 1.13

[2019-09-18 14:11] heartlock commented on #82754
@xiaoanyunfei  `klet.podCache` is not necessarily latest
https://github.com/kubernetes/kubernetes/blob/dba434c4ba0bf39275f25b3833fcc5f6eefa9379/pkg/kubelet/container/cache.go#L151

[2019-09-18 14:15] dims commented on #82532
@mariantalla for `CAPA (cluster-api AWS)` you wil need a AWS IaaS account i believe. @justinsb @detiber may be able to help get access ..

[2019-09-18 14:43] adelina-t commented on #82679
I have this small commit that should fix the problem: https://github.com/adelina-t/cri/commit/7fd5fdc95071d890b0be8660b44e9a8c101e57d5

[2019-09-18 15:04] jfbai commented on #82827
@liggitt I'm working on migrating controllers to use v1beta1 Events, and most have already done most of the controllers, is it ok to submit one PR for all controller codes? or separate PRs for different controllers?

[2019-09-18 15:07] ahg-g commented on #82390
/cc @alculquicondor

[2019-09-18 15:07] liggitt commented on #82827
if the changes are mechanical and easy to review, a single PR is fine

[2019-09-18 15:13] saschagrunert commented on #81930
The final release notes draft is published. Closing this for now. Feel free to reach us out on slack (#release-notes) if anything goes wrong.

/close

[2019-09-18 15:13] #81930 closed

[2019-09-18 15:17] jfbai opened #82835 "Migrate kube-scheduler to use v1beta1 Events"
Now that new Events API is ready, we can migrate the kube-scheduler to emit events against the new API.

This is part of #76674

/assign

[2019-09-18 15:18] jfbai commented on #82835
cc @wojtek-t @shoucongc @yastij

[2019-09-18 15:22] juliantaylor commented on #82163
It does not look like the same issue, this one is only about which address kube-proxy binds the healtcheck port to.
Everything seems to be working fine, just that it binds to a wildcard interface when configured not to is the problem.

[2019-09-18 16:16] cwdsuzhou opened #82837 "Some volume provisioners do not support pvc selector"
Some volume provisioners do not support pvc selector, which may cause some pv created dynamically do not have the same labels matching the selector. eg. azure_dd.

Are there any reasons?

[2019-09-18 16:25] ankidwiv commented on #60134
it worked for me

[2019-09-18 16:32] msau42 opened #82838 "NodeStageVolume is called before each call to NodePublishVolume"
**What happened**:
Moving https://github.com/kubernetes-csi/external-provisioner/issues/90 to k/k repo

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `

[2019-09-18 16:33] msau42 commented on #82838
This needs help with repro, and investigation

[2019-09-18 16:36] odinuge commented on #77251
It should work as is, since all the infrastructure behind the scenes supports multiple page sizes on node level. We should add a proper e2e test tho, but it looks like cos on gce only support `2MiB` huge pages.

That looks like the correct approach! Thanks for the work you are doing on the topic!

Not that into protobufs, but is there a reason to not use this instead (or are they equal in practice

[2019-09-18 16:45] paivagustavo commented on #82808
Yes, that is what I was afraid. We could add a `includeTime` parameter?

[2019-09-18 16:51] yastij commented on #82835
the scheduler itself already emits such Events. the only missing part is the leader election package

[2019-09-18 17:47] liggitt commented on #81906
authentication issues would not cause a 504 error
/remove-sig auth

[2019-09-18 17:53] mikedanese commented on #82573
This might be a docs issue, or the webhook could work around this by adding supplemental groups. I'm not sure if that's particularly desirable.

cc @micahhausler

[2019-09-18 18:02] gnufied commented on #70505
Is it correct to store `readonly` flag into `CSIPersistentVolumeSource` which maps to `ControllerPublish` call and hence is temporary? Similar problem exists with adding this field to storageClass or PVC.

It sounds like we need a field in pod spec to request readonly attachment of volumes to properly support this. cc @bswartz

[2019-09-18 18:11] #82811 closed

[2019-09-18 18:12] awesomenix commented on #82043
There are multiple settings affected this

1. Deployment had an emptycredentials for imagepullsecrets, disabling it fixed the problem
2. Above may break in older kubernetes clusters for ACR + SP/ ACR + MSI, which is fixed with containerd >1.2.9

The issue was related to ACR + containerd, removing empty credentials from imagepull secrets solved the problem here. For older kubernetes cluster might w

[2019-09-18 18:12] #82043 closed

[2019-09-18 18:16] micahhausler commented on #82573
Yea, adding supplemental groups from the webhook is probably not the route we want to go, since it's hard to determine which GID is correct. We'll update our docs on that workaround, but having the mode be set by `defaultMode` is the desired behavior

[2019-09-18 18:16] msau42 commented on #70505
I believe the proposal was to add a readonly field to VolumeAttachment object?

[2019-09-18 18:16] msau42 commented on #70505
Or infer from access mode

[2019-09-18 19:24] RickyRajinder commented on #82724
I can work on this if this is something worth pursuing.

[2019-09-18 19:32] mikedanese commented on #82573
`deafultMode` defaults to world readable. The current behavior was intentional. I would really like if the world bit was never set on these tokens. This is something that I was hoping to fix with the second iteration of tokens. Coincidentally, the security audit pointed this issue out: https://github.com/kubernetes/kubernetes/issues/81116

[2019-09-18 19:33] pruneau628 commented on #45300
/reopen

[2019-09-18 19:36] wwftw commented on #48528
bump

[2019-09-18 19:45] liggitt commented on #82573
Would you agree that requiring changes to pod specs in order to replace the secret-based token with the projected one by default doesn't seem tenable? If we can't require pod spec changes, and the pod spec doesn't contain enough info to confidently use gid / fsGroup / supplementalGroups, I don't see great options other than preserving the secret-based behavior.

What are the actual risks of inject

[2019-09-18 19:56] mikedanese commented on #82573
I'd like to pursue the avenue of setting better file ownership of TokenVolumeProjections which would be preferable as it offers better security to users that are running as non-root transparently.

[2019-09-18 20:25] stevebail opened #82843 "kubectl top command"
I am running k8s 1.15 and I see kubectl top --help is returning the following info:
...This command requires Heapster to be correctly configured and working on the server.

As far as I know Heaspter is deprecated since 1.11.

1) Should the command help be updated i.e. replace Heapster with Metrics Server?

2) Will the command work if Metrics Server is deployed in the cluster?

3) Is kubectl top ut

[2019-09-18 20:31] bswartz commented on #70505
Pod specs do have a field for read only volume attachements...
https://github.com/kubernetes/api/blob/release-1.16/core/v1/types.go#L170

It's on the persistent claim volume source object in the volumes array.

[2019-09-18 20:32] stevebail commented on #82843
/sig cli

[2019-09-18 20:53] roycaihw commented on #69014
/remove-lifecycle stale

[2019-09-18 20:53] amadav commented on #44273
Any option/work-around for guys on AWS? Is it something related to the pod specification or kubelet configuration, that can we changed?

[2019-09-18 20:54] prasadjjoshi commented on #27404
I created this script which parses 'kubectl describe nodes' & output the CPU/memory stats in a json since I needed it badly. This script can also be used with other automation code.
https://github.com/prasadjjoshi/k8-utils
Feel free to use it.

[2019-09-18 20:55] msau42 commented on #70505
The pod readonly is #2 from the initial comment. It's currently used to determine if a volume is *mounted* readonly, but not attached.  While I really would like to simplify the readonly handling here and reduce as many different ways to specify readonly, if we also used the pod readonly for attach readonly, then that might break cases where you have multiple pods attached to the same node, and on

[2019-09-18 20:59] prasadjjoshi commented on #73856
I created this script which parses 'kubectl describe nodes' & output the CPU/memory stats in a json since I needed it badly. This script can also be used with other automation code.
https://github.com/prasadjjoshi/k8-utils
Feel free to use it.

[2019-09-18 21:57] yastij opened #82846 "migrate the leader election to use v1beta1 Events"
the leader election code should be emitting events against the v1beta1 Events API. This change also concerns any kubernetes component (such as kube-scheduler or the controller-manager) that uses the `leaderelection` package.

Part of #76674

/kind feature
/sig scalability
/sig instrumentation
/priority important-soon

[2019-09-18 21:57] roycaihw commented on #73674
/unassign

[2019-09-18 21:57] yastij commented on #76674
xref #76674

to track leaderelection migration

[2019-09-18 22:58] bswartz commented on #70505
@msau42 Oh sorry I didn't read all the way through the history. It's true that we never know if a future pod will request a writable attachment to the same volume on the same node, so the **only** case where it's safe to attach the volume to the node readonly is if the volume is marked permanently readonly (case #3 above). This doesn't seem problematic to me, as long as we're able to trust nodes t

[2019-09-18 23:31] samschlegel commented on #28369
We're running into this with Airflow as it blocks on printing out log lines as part of running a pod, leading to log rotates causing tasks to hang forever https://github.com/apache/airflow/blob/master/airflow/kubernetes/pod_launcher.py#L126

[2019-09-18 23:33] gnufied commented on #70505
If we really need permanently readonly volumes (which is a valid usecase), it should have been part of `Volume` type in CSI specs as how it is part of `CSIPersistentVolumeSource` type.

[2019-09-18 23:40] danielqsj commented on #82846
/assign

[2019-09-18 23:54] bswartz commented on #70505
Nothing in the CSI spec prevents us from implementing permanently readonly volumes on the k8s side. The main consideration is that it only makes sense for volumes that are populated with data at creation time. Since such volumes are a relatively new concept in k8s, it's not surprising that we don't have a good system for handling them yet.

If I'm missing something and we need better support from

[2019-09-19 01:30] AdamPioneer opened #82849 "kubectl cp command hangs, it cannot end"
I use kubernetes +containrd+kata building my running environment.
I create a pod.
when I run kubect cp command , copy local file to specified directory in the remote pod.
command as below:

kubectl cp local_file pod_name:/root/

then, "kubectl cp" cannot end.

version :
kata 1.7.0
containerd v1.2.6
kubectl 1.14.5

[2019-09-19 01:51] liucimin commented on #82825
HOW about use tcpdump to cap packets?
Watch is the packet get in the node?

[2019-09-19 01:59] xiaoanyunfei commented on #82754
`globalTimestampIsNewer` is always before `d. modified` if the pod need update.
So kubelet can get the latest status from `klet.podCache` .

`timestamp` is the start time of `pleg relist`

[2019-09-19 02:00] YouDail opened #82851 "can't open "nodePort for istio-system/istio-ingressgateway:tcp" (:31400/tcp), skipping this nodePort: listen tcp :31400: bind: address already in use"
I installed isti v1.3 in the kubernetes v1.1.4.3 cluster and created the service named NodePort in the name: istio-ingressgateway.

Service/istio-ingressgateway NodePort 10.101.149.203 <none> 15020:30039/TCP,80:31380/TCP,443:31390/TCP,31400:31400/TCP,15029:30557/TCP,15030:31540/TCP,15031: 30098/TCP, 15032:30811/TCP, 15443:32141/TCP 44s

At this time, on the master1 node, the traffic of its pod is

[2019-09-19 02:18] draveness commented on #79215
/remove-lifecycle stal

[2019-09-19 02:18] draveness commented on #79215
/remove-lifecycle stale

[2019-09-19 02:18] hongxu-jia opened #82852 "compile failure: `execvp: /bin/bash: Argument list too long'"
**What happened**:
Use GNU Make 4.2.1(such as fedora-29) to build k8s in a long directory,
it failed with `execvp: /bin/bash: Argument list too long'
[snip]
$ cd /buildarea1/hjia/wrlinux-1019/I_/suspect_/that_/if_/you_/create_/your_/project_/in_/a_/very_/deep_/directory/build_master-wr_qemux86-64_faw_2019090509/build/tmp-glibc/work/core2-64-wrs-linux/kubernetes/v1.16.0-alpha+git7054e3ead7e1a00ca6a

[2019-09-19 03:11] snowplayfire commented on #82773
@kow3ns I think the issue is relevant to controller-manager. When an illegal node is added into a cluster, nodeipam controller only prints one line error message one time, and does nothing until controller-manager restarts.  If controller-manager restarts,  something catastrophic happen.

I think controller-manager should achieve:
1. remind an illegal node is in the cluster again and again rather

[2019-09-19 03:32] awesomenix opened #82854 "[v1.16.1] Panic in controller manager"
**What happened**:

Recent installation of 1.16 kubernetes using kubeadm, controller manager panics frequently

[code]

**What you expected to happen**:

Expect controller manager to run with no panics

**How to reproduce it (as minimally and precisely as possible)**:

install 1.16 cluster using kubeadm

**Anything else we need to know?**:

None

**Environment**:
- Kubernetes version (use `kubectl

[2019-09-19 03:35] awesomenix commented on #82854
/sig cluster-lifecycle

[2019-09-19 03:44] jfbai commented on #82835
Thanks a lot, Closed this issue.

[2019-09-19 03:44] #82835 closed

[2019-09-19 04:00] danielqsj commented on #82854
/assign

[2019-09-19 04:04] awesomenix commented on #82854
May have been transient, i cleaned up all the bootstrap tokens in the cluster and self recovered. Not sure which token was causing this issue, will reopen once i have a solid reproducible scenario, sorry for false alarm

[2019-09-19 04:26] ibuildthecloud opened #82859 "apimachinery change breaks clients generated against v1.14"
**What happened**:

apimachinery from v1.16.0 drops serializer.DirectCodecFactory https://github.com/kubernetes/kubernetes/pull/79263

This field was renamed in 1.15 and then dropped in 1.16.  Generated clientsets directly reference this field so any clients generated against k8s 1.14 are incompatible with apimachinery from 1.16.  This seems like a pretty aggressive window to drop an API that has

[2019-09-19 04:27] ibuildthecloud commented on #82859
@kubernetes/sig-api-machinery

[2019-09-19 04:41] zx1986 commented on #45419
same issue with `v1.13.10`

[2019-09-19 04:54] subrnath commented on #82727
We identified the issue as when backend Pods are being switched, there is small window of  time where the iptables rules doesn’t have any entry. In that time, if the client retriggers the TCP SYN packets to the Cluster IP, it will not find any entry in iptables rule. So it will lookup routing table rule and take the default route. Due to that reason, conntrack shows the wrong entry which is not cl

[2019-09-19 04:54] #82727 closed

[2019-09-19 04:59] ibuildthecloud opened #82860 "[v1.16.1] informer-gen is broken for packages in a folder with a dot in them?"
**What happened**:

I have the folder `pkg/apis/k3s.cattle.io/v1` where the folder k3s.cattle.io is the package k3s. Running informer-gen with v1.15 would produce `pkg/generated/informers/externalversions/k3s.cattle.io/v1/` and the folder k3s.cattle.io would be the package k3s.  In 1.16 the folder k3s.cattle.io generates code as the package `k3s.cattle.io` which is invalid and fails.

This change

[2019-09-19 05:01] ibuildthecloud commented on #82860
/sig api-machinery
/area code-generation

[2019-09-19 05:04] yue9944882 commented on #82860
/cc @sttts

[2019-09-19 05:32] yue9944882 commented on #82859
- if the client-generation works in your project (instead of vendored project), you can re-generate using 1.16 generator and it will be backward-compatible..
- if a vendored project w/ generated clients from 1.14 (which directly references `DirectCodecFactory`), that will indeed prevent us from upgrading `k8s.io/apimachinery` to 1.16.. probably consider to hold until the other project switches to

[2019-09-19 05:41] ibuildthecloud commented on #82859
I'm having issues with vendored projects.  My project depends on k8s 1.16 and a library generated against 1.14.  I can't downgrade to 1.15 because I specifically need 1.16 and I need the library I'm depending on. This is not an easily fixable problem, it would be far better to not break this API. The only solution I have at the moment is to revert the offending commit and run from a fork of apimac

[2019-09-19 05:45] #82852 closed

[2019-09-19 06:34] heartlock commented on #82754
Pod doesn't need to update because of status is already running but it's ip still be empty.
https://github.com/kubernetes/kubernetes/blob/dba434c4ba0bf39275f25b3833fcc5f6eefa9379/pkg/kubelet/pleg/generic.go#L222

[2019-09-19 06:38] evilrussian opened #82863 "Kubectl diff panic when one port has not containerPort port"
**What happened**:
kubectl diff crushing if i add new port in manifest of existing statefulset without containerPort and will make diff
[code]

**What you expected to happen**:
I expected error for incorrect manifest. Or default values of containerPort field

**How to reproduce it (as minimally and precisely as possible)**:
For example, i have this StatefulSet in my kubernetes cluster:
[code]
It's

[2019-09-19 06:42] BruceShenC opened #82864 "pkg/volume/rbd/rbd_util.go can't use rbd-nbd"
**What happened**:

In order to use rbd-nbd, installed rbd-nbd and disabled krbd.
But kubelet still saied:
"
rbd-nbd: getting rbd-nbd version failed with error
"

checked the code:
pkg/volume/rbd/rbd_util.go:
in line 246:
"
if _, err := e.Run("rbd-nbd", "--version"); err != nil {
		klog.V(5).Infof("rbd-nbd: getting rbd-nbd version failed with error %v", err)
		return false
	}
"

kubelet run "rbd-n

[2019-09-19 06:44] evilrussian commented on #82863
/sig cli

[2019-09-19 07:08] sftim opened #82866 "Typo in v1.16 release notes"
**What happened**: There's a typo typo in https://github.com/kubernetes/kubernetes and https://kubernetes.io/docs/setup/release/notes/

**What you expected to happen**: “depreciated” should be “deprecated”.

**How to reproduce it (as minimally and precisely as possible)**:
View the release notes

**Anything else we need to know?**:
/lifecycle active
I have a PR to fix this
/sig docs

**Environment

[2019-09-19 07:24] danielqsj commented on #82864
@BruceShenC this is interesting, I download rbd-nbd in ubuntu 18.04, it says it has the `--version` option:
[code]
But actually it failed:
[code]

[2019-09-19 07:24] danielqsj commented on #82864
/sig storage

[2019-09-19 07:31] pjbgf commented on #70180
Happened again this week with PR #82648.

Logs:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82648/pull-kubernetes-integration/1174048798431776769/

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/82648/pull-kubernetes-integration/1174048798431776769/build-log.txt

[2019-09-19 07:45] #76880 closed

[2019-09-19 07:48] shaikatz commented on #61486
Any workarounds for eks/eksctl users?

[2019-09-19 07:52] thewilli opened #82869 "Replace kubelet node IP validation error with warning or allow skipping"
**What would you like to be added**:

It is possible to provide a custom IP to be used as node IP to the  kubelet process using the kubelet's `--node-ip <some-ip>` parameter. The provided IP address is not only [validated](https://github.com/kubernetes/kubernetes/blob/92107f3/pkg/kubelet/kubelet_node_status.go#L565-L579), but it is also [ensured](https://github.com/kubernetes/kubernetes/blob/92107

[2019-09-19 07:57] thewilli commented on #82869
@kubernetes/sig-network-pr-reviews does this fall under your resonsibility?

[2019-09-19 08:07] njuicsgz commented on #81308
@lbernail

[2019-09-19 08:42] njuicsgz commented on #81775
I met this problem in my product env -- my envoy send http short-lived request to k8s service add with speed 2000qps.

Have tried net.ipv4.vs.conn_reuse_mode=1, could resolve the problem but get 1s delay for all requests since envoy have reuse ports. As metioned by @juliantaylor

#81962 hard remove rs only works after 5min(or 15min), but within this period requests also route to the rs whose ipvs

[2019-09-19 08:47] AL-Cui commented on #75443
hi,boy.
Have you solved it yet?

[2019-09-19 08:48] edmondo1984 commented on #76619
/remove-lifecycle rotten . One cannot rely on a kubernetes apply -f statefulset.yml exit code if this is not fixed and there are situations where it is highly desirable to be able to rollback if the pod never comes up

[2019-09-19 09:00] rishiraaz opened #82872 "Traffic routed to replica set with not ready pods"
**What happened**:
We upgraded a new deployment using helm in a kubernetes 1.13.10 cluster, the new pods failed liveness due to some issue, but traffic was being routed to these new pods instead of being sent to the old healthy pods.

**What you expected to happen**:
Until the new pods are healthy traffic should now be routed to them

**How to reproduce it (as minimally and precisely as possible)*

[2019-09-19 09:11] rishiraaz commented on #82872
/sig community/question

[2019-09-19 09:12] rishiraaz commented on #82872
/sig "community/question"

[2019-09-19 09:35] zhangguanzhang commented on #75443
no

[2019-09-19 09:59] AL-Cui commented on #75443
很急呀，不知道是改kube-proxy配置还是ipvs的

[2019-09-19 10:09] xiaoanyunfei commented on #82754
I think I have found the problem. Thank you for you information @heartlock
`pleg` can only detect the container state change excluding IP change

[2019-09-19 10:26] hoyho opened #82874 "Unknown field "preserveUnknownFields" when create CRD"
**What happened**:
I am following the document [https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/) to  create a CRD. Using the same demo yaml but get an error:
[code]
**What you expected to happen**:
succeed to create a CRD

**How to reproduce it

[2019-09-19 10:29] zhangguanzhang commented on #75443
如果你想vip访问就切成iptables吧

[2019-09-19 10:31] odinuge commented on #82771
These now have 8 successful runs without a single flake. Looks like #82772 worked! :smile:

cc @alejandrox1

[2019-09-19 10:39] AL-Cui commented on #75443
难道ipvs就没法解决吗？是否可以修改配置，把VIP地址也加进去

[2019-09-19 10:41] yue9944882 commented on #82874
crd pruning only works in versions greater than 1.15+, please refer to the 1.14 documentation page from official sites.

/remove-kind bug
/triage support

[2019-09-19 10:53] wojtek-t opened #82875 "kubernetes-e2e-gce-100-performance is flaky"
One example:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82832/pull-kubernetes-e2e-gce-100-performance/1174602482194583552/

[code]

[2019-09-19 11:02] alenkacz commented on #73723
@apelisse I've spent a lot of time reading the server-side apply design and even some parts of the implementation, when I came to this issue. I am just wondering, are there some parts of the tasks still unresolved here good for contributions? If so, would you have any recommendation?

[2019-09-19 11:07] BruceShenC commented on #82864
@danielqsj Yes.  "--version" is in rbd-nbd's help info  but it doesn't support.

[2019-09-19 11:11] liggitt commented on #82874
/kind documentation

[2019-09-19 11:16] dims commented on #82659
/assign @barney-s

[2019-09-19 11:16] dims commented on #82659
Looks like a KEP got started https://github.com/kubernetes/enhancements/pull/978

[2019-09-19 11:27] dims commented on #82859
cc @draveness @liggitt

[2019-09-19 11:29] dims commented on #82851
/close

please open a bug report in istio github repo

[2019-09-19 11:29] #82851 closed

[2019-09-19 11:39] adelina-t opened #82876 "Windows Test: SecurityContext RunAsUserName should not be able to create pods with unknown usernames fails with ContainerD"
**Which test(s) are failing**:

"SecurityContext RunAsUserName should not be able to create pods with unknown usernames"

**Reason for failure**:

The test checks that the container fails with reason: "ContainerCannotRun" which is specific to dockershim. With ContainerD, the reason for failing to start a container would be: "StartError".

Test should be able to take both messages into account.

[2019-09-19 11:39] adelina-t commented on #82876
/sig windows

[2019-09-19 11:55] adelina-t commented on #82679
Fixed with PR mentioned above. Only one more test remains failing, issue here: https://github.com/kubernetes/kubernetes/issues/82876

Reason for failure is simple, the test checks for a specific reason for container not starting, containerD & dockershim differ in this particular case in the messages they return. PR to address this is opened.

[2019-09-19 12:02] deads2k commented on #82859
This is a common transitive dependency problem in the golang language itself.  k8s.io/client-go release-X branches correctly reference their dependencies on k8s.io/apimachinery and k8s.io/api.  Drifting from the dependency set is not a thing that we support or intend to support.

I would be supportive of an effort decouple dependencies from k8s.io/api and attempt to build a more conveniently semve

[2019-09-19 12:06] adelina-t commented on #82711
Also causes these tests to fail:

[code]

[2019-09-19 12:09] #82859 closed

[2019-09-19 12:20] liggitt commented on #82876
duplicate of https://github.com/kubernetes/kubernetes/issues/82679

/close

[2019-09-19 12:21] liggitt commented on #82876
oh, I see you commented there as well. I'll let you / @PatrickLang decide if this should be deduped against that issue.

/reopen

[2019-09-19 12:22] liggitt commented on #82874
Available at https://v1-14.docs.kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

[2019-09-19 12:22] #82874 closed

[2019-09-19 12:27] liggitt commented on #82860
xref https://github.com/kubernetes/kubernetes/pull/82410 https://github.com/kubernetes/code-generator/issues/77

cc @munnerz @sttts @nikhita

[2019-09-19 13:05] Trisia commented on #17620
I did config the annotation, it works,wow nice

[2019-09-19 13:17] liggitt commented on #82872
Liveness probes are used to determine when a container needs to be restarted.

Readiness probes are used to determine when a container is ready to receive traffic. If you define a readiness probe, you will get the behavior you want. See https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ for details

/close

[2019-09-19 13:17] #82872 closed

[2019-09-19 13:27] victortrac commented on #61486
@shaikatz You can patch your kube-proxy daemonset to add two things:
1) Add a NODE_NAME env var:
[code]
2. Then use the NODE_NAME env var to pass in a --hostname-override to the list of flags to the kube-proxy command.  Mine looks something like this:
[code]

[2019-09-19 13:27] LZhipeng opened #82880 "cannot join network of a non running container --on ARM Ubuntu 16.04"
I deploy the nginx on k8s. One of the nodes is the ARM Ubuntu16.04.
The pod on the ARM can't enter the Running state.
I'll be appreciate if someone give me a solution.

[root@k8s-master2 ssl]# kubectl get pods
NAME                     READY   STATUS             RESTARTS   AGE
nginx-7bb7cd8db5-6s9m4   1/1     Running            0          26m
nginx-7bb7cd8db5-lz26n   0/1     CrashLoopBackOff   10

[2019-09-19 14:11] denysvitali commented on #24330
Documentation:

But I'm experiencing the same behaviour as if the reviosionHistoryLimit was set to 0. Is it really 10 by default?

[2019-09-19 14:11] ibuildthecloud commented on #82859
Holy crap this is closed? That sucks. This is a tiny, literally one line change I'm asking for that would really help the community of existing code out there.  I'm not asking that you adopt some strenuous compatibility guideline (which you should consider given the enterprise audience of k8s) I'm point out a one line change that break a crap ton of code. This just adds to my ever increasing frust

[2019-09-19 14:33] tam203 opened #82881 "kubernetes.io/azure-file provisioner to add metadata to the persistent file share in azure (not just in the cluster)."
@kubernetes/sig-Storage-feature-requests
/sig Storage

**What would you like to be added**:
I would like the `kubernetes.io/azure-file` provisioner to add metadata to the file share such as `KubernetesCluster`, `Name`, `kubernetes.io/created-for/pv/name`, `kubernetes.io/created-for/pvc/name`, etc. This would be in line with the behaviour of the `kubernetes.io/aws-ebs` provisioner that adds these m

[2019-09-19 14:37] deads2k commented on #82859
We don't maintain or promise compatibility across releases.  Due to the size of this change, I could see considering the alias for one more release, but once 1.14 is out of support (once 1.17 comes out I think) we would remove it.

This would not be a guarantee that the skew will work for you (I have no idea if it works) and we will still be willing to merge changes to k8s.io/apimachinery that ins

[2019-09-19 14:49] codesome commented on #59343
/remove-lifecycle rotten

[2019-09-19 14:58] kvaps opened #82883 "kubectl completion is too slow"
**What happened**:

Kubectl shell completion might be depressingly slow.
Main problem that completion uses constructions like:

[code]

to get resource names. But in large installations they can be extremely slow.

**What you expected to happen**:

I expecting that completion will not download tens of megabytes for each `<TAB>` pressing and will work much faster, actually same speed which is need

[2019-09-19 14:58] kvaps commented on #82883
/sig cli

[2019-09-19 15:02] pjbgf opened #82885 "[Failing Test] test/integration/volumescheduling TestVolumeProvision"
**Which jobs are failing**:
pr:pull-kubernetes-integration

**Which test(s) are failing**:
test/integration/volumescheduling TestVolumeProvision

**Since when has it been failing**:
2 days ago on #82648.
2 months ago on #80383.

In 2018, the same test was flaky and filed under #70180.

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration

**Reason f

[2019-09-19 15:02] tam203 commented on #82881
P.s. If there is a desire in the community and it's an easy-ish issue I'd be happy to take a crack at it. I'm an experienced dev but never contributed to kubernettes or a go project.

[2019-09-19 15:04] pjbgf commented on #82885
Adding same sigs as the former issue:

/sig scheduling
/sig testing

[2019-09-19 15:21] luhkevin commented on #72878
We are seeing this too, on GKE 1.13.6-gke.13

[2019-09-19 15:33] kvaps commented on #82883
My simple solution for that:

[code]

but I'm sure there is should be way without awk

[2019-09-19 15:38] smarterclayton commented on #82859
We are likely to refactor the core internals of client go pretty dramatically over the next few releases as we remove cruft that has accumulated over the years.  This is just the first change, the second will change rest.Config more dramatically to prevent common failure modes, the third will remove some of the conversion baggage, etc.  Locking to versions is the best bet, which is why we have api

[2019-09-19 15:44] mvukadinoff commented on #82825
Hi, thanks for your suggestion. We tried that already.
The SYN packets do get to the node and are visible in the tcpdump capture, however there is no response.
The interesting thing is, that when testing from the node itself to the same address and interface we don't see the packets with the same capture "tcpdump -i ens10 -vvv -X tcp port 30072" , I assume it's because it's local traffic and not v

[2019-09-19 15:44] smarterclayton commented on #82859
Actually, an even more impactful change coming - CodecFactories themselves are likely to be removed because they add expensive abstraction to high level components (and cause problems like this).

I do understand how irritating this is to deal with.  But most of these abstractions cause more problems for new users than removing the issue-causing-abstraction causes advanced users like us and you.

[2019-09-19 15:50] deads2k commented on #82859
You can also see efforts like the idea of finally making a proper client-go-base (rediscussed at last week's [sig-apimachinery call](https://docs.google.com/document/d/1x9RNaaysyO0gXHIr1y50QFbiL1x8OWnk2v3XnrdkT5Y)) causing significant changes in a single release.

The API itself remains compatible and previous client-go levels still support skew, but the golang code is not going to remain source c

[2019-09-19 16:00] stealthybox commented on #82859
Interesting. I'm +1 for removing CodecFactory, but I do think we'd need an acceptable replacement abstraction.

Dealing with the mass of generated code and dependencies in the community creates inertia for change. If we choose to break clients like this, we have to expect that it will take months or longer for the ecosystem to catch up.

People like @ibuildthecloud will need to fork and assemble u

[2019-09-19 16:08] pjbgf commented on #81115
@tallclair I would be keen to help us achieve that. Is there any of those 3 points that help is wanted?

[2019-09-19 16:20] awesomenix commented on #82854
Here is the list of bootstrap tokens causing the problem

[code]

[2019-09-19 16:20] mboersma commented on #80365
I verified that the "press update" scenario described here does not cause any loss of LB connectivity with Kubernetes 1.16.0 and 1.15.4 clusters provisioned with aks-engine v0.41.0.

[2019-09-19 16:21] Huang-Wei commented on #82885
cc/ @msau42 @cofyc for awareness.

[2019-09-19 16:34] alejandrox1 commented on #81181
for reference https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce-csi-serial
This seems to still be happening.
/milestone v1.17
/priority critical-urgent

[2019-09-19 16:34] alejandrox1 commented on #81181
/cc @kubernetes/sig-storage-test-failures
ptal

[2019-09-19 16:35] alejandrox1 commented on #81181
forgot one thing
/sig-remove testing

[2019-09-19 16:37] alejandrox1 commented on #81181
/remove-sig testing

[2019-09-19 16:41] smarterclayton commented on #82859
Pairing clients generated with 1.14-level libraries with 1.16-level libraries is already unsupported.

[2019-09-19 16:51] furlongce commented on #66762
Any update on this?

[2019-09-19 16:57] liggitt commented on #82613
/remove-sig cli
/sig apps

[2019-09-19 17:21] hoyho commented on #82838
I would like to do it

[2019-09-19 17:27] barney-s commented on #82659
Thanks for the list will add these to the KEP #978

[2019-09-19 17:48] liggitt commented on #82765
is the IPv6DualStack intending to promote to beta in 1.17?

[2019-09-19 18:06] #82866 closed

[2019-09-19 18:07] samschlegel commented on #28369
This is happening on GKE master version `1.13.6-gke.13` and a GKE node version of `1.12.8-gke.7` which has a docker version of `17.03.2-ce`. Based on https://github.com/moby/moby/issues/37646 it seems like this should work since based on the hostconfig.json, docker is running with `--max-size=10m --max-files=5`, but it doesn't seem to.

Does the kubernetes API server tail through docker, or throug

[2019-09-19 18:13] Sewci0 commented on #49906
I am hitting the same issue, both in Kubernetes 1.13 and 1.14.

[2019-09-19 18:14] vistalba opened #82889 "Can't upgrade to 1.16.0: [ERROR CoreDNSUnsupportedPlugins]: there are unsupported plugins in the CoreDNS"
[code]
Any ideas how to solve this?

[code]

[2019-09-19 18:17] rajansandeep commented on #82889
What does your `Corefile` look like?

[2019-09-19 18:20] rajansandeep commented on #82889
/assign

[2019-09-19 18:20] msau42 commented on #49906
Please try https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode

[2019-09-19 18:22] vistalba commented on #82889
[code]

[2019-09-19 18:31] rajansandeep commented on #82889
@vistalba I see that the `proxy` plugin is present in the config.
From what version of Kubernetes are you upgrading from?

[2019-09-19 18:32] vistalba commented on #82889
I was on 1.15.3 and now trying upgrading to 1.15.4 first.

[2019-09-19 18:37] rajansandeep commented on #82889
The preflight check is showing `CoreDNSUnsupportedPlugins` due to the presence of the `proxy` plugin, as it has been deprecated. The `forward` plugin is to be used in its place.

If the `Corefile` is the same as you've mentioned [here](https://github.com/kubernetes/kubernetes/issues/82889#issuecomment-533251094), you can
use the `--ignore-preflight-errors=CoreDNSUnsupportedPlugins`. The `proxy` pl

[2019-09-19 19:03] maxstr commented on #79866
Assuming we allow `externalTrafficPolicy` on clusterIPs can we assume that if `externalTrafficPolicy: local` (or whatever equivalent is determined) is set for a clusterIP that we can skip MASQ for that service and require whatever is advertising the IPs to handle the routing correctly?

I also feel like exposing cluster VIPs outside the cluster is probably the wrong abstraction and should probably

[2019-09-19 19:04] vistalba commented on #82889
Worked for me. Looks like all services are back up :-) Thanks!

[2019-09-19 19:06] rajansandeep commented on #82889
/close

[2019-09-19 19:19] ahg-g commented on #82708
This is to facilitate incremental migration of predicates/priorities to framework Plugins. The goal is to create a mapping for default predicates/priorities to corresponding Filter/Score plugins.

[2019-09-19 19:36] thockin commented on #82765
@khenidak I assigbned this to you for triage.  Assuming it is a legit bug, please remove the triage labe

[2019-09-19 19:38] thockin commented on #82743
Can you say more about the use case?  What needs it to be different than the base+1 IP?

[2019-09-19 19:40] thockin commented on #82590
The implementation is pretty closely linked to etcd, isn't it?  I would not be against extracting this to a repo of its own or into staging, but someone has to sign up to do the work.

[2019-09-19 19:42] thockin commented on #82515
There is currently no way that Ingress has to express what you want.  I'm not against the idea, but I'd need someone to dig into impl options.

One idea that was floated was a "hostname grant" resource that would allow an admin to say "this other namespace can declare ingress for hostname foo.com, but nothing else".  It's a bit clunky, would like to see alternatives explored.

[2019-09-19 19:46] thockin commented on #82381
It's unfortunate that kubernetes overall leaned on .local as a suffix, but changing the default is a complex process.  I don't think we can fix this unless we reboot the whole DNS schema, and it's well understood for that context, so I'm going to close this "bug".

Please feel free to debate, if you think I am wrong...

[2019-09-19 19:46] #82381 closed

[2019-09-19 19:49] thockin commented on #82203
Do we have further thoughts here?  Keep this open as plan-to-support or close it?

[2019-09-19 19:52] thockin commented on #82125
Sadly, this is an artifact of network responsibility being too spread out.  In a perfect world, the omnibus network driver would cover MASQ, ip allocation, node ports, host ports, and Services.

I'd love kubelet to not know or do ANYTHING network related..

[2019-09-19 19:54] ahg-g opened #82897 "A new API for updating prefilter calculations"
**What would you like to be added**:
An interface that allows PreFilter plugins to update their state after PreFilter was called, similar to what we have for [predicates metadata (add/remove pods)](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/metadata.go#L38-L41).

**Why is this needed**:
This is needed to allow efficient preemption simulations: during pr

[2019-09-19 20:15] fedebongio commented on #82768
/cc @caesarxuchao

[2019-09-19 20:17] fedebongio commented on #82770
/cc @fedebongio  @caesarxuchao

[2019-09-19 20:17] caesarxuchao commented on #82770
Could you paste the output of `kubectl get node -v=9`?

Also, what about resources other than nodes?

[2019-09-19 20:18] fedebongio commented on #82860
/assign @sttts @nikhita

[2019-09-19 20:21] nagiesek commented on #82711
@jterry75 apologies for dragging you into kubernetes, but do you have any suggestions/insights about this hostname issue?

[2019-09-19 20:45] vllry commented on #82008
/triage unresolved

[2019-09-19 20:45] vllry commented on #81781
/triage unresolved

[2019-09-19 20:49] msau42 commented on #81181
I looked at one of the recent failing tests, and they all seem to failing with:
[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/81226/pull-kubernetes-e2e-gce-csi-serial/1174720142538444800

[2019-09-19 20:56] msau42 commented on #81181
I'm not even sure where it's getting this image from, because the tests are supposed to be using busybox: https://github.com/kubernetes/kubernetes/blob/74c0cc27902548243d8a863c9e2c6345a8e6b548/test/e2e/storage/testsuites/subpath.go#L499

[2019-09-19 20:56] jpbetz commented on #59848
https://github.com/kubernetes/kubernetes/pull/82862 and https://github.com/kubernetes/kubernetes/pull/72170 are ready for review.

[2019-09-19 21:02] msau42 commented on #81181
Ok I think the subpath tests are invoking a host exec pod, which is where agnhost is used.  However, the agnhost version configured in e2e is 2.5, but the test is trying to pull 2.7:
https://github.com/kubernetes/kubernetes/blob/07e0cce409efd8f8d6d49ea66c23464ba630d224//test/utils/image/manifest.go#L207

[2019-09-19 21:05] vllry commented on #82869
/remove-triage unresolved
/priority backlog

[2019-09-19 21:06] vllry commented on #82825
/assign @caseydavenport

[2019-09-19 21:07] vllry commented on #82799
/assign @danwinship

[2019-09-19 21:08] vllry commented on #82765
/remove-triage unresolved

[2019-09-19 21:08] msau42 commented on #81181
The answer is because the PR is actually trying to change it:
https://github.com/kubernetes/kubernetes/pull/81226/files

Sorry, I'm not going to spend anymore time debugging pull job failures unless there appears to be some systematic problem that's unrelated. These same test cases are run in CI serial, and if there were problems with the tests, then they would be showing up in CI too.

/close

[2019-09-19 21:08] #81181 closed

[2019-09-19 21:09] saiyan86 commented on #82799
/cc @saiyan86

[2019-09-19 21:10] vllry commented on #82515
/assign @thockin
/cc @MikeSpreitzer

[2019-09-19 21:12] vllry commented on #82494
/assign @freehan

[2019-09-19 21:14] vllry commented on #81781
/assign @caseydavenport

[2019-09-19 21:16] jpbetz opened #82900 "Cache CRD conversion results"
**What would you like to be added**:

A cache of CRD conversion results.

Cache entries should be keyed by UID (namespace, name), GVK and resource version.

**Why is this needed**:

Based on the benchmarks data we gathered for the [CRD scalability targets](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md#scale-targets-for-ga) this should signific

[2019-09-19 21:16] vllry commented on #81642
/assign @caseydavenport

[2019-09-19 21:19] rikatz commented on #82008
/assign @rikatz

Assigning myself to follow this one

[2019-09-19 21:21] #82796 closed

[2019-09-19 21:29] jpbetz opened #82901 "CRDs: OpenAPI validation of common formats"
**What would you like to be added**:

Automatic validation of OpenAPI fields that contain common formats like IP addresses, dates and timestamps.

We would need to identify a list of common validations.

Validation of common formats should work well for native types and CRDs. We don't want to do something that just works for CRDs here.

**Why is this needed**:

Eliminates the need to add a validat

[2019-09-19 21:53] tedyu commented on #82900
Is there going to be limit on the size of the cache ?

[2019-09-19 22:07] ajouve opened #82903 "Kubernetes create an nfs deployment and volume"
I am creating an nfs server deployment / service into my k8s cluster

[code]

I am deploying it on my staging namespace

[code]

Seems to work find, those are the starting logs

[code]

I am trying to mount my nginx deployment to share my certificates

[code]

I have the flowing error

[code]

when I ssh into the nginx pod and ping `nfs.staging` the host is resolved

[2019-09-19 22:13] jpbetz commented on #82900
Yes, there would have to be a size limit and eviction policy.

[2019-09-19 22:17] dims opened #82904 "Update kubernetes/kubernetes to klog 1.0.0"
https://github.com/kubernetes/klog/releases/tag/v1.0.0 was released today.

/good-first-issue

[2019-09-19 22:17] dims commented on #82904
/area code-organization

[2019-09-19 22:28] davidz627 commented on #75220
/remove-lifecycle stale

[2019-09-19 22:32] dims opened #82905 "Update to newer kustomize"
v3.2.0 of kustomize was released yesterday, we are still at v2.0.3+ Can we please update?
https://github.com/kubernetes-sigs/kustomize/releases

(Will also  help with https://github.com/kubernetes/kubernetes/issues/77024)

/sig cli
/sig cluster-lifecycle

[2019-09-19 22:59] #76782 closed

[2019-09-19 23:08] tedyu commented on #75273
If this is still relevant, I can spend some time on this.

[2019-09-19 23:16] brentpearson commented on #76531
So... is there a new version of K8s that fixes this? I'm using 1.15.3, and the kubeadm pre-flight check warning about how systemd is so much better and I should totally switch finally convinced me to switch, and now I get this mass of warning messages.

[2019-09-19 23:39] liggitt commented on #82905
cc @Liujingfang1

[2019-09-19 23:43] Liujingfang1 commented on #82905
I've considered this for a while. Since the dependency issue, we couldn't re-integrate kustomize as it is into kubectl. Need to split Kusotmize into multiple Go modules first. Will write a proposal for this.

[2019-09-20 00:58] xieyanker commented on #82770
@caesarxuchao
The output of  `kubectl get node -v=9` are as follows:
[code]

And I konw it will get all of the api groups response into the cache directory every ten minutes. The command of `kubectl get node` will show the result less than 1 second normally  when the cache directory are not expired. It will show slowly when the cache are expired, and it is the same for other resources.
I rebuild t

[2019-09-20 01:00] danielqsj commented on #82904
/assign
/remove-help

[2019-09-20 01:01] #65743 closed

[2019-09-20 01:05] alculquicondor commented on #82118
If I understood correctly, these are the requirements you have:

1. You want to schedule a set of pods atomically.
1. These pods require GPUs ([device plugins](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/) in k8s vocabulary)
1. You want the pods to run in the same node, if there is enough space.

- 1 should be solved by co-scheduling, either via [kube-b

[2019-09-20 01:06] xieyanker commented on #82770
@torubylist I don't think it is caused by the disk io, both of reading and writing cached directory don't spend time almost.

[2019-09-20 01:23] danielqsj commented on #82900
I'd like to take it.
/assign

[2019-09-20 01:31] kewenwang-ai commented on #82118
Hi, thanks for responding so soon.
the third "You want the pods to run in the same node" is not correct.
What we want is the pods number for the crd to be  optimal, because 2 pods with 4GPUs is more efficient than 4 pod with 2GPUs. they don't have to be in the same node, they could run distributed.
Beacuse only the scheulder know the current resource usage of cluster, so scheduler could make the o

[2019-09-20 01:34] ahg-g commented on #82118
You can build a custom controller for that. The node objects contain the resources available on each node and how much is allocated, the controller would watch for node objects to determine how much resources available in the cluster and based on that split the "CRD" into pods.

[2019-09-20 01:49] Trisia commented on #29298
You are right. I tagged my public subnet with `KubernetesCluster`(cluster-name) , then recreate ingress-nginx . now I cant use the ELB access my private net application!

[2019-09-20 02:02] heartlock commented on #82754
/cc @liggitt  @kevin-wangzefeng

[2019-09-20 03:26] AL-Cui commented on #75443
why The second IP is not bound.Do you konw how to bound?thanks

[2019-09-20 03:35] jktomer commented on #82808
Or perhaps ?verbose=trace so as not to introduce a new parameter. (Especially since including the timings is not meaningful when !verbose.)

[2019-09-20 04:53] aojea commented on #82634
/close by https://github.com/containerd/cri/pull/1274
Thanks @Random-Liu

[2019-09-20 04:53] #82634 closed

[2019-09-20 05:05] kmala commented on #82743
We have a custom networking solution based on IPVLAN and don't use iptables(won't run kube proxy). So that makes us not have services with clusterIP allocated by the kubernetes apiserver and services of type load balancer are also allocated a clusterIP. Since many open source projects are implemented with the assumption of service with clusterip, in order to solve this we are giving the subnet of

[2019-09-20 05:08] lukaszgryglicki opened #82915 "Cronjobs not creating new jobs after considerable amount of time."
**What happened**:
Cron jobs stopped creating new jobs after many days running OK. I have more than 100 cronjobs.

**What you expected to happen**:
Cronjobs should be created as usual.

**How to reproduce it (as minimally and precisely as possible)**:
Create, say, 150 cron jobs that create new job hourly. Leave it running for at least month, and finally observe that, for an unknown reason, no new

[2019-09-20 05:13] lukaszgryglicki commented on #82915
Is this @kubernetes/sig-architecture-bugs related issue? I think this is the closest SIG that I can find, please correct me if I'm wrong.

[2019-09-20 05:43] bgrant0607 commented on #82915
/sig apps

[2019-09-20 05:44] vbasavani commented on #49906
For default storage class, volumeBindingMode will be set to Immediate where pvc will be created without the knowledge of pod. set  volumeBindingMode: WaitForFirstConsumer in your storage class. it will work fine then

[2019-09-20 05:47] peter-wangxu opened #82917 "CSI mounter is not idempotent when setting up mount"
**What happened**:
We had a csi plugin to mount a disk from remote, when the backend is slow
the `NodePublishVolume` was treated as timeout by kubelet.  in this case the `NodeUnpublishVolume` is not invoked and fail immediately.
the disk finally got attached by our plugin, and disk was attached to this host

As pod was reported unabled to setup the disk, user deleted the pod. since the pod+volume

[2019-09-20 05:51] ajouve commented on #82903
@kubernetes/sig-storage-bug

[2019-09-20 06:00] Sewci0 commented on #49906
@msau42 @vbasavani That seems to have fixed it. Thanks.

[2019-09-20 06:14] sungjunyoung opened #82918 "Flexvolume binary mount succeed, but kubelet cannot observe mounted volume if there are too many files in the mount directory with fsGroup"
**What happened**: Flexvolume binary mount succeed, but kubelet cannot observe mounted volume if there are too many files in the mount directory when use `securityContext.fsGroup`

**What you expected to happen**: Mount succeed, Pod comes to `Running` state

**How to reproduce it (as minimally and precisely as possible)**:
1. Write 3000 over files (with hierarchy) to the volume
2. Mount this volum

[2019-09-20 06:19] aojea commented on #77771
I think that the important thing here is that it has to be supported in the Kernel and then in all the distros so it can be usable by kubernetes and AFAIK the one only implementation I'm aware of is still out of the kernel tree https://github.com/multipath-tcp/mptcp

Ref: https://tools.ietf.org/html/draft-ietf-mptcp-experience-07

[2019-09-20 06:19] peter-wangxu commented on #82917
@kubernetes/sig-storage

[2019-09-20 06:23] sungjunyoung commented on #82918
/sig storage

[2019-09-20 06:28] irajdeep commented on #82901
@jpbetz I would be interested in working on this

[2019-09-20 07:01] troyfontaine commented on #73906
/remove-lifecycle rotten

[2019-09-20 07:14] Adirio commented on #82118
Adding to @ahg-g, the custom controller could start by using the prefered configuration that is the most strict (2 pods with 4 GPUs), and if it sees that the pods are failing relax the requirements (4 pods with 2 GPUs), or even a mix if one of them was able to start (1 pod with 4 GPUs, 2 pods with 2 GPUs).

[2019-09-20 07:25] rtoma commented on #67662
Observed on GKE 1.13.6-gke.13 or 1.13.7-gke.24, as it happened during an upgrade. Lots of FailedCreate events.

We got scheduling back on track by scaling deployments to zero replicas and then back to the intended number.

[2019-09-20 07:30] #78252 closed

[2019-09-20 07:33] peter-wangxu commented on #82917
/sig storage

[2019-09-20 07:52] Joseph-Irving commented on #82915
How many jobs/cronjobs do you have in your cluster in total? there's a bug in 1.14 where if you go over 500 jobs/cronjobs, the cronjobs stop scheduling see https://github.com/kubernetes/kubernetes/issues/77465 there is a fix in v1.14.7

[2019-09-20 08:08] chrisgahlert commented on #16967
Using taints did not really work for me, but in case someone else searches for a solution, here is what I did:
1. Label all Nodes, the DaemonSet is supposed to run on: `kubectl label node mynode node-daemonset.pool=foobar`
2. Make sure the DaemonSet only runs on those nodes by using a label selector: `nodeSelector: {"daemonset.pool": "foobar"}`
3. Before draining the node, remove the label from th

[2019-09-20 08:22] vainu-lauri opened #82923 "AWS ELB LoadBalancer not being updated"
**What happened**:
When upgrading from Kubernetes 1.14.6 to -> 1.14.7 we started seeing following error:
[code]
And saw that the load balancer did not have any new nodes added to it.

**What you expected to happen**:

Kube-controller-manager should have been able to add nodes to lb pool.

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade from 1.14.6 to 1.14.7

**Anything el

[2019-09-20 08:33] #82084 closed

[2019-09-20 08:33] #81861 closed

[2019-09-20 08:33] #82693 closed

[2019-09-20 08:35] obitech opened #82924 "Enable strict serializers in components by default"
**What would you like to be added**:
With #76805 merged we should enable strict serializers in Kubernetes components:
- [x] kube-proxy (#82927)
- [x] kube-scheduler (#83030)
-  ~~kube-controller-manager~~ (not using a config file right now, see [enhancements#786](https://github.com/kubernetes/enhancements/issues/786) and [enhancements#1052](https://github.com/kubernetes/enhancements/pull/1052))
-

[2019-09-20 08:37] obitech commented on #82924
/sig cluster-lifecycle
/wg component-standard
/assign @obitech
/cc @mtaufen @stealthybox

[2019-09-20 08:45] hakur opened #82925 "StatefulsetController dose not delete pod after statefulset updated"
## What happened ?
I have made a test, first I created a statefulset with wrong container image, so pod gets wrong.
I updated container image to ```nginx``` , but pod still in ErrImagePull state, and I saw container image not changed.

According to this line : https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/controller/statefulset/stateful_set_control.go#L428 pod will not be deleted

[2019-09-20 08:48] 13567436138 opened #82926 "k8s storage using rook,delete pv ,pvc then create pvc shows peding"
[code]

[2019-09-20 08:50] liu-yfeng commented on #76531
Kubernetes v1.16.0 This problem remains

[2019-09-20 08:51] kewenwang-ai commented on #82118
Node objects available resource is actually the capacity that can be used for scheduling, not the left usable resources of node. The allocated resources is still unknown to the controller and only scheduler knows it.

This way is not real-time effective. Because when the scheduler cannot split 2 pods with 4GPUs in **t_1** time, doesn't mean it cannot satisfy 2 pods with 4GPUs in **t_2** time. Also

[2019-09-20 08:52] 13567436138 commented on #82926
/sig storage

[2019-09-20 08:55] lukaszgryglicki commented on #82915
268 cronjobs now ... and I didn't have>= 500. But if speaking about jobs, not cronjobs - there could be up to 4x that number, because it held a history of 3 successful and 1 failed. So basically I should update K8s, right?
Is it possible to bump from v1.14 directly to v1.16?

[2019-09-20 09:01] hakur commented on #82925
/sig apps

[2019-09-20 09:01] SataQiu commented on #82923
/cc

[2019-09-20 09:08] loganmzz commented on #20581
Any chance to get it implemented ?

[2019-09-20 09:33] ialidzhikov commented on #82923
/cc @micahhausler @zhan849 @mcrute

I also experience the same issue after 1.14.6 -> 1.14.7 update.

[2019-09-20 09:40] ricky1993 opened #82930 "Disruption controller support configure workers' number"
**What would you like to be added**:
Nowadays in disruption controller we only run a worker and a recheck worker to sync the pdbs. But in most controllers we can configure the number of workers. Should we make it configurable?
**Why is this needed**:
When we have too much pdbs, the worker will be overload and cannot handle the syncing in time. It makes the pdb status lags with real state, and evic

[2019-09-20 09:40] ricky1993 commented on #82930
/sig apps

[2019-09-20 09:53] draveness commented on #82897
I think we should start the discussion on this and update the KEP first.

This seems like optimization to me. If it is, we should focus on the function of the scheduling framework in the alpha stage. And it would be better if we do such optimization after the feature bump to beta and the performance becomes a serious problem IMO.

[2019-09-20 10:01] smileusd commented on #82755
here?  https://github.com/kubernetes/kubernetes/blob/26cc580e65b12d230c18dc9c947084dd918633a6/pkg/controller/volume/persistentvolume/util/util.go#L188

[2019-09-20 10:04] luisdavim commented on #80948
Yes, making Metacontroller a standard addon would be awesome.

[2019-09-20 10:10] #75707 closed

[2019-09-20 10:19] xiaoanyunfei commented on #82924
Is this an issue for help ? I don't quite understand the rules.
If so, I can help on kubelet.

[2019-09-20 10:27] ssro commented on #82923
Hi folks,
Ran into the same issue, upgrading from `1.14.6` to `1.14.7`

[2019-09-20 10:30] zq-david-wang opened #82933 "inconsistent configurations for cadvisor scrape metrics and metrics exported by prometheus endpoint"
**What happened**:
The metrics collected by cadvisor are different from the metrics exposed on prometheus endpoints,

**What you expected to happen**:

I would like to have cadvisormetrics.ProcessMetrics enabled to monitor process usage for each pod, the metrics is meant to be exposed by prometheus, but it is not collected by cadvisor within kubelet
The metrics collected should be consistent with

[2019-09-20 10:31] zq-david-wang commented on #82933
/sig bugs

[2019-09-20 10:33] RainbowMango commented on #82509
@logicalhan
I tried a solution that can help to annotate custom metrics with stability metadata.

The custom metrics that I took to my testing as follows:
[code]

I collect metrics on my local cluster by command `curl localhost:10255/metrics`:
[code]

The point:
1. The stability metadata be added to HELP;
2. The hidden metric be ignored automatically;
3. All directly import prometheus methods be r

[2019-09-20 10:43] RainbowMango commented on #82509
# Solution

## prometheus.Desc to metrics.Desc
We have to wrap Desc first, named metrics.Desc here.
The metrics.Desc works very similarly with metrics.lazyMetric.

metrics.Desc not be initialized until metric registration. We can mark the stability metadata when registration.

to be continue...

[2019-09-20 11:10] jkaniuk commented on #82695
PR fixed the issue:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness
two tests green, the last one failed for different reason

Could be closed

[2019-09-20 11:14] jkaniuk opened #82936 "[Failing Test] GCE 5k Correctness - etcd not started"
**Which jobs are failing**: Which jobs are failing: ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are failing**: all

**Since when has it been failing**: Sep 19, 2019

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

**Reason for failure**: etcd did not start:
etcd.log:
2019-09-19 12:07:56.141320 E | etcdmain: error verifying flags, e

[2019-09-20 11:15] jkaniuk commented on #82936
/assign

[2019-09-20 11:27] avorima commented on #59347
I'm currently having issues with the 2. point you have mentioned in your initial message. I use an `external` CCM which doesn't implement the required function. I would propose to fix this by simply skipping the check if the interface doesn't support it.

[2019-09-20 11:31] cwdsuzhou commented on #82755
Dynamically provisioned pv and static pv bound  has different logics. You may need take a closer look at it.

[2019-09-20 11:32] anstns opened #82937 "start apiserver error"
[root@iZj6c2fj4e2ampu34u8c1wZ kubernetes]# systemctl status kube-apiserver
● kube-apiserver.service - Kubernetes API Server
   Loaded: loaded (/usr/lib/systemd/system/kube-apiserver.service; enabled; vendor preset: disabled)
   Active: active (running) since Fri 2019-09-20 19:26:24 CST; 22s ago
     Docs: https://github.com/kubernetes/kubernetes
 Main PID: 16219 (kube-apiserver)
   CGroup: /system

[2019-09-20 11:42] plop28 commented on #71887
Same here :
docker 18.09.1
linux: Debian 10.1
cgroup-driver: systemd

[2019-09-20 11:57] nidhi-ag commented on #50733
I also faced this issue. Step i followed to resolve it -
- rm -rf /etc/yum.repos.d/kubernetes.repo
- remove k8s related entry from /etc/yum.conf
- yum update ca-certificates

[2019-09-20 12:08] ahg-g commented on #82118
Right, but you can build that information by watching for pods. Each scheduled pod object contains the name of the node where it is scheduled, so you can add up the resources consumed by the pods scheduled on the same node to calculate the amount of used resources. That is how the schedule works, and the [daemonset controller](https://github.com/kubernetes/kubernetes/blob/26cc580e65b12d230c18dc9c9

[2019-09-20 12:22] Aldekein commented on #15180
There is also a solution to set up port forwarding to a service without selector/pod (e.g. ExternalName service) by deploying a proxy pod inside K8s:

[code]

In the example above the MySQL server at `your-internal-mysql-server:3306` will be available on `localhost:3310` on your machine.

[2019-09-20 12:22] RainbowMango commented on #82933
/sig node
/area kubelet

[2019-09-20 12:28] RainbowMango commented on #82510
/assign

[2019-09-20 12:38] Joseph-Irving commented on #82915
The general rule when upgrading Kubernetes is to only upgrade the masters one minor version at at time so you would go 1.14 -> 1.15 -> 1.16. The nodes (kubelet) are meant to be compatible with up to two kubernetes versions ahead, so a 1.14 node should work with a 1.16 master.

[2019-09-20 13:02] ahg-g commented on #82897
SG, this issue is for the discussion.

It is an optimization, but one that I think we can't afford to ignore because it will cause performance regression when migrating current predicates, especially pod affinity. I updated the description of the issue with more details and pros/cons of the two possible solutions.

[2019-09-20 13:14] #76447 closed

[2019-09-20 13:18] danwinship commented on #82799
is it
/platform azure
maybe?

[2019-09-20 13:21] liggitt commented on #82808
a distinct value for verbose seems reasonable

[2019-09-20 13:21] danwinship commented on #82799
no,
/label platform/azure

[2019-09-20 13:21] ahg-g commented on #82897
/cc @Huang-Wei @alculquicondor @k82cn

[2019-09-20 13:25] danwinship commented on #82799
Anyway, this seems like an azure load-balancer issue. I'm guessing that whatever you're using in the non-Contour use case (maybe just the default load-balancing?) is doing something that requires NAT, but the conntrack mapping is timing out when the connection is idle?

If you can tweak either the client or server side of the connection to send periodic keepalives over the connection (I think that

[2019-09-20 13:27] danwinship commented on #82799
/area provider/azure
?

[2019-09-20 13:28] danwinship commented on #82799
/remove-triage unresolved

[2019-09-20 13:47] szuecs commented on #82923
Our e2e tests failed so we did not rolled it out today.
@dims sounds like we want to have e2e tests with aws, do we actually test in other environments than gke?

[2019-09-20 14:03] alculquicondor commented on #82118
Please clarify 2 things:

- What is specified in the CRD? Make it as precise as possible so we can understand the use case
- What does it mean to schedule the CRD, before "splitting"? It looks like you want to "reserve" a set of resources in several nodes for a single CRD.

[2019-09-20 14:17] alculquicondor commented on #82897
I have no concerns with option 2.

[2019-09-20 14:42] rhuss opened #82942 "Add support for "Specification Extensions" in openAPIV3Schema to CRDs"
**What happened**:

When using a CRD like in the example below which uses [specification extensions](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#specificationExtensions), then an error is thrown

<details>
  <summary>A sample GitHub Event Source CRD from Knative Eventing</summary>

[code]

</details>

Error Message:

[code]

</details>

**What you expected to happen*

[2019-09-20 14:44] rhuss commented on #82942
/sig api-machinery
/area custom-resources

[2019-09-20 14:47] Russia9 opened #82943 "kubeadm --apiserver-advertise-adress not working"
**What happened**:
I have 2 nodes and VPN between them. I also have a network interface with Internet access. When you enter the `ip addr show` command, it looks like this:
[code]

After I create the cluster by running the command
[code]
I enter the `kubectl get nodes -o wide` command and get:
[code]
As you can see, the ip of the `ens2` interface instead of `tun0` is specified in the `Internal IP`

[2019-09-20 14:49] MikeSpreitzer commented on #76846
Sep 20 morning round-up:

#81834 - rebase the feature branch and merge it into main.  We strongly prefer to proceed from here rather than the current feature branch contents because they are based on such an outdated starting point.

#82196 - extend 81834 for flexibility and bit flips

#81748 - @lavalamp review comments on feature branch

#81637 - Added ObjectNamespaces to PolicyRuleWithSubjects (

[2019-09-20 14:56] andrewsykim commented on #82923
/assign @d-nishi @mcrute @nckturner

[2019-09-20 14:57] andrewsykim commented on #82923
/retitle AWS ELB LoadBalancer not being updated

[2019-09-20 15:04] Russia9 commented on #82943
/sig network

[2019-09-20 15:04] javendo commented on #81837
I have retested this issue with the kubernetes version 1.16 and it seems the same behavior happens.

After execute the procedures described in this issue. After do the steps about 4 times the error happens.

The image below shows the last time the private-59-3, *the one I have removed the NIC Interface*, was renewed.

![image](https://user-images.githubusercontent.com/784975/65337158-06635680-db9e

[2019-09-20 15:13] zhan849 commented on #82923
@vainu-lauri @ialidzhikov for the particular error showed in log, #82935 would have fixed it theoretically. we faced similar problems in some other calls to aws before and aws generally don't take `nil` filters.

@mcrute just saw #78100 gets merged to 1.14.7, I kind of remember you had some improvements to that PR but did not got merged, any update on that? thanks!

[2019-09-20 15:23] javendo commented on #81837
Some additional logs from kube-apiserver

[code]

[2019-09-20 15:37] conwaychriscosmo commented on #73360
Is this still a bug that needs to be fixed?

[2019-09-20 15:40] pwittrock commented on #15180
That is clever

[2019-09-20 15:42] notpad opened #82944 "local-up-cluster.sh -O doesn't work in the latest code of master branch"
**What happened**:
hack/local-up-cluster.sh -O doesn't work in the latest code of master branch
It will output "Could not guess the correct output directory to use."

**What you expected to happen**:
hack/local-up-cluster.sh -O should be able to guess the output directory

**How to reproduce it (as minimally and precisely as possible)**:
run "hack/local-up-cluster.sh -O"

**Anything else we need t

[2019-09-20 15:46] thockin commented on #15180
https://github.com/kubernetes-retired/contrib/tree/master/for-demos/proxy-to-service

:)

On Fri, Sep 20, 2019 at 8:41 AM Phillip Wittrock <notifications@github.com>
wrote:

[2019-09-20 15:52] victortrac commented on #15180
I'll throw in there one more solution: we sometimes set up pritunl as a pod inside of k8s, configured to set the client's DNS server to the kube dns cluster IP, with a default route over the VPN.  When a developer connects to the pritunl VPN, their machine is able to access any service by k8s service name & cluster IP/port, just like any other pod in the cluster.

[2019-09-20 16:16] #76938 closed

[2019-09-20 16:39] ajp-lqx commented on #79547
Meanwhile, if anyone wants a one-liner to achieve this in a bash shell, you can wrap the call to `kubectl logs` in a while loop, e.g. `while [[ ! $(kubectl logs ...) ]]; then echo "waiting..."; sleep 2; done; kubectl logs ...`

This will keep waiting until the `kubectl logs ...` call returns a 0 exit code, and then run the same `kubectl logs ...` call one more time to send the output to the termin

[2019-09-20 16:40] ajpauwels commented on #79547
Meanwhile, if anyone wants a one-liner to achieve this in a bash shell, you can wrap the call to kubectl logs in a while loop, e.g. while [[ ! $(kubectl logs ...) ]]; then echo "waiting..."; sleep 2; done; kubectl logs ...

This will keep waiting until the kubectl logs ... call returns a 0 exit code, and then run the same kubectl logs ... call one more time to send the output to the terminal.

[2019-09-20 16:41] dharmab opened #82948 "Empty Azure VM scale sets consume vmss_list API needlessly"
**What happened**:

One of our production Azure clusters was experiencing severe rate limiting. `increase(cloudprovider_azure_api_request_errors[3m])` showed hundreds of errors per minute, specifically for the vmss_list call.

This particular cluster had ten worker scale sets. We noticed that two of these scale sets were scaled to zero (they were running an older VM image we had migrated off of).

[2019-09-20 16:44] dharmab commented on #82948
@kubernetes/sig-cloud-provider-bugs

[2019-09-20 16:55] jcrowthe commented on #82948
Tagging @feiskyer who we had offline conversations with regarding this issue.

[2019-09-20 16:57] draveness commented on #82897
I was working on migrating the existing predicates and didn't meet this problem. Could you be more specific about which predicates would be hard to migrate with the current API and it would be better if we have benchmark numbers for this optimization.

[2019-09-20 17:18] alculquicondor commented on #82897
@draveness how do you update the metadata (`PluginContext` in framework terms) when pods are added/removed by the preemption algorithm?
Note that the current implementation of the framework was actually broken when it comes to preemption  #82842. The nodeinfo is modified, but the Filter plugins didn't have access to that modification.

[2019-09-20 17:18] ahg-g commented on #82897
You can't possibly have met this problem because we are not calling prefilter during preemption now.

This is explained in the updated description, any predicate that uses [predicate metadata](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/metadata.go), examples include pod affinity and even pod spread.

The optimization already exist in the current predica

[2019-09-20 17:21] tallclair commented on #58512
+1 for implementing this through ephemeral containers.

Executing the command in the root namespace, especially something we implement ourselves makes me really nervous. I would eventually like to eliminate all places the Kubelet interacts directly with container-owned files.

[2019-09-20 17:41] tedyu commented on #82937
The last line is an error log, Controller#Start should continue.

Do you observe other error(s) ?

[2019-09-20 17:42] ahg-g commented on #82708
/cc @Huang-Wei @k82cn @alculquicondor

[2019-09-20 17:46] edvald commented on #65706
I'm seeing this as well. The PVC exists, all looks well there, but in the StatefulSet its status is "Pending" and no Pods get created.

[2019-09-20 18:12] liggitt commented on #82942
Kubernetes currently only stores/serves info in the schema it understands. Preserving/serving arbitrary vendor extensions could be considered. Doing so would allow published openapi schemas to diverge from built-in schemas in arbitrary ways, which doesn't seem great, but it would be good to hear more potential use cases.

cc @sttts

[2019-09-20 18:16] fejta-bot opened #82949 "pr:pull-kubernetes-kubemark-e2e-gce-big flaked 55 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce-big
 Flakes in the past week: **55**
 Consistency: **92.70%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Stage | 33 |
| Timeout | 25 |
| TearDown | 13 |

#### Previously closed issues for this job flaking:
#62267 #73105 #78701 #65466

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-09-20 19:16] Huang-Wei commented on #82897
I'm leaning towards option 2.

During the implementation of EvenPodsSpread, the predicate metadata is extremely important to support not only its core function but also preemption. Upon migration to the scheduler framework, a pre-processed metadata is still inevitable to serve as fact-of-truth of that Filter Plugin.

@draveness Basically some simply plugins don't need the metadata too much, but so

[2019-09-20 19:19] #75194 closed

[2019-09-20 19:25] pjh commented on #51540
/remove-lifecycle stale

[2019-09-20 19:27] #82826 closed

[2019-09-20 19:29] ahg-g commented on #82897
Note that if we don't provide those methods, we will have to call prefilter **for every node** during preemption cycle of a single pod, which is prohibitively expensive.

[2019-09-20 19:39] ahg-g commented on #82897
Another thing we have to add is support for cloning the PluginContext, and so we need to modify the [ContextData](https://github.com/kubernetes/kubernetes/blob/a2760c9c139d8f3efa6eaeb02a553c470362e8e5/pkg/scheduler/framework/v1alpha1/context.go#L30) interface to add a ```Clone``` method.

[2019-09-20 19:40] myan9 opened #82950 "kubectl: how to print a union of fields in custom-columns"
**What happened**:
I'd like to print a column which shows multiple information under one header, just like the one in events table:`Object:pod/eventgen`, but I can't reproduce this with custom-columns. I wonder if it's because my jsonpath is wrong, or kubectl puts restriction of  jsonpath usage in custom-columns. Thanks!!

Tried plain jsonpath in a specific event:
![屏幕快照 2019-09-20 下午1 49 49](http

[2019-09-20 20:03] alculquicondor commented on #82897
I assume we clone metadata today already? Otherwise, how expensive could it be to (deep) clone PluginContext.

[2019-09-20 20:12] ahg-g commented on #82897
Yes, we already clone it: https://github.com/kubernetes/kubernetes/blob/a2760c9c139d8f3efa6eaeb02a553c470362e8e5/pkg/scheduler/core/generic_scheduler.go#L584

Depends on what is stored in PluginContext. In a future iteration, we could provide a way to do selective of the keys, but for now lets just copy the whole thing as we do for metadata.

[2019-09-20 20:20] #74179 closed

[2019-09-20 20:35] roycaihw commented on #82901
/assign @irajdeep

We need to check what formats are specified in JSON Schema and supported by the third party [validator](https://github.com/kubernetes/kubernetes/blob/ac8ac0fc170eec7cdf292d841f8d026a65ce1681/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go#L42) and test them. It looks like IP address (e.g. ipv4) is [supported](https://github.com/kubernetes/kubern

[2019-09-20 20:37] julianvmodesto commented on #82046
If we write a single field manager named `/scale` to storage such that it takes ownership of `.spec.replicas`, then any `kubectl apply`s would conflict if they attempt to take ownership of `.spec.replicas` as intended.

Also, the HorizontalPodAutoscaler and a user can share ownership of `.spec.replicas` w/ `kubectl scale`. Is this the intended behavior, or do we want `kubectl scale` to conflict?

[2019-09-20 20:43] jpbetz commented on #82901
This probably needs a short KEP.

We should also coordinate with the server side apply work. What we do for CRDs should also be well aligned with what we do for native types..

[2019-09-20 20:43] lavalamp commented on #82046
Setting `.spec.replicas` via scale should be exactly the same as setting it by using the main endpoint, conflicts and all.

[2019-09-20 20:53] alculquicondor commented on #72547
This would be my proposal. Each step can be a single PR or even be composed of some of them.

1. Move all exported types from the `factory` package that are exposed through fields in `scheduler.Scheduler` and place them in `scheduler.go`. Make sure all the fields are actually necessary, for example `GetBinder` is only used internally.
1. Remove all the uses of exported types from the `factory` pac

[2019-09-20 21:00] Prodian0013 commented on #82587
@daconstenla does this issue affect 1.15.3?  Im currently having an issue with iptables on RHEL 7.7, crio and k8s 1.15.3.

[2019-09-20 21:05] julianvmodesto commented on #82046
We could use the same mechanism proposed in https://github.com/kubernetes/enhancements/pull/923 to declare the field manager on the scale subresource.

If we expect scale to produce a conflict, then ideally we do use a server-side apply.

Will users eventually receive conflicts for [other imperative `kubectl` commands like `kubectl scale`](https://kubernetes.io/docs/tasks/manage-kubernetes-objects

[2019-09-20 21:10] lavalamp commented on #82046
To be clear. Using scale via PUT or non-apply patch should not produce a conflict. It should force, causing the folks APPLYing to the base resource (or APPLYing to scale) to get a conflict.

I'd expect `kubectl scale` to force and never give a conflict; you'd get a conflict when you subsequently tried to APPLY and own the `.spec.replicas` field.

Make sense?

[2019-09-20 21:11] costinm opened #82952 "CertificateSigningRequest and the root CA pubkey"
https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/

The note mentions that the CA that sings the CertificateSigningRequest may be different than the cluster CA. Typically ( at least on GKE ) the clusterCA is used.

This creates a number of problems:
- there is no way (that I found) to identify which CA signed the certificate. The signed certificate has the SHA of the public key of the

[2019-09-20 21:17] julianvmodesto commented on #82046
Ahhh yes

[2019-09-20 21:58] Nuru commented on #67577
@chiluk  Looks like Linus decided 5.3 was stable on [Sept 15, 2019](https://lkml.org/lkml/2019/9/15/241). So, what is "linux-next" and how do we track the progress of your patch through the next steps?

[2019-09-20 22:03] jterry75 commented on #82711
The hostname is not part of the container create config as it is inherited from the sandbox. But it looks like potentially the fix in Windows Containers is that we need to assign the hostname of the sandbox per container creation. This is different than what we do for linux where the shared namespace already has the single hostname. I think the fix will be from CRI

[2019-09-20 22:46] gyuho commented on #82923
This seems like the same issue as https://github.com/kubernetes/kubernetes/pull/22788. And the fix should be null-ify the filter if the length is 0. Some simple test code:

[code]

[2019-09-20 22:59] M00nF1sh commented on #82923
https://github.com/kubernetes/kubernetes/pull/78498 this one should be cherry-picked to every branch that https://github.com/kubernetes/kubernetes/pull/78100 been cherry-picked to..

[2019-09-20 23:07] Huang-Wei commented on #82897
A side note on this: depending on the internal data structure design, some data structure (like `slice)` with data addition can be "shallow" copied, while other cases like `map` or data deletion are involved, we need to do "deep" copy.

[2019-09-20 23:10] Huang-Wei commented on #82708
Maintaining the relationship using an internal map can make the migration progress smoothly. Thanks.

[2019-09-20 23:28] M00nF1sh commented on #82923
created cherry-pick for 1.14: https://github.com/kubernetes/kubernetes/pull/82954

[2019-09-20 23:58] rikatz commented on #81630
/triage feature

[2019-09-21 00:02] rikatz commented on #82008
/triage needs-information

[2019-09-21 00:09] rikatz commented on #82943
Hi @Russia9, just to clarify: The IP address that appears into the kubectl get nodes is related to the NODE IP, not API Server IP:

https://kubernetes.io/docs/concepts/architecture/nodes/#addresses and https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#nodeaddress-v1-core clarify this.

When you pass the argument --apiserver-advertise-address= this will be set into the kube-apise

[2019-09-21 00:11] rikatz commented on #82943
/remove-kind bug

[2019-09-21 00:31] Huang-Wei commented on #82708
BTW: it'd be good to _explicitly_ list all related PRs as bullets in the description section (e.g., #82896 and further ones)

[2019-09-21 00:59] jingxu97 commented on #72181
/reopen

[2019-09-21 01:06] mike-marcacci commented on #59078
/remove-lifecycle stale

It became clear to me that this is actually sending a network request. My typical startup time:
[code]
becomes imminently reasonable when my laptop is _off_ any network:
[code]

For what it's worth, the `kubectl` in my path is supplied by the `gcloud` sdk (`/Users/mike/Applications/google-cloud-sdk/bin/kubectl`) and I assume something here is reaching out to whatever my cu

[2019-09-21 01:59] stealthybox commented on #79266
/wg component-standard

[2019-09-21 02:25] draveness commented on #82897
SG

[2019-09-21 02:33] stealthybox commented on #78109
/remove-lifecycle rotten

This is a really important.
It's going to take significant effort to implement, and there have been some recorded discussions on Code-gen alternatives.

[2019-09-21 02:33] stealthybox commented on #78109
Related KEP
https://github.com/kubernetes/enhancements/pull/1173

[2019-09-21 03:07] #71289 closed

[2019-09-21 03:41] liggitt commented on #82952
cc @mikedanese @deads2k

there is also the possibility for different CSRs to be signed by different roots (e.g. one signer for in-cluster serving certificates, a different one for external hostname serving certificates, another one for client certificates, etc)

[2019-09-21 05:23] zouyee commented on #82937
/cc @liggitt

[2019-09-21 06:18] mariusmitrofan commented on #73297
Was this ever implemented...?

[2019-09-21 06:38] Russia9 commented on #82943
I understand this, but I want node ip to be ip in vpn (tun0 interface) and not ens2 interface ip. So this is still a mistake.

[2019-09-21 06:42] Russia9 commented on #82943
Node ip in vpn network - 10.8.0.10 and not in vpn - 10.63.214.163.

[2019-09-21 06:46] Russia9 commented on #82943
I want all nodes to communicate using the tun0 interface, but now they communicate using the ens2 interface.

[2019-09-21 06:58] cyphar commented on #58512
[The work I'm doing with `openat2`](https://lwn.net/Articles/796868/) would allow for that type of access to be done safely (and [I'm also working on a library](https://github.com/openSUSE/libpathrs) which will do userspace emulation on older kernels). To be honest, I'm also equally nervous about running a command in a container and then using its output to do filesystem operations.

[2019-09-21 08:16] justaugustus commented on #78897
Feel free to reopen this, if it's still an issue.
/close

[2019-09-21 08:16] #78897 closed

[2019-09-21 08:31] xieyanker opened #82958 "The daemonset's pods and static pods are still Running when the node is NotReady"
**What happened**:

The daemonset's pods and static pods are still `Running` when the node is `NotReady`. When I stop the `docker` service or `kublet` service, even I shutdown the machine directly, the daemonset's pods and the static pods of this node will still be `Running` status.

[code]

**What you expected to happen**:

As far as I know, the daemonset's pods and static pods will be `NodeLost`

[2019-09-21 08:33] xieyanker commented on #82958
/sig api-machinery
/sig apps
/sig cli
/sig cluster-lifecycle
/sig node
/sig scheduling
/sig usability

[2019-09-21 10:13] cwdsuzhou commented on #82926
see this https://github.com/kubernetes/kubernetes/issues/74374

seems a similar issue, reason should be the race

[2019-09-21 10:14] cwdsuzhou commented on #82926
/assign

[2019-09-21 10:42] alvaroaleman opened #82960 "Controller manager keeps running and stops working after failed update leader lock"
**What happened**:

A cluster stopped working. The last log of the kube-controller manager was:
[code]
Restarting the kube-controller manager fixed it. `/healthz` was returning a 2XX the whole time.

**What you expected to happen**:

At least one of:
* `/healthz` returns a non 2XX
* The kube-controller-manager to crash
* The kube-controller-manager re-trying to get its lease

**How to reproduce it

[2019-09-21 10:56] cwdsuzhou commented on #82864
Seems we need change the command the check the existence of rbd-nbd

[2019-09-21 11:01] siwyd commented on #76531
@youurayy So considering this is merged into runc now, we have to wait until a new release is made of runc and then that release has to integrated into a new containerd release, correct? The current containerd 1.3 RC seems to use runc 1.0-rc8, which doesn't contain the fix, so I imagine we'll have to wait until a containerd 1.3.x release is made?

[2019-09-21 12:08] danwinship commented on #82361
@wjentner I see you have [filed a bug with Debian](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=939924). I don't really know Debian process very well... do you know what's likely to happen next? Is there some reason 1.8.3 is only in "buster-backports"? Is that like a temporary testing stage and the fixed package will eventually make its way into buster?

[2019-09-21 13:16] zouyee opened #82962 "docker_build_opts bound variable"
**What happened**:
when I run
`KUBE_GIT_VERSION=v1.17.0-alpha.0 KUBE_FASTBUILD=true  KUBE_BUILD_PULL_LATEST_IMAGES=n make release-images`, found bound variable err.

[code]
**What you expected to happen**:

Build success

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud pro

[2019-09-21 13:22] andyzhangx commented on #82948
/sig cloud-provider
/area provider/azure

[2019-09-21 14:01] feiskyer commented on #82948
@dharmab  Thanks for reporting the issue.

/assign

[2019-09-21 17:39] neolit123 commented on #82962
/sig release

[2019-09-21 18:15] luigi-riefolo commented on #60295
Maybe I can help.
/assign

[2019-09-21 18:42] #77004 closed

[2019-09-21 18:46] wjentner commented on #82361
@danwinship I don't know either. So far I have not received any reply. I also don't know why 1.8.3 is not in the stable release yet but to cite backports.debian.org:

Source: https://backports.debian.org/

Right now we are using the [workaround to use iptables-legacy](https://github.com/kubernetes/kubernetes/issues/82361#issue-489594945) and so far we did not experience any further problems.

[2019-09-21 18:59] danwinship commented on #82361
Oh, also, while iptables 1.8.2 continues to be problematic, the specific `KUBE-FIREWALL` spamming bug ought to be fixed in git master by #81517, which changes the way kubelet and kube-proxy monitor iptables. I was not planning to backport that PR though since it's not just a bugfix.

[2019-09-21 19:47] AnishShah opened #82970 "kubectl proxy and delete-context command should follow similar design pattern as other commands."
**What would you like to be added**:

Few days ago I watched this kubectl code base tour by @soltysh on Youtube
(https://www.youtube.com/watch?v=uz8TS3V9qqY). He talks about a design
pattern that almost every command follows. But I found out that some `kubectl` commands do not follow this design pattern.

- [x] `kubectl proxy`

- [ ] `kubectl config delete-context`

**Why is this needed**:

 All k

[2019-09-21 19:49] AnishShah commented on #82970
/sig cli

[2019-09-21 20:04] AnishShah commented on #82970
/good-first-issue

[2019-09-21 21:45] #76987 closed

[2019-09-21 22:19] mvladev commented on #79280
/remove-lifecycle stale

[2019-09-21 22:24] furlongce commented on #69696
It's not working for me, and the 'tain/toleration' workaround doesn't seem to work either. Does anyone have any other suggestions?

[2019-09-21 22:46] #75113 closed

[2019-09-21 23:30] bdowling commented on #81055
fwiw, to help others who encounter this, it *may* have been due to the seriously low tcp_mem in GKE container-os settings by default.  Not sure why the defaults are this low on a high memory node.  Increasing the tcp_mem params helped address `TCP: out of memory -- consider tuning tcp_mem` error and connection issues that we encountered again after the nodes we up for some time.

Not sure why GKE

[2019-09-22 03:51] #75247 closed

[2019-09-22 04:07] 41tair opened #82978 "kubeadm init --feature-gates panic"
**What happened**:
kubeadm init --feature-gates get panic
![image](https://user-images.githubusercontent.com/18530891/65382166-87068c00-dd31-11e9-8d01-05b35451eb5d.png)

**What you expected to happen**:
no panic
**How to reproduce it (as minimally and precisely as possible)**:
kubeadm init --feature-gates
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl vers

[2019-09-22 04:17] pavgup opened #82979 "kubectl get all not documented"
**What happened**: `kubectl get all` is not documented therefore `kubectl get -h` provides no content about this hidden, but powerful option

**What you expected to happen**: `kubectl get -h` provides the "all" resource as, at least, an example.

**How to reproduce it (as minimally and precisely as possible)**: `kubectl get -h`

**Anything else we need to know?**: nada

**Environment**:
- Kubernet

[2019-09-22 04:52] #71754 closed

[2019-09-22 04:53] jayco commented on #73297
Hi guys :)

I am using this at the moment and its working as expected, except that the annotation `service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm` is not setting the certificate for the NLB (works for the classic as expected). Just wondering if this is a know issue?
e.g:
[code]

[2019-09-22 04:57] mariusmitrofan commented on #73297
Same for me. I had to add to modify the listeners and add it manually

[2019-09-22 05:06] ernoaapa commented on #61572
I had case that my  `kubectl` config did not include the CA certificate because `insecure-skip-tls-verify:true` were set but found a nice workaround.
Each service account token, which by default Kubernetes creates for each namespace, includes also the CA certificate.

Here's once liner to get the certificate from the service account Secret
[code]

[2019-09-22 06:02] pavgup commented on #82979
/sig cli

[2019-09-22 06:18] meringu commented on #73297
What version of Kubernetes are you using? Looks like it made it into v1.15

[2019-09-22 06:45] jayco commented on #73297
Ahh ok - looks like 1.14, thanks for the heads up @meringu

[2019-09-22 07:31] Russia9 commented on #82943
/kind bug
/remove-tirage support

[2019-09-22 11:05] yks0000 opened #82982 "Cluster upgrade from 1.15.4 to 1.16.0 failing (Master NotReady) using kubeadm"
**What happened**:

Cluster upgrade from 1.15.4 to 1.16.0 failing (Master NotReady) using kubeadm.

Steps followed as documented in [official guide](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/)

**Error:**

[code]

File and directory permission:

[code]

**What you expected to happen**:

Post cluster upgrade master should be in ready state.

**How to reproduce it (

[2019-09-22 11:06] yks0000 commented on #82982
/sig bugs

[2019-09-22 13:45] deepaksood619 opened #82987 "Liveness probe errored: rpc error: code = DeadlineExceeded desc = context deadline exceeded"
**What happened**:
I am getting `Liveness probe errored: rpc error: code = DeadlineExceeded desc = context deadline exceeded` error using execAction liveness probe Also the container is not restarted when this fails.
[code]

**What you expected to happen**:
Liveness probe failed after failureThreshold and pod restarted

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**An

[2019-09-22 13:48] deepaksood619 commented on #82987
/sig cluster-lifecycle

[2019-09-22 14:03] nitkon opened #82988 "Kubelet fails to start with 6443: connection refused, kubeadm 1.16, Ubuntu 18.04."
**What happened**:

[code]

**What you expected to happen**:
kubernetes installs successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Use the above kubeadm command on Ubuntu 1804 with crio as the CRI

**Anything else we need to know?**:

- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
BareMetal Server.
- OS (e.g: `cat /et

[2019-09-22 14:04] olemarkus commented on #79319
/remove-lifecycle stale

[2019-09-22 16:05] tedyu commented on #82988
[code]

[2019-09-22 16:12] tedyu commented on #82982
The following validation didn't pass:
[code]

[2019-09-22 16:37] yks0000 commented on #82982
@tedyu I see `/etc/cni/net.d/10-flannel.conflist` is present. What other `confList` it is trying to find between 1.15.4 and 1.16.0

[2019-09-22 16:52] tnqn opened #82995 "EndpointSliceController keeps enqueuing deleted service even its cleanup is successful"
**What happened**:
This requires 1.16 alpha feature: Endpoint Slices being enabled.

After deleting a `Service`, EndpointSliceController kept enqueuing the service after syncing it successfully, until its retry budget exceeded. And the logs are misleading by indicating something wrong happened while the cleanup has been executed successfully:
[code]

**What you expected to happen**:
The deletion s

[2019-09-22 17:04] #77075 closed

[2019-09-22 17:04] #77078 closed

[2019-09-22 17:07] tedyu commented on #82982
I tried to follow CNIConfig#ValidateNetworkList but haven't found where the '&{cbr0  false [0xc0017990c0' error might have come from.

[2019-09-22 17:11] tnqn commented on #82995
/assign

[2019-09-22 17:43] luigi-riefolo commented on #82970
@AnishShah can you provide an example of the desired functionality/change?

[2019-09-22 17:47] vbouchaud commented on #71305
For future readers not able to make kube-proxy work for some reasons, you might want to look for a replacement: https://github.com/cloudnativelabs/kube-router (it does the job plus some other stuff, please take a look at the documentation before doing anything)

[2019-09-22 17:47] neolit123 commented on #82978
@41tair
what version of kubeadm are you using?

[2019-09-22 17:47] neolit123 commented on #82978
/area kubeadm
/sig cluster-lifecycle

[2019-09-22 17:48] neolit123 commented on #82978
cc @Arvinderpal

[2019-09-22 19:53] #82978 closed

[2019-09-22 23:36] nbroeking opened #82997 "1.16 upgrade causes nodes to never enter ready state arm64"
**What happened**:
Upgrading to 1.16.0 causes Cluster nodes to never be ready on arm64

**What you expected to happen**:
Cluster should become ready

**How to reproduce it (as minimally and precisely as possible)**:
1.) ```kubeadm init --pod-network-cidr=10.244.0.0/16```
2.) Join from 2 other arm boards using command outputed from kubeadm init

**Anything else we need to know?**:
Docker version 0

[2019-09-23 01:35] plumberofdeath commented on #82997
Can confirm, **both** on Centos 7 x86_64 and Raspbian armv7l.  After upgrading to v1.16.0 previously functional nodes all report:

A downgrade to 15.04 and a reset restored functionality.

[2019-09-23 01:39] nbroeking commented on #82997
@kubernetes/Network I think this is the right sig ^

[2019-09-23 01:43] KeepTheBeats commented on #39758
After https://github.com/kubernetes/kubernetes/pull/64601, we can change loglevel of kubelet and kube-apiserver via “/debug/flags/v”.
But this is not support all other components now.
Is it correct?

[2019-09-23 01:48] zouyee commented on #82988
[code]

[2019-09-23 01:48] zouyee commented on #82988
/sig node

[2019-09-23 02:01] duiniwukenaihe commented on #82982
I also have this problem   ，1.15.4 update 1.16.0.

[2019-09-23 02:21] luispabon commented on #79224
There's no reason to copy the value of the secret in the open into the config map value. Kubernetes should instead use an internal reference to the secret.

Either that, or allow defining templates for environment variables from multiple sources (configMap and secrets) that can also be referenced from envFrom.

This is essential to keep service definitions concise - 10 env vars rapidly multiply wh

[2019-09-23 02:26] tedyu commented on #82997
w.r.t. 'network plugin is not ready', can you show more from the log ?
[code]
Looks like getDefaultCNINetwork should have given some detail in the log.

[2019-09-23 02:37] tedyu commented on #82982
getDefaultCNINetwork logs several warnings. Anything else prior to 'Unable to update cni config' ?

Thanks

[2019-09-23 02:44] anstns commented on #82937
No other errors were found.

[2019-09-23 02:45] anstns commented on #82937
No other errors were found.

[2019-09-23 02:55] brentpearson opened #82999 "Going from single master to 3 masters triggers Fabric8 Java client watcher EOFException+reconnect"
I've got a Java application that uses the Fabric8 kubernetes-client to create a job, and then set a watch on it. I recently started seeing a new warning msg in the application log.

I'm using K8s 1.15.3 and kubernetes-client 4.5.2.

I have a K8s cluster with 3 master nodes and 1 worker/minion node (adding more, but was testing one first when I came across this issue). All are CentOs 7.7.

The Java

[2019-09-23 02:56] brentpearson commented on #82999
/sig api-machinery

[2019-09-23 02:58] HelenaZheng opened #83000 "k8s node NotReady"
Today I found one node status not good suddenly， the detail as below.
what's problem， and how can I fix？

30.68.0.33   NotReady,SchedulingDisabled   <none>    25d       v1.11.2

Sep 20 12:39:24 b-app-ps-225 kubelet[46044]: I0920 12:39:24.664733   46044 reflector.go:240] Listing and watching *v1.Pod from k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:47
Sep 20 12:39:24 b-app-ps-225 kubelet[46044

[2019-09-23 03:43] hwdef commented on #81427
/reopen

[2019-09-23 03:46] bitglue commented on #23130
/remove-lifecycle stale

[2019-09-23 04:07] kadisi commented on #82880
please check `--pod-infra-container-image` config of kubelet

[2019-09-23 04:11] HelenaZheng commented on #83000
@/sig Node
@kubernetes/sig-Node-NotReady

[2019-09-23 04:12] SataQiu commented on #82531
/cc

[2019-09-23 04:24] zouyee commented on #83000
`Failed to list *v1.Pod: Unauthorized`
You need to make sure api server could be connected.

[2019-09-23 04:36] HelenaZheng commented on #83000
How to make sure？

[2019-09-23 04:39] HelenaZheng opened #83002 "K8s node NotReady"
One of my nodes in K8S not ready， as below

10.40.24.49   NotReady   <none>    108d      v1.11.2

[root@idp-01-p2pi-k8s-node-10.40.24.49]#
[~]#journalctl -f -u kubelet
-- Logs begin at Wed 2019-08-14 20:57:07 WIB. --
Sep 20 15:22:42 ida-lj4700146 kubelet[3975]: I0920 15:22:42.117196    3975 fsHandler.go:135] du and find on following dirs took 3.445096248s: [/wls/docker/overlay2/8290844e67d76cab07a

[2019-09-23 05:32] HelenaZheng commented on #83002
@/sig Node
@kubernetes/sig-Node-NotReady

[2019-09-23 05:49] #82944 closed

[2019-09-23 05:51] plumberofdeath commented on #82997
I rebroke my raspbian node and collected this from the logs:

[code]

Specifically this part in the CNI configuration validation seems pertinent:

Looking at "/etc/cni/net.d/10-flannel.conflist" it is, in fact, missing "cniVersion" (i.e. "cniVersion": "\<VERSION\>,"):

[code]

I understand that kubernetes 1.6 requires CNI plugin version 0.5.1 or later

[2019-09-23 06:01] tianyuansun commented on #74991
any update ? maybe i can help to fix this issue

[2019-09-23 06:23] tianyuansun commented on #80288
endpoints not in api server ? `kubectl get ep` can see that endpoint ? @mrwonkerz

[2019-09-23 06:40] eddiesimeon commented on #82982
seems 1.16.0 new validates cni version in cni config
the follow pr fixes the issue -> https://github.com/coreos/flannel/pull/1181

quick fix:
update file to /etc/cni/net.d/10-flannel.conflist to include the following just as it is in the PR
cniVersion: "0.2.0"

[2019-09-23 06:44] LZhipeng commented on #82880
@kadisi Thanks a lot!
This issue resolved by:
--pod-infra-container-image=mirrorgooglecontainers/pause-arm64:3.0

[2019-09-23 06:44] #82880 closed

[2019-09-23 07:12] weizhouBlue opened #83006 "fialed to test IPv6DualStack feature of release version 1.16.0"
**What happened**:
(1)
 I deploy a single-node cluster of K8S version 1.16 , with kubeadm

(2)
I check each K8S' components and print them in the following , which I think, conform to the IPv6DualStack requirement of relevant K8S components , referring to https://kubernetes.io/docs/concepts/services-networking/dual-stack/#enable-ipv4-ipv6-dual-stack

[code]

[code]

[code]

(3)
However , I failed

[2019-09-23 07:13] yks0000 commented on #82982
@eddiesimeon  Thanks, that fix the issue. Closing this issue.

[2019-09-23 07:13] #82982 closed

[2019-09-23 07:23] nikhita commented on #79347
/remove-lifecycle stale

[2019-09-23 07:23] weizhouBlue commented on #83006
/cc @kubernetes/sig-network-bugs

[2019-09-23 07:28] lukaszgryglicki commented on #82915
I've upgraded cluster from `v1.14.2` -> `v1.15.4` -> `v1.16.0`, I'll let you know if that happens again. Thanks for helping.

[2019-09-23 07:31] hchenxa opened #83007 "update the daemonSet default updateStrategy type to OnDelete"
**What happened**:

the default DaemonSetUpdateStrategyType was changed to Ondelete by default, but the document still say that the default value was `RollingUpdate`

refer doc https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/#daemonset-update-strategy.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2019-09-23 07:31] hchenxa commented on #83007
refer the code https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/types.go#L506 for the default value of daemonset updateStrategytype

[2019-09-23 07:33] hchenxa commented on #83007
/sig docs

[2019-09-23 07:59] HelenaZheng commented on #83002
I restart the kubelet service， the node status change to Ready.
But I do not know what cause the node not ready.
Can anybody find out?

[2019-09-23 08:06] Joseph-Irving commented on #83007
The default update strategy for Daemonset should be `RollingUpdate` see here https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/v1/defaults.go#L72, I believe that code comment that you linked to is mistaken.

[2019-09-23 08:12] sjkeerthi opened #83012 "Simplify Installation of K8s"
**Kubernetes Installation Make Easy**:

**I feel lets make to improve the Kubernetes installation little easy rather doing to many stuff in too many nodes of commands.*:

How Can we approach:

I feel that writing up a config file of which node to be controlplane / etcd / worker and Type of Network with Kube-install up should do all the necessary install on the nodes

To add worker node just update

[2019-09-23 08:17] wojtek-t commented on #77733
/remove-lifecycle stale

/assign @krzysied

[2019-09-23 08:24] mm4tt commented on #82818
Reverting DeamonSets didn't help, the job still takes ~3h+ to complete.
The increasing in test run time correlates with enabling jobs, let's disable them in 5K to see if it helps

[2019-09-23 08:24] aojea commented on #83006
hi @weizhouBlue , what container runtime are you using CRI-O, containerd or docker?

[2019-09-23 08:36] weizhouBlue commented on #83006
hi @aojea

I use docker

[code]

and , I use released kubeadm with verision 1.16

[code]

the following is my example to deploy the cluster , and I did not do other manual configuration

[code]

[2019-09-23 08:44] gp42 commented on #76308
Same issue here. We are using namespaces other than kube-system for system pods as it is getting too crowded, therefore we would like to run cluster-node-critical pods in other namespaces.

[2019-09-23 08:45] weizhouBlue commented on #83006
BTW, one doubt , the verison 1.16 of the kubeadm does not support to pass a comma separated list of to --serviceSubnet with "IPv4, IPv6"  , and the kube-apiserver do not support to pass a comma separated list of to  --service-cluster-ip-range with "IPv4, IPv6" , which seems to influence how the cluster ip is assigned with an IPv6 address . Is that right ? thanks

[2019-09-23 08:46] RainbowMango commented on #82970
/assign @AnishShah
/remove-help
/remove-good-first-issue

[2019-09-23 08:48] aojea commented on #83006
that's the missing patch in kubeadm I mentioned ;) https://github.com/kubernetes/kubernetes/pull/82473 .

Please, can you create a pod and paste the output of the IP addresses inside the pod?
`kubectl exec -it POD_UUID ip a` ?

[2019-09-23 09:01] weizhouBlue commented on #83006
[code]

@aojea , although the patch you mentioned should be applied to fix kubeadm, but , after the cluster deployed , I try to modify the field --service-cluster-ip-range of file /etc/kubernetes/manifests/kube-apiserver.yaml , to "IPv4, IPv6" format, and the kube-apiserver failed to work , so , is it another patch necessary to make kube-apiserver support this to work ? thanks

[2019-09-23 09:05] weizhouBlue commented on #83006
except checking the dual IP of pod , it also failed to find the IPv6 address of node and cluster ip
 on the following doc :
https://kubernetes.io/docs/tasks/network/validate-dual-stack/#validate-addressing
https://kubernetes.io/docs/tasks/network/validate-dual-stack/#validate-services

[2019-09-23 09:20] snowball77 commented on #82997
I can confirm the issue on Ubuntu 18.04 with all patches and kubernetes-cni 0.7.5. Is there a way to manually add a CNI version line to the config? How should it look like?

[2019-09-23 09:22] sampleref commented on #74262
This helped

[2019-09-23 09:33] wojtek-t opened #83016 "Regression of watch bookmarks"
It seems that again we started sending waaaay more watch bookmarks:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadInitEventsCount&resource=*core.Secret

The regression happened between these two runs:
https://github.com/kubernetes/kubernetes/compare/c7c89f8c6...84fe3db5c

@kubernetes/sig-scalability-bugs
@mm4tt

[2019-09-23 09:33] caoruidong commented on #82997
See https://stackoverflow.com/questions/58037620/how-to-fix-flannel-cni-plugin-error-plugin-flannel-、does-not-support-config-ve

[2019-09-23 09:33] snowball77 commented on #82997
After finding a variant of the config file online I used
`{
  "name": "cbr0",
  "cniVersion": "0.3.1",
  "plugins": [
    {
      "type": "flannel",
      "delegate": {
        "hairpinMode": true,
        "isDefaultGateway": true
      }
    },
    {
      "type": "portmap",
      "capabilities": {
        "portMappings": true
      }
    }
  ]
}
`
Then it seemed to work, at least the node become

[2019-09-23 09:44] mm4tt commented on #83016
It correlates with enabling secrets in gce-5K - https://github.com/kubernetes/test-infra/pull/14189

[2019-09-23 09:46] aojea commented on #83006
for services you need to set the `--service-cluster-ip-range` to dual stack, without the missing kubeadm patch you have to do it manually per the documentation https://kubernetes.io/docs/concepts/services-networking/dual-stack/#enable-ipv4-ipv6-dual-stack. If is not working, please check the logs to try to find what's it causing to fail.

For nodes dual-stack ip address validation, I guess that it

[2019-09-23 09:49] wojtek-t commented on #83016
Yes. So this probably explains it.
We basically create O(15k) secrets during roughly 4 hours - so O(1) secret per second on average.
Given we send bookmark ~2s before closing watch, there are two event happening between this and when watch is restarted.

So given we have O(150k) watches (for default accounts) [well, the number is growing over time from zero as we create pods], and we restart watch

[2019-09-23 09:49] #83016 closed

[2019-09-23 09:52] #81590 closed

[2019-09-23 09:59] sampleref commented on #48798
kubectl -n kube-system apply -f https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml
clusterrole.rbac.authorization.k8s.io/flannel created
clusterrolebinding.rbac.authorization.k8s.io/flannel created
serviceaccount/flannel created
configmap/kube-flannel-cfg created
unable to recognize "https://raw.githubusercontent.com/coreos/flan

[2019-09-23 10:00] snowball77 commented on #82997
It would be good for kubeadm to check for this in the configfile beforehand and give a warning or error or update the file accordingly.

[2019-09-23 10:44] jkaniuk commented on #82936
Newer tests are green.

Could be closed.

[2019-09-23 10:48] #82936 closed

[2019-09-23 10:57] shacharSilbert commented on #39824
/reopen

Any other way I could test that my PDB works if I can't delete pods and see that it doesn't delete?

And the guys here are right, there is a documentation issue where it is understood deleting a pod should take PDB into account.

[2019-09-23 12:22] rikatz commented on #82943
OK, got it. Will try some scenarios with multi homed clusters to see if is this is a bug or only a config ;)

[2019-09-23 12:23] rikatz commented on #82943
/sig cluster-lifecycle
/remove-sig network

[2019-09-23 12:23] #77125 closed

[2019-09-23 12:35] paulhodson commented on #79228
/remove-lifecycle stale

[2019-09-23 13:03] #82487 closed

[2019-09-23 13:21] jkaniuk opened #83020 "[Failing Test] GCE 5K Performance - COS regression"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
density & load

**Since when has it been failing**:
2019-09-20

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
etcd very slow during log rotation
problems started after COS image update: https://github.com/kubernetes/kubernetes/pull

[2019-09-23 13:26] jkaniuk commented on #83020
API call latency after change:
![image](https://user-images.githubusercontent.com/5487158/65429422-6e23d680-de16-11e9-923d-d79273a65fa8.png)

etcd latency:
![image](https://user-images.githubusercontent.com/5487158/65429470-83990080-de16-11e9-89e8-9de50821df9f.png)

[2019-09-23 13:27] jkaniuk commented on #83020
etcd events logs (timing of etcd and etcd-events correlate with each other):
2019-09-20 17:50:48.313808 W | wal: sync duration of 1.144146856s, expected less than 1s
2019-09-20 18:35:50.975444 W | wal: sync duration of 1.036616195s, expected less than 1s
2019-09-20 18:35:56.176074 W | wal: sync duration of 1.036733847s, expected less than 1s
2019-09-20 19:25:23.320141 W | wal: sync duration of 1.0

[2019-09-23 13:27] jkaniuk commented on #83020
First over 1s etcd latency was recorded at 17:70 so on first log rotation:
2019-09-20 17:50:19.606128 W | etcdserver: request "header:<ID:936868911331483405 username:\"client\" auth_revision:1 > compaction:<revision:2185559 > " with result "size:7" took too long (147.923808ms) to execute
2019-09-20 17:50:22.328867 W | etcdserver: request "header:<ID:936868911331484755 username:\"client\" auth_revi

[2019-09-23 13:29] jkaniuk commented on #83020
COS image updated - https://github.com/kubernetes/kubernetes/pull/82766

Correlates exactly with failed runs

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1174730449126166529 (no problems with etcd, only daemonsets due to experimental test enabled):
Sep 19 17:14:36.076636 localhost kernel: Linux version 4.14.94+ (chrome-bot@swarm-cros-608) (gcc versi

[2019-09-23 13:29] yue9944882 commented on #60937
/remove-lifecycle stale

[2019-09-23 13:31] mm4tt commented on #73519
This happens as a part of https://github.com/kubernetes/perf-tests/issues/498

[2019-09-23 13:31] mm4tt commented on #73519
/remove-lifecycle stale

[2019-09-23 13:36] liggitt commented on #76674
should we be switching clients from using stable APIs (v1) to using beta APIs (events/v1beta1)? that means that clusters currently running only stable APIs would no longer work properly, right?

[2019-09-23 13:37] liggitt commented on #82819
/hold
for https://github.com/kubernetes/kubernetes/issues/76674#issuecomment-534101819

[2019-09-23 13:37] liggitt commented on #82827
/hold
for https://github.com/kubernetes/kubernetes/issues/76674#issuecomment-534101819

[2019-09-23 13:37] liggitt commented on #82846
/hold
for https://github.com/kubernetes/kubernetes/issues/76674#issuecomment-534101819

[2019-09-23 13:38] zouyee commented on #83002
may be apiserver connection break

[2019-09-23 14:23] vamossagar12 commented on #82590
hi @thockin i can assist you with this one.

[2019-09-23 14:34] yastij commented on #76674
@liggitt - https://github.com/kubernetes/kubernetes/pull/49112 was introduced a while ago.
 IIRC it introduced conversions, so the rollout/rollback shouldn't introduce any data loss (the v1 API contains all the fields of added in v1beta1). Perhaps you were talking about something else ?

[2019-09-23 14:39] liggitt commented on #76674
Yes, a cluster that chooses to only enable stable APIs. Currently, the core v1 events API is what components use to report events. I would not expect the core kubernetes components to switch to a less stable API for event reporting (i.e. they should wait until events.k8s.io/v1 is available to switch to it)

[2019-09-23 14:40] plumberofdeath commented on #82997
`cniVersion` is the version of the CNI interface that talks to flannel, not the version of the plugin (to correct myself above), versions listed [here](https://github.com/containernetworking/cni/blob/master/SPEC.md) and the recommended version is '0.3.1', which snowball77 posted above, same syntax.

The conflist is created by applying `kube-flannel.yml`, pulled from https://github.com/coreos/flann

[2019-09-23 14:43] JTarasovic opened #83024 "`kubectl get componentstatus` fails to write as table"
**What happened**:
[code]

**What you expected to happen**:
`get componentstatus` should be able to have its results formated as a table by kubectl

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
-o yaml or json work as expected
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
also ran against 1.16.0 servers with

[2019-09-23 14:47] snowball77 commented on #82997
Thank you for the clarification. In the meanwhile I figured out that the cni file gets overwritten every time kubelet starts. So I would welcome a permanent fix. Any workaround how I might update the flannel.yml file myself to fix it?

[2019-09-23 14:52] nbroeking commented on #82997
@tedyu Here are some logs

[code]

[code]

[code]

[2019-09-23 14:57] yastij commented on #76674
@liggitt - in term of API both are aligned (core/v1 and events.k8s.io/v1beta1). we don't want to switch all the clients. The plan would be to switch the kubelet, move to events.k8s.io to v1, then switch other clients.

Last release https://github.com/kubernetes/kubernetes/pull/78447 moved the scheduler to use `events.k8s.io/v1beta1` which would help us to graduate the API

cc @wojtek-t

[2019-09-23 14:57] wojtek-t commented on #76674
Hmm - I was actually basing it on the KEP; https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20190131-event-series.md but now I realized that's not actually what it is saying.

That said, I also wanted to point out that we already migrated scheduler to new events (in 1.16).

[2019-09-23 15:03] yastij commented on #76674
@liggitt @wojtek-t - we can revisit the KEP to make the kubelet migration gate the GA graduation, this would enable us to get a signal early in the release (and we can always revert it if we find issues). Once this is done, we can move to GA then migrate the other clients ?

[2019-09-23 15:03] #82904 closed

[2019-09-23 15:05] liggitt commented on #76674
We probably should not have done that. Moving from a stable API to a beta API is not desired.

[2019-09-23 15:55] JTarasovic commented on #83024
/sig cli

[2019-09-23 15:59] ahmad-diaa commented on #72547
@alculquicondor sgtm, I did not know we were planning to keep `configFactoryArgs`. I just have a question regarding the following:

Did it mean to make sure whether it is necessary to be kept exported or not? or just use inline functions?

[2019-09-23 16:22] OJFord commented on #64623
/remove-lifecycle-stale

[2019-09-23 16:33] plumberofdeath commented on #82997
I was able to resolve this by applying a fixed `kube-flannel.yml` (with `cniVersion`)  and then deleting the impacted flannel pod so that it restarted; now my test upgraded nodes are reporting Ready.  There is a PR for `kube-flannel.yml` from lwr20 which should resolve this issue going forward.

[2019-09-23 16:37] OJFord commented on #64623
/remove-lifecycle stale

[2019-09-23 16:42] alculquicondor commented on #72547
Not really. It's just harder to envision that removal at this point. We can reevaluate once the previous steps are done.

Yes, exported or not.

[2019-09-23 16:53] lukeschlather opened #83026 "Restart limit for deployments"
https://github.com/kubernetes/kubernetes/issues/49466 suggests an option to limit the restart count for pods. Since deployments are limited to restartPolicy "Always" this isn't useful for deployments.

It would be great if there were a variant of restartCountLimit that applied only during new deployments. The basic idea being that when deploying a new container, there's a high probability that any

[2019-09-23 16:57] lukeschlather commented on #83026
/sig apps

[2019-09-23 17:17] BenTheElder commented on #78271
you can exclude _all_ of them at build time now, the CCM is the way forward though as all cloud providers are going out of tree

[2019-09-23 17:22] jeremyje commented on #82997
I can confirm that on a vanilla install of Ubuntu 18.04 LTS (fully updated) and running through the setup steps as closely as I can, https://gist.github.com/jeremyje/14e26148909734ebe1d6395cc8b0e156 this fix works.

[2019-09-23 17:50] plumberofdeath commented on #82997
@jeremyje `sudo sed -i '/"name": "cbr0",/a"cniVersion": "0.2.0",' /etc/cni/net.d/10-flannel.conflist` is a temporary fix and will be removed if the flannel pod is restarted.

[2019-09-23 17:57] Kent-H commented on #79175
/remove-lifecycle stale

[2019-09-23 18:17] liggitt commented on #83024
This actually means the apiserver is not returning table results.

/remove-sig cli

not sure which sig owns this API, so taking a guess
/sig api-machinery cluster-lifecycle

[2019-09-23 18:29] #73392 closed

[2019-09-23 18:35] jqmichael commented on #77131
If it's reproducible with k8s mainline, shouldn't the doc be updated?

https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/#run-the-second-scheduler-in-the-cluster

[2019-09-23 18:43] nerzhul opened #83028 "kube-apiserver: failover on multi-member etcd cluster fails certificate check on DNS mismatch"
**What happened**: Kubernetes APIServer connects to etcd in HTTPS but the certificate check is invalid

**What you expected to happen**: When kube-apiserver connect to kube-control-plane-mo2phooj with the correct certificate it should not fail because it search for another etcd node certificate.

**How to reproduce it (as minimally and precisely as possible)**: do a etcd 3.4 HTTPS setup with 3 htt

[2019-09-23 18:47] nerzhul commented on #83028
/sig api-machinery

[2019-09-23 19:08] liggitt commented on #83028
do you have your full apiserver invocation (specifically the `--etcd-servers` argument)?

/cc @jpbetz

[2019-09-23 19:56] chrisob commented on #66017
/reopen

[2019-09-23 21:02] jpbetz commented on #62872
/assign

[2019-09-23 21:20] jpbetz commented on #63677
Just to get a ballpark sense of how some alternative might compare:
- https://github.com/alecthomas/go_serialization_benchmarkshttp://ugorji.net/blog/benchmarking-serialization-in-go

[2019-09-23 21:24] roycaihw commented on #82960
/assign @cheftako

[2019-09-23 21:28] roycaihw commented on #83024
cc @smarterclayton

[2019-09-23 21:32] #77020 closed

[2019-09-23 21:55] roycaihw commented on #82942
/cc

[2019-09-23 21:56] #83020 closed

[2019-09-23 21:59] roycaihw commented on #82999
Could you file an issue in the Fabric8 kubernetes-client repo? I wonder if this is a problem in the client. Is this producible with client-go?

[2019-09-23 22:04] nerzhul commented on #83028
Hello @liggitt here it is:

[code]
Please note i have the same command (on amd64 production) but in kubernetes 1.15.4 without any problem. It seems there is a regression in 1.16.0 code

[2019-09-23 22:15] brentpearson commented on #82999
I actually did that first, but it hasn't gotten any responses. Doesn't seem to be much activity over there.
https://github.com/fabric8io/kubernetes-client/issues/1773

I haven't tried it with the client-go... is that a Java client? I am using the io.kubernetes Java client as well as the Fabric8 one, so I will probably try switching the watch from Fabric8 to io.kubernetes and see if that works (alt

[2019-09-23 22:19] liggitt commented on #83028
likely related to https://github.com/kubernetes/kubernetes/pull/81434, which resolved a bug with TLS handshaking (https://github.com/etcd-io/etcd/pull/10911)

/assign @jpbetz @gyuho

[2019-09-23 22:28] nerzhul commented on #83028
@liggitt note the api server works, but if kube-control-plane-baeg4ahr.k8s.lan (which is the currently searched apiserver is broken, /healthz return 500 but apiserver works anyway in degraded etcd mode.
Also please note in the regular mode (all nodes up), i have this logs many times in the logs:
[code]

[2019-09-23 22:31] jpbetz commented on #83028
Agree with @liggitt that https://github.com/kubernetes/kubernetes/issues/72102#issuecomment-460303835 is the mostly likely cause. I'd check if that resolves the problem first.

[2019-09-23 22:33] #74876 closed

[2019-09-23 22:35] roycaihw commented on #82999
[client-go](https://github.com/kubernetes/client-go) is a Golang client which is also used by Kubernetes itself. It looks like the io.kubernetes Java client supports [watch](https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/WatchExample.java) as well

[2019-09-23 23:00] Nowaker commented on #82440
This is affecting me too. In my case periodSeconds for readiness and liveness is 10s. However, I can see in `pstree` that a `runc` process is **constantly** spawned in any container that has probes defined. With a liveness probe period of 30 seconds, and readiness probe period of 5 seconds, we should NOT see this happen this often.

[code]

Describe:

[code]

Difference in CPU idle between running

[2019-09-23 23:07] ambis commented on #67966
For anyone ending up here via google for this very issue of annotations not going through, my error was ultimately that I had `nginx.ingress.kubernetes.io/limit-rps: 10`... This was a value of 10 as a yaml integer, where as annotation values can only be strings, so modifying this line to `nginx.ingress.kubernetes.io/limit-rps: "10"`, all annotations went through OK.

Would've been nice to get some

[2019-09-23 23:17] jennybuckley commented on #82046
Is it really right to not go through, say, the regular deployment mutating admission/webhooks when someone modifies a deployment through `/scale`? Because that seems to be the current behavior.

For example, if I made a mutating webhook which maintains a label on deployments based on the replica count, it wouldn't work since someone could get around it by doing a `/scale`