[2016-03-28 23:16] rata commented on #23174
@justinsb sure, just ask! I don't have much experience, though.

The new repo that @mikedanese suggest, when using terraform at least, IIUC will solve issues like https://github.com/kubernetes/kubernetes/issues/23298#issuecomment-199890088 as you describe in which state things should be and it does what it is needed to achieve it. So, the new policy would have just been updated and that's all, I *

[2016-03-28 23:18] dchen1107 commented on #22166
This failure is due to kube-proxy image is not successfully loaded to docker through docker load.

[2016-03-28 23:20] dchen1107 commented on #22166
Docker load sometimes hang. It is a known issue. And the script detects the hang, and restarts the docker. The problem is go away. This won't happen at real production. Since it is rare and not happen lately, I am closing this one for now.

[2016-03-28 23:20] #22166 closed

[2016-03-28 23:23] dchen1107 commented on #22603
We need to figure out a way to test docker pull reliably same / similar as what we are using at production, but not much latency introduced to test.

[2016-03-28 23:31] smarterclayton commented on #23557
+1

[2016-03-28 23:37] ArtfulCoder commented on #23505
in the yaml, can you just say cluster.local (minus the double quotes) and see if it helps

[2016-03-28 23:49] pwittrock commented on #23465
@broady I ran into this exact same thing when going through this example, and tried to address it in the rc -> deployment update.  Would you take a look at the current version of the doc on [kubernetes.io](http://kubernetes.io/docs/hellonode/) and tell me if it is sufficiently clear?  Would you file a separate issue for adding a PENDING message for the EXTERNAL_IP?

[2016-03-28 23:49] tooda02 commented on #23505
I've done that (sorry for not noticing this issue earlier).  It improves the look of the output from etcdctl, but unfortunately the nslookup still fails:

    [david@centos dns]$ kcsys exec kube-dns-v11-84yia  -c etcd -- /usr/local/bin/etcdctl ls --recursive
    /skydns
    /skydns/local
    /skydns/local/cluster
    /skydns/local/cluster/svc
    /skydns/local/cluster/svc/kube-system
    /skydns/l

[2016-03-28 23:50] lavalamp commented on #23557
I can live with that.

On Mon, Mar 28, 2016 at 4:31 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-28 23:50] pwittrock commented on #23465
This should be addressed by PRs #231 and #248

[2016-03-28 23:51] dchen1107 commented on #22639
The failure is the container is not started properly here:

[code]

The root cause of the container start is a known race when applying oom_score_adj by scanning cgroup.procs when a process might be forked right before Kubelet writes its oom_score_adj. The race should be rare and the problem should be handled by https://github.com/kubernetes/kubernetes/pull/21741

[2016-03-28 23:51] dchen1107 commented on #22639
I am leaving this one open to see if https://github.com/kubernetes/kubernetes/pull/21741 fixed the issue.

[2016-03-28 23:53] jason-riddle commented on #23517
So I ran both commands (with sensitive info removed).

[code]

[code]

[2016-03-28 23:55] broady opened #23562 "get services: add PENDING state for EXTERNAL-IP"
After calling `expose --type=LoadBalancer`, a call to `get services` will print something like this:

[code]

kubectl should show a `PENDING` state to indicate to the user that something is happening behind the scenes.

[2016-03-28 23:55] broady commented on #23465
It LGTM now. This is great: `kubectl scale deployment hello-node --replicas=4` !

Filed #23562 for the PENDING state for external-ip.

[2016-03-28 23:55] #23465 closed

[2016-03-28 23:56] Random-Liu opened #23563 "Kubelet: Switch to Docker engine-api and add timeout for all docker calls"
From the first release of Kubernetes, we have been using [go-dockerclient](https://github.com/fsouza/go-dockerclient). It is reliable and updated frequently. However, we still met some problems when using it:
* **No operation timeout.** Functions in go-dockerclient don’t have timeout. Once the Docker daemon hangs, these caller will also hang forever. (Related issues: #9896, #13934, #21029, #21821,

[2016-03-28 23:56] nikhiljindal commented on #23557
Great. Looks like we have consensus on adding a top-level directory named `federation` and putting ubernetes code there.

There is a somewhat related discussion on what should be the API groupname for Ubernetes resources (like `cluster`, which is used to keep track of clusters registered with the ubernetes server). I assume we can use `federation` there as well.

[2016-03-28 23:56] spheromak opened #23564 "kubectl apply leaks secret data"
when using `kubectl apply` for secrets the annotation will store the secret data, making it visible to `kubectl describe`

[2016-03-28 23:58] dchen1107 commented on #22819
Do we have more instances with the same failure here? The problem is for this particular docker pull etcd:2.2.1 operation takes long time.

[2016-03-28 23:59] Random-Liu commented on #20895
Hi, @cyphar~ I'll start working on this. Would you mind I close this one, and track this issue here #23563?

[2016-03-29 00:39] quinton-hoole commented on #23557
Cool.  I'm good with that in principle.  We just need to make sure that existing Kubernetes API clients, config files etc work correctly against Ubernetes, ideally with zero change, or in the worst case with trivially small change (e.g. a change to an API group name in one place the config).  Daniel and I discussed this briefly this morning. We don't forsee it being a problem - I just want to make

[2016-03-29 00:52] madhusudancs commented on #23557
@quinton-hoole Sure, point noted.

[2016-03-29 01:07] pires commented on #22266
@bprashanth unfortunately, I can't provide logs since I've destroyed said cluster and am now running new 1.2.0 ones and doesn't seem to have the same behavior.

However, I can assure you I set compute r/w scope. Here's the instructions I used back then:
[code]

[2016-03-29 01:07] #22266 closed

[2016-03-29 01:08] therc commented on #23298
The keyring code turns out to be more complicated than it appeared at first. I changed it to keep a map of paths->providers instead of paths->credentials, in order to defer credential lookup, but the image puller's Pull() call in both Docker and rkt glue code builds a keyring on the fly by merging Docker credentials from the pod's secrets (if any) with the credentialprovider's keyring (by calling

[2016-03-29 01:28] madhusudancs commented on #23269
@neicy exact details still needs to be worked out. And may be others have thoughts too. Please feel free to pitch in. My suggestion was (and still is) to introduce new API types in Ubernetes API server. These types are actually new Go struct types in the code, but they mirror the fields in Kubernetes API server and add Ubernetes (cluster) specific information. @nikhiljindal also suggested that the

[2016-03-29 01:48] cyphar commented on #20895
Sure.

[2016-03-29 01:48] #20895 closed

[2016-03-29 02:04] Random-Liu commented on #20895
@cyphar Thanks! :)

[2016-03-29 02:14] smarterclayton commented on #7686
This was fixed in 1.2

[2016-03-29 02:14] #7686 closed

[2016-03-29 02:18] smarterclayton commented on #1589
Opened https://github.com/kubernetes/kubernetes/pull/23567 to see if we can reach a quick agreement on an API design - if so, this is relatively low hanging fruit for 1.3 and would help a number of scenarios for extending pod function.

I was motivated by the fact that I'm blocked in building out a secure build function that allows containers to split responsibilities safely, and by there being no

[2016-03-29 02:20] ddysher opened #23568 "cloud.Instance.NodeAddress() --node-ip to generate list of node addresses"
https://github.com/kubernetes/kubernetes/pull/18541 adds a node-ip flag to kubelet.  However, it's only used for non-cloudprovider case.  The same can also happen in a cloud environment (e.g. if you want to form a private network in the cloud).

Passing --node-ip to NodeAddress() can give hint to cloudprovider plugin.

[2016-03-29 02:23] smarterclayton opened #23569 "Termination file contents are not truncated in Kubelet"
A malicious user can create a termination path that exceeds the API size allowed for a pod update, causing the Kubelet to fail to be able to update the pod status via the API (or by creating very large pod objects in etcd, affecting the performance of the cluster).

The length of the contents of the termination file need to be bounded before it is added to the status response from the server.

[2016-03-29 05:05] MikaelCluseau commented on #6080
Hi there, what about having a "kube-node" program that would share the lifecycle of a node's boot?

It should be minimal so it doesn't required update very often and have a very low probability of failing, and probably include a "reexec" mechanism to update itself for instance on SIGHUP. On SIGTERM, it would run a fast "kill pods and detach volumes". It may also help to assert the node's state (ie

[2016-03-29 05:14] nelcy commented on #23269
Thanks @madhusudancs for clarifying. I will check the PR and will ping if I have any questions.

[2016-03-29 07:27] liuyue2656 commented on #8042
The same problem with me. Util I add `--kube_master_url=http://k8s-master:8080` in kube2sky_rc.yaml be fixed it.

[2016-03-29 07:42] adamtester commented on #23535
I played with it a bit more, I deleted it and made a bigger cluster, 4 nodes, seemed to be alright but this morning it was displaying the same message, a couple of F5's later it came up with:

[code]

But then it starts working again?
Everything seems to be doing lots of restarts as well

[code]

I'm using `v1.2.0`

[2016-03-29 07:50] gmarek opened #23570 "kubelet-gce-e2e-ci failed"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubelet-gce-e2e-ci/678

As it's not an ordinary test, I'm not really sure what happened. By quickly scanning logs I think it's a GCE failure:
[code]

But I'm not really sure those are critical. Can someone from the @kubernetes/goog-node take a look? It's a P1, as kubelet ci is a blocker.

[2016-03-29 07:53] gmarek commented on #23036
Not reliably.

[2016-03-29 07:54] ibalashov opened #23571 "Dockerfile's CMD / ENTRYPONT ignored"
It seems that in order to start container in a pod we always needs to specify a command, either in yaml
[code]
or programmatically:

[code]

Otherwise container runs just with plain `Args`, and no `CMD` and `ENTRYPOINT` is prepended to command line.

Is this expected or something not right in my env?

[2016-03-29 07:59] bscott commented on #3920
+1

[2016-03-29 08:05] wojtek-t commented on #23394
I can work on it, but I'm going to US for a week tomorrow, so not earlier than in ~2 weeks. If noone picks it up before then, I'm happy to do it.

[2016-03-29 08:07] ghodss commented on #8337
Another more immediate action item here is that right now, this works as expected:

`/api/v1/namespaces/default/pods?resourceVersion=6374&watch=true`

... results in a watch on the pod list.

But the same thing with a pod name appended:

`/api/v1/namespaces/default/pods/hello-www-2798522470-18wnc?resourceVersion=6374&watch=true`

...simply returns the pod without a watch. Expected is that it would

[2016-03-29 08:10] wojtek-t commented on #23537
Thanks for filing this @zmerlynn !

[2016-03-29 08:12] wojtek-t commented on #20963
@timothysc I would like to do one step at the time - we should first remove things that are generally unused, and then we can cleanup what is remaining).

[2016-03-29 08:18] wojtek-t commented on #14978
Yes - my observations are most the same as those that @smarterclayton described above. We are spending majority of time on serialization/deserialization and conversions. And what I suggested when setting this issue would help with this problem.

[2016-03-29 08:50] prashantabkari opened #23572 "Installation of Kubernetes-node fails with conflicting packages on CentOs 7"
When i am trying to install kubernetes-node with the following command
# yum install docker kubernetes-node it gives me following error
[abkari@condor network-scripts]$ sudo yum install docker kubernetes-node
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: centos.skarta.net
 * epel: epel.besthosting.ua
 * extras: ftp.crc.dk
 * updates: centos.uib.no
Resolving Depe

[2016-03-29 09:24] yidinghan commented on #15818
In my case, remove the `Backend` config can solve

More detail about flannel `Backend` can find from [document](https://github.com/coreos/flannel#backends)

Related code see [here](https://github.com/kubernetes/kubernetes/blob/master/docs%2Fgetting-started-guides%2Fdocker-multinode%2Fmaster.sh#L148)

[2016-03-29 10:11] wojtek-t opened #23573 "e2e flake: "kubelet-gce-e2e-ci" is flaky"
Currently, "kubelet-gce-e2e-ci" is triggered with:

     39     triggers:
     40         - pollscm:
     41             cron: 'H/5 * * * *'
     42         - timed: '@daily'

https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/job-configs/kubernetes-jenkins/node-e2e.yaml#L39

Since this job is now in critical build, this is just BAD.

The problem is that if this suite fails, it is b

[2016-03-29 10:20] hustcat commented on #16836
I hit the same proble with v1.2.0:

[code]

[code]

[code]

[code]

[2016-03-29 10:38] gmarek commented on #20552
Yet again: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-slow/2159/

[2016-03-29 10:41] AdoHe commented on #23564
kubectl apply need special handling of secret data. @kubernetes/kubectl

[2016-03-29 10:52] sroze commented on #23168
I've the same problem here, I don't know why it's so small. How can we change this size?

[2016-03-29 11:54] liggitt commented on #8337
Watch on an individual item has weird semantics if the item doesn't exist. Watching the list filtered to the item is more consistent.

[2016-03-29 12:04] #23339 closed

[2016-03-29 12:30] gmarek commented on #23570
Dupe of #23573

[2016-03-29 12:30] #23570 closed

[2016-03-29 12:32] gmarek commented on #23573
What is the reason behind this config? Is this creating large clusters, so we care about running it as rarely as possible? If not maybe we should just run it every half an hour or sth like that to make it simple.

[2016-03-29 13:42] #23218 closed

[2016-03-29 13:52] ncdc commented on #23533
I think this is an issue with go 1.6. `testing.(T).report()` doesn't grab the lock for `output` like it should so it doesn't race with `testing.(common).log()`. It looks like this has maybe been fixed in go by https://go-review.googlesource.com/#/c/18893/.

[2016-03-29 14:10] bgrant0607 commented on #14961
@lavalamp controllerRef is intended to be used for mutual exclusion.

[2016-03-29 14:32] zhouhaibing089 commented on #23571
The docker file you used to create the image could also specify an `ENTRYPOINT`.

[2016-03-29 15:26] justinsb opened #23580 "AWS Feature: Integration with IAM"
It would be great to be able to configure IAM permissions on a per-pod basis.   We would then have a "mock" metadata service on 169.254.169.254, which would inject the correct IAM roles into the pod (or no roles at all).

I believe this can be implemented using the AWS Security Token Service:
http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html

[2016-03-29 15:29] justinsb opened #23581 "AWS Feature: Integration with RDS"
It would be great if we could spin up cloud resources, like an RDS database, directly from within k8s, rather than having to create resources through the API and then pass the credentials into k8s.

This could be implemented using a custom resource type e.g. database

[2016-03-29 15:41] thockin opened #23583 "Chaning Service from LB to ClusterIP should clear status.ingress right away"
I swear this used to work properly, but fails on my cluster (1.2).  No test == broken, as usual.  It does eventually clear.

@ArtfulCoder @justinsb

[2016-03-29 15:46] edevil opened #23584 "Failed to pull image "gcr.io/google_containers/guestbook:v2""
I was following the [guide](https://github.com/kubernetes/kubernetes/blob/release-1.1/examples/guestbook-go/README.md#step-five) but the [replication controller](https://github.com/kubernetes/kubernetes/blob/master/examples/guestbook-go/guestbook-controller.json) references an image that I cannot find:
[code]

[2016-03-29 15:52] thockin commented on #23553
It's not supposed to change the external IP under any circumstances, and it doesn't in my own cluster.

Can you do the equivalent of this:

[code]

Or maybe you can post a minimal kubectl repro?

[2016-03-29 15:53] zhouhaibing089 opened #23585 "authz refactorred to act more like plugin model"
Currently if we would like to add a new authorizer, we have to modify the code in `pkg/apiserver/authz.go` to reflect this, and it is not just add one more package import, but also do some modification here:

[code]

also here:

[code]

maybe we should change it a little bit to move some logic into the separate plugin package, so whenever we implement a new authorizer, we just add a simple package

[2016-03-29 15:54] bprashanth commented on #23583
Why? I'd want to know if some public ip is pointing to my service, till that ip is torn down. Or do you just mean from a backkward compatibility perspective

[2016-03-29 16:01] zhouhaibing089 commented on #23584
@edevil you should use image `kubernetes/guestbook:v2` instead of `gcr.io/google_containers/guestbook:v2`. see here for the documents https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/guestbook-go/guestbook-controller.json.

[2016-03-29 16:01] thockin commented on #23583
The NodePort is cleared instantly (it's deactivated async, but we don't
wait for ACK from all nodes before clearing).

I could maybe buy keeping this behavior, but I can say that it is not
intended, and somewhere there is a block of code that THINKS it is clearing
this...  or there was...

On Tue, Mar 29, 2016 at 8:55 AM, Prashanth B <notifications@github.com>
wrote:

[2016-03-29 16:03] jessesanford commented on #17620
I also would like to launch internal elbs. I can see that there is reference to a boolean for this purpose here:
https://github.com/kubernetes/kubernetes/blob/f3af5d26a4930c9a0414eafd7e6dae10313de39a/pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L45
Anyone have any idea how to set that flag from the user facing cli?

[2016-03-29 16:11] edevil commented on #23584
@zhouhaibing089: Yeah, I've since checked out the release branch and have used that. I just wasn't sure you guys were aware of the missing images but I guess using the master branch is asking for trouble. :)

[2016-03-29 16:11] zhouhaibing089 commented on #23584
@luebken I see you committed this change, however the image used there did not work: https://github.com/kubernetes/kubernetes/commit/1531700f4230011a844b052840e3c75ed2bfa697

[code]

[2016-03-29 16:18] balopat commented on #20514
On my end this happens on v1.2.1-beta.0  (alpha.7 and above) as well.

v1.2.0-alpha.7 and above:
[code]

Weird error code 7 without any logs!

On v1.2.0-alpha.6 it works:
[code]

[2016-03-29 16:31] justinsb commented on #23580
See also https://github.com/kubernetes/kubernetes/issues/14226

[2016-03-29 16:34] justinsb opened #23587 "AWS Feature: GPU support"
GPU support, both assigning only to nodes that support GPUs & ensuring that we don't overcommit GPUs.

[2016-03-29 16:35] justinsb commented on #23587
@therc you said you would work on this :-)

[2016-03-29 16:41] justinsb opened #23588 "AWS: running kube-up simultaneously fails"
Because we don't scope kubectl - we should specify a content directly.

[2016-03-29 16:46] eparis commented on #20870
@erictune my thoughts are here (although disorganized as usual)  https://trello.com/c/1pn9IN3m/320-better-seccomp-support   But I think you nailed it.

[2016-03-29 16:46] pwittrock commented on #23573
Agreed.  This config was from before this was a blocker.  I will create a pr

[2016-03-29 17:00] bprashanth commented on #23583
We should get to the bottom of the bug (it might be related to the /status endpoint we added in 1.2 and needing a new status update), but I think if we fail to cleanup the loadbalancer we should leave some clue around that the user needs to follow up

[2016-03-29 17:04] therc commented on #23298
Can someone change the issue title to "Cross-region ECR support" and assign to me? This should definitely be in 1.3, if not 1.2.x.

[2016-03-29 17:22] bprashanth opened #23591 "e2e flake: kubelet should be able to delete 10 pods per node in 1m0s"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/13951/

I see 30 `cleanup30-0f814d6b-f5cc-11e5-9c1b-42010af01555-0cxyq: {kubelet jenkins-e2e-minion-vmgn} Killing: Killing container with docker id` lines and the RC was deleted, but 1 out of 3 nodes was really sluggish in deleting pods.

The sluggish node is jenkins-e2e-minion-he09 (https://pantheon.corp.g

[2016-03-29 17:32] luebken commented on #23584
@edevil: as @zhouhaibing089 pointed out please use `kubernetes/guestbook:v2` it should work fine for release 1.2

@zhouhaibing089 thanks for pointing to the missing image. we need to push it (discussed here https://github.com/kubernetes/kubernetes/pull/21314#issuecomment-187831435 ) /cc @zmerlynn

[2016-03-29 17:58] jayunit100 commented on #23540
cc @sig-testing

[2016-03-29 17:58] jayunit100 commented on #23540
cc @kubernetes/sig-testing

[2016-03-29 18:00] erictune commented on #23298
Done

[2016-03-29 18:02] guoshimin commented on #23580
We here at Databricks is doing something similar to https://github.com/dump247/ec2metaproxy:
- We run a metadata proxy on each node, using DaemonSet
- The proxy uses host network namespace
- We DNAT calls to 169.254.169.254 in the PREROUTING chain to the proxy
- The proxy checks the source IP against the pod list to identify the pod
- Pods that need a role specify that in their annotations
- The p

[2016-03-29 18:04] erictune commented on #20870
I didn't realize that only increasingly more restrictive seccomp profiles can be loaded, if I am reading the comments on  https://trello.com/c/1pn9IN3m/320-better-seccomp-support  correctly.  That makes it much less flexible that I had imagined.

[2016-03-29 18:15] lacion commented on #23013
kube version across the cluster is 1.2 as well as my local kubectl version

i started using --kube-reserved=cpu=1000m,memory=1G and launched a DS for fluentd
[code]

i  then launched 3 pods  into each node that were consuming about 80% ram and about 70% cpu, the DS staying there and all the logs were in ES.

today i added second DS for sensu, only the fluentd DS pods, heapster and dashboard pods w

[2016-03-29 18:17] janetkuo commented on #23365
This failure mode looks similar to what we saw in https://github.com/kubernetes/kubernetes/issues/22603#issuecomment-196479237:
[code]

The pod failed to become running in 30s. cc @dchen1107 @yujuhong @vishh

[2016-03-29 18:19] janetkuo commented on #23014
Closing, see https://github.com/kubernetes/kubernetes/pull/23088#issuecomment-198086706

[2016-03-29 18:19] #23014 closed

[2016-03-29 18:21] eparis commented on #20870
docker only lets us load a single profile, so that part isn't relevant today (I think RH is doing OCI work to make it a list of profiles but who knows if that ever gets plumbed up into docker)

If you load 2 profiles they will be executed in order and all of the profiles must 'approve' the syscall. If profile 1 says
`deny mount; allow all`
and profile 2 says
`deny module_init; allow mount; allow a

[2016-03-29 18:22] eparis commented on #20870
So the profiles themselves do not have to be of increasing restrictivity (restrictivity is a word, right?) but the combination will always be at least as restrictive as either parent.

[2016-03-29 18:32] jlowdermilk commented on #23544
I rolled back the gcloud version on pr builders and disabled the gcloud update job. We'll see if that improves situation. In the meantime I'm trying to repro the failure.

[2016-03-29 18:39] yujuhong commented on #23591
/runningpods can return slightly outdated data, but kubelet was cutting it close anyway. I think one issue is that pleg serially gets status for every pod, where at least one container has encountered a state transition. This becomes the bottleneck if a lot of containers changed in one relist period. We were aware of this problem and had come up with a few options before:
 1. Add a new GetPodStatu

[2016-03-29 18:54] jayunit100 commented on #23540
Ok.  After looking at the call graph, i think we can at least start with the making a state verifier which can collapse some things.  These can be collapsed separately for now and converged later.

 - collapse `waitForNode`
 - ToBeReady
 - ToBeNotReady
- collapse `waitForPod...`
   - successInNamespace
   - runningInNamespace
   - timeoutForPodInNamespace
   - PodSuccessInNamespaceTimeout
   - Tim

[2016-03-29 19:08] ScyDev commented on #23403
I have exactly the same problem. It happened on `n1-standard-1` and it happens on `g1-small`.

First I'm deploying a Mongo container which really does noting at all on its own.
Then I deploy a Meteor container, and 2 out of 3 times the problem is:
`Node didn't have enough resource: CPU, requested: 100, used: 920, capacity: 1000`

I really don't think an idle Mongo DB is using 920 CPU.

The problem

[2016-03-29 19:52] ghodss opened #23597 "Proposal: change default behavior of deployment.spec.revisionHistoryLimit to a limit"
Currently, the default behavior of revisionHistoryLimit of deployments (in other words, if spec.revisionHistoryLimit is not specified) is to keep around all replica sets. This strikes me as unexpected and unreasonable behavior - in normal usage of the deployment object, you will quickly end up with dozens of replica sets with no obvious button or mechanism to clean them up. I think that using depl

[2016-03-29 19:53] ghodss commented on #23597
cc @bgrant0607 @kubernetes/sig-config @nikhiljindal @kargakis @janetkuo

[2016-03-29 19:58] gmarek commented on #23573
I guess it solved the config issue. Is the flakyness itself also solved?

[2016-03-29 20:11] akamalov opened #23598 "Make is failing - CGO_ENABLED=0 ..."
**Environment**

[code]

Trying to compile Kubernetes for Mesos, based on documentation  http://kubernetes.io/docs/getting-started-guides/mesos/

Make is erroring out...

[code]

[2016-03-29 20:13] smarterclayton commented on #23597
We do three total in Openshift today, but judging by numbers most
people seem to be ok with 2 (haven't heard anyone complain about 3).

[2016-03-29 20:15] balopat opened #23599 "Can't create sample Job using extensions/v1beta1 API Group on v1.2.0-alpha.6"
I'm using multi-node docker v1.2.0-alpha.6 on RHEL7.

[code]

Based on the guide: http://kubernetes.io/docs/user-guide/jobs/ I should use the batch/v1 apiVersion to create a job, but that API group seems to be unsupported:

[code]

If I change it to extensions/v1beta1 then I seem to run into a bug with regards to the selector handling. I skimmed through the job selector design doc, but I just lear

[2016-03-29 20:31] therc commented on #8867
Are this issue and #11936/#14226/#23580 in scope for the 1.3 IAM work?

[2016-03-29 20:33] bgrant0607 commented on #23597
Agree that a bounded default is desirable in the next api version, and I'm looking for user feedback about what value would make sense for the most people. For now, we should document that users should set it, and we should set it in kubectl run.

[2016-03-29 20:39] cmoad commented on #23130
+1 Hitting this same problem. Had to add a hard-coded entry to `/etc/hosts` for now.

[2016-03-29 20:40] nikhiljindal commented on #23376
This looks like something that Ubernetes can use as well.
We need cluster level metrics in ubernetes to make scheduling decisions for each cluster.
For now, we are planning to get metrics from each node in the cluster and then aggregate them together in a controller. We can switch to this new API whenever it is ready.

@kubernetes/sig-cluster-federation

[2016-03-29 20:45] pwittrock commented on #23573
Hoping #23285 will reduce flakiness.  This is something I will continue to watch.

[2016-03-29 20:59] bloo opened #23601 "SkyDNS silently failing after arbitrary amount of time"
This leaves any new services we deploy unregistered with the cluster DNS system, and our ingress (nginx) fails when looking for those upstream services. The kube2sky log starts going crazy with:

[code]

[2016-03-29 21:13] bloo commented on #22823
@aliteff @ArtfulCoder any luck? I'm having this issue as well.

[2016-03-29 21:25] janetkuo opened #23602 "Resume session hint is incomplete in `kubectl run`"
[code]

@kubernetes/kubectl @feihujiang @smarterclayton

[2016-03-29 21:26] janetkuo commented on #23602
Cause: #21624

[2016-03-29 21:29] luebken opened #23604 "kubectl run creates non-deletable pod"
After creating a simple pod on an empty cluster I wan't able to delete it.

Way to reproduce:
[code]

Tested with GKE 1.2 and local vagrant (Mac) 1.2.

[2016-03-29 21:36] thesandlord commented on #23604
+1 on this

[code]

This is the solution for this. In Kubernetes 1.2, run creates a deployment and not a replication controller.

We need to update our docs for the "run" example. Also, why is run creating a deployment vs a replication controller now?

I can update the docs and send in a PR if needed

[2016-03-29 21:52] vishh commented on #23376
@nikhiljindal Is there a relevant ubernetes issue?

[2016-03-29 22:09] derekwaynecarr commented on #23413
I am biased to keep the lower window and storing fewer stats.  I planned in the out of resource killing module to keep the last measured signal locally in the stability manager for each configured signal we do out of resource killing against so I can properly implement grace period, so I do not need cadvisor to hold older data than the last observed value.

[2016-03-29 22:23] danehans commented on #23233
ref https://github.com/kubernetes/contrib/issues/667

[2016-03-29 22:23] smarterclayton opened #23607 "Rapidly terminating pod can result in incorrect failure because of OOM adjuster"
On a pod that had `command: ["/bin/false"]` I get an error from the OOM adjuster... when in reality, the error was the pod exiting quickly.

[code]

That error is incorrect - the pod exited with 1, but oomscore masked the container failure.

OOM score shouldn't be overriding the real error here.

[2016-03-29 22:26] smarterclayton commented on #23607
This blocks being able to test some of these code paths easily (since I can't rely on the right error coming back).

[2016-03-29 22:30] janetkuo commented on #23597
This is documented in http://kubernetes.io/docs/user-guide/deployments/#revision-history-limit.

[2016-03-29 22:44] bgrant0607 commented on #22007
cc @thockin @saad-ali @childsb

[2016-03-29 22:55] rutsky commented on #23233
@mikedanese can you ping me when this will be ready to try? I can try to support addon manager in contrib/ansible scripts.

[2016-03-29 23:06] pwittrock opened #23610 "unit flake: pkg/client/record"
pkg/client/record failed, but afaict  didn't give useful output

[http://pr-test.k8s.io/23285/kubernetes-pull-test-unit-integration/19655/](http://pr-test.k8s.io/23285/kubernetes-pull-test-unit-integration/19655/)

ok  	k8s.io/kubernetes/pkg/client/leaderelection	1.110s
FAIL	k8s.io/kubernetes/pkg/client/record	2.569s
ok  	k8s.io/kubernetes/pkg/client/restclient	1.282s

[2016-03-29 23:10] nikhiljindal commented on #23269
To clarify, we will need the same group name, version and resource name for ubernetes and the corresponding kubernetes resource, if we want that users should be able to pass a kubernetes config file to kubectl talking to an ubernetes server (since the config file will have apiVersion and Kind fields).

We can have different Go types.
The go types can diverge over time if we copy them.

Re: Adding

[2016-03-29 23:12] ixdy opened #23611 "Turn off Travis"
We have all of the checks that used to run only in Travis running in Jenkins, and it generally seems to be more reliable. We should just turn off Travis for PRs. (We might want to leave it running post-commit, just in case we ever want to go back?)

Necessary tasks:
- [ ] Make the submit queue not require a passing Travis run
- [ ] Make the munger not try to trigger Travis if it's missing
- [ ] Tu

[2016-03-29 23:17] ixdy commented on #23611
One other issue is that Jenkins unit/integration is only running the same set of tests as Travis on `master`; there's still a disparity on `release-1.2` (and all older release branches). We can either

* (a) cherry-pick my changes (at least #22681) to `release-1.2`
* (b) keep Travis running on release branches (not sure if this is actually possible)
* (c) decide we don't care about the missing cov

[2016-03-29 23:29] roberthbailey commented on #23556
/cc @brendandburns @kubernetes/goog-node

Can you clarify a bit: what was restarting, a machine, a pod, or both?

"one of the machines in our cluster stopped trying to restart" vs. "the pod did not try to restart again after that"

[2016-03-29 23:35] r-tock commented on #23556
To clarify the original question

Our Api job running in the container did not restart after going down even though the ping handler was not working which the kubelet use to check for aliveness. This happened while there was a network outage.
We are baffled by this and it happened only once. So the question was whether the POD itself need to talk to the master when this happened.

So to give more

[2016-03-29 23:38] nikhiljindal commented on #23269
Also, for phase 1, I think we should just reuse the existing go type for replicasets and sub-replicasets in ubernetes and use annotations to add more info. We can use NodeSelector as proxy for ClusterSelector (We can add a label to all nodes indicating the cluster they are in).

We can do more once we have got it working end to end.

[2016-03-29 23:46] Q-Lee commented on #23610
Ditto here: #23512

http://pr-test.k8s.io/23512/kubernetes-pull-test-unit-integration/19644/

ok  	k8s.io/kubernetes/pkg/client/leaderelection	1.059s
FAIL	k8s.io/kubernetes/pkg/client/record	2.588s
ok  	k8s.io/kubernetes/pkg/client/restclient	1.251s

[2016-03-30 00:02] yujuhong commented on #23556
@r-tock kubelet doesn't need to rely on other components to continue managing the containers. However, if kubelet got restarted *during* the network outage, the new kubelet instance wouldn't know any pod/specs until it talks to the api server. This is due to the lack of persistent checkpoint on the node (the issue to add checkpointing: #489). Could you check the kubelet log to see if it got restar

[2016-03-30 00:26] maciek123 commented on #23442
I did some debugging and figured out that the problem was with the kubectl wrapper I'm using, not the kubectl itself. I'm sorry for any confusion it might have caused.

[2016-03-30 00:26] #23442 closed

[2016-03-30 01:38] huangyuqi commented on #23376
Hi, @vishh , I am working on Ubernetes recently.
In ubernetes' design, metrics(CPU/MEM) in cluster level need to be collected, and used to make scheduling decisions.
In my experience, the heapster has `Cluster-level Metrics`, like this:

[code]

So, @nikhiljindal , In my opinion , current heaspter can match our require about the cluster metrics. How do you think?

[2016-03-30 01:39] spiffxp commented on #23611
(a) would be my vote, always in favor of fewer differences between release branches and master as far as test execution goes

[2016-03-30 01:49] nikhiljindal opened #23614 "ubernetes: How to collect cluster resource metrics"
Forked from https://github.com/kubernetes/kubernetes/pull/23430#issuecomment-202768265

The ubernetes scheduler needs to know the available resources in each cluster to be able to divide resources (such as replicasets) appropriately.

As per https://github.com/kubernetes/kubernetes/blob/master/docs/design/federation-phase-1.md#cluster:

There is also a proposal to provide cluster level metrics via

[2016-03-30 01:51] nikhiljindal commented on #23376
@vishh There wasnt any issue specific to getting metrics for ubernetes. It was touched upon at https://github.com/kubernetes/kubernetes/pull/23430#issuecomment-202768265.

I have filed one just now: https://github.com/kubernetes/kubernetes/issues/23614

@huangyuqi I will copy your comment there. We can discuss it further there.

[2016-03-30 01:52] nikhiljindal commented on #23614
Copying @huangyuqi's comment from https://github.com/kubernetes/kubernetes/issues/23376#issuecomment-203185116:

[2016-03-30 01:53] erinboyd opened #23615 "ClaimRef is not enforced when binding PVs to PVCs"
If a claim is created first that matches both accessMode and size defined by the PV with a pre-defined ClaimRef , it will match it instead of the PVC that is the named ClaimRef

[2016-03-30 02:02] nikhiljindal commented on #23614
@huangyuqi I have no idea if heapster is currently setup to give us the metrics we want. Its great if it is :)

@vishh I think is the best person to answer that.

[2016-03-30 02:15] huangyuqi commented on #23614
@nikhiljindal , I am very familiar with @vishh and `heaspter`.
In heapster, aggregation about the cluster level metrics will be taken. I will check it can match us completely or not.

[2016-03-30 02:42] Tyguy7 commented on #23403
Same issue here.  +1

[2016-03-30 02:46] mfanjie commented on #23269
We (Ubernetes dev team) had some discussions and here are some outcomes, @jianhuiz is working on the go types definition. I summarized all relative topics in this issue and looking for further advises:
1. for backward compatibility consideration, federation RC will reuse current replicationcontroller go type, any additional info like clusterselector will be set as annotation, this is different fro

[2016-03-30 03:12] mysterytree opened #23618 "Error from server: dial tcp: lookup xxx on 10.255.255.1:53: no such host"
The rc.yaml

![image](https://cloud.githubusercontent.com/assets/6166794/14130694/6a377b7a-f667-11e5-8f1d-eca5bfb17f26.png)

And the logs

[code]
[code]
apiserver.log

![image](https://cloud.githubusercontent.com/assets/6166794/14130756/d290dce8-f667-11e5-89fa-cac1d15ed53c.png)

The pods  and service run normally .
Only exec or logs pods occur the errors.

[2016-03-30 03:22] jayunit100 commented on #23615
cc  @kubernetes/sig-storage

[2016-03-30 03:30] jayunit100 commented on #23604
yeah , the main definition in the docs should be clarified, this confused me to
- right now it says "job or deployment", it should differentiate why sometimes its a job, since semantics of jobs vs deployments are very different i think.

[2016-03-30 04:01] eparis commented on #23611
- submit queue does not require travis

(b) is possible, but like today it will still run on mater
(c) I'm all for that, I think....

yall tell me, I'll fix the submit queue....

[2016-03-30 04:20] zhouhaibing089 commented on #23585
@liangjinebaycom do you have any thoughts?

[2016-03-30 04:52] spacexnice opened #23619 "release 1.2.0 1.3.0 package kubernetes.tar.gz has no directory of saltbase, which cause kube-up.sh run exit silently , and install failed."
release 1.2.0 1.3.0 package kubernetes.tar.gz has no directory of saltbase, which cause kube-up.sh run exit silently , and install failed.  platform ubuntu 14.04
1. cluster/ubuntu/util.sh  has  set -e flag, so util.sh exit 的silent
2.  saltbase directory not found
     scp -r $SSH_OPTS \
    saltbase/salt/generate-cert/make-ca-cert.sh \
     easy-rsa.tar.gz \
      "${KUBE_CONFIG_FILE}" \
      ubu

[2016-03-30 05:02] danehans opened #23620 "Addon Manifests are Not Production Ready"
The contrib/ansible project is focused on deploying kubernetes in a production-ready fashion. For example, [1] and [2] hard-code env variables meant for developer deployments. Here are a few proposals for improving the addon manifests:
1. If they must be hard-coded, then the manifests should support production deployment requirements by default.
2. Turn the yamls into templates (i.e. Jinja) and su

[2016-03-30 05:27] harryge00 commented on #19235
+1

[2016-03-30 05:33] davidopp commented on #23376
I highly recommend you not do this. I'll follow up on the other issue.

[2016-03-30 05:33] bprashanth commented on #23620
I agree they shouldn't be hardcoded, templatizing them would also make e2e testing with stricter args easier. The addon-controller itself needs a re-write from bash to go.

@kubernetes/sig-config

[2016-03-30 05:36] davidopp commented on #23614
Please do not re-implement this functionality. If Heapster does not address your problem, then we will fix Heapster. We want to use a single metrics pipeline for all of the internal scheduling-related use cases. Ubernetes is one of these.

cc/ @fgrzadkowski @piosz

[2016-03-30 05:40] krmayankk commented on #23553
ok may be i am not correctly quantifying the problem here. My issues specifically are:-
1: if i call service Update(PUT) with no change in spec.Ports, type as loadbalancer, and all labels and selectors are also same, still i see the following
        "loadBalancer": {
            "ingress": [
                {
                    "ip": "23.251.154.145"
                }
            ]
        }
 po

[2016-03-30 05:54] thockin commented on #23553
Did you run the steps I ran above?  Does it reproduce?

On Tue, Mar 29, 2016 at 10:41 PM, krmayankk <notifications@github.com>
wrote:

[2016-03-30 06:02] bgrant0607 commented on #22368
Recent discussion:
https://groups.google.com/forum/#!topic/google-containers/-em3So0KBnA

[2016-03-30 06:14] roberthbailey commented on #23556
The kubelet healthchecking a pod should not rely on network connectivity between the kubelet and the apiserver. As @yujuhong said, once the kubelet has the pod definition, it will run the pod and healthcheck it even if the apiserver goes down and the kubelet should certainly restart a failed container without needing to contact the apiserver (unless the kubelet restarts).

Are you saying that a mi

[2016-03-30 06:21] roberthbailey commented on #8867
/cc @cjcullen

[2016-03-30 06:27] jessesanford commented on #23298
I am still having trouble getting things working in the same region. Is that still supported? See below (I have ensured that the policies have been created inside aws IAM control panel to allow the instance roles that the host nodes are booted with can access the ecr repositories)

[code]

[2016-03-30 06:48] phofmann-trust commented on #23497
Will there be a bugfix release containing the fix for this?

[2016-03-30 07:11] zhouhaibing089 commented on #23497
the fix is merged into master, though not in release1.2.

[2016-03-30 07:17] jadhavnitind opened #23621 "Secrets are not working properly as environment variable"
I am running Kubernetes cluster on Google Container Engine. Trying to expose username and password as environment variable in the pod for tomcat webapp database connection. Its showing environment variable after login into the pod like below
root@testtomcat-hauaf:/usr/local/tomcat/conf# echo $DB_USERNAME
admin
root@testtomcat-hauaf:/usr/local/tomcat/conf# echo $DB_PASSWORD
Password

Try to echo it

[2016-03-30 07:33] jadhavnitind commented on #23621
Tried adding "command: [ "/bin/sh", "-c", "env" ]" but its not working. Pods are going in "CrashLoopBackOff" mode.

[2016-03-30 07:42] lacion commented on #23013
some updates here, after the pods were killed and i removed all the pods on the nodes, the DS pods were not recreated once there was resources available for them.

i had to delete the DS and create it again for the pods to be back.

[2016-03-30 08:00] erez-rabih opened #23622 "kube-down on AWS does not remove key-pairs"
Hi,

While issuing a kube-down command all AWS resources are expected to be cleaned, but for some reason the key-pair created by kube-up to establish SSH communication to the nodes/master is not cleaned.

Do we leave it intentionally?

[2016-03-30 08:21] TencentSA commented on #16836
Run nslookup success from node:
[code]
I used tcpdump to catch packet:
[dns-packet.zip](https://github.com/kubernetes/kubernetes/files/195082/dns-packet.zip)

And found some difference:

From node is OK:
![dns-node](https://cloud.githubusercontent.com/assets/16110473/14136031/51f48e82-f693-11e5-9215-06b3f1b319ae.png)

From busybox failed:
![dns-busybox](https://cloud.githubusercontent.com/assets/1

[2016-03-30 08:23] hustcat commented on #16836
Run nslookup success from node:
[code]
I used tcpdump to catch packet:
[dns-packet.zip](https://github.com/kubernetes/kubernetes/files/195082/dns-packet.zip)

And found some difference:

From node is OK:
![dns-node](https://cloud.githubusercontent.com/assets/16110473/14136031/51f48e82-f693-11e5-9215-06b3f1b319ae.png)

From busybox failed:
![dns-busybox](https://cloud.githubusercontent.com/assets/1

[2016-03-30 08:29] hustcat commented on #16836
It seem that `nslookup` in busybox has some problems. I test success with my own image:

[code]

[2016-03-30 08:29] erez-rabih opened #23623 "Creating/Adding nodes on AWS always reports a failure"
When creating a new cluster on AWS with the 1.2 version I always get a failure when checking docker on the nodes, but after the check loop ends everything seems to work fine and all nodes are marked as ready.
[code]

The instance types for nodes is m4.large.

[2016-03-30 08:32] xlgao-zju commented on #17557
I got the same issue, and I think `sudo -i` maybe useful.

[2016-03-30 08:49] thecanadianbaker commented on #16836
IIRC BusyBox and Alpine both have some DNS issues. Despite the convenience
factor of using a small image I would suggest using something like
CentOS/Fedora/Ubuntu/Debian for testing

On Wed, Mar 30, 2016 at 10:30 AM Ye Yin <notifications@github.com> wrote:

[2016-03-30 08:55] kargakis commented on #22368
Thinking out loud: In OpenShift we have the concept of triggers. For example when an image tag is referenced by a DeploymentConfig and there is a new image for that tag, we detect it via a controller loop and update the DeploymentConfig by resolving the tag to the full spec of the image (thus triggering a new deployment since it's a template change). Could we possibly do something similar here? A

[2016-03-30 08:57] MingningShao opened #23624 "Why don't V1.2.0 hash value match local file ?"
I download kubernetes of v1.2.0,and hashed the tar file with hashmyfiles,but the hash values were not matched.
Why did this happened ?
There three packed files,none of the hash value matched the value release given.

[2016-03-30 09:01] resouer commented on #23538
encountered this error when compiling heapster at local.

[2016-03-30 09:04] ibalashov commented on #23571
If I run the image with `docker run -ti imageId`, the `CMD` section in Dockerfile does run. However, the same image in k8s with `setArgs` only – the `CMD` section of Dockerfile is not run.

[2016-03-30 09:08] rpahli commented on #22178
I had the same problem.

`0a2cb64cc93d2a2baeeb91f6d53c6b53cb284870035241443320b5eb79f3fd55
{ "Network": "10.1.0.0/16", "Backend": {"Type": "vxlan"}}
Error response from daemon: lstat /var/lib/docker-bootstrap/aufs/mnt/2624579c6358c123bbf34f9e74c25d787c3e0721aaf13b71aea222c7174a6f76/tmp/flannel/subnet.env: no such file or directory`

I run the docker in a virtual maschine.

for me it works to expor

[2016-03-30 10:15] pylior opened #23625 "Jobs not reaping pods"
Hello,
From what I understand the Job object is supposed to reap pods after a certain amount of time.
But on my GKE cluster (Kubernetes 1.1.8) it seems that "kubectl get pods -a" can list pods from days ago. All were created using the Jobs API.

[2016-03-30 12:04] soltysh commented on #23475
From looking into the usage patterns we have both in k8s and openshift I'm proposing following meta for templates:

[code]

@deads2k @bgrant0607 opinions?

[2016-03-30 12:21] vaijab commented on #23404
@motomux actually they don't. The reason your secrets contain a new line `\n` is because the original string contained a new line:

[code]

Hope this helps.

[2016-03-30 12:28] trodriguez-photobox commented on #23198
@mml Yes, this is the link.

[2016-03-30 12:35] trodriguez-photobox commented on #21853
Does it mean that the [official method](http://kubernetes.io/docs/getting-started-guides/aws/) for installing Kubernetes on AWS doesn't work for v1.2.0?

[2016-03-30 12:45] antoineco commented on #20475
Not sure how relevant this is, but this is still happening in 1.2.0 with `--proxy-mode=iptables` and `--hairpin-mode=hairpin-veth`

[2016-03-30 13:17] AlexChesser commented on #17557
Sorry folks, I never actually solved this myself ... what I *did* manage to do was run it on a CoreOS vagrant image.

I didn't wind up building it though, just following the install steps from a different start-point.

That doesn't solve the issue of being unable to build, but if you wanted to *USE* K8S there are plenty of routes that do work. There are even a few docker options which are kindof n

[2016-03-30 13:29] smarterclayton commented on #23615
Someone was saying that there is a desire to not fix this, can someone explain?  Without this fix, there is no way to steer a particular PV to a given user / namespace / claim in a deterministic way, which makes administrators unable to predictably allocate a volume for a claim.  That is a very serious functional gap that would impact cluster bootstrapping where volumes have to be assigned to clai

[2016-03-30 13:31] smarterclayton commented on #23615
I don't care about the exact mechanism, but it is a functional requirement to be able to steer volumes to claims in a race free and predictable path.

[2016-03-30 13:33] einyx commented on #23371
{
            "OwnerId": "123810501009",
            "ReservationId": "r-0151f0b9",
            "Groups": [],
            "RequesterId": "226008221399",
            "Instances": [
                {
                    "Monitoring": {
                        "State": "enabled"
                    },
                    "PublicDnsName": "",
                    "State": {
                        "Cod

[2016-03-30 13:34] einyx commented on #23371
resource "aws_vpc" "main" {
    cidr_block = "10.250.0.0/16"
    enable_dns_support = true
    enable_dns_hostnames = true
    tags {
        Name = "main.${var.tag_environment}.${var.tag_project}"
        Environment = "${var.tag_environment}"
    }
}

resource "aws_vpc_dhcp_options" "dns_search" {
    domain_name = "${var.domain_name}"
    domain_name_servers = ["AmazonProvidedDNS"]
    tags {

[2016-03-30 13:49] markturansky commented on #23615
can you provide steps and/or yaml to recreate?

This exact scenario is covered in a unit test. I'm interested in learning where the bug is.

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/persistentvolume/persistentvolume_index_test.go#L535

[2016-03-30 13:50] inercia opened #23628 "gure kube-proxy"

[2016-03-30 13:50] #23628 closed

[2016-03-30 13:53] vaijab opened #23629 "Only first pod gets secrets set as env vars"
I am not sure whether this is an intended behaviour, if it is, then I cannot think of a practical reason.

With 1.2 I am seeing that only the first pod of the same replication controller gets the below env variable set. All subsequent pods will have an empty variable set as `SECRET_TOKEN_VAR=`.

[code]

[2016-03-30 13:56] zhouhaibing089 commented on #23587
@chengyli to know this.

[2016-03-30 14:02] zhouhaibing089 commented on #23598
It seems that `GOROOT` is incorrect since the missing packages should be under folder `$GOROOT`.

[2016-03-30 14:03] jessesanford commented on #23298
Wondering if the original impl was pulled out due to the refactoring going on and now the documentation is lagging?

[2016-03-30 14:17] bgrant0607 commented on #23475
@soltysh All of the fields should be optional. I don't think we need namespace, since we don't allow cross-namespace control currently.

[2016-03-30 14:19] rata commented on #23298
On Wed, Mar 30, 2016 at 07:04:53AM -0700, Jesse Sanford wrote:

No, it is working as it was reported here (if ECR registry and kubernetes
cluster are on the same region).

Make sure to give permissions on the ECR registry to the kubernetes-minion role
and run the script justinb posted.

[2016-03-30 14:20] bgrant0607 commented on #22368
Fundamentally, there need to be multiple ConfigMap objects if we're going to have some pods referring to the new one and others referring to the old one(s), just as with ReplicaSets.

[2016-03-30 14:22] therc commented on #23298
Does us-west-2 actually work with plain Docker?

[2016-03-30 14:28] chbatey opened #23630 "Inject labels as environment variables"
Would it be a bad idea to inject a pods labels as environment variables? Atm our deployment scripts set many of the labels as environment variables but it would be useful if all labels were injected.

[2016-03-30 14:28] chbatey opened #23631 "Inject namespace as environment variable"
Our applications query config from a central config service and it would be useful if they knew the namespace they were in for that query.

[2016-03-30 14:29] therc commented on #23298
@jessesanford you can troubleshoot this in a couple of ways. Get us-west-2 credentials on your workstation. SSH into the host and run Docker manually with those. Does it work?

Since you're there, check kubelet logs. If your system uses journald, it might be as simple as `journalctl -t kubelet`. You might have to restart it with --v=2 or higher to increase verbosity.

[2016-03-30 14:30] rata commented on #22368
On Wed, Mar 30, 2016 at 01:56:24AM -0700, Michail Kargakis wrote:

(I posted the original mail in the thread on the google group)

I think making a deployment is the best way, too. Because you can have a syntax
error or whatever in the config and the new nodes hopefully won't start and the
deployment can be rolled back (or, in not common cases I suspect, even do a
canary deployment of a config cha

[2016-03-30 14:30] jessesanford commented on #23298
@rata I am using the latest cloudformation template from the kube-aws project so the role in question for the kubelet (minion) node is: "Kubernetes-IAMRoleWorker-UNIQUEID" and in that role I have assigned the "AmazonEC2ContainerRegistryReadOnly" Managed policy that Amazon has available to all accounts. That policy contains the following policy document:
[code]

@therc the us-west-2 region is the r

[2016-03-30 14:31] jessesanford commented on #23298
Just to be clear. Running all other commands on this cluster is working just fine. I am able to launch publicly available images from the dockerhub without fail.

[2016-03-30 14:32] rata commented on #23298
On Wed, Mar 30, 2016 at 07:23:10AM -0700, Rudi C wrote:

It works for me (us-west-2a)

[2016-03-30 14:35] trodriguez-photobox opened #23633 "AWS: Check/document required VPC options (DNS hostnames)"
Hi,

I'm trying to create a Kubernetes cluster on AWS with debian jessie on the region _us-east-1_. After the creation of the EC2 instances is done, the master node is failing to start the kubelet service because the file _/etc/sysconfig/kubelet_ used as environment config file for the kubelet systemd unit doesn't exist. When I look into the salt minion logs I find that:

[code]

I don't know whic

[2016-03-30 14:40] jessesanford commented on #23298
Here are the last few lines from the kubelet logs:

[code]

[2016-03-30 15:07] zhouhaibing089 commented on #23631
@chbatey you could use downward API to do that.http://kubernetes.io/docs/user-guide/downward-api/

[2016-03-30 15:08] r-tock commented on #23556
Yes we can get to the outside world by IP. However since we use external
libraries like Google pubsub Facebook login we can't change that fully to
make our server work
On Mar 30, 2016 1:15 AM, "Robert Bailey" <notifications@github.com> wrote:

[2016-03-30 15:15] soltysh commented on #23475
@bgrant0607 :+1: for the optional, for the namespace I wasn't sure, will change it. Once we agree on the contents I'll start working on impl.

[2016-03-30 15:23] jessesanford commented on #23298
I can confirm that I can retrieve the sts credentials from the amazon api for the role that is assigned to the worker node and then using those credentials get a login for the ecr repository and pull the image. So It is not a permissions issue on the amazon api side.

[code]

[2016-03-30 15:32] #23573 closed

[2016-03-30 15:36] therc commented on #23298
You should see this in the logs at startup, right before `Started kubelet`:

`plugins.go:56] Registering credential provider: aws-ecr-key`

Then later:

`provider.go:91] Refreshing cache for provider: *aws_credentials.ecrProvider`
`provider.go:91] Refreshing cache for provider: *credentialprovider.defaultDockerConfigProvider`

[2016-03-30 15:39] roberthbailey commented on #23556
Ok, I just wanted to verify that networking wasn't entirely broken (just name resolution).

[2016-03-30 15:40] liggitt commented on #23007
Definitely should be lower verbosity, and the `longThrottleLatency` of 50ms is questionable as well, given that the default client QPS is 5

[2016-03-30 15:44] jessesanford commented on #23298
@therc I see:
`Mar 30 06:19:08 ip-10-0-0-94.us-west-2.compute.internal kubelet[957]: I0330 06:19:08.868983     957 plugins.go:56] Registering credential provider: .dockercfg`

but not:
`Registering credential provider: aws-ecr-key`

[2016-03-30 15:48] quinton-hoole commented on #23461
Ping @mml .  Any progress on this?  Failure rates still seem to be very high.  If you're unable to work on this now, perhaps we should re-assign to current buildcop?

[2016-03-30 15:49] therc commented on #23298
Is your kubelet started with `--cloud-provider=aws`? Sounds like maybe it isn't. The ECR provider is not created automatically at startup, it is brought to life by the AWS cloud provider. Otherwise, it would cause long delays for non-AWS users.

[2016-03-30 15:52] thockin commented on #23556
Can you clarify what the "bad" resolv.conf says?

@ArtfulCoder P0 to triage

[2016-03-30 15:53] jessesanford commented on #23298
@therc I assume it is running with the `--cloud-provider=aws` flag set because the systemd service references it:

[code]

[2016-03-30 15:55] thockin commented on #23556
To clarify: the way kube-dns works is taht we configure your container DNS `nameserver` to point to a pod running in the cluster.  That pod answers `cluster.local` names and forwards and other DNS to the upstream DNS servers.  We need to understand which part of this chain breaks down.

[2016-03-30 15:58] r-tock commented on #23556
search default.svc.cluster.local svc.cluster.local cluster.local
c.rapid-depot-817.internal. google.internal.

nameserver 10.219.240.10
On Mar 30, 2016 10:57 AM, "Tim Hockin" <notifications@github.com> wrote:

[2016-03-30 15:58] jessesanford commented on #23298
@therc I also see other AWS specific features working like the automatic launching of ELB's for the service that I create that is based on a controller with a public image.

[2016-03-30 16:03] jessesanford commented on #23298
For the sake of completeness here is the kubelet startup logs:

[code]

[2016-03-30 16:11] mwielgus commented on #23614
I agree with @davidopp. Heapster already aggregates metrics at the cluster level.

[2016-03-30 16:15] matthughes commented on #23375
It was 1.1.8.  Not running any daemonsets.

[2016-03-30 16:18] jlowdermilk commented on #23544
This turns out to be caused by metadataserver flaking on the jenkins master. We have so many processes hitting metadataserver that it occassionally errors, and gcloud doesn't retry requests. I added retry upstream.

[2016-03-30 16:24] erinboyd commented on #23615
@markturansky Create the PV with a specific ClaimRef:
  ClaimRef:
    Namespace: default
    Name: nsf-claim-prebind

Then create two claims:
One with the name and another with the same size and accessMode.

Submit the first claim before the named one, it will bind to the first one.

[2016-03-30 16:27] ArtfulCoder commented on #23556
@r-tock

1. what do you get when you run
`` kubectl get svc --namespace=kube-system `` and
`` kubectl get ep --namespace=kube-system``

2. Do you think its plausible that your code is changing the /etc/resolv.conf file ?

3. Are the search paths on one line or multiple lines ? the way you pasted it, it seems that the search paths are on multiple lines (ideally, should be on one line)

4. What base

[2016-03-30 16:27] timothysc commented on #23394
/cc @rrati

[2016-03-30 16:28] jessesanford commented on #23298
And here it is with --v=4

[code]

[2016-03-30 16:29] therc commented on #23298
Argh... programs that don't log their version as the very first thing when they come up. Which version of Kubelet is this?
The message should appear right after "AWS cloud filtering on tags: XYZ", as seen here:

https://github.com/kubernetes/kubernetes/commit/76e29ed455674361ca99e5c896d4499e1ba787ec

Actually, in your log, the "filtering" message was logged from line aws.go:575, but by the time my

[2016-03-30 16:34] r-tock commented on #23556
1.
[code]
2. No we are not changing it.

3. Yes, Gmail seem to have moved it to the new line. its all on one line.

4. base image is running on https://github.com/phusion/baseimage-docker

5. I don't know every cluster seem to have a different IP. I thought you would know. I figured out that IP is in the subnet range of the cluster.

[2016-03-30 16:34] therc commented on #23298
If this is CoreOS, try

[code]
That's from version 983.0.0. Ancient...

[2016-03-30 16:37] bprashanth commented on #20475
@antoineco can you clarify what "it" is? are you running with rkt or docker?
can you check the veth flag on your interfaces? They should all be 1
[code]

If not, can you grep kubelet logs for hairpin?

@sjpotter this bug was originally about hitting a pod through *its own* service, i.e if you have a single pod foo in a service fooSvc with ip 10.0.0.1, and you docker exec into foo, you won't be abl

[2016-03-30 16:42] akamalov commented on #23598
Thanks for reply. I had to unset my GOROOT and set GOPATH to `pwd` and it worked :)

Thanks again for reply

[2016-03-30 16:42] #23598 closed

[2016-03-30 16:43] ArtfulCoder commented on #23505
Can you run
`` kcsys exec kube-dns-v11-84yia  -c healthz -- nslookup kubernetes.default 127.0.0.1``

[2016-03-30 16:46] jessesanford commented on #23298
I was beginning to suspect the same thing:
[code]

[2016-03-30 16:46] ArtfulCoder commented on #23556
1. The issue is that the nameserver in /etc/resolv.conf should have said 10.239.240.10.
2. What is /etc/resolv.conf on the node(/host/machine) of the offending container.
3. What does `` sudo ps -ef |grep kubelet`` on that node give ? I am looking for the command line args of the kubelet.

[2016-03-30 16:48] bprashanth commented on #20475
Cross-referencing https://github.com/kubernetes/heapster/issues/1079

@zihaoyu @binarybana what kubelet flags are you running with?

If you're using --configure-cbr0=true, kubernetes should put cbr0 into promiscusous mode. you can check this with `netstat -i`

If you're running with --configure-cbr0=false --hairpin-mode=hairpin-veth, you should get the old hairpin veth behariour, you can check thi

[2016-03-30 16:48] jessesanford commented on #23298
I think that this must be an issue with the kube-aws folks. It is installing 1.3 on the master controller and only 1.1.2 on the kubelet. I will dig farther and report back if I do find that they are the root cause. Thanks for your help and sorry for the misdirection.

[2016-03-30 16:50] r-tock commented on #23556
1.  I think I may have pasted the previous resolv.conf entry from our preprod cluster. For our prod cluster it is the right thing. Note that you can commandeer our preprod cluster to do any experiment.
resolv.conf from container within the prod cluster.
`
search default.svc.cluster.local svc.cluster.local cluster.local c.rapid-depot-817.internal. google.internal.
nameserver 10.239.240.10
options n

[2016-03-30 16:51] preillyme commented on #22623
Hey @dchen1107 I've added you as an editor to the shared document.

[2016-03-30 16:54] r-tock commented on #23556
This is the equivalent set of info from our preprod cluster. The lack of DNS issue is reproducible there

[code]

2.
[code]

[code]

[2016-03-30 16:58] luxas commented on #22623
I've been thinking about if the kubelet should annotate or label itself with the platform it's running on. That might make arm, arm64, ppc64le, amd64 and windows handling easier, if there ever will be cross-clusters. WDYT?

[2016-03-30 16:58] a-robinson opened #23634 "e2e flake: trouble creating gke e2e clusters from head"
Both kubernetes-e2e-gke and kubernetes-e2e-gke-slow have had a couple failures to bring up a cluster this morning, seeing errors like:
Timed out waiting for cluster initialization. Cluster API may not be available.
All cluster resources were brought up, but the cluster API is reporting that component "scheduler" is unhealthy.

@jlowdermilk, does this overlap at all with the investigations you've b

[2016-03-30 17:00] therc commented on #23298
I don't set up my clusters kube-aws, but it seems like your system is using the kubelet binary that comes with CoreOS. Perhaps it notices it's there already and assumes you don't want another version?
Anyway, this was a good incentive for https://github.com/kubernetes/kubernetes/pull/23635

[2016-03-30 17:00] a-robinson commented on #23634
@kubernetes/goog-gke

[2016-03-30 17:03] tooda02 commented on #23505
[david@centos ~]$ kcsys exec kube-dns-v11-84yia -c healthz -- nslookup kubernetes.default.cluster.local 127.0.0.1
    Server:    127.0.0.1
    Address 1: 127.0.0.1 localhost

    nslookup: can't resolve 'kubernetes.default.cluster.local'
    error: error executing remote command: Error executing command in container: Error executing in Docker Container: 1

[2016-03-30 17:03] ncdc opened #23636 "Kubelet sometimes creates a second container when it shouldn't"
If you create a pod that will never be able to run successfully, such as this:

[code]

sometimes you'll see 1 container that is created and then fails to start, and then the pod is marked as failed. Other times you'll see that the Kubelet creates 2 containers before marking the pod as failed. The following are kubelet log line numbers that show the sequence of events:

[code]

It looks like the p

[2016-03-30 17:03] jsravn opened #23637 "Occasional server rejected event errors"
I keep seeing these server rejected event errors every now and then. My guess is it is trying to update an event that was expired in etcd. However I don't expect an error, since there is specific logic in `event.go` to handle that use case.

Any ideas why this may happening? I am using kubernetes 1.2.

Here is an example, from a host getting added to a cluster:
[code]

[2016-03-30 17:04] ixdy commented on #23545
820:
[code]

822:
[code]

Don't see anything like that for 3599, but I bet it was a similar issue.

[2016-03-30 17:12] ArtfulCoder commented on #23556
To clarify, where do you have DNS issues ?
In the kubernetes cluster ? or outside the kubernetes cluster ?
I am assuming you mean prepod cluster means, not running kubernetes ?

[2016-03-30 17:12] ihmccreery opened #23638 "Secrets should be consumable from pods e2e flake"
See http://pr-test.k8s.io/23097/kubernetes-pull-build-test-e2e-gce/32863/

[2016-03-30 17:13] ihmccreery commented on #23638
Note that that was on the v1.1 branch.

[2016-03-30 17:14] r-tock commented on #23556
We are seeing DNS issues inside the docker container for connecting with VMs on Google Cloud and public domains.

We are using kubernetes in both preprod and prod clusters.

[2016-03-30 17:20] ArtfulCoder commented on #23556
what do you get when you run
kubectl get svc --namespace=kube-system and
kubectl get ep --namespace=kube-system

on the offending cluster ?

[2016-03-30 17:21] ArtfulCoder commented on #23556
1. Is the DNS issue still reproducible  ?
2. Is it an issue on every node of the offending cluster ?

[2016-03-30 17:23] fejta commented on #22403
@spxtr @justinsb what's left on this?

[2016-03-30 17:23] r-tock commented on #23556
1. Yes DNS issue is still reproducible.
2. The preprod cluster has only 1 node.

[2016-03-30 17:24] fejta commented on #18162
Anything else for this one?

[2016-03-30 17:25] antoineco commented on #20475
@bprashanth sorry that was indeed not explicit enough.

I meant that I could not access one container of a pod from another using a service, like the [heapster-influxdb](https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/addons/cluster-monitoring/influxdb/influxdb-grafana-controller.yaml#L55) addon defaults to.

When I ran your command I found a combination of 0 and 1. I was foolish

[2016-03-30 17:25] r-tock commented on #23556
[code]

[2016-03-30 17:27] erictune commented on #23298
I updated the docs based on this thread.  Review welcome:
https://github.com/kubernetes/kubernetes.github.io/pull/286

On Wed, Mar 30, 2016 at 10:02 AM, Rudi C <notifications@github.com> wrote:

[2016-03-30 17:28] zmerlynn commented on #23584
`gcr.io/google_containers/guestbook:v3` has been pushed, sorry for the inconvenience.

[2016-03-30 17:28] #23584 closed

[2016-03-30 17:30] yujuhong commented on #23636
As discussed on slack, my theory was that pleg failed to detect that there was a change in the container state.
More specifically,
 1. container created. Container status: "created"
 2. PLEG relists all container/pods and update the cache.
 3. kubelet tried starting the container and failed. Container status: "created", exit code: non-zero
 4. PLEG relists all container/pods and update the cache.

[2016-03-30 17:33] mml commented on #23461
@quinton-hoole was out Mon-Tue, but I'll take a look again today.

[2016-03-30 17:34] ArtfulCoder commented on #23556
KubeDNS is not running at all on your prepod setup.
Can you run
`` kubectl get rc --namespace=kube-system``
and
`` kubectl get pod --namespace=kube-system``

If there is an error on the kubedns start, can you get the logs for the pod, by running kubectl get pod <pod-name>

[2016-03-30 17:36] r-tock commented on #23556
[code]

[2016-03-30 17:39] r-tock commented on #23556
Here is the kubelet.log

[code]

[2016-03-30 17:40] ArtfulCoder commented on #23556
can you run:
`` kubectl describe pod kube-dns-v11-a2yqb  --namespace=kube-system``

[2016-03-30 17:40] r-tock commented on #23556
[code]

[2016-03-30 17:41] roberthbailey commented on #23556
Can you manually scale your cluster to have 1 extra node?

[2016-03-30 17:41] ArtfulCoder commented on #23556
yeah, its
``Node didn't have enough resource: CPU, requested: 310, used: 810, capacity: 1000
``

[2016-03-30 17:42] maclof commented on #22698
Still suffering from issues with this, haven't managed to get any further with it either.

I've tried to get some tcpdump data for this issue but I'm not getting much output, so not sure if I'm doing something wrong.

[2016-03-30 17:42] ncdc commented on #23636
I added debug logging and @yujuhong's theory is correct. syncPod waits for the cache to be updated, the PLEG relists, and because the `plegContainerState` both before and after was `unknown`, the entry in the cache is not updated, and things proceed from there.

[2016-03-30 17:42] r-tock commented on #23556
Could you paste the command for that?

[2016-03-30 17:43] maclof commented on #23531
The "ahead4-docs-46695868-kdr6c" pod that it mentioned in the log was created by a ReplicaSet, are these not evicted by using drain?

I ended up having to manually delete each pod on that node after marking it as unschedulable. If I have to use this again I'll try --force next time.

[2016-03-30 17:44] roberthbailey commented on #23556
`gcloud container clusters resize --size=<N+1> CUSTER_NAME`

[2016-03-30 17:44] maclof commented on #20521
I haven't really seen this issue since I've upgraded to 1.2, so will close it for now.

[2016-03-30 17:44] #20521 closed

[2016-03-30 17:47] r-tock commented on #23556
its resized.

[2016-03-30 17:48] r-tock commented on #23556
[code]

[2016-03-30 17:49] cjcullen commented on #23556
The l7-lb-controller should come back to life when it is able to resolve DNS again.

[2016-03-30 17:50] spiffxp commented on #18162
1.1 tests don't pass against 1.2 clusters on both GCE and AWS, I'm working to repro and open issues for the specific tests that fail

[2016-03-30 17:50] r-tock commented on #23556
the dns is starting to work within the container now.

[2016-03-30 17:51] aveshagarwal commented on #23636
@yujuhong It seems that the first option might be better (if possible) based on exit codes. As I think the exit code for "created but not yet started" is always 0, and the code is nonzero for "created but failed to start". By dealing like this, it is possible that the unknown state can be handled in a better way too.

It seems to me that "created" (unknown state) containers are anyway being treate

[2016-03-30 17:52] r-tock commented on #23556
However, this does not explain why there is network outage within the prod cluster from time to time. Are there some logs to check if the kube-dns goes down sporadically in the prod cluster?

[2016-03-30 17:52] spiffxp commented on #14913
Per #23353 the docs have been updated on master, and `hack/conformance-test.sh` has been removed.  Do we need to cherry pick these doc changes into previous release branches?

[2016-03-30 17:54] Random-Liu commented on #23636
Ref #22607. :)

[2016-03-30 17:57] spxtr commented on #22751
It's gone.

[2016-03-30 17:57] #22751 closed

[2016-03-30 17:59] cjcullen commented on #23556
`kubectl events --namespace kube-system` should provide some help.

[2016-03-30 17:59] esotericengineer commented on #22623
I think self-labeling based on host platform makes a ton of sense. It will help with idiomatic configuration per platform, but also lends itself to helping with cluster segregation. Is there anything else in k8s that currently self-labels?

[2016-03-30 18:00] nikhiljindal commented on #23269
Re: ReplicationController and ReplicaSet - ReplicaSet is set to replace ReplicationController eventually. New resources (deployments, for example) work with ReplicaSet instead of ReplicationController. So I think, we should support ReplicaSet in ubernetes instead of ReplicationController.
LabelSelector is the only difference between ReplicaSet and ReplicationController.
All my comments talk about

[2016-03-30 18:00] ArtfulCoder commented on #23556
what are the symptoms that you notice for network outage in the prod cluster.
Do vms stop communicating ? (cant reach vms ?)
Do containers stop communicating ? (pods cant reach each other)
Do containers not reach outside-the-cluster urls ?
Is this dns related ? name-resolution fails, but network works ?

[2016-03-30 18:00] mml commented on #23403
Pretty sure this means 920 *millicores*.  We should also improve that message.

[2016-03-30 18:01] aveshagarwal commented on #23636
@Random-Liu a side effect of 22607 (and possibly in combination with this issue), one could see restart count > 0 even when restart policy is never.

[2016-03-30 18:01] r-tock commented on #23556
[code]

[2016-03-30 18:03] spxtr commented on #22403
I think this is done. The SSH tests are passing on AWS.

[2016-03-30 18:03] #22403 closed

[2016-03-30 18:03] jessesanford commented on #23298
Yep the issue was that kube-aws was old on my system so it was generating cloudformation templates that were referencing old cloud-config data which it uses to install kubelet etc. What's strange is that it was installing the correct version on the master controller. After updating to the latest version I can confirm that things are working as expected. Thank you.

[2016-03-30 18:03] ncdc commented on #23636
@Random-Liu this isn't exactly 22607, but it is related. The issue here is that there isn't enough information in ContainerState (https://github.com/kubernetes/kubernetes/blob/79012f6d5329b22fd77000a111d76dd8796c3e30/pkg/kubelet/container/runtime.go#L205-L210) to distinguish between "created but not yet started" and "created and failed to start".

[2016-03-30 18:03] r-tock commented on #23556
We see both kinds of the following errors
1) Name resolution fails.
[code]
2. Timeouts in hibernate, unable to connect to `db-master-prod-b`

By the time we log in the issue gets resolved as this happens as micro outages. 3-5 mins. So we only have the exceptions to go by.

[2016-03-30 18:05] cjcullen commented on #23556
Sorry, that command should have been `kubectl get events --namespace kube-system`

[2016-03-30 18:06] Random-Liu commented on #23636
@aveshagarwal @ncdc Thanks, I just find that some information in #22607 is useful here. :)

[2016-03-30 18:07] r-tock commented on #23556
Nothing there

[code]

[2016-03-30 18:07] ArtfulCoder commented on #23556
Can you run 2 dns pods in production instead of just 1 ?

[2016-03-30 18:09] davidopp commented on #22623
#9044 says cloud provider but can also cover platform stuff.

[2016-03-30 18:10] cjcullen commented on #23556
It doesn't appear to be a kube-dns issue then.

[2016-03-30 18:11] r-tock commented on #23556
@ArtfulCoder let me know how that can be configured. Should it be specified when spinning the cluster up or just resizing the pods of kube-dns afterwards?

[2016-03-30 18:13] roberthbailey commented on #23556
The number of dns pods is set dynamically based on your cluster size. For small clusters, we only run 1 (to reduce system overhead).

[2016-03-30 18:14] roberthbailey commented on #23556
You can scale the number of DNS replicas by running `kubectl scale rc kube-dns-v11 --namespace=kube-system --replicas=2`.

[2016-03-30 18:15] ixdy commented on #23350
I'm really confused.

kubernetes-pull-build-test-e2e-gce/33906 ran and passed all tests, apparently (JUnit was produced), but Ginkgo never showed any output, and it gave the "Ginkgo timed out waiting for all parallel nodes to report back!" message (after about 8m, after all tests passed).

I think Ginkgo is just broken.

[2016-03-30 18:15] Random-Liu opened #23639 "Kubelet: TerminationMessagePath doesn't work"
When working on #23506, I found that `TerminationMessagePath` doesn't work now.

Now we rely on `Volumes` in container inspect result to map `TerminationMessagePath` to host directory path (See [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L385)).

However, the `Volumes` in inspect result has been deprecated from docker 1.8.x (See [here](https://git

[2016-03-30 18:19] r-tock commented on #23556
Right, I will do that for now, But is there anything else I can help in investigating the micro outages we are seeing. Based on your explanation there might be another network issue at hand here. And the issue we found on the preprod-cluster may just be a red-herring, we are currently re-deploying all the small test clusters with two nodes instead of 1, so, at least, this workaround has helped us

[2016-03-30 18:19] bparees opened #23640 "making container pruning prefix more flexible"
Currently the k8s pruning logic explicitly considers only certain prefixes:

https://github.com/kubernetes/kubernetes/blob/be8ce6c38578c244ac6ebdb1c402f74e5a282140/pkg/kubelet/dockertools/docker.go#L358-L361

this is despite the fact that the pruning logic appears to be intended to handle "unidentified"(non-k8s?) containers:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockerto

[2016-03-30 18:22] vishh commented on #23614
Given that Kubernetes itself doesn't support usage based scheduling, why does the ubernetes scheduler need this feature right away?
It might make sense to make it work in Kubernetes before attempting in Ubernetes.

[2016-03-30 18:23] madhusudancs commented on #23269
I am fine with doing whatever is the easier/fastest to get this working end-to-end, i.e. adding annotations for now with Kubernetes Go types. But I am definitely not a fan of using nodeSelector as a proxy. It is fine if we want to prototype that way to prove everything works, but it shouldn't make it into a release, not even alpha. It just changes the semantic meaning of the field.

Yes this. `lab

[2016-03-30 18:23] esotericengineer commented on #22623
OK, after reading it through #9044, it would seem we could capture 'Platform' as a standard label in
`pkg/api/unversioned/well_known_labels.go`My guess is that in a multi-platform k8s, that would make the most sense since multiple platforms could become a pretty standard use case. That label could be used for OS & architecture combos or just OS

[2016-03-30 18:27] markturansky commented on #23615
Are you attempting to create the PV first with a claimRef and then create the PVCs?

[2016-03-30 18:36] markturansky commented on #23615
This works:

1.  Create 2 identical PVCs.   I used the ones in docs/user-guide/persistentvolumes/claims.  Edit "claim-02.yaml" to have to same capacity.

[code]

2.  Add the claimRef to docs/user-guide-persistentvolumes/volumes/local-01.yaml.

Pre-bind to the 2nd one.  You'll need the UID (kubectl get pvc myclaim-2 -o yaml).

[code]

That PV will only ever bind to myclaim-2.  It shouldn't matter t

[2016-03-30 18:46] luxas commented on #22623
I guess samples value for `kubernetes.io/(generic/)platform` could be `linux/arm`, `linux/amd64`, `windows/amd64`. This would be very nice to have when we're heading for cross-platfrom (`amd64`, `arm`, `arm64` and `ppc64le`): #17981

Talking code changes, what should be added more than this?
[code]
[code]
I could send a PR for this if you like.

[2016-03-30 18:47] chancez commented on #23269
I hope drive-by comments aren't too frowned upon. I don't understand why the current proposal aims to modify the existing RC resource, instead of adding a new resource which templates RCs. (Ie: an ReplicationController is to Pods, as ClusterReplicationController is to ReplicationControllers).

A very rough example of what I mean:
[code]

[2016-03-30 19:00] fabioy opened #23641 "Cluster addon resource usage needs to be tracked and tested"
We're seeing some failures for customers that upgrade to k8s 1.2 because the various addons now require more cluster node resources to run (i.e. https://github.com/kubernetes/kubernetes/issues/23556). Customers with high cluster utilization or small machine/node configuration may have situations where their v1.1 cluster no longer works properly after an upgrade to 1.2 because of this.

At the leas

[2016-03-30 19:02] r-tock commented on #23556
I may have something for debugging.

We deployed a new prod cluster  1:48  PM Chicago  our time. withing 3 minutes the node 3 went down with a bunch of cannot resolv hostname issue similar to the issue we were seeing.  I have a bunch of events from kubectl get events on that cluster.

5 minutes after that node 2 went down and came back up with the same connectivity issue.

[code]

[code]

[code]

[2016-03-30 19:06] r-tock commented on #23556
And here is the events from our server

[code]

[2016-03-30 19:10] r-tock commented on #23556
The funny thing is the liveness probe should not fail. Our servers simply return "pong" for the ping request.  It's also on a dedicated thread and there is no traffic which is causing any resource exhaustion or anything.  All these point to some sort of network issue here.

[2016-03-30 19:17] screeley44 commented on #23615
@markturansky - are you saying that the `uid` field is needed and not the `name` field meaning that for the prebind to work the pvc's need to already be created to collect the uid?  I would think that as a storage/openshift admin I would define and create the persistent volumes before I had pods be able to submit pvc's against it.

[2016-03-30 19:34] smarterclayton commented on #23615
I would expect the same - the UID is not required to make a bind from PV ->
PVC, it's required to handle races with deletions in the binder.

On Wed, Mar 30, 2016 at 3:18 PM, Scott Creeley <notifications@github.com>
wrote:

[2016-03-30 19:35] smarterclayton commented on #23640
These would be containers created by reasonably well behaved pods that have
access to the docker socket where having Kubelet GC them (because Kubelet
ultimately owns the lifecycle of the creating pod) makes sense.

On Wed, Mar 30, 2016 at 2:20 PM, Ben Parees <notifications@github.com>
wrote:

[2016-03-30 19:43] erinboyd commented on #23615
@markturansky I assume this is more how Dyn Prov works in that the PVC is created first, then the PV is matched. Does my use case not seem reasonable. Especially when considered brownfield deployments where an admin wants to create a PV to an existsing storage asset and wants to allow users to bind to that one specifically. Maybe you have an application that is reading from that storage and perfor

[2016-03-30 19:56] ixdy commented on #23350
For recent builds (i.e., those still on Jenkins - not searching all of GCS):

PR Jenkins:
[code]

Post-commit Jenkins has even more. Only posting counts, since the list is really long:
[code]

[2016-03-30 19:59] ArtfulCoder commented on #23556
I am going through your last 3 comments now and will respond shortly.

[2016-03-30 20:06] bgrant0607 commented on #23544
cc @ncdc

[2016-03-30 20:14] lavalamp commented on #23556
(Side note: making bigger nodes instead of more nodes is slightly more efficient in terms of cluster overhead.)

[2016-03-30 20:17] ncdc commented on #22344
@vishh @Random-Liu what do you mean by a statically defined secret? Something like "if a secret called infra-pod (or whatever) exists, use it"?

[2016-03-30 20:19] quinton-hoole commented on #23396
@etune I added priority and milestone based on my understanding.  Please feel free to edit as necessary.

[2016-03-30 20:21] dchen1107 commented on #20475
@bprashanth This is the one we talked about over the lunch with coreos folks.

[2016-03-30 20:21] ArtfulCoder commented on #23556
The following log seems interesting:

2m        2m        2         kubernetes-dashboard-v1.0.0-p0az9                                      Pod                                               Warning   FailedSync         {kubelet gke-apiserver-prod-2016-03-30t18-34-34-e8673210-node-lida}   Error syncing pod, skipping: failed to "StartContainer" for "POD" with ImageInspectError: "Failed to inspect ima

[2016-03-30 20:22] ArtfulCoder commented on #23556
you can also try to match up the running time of the docker process with the uptime of the node..

[2016-03-30 20:22] lavalamp commented on #23556
@dchen1107 re: docker socket

[2016-03-30 20:24] screeley44 commented on #23615
as a test, I added this snippet to the types.go

[code]

if I didn't have this, the *exact match* condition would not occur and the claim would then search for any suitable claim to match a pv by other attributes (size, etc...).  I then submitted both claims and only the one I expected matched and bound:

[code]

what do we break if we add a second conditional based on namespace + name only?  Mayb

[2016-03-30 20:26] r-tock commented on #23556
Oh good lead. Looks like Docker daemon says it started at the 58th minute not 38th which is around the time of the last time the pod aliveness checker lost connection with the apiserver container.

[code]

[2016-03-30 20:28] nikhiljindal commented on #23614
Yes we might not need it right away.
In phase 1, we can simply schedule on any cluster assuming that there are sufficient resources.

But eventually, we want to ensure that the cluster we are scheduling on has sufficient resources.

[2016-03-30 20:28] erinboyd commented on #23615
@jeffvance and I talked about just such a conditional. I think it makes sense if the ClaimRef exists - it is the matching mechanism. The size could still be used later for quota, but not for binding the claim.

[2016-03-30 20:28] r-tock commented on #23556
Alo note that docker-proxy which maps to the 6060 port which runs the health-checker also last started at :58th minute

[2016-03-30 20:30] markturansky commented on #23615
It used to be just Name and Namespace of the PVC, but we fixed a bug where a rapid deletion of the claim (which should release the volume) and subsequent re-creation of a claim with the same name would "bind" to the existing volume before it was able to be released.

UID was added because in the above scenario, those are 2 distinctly different claims.

[2016-03-30 20:31] jlowdermilk commented on #23634
It looks like both failures are symptoms of the same issue with docker -d that is currently being investigated. cc @dchen1107

[2016-03-30 20:32] madhusudancs commented on #23269
@chancez That's what I proposed if you look at my comments earlier, specifically - https://github.com/kubernetes/kubernetes/issues/23269#issuecomment-200982500 and https://github.com/kubernetes/kubernetes/issues/23269#issuecomment-202656119.

But there is a lot of work to be done, esp. if we do not want to duplicate API server code and reuse as much as possible. And we do not want to block Ubernet

[2016-03-30 20:34] markturansky commented on #23615
@erinboyd your brownfield use case is served by PersistentVolumeSelector.  You want the ability to label volumes and allow users to target specific ones.

[2016-03-30 20:36] akamalov opened #23642 "Question: Environment Variables for Kubernetes/Mesos"
Greetings,

I am wondering if anyone can let me know what would be the environment variable for the following args:

**scheduler**

[code]

**controller-manager** and **apiserver**

[code]

Thanks so much in advance!!

[2016-03-30 20:37] madhusudancs commented on #23269
@mfanjie: @nikhiljindal pointed out that making `clusterSelector` a field in RS would require us to create  these API types in Ubernetes. Since there is more work to be done before we can create those API types, let's add the cluster selector information to the annotations too. What you proposed for annotations is fine.

[code]

This is fine for now, except I changed `cluster-selector` to `cluster

[2016-03-30 20:40] ArtfulCoder commented on #23556
So, at this moment, are containers on that node running correctly ?
can you run `` docker ps `` on that node and see when the containers started ?

[2016-03-30 20:42] r-tock commented on #23556
Yes they are after 12:58 for the past 2 hours there hasn't been any outage. But this comes up randomly.

[code]

[2016-03-30 20:42] erinboyd commented on #23615
@markturansky Selectors aren't strict. We are talking about a precise way to make this bind which guarantees the PVC is tied to a specific storage asset.

[2016-03-30 20:44] smarterclayton commented on #23615
That requires the user to ABSOLUTELY know for sure the target volume is
labelled a certain way, which is excessive.

The UID is required to be absolutely sure a known PVC (preexisting)
matches.  It is not required to match a PVC by name.

The right solution here is to match PV claim to a PVC if the PV is set to
name, ignoring UID.  Dynamic provisioning *should* set UID, but it is not
required.

On

[2016-03-30 20:44] ArtfulCoder commented on #23556
you experienced a docker restart on the node for some reason. kubelet has been up since 18:36, but docker start time shows 18:58

[2016-03-30 20:44] ncdc commented on #22344
Or are you talking about a path to a json/yaml file containing an `api.Secret`?

[2016-03-30 20:45] r-tock commented on #23556
Here is the /var/log/docker.log

[code]

[2016-03-30 20:48] r-tock commented on #23556
To get more insight, I am pasting the docker.log from the previous prod cluster we had which had transient errors over the past week.
[code]

[code]

[2016-03-30 20:48] fgrzadkowski commented on #23614
@nikhiljindal Is this issue about using usage metrics or amount of requested resources in a cluster?

Resource metrics API will be delivered for 1.3 so I'd strongly suggest to wait for it. Current plan is to expose resource usage metrics aggregated on pod and node level. I assume we can add cluster level aggregation. We have all of this data already in Heapster. I agree with @davidopp - let's make

[2016-03-30 20:49] markturansky commented on #23615
@smarterclayton that opens the race condition (which may be entirely correct, but this was an Origin/BZ bug I fixed) where you can delete and recreate a claim with the same name and it will bind to the same volume if that volume hasn't yet been "released" from the first claim.

[2016-03-30 20:53] smarterclayton commented on #23615
So in that case the volume would have the UID set on its claim ref, correct?

So the flow being:

1. Admin creates PV with name
2. User creates PVC with name
3. Binder observes PV with claim ref to PVC but without UID
4. Binder should update PV claim ref to have PVC uid
5. Binder updates PVC

Since the binder would normally go and update the PV claim ref, it seems
(based on my admittedly older und

[2016-03-30 20:54] r-tock commented on #23556
Note that on March 25 the outage happened around 12:30 PM Chicago, which is 18:30 PM. The closest error we find are these

[code]

[2016-03-30 20:54] chancez commented on #23269
@madhusudancs I see, sorry to add clutter. I was trying to follow along but couldn't for sure tell. That all sounds ideal, and you expressed my primary concerns. Makes sense. I'm really looking forward to this functionality getting in!

[2016-03-30 20:54] ArtfulCoder commented on #23556
You are definitely experiencing long periods (~20 mins) where docker is simply not running.

[2016-03-30 20:57] Random-Liu commented on #22344
@ncdc I think it's something like the second one.

[2016-03-30 20:57] ncdc commented on #22344
Yeah, I realized that after reading the comments above about the apiserver. Working on this now.

[2016-03-30 20:58] Random-Liu commented on #22344
@ncdc Cool, thanks!

[2016-03-30 20:58] ArtfulCoder commented on #23556
docker log states-> GET /containers/json returned error: write unix @: broken pipe"

can you print out the file ``/usr/sbin/docker-checker.sh`` on that node..
maybe docker version does not use the docker.sock and as a result the broken socket does not get detected ?

[2016-03-30 21:06] r-tock commented on #23556
Well still running.

[code]

[2016-03-30 21:08] jlowdermilk commented on #23544
@k8s-oncall, how much pain is this causing? I can update gcloud on jenkins-master to a ci build to pick up retry, but that carries some risk.

[2016-03-30 21:09] nikhiljindal commented on #23614
Sure, thanks!

Its about computing the available resources in a cluster. Just the CPU and memory to start with.

[2016-03-30 21:09] r-tock commented on #23556
10 minutes and still going.

[2016-03-30 21:13] r-tock commented on #23556
I am going to kill it on both nodes. Any suggestions?

[2016-03-30 21:14] derekwaynecarr commented on #23514
@a-robinson which test showed this error?  that is an expected response to calling delete on an already deleting namespace so it seems like a logic error in the test.

[2016-03-30 21:15] ArtfulCoder commented on #23556
I wouldnt kill it. What I meant to say is that the content of the file (docker-checker.sh) indicates that "docker version" command is used to validate if docker is healthy and that check may not be enough.

[2016-03-30 21:16] ArtfulCoder commented on #23556
just kill the script execution. (don't kill docker since its healthy at this point)

[2016-03-30 21:17] r-tock commented on #23556
yeah

[code]

[code]

[2016-03-30 21:18] r-tock commented on #23556
docker ps on both nodes say that nodes restarted ~14 minutes ago

[code]

[2016-03-30 21:18] derekwaynecarr commented on #23514
I cant login into the pantheon page, but looking at the pr number:

[code]

I suspect a logic error in that test.

[2016-03-30 21:18] wojtek-t opened #23645 "e2e flake: kubectl exec -i nginx bash timed out after 20m"
An example failure:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/23427/kubernetes-pull-build-test-e2e-gce/33968/build-log.txt

[2016-03-30 21:19] r-tock commented on #23556
docker log

[code]

[2016-03-30 21:22] madhusudancs commented on #23269
@chancez no worries, more feedback is good. We want feedback :)

[2016-03-30 21:22] a-robinson commented on #23514
Ah, sorry Derek! I fixed the link to be https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23501/kubernetes-pull-build-test-e2e-gce/33637/

It had been running the kubectl test suite, but the problem came up in the AfterSuite logic:
[code]

[2016-03-30 21:27] a-robinson commented on #23544
It's been pretty bad today... I'd recommend trying out the CI build. That'll also get us much faster feedback on whether the changes you made help or if we need to do something else.

[2016-03-30 21:33] ArtfulCoder commented on #23556
there is silence in the docker log between these two statements:

[2016-03-30 21:34] r-tock commented on #23556
Which two?

[2016-03-30 21:36] ArtfulCoder commented on #23556
the statements at:"2016-03-30T16:48:04." and "2016-03-30T21:04:09."

48th min, and then 4th min of the next hour
You lost 16 mins.

[2016-03-30 21:37] r-tock commented on #23556
There was no docker logs I guess until we ran docker-checker.sh.

[2016-03-30 21:38] r-tock commented on #23556
I am not sure if that is helping. Yes, the docker daemon went down because docker-checker.sh did a stop and start. Unfortunately, it did not shut down correctly, so it got into a loop.

But that does not explain the organic 20 minute outages we are seeing over the past week.

[2016-03-30 21:42] ArtfulCoder commented on #23556
I was still trying to ensure from your logs that the docker not restarting was indeed the issue.

(earlier: I simply wanted you to look at the docker-checker script to ensure that it was doing what it is supposed to do, detect a dead docker process and restart it).

It seems that we might want to bolster that script a bit so that docker is not dead for minutes..

[2016-03-30 21:42] r-tock commented on #23556
On a side note.

Also I think this logic is not correct. pidof and a sleep of 10 may get into a state where the loop does not exist if the docker spins back up fast enough within the 10s window.
[code]

[2016-03-30 21:42] ArtfulCoder commented on #23556
I agree that we might have work to do on that script.

[2016-03-30 21:43] fejta commented on #23645
Where did the infrastructure fail? It isn't obvious because there is only a link to a GCS file.

[2016-03-30 21:43] ArtfulCoder commented on #23556
the pidof check does not ensure health of the docker process. we will have to strengthen the script.

[2016-03-30 21:44] wojtek-t commented on #23645
Basically - this is timeout of the test - it's not any individual test failure.

[2016-03-30 21:44] r-tock commented on #23556
To summarize for the folks reading this thread. @ArtfulCoder please correct or clarify as necessary.

"We are back to pointing finger at docker daemon exiting causing these network outage without any idea of why it is doing that."

[2016-03-30 21:46] a-robinson commented on #23544
The metadata server's flakiness is also causing problems for the kubelet pulling images...

From https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/749/
[code]

[2016-03-30 21:48] ArtfulCoder commented on #23556
You have encountered two issues:
1. kube-system pods dont have enough resources to run on your 1-node cluster.
2. docker seems to die and not restart for 15-20 mins.

Issue 1 can be handled for now by  running 2+ node cluster.
for issue 2, we would need a more robust docker-checker script.

[2016-03-30 21:49] markturansky commented on #23615
What you say works and I agree overall.  It allows the admin to target claims by name before the claim is created.

More nuance to the model:

[code]

[2016-03-30 21:53] fejta commented on #23645
Hmm... it looks like the problem is that it spent 20 minutes (13:53 to 14:14) running `kubectl exec -i nginx bash`:

[code]

[2016-03-30 21:53] r-tock commented on #23556
Thanks

For Issue 1 even though we are back to working with a 2+ node we don't want to double our dev/test resources, would be good if you can publish the requirements of GKE core jobs so that we can set resources on our job accordingly.

For Issue 2, Is your hypothesis that a robust docker-checker script will solve death of docker and with that solve the transient network issue.

[2016-03-30 22:01] ArtfulCoder commented on #23556
For issue 2: the immediate concern is that docker cannot be absent for 15-20 mins at a time. we want to detect that docker is unavailable ASAP and fix it. This will substantially reduce the impact of docker dying. I am still unsure as to why docker is dying in the first place.

Maybe you could run dmesg when you encounter the issue and see if there are any relevant kernel log.

[2016-03-30 22:01] fejta commented on #23545
Connection refused is almost certainly a jenkins cpu is overloaded issue

[2016-03-30 22:06] bprashanth opened #23647 "Unittest flake: Data race in TestEventfNoNamespace"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23646/kubernetes-pull-test-unit-integration/19746/artifacts/
[code]

[2016-03-30 22:22] r-tock commented on #23556
@ArtfulCoder let me know once you have fix in place and pushed for the docker-checker script. We can up a new GKE cluster quickly and switch over to that.

[2016-03-30 22:23] bacongobbler commented on #21413
Hold up, the first node saw this error when provisioning this time:

[code]

Looking into virtualbox I noticed that I have an old v1.1.7 minion node running:

![2016-03-30-152135_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1360539/14159528/30939c4a-f68b-11e5-9e96-fe668907afd3.png)

I just blew down the new cluster, removed the zombie minion node and all was fine after that.

[2016-03-30 22:23] erinboyd commented on #23615
@smarterclayton can you please assign this bug to @jeffvance from my team, he will be fixing it.

[2016-03-30 22:27] mml commented on #23461
I am having some trouble parsing this.  It looks like we got the cluster up, then immediately called kube-up again and failed a few seconds later.

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/1381/consoleFull#4414052197e9f59be-260c-4db5-b752-a7841063d0d0

[code]

[2016-03-30 22:28] spxtr opened #23648 "pkg/registry/*/etcd unit tests should not be integration tests"
These tests all spin up a local etcd server, talk with it, and then tear it down. It seems likely to me that that integration-like behavior is not actually be necessary, they should instead talk to a fake etcd server. We have lots of integration tests already that talk to a real etcd server.

For an idea of how slow these are: they take up approximately a quarter of our test time. This is about 20

[2016-03-30 22:30] a-robinson commented on #23544
It's still causing pain all over the place - I'm now very in favor of trying out the CI build

[2016-03-30 22:31] jlowdermilk commented on #23544
Working on it. I want to make sure the script doesn't break the world before I run it on jenkins master/slave vms.

[2016-03-30 22:32] fejta commented on #23496
Happy case:

[code]

sad case:

[code]

[2016-03-30 22:32] mml commented on #23461
Upon re-reading the log, I see that the first cluster came up and we'd just started on the second.  No sign of the error, though.  We need #23504 to see clearly.

[2016-03-30 22:35] smarterclayton commented on #23615
Can't assign here, but @jeffvance you're it :)

[2016-03-30 22:37] fgrzadkowski commented on #22797
SGTM. @piosz Can you please look into this?

[2016-03-30 22:40] gmarek commented on #19895
I haven't seen this failure for quite a while.

[2016-03-30 22:40] #19895 closed

[2016-03-30 22:40] ixdy commented on #23496
Interesting. I'm pretty sure that we don't actually need to set `GCE_SERVICE_ACCOUNT`, since the account we get from `gcloud auth list | grep active` is the same as the default. If it's not set we follow a slightly different code path which may be less tolerant to the overloaded Jenkins VM environment (I'm guessing).

cc @saad-ali since I was just talking to him about this (but not re: this issue)

[2016-03-30 22:46] yoshiwaan commented on #3760
I've learned a lot reading this thread!

As an FYI this doc states that AWS ELB uses round-robin for TCP connections and least connections for http/https: http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/how-elb-works.html#request-routing

I agree that focussing on getting requests only to nodes that run pods and to try to serve local pods is the best way to go about it. The n

[2016-03-30 22:46] jeffvance commented on #23615
ack

[2016-03-30 22:49] fejta commented on #23496
Well it sounds like we should immediately bomb out if gcloud auth list | grep active returns non-0

[2016-03-30 22:58] gmarek commented on #21523
This causes failures in SchedulerPredicates MaxPods test (#19681) - all recent failures are caused by 'No available IPv4 addresses on this network's address pools: bridge' error.

[2016-03-30 22:59] liggitt commented on #23648
I'd rather just switch back to non TLS etcd for unit tests (see https://github.com/kubernetes/kubernetes/pull/22919 ) than try to make sure we keep parity with a fake etcd server.

[2016-03-30 23:05] a-robinson opened #23651 "Kubectl expose service should change type on existing services"
I created a service of type ClusterIP. I later decide that I want to expose it externally. What's the correct way to do this in a 1.2 cluster, and where is it documented? I found nothing about it in our docs, and the approaches that came to mind first all don't work:

[code]

`kubectl expose` doesn't work because it only supports creating new services, not modifying existing services.

`kubectl up

[2016-03-30 23:05] spxtr commented on #23648
The other option is to just make these integration tests, which already have an etcd server to talk to. That should speed them up a fair amount, since they spend quite a bit of time upping and downing 190 etcd servers.

In principle though, we should have some integration tests that talk to a real etcd server and make sure that interface doesn't change, and then these unit tests should assume the

[2016-03-30 23:08] liggitt commented on #23648
There are interactions between successive calls to etcd storage I don't think we should try to mimic/fake/stub. I would have less confidence in our registry unit tests if we did

[2016-03-30 23:09] bprashanth commented on #23651
Yeah I don't see why expose on a service shouldn't work.
Simply updating the service to type=loadbalancer should work (i.e kubectl edit svcname, change type).

[2016-03-30 23:09] spiffxp opened #23652 "v1.1 SchedulerPredicates conformance test failing v1.2 clusters"
Specifically "validates resource limits of pods that are allowed to run"

It appears both the AWS and GCE clusters as brought up by `e2e.go` are unable to successfully schedule all of the expected pods

AWS

[code]

GCE

[code]

[code]

ref #18162 /cc @kubernetes/sig-testing

[2016-03-30 23:10] xiang90 commented on #23648
/cc @hongchaodeng

[2016-03-30 23:10] bprashanth commented on #23651
I meant, I know it's meant to expose an RC/deployment etc, but we can make `kubectl expose svc` also work the same way.

[2016-03-30 23:10] nikhiljindal opened #23653 "Cluster Federation: task list"
Documenting the list of tasks for ubernetes for 1.3 based on various discussions:

**APIServer:**
- [x] Add code for `federated-apiserver` ( https://github.com/kubernetes/kubernetes/pull/23509)
- [x] Add `federation/v1alpha1` group version and `cluster` resource ( https://github.com/kubernetes/kubernetes/pull/23847)
- [x] Add `service` resource to federated-apiserver (https://github.com/kubernetes

[2016-03-30 23:11] spiffxp opened #23654 "e2e.go on release-1.1 branch still requires NUM_MINIONS env var to run"
Unsure how involved it is to cherry-pick or backport the work that was done to remove this requirement from release-1.2 and master.

ref #18162 /cc @kubernetes/sig-testing

[2016-03-30 23:15] a-robinson commented on #23651
Edit is probably the best current option, assuming that it's expected that update and replace don't work. Maybe document it at http://kubernetes.io/docs/user-guide/services/operations/ ?

`kubectl expose svc` actually works, but you have to pass it a different name for the new service that it creates: http://kubernetes.io/docs/user-guide/kubectl/kubectl_expose/

[2016-03-30 23:15] spxtr commented on #23648
Sounds like they should be reworked as integration tests then. They spend a significant amount of their time creating and destroying the etcd server for each test.

[2016-03-30 23:17] bprashanth commented on #23651
That seems kind of clunky. Maybe there was a reason for it. I'd expect an in place update too.

[2016-03-30 23:17] spiffxp opened #23655 "v1.1 Proxy version v1 conformance tests failing v1.2 clusters"
Specifically "should proxy logs on node" and "should proxy logs on node with explicit kubelet port"

It appears this is failing for GCE clusters and passing for AWS clusters as brought up by `e2e.go`

[code]

[code]

ref #18162 /cc @kubernetes/sig-testing

[2016-03-30 23:24] spiffxp commented on #18162
I think that's all of them.  I'll try to dig into these issues as I get time.  I'm not sure if there's CI coverage around these particular failures or not.  Will look into whether I've got an CI cycles to spare there

[2016-03-30 23:27] ArtfulCoder commented on #23556
Sure.

[2016-03-30 23:28] ArtfulCoder commented on #23556
and thank you for your patience and quick responses to all my questions!

[2016-03-30 23:35] quinton-hoole commented on #23653
LGTM @nikhiljindal
Some minor comments:

1. Service controller comprises two major parts (see docs/design/federated-service.md for details):
    1. Delegating service creation to underlying Kubernetes clusters.
    1. Creating load balancing apparatus across the top of the resulting Kubernetes services.
        1. kubectl needs to be able to do this too, without an Ubernetes control plane, at leas

[2016-03-30 23:38] a-robinson commented on #23610
And again today:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-test-go/10329/

Why is there no output from the failed test? @spxtr @krousey, have any idea?

[2016-03-30 23:46] bprashanth opened #23657 "Decide how kubenet handles promiscuous mode"
To work around #20096 we introduced a --hairpin-mode flag that flips cbr0 to promiscuous mode. Users of kubenet run with --configure-cbr0=false, so before we push kubenet to production we need to decide how to handle this.

If we decided to stick with promiscuous mode, kubenet should set it on whatever bridge it creates. We will (hopefully) not have to continue relying on promiscuous mode on newer

[2016-03-30 23:50] spxtr commented on #23610
There is output, it's in artifacts/blablabla.stdout.

[code]

Looks like the same issue as #23372. @wojtek-t mind taking a look?

[2016-03-30 23:51] krousey commented on #23648
My main question would be how does `pkg/registry/deployment/etcd.TestCreate` differ in a way from `pkg/registry/job/etcd.TestCreate` that the etcd interactions may matter?

I haven't looked too closely, but to me, it seems there's a set of etcd interactions that we want to test, and a set of API type things we want to test... and we're testing the cross product of those two sets instead of isolati

[2016-03-30 23:51] bprashanth commented on #23657
Another option for rkt is to flip to `hairpin-mode=hairpin-veth` when using network plugin + rkt, and handle setting the hairpin flag in the container runtime like docker does: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1895 (I don't think rkt ever did this, so I think hairpin didn't work with or without promiscuous mode)

[2016-03-30 23:59] bprashanth opened #23659 "gcloud complains about node not found"
Was tempted to dupe this into the gcloud meteadata server issue, but I think this is some other race:
[code]
gcloud.compute.copy-files failed, but we do have logs from those nodes, so not sure what happened.

https://github.com/kubernetes/kubernetes/pull/23646#issuecomment-203688517
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23646/kubernetes-pull-build-test-e2

[2016-03-31 00:08] a-robinson commented on #23610
Well that's certainly useful to know, thanks!

[2016-03-31 00:11] jlowdermilk commented on #23544
Jenkins master is now running a ci gcloud build. I looked at a couple jobs and it seems to be running correctly. Let me know if you see issues and/or if flake rate from gsutil/gcloud errors changes.

[2016-03-31 00:17] quinton-hoole commented on #23483
@justinsb I would love to have this for Ubernetes in 1.3 if at all possible.  But I believe that AWS ELB's are restricted to in-Region?  We'll need to use Routh53 DNS failover on top of them for cross-Region, I think.

http://aws.amazon.com/articles/1636185810492479

Q

[2016-03-31 00:26] timstclair commented on #23397
Results from running e2e tests on v1.11.0-rc2:

[kubernetes-e2e-gce](https://gist.github.com/timstclair/3a000e1a9e22c9d204397fa3d25e7f43)
[code]

[kubernetes-e2e-gce-serial](https://gist.github.com/timstclair/d81d3be30eb8d8444796acbf59dfecf4)
[code]

[kubernetes-e2e-gce-slow](https://gist.github.com/timstclair/6125760a05654d36c255048c49ef7ea5)
[code]

Lots to look into here...

[2016-03-31 00:36] Random-Liu commented on #23462
Supplement:
As @yujuhong mentioned in #23658, we may want to add a test for termination message path.

[2016-03-31 00:37] dchen1107 commented on #23556
I looked into this very issue yesterday for our gke cluster, and here is what I found yesterday (copy & paste from gke buganiza):

[code]

I also tried to remove one of possibilities of restarting docker daemon through: https://github.com/kubernetes/kubernetes/pull/23593. But it looks like it doesn't remove all possibilities based on our tests. Another possibility is introduced by docker load. In

[2016-03-31 00:45] jeffvance commented on #23615
Using this version of k8s (hack/local_up_cluster):
[code]
and this PV spec file referencing *ClaimRef*:
[code]
I get this create erro:
_error validating "nfs-pv2.yaml": error validating data: found invalid field ClaimRef for v1.PersistentVolumeSpec; if you choose to ignore these errors, turn validation off with --validate=false_

Instead, if is use `*volumeName*` in the PVC spec file:
[code]
then

[2016-03-31 00:45] caesarxuchao commented on #23321
Another occurrence:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23608/kubernetes-pull-build-test-e2e-gce/33951/

[2016-03-31 01:06] timstclair commented on #23386
FYI, you can use go-template as a workaround (not saying we shouldn't fix this):
[code]

[2016-03-31 01:16] mfanjie commented on #23269
@madhusudancs about not using nodeSelector as proxy of ubernetes scheduling, I am with you, new Logic will be added as RC scheduling is a lot different from pod scheduling.

[2016-03-31 01:25] bprashanth opened #23663 "Run l7 controller as a static pod on the master"
This is advantageous for many reasons, but most notably because the master has compute/rw. An nginx controller would still run as an RC in the cluster.

The biggest blocker for this is the acquisition of UIDs. The problem is one can create multiple GKE clusters within a GCE project, and simply computing a cluster local random UID is insufficient, because if 2 controllers end up using the same "UID

[2016-03-31 01:31] markturansky commented on #23615
@jeffvance I think it's the capitalization. Look at "ClaimRef" versus "claimRef" in the YAML.

[2016-03-31 01:34] paralin opened #23664 "AWS Wily Nodes go NotReady"
This is really similar to #13997

I'm running kubernetes `v1.2.0-beta.1` with the AWS Wily version.

The master is running just fine as is 1/3 nodes but randomly here as I'm working two of the nodes have gone offline:

[code]

[code]

The cluster has been online for 6 days or so. No idea why these are offline. I tried SSHing into one of the nodes and that times out. Not sure how to debug this.

[2016-03-31 01:34] paralin commented on #23664
cc @justinsb

[2016-03-31 01:46] jeffvance commented on #23615
@markturansky You're correct. When I change the PV spec to:
[code]
then the PV is created. However, the claimRef is not shown in the `kubectl get pv` output:
[code]
So, even though **claimRef** was syntactically allowed in the PV spec, it didn't have any impact in the resulting PV object.

[2016-03-31 01:54] jeffvance commented on #23615
More on using **volumeName** in the PVC spec from my (https://github.com/kubernetes/kubernetes/issues/23615#issuecomment-203698259)[comment above]:

[2016-03-31 01:56] a-robinson commented on #23642
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-31 01:56] #23642 closed

[2016-03-31 01:58] a-robinson commented on #23625
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-31 01:58] #23625 closed

[2016-03-31 02:00] a-robinson commented on #23629
@kubernetes/sig-api-machinery @kubernetes/sig-node

[2016-03-31 02:00] a-robinson commented on #23630
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-31 02:00] #23630 closed

[2016-03-31 02:00] a-robinson commented on #23631
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-31 02:00] #23631 closed

[2016-03-31 02:09] a-robinson commented on #23587
Cross reference #19049, #17035,

[2016-03-31 02:14] a-robinson commented on #23599
@erictune, was the selector changed between v1beta1 and v1?

[2016-03-31 02:15] a-robinson commented on #23601
Can you give more detail on what guide you used to deploy your cluster?

@kubernetes/goog-cluster

[2016-03-31 02:17] a-robinson commented on #23604
You guys aren't the only folks who've been confused by this.

cc @kubernetes/docs @kubernetes/kubectl @kubernetes/goog-gke

[2016-03-31 02:18] a-robinson commented on #23604
Doc fixes are always very welcome :)

[2016-03-31 02:19] a-robinson commented on #23618
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-31 02:19] #23618 closed

[2016-03-31 02:20] a-robinson commented on #23619
cc @resouer

[2016-03-31 02:21] pmorie commented on #23629
I am in an on-site this week but I will try to reproduce this asap.

[2016-03-31 02:22] pmorie commented on #23629
To clarify @vaijab, this is not the intended behavior.

[2016-03-31 02:22] a-robinson commented on #23621
Potentially related to #23629 and #23638

[2016-03-31 02:23] a-robinson commented on #23624
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-31 02:23] #23624 closed

[2016-03-31 02:24] pmorie commented on #23621
@jadhavnitind can you try to reproduce with an image like busybox and `env` for the command?

[2016-03-31 02:25] a-robinson commented on #23531
Huh, if drain doesn't take ReplicaSets into account, that could be a problem. What version of kubectl were you using?

[2016-03-31 02:28] pmorie commented on #23621
Reading this again, I am not certain if I think there is a bug - do you believe there is a bug because of the behavior of `kubectl exec`? If the env var is set correctly in the pod, the problem with kubectl exec may be that a buffer isn't being flushed.

[2016-03-31 02:30] a-robinson commented on #23551
@kubernetes/goog-cluster

[2016-03-31 02:32] mfanjie commented on #23269
Had a sync up, and we will implement this based on ReplicaSet instead of controller manager.

[2016-03-31 02:33] fejta commented on #23496
Here is what bites us:

[code]

https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/job-configs/global.yaml#L190

[2016-03-31 02:35] a-robinson commented on #23553
You should be able to get a better sense of what's happening by looking at /var/log/kube-controller-manager.log on the master VM.

[2016-03-31 02:59] cjcullen opened #23668 "Possible e2e flake: Services [It] should be able to up and down services"
[code]
[Full log](https://doc-0eiou-170d0-s-googleusercontent.commondatastorage.googleapis.com/gs/uicqmja7vc0lv3u64moqnrkd5drugvov/5sbjncl6th3ql2ejg7akj8mlulmrlpp8/1459386000000/kubernetes-jenkins/06802105212680952678/ChJrdWJlcm5ldGVzLWplbmtpbnMSSXByLWxvZ3MvcHVsbC8yMzY0Ni9rdWJlcm5ldGVzLXB1bGwtYnVpbGQtdGVzdC1lMmUtZ2NlLzM0MDA4L2J1aWxkLWxvZy50eHQ?a=AGjQbs7OAxYl0063Ko0sZhD9LvUs1SGvXG-IiLJ_u_ix8B12NmyW

[2016-03-31 03:03] bgrant0607 commented on #7483
Would like to add this to ReplicaSet and ReplicationController, also. Probably ReadyReplicas, which we could also add to Deployment.

[2016-03-31 03:19] sunzen commented on #23659
unsubscribe

On Thu, Mar 31, 2016 at 8:00 AM, Prashanth B <notifications@github.com>
wrote:

--
sunzen
<<freedom & enjoyment>>

[2016-03-31 03:28] a-robinson commented on #23571
cc @kubernetes/sig-node

[2016-03-31 03:28] a-robinson commented on #23572
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-31 03:28] #23572 closed

[2016-03-31 03:36] a-robinson commented on #23480
@kubernetes/autoscaling

[2016-03-31 03:41] thockin commented on #23571
Kubernetes "command" == Docker "entrypoint"

Kubernetes "args" == Docker "cmd"

It's unfortunate that Docker's naming and semantics are so brain-damaged
(understanding full well that it evolved, so such is the way of things).
There is no way to use docker's CMD *and* add more args.

Specifically:

On Wed, Mar 30, 2016 at 2:04 AM, ibalashov <notifications@github.com> wrote:

[2016-03-31 03:54] a-robinson commented on #22980
ping on @mml's question - all issues should be given a team label, even if it's just team/none, and I'm not sure what else this would fall under.

[2016-03-31 03:55] a-robinson commented on #22684
cc @kubernetes/heapster-maintainers

[2016-03-31 03:55] thockin commented on #23551
I think what's happening is that you are PUTing a yaml blob that has no NodePort value, which defaults to 0, which means "allocate one for me".

@bgrant0607

This has come up a number of times specifically wrt NodePort.  The canned answer is "you have to read it, mutate it, and write it back if you want to preserve fields with defaulted values".  This is principally sound but it is unsatisfying in

[2016-03-31 03:58] bgrant0607 commented on #23551
cc @AdoHe @lavalamp @jackgr @ghodss

[2016-03-31 03:58] #14836 closed

[2016-03-31 03:59] a-robinson commented on #3120
@fejta - when you remove test-infra from issues, could you please switch it out for a more appropriate label rather than leaving the issues lingering in the ether?

[2016-03-31 04:10] spxtr commented on #22980
The test infra team isn't going to do this, since it's not really an infra problem. I think adding the `team/test-infra` label is misleading.

[2016-03-31 04:11] bgrant0607 commented on #23564
I wouldn't use apply with secrets.

[2016-03-31 04:12] bgrant0607 commented on #23403
cc @janetkuo

[2016-03-31 04:20] bgrant0607 commented on #23551
This problem is caused by 2 things:
1. Defaulting in kubectl #3955. We plan to fix that in 1.3.
2. Not distinguishing between unset and Go default values. We need to convert every optional field without a built-in nil value to a pointer.

[2016-03-31 04:22] bgrant0607 commented on #23551
I am opposed to changing PUT semantics. PUT is expected to be used in read-modify-write situations. `kubectl apply` actually uses PATCH.

[2016-03-31 04:23] bgrant0607 commented on #23551
cc @kubernetes/kubectl

[2016-03-31 04:25] a-robinson commented on #22980
team/none it is, then.

[2016-03-31 04:44] bprashanth commented on #23668
That looks like image pulling hang, the pod in question is service1-do4cj and it landed on node https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23646/kubernetes-pull-build-test-e2e-gce/34008/artifacts/e2e-gce-builder-3-0-minion-ki6z/?pli=1
[code]

And of course I see the registry endpoint ping failures
[code]

So closing as dupe of https://github.com/kubernetes/kub

[2016-03-31 04:44] #23668 closed

[2016-03-31 04:50] bprashanth commented on #20550
From a more recent failure I'm inclined to pin this on metadata server flake: https://github.com/kubernetes/kubernetes/issues/23668#issuecomment-203750129. Previous the resolv.conf on the node was using `10.0.0.1` https://github.com/kubernetes/kubernetes/issues/20550#issuecomment-184989014 but now using `169.254.169.254`, and we're also seeing metadata server flake in the gcloud crash issue.

Some

[2016-03-31 04:51] yifan-gu commented on #23571
@ibalashov Could you please post what's in the image's ENTRYPOINT and CMD? Also how's your container spec look like?

[2016-03-31 04:58] bprashanth commented on #23601
You absolutely need to be able to talk to the apiserver for kube-dns to work. It looks like you're not able to. Did it ever work?

[2016-03-31 05:38] davidopp commented on #23269
Explicitly naming clusters is totally reasonable for the first version. But longer-term, here is how I would suggest you select clusters:
(1) Have a Cluster resource in the Ubernetes control plane, one for each cluster (I think you are already planning to have it?)
(2) Put labels on the Cluster resources
(3) Have the annotation on ReplicaSet use NodeSelector
https://github.com/kubernetes/kubernete

[2016-03-31 05:41] pwittrock opened #23669 "Node e2e pull image test fails saying it can't reach gcr.io"
Seeing a fair number of failures from the PR builder failing because they can't reach gcr.io

`Get https://gcr.io/v2/: dial tcp: lookup gcr.io on 169.254.169.254:53: dial udp 169.254.169.254:53: network is unreachable\n v1 ping attempt failed with error: Get https://gcr.io/v1/_ping: dial tcp: lookup gcr.io on 169.254.169.254:53: dial udp 169.254.169.254:53: network is unreachable`

May need to dis

[2016-03-31 05:42] a-robinson opened #23670 "kubemark-5 e2e test broken for 5 hours"
Seemingly all because after creating its resources, it checks whether resources of a different name exist:

[code]

The resources that were created are named `kubemark-5-master.*`, not `kubemark-5-kubemark-master.*`. This broke between 4:32pm and 4:56pm today although no changes were checked in around then.

I thought Jenkins configs were under version control -- what went wrong here?
@kubernetes/

[2016-03-31 05:44] a-robinson commented on #23670
Link to one such failure: https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/659/

[2016-03-31 05:45] thockin commented on #23551
Unless we handle this gracefully O(soon) then apply is effectively useless
for services.  Do you know if the patch generation logic will work properly
if the optional fields are converted to pointers?  I guess I can try it,
but I won't have time in the next week or maybe more.

On Wed, Mar 30, 2016 at 9:23 PM, Brian Grant <notifications@github.com>
wrote:

[2016-03-31 05:50] a-robinson commented on #23670
Looks like it might have correlated with @jlowdermilk putting a CI build of gcloud onto the jenkins master?
https://github.com/kubernetes/kubernetes/issues/23544#issuecomment-203691992

[2016-03-31 05:57] a-robinson commented on #23544
I think this may have caused some problems:

* The timing lines up reasonably well with #23670, although I'm not sure why a new gcloud would cause that.

* There's a gsutil crash in kubernetes-e2e-gce-reboot, although that's only happened in [the most recent run](https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-reboot/2002/):

[code]

* [e2e-gce-release hit a gcl

[2016-03-31 05:57] saad-ali commented on #23615
We've been having detailed discussions about refactoring the existing provisioner, binder, and recycler controllers and consolidating them in to a single controller. As part of this redesign we're planning on handling "pre-bound" claims. We'll discuss this design at tomorrow's SIG meeting (Thursday morning 9 AM PST).

CC @childsb @pmorie

[2016-03-31 05:59] a-robinson commented on #23659
Potentially related to https://github.com/kubernetes/kubernetes/issues/23544#issuecomment-203691992

[2016-03-31 06:06] saad-ali opened #23671 "Consolidate storage examples in to single dir"
Consolidate all the storage examples (for example `examples/cephfs/`, `examples/iscsi/`, etc) in to a single directory under `examples/` (maybe `examples/storage`).

[2016-03-31 06:10] a-robinson commented on #23670
I've switched the jenkins master back to the released version of gcloud, hopefully in a way that won't break things even further.

[2016-03-31 06:10] a-robinson commented on #23544
I've switched the jenkins master back to the released version of gcloud, hopefully in a way that won't break things even further.

[2016-03-31 06:35] resouer commented on #23619
Thanks for report, I will arrange a patch to make ubuntu scripts compatible with 1.2+ release.

@spacexnice If you already have patch/work around to solve this, please don't hesitate to send a PR.

[2016-03-31 06:40] jacky68147527 opened #23672 "help, CrashLoopBackOff"
Warning FailedSync      Error syncing pod, skipping: failed to "StartContainer" for "c-taf-com-tlinux" with CrashLoopBackOff: "Back-off 20s restarting failed container=c-taf-com-tlinux pod=taf-com-tlinux_default(bdfa8741-f70a-11e5-bf51-00269e2bd23c)"

[2016-03-31 06:47] thockin commented on #23604
It's more than just docs - formerly valid scripts are now invalid.  There
are many examples and blog posts and presentations that show the pattern of
`kubectl run foo` and `kubectl expose rc foo` and those are all broken
now.  We need a big info campaign.

On Wed, Mar 30, 2016 at 7:18 PM, Alex Robinson <notifications@github.com>
wrote:

[2016-03-31 06:48] a-robinson commented on #23670
Switching the gcloud version doesn't appear to have had an effect on this. The submit queue will just have to stay blocked overnight, since that seems preferable to me trying to remove that test from the submit queue's list of blockers at 11:50pm.

cc @gmarek to look at this tomorrow

[2016-03-31 06:59] thockin commented on #23663
Generating UUIDs should be unique enough, no?  I mean, if that's not true,
we're dead in so many ways.

On Wed, Mar 30, 2016 at 6:25 PM, Prashanth B <notifications@github.com>
wrote:

[2016-03-31 07:04] ixdy commented on #23670
`kubemark-5-kubemark-master` is a red herring - the last green build shows that, too.

[2016-03-31 07:06] ixdy commented on #23670
The last green build and first failing build both used the same version of Kubernetes, so you're right that it doesn't appear to be a code change.

[2016-03-31 07:10] maclof commented on #23531
@a-robinson I'm using both 1.2.0 for the server and client:
[code]

I have just tested this again:
[code]

If I use the same command with --force I get the following output:
[code]

However if I run `docker ps` directly on the node, I can see that the pod is still there:
[code]

The ReplicaSet is as follows:
[code]

This is created by a deployment:
[code]

[2016-03-31 07:10] ixdy commented on #23670
Ah, here's the issue:
[code]

[2016-03-31 07:11] mfanjie commented on #23269
@davidopp
(1) @jianhuiz is responsible to cluster go type definition, and he already push the code in his wip, I think this part is not ready for review yet but you can take a look at (please note the latest comment from this issues were not addressed yet, like using RS vs. RC, and using annotation vs. new property)
https://github.com/XiaoningDing/UbernetesPOC/blob/ube-api-server-sub-rc-client/pkg

[2016-03-31 07:13] thockin commented on #23651
To me, `expose svc` implies creating another service that is the same spec,
which is a little awkward (and useless, and semantically wrong because
clusterIP).  Overloading it to mean "edit in place" doesn't feel right.

The truth is that we can't have a porcelain command for every single thing
a user might want to do.  Porcelain commands should be "saved" for the
things that are common - I am not

[2016-03-31 07:14] maclof commented on #23531
Sorry, ignore what I said previously about the pod still being there, it looks like it actually abided by the grace period and has now scheduled the pod onto another node (This is indicated by the 2 running on the RS pod status).

However it definitely doesn't seem to delete the pod if I don't use the --force option.

[2016-03-31 07:15] ixdy commented on #23670
`kubectl` should be installed on the Jenkins master VM now.

kubemark should really not require it to be in the `PATH`. It should detect if it's in the output tree like the rest of our test scripts do.

[2016-03-31 07:22] mfanjie commented on #23269
@davidopp I looked further about the code piece referred by you, and yes, I totally agree such code can be reused, I just did not get the point before. I actually already created a ClusterSelector, ClusterSelectorRequirement, ClusterSelectorOperator, ClusterSelectorTerm similar with NodeSelector code. The code are almost same expect names, are you suggesting just leave the name as NodeSelector, an

[2016-03-31 08:04] ScyDev commented on #23403
Just tried it again with a `n1-standard-1` node. Isn't it strange that the exact same error appears as on a `g1-small` node?

`Node didn't have enough resource: CPU, requested: 100, used: 920, capacity: 1000`

Shouldn't the `n1-standard-1` have more capacity than the `g1-small`?

[2016-03-31 08:13] trodriguez-photobox commented on #23633
When I log in into the instance and I display the grains, the value **fqdn_ip4** is missing. Googling around I found that in order to get a public DNS name for an EC2 instance the VPC must have the option [DNS Hostnames](http://stackoverflow.com/questions/20941704/ec2-instance-has-no-public-dns) enabled, which is obviously not the case for the VPC I'm using. I will try with this option enabled and

[2016-03-31 08:47] davidopp commented on #23269
That's a good question. I think the simplest thing to do is to clone NodeSelector, and rename it to ClusterSelector:

[code]

(note that the only difference is NodeSelector became ClusterSelector, and nodeSelectorTerms became clusterSelectorTerms)

And then leave all the other types as-is. The Go types will be a little confusing (we will still have NodeSelectorTerm and NodeSelectorRequirement), bu

[2016-03-31 08:48] trodriguez-photobox commented on #23633
Ok, with the DNS hostnames option activated the install works like a charm. Just for the record, I don't have the permissions to create a VPC with my current AWS account, so I had to ask the creation of the VPC and to use the VPC_ID and SUBNET_ID env vars to use the manually created VPC. The problem is that this VPC didn't have this option activated. I think it would be a good idea to update the d

[2016-03-31 08:57] AdoHe commented on #23551
I will look into this this weekend.

[2016-03-31 09:05] spheromak commented on #23564
@bgrant0607 yes indeed, but it wasn't expected.

[2016-03-31 09:26] jadhavnitind commented on #23621
@pmorie Tried to create new pod using busybox image but its giving me blank output at kubectl get pods command. But if I try to delete pod it shows deleted.

/kubernetes/docs/user-guide/secrets# kubectl create -f secret.yaml
secret "test-secret" created
/kubernetes/docs/user-guide/secrets# kubectl create -f secret-env-pod.yaml
pod "secret-env-pod" created
/kubernetes/docs/user-guide/secrets# kubec

[2016-03-31 09:54] kargakis commented on #23497
See for a proposed workaround on 1.2: https://github.com/kubernetes/kubernetes/pull/15908#issuecomment-149382483

[2016-03-31 10:07] kargakis commented on #15229
@bgrant0607 this has been fixed

[2016-03-31 10:13] Caravus commented on #23403
That's work for me (n1-standard-1, 1 node, 1 pod):

          limits:
            cpu: 1000m
            memory: 1000Mi
          requests:
            cpu: 10m
            memory: 100Mi

[2016-03-31 10:14] kargakis commented on #23564
same thing applies for --record

[2016-03-31 10:19] AdoHe commented on #23564
so many issues about apply, I will open a new issue to track this and will focus on apply issues. @kubernetes/kubectl @bgrant0607 @kargakis

[2016-03-31 10:20] kargakis commented on #23604
Depends on the restart policy you want to run your image with. It used to be Replication Controller (restartPolicy=Always) vs Pod (restartPolicy=Never,OnFailure), now it is Deployment (same policy as RC) vs Job (same policy as Pod).

[2016-03-31 10:24] luebken commented on #23604
@thockin What was the reason for the change in behaviour?

[2016-03-31 10:34] spacexnice commented on #23619
I found kubernetes-salt.tar.gz file in the directory of kubernetes/server/  in the release tar.   I assume that tar file containers the saltbase/salt/generate-cert/make-ca-cert.sh which missing?  @resouer  ,  so my suggestion is to untar kubernetes-salt.tar.gz to the dest directly. Is there any tricky which i should be aware?

[2016-03-31 10:54] yvespp commented on #23551
The svc-test.yaml file I posted is the actual file I used for the test, I didn't include the clusterIP or the nodePort.
The clusterIP did not change in my test, only the nodePort does.

[2016-03-31 10:59] mfanjie commented on #23269
@davidopp exactly same thought here, I know now the cluster name is the only condition for federation scheduling, but still want make the scheduling more flexible so that we can easily add more logic in the future. I am thinking to covert the string array of clusterName to the format of clusterselector and then reuse created a predicate function call ReplicasSetMatchCluster to get the filtered clu

[2016-03-31 12:23] xrow commented on #21643
Hi,

 we have the same issue. The issue is that a pending pod doesn`t get deleted. After sending a termination command the pod gets status "Terminating", the error shows in the log and the pod doesn`t get deleted.

I can`t try a new version since it is not yet available for centos 7.

[code]

[code]

[2016-03-31 12:46] sgrimee commented on #23621
@jadhavnitind kubectl get pods does not show the pod because it exited cleanly after running the env command. That is expected, you can see the pod with 'kubectl get pod -a' and you need to delete it before re-creating. You can still see its logs with 'kubectl logs secret-env-pod'

I confirm seeing the same behavior with a minimalist setup, totally unable to use secrets as ENV variables. The varia

[2016-03-31 12:48] sgrimee commented on #23629
@vaijab can you share your manifest for the rc and (modified) secret? in issue #23621 we are not able to get the env variable at all, period. But here you seem to have it working for the first pod of the rc, which is already a step forward

[2016-03-31 12:52] erez-rabih opened #23675 "kubectl exec works significantly slower on 1.2"
For small processes like /bin/bash or even irb I barely see a difference (if at all).
But when I try to open a Clojure REPL (JVM based) on a running code with
`kubectl exec -it my-pod-name lein repl`
It is definitely at least 4 times slower than kubernetes 1.1.3. The difference is from 8 seconds to about 30 seconds which is a lot.

Is it a known issue with kubernetes 1.2?

[2016-03-31 13:16] vaijab commented on #23629
[code]

[code]

[code]

[2016-03-31 13:22] dalanlan commented on #23619
@spacexnice You're right without doubt.

[2016-03-31 13:25] sgrimee commented on #23629
Thanks. When I run the exact same manifests the variable is NOT set in both cases:

[code]

[2016-03-31 13:26] g0194776 commented on #21643
@xrow
Yep, As you said, That is a BUG on the last version of the official CentOS 7 repo in the Kubernetes.

[2016-03-31 13:28] dalanlan commented on #23619
Yet I was thinking that we do recommend that you people should create a cluster using script from HEAD instead of a specific release. My best guess is that you should survive from this issue naturally if you were following our guide.

[2016-03-31 13:58] wojtek-t commented on #23610
Duplicate of #23533

@spxtr - I'm in US now, so I will not find time to look into it within a week.
Note - that there is comment why it is failing (which is different than #23372 )

[2016-03-31 13:58] #23610 closed

[2016-03-31 14:02] r-tock commented on #23556
Saw a restart today morning 30 mins ago. This looks like a memory issue.

[code]

[code]

[code]

[code]

[code]

[2016-03-31 14:04] wojtek-t commented on #23670
kubemark should really not require it to be in the PATH. It should detect if it's in the output tree like the rest of our test scripts do.

@gmarek - can you please take a look ^^

[2016-03-31 14:06] Tyguy7 commented on #23403
Caravus' solution is what worked for me as well.  The interesting thing is that I still got the same "requested 100, used 920" response when setting limits, until I reduced the limits to a passing level.  Almost as if that was a hard coded response if the limits failed.

[2016-03-31 14:14] tspecht commented on #23341
Any update on this?

[2016-03-31 14:16] fgrzadkowski commented on #23614
@nikhiljindal How do you define "available resource"? Do you mean CPU/memory usage or amount of requested resources (as is request/limit in PodSpec)?

[2016-03-31 14:32] yujuhong commented on #20550
Agreed that metadata server seems to be flaky. Maybe we can track the internal bug? b/27929640

[2016-03-31 14:45] rata opened #23676 "Grafana addon is not really usable in real clusters"
Hi,

The grafana add-on is not really usable when the kube cluster has seen some deployments and activity. The "pods" dashboard is full of pods that do not exist (deployments create new pods and all are accumulated there) and is not even possible to filter by namespaces in the pod dashboard.

I don't know much about grafana, but I _suppose_ that there should be better way to display this info, or

[2016-03-31 14:58] soltysh commented on #23599
@balopat there's a selector difference between `batch/v1` and `extensions/v1beta1`. For the former the first example will work ootb, since the server will generate the selectors for you. For the former you need to force using the generated selectors with `.spec.autoSelector = true`. By default it's not set which keeps the old behavior of working with manual selectors. That's why you're getting the

[2016-03-31 15:17] vaijab commented on #23629
@sgrimee hmm, interesting. I wonder if this is because I have enabled extensions?

[code]

[2016-03-31 15:23] smarterclayton commented on #23615
Ok, as long as we have agreement that "pre binding" volumes by admins for
consumption by PVCs that the admin later creates (guaranteeing the EXACT
volume the admin intends is bound to a specific PVC), I'm fine with
whatever the implementation is.

On Thu, Mar 31, 2016 at 1:58 AM, Saad Ali <notifications@github.com> wrote:

[2016-03-31 15:25] screeley44 commented on #23615
@smarterclayton @erinboyd @markturansky @jeffvance
as a temp fix until all the refactoring is done, why not add another conditional in types.go to also look for a match on name + namespace when claimRef is present and then in the binder if claimRef again is present and there is a match, just add the UID from claim into the pv that is bound to it (similar to what Clayton layed out above).  I mocked

[2016-03-31 15:50] erinboyd commented on #23615
ack @saad-ali
looking forward to a lively discussion about it ;)

[2016-03-31 15:55] balopat commented on #23599
@soltysh thanks for the suggestion! I might be doing something wrong, but it didn't seem to work:

[code]

[2016-03-31 16:03] tdickman opened #23677 "Deployment Hangs if Strategy Specified"
If I run the following deployment, it hangs with 0 deployed nodes.

[code]

`kubectl get deployments`

[code]

If I run the same deployment without the spec.strategy.type, the deployment occurs correctly with no issues, and 2 nodes are created.

This is occurring on Kubernetes 1.2.0 on Google Cloud.

[2016-03-31 16:08] alex-mohr commented on #23663
Instead of each component trying to build its own uuid allocator, perhaps we can have that provided as part of cluster setup?  In particular, ubernetes @quinton-hoole will presumably need some unique way of identifying clusters.  On GKE, each cluster has a globally unique name in the form $location/$clustername.

I'd propose each cluster-component use $unique-cluster-name as a prefix for the objec

[2016-03-31 16:18] remoe commented on #17226
Is it not possible to configure NFS with enabled CacheFS by using the 'fsc' option? @smarterclayton this option is not security related, right? What are the alternatives when one will use this? Build of a modified nfs storage plugin?

[2016-03-31 16:19] gmarek commented on #19681
Failures of MaxPods is caused by #23670

[2016-03-31 16:21] pmorie commented on #23621
@sgrimee I realize from looking at your last message that the output of `describe pod` isn't going to contain the right information for env vars populated by secret or configmap keys, so the output you see from that command is the expected one right now.

[2016-03-31 16:24] pmorie opened #23679 "kubectl describe pod does not correctly handle env vars populated by secret or configmap keys"
I found while looking at #23621 that `kubectl describe pod` does not correctly handle env vars populated by secret or configmap keys:

[code]

I think the right output here would be something like:

[code]

[2016-03-31 16:27] ihmccreery commented on #23604
cc @janetkuo @bgrant0607

[2016-03-31 16:32] piosz commented on #23538
After updating the gce util library Heapster requires now go in version >= 1.5. I'll fix the version in Jenkins config.

ref #22176, https://github.com/kubernetes/heapster/pull/1098, https://github.com/GoogleCloudPlatform/gcloud-golang/issues/194

[2016-03-31 16:39] therc commented on #23580
@guoshimin did you say it's written in Scala?

[2016-03-31 16:42] piosz commented on #22684
@dachulin
`heapster:v0.20.0-alpha6` was an experimental build. Could you please try to use a stable one like `heapster:v1.0.1` and verify whether you have the same issue?

[2016-03-31 16:43] bprashanth commented on #23663
we're dead in so many ways.

Feel uncomfortable not allowing a work around with a know flaw that could cause a really bad bug, but yeah in general.

There are 2 problems with this:

1. Name length limit. Since we generally encode more information in the resource name (eg: our node names are gke-$(instance-template-tag)-node-$(uid)) the amount of space we get for $(uid) is really small. Url maps ha

[2016-03-31 16:44] piosz commented on #23480
Closing as duplicate of #11935

[2016-03-31 16:44] #23480 closed

[2016-03-31 16:46] smarterclayton commented on #17226
Note that I think we should be able to set options, but any options that have security implications we can't add without a way to control that.  I'm in favor of adding options to these.

[2016-03-31 16:46] gmarek commented on #23545
cc @bprashanth @jlowdermilk

[2016-03-31 16:49] guoshimin commented on #23580
@therc It is indeed written in Scala.

[2016-03-31 16:49] pwittrock commented on #22491
I am seeing the networking issue pretty frequently in the node e2e tests:

http://kubekins.dls.corp.google.com/view/Node/job/kubelet-gce-e2e-ci/785/consoleFull

[2016-03-31 16:58] spxtr commented on #23062
Oh, looks like I get an email when this breaks, I just filter it out XD

I'll stop that, so at least I'll know if it's broken.

[2016-03-31 16:58] #23062 closed

[2016-03-31 17:01] pwittrock commented on #20550
FWIW we are also seeing this pretty frequently in the "kubelet-gce-e2e-ci" tests.

[2016-03-31 17:01] pmorie commented on #23404
I guess the question here is, should we try to protect you from yourself if you accidentally create a secret value that ends with a newline?  I don't have a use-case ready for when you would want such a key to end with a newline, but I feel that it might be impossible to predict all expectations here, so I'm inclined, after thinking about it, to avoid trying to munge with values in ConfigMaps or S

[2016-03-31 17:05] piosz commented on #23538
The problem is with:
* heapster-dockercanarybuild-ci
* heapster-gce-e2e-ci

@ixdy @spxtr could you please bump go version to 1.6 for those Jenkins jobs?

[2016-03-31 17:11] jeffvance commented on #23615
@erinboyd 's original issue was pv prebind --> pvc using claimRef in the pv spec. I've done some testing using **volumeName** in the pvc spec and ran into a similar issue -- namely the pv binds to the wrong pvc.

PV spec for "nfs-pv2":
[code]
PVC spec with **volumeName** set to "nfs_pv1" (not "nfs-pv2", but otherwise matching capacity and accessModes):
[code]
1) create PV:
[code]
2) create PVC whe

[2016-03-31 17:12] bprashanth commented on #23651
a user might want to do.  Porcelain commands should be "saved" for the
things that are common - I am not sure this is.

But since we already have "expose svc", and it needs to do something, I'd rather it mean "expose *this* svc" instead of: create another that I now need to be careful to teardown. Is there actually a use case for the latter?

[2016-03-31 17:14] paralin commented on #13358
Very interested in seeing updates to this.

Our use case: we want to have a namespace to test one specific component against external components. So we have http://api-external, http://api-internal. We want those to CNAME to http://api-external.dev.oursite.com/ for example. Because that is again CNAMEd to an AWS ELB, we cannot simply put an IP address for this, it won't work correctly.

[2016-03-31 17:15] gmarek opened #23681 "kubernetes-e2e-gce-enormous-startup still running even after deletion of job definition yaml."
We removed it in #23042 but it's still running on Jenkins.

cc @wojtek-t

[2016-03-31 17:16] a-robinson commented on #23670
Thanks for fixing this up last night, @ixdy!

[2016-03-31 17:16] #23670 closed

[2016-03-31 17:18] spxtr commented on #23681
Right, we don't automatically clean up old jobs yet. Want me to delete this now?

[2016-03-31 17:24] gmarek commented on #23681
Yes please;)

[2016-03-31 17:24] gmarek commented on #23681
But we need to clean up GCE resources as well.

[2016-03-31 17:26] spxtr commented on #23681
OK, the Jenkins job is gone now.

[2016-03-31 17:28] gmarek commented on #22491
This is not a good sign as well.

[2016-03-31 17:28] gmarek commented on #23681
Thanks!

[2016-03-31 17:29] spxtr commented on #23681
It looks like kubernetes-kubemark-gce is also removed from source?

[2016-03-31 17:30] gmarek commented on #23681
Yup.

[2016-03-31 17:33] spxtr commented on #23681
OK, removed that as well. Is this issue taken care of?

Eventually we'll want to switch on the flag to remove old jobs.

[2016-03-31 17:35] a-robinson commented on #23533
And again:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-test-go/10362/

[code]

[2016-03-31 17:35] wojtek-t commented on #23533
This is happening pretty often now.

@kubernetes/sig-api-machinery
@caesarxuchao @lavalamp - can one of you maybe take a look? Maybe we can comment this test out for some time?

[2016-03-31 17:35] gmarek commented on #23681
Assuming that resources are removed as well, then yes.

[2016-03-31 17:38] ncdc commented on #23533
I don't think this can be fixed until go 1.6.1 (assuming that contains the patch I linked above). The only other option I see is to disable the test for now.

[2016-03-31 17:50] ncdc commented on #23533
In case it's not evident, the unit tests are running with go 1.6.

[2016-03-31 17:55] jsafrane commented on #23615
Soo... as part of recycling, when we recycle a volume we mark it as Pending, still pointing to the old ClaimRef that's not existing. Binder controller then finds the volume and clears the ClaimRef.
https://github.com/jsafrane/kubernetes/blob/master/pkg/controller/persistentvolume/persistentvolume_claim_binder_controller.go#L242

This code then sees pre-bound PV that points to a claim that does not

[2016-03-31 17:57] pmorie commented on #23679
@kubernetes/kubectl @kubernetes/rh-ux

[2016-03-31 18:01] ncdc commented on #23679
Suggested output LGTM

[2016-03-31 18:01] pmorie commented on #23679
One alternative to what I proposed would be to try to resolve the value of the referenced key, which I think would be a poor idea because it might give the impression that the values are static, when they are not.

[2016-03-31 18:02] derekwaynecarr commented on #23679
+1

On Thu, Mar 31, 2016 at 2:02 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-03-31 18:04] caesarxuchao commented on #23533
@ncdc it looks like this bug should affect all tests that call t.Logf?

[2016-03-31 18:07] caesarxuchao commented on #23533
I think we can just to comment out the line that calls t.Logf https://github.com/kubernetes/kubernetes/blob/master/pkg/client/record/event_test.go#L351 and it won't affect the test logic.

[2016-03-31 18:08] ncdc commented on #23533
The issue with this particular test case is that a goroutine is trying to log at the same time the testing framework is trying to record pass/fail. So I think anything that is logging in a goroutine at the same time pass/fail is being recorded.

[2016-03-31 18:08] ixdy commented on #23538
@pwittrock how are these builds getting the Go runtime? Just whatever's installed on the system?

[2016-03-31 18:09] ncdc commented on #23533
@caesarxuchao I agree that commenting out that line would fix the flake and it won't affect the test logic. I think we have this pattern in at least 1 other test too (maybe it's the HPA one that's failing, I can't remember).

[2016-03-31 18:10] derekwaynecarr commented on #23404
If the secret was created incorrectly say via a `kubectl create secret` command, then we should fix that bug, but I do not think we should introspect the value of a secret / configmap.  what is persisted in the secret value is what the pod should get exactly.

[2016-03-31 18:10] tdickman commented on #23677
After further debugging, it looks like spec.strategy.type should start with a capital letter. (RollingUpdate vs rollingUpdate). It seems like this should be rejected by the template processor rather than failing silently.

[2016-03-31 18:10] thockin commented on #23615
Can someone please explain more concretely (sorry, I am dumb that way) the use case for this?  It feels a little abstract and hypothetical to me.

Let's assume that you have a real use case.  Options:

1) allow pre-binding by pv.claimref and just handle it
2) wait for taints/toleration to be implemented
3) use a "reserved for" annotation (or new field) that is distinct from the claimref field, but

[2016-03-31 18:10] janetkuo commented on #23604
@luebken This is because [Deployments](http://kubernetes.io/docs/user-guide/deployments/) and [Jobs](http://kubernetes.io/docs/user-guide/jobs/) are higher level resources. It's easier to use them instead of managing replication controllers (when you want to do rolling update) and pods (when you want to make sure a number of pods successfully terminate) manually.

In case you still need the old be

[2016-03-31 18:11] wojtek-t commented on #23533
Yeah - what @caesarxuchao suggested looks fine
@caesarxuchao - can you send out a PR?

[2016-03-31 18:13] derekwaynecarr commented on #23604
@thockin - maybe our presentations should have a giant * that shows the --generator used on this particular command.

[2016-03-31 18:13] yujuhong opened #23682 "pkg/registry/job/etcd: TestDelete: panic: runtime error: invalid memory address or nil pointer dereference"
From: https://github.com/kubernetes/kubernetes/pull/23532#issuecomment-202242875

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23532/kubernetes-pull-build-test-e2e-gce/33943/artifacts/

[code]

[2016-03-31 18:13] caesarxuchao commented on #23647
Closed in favor to #23533

[2016-03-31 18:13] #23647 closed

[2016-03-31 18:15] junelee05 opened #23683 "Kubernetes 1.1.8 cluster setup with Flannel 0.5.5: cannot ping pod-ips from different nodes"
We currently have setup Kubernetes 1.1.8 cluster with two VMs, using Flannel 0.5.5 with vxlan backend:
    vm-1 (public-ip: 10.85.81.165):  master + worker-node
    vm-1 (public-ip: 10.85.81.165): worker-node

The VMs have ubuntu trusty installed.
# uname -a

Linux ngsn02 3.13.0-24-generic #46-Ubuntu SMP Thu Apr 10 19:11:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

We followed this Kubernetes ubunt

[2016-03-31 18:16] caesarxuchao commented on #23533
Sure. I'll send a fix for event_test.go. Thank you both for the confirmation.

@ncdc I couldn't find an issue for HPA. We can fix that when it's reported.

[2016-03-31 18:17] krmayankk commented on #23553
just moved to 1.2 now. So will need to verify if this is indeed a problem on 1.2 or not. Bear with me

[2016-03-31 18:20] jlowdermilk commented on #23545
ci build of gcloud has retries to prevent crashing on connection refused from metadataserver. That was rolled back due to errors that look unrelated. I've re-installed ci build so these crashes should at least be less frequent. See #23544 for more context.

[2016-03-31 18:20] junelee05 commented on #23683
Correction:
Our Kubernetes two-nodes-cluster setup is:

vm-1 (public-ip: 10.85.81.165): master + worker-node
vm-2 (public-ip: 10.85.81.166): worker-node

[2016-03-31 18:21] ncdc commented on #23533
@caesarxuchao I was thinking of #23361 but that might be different.

[2016-03-31 18:21] soltysh commented on #23599
@balopat I've just checked this against 1.2 release branch and it's working for me correctly. Can you show me the exact version (`kubectl version`) what you're running?

[2016-03-31 18:23] wojtek-t commented on #23533
From the stacktrace - it seems different.

[2016-03-31 18:24] derekwaynecarr commented on #23403
@mml - the cli help text is right...  the defauting semantic is being applied server side via the `LimitRange` in the namespace.  If you specify an explicit request, the `LimitRange` should not override.  If we update the help text in the CLI, we should just say that server side components may assign a cpu/memory request/limits depending on the server configuration (i.e. limit ranges, vertical aut

[2016-03-31 18:26] ghodss commented on #2203
Audit logging will definitely become a big blocker for us as we onboard production load onto our clusters.

One option is to piggy back off the current event objects and enhance that with more fields and/or different types of events. It feels like there is a pretty large overlap of use cases and information between events and audit logs. That way shims can be written to watch events using all the

[2016-03-31 18:40] aveshagarwal commented on #22344
Sent a PR to address this: https://github.com/kubernetes/kubernetes/pull/23686

[2016-03-31 18:46] paralin commented on #22534
Hey @justinsb, I need to do a cluster upgrade from v1.1.0 -> v1.3.0-alpha.1, is there at least a document somewhere that has the manual steps to do this?

[2016-03-31 18:52] maclof commented on #23531
I have submitted a PR to fix this issue: https://github.com/kubernetes/kubernetes/pull/23689

[2016-03-31 18:59] caesarxuchao opened #23690 "Undo #23688 after we upgrade Go version"
#23688 comments out the code that runs t.Logf in goroutine because testing.(*common).log() is racing with testing.(*T).report() in Go 1.6. Revert the change when we upgrade the Go version.

[2016-03-31 19:08] yifan-gu opened #23691 "rkt should support getting logs previous terminated containers"
rkt should be able to return the logs of a previous terminated container when the container is restarted.
i.e. the `previous` field in [api.PodLogOptions](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1945) should be supported.

cc @sjpotter @kubernetes/sig-node

[2016-03-31 19:16] yifan-gu opened #23692 "rkt should support running the pod in HostPID/HostIPC namespace"
In the [api.PodSecurityContext](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1240-L1243), we can specify the pod to be running in the host pid/ipc namespace. I think this can be implemented in rktnetes by using `rkt fly`.

@kubernetes/sig-node @sjpotter @euank @steveeJ @jonboulle

[2016-03-31 19:20] SephVelut commented on #4975
Getting the same problem and output.

[2016-03-31 19:23] #21887 closed

[2016-03-31 19:24] screeley44 commented on #23615
@thockin   -  why is #4 from above any different than the current implementation - doesn't the claimRef: name + namespace accomplish the same?  Even better since we can isolate by project and a keyword value (name) or you don't like the idea of using the "name" and "namespace" fields and want a new special "taint" as those fields affect other things?

[2016-03-31 19:24] pwittrock commented on #23538
/usr/local/go

[2016-03-31 19:25] pwittrock commented on #23538
Configured here:
https://github.com/kubernetes/kubernetes/blob/0d0eb0119e6b317c03c069070357701c03e9e86e/hack/jenkins/job-configs/kubernetes-jenkins/node-e2e.yaml#L103

[2016-03-31 19:29] ixdy commented on #23538
Ah, okay, it is whatever is installed on the system. We should probably change this to use something version-controlled. (Ideally this would just be running inside Docker.)

I can upgrade to go 1.6 in the interim. I think the only other use of the system Go runtime is `go run hack/e2e.go` in the e2e tests, which shouldn't care about the version of go.

[2016-03-31 19:32] balopat commented on #23599
Hi @soltysh

This is a multi-node docker v1.2.0-alpha.6, manually downloaded kubectl.
This might be a hyperkube-only issue? Not sure.

[code]

As you can see the binaries I'm using are the gcr.io version v1.2.0-alpha.6"

[code]

Please [see my comment here](https://github.com/kubernetes/kubernetes/issues/20514#issuecomment-202982104) for the reason I'm not going higher in versions, and please see

[2016-03-31 19:34] jwforres opened #23693 "Formatting of Unhealthy readiness probe event message makes it difficult to read"
On a failed readiness check I got the event message:

[code]

The : after the path on the URL in particular is really strange looking, followed immediately by the net/http: part.  Is there a better way to summarize this failure.

[2016-03-31 19:34] smarterclayton commented on #2203
Agree on logging everything - you can't go back and add logging for the
error that happens 1 time in a million in a production cluster.

If events weren't such a bottleneck today, I'd be more comfortable with
taking our first audit steps there.  Audit -> ES, Splunk, Kafka is the
right solution.

On Thu, Mar 31, 2016 at 2:26 PM, Sam Ghods <notifications@github.com> wrote:

[2016-03-31 19:34] jwforres commented on #23693
cc @smarterclayton

[2016-03-31 19:35] ixdy commented on #23538
Updated to go1.6 on post-commit Jenkins VMs. Haven't touched PR Jenkins (yet).

[2016-03-31 19:35] ixdy commented on #23538
@k8s-oncall in case you see any breakages, see ^

[2016-03-31 19:35] jwforres commented on #23693
From @smarterclayton the message should probably be

[code]

[2016-03-31 19:38] a-robinson commented on #23538
Thanks for the heads up

[2016-03-31 19:42] hongchaodeng commented on #22448
Submitted a PR of watch in https://github.com/kubernetes/kubernetes/pull/23694

We might deal with TTL later. It's only used in event storage and not critical.

[2016-03-31 19:44] ixdy commented on #23538
@piosz @pwittrock this is still failing. And actually looking at the latest build log, I see why:

[code]

You need to update https://github.com/kubernetes/heapster/blob/master/deploy/docker/canary/Dockerfile.

[2016-03-31 19:46] piosz commented on #23538
Thanks @ixdy. I'll fix it.

[2016-03-31 19:46] elyscape opened #23695 "Kubernetes reconstructs the container LogPath instead of querying Docker"
After starting a container, Kubernetes places a symlink to the container's log file in `/var/log/containers`. Unfortunately, rather than querying Docker for the `LogPath`, [it replicates the logic used to build it][reconstruction]. This means that any change upstream in the path or filename that Docker uses to store its logs (e.g. to `/var/lib/docker/containers/$ID/json.log` so that a file name tr

[2016-03-31 19:47] ixdy commented on #23538
Well, that's for `heapster-dockercanarybuild-ci`, at least.

`heapster-gce-e2e-ci` is using system Go, and it's failing due to changes in Go 1.6, I think.

[2016-03-31 19:48] ixdy commented on #23538
Log from `heapster-gce-e2e-ci`:
[code]

[2016-03-31 19:50] piosz commented on #23538
@ixdy seems to work. This used to happen before.

[2016-03-31 19:52] smarterclayton commented on #23693
We should have a helper for readiness / liveness that unwraps common TCP / HTTP stack errors (url.Error and net.Error) and gives good messages.  These are human facing and are key to helping users understand problems.

[2016-03-31 19:53] smarterclayton commented on #23693
Other common ones (that we handle specially in kubectl and elsewhere) "connection refused", "possible TLS connection", "connection reuse failed" (when Go hands us back a closed connection.

[2016-03-31 19:58] smarterclayton commented on #23679
@jwforres

On Thu, Mar 31, 2016 at 2:03 PM, Derek Carr <notifications@github.com>
wrote:

[2016-03-31 20:01] macb commented on #22716
Seems this was fixed in 1.2.

[2016-03-31 20:01] #22716 closed

[2016-03-31 20:02] smarterclayton commented on #23615
The use case is an admin is bootstrapping a cluster, and wants to run a
service that uses a PV.  They want to create the PV during bootstrapping
(such and such disk).  Why would they want to specify a selector?  The
selector implies that they are happy that ANY PVC matches it, when in
reality this is a very 1-2 step.  Create a PV for a PVC.  Make sure the PVC
is using it.  Any possibility of failu

[2016-03-31 20:02] erinboyd commented on #23615
@thockin @smarterclayton @bc
Use Case (PV->PVC with strict binding):

1) Storage asset exists (NFS server at 10.1.0.1:/finance/supersecretinfo/)
2) Admin creates PV with path to ^^ and populates claimRef with name: finance-pvc namespace:finance, with Recycle
---(PV is in Available
---( check is added for binding to check name+namespace+UID, if claimRef exists then it will strictly enforce this whe

[2016-03-31 20:02] lavalamp commented on #23551
It's not obvious to me that this is caused by the kubectl round-tripping, but if so, @krousey is working on that.

[2016-03-31 20:04] derekwaynecarr commented on #21613
@thockin - I am not the skydns expert, can you help find a better owner?

[2016-03-31 20:11] paralin commented on #5017
I'm picking this up now, first writing an example for Zookeeper deployment and then after that writing a Kafka specific example

[2016-03-31 20:15] dchen1107 commented on #23556
@r-tock The issue you reported at https://github.com/kubernetes/kubernetes/issues/23556#issuecomment-203953957 is a totally different issue. Looks like the node is totally memory over committed here which triggers the sys oom by kernel. Are your workloads ask too small resource requests, but use too much over their initial requests with the memory?

[2016-03-31 20:23] huang195 opened #23698 "Multiple resource quotas / limit rangers per namespace"
1. Is it possible to define multiple resource quotas per namespace? In all the docs on quotas, the max cap is set to 1, but are there any situations where it makes sense to define more than 1?

2. If quota API object is subject to quota management, why isn't limit rangers subject to quota management as well? They seem to go hand-by-hand.

[2016-03-31 20:23] r-tock commented on #23556
This has not happened before. We have not specified a resource requirement and max heap size on the JVM is 2G out of 3.6G on that machine. It is very unlikely JVM is going cause this system to go overcommitted as we have been running with this config for a while. In this case the kubelet restarted which makes me wonder that if one of the new addons is causing this OOM.

[2016-03-31 20:24] ScyDev commented on #23403
How can I find out what is actually using 920 of 1000 CPU on my node?

[2016-03-31 20:25] bks7 commented on #21613
@derekwaynecarr I'm sure the problem not in skydns itself but in case when we request Kubernetes Service inside a pod which containers are on the same node with pod containers Kubernetes Service is proxying to. If we set option --masquerade-all for kube-proxy everything works ok.

[2016-03-31 20:27] jwforres commented on #23679
some very relevant discussion from where we just did this in the web console https://github.com/openshift/origin/pull/7931

[2016-03-31 20:28] jwforres commented on #23679
particularly helpful would be the final screenshot https://cloud.githubusercontent.com/assets/1668218/13784443/92ed6a96-eacf-11e5-897f-5a141f2e4c16.png

[2016-03-31 20:31] r-tock commented on #23556
@dchen1107  Yes, Agreed the issue is different from the earlier ones but points to the recent upgrade as the general root cause. I understand the usefulness of the cluster-addons. However, the pushing a release without a heads-up to production clients have left us in this state where we are unable to run our service reliably. Yes, we can peel the onion figure out the aftermath of issues one-by-one

[2016-03-31 20:33] pmorie commented on #23679
@jwforres that seems like a vote in favor of what i proposed, using the same text as is used in the console?

[2016-03-31 20:51] jwforres commented on #23679
Yep, and I think leave your < > chars, they help in the CLI to add the visual differentiation that we get with font style in the console

[2016-03-31 20:53] timbunce opened #23702 "Mention the new #kubernetes-novice Slack channel in relevant places"
The #kubernetes-users channel has >3700 users online at the moment and get fairly busy with detailed technical discussions so novice questions can be drowned out and lost in the backlog.

There's now a [#kubernetes-novice Slack channel](https://kubernetes.slack.com/archives/kubernetes-novice) created by @sarahnovotny.

It would be helpful to mention, and link to, the channel in relevant places in

[2016-03-31 20:56] r-tock commented on #23556
Unfortunately, our partners don't care about Kubernetes or containers, they are trying to run a restaurant and making sure their guests have a great experience. We have to explain to them in plain terms and explain to them why their guests are having a bad experience booking on our system. Some of these restaurants may not be able to afford a loss of conversion due to micro-outages. It's is a big

[2016-03-31 21:04] caesarxuchao opened #23705 "kubectl apply doesn't work with thirdparty resource"
This is to keep track of known issues of thirdparty resource.

cc @brendandburns

[2016-03-31 21:17] derekwaynecarr commented on #23403
`kubectl describe node/yournode` has a detailed section on allocated resources and the pods that consume them.

[2016-03-31 21:18] mml commented on #23403
@derekwaynecarr fair enough, that'd be a start.  `kubectl run` (and `create`) could also print a warning to stderr whenever server side defaulting gets applied.

[2016-03-31 21:19] yifan-gu opened #23706 "About upper-case letters in label keys"
From [docker labels doc](https://docs.docker.com/engine/userguide/labels-custom-metadata/), it's recommended that the keys do not contain upper-case letters. But we do have keys with upper-case letters today in some [labels used by kubelet](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/labels.go#L40-L41)

This causes a problem for rkt because appc/spec [doesn't allow

[2016-03-31 21:22] derekwaynecarr commented on #23403
@mml the defaulting will be applied when pod creation happens and not when deployment/replicaset/replicationcontroller happens so its not clear how we would warn appropriately.

[2016-03-31 21:22] ixdy commented on #22848
http://pr-test.k8s.io/23415/kubernetes-pull-test-unit-integration/19839/ is another failure.

[code]

[2016-03-31 21:23] vishh commented on #23706
Update the labels to conform to Kubernetes API conventions?

On Thu, Mar 31, 2016 at 2:20 PM, Yifan Gu <notifications@github.com> wrote:

[2016-03-31 21:29] cjcullen commented on #23556
@r-tock We are cutting a 1.2.1 release this afternoon. We will begin rolling that out broadly over the next several days.

[2016-03-31 21:33] derekwaynecarr commented on #23349
There is also a realistic difference in time it takes to go from 99-100
running pods in my experience than it takes to go from 0-100 running pods.
Right now, I have been running a loop in a three-node cluster that creates
a NS with a single RC with 500 pods, and I wait for at least 200 of those
pods to report back running before terminating the namespace (I am trying
to debug a stuck terminating p

[2016-03-31 21:35] derekwaynecarr commented on #23338
OMG yes, this would be extremely useful.  This goes for kubecontainer.Pod
as well.

On Sun, Mar 27, 2016 at 9:31 PM, Timothy St. Clair <notifications@github.com

[2016-03-31 21:37] smarterclayton commented on #23706
Changing the labels is not a backwards compatible change without extra
work, but the impact is minor.  The graceful termination labels are used in
the event that the API server is not available and the pod should be
gracefully shut down (because something else is going on).  If we change
the key, we'll need to continue reading the old value.  That's probably
sufficient for now.

I don't know of an

[2016-03-31 21:39] mml commented on #22848
Only this one is an actual error.

[code]

And... the logging logic doesn't make much sense.  It logs "err", but it only gets there if err was nil.

I can't see any other logs besides the junit logs, which don't provide any extra info.  Am I missing something?

[2016-03-31 21:41] Random-Liu commented on #23706
Offline discussed with @yifan-gu, we could fall back to get data from the old labels, if it is an old container.

[2016-03-31 21:48] mml commented on #22848
There is a concurrency bug in the test.  We signal the scheduler to stop by [closing a channel](https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_test.go#L420) but we don't synchronize at this point to verify that the scheduler has stopped.  Indeed, since `scheduleOne` blocks on `NextPod` in the absence of any work, we could sit around a very long time, schedule one m

[2016-03-31 21:52] r-tock commented on #23556
@cjcullen Thanks, I am talking with @roberthbailey offline to see what we can do to get back into a stable state immediately.

[2016-03-31 21:52] jackgr opened #23708 "Static build of kubectl for containers w/minimal base images"
In https://github.com/kubernetes/helm, we're looking to use alpine:3.3 as a base image to keep the footprint small. However, we run kubectl in the container. That's a problem on alpine, and probably other minimalist base images, because kubectl is dynamically linked and so won't launch. Please consider including a static build of kubectl in binary releases.

/cc @david-mcmahon, @jlowdermilk

[2016-03-31 21:53] yujuhong commented on #23706
We do plan to rely on labels more so that we don't have to keep polluting the docker container names, but like @Random-Liu said, we can make it backward compatible.

[2016-03-31 21:55] emaildanwilson commented on #3760
We're also looking to solve for traffic to route to local pods only. I'd be fine with the nodeport going away on a node at times when no pods are present locally for a service. This way a simple load balancer TCP health check would prevent requests from going to those nodes. I think if we can at least solve for the iptables\kube-proxy portion of this, then we'll find out what the load balancing im

[2016-03-31 21:55] dcbw commented on #20475
That would be redundant, so if it changes things it indicates that kubenet isn't doing something it should be.  And it is; looks like I haven't kept kubenet up-to-date with recent configureCbr0 commits like 2e8ff81de1d5a0df2cf1f4531fa8ed4740c5fe3a and a90ac42dd8a435ca36a0cb1085e0821249a2f34b.

And, ugh, 58191c44.  Couldn't nonMasqueradeCIDR be computed automatically from the data the node already

[2016-03-31 21:57] timothysc opened #23709 "epic: Reducing network overhead and optimizing kubernetes control plane communications"
Per @quinton-hoole's request, I'm attempting to chart a well established path such that we can address some of the larger communications issues.  Hopefully this can serve as a jump point for the communications issues we wish to target in the 1.3 cycle.
## Problem Statement

The **overhead** and data flow of the kubernetes control plane has led to a series of artificial limits, or **caps** (qps,max

[2016-03-31 21:58] quinton-hoole commented on #23614
The high-level goal here is for the Ubernetes scheduler to be able to rank clusters w.r.t available resources in order place replicas into clusters where they will both be able to be placed onto nodes ("scheduled"), and and have maximum access to required resources on those nodes.

I actually think that this is a hard problem, and should be deferred beyond phase 1.  My reasoning is as follows:

1.

[2016-03-31 22:00] davidopp commented on #5017
@paralin Please keep an eye on the discussion of PetSet (#18016), which should simplify Zookeeper deployment.

[2016-03-31 22:00] jlowdermilk commented on #23708
We've talked about just making kubectl a static build [before](https://github.com/kubernetes/kubernetes/pull/11694#issuecomment-144429998), but I can't recall why we chose not to. If it doesn't increase binary size too much or cause other problems, would be useful.

[2016-03-31 22:00] bprashanth commented on #20475
See https://github.com/kubernetes/kubernetes/issues/23657. I don't think rkt ever had hairpin support, though, unless I missed where we're setting the flag on the veths.

[2016-03-31 22:01] quinton-hoole commented on #23585
Assigning to etune@ to add priority label.

[2016-03-31 22:06] mml commented on #22848
This is similar to the bug I fixed with #22727.  The `Until()` [function](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/wait/wait.go#L46) seems susceptible to this by design.  Not only does it provide no way to verify that the goroutine has been stopped, it makes it hard to avoid deadlock because the provided `f` may block forever.

We should probably re-do this interface to avoid

[2016-03-31 22:08] spiffxp opened #23710 "density test assumes cluster of uniform node size"
Looks like #22284 modified the e2e density test to use dynamically computed resource requests based on the size of an arbitrary node in the cluster.

Problem: I have a cluster consisting of differently sized nodes.  It appears the test occasionally picks a larger node, and uses resource requests that are eventually too large to fit on the smaller nodes.

Do we..
a) compute resource requests based

[2016-03-31 22:09] vishh commented on #23614
Quality of Service should take effect once a Pod is running in one of the nodes. These woes should be handled by QoS in general.

FYI: This is already the case. Kubelet can reject pods that the scheduler thought would fit on a node.

[2016-03-31 22:10] quinton-hoole commented on #22004
@justinsb FYI
Possibly related to "AWS Feature: Services can share an ELB (#23483)"

[2016-03-31 22:14] sjpotter commented on #20475
@dcbw yes, the fix I described above didn't fix my case, forcing it to promiscous did though.

[2016-03-31 22:24] bprashanth commented on #20475
@sjpotter rkt might be more compatible with the docker runtime by doing https://github.com/kubernetes/kubernetes/issues/23657#issuecomment-203688825. By default, if someone starts up the kubelet *without any flags* set, they get configure-cbr0=false, hairpin-mode=hairpin-veth. You probably want this to work. You probably also want to respect --hairpin-mode=hairpin-veth, setting the promiscuous mod

[2016-03-31 22:29] a-robinson commented on #23672
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-31 22:29] #23672 closed

[2016-03-31 22:32] wojtek-t commented on #23710
@spiffxp - this test is NOT supposed to run correctly on clusters with different node sizes
That's by design - changing it would complicate the code a lot.

I think that what we need to do is (c) from your list.

[2016-03-31 22:39] a-robinson commented on #23675
What environment is your cluster deployed in?

[2016-03-31 22:45] thockin commented on #23615
The hassle is that we use ClaimRef as part of the controller logic, and we unilaterally clear it upon recycle.  You're asserting that we must distinguish the case of a user-provided ClaimRef from a system-provided ClaimRef.  In our revamped logic (just pseudocode for now) we actually DO track that information, conveniently.  I just want to make sure we understand the semantics we expect.  pre-boun

[2016-03-31 22:46] dchen1107 commented on #23556
@r-tock All prs required to fix your first issues are merged, and we are cutting 1.2.1 release shortly today.

On your second issue, I looked at your comment at https://github.com/kubernetes/kubernetes/issues/23556#issuecomment-203953957. The only newly introduced cluster-addons pod is Kube-proxy. Kube-proxy is not new, and the binary used to run as a daemon like what kubelet and docker are. In 1.

[2016-03-31 22:47] flashvoid opened #23713 "Kubernetes allows to create pods in a namespace when namespace object doesn't exist."
So, just discovered that kubernetes allows to create a pod in a namespace when namespace object itself doesn't exist.

[code]

With multi-tenancy coming to kubernetes and namespaces representing tenants - having pods running outside of namespaces, let alone in a namespace that doesn't exist, isn't something that should be allowed, is it ?

[2016-03-31 22:50] spiffxp commented on #23710
@wojtek-t I guess I'm trying to understand the motivation behind dynamically computing the resource requests for the initial batch vs making them as small as possible, to ensure the initial batch would fit everywhere?

If we go the (c) route, it would be nice to use a `SkipUnless`-style gate to ensure all nodes have the same resources

/cc @kubernetes/sig-testing

[2016-03-31 22:56] wojtek-t commented on #23710
@wojtek-t I guess I'm trying to understand the motivation behind dynamically computing the resource requests for the initial batch vs making them as small as possible, to ensure the initial batch would fit everywhere?

@spiffxp - the motivation is that we would like to have pods spread evenly between nodes (or as evenly as possible). I don't want to have all pods being scheduled on the same node.

[2016-03-31 23:00] r-tock commented on #23556
Thank you, we will help test 1.2.1 once its ready for testing.

[2016-03-31 23:03] kargakis commented on #23705
@kubernetes/kubectl

[2016-03-31 23:04] yujuhong commented on #23349
@derekwaynecarr, do you mean that batch creation of 100 pods makes the node less stable than when starting a single pod at 99 pods? We don't limit the docker qps in kubelet and creating/deleting pods are the heaviest operations for now. We discussed before v1.2 to [mitigate this issue](https://github.com/kubernetes/kubernetes/issues/21570#issuecomment-187965101), but decided that it wasn't necessa

[2016-03-31 23:11] davidopp commented on #22848
When you say

Are you talking about everything after step 7?

[2016-03-31 23:12] david-mcmahon commented on #23708
@lavalamp is this something we can or want to do?   Was anyone actively looking into it at some point?

[2016-03-31 23:12] mml commented on #22848
@davidopp Yes.

[2016-03-31 23:13] davidopp commented on #23269
I thnk @quinton-hoole should make this call. But personally I think it is simpler to just use cluster name for the first version. We can add selector approach later, and take the AND of the two if both are specified, so that it's not backward-incompatible. (Like we did when we added affinity on top of old nodeSelector that is map[string]string.)

[2016-03-31 23:20] davidopp commented on #22848
I guess it is fine to comment out everything after step 7 for now, if you don't see any easy alternative. The key is that we test that the right scheduler is scheduling the pod, and while steps 8/9 do that, earlier parts of the test also do it and I think they're adequate.

Please file an issue related to the problem you described, so we can fix it eventually.

[2016-03-31 23:34] mml opened #23715 "wait.Until() has no way to guarantee goroutine termination"
Spun out of #22848, which spells it out in detail.  The interface needs to be changed in at least two ways as I see it, but there might be something simpler we can do.  (1) We need a way to determine that the goroutine running the loop has been stopped.  (2) Once we do that, we'll need to change something to avoid the potential for deadlock that this would expose.  I have end-of-day brain, but I m

[2016-03-31 23:37] lavalamp commented on #23708
We *do* make a static kubectl binary for incorporation into a container.

https://github.com/kubernetes/kubernetes/tree/master/examples/kubectl-container

[2016-03-31 23:37] lavalamp commented on #23708
I don't know if we auto build that when we cut a release.

[2016-03-31 23:39] spiffxp commented on #23710
OK thanks for explaining, that makes sense.  I'll see if I can get to a PR on the `SkipUnless` piece in the next week

[2016-03-31 23:44] spxtr opened #23716 "kubernetes-e2e-gce-autoscaling has been timing out for two weeks"
[Example failure](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-autoscaling/3337)

Should this be on the critical builds page?

[2016-03-31 23:48] spxtr commented on #23162
@caesarxuchao any updates?

[2016-03-31 23:49] justinsb commented on #22004
@jcderr  @supershal did you use kube-up?  It sounds like your subnets are not tagged.

[2016-03-31 23:50] dchen1107 commented on #23335
Looks like we don't have the issue to provide kubectl run -i through rkt run -i.

How about kubectl attach?

[2016-03-31 23:56] erinboyd commented on #23615
@thockin yep, I put that as a CON in my list. But since you are now tracking that with the new design I guess it's all good...except how we handle it now. We can modify the code to add in the UID to the PV after the PVC is bound and have the binding respect the claimRef...but in the near term we will need to figure out if we just don't support recycling in this case or what...

[2016-03-31 23:59] yifan-gu commented on #23335
@dchen1107 We can do through `rkt run --interactive` but I don't know if we can do that when the `rkt run` is running as a systemd service.
Or we do something special to `kubectl run -i`, when runs interactively, we invoke `rkt run --interactive` directly instead from systemd service.

But I am not sure what if we detach the container after `kubectl run -i`, (in fact, I don't know whether we are a

[2016-04-01 00:03] dchen1107 commented on #23335
Using CTRL-C can detach the container.

[2016-04-01 00:04] yifan-gu commented on #23335
@dchen1107 I tried that after `kubectl run -i --tty busybox --image=busybox --restart=Never -- /bin/sleep 1000` doesn't work for me for docker as runtime.

[2016-04-01 00:05] yifan-gu commented on #23335
Ok, remove the `--tty`, then CTRL-C detaches the container

[2016-04-01 00:08] spacexnice commented on #23619
I respect current release as an authority version of k8s,  so it better work even though i would not use its deploy script in product environment. @dalanlan

[2016-04-01 00:13] jayunit100 commented on #23710
Nice find. We should make the --scale option do a more organic density test that is relevant to large heterogenous cluster types

[2016-04-01 00:39] bprashanth commented on #23556
If this is an OOM for the reason stated in https://github.com/kubernetes/kubernetes/issues/23556#issuecomment-204161843, simply increasing the size of the node should fix it. The increase in memory used by a debian base image vs busybox should be close to nothing, according to `/sys/fs/cgroup/memory/` anyway (<10Mb).

Perhaps running kube-proxy in a container (vs raw on the node) has increased the

[2016-04-01 00:54] bprashanth commented on #23669
How does one get the link to the test artifacts when a node e2e fails? Usually when e2e fails we get a comment like: https://github.com/kubernetes/kubernetes/pull/23711#issuecomment-204165611. I'm guessing there's some way to map the pr/build-number to a run in jenkins, but a straight link would help.

[2016-04-01 00:58] bobbyrullo opened #23720 "Decouple Group Population from Authentication"
Upon successful Authentication, authentication plug-ins are responsible creating the `user.Info` object. Authorization plugins are expected to call that object's `GetGroups []string` method to determine which groups a user belongs to.

The main problem with binding authn and groups together in this way is that not every authn method has a well-defined notion of groups, in which cases you'd want so

[2016-04-01 00:58] bprashanth commented on #23669
Also what's the incantation to rerun just the node e2es?
k8s-bot test this github issue seems to rerun them all.

[2016-04-01 00:58] bobbyrullo commented on #23720
CC: @ericchiang, @sym3tri

[2016-04-01 01:00] bobbyrullo commented on #23720
@deads2k and @liggitt : I'd love feedback from you guys, since I'd really like to be able to use the Openshift authz stuff when it lands upstream, and that would depend in a large part on how groups are populated.

[2016-04-01 01:08] bprashanth commented on #23361
Also in https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23541/kubernetes-pull-test-unit-integration/19631/artifacts/

[2016-04-01 01:12] liggitt commented on #23720
I don't see a need to change the interface. You can wrap an existing authn impl with a group-adding impl. In openshift, in addition to groups determined by the authenticator impl, we assign synthetic groups (`system:authenticated:oauth` is added to any user authenticated with an OAuth token, `system:authenticated` is added to any user authenticated via any source, etc)

[2016-04-01 01:26] liggitt commented on #23720
For example, this is our auth chain in openshift:
https://github.com/openshift/origin/blob/master/pkg/cmd/server/origin/master_config.go#L295

[2016-04-01 01:36] k82 opened #23721 "How to syncup etcd & masters"
Hi team,

I can start Pod/Rc in my cluster, but some of them can not be viewed after etcd restarted. Is there anyway to syncup etcd/masters.

[code]

[code]

[2016-04-01 01:40] johanhaleby opened #23722 "Allow underscore in configMapKeyRef key's"
Is there a reason why underscore (`_`) is prohibited from being used as keys in a configMapKeyRef?

Let's say I have a `deployment.yaml` file that contains an env section like this:

[code]

If I `kubectl create` this deployment file I'll end up with this error:

[code]

The reason why we had underscores in the configuration name is because of previous configuration limitations with Kubernetes as

[2016-04-01 01:41] mfanjie commented on #23614
@mfanjie

[2016-04-01 02:03] liggitt commented on #23720
I need to think through the implications of authorizers interrogating the user info about specific groups some more

[2016-04-01 02:12] vishh commented on #23335
^P + ^Q is the escape sequence. We need to document it as part of `kubectl
run` and `kubectl attach`
https://docs.docker.com/engine/quickstart/#running-an-interactive-shell

[2016-04-01 02:23] r-tock commented on #23556
Good insight @bprashanth appreciate it. Looks like JVMs are taking a total of 4G total VM size. Which is suspicious. But the resident size is about ~780MB, I am trying to see how that matches up.

[2016-04-01 02:28] vishh commented on #23556
Setting memory limits is what is necessary to be in the Guaranteed class.

The more memory a container uses that what it had originally requested, the more likely it is to be evicted in case of system memory pressure.

The kernel does not use RSS to identify a victim in case os system memory pressure. It uses working set which is usually greater than RSS.

[2016-04-01 02:40] resouer commented on #23563
Nice to have this! :+1:

[2016-04-01 03:02] mqliang commented on #23709
I am also interested in this issue. +1 for golang 1.6 w/ http2. And I have some suggestion:

1) Analyze how many requests sent to API server, and find out who is sending those requests
2) Is every http request necessary? Could we remove it? If a request is indeed necessary, should it be so frequent?

I find that at least one kind of frequent request is not necessary:

In 1.2, every node will frequ

[2016-04-01 03:04] bobbyrullo commented on #23720
But then you are mandating that a particular authn implementation is tied to a particular groups implementation which seems wrong.

[2016-04-01 03:12] saad-ali commented on #23517
@jason-riddle This looks like a GKE issue. We're looking into it.

[2016-04-01 04:00] liggitt commented on #23720
Right. The authentication layer (request in, user info out) can be composed from multiple sources

[2016-04-01 04:08] bgrant0607 commented on #20304
See also #22569

[2016-04-01 04:09] bgrant0607 commented on #22569
[code]

[2016-04-01 04:53] smarterclayton commented on #23335
Our exec and attach experience needs some TLC - we probably need to
devote some time to polishing it up and fixing the various terminal
resize / connect / settings bugs that have hung around.

[2016-04-01 04:55] huangyuqi commented on #23653
It is a great list  @nikhiljindal .
Excepting HA items,

1. Bring up an ubernetes api server with its own etcd
1. Add ubernetes API objects to it (cluster)

In PR https://github.com/kubernetes/kubernetes/pull/21190, pushed by @jianhuiz

1.Bring up ubernetes controller manager
1.Write RS and subRS controllers (#23269)
1.Write Service controller

WIP PR is https://github.com/kubernetes/kubernetes/pu

[2016-04-01 05:25] k82 commented on #23721
It seems the controller is unnamed; re-run with `kubectl describe`. Any related documents?

[code]

[2016-04-01 05:39] caesarxuchao commented on #23162
Sorry, I haven't worked on this yet. I'll figure out if we are going to fix it or abandon it next week.

[2016-04-01 05:41] bgrant0607 commented on #23564
Thanks @AdoHe.

For secret, we could either fail or maybe hash the secret contents in the annotation. We just need to be able to tell which fields changed.

[2016-04-01 05:41] bgrant0607 commented on #23564
See also #20508

[2016-04-01 05:52] mfanjie commented on #23269
Checking further of the code, as in P1 we don't support complex expression like node affinity terms, so it is hard to reuse existing NodeSelector code, to simplify, what I supposed to do is to iterated all cluster and check if the cluster name matches any of the annotation values.
I will send the wip for review anyway.

[code]

[2016-04-01 05:57] dalanlan commented on #23619
@spacexnice The main reason that you may encounter a problem when you stick to the deploying script with a specific release is that the late cherrypick could bite.

[2016-04-01 06:37] fejta commented on #23389
Looks like there are race conditions when `kubectl create` and `kubectl apply` are called near each other.

[code]
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L547

[2016-04-01 06:49] #15229 closed

[2016-04-01 07:57] soltysh commented on #23599
@balopat can you show me the versions you have enabled on the server using either `kubectl api-versions`, eventually do the same with `curl http://127.0.0.1:8080/apis` to get additional apis and check what objects are within do `curl http://127.0.0.1:8080/apis/batch/v1` to get objects available inside `batch/v1`. I'd like to see what is enabled inside your cluster. I'm assuming the extended APIs a

[2016-04-01 08:28] prashantabkari commented on #23572
Done . you can see the post in the following link
http://stackoverflow.com/questions/36351524/installation-of-kubernetes-node-fails-with-conflicting-packages-on-centos-7

[2016-04-01 08:31] fejta commented on #23545
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-release-1.0/4424/

[2016-04-01 08:48] Random-Liu commented on #23361
Another one https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23725/kubernetes-pull-test-unit-integration/19898/

[2016-04-01 09:04] yidinghan commented on #14232
@vishh hi
I used the example [kubernetes/cluster/addons/cluster-monitoring/influxdb/](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-monitoring/influxdb) at commit [2e89f55](https://github.com/kubernetes/kubernetes/commit/2e89f555c650c01ba577a015fd1b23dbb71707e3)

Even though i change the type of both svc:monitoring-influxdb and svc:monitoring-grafana from ClusterIP to

[2016-04-01 09:50] zhouhaibing089 commented on #23677
This code may help a little bit to explain:

[code]

[2016-04-01 09:59] zhouhaibing089 commented on #23713
@liangjinebaycom since you are interested in auto namespace.

[2016-04-01 11:02] erez-rabih commented on #23675
@a-robinson on AWS

[2016-04-01 12:05] xificurC opened #23726 "Running Kubernetes Locally via Docker - `kubectl get nodes` returns `The connection to the server localhost:8080 was refused - did you specify the right host or port?`"
Going through [this](http://kubernetes.io/docs/getting-started-guides/docker/) guide to set up kubernetes locally via docker I end up with the error message as stated above.

Steps taken:
- `export K8S_VERSION='1.3.0-alpha.1'` (tried 1.2.0 as well)
- copy-paste the `docker run` command
- download the appropriate `kubectl` binary and put in on `PATH` (`which kubectl` works)
- (optionally) setup the