[2020-10-15 18:35] neolit123 commented on #95607
hi, this seems like a request for support.
you'd have to install etcdctl  (ideally matching your etcd cluster version) and then use it to debug the problem:

this is a useful guide to check:
https://docs.openshift.com/container-platform/3.11/admin_guide/assembly_replace-etcd-member.html
for certificates you can use the files that kubeadm generates under /etc/kubernetes/etcd, including the files na

[2020-10-15 18:36] #95607 closed

[2020-10-15 19:45] MHBauer commented on #95612
Seems like there's some dispute on who is doing the correct thing.

[2020-10-15 19:50] slaurencelle opened #95616 "Kubernetes + iptables _strimzi operator for kafka"
Hello,
I like to know how does iptables work in kubernetes versus strimzi operator for kafka.
When deploying all the different pod include with strimzi for kafka , i got strange comportement in iptables, i see that those kind of messages while the pod is getting deploy.

REJECT     tcp  --  anywhere             10.99.200.5          /* kafka/kafka-connect-cluster-connect-api:rest-api has no endpoin

[2020-10-15 19:50] apelisse commented on #95460
I can clearly reproduce this with 1.17, I'm trying to reproduce with a more recent version now to see what happens.

Here are very simple steps to reproduce:
[code]

[2020-10-15 19:54] apelisse commented on #95460
So the good news is that I can't reproduce in master:
[code]

[2020-10-15 20:01] apelisse commented on #95460
We have a few fixes that we're still in the process of back-porting to older versions, but I agree that it'd be nice to identify which one this is. Any clue @jpbetz?

[2020-10-15 20:15] kachkaev commented on #62822
/remove-lifecycle stale

[2020-10-15 21:06] lachie83 commented on #95596
/assign @thockin

[2020-10-15 21:08] lachie83 commented on #95570
/assign @danwinship

[2020-10-15 21:08] lachie83 commented on #95570
/triage-accepted

[2020-10-15 21:11] lachie83 commented on #95565
/assign @aojea
/triage accepted

[2020-10-15 21:13] lachie83 commented on #95552
/assign @dcbw

[2020-10-15 21:15] lachie83 commented on #95515
/triage accepted

[2020-10-15 21:17] lachie83 commented on #95570
/triage accepted

[2020-10-15 21:17] alculquicondor commented on #95445
@pancernik I think this is a good fit for you. Are you interested?

[2020-10-15 21:19] cschuet commented on #84069
@skwokie Did you ever resolve this issue? I'd also be interested to switch the scheduler for a process running inside a kubernetes pod.

[2020-10-15 21:24] thockin commented on #95596
Is the goal simply to avoid tripping over servers that look for that header?

I don't think this presents any hazards - is that right?  If so, it seems like a simple PR if you want to tackle it.

/triage accepted
/kind feature

[2020-10-15 21:31] BenTheElder commented on #90311
/sig security

[2020-10-15 21:44] fonsecas72 commented on #95596
cool! will look into it! thanks :)

[2020-10-15 21:54] thockin commented on #95555
Actually, that is *exactly* what it means.

Having something in the cluster CIDR which is not in the cluster is not something any of this code is written to handle.   That said, we're trying to excise the need for cluster-cidr knowledge on nodes.  Can you use the `--detect-local-mode=NodeCIDR` instead?

[2020-10-15 22:00] sfowl opened #95621 "CVE-2020-8563: Secret leaks in kube-controller-manager when using vSphere provider"
CVSS Rating: 5.6 CVSS:3.0/AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N (Medium)

In Kubernetes clusters using VSphere as a cloud provider, with a logging level set to 4 or above, VSphere cloud credentials will be leaked in the cloud controller manager's log.

### Am I vulnerable?
If you are using VSphere as a cloud provider, have verbose logging enabled, and an attacker can access cluster logs, then you ma

[2020-10-15 22:00] sfowl commented on #95621
Fixed by https://github.com/kubernetes/kubernetes/pull/95236

[2020-10-15 22:02] thockin commented on #95486
The error comes from pkg/util/conntrack/conntrack.go `ClearEntriesForNAT()` - it seems to be receiving a "" origin.

@hulucc can you include the Service YAML here?

[2020-10-15 22:03] thockin commented on #95486
Also, which proxy mode are you using?  IPVS or iptables?

[2020-10-15 22:03] sfowl opened #95622 "CVE-2020-8564: Docker config secrets leaked when file is malformed and log level >= 4"
CVSS Rating: 4.7 CVSS:3.0/AV:L/AC:H/PR:L/UI:N/S:U/C:H/I:N/A:N (Medium)

In Kubernetes clusters using a logging level of at least 4, processing a malformed docker config file will result in the contents of the docker config file being leaked, which can include pull secrets or other registry credentials.

### Am I vulnerable?
If kubernetes.io/dockerconfigjson type secrets are used, and a log level o

[2020-10-15 22:03] sfowl commented on #95622
Fixed by https://github.com/kubernetes/kubernetes/pull/94712

[2020-10-15 22:05] sfowl opened #95623 "CVE-2020-8565: Incomplete fix for CVE-2019-11250 allows for token leak in logs when logLevel >= 9"
CVSS Rating: 4.7 CVSS:3.0/AV:L/AC:H/PR:L/UI:N/S:U/C:H/I:N/A:N (Medium)

In Kubernetes, if the logging level is to at least 9, authorization and bearer tokens will be written to log files. This can occur both in API server logs and client tool output like `kubectl`.

### Am I vulnerable?
If kube-apiserver is using a log level of at least 9.

#### Affected Versions
kubernetes v1.19.0 - v1.19.3
kuber

[2020-10-15 22:05] sfowl commented on #95623
Fixed by https://github.com/kubernetes/kubernetes/pull/95316

[2020-10-15 22:07] sfowl opened #95624 "CVE-2020-8566: Ceph RBD adminSecrets exposed in logs when loglevel >= 4"
CVSS Rating: 4.7 CVSS:3.0/AV:L/AC:H/PR:L/UI:N/S:U/C:H/I:N/A:N (Medium)

In Kubernetes clusters using Ceph RBD as a storage provisioner, with logging level of at least 4,  Ceph RBD admin secrets can be written to logs. This occurs in kube-controller-manager's logs during provisioning of Ceph RBD persistent claims.

### Am I vulnerable?
If Ceph RBD volumes are in use and kube-controller-manager is u

[2020-10-15 22:08] sfowl commented on #95624
Fixed by https://github.com/kubernetes/kubernetes/pull/95245

[2020-10-15 22:08] #95621 closed

[2020-10-15 22:08] #95622 closed

[2020-10-15 22:08] #95623 closed

[2020-10-15 22:08] #95624 closed

[2020-10-15 22:10] thockin commented on #95365
A few things:

- What network infra (CNI in particular) is this using?
- Is this using kube-proxy or some other Services impl?
- Can you explain the IPs in here?  Which is the DNS clusterIP and which is the DNS pod IP?
- Ping to a clusterIP SHOULD NOT work - that it works suggest something else is up

Can you walk through https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ ?

[2020-10-15 22:11] thockin commented on #95309
/triage accepted

[2020-10-15 22:19] thockin commented on #46508
As Casey mentioned: this is hard because it's not guaranteed to exist.

- Some clusters don't use this at all (if their net config does not need it)
- Some clusters have multiple smaller CIDRs rather than a single large CIDR
- Some clusters can add/remove CIDRs at runtime

Now, it may be that your specific daemon won't work in some or all of those models.  We're lacking as proper IPAM API to descr

[2020-10-15 22:46] johnbelamaric commented on #46508
Yes, that's the real ask (a proper IPAM API).

[2020-10-15 23:03] chrishenzie opened #95627 "Make CSIDriver.spec.podInfoOnMount mutable"
**What would you like to be added**:

I would like to make the `CSIDriver.spec.podInfoOnMount` field mutable.

**Why is this needed**:

Because there are CSI drivers that do not yet support this feature, but will in the near future (like the [AWS EFS CSI driver](https://github.com/kubernetes-sigs/aws-efs-csi-driver)). Allowing users to update this field when they upgrade their CSI driver without h

[2020-10-15 23:03] chrishenzie commented on #95627
/sig storage

[2020-10-15 23:25] liggitt commented on #95601
Thanks for the report. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/65517

[2020-10-15 23:25] #95601 closed

[2020-10-16 00:12] cdennison commented on #20381
I tried deleting the docker container (called something like k8s_POD_kube-controller-manager-MYNAME_kube-system) and that worked but I also needed to restart the scheduler as well (k8s_kube-scheduler_kube-scheduler-MYNAME_kube-system). See https://stackoverflow.com/questions/56320930/renew-kubernetes-pki-after-expired.

I had this issue after renewing my certs like this
`kubeadm alpha certs renew

[2020-10-16 01:21] neolit123 commented on #95616
hi, this appears to be a request for support. please try the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-10-16 01:21] #95616 closed

[2020-10-16 01:41] jayunit100 opened #95633 "[service-proxy] and [kube-proxy] tags"
This might be best written out in a KEP since its a holistic change to the sig-net testing metadata, but could also do it in bite size chunks.

**What would you like to be added**:

ginkgo skip/focus metadata strings or tags which identify:
- service proxy tests,
- kube proxy tests,

for all of the current sig-network tests (there are roughly 157 current sig-net tests, 4 are labelled with kube-pro

[2020-10-16 01:42] jayunit100 commented on #95633
/sig network

[2020-10-16 02:10] chenyw1990 commented on #94305
@RenaudWasTaken

In our use case, we hope that some pods can run properly when the disk pressure. We set a tolerance policy for these pods to tolerate disk-pressure stains and set the pod to Critical Pod use priority = 2000001000.

When kubelet restarts, it obtains the list of pods that should run on the node from kube-apiserver and invokes the Kubelet.HandlePodAdditions function again for these p

[2020-10-16 02:27] liggitt commented on #95545
I'm not able to reproduce this… what was the sequence and timing between creating the webhook, creating the namespace, labeling the namespace, and creating the pod?

[2020-10-16 02:28] liggitt commented on #95545
I double checked the v1 defaults and the failure policy does default to Fail, so I suspect a timing issue with the test

[2020-10-16 02:46] tdihp commented on #95555
For the Azure CNI the current implementation uses the same CIDR for both nodes and pods so it's not a valid option for at least this platform.

[2020-10-16 03:02] #91223 closed

[2020-10-16 03:35] lala123912 commented on #95552
This problem occured when the container network was abnormal，and that was another problem of other component in our product which has been fixed.

[2020-10-16 04:13] #95556 closed

[2020-10-16 04:20] liggitt commented on #83916
it sounds like a real issue, tagged for triage by sig-node

[2020-10-16 04:31] HaonanFeng commented on #94696
Can we define a function `allowUnExportedType` export the "Status" fields .
[code]
Then in `Diff`, `cmp.Exporter` judge whether it is "Status", if it is, then return the field of status:
`if diff:= cmp.Diff(gotStatus,tt.wantStatus,cmpopts.EquateErrors(),cmp.Exporter(allowUnExportedType)); diff != "" {`

[2020-10-16 04:36] thockin commented on #95555
That's not really a valid config, but I suspect it would work as long as it
was only cluster nodes and cluster pods.  Having something else use that
range is just wrong and is not something that was ever accounted for.

I am not against reasonable fixes to stop the bleeding, but I don't think
that is something we want to support in general.

Sorry to hear bad news...

I know Kal is on the this iss

[2020-10-16 05:18] tarquin-the-brave commented on #95545
Interesting. It was happening consistently I recall.

It's possible the webhook wasn't being called for some other reason. Though I thought I'd ruled that out. This was a silent failure I was trying to debug.

I will retest today and ensure this field is the only thing that varies between runs.

The Azure cluster I'm working has k8s version of 1.18.8. What version did you test on?

[2020-10-16 05:25] liggitt commented on #95545
v1.18.8

[code]

[2020-10-16 05:49] krmayankk commented on #72253
pinging again @feiskyer @saschagrunert @jterry75

[2020-10-16 05:51] krmayankk commented on #68397
@kow3ns can you assign this to 1.20 milestone ?

[2020-10-16 06:01] frittentheke commented on #62078
/remove-lifecycle stale

[2020-10-16 06:57] wojtek-t opened #95636 "More comprehensive test for mapping url paths to metrics labels"
In https://github.com/kubernetes/kubernetes/issues/95556 we discovered a bug where kube-apiserver metrics were being incorrectly reported (GET vs LIST problem).
In https://github.com/kubernetes/kubernetes/pull/95562 this was addressed together with test exercising that proper metrics are exposed.

However, this test isn't ideal because if params wouldn't be swapped, it wouldn't catch them.
We shou

[2020-10-16 06:58] wojtek-t commented on #95636
/sig api-machinery

[2020-10-16 07:13] Fillo22 commented on #92822
/close

[2020-10-16 07:13] #92822 closed

[2020-10-16 07:21] HaonanFeng opened #95637 "Healthy events will probably not be sent due to the flow limit of pod"
**What happened**:
When kubelet sends an event for a certain object, it will limit the flow. There is a maximum quota of 25 events, and one is restored every 5 minutes. So if the pod has a large number of  events in a short period of time, after the pod starts up normally, the HEALTHY events will probably not be sent due to the flow limit, which will prevent the pod related alarms from being clear

[2020-10-16 07:29] saschagrunert commented on #72253
We run CRI-O and containerd tests in cri-tools directly. CRI-O (and probably containerd too) run critest in their own repository again. I think this is not a Kubernetes issue we're speaking about here. I'm wondering which kind of tests are missing from critest. If you see some, can you please transfer this issue to cri-tools and close this one?

[2020-10-16 07:35] dty1er opened #95638 "Invalid indentation level in kubectl describe node output"
**What happened**:

When executing "kubectl describe node", indentation level of items in "Capacity", "Allocatable" and "System Info" is not consistent with others. Although other parts have 2 spaces, they only have one space.

![image](https://user-images.githubusercontent.com/60682957/96226149-29448200-0fcd-11eb-8790-69c70e7b09d4.png)

**What you expected to happen**:

Indentation with 2 spaces.

[2020-10-16 07:42] HaonanFeng commented on #95637
/area kubelet

[2020-10-16 07:42] HaonanFeng commented on #95637
/sig node

[2020-10-16 07:45] raul1991 commented on #17512
For those looking to run this on minikube , first enable the metric server add-on
`minikube addons enable metrics-server`
and then run the command
`kubectl top nodes`

[2020-10-16 08:32] JoshuaAndrew opened #95642 "Horizontal Pod Autoscaler doesn`t automatically scale the number of pods correctly"
**What happened**:
if we set SelectPolicy MinPolicySelect on scaleUp behavior or scaleDown behavior, Horizontal Pod Autoscaler does not scale the number of pods correctly.

**What you expected to happen**:
if we set SelectPolicy MinPolicySelect on scaleUp behavior or scaleDown behavior, Horizontal Pod Autoscaler scales the number of pods correctly.

**How to reproduce it (as minimally and precisel

[2020-10-16 08:34] yaroze commented on #94883
Hi @rikatz ,

so far, with the newer kubespray version the new cluster had stable network performance, but we had to remove the continuous iperf's as per a recommendation from the sysadmins.

We just finished deploying another cluster for production and (just to be sure) will deploy the iperf's again and wait for another week.

Does that sound reasonable?

Thanks again for your help!

[2020-10-16 08:39] JoshuaAndrew commented on #95642
/sig autoscaling

[2020-10-16 08:55] JoshuaAndrew commented on #95642
/cc @josephburnett @MaciekPytel @mwielgus @piosz

[2020-10-16 09:08] #91219 closed

[2020-10-16 09:42] sftim commented on #94694
I think I'd approach this with a blog article: _why_ you should always support multiple API versions.

(and if people agree, I can help draft / edit that article)

[2020-10-16 09:43] Xyaren commented on #95604
Okay I did some more research:
The issue **only** occurs when using the annotation `eks.amazonaws.com/role-arn` on the ServiceAccount.
When I create a service account without that annotation and create the deployment afterwards, the startup probe is applied on the pod.
When I do the same with the annotation applied to the ServiceAccount, the probe will be missing on the pods.

Deployment to replic

[2020-10-16 10:09] #90666 closed

[2020-10-16 10:11] errordeveloper commented on #46508
I think it would good to also ask if this should be part of a broader network configuration API.

Aside from being able to find out what CIDRs are being used for pods and services, I think it would be very useful to be able to tell at least a name of the network provider. Of course, beyond that it would also be nice to tell if e.g. there are pods in `kube-system` or some other namespace that are r

[2020-10-16 10:19] matthiasdeblock commented on #92460
@irizzant
Did you change any config?

Also, look at the kubelet logs (journalctl -u kubelet). There might be more information in there.

[2020-10-16 11:10] #91238 closed

[2020-10-16 11:13] tarquin-the-brave commented on #95545
OK so retested.

`default` namespace was already labelled, and:

[code]

I can't reproduce this.  My test concurs with yours.

Hopefully I just made a mistake when testing before, perhaps with the selector...

I'll close this for now.

Thanks!

[2020-10-16 11:13] #95545 closed

[2020-10-16 11:59] irizzant commented on #92460
No I didn't.
I had a look at kubelet logs but nothing hits my attention

[2020-10-16 12:33] lala123912 commented on #95612
I would like to have a try.

[2020-10-16 13:00] antonionappi88 commented on #3595
+1

[2020-10-16 13:42] Xyaren commented on #95604
This looks like it is an issue in aws/amazon-eks-pod-identity-webhook.
Issue: https://github.com/aws/amazon-eks-pod-identity-webhook/issues/84

Not sure if this can be closed here though, without someone looking into it.

[2020-10-16 13:50] SpectralHiss commented on #17088
I am not sure if the issue is satisfactorily resolved, in which cases does the externalname trick actually work?
to confirm for AWS EKS (v1.16) with alb ingress controller I don't seem to be able to have a service in namespace B (where ingress lives) point to another with the same name in namespace A.
I tried two approaches:
### Using headless endpoint service
[code]
This solution doesn't work (ti

[2020-10-16 13:59] neolit123 commented on #95638
/sig cli

[2020-10-16 14:03] webornottoweb commented on #77310
Same here

[2020-10-16 14:59] chrishenzie commented on #95627
@wongma7 can you confirm if we will need `CSIDriver.spec.podInfoOnMount = true` for supporting IAM access point mounts?

[2020-10-16 15:07] thejoycekung commented on #95304
Small update: `[sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should be able to deny attaching pod [Conformance]` looks like it is no longer failing.

The three sig network tests are still failing though. Example spyglass link: https://prow.k8s.io/view/gcs/k8s-conformance-openstack/periodic-logs/ci-cloud-provider-openstack-acceptance-test-e2e-conformance/1602770887

/cc @kubernetes

[2020-10-16 15:08] liggitt commented on #95604
if a webhook is replacing the entire container with one which does not include the startupProbe, then that issue would need to be resolved by the webhook

[2020-10-16 15:08] #95604 closed

[2020-10-16 15:14] droslean commented on #94013
@pires Can you confirm that this issue is resolved?

[2020-10-16 15:16] droslean commented on #93277
Closing in favor of https://github.com/kubernetes/kubernetes/pull/93466#discussion_r460829331

/close

[2020-10-16 15:17] #93277 closed

[2020-10-16 15:34] khatrig commented on #95365
Found the issue. Marvell Qlogic Fastlinq ethernet controller is used in the impacted nodes which is causing the issue. Any other controller works just fine. Guessing some type of ethernet firmware issue. Had to reach out to the vendor.

[2020-10-16 15:37] pires commented on #94013
This issue was never resolved. It's a breaking change and there's nothing to fix. Thanks for reminding me to close it.

[2020-10-16 15:38] arghya88 commented on #95589
@gnufied Is it okay if I make this change?

[2020-10-16 15:43] danwinship commented on #95570
cc @aojea

So I was thinking that this could allow us to easily solve the [ipv6 service subnet size problem](https://github.com/kubernetes/enhancements/pull/1881). We could just say that when you have a /64 service CIDR, it also automatically carves out an exception as well so that the system-allocated part only covers 16 bits of the /64. (It would have to be flipped from the example above: we'd w

[2020-10-16 15:43] thockin commented on #95365
Well, this wins weirdest bug of the year :)

[2020-10-16 15:43] #95365 closed

[2020-10-16 15:47] thockin commented on #46508
No objections, per se, but even "which network provider" can vary from node
to node, as long as the transport is compatible.

On Fri, Oct 16, 2020 at 3:11 AM Ilya Dmitrichenko <notifications@github.com>
wrote:

[2020-10-16 15:50] thockin commented on #94694
I don't think extending the beta window conflicts with the need to go GA in
a reasonable time.  It just means that the API would stick around much
longer.  I like deleting code as much as anyone, so I ACK the downside here
:)

On Thu, Sep 10, 2020 at 6:56 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-10-16 16:01] #94356 closed

[2020-10-16 16:38] utkarsh231 commented on #95307
Hello there,
I am new to kubernetes and GitHub, a first time contributor . I really want to start working and contributing. A little guidance and support over the topic will be highly appreciated.
I am looking forward for it.
Thank you.

[2020-10-16 16:56] caesarxuchao commented on #94688
/close

based on https://github.com/kubernetes/kubernetes/issues/94688#issuecomment-692147049

[2020-10-16 16:56] #94688 closed

[2020-10-16 17:01] bboreham commented on #46508
There is a KEP ["Removing Knowledge of pod cluster CIDR from iptables rules"](https://github.com/kubernetes/enhancements/blob/92b15c84dc9ece1e843896a441a1c453421f5038/keps/sig-network/20191104-iptables-no-cluster-cidr.md), implemented by #87748 et seq.
I think it can address part of this issue, in that kube-proxy can now do its job without the CIDR.
(Feels like it strengthens the need for "a broad

[2020-10-16 17:46] Huang-Wei commented on #94696
I don't think we'd like to do that way. Just simply make the private fields of Status to public, and use `cmpopts.EquateErrors()`.

[2020-10-16 17:57] cmluciano commented on #88698
I believe #94591 should help with this. Could you give it a try @xmath279 ?

[2020-10-16 18:48] rikatz opened #95658 "kubectl create ingress panics because of missing dry-run flag"
**What happened**: kubectl create ingress panics because there is no cmdutil.AddDryRunFlag

**What you expected to happen**: Command to work

**How to reproduce it (as minimally and precisely as possible)**: Compile the upstream, run ``kubectl create ingress``

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): upstream/dev

/sig cli
/kind bug
/prio

[2020-10-16 20:23] Huang-Wei commented on #95158
@tangwz any progress on this?

[2020-10-16 20:34] liggitt commented on #94694
I lean toward the "support multiple versions" position, at least for beta. One of the explicit goals of the "prevent permabeta" proposal was "Prevent beta APIs from being treated as GA by users and vendors." I think if you ship something using a beta API, you should be prepared to update it to use the GA version once available, falling back to the beta version if not available.

What you are descr

[2020-10-16 20:39] dpolicastro commented on #89657
For people wondering how to possibly workaround this, check out this link: https://kubernetes.io/docs/concepts/workloads/controllers/job/#ttl-mechanism-for-finished-jobs

[2020-10-16 21:19] SergeyKanzhelev commented on #95552
Fix for the nil check is here: https://github.com/kubernetes/kubernetes/pull/95662

We might need to analyze all code paths. If somebody has an idea for bigger refactoring to prevent these cases in the first place - let's discuss.

[2020-10-16 21:45] obeyda commented on #92402
Hello, I tried to narrow down the list of packages without active PRs as of now, hope this is useful for anyone who wants to contribute:
[code]

[2020-10-16 21:46] zqingqing1 opened #95663 "Fix internal loadbalancer configuration failure when truncated FrontendIPConfigName ended with special char"
**What happened**:
when getting FrontendIPConfigName and subnet is too long, we truncated it but when it is ended with "." special char, controller manager will errr out with "invalid resource name"
[code]

**What you expected to happen**:
We shouldn't ended with special char

**How to reproduce it (as minimally and precisely as possible)**:
Use a subnet that has long name (>70 charactors) and wit

[2020-10-16 23:26] silverkorn commented on #41881
We might need to rename the issue title because everyone here, me included, is requesting at least a support for wildcards as suffix, e.g.:
- `www.*`
- dev-www.*
- `dev.www.*`

[2020-10-16 23:35] aojea commented on #46508
xref: https://github.com/kubernetes/kubernetes/issues/57130

[2020-10-16 23:49] neolit123 commented on #91070
/remove-lifecycle rotten

[2020-10-16 23:56] neolit123 commented on #95663
hi, i don't know where FrontendIPConfigName is coming from, but this value is too long. it should be <80 characters.

please try figuring out the reason for what / who is setting such a long value.

this does not appear to be a bug in core Kubernetes and the following requirement will not be changed:

or with '_'. The name may contain word characters or '.', '-', '_'.",^M

/close
/kind support
/re

[2020-10-16 23:56] #95663 closed

[2020-10-17 00:15] #94694 closed

[2020-10-17 00:46] tp6m4fu6250071 commented on #19317
got the issue on EKS (**Kubernetes version: 1.15**)
kubectl version:
[code]

The kill-kube-ns script works for me. Thank you.

[2020-10-17 01:55] ruchikaguptaa commented on #70044
Is there any update on this? I'm seeing the same problem. It retries and gets fixed sometimes but it ends up taking longer for the cluster.

Oct 17 01:04:37 k8s-agent-1-3l38utey3n53p000002 kubelet[23963]: E1017 01:04:37.194802   23963 nestedpendingoperations.go:270] Operation for "\"kubernetes.io/secret/042136cb-99c2-4b6c-aeed-63f4dc93f0f7-kubeconfig\" (\"042136cb-99c2-4b6c-aeed-63f4dc93f0f7\")" f

[2020-10-17 02:09] dobesv commented on #62772
I see a similar issue.  I see logs from controller-manager:

[code]

the some time later:

[code]

it actually seems to launch the second pod before the first one is finished, because the second one fails because it cannot acquire a lock held by the first one.

This is the job that was created by the cron job:

[code]

I can see that the ResourceVersion of the job did actually change, so perhaps s

[2020-10-17 02:10] dobesv commented on #62772
/reopen

[2020-10-17 02:43] thockin commented on #46508
Yeah node.spec.podCIDR is another symptom of the lack of an IPAM API.

On Fri, Oct 16, 2020 at 4:35 PM Antonio Ojea <notifications@github.com>
wrote:

[2020-10-17 03:34] Pingan2017 commented on #95507
/sig apps

[2020-10-17 04:26] #87735 closed

[2020-10-17 04:45] utkarsh2102 commented on #95074
Right, thanks! :)

[2020-10-17 05:24] #95573 closed

[2020-10-17 05:27] #89900 closed

[2020-10-17 07:06] kifeo commented on #87491
/reopen

[2020-10-17 07:07] kifeo commented on #87491
I have this issue as well, was there some update since ? Could you resolve ?

[2020-10-17 08:30] #90920 closed

[2020-10-17 08:49] zrks opened #95670 "gcr.io/google-containers/kube-apiserver:v1.18.9 not found"
Hi,

hopefully I can get some support here - currently trying to deploy k8s cluster via kubespray v2.14.1.
Seems that latest k8s images are not available:
└─ $ ▶ docker image pull gcr.io/google-containers/kube-apiserver:v1.18.9 Error response from daemon: manifest for gcr.io/google-containers/kube-apiserver:v1.18.9 not found: manifest unknown: Failed to fetch "v1.18.9" from request "/v2/google-con

[2020-10-17 09:37] aojea opened #95671 "[Failing test] DNS ConfigMap * tests are failing"
**Which jobs are failing**:

sig-netwok jobs running serial tests

**Which test(s) are failing**:

[sig-network] DNS configMap nameserver.*

**Since when has it been failing**:

Seems this was the trigger
https://github.com/kubernetes/kubernetes/pull/94595

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-network-kind#sig-network-kind,%20master

**Reason for failure**:

It seems is trying

[2020-10-17 09:37] aojea commented on #95671
/sig network
/sig testing
/cc @claudiubelu @alejandrox1
/triage accepted

[2020-10-17 09:45] aojea commented on #95671
/assign

[2020-10-17 10:49] imilchev opened #95673 "Allow extended resources to be overcommitted and contain floating points"
**What would you like to be added**: Looking at [this page](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#consuming-extended-resources) it seems that extended resources cannot be overcommitted (requests and limits should be equal) and they can only be specified by the means of integers (values such as 1.5 are not accepted). This is fine for something like a GPU or

[2020-10-17 10:52] imilchev commented on #95673
/sig scheduling

[2020-10-17 10:52] imilchev commented on #95673
/sig architecture

[2020-10-17 14:36] #91288 closed

[2020-10-17 16:18] sampaddemo commented on #60134
paste below inside kuberne repo config file then retry.

[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

[2020-10-17 16:38] #72044 closed

[2020-10-17 16:58] brianpursley commented on #95638
This was [fixed in 1.17.0](https://github.com/kubernetes/kubernetes/commit/4ce16254f7b89324dcbb43de70d0d95cb9ce5865)

version 1.16.9 output:
[code]

version 1.17.3 output:
[code]

[2020-10-17 19:39] hickeng commented on #90053
The doc could be clarified, but the following suggest the answer is no support for CRs unless added recently:

https://github.com/kubernetes/kubernetes/pull/84467

https://github.com/kubernetes/kubernetes/issues/81508

[2020-10-17 22:29] troy0820 commented on #95670
@zrks Have you tried `docker pull k8s.gcr.io/kube-apiserver:v1.18.9`
I've tried this in a [katacode playground](https://www.katacoda.com/courses/kubernetes/playground) and it worked.

Related issue: https://github.com/kubernetes/kubernetes/issues/94013

[2020-10-18 03:44] dty1er commented on #95638
I was using old kubectl and confirmed the problem is fixed in the latest kubectl. Let me close the issue.

[2020-10-18 03:44] #95638 closed

[2020-10-18 06:30] ScrapCodes opened #95677 "[Flaky Test] Conformance GCE Master - failing at Cluster Up step."
**Which jobs are flaking**:

* Conformance GCE Master

**Which test(s) are flaking**:
Up
**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master

**Reason for failure**:
[code]
**Anything else we need to know**:
- links to go.k8s.io/triage appreciated

Nothing here:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Cluster%20fai

[2020-10-18 08:24] reza-shamsi-monaef commented on #95532
@neolit123
thanks a milion dear

[2020-10-18 08:29] RobertKielty commented on #95369
Reviewed. Marking as resolved on the CI Signal Board.

Once #95378 was merged, failures stopped and they have not re-occurred since.

[2020-10-18 08:37] RobertKielty commented on #95004
Passing since Oct 3rd. Will mark as Resolved 2+ weeks and close for now.

/close

[2020-10-18 08:38] #95004 closed

[2020-10-18 09:06] wojtek-t commented on #79464
/remove-lifecycle stale

[2020-10-18 09:55] #91173 closed

[2020-10-18 10:30] bart0sh commented on #95043
@MHBauer Frankly speaking I'm a bit hesitating to drop Docker benchmark tests as Docker is a default runtime. The fact that nobody looked at this job for months is alarming, but it doesn't mean that the test itself is not important. If we drop it it would look like we only care about two non-default runtimes(CRI-O and containerd).

[2020-10-18 10:56] #91325 closed

[2020-10-18 12:01] aojea commented on #95369
Yay

[2020-10-18 13:39] lucasgvarela commented on #46826
another example where 2 spaces are enough pod.spec.containers.name.image only requires 2 spaces not 4...
[code]

[2020-10-18 13:59] #90272 closed

[2020-10-18 14:08] liggitt commented on #95677
cc @hh … did the audit policy change just merge?

[2020-10-18 14:32] hsyl4125 commented on #95582
/kind/support

[2020-10-18 14:37] hsyl4125 commented on #95582
/sig kind/support

[2020-10-18 15:24] nodo opened #95680 "Validation type error when creating / updating CRDs that use scale subresource"
**What happened**:

When a CRD that uses the scale subresource  is created or updated using server-side apply an unexpected error occurs:

[code]

**What you expected to happen**:

No error and CRD instance created or updated.

**How to reproduce it (as minimally and precisely as possible)**:

Given a file `crddef.yaml`:
[code]

and a file`crd.yaml`
[code]

Run the following:
[code]

**Anything el

[2020-10-18 15:26] nodo commented on #95680
/sig api-machinery
/wg api-expression

[2020-10-18 17:03] KarthikNedunchezhiyan opened #95681 "apiserver liveness probe failed with status code 500"
**What happened**:

api-server liveness probe failed continuously with status code 500.

[code]

**What you expected to happen**:

I expected not apiserver liveness proble should not fail.

**How to reproduce it (as minimally and precisely as possible)**:

I just provisioned the kubernetes 1.15.3 with kubeadm. this issue started after i started to create some of the pods.

**Anything else we need

[2020-10-18 18:03] #90258 closed

[2020-10-18 18:38] taitelman commented on #50375
+1

[2020-10-18 18:59] ravisantoshgudimetla opened #95682 "Windows containers restart in vSphere cluster"
**What happened**:
Windows Containers are restarting in vSphere cluster on Windows 1909 host with the following error:

[code]

**What you expected to happen**:
Windows Containers are running normally.

**How to reproduce it (as minimally and precisely as possible)**:
Add a Windows 1909 host to existing OpenShift cluster with ovn-kubernetes

**Anything else we need to know?**:

**Environment**:
-

[2020-10-18 19:01] ravisantoshgudimetla commented on #95682
/sig windows

[2020-10-18 19:10] #95671 closed

[2020-10-18 19:19] spicysomtam commented on #50375
Hopefully one day they will implement this?

[2020-10-18 19:43] ravisantoshgudimetla commented on #95682
Network logs:[server.tar.gz](https://github.com/kubernetes/kubernetes/files/5398055/server.tar.gz)

System events log- [system.tar.gz](https://github.com/kubernetes/kubernetes/files/5398071/system.tar.gz)

[Repo](https://github.com/microsoft/SDN/tree/master/Kubernetes/windows/debug)

[2020-10-18 19:49] pjo256 commented on #72216
/remove-lifecycle stale

[2020-10-18 19:55] ravisantoshgudimetla commented on #95682
cc @aravindhp @gmarkley-VI @marosset @ambguo @JocelynBerrendonner

[2020-10-18 20:56] Riaankl commented on #90917
/remove-lifecycle stale

[2020-10-18 21:01] Riaankl commented on #88039
/remove-lifecycle stale

[2020-10-18 21:04] Riaankl commented on #90712
/remove-lifecycle stale
/assign @BobyMCbobs

[2020-10-18 22:07] #91297 closed

[2020-10-18 22:12] liggitt commented on #95681
what does /healthz?verbose=true return?

Is this reproducible on 1.17.x+? 1.15 is no longer receiving support releases

[2020-10-18 22:26] ragyibrahimRNA opened #95684 "Node resource limits to being calculated correctly"
/sig architecture
/sig node
**What happened**:
The memory limits within my K8s node is not being calculated correctly (see screenshots below)

![Screen Shot 2020-10-19 at 9 14 17 am](https://user-images.githubusercontent.com/52903382/96387249-663a8f80-11ec-11eb-84a0-9d5882ed176e.png)

However, when I view them in the K8s dashboards, the numbers are correct.

![Screen Shot 2020-10-19 at 9 18 01 am]

[2020-10-18 22:31] ragyibrahimRNA commented on #95684
/sig architecture
/sig node

[2020-10-19 02:23] JoshuaAndrew commented on #92111
@zuquan-song  It's certain that this is bug

[2020-10-19 02:27] HaonanFeng commented on #95637
I have create a pull request to fix it.
#95649

[2020-10-19 02:45] hsyl4125 commented on #95582
**kube-scheduler   and  kube-controller-manager  CN lists：**

[code]

[2020-10-19 02:48] hsyl4125 commented on #95582
/open

[2020-10-19 02:49] tangwz commented on #95158
Sorry I push this PR too late.

@Huang-Wei @alculquicondor PTAL.

[2020-10-19 03:06] KarthikNedunchezhiyan commented on #95681
@liggitt I tried run the `/healthz?verbose=true` like below

[code]

## Additional context

last liveness check failed 33m ago 😢

[code]

[2020-10-19 03:07] hsyl4125 commented on #95582
Modify the certificate of each component to peer authentication, unresolved. @neolit123 Can you help  me [^_^]

[2020-10-19 03:13] hsyl4125 commented on #95582
sig/scheduling
sig/support

[2020-10-19 03:14] hsyl4125 commented on #95582
sig/scheduling

[2020-10-19 03:18] HaonanFeng opened #95688 "Can't shrink by adding label pods when stateless application shrink"
**What happened**:
Can't shrink by adding label pods when stateless application shrink

**What you expected to happen**:
When deleting pods, add pods to be sorted by labels,  when shrinking, the labeled pods will be deleted first.

**How to reproduce it (as minimally and precisely as possible)**:
Remove pod when stateless application shrink

**Anything else we need to know?**:

**Environment**:
-

[2020-10-19 03:26] KarthikNedunchezhiyan commented on #95681
I have also deployed a script like below to capture the issue cause.

[code]

do you think this will help?

[2020-10-19 03:28] HaonanFeng commented on #95688
/sig autoscaling

[2020-10-19 03:58] whalecold commented on #92959
/remove-lifecycle stale

[2020-10-19 04:13] #91338 closed

[2020-10-19 04:14] #95530 closed

[2020-10-19 04:33] KarthikNedunchezhiyan commented on #95681
I checked etcd cluster-health from one of kubernetes master's etcd pod. I got below response

[code]

[2020-10-19 04:53] KarthikNedunchezhiyan commented on #95681
I executed below checks in etcd pod.

[code]

[code]

[2020-10-19 05:15] frittentheke commented on #89310
/remove-lifecycle stale

[2020-10-19 07:37] vinayakshnd commented on #84528
/remove-lifecycle rotten
/reopen

[2020-10-19 07:54] barucoh opened #95693 "Add custom TLS policies for AWS ELB"
**What would you like to be added**:
When creating a service with type `LoadBalancer` on an AWS environment a default TLS negotiation policy is attached.
It's only possible to assign an already predefined policy as part of the service annotations:
[code]

**Why is this needed**:
Even the latest AWS predefined policies still contain weak cipher suites and we must update them manually with every new

[2020-10-19 08:11] barucoh commented on #95693
/sig cloud-provider
/sig security

[2020-10-19 08:15] aojea commented on #91236
/triage accepted

[2020-10-19 08:20] bmaehr opened #95695 "Need a way to temporarily stop a deployment"
**What happened**:

Like described in #28603 I'm searching for a way to temporarily stop a deployment. As far as i understood it should be possible to scale down the pods to 0.

I have done this with the command
`kubectl scale deploy my-application --replicas=0`

The deploment has been scaled down to 0 like expected, but it started to scale up immediately to the minimum availability after that.

T

[2020-10-19 08:24] bmaehr commented on #95695
/sig autoscaling

[2020-10-19 08:36] rubensayshi commented on #65569
we're encountering this issue on 1.18 on our test cluster, our review and prod clusters running 1.17 (but same configs, workloads) have no such issues at all.

[2020-10-19 08:39] sshishov commented on #84912
Please add the support to show a custom role in `kubectl get nodes` command. As this is a commonly used command and a lot of people distinguish nodes based on the output of this command. Now it became impossible.

[2020-10-19 08:40] zionwu commented on #61937
There is  several wrong information in the artical https://pingcap.com/blog/try-to-fix-two-linux-kernel-bugs-while-testing-tidb-operator-in-k8s :
1. runc of Docker v18.09.1 does not disable kmem accounting.
The approach to verify is running the command   `docker run -d --name test --kernel-memory 100M nginx:1.14.2`. If kmem accounting is enabled, the command succeed and container is created. If km

[2020-10-19 08:45] gerardgorrion commented on #78712
Hi @max-rocket-internet , we have same problem in kubernetes 1.15. We try to deploy some app and add the hpa to autoscale. Scaling up is working fine, but the extra pod is destroyed and created a new pod every 5 min:
![Captura](https://user-images.githubusercontent.com/35425181/96421362-f978c280-11f6-11eb-8848-2c4aa6a4d6f8.PNG)

When try to scale down (stopped the cpu consume), deployment events s

[2020-10-19 08:46] gerardgorrion commented on #78761
Hi all , we have same problem in kubernetes 1.15. We try to deploy some app and add the hpa to autoscale. Scaling up is working fine, but the extra pod is destroyed and created a new pod every 5 min:
![Captura](https://user-images.githubusercontent.com/35425181/96422425-4a3ceb00-11f8-11eb-9a5e-0fac4bc2e1e6.PNG)

When try to scale down (stopped the cpu consume), deployment events show request to sc

[2020-10-19 09:20] theAkito commented on #71356
Using `defaultMode` does not work anymore, because it seems to have been deprecated in some way. With deployments that worked for over a year, I suddenly get a spec validation error, that tells me `defaultMode` is supposed to be `unknown`. How can I set the permissions for `configMap`s now? There is absolutely no information on that in the official documentation.

[2020-10-19 09:23] xuchuan-666 opened #95696 "How to modify kube-apiserver - etcd-servers"
hello,
I created a new ETCD cluster with a backup file from etCD. I am not sure how to modify the Kube-Apiserver - ETCD-Servers，
The official documentation is as follows：
   If the access URLs of the restored cluster is changed from the previous cluster, the Kubernetes API server must be reconfigured accordingly. In this case, restart Kubernetes API server with the flag --etcd-servers=$NEW_ETCD_CL

[2020-10-19 09:33] shaase-ctrl commented on #87615
Please create a pullrequest and we will investigate this subject matter.

[2020-10-19 09:52] #95696 closed

[2020-10-19 09:59] pawelprazak commented on #36304
How is this even an open issue after 4 year's is beyond me, also `lastTimestamp` gives a stack trace now:
[code]

[2020-10-19 10:11] ying2025 opened #95699 "What should I do if I want to store k/v data to kubernetes etcd ?"
What should I do if I want to store k/v data to kubernetes  etcd? Can you give me a example ? Thank you @floreks

[2020-10-19 10:30] floreks commented on #95699
This is a core kubernetes repo. I don't see how this is relevant here (marked as a bug). Kubernetes slack is for support.

/close

[2020-10-19 10:30] #95699 closed

[2020-10-19 10:35] baurmatt commented on #7890
Hey @TomOperator, did you start working on this?

We'd love to see this getting implemented!

[2020-10-19 11:15] ScrapCodes opened #95700 "[Flaky Test] k8s.io/kubernetes/test/integration/scheduler: TestPostFilterPlugin"
**Which jobs are flaking**:

* integration-master

**Which test(s) are flaking**:
k8s.io/kubernetes/test/integration/scheduler: TestPostFilterPlugin
**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#integration-master
**Reason for failure**:
--

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
- links to specific failures in spyglass appreciated
https

[2020-10-19 11:20] liggitt commented on #95688
Thanks for the feature request. Pod-level control over scale down is already proposed/tracked in https://github.com/kubernetes/enhancements/pull/1888 and https://github.com/kubernetes/enhancements/pull/1828

/close
as duplicate

[2020-10-19 11:20] #95688 closed

[2020-10-19 11:53] archi13 commented on #88873
Having the same issue.

The case is metric series are coming from prometheus adapter with different namespaces and kafka topics.
spec looks similar:

[code]

[2020-10-19 12:03] neolit123 commented on #95582
hi, we delegate support requests to https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md because we can't help all the users. :(

you can also try #kubeadm on k8s slack.

kubernetes/kubernetes is mainly for bugs / feature requests.

[2020-10-19 12:21] #91250 closed

[2020-10-19 12:59] RamLavi opened #95702 "upgrades between CRDs are broken - kubectl explain not updated"
**What happened**:
I'm getting an issue with kubectl explain <crd> (in my case networkaddonsconfig ) when upgrading from version with `apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1`, where `DESCRIPTION` is empty even if the updated crd has got the description fields updated.
[code]

The solution I saw so far is to set `PreserveUnknownFields:false` , as also mentioned in this open [issu

[2020-10-19 13:02] RamLavi commented on #95702
/sig api-machinery

[2020-10-19 13:13] ncri opened #95703 "Deployment gets restarted with old image tag"
**What happened**:

A deployment we have running get's restarted with an old docker image tag. The tag is always the same and not explicitly mentioned in any of our k8s config code. The image with that tag does not exist anymore at the source but is taken from cache.

**What you expected to happen**:

The deployment does not get restarted. And if it get's restarted (for whatever good reason we don

[2020-10-19 13:18] ncri commented on #95703
/sig scheduling

[2020-10-19 13:27] ekristen commented on #87615
On a single baremetal cluster I’m seeing this happen about 2-4 times every 24 hours. 1.17.12

[2020-10-19 13:33] ArchiFleKs commented on #87615
I'm using haproxy in front of the master node, do you think there is anyway to prevent this with some LB configuration ?

[2020-10-19 13:35] slwon commented on #37471
I'm using MINGW64. Like  @santmcodes, I solved the problem by prefixing it with winpty.

`$ winpty kubectl exec -it my-pod -- bash`

`root@my-pod:/# ls -l
total 52
lrwxrwxrwx   1 root root    7 Sep 25 01:20 bin -> usr/bin
drwxr-xr-x   2 root root 4096 Apr 15  2020 boot
drwxr-xr-x   5 root root  360 Oct 19 13:34 dev
drwxr-xr-x   1 root root 4096 Oct 19 13:34 etc
drwxr-xr-x   2 root root 4096 Apr 15

[2020-10-19 13:41] jayunit100 commented on #51726
@thockin  interested in this still ? its come up b4 in the netpol subproject meetings - the idea of getting rid of **all** hidden defaults

[2020-10-19 14:01] #93879 closed

[2020-10-19 14:15] chrisjohnson commented on #41881
I think the title and original issue body still imply what we are looking for, specifically full wildcard support (with the example given showing that it's not just suffix matching). I think @cmluciano was just pointing to a new feature that may help with some of the needs of some people here, not necessarily implying that the issue was now solved.

[2020-10-19 14:18] Davidrjx opened #95704 "WSL2: failed to run Kubelet"
**What would you like to be added**:

build and development support under WSL2 environment, specially for creating a local cluster by local-up-cluster.sh

**Why is this needed**:

for windows users, very neccessary to deploy local kubernetes development environment with WLS being maturational and very often. Or will crash without systemd and exit with message 'failed to create kubelet: misconfigur

[2020-10-19 14:22] Davidrjx commented on #95704
/area kubelet

[2020-10-19 14:25] Davidrjx commented on #95704
/sig windows

[2020-10-19 14:50] hasan4791 commented on #95434
@eddiezane  Logs are attached here.

[kubectl_delete.log](https://github.com/kubernetes/kubernetes/files/5402730/kubectl_delete.log)
[kubectl_edit.log](https://github.com/kubernetes/kubernetes/files/5402731/kubectl_edit.log)

[2020-10-19 14:52] #93784 closed

[2020-10-19 14:52] #95658 closed

[2020-10-19 14:57] tomerleib commented on #87615
@shubb30 do you mind share with me your solution?

[2020-10-19 15:12] ekristen commented on #87615
I can confirm that my apiservers are **NOT** restarting when I experience the issue. I'm using the daemonset and shell trick to monitor for the log entry and then restart kubelet, this has worked fairly well but I see it as only a temporary workaround.

[2020-10-19 16:04] ZaphodB opened #95706 "apiserver bound to 0.0.0.0 fails when applying kernel parameter disable_ipv6 at runtime"
**What happened**:

Upon deactivating IPv6 via kernel sysctl
[code]

thus going from
[code]
to
[code]

kube-apiserver becomes unresponsive to requests and loops the following error messages:
[code]

[code]

apiserver will be able to answer to requests again upon process restart.

**What you expected to happen**:

The apiserver could recover from this failure mode by itself without the need for a r

[2020-10-19 16:13] spiffxp commented on #14791
Is this something we have the power to address now that we use https://github.com/kubernetes-sigs/yaml?

[2020-10-19 16:14] tnozicka commented on #95586
/assign tnozicka

[2020-10-19 16:14] tnozicka commented on #95586
/triage accepted

[2020-10-19 16:15] tnozicka commented on #95507
/assign @kow3ns
/triage accepted

[2020-10-19 16:17] tnozicka commented on #95498
/triage accepted
/assign @janetkuo

[2020-10-19 16:18] ankon commented on #36304
@pawelprazak note that your setup is outside of the [documented "version skew policy" for `kubectl`](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl), which quite possibly could explain such stack traces.

[2020-10-19 16:19] tnozicka commented on #95457
/assing @kow3ns
/triage accepted

[2020-10-19 16:19] tnozicka commented on #95433
/assign @soltysh
/triage accepted

[2020-10-19 16:21] tnozicka commented on #95432
/assign tnozicka
/triage accepted

[2020-10-19 16:21] tnozicka commented on #95431
/assign @soltysh
/triage accepted

[2020-10-19 16:22] marosset opened #95707 "Remove WindowsGMSA and WindowsRunAsUserName feature gates in 1.20"
Both WindowsGMSA and WindowsRunAsUserName feature gates have been GA since v1.18 and were scheduled to be removed in v1.20.

https://github.com/kubernetes/kubernetes/blob/2046f4212a355a3381da20c4d800283b98e9a081/pkg/features/kube_features.go#L714-L715

/sig windows
/milestone v1.20
/good-first-issue

[2020-10-19 16:22] marosset commented on #95707
/triage accepted

[2020-10-19 16:23] tnozicka commented on #95079
/sig cli
/remove-sig apps

/assign @soltysh
/triage accepted

[2020-10-19 16:24] tnozicka commented on #95028
/assign @soltysh
/triage accepted

[2020-10-19 16:24] kow3ns commented on #95507
Both statements are wrapped in a test that will fail if no unhealthy Pod was found. This null is not a valid bug.

[2020-10-19 16:24] kow3ns commented on #95507
/close

[2020-10-19 16:24] YanzhaoLi opened #95708 "Fail to find PostFilter extension point"
**What happened**:
The [official doc](https://kubernetes.io/docs/reference/scheduling/config/#scheduling-plugins) says: "DefaultPreemption: Provides the default preemption mechanism. Extension points: PostFilter", but the docs only list 10 extension points without the PostFilter.
And I tested with such a configuration:
[code]
It failed with `unknown field: PostFilter `:
[code]
**What you expected

[2020-10-19 16:24] #95507 closed

[2020-10-19 16:25] tnozicka commented on #94921
/assign @soltysh
/triage accepted

[2020-10-19 16:25] bmaehr commented on #95695
@liggitt Did I understand #28603 wrong?

[2020-10-19 16:25] pre commented on #36304
The stack trace above is about `lastTimestamp` being null for some of the records, which causes the crash.

For details, see https://github.com/kubernetes/kubernetes/issues/36304#issuecomment-581864033

[2020-10-19 16:25] marosset commented on #73434
/remove-lifecycle rotten

[2020-10-19 16:28] bangbangjim commented on #14232
This might be a very late reply but tried the entire day on Chrome with no success but Firefox works perfectly fine.

[2020-10-19 16:29] tnozicka commented on #94849
/assing @soltysh
/triage accepted

[2020-10-19 16:29] tnozicka commented on #94849
/assign @soltysh

[2020-10-19 16:31] marosset commented on #94213
I captured containerd logs for this and see

[code]

I spoke with @kevpar and he thinks this may be related to a known issue where go-lang is getting confused about on Windows if a symlink points directly to the root of a SBM share (which is does in this case).
He suggested adding a trailing **\** to see if this fixes the issue.

I will try that out now and report back.

[2020-10-19 16:31] tnozicka commented on #94577
/assign @kow3ns
/triage accepted

[2020-10-19 16:36] dims commented on #14791
@spiffxp we can switch over to `UnmarshalStrict` which was added for this purpose, BUT will cause regressions :( cc @liggitt

[2020-10-19 16:39] tnozicka commented on #94419
/remove-sig apps

[2020-10-19 16:40] tnozicka commented on #94417
/assign @soltysh
/triage accepted

[2020-10-19 16:41] tnozicka commented on #94328
/assign @soltysh
/triage accepted

[2020-10-19 16:43] tnozicka commented on #94293
/assign @soltysh
/triage accepted

[2020-10-19 16:46] tnozicka commented on #94270
Thanks for reportin it. We are already tracking it in https://github.com/kubernetes/enhancements/pull/1590 .
/close

[2020-10-19 16:46] #94270 closed

[2020-10-19 16:49] tnozicka commented on #94094
/assign @kow3ns
/triage accepted

[2020-10-19 16:49] tnozicka commented on #94012
/assign @soltysh
/triage accepted

[2020-10-19 16:52] tnozicka commented on #93668
/remove-sig apps

[2020-10-19 16:54] tnozicka commented on #91714
/assign @janetkuo @kow3ns
/triage accepted

[2020-10-19 16:56] tnozicka commented on #88896
/assign
/triage accepted

[2020-10-19 16:57] tnozicka commented on #88791
/assign @soltysh
/triage accepted
/remove-sig apps

[2020-10-19 16:59] tnozicka commented on #88535
/assign @mortent
/triage accepted

[2020-10-19 17:09] mikebrow commented on #95043
@bart0sh FYI https://github.com/kubernetes/enhancements/pull/1985

[2020-10-19 17:10] nagulvali commented on #13382
I have brand new cluster installed and no pods scheduled on it. after few hours, I tried to communicate to the server using kubectl getting below error. faced this issue before few times which deleting and re-installing entire cluster fixed the issue. but still not sure what causing this.
![image](https://user-images.githubusercontent.com/42230689/96488600-16ab9200-11f3-11eb-8181-df4df8e475ae.png)

[2020-10-19 17:12] nagulvali commented on #13382
still facing this issue - any idea what causing this issue and is there any workaround solutions, suggestions etc.

[2020-10-19 17:12] thejoycekung commented on #95677
Should be fixed by test-infra#19618 ; moving to observing

/close

[2020-10-19 17:12] #95677 closed

[2020-10-19 17:13] Huang-Wei opened #95709 "scheduler: provide an option to not shuffle internal node index when using percentageOfNodesToScore"
I got some requirement from users that run serverless workloads, who cares a lot about minimizing the running machines to reduce cost.

They've started to use the `NodeResourcesMostAllocated` Score plugin (just as AutoScaler did) to replace the default `NodeResourcesLeastAllocated` plugin, however, it seems not to be good enough. The problem is that when using `percentageOfNodesToScore`, internall

[2020-10-19 17:19] sriharshakx commented on #36222
Thank You very much

[2020-10-19 17:26] #81636 closed

[2020-10-19 17:41] BenTheElder commented on #95612
@lala123912 please see discussion in https://github.com/kubernetes/kubernetes/pull/95613 https://github.com/kubernetes/kubernetes/issues/95612#issuecomment-709551750

[2020-10-19 17:43] segevfiner opened #95712 "Support for split-horizon DNS setups, DNS aliases and/or services with dotted names"
**What would you like to be added**:
Support in Kubernetes to remap/alias dotted DNS names inside the cluster. Either via allowing dotted service names (Or a new property to allow a service to have a dotted name in DNS), some new dedicated resource for such aliases, or some documented way to customize CoreDNS config that can be done automatically without conflicts by tools like helm, without needi

[2020-10-19 17:56] BenTheElder commented on #95700
/sig scheduling
/remove-sig testing

[2020-10-19 18:07] cmluciano commented on #41881
I'm checking with others in the Ingress community to see if this is something that might be possible

[2020-10-19 18:24] vivekgkwd commented on #59031
Do we have a work around for this?

[2020-10-19 18:35] mrmassis commented on #95707
Hi,
how can i help with that?

[2020-10-19 18:52] saad-ali commented on #94312
@xing-yang @yuxiangqian thoughts? Seems like a GA blocker?

[2020-10-19 19:20] neolit123 commented on #95712
/sig network

[2020-10-19 19:20] neolit123 commented on #95708
/sig scheduling

[2020-10-19 19:21] neolit123 commented on #95706
/sig network api-machinery

[2020-10-19 19:25] neolit123 commented on #95670
yes please use the new format.

this was announced a long time ago and the change was scheduled for March 2020, but was delayed.
https://github.com/kubernetes/release/issues/270#issuecomment-594233197

/sig release
/close

[2020-10-19 19:25] #95670 closed

[2020-10-19 20:37] obeyda commented on #95445
Hello, I would like to help on this but I'am new to contributing to kubernetes so I'll need some guidance on how to proceed.

[2020-10-19 20:47] alculquicondor commented on #95445
I'm not sure if this issue is a good fit for a new contributor.

[2020-10-19 20:53] marosset commented on #95682
@ravisantoshgudimetla can you create a new issue at https://github.com/microsoft/Windows-Containers/issues ?
Problems at the HCS layer will have more tracking there since that repo gets triaged by the Windows kernel/container platform team.

[2020-10-19 21:18] obeyda commented on #95445
Thanks for pointing that out @alculquicondor, I'll try to find another issue to work on.

[2020-10-19 21:32] janetkuo commented on #91714
Would you try again with `kubectl set image deploy mysql-deploy mysql=mysql：5.6 --record`? Without specifying `--record`, the command won't be recorded in the resource annotations and therefore the previous recorded command will be used.

[2020-10-19 21:35] josejayesh commented on #44540
@alexsandro-xpt  have you tried installing metric server as suggested by @kainwei , It worked for me

[2020-10-19 21:52] rwenz3l commented on #67135
Stumbled upon this today and I also find it difficult to handle. I've started to deploy services with 2, 8 and 20 replicas in certain places and just resetting them to 1 when removing the line seems dangerous to me as well. I always check with `kubectl diff -f ...` before `apply`ing.. but changing with the `kubectl apply set-last-applied` is annoying as well. I'd love to get a different behavior/f

[2020-10-19 21:53] vsbus commented on #81723
We are importing k8s events into BQ and would be really happy to know more details about kill reason to analyze our cluster loads at scale.

[2020-10-19 21:55] msau42 commented on #95588
/assign @mattcary

[2020-10-19 21:55] msau42 commented on #95590
/assign @saikat-royc

[2020-10-19 21:56] msau42 commented on #95590
@kubernetes/sig-storage-feature-requests

[2020-10-19 21:56] msau42 commented on #95588
@kubernetes/sig-storage-feature-requests

[2020-10-19 22:04] SergeyKanzhelev commented on #94256
Couple small updates to not loose it:

- Analyzing code back at Friday it is pretty clear that connection was established and Unexpected EOF was received from the http reader of the body. Will insert code links later
- Another ongoing issue investigation (on Docker though) had similar symptoms - connection reset in the middle of pull. But it was on Docker and large image. And it was mitigated by `

[2020-10-19 22:06] jcelliott commented on #25766
I just ran into this issue as well. As far as I can tell there is still no way to get these logs. Is anyone aware of a solution in newer versions of Kubernetes?

[2020-10-19 22:08] #94189 closed

[2020-10-19 22:48] Med-All commented on #71647
Same problem here on Mac OSX

[2020-10-19 23:26] marosset commented on #94213
I tested some updates to CSI proxy to ensure the symlink to the \\share\path had a trailing backslash and it looks like that resolved the issue.

On my node running contianerd i have the following symlinks

[code]

Previously the \ on \\faf486191df3c4f0fad548f.file.core.windows.net\pvc-ee3f6a92-f195-4d9e-841b-6966e6839829\ was missing.

[2020-10-19 23:34] kevpar commented on #94213
The core issue here is that containerd calls `path/filepath.EvalSymlinks` on the mount source path, and that function has a bug which prevents it from working when the path is a UNC share root. If the path has a trailing `\` appended, then `EvalSymlinks` works properly.

I have filed a bug on Go to fix this, and am working on a fix: golang/go#42079

[2020-10-19 23:39] janetkuo commented on #91714
Closing as this works as designed. Please feel free to reopen if there are still issues to be resolved.

[2020-10-19 23:39] #91714 closed

[2020-10-19 23:42] lavalamp commented on #65569
I think we will need more detail on the child objects. Foreground deletion means the GC will try to delete all child objects first. Do you know why the pod already has a foreground deletion finalizer on it?

[2020-10-20 00:09] janetkuo commented on #95498
When the Deployment controller performs a rolling update on a Deployment, it scales up/down based on the `.spec.replicas` of the ReplicaSets it controls. When a ReplicaSet is scaled down, the ReplicaSet's `.spec.replicas` will be reduced and some of its Pods will be terminating, but the Deployment controller simply ignores terminating Pods when calculating maxSurge / maxUnavailable.

Similarly, Re

[2020-10-20 00:09] janetkuo commented on #95498
Closing, as this works as designed. Please feel free to reopen if there are still issues to be resolved.

[2020-10-20 00:09] #95498 closed

[2020-10-20 00:49] ravisantoshgudimetla commented on #95682
Thank you @marosset. I created issue there. Let me know if you want me to close this issue.

[2020-10-20 00:50] wawa0210 commented on #95707
Delete the codes related to these two feature gates, because they have been GA and are enabled by default

[2020-10-20 00:54] marosset commented on #95707
Yup, @mrmassis  feel free to assign the issue to yourselft and then remove the features gates from the file listed above and any other places they are used in code.

Thanks!

[2020-10-20 01:00] ronaldpetty opened #95714 "can-i disagrees with usage for SelfSubjectAccessReview"
When attempting to list selfsubjectaccessreviews via `get`, I get an error.  However, the check via `can-i get` passes (sort of).

[code]

Seems to me can-i should return no, but I am unsure.  The installation is below, kubeadm init from 1.18.10 then upgraded to 1.19.3 with no other modifications of note.

[code]
- Cloud provider or hardware configuration:
AWS EC2 Ubuntu 18.04 2 cpu 4 ram
- OS (e.

[2020-10-20 01:23] neolit123 commented on #95714
/sig auth

[2020-10-20 01:30] julianvmodesto commented on #84530
/remove-lifecycle stale

[2020-10-20 01:34] #91320 closed

[2020-10-20 01:34] #91369 closed

[2020-10-20 02:13] ronaldpetty commented on #95714
I suspect this is a non-issue the more I think about it.  I think 'get' here not equating to 'get list', which is my assumption.

[2020-10-20 02:27] #95714 closed

[2020-10-20 02:27] ronaldpetty commented on #95714
Based on API, I am wrong.

[2020-10-20 03:03] hantmac commented on #95507
You mean this condition `ord := getOrdinal(condemned[i]); ord < firstUnhealthyOrdinal` will be met definitly?

[2020-10-20 04:09] ITonyLi commented on #95307
/assign

[2020-10-20 04:32] Ravi19967 commented on #95707
Hey, can i take this up ?

[2020-10-20 04:35] Ravi19967 commented on #95707
/assign

[2020-10-20 04:56] wawa0210 commented on #95707
It seems that @mrmassis proposed it first. You can communicate with him before you start.

[2020-10-20 04:56] Ravi19967 commented on #95707
ok sure

[2020-10-20 05:52] tobias-zeptio commented on #94416
Any progress on this issue?

[2020-10-20 05:54] Chili-Man commented on #82595
I'm also running into this issue as well, I don't know why this issue has been closed.

[2020-10-20 06:10] wongma7 commented on #79395
I think this was fixed by https://github.com/kubernetes/kubernetes/pull/94204 ?

[2020-10-20 06:10] #79395 closed

[2020-10-20 06:39] james4388 commented on #57726
@ritheshgm you have to declare a env like this https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/#using-environment-variables-inside-of-your-config

[2020-10-20 06:54] jpetazzo commented on #92678
Thank you for your feedback!

I think the phrasing in the doc should be updated to clarify that while it's theoretically possible to set a TTL in the signing request, there is no standard (agreed-upon) way to do it; so it would probably be in an annotation, and while it's theoretically possible for a signer to use that TTL, there is currently no known implementation that does. I think this would s

[2020-10-20 07:13] tomasaschan commented on #28746
Coming here to note, too, that the suggested workaround - waiting for `ContainersReady` - doesn't work when debugging container startup issues. In my case, I have a one-off job I'm trying to run by just creating a pod manually, and because it crashes it never reaches the `ContainersReady` state. Not sure if there's a different state I could wait for, but it would be nice if I didn't have to...

[2020-10-20 07:43] mkorbi commented on #82296
Heyho, I see that there are a couple of merges was done, is this still planned for 1.20?
@liggitt

[2020-10-20 07:54] mkorbi commented on #58012
Heyho @rphillips @listx I wanted to check how it is going?
The code freeze is starting 12.11.2020 (about 3-4 weeks from now) and while there is still plenty of time, we want to ensure that each relevant issue has a chance to be considered.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-20 08:12] mkorbi commented on #91536
Heyho @logicalhan  I wanted to check how it is going?
The code freeze is starting 12.11.2020 (about 3-4 weeks from now) and while there is still plenty of time, we want to ensure that each relevant issue has a chance to be considered.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-20 08:13] mkorbi commented on #94791
Heyho @spiffxp  I wanted to check how it is going?
The code freeze is starting 12.11.2020 (about 3-4 weeks from now) and while there is still plenty of time, we want to ensure that each relevant issue has a chance to be considered.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-20 08:13] mkorbi commented on #94658
Heyho @tallclair  I wanted to check how it is going?
The code freeze is starting 12.11.2020 (about 3-4 weeks from now) and while there is still plenty of time, we want to ensure that each relevant issue has a chance to be considered.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-20 08:15] mkorbi commented on #95038
Heyho @jchauncey @tallclair  I wanted to check how it is going?
The code freeze is starting 12.11.2020 (about 3-4 weeks from now) and while there is still plenty of time, we want to ensure that each relevant issue has a chance to be considered.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-20 08:16] mkorbi commented on #74379
Heyho @dims wanted to check how it is going?
As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-20 08:17] mkorbi commented on #70249
Heyho @tallclair @jtslear  I wanted to check how it is going?

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-20 08:41] #89611 closed

[2020-10-20 09:06] elwood218 commented on #74741
Sorry but why is it so difficult to fix this??!??! This is a very annoying problem. If a job starts every minute then in few days the GKE quota is reached - Why this is not prioritised?? Why no one looks at this problem??

[2020-10-20 09:39] ahg-g commented on #95700
/assign @Huang-Wei

[2020-10-20 09:42] ahg-g commented on #95703
/remove-sig scheduling
/sig node

If you are using the same tag for the image, but the image is changing in the source, then you need to use `imagePullPolicy: Always`: https://kubernetes.io/docs/concepts/configuration/overview/#container-images

[2020-10-20 09:52] ahg-g commented on #95708
the json tag is "postFilter" not "PostFilter": https://github.com/kubernetes/kubernetes/blob/6d3ccd8e6c409a8524145b38517637218cf4b228/staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go#L167

[2020-10-20 10:05] ncri commented on #95703
The image is not changing at the source. The issue is that kubernetes restarts our pods with an old image.

Lets say the current image of the deploy looks like this:

`eu.gcr.io/.../...:c08a508`

After the deployed pods run some time, they get restarted by kubernetes with an old image, that is cached and it is always the same:

`eu.gcr.io/.../...:01ba54d`

So the question is, if the pods need to g

[2020-10-20 10:18] SerialVelocity commented on #87126
/remove-lifecycle stale

[2020-10-20 10:19] SerialVelocity commented on #80968
/remove-lifecycle stale

Still waiting on the PR to merge

[2020-10-20 10:22] SerialVelocity commented on #88193
/remove-lifecycle stale

[2020-10-20 10:57] TBBle commented on #82595
It was closed because it was inaccurately marked as fixed by #94546. Hopefully #95247 will land relatively quickly, and make it into the 1.20 release.

[2020-10-20 11:24] archi13 commented on #88873
OK, I got it.
The HPA sends requests with the LabelSelector query param to the external API and does nothing more.
So on prometheus adapter side we need to tell how to apply the selectors.

The missing part is propagating the label matchers to the query:
[code]

https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/master/docs/config-walkthrough.md
https://github.com/DirectXMan12/k8s-prometh

[2020-10-20 11:34] ialidzhikov commented on #90512
@sparkoo , #94253 is included in v1.18.9 release. Can you please verify and close this issue?

@robscott , @liggitt , I think we can close this issue as all relevant PRs are merged.

[2020-10-20 11:40] ialidzhikov commented on #94019
@gzlj , can you then comment `/close` to close this issue?

[2020-10-20 12:16] liggitt commented on #82296
No, there are no plans or work in progress on this issue as far as I am aware.

[2020-10-20 12:19] liggitt commented on #92678
That's accurate

Yeah, a doc update to make the current state clearer would be welcome

[2020-10-20 12:30] mrmassis commented on #95707
/assign

[2020-10-20 12:47] jchauncey commented on #95038
I thought I had done everything that needed to be completed for this. Is there anything left? Just let me know.

[2020-10-20 13:03] SataQiu commented on #95709
/cc
I'm willing to help with this if needed.

[2020-10-20 13:06] xing-yang commented on #94312
I think this is the correct behavior.  We can't completely dependent on existing VolumeSnapshotClasses as there could be multiple of them for the same driver.  We can't determine which one is the one user intends to use.

[2020-10-20 13:08] xing-yang commented on #94312
I think we already have logic to make sure that driver in the default snapshot class matches the driver for the PVC.

[2020-10-20 13:08] xing-yang commented on #94312
@yuxiangqian please chime in if you have any comments.

[2020-10-20 13:13] cwsolee commented on #93621
I'm please to share this link https://testgrid.k8s.io/conformance-s390x#Periodic%20s390x%20conformance%20test%20on%20local%20cluster s390x has been publishing conformance test result there, we're not done, need to add the same for more branches. We're getting close.

[2020-10-20 13:27] chenyw1990 commented on #94305
@RenaudWasTaken
Do I need to provide more information？

[2020-10-20 13:31] ahg-g commented on #95709
Starting from index 0 will be expensive on the long run because the first nodes will be full, but still being evaluated in every cycle.

I am wondering if node order should be a plugin; for bin-packing, the nodes would be ordered by how full they are. If we don't want to go that far, instead of resetting the index every time, may be start from the last selected node.

[2020-10-20 13:33] ahg-g commented on #95708
/close

feel free to re-open if you have more questions.

[2020-10-20 13:33] #95708 closed

[2020-10-20 13:50] docwhat commented on #23130
/remove-lifecycle stale

[2020-10-20 14:01] RobertKielty commented on #95304
https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=network&test=session%20affinity%20timeout#5f64bdae2f164c2694d1

[2020-10-20 14:03] liggitt commented on #95695
do you have a HPA also controlling the scale of the deployment? I thought this was asking for a new feature, not reporting an issue with an existing feature

[2020-10-20 14:05] lisongmin opened #95727 "The cpu of kubelet is always 100% after containerd.service restart"
**What happened**:

When I restart containerd.service, kubelet can not connect to it again and cause 100% cpu usage.

[code]

there are many logs like this:

[code]

I can show container info via crictl at the meantime

[code]

and restart kubelet.service can resolve the problem.

**What you expected to happen**:

kubelet can reconnect to containerd after containerd restart.

**How to reproduce it

[2020-10-20 14:06] adtac commented on #95709
At the risk of stating the obvious, would setting PercentageOfNodesToScore to 100% solve this for the user? Performance will take a hit, of course, but it might be worth benchmarking for their use-case.

I propose making this more generic. Instead of just disabling shuffling, we can make the starting index an enum of three values:

1. round robin, like we currently do
2. always start at zero
3. ra

[2020-10-20 14:09] pawelprazak commented on #36304
yes @ankon, my bad, but in this case it does not matter, after switching to `1.18` it's still not working as expected:
[code]
also look at: https://github.com/kubernetes/kubernetes/issues/36304#issuecomment-581864033

and even if it was the case that is another usability issue IMO, `kubectl` should warn on API incompatibilities when versions are too varied.

yes @pre, exactly my point, the comment

[2020-10-20 14:12] neolit123 commented on #95727
/sig node

[2020-10-20 14:13] ahg-g commented on #95709
They would, but we are still paying the overhead of evaluating them in the filter phase.

[2020-10-20 14:21] thejoycekung opened #95729 "[Failing Test] ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts"
**Which jobs are failing**:
`ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts`

**Which test(s) are failing**:
Overall

**Since when has it been failing**:
At _least_ October 5

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1alpha3-k8s-master

**Reason for failure**:
A few different error messages ... I'm not sure which one is *the*

[2020-10-20 14:28] thejoycekung opened #95730 "[Failing Test] periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts"
**Which jobs are failing**:
`periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts`

**Which test(s) are failing**:
`Overall`
`conformance tests conformance` (???)

**Since when has it been failing**:
At _least_ October 5

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-v1alpha3-k8s-master&width=30

**Reason for failure**:
Can't f

[2020-10-20 14:35] sparkoo commented on #90512
I've tested on 1.19.2 and works fine. Thanks for the fix. Closing.

[2020-10-20 14:35] #90512 closed

[2020-10-20 14:41] thejoycekung commented on #92468
Today's flake from `ci-kubernetes-e2e-gci-gce` ( https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1318479543987605504 )

[code]

[2020-10-20 14:45] aojea commented on #95304
@RobertKielty you should contact the job owners, is not a sig-network job,

anyway, happy to help them, but this depends on how they have the setup,
are they using kube-proxy?
ipvs or iptables?

[2020-10-20 14:58] #94863 closed

[2020-10-20 15:40] neolit123 commented on #95729
i've notified the #cluster-api channel on k8s slack about this.

[2020-10-20 15:47] wawa0210 commented on #95707
Before you start, you can read https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md

[2020-10-20 15:49] xtreme-sameer-vohra commented on #95049
We were trying to come up with a performant local cache to be used in [Concourse](https://concourse-ci.org/) which is a CI tool. The tool would be creating a high volume of short lived workloads and require passing files between these workloads.

Particularly, we were working around
- creating/deleting IaaS disks is quite slow
- there are IaaS limits on the # of volumes per node

We have had some

[2020-10-20 15:51] cpanato commented on #95729
/assign
/triage accepted

[2020-10-20 16:00] dims commented on #74379
/milestone clear

[2020-10-20 16:00] dims commented on #74379
@mkorbi probably not. clearing the milestone

[2020-10-20 16:01] SataQiu commented on #95490
/assign

[2020-10-20 16:13] rapatchi opened #95733 "kubectl exec not working behind c# reverse-proxy on version 1.18 and below."
**What happened**:
We have a scenario where we have upgrade aware reverse proxy (https://github.com/microsoft/reverse-proxy) running in front of API server.

The normal kubectl commands over proxy  seem to be working in all versions. Whereas the commands which require connection upgrade such as `kubectl exec`  we get the following error as below for k8s version 1.18 or below:

**What you expected

[2020-10-20 16:17] rapatchi commented on #95733
/sig network

[2020-10-20 16:17] cpanato commented on #95730
/assign

[2020-10-20 16:18] chrishenzie commented on #64429
Looking into this. The CSI plugin has access to a volume attachment lister which we can use to check for the existence of volume attachments:
https://github.com/kubernetes/kubernetes/blob/58bd3e5230df253cb23c22641883b87da92e5f43/pkg/volume/csi/csi_plugin.go#L197

[2020-10-20 16:39] cheftako commented on #95304
cc @lingxiankong

[2020-10-20 17:05] mindw commented on #52172
/remove-lifecycle stale

[2020-10-20 17:22] #94493 closed

[2020-10-20 17:23] yuxiangqian commented on #94312
First of all, I dislike the idea of default as it brings certain degree of uncertainty. Having said that, it does executes end users from dealing with/understanding non-namespaced volume snapshot class, and shifts the management of those classes to storage admins.

This is the current behavior already. If no VolumeSnapshotClass is provided, [getStorageClassFromVolumeSnapshot](https://github.com/ku

[2020-10-20 17:34] msau42 commented on #94312
This is the behavior we want. We want to be able to have 2 different drivers installed in the cluster, and each of them has their own default snapshotclass. @chrishenzie can you verify if this is working as intended?

[2020-10-20 17:37] msau42 commented on #94312
Although @yuxiangqian I think it is unnecesary to lookup the Storageclass to get the driver name.

1. We should not depend on storageclass after a volume has been provisioned, because the storageclass is only used for provisioning and can be changed.
2. Driver name is available in the PV object.

[2020-10-20 17:56] xing-yang commented on #94312
So if there is only 1 snapshot class per driver, we use that as the default class; if there are 2 or more snapshot classes per driver, we fail it?

[2020-10-20 17:59] alculquicondor commented on #89312
/remove-lifecycle stale

This is blocked on the evolution of kubernetes/enhancements#1472

cc @pohly

[2020-10-20 18:00] marosset opened #95735 "/stats/summary endpoints failing with "Context Deadline Exceeded" on Windows nodes with very high CPU usage"
**What happened**:
Windows nodes running with high (>90%) CPU usage are having calls to /stats/summary time out with "Context Deadline Exceeded".

When this happens metrics-server cannot gather accurate CPU/memory usage for the node or pods running on the node which results in
- HPA not functioning
- `kubectl top node/pod` returning <unknown> instead of values

**What you expected to happen**:
Win

[2020-10-20 18:02] marosset commented on #95735
/sig windows
/area kubelet

[2020-10-20 18:05] adamnovak commented on #69014
I'm tired of fighting the bot. I think this is "wontfix".

On 10/18/20, fejta-bot <notifications@github.com> wrote:

--
Adam Novak (He/Him)
Senior Software Engineer
Computational Genomics Lab
UC Santa Cruz Genomics Institute
"Revealing life’s code."

Personal Feedback: https://forms.gle/UXZhZc123knF65Dw5

[2020-10-20 18:08] ghouscht commented on #95188
FYI: This issue currently block us from updating to 1.19, hope a fix lands in the next point release.
Thanks in advance.

[2020-10-20 18:17] msau42 commented on #94312
Yes fail if there's multiple snapshot classes set for the same driver.

[2020-10-20 18:18] msau42 commented on #94312
Note that in the StorageClass case, we use an admission controller to actually fill in the default storageclass name in the PVC. This makes it clear which storageclass we used. Do we do something similar for snapshots?

[2020-10-20 18:20] Huang-Wei commented on #95709
It's a fair point. But even with current logic, we cannot ensure everytime the searching scope (starting at a shuffled `nodeIndex`) is optimal - it's random, but agnostic. So overall I think the overhead is acceptable, and can be mitigated by the automatic-exposed `{Memory|CPU|Disk}Pressure` taint - i.e., nodes that are out of resource will return at the very early `TaintToleration` Filter plugin

[2020-10-20 18:23] xing-yang commented on #95497
@pohly kube-controller-manager has the kube-api-qps and kube-api-burst parameters to adjust the request rate.  What other configuration are you suggesting to adjust the request rate?

[2020-10-20 18:25] ncri commented on #95703
Turns out it is not the autoscaler. After some time kubernetes restarts the deployment with the old image, adding a new replica set:

[code]

Correct replicaset is the first one.

[2020-10-20 18:29] yuxiangqian commented on #94312
yes, but instead of using admission controller, the snapshot controller itself will fill in that information on the Snapshot CR if one exists.

[2020-10-20 18:29] mrmassis commented on #95707
i already assing to CLA and make a new branch issue-95707. But when i push the branch my permission is denny.
any tips?
Tkz

[2020-10-20 18:42] yuxiangqian commented on #94312
This is a fair point but I have some minor concerns.

Not the `provisioner` field though, it's immutable. Though a SC can be deleted.

PV does not have a driver/provisioner field in its spec however it does have a storage class name AFAIK, I assume you were taking about using the value of this `pv.kubernetes.io/provisioned-by` annotation. I always feel more comfortable to refer to a spec field tha

[2020-10-20 18:46] marosset commented on #95707
@mrmassis Try forking the kubernetes/kubernetes repository and then creating the pull request from a branch in your personal github repository.

[2020-10-20 18:50] msau42 commented on #94312
Yeah, the scenario that you can delete and recreate a storageclass with same name but completely different arguments (including changing the driver name).

PV.spec.csi.driver can be used instead of storageclass.

[2020-10-20 18:54] troy0820 commented on #95703
@ncri
If your **pods** gets deleted, the replicaset recreates the pods with the same image that the replicaset hash in your `kubectl describe deploy`

If you are getting a new replicaset, that means that the image has changed and a new replicaset will be created for that deployment.  _(You can check the history with kubectl rollout history deployment to see)_

If a new deployment is happening, som

[2020-10-20 18:57] kevpar commented on #95547
[code]

I'm guessing this is the issue. Can you share what mounts you put in the pod spec?

[2020-10-20 19:08] troy0820 commented on #95584
@kpiyush17 Could you use `preStop` in your deployment file?  I think this will help you gracefully terminate.
https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

[2020-10-20 19:09] ncri commented on #95703
Thanks @troy0820, I tried `get events` before, but wasn't able to spot the creation of the new replicaset yet, as events are only listed one hour back as far as I know. And yes, I'm aware that the restarting of the pods is only a side effect of changing the deployment. I still have no idea _why_ the deployment is changed. I will try to catch matching events, which is not easy, as the deployment ch

[2020-10-20 19:13] KarthikNedunchezhiyan commented on #95681
Found the issue, it was disk pressure in etcd.

[2020-10-20 19:13] #95681 closed

[2020-10-20 19:15] jgowdy commented on #84210
Has there been any consideration of this feature request?  I believe this would have value.

[2020-10-20 19:47] apelisse commented on #95680
That's very strange. I'm curious, are we always parsing numbers as float?

[2020-10-20 19:49] alculquicondor opened #95738 "Add default node affinity constraints to NodeAffinity plugin"
**What would you like to be added**:

/sig-scheduling

Configurable node affinity constraints to the NodeAffinity plugin args:

[code]

These rules are always appended to the ones defined in PodSpecs.

**Why is this needed**:

Some scheduling profiles might only make sense for certain set of Nodes. Requiring PodSpecs to have node affinity additionally to the scheduler name is redundant in this sce

[2020-10-20 19:49] alculquicondor commented on #95738
@Huang-Wei @ahg-g wdyt?

[2020-10-20 19:49] alculquicondor commented on #95738
/sig scheduling

[2020-10-20 19:50] liggitt commented on #95680
The JSON parser does by default, and probably the yaml-to-json one inherits that.

Use of something like https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/json/json.go#L43 is required to make JSON integers turn into int64 fields in memory.

[2020-10-20 19:52] leilajal commented on #92674
@mayankshah1607 Hi I'm interested to know the status of this

[2020-10-20 19:55] leilajal commented on #92402
@obeyda do we have separate issues for above packages or are they all assigned here?

[2020-10-20 19:56] leilajal commented on #95307
@ITonyLi do you still need any help with this?

[2020-10-20 19:59] jsturtevant commented on #94490
This should stay open as a tracking issue untill the feature is removed in 1.21

/open

[2020-10-20 20:02] ahg-g commented on #95738
+1, I think this will allow us to give users a direct replacement to the custom `NodeLabel` plugin.

To clarify, the idea here is to merge, and so the "default" will always be applied to the spec irrespective of whether or not the pod defines one (so it is different from default podtopologyspread which we apply only if the pod spec doesn't define one).

[2020-10-20 20:05] jsturtevant commented on #94490
/reopen

[2020-10-20 20:13] amgads commented on #92594
This should stay fresh -- the feature is needed.
Is there anything additional I need to do?

[2020-10-20 20:19] obeyda commented on #92402
@leilajal Only one issue, but as noted by @BenTheElder:

[2020-10-20 20:21] fedebongio commented on #94339
/assign @jpbetz
/triage accepted

[2020-10-20 20:22] fedebongio commented on #95394
/assign @wojtek-t
Would you mind taking a look here? thanks!
/triage accepted

[2020-10-20 20:24] fedebongio commented on #95434
/remove-sig api-machinery

[2020-10-20 20:24] fedebongio commented on #95440
/remove-sig api-machinery
/sig cli

[2020-10-20 20:25] fedebongio commented on #95449
/assign @apelisse @julianvmodesto
/triage accepted

[2020-10-20 20:26] fedebongio commented on #95460
/triage accepted

[2020-10-20 20:28] fedebongio commented on #95485
/assign @cheftako @caesarxuchao
/cc @deads2k
/triage accepted
During triage, we discussed how much we want to build a full flesh proxy or not. Requires further discussion.

[2020-10-20 20:30] bmaehr commented on #95695
In fact I'm not sure, but I think yes. Auto scaling is active and as far as I understood, auto scaling is done by HPA. But perhaps I just understand it wrong.

[2020-10-20 20:32] liggitt commented on #95695
is HPA pointing at the deployment or the replicaset?

[2020-10-20 20:33] liggitt commented on #95695
moved back from feature to support until the scenario is clearer

[2020-10-20 21:14] Alb0t commented on #88873
Wait so you got it working?

[2020-10-20 21:39] grosser opened #95742 "ownerReference is not reconciled, leading to abandoned resources"
**What happened**: configmap we use for leader election was not deleted even though it's owner is gone

**What you expected to happen**: configmap is deleted

**How to reproduce it (as minimally and precisely as possible)**: idk

**Anything else we need to know?**:
it looks like there is a race-condition / bug in onerreference handling, I'd suggest some reconcile logic that takes care of these so

[2020-10-20 21:40] obeyda commented on #92402
pull request #95683 submitted with fixes for these paths:

- vendor/k8s.io/apiserver/pkg/storage
- vendor/k8s.io/apiserver/pkg/storage/cacher
- vendor/k8s.io/apiserver/pkg/storage/etcd3
- vendor/k8s.io/apiserver/pkg/storage/tests
- vendor/k8s.io/apiserver/pkg/storage/value/encrypt/envelope
- vendor/k8s.io/apiserver/pkg/util/webhook
- vendor/k8s.io/apiserver/pkg/util/wsstream

[2020-10-20 21:44] grosser commented on #95742
/sig api-machinery

[2020-10-20 22:13] Huang-Wei commented on #95738
LGTM. One question: if `NodeAffinityArgs` contains **hard** constraints, I think we should honor it in PodTopologySpread? (which now honors **explicit hard** node selector/affinity constraints from pod spec.)

I think so - they're ANDed, but leave to @alculquicondor to confirm.

[2020-10-20 22:22] chrishenzie commented on #94312
Confirmed this behaves as expected. Created two VolumeSnapshotClasses with different CSI drivers, both marked as default. Created a VolumeSnapshot without providing a `volumeSnapshotClassName`, and it used the correct VolumeSnapshotClass based on the provisioner of the PVC.

[2020-10-20 22:31] yuxiangqian commented on #94312
created 404 issue :) https://github.com/kubernetes-csi/external-snapshotter/issues/404

[2020-10-20 22:35] yuxiangqian commented on #94312
/assign @yuxiangqian

[2020-10-20 22:35] yuxiangqian commented on #94312
/close

[2020-10-20 22:36] #94312 closed

[2020-10-20 22:38] logicalhan commented on #91536
Ah, this is going to be slated for 1.21.

/milestone v1.21

[2020-10-20 22:44] alculquicondor commented on #95738
The easy question first:
Yes, append == merge == AND

That should actually be the majority of use cases. What do you think of sharing the PreFilter state from NodeAffinity to PodTopologySpread to pass the calculated affinity?

[2020-10-20 23:20] mrmassis commented on #95707
Tkz,
I create a PR, but i received:
cla/linuxfoundation — commit missing GitHub user

but i already do it. Whats is wrong?

[2020-10-20 23:24] sakaia commented on #93315
/close

Thank you. This problem is not solved. but the environment is already destroyed.

[2020-10-20 23:24] #93315 closed

[2020-10-20 23:54] mrmassis commented on #95707
Ok, i found the error. My name in git was wrong. Sorry, Im waiting the result for PR.
Tkz

[2020-10-21 00:13] mrmassis commented on #95707
Now, i waiting for
[code]

[2020-10-21 00:15] Huang-Wei commented on #95738
I assume it wouldn't impose too much overhead on perf, right? BTW: we can make a minor improvement in PreFilter() for non-empty `metadata.name` (case of DasemonSet) - in which case, do an early return once we find a match.

[2020-10-21 00:17] shubb30 commented on #87615
[Here](https://github.com/shubb30/kubelet-face-slapper) is a modified version of what has been working well for us as a workaround.

[2020-10-21 00:31] relyt0925 commented on #87615
Hey y’all!

Do we potentially think this backport could help?
https://github.com/golang/go/issues/40423

[2020-10-21 00:35] lingxiankong commented on #95304
I will try to fix that

[2020-10-21 00:53] bmaehr commented on #95695
Thank you for your patience

As far as I understood it is scaling the deployment.

This is the output from kubectl from the application i tried to scale down to 0. It was scaled down but scaled up to 2 after some seconds again:
[code]

[2020-10-21 00:56] alculquicondor commented on #95738
The alternative would be for users of profiles to provide a webhook, which would be worst for the system, but cause the same overhead in scheduler.

I guess in this case we should skip applying the extra node selectors.
But we have a semantics problem if a DaemonSet Pod template has a scheduler name with hard node affinity rules. Then the daemonset controller would create unschedulable Pods, as it

[2020-10-21 03:02] sjenning commented on #94305
If `/var/lib/kubelet` is full, you are going to have a lot of issues.  This is just one of them.

[2020-10-21 03:15] chenyw1990 commented on #94305
@sjenning
Yes, The /var/lib/kubelet directory is used as the metadata storage directory of kubelet, When the /var/lib/kubelet directory is full, some problems may occur, For example, new pods cannot be created,
However, if the pods on the node is not changed, the metadata should not be refreshed and the running critical pod should not be rebuilt.

[2020-10-21 03:19] sjenning commented on #94305
Fair enough.  I approved the PR and deferred lgtm from one of the more recent contributors to the component.  Thanks!

[2020-10-21 03:25] #89431 closed

[2020-10-21 04:06] #95034 closed

[2020-10-21 04:13] apelisse commented on #95449
This has been discussed before (e.g. https://github.com/kubernetes/enhancements/pull/893). I agree that it'd be nice.

[2020-10-21 04:43] EdSchouten commented on #95296
I've also observed this on a couple of occasions, and it seems this can even happen after a container has been running for >10 minutes. It even affects containers that don't use exclusive CPUs (i.e., pods that don't use Guaranteed QoS).

[2020-10-21 05:02] Huang-Wei commented on #95738
Oh, you were just suggesting to pre-process the affinity spec in PreFilter(), instead of iterating over nodes to get a PreFilter result? If so, please ignore my comment about the overhead thing.

I think we need to ensure DaemonSet controller to honor the profile's hard node affinity args, otherwise the DaemonSet's stauts will end up with X/Y available (X < Y, Y is the number of nodes which passed

[2020-10-21 05:49] aojea commented on #95304
@lingxiankong we can help if you provide the info on the CNI and the component that implement the service API, are you using kube-proxy?

[2020-10-21 07:06] plpan commented on #53089
when using macvlan in bridge mode, steps to make this work:
1. create a macvlan device in host network namespace,
2. route the packet to ClusterIP in container via this specific macvlan device

[2020-10-21 07:20] devopstales commented on #83786
/remove-lifecycle stale

[2020-10-21 07:21] a85302543 commented on #78483
i have encounter this problem recently! any solution?

[2020-10-21 07:52] ankitabhopatkar13 opened #95749 "CSS not loading kubernetes.io docs"
**What happened**:

Not able to read kubernetes documents as CSS is giving 404. Also other endpoints` CSS giving 404(https://kubernetes.io/blog/)

Source - https://kubernetes.io/scss/main.min.f276b50d1c71711c70ef4fa9d4b796c7d32e4fdc489e65604766e35fe9f4958d.css

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-10-21 08:02] Lion-Wei opened #95750 "Kubelet PLEG relist takes too long result in node notready"
**What happened**:

In a cluster with lots pods, the relist step takes too much time, result in node not ready.

Most time spend in updateCache step, which will inspect the pod and get the PodStatus to update the cache serially.

**What you expected to happen**:

PLEG relist should not result in node not ready, even many pods changed during the same relist period.

**How to reproduce it (as minima

[2020-10-21 08:02] Lion-Wei commented on #95750
/assign

[2020-10-21 08:02] Lion-Wei commented on #95750
/sig node

[2020-10-21 08:11] wukong1992 opened #95751 "Priorityclass field support edit"
**Priorityclass field support edit**:

**some task’s priority is changing by time; Also as platform，we need to support task  related to the time period **:

[2020-10-21 08:13] wukong1992 commented on #95751
/sig architecture

[2020-10-21 08:13] casper-lc commented on #92460
same in
k8s 1.15.12
etcd  3.1.11

E1021 16:01:02.459757      46 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"context canceled"}
E1021 16:01:36.025653      46 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"context canceled"}

[2020-10-21 08:14] lingxiankong commented on #95304
Thanks @aojea , the root cause is the access to the node port range is restricted for the k8s cluster nodes in cloud-provider-openstack CI. That's the limitation of the CI cloud provider. We have to skip the 3 test cases for now.

[2020-10-21 08:31] aojea commented on #95304
wow, that was fast ... good was not a regression :+1:

[2020-10-21 08:43] keifgwinn commented on #87869
I'm interested in this as well, especially when you're taking managed kubernetes from a provider.

/remove-lifecycle rotten

[2020-10-21 08:57] RamLavi commented on #95702
other projects using this workaround, and may break when top-level `PreserveUnknownFields` is removed entirely: SSP [PR](https://github.com/kubevirt/kubevirt-ssp-operator/commit/7ecd2973ce3be50083c5db54aabdb2ea71cdc044), CDI [PR](https://github.com/kubevirt/containerized-data-importer/pull/1343), and CNAO [PR](https://github.com/kubevirt/cluster-network-addons-operator/pull/524/commits/61715aefd1a

[2020-10-21 09:04] chendave opened #95752 "pod stuck on the nominated node cannot release resource timely"
**What would you like to be added**:
Set the capping of retrying on the nominated node so that other nodes in the cluster could be chosen for preemption.

**Why is this needed**:

After the pod preemption, a nominated could be set for the preemptor pod. After the restful API of deletion has been sent,
https://github.com/kubernetes/kubernetes/blob/9a6e35a16a92feac757bf0621a09a2661f617617/pkg/schedu

[2020-10-21 09:05] chendave commented on #95752
/sig scheduling

[2020-10-21 09:05] chendave commented on #95752
/cc @alculquicondor  @ahg-g  @Huang-Wei

/assign

[2020-10-21 09:08] ialidzhikov commented on #92690
@Avatat , I see that the referenced issue kubernetes-sigs/apiserver-network-proxy#123 is now fixed. Can we close this one?

[2020-10-21 09:24] #80389 closed

[2020-10-21 10:11] vpsvpnvip opened #95754 "error: error parsing wordpress-deployment.yaml: error converting YAML to JSON: yaml: line 33: could not find expected ':'"
trying to follow kubernetes tutorial[1]Example: Deploying WordPress and MySQL with Persistent Volumes;
run command 'kubectl apply -f wordpress-deployment.yaml' on google kubernetes using cloudshell;
got this error:**error: error parsing wordpress-deployment.yaml: error converting YAML to JSON: yaml: line 33: could not find expected ':'
**wordpress-deployment.yaml**
[code]

[2020-10-21 10:53] lubronzhan commented on #92512
/remove-lifecycle stale

[2020-10-21 11:07] cofyc commented on #95538
sure

[2020-10-21 11:08] cpanato commented on #95730
/triage accepted

[2020-10-21 11:42] tnozicka opened #95759 "RFE: Kubectl wait for multiple conditions"
**What would you like to be added**:
I'd like `kubectl wait` to support multiple wait conditions at once so these are evaluated on the resource with the same ResourceVersion. Like:
[code]

**Why is this needed**:
The current workaround
[code]
isn't atomic and the first condition can change before it evaluates the next one. It's also slower and uses more calls to the apiserver.

/sig cli
fyi @solty

[2020-10-21 11:54] JokerDevops opened #95760 "error: error validating "lxcfs-initializer.yaml": error validating data: ValidationError(Deployment.metadata): unknown field "initializers" in io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta; if you choose to ignore these errors, turn validation off with --validate=false"
**What happened**:
[code]
**What you expected to happen**:
I hope he succeeds

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
40c 64G
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]

[2020-10-21 12:23] karthick-kk commented on #57923
bump. I need to mount ssh key pairs on to a pod running as an elevated privilege user to use along with an glusterfs mount.

[2020-10-21 12:27] liggitt commented on #95760
initializers were an alpha feature removed in 1.16 that are no longer supported

/close

[2020-10-21 12:28] #95760 closed

[2020-10-21 12:39] Avatat commented on #92690
I think, that this issue is not relevant to the closed issue kubernetes-sigs/apiserver-network-proxy#123.
I can check this issue on the newest Kubernetes release.

[2020-10-21 12:41] wojtek-t commented on #95394
@kubernetes/sig-testing @kubernetes/ci-signal - can we somehow uncover when this started happening? This test is very old and it seems it started happening very recently, so it would be helpful to see when this started happening...

[2020-10-21 12:48] mia01 opened #95762 "HPA not downscaling when memory is under target"
**What happened**:
I've configured a hpa with these details:
[code]
**What I expected to happen**:
The pods scaled up to 3 when we put some load and the average memory exceeded 400 which was expected. Now the average memory has gone back down to roughly 300 and still the pods haven't scaled down even though they have been below the target for a couple of hours now.
![image](https://user-images.git

[2020-10-21 12:55] liggitt commented on #95702
`apiextensions.k8s.io/v1beta1` defaults `spec.preserveUnknownFields` to true for backwards compatibility with early CRD behavior.

No openapi v2 schema is published for CRDs that set that to true (or omit that field in v1beta1 and are defaulted to true). Publishing the openapi v2 schema would trigger kubectl to do client-side validation, which would fail to send API objects containing arbitrary fi

[2020-10-21 12:55] #95702 closed

[2020-10-21 13:17] Haar commented on #95140
/kind bug

[2020-10-21 13:18] ialidzhikov commented on #92690
/cc @cheftako @Jefftree

[2020-10-21 13:18] liggitt commented on #95490
/remove-sig api-machinery
/sig apps

[2020-10-21 13:27] rblaine95 commented on #57923
The workaround I used for this was to run an `initContainer` which mounts and SSH Private Key in a temp directory, then copies it to an `emptyDir` and `chmod`'s it appropriately.
The container that then needs the private key mounts the same `emptyDir` volume

[code]

[2020-10-21 13:40] rtheis commented on #92664
/remove-lifecycle stale

[2020-10-21 13:48] jangel97 opened #95764 "Kubernetes Pod’s cannot reach pods in serviceSubnet"
Hello there,

I am new to Kubernetes and I am seeking help.

I just deployed a cluster of two nodes, one master and one worker. Apparenty, cluster is working fine, the problem is that pods cannot reach CoreDNS nor Kubernetes Api.

In order to deploy networking I used **flannel** network driver.   https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

**Log error:**

[2020-10-21 13:56] nodo commented on #95680
I am happy to have a look at this

/assign

[2020-10-21 13:57] alculquicondor commented on #95738
Correct.

That would imply that we have to make the daemonset controller profile aware, which, other than being a lot of work (it doesn't currently run a framework), it's prone to be misconfigured by operators.

Would it make sense to exclude DaemonSet Pods from this feature of default affinity rules?

[2020-10-21 13:57] thejoycekung commented on #91236
Yesterday's flake - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1318719364404350976

I don't think I'm seeing the log messages from the latest log PR you made @aojea ? Or are the prow logs not logging at a high-enough level?

[2020-10-21 14:08] tal47 commented on #91132
Doesn't work on version: v1.18.8 either.

[2020-10-21 14:10] #88900 closed

[2020-10-21 14:16] xinfengliu commented on #61937
For some unknown reason, in 2019, the `runc` shipped by Docker has removed `nokmem` buildtag for CentOS/RHEL with 3.10.x kernel.

https://github.com/docker/containerd-packaging/commit/241608f9e17c8c0f3dba2f73b12275a3025ccc39#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52L84

[2020-10-21 14:20] alculquicondor commented on #95752
What is your proposal? number of retries or perhaps a time limit?
Should we make it configurable in the preemption plugin args?

[2020-10-21 14:30] aojea commented on #91236
Logs are there, please bear with me:
The error on the test is:

[code]

click on the job failure and you'll see a larger output where you can see the server pod name
[code]

and get the node where the pod is running:
[code]
and the client-pod name and its node:
[code]

and the flow we are looking for:
[code]

with the node-name we can get the kube-proxy logs there, clicking in artifacts:
https://s

[2020-10-21 14:34] nodo commented on #95680
If I understand correctly the issue is at https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L437.

I could replicate the error by adding the following line after the `yaml.Unmarshal` block:
[code]

I think the problem is that we are using `sigs.k8s.io/yaml` which coverts `yaml` to `json` and then unmarshal using `encoding/json` withou

[2020-10-21 14:41] obeyda commented on #55046
/remove-lifecycle rotten

[2020-10-21 14:46] thejoycekung commented on #95394
@wojtek-t Triage shows flakes starting ~Sept 30: https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-10-07&test=%2F%2Fstaging%2Fsrc%2Fk8s.io%2Fapiserver%2Fpkg%2Fstorage%2Fcacher%2Fgo_default_test%3Arun_1_of_2#e6301ac5d4d85dae347c

Before Sept 30 it seems the job was flaking much less frequently.

[2020-10-21 14:49] wojtek-t commented on #95394
Might be related to https://github.com/kubernetes/kubernetes/pull/95145
I will take a look.

[2020-10-21 14:53] troy0820 commented on #95749
Hey @ankitabhopatkar13 I'm trying to reproduce this issue.  I can see the docs when I go to the blog endpoint as well as other website endpoints.  What web browser are you using?

[2020-10-21 14:53] troy0820 commented on #95749
/sig docs

[2020-10-21 14:57] troy0820 commented on #95754
/kind support
It looks like the indentation of your yaml is incorrect.  Also, you are missing the apiVersion in your service.

[code]
/remove-kind bug

[2020-10-21 15:24] designedforplaygames opened #95765 "LICENSE file refers to "Licensor" but there is no licensor stated in the LICENSE file or in the README file. #619"
Re-posting this issue here from the original issue posted to the metrics server repo.

This is a documentation bug report. For legal compliance purposes within my organization, I am required to know the exact copyright holder of the software we are intending to use. There is no copyright notice in the README or LICENSE file nor any other indication in those files that I can find of who the "Licens

[2020-10-21 15:29] troy0820 commented on #95765
/sig docs

[2020-10-21 15:30] designedforplaygames commented on #95765
Correction: i believe this is a "release" bug, as it deals with the license.

/sig release

[2020-10-21 15:47] jsturtevant commented on #95735
I was able to reproduce `context deadline exceeded` on 1.18.8 during a scale operation: ` kubectl scale --replicas 9 -n default deployment iis-2019-burn-cpu` where it fully subscribes all CPU's in Allocatable:

[code]

[code]

Metric server logs:
[code]

I do not see "context deadline" in kubelet but I did find some logs assocated:
[code]

Once the pods are scheduled the node remains at 100% cpu a

[2020-10-21 16:05] dashpole commented on #95568
/assign @logicalhan
/triage accepted

[2020-10-21 16:09] dashpole commented on #95421
/triage accepted

[2020-10-21 16:13] jpbetz commented on #95460
Maybe https://github.com/kubernetes-sigs/structured-merge-diff/pull/161? It is part of SMD v4.0.0 which is part of 1.19 (https://github.com/kubernetes/kubernetes/blob/release-1.19/go.mod#L500). Seems like a good candidate for a use case where the result of a GET is subsequently applied.

cc @kwiesmueller

[2020-10-21 16:35] aojea commented on #95149
sorry, I forget about this, the apiserver needs to have the endpointslice controller running, it should be enabled by default in 1.19, check the controller-manager logs to find out what happens with the slice controller

[2020-10-21 16:39] aojea commented on #94337
@invidian please check this https://github.com/kubernetes/kubernetes/pull/94968#issuecomment-713283506, I think that you are hitting the same problem

[2020-10-21 16:41] cheftako commented on #92690
/remove-lifecycle stale

[2020-10-21 16:42] cheftako commented on #92690
/remove-sig network
/sig api-machinery

[2020-10-21 16:43] cheftako commented on #92690
/assign @Jefftree
Jeffrey mind taking a look at this?

[2020-10-21 16:48] invidian commented on #94337
Thanks for the ping. I'll check it!

[2020-10-21 16:54] jsturtevant commented on #95735
Adding `cpu=500m` to kubelete's `--system-reserved=` flag and I no longer see the errors. This reserves some cpu for kubelet and other processes. We call this out in the [documentation for memory](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#memory-reservations-and-handling)  but do not do the same for cpu.

[2020-10-21 17:00] troy0820 commented on #95765
Each person who contributed to this repository is made to fill out a [individual contributor license agreement](https://github.com/cncf/cla/blob/master/individual-cla.pdf) that classifies everyone who contributed as a copyright owner, from my understanding.

[2020-10-21 17:09] marosset commented on #95735
Also, without setting system reserved CPU, it looks like `kubectl top node` does not accurately reflect CPU usage on the nodes when CPU utilization is very high. When I got some nodes into this state I did not see any error messages in logs from metrics-server and also I noticed that that querying the metrics API directly from `http://localhost:8001/apis/metrics.k8s.io/v1beta1/nodes` showed recent

[2020-10-21 17:10] apelisse commented on #95680
Ah! it's not the first time we have problems with ints and floats and this nuance between json and yaml ... the endpoints is explicitely taking YAML, so I'm pretty sure we should parse it as yaml. Let me look at it more closely.

[2020-10-21 17:19] jingxu97 opened #95767 "waitForFirstConsumer PVCs fail to bind when Pod spec.nodeName is specified"
If using waitForFirstConsumer mode, we cannot set Pod spec.nodeName.

Issue https://github.com/openebs/openebs/issues/2915 has detailed explanation.

Should document this behavior in doc.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl v

[2020-10-21 17:30] sedefsavas commented on #95730
This is because CAPA conformance is using an auto-generated template that is not correctly added in the config.

Created an issue for this: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2061

[2020-10-21 17:44] mrmassis commented on #95707
Hi everyone,
Is normal waiting this itens, or I must provide then?
Tkz

[2020-10-21 17:50] grosser commented on #55616
seeing the same and it's hard to debug ... need the requesting serviceaccount in the log :(

[2020-10-21 18:24] Jefftree commented on #92690
I have a feeling this is related to https://github.com/kubernetes/kubernetes/pull/90223.

@cheftako @caesarxuchao are we still looking to support a TCP socket between apiserver <-> konnectivity server or should we restrict to UDS only? GCE technically doesn't support TCP socket anymore.

[2020-10-21 18:31] droccom commented on #90053
Yes, indeed I think it should be at least clarified in the docs.

[2020-10-21 18:32] aauren commented on #64616
For what it's worth, this issue bit us during our usage of the admissions controller as well. I think that it's unreasonable to expect teams constructing this annotation to have to understand all of the default tolerations that may be applied to a pod. Especially when this can be different depending on the controller that creates the resulting pod from the higher level archetype.

In our example,

[2020-10-21 18:32] neolit123 commented on #95764
hi, this could be an issue in flannel. at least i think i've seen similar problems.
please try another CNI plugin like Calico / WeaveNet.

for further questions try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-10-21 18:32] #95764 closed

[2020-10-21 18:33] neolit123 commented on #95762
/sig autoscaling

[2020-10-21 18:40] RenaudWasTaken commented on #94305
Sorry for the lag and thanks for the detailed explanation!
I had the same concern that @sjenning raised, but if this is the only issue, let me look up the PR!

[2020-10-21 18:50] neolit123 commented on #95765
@dims @nikhita @swinslow @dankohn
is the licensor of Kubernetes the CNCF?

[2020-10-21 18:53] danwinship commented on #95251
@bboreham @dcbw @squeed Thoughts on this?

[2020-10-21 18:55] neolit123 commented on #95754
hi,

this looks like a malformed YAML.

values under spec must be indented properly as YAML is whitespace sensitive:

[code]

please don't open more issues about this in this repository and try the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-10-21 18:55] #95754 closed

[2020-10-21 18:58] wojtek-t commented on #91236
wohoo - some progress :)
I'm not an expert here, but I think it can be? Adding @kubernetes/sig-node-bugs here - they may be able to confirm/reject the hypothesis.

[2020-10-21 19:23] Huang-Wei commented on #95738
In that case, it seems on the scheduler side, the only clue is to tell if `.spec.metadata.name` is nil (checking a Pod's controllerRef is too much IMO)? It's for sure doable, but it's a bit fragile as `.spec.metadata.name` may be used for general purposes (not just reserved for DaemonSet) in the future.

[2020-10-21 19:39] soltysh commented on #93188
@knight42 I really like that PoC for local and how closed it is, I think we should go with that

@SaiHarshaK wrt to https://github.com/kubernetes/kubernetes/pull/94744 it's not quite solving the local problem, but I like how you're approaching the problem of code duplication we have across all of the commands. @aubm was also interested in minimazing code duplication (he did a small POC in https://

[2020-10-21 19:53] edganiukov commented on #64616
@aauren I had to compile the apiserver with some debug statements in order to find this list of default tolerations.
I think you should not expect that such kind of bugs (and I still think it is a bug) would be fixed quickly, it is not a new feature for google cloud, azure, etc. Even though it is an open source project, but it is quite a big project, that has many code owners that are mostly hired

[2020-10-21 20:05] kedare commented on #80633
The issue still exists

[2020-10-21 20:11] squeed commented on #95251
CNI doesn't make any statement about ordering of IPs. It **definitely** doesn't have any notion of a "primary IP".

It seems that containerd itself does have some [glue code to prefer v4](https://github.com/containerd/containerd/blob/88f089354009d3df6d5556d59ce4ce2ac0717106/pkg/cri/server/sandbox_run.go#L466)

[2020-10-21 20:33] 85danf commented on #81628
Hey @liggitt sorry for bumping an old issue but I'd like to suggest a usecase as well:

We built a controller for our `CRD` where the reconciliation involves creating a set of resources/`CRD`s that other components are watching for.

As @cadedaniel points out, Since I'm using `kubeuilder` it compels me to add an `OwnerReference` referencing my 'main' `CRD` to all 'secondary' resources.
This is bec

[2020-10-21 20:35] ahg-g commented on #95738
I don't think so, we should just document it.

Note that this is the same problem with NodeLabel plugin that already exists.

[2020-10-21 20:53] Jiawei0227 commented on #95767
https://github.com/kubernetes/kubernetes/issues/89953

So this is the issue, right? Are you suggesting we fix the issue or just document it to use nodeaffinity?

[2020-10-21 21:02] jingxu97 commented on #95767
I think this is by design (a limitation that is hard to avoid) @msau42
So we just need to document it.

[2020-10-21 21:10] dims commented on #95765
@neolit123 i believe it's the Linux Foundation

[2020-10-21 21:13] Riaankl commented on #92951
This exploration have been moved forward by [#92949](https://github.com/kubernetes/kubernetes/issues/92949) & [#95503](https://github.com/kubernetes/kubernetes/issues/95503) and can be closed

[2020-10-21 21:13] #92951 closed

[2020-10-21 21:15] thejoycekung commented on #93740
Flaked today: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1318903328582668288

And triage also shows that the `[Feature: NEG]` version of this test has been having a bad time for a long time on `ci-ingress-gce-e2e`: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=should%20conform%20to%20Ingress%20spec

[2020-10-21 21:33] msau42 commented on #95767
Yes this is a known limitation. Maybe https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode would be a good place to document it?

[2020-10-21 21:44] swinslow commented on #95765
Kubernetes does not record the specific copyright holders for contributions. Many Kubernetes source code files contain notices referring generally to "The Kubernetes Authors" -- as a random example, see https://github.com/kubernetes/kubernetes/blob/master/pkg/api/persistentvolume/util.go

@troy0820 is correct, contributors retain ownership of the copyrights that they contribute to Kubernetes, and

[2020-10-21 22:02] neolit123 commented on #95765
thank you very much for the clarification @swinslow

@designedforplaygames this is a response you can reference to your employers.

i'm closing this and the metrics-server ticket:
https://github.com/kubernetes-sigs/metrics-server/issues/619

thanks
/close

[2020-10-21 22:03] #95765 closed

[2020-10-21 22:14] inoam opened #95778 "Mounting configmap & EmptyDir failed: MountVolume.SetUp failed for volume... no such file or directory"
**What happened**:

1. I am  creating a multi-pod / statefulset application.
2. I install several helm charts while installing the application.
3. On one of the statefulset, called "tier-allocator", statefulset tried to create a pod with 3 empty-dir volumes, and 1 config-map volume.
Pod was assigned to node ip-172-30-125-127.eu-west-1.compute.internal.
Pod failed to be created, see events(ct=creat

[2020-10-21 22:15] inoam commented on #95778
/sig/storage

[2020-10-21 23:38] bowei commented on #93740
I think there was a CI change that caused this to go green. Will follow up.

[2020-10-21 23:55] eknudtson opened #95779 "BGP Unnumbered RFC 5549 ResolveBindAddress fails"
**What happened**:

When attempting to kubeadm join a control plane node or worker on a machine with global IPv4 unicast addresses on a loopback address (router to the host w/ BGP Unnumbered), the join fails with the following output:

[code]

See this issue for details : https://github.com/kubernetes/kubeadm/issues/2323

Also:
https://github.com/kubernetes/kubeadm/issues/1156
https://github.com/k

[2020-10-21 23:55] eknudtson commented on #95779
/sig api-machinery

[2020-10-22 00:01] freehan commented on #93740
I am looking at this test grid. It is relatively green. Am I looking at the right one? https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress&width=5

[2020-10-22 00:21] thejoycekung commented on #93740
@freehan Yes, that's the one where this `[Feature: Ingress]` one is. But there is also a `[Feature: NEG]` one that Rob and I are referring to which is here: https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e and has not passed for a while.

[2020-10-22 00:24] neolit123 commented on #95779
`ResolveBindAddress()` is defined [here](https://github.com/kubernetes/kubernetes/blob/323f34858de18b862d43c40b2cced65ad8e24052/staging/src/k8s.io/apimachinery/pkg/util/net/interface.go#L425)

/sig network

[2020-10-22 00:43] danwinship commented on #95251
I mean that's literally what I just said :stuck_out_tongue:. The question is more if that is intentional and/or changeable.

It seems strange that the decision about whether to allocate IPv4 and/or IPv6 IPs is left up to the network plugin, with no input from the runtime, but the decision about what to _do_ with IPv4 and/or IPv6 IPs is then left up to the runtime, with no input from the network pl

[2020-10-22 01:31] chendave commented on #95752
Should we make it configurable in the preemption plugin args?

+1, this is what I am thinking about, perhaps there are other options to address this issue, I will continue to do some investigation here and hopefully got more ideas from you.

[2020-10-22 01:51] hex108 commented on #86630
/remove-lifecycle stale

[2020-10-22 02:40] ITonyLi commented on #95307
Yes，I don't know how to implement the request hook with golang.

[2020-10-22 03:03] zhangguanzhang commented on #86715
/remove-lifecycle stale

[2020-10-22 03:07] SataQiu commented on #95749
It seems to be OK!

![image](https://user-images.githubusercontent.com/9354727/96819661-aef58100-1456-11eb-80ad-140071de2385.png)

[2020-10-22 03:53] apelisse commented on #95680
Where do we decode this number into a float64?
Here I'm guessing: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L436-L441

Do we re-deserialize after that using a different parser?

[2020-10-22 04:24] mitar commented on #69816
/remove-lifecycle stale

[2020-10-22 05:07] uablrek commented on #95251
That is very good an as it should be but...

The quote is from the initial commant. Please note that this is a **single-stack** cluster! And that has a main family even though the PODs have dual addresses.

[2020-10-22 06:20] yue9944882 commented on #93359
closing b/c this is solved. plz feel free to reopen if i miss anything else

/close

[2020-10-22 06:20] #93359 closed

[2020-10-22 06:46] akafazov commented on #88820
We have setup Kubernetes  to run with nodes on multiple cloud providers within the same cluster. Currently, this issue restricts us on just supporting 1 provider's LoadBalancer.

[2020-10-22 06:48] wojtek-t commented on #95394
It seems it's not related to that PR (neither to the previous: https://github.com/kubernetes/kubernetes/pull/94364)
As there were already failures like that on Sep 24th (before this one was merged).

I will take a deeper look.

[2020-10-22 07:12] sirkubax commented on #32326
I partially solved my case: Needs to have 'deployment' or 'app' label as a filter for pods names
https://github.com/grafana/grafana/issues/28447

But how nice would it be, if cAdvisor could forward an 'app' label along with metrics...

[2020-10-22 07:18] sirkubax commented on #32326
/reopen

please export all Pod labels ('app', 'deployment', etc...)
![image](https://user-images.githubusercontent.com/3442120/96837875-5ec2f280-1447-11eb-9e90-2fdf3df49f3b.png)

like this
**__meta_kubernetes_pod_label_app="schema-registry-ui"**

[2020-10-22 07:26] krmayankk commented on #95703
a repro with exact config of the deployment will help

[2020-10-22 07:27] rfranzke commented on #88613
Can we assign a SIG to look into this?

[2020-10-22 07:34] krmayankk commented on #95695
the describe clearly shows HPA controlling the deployment object, in which case this is expected behavior . There was some discussion long back that replica count 0 would disable it, but seems like the latest implementation requires a `selectPolicy` to disable the HPA as documented [here](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#example-disable-scale-down)

[2020-10-22 07:35] ialidzhikov commented on #88613
Well, `sig/node` label is present. @dchen1107, @derekwaynecarr can we get some attention on this issue? It is open since quite a long time and there is no feedback on it at all.

/cc @kubernetes/sig-node-bugs

[2020-10-22 07:35] RamLavi commented on #95702
@liggitt thank you for your explained response :)

[2020-10-22 07:41] ialidzhikov commented on #88613
/priority important-longterm

[2020-10-22 07:45] Zodor commented on #95106
The same error occurs in EKS 1.18.

We need the same fix done please.

[2020-10-22 07:50] krmayankk commented on #95778
@inoam  please share the statefulset yaml configuration to help debug this more. From the logs it seems `cannot find volume \"kb-configuration` says the volume with name kb-configuration is missing.

[2020-10-22 07:52] hanlins commented on #92620
Added some tests for the iptable rules for ipvs proxy, will further decompose `syncProxyRules` and test them in a separate PR.

[2020-10-22 07:54] JornShen commented on #95588
Anything for help? @gnufied @msau42  @mattcary

[2020-10-22 08:01] ankitabhopatkar13 commented on #95749
Hi,

Thanks for the replies. It does work now. But it definitely didn't for around 5-10 minutes atleast yesterday between 9:45 to 10:00AM CEST time. Tried from different browsers and different networks :)

Anyway, I will close this issue now, as it no longer is valid.

[2020-10-22 08:01] #95749 closed

[2020-10-22 08:08] ncri commented on #95703
The project is private, so i cannot share the exact config here. The deployment looks like this:

[code]

[2020-10-22 08:19] hanyu100 commented on #79384
v1.13.4 not found, 404: Not Found

[2020-10-22 08:19] aojea opened #95785 "Add e2e test for Service ExternalIPs"
**What would you like to be added**:

e2e test for service ExternalIPs

**Why is this needed**:

There is no test covering Service ExternalIPs

## How to test it

Since we can not assume that the e2e binary will have connectivity against the nodes
and that we can add routes to the environment, we are going to test it from a pod.

I've verified that this works locally with the following commands:

[2020-10-22 08:19] aojea commented on #95785
/sig network
/help wanted
/triage accepted

[2020-10-22 08:20] aojea commented on #95785
/help wanted
/good-first-issue

[2020-10-22 08:29] zhouya0 commented on #95785
/assign

[2020-10-22 08:35] krmayankk commented on #95751
@wukong1992 can you provide more description of the the features you are looking for ? It seems you want PriorityClass to be editable/modifiable, is that right ? Can you describe the scenario why that should be modifiable ?

[2020-10-22 08:40] jangel97 commented on #95764
Nello @neolit123 , I will redeploy the cluster with calico this time, let's see what happens!

Thank you for the support channels information!

[2020-10-22 08:51] inoam commented on #95778
@krmayankk - thanks for reply!

1. Sharing the volumes part of the yaml here.
2. The `kb-configuration` volume is configured in the pod, as empty dir (see first on list).
3. Note that it says "Cannot find" for rsyslog volume as well, which is also configure as empty dir (see second on list).
4. This pod managed to be created on another node immediately after it was removed from current node (by st

[2020-10-22 08:53] squeed commented on #95251
Right; don't comment on issues just before going to bed. Ooops.

I don't think we want to introduce the notion of IP ordering / or preference in to CNI for a few reasons --
* It's a bit of a breaking change, depending on how you read the spec
* It would be awkward to push the "preferred family" from k8s al the way down through to CNI
* It doesn't match how Linux works - interfaces don't have prima

[2020-10-22 08:58] aojea commented on #95251
kubelet set the status.PodIPs

In a single-stack cluster you don't have a main family, you only have ONE family

If we don't have PodIPs and only PodIP in a single-stack cluster this will be clearly a configuration problem in the CNI,no?

I personally,  think that this is a configuration problem and that we created it because we pluralised PodIP without a feature gate

[2020-10-22 09:15] jsafrane commented on #95588
@JornShen, a PR would be handy! There is some exploratory work how to read kubelet metrics, how to add a new metric, but the resulting code should be IMO small & easy to write. I see it's assigned to @mattcary, still, I believe he won't complain someone else doing the work.

I would re-use volume operation metric (`storage_operation_duration_seconds` and friends) and new operation there, say `volu

[2020-10-22 09:17] wukong1992 commented on #95751
@krmayankk yeah, the scenario is, we want to support inerval  resourcequota, for user who have task only run for  fixed period of time， like 3：00～8：00.  Then， we want to  lower the priority of a task， when run out of the time period instead of killing the task。

[2020-10-22 09:32] JornShen commented on #95588
Thanks for reminding and guidance!
And I would like to spend some time to learn about it. :)

[2020-10-22 09:36] uablrek commented on #95251
Yes, and this is how it looks in an **IPv4 single-stack** cluster if the CNI-plugin has been configured for dual addresses on PODs but returns the assigned addresses in the "wrong" order (ipv6 first);
[code]

[2020-10-22 09:45] bboreham commented on #95251
Why is requesting an IPv6 address for pods in an IPv4 cluster not a configuration error?

To me it seems a bit like running an ARM image on an AMD64 machine; Kubernetes will go through some motions but will not make it work or tell you what you did wrong.

[2020-10-22 10:08] uablrek commented on #95251
Dual addresses in PODs has been supported from K8s v1.9, i.e. long before K8s dual-stack so that is not a configuration error. In the CNI specification there is nothing about required order for addresses or "prefered family" so it is not a configuration error for the CNI-plugin either.

For K8s functions the order in `podIPs` does not matter. But design of upgrade requires that `podIP == podIPs[0]

[2020-10-22 10:13] bboreham commented on #95251
This doesn't appear to answer my question.  What is the meaning of an IPv6 pod address in an IPv4 cluster?

[2020-10-22 10:17] Morride opened #95788 "Deploying the k8s cluster on the openstack virtual machine Adding service causes the node noready！！！"
**What happened**:
Deploying the k8s cluster on the openstack virtual machine Adding service causes the node noready.
**What you expected to happen**:
I want to know why after I add the service service, the node will not be ready, whether this is related to the openstack network.
**How to reproduce it (as minimally and precisely as possible)**:
When you build a k8s service on openstack and add a s

[2020-10-22 10:23] rapatchi commented on #95733
#89849 is the reason why we are getting this issue. Is there any plan to back port this fix to older k8s versions ?.

[2020-10-22 10:25] aojea commented on #95779
/assign

[2020-10-22 10:30] StarpTech commented on #62594
Increasing the timeout doesn't work for us. We had to change the IP to `0.0.0.0`. It looks like that this thread contains two different issues:

- Misconfiguration of readiness timeouts in general.
- Issue in readiness core feature.

For us, it looks like that the readiness feature has an issue. Our server starts immediately and we can curl the health endpoints without any issue.

That's the quest

[2020-10-22 10:53] shalomcbouncex commented on #51835
Seeing similar sympthoms on deployment rollouts, delete --force --grace-period=0 works as a workaround for now. the kubelet log I'm seeing: kubelet[1445]: I1022 10:26:32.203865    1445 prober.go:124] Readiness probe for "backing-services-legacy-mysql-74c4664d8d-58c96_default(822c3c3d-082a-4dc9-943c-19f04544713e):backing-services-legacy-mysql" failed (failure): OCI runtime exec failed: exec failed:

[2020-10-22 11:01] sciffer commented on #51835
Seeing a similar symptom, pods stuck in terminating(interestingly they all have exec type probe for readiness/liveliness). Looking at the logs I can see: kubelet[1445]: I1022 10:26:32.203865    1445 prober.go:124] Readiness probe for "test-service-74c4664d8d-58c96_default(822c3c3d-082a-4dc9-943c-19f04544713e):test-service" failed (failure): OCI runtime exec failed: exec failed: cannot exec a conta

[2020-10-22 11:07] sayanchowdhury commented on #59848
👋🏽 Hello! I'm from the Bug Triage Team again! The code freeze for 1.20 release is starting November 12th which is about 3 weeks from now. Is this issue still planned for 1.20 release?

[2020-10-22 11:11] EdSchouten commented on #95296
Ha! I think I've managed to find the root cause of this. This can happen if you're using a copy of runc that doesn't have this commit:

https://github.com/opencontainers/runc/commit/afe83489d4243800cb68b5c766831a4ceaff4578#diff-2bef70ef32203b9a65985f649e469ad4db0f361673aab84c1536afc9574ca29b

Just make sure you're running runc>=1.0.0-91 and you're fine!

[2020-10-22 11:15] StarpTech commented on #62594
When I try to ping the container via the POD ip I get the exact same error.

[code]

Is this the same what `readinessProbe` use as [host](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes) option? This would explain why binding to `0.0.0.0` works.

[2020-10-22 11:19] sayanchowdhury commented on #95306
👋🏽 Hello @tallclair ! I'm from the Bug Triage Team! I'm dropping a gentle reminder as the code freeze for 1.20 release is starting November 12th which is about 3 weeks from now. Is this issue still intended for the 1.20 release?

[2020-10-22 11:24] sayanchowdhury commented on #94018
👋🏽 Hello @mkumatag ! I'm from the Bug Triage Team! The code freeze for 1.20 release is starting November 12th which is about 3 weeks from now. As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-22 11:28] rmohr commented on #95296
@EdSchouten awesome, thanks for sharing. Will try it immediately.

[2020-10-22 11:31] StarpTech commented on #62594
Yes, according to the [docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes) `readinessProbe` use the POD IP. `127.0.0.1` can't be accessed outside of the POD network. Either you use `0.0.0.0` or you specify an AAAA record.

[2020-10-22 11:31] nathan-c commented on #24873
[code]

Inspired by @scones but runs a little quicker because of process forking and reduced loop nesting which is useful if you have a lot of custom resource definitions!

[2020-10-22 11:53] mkumatag commented on #94018
I see a PR here for using the mirror instead of docker hub, hope that will fix the issue.

[2020-10-22 11:55] wojtek-t commented on #95394
OK - it's not related to any changes mentioned before.

I can reproduce this particular failure by simply adding `time.Sleep(50*time.Millisecond)` somewhere in this block:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go#L1053-L1065

So it's probably connected to cpu-starvation at the test level and the solution is to swit

[2020-10-22 13:01] santh5858 opened #95792 "Cgroup issue with centOS 8"
**What happened**:
We've been facing [kernel memory accounting issue](https://github.com/kubernetes/kubernetes/issues/61937). Currently we have a CentOS 7 machine with kernel 3.10.0-957.21.3.el7.x86_64. So, In order to solve it, we were testing out 2 method.
Method 1 : Upgrading the kernel alone to 4.4.235-1.el7.elrepo.x86_64.
Method 2 : Upgrading to CentOS 8.2 with kernel 4.18.0-193.14.2.el8.x86_

[2020-10-22 13:22] danwinship commented on #95251
A cluster does not have an address family. Usually it _seems_ like it does but that's just because the administrator has configured all of the individual components in a consistent way. But most components' configuration only affects what _that component_ does (though in some cases that will have knock-on effects).

- kube-controller-manager sets `node.podCIDR(s)` based on its `--cluster-cidr` (as

[2020-10-22 13:36] wojtek-t commented on #95394
Actually - it appeared to be slightly more subtle then that.
But I already fully understand the problem.

It's purely test issue, but require a bit more changes (and I won't get to it today/tomorrow). I will send a fix for that early next week.

[2020-10-22 13:37] wojtek-t commented on #95394
@thejoycekung - if that changes anything from your tracking perspective ^^

[2020-10-22 13:48] alculquicondor commented on #95752
One more thing to think about: a Pod that requires more Pods to be preempted should have more retries.

[2020-10-22 13:49] liggitt commented on #95680
we could export the util/json#convertMapNumbers method, and do this in the patcher:

[code]

[2020-10-22 13:56] nodo commented on #95680
You mean by making ` util/json#convertMapNumbers` public?

An alternative approach could be using `k8s.io/apimachinery/pkg/util/json` and `k8s.io/apimachinery/pkg/util/yaml` to convert yaml into json and then unmarshal. WDYT?

[code]

[2020-10-22 13:56] alculquicondor commented on #93270
FYI, we are doing a v1beta2 version in 1.20. So this is the time to move that parameter, if you want to work on it #95446

[2020-10-22 14:01] alculquicondor commented on #95709
It sounds like moving percentagesOfNodesToScore to the profile is the best first step. Then we can re-evaluate if more is needed.

[2020-10-22 14:01] liggitt commented on #95680
yaml.ToJSON followed by json.Unmarshal means decoding, encoding, then decoding again. I'd avoid that if possible.

[2020-10-22 14:17] alculquicondor commented on #92170
/remove-lifecycle rotten

[2020-10-22 14:19] nodo commented on #95680
Sounds good. Do you think it's worth extracting this logic in a separate package? Maybe adding a `Unmarshal` function to `k8s.io/apimachinery/pkg/util/yaml` similar to [json.Unmarshal](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/json/json.go#L43)?

[2020-10-22 14:20] thejoycekung commented on #95394
@wojtek-t No board changes yet - the next stage is "Observing" once this issue gets closed :)

If you have time - I'd love to pick your brain/understand the error more thoroughly though! Hoping you drop a good explanation in your PR next week 😄

[2020-10-22 14:22] liggitt commented on #95680
yeah, that sounds good

[2020-10-22 14:23] tosi3k commented on #95401
Got fixed by https://github.com/kubernetes/test-infra/pull/19543.

[2020-10-22 14:23] #95401 closed

[2020-10-22 14:26] obeyler opened #95794 "Cron job and tainted node"
**What happened**:
You can crash your K8S with too many pods (more than 50 000).

**What you expected to happen**:
K8S not crash :-)
kube-scheduler need to check taint before put a pod on a Node

**How to reproduce it (as minimally and precisely as possible)**:

If you have some node with taint and other without taint
If you put a Cron job on your cluster without any toleration but with a nodesele

[2020-10-22 14:28] andrewsykim commented on #65180
Bumping this old thread, I agree with @spiffxp that a `kind/testing` label is not really needed if we don't gate PRs without a kind label. But I think today we still require PRs to have a kind label?

I personally have encountered many PRs that are just adding more tests, it's less so an issue around signal and more so that it's awkward to label them as either `kind/cleanup` or `kind/feature` when

[2020-10-22 14:47] obeyler commented on #95794
/sig Scheduling

[2020-10-22 14:51] ScrapCodes commented on #95394
Thanks for sharing those insights, on your discovery of the solution to this bug.

[2020-10-22 14:51] neolit123 commented on #95788
this version is no longer in support, please upgrade to 1.17+

this doesn't feel like a problem in core Kubernetes, please try asking for help in the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

or OpenStack experts.

if a bug in core, please confirm if it's still a problem in 1.17+.

thanks
/close
/kind support
/remove-kind bug

[2020-10-22 14:51] #95788 closed

[2020-10-22 14:52] neolit123 commented on #95792
/sig node

[2020-10-22 15:12] thejoycekung opened #95795 "[Failing Test] periodic-kubernetes-bazel-build-master either times out or loses connection"
**Which jobs are failing**:
`periodic-kubernetes-bazel-build-master`

**Which test(s) are failing**:
Overall

**Since when has it been failing**:
Since ~4PM ET Oct 21

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#bazel-build-master

**Reason for failure**:
Timeout spyglass link example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-build-m

[2020-10-22 15:21] alculquicondor commented on #95738
Do we have consensus? I would like to add this for 1.20

[2020-10-22 15:33] ahg-g commented on #95738
I am ok with this, it is a replacement to the NodeLabel plugin which we want to deprecate in this cycle.

[2020-10-22 15:36] apelisse commented on #95680
wait, I'm still confused. The `yaml.Unmarshal` that we're using decodes integers into floats?

[2020-10-22 15:39] liggitt commented on #95680
yes, because that's what json.Unmarshal does by default when unmarshalling into an untyped object:

https://golang.org/pkg/encoding/json/#Unmarshal:

[2020-10-22 15:40] apelisse commented on #95680
but this is not `json.Unmarshal`, it's `yaml.Unmarshal`?

[2020-10-22 15:43] YiannisGkoufas opened #95796 "Debug why some /csi.v1.Node methods are not called"
Hi! I was working on our CSI S3 implementation ( https://github.com/IBM/dataset-lifecycle-framework/tree/master/src/csi-s3 ) and have successfully tested it multiple environments of k8s 1.16+ without a problem.
However, in a recent deployment I have been getting some issues about the attacher not being called.

**Specifically, in a working setting I was seeing logs like this:**
[code]

**In the no

[2020-10-22 15:46] YiannisGkoufas commented on #95796
/sig Storage

[2020-10-22 15:49] liggitt commented on #95680
which calls json.Unmarshal under the covers:

https://github.com/kubernetes/kubernetes/blob/master/vendor/sigs.k8s.io/yaml/yaml.go#L33-L79

[2020-10-22 15:49] #95729 closed

[2020-10-22 16:12] squeed commented on #95251
Oof. Well. Maybe it makes sense for kubelet to stop setting PodIP, and leave that decision to the apiserver? It could make that decision based on ServiceCIDR, and order the families accordingly?

[2020-10-22 16:50] alejandrox1 commented on #92673
For the sake of iterating, let's call this one as done thanks to https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/test-suite.md

We can add more info into that doc but the big idea is there.
Next let's explore how we can cleanup and do some maintenance on the node test suite itself :heart:
/close

[2020-10-22 16:51] alejandrox1 commented on #92673
@knabben thank you for your work here!

[2020-10-22 16:51] #92673 closed

[2020-10-22 16:59] Boca13 commented on #85422
I'm having a similar problem in my cluster after updating to 1.17.9. In 5 out of 7 worker nodes, pods can't connect to services served by pods in the same node. Traffic between pods and services in different nodes is flawless, though.

[code]

After some tcpdumping in the pods, I discovered that in the faulty case, TCP SYN ACK packets come from the destination pod IP, instead of the service IP. Th

[2020-10-22 17:06] BenTheElder commented on #94018
xref: https://github.com/kubernetes/test-infra/issues/19477

[2020-10-22 18:05] StarpTech commented on #36117
We faced with the exact same behavior as described in https://github.com/kubernetes/kubernetes/issues/36117#issuecomment-267592278 and the solution was to delete all old replicaSets. This looks like a serious issue in Kubernetes.

OS Image Debian GNU/Linux 9 (stretch)
Kubelet version v1.17.0
Kernel version 4.9.0-11-amd64

[2020-10-22 18:05] Suryanshsasi commented on #30961
Youre a genuis...thanks a lot

[2020-10-22 18:25] khenidak opened #95803 "Randomly genereted files when running unit tests"
**What happened**:
While working with https://github.com/kubernetes/kubernetes/pull/91824/ files gets randomly generated as a result of running unit tests.

Example:
`make test WHAT=./pkg/registry/core/service/storage`

the following files gets randomly generated
`
pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
`

these are di

[2020-10-22 18:35] dims commented on #95803
/area code-organization

[2020-10-22 18:35] dims commented on #95803
/cc dims

[2020-10-22 18:56] gnufied opened #95804 "vSphere does not detaches volumes from a node if "VM not found" error"
Currently we don't detach volumes from a node if following error occurs:

[code]

This in itself is probably okay but the problem is - there could be many reasons "No VM found" error can be thrown in vSphere.
For example:
1. VM name or fqdn got changed.
2. There is this old bug about serial-id from two different sources.

So "No VM found" error in vSphere is transient and node can actually come ba

[2020-10-22 18:56] gnufied commented on #95804
/triage accepted

[2020-10-22 19:01] jackzzj commented on #79224
@BrijJhala
What do you mean by "K8 container will read it without any issue" ?
I've tried the same and my config file in the container does not container actual credentials, they remain as `${VAR}`

[2020-10-22 19:11] sayanchowdhury commented on #75114
Hi @dims @justaugustus 👋🏽 I'm from the Bug Triage Team! I don't see a lot of update on this issue in a while. The code freeze for 1.20 release is starting November 12th which is about 3 weeks from now. As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-22 19:36] Huang-Wei commented on #95738
Are we agreed on "exclude DaemonSet Pods from this feature of default affinity rules" by telling "if `.spec.metadata.name` is nil"?

[2020-10-22 19:36] danwinship commented on #95251
No, the dual stack KEP even explicitly calls out the fact that that it doesn't work that way:

There is no single source of truth for kubernetes cluster config, and thus there is no single truth about whether the cluster is IPv4, IPv6, dual-stack-IPv4-primary, or dual-stack-IPv6-primary. If we want kubelet to impose some policy on PodIPs, then we need to tell it what policy to impose, because it h

[2020-10-22 19:43] lingxiankong commented on #95304
According to https://logs.openlabtesting.org/logs/periodic-14/github.com/kubernetes/cloud-provider-openstack/master/cloud-provider-openstack-acceptance-test-e2e-conformance/7aa4451/job-output.txt.gz, the issue should be fixed now.

[2020-10-22 19:44] connorworkman commented on #79224
@jackzzj The application should use the value of the environment variable on startup (assuming the value was provided in the container's environment correctly).
For example, metricbeat: https://www.elastic.co/guide/en/beats/metricbeat/current/using-environ-vars.html
It could be possible that some applications don't support environment variables in their configuration files, but I haven't run into

[2020-10-22 19:47] alculquicondor commented on #95738
I'm not sure what you mean by `.spec.metadata.name` being nil. Whose? The Pod?

Unless you mean the node affinity using `metadata.name` that Daemonset pods get:
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#scheduled-by-default-scheduler

@ahg-g stance is to not do anything special with Daemonset Pods

I'm in the fence. Are there any other kind of Pods that could get affecte

[2020-10-22 19:47] jackzzj commented on #79224
@connorworkman
Aha, I see. The application is our own, so we probably need to modify it in order to support environment variables in config files.

[2020-10-22 19:48] ahg-g commented on #95738
I don't think we should do anything special for daemonsets, we just need to document the behaviour and propose a best practice. As I mentioned, this is not new, the existing nodelabel plugin has the same behavior.

[2020-10-22 20:15] fedebongio commented on #95496
/assign @lavalamp
/triage accepted

[2020-10-22 20:18] fedebongio commented on #95537
/assign @cheftako
/triage accepted

[2020-10-22 20:21] fedebongio commented on #95636
@wojtek-t are you planning on sending a fix for this one too? Thanks!

[2020-10-22 20:21] fedebongio commented on #95680
/triage accepted

[2020-10-22 20:24] fedebongio commented on #95706
/cc @thockin @khenidak

[2020-10-22 20:25] fedebongio commented on #95733
/help-wanted
comment: it will only be able to be backported up to 1.17 according to our policy

[2020-10-22 20:26] fedebongio commented on #95742
/assign @roycaihw
/triage accepted

[2020-10-22 20:28] fedebongio commented on #95779
/triage accepted

[2020-10-22 20:28] fedebongio commented on #95733
/help

[2020-10-22 20:33] lavalamp commented on #95496
I don't hugely object to adding this function, but given the stated reason, I think an application level fix is not right, and I don't want to start a precedent of carrying patches for that reason. Like, this is probably not even the only place in k8s where a patch would be necessary. So, I'm really sorry, because the LLDB bug looks very unfortunate, but I don't think I can sign us up to solve tha

[2020-10-22 20:33] #95496 closed

[2020-10-22 20:40] jangel97 commented on #95764
Hello, I redeployed the cluster with calico network plugin and the issue still persists.
[code]
From master machine I can contact core-dns via Services SDN. But pods don't have connectivity with Service SDN.

[2020-10-22 20:49] #95730 closed

[2020-10-22 21:04] dims commented on #75114
@sayanchowdhury i'll defer to @justaugustus as he was trying to figure out who may be able to help.

[2020-10-22 21:09] Huang-Wei commented on #95738
To clarify: in a cluster admin's angle, they should understand that a non-nil `NodeAffinityArgs` may cause a DaemonSet to create extra Pods in pending (unschedulable and unresolvable) state as profile-level node affinity constraints are not honored at Pod creation time (by DaemonSet controller).

[2020-10-22 21:16] ChunyiLyu opened #95808 "PodTopologySpread schedules pods to nodes without topologySpreadConstraints[*].topologyKey"
**What happened**:

I was testing out the pod topology spread functionality in a local `1.19` k8s cluster. I noticed that when I set the constraint to be

[code]
pods are still successfully scheduled.

**What you expected to happen**:

Reading the documentation on [pod topology spread conventions](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#conventions), I e

[2020-10-22 21:17] ChunyiLyu commented on #95808
/sig scheduling

[2020-10-22 21:22] ahg-g commented on #95738
The best practice would be to always have a default profile that daemonsets should use. If a second profile is added that explicitly targets a specific set of nodes, then daemonsets that use this profile being deployed only on those nodes is I think working as intended.

[2020-10-22 21:29] cnphil commented on #92738
/remove-lifecycle stale

Will expedite and merge the PR associated to this issue.

[2020-10-22 21:40] #78679 closed

[2020-10-22 21:47] Huang-Wei commented on #95738
LGTM, we should ensure end-user / cluster admin to be aware of this.

[2020-10-22 21:53] Huang-Wei commented on #95808
This sounds like a bug, I will look into it.

/assign

[2020-10-22 22:00] jsturtevant commented on #95735
I run into this again during scaling, collectiong logs for analysis here:

[code]

[code]

Metric Server logs:
[code]

Kubelet logs:
[code]

[2020-10-22 22:21] neolit123 commented on #95803
/sig api-machinery
(codegen related)

[2020-10-22 22:41] #91410 closed

[2020-10-22 22:46] liggitt commented on #95803
/assign @roycaihw

Not sure if there's something specific to this package or if it's a general generator issue

[2020-10-22 22:49] dougsland commented on #56402
Enhancement PR related to this issue:
https://github.com/kubernetes/enhancements/pull/2111

[2020-10-22 23:34] Huang-Wei commented on #95709
Agree.

[2020-10-23 00:11] wawa0210 commented on #95707
When your code is ready, you can pull a pr from your own repo to kubernetes' repo~~ Remember to read the connection I posted earlier and the sub-connections inside.

https://github.com/kubernetes/kubernetes/issues/95707#issuecomment-712948611

[2020-10-23 02:36] wwyhy commented on #61117
i got same issue on centos 7.6 with k8s 1.13.12 and docker 18.06.2-ce. it cause node reday/notready intermittently.
Reason:KubeletNotReady Message:PLEG is not healthy: pleg was last seen active 3m2.007756043s ago; threshold is 3m0s}

[2020-10-23 03:11] chendave commented on #95752
retries = len(preempted pods) * 2?  for most of case, this should be enough? I also think it might be overkill to make it configurable, I don't have solid reason that user has knowledge on how to configure times of retry.

[2020-10-23 03:34] yylt commented on #92460
Hitting the same issue

k8s version: v1.16.6
etcd: v3.4.3

etcd log:

[code]

apiserver log

[code]

It is look like etcd error

[2020-10-23 03:46] XueCangQiuYe opened #95814 "Can't enter the pod with error code 126"
**What happened**:
I use deployment to create a pod, the pod‘s status turn to running and ready turn to 1 In the first minute, I can use `kubectl exec -it pod-name -- bash` cmd to enter the pod.
But about ten hours later, the pod's ready turn to 0 and status still running.  I can not use `kubectl exec -it pod-name -- bash` cmd to enter the pod.
The error is:
[code]
I want to know, what caused this

[2020-10-23 03:46] #28321 closed

[2020-10-23 03:48] wyardley commented on #28321
/reopen

[2020-10-23 04:04] hustcat commented on #52902
+1 for this issue.

[2020-10-23 04:28] danielpops opened #95815 "Ability to provide OIDC authentication token to kubectl without leaking the token to the process table"
**What would you like to be added**:
The ability to pass an OIDC Authentication token via file or environment variable. e.g.

[code]

OR

[code]

**Why is this needed**:
Passing a sensitive string like an OIDC authentication token via the the command line e.g. `kubectl --token foo get pods` results in the sensitive string leaking into the process table, thus making it visible to anybody running `p

[2020-10-23 04:32] danielpops commented on #95815
/sig auth

[2020-10-23 04:32] danielpops commented on #95815
/sig cli

[2020-10-23 04:39] DP19 commented on #95785
I'd like to pick this up!

[2020-10-23 04:47] #91434 closed

[2020-10-23 05:15] #94291 closed

[2020-10-23 05:16] #90881 closed

[2020-10-23 05:17] #95598 closed

[2020-10-23 05:18] uablrek commented on #95251
That is still much better than to require this function from the CNI-plugin which is not even K8s and follows a specification.

[2020-10-23 05:29] uablrek commented on #95251
Please note that the networking e.g services, external access, works fine whatever order `podIPs` are in and whatever value `podIP` has. I have not found any communication problem in K8s >= v1.19 caused by this.

The value of `podIP` seem more "cosmetic". But it looks wrong to see ipv6 addresses of PODs in an ipv4-only cluster (https://github.com/kubernetes/kubernetes/issues/95251#issuecomment-714

[2020-10-23 05:36] zhouya0 commented on #95785
Ok,I'm not started :)
/unassign
/assign @DP19

[2020-10-23 06:03] evanrich commented on #88574
This is great!  I tried running it but the output file name didn't have the date:
 etcd-snapshot-.db

any ideas why?

[2020-10-23 06:18] #93165 closed

[2020-10-23 06:24] SergeyKanzhelev commented on #68522
@dashpole what's the plan here? Is this issue moving forward? Do we need re-discuss it based on recent comments?

I want to make sure this PR https://github.com/kubernetes/kubernetes/pull/95763 is not going to waste.

[2020-10-23 06:26] wojtek-t commented on #95636
Not very soon - if someone else could help with it, it would be great.

[2020-10-23 07:04] cpanato commented on #95729
much better https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api-provider-gcp#capg-conformance-v1alpha3-k8s-master have a fail, but i will observe in the following days

[2020-10-23 07:08] bai commented on #70189
Hey 👋 Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-23 07:09] bai commented on #90902
Hey 👋 Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-23 07:09] bai commented on #58034
Hey 👋 Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-23 07:45] SataQiu commented on #95446
/cc

[2020-10-23 07:52] foriequal0 commented on #74414
@njam I think wrapping this loop with `if !o.EnforceNamespace { ... }` would fix it.
https://github.com/kubernetes/kubectl/blob/release-1.18/pkg/cmd/apply/prune.go#L86-L90

[2020-10-23 08:08] YanzhaoLi opened #95817 "PSP seccomp needs annotations 'runtime/default' in 1.19.x"
**What happened**:

In k8s 1.19.2

If the seccomp annotations of psp doesn't contain `runtime/default`, pod with seccomp annotations `seccomp.security.alpha.kubernetes.io/pod: 'docker/default` would not start with error:
[code]

psp with `runtime/default` works
[code]

psp without `runtime/default` doesn't work
[code]

Is this due to https://github.com/kubernetes/kubernetes/pull/90948 ?

**What yo

[2020-10-23 08:22] JensErat commented on #87615
Good news: golang/net master has support for configuring http2 transports, which now allows setting the timeouts! https://github.com/golang/net/commit/08b38378de702b893ee869b94b32f833e2933bd2

[2020-10-23 08:27] chymy opened #95819 "The node status queried through kubectl is inconsistent with the status queried through the API"
**What happened**:
The node status  queried through kubectl is inconsistent with the status queried through the API
`kubectl get no`
![image](https://user-images.githubusercontent.com/9379950/96974279-96b35e00-154b-11eb-8101-db32bce83c97.png)

rest api:

"**conditions**": [{
				"status": "Unknown",
				"lasttransitiontime": "2020-10-16T06:25:28Z",
				"lastheartbeattime": "2020-10-16T06:23:25Z",

[2020-10-23 08:51] #91391 closed

[2020-10-23 09:10] povsister commented on #87615
WIP
Just verifying my solution.

[2020-10-23 09:19] lceni commented on #72811
As @meezaan mentioned above, it makes sense for me as well to set HPA utilization higher than 100%, limits are basically there to make your system to support bursts, until k8s spins more pods.

[2020-10-23 09:31] cwdsuzhou opened #95822 "Podstatus becomes MatchNodeSelector after restart kubelet"
**What happened**:

More than 2500s node in our cluster. When we restart the kubelet at same time. Some pod status become `MatchNodeSelector ` and they were killed.

**What you expected to happen**:

Pod should not be killed, should still running.

**How to reproduce it (as minimally and precisely as possible)**:

Build a large cluster, and restart the kubelrt. This may be unacceptable.
Anther cho

[2020-10-23 09:33] cwdsuzhou commented on #95822
/sig kubelet

[2020-10-23 09:33] cwdsuzhou commented on #95822
/sig node

[2020-10-23 10:06] JornShen commented on #95822
It seems a MR also try to deal with this problem at https://github.com/kubernetes/kubernetes/pull/94087/files

[2020-10-23 10:29] neolit123 commented on #95729
Thanks, Carlos!

[2020-10-23 11:06] #92111 closed

[2020-10-23 11:06] #95642 closed

[2020-10-23 11:08] sseneca opened #95826 "k8s v1.19.3 fails to run on btrfs"
**What happened**:

I tried to upgrade from v1.18.9 to v1.19.3, but v1.19.3 didn't work on my cluster:

[code]

What follows is impressively long (~1600 lines long), the start of which looks like this:

[code]

**What you expected to happen**:

Cluster should be updated to v1.19.3 and run fine.

**How to reproduce it (as minimally and precisely as possible)**:

Install [k3s](k3s.io), version v1.18

[2020-10-23 11:16] sseneca commented on #95826
/sig storage

[2020-10-23 11:58] tdensmore commented on #82905
Given the amount of time that issues concerning `kustomize` versions have been open ([here](https://github.com/kubernetes-sigs/kustomize/issues/1424https://github.com/kubernetes-sigs/kustomize/issues/1424) and [here](https://github.com/kubernetes-sigs/kustomize/issues/1500)), would it be easier to integrate _krew_ with `kubectl` by default and make `kustomize` a _krew_ plugin (versioned binary) th

[2020-10-23 12:30] danwinship commented on #95785
There are two different externalIP codepaths, one for the case where the claimed external IP exists as an IP on the default interface, and one for where it does not. I suppose we could just temporarily add an IP to the default interface...

That IP belongs to someone, somewhere. It would be better to use an IP in a reserved range. Though technically incorrect, we could probably use one of the rang

[2020-10-23 12:36] Ankur7890 opened #95827 "Kubernetes pod using all nodes vCPU"
I have a 8vcpu/8core box worker node where we are running our nginx pods.  nginx pods are limited to use only 2cores max in

YAML definition i.e
request cpu:- 500m
limit cpu:- 2

nginx configuration as below,

worker_process 2
worker_cpu_affinity auto;

nginx is using only 1st 2 CPU00, CPU01 of the nodes with 2 child processes and rest of other 6 CPUs are idle.

whereas with below nginx configurat

[2020-10-23 12:51] #86349 closed

[2020-10-23 12:58] jayunit100 commented on #47797
were going to propose this to the sig-network group

[2020-10-23 12:59] johnreytanquinco opened #95830 "How to define wildcard in yaml file"
Hello, I am trying to look on how to define a wildcard as host because it is requires to access the application server.
I am getting this error message:
`The host header sent by the client is not allowed`

When I research on the net, it requires to add the wildcard as hostname.
`--webservice-allowed-hostnames=*`

Is there a way to include `*` in my yaml file?
[code]

[2020-10-23 13:09] aojea commented on #95785
good idea Dan
Please remember, it has to work for IPv6 and for IPv4 ... anyway, we can address these things during the review

[2020-10-23 13:35] thejoycekung opened #95832 "[Failing Test] Kubectl client Kubectl server-side dry-run should check if kubectl can dry-run update Pods"
**Which jobs are failing**:
- `ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts`
- `periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts`

Also flaking on: `ci-kubernetes-e2e-gci-gce`

**Which test(s) are failing**:
`Kubectl client Kubectl server-side dry-run should check if kubectl can dry-run update Pods`

**Since when has it been failing**:
~Sin

[2020-10-23 13:37] thejoycekung commented on #95729
@cpanato Thanks for your help! I think the fail is unrelated, that test is failing/flaking across several other jobs so I logged another issue for it.

[2020-10-23 13:39] cpanato commented on #95729
I open a PR for a fix proposal for that test: https://github.com/kubernetes/kubernetes/pull/95831

[2020-10-23 13:40] fl-max commented on #90922
/remove-lifecycle rotten

[2020-10-23 13:42] thejoycekung commented on #95832
Fixed by #95831 🤞

[2020-10-23 14:04] alculquicondor commented on #92170
/unassign @zhouya0

/help

See kubernetes/website#24041 for previous discussions

[2020-10-23 14:08] alculquicondor commented on #95752
That sounds reasonable to me. @Huang-Wei ?

[2020-10-23 14:32] AntonOfTheWoods commented on #93001
@mseewooth , you wouldn't happen to have some instructions on how you set this up by any chance? I would love to set up a cluster on Contabo but can't see how to get started without private IPs...

[2020-10-23 14:53] alculquicondor commented on #95738
/assign

[2020-10-23 15:15] troy0820 commented on #95830
Hostname wildcards examples are listed here. https://kubernetes.io/docs/concepts/services-networking/ingress/#hostname-wildcards
/sig networking

[2020-10-23 15:16] troy0820 commented on #95830
/sig network

[2020-10-23 15:20] troy0820 commented on #95814
/kind support
/remove-kind bug

[2020-10-23 15:33] johnreytanquinco commented on #95830
Thank you for the quick response. Yes, I have been in that documentation, but it does not meet my concern.

This [issue](https://github.com/kubernetes/kubernetes/issues/41881) should fit to me but looks like it does not have specific and precise answer yet.

[2020-10-23 15:39] troy0820 commented on #95819
/sig node

[2020-10-23 15:45] hemuke commented on #94155
@yehaifeng
We have the same problem here with k8s 1.19.3 and etcd 3.3.14. Were you able to fix the problem?
kube-apiserver: I1023 23:42:48.507405   59567 controlbuf.go:508] transport: loopyWriter.run returning. connection error: desc = "transport is closing"
kube-apiserver: I1023 23:42:48.618611   59567 client.go:360] parsed scheme: "passthrough"
kube-apiserver: I1023 23:42:48.618661   59567 passt

[2020-10-23 15:50] tallclair commented on #95306
I'm going to drop the milestone. I think this needs a bit more discussion, and I'm not going to get to the code before freeze.

[2020-10-23 15:52] tallclair commented on #55616
xref: https://github.com/kubernetes/kubernetes/issues/84571

[2020-10-23 15:57] tallclair commented on #94658
I think this is on track. I just approved the node e2e change, and I think the apiserver change should be straightforward.

[2020-10-23 15:58] #91365 closed

[2020-10-23 16:27] Pluies commented on #21714
FWIW I've noticed this as well on our cluster, and spoiler alerts, it had to do with taints & tolerations!

Full write-up: https://blog.florentdelannoy.com/blog/2020/kube-daemonset-misscheduled/

[2020-10-23 16:31] apelisse commented on #90902
As sad as it is to say that, I have no hope to get this done in 1.20. Thank you. :-(

[2020-10-23 16:43] marosset commented on #70189
@bai - Yes, we'd like to make it into 1.20.
We were waiting on some bugfixes in the Windows OS and those bugfixes are now available (as of Oct 20 2020).

[2020-10-23 16:43] marosset commented on #70189
/remove-lifecycle frozen

[2020-10-23 16:44] marosset commented on #70189
/priority important-soon

[2020-10-23 16:45] liggitt commented on #94528
It looks like the 7 unresolved items in https://github.com/kubernetes/kubernetes/issues/94528#issuecomment-687208028 are the remaining issues with this job (the negative query at the bottom of that comment shows clean runs otherwise). I grouped them by sig. I think the next steps are:

1. Make sure there are open issues for each flake, assigned to the right SIG
2. Make sure those SIGs owners know

[2020-10-23 16:48] marosset commented on #70189
I believe the work involved here is to
- update
https://github.com/kubernetes/kubernetes/blob/ec453ffb1a8c829ae5d62400a845836f708f80d0/pkg/kubelet/kubelet_pods.go#L137-L145 to enable this fucntionality for WIndows if container-runtime == remote (still disable this for DockerShim)
- Update/Add test coverage
- Update documentation - possible this section https://kubernetes.io/docs/setup/production-e

[2020-10-23 16:53] kishorj commented on #65613
With kubernetes 1.20 (also backported to EKS 1.18) and the new [AWS Load Balancer controller] (https://github.com/kubernetes-sigs/aws-load-balancer-controller), it IP targets can configured for NLB.

[2020-10-23 16:55] #95808 closed

[2020-10-23 17:02] dashpole commented on #68522
@SergeyKanzhelev Thanks for bumping this.  Given the process we recently took for Accelerator metrics, it seems like deprecating a set of metrics should have its own KEP.  This was originally part of [the metrics overhaul](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20181106-kubernetes-metrics-overhaul.md#export-less-metrics), but was removed from that KEP recen

[2020-10-23 17:09] thejoycekung commented on #95304
@lingxiankong Sorry about the late response - just wanted to give it another run. Yep, looks like these tests are no longer running! Thanks so much for your help. I think we can close this now.

/close

[2020-10-23 17:09] #95304 closed

[2020-10-23 17:09] SergeyKanzhelev commented on #68522
got it. Set PR on hold for now. Is this something that sig instrumentation can discuss and push forward?

[2020-10-23 17:10] dashpole commented on #68522
Sig-node has historically handled questions of which endpoints the kubelet exposes.  Sig-Instrumentation should probably be an involved sig

[2020-10-23 17:26] mradmila commented on #53188
Hi @verb, I am running Kubernetes 1.18.6, and I've tried to use the "alpha debug" feature to debug my distroless container. However, contrary to what @YangKeao mentioned above, I am not getting CAP_SYS_PTRACE capability by default, nor there is a way to set it. Needless to say, I need this capability in order to attach the debugger. Am I missing something obvious?

kubectl alpha debug -it debug-de

[2020-10-23 17:45] Huang-Wei commented on #95752
I think we're talking two things here:

1. When to dishonorr a Pod's nominatedNodeName field?
1. The "over-relaxed" logic that checks whether a nominated node should continue, as @chendave mentioned:
    https://github.com/kubernetes/kubernetes/blob/9a6e35a16a92feac757bf0621a09a2661f617617/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L211-L213

I understand that add retr

[2020-10-23 17:56] #94658 closed

[2020-10-23 18:00] #81806 closed

[2020-10-23 18:43] jsturtevant commented on #95735
@jeremyje @pjh have you experienced this at all?

[2020-10-23 18:45] XanderStrike commented on #48528
@lavalamp we're still interested in this feature. Has it been implemented and I just can't find it anywhere? This shouldn't be closed if the outcome hasn't been accomplished.

[2020-10-23 18:55] damemi opened #95837 "Update storage nodeAffinity check to use node object"
https://github.com/kubernetes/kubernetes/pull/95531 refactors and moves the scheduler helpers related to `CheckNodeAffinity` to accept a node object instead of a list of labels and fields.

This affects storage code in some places but in operation_generator.go there is a usage that does not have access to a node object: https://github.com/kubernetes/kubernetes/blob/77b725784c2f9ba6913a0229446b6ef7

[2020-10-23 18:56] damemi commented on #95837
/assign @msau42

[2020-10-23 18:57] XanderStrike opened #95838 "Services can select multiple backends"
**What would you like to be added**:

I would like a system whereby Service objects can route to multiple backends that do not share labels (and who's labels I do not control).

https://github.com/kubernetes/kubernetes/issues/48528 describes one possible solution, but it was closed by a bot for no reason.

**Why is this needed**:

In a blue-green deploy case, I would like to have a service pointin

[2020-10-23 18:57] XanderStrike commented on #95838
/sig api-machinery

[2020-10-23 19:01] jeremyje commented on #95735
I believe @jingxu97 has seen high CPU issues before. Not particularly on this. I've heard there were kernel issues in the past that triggered high CPU cases.

[2020-10-23 19:03] marosset commented on #95735
Some investigations on our end are showing that the DiagTrack service running in the infra/pause container can consume non-trivial amounts of CPU.
I'll create an issue to address that problem as it might help out some here.
That certainly will not eliminate the problem we are seeing tho.

[2020-10-23 19:15] #95700 closed

[2020-10-23 19:26] marosset opened #95840 "DiagTrack service running in Windows infra/pause container is consuming non-trival amounts of CPU"
DiagTrack service running in Windows infra/pause container is consuming non-trivial amounts of CPU.

**What happened**:
Running many pods results in elevated CPU usage on Windows nodes caused by the DiagTrack service running in the different infra/pause contianers.

**What you expected to happen**:
Infra/pause container should not consume unnecessary resources.

**How to reproduce it (as minimally

[2020-10-23 19:26] marosset commented on #95840
/sig windows

[2020-10-23 19:26] marosset commented on #95735
https://github.com/kubernetes/kubernetes/issues/95840 is an issue for DiagTrack

[2020-10-23 19:29] marosset commented on #95840
Since we switched the build process to use `buildx` wen cannot use RUN commands in the Dockerfile for the WIndows pause image.

Maybe we can just change the start command to first call `sc.exe stop diagtrack &&` to stop the service at container start time.

[2020-10-23 20:15] alculquicondor commented on #95752
I like the idea of a Condition. We just need to make sure we get the updates and that we are ignoring them to cause any scheduling retries.

[2020-10-23 21:08] r0bj opened #95842 "KubeSchedulerConfiguration documentation example fail"
**What happened**:

Using example for `KubeSchedulerConfiguration` from documentation https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#cluster-level-default-constraints failed with:
[code]

**What you expected to happen**:

Example from documentation works.

**How to reproduce it (as minimally and precisely as possible)**:

config.yaml:
[code]
[code]
[code]

How

[2020-10-23 21:08] invidian commented on #49387
/remove-lifecycle stale

[2020-10-23 21:09] r0bj commented on #95842
/sig scheduling

[2020-10-23 21:29] judeki commented on #13382
if Anyone still Getting this Bloody error as l have spend a lot of time before l find the solution that work for me
Though this is in Minikube env
First thing
$Minikube Stop
$virtualbox
increase the CPU memory of your VirtualBox
$ Minikube start

Job done

[2020-10-23 21:44] alculquicondor commented on #95842
/triage accepted

oh, I missed a dash. It should be:

[code]

Would you mind sending a PR to kubernetes/website?

[2020-10-23 21:47] justenwalker commented on #95496
Thanks for the feedback @lavalamp.

Hope against all hope I'd like to appeal this decision (@deads2k)

I appreciate that this change may start a bad precedent of accepting patches for platform-specific reasons, but I'm not sure I agree that this down-side alone completely out-weighs the benefit to developers on MacOS debugging controllers and k8s resources.

While I'd love for this to be fixed ups

[2020-10-23 22:02] apelisse commented on #39188
@brianpursley You forgot 4. Use server-side apply and the new listMapKey that allow for multiple merge keys.

[2020-10-23 22:19] #94967 closed

[2020-10-23 22:21] Huang-Wei commented on #95752
The preemptor will be retried after N cycles (N depends on the pending high or equal priority pods in the internal queue), and during that time, IMO in most cases scheduler should be able to get the updated Pod object with that condition populated. If not for the first time, we can still get that eventually.

[2020-10-24 00:36] ehashman commented on #69825
Tracking KEP issue is https://github.com/kubernetes/enhancements/issues/1602

- Alpha in 1.19
- Beta in ???
- GA in ???

See also https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/ and https://kccncna20.sched.com/event/ekCo/structured-logging-in-kubernetes-119-marek-siarkowicz-pawel-kepka-google

[2020-10-24 00:50] robscott commented on #92147
I'd discussed this a bit with @cmluciano on Slack today but just realized I never followed up here. I think these tests are still valuable to have in the e2e suite. I'd hate to not have any coverage for this feature in e2e tests which I think is what we'd end up with if we only ran the tests in clusters that already had a default ingressclass. Maybe in time more environments will actually provide

[2020-10-24 01:07] #89313 closed

[2020-10-24 01:07] #91464 closed

[2020-10-24 01:28] mattcary commented on #95588
Sorry for the delayed response, I was OOO.

@JornShen I would be happy for you to contribute a PR! @jsafrane has given you excellent starting advice as usual.

Let me know if you plan to start a PR and/or if you need any additional help/guidance/encouragement :-)

[2020-10-24 05:06] brianpham commented on #89898
Ran into a similar issue this week after upgrading EKS 1.17 to 1.18 where my grafana cluster would come partially up. 2 of the 3 pods would return with liveness or readiness probe failed connection refused. I tried many different solutions with no luck.

Eventually, the only thing that seem to fixed the issue was performing a rolling restart of the worker nodes as suggested by @sownak Now all the

[2020-10-24 07:38] arash-bizcover opened #95846 "Support year in cronjob (one-off jobs)"
Having the ability to run a job in an exact point in time is a basic requirement for the jobs.

[2020-10-24 07:40] arash-bizcover commented on #95846
/sig architecture

[2020-10-24 09:00] mohamedelhabib commented on #24873
Same as @nathan-c
I removed `events` from resources list to fix errors
[code]

[2020-10-24 09:15] #88565 closed

[2020-10-24 10:18] sarthak-sriw commented on #71647
I tried to run  **kubectl create -f mysql-podpreset.yml**
I am getting following error :Error from server (InternalError): an error on the server ("") has prevented the request from succeeding

[2020-10-24 10:36] queenns opened #95850 "kubectl get cs unknown"
**What happened**:
[~]# kubectl get cs
NAME                 AGE
controller-manager   <unknown>
scheduler            <unknown>
etcd-0               <unknown>
etcd-2               <unknown>
etcd-1               <unknown>

[~]# kubectl get cs -o yaml
apiVersion: v1
items:
- apiVersion: v1
  conditions:
  - message: ok
    status: "True"
    type: Healthy
  kind: ComponentStatus
  metadata:
    creati

[2020-10-24 10:43] queenns commented on #95850
/sig ctl

[2020-10-24 10:45] queenns commented on #95850
/sig cli

[2020-10-24 10:59] #95850 closed

[2020-10-24 11:05] sayanchowdhury commented on #74352
👋🏽 Hey! I'm from the Bug Triage team. This issue has not been updated for a while, so I'd like to check on the status. The code freeze is starting November 12th (about 3 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-24 11:10] sayanchowdhury commented on #82295
👋🏽 Hey @tallclair @immutableT ! I'm from the Bug Triage team. This issue has not been updated for a while, so I'd like to check on the status. The code freeze is starting November 12th (about 3 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-24 11:12] sayanchowdhury commented on #92963
👋🏽 Hey! I'm from the Bug Triage team. This issue has not been updated for a while, so I'd like to check on the status. The code freeze is starting November 12th (about 3 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-24 11:14] sayanchowdhury commented on #65200
👋🏽 Hey @liggitt ! I'm from the Bug Triage team. This issue has not been updated for a while, so I'd like to check on the status. The code freeze is starting November 12th (about 3 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.20, is it still planned for this release?

[2020-10-24 12:03] impsik opened #95851 "vSphere (CSI) plugin :Failed to get shared datastores in kubernetes cluster"
/sig cloud-provider
/sig storage

**What happened**:
I'm trying to provision volume in vsphere.
I have Secrets, configmap, statefulset, daemonset, service and pods up and running. Storage name is correct.
From logs:

[code]
[code]
[code]
[code]
[code]
Using CSI driver: image: gcr.io/cloud-provider-vsphere/csi/release/driver:v1.0.2 and vSphere 7.
Specified user also has access to that storage.
I'm

[2020-10-24 14:37] OliverCole commented on #8876
/remove-lifecycle stale

[2020-10-24 14:59] ramnar commented on #92402
@obeyda - Can you list the packages left which needs fix? I can take up some

[2020-10-24 15:22] kvaps commented on #8876
Not sure if everyone know, but

[code]
Solves this issue to me.

[2020-10-24 15:25] OJFord commented on #8876
Agh! @kvaps, thank you! How long has that been possible without me realising..? :man_facepalming:

(NB solves the 'run on any one' case that I care about, but not (unless there's some flag) the 'run on all' case that some others want.)

[2020-10-24 15:39] obeyda commented on #92402
@ramnar, that would be [this](https://github.com/kubernetes/kubernetes/issues/92402#issuecomment-710667915) minus these packages: `vendor/k8s.io/apiserver/pkg/{storage, util, authenticator, authorizer}`

as mentioned in previous comments, if you're working on a package it's better to mention that in the comments to avoid duplication.

[2020-10-24 16:20] kvaps commented on #89181
/remove-lifecycle stale

[2020-10-24 16:29] kvaps commented on #83094
I just wanted to mention here that I have tricky solution for this by using go-template and cause an error when condition is true. Eg:

[code]

More details here:
https://stackoverflow.com/a/63077951

[2020-10-24 17:23] #60535 closed

[2020-10-24 17:25] loozhengyuan commented on #87840
/remove-lifecycle stale

[2020-10-24 19:29] ghudgins commented on #95039
same for me on 1.19.3 / Ubuntu 20.04.1 LTS / 5.4.0-1022-raspi

[2020-10-24 19:36] vinayagg commented on #69687
@johanneswuerbach can I suggest following use case which can enable scaling web apps to 0 pods.
Most, if not all, can be done with your proposal. A new ingress controller and a sliding scale counter needs to be implemented (or prometheus?). But I wanted to suggest this use case so you can review if your proposal/code needs some tweaking.

- Let's say there are 100 users, user1 to user100, each one

[2020-10-24 20:55] ialidzhikov commented on #89492
/remove-lifecycle stale

[2020-10-24 21:27] #89910 closed

[2020-10-25 02:23] kspviswa commented on #94892
Also interested to contribute if @aistein or @yehiyam is not pursuing this.

[2020-10-25 02:25] Starttoaster opened #95854 "Always-If-Available Image Pull Policy"
**What would you like to be added**:

EDIT: I submitted what I think is a better idea to address the same problem here: https://github.com/kubernetes/kubernetes/issues/99009

An image pull policy that is very much like `Always` but with a catch. General flow on a new pod spinning up as follows:

1. Checks for the latest image on the remote registry
2. Checks for the presence of a locally-cached co

[2020-10-25 02:29] rikatz commented on #94883
@Yaroze Is the issue solved? Can this be closed?

Thank you

[2020-10-25 02:35] kspviswa commented on #94091
I would like to begin my K8S contribution journey with this issue if it is still available to be picked up and still valid (after reading comments from @BenTheElder ). Please let me know.

[2020-10-25 02:37] Starttoaster commented on #95854
/sig node

[2020-10-25 03:33] #77383 closed

[2020-10-25 04:34] #91458 closed

[2020-10-25 07:11] mastertheknife commented on #67202
Hi,

I'm using kubernetes on-premise with Calico. Calico allows advertising the service IPs range to the internal BGP routers (makes sense on-premise), which is very good for internal communication company-wide.

However, i am unable to understand why externalTrafficPolicy: Local requires service of type NodePort.
The NodePort isn't needed here, because the service IP (clusterIP) is used here. It

[2020-10-25 07:36] victor-timofei commented on #95733
Hello, can I take on this issue?

[2020-10-25 08:13] wawa0210 commented on #95840
/cc

[2020-10-25 08:53] #95842 closed

[2020-10-25 09:00] metalheadaakash opened #95855 "HPA not able to get the CPU metric."
I have deployed an app and exposed it as a loadbalancer service. I added the resource field in the yaml of the deployment to request for 100m cpu. Defined a HPA to scale the app when the CPU goes above 50%. The app fails to autoscale and the cpu utilization always shows as unknown.kubectl describe hpa gives the following result:
[code]
Kubectl top node commands works. I deployed a demo wordpress a

[2020-10-25 09:21] Amyth07 commented on #94091
Hey, Can I take this ?

[2020-10-25 10:18] yehiyam commented on #94892
@kspviswa I'd like to do this. Waiting on @aistein to hear that he is not working on it

[2020-10-25 10:42] chbois commented on #89181
Hi,
On my current project we are deploying k8s on an overlay filesystem and we are facing the very same issue on v1.15.9 for pods with subpath. The mount point check performed after the unmount is not working as intended because the file corresponding to the mount point and its upper directory are not reported as belonging to the same file system device.
I did not have the opportunity to test it u

[2020-10-25 11:04] fabifrank commented on #77508
Is there something meanwhile? We running into a similiar issue: We have different Namespaces and want to set resource quotas per namespace, thus priorityclasses dont make sense.

[2020-10-25 11:12] JornShen commented on #95588
I' m Still working on in it.
Thanks a lot!

[2020-10-25 11:15] kvaps commented on #89181
@chbois this fix https://github.com/kubernetes/utils/pull/161 is solves the problem, but I started using tmpfs on /var/lib/kubelet as reilable workaround.

[2020-10-25 11:58] ocervinka commented on #50375
+1

[2020-10-25 12:02] fonsecas72 commented on #95596
Hello @thockin sorry but be bugging you, but I have opened the PR but I had 0 response since then. I think I have met all the requirements, so I was wondering (as this is my first PR in k8s) if you could help me a bit.  Thanks anyway.

[2020-10-25 13:09] zhangnju opened #95857 "error execution phase kubelet-start"
HI

my k8s worker node is running on ARM device, and when it joined a cluster, I met the time out issue. do you know what factors may cause the below issue?
Thanks

[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp [::1]:10248: connect:

[2020-10-25 13:33] jayunit100 commented on #95830
@distributethe6ix interested in the one?

[2020-10-25 13:36] jayunit100 commented on #95733
hi @victor-timofei are you going to do the back port ?  Im not sure anyone else is owning this so, seems like a reasonable idea.  Im not familiar w/ the technical details yet but ill dig in today.

[2020-10-25 13:36] jayunit100 commented on #95733
/assign @victor-timofei

[2020-10-25 15:06] jayunit100 commented on #95712
@distributethe6ix

[2020-10-25 16:17] somdoron commented on #47202
@mattfarina @soltysh now with [KEP-19: Graduate CronJob to stable](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/19-Graduate-CronJob-to-Stable#support-timezone-for-cronjobs), which mention timezone as one of the improvements for consideration, is approved and merged and the work on [cronjob controller v2](https://github.com/kubernetes/kubernetes/pull/93370/files) is in proce

[2020-10-25 17:11] neolit123 commented on #95851
please log this ticket here:
https://github.com/kubernetes-sigs/vsphere-csi-driver

/close

[2020-10-25 17:11] #95851 closed

[2020-10-25 17:13] neolit123 commented on #95857
kubeadm has users on ARM, so this must be something related to the kubelet failing on your setup.
please try #kubeadm on k8s slack or other support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/area kubeadm
/sig cluster-lifecycle
/close

[2020-10-25 17:13] #95857 closed

[2020-10-25 17:14] neolit123 commented on #95855
/sig autoscaling

[2020-10-25 17:14] neolit123 commented on #95827
please try the support channels:

[2020-10-25 17:14] neolit123 commented on #95827
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
/close

[2020-10-25 17:14] #95827 closed

[2020-10-25 17:15] neolit123 commented on #95817
/sig auth

[2020-10-25 17:16] neolit123 commented on #95814
/sig node

[2020-10-25 17:16] neolit123 commented on #95778
/sig storage

[2020-10-25 18:48] #91147 closed

[2020-10-25 19:02] grepthat commented on #73269
It seems like the [vertical-pod-autoscaler](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler) might be a solution to this problem?

[2020-10-25 19:49] #77259 closed

[2020-10-25 19:49] #78948 closed

[2020-10-25 20:24] ahanafy commented on #90066
Not that its really a solution to the core complaint above, but I had the same concern until i realized i could get the output im used to seeing by patching the output:
`kubectl patch deployment foobar --type=json -p '[{"op": "remove", "path": "/metadata/managedFields"}]' -o yaml --dry-run=client`
Its a little involved and not as great as just "kubectl get deploy foobar -oyaml" for example, but it

[2020-10-25 21:18] mortent commented on #92826
/remove-lifecycle stale

[2020-10-25 23:42] MonzElmasry commented on #75564
Hey :wave: Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-25 23:43] MonzElmasry commented on #82532
Hey :wave: Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-25 23:43] MonzElmasry commented on #72956
Hey :wave: Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-25 23:43] MonzElmasry commented on #93699
Hey :wave: Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-25 23:44] MonzElmasry commented on #88553
Hey :wave: Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-25 23:46] MonzElmasry commented on #89267
Hey :wave: Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-25 23:50] mkumatag commented on #95832
This is affecting ppc64le jobs as well.

[2020-10-26 00:41] jmbeach commented on #43805
I got this error because I hadn't done the [post-installation steps](https://docs.docker.com/engine/install/linux-postinstall/) for installing docker (so you don't have to run docker as root).

After doing that, I got a new error:

[code]

Have more work to do I guess

[2020-10-26 01:38] snowsky commented on #95854
This is a nice feature to have. Sometimes I need the image to be pulled so have to update this attribute to Always.

[2020-10-26 01:59] feiskyer commented on #76657
/assign @nilo19

[2020-10-26 02:42] k82cn opened #95859 "Replace ETCD with other KV storage"
**What would you like to be added**:

We'd like to have an interface for apiserver backend storage, so we can use other KV storage instead of

**Why is this needed**:

We'd like to improve the performance and support DR :)

/sig api-machinery

[2020-10-26 02:44] zhangguanzhang commented on #90503
/remove-lifecycle stale

[2020-10-26 02:48] dims commented on #95859
please start with a KEP :)

[2020-10-26 03:53] ali-raza-tariq opened #95860 "kubernetes pod-to-pod low bandwidth"
**What happened**:
Hello everyone! i am kinda new to Kubernetes setup and don’t know a lot about its network settings. I did a test setup on 3 bare-metal nodes (running v1.19.3 using flannel cni). The nodes are connected via 10Gbits/s links. When i ran iperf on two different nodes, it showed a bandwidth of 9.4GBits/s which is what i would expect. But when i ran two pods on these two nodes and did

[2020-10-26 03:58] ali-raza-tariq commented on #95860
/sig Network

[2020-10-26 04:05] DemonsLu opened #95861 "Separate the upscale and downscale configuration of hpa"
**What would you like to be added**:
Separate the upscale and downscale configuration of hpa.

**Why is this needed**:
consider this:
1. we deployed a deployment which replicas is 4, cpu resource request is 2 core, and hpa's cpu targetAverageUtilization is 100.
2. The current service corresponding to the deployment, the total cpu load is 8.8 core.
3. According to the hpa config, pod targetAverageU

[2020-10-26 04:07] DemonsLu commented on #95861
/sig autoscaling

[2020-10-26 04:40] Starttoaster opened #95862 "Control Plane level Image Caching"
**What would you like to be added**:

Container image caching at the control plane level that pushes its cache to new nodes (such as when the cluster scales horizontally) as needed.

**Why is this needed**:

When new nodes are added to a cluster, they don't contain any of the local image caches yet that the other worker nodes have acquired. When pods are scheduled to this new node, they may be loo

[2020-10-26 04:40] Starttoaster commented on #95862
/sig node

[2020-10-26 05:46] #88523 closed

[2020-10-26 06:35] joakimr-axis commented on #72956
Current status is (still) 3 remaining (although a handful of the sub-PRs for cluster/gce/util.sh have been merged):

./cluster/gce/gci/configure.sh #90442 **(all tests passed, ready for jay or nay)**
./cluster/gce/gci/master-helper.sh #88582 _(closed due to inactivity!)_
./cluster/gce/util.sh #90405 (has sub-PRs #94456 #94459 #94463 breaking up all the changes into smaller pieces easier to handle)

[2020-10-26 07:01] dmanbu commented on #39170
I ran into the same problem, thank you very much for your answers

[2020-10-26 07:04] joakimr-axis commented on #72956
I have now created #95865 which is bringing @gavinfish's closed-due-to-inactivity #88582 back to life with a few updates. With that one, the lineup of active ongoings would look like:

./cluster/gce/gci/configure.sh #90442 (all tests passed, ready for jay or nay)
./cluster/gce/gci/master-helper.sh #95865
./cluster/gce/util.sh #90405 (has sub-PRs #94456 #94459 #94463 breaking up all the changes int

[2020-10-26 07:07] k82cn commented on #95859
That's great if the direction is overall ok to us :)

[2020-10-26 07:35] gerardgorrion commented on #95106
The same here in EKS 1.15. We add:  service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags, and it showed into descition of the service, but on AWS console no.

Regards,

[2020-10-26 07:40] krmayankk commented on #95861
1.18 v2beta2 already supports what you are looking for https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#default-behavior . Please read the `behavior` section and confirm

[2020-10-26 07:42] krmayankk commented on #95859
Is it a requirement that the KV storage must support watch functionality ? How much of apiserver functionality is dependent on that feature ?

[2020-10-26 07:49] krmayankk commented on #95838
/remove-sig api-machinery

/sig network

[2020-10-26 07:49] pohly commented on #89312
I wouldn't say it's blocked, but related. An initial implementation of this issue here could proceed as described and ignore storage capacity tracking.

The original description says:

Why would PVCs need to be simulated?

Simulating a fake PV may be useful if that is how local SSDs are currently exposed. https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner supports that, I am j

[2020-10-26 07:51] krmayankk commented on #95838
Typically this use case is solved by uber controllers. A very good example is [ArgoRollouts](https://argoproj.github.io/argo-rollouts/) . While I agree such a solution at k/k is desirable, i think service object presents a low level  primitive(lowest common denominator) on which solutions like that can be built upon

[2020-10-26 07:52] pohly commented on #95497
Each controller has it's own client-go instance and thus its own request rate control. Perhaps it would make sense to allow configuring QPS and burst per controller? Just a thought.

[2020-10-26 07:52] krmayankk commented on #95859
@k82cn  do you mean etcd performance is reaching its limit ? From an interface point of view, does [kine](https://github.com/rancher/kine) fit the bill

[2020-10-26 08:01] DemonsLu commented on #95861
Wonderful~ It's my fault to read doc uncarefully, thanks for your response~

[2020-10-26 08:29] kmindi commented on #87917
/remove-lifecycle stale

[2020-10-26 08:29] hanlins commented on #95727
/assign

[2020-10-26 08:39] saschagrunert commented on #90119
/remove-lifecycle stale

[2020-10-26 08:39] saschagrunert commented on #90119
/help

[2020-10-26 08:43] dgrisonnet commented on #92500
/remove-lifecycle rotten

[2020-10-26 08:45] ufou commented on #4301
I am trying to work out if the down scaling strategy we desire is covered by the kep or not. Our workload is based on long lived tcp streams being served to backends via a proxy - the HPA can scale up based on the number of incoming proxy connections, downscaling is problematic as we need to wait for the stream to end - the most simple solution would be waiting for the pod to drop below a specifie

[2020-10-26 08:48] qixiaobo commented on #68211
We use 1.16 also meet this problem~

[2020-10-26 08:59] hanlins commented on #95860
Hi @ali-raza-tariq, flannel is an overlay CNI solution and it will involve encapsulation/decapsulation. Have you tried other solution? If throughput is your concern maybe you can try Calico with pure L3 pod network, that eliminates the encapsulation overhead.

[2020-10-26 09:12] kwiesmueller commented on #75564
Yes, this is still intended for the next release.

[2020-10-26 09:15] moskit commented on #62283
One obvious problem with this approach is that if a target definition includes the API version, one cannot get it from the declarations and have to fetch the actual version from etcd first.
Well, not a real problem, but a little frustrating.

[2020-10-26 09:21] aojea commented on #87603
/remove-lifecycle stale

[2020-10-26 10:21] chendave commented on #95752
Pod condition sound good to me, some comments from me if we decide to go with Pod condition,

- I come across an aged issue https://github.com/kubernetes/kubernetes/issues/50798, which has been discussed long time ago,  which in favor of deprecating the `Pod.status.condition`, is that still the case?
- I am not quit following the formula used as the example,
`victim.DeletionTimestamp.Before(preemp