[2018-03-29 00:34] bsalamat commented on #61645
We plan to deprecate and disable rescheduler, but it has not happened yet. That's why the test is skipped in 1.10.

I looked at the failure. The failure does not seem to be related to the actual function of rescheduler. The test fails at an earlier point [where it looks for "kubernetes-dashboard" deployment in "kube-system" ](https://github.com/kubernetes/kubernetes/blob/233cb1f905d515/test/e2e/sc

[2018-03-29 00:50] mikedanese commented on #58084
I don't understand this. Is this because you don't know the VM name before you create the VM?

[2018-03-29 00:58] #61854 closed

[2018-03-29 00:59] msau42 commented on #60903
AccessModes as defined today, only describe node attach (not pod mount) semantics, and doesn't enforce anything.

[2018-03-29 01:00] msau42 commented on #60903
@orainxiong StatefulSet pods may be better in this regard.  Because the pods are recreated with the same stable name, a replacement pod cannot be created until the old one is deleted.  However, you could still do things like pod force delete, which won't wait for volumes to gracefully unmount from a node.

[2018-03-29 01:07] liggitt commented on #61410
A label selector predicate doesn't select a single node, it selects a set of nodes. Hoping multiple nodes don't match that label isn't a guarantee.

That approach:
* duplicates the node name (immutable) into a label (mutable and uncontrolled)
* does not use the existing selection mechanism that *can* select by name (field selector on metadata.name)
* requires enforcing this label's value be unique

[2018-03-29 01:11] gaopenghigh opened #61867 "Kubelet use only IPv4 version of iptables cmd in syncNetworkUtil"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When setting `--make-iptables-util-chains=true` (which is default), kubelet will are present on host, include some iptalbes chains and rules, but kubelet use only IPv4 iptables cmd to do that.

code:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L531
https://github.com/kubernetes/kubernetes/

[2018-03-29 01:13] tianshapjq commented on #61826
@phsiao yes, still not working with the DynamicKubeletConfig on.

[2018-03-29 01:25] roycaihw opened #61868 "Discovery API responding with null for required property"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Discovery API `/apis/` and `/apis/<APIGroup>/` respond with `null` for [required](https://github.com/kubernetes/kubernetes/blob/3cb73605aa6679b24a4cefadd41eb2669b06bab9/api/swagger-spec/apis.json#L63-L66) `serverAddressByClientCIDRs` property, which fails the validation in generated python client. (ref: https://github.com

[2018-03-29 01:30] CaoShuFeng commented on #61805
This happens because the new version kubectl requires a  Content-Type of `application/com.github.proto-openapi.spec.v2@v1.0+protobuf`. But the old version of kube-apiserver doesn't support this Content-Type.

@alexef
The kubectl version is `v1.10.0`, but the kube-apiserver version is `go1.8.3`

[2018-03-29 01:30] CaoShuFeng commented on #61805
/assign

[2018-03-29 01:32] smarterclayton commented on #61410
Labels are not names and vice versa.  The real gap here seems to be that we are trying to elicit a scheduling side effect (preemption) from a monolithic scheduler by emulating a scheduling decision.  An affinity predicate seems much more appropriate than abusing labels.

[2018-03-29 01:34] smarterclayton commented on #61410
We have repeatedly that labels cannot map arbitrary data - a predicate can, so it’s not clear to me why you don’t add one?

[2018-03-29 01:37] smarterclayton commented on #61410
By predicate I meant “affinity rule”

[2018-03-29 01:38] smarterclayton commented on #61410
[code]

[2018-03-29 01:40] smarterclayton commented on #61410
Could be “nodeFieldTerms” or similar

[2018-03-29 01:50] hzxuzhonghu commented on #61807
It is still using it, I will open a pr to change that.

[2018-03-29 02:00] ddongchen commented on #61702
Yes, for now it's may be little useful. While i think it's better to make the resource quota scopes more flexible,  for we has provided the limited scopes.
In our cases， we create two resource quota in the same namespace,  and we want to check the "used" quota for different workload.

[2018-03-29 02:05] smarterclayton commented on #61410
(As I’m thinking about this more)

Resources are a constraint to the scheduler but we don’t model them as labels, same for tolerations, same for host ports and pvcs.  From an API perspective:

1. this is a pretty specific use case
2. We shouldn’t abuse labels to represent things that aren’t labels
3. Labels are arbitrary topology
4. Node affinity defines general purpose constraints on topology
5.

[2018-03-29 02:05] gaopenghigh commented on #61867
@kubernetes/sig-Network-bugs

/sig network

[2018-03-29 02:13] k82cn commented on #50658
@jiayingz , I mean why we skip `*kuberentes.io/` :), my understanding is that we expect those resource are handled before, e.g. by `cpu()`.

In such case, prefer to valid resource for `*kubernetes.io/` as we know the resource name list that we supported: if not in the supported list, reject it, as those resource name are reserved by core.

And I agree with Bobby to give alias for default/system re

[2018-03-29 02:16] feiskyer commented on #61716
Kubelet won't delete the pod from apiserver. Since it is already not exist on the node, you could force delete it by kubectl.

[2018-03-29 02:30] karataliu commented on #61783
Duplicate of #60485

[2018-03-29 02:37] ravisantoshgudimetla commented on #61737
Thanks @bsalamat. My ideas are:
- Decouple default scheduler from preemption but not having descheduler as component for preemption for entire cluster.
- Let descheduler do preemptions for _default scheduler only_.

Apologies, if this intention was not clear fro my earlier comments.

Let us take the example of multiple scheduler scenario with kube-scheduler(default scheduler) and some other schedu

[2018-03-29 02:39] nathanjsweet commented on #54482
@liggitt

AWS allows you to run your own DHCP and private zone, so it is a perfectly valid use case to change the hostname and canonical name of a VM, have a private hosted zone that, for all intents and purposes, completely masks over the "AWS-internal" name of the VM.

Having `--hostname-override=` not work is clearly broken behavior.

AWS specifically [publishes articles](https://docs.aws.amazo

[2018-03-29 02:40] hzxuzhonghu commented on #61807
Open a pr in https://github.com/kubernetes/heapster/pull/1998

[2018-03-29 02:44] hzxuzhonghu commented on #61807
@deads2k There is already a pr does this. So heapster is not a blocker.

https://github.com/kubernetes/heapster/pull/1998#issuecomment-377102195

[2018-03-29 02:58] AishSundar commented on #58012
I asked the GCB community within Google about using qemu in the step and here's the response

"The build steps are run with root privileges ([`docker run --privileged`](https://github.com/GoogleCloudPlatform/container-builder-local/blob/master/build/build.go#L961)).
You should make a qemu docker image that you can use as a step."

Since we are already using the [qemu docker image](https://github.c

[2018-03-29 02:59] yasker commented on #58151
Sorry to come back to this after it's closed. But I think this worth a second consideration.

The issue we have is:
1. Before removing this parameter, the user can use one official yaml file to start a storage system without any modification.
2. But after removing this parameter, there is no way for the storage system to know where to install the Flexvolume plugin. The user will have to figure tha

[2018-03-29 03:05] saad-ali commented on #61248
`AttachedVolume.VolumeSpec` should be removed. `VolumeSpec` is unique per pod not per volume, and since more than 1 pod can reference the same volume there maybe more then one `VolumeSpec`. The `AttachedVolume` should only be used by volume operations (like `AttachVolume`, `MountDevice`, `UnmountDevice`, `DetachVolume`) not for pod operations (like `Setup` and `Teardown`) -- so  it errors on these

[2018-03-29 03:06] mindprince commented on #50658
While it is true that they are reserved by core and should not be used, we have historically not enforced that. Adding that validation now may break certain users.

See https://github.com/kubernetes/kubernetes/pull/50838#discussion_r133773654 and Brian's comment above.

[2018-03-29 03:19] liggitt commented on #61856
Are you running multiple schedulers? If so, are they using leader election and only one is scheduling at once?

[2018-03-29 03:25] orainxiong commented on #60903
@msau42 Thanks for your suggestion.

But, it is also very likely to create two copies of one pod during cluster partition even with **StatefulSet**

There should be a fencing policy that is able to reconcile master-node partition and protect data against data corruption.

more details : https://github.com/kubernetes/kubernetes/issues/61832

[2018-03-29 03:41] k82cn commented on #50658
I think [Brian's comments](https://github.com/kubernetes/kubernetes/issues/50658#issuecomment-326174398) is for customized/extended resources; for reserved label/resources, we already know which resource we supported (except that's also not true) :)

/cc @bgrant0607

[2018-03-29 03:46] k82cn commented on #61410
`node affinity constraint` seems better than a new field `.RequestedNodeName` in `PodSpec` :).

 @bsalamat , does this make sense to you?

/cc @davidopp

[2018-03-29 03:50] bsalamat commented on #61410
I agree with @liggitt and @smarterclayton's points.
Similar to what @smarterclayton [suggested](https://github.com/kubernetes/kubernetes/issues/61410#issuecomment-377092833) we can add a new field to [NodeSelectorTerm](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L2274) to match against node name. I would not make this field matchable against any field in the Node ob

[2018-03-29 03:53] myqq0000 commented on #56148
+1

[2018-03-29 03:53] danderson commented on #61764
I would note that, in my cluster, `featureGates` was the empty string, and that also failed to decode. Are you saying the entire `featureGates` field is alpha and unsupported, or just particular values?

Either way, the workaround upthread worked, manual edit made kubeadm happy. If it's not too much work, I would humbly suggest having a fix in 1.10.1 for this time around, while y'all work out a po

[2018-03-29 03:57] CaoShuFeng commented on #61805
Not sure the 1.10 kubeclt should support the 1.8 kube-apiserver.

@liggitt
Do I need to make a pull request to 1.10 branch?

[2018-03-29 04:15] smarterclayton commented on #61410
We don’t actually use reflection on the others, we just use a general purpose api design.  Ie downward api and others are consistent with that.  However, having a specific oneof style matches for nodeName works just as well.  I might advise to consider letting it be an array for future extension, but that’s only if we envision a use case for it.

[2018-03-29 04:20] listx commented on #58012
FWIW I wrote a quick GCB yaml to see what the errors would be like, and it actually built successfully. This is what I used:

[code]

You can run it with: `gcloud container builds submit --no-source --config debian-base.vanilla.addon.yaml` where `debian-base.vanilla.addon.yaml` is the file with the above contents. I skipped the image pushing part because it wasn't vital to the experiment.

[2018-03-29 04:31] liggitt commented on #61805
kubectl supports one version of skew between it and the apiserver, though having it tolerate a missing openapi doc better would have been preferable

[2018-03-29 04:41] zyf0330 commented on #43222
I use downwardAPI like this
[code]
And in container I get $MY_NODE_ACCESSIP with null value.
I have set label `accessIP` in node.

[2018-03-29 04:42] liggitt commented on #61856
(that's a known issue in 1.9 fixed in 1.9.6 - https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#changelog-since-v195)

[2018-03-29 04:52] mikedanese commented on #61599
cc @immutableT

[2018-03-29 04:58] macropin commented on #50865
Looks like this made it into 1.10 https://github.com/kubernetes/kubernetes/blob/release-1.10/build/pause/CHANGELOG.md

[2018-03-29 04:58] bsalamat commented on #61410
Could you elaborate on this? I thought 'metadata.name' which is provided in front of 'key' in [your comment](https://github.com/kubernetes/kubernetes/issues/61410#issuecomment-377092833) was just a string that could match any field of the Node object.

[2018-03-29 05:32] tamalsaha opened #61879 "Kubernetes apiserver should throw errors if it's CA files don't match `extension-apiserver-authentication`"
In a multi-master Kubernetes setup, the ca data in `extension-apiserver-authentication` configmap must match the ca flags for each kube-apiserver pod. Currently there is no such validation done. This causes difficult to debug bugs. For example, I just debugged a scenario where an aggregate api server was seeing intermittent authentication errors. The root cause turned out to be that the CA files o

[2018-03-29 05:36] DreadPirateShawn commented on #38532
/remove-lifecycle stale

Pull request #45682 has since been abandoned -- does that mean:
* this issue should be revisited with a new solution?
* this issue is "will not fix"?
* this issue has been fixed in newer versions?

(I think those are the three options...)

Thanks.

[2018-03-29 05:37] DreadPirateShawn commented on #54155
/remove-lifecycle stale

Any update on this?

[2018-03-29 05:37] DreadPirateShawn commented on #57669
/remove-lifecycle stale

Any update on this?

[2018-03-29 05:39] DreadPirateShawn commented on #56805
/remove-lifecycle stale

Any update on this?

[2018-03-29 06:17] verizonold commented on #60835
I have the same problem as above. Any solution?

[2018-03-29 06:18] f0 commented on #18307
got this when upgrading from 1.8.5 to 1.9.6 today, node labels are removed

[2018-03-29 06:27] ApsOps commented on #42487
@justinsb I have been facing this issue as well. I have an instancegroup in public subnet and I want to add another instancegroup in private subnet (or at least replace the public instancegroup with a private one).
What is required to accomplish this at this point?

/reopen

[2018-03-29 06:34] resouer commented on #61512
5. Scheduler determines that Pod A is not yet schedulable, because deletion of the last preempted Pod is not reflected in the scheduler cache. Let's call the last preempted Pod X.
6. Deletion of Pod X is observed and invalidates equivalence cache.
7. Scheduler updates equivalence cache by the result of step 5.

@bsalamat I am reviewing the race and one thing does make sense to me is:

Step 5 shoul

[2018-03-29 07:11] vistalba commented on #61764
@danderson On my cluster "featureGates" was also empty.

[2018-03-29 07:46] xtuc commented on #60835
@myguddy @verizonold please fill the issue template with your environment. I mentioned that I only have this issue on Vagrant.

[2018-03-29 07:47] tobiasetter commented on #58214
@Sh4d1 I could fix it by setting a new hostname

[2018-03-29 07:59] #54732 closed

[2018-03-29 07:59] #52206 closed

[2018-03-29 07:59] #52209 closed

[2018-03-29 07:59] #52599 closed

[2018-03-29 07:59] #52619 closed

[2018-03-29 07:59] #52926 closed

[2018-03-29 07:59] #52213 closed

[2018-03-29 07:59] #53314 closed

[2018-03-29 07:59] #53300 closed

[2018-03-29 08:03] dragon9783 commented on #45419
+1
Kubernetes: 1.9.6
Docker: 17.12.0-ce
OS: Redhat 7.4
Kernel: 3.10.0-693.el7.x86_64
CNI: flannel

[2018-03-29 08:22] xiangpengzhao commented on #61764
I add the workaround provided by @berlinsaint to 1.10 release notes. We may need a patch (if possible) for kubeadm to do this automatically as suggested by @danderson . Further discussion on API policy in kubeadm may be needed as well.

[2018-03-29 08:24] xiaoxubeii commented on #60315
Same here. I even cannot ping the ip of kube-dns pod.

[2018-03-29 08:28] CaoShuFeng commented on #61826
This url works find for me:
https://<kebe-apiserver>:443/api/v1/nodes/<my-node>/proxy/configz

Ps:
I found a related issue when research this:
https://github.com/kubernetes/kubernetes/pull/61883

[2018-03-29 08:30] redbaron commented on #18787
In duplicated issue I proposed 3rd option which avoids drawback of

Kubelet should associate images to  serviceaccount. Then apply policy to marked associated images only.

Probably there are more sophisticated ways to associate, like sign it with SA key, but as an example lets just mark it with re-tagging to show proposed flow.

Lets say pod with default/default SA pulls "alpine:3.7", kubelet is

[2018-03-29 08:36] CaoShuFeng commented on #61826
/api/v1/proxy/nodes/${NODE_NAME}/configz/ is deprecated in 1.10.
Please use /api/v1/nodes/<my-node>/proxy/configz instead.

/close

[2018-03-29 08:37] CaoShuFeng commented on #61826
ref:
https://github.com/kubernetes/kubernetes/pull/59884

[2018-03-29 08:42] CaoShuFeng commented on #61826
/reopen

Reopen this issue because we have to update the document.

[2018-03-29 08:47] Aakash-C commented on #21729
I am facing this same issue please re-open.

[2018-03-29 08:51] ash2k commented on #59409
/sig aws
/remove-sig storage

[2018-03-29 08:54] shyamjvs commented on #61190
This issue is now fixed after my above PRs. We're having continuous green runs for the job - https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability?before=12069

[2018-03-29 08:54] #61190 closed

[2018-03-29 09:01] kaizamm commented on #60835
i have the same problem，has this problem solved?

[2018-03-29 09:03] tnozicka commented on #59194
Feels like I am too late for the party but I don't see any explicit approvals in that linked doc or anywhere else.

Who is **we**?

@k82cn would you mind pointing me to a written approval from sig-architecture for this feature? All I found was the exact opposite here: https://groups.google.com/forum/#!searchin/kubernetes-sig-architecture/daemonset%7Csort:date/kubernetes-sig-architecture/ICJLqRWL42

[2018-03-29 09:04] xtuc commented on #60835
@kaizamm what's your platform? This issue is on Vagrant

[2018-03-29 09:15] juris commented on #45419
FYI. Even for the latest [Kubernetes 1.10](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#external-dependencies)

In my case, rolling back to 1.12.6 helped.

[2018-03-29 09:27] yinwoods commented on #61224
Got the same problem

[2018-03-29 09:32] kaizamm commented on #60835
yeah, my plantform is vagrantl .  is this issue solved?

[2018-03-29 09:36] molerus commented on #61856
/sig scheduling

[2018-03-29 09:43] molerus commented on #61856
IIUIC #59729 is the duplicate? If so it should only happen on regional GKE clusters, zonal ones should be fine (only one master), right?

[2018-03-29 10:13] tnozicka opened #61886 "DaemonSet scheduling is broken in combination with admission plugins"
Let's take a specific example of admission plugin [PodNodeSelector](https://github.com/kubernetes/kubernetes/blob/f9bb978ad65a924620e1f362059f46731fe454ee/plugin/pkg/admission/podnodeselector/admission.go#L41) but this applies in general for admission plugins modifying pod properties having an influence on scheduling.

The issue is that DaemonSet doesn't see those admission modifications when dete

[2018-03-29 10:13] myqq0000 commented on #61815
I notice these in the logs:

3月 29 18:04:54 ultron-PCN kubelet[17742]: W0329 18:04:54.579094   17742 cni.go:171] Unable to update cni config: No networks found in /etc/cni/net.d
3月 29 18:04:54 ultron-PCN kubelet[17742]: E0329 18:04:54.579313   17742 kubelet.go:2125] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni

[2018-03-29 10:40] crassirostris opened #61887 "Verify that audit events cannot be made arbitrary large"
Currently it's possible to send an enormous request to the apiserver, that once recorded in audit event, will make it hard to ingest such an event . While [truncating audit backend](https://github.com/kubernetes/kubernetes/pull/61711) addresses this problem in some way, it should be verified that no field in the audit event metadata can be arbitrary large. Potential candidates: IP list, which is t

[2018-03-29 10:43] myqq0000 commented on #44951
experienced this same issue on v1.10.0 also... Do you have any ideas to solve it? THANKS

[2018-03-29 10:51] amouat opened #61888 "Support pulling from registry running inside Kubernetes cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
With some work, it's possible to get a private registry running inside a Kubernetes cluster. However, it's annoyingly difficult to get Kubernetes to use the registry as pulls happen *outside* the cluster network. For example if I run a registry and expose via an service under the name "k8s-registry" on port 5000, the

[2018-03-29 10:54] amouat commented on #61888
@kubernetes/sig-networking-feature-requests

[2018-03-29 11:13] jasonhubs commented on #56038
Too hard too study kubernetes,too hard too participate in google open source products in China! Everythig  about google.

[2018-03-29 11:19] k82cn commented on #61410
Such kind of map is enough for us:

[code]

[2018-03-29 12:24] liggitt commented on #61879
/assign @deads2k

[2018-03-29 12:28] andreyshamray commented on #61716
It is clear, so how we can resolve this error: `docker_sandbox.go:340] failed to read pod IP from plugin/docker: Couldn't find network status for default/name-of-container through plugin: invalid network status for` ? I think this is the core item of our issue.
Thanks.

[2018-03-29 12:31] geostant commented on #54188
Doesn't work on v1.10 offline mode with the statement -> --kubernetes-version=stable-1.10

[2018-03-29 12:32] dims opened #61893 "pull-kubernetes-integration is broken"
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration

example run from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61874/pull-kubernetes-integration/4390/ which just edits a md file.

[code]

[2018-03-29 12:37] mgdevstack commented on #53333
Thanks @hixichen for pointing out Issue.

Temporary fix suggested by @dinar-dalvi resolved the issue. [Ref](https://github.com/docker/for-linux/issues/219#issuecomment-375160449)

[2018-03-29 12:39] jd-daniels commented on #13136
Is there any kind of workaround for this anyone has found? In a multi-tenant cluster separated by namespace, this is an issue for mounting external NFS into pods on the cluster. Having all namespaces be able to mount each others external mounts is a security issue.

Thanks,
John

[2018-03-29 12:52] hzxuzhonghu commented on #61893
timeout is 120s, set 360s can fix this in my local env

[2018-03-29 12:52] deads2k commented on #61879
I don't think so.  You have to choose a source for the information and that configmap is *not* the source.  That configmap is the "status" of the value and kube-apiservers are the source.

I would expect the deployment mechanism like kubeadm, openshift-ansible, tectonic operators, whatever gke does, to determine consistent values and provide the apiservers with correct values.

[2018-03-29 12:52] hzxuzhonghu commented on #61893
`go test -v -timeout 360s  k8s.io/kubernetes/cmd/kubeadm/test/cmd --kubeadm-path /mnt/go/src/k8s.io/kubernetes/cluster/kubeadm.sh`

[2018-03-29 12:54] george-angel commented on #13136
/remove-lifecycle stale

[2018-03-29 12:54] rrajadevops opened #61896 "How to handle multiple environment variables in yaml file"
Hi Team,

I am having nearly 25 environment variables which I should use in my pod creation yaml file. But, If i configure all 25 env variables my YAML looks like huge in size. Is there any alternate method to get the defined secrets inside the pod.

Regards,
Raja

[2018-03-29 13:05] mickael-carl commented on #43179
I just hit this as well. When trying to setup kubedns, there is indeed litterally no docs whatsoever, except for that kube-dns addon readme file. A quick set of instructions on how the provided template files need to be modified to end up in a state where kubedns is actually working would be a great improvement.

[2018-03-29 13:35] luksa opened #61897 "API server clients can't differentiate between an optimistic lock error and other types of conflicts"
/kind feature

**What happened**:
If two clients update the same API object concurrently, the API server returns a `409 Conflict` response with the error message `the object has been modified; please apply your changes to the latest version and try again`. Apart from checking this message, clients can't differentiate this response from other types of 409 Conflict responses.
Inspecting an error mes

[2018-03-29 13:38] luksa commented on #61897
/sig api-machinery

[2018-03-29 13:41] dave-tucker commented on #49906
For EBS Support it's probably worth tracking https://github.com/kubernetes/kubernetes/issues/49906 as I came across this today.

[2018-03-29 13:42] deads2k commented on #61807
Great.  Then I think we're ready.

[2018-03-29 13:56] andrewsykim opened #61898 "Kubelet log paths not backwards compatible v1.10 -> v1.9"
/kind bug

**What happened**:
If a pod was created in any kubelet version <= v1.9, the path to container logs are
[code]

In v1.10 it changed to
[code]

**What you expected to happen**:
If the log path for containers changed in any kubelet version, the kubelet should use the new log path for new pods but still fetch from the old log path for any existing pods.

**How to reproduce it (as minimally

[2018-03-29 13:56] dims commented on #61893
tracked it down to `dd if=/dev/random bs=32 count=1 status=none` introduced in https://github.com/kubernetes/kubernetes/commit/4685df26ddc2c0778564ed77ec974da56bd52994#diff-57380bb03c3598646d5a3cb66518fa0bR211

[2018-03-29 13:56] andrewsykim commented on #61898
/sig-node

[2018-03-29 13:57] andrewsykim commented on #61898
/sig node

[2018-03-29 14:05] #54648 closed

[2018-03-29 14:05] #52277 closed

[2018-03-29 14:05] #53029 closed

[2018-03-29 14:05] #52631 closed

[2018-03-29 14:05] #53492 closed

[2018-03-29 14:05] #51934 closed

[2018-03-29 14:05] #50956 closed

[2018-03-29 14:06] yastij commented on #57692
/remove-lifecycle stale

[2018-03-29 14:09] xguerin commented on #60315
I determined that it was a problem with my CNI. With Calico it does not work. But with flannel it does. I did not spend time investigating why.

[2018-03-29 14:18] XANi opened #61900 "Authentication failed messages do not show what client failed to authenticate"
E0329 13:35:11.111234       1 authentication.go:64] Unable to authenticate the request due to an error: [invalid bearer token, [invalid bearer token, crypto/rsa: verification error]]
    E0329 13:35:33.402009       1 authentication.go:64] Unable to authenticate the request due to an error: [invalid bearer token, [invalid bearer token, crypto/rsa: verification error]]
    E0329 13:38:23.346687

[2018-03-29 14:20] yastij commented on #61886
cc @k82cn

[2018-03-29 14:40] akshaymankar commented on #58084
Yes, we are using [BOSH](https://github.com/cloudfoundry/bosh) to spin up VMs, it generates a uuid for a every VM. So, we cannot predict the name of the VM before creating it.

[2018-03-29 14:41] disha94 opened #61901 "Lot of restarts on Kube-proxy pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I am recently facing issues with Kubernetes version 1.8.9 as I am getting a lot of restarts on Kube-proxy pod for few nodes. Due to which all service pods scheduled on that node are crashing again and again.
**What you expected to happen**:
Stable setup
**How to reproduce it (as minimally and precisely as possible)**:
Happening rand

[2018-03-29 15:06] #52781 closed

[2018-03-29 15:06] #54467 closed

[2018-03-29 15:06] #52982 closed

[2018-03-29 15:06] #53706 closed

[2018-03-29 15:06] #52846 closed

[2018-03-29 15:06] #52921 closed

[2018-03-29 15:06] #52151 closed

[2018-03-29 15:19] rajansandeep commented on #61794
@calebamiles thank you!
But now, I see that the `kubeadm upgrade plan` and `kubeadm upgrade apply` hangs/times-out and is unsuccessful.

[code]

[2018-03-29 15:20] rrajadevops commented on #61896
@mountkin .. thanks for your input..
Actually my scenario is i have some list of values which i need to use securely. But if we want to use that value we need to define that environment variable in our YAML file, in that case it is like big size of file also it is keep on repeating ENV values how to avoid this. Hope we can use this as volume, but i am running PHP application, I know how to read th

[2018-03-29 15:46] ReSearchITEng commented on #61764
if `featureGates: ""`, replace with with `featureGates: {}`

[2018-03-29 16:15] scottrigby commented on #43874
I don't want to change the lifecycle tag on #55410 so I'm linking to it from this direction.

[2018-03-29 16:27] mikedanese commented on #58084
I think what your after is https://github.com/kubernetes/community/pull/602. Would getting that to beta fix your issue?

[2018-03-29 16:30] liggitt commented on #60598
@cblecker go1.10.1 has been released with a fix for this issue if you want to bump the branch testing against go1.10

[2018-03-29 16:39] chenww opened #61903 "node not schedulable after delete and add back"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
pod can not be scheduled on a node in ready state

**What you expected to happen**:
pod should be able to schedule on deleted/add back node; otherwise node should not be shown "Ready"

**How to reproduce it (as minimally and precisely as possible)**:
1. cordon a node in k8s cluster
2. delete the node
3. add back the same

[2018-03-29 16:42] mikedanese commented on #61893
@dims, how did you track it down to that?

[2018-03-29 16:47] mikedanese commented on #61893
@dims can you take a look at https://github.com/kubernetes/kubernetes/pull/61904?

[2018-03-29 16:48] yliaog commented on #61702
could you be more specific about what resource quota (object count, or cpu/ram) are you using for workload? example is even better to help me understand your use case.

[2018-03-29 16:48] cjcullen commented on #60659
I think the one pro is:
- Applications don't need special interaction from kubelet in order to get tokens for the thing they want to talk to.

I agree there are sticky issues around expiration extensions, and binding erasure, but I don't think it's a completely crazy idea.

[2018-03-29 16:51] dims commented on #61893
@mikedanese i tried the `go test` posted by @hzxuzhonghu a few times and noticed variations of time taken, then removed the last few commits and ran them again and saw they were stable. then added all the commits back until they failed which was the last commit. Then i looked inside and noticed the random which has caused pain before (in openstack).

Ack looking

[2018-03-29 16:53] rydahl commented on #57897
Happened again today for us, I seams it was triggered when removing a namespace with its services. Right after that the "Updating existing service port" messages started coming in for the same cluster. We also removed the same setups from other clusters and they have not triggered the issue, so appears to be very random.

Again, solved by upgrading master one patch version in google kubernetes eng

[2018-03-29 17:07] moserke commented on #51333
@lsylvain We have the same problem.  What we've determined to fix for the time being is that you need to create a node object with the name of the one that died, bounce your schedulers & controllers, and then delete the node object.  This seems to allow the scheduler to pick a new, good, node

[2018-03-29 17:08] hixichen commented on #53333
@mgdevstack
Cool.
let's give him the thumb up.

[2018-03-29 17:09] chenww commented on #61903
/sig Scheduling
/sig Node

[2018-03-29 17:26] tallclair commented on #61239
@ericchiang the deprecation policy doesn't seem to cover changing defaults. I.e. if we're not deprecating something, but we want to change the default behavior. Did I miss it, or is this something we need to escalate to sig-architecture to determine a policy for?

[2018-03-29 17:29] chadnickbok commented on #43962
@goblain The work has been completed:
https://github.com/kubernetes/kubernetes/pull/33684

And implemented in the java client at least:
https://github.com/kubernetes-client/java/pull/91

Its frustrating that this very reasonable change was blocked because "other stuff is happening" - other stuff is always happening, and not being able to control the binding address is ridiculous.

[2018-03-29 17:32] bsalamat commented on #61886
@tnozicka As you already know we are moving away from the model that DS controller creates DS Pods at a time it thinks they can be scheduled. Instead, we plan to let DS controller create DS Pods sets their node affinity and leave them for the scheduler to schedule them. That addresses part of the problem, but as you also noted one problem will still remain: DS controller may create excessive Pods

[2018-03-29 17:33] verizonold commented on #60835
I am using vagrant only for VM spin up. I deploy kubernetes using ansible and start up the master and minions manually. When I do a "kubectl apply...", I do see my pod deployed and Running. However, when I try to do a "kubectl exec..", I get:
kubectl exec -it ......   -- bash
error: unable to upgrade connection: pod does not exist

[2018-03-29 17:38] rkarthik007 opened #61906 "Passing topology info to StatefulSet pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I have setup a regional cluster across 3 zones in us-west1, say the zones are a, b, c. I have a StatefulSet deployed across these zones. As background, I am trying to setup YugaByte DB - a transactional, high-performance DB which can run on multiple clouds/regions/zones in GKE using StatefulSets. YugaByte DB can run ac

[2018-03-29 17:39] rkarthik007 commented on #61906
cc @wojtek-t @thockin

[2018-03-29 17:41] mtaufen commented on #58151
/config should not become a critical part of your deployment workflow right
now. You can't guarantee stable APIs to your customers if you build on top
of unstable ones.

I understand /configz looks like an easy solution to your problem, but it
just plain should not be relied on in it's current state.

I would like its API to eventually stabilize (
https://docs.google.com/document/d/1kNVSdw7H9EqyvI

[2018-03-29 17:41] cjcullen commented on #61795
Strawman: Add a `RequestedClaims map[string]string` to `TokenRequestSpec` to let a mutating admission hook add whatever claims it wants to the incoming token request.

Like @liggitt said, this also advertises to all callers that extra claims are something that you can request. It feels weird to have claims be requested by clients rather than only ever applied by the server. Would we by default all

[2018-03-29 17:45] davidopp commented on #61906
Mailing list discussion:
https://groups.google.com/d/msg/kubernetes-dev/jsZLWZCgGwc/fLLVPYmNBgAJ

[2018-03-29 17:47] mtaufen commented on #12245
It is shared with the kubernetes-dev group.

On Wed, Mar 28, 2018, 3:44 PM kfox1111 <notifications@github.com> wrote:

[2018-03-29 17:47] bgrant0607 commented on #14733
A couple ideas:

First, reduce heartbeat write rate.

We must continue to write the lastHeartbeatTime field. This search gets thousands of hits:
https://github.com/search?utf8=%E2%9C%93&q=lastHeartbeatTime+kubernetes&type=Code

But we don't have to write it with the same frequency.

The Node controller is looking for signs that the Kubelet is still active. It could look for any recent Events poste

[2018-03-29 17:49] dashpole commented on #44951
@myqq0000 this issue was fixed in 1.7.  Yours is likely different.  Please open a new issue and cc me to help debug.

[2018-03-29 17:54] cdrage commented on #61761
@chrissound maybe I'm having a brain-fart, just use / remove the trailing slash? `kubectl cp import/mysql resize-deployment-5545544bc9-56b6f:/var/lib/`

[2018-03-29 17:58] devopsop opened #61907 "High Available Kubernetes Problems (ETCD) and http_proxy"
Greeeeetings,

I am currently following this HA Guide from Kubernetes's official Website:
https://kubernetes.io/docs/setup/independent/high-availability/

I have to be behind an http_proxy so it makes my life super hard!

Alright so I want to have 3 masters:
Master1 - Master2 - Master3

I started by installing Docker (with http proxy variables in order for it to work properly) and installed kubern

[2018-03-29 18:09] creinheimer commented on #40224
Same problem here:

[code]

Log output:

[code]

[2018-03-29 18:13] enisoc commented on #58662
The `publishNotReadyAddresses` field currently doesn't do anything because the intended design (#49239) requires action from downstream consumers whose code doesn't live in this repo, and those consumers have not been updated yet.

Currently the only option is the **alpha** annotation: `service.alpha.kubernetes.io/tolerate-unready-endpoints`

Take care not to put `beta` in the annotation name, as

[2018-03-29 18:33] mikedanese commented on #61795
To prototype I'd suggest an annotation `auth.alpha.kubernetes.io/extra-claims` to string encoded json. It would be good to wipe out that annotation before the webhook admission controller.

[2018-03-29 18:39] cblecker commented on #60598
@liggitt Yup, saw that. Once the upstream docker images for golang are updated, then I'll update my PR.

[2018-03-29 18:51] bsalamat commented on #61512
One thing that still remains unanswered in mind is that what is in #58555 that triggers this.

[2018-03-29 19:03] devopsop commented on #61907
I have just tested again locally using vagrant and without a http_proxy and get the exact same error.

One more thing whenever I curl http or https on 2379 i get this:
![image](https://user-images.githubusercontent.com/36001380/38108515-168190c0-3363-11e8-84c5-65d5a12cadee.png)

[2018-03-29 19:05] jennybuckley commented on #61846
@AishSundar
Hmm that is different, and I will look into the reason.

[2018-03-29 19:37] nikhiljindal commented on #59778
As discussed with @MrHohn  in addition to updating cleanup, we will also need to update List* methods to return the list only relevant to that ingress. For ex: ListGlobalForwardingRules lists all the forwarding rules. There should be a way to get only the "relevant" forwarding rules.
Example of a test that uses List: https://github.com/kubernetes/kubernetes/pull/61909

Presumably, Cleanup uses Lis

[2018-03-29 19:41] ostromart opened #61910 "Istio addon images should be in gcr.io for scanning"
/kind bug

**What happened**:
https://github.com/kubernetes/kubernetes/pull/59378 added istio manifests to the kubernetes addons directory. There are several issues with the images in the yaml:

prom/statsd-exporter:v0.5.0
docker.io/prom/prometheus:v2.0.0
docker.io/openzipkin/zipkin:latest

If we want Istio to be considered a GKE Addon, these should all be mirrored to gcr.io so that we can continu

[2018-03-29 19:42] ostromart commented on #61910
Originally raised by @cjcullen

[2018-03-29 19:45] devopsop commented on #61907
Fixed by downgrading etcd from 3.3 to 3.2

But I still cant init Master2 and Master3

error from kubelet:
[code]

[2018-03-29 19:56] yliaog commented on #61450
logs handling is done in kubelet, kube-apiserver just returns whatever is returned from kubelet.

below is the link to the code in kubelet regarding logs:
https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=GetKubeletContainerLogs&type=

https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=GetContainerLogs&type=

In one case, it just asks docker to return the logs for the

[2018-03-29 20:03] miramar-labs commented on #53333
it's a chicken-egg situation ... kubelet can't start before kubeadm init generates a bunch of stuff into the /etc/kubernetes folder (eg pki certs) .... and the health checks in kubeadm init require kubelet to be running ... however, IF you *try* starting kubelet before kubadm init, it will initially fail, but then go into a crashloop ... and if you are lucky timing-wise, kubelet may have started u

[2018-03-29 20:05] wenjiaswe commented on #61770
cc @roycaihw

[2018-03-29 20:08] wenjiaswe commented on #61807
cc @yliaog

[2018-03-29 20:23] papile commented on #61764
I too have no featureGates set `""` yet get this issue. I can see if someone has alpha features enabled to halt but should do what @ReSearchITEng says otherwise as this will fail for everyone upgrading.

[2018-03-29 20:28] ostromart commented on #61910
/sig cluster-lifecycle

[2018-03-29 21:26] miramar-labs opened #61915 "kubelet/kubeadm chicken-egg situation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubelet cannot start before kubeadm init has generated pki certs ... kubeadm init does health-checks that require kubelet to be running (and --ignore-preflight-errors=all does not skip those health checks)
**What you expected to happen**:
kubeadm init should start up kubelet for the first time as soon as it has generated the pki cer

[2018-03-29 21:51] dbenhur commented on #61406
/sig cli

[2018-03-29 22:03] #61559 closed

[2018-03-29 22:05] resouer opened #61916 "[Flaky] SchedulerPredicates validates that taints-tolerations is respected if not matching"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

The reason has been found: https://github.com/kubernetes/kubernetes/pull/60953#issuecomment-377383764

The break is caused by

[2018-03-29 22:22] ericchiang commented on #61239
Was thinking about this as deprecating the default behavior. Even if we
don't follow it to a tee the general guidence of "give users adequate time
to prepare and good docs for migrating" is a good practice here.

In hindsight I may have closed this prematurely, but I'd like to see some
discussion of how we're going to warn users and update docs accordingly
before switching the behavior.

/reopen

[2018-03-29 22:36] jatan28 opened #61917 "Kubelet unable to send status updates(heartbeats) to APIServer"
We are investigating an issue where we see kubelet unable to send node status updates (heartbeats) to the API server for 15 consecutive minutes.  We are seeking guidance and inspiration.  We see this in multiple clusters, all in AWS, and we’re running short of suspects to interrogate.  Here’s some details on the  configuration of our environments:
**Kubernetes Version**: `1.7.8 and 1.9.3`
**CNI ve

[2018-03-29 22:41] slongstreet commented on #61917
/sig network
/sig node

[2018-03-29 22:45] dashpole commented on #61917
Do you see any errors in the kubelet logs?  Specifically, any conflicting PATCH requests?

[2018-03-29 22:47] saad-ali commented on #61781
Ah yes, fixed.

[2018-03-29 22:49] slongstreet commented on #61917
@dashpole We see the following sequence of error lines repeated for 15 consecutive minutes in the kubelet logs on affected machines:

[code]

[2018-03-29 22:52] dashpole commented on #61917
Do you have network connectivity between the node and the master?

[2018-03-29 22:55] ianchakeres commented on #61571
/close

[2018-03-29 22:55] #61571 closed

[2018-03-29 22:55] ianchakeres opened #61919 "Report errors from mount_unsupported for unsupported platforms."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Calls to `util/mount` on unsupported platforms do not report any error and potentially misbehave.

**What you expected to happen**:

I would expect an error to be reported, that can be consumed by the caller.

**How to reproduce it (as minimally and precisely as possible)**:

`make test` for `volume/rbd` and `volume/fc` w

[2018-03-29 22:55] ianchakeres commented on #61919
/sig storage

[2018-03-29 22:56] ianchakeres commented on #61919
/assign @ianchakeres

[2018-03-29 22:56] jatan28 commented on #61917
Yes, we have network connectivity between the nodes and the master. We don't know what exactly happens  during that 15 mins window. But after that the connectivity seems just fine , similar to what it was before that window.

[2018-03-29 23:05] #52318 closed

[2018-03-29 23:13] tamalsaha commented on #61879
Fair point. But how about at least logging an warning in the kube-apiserver logs so that someone is trying to debug this, it is at least easier to find,

[2018-03-30 00:14] mengqiy commented on #61484
/reopen

[2018-03-30 00:14] mengqiy commented on #61484
/assign

[2018-03-30 00:14] mengqiy commented on #61484
/reopen

[2018-03-30 00:15] #52004 closed

[2018-03-30 00:15] #54693 closed

[2018-03-30 00:19] myqq0000 commented on #44951
@dashpole I mention it in a new issue #61815 . Thanks your reply!

[2018-03-30 00:31] micahhausler opened #61921 "Kubelet reports secondary InternalIP in AWS with multiple ENIs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**:
When a node gets a second ENI (elastic network interface) attached to it, the [kubelet PATCH's up to the API server](https://github.com/kubernetes/kubernetes/blob/release-1.9/pkg/kubelet/kubelet_node_status.go#L135) all IP's for all network interfaces on the node ([it gets this from the EC2 metadata](https://gith

[2018-03-30 01:24] liggitt commented on #61915
/sig cluster-lifecycle

[2018-03-30 01:26] liggitt commented on #61879
the apiserver can log when it updates, but it wouldn't be a warning... updating that would be indistinguishable from a normal "startup after rotation" scenario

[2018-03-30 01:27] liggitt commented on #18394
xref https://github.com/kubernetes/community/pull/911 https://github.com/kubernetes/kubernetes/issues/61659

[2018-03-30 01:29] yue9944882 commented on #61907
/kind support

[2018-03-30 01:42] feiskyer commented on #61783
Dup of #60485

[2018-03-30 01:42] #61783 closed

[2018-03-30 01:49] feiskyer commented on #61716
I'm not using OVN. @michmike Have you met this problem when using OVN?

[2018-03-30 02:14] mlmhl commented on #61248
@jingxu97  @saad-ali
What about add a `GenerateErrorDetailedForDevice`(or something else like this) method which only print `UniqueVolumeName`, then we can use `GenerateErrorDetailed` for pod operations(`SetUp`/`TearDown`) and use `GenerateErrorDetailedForDevice` for device operations(`MountDevice`/`UmountDevice`)？

[2018-03-30 02:14] smarterclayton opened #61923 "Untagging an image can wedge the Kubelet sync loop"
I had a pod running on a node using tag `a/b:latest` (kube 1.9.1 / docker 1.13).  I untagged the image (tag removed, image still accessible via local ID) and then delete the pod.  However, the pod never terminates (staying in terminating state) and I see the following events:

[code]

It looks like the sync loop is failing because it can't inspect the image (this could be a bug in docker 1.13).  F

[2018-03-30 02:17] hzxuzhonghu commented on #61900
/assign

[2018-03-30 03:31] briandeheus commented on #45419
Observed the same issues:

**Kubernetes**: 1.9.6
**Docker**: 17.12.0-ce
**OS**: Ubuntu 16.04
**CNI**: Weave

What fixed it was downgrading to **Docker 17.03**

[2018-03-30 03:47] mountkin commented on #61896
1. Put your environment variables in a file. For example:

    env.txt:
[code]
2. Create a secret with `kubectl create secret generic my-credentials --from-env-file=env.txt`
3. Configure your pod spec to reference the secret to create environment variables:

[code]

[2018-03-30 04:09] eug48 commented on #52345
An AlwaysPod or perhaps RestartPod RestartPolicy would also be very useful for this use-case: I'm using initContainers to get a job from a work-queue and then sequentially run a series of containers to process this job. Once the job is finished I'd like to pod to restart and thus wait for the next job. The Job resource doesn't seem to support indefinite completions. I don't want the overhead of so

[2018-03-30 04:20] thockin commented on #61906
Recap from the mailing list discussion:

For now you can use kube clients to read your node's metadata.labels and extract the labels you want.

We could codify that into downward API, but it's kind of ugly to reach across objects like that.

We could copy topological labels into your pod, but then we have to know exactly which labels are topological, and deal with conflicts on the pod's labels.

W

[2018-03-30 05:14] ddongchen commented on #61702
The resource quota we care about is cpu/ram.

For example, we create an object via "CRD", which could also create pods. and we want to create the resourcequota for the object,  and the quota should not be influenced by original pods.

[2018-03-30 05:28] bsalamat commented on #61410
specific term for `nodeName` or `nodeNames` is probably simpler.

Yes. If we want to follow the same switch statement model, the selector can match only the hardcoded fields as opposed to a reflection model that could match any field, including those that are added in the future. Since we do not want to use reflection, I agree that we should use `nodeNames` for now.

[2018-03-30 05:33] bsalamat commented on #59194
@tnozicka [Here is the doc](https://docs.google.com/document/d/1v7hsusMaeImQrOagktQb40ePbK6Jxp1hzgFB9OZa_ew/edit) that explains the problem and lists possible solutions. There is much discussions in the comments of the doc that you can read if you are interested. In a SIG scheduling meeting where Brian Grant from the SIG Architecture was present, we discussed the solutions and decided to choose so

[2018-03-30 05:43] bsalamat commented on #61737
The only common part between descheduler eviction and preemption is the Pod deletion. Otherwise, they are very different. I don't think descheduler ever needs to duplicate the logic of preemption. Almost all of the logic of preemption is about choosing nodes and the minimum set of lower priority pods to preempt in oder to make room for a higher priority pod. After the set of victims are identified

[2018-03-30 05:43] davidopp commented on #61410
Sounds reasonable to me.

[2018-03-30 05:53] bsalamat commented on #61512
But eCache has been available even without #58555. #58555 just changed the equivalence hashing algorithm.

[2018-03-30 05:56] sun7927 opened #61927 "no flexvol 'attach' call sent out (with --enable-controller-attach-detach=true)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have deployed a kubernetes cluster with 3 nodes, 1 for master and 2 for slave, and with --enable-controller-attach-detach=true. And then, I have installed my own flexvolume plugin on each node.
When kubelet of each node started, it probed the plugin and called 'init' with following response:
[code]

On the master node, the plugin

[2018-03-30 05:59] sun7927 commented on #61927
/sig storage

[2018-03-30 06:20] alexpirine commented on #7890
I would need this feature to simply store user-uploaded files on google cloud storage.

[2018-03-30 06:52] krmayankk commented on #61205
so it sounds like there is nothing to fix here because of the change in the defaults

[2018-03-30 07:11] ayushpateria commented on #61205
@krmayankk Yes, the defaults are changed in the newer API version (apps/v1), and this issue shouldn't occur with it.
@alena1108 `kubectl run` is being deprecated so it'd be better if you move to `kubectl create` and explicitly define the newer API version in the manifest. Or you could wait for #61288 to get merged, after which you can replace `kubectl run` with `kubectl create deployment`

[2018-03-30 07:15] #61916 closed

[2018-03-30 07:20] ReSearchITEng commented on #60869
I am facing the same with the default 1.10 image:
k8s.gcr.io/kube-proxy-amd64:v1.10.0

[2018-03-30 07:23] yue9944882 commented on #58730
/assign

[2018-03-30 07:25] yue9944882 commented on #60558
/assign

[2018-03-30 08:29] mcfedr commented on #57291
Having a similar issue, I have worker that I know is unstable, and yea, we are working to make it better, but i really want the deployment to just keep restarting it

[2018-03-30 08:42] ash2k commented on #56316
/remove-lifecycle stale

[2018-03-30 08:52] zhangorrin commented on #60869
/sign node

[2018-03-30 08:58] crassirostris opened #61932 "Fix batching log audit backend"
Buffered audit backend was extracted from webhook audit backend initially, so its behavior is better suited for this case. In case of log audit backend, some parameters don't make sense and the default configuration should be adjusted. There are two possible approaches to make buffered backend work better with log backend:

- Started by @tallclair in https://github.com/kubernetes/kubernetes/pull/6

[2018-03-30 09:06] yue9944882 commented on #61831
I believe HTTP probe supports redirection and it uses `http.Client`'s default redirection policy.

	// which is to stop after 10 consecutive requests.
	CheckRedirect func(req *Request, via []*Request) error

What location are u actually redirection pointing at? Is it cyclic or sth?

[2018-03-30 09:24] #54213 closed

[2018-03-30 09:53] natipo opened #61934 "kubeadm init fails if resolv.conf contains 3 or more domains"
/kind bug

**What happened**:
If `/etc/resolv.conf` file contains 3 or more domains then kubeadm init fails.

**What you expected to happen**:
Kubernetes master should be initialized successfully.

**How to reproduce it (as minimally and precisely as possible)**:

1. Add 3 domains to `/etc/resolv.conf` file.
2. Run kubeadm init to initialize kubernetes master `sudo kubeadm init --pod-network-cidr=

[2018-03-30 09:59] albamoro commented on #61763
Thanks @calebamiles, I need to be spoon-fed as you can see ;)

[2018-03-30 10:07] natipo commented on #61934
@kubernetes/sig-cluster-lifecycle-bugs

[2018-03-30 10:31] mickael-carl commented on #43179
/reopen

[2018-03-30 11:02] RobertDiebels commented on #45726
Getting the same issue.

- Dynamic provisioning of AWS EBS 10Gi with a PVC. (Succeeds)
- Volume is attached to the same AWS instance the pod is running on. (Succeeds)
- Kubernetes tries to attach the volume to the AWS instance it is already attached to. (Fails)

[2018-03-30 11:25] wzhx78 opened #61937 "application crash due to k8s 1.9.x open the kernel memory accounting by default"
when we upgrade the k8s from 1.6.4 to 1.9.0,  after a few days,  the product environment report the machine is hang and jvm crash in container randomly , we found the cgroup memory css id is not release, when cgroup css id is large than 65535, the machine is hang, we must restart the machine.

we had found runc/libcontainers/memory.go in k8s 1.9.0 had delete the if condition,  which cause the kern

[2018-03-30 11:26] dag24 commented on #57291
@mcfedr Such a design of K8S would probably strain the masters too much due to continual thrashing of container state. To solve your problem, how about something like this, where your Dockerfile runs a script that continually restarts the process you want to remain alive;

`CMD bash /code/start.sh`

Where `start.sh` is something to the effect of
[code]
In other words, upon python exiting, just sta

[2018-03-30 11:43] soltysh commented on #12668
The problem is that when we can't read flag value we use `glog.Fatalf` which will eventually `os.Exit` process, which is what this issue is about. Have a look at this https://github.com/kubernetes/kubernetes/blob/0613ae5077b280eabbff593bc2dc34fe2d03538d/pkg/kubectl/cmd/util/helpers.go#L369

[2018-03-30 11:47] soltysh commented on #54155
@kubernetes/sig-storage-bugs mind looking into this one. It looks like it's related to storage problems, not cronjob-specific.

[2018-03-30 11:49] k82cn commented on #61886
It seems DS user try to start more Pods than he can use, which are restricted by the cluster admin :). Should k8s handle this for user, or let user 'correct' his configuration?

Anyway, we should avoid ping-pong case: DS controller creates pods, kubelet reject it; handled by scheduling DS pods by default scheduler.

[2018-03-30 11:51] mcfedr commented on #57291
Thats the system I was basically moving to at the moment, well, its actually where I was before moving to k8s, and assumed k8s would be better place to handle it, but that would also work.

[2018-03-30 12:16] qkboy commented on #61937
Use below test case can reproduce this error:
first, make cgroup memory to be full:
[code]
then release 99 cgroup memory that can be use next to create:
[code]
second, create a new pod on this node.
Each pod will create 3 cgroup memory directory. for example:
[code]
So when we recreate 100 cgroup memory directory, there will be 4 item failed:
[code]
third, delete the test pod. Recreate 100 cgroup

[2018-03-30 12:23] Lion-Wei opened #61938 "[Failed CI] IPVS proxy mode don't compatible with hostport type pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In a k8s cluster with IPVS proxy mode, when you create an ingress, the loadbalancer of this ingress can't be create　automatically, which caused the ipvs ci "gci-gce-ipvs" failed, link: http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs

The failed case is `Loadbalancing: L7 [Slow] Nginx should conform to Ingress

[2018-03-30 12:24] Lion-Wei commented on #61938
/sig network
/area ipvs

[2018-03-30 12:39] komljen commented on #45419
I had the same problem and it seems fixed by upgrading to Debian Strech. The cluster is running on AWS deployed with kops.

Kubernetes: 1.8.7
Docker: 1.13.1
OS: Debian Stretch
CNI: Calico
Kernel: 4.9.0-5-amd64

By default Debian Jessie was used with kernel version 4.4 I think and it wasn't working fine.

[2018-03-30 12:45] msau42 commented on #45726
@kubernetes/sig-storage-bugs
/cc @gnufied

[2018-03-30 12:48] wzhx78 commented on #61937
@kubernetes/sig-cluster-container-bugs

[2018-03-30 12:48] akshaymankar commented on #58084
Ideally yes, TLS bootstrapping server certificates will work. But I am not sure how the automatic authorization of the CSR would work. Because then that component would need to know about nodes and their instance-names.

[2018-03-30 12:49] joshuacox commented on #61879
Just noting that when finding this issue on my setup, I had used [kubash](http://kubash.org/), which internall y follows this [google doc](https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg/edit) for multi-master initialization.  Poking around it is not me that initialized those particular CAs but it looks like kubeadm creates them:  https://github.com/kubernetes/kuber

[2018-03-30 12:53] liggitt commented on #61879
Yes, the install/setup component owns distribution of updates to that config

[2018-03-30 13:06] msau42 commented on #61832
In step 3, the recreated pod cannot be created until the original pod is fully deleted (not just terminated).  And in normal cases, the pod won't be fully terminated until the volume is unmounted from the node.  Are you seeing different behavior?

[2018-03-30 13:35] Nodraak commented on #61763
I confirm kubelet 1.10.0 is available through yum (on centos 7.4).

I believe this issue can be closed

[2018-03-30 13:52] joshuacox commented on #61879
@liggitt @tamalsaha is it the case that the certs should indeed be the same?  Is this actually a bug in kubeadm?   I do have scenarios where voyager is able to communicate just fine with the api server (despite all three masters having different `front-proxy-ca.crt`).

Can anyone verify for me that, indeed, on a multimaster setup these certs should be replicated and not generated individually?

[2018-03-30 13:53] alinbalutoiu opened #61939 "CNI cannot be used with Windows Server 2016 RTM (build number 14393)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The CNI does not work with Windows server 2016 RTM (build number 14393)

**What you expected to happen**:
The pod network to be set up correctly and to be able to reach the POD containers.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create k8s cluster.
2. Deploy Windows node with kubelet using CN

[2018-03-30 13:55] liggitt commented on #61879
yes, the masters should agree on client-ca and front-proxy-ca

you likely are not exercising the front-proxy capability in that case.

[2018-03-30 14:01] alinbalutoiu commented on #61939
/sig windows
/sig networking

[2018-03-30 14:05] joshuacox commented on #61879
Fixing in kubash, @tamalsaha you can close here, unless you think there might be some way of illuminating this sort of condition by some error reporting/detection.

[2018-03-30 14:10] soltysh commented on #61484
@AishSundar what's wrong with having it closed and re-open if the flake hits back?

[2018-03-30 15:25] soltysh commented on #61484
sgtm as long as you'll don't forget to close it when confirmed :wink: The reason I usually close them is so that I don't have to remember.

[2018-03-30 15:29] soltysh commented on #43168
@discordianfish it is not, due to backwards compatibility. We should move to just issuing delete slowly.

[2018-03-30 15:39] AishSundar commented on #61484
I will definitely keep an eye out and close it :) I usually check on these before my weekly flake report.

[2018-03-30 15:52] thockin commented on #59507
I think Finalizers is a very heavy hammer to hit this problem which, to be honest, doesn't affect that many people.  First, finalizers are designed for *a* controller, not a controller per-node.  So we'd need a kube-proxy centralizer, which waits for check-in from every kube-proxy.  That reduces to an already hard problem dealing with timeouts and assumed death of nodes.

If someone wants to proto

[2018-03-30 16:29] alexellis commented on #27984
@hongchaodeng did you find out the delivery semantics?

Is there a standard way to give an exact once delivery or handling in a controller? I.e. if the message/event will cause a notification or alert.

I tried this out with `cache.NewSharedIndexInformer` and it seems like sometimes I get the message about a deployment being created half a dozen times.

[2018-03-30 16:36] feellifexp commented on #61937
This bug seems to be related: https://github.com/opencontainers/runc/issues/1725

Which docker version are  you using?

[2018-03-30 16:41] ihoegen opened #61943 "Kubectl 1.10.0 is unable to create deployments on clusters running 1.8.7"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

/kind bug

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**: macOS 10.13.3
- **Kernel**: Darwin 17.4.0
- **Install tools**: brew

**What happened**:

When creating a sample deployment using the command `kubectl create -f deployment.yaml`, the following o

[2018-03-30 16:41] pires commented on #59507
A flag does sound a lot easier and could be delivered in time for 1.11. The checkpoint can then be prototyped, designed and proposed properly. Thoughts?

[2018-03-30 16:43] ihoegen commented on #61943
/sig cli

[2018-03-30 16:55] qkboy commented on #61937
@feellifexp with docker 1.13.1

[2018-03-30 16:56] murali-reddy commented on #59507
Agree. I totally missed the point of additional complexity of using Finalizers with controller per-node. Indeed its heavy hammer to hit this problem.

[2018-03-30 16:59] sravs1993 commented on #56637
Hello people,
I tried to create a kubernetes cluster with windows node and linux master. I used the windows server 2016 base ami. My cluster is formed and in linux master it says the node is Not Ready. And in the windows node it says kubelet service does not exist. Can anybody please help me with this?

[2018-03-30 17:11] discordianfish commented on #59376
@woopstar No, should that be necessary? The flag says:

But I would assume that pulling should make progress.

Looking at https://github.com/kubernetes/kubernetes/blob/915798d229b7be076d8e53d6aa1573adabd470d2/pkg/kubelet/dockershim/libdocker/kube_docker_client.go#L374 it seems that it expects to get some sort of pull status update from docker and only if there is no new message from docker for 1 m

[2018-03-30 17:17] rtayalla opened #61944 "kube-dns crashloopbackoff after flannel Install"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubeadm init --kubernetes-version=v1.9.0 --pod-network-cidr=10.244.0.0/16
kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
kubectl get pod --all-namespaces
NAMESPACE     NAME                                  READY          STATUS                  RESTARTS          AGE
kube-syst

[2018-03-30 17:25] rtayalla commented on #61944
/sig network

[2018-03-30 17:29] yujuhong opened #61945 "Update `ContainerLogPath` test"
The [ContainerLogPath test](https://github.com/kubernetes/kubernetes/blob/v1.11.0-alpha.0/test/e2e_node/log_path_test.go) should be updated to check CRI log paths.

[2018-03-30 17:30] rtayalla commented on #61944
needs-sig

[2018-03-30 17:30] rtayalla commented on #61944
sig/network

[2018-03-30 17:31] resouer commented on #61512
@bsalamat I mean before #58555, every retrying of preemptor Pod A will not be considered as equivalent (no `controllerRef`), so it will never run into this as during the last time of retry, cache should already be populated.

Actually, I agree as you mentioned, this will happen when frequent updating of cache+ecache in handlers, but AFAIK, at least in our tests, it's only the case for preemption s

[2018-03-30 17:34] davidovich opened #61946 "client-go: on Windows, homedir should prefer USERPROFILE"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In [client-go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/util/homedir/homedir.go), which is used by many clients, homedir favors a concatenation of %HOMEDRIVE% and %HOMEPATH% over %USERPROFILE%

**What you expected to happen**:

HOME should be favored if it is set, then fallback to

[2018-03-30 17:44] jhorwit2 commented on #61943
@ihoegen are you by chance a cluster admin? I can reproduce this when I impersonate a non-admin user but not as an admin. It seems to be RBAC related since `/openapi/v2` isn't part of `system:discovery`. If you run the kubectl command with `--v=6` I'm assuming it fails on that request.

[2018-03-30 17:45] jhorwit2 commented on #61943
Output
[code]

[2018-03-30 17:46] bsalamat commented on #61512
Ah, yes, that explains why the PR causes this issue.

You are probably right that this happens only in our preemption tests, but such a scenario can happen in my other situations in real clusters. For example, autoscaler may kill a few pods at the same time to shrink the cluster. Descheduler may do the same when trying to move pods elsewhere. A few pods may be killed by their controller at the sam

[2018-03-30 17:46] jhorwit2 commented on #61943
/sig auth

@liggitt This response isn't correct for an RBAC deny, right? I see the DENY in the apiserver logs.

[2018-03-30 17:55] ihoegen-isp commented on #61943
You're correct, I switched to the admin role, and I was able to create it. I was able to delete it from the developer role though.

The developer rules are:
[code]

[2018-03-30 17:59] ihoegen-isp commented on #61943
I was able to create it with cluster-admin, and my namespace admin roles as well. Namespace admin rules are:

[code]
with a clusterrole of

[code]

The non admins also use this same clusterrole.

[2018-03-30 18:01] ihoegen commented on #61943
You're correct, I switched to the admin role, and I was able to create it. I was able to delete it from the developer role though.

The developer rules are:
[code]

[2018-03-30 18:01] kfox1111 commented on #57909
I just hit this too.

[2018-03-30 18:01] ihoegen commented on #61943
I was able to create it with cluster-admin, and my namespace admin roles as well. Namespace admin rules are:

[code]
with a clusterrole of

[code]

The non admins also use this same clusterrole.

[2018-03-30 18:02] liggitt commented on #61943
looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/61805

[2018-03-30 18:02] jhorwit2 commented on #61943
@ihoegen this is a non-resource url so it's not covered by those rules.

[2018-03-30 18:07] frol commented on #61937
There is indeed a kernel memory leak up to 4.0 kernel release. You can follow this link for details: https://github.com/moby/moby/issues/6479#issuecomment-97503551

[2018-03-30 18:10] ihoegen commented on #61943
Why would it work with kubectl 1.9.3 then?

On Fri, Mar 30, 2018, 11:03 AM Josh Horwitz <notifications@github.com>
wrote:

[2018-03-30 18:13] liggitt commented on #61943
Because kubectl 1.9.x doesn't attempt to fetch that schema as a prereq to creating/updating all objects.

[2018-03-30 18:21] Random-Liu commented on #30039
@yujuhong WE don't support GID now. We should add the support.

[2018-03-30 18:21] #61763 closed

[2018-03-30 18:33] tamalsaha commented on #61879
This is not a Kubeadm bug. Kubeadm will auto generate the certs if the ca files are not provided. This helps in single master setup. In Multi-master setup the ca crt/key files should be generated outside and set in the /etc/kubernetes/pki/* folder so that Kubeadm can issue the server cert and client certs using the ca files.

Voyager uses aggregate api server to implement Webhooks. So, Voyager wil

[2018-03-30 18:33] #40540 closed

[2018-03-30 18:34] thefirstofthe300 commented on #43916
I've been digging in here trying to figure out why the workload @berlincount provided was OOMing. Given the simplicity, it just seemed odd.

Using the exact Job spec provided by Andreas, I spun up a k8s cluster, ran the job, and watched the kernel stats for the pod. The kernel was performing sanely for the most part. When it started to come under memory pressure, it started evicting from the page

[2018-03-30 18:40] irvifa commented on #30558
@cakraww yes, unfortunately this won't work in `container builder`, if we look into this [link](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/kubectl), we will know that the init script is supposed to receive only `kubectl` arguments.

[code]

`kubectl.bash`
[code]

Actually in bash if we can replace `kubectl` in the init script with `exec "$@"` instead, however I'm still findi

[2018-03-30 18:44] stephbu commented on #61917
I work with @jatan28.  We've explored Control-plane side in Node Controller and replication set logs - that all looked healthy and doing the right thing.  Kubelet side, we read thru DMESG/JournalCtlD etc. At the time of recovery we noted in all circumstances that the net-link was being bounced at almost exactly the time of recovery - pointing the finger at whatever was touching the network.

We co

[2018-03-30 18:49] resouer commented on #61512
@bsalamat Thanks! Yep, I would also prefer a fundamental fix like way to sync with cache or eliminate nodeInfo copy. Let's think it over.

[2018-03-30 18:52] joshuacox commented on #61879
yep, as I said earlier, I fixed in kubash and will be merging those fixes in soon.  Kubeadm is doing exactly what it is supposed to do.

I agree, this was obscure and any help on debugging such a condition would be welcome.

[2018-03-30 18:53] #60945 closed

[2018-03-30 18:53] #60564 closed

[2018-03-30 18:53] #61090 closed

[2018-03-30 19:07] Alex-II opened #61952 "Normalisation of command line arguments (underscore to hyphen) for kube-apiserver no longer occurs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kube-apiserver exited with an error when started with the --admission_control flag
The error was that "admission_control" is not a valid flag

**What you expected to happen**:
Expected "admission_control" to be a valid flag and for kube-apiserver to start normally.

**How to reproduce it (as minimally and precisely as pos

[2018-03-30 19:26] ephur opened #61953 "kube-proxy with --nodeport-addresses still prevents other services from using the ports on different interfaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kube-proxy was still binding to ::{port} for a node port service after it was started with the --nodeport-addresses argument

**What you expected to happen**:
kube-proxy to only bind to interfaces in the CIDR ranges specified by --nodeport-addresses.

**How to reproduce it (as minimally and precisely as possible)**:
Start

[2018-03-30 19:28] ephur commented on #61953
/sig network

[2018-03-30 19:47] woopstar commented on #59376
@discordianfish  According the the blog post [here](https://blog.openai.com/scaling-kubernetes-to-2500-nodes/) they had set to increase the `--image-pull-progress-deadline` on the kubelet, as they got `rpc error: code = 2 desc = net/http: request canceled` errors when pulling large images.

[2018-03-30 20:13] alexmavr opened #61958 "Users should be able to know which namespaces they have permissions against"
/kind feature

I wasn't able to find a way for users to view the list of namespaces that they may be able to perform operations against, if they don't have explicit permissions to perform a `list` operation on the `namespace` resource.

For example, with the built-in RBAC system a user may only have a single `RoleBinding`, for a role that grants only `PodCreate` on namespace `foo`. The user would

[2018-03-30 20:15] alexmavr commented on #61958
@kubernetes/sig-auth-feature-requests

[2018-03-30 20:18] rkarthik007 commented on #61906
Agree... especially across different cloud provider managed services.

This would be great if possible. But I am not aware of the internal architecture,  so not sure about the internal tradeoffs involved. But even this way, the burden of "interpreting" the topological labels exists across different cloud providers. Not sure there is a clean solution for that other than having a spec.

[2018-03-30 20:21] liggitt commented on #61958
Correct. there are no ACL-filtered APIs in core kubernetes. Filtering resources through ACL breaks  resourceVersion semantics that allow `watch` to function properly.

If you don't care about those semantics (or about supporting `watch` in a way that works reliably with informers, etc), you could build an API like https://github.com/openshift/kube-projects. That is an example of an ACL-filtered AP

[2018-03-30 20:28] Alex-II commented on #61952
@kubernetes/sig-cli-bugs

[2018-03-30 20:30] liggitt commented on #61958
closing this, as the issues with ACL-filtered list APIs are fairly well understood not to play well with watch semantics and external authorizers, and there no near-term plans to bring something like https://github.com/openshift/kube-projects into tree

/close

[2018-03-30 20:30] #61958 closed

[2018-03-30 20:38] jingxu97 commented on #61248
@mlmhl you are thinking the spec name is also very useful so we should keep them for mount operation's log?

[2018-03-30 20:50] groner opened #61961 "Providing incorrect oidc-client-id to apiserver causes apiserver to become unresponsive"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I redeployed k8s v1.8.10 using kube-aws v0.9.9 adding oidc to the configuration, having the right issuer-url, but the wrong client-id.

After the controller node and api-server were up, kubectl certificate authenticated requests would timeout until about 20 minutes after the server started.  Also, curl requests with certi

[2018-03-30 20:57] groner commented on #61961
I guess this is relevant to api-machinery sig or auth sig.

/sig api-machinery

[2018-03-30 20:58] thefirstofthe300 commented on #43916
Interesting...the nodes I executed the above tests on were GKE COS nodes
[code]
[code]
Swapping the node out for an Ubuntu node seems to correct the memory usage. The pod never uses more than 600 MiB of RAM according to `kubectl top pod`.

This is looking more and more like some kind of memory leak or misaccounting that's present in the 4.4 series kernel used in COS nodes but not in the 4.13 serie

[2018-03-30 21:02] liggitt commented on #61961
/assign @ericchiang

[2018-03-30 22:12] jfoy commented on #61917
@stephbu Do your NLB metrics show any suspicious events ~10s or less before the first logged "Client.Timeout exceeded while awaiting headers" message?

[2018-03-30 22:19] resouer commented on #54090
@yujuhong Sorry for missing your message >_<

Actually, someone else claimed this issue from me a month ago but seems he did not make it. I will pick this up in next cycle.

[2018-03-30 22:37] #9125 closed

[2018-03-30 22:46] stephbu commented on #61917
Yes, we've see AWS NLB Metrics showing TCP reset spikes above normal levels in both client and/or target stats.

[2018-03-30 22:56] rramkumar1 commented on #60257
Looks like switching back to hairpin-veth as the default fixed this (#60166). We can reopen if necessary.
/close

[2018-03-30 22:56] #60257 closed

[2018-03-30 23:12] cblecker commented on #60598
Looks like this is fixed. Thanks for diagnosing, @liggitt ! Going to close this out, but if anyone wants to track the rest of the upgrade, it's happening in https://github.com/kubernetes/kubernetes/pull/60597.

[2018-03-30 23:12] #60598 closed

[2018-03-30 23:38] #52818 closed

[2018-03-30 23:38] #30073 closed

[2018-03-30 23:41] rramkumar1 commented on #61953
/assign @m1093782566

[2018-03-30 23:54] thockin commented on #26050
Is anyone working on this?

[2018-03-30 23:54] thockin commented on #26050
/lifecycle frozen
/remove-lifecycle stale

[2018-03-31 00:02] ravisantoshgudimetla commented on #61737
I think, in preemption
- We are checking if the node could run the pod after removing certain pods.(podFitsOnNode) is being checked in selectVictimsOnNode function.
- The actual eviction of pod happens on one of the potential nodes after checking for PDBs etc.

In descheduler,
- We need to check if there is a node where the current pod could run before eviction happens. (As of now, we are not chec

[2018-03-31 00:04] orainxiong commented on #61832
Yes, _Statefulset_ is able to guarantee at-most-one pod in normal cases, but not in **Master-Node Partitioning** scenario.

**Master-Node Partitioning** occurs when a network or network interface failure isolates API server from a node. There is an easy way to simulate this scenario by _iptables_.

NodeLifecycleController is capable of detecting the unreachable node.
the doEvictionPass function is

[2018-03-31 00:46] ericchiang commented on #61961
Do you have any logs from your API server? Just from reasoning about the codebase I don't understand why the wrong client ID would impact TLS client auth.

[2018-03-31 01:19] thockin commented on #19764
There are more feature requests than people to implement. ;(

On Mon, Mar 26, 2018, 1:19 AM funlake <notifications@github.com> wrote:

[2018-03-31 01:20] tallclair commented on #61900
This feels like something that's better left to audit logging. What is the reason for needing the IP here? I think we generally try to avoid logging IPs in debug logs, since they can be considered PII.

[2018-03-31 01:30] wzhx78 commented on #61937
I want to know why k8s 1.9 delete this line `if` d.config.KernelMemory != 0 {'  in k8s.io/kubernetes/vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go

[2018-03-31 01:33] #61927 closed

[2018-03-31 01:43] m1093782566 commented on #59507
/assign @rramkumar1

because he is interested in this task :)

[2018-03-31 01:49] mikedanese opened #61966 "remove deprecated ExternalID"
/sig node
/sig cloud

[2018-03-31 02:00] m1093782566 commented on #61953
@ephur

Good catch! I will fix it ASAP~

[2018-03-31 02:16] Random-Liu opened #61967 "Group ID in image config is ignored."
Today, kubelet gets User ID from image config.  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L986

Passes that user ID to container runtime when create container as `run_as_user` or `run_as_username` https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L558.

Dockershim passes the user id / user

[2018-03-31 02:28] mikedanese commented on #61966
ExternalID aliased to InstanceID
* azure
* cloudstack
* vsphere

ovirt InstanceID is ExternalID with a leading '/'

photon InstanceID and ExternalID are copies of the same function

gce InstanceID is `<project>/<zone>/<instance>` and ExternalID is `<instance>`

aws InstanceID is `/<zone>/<instance>` and ExternalID is `<instance>`

[2018-03-31 02:48] bubba0823 commented on #61967
Fix

[2018-03-31 03:04] daxzhuo commented on #61944
Make sure node can access api-server with clusterIP `kubectl describe service kubernetes`.
If not you could try install conntrack `yum install conntrack` and restart `kube-proxy`.
Let me know if it work.

[2018-03-31 03:13] #58232 closed

[2018-03-31 04:07] ravisantoshgudimetla commented on #61607
It would be helpful if you could provide more information. An example would be number of pods that have gone to new node, along with pod descriptions that have gone there. This would help us to debug further.

[2018-03-31 04:16] #58235 closed

[2018-03-31 04:40] feellifexp commented on #61937
I am not an expert here, but this seems to be change from runc, and the change was introduced to k8s since v1.8.
After reading the code, it seems it impacts cgroupfs cgroup driver, while systemd driver is not changed. But I did not test the theory yet.
Maybe experts from kubelet and container can chime in further.

[2018-03-31 04:43] #48633 closed

[2018-03-31 05:44] #54897 closed

[2018-03-31 06:38] chinglinwen commented on #52919
I encountered this issue too,  for prometheus kubernetes config

Using string directly, rather than file solve this, it's complicate the config though

Changed from bearer_token_file to bearer_token, solved this issue

Example config:

[code]

[2018-03-31 07:24] hzxuzhonghu opened #61975 "should support passing stop channel to control controller-manager gracefully exit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

There is no way to control controller-manager to exit gracefully when I kill its process directly(e.g. upgrade). In such case, there maybe kinds of disadvantages.

1.  Exit just after loadbalancer service deletion triggered (service controller have no enough time to process this service deletion),   it may cause many

[2018-03-31 07:25] hzxuzhonghu commented on #61975
/sig apps

[2018-03-31 08:48] groner commented on #61961
@ericchiang Here are the apiserver logs from one run.
https://gist.github.com/groner/18f071a7880cf763c5c8fbfff3875036

There is a considerable amount of spam from some clients failing to authenticate 6 times per second, for the entire time the server is running (even when I'm experiencing these timeouts).  I think this is unrelated, because the server is responsive now even though these failed att

[2018-03-31 09:07] hzxuzhonghu commented on #61975
/sig api-mahinery
client-go leaderelection should provide a mechanism to pass a stop channel to it for running Callbacks.OnStartedLeading.

[2018-03-31 09:17] jamespinkerton opened #61978 "Reason: Unauthorized"
Hi. I'm occasionally getting the following error on kubectl requests through the python API to GKE.

The exception is when calling BatchV1Api->list_job_for_all_namespaces.

kubernetes.client.rest.ApiException: (401)
Reason: Unauthorized
HTTP response headers: HTTPHeaderDict({'Audit-Id': 'ffa6c4c6-4ba9-4de7-b3c7-23437edbe4ff', 'Content-Type': 'application/json', 'Www-Authenticate': 'Basic realm="ku

[2018-03-31 09:33] Lion-Wei commented on #61938
I found this maybe related with iptables rules  `KUBE-HOSTPORTS` , ingress-controller need to validate the default service by access `https://10.0.0.1:443...`. But the iptables like:
[code]
That means the access of port `443` will **be directly DNAT to nginx-ingress-controller**.

In iptables proxy mode, DNAT will be done in `KUBE-SERVICES` chain, so the access of `https://10.0.0.1:443...` still f

[2018-03-31 10:12] patrikerdes opened #61979 ""kubectl get all" or "kubectl get x --show-type" do not show the resource type in kubectl v1.10.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In kubectl v1.10.0 none of `kubectl get all`, `kubectl get po,svc` and `kubectl get pods --show-kind` show the kind of the resource type of the objects:

[code]

**What you expected to happen**:
The same behavior as in kubectl v1.9.6, that the resource type is added to the name:
[code]

**How to reproduce it (as minimally

[2018-03-31 10:18] patrikerdes commented on #61979
/sig cli

[2018-03-31 10:49] #49199 closed

[2018-03-31 10:49] #54707 closed

[2018-03-31 12:09] nilebox commented on #42594
@nikhiljindal your PR #46471 (adding a `-wait` flag) has been automatically closed by bot a while ago due to inactivity. Do you have any plans on resurrecting it?

[2018-03-31 12:40] kevin-wangzefeng commented on #61937
/sig node

[2018-03-31 12:41] yastij commented on #47243
/remove-lifecycle stale

[2018-03-31 12:59] kevin-wangzefeng commented on #61937
I guess https://github.com/opencontainers/runc/pull/1350 is the one you are looking for, which is actually an upstream change.

/cc @hqhq

[2018-03-31 14:33] wzhx78 commented on #61937
thanks @kevin-wangzefeng ,  the runc upstream had changed,  I know why now , the change is `https://github.com/hqhq/runc/commit/fe898e7862f945fa3632580139602c627dcb9be0 , but enable kernel memory accounting on root by default , the child cgroup will enable also, this will cause cgroup memory leak on kernel 3.10.0,   @hqhq ,    is there any way to let us enable or disable kernel memory by ourself?

[2018-03-31 15:06] medakk commented on #60601
@lavalamp Is anyone working on this? I'd like to take up this issue, if no else is.

[2018-03-31 18:56] cblecker commented on #61978
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-03-31 18:56] #61978 closed

[2018-03-31 19:31] cblecker opened #61986 "verify-godeps broken on darwin"
The key error message:
[code]

verify-godeps creates a tmp dir, copies the repo over, runs a godep save, and then diffs. It uses `mktemp` and the system tmpdir to do this. The problem with this, is that on darwin, the system tmp dir is inside a symlink.
[code]

gazelle ends up barfing because it doesn't see /var/folders/... as a subdirectory of the non symlinked /private/var/folders/...

/kind bug

[2018-03-31 19:44] Miyurz commented on #61277
Same for v1.10.0 and v1.11.0 too.

[code]

[2018-03-31 19:48] Miyurz commented on #61277
on a side note, does anyone know how we can make kubeadm logs more verbose to understand what/why its actually hosed ? many thanks

[2018-03-31 19:58] #20625 closed

[2018-03-31 20:01] cmgurba commented on #24903
I ran across a similar error and I simply was building images in a terminal which wasn't pointed to my minikube docker-env.  I needed to run `eval $(minikube docker-env)` and build my images again.  😨

[2018-03-31 20:01] marcellodesales commented on #57325
@mooperd @frittentheke @mighq Here's a way to copy a secret placed under namesapce `kube-system` to application's namespace

[code]

[2018-03-31 21:06] #59384 closed

[2018-03-31 21:16] Tapppi commented on #51835
BTW, creating a new node pool with version `v1.9.3-gke.0` was our workaround for this, since `v1.9.5` is still not rolled out on gke and it's easter already.

[2018-03-31 22:55] krmayankk commented on #61967
/assign @krmayank

[2018-03-31 22:55] krmayankk commented on #61967
/assign @krmayankk

[2018-03-31 22:56] krmayankk commented on #61967
thanks @Random-Liu  i am already fixing this

[2018-04-01 01:35] hqhq commented on #61937
@wzhx78 The root cause is there are kernel memory limit bugs in 3.10, if you don't want to use kernel memory limit because it's not stable on your kernel, the best solution would be to disable kernel memory limit on your kernel.

I can't think of a way to workaround this on runc side without causing issues like https://github.com/opencontainers/runc/issues/1083 and https://github.com/opencontainer

[2018-04-01 02:11] xigang commented on #61543
I has same issue:(

[2018-04-01 05:07] #54798 closed

[2018-04-01 05:27] nikhiljindal commented on #42594
No. Feel free to take over.

[2018-04-01 05:56] zhaosg commented on #61543
I has same issue

[2018-04-01 07:49] xingtanzjr opened #61989 "Get node's internal IP by node's hostname"
**Is this a BUG REPORT or FEATURE REQUEST?**:
feature

**What happened**:
I want to get node's internal IP in a Pod by node's hostname.

**What you expected to happen**:
I am trying to deploy HDFS on Kubernetes. I am using DaemonSet to start one datanode on one node and the network mode for the pod is `hostNetWork`. And now, if I add a new node to k8s cluster, existed nodes cannot get the internal

[2018-04-01 10:09] wzhx78 commented on #61937
@hqhq it's exactly kernel 3.10's bug, but we spent more time to found it and it brought us big trouble on production environment,  since we only upgrade k8s version from 1.6.x to 1.9.x. In k8x 1.6.x version ,  it doesn't open the kernel memory by default since runc had if condition.  but after 1.9.x, runc open it by default. we don't want others who upgrade the k8s 1.9.x version had this big troub

[2018-04-01 11:13] #54221 closed

[2018-04-01 11:51] gfrntz opened #61993 "[1.10] kube-apiserver/kubelet dynamicConfigDir"
/kind bug

**What you expected to happen**:
DynamicConfigDir can't work in k8s 1.10 kube-apiserver without enabled ```--feature-gate =DynamicKubeletConfig=true```. But now this feature doesnt alpha and will be enable by default. Whats wrong?

**How to reproduce it**:
* Install kubernetes 1.10.0.
* Run kube-apiserver without ```--feature-gate =DynamicKubeletConfig=true```
* kubectl node edit `some_

[2018-04-01 12:52] gfrntz commented on #61993
@kubernetes/sig-onprem

[2018-04-01 13:09] kaizamm commented on #60835
From flannel office website， i found that comment as follows：

Vagrant
Vagrant typically assigns two interfaces to all VMs. The first, for which all hosts are assigned the IP address 10.0.2.15, is for external traffic that gets NATed.

This may lead to problems with flannel. By default, flannel selects the first interface on a host. This leads to all hosts thinking they have the same public IP add

[2018-04-01 14:25] andyxning opened #61994 "Incompatibility for kubelet stats api and cadvisor docker-only option"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
cAdvisor has a `docker-only` option to only collect docker related cgroups.
Kubelet stats api now supports allocatable cgroup, /kubepods, for the runtime cgroup and the kubelet cgroup. But with `docker-only` settings, Kubelet stats api can not query pod related cgroups metrics.

FYI:
* https://github.com/kubernetes/kuberne

[2018-04-01 14:26] andyxning commented on #61994
/cc @tallclair @dashpole

[2018-04-01 14:26] andyxning commented on #61994
/sig node
/sig instrumentation

[2018-04-01 15:26] ectsue commented on #61543
I experienced a very similar issue on k8s version 1.10. However, it wasn't isolated to stateful sets. I was unable to mount any rbd persistent volumes. I downgraded to 1.9.2 and everything worked again.

[2018-04-01 15:52] liggitt commented on #61993
You must set the feature gate in the apiserver as well to use alpha fields

[2018-04-01 15:52] liggitt commented on #61993
/assign @mtaufen

[2018-04-01 16:25] bailantaotao opened #61997 "What's the best way to remove admission-control flag on v1.7.9?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
NO

**What happened**:
I have deployed more resources on my kubernetes cluster. But i cannot declare SecurityContext on my pod. Because i added the flag `SecurityContextDeny` on admission-control when deploy kubernetes.

I trying to remove them by following step:

1. ssh enter to master node.
2. vim /etc/kubernetes/manifests/kube-apiserver.yaml.
3. rem

[2018-04-01 16:26] klausenbusk commented on #41444
/close

This is probably never gonna happen. K8s is working on moving all cloud providers out-of-tree and isn't accepting new in-tree cloud providers. DigitalOcean also provide a [out of tree cloud provider](https://github.com/digitalocean/digitalocean-cloud-controller-manager), which update the node with the correct labels and provide load balancer support. For storage there is a [DigitalOcean bl

[2018-04-01 16:38] DerfOh commented on #44275
Having the same problem. Error needs to be more clear.

[2018-04-01 17:32] paralin commented on #41444
Those things were not in place when the issue was raised.

[2018-04-01 17:32] #41444 closed

[2018-04-01 19:21] #54494 closed

[2018-04-01 19:47] gfrntz commented on #61993
So if right understand, this feature in beta only for kubelet. Right?
https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

[2018-04-01 19:53] liggitt commented on #61993
No. Dynamic config is still alpha.

Loading config from a file (statically) is beta.

[2018-04-01 20:04] gfrntz commented on #61993
Nice. Thanks for the fast answer about api. What do you think about kubelet bug?

[2018-04-01 21:29] cblecker commented on #49425
@MrHohn is this something that is still in progress?

[2018-04-01 22:24] #54817 closed

[2018-04-01 23:21] dims commented on #60491
do they have the same hostnames too? we need to be able to discover the vm that corresponds to where the code is running. (trying to avoid using uuid(s))

[2018-04-01 23:25] #54765 closed

[2018-04-02 00:54] jmontleon commented on #61474
I updated my system from F27 to F28 and hit the same issue.

`dnf downgrade systemd --releasever=27` brought me down from systemd 238 to 234 and I am able to successfully run `oc cluster up` now

[2018-04-02 00:57] xinxiaogang commented on #59848
We have similar issue here https://github.com/kubernetes/kubernetes/issues/61343

Especially when cluster scale is large and there are large load for List request from any clients without ResourceVersion specified in the request.
What we found is the grpc connection throughput is limited which cause the request timeout. Because, during the slowness, both etcd and apiserver, there are still enough

[2018-04-02 01:09] ryanmcnamara opened #61998 "Statefulset pods sometimes continually rolling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Statefulsets are sometimes continually rolling pods and I don't know why
statefulset created:
statefulset.yml:
https://gist.github.com/ryanmcnamara/9e81c2bd2c6ac22fe8c12bc2a68a8aad
storageclass referenced:
https://gist.github.com/ryanmcnamara/cdf8ade20d3a853d5ed2d80b60ead79f
kubectl describe statefulset statefulset-test:

[2018-04-02 01:09] ryanmcnamara commented on #61998
/sig apps

[2018-04-02 01:10] ryanmcnamara commented on #61998
I realize this will probably need some further debugging, happy to get some direction

[2018-04-02 01:21] k82cn commented on #48647
/remove-lifecycle stale

[2018-04-02 02:02] zjj2wry commented on #61699
/assign

[2018-04-02 02:03] glennschmidt opened #61999 "Recurring high iowait due to kubelet 'du' process"
/kind bug

**What happened**:

I'm using Kubernetes 1.8.7 installed on AWS with kops. Every now and again one of my nodes will enter a state where it becomes unable to measure overlay FS usage without causing extremely high IO wait. When this happens the host enters a loop which looks like this:
1. Host load becomes very high and all workloads are affected for a few minutes
2. Eventually the `du`

[2018-04-02 02:16] k82cn opened #62000 "NodeSelectorTerm: ANDed or ORed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

According to the [design doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/nodeaffinity.md#nodeselector), the NodeSelectorTerm is ANDed; but the implementation and its comments are ORed. Open this issue to confirm the target behaviour.

/sig scheduling

[2018-04-02 02:18] zouyee commented on #61934
https://github.com/kubernetes/kubernetes/issues/9229

[2018-04-02 02:20] resouer commented on #48647
https://github.com/kubernetes/community/pull/933/ has been merged so doc can be drafted.

[2018-04-02 03:07] #61979 closed

[2018-04-02 03:10] k82cn commented on #61012
xref https://github.com/kubernetes/kubernetes/issues/14188 , https://github.com/kubernetes/kubernetes/issues/16845

[2018-04-02 03:24] jejer commented on #60869
@ReSearchITEng I load ip_vs at boot time.
cat /etc/modules-load.d/ip_vs.conf
ip_vs

[2018-04-02 04:00] m1093782566 commented on #61953
Please check #62003

[2018-04-02 04:02] xinjt commented on #52715
this is my situation
when i run
kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
i get err here:
[root@k8s-master kube]# kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
[init] Using Kubernetes version: v1.10.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Runni

[2018-04-02 04:04] xinjt commented on #53333
this is my situation
when i run
kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
i get err here:
[root@k8s-master kube]# kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
[init] Using Kubernetes version: v1.10.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Runni

[2018-04-02 04:08] xinjt opened #62004 "The kubelet is unhealthy due to a misconfiguration of the node in some way (required cgroups disabled)"
this is my situation
when i run
kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
i get err here:
[root@k8s-master kube]# kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
[init] Using Kubernetes version: v1.10.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Runni

[2018-04-02 04:35] xinjt commented on #54918
this is my situation
when i run
kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
i get err here:
[root@k8s-master kube]# kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
[init] Using Kubernetes version: v1.10.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Runni

[2018-04-02 05:05] rajatjindal commented on #57325
we have the same scenario too, where we have a wildcard cert, which we now have to copy to all namespaces.

and because different namespaces have different admins, they all will have access to private keys.

is there anyway we can restrict the access to a specific secret using RBAC (today we have namespace level 'cluster-admin' which have access to all secrets)

[2018-04-02 05:10] jmontleon commented on #61474
@dims it looks like that line was added as part of a PR that removed permission to delegate from most unit types,

https://github.com/systemd/systemd/commit/1d9cc8768f173b25757c01aa0d4c7be7cd7116bc

That would makes sense of the error we're seeing, "Failed to start ContainerManager Delegation not available for unit type"

I don't know which unit type is being denied based on the message, and short

[2018-04-02 06:08] w5750584 opened #62008 "cant resolve localhost address"
我在deploy里面跑了一个java应用，在启动的时候提示一下错误信息:
我google搜索了这个错误信息，别人说需要将hostname绑定到127.0.0.1
但是，pod的名字不是固定的，如何绑定pod的名称。

Apr 02, 2018 10:29:17 AM redis.clients.jedis.HostAndPort getLocalHostQuietly
SEVERE: cant resolve localhost address
java.net.UnknownHostException: xxxr-7bc6dff48d-mm8hl: xxxr-7bc6dff48d-mm8hl: Name or service not kn
own
	at java.net.InetAddress.getLocalHost(InetAddress.java:1505)
	at redis.

[2018-04-02 06:11] ddongchen commented on #61702
we created an object via "CRD", and we wrote a controller for it.

[2018-04-02 06:25] gyliu513 opened #62009 "1.10 hyperkube kubelet is losing some parameters from help"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

[code]

/sig cli

[2018-04-02 06:28] gyliu513 commented on #62009
This is kubelet help info from Kubernetes 1.9.
[code]

[2018-04-02 07:29] andyzhangx opened #62010 "local volume on Windows does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
By following this [link](https://github.com/andyzhangx/demo/blob/master/windows/local/) to create a windows pod with local volume mount, pod mount will fail like following:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
follow this [link](https://github.com/andyz

[2018-04-02 07:47] liggitt commented on #62009
/assign @mtaufen

[2018-04-02 07:50] #61368 closed

[2018-04-02 07:50] redbaron commented on #49746
Version bump happened in 1.10 cycle, right?

/remove-lifecycle stale

[2018-04-02 07:53] tomoe commented on #57345
For the record, the systemd issue has been addressed with https://github.com/systemd/systemd/pull/7811 and included in the tag v237.

[2018-04-02 08:18] gyliu513 opened #62013 "Enable customize horizontal-pod-autoscaler-tolerance"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Controller manager support autoscaling based on customer metrics now, and the controller manger has a parameter named as `--horizontal-pod-autoscaler-tolerance` which is used to define the minimum change in the desired-to-actual metrics ratio for the horizontal pod autoscaler to consider scaling with a default value a

[2018-04-02 08:20] gyliu513 commented on #62013
/cc @hchenxa @huxiaoliang

[2018-04-02 08:21] wgliang commented on #61903
It would be helpful if you could provide more information. Or you can try to reproduce the problem in another environment.

And /sig testing

[2018-04-02 08:52] #62004 closed

[2018-04-02 09:06] andyzhangx opened #62016 "local volume does not accept Windows absolute path"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Windows absolute path `D:` is not allowed in local volume, the [validation](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L1386) happens on both master and agent node, while for windows cluster, the master is Linux and agent is Windows, so `path.IsAbs()` func will not work all

[2018-04-02 09:13] jiaxuanzhou opened #62017 "Ability to dynamically modify liveness/readiness Prober handlers and rules of pod spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently, the prober field in pod spec could not be updated, but we can update the prober field in controllers (statefulset/deployment...)
**What you expected to happen**:
1, we can dynamically modify the prober params in pod spec
2, when we modify the prober paras in templates of controllers, synchronously restart the prober manag

[2018-04-02 09:34] jiaxuanzhou commented on #62017
/sig node

[2018-04-02 09:37] m1093782566 commented on #7433
/remove-lifecycle stale

[2018-04-02 10:01] princerachit commented on #61277
I followed advices from [this link ](https://github.com/kubernetes/kubernetes/issues/54918)
First make sure you have switched off swap with `sudo swapoff -a`
Then add the following line if it does not exist to ``` /etc/systemd/system/kubelet.service.d/10-kubeadm.conf ```

```Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false"```
Restart the kubelet service and docker service with ```systemctl re

[2018-04-02 10:01] hzxuzhonghu commented on #61997
I think there is no way except kube-apiserver restart. But no need to restart kubelet, move the kube-apiserver.yaml out and back.

[2018-04-02 10:05] hzxuzhonghu commented on #62009
All KubeletConfiguration flags are now deprecated

[2018-04-02 10:09] abhijeetab07 commented on #61831
When I hit URL-A it redirects me to URL-B, for now I am trying with URL-A to URL-B and it doesn't work. But, when I configure URL-B in the probe, it goes like this  URL-B ---> URL-A ---> URL-B, still redirects. This makes it cyclic in a way.

If redirection is supported, then what exactly do we need to configure in the probe ?

[2018-04-02 10:24] wzhx78 commented on #61937
@hqhq any comments ?

[2018-04-02 10:29] CaoShuFeng opened #62020 "Strange error message when creating a TokenRequest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**How to reproduce it (as minimally and precisely as possible)**:
[code]

The error message said:
[code]
This is very strange, because "my-pod" is not a serviceaccount.

[2018-04-02 10:29] CaoShuFeng commented on #62020
/assign
/sig auth

[2018-04-02 10:36] #48998 closed

[2018-04-02 10:43] DmitriyProkhorov opened #62022 "The cloud provider for azure does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The cloud provider for azure does not work. Kube-apiserver does not start.
The error repeated from docker logs on api-server container:

E0402 09:37:33.504889 1 azure_backoff.go:141] backoff: failure, will retry,err=azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azu

[2018-04-02 10:44] #61805 closed

[2018-04-02 10:44] #61943 closed

[2018-04-02 10:52] dims commented on #62022
@DmitriyProkhorov - see a couple of work arounds in https://github.com/kubernetes/cloud-provider-openstack/issues/74

[2018-04-02 11:02] myqq0000 opened #62023 "edit 10.kubeadm.conf to change kubelet config, but can't be effective"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I edit /etc/systemd/system/kubelet.service.d/10.kubeadm.conf to change the config of kubelet (I want to change the quantity of nodefs.available)
And then I saved it and restart kubelet.
But from the log I find that the quantity of nodefs.available didn't change.
It still the default 0.10.
So what should I do to change it?

[2018-04-02 11:26] hqhq commented on #61937
Maybe you can add an option like `--disable-kmem-limit` for both k8s and runc to make runc disable kernel memory accounting.

[2018-04-02 11:41] disha94 commented on #61901
/sig cluster-ops
/sig node

[2018-04-02 11:49] gyliu513 commented on #62009
@hzxuzhonghu what do you mean of `All KubeletConfiguration flags are now deprecated`? How can I get all of the parameters supported by kubelet as Kubernetes 1.9?

[2018-04-02 11:54] hzxuzhonghu commented on #62009
Sorry, did not look into flag parsing

[2018-04-02 11:54] mcfedr commented on #52218
Would be really great if I could use `-f and `-l`, this feels really limiting

[2018-04-02 12:09] astefanutti commented on #56297
/remove-lifecycle stale

[2018-04-02 12:38] #28226 closed

[2018-04-02 12:51] yue9944882 commented on #61502
@msau42 I don't find any other `FakeMounter` in the repo. To which r u referring plz? (facepalm

[2018-04-02 12:56] calebamiles commented on #61794
Acknowledged, @rajansandeep. I think you the issue you identified is a question better handled by someone in @kubernetes/sig-cluster-lifecycle-bugs. Your issue might be tracked under https://github.com/kubernetes/kubeadm/issues/740; and if so closing this issue will help keep the issue queue a bit more sane. Thanks!

[2018-04-02 13:19] wuzhihui1123 commented on #61543
I has same issue when i upgrade to 1.9.6 from 1.8.7
k8s version : 1.9.6
os: centos 7.3.1611
kernel:  3.10.0-514.6.2

==> it will be ok when k8s rollback to 1.8.7

[2018-04-02 13:21] #62023 closed

[2018-04-02 13:26] XANi commented on #61900
To know which pod failed to authenticate with the apiserver. It is much easier to just look at apiserver logs instead of trying to guess which one of tens/hundreds/thousands pods did it.

But pods are not people ? And logs shouldn't be visible to anyone but cluster admins anyway ?

[2018-04-02 13:27] DmitriyProkhorov commented on #62022
Thank you! On Ubuntu Server it all worked. But for some reason the way to clean the / etc / ssl folder did not help

[2018-04-02 13:29] dims commented on #62022
/sig aws

[2018-04-02 13:30] dims commented on #62008
Please use stackoverflow for support questions
/close

[2018-04-02 13:30] #62008 closed

[2018-04-02 13:31] dims commented on #61997
/sig api-machinery

[2018-04-02 13:32] dims commented on #61999
/sig node

[2018-04-02 13:32] dims commented on #61989
/sig network

[2018-04-02 13:33] jarrpa commented on #38399
/remove-lifecycle stale

[2018-04-02 13:33] dims commented on #61907
/sig cluster-lifecycle

[2018-04-02 13:35] dims commented on #61906
/sig apps

[2018-04-02 13:35] dims commented on #61896
/sig auth

[2018-04-02 13:36] dims commented on #61831
/sig api-machinery

[2018-04-02 13:36] dims commented on #61831
/sig node

[2018-04-02 13:37] dims commented on #61815
/sig cluster-lifecycle

[2018-04-02 13:37] dims commented on #61784
/sig network

[2018-04-02 13:39] dims commented on #61768
/close

please reopen with additional info requested

[2018-04-02 13:39] #61768 closed

[2018-04-02 13:40] dims commented on #61767
/sig azure

[2018-04-02 13:41] dims commented on #61756
can you please move this to minikube repo?

/close

[2018-04-02 13:41] #61756 closed

[2018-04-02 13:41] dims commented on #61717
/sig node

[2018-04-02 13:41] dims commented on #61682
/sig network

[2018-04-02 13:42] dims commented on #61632
/sig node

[2018-04-02 13:42] dims commented on #59690
/close

(stale bot opened issue)

[2018-04-02 13:42] #59690 closed

[2018-04-02 13:42] dims commented on #59689
/close

(stale bot opened issue)

[2018-04-02 13:42] #59689 closed

[2018-04-02 13:42] dims commented on #59617
/close

(stale bot opened issue)

[2018-04-02 13:42] #59617 closed

[2018-04-02 13:42] dims commented on #59616
/close

(stale bot opened issue)

[2018-04-02 13:42] #59616 closed

[2018-04-02 13:42] dims commented on #59615
/close

(stale bot opened issue)

[2018-04-02 13:43] #59615 closed

[2018-04-02 13:43] dims commented on #59089
/close

(stale bot opened issue)

[2018-04-02 13:43] #59089 closed

[2018-04-02 13:43] dims commented on #58938
/close

(stale bot opened issue)

[2018-04-02 13:43] #58938 closed

[2018-04-02 13:43] dims commented on #58946
/close

looks like this got fixed.

[2018-04-02 13:43] #58946 closed

[2018-04-02 13:44] dims commented on #59458
/close

(stale bot opened issue)

[2018-04-02 13:44] #59458 closed

[2018-04-02 13:44] dims commented on #59300
/close

(stale bot opened issue)

[2018-04-02 13:44] #59300 closed

[2018-04-02 13:44] dims commented on #59241
/close

(stale bot opened issue)

[2018-04-02 13:44] #59241 closed

[2018-04-02 13:44] dims commented on #59167
/close

(stale bot opened issue)

[2018-04-02 13:44] #59167 closed

[2018-04-02 13:44] dims commented on #59168
/close

(stale bot opened issue)

[2018-04-02 13:44] #59168 closed

[2018-04-02 13:45] cofyc commented on #61741
I'm going to work on this.

[2018-04-02 13:45] dims commented on #61628
/sig node

[2018-04-02 13:46] dims commented on #61583
/sig auth
/sig api-machinery

[2018-04-02 13:49] dims commented on #61474
@jmontleon no clues in the system logs?

[2018-04-02 13:49] dims commented on #61474
/sig node

[2018-04-02 13:49] dims commented on #61469
/sig api-machinery

[2018-04-02 13:51] dims commented on #61398
@M-Ayman can you please add logs from kubelet?

/sig node

[2018-04-02 13:51] dims commented on #61384
/sig api-machinery

[2018-04-02 13:54] dims commented on #61448
/sig api-machinery

[2018-04-02 13:55] dims commented on #61335
/sig gcp

[2018-04-02 13:56] dims commented on #61275
/sig gcp

[2018-04-02 13:56] dims commented on #61256
/sig node

[2018-04-02 13:56] dims commented on #61223
/sig node

[2018-04-02 13:57] dims commented on #61208
/close

please let us know if you see  problem with newer version

[2018-04-02 13:57] #61208 closed

[2018-04-02 13:58] dims commented on #61197
/sig network

[2018-04-02 13:58] dims commented on #61192
/sig node

[2018-04-02 13:59] dims commented on #61180
/sig api-machinery

[2018-04-02 14:00] dims commented on #61155
/sig client

[2018-04-02 14:01] dims commented on #61153
/sig api-machinery

[2018-04-02 14:01] dims commented on #61113
/sig gcp

[2018-04-02 14:02] dims commented on #61103
/sig docs

[2018-04-02 14:03] dims commented on #60957
/sig cli

[2018-04-02 14:06] toddams commented on #61223
Issue was with service having selector, which targets only newly created pods, ie it has "sha-commit" label, which old jobs, obviously, had different value. Just a stupid mistake, closing :)

[2018-04-02 14:06] #61223 closed

[2018-04-02 14:13] pratapaprasanna opened #62026 "kube-dns always in pending state"
Hi all,
I am new to this fantastic product :) I dont know what i have missed and i want to fix this issue very badly.

Kubeadm init helps in creating a cluster but the kube-dns is always in pending state.
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. kubeadm ini

[2018-04-02 14:13] michmike commented on #61716
adding Bob to comment on this. i have seen this issue before, but it has been quite a while.
@bsteciuk

[2018-04-02 14:14] michmike commented on #56637
@sravs1993 , your best option for help and support is our slack channel. please post there to get immediate help and guidance

[2018-04-02 14:26] pratapaprasanna commented on #62026
/sig clusterops

[2018-04-02 14:27] pratapaprasanna commented on #62026
@k8s-sig-openstack-test-failures

[2018-04-02 14:33] pratapaprasanna opened #62027 "kube-dns always in pending state #62026"
Hi all,
I am new to this fantastic product :) I dont know what i have missed and i want to fix this issue very badly.

Kubeadm init helps in creating a cluster but the kube-dns is always in pending state.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind doubt

**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

[2018-04-02 14:33] #62027 closed

[2018-04-02 14:40] rrajadevops commented on #61896
@mountkin i am getting the below error while using envFrom:
error: error validating "python-api.yaml": error validating data: ValidationError(Deployment.spec.template.spec.containers[0].envFrom): invalid type for io.k8s.api.core.v1.Container.envFrom: got "map", expected "array"; if you choose to ignore these errors, turn validation off with --validate=false

Regards,
Raja

[2018-04-02 14:45] rajansandeep commented on #61794
Yes, I think the issue you mentioned above covers this issue. Hence closing.

[2018-04-02 14:45] #61794 closed

[2018-04-02 14:52] andyzhangx commented on #61767
@athertahir you could use azure file mountOptions, here is the guide:
https://github.com/andyzhangx/demo/blob/master/linux/azurefile/azurefile-mountoptions.md

[2018-04-02 14:57] liggitt commented on #62009
I think the behavior of hiding deprecated flags needs to change. That has caused problems with masking important information about deprecated behaviors like `--insecure-port` in the apiserver, and confusion for these flags as well.

[2018-04-02 15:01] andyzhangx commented on #61767
@athertahir BTW, azure file mountOptions feature is supported from v1.8.5

[2018-04-02 15:07] rphillips commented on #58012
@listx awesome... so we can simplify my experiment. We would just need to spin up the infrastructure on google's side (credentials, etc) to be able to leverage daily builds.

[2018-04-02 15:44] rramkumar1 commented on #61938
@Lion-Wei I think the problem here is that the ingress controller is crash looping. Kube-proxy has nothing to do with the LB getting an ip address so I think we can rule out iptables / ipvs as the issue. I'm wondering why the nginx ingress controller in the test does not have permission to list objects in kube-system?

[2018-04-02 15:50] rramkumar1 commented on #61090
@Lion-Wei The test seems to be flaky now. Can you take a look please?

[2018-04-02 16:00] chocolat2000 opened #62029 "Windows 1709 kube-proxy kernelspace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cannot use the kernelspace mode of kube-proxy
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
start kube-proxy
c:\k\kube-proxy.exe --v=4 --proxy-mode=kernelspace --hostname-override=$(hostname) --kubeconfig=c:\k\config

**Anything else we need to know?**:
Flannel is used

[2018-04-02 16:01] chocolat2000 commented on #62029
@kubernetes/sig-windows-bugs

[2018-04-02 16:15] michmike commented on #62029
@madhanrm can you please take a look?

[2018-04-02 16:32] yue9944882 opened #62031 "Too many defs of FakeDiscovery: Needs to be homogenized"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

Hi Meows

Currently we have several independent defs of `fake discovery` which is confusing and hard to read.

As is shown below, a list of dup defs:

- [pkg/kubectl/cmd/top_pod_test.go](https://github.com/kubernetes/kubernetes/blob/df3637967015c9770c67140d4bbf99467c87abf8/pkg/kubectl/cmd/top_pod_test.go#L382)
- [sta

[2018-04-02 16:33] Random-Liu commented on #59994
I think this has been fixed. Close

[2018-04-02 16:33] #59994 closed

[2018-04-02 16:33] chocolat2000 commented on #62029
Probably unrelated, in userspace mode services are not accessibles from within pods.
No problem from host.

Not sure though which interface services ip should be bound to.
I've  tried:
$env:INTERFACE_TO_ADD_SERVICE_IP="vEthernet (Ethernet0)"
and
$env:INTERFACE_TO_ADD_SERVICE_IP="vEthernet (cbr0_ep)"

[2018-04-02 16:35] yue9944882 commented on #62031
/assign

@deads2k  Addressing your previous comment at [https://github.com/kubernetes/kubernetes/pull/60489#issuecomment-370439991](https://github.com/kubernetes/kubernetes/pull/60489#issuecomment-370439991)

[2018-04-02 16:41] smarterclayton commented on #4957
/remove-lifecycle rotten
/lifecycle frozen

[2018-04-02 16:52] yliaog commented on #61702
could you separate them into their own namespace? if not, why not?

For the workload in one namespace, they likely are managed by the same team, have the same access, they usually cooperate to share the quota allocated to the namespace. If you want to specify very specific custom policy, probably you can write a custom policy controller of your own, that monitors the resource usages, and takes pro

[2018-04-02 17:10] ChristianCandelaria commented on #61277
This issue often comes back on each new release of Kubernetes version.
I still don't know what causes this problem.
But since I opened this ticket the kubeadm init gets stuck on each release
and after 3 or 4 days it works like an angel fixes the problem.

[2018-04-02 17:32] rtayalla commented on #61944
Connection refused when I did CURL with the clusterIP. Installed Conntrack and restarted the kube-proxy but i did not work.

** Details**:

kubectl describe service kubernetes

Type:              ClusterIP
IP:                10.96.0.1
Port:              https  443/TCP

******************************************************
From the busy box :

kubectl run -it --rm --restart=Never busybox --image=r

[2018-04-02 17:43] msau42 opened #62034 "Local PV tests failing in alpha clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
Logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/20080

Seems like there is some problem SSHing into the node:
[code]

[2018-04-02 17:46] rramkumar1 commented on #61938
@Lion-Wei When you switched back to iptables mode, you say the container was still crashlooping. Was the error the same?

[2018-04-02 17:49] msau42 commented on #61502
Sorry I wasn't being specific.  If you look at #61489, you can see all the places we need to change whenever we add a new function to the Mounter interface.  Many of these are fake implementations for unit tests, so there may be some opportunity for consolidation there.

[2018-04-02 18:37] khenidak commented on #60646
Yes -- we added it for v1.10

[2018-04-02 18:40] khenidak commented on #61821
Yes let us split the work into two specific OS work stream. (btw i am not sure if windows supports raw disks) -- @JiangtianLi can maybe share some thoughts

[2018-04-02 18:58] RochesterinNYC opened #62036 "Odd timing behavior with Readiness Probes with `initialDelaySeconds` and `periodSeconds`"
/kind bug

**What happened**:

A deployment with a readiness probe configured with a command that is guaranteed to instantly succeed with exit code 0 (the command `true`), an `initialDelaySeconds` of 10, and a `periodSeconds` of 300 has its pod go `READY` after the pod has already been marked as `Running` for `STATUS` for at least a minute.

**What you expected to happen**:

The deployment with a

[2018-04-02 18:58] RochesterinNYC commented on #62036
I have noted that the issue does not seem to occur when `periodSeconds` is not specified.

If I create the above deployment without the `periodSeconds` key/value for `readinessProbe` specified, `time`ing the `kubectl rollout status deploy/nginx` immediately after `kubectl create -f deployment.yaml` results in timings that seem more fitting/expected:

[code]

[code]

[code]

[2018-04-02 18:59] bsalamat commented on #61737
This is part of the general scheduling workflow which is used during preemption as well, but it is not specific to preemption. In other words, you cannot remove this part and place it in descheduler even if you move preemption to descheduler. So, the code duplication would continue to exist. If you need this piece, you should convert it to a library that can be called from another module and then

[2018-04-02 19:35] listx commented on #58012
@rphillips That's where it gets difficult. For now, just having a GCB yaml (including pushing of images to a registry) that the community could use would go a long way, as it would at least establish some measure of build provenance and also a hermetic build environment. I am working on a standardized GCB yaml building system (custom container + detection of built images to push to a registry from

[2018-04-02 19:37] danielhan commented on #62036
I am also experiencing the same issue, and have been able to successfully reproduce it with @RochesterinNYC's minimal deployment manifest.  With `periodSeconds` set to 300, my replicaset took over a minute to reach `1/1`, yet without `periodSeconds` specified, my replicaset reached `1/1` in under 5 seconds.

[2018-04-02 19:46] PatrickLang opened #62038 "Feature: Add Group Managed Service Account support to Windows"
Windows Service Accounts in Kubernetes
======================================

**Authors**: Patrick Lang ([@patricklang](https://www.github.com/patricklang)), Ryan Puffer ([@rpsqrd](https://www.github.com/rpsqrd))
**Reviewers**: Peter Hornyack, more welcome!
*What is Active Directory?*

Windows applications and services typically use Active Directory identities to facilitate authentication and aut

[2018-04-02 19:47] PatrickLang commented on #62038
cc @michmike

[2018-04-02 19:52] PatrickLang commented on #62038
I tried to add this to SIG-Node agenda but don't have access. I would like to discuss with SIG-Node on 9 April 2018 if possible.

[2018-04-02 19:54] PatrickLang commented on #62038
Past edits are also available at https://github.com/PatrickLang/community/blob/patricklang-gmsa/sig-windows/gmsa-proposal.md

[2018-04-02 19:54] jmontleon commented on #61474
@dims I was able to get a little help with this in #systemd on freenode.

[code]
It looks like it's here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cgroup_manager_linux.go#L43-L50

I added `.can_delegate = true` at https://github.com/systemd/systemd/blob/master/src/core/slice.c#L376 and rebuilt/reinstalled systemd and after that I was able run oc cluster up successfully.

[2018-04-02 19:54] kargakis commented on #33650
/help

[2018-04-02 19:59] kargakis commented on #38612
Just checking for the returned error should be enough.

/help

[2018-04-02 20:00] kargakis commented on #42534
/help

[2018-04-02 20:03] zdzichu commented on #61474
and @poettering, I suppose

[2018-04-02 20:08] lavalamp commented on #61946
cc @mbohlool @yliaog

[2018-04-02 20:09] lavalamp commented on #61975
cc @cheftako

[2018-04-02 20:12] lavalamp commented on #61997
I think at step 4 you should have waited for kubelet to restart apiserver. You can hasten this by `kill`ing it.

[2018-04-02 20:12] #61997 closed

[2018-04-02 21:24] liggitt commented on #62038
cc @kubernetes/sig-auth-feature-requests

[2018-04-02 21:30] janetkuo commented on #42594
/remove-lifecycle stale

[2018-04-02 21:31] yliaog commented on #61946
sounds reasonable. but I'd like to have sig/windows folks to chime in.

[2018-04-02 21:36] msau42 commented on #61843
This has been fixed and backported.
/close

[2018-04-02 21:36] #61843 closed

[2018-04-02 21:37] roycaihw commented on #61770
/assign

[2018-04-02 21:40] msau42 commented on #61832
cc @verult

He found that on GCE environments, this is not the case.  So it seems like there could be some difference in node failure handling depending on cloud provider.  #46442 may also be related.

[2018-04-02 21:55] swade1987 commented on #45717
@deitch i am also interested as I would like to deploy calico via a helm chart which would require this functionality.

[2018-04-02 22:03] filbranden commented on #61474
I believe systemd/systemd#8573 might fix this... I need to test that, though. Will do and ping back here.

[2018-04-02 22:11] resouer commented on #45717
@swade1987 It's already been implemented, the taint key is: `node.kubernetes.io/network-unavailable`

[2018-04-02 22:21] kfox1111 commented on #45717
Last I looked, running tiller as a statefulset/deployment with net=host and the toleration still didn't let it schedule. maybe that has changed though?

[2018-04-02 22:21] verult commented on #61832
@yujuhong

[2018-04-02 22:24] yastij commented on #46840
/remove-lifecycle stale

[2018-04-02 22:24] bsalamat commented on #59194
status/approved-for-milestone

[2018-04-02 22:35] #61052 closed

[2018-04-02 22:48] #46981 closed

[2018-04-02 23:07] afong94 commented on #61707
More logs:
[code]

[2018-04-02 23:10] jmontleon commented on #61474
@filbranden thanks! I just rebuilt the systemd package with this Patch, installed, retried and I can run oc cluster up successfully.

@dims ^

[2018-04-02 23:14] filbranden commented on #61474
@jmontleon Thanks for testing, that's awesome!

[2018-04-02 23:21] ericchiang commented on #62038
This is exactly the kind of efforts that the container identity wg was formed to address where your machine is already enrolled in some identity system like kerberos, then would like to delegate a service account to the container running on it.

https://github.com/kubernetes/community/tree/master/wg-container-identity

It might be worth taking this proposal there and reviewing some of the alternat

[2018-04-02 23:38] lavalamp opened #62044 "Restore ability to enable or disable individual resources"
#57228 removed the ability to enable or disable individual resources, which is a breaking change (to apiserver command line flag). This was somehow merged without an action-required release note (actually without any release note), it didn't follow our deprecation policy, and it wasn't announced on any mailing list (so far as I know).

The most obvious thing to do is to roll back this PR and anyth

[2018-04-02 23:38] lavalamp commented on #62044
cc @hzxuzhonghu @deads2k

[2018-04-02 23:53] trajano commented on #40358
It would be nice if instead of having a lot of rules and what not, why not just add the capability of using some form of scripting language and expose some objects to help set the rules?

I was thinking something along the lines of

[code]

If the function returns true it will allocate a replica  otherwise it will not allocate a replica.  This is evaluated on a per service deployment and the logic

[2018-04-02 23:58] andyxning commented on #44328
/remove-lifecycle stale

[2018-04-02 23:59] andyxning commented on #44328
@dashpole Thanks for your suggestion. Will investigate initializers later.

[2018-04-03 00:03] superawesome commented on #61176
Looks like the test is searching specifically for a deployment named "kube-dns". There are several references to "kube-dns" scattered around it, actually.

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling/dns_autoscaling.go#L40

[2018-04-03 00:07] #58352 closed

[2018-04-03 00:07] #50658 closed

[2018-04-03 00:50] #10710 closed

[2018-04-03 00:52] rphillips commented on #58012
@listx I suggest pushing all images that successfully build, and leave it up to Kubernetes to bump to a specific version (ie: date based release).

[2018-04-03 00:53] bsalamat commented on #48650
/remove-lifecycle stale

[2018-04-03 01:04] PatrickLang commented on #62038
Thanks @ericchiang , I proposed it for the agenda on 20 April

[2018-04-03 01:27] perotinus commented on #62044
+1 to rolling back, or somehow reintroducing this functionality. We are depending on runtime-config supporting enabling or disabling individual resources.

[2018-04-03 01:28] jiaxuanzhou commented on #62017
/kind feature

[2018-04-03 01:36] hzxuzhonghu commented on #62044
I can do that if possible.

[2018-04-03 02:25] srevenant commented on #53533
Not supporting swap as a default?  I was surprised to hear this -- I thought Kubernetes was ready for the prime time?  Swap is one of those features.

This is not really optional in most open use cases -- it is how the Unix ecosystem is designed to run, with the VMM switching out inactive pages.

If the choice is no swap or no memory limits, I'll choose swap any day, and just spin up more hosts wh

[2018-04-03 02:31] Lion-Wei commented on #61938
My mistake, actually the error log I pasted before is in iptables proxy mode, ipvs mode ingress-controller log are:
[code]
I didn't notice the difference before.

And now I'm sure the `KUBE-HOSTPORTS` is created by kubenet, in host port map workaround.

Problem is the access of `10.0.0.1:443` is treated as `dst-type LOCAL`, so match this rule:
[code]

[2018-04-03 02:35] liggitt commented on #61993
is it an error or a warning that the flag is deprecated in favor of a config file? deprecation warnings aren't typically fatal errors. I'm not seeing unexpected behavior here.

[2018-04-03 02:40] Lion-Wei commented on #61090
I don't know why, but I think this flaky have the similiar reason with other normal service-test cases, like
[code]

Those flaky are pretty annoying, problem is, I have run those cases in my own environment many times, never fail... : (

But still, I'll do my best to find the reason.

[2018-04-03 02:54] gyliu513 commented on #62009
Based on my test, not only deprecated parameters are being hidden, but also non-deprecated parameters, such as `max-pods`, `max-open-files` etc. @liggitt

[2018-04-03 02:57] mountkin commented on #61896
@rrajadevops The error message is quite clear. You should double check the yaml to make sure the `enrFrom` field is an array. Pay attention to the dash and spaces around the `secretRef` field.

[2018-04-03 02:59] liggitt commented on #62009
All values that can be passed via a kubelet config file are marked as deprecated (this included max-pods, etc). See https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L430-L442

[2018-04-03 03:16] af-inet commented on #59516
fix for this has been merged, closing
https://github.com/kubernetes/website/pull/7675

[2018-04-03 03:16] #59516 closed

[2018-04-03 03:19] feiskyer opened #62046 "Local traffic policy not working on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Also onlyNodeLocalEndpoints is handled when processing service updates in `pkg/proxy/winkernel`, it is not used in syncProxyRules.

We should fix this and cherry-pick to old releases.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-04-03 03:19] feiskyer commented on #62046
/sig windows

[2018-04-03 03:19] feiskyer opened #62047 "Kubelet stats for windows node and containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubelet provides a lot of stats by `/stats/summary` on Linux, e.g.

[code]

While on Windows, there are few stats

[code]

This means there are a lot of stats missing on Windows, which include

- systemContainers.kubelet
- systemContainers.pods
- systemContainers.runtime
- node.fs
- node.network
- pods.cpu
- pods.memory

[2018-04-03 03:20] feiskyer commented on #62047
/sig node
/sig windows

[2018-04-03 03:23] vincentwu2011 commented on #45487
I'm on v1.9.2, Docker 1.13.1. I face this isue too. Fix it by adding User=root or Environment=HOME=/root in kubelet.service.

[2018-04-03 03:51] irvifa commented on #3595
@dims what's the ETA for this `docker run --ulimit` in kubernetes? Is it in the kubernetes roadmap?

[2018-04-03 03:59] wenlxie commented on #45419
The issue happens in our ENV and we do some analysis of this issue:
`k8s version 1.7/1.8`
The stack info is from k8s 1.7

Our env has lots of exited container (More than 1k)because of our network plugin bug.
When we restart the **kubelet**. After the while, **kubelet** become `unhealthy`.

We trace the log and the stack.

When **PLEG** do the **relist**  operation.
The first time, it will get many

[2018-04-03 05:33] bhavesh2177 commented on #39599
/reopen

[2018-04-03 05:35] andyzhangx commented on #62022
/sig azure

[2018-04-03 06:20] amshuman-kr commented on #52345
The AlwaysPod RestartPolicy can also be used to make a stateful apps/services more self-managed using init-containers and side-car containers for some of the simpler management tasks such as backups while using controllers/operators for more complicated operations.

[2018-04-03 06:20] bgrant0607 commented on #60001
Policy WG proposal: https://docs.google.com/document/d/1Ht8wpj4j9YfAA7aVv9Yn3Ci1T_MLMWt0DBr0QmxI2OM/edit#heading=h.4q4g9nw8e541

Areas to consider (from SIG Arch discussion):
* Built-in (APIs) vs extensions (OPA)
* Domain-specific (scheduling policy) vs resource-specific (pod restriction) policies
* Conventions across policies: whitelists, blacklists, etc.
* Defaulting vs enforcement
* Policy scop

[2018-04-03 06:56] k82cn commented on #29178
Handled by https://github.com/kubernetes/kubernetes/pull/61161 :)

[2018-04-03 06:58] k82cn commented on #29178
/assign

[2018-04-03 07:03] JeanMertz commented on #57659
/lifecycle frozen
/remove-lifecycle stale

[2018-04-03 07:24] bavarianbidi commented on #10421
we also increased `max_user_watches` up to `1048576` on k8s `1.8.8`  running on centos `7.4.1708` with docker `17.03.2-ce` on a linux-kernel `3.10.0-693.21.1.el7.x86_64`

[2018-04-03 07:52] gaogaoSpark opened #62053 "hpa cannot get metrics"
hpa  unable to get metrics for resource cpu

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.6
- Cloud provider or hardware configuration: vm
- OS (e.g. from /etc/os-release):centos7
- Kernel (e.g. `uname -a`):3.10.0-229.el7.x86_64
- Install tools:
- Others:

[2018-04-03 07:55] gaogaoSpark commented on #62053
sig/autoscaling

[2018-04-03 08:05] gaogaoSpark commented on #55205
I met the same problem, flanned is normal, how can you tell me your environment configuration

[2018-04-03 08:05] andreyshamray commented on #61716
Hi, Guys will be very grateful if you will provide some solution for it.
We have tried to add  `automountServiceAccountToken: false` to deployment spec but it doesn't help.

Thanks.

[2018-04-03 08:09] feiskyer opened #62054 "failed to find plugin "loopback" in path []"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network

**What happened**:

Kubelet failed to set up pod with error: failed to find plugin "loopback" in path []. This only happens when kubelet's `--cni-bin-dir` not set. This is a bug introduced in #58714.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2018-04-03 08:17] rrajadevops commented on #61896
Thanks @mountkin  it is working after restart my kubernets cluster. thanks for your help.

[2018-04-03 08:20] hareeshrao4839 opened #62056 "error: Could not find to rollback. k8s.1.9.2"
i am using GKE 1.9.2, i was tried for rollbacking ReplicationController, but its getting error, i tried in 1.7,1.8,1.9,1.9.2 , 1.9.4 and 1.10 but same error

hareeshc:KTHW hareesh.c$ kubectl get rc -o wide
NAME       DESIRED   CURRENT   READY     AGE       CONTAINERS   IMAGES        SELECTOR
my-nginx   2         2         2         37s       nginx        nginx:1.7.9   app=nginx
$ kubectl rolling-u

[2018-04-03 08:27] XANi commented on #61900
Aside from that, IPs are logged anyway:

    I0403 08:24:54.988117       1 logs.go:41] http: TLS handshake error from 172.16.124.198:63088: read tcp 172.16.124.198:6443->172.16.124.198:63088: read: connection reset by peer
    I0403 08:24:54.988239       1 logs.go:41] http: TLS handshake error from 172.16.124.198:63090: read tcp 172.16.124.198:6443->172.16.124.198:63090: read: connection reset by

[2018-04-03 09:02] #54012 closed

[2018-04-03 09:34] miaoshixuan opened #62058 "PersistentVolumeClaim without selector shouldn't bind PersistentVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I want to use PersistentVolume in my pod.so I create a  PersistentVolume and PersistentVolumeClaim with matched labels and selector(pv-a,pvc-a),but someone else create a PersistentVolumeClaim without any selector bofore(pvc-b) and not bound to any PersistentVolume.Result is that pc-a was bound to pvc-b not pvc-a.
**What

[2018-04-03 09:34] miaoshixuan commented on #62058
/sig storage

[2018-04-03 09:40] WanLinghao opened #62059 "namespace miss in output of kubectl get command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
namespace disappears in the output of
`kubectl get pods --all-namespaces`
[code]

**What you expected to happen**:
namespace exists
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
It is related to #61477
**Environment**:
- Kubernetes version (use `kubectl version`):
-

[2018-04-03 10:38] kalise opened #62061 "The controller-managed attachment and detachment is not able to detach a rbd volume from a lost node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
The controller-managed attachment and detachment is not able to detach a rbd volume from a lost node and reattach to another one.

**What you expected to happen**:
As for (my understanding of) feature design, the controller-managed attachment and detachment feature has has the following benefits:

 * If a node is lost, v

[2018-04-03 10:41] kalise commented on #62061
/sig storage

[2018-04-03 10:42] tnozicka commented on #59194
@bsalamat I don't want to take sides on the chosen path here but given that this was already discussed on the sig-architecture ML and several members were against it, there should have been the same discussion on that ML about that topic again.

I went though that doc and didn't see any explicit approval from those members of sig-architecture there. (Even if it would be in those comments, it's the

[2018-04-03 11:16] sttts commented on #61448
The k8s.io/code-generator should not be kube dependent, i.e. there shouldn't be a kubernetes specific path in there.

[2018-04-03 11:32] frittentheke commented on #57325
@rajatjindal I believe the private-key of wildcard certs is the quintessential use-case of allowing to reference something, but not allow access to the content.

[2018-04-03 11:46] deads2k commented on #62044
Rather than roll it back, it probably makes more sense to re-implement the feature just for the kube-apiserver.  Managing individual resources is a really bad idea, only supported for the extensions group today (or rather yesterday) because they weren't related.

You'll really want to rethink that.  Deprecation gives 2 releases for admin facing commands and even when re-added, it'll go back on a c

[2018-04-03 11:56] cofyc commented on #55174
I'm going to work on this.

[2018-04-03 11:57] eparis commented on #17162
FYI I just merged https://github.com/spf13/pflag/pull/162 to pflag. Which automatically applies this hack to any golang flag set which was explicitly added to a pflag flagset.

[2018-04-03 11:59] gyliu513 commented on #62009
@liggitt so where can we get a list of parameters supported by kubelet?

[2018-04-03 12:34] shyamjvs opened #62064 "'PATCH node-status' latency slo violations"
We've been observing some failures in our 5k-node density test caused due to high latency (>1s) of `patch node-status` calls. E.g:

[code]

Some affected runs:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/132
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/131
- https://k8s-gube

[2018-04-03 12:38] warmchang commented on #61937
v1.8 and all later versions will be affected by this.
https://github.com/kubernetes/kubernetes/commit/e5a6a79fd75372fcc7fa32ccf8d80ed9e0335b17#diff-17daa5db16c7d00be0fe1da12d1f9165L39

![image](https://user-images.githubusercontent.com/13084624/38249535-8b1c9118-377e-11e8-86ec-082c128844f9.png)

[2018-04-03 12:39] shyamjvs commented on #62064
The difference doesn't really seem very visible in load test:

![load-patch-node-status](https://user-images.githubusercontent.com/4333971/38249630-9b6c0c06-374c-11e8-81bb-5e93ba93dd17.png)

and for density we see the difference, but we're missing some runs' entries in the graph due to some bug likely:

![density-node-status](https://user-images.githubusercontent.com/4333971/38249676-c746233e-374c

[2018-04-03 12:43] shyamjvs commented on #62064
On the good side, we're noticing the increase in kubemark-5000 also. Here's how the graph looks there for density, which is clearly indicating the regression:

![kubemark-density-patch-node](https://user-images.githubusercontent.com/4333971/38249832-4eef65e8-374d-11e8-8114-3f7001431081.png)

[2018-04-03 12:48] shyamjvs commented on #62064
From kubemark-5000 load test, there seems to be even clearer indication (the increase likely is b/w 860 -> 862):

![load](https://user-images.githubusercontent.com/4333971/38250021-f1beb954-374d-11e8-8e4a-8e01d8a60fff.png)

[2018-04-03 12:52] shyamjvs commented on #62064
I'm looking at the diff https://github.com/kubernetes/kubernetes/compare/50e28a5d50800c...a8060ab0a13168, and my suspicion is currently on https://github.com/kubernetes/kubernetes/pull/56717 which seems to add some extra processing on the way of creates/reads to subresource objects (so codepath is likely to be touched by node/status?)

cc @wojtek-t

[2018-04-03 12:54] poeyashi commented on #57897
@rydahl What version are you currently running? Can you confirm that it was triggered by removing namespace? We seem to have similar issue, currently on 1.8.7.

[2018-04-03 12:58] k82cn commented on #59194
@tnozicka , as you known, there's a design doc PR [here](https://github.com/kubernetes/community/pull/1714) for this feature; people from different zone can give +1 or -1 comment during reviewing :)

BTW, is there any case that this feature can not 'handle' ?

[2018-04-03 12:58] wojtek-t commented on #62064
#56717 is changing only client implementation. Latencies are measure server side, so this is unlikely that it's that PR (unless it's not adding additional requests).

[2018-04-03 13:07] DanyC97 commented on #54482
@nathanjsweet you might one to keep an eye on https://github.com/kubernetes/kubernetes/pull/61878 . I don't have any insights as to when will get merged etc or which SIG owns it ....

[2018-04-03 13:10] feiskyer commented on #61716
@andreyshamray  The error message of `failed to read pod IP from plugin/docker` is actually a warning message. It shouldn't block the removal of pods. Could you recheck the following things:

1. On the node, check whether the pod is still existing, e.g. by `docker ps`
2. If the pod exists, check if there are other error or warning message in kubelet logs; or else, the pod could be force removed sa

[2018-04-03 13:16] andreyshamray commented on #61716
Hi, I had posted this info in the ticket description.
`docker ps -a ` not showing this container, so it is completely deleted, but in kubectl it is displayed as Terminating.

[2018-04-03 13:24] liggitt commented on #62009
unfortunately, it looks as though looking at the code is the only way to see flags marked as deprecated. @mtaufen, that's a fairly significant issue for these... can you look into restoring visibility to those flags?

[2018-04-03 13:42] fsouza commented on #55006
/remove-lifecycle stale

[2018-04-03 13:46] sellers commented on #24819
I have had this happen to me - as part of an issue with resource limits and the cluster autoscaler happening at the same time as a kops rolling-update.   This left that pod in terminating state w/o a replica-set or any deployment set, stateful set, jobs, etc.

I tried the force delete and it hung for 20 minutes before I stopped it.  The describe shows that the pod didn't scale up another node (aut

[2018-04-03 13:48] deads2k commented on #62044
Hrm. I wonder if I accidentally fixed it in the distant (1.3) past: https://github.com/kubernetes/kubernetes/pull/23208 .  That brings back some terrible memories.

[2018-04-03 14:01] liggitt commented on #61943
fixed in master in #61949
fixed in release-1.10 branch in https://github.com/kubernetes/kubernetes/pull/62024

[2018-04-03 14:25] wzhx78 commented on #61937
@warmchang yes.     Is this reasonable to add --disable-kmem-limit flag in k8s ?

[2018-04-03 14:27] andyzhangx commented on #46421
need to metion that last month we fixed a critical bug of ` Azure Disk attach error` due to missing lock in code. Below are all details:

### 1. disk attach error
**Issue details**:

In some corner case(detaching multiple disks on a node simultaneously), when scheduling a pod with azure disk mount from one node to another, there could be lots of disk attach error(no recovery) due to the disk not b

[2018-04-03 14:31] #61355 closed

[2018-04-03 14:31] #55538 closed

[2018-04-03 14:45] juanvallejo opened #62065 "Display Node taints under -o wide"
Add a new column under `-o wide` output that displays any taints that have been added to a node.

[code]

/kind feature

cc @soltysh @mfojtik

[2018-04-03 14:45] juanvallejo commented on #62065
/sig cli

[2018-04-03 14:53] mtaufen commented on #62009
I'll see what I can do.

On Tue, Apr 3, 2018, 6:26 AM Jordan Liggitt <notifications@github.com>
wrote:

[2018-04-03 15:15] mtaufen commented on #61993
This all sounds like expected behavior to me:
- the feature gate is required because dynamic Kubelet config is still alpha
- if you set the feature gate via a flag, you get a warning because the
flag is deprecated in favor of the static config file

This issue and corresponding PR can probably be closed.

On Mon, Apr 2, 2018, 7:36 PM Jordan Liggitt <notifications@github.com>
wrote:

[2018-04-03 15:46] salilgupta1 opened #62068 "Priority Scheduling w/o Preemption"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
We are looking to use our Kubernetes cluster as a workload processing system for our clients. We want to use the priority functionality in 1.9. However, we have a hard requirement where we cannot preempt a clients job for another job. Is there any way to disable preemption but maintain priority? We only need priority

[2018-04-03 15:52] salilgupta1 commented on #62068
/sig scheduling

[2018-04-03 16:24] nvnobelen opened #62070 "Loss of cluster due to not handled issue in kube-proxy"
/kind bug

**What happened**:

When the DNS fails for whatever reason, and the cluster functions (pods) are dependent on the DNS for correct functionality, the following warning (or info) occurs:

and leads to a **_cascading_** failure in all newly started pods and goes undetected on the kube-proxy. Restart of just DNS is not sufficient (waited for 4 hrs for self correction after DNS restart): A r

[2018-04-03 16:39] mikedanese commented on #60661
See CNI GET command: https://github.com/containernetworking/cni/pull/490

[2018-04-03 17:13] devopsop commented on #61907
Problem solved, I had copied everything from Master0. Instead, I had to copy everything except the api-server.key and .crt

[2018-04-03 17:14] #61907 closed

[2018-04-03 17:16] bgrant0607 commented on #44505
We desperately need automated enforcement.
cc @caniszczyk

[2018-04-03 17:31] lavalamp commented on #62044
I'm pretty sure it worked for the core group, too.

[2018-04-03 17:31] davidovich commented on #61946
Additional profiles directory information:
https://msdn.microsoft.com/en-us/library/windows/desktop/bb776896(v=vs.85).aspx

Microsoft makes it difficult to reason about these environment variables as they are not readily mentioned/searchable in the online documentation. Even in the previously mentioned doc on profiles, no mention of the %USERPROFILE% environment variable is made.

Python already d

[2018-04-03 17:38] sdtokkolabs commented on #56903
I've been having this issue for some time on kubernetes 1.7 and 1.8. I was dropping dns queries from time to time
Yesterday I upgraded my cluster from 1.8.10 to 1.9.6 (kops from 1.8 to 1.9.0-alpha.3) and I started having this same issue ALL THE TIME. The workaround sugested in this issue has no effect and I can't find any way of stopping it. I've made a small workaround by assigning the most reque

[2018-04-03 17:57] mtaufen commented on #61921
@cheftako would you know anything about this?

/cc @bowei @cheftako

[2018-04-03 17:57] jaredallard commented on #27114
IMO the idea that we should all change our code to utilize init containers is a bit appalling, and counter intuitive for adoption, as they are a new feature... It's completely reasonable to want a program to only kill itself after it was ready once.

It's also reasonable to want it to NOT be ready but kill it if it takes too long, so I don't see why we can't have another field implementing this fe

[2018-04-03 18:07] jennybuckley commented on #61846
There hasn't been a failure since 3/28,
So while the test might have flakes it is definitely less flaky than 12 failures per week now

[2018-04-03 18:15] AishSundar commented on #61846
Yes the latest runs look good. Please close the issue

[2018-04-03 18:24] mtaufen commented on #62009
If we want to do this, we may have to generate our own usage text instead
of relying on pflag's built-in FlagSet.FlagUsagesWrapped method.
FlagUsagesWrapped hides deprecated flags from the usage text it returns.

An alternative would be to simply change the usage text to note
deprecation, without marking deprecated, but then we would lose warn-on-use.

On Tue, Apr 3, 2018, 7:54 AM Michael Taufen <

[2018-04-03 18:26] AishSundar commented on #61484
@Liujingfang1 I do see a few flakes with this test still

https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Update%20Demo%20should%20create%20and%20stop%20a%20replication%20contr

Both failures are the same:

test/e2e/kubectl/kubectl.go:314
Apr  2 21:35:55.396: Pods left unterminated after stop:
update-demo-nautilus-dggjz
update-demo-na

[2018-04-03 18:27] AishSundar commented on #61845
@jingxu97 The tests are still flaky. Any ETA on getting [#61549](https://github.com/kubernetes/kubernetes/pull/61549) merged? thanks

[2018-04-03 18:32] bsalamat commented on #61512
As we discussed above, the issue is caused by updating the eCache with stale information. The main problem is that scheduler takes a snapshot of the scheduler cache at the beginning of a scheduling cycle and works with that snapshot throughout that cycle. Now, if the eCache is invalidated after the snapshot taken, but before the eCache is updated during the scheduling cycle, chances are that the e

[2018-04-03 18:33] #62010 closed

[2018-04-03 18:34] jennybuckley commented on #61846
/close

[2018-04-03 18:34] #61846 closed

[2018-04-03 18:55] dashpole commented on #61717
I agree with @yujuhong that this is working as intended.

[2018-04-03 19:01] msau42 commented on #61641
Kubernetes does not do capacity enforcement of PVs.  It is up to the underlying storage backend to enforce capacity.  So you may need to configure your nfs server to use quota.

[2018-04-03 19:07] msau42 opened #62077 "Alpha e2e clusters can't come up"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-instrumentation-bugs

**What happened**:
Alpha e2e suite has been failing since 3/26.
https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features

It seems like event-exporter pod cannot come up:
[code]

[2018-04-03 19:08] #52208 closed

[2018-04-03 19:24] msau42 commented on #62058
@kubernetes/sig-storage-bugs

[2018-04-03 19:33] ghost opened #62078 "Feature Request: Create a node's automatic node labels on its pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Cannot tell Kafka broker pod which failure domain it is in for rack-awareness.

**What you expected to happen**:
Pods would inherit these labels from the node:
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#interlude-built-in-node-labels

**How to reproduce it (as minimally and precisely as possibl

[2018-04-03 19:35] josdotso commented on #62078
/kind feature

[2018-04-03 19:39] mtaufen commented on #62009
Anyone using deprecated flags should be getting a warning in their log, but it's a crapshoot whether people actually pay attention to the logs, so I agree that this is an issue.

[2018-04-03 19:50] josdotso commented on #62078
/sig scheduling

(?)

[2018-04-03 20:34] bboreham commented on #60661
The CNI GET command takes the container (pod) ID as a parameter, which seems to beg the question.

[2018-04-03 20:44] bart0sh commented on #59110
@RenaudWasTaken @kad @rescuer  @jiayingz @vishh

I have some time to implement this. Any suggestions on how to do it the best way?

[2018-04-03 20:48] mikedanese commented on #60661
Alone it implements the reverse lookup of what we want here, but it could be used to confirm a forward lookup against a cached (i.e. potentially inconsistent) view of the pods on the node. The combination of the kubelet's pod cache and CNI GET seem sufficient to satisfy our functional and security requirements.

[2018-04-03 20:49] mikedanese commented on #60661
Assuming the CNI GET API guarantees a consistent view.

[2018-04-03 20:51] thockin commented on #17162
Do we just need to revendor that to make this go away?

On Tue, Apr 3, 2018 at 4:58 AM Eric Paris <notifications@github.com> wrote:

[2018-04-03 21:41] gtaylor commented on #42649
This just bit us today, too. We had to work around the issue by deleting and re-adding part of our Helm chart on the cluster :(

Would be great to be able to disable/re-enable a CronJob.

[2018-04-03 21:55] jiayingz commented on #59110
Thanks a lot for your interests, @bart0sh

Before we start the implementation, there are some questions I think we may want to discuss first.
- First, say if we add this API, should it be called before or after container stop? Or should it be called before or after pod stop?
- Second, if we add this API, should it be best effort or mandatory? I.e., if Deallocation fails, should we prevent the cont

[2018-04-03 21:56] mtaufen commented on #58151
No time estimate, unfortunately. I don't think anyone is allocated to complete that work right now. I'm happy to review any related PRs, of course :).

[2018-04-03 22:06] gfrntz commented on #61993
Thanks for all your answers.

[2018-04-03 22:06] #61993 closed

[2018-04-03 22:40] michmike commented on #61716
@andreyshamray i think you may get more support and faster responses in our slack channel for sig-windows.

[2018-04-03 22:55] bsalamat commented on #59194
The design doc was sent to the mailing list and there was discussion on the SIG meetings and doc. We cannot ensure that all the community members have seen all the topics and approve a design decision. That said, if you see any major issue with the decision, please comment on the doc or send an email to sig scheduling mailing list. We will consider all possible solutions and would like to choose t

[2018-04-03 23:40] Evanthx commented on #61710
I'm having the same issue trying to add yaml files. I've tried several files and get the same error on all of them? I'm on a mac and just did a new install of kubctl with homebrew, which was v1.8.0.

[2018-04-03 23:58] msau42 commented on #61813
@kubernetes/sig-storage-feature-requests

@wenlxie I got a few followup questions:
1. Is the 5 partitions per disk something you're doing to workaround the lack of dynamic provisioning?
2. IIUC, you only want `A` to use 1 partition on each disk.  Who uses the other 4 partitions? Is it `B`?

[2018-04-04 00:05] oomichi commented on #59833
This seems to be solved on k8s v1.10 env and the latest e2e.

[2018-04-04 00:05] #59833 closed

[2018-04-04 00:24] #59496 closed

[2018-04-04 00:27] ash2k commented on #55890
We've just hit this.

/remove-lifecycle rotten
/lifecycle frozen

[2018-04-04 01:14] Lion-Wei commented on #61938
@rramkumar1 I think that's because in iptables proxy mode, we don DNAT in `KUBE-SERVICES`, so traffic of service will never come to `KUBE-HOSTPORTS`.
[code]

Besides, iptables `LOCAL` will match all virtual server IP in ipvs rules, make things even worse.
[code]

[2018-04-04 01:33] wenlxie commented on #61813
@msau42
1. This is our customer's requirement, so we do the static provision based on the disk size that customer need.
2. Yes, the other 4 is for B

I think this is a common requirement when pods need  different IO requirement.

[2018-04-04 01:45] msau42 commented on #61813
For this particular use case, what if you do this:
1. Create PV for one partition in storageclass A
2. Create PV for the other 4 partitions in storageclass B
3. PVCs for pod A should use storageclass A
4. PVCs for pod B should use storageclass B

[2018-04-04 01:50] k82cn commented on #62068
for now, priority & preemption are enabled/disabled together; but that's a reasonable request to sort Pod by priority only.

/cc @bsalamat

[2018-04-04 01:50] k82cn commented on #62068
@kubernetes/sig-scheduling-feature-requests

[2018-04-04 02:13] Lion-Wei opened #62090 "Kube-proxy cleanup not work if cluster have pod with hostport"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If you have a pod with hostport, then kubenet will create `KUBE-HOSTPORTS` iptables chain, if so, the iptables nat table will be like:
[code]

The hostport related chains and rules should be maintained by kubenet, but they are using `KUBE-MARK-MASQ` rule, which created and maintained by kube-proxy.

And if kube-proxy need

[2018-04-04 02:14] Lion-Wei commented on #62090
/sig network

[2018-04-04 02:18] Lion-Wei commented on #62090
I thinks this issue is because the iptables chain `KUBE-MARK-MASQ` is used by both kube-proxy and kubenet. We need to decide whether kubenet can use this chain.
@m1093782566 @rramkumar1 @thockin PTAL

[2018-04-04 02:26] m1093782566 commented on #62090
@Lion-Wei I believe kube-proxy --cleanup should only clean up rules created by it self.

CNI host-port plugin use an `externalSetMarkChain`, xref: https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap

[2018-04-04 02:37] mingyuanzhu opened #62091 "The aws cloud provider ELB delete security group issue"
https://github.com/kubernetes/kubernetes/blob/200bc669380528bb5e710608dddb208bc325b2a9/pkg/cloudprovider/providers/aws/aws.go#L3757

About the delete ELB logic why there is a comment that the ELB will only one securityGroups?
But I think when create the ELB we can use the annotation to add the extraSecurityGroup and also can add by the GlobalConfig.ElbSecurityGroup.
/sig aws

[2018-04-04 02:38] liggitt commented on #62000
see comment at https://github.com/kubernetes/kubernetes/pull/62002/commits/39ea140c83ead063a3698389aaae1d05634bd330#r179013324

I think the design, type documentation, and implementation are in agreement

[2018-04-04 02:40] Lion-Wei commented on #62090
Unfortunally, it fail to clean up all rules. : (
I think it's because kubenet host-port workaround is using `KUBE-MARK-MASQ`, then kube-proxy try to restore this chain failed.

[2018-04-04 02:55] josdotso commented on #62078
/sig node

[2018-04-04 02:56] bamb00 commented on #42926
What is the preferred storage driver used with Kubernetes 1.9.x in a production environment for CentOS and RHEL? Docker listed the preferrable storage driver is overlay2 but I would like to hear from the user what is being use and why.

Thanks in Advance.

[2018-04-04 03:16] k82cn opened #62092 "Predicates/Priority interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig scheduling

**Description**:

Currently, there's several factors impact predicates/priority's behavior:

1. predicates/priority order: ordered predicates based on its complexity
1. eCache: if some 'condition' was changed, the eCache has to be refresh
1. Mandatory: the predicates can not be configure out, e.g. `CheckNodeCondition`
1.

[2018-04-04 03:26] feiskyer commented on #61716
@andreyshamray So it could be safely force removed from API.

And agreed with @michmike, slack is a more faster way to such troubleshooting issues.

[2018-04-04 03:37] mrrandrade commented on #54155
I'm noticing this as well, running v1.7.15 on-prem in my local site.

This one mounts a nfs so I first thought I might be having a problem with the NFS server:
[code]

But this one only mounts two secrets: a custom one (auth-os, regular secret) and the service account token:

[code]
And as dreadpirate noticed, it has a huge frequency rate - shows up all the time.

[2018-04-04 04:50] #61896 closed

[2018-04-04 05:01] wenlxie commented on #61813
@msau42
Thanks for your proposal.
But this bring some limits.
The PV should be shareable.
These 5 partitions can be used all by Pod B.
It is better to make the resource shareable.

[2018-04-04 05:27] keattang opened #62094 "kubectl should use server-side gc for jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/sig cli

**What happened**:
I create a deployment role and user for every app/service that I wish to deploy to Kubernetes. This allows me to limit the scope of the credentials that I push to CI in case they become compromised and makes it harder for developers in my organisation to accidentally overwrite/delete/modify other people's deployments.

As p

[2018-04-04 05:40] miaoshixuan commented on #62058
My case was solved by prebind pv to pvc,and it works well now.

[2018-04-04 06:34] imdario commented on #27543
FYI, I released version 0.3.3 with more fixes and introduced semantic versioning.

[2018-04-04 06:54] narasi commented on #51322
@cmluciano I can confirm that our master is not a node and it is its own VM too. We just hit upon this problem on 1.7.7

[2018-04-04 06:55] narasi commented on #51322
@jdumars : We had this problem on 1.6.6, now on 1.7.7. Is there any reason why it can be expected to be fixed in 1.8+?

[2018-04-04 08:04] wavezhang opened #62096 "Feature request: CSI plugin support expand volume size"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig storage

**Description**:

Let CSI volume plugin  support expand volume size

/cc @kubernetes/sig-storage-feature-requests

[2018-04-04 08:06] natronq commented on #62078
Related: https://github.com/kubernetes/kubernetes/issues/61906

[2018-04-04 08:31] krmayankk commented on #62061
@rootfs

[2018-04-04 08:32] krmayankk commented on #62061
i thought there was a watch on the rbd volumes and unused or orphaned rbd volumes are detached automatically or in this scenario it is no longer a orphan ?

[2018-04-04 08:41] inetkiller opened #62098 "kube-apiserver swagger ui no response"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kube-apiserver enable swagger ui , local brower can visit swagger ui ,but the swagger ui page will sticking and no response.

**What you expected to happen**:
Show detail info when i click an api interface.

**How to reproduce it (as minimally and precisely as possible)**:
enable swagger ui ,and visit it .

**Anything else we need t

[2018-04-04 08:42] inetkiller commented on #62098
/sig kube-apiserver

[2018-04-04 08:45] inetkiller commented on #62098
/sig kube-apiserver

[2018-04-04 09:08] primeroz opened #62099 "configMap and secrets volumeMount are always mounted readOnly in 1.9.6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After upgrading from 1.9.4 to 1.9.6 configMap and secrets volumes are always mounted ReadOnly even when the deployment specs don't set the option and "kubectl describe pod" show the mount ad rw

Deployment specs and kubectl describe show RW:
[code]

Docker inspect and actual mountpoint inside of the running container show

[2018-04-04 09:10] Sarga opened #62100 "Taints not working as expected"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
I need several dedicated nodes to run the cronjobs on them
I've added taint to the worker node
[code]
Also I've checked that the taint exists
[code]
But when I scale pods, they run on this node with taint
Where I'am wrong?

**What you expected to happen**:
I expect that the pods will not be run on the node with

[2018-04-04 09:17] Sarga commented on #62100
/sig scheduling

[2018-04-04 09:33] nordri commented on #58145
Hi, how is going?
I've deployed k8s 1.9.5 on OpenStack with kubespray and I'm struggling with this issue.
If I do not set ``manage-security-groups`` or ``node-security-group`` the LBAAS is created but it's not assigned to any Security Group. So, the service is not reachable from the outside world. I can fix it by hand creating the Security Group and assign it to the VIP.
If I do set ``node-securit

[2018-04-04 10:09] JetPac33 commented on #55867
Seeing the same warning messages with k8s 1.7.9 on Azure AKS.

[2018-04-04 10:42] sokoow commented on #51835
Can somebody confirm that this is fixed in version 1.9.3+ please? We have some serious trouble because of this behaviour, and restarting docker each time this happens is soo st00pid.

[2018-04-04 10:53] Stono commented on #51835
Fixed on 1.9.6 for me

On Wed, 4 Apr 2018, 11:43 am sokoow, <notifications@github.com> wrote:

[2018-04-04 10:57] haashah commented on #61764
Faced the same problem. Workaround by @berlinsaint and @Res'  both work. no idea why. Hopefully this is fixed in kubeadm soon.

[2018-04-04 11:00] bruce2409 opened #62106 "Consistency in naming objects"
/kind bug
(Marking as a bug but if someone thinks it's more a feature request feel free to retag!)

**What happened**:
When deploying objects, there is a lack of consistency between what names are allowed, specifically with regards to FQDN type names. Secrets and Configmaps and Ingresses are fine, but deployments and services throw errors if you try.

**What you expected to happen**:
For the rules

[2018-04-04 11:16] bruce2409 commented on #62106
/sig bugs

[2018-04-04 11:23] HasnainRaza14 opened #62107 "Workflow of Same ebs volume attached to multiple PV"
Hi everyone, this is just for the sake of knowledge. If anyone knows please guide in this regard.

I am trying to create a PV like:

_kind: PersistentVolume
apiVersion: v1
metadata:
  name: test-pv-2
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  awsElasticBlockStore:
    volumeID: aws-volume-id
    fsType: ext4_

**it gets created and we can use this to PV for claiming a

[2018-04-04 11:28] k82cn opened #62109 "Upgrade TaintNodesByCondition to Beta"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig scheduling
/sig node

**Description**:

This is the issue that used to trace related tasks to upgrade `TaintNodesByCondition` to beta.

- [x] Update flags in `kube_features.go` to beta (#62111)
- [x] Added more integration test (#66315)
- [ ] Update doc at website (https://github.com/kubernetes/website/pull/9626)
- [ ] Update releas

[2018-04-04 11:42] bruce2409 commented on #62106
/sig architecture

[2018-04-04 11:46] sokoow commented on #51835
Okay, thanks @Stono . One more thing to confirm here. Here's our kubespray template for containerized kubelet:

[code]

[2018-04-04 11:49] wu0407 commented on #56038
gco.io images mirror on aliyun https://dev.aliyun.com/list.html?namePrefix=google-containers

[2018-04-04 11:50] wu0407 commented on #56038
https://packages.cloud.google.com mirror on https://mirrors.aliyun.com/kubernetes

[2018-04-04 12:08] wouterhund opened #62112 "Pod's hostIP does not function"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When specifying `hostIP: $IP` for a pod, the resulting IP tables rule does not contain `-d $IP` as expected.

**What you expected to happen**:

That the generated iptables rule has `-d $IP` alongside `--dport $PORT`

**How to reproduce it (as minimally and precisely as possible)**:

Create a deployment: `kubectl run my-n

[2018-04-04 12:58] Stono commented on #51835
I spoke too soon.

[code]

Had to destroy it in the brutal fashion.
[code]

[2018-04-04 13:27] qianzhangxa commented on #2630
@eatnumber1 Can you elaborate a bit more on why we will have this issue with the [supplementary group solution](https://github.com/kubernetes/kubernetes/issues/2630#issuecomment-70041443) mentioned in this thread? IIUC, `setuid(2)`/`seteuid(2)` will not change the supplementary group of the calling process, so as long as the application is in a group which have the access to the volume, it should

[2018-04-04 14:17] lukasheinrich opened #62117 "Feature: exitContainers analogous to initContainers"
Kubernetes provides the useful feature of initContainers, that allow us to run containers other than the main workload to e.g. setup data, configuration etc, using tools that might not be available, or are unrelated to the main application code running as the main workload.

It would be very useful for Kubernetes to add an analogous feature at the other end of the lifecycle, e.g. `exitContainers`.

[2018-04-04 14:26] msau42 commented on #51434
/remove-lifecycle stale

[2018-04-04 14:28] msau42 commented on #61813
If all 5 partitions can be used by pod B, then couldn't you run into a scenario where you won't have enough disks for pod A?

[2018-04-04 14:37] chmielas opened #62119 "Mounting pvc takes a really long time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Mounting pvc takes a really long time

**What you expected to happen**:
Mounting pvc should works faster

**How to reproduce it (as minimally and precisely as possible)**:
Create a pod with attached pvc (AWS EBS based )

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Cli

[2018-04-04 14:59] liggitt commented on #57992
I'm not aware of any changes in 1.9 or 1.10 that would have fixed this.

Unrelatedly, something like https://github.com/kubernetes/kubernetes/pull/12498/files would be a good backstop to leaking connections like this

[2018-04-04 15:02] karlhungus opened #62120 "Leader Election: ceding leadership, leading on renew callback"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature
/sig api-machinery

#### Abstract

 1. cede leader ship from [`LeaderElector`](https://github.com/kubernetes/kubernetes/blob/2bf111a619087d46c03018ae458f822f3fc13708/staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go) without Panicing
 2. callback from [`LeaderElector>>renew()`](https://github.com/kuberne

[2018-04-04 15:15] andyzhangx opened #62121 "hostpath.type as `DirectoryOrCreate` does not work on windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
hostpath.type as `DirectoryOrCreate` does not work on windows, there will be mount failed error

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.11
- Cloud prov

[2018-04-04 15:21] Arslanbekov opened #62123 "Support EnvFromSource FieldRef"
/kind bug

**What happened**:
Object `EnvFromSource` does not contain fields for extraction `FieldFrom`. Therefore, it is not possible to extract and display data on Dashboard:

https://github.com/kubernetes/dashboard/blob/9c9b2a3aa18dcc029f9899d08ab3bfd1f995d101/src/app/frontend/pod/detail/containerinfo_component.js#L58

EnvVarSource (include FieldRef).
https://github.com/kubernetes/kubernetes/bl

[2018-04-04 15:24] dcbw commented on #60661
@mikedanese can you clarify this a bit for me?

[2018-04-04 15:34] zetaab commented on #62119
15 seconds is not a really long time. I would say long time is 10 minutes.

[2018-04-04 15:36] yelled3 commented on #40870
/reopen
@robhaswell did you solve this issue?

currently the documentation hasn't changed, BTW.

see:
https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

[2018-04-04 15:43] zetaab opened #62124 "Add support to use namespace specific SNAT ips to outside from cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE
/kind feature

**What happened**:
We have kubernetes installed in openstack. However, because we have subnet there and one router. It means that all traffic from all namespaces is routed using same router. When using same router, the ip address to outside world is always the same.

**What you expected to happen**:
When using kubernetes in enter

[2018-04-04 15:46] robhaswell commented on #40870
@yelled3 no, I never managed to get this working as documented. I gave up on this issue as soon as @thockin said "I don't think this particular usage pattern was  tested or even considered really" when my exact use-case was listed as an example in the documentation ("You want to point your service to a service in another Namespace or on another cluster").

I've encountered enough _wontfix_ attitud

[2018-04-04 15:46] mikedanese commented on #60661
Currently, the kubelet exposes a view of it's pod cache (including IPs of pods). If a process receives a request on localhost socket and wants to know which pod is on the other end it can:

1. read src ip of the socket
1. read the pod cache
1. find a pod with a matching ip
1. assume the connection came from that pod

The concern is that stale data in the cache mixed with pod ip address reuse may l

[2018-04-04 15:49] yelled3 commented on #40870
@robhaswell thanks :-)

[2018-04-04 15:50] k82cn commented on #62117
Does this proposal (https://github.com/kubernetes/community/pull/483) meet your requirement? I think the major concern is the error handling of 'exitContainers'.

[2018-04-04 15:54] fabiand commented on #59110
We would like to see Deallocate in our KubeVirt DPs.

First, to us Deallocated would be helpful after container stop - i actually think this is relevant, because otherwise the workload can still be running.

Second, optional implementation sounds good - some need it (network devices) others don't.

@mpolednik @phoracek do you have more insights?

[2018-04-04 15:58] msau42 commented on #60814
@sgorbaty thanks for reviewing the patch!  Hard links are fine in this case because they cannot cross mounts.  In general, if you see any further issues, please report it following the [security disclosure process](https://kubernetes.io/security/).

@kubernetes/sig-storage-bugs

[2018-04-04 16:03] sokoow commented on #51835
@Stono which docker version are you using ? for us with docker 17.12CE, doing pod deletion with --force --grace-period 0 is quite drastic - it almost always ends up with node being unavailable due to docker hang

[2018-04-04 16:13] lukasheinrich commented on #62117
Thanks @k82cn, that looks like exactly the feature I am looking for -- so I think this can be marked as a duplicate and closed.

[2018-04-04 16:26] discordianfish commented on #57109
/remove-lifecycle stale
/lifecycle freeze

[2018-04-04 16:30] mikedanese commented on #60660
I'll fix this once https://github.com/square/go-jose/pull/179 goes in.

[2018-04-04 16:32] salilgupta1 commented on #62068
@resouer At least from the documentation it seems like PodPriority is tightly bound to preemption

Our use case: Clients run a variety of jobs on our platform. We want to run these jobs on K8s. The issue is a client (let's say Client A) could flood the job queue with hundreds of jobs that take up all the available resources on our cluster thus blocking other clients from running jobs. If we could

[2018-04-04 16:39] Arslanbekov commented on #62123
/sig api-machinery

[2018-04-04 16:41] msau42 commented on #54155
@mrrandrade could you check your kubelet logs for more detailed messages about why the volume failed to mount?  It may be easier to just run a single pod for debugging.

[2018-04-04 16:49] tnozicka commented on #42534
/unassign tnozicka

[2018-04-04 16:50] lareeth commented on #49753
That's correct, this will be merged into https://github.com/coreos/alb-ingress-controller but this is a custom ingress controller and not the Kubernetes provided one. If you want to use it, it still requires some work with https://github.com/kubernetes-incubator/external-dns. I will be raising a ticket there to add AAAA support.

[2018-04-04 17:02] liggitt commented on #62123
EnvFromSource directs the kubelet to extract all values from the referenced configmap or secret and create environment variables from them. This is done at container run time, not reflected in the API.

EnvVarSource lets you specify a particular key in a secret or configmap to inject.

/close

[2018-04-04 17:02] #62123 closed

[2018-04-04 17:03] dober opened #62127 "dynamic variables?"
/kind feature

Good day!
**What happened**:
I have an issue with dynamic variables - single key with different values:
SINGLE_KEY: value1
SINGLE_KEY: value2
SINGLE_KEY: value3

**Example**:
We have pod replicas in statefulset - app-0, app-1, app-2.
How to inject env SINGLE_KEY: value1 to app-0, SINGLE_KEY: value2 to app-1, SINGLE_KEY: value3
to app-2?

**What you expected to happen**:
Every pod ha

[2018-04-04 17:06] liggitt commented on #62117
/close

[2018-04-04 17:06] #62117 closed

[2018-04-04 17:09] dober commented on #62127
/sig apps

[2018-04-04 17:10] liggitt commented on #62094
historically, kubectl reaped child resources as part of delete.
that function is now supported server-side and kubectl should change to use it
/sig cli

[2018-04-04 17:38] yujuhong commented on #40140
This was removed in #61995

[2018-04-04 17:38] #40140 closed

[2018-04-04 17:40] RenaudWasTaken commented on #59110
I'm not sure we want to introduce the notion of Kubelet changing the device health state without the device plugin being aware of it.
That would either require us to introduce a mechanism to notify the device plugin that we changed the state of a device or (if we decide not to notify the device plugin) prevent the device plugin from taking actions to put this device in a correct state.

IMHO, the

[2018-04-04 17:44] mtaufen commented on #62009
I'd like to just make a custom copy of `pflag.FlagSet.FlagUsagesWrapped` that includes deprecated flags. Not sure how to handle the licensing with this, since pflag is third party code.

It looks like we do `third_party/forked` for this sort of thing, but since other third party code (like Cobra) would be type-incompatible with a forked pflag, I don't think just forking and updating imports is via

[2018-04-04 17:46] AishSundar opened #62128 "[Flaky test] [pr:pull-kubernetes-integration] test-cmd run_deployment_tests flaked 33 times in the past week"
### Flaky Job: pr:pull-kubernetes-integration
#### Consistency: [87.3%](http://storage.googleapis.com/k8s-metrics/job-flakes-latest.json)

### Flakiest test : test-cmd run_deployment_tests
#### Flakes in the past week: [33](http://storage.googleapis.com/k8s-metrics/flakes-latest.json)

### Failures in TestGrid:
https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-integra

[2018-04-04 18:07] kad commented on #59110
@RenaudWasTaken by changing health status, I mean as part of DP Deallocate code flow. So, instead of returning error code, Deallocate function inside plugin will change internal status of device to unhealthy. Not kubelet.

[2018-04-04 18:13] nikhiljindal commented on #62128
umm that PR was more than a year ago. Am not aware of recent kubectl changes.

The relevant error seems to be:
[code]

Anyone from @kubernetes/sig-cli-bugs has more idea?

[2018-04-04 18:18] jennybuckley opened #62130 "Add webhook e2e test ensuring that Mutating Webhooks are not called for Webhook Configuration object requests."
We have an e2e test for "AdmissionWebhooks Should not be able to prevent deleting validating-webhook-configurations or mutating-webhook-configurations" which verifies that ValidatingWebhooks are not called on validating-webhook-configurations and mutating-webhook-configurations, but we do not have such a test for MutatingWebhooks.

In https://github.com/kubernetes/kubernetes/pull/58381#discussion_

[2018-04-04 18:38] AishSundar opened #62131 "Migrate test images to gcr.io/kubernetes-e2e-test-images"
/kind feature

**What happened**: Currently e2e test images are distributed between 2 different registry locations, k8s.gcr.io and gcr.io/kubernetes-e2e-test-images. https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go

**What you expected to happen**: We should ideally consolidate them under gcr.io/kubernetes-e2e-test-images where they rightly belong.

/assign

[2018-04-04 18:39] AishSundar commented on #62131
/sig-testing

[2018-04-04 18:40] AishSundar commented on #62131
/sig testing

[2018-04-04 18:46] jhorwit2 opened #62134 "Job ActiveDeadlineSeconds is not respected if the KCM is restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig apps

**What happened**:

A job with an active deadline seconds of 5 minutes did not kill the pod after 5 minutes. Once 10 minutes (sleep timer) was reached the job was updated and emitted the `DeadlineExceeded` event; however, the pod had already stopped and it was 5 minutes late.

[code]

**What you expected to happen**:

The pod shou

[2018-04-04 18:56] vishh commented on #61012
+1 for handling gang scheduling independent of resource sharing. I can help shepherd it with @bsalamat.
We should consider the overall lifecycle of Gangs of pods and not just creation. For example. what happens if one of the pods gets evicted in a gang and cannot get scheduled back again?
I'd also like to stress on the importance of being user friendly. We cannot assume that there will be speciali

[2018-04-04 19:02] eatnumber1 commented on #2630
It looks like I [was mistaken](http://pubs.opengroup.org/onlinepubs/009695399/functions/setgid.html) and calling `setgid(2)` doesn't change supplementary groups (which I had thought it did).

Looking around, it seems like at least nginx drops supplementary groups explicitly [here](https://github.com/nginx/nginx/blob/ce45ded2a8c1b0c0e601779bcc3e54668a14e271/src/os/unix/ngx_process_cycle.c#L836) (an

[2018-04-04 19:07] ConnorDoyle commented on #61012
Volunteering myself to help with reviews

[2018-04-04 19:10] mindprince commented on #61012
/assign

[2018-04-04 19:20] vishh opened #62138 "Mention the recommended taint API for nodes with specialized HW in Taints documentation"
The current [documentation for taints and toleration](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/) has a section on handling specialized HW. Give that we now have a build in admission controller that standardizes how nodes with specialized HW are expected to be tainted (https://github.com/kubernetes/kubernetes/issues/55080), it is important to document that as part of t

[2018-04-04 19:41] spdeshpande opened #62140 "DNS stops working during controller election"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We have a 3 node k8s 1.7.3 cluster (all masters) with control plane (apiserver, controller, scheduler, etcd) and dns server, all scaled out to 3. What we have observed is that when one of the nodes that had the kube-controller-manager running as master goes down, the dns stops servicing requests for a while, probably till

[2018-04-04 19:47] dcbw commented on #60661
@mikedanese yeah, that's not what CNI GET is for.  CNI GET is "tell me the IP details of PodX or return an error if PodX has broken networking".  The original reason for GET was to (a) remove the nsenter crap from kubelet and (b) give kubelet a way to get pod IP/network-state on restart.

It's not meant to be a "tell me what pod has IP address Y", which is what I think you're looking for?

Lastly,

[2018-04-04 19:52] dcbw commented on #60661
Instead I would suggest just using the kubelet pod cache, but look at *sandboxes* not pods.  Find the active sandbox with the given IP address and then return that sandbox's Pod ID.  If kubelet can't correctly track which containers are using which sandboxes, we've got bigger problems than this API.

[2018-04-04 19:53] dcbw commented on #60661
Also, I don't think your proposal works for hostnetwork pods, since every hostnetwork pod on the same node will share the host's IP address, so there's no way to differentiate pods by IP.

[2018-04-04 19:55] bsalamat commented on #61012
This is one idea: gangs should specify the number of replicas and the minimum number of live replicas, let's call it `minReplicas`. The controller creates as many instances (Pods) as the number of replicas. Scheduler will not schedule any of the replicas until at least as many as `minReplicas` can be scheduled. The rest of the replicas are scheduled if there are free resources. When the number of

[2018-04-04 20:07] sttts commented on #62044
Will work on the 1.11 fix for this, without reverting.

[2018-04-04 20:24] kow3ns commented on #61092
My first though would be that round tripping the resource through this client version is stripping the tolerations.

[2018-04-04 20:27] kow3ns commented on #62134
/cc @soltysh

[2018-04-04 20:33] #52398 closed

[2018-04-04 20:42] handlers commented on #37471
Same issue when trying to pipe to xargs:

`kubectl get pods -n foobar | grep baz | awk '{print $1}' | xargs -J % kubectl exec -it -n foobar % /bin/bash`

[2018-04-04 20:45] kow3ns commented on #61497
My initial thought it that this would too closely couple the lifecycle of the a Job and another Pod to be implemented as you are describing.

Why do not want to continue using side cars?

[2018-04-04 21:07] jiayingz commented on #59110
Thanks a lot for the inputs!

From the discussions so far, it sounds people feel Deallocation notification should be at container level and can tolerant certain delays and failures. In that case, I wonder whether this notification has to be sent from device plugin API or may be learned from other interface. E.g., for device monitoring, we have been discussing whether we may want to export device t

[2018-04-04 21:08] davissp14 commented on #61497
Jobs give us nice built-in control over parallelism, timeouts, retries, etc.  Cron via CronJobs is also quite nice.  Utilizing Jobs seems like it would allow us to not have to reinvent all of these features and would also provide a consistent execution method for both our on-demand and scheduled operations.

[2018-04-04 21:35] spanditcaa commented on #55867
We are having the same problem with k8s 1.9.2 on Azure AKS.

[2018-04-04 21:45] jiayingz commented on #59110
@RenaudWasTaken no, I mean not-in-use device information may be learned from other interface, like a file API, if that is also used to support device monitoring.

[2018-04-04 21:50] RenaudWasTaken commented on #59110
I think the request here is about doing `Deallocate` after container stop. Additionally I'm not sure we can extrapolate "not-in-use" = `Deallocate`.

Furthermore, I'm not sure we want to decide the `Deallocate` strategy based on an undecided monitoring API.

Finally it seems like the Device Plugin API is the correct API to add this call. Device specific operations at certain point of the container

[2018-04-04 21:53] RenaudWasTaken commented on #59110
We can and should advertise the two versions of the API (i.e: the version without the `Deallocate` call and the version with the additional `Deallocate` call) on the Kubelet socket.

That would not require old Device Plugin to implement the new API to work with a new version of K8s.

[2018-04-04 21:54] RobBagby commented on #57001
/remove-lifecycle stale

[2018-04-04 22:06] #60397 closed

[2018-04-04 22:17] frodenas opened #62145 "`daemon-set-controller` bootstrap RBAC policy does not include `get` permission for `controllerrevisions`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig auth

**What happened**:

Testing a daemon-set spec, I deleted/recreated it multiple times. At one of the recreations, the daemon-set was not scheduled anymore, and the number of desired pods went to 0 (on a 3 nodes cluster):

[code]

The kube-apiserver stderr logs shows:

[code]
The kube-controller stderr logs shows:

[code]

The (defa

[2018-04-04 22:27] keattang commented on #62094
Is there a way I can take advantage of the server side functionality in the mean time?

[2018-04-04 22:37] gnufied commented on #62107
The disk space available to all PVs that use same EBS volume-id will be same. Kubernetes does not create device paritions or anything of that sort out of box for sharing large disks between n number of PVs.

Closing this. If you need further help, please open something on Stackoverflow or drop by on our slack channel.

/close

[2018-04-04 22:37] #62107 closed

[2018-04-04 22:41] gnufied commented on #62119
Yeah mounting itself should be quick. You can actually get a breakdown of these timings via metrics.  Try "curl http://localhost:10255/metrics" and if you grep for "storage" then you will see metrics for mount/unmount operations.

Likely the delay for EBS is in - attach part. With 1.10 - we have tried to make it faster - https://github.com/kubernetes/kubernetes/pull/56974 perhaps worth giving 1.10

[2018-04-04 22:41] #62119 closed

[2018-04-04 22:53] gnufied commented on #62099
This was intentional. More details https://github.com/kubernetes/kubernetes/pull/60258/files . If you really want `configMap` or `secrets` to be `rw` then you can disable the feature gate - `ReadOnlyAPIDataVolumes`.

[2018-04-04 23:02] spdeshpande commented on #62140
@kubernetes/sig-contributor-experience-bugs

[2018-04-04 23:13] bsalamat commented on #56032
@shyamjvs
The scalability tests that you added to presubmit tests often fail without enabling preemption. The smallest one (`pull-kubernetes-e2e-gce-100-performance`) runs by default and fails often. Could you please take a look?

[2018-04-04 23:31] tallclair commented on #60001
My take on these areas is:

I would love to hear more input from the community and users in this area. I think it's nice to have some built-in solutions for the most common use cases, but defer to extensions to express more complex inter dependencies, policies-of-policies, etc.

I'm sold on the domain-specific approach, but I want to avoid a policy-per-field. We (someone) should survey the area, a

[2018-04-04 23:44] ConnorDoyle opened #62149 "Reduce the barrier to entry for deploying machine learning workloads."
This is an umbrella to aggregate machine learning related pain points.

Example sub-topics include:

* project templating
* development workflows
* dataset management
* tracking experiments and result metadata

[2018-04-04 23:44] ConnorDoyle commented on #62149
/sig apps

[2018-04-04 23:51] janetkuo commented on #61639
@mrbobbytables thanks for reporting this! It's a bug in the template comparison function. A fix is underway.

[2018-04-04 23:53] nikhiljindal commented on #60850
Ping?
I see that in all failure log messages for `pull-kubernetes-e2e-gce-100-performance`.
Not sure if thats the cause or just an error message I can ignore?

[2018-04-04 23:57] bbb31 commented on #29540
fwiw, this is still not resolved. Also, [random google search with same keywords](https://encrypted.google.com/search?hl=en&q=dashboard%20%22CrashLoopBackOff%22%20site%3Agithub.com) for this bug shows that each time reports are closed it's prematurely (without testing to even confirm the issue is resolved).

Also, the FAQ which is so sorely represented in the output doesn't even mention this issue

[2018-04-05 00:49] dims commented on #54168
/close

let's reopen if needed

[2018-04-05 00:49] #54168 closed

[2018-04-05 00:59] dims commented on #61750
should be fixed already in https://github.com/kubernetes/kubernetes/pull/61357

/close

[2018-04-05 00:59] #61750 closed

[2018-04-05 01:01] thockin commented on #62009
Can we try to send a patch to pflag?  I know a maintainer :) @eparis thoughts?

[2018-04-05 01:01] #60938 closed

[2018-04-05 01:03] dims commented on #61451
fixed in https://github.com/kubernetes/kubernetes/pull/61613

/close

[2018-04-05 01:03] #61451 closed

[2018-04-05 01:17] orainxiong commented on #61832
@msau42 Yes, AttachDetach controller is responsible for attaching and detaching all volumes across the cluster and prevents multiple attach on the same volumes in the normal case.

But, AttachDetach controller can't guarantee at-most-one attach when the original Node is unreachable.

The operation Detach would take an unpredictable time, so there is a parameter _ReconcilerMaxWaitForUnmountDuration

[2018-04-05 01:29] wenlxie commented on #61813
@msau42  We have few A kind pod but many B pod, and we have many PVs with anffinity to different nodes.
I think we can forget the B pod here, then the logical is the same with pod anti-affinity.
If the other kind of pod runs out of all of the node's CPU/memory, then the pod with anti-affinity is also can't be scheduled.
This is the same with you mentioned scenario that  PV had been full used.

[2018-04-05 03:04] hongchaodeng commented on #61012
+1 for reviewing the design doc.

We have heavy use of gang scheduling and its variants -- large cluster size (10k+), and a number of bundles to be deployed in a fast way to save time and resources.
- https://www.nytimes.com/2017/11/10/business/alibaba-singles-day.html
- https://myslide.cn/slides/6376

My 2c:

For such a large cluster, the default k8s scheduler couldn't meet our scale. Thus, we ha

[2018-04-05 03:25] liggitt commented on #62099
making atomic writer volumes (secret, configmap, downwardAPI, projected) readonly was part of the fix for https://github.com/kubernetes/kubernetes/issues/60814

/close

[2018-04-05 03:25] #62099 closed

[2018-04-05 03:40] #61639 closed

[2018-04-05 04:27] nikhilno1 commented on #61277
I am new to kubernetes and getting the same error on CentOS 7 (v1.10.0)

Tried everything that many posts have suggested but still not able to get it to work.
There is nobody listening on port 6443.  Complete log attached.
Any help appreciated. Thanks.
[kube.log](https://github.com/kubernetes/kubernetes/files/1878561/kube.log)

[2018-04-05 04:30] xiang90 commented on #62092
/cc @hongchaodeng

[2018-04-05 04:44] feluxe opened #62153 "Global inter-namespace cluster secrets - Secrets that work across namespaces"
/kind feature
/sig api-machinery
/sig architecture
/sig auth

I'm currently setting up a docker-image registry for multiple clusters with multiple namespaces. In order to make this work for every namespace in every cluster, I have to create a secret for each single namespace.

I have no idea about the implications, but from a user's perspective it would be handy to have something like *global* sec

[2018-04-05 05:27] resouer commented on #61012
@hongchaodeng  Resource hoarding is tricky in multiple scheduler, considering the coming scheduler as framework work, we may want to focus on single scheduler for now.

One nits: any English version of the slides?

[2018-04-05 06:19] nikhilno1 commented on #60884
Having the same issue. Any solution/workaround? Thanks.

[2018-04-05 06:43] #51012 closed

[2018-04-05 07:24] chmielas commented on #62119
@gnufied  What is expexted mount time after installation 1.10 ?

[2018-04-05 07:29] wojtek-t commented on #62064
The range 860-862 of kubemark-5000 is suspiciously close to that PR: https://github.com/kubernetes/kubernetes/pull/59953
[which was discovered to be reason for regression]

[2018-04-05 07:42] zetaab commented on #62119
@chmielas could you please open the PR it is there in first post.

Like release notes says
`AWS: Make attach/detach operations faster. from 10-12s to 2-6s`

[2018-04-05 07:48] wojtek-t commented on #62064
@shyamjvs - I looked into range that you mentioned above:
https://github.com/kubernetes/kubernetes/pull/59685 - unrelated
https://github.com/kubernetes/kubernetes/pull/59797 - unrelated
https://github.com/kubernetes/kubernetes/pull/57445 - unrelated
https://github.com/kubernetes/kubernetes/pull/59523 - unrelated (only removing some metrics gathering in CM)
https://github.com/kubernetes/kubernetes/

[2018-04-05 07:53] wojtek-t commented on #62064
Actually, take a look at this graph - this also proves where the regression was.
And it unfortunately gives the same range.

![screenshot from 2018-04-05 09-50-45](https://user-images.githubusercontent.com/10743879/38353543-053298ba-38b7-11e8-91f1-acaa4d30d18e.png)

So I think the suspicious PRs are (but neither of them looks like it could cause such things)
#59103 - unlikely, but possible
#59832

[2018-04-05 08:00] wojtek-t commented on #62064
BTW - this may be kubemark-specific regression, because we don't see similar effects in 5k-node clusters.
So it may be something different than the initially reported one.

[2018-04-05 08:13] dixudx commented on #62121
@andyzhangx I submitted another alternative PR to fix this issue. PTAL #62154

[2018-04-05 08:25] kad commented on #59110
@jiayingz I agree with @RenaudWasTaken : for me, device plugin API is the right spot to have Deallocate call. There are several reasons for that. One is about overall design that Kubelet is the ultimate decision maker on which devices are available and which are in use. Having some monitoring code that will be not aware about Kubelet state for device, and for kubelet not aware of monitoring state

[2018-04-05 08:34] wojtek-t commented on #62064
As for the originally reported regression, I think the only thing we can say is that happened somewhere
between runs: 115 and 118:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/115
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/118

and unfortunately that's hell a lot of commits...

[2018-04-05 08:48] tnozicka commented on #31345
Fix is ready here: https://github.com/kubernetes/kubernetes/pull/50102

[2018-04-05 08:48] wojtek-t commented on #62064
@shyamjvs had a hypothesis that the regression happened between runs of 884 and 995 of kubemark-5000 (which is within this time period).

I looked into corresponding diff:
https://github.com/kubernetes/kubernetes/compare/07240b7166d83b...46f05b0c2bc153

https://github.com/kubernetes/kubernetes/pull/59495 - unlikely, but possible
https://github.com/kubernetes/kubernetes/pull/60173 - unrelated (doc