[2018-12-20 23:57] fedebongio commented on #72113
/cc @cheftako

[2018-12-20 23:58] fedebongio commented on #72115
/cc @mbohlool

[2018-12-20 23:58] fedebongio commented on #72116
/cc @cheftako

[2018-12-20 23:59] jhrv opened #72256 "deployments/rollback not passed to validation"
**What happened**:
I'm unable to configure the api-server through a `ValidatingWebhookConfiguration` to pass admission requests to my `ValidatingAdmissionWebhook` for the `deployments/rollback` resource.

I'm adding the following rule to the `ValidatingWebhookConfiguration`
[code]

When performing rollbacks, I'm not seeing any calls to the admission webhook.

**What you expected to happen**:

To r

[2018-12-20 23:59] fedebongio commented on #72117
/cc @cheftako @lavalamp

[2018-12-20 23:59] jhrv commented on #72256
/sig apps

[2018-12-21 00:00] fedebongio commented on #72139
/remove-sig api-machinery

[2018-12-21 00:01] fedebongio commented on #72158
/assign @nzoueidi @loqutus
/cc @mbohlool

[2018-12-21 00:02] fedebongio commented on #72163
/cc @jpbetz

[2018-12-21 00:02] fedebongio commented on #72163
If we solve it, we want a piece of pie :)

[2018-12-21 00:03] fedebongio commented on #72244
/cc @logicalhan

[2018-12-21 00:12] srmocher commented on #72080
I'm relatively new to the code base so apologies if I'm wrong about my assumptions.
If I understand correctly, we'd like to avoid harcoding exact volume sizes in tests like [this](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/provisioning.go#L154) and use size ranges for both the test and driver for the backend and then use the value which works for both(intersec

[2018-12-21 00:13] timoha opened #72257 "Orphaned pod cleanup removed all data in subPaths of a local volume with path on root drive"
**What happened**:
Network for all nodes of kubernetes cluster (29 hosts) was turned off for a day. Once the network was brought back, we've scaled down a statefulset that mounts a `subPath` from local volume which `path` on a root drive and then scaled it back up to previous number of replicas. kubelet on 26 out of 29 hosts proceeded with removing all data from subpaths of the pod. In fact, it wa

[2018-12-21 00:17] wenjiaswe commented on #71016
@PrasadG193  Sorry for the delay! I was busy with KubeCon and just caught up with this. Actually, what you need to do is to update files in https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io in this PR, instead of vendors. cc @dims for confirmation. (same reply as in the PR)

[2018-12-21 00:35] Huang-Wei commented on #71930
@zhangxiaoyu-zidif does PodAntiAffinity with topologyKey `kubernetes.io/hostname` resolve your issue?

[2018-12-21 00:36] dims commented on #71016
@wenjiaswe 's suggestion is correct!

[2018-12-21 00:51] dinathom commented on #5607
@kfox1111 that seems different from what I read here: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#privileged
how would the application have the ability to read the device unless the container allows it via some additional capabilities?

The reason kvm works ( did not test this but from the documentation ) is because of  device plugins that whitelist /dev/kvm.

[2018-12-21 00:53] mkimuram commented on #72080
@srmocher

Thank you very much for working on this!

Correct.

For detailed background, please check comments to ```GetClaimSize()``` on "e2e/storage: drivers determine the claim size" commit in below link.
https://github.com/kubernetes/kubernetes/pull/70862/commits

Also, if there are any questions, please feel free to ask me.

[2018-12-21 01:03] kfox1111 commented on #5607
I don't believe you need any special privilege in linux to read from a block device. only unix permissions to the block device. You do need special privilege to mount a block device. If the storage driver plumbs through the device and gives it the right permissions, I think it works.

I believe /dev/kvm is an entirely different thing as it isn't a blockdev.

[2018-12-21 01:10] kfox1111 commented on #5607
Hmm... no. there seems to be a capability restricted in docker by default that normal users on the host dosn't have.

[2018-12-21 01:21] BenTheElder commented on #70249
SGTM, one thing worth noting is that a few related projects have used k8s.gcr.io/debian-base (one of mine used to), wish we had a good way to signal intent regarding the future of that image.

[2018-12-21 01:22] hzxuzhonghu commented on #55713
/remove-lifecycle stale

[2018-12-21 01:38] denkensk commented on #72078
Thank you, I see.  Can I solve this problem by moving PodFilter from package Scheduleinternalcache to
package algorithm？
@k82cn

[2018-12-21 01:43] Teeina commented on #67531
Met this problem also. All my etcd pod look healthy(I have 6 worker nodes in the cluster).
However, i saw the same error logs showing inside etcd:
**etcdhttp: error writing event (write tcp 10.42.243.73:2379->10.42.112.68:43106: write: broken pipe)**
And while using helm deploy, I've got errors like:
**Internal error occurred: resource quota evaluates timeout.**
Any idea to solve the problem?

[2018-12-21 01:46] maktouch commented on #72186
Cluster range = 172.20.1.0/24
Pod address range	= 172.30.0.0/17
Service address range = 172.30.128.0/17

Not sure how to check for that

[2018-12-21 02:21] zhangxiaoyu-zidif commented on #66560
+1

[2018-12-21 02:23] InAnimaTe opened #72261 "Failure starting container when mounting secret "not a directory""
**What happened**:

Pod does not start with my alpine based docker [image](https://hub.docker.com/r/inanimate/engage). This image launches just fine on docker itself via my laptop etc..

[code]

**What you expected to happen**:

Pod to start successfully with my container running and available.

**How to reproduce it (as minimally and precisely as possible)**:

Spawn a deployment with image `inani

[2018-12-21 02:32] InAnimaTe commented on #72261
Going to go with

/sig apps

[2018-12-21 03:01] xuekew commented on #72180
Dec 21 10:35:18 master kube-controller-manager[32427]: W1221 10:35:18.834531   32427 authorization.go:127] No authorization-kubeconfig provided, so SubjectAccessReview of authorization tokens won't work.
Dec 21 10:35:18 master kube-controller-manager[32427]: I1221 10:35:18.834553   32427 controllermanager.go:143] Version: v1.12.0-rc.2
Dec 21 10:35:18 master kube-controller-manager[32427]: I1221 10

[2018-12-21 03:02] xuekew commented on #72180
Dec 21 10:35:21 master kube-controller-manager[32427]: I1221 10:35:21.426866 32427 leaderelection.go:192] **failed to acquire lease kube-system/kube-controller-manager**

[2018-12-21 03:09] liggitt commented on #72180
are you running multiple controller managers? if so, can you provide the log from the active one? if not, can you provide the content of the kube-system kube-controller-manager lock object (either an endpoint or a configmap)?

[2018-12-21 03:13] xuekew commented on #72180
/k8s/kubernetes/bin/kube-controller-manager --logtostderr=true --v=4 --master=127.0.0.1:8080 --leader-elect=true --address=127.0.0.1 --service-cluster-ip-range=10.0.0.0/24 --cluster-name=kubernetes --cluster-signing-cert-file=/k8s/kubernetes/ssl/ca.pem --cluster-signing-key-file=/k8s/kubernetes/ssl/ca-key.pem --root-ca-file=/k8s/kubernetes/ssl/ca.pem --service-account-private-key-file=/opt/kuberne

[2018-12-21 03:14] xuekew commented on #72180
run one  kube-controller-manager

[2018-12-21 03:18] xuekew commented on #72180
[root@node-01 ~]# journalctl -f -u  kubelet
-- Logs begin at Thu 2018-12-20 19:15:31 CST. --
Dec 21 10:39:08 node-01 kubelet[22286]: I1221 10:39:08.316915   22286 mount_linux.go:179] Detected OS with systemd
Dec 21 10:39:08 node-01 kubelet[22286]: I1221 10:39:08.316967   22286 server.go:408] Version: v1.12.0-rc.2
Dec 21 10:39:08 node-01 kubelet[22286]: I1221 10:39:08.317019   22286 feature_gate.go

[2018-12-21 03:31] xuekew commented on #72180
[root@master ca]# kubectl get endpoints kube-controller-manager -n kube-system -o yaml
apiVersion: v1
kind: Endpoints
metadata:
  annotations:
    control-plane.alpha.kubernetes.io/leader: '{"holderIdentity":"master_b9cd86d8-04d0-11e9-a245-00163e10d707","leaseDurationSeconds":15,"acquireTime":"2018-12-21T03:30:28Z","renewTime":"2018-12-21T03:31:14Z","leaderTransitions":4140}'
  creationTimestamp:

[2018-12-21 03:40] liggitt commented on #72180
What is in the controller manager logs after the first 30 seconds? Does the "failed to acquire lease kube-system/kube-controller-manager" log persist beyond 15 seconds?

[2018-12-21 03:44] k82cn commented on #72078
just move PodFilter should be enough, and avoid recycle dependent.

[2018-12-21 03:52] timothyliu commented on #66421
same problem k8s v1.10.11

[2018-12-21 04:57] jonpulsifer commented on #52184
/remove-lifecycle stale

[2018-12-21 06:10] frittentheke commented on #62078
/remove-lifecycle stale

[2018-12-21 06:33] hzxuzhonghu commented on #72256
/sig api-machinery

[2018-12-21 06:35] hzxuzhonghu commented on #72256
Good point, should call `createValidation`.

[2018-12-21 06:39] #71867 closed

[2018-12-21 06:45] xuekew commented on #72180
According to your prompt, I found the kus-controller-manager tls certificate exception caused by the inability to join the node, and now solve the problem

[2018-12-21 06:47] xuekew commented on #72180
Kubectl create -f my-web.yaml failed,
kubectl describe pods my-web
Specific log:
Events:
  Type     Reason                  Age                  From                     Message
  ----     ------                  ----                 ----                     -------
  Normal   Scheduled               17m                  default-scheduler        Successfully assigned default/my-web to 172.16.127.1

[2018-12-21 06:53] paralika commented on #67676
I would like to work on this. Can I?

[2018-12-21 06:56] paralika commented on #11815
Can I work on this?

[2018-12-21 07:07] xiaosuhan opened #72270 "1.13.1 kube-proxy ipvs don't work when pod ip is changed"
**What happened**:

In k8s 1.13.1 version。When a Pod is changed, the kube-proxy log(info) show that the LVS rs IP is changed. but using 'ipvsadm -Ln', it's unccorrectly.    it's only Part of the node will have the situation
sometimes.
the bad node in  kube-proxy log(info)   don't have    `graceful_termination.go:160] Trying to delete rs
  xxxxxx `  and   `graceful_termination.go:173] Deleting rs

[2018-12-21 07:08] xuekew commented on #72180
systemctl status kubelet -l
logs:

Dec 21 15:07:30 node-01 kubelet[26278]: I1221 15:07:30.342356   26278 helpers.go:836] eviction manager: observations: signal=nodefs.inodesFree, available: 2582465, capacity: 2621440, time: 2018-12-21 15:07:30.335418652 +0800 CST m=+2862.933679982
Dec 21 15:07:30 node-01 kubelet[26278]: I1221 15:07:30.342367   26278 helpers.go:836] eviction manager: observations:

[2018-12-21 07:44] NeverMore93 commented on #56038
if I use proxy,how can I add cluster CIDR to no proxy

[2018-12-21 08:00] Pingan2017 opened #72272 "Can we deprecate '--image-gc-high-threshold' and 'image-gc-low-threshold'"
**What would you like to be added**:
deprecate '--image-gc-high-threshold' and 'image-gc-low-threshold' and using eviction instead
since now we have two policy (two entrance) of image garbage collection. maybe it's time to deprecate one of them and remove it in future.
https://github.com/kubernetes/kubernetes/blob/d257ee9bfdd8e32138d6c906ec94411b8e1d62fd/pkg/kubelet/kubelet.go#L1301-L1306
**Why is

[2018-12-21 08:04] Pingan2017 commented on #72272
/cc @yujuhong @derekwaynecarr

[2018-12-21 08:14] Nebulazhang commented on #72181
[code]
Node info and actual attach info:
[code]

This is my latest log. `disk-2dl526jy` volume is to detach at first but failed because this node is detaching other volume, so it failed ( of cause this failure depends on driver provider, but failure is accepted here, because Kubernetes  can retry) ...And now we add `disk-2dl526jy` volume to the same node. And Error occurs. Some data is wrong in co

[2018-12-21 08:30] george-angel commented on #68939
/remove-lifecycle stale

[2018-12-21 08:53] wojtek-t commented on #72016
@jberkus - we switched the way we run tests and there appeared that there were some differences. WSo we understand them and that was expected.

[2018-12-21 09:02] wojtek-t commented on #53255
Yes - it's not critical now.

[2018-12-21 09:40] mikebocian commented on #59477
/reopen
Same here. Restart helps, but after a while its the same.

[2018-12-21 09:40] Mohamedji opened #72273 "Cinder volumes not being detached during instance failure"
**What happened**: When a node failure occurs and new pod is scheduled but get stuck in ContinerCreating Status

**What you expected to happen**: Cinder Volume should have been detached from node and attached to new node where pod is scheduled

**How to reproduce it (as minimally and precisely as possible)**:
Steps :
1.Deploy mysql deployment with pv
kubectl apply -f https://k8s.io/examples/applic

[2018-12-21 09:41] bhavin192 commented on #71866
@misterikkit Number 3 sounds better to me too.

[2018-12-21 10:06] Mohamedji commented on #72273
@kubernetes/sig-openstack @kubernetes/sig-storage @kubernetes/sig-cluster-lifecycle

[2018-12-21 10:09] Mohamedji commented on #72273
/sig openstack
/sig storage
/sig cluster-lifestyle

[2018-12-21 10:10] b1zzu commented on #70421
Hi, can I take it?

[2018-12-21 10:18] harshal-shah opened #72274 "Push the CoreDNS 1.3.0 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.3.0 image is available in docker coredns/coredns:1.3.0

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/cc @BenTheElder
/cc @timothysc
/cc @AishSundar
/cc @dims
/assign @thockin

@fturib

/sig network
/sig cluster-lifecycle
/sig release

[2018-12-21 10:19] Mohamedji commented on #72273
@zetaab Any fix for this.

[2018-12-21 10:22] mhulscher commented on #72237
Apologies. This should indeed be fixed in our CCM. Thanks for the feedback @liggitt . Closing this ticket.

[2018-12-21 11:00] #67652 closed

[2018-12-21 11:50] bertinatto commented on #69697
I managed to reproduce it, although the log messages seem a bit different from the ones reported by @leakingtapan:

Plugin (provisioner): https://gist.github.com/bertinatto/16f5c1f76b1c2577cd66dbedfa4e0c7c
Plugin (attacher): https://gist.github.com/bertinatto/25ebd591ffc88d034f5b4419c0bfa040
Controller manager: https://gist.github.com/bertinatto/a2d82fdbccbf7ec0bb5e8ab65d47dcf3

[2018-12-21 12:44] zetaab commented on #72273
@Mohamedji this is known issue, there are quite many other issues from this same issue https://github.com/kubernetes/kubernetes/issues/65392 https://github.com/kubernetes/kubernetes/issues/53059

[2018-12-21 12:52] ipuustin commented on #72075
Already the QoS classes work in a somewhat more complex way. The docs say that for a `guaranteed` pod, **every** container in a pod must have matching memory and CPU resource requests and limits. However, for a `burstable` pod, **at least one** container must have a memory or CPU request.

[2018-12-21 13:09] Shnatsel commented on #72257
@kubernetes/sig-storage-bugs

[2018-12-21 13:42] Shnatsel commented on #72247
The error message seems to be coming from here:

https://github.com/kubernetes/kubernetes/blob/870c0507272d13b67c4beff34685ff674f716a2d/staging/src/k8s.io/client-go/tools/clientcmd/validation.go#L259-L262

Paging SIG api-machinery because it's listed in [the relevant OWNERS file](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/OWNERS).

/triage support
/sig api-ma

[2018-12-21 13:42] Shnatsel commented on #72247
@davidmichaelkarr SIG stands for Special Interest Group. See the link posted by the bot [here](https://github.com/kubernetes/kubernetes/issues/72247#issuecomment-449087306) for more info.

Next time tag your StackOverflow question with several tags to give it more visibility. For example, include the "kubernetes" tag, not just "kubectl". There seems to a number k8s enthusiasts monitoring "kubernet

[2018-12-21 13:45] Shnatsel commented on #72162
@kubernetes/sig-storage-feature-requests

[2018-12-21 13:48] zetaab commented on #53059
I compared kubernetes 1.9 and kube 1.13 with this cronjob with volume thing. In 1.13 volume mounts are working like should, 1.9 does not work correctly. So if you see problems I would say please update cluster first. Then we have problem left if node is shutdown / similar. That another ticket hopefully will solve that

[2018-12-21 13:53] #35054 closed

[2018-12-21 13:56] dims commented on #11815
Go for it @paralika

[2018-12-21 13:57] dims commented on #67676
@paralika i don't see anyone else asking to work on it. so go for it!

[2018-12-21 14:30] liggitt commented on #72270
/sig network

[2018-12-21 14:37] liggitt commented on #72247
Correct. The CLI params override the specific fields of the server or user configuration as read from the kubeconfig file. If the kubeconfig already contains bearer credentials, adding token auth as well is invalid.

If you want to fully specify all aspects of the connection (server, user credentials, CA bundle, etc) on the CLI and avoid using any info from the kubeconfig, you can set `--kubeconfi

[2018-12-21 14:37] #72247 closed

[2018-12-21 14:38] liggitt commented on #72253
/sig node
/remove-sig auth
/sig testing

[2018-12-21 14:48] loqutus commented on #72158
i updated comments to api types, but make update haven't changed docs. Probably they are in some other place, but i can't find it:)

[2018-12-21 15:27] kelaban opened #72278 "Add Lazy Evaluation of Resource Quotas Limits"
Moving a thread from sig-scheduling slack to here.

**What would you like to be added**:

Some Resource Quota limits should be evaluated lazily in the scheduler instead of eagerly during pod submission. For example, if a namespace RQ limits a user to 1 CPU, that user should be able to submit N number of 1 CPU Pods and they should execute one at a time.  With current implementation any requests bey

[2018-12-21 15:38] iahmad-khan commented on #40635
Same issue , k8s version 1.12 , client 1.13

the resources matching the label are still there and prune doesnt work.

[2018-12-21 15:43] rajansandeep commented on #72274
Let this be pushed to gcr.io only after checks pass in https://github.com/kubernetes/kubernetes/pull/72279 which checks the `coredns/coredns1.3.0` image.

[2018-12-21 15:54] #61509 closed

[2018-12-21 16:17] Shnatsel commented on #72231
@kubernetes/sig-autoscaling-bugs

[2018-12-21 16:21] Shnatsel commented on #72149
@kubernetes/sig-testing-bugs

[2018-12-21 16:32] Shnatsel commented on #71255
/triage support
/sig autoscaling

[2018-12-21 16:33] Shnatsel commented on #71394
/kind flake

[2018-12-21 16:37] Shnatsel commented on #71498
The SIG labels should be done in message body, not in the title. It should probably be made more clear. I'll do it now: @kubernetes/sig-testing-test-failures

@rossawan is the issue still relevant?

[2018-12-21 16:38] Shnatsel commented on #71498
/kind failing-test

[2018-12-21 16:38] Shnatsel commented on #72130
@kubernetes/sig-autoscaling-bugs

[2018-12-21 16:42] Shnatsel commented on #71985
/triage support

[2018-12-21 16:47] Shnatsel commented on #71733
@kubernetes/sig-auth-feature-requests

[2018-12-21 16:51] davidmichaelkarr commented on #72247
Just so it's clear, I don't know who wrote the original kubeconfig file being used here. When I first saw it, I assumed the person who wrote it had a reasonable idea of what they were doing, so when I saw a "users" list with two users being specified, I assumed this specifies a list of users that could be specified for related operations, not that either of these user credentials were the ones bei

[2018-12-21 17:00] liggitt commented on #72247
a kubeconfig file can specify any number of named clusters (server url and trust bundle) and any number of users (user credentials)

those named cluster and user definitions are combined into named contexts, which pair a named user and cluster definition

a single "current-context" can be specified, which identifies which context to use by default (and transitively, which cluster and user definiti

[2018-12-21 17:09] davidmichaelkarr commented on #72247
Ok.  Very informative.  When we typically run kubectl, we specify the "namespace", "server", and "token" parameters, we're not specifying a "cluster" parameter.  Seeing the capabilities of this config file, it would make sense to just use the "cluster", but we're not doing that. If we don't specify a cluster, then I would think we wouldn't be referencing the users in the config file, because we're

[2018-12-21 17:34] shyamjvs commented on #53255
Thanks. Let's close this then.

[2018-12-21 17:34] #53255 closed

[2018-12-21 17:41] sekhrivijay commented on #27114
We want to fail fast if health is down. However,  we also want to retry a lot of times during the startup of the application just in case the app is taking long time to come up.  The problem is it uses the same configuration for startup and rest of the time the container is running. So if we retry 25 times in the beginning,  it will retry 25 times rest of its life if failure occurs while it was ru

[2018-12-21 17:51] everpeace commented on #72278
As kelaban wrote, I'm also interested in introducing `ResourceQuota.spec.soft` from a viewpoint of enduers.

However, I believe that kubernetes is extensible enough to solve this issue.  I think the issue can be solved mostly by implementing [scheduler extender](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md).

FYI: I implemented

[2018-12-21 18:02] kfox1111 commented on #56440
/remove-lifecycle roten

[2018-12-21 18:02] kfox1111 commented on #56440
/remove-lifecycle rotten

[2018-12-21 18:46] misterikkit commented on #71867
@yuexiao-wang Thanks for taking care of this one! :smiley:

[2018-12-21 18:52] hoegaarden commented on #59151
/remove-lifecycle stale

[2018-12-21 19:06] Huang-Wei commented on #72129
@aermakov-zalando A taint is a 3-tuple {key,value,effect}, we can't make (implicit) assumption that two taints with the same key has implicit semantics like NoExecute implies NoSchedule or whatever.

BTW: you can use one general toleration to tolerate two taints without specifying the effect:

[code]

[2018-12-21 19:08] liggitt commented on #72257
/assign @msau42 @jsafrane

[2018-12-21 19:09] rajansandeep commented on #72274
/assign @thockin

[2018-12-21 19:46] msau42 commented on #72257
Thank you for digging into the code.  I think there are a number of things that can be done here:

1. Investigate why [podVolumesExist](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_volumes.go#L117) returned no volumes.
2. Investigate why base volume was successfully unmounted. Unmounting the volume should have failed because the subpath bind mount would have kept a refe

[2018-12-21 19:57] szuecs commented on #72129
@Huang-Wei our use case is mainly on node bootstrap and we want to be sure that NoExecute and NoSchedule is active from the startup, otherwise you create race conditions that can lead to production outages. What do you recommend to achieve this?

[2018-12-21 20:07] msau42 commented on #72257
I am working on a fix for 3 and 4

[2018-12-21 20:11] kubanczyk commented on #60903
/reopen
/remove-lifecycle rotten

[2018-12-21 20:19] jingxu97 commented on #72257
@timoha , do you mind to share us the full kubelet log? You can email me jinxu at google.com. Thanks!

[2018-12-21 20:37] #72078 closed

[2018-12-21 20:46] jingxu97 commented on #72257
1. Investigate why podVolumesExist returned no volumes.
From the available log, we can see that Unmount volume and Unmount device succeeded.
[code]
That's why podVolumeExist will return no volume.

[2018-12-21 20:49] saad-ali commented on #72257
/priority critical-urgent

[2018-12-21 20:53] msau42 commented on #72257
That's unexpected. The subpath bind mount should have prevented the local volume bind mount from successfully unmounting.

[2018-12-21 20:54] msau42 commented on #72257
Maybe the fact that the local volume mount is itself a bind mount could be the reason

[2018-12-21 20:59] #66517 closed

[2018-12-21 21:47] jingxu97 commented on #72257
about to why podVolumesExist returned no volumes. I think we do have an issue here

podVolumesExist checks pod volume paths and whether they are mounted. Suppose it should stop cleaning up if there are paths still mounted. However, it only checks normal pod volumes /pod-id/volumes, it does not check subPath /pod-id/volume-subpath directories. We should fix this.

[2018-12-21 21:50] msau42 commented on #72257
I'm adding a check for volume-subpath directories to address 3)

[2018-12-21 22:00] #59380 closed

[2018-12-21 22:19] msau42 commented on #72257
Jing found that the subpath volume directory uses the outer volume spec name, which is wrong.  We made a fix for this in 1.11.0, 1.10.0, 1.9.7, 1.8.11, 1.7.16, which changed the on-disk directories to use the inner volume spec name.  [Release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#changelog-since-v196) had an [ACTION REQUIRED](https://github.com/kubernetes/kub

[2018-12-21 22:35] krmayankk opened #72287 "Include CRI Test Coverage in k/k CI"
As part of promoting [RunAsGroup](https://github.com/kubernetes/enhancements/issues/213) feature  to beta, there were several questions that came up. This issue serves to capture those questions and initiate a discussion to eventually get answers or solutions to those.

Questions
- Are CRI tests included in k/k CI  for at least Containerd and CRI-O ?
- If not , should we depend on CI test results

[2018-12-21 22:35] krmayankk commented on #72287
/sig testing
/sig release
/sig auth

[2018-12-21 22:37] krmayankk commented on #72287
@jberkus  @BenTheElder @runcom @liggitt  @tallclair @Random-Liu

[2018-12-21 22:38] timoha commented on #72257
We haven't run a version below 1.9.6 on this node.

[2018-12-21 22:39] timoha commented on #72257
@jingxu97 I've sent the entire kubelet log to your email

[2018-12-21 22:42] sporkmonger commented on #64002
I was able to determine that the issue @malizz mentioned above was ultimately caused by an admission webhook config:

`unable to retrieve the complete list of server APIs: admission.certmanager.k8s.io/v1beta1: the server is currently unable to handle the request`

Once the offending config was removed, the namespace eventually got deleted.

[2018-12-21 22:42] msau42 opened #72288 "storage e2e: TestDriver should be unique per driver instance"
**What happened**:
From https://github.com/kubernetes/kubernetes/pull/70862#discussion_r243667417, I think it's not a clean abstraction to have to reset TestDriver state at the beginning of CreateDriver.  Since we are creating a driver for every test case, we should create a new TestDriver object with every driver instance.

@kubernetes/sig-storage-misc
/kind cleanup

[2018-12-21 22:44] msau42 commented on #72257
@timoha to clarify, 1.9.6 uses the old on-disk directory name, so upgrading to anything at least 1.11.0, 1.10.0, 1.9.7, 1.8.11, 1.7.16 requires pod draining first.

[2018-12-21 22:46] msau42 commented on #72288
cc @pohly @mkimuram

[2018-12-21 22:47] thockin commented on #34982
I flagged this for followup, and finally had some time.  My test shows it working -- someone tell me otherwise?

`kubectl apply` this file:

[code]

What I see in the logs is:

[code]

0400 and 0700 are correct.  The extra g+r is because I tested the fsGroup at the same time.

[2018-12-21 22:55] krmayankk commented on #72287
/sig node

[2018-12-21 22:55] krmayankk commented on #72287
/remove-sig auth

[2018-12-21 22:57] timoha commented on #72257
Right, I remember stumbling upon https://github.com/kubernetes/kubernetes/issues/61372 when debugging this.
However, the release notes say:

Shouldn't it specify exact version range where the OuterVolumeSpecName was used (1.9.4-1.9.6)? Unless I'm misreading release notes. I think it would be useful to clarify that.

[2018-12-21 23:04] msau42 commented on #72257
ah you're right. The release notes should say from at least versions 1.7.14, 1.8.9, and 1.9.4

[2018-12-21 23:04] msau42 commented on #72257
(will update it)

[2018-12-21 23:05] msau42 commented on #72257
regardless, I still intend to add more safety checks to this orphaned pod cleanup function

[2018-12-21 23:31] verult commented on #71400
I agree with @jingxu97 that Flexvolume directory path format shouldn't be changed in order to avoid breaking cluster upgrades. I also agree with @chakri-nelluri that a logging fix shouldn't be favored if it causes breakage.

Here's an alternative (although maybe a little hacky): we know all volume plugins are either in-tree, Flex, or CSI. In-tree volumes are well-known, and CSI drivers are loaded

[2018-12-21 23:45] Huang-Wei commented on #72129
@szuecs yeap, that's exactly the issue needs to be solved, and is the theme of this issue - my explanation above was to keep irrelevant symptoms apart from the racing issue.

[2018-12-22 00:02] #62518 closed

[2018-12-22 00:02] #62560 closed

[2018-12-22 00:03] #72256 closed

[2018-12-22 00:31] jingxu97 commented on #72257
From the log provided by the customer, I think we can confirm the reason of this issue is what @msau42 mentioned https://github.com/kubernetes/kubernetes/issues/72257#issuecomment-449512508.

By adding the safety checks during pod cleanup will help avoid this issue.

[2018-12-22 01:02] kfox1111 commented on #58065
I use socks5 proxies all the time via ssh, and it would be great if I could use it with kubectl.

[2018-12-22 01:04] msau42 opened #72290 "Refactor subpath out of pkg/util/mount"
**What would you like to be added**:
Being inside the mount pkg is making it very hard to fix issues like:
https://github.com/kubernetes/kubernetes/pull/71804

This effort is also related, but I think in addition, subpath processing should be its own pkg
https://github.com/kubernetes/kubernetes/pull/68513

/kind cleanup

[2018-12-22 01:06] msau42 commented on #72290
/assign
cc @jsafrane @codenrhoden

[2018-12-22 01:06] msau42 commented on #72290
/sig storage

[2018-12-22 01:20] smarterclayton opened #72292 "Container logs with timestamp are getting trailing zeroes trimmed"
Container logs with timestamp=true display a ragged left edge on 1.11.2 with cri-o:

[code]

It looks like when the nano section is written we're dropping the right most precision character (possibly because something is assuming it's a trailing zero, like a format).  Another section shows two missing chars:

[code]

which makes it seem likely that something is stripping trailing zeros off.  We sh

[2018-12-22 01:20] smarterclayton commented on #72292
/assign @kubernetes/sig-node-bugs

[2018-12-22 01:34] MHBauer commented on #67659
Fix is to upgrade to something containing #67288, which should now be in all releases 1.10+, or to periodically restart the kubelet.
/close

[2018-12-22 01:34] #67659 closed

[2018-12-22 02:01] yuexiao-wang commented on #71867
You are wellcome

[2018-12-22 02:10] MHBauer commented on #69540
/close
resolved by #69895

[2018-12-22 02:10] #69540 closed

[2018-12-22 02:35] liggitt commented on #72272
image GC is not the same thing as eviction, right? I'm not sure I understand what the replacement for image GC would be

[2018-12-22 03:05] #71864 closed

[2018-12-22 03:05] KylinVnne opened #72293 "[ERROR] use podpreset to inject dnsPolicy into the pod"
**What happened**:
I want to use podpreset to inject dnsPolicy into the pod, but I get an error.

context:
error: error validating "podpreset.yml": error validating data: ValidationError(PodPreset.spec): unknown field "hostAliases" in io.k8s.api.settings.v1alpha1.PodPresetSpec; if you choose to ignore these errors, turn validation off with --validate=false

**What you expected to happen**:

**How

[2018-12-22 03:10] Pingan2017 commented on #71975
I think the problem is the reference of pods will be deleted after call func `deletejob` , but i can't see the reason.
https://github.com/kubernetes/kubernetes/blob/37dc6789d71f95a006ac06a2abb2fb725da2fe31/pkg/controller/cronjob/cronjob_controller.go#L346-L361
[code]
	// delete the job itself...
	if err := jc.DeleteJob(job.Namespace, job.Name); err != nil {
		recorder.Eventf(sj, v1.EventTypeWarnin

[2018-12-22 04:06] #66578 closed

[2018-12-22 06:17] mysunshine92 commented on #72216
/sig apps

[2018-12-22 06:23] clkao opened #72294 "oom_score_adj for guarenteed containers"
**What would you like to be added**:

Increase the default [guaranteedOOMScoreAdj](https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/pkg/kubelet/qos/policy.go#L33), and/or make it adjustable.

**Why is this needed**:

Currently `guaranteedOOMScoreAdj` is the same as `PodInfraOOMAdj` (-998).  When OOM is triggered by a guaranteed pod, the `pause` container is co

[2018-12-22 06:34] clkao commented on #45419
If this and stuck `docker ps` are happening in conjunction to OOM triggered by guaranteed pods, take a look at #72294.  as the pod infra container is killed and restarted, it might be a case that triggers the cni reinitialization which then triggers the timeout/locking issues mentioned above.

[2018-12-22 07:10] xuekew opened #72295 "failed to inspect sandbox image"
kubectl create -f *.yaml,
kubectl describe pods *

Events:
  Type     Reason                  Age                     From                     Message
  ----     ------                  ----                    ----                     -------
  Warning  FailedCreatePodSandBox  3m13s (x6214 over 22h)  kubelet, 172.16.127.119  Failed create pod sandbox: rpc error: code = Unknown desc = failed to ins

[2018-12-22 07:12] xuekew commented on #72295
[root@master yaml]# kubectl get pods
NAME     READY   STATUS              RESTARTS   AGE
my-web   0/1     ContainerCreating   0          99s

STATUS ContainerCreating not changes

[2018-12-22 07:13] xuekew commented on #72295
Dec 22 15:12:46 node-01 kubelet[2002]: I1222 15:12:46.126482    2002 container_manager_linux.go:434] [ContainerManager]: Discovered runtime cgroups name: /system.slice/docker.service
Dec 22 15:12:46 node-01 kubelet[2002]: I1222 15:12:46.126516    2002 oom_linux.go:65] attempting to set "/proc/2002/oom_score_adj" to "-999"
Dec 22 15:12:46 node-01 kubelet[2002]: I1222 15:12:46.374239    2002 oom_lin

[2018-12-22 07:39] wgliang opened #72296 "Upgrade kubelet from v1.11.3 to v.12.3 without draining pods causes containers to restart continuously"
**What happened**:
Upgrade kubernetes from v1.11.3 to v.12.3 causes containers to restart continuously.

**What you expected to happen**:
Upgrade kubernetes from v1.11.3 to v.12.3 successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade kubernetes from v1.11.3 to v.12.3.

**Anything else we need to know?**:

I1222 15:12:14.538192  197768 kuberuntime_container.go:887

[2018-12-22 07:44] wgliang commented on #72296
This is a serious problem. Once you upgrade the kubelet, the container in the entire cluster will be restarted. The API changes will cause a reboot, but the continuous restart is not expected.

In my opinion, this may be related to the compatibility of docker, that is like comment https://github.com/kubernetes/kubernetes/pull/64283#issuecomment-417881027

[2018-12-22 07:47] wgliang commented on #72296
/priority critical-urgent

[2018-12-22 07:48] wgliang commented on #72296
/sig node
/area kubelet
/area test

[2018-12-22 07:58] cofyc commented on #38923
There is no automatic way, but you can do it manually.

- Create new claim and pre-bind old volume with it (set spec.Volume.Name on creation, otherwise provisioner will provisioner a new volume for it)
- Update old volume `spec.claimRef` filed to point to new claim
- Delete old claim

No extra action required for RBD provisioning.

[2018-12-22 08:48] simplytunde commented on #60134
same over here

[2018-12-22 09:17] vikaschoudhary16 commented on #72292
@smarterclayton issue is from the time format parsing logic in the CRI. [It uses time-format `RFC3339Nano`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/logs/logs.go#L51). `time` package then while parsing for this format hits [this if condition](https://github.com/golang/go/blob/master/src/time/format.go#L262) which decides it to be of type `stdFracSecond9` which s

[2018-12-22 10:13] b1zzu opened #72297 "dev-build-and-push.sh is broken"
Hi,

the `hack/dev-build-and-push.sh` script is broken because the `cluster/kube-push.sh` script has been removed from in this pull request: https://github.com/kubernetes/kubernetes/pull/58247 .

Is `dev-build-and-push.sh` deprecated too, shall we remove it?

/kind bug

[2018-12-22 10:16] b1zzu commented on #72297
@kubernetes/sig-cluster-lifecycle-misc

[2018-12-22 11:33] cofyc commented on #56236
/assign

[2018-12-22 12:14] #66604 closed

[2018-12-22 12:30] szuecs commented on #72129
@Huang-Wei is this scheduled for the next minor release or is it a bigger thing that need to be in the quarterly update schedule?
For us it has a big impact.

[2018-12-22 13:18] b1zzu commented on #70421
Hi, it is possible to have free resources (ec2 instances) from amazon in order to reproduce, debug and testing this bug?

[2018-12-22 16:56] jayunit100 commented on #72186
In any case, not a bug, because “one IP per pod” , not “one pod for IP”, is the contract , right?.

[2018-12-22 17:02] liggitt commented on #72186
I would not expect non-host-network pods to be assigned identical IP addresses. That seems like it would make network routing ambiguous, as seen in the "my Nginx Ingress (daemonset) wasn't reachable" comment.

[2018-12-22 17:07] vikaschoudhary16 commented on #72296
what was the problem? @wgliang

[2018-12-22 17:59] smarterclayton commented on #72292
Yeah, but this is ugly as all hell.  I don’t actually care about the
trailing zeros but the alignment of the message column is more important.
The format is pretty unreadable.

On Dec 22, 2018, at 4:18 AM, Vikas Choudhary (vikasc) <
notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> issue is from the time
format parsing logic in the CRI. It uses time-format RFC33

[2018-12-22 18:15] lbernail commented on #71071
I have a potential fix for the bug, the code is available here: https://github.com/DataDog/kubernetes/commit/9121f0122d805f55f85f42d26c294898fe29a92f
The idea is to protect all netlink calls with a Mutex to avoid the deadlock. I'm not sure this is the best solution but it could solve the issue (and if it works confirm that we've identified the bug).

If you want/can test it, I created two images w

[2018-12-22 18:36] emptywee commented on #71071
I might give it a try on Monday, Dec 24th!

[2018-12-22 18:39] #71866 closed

[2018-12-22 22:39] liggitt commented on #72296
draining pods from a node prior to upgrading minor versions is the tested upgrade procedure. clarifying that in documentation is on the list of follow ups to https://github.com/kubernetes/website/pull/11060

/sig node
/kind documentation

[2018-12-22 22:59] wgliang commented on #72296
@li

[2018-12-22 23:00] wgliang commented on #72296
@liggitt Thanks, documentation and instruction work is very necessary.

[2018-12-23 01:35] taragu opened #72301 "kubetest --up create cluster failed"
**What happened**:
I was trying to create a local cluster with `kubetest --up`, but got an error:
[code]

The important part is `Invalid value for field 'resource.name': 'e2e-test-guw@ibm.com'. Must be a match of regex '(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?)'`. This error occurs because my mac account name is "guw@ibm.com" which doesn't match the regex, and this user name is being used in the resou

[2018-12-23 01:37] taragu commented on #72301
/sig testing

[2018-12-23 02:07] liggitt commented on #72301
Can you set the network to a valid value by setting KUBE_GCE_NETWORK directly prior to invoking the script?

[2018-12-23 02:36] liggitt commented on #72293
This is working as designed, PodPreset only supports a few of the pod spec fields:

https://github.com/kubernetes/kubernetes/blob/3a6d4c10bf70ce2d244b3d9068bf7127b06afdba/staging/src/k8s.io/api/settings/v1alpha1/types.go#L38-L56

/close

[2018-12-23 02:36] #72293 closed

[2018-12-23 02:50] liggitt commented on #72261
/sig storage
/remove-sig apps

Is this reproducible with the latest 1.11.x or above?

[2018-12-23 02:56] taragu commented on #72301
@liggitt just tried setting KUBE_GCE_NETWORK and KUBE_GCE_INSTANCE_PREFIX and it worked. Thanks!

[2018-12-23 03:44] liggitt commented on #72301
Great. That would be the recommendation for using this script in your environment.

/close

[2018-12-23 03:44] #72301 closed

[2018-12-23 04:08] wgliang commented on #72296
Also, I don't know if we can do this without restarting the container when upgrading the kubelet even if the container object's API changed, because the service running in the real environment is not allowed to quit unexpectedly.

[2018-12-23 04:30] #66477 closed

[2018-12-23 09:00] #72163 closed

[2018-12-23 09:56] srmocher commented on #72080
@mkimuram I've tried to put together something resembling the proposed solution here https://github.com/kubernetes/kubernetes/pull/72275 to address this issue. I don't have full context on some things like setting the ranges/driver and per test - happy to get feedback and improve it.

[2018-12-23 11:40] dankohn commented on #27796
Apologies @srmocher but the Linux Foundation help desk won’t be able to address this until Jan 2.

[2018-12-23 11:50] cofyc commented on #64603
/lifecycle frozen

[2018-12-23 12:38] prashantmaheshwari commented on #23726
Use below command. It worked for me.

  mkdir -p $HOME/.kube
  sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
  sudo chown $(id -u):$(id -g) $HOME/.kube/config

[2018-12-23 14:40] #66204 closed

[2018-12-23 14:40] #66070 closed

[2018-12-23 14:57] flyer103 commented on #72192
Immediate response could help developers find errors more quickly than delayed and indeterminate response.

[2018-12-23 16:42] #52162 closed

[2018-12-23 20:42] benmathews commented on #45967
/remove-lifecycle stale

[2018-12-24 01:12] cofyc commented on #72296
Here is a issue tracking this: https://github.com/kubernetes/kubernetes/issues/63814.

[2018-12-24 01:30] cofyc commented on #71716
Example: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/72303/pull-kubernetes-integration/39182/#k8siokubernetestestintegrationscheduler-testvolumebindingstresswithschedulerresync

[2018-12-24 01:36] Pingan2017 commented on #72272
@liggitt  image GC is not the same thing as eviction. Eviction can call image GC.
in k8s, there are two ways to GC images:
1. the first way: when the disk usage reachs the image-gc-high-threshold, the GarbageCollect will clean up iamges to fee spaces.
https://github.com/kubernetes/kubernetes/blob/d476af7c199df9b5b1d42bc85e24aa167934a2ef/pkg/kubelet/images/image_gc_manager.go#L297-L304

2. the othe

[2018-12-24 01:51] #66693 closed

[2018-12-24 01:54] wgliang commented on #63814
/remove-lifecycle rotten

[2018-12-24 01:55] wgliang commented on #63814
/remove-lifecycle

[2018-12-24 01:56] wgliang commented on #63814
/remove-lifecycle stale

[2018-12-24 02:11] Pingan2017 commented on #72272
ping @kubernetes/sig-node-feature-requests

[2018-12-24 02:43] addozhang commented on #46070
I think it should be issue with `privileged` setting. I am using a self defined scc which has `privileged` true.  Then multi pod share same gpu.

[2018-12-24 02:52] #66664 closed

[2018-12-24 02:55] zhangxiaoyu-zidif commented on #71930
yes， "kubernetes.io/hostname" could help. Should we add some more specified label for extend information. maybe we want to spread this replicas according data center, or even server rack and so on.

[2018-12-24 03:35] quentinmit commented on #52162
/reopen
/remove-lifecycle rotten

Believe it or not, this is still relevant.

[2018-12-24 03:54] stewart-yu commented on #72297
/cc
/assign

[2018-12-24 04:54] #62598 closed

[2018-12-24 04:57] vikaschoudhary16 commented on #72186
These subnets mean that:
Pod address range is 172.30.0.0 to 172.30.63.255
Service address range is 172.30.64.0 to 172.30.255.255

So ip ranges are not overlapping. Even if pods are using hostNetwork, if more than one such pods are on the same node, i dont see that as a problem because each application(pod), would listen on different port(otherwise there will be bind error and not ip conflict) and

[2018-12-24 06:36] cofyc commented on #56236
In new design (https://github.com/kubernetes/kubernetes/pull/72045), these two calls can be removed. Pod binding cache will be recreated at beginning of schedule loop, and will be cleared when pod is removed from scheduling queue.

In new design, because pod binding cache will not be cleared on scheduler error handler. So no races here. Cached pod binding will be used in binding operation when pod

[2018-12-24 07:11] Pingan2017 opened #72307 "Dynamically update node machine information(Hugepages)"
**What would you like to be added**:
Dynamically update node machine information(Hugepages)
**Why is this needed**:
1. sometimes, the kubelet is started before hugepages allocated. kubelet just only get huagepages once at startup. when kubelet started, huagepages allocation not completed, kubelet will get value 0 for hugepages.

2. In some other scenarios, we may need dynamically set hugepages(2Mi

[2018-12-24 07:57] #66699 closed

[2018-12-24 08:12] clivez opened #72308 "Is there a way to seperate NodeExternalIP and NodeInternalIP on vsphere cloud?"
**What happened**:
All nodes in the cluster have two IPs, one from a internal network and the other from a public network, for example:
[code]
And we use `--node-ip=172.16.2.122` when start kubelet.
When describe the node, I got one ExternalIP and two InternalIPs in the Addresses field.
[code]
**What you expected to happen**:
It will be very appreciated if there could be a way to identify which IP

[2018-12-24 08:14] clivez commented on #72308
/sig node
/area platform/vsphere
/area cloudprovider

[2018-12-24 08:16] #72295 closed

[2018-12-24 08:54] xuekew opened #72309 "Stuck status ContainerCreating"
Dec 24 16:23:10 node-01 kubelet[9484]: I1224 16:23:10.294336    9484 helpers.go:836] eviction manager: observations: signal=nodefs.available, available: 35456284Ki, capacity: 41151808Ki, time: 2018-12-24 16:23:10.286666533 +0800 CST m=+661.125925085
Dec 24 16:23:10 node-01 kubelet[9484]: I1224 16:23:10.294343    9484 helpers.go:836] eviction manager: observations: signal=nodefs.inodesFree, availab

[2018-12-24 08:59] moshucong commented on #54870
1.9 has the same problem. My cluster is 1.9.6, and i run into the same issue

[2018-12-24 09:10] bskiba commented on #72130
Hi there, starting from 1.11 fetching metrics for HPA for Heapster is deprecated in favour of the Metrics API (https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-metrics-apis), one of the reasons for that being that the metrics were fetched in this not-very-Kubernetes way.  This is the default behaviour starting from 1.9. What is the reason for using the legacy

[2018-12-24 09:22] lovejoy opened #72310 "admission webhook namespace selector work not correct"
**What happened**:
Created  a ValidatingWebhookConfiguration
[code]
And use the demo webhook in https://github.com/kubernetes/kubernetes/blob/v1.10.2/test/images/webhook/main.go
Always Deny to log all the request
found some cluster-scoped object not match the selector appears
[code]

**What you expected to happen**:
this object shouldn't  appear

**How to reproduce it (as minimally and precisely a

[2018-12-24 09:25] Pingan2017 opened #72311 "kubelet can't update ready condition correctly"
**What happened**:
When the conditionType specified in Readiness Gates changes from non-existent to False, the reason of ready condition keep `does not exist`.
[code]

**What you expected to happen**:
when set the condition status to False , the message of ready condition can changed.
`message: the status of pod readiness gate "zte.com.cn/huang" is not "True", but False`

**How to reproduce it (as

[2018-12-24 09:49] jiaxuanzhou commented on #72294
#71269 is a similar pr to this issue, but it is better to make it an option of kubelet

[2018-12-24 10:02] bskiba commented on #72231
What is your HPA's scale target, Deployment or Replication Controller?  (See https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#autoscaling-during-rolling-update)

[2018-12-24 10:09] tangle329 opened #72313 "cpu manager should add a flag to disable cpu exclusive feature"
**What would you like to be added**:
Add a flag to kubelet to enable/disable cpu exclusive feature.
**Why is this needed**:
We want bond  pod1  to some core, for example core 1,2,3,4. and set its cpushare to 1024.  The same time  we also want pod2 be  configured with cpushare=1.   This way if cpu exclusive is disabled, pod2 can use some cpu usage of pod1 when pod1 is in idle status, and pod1 can g

[2018-12-24 10:15] bholagabbar-mt commented on #72231
@bskiba I believe Replication Controllers were deprecated ? We are using deployments..Will the output of `kubectl describe hpa <hpa_name> ` help ? I have attached it

Name:                                                          myapp
Namespace:                                                prod-singapore
Labels:
                                                          owner=dev
Annotations:

[2018-12-24 10:38] DXist commented on #69687
+1

My use case - set of workers that use GPU. I want to run them on limited number of GPUs.

[2018-12-24 11:33] alasdairtran commented on #68133
This is not a bug. You just need to build the binary **inside** `GOPATH`:

[code]

[2018-12-24 11:36] bskiba commented on #72231
Thanks! It seems this should be working with HPA then.

HPA only modifies the desired number of replicas for the deployment, so it seems if there are issues, they should be in the rolling update implementation. Mentioning sig-apps to advise.
@kubernetes/sig-apps-bugs

[2018-12-24 11:41] Shnatsel commented on #72313
Reiterating mention to trigger notification: @kubernetes/sig-node-feature-requests

[2018-12-24 11:41] olemarkus commented on #54132
/remove-lifecycle stale

[2018-12-24 11:50] Shnatsel commented on #72309
@xuekew this may be happening due to a variety of issues or misconfigurations, and is not usually indicative of a bug in Kubernetes. Support is not offered through Github, but there are a number of places you can check.

The primary one is [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes), which already has a number of similar questions with troubleshooting advice, for exampl

[2018-12-24 11:50] Shnatsel commented on #72309
/triage support

[2018-12-24 12:02] Shnatsel commented on #71695
As far as I understand, this is a feature request for ingress-nginx. If so, it should be filed on this repository instead: https://github.com/kubernetes/ingress-nginx

If I am mistaken and you're proposing a change in the core Kubernetes, please elaborate further on what exactly is the problem and also comment `/sig network` to get it assigned to the appropriate Kubernetes special interest group.

[2018-12-24 12:13] Shnatsel commented on #72166
/area conformance
/sig architecture

@brahmaroutu thanks for the report and the fix!

[2018-12-24 12:16] Shnatsel commented on #71765
@axot could you clarify whether this applies to Docker in general or to Kubernetes specifically?

If it's a generic Docker issue, it should be filed on the Docker bug tracker, since there is nothing we can do in Kubernetes to fix it. If it's an issue specific to Kubernetes, could you provide a step-by-step example of reproducing the issue?

Thanks!

[2018-12-24 12:19] Shnatsel commented on #71394
@kubernetes/sig-testing-test-failures

[2018-12-24 12:32] Shnatsel commented on #71897
Could you share the exact steps you've taken to deploy the cluster so I could reproduce the issue?

[2018-12-24 12:58] zipper97412 commented on #62156
I have exactly the same problem with secret mount too

[2018-12-24 12:59] vivuu1989 opened #72314 "Kubeadm init getting failed"
/triage support

`Hello Experts,

I was trying to setup a Kubernetes cluster in centos 7 and i am facing issue while running the below kubeadm init command.

 kubeadm init --apiserver-advertise-address=10.170.6.18 --pod-network-cidr=192.168.0.0/16
I1224 18:20:55.388552   11136 version.go:94] could not fetch a Kubernetes version from the internet: unable to get URL "https://dl.k8s.io/release/stable

[2018-12-24 13:12] loqutus commented on #72314
i'm not an expert, but does
`curl https://dl.k8s.io/release/stable-1.txt`
works for you?

[2018-12-24 15:03] kostyrev commented on #66067
Don't use Ubuntu 18.04?

[2018-12-24 15:04] #66622 closed

[2018-12-24 16:51] emptywee commented on #71071
Giving it a go today. Will report results, if any.

[2018-12-24 17:10] KptnKMan commented on #66067
@kostyrev Please if you have nothing useful to add, just move along.

The workaround that I have settled on, is to run the following command on your Ubuntu 18.04 system during your bootstrapping:

`sudo ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf`

This ^^ solves the issue for me.

[2018-12-24 18:08] Huang-Wei commented on #69010
/remove-lifecycle stale

[2018-12-24 19:08] #60703 closed

[2018-12-24 19:47] mourya007 commented on #72169
@liggitt I would like to work on the PodSecurityPolicy.

[2018-12-24 20:01] Huang-Wei commented on #72129
@szuecs we'll try to fix it asap, but we can't give an ETA due to this holiday.

Yes, when it's ready in `master` branch, we will also get it back ported to each releases, so that it will be available in next minor version.

[2018-12-24 20:03] Huang-Wei commented on #72129
@k82cn @bsalamat @yujuhong raised a PR #72315 to hold off adding NotReady node to scheduler cache, PTAL.

[2018-12-24 20:42] nikhita commented on #65414
/remove-lifecycle stale

[2018-12-24 20:43] nikhita commented on #60423
/remove-lifecycle stale

[2018-12-24 20:44] nikhita commented on #65470
/remove-lifecycle stale

[2018-12-24 20:47] nikhita commented on #58346
/remove-lifecycle rotten

[2018-12-24 20:48] nikhita commented on #67837
/remove-lifecycle rotten
/area code-generation

PR open: https://github.com/kubernetes/kubernetes/pull/67838

[2018-12-24 20:52] nikhita commented on #59151
/unassign

[2018-12-24 20:54] dims commented on #58346
/assign @kubernetes/sig-testing

[2018-12-24 22:34] javadnoorb commented on #28167
Any updates on this?

[2018-12-25 00:48] justicezyx commented on #27698
Could someone update the document about a clear pointer on how to switch from --api-servers or --api_servers flag to a config file?

I have no idea how that can be done.

[2018-12-25 00:58] zhangmingld commented on #66221
/remove-lifecycle stale.

[2018-12-25 02:16] jianzhangbjz commented on #68648
/remove-lifecycle stale

[2018-12-25 02:49] liggitt commented on #72310
Can you provide the output of `kubectl get ValidatingWebhookConfigurations -o yaml`? Resources other than namespaces should not be getting sent to that webhook

[2018-12-25 02:55] xuekew commented on #72309
my see kubelet logs not error，logs show:

`Dec 25 10:50:31 node-01 kubelet[1579]: I1225 10:50:31.104667    1579 helpers.go:836] eviction manager: observations: signal=nodefs.available, available: 35201172Ki, capacity: 41151808Ki, time: 2018-12-25 10:                           50:31.097145192 +0800 CST m=+5876.633152130
Dec 25 10:50:31 node-01 kubelet[1579]: I1225 10:50:31.104673    1579 helpers.go

[2018-12-25 02:59] pain400 commented on #58876
[code]

So the solution is that replace ip 10.0.2.15 with master ip like this:
[code]

[2018-12-25 03:15] linxiulei opened #72318 "Get no stat results from kubelet when using containerd"
**What happened**:

It returns `no matching container` when querying pods stats

**What you expected to happen**:

it returns correct stats of the given pod

**How to reproduce it (as minimally and precisely as possible)**:

Run kubelet with containerd endpoint and create a simple pod `podname`, get container uid `$uid`

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes ve

[2018-12-25 03:17] samuela commented on #71897
@Shnatsel I simply followed the standard GKE setup wizard in the google cloud console. If you are a google employee I'd be happy to point you to my exact cluster.

[2018-12-25 03:18] linxiulei commented on #72318
/sig node
/area kubelet
/area cadvisor

[2018-12-25 03:46] roytanmoy opened #72319 "Unable to access a kubernetes service of type as “NodePort”, using ec2 Public IP"
On ec2, running a single node k8s cluster. On the node, a service is running with the type as "NodePort" with the exposed port "31380".

I need to access this service externally over port 80.

  apiVersion: v1
  kind: Service
  metadata:
    name: demo-nginx
    labels:
      run: demo-nginx
  spec:
    ports:
    - port: 80
      protocol: TCP
    selector:
      run: demo-nginx
    type: **NodeP

[2018-12-25 03:57] lovejoy commented on #72310
I create only  one configuration to reporduce
kubectl get validatingwebhookconfiguration   -o yaml
[code]
the resource is `*/*`

[2018-12-25 04:02] pontiyaraja commented on #68066
/remove-lifecycle stale

[2018-12-25 04:04] JacoBlunt commented on #62382
I also find this bug in kubernetes 1.12.1
`Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:46:06Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130

[2018-12-25 04:17] #26804 closed

[2018-12-25 04:31] Shnatsel commented on #71765
@kubernetes/sig-cli-feature-requests

[2018-12-25 04:39] liggitt commented on #72310
That configuration directs all cluster scoped resources to the webhook

The namespaceSelector only applies to namespaces and namespaced resources.

The APIService object being sent to your webhook is a cluster-scoped resource, not affected by the namespaceSelector on your config

/close

[2018-12-25 04:39] #72310 closed

[2018-12-25 04:53] roytanmoy commented on #72319
help wanted

[2018-12-25 05:00] tatsuhiro-t opened #72320 "CrashLoopBackoff Pod cannot be evicted because of PodDisruptionBudget"
**What happened**:

My StatefulSet created 3 Pods.  They got deployed onto the same node and in CrashLoopBackoff state for some reason.  PodDisruptionBudget was set for them with default 25% maxUnavailable.
I created new Node and ran `kubectl drain --force=true` against the old Node where 3 CrashLoopBackoff Pods were running.   kubelet could not evict any of Pods in CrashLoopBackoff state because

[2018-12-25 05:01] tatsuhiro-t commented on #72320
/sig node

[2018-12-25 06:02] kaneg commented on #24725
I was also confused by the failed message which said 'Unsupported value: "Never": supported values: "Always"'.
There is no any document saying that the flag can't be supported by Deployment.

[2018-12-25 06:42] lovejoy commented on #72310
@liggitt All right,It seems I should list all namespaced object in resource ? like
[code]
I thought the namespaceSelector should be highest priority

[2018-12-25 07:20] #66325 closed

[2018-12-25 07:52] k82cn opened #72322 "Add PodTemplate hash/uuid into Pod"
**What would you like to be added**:

Most of Pods are created by controller/operator who knows the `PodTemplate`;  if this info is included in Pod, scheduler can do the scheduling cache based on it.

**Why is this needed**:

It'll save lots of scheduling effort, e.g. if failed to schedule a Pod, the other pods that created from the same pod template can not be scheduled :)

/kind feature

[2018-12-25 07:52] k82cn commented on #72322
/sig apps
/sig scheduling

/cc @bsalamat @resouer

[2018-12-25 08:14] xiaoxubeii commented on #72226
/unassign

[2018-12-25 10:06] neverseek opened #72324 "Failed to deploy metrics-server on k8s v1.13 with default resource-reader.yaml"
**What happened**: container metrics-server failed. error message in container log:
request failed - "403 Forbidden", response: "Forbidden (user=system:serviceaccount:kube-system:metrics-server, verb=get, resource=nodes, subresource=stats)"

**What you expected to happen**: should succeed.

**How to reproduce it (as minimally and precisely as possible)**: kubectl apply -f 6 yaml files in https://g

[2018-12-25 10:43] nikhita commented on #71458
/remove-sig contributor-experience

I guess this should be (?)
/sig apps

[2018-12-25 10:45] nikhita commented on #70009
@TYsewyn Thanks for the bug report. I'll close this since it does not look like an issue with kubectl. Please reopen if needed.

/close

[2018-12-25 10:45] #70009 closed

[2018-12-25 10:50] nikhita commented on #68309
k/k has since then moved to Tide and @k8s-ci-robot (the one with the cool avatar) does the merging today. \o/

@k8s-merge-robot is not being used anywhere afaik. Closing. :)

/close

[2018-12-25 10:50] #68309 closed

[2018-12-25 11:03] nikhita commented on #50048
Created https://github.com/kubernetes/test-infra/issues/10553 about automating this through the `verify-owners` plugin.

[2018-12-25 11:04] nikhita commented on #44505
/sig release
/remove-sig contributor-experience

[2018-12-25 13:11] li-sen commented on #71071
This is a bug. I have switched to iptables mode.

[2018-12-25 13:36] BKS1989 commented on #65942
I have switch to kubernetes 1.10.4 , it`s working

[2018-12-25 13:36] #65942 closed

[2018-12-25 13:37] methuz commented on #65937
Somehow EKS does not support ReadWriteMany try ReadWriteOnce

[2018-12-25 16:41] steven-sheehy commented on #65228
/remove-lifecycle stale

[2018-12-25 17:46] DaveKriegerEmerald commented on #67342
We're getting this same issue with Argo (https://github.com/argoproj/argo), which does use Deployments. We're also heavily invested technically in using Kops, which is just now supporting 1.11 in beta, so we're really looking forward to this being backported.

[2018-12-25 21:05] briantopping opened #72325 "Failed GC on a nonexistent container endlessly retried"
**What happened**:
I am running a single-node cluster (master taint removed) and had hardware problems with the machine. Docker state appeared inconsistent and it seemed to make sense to drain the node, `docker system prune --all` and restart. This led to a state that the node could not start.

The error I am focused on at the moment generates the following:
[code]

In this sequence, https://githu

[2018-12-25 21:18] coderanger commented on #72325
/sig node
/area kubelet

[2018-12-25 22:14] cjbottaro commented on #66067
Can you explain what that means? Thank you!

[2018-12-26 00:47] #72309 closed

[2018-12-26 01:30] hzxuzhonghu commented on #54712
/remove-lifecycle stale

[2018-12-26 01:31] hzxuzhonghu commented on #54712
/remove-lifecycle rotten

[2018-12-26 01:49] liggitt commented on #72322
I'm confused what this is proposing. Pods created that way already have an ownerReference pointing to the parent object, and the submitted pod.spec already contains the info from the pod. What specific information are you wanting to make available to the scheduler that is not currently available?

[2018-12-26 02:08] briantopping commented on #72325
**DIAGNOSIS:** State is stored under `root-dir`, the `pods` subdirectory keeping state of pods by id. When `kubelet` is started, the `pods` directory tree is used to reconstruct the cache, which is now incorrect as the containers it refers to are missing. Deleting the contents of the `pods` subdirectory is sufficient for `kubelet` to rebuild the state from scratch.

**IMPROVEMENT:** The state wher

[2018-12-26 02:34] ms4720 commented on #69034
@thaJeztah that was a fun read, re getpid/Linus

[2018-12-26 03:30] cofyc opened #72327 "Use fake client real watch mechanism in PV controller tests"
**What would you like to be added**:

**Why is this needed**:

Fake clients support pushing events now.

With this, testing code will more like really code and we don't need mock informers behavior anymore.

xref: https://github.com/kubernetes/kubernetes/pull/57504
xref: https://github.com/kubernetes/kubernetes/issues/54075

~~I'm going to support concurrent control and incremental resource versio

[2018-12-26 03:30] cofyc commented on #72327
/sig storage

[2018-12-26 03:33] k82cn commented on #72322
BTW, it should be an optimization instead of restriction :)

[2018-12-26 03:45] liggitt commented on #72322
Hashes of podspecs have been extremely problematic across releases over the years. I'm not eager to add more of them.

Only one ownerReference can have controller=true, if I recall correctly.

[2018-12-26 04:02] flyer103 commented on #72192
How about this issue? Change key of [uidToNode](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/graph.go#L161) or developers set ownerReferences more carefully and take risks of delayed response of garbage collection? @liggitt @caesarxuchao

[2018-12-26 06:11] #69142 closed

[2018-12-26 06:52] cofyc opened #72329 "Better way to share common utilities between PV controller and Volume Binder"
**What would you like to be added**:

**Why is this needed**:

Address this:
https://github.com/kubernetes/kubernetes/blob/197fc67693c2391dcbc652fc185ba85b5ef82a8e/pkg/controller/volume/persistentvolume/scheduler_binder.go#L121-L125

/kind feature

## Proposal

- [x] ctrl.kubeClient -> binder.kubeClient
- [x] ctrl.classLister -> binder.classLister
- [x] ctrl.isDelayBindingMode(claim) -> persistent

[2018-12-26 06:53] cofyc commented on #72329
/sig storage
cc @msau42
I'll take a look at this.

[2018-12-26 06:57] Lentil1016 commented on #37218
Currently using extra script as a workaround. Need this too.

[2018-12-26 06:59] cofyc commented on #72327
/kind cleanup
I think we can move on to using real watch mechanism now. I'm going to use it in #72045.

[2018-12-26 07:25] law opened #72330 "kubeadm 1.13.1: kubeadm-join fails with --experimental-control-plane"
**What happened**:
  Attempted to follow the HA cluster setup guide at https://kubernetes.io/docs/setup/independent/high-availability/#first-steps-for-both-methods ('external etcd nodes' path), unable to bring up secondary/tertiary control-plane nodes with `kubeadm join <first_master_ip>:6443 --token <token> --discovery-token-ca-cert-hash <hash> --experimental-control-plane`.  Resulting error (add

[2018-12-26 07:30] cofyc commented on #72327
cc @msau42 @jsafrane

[2018-12-26 07:33] law commented on #72330
Closing, should have opened this in kubernetes/kubeadm; issue now lives there as https://github.com/kubernetes/kubeadm/issues/1331

[2018-12-26 07:33] #72330 closed

[2018-12-26 07:34] lmfuture-ma opened #72331 "same application in two namespace ,access through ingress, which app i can get？"
this ingress in two namespace   and   domain  is  www.test.com,
if curl www.test.com/abc
which ingress you use???

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: _APP_NAME_
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.frontend.rule.type: PathPrefixStrip
spec:
  rules:
  - http:
      paths:
      - path: /abc
        backend:
          serviceName: getname

[2018-12-26 08:58] vllry commented on #20767
I've had some trouble constructing a test for this.

1. How should I determine the timeout? There doesn't appear to be an existing mechanism for waiting for service creation.
2. Connections seem to time out rather than be refused - I'm confused by this, as it seems to be the opposite of the intended behavior.

[2018-12-26 09:13] danielqsj opened #72333 "Change existing metrics to conform metrics guidelines"
**What would you like to be added**:

This issue is used to track the progress of changing existing metrics to conform metrics guidelines:

- [x] docker metrics (https://github.com/kubernetes/kubernetes/pull/72323)
- [x] scheduler metrics (https://github.com/kubernetes/kubernetes/pull/72332)
- [x] proxy metrics (https://github.com/kubernetes/kubernetes/pull/72334)
- [x] workqueue metrics (https://

[2018-12-26 09:46] jackhaibo opened #72335 "CSI - Delete volumeattachment and volume failed when the associated node is not found."
**What happened**:
I mapped a volume to the node name is `ubuntu-node5` via kubernetes-csi plugin. Later I added this node to other clusters and forgot to unmap this volume from `ubuntu-node5`, causing the volumeattachment and volume cannot be deleted, even adding  `--grace-period=0 --force` parameters in the delete command.

Using the describe command to show volumeattachment details are as follo

[2018-12-26 09:57] danielqsj commented on #72333
/cc @brancz

[2018-12-26 10:00] lbernail commented on #67730
/remove-lifecycle stale

[2018-12-26 10:02] lbernail commented on #71071
@li-sen definitely a bug. We are working on it

@emptywee and @bjornryden thanks a lot for testing!

[2018-12-26 10:09] xjj001 commented on #58956
good

[2018-12-26 10:44] zhwill commented on #70257
i have the same problem，20181226
k8s 1.13.0
elasticsearch:v6.3.0
kibana-oss:6.3.2
fluentd-elasticsearch:v2.2.0

`[centos@k8s-master elk]$ kubectl get pod -n kube-system
NAME                                    READY   STATUS    RESTARTS   AGE
......
fluentd-es-v2.2.1-dkmnp                 0/1     Error     1          6s
fluentd-es-v2.2.1-xgvql                 0/1     Error     1          6s
......

[2018-12-26 10:47] #66744 closed

[2018-12-26 13:39] k82cn commented on #72322
wow, happy new year !!

It's used by scheduler's equaliance cache as optimization: if two pod has same hash/uuid of pod spec, they can share predicates failure result.

Yes; take TFJob as demonstration, both ps pod and worker pod has only one controlled ownerReference , and their the ownerReference are the same one; but scheduler can not share predicates failure result, as their pod template maybe

[2018-12-26 14:08] tobru opened #72338 "Make APIServerServicePort configurable"
**What would you like to be added**:

In https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go the value for `APIServerServicePort` is hardcoded to 443, there is no way to configure this port.

An option to configure this port would be great.

**Why is this needed**:

When running a single node Kubernetes server (all-in-one) and binding an ingress controller to the

[2018-12-26 14:10] tobru commented on #72338
@kubernetes/sig-api-machinery
/sig api-machinery

[2018-12-26 15:13] danielqsj opened #72342 "Admission metrics value not match their units"
**What happened**:

Admission metrics name is `*_admission_latencies_seconds` and `*_admission_latencies_seconds_summary`, the units from metrics name are `seconds`, but actually the return metrics are in `microseconds`.

[code]

**What you expected to happen**:

Return metrics in true units.

**How to reproduce it (as minimally and precisely as possible)**:

curl apiserver:8080/metrics

**Anythin

[2018-12-26 15:13] danielqsj commented on #72342
/assign

[2018-12-26 15:17] sfudeus commented on #60001
/remove-lifecycle rotten

[2018-12-26 15:19] dims commented on #69601
The mailing list thread is here:
https://groups.google.com/d/msg/kubernetes-sig-architecture/s-SCpQQDOEo/FUGmTFKKAQAJ

Looks like the consensus is : `So I think it makes sense for 2+ (untainted) nodes to be a requirement. (Yes, this would exclude minikube, which isn't certified today.)`

cc @bgrant0607

[2018-12-26 16:16] yastij commented on #65340
/remove-lifecycle stale

[2018-12-26 17:15] dims commented on #22368
@kfox1111 if we want to the latter `do all the things in common so the other tooling doesn't have to.` ... what would we have to change? (start with a KEP?)

[2018-12-26 17:44] liggitt commented on #72095
#62810 likely resolved the issue in the 1.11 timeframe, and #71163 likely resolved the propagation of the nil panic [in 1.10.12](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md#changelog-since-v11011)

[2018-12-26 17:46] liggitt commented on #72095
/close

[2018-12-26 17:46] #72095 closed

[2018-12-26 17:53] yue9944882 commented on #72338
+1 for this, we also hit this use case (well, long time ago). but apiservice is already is a v1 api @kubernetes/sig-api-machinery-feature-requests

[2018-12-26 17:54] #66575 closed

[2018-12-26 18:20] liggitt commented on #72338
I'm able to start an all-in-one server locally with something already bound to 0.0.0.0:443

The hard-coded port 443 is only the service port. The target port it speaks to the apiserver on defaults to 6443.

[2018-12-26 18:43] liggitt commented on #72169
sounds good, can you take the AllowedProcMountTypes field?

[2018-12-26 18:44] msau42 opened #72346 "Investigate cleanup of orphaned pod volumes"
**What happened**:
TODO from https://github.com/kubernetes/kubernetes/pull/72291#discussion_r243855759.  The getMountedVolumePathListFromDisk call may be redundant with getPodVolumePathListFromDisk.  See if there's opportunity to cleanup here.  Maybe see if it's safe to skip the in-memory check, and just check for the on-disk directories?

@kubernetes/sig-storage-bugs

/kind bug

[2018-12-26 18:58] msau42 opened #72347 "Investigate callers of IsLikelyNotMountPoint"
**What happened**:
IsLikelyNotMountPoint() doesn't detect bind mounts of directories on the same fs as /var/lib/kubelet.  Local PVs that are directories on the rootfs are most problematic.  Similar CSI plugins that expose rootfs directories are also problematic.

[This commit](https://github.com/msau42/kubernetes/commit/559fdd5229eb550054df57d1854d58dc4cd7c506) identifies some functions that are t

[2018-12-26 19:03] emptywee commented on #71071
@lbernail my pleasure! So it's been about two days since I launched kube-proxy with the 1.11.7-beta.1 image. It hasn't hung on us yet. I'll give it some more time since the last couple of days were really slow and quiet, not a lot of deployments going on. Either way, I have a feeling the mutexes that @lbernail added are helping :)

[2018-12-26 19:12] deepanvermag3 commented on #66629
@f3flight Did that work for you?

[2018-12-26 19:31] dims commented on #72132
@guptaNswati kubeadm's `feature-gates` are not the same as those from the control plane binaries. you should probably do the kubeadm install first and then tweak the cluster using tips in https://kubernetes.io/docs/concepts/containers/runtime-class/

/close

[2018-12-26 19:31] #72132 closed

[2018-12-26 19:36] wenjiaswe commented on #67887
/remove-lifecycle rotten

[2018-12-26 19:38] wenjiaswe commented on #65062
/reopen

[2018-12-26 19:56] dims commented on #71888
it was worse before ... https://groups.google.com/forum/#!topic/kubernetes-dev/ytjk_rNrTa0 :) we now use `k8s.gcr.io/pause`which is slightly better. when we get things going with the wg-k8s-infra working group to move assets to CNCF, we can take next steps - https://github.com/kubernetes/k8s.io/issues/158

[2018-12-26 19:57] dims commented on #71897
looks like GKE, please contact google support

/close

[2018-12-26 19:57] #71897 closed

[2018-12-26 20:03] dims commented on #71869
@hgokavarapuz check the kubelet logs for clues

[2018-12-26 20:05] f3flight commented on #66629
@deepanvermag3 as you can read from my prev. post, I did not make any changes ahd just used a different image to test DNS which worked ok. The problem seems to have been with nslookup command embedded in default busybox image, so I just stopped trying to use it.

[2018-12-26 20:14] ddebroy commented on #65201
/remove-lifecycle stale

[2018-12-26 20:34] omerh commented on #49926
I am also having issues with nvme instances, in this case, I tried using m5.large with pvc.
This is the StatefulSet that reproduce this

[code]

this is the storage classes:

[code]

The EBS is created and attached to the instance.

but Kubelet fails to mount the disk into pod

[code]

Cluster provisioned using Kops 1.10

kubectl version

[code]

When checking on m5.large the mounts on the node th

[2018-12-26 20:50] hgokavarapuz commented on #71869
I was able to fix mine it was an issue with the AMI that I was using which has /var folder mounted to an EBS volume with some restricted size, causing the problem with Docker containers creation. Was not directly obvious from the logs but checking the space and other things made it clear.

[2018-12-26 21:44] GauntletWizard commented on #37598
/reopen

This is still an issue as of 1.11.6. My workspace:
[code]

Error I receive:
[code]

[2018-12-26 21:45] przemolb commented on #68937
/remove-lifecycle stale

[2018-12-26 21:52] msau42 commented on #72329
/assign @cofyc

[2018-12-26 21:52] msau42 commented on #72329
This may also be slightly related: https://github.com/kubernetes/kubernetes/issues/56098

[2018-12-26 22:13] szuecs commented on #72129
@k82cn  I guess this is fine as flags to the apiserver and controller manager and scheduler:
         - --feature-gates=TaintBasedEvictions=true,TaintNodesByCondition=false,ScheduleDaemonSetPods=false

[2018-12-26 22:16] hotpxl commented on #29927
@dubstack I ran into this post when I was working on some CGroup issue. What do you mean by

I ran into similar issues, where `tasks` file is empty but `usage_in_bytes` is non-zero.
Could you point me to the root cause? Thanks!

[2018-12-26 22:16] msau42 commented on #72288
I'd prefer to avoid defining too many types and interfaces; it will get confusing to test writers and driver implementations quickly.  Separating per driver-instance information may be cleaner.  Is it harmful if even static information gets reset with every driver instance?

cc @verult for thoughts

[2018-12-26 23:04] pohly commented on #72288
Indeed, let's forget the idea with `CreateDriver` returning a new driver variant. It occurred to me later that this probably can't work as originally intended because then test suite code won't have access to any driver pointer until the test actually runs, which makes it impossible to skip test definitions.

To make the code easier to read, we might even be able to get rid of all these per-test "

[2018-12-26 23:14] msau42 commented on #72288
Agree, I don't think a separate struct for test case input, and another function that copies them is necessary

[2018-12-27 00:59] ravisantoshgudimetla commented on #66042
/remove-lifecycle stale

[2018-12-27 01:01] #66749 closed

[2018-12-27 02:06] cofyc commented on #56098
/assign
After [this] is done, this will be easy.

[2018-12-27 02:56] mlmhl commented on #72322
+1. There are quite a few customized controllers use different templates to create pod.

IIUC, the main problem of pod spec hash is that it can't keep the same if we add new fields. However, I think this problem has little impact on the scheduler equaliance cache optimization: If the hash value changes, it will only cause a cache miss, and what scheduler needs do is to recalculate the predicate re

[2018-12-27 03:31] smarterclayton commented on #72322
I’m not in favor of including pod template onto pod - that massive duplication that is completely unnecessary except for one optimization in scheduler.

The scheduler is already the arbiter of fit - I find it hard to believe you can’t make equivalence work without pod spec.  Can you describe why it’s so hard or what info is absent?

[2018-12-27 03:48] #72257 closed

[2018-12-27 03:49] samuela commented on #71869
@hgokavarapuz Are you sure that this actually fixes the problem and doesn't just require more image downloads for the bug to occur?

In my case this was happening within the GKE allowed disk sizes, so I'd say there's definitely still some sort of bug in GKE here at least.

It would also be good to have some sort of official position on the minimum disk size required in order to run kubernetes on a

[2018-12-27 04:10] #64027 closed

[2018-12-27 05:45] samuela commented on #71897
ok, created https://issuetracker.google.com/issues/121439696

[2018-12-27 05:58] k82cn commented on #72322
oh ... update title to `Add PodTemplate hash/uuid into Pod`; not the whole `PodTemplate` :)

To make equivalence work, we need to do deep equal of pod sepc which is so heavy; if there's a uuid/hash of pod template in pod's annotation, scheduler can use it instead of deep equal. Maybe something (e.g. annotation) looks like `k8s.io/pod-template-hash = group/kind/api_version/ns/name/res_version`

[2018-12-27 06:20] m1093782566 commented on #71071
@lbernail

Would you please raise a PR for fixing this issue?

[2018-12-27 08:18] vinrar commented on #18755
I worked on a POC using Distributed Caching Service, Hazelcast, and it works flawlessly with Kubernetes. https://github.com/vinrar/HazelcastAsEventListener

[2018-12-27 08:26] xiaoxubeii opened #72355 "Why cache and queue must be internal in Kubernetes scheduler"
/triage support

I am now working on an open source project related to Kubernetes scheduler. It is actually a Kubernetes schedule simulator and helps to tune scheduling performance, validate schedule algorithms and so on. But I found schedule cache and queue is in kubernetes/pkg/scheduler/internal, and I had to copy the codes instead of referencing directly because my simulator is out-of-tree. My

[2018-12-27 08:30] krmayankk commented on #68627
/remove-lifecycle stale

[2018-12-27 08:36] caesarxuchao opened #72357 "Follow up #70277, the close of the "done" channel should terminate WaitFor"
Users of the `WaitFor` function would expect the close of the "done" channel should terminate the [WaitFor](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go#L385). We should change the function to align to users' expectation.

We should document what the `done` channel does.

This is a behavior change, to be cautious, we should add a releas

[2018-12-27 08:37] caesarxuchao commented on #72357
/sig api-machinery

cc @kdada. Feel free to assign to yourself if you have time. Otherwise I'll attempt a fix tomorrow ;)

[2018-12-27 08:37] krmayankk commented on #68627
/assign @krmayankk

[2018-12-27 08:41] lcnsir commented on #61937
Is this RHEL update https://access.redhat.com/articles/3411331
[code]
fixed the issue in RHEL OS part ?

[2018-12-27 09:10] ztewyk opened #72359 "why not create cgroup dir(/sys/fs/cgroup/cpuset/system.slice.. etc) in kubelet starts"
in pkg/kubelet/cm/node_container_manager.go

in func enforceExistingCgroup,it just check wheteher  kubelet group dir exist. why not create kubelet cgroup dir if  not exist in func enforceExistingCgroup?

[2018-12-27 09:22] lalitpaliwal25 opened #72360 "Not able to access kafka using service IP"
To deploy kafka with zookeer we are using below yaml code. Kafka is running successfully and we are able to write and read data on kafka topic through pod IP , but we are not able to write to kafka topic through service IP.

[code]

[2018-12-27 09:35] kdada commented on #72357
@caesarxuchao I'll fix it.

/assign @kdada

[2018-12-27 10:33] tobru commented on #72338
Here are some more details:

[code]
This deployment makes the port 443 available on all IPs, even from inside Pods running on this single node Kubernetes server. Example with Helm:

[code]

It looks like that exposing `hostPort` 443 on a Pod running on the same VM as the APIserver leads into issues. Chaning the `kubernetes` service value for `spec.ports[0].port` to f.e. 6443 and restarting all Pod

[2018-12-27 10:45] krzysied opened #72363 "ci-benchmark-scheduler-master not working correctly"
**Which jobs are failing**:
ci-benchmark-scheduler-master

**Which test(s) are failing**:

**Since when has it been failing**:
12/19/2018 ~19:49
**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-benchmarks#scheduler

**Reason for failure**:
"go-junit-report not found"

**Anything else we need to know**:
IIUC the problem is not with actual test case, but results post processing. The .stdou

[2018-12-27 10:48] krzysied commented on #72363
The last good run was [7772](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/7772/build-log.txt). [7773](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/7773/build-log.txt) is bad.

Kubernetes changes https://github.com/kubernetes/kubernetes/compare/7ce7a80cd...28b965a8c between those two runs.

[2018-12-27 10:54] krzysied commented on #72363
@cblecker  I saw that there were some changes made by you during that time. Can you verify whether they can be related to this issue, please?

I will try to check if there was no changes on test-infra side.

[2018-12-27 10:58] krzysied commented on #72363
Changes in test-infra: https://github.com/kubernetes/test-infra/compare/899fabec7...d758ce889 . I don't see there anything related to ci-benchmark-scheduler-master.

[2018-12-27 11:20] davidfeldi commented on #61486
@olemarkus where did you set the dhcp domainname?
Thanks in advance

[2018-12-27 11:44] Shelly-Shen opened #72365 "Failure cluster [6370abe3...]"
### Failure cluster [6370abe3ef6ce0b3a819](https://go.k8s.io/triage#{id})

##### Error text:
[code]
#### Recent failures:
[2018/12/27 下午2:12:22 ci-kubernetes-e2e-stable-aws-eks-1-11-prod](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-stable-aws-eks-1-11-prod/145#sig-cli-kubectl-port-forwarding-k8sio-with-a-server-listening-on-localhost-should-support-forwarding-over-web

[2018-12-27 11:57] lbernail commented on #71071
/reopen
(to keep an eye on feedback from tests and before creating cherry-picks if everything works ok)

[2018-12-27 12:00] Alan01252 commented on #70014
The problem appears to be that the conversion doesn't take into account the suffix used in the annotation.

For example the config

`
      annotations:
        kubernetes.io/ingress-bandwidth: "500M"
        kubernetes.io/egress-bandwidth: "500M"
`

Cause a tbf to be generated as below:

`
qdisc tbf 1: dev cali3fa6073a780 root refcnt 2 rate 500Kbit burst 10737417b lat 4123.2s
qdisc ingress ffff:

[2018-12-27 12:05] lbernail commented on #71071
@m1093782566 can you reopen the issue until we are completely sure it is fixed?

[2018-12-27 12:13] yue9944882 commented on #72338
cc our traefiker friend @timoreimann

[2018-12-27 12:57] uablrek commented on #70730
I have seen this also but while experimenting with etcd `v3.3.10`.

[2018-12-27 14:31] papudatta opened #72369 ""cri image pull" works but both kubectl and "crictl pull" fail pulling same image"
**What happened**:
`cri image pull` works but both `kubectl `and "`crictl pull`" fail pulling `docker.io/library/golang:1.9`

kubectl logs:
[code]

[code]

**What you expected to happen**:
`docker.io/library/golang:1.9` can be pulled either ways.
If image was already pulled by `ctr image pull`, kubernetes should be able to use that image

**How to reproduce it (as minimally and precisely as possib

[2018-12-27 14:33] papudatta commented on #72369
/sig bugs

[2018-12-27 14:40] liggitt commented on #72338
what kube-proxy mode are you using? iptables or ipvs?

[2018-12-27 14:41] Vonor opened #72370 "Networking: Pods are unable to communicate with: other pods, the API Server and the outside world"
**What happened**:

On a freshly bootstrapped cluster the Pods cannot reach neither other pods, nor the API Server, nor the outside world

**What you expected to happen**:

Be able to reach the API Server as well as the outside world

**How to reproduce it (as minimally and precisely as possible)**:

I tried with the following two variants. Result is the same.

1: NanoPi m4 as Master. Wife Connect

[2018-12-27 14:47] liggitt commented on #72338
does the issue affect other services that attempt to set a service port of 443 and map it to a different container port? if so, and normal Services can't route port 443 on their assigned IP to different container or host ports, that seems like a problem to fix, not something to work around with configuration.

Also, `https://kubernetes.default.svc` is a well-known enough address, and documented as

[2018-12-27 14:49] Vonor commented on #72370
/sig network

[2018-12-27 14:53] Vonor commented on #72370
Interesting. As far as my understanding goes, all pods should either have a Cluster internal IP (10.x.x.x) or the Internal IP (172.16.0.28) from the host. But some have the hosts external IP (192.168.178.30). Could this already be the issue?

[code]

[2018-12-27 15:15] #66775 closed

[2018-12-27 15:46] papudatta commented on #72369
Closing and will report under `cri-tools`

[2018-12-27 15:46] #72369 closed

[2018-12-27 15:46] mvladev commented on #72338
I was able to reproduce it - it completely nukes a cluster created via docker for example:

[code]

Then we create our pod (it doesn't even have to listen on any port):

[code]

After couple of seconds my API server is no longer reachable

[code]

[code]

If we get the logs of `kube-controller-manager` for example we get

[code]

Inspecting the Infra pause container of our `echo` Pod reveals why t

[2018-12-27 15:51] liggitt commented on #72338
It makes sense that would disrupt access to the apiserver which is also attempting to use host port 6443. The solution there is to avoid multiple processes using 6443 host ports on the master. Either change the pod manifest to use a different port, or change the apiserver to use a different port with `--secure-port=...`

[2018-12-27 16:00] krzysztof-jastrzebski opened #72372 "HorizontalPodAutoscalers are not processed every"
**What happened**:
Resync period for HorizontalPodAutoscaler controller is set to 15 seconds in order to update HPAs every 15 seconds. Sometimes updates are skipped and period between two updates is 30 seconds.

**What you expected to happen**:
HPA should be updated every 15 seconds.

**How to reproduce it (as minimally and precisely as possible)**:
Add debugs to HPA controller showing how often H

[2018-12-27 16:01] krzysztof-jastrzebski commented on #72372
/sig autoscaling

[2018-12-27 16:01] krzysztof-jastrzebski commented on #72372
/assign 	krzysztof-jastrzebski

[2018-12-27 16:37] sigma commented on #68577
/remove-lifecycle stale

[2018-12-27 17:15] yastij commented on #4672
@mikedanese @liggitt - seems that the one way to go with this is:

- if clients (kube-scheduler, controller-manager etc..) sets a `--rotate-certificates` and `--boostrap-kubeconfig` basically the client adopts the same behavior as kubelet client cert rotation.

- for cert/key pair that sign/validates serviceaccount tokens we can rely on the same workflow.

This has the benefit of having the same b

[2018-12-27 17:16] quangtamle opened #72374 "Starting K8s master takes too long"
Hello everyone,

I start the k8s master but it takes too much time.
How can I fix this ??? because I saw no error.
![too long](https://user-images.githubusercontent.com/43220759/50488562-66f4a700-0a03-11e9-9384-301f7e6b35ca.png)

Thank you in advances

/sig node
/sig cluster ops

[2018-12-27 17:44] fntlnz commented on #71692
@langerkunal This is probably due to the fact that the dockershim socket is not available for the kubelet to use when you do `kubeadm init` or `kubeadm join`.

You can verify that with:

[code]
Which should output something like
[code]

When that socket is not available kubeadm can't contact the kubelet to understand what is the config it should download from the apiserver to configure CNI, and th

[2018-12-27 17:45] fntlnz commented on #71692
Given that I think this belongs to
/sig node

[2018-12-27 17:59] uablrek commented on #72236
The ClusterIP addresses (and external addresses) are added to the local `kube-ipvs0` device which must be done to get traffic to ipvs;
[code]
The `12.0.0.x` addresses are my ClusterIP's for kubernetes and coredns.

The problem however seems to be the route that is automatically added to the `local` routing table;
[code]
Now I can ssh to my local machine using these addresses as described in this i

[2018-12-27 19:01] Huang-Wei commented on #72355
@xiaoxubeii it's due to recent code refactoring. The motivation was that we think those implementations (queue/cache) are only needed by kube scheduler.

cc/ @misterikkit

[2018-12-27 19:09] samandmoore commented on #48361
I believe I'm seeing the same issue outlined here where `--overrides` with a spec that has `env` or `envFrom` doesn't show up in the resulting pod.

/reopen
/remove-lifecycle rotten

[2018-12-27 19:19] #63804 closed

[2018-12-27 19:41] tuanqle commented on #72121
@janosi I tried with alpine container image but the problem still exist.  I also noticed you are using kubernetes v1.13. I will give that a try.

[2018-12-27 19:42] ddebroy commented on #62038
/assign

[2018-12-27 20:40] BRFord88 commented on #44665
To those that can't find admin.conf, hopefully this is relevant to your flavor of Linux, but I typically use:

I was able to find the file this way, hope it helps you as well!

[2018-12-27 20:46] msau42 opened #72378 "PD multizone tests are flaky"
**Which jobs are failing**:
gce/gke multizone/regional jobs

**Which test(s) are failing**:
Only PD tests

**Since when has it been failing**:
Around 12/21 with the 16:49 run

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage#gce-multizone

**Reason for failure**:
TBD

**Anything else we need to know**:

/kind failing-test

[2018-12-27 20:46] msau42 commented on #72378
@kubernetes/sig-storage-test-failures

[2018-12-27 21:01] msau42 commented on #72378
The runs started flaking after https://github.com/kubernetes/kubernetes/pull/70862 merged. cc @pohly @verult

Here's one failing run:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/26745

Pod pod-subpath-test-gcepd-dynamicpv-pfsm failed to schedule because of conflicting node selectors:
[code]

We shouldn't need to set the node selector for PD tests using P

[2018-12-27 21:50] kolyshkin commented on #61937
@lcnsir not quite. What was fixed is a single kernel issue resulting in a kernel oops. A bunch of issues still remain, the main one being that kmem ctrl in this kernel is not trying to reclaim memory (try to shrink caches etc) once it's tight.

[2018-12-27 21:53] kolyshkin commented on #61937
@apatil it should be clear from the commit message (a build tag should be added when building for rhel7 -- this means it should be a separate build unfortunately); let me know if you have any specific questions

[2018-12-27 23:04] Huang-Wei commented on #72226
The pod status should change to 'NodeLost'.

I checked in 1.11, `pod.phase` is `Running`, it's just `pod.reason` is `NodeLost`.

I suppose the "pod status" you mean is the `STATUS` column displayed in kubectl?

[2018-12-27 23:54] cheftako commented on #66133
/remove-lifecycle rotten

[2018-12-28 00:03] msau42 opened #72387 "Cleanup mounter IsNotMountPoint"
**What happened**:
There's [mount.Interface.IsNotMountPoint](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/util/mount/mount.go#L60), and [mount.IsNotMountPoint](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/util/mount/mount.go#L253).

The former is used by local and nfs volume plugins, while the latter is used by [UnmountMountPoint](https://sourcegraph.c

[2018-12-28 00:03] msau42 commented on #72387
@kubernetes/sig-storage-bugs

[2018-12-28 00:03] msau42 commented on #72387
cc @cofyc

[2018-12-28 00:20] cheftako commented on #66133
Wondering if https://github.com/kubernetes/kubernetes/pull/71412 fixes the problem.

[2018-12-28 01:44] ktrOpenSource commented on #59477
This bug still exists. How do I reopen this issue?

[2018-12-28 01:45] ktrOpenSource commented on #59477
/remove-lifecycle rotten

[2018-12-28 01:46] ktrOpenSource commented on #59477
/reopen

[2018-12-28 02:07] cxj110 commented on #71343
@neolit123
kubectl get nodes is good. Only kubectl logs ... failed.

I will try to upgrade to the latest version and check again, close this issue timebing.

thank you for your help.

[2018-12-28 02:07] #71343 closed

[2018-12-28 02:17] Pingan2017 commented on #72374
/remove sig-node
/sig cluster-lifecycle
/area kubeadm

[2018-12-28 02:36] lcnsir commented on #61937
@kolyshkin thanks for your clarification. Changing the docker Cgroup Driver on rhel from `cgroupfs` to`systemd` will lighten the problem or a workaround ?  Since as I know the OpenShift did this by default.

[2018-12-28 02:39] dantingl commented on #72226
Yes, I mean the pod.reason should be NodeLost.
But in k8s1.13, the pod is still Running without NodeLost reason.

[2018-12-28 02:46] cofyc commented on #72387
/assign
I'd like to clean up code.

[2018-12-28 03:41] idealhack commented on #59477
/reopen

[2018-12-28 03:57] m1093782566 commented on #70014
Yeah, seems you get the key @Alan01252

[2018-12-28 05:20] andyzhangx commented on #57715
/reopen
Since it's not done

[2018-12-28 05:34] Huang-Wei commented on #72226
@dantingl it's b/c in 1.13 `TaintBasedEvictions` are enabled by default:

https://github.com/kubernetes/kubernetes/blob/456ffa0453563e0d2116d864f6b997abd3ccd27b/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L430-L439

I can get it fixed, but not sure it's worth doing that. As setting reason to "NodeLost" is an extra operation to APIserver - in addition to "deleting a pod".

So I'm wond

[2018-12-28 05:38] dantingl commented on #72226
It needs to be changed to "NodeLost", otherwise how could user know if the pod is going to be deleted. 'Terminating' is not in status from API.

[2018-12-28 05:48] Huang-Wei commented on #72226
If you want to check if a pod is being deleted, the most reliable way to check its `metadata.deletionTimestamp` - check whether it's non-nil.

[2018-12-28 06:03] dantingl commented on #72226
Do you mean metadata.deletionTimestamp and NodeLost are added in pod spec at the same time?
I want to find a time when pod is already got deleted. Based on my understanding even deletionTimestamp is marked, pod may be still running there.

[2018-12-28 06:07] Huang-Wei commented on #72226
deletionTimestamp means a pod is marked for deletion. But for the "node unreachable" case, API server can't get heartbeat from kubelet, so it's just "marked" for deletion, and when `tolerationSeconds` passed, a new pod will be created to replace the "zombie" pod. And the "zombie" pod info will only be cleaned up when kubelet is connected to APIserver after connectivity issue is resolved.

[2018-12-28 06:32] ggaurav10 commented on #62942
Found out that if I run the pod in the host's network namespace, I can see the value if the flag `net.ipv4.ip_forward` value same as set in the host.

[2018-12-28 06:34] D-PENG commented on #71246
@msau42 have already been solved,Indentation of yaml format.

[2018-12-28 06:34] #71246 closed

[2018-12-28 06:45] VincentFF commented on #71071
I have the same problem of kube-proxy ipvs, version 1.12.3.

`27 23:31:24.113927       1 graceful_termination.go:93] lw: remote out of the list: 10.96.0.1:443/TCP/10.6.40.32:6443
E1227 23:31:24.113935       1 graceful_termination.go:183] Try flush graceful termination list err
I1227 23:32:24.114182       1 graceful_termination.go:160] Trying to delete rs: 10.96.0.1:443/TCP/10.6.40.32:6443
E1227 23

[2018-12-28 07:35] Huang-Wei commented on #72226
yes, it may be.

[2018-12-28 07:35] fyuan1316 opened #72392 "Service NodePort not working"
**What happened**:
![image](https://user-images.githubusercontent.com/42265657/50506539-66681900-0ab4-11e9-9746-5e71c05bc4ad.png)

the port 8000 of sample-service(10.107.175.103)  seems not working.
i checked endpoint "endpoints/xxxx-sample-service " is ok!
then access sample-service by nodeport(32322) is ok too.
![image](https://user-images.githubusercontent.com/42265657/50507181-5271e680-0ab7-11

[2018-12-28 07:38] dantingl commented on #72226
Thanks for your explaination. I'm fine whether this will be addressed or not. Thanks!

[2018-12-28 07:45] fyuan1316 commented on #72392
/sig network

[2018-12-28 07:45] Huang-Wei commented on #72226
My preference is to keep current logic as is - for a node which loses connection to API server, in 1.11 it needs 2*len(pods) calls to APIserver (set status.reason to NodeLost and then delete pods). And in 1.13 it just goes deleting the pods which causes less pressure to APIserver.

[2018-12-28 08:20] lostick commented on #70082
FYI, having the same issue with `3.2.25` on `1.12.3`.

[2018-12-28 08:47] z8772083 opened #72393 "resize pv failed"
**What happened**:
kubectl create -f ceph-pvc.yaml
[code]
and result is ok
`pvc-expand-test                              Bound     pvc-962a674c-0a73-11e9-b2d8-0050569bfc0f   1Gi        RWO            ceph-storage   1h`

now i want to resize pv from 1G to 2G, edit
[code]

kubectl describe pvc pvc-expand-test
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely

[2018-12-28 08:49] #69957 closed

[2018-12-28 08:52] z8772083 commented on #72393
@kubernetes/sig-storage-bugs

[2018-12-28 08:59] liupeng0518 commented on #71556
emmm...
I have the same question, but the memory is unknown, k8s has no error.
[code]

[2018-12-28 09:10] z8772083 commented on #69082
when i user provisioner and  custom kube-controller manager container image with rbd binaries
erro happened

kubectl describe pvc pvc-expand-test

[code]

do you know why?@prakashmishra1598

[2018-12-28 09:13] bernard-wagner opened #72394 "Expand imagePullSecrets to include TLS client authentication"
**What would you like to be added**:

Allow specifying the x509 certificate and private key to be used by the runtime client as part of `imagePullSecrets`. Kubelet should be able to use the secrets when connecting to the registry endpoint.

**Why is this needed**:

Private registries often require certificate based client authentication. Although the docker client will attempt to use the certifica

[2018-12-28 09:32] mysunshine92 commented on #72359
/sig node

[2018-12-28 09:33] lbernail commented on #72197
This is a duplicate of #71071
@nmiculinic : this issue is only present in kube-proxy 1.12.2+ (which you seem to be using given the logs, graceful termination is not enabled in 1.12.0 and 1.12.1)

[2018-12-28 09:45] lbernail commented on #71596
#66064 fixed this for Node IPs, not sure for loadBalancerIP though
@uablrek can you confirm that accessing the service on NodeIP:Nodeport works but LbIP:Nodeport doesn't?

[2018-12-28 09:50] miaoshixuan commented on #67730
@lbernail I changed my local route, everything works well.  But when I restart kubelet, It will keep crash.
here is my kubelet config
[code]
log here
[code]

**Environment**:
- Kubernetes version: 1.11.2
- OS: centos7.4
- Kernel: 3.10.0-693.el7.x86_64

[2018-12-28 09:51] Unrealnew opened #72395 "kubernetes reliability/reactivity on node failure not work properly"
When a node fails by default the **normal** behavior looks like:

- Kubelet updates it status to apiserver periodically, as specified by **--node-status-update-frequency**. The default value is 10s.
- Kubernetes controller manager checks the statuses of Kubelets every **–-node-monitor-period**. The default value is 5s.
- In case the status is updated within **--node-monitor-grace-period** of time,

[2018-12-28 09:57] SmartLyu commented on #70222
Please , can you tell me how you solved this problem. I meet the same problem.

[2018-12-28 09:59] fntlnz commented on #72392
@fyuan1316  Type `NodePort` is meant to be used to expose expose your port in the underlying network of the host node so your test with netcat should work for `10.110.205.95` that is a `ClusterIP` while you should use the Node's ip address for the one with `NodePort`

Read more at: https://kubernetes.io/docs/concepts/services-networking/service/#nodeport

[2018-12-28 10:05] lbernail commented on #71596
OK I think the issue is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L932
This one is an easy fix

Also, I'm not sure of the logic there: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1032
It seems to me that if externalTrafficPolicy is local we should only include local endpoints regardless of sessionAffinity. @m1093782566

[2018-12-28 10:11] fntlnz commented on #72370
@Vonor  have you tried to reach the internet using an ip address directly instead of a resolving a name first?
Maybe it's a DNS issue.

[2018-12-28 10:13] uablrek commented on #71596
@lbernail

Please check/review the pending PR at; https://github.com/kubernetes/kubernetes/pull/71610

I only considered your second reference.

[2018-12-28 10:13] matthiasr commented on #71071
I'm also re-running my experiment https://github.com/kubernetes/kubernetes/issues/71071#issuecomment-449402484 again, with the patch back-ported onto 1.12.4. Will report back!

[2018-12-28 10:43] gulnadaf commented on #59959
Hi,
I am having ~14.04.1-Ubuntu .. 64bit system. followed all steps mentioned above but still getting exception. Kindly suggest.
"E: Unable to locate package kubelet"

Please see the screen shot of
![image](https://user-images.githubusercontent.com/44694713/50513069-77685880-0abb-11e9-81bc-6b63e389757d.png)

[2018-12-28 10:49] yastij commented on #58635
/remove-lifecycle rotten

[2018-12-28 11:00] xiaoxubeii commented on #71930
There are some known labels in: https://github.com/kubernetes/kubernetes/blob/a6ba2ebf85d8673f78220c089aba1290437de2be/pkg/kubelet/apis/well_known_labels.go#L26-L28

[2018-12-28 11:12] zq-david-wang opened #72397 "kubelet log api should at least return one byte when follow set to true"
**What would you like to be added**:
I want kubelet to reponse with a "START of TEXT" byte before sending real logs.

**Why is this needed**:
When live-streaming pod logs by setting 'follow' to True, the python client (requests/urllib3) needs at least one byte from server to return a response object . When there is no log yield yet, python client would hang in the thread waiting for a response, th

[2018-12-28 11:13] zq-david-wang commented on #72397
/sig proposals

[2018-12-28 12:35] wgliang commented on #72355
This is a good question, I remember that our expectation is that we can share the cache to multiple schedulers instead of requiring multiple copies of the cache. @bsalamat

[2018-12-28 12:36] rdrgporto commented on #59959
Hi @gulnadaf,

It is due to **Ubuntu version**. You are using **Ubuntu 14.04**. As far as I know, **Kubernetes** works from **Ubuntu 16.04**.

Regards :vulcan_salute:

[2018-12-28 12:36] #66384 closed

[2018-12-28 13:33] skwidy commented on #69311
Did you implement a workaround ?
For my use case, I'm thinking about killing the pod, but I'm not sure that's really ideal ... knowing that I have set `restartPolicy: OnFailure`and `backoffLimit: 4`

[2018-12-28 13:55] pulpbill opened #72401 "ImagePullPolicy not working as expected?"
I have a cluster with latest version of kops/helm/k8s. I need for the apps to be deployed in case of a gitlab failure, that's why I'm testing setting ImagePullPolicy: IfNotPresent.

I've deployed an app, then modified the manifest to broke the registry url (so it can't pull it) re deployed and I'm getting:

`Failed to pull image "registry.gitlab.com/our-company/our-app/etc/": rpc error: code = Unk

[2018-12-28 14:26] aespejel opened #72403 "Resource consumer is not exposing /metrics but /Metrics"
**What happened**:
Used the endpoint /BumpMetric to create fake metrics for Prometheus. When I tried to curl /metrics I got the following response:
Bad request. Not a POST request

**What you expected to happen**:
I expected to see something like this:
\# HELP awesome.fake.metric info message.
\# TYPE awesome.fake.metric gauge
awesome.fake.metric 0.000000

**How to reproduce it (as minimally and p

[2018-12-28 14:34] ijumps opened #72404 "kubernetes endpoint maybe wrong on multi-network environment when only bind-address is set"
**What happened**:

If run kube-apiserver with `--bind-address={ip}` and not set `--advertise-address` , apiserver will use default route interface ip as kubernetes endpoint, this can be wrong when `bind-address`  is not on default route interface.

The IP address on which to advertise the apiserver to members of the cluster. This address must be reachable by the rest of the cluster. If blank, the

[2018-12-28 14:43] ijumps commented on #72404
/sig api-machinery

[2018-12-28 14:50] Vonor commented on #72370
I have tried that before too. Just didn't add it to the report here. But here is a full ping test of the network from inside a running pod.

I can already tell, that it doesn't seem to be an issue with flannel. In the above mentioned VM Setup I have tried weavenet as well and got the same result.

[code]

And what I find pretty strange is, that even though I used `--apiserver-advertize-address` th

[2018-12-28 14:57] wojtek-t opened #72408 "NodeTree.Next() in scheduler is really expensive"
I was running some experiments to see what throughput we can get if scheduler wouldn't have all those fancy predicates and priorities.
So what I did is I removed all but "podFitsResources" predicates and all priorities.

What surprised me was that in 5k-node clusters, the throughput I got was ~140pods/s and it was purely limited by scheduler (for simple pods).

So I looked into the profiles and ob

[2018-12-28 14:59] pohly commented on #72288
/assign

[2018-12-28 15:02] pohly commented on #72378
The PR broke the subpath test because the modification to the config struct embedded in the driver info now persists across tests:
https://github.com/kubernetes/kubernetes/blob/a9c7dfba51a36959ccab0301c868bf622bad11d2/test/e2e/storage/drivers/in_tree.go#L1250-L1255

A quick fix would be to reset that field in CreateDriver. The long-term fix is the change discussed in https://github.com/kubernetes/

[2018-12-28 15:04] FengyunPan2 commented on #34408
Same problem, any thought?

[2018-12-28 15:19] Shnatsel commented on #72403
/sig testing

[2018-12-28 15:38] Shnatsel commented on #72395
@kubernetes/sig-node-bugs

[2018-12-28 15:41] Shnatsel commented on #72397
@kubernetes/sig-api-machinery-proposals

[2018-12-28 15:43] Shnatsel commented on #72360
@lalitpaliwal25 it sounds like you're looking for support. Support is not offered through Github, but there are a number of places you can check.

There's [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http

[2018-12-28 15:44] Shnatsel commented on #72360
/triage support

[2018-12-28 16:10] briantopping commented on #27398
This was recently moved to https://github.com/kubernetes/enhancements/pull/648.

[2018-12-28 16:31] lbernail commented on #71071
Ok let's wait until monday so we also get feedback from @matthiasr and @bjornryden (I want to avoid rushing the cherry-picks and make sure that we have a clean fix this time)

[2018-12-28 16:51] pohly commented on #72378
/assign

PR is here: PR #72410

[2018-12-28 16:55] VincentFF commented on #71071
@lbernail Good news, thanks to your reply.

[2018-12-28 17:02] roytanmoy commented on #72319
this can be closed as I found it's my setup issue.

[2018-12-28 17:02] #72319 closed

[2018-12-28 17:34] diwakar-s-maurya commented on #61005
the same problem +1

[2018-12-28 17:42] gulnadaf commented on #59959
Thanks Rodrigo for quick revert. I was able to install "kubectl"
sudo apt-get install -y kubectl on Ubuntu 14.04.

So, upgrading Ubuntu version is the only option in hand?

[2018-12-28 18:04] justicezyx opened #72412 "Please clarify --kubeconfig and --config in https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/"
https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/ states to use --config with a config file following KubeletConfiguration schema, but the texts did not clarify its relationship with --kubeconfig.

Possible solutions:
- Please consider expand the texts, or link to another page with more details.
- If these cannot be done immediately, I suggest to leave a TODO to ask readers

[2018-12-28 18:30] liggitt commented on #72412
thanks for the request, please open doc issues against https://github.com/kubernetes/website/issues/ so they can be routed to the correct team

/close

[2018-12-28 18:30] #72412 closed

[2018-12-28 18:34] liggitt commented on #72397
writing spurious data into the log stream is a non goal. ensuring headers are written and flushed back to the client is reasonable, and is done here:

https://github.com/kubernetes/kubernetes/blob/2cc92a09fd27cca93048e751f232268df552cc79/pkg/kubelet/server/server.go#L564

https://github.com/kubernetes/kubernetes/blob/2cc92a09fd27cca93048e751f232268df552cc79/pkg/kubelet/kubelet_pods.go#L1187-L1192

[2018-12-28 18:34] #72397 closed

[2018-12-28 18:37] liggitt commented on #72401
how did you modify it? did you modify the pull spec?

[2018-12-28 18:38] liggitt commented on #72394
I didn't think docker allowed per-pull TLS options (CA trust roots, for example, must be globally configured). Do client x509 credentials have the same restrictions?

[2018-12-28 18:39] yastij opened #72413 "runtime-aware scheduling"
With runtimeClass users now tend to have heterogeneous runtimes across clusters, we might want to make the scheduler runtime-aware to determine if node can host a pod requiring a specific runtime/runtimeClass.

This has the benefit to abstract topology knowledge of the cluster to end-users.

cc @bsalamat @tallclair

/assign
/sig scheduling
/priority important-soon
/kind feature

[2018-12-28 18:42] krancour commented on #66527
/reopen
/remove-lifecycle-rotten

[2018-12-28 18:45] pulpbill commented on #72401
I have a helm object (a deployment for k8s), I changed at spec -> template -> spec -> containers: -image: and here I just deleted a part of the URL that goes to our registry (gitlab) my intention is for k8s to re deploy with the existing pulled image, hence, imagepullpolicy set to ifnotpresent.

[2018-12-28 18:48] liggitt commented on #72401
ifnotpresent means "avoid pulling from the registry if an image matching this spec already exists on the node"

by changing the image pull spec, it sounds like you made the pod reference a pull spec that does not exist and had not been pulled to the node yet, so it had to reach out the the registry for the new image

[2018-12-28 19:15] tuminoid commented on #64878
/remove-lifecycle stale

[2018-12-28 19:19] pulpbill commented on #72401
You're right, sorry, got that part wrong, I'm gonna leave it as it is and just block access to the repo or something like to test if it still can re deploy with same tag.

[2018-12-28 19:33] wojtek-t commented on #72408
Actually, I started thinking (similarly to arguments above), why cachedNodeInfoMap:
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L132
actually has to be a map?

Maybe this actually can be a slice:
- we can insert delete an argument to sorted slice in O(lg n) in golang
- do we need a constant time access both ways (from cache to cachedNodeInfoMap and

[2018-12-28 20:15] rdrgporto commented on #59959
Hi @gulnadaf,

I have not worked on **Ubuntu 14.04**. I work on **Ubuntu 16.04** and **18.04**, so that, I am not quite sure that **Kubernetes** works on **Ubuntu 14.04**.

Regards :vulcan_salute:

[2018-12-28 20:36] Bharathkumarraju commented on #37232
I am also having the same issue.

[code]

[2018-12-28 20:39] Bharathkumarraju commented on #69926
I am facing the issue is like, Unable to schedule the pods on nodes evenly

[code]

[2018-12-28 20:43] Bharathkumarraju opened #72414 "kube-scheduler unable to schedule the pods evenly on all cluster nodes"
In our k8s cluster one node(master) is always using full CPU/Memory resources it seems when I check logs of kube-scheduler got below on that node any help would be greatly appreciated.

[code]

[2018-12-28 21:30] johnSchnake commented on #68747
/reopen

[2018-12-28 21:32] johnSchnake commented on #68747
The ci-robot incorrectly marked as fixed by the wrong PR; this needs https://github.com/kubernetes/kubernetes/pull/68792 to merge and I need the `approved` label, already has LGTM. `pull-kubernetes-godeps` seems to be a new requirement that hasnt been met either; not sure how to run/get that label.

[2018-12-28 21:39] johnSchnake commented on #68687
@ixdy Correct; things seem to have gotten crossed. I opened 2 issues related to SSH around the same time and put up PRs for them and because of some mentions I guess the bot got confused?

This issue (68687) was fixed by pull #68753 which has merged.
I have another issue #68747 which is fixed by pull #68792 ; I have LGTM but havent gotten approved and a go dep check.

[2018-12-28 21:41] ixdy commented on #68687
yeah, it looks like #68753 said it would fix #68747 - probably just a typo.

I left a few comments on #68792 and will approve once those are addressed.

/close
since I think this issue is now fixed.

[2018-12-28 21:41] #68687 closed

[2018-12-28 21:46] ixdy commented on #37598
@GauntletWizard can you try again with kubernetes 1.12+? #64122 may have helped with this, but it didn't make it into the kubernetes 1.11 branch.

[2018-12-28 21:56] sfitts commented on #70222
In my case the use of `externalTrafficPolicy: Local` means that by design the NodePort routing doesn't occur.  To work around that you have to run a copy of the Nginx controller on every node -- which you can do by making it a `DaemonSet`.

[2018-12-28 22:09] tibwiz commented on #72314
I am also facing a similar issue (installing on ubuntu 16.04).

<img width="1670" alt="screen shot 2018-12-28 at 2 07 36 pm" src="https://user-images.githubusercontent.com/5105972/50529484-feacd080-0aa9-11e9-8ffd-faf14937bbc6.png">

[2018-12-28 22:49] #71598 closed

[2018-12-28 23:13] matthiasr commented on #71071
No issues after 12+ hours on 1.12.4 with https://github.com/DataDog/kubernetes/commit/9121f0122d805f55f85f42d26c294898fe29a92f – without that I got a lockup in 1.5 hours, so this looks very good!

[2018-12-29 00:35] tanshanshan commented on #72414
[code]

from above, I think you can check it about RBAC

` kubectl get clusterrole system:kube-scheduler -o yaml`

[code]
and
[code]

[2018-12-29 00:48] #66703 closed

[2018-12-29 00:48] #66361 closed

[2018-12-29 00:48] #66591 closed

[2018-12-29 00:48] #66151 closed

[2018-12-29 00:48] #66344 closed

[2018-12-29 00:48] #66176 closed

[2018-12-29 00:48] #66297 closed

[2018-12-29 01:49] #66119 closed

[2018-12-29 01:49] #66128 closed

[2018-12-29 01:49] #66163 closed

[2018-12-29 01:49] #66021 closed

[2018-12-29 01:49] #65466 closed

[2018-12-29 01:49] #65795 closed

[2018-12-29 01:49] #66825 closed

[2018-12-29 02:45] lojies opened #72417 "Error from server: proto: illegal wireType 6"
**What happened**:
when i upgrade my cluster from v1.10.6-4 to v1.13.0-1,error below reported:
[code]
apiserver.log
[code]
then i del node key in etcd and restart kubelet then kubectl get nodes work
[code]
[code]
other kubectl get resources commands work well after upgrade
[code]
**What you expected to happen**:
i expected kubectl get nodes works well after upgrading to v1.13.0-1
**How to reproduc

[2018-12-29 02:50] #65311 closed

[2018-12-29 02:50] #65137 closed

[2018-12-29 02:50] #66751 closed

[2018-12-29 02:50] lojies commented on #72417
/sig api-machinery

[2018-12-29 03:04] xiaoxubeii commented on #72355
We can share the cache to achieve shared state although there are some problems such as consistency, head-of-blocking and so on.

[2018-12-29 03:08] z8772083 commented on #72393
@mlmhl ceph version 13.2.2 (02899bfda814146b021136e9d8e80eba494e1126) mimic (stable)

[2018-12-29 03:20] shinwing commented on #70952
same question
kubelet identity is defualt:
Name:system:node:nodename  UID: Groups:[system:nodes system:authenticated

maybe i should create a rolebinding with system:node and psp

[2018-12-29 03:38] shinwing commented on #70952
add this to clusterrolebinding is useful for me

- kind: Group
  name: system:nodes
  apiGroup: rbac.authorization.k8s.io

[2018-12-29 05:10] VincentFF commented on #71071
@lbernail I have another question, please. If the next patch is version 1.12.5?
If I just upgrade kube-proxy to 1.12.5, other units（apiserver, kubelet, controller-manager, scheduler ...) keep 1.12.3, is it ok? Or I have to upgrade all units?

[2018-12-29 05:53] #66696 closed

[2018-12-29 06:04] mgdevstack commented on #67609
/lifecycle frozen

[2018-12-29 06:19] k82cn commented on #61012
/remove-lifecycle rotten

[2018-12-29 06:36] lojies commented on #72417
[code]
yes, i upgrade from 1.10.x directly to 1.13.x.

[2018-12-29 07:00] zq-david-wang commented on #72397
@liggitt  What about adding a "preamble" option to logs api? The option indicates that logs api should write back a preamble (if set) before sending back logs.
something like this:
# kubectl get --raw '/api/v1/namespaces/ingress-nginx/pods/default-http-backend-68f657df97-j2ncr/log?follow=True&preamble=>>>>>'

This way, no worrying about breaking existing apis, also those clients that needs at leas

[2018-12-29 07:37] liggitt commented on #72397
The client should be fixed to stream content correctly, I don't think an API change to work around this would be a good idea.

[2018-12-29 07:47] Bharathkumarraju commented on #72414
@tanshanshan Thank you for your reply. But it is kube-system reated stuff right, do i need to change those? i built my cluster using kube-spray.

[code]

[2018-12-29 07:51] Bharathkumarraju commented on #72414
[code]

[2018-12-29 07:55] #55238 closed

[2018-12-29 08:02] liggitt commented on #72417
@jpbetz that ring any bells for the etcd client level in 1.13 and that etcd server version?

[2018-12-29 08:08] SmartLyu opened #72422 "Not all pods can connect each other from defferent nodes"
Each node and pod are capable of running normally, and all nodes can be connected to the pod_IP of dns. The nginx service utilizes NodePort, but only a few nodes can have access to nginx through their ports.

**What happened**:
kubectl get svc
default service/nginx NodePort 10.96.78.39 80:31781/TCP 63m app=nginx,tier=backend

curl -v --connect-timeout 10 http://hostname:31781
172.16.0.216 : ok=2 c

[2018-12-29 08:10] zq-david-wang commented on #72397
@liggitt thanks for the response.
If there could be a fix from client side, it would be great. I have check with client code for a while, but so solve yet, hope community would have better idea for a client fix and I have opened an issue for this in kubernete-python project. But it really seems easier to make api changes and a "preamble" may serve other  purpose as well.

Any way, I would like to

[2018-12-29 08:56] #66810 closed

[2018-12-29 09:06] dozer47528 commented on #36222
Have the same issue and fixed by removing tabs

[2018-12-29 09:31] lbernail commented on #71071
@VincentFF Hopefully it will make it to 1.12.5 yes. You can run kube-proxy 1.12.5 with other units running 1.12.3, no problem

[2018-12-29 09:42] lbernail commented on #67730
@miaoshixuan Interesting, I never tested this fix in depth but just tried to find a way to make it work. Maybe changing the default route for 127.0.0.1 prevents binding on localhost? Sound suprising. I'll try and reproduce next week

[2018-12-29 09:47] m1093782566 commented on #67730
@miaoshixuan

We can work together on it if you really want to see the issue get fixed though I suspect few people will use localhost for nodeport in production environment.

[2018-12-29 10:34] yastij commented on #72413
An end-user that wants to deploy an application might not have the knowledge of cluster’s topology. This will abstract it from him.

[2018-12-29 10:34] matthiasr commented on #71071
Update: after 24 hours, still no issues, I'm stopping my experiment now & consider this a full success. Looking forward to 1.12.5!

[2018-12-29 10:59] xmudrii commented on #65442
/remove-lifecycle stale

[2018-12-29 11:20] s-pace commented on #67940
/remove-lifecycle rotten

[2018-12-29 11:31] lbernail commented on #71071
Ok this is very good news. I'm going to create the cherry-pick for all branches in order to get the fix in official releases as soon as possible.
Many thanks for your involvement in helping solve the issue and testing!

[2018-12-29 11:44] k82cn commented on #72413
If user did not know which runtime to use, what can we do?

[2018-12-29 11:48] lbernail commented on #71071
Cherry-picks:
`1.13`: https://github.com/kubernetes/kubernetes/pull/72426
`1.12`: https://github.com/kubernetes/kubernetes/pull/72429
`1.11`: https://github.com/kubernetes/kubernetes/pull/72430

[2018-12-29 12:07] yastij commented on #72413
knowing cluster's topology is not the same as knowing which runtime is required for your workload. Users usually know which runtime to use but not on which node it is available.

[2018-12-29 12:09] mlmhl commented on #72393
It seems that the output format is different between different ceph versions. I will try to fix it.

[2018-12-29 14:33] pradeepmurugesan commented on #68907
@fejta I can make the change..

[2018-12-29 14:48] Vonor commented on #72370
Some more info...

I set up two ubuntu 18.04 VMs
**On that note. I have tried the same network setup with debian and it _didn't_ work**
[code]

So both the master and the node are in the 192.168.178.0/24 network.

Docker setup according to the [docker-ce guide for ubuntu](https://docs.docker.com/install/linux/docker-ce/ubuntu/#install-docker-ce-1)
Setup Kubernetes according to the install kubeadm

[2018-12-29 15:02] #28924 closed

[2018-12-29 15:09] fyuan1316 commented on #72392
@fntlnz thanks for your quick reply.
In another namespace of my cluster, I tested it for another service. There are some differences in the results, which makes me confused.
![image](https://user-images.githubusercontent.com/42265657/50539254-52a5db00-0bb8-11e9-808a-4e85e19d7fc7.png)
![image](https://user-images.githubusercontent.com/42265657/50539269-7ec15c00-0bb8-11e9-844b-3905db82e452.png)

| t

[2018-12-29 15:48] fntlnz commented on #72370
@Vonor what happens if you try to do the exact same steps on Debian now?
It seems that when you tried on debian you where assigning different subnets to nodes with different debian versions or maybe that was intended?

[2018-12-29 15:50] mosaicwang commented on #65991
maybe https://github.com/kubernetes/kubeadm/issues/581#issuecomment-421477139 can solve your problem.

[2018-12-29 15:54] zq-david-wang commented on #72397
I tried with docker-client's log interface, it would return a HTTPResponse object without blocking even there is not log to read. Base on this, there should be a solution for kubernete-python project.

[2018-12-29 15:59] liggitt commented on #72397
Yes. Reading response headers only, then returning a reader object to stream the body is a normal feature for http clients.

[2018-12-29 16:39] diwakar-s-maurya commented on #18259
For others who face this and reach here.
I faced the same problem recently. (kubernetes 1.11.0, flannel 0.7.1, docker 1.13.1). Switching to userspace proxy in kube-proxy solved the problem.
```--bind-address=0.0.0.0 --kubeconfig=/etc/kubernetes/kube-proxy.kubeconfig --hostname-override=node1 --cluster-cidr=10.254.0.0/16 --proxy-mode=userspace```

After this, I upgraded to kubernetes 1.12.4. With t

[2018-12-29 17:11] smarterclayton commented on #72417
Do you have a backup?  Can you provide us an exact dump of that key value (from etcd), the raw bytes?

[2018-12-29 17:31] fntlnz commented on #72392
@fyuan1316 The way it is designed is:

- When you expose NodePort you are binding your port to the node port, so you access the service using the port on the node ip and you cannot access the service using the service's ip
- When you expose using ClusterIP you can access the service using the service's ip.

If you want to achieve both (node port and cluster ip)  what you do is that you create two

[2018-12-29 17:36] ensonic commented on #56402
/remove-lifecycle stale

[2018-12-29 17:37] smarterclayton commented on #72417
Also, was this an HA control plane or singleton?

[2018-12-29 18:00] yastij commented on #72413
kubelet advertise the runtimeVersion under nodeInfo, but it's not part of the well-known kubernetes labels.
I still expect this work out of the box without having to label hundreds of nodes (I agree that we can make kubelet surface runtime as a label) and start to think about adding affinities.

This is something so common that I'd expect it to be done automatically for the users, as I'm not sure

[2018-12-29 18:15] yastij commented on #66181
/remove-lifecycle rotten
/kind bug
/priority critical-urgent
/assign @yastij @jingxu97
/sig node

[2018-12-29 18:16] yastij commented on #66181
/remove-kind feature

[2018-12-29 18:59] yunfeizuo commented on #61625
This k8s-ci-robot should be disabled. It doesn't make sense to close active issues without any conclusion.

[2018-12-29 20:30] Sakib37 commented on #66874
I am also facing the same issue in k8s 1.13.0. I used the following configuration file and systemd unit file to start kube-scheduler.

cat /k8s/config/kube-scheduler-configuration.yaml
`kind: KubeSchedulerConfiguration
apiVersion: componentconfig/v1alpha1
algorithmSource:
  provider: DefaultProvider
clientConnection:
  acceptContentTypes: ""
  burst: 100
  contentType: application/vnd.kubernetes.p

[2018-12-29 20:44] liggitt commented on #66874
See the 1.13 release notes (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md#urgent-upgrade-notes):

 and the message printed when starting the 1.12 scheduler with that file:

https://github.com/kubernetes/kubernetes/blob/207cf133e1ab4c9324ffbae610d6d2fe3b7d6e74/cmd/kube-scheduler/app/options/configfile.go#L66-L68

[2018-12-29 21:18] Sakib37 commented on #66874
@liggitt  It worked. :+1:

[2018-12-29 21:48] Sergey80 commented on #26202
still reproducible in apps/v1beta2

apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: $APP_NAME-deployment
  labels:
    app: $APP_NAME-k8s ...

[2018-12-29 22:00] liggitt commented on #26202
Mutation of label selectors on deployments, replicasets, and daemonsets is not allowed in apps/v1beta2 and forward

[2018-12-29 22:01] liggitt commented on #26202
See https://github.com/kubernetes/kubernetes/issues/50808 for details

[2018-12-29 22:07] Huang-Wei commented on #72413
@yastij 's idea (to have a new Predicate supporting this) is based on the assumption that `RuntimeClass` is associated with node spec/status and synced properly. - **(A)**

And @k82cn 's idea is based on the assumption that `RuntimeClass` is associated and synced with node labels properly. - **(B)**

According to [design doc](https://docs.google.com/document/d/1W51yBNTvp0taeEss56GTk8jczqFJ2d6jBeN6

[2018-12-29 22:38] yastij commented on #72413
@Huang-Wei - I'm not sure, but we might find correlation between the runtimeClass of the pod and the runtimeVersion specified in nodeInfo.
I believe that for now, we do not associate runtimeClass with nodes. The kubelet only reads the runtimeClass to pass runtimeHandler to the underlying CRI.

[2018-12-29 22:54] Huang-Wei commented on #72413
Right now when you create a fake `RuntimeClass`, no error occurs - neither in validation nor in runtime phase. And I believe the `runtime` info hasn't surfaced in a kube API fashion yet, it's only correlated between CRI runtime and kubelet _internally_:

[code]

So prior to start implementation on scheduler side, `RuntimeName` is supposed to be exposed in node API object - either via spec/status o

[2018-12-29 23:52] yastij commented on #72413
We only surface the runtimeVersion on the node object under `.spec.nodeInfo.runtimeVersion`, But I agree we might want to just have `RuntimeName` added.

/sig node

[2018-12-30 00:12] hex108 commented on #67874
Open for some time. /remove-lifecycle rotten

[2018-12-30 00:13] hex108 commented on #67874
Open for some time.

/remove-lifecycle rotten

[2018-12-30 00:37] Vonor commented on #72370
I came up with the idea that iptables might be the issue. The idea came, since on Debian Buster there is iptables-legacy, which is not on ubuntu. So after a kubeadm reset I had to flush the netfilter tables as well as the legacy tables to get rid of everything.

So googling for "iptables kubernetes" I found this [article](https://docs.oracle.com/cd/E52668_01/E88884/html/kube_admin_config_iptables.

[2018-12-30 01:03] Vonor commented on #72370
Ok, seems like on Ubuntu the Forward Rule isn't enabled either. Further digging brings me back to my initial thought regarding legacy tables.

On Ubuntu
[code]
On Debian (Real Host)

[code]

[2018-12-30 02:30] k82cn commented on #72413
Nop, node affinity also support field; for now, we only support "Name" field right now.

My major concern is that, there're several similar "algorithm" there; it increased maintain effort and may impact performance. And if we want to do enhancement, several place need to care about :)

[2018-12-30 04:19] geerlingguy commented on #17512
/remove-lifecycle stale

Every month or so, my Googling leads me back to this issue. There are ways of getting the statistics I need with long `jq` strings, or with Grafana dashboards with a bunch of calculations... but it would be _so_ nice if there were a command like:

[code]

(similar to what @chrishiestand mentioned way earlier in the thread).

I am often building and destroying a few dozen t

[2018-12-30 05:03] jmcmeek commented on #72130
We've been using heapster as the sole metrics provider because the Kubernetes dashboard does not yet support metrics-server (https://github.com/kubernetes/dashboard/issues/2986).

I recognize that a 1.10 patch is doubtful, but a look at code (that I am not familiar with) suggested this problem could exist in later releases and also with metrics-server.  I've seen the problem a handful of times; th

[2018-12-30 05:14] rajatjindal commented on #57249
/reopen

[2018-12-30 05:16] rajatjindal commented on #57249
@micahhausler can you please reopen this ticket. We are looking forward for support of registering instances by IP as we believe we are running into intermittent timeout issues as explained in: https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-troubleshooting.html#loopback-timeout

[2018-12-30 06:51] Huang-Wei commented on #72413
That's true - just like what we did for daemonset pods scheduling.

Agree. If we can reuse this pattern (`key: <spec field like metadata.name>` in `nodeAffinity...matchFields`), it would save use duplicate efforts. Even if we can reuse this pattern, it's still necessary to add cache internally to index by `spec field` for performance purpose.

[2018-12-30 07:59] fntlnz commented on #72370
Oh right @Vonor you have a machine with Debian buster, I think you are hitting the exact same issue described in https://github.com/kubernetes/kubernetes/issues/71305

[2018-12-30 08:01] #72124 closed

[2018-12-30 08:09] nikhita commented on #56567
/remove-lifecycle stale

[2018-12-30 08:19] vbmade2000 commented on #69299
@caesarxuchao Do you mind if I work on this issue ?

[2018-12-30 08:29] KiranKhadatkar opened #72439 "Getting crash error #kubectl get pods --all-namespaces"
NAMESPACE     NAME                                                       READY   STATUS              RESTARTS   AGE
default       nginx-deployment-5c689d88bb-5r966                          0/1     ContainerCreating   0          51m
default       nginx-deployment-5c689d88bb-wb9jq                          0/1     ContainerCreating   0          51m
kube-system   coredns-576cbf47c7-gqzq7

[2018-12-30 08:37] warmchang commented on #22368
cc @warmchang

[2018-12-30 09:41] oronboni commented on #70324
Have the same problem. K8S 12.1

raw.go:146] Failed to watch directory "/sys/fs/cgroup/devices/system.slice/grub-common.service": inotify_add_watch /sys/fs/cgroup/devices/system.slice/grub-common.service: no space left on device

[2018-12-30 11:17] krmayankk commented on #68397
I have a rough draft of the KEP ready. Will make the PR in a couple days

[2018-12-30 11:38] nomaed commented on #65096
@anupam4881 so how did you resolve this on machines that had this issue?

[2018-12-30 11:42] yastij commented on #72413
I’m not against reusing nodeAffinity to implement a runtime predicates, performance-wise it’s still the same as if added by the user and it avoids duplication.

[2018-12-30 13:14] #68139 closed

[2018-12-30 14:17] liggitt commented on #72439
That means the kubelet cannot start those pods. Try viewing events (`kubectl get events --all-namespaces`) to see more info about why

/close

[2018-12-30 14:17] #72439 closed

[2018-12-30 14:19] Vonor commented on #72370
It indeed seems to be the same issue. So let's close here and keep it in #71305

/close

[2018-12-30 14:19] #72370 closed

[2018-12-30 16:00] xigang commented on #70324
the same issue.

[2018-12-30 17:12] forguta opened #72444 "How can i list pods at the cluster scope?"
When using kubernetes - filebeat , is it possible to access logs of all pod list on master node? ( without daemonset, i need a 1 deployment on master node)

Note: I've done this by chance before. I lost the configurations when transferring to helm. Actually the question is "Is it possible?" not, "how can I do?"

[sample conf](https://raw.githubusercontent.com/elastic/beats/6.5/deploy/kubernetes/fi

[2018-12-30 19:30] liggitt commented on #72444
`kubectl get pods --all-namespaces --field-selector spec.nodeName=<master-node-name>` would work

/close

[2018-12-30 19:30] #72444 closed

[2018-12-30 19:30] #48843 closed

[2018-12-30 19:33] forguta commented on #72444
@liggitt  have you read the question?

[2018-12-30 19:43] liggitt commented on #72444
Apologies, I misread it based on the title.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/

[2018-12-30 21:40] yastij commented on #72413
cc @resouer

[2018-12-30 22:33] #64109 closed

[2018-12-31 00:13] k82cn commented on #64533
/remove-lifecycle stale

[2018-12-31 00:53] randomvariable commented on #60869
Confirming this issue.

We should ship modprobe with compressed support.

@jejer - does this mean if we update our build dependencies, we should be ok?

/assign

[2018-12-31 01:36] #62149 closed

[2018-12-31 02:37] #66945 closed

[2018-12-31 02:48] ConnorDoyle commented on #49964
/remove-lifecycle stale

[2018-12-31 03:02] ConnorDoyle commented on #72313
@tangle329 just to clarify, are you referring to use of the `cpuset.cpu_exclusive` flag? If so, the CPU manager does not currently use this. Exclusivity is achieved by gradually migrating containers off of "exclusive" allocations.

The rest of what you described is pretty similar to the behavior given a burstable pod and a best-effort pod on the same node. The BE pod gets minimal shares (2) and th

[2018-12-31 03:32] ljfranklin opened #72447 "`hyperkube kubectl` panics on ARM architecture (v1.13.0+)"
**What happened**:

Attempted to run `hyperkube kubectl get pods` but it panics on ARM architecture (Raspberry Pi 3 B+):

[code]

Interestingly the `kubectl` binary from the same archive works as expected. Only the `hyperkube` binary seems to have the issue.

Full panic output:

[panic.log](https://github.com/kubernetes/kubernetes/files/2717705/panic.log)

**What you expected to happen**:

`kubect

[2018-12-31 03:34] ljfranklin commented on #72447
@kubernetes/sig-cli-bug

[2018-12-31 03:34] ljfranklin commented on #72447
/sig cli

[2018-12-31 05:40] #62134 closed

[2018-12-31 05:57] surajssd commented on #69146
/remove-lifecycle stale

[2018-12-31 09:14] bjornryden commented on #71071
I can join the choir of happy testers. 4 days of no trouble happening.

Thanks a lot to all involved, especially @lbernail. Happy New Year!

[2018-12-31 09:35] vikaschoudhary16 commented on #66952
/reopen
/remove-lifecycle rotten

[2018-12-31 10:45] #66957 closed

[2018-12-31 12:41] katanyoussef commented on #70202
Hi,
i got the same error, if someone have an answer can you plz help, i re-did it 3 time the same result...maybe i m missing something also the coredns dns is showing conatinercreating all the time.....

[2018-12-31 13:38] tjimsk opened #72459 "Kubernetes API docs section index autoscroll only goes down as far as `CONFIG AND STORAGE APIS > Volume Attachment v1beta1 storage.k8s.io`"
To reproduce:

1. Go to https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/
2. Click on any section index item below `CONFIG AND STORAGE APIS > VolumeAttachment v1beta1 storage.k8s.io` (for example, `CLUSTER APIS > Namespace v1 core`)
3. The focus goes to `CLUSTER APIS` click on `Namespace v1 core`.  The index view automatically scrolls to and focuses on `CONFIG AND STORAGE APIS >

[2018-12-31 13:39] tjimsk commented on #72459
/sig docs

[2018-12-31 13:46] Sanjary commented on #70506
Hey @ryanmcnamara, if you are using your own webhook, then you can set the status code yourself. We do this and it works as expected. Check this:

https://github.com/kubernetes/api/blob/01ff9a9183351161976ac234ac88da924d1df1ef/admission/v1beta1/types.go#L92

However, if you don't set this status code in the result, IIRC the default gets set to 500.

[2018-12-31 14:48] olemarkus commented on #63959
/remove-lifecycle stale

[2018-12-31 16:36] liggitt commented on #72447
do the other hyperkube commands exhibit the same crash? if kubectl works standalone, it is likely the source of the crash is another init block from another of the commands bundled into hyperkube. attempting the other standalone commands might help barrow down the problematic one

[2018-12-31 16:42] liggitt commented on #72459
Thanks for the report. Please open this against https://github.com/kubernetes/website/issues so the right team can address it

/close

[2018-12-31 16:42] #72459 closed

[2018-12-31 16:51] #66972 closed

[2018-12-31 16:58] kfox1111 commented on #22368
yeah, we can write a kep for what the user interface should look like. That might be the best way forward?

[2018-12-31 17:43] m1kola commented on #71472
Closing this issue. See https://github.com/kubernetes/kubectl/issues/558#issuecomment-450673237 for a bit more details.

/close

[2018-12-31 17:43] #71472 closed

[2018-12-31 18:53] #66970 closed

[2018-12-31 20:43] maresja1 opened #72460 "GKE single-line JSON logging"
**What happened**:

When upgrading from GKE 1.11.3 to 1.11.4 single-line json logging stops working.

For a line logged to stdout:

[code]

On the GKE versions up to 1.11.3, there is a jsonPayload in Stackdriver logging corresponding to the structure of the JSON and severity is taken into account. On the versions of 1.11.4 and above, there is only textPayload containing unparsed json:

![image](ht

[2018-12-31 20:46] maresja1 commented on #72460
/sig gcp

[2018-12-31 20:46] maresja1 commented on #72460
/sig gcp

[2018-12-31 21:55] tuanqle commented on #72121
Update
To rule out deployment problem, I used kubespray to deploy a ubuntu 16.04.5 LTS cluster. The same problem existed. This is with kubernetes v1.12.3.

[2019-01-01 02:00] FANLONGFANLONG commented on #54263
i run into same issue, may i know what solution is to solve the issue?

[2019-01-01 02:00] FANLONGFANLONG commented on #54263
@krmayankk

[2019-01-01 02:10] VincentFF commented on #71071
I build it and deploy to test env, over 24 hours have no issues. Happy new year.

[2019-01-01 03:46] evankanderson commented on #17512
One additional request -- I'd also like to be able to see summed resource usage by namespace (at a minimum; by Deployment/label would be additionally great), so I can focus my resource-trimming efforts by figuring out which namespaces are worth concentrating on.

[2019-01-01 05:18] #71165 closed

[2019-01-01 05:18] #71811 closed

[2019-01-01 07:36] KristianWindsor commented on #33777
I'm also having this issue. Is there no solution or steps to debug this yet?

[2019-01-01 08:14] KristianWindsor commented on #34583
I'm also having this issue...
[code]
So there's no solution to this?

[2019-01-01 10:06] ernoaapa opened #72461 "Allow port-forwarding to init-container"
**What would you like to be added**:
Allow port forwarding to init-container. Now the Pod must be in Ready state before you can execute `kubectl port-forward`.

**Why is this needed**:
Sometimes you want to do some preparation before the actual Pod starts. Few examples are:
- Initialize database files from your local laptop
- Synchronize local files to the container (see https://github.com/ernoaap

[2019-01-01 11:53] armanriazi opened #72462 "Stuck at kube-flannel-ds-amd64 Init:0/1"
@kubernetes/sig-contributor-experience-test-failures
@kubernetes/sig-onprem
@kubernetes/sig-network

When I run kubectl get pods -o wide -n kube-system i get this statues:

traced:

for another pods:

even I deleted two pods  but it no change anything

[2019-01-01 12:10] #65583 closed

[2019-01-01 13:40] Zyqsempai opened #72465 "Refactor cloud-controller-manager options flags into constants"
Flag names in https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/options/options.go can be refactored into constants

example: https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/options/options.go#L133

The refactoring inspired by https://github.com/kubernetes/kubeadm/issues/1333

/kind feature

cc @fabriziopandini

[2019-01-01 13:45] Zyqsempai commented on #72465
@fabriziopandini Can you check this one? the options.go file here is full of hardcoded flags, I thought about to add constants.go file and move all of them there. What do you think?

[2019-01-01 14:20] Zyqsempai commented on #72465
/sig cluster-lifecycle

[2019-01-01 14:38] daigong commented on #71071
Hello, My env is
Ubuntu 16.04.4 LTS
Kubernetes version (use kubectl version): v1.13.0
Cloud provider or hardware configuration: bare metal, 64 bit linux
Kernel 4.4.0-75-generic

same bug:

I0101 22:20:09.742898  267576 graceful_termination.go:160] Trying to delete rs: 10.200.198.70:9090/TCP/172.200.101.32:9090
E0101 22:20:09.742975  267576 proxier.go:1519] Failed to get IPVS service, error: Expect

[2019-01-01 14:39] ernoaapa commented on #72461
@kubernetes/sig-cli-proposals

[2019-01-01 17:04] gbevan commented on #72089
fyi - I solved this in my project's postStart using `disown` (avail in bash) - see https://github.com/goethite/gostint-helm/blob/master/gostint/charts/vault/scripts/vault/unseal.sh#L48-L50

[2019-01-01 20:49] gajus commented on #40157
This remains an active issue.

There appears to be no way to gracefully handle OOMKilled at the moment.

@dashpole Can this be re-opened?

[2019-01-01 21:31] kenlavoie commented on #7923
I'd like to take this as a first issue - CLA is in progress

Anyone available to review before submitting a PR?

[2019-01-01 22:48] nelsonfassis commented on #33777
@KristianWindsor I will suggest you to describe the node you believe that should fit your request and check how it is. In my case, my mistake was to think that "requests == usage", so my nodes were using almost nothing of my resources but I made all the requests already.
I believe that should be your case too.

[2019-01-01 23:01] mcluseau opened #72467 "kubelet with cri-o goes crazy on CPU/RAM"
**What happened**:

In correlation to https://github.com/kubernetes-sigs/cri-o/issues/1927#issuecomment-450588927, when the kubelet get invalid responses from the CRI engine (CRI-O):

[code]

then the kubelet is also seen at very high CPU and memory usage:

[code]

**What you expected to happen**:

A better handling of that situation, so the kubelet can stay responsive and do its others tasks. Thi

[2019-01-01 23:01] mcluseau commented on #72467
/sig node

[2019-01-02 00:17] edify42 commented on #70342
@rbtcollins  seen this? https://github.com/mumoshu/kube-spot-termination-notice-handler

[2019-01-02 00:53] orestisf opened #72468 "Error loading CNI config file /etc/cni/net.d/10-flannel.conf: no 'type'; perhaps this is a .conflist"
**What happened**:
I've (successfully) set up a k8s cluster in an environment using one master and two workers and am using flannel for networking

The network appears to be functioning (at least I can deploy a basic nginx container) but in journaclt I see repeatedly (~every 5 seconds) the following log:

`Ιαν 01 03:43:48 MASTER-HOSTNAME kubelet[28784]: W0101 03:43:48.321342   28784 cni.go:161] Er

[2019-01-02 00:58] orestisf commented on #72468
/sig network

[2019-01-02 01:31] jejer commented on #60869
suppose update base image should fix this issue.

[2019-01-02 01:35] liggitt commented on #65991
For the original issue,
https://github.com/kubernetes/kubernetes/pull/62152/commits/368959346af6e06085c63a4cc7c37839f262f636 was added to resolve that in 1.11

@vistalba if both the normal kubelet client certificate and the bootstrap client credential are expired, going back to your setup method to recreate a credential for the kubelet is the best recommendation

/close

[2019-01-02 01:35] #65991 closed

[2019-01-02 03:44] mcluseau commented on #72467
Example 1m load average:
![image](https://user-images.githubusercontent.com/3868856/50579851-e9b2b180-0e9c-11e9-8676-ede4ebea30e3.png)

[2019-01-02 04:12] wahaha2001 commented on #3595
@jasongerard Just tried your solution but not work, anything I missed?

I am using Alpine as the base image and want to run "ulimit -l unlimited" in entrypoint.sh by non-root user esuser.  My Kubernetes cluster running upon Ubuntu 16.04 and using overlay2 FS.

[code]

Got error message like this :
```/entrypoint.sh: line 21: ulimit: max locked memory: cannot modify limit: Operation not permitted``

[2019-01-02 04:46] liggitt commented on #72417
and was the etcd version the same before and after the upgrade?

[2019-01-02 05:32] jasongerard commented on #3595
@wahaha2001 you are calling setcap on a shell script. The executable that gets invoked requires the capability. In the case of a script, whatever the executable is in your ‘#!’ will need the capability.

[2019-01-02 05:47] vinrar commented on #18755
https://stackoverflow.com/questions/49612412/kubenetes-is-it-possible-to-hit-multiple-pods-with-a-single-request-in-kubernet
StackOverflow question and user response.

[2019-01-02 06:09] FrostyLeaf commented on #71071
@daigong v1.13.1 have fixed this. In my case, no issues after more than one week.

[2019-01-02 06:16] mcluseau commented on #72467
log analysis shows the correlation is not causality. Here are the log sources lines that occur only during error periods, with example:

[code]

If volume errors are not significant, only the error about creating the summary reader is left.

[2019-01-02 06:29] denverdino opened #72472 "conntrack config can get large and cause "falling back to vmalloc" warning"
**What happened**:

In the dmesg log, there are lots of  warnings for  "nf_conntrack: falling back to vmalloc."

**What you expected to happen**:

No such warning

**How to reproduce it (as minimally and precisely as possible)**:

It always happens on the 96core machine. In the k8s.io/kubernetes/cmd/kube-proxy/app/server.go

[code]
By default config.MaxPerCore is 32K, the getConntrackMax will retu

[2019-01-02 06:32] dghubble opened #72473 "ClusterRole system:kube-scheduler cannot get extension-apiserver-authentication configmap"
/kind bug
/sig auth
/sig api-machinery

**What happened**:

This is exactly analogous to https://github.com/kubernetes/kubernetes/issues/68986, but for kube-scheduler.

Kubernetes clusters with a self-hosted control plane (i.e. apiserver, controller-manager, scheduler run as pods) may run kube-scheduler with a service account with a ClusterRoleBinding to the default ClusterRole `system:kube-schedu

[2019-01-02 06:35] dghubble commented on #72473
Oh, another detail. While in the kube-controller-manager missing permisison case, not being able to get the configmap was fatal, for the kube-scheduler, its merely an error. I still think we ought to have the default ClusterRole match the intended use, but figured I mention that.

[2019-01-02 06:40] BSWANG commented on #72472
/sig network

[2019-01-02 06:53] whereisaaron opened #72475 "Missing/inconsistent merge patch strategy for ServiceAccount imagePullSecrets"
The `imagePullSecrets` array on `ServiceAccounts` does not specify a patch strategy of 'merge', so when you try to 'stategic' or 'merge' patch in a new Secret name, any existing Secret names all get removed/replaced. It seems like a merge patch strategy would be appropriate for this array, and indeed the `imagePullSecrets` array for `Pods` already specifies a merge patch strategy. This seems like

[2019-01-02 06:56] whereisaaron commented on #72475
/sig api-machinery

[2019-01-02 07:02] xiaoxubeii commented on #72355
OK, I am glad to do that.

[2019-01-02 07:13] yagonobre commented on #72465
Thanks @Zyqsempai, can you open a issue on http://github.com/kubernetes/kubeadm?
/remove-kind feature
/area kubeadm

[2019-01-02 09:12] tossmilestone commented on #72475
@whereisaaron because there is no `patchStrategy` tag on `imagePullSecrects`, I could create a PR to fix the issue.

[2019-01-02 09:22] tossmilestone commented on #72475
/assign

[2019-01-02 10:43] aermakov-zalando commented on #72129
@Huang-Wei Yes, I understand how it's currently implemented. I was just trying to argue that although it's simple from the implementation perspective, actually using taints & tolerations correctly is a lot harder than necessary with some gotchas. Even built-in Kubernetes commands don't actually work correctly. However, this is probably out of scope of the issue and unlikely to be changed due to BC

[2019-01-02 10:45] uablrek commented on #72236
Related `kube-router` issue; https://github.com/cloudnativelabs/kube-router/issues/282

[2019-01-02 11:22] max8899 commented on #72414
@Bharathkumarraju there are a lot of `TLS handshake timeout `, you can check if your apiserver is still alive, it might be evicted if the node is under pressure. You can set a memory limit for it.

[2019-01-02 12:10] cadeniyi commented on #65153
So I have created a pull-request for the checkpoint restore issue:

https://github.com/kubernetes/kubernetes/pull/72202

I haven’t hadn’t any response from any of the reviewers yet though.

--
Chris Adeniyi-Jones
Principal Research Engineer
Phone: +441223400472
Chris.Adeniyi-Jones@arm.com<mailto:Chris.Adeniyi-Jones@arm.com>

From: kfox1111 <notifications@github.com>
Reply-To: kubernetes/kubernetes

[2019-01-02 12:35] Bharathkumarraju commented on #72414
@max8899 yes it is alive and working fine.

[code]

[2019-01-02 12:39] wojtek-t opened #72479 "Rethink pod affinity/anti-affinity"
Pod Affinity/AntiAffinity is causing us a bunch of pain from performance/scalability perspective.

Although scheduling SIG has done tremendous effort to improve it, it's still the very significant (most?) factor for scheduling throughput.

The reason why this is so painful, is that it is cluster-wide function, i.e. we need to know the state of the whole cluster to compute feasibility/priority of a

[2019-01-02 12:52] redbaron opened #72480 "kube-proxy componentConfig ergonomics"
**What would you like to be added**:

With a push to migrate all components  to componentConfig it is important not to make existing use-cases worse.. More specifically, following uses should remain possible and be easy to use:

 1. `--hostname-override` should remain "legal" cli switch as it makes no sense to put it into supposedly common config
 2. configuration fetch/reload (probably common to

[2019-01-02 13:21] wojtek-t commented on #72408
https://github.com/kubernetes/kubernetes/pull/72481 is roughly what I had in mind.
We need to verify the impact and fix tests, but it should be roughly it.

[2019-01-02 13:33] denverdino opened #72482 "Deadlock in PLEG relist() for health check and Kubelet syncLoop()"
**What happened**:

In our stress testing, we found the deadlock issue in PLEG relist() for healthy checking and Kubelet syncLoop()

The goroutine stack trace is as following

[code]

We did some investigation, and found the following issue.

[code]

The main loop for event processing in Kubelet will check if there are some runtimeErrors: if yes, wait until runtime back to normal; if no, it will c

[2019-01-02 13:35] #41193 closed

[2019-01-02 13:42] BSWANG commented on #72482
/sig node

[2019-01-02 14:10] astrieanna commented on #71851
It seems like two possible approaches to fix this would be:

(1) Use the cloud provider in kube-proxy, so that kube-proxy can use the exact same code to go from hostname-override to nodename. This seems like the option that would be easiest for the user (it will always work because its literally the same code that kubelet is using), but requires adding a dependency on cloud-provider that is otherw

[2019-01-02 14:25] liggitt opened #72485 "1.12 kubelet upgraded to 1.13 leaves stale OutOfDisk condition"
**What happened**:

https://github.com/kubernetes/kubernetes/pull/70111 removed reporting of the OutOfDisk condition in the kubelet.

A 1.12 kubelet upgraded to a 1.13 kubelet leaves the previously reported OutOfDisk condition in place, and it eventually gets switched to Unknown status.

**What you expected to happen**:

If this condition is no longer reported, it should be removed by the kubelet.

[2019-01-02 14:49] svuong-dev opened #72486 "Gpu allocation fails after initContainer finishes"
**What happened**:
This bug is similar to #42412
When creating a pod spec with an init container that requests all the available gpus on a node, if both the initContainer and normal container request that max amount, the init container will run fine but the normal container hits
[code]

**What you expected to happen**:
The init container should release the gpu and it should be available for subseq

[2019-01-02 14:52] svuong-dev commented on #72486
/sig node

[2019-01-02 15:49] sokoow opened #72488 "kubectl port-forwarding has a hardcoded concept that assumes target pod/container to be listening on 127.0.0.1"
**What happened**:
Seems like kubectl port-forwarding has a hardcoded concept that assumes target pod/container to be listening on 127.0.0.1. We've ran into some trouble for containers that appear listen on IP of the pod only. Yeah I know, it's enough to just change listen address of app in the pod to 0.0.0.0 and it should resolve it - try that with legacy apps and slower code cycle changes apps.

[2019-01-02 15:50] sokoow commented on #72488
/sig cli

[2019-01-02 16:09] bajishaik0073 commented on #23618
ubuntu@ip-172-31-85-158:~$ kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCom                                                                                                                mit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:

[2019-01-02 16:09] bajishaik0073 commented on #23618
getting this error

[2019-01-02 16:49] dolanmiu opened #72490 "kubectl vs kubeclt (command-line tool)"
I can't find anything on google about this, but everywhere in the documentation, `kubectl` is referred to as the "Kubernetes **C**ommand-**L**ine **T**ool"

[code]

So, naturally, should it not be `kubeclt` rather than `kubectl`? As CLT stands for **C**ommand-**L**ine **T**ool.

/sig-cli

[2019-01-02 16:57] liggitt commented on #72473
duplicate of https://github.com/kubernetes/kubernetes/issues/71752

/close

[2019-01-02 16:57] #72473 closed

[2019-01-02 17:12] timothysc commented on #66312
/assign @timothysc

Closing this as the client was updated for more than 2 releases now.

[2019-01-02 17:12] #66312 closed

[2019-01-02 17:40] Shnatsel commented on #72490
This probably makes sense, but the tool is far too widespread to rename it now.

[2019-01-02 18:09] bowei commented on #66465
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2019-01-02 18:10] bowei commented on #63552
/lifecycle frozen

[2019-01-02 18:38] mahmoudm commented on #66312
This is reproducible with the latest version.
On Wed, Jan 2, 2019 at 9:14 AM Timothy St. Clair <notifications@github.com>
wrote:

[2019-01-02 18:40] liggitt commented on #66312
with what version of the etcd server?

[2019-01-02 18:57] bowei commented on #20767
1. You can look at the endpoints + wait for longer than kube-proxy sync time.
2. Conn refused means packets got to their destination but there was nothing listening there. If traffic is blocked, then you will just get a timeout.

[2019-01-02 19:13] dashpole commented on #40157
/reopen
/remove-lifecycle rotten

[2019-01-02 19:16] misterikkit commented on #72355
Yes, if I understand you correctly. The scheduler framework effort should meet these needs. https://github.com/kubernetes/enhancements/issues/624

These components were moved to `internal` specifically because we didn't intend them to be consumed as APIs, and we don't want the cost of maintaining them like public APIs.

These are valid points. we *do* intend for constructing a scheduler to remain

[2019-01-02 19:18] logicalhan opened #72492 "kube-apiserver etcd object count metrics do not allow us to infer the total number of objects in etcd"
Currently we only log out the etcd object counts for resources which we know about. Noteably, we do not output the object counts for dynamic resources (i.e. CRDs). This can be problematic when troubleshooting a cluster. We should be able to export (as metrics) both the total number of objects in etcd at a given time as well as the sum total of the CRD objects in existence at a given time.

/kind b

[2019-01-02 19:18] liggitt opened #72493 "TestValidateOnlyStatus flakes with `apiVersion: Invalid value`"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1135464872302088192
[code]

cc @mbohlool @sttts

[2019-01-02 19:18] logicalhan commented on #72492
/assign @logicalhan
/sig api-machinery

[2019-01-02 19:21] andrewsykim commented on #68234
/remove-lifecycle rotten

Need to update the README again so link out to the enhancement issues per cloud provider.

[2019-01-02 19:21] sun7927 commented on #72131
@gnufied is there any timeline to fix this issue, and how to fix?

[2019-01-02 19:35] liggitt commented on #72490
it is an abbreviation of "control", along the lines of etcdctl, systemctl, journalctl, ...

/close

[2019-01-02 19:35] #72490 closed

[2019-01-02 19:44] liggitt commented on #72475
unfortunately, changing the merge patch strategy is not backwards compatible with existing API usage. you can use a json patch to append items to the list

[2019-01-02 19:57] bosatsu commented on #68270
New to kubernetes, but I believe I may be seeing this issue as well in v1.12.3:

Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:39:04Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3",

[2019-01-02 20:08] resouer commented on #72485
/assign

We happened to have a fix handy, if no one is working on it.

[2019-01-02 20:30] misterikkit commented on #64533
I feel like this is sufficiently addressed by the work in  #68951 (combination of pending and completed work)

/close

[2019-01-02 20:30] #64533 closed

[2019-01-02 20:31] misterikkit commented on #67857
/remove-lifecycle rotten

[2019-01-02 20:34] gnufied opened #72497 "Regression in volume provisioning with shared datastore on vSphere"
It appears that vSphere used to support dynamic volume provisioning even if datastore being used isn't shared with all VMs in the cluster (somewhere in 1.7/1.8). But in 1.9 - we changed this behavior and now volume provisioning does not work at all if any of datastore being used is not shared between all VMs of the cluster.

Shouldn't this be considered a breaking change?

cc @divyenpatel @Sandeep

[2019-01-02 20:35] gnufied commented on #72497
/sig storage
/sig vmware

[2019-01-02 20:36] dcbw commented on #27398
@briantopping will close this one in favor of that then.

[2019-01-02 20:36] #27398 closed

[2019-01-02 20:52] tallclair commented on #72413
We discussed this a couple months ago, with a few options enumerated in https://docs.google.com/document/d/1W51yBNTvp0taeEss56GTk8jczqFJ2d6jBeN6sCSlYZU/edit?ts=5bb7d4d6

Since writing that, I'm reconsidering built-in scheduler support vs. "injecting" node affinity. The basic idea is the node affinity is declared on the RuntimeClass, and an admission controller updates the PodSpec with the given af

[2019-01-02 21:03] jasongerard commented on #3595
@wahaha2001 You will still need to add the IPC_LOCK capability to your pod.

[code]

[2019-01-02 21:05] whereisaaron commented on #72475
Thanks @liggitt I did look test a json patch, and it works to add, but you can't test if the item is in the array/list already, so I think their is no atomic json patch to do this?

Isn't any existing API usage expecting this, a direct result of working around this problem?

Even so, when this is fixed, it isn't a problem if people patch in the same Secret name, since a merge patch won't lead to a

[2019-01-02 21:10] liggitt commented on #72475
API breakage is not acceptable even on minor versions. Changes in behavior like that would require an API revision (e.g. `v2`) which is not planned in the near term

[2019-01-02 21:19] msau42 commented on #68261
/remove-lifecycle stale

[2019-01-02 21:40] bsalamat commented on #72479
cc/ @Huang-Wei

@wojtek-t
I agree that a better and easier-to-use spreading feature would be very helpful. Many users have asked for it. [We have been recently trying](https://docs.google.com/document/d/1llmjRNp5UEfzXR0Tv7btt5zB04FW8bu960t_o91mueI/edit?ts=5c257c4a#heading=h.73kvan3rx3cr) to add it by augmenting affinity/anti-affinity.
I also agree that restricting inter-pod affinity/anti-affinity

[2019-01-02 21:43] whereisaaron commented on #72475
Oh dear, we are stuck with this for a while then @liggitt! 😅
Thanks for your efforts @tossmilestone 👏 ❤️

[2019-01-02 21:43] #72475 closed

[2019-01-02 21:58] #62044 closed

[2019-01-02 22:04] krzysztof-jastrzebski opened #72499 "Nodes are not removed after deleting VMs."
**What happened**:
Nodes are not removed after deleting VMs.

**What you expected to happen**:
Nodes should be deleted.

**How to reproduce it (as minimally and precisely as possible)**:
Create cluster using HEAD build with 5 nodes. Remove 4 nodes. List nodes. There will be 4 NotReady nodes and 1 Ready. I checked that nodes were not removed after 10 minutes.

**Anything else we need to know?**:
Th

[2019-01-02 22:05] krzysztof-jastrzebski commented on #72499
/assign andrewsykim
/assign mtaufen
/sig node

[2019-01-02 22:10] jingxu97 opened #72500 "CSI plugin registration problem after kublet restarts"
After kubelet restarts, CSI plugin might not be re-registered soon. This cause a problem for volume reconstruction procedure. When kubelet found some mounts that need to be cleaned up, it will fail to do so because driver is not registered yet.
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kern

[2019-01-02 22:12] tallclair commented on #65408
/remove-lifecycle rotten

[2019-01-02 22:13] mtaufen commented on #61649
/remove-lifecycle stale
/lifecycle frozen

[2019-01-02 22:40] jwatte commented on #36152
I really wish --bind-address was supported in kubectl port-forward.

[2019-01-02 22:47] msau42 commented on #68097
This hasn't flaked in a while, at least in the blocking suites
/close

[2019-01-02 22:47] #68097 closed

[2019-01-02 22:51] pwittrock commented on #17144
As devil's advocate - kubectl logs already supports using label selectors, and exec / attach could be updated to support this as well.  Are selectors insufficient, or just not widely publicized?

[2019-01-02 22:58] montyz opened #72501 "kubectl cp can't copy filenames with ":" in them"
**What happened**:
[code]

**What you expected to happen**:
Expected it to copy.

**How to reproduce it (as minimally and precisely as possible)**:
Try to `kubectl cp` anything with a colon in the filename

**Anything else we need to know?**:
No.

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

/kind bug

[2019-01-02 23:06] gajus commented on #40157
I have since addressed this issue by implementing memory usage within the program itself and gracefully terminating the service when it researches near the limit memory usage.

I have open-sourced the abstraction used to retrieve the Kubernetes resources for the current running pod.

https://github.com/gajus/preoom

[2019-01-02 23:18] davidmatson commented on #68967
/remove-lifecycle stale

[2019-01-02 23:19] davidmatson commented on #68967
/lifecycle frozen

[2019-01-02 23:24] xinma opened #72502 "pods with nodeAffinity went to MatchNodeSelector state after node reboots"
pods with `nodeAffinity` went to `MatchNodeSelector` state.

**What happened**:

After a power maintenance (or decent amount of nodes reboot together in short period of time), lots of pods went into `MatchNodeSelector` state hence not coming up.
Even after cluster later went to a stable state and all nodes became ready/up-to-date. these `MatchNodeSelector` (failed to be admitted) pods never came u

[2019-01-02 23:43] bayerb commented on #69327
/close

[2019-01-02 23:43] #69327 closed

[2019-01-02 23:52] mtaufen commented on #72499
GKE still sets --cloud-provider=gce on kube-controller-manager, as far as I can tell, which means LoopMode should still be set to IncludeCloudLoops, and the cloud-specific controller @andrewsykim added in #70344 should be running, so my first guess (that it was just turned off) doesn't appear to be correct.

@krzysztof-jastrzebski can you check whether your controller-manager logs contain any mess

[2019-01-03 00:09] msau42 commented on #72347
Here's another place where IsLikelyNotMountPoint() needs to change: https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/volume/csi/csi_mounter.go#L387

[2019-01-03 00:11] andrewsykim commented on #72499
I haven't had a chance to test the changes I merged end-to-end yet given I was taking some time off from the holidays but I will check if this is reproducible in other cloud providers to gather more data. Thanks for reporting @krzysztof-jastrzebski!

[2019-01-03 00:16] msau42 commented on #68912
/remove-lifecycle stale

[2019-01-03 00:51] #72311 closed

[2019-01-03 01:07] caseydavenport commented on #72186
I feel this isn't something that kube core can enforce. While not the mainline, it's feasible that _someone_ might want a specialized network plugin that assigns the same address to multiple pods.

[2019-01-03 01:18] resouer commented on #72129
Let's move the discussion from https://github.com/kubernetes/kubernetes/pull/72315#issuecomment-451032040 to here.

The approach I'm proposing is: we can have an Admission to taint nodes when they are created, and then use Node Controller to un-taint nodes based on condition update.

Open for discussion to see if there're edge cases and will draft a design to follow up here.

[2019-01-03 01:18] resouer commented on #72129
/assign

[2019-01-03 01:31] amelbakry commented on #45300
Hello Every one,
To use this feature, I used Statefulset with Readiness probe.
So running 2 pods, for example, active-passive-0, active-passive-1

kubectl get po | grep active
active-passive-0                               1/1       Running   0          8m
active-passive-1                               0/1       Running   0          6m

I created a script for readiness probe to check if the other

[2019-01-03 01:40] k82cn commented on #72413
emm... Seems I also supported a new native algorithm/policy for runtime-class in this doc :); anyway, I'd like to see whether `NodeAffinity for field` will contribute :)

[2019-01-03 01:52] JishanXing commented on #72501
/sig-cli

[2019-01-03 01:53] resouer commented on #72479
In the community, I saw some users actually have a custom priority to spreading pods evenly in the cluster, while this approach leaves extra burden to users for setting proper weight. I believe @Huang-Wei have more inputs regarding to this direction.

[2019-01-03 02:05] WanLinghao commented on #72501
/assign

[2019-01-03 02:16] zhangxiaoyu-zidif commented on #72485
after upgrade kubelet should ignore this condition .

[2019-01-03 02:32] k82cn commented on #72129
How to handle k8s upgrade? The new version of kubelet will update instead of create Node.

Another option is introduce something similar to taint in `Node.Status` refer to (https://github.com/kubernetes/kubernetes/pull/72315#issuecomment-451035556 ). For now, taint is in `node.spec`.

[2019-01-03 03:15] wgliang opened #72506 "Pod affinity/anti-affinity support Gt and Lt operators"
**What would you like to be added**:
We know that node affinity/anti-affinity currently supports In, NotIn, Exists, DoesNotExist, Gt, Lt. But  pod affinity/anti-affinity only works with regular label selectors: In, NotIn, Exists, DoesNotExist

FYI:
https://bugzilla.redhat.com/show_bug.cgi?id=1462543;
https://github.com/kubernetes/website/issues/4137

**Why is this needed**:

_I don't know why Pod

[2019-01-03 03:16] wgliang commented on #72506
/sig scheduling
/assign

[2019-01-03 03:17] andyzhangx commented on #71853
any chance to retry now?

[2019-01-03 03:18] dixudx commented on #72485
@zhangxiaoyu-zidif Better not. What if both condition `DiskPressure` and `OutOfDisk` exist?

[2019-01-03 03:37] workhardcc commented on #60821
@tianshapjq what is "DynamicKubeletConfig to all components", maybe I have the same issue with u.

[2019-01-03 03:44] Pingan2017 commented on #72485
@liggitt  #67037 should be picked to 1.13 also, I think.

[2019-01-03 03:54] ryanmcnamara commented on #70506
@Sanjary I repro'd as I described with the following admission result returned from the webhook
[code]
We were already setting the Result field, it doesn't seem to have an effect on the http code returned by the api server.

Curling the apiserver to create a pod with a webhook always returning the above admission response: https://gist.github.com/ryanmcnamara/5a7914e22567b0c29008f2a70dbdf37f

[2019-01-03 03:58] xiaoxubeii commented on #72355
Yes, the scheduler framework would achieve this requirement.

OK, I will try to construct the scheduler on a higher API and prevent from referencing internal package.
But actually accessing directly schedule cache and queue would be helpful for me to tune and test Kubernetes schedule.

[2019-01-03 04:15] tvishwanath-arkin commented on #72195
@liggitt I tried **/api/v1/pods** with the above Accept header but to no avail. I get the below error from api server. I tried on a K8S 1.9.6 cluster
{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure",
    "message": "only the following media types are accepted: application/json, application/yaml, application/vnd.kubernetes.protobuf",
    "reason": "NotAcce

[2019-01-03 04:55] ryanmcnamara commented on #70506
Actually the above was for a *mutating webhook*

I just tested this on a *validating webhook* and *only if* you set code in the Response.Result.Code will the response from the apiserver not be 500. So I think this is fine to close out.

[2019-01-03 04:55] #70506 closed

[2019-01-03 05:04] liggitt commented on #72195
It was promoted to v1beta1 in https://github.com/kubernetes/kubernetes/pull/59059/commits/d07a608607e1f4d252003c17cd615652574a0823 in 1.10

[2019-01-03 06:11] tuanqle commented on #72121
I successfully get traffic in/out of the pod with kubernetes v1.12.3.
The problem is due to the vagrant ubuntu box in used, bento/ubuntu-16.04

[2019-01-03 06:11] #72121 closed

[2019-01-03 06:14] Chrisjw42 commented on #33777
I am using GKE, and I've noticed that I receive this error when reaching the CPU limits as describes in @mbutan 's comment. Have a look at that limit (the default for us at this time is 8)

[2019-01-03 06:30] cofyc commented on #72031
I agree with this simpler method, and am going to add this support in https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner.

[2019-01-03 07:51] kevin-wangzefeng commented on #72479
Instead of breaking backward compatibility, I would recommand turning the decision over to users:
1. Keep current semantic support and introduce cache/index with pre-defined topologykeys (indicated when scheduler bootstrapping) for both inter-pod affinity and inter-pod anti-affinity.
2. If a pod comes with undefined topologykey, scheduler could fallback to arbitrary topology process.
3. User can t

[2019-01-03 07:53] #67003 closed

[2019-01-03 07:54] krzysztof-jastrzebski commented on #72499
I checked logs and I don't see any error with string "lifecycle". Flag  is set --cloud-provider=gce.

[2019-01-03 08:03] wgliang commented on #72479
+1

[2019-01-03 08:04] g1001p opened #72509 "Vsphere cloud provider - Error syncing pod timeout expired"
**What happened**:
Time to time i am getting FailedSync error message timeout expired waiting for volumes to attach/mount for pod while running create pod command. The pod stuck on creation process long time.
**What you expected to happen**:
pod created and running

**How to reproduce it (as minimally and precisely as possible)**:
This is sporadic problem and difficult to reproduce. It could happe

[2019-01-03 08:10] wojtek-t commented on #72479
This is important usecase, but I'm not convinced that using pod-affinity is actually the best way for doing that. Using pod affinity for it means, that scheduling a first pod in a particular topology, determines all future schedulings. Given that topologies may be different, I think users should actually choose an explicit topology (e.g. a given zone) and then they can use node selectors.

Though,

[2019-01-03 08:22] zhangxiaoyu-zidif commented on #71930
@xiaoxubeii  yes, there some existed label, but we need more and even specifies some customized labels.

[2019-01-03 08:30] ipuustin commented on #67580
@workhardcc I think the best way to debug this is to check the kubelet logs with `journalctl`. The kubelet on the node should restart when the configuration change is applied and the kubelet logs should show any errors and also the configuration source that it tries to use.

[2019-01-03 08:53] grosser commented on #40157
what advantage has asking the metrics server instead of inspecting local memory state as preoomkiller does ?

[2019-01-03 08:54] #65498 closed

[2019-01-03 08:56] k82cn commented on #72479
IMO, it's better to "try" this (make "rack" and "zone" faster) firstly comparing to change the behaviour; WDYT ?

[2019-01-03 08:58] wojtek-t commented on #72479
How would you like to do it? I'm happy to hear your thoughts.

[2019-01-03 09:00] xiaoxubeii commented on #72479
I find that kubernetes scheduler can set policy to specify own predicates and priorities:
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/

https://github.com/kubernetes/kubernetes/blob/89efdb4173a10353a58168ba606309e2369b276c/pkg/scheduler/factory/factory.go#L767-L788

But they are all marked as DEPRECATED.  Is it one way to achieve disabling pod affinity/anti-aff

[2019-01-03 09:05] gajus commented on #40157
For one, as far as I can see, preoomkiller requires you to input the limits. Where as preoom uses the same API to pull the data required to construct the check.

[2019-01-03 09:08] grosser commented on #40157
preoomkiller does not need limit input, it reads the limits from /sys/fs/cgroup/memory/memory.usage_in_bytes and /sys/fs/cgroup/memory/memory.stat by default

[2019-01-03 09:11] gajus commented on #40157
How does it know what is configured in `resource.limits.memory`?

[2019-01-03 09:18] grosser commented on #40157
hierarchical_memory_limit from /sys/fs/cgroup/memory/memory.stat

[2019-01-03 09:39] workhardcc opened #72510 "How to incrementally roll out update node when using Dynamic Kubelet Configuration"
@mtaufen
kubectl version:v1.12.2
kube-api version:v1.12.2
kubelet version:v1.12.2
I follow the guide [https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/](url) to configure Dynamic Kubelet Configuration. It seems that if I want to incrementally roll out update all nodes maybe follow these orders as below:
1. create a new configmap and save it to the Kubernetes control plane
2.

[2019-01-03 09:40] yanivroz opened #72511 "unidirectional UDP traffic to a NodePort service is not handled properly"
**What happened**:
I created a NodePort service listening on UDP to expose my syslog server.
When sending traffic to a Nodport on a node that doesn't contain the pod I can see that the packet is being NATed and forwarded correctly through the tunnel to the node which runs this pod (I'm using Calico as CNI).
However, any consecutive packets on same connection/tuple are not being forwarded by the fi

[2019-01-03 09:44] yanivroz commented on #72511
/sig network

[2019-01-03 09:56] gajus commented on #40157
Understood. Wasn't familiar that this information is available in the fs.

[2019-01-03 10:14] g1001p commented on #72509
/sig VMware/bugs

[2019-01-03 10:56] #62640 closed

[2019-01-03 10:56] #67007 closed

[2019-01-03 11:16] workhardcc commented on #67580
I  forgot add `--dynamic-config-dir` flag in kubelet config file and there isn't any error logs.
Thanks for reply~

[2019-01-03 11:57] #64437 closed

[2019-01-03 11:58] den-is opened #72515 "kubeadm init is failing to verify CA in admin.conf"
**What happened**:
While trying to experiment with kubeadm setup with CA, certificates and admin.conf generated on my own, `kubeadm init`  fails with error
[code]

Only difference between my and kubeadm generated admin.conf is that kubeadm is somehow adds new line to ca.crts content (probably during file open) and creating base64 string out of that output.
My ca.crt has no new line in the end.

So

[2019-01-03 12:25] WanLinghao opened #72516 "restart container rather than pod"
/triage support

Say we have a pod, and it has two containers, Container A and Container B.  Now we want to update Container A's image and keep Container B running. As far as I know,  to update Container A's image, currently we need to kill the pod and recreate a new one with new image in Container A. Or if the pod belongs to a deployment, you could rollout update the deployment with new image, th

[2019-01-03 12:49] delgod commented on #68737
Due to this limitation, many database Operators for Kubernetes don't support PVC resizing.
It is a critical issue because when your database becomes bigger than you expected - you have no choice and it is needed to backup DB and recreate new DB from the backup.

[2019-01-03 13:54] xiaozhouX commented on #71860
I would like to try it togather, as we have discussed in slack.

[2019-01-03 14:04] answer1991 commented on #72129
@krzysztof-jastrzebski

The simplest way to solve your problem is starting kubelet with options --register-with-taints=node.kubernetes.io/not-ready:=NoSchedule.

we can consider to add default value node.kubernetes.io/not-ready:=NoSchedule to option *--register-with-taints*.

[2019-01-03 14:05] krejkrejkrej commented on #72497
Hello. I represent one bank affected by this change. In Openshift 3.7 we've successfully used a combination of node Labels+NodeSelectors and PersistentVolumeClaims+StorageClasses to place pods and volumes, respectively, on their intended compute/storage tier. The compute/storage tiers are isolated from each other.

Now, in Openshift 3.10 provisioning new PVC's does not work, however already existi

[2019-01-03 14:07] janosi commented on #72121
@tuanqle Thank you for the feedback and for closing this one! I am glad to hear that it works fine :)

[2019-01-03 14:18] Joseph-Irving opened #72519 "ServiceAccountName not removed with Kubectl apply"
**What happened**:
If you have a deployment with `serviceAccountName` set if you remove the field and apply the new config the `serviceAccountName` remains set to what it previously was.
**What you expected to happen**:
The `serviceAccountName` to be removed from the deployment spec.
**How to reproduce it (as minimally and precisely as possible)**:
Apply a deployment with a service account set e.g

[2019-01-03 15:11] x13n commented on #71886
This was fixed by https://github.com/kubernetes/kubernetes/pull/68837

/close

[2019-01-03 15:11] #71886 closed

[2019-01-03 15:17] x13n commented on #67538
@manigandham
Both these errors are harmless (although I agree they can be confusing). The first one was already fixed in 1.11.4. The fix for the second one is here: http://go/gh/kubernetes/kubernetes/pull/72243

[2019-01-03 15:37] seh commented on #66042
Does the use of [the "ResourceQuota" admission controller](https://kubernetes.io/docs/concepts/policy/#limit-priority-class-consumption-by-default) satisfy this request adequately? What prevents us from removing the "kube-system" namespace restriction added in #65593?

[2019-01-03 15:47] Shnatsel commented on #72501
/sig cli

[2019-01-03 15:49] Shnatsel commented on #72422
@kubernetes/sig-network-bugs

[2019-01-03 15:50] Shnatsel commented on #72509
@kubernetes/sig-vmware-bugs

[2019-01-03 15:51] yastij commented on #56138
cc @lbernail - this is why the relevant tests for #72432 are not part of the e2e suite.

[2019-01-03 15:52] MartinX3 commented on #47538
It changed to
`kubectl create job test-job --from=cronjob/the-special-cronjob`
If someone searched the function, like me, but got confused by the "not working" syntax.

[2019-01-03 15:53] Shnatsel commented on #72363
@kubernetes/sig-scalability-test-failures

[2019-01-03 15:56] Shnatsel commented on #72331
@lalitpaliwal25 it sounds like you're looking for support. Support is not offered through Github, but there are a number of places you can check.

There's [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [ingress documentation](https://kubernetes.io/docs/concepts/services-networking/ingress/).

You can also post your question on the [Kubernetes Slack](http://slack.k8

[2019-01-03 16:04] Shnatsel commented on #72516
@WanLinghao it sounds like you're looking for support. Support is not offered through Github, but there are a number of places you can check.

[Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) is probably the best place to ask this.

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) foru

[2019-01-03 16:06] Shnatsel commented on #72342
/sig api-machinery

[2019-01-03 16:08] Shnatsel commented on #72324
/sig cluster-lifecycle

[2019-01-03 16:11] Shnatsel commented on #72365
@kubernetes/sig-cli-test-failures

[2019-01-03 16:11] Shnatsel commented on #72365
/kind failing-test

[2019-01-03 16:13] Shnatsel commented on #71773
/sig contributor-experience

[2019-01-03 16:28] champtar opened #72522 "hostPort intercept LoadBalancer traffic (ipvs)"
**What happened**:

Trying to use `nodePort: 8080` and LoadBalancer (with port 8080), request to the Loadbalancer ip go to the nodePort containers, ie:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]
(you of course need to replace the IPs)

**Anything else we need to know?**:
If I use `hostNetwork: true` (after `kubectl dele

[2019-01-03 16:32] manigandham commented on #67538
@x13n Ok, thanks for the info.

Just for feedback: As users, we don't know that the errors are harmless and it is logged at ERROR level which isn't filtered out by regular log level filters. The large amount of logs also costs money and creates a lot of noise, especially when we have multiple clusters.

Maybe they should be logged at `verbose` or `debug` level if they have no impact on the cluster

[2019-01-03 16:33] elafontaine opened #72523 "controller-manager scrape of metric path keep having more and more metrics to it"
**What would you like to be added**:

An inactivity time on the controller manager individual pods metrics.  If a pods is dead and it's been over an hour that the counter/gauge/other metric didn't change, stop returning it in the metric routes of the controller manager.

**Why is this needed**:
Because otherwise, the metrics path gets bigger and bigger with each pods deployments as it adds a new l

[2019-01-03 16:34] elafontaine commented on #72523
/sig scalability

[2019-01-03 16:35] elafontaine commented on #72523
@kubernetes/sig-scalability  ?

[2019-01-03 16:38] deiwin opened #72524 "In-cluster namespace isn't overridden by kubeconfig if the context is specified via kubectl --context flag."
**What happened**:
In-cluster namespace isn't overridden by kubeconfig if the context is specified via kubectl `--context` flag. When using `kubectl config use-context`, the override works as expected.

**What you expected to happen**:
If I specify `namespace: default` for a `test` context in kubeconfig, then I expect `kubectl --context=test` to use `default` as the default namespace, regardless o

[2019-01-03 16:39] deiwin commented on #72524
@kubernetes/sig-cli

[2019-01-03 16:39] Shnatsel commented on #72522
@kubernetes/sig-network-bugs

[2019-01-03 16:40] Shnatsel commented on #72524
@kubernetes/sig-cli-bugs

[2019-01-03 16:47] champtar commented on #72522
Looking at the nat table:
[code]

`-j CNI-HOSTPORT-DNAT` is before `-j KUBE-SERVICES`, In the load balancer case we have IP:PORT, which is more precise than just PORT, so it would make sense to have it first. I really don't know if it makes sense for other KUBE-SERVICES, and what security issue this behavior change can introduce

[2019-01-03 16:48] Shnatsel commented on #71704
@kubernetes/sig-node-bugs

[2019-01-03 17:01] pwittrock commented on #17144
/assign shiywang

[2019-01-03 17:15] jmcmeek commented on #71811
@liggit Is this going to be cherry-picked to any other releases?

[2019-01-03 17:18] liggitt commented on #71811
no, backports are limited to fixing security issues, critical bugs, and regressions. scale/performance improvements that are not addressing regressions are not backported.

[2019-01-03 17:41] thockin commented on #72121
Thanks for the help @janosi  and thanks @tuanqle for closing once it was resolved (we have so many open-but-not-really issues :)

[2019-01-03 17:52] matthyx commented on #27114
@sekhrivijay the first idea was to wait for the readiness to succeed before checking for liveness (#70652) but then it has changed to introduce a second counter only used during startup (#71449).
There isn't much traction to it probably due to the end of the year, I will try to stir things up a little bit.

[2019-01-03 18:16] thockin commented on #20767
I have a cluster from HEAD as of 2 weeks ago:

[code]

So indeed it seems to not work.

If I hit that same service IP from the VM itself I immediately get `curl:
(7) Failed to connect to 10.0.199.54 port 80: Connection refused`.

If I insert an iptables jump to KUBE-SERVICES at the front of FORWARD, it
correctly rejects.  This seems in accordance with the iptables flowchart.

I'll do some spelunki

[2019-01-03 18:17] thockin commented on #20767
This is why we need tests.  Sigh.

[2019-01-03 18:40] ArjunSureshKumar92 opened #72533 "Container runtime is down,PLEG is not healthy"
**What happened**:
I have aks with one kubernetes cluster having 2 nodes. Each node has about 6-7 pod running with 2 containers for each pod. One container is my docker image and the other is created by istio for its service mesh. But after about 10 hours the nodes become 'not ready' and the node describe shows me 2 errors: 1.container runtime is down,PLEG is not healthy: pleg was lastseen active

[2019-01-03 18:49] SandeepPissay commented on #72497
@gnufied This code is added on purpose. This is done to prevent situations where the kube-scheduler cannot schedule pods on nodes that do not have access to the datastore. To prevent this, the current vSphere Cloud Provider validates that the datastore is shared across all Kubernetes nodes before creating the persistent volume.

@subramanian-neelakantan is working on a PR that supports zones in vS

[2019-01-03 19:07] thockin commented on #20767
Proposed fix is https://github.com/kubernetes/kubernetes/pull/72534 - still needs your e2e :)

[2019-01-03 19:14] thockin commented on #36152
Does https://github.com/kubernetes/kubernetes/pull/46517 not address
your needs?  It adds `--address` as a flag.

On Wed, Jan 2, 2019 at 2:40 PM Jon Watte <notifications@github.com> wrote:

[2019-01-03 19:30] vllry commented on #20767
Thanks Tim, if I have time I’ll get a PR up tonight.

[2019-01-03 19:35] gnufied commented on #72347
hmm, it has been documented that `IsLikelyNotMountPoint` does not ALWAYS return correct information, esp. about bind mounts - https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L241

I guess the intent was to use it for volume types that expose a new devices and not to use it for detecting mount points which are basically bind mounts of local directories onto rootfs

[2019-01-03 19:41] gnufied commented on #72347
If we do want to check mount table each time we want to really verify if a directory is a mount point then we should investigate poll based interface @cofyc implemented awhile back for polling the mount table. That may be cheaper than querying mount table all the time.

[2019-01-03 19:42] msau42 commented on #72347
Yes, we should investigate all calls to IsLikelyNotMountPoint() that's in the general volume manager code (not plugin-specific), as well as CSI logic.  We have to evaluate the performance implications since IsNotMountPoint is more expensive.

The other thing I've been thinking, is to evaluate in each case if we even need to check if something is a mount point?  If you try to `os.Remove` a mount po

[2019-01-03 19:43] msau42 commented on #72347
xref: https://github.com/kubernetes/kubernetes/issues/72257

[2019-01-03 19:52] thockin commented on #72274
This is in-flight now.  Should promote within the hour

On Fri, Dec 21, 2018 at 11:09 AM Sandeep Rajan <notifications@github.com> wrote:

[2019-01-03 19:57] cblecker commented on #72363
Had a look at this. Job seems to be green, but isn't exporting junit results. Thing is, I don't know if it ever has. If you look at the [artifacts for 7772](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/7772/) (the mentioned last green run), there isn't any junit results there either.

cc @wojtek-t @kubernetes/sig-testing

[2019-01-03 20:05] #67029 closed

[2019-01-03 20:05] #65728 closed

[2019-01-03 20:42] dims opened #72538 "etcd / grpc-go version mismatch"
according to etcd documentation, it says - `clientv3-grpc1.7: Official client implementation, with grpc-go v1.7.x, which is used in latest etcd v3.2 and v3.3.`, so we should be only using grpc-go 1.7.x

since 1.7.5 is the latest in 1.7.x series, we should stick to that until we switch to etcd 3.4 (which will need/use grpc-go 1.14.x)

However in https://github.com/kubernetes/kubernetes/pull/71020,

[2019-01-03 20:42] dims commented on #72538
/sig storage

[2019-01-03 20:43] dims commented on #72538
we are also seeing the problem in 1.13 branch, so any action taken here has to be applied to 1.13 as well.

/sig release

[2019-01-03 20:43] dims commented on #72538
cc @jpbetz @liggitt @wojtek-t

[2019-01-03 20:46] liggitt commented on #72538
notably, the grpc bump for CSI landed ~4 hours before the first sighting of the 0-length response failure - https://github.com/kubernetes/kubernetes/issues/71696#issuecomment-450187362

[2019-01-03 20:49] dims commented on #72538
Same with the merge commit for 1.13 landed and the CI jobs on that branch started showing issues as well.

[2019-01-03 21:03] dims commented on #72538
/priority important-soon

[2019-01-03 21:06] #67028 closed

[2019-01-03 21:07] tallclair commented on #53455
/remove-lifecycle rotten

[2019-01-03 21:10] djcass44 commented on #71665
Can you provide more information about what "old residual datas" is? I'm having the same issue and have removed just about everything docker/k8s related before reinstalling and it's still not working

[2019-01-03 21:18] fedebongio commented on #72342
/cc @logicalhan @jpbetz

[2019-01-03 21:19] fedebongio commented on #72357
/cc @cheftako

[2019-01-03 21:20] fedebongio commented on #72404
/cc @cheftako

[2019-01-03 21:20] fedebongio commented on #72417
/cc @jpbetz

[2019-01-03 21:21] misterikkit commented on #72355
I'd like to understand more about why you want/need direct access to these components. You mention that you are running simulations and tuning scheduler performance. Does that mean you are scheduling fake pods and measuring the timing? What parameters are you changing for performance? Is your system running offline, or modifying live clusters?  :thinking:

[2019-01-03 21:31] wojtek-t commented on #72538
xref: https://github.com/kubernetes/kubernetes/issues/71696

[2019-01-03 21:51] wojtek-t commented on #72016
@krzysied - resource usage measurement is still flaky; please adjust

[2019-01-03 21:56] thockin commented on #72274
Done

[2019-01-03 21:56] #72274 closed

[2019-01-03 22:02] msau42 commented on #69397
/remove-lifecycle stale

[2019-01-03 22:06] liggitt commented on #72523
can you list examples of the problematic metrics? I agree individual object names should not be surfaced in metrics as it makes the cardinality too high

[2019-01-03 22:07] #66964 closed

[2019-01-03 22:07] liggitt commented on #72519
serviceAccountName is defaulted from serviceAccount for backwards compatibility. It is not possible to leave one field unset.

/close

[2019-01-03 22:07] #72519 closed

[2019-01-03 22:14] mcluseau commented on #72467
with more verbosity I think I have something more likely: thousands of `housekeeping took x` with x mostly around 1s (but going up to 10 from what I've seen). I have and average of 875 per second on my sampling. Here's an extract:
[code]

Also, FWIW, I said I'm using linux 4.19.12, that's because I observed a lot of kernel time and needed https://marc.info/?l=linux-kernel&m=152163868401389&w=2 to

[2019-01-03 22:14] liggitt commented on #72488
/remove-sig cli
/sig node

the actual communication with the container is done by the kubelet via the container runtime interface (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/streaming/server.go#L380-L382)

[2019-01-03 22:17] liggitt commented on #72516
you can modify the image of a running pod and only the modified container will restart

/close

[2019-01-03 22:17] #72516 closed

[2019-01-03 22:37] #71819 closed

[2019-01-03 22:47] krzyzacy opened #72541 "pull-kubernetes-e2e-gke is broken"
https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gke

sample failure: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/72243/pull-kubernetes-e2e-gke/3801
(also affecting other CI jobs)

cc @BenTheElder @spiffxp @dashpole
/sig gcp

[2019-01-03 22:50] gauravagrwl commented on #52218
+1 it would be great if -f and -l are combined together.

[2019-01-03 23:12] apelisse commented on #11488
This is now beta.

[2019-01-03 23:12] #11488 closed

[2019-01-03 23:13] apelisse commented on #62197
Now beta, I suspect we can close this.

[2019-01-03 23:13] #62197 closed

[2019-01-03 23:18] sciffer commented on #33777
I'm seeing the exact same problem with Kubernetes 1.10.11, I wonder if I'm missing any of the settings the @mbutan mentioned(I could not find anything like that on AWS settings - maybe it's a GKE thing). My cluster runs on AWS(deployed using KOPS), pretty much a clean install.
Restarting the kube-schedulers works for me as well, but it is a temporary solution as quickly it gets back to it's "probl