[2018-08-03 01:11] rkttu-devsisters commented on #66947
/sig windows

[2018-08-03 01:25] xiangpengzhao commented on #66909
cc @kubernetes/sig-cli-bugs

[2018-08-03 01:28] oomichi opened #66949 "HPA scale-down e2e test (Should scale from 2 pods to 1 pod) fails due to timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When running HPA scale-down e2e test (Should scale from 2 pods to 1 pod) on my local k8s cluster, that fails due to timeout.
That means 2 pods were not reduced to 1 pod.

**What you expected to happen**:

The test could be passed on the cluster.

**How to reproduce it (as minimally and precisely as possible)**:

Just run

[2018-08-03 01:31] stewart-yu commented on #66849
update the issues description, thanks all
The PR have some problem, will fix it later

[2018-08-03 01:38] charrywanganthony commented on #66944
It should be reported to kubernetes/website, but doesn't matter.

[2018-08-03 01:42] oomichi commented on #66949
/sig-autoscaling

[2018-08-03 01:46] oomichi commented on #66949
/sig autoscaling

[2018-08-03 02:08] #66944 closed

[2018-08-03 02:15] tristanburgess commented on #50342
Looking into this so far, I'm able to reproduce the issue, and also that using -H "Accept: application/json" does serialize correctly:

[code]
There is potentially two separate considerations out of this as far as I can tell (in addition to the original issue):

1) sample-apiserver's example resource types do serialize JSON correctly, but does not appear implement protobuf serialization. May be wo

[2018-08-03 02:57] DylanBLE commented on #66900
It might be the problem with the data in etcd, delete these data fixes the issue.
**etcdctl --endpoints=https://127.0.0.1:2379  --cacert=/etc/ssl/etcd-ca.pem  get --prefix=true  /registry/priorityclasse**
[code]

[2018-08-03 03:44] jhorwit2 commented on #62134
//remove-lifecycle rotten

[2018-08-03 03:44] jhorwit2 commented on #62134
/remove-lifecycle rotten

[2018-08-03 04:04] knight42 commented on #66922
@liggitt that's ok, maybe I had missed something but I think showing labels doesn't need to reimplement the whole thing. Perhaps I could file a PR to implement this.

[2018-08-03 04:10] inter169 commented on #62628
coded a fix for musl on Alpine Linux 3.7, that removed AAAA query by default (AF_UNSPEC).

see https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-409603030

thanks,
harper

[2018-08-03 04:38] wu105 commented on #45350
We are still seeing similar issues in kubernetes 1.9.1 and openstack otaca.  We deploy an application, which creates dynamic persistent volumes, but initially the volumes have wrong labels thus cannot attach to any nodes, and the pods cannot be scheduled.  all are kind of expected upto this point - it would be nice to be able to specify the label when creating a pv, that that is a different issue.

[2018-08-03 04:59] inter169 commented on #56903
yes, but I don't want to involve additional tc shell codes & iptables rules into my kubernetes production nodes, neither a little bit more latency for processing AAAA queries by default.

the fix worked for cases which no need for AAAA (ipv6) on alpine linux.

[2018-08-03 05:04] bamb00 commented on #59976
@m1093782566 Is there a workaround for k8s v1.9.5? Thanks.

[2018-08-03 05:14] thdrnsdk opened #66951 "MasterConfigurarion used in kubeadm init does not apply to join"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

i'm install k8s in my labtop  use kubeadm.

$ kubeadm init --config=master.yaml

[code]

so init completed. and use MyPrivateRegistry pause Image.

Master's KUBELET_KUBEADM_ARGS is (/var/lib/kubelet/kubeadm-flags.env)
[code]

and join my node.

join cmd is complete but node's KUBELET_KUBEADM_ARGS is not eqal Master

Node's KUBELET_

[2018-08-03 05:16] #60823 closed

[2018-08-03 05:34] uablrek commented on #59976
--proxy-mode=iptables works fine. And perhaps you can use [kube-router](https://github.com/cloudnativelabs/kube-router) if ipvs is necessary for you. Kube-router replaces kube-proxy and has more options than kube-proxy in ipvs mode, for instance direct server returm (DSR).

[2018-08-03 05:39] jiayingz opened #66952 "stub device plugin based e2e test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:
We need to have a cluster level stub device plugin based e2e test, which has been long pending task slip through several cycles. After we have that, we can configure it to run in different environments, like scale, soak, upgrade, and downgrade.

For simplicity, we can create a stub_de

[2018-08-03 05:42] RaspiRepo commented on #66943
/sig/cmd

[2018-08-03 05:42] RaspiRepo commented on #66943
/sig/cmd

[2018-08-03 05:43] jiayingz commented on #66952
/sig node
/cc @ScorpioCPH @vikaschoudhary16 @RenaudWasTaken @vishh

[2018-08-03 06:05] vikaschoudhary16 commented on #66952
As per slack discussion with @ScorpioCPH, i will be working on this.

/assign

[2018-08-03 06:06] Deepak3994 commented on #15846
Hello,

When I am trying to connect to my web browser i get following error,

I0803 10:31:18.642233   21809 logs.go:41] http: proxy error: dial tcp 127.0.0.1:8080: connect: connection refused

So, I checked for kube-apiserver status,
● kube-apiserver.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)

Its's showing the status is dead(inactive). Can anyone h

[2018-08-03 06:52] bamb00 commented on #59976
@uablrek Sorry, Can you elaborate more on how/where to set the --proxy-mode=iptables? I'm running on the AWS platform and trying to fix the type=LoadBalancer external ip from <pending>.

[2018-08-03 07:08] abraithwaite commented on #49546
/remove-lifecycle stale

[2018-08-03 07:14] mooperd commented on #64500
Perhaps a more descriptive error message would be appropriate?

[2018-08-03 07:24] rkttu-devsisters commented on #66947
@PatrickLang Since the memory dump file on AWS EC2 was not created properly, I am first looking for ways to contact AWS Technical Support to collect a memory dump. It would be nice if you could tell us which kernel dump or full dump is needed.

[2018-08-03 07:33] enzian commented on #65766
We'll update our cluster and I'll check back in with you guys once I succeed!

[2018-08-03 07:41] m1093782566 commented on #59976
@bamb00

We suggest you to check out to v1.11.

[2018-08-03 08:25] haoqing0110 commented on #66844
Meet similar issue in kubernetes1.11 + `--experimental-encryption-provider-config`. My encryption provider is also `aescbc`.
[code]
When add encryption provider, looks it will break namespace default-token-xxx generates randomly..
[code]

[2018-08-03 08:31] haoqing0110 commented on #66844
@carlosonunez Can you help check your environment, does `default-token-xqb2r` exist?

[2018-08-03 08:31] discordianfish commented on #63018
@balajismaniam /  @ConnorDoyle Do you have any update/ETA on this?

[2018-08-03 08:33] tiukhtinvladimir commented on #59976
@bamb00 I have switched to kube-router and removed kube-proxy completely. Kube-router gives you IPVS proxy and routing in a single software

[2018-08-03 08:36] haoqing0110 commented on #66844
/sig admission-control

[2018-08-03 08:37] haoqing0110 commented on #66844
/sig area/admission-control

[2018-08-03 08:37] Boolman opened #66957 "kube-node shutdowns when mouting cinder-volumes"
/kind bug

**What happened**: When deploying a statefulset the volumemount times out, and the kube-nodes crashes ( shutdown by libvirt due to qemumonitor timeout )

**What you expected to happen**: the volume to be mounted on the vm and mapped to the pod.

**How to reproduce it (as minimally and precisely as possible)**:
the problem occurs around 70% of the time, so not always but fairly consisten

[2018-08-03 08:40] Boolman commented on #66957
/sig node

[2018-08-03 08:49] tingweiwu commented on #58820
same issue

[2018-08-03 08:58] usernkey opened #66959 "NLB is not delete when used by AWS API Gateway"
/kind bug

/sig aws

**What happened**:
Deleting a service type LoadBalancer using NLB on AWS and attached to an API Gateway using VPC Link it marks all the resources as delete but instead, the NLB is not deleted and if you try to create the service again it gets created by the NLB is not recreated checking the service status with kubectl service the load balancer creation remain in pending  state

[2018-08-03 09:10] tingweiwu opened #66961 "node get DiskPressure when disk space is still plenty"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
the status of kubelet show DiskPressure
[code]
but the disk no this node is fine
[code]

here is docker info
[code]

**What you expected to happen**:

node status not into DiskPressure when disk space is plenty.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2018-08-03 09:32] szuecs commented on #56903
@Quentin-M I ported your proposed solution to flannel and I don't see much better behaviour. Relying on a less likely happening of a race condition by delaying packets is IMHO also a weak way of "synchronization". Maybe it is the right solution if you don't need IPv6. I guess sooner or later I will test it, thanks @inter169

[2018-08-03 09:35] mpareja commented on #65863
@detiber I encountered this issue as part of an `apt-get upgrade` which modified:
* kubelet:amd64 (1.10.5-00, 1.11.1-00)
* kubeadm:amd64 (1.10.5-00, 1.11.1-00)
* kubectl:amd64 (1.10.5-00, 1.11.1-00)

I ought to have been more careful upon seeing the k8s updates.

So you know, I installed `kubeadm` as per the [Bootstrapping clusters with kubeadm instructions](https://kubernetes.io/docs/setup/indepe

[2018-08-03 09:45] krzysztofp commented on #66924
Actually the same problem is on newest MacOS, when I run busybox pod and nslookup the domain:

[code]

[2018-08-03 09:56] mpareja commented on #65863
Looks like the documentation issue is being addressed. Sweet!

https://github.com/kubernetes/website/pull/9509/files#diff-b4d7b9c51d0dac39e5ad31a3dac5c878R172

[2018-08-03 10:13] jiuchongxiao commented on #60807
@slassh  how to see the kubernetes-cluster-ip?  i use one of the node ip deployed the kubernetes cluster replace,  and it report 404.

[2018-08-03 10:29] Lion-Wei opened #66962 "integration test have legacy after case finished, which may result in test flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
When running integration test of a directory, for example,  `make test-integration WHAT=./test/integration/scheduler`, the later cases may result in FAIL. With logs like:
[code]

**What you expected to happen**:
Should cleanup all resources after a case finished.

**How to reproduce it (as minimally and precisely as possi

[2018-08-03 10:33] slassh commented on #60807
hi , by kubernetes-cluster-ip i meant  one of your node masters ip.
sorry if it's confusing !

[2018-08-03 11:34] Baykonur commented on #29678
+1. Till this is implemented, ssh tunneling can be used on a (yet another) separate terminal (assuming port 8000 is not used on any interface on the host):
`sudo ssh -N -L 0.0.0.0:8000:localhost:8888 userID@host`

and then go to your web-browser and type: http://host:8000

[2018-08-03 11:46] chrissound opened #66964 "panic: runtime error: invalid memory address or nil pointer dereference [signal SIGSEGV: segmentation violation code=0x1 addr=0x58 pc=0x15b8643]"
/kind bug

Output of `kubectl -n=kube-system delete pods kube-controller-manager-master kube-scheduler-master`:

[code]

[2018-08-03 11:47] chrissound commented on #66964
/sig api-machinery

This occurred after I changed the date on the master node (as it was out by a few years).

[2018-08-03 12:10] Baykonur commented on #43962
+1. Till this is implemented or merged, ssh tunneling can be used on a (yet another) separate terminal (assuming port 8000 is not used on any interface on the host and assuming `kubectl post-forward a-pod 8888:8080` executed before):
`sudo ssh -N -L 0.0.0.0:8000:localhost:8888 userID@host`

and then go to your web-browser and type: http://host:8000

[2018-08-03 12:15] ipuustin commented on #66614
You are right that filtering `kube-proxy` would be definitely a workaround, because the underlying issue (kube-proxy doesn't accept the assigned CPU set) causes the CPU exclusivity promise to be broken.

However, I don't think picture you linked refers to this case. Isn't the cgroup hierarchy here more like this:

    $ROOT
      |
      +- besteffort
      |   |
      |   +- Pod1
      |       |

[2018-08-03 12:46] P1ng-W1n commented on #66614
@ipuustin  You're right..
The linked document does not cover this hierarchy level (sorry, it was my mistake).
In that case a feasible long-term option could be to deprecate RunInResourceContainer() once kube-proxy removes that from it's KubeProxyConfiguration (part of this commit I presume - https://github.com/kubernetes/kubernetes/pull/17621)

[2018-08-03 12:47] dawidmalina opened #66966 "Nodes are not able to communicate with apiserver vip when vip is used as externalIP with ipvs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We have keepalived deployed on kubernetes master nodes together with haproxy which loadbalance to all apiservers. The same vip is used as externalIP for some other services like kube dashboard to expose this services out of kubernetes cluster.

It works perfectly fine with kube-proxy with iptables mode but when kube-proxy

[2018-08-03 12:53] yue9944882 commented on #60558
/unassign

[2018-08-03 12:53] yue9944882 commented on #60558
/remove-lifecycle rotten

[2018-08-03 12:54] yue9944882 commented on #66961
related #60558

it's likely caused by cadvisor

[2018-08-03 12:57] chrisohaver commented on #66924
This means that the health container is getting no response from dnsmasq container - which is all via local addresses in the same pod - so shouldn't be a k8s level networking issue.
It implies something broken with the dnsmasq container.

[2018-08-03 13:02] dawidmalina commented on #66966
/sig network

[2018-08-03 13:24] #60841 closed

[2018-08-03 13:35] aoxn commented on #66273
@sanjid133 This log shows that your cloud-controller-manager has some problem on connecting to your apiserver .  pls make sure your apiserver is in running state and reachable  from the node where  cloud-controller-manager is located.

[2018-08-03 13:38] mborsz commented on #66609
It's fixed now.

[2018-08-03 13:38] #66609 closed

[2018-08-03 13:40] k82cn commented on #66348
There're two major usage of Taint/Toleration for now: 1.) kind of "selector" (not selected), e.g. this case to kubadm; 2.) represent node's condition, e.g. network unavailable.  +1 for case 1.

It's a bit complex for case 2; ideally, high priority pod can preempt low priority in "pressure condition" (if no other hosts/node); as DaemonSet controller does not handle priority, it will not create Daem

[2018-08-03 13:42] k82cn commented on #66853
@goodluckbot , thanks :) I create a PR for it, but that'll be great if you can help add some e2e test for it. I can help to shepherd :)

[2018-08-03 13:49] 2stacks commented on #60807
If you start 'kubectl proxy' first you can direct the curl to https://127.0.0.1:8001/api/v1/namespaces/annoying-namespace-to-delete/finalize.  I couldn't get authentication to work until I did it that way.

[2018-08-03 13:50] krzysztofp commented on #66924
How about my MacBook (docker-for-desktop) issue, do you know why I'm getting: `Can't find: [..] No answer` response?

__$ kubectl -n default exec -ti busybox nslookup kubernetes.default__
[code]

__$ kubectl -n default exec -ti busybox nslookup svc.cluster.local__
[code]

__$ kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name:__
[code]

__$ kubectl logs --namespace=kube-system ku

[2018-08-03 14:15] chrisohaver commented on #66924
Try querying one of the the kube-dns pods directly, to see it its a network layer issue... e.g.

`kubectl -n default exec -ti busybox nslookup kubernetes.default <ip-address-of-pod>`

[2018-08-03 14:40] axot opened #66970 "New Pod created by HPA get lower network traffic than exists Pods"
**What happened**:
The RPS of new Pod which created by HPA get low network traffic than exists Pods.

**What you expected to happen**:
Because kube-proxy works with iptables which is using random algorithm to pickup endpoint, So all endpoints of service should get same level traffic.

**How to reproduce it (as minimally and precisely as possible)**:
Create deployments, service, ingress in GKE 1.10

[2018-08-03 14:45] axot commented on #66970
/sig network

[2018-08-03 14:47] krzysztofp commented on #66924
__$ kubectl -n kube-system describe pod kube-dns-86f4d74b45-b4dd8:__
[code]

__$ kubectl -n default exec -ti busybox nslookup kubernetes.default 10.1.0.3:__
[code]
__$ kubectl -n default exec -ti busybox nslookup cluster.local 10.1.0.3:__

[code]

[2018-08-03 14:59] chrisohaver commented on #66924
I just noticed you are running coredns and kube-dns in parallel...

[code]

Can you query the coredns pods directly via pod IP?

[2018-08-03 15:00] thewire247 opened #66972 "ELB cross zone load balancer annotation appears to break internal load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**:
I added the annotation
`service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled`
to a LoadBalancer service which has the following annotation to make it internal:
`service.beta.kubernetes.io/aws-load-balancer-internal:  0.0.0.0/0`
This then caused the load balancer to be destroyed and an ex

[2018-08-03 15:04] msau42 commented on #66859
cc @cofyc

I think it is the nsenter logic to execute commands on the host that requires privileged.  If we rework it to use hostpath then we may be able to remove the privileged requirement

[2018-08-03 15:08] msau42 commented on #65825
cc @dixudx

[2018-08-03 15:26] #60120 closed

[2018-08-03 16:00] KresoDenis commented on #43516
This is killing us on Azure. Daily it happens to 1-3 nodes for 10-30 minutes. Really wild nothing special in logs. Kubelet has regular /status posts with 200 response to apiserver during the whole time. But when i check the logs or kubectl decribe node i get "kubelet stopped sending statuses" os something similar. This lasts for 10-20 minutes. During which everything seems to work on affected node

[2018-08-03 16:28] axot commented on #66970
Hello @thockin , sorry for troubling you, could you give some advise please?

[2018-08-03 16:29] Quentin-M commented on #56903
Improvement was complete for us, and several others. The port in the parsing logic simply needs to be adapted depending on what port your DNS server exposes.

The rationale is that patching glibc/musl in ten thousand containers is arguably harder than dropping a script that workaround the root cause by adding 3ms to IPv6 DNS lookups - especially when you consider that the kernel is eventually goin

[2018-08-03 16:55] jekohk commented on #65012
Hi @lavalamp @liggitt what's the status of this?

When doing maintenance on our master nodes and/or removing a master node we ran into numerous issues tracing back to stuck TCP connections.

The first was with the kubelet -> api-server connection which seems to have been fixed by #63492 however we also encountered issues with many other components which leverage client-go to watch resources, such

[2018-08-03 17:08] dcowden commented on #56903
@Quentin-M we're trying to determine if your fix will work for us.  We're  using the test tool here https://github.com/thomaschaaf/dns-tester to easily reproduce this issue in our cluster.  However, on the node the test pod is running on, insert_failed is not growing with the failures.

Does this mean your fix wont work? or does the insert_failed count grow on the host for the target container, no

[2018-08-03 17:19] lavalamp commented on #65012
@jekohk from an extremely cursory search, it appears that we'll need to switch to using the golang.org/x/net/http2 package, and for every connection, periodically call https://godoc.org/golang.org/x/net/http2#ClientConn.Ping. There doesn't look to be a way to automatically get the connection pool type there to do this for us; I wonder if they'd consider adding that or accepting something to add it

[2018-08-03 17:20] msau42 commented on #65721
Added in https://github.com/kubernetes/kubernetes/pull/66871
/close

[2018-08-03 17:20] #65721 closed

[2018-08-03 17:41] wking commented on #44944
Something similar [landed][1] in #61161, although that PR didn't touch kubectl.  There's some discussion [here][2] about accepting the possibility of pods which tolerate the unscedulable taint.

[1]: https://github.com/kubernetes/kubernetes/pull/61161#event-1526141050
[2]: https://github.com/kubernetes/kubernetes/pull/61161/files#r174927986

[2018-08-03 17:48] bsalamat commented on #56032
/remove-lifecycle rotten

[2018-08-03 18:06] tristanburgess commented on #50342
Pertaining to 2, JSON serialization appears to be baked in to the API as the default, so there really isn't a similar `unmarshalable` error for it. A JSON marshalization fault at the apimachinery level currently would prevent the apiserver from starting up successfully. Therefore, only have to worry about protobuf for this.

[2018-08-03 18:11] inter169 commented on #56903
Each workaround or fix doesn't work for every use case, so the user, sys admin, and app developer should consider which one is fine to himself, also the costs & risks for  patching some tc/iptables scripts, updating new kernel, or patching libc musl.

[2018-08-03 18:18] rohitsrmuniv commented on #42164
worked for me:

I see ContainerGCFailed when I describe the node and when I connect to the node docker ps doesn't respond. I have to restart the docker service to recover.

[2018-08-03 18:29] jpbetz commented on #65497
Fixed by https://github.com/kubernetes/kubernetes/pull/64539

[2018-08-03 18:46] swutter opened #66974 "/"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-08-03 19:02] Quentin-M commented on #56903
@dcowden The insert_failed increases where the packet is routed to land on. So if you have a single DNS server or a single master where your DNS server(s) are running, this is very easy to predict and monitor. If insert_failed does not increase, the issue is not the netfilter race condition. Note that the script may need to be adapted: I personally have my DNS server containers listen on 5353 rath

[2018-08-03 19:13] byndcivilization commented on #66874
@bsalamat I think you were on the original PR that enabled this feature. Is there something special we should do to apply against the componentconfig/v1alpha1 endpoint?

[2018-08-03 19:20] krzysztofp commented on #66924
### On my MacOS I have only one:

__$ kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name:__
[code]

On my server (Ubuntu 18.04) I have 3 pods:
__$ kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name:__
[code]

__$ kubectl -n default exec -ti busybox nslookup kubernetes.default 10.244.0.84:__
[code]

__$ kubectl -n default exec -ti busybox nslookup cluster.local 1

[2018-08-03 19:27] szuecs commented on #56903
@Quentin-M I ported your script (https://github.com/szuecs/flannel-tc/blob/master/tc-orig.sh) to https://github.com/szuecs/flannel-tc/blob/master/tc-flannel.sh and we run DNS on port 53 (both svc and endpoint is 53).

Deployment in the flannel daemonset https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/manifests/flannel/daemonset.yaml#L92 .

DNS setup:
CoreDNS https://github.

[2018-08-03 19:35] blaggacao commented on #57117
It will be until the weekend I can free up time to review this again, sry :+1:

[2018-08-03 19:40] byndcivilization commented on #62068
Hi we're trying to enable this and running into issues with the componentconfig/v1alpha1 api endpoint in k8s 1.11? Is there a trick here?

[2018-08-03 20:00] dims commented on #66974
/close

[2018-08-03 20:00] #66974 closed

[2018-08-03 21:02] jiatongw commented on #66650
This issue is solved. The error shows above is because I was using a Mac OS system. And the Godep will fail because some of the commands are linux specific. Using a Linux system to do the vendor update will help. @dims

[2018-08-03 21:02] jiatongw commented on #66650
/close

[2018-08-03 21:02] #66650 closed

[2018-08-03 21:14] Huang-Wei commented on #66568
@username1366 @jpiper when you hit the issue, are there any pods stay in "Terminating" status? If so, those ones are actually holding the internal hostPorts scheduling cache.

[2018-08-03 21:32] jpiper commented on #66568
@Huang-Wei Nope - 100% the pod was terminated.

I even tried rebooting the node the pod was supposed to be scheduled on and it was still stuck in pending as no ports available. I didn't try restarting the scheduler though.

As soon as I downgraded the master components and kubelets to 1.10.2 all the pods were successfully scheduled.

I have a small cluster I can test this with next week if you hav

[2018-08-03 21:49] ravisantoshgudimetla commented on #66348
IIUC, are you suggesting to make scheduler aware of resource crunch on node and evict pods to reduce pressure on the node? Isn't kubelet responsible for it? Even then, if you still think there is room to free up resource, shouldn't we let descheduler handle it?

[2018-08-03 21:51] Huang-Wei commented on #66568
@username1366 @jpiper also want to highlight that when you hit the issue, you don't need to go to the physical node to check if the port is occupied (netstat/ss/etc.). Actually scheduler do not check real-time ports occupation, instead, it relies on the info from all running pods (those ones which uses `hostNetwork` and opened `containerPort`) and make scheduling decisions.

@username1366 from the

[2018-08-03 21:53] srikumarb commented on #55807
@mukeshnayak1 I have reported this issue but I am not working on it

[2018-08-03 22:11] Huang-Wei commented on #66568
@jpiper thanks for the feedback. When you his the issue again, could you:

1. run the following command:

2. run `kubectl get po --all-namespaces -o wide | grep Pending` to list all Pending pods

[2018-08-03 22:14] mauilion opened #66979 "apiserver generated reference should list the "default enabled" admission plugins."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
With the recent change to the way admission control plugins are handled the generated documentation doesn't provide a list of plugins that are enabled:
[code]
REF: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

**What you expected to happen**:
I expected to be able to determine what adm

[2018-08-03 22:15] mauilion commented on #66979
@kubernetes/sig-docs-bugs

[2018-08-03 22:34] dcowden commented on #56903
@Quentin-M, @szuecs thanks for your comments!

Testing today,  we have found that our problem gets worse when we have more coredns pods running. In fact, we cannot re-create the problem when we have only one core-dns pod ( even with many clients).

I think we'll try a dnsmasq on each node. @szuecs did your approach require both tc-flannel AND node local dnsmasq to get satisfactory results, or did

[2018-08-03 22:59] mbohlool commented on #66833
White it is not blocking the release, the test is still failing. look here: https://k8s-testgrid.appspot.com/sig-release-1.9-blocking#soak-gci-gce-1.9

[2018-08-03 23:13] andyday commented on #45746
+1

[2018-08-03 23:30] bsalamat commented on #66874
cc/ @stts @ravisantoshgudimetla Could you guys please take a look at this issue?

[2018-08-03 23:34] yujuhong commented on #55807
Prestop hooks are only called if kubelet kills the container. If a container exits on its own, regardless of the reason (success or failure), the prestop hook will not run.
The doc (https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-details) needs to be updated to clearly reflect that.

[2018-08-03 23:55] rata commented on #57117
No need to say sorry, you are helping a lot :)

[2018-08-04 00:16] tristanburgess commented on #50342
For 1), .proto definitions definitely weren't created for the custom resource types. I generated them and confirmed that API response was successful after that. I'll file a separate ticket/PR for the addition to the sample APIs after this issue is fixed.

[code]

[2018-08-04 00:37] mauilion commented on #66979
/cc @liggitt

[2018-08-04 01:28] rkttu-devsisters commented on #65163
@PatrickLang @daschott

After running the container for more than one day, the problem was repeated again. The vNIC on the Windows Pod of another node that was not affected by an abnormal termination of the node was arbitrarily deleted.

Unfortunately, besides the problems I knew at the beginning, sometimes BSoD happens.

It is difficult to reproduce the problem, but in such a situation it is diff

[2018-08-04 01:36] #60146 closed

[2018-08-04 01:44] k82cn commented on #66348
No; I means preemption between high priority pod and low priority pod. Does descheduler also aware pod's priority (including pending pods)?

[2018-08-04 02:14] rkttu-devsisters commented on #65163
@PatrickLang @daschott

Perhaps this is the last information I can add. Unlike Kubernetes clusters, which are built in a clean state, existing deployments are failing to deploy Linux Pod to Windows nodes through Daemonset, regardless of platform. It is roughly the same situation as the log below.

[code]

As mentioned earlier, the vNIC is deleted from iis1 to iis4, and the running status of the po

[2018-08-04 02:28] caesarxuchao opened #66981 "Support LIST starting from a key"
/kind feature
/sig api-machinery

@lavalamp @deads2k do you think this feature request needs a KEP, or can we view it as completing https://github.com/kubernetes/community/pull/896?

## Motivation

Kubernetes supports API chunking on LIST requests. It allows a large LIST response to be broken into smaller, consistent partial responses. Consistency here means that all the partial responses is for a

[2018-08-04 02:30] caesarxuchao commented on #66981
cc @cheftako @jpbetz this is the feature we discussed for storage encoded version migration.

[2018-08-04 02:37] #60809 closed

[2018-08-04 02:37] #59491 closed

[2018-08-04 02:37] #60662 closed

[2018-08-04 02:37] #59557 closed

[2018-08-04 02:37] #59560 closed

[2018-08-04 03:25] k82cn commented on #66348
DaemonSet controller tolerates "pressure condition" itself; so no such requirements right now. I'm also thinking whether we should use `PreferNoSchedule` for "pressure condition" :)

BTW, @Huang-Wei , please also add PID pressure toleration and remove OutOfDisk according to the ndoes.

[2018-08-04 03:34] straydata commented on #52757
@samedguener

If this is your issue, have you considered removing the nvidia.com/gpu limit from those containers? https://github.com/NVIDIA/k8s-device-plugin#nvidia-device-plugin-for-kubernetes - Even with the plugin (and by default without) any containers that are not explicitly set with nvidia.com/gpu resource limits will have access to all gpu devices on the node they are scheduled to and they

[2018-08-04 03:38] #59783 closed

[2018-08-04 03:38] #60479 closed

[2018-08-04 03:38] #60192 closed

[2018-08-04 03:38] #60643 closed

[2018-08-04 04:13] cofyc commented on #66859
/assign

[2018-08-04 04:39] #60568 closed

[2018-08-04 04:39] #58552 closed

[2018-08-04 04:39] #60153 closed

[2018-08-04 04:39] #44660 closed

[2018-08-04 04:39] #56665 closed

[2018-08-04 04:48] mortent commented on #64500
@mooperd Agree the error message could be better. I was a little too fast to ask for this issue to be closed. I have created a PR with what is (hopefully) a better error message for this case #66983

[2018-08-04 05:01] foxyriver commented on #55427
I met with the same issue too,Kubernetes version: v1.10

Aug  3 13:23:12 paas-controller-22-0-2-12 kubelet: E0803 13:23:12.157553   37408 docker_sandbox.go:506] Failed to retrieve checkpoint for sandbox "6460c1a7f2420019560abb3e12c92f7cb3c0f0950b28c8656bd517622447fe7a": checkpoint is corrupted
Aug  3 13:23:12 paas-controller-22-0-2-12 kubelet: E0803 13:23:12.170088   37408 remote_runtime.go:169] L

[2018-08-04 05:59] cofyc commented on #66859
@msau42 but some operations require privilege permission

- losetup set up local devices
- mounting filesystems
- run local-volume-provisioner which require privilege

[2018-08-04 06:02] Huang-Wei commented on #66348
@k82cn do you mean something like:

[code]

If so, I will create another PR and update related testcases.

[2018-08-04 08:59] silashansen commented on #17144
This is still a very wanted feature that @shiywang seemed to have a promising grip on. Has it been abandoned?

[2018-08-04 12:30] #66867 closed

[2018-08-04 13:39] ravisantoshgudimetla commented on #66348
Kubelet can do that as well. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/preemption/preemption.go but this will be run for critical pods.

I just introduced another PR to make descheduler priority aware but it just looks at the pods that are not running on the node not pending pods. But the room for pending pods would have been made by kubelet preemption.

To be clear, we don'

[2018-08-04 13:53] msau42 commented on #66859
Ah ok then I think we cannot promote at least those tests for conformance.

Can you evaluate if there are any test cases that don't require privileged?  Maybe the ones that only create a directory under tmp?

Actually, there are some hostpath tests that write to /tmp that are not part of conformance and the comment says that on some platforms, writing to tmp requires root.  If that's the reason th

[2018-08-04 14:06] andrewrynhard opened #66985 "kubeadm: Cannot use PodSecurityPolicy admission plugin when using self-hosted"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
When using `PodSecurityPolicy ` and `SelfHosting` together, the init process gets stuck on creating the mirror pods and never reaches the point of creating the self-hosted pods:
[code]
**What you expected to happen**:
To have an option to specify a PSP, or a sane default for the `kube-system` namespace that will allow

[2018-08-04 14:32] #65765 closed

[2018-08-04 14:38] bronger commented on #51835
I am also haunted by these “Need to kill Pod” messages in the pod events.  What does this mean by the way?  That _Kubernetes_ feels the need to kill the pod, or the _I_ should kill the pod?

[2018-08-04 15:00] chakri-nelluri commented on #66868
@linyouchong Thanks. Trying out the change. Will keep you posted if we need any other changes.

[2018-08-04 16:50] rkttu-devsisters commented on #66947
@PatrickLang

Luckily, I found the "MEMORY.DMP" file on another Kubernetes node computer that had the same BSOD and analyzed it with WinDbg. Bug Check 0x7F: UNEXPECTED_KERNEL_MODE_TRAP error, Trap Number is identified as 0x00000008 (Double Fault). And there was ena.sys as an associated external module, presumably a conflict between AWS ENA driver and HNS.

I have difficulty doing detailed analysis

[2018-08-04 18:27] protometa commented on #1899
For fellow noobs from google wondering how to wait for a deployment update, `rollout status` is actually the way to go:

    kubectl set image deployment/my-deployment my-container=my-image:tag
    kubectl rollout status deployment/my-deployment

[2018-08-04 20:12] luxas commented on #26093
/assign @tallclair
:smile:

[2018-08-04 21:25] wenjiaswe commented on #66770
The purpose of this test is to intentionally kill etcd and see if the system recovers. Before 7/31, this test was flacky, not failing all the time. I looked at [one of failure at 18:47 on 7/31](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1683), apiserver healthz check failed on etcd failure for a couple of times and got killed by

[2018-08-04 21:38] nielsole commented on #45419
I have the same issue. It happens so frequently that a node does not survive a 5 minute period of scheduling pods.
The error occurs both on my main cluster (flannel) as well as my test clusters (calico).
I tried varying the kubernetes version (1.9.? / 1.11.1), the distribution (debian, ubuntu), the cloud provider (ec2, hetzner cloud), the docker version(17.3.2, 17.06.2). I didn't test the full mat

[2018-08-04 21:54] emparker commented on #51835
this happened to me a couple of days ago and I gave up deleting and left the pod as it. Then today, it was disappeared and seems to be deleted eventually.

[2018-08-04 23:59] #60309 closed

[2018-08-05 01:01] ryankemper commented on #17144
Looks like it got abandoned. Really hope this feature gets added

[2018-08-05 02:31] dims opened #66986 "Switch few remaining e2e test images to multi-arch"
- [x] gcr.io/kubernetes-e2e-test-images/volume-gluster:0.5: manifest type: application/vnd.docker.distribution.manifest.v2+json
      * Fixing in https://github.com/kubernetes/kubernetes/pull/66987
- [x] gcr.io/kubernetes-e2e-test-images/volume-iscsi:0.2: manifest type: application/vnd.docker.distribution.manifest.v2+json
      * Fixing in https://github.com/kubernetes/kubernetes/pull/66987
- [x]

[2018-08-05 02:31] dims commented on #66986
/assign @mkumatag

[2018-08-05 02:32] dims commented on #66986
/assign @dims

[2018-08-05 02:35] dims commented on #66986
Here's the full inventory - http://paste.openstack.org/raw/727346/
generated using code - https://gist.github.com/dims/067c6723588a585a7a00b22e41b86f34

[2018-08-05 03:41] mkumatag commented on #66986
@dims I'm working on converting volume images multi-arch, soon will submit the PR to fix that.

[2018-08-05 05:52] mkumatag commented on #66986
Created https://github.com/kubernetes/kubernetes/pull/66987 for addressing volume-tester images.

[2018-08-05 06:04] #60347 closed

[2018-08-05 08:14] mooperd commented on #64500
@mortent thanks for that! :)

[2018-08-05 11:25] szuecs commented on #56903
@dcowden it does not fix it to 100%. flannel-tc is only to make this delay for packets at random. node-local dnsmasq will add less traffic, but we have only ~10% hit rate.
I like to see what results you see with or without the node-local dnsmasq.
P99 has only one or two rtt spikes per day and cluster, P999/P9999 much more often ~ >20.

[2018-08-05 11:56] brb commented on #56903
Just to update, I've submitted two patches to fix the conntrack races in the kernel - http://patchwork.ozlabs.org/patch/937963/ (accepted) and http://patchwork.ozlabs.org/patch/952939/ (waiting for a review).

If both are accepted, then the timeout cases due to the races will be eliminated for those who run only *one* instance of a DNS server, and for others - the timeout hit rate should decrease.

[2018-08-05 12:03] szuecs commented on #56903
@brb thanks for your work and the update here!!!

Can you please explain why this >1 DNS server is a non trivial task to fix?
A reference to some public e-mail thread is fine for me, if this was already discussed. It would be awesome to understand more.

[2018-08-05 13:08] dcowden commented on #56903
+1 I would like to understand more as well. It's really crazy that an issue so fundamental exists for kubernetes.

@szuecs is there any configuration you are aware of that would actually eliminate this issue? Currently, the only solution I know of is to switch to tcp for dns (use-vc) but that's not supported by all distros. I also assume that using calico or vpc routing on aws would bypass it beca

[2018-08-05 13:27] errm opened #66989 "kubectl describe cronjob fails with NotFound error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When running `kubectl describe cronjob` there is a not found error...

[code]

Running the command with `-v=8` it seems that kubectl is initially making the correct call (with the `batch/v1beta1` api version), but then goes on to repeat with an incorrect api version (`batch/v1`)...

[code]

**What you expected to happen*

[2018-08-05 13:38] errm commented on #66989
@kubernetes/sig-cli-bugs

[2018-08-05 13:50] szuecs commented on #56903
@dcowden vpc would help, calico, I would not be sure, they have to use ipip tunnel, not sure if this deletes masquerading completely.
Next step I would try is eventually https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-409603030. Right now it seems my solution seems to be good enough, for us no rush is needed.

[2018-08-05 13:57] dcowden commented on #56903
@szuecs yes along those lines we have also considered disabling ipv6 completely on our nodes. We started to do that but weave had some interfaces listening only on ipv6 so that scared us away.

Has anyone tried weave with no ipv6?

[2018-08-05 14:04] choppsv1 commented on #47268
/remove-lifecycle stale

[2018-08-05 14:12] #56672 closed

[2018-08-05 14:59] bboreham commented on #56903
Definitely not. Pretty sure what you are looking at is a tool reporting an IPv4 address in IPv6 format.

[2018-08-05 15:09] brb commented on #56903
TL;DR Two different Endpoints might be selected for two concurrent UDP packets from the same socket, regardless whether kube-proxy operates in `iptables` or `ipvs` mode. If so, one of the packets will be dropped by the kernel. So far, I don't see any easy way how to sync destination selection in the kernel among such packets.

[2018-08-05 15:32] bboreham commented on #56903
At this point, running kube-dns or dnsmasq on every node becomes very attractive.

Various issues discuss this - #45363 for instance.

[2018-08-05 16:11] Josbrafe opened #66991 "Failed to list *v1.Endpoints: endpoints is forbidden: User \"system:serviceaccount:default:default\" cannot list endpoints in the namespace \"default\"" level=error ts=2018-08-05T15:57:36.310855162Z caller=main.go:221 component=k8s_client_runtime err="github.com/prometheus/prometheus/discovery/kubernetes/kubernetes.go:270:"
Kindly, assist.
As I am trying get my test prometheus to work with a defined clusterrole and clusterbinding:
kubernetes version: 1.11.1

kubectl logs --namespace=default prometheus-prometheus-0 -c prometheus
Errors:
level=info ts=2018-08-05T16:08:06.381854063Z caller=main.go:225 msg="Starting Prometheus" version="(version=2.2.0-rc.0, branch=HEAD, revision=1fe05d40e4b2f4f7479048b1cc3c42865eb73bab)"

[2018-08-05 17:28] cjbottaro opened #66992 "nodeAffinity outweighing podAntiAffinity in a statefulset"
/kind bug

**What happened**:

A statefulset with nodeAffinity and podAntiAffinity placed 2 pods on the same node, despite a node not having any pods on it.

It _seems_ like the nodeAffinity is outweighing the podAntiAffinity.

**What you expected to happen**:

All 3 pods of the statefulset to be placed on separate nodes.

**How to reproduce it (as minimally and precisely as possible)**:

I have 3

[2018-08-05 17:31] szuecs commented on #56903
@dcowden as @bboreham I would be pretty sure that it only looks like this, but is dual-stack and listens on both.

@brb thanks.

[2018-08-05 17:32] cjbottaro commented on #66992
@kubernetes/sig-scheduling-bugs

[2018-08-05 17:34] tristanburgess commented on #50342
I had a starting implementation that successfully returned a 406 on protobuf marshallibg definition not implemented (`errNotMarshalable`), but on running unit tests I stumbled upon a larger problem.

There's an order of operations issue which is preventing http status code from being handled properly with both serialization encode success and serialization encode failure between apiserver and apim

[2018-08-05 17:39] szuecs commented on #45363
FYI https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-410353015 links to configurations how to run node-local dnsmasq + coredns cluster.local resolver on AWS.

[2018-08-05 19:09] Quentin-M commented on #56903
@dcowden We use Weave, with IPv6 disabled at every layers (kernel, systemd, ...).

[2018-08-05 19:32] george-angel commented on #23864
/remove-lifecycle stale

[2018-08-05 19:54] dekkagaijin commented on #66770
It'd be very surprising if #66730 was related. That change just updates the GCE metadata proxy to allow for `gcloud` to authenticate itself when metadata concealment is enabled.

[2018-08-05 21:09] gertcuykens opened #66994 "volumeClaimTemplates prefixes volumes with pvc instead of pv"
kubernetes 1.10
![image](https://user-images.githubusercontent.com/863731/43690044-01efb1bc-9904-11e8-865b-7eb002fff042.png)

It confuses half of the population of plannet earth becuase pvc-d89ae164-98f1-11e8-98a0-025000000001 is a persistent volume

/sig storage

[2018-08-05 21:29] BenTheElder opened #66995 "downloaded CFSSL is broken on mac"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: cfssl fails to work correctly when e2e testing from macOS

**What you expected to happen**: e2e testing with `go run hack/e2e.go -- --up ...` should bring up a cluster

**How to reproduce it (as minimally and precisely as possible)**: run `go run hack/e2e.go -- --build --up` on mac.

**Anything else we need to know?**: ht

[2018-08-05 21:29] BenTheElder commented on #66995
not sure who should own this, cluster / so sig-cluster-lifecycle?
/sig cluster-lifecycle
also
/sig testing
since e2e related...

[2018-08-05 21:58] liggitt commented on #66989
Duplicate of
https://github.com/kubernetes/kubernetes/issues/64348, fixed in
https://github.com/kubernetes/kubernetes/pull/62744

[2018-08-05 21:59] liggitt commented on #66989
/close

[2018-08-05 21:59] #66989 closed

[2018-08-05 22:10] liggitt commented on #66994
volumeClaimTemplates creates PVC objects, so prefixing pvc is ok. It sounds like the dynamic provisioner might copy the pvc name for the pv

[2018-08-05 22:17] liggitt commented on #66991
Your clusterrole has duplicate resources/verbs attributes in the same rule, and I think the last one specified wins. You can either split those into distinct rules, or combine the values into a single resources attribute (e.g. `resources: ["services", "endpoints", "pods", ...]`)

/close

[2018-08-05 22:17] #66991 closed

[2018-08-05 22:29] gertcuykens commented on #66994
correct, it shouldn't do that to confuse noobs like me
![image](https://user-images.githubusercontent.com/863731/43690736-b1503f7c-990f-11e8-945d-ea9bc3b0cd82.png)

[2018-08-05 22:30] BenTheElder commented on #66995
`brew install cfssl`  (which currently installs 1.3.2) works around this for now, but probably we should fix this..

[2018-08-05 22:33] liggitt commented on #66994
The provisioner isn't required to copy the name… which one are you using?

[2018-08-05 22:37] gertcuykens commented on #66994
the build in kuberentes one (mac osx docker for mac)
![image](https://user-images.githubusercontent.com/863731/43690796-b1538c30-9910-11e8-9a29-97c97517adbe.png)
I just apply this
[code]

[2018-08-05 22:52] martynd commented on #64193
Having also got the ```Failed to execute iptables-restore for nat: exit status 1 (iptables-restore: line 7 failed
)``` error I figured id give providing some useful info a whirl @thockin

Its worth noting that I didnt get the later conntrack error at all, but I dont believe that is of direct relevance here since the reporter still got the iptables-restore error after resolving the conntrack one

T

[2018-08-05 23:08] mxxk commented on #15180
@phsiao thanks for enabling service-level port forwarding in your PR #59809. However, it seems that `kubectl port-forward svc/my-service` only forwards traffic to one pod, even when the service has multiple endpoints. Is this the intended behavior? It seems a bit confusing, as it is different from how services load-balance between multiple pods.

By contrast, using `kubectl proxy` as described by

[2018-08-05 23:27] mxooc opened #66997 "Use kubeadm with proxy but still had error"
Hello everyone!
I'm living China, our network can't reach gcr.io
So I want to use use proxy when I run "`kubeadm init`"

My proxy  is on `http://127.0.0.1:45007`   , so I run`
export http_proxy=http://127.0.0.1:45007 && kubeadm init`

But it said ,
[code]

- Kubernetes version (use `1.11`):
- OS (Ubuntu 18.04 Desktop):
- Kernel (4.15):
- Install tools:
    `kubelet, kubeadm, kubectl`

What should

[2018-08-05 23:29] mxooc commented on #66997
Oh, the Kubernetes version is not v1.11 , it's v1.11.1 :smile:

[2018-08-05 23:48] dcowden commented on #56903
Thanks, guys.
I "feel" like running dns-masq on each node is the right answer here.  The interesting question is: what IP address should the dns-masq instance expose the service on, in order to minimize packet loss ( Let's assume that we're ok ignoring security issues for the moment).

That means, we have three options:
(1) daemonset on each node, but using a normal pod ip
(2) daemonset on each no

[2018-08-06 00:57] dims commented on #66986
apparmor-loader seems to be from here - https://github.com/kubernetes/contrib/tree/master/apparmor/loader

[2018-08-06 01:31] inter169 commented on #56903
pls be aware of that, on alpine docker such AAAA DNS queries are generated by libc musl implements, even though disabled ipv6 on the alpine docker and the hosts, so I removed the AAAA query from musl, see https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-409603030 ,
the app pods based on my patched fix alpine (geekidea/alpine-a:3.7 , 3.8) have been working 5+days on our production

[2018-08-06 02:37] CaoShuFeng commented on #66979
/assign

[2018-08-06 02:42] clhodapp commented on #22121
/remove-lifecycle stale

[2018-08-06 03:13] gzcwnk opened #66999 "kubelet fails to run on new install RHEL7"
**Is this a BUG REPORT** yes

/kind bug

**What happened**:

kubelet will not run while following docs,

https://kubernetes.io/docs/setup/independent/install-kubeadm/

**What you expected to happen**:

kubelet runs as per install instructions.

**How to reproduce it (as minimally and precisely as possible)**:

Following doc on 3 machines gives the same result, kubelet will not start on any of them

[2018-08-06 03:16] gzcwnk commented on #66999
[root@ipa-rhel7-local-01 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:53:20Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
The connection to the server localhost:8080 was refused - did you specify the right host or port?
Client Versi

[2018-08-06 03:16] gzcwnk commented on #66999
[root@ipa-rhel7-local-01 ~]# more /etc/redhat-release
Red Hat Enterprise Linux Server release 7.5 (Maipo)
[root@ipa-rhel7-local-01 ~]# uname -r
3.10.0-862.9.1.el7.x86_64
[root@ipa-rhel7-local-01 ~]#

[2018-08-06 03:18] gzcwnk commented on #66999
[root@ipa-rhel7-local-01 ~]# rpm -q docker
docker-1.13.1-68.gitdded712.el7.x86_64
[root@ipa-rhel7-local-01 ~]# rpm -q kubectl
kubectl-1.11.1-0.x86_64
[root@ipa-rhel7-local-01 ~]# rpm -q kubeadm
kubeadm-1.11.1-0.x86_64
[root@ipa-rhel7-local-01 ~]# rpm -q kubelet
kubelet-1.11.1-0.x86_64
[root@ipa-rhel7-local-01 ~]#

[2018-08-06 03:25] gzcwnk commented on #66999
in /var/log/messages,

"Aug  6 15:24:32 ipa-rhel7-local-01 systemd: Started kubelet: The Kubernetes Node Agent.
Aug  6 15:24:32 ipa-rhel7-local-01 systemd: Starting kubelet: The Kubernetes Node Agent...
Aug  6 15:24:32 ipa-rhel7-local-01 kubelet: F0806 15:24:32.493160    5439 server.go:190] failed to load Kubelet config file /var/lib/kubelet/config.yaml, error failed to read kubelet config file "/

[2018-08-06 03:26] hzxuzhonghu commented on #65012
It is really appreciated if golang http2 allows us to send Ping frame in our cases.

@lavalamp Do you know if there is any plan for this?

[2018-08-06 03:26] neolit123 commented on #66999
/sig cluster-lifecycle

[2018-08-06 03:29] neolit123 commented on #66997
/sig cluster-lifecycle
/area kubeadm

@mxooc
can you use `curl` or `docker pull` to get the images?
if not, then it's not a kubeadm specific issue.

[2018-08-06 03:30] neolit123 commented on #66986
/sig testing

[2018-08-06 03:31] BenTheElder commented on #66995
it looks like we bumped what is in vendor to 1.3.1 in https://github.com/kubernetes/kubernetes/pull/60373, perhaps we should also bump `kube::util::ensure-cfssl` from R1.2 to 1.3.1?

[2018-08-06 03:31] neolit123 commented on #66999
@gzcwnk
are you calling `kubeadm init` ?

[2018-08-06 03:32] neolit123 commented on #66962
/sig testing

[2018-08-06 03:34] gzcwnk commented on #66999
hmmm, no as I get this error.

[2018-08-06 03:37] neolit123 commented on #66999
`kubeadm init` should create `/var/lib/kubelet/config.yaml`.

[2018-08-06 03:46] BenTheElder commented on #66995
It looks like `cfssl` is no longer doing binary releases. perhaps we can vendor cfssl's cli and then install from vendor instead.

[2018-08-06 03:56] chenrui333 commented on #40244
Really would like to see this issue get moved.

[2018-08-06 04:34] jiatongw opened #67001 "Godeps and vendor owners are not known"
I have a pull request waited for Godeps and vendor owners to approve. But the approvers in `Godeps/OWNERS` and `vendor/OWNERS` are listed as below:

[code]
I can not just @dep-approvers . So does anyone know how to contact them?

[2018-08-06 05:40] BenTheElder commented on #66995
cc @cblecker ... I spent some time on this but couldn't get past:
[code]
cfssl uses `dep` instead of godep and getting the `GOPATH` into the right state is not going well :(
I have collected up the requirements from cfssl's `Gopkg.lock`:
[code]

[2018-08-06 05:48] talhairfanbentley opened #67002 "AKS TLS Timeout"
Sometimes I get tls timeout on aks, this is not suppose to be happening. Is there any specific reason or solution for this?

Unable to connect to the server: net/http: TLS handshake timeout
@kubernetes/sig-azure-bugs

[2018-08-06 05:48] mxooc commented on #66997
@neolit123
I can, Docker looks completely normal
But What does `exit status 1` mean?

[2018-08-06 05:50] chokhareganesh commented on #7954
This works with me
1) docker login on each node
2) generate secret `kubectl create secret docker-registry <secret-name> --docker-server=<your-registry-server> --docker-username=<your-name> --docker-password=<your-pword> --docker-email=<your-email>`

OR
you can docker login on a single node, run `kubectl create secret` and send /root/.docker/config.json all minion
[https://kubernetes.io/docs/tasks/

[2018-08-06 05:51] #67002 closed

[2018-08-06 05:52] talhairfanbentley opened #67003 "AKS TLS Timeout"
Sometimes I get tls timeout on aks, this is not suppose to be happening. Is there any specific reason or solution for this?

Unable to connect to the server: net/http: TLS handshake timeout
@kubernetes/sig-azure-bugs

[2018-08-06 06:46] thanethomson opened #67004 "Multi-master kube-apiserver failing with "too many open files""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running our multi-master k8s platform, it works fine for a few hours, after which it suddenly becomes inaccessible through `kubectl` and we get the following sorts of logs from `kube-apiserver`:

[code]

We've tried increasing the `ulimit` on open files several times now. `ulimit -a` provides the following output:

[

[2018-08-06 06:51] yangqinjiang opened #67005 "What’s the mean? From Istio 1.0 sample, Init:Blocked , I install in stand-alone VM, CentOs 7.5"
# What’s the mean? From Istio 1.0 sample, Init:Blocked , I install in stand-alone VM, CentOs 7.5

![image](https://user-images.githubusercontent.com/1914373/43701279-28e93098-9988-11e8-85bf-78fc4c2454c4.png)

[2018-08-06 07:10] feiskyer commented on #66887
/assign @andyzhangx

[2018-08-06 07:38] #66889 closed

[2018-08-06 07:41] thanethomson commented on #67004
Turns out that, while our system-wide `ulimit` settings were fine, our per-process `systemd` limits were incorrectly configured.

Changed our `kube-apiserver.service` file as follows and it worked:

[code]

[2018-08-06 07:41] #67004 closed

[2018-08-06 08:00] mohammedzee1000 commented on #66338
Thanks @neolit123
/close

[2018-08-06 08:10] inter169 commented on #56903
@dennis-bell, because of the code fix in libc musl on alpine linux docker, so you should build the patched mucl libc with the code fix https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-409603030 as the alpine apk manner. (https://wiki.alpinelinux.org/wiki/Creating_an_Alpine_package):
alpine 3.7 is using 1.1.18-r3, see: https://pkgs.alpinelinux.org/package/v3.7/main/x86_64/musl, ap

[2018-08-06 08:15] miaoyq opened #67007 "Make dockershim support kata-containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
 At present, docker still the main and default container runtime engine for k8s, so I think making `dockershim` support `kata-containers` is very useful for the people of using secure containers.

Now, kata-runtime have added support for dockershim pod annotations, see [dockershim/annotations.go](https://github.com/ka

[2018-08-06 08:16] miaoyq commented on #67007
/sig node

[2018-08-06 08:18] Deepak3994 commented on #63874
I was trying to implement the same on kubernetes cluster locally. I found the same error,

![imagepullbackoff](https://user-images.githubusercontent.com/20994657/43705054-2ac1ff8e-997f-11e8-9dd6-ed530a1ae656.png)

The below image is a screenshot taken from the kubernetes UI,

![screenshot_2018-08-06 overview - kubernetes dashboard](https://user-images.githubusercontent.com/20994657/43705091-44bcc1

[2018-08-06 09:04] sjerdo commented on #44528
@mtricolici @digglife 'build' should be replaced by the namespace.
E.g. when using no namespace (default), the value for server should be `nfs-server.default.svc.cluster.local`

[2018-08-06 09:33] k82cn commented on #66348
That's not scheduler's scope; scheduler do preemption for pending pod; kubelet and descheduler should only consider running pods.
It's wired that low priority running pod trigger pressure condition which block/delay high priority pending pod to be scheduled on the host.

[2018-08-06 09:34] k82cn commented on #66348
@Huang-Wei , the PID part is ok to me; I did not check the history of OutOfDisk, e.g. whether other codes need to update, would you help to check ?

[2018-08-06 09:41] ManCon commented on #56693
Me too I have the same problem with Ubuntu 16.04 and VirtualBox.

[2018-08-06 09:41] Imunhatep commented on #59406
/remove-lifecycle stale

[2018-08-06 09:51] tuminoid commented on #61557
/remove-lifecycle stale

[2018-08-06 10:09] sttts commented on #58982
/remove-lifecycle stale

[2018-08-06 10:09] dims commented on #67001
check OWNERS_ALIASES - easy to search using the search tool - https://cs.k8s.io/?q=dep-approvers&i=nope&files=&repos=kubernetes

/close

[2018-08-06 10:09] #67001 closed

[2018-08-06 10:09] sttts commented on #58983
/remove-lifecycle stale

[2018-08-06 10:10] sandyydk commented on #8432
Kubectl proxy fails with the error

F0806 15:37:15.715395   10814 proxy.go:155] listen tcp 127.0.0.1:8001: bind: address already in use

Is there a way to bind proxy to another custom port? Thanks.

[2018-08-06 10:12] rkttu-devsisters commented on #66947
@PatrickLang A few more memory dumps took place, collected, and analyzed briefly. When I gather additional information and judge it, I think the frequency of internal errors is particularly high when running HNS on the Xen hypervisor. I would like to know if there is a problem running Windows HNS on a hypervisor other than Hyper-V.

[2018-08-06 10:32] vladimirvivien commented on #64952
/assign

[2018-08-06 10:38] george-angel commented on #46287
Ping

[2018-08-06 10:50] justaugustus commented on #63155
What's the status of this?
/assign @feiskyer

[2018-08-06 10:52] Angelinsky7 opened #67012 "Environment variables substitution is not consistent"
/kind bug

**What happened**:
When i try to use the environment variables substitution each time i run a pod i have different result :
`CONCOURSE_POSTGRES_DATA_SOURCE='postgres://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(POSTGRES_HOST)/$(POSTGRES_DATABASE)?sslmode=disable' `
should become each time :
`CONCOURSE_POSTGRES_DATA_SOURCE='postgres://concourse:concourse@postgres_host/concourse?sslmode=disa

[2018-08-06 10:56] justaugustus commented on #60168
/lifecycle frozen

[2018-08-06 10:59] justaugustus commented on #58034
@feiskyer -- What's the status of this?

[2018-08-06 11:00] justaugustus commented on #40684
What's the status of this?
/assign @feiskyer
/kind feature
/lifecycle frozen

[2018-08-06 11:26] artemyarulin commented on #57345
Does anyone know when systemd would be updated on GKE? We have that issue every second month :(

[2018-08-06 11:37] chrissound opened #67013 "Documentation is no longer showing up on Google?"
It seems the documentation has changed, and previously I could easily find results for things like
"kubernetes pod affinity"
"kubernetes node taints"

These results are no longer visible?

This is rather frustrating...

Where have the docs gone? Why are they not showing up on Google?

See the below to search results.

![2018-08-06-11 33 07](https://user-images.githubusercontent.com/1499652/4371458

[2018-08-06 11:38] honnix commented on #57345
If I'm not mistaken, update has been done in GKE, at least since version `1.8.8-gke.0`. @artemyarulin

[2018-08-06 11:38] chrissound commented on #67013
/sig docs

[2018-08-06 11:41] artemyarulin commented on #57345
Thank you @honnix, but we have v1.9.2-gke.1 and just got an issue today :(

[2018-08-06 11:43] tingweiwu commented on #66961
@yue9944882 what do you means "caused by cadvisor" and how to solve it?  my Docker Root Dir  is /opt/avatar/docker.    and /opt/avatar still have 672G free and / hava 3G free.  I saw #60558. how can i find out which device my imageFs and nodeFs mounts on ?

[2018-08-06 11:44] honnix commented on #57345
Interesting, then I'm not sure. Regression? Or maybe ported to later 1.9.x than 1.9.2?

[2018-08-06 11:54] tingweiwu commented on #66961
@yue9944882 I don't know if my guess is right or not.
As described in kubernetes docs, the nodefs  is which /var/lib/kubelet mount and imagesfs is which Docker Root Dir mount?
[code]

[2018-08-06 11:55] artemyarulin commented on #57345
Yeah, would try to migrate to the latest one today and see how it behaves, thank you!

[2018-08-06 12:22] hmenn opened #67014 "Timeout expired waiting for volumes to attach"
/kind bug
/sig azure
/sig storage

**What happened**:

I'm triggering docker slaves from my jenkins master. Jenkins connectes kubernetes services and starts kubernetes pods. This pods requires some disks for persistent data(compile results actually). I'm connecting azure premium managed disk to this slaves(pods). Connecting disks takes at least 10 minutes. I'm using D4s_v3 - 4vCPU - 16Ram Virtual

[2018-08-06 12:43] efirdman commented on #49466
Can someone explain why this was closed? Sims like a very reasonable request. Our test system keeps restarting the Pods over and over and over.
I think it should be a setting to set a maximum number of restarts or maximum number of restarts in a selected time period (hour/ day/ month)

[2018-08-06 12:54] mohammedzee1000 commented on #66339
/priority critical-urgent
/remove-priority important-soon
Do we have any eta of when these will be fixed

[2018-08-06 13:03] neolit123 commented on #66997
hi, please create the same issue in the https://github.com/kubernetes/kubeadm repository.
thanks

/close

[2018-08-06 13:03] #66997 closed

[2018-08-06 13:48] mborsz commented on #65497
@jpbetz Could you elaborate how #64539 fixes this issue?

[2018-08-06 14:09] neolit123 commented on #66339
@kubernetes/sig-gcp-test-failures
/sig gcp
/remove-sig node

@mohammedzee1000
the test flakes due to network conditions. it does have green runs from time to time.
as release blocking, is it a requirement for it to be non-flaky?

/assign @quinton-hoole
/assign @jszczepkowski
as per this PR from 2015:
https://github.com/kubernetes/kubernetes/commit/346b8473a32922d3bdb9499f07964ff612ca84cf
to ping t

[2018-08-06 14:35] lonial opened #67018 "Use of "Id token" in Kubernetes openid implementation"
/sig auth
/kind bug

I am try to understand why kubernetes has used "id token" in its implementation and not use "access token" for accessing Kube API from kubectl?

Access token is to be used for accessing some service like Kubernetes API (resource server in open id terminology). See use of access token as mentioned in Open Id specs: https://openid.net/specs/openid-connect-basic-1_0.html#TokenOK

[2018-08-06 14:40] rkttu commented on #66947
@PatrickLang I analyzed the memory dump with the help of my colleagues and analyzed it as follows. A colleague who helped me with the analysis asked me to tell Microsoft that either I made the wrong configuration or it was a bug in HNS, but neither of them should stop the system at all. I agree with that, and I hope that this issue is addressed at a higher level by Microsoft.

[code]

I attach a r

[2018-08-06 14:51] dionysius opened #67019 "Allow setting of Hostname also when PodSpec.HostNetwork is true"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Based on the [Documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#podspec-v1-core)

The "system-defined value" seems to be - according to my observations - the podName when `hostNetwork` is false and the the hostname of the host if `hostNetwork` is true. (Also why this difference? Anyw

[2018-08-06 15:26] kevinsuperped opened #67020 "Coredns does not register services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I installed kubernetes on a proxmox cluster with 4 Ubuntu 16.04 VMs. The install went fine, using calico for the networking, added rook for dynamic storage, no errors. Tried to install Jenkins-x, and during the monocular install step, it kept failing on the step finding jenkins-x-mongodb service. Mongo was up, but could o

[2018-08-06 15:37] kevinsuperped commented on #67020
/sig dns

[2018-08-06 16:40] lavalamp commented on #65012
My previous update links directly to the go language method for sending a
Ping frame. Some surgery is probably needed in the client library to call
it appropriately. I'm not aware of anyone working on this yet, but it seems
like the right way to solve this problem and I'm happy to look at PRs that
address this with the Ping mechanism.

On Sun, Aug 5, 2018 at 8:27 PM Zhonghu Xu <notifications@githu

[2018-08-06 16:52] Huang-Wei commented on #66348
@k82cn sounds good - I will do a thorough check and open another pr.

[2018-08-06 17:02] mohammedzee1000 commented on #66337
CI is green

[2018-08-06 17:04] mohammedzee1000 commented on #66339
This is green now closing
/close

[2018-08-06 17:04] #66339 closed

[2018-08-06 17:05] CTrox commented on #7890
I wrote a CSI driver for S3 (and compatible object stores) which dynamically provisions buckets and mounts them to any (and unprivileged) containers. https://github.com/CTrox/csi-s3

[2018-08-06 17:09] bladerunner512 commented on #66943
Also getting this same error when using kubeadm for local offline install. Separate 3 node ETCD cluster with load balancer node (xx.xxx.xxx.195) for apiserver:

kubelet log:
Aug 06 12:37:50 k8s_master001 kubelet[121122]: E0806 12:37:50.504569  121122 certificate_manager.go:299] Failed while requesting a signed certificate from the master: cannot create certificate signing request: Post https://k8s

[2018-08-06 17:31] #66456 closed

[2018-08-06 17:47] Random-Liu opened #67027 "`gcr.io/kubernetes-e2e-test-images/webhook:1.12v1` is not correctly built"
Containerd can't pull the image with the error `ailed: Failed to pull image "gcr.io/kubernetes-e2e-test-images/webhook:1.12v1": rpc error: code = Unknown desc = failed to pull and unpack image "gcr.io/kubernetes-e2e-test-images/webhook:1.12v1": failed commit on ref "manifest-sha256:0d5afb2f4cf7f485e7ee4b94392d9f089102bc504f15fb889900a01db1e61bd8": "manifest-sha256:0d5afb2f4cf7f485e7ee4b94392d9f089

[2018-08-06 17:55] liggitt commented on #65728
@kubernetes/sig-api-machinery-feature-requests

[2018-08-06 17:55] discordianfish opened #67028 "DNS names in ingress objects should be validated"
I go with
/kind bug

but can be considered feature request too.
This might be a bit controversal, otherwise I would have submitted a PR right away.

**What happened**:
I've created an ingress with a rule which has a name which consists of dns labels with more than 63 characters.
The kubernetes api created the ingress as expected but external-dns failed to create the DNS name because DNS names with

[2018-08-06 17:58] discordianfish commented on #67028
/sig api-machinery

[2018-08-06 18:00] caesarxuchao opened #67029 "Convert admission webhook e2e tests to use yaml configs"
/kind cleanup
/sig api-machinery

The test/e2e/apimachinery/webhook tests serve as examples for webhook users. The tests construct API objects as golang structs. For example purposes, yaml configs are better, as that's how many users create API objects.

[2018-08-06 18:04] phsiao commented on #15180
@mxxk port-forward was originally designed to attach to one pod for debugging and other purpose, the improvement in #59809 was really to help with service discovery so you don't need to lookup the pod name first if you don't care which one you attach to if you have multiple qualifying ones.   port-forward does more than just http connections, so the idea of load balancing does not apply and multip

[2018-08-06 18:06] msau42 commented on #57345
@honnix this is fixed in gke 1.9.3+

[2018-08-06 18:06] msau42 commented on #57345
oops and @artemyarulin ^

[2018-08-06 18:07] msau42 commented on #56104
/remove-lifecycle stale

[2018-08-06 18:07] msau42 commented on #61446
/remove-lifecycle stale

[2018-08-06 18:08] msau42 commented on #24317
This is available in alpha as of 1.11.

/remove-lifecycle rotten

[2018-08-06 18:27] verult commented on #60694
/remove-lifecycle rotten

[2018-08-06 18:31] dxdeidara commented on #18947
This is no further updates in this issue?
Currently I believe ProgressDeadlineSeconds is not avaiblable in daemonsets.

[2018-08-06 18:40] artemyarulin commented on #57345
@msau42 This is awesome, thank you! Doing migration now :)

[2018-08-06 18:55] chenopis commented on #67013
@chrissound Thanks for filing this issue. I'm working on it right now.

[2018-08-06 20:01] dims commented on #67027
@Random-Liu the problem was fixed in docker CLI https://github.com/docker/cli/pull/1156/commits/1fd2d66df89890ca7d830a862d66e1275337ef65

looks like we need to tell folks to make sure they use the latest docker CLI  to push the images. ( 18.06 has the patch https://github.com/docker/cli/pull/1183 )

[2018-08-06 20:01] dims commented on #67027
cc @mkumatag

[2018-08-06 20:02] dims commented on #67027
@ixdy can you please use 18.06 docker and push the webhook image again?

[2018-08-06 20:07] fedebongio commented on #66964
/remove-sig api-machinery
/sig cli

[2018-08-06 20:08] fedebongio commented on #66981
/assign @lavalamp

[2018-08-06 20:09] fedebongio commented on #67027
/assign @mbohlool @caesarxuchao

[2018-08-06 20:16] Shivang44 commented on #66456
@m1kola I appreciate the quick turnaround on that!

[2018-08-06 20:26] coffeepac commented on #66778
is this still an issue?  we do have an option of feature-gating this so the test lives but doesn't block e2e.

[2018-08-06 20:34] rbojja66 commented on #64137
this affects us to, what's the timeline for resolving this issue.
we are facing this on our cluster running  systemd 238.

[2018-08-06 20:37] liggitt commented on #66981
rather than expose the startingName/startingNamespace options, would it make more sense to optionally augment the returned 410 error with a continue token the client can use to continue traversing without respect to resourceVersion? I like that for a few reasons:

* keeps the existing list/continue flow as-is
* signals in the error whether the server supports continuing from an arbitrary point (ra

[2018-08-06 20:40] PatrickLang commented on #66947
Thanks for linking the doc with the stacks! @daschott is going to ping the HNS devs to see if they can identify what needs to happen next. If you have any way to get Amazon to open a support case for this it would also be helpful as ENA.sys isn't something Microsoft has access to.

[2018-08-06 20:44] astub commented on #62009
Does anyone know how I can pass the cadviors metric flags to hyperkube? i.e disable_metrics
https://github.com/google/cadvisor/blob/master/docs/runtime_options.md#metrics

[2018-08-06 20:48] joekohlsdorf commented on #65013
`kubectl help cordon` only says: `Mark node as unschedulable.`
And I can't find what more it does in the documentation. So I would expect that it has exactly the same behaviour as a `NoSchedule` taint.

Why is removing running pods from the balancer working as intended?
If it isn't a bug then the documentation is certainly unclear in this regard.

[2018-08-06 21:37] bjhaid commented on #64137
FWIW, below:

`find /sys/fs/cgroup/ -name run-*.scope -type d -exec rmdir {} \; `

is an hack that works

[2018-08-06 21:52] neolit123 commented on #67019
/sig api-machinery

[2018-08-06 21:53] neolit123 commented on #67012
/sig node
please defer if needed.

[2018-08-06 21:55] neolit123 commented on #67005
@yangqinjiang
your report is incomplete. please fill the template and re-open:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE.md

/sig node
/close

[2018-08-06 21:55] #67005 closed

[2018-08-06 21:56] neolit123 commented on #67020
/sig network

[2018-08-06 22:06] lavalamp commented on #66368
/assign @mbohlool

[2018-08-06 22:09] gzcwnk commented on #66999
thanks, seems Ok but onto missing kernel modules  on the nodes  :(

[2018-08-06 22:09] #66999 closed

[2018-08-06 22:19] Random-Liu commented on #67027
It seems that @caesarxuchao built the image. https://github.com/kubernetes/kubernetes/pull/66066

Please use docker 18.06 to build the image.

[2018-08-06 22:48] PatrickLang commented on #66947
Good & bad news. Good is - it looks like it was fixed in Windows Server 2019 already (MS Bug#17415345). Bad news is I don't have an ETA on a fix for 1803 yet. The Windows Server Insider program has ISOs available so if you want to try it for a proof of concept that should have the fix.

[2018-08-06 23:04] dionysius commented on #67019
Sorry for so many edits. But the clearer the better :)

[2018-08-06 23:08] verult opened #67040 "CSI: kubelet driver registration should not use k8s node as CSI node ID"
/kind bug

**What you expected to happen**: The CSI node annotation contains a map between driver name and the CSI driver node ID, which should be the value reported by the driver through the `NodeGetId()` or the `NodeGetInfo()` call.

**What happened**: If kubelet CSI driver registration is enabled, the annotation contains the k8s node name instead of the node ID given by the CSI driver.

The las

[2018-08-06 23:29] fedebongio commented on #63622
Image created with all the refactor happened on that area, trying upgrading the test at present from 1.7 to 1.9

[2018-08-06 23:45] #60865 closed

[2018-08-06 23:47] haz-mat commented on #63564
/remove-lifecycle stale

[2018-08-06 23:50] gzcwnk opened #67043 "RHEL7 kubernetes cluster will not run "notready""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubernetes cluster will not run

**What you expected to happen**:

Cluster runs.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[root@ipa-rhel7-local-01 kubernetes]# kubectl version
Client Version: ve

[2018-08-06 23:50] spiffxp opened #67044 "Scope LibreSSL check to cluster/ scripts that require easyrsa"
Apparently local-up-cluster worked fine with LibreSSL, ref: https://github.com/kubernetes/kubernetes/pull/66690#issuecomment-410863925

I can't get to this now but I'm going to forget if this is left in a PR comment

/assign
/kind bug
/sig cluster-lifecycle
FYI @liggitt

[2018-08-06 23:53] gzcwnk opened #67045 "RHEL7 install install does not modprobe needed modules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Had to manually install modules.

**What you expected to happen**:

Install setup installs the modules.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS

[2018-08-06 23:56] liggitt commented on #67044
opened #67046

[2018-08-06 23:58] tristanburgess opened #67047 "sample-apiserver API resource types don't have protobuf definitions, requests respond with errNotMarshalable"
/kind bug

**What happened**:
Sent a request for an aggregated resource (sample-api wardle/flunders). Response was a 406 status code and an error message saying the response could not be given.

**What you expected to happen**:
A 200 status response containing marshaled protobuf data for the sample-apiserver API resource types.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-08-06 23:58] tristanburgess commented on #67047
I will take this one as I already have a fix. I can't be assigned because I'm not a project member.

[2018-08-06 23:59] tristanburgess commented on #67047
/sig sig/api-machinery

[2018-08-07 00:01] #66124 closed

[2018-08-07 00:01] #65427 closed

[2018-08-07 00:09] tristanburgess commented on #67047
Proof of new behavior:
[code]

[2018-08-07 00:28] spiffxp commented on #62988
/remove-lifecycle stale

/remove-kind design
/remove-kind feature
/kind cleanup
This isn't about a new design or a new feature, but paying off tech (test) debt.

/remove-area conformance
For ease of triage, I'm removing the area/conformance label.  Reserving it for issues involving GA/non-optional/non-deprecated features until we have the concept of profiles in place.

[2018-08-07 00:29] spiffxp commented on #66475
/remove-area conformance
kubemark isn't part of conformance

[2018-08-07 00:32] Huang-Wei commented on #66992
@cjbottaro would you help to try if you can reproduce this on a 1.11 cluster?

(checked on my 1.11 cluster, seems not able to reproduce)

[2018-08-07 00:47] bgrant0607 commented on #62988
/lifecycle frozen

[2018-08-07 00:54] mlbiam opened #67050 "Support "Preprocessing" MutatingWebhook"
/kind feature

**What happened**:

When I submit a pod to be processed by a mutating webhook that will update the service account and securitycontext I'm finding that my webhook has to take much more into account then updating a single spot because the other admission plugins have already been run so I not only have to update the service account and runasuser, but also update the mounted service a

[2018-08-07 01:13] interma commented on #67050
/sig api-machinery

[2018-08-07 01:14] buzai commented on #63874
@Deepak3994 rm all docker image, pull the latest image

[2018-08-07 01:30] Random-Liu commented on #67027
I rebuilt the image with docker 18.06. This should have been fixed:
[code]

[2018-08-07 01:34] cofyc commented on #66287
/assign

[2018-08-07 01:45] tanshanshan commented on #67043
I think you have config -network-plugin=cni  in kubelet config ,but you have not a network cni plugin
If you do not need  it , you can remove this option

[2018-08-07 02:04] oomichi opened #67051 "HPA: resource-consumer doesn't work well with small millicores"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

HPA e2e tests specify 20 as requestSizeMillicores on resource-consumer for making CPU workload to test HPA feature, and the value is hard-coded on the test like:
test/e2e/common/autoscaling_utils.go
[code]
That means the tests expect 2% CPU workload on every resource-consumer processes, but actual CPU usage(4 - 6%) is ov

[2018-08-07 02:07] oomichi commented on #67051
/sig autoscaling

[2018-08-07 02:08] #66285 closed

[2018-08-07 02:14] gzcwnk commented on #67043
Why would I need it?

[2018-08-07 02:16] gzcwnk commented on #67043
I had a look in /etc/kubernetes/kubelet.conf and nothing saying cni=

[2018-08-07 02:25] tanshanshan commented on #67043
use

the error is not found cni network ,but config cni option in kubelet

[2018-08-07 02:36] gzcwnk commented on #67043
root@ipa-rhel7-local-01 kubernetes]# ps -ef |grep kubelet
root      3110     1  1 08:59 ?        00:03:41 /usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --config=/var/lib/kubelet/config.yaml --cgroup-driver=systemd --cni-bin-dir=/opt/cni/bin --cni-conf-dir=/etc/cni/net.d --network-plugin=cni

[2018-08-07 02:40] DylanBLE commented on #66812
/close

[2018-08-07 02:44] tanshanshan commented on #67043
so remove

and restart kubelet

[2018-08-07 02:56] gzcwnk commented on #67043
Thanks, I seem to have ready after editing /var/lib/kubelet/kubeadm-flags.env

[2018-08-07 03:09] Sn0rt commented on #66708
[code]

[2018-08-07 03:32] feiskyer commented on #60168
Added in https://github.com/kubernetes/kubernetes/pull/66180.

/close

[2018-08-07 03:32] #60168 closed

[2018-08-07 03:44] feiskyer commented on #58034
@justaugustus Sorry, no progress yet.

@khenidak @brendandburns Any ideas on this?

[2018-08-07 03:44] jjtestk8s commented on #63420
@k82cn in 1.9.7，enable the TaintNodesByCondition ，and taint node（e.g. node01）  with NotReady:NoSchedule，then pod also can not be scheduled to  node01  even when node01 is healthy.

What you expected to happen:

The pod should be scheduled to node01 when it is healthy node and
not be scheduled to node01 when it is not ready.

Thanks！

[2018-08-07 03:56] dnivra26 opened #67056 "Kubernetes DNS failure - invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST?**:
bug

**What happened**:
Seeing errors in kube dns logs. Happens randomly for a minute and things start working fine after that. Happens atleast twice a day.

**Logs**
[code]

**Environment**:
- Kubernetes version : v1.10.5-gke.0
- Cloud provider or hardware configuration: GKE

/sig network
@kubernetes/sig-network

[2018-08-07 03:57] jjtestk8s opened #67057 "While taint node with NotReady:NoSchedule，pod cound not be scheduled to the node any more"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
https://github.com/kubernetes/kubernetes/issues/63420
https://github.com/kubernetes/kubernetes/pull/63471
According to #63420 and #63471，
We are now in release 1.9.7，including TaintNodesByCondition=true in the --feature-gates command line flag to the Kubernetes controller manager, such as --feature-gates=TaintBasedEvictions=true,Tai

[2018-08-07 04:28] wenjiaswe commented on #66770
@dekkagaijin, thanks for the clarification. @roycaihw , I am remotely working from China this week , it seems like I don't have access to [[sig-api-machinery] Etcd failure [Disruptive] should recover from SIGKILL](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1668) anymore, maybe because it's running on GCE and there is no access t

[2018-08-07 04:28] wenjiaswe commented on #66770
@dekkagaijin, thanks for the clarification. @roycaihw , I am remotely working from China this week , it seems like I don't have access to [[sig-api-machinery] Etcd failure [Disruptive] should recover from SIGKILL](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1668) anymore, maybe because it's running on GCE and there is no access t

[2018-08-07 04:39] MHBauer opened #67059 "`kubectl port-forward` remains active even after the pod being forwarded to is gone."
**BUG REPORT**
/kind bug

**What happened**:
`kubectl port-forward` remains active even after the pod being forwarded to is gone.

**What you expected to happen**:
`kubectl port-forward` should exit when the backing pod is gone.

**How to reproduce it (as minimally and precisely as possible)**:
 - `kubectl run bb --image busybox --restart=Never -it --rm` start a pod and connect to it
 - `kubectl p

[2018-08-07 04:47] MHBauer commented on #62821
/remove-lifecycle stale
/lifecycle froze
This flag in combination with this command needs clarification.

[2018-08-07 04:50] #60974 closed

[2018-08-07 05:15] andyzhangx commented on #66443
@pdwyer Thanks, I created a PR there: https://github.com/Azure/WALinuxAgent/pull/1287

[2018-08-07 05:25] MHBauer commented on #67059
/sig cli
/sig api-machinery

[2018-08-07 05:28] k82cn commented on #67057
How did you do that? taint node by kubectl?

[2018-08-07 05:29] k82cn commented on #63420
How did you do that? by kubectl? The fix is not ready until 1.11.

[2018-08-07 05:30] k82cn commented on #66708
did you test the fix?

[2018-08-07 05:31] feiskyer commented on #40684
It seems there's no clear use case for update domain. Let's close this issue.

We are working on availability zones support, which is scheduler aware.

@djsly Please reopen it if you have strong use cases which availability zones doesn't meet.

/close

[2018-08-07 05:31] #40684 closed

[2018-08-07 05:39] Sn0rt commented on #66708
@k82cn wait.. I will paste the test information.

[2018-08-07 05:40] STIKO commented on #25908
I managed to kill cloudsql container this way
`apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: schedule
spec:
  concurrencyPolicy: Forbid
  schedule: "*/10 * * * *"
  startingDeadlineSeconds: 40
  jobTemplate:
    spec:
      completions: 1
      template:
        spec:
          containers:
          - image: someimage
            name: imagename
            args:
            - php

[2018-08-07 05:56] Sn0rt commented on #66708
# case --node-cidr-mask-size=30

expect only one pod is running
### master info
[code]
### kubelet info
[code]
### pod info

[code]

## node info

[code]

## result

In line with expectations

# case --node-cidr-mask-size=29

expect 2^(32-29) - 3 = 5 pods is running

## kubelet info

[code]

[code]

[code]

## result

In line with expectations @k82cn

[2018-08-07 06:10] frank-bee commented on #63564
is there any plans to fix this issue in the near future?

[2018-08-07 06:16] krmayankk commented on #66708
Would this fix allow nodes to have custom capacity and scheduler to consider that capacity when scheduling pods which don’t use host network ? Do we need a design before a fix ?

[2018-08-07 06:17] Random-Liu commented on #67027
The test is green now. Close.

[2018-08-07 06:17] #67027 closed

[2018-08-07 06:27] Sn0rt commented on #66708
@krmayankk thx
 the pod run as `hostNetwork: true` and the result is unexpected

[2018-08-07 06:43] Sn0rt commented on #66708
@krmayankk @k82cn
[code]

[2018-08-07 06:57] cofyc commented on #66287
Another optimizing is that we can get PVC from apiserver only if PVC does not exist in cache. Double-check PVC from apiserver to make sure PV is not reclaimed on API sync delay.

[2018-08-07 06:57] yastij commented on #63554
/remove-lifecycle stale

[2018-08-07 07:08] wenlxie commented on #66287
@cofyc  We are doing the same way at our prod env.

[2018-08-07 07:09] cofyc commented on #66287
@msau42 Fix with the second optimizing is much simpler. I created a PR: https://github.com/kubernetes/kubernetes/pull/67062.

[2018-08-07 07:14] cofyc commented on #66287
@wenlxie Next time, you can submit a PR if you have a fix for issues you encountered ;-)
By the way, how many nodes in your large scale cluster?

[2018-08-07 07:16] atulsoft opened #67063 "'CrashLoopBackOff' error prevents logs of crashed containers"
/kind bug

**
$ helm status oketest
LAST DEPLOYED: Tue Aug  7 12:13:50 2018
NAMESPACE: oketest
STATUS: DEPLOYED

RESOURCES:
==> v1beta1/RoleBinding
NAME                             AGE
ova-tiller-binding-oketest       11m
ova-tiller-binding-kube-oketest  11m

==> v1/Service
NAME            TYPE      CLUSTER-IP     EXTERNAL-IP  PORT(S)          AGE
ova-admin       NodePort  10.96.41.43    <none>

[2018-08-07 07:18] moonek commented on #62845
/kind bug

[2018-08-07 07:37] yangqinjiang opened #67064 "What’s the mean? From Istio 1.0 sample, Init:Blocked , I install in stand-alone VM, CentOs 7.5"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
What I did, installing istio 1.0.0 and testing the bookinfo example inside, was that when I created, all pod states were Init:Blocked.

![](https://user-images.githubusercontent.com/1914373/43701279-28e93098-9988-11e8-85bf-78fc4c2454c4.png)

**What you expected to happen**:
All pod states were running

**How to reproduce it (as mini

[2018-08-07 07:37] wenlxie commented on #66287
@cofyc
For this issue, I think there should be solution which no need to touch api-server to fix this issue.  That's why I didn't submit the PR.

Our cluster has more than 1k BM nodes, and we have more than 10K local volume PV. This issue happens when I create 1000 pods(which use local volume) with a for loop script. It is easy to reproduce.

[2018-08-07 08:28] cofyc commented on #66287
This issue happens when cache is out of sync (perhaps  heavy load on apiserver), that would be better if we can fix it without touching apiserver.

[2018-08-07 08:28] serathius commented on #66778
Problem was external, failing test suite is no longer caused by stackdriver.
@loburm can you close the issue?

[2018-08-07 08:28] Sn0rt commented on #66708
@Huang-Wei thanks very much
Maybe I need to reconsider

[2018-08-07 08:37] pymia commented on #65221
[code]
I'm using ubuntu 18.04, have the same issue

[2018-08-07 08:58] loburm commented on #66778
Unfortunately, I can't. Maybe someone else have enough permission to do it.

[2018-08-07 09:07] Angelinsky7 commented on #67012
@neolit123 thanks for you answer, i'm quiet new to this could you elaborate a little more on how to "defer" environment variables substitution ?
But nevertheless, if what i'm doing (in that case what the concourse team is doing) is not correct, could someone explains me why we can't do that but some articles on internet seems to tell that we could

[2018-08-07 09:08] username1366 commented on #66568
@Huang-Wei sorry for my long absence
[code]
Actualy I don't have any problems with this pods they work fine. I hit an issue only after I update deployment via command:
[code]

And issue happens when old pods were terminated and nodes were free except netdata, datadog, and calico

kubectl get po --all-namespaces -o=jsonpath="{range .items[*]}{.spec.nodeName}{'\t'}{.spec.hostNetwork}{'\t'}{.metadata

[2018-08-07 09:10] brancz commented on #66778
I'm not sure I can, but I can try :slightly_smiling_face:

/close

[2018-08-07 09:10] #66778 closed

[2018-08-07 09:11] #67044 closed

[2018-08-07 09:33] prein commented on #51835
Happened to me just now. The --force --now solution didn't work for me. I found the following line in kubelet logs suspicious

Which led me to finding the following issue:
https://github.com/openshift/origin/issues/15802

I'm not on openshift but on Openstack, so I thought it could be related. I gave the advice to restart docker a shot.
Restarting docker made the pods stuck in "Terminating" go awa

[2018-08-07 09:35] domcar commented on #65933
I also encountered the same Bug and I could solve it by using the workaround suggested by @shahbour (tnx).
Is anyone working on solving it?

[2018-08-07 09:43] kargakis opened #67070 "kubectl logs support for cronjobs"
I would expect to read the log from the last job created by a cronjob.

@kubernetes/sig-cli-feature-requests

[2018-08-07 10:32] flyingcougar opened #67072 "kubelet fails on unmount when IO errors"
/kind bug

**What happened**:
POD called to be deleted is stuck infinitely on 'Terminating' while it has a volume mounted with flexvolume driver and XFS filesystem was shutdown due to IO error on the drive.
Kubelet log:
[code]

**What you expected to happen**:
POD is Terminated.

**How to reproduce it (as minimally and precisely as possible)**:
- schedule a POD with flexvolume mounted XFS filesyst

[2018-08-07 10:33] flyingcougar commented on #67072
/sig storage

[2018-08-07 10:35] mfojtik commented on #67070
/cc @soltysh

[2018-08-07 10:39] ensonic commented on #48472
/reopen

[2018-08-07 11:12] philbrookes opened #67075 "QOL improvements around finalizers"
/kind feature

**What happened**:
Currently, when dealing with the `Finalizers` slice on the `ObjectMeta` object, we can add a finalizer with the following:
[code]
Removing specific finalizers like so:
[code]

**What you expected to happen**:
It would be an improvement to allow the developer to have access to 2 new methods on the `ObjectMeta` object:
[code]

**Anything else we need to know?**:
I'm

[2018-08-07 11:17] redbaron commented on #59113
/remove-lifecycle stale

[2018-08-07 11:36] kdomanski commented on #6461
/remove-lifecycle rotten

[2018-08-07 11:36] kdomanski commented on #6461
/reopen

[2018-08-07 11:52] yue9944882 commented on #59113
sadly, i'm afraid the annotations will keep typed `map[string]string` for a long time. 😢refactoring this will involve so many changes and we have to provide backward compatibility at the same time. it's almost impossible.

[2018-08-07 12:13] neolit123 commented on #67012
@Angelinsky7
hi, by `please defer if needed.` i meant if the folks from sig-node think that this should be reviewed by someone else they should defer to them.
ref: https://en.wikipedia.org/wiki/Special_Interest_Group

/cc @kubernetes/sig-node-bugs

[2018-08-07 12:25] redbaron commented on #59113
@yue9944882 , thats fine, bug is more about `kubectl`, rather than annotation type on API side. `kubectl create` correctly errors when it sees non-conforming annotations, but `kubectl apply` doesn't

[2018-08-07 12:31] lw8008 commented on #60558
I got below logs from kubelet log:

I0807 20:22:54.903109   23335 helpers.go:823] eviction manager: observations: signal=nodefs.available, available: 9939024Ki, capacity: 10230Mi, time: 2018-08-07 20:22:40.580607795 +0800 CST m=+1099.270868592

i'm wondering how the capacity 10g comes from?

[2018-08-07 12:35] lw8008 commented on #60558
I also got weird behavior for kubelet evict pod but has lots of free space in the node.

below comes from kubelet log:

I0807 20:22:54.903109 23335 helpers.go:823] eviction manager: observations: signal=nodefs.available, available: 9939024Ki, capacity: 10230Mi, time: 2018-08-07 20:22:40.580607795 +0800 CST m=+1099.270868592

i'm wondering how the capacity 10g comes from?

[2018-08-07 12:48] yue9944882 commented on #67059
IMHO, we don't have a connection management inside these REST connectors (not only for `pod/port-forward`) in server side, so the port-forward connection cannot be canceled unless we run a reconciler to cancel outdated requests in kubelet.

[2018-08-07 13:18] philbrookes commented on #67075
@kubernetes/sig-api-machinery-feature-requests

[2018-08-07 13:33] jsafrane commented on #66497
Filled a proper proposal, together with topology keys needed for .

[2018-08-07 13:34] jsafrane commented on #66497
Filled a proper proposal https://github.com/kubernetes/community/pull/2487, together with topology keys needed for https://github.com/kubernetes/community/pull/2034.

[2018-08-07 13:44] whereisaaron commented on #56582
The current RBAC is pretty limited in this regard. The `resourceNames` attribute is IMHO almost without a use case, since it can't name/identify any workload, not Deployments, StatefulSets, nor Jobs, as Pod names and quantities are dynamic at runtime.

I agree that a pattern match on the names is not the best model either, for the reasons others have expressed above. I suggest RBAC could take a le

[2018-08-07 13:56] liggitt commented on #56582
It is currently used for bounding permissions to specific leader lock resources, and read access to specific secrets/configmaps.

See https://github.com/kubernetes/kubernetes/issues/44703#issuecomment-324826356 for a discussion of the issues with label selector support in RBAC.

[2018-08-07 13:59] mkurylec commented on #66875
regarding this testcase: [sig-storage] HostPath should support r/w [NodeConformance]:
It uses hostPath and privileged=true, to read/write from /tmp folder. Which would you suggest is the best orientation to overcome the privilege mode setting and allow its promotion? @msau42

[2018-08-07 14:02] szuecs commented on #59015
/remove-lifecycle stale

[2018-08-07 14:06] whereisaaron commented on #56582
Label selectors for RBAC have been proposed before. And while not rejected as a concept, the implementation requires several breaking changes under the hood, so probably punted to RBAC v2 😐

https://github.com/kubernetes/kubernetes/issues/44703

Looks like that although `resourceNames` is not very useful, but it was something that could be easily added to the current implementation of admission co

[2018-08-07 14:08] cjbottaro commented on #66992
Unfortunately no. We're using Amazon's hosted Kubernetes (EKS) so we're at the mercy of whatever version they give us, which is 1.10.3 right now. :(

[2018-08-07 14:34] drigz opened #67081 "Incomplete documentation for DeploymentSpec.selector"
/kind bug
@kubernetes/sig-docs-bugs

**What happened**:

I noticed that most (but not all) of our Deployment YAML definitions include both `spec.selector` and `spec.template.metadata.labels`. These were always the same, and I've had a report that if they differ then the deployment doesn't work. However, one definition was missing `spec.selector`, but it seemed to work.

I looked in [the docs](http

[2018-08-07 14:37] bgrant0607 commented on #65497
cc @janetkuo @kow3ns since we had discussed a controller-based TTL GC

[2018-08-07 14:46] keyloguer opened #67082 "Kubernetes not returning endpoints Django Rest-Framework"
@kubernetes/sig-docs
Hey guys i have a django rest application and every time that i expose the deployment with service, my minikube doesn't expose the IP, anyone knows how to solved it? I wait 3 hours and my minikube doesn't show any IP.

Pod/container log:

    &lt;django.db.models.fields.related.ForeignKey&gt;
    &lt;django.db.models.fields.TextField&gt;
    &lt;django.db.models.fields.related

[2018-08-07 14:49] fgeorgatos commented on #65221
met same issue under:
[code]

[2018-08-07 15:00] #28241 closed

[2018-08-07 15:01] #65133 closed

[2018-08-07 15:46] deads2k commented on #67050
Webhooks come last in the chain because a webhook could know about the compiled chain, but the compiled chain cannot know about the webhooks.

SCC and PSP (the upstream equivalent) have two stages: mutation and validation. The mutation step is done early, but the validation step is done after all mutators. This ensures that webhooks cannot violate the security constraints imposed.

[2018-08-07 15:46] #67050 closed

[2018-08-07 15:54] liggitt commented on #67081
That comment is not correct. That defaulting existed in the extensions/v1beta1 version of Deployments, but was removed in the apps/v1 version because it caused problems during update.

/close

[2018-08-07 15:54] #67081 closed

[2018-08-07 15:55] mlbiam commented on #67050
@deads2k i understand why you did it that way.  i'm showing a use case where that reasoning creates a much harder way of doing things.  Your reasoning is invalid in this use case because your reasoning is like saying "you can't submit a pod defenition without knowing what the controller chain will be".  What I'm asking for is a feature that helps centralize transformations BEFORE all of the chains

[2018-08-07 15:58] narunask commented on #66661
`--streaming-connection-idle-timeout=1h` flag didn't solve anything, `kubectl exec` timeout after 1 minute of inactivity (no input / no output):
[code]
[code]
[code]
After running a few tests I now have plenty of `bash` processes:
[code]
[code]

It's not a major problem, but very annoying...

[2018-08-07 16:00] dcowden commented on #56903
@szuecs @bboreham  I have a dnsmasq running locally, and though it is not perfect either, it does improve things considerably.   The dnsmasq is running on the local node, exposing it via the weave interface.  When a pod is configured to use this dnsmasq server, all works pretty well

That leaves the question: What methods can we use to get pods to resolve to that nameserver? So far we have lots of

[2018-08-07 16:03] zrml commented on #57509
FWIW it's bitten me too :( as I was following an older tutorial with video where the presenter did not get any error...

Is there a reference doc where we can find out these things.
Thank you

[2018-08-07 16:12] szuecs commented on #56903
To set the DNS resolver to the right EC2 node we do this:

- get the EC2 node ip: https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/node-pools/worker-default/userdata.clc.yaml#L112-L124
- pass the flag with the ENV to kubelet https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/node-pools/worker-default/userdata.clc.yaml#L165

Like this every POD has a /etc

[2018-08-07 16:35] spiffxp commented on #66875
/assign @mgdevstack

[2018-08-07 16:46] spiffxp opened #67086 "Port test/e2e_node/lifecycle_hook_test to test/e2e/common"
**What happened**:
These tests are errantly listed as `[Conformance]` (ref: https://github.com/kubernetes/kubernetes/pull/67084/files#r208301939) but aren't actually run as part of Conformance.  They need to be moved to test/e2e/common to be included.

To my eyes they may meet the criteria for conformance.  There's definitely nothing about them that is node specific.  They should be running as par

[2018-08-07 16:49] Huang-Wei commented on #66708
@Sn0rt oh i see, you're right.

Then I'm super curious why `len(nodeInfo.Pods())` isn't consistent with available ips on target node.

BTW: a more accurate formula here is to exclude hostNetwork pods: `len(nodeInfo.Pods()) - number of pods using hostNetwork`.

[2018-08-07 16:50] mkurylec commented on #66875
Regarding [this testcase](https://github.com/kubernetes/kubernetes/blob/6bea053ee7e005230059e00c701ff349b296a459/test/e2e_node/pods_container_manager_test.go#L156),  the suite runs the test only if the kubelet configuration was required to have the QOS (cgroups-per-qos) enabled. This configuration for the kubelet is selected at the time the cluster is set up.
Looking for where this might be config

[2018-08-07 17:00] deads2k commented on #67050
We've been over this ground before as in https://github.com/kubernetes/kubernetes/issues/64333. It was heavily discussed there with an [outcome](https://github.com/kubernetes/kubernetes/issues/64333#issuecomment-394352716) that explicitly recommends against any attempt at partial ordering and suggests a double-run approach that would give all plugins two attempts but would still run the original c

[2018-08-07 17:06] bboreham commented on #56903
@dcowden as I said, other issues (e.g. #45363) discuss the question of how to access the DNS on every node, so I don't want to get into the discussion in this one.

[2018-08-07 17:12] shubheksha commented on #62916
/remove-lifecycle stale

[2018-08-07 17:17] jpbetz commented on #65497
@mborsz The root cause fix is https://github.com/coreos/etcd/pull/9924, but it seems likely that #64539 helps to mitigate this issue for k8s for cases where event load high since without #64539 the lease revoke operations become expensive in etcd and can cause leader election churn.

[2018-08-07 17:19] eBeyond commented on #53059
I've got the same issue with k8s 1.11.0 and ceph using dynamic provisioning.
This issue also occures when I do a

`kubectl apply -f deployment.yml`

As such it's not possible to modify something without waiting 6min... :(

[2018-08-07 17:28] cbatra commented on #39261
@ZPerling what was the fix for this?

[2018-08-07 17:35] spiffxp commented on #66875
I would consider cgroups to be an implementation detail that Conformance shouldn't be verifying

[2018-08-07 17:47] yogi-sagar opened #67091 "Use of /dev/random generates secret key with invalid size in gce"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In GCE env, AESGCM encryption of secrets by default generates a secret key with /dev/random instead of /dev/urandom
**What you expected to happen**:
On running cluster/kube-up.sh in GCE provider should create and initialize a cluster without any issue. However, I am seeing below error -

error: error while parsing encrypt

[2018-08-07 17:48] Huang-Wei commented on #66992
To eliminate possible impact by pvc, @cjbottaro could you try to deploy following sample statefulset? Let's see if it can reproduce the problem:

[code]

[2018-08-07 17:48] RobertKrawitz commented on #2630
Yet another use case for this: I'm working on using XFS quotas (obviously, if XFS is in use) for ephemeral storage.  The current enforcement mechanism for ephemeral storage is to run du periodically; in addition to being slow and rather coarse granularity, it can be faked out completely (create a file, keep a file descriptor open on it, and delete it).  I intend to use quotas for two purposes:

1.

[2018-08-07 18:06] pradeep-kaloori commented on #65233
How to find "what pods are using particular PVC  through command line"

[2018-08-07 18:10] dcowden commented on #56903
@szuecs brilliant! thanks for that suggestion of using --cluster-dns.  im not sure if that will work for us, since we use kops, but we can try it!

[2018-08-07 18:13] GerritVK commented on #63854
I found the following instructions helpful when resolving this issue:
 https://blog.tekspace.io/kubernetes-dashboard-remote-access/

Thank you for sending me in the right direction.

[2018-08-07 18:27] haz-mat commented on #63564
@frank-bee yep, PR being worked on over here https://github.com/kubernetes/kubernetes/pull/63572

[2018-08-07 18:35] msau42 commented on #66875
It uses hostPath and privileged=true, to read/write from /tmp folder. Which would you suggest is the best orientation to overcome the privilege mode setting and allow its promotion? Michelle Au

If my understanding is correct, on some platforms, writing to /tmp requires privileged.  I don't see a way to to remove that requirement.

[2018-08-07 18:39] nachimehta commented on #61224
You could try copy and pasting the files from your master in the appropriate place on your nodes, but the fact that the files aren't generating seems to be a different issue than is listed here. Try re-installing kubernetes on your nodes? Ensure they are the same version as your master.

[2018-08-07 18:42] mlbiam commented on #64333
to address #67050 i would support this.  as a webhook dev, i want to do the minimum possible and inherit the controls the system puts in place.  In my own request I don't want to have to re-implement the logic from previous admission plugins in my webhook.  To this end, I want my mutating webhook to run first so as to be as close to the user's initial request as possible.  This way I can inject my

[2018-08-07 18:43] mlbiam commented on #67050
Thank you @deads2k for the additional context

[2018-08-07 18:43] yogi-sagar commented on #67091
/sig gcp

[2018-08-07 18:44] #59759 closed

[2018-08-07 18:47] shyamjvs commented on #66672
Update:
So @mborsz verified that switching from v5 back to v2 indeed restored the pod-startup latency. Also, Maciej's PR https://github.com/kubernetes/kubernetes/pull/66903 which increased sample size of latency pods helped a bit in reducing variance of pod-startup latency percentiles (mainly 50% and 90%):

![pod](https://user-images.githubusercontent.com/4333971/43795507-db186d34-9a81-11e8-8b90-0

[2018-08-07 18:52] michrabi opened #67092 "Stateful set rolling update should start a the new pod and "switch" to it once its ready"
FEATURE REQUEST:

/kind feature
/area stateful-apps

**What happened**:
When performing rolling update an app may become unavailable for a long period of time until the pod finish restarting.
**What you expected to happen**:
rolling update should create the pod "on the side" and connect it to the sts during some pod upgrade.
This should allow application that needs HA / quorum to get back to fully

[2018-08-07 19:18] yogi-sagar commented on #67091
I have a fix ready for this one.

[2018-08-07 19:27] chakri-nelluri commented on #66868
@linyouchong Stock ISCSI driver is working fine with EIO change. But more changes are required for making it work with Flexvolume drivers. I have the change list. I can club your change in or let me know if you want to go ahead and push this fix. I will push another PR to fix flexvolume issues.

[2018-08-07 19:54] caesarxuchao commented on #66981
Returning continue token with 410 error sounds good. The token can be `hash(next key, resourceVersion=0)`. It's sufficient for the `kubectl get` and migration use cases. @lavalamp wdyt?

[2018-08-07 20:08] mkornacker opened #67095 "Proxy URL not working after upgrade from 1.9.3 to 1.9.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After running
kubectl proxy --port=8001 --context <context>
this URL stopped working
8001/api/v1/namespaces/mgmt/services/https:m1-kubernetes-dashboard:443/proxy

For reference, this URL
http://localhost:8001/api/v1/namespaces/mgmt/services
shows (among other things)
    {
      "metadata": {
        "name": "m1-kubernet

[2018-08-07 20:13] lavalamp commented on #66981
It is definitely the latter, and we'd like to eventually store by UID (with name lookup supported via an index). It happens that @caesarxuchao's use case doesn't actually care what they're sorted by as long as it can start somewhere in the middle, but that's hard to express in an API.

So for that reason, I think issuing a new continue token when an old one hits an out-of-window error is a good id

[2018-08-07 20:18] lavalamp commented on #66981
Additional thought on the API proposed:

This is trying to encode a database query. It's not a standard or extensible approach (e.g. we wouldn't want to see 100 different queries done in the api like this). I also don't think we're ready to tackle a general query system. So, for these reasons, I'm not in favor of this API.

[2018-08-07 20:18] spiffxp commented on #66875
Yeah writing to host doesn't seem like a thing we can expect of conformance tests.  I wonder if it makes sense to tag this test with something to denote the requirement, ie: I see some tests in test/e2e_node use `[NodeFeature:HostAccess]`

[2018-08-07 20:20] caesarxuchao commented on #66981
Thanks for the inputs. Issuing a continue token that doesn't care about resourceVersion is a small code change. I don't think that requires a KEP. I'll send a PR.

[2018-08-07 20:36] lavalamp commented on #66981
I'm not sure that's an accurate summary but we can work it out in the PR
either way. :)

On Tue, Aug 7, 2018 at 1:21 PM Chao Xu <notifications@github.com> wrote:

[2018-08-07 20:43] mxxk commented on #15180
Thanks for clarifying @phsiao. Perhaps this point can be further clarified in the help page for the port forward command? The current wording

https://github.com/kubernetes/kubernetes/blob/8a5e9ecf8febdfe5ca72d4d99340ce22cbf55cbb/pkg/kubectl/cmd/portforward.go#L76-L77)

simply says "a pod selected by the service", but it would be great if it explicitly states that _one_ pod selected by the service

[2018-08-07 20:48] liggitt commented on #61961
I added the arguments in the issue description (valid issuer url, invalid client id, etc), then attempted to make API requests with x509 authn, service account bearer tokens, and oidc bearer tokens.

[2018-08-07 20:52] qgicup commented on #66924
Any solution on this? Also having this problem

[2018-08-07 21:15] #60002 closed

[2018-08-07 21:28] #66298 closed

[2018-08-07 21:28] #67051 closed

[2018-08-07 21:42] oomichi commented on #66949
This issue has been fixed after applying https://github.com/kubernetes/kubernetes/issues/67051

[2018-08-07 21:42] #66949 closed

[2018-08-07 22:30] MHBauer commented on #67059
Where is the connection terminated? Kubectl isn't doing a query on pods after it finds the initial one. Does this indicate a connection being maintained from kubectl all the way through to the kubelet hanging open even if the pod doesn't exist?
Is there documentation somewhere describing what should be going on? The code comments are a bit sparse and the callbacks and interfaces are hard for me to

[2018-08-07 22:34] sbsends commented on #62798
@xiaolanz please help!!! I would like to use ESP behind GCE-Ingress (cert-manager and Let's Encrypt). I have spent hours trying to diagnose the problem.

@freeformz @brosner @gnufied

## Ingress
[code]
## Service
[code]
## Deployment
[code]

[2018-08-07 23:08] spiffxp opened #67103 "Port test/e2e_node/runtime_conformance_test to test/e2e/common"
**What happened**:
There are tests in here errantly listed as `[Conformance]` (ref: https://github.com/kubernetes/kubernetes/pull/67084); they aren't actually run as part of Conformance.  They need to be moved to test/e2e/common to be included.  Feedback on the linked issue is that we can port the whole file over.

Would like advice from @wangzhen127 on how to do deal with things that may not port

[2018-08-07 23:12] spiffxp commented on #67103
/area test

[2018-08-07 23:12] spiffxp commented on #67086
/area test

[2018-08-07 23:13] spiffxp opened #67104 "Port test/e2e_node/kubelet_test to test/e2e/common"
**What happened**:
These tests are errantly listed as `[Conformance]` (ref: https://github.com/kubernetes/kubernetes/pull/67084) but aren't actually run as part of Conformance.  They need to be moved to test/e2e/common to be included.

To my eyes they may meet the criteria for conformance.  There's definitely nothing about them that is node specific.  They should be running as part of our regular

[2018-08-07 23:35] gzcwnk commented on #67045
Docker Network and/or communication is dead between nodes.  It seems genuine RHEL7.5 needs different / extra configuration to Centos 7.5 and this seems un-documented even from googling.

I will just leave this for now until decent docs become available that pertain to real RHEL7.

[2018-08-07 23:47] PatrickLang commented on #66794
/remove-sig windows

Minikube and Docker for Windows run Linux VMs with Kubernetes inside them. It would be best to follow up on those forums on troubleshooting around CPU usage for those VMs.

SIG-Windows is focused on building what's needed to add a Windows node to a Kubernetes cluster to run Windows apps.

[2018-08-08 00:11] roycaihw commented on #66770
The test `[sig-api-machinery] Etcd failure [Disruptive] should recover from SIGKILL` in job https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master failed twice between 8/3 and 8/7 (today):

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1692
[code]
https://k8s-gubernator.appspot.com/build/kubernet

[2018-08-08 00:25] krzyzacy commented on #62754
/remove-lifecycle stale
/assign @paulangton
give Paul a chance to do a k/k PR :-)

[2018-08-08 00:26] krzyzacy commented on #62754
I think we can purge *most of the stuff* in https://github.com/kubernetes/kubernetes/tree/master/test/e2e_node/jenkins now - just see if they are still referenced anywhere :-)

[2018-08-08 00:43] jiayingz opened #67107 "After node reboot, device manager may start a container requesting device plugin resources before device is ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
As mentioned in [Device plugin resource lifecycle improvement](https://docs.google.com/document/d/1rYE_jcUjQUqWb-ZRJpG_FLDxOWp5mjOGKGE59HLYGNk) doc, for certain types of device plugin resources, their devices need to be reconfigured after node reboot. The devices may not be in the ready state until the device plugin re-re

[2018-08-08 00:52] Huang-Wei commented on #66568
@username1366 do you mean everytime you hit the issue when doing `kubectl apply -f`? I'm a little confused..

And could you answer the questions I proposed in comment https://github.com/kubernetes/kubernetes/issues/66568#issuecomment-410018330?

[2018-08-08 00:54] Huang-Wei commented on #66568
@jpiper could you show me result of `k get pod app-passive-7f97555865-4ntxx -o yaml -n app`? And you hit the issue on first attempt of deployment?

[2018-08-08 00:58] linyouchong commented on #66868
@chakri-nelluri Please club my change, I will close my PR. Thanks!

[2018-08-08 01:38] #66255 closed

[2018-08-08 01:41] ddysher commented on #52757
@samedguener we have exactly the same use case to share GPUs across low qps inferences services. Our current workaround is to run a single service to orchestrate the services; it works but not ideal. (we've summarized this [here](https://docs.google.com/document/d/1dbV9PK2Hkp9XqVI71K6jA7LW2CZbfbIyoZl-ZIn9ymM/edit?ts=5b5761d0#), at section `Blocking Issues`).

@straydata we recently find out this a

[2018-08-08 01:41] bgrant0607 commented on #66875
@msau42 That's /tmp on the host or in the container filesystem?

[2018-08-08 01:47] yue9944882 commented on #67059
i'm afraid so. we'll proxy a websocket connection kubectl->kubeapiserver->kubelet on port-forward.

[https://github.com/kubernetes/kubernetes/blob/3c05d926db6ff8d544ec8e1514284889a84bccb1/pkg/registry/core/pod/rest/subresources.go#L191](https://github.com/kubernetes/kubernetes/blob/3c05d926db6ff8d544ec8e1514284889a84bccb1/pkg/registry/core/pod/rest/subresources.go#L191)

[2018-08-08 01:59] msau42 commented on #66875
/tmp on the host

[2018-08-08 02:43] xiaoxubeii commented on #66966
I think it cannot work in kube-proxy ipvs because kube-ipvs0 is a dummy interface, so it cannot be accessed from outside without masq. I think one possible approach is to use NodePort to expose your svc.

[2018-08-08 02:52] Sn0rt commented on #66708
@Huang-Wei if a user who set the `AllowedPodNumber` and the value of `AllowedPodNumber` is less than the totally avalibale ip addresses, we will set the number with the smaller one。

and can I send this `PR` ?
@Huang-Wei  @k82cn @krmayankk

[2018-08-08 02:59] jsoref commented on #66708
could someone please change the summary from `shoud't` to `should't`?

[2018-08-08 03:04] #67045 closed

[2018-08-08 03:06] andyzhangx commented on #67014
Hi @hmenn , has it recovered now? It looks like mount timeout is due to long time disk attachment (expected time is less than 1 min). And what's your k8s region, then?

[2018-08-08 03:09] KyGuard commented on #44231
I have the same problem, have you solved it?

[2018-08-08 03:22] jsoref opened #67112 "e2e/unit/integration flake:pull-kubernetes-e2e-gce-100-performance"
/kind bug

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65420/pull-kubernetes-e2e-gce-100-performance/15248/
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/66888/pull-kubernetes-e2e-gce-100-performance/15293
[code]

**What you expected to happen**:
No errors

**How to reproduce it (as minimally and precisely as possibl

[2018-08-08 03:41] hzxuzhonghu opened #67113 "Consider deprecate `Initializers` admission controller"
As webhook admission has been beta, and we can implement all the function` Initializers` does by webhook admission. So I think it's time to deprecate `Initializers`, eventually remove it.

/cc @caesarxuchao @deads2k @liggitt @sttts

[2018-08-08 03:41] hzxuzhonghu commented on #67113
/sig api-machinery

[2018-08-08 03:49] #63564 closed

[2018-08-08 03:59] liggitt commented on #64387
this isn't really a bug, enabling non-default policy/admission restrictions (especially ones like DenyEscalatingExec that uniformly deny all requests without regard for the permissions of the caller) can break conformance assumptions.

[2018-08-08 04:00] liggitt commented on #64387
xref #65408

[2018-08-08 05:03] leeivan opened #67115 "The hardware Requirement on GCE to run Kubemark"
/area test
/sig testing
/sig scalability

I want to know the hardware requirement on GCE to run Kubemark.
### **Currently, Kubernetes Cluster on GCE is:**

leeivan@kubernetes-master ~ $ kubectl get nodes
NAME                           STATUS                     ROLES     AGE       VERSION
kubernetes-master              Ready,SchedulingDisabled   <none>    6d        v1.12.0-alpha.0.2381+4797c8df8f2

[2018-08-08 06:04] hmenn commented on #67014
Hi @andyzhangx , yes. It takes  around 13 minutes to reach first pipeline step. All resources are located in East US region.

I'm also using dynamic persistent volume claims like this.
[code]

P.S: I connected k8s node over ssh to see disk attachments. I can see content of disk on k8s node but k8s service not mounts to pod.

[2018-08-08 06:09] k82cn commented on #66708
@Sn0rt , can you confirm with sig-network and sig-node whether scheduler can always "trust" `n.node.Spec.PodCIDR`?

[2018-08-08 06:25] WeiZhang555 commented on #3949
Hi everyone, is there any progress or more discussion around this? I am developer from [kata-containers](https://github.com/kata-containers) , and currently is investigating live migration for K8S+kata container.

With KataContainers,  we can run K8S on bare metal and run serverless containers because each container is also a VM/server. In this design, we need to support the live migration of the

[2018-08-08 06:44] andyzhangx commented on #67014
@hmenn so after a few tries by the pod, the pod is in running state now?

[2018-08-08 06:52] domcar commented on #45350
I have the exact same Issue as mentioned by @wu105
But even if I create manually the `special device` it does not work

[2018-08-08 07:01] DylanBLE opened #67118 "should scheduler take real-time resource usage into consideration?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
The prioritize functions are using request to calculate score. Why not considering the real-time resource usage on each node?

**What you expected to happen**:
the nodes with low resource request but high resource usage may get lower score.

**How to reproduce it (as minimally and precisely as possible)**:
na

**Anyt

[2018-08-08 07:02] hmenn commented on #67014
@andyzhangx I'm using this pod for building some projects. The pod die after finish pipeline. For each recreation, I'm waiting extra 10 minutes for disk attachments to pod.

[2018-08-08 07:02] DylanBLE commented on #67118
/sig scheduling

[2018-08-08 07:06] liggitt commented on #67095
what was the response from the proxy url? What is the content of the "m1-kubernetes-dashboard" endpoints object in that namespace?

[2018-08-08 07:29] thanethomson opened #67119 "Open file descriptor usage increases steadily over time for kube-apiserver and kubelet with Heketi/glusterfs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`kube-apiserver` and `kubelet` seem to continuously open new connections without closing them. When restarting these components, open file descriptors drop to low levels again (roughly 80 for `kube-apiserver` and `kubelet`), but then continue to climb steadily as before. During this time, only a handful of services were de

[2018-08-08 07:29] domcar commented on #65942
Anyone working on this? I have the same issue with `vsphere` cloud provider

[2018-08-08 07:36] jjtestk8s commented on #67057
Yes，I tried  "kubectl taint nodes node01 node.kubernetes.io/NotReady=:NoSchedule",and also tried "kubectl taint nodes node01 node.kubernetes.io/not-ready=:NoSchedule"

[2018-08-08 07:38] jjtestk8s commented on #63420
Yes，I tried  "kubectl taint nodes node01 node.kubernetes.io/NotReady=:NoSchedule",and also tried "kubectl taint nodes node01 node.kubernetes.io/not-ready=:NoSchedule"

[2018-08-08 07:38] jjtestk8s commented on #63420
@k82cn

[2018-08-08 07:42] k82cn commented on #63420
this feature did not handle taint manually

[2018-08-08 07:48] jjtestk8s commented on #63420
Ok, thanks a lot!
So I can not solve the problem  manually now and what I should do is just waiting for the version 1.12, right?

[2018-08-08 07:52] tpoindessous commented on #27114
Hi

@andyxning, any update on your work on this issue ?

We have the same problem : we have a lot of Java Web micro services which takes between 1 and 3 minutes to get "Ready".

We use same health URL for livenessProbe and ReadynessProbe and we must set initialDelaySeconds to a larger value, just to be sure that our containers don't be killed when booting.

We wanted to play with failureThreshold

[2018-08-08 07:56] sttts commented on #67113
/cc @smarterclayton

[2018-08-08 08:09] P1ng-W1n commented on #66661
That doesn't make much sense.. The default --streaming-connection-idle-timeout is 4 hours. Even if you restrict yourself to 1 hour, your shell should not quit after a minute because of that.
It sounds more like a restriction applied on a different level, like a TMOUT setting in the bash profile or something.
Could you please test if the same happens when you start your container image in docker?

[2018-08-08 08:32] mariojacobo commented on #59438
+1

"message": "the server is currently unable to handle the request (get services http:heapster:)",
  "reason": "ServiceUnavailable",
  "details": {
    "name": "http:heapster:",
    "kind": "services",
    "causes": [
      {
        "reason": "UnexpectedServerResponse",
        "message": "Error: 'dial tcp 10.48.0.70:8082: getsockopt: connection timed out'\nTrying to reach: 'http://10.48.0.70:8

[2018-08-08 08:39] hmenn commented on #67014
@andyzhangx  using eastus is not mandatory. If you have another advice for europe which is tested, I can create another resource group. And I will also test eastus2

[2018-08-08 09:15] #66904 closed

[2018-08-08 09:16] shyamjvs opened #67120 "Kubemark-5000 flakes with namespace deletion"
We have recently started seeing occasional failures, e.g:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1137
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1132
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1129
- https://k8s-gubernator.a

[2018-08-08 09:28] jicki opened #67123 "kubernetes 1.11.2 kube-proxy error *core.Endpoints: Unauthorized"
# kube-proxy Error

[code]

pls help me!

[2018-08-08 09:34] leeivan opened #67124 "Failed to gather kube-scheduler CPU profile: Failed to run 'go tool pprof': exit status 1"
/area test
/sig testing
/sig scalability

density_2018-08-08T05:23:41-04:00.pprof: parsing profile: unrecognized profile format\nfailed to fetch any source profiles\n"
Aug  8 05:23:53.166: INFO: Density Pods: 311 out of 900 created, 279 running, 32 pending, 0 waiting, 0 inactive, 0 terminating, 0 unknown, 0 runningButNotReady
Aug  8 05:24:03.167: INFO: Density Pods: 311 out of 900 created, 279 run

[2018-08-08 09:35] shyamjvs commented on #67120
Ok, so I found out the clusterIP of the hollow-node pod from the build-log:

[code]

and then I searched for the node with podCIDR `10.64.14.0/24` in [nodes.yaml](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1132/artifacts/nodes.yaml) file and found that it's `kubemark-5000-minion-group-rshw`. I'll next take a look at that node's logs.

[2018-08-08 09:57] pezzati commented on #29097
Sorry to comment on this old issue. I want to update my image after some search i have found below straight command.
`kubectl set image deployment/application app-container=$IMAGE`
Is this alright for to use in productions env?

[2018-08-08 10:26] shyamjvs commented on #67120
I couldn't find anything much useful from the kubelet logs (besides regular creation/deletion logs of the hollow-node pod). I think we should try option-2.

[2018-08-08 10:27] marandalucas commented on #41598
We have the same problem when we deploy kafka "statefulset" with dynamic pvc.
_The pod is always in Pending..._

kube-scheduler logs:
`I0808 08:57:17.649951       1 scheduler.go:191] Failed to schedule pod: namespace/namespace-kafka-svc-kafka-0
I0808 08:57:17.650022       1 factory.go:1251] Updating pod condition for namespace/namespace-kafka-svc-kafka-0 to (PodScheduled==False)
I0808 08:57:33.652

[2018-08-08 11:08] pvanderlinden opened #67126 "Events/alerts for force killed pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

When you delete a pod, or it get's deleted due to a new version, sometimes containers don't shutdown properly, and just hang. Kubernetes will force kill those when this happens after a grace period. This will be done entirely silent, and the only way to find this out to (manually) watch a pod to see that it takes the

[2018-08-08 11:12] pvanderlinden commented on #67126
@kubernetes/sig-instrumentation-feature-requests

[2018-08-08 11:28] redbaron commented on #66661
It can also be a loadbalancer between kubectl and API server

[2018-08-08 11:29] justaugustus commented on #44505
Email update to steering + sig-release + sig-contribex: https://groups.google.com/d/msg/kubernetes-sig-release/6oljCwkD6HQ/sH8W-uwwAAAJ

[2018-08-08 11:53] nikhita commented on #66538
Can confirm that kubectl watch does not support `additionalPrinterColumns`. This happens because we pass each `*unstructured.Unstructured` object to `PrintObj`, instead of the `Table`.

https://github.com/kubernetes/kubernetes/blob/28b2b2128723d382ce241e9b67c7e875b9dfba78/pkg/kubectl/cmd/get/get.go#L542-L556

The printer checks if the object is `Unstructured` and then checks if it has a `handler`

[2018-08-08 11:53] nikhita commented on #66538
Since `PrintObj` takes tables, we can get a `Table` response by doing something like this: https://github.com/nikhita/kubernetes/commit/630b8128144d63a364afcb13c935a4bb1f6622b2 and pass it down. However, this would print the columns correctly only for the _first time_. :/

[code]

All other values would just show NAME and AGE because the watch event just gives us the `Object` (https://github.com/n

[2018-08-08 11:56] nikhita commented on #66538
@sttts @deads2k @liggitt any suggestions? ^^

[2018-08-08 11:56] nikhita commented on #66538
also from @smarterclayton's comment in https://github.com/kubernetes/kubernetes/pull/48033#discussion_r125116894:

[2018-08-08 11:57] nikhita commented on #66642
Dupe of https://github.com/kubernetes/kubernetes/issues/66538. Will continue the discussion there.

@qiujian16 Thanks for reporting this though! :+1:

/close

[2018-08-08 11:57] #66642 closed

[2018-08-08 11:57] AntonFriberg commented on #65835
Same thing happens on 1.11 using minikube. In the dashboard I get the following error.
[code]
[code]

[2018-08-08 11:58] nikhita commented on #66538
/sig cli

[2018-08-08 11:58] #58605 closed

[2018-08-08 12:00] apelisse opened #67128 "Dry-run: Add more e2e tests"
Dry-run needs many e2e tests to validate that nothing is persisted change when the dry-run flag is provided.

Things that can be done (and/or to be discussed):
- [ ] Test pod-binding, since it's asynchronous
- [ ] Add tests in [resttest.go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/registry/rest/resttest/resttest.go) (#67136)
- [ ] Add tests similar to [

[2018-08-08 12:05] AntonFriberg commented on #65835
Same error on 1.11.1
[code]
[code]

[2018-08-08 12:13] blueskyll opened #67129 "kubelet failing to collect filesystem states leads to node disk pressure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubelet log indicates that cadvisor failed to collect filesystem with a lot of " No such file or directory" , and then eviction manager tells that evicting pod(s) to reclaim nodefs is needed while node disk usage is low.
**What you expected to happen**:
As known from other issues, cadvisor will du the whole overlay dir instead of th

[2018-08-08 12:15] blueskyll commented on #67129
/sig kubelet

[2018-08-08 12:15] iamkarlson commented on #48180
@deitch how do you think, is pod preset doing what you wanted to? ([link](https://kubernetes.io/docs/tasks/inject-data-application/podpreset/))

[2018-08-08 12:17] blueskyll commented on #67129
sig/kubelet

[2018-08-08 12:20] AntonFriberg commented on #65835
This is my configuration
[code]

[2018-08-08 12:47] nkkashyap opened #67132 "Flexvolume driver not getting chance for cleanup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A POD was deployed with a PVC, PVC was created using IBMCloud Object Storage Plug-in (https://github.com/IBM/ibmcloud-object-storage-plugin). In some situation, may be OOM case,  the backend `s3fs-fuse` process, one responsible for managing the bucket mount point, got terminated and the access to mount-point throws error

[2018-08-08 12:59] nkkashyap commented on #67132
@kubernetes/sig-Storage

[2018-08-08 13:10] AntonFriberg commented on #65835
I think I found the reason for the crash. Since 1.9.4 secrets and configMaps will be mounted as read-only volumes. Since kubernetes needs to place its own secrets in `/run/secrets/kubernetes.io/serviceaccount/` it is unable to place them as `/run/secrets` is read-only. The result is that the pod crashes. This also explains why mounting my secrets in `/run/secrets/test` works but not `/run`.

I hav

[2018-08-08 13:12] jpiper commented on #66568
@Huang-Wei when it was stuck pending it looked like this. I could downgrade and re-upgrade my cluster to break it again for you if you want more info!

[code]

[2018-08-08 13:13] AntonFriberg commented on #66821
Perhaps you are mounting configMaps or secrets in `/run` or `/run/secrets`? Since 1.9.4 configMaps and secrets are always mounted as read-only filesystem causing pods to crash since kubernetes needs to place files in `/run/secrets/kubernetes.io`.

[2018-08-08 13:14] jpiper commented on #66568
@Huang-Wei note that in this case, the pod was scheduled before the upgrade, and then when I upgraded k8s and deleted the pod, the replacement one failed to schedule and gets stuck in pending. Restarting the control plane fixed this for me.

[2018-08-08 13:20] davidbalazs opened #67134 "MutatingWebHook unable to update volume sources"
/kind bug

**What happened**:
I am using a MutatingWebHook to decorate incoming deployments with sidecars and volumes. The deployments are part of Helm charts.

When the MutatingWebHook is processing the deployment, there is a volume that is already declared in the volume list of the incoming deployment (and has the volumeSource set to emptyDir) and the mutatingWebHook tries to update the volume b

[2018-08-08 13:23] kirs opened #67135 "Removing spec.replicas of the Deployment resets replicas count to single replica"
/kind bug

**What happened**:

A Deployment spec with hardcoded `replicas` parameter was applied:

[code]

Later, we've decided to let the `replicas` value be dynamic to be able to manage it with `kubectl scale`, without changing YAML every time. So we applied another spec, without the `replicas` key:

[code]

After the updated spec was applied, Kubernetes ignored existing `replicas` count and sca

[2018-08-08 13:30] #65724 closed

[2018-08-08 13:32] bboreham commented on #56903
If I understand correctly, you're bypassing masquerading since your traffic is simply going out onto a bridge then onto the link-local adapter, and conntrack will not get involved.

Which pod network is that with?

[2018-08-08 13:36] AntonFriberg commented on #65835
Ok I have found a workaround using "subPath"

[code]

[2018-08-08 13:51] ianjuma commented on #46915
I have the same issue.

Running 1.11 with a client on the same version.
[code]

Looks like heapster crashes with a 503? And and not related to an RBAC issue as expected.
[code]

GET ```/api/v1/namespaces/kubesystem/services/http:heapster:/proxy/apis/metrics/v1alpha1/namespaces/hydra/pods?labelSelector=```

[code]
curl -X GET  --cacert /var/lib/kubernetes/ca.pem  'https://10.100.100.100:6443/api/v1

[2018-08-08 13:53] Lynzabo commented on #66892
This problem has been around for 6 days. Didn't everyone meet it?

[2018-08-08 13:53] mborsz commented on #66026
I believe that I found a next instance of similar issue in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/16314

From logs:
[code]

In apiserver's logs I see:

[code]

IIUC this means that step 'About to store object in database' took 367ms and 712ms respectively.
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserv

[2018-08-08 13:54] szuecs commented on #56903
@bboreham conntrack is AFAIK involved from dnsmasq to CoreDNS serviceip, not?

[2018-08-08 14:02] jsoref commented on #66708
@Sn0rt could you please change the summary from `shoudn't` to `shouldn't`?

[2018-08-08 14:27] liggitt commented on #66874
see https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/ (or `kube-scheduler --help`) for details on providing the config file to the scheduler

[2018-08-08 14:39] liggitt commented on #67135
defaults are applied for missing values on both create and update.

to let the replicas field be ignored by apply, omit it from the initial applied manifest

to stop replicas from being managed by apply, use `kubectl apply edit-last-applied` (or `kubectl apply set-last-applied`) to remove the replicas field from the saved "last applied" state prior to applying the new manifest to keep `apply` from

[2018-08-08 14:39] #67135 closed

[2018-08-08 14:40] liggitt commented on #67123
what setup method did you use to create your cluster? is the error only on start or persistent/recurring?

[2018-08-08 14:42] liggitt commented on #66874
/close

[2018-08-08 14:42] #66874 closed

[2018-08-08 14:54] dcowden commented on #56903
@bboreham the pod network is 'lo'

[2018-08-08 15:09] avielb opened #67138 "Restoring PersistentVolumeClaim with dynamic storage after it's cluster is deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently, I have the following setup in place:
2 pods with shared volume, the volume is provided from a PersistentVolumeClaim object that provided by dynamic allocation that is backed up by a StorageClass object based on aws-efs provisioner.
This architecture is seemed to be working well for me as I don't need to manage

[2018-08-08 15:09] andyzhangx commented on #67014
@hmenn attaching disk time cost is not stable, if your workload finishes quickly, I would suggest use azure file instead, the mount would be much quicker.

[2018-08-08 15:10] mkornacker commented on #67095
This is the response:
Error: 'dial tcp 100.112.169.131:8443: getsockopt: connection timed out'
Trying to reach: 'https://100.112.169.131:8443/'

This is the spec of the same service running in a different cluster (1.9.3):
{
  "kind": "Deployment",
  "apiVersion": "extensions/v1beta1",
  "metadata": {
    "name": "m1-kubernetes-dashboard",
    "namespace": "mgmt",
    "selfLink": "/apis/extensions/

[2018-08-08 15:15] avielb commented on #67138
/sig storage

[2018-08-08 15:16] avielb commented on #67138
/sig aws

[2018-08-08 15:51] xtchenhui commented on #43405
@erictune have you tried the approach 2? Actually i'm investigating on the similar method now to migrate runv containters from one node to another.

[2018-08-08 15:51] bboreham commented on #56903
Yes, I was only thinking about the first hop.
Maybe dnsmasq doesn't run all its requests originating from the same socket?

[2018-08-08 16:02] gnufied commented on #67132
@nkkashyap can you open your PR as a fix?

[2018-08-08 16:09] bladerunner512 opened #67141 "coredns fails to start with endless "ContainerCreating""
/kind bug

**What happened**:
coredns fails to start after deploying SDN

$ kubectl -n kube-system get pods
NAME                                        READY   STATUS              RESTARTS    AGE
calico-kube-controllers-b49d9b875-6lmqx     1/1     Running             0           15m
calico-node-895fq                           2/2     Running             0           15m
calico-node-xjqvk

[2018-08-08 16:25] #61015 closed

[2018-08-08 16:25] #60964 closed

[2018-08-08 16:28] GrantKlassy opened #67142 "Running pod and CronJob pod with shared iSCSI PVC not scheduled on same node"
/kind bug

### **What happened**:

A pod created by a cronjob and an existing pod which shared the same iSCSI pvc did not get scheduled on the same worker node. Because iSCSI can only be mounted read/write to one worker node, the pod scheduled by the cronjob became stuck in ContainerCreating.

### **What you expected to happen**:

Because the two pods shared the same iSCSI pvc, the scheduler shoul

[2018-08-08 16:28] GrantKlassy commented on #67142
/sig storage

[2018-08-08 17:16] wangzhen127 commented on #67103
I think the goal here is to port as many as possible. But if some of them cannot be ported, it may be fine. For example, if a NodeConformance test tries to test kubelet behavior by changing some manifest and checking if such change is picked up by kubelet, such test may belong to node only. Whether we want to promote such kind of test to K8S conformance test, it should be a decision made by sig-no

[2018-08-08 17:26] jtravell opened #67143 "Inject environment variables into Persistent Volume definition"
Here is my first attempt of a json file in which environment variables would be injected into a definition of a Persistent volume:

    {
        "apiVersion": "v1",
        "kind": "PersistentVolume",
        "metadata": {
            "name": "statefulset-pgdata-0",
            "labels": {
                "name": "statefulset-pgdata"
            }
        },
        "spec": {
            "capacit

[2018-08-08 17:36] Huang-Wei commented on #67118
This is also one of my concerns. I _guess_ it's complicated to use/sync realtime info like cAdvisor metrics/CNI info.

@bsalamat @k82cn @resouer should be able to answer this question with more background knowledge.

[2018-08-08 17:38] dcowden commented on #56903
@bboreham  that's possible. more likely, the caching is  reducing so dramatically the number of requests going out concurrently that we simply don't see it.

once you have a caching dnsmasq on node, and you elminate UDP issues between the pod and that dnsmasq,  you'd need multiple pods on the same node to request an _uncached_ dns record concurrently to see the issue.  Our tester doesnt do this, b

[2018-08-08 17:47] lavalamp commented on #67128
Let's talk about this, why do we need e2e tests instead of integration tests? I can't think of anything additional we get from the e2e environment?

I think we need to test, in integration tests:
* CRD: one cluster scoped, one namespace scoped, with each having multiple versions -- we don't get additional certainty from testing additional CRDs.
* One APIService of an extension apiserver that suppo

[2018-08-08 17:48] lavalamp commented on #67128
@deads2k / @liggitt did one of you have some specific reason for wanting e2e tests?

[2018-08-08 17:48] jtravell commented on #67143
@k8s-ci-robot
Do you mean like that?  I dont know what sig to choose.  I am guessing since it has to do with variables then maybe Architecture sig.

[2018-08-08 17:51] deads2k commented on #67128
Not from me.  I think that the integration test that checks all resources (including scale, status, and binding)  via discovery like the etc storage test is requirement for turning it on the through the rest handler, but that test isn't helped by being an e2e test.

[2018-08-08 17:52] liggitt commented on #67128
as far as I know, we don't have working extension apiservers in integration tests (don't have kubelets/pods), so that bit would have to be exercised via e2e as well.

agree on exercising the subresources as well, but I think all the built-in types and CRDs could be exercised via integration like the etcd storage test does.

[2018-08-08 17:52] jennybuckley commented on #67128
Will we ever want this as a conformance test?

[2018-08-08 17:53] EronWright commented on #32432
Is there a follow-up issue to add similar support to the `Secret` resource?

[2018-08-08 17:54] hmenn commented on #67014
@andyzhangx Azure file storage is case insensitive but I need case sensitive file system. So, Do I have to accept this timeout problem overhead? Actually 10 minutes acceptable for one pod but when we start another pod, it takes about two hours to mount second disk. I'm looking for another alternatives.

https://docs.microsoft.com/en-us/azure/storage/common/storage-decide-blobs-files-disks

[2018-08-08 17:56] liggitt commented on #32432
Secret resources have always supported binary content

[2018-08-08 17:58] lavalamp commented on #67128
Re: extension apiservers: you should be able to make an APIService object &
manual service w/ endpoint that references another in-memory server. No one
has done it, I think, but it'd be way faster of a test than an e2e, I
think? I don't object to doing that as an e2e test for expediency.

Jenny, good point, we will need this to be conformance tested at some
point, sigh.

Is there any chance we can

[2018-08-08 18:42] mkimuram opened #67146 "AWS dynamic provisioner fail to provision pv if fsType is specified in storageClass parameters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
AWS dynamic provisioner fail to provision PV, if fsType is specified in storageClass parameters

**What you expected to happen**:
AWS dynamic provisioner provision PV successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Set fsType in storageClass for AWS provisioner and create PVC for it.

Also,

[2018-08-08 18:49] atomaras opened #67147 "Unable to volume mount named pipe using HostPath on windows container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Trying to create a windows pod that has the host's docker daemon named pipe (\\.\pipe\docker_engine) volume mounted inside it.
I've made sure the docker version installed on the windows node supports this feature i.e v18.06.0-ce.
This works beautifully when run locally on my Win 10 dev machine using this command:
`docker

[2018-08-08 18:50] spiffxp commented on #67103
So should image pulling behavior be considered a property of kubelet? Or just this specific method of configuring kubelet to pull secret images?  It seems like maybe putting this under "Container Runtime Conformance" is misleading, and should be moved to something else

[2018-08-08 18:59] atomaras commented on #67147
/sig sig-windows

[2018-08-08 19:13] RRAlex commented on #51014
According to the release note, this feature has been implemented in 2.4.0.

[2018-08-08 19:18] vishh commented on #52757
@ddysher is the model you are expecting one where you intend to deploy each model as a microservice and let k8s handle bin-packing even within a single GPU boundary?
If you instead bin pack at the application level (TF serving for example), you can already achieve this today, except that the bin packing is manual.

[2018-08-08 19:36] bboreham commented on #56903
Right, caching is a good explanation, especially since you have negative result caching too.

[2018-08-08 19:57] mauilion commented on #48378
this is likely because you have a multi master setup and have generated the `/etc/kubernetes/pki/ca.*` on each of the masters. Rather than copying them from the first master to the rest.

[2018-08-08 20:00] redbaron commented on #54665
/reopen

[2018-08-08 20:03] lavalamp commented on #54665
/reopen

On Wed, Aug 8, 2018 at 1:01 PM k8s-ci-robot <notifications@github.com>
wrote:

[2018-08-08 20:09] byndcivilization commented on #66874
@liggitt just to confirm if i update the kube-scheduler.manifest to point at a custom config file it should load those configs. When i cat the output of --write-config-to after doing this, its not reflecting any of these changes.

[2018-08-08 20:16] neolit123 commented on #67141
/sig network

[2018-08-08 20:17] neolit123 commented on #67129
/sig node

[2018-08-08 20:45] liggitt commented on #46442
@anguslees was this already resolved for openstack in https://github.com/kubernetes/kubernetes/pull/59931?

[2018-08-08 20:55] narunask commented on #66661
You were right, it was false-positive. I'm using `haproxy` to load balance the `apiserver` and it caused the problem...

Thanks

[2018-08-08 20:56] wangzhen127 commented on #67103
For that specific test, it is testing both kubelet and container runtime:
- kubelet: reading the credential from a file and passing it to container runtime
- container runtime: pull the image and start the container

So I think it still makes sense to keep it in container runtime test.

[2018-08-08 21:13] tpepper commented on #66776
Is there an associated test-infra change here to move the test to be from 1.11 to 1.12, and do we expect this test to start passing again as of the 1.11.2 release today?

[2018-08-08 21:14] ianjuma commented on #46915
Appears to be linked to issue #56226 and #55238 ; where for aggregated services, pod/service networking is needed on the apiserver for this to work. Running kube-proxy and adding pod connectivity fixed this for me.

[2018-08-08 21:24] dawidmalina commented on #66966
Thx i will try to not use externalIP within cluster. Thank for help

[2018-08-08 21:24] #66966 closed

[2018-08-08 21:34] xmudrii commented on #63656
/remove-lifecycle stale

[2018-08-08 21:39] deitch commented on #48180
@iamkarlson almost. Pod presets are per namespace AFAIUI. I am looking for cluster-wide. Pod Presets are a convenient way of not having to define on every pod what you want. They don't solve cluster-wide presets. If they did, it almost would do it. You still would have the issue of having the env vars/configmaps/secrets you want defined across all namespaces.

@FrederikNS yes, that is what admissi

[2018-08-08 21:41] mkornacker commented on #67095
By the way, this url works and returns the running services:
http://localhost:8001/api/v1/namespaces/mgmt/services

[2018-08-08 21:41] jiatongw opened #67165 "Things recommend to do before try Godep to manage dependencies"
Hi community,

I recently used [godep](https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md) to update the dependencies. I'd like to write down some problems I had when running through the steps and they maybe help you to save some time.

1. Please have a Linux environment to do that. Using MacOS will probably failed with error :
[code]
2. Please have `hg` command instal

[2018-08-08 22:09] wilderfield commented on #15839
You people are AMAZING!!!!!!!
I have been getting this same error message from git lfs when trying to push files to a git repo.

The problem was that I had HTTPS_PROXY=https://proxy:8080 when it should have been http://proxy:8080

Wow, I've been setting this variable incorrectly for 8 years now, and it finally bit me... causing me hours of wasted effort. Thank you all!

[2018-08-08 22:36] subodhp commented on #65674
I am not able to pull as well.

root@kubemaster:~# docker pull k8s.gcr.io/kube-controller-manager-amd64
Using default tag: latest
Pulling repository k8s.gcr.io/kube-controller-manager-amd64
unauthorized: authentication required

[2018-08-08 22:39] cflewis opened #67168 "--dry-run=true and --validate=true results in no validation performed"
/kind bug

**What happened**:
Attempting to run --dry-run=true and --validate=true reported that the object was created.

**What you expected to happen**:
The object should be rejected.

**How to reproduce it (as minimally and precisely as possible)**:
Using the same files as in the [documentation](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

[2018-08-08 22:42] cflewis commented on #67168
Closing as a dupe of #64830, but it does seem documentation is required here. The confusion is very real!

[2018-08-08 22:42] #67168 closed

[2018-08-08 22:46] Huang-Wei commented on #66568
@jpiper unfortunately I still can't reproduce - even tried the upgrade procedure you mentioned.

I'm also curious how you do upgrade, kubeadm? shouldn't upgrade control plan auto restart scheduler?

(#65483 _might_ be related if you're using specific scheduler config.)

I'm a little stuck.. @k82cn any idea?

[2018-08-08 22:51] neolit123 commented on #65674
@subodhp
not sure which version your are targeting but you should use a version tag - e.g.:
[code]

or get the version with:
https://dl.k8s.io/release/stable-1.11.txt

[2018-08-08 23:18] Huang-Wei commented on #66568
BTW: @jpiper output of `k get pod app-passive-7f97555865-4ntxx -o yaml -n app` still helps. Could you provide that? (k describe doesn't provide all the details)

[2018-08-08 23:32] #43173 closed

[2018-08-08 23:45] thiagoalves commented on #48245
/reopen /remove-lifecycle rotten

This is what I get in Kubelet logs

[code]

and inside the Pod container

[code]

Not sure how to get more info about who or what is terminating the Pods

[2018-08-09 00:11] jicki commented on #67123
@liggitt  start to kube-proxy  is the error!!

centos   systemctl to service  create   cluster

[2018-08-09 00:40] yujuhong commented on #41504
@shyamjvs @wojtek-t is it possible to re-prioritize this, now that we have more container runtime in production?

[2018-08-09 00:54] k82cn commented on #67118
something like that: https://github.com/kubernetes/kubernetes/pull/62422  ?

@DylanBLE , any case to share?

/cc @ravisantoshgudimetla

[2018-08-09 01:49] Lion-Wei commented on #66962
/assign

[2018-08-09 02:16] #48376 closed

[2018-08-09 02:30] andyxning commented on #27114
@tpoindessous Sorry for not working on this recently. Too busy. :(
But i am prepare to work on this in the next week.

[2018-08-09 02:53] jicki commented on #67123
fix  close it

[2018-08-09 02:53] #67123 closed

[2018-08-09 03:16] CaoShuFeng commented on #65266
/open

[2018-08-09 03:16] CaoShuFeng commented on #65266
/reopen

[2018-08-09 03:25] andyzhangx commented on #67014
It's a bug, could you repro that stably? on which region?  @hmenn

[2018-08-09 03:30] yue9944882 commented on #66680
/assign yue9944882 dixudx adohe

[2018-08-09 03:40] mkumatag commented on #66986
@dims all the volume test images are merged now, can you tick mark first 4 entries?

[2018-08-09 03:46] yue9944882 commented on #66848
/cc @DirectXMan12 @MaciekPytel @jbartosik

report inconvenience 😢
autoscaling by multiple data point could help us from constant rescale cool-down limit

[2018-08-09 03:53] #62989 closed

[2018-08-09 04:57] PatrickLang commented on #66801
Current plan is to:
- use a new value in CNI CapabilityArgs to hold DNS search suffix list https://github.com/containernetworking/cni/blob/cbd2718984e60e9a50f89931d8c2479114172a92/libcni/api.go#L48
- Add a new function to cni_windows.go, call it from https://github.com/kubernetes/kubernetes/blob/c343fa493755db883ae52a660458038b3c92750f/pkg/kubelet/dockershim/network/cni/cni.go#L328 to get the extr

[2018-08-09 04:57] PatrickLang commented on #66801
/assign @feiskyer

[2018-08-09 04:59] zhangxingdeppon opened #67180 "Liveness and Readiness probe failed ,but under line examination is health"
Hi,I have meeted a problem.kubelet Liveness  and Readiness probe failed ,but under line examination is health.How should I deal with it?Because of this reason, cause the product service to be restarted

my readness and liveness configuration:
<pre><code>
             "initialDelaySeconds": 15,
              "timeoutSeconds": 3,
              "periodSeconds": 5,
              "successThreshold": 1,

[2018-08-09 05:33] leeivan opened #67181 "There should be no high-latency requests"
• Failure in Spec Teardown (AfterEach) [329.093 seconds]
[sig-scalability] Load capacity
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scalability/framework.go:22
  [Feature:Performance] should be able to handle 30 pods per node { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons [AfterEach]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.

[2018-08-09 05:39] 372046933 commented on #39722
`curl` has `--cacert`, `--cert` and `--key` options that can be leveraged to access the Kubernetes service.

[2018-08-09 05:52] whites11 commented on #62538
Not sure if it's the same problem or not, but I'm having the same symptoms with version 1.9.0 and 1.9.6. Ram usage goes up to 2Gb before OOM in about 2-3 minutes. Have no idea how to fix it. It all started when I added a new node to the cluster.

[2018-08-09 06:15] xiangpengzhao commented on #51434
/close
as per https://github.com/kubernetes/kubernetes/pull/51440#issuecomment-396640304

[2018-08-09 06:15] #51434 closed

[2018-08-09 06:41] Darkentik commented on #23562
Same here while using Azure with Kubernetes and helm to setup an ingeress-nginx.
# helm install stable/nginx-ingress --namespace kube-system --name my-nginx
root@docker01:/srv#  kubectl get service --all-namespaces
NAMESPACE     NAME                                     TYPE           CLUSTER-IP       EXTERNAL-IP     PORT(S)                      AGE
kube-system   heapster

[2018-08-09 06:41] piaoyu commented on #60987
Having the same issue with Kubernetes v1.9.0 Docker 1.12.6 and rook master

[2018-08-09 06:44] hmenn commented on #67014
@andyzhangx I tested on eastus servers. But westeurope is also same.

Steps:
1. Start first job from jenkins(This jobs uses pvc1). Jenkins triggers kubernetes.
2. Kubernetes tries to start pod in node2 and gets mount timeout(for pvc1) error.
3. Start 2. Job from jenkins(This jobs uses pvc2). Kubernetes also deploys it in node2.
4. After 15 minutes first jobs starts and then finishes successfully.

[2018-08-09 06:57] andyzhangx commented on #67014
Could you run "top" command on node2 to check whether CPU load is high on that VM?
It should not wait for 2 hours.
if possible, to isolate this issue, could you run two deployments on same node and check total time cost? follow by:
https://github.com/andyzhangx/demo/tree/master/linux/azuredisk/attach-stress-test/deployment

So you are using AKS 1.10.6 on eastus with node size: D4s_v3, right?

[2018-08-09 06:58] tanshanshan commented on #67118
maybe you can implement a "scheduler extender" process that the standard Kubernetes scheduler calls out to as a final pass when making scheduling decisions.

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md

[2018-08-09 07:15] thomasjungblut commented on #52757
Since @samedguener is on vacation, let me pitch in on what we've done so far.

@straydata we had a team that was using this approach internally, before device plugins this needed privileged permissions to work- thus we abadoned it quickly.
As @ddysher already figured, this also causes some issues since the GPU capacity is not managed by K8s anymore- so in shared workload there might be a batch job

[2018-08-09 07:16] yue9944882 commented on #66680
Updates, will apply this changes across admission controller and authorizers and propagate this changes by resource types.

[2018-08-09 07:59] tatsuhiro-t opened #67183 "cni0 interface has no IP address assigned"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We use flannel CNI, and roughly 1 out of 10 times, cni0 interface has no IP address assigned.
If it happens, Pod cannot reach the external endpoints.  The error message from the affected Pod is something like "no route to host."
It looks like CNI bridge plugin creates cni0 interface and assigns IP address to it.  If I un

[2018-08-09 08:00] tatsuhiro-t commented on #67183
/sig network

[2018-08-09 08:03] tatsuhiro-t commented on #67183
FYI, only static Pod is running at the moment on the node.

[2018-08-09 08:04] whites11 commented on #62538
Upgraded to 1.10.6 and looks like problem isn't occouring anymore.

[2018-08-09 08:07] hmenn commented on #67014
Yes. Configs are right. I had test cpu loads when I faced with this problem first time. CPU load was less than 2(VM has 4vCPU so it's a good ratio) while it was waiting for job2.

These are drain results. For example, moving azuredisk2 takes about 8 minutes.
[code]

[2018-08-09 08:14] KielChan opened #67185 "Restart kubelet and pods killed partitially"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i restart kubelet, kubelet received **SyncLoop(DELETE, api)**, and running pods on the node are partitially killed；more, pods were flagged notready when readiness is not ok, but after minutes,
readiness is ok; before restart kubelet, pods won't be killed.

**What you expected to happen**:

Do not restart or kill healthy pods wh

[2018-08-09 08:30] andyzhangx commented on #67014
@hmenn That's a little slow which it's also acceptable for you, right? (eastus2 region may be a little bit faster)

`AttachVolume.Attach succeeded` means attach disk completes and `MountVolume.SetUp succeeded` means disk recognization and format completes. So in your worst case(wait for 2 hours?) , could you provide same pod logs by `kubectl describe po POD-NAME`, I would like to know which step i

[2018-08-09 08:33] henrytk opened #67186 "Misuse of the word 'replicas' in deployment specification"
**What happened**:

I read the configuration 'replicas: 2' in the specification for a deployment and it caused confusion.

**What you expected to happen**:

I expected there to be 3 in the set because a replica is a duplication of something. For example, if I have one replica of myself (because I have genetically cloned myself) then there are two of me. This YAML key should clearly indicate this i

[2018-08-09 08:35] mborsz commented on #67120
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1137 -- in gce activity logs I see 'compute.instances.hostError' operation for kubemark-5000-minion-group-1zhg which was running some hollow-node pods that stopped posting node status.

[2018-08-09 09:03] howels commented on #42306
Same problem, really the storageclasses should be able to use internal DNS and it's not intuitive.

[2018-08-09 09:05] sttts commented on #66538
Is it just missing Table support for the watch endpoint in apiextensions-apiserver?

[2018-08-09 09:06] mborsz commented on #67120
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1132 -- this is something else
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1129 -- hostError as well
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1127 -- e2e-up.sh error
https://k8s-gubernator.ap

[2018-08-09 09:10] tanshanshan commented on #67183
set

I am not sure

[2018-08-09 09:17] DylanBLE commented on #67118
@tanshanshan  Thanks for commenting.  Of course we can do that by implementing mutil-schedulers. I am just wondering what's the community's concern on this :)

[2018-08-09 09:28] Sn0rt commented on #66708
@k82cn At least , this patch work fine with `kubenet(host-local)` plugin. and I will to confirm others plugins.   and maybe we need to focus the `pod ip`  from `n.node.Spec.PodCIDR`.

the scheduler should `Pennding` the pod in case a user who set many interfaces in one POD and one of the interface is allocated by `kubenet`. (multus-cni)

[2018-08-09 09:39] cgebe commented on #66924
I am facing the same issue, running core-dns in a kubeadm cluster. `v1.11.1`

[2018-08-09 09:43] gemfield commented on #66108
By default, tokens expire after 24 hours. Check full installation guide here: https://zhuanlan.zhihu.com/p/40931670

[2018-08-09 09:53] kad commented on #64420
I have a feeling that based on kubectl version 1.4.x, kubeadm version in this issue is also very old.
Let's close that issue. Reporter can re-open it with providing more details if problem persists in recent versions.
/close

[2018-08-09 09:53] #64420 closed

[2018-08-09 10:24] warmchang commented on #62362
/remove-lifecycle stale

[2018-08-09 10:28] arkanmgerges commented on #42306
Just a side note here, and maybe it can make the life easier, you can use https://rook.github.io, I used it and it made it easy to handle those issues, it is free and it will orchestrate some storage types like Ceph, Minio and CockrouchDB, and in my case I used it with Ceph and it's working

[2018-08-09 10:31] dng-dev commented on #66044
@micahhausler yes we can close it with a reference to the other ticket i would say.

#57249 will cover this issue

[2018-08-09 10:31] #66044 closed

[2018-08-09 10:33] jpiper commented on #66568
@Huang-Wei so in this case we are managing our k8s install via our own orchestration tool. Maybe this is the issue.

First, master components (scheduler, apiserver, controller-manager) are all upgraded (we are in a HA environment with 5 masters) and after that all the kubelets are restarted.

For the `k get pod` I will have to break my cluster again to get this for you :p so I will respond but wit

[2018-08-09 10:42] #61032 closed

[2018-08-09 10:47] natlibfi-arlehiko commented on #63704
/remove-lifecycle stale

[2018-08-09 10:57] tiukhtinvladimir commented on #59976
BTW setting ARP OFF on kube dummy interface is actually not enough. System begins reply on ARP requests with MAC of any another available interface. To solve this problem an additional action is required
[code]
This means reply only if IP matches interface IP. Default value 0 make system reply on if IP matches any IP on the system including kube dummy interface

[2018-08-09 11:12] jonasdkhansen commented on #45779
I'm having similar issues with statefulset and headless service with clusterip: none, on Kubernetes 1.10.1. I can get the pods to resolve on pod-0.service.namespace.svc.cluster.local, but they will not listen to pod-0, only if it's inside pod-0. So i can't use the short hostnames execpt inside them selves.

[2018-08-09 11:16] jnicholls commented on #45779
Just FYI an upgrade from 1.10.1 to 1.10.6 did not help.

[2018-08-09 11:42] andyzhangx commented on #67014
It looks like your two pods yocto-agent-z0xws-cjl99 and yocto-agent-z0xws-lhn85 are using same PVC disk: yocto-premium-output, it's not allowed to do that, azure disk is RWO

[2018-08-09 11:43] #61034 closed

[2018-08-09 11:52] hmenn commented on #67014
@andyzhangx I only started 1 pod. After too many fails it terminates old one and created new one. Can i increase timeout?
It does not give multiple attach error. If i start another pod manually, it will give that error.

[2018-08-09 11:54] kiall commented on #22650
/reopen

[2018-08-09 11:57] kiall commented on #22650
This does seem like it can be abused to hijack traffic from other workloads - i.e. a possible security issue. @eparis's example of hijacking the hosts SSH port seems plausible, as do @smarterclayton's examples of hijacking other workloads ports.

[2018-08-09 11:57] dlisin opened #67191 "GCE: Tag cloud resources with "tag:kubernetes.io/cluster/<clusterid>""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently cloud resources (disks, LBs and etc) created by GCE provider are not tagged with any label, so it is hard to determine which resources are related to particular cluster.
**What you expected to happen**:
In AWS we use "tag:kubernetes.io/cluster/<clusterid>" to mark all cloud resources which are created by AWS cloud provider

[2018-08-09 12:02] dlisin commented on #67191
/sig gce

[2018-08-09 12:07] warmchang commented on #64802
Only static pods are never evicted now.

[2018-08-09 12:16] bclau commented on #66561
This was actually addressed by #66562, but the PR message had the wrong Issue ID. The already merged, so this issue can be closed.

[2018-08-09 12:17] #66561 closed

[2018-08-09 12:31] mborsz commented on #67120
I took a closer look at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1137.
What I found suspicious is that hostError happened there 1-2 hours before log failed because 'hollow-node-b8fbn' is not ready.

The trick is that in case of hostError, rc/hollow-node deletes pods on broken VM and schedules new ones (with a different name).
After each test

[2018-08-09 12:36] sttts commented on #66688
/assign @nikhita

What does the design proposal say?

[2018-08-09 12:48] DylanBLE opened #67193 "serviceaccount validation is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created a pair of  **unrelated** keys and assigned them to apiserver and controller. Then I created a new namespace with default serviceaccount. To my surprise, deployments in this namespace could still use the token to create pods.

apiserver config
[code]
controller-manager config
[code]
**/etc/kubernetes/ssl/test.pem

[2018-08-09 12:48] DylanBLE commented on #67193
/sig api-machinery

[2018-08-09 12:51] DylanBLE commented on #67193
/sig auth

[2018-08-09 13:27] byrnedo commented on #15484
@roberthbailey I don't get why #8686 relates to this issue, what am I missing?

[2018-08-09 13:29] brix4dayz commented on #32987
Still an issue on OpenShift v3.9.33 running K8s v1.9.1, please reopen. Time can vary between a few seconds up to 2 minutes.

[2018-08-09 13:38] merdincz opened #67196 "After kubernetes 1.11.2 upgrade pod's cant resolve endpoints via core-dns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I've just upgraded our cluster from 1.10.0 to 1.11.2 and my all end points can't resolve but i can reach via IP address.

I have two endpoints on different namespaces with named gitlab and redis.

I tried to use dnstools for examine it;
[code]

dnstools resolv.conf;

[code]
I am trying to reach that records via busybox w

[2018-08-09 13:44] spiffxp commented on #24057
/area github-management
/remove-lifecycle stale
The release note and cherrypick processes could both use an overhaul to the point where this issue may be irrelevant.  But if I do overhaul them, I want label names to conform as part of the overhaul.

[2018-08-09 13:48] neolit123 commented on #40314
indeed, 1.5.x is way outside of the support skew.
@theothermike have you upgraded to a more recent k8s version like 1.10.x or 1.11.x?
closing this issue, so please free to re-open if you have the same problem with more recent versions. :+1:

/close

[2018-08-09 13:48] #40314 closed

[2018-08-09 13:48] avielb commented on #67138
Anyone?

[2018-08-09 13:49] shyamjvs commented on #66026
So I confirmed that disabling advanced audit, indeed restored the `delete RC` latency back within the SLO in our 5k-node tests:

![audit](https://user-images.githubusercontent.com/4333971/43902569-b79f3b8e-9bea-11e8-8b59-c99d82b0d86c.png)

cc @liggitt @sttts @loburm - Could someone weigh in on this? It seems to affect even 100-node scalability tests (if @mborsz's suspicion above it right).

[2018-08-09 13:50] merdincz commented on #67196
/sig network

[2018-08-09 13:59] liggitt commented on #66026
is audit configured in batch or blocking mode?

[2018-08-09 13:59] sttts commented on #66026
/cc @tallclair @CaoShuFeng

[2018-08-09 13:59] liggitt commented on #66026
/cc @tallclair

[2018-08-09 14:46] liggitt commented on #66538
none of the watch endpoints support table output:

[code]

[2018-08-09 14:47] spiffxp commented on #52504
/close
The triage cluster no longer corresponds to the failure being noted here

[2018-08-09 14:48] #52504 closed

[2018-08-09 14:58] spiffxp commented on #13535
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2018-08-09 14:59] spiffxp commented on #13535
/assign
/kind cleanup

[2018-08-09 14:59] spiffxp commented on #13535
/reopen

[2018-08-09 14:59] spiffxp commented on #13535
/unassign

[2018-08-09 15:00] spiffxp commented on #49508
/close
In favor of #13535 which I've frozen

[2018-08-09 15:00] #49508 closed

[2018-08-09 15:06] YacheLee opened #67198 "Can't access the other pods' service"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

I've googled it for over two weeks. The bug still exists...

I really need someone to help me.

Architecture(1.8.10-gke.2)
HTTP Traffic => LoadBalancer => Service => nginx pods => WWW Service => WWW pods

I set up a service by nginx as a first level traffic load balancer, which has public ip by K8s service: LoadBalancer.

The nginx's job is ver

[2018-08-09 15:35] ddysher commented on #52757
@vishh  No, I dont expect k8s to handle this for me. By service, what i mean is an application logic that handles GPU sharing (all models are in the same container), exactly the same as the "model stuffing" technique from @thomasjungblut.  Sorry for using an overloaded term...

[2018-08-09 15:36] bclau opened #67199 "cluster_size_autoscaling shouldn't wait for restoring the initial cluster size if the provider is not supported"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig testing

**What happened**:

The tests under ``test/e2e/autoscaling/cluster_size_autoscaling.go`` will run only for the ``gce, gke`` providers, which is checked in ``BeforeEach``[1]. But during ``AfterEach``, it will wrongfully wait for the number ready nodes to "return" to the original ``expectedNumber``, which is set to 0, as ``origi

[2018-08-09 15:39] #66979 closed

[2018-08-09 15:44] yue9944882 commented on #67193
hi @DylanBLE , it's not a bug. `- --service-account-key-file=/etc/kubernetes/ssl/test.pem` is used to signing secrets into pod. it has nothing to do with authentication between apiserver and controller.

[2018-08-09 15:47] gogene commented on #66924
It looks like DNS inside busybox does not work properly, at least it works for me with busybox images <= `1.28.4`

[2018-08-09 15:54] krzysztofp commented on #66924
@gogene Ok - version 1.28.4 solves it, works like a charm, thank you, I think we can close this issue.`

[code]

Btw. do you know why it can't resolve `svc.cluster.local`?

[code]

[2018-08-09 15:54] #66924 closed

[2018-08-09 15:54] yue9944882 commented on #67193
@kubernetes/sig-auth-bugs for conformance :)

[2018-08-09 16:02] liggitt commented on #67193
can you clarify what you mean by that? the controller manager creates pods from deployments. tokens in your new namespace are injected into your new pods and could be used by processes in your pods to contact the API. I would expect those API requests from within your pods to fail authentication with 401 errors

[2018-08-09 16:21] fvigotti opened #67202 "externalTrafficPolicy:Local Why not enable it on clusterIP services ?"
/kind feature
/sig network

I've spent hours now trying to make
`externalTrafficPolicy: Local` works,
on NodePort  services, with or without externalIPs
using the clusterip+port or the nodeip+targetPort,

I'm using kube 1.11.2 with cillium on ubuntu ( on test virtualbox cluster ) , proxymode=iptables
I've seen similar issues without reponse,

https://github.com/kubernetes/kubernetes/issues/52096
h

[2018-08-09 16:30] pmichali commented on #62883
My guess here is that we're moving to coredns, so there is not much value in fixing this in kube-dns. Will close this issue.

[2018-08-09 16:30] #62883 closed

[2018-08-09 16:34] neolit123 commented on #66338
/reopen

tests are red again. this broke them:
https://github.com/kubernetes/kubernetes/pull/62727

working on a fix.

[2018-08-09 16:52] qgicup commented on #39031
/reopen

[2018-08-09 17:03] #65221 closed

[2018-08-09 17:27] chrissound opened #67203 "Pod affinity documentation regarding topology"
https://github.com/kubernetes/website/edit/master/content/en/docs/concepts/configuration/assign-pod-node.md

This bit says it constraints by nodes

While this bit says it it's about `Y` (node / rack / cloud provider etc)...

----

Is it nodes? Or is it `Y`?
These two parts seem to be conflicting?

/sig docs

[2018-08-09 17:28] dims commented on #66986
all the images listed have been updated/published. yay!

[2018-08-09 17:28] #66986 closed

[2018-08-09 17:40] stevekuznetsov opened #67204 "kubelet: HTTP liveness probes should not be run when no connection to the APIServer exists"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We are running `etcd` as a static pod with an HTTP liveness probe. For some reason, our `etcd` container died. The `kubelet` then attempted to restart it, but could not succeed as it could not determine that the `etcd` container was alive. When `etcd` was down, obviously the API could not respond with data, so when the pro

[2018-08-09 17:41] stevekuznetsov commented on #67204
/sig node

[2018-08-09 17:41] stevekuznetsov commented on #67204
FWIW this leads to a dead cluster with no chance of self-healing, so it has pretty major impacts for running the control plane as static pods.

[2018-08-09 17:56] tallclair commented on #66026
/cc @x13n

The logs are configured for file logging in batch. Here's the audit configuration from the apiserver log:
[code]

I suspect the problem is the large batch size. We shouldn't be batching writes to files, just buffering. I suspect setting `--audit-log-batch-max-size="1"` should fix this.

[2018-08-09 17:57] gnufied commented on #67138
You can manually create a PV and force is to bind to the desired PVC.  AFAIK - there is no automatic solution for this.

More info - https://docs.openshift.com/enterprise/3.2/dev_guide/persistent_volumes.html#persistent-volumes-volumes-and-claim-prebinding

[2018-08-09 17:58] Typositoire commented on #65332
Any updates on this ?

[2018-08-09 17:59] liggitt commented on #66026
what do the burst/qps numbers do for log writing?

[2018-08-09 18:14] tallclair commented on #66026
Throttle is disabled for logs (`--audit-log-batch-throttle-enable="false"`) so the burst & qps don't matter. If the throttle was enabled, it would limit the rate that batches could be written, but doesn't make much sense for the log backend.

[2018-08-09 18:22] redbaron opened #67206 "shared datastore check requires excessive permissions"
/kind feature
/sig vmware
/sig cloud-provider
/sig storage

**What happened**:

`getSharedDatastoresInK8SCluster`  requires permissions to get all cluster nodes info, which reveals too much information.

**What you expected to happen**:

make `getSharedDatastoresInK8SCluster` [call](https://github.com/kubernetes/kubernetes/blob/99abd4bc7946d63763e7ede0e31e5f6000365916/pkg/cloudprovider/providers/v

[2018-08-09 18:25] tallclair commented on #61932
This mostly just needs to clean up https://github.com/kubernetes/kubernetes/pull/61217. I might be able to tackle it next week.

[2018-08-09 18:36] jiayingz commented on #52757
@thomasjungblut you may want to take a look at these two KEP proposals:
"Compute Device Assignment": https://github.com/kubernetes/community/pull/2454
"New Resource API proposal": https://github.com/kubernetes/community/pull/2265
They may help address some of the pain points you mentioned in https://github.com/kubernetes/kubernetes/issues/52757#issuecomment-411661092

Certain requirements, like re

[2018-08-09 18:50] #50046 closed

[2018-08-09 18:50] #61049 closed

[2018-08-09 19:33] ksemaev commented on #2630
@robbyt please tell how you managed to chown with `postStart` ? My container runs as nonroot user, so poststart still uses nonroot permissions and can't change permissions:

[2018-08-09 19:51] #45019 closed

[2018-08-09 20:25] snowman78 opened #67214 "kubernetes 1.11.2 rpms not available"
/sig release

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Attempted to install update to version 1.11.2 but unable to find required rpms for centos7

**What you expected to happen**:
new 1.11.2 rpms available from yum repo

**How to reproduce it (as minimally and precisely as possible)**:
repoquery kubectl-1.11.2

Nothing found

-bash-4.2$ repoquery kubectl-1.11.1

[2018-08-09 20:26] fedebongio commented on #67095
/cc @mbohlool as the release patch manager

[2018-08-09 20:27] fedebongio commented on #67113
/cc @lavalamp

[2018-08-09 20:27] fedebongio commented on #67113
@hzxuzhonghu can you check if there is an previous issue already filled for this discussion?
thanks!

[2018-08-09 20:28] fedebongio commented on #67134
/assign @caesarxuchao

[2018-08-09 21:11] G-Harmon commented on #44501
I'm confused about how generateName and name are supposed to be validated.
On a v1.11.2 vanilla Kubernetes cluster, a Deployment with generateName works with "kubectl create" but fails with "kubectl apply".
On a v1.10.5-gke.3 GKE cluster, the Deployment works with both create and apply.
cc @silviabear

[2018-08-09 21:28] ahmetb commented on #15128
I think this is fixed now.
/close

[2018-08-09 21:28] #15128 closed

[2018-08-09 21:33] consideRatio commented on #15128
New Issue about the lack of overview of what you can pass to `--fieldSelector` for let's say events: https://github.com/kubernetes/website/issues/9807

[2018-08-09 21:37] deads2k commented on #67113
We've spoken about it in the sig call, but I don't recall an issue dedicated to it.  We talked about fulfilling the namespace initialization as a special case before completing the removal.  Given it's an alpha feature, we don't have to give warning, but namespace initialization is an important thing to sort out to be sure.

[2018-08-09 22:14] FlorianHeigl commented on #40969
@aoxn if it's predictable, why does it log an error message? :)

[2018-08-09 22:18] devnulled opened #67217 "allowVolumeExpansion is not applied when creating a StorageClass via kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm trying to create a StorageClass for AWS and set the parameter "allowVolumeExpansion" and it doesn't seem to get set.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Use this StorageClass YAML:
[code]
apply that config using kubectl:

`kubectl apply -f my.yaml`

Th

[2018-08-09 22:53] #61041 closed

[2018-08-09 22:56] verult opened #67218 "vSphere volume attacher causing panic due to unsafe cloudprovider cast"
/kind bug

**What happened**: vSphere volume attacher caused a controller manager panic, due to an unsafe cast from the cloud provider interface:
https://github.com/kubernetes/kubernetes/blob/876e77ed95d19e4eeb9f84765f30f81ecc6e62f3/pkg/volume/vsphere_volume/vsphere_volume_util.go#L191

**How to reproduce it (as minimally and precisely as possible)**:
Create a pod with an in-line vSphere volume on

[2018-08-09 23:02] kh34 opened #67221 "FailedRescale from horizontal-pod-autoscaler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Tried to deploy the metrics server on top of an existing bootkube installation, but HPA reports FailedRescale.

[code]

[code]

**What you expected to happen**:

Expected pods to scale up from 1 to 3.

**How to reproduce it (as minimally and precisely as possible)**:

1. Run bootkube to provision a 1.10 cluster on aws
2.

[2018-08-09 23:30] #62519 closed

[2018-08-09 23:31] kh34 commented on #67221
/sig autoscaling

[2018-08-10 00:29] tallclair commented on #66026
Hopefully https://github.com/kubernetes/kubernetes/pull/67223 fixes this.

[2018-08-10 01:16] linyouchong opened #67225 "DaemonSet didn't create pod after node have enough resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. Start a cluster, And node1 with resource example.com.cn/foo:  1
2. Create DaemonSet, request  resource example.com.cn/foo:  4
[code]
run `kubectl get ds`, There is no pod created.
3. Add resource to the node:
[code]
run `kubectl describe node 10.46.178.168`
[code]
5. run `kubectl get ds`, There is still no pod created.

[2018-08-10 01:28] tianshapjq opened #67226 "event of created container cannot be watched after pod running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
when there is no image presented in local, we can find warnings via `kubectl get event -w`.
after uploading image to local docker and pod become running, we can just ocassionally find the _created container_ and _started container_ via the event watcher, which would be quite often if imagepullpolicy=never.

**What you exp

[2018-08-10 01:34] neolit123 commented on #67198
/sig network

[2018-08-10 01:34] tianshapjq commented on #67226
/sig-apimachinery

[2018-08-10 01:35] neolit123 commented on #67226
/sig node

[2018-08-10 01:37] neolit123 commented on #67185
/sig node

[2018-08-10 01:37] neolit123 commented on #67180
/sig node

[2018-08-10 01:38] neolit123 commented on #67180
"v1.8.6" is no longer supported.
try updating to at least 1.10.0 because 1.12.0 is going to be released soon.

[2018-08-10 01:40] neolit123 commented on #67165
/sig architecture

[2018-08-10 02:31] tanshanshan commented on #67217
Add

in apiserver ,and restart it.

[2018-08-10 02:47] DylanBLE commented on #67193
@liggitt @yue9944882  It seems to be my **misunderstanding**!
Using the token inside the pod will get 401 response and replicaset controller is not using service account.
Thanks for your reply.

[2018-08-10 02:47] Lion-Wei commented on #67198
I'm little confused, can I have your pod and service information? And which pod can't access which service.

[2018-08-10 02:47] DylanBLE commented on #67193
/close

[2018-08-10 02:47] #67193 closed

[2018-08-10 03:03] kaybinwong commented on #66735
@liggitt sorry, the logs had gone.

[2018-08-10 03:05] #66755 closed

[2018-08-10 03:09] roycaihw commented on #66770
etcd is taking >30s to recover, which already exceeded the [sleeping time](https://github.com/kubernetes/kubernetes/blob/a1b3133b4648ab804280a4c26ee1c5015c708d19/test/e2e/apimachinery/etcd_failure.go#L86) (20s) in the [e2e test](https://github.com/kubernetes/kubernetes/blob/a1b3133b4648ab804280a4c26ee1c5015c708d19/test/e2e/apimachinery/etcd_failure.go#L64-L70)

https://k8s-gubernator.appspot.com/b

[2018-08-10 03:17] yue9944882 commented on #66720
/cc @kubernetes/sig-api-machinery-feature-requests

do you think it's reasonable to loose endpoints validation?

[2018-08-10 03:42] zhangxingdeppon commented on #67180
Thanks you for your answer,as a matter of fact,because it is now used in production, we can not immediately upgrade for the time being. Is there any other way?

[2018-08-10 03:43] liggitt commented on #66720
/sig networking
this API is owned by sig network

[2018-08-10 03:58] #67218 closed

[2018-08-10 04:08] iponnam commented on #62861
/remove-lifecycle stale

[2018-08-10 05:13] #66752 closed

[2018-08-10 05:19] du2016 commented on #66821
@AntonFriberg no i have not mount everying,pod only need mount the default token

[2018-08-10 05:21] stewart-yu opened #67233 "Work tracker for moving ComponentConfig types to staging repos"
Now, we're making great progress with implementing the KEP about moving ComponentConfig types to staging repos [kubernetes/community#2354](https://github.com/kubernetes/community/pull/2354), and  there are many PRs that are in progress in both in parallel and serial. Here's a work tracker for related PRs. There is a follow-up PR to the initial KEP to accept this KEP as `implementable` as well: htt

[2018-08-10 05:29] andyzhangx opened #67234 "create azure disk PVC failed due to account creation failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
create azure disk PVC failed due to account creation failure, this bug is similar to https://github.com/kubernetes/kubernetes/issues/65845, it's also caused by azure-sdk-for-go upgrade from v1.11.0

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else

[2018-08-10 05:35] the-redback opened #67235 "When subresource is given, non-conventional CRD resource pluralization not working in kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I was using Non-conventional CRD resource pluralization, say `fooes` (`fooes.samplecontroller.k8s.io`). I used `status` as `subresource`. Now, When I create an object of `Foo` kind with `kubectl`, it gives error that there is no requested resource `post foos.samplecontroller.k8s.io`. But, __When I use `client-go:8.0.0` i

[2018-08-10 05:35] the-redback commented on #67235
cc: @tamalsaha @nikhita @sttts

[2018-08-10 06:18] nikhita commented on #67235
/sig api-machinery
/area custom-resources

Tried this on master, worked fine.

Tried on v1.11.1, can reproduce the error.

Looks like some commit fixed it. :tada:  I'm not sure which commit fixed this, but I'll find it and report here. We should probably cherry-pick to 1.11 as well.

Thanks for reporting this, @the-redback!

[2018-08-10 06:40] ppnsingh opened #67238 "Getting dependcy error while creating kubernetes cluster offline ."
while installing kubernetes node -kubernetes-node-1.8.1-1.el7.x86_64.rpm on one of server , we are getting depency error : root@hydkubedock01 kube_installers]#  yum install -y kubernetes-node-1.9.3-1.el7.x86_64.rpm
Loaded plugins: fastestmirror
Examining kubernetes-node-1.9.3-1.el7.x86_64.rpm: kubernetes-node-1.9.3-1.el7.x86_64
Marking kubernetes-node-1.9.3-1.el7.x86_64.rpm to be installed
Resolvi

[2018-08-10 06:47] thomasjungblut commented on #52757
Thanks for the overview @jiayingz. Indeed such a similar project already exists by @sanjeevm0 https://github.com/Microsoft/KubeGPU

[2018-08-10 07:08] avielb commented on #67138
But than i lose the dynamic allocation abilities

[2018-08-10 07:12] andyzhangx commented on #67014
Hi @hmenn I tried my [deployment scripts](https://github.com/andyzhangx/demo/tree/master/linux/azuredisk/attach-stress-test/deployment) on AKS 1.10.6 on eastus with node size: D4s_v3, takes about 4 min for two pods with one azure disk each scheduled from one node to another, is there anything I am missing?
[code]

[2018-08-10 07:17] avielb commented on #67138
One approach i found to workaround this solution is to backup entire cluster configuration with this tool:
https://heptio.github.io/ark/v0.9.0/faq.html

[2018-08-10 07:17] avielb commented on #67138
One approach i found to workaround this solution is to backup entire cluster configuration with this tool:
https://heptio.github.io/ark/v0.9.0/faq.html

[2018-08-10 07:20] hmenn commented on #67014
@andyzhangx No. Can you try to increase disk size to 100GB? My First deployment also done in 5-6 minutes. After writing some data to disk(~50GB), mount timeout error occurs. I think there is a problem about disk formatting and recognition when disk has data.

[2018-08-10 07:41] andyzhangx commented on #67014
@hmenn ok, I will try. Would you also run `sudo journalctl -u kubelet -l > kubelet.log` on agent node if there is timeout error? Thanks.

[2018-08-10 07:52] chenchun opened #67239 "resource quota doesn't work for crd objects"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Resource quota doesn't work for crd objects

**What you expected to happen**:
It works

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /

[2018-08-10 07:56] nikhita commented on #67235
https://github.com/kubernetes/kubernetes/pull/66249 was the fix. Will cherry-pick it into 1.11.

[code]

[2018-08-10 07:57] nikhita commented on #67235
/assign

[2018-08-10 08:10] nikhita commented on #67235
created https://github.com/kubernetes/kubernetes/pull/67240

[2018-08-10 08:15] nikhita commented on #63677
/remove-lifecycle stale

[2018-08-10 08:15] chenchun commented on #67239
/sig scheduling

[2018-08-10 08:17] nikhita commented on #53777
/remove-lifecycle stale

[2018-08-10 08:17] nikhita commented on #67239
Dupe of https://github.com/kubernetes/kubernetes/issues/53777.

Closing this issue, but thanks for reporting it, @chenchun!
/close

[2018-08-10 08:33] KielChan commented on #67185
more logs from controller manager:

[code]

[2018-08-10 08:34] tambry commented on #49753
@pinepain In [this talk](https://youtu.be/qy7zNaDTYGQ?t=24m30s) it's more or less said that you need to ask Amazon support to enable IPv6 on VPC ELBs.

[2018-08-10 08:38] x13n commented on #61932
I may be missing some context, but what's the point of having a synchronous buffer? Why is it better than having no buffer at all?

[2018-08-10 09:27] MaciekPytel commented on #67221
cc: @DirectXMan12 this issue seems related to polymorphic scale client

[2018-08-10 09:38] liqlin2015 opened #67243 "Scheduler still schedule pod to node which marked as SchedulingDisabled"
**What happened**:

When I mark a node as unschedulable,

[code]

Pod (from Deployment) still is scheduled that unschedulable node.

[code]

**What you expected to happen**:
Scheduler should choose another node, respect the unschedulable label on node.

**How to reproduce it (as minimally and precisely as possible)**:

Predicate `CheckNodeUnschedulable` never enabled.

See code https://github.com/

[2018-08-10 09:39] liqlin2015 commented on #67243
sig/scheduling

[2018-08-10 09:40] liqlin2015 commented on #67243
cc @k82cn

[2018-08-10 09:47] dkirrane opened #67244 "1.11.2 RPMs are missing"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT
/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.11.2 RPM missing from https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64

[2018-08-10 09:48] dkirrane commented on #67244
/sig release

[2018-08-10 09:52] aanm opened #67245 "A CR update caused nil pointer dereference in kube-apiserver 1.9.8 and 1.7.15"
/kind bug

Unfortunately we can't reproduce it but the stack trace might help figure out where the issue is.

In k8s 1.9.8
[code]

In k8s 1.7.15
[code]

[2018-08-10 09:53] cofyc opened #67246 "Add more volume scheduling event handling tests"
Add test for "on PVC add", see https://github.com/kubernetes/kubernetes/pull/65616/files#diff-c0800dd83834b3847acb7efd347d6d34R307.

Test for "on PVC update" is not needed, because it has already been tested in all volume scheduling tests.

[2018-08-10 09:53] aanm commented on #67245
/sig api-machinery

[2018-08-10 09:53] cofyc commented on #67246
/sig @kubernetes/sig-storage-feature-requests

[2018-08-10 10:02] fasaxc commented on #65459
@m1093782566 I don't see how #65630 fixed this issue.  How about this scenario:

- k8s cluster A uses node port 30001 for service A
- k8s cluster B uses node port 30001 for service B
- pod (or host) in cluster A tries to access node port 30001 on k8s cluster B
- local node port rule matches the traffic and NATs it to the local node port, pod (or host) cannot reach  cluster B's node port.

Also, th

[2018-08-10 10:02] cofyc commented on #67246
docs: https://github.com/kubernetes/community/pull/2416

[2018-08-10 10:16] jiuchongxiao opened #67249 "etcd io write too high"
iotop
the etcd write too much
[code]
[code]
[code]
[code]
[code]

why the etcd has so high io write,and how to solve it?

[2018-08-10 10:17] jiuchongxiao commented on #67249
/sig etcd

[2018-08-10 10:21] MrTrustor opened #67250 "StatefulSet - can't rollback from a broken state"
/kind bug

**What happened**:

I updated a StatefulSet with a non-existent Docker image. As expected, a pod of the statefulset is destroyed and can't be recreated (ErrImagePull). However, when I change back the StatefulSet with an existing image, the StatefulSet doesn't try to remove the broken pod to replace it by a good one. It keeps trying to pull the non-existing image.
You have to delete the

[2018-08-10 11:04] CallMeFoxie commented on #66381
Still happening with 1.11.2.

Seeing this on --v=6 on scheduler
[code]
repeated forever and ever, no idea where is the PodFitsHostPorts appearing from, the `kubelet` part of it seems wrong as I see nothing in the logs of kubelets about this at all.

Is it some default/leftover?

I think the main issue is that it is spewing more and more pods and I am unable to track down why - controller is only l

[2018-08-10 11:07] nikhita commented on #67245
@aanm this looks more like a custom resource update than a CRD update. :eyes:

Can you clarify if it was a CRD or a CR?

[2018-08-10 11:18] nikhita commented on #67245
In any case, it appears to be originating from here:

Maybe there is a case when the `timeoutHandler.handler` is nil...?

[2018-08-10 11:18] nikhita commented on #67245
/cc @sttts @liggitt

[2018-08-10 11:36] nikhita commented on #67245
/workspace/anago-v1.9.8-beta.0.40+c138b851781560/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/endpoints/request/context.go:158 +0x22

https://github.com/kubernetes/kubernetes/blob/c138b85178156011dc934c2c9f4837476876fb07/staging/src/k8s.io/apiserver/pkg/endpoints/request/context.go#L157-L160

[2018-08-10 11:46] cmur2 commented on #34267
We are also experiencing this issue, is there any workaround?

[2018-08-10 12:15] wgliang commented on #67245
/assign

[2018-08-10 12:51] jimangel commented on #61961
I guess this can be closed since it's been open so long and can't be recreated. I might have ran into a different issue where kubeadm didn't like adding "groups" to the OIDC api server params. It would kill the pod until that field was removed (v1.9.6).

[2018-08-10 12:57] aanm commented on #67245
@nikhita Sorry, I meant the CR not CRD.

[2018-08-10 12:57] liggitt commented on #67249
what --storage-backend arg is the apiserver started with? is the apiserver using etcd2 or etcd3 mode?

[2018-08-10 12:59] shyamjvs commented on #66026
Thanks @tallclair @liggitt. Will try enabling back audit-logging and verify, once the above PR is merged.

[2018-08-10 13:00] iSynth commented on #24229
The lack of import/export configuration of the K8S cluster is a huge step back which was the decisive factor for the rejection of Kubernetes. In our time, the absence of such a features in the mainstream systems is not permissible.

[2018-08-10 13:08] liggitt commented on #61961
Sorry we couldn't reproduce it. Definitely let us know if you find out more info to help reproduce it.

Sounds like an invalid flag name or value. We you able to resolve that issue?

[2018-08-10 13:08] liggitt commented on #61961
/close

[2018-08-10 13:08] #61961 closed

[2018-08-10 13:14] k82cn commented on #67243
/kind bug
/assign

[2018-08-10 13:50] nikhita commented on #50907
/remove-lifecycle stale

[2018-08-10 13:52] nikhita commented on #59483
/remove-lifecycle stale

[2018-08-10 13:53] nikhita commented on #51475
/remove-lifecycle stale

[2018-08-10 13:54] nikhita commented on #48041
/remove-lifecycle stale

[2018-08-10 13:55] nikhita commented on #57726
/remove-lifecycle stale

[2018-08-10 14:05] gnufied commented on #67072
Looks like related to - https://github.com/kubernetes/kubernetes/issues/67132 ?

[2018-08-10 14:07] nikhita commented on #62896
/remove-lifecycle stale

[2018-08-10 14:08] nikhita commented on #63577
/remove-lifecycle stale
/sig vmware

[2018-08-10 14:09] nikhita commented on #63126
/remove-lifecycle stale

[2018-08-10 14:10] nikhita commented on #58793
/remove-lifecycle stale

[2018-08-10 14:10] nikhita commented on #63552
/remove-lifecycle stale

[2018-08-10 14:11] nikhita commented on #63127
/remove-lifecycle stale

[2018-08-10 14:12] nikhita commented on #63548
/remove-lifecycle stale

/cc @liggitt

[2018-08-10 14:13] nikhita commented on #50745
/remove-lifecycle stale

[2018-08-10 14:14] nikhita commented on #62564
/remove-lifecycle stale

@xiaoxubeii does https://github.com/kubernetes/kubernetes/pull/63424 fix this issue as well? is this safe to be closed?

[2018-08-10 14:18] nikhita commented on #63365
/remove-lifecycle stale

[2018-08-10 14:19] nikhita commented on #5774
/remove-lifecycle stale

[2018-08-10 14:20] nikhita commented on #61545
/remove-lifecycle stale

[2018-08-10 14:25] nikhita commented on #63475
/remove-lifecycle stale