[2015-05-13 18:17] yujuhong commented on #8180
#8187 removed the secret usage in fluentd pods.

[2015-05-13 18:18] bgrant0607 opened #8190 ""v2" API (API/client redesign umbrella issue)"
It's clear we're not going to be able to make all the changes we'd like in the v1 API (#7018), so this issue is to track/brainstorm things we might want in the v2 API.

Last updated 6/19/2015

API/client overhaul:
- Top-level API object plugins: #991, #3201, #1744, #703, #6923
  - Convert ReplicationController to a plugin #3058, rename it to ReplicaSet #3024, and recursively delete pods by default

[2015-05-13 18:19] pmorie commented on #8178
@thockin Nope, this is for when the secret doesn't exist at all in the API server.

[2015-05-13 18:20] lavalamp commented on #3476
kubelets will be pointed at an apiserver. Apiserver is the only component that talks to etcd. Hence only apiserver needs to know its "cluster id". Really there's no need to make a "cluster id"; if you're using kubernetes in this manner, you can just pass the prefixes you like to your various apiservers (you're already customizing this setup since you're making them all talk to the same etcd cluste

[2015-05-13 18:33] lavalamp opened #8192 "Revert #7567 after it's been in a few versions (July or August 2015)"
#7567 adds the ability to migrate etcd keys to a new prefix. This is fine, but it'll be tricky to use once apiserver is HA. We should either document the proper steps (shut down all apiservers, run a single apiserver with the right command to do the migration, shut down that apiserver, start all apiservers again), or (my preference) remove it. IMO it should not have gone in at all; you should use

[2015-05-13 18:36] pires commented on #3476
Ah yes @lavalamp, you are right. Thank you for killing my stupid thought!

[2015-05-13 18:37] lavalamp commented on #8178
This may be WAI, as long as kubelet sends events making the error clear; it lets you create the pod before you create the secret, which is nice and user friendly.

[2015-05-13 18:38] pmorie commented on #8178
@lavalamp Good point -- I need to audit the events that are created in this case

[2015-05-13 18:38] lavalamp commented on #3476
no problem ;)

[2015-05-13 18:39] saad-ali opened #8193 "GCE Kube Down MIG Wait Incorrect OpId"
@roberthbailey is running in to an issue where the operation ID pulled from the MIG delete command during GCE kube-down is incorrect:
[code]

#8096

[2015-05-13 18:41] thockin commented on #8186
There once was a bug in kube2sky's watch loop.  It stopped updating DNS.
Hypothetically we could TTL all our etcd entries and then the healthcheck
would fail and a whole-pod kill would fix it.

But point taken, kube2sky would not add new records but it would have old
records.  Maybe we should have a sentinel DNS value that has a TTL that
kube2sky has to update periodically.

On Wed, May 13, 2015 a

[2015-05-13 18:42] thockin opened #8194 "DNS healthchecks won't catch hung kube2sky or etcd"
if kube2sky hangs and stops adding new records to DNS, our health checking won't catch it.  Likewise if etcd fails to accept new writes.  I'm filing this so we come back to it later and work out a better answer.

[2015-05-13 18:43] brosner opened #8195 "kubelet node name does not match node name from nodes in API"
I upgraded to 0.17.0 last night. I am finding my nodes are no longer able to become ready:

[code]

Nodes are created through the controller manager using the flags `--sync-nodes=true` and `--minion-regexp="^k8-node-.*"` from GCE.

Kubelet output includes:

[code]

It appears that with #7967 using the full output of `uname -n` is causing the issue.

I am running on CoreOS (maybe this plays a role

[2015-05-13 18:45] zmerlynn opened #8196 "Node coming up as master on G[C|K]E"
[code]

Node 2's kubelet logs:
[code]

controller-manager side:
[code]

I have a cluster to hand off if someone wants to debug. It's not a transient state: node 2 just failed to ever post a valid status.

cc @dchen1107 @davidopp
cc @mbforbes @cjcullen (who looked at it briefly with me)

[2015-05-13 19:06] timothysc commented on #8119
@fgrzadkowski

\#perf top -p \`pgrep kube-apiserver\`

I had observed that the plateaus in the graph correlated with large spikes in:
kube-apiserver  [.] scanblock
kube-apiserver  [.] runtime.mallocgc
kube-apiserver  [.] runtime.MSpan_Sweep

[2015-05-13 19:07] pmorie opened #8197 "Failure building tarball for gce deployment"
I reliably get the following error while doing `go run hack/e2e.go --build -v`:

[code]

[2015-05-13 19:08] TomasTomecek commented on #7250
@yujuhong was waiting until this lands in openshift. We are in a process of testing this now, so will report in a couple of days.

[2015-05-13 19:18] derekwaynecarr commented on #8190
Mechanism to set initializers / places for hooks prior to scheduling #3585

[2015-05-13 19:33] sub-mod opened #8198 "Unable to start kubelet - no space left on device"
Hi i am unable to start the kubelet
I am getting the following error
inotify_add_watch /sys/fs/cgroup/cpu,cpuacct: no space left on device
complete logs here : https://gist.github.com/sub-mod/bc4390ce648f315f4df6

kubectl version
Client Version: version.Info{Major:"0", Minor:"17+", GitVersion:"v0.17.0-3-g962f10ee580eea", GitCommit:"962f10ee580eea30e5f4ea725c4e9e3743408a58", GitTreeState:"clean"}
S

[2015-05-13 19:40] #7438 closed

[2015-05-13 19:53] rjnagal commented on #8198
Dup of #7815

[2015-05-13 19:55] bgrant0607 commented on #6979
The change would go into at most v1. We'll be making decisions about what's in and out of v1 over the next few days. v1beta3, etc. wouldn't change.

Note that we plan to get rid of v1beta1 and v1beta2 very soon.

[2015-05-13 20:03] rjnagal commented on #8195
cc @yujuhong

The node names from master and kubelet don't match. We don't see it in tests as kubelet created by tests report just one part : "k8-node-system-4qms" in uname -n

[2015-05-13 20:10] sub-mod commented on #8198
issue resolved
firefox was using lot of CPU, i killed firefox and few other applications and kubelet worka fine
Thants @rjnagal
Kindly close this issue.

[2015-05-13 20:13] rjnagal commented on #8198
Good to know @sub-mod. Looks like the system was running out of global resources.

I think another problem here is that there are a huge number of raw cgroups being created by systemd and cadvisor is tracking them all.

@vmarmol we could run with --docker_only, but then it won't work for the new cgroups being created for docker-daemon, kube-proxy, etc. Would it be easier to inotify only on top-lev

[2015-05-13 20:13] fgrzadkowski commented on #8119
My guess is that it's the time when we have spikes of list pod requests coming from kubelets. You'd observe high CPU usage that affects request latency and overall performance.

For the past days I was investigating possible things to decrease CPU usage. Currently I'm looking into using a different JSON parse:
https://github.com/ugorji/go/tree/master/codec
I hope to use it in etcd client library,

[2015-05-13 20:13] rjnagal commented on #8198
closing this one for now. We can handle inotify issues in #7815

[2015-05-13 20:13] #8198 closed

[2015-05-13 20:17] brosner commented on #8195
In my very shallow testing, it appears this may be CoreOS specific. `uname -n` reports back the FQDN given as hostname from GCE. However, running `uname -n` from a machine running on a Debian image the correct short hostname is reported.

[2015-05-13 20:21] fgrzadkowski commented on #7561
Today I was looking into ugorji JSON codec (https://github.com/ugorji/go/tree/master/codec) to improve some operations in etcd client library. During bechmarking I've realized that we could use the same codec to implement fast DeepCopy by simply encoding to bytes and decoding to new object. My initial benchmark shows ~6x improvement, which is very promising! I'll try to send a PR for this tomorrow

[2015-05-13 20:21] timothysc commented on #8119
@fgrzadkowski our nodes are bare metal 40-core blades. Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.80GHz

[2015-05-13 20:22] #8147 closed

[2015-05-13 20:23] yujuhong commented on #8195
To clarify, #7967 was actually a partial revert of #7910, so it restored the original behavior of using `uname -n` which was introduced in #7071.

`uname -n` could return FQDN or not, so it's not consistent at all. I tried to fix that in #7910 to always use the first section of `uname -n` as the node name in #7910, but this broke some people's cluster because they had nodes such as `foo.rack1.abc`

[2015-05-13 20:23] fgrzadkowski commented on #6770
I have observed the same result in density tests. Most very slow requests happen when kubelets are relisting pods.

[2015-05-13 20:29] bprashanth commented on #6770
I'm gathering some data to understand this better. That should point us in the right direction wrt how fancy we want to get trying to prevent this.

[2015-05-13 20:29] timothysc commented on #8119
@lavalamp re: BurstReplicas - no benefit.

[2015-05-13 20:32] bprashanth commented on #8119
@timothysc how I would love your logs between 11:20->23
do you have the BurstReplicas=1000 graph?

[2015-05-13 20:34] lavalamp commented on #8119
OK, that confirms that controller manager is probably not the cause.

[2015-05-13 20:41] timothysc commented on #8119
@bprashanth  BurstReplicas=1000

![image](https://cloud.githubusercontent.com/assets/169553/7620571/72a4fe38-f986-11e4-8962-be2c93502764.png)

[2015-05-13 20:43] thockin opened #8202 "DNS subdomain validation is wrong"
We validate that the total length is < 253, but we do not validate that each part is < 63 characters.

@smarterclayton since this is technically a breaking change

[2015-05-13 20:46] smarterclayton commented on #8202
Ugh, yeah, we should fix this.  I bet this breaks some people...

[2015-05-13 20:57] saad-ali commented on #8193
Looks like this is caused by OS X using non-GNU `sed`. A couple of different possible fixes, one is to force check for `gsed` and use that when available. Another approach, courtesy of @quinton-hoole, is to just limit our self to non-GNU `sed`.

[2015-05-13 21:17] caesarxuchao opened #8205 "expected behavior of Container Exec health check"
In [kubernetes/examples/liveness/exec-liveness.yaml](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/liveness/exec-liveness.yaml),
[code]
"kubeclt get pods" shows the failure via a termination message after the 600-second sleep. Is this the expected behavior? Or shall the failure be discovered once 'echo fail > /tmp/health' is executed? Thanks.
@brendandburns

[2015-05-13 21:18] aronchick opened #8206 "DNS acting weird with label"
I'm having weird flakiness when it comes to DNS inside a container. Observe:

[code]

Why would curl and dig return different results? `client` is a label in my cluster. More debugging attempts below:

[code]

[2015-05-13 21:21] mbforbes opened #8207 "Can't spin up GCE cluster—pods not 'Running'"
Pods not running in 20 minutes.

[code]

+cc @pmorie is seeing this too
+cc @cjcullen is also seeing problems, can add more info

[2015-05-13 21:26] thockin commented on #8206
dig does not use search paths by deafult, for some reason I can't fathom.
Add +search.

Just to clarify: "client" is a LABEL or is a SERVICE?

On Wed, May 13, 2015 at 2:19 PM, David Aronchick <notifications@github.com>
wrote:

[2015-05-13 21:27] aronchick commented on #8206
`client` is a label AND a service:

[code]

[2015-05-13 21:32] bprashanth commented on #8119
hello flatline.

It takes roughly 2m to push 1000 pause pods across 100 nodes to running. This correlates well with our 1.0 goal to be linear, since it takes 5-6m to push 3000 pausers acrosss the same number of nodes (we know this from our jenkins runs).

So at face value, the biggest difference seems to be that you're using non-pause images, and moving more of them per node than kube is used to,

[2015-05-13 21:32] thockin commented on #8206
OK, the label doesn't matter so much here, but the existence of a Service
does

On Wed, May 13, 2015 at 2:27 PM, David Aronchick <notifications@github.com>
wrote:

[2015-05-13 21:34] mbforbes commented on #8207
Here's some info from the controller manager:

[code]

@thockin any idea who I should rope in here?

[2015-05-13 21:35] thockin commented on #8205
after the recent change to use exit code, this example should ALWAYS
succeed (modulo a startup race before the file exists)

On Wed, May 13, 2015 at 2:17 PM, Chao Xu <notifications@github.com> wrote:

[2015-05-13 21:37] mbforbes commented on #8207
Furthermore (and I think this is what @cjcullen was seeing):

[code]

`10.240.242.68` is the IP of the master (so that's essentially `localhost` trying to hit itself and getting a TLS error because of a bad cert).

[2015-05-13 21:45] mbforbes commented on #8207
Certs issued for the wrong IP?

[code]

Once again, `10.240.242.68` is the IP of the master (where those logs are found).

[2015-05-13 21:47] mbforbes commented on #8207
`10.240.242.68` is the internal IP, and `146.148.37.149` is the external one for that node.

[2015-05-13 21:47] mbforbes commented on #8207
Did we switch DNS to resolve differently recently? Would that have caused us to resolve to internal IPs rather than external IPs?

[2015-05-13 21:58] derekwaynecarr commented on #6666
+1 for cluster as well.

[2015-05-13 22:00] a-robinson commented on #6666
It was changed to cluster.local in #8105

[2015-05-13 22:02] derekwaynecarr commented on #6666
@a-robinson thanks, i was catching up on github notifications, looks like i am 24 hrs behind ;-)

[2015-05-13 22:04] yujuhong commented on #8205
The default `TimeoutSeconds` for `Probe` is 1 second. This command takes >600 seconds to complete, so the probing times out and kubelet kills the container and restarts it, repeatedly. You can see the restart  The example needs to be fixed.

[2015-05-13 22:06] mbforbes commented on #8207
@roberthbailey @quinton-hoole @ixdy are you guys seeing this at head? Am I insane?

[2015-05-13 22:08] roberthbailey commented on #8207
The certs have always only had the external IP, so that hasn't changed recently. I'll try creating a cluster at head and see what happens.

[2015-05-13 22:10] danielschonfeld opened #8211 "insecure-skip-tls-verify doesn't work for 'exec'"
Trying to use the 'kubectl exec' command and it failes with the following error

[code]

Using kubelet, kube-apiserver and kubectl 0.16 and this is run on CoreOS 675.0.0 and GCE.

[2015-05-13 22:18] caesarxuchao opened #8212 "merge examples/storage into examples/persistent-volumes"
examples/storage is an example of how to configure NFS persistent volumes, we should move it into examples/persistent-volumes/volumes, and update the README in examples/persistent-volumes/simpletest. What do you think?

@markturansky @nikhiljindal

[2015-05-13 22:22] nikhiljindal commented on #8212
examples/storage wont exist once we submit https://github.com/GoogleCloudPlatform/kubernetes/pull/8073

[2015-05-13 22:25] mbforbes commented on #8207
Jenkins and Robby are fine, so I'm probably insane. Lowering priority while I dig in more.

[2015-05-13 22:28] #8193 closed

[2015-05-13 22:29] davidopp commented on #3118
@bprashanth was interested in this possibly as a way to store the results from his micro-benchmarks

[2015-05-13 22:32] caesarxuchao commented on #8212
Oh yes, the move is already done. The folder name 'simpletest' doesn't make much sense. How about move the files out of 'simpletest' and remove the folder?

[2015-05-13 22:33] mbforbes commented on #8207
Fine for me at head. Must have been something in #7580 or #8191 that I can't understand. Sorry for the noise.

[2015-05-13 22:33] #8207 closed

[2015-05-13 22:39] caesarxuchao opened #8214 "Hard coded endpoints in examples/glusterfs/endpoints/glusterfs-endpoints.json"
Hi @rootfs, I'm trying to repeat the glusterfs example. Could you elaborate on where are those hard coded IP addresses come from? Thanks.

[code]

[2015-05-13 22:40] rjnagal opened #8215 "Creating containers on systemd systems is broken"
from IRC:

using CgroupParent=/ and moving all containers to top-level causing wrong scope name creation on systemd systems. We should fix this in libcontainer, but this needs a workaround in kube for now:

kubelet[864]: E0513 22:17:27.633873     864 manager.go:1436] Failed to create pod infra container: API error (500): Cannot start container 5382b876ff71055afc01ca53c763655dfe67d96d1444cc5e7cf2e1

[2015-05-13 22:41] lavalamp commented on #8206
@aronchick #8210 may be relevant to your interests

[2015-05-13 22:43] davidopp commented on #7236
I'm not sure we'll be able to convince folks to move this to 1.0, but @bprashanth feel free to work on this, as it seems very valuable.

[2015-05-13 22:43] liggitt commented on #8202
And now that namespace is limited to a single segment, namespace would have to be < 63 chars as well?

[2015-05-13 22:49] vmarmol commented on #8215
Will:
- Revert #8084
- Add short-term fix for Container VM
- Work on getting the right fix in libcontainer.

The last one will probably take a while since we'd need to add a startup option to Docker to say "I know it's a systemd system, but please pretend it is not". The community seems to be supportive of this last time I checked so we should be able to get it in.

[2015-05-13 22:51] satnam6502 commented on #7236
I thought about changing our setup to allow both Elasticsearch and Cloud Logging to be targeted. I've been a little hesitant because this could lead to a breakage (esp. for GKE) and we are getting close to 1.0 ...

[2015-05-13 22:52] satnam6502 commented on #7236
/cc @a-robinson @zmerlynn who might have memories about a GKE breakage caused by changes in env vars used for logging.

[2015-05-13 22:55] yujuhong commented on #8205
Oops...I noticed kubelet was killing the container because of the probe failures, but didn't pay too much attention to the reason. If "exit code" is used for health check, the example should always succeed. the timeout is irrelevant given that the actual command is "cat /tmp/health".

[2015-05-13 22:56] a-robinson commented on #7236
I'd love to see this fixed soon to help debug flakes, but yes, it'd be nice to at least be cc'ed on env var changes.

[2015-05-13 22:59] caesarxuchao commented on #8205
Thanks. I'm still reading that pull request.

[2015-05-13 23:02] dchen1107 commented on #8196
I will take a look soon.

[2015-05-13 23:03] aronchick commented on #8206
@lavalamp Hey - not sure of the overlap?

[2015-05-13 23:04] aronchick commented on #8206
The issue, as discussed on IRC, is that Resolv::DNS (the default dns resolver for ruby stdlib) does not use search domains. Obviously, well outside this scope (already filed a bug with them).

[code]

[2015-05-13 23:04] dchen1107 opened #8217 "Regression: integration test failed from HEAD"
E0513 22:55:45.078788     957 controller.go:121] unable to sync kubernetes RO service: endpoints "kubernetes-ro" cannot be updated: the resource was updated to 266
E0513 22:55:45.080181     957 controller.go:121] unable to sync kubernetes RO service: endpoints "kubernetes-ro" cannot be updated: the resource was updated to 266
E0513 22:55:48.496436     957 reflector.go:165] watch of *api.Secret end

[2015-05-13 23:11] dchen1107 commented on #8195
Removing fqdn dependency is GKE requirements. cc/ @cjcullen

[2015-05-13 23:12] dchen1107 commented on #8195
@brosner I am aware this issue when I tried to have coreos running on gce: cluster/gce/coreos/node.yaml The hacky way I fixed such issue is reset hostname :-(

[2015-05-13 23:25] yujuhong opened #8218 "kubectl delete doesn't return error or print resource not found"
If you run `kubectl delete resource <non_existent_resource_name>`, kubectl exits with 0 and prints nothing.

E.g.
[code]
I expected to see a "resource not found" message and/or an error code when this occurred. It's very misleading when you type the wrong resource name and think you delete it.

[2015-05-13 23:29] rjnagal commented on #8215
I am not sure we can rely on resetting docker daemon flags on all platforms.

Another fix might be to create a pod-level service/cgroup. All containers for the cgroup can go under that.

[2015-05-13 23:34] dchen1107 commented on #8196
Ok, why kubelet on node 2 talks to ip address of master instead of hostname?

root@k8s-staging-regtest-loop-2015-05-13-10-29-51-node-2:/var/log# ps -ef | grep kubelet
root     10906     1  3 17:35 ?        00:10:45 /usr/local/bin/kubelet --api_servers=https://10.240.49.47 --config=/etc/kubernetes/manifests --allow_privileged=False --v=2 --cluster_dns=10.51.240.10 --cluster_domain=kubernetes.local

[2015-05-13 23:40] thockin commented on #8206
And just to be sure - this is running from a context where /etc/resolv.conf
has the right search ?

On Wed, May 13, 2015 at 4:05 PM, David Aronchick <notifications@github.com>
wrote:

[2015-05-13 23:43] bgrant0607 commented on #6797
VERB and VERB NOUN, not NOUN VERB. We may need to reconsider kubectl config.

[2015-05-13 23:46] caesarxuchao commented on #8205
Ok. I'll modify the example.

[2015-05-13 23:46] #8205 closed

[2015-05-13 23:55] smarterclayton commented on #6797
That being said, if you have sets of functionality that are distinct, sometimes it's nice to keep them separate (treat kubectl config like kubectl-config).

[2015-05-14 00:00] roberthbailey commented on #8196
It looks like `configure-vm.sh` failed to translate the master name into the fqdn (which is done [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L440-L450)).

[2015-05-14 00:03] zmerlynn commented on #8196
Fascinating. I think we're seeing instance-DNS flakiness, because that name is supposed to get converted ASAP.

But what's weirder is ... that's not even the master:
[code]

[2015-05-14 00:07] zmerlynn commented on #8196
The `kube-env` is definitely right:
[code]

[2015-05-14 00:25] zmerlynn commented on #8196
Okay, this is messed up. Here's node 1, which is happy:
[code]

Here's our unhappy node .... that decided to bring itself as a master:
[code]

[2015-05-14 00:27] thockin opened #8223 "kubelet log full of errors"
Error on reading termination-log /var/lib/kubelet/pods/fa438d63-f986-11e4-9c82-42010af0ae3d/containers/skydns/933ddf81dbaf586e425240432429aa57bec939383e19bfb25d35d478597203f7: open /var/lib/kubelet/pods/fa438d63-f986-11e4-9c82-42010af0ae3d/containers/skydns/933ddf81dbaf586e425240432429aa57bec939383e19bfb25d35d478597203f7: no such file or directory

[2015-05-14 00:34] dchen1107 commented on #8223
I think there is a regression lately breaking termination-log.

[2015-05-14 00:35] thockin opened #8225 "Kubelet logs would be more useful if standard form for namespace/name.container"
We have a NamespacedName type, which helps some.  Kubelet might benefit from something like:

[code]

[2015-05-14 00:39] dchen1107 commented on #8196
@zmerlynn haha... I checked kube-env and did suspect unhappy node treat itself as master node based on those variables. But I didn't check salt state :-)

[2015-05-14 00:40] zmerlynn commented on #8196
I ... just can't get there. By the time we get here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L480, node-2 has `NODE_INSTANCE_PREFIX` set:

[code]

My best guess is that `$(hostname)` flaked here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L62 .

I think we're seeing a systemic issue where we're racing

[2015-05-14 00:47] zmerlynn commented on #8196
I'm going to work up a PR that hopefully improves the reliability of this section to some extent.

[2015-05-14 00:48] pmorie opened #8227 "local-up-cluster.sh fails to kill processes it launches"
I'm seeing this reliably in master:

[code]

[2015-05-14 00:51] davidopp commented on #8008
This is related to #367

[2015-05-14 00:56] cjcullen commented on #8196
<a href="https://imgflip.com/i/lgyf6"><img src="https://i.imgflip.com/lgyf6.jpg" title="made at imgflip.com"/></a>

[2015-05-14 00:58] jayunit100 commented on #6552
Arg ! got burnt by this again :) ^.  hope we can come up with a smarter way to avoid running into this issue.

[2015-05-14 01:04] anguslees commented on #260
I'm kind of confused why the direction is still unclear here - particularly from the Googlers.  Google has been running stateful services under Borg for many years, and it is quite clear what is required for this type of workload:

- A stable identifier for which one of the set of "shards" (non-identical replicas) the current pod represents (in borg, this is the "task number" - a simple integer).

[2015-05-14 01:11] justinsb opened #8229 "Watches each require an etcd connection (leak connections)"
Symptom: After a few hours, kube-apiserver stops responding.

Observations: perf top shows a lot of time spent in __inet_check_established.  Google tells me that is related to large numbers of connections.

And indeed:

[code]

[code]

The api server is (more or less constantly) printing errors like this:

[code]

(This is on AWS, so I could have misconfigured something.)

I can get kubectl to sta

[2015-05-14 01:19] pikeas commented on #598
It's been close to a year since this issue was opened, is Kubernetes really no closer to providing durable local storage and nominal/stateful services (#260)?

[2015-05-14 01:48] WIZARD-CXY commented on #8176
@adarell looks like flannel can't get net config from etcd properly.
Please check the `/var/log/upstart/etcd.log` for any error msg. If there isn't any, manually run the `reconfDocker.sh` on every minion. It is in the `~/kube` directory and see if it helps

[2015-05-14 01:52] liggitt commented on #8218
+1

[2015-05-14 01:55] venkatramachandran commented on #8183
@rjnagal : No, there are no go libs under /usr/local/go. Shouldn't building pull the dependencies from sources and place them there? If not, is there a simple way to pull these dependencies?

[2015-05-14 02:05] zmerlynn opened #8231 "Cluster up failure because `kube-controller-manager` is grumpy with GCE"
Almost thought it was related to #8196, but it just showed similar symptoms. One of our internal probers failed to bring up a cluster because the node wasn't reporting healthy. It's a 1-node cluster, and `kubectl get nodes` shows as empty. We see a lot of the following in the

[code]

Meanwhile, node-1 is trying to dial the master and getting rebuffed:
[code]

cc @davidopp @cjcullen (who I think s

[2015-05-14 02:10] zmerlynn commented on #8196
My working theory is that we raced with the configuration done normally by the GCE NetworkManager, leaving us in a bogus `$(hostname)` state when we made that check.

[2015-05-14 03:02] #8163 closed

[2015-05-14 03:30] roberthbailey commented on #8196
Why are we relying on inferring the master/node status from the hostname. It should be obvious from the variables set in the kube-env if you are the master or not. Masters don't get passed `KUBERNETES_MASTER_NAME` so why not just check that?

Making sure DNS is working is probably also good for reliability...

[2015-05-14 03:38] larsks opened #8235 ""command" sets Entrypoint rather than Command?"
I am running Kubernetes kubernetes-0.15.0 (git 0ea87e4) on RHEL 7.

I have a Dockerfile that contains:

    ENTRYPOINT ["/usr/bin/stress"]

I would normally call it, for example, like this:

     docker run larsks/stress --cpu 1

I have a replicationController that contains:

          containers:
            - name: stress
              image: larsks/stress
              command: ["--cpu", "1"]

[2015-05-14 03:50] zmerlynn commented on #8196
On GKE, we actually pass the same kube-env on both sides for simplicity. We can obviously change that, but I was going for a change that didn't involve a deployment change on our side, too.

[2015-05-14 04:11] lavalamp commented on #8190
Replace ServiceAccountSecret secret type with a cluster account secret type. Secret types should be named for their contents, not their sources, IMO. (source can live in an annotation or something)

[2015-05-14 04:14] thockin commented on #8235
Use the args[] field.  We had to normalize to cover multiple runtimes, so
we settled on "command" and "args", which is unfortunately not the same as
docker.

@bgrant0607 this is our last chance to reconsider this.  I still find
Docker's names wonky, but I have had 2 or 3 people ask this same question.

On Wed, May 13, 2015 at 8:38 PM, Lars Kellogg-Stedman <
notifications@github.com> wrote:

[2015-05-14 04:34] pmorie opened #8236 "Find better format for the names of secret keys"
Currently the key of a piece of secret data has to be a DNS subdomain.  We went with DNS subdomains instead of defining a new format during the implementation because we assumed that a dns subdomain was a strict subset of the eventual format to use. It has been suggested in #7974 that we create a format to model file names use that format to validate keys in secrets.

[2015-05-14 04:47] lavalamp commented on #8119
OK so the problem is clearly not RC manager. So the question is, is it apiserver, scheduler, or what? what changes after 600 pods are running? Random hypothesis: is it the storm from all the kubelets updating statuses at the same time overloads the scheduler's watch? But I don't think that has changed.

@timothysc can you post logs of apiserver & scheduler so we can maybe see which one is the culp

[2015-05-14 05:06] bgrant0607 commented on #7018
Reconsider command vs. entrypoint: #8235

[2015-05-14 05:08] bgrant0607 commented on #8235
Yes, Docker's terminology is ... less than ideal, but there is also a cost to being different. Added to the list for consideration for v1: #7018

[2015-05-14 05:10] bgrant0607 commented on #8235
App container spec is simpler: https://github.com/appc/spec/blob/master/SPEC.md#pod-manifest-schema

[2015-05-14 05:12] bgrant0607 commented on #8235
Documentation:
http://kubernetes.io/third_party/swagger-ui/#!/v1beta3/createPod
command (array[string], optional): entrypoint array; not executed within a shell; the docker image's entrypoint is used if this is not provided; cannot be updated,
args (array[string], optional): command array; the docker image's cmd is used if this is not provided; arguments to the entrypoint; cannot be updated,

[2015-05-14 05:13] liggitt commented on #8217
Do we know which test is failing? The last messages in the log are from `test/integration/service_account_test.go`, but I don't actually see a test failure message printed, and I can't recreate any failures.

The "Unable to authenticate the request due to an error: Token has been invalidated" messages are expected since the test exercises attempting to use invalid tokens (https://github.com/Google

[2015-05-14 05:15] pmorie commented on #8235
:-/

On Thu, May 14, 2015 at 1:12 AM, Brian Grant <notifications@github.com>
wrote:

[2015-05-14 05:25] bgrant0607 commented on #8190
@lavalamp Is there a reason we can't fix ServiceAccountSecret now? It was just merged recently.

[2015-05-14 05:36] davidopp commented on #260
I generally agree with this (and as you say, it has served the test of time in Borg), although I would advise against going with the "exotic feature extension" of multiple replicas per shard (though we probably need something like that under the covers for migration).

As I mentioned earlier this is closely related to what we need to do to support batch jobs with static work assignment (what I was

[2015-05-14 05:54] thockin opened #8239 "Kubelet sometimes fails to GetRef for probes"
Specifically:
1. Start a pod with a readiness probe.
2. Restart kubelet
3. Force the readiness probe to fail
4. Observe the event does not get generated and the log says "No ref for pod ..."

[2015-05-14 05:54] pmorie commented on #8190
Agree, why not just fix it now?

On Thu, May 14, 2015 at 1:25 AM, Brian Grant <notifications@github.com>
wrote:

[2015-05-14 05:56] davidopp commented on #8190
/subscribe

[2015-05-14 06:02] thockin commented on #8236
Is there any reason to be restrictive at all?  The assumption is that the
key in Secret.Data is the eventual filename in the volume, so why not just
allow it to be anything, just enforce it is a valid relative pathname.
 e.g. "foo/.my.key." is valid, as is "my-key" or "MY_KEY".  "/etc/passwd"
is not valid.  "../../../../../../etc/passwd" is not valid.

Or go simpler and disallow '/' (no dirs, just

[2015-05-14 06:21] thockin commented on #8202
Namespace validation in #8140

On Wed, May 13, 2015 at 3:43 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-05-14 07:02] davidopp commented on #7866
As @bprashanth mentioned, @gmarek fixed this in #6217. (Unless we're misunderstanding what you're talking about.) Please reopen this issue if you think it is still not fixed (and explain in more detail).

[2015-05-14 07:02] #7866 closed

[2015-05-14 07:04] davidopp commented on #6781
As part of this, also document how the Kubernetes-Mesos integration works.

[2015-05-14 08:01] abonas commented on #6979
So does that mean that a PR containing this change for v1 must also include conversion handling for v1beta3?

[2015-05-14 08:06] nebelpfade opened #8240 "kubectl trying to use v1beta3 api for get minions"
kubectl 0.17.0:
curl http://localhost:8080/api/v1beta3/minions
{
  "kind": "Status",
  "apiVersion": "v1beta3",
  "metadata": {},
  "status": "Failure",
  "message": "the server could not find the requested resource",
  "reason": "NotFound",
  "details": {},
  "code": 404
}

master3 core # /opt/bin/kubectl get mi
master3 core #

kubectl 0.16.0:
uses: http://localhost:8080/api/v1beta1/minions
maste

[2015-05-14 08:29] fgrzadkowski commented on #3338
For the last two days I've been investigating ugorji codec. Unfortunately I've already found 3 bugs:
https://github.com/ugorji/go/issues/68
https://github.com/ugorji/go/issues/70
https://github.com/ugorji/go/issues/71

Fortunately we have pretty good test coverage for most json-related things, but this is troubling :/

[2015-05-14 10:07] 289801922 opened #8242 "Does kubernetes support auto-scaling of containers/pods according to cpu utilization?"
Does kubernetes support auto-scaling of containers/pods according to cpu utilization?
If yes, can you show me the reference?
Thanks.

[2015-05-14 11:59] wojtek-t commented on #8119
If it turns out scheduler is a bottleneck, I have at least one planned
optimization that I haven't been prioritizing.

@lavalamp - I think it's not 100% true. Basically pods are scheduling quite quickly, but the problem is that sending a binding to apiserver is done synchronously and is blocking scheduling the next pod. Which means that scheduler is spending most of its time waiting for the respon

[2015-05-14 12:51] deads2k commented on #8236
Is this going to supersede https://github.com/GoogleCloudPlatform/kubernetes/pull/8072?  I'm interested because allowing leading dots allows for a cleaner secret implementation for `.dockercfg` files.

Also, I'm a fan allowing anything except:
 1. leading `/`
 1. just `.` or `..` as the only value in any step.

[2015-05-14 12:54] rootfs commented on #8214
these are gluster hosts' IP addresses. When you set up a gluster hosts, you have a collection of participating hosts. Get the IPs of these hosts and put them in the endpoints. The port is not really used.

[2015-05-14 13:37] danielschonfeld commented on #6134
Was there any further understanding as to why this happens? I have the same thing happening to me as the OP does with CoreOS 675.0.0 running on a bunch of VMs in GCE.

I can pull fine manually SSHing into the VM but using the replication controller i see in the docker logs that the image isn't found and `kubectl get pods` just hangs waiting for the images never realizing they aren't being download

[2015-05-14 14:09] deads2k commented on #8112
cc @csrwng

[2015-05-14 14:17] markturansky commented on #8212
@caesarxuchao what do you recommend as the new name for "simpletest" or where would the files go?  If we want to have many scenarios/examples of people using PVs, then perhaps something like 'simpletest' (or with a better name) stays, but the /volumes and /claims folders are broken down and the files therein go to the appropriate scenario/example.

Currently, 1 volume and 1 claim are used with the

[2015-05-14 14:22] smarterclayton commented on #260
The other features we need to align if we changed RC (or added something new) is how deployment fits in, specifically:

How do I do a rolling update to:

1. A regular RC
2. A PerNodeController
3. A sharded RC
4. A batch job?

We might want to either hold implementing deployment until we have a straw man for each of those, because I believe a deployment that only works against a simple RC has some

[2015-05-14 14:52] timothysc commented on #8119
The question I have is: what **fundamental behavior**, at the system level, has changed from 4/22 to now.

[2015-05-14 15:27] pmorie opened #8250 "Doc use of secrets for skydns example"
It is not clear from the doc that you have to create a secret named 'dns-token'.

[2015-05-14 15:45] bprashanth commented on #8119
IIRC our 1.0 goals were 99 percentil pod startup time should be < X for a given pod, node configuration (30 pause pods on 100 nodes) and it should scale linearly after that.

[2015-05-14 15:55] BenTheElder commented on #3760
@thockin @brendanburns Can anyone weigh in on wether we want to do this in parallel to the userspace proxy or how migrating to the reimplementation would work?

It looks like we already prefer iptables >= 1.4.11(released 2011-May-26).
[code]
Source: https://github.com/GoogleCloudPlatform/kubernetes/blob/aec41967416cf3463b188d72c97e71465e00719d/pkg/util/iptables/iptables.go#L206

Do we actually see

[2015-05-14 16:01] mattmoor commented on #6134
I just provisioned a GCE VM with CoreOS 675.0, and can pull just fine (providing no authentication):
[code]
So unless someone can point me to evidence of problems pertaining to the registry, I'm going to defer to the Kubernetes folks to take point on this, but I'm happy to help.

[2015-05-14 16:05] mbruzek opened #8252 "changing permissions broke the kubernetes-master charm"
We tried to deploy the kubernetes Juju bundle and found that the commit f416289a85c9e55fffb6f84bd85b7298733737db changed the permissions on some key python files that broke the deployment of the Juju cluster.

Specifically: cluster/juju/charms/trusty/kubernetes-master/hooks/hooks.py                          100755 → 100644

@eparis I see that the commit was largely to add a copyright header.  Was

[2015-05-14 16:13] satnam6502 commented on #8107
Update:
* I am attempting to work out how to upgrade just the DNS add-on for now. @thockin
* I will attempt to do this with kubectl rollingupdate.
* During kube-up.sh de-salted YAML config file for the DNS pod only exists at a temporary file somewhere which is cat-ed into `kubectl create` as a part of a loop that processes a bunch of specs. We will probably want to re-factor the kube-up.sh process

[2015-05-14 16:21] iterion commented on #6162
@justinsb I've got some free time today, I can try to pick up the implementation of this if you want?

As it stands @jsdir's PRs are still not merged into `aws-sdk-go` so I'll just reimplement in kubernetes.

[2015-05-14 16:25] pmorie commented on #8236
filename, then choose one of the above semantics.  Given that Secrets are
not necessarily just files, this seems most flexible.

This is what #4789 was about.  There's a pull open for it.  Thinking about it fresh, I would rather decouple than change the format of the keys.  @deads2k, opinion?

[2015-05-14 16:39] caesarxuchao commented on #8212
@markturansky, on second thought, I think we should keep the simpletest folder, but let's move the README file one level up to examples/persistent-volumes/. It's nice for a user to be greeted by a README file when he/she opens an example. What do you think?

[2015-05-14 16:40] pires commented on #6134
As Daniel and I put it before, docker pull works but not from Kubernetes.
@antoniomeireles, i guess this was related to docker MTU or some flannel
config, right?

On Thu, May 14, 2015 at 5:02 PM, mattmoor <notifications@github.com> wrote:

--
Pires

[2015-05-14 16:47] AntonioMeireles commented on #6134
@pires not that i'm aware. what we/you had hit were some issues that arise when one was running local registries and were passing the docker registry auth coordinates (referring explicitly "localhost") to the k8s env ence breaking the registry. in the general case things just work as they should afaict (both to docker hub and gcr.io)

[2015-05-14 16:50] markturansky commented on #8212
@caesarxuchao Agreed that it's nice to open the directory with the full README.  Better user experience when learning this feature. I will submit a PR.

[2015-05-14 16:58] caesarxuchao commented on #8212
Thank you!

[2015-05-14 17:00] dchen1107 commented on #8217
Here is the failing test:
--- FAIL: TestPersistentVolumeClaimBinder (3.45s)
	persistent_volumes_test.go:106: Expected claim to be bound: &{TypeMeta:{Kind: APIVersion:} ObjectMeta:{Name:claim02 GenerateName: Namespace:default SelfLink:/api/v1beta1/persistentVolumeClaims/claim02?namespace=default UID:0e2d09c0-f9c3-11e4-96ec-02420a000016 ResourceVersion:172 CreationTimestamp:2015-05-13 22:54:47 +0000

[2015-05-14 17:02] liggitt commented on #8217
@markturansky, you aware of the issue with TestPersistentVolumeClaimBinder?

[2015-05-14 17:09] justinsb commented on #6162
@iterion That would be awesome - thank you!

[2015-05-14 17:15] rjnagal commented on #8240
Shall we just remove "minion" from kubectl now and throw an error?

[2015-05-14 17:17] thockin commented on #8250
@cjcullen is this something you can do?  I took a look at the script to do this, and it's not obvious to the uninitiated what's happening.  This is causing pain for everyone who is not on a first-tier supported platform

[2015-05-14 17:20] asautins commented on #7958
Tested  against #8191.  The above test case appears to have the secret mounted after reboot which is great.

One thing to note, however, is the following sequence of events:

1. Create secret with value 'a'.
2. create pod that mounts secret.  Validate it sees secret with value 'a'.
3. Change secret to value 'b'.
4. Verify pod has mounted secret of value and still has the value 'a' ( as is currentl

[2015-05-14 17:21] bgrant0607 commented on #260
We have chosen not to prioritize this (and automatically generated persistent volume claims) for 1.0 because there are multiple workarounds, such as creating one service, RC, and persistent volume claim per instance.

While densely, statically assigned task indices in Borg are very widely used, we've learned that they have a number of shortcomings, and have spent some time over the past few years

[2015-05-14 17:21] vmarmol commented on #8183
These are from the standard library, we'd expect those to be there. Is Go installed?

[2015-05-14 17:24] lavalamp commented on #8119
@wojtek-t

That's the thing that my planned optimization would fix.

[2015-05-14 17:25] idosh opened #8258 "How can I upgrade my Kubernetes cluster?"

[2015-05-14 17:26] thockin commented on #7958
Pragmatically, I don't think it's reasonable to keep the same secret value
for the life of the pod.  There has been debate about whether secrets
should auto-update when their value change in the API server.  I think it
is reasonable, but it's not implemented as such today.

On Thu, May 14, 2015 at 10:21 AM, asautins <notifications@github.com> wrote:

[2015-05-14 17:27] yifan-gu commented on #8239
Sounds like upon restarting the kubelet, the refs are all gone...

[2015-05-14 17:27] cjcullen commented on #8250
Yeah. I'll take a look a little later today.

[2015-05-14 17:31] rjnagal commented on #8242
This is still under work.

[2015-05-14 17:32] rjnagal commented on #8240
@bgrant0607 remove "minions"?

[2015-05-14 17:35] venkatramachandran commented on #8183
Yes. Installed via apt-get.

On Thu, May 14, 2015, 22:52 Victor Marmol <notifications@github.com> wrote:

[2015-05-14 17:39] yujuhong commented on #8239
What I saw from a quick code search (may not be 100% accurate):
The refs in the reference managers are all gone after the restart. We only set the refs in runContainerInPod (dockertools/manager), and this function would never be called after the restart because the containers were alive.

Perhaps we should fall back to generating the refs in this case.

[2015-05-14 17:40] colemickens commented on #7879
RE: Azure & IP-per-Service:

https://social.msdn.microsoft.com/Forums/azure/en-US/ad406b89-f497-44dd-9bd2-65ed26c02670/azure-load-balancer-cant-support-kubernetes?forum=WAVirtualMachinesVirtualNetwork

[2015-05-14 17:41] smarterclayton commented on #7370
This seems like a v1 blocker - we see this in every realistic environment we put the Kube-proxy in.  Disagreement?

[2015-05-14 17:50] elibixby commented on #831
+1 to wanting this!

My use case is as follows:

Have a cluster with a "cluster master". Have a set of scripts + libraries that "slave" images need to run to register with a cluster master. Would like users to be able to use images out-of-the-box as slaves, (without making a child image just for this use-case). Solution is to have a data volume image with scripts+libraries that users can mount rea

[2015-05-14 17:51] bprashanth commented on #7561
With: #8260 I noticed an inverse correlation between number of active watches and list latency. Specifically when the number of open watches in the cluster goes from 500 -> 300 the latency of a list crosses a second (and often goes much beyond).

I also noticed a correlation between number of POSTs and list latency.

Will report back with how this changes when i randomize the timeout as described

[2015-05-14 17:52] liggitt commented on #8190
serviceaccounts and their tokens were intentionally namespaced... it would be very difficult to partition access to a cluster-scoped resource. The ability to give someone control over machine accounts and their credentials in a namespace is valuable... I wouldn't want to lose that

[2015-05-14 17:52] lavalamp commented on #8190
@bgrant0607 I'm OK with changing it now, but lack cycles to do it myself.

[2015-05-14 17:54] lavalamp commented on #8190
@liggitt... wrong issue? or maybe you can explain in more detail?

[2015-05-14 17:55] liggitt commented on #8190
@lavalamp my bad, I misread "cluster account secret type" as "cluster-scoped"

[2015-05-14 17:57] yifan-gu commented on #7706
Fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/7916 and https://github.com/GoogleCloudPlatform/kubernetes/pull/7859

[2015-05-14 17:59] lavalamp commented on #8119
@wojtek-t It's faster to do it than to explain it: #8261

[2015-05-14 18:00] lavalamp commented on #8119
@timothysc if you're up for more experiments, you could try running with #8261.

[2015-05-14 18:02] yifan-gu opened #8262 "rkt: Better intergration"
This issue tracks the some of the TODOs to make using rkt in k8s have better experience.
- [x] Add a README.md or doc.go in rkt package (update: README can be found [here](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides/rkt) now)
- [x] Integrate the reference manager, readiness manager.
- [x] Per container logs
- [ ] Stdin and TTY (https://github.com/Googl

[2015-05-14 18:03] thockin commented on #7370
I still don't understand this issue.  It is demonstrably true that the kube-proxy retries all of the iptables logic periodically.

[code]

It's possible (given the mention of "won't even pick up new service nat rules") that this locking tickles a bug in kube-proxy, but I am having trouble reproducing it.

Can you run your kube-proxy with -v=4, trigger the bug, and then take a look at the logs?  If

[2015-05-14 18:07] quinton-hoole commented on #3760
One approach would obviously be to detect at run time what version of iptables we're running, and do the "best thing" we can given the version e.g. something like:

if (oldversion) {
  load user space proxying module
}
else {
  load iptables proxying module
}

I'd caution against having too many branches in the above if statement (ideally just 2), and avoid as far as possible having this sort of i

[2015-05-14 18:08] quinton-hoole commented on #3760
Oh, and the answer to your question of whether we see old nodes is "yes", unfortunately.

[2015-05-14 18:09] quinton-hoole commented on #3760
There is much discussion of the above in a separate issue.,  I'll try to dig it out for you.

[2015-05-14 18:12] glerchundi commented on #561
Hi guys, I've already created a working example of http reverse proxy and loadbalancer inside kubernetes using nginx + confd (with etcd backend, which is just a proxy to the master etcd). It is composed by three components:
* etcd-proxy: it persists routing and upstreams data
* [nginx-loadbalancer](https://github.com/just-containers/nginx-loadbalancer): using nginx and confd, it works as a reverse

[2015-05-14 18:12] bgrant0607 opened #8263 "Upstream Openshift edit functionality into kubectl"
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/edit.go

[2015-05-14 18:12] BenTheElder commented on #3760
@quinton-hoole Thanks!

Also I'm fairly sure we can run user space on one node and iptables on another.

The number of modes should just be 2 except for that hack for when we don't have -C but the nodes that have -C should be able to run the pure iptables version (I think).

[2015-05-14 18:14] brenton commented on #7370
The problem is in the initialization process.  If you hold the lock while the kube-proxy tries to initialize itself then it will be wedged forever.  What you're showing is the kube-proxy can repair the iptables rules after the initialization code has run.

The logs I pasted earlier show that after the initialization fails at proxier.go:332 it will never try again.  I tend to run at loglevel 4 by d

[2015-05-14 18:16] quinton-hoole commented on #3760
Ah yes, #7528 discusses kernel versions and such.

[2015-05-14 18:23] rjnagal commented on #8258
See:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cluster_management.md

[2015-05-14 18:23] #8242 closed

[2015-05-14 18:24] quinton-hoole commented on #7528
For detecting backports, I have in the past used runtime detection of kernel compile flags:

http://stackoverflow.com/questions/14376540/view-linux-kernel-config-options

In that case it worked pretty well, but we'd have to check how well we can detect what we're looking for in this case.

[2015-05-14 18:24] BenTheElder commented on #3760
Thanks.
I didn't see that when I looked for requirements for kuberenetes. The only requirements I found were in the networking docs discussing how we assume unique ip's.

We should probably get some documentation written for requirements once we have a better idea what they are.

[2015-05-14 18:26] bgrant0607 commented on #367
See also anti-affinity discussion here: https://github.com/GoogleCloudPlatform/kubernetes/issues/4301#issuecomment-74355529

[2015-05-14 18:28] BenTheElder commented on #7528
We probably also need requirements for some packages/utilities like iptables? (3760).

In general there doesn't seem to be much documentation about requirements for running kubernetes, though the code seems to try to stay back-compatible when possible.

[2015-05-14 18:40] vmarmol commented on #8212
Closing since #8256 was merged. Feel free to reopen if I missed something :)

[2015-05-14 18:40] #8212 closed

[2015-05-14 18:42] jdef commented on #7528
xref https://github.com/mesosphere/kubernetes-mesos/issues/277

[2015-05-14 18:44] markturansky commented on #8212
@vmarmol thanks!

[2015-05-14 18:44] thockin commented on #7370
I have a fix coming - can you test the PR before commit?

[2015-05-14 18:45] brenton commented on #7370
I ran the exact same test as mentioned in my original comment.  While the debug lines have changed the end result is the same:

* grab the lock (at this point even `iptables -L -t nat` will fail)
* start the kube-proxy
* release the lock (at this point `iptables -L -t nat` works)
* wait..
* try creating another service
* wait..

The rules never come back.  Here are the logs:
[code]

[2015-05-14 18:46] brenton commented on #7370
Sure, I'll test the PR.  I'm betting it will apply fairly cleanly on to my OpenShift codebase.  If not I'll launch Kubernetes directly.

[2015-05-14 18:48] thockin commented on #7370
Many of those log lines are not part of upstream.  In fact, what upstream has is a glog.Fatalf() which will kill kube-proxy, and when it restarts it will try again.

Did you guys break it by not actually exiting?

[2015-05-14 18:49] smarterclayton commented on #7370
Looks like we did.  We need to put it into a restart loop.

----- Original Message -----

[2015-05-14 18:50] thockin commented on #7370
https://github.com/GoogleCloudPlatform/kubernetes/pull/8264 is teh fix, though I assert we should not need it, and if you need it this fix may not help you anyway.

I am still OK to commit this.

[2015-05-14 18:51] smarterclayton commented on #7370
Although NewProxier sucks because it doesn't return a usable error.  I'll take the todo to clean up that part.

----- Original Message -----

[2015-05-14 18:53] thockin commented on #7370
hey, it logs its error - nothing wrong with that :)

On Thu, May 14, 2015 at 11:51 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-05-14 18:55] thockin commented on #8263
cute!

On Thu, May 14, 2015 at 11:13 AM, Brian Grant <notifications@github.com>
wrote:

[2015-05-14 18:57] bgrant0607 commented on #7122
Additional issues:
* overall unintuitive and mostly broken behavior
* focus doesn't change with mouse movement in menu
* option dots don't do anything
* clicking dashboard title doesn't do anything, either
* clicking on Kubernetes produces 404

[2015-05-14 18:57] bgrant0607 commented on #7122
And the starting URL isn't discoverable.

[2015-05-14 19:00] smarterclayton commented on #7370
:)

[2015-05-14 19:00] quinton-hoole commented on #7972
#6399 may well be related.

[2015-05-14 19:08] bnprss opened #8267 "gcepersitentdisk empty after rc deletion then creation"
Hi,

I've got an annoying issue where gcepersitentdisk volumes are empty after rc is being delete/created.
I've got that issue on 0.16.1, on coreos 633.1, reproducible? always!

Tomorrow I'll update to 0.17 and post back if I've got similar issue.

[2015-05-14 19:10] caesarxuchao commented on #8214
Thank you @rootfs, I can repeat the example now : ) I have sent #8266 to add some explanation of the endpoints in the README.

[2015-05-14 19:10] caesarxuchao commented on #8212
Thank you!

[2015-05-14 19:13] lavalamp commented on #7561
Isn't the causality here that everyone doing a watch switches to doing a list when the watch ends? It's not that low # of watches directly causes high list latency-- you can't fix this problem by adding even more watches :)

Or do I misunderstand?

[2015-05-14 19:15] bprashanth commented on #7561
@lavalamp thats exactly it, and the POST stuff that I'm still digging up

[2015-05-14 19:15] bprashanth commented on #7561
what did you mean by that?

[2015-05-14 19:21] aronchick commented on #8206
Can you help me understand the right search? Those search domains & name servers came from the resolv.conf on the system.

[2015-05-14 19:27] thockin commented on #8206
We program the docker containers to have the cluster DNS and the
appropriate search paths.  Maybe I am not understanding your question.

On Thu, May 14, 2015 at 12:21 PM, David Aronchick <notifications@github.com>
wrote:

[2015-05-14 19:35] bgrant0607 commented on #8240
Yes, that should be part of #8087.

cc @nikhiljindal @caesarxuchao @krousey

[2015-05-14 19:36] bgrant0607 commented on #8087
We also need to eliminate minions from the API: #8240

[2015-05-14 19:36] zmerlynn commented on #5670
@ixdy: Any progress on this?

[2015-05-14 19:36] bgrant0607 commented on #8240
Presumably `kubectl get nodes` works?

[2015-05-14 19:40] #7957 closed

[2015-05-14 19:41] bprashanth opened #8268 "Handle deletion of master component log files"
If I delete /var/log/kube-apiserver or one of the master components logs files it comes back as a directory. I would expect the daemon to create a new file and continue writing to it.

I _think_ you can achieve this by mounting the /var/log directory instead of the file here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/kube-apiserver/kube-apiserver.manifest#

[2015-05-14 19:43] #7706 closed

[2015-05-14 19:44] bprashanth commented on #7631
Closed via the pr mentioned

[2015-05-14 19:44] #7631 closed

[2015-05-14 19:57] lavalamp commented on #8267
@mbforbes

xref/ #6084

[2015-05-14 20:05] bgrant0607 opened #8270 "Create UI roadmap"
Going forward, what do we want out of the UI? We need a roadmap so that people know how to contribute.

This was discussed at the Kubernetes contributors meeting in December.

First of all, visualization/dashboard is more important than actuation. The CLI (kubectl) is expected to be the main tool for controlling the system and applications running on it. Table-friendly views should also be incorpo

[2015-05-14 20:05] lavalamp opened #8271 "SecretTypeServiceAccountToken -> SecretTypeAccountToken"
A comment of mine did not get resolved before merging the service accounts: https://github.com/GoogleCloudPlatform/kubernetes/pull/7101/files#r30173041

Basically, all mentions of "ServiceAccount" in the secret type tokens need to be replaced with a more general user account. ServiceAccounts may not be the only source of such secrets.

Service account manager can add an annotation or something to

[2015-05-14 20:05] lavalamp commented on #8271
@bgrant0607

[2015-05-14 20:06] fgrzadkowski commented on #7561
Another solution is to limit number of concurrent list pod requests in apiserver. We already have all the tools for that. I did a simple test locally and it improved latency significantly. I still need to measure how much exactly.

[2015-05-14 20:07] vmarmol commented on #8252
@mbruzek I think that was not intentional. Will send a PR to restore permissions.

[2015-05-14 20:09] bprashanth commented on #7561
Of course, more fancy solutions exist such as batch up list requests at peak load for 1/2 second and do a single list etc. The timeout solution is mutually exclusive. @fgrzadkowski by limit do you mean return a dead 500 and assume the clients will retry?

[2015-05-14 20:15] timothysc commented on #367
I've been looking to eval: https://github.com/hashicorp/hcl and ttps://www.terraform.io/docs/configuration/syntax.html as an extensible config language for constraints, but it also has other applications: #7739

[2015-05-14 20:20] smarterclayton commented on #7370
Opened #8269 and will move the rest back to openshift.

[2015-05-14 20:20] #7370 closed

[2015-05-14 20:21] ethiraj commented on #5706
I am running into exact same error on my ubuntu-14.04.2(its VM created using VMware workstation). Also I tried ping but I am getting "ping:bad address 'github.com'". Based on the previous reply's it looks like network restriction(docker containers could not access internet or could not do DNS lookup). Does any one know how to resolve this issue or any suggestions?

[2015-05-14 20:25] aronchick commented on #8206
I think it may be me who's not understanding :)

The above code example(s) were/are pulling from the /etc/resolv.conf on the
container, and do not work out of the box in Ruby. Those search domains
_are_ the cluster DNS enteries for the cluster.

On Thu, May 14, 2015 at 12:27 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-05-14 20:26] vmarmol commented on #8211
@danielnorberg do any other kubectl commands work?

[2015-05-14 20:29] fgrzadkowski commented on #7561
I mean to reuse this:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/handlers.go#L73
but with a different regexp. This helped me reduce CPU usage on apiserver. I can you a PR tomorrow, since I already have it hacked locally.

[2015-05-14 20:31] bgrant0607 commented on #8271
Are there going to be non-ServiceAccount auth token secrets? Why wouldn't they have the same format?

Are the ServiceAccount name and UID really needed as part of the secret data? That seems like a backdoor downward API. How about a created-by annotation similar to that produced by ReplicationController?
https://github.com/GoogleCloudPlatform/kubernetes/blob/0da12c1ba96b6b6deb5ef168487a3caf112fb39

[2015-05-14 20:32] bgrant0607 commented on #8190
Issue filed for ServiceAccount secrets: #8271.

[2015-05-14 20:41] bgrant0607 commented on #7018
Rename "createExternalLoadBalancer": #4811

[2015-05-14 20:41] bgrant0607 commented on #4811
We also need to make our terminology consistent. In some places, we use "external" and in others we use "public".

[2015-05-14 20:47] bcbroussard commented on #7122
@bgrant0607 I am working on cleaning up these issues and updating documentation.

[2015-05-14 20:47] danielnorberg commented on #8211
@vmarmol wrong daniel =)

[2015-05-14 20:54] bgrant0607 commented on #5475
The remaining issues are #6583, #6584, and #5799. Closing this since there are more specific issues filed.

[2015-05-14 20:54] #5475 closed

[2015-05-14 20:58] vmarmol commented on #8211
@danielnorberg  sorry :) GitHub doesn't always pick the right one the first time.

@danielschonfeld see above

[2015-05-14 21:09] nikhiljindal commented on #5799
Hi @RichieEscarez,
Wanted to confirm that you are working on this.
Its one of the last remaining tasks for https://github.com/GoogleCloudPlatform/kubernetes/issues/5475

[2015-05-14 21:09] cusspvz commented on #7826
+1, couldn't finish cluster setup...

[2015-05-14 21:10] cusspvz commented on #7826
And my azure's trial subscription is ending up tomorrow...

[2015-05-14 21:24] mbruzek commented on #8252
@vmarmol Thank you for the response.  Not all files need to be executable (just the ones that were originally executable)!  We were working on creating our own PR to fix this problem.

[2015-05-14 21:27] #7094 closed

[2015-05-14 21:28] quinton-hoole opened #8279 "Add --focus and --skip arguments to Jenkins so that it reports test run results correctly"
http://onsi.github.io/ginkgo/#focused-specs

Right now, GinkgoRunner returns 1 if there are any programmatically Focussed, Skipped or Pending tests, so Jenkins reports all tests runs as failed, when they should be considered passed.

Adding the Focussed, Skipped and Pending tests to Ginkgo's command line (which overrides programatic settings) within the Jenkins (and in fact any Continuous Integrat

[2015-05-14 21:28] nikhiljindal opened #8280 "Delete /podInfo /nodeInfo from kubelet"
We can delete the /podInfo and /nodeInfo APIs from kubelet, since it now posts its status to APIserver.

cc @yujuhong

[2015-05-14 21:29] nikhiljindal commented on #8280
cc @bgrant0607

[2015-05-14 21:29] quinton-hoole commented on #8279
Probably here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/4e023e9f8e6914b3cd8613ef1d099e8e544bb436/hack/jenkins/e2e.sh#L41

[2015-05-14 21:32] quinton-hoole commented on #8279
To be clear, the failure reports that I'm referring to are in the Jenkins Test Results Analyser tool (even if all e2e tests pass, the test reun is reported as failed).  I assume that the above is the reason why.

Curiously, in other contexts, Jenkins reports success for such test runs.

[2015-05-14 21:34] cjcullen commented on #8195
This should get fixed when #6949 gets in. Nodes will be able to call themselves whatever they like.

[2015-05-14 21:36] cjcullen commented on #8195
For example, in this case, kubelet would register itself as `k8-node-system-esoy.c.project-name.internal`, and then the master would know it as `k8-node-system-esoy.c.project-name.internal`, instead of relying on the GCE API to tell it who it should know about.

[2015-05-14 21:42] idosh commented on #8258
I couldn't find support for Azure + Weave based cluster

[2015-05-14 21:53] yujuhong commented on #8280
/nodeInfo has already been removed by #6702.

I think /podInfo is only used by integration test, and should be safe to delete.

[2015-05-14 21:56] davidopp opened #8285 "make cluster/get-kube.sh more resilient to unclean GCE project starting state"
@roberthbailey

[2015-05-14 21:58] roberthbailey opened #8286 "Clean up unused flags from nodecontroller"
In https://github.com/GoogleCloudPlatform/kubernetes/pull/6949#issuecomment-98255868 @erictune said:

Looks like these flags don't do anything:
--node-milli-cpu
--node-memory
--machines
--minion-regexp

Mention in description that these are dead, so that it gets into release notes.

Suggest deleting them from node-controller (will regen docs).
Suggest you grep for every use of these flags under do

[2015-05-14 22:11] danielschonfeld commented on #8211
@vmarmol yes everything else works.  including `log` and `log -f`

[2015-05-14 22:12] preillyme commented on #6584
@bgrant0607: what's the current status of this? Do the various yaml file(s) you referenced still need to be changed?

[2015-05-14 22:13] RichieEscarez commented on #5799
Hi @nikhiljindal , yes, ill start on this next.

[2015-05-14 22:14] bgrant0607 commented on #8280
Forked from #8087

[2015-05-14 22:18] bgrant0607 commented on #6584
Still plenty of work to be done, yes. Search for v1beta1 in the codebase if you want to help.

[2015-05-14 22:18] bgrant0607 commented on #6584
And see also #8087

[2015-05-14 22:24] jackgr commented on #7122
These issues impact the Graph tab, which was developed concurrently with the chrome and Dashboard tab, and will be submitted shortly. It follows the model that the UI can be extended by adding tabs. However, this model only works well if the chrome is stable, usable and discoverable.

[2015-05-14 22:31] preillyme commented on #6584
@bgrant0607: Okay sounds good. Thanks!

[2015-05-14 22:35] bgrant0607 commented on #7122
@bcbroussard Thanks. In what timeframe? We're pushing hard towards our 1.0 release candidate.

[2015-05-14 22:47] preillyme commented on #7122
@bgrant0607: You can get to the WebUI at the following url: ```/static/app/#/```

I typically test locally with the following flow:
[code]

Am I missing something in your comment?

[2015-05-14 22:48] mbforbes opened #8291 "Kubelet stats query fails for running containers"
This is blocking #7580 (reboot test).

In running a test that reboots all of the nodes and then runs the e2e tests, we saw a failure with the influxdb / heapster monitoring test:

[code]

The heapster logs, from running `kubectl log monitoring-heapster-controller-xxxxx heapster` ([output](https://gist.github.com/mbforbes/214b59e41d12c1e377cb)), shows a ton of the following kubelet errors for all c

[2015-05-14 22:53] dchen1107 commented on #8291
@mbforbes Can I access your test nodes?

[2015-05-14 23:00] caesarxuchao commented on #6584
Hi @preillyme, I have updated all the examples to v1beta3, though some PR are still waiting to be merged.

[2015-05-14 23:02] vmarmol commented on #8291
Is this an active problem? I'd check if the cAdvisor thinks the containers exist (it is the one returning the error). I'd then scan the logs to see if cAdvisor had any errors related to that container.

[2015-05-14 23:05] jackgr commented on #7122
After discussion with @preillyme, it turns out that most, if not all, of these issues were created by a late commit (https://github.com/kubernetes-ui/kubernetes-ui-private/commit/3b46bc4cd74b9088c08e7c102abcd658edd2d597) from one of our team members, which did a large refactoring and removed some key pieces that should not have been removed. All of the functionality was working when we demo'ed at

[2015-05-14 23:12] preillyme commented on #8270
@bgrant0607 we've got a organization for the various UI components that is currently living at: https://github.com/kubernetes-ui in order to share things with the team at RedHat, etc.

[2015-05-14 23:21] benmccann commented on #367
@timothysc have you seen [HOCON](https://github.com/typesafehub/config/blob/master/HOCON.md)? It looks extremely similar to hcl/terraform.

[2015-05-14 23:23] deads2k commented on #8236
I could see using a list of structured objects
[code]

The conversions and backwards compatibility would be a little ugly, but it ought to be possible.

[2015-05-14 23:24] bgrant0607 commented on #7122
```/static/app/#/``` is not very obvious nor intuitive, and listing the top-level path, `/static`, in the list of supported paths isn't sufficient to find it. We need a simple, intuitive top-level path, such as `/www` and/or `/ui`, to at least redirect to the GUI location. A redirect could also work in the case that the UI ran as a separate pod.

[2015-05-14 23:28] bgrant0607 commented on #367
Thanks for the pointer, but this is getting off-topic. You could use #1743 or file a new issue to discuss higher-level configuration mechanisms, such as parameterization and object cross references. You could also browse issues relating to the broader topic of configuration:
https://github.com/GoogleCloudPlatform/kubernetes/labels/area%2Fapp-config-deployment

[2015-05-14 23:35] bgrant0607 commented on #7018
Secret key validation: #8236

[2015-05-14 23:59] justinsb commented on #8229
Anyone know if this is happening e.g. on GCE?  I see this got tagged as P1, but it also got tagged as aws.

It'll help me narrow it down if I know whether I'm looking for something in the aws setup or in k8s itself.

[2015-05-15 00:18] bgrant0607 commented on #7111
Related issue: Provider/domain field (e.g., kubernetes vs. openshift) for federated configuration -- https://github.com/projectatomic/atomicapp

[2015-05-15 00:22] dchen1107 commented on #8291
@mbforbes Unfortunately during debugging, I restart kubelet service on that node, the issue is gone. The problem could be cadvisor cannot get stats, but I couldn't find any cadvisor related error messages. How easy to reproduce the issue here? Next time we might access cadvisor's page to see if there is no such container information. Thanks!

[2015-05-15 00:22] justinsb opened #8295 "Do we need consistent reads of etcd?"
I am looking and looking at the code for pkg/registry/service/ipallocator/controller/repair.go, and I am having a hard time proving to myself that it is correct.

We have etcd configured to read in 'weakly consistent' mode.  As @smarterclayton and @lavalamp  previously explained to me (thanks!) that is not a problem, because any writes are done as a CAS with the version.  We might see stale data,

[2015-05-15 00:27] bgrant0607 commented on #7018
Some discussion on ObjectReference vs. names started here: https://github.com/GoogleCloudPlatform/kubernetes/pull/7974#issuecomment-102199970

An argument could be made that any cross reference that doesn't need more than name (e.g., namespace, kind, field) should just be a name. ServiceAccount.Secrets, ReplicationControllerSpec.TemplateRef, and Binding.Target would likely change in that case. But

[2015-05-15 00:31] pmorie commented on #8236
Wrong issue? I don't see how this is related to key names and I know patch
was being discussed in another issue.
On Thu, May 14, 2015 at 7:23 PM David Eads <notifications@github.com> wrote:

[2015-05-15 00:35] mbforbes commented on #8291
@dchen1107 (and @vmarmol) Thanks for looking into this! I believe I can reproduce easily but I'll confirm. Where do I look for cAdvisor info? I don't see a log in `/var/log/`or `/var/log/containers/`, and I don't see a cAdvisor container running?

[2015-05-15 00:38] dchen1107 commented on #8291
cAdvisor is running as part of kubelet now. If you can reproduce the issue, could you please change kubelet's log level to 4 so that we have more cadvisor log here? Thanks!

[2015-05-15 00:39] bgrant0607 opened #8298 "Dedupe SecurityContext fields in PodSpec"
Capabilities and Privileged are deprecated and should be removed from the v1 API.

cc @pmorie @pweil-

[2015-05-15 00:42] bgrant0607 commented on #7333
If trivial, we should fix v1.

[2015-05-15 00:43] hurf commented on #7485
Since feihu has fixed this, the issue can be closed.

[2015-05-15 00:43] #7485 closed

[2015-05-15 00:48] lavalamp commented on #8236
Why is this hard? We use these to make filenames. We should require that they be valid filenames. We'll have @thockin review the validation function to detect sneaky exploits. :)

[2015-05-15 00:50] smarterclayton commented on #8295
You can't change a services ip?

I believe repair must compare the resource versions in order to guarantee that the service list is newer than the read map (or ask for a consistent read).  That's a simple test.  I'm not aware of a partition scenario where a new term can be committed in the absence of a restore from backup.

I believe allocations are the only resource that require two resources to

[2015-05-15 00:52] mbforbes commented on #8291
@dchen1107 Yes! How do I do that?

[2015-05-15 00:57] smarterclayton commented on #8295
Allocation is safe because set addition is a crdt safe operation.  Removal is not safe and so requires linearization read-read-write in order so as to make forward progress.

[2015-05-15 00:58] pnovotnak commented on #7954
Totally useless without private image support from a business perspective... Really need documentation too, because it's also relatively useless *with* the feature if it's not documented well.

[2015-05-15 01:18] ixdy opened #8300 "kubectl e2e tests broken"
Several of the kubectl e2e tests were broken today by #8249, which added a missing check of an err return value, all of which now fail when doing cleanup and calling `kubectl stop`.

Example:
[code]

I think this may have been originally broken in #6194. That change refactored the implementation of Stop, which started masking the error, but it also changed the order of code a bit.

Previously, the

[2015-05-15 01:23] markturansky commented on #7018
Inlined object references are nice.  It removes a redundant word from at least these two:

[code]

Inlining makes it seem like you're dealing directly with Secret or PVC instead of a volume.

[2015-05-15 01:33] danielschonfeld commented on #6134
@mattmoor looks like I was misled by the 'error' showing in `kubectl get pods`.  It said it was waiting for the image so that led me to look right away into docker's logs.  However in my case the problem was the lack of secret `dns-token` since I don't use salt or the automated cluster builder scripts.

@thockin has opened a bug for that omission in the docs and we'll have that closed.

bottom lin

[2015-05-15 01:48] bgrant0607 commented on #4811
Potentially subsumed by #7447

[2015-05-15 01:53] ixdy commented on #8300
OK, it seems like that's not what's broken; the actual Resize seems like it might be the problem.

It could have broken anytime since April 2, unfortunately.

cc @kargakis as well.

[2015-05-15 02:24] bgrant0607 commented on #7018
Changes I think we should make in v1, which should all be pretty easy and the cost will be too high to change them later:
* Default ReplicationControllerSpec.Replicas to 1: #6700
* Dedupe fields that are in SecurityContext: #8298
* StatusDetails ID field should be name: #7333
* api.Pod.Host should be changed to Node: #6895
  * Change to ObjectReference TBD
* Time field cleanup (suggest "Time" rath

[2015-05-15 02:33] venkatramachandran commented on #8183
Note to self: RTFM. Kubernetes requires go1.3+ and not go1.2!

[2015-05-15 02:33] #8183 closed

[2015-05-15 02:35] ixdy commented on #8300
Looks like #7544 is the culprit. It moved the kubectl tests into separate namespaces, but the cleanup() method is calling `kubectl stop` with the default namespace. (Also, the namespace may have even been deleted by the time cleanup() is called - but not sure.)

Let's include everyone. @jayunit100

[2015-05-15 02:45] justinsb commented on #8295
True, IP allocations can't change - poor example I chose there :-)  But:
1. I think the same applies if we delete service 1=(1.1.1.1) and create service 2=(2.2.2.2)
1. I think we want an approach that works across all domains - I'm working on publicPorts

I get really nervous when we start layering on checks in response to counter-examples; I just worry that there's always another counter-example

[2015-05-15 03:06] bprashanth commented on #7561
@fgrzadkowski It isn't just the concurrent lists, etcd seems to be bad at handling write load as well (that was the correlation between POSTs I mentioned in https://github.com/GoogleCloudPlatform/kubernetes/issues/7561#issuecomment-102116408). Each pod posts at least 7 events on startup (4 for the pod container, 3 for the infra container). With the scheduler handing out 10pps, there are very often

[2015-05-15 03:08] smarterclayton commented on #8295
We may not have to.  We can either wait and retry the read, or require allocations to miss two repair intervals before being reclaimed (or a unit multiple of that).  That controls reclamation with an upper bound on the time an allocation can precede a service.

The allocator controller reduces the risk of that occurring because it is level driven.  In general, the easier assumption to relax is tha

[2015-05-15 03:11] smarterclayton commented on #8295
Alternatively, assuming multi object write in etcd3, we combine write and allocation.  But timeframe on that is further out.

[2015-05-15 03:43] mbforbes commented on #8291
I can reproduce this by doing the following:

[code]

After this, I got two failures:

[code]

... and I have another node with more of the same kubelet errors:

[code]

(If I need to change the Kubelet log level at compile-time I can do that and repro on a new cluster; otherwise, I've got another cluster with the issue that can be introspected...)

[2015-05-15 03:51] thockin commented on #8295
On Thu, May 14, 2015 at 5:50 PM, Clayton Coleman
<notifications@github.com> wrote:

You could change the port, though, unless we have a general rule that
any instance of this pattern must be immutable

Do we set ResourceVersion for a list to the highest of any member of
the list?  Empirically, when I get a list I *always* see `metadata`
empty - no selfLink, no resourceVersion.  Should we be popula

[2015-05-15 04:02] bgrant0607 commented on #561
@glerchundi Thanks for the pointers! Just a quick comment for now since we're trying to wrap up [1.0](https://github.com/GoogleCloudPlatform/kubernetes/issues?q=is%3Aopen+is%3Aissue+milestone%3Av1.0). If you define a service (set portalIP: "None" if you don't need a VIP allocated) for your pods, the endpoints controller will generate a list of their addresses and ports in an Endpoints object for y

[2015-05-15 04:26] davidopp commented on #8295
/subscribe

[2015-05-15 04:27] thockin commented on #8236
Well, Secrets CAN be stored in files but I don't think they necessarily
are.  For example, permissions are a concept that ONLY applies to files -
it properly belongs in the volume object, not the secret itself.  Likewise
filenames != secret names.

That may be a bit over normalized for real life, but let's not just smash
concepts together without exploring the proper alignment.

On Thu, May 14, 20

[2015-05-15 04:32] bgrant0607 commented on #6979
Yes, and v1beta1 and v1beta2 until we actually disable/remove them.

[2015-05-15 04:37] pmorie commented on #8236
together without exploring the proper alignment.

+1 to that.

On Fri, May 15, 2015 at 12:28 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-05-15 05:14] trinitronx commented on #7958
I think that it seems to make the most sense to use the latest secret value.  The main use case I can think of is to use secrets to deploy a database password, or some other runtime value that a containerized application needs.  The question I ask myself is: when would I change the value of such a secret?  The answer is: When I need to rotate the database credentials or change that setting.  It se

[2015-05-15 05:18] trinitronx commented on #7958
If you're talking about an auto-update of the value during the container runtime ... and if that is possible, I could see that as a valid behavior as well.  There are probably some pros and cons of either behavior, but I think that some method of getting the latest value into the container makes the most sense.

[2015-05-15 05:34] HardySimpson opened #8305 "How to cleanup unused containers and images?"
I've seen many issuses about that, but none solve it.  like https://github.com/GoogleCloudPlatform/kubernetes/issues/1148

Maybe it is a problem docker should solve. Here is my solution:

[code]

It deletes containers that stopped before 1 day, and all unused images.

Hope it helps

[2015-05-15 06:08] bgrant0607 commented on #3764
#5093 is an in-progress solution that pulls labels from the apiserver.

[2015-05-15 06:31] wojtek-t commented on #8119
@wojtek-t It's faster to do it than to explain it: #8261

:) thanks - will take a look today.

[2015-05-15 06:47] caesarxuchao opened #8307 "git-sync container in contrib/git-sync/ keeps restarting"
I followed the instructions in cotrib/git-sync/demo/README.md, but when I try to access the external IP, I got ERR_CONNECTION_RESET.

'kubectl get pods' shows the git-sync container terminated with exit code 0. 'kubectl describe' shows the git-sync container is repeatedly being recreated. 'docker logs' show
[code]
which seems normal to me.

@proppy, could you help? Thank you.

[2015-05-15 07:05] proppy commented on #8307
The `git-sync` exits to "periodically" sync the git repo, you can configure the period with the `GIT_SYNC_WAIT` env var.

The service will map to the port of the nginx container in the same pod, can you double check if the nginx container is running, and try to curl it directly using the pod IP?

Then double check than the service labels query match one of those pods.

[2015-05-15 07:23] HardySimpson commented on #8305
This shell has some bugs, I put a good one on https://github.com/HardySimpson/docker-cleanup

[2015-05-15 07:29] gmarek commented on #8240
Assigning @krousey who's working on #8087

[2015-05-15 07:34] caesarxuchao commented on #8307
Thank you @proppy. nginx container seems to be running properly. A directly curl shows the html of
[code]

The service selector does match the pod label.

It seems the problem is the service. I will dig deeper tomorrow. Thanks again.

[2015-05-15 07:40] adarell commented on #8176
Tank you very much,
it seems that Flannel is now running:
I0515 09:26:14.201913 14348 main.go:228] Using 172.16.44.194 as external interface
I0515 09:26:14.202707 14348 subnet.go:334] Picking subnet in range 192.168.1.0 ... 192.168.255.0
I0515 09:26:14.296748 14348 subnet.go:97] Subnet lease acquired: 192.168.85.0/24
I0515 09:26:14.300527 14348 main.go:245] UDP mode initialized
I0515 09:26:14.3007

[2015-05-15 08:20] marekbiskup commented on #6020
DNS test was moved to another file in #8230. This reduced the coverage of services tests. The discussion was the following:

From @thockin:

From @marekbiskup:

From @thockin

[2015-05-15 08:22] hobti01 commented on #7789
One would expect this to work, but it doesn't:
`kubectl create -f /manifestsInManyNamespaces/`

If I specify no namespace, the `default` namespace colliding with the namespace in the schema is unexpected.

Without allowing the schema to take precedence over "unspecified", there is not a way to deploy multiple manifests in different namespaces without knowing or inspecting all the namespaces.  This

[2015-05-15 08:23] marekbiskup commented on #6020
@thockin, could you suggest the way of accessing service ports?

I think if I go with option B, I'll be still using the DNS and I don't know the reason why DNS test was moved away - I suppose DNS is not available in some cases(?).
Shall I proceed with option A? Will it generate the required coverage? How can I specify the port in this case?

[2015-05-15 08:30] gmarek commented on #8231
Is there a way to reproduce this problem?

[2015-05-15 09:18] fgrzadkowski commented on #8119
@timothysc

I synced today to HEAD and did some profiling and for the whole density test we spend 30% of our time in ```crypto/tls.(*serverHAndshakeState).doFullHandshake```. Has something changed recently regarding authorization? I know we've been trying to get rid of kubernetes-ro. Maybe that's related? @lavalamp You've been working on this. Any ideas?

[2015-05-15 09:29] adarell commented on #8176
hi all,
sry for my blindness. Found an config failure in the config-default.sh.
i had to configure a cluster DNS.
After i configured that the Cluster comes up.
didnt fount that in the ubuntu.md guide.
Thank you all for your help!!!!

[2015-05-15 10:59] errordeveloper commented on #8159
@colemickens what I am seeing once in a while (as I re-provision the cluster a lot while testing) is this:
[code]

The return code 6 implies a DNS error. What's most weird is that one script downloads okay (PID 601), while the other one fails (PID 629). I believe this is just the Azure DNS being a bit flaky at times and today I noticed more failures then before.

Unfortunately, calling `curl --ret

[2015-05-15 11:24] marekbiskup commented on #6020
@thockin, I discussed the test with @piosz and I think can handle it without further directions from your side.

The plan is the following:
1. create a pod that would serve a given string at a given port
2. create a multiport service
3. verify that the correct string is served from each port of the service. (connect from the client and use API, not service name in DNS)

[2015-05-15 11:29] stefwalter opened #8311 "kube-apiserver should oportunistically notify about its startup readiness"
kube-apiserver should use the sd_notify() systemd API, either directly, or by reimplementing it (since it's trivial).

http://www.freedesktop.org/software/systemd/man/sd_notify.html

The sd_notify() systemd API tells systemd that the service is ready to accept connections. systemd will track its status correctly.

In particular `systemctl start kube-apiserver.service` should not return until kube-

[2015-05-15 12:04] cusspvz opened #8313 "Strict APT check just for debian-based linuxes"
I'm using Mac OS X, and installed juju via `brew`.

Cannot deploy under `juju` since it is checking for packages and stuff.

[code]

Fixed up editing prereqs to check if `juju` and `juju-quickstart` are available trough `brew`.

[code]

[2015-05-15 12:07] jayunit100 commented on #8300
interesting find ; Looks like now *maybe* whats happening, is that namespaces are being deleted fast enough that this causes a error.  before NS deletion took a long time?

[2015-05-15 12:53] ArtfulCoder opened #8314 "kube2sky cannot connect to apiserver"
kube2sky cannot talk to apiserver

[code]
967f6215acd9 is kube2sky container.

[code]

10.0.0.2 does seem to be the virtual ip for apiserver that kube2sky is using.
[code]

@vishh @thockin @cjcullen

[2015-05-15 12:55] fgrzadkowski opened #8315 "Wrong certificates in k8s cluster"
After syncing today I get the following errors in kubelet logs:

E0515 10:42:54.160745    3462 reflector.go:130] Failed to list *api.Pod: Get https://10.240.81.1/api/v1beta3/pods?fieldSelector=spec.host%3De2e-test-filipg-master: x509: certificate is valid for 104.155.29.206, not 10.240.81.1

I see a similar error for (almost) all requests.

@lavalamp This could be related to #8071

[2015-05-15 12:55] fgrzadkowski commented on #8315
@wojtek-t

[2015-05-15 13:00] smarterclayton commented on #8295
It's the current etcd committed term so it's "now" according to the etcd server you're talking to.

Get from server or via kubectl get?

Used to be

[2015-05-15 13:05] smarterclayton commented on #8295
Also, we can compare two things.  The current etcd index on the read should be > than the read index of the map, AND at least one service modified index should be > the map modified index.  If the latter condition is not true we don't know whether the service succeeded (and we didn't observe it), failed, or is delayed arbitrarily.  Only in that case must we read again with a wait.

[2015-05-15 13:15] ArtfulCoder commented on #8314
the quick fix that I had of changing http to https, in my previous checkin, was a bit too quick too. We have to be more elaborate than that simplistic approach. We should be checking if we are using the RO port or not and determine protocol to be http or https.

[2015-05-15 13:27] errordeveloper commented on #5472
Has Terraform been consider to help with cloud resource provisioning part?

[2015-05-15 13:29] fgrzadkowski commented on #8315
@jayunit100

[2015-05-15 14:03] ArtfulCoder commented on #8314
untested #8318
this may not fix the issue, but we need this something like this too...

[2015-05-15 14:11] bgrant0607 commented on #7547
Which doesn't work now? all/foo?

Ref. #5278

[2015-05-15 14:11] brendandburns commented on #7587
This was fixed by #8011

[2015-05-15 14:11] #7587 closed

[2015-05-15 14:13] brendandburns commented on #7091
#7421 was merged.  We should add an e2e test, though.

[2015-05-15 14:21] bgrant0607 commented on #7047
See also #1702

[2015-05-15 14:24] ArtfulCoder commented on #8314
manually verified that #8318 fixes the problem correctly.
A new version of kube2sky will need to be pushed out.

[2015-05-15 14:24] bgrant0607 opened #8319 "kubectl command aliases/renames"
We've discussed these a few times. Recording in an issue for discussion/triage.

The proposals are to use more conventional terminology in kubectl for "porcelain" commands:

1. "run" rather than (or in addition to) "run-container". (ok, my bad)
2. "scale" rather than (or in addition to) "resize". https://github.com/GoogleCloudPlatform/kubernetes/issues/1629#issuecomment-93776977

These would match

[2015-05-15 14:29] smarterclayton commented on #7547
`osc delete all foo` does not work.  `osc delete all/foo` is currently considered invalid by the builder although we should probably do the expansion.

----- Original Message -----

[2015-05-15 14:34] smarterclayton commented on #7789
Someone should have to send a flag.  With --all-namespaces being set, that could potentially be supported.  You still need a default namespace.  Create in many namespaces is an optional, non-default mode, because it is dangerous.

----- Original Message -----

[2015-05-15 14:36] smarterclayton commented on #8119
This seems like we're not reusing connections.  Did we change to not reuse the underlying TCP transport pool?  Did someone change something in how we connect to etcd?

----- Original Message -----

[2015-05-15 14:39] smarterclayton commented on #8319
SGTM

----- Original Message -----

[2015-05-15 14:44] hobti01 commented on #7789
I can see the potential for abuse.  It seems that  https://github.com/GoogleCloudPlatform/kubernetes/pull/7024 implements a flag of sorts with --namespace="*" instead of --all-namespaces

[2015-05-15 14:47] derekwaynecarr commented on #8300
The speed of deleting a namespace was improved when moving to new controller framework:

https://github.com/GoogleCloudPlatform/kubernetes/pull/6771

There previously was a 1 minute delay before noticing that a namespace could be purged.

----- Original Message -----
From: "jay vyas" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Sent: Friday, May 1

[2015-05-15 15:02] smarterclayton commented on #7789
Originally, but it was supposed to switch to --all-namespaces.

----- Original Message -----

[2015-05-15 15:02] #7376 closed

[2015-05-15 15:16] vmarmol commented on #8305
@HardySimpson are you running into disk is full issue on Kubernetes nodes? The Kubelets have cleanup policies that delete old containers and images which should prevent that from happening. Are you still seeing issues?

[2015-05-15 15:25] justinsb commented on #8295
I've opened an issue with etcd to see if they can provide some input.

But, I think we might be OK, even without consistent reads, if we do the following procedure (which is I think what @smarterclayton suggested):

1) We read the key we are going to update, and note the current etcd raft index (the raft index, _not_ the key lastModified)
2) We read all the "input" keys, and if we ever see a raft

[2015-05-15 15:25] swagiaal commented on #3965
@vardaofthevalier Hmm.. I was not able to reproduce this. Is it possible you are running into the issue fixed in #7503?

[2015-05-15 15:27] smarterclayton commented on #8295
----- Original Message -----

Your description matches what expect etcd to view - we have to linearize allocation map -> service list -> CAS on allocation map.  At least one service must be at or above the etcd index of the allocation map.

[2015-05-15 15:30] timothysc commented on #8119
@fgrzadkowski I don't have tls on for our test cluster, been waiting on #8261 to land.  I'll just pull and rebuild.

[2015-05-15 15:31] quinton-hoole commented on #8300
I love it when stuff makes sense :-)

[2015-05-15 15:38] quinton-hoole opened #8321 "Address punted review comments of #7653 (Use GinkgoTestRunner)"
See review comments of #7653 that were deferred.
cc: @ixdy

[2015-05-15 15:38] thockin commented on #8295
On Fri, May 15, 2015 at 6:01 AM, Clayton Coleman
<notifications@github.com> wrote:

kubectl - should there be a difference?

[code]

Seems not any more.

[2015-05-15 15:42] #8280 closed

[2015-05-15 15:44] smarterclayton commented on #8295
It's a bug, there's special code to unify resource versions across multiple calls.

Bug.  The rest API for each individual call returns it (note you have a List, not a PodList).

[2015-05-15 16:04] colemickens commented on #8159
Yes, this is the issue I was seeing. (It didn't repro the couple times that I tried to grab logs for this issue).

[2015-05-15 16:09] preillyme commented on #6584
@caesarxuchao thanks for the update.

[2015-05-15 16:10] errordeveloper commented on #8159
@colemickens You can try the latest changes on [my fork](https://github.com/errordeveloper/kubernetes/).

[2015-05-15 16:12] dchen1107 commented on #8291
There is a race between cadvisor initialization and docker. cadvisor failed to register docker factory, and bailed out. @vmarmol is going to make cadvisor more resilient to the issue of docker is not available, and have some retry logic. I am going to change kubelet initialization logic a little bit to make sure docker is running before we start cadvisor.

[2015-05-15 16:13] preillyme commented on #7122
@bgrant0607 I agree with you completely that the top level path is not obvious nor intuitive. I'm happy to have it changed to something a bit more discoverable. It's mostly an artifact of the original Web UI and the fact that it's using AngularJS for the routing.

[2015-05-15 16:41] bgrant0607 commented on #8087
GUI: #8304

[2015-05-15 16:53] zmerlynn commented on #8231
It's actively grumpy.

[2015-05-15 16:56] zmerlynn commented on #8171
Fixed by #8189

[2015-05-15 16:56] #8171 closed

[2015-05-15 16:57] bcbroussard commented on #7122
@lavalamp, @jackgr Travis was updated to support Karma in #7880. PTAL

[2015-05-15 17:00] ArtfulCoder commented on #8314
[code]

After setting up all the certs, I got the above error.
I believe we can't use https to talk to apiserver,  as long as the certs are master host ip based, and the clients are using a virtual ip to reach apiserver.

If we can do token auth over http, it would defeat the purpose since the token can be intercepted.

I believe we should rollback any changes related to using https to talk to api

[2015-05-15 17:02] jimmidyson commented on #8001
@satnam6502 @a-robinson Pod watching is now in the fluentd kubernetes plugin. Just working through the Docker images & testing.

[2015-05-15 17:18] ghodss commented on #8319
I'm happy with those names, though my strong preference here is still to rename, not add aliases. I think while we still have a chance we should avoid (non-deprecated) aliases, we should definitely take it. It will simplify the help text, general documentation, blog posts people write about using kube, etc.

[2015-05-15 17:18] roberthbailey commented on #8315
Did you kube-push? I admit that I didn't test that path but only the cluster create/delete flow....

[2015-05-15 17:19] #8196 closed

[2015-05-15 17:21] roberthbailey commented on #8315
As an aside, if we expect kube-push to always work correctly, then we need to add an e2e test for it to verify that it isn't breaking from PRs.

[2015-05-15 17:25] vishh commented on #8314
The RO port is being deprecated. We just posted a public announcement that
it is being deprecated.

On Fri, May 15, 2015 at 10:00 AM, Abhi Shah <notifications@github.com>
wrote:

[2015-05-15 17:31] rjnagal commented on #8176
Thanks @adarell for letting us know.

@WIZARD-CXY or I'll take a pass on the guide to add dns details

[2015-05-15 17:31] #8176 closed

[2015-05-15 17:33] ArtfulCoder commented on #8314
We have the explore the following options:
1. have the cert support more than 1 ip. host ip and virtual ip. Have the virtual ip assigned to apiserver.
2. add the dns name on the cert, in addition to hostip, so that pods can use dns name to access it.

[2015-05-15 17:35] mbforbes commented on #8291
Awesome, thank you Dawn! Are there issues or PRs I can follow to know when this is unblocked?

[2015-05-15 17:36] vmarmol commented on #8291
@mbforbes #8324 is one of them. @dchen1107 is working on the second.

[2015-05-15 17:38] fgrzadkowski commented on #8315
AFAIR first I only pushed, but then I did down & up.

Note that the certificate itself could be ok, it's just that we are using internal IP for connection, while certificate is generated for the external one. Has something changed with regard to this?

[2015-05-15 17:38] roberthbailey commented on #8300
#8309 partially fixes this. `kubectl update-demo should do a rolling update of a replication controller` is still failing consistently.

[2015-05-15 17:40] roberthbailey opened #8326 "Networking should function for intra-pod communication e2e test is broken"
It's failing on both GCE and GKE-CI. It appears to have broken somewhere around build number 2509/2510 which includes a likely candidate PR (#8278).

/cc @lavalamp @quinton-hoole @ixdy

[2015-05-15 17:42] rjnagal commented on #8258
@idosh The doc covers updating all kube master components and kubelets - which should mostly be same for all platforms if you followed the platform specific setup guide. Are you trying to update Weave, or a particular component?

[2015-05-15 17:43] lavalamp commented on #8119
@fgrzadkowski I did change the network test to do TLS and will be changing more in the future. But I don't think that can explain 30%. @smarterclayton's hypothesis seems like a good starting point (maybe kubelet's client isn't reusing?).

[2015-05-15 17:43] ghodss commented on #6895
Should it be NodeID or NodeName (whichever it is)? Since Node could imply that it's the whole object.

[2015-05-15 17:44] quinton-hoole commented on #8326
I was about to debug this one.  I'll take it.

[2015-05-15 17:45] bgrant0607 commented on #2462
cc @derekwaynecarr

[2015-05-15 17:45] caesarxuchao opened #8327 "kubelet reports pods status as not ready when a container terminates with exit code 0"
This causes #8307. In contrib/git-sync demo, the `git-sync` container voluntarily exits and gets recreated to "periodically" sync the git repo, but the pod is then reported as not ready,
[code]
The end result is that the service targets at this pod does not get endpoints and thus not working.

Thanks to @lavalamp for helping with the debugging.
@nikhiljindal

[2015-05-15 17:49] roberthbailey commented on #8315
The certificate on the master is signed with $MASTER_NAME and has the external IP as a SAN (subject alternate name). Before this change we were using salt to construct a fqdn for the master name but the fqdn isn't included in the cert. So the kubelet will be connecting to something like `https://kubernetes-master.c.project` and the cert is signed for `kubernetes-master`.

[2015-05-15 17:50] derekwaynecarr opened #8328 "kubectl run porcelain command should let user specify common resources"
It would be nice if an end-user can specify common resources (cpu, memory) as part of porcelain run command.

[2015-05-15 17:53] quinton-hoole commented on #8326
Root cause is almost definitely one of these:

Summary

1. Fix secrets example pod (details)
2. Fixing the permissions on python files. (details)
3. Changing the implementation of DeepCopy to use reflection instead of Gob encode/decode. (details)
4. Fix networking test (details)
4. Changing hooks.py back to executable. (details)
6. OOM protected docker processes (-900) (details)
6. Move proxySocke

[2015-05-15 17:54] ArtfulCoder commented on #8314
A third option is to make skydns a master component and avoid all these cert issues by talking on localhost on unsecure port of apiserver.

I think this might be the easiest solution

[2015-05-15 17:54] bgrant0607 commented on #8319
I'm fine with that.

[2015-05-15 17:56] roberthbailey commented on #8314
@ArtfulCoder That is going to break when #6949 lands b/c it explicitly detaches the kubelet on the master from the cluster. So DNS would no longer be available from any of the nodes.

[2015-05-15 17:58] quinton-hoole commented on #8300
@ixdy Can you keep digging on this one?  I'm busy on #8326. Provisionally assigning to you.

[2015-05-15 17:58] fgrzadkowski commented on #8315
I double checked where this happens, and it's only a problem in kubelet running on master machine.

[2015-05-15 17:59] ArtfulCoder commented on #8314
@roberthbailey I didnt grasp the problem completely. Do nodes need dns to join a cluster ? or Should nodes be able to work without the ability to reach the master ?

[2015-05-15 17:59] caesarxuchao opened #8329 "`kubectl get services` should warn the user if the service has no endpoints"
It would be helpful if `kubectl get services` can warn the user when a service has no endpionts.

It would be even more useful If 'kubectl get services' prints out why a service has no endpoints. For example, in #8327, it will be helpful if 'kubectl get services' can report the service has no endpoints and points out the reason is that the pod is not ready.

@nikhiljindal @bgrant0607 @lavalamp

[2015-05-15 18:04] quinton-hoole commented on #8326
Pretty sure it's  commit f820704, so rolling back #8278 now.  cc @lavalamp .

[2015-05-15 18:04] caesarxuchao opened #8330 "'kubectl get pods' shall warn the user if a pod is not ready"
When debugging #8327, I found the output of 'kubectl get pods' was misleading,
[code]
The status of the pod was reported as `Running`, but a further `kubectl get pods -o yaml` suggested the pod was not ready:
[code]
`kubectl get pods` shall warn the user about the fact that the pod is not ready.

@bgrant0607 @nikhiljindal @lavalamp

[2015-05-15 18:09] thockin commented on #3933
#8294 took a stab at this and failed.

Sadly, the codebase is not ready for this.  Specifically:

1. clientcmd depends on api.TypeMeta (not documented) and the JSON tags therein.
2. kubectl does a JSON marshal/unmarshal which breaks without the core JSON tags.

There may be more but I gave up.

[2015-05-15 18:20] ixdy commented on #8300
So I actually mentioned this particular case in #8303, though I wasn't sure if it was expected or not.

The test creates update-demo-nautilus, then does a rolling update to update it to update-demo-kitten. We have the cleanup function try to delete both, in case something breaks in the middle of the test, but it's failing because update-demo-nautilus doesn't exist - as expected?

We can just remov

[2015-05-15 18:26] ixdy commented on #8300
Created #8333 to remove the cleanup if we think that's a reasonable solution.

[2015-05-15 18:32] jlowdermilk commented on #8319
sgtm. I still think it's nice to keep the old name as a deprecated alias for ~1 release to give people a chance to update scripts.

[2015-05-15 18:34] asautins commented on #7958
I'm fine with using the latest secret value, but I guess the question for me is when.  What I want is predictable behavior.  If the behavior I need to expect is that when a secret is updated that the pods are then immediately updated that could make sense.

What seems unexpected about the current behavior is if I have a replicationController with 3 pods and they are all running on different machin

[2015-05-15 18:36] bgrant0607 commented on #6895
NodeName

[2015-05-15 18:48] timothysc commented on #8119
@lavalamp w/ #8261 it's slightly better overall.

![image](https://cloud.githubusercontent.com/assets/169553/7659628/013c812e-fb09-11e4-9c4a-ae3b2e546ae5.png)

but still a off quite a bit from 4/22.

[2015-05-15 18:57] bprashanth commented on #8119
Well 4/22 would be better too with the scheduler fix, because goroutines

[2015-05-15 19:01] satnam6502 commented on #8001
Great. Which Docker images?

[2015-05-15 19:11] deads2k commented on #8236
As a user trying to use the system, having a single object that contains a single mapping for my secrets is very easy to understand an use.  key==filename is very natural and makes it easy for me to create and update my secrets without creating invalid conditions.

The create case becomes much more challenging.  Instead of creating a single object, you have a secrets object with one dataKey->data

[2015-05-15 19:14] jimmidyson commented on #8001
@satnam6502 The fluentd images as we discussed on this issue last week.

[2015-05-15 19:18] satnam6502 commented on #8001
I wonder if we need a branch for things going into V1.0 and things that are
not?

On Fri, May 15, 2015 at 12:14 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-05-15 19:19] cusspvz commented on #7826
`user:pass:host:443/api/v1beta1/pods` has `502 Bad Gateway` response from `nginx`

[2015-05-15 19:24] pmorie commented on #8236
@deads2k's point above swayed me on the subject of allowing filename-like names of secret keys.  I don't think we need to fully solve that problem at this moment, in the sense of allowing relative paths, but I'm okay relaxing the key validation to allow leading dots as @deads2k wants to do in #8072.

Any thoughts @lavalamp @thockin ?

[2015-05-15 19:25] jimmidyson commented on #8001
So you don't want label metadata in v1.0?

[2015-05-15 19:31] bnprss opened #8335 "Flip pod's ready condition when node is unreachable"
Getting hit by the new policy on skydns I shut down the host where it was running and waited for an automatic relocation.
After a while (~1h) I manually stopped the pod and it was launched on a new one, as expected.

If host status is NotReady pods should be moved.

Here is the pod status when host was down :
[code]

[2015-05-15 19:32] roberthbailey commented on #8315
I wonder if this was actually broken as a combination of my change and #8009. In that change it looks like we caused the master to no longer write any auth data for the kubelet running on the master node.

/cc @mbforbes

[2015-05-15 19:33] derekwaynecarr commented on #8236
If secrets had supported:

1. keys with a leading ```.```
2. keys that allow subdirectories

This issue https://github.com/GoogleCloudPlatform/kubernetes/issues/4997 would not have taken me 2 mos to solve.  Luckily, OpenShift 3 was in active development, and we could change the product to flatten our secret configuration data into a single directory whose filenames could align with the current lim

[2015-05-15 19:36] quinton-hoole commented on #8326
The above rollback solved that immediate problem, but now the test, while proceeding healthily, is timing out.  More debugging or optimization required:

Networking
should function for intra-pod communication
..... [irrelevant stuff deleted] .....
INFO: Proxy status call returned in 4.861944ms
INFO: Attempt 35/60: test still running
INFO: About to make a proxy status call
Build timed out (after 90

[2015-05-15 19:36] brendandburns commented on #8231
The node controller uses GCE MIG introspection to find the set of node machines to add, so it's not surprising that if it can't get an access token, that the cluster doesn't have any nodes.

The question is: why can't it talk to the metadata server?

And what should we do when this happens?

This looks like a GCE problem, can you ssh into the machine and try to get the token manually?

If that doe

[2015-05-15 19:37] pmorie commented on #8236
I am 100% in favor of allowing subdirectories.  Since we have an immediate need for leading dots, I think we should get #8072 in for now and make a follow-up issue for subdirectories.

[2015-05-15 19:41] bprashanth commented on #8335
If a node stays down the nodecontroller should notice and delete pods on it (within ~10m), after which the rc will create new pods and the scheduler will assign them to nodes. @bnprss how recent is you code?

[2015-05-15 19:43] bprashanth commented on #8335
Can you also confirm that the pod was never deleted? (if the pod was created via rc, and the node controller did delelete, the new pod will have a different name). I'm trying to isolate which of the components misbehaved.

[2015-05-15 19:45] derekwaynecarr commented on #8236
SSH keys is use case of something that will not work if put in secret without file permissions. per key, recording it while its on my mind.

[2015-05-15 19:46] derekwaynecarr commented on #4789
SSH keys is one example of where this is useful and almost required.

[2015-05-15 19:48] brendandburns commented on #8335
I think if you're using an RC you should get pods back faster.  The pod should go to 'Unknown' and I don't think that we should count 'Unknown' state pods as being part of the set.

[2015-05-15 19:49] satnam6502 commented on #8001
Let's go for it and see if it can work reliably. The removal of secret access from mirror pods seems like an issue.

[2015-05-15 19:49] nikhiljindal opened #8337 "Support for /watch in api paths should be removed"
I still see watch in the path at many places: http://kubernetes.io/third_party/swagger-ui/#!/v1beta3/watchEndpointslist

I know we were working on making it a query param and removing it from the path.

@smarterclayton @bgrant0607

[2015-05-15 19:50] bprashanth commented on #8335
It will take ~5m for the nodecontroller to delete the pod from a bad host, and ~40s for it to declare the host as bad

[2015-05-15 19:52] bprashanth commented on #8335
The rc only currently cares about failed and succeeded. @brendanburns does it make sense to teach it about unknown? still thinking about it

[2015-05-15 19:54] yujuhong commented on #8327
The `git-sync` container was not running when kubelet reported the status, hence it was considered not ready. Because the containers in a pod share the same fate, the pod was not perceived as not ready.

Having short-lived containers as a service endpoint may encounter problem like this. I am not really convinced that this is kubelet's problem. It sounds like `git-sync` should be a cron job...

[2015-05-15 19:54] jimmidyson commented on #8001
What do you mean by "removal of secret access from mirror pods"? What's a mirror pod?

[2015-05-15 20:02] satnam6502 commented on #8001
The fluentd-elasticsearch logging pod and the fluentd-cloud-logging pods are special -- they are created from manifest files and one instance is laid down on each node.

[2015-05-15 20:04] jimmidyson commented on #8001
Ah ok. I can't find the details on secrets on mirror/static pods - do you have any details?

[2015-05-15 20:11] yujuhong commented on #8305
Whether the disk is full or not, I think it'd be an optimization if we teach container GC to delete all containers associated with deleted pods (or to directly remove the containers in killPod). There is no need to keep these containers around since user can no longer find the pod. I considered doing that, but didn't get to it :)

[2015-05-15 20:11] caesarxuchao commented on #8327
Forgot to add @proppy

[2015-05-15 20:15] jlowdermilk opened #8339 "pkg/client/clientcmd/api shouldn't depend on pkg/api"
`clientcmd/api` has a dependency on pkg/api for `TypeMeta`, which it embeds in `Config`. Is it doing that to take advantage of validation code, or can Config just declare `kind` and `apiVersion` directly and avoid the dependency?

@deads2k, @bgrant0607, @thockin

[2015-05-15 20:15] jimmidyson commented on #8001
Another option is to have a log aggregator running as a normal pod & the log collector static pods can forward to the log aggregator for enrichment before storing in ES. Would prefer to not have to do that, but it's another option.

[2015-05-15 20:18] smarterclayton commented on #8337
Once we drop v1beta1/2 we should switch all the clients to using the new query parameter.

----- Original Message -----

[2015-05-15 20:21] deads2k commented on #8339
A quick try (just declaring a `TypeMeta` in the `clientcmd/api` package) seems to work fine with `kubectl config`.  I only included those out of habit.

[2015-05-15 20:22] deads2k commented on #8339
Out of curiosity, is this just for a proper separate of packages or is there some functional issue as well?

[2015-05-15 20:28] preillyme commented on #7122
@jackgr I've addressed the breadcrumbs issue in https://github.com/GoogleCloudPlatform/kubernetes/pull/8332

[2015-05-15 20:30] yifan-gu commented on #7203
I would vote for @philips 's scheme https://github.com/GoogleCloudPlatform/kubernetes/issues/7203#issuecomment-97186239

Pretty much like the `VolumeSource`, and then write the validation manually.

[2015-05-15 20:32] #7958 closed

[2015-05-15 20:37] lavalamp commented on #8119
So that shaved a minute off, which is nice.

Thoughts:

My money is on some interaction between apiserver & kubelets.

"running" or not is computed by kubelet and done via write-- it's possible there's been no system change other than a delay or change there.

It's possible the etcd cache is suffering lock contention? (unlikely)

Listing all pods once per second is (unfortunately) an amount of loa

[2015-05-15 20:40] mbforbes commented on #8315
This looks like the same issue I saw in #8207?

[2015-05-15 20:41] satnam6502 commented on #8001
Agreed, it would be good to avoid the extra log aggregation and try to maintain a direct link from Fluentd to Elasticsearch. I did try to use your plugin -- see https://github.com/GoogleCloudPlatform/kubernetes/compare/master...satnam6502:labels -- but I could not get it to work. Any idea what I might be doing wrong?

[2015-05-15 20:45] jimmidyson commented on #8001
I'm not at my computer right now, but it looks OK to a cursory look. Do you get any errors?

[2015-05-15 20:45] dchen1107 commented on #8217
I ran into above issue a lot.

[2015-05-15 20:47] mbforbes commented on #8315
- I wonder why this happens only sometimes?
  - If it happens always, then me seeing it in #8207 was a red herring for the issue I was having.
  - Does this have any symptoms besides the errors in the kubelet log?
- Is the kubelet on the master a first-order citizen?
  - I thought it wasn't actually managing any pods, and the only pods that ran on the master are from startup. Please correct me if

[2015-05-15 20:47] satnam6502 commented on #8001
I don't get any errors -- but I don't see any log lines either. I'd been a
couple of days since I last looked at it -- I hope to get back to it after
my current stack of tasks.

On Fri, May 15, 2015 at 1:46 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-05-15 20:49] caesarxuchao opened #8341 "[RFC] Proposal for automatic API conversion tool for yaml/json files embedded in markdown"
Currently we manually convert the yaml/json files embedded in markdown files. To automate this process, we propose to add features to the kube-version-change tool:
- we need to remove the default fields in the output of kube-version-change tool
- we need to add a flag to kube-version-change that commands the tool to recursively convert all the .md files in a directory

Some code that maybe reused:

[2015-05-15 20:49] markturansky commented on #8217
Sorry, hadn't seen this sooner. Lost in the flurry of email traffic.

I am looking into it now.

[2015-05-15 20:53] krousey commented on #8341
Regarding the second bullet point, I think we could call break it out into 2 different steps.

 * Modify kube-version-change so that it understands and can convert YAML/JSON embedded in markdown files
 * Add a mode to kube-version-change so that it can recurse through directories and process all recognized file types.

[2015-05-15 20:56] caesarxuchao commented on #8341
I agree.

[2015-05-15 20:58] jlowdermilk commented on #8339
@thockin mentioned encountering an issue with tests, but it's mostly just for proper separation of packages.

[2015-05-15 21:10] markturansky commented on #8217
I cannot reproduce on F20, Go 1.3.1

I'll try 1.4 next.  Any other info would be appreciated.

[2015-05-15 21:11] elibixby commented on #8006
@pmorie That looks great! Plans for labels to be supported in the same way potentially?

[2015-05-15 21:11] #8006 closed

[2015-05-15 21:14] dchen1107 commented on #8217
Here is the output of docker version from my desktop.

Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): 7c8fca2
OS/Arch (server): linux/amd64

I started to run into this issue two days ago, and just ran into it half h

[2015-05-15 21:20] nikhiljindal commented on #8341
cc @lavalamp @bgrant0607

[2015-05-15 21:22] markturansky commented on #8217
Thanks :)

[2015-05-15 21:29] yujuhong commented on #8218
/cc @jlowdermilk, @brendanburns

[2015-05-15 21:31] caesarxuchao commented on #6584
conversion of contrib/git-sync is paused because of #8327

[2015-05-15 21:33] yujuhong commented on #8339
Related: Remove json tags from pkg/api/types.go #3933

[2015-05-15 21:36] #8291 closed

[2015-05-15 21:44] nikhiljindal commented on #8337
Do we want to support both: as a query param and in path for v1beta3 and v1?

[2015-05-15 22:01] ArtfulCoder commented on #8314
@brendanburns I think you might have an answer about the cert generation. Can we have the cert generated in a way that does not cause cert validation to break if apiserver is accessed via a virtual ip.

[2015-05-15 22:04] smarterclayton commented on #8337
I would prefer not to.  Although we don't support watch on a single resource with the query param option (you have to pass metadata.name).  That's slightly less user friendly.  The benefit is that everything for watch goes through the same path.  @lavalamp probably has an opinion.

----- Original Message -----

[2015-05-15 22:06] BenTheElder commented on #3760
I've started hacking on this here: https://github.com/BenTheElder/kubernetes/tree/iptables_proxy

Specifically I've moved the user-space implementation behind an interface here:
https://github.com/BenTheElder/kubernetes/commit/4e5d24bb74aca43b0dd37cf5cfee8a34f8eff2bf

I'm not sure now though if the implementation selection should be in cmd/kube-proxy or in pkg/proxy so I may remove this and have t

[2015-05-15 22:07] bprashanth commented on #8218
Personally i would prefer an fprintf and no error on 404 for delete

[2015-05-15 22:10] lavalamp commented on #8337
Is there a compelling reason for using a query parameter as opposed to a custom verb?

[2015-05-15 22:12] bgrant0607 commented on #7018
Resolution on names vs. ObjectReference:
* Existing names will use the pattern KindName. So, PodSpec.Host will become PodSpec.NodeName.
* After v1, we'll add specialized versions of ObjectReference with just the necessary fields, similar to ObjectFieldSelector
* We can then add additional fields of these specialized types in a backward-compatible manner.

[2015-05-15 22:13] smarterclayton commented on #8337
Not having a custom verb, clear versioning, general restfulness.  It makes admission control and policy easier to reason about.  Watch returns a list of events which are another representation of the object.

With that change we would not have any custom verbs (proxy is a subresource now for pods and nodes).

[2015-05-15 22:13] bgrant0607 commented on #8190
Punted from v1:
* Eliminate most volume sources
* Eliminate phase #6951
* Replace object names with specialized object references: https://github.com/GoogleCloudPlatform/kubernetes/issues/7018#issuecomment-102536924

[2015-05-15 22:13] justinsb opened #8345 "Why must status round-trip to old API versions?"
When adding a field to the API, why must the status round-trip to old versions (currently v1beta1 and v1beta2)?

I'm adding a field to ServiceStatus, and serialization_test.go roundTrip is complaining (line 71) because I haven't added it to the obsolete API versions.

I understand why this is important for Spec, but this seems like something we don't need to enforce for obsolete API versions for S

[2015-05-15 22:14] vmarmol commented on #8305
The argument for keeping those around is for the logs of the pod, although I don't know if we can even query the logs of a dead pod...if we can't then yeah we can just clean them up. You can file an issue @yujuhong so we don't forget :)

[2015-05-15 22:14] bgrant0607 commented on #8087
Eliminate watch from path: #8337

[2015-05-15 22:14] bgrant0607 commented on #8337
Ref #8087

[2015-05-15 22:15] jlowdermilk commented on #7286
With cloudsdk 0.9.60, standalone kubectl works by default with GKE clusters. The `gcloud alpha container kubectl` wrapper command is no longer needed and will be removed in a future release. Let me know if you have problems running
`kubectl rolling-update $PREV_VERSION -f - createConfig.sh`
against a GKE cluster.

[2015-05-15 22:18] thockin commented on #8345
The data is stored in a versioned form, and we don't necessarily know which
form will be stored.  That said, v1beta1 and v1beta2 are on death row so do
as little as you can get away with.

On Fri, May 15, 2015 at 3:14 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-05-15 22:21] jlowdermilk commented on #8218
I'm with @yujuhong on this; it should both print an error and exit nonzero, at least by default. I'm happy to add a `--ignore-not-found` flag for users who want 404s to be silent.

[2015-05-15 22:22] cjcullen commented on #8314
Right now, we create all the system-token kubeconfig files to point at https://kubernetes. We could break the DNS token out to point at https://$MASTER_NAME, because we already sign the master's cert w/ MASTER_NAME.

For private network clusters, MASTER_NAME is just the internal DNS name of the master. For public network clusters, MASTER_NAME can be the master's IP, or later a load-balanced IP of

[2015-05-15 22:24] bgrant0607 commented on #8339
See also #5625

[2015-05-15 22:24] bprashanth commented on #8218
I don't care about it that much :)
Just that if i was scripting some cron like thing to delete periodically I would like an event of email or some such if deletion *failed*, but not if the thing is already deleted. I suppose one could always regex the error message or examine the error code.

[2015-05-15 22:25] goltermann opened #8346 "GCE Getting Started Guide needs to explain how to associate to Project"
We should add a quick check/step to prerequisites to “gcloud config list project”/”gcloud config set project <projectID>”.

We should also add a quick reminder about “gcloud auth login” - I hit issues with that after I switched my project target to one on a different account.

[2015-05-15 22:25] yujuhong opened #8347 "kubelet should remove containers associated with deleted pods"
Currently, the container garbage collector removes oldest (with some per-container constraints) containers when the maximum of 100 dead containers is exceeded. It is not aware of the notion of pods. However, once a pod has been deleted, there is really no reason to keep their dead containers around. We should remove those containers as soon as possible to free up space.

[2015-05-15 22:27] thockin commented on #8236
If we think that the primary mode for secrets is going to be through the
volume, I am OK with this.  Loosen validation, allow subdirs, add mode.
Make sure validation ensures that the filename can not escape - no ".." and
no leading /

On Fri, May 15, 2015 at 12:45 PM, Derek Carr <notifications@github.com>
wrote:

[2015-05-15 22:27] goltermann opened #8348 "kube-down.sh gives errors when kube-up.sh wasn't successful"
Run: curl -sS https://get.k8s.io | bash
Then immediately: kube-down.sh

ERROR: (gcloud.compute.routes.delete) Some requests did not succeed: - The resource ‘projects/<PID>/global/routes/kubernetes-master’ was not found

[2015-05-15 22:28] yujuhong commented on #8305
Filed #8134

@vmarmol, kubelet cannot locate the container if the pod has been deleted, so no, user cannot query kubelet for logs in such cases. Of course, they could read kubelet.log, identify the container id, and manually ask docker (or any other container runtime) for the log. But I am guessing that once a pod has been deleted, we don't really guarantee anything.

[2015-05-15 22:32] nikhiljindal commented on #8337
IIUC, Shouldnt this be part of https://github.com/GoogleCloudPlatform/kubernetes/issues/7018 as well to not support watch in path in v1?

[2015-05-15 22:33] goltermann opened #8350 "Give better troubleshooting steps if kube-up.sh hangs"
A bunch of the util.sh scripts spin loop on checking for the k8s API.  I had an cluster do this, and didn't know what to do.  We should give better suggestions (for example, for GCE, SSH to master and nodes and look at /var/log/startupscript.log).

[2015-05-15 22:34] thockin commented on #6020
That sounds right to me.  Thanks!

On Fri, May 15, 2015 at 4:25 AM, marekbiskup <notifications@github.com>
wrote:

[2015-05-15 22:34] bgrant0607 commented on #8341
See also #7576 -- the plan is to support conversion in kubectl

Instead of scraping markdown, how about we extract the examples into separate files and then generate the markdown (since github doesn't support imports/includes). That would reduce duplication with the runnable configs and would make testing simpler, also.

[2015-05-15 22:47] quinton-hoole commented on #8326
I'm not entirely sure why, but the test is running normally again, completing consistently in 13 seconds.
Closing this issue for now.

![screen shot 2015-05-15 at 15 45 17](https://cloud.githubusercontent.com/assets/10390785/7663074/9887b8fe-fb19-11e4-84cc-ef39dfc1a611.png)

[2015-05-15 22:47] #8326 closed

[2015-05-15 22:48] yifan-gu opened #8351 "rkt: Import trusted pub keys for ACI verification."
In order to enable the ACI signature verification in rkt, we need to provide the rkt runtime a list of trusted public keys. I am thinking maybe we can do this during the creation of the runtime?

For example, provide a flag to specify a `trusted_keys.json` file, which looks like:

[code]

/cc @dchen1107 @vmarmol @bakins @philips

[2015-05-15 22:55] a-robinson opened #8352 "Openstack load balancer improvements"
As discussed in PR #7852, we'd like to make two changes with respect to openstack load balancers:

1. When deleting a pool, delete all monitors that were associated with it. Currently they're only disassociated, not deleted, and according to @anguslees this is a bug.
1. When deleting a load balancer, look up the pool by its name, rather than by its ID, which is only known by the VIP associated wit

[2015-05-15 22:58] krousey commented on #8341
As far as properly handling default fields, the best way to handle this might be writing custom MarshalJSON or MarshalText methods on our API types. Currently Go does not omit zero valued structs with omitempty (this include time.Time). An alternative would be to use pointers with structs so nil will be omitted. Neither really seem ideal.

[2015-05-15 22:58] bgrant0607 commented on #8087
Delete ContainerManifest from everywhere.

[2015-05-15 23:09] goltermann opened #8353 "Copy of binary to GCS for GCE kube-up.sh fails silently"
I was running get.k8s.io, and somehow got in a state where the the salt gz/sha1 were in my GCE bucket, but not the server gz/sha1.  This meant the cluster never came up and it hung the client script.

In gce/util.sh, we're pretty careful about how this works.

upload-server-tars calls copy-if-not-staged, which calls already-staged to see if the if the file has been staged, otherwise copy-if-not-st

[2015-05-15 23:11] quinton-hoole commented on #8081
@ixdy is pretty busy right now getting e2e's to run on every PR pre-merge, so that we don't keep wasting so much time tracking down regressions.  I'd like him to stay focussed on that until it's done, hopefully mid next week.

[2015-05-15 23:12] vishh commented on #8314
Would setting the default be master's IP reduce the friction for users who
run without an external DNS server?

On Fri, May 15, 2015 at 3:23 PM, CJ Cullen <notifications@github.com> wrote:

[2015-05-15 23:13] davidopp commented on #8081
Yeah sorry I didn't update the issue, I checked with him a couple of days ago and he said the same, so I was leaving unassigned for now. I am hoping @piosz can work on this but haven't discussed with him yet.

[2015-05-15 23:16] goltermann opened #8355 "Cassandra sample should use Cassandra more"
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/cassandra

There’s no ah-ha moment here - it’s just a tour of pods/labels/replication controllers.

I would have liked another couple of steps to actually use Cassandra to create a basic DB then kill the pod it was working on, then query the DB and see the service just serve it from a different pod.  I assume either that, or sh

[2015-05-15 23:20] goltermann opened #8356 "Cassandra example has minor issues"
All just minor stuff - putting this in one issue:

Add a quick explanation about git clone locally to have these files around for use.

"Given this configuration, we can create the pod as follows”:
might want to say “we can create the pod from a file as follows”, which helps explain the -f later on (really minor)

“After a few moments, you should be able to see the pod running:”
might want “After

[2015-05-15 23:21] mbforbes opened #8357 "`./hack/build-go.sh` busted on Shippable for Go 1.3, v1beta3"
All the recent PR builds have failed.

[code]

[2015-05-15 23:21] roberthbailey commented on #8314
To be clear, the cert configuration is only automatically plumbed in for GCE right now. There's no nice automatic solution across all cloud providers as part of v1.0 because we pushed dynamic clustering beyond the milestone. Static clustering requires cert distribution, and it's a bit ugly.

I think we want the default endpoint for non-DNS services to be the DNS name of the internal kubernetes ser

[2015-05-15 23:22] mbforbes commented on #8357
Unfortunately, no one has touched the script.

[2015-05-15 23:22] mbforbes commented on #8357
+cc @ixdy

[2015-05-15 23:27] quinton-hoole commented on #8081
@saad-ali Is also interested in working on it.  I just discussed it with him.

[2015-05-15 23:30] mbforbes commented on #8357
Example PRs for which this has failed:
- #8338
- #8342
- #8343
- #8349
- #7580
- ...

[2015-05-15 23:35] quinton-hoole commented on #8081
Provisionally assigning to @saad-ali

[2015-05-15 23:35] ixdy commented on #8357
Ugh, go 1.4 added the -o flag to `go test` that I used in #7653. Travis and Shippable have been such a mess recently that I didn't notice the failure on go 1.3 there.

Is there an easy way for me to test a particular version of go locally? Not that I'm sure what the workaround will be. (A very very hacky "fix" would be to avoid building the tests on go 1.3, since we only need them for e2e tests...

[2015-05-15 23:36] roberthbailey commented on #8357
I have go 1.3 on my mac and this is preventing me from being able to test/run anything at the moment.

[2015-05-15 23:37] roberthbailey commented on #8357
@ixdy can we roll back until we can figure out a fix?

[2015-05-15 23:39] ixdy commented on #8357
Yeah, we can roll back again.

Maybe I'll eventually get this change to stick...

[2015-05-15 23:39] mbforbes commented on #8357
Also, I can't run e2es...

[code]

[2015-05-15 23:40] dchen1107 opened #8358 "cpu.share is not properly set for containers in kubernetes"
I were trying to use limitRange to set default cpu request for each container to prevent overcommit a node badly before we have more intelligent scheduler, and identified the issue.

Through kubernetes I scheduled a container asking for 400m, (409 cpu.share) but kubernetes always assigns 1024 cpu.share to that cgroup.

[code]

Initially I thought kubelet doesn't pass cpu limit properly to docker,

[2015-05-15 23:43] caesarxuchao opened #8360 "kube-version-change doesn't copy secretName field"
When I convert a v1beta1 pod configuration in secrets.md to v1beta3, the spec.volumes.secret.secretName field is not copied and it's left empty, i.e.,
I get
[code]
instead of
[code]
@lavalamp @krousey @nikhiljindal

[2015-05-15 23:43] ixdy commented on #8357
OK, point taken, this is very broken on OS X. Opened #8359 to rollback.

[2015-05-15 23:48] roberthbailey opened #8361 "Don't override the node capacity if cadvisor isn't functional"
From https://github.com/GoogleCloudPlatform/kubernetes/pull/6949

@smarterclayton said: "Anyone can call the node api. If cadvisor can't report anything, and the node already has something, should the node overwrite the capacity? I would argue it should set zero if nothing is set, but if it's explicitly set (perhaps from the last time) it shouldn't be reset. Not a massively strong feeling, but if

[2015-05-16 00:00] satnam6502 commented on #8107
**Update.**

My attempts to perform a rolling update of `kube-dsn` are not working out. Here is the result of one experiment. I created a fresh cluster, then from the master I copied `/etc/kubernetes/addons/dns/skydns-rc.yaml` and I changed the label from `kube-dns` to `kube-dns-v0` but otherwise made no changes.
[code]
I then did a rolling update:
[code]
But this does not seem to have worked:
[co

[2015-05-16 00:02] bgrant0607 commented on #8190
Other use cases for subobject plugins:
* Secret providers, such as dockercfg
* Cloud-provider-specific load-balancing info communicated from service controller to kube-proxy (or plugin)

[2015-05-16 00:02] lavalamp commented on #8360
Possibly this implies that there's a bug in the conversion functions. Perhaps write a test in v1beta1/conversion_test.go for secret conversion?

[2015-05-16 00:03] caesarxuchao opened #8362 "kubectl cannot process listed objects in json file"
kubectl cannot process the following listed objects (copied from [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/secrets.md#use-case-pods-with-prod--test-credentials))
[code]
[code]
#7257 states "Group related objects together in a single file. This currently requires a List object in YAML, but it's still better than separate files. Almost nobody knows about this feature.

[2015-05-16 00:06] #8330 closed

[2015-05-16 00:06] krousey commented on #8341
Alternatively, we could do a dirty hack just for this tool.

http://play.golang.org/p/El0eQVtb_X

Essentially, encode to JSON, decode into map[string]interface{}, recursively clean out nils and empty collections, re-encode to JSON.

Just had to post this for laughs.

[2015-05-16 00:08] yifan-gu commented on #8351
Or maybe we can use the Secret to pass the pubkeys and prefix, then let kubelet/rkt to write those keys in the /etc/rkt/trustedkeys/

[2015-05-16 00:11] #8357 closed

[2015-05-16 00:13] ixdy commented on #8357
Tangentially related: do we have a policy on how long we intend to support Go 1.3?

[2015-05-16 00:14] derekwaynecarr commented on #8358
Did you see a problem with memory as well if set?  I swore I had verified this on the node a month or so ago, but maybe it was memory and not CPU.

/sub

Sent from my iPhone

[2015-05-16 00:15] caesarxuchao commented on #8360
Ok. Let me take a look.

[2015-05-16 00:15] derekwaynecarr commented on #8358
Do we have an integration test that can verify   This integration with docker and kubelet?

Sent from my iPhone

[2015-05-16 00:17] mbforbes commented on #8357
I (and I think others) have been curious as to why we run {go 1.3, v1beta3} and {go 1.4, v1beta1} as our testing pairs, which seems backwards.

Also, +1 to removing Go 1.3 support, mostly because it [doesn't support](https://github.com/GoogleCloudPlatform/kubernetes/pull/7580#issuecomment-98158558) empty  `for range` syntax.

[2015-05-16 00:21] vmarmol commented on #8358
From my testing this applies to both CPU and memory. Docker accepts the limit (and reports it), but it doesn't ask libcontainer to set the limit.

@derekwaynecarr we do not have a test today, we need one :)

[2015-05-16 00:24] pmorie commented on #8236
@deads2k ^^ does your current PR fit the bill here?

[2015-05-16 00:27] dchen1107 commented on #8358
I swore I checked memory a while back, and it works too. This is my first time checking cpu though. I teared down my cluster just now. Will bring up one and reported it back soon.

We do have integration tests but running a fake docker daemon. We also have a bunch of e2e tests to make sure pods on node running as expected, but no resource related validation. I am filing an issue to add e2e test fo

[2015-05-16 00:27] ixdy commented on #8357
I'm certainly all for getting rid of Go 1.3 support (as working around it is going to be a pain in my change), but I don't know what all of the implications are for that.

[2015-05-16 00:32] roberthbailey commented on #8107
@pmorie since this may be another bug with secrets.

[2015-05-16 00:33] dchen1107 opened #8365 "e2e tests to verify kubelet and docker integration"
Forked from #8358 ...

We need a test to verify kubelet and docker integration which should covers:

1) image, registry, etc.
2) container lifecycle
3) docker exec and hooks
4) resource related ...

We already have some tests cover 1) to 3), but missing 4) for sure.

[2015-05-16 00:35] pmorie commented on #8365
Maybe this should be combined w/ the docker containers e2e?
On Fri, May 15, 2015 at 8:33 PM Dawn Chen <notifications@github.com> wrote:

[2015-05-16 00:36] vmarmol commented on #8358
Memory is not set either, all resource limits are dropped.

[2015-05-16 00:37] pmorie commented on #8107
Thanks for heads up, on my list but probably won't have bw til mon
On Fri, May 15, 2015 at 8:32 PM Robert Bailey <notifications@github.com>
wrote:

[2015-05-16 00:37] dchen1107 commented on #8358
filed #8365

[2015-05-16 01:01] vmarmol commented on #8358
Just found the issue, it is in go-dockerclient and how we use it. This has actually never worked I think :(

We set the limits in the `Config` [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L578) which is what is provided by the Docker [client](https://github.com/fsouza/go-dockerclient/blob/master/container.go#L172) we use.

But the resource

[2015-05-16 01:05] vmarmol commented on #8358
The plot thickens, looks like it was a breaking change in the Docker remote API. The last version had the field on the request: https://docs.docker.com/reference/api/docker_remote_api_v1.17/#create-a-container

[2015-05-16 01:17] lavalamp commented on #8295
No, it is set to the global etcd index (which will be >= the highest member of the list). The highest member of the list might be too old to be in the watch window.

As for why you don't see it in kubectl output, that sounds like a kubectl bug. It's definitely there if you curl. (just tried it) In fact basically nothing would work if it weren't being set right.

[2015-05-16 01:17] nikhiljindal commented on #8357
@mbforbes There was no reason behind the current go and api version pairing. It was just random. We can change it if we want.

[2015-05-16 01:28] #6583 closed

[2015-05-16 02:14] nikhiljindal commented on #8087
v0.18 will be our last release that will support both v1beta1 and 3.
We will start ripping off beta1 once 0.18 is cut.

[2015-05-16 02:16] WIZARD-CXY commented on #8176
@adarell please look at the `Deploy addons` section which include the dns setup.In the future, I will include monitoring and logging components.

[2015-05-16 02:58] smarterclayton commented on #8295
It's almost certainly the version merge code being wrong after recent changes to how we dealt with lists.  In fact, I kind of remember putting a todo in the code to fix it.

[2015-05-16 03:27] bgrant0607 commented on #8362
You can either put the objects back to back (no list syntax) or insert the following:
[code]

[2015-05-16 03:28] bgrant0607 commented on #8362
Oh, and items:. See #5840

[2015-05-16 04:12] roberthbailey commented on #8353
/cc @zmerlynn who was editing these files recently.

[2015-05-16 04:26] bgrant0607 commented on #8337
Watch is already supported as a query parameter. Eliminating the legacy form is part of getting rid of the legacy versions.

[2015-05-16 07:11] ArtfulCoder commented on #8314
What you say would work for all pods except the skydns pod itself.
For skydns pod,  who would resolve the dns name of apiserver, when skydns is itself a client of apiserver?
The skydns pod would have to be bootstrapped with the dns A record for apiserver (mapped to virtual ip)

Instead, we can simply reserve a virtual ip for apiserver. (We already do this today). apiserver cert will have the virtu

[2015-05-16 07:14] ArtfulCoder opened #8371 "Generate https certs with Virtual IP of APIServer (for RW ports)"
Please refert to #8314 for full context.

We need to reserve virtual IPs for APIServer and have them on the apiserver server-side certs so that clients can successfully validate the certs when they access apiserver using the virtual ip

@thockin @vishh @roberthbailey @cjcullen

[2015-05-16 08:23] eatnumber1 opened #8372 "Duplicate hostPorts Rejected Despite Disparate Protocols"
Pods which use `hostPort` to bind both TCP and UDP sockets to the same port number are rejected with the error:

[code]

An example pod follows.

[code]

[2015-05-16 11:31] looztra commented on #8042
I encounter the same pb as @biswars.

DNS resolution is fine, but the skydns containers is getting killed every 30s.

The problem seems to be related to the check/livenessProbe. By disabling it, the skydns container is not killed anymore.

[code]

still investigating, while discovering kubernetes internals :)

[2015-05-16 12:11] linfan opened #8373 "Missing step of install kubectl in ubuntu doc"
Though I have successfully installed kubernetes via [the ubuntu doc](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md) :smiley: , still want to point out this doc missing the step to install `kubectl`.

Thus, if user just follow the guide in the doc without having much knowledge about kubernetes, he/she would get error "__It looks as if you don't

[2015-05-16 12:51] jimmidyson opened #8374 "Docker log symlinks should use underscore separator"
From https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1225, separator between namespace & pod container name is '-'. As this is a valid character in both namespace & container name, you can't tell where the split is. Changing this to '_' as is done between pod name & namespace makes this simple. One is case for this is the logging add-on to add rich

[2015-05-16 12:51] razgon opened #8375 "Question: Link containers and networking"
Hi,

I was very exited on deploying and starting using Kubernetes Cluster, but I've a couple of questions that I need to understand. Could someone please help with them?
1) Traffic routing. Right now we did setup Docker services managed by Kubernetes to work over flannel. There is an additional host with docker and flannel, that we are using as a gateway to route all traffic from external network

[2015-05-16 12:58] razgon commented on #8375
One more
3) SkyDNS. Is it possible to setup this guy to assigne IPs from flannel subnet instead of internal service IPs to FQDN? Can I forward my corp DNS to SkyDNS so it will start resolving names into flannel IPs?

[2015-05-16 13:54] idosh commented on #8258
I'm trying to update kubernetes itself. I'll try to follow the docs.

On Fri, May 15, 2015, 20:43 Rohit Jnagal <notifications@github.com> wrote:

[2015-05-16 15:24] linfan opened #8376 "Incorrect aws cli parameters format in doc"
It looks like the parameters in the doc of [aws coreos getting-started-guides](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws-coreos.md) doesn't works properly.

I'm using the latest aws cli released [v1.7.27](https://github.com/aws/aws-cli/releases/tag/1.7.27), and the create stack command in the doc keep popping error of "missing parameters" to me.

[2015-05-16 15:42] quinton-hoole opened #8377 "Leaking GCE load balancer target pools detected in services e2e test"
This started failing consistently on our continuous integration system (kubernetes-e2e-gce) at Build #352 (May 16, 2015 1:08:38 AM).  No obvious culprit PR's in the vicinity.  Perhaps an inderlying GCE issue?
I noticed a bunch of GCE load balancers seemingly left lying around in the relevant GCE project.  Perhaps the system or test is leaking LB's, and reaching it's GCE quota.  I'll look into that

[2015-05-16 15:45] quinton-hoole commented on #8377
There were 29 GCE forwarding rules, but 50 GCE target pools, so target pools seem to be leaking.  50 is also the quota limit for target pools on our project, as far as I know, so that's probably the problem.  I've deleted all of the above - lets see whether that sorts out the problem.

[2015-05-16 15:47] quinton-hoole commented on #8377
To be clear, the 29 forwarding rules are probably from some running e2e tests - there are many, and I didn't check.  But that number should be the same as the number of target pools.  The discrepency indicates a probable leak.

[2015-05-16 15:49] roberthbailey commented on #8371
I'm not sure we need to put the virtual IP on the certs. Can we just use the kubernetes service name instead?

Also, it isn't needed for the RO port because a) it's going away soon and b) it's http rather than https.

[2015-05-16 15:50] roberthbailey commented on #8314
SkyDns can just use the $MASTER_NAME (either a resolvable dns name like kubernetes-master or the external IP of the master) in the same way that the kubelet and kube-proxy do since it's a bootstrapping service. Then everything else can ride on top of skydns and use the RW service name.

[2015-05-16 16:05] ArtfulCoder commented on #8314
1. external IP would work. But do we want to use external ip for this ?
2.( User defined pods could still use a resolvable dns name.)

Some concerns with external IP:
1. Can we expect external IP to be stable across cloud providers.
2. Once apiserver is load balanced and not necessarily on master, do we rely on load balancing to happen through use of external IP or do we end up requiring a LB ?

W

[2015-05-16 16:11] quinton-hoole opened #8378 "e2e consistent failure on GKE: Node reboot test"
[code]

[2015-05-16 16:12] quinton-hoole commented on #8378
See also #8369

[2015-05-16 16:18] quinton-hoole commented on #8377
Yes, that fixed it.  e2e's are all green again.  Dropping priority, but keeping open to fix the source of the target pool leak.

[2015-05-16 17:08] anguslees commented on #8352
Rewording the above - tracking multiple underlying resources introduces a
new "partial failure" state.

How do I indicate that I'm in this state since "exists" and the result of
create/delete are now not simple booleans?
Can I rely on the caller retrying indefinitely?
Can the state machine go create->partial of failures>delete or
delete->partial-failure->create?

On Sat, 16 May 2015 13:48 Angus Le

[2015-05-16 17:08] anguslees commented on #8352
Yep, will do.

Re (2) - the code currently assumes "k8s lb exists" is synonymous with
"openstack vip exists".  The vip must be deleted before the pool, so if the
pool deletion fails and we want to do something better than just abandon it:

- should we say the lb exists if *either* the pool or vip exists?  If the
vip doesn't exist then we *know* it isn't functional.

- what if we fail during create

[2015-05-16 17:35] bgrant0607 commented on #7018
And, require explicit namespace creation (though this affects all api versions).
`s/NamespaceAutoProvision/NamespaceExists/`
in all the places that configure admission control plugins.

[2015-05-16 17:36] quinton-hoole commented on #8377
Yup, we're leaking target pools again.  All of the leaked pools are named k8s-jenkins-gke-e2e-* , so the problem appears to be specific to GKE.

[2015-05-16 17:36] quinton-hoole commented on #8377
Correction - the instances behind the leaked pools are named k8s-jenkins-gke-e2e-*

[2015-05-16 17:37] quinton-hoole commented on #8377
cc: @roberthbailey @brendandburns FYI

[2015-05-16 17:55] bprashanth commented on #8375
@razgon I would suggest an email to https://groups.google.com/forum/#!forum/google-containers

[2015-05-16 18:26] jimmidyson commented on #8001
@satnam6502 OK I've seen what the issue is. Bad documentation on my part :) It does work but requires mounting the docker socket at the moment, not desirable as it would require privileged container to do so, otherwise SELinux will prevent access to the docker socket. Don't want to run a privileged container unless we have to. So hang tight with this piece of work - very nearly there :)

In the me

[2015-05-16 18:31] jimmidyson opened #8379 "Secrets/service accounts in static pods"
Are secrets or service accounts supported in static pods? It's quite conceivable that static pods will require talking to the API server & providing credentials to do so via secrets or service accounts is the best way to do this.

A particular use case that I'm working on is logging. This requires a per-node pod to capture the container logs, enrich with Kubernetes metadata (labels, etc) which is

[2015-05-16 18:38] satnam6502 commented on #8001
I will hang tight :-)

[2015-05-16 19:19] monokal opened #8382 "Pod status freezes on "Running" indefinitely if all nodes are taken offline."
During some 'chaos' testing I noticed that if all Nodes are taken offline (NotReady status) then Pods freeze in the "Running" state indefinitely (well, at least over an hour at the time of writing) as you can see below.

The controller logs spam out "Evicting pods2" (see below) but no action is taken. Pod fail-over was working while taking one node down at a time, so it would suggest the issue occ

[2015-05-16 19:43] bprashanth commented on #8382
I suspect the node with the pod is getting starved for qps @gmarek @davidopp

[2015-05-16 19:57] justinsb opened #8384 "TravisCI is broken"
e.g. https://travis-ci.org/justinsb/kubernetes/jobs/62847034

It looks like there's a circular dependency between k8s and kube2sky?

[2015-05-16 20:18] bprashanth commented on #8372
Looks like we don't check protocol
https://github.com/GoogleCloudPlatform/kubernetes/blob/bc9b6e93e3ad9466ac3ba24d2d2ad80f04060225/pkg/api/validation/validation.go#L701
@thockin

[2015-05-16 20:40] thockin commented on #8384
@vishh @artfulcoder

On Sat, May 16, 2015 at 12:57 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-05-16 20:42] satnam6502 commented on #8379
An alternative is to wait for a per-node controller and doing away with static pods. @thockin

[2015-05-16 21:17] thockin commented on #8371
Have a chicken-egg thing.  If we cert on the name, DNS has to be up.  But
we can't get DNS up unless we can talk to the API, which requires cert.

We can either break this (as I understand) by putting the service IP in the
cert or by putting the service IP into every container's /etc/hosts

On Sat, May 16, 2015 at 8:50 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-05-16 23:10] vishh commented on #8384
Looking into this.

On Sat, May 16, 2015 at 1:41 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-05-16 23:26] liggitt commented on #8379
+1 for per-node controller. Static pods that require the kubelet to have API access seems very odd to me.

[2015-05-16 23:43] jimmidyson commented on #8379
Per node controller sounds great but isn't available yet AFAIK? Any ETA?

Why do static pods accessing api server seem weird to you @liggitt?

[2015-05-16 23:46] vishh commented on #8384
I don't see any dependency issue on HEAD locally.

[2015-05-16 23:48] liggitt commented on #8379
Because they're independent config sources, and the streams shouldn't cross?

Also, the admission chain is hamstrung when interacting with mirror pods… if anything in the pod spec gets manipulated in the admission chain, the kubelet gets distraught and goes into a delete/recreate loop.

[2015-05-16 23:49] liggitt commented on #8379
Static pods referencing API objects in their spec is what seems weird.

[2015-05-17 01:47] roberthbailey commented on #8371
We don't need skydns to be up to cert on the name of the master vm (because that uses dns outside of our cluster, e.g. project dns in GCE). And we already cert on the IP of the master, so skydns can use that as well. This IP can be a VIP that is balanced across multiple apiservers for HA. Or the (external) dns name of the master can be balanced across apiservers for HA.

[2015-05-17 02:23] roberthbailey commented on #8378
Assigning to Max.

[2015-05-17 03:53] thockin commented on #8371
I admit I don't know enough about how certs are validated, so I'll
probably say something dumb...

On Sat, May 16, 2015 at 6:47 PM, Robert Bailey <notifications@github.com> wrote:

Doesn't this force DNS to talk to the master VM's IP, rather than the
service IP?  The point of having master Services is to get rid of
knowledge of the master VM.

The public IP or the internal IP?  But again, this is

[2015-05-17 05:34] ArtfulCoder commented on #8371
I had listed similar reasons to Tim's at https://github.com/GoogleCloudPlatform/kubernetes/issues/8314#issuecomment-102643859

The Virtual IP :
1. load balances when have more than one APIServer
2. does not need an external load balancer
3. does not need an external dns server
4. Would work across multiple cloud providers since we have no dependencies.
4. Does not preclude the possibility of acces

[2015-05-17 06:17] roberthbailey commented on #8371
This is true _except_ for skydns, which provides the knowledge of how to reach the master to the rest of the cluster. Other than skydns, all other pods should be using the service name (not IP) to reach the master.

What is your thinking about how the kubelet and kube-proxy should find the master? I'm proposing that skydns use the same mechanism as those two binaries, and that they should evolve i

[2015-05-17 06:24] roberthbailey commented on #8314
The fields that are signed on the cert don't have to exactly match across cloud providers. I think we want GCE to provide an example of how we suggest certs get signed but other cloud providers don't have to do it in exactly the same way (vagrant, for example, might do things insecurely by default because it's used locally).

I think skydns is a special case because it provides bootstrapping servi

[2015-05-17 06:36] thockin commented on #8371
On Sat, May 16, 2015 at 11:18 PM, Robert Bailey
<notifications@github.com> wrote:

That's a fair point, but with a notable difference - DNS is a plain
old pod, not a special "every machine" pod.  It is salted, but only to
get config params in, not quite the same depth as kubelet or
kube-proxy.

Do we have an answer for kubelet and kube-proxy yet?  Are we sure that
the IP the master VIP gets will b

[2015-05-17 07:33] ghodss opened #8394 "Organize packages inside pkg/cloudprovider"
The packages directly inside `pkg/cloudprovider` seem to be of the following categories:

* Cloud provider plugins:
 * aws
 * fake
 * gce
 * mesos
 * openstack
 * ovirt
 * rackspace
 * vagrant
 * cloud.go - plugin interface
 * plugins.go - plugin initialization
* Controllers that sync data from cloud providers:
 * nodecontroller
 * servicecontroller

I propose that either we move everything plugin

[2015-05-17 10:30] errordeveloper commented on #7879
Interesting... As you can see, I haven't configure the auth side of things, to avoid default passwords etc.

Well, this part needs a cloud provider implementation, which is currently missing for Azure. I think @jeffmendoza (or someone else at Microsoft) was looking into it...

[2015-05-17 10:36] errordeveloper commented on #7826
The whole approach is different entirely, in many ways.

[2015-05-17 12:09] jimmidyson commented on #8379
@liggitt Fair points. So in the absence of per-node controllers are there any other options?

[2015-05-17 13:30] derekwaynecarr commented on #8394
Should we just move the plugins into the same plugin directory that holds scheduler and admission control handlers?

Sent from my iPhone

[2015-05-17 13:45] matschaffer opened #8395 "NoSuchBucket on aws getting started"
I ran into this when trying out k8s on AWS via kube-up:

[code]

I suspect it's mainly that the newly created bucket takes some time to be usable. A retry worked fine.

Figured I'd at least open this to mention it and see if enough others are hitting it to make it worth building in a check loop for bucket creation.

[2015-05-17 19:36] justinsb opened #8396 "panic in servicecontroller.go"
In https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/servicecontroller/servicecontroller.go, I found a logic error (when I had a broken cloud implementation):

If createLoadBalancerIfNeeded returns err, then cachedService will have service = nil.  This causes updateLoadBalancerHosts to panic.

It would be easy to skip cacheService if service=nil, but I wasn't sure whe

[2015-05-17 20:05] justinsb opened #8397 "TestServiceRegistryIPUpdate: Incorrect test in pkg/registry/service/rest_test.go (1 in 256 chance)"
We used to disable randomization for IP allocation for services in the tests, but we don't any more.

I think this test: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/service/rest_test.go#L642-L649

is checking that changing the portalIP fails.

However, I believe that if we happen to be allocated .76, then it will succeed.

(Yes, I actually hit this!)

[2015-05-17 20:10] justinsb commented on #8395
I've never seen it personally, but what you suggest as the cause (a delay in bucket creation) does sounds plausible.

If you're motivated to fix it, that's great.  I would propose simply putting the entire upload in a retry (two or three times maybe, with a short sleep in between), because that way we also catch failures to upload due to e.g. connection loss (although I'm not sure if the aws cli t

[2015-05-17 21:01] roberthbailey commented on #8396
/cc @a-robinson

[2015-05-17 22:03] caesarxuchao commented on #8362
Thanks, @bgrant0607. The list works. But the "back to back" doesn't. Is this what you mean by "back to back"?
[code]
With or without the "," separating the two items, it doesn't work.

[2015-05-18 00:20] ashw7n opened #8398 "kube-up with latest salt fails due to library change"
The latest version of salt `2015.5.0 (Lithium)` does not have the python module `salt.utils.ipaddr ` which is needed by https://github.com/GoogleCloudPlatform/kubernetes/blob/efb42b302d871f7217394205d84e5ae82335d786/cluster/saltbase/salt/_states/container_bridge.py and kube-up fails with this message on the salt-minion log on the nodes.

[code]

Looks like the salt folks have moved the file from h

[2015-05-18 00:38] justinsb commented on #8398
Is this on AWS, and running from a release?  I've fixed it in devel (for AWS), but I should open a ticket to ask for a dot-release if people are running from releases.

(I believe GCE/GKE/Azure lock to a particularly version of Salt; Vagrant was not affected.  The fix for AWS was to lock to a particular version of Salt).

[2015-05-18 00:54] ashw7n commented on #8398
Actually this was for an internal fork where we were we had the latest salt getting pulled. Looks like its handled correctly for other providers, so closing this. We fill fix our provider to be be also against a specific version of salt.

[2015-05-18 00:54] #8398 closed

[2015-05-18 00:54] colemickens commented on #7879
Sure, I don't expect the "createExternalLoadBalancer" to be respected yet, but as far as I can tell, the Azure networking features are limited such that it's not possible to setup the firewall rules manually even (such as the cloud provider impl would). It seems like Azure lacks the features necessary to properly enable Kubernetes in all scenarios.

[2015-05-18 02:14] HardySimpson commented on #8305
@vmarmol, I heard about kubelet can clean up  old containers and images, but how to config or start it? Is there any docs or links? thanks

[2015-05-18 02:17] justinsb commented on #8384
Rebasing some of the problematic patches seems to have fixed it, so I'm going to close.  Sorry for false alarm.

[2015-05-18 02:17] #8384 closed

[2015-05-18 03:14] HardySimpson commented on #8305
I see this:

[code]

So, the policies of kubelet cleanup is that
1. a stop container will be removed after the `minimum-container-ttl-duration`
2. if on one node there is more than `maximum-dead-containers`, will trigger kubelet remove containers  until there are 100 dead containers

But, how kubelet cleanup old images? And what is the meaning of `maximum-dead-containers-per-container`, does it me

[2015-05-18 05:33] a-robinson commented on #8396
Great catches, Justin, thanks! I believe that simply not processing cached services with a nil api.Service object in the node pool reconciler is the correct approach. A nil Service object implies that the load balancer reconciler still intends to process it, and the LB reconciler always uses the most up-to-date list of nodes. I'll send a PR ASAP.

[2015-05-18 06:41] a-robinson commented on #8352
See my response in [the other thread](https://github.com/GoogleCloudPlatform/kubernetes/pull/7852#discussion_r30484017). Effectively we shouldn't try to unwind, but instead make each step of creation idempotent.

Do we need to be able to indicate it? I don't think we do. This is how I see the three commands right now

* CreateTCPLoadBalancer - An error indicates that the load balancer may not have

[2015-05-18 06:45] hurf opened #8401 "Enhance error message from kubectl when 'kind' is empty in the template"
If 'kind' is not addressed in the template, the error message will be 'no object named "" is registered'. We should disallow 'kind' to be empty and make the error message more clear.

[2015-05-18 06:59] a-robinson commented on #8377
This is a dupe of #7753, which #7852 should at least help with. Closing this in favor of that.

It's very odd that it's affecting GKE so disproportionately, though. After cleaning up the target pools whose forwarding rules were gone, all the non-soak-test target pools belonged to GKE, which indicates that GKE isn't just leaking target pools, it's also leaking forwarding rules.

The first thing tha

[2015-05-18 06:59] #8377 closed

[2015-05-18 07:01] a-robinson commented on #7753
Copying over my commentary from #8377 on why the GKE e2e tests are leaking so many forwarding rules and target pools vs the GCE tests:

[2015-05-18 07:08] WIZARD-CXY opened #8402 "Update about docker approach for deploying k8s"
@brendanburns What about using docker to deploy the k8s status? I see its support level is project.But it was just tested ok with version 0.14.1 while the latest version is 0.17.  I think it is a good idea for k8s to deploy and maybe I can give a hand.

[2015-05-18 07:32] matschaffer commented on #8395
Found https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/util.sh#L312, is that the sort of bash style you'd recommend? Thanks!

[2015-05-18 09:57] pires opened #8405 "CoreOS setup-network-environment script is gone?"
This is missing and will break all CoreOS related stuff
`https://storage.googleapis.com/k8s/setup-network-environment`.

/cc @antoniomeireles @kelseyhightower

[2015-05-18 10:01] AntonioMeireles commented on #8405
@pires looks so - i just did AntonioMeireles/kubernetes-vagrant-coreos-cluster@15190453fdec3ae4e7b281db89ca521f76930fee to get around it ... waiting a bit to see if it was transient or not before propagating it *urbi et orbi*.

[2015-05-18 10:20] madis opened #8406 "Adding & removing nodes from existing cluster (creating new instances)"
Is there a way for adding and removing nodes from existing cluster (not just the node objects in master but actual instances too)? How do the authors see it happening or how is it done currently?

If there is no existing solution, I'm thinking of implementing this functionality either by

1. Two additional scripts like *cluster/kube-spawn-node.sh* and *cluster/kube-destroy-node.sh*. The logic woul

[2015-05-18 10:28] pires commented on #8405
Well, I think it's better if we just use the upstream and not said missing URL.

[2015-05-18 11:54] deads2k commented on #8236
https://github.com/GoogleCloudPlatform/kubernetes/pull/8072 is not as loose as we've described here and it doesn't rework the content to allow for modes.  It could be considered a step along the road.

[2015-05-18 12:51] abonas commented on #7122
Is the graph component going to be merged into this repo?
I had several attempts to add the graph and see its visualizatoins by following the several readme files in this repo (like the one under www, for example), but no luck so far.

[2015-05-18 13:19] kbeecher commented on #6284
I take it you mean something like this?

`$ kubectl diff service my-service my-service.json`

And that would output, for example:

[code]

Of course, this should work with YAML too.

[2015-05-18 13:49] akamalov opened #8411 "Starting Kubelet Kills Other Kube* services and vice-versa"
Environment: <b>CoreOS - Alpha - Build 681</b>
Kubernetes: <b>0.17.0</b>

### Problem:

Trying to start <b>kube-kubelet</b> is ending up killing other <b>kube*</b> services. Starting other <b>kube-*</b> services is in turn is killing <b>kubelet</b>.

Here is the running environment:

[code]

Now, let's go ahead and start <b>kube-kubelet</b>:
[code]
Let's go ahead and display the status of other <b

[2015-05-18 14:00] smarterclayton commented on #8100
We should add an API flag that allows logs to have additional information to be added.

[2015-05-18 14:05] justinsb opened #8412 "Should we add a preemptible field on pods?"
Should we define a preemptible setting on the pod API for v1, given GCE's announcement?:
http://googlecloudplatform.blogspot.com/2015/05/Introducing-Preemptible-VMs-a-new-class-of-compute-available-at-70-off-standard-pricing.html

AWS also has spot instances, so this is not just a GCE thing.

I don't know that we have to actually implement it right away, but as any implementation would be best-eff

[2015-05-18 14:12] gmarek commented on #8382
It doesn't happen on GCE. Everything was evicted as expected. I can dig through Flannel as well, but maybe someone with more experience with it can take a look.

[2015-05-18 14:12] pmorie commented on #8236
Let's get #8072 in as an incremental step towards this.  Now, the scope of this issue should be:

1.  Add ability to specify subdirs in secrets keys
2.  Add validations attendant to the above like checks for `..`, `^/`, etc
3.  Add ability to control file mode

Do we really want the file mode on the secret itself?  There's already an existing PR for file mode: #7908; if we really want this on the

[2015-05-18 14:20] gmarek commented on #8382
IUUC there's a bug that cause multiple deletion of pods which is bad, but shouldn't result in pods left in running state.

[2015-05-18 14:22] wojtek-t commented on #8119
Listing all pods once per second is (unfortunately) an amount of load on the system that's larger than all the kubelets in your cluster put together. If the test were retried with a watch instead of hammering the server with polls, the result might look very different.

I completely agree - many people took a lot of effort to eliminate number of lists all over the code. We should also change the t

[2015-05-18 14:26] justinsb opened #8413 "DNS with Docker-standalone / hyperkube"
Is it possible to get DNS working with Docker-standalone / hyperkube?

I tried this:

* Followed these instructions https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md, but added " --cluster_dns=10.0.0.5 --cluster_domain=k8s.local" to the kubelet start command
* Created a non-templated version of the rc & service files here: https://github.com/Google

[2015-05-18 14:32] kcao3 commented on #7571
It appears the instruction guides document was out of dated at some point last weeks. However, I believe it has recently been updated. After following the most recent updated versions of the instruction guides document, CoreOS 668.0.0, and Kubernetes v.0.17.0, I was able to create my Multi-node-CoreOS-Kubernetes cluster and run the cassandra example.

[2015-05-18 14:32] #7571 closed

[2015-05-18 14:37] markturansky commented on #8217
I cannot reproduce this on F20, Go 1.4.2

Any runtime settings I might be missing?  I see hack/test-integration.sh is set to "-race" .

[2015-05-18 15:35] #8396 closed

[2015-05-18 15:39] #7730 closed

[2015-05-18 15:40] #8227 closed

[2015-05-18 15:43] thockin commented on #8412
After 1.0 - it can be done additively, and I think we just don't have
bandwidth to hammer out the details just now.

On Mon, May 18, 2015 at 7:05 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-05-18 16:06] justinsb commented on #8395
Yes, that's a good example to borrow from.

[2015-05-18 16:11] quinton-hoole commented on #8279
cc: @ixdy @zmerlynn FYI

[2015-05-18 16:18] zmerlynn commented on #8279
That's a bug in Test Results Analyzer and not a product bug at all. Why is this a k8s bug?

[2015-05-18 16:30] justinsb commented on #8412
Fair enough ... I guess it could be done today with node labels.

[2015-05-18 16:32] justinsb commented on #8229
This seems to have been fixed; I haven't seen this with any of the deployments I was doing this weeked, nor from one I did this morning onto the same system.  Closing.

[2015-05-18 16:34] justinsb commented on #5129
We've implemented the "one per cloud" API model, so closing.

[2015-05-18 16:34] #5129 closed

[2015-05-18 16:35] justinsb commented on #4024
etcd is now run in a container, ensuring consistent arguments;  closing

[2015-05-18 16:35] #4024 closed

[2015-05-18 16:36] justinsb commented on #4324
The API now exposes a rich IP address model; closing

[2015-05-18 16:36] #4324 closed

[2015-05-18 16:36] roberthbailey commented on #7753
Is there a way for the services test to wait for the service controller to clean up the external resources before finishing (without just doing a sleep)?

[2015-05-18 16:39] bgrant0607 commented on #5129
PersistentVolumeClaim is the "one for all clouds" abstraction.

PersistentVolumeSource is "one per cloud" currently, but eventually we'd like to convert it to a plugin.

[2015-05-18 16:40] vmarmol opened #8416 "Kubelet: Document GC Policy and Params"
We frequently get questions about container GC, how it works, and what policies exist. We should document this somewhere better than in code.

[2015-05-18 16:43] vmarmol commented on #8305
@HardySimpson it seems like I should write a document about it since it is a question we get somewhat frequently :) Filed #8416.

What you've described is correct. Also, `maximum-dead-containers-per-container` is the number of dead containers allowed per container in your pod. So if your pod has 2 containers, each of those will be allowed to have up to MAX-NUM dead containers which we keep around

[2015-05-18 16:49] quinton-hoole commented on #8279
I retrospect I think you're right.  I think I misread the following and got
confused.

"When Ginkgo detects that a passing test suite has a programmatically
focused test it causes the suite to exit with a non-zero status code. This
is to help detect erroneously committed focused tests on CI systems. When
passed a command-line focus/skip flag Ginkgo exits with status code 0 - if
you want to focus t

[2015-05-18 16:58] kelseyhightower commented on #8195
@rjnagal I just ran into this issue as well after upgrading to 0.17.0, but seems some nodes register just fine:

[code]

Things seem to work after restarting the nodes in NotReady state:

[code]

[code]

[2015-05-18 17:01] mbforbes commented on #8378
The problem happens before the node ever reboots. As a precondition sanity check, it ensures all pods are "running" and "ready" before the test begins. This isn't true, so it bails.

Before the e2e tests run, we're checking that all pods are "running" by ensuring:
`pod.Status.Phase == api.PodRunning`

This test also checks that pods are "ready" by ensuring:
`pod.Status.Conditions ⊇ {Type: api.PodR

[2015-05-18 17:06] bprashanth commented on #8382
@gmarek if the node with the pod is always second through this loop and we delete pods once every 10 seconds, won't it get starved? (only from a cursory glance, so I might be wrong :)
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/nodecontroller/nodecontroller.go#L609

If that's the case we should avoid using a query for the delete pods call on nodes that have none

[2015-05-18 17:10] quinton-hoole commented on #8378
We're actually seeing flaky results from the cloud logging e2e tests too, across most test environments, which might be related.

Here's a recent example:

------------------------------
Cluster level logging using Elasticsearch
  should check that logs from pods on all nodes are ingested into Elasticsearch
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/Go

[2015-05-18 17:13] bprashanth commented on #8315
@mforbes the kubelet on the master is responsible for setting up the (static) pods the master components run in

[2015-05-18 17:25] yujuhong commented on #8372
The issue was discussed before in #5874, which was closed due to it being low priority.

[2015-05-18 17:26] caesarxuchao commented on #6855
Maybe this is a related problem. I tried to update a pod:
[code]
And the result I got was:
[code]

[2015-05-18 17:29] roberthbailey commented on #8378
/cc @satnam6502

[2015-05-18 17:30] bgrant0607 commented on #8339
Not done:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/clientcmd/api/v1/types.go#L29

[2015-05-18 17:32] mforbes commented on #8315
@bprashanth Please address @mbforbes instead.

[2015-05-18 17:33] eatnumber1 commented on #5874
This can't be worked around when running NFS from a pod. Linux does not allow the NFS port (2049) to be changed, and the Portmap port (111) also cannot be changed. Additionally, you can't separate the UDP from the TCP ports.

Can the priority on this be increased?

[2015-05-18 17:34] bprashanth commented on #8372
Hmm, that's 2 pods and the scheduler, this is 2 containers in the same pod and validation at create time. Maybe we should just be more clear about where we stand with hostPort.

[2015-05-18 17:35] eatnumber1 commented on #8372
Posting here what I posted in the other bug:

This can't be worked around when running NFS from a pod. Linux does not allow the NFS port (2049) to be changed, and the Portmap port (111) also cannot be changed. Additionally, you can't separate the UDP from the TCP ports.

[2015-05-18 17:39] satnam6502 commented on #8378
I merged a logging related PR #8374 this morning from @jimmidyson  -- let me investigate.

[2015-05-18 17:41] nikhiljindal commented on #6841
Fixed via #8338

[2015-05-18 17:41] #6841 closed

[2015-05-18 17:43] pmorie opened #8419 "Gendocs failing CI"
There are a couple files which are failing gendocs in PRs, but for which running the gendocs script in master produces no output:

- cluster/addons/dns/kube2sky/RELEASES.md
- examples/limitrange/README.md

Example:

http://travis-ci.org/GoogleCloudPlatform/kubernetes/builds/63049476

[2015-05-18 17:50] pmorie commented on #8419
To be clear, the bug here is that these files aren't generated with the analytics link in master, but they are in branches.

[2015-05-18 17:51] bgrant0607 commented on #8419
PR #8343 was merged even though it failed the check.
cc @nikhiljindal @caesarxuchao @derekwaynecarr

[2015-05-18 17:52] bgrant0607 commented on #8419
Or should have failed, anyway.

[2015-05-18 17:56] satnam6502 commented on #8378
I have a PR but I can't seem to push it to GitHub. Waiting...

[2015-05-18 17:58] bgrant0607 commented on #8419
The analytics change was merged this morning: #8296

It looks like the other changes were tested without that change (and vice versa).

cc @vmarmol

[2015-05-18 18:13] csrwng opened #8424 "Recurring error in kubelet log when cadvisor is not functional"
The kubelet log fills up quickly with:
[code]

[2015-05-18 18:17] vmarmol commented on #8424
How did you build the Kubelet btw? (on what platform). This particular problem happens when the Kubelet is not build in Linux as it does not allow us to build cAdvisor.

[2015-05-18 18:19] ixdy commented on #8279
The Test Results Analyzer doesn't look at the exit code at all, AFAIK. Unless the junit XML somehow indicates a failure, I think this is a bug in the Jenkins plugin, not in any of our process.

Also, by default, Ginkgo only exits non-zero if there are any programmatically *focused* tests. Any programmatically *pending* tests (as we have) will not exit non-zero unless `--failOnPending` is passed.

[2015-05-18 18:23] kelseyhightower commented on #8405
@pires This is not resolved.

[2015-05-18 18:23] #8405 closed

[2015-05-18 18:25] lavalamp commented on #7943
Fixed by #8165

[2015-05-18 18:25] #7943 closed

[2015-05-18 18:26] csrwng commented on #8424
It's built on Mac OS X, cross-compiled to Linux. I know that if I build on a Linux VM, cAdvisor works and I don't get that error. The point is that even if cadvisor is not functional, logging that error every time the kubelet syncs seems excessive.

[2015-05-18 18:26] lavalamp opened #8425 "TestServiceRegistryIPUpdate flake"
https://app.shippable.com/builds/5559919a591ea70b00b6054b

[2015-05-18 18:28] vmarmol commented on #8424
Agreed :) Just wondering about your setup. Assigning to myself to fix.

[2015-05-18 18:35] bkeroackdsc opened #8426 "Data-only container volume not populating"
I have a pod with certain containers that export volumes and other containers that consume those volumes. Plain/manual Docker volumes works normally as expected, however when using k8s volumes within a pod/replicationcontroller the volume does not have all the data populated within the consuming container.

Example:

build-container (exports ``/opt``, which contains the following subdirectories: `

[2015-05-18 18:45] erictune commented on #8178
I think this is WAI.

On Wed, May 13, 2015 at 11:38 AM, Paul Morie <notifications@github.com>
wrote:

[2015-05-18 18:54] pmorie commented on #8178
+1 to WAI, you get an event for this:

[code]

[2015-05-18 18:54] #8178 closed

[2015-05-18 18:57] vmarmol commented on #8252
This is fixed, closing.

[2015-05-18 18:57] #8252 closed

[2015-05-18 19:07] quinton-hoole commented on #8279
Well, we either need to:
1. cause the Jenkins plugin to be fixed upstream
2. fix it ourselves (if it's open source)
3. work around it in our Jenkins or Ginkgo config.

[2015-05-18 19:23] vmarmol commented on #8406
There is currently no automated way to do this. The provisioning is left to the user and the addition to the cluster can be done with an API call. AFAIK there was some work to automate some of the provisioning. @alex-mohr @davidopp or @ddysher may know more.

[2015-05-18 19:37] caesarxuchao opened #8432 "'kubectl proxy' not working"
I started a k8s cluster on GCE, and then I ran
[code]
Is this behavior abnormal or did I misuse the command? Thanks.

@jlowdermilk @nikhiljindal @bgrant0607

[2015-05-18 19:41] pires commented on #8405
I'm not sure I follow you @kelseyhightower. So you mean this binary is no longer needed?

I don't understand why the issue was closed.

[2015-05-18 19:45] bgrant0607 commented on #8432
Usage looks ok:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_proxy.md

Did `kubectl proxy` exit immediately? Maybe it didn't get the port, though there should have been an error message.

Try specifying a different port (see doc).

[2015-05-18 19:45] bgrant0607 commented on #8432
You also may need to do `curl --insecure`

[2015-05-18 19:48] pires commented on #8405
Nevermind closed by #8409

[2015-05-18 19:55] krousey commented on #8054
Since this was merged, is it ok to close? Or do @smarterclayton or @wojtek-t want to deprioritize and hang on to this for their code generation efforts?

[2015-05-18 19:57] #8298 closed

[2015-05-18 19:58] smarterclayton commented on #8054
It's fine to close

[2015-05-18 19:58] #8054 closed

[2015-05-18 20:03] wojtek-t commented on #8054
To be clear - it's closed now because the issue is fixed. I will be auto-generating methods for deep-copies, but this is peforrmance optimization, not the correctness issue.

[2015-05-18 20:16] bkeroackdsc commented on #8426
Some random things I've tried (with no success):

- Rearranged the container order in the pod template
- Deleted /opt from the runner container image
- Add/removed ReadOnly options on the volume

[2015-05-18 20:24] bkeroackdsc commented on #8258
Where is one expected to run ``kube-push.sh`` from? The master? As root?

An opaque script is not the most friendly upgrade path.

[2015-05-18 20:25] bgrant0607 commented on #4910
The problems introduced by #5547 must be fixed.

[2015-05-18 20:25] bgrant0607 commented on #4910
Or it should be reverted.

[2015-05-18 20:33] erictune commented on #367
[Docker Swarm](https://docs.docker.com/swarm/) supports:
  - [Filters] which limit the set of nodes that a container can be scheduled on.
  - [Scheduling Strategies](https://docs.docker.com/swarm/scheduler/strategy/) which affect how various eligible nodes are ranked.

Filters include:
  - Constraint, where container label has to match node label.
  - Affinity, where a container label needs to be

[2015-05-18 20:34] yujuhong commented on #8425
Looks like #8397

[2015-05-18 20:34] pebo commented on #6158
I get the same problem when following the coreos aws (cloudformation) setup (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws/cloudformation-template.json)

CoreOS: 681.0.0
kubernetes: v0.17

Does the getting started / guestbook docs mention setting up DNS?

[2015-05-18 20:43] caesarxuchao commented on #8432
Thanks. Should `kubectl proxy` exit immediately? It stuck at `Starting to serve on localhost:xxxx` no matter what port I specified. I think it got the port, because I compare the `netstat --listen` result before and after I ran `kubectl proxy`. It showed the specified port entered `LISTEN` state after I ran the `kubectl proxy` command.

`curl --insecure` doesn't help.

[2015-05-18 20:50] davidopp commented on #4910
Working on a fix now.

[2015-05-18 20:50] a-robinson commented on #7753
Not without polling GCE directly for whether the resources still exist, although that may be worth it as a workaround.

What would be perfect is that clean-up-all-cloud-provider-resources API method that we talked about a couple months ago.

[2015-05-18 20:56] satnam6502 opened #8441 "Stopping or deleting an replication controller fails"
[code]

[2015-05-18 20:56] satnam6502 commented on #8441
@brendandburns

[2015-05-18 21:04] mbforbes commented on #8378
Update: On the GKE cluster I was testing on, the `fluentd-cloud-logging-<node>` pods are permanently   "running" but not "ready," which means #8442 won't fix this (though it's still good to have it). We need to get those pods "ready."

[2015-05-18 21:20] timothysc commented on #367
/cc @willb @erikerlandson - re background.

[2015-05-18 21:21] quinton-hoole commented on #7753
Can we not perhaps use GCE namespaces or projects as a cheap way of getting this here?

[2015-05-18 21:24] mbforbes commented on #8315
I opened #8444 to (hopefully) address this. (Pending e2e runs.)

[2015-05-18 21:25] bgrant0607 commented on #8401
Example to reproduce the problem?

We believe DataVersionAndKind should produce an error, and should be fixed if that's not the case.

[2015-05-18 21:30] a-robinson commented on #7753
I don't believe so. We can't use projects due to the fact that projects can't be programatically created (they're intended to be long-lived). I'm not aware of anything along the lines of a GCE namespace other than networks, which won't work because target pools and forwarding rules unfortunately don't seem to be scoped to networks.

[2015-05-18 21:30] erictune commented on #5874
@eatnumber1
Are you trying to put all the nfs daemons into one pod?  If so, then I don't quite understand how resolving this issue would help you.  Maybe you can elaborate.

If they are not all in the same pod, can you perhaps put them all in the same pod?

[2015-05-18 21:30] saad-ali opened #8445 "Make Event Compression Lossless"
Today the `Event` object in the Kubernetes API stores only the `FirstTimestamp` and `LastTimestamp` and a `Count` of how often the event occurred during that period. If a consumer wanted to reconstruct the full timeline of event occurrences, they would not be able to do so.

Suggestion:
- Add a new list of timestamps to the `Event` object that keeps track of as many occurrences of the event as pos

[2015-05-18 21:37] yujuhong commented on #8223
#8436 might be related to this issue.

[2015-05-18 21:41] bprashanth commented on #5874
@erictune https://github.com/GoogleCloudPlatform/kubernetes/issues/8372 for context

[2015-05-18 21:41] #8424 closed

[2015-05-18 21:42] medhedifour opened #8447 "How can I add minion to kubernetes cluster ?"

[2015-05-18 21:44] brendandburns opened #8448 "kubectl exec is dissonant with other commands"
@smarterclayton @ghodss @bgrant0607 @jlowdermilk

consider:

```kubectl log <pod> <container>```

```kubectl describe pods <pod>```

vs

```kubectl exec -p <pod> -c <container>```

I propose changing to:

```kubectl exec <pod> <container>```

for continuity.

[2015-05-18 21:49] caesarxuchao opened #8449 "`kubectl update pods --patch` doesn't work"
I followed these [intructions](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_update.md) to update a pod,
[code]
And the result I got was:
[code]
Respecting this error message, I tried to patch the `container.image`, but I got the same error.

The v1beta1 version of the command listed in the [intructions](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/doc

[2015-05-18 21:50] medhedifour commented on #8447
How can I add node to ubuntu cluster ?

[2015-05-18 21:50] smarterclayton commented on #8448
Since containers don't fit with resources (not a top level object) can we do

    kubectl exec <pod> [-c <container>]

[2015-05-18 21:53] erictune commented on #5874
Looks like you already concluded in #8372 that the problem is in the validation, not in the scheduler, so this is not the right bug.

[2015-05-18 21:56] ixdy commented on #8279
https://issues.jenkins-ci.org/browse/JENKINS-27628 is the relevant bug against the Test Results Analyzer plugin. There's even a patch there, though there seems to be no movement. I'm not sure if it should have been presented as a PR instead, or if there's no active development on the plugin.

[2015-05-18 21:58] bgrant0607 commented on #367
We have constraints via nodeSelector.

Affinity, Port, and Dependency are covered by pods.

Health should be automatic.

Strategies are currently baked into the scheduler, which is configurable, thus preserving what/how separation. We've discussed making it possible to disable default scheduling, which would enable users to run their own schedulers.

[2015-05-18 22:00] bprashanth commented on #8448
@smarterclayton why encode our resource hierarchy into the cli? (looking for an example where it would be useful, not refuting that it will be useful)

[2015-05-18 22:00] kelseyhightower commented on #8447
@medhedifour Assuming the node is already bootstrapped with the right Kubernetes components (docker, kubelete, kube-proxy) you can do the following:

[code]

[code]

You can also use the nodes FQDN if you have woking DNS.

[2015-05-18 22:03] smarterclayton commented on #8448
I'm mostly referring to commands that deal with opaque objects, where we explicitly identity the object by a consistent pattern (type/name, maybe in the future namespace/type/name, or type/name@resourceversion).  The question mostly arises on whether we will ever support multiple execution for exec, such that being able to use that pattern to address multiple objects.  If we won't, then it's fine

[2015-05-18 22:06] bgrant0607 commented on #8448
I agree w/ @smarterclayton. I could imagine applying exec and logs to corresponding containers (i.e., same container name) of multiple pods in the future.

[2015-05-18 22:18] pweil- opened #8451 "GenericEtcd not testing as expected"
While creating a cluster scoped api resource I noticed that when I passed in a generate name on the object meta I was getting `resttest.go:180: Expected an error, but we didn't get one`.

This appears to be caused by the `rest.BeforeCreate` method removing the namespace for any strategy whose NamespacedScoped function returns false coupled with the test that tries to ensure a namespace on a Namesp

[2015-05-18 22:28] dchen1107 commented on #8449
Currently only image is allowed to be update.

[2015-05-18 22:30] brendandburns commented on #8448
I'm ok w/ ```-c <container>``` if only because I think most pods are size 1 and so most people will never need to use it.

I'm not sure that ```<pod> <container>``` precludes moving across multiple pods, or even multiple containers.  I would think to do that we'd actually want to use label syntax, e.g.

```kubectl exec -l stage=production,user=bburns``` or whatever.

[2015-05-18 22:31] brendandburns commented on #8448
I'll do a PR to adjust exec to ```<pod> -c <container>``` and do the same for logs.  We'll accept the old syntax for a while too, but print a deprecation warning, and deprecate w/ 1.0

[2015-05-18 22:33] bgrant0607 commented on #8449
Those instructions were written speculatively, assuming that we would eventually permit cpu to be updated, but we still don't. The example should be converted to image.

And I think you need `kind: Pod` in the patch json.

This is where --dry-run would be useful, to dump the patched json.

[2015-05-18 22:43] smarterclayton commented on #8448
It's mostly to not have to special case resource builder (yet).  Agree pod is the implicit type, although we have use cases where you want to exec in a job or build or deployment pod where there is another resource that maps to one or more pods.  So for instance today we have "osc build-logs", where there is an indirection between identifying the specific pod running your build. Being able to abst

[2015-05-18 22:59] nikhiljindal commented on #6855
@caesarxuchao Your command fails because we try to replace the existing containers with the one you are providing. And there are required fields like name and image missing from your container spec, which is the error you are getting.

What you really want is to merge your container spec with the existing one (so that it takes the name and image from the existing container spec). That is what stra

[2015-05-18 23:02] caesarxuchao commented on #8449
Thanks. Same error message when I tried to patch the image:
[code]

kubectl update does not support `--dry-run`, I tried change `--v`, but that does not output the patched json.

If there is no quick answer to this issue, I will visit it again after I have updated other docs to v1beta3.

[2015-05-18 23:09] dchen1107 commented on #8449
you have a typo above: s/iamge/image

[2015-05-18 23:09] caesarxuchao commented on #6855
@nikhiljindal , thanks. Then we should remove the `--patch` option in `kubectl update`. What do you think @bgrant0607 ?

[2015-05-18 23:13] idosh opened #8460 "Update CoreOS/Azure scripts to support kube 0.17"

[2015-05-18 23:14] medhedifour commented on #8447
@kelseyhightower,  thanks for the response
I have created a new vm ,  brought kubernetes binaries to this machine, and executed the command above,
but , "kubelet get nodes" give me Not Ready STATUS for new minion.
Where is the problem ?

[2015-05-18 23:14] caesarxuchao commented on #8449
@dchen1107 Sorry about the copy/paste error. After fixing the typo I got a similar error message.
[code]
It looks like the `kubctl` is not doing a patch, but rather make a new object and only fill in the fields that are supplied in the patch, like what @nikhiljindal pointed out in #6855.

[2015-05-18 23:39] ixdy opened #8464 "build sometimes fails with "mv: cannot stat 'e2e.test': No such file or directory""
My recent PR #8428 builds the e2e test as a binary and moves it into the output directory (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/lib/golang.sh#L367-371).

This sometimes works without issue, and other times fails with this error message:
[code]

I have no idea why this is flaky, but hoping that by opening an issue others can help debug (or mention if they have a more c

[2015-05-18 23:45] pmorie opened #8465 "Use byte buffer in expansion.Expand"
@a-robinson brought this up in code review; creating this as a follow-up.

[2015-05-18 23:46] ixdy commented on #8464
I think I figured out what the problem is.

Since we need to support Go 1.3, we can't use the -o flag to control where the binary is placed from `go test -c`, and it is instead placed in the current working directory. As we are building all platforms in parallel, it's possible that two instances of `go test -c` will collide on each other.

[2015-05-18 23:46] caesarxuchao commented on #8449
Just for the record, `kubectl update --patch` works for nodes, i.e.,
[code]

[2015-05-18 23:53] satnam6502 opened #8466 "Monitoring services not reported at cluster creation time"
I expected to see `.../api/v1beta3/proxy/services/monitoring-grafana/` and Heapster.

[code]

[2015-05-18 23:54] satnam6502 commented on #8466
@vishh

[2015-05-18 23:56] kelseyhightower opened #8468 "New minions cannot be added using kubectl"
Kubernetes: v0.17.0

[code]

I get the following error when I attempt to register a new minion using kubectl

[code]

The minon gets created, but the error is wrong because:

Before running the above command the state my k8s cluster looked like the following:

[code]

[2015-05-19 00:00] satnam6502 commented on #8466
Argh. We need to update our documentation! Google Cloud Logging is default on GCE.

[2015-05-19 00:00] #8466 closed

[2015-05-19 00:01] vishh commented on #8466
Yup. Its Google Cloud Monitoring and Logging!

[2015-05-19 00:08] dchen1107 commented on #5011
cc/ @fgrzadkowski on master components upgrade for 1.0

[2015-05-19 00:09] liggitt commented on #8451
I actually caught some of these in https://github.com/GoogleCloudPlatform/kubernetes/pull/6201 and forgot to open a separate PR when I closed that one.

[2015-05-19 00:21] vmarmol commented on #8419
This should be fixed.

[2015-05-19 00:21] #8419 closed

[2015-05-19 00:24] vmarmol commented on #8447
what is the output of `kubectl describe node <node that is not ready>`

[2015-05-19 00:30] vmarmol commented on #8411
Hmm the master components are now run as containers. I wonder if that has broken any older setups.

@kelseyhightower any ideas?

[2015-05-19 00:32] vmarmol commented on #8451
/cc @lavalamp @derekwaynecarr

[2015-05-19 00:32] vmarmol commented on #8411
/cc @dchen1107 in case something jumps out at you.

[2015-05-19 00:34] vmarmol commented on #8464
@satnam6502 looks like you ran into this today too.

[2015-05-19 00:36] satnam6502 commented on #8464
Yes. Although I was only doing one build at a time.

[2015-05-19 00:38] ixdy commented on #8464
@satnam6502 what command did you run when you ran into this issue?

I think I have a fix that'll work, but I want to make sure it fixes your situation, too, since it's hard to reliably reproduce this on my machine.

[2015-05-19 00:46] satnam6502 commented on #8464
`builld/release.sh`

[2015-05-19 00:47] vmarmol commented on #8413
/cc @vishh @thockin @quinton-hoole

[2015-05-19 00:50] derekwaynecarr commented on #8451
@liggit do you want to pull relevant pieces from the past PR or shall I do it?

[2015-05-19 00:51] gosharplite commented on #6158
Not sure about aws, since I use openstack. Below links might help you on setting up DNS in kubernetes.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/README.md
https://github.com/pires/kubernetes-vagrant-coreos-cluster/tree/master/dns
https://groups.google.com/forum/#!topic/google-containers/XAejyzqcwRg

[2015-05-19 00:55] lavalamp commented on #4817
Totally up to the implementer whether or not to use cache.Store. It would need some modifications to emit proper resource versions when answering a list.

At first we just index entire requests; I think a simple LRU cache is OK for that. Later, when we get really fancy, we can index every label separately and have a super efficient selector lookup function.

* Source is etcd directly, instead of a

[2015-05-19 00:58] ixdy commented on #8464
Ah, `build/release.sh` will by default use Docker and build all of the platforms in parallel, which will exercise the bug as I understand it.

[2015-05-19 01:01] liggitt commented on #8451
I can

[2015-05-19 01:05] ixdy commented on #8464
Created #8473 to fix.

[2015-05-19 01:31] HardySimpson commented on #8305
Thanks I've seen the code yesterday afternoon. `maximum-dead-containers-per-pod-container` maybe a better name...still it is too long...

[2015-05-19 01:42] smarterclayton opened #8476 "Print object type as first column in `kubectl get`"
When we originally implemented get, the first column was the type, i.e. "POD", not "NAME".  Over time others implemented "NAME" as the primary column in other printers.

One benefit of "\<TYPE\>" is that the output (if saved or pasted or viewed later) gives a clue about the type.  A downside is that the column width can be much longer - i.e. "SERVICE ACCOUNT".

We should make a decision and be con

[2015-05-19 01:53] razgon opened #8477 "Kubernetes doesn't create a Pod on first API request"
API POST http://localhost/api/v1beta3/namespaces/default/pods
Body:
{"metadata": {"name": "bild-pod","labels": {  "name": "build"}},"spec": {"restartPolicy": "Always","dnsPolicy"
: "ClusterFirst","containers": [{   "name": "build-container", "image": "docker-registry.company.com/build-r3", "ports": [  {"hostPort": 8080,"containerPort": 80,"protocol": "TCP"}],"imagePullPolicy"
: "Always"}]}}

Somet

[2015-05-19 01:53] runningwild opened #8478 "NoDiskConflict() should not reject multiple read-only PD mounts"
Easy to reproduce.  My setup is a single pod (master) and a replication controller (slaves) that should put one pod on each minion.  The master schedules on one machine, N-1 slaves schedule on all other machines, and 1 slave is left in state Pending and the error 'NoDiskConflictNode' shows up on a kubectl describe.

[2015-05-19 02:25] razgon commented on #8477
I've a master and 2 minions. Once each minion runs at least 1 pod (2). 3rd container is always assigned to localhost 127.0.0.1. Can't create more than 2 pods on my cluster with 2 minions. This issue happens only if pods are created with API.

[2015-05-19 02:28] eatnumber1 commented on #5874
My mistake, I'm only using one pod and misunderstood the context of this bug.

[2015-05-19 02:36] jackgr commented on #7122
@lavalamp : Looking at the original list above, there are two items that might want to be done differently...

* Test to verify that go bin data matches the files output by npm install; npm start (i.e., hack/build-ui.sh has been run)
* Test to verify that npm install; npm start has been correctly run (the packaged js/css/html files have been assembled from source)

The concern is totally legitimat