[2015-08-12 14:31] AnanyaKumar commented on #12574
@HaiyangDING I agree. Requests represent the amount of resources that a container needs/wants, so the scheduler should primarily deal with requests. Limits are simply a hard cap, and are not necessarily representative of the work load requirements.

In general, limits should be enforced by the Kubelet, but shouldn't be used for much else. You should probably wait for @davidopp to give the green li

[2015-08-12 14:34] gmarek commented on #12545
With every post I like the GC idea more. We'd have one place which is responsible for removing garbage from the cluster, as otherwise the logic (and definition of 'garbage') will be spread out throughout the system and (probably) very hard to comprehend.

[2015-08-12 14:51] devurandom commented on #11751
The `release-1.0` docs (i.e. https://github.com/GoogleCloudPlatform/kubernetes/blob/release-1.0/docs/getting-started-guides/scratch.md) are still broken.

[2015-08-12 15:25] jdef commented on #11455
closing this out since it's not on our roadmap. rpm packaging should likely be captured in a separate repo anyway.

[2015-08-12 15:25] #11455 closed

[2015-08-12 15:30] jdef commented on #11796
at one point we had discussed the possibility of a hierarchical cloud provider so that you could stack, for example, the mesos provider on top of the gce provider; the goal being to leverage additional gce capabilities while running a k8s-mesos cluster.

it's not clear at this point in time how reasonable such an approach might be. the cloud provider API encompasses a wide range of functionality w

[2015-08-12 15:37] jdef commented on #10943
it looks like the mesos getting started guide has this parameter in the `docker run` command to start etcd. closing this out.

[2015-08-12 15:37] #10943 closed

[2015-08-12 15:41] jimmidyson commented on #11858
While waiting on the PR to Prometheus be merged (next few days), I've been looking at how the metrics are exposed from Kubernetes.

Kubernetes currently embeds cadvisor & lets that register the container metrics with prometheus. Problem is that cadvisor doesn't know about any kubernetes metadata, just docker metadata, so the name label on the metric comes through with the name of the docker contai

[2015-08-12 16:07] jakexks commented on #12459
I'm also seeing this issue on CoreOS stable (723.3.0)

[2015-08-12 16:13] AnanyaKumar commented on #11793
Maybe something along the lines of what @bgrant0607 suggested might work? Have a "scheduler allocator" and a bunch of "schedulers". Each scheduler has a function canSchedulePod(pod) that returns true if the scheduler is responsible for the pod. The scheduler allocator uses the function canSchedulePod(pod) to figure out which scheduler to send the pod to. If canSchedulePod(pod) returns true for mul

[2015-08-12 16:16] AnanyaKumar commented on #10782
\CC me

[2015-08-12 16:29] vallard opened #12587 "Provide OpenStack instructions on the CoreOS cluster configuration"
The file: https://github.com/GoogleCloudPlatform/kubernetes/blob/release-1.0/docs/getting-started-guides/coreos/coreos_multinode_cluster.md has instructions for AWS, GCE, and VMware.  I'd like to see documentation for OpenStack as well.
I'd be happy to do the work for this as I don't think it would take too much time.  I'll add some instructions to this issue if its something that people think wou

[2015-08-12 16:30] #12439 closed

[2015-08-12 16:30] bkeroackdsc opened #12588 "emptyDir Volume sometimes not populated (race condition?)"
I have a pod which consists of two containers, an application "build" container with application code and a "runner" container which executes the application.

In order for the two to share the data, the build container copies over the application code to an ``emptyDir`` volume on startup, which is also mounted in the runner container. The runner container polls for the existence of a magic file i

[2015-08-12 16:49] bgrant0607 commented on #12214
1.8 was announced on the blog today:
https://blog.docker.com/2015/08/docker-1-8-content-trust-toolbox-registry-orchestration/

[2015-08-12 16:59] vishh commented on #11858
#12483 We can update the kubelet to export pod and node metrics, which can also be exported to prometheus.

[2015-08-12 17:02] gmarek commented on #12545
I thought a bit more about it, and indeed Node:Pod relationship is special, as it is the only explicit one I know of, but sadly not the only one when deletions has to cascade down to other objects (another example: Namespaces). IIUC for namespaces we currently have the same problems we have for Pods/Nodes now, i.e. if NamespaceController would die before deleting everything that lives in the delet

[2015-08-12 17:03] jdef commented on #11631
xref https://github.com/mesosphere/kubernetes-mesos/issues/43

[2015-08-12 17:08] sttts commented on #12281
I fear we don't have that (yet). Can you open a feature request for that?

[2015-08-12 17:48] philk commented on #11751
The 1.0.2 and 1.0.3 images are unavailable currently. Is this just not the recommended way to run the various components or is it a build system issue? I notice they're labeled "Pre-release" in github releases but that seems weird for a 1.0.x release based on versioning.md

[2015-08-12 17:49] bgrant0607 commented on #7856
To answer some misc. points above, since I'm writing this into API conventions:

The absence of a condition should be interpreted the same as Unknown for that condition.

Conditions will not be mutually exclusive, in general. That would defeat the purpose, since they would be isomorphic to an enum then.

[2015-08-12 17:53] brendandburns commented on #11751
Generally we wait until we have finished Google Container Engine stability testing before marking a release as "stable" (and I likewise hold off publishing the images until then)

[2015-08-12 17:53] brendandburns commented on #11751
(though I can push them early if that is useful)

[2015-08-12 17:59] philk commented on #11751
I'd say once they're a release (even a pre-release) in Github they should exist. Since there isn't a `latest` tag there's no danger of someone pulling in the wrong image accidentally.

[2015-08-12 18:03] smarterclayton commented on #246
Yeah, would be more composable.

On Wed, Aug 12, 2015 at 12:49 AM, Brian Grant <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-12 18:18] brendandburns commented on #11751
now pushed.

[2015-08-12 18:40] philk commented on #11751
Awesome, thanks!

[2015-08-12 18:41] thockin opened #12596 "kube-proxy: userspace proxier should clean up iptables proxier's mess"
If you switch from iptables back to userspace, all the rules are left behind.

@BenTheElder

[2015-08-12 18:45] BenTheElder commented on #12596
Should be a pretty easy fix though we may have to copy over the chain
parsing or add that back to the iptables package. Thoughts?
On Aug 12, 2015 2:42 PM, "Tim Hockin" <notifications@github.com> wrote:

[2015-08-12 18:46] BenTheElder commented on #12596
Add it back to the util/iptables package*

[2015-08-12 18:46] thockin commented on #12596
Maybe we can get away with just unlinking KUBE-SERVICES from OUTPUT and PREROUTING ?  This is an experimental thing, you can leave a TODO if we keep it long term...

[2015-08-12 18:48] BenTheElder commented on #12596
Ok, sounds good. I'll put out a PR shortly.
On Aug 12, 2015 2:47 PM, "Tim Hockin" <notifications@github.com> wrote:

[2015-08-12 19:06] uluyol opened #12598 "Conversion and deep-copy evolution"
With the introduction of the experimental api prefix, we introduce large amounts of duplicate code for our autogenerated conversions and deep-copy functions. This increases the size of our binaries, and is not elegant. For simplicity, I will only talk about deep-copies, but everything that follows should also apply to conversions. I propose that we eliminate the duplicates as follows:
* We remove

[2015-08-12 19:30] timothysc commented on #11962
2 questions:

1. Do we have a time-horizon on this integration?
2. Given that the change could be destabilizing, do we have a vetting plan, e.g.  (-devel) vs. 1.1? The previous client had a lot of cycles under its belt prior to 1.0, and I would feel far more comfortable putting such changes into a -devel series.

cc @smarterclayton @bgrant0607 @dchen1107

[2015-08-12 19:32] timothysc commented on #7566
FWIW, ^ I didn't do that unassignment, that it said I did...

[2015-08-12 19:50] rastapopulous commented on #12587
I would greatly appreciate any work you can do with this. I've been trying, unsuccessfully, to get the OpenStack integration working.

[2015-08-12 19:58] yujuhong commented on #9883
@lanthias, if 10-15s is the duration of from pod creation to pod termination observed from the apiserver, I have a better explanation for you.

From your log, kubelet actually started the pod pretty quickly and then reported the Running state. However, because kubelet checked the container state for changes every 10s, it'd only discover that the container has terminated after 10s.

We are working

[2015-08-12 20:05] yujuhong commented on #5526
I think we can close this one. Objections?

[2015-08-12 20:08] wwhurley opened #12606 "Accessing etcd container from another container"
I'm able to access etcd from the k8s master on port 4001 but I'm struggling to connect to it from another container using confd. I've tried localhost, the IP address for the k8s master and even the IP addresses listed in the Dns config for docker without any luck. Any suggestions or direction would be appreciated.

[2015-08-12 20:16] quinton-hoole commented on #11215
ping?

[2015-08-12 20:16] yifan-gu commented on #5526
@yujuhong Yes

[2015-08-12 20:42] dchen1107 commented on #11215
test pr #11339 should be rebased and merged.

[2015-08-12 21:04] timstclair commented on #12468
To summarize (is this correct?):
- kube-ui is accessible and works through the <master-ip>/ui endpoint (which redirects to the service proxy <master-ip>/api/v1/proxy/namespaces/kube-system/services/kube-ui/)
- kube-ui is accessible but not functional via the pod IP directly since it attempts to access the API through the base IP (10.10.102.98:37974 in your case)

What is the use case for accessing

[2015-08-12 21:13] preillyme commented on #12468
It's working well in my testing with the proper /ui endpoint. Do you NOT have the service proxy working correctly?

[2015-08-12 21:24] vishh commented on #2903
@dchen1107: Is this required for v1.1?

[2015-08-12 21:24] #12426 closed

[2015-08-12 21:27] #12160 closed

[2015-08-12 21:36] timothysc commented on #12160
@rrati fyi.  We'll need to update prior to PR against 1.1 Experimental on Lock+Lease.

[2015-08-12 21:46] cjcullen commented on #12606
By default, etcd on the master binds to 127.0.0.1:4001, and is configured to use the host's network namespace, so you can reach it at localhost if you are running in the host's network namespace.

From inside a container running in bridge mode (not --net=host), localhost resolves to the namespace of the container, and you can't reach anything listening on the host machine's localhost.

You might b

[2015-08-12 21:54] dchen1107 commented on #9837
1.1: We decide to check cgroup mount status at kubelet boot time, and report NodeNotReady on failed.

[2015-08-12 21:56] nikhiljindal opened #12611 "DisruptionBudget object to define the max disruption that can be caused to pods"
Forked from https://github.com/kubernetes/kubernetes/pull/12236.
@davidopp suggested introducing a DisruptionBudget object in https://github.com/kubernetes/kubernetes/pull/12236#discussion_r36825964:

In Deployment, we are currently using a maxUnavailable field. We can eventually switch to using a DisruptionBudget.

cc @bgrant0607

[2015-08-12 22:05] cjcullen commented on #12579
SERVICE_CLUSTER_IP_RANGE is the virtual IP range that will be used by Kubernetes services, which is managed by kube-proxy on each of your nodes.
FLANNEL_NET is the virtual IP range used for pods/containers. It is managed by flanneld.

As long as neither of those conflict with the IP range that your nodes are using, I think you should be good.

[2015-08-12 22:22] arun-gupta opened #12614 "Kubernetes 1.0.3 does not work with VirtualBox 5.0.0"
Kubernetes 1.0.3 does not work with `Virtual Box 5.0.0 r101573` and gives the following error message:

[code]

Using the `curl` command also gives similar error:

[code]

This is broken!

[2015-08-12 22:26] yujuhong commented on #11234
@vishh, I am assigning this to you since you (sort of) expressed interests in today's meeting. If you are swamped with other issues, feel free to unassign!

[2015-08-12 22:29] derekwaynecarr commented on #12614
What is your host OS?

Does which vagrant and which virtualbox return a result?

On Wednesday, August 12, 2015, Arun Gupta <notifications@github.com> wrote:

[2015-08-12 22:40] a-robinson commented on #12465
I'm sorry, can you be more precise about what you're doing and what you're seeing? I'm having difficulty parsing exactly what your problem is.

However, you should definitely be using `kubectl proxy --www=docs/user-guide/update-demo/local/ &` instead of the one that you listed, as I mentioned in my previous comment.

Also, you should be using `kubectl proxy` from your local machine rather than fro

[2015-08-12 22:43] nikhiljindal opened #12615 "Enhance PodCondition by adding LastTransitionTime, Reason, Message"
Filing this issue to track implementing this TODO: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L829.

We need PodCondition.LastTransitionTime to support AvailableThresholdSeconds (minimum seconds for which the pod should be "ready", before it can be considered "truly ready") as discussed in https://github.com/kubernetes/kubernetes/pull/12236#discussion_r36823378

cc @b

[2015-08-12 22:53] bgrant0607 commented on #12615
Detail: We need to restart the clock for AvailableThresholdSeconds whenever containers restart.

[2015-08-12 22:58] smarterclayton commented on #12545
On Aug 12, 2015, at 1:02 PM, Marek Grabowski <notifications@github.com>
wrote:

I thought a bit more about it, and indeed Node:Pod relationship is special,
as it is the only explicit one I know of, but sadly not the only one when
deletions has to cascade down to other objects (another example:
Namespaces). IIUC for namespaces we currently have the same problems we
have for Pods/Nodes now, i.e. if

[2015-08-12 23:05] satnam6502 opened #12617 "Cluster creation on GCE failed with version error (but cluster seems OK)"
[code]

[2015-08-12 23:08] ghodss commented on #3024
I agree with the rename to ReplicaSet for pretty much every reason Brian listed in https://github.com/kubernetes/kubernetes/issues/3024#issuecomment-69989200. My top personal reasons:

* Everything else in the API is an inert thing (e.g. Pod), not something that actively does something (e.g. ReplicationController). This is further solidified with the choice of Deployment as the object that otherwi

[2015-08-12 23:32] yujuhong opened #12619 "Some thoughts about the pod/container abstraction in kubelet"
This is purely food for thought, as others may not agree and this probably wouldn't be prioritized anytime soon :-)

Kubelet defines [`Pod`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/runtime.go#L117) in the container runtime, which has and a list of [containers](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/runtime.go#L170) and an [`api

[2015-08-12 23:33] dchen1107 commented on #2903
Yes, it is.

[2015-08-12 23:36] arun-gupta commented on #12614
[code]

[2015-08-12 23:57] #5526 closed

[2015-08-13 00:01] arun-gupta commented on #11477
@erictune I never removed my assignment from this issue. Any idea on what might have happened here?

Waiting for #12614 to be fixed before I can verify the instructions.

[2015-08-13 00:06] yujuhong commented on #8305
Closing this issue since #8416 is intended for documentation.

[2015-08-13 00:06] #8305 closed

[2015-08-13 00:11] #10624 closed

[2015-08-13 00:15] #12402 closed

[2015-08-13 00:20] dchen1107 commented on #12090
cc/ @pwittrock

[2015-08-13 00:25] bgrant0607 commented on #2903
Capacity is returned and we have a proposal for usage metrics.

Is there a proposal for allocatable?

[2015-08-13 00:28] yifan-gu commented on #12619
Interesting, I was also thinking about removing the `pod status` from it when viewing your pod lifecycle prototype patch.
Yes, the `runtime.Pod` we have now can be definitely improved. I think the reason it has the `pod status` is because it's "inspired by" the `api.Pod`, (which has a pod status).

[2015-08-13 00:31] yifan-gu commented on #12619
I am working on some other projects this week. But should be able to get back on rkt patches and kubelet refactoring quickly.

[2015-08-13 00:31] dchen1107 commented on #12619
@yujuhong You are very right on this. That ugly abstraction was introduced due to the legacy interface and implementation of rkt then. @yifan-gu maybe now is the time to clean up this?

[2015-08-13 00:47] thockin commented on #3760
Status: the "main" logic is checked in and flag-gated.

I'm working on node ports now.  There are a lot of weirdo cases that need special handling.  My notes so far:

[code]

[2015-08-13 00:48] bgrant0607 commented on #12545
This is getting way off topic, and the discussion will be hard to find once this issue is closed.

Quick comments:

I disagree that we should disallow setting of nodeName. That's intentionally permitted.

Replication controller will need to get smarter about dealing with failures, in general.

I am strongly in favor of a GC component.

Explicit "parent dependencies" proposal: https://github.com/ku

[2015-08-13 00:54] BenTheElder commented on #3760
Been working on a contrib tool for the testing.
So far I'm thinking I'll fire up a server on a node, time latency of
requests to it, see about getting the kube-proxy resource load and dump the
data to CSV for graphing etc.
Hopefully done before Friday, getting more familiar with kubectl right now.

On Wed, Aug 12, 2015 at 8:48 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-08-13 01:13] davidopp commented on #12545
@bgrant0607 Can you describe a scenario where setting of nodeName by an end-user (as opposed to a scheduler) would be useful?

@gmarek The corner case you mentioned here
https://github.com/kubernetes/kubernetes/issues/12545#issuecomment-130241017
is essentially the same as the second one mentioned here
https://github.com/kubernetes/kubernetes/issues/12545#issuecomment-130069562

The way we solved

[2015-08-13 01:20] dalanlan commented on #12468
@timstclair
Exactly. Since I have used https certificates, it's unavailable for me to access it via 8080 without extra work. I was wondering if i can save myself the trouble to configure the certs/key/ca in my web brower, that sort of stuff through the base IP. (Since i'm not familiar with that part and never dig that deep)
It's kinda odd, i'll admit :-)

@preillyme  The proxy is all right. Thank

[2015-08-13 01:26] yujuhong commented on #12506
I am not sure who maintains our gcr.io buckets, and how to get a new one with a compatible name to replace this.  Add @thockin for suggestions (since he touched the Dockerfile).

[2015-08-13 01:26] timstclair commented on #12468
Correct me if I'm wrong, but since the UI needs access to the API it sounds like it's working as intended for an unauthenticated UI connection to be denied access to the authenticated API (for security).

[2015-08-13 01:35] dalanlan commented on #12468
![111](https://cloud.githubusercontent.com/assets/5979704/9240879/6c2ca92e-419e-11e5-8346-86d929ae7fe9.png)

Yet it leads me here via http://10.10.102.98:37974/
And when you click the button, it does send a http request, only a wrong one.
Is this intended?

[2015-08-13 01:46] bgrant0607 commented on #12468
@timothysc is correct.

Eventually we'll have auth policy in the apiserver.

[2015-08-13 01:49] bgrant0607 commented on #12468
cc @kubernetes/kube-ui-maintainers

[2015-08-13 01:52] davidopp commented on #12611
Copying @bgrant0607 's responses to my questions:

Last sentence is an excellent point. I think that policy makes a lot of sense, so maybe we wouldn't want Deployment to ever consult the disruption budget. Anyway, not something we need to decide now.

[2015-08-13 02:09] bgrant0607 commented on #12545
Example for setting nodeName:

User puts data on the host filesystem and then wants to launch a pod to mount it in a volume

Since to the system it would be indistinguishable from the above: user writes something like their own Daemon controller or rack-level controller/scheduler

[2015-08-13 02:23] hookenz commented on #3945
Is this now possible? I'm looking at using kubernetes and would have a mixture of gpu minions and general purpose minions.  Two gpu containers can't share the gpu for resources.  These are dedicated 100% to a single app.

[2015-08-13 02:23] bgrant0607 commented on #11962
What problems would this solve? What performance gain could be expected? What bugs would it fix? Will the existing library be deprecated or deleted at some point?

If we need to make the change in the 1.1 timeframe, earlier would be better. If someone could do that and run all the e2e tests that would help us assess the stability risk.

cc @lavalamp

[2015-08-13 02:24] davidopp commented on #12545
I think the common case is that cluster admins will not want the end-user to be able to override all of the admission controllers and the scheduler, which is what writing nodeName lets you do. Anyway, let me re-phrase my argument to: we need ACLs that allow an admin to deny users the right to write that field *if* that's how they want to configure the cluster. We don't need to hard-code making it

[2015-08-13 03:03] bgrant0607 commented on #12545
I have no problem with making it possible to control writability of nodeName, though I think it's doesn't buy much. Constraints will still be possible and generally override any scheduling heuristics, there's not much difference between pending and failed, we could run feasibility at pod creation as well as for /binding, and Kubelet is the final decider.

I don't see how setting nodeName bypasses

[2015-08-13 03:25] wb14123 opened #12624 "Get 502 [Request Entity Too Large] while add service"
I get this error while add a service:

[code]

Here is the content of `mongo-svc.yaml`:

[code]

And the kube-apiserver log is as this:

[code]

Then when I restart kube-apiserver, I always get this error and the master is not able to start:

[code]

After I stop etcd and cleanup the dir `/infra0.etcd`, kube-apiserver could start again but still cannot add the service.

The versions are:

[code]

[2015-08-13 04:01] Symmetric commented on #3760
@BenTheElder I just did some reasonably detailed network perf measurements on GCE -- I recommend taking a look at netperf (qperf also gives latency measurements).

netperf is a client/server perf tool , I've packaged both the client and the server in the docker container paultiplady/netserver:ubuntu.2. There are lots of options on netperf, but something like spinning up two netserver pods and runn

[2015-08-13 04:19] BenTheElder commented on #3760
Thanks I'll look into that.

From [this comment](
https://github.com/kubernetes/kubernetes/pull/9210#issuecomment-130154261)
though I think we want to do some kind of service request latency. Right
now i've trying using the standard nginx container as node X and working on
having a test pod time hitting it repeatedly so we can build a graph on
node Y.

I'll look at netperf/qperf though, and we can

[2015-08-13 04:28] vishh commented on #12214
https://github.com/docker/docker/pull/15544
On Aug 12, 2015 9:50 AM, "Brian Grant" <notifications@github.com> wrote:

[2015-08-13 05:05] vallard commented on #12587
Ok, I created instructions in this gist: https://gist.github.com/vallard/9583d9e20a3a338dc139  If it looks good to you I'll create a pull request and merge changes in the document after the GCE section (as it appears we're going in Alphabetical order? )

[2015-08-13 05:11] onorua opened #12626 "please support new dockercfg format for private registries support"
I do not know whether you noticed already, but docker changed default format and location for the dockercfg.
Previously it was `$HOME/.dockercfg` right now it's  `$HOME/.docker/config.json` and they slightly changed format:
#### previously
[code]
#### current format
[code]
and kubernetes requires to have "https://" prefix in order to work for old format, while docker doesn't require it, as a resul

[2015-08-13 05:30] davidopp commented on #12545
I agree that for our current default scheduler and Kubelet checks, being able to set nodeName isn't any more powerful than other things you can already do. However, I was envisioning a world where users have custom schedulers that may enforce additional predicates. For example, maybe the scheduler takes a config file specifying groups of dedicated machines and associated users who are allowed to u

[2015-08-13 05:31] thockin commented on #3760
regarding node ports:  In #9210 @Symmetric brought this case:

I have reproduced the problem.  ACK that it is a real problem.  tcpdump shows the packets being DNAT'ed to the (off-machine) pod IP:port, with src intact, but tcpdump on the destination machine does not show anything.  I'm not sure what I would expect to happen even if the packets did get there.

I think the only solution is to SNAT.

[2015-08-13 05:32] erictune commented on #12626
Thanks for the clear explanation.  Would you be interested in sending a patch?

It looks like config file locations are searched in pkg/credentialprovider/config.go in function ReadDockerConfigFile().

Looks like parsing also happens in that file.

And there are tests of json parsing in pkg/credentialprovider/config_test.go.

[2015-08-13 05:32] resouer commented on #12526
[Update] On the other hand, we can set a copyData flag for container, so when mounted with a empty_dir, it will Copy whatever is in the container at the mntToPath to the volume (and neglect the potential  conflicts).

The we don't need dependency and volumes-from any more.

[2015-08-13 05:37] erictune commented on #12587
Sending a PR sounds good.

[2015-08-13 05:55] bgrant0607 commented on #12581
@hurf, could you please take a look?

[2015-08-13 05:57] hurf commented on #12581
@bgrant0607 - Sure, I'll work on it.

[2015-08-13 05:58] bgrant0607 commented on #12581
I think it's because the object printed was generated locally and has no creationTimestamp field:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/expose.go#L208

[2015-08-13 06:12] hurf commented on #12581
I can deal with the situation when creationTimesatamp is null and report AGE as unknown. Aslo consider add the field for local object.

[2015-08-13 06:13] wojtek-t commented on #12598
Regarding benchmars, there are some simple benchmarks here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/deep_copy_test.go
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/conversion_test.go
They are both using not completely artificial data.

[2015-08-13 06:24] uluyol commented on #12598
The main issue with those is that they use types in the api package, and are unlikely to recursively call into Scheme.

[2015-08-13 06:35] #12552 closed

[2015-08-13 06:46] caesarxuchao commented on #12575
Sorry, I'm busy with a PR. I will take a look this week.

[2015-08-13 06:56] roberthbailey commented on #12617
Are your master & nodes still up and running? You should check the logs on the master to see if anything jumps out at you.

[2015-08-13 06:57] amitkgupta commented on #12120
Too hard to get cluster up and configured correctly to assess scaling numbers, giving up for now.  I look forward to:

Thanks for all the help.

[2015-08-13 06:57] #12120 closed

[2015-08-13 07:15] adyanthaya17 commented on #12465
I'll start from the beginning. I have a kubernetes cluster running successfully. I have 3 nodes and I've deployed my minion services on all the three nodes.

$/etc/hosts
127.0.0.1 localhost
20.10.0.x master-minion

$ kubectl get pods
NAME         LABELS                              STATUS
20.10.0.x   kubernetes.io/hostname=20.10.0.x   Ready
20.10.0.y  kubernetes.io/hostname=20.10.0.y   Ready
20.10

[2015-08-13 07:38] #12339 closed

[2015-08-13 07:38] onorua opened #12627 "can you please backport emptyDir 0777 to some 1.0.x release?"
I can see in [blame] (https://github.com/kubernetes/kubernetes/blame/871ca7a05f3aeb0f2324b1d424ae67ada8425486/pkg/volume/empty_dir/empty_dir.go) that July 8 @pmorie did a change to empty dir rights.
I can see history of the tag:
[code]
that it was in August 6.
I can check that latest change in tag v1.0.3 is:
[code]
apparently you do not release 1.0.x from master but from 1.0 branch. When can we ex

[2015-08-13 07:51] snrism opened #12630 "authentication to kubernetes apiserver (vagrant setup)?"
I have a vagrant based kubernetes setup (https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/vagrant.md)

With this, I am able to spin-up/lookup pods, services, rc via kubectl or using ./cluster/kubectl.sh.

Now, I am trying to reach the apiserver in the master node via API calls. As an example, when I use the --insecure option, I can retrieve existing pods/services et

[2015-08-13 07:51] dalanlan commented on #831
/cc @dalanlan

[2015-08-13 08:04] adyanthaya17 commented on #12579
Alright, SERVICE_CLUSTER_IP_RANGE and FLANNEL_NET makes use of virtual IP range, I have a question here.

If my master and minion node has private and public IP of it's own, and if I make use the internal IP to deploy the cluster environment successfully. Will I be able to access the containers in the web browser?

[2015-08-13 08:07] erictune commented on #12447
fyi @mr-salty

[2015-08-13 08:18] #12596 closed

[2015-08-13 08:37] erictune commented on #1957
@naelyn
It has to be possible to upgrade cluster to a version that has background GC and then downgrade back to one that doesn't have it.

So, we might need to do both for 1 minor version, and then turn off TTL in the next minor version.

[2015-08-13 08:44] gmarek opened #12634 "Allow overwrite of the default Kubelet port."
It's also relevant for Scheduler and Controller manager, but somewhat less problematic, as communication from the API server to those two components goes over localhost.

[2015-08-13 08:45] gmarek commented on #12634
cc @davidopp @bgrant0607 @lavalamp @wojtek-t @fgrzadkowski @timothysc

[2015-08-13 09:16] hurf opened #12638 "Print "LABELS" field for resources after "kubectl label" is executed."
After using `kubectl label` command, it will print the resources whose label has been modified, in the form of output of 'get' command. eg:

    $ kubectl label no 127.0.0.1 test=abc --overwrite
    NAME        LABELS                                      STATUS    AGE
    127.0.0.1   kubernetes.io/hostname=127.0.0.1,test=abc   Ready     1h

I think the intension is to show users the label change r

[2015-08-13 09:22] adyanthaya17 commented on #10472
I ran the below command and the output is sa seen

$ curl http://master:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-6lyv4/data.json
{
  "image": "nautilus.jpg"
}

[2015-08-13 09:24] gmarek commented on #12634
I'm running some experiments to check what does not work, when --port in Kubelet is set (i.e. we don't listen on 10250). I'll update this issue with everything I find.

[2015-08-13 09:26] gmarek commented on #12634
Proxy to cadvisor is not working. In "normal" cluster connecting to
[code]
Prints cadvisor data.

If --port in Kubelet is set to something else (I used 10260)
[code]
returns garbage and 10250 is not reachable.

[2015-08-13 09:36] onorua commented on #12626
I would love to, but have 0 go language experience :( any way, it seems not that difficult, will try my best

[2015-08-13 09:37] #12357 closed

[2015-08-13 09:38] adyanthaya17 opened #12639 "View all the containers on one web page"
I ran the below command and the output is as seen:

$ curl http://master:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-6lyv4/data.json
 {
 "image": "nautilus.jpg"
 }

If I use the URL in the browser: http://10.x.x.x:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-6lyv4/data.json
 I get:
{
 "image": "nautilus.jpg"
 }

But when I go to the IP as specified in the docum

[2015-08-13 09:45] gmarek commented on #12634
Previous entry is not really true, as I forgot to put --kubelet-flag in the API server. When I did (i.e. I have --port=10260 in Kubelet and --kubelet-port=10260 in API server). Result is interesting:
[code]
Is completely happy and prints out cadvisor data, while
[code]
returns garbage.

[2015-08-13 09:53] adyanthaya17 commented on #12465
I ran the below command and the output is as seen:

$ curl http://master:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-6lyv4/data.json
 {
 "image": "nautilus.jpg"
 }

If I use the URL in the browser: http://10.x.x.x:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-6lyv4/data.json
 I get:
 {
 "image": "nautilus.jpg"
 }

But when I go to the IP as specified in the docu

[2015-08-13 10:03] gmarek opened #12640 "API server is not restarted during kube-push when flag is changed in the salt manifest file."
I had a cluster running, I changed added the `--kubelet-port` flag, built the binary and pushed in to the running cluster. API server was restarted soon after.

I removed `--kubelet-port` flag, rebuilt the binary and pushed it to the running cluster, but my API server kept running. When I killed it by hand it was started correctly without `--kubelet-port` flag.

My guess would be that we compare w

[2015-08-13 10:07] asdfsx commented on #11544
@antoineco I'm new to kubernets, and I got the same problem.
[code]
and I can not find  'kube-system' in namespace.
[code]
So you mean I should create the kube-system manualy?
If so , how to create a namespace ?

[2015-08-13 11:02] shenshouer opened #12642 "How to dynamically add machine into a kubernetes cluster"
How to dynamically add machine into a kubernetes cluster when the cluster has started?

[2015-08-13 11:40] maulik887 opened #12644 "Kibana doesn't load any data"
Hello, I am trying to add [fluentd-elasticsearch](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch) in my CoreOS cluster. But I end up having this
![2015-08-13_1640](https://cloud.githubusercontent.com/assets/11058364/9248531/1ad70e7a-41da-11e5-9ad7-17556c8ec2c8.png)
Kibana doesn't show anything.

Some info about setup-

**Server Version**:
```version.Info{

[2015-08-13 11:45] maulik887 commented on #12644
Even I also tried ubuntu setup. Which is also giving me same error..

[Ubuntu Setup](https://github.com/kubernetes/kubernetes/tree/master/cluster/ubuntu)

[2015-08-13 11:50] gmarek commented on #12634
Thanks to above behavior `getContainerInfo` from `test/e2e/kubelet_stats.go` works, as it uses the default Kubelet port.

I'm not sure if this is desired behavior, or a bug. Current setup uses a static port on a master as a proxy for Kubelet connection. This has the advantage of being simple, but makes the proxy semantics a bit strage: proxy port X "redirects" to 'real' port Y, while I think we pr

[2015-08-13 12:26] ls42 commented on #12392
I think this should be added to the documentation [here](http://kubernetes.io/v1.0/docs/getting-started-guides/fedora/fedora_ansible_config.html), since it's not mentioned in the `Prerequisites`.

[2015-08-13 12:49] hookenz commented on #3945
Is this now possible? I'm looking at using kubernetes and would have a mixture of gpu minions and general purpose minions.  Two gpu containers can't share the gpu for resources.  These are dedicated 100% to a single app.

[2015-08-13 13:02] erez-rabih opened #12647 "Allow custom EXTRA_DOCKER_OPTS with KUBE_ENABLE_INSECURE_REGISTRY"
I'm working with kubernetes 1.0.1 on AWS.

Currently, the way to specify custom docker options for the docker daemon on the minion machine is to set the EXTRA_DOCKER_OPTS environment variable when raising the cluster.
The problem is that if I also set the KUBE_ENABLE_INSECURE_REGISTRY environment variable it overrides the EXTRA_DOCKER_OPTS here:
https://github.com/kubernetes/kubernetes/blob/v1.0.1

[2015-08-13 13:13] erez-rabih opened #12649 "Bad cluster initialization on AWS when using IAM roles"
When Kubernetes is not given with a AWS_S3_BUCKET it calculates its value with a hash on the aws access key and the user on the system.

When using IAM roles to allow the machine to raise the Kubernetes cluster, the access key is blank.
So Kubernetes actually makes a hash on blank and the user name which is probably ubuntu or ec2-user.
The problem with this is that aws s3 bucket names have to be u

[2015-08-13 13:14] brianlund commented on #12392
Agreed. If I had been more familiar with Ansible I would probably have found the solution faster than I did, but since I am not, it had me puzzled for a bit.

[2015-08-13 13:19] phiri01 commented on #12184
Just a comment on this.  I have been experiencing the same thing, though somewhat inconsistently.  When I followed the instructions in the Getting Started Guide at http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html using the first path, viz.
export KUBERNETES_PROVIDER=vagrant
curl -sS https://get.k8s.io | bash

At the end of this process I experienced similar failures as highlighte

[2015-08-13 13:23] markturansky opened #12650 "Make volume.CanSupport return (bool, error)"
Many volumes have dependencies on a binary being on the node, such as ISCSI, RBD, Gluster, and even GitRepo.   If the binary is not present, CanSupport returns False and gives the user a "No plugins found" error.

A user has a reasonable expectation for, say, RBD to be supported and it requires debugging to understand the binary isn't present.  A better error message would be something like "RBD b

[2015-08-13 13:26] kgrvamsi commented on #12269
Sorry for the late reply and will get back to this issue as i have created another new cluster and i'm watching on its changes

[2015-08-13 13:28] kgrvamsi commented on #12630
Can you post the output or try doing a Get request of nodes with curl ?

[2015-08-13 13:30] jon-shanks opened #12652 "CoreOS 723.3.0 memoryinfo issue hence hits docker memory leak bug"
Hi

Specific versions of coreos don't support the code below, there is no meminfo file on older versions, the version in alpha now (766.0.0) seem to have meminfo but isn't available on older versions hence this fails and it is hitting the docker default memory limit defined in the kubelet container_manager_limit.go of 512mb

--- container_manager_linux.go --------
const (
        // The percent of

[2015-08-13 13:36] kgrvamsi commented on #12579
if this setup is something ur doing it on a cloud provider then internal ip on the brwoser is something which you cannot do but if you are trying to create the cluster on a local network based nodes and if you can ping to those machines then we can get it on the browser if and only if you make the kube-api server running on 0.0.0.0 then u should be getting that request running on a public or priva

[2015-08-13 13:37] jon-shanks commented on #12652
Ignore that, that wasn't the issue, though we are hitting the docker default limit but not sure 100% why yet, i will close and reopen once we have figured it out

[2015-08-13 13:37] #12652 closed

[2015-08-13 13:53] markturansky commented on #12650
We've run into this problem with NFS where "nfs-util" is not installed on the machine.  Debugging to learn of a missed install is not fun.

[2015-08-13 13:55] kgrvamsi opened #12653 "Limit the Nodes to connect to the Cluster"
Hello,

I would like to know how can i limit the Minions to connect to the API server.Is this something at an etcd level i have to do inorder not to add more values on to the Minions key or i need to add some sort of arg when i start the API server.

On the other end would like to know about these args

Kube-Api Server

[code]

For this is this something like you are regulating on the Requests whi

[2015-08-13 14:04] kayrus commented on #12533
Busy node produces following error messages:

[code]

[2015-08-13 14:17] apeeyush commented on #12653
One usecase for this could be if I have set up a cluster on GCE/AWS and want to limit the max. number of instances even if the load is high.

Would love to work on this one if it has not been implemented yet! :)

[2015-08-13 14:18] antoineco commented on #11544
You need to create this namespace beforehand indeed (at least with the default admission control).

Take a look at this: https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-addons/namespace.yaml

[2015-08-13 14:19] ls42 commented on #12392
On a sidenote: Just building is not enough, the platform has to match, too. Of course *cough*. Means building the binaries on Mac OS X and then deploying them via ansible does not work, they have to be built on linux, too.

I built them on the kube-master and the rsync'ed them to my mac host. That worked.

[2015-08-13 14:53] satnam6502 commented on #12617
I've been able to launch pods etc. and everything works as expected. I still have the cluster up -- I'll check the logs when I get a moment.

[2015-08-13 14:55] satnam6502 commented on #12447
@a-robinson @jimmidyson

[2015-08-13 14:57] satnam6502 commented on #12644
Sorry for the hassle -- I'll see if I can understand what is going on although I am not sure I know how to repo given the CoreOS setup.

[2015-08-13 15:17] smarterclayton commented on #12545
Per field policy is hard, @erictune and @liggitt and @deads2k and I have
spent a lot of time thinking about it.  I think we want it, but it's not a
trivial path between here and there.  Until then, admission control or
careful API design is our option.  Today, nodeName can be rejected due to
node selectors, and in OpenShift we implemented a node selector defaulting
mechanism that is the mechanism

[2015-08-13 15:19] wwhurley commented on #12606
Trying to set up a confd nginx proxy to route external requests to the appropriate service. I figured confd would be the easiest solution to get annotations and build out the proxy, since only GKE has a supported external load balancer at the moment.

[2015-08-13 15:21] liggitt commented on #12545
nodeName can only be rejected by nodeSelectors if you let admission do a
lookup (labels != name). currently, if you specify a nodeName that doesn't
match the nodeSelector, the node will actually get the pod definition and
fail on the selector mismatch

On Thu, Aug 13, 2015 at 11:18 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-08-13 15:45] zmsp opened #12660 "Can't interact with service's ip"
Hello, we are running a postgres pod and we are able to connect to it using the minion's ip however we want to couple it with a service. We are running this locally using libvirt VM. Our service validates but doesn't seem to be running correctly. We can't interact with the service ip. Our goal is to use the service's ip to connect to postgresql using psql client.

Here are our codes
Service

[code

[2015-08-13 15:49] zmsp opened #12661 "Can't interact with service's ip"
Hello, we are running a postgres pod and we are able to connect to it using the minion's ip however we want to couple it with a service. We are running this locally using libvirt VM. Our service validates but doesn't seem to be running correctly. We can't interact with the service ip. Our goal is to use the service's ip to connect to postgresql using psql client.

Here are our codes
Service
[code]

[2015-08-13 15:53] gmarek commented on #12545
By Node at one point you probably mean Kubelet, but other than that you're right.

[2015-08-13 16:12] #12212 closed

[2015-08-13 16:20] andronat commented on #11933
Audit is here: ae54c4b

[2015-08-13 16:20] roberthbailey commented on #10472
@adyanthaya17 that output looks correct. Are you still having trouble connecting to the kubectl proxy? If you are running the proxy on a GCE instance, one option would be to poke a hole in your GCE firewall for the proxy port (by default 8001) on that instance and then point your web browser at `http://<external-ip>:8001/static` to see the demo UI.

[2015-08-13 16:22] jimmidyson commented on #12447
There are 2 problems with streaming with this setup, both related to Elasticsearch.

1. Persisting logs will have to be batched (bulk API) for performance.
2. Elasticsearch does not support streaming results so will have to be implemented with polling.

Both of these will give a bit of a clunky UX. Streaming will be jerky at best. I don't consider streaming from Elasticsearch storage to be a good

[2015-08-13 16:23] arun-gupta commented on #12614
This is blocking from starting up Kubernetes cluster. Any ETA for this fix?

[2015-08-13 16:24] roberthbailey commented on #10472
I'm going to close this in favor of continuing the discussion on your more recent issue (https://github.com/kubernetes/kubernetes/issues/12465).

[2015-08-13 16:24] #10472 closed

[2015-08-13 16:26] proppy opened #12663 "contrib/podex: update to kubernetes v1 and registry v2"
See https://github.com/kubernetes/kubernetes/pull/11693#issuecomment-128889120

[2015-08-13 16:27] roberthbailey commented on #12642
Any kubelet that has the correct flags will join the cluster. The kubelet needs to know where the apiserver is and have valid client credentials to register itself into the cluster. In general, you can accomplish this by cloning an existing machine's configuration.

On GCE / GKE, you can increase the size of the managed instance group that backs the cluster and the new VMs will be automatically ad

[2015-08-13 16:30] thockin commented on #12627
I'm ok with cherry-picking this into 1.0.x

@zmerlynn arguments?

On Thu, Aug 13, 2015 at 12:39 AM, onorua <notifications@github.com> wrote:

[2015-08-13 16:30] ae6rt opened #12664 "The secrets user guide uses the word automatic too freely"
Based on this thread

https://groups.google.com/d/msg/google-containers/VTc3EQLv9R0/6MPmOtlgAQAJ

the secrets user guide may use the word 'automatic' too freely.  Not all secrets in a namespace are automatically mounted in a same-namespace pod, and the user-guide should make this clear, or at least avoid implying it.

[2015-08-13 16:31] thockin commented on #12624
Uh oh.  @smarterclayton @justinsb

On Wed, Aug 12, 2015 at 8:25 PM, Bin Wang <notifications@github.com> wrote:

[2015-08-13 16:37] erictune opened #12665 "automatically configuring HAProxy"
@jjfiguep wrote in another issue :
----
Hi,

First of all, this is my first comment in GitHub and sorry if this is not the correct place.

In previous comments it is discussed the possibility to use Kubernetes and HAProxy. Also it is commented the option to periodically detect new services and update haproxy config file.
This is just my problem, I´m using NodePort to expose the services to interne

[2015-08-13 16:37] erictune commented on #12665
@jjfiguep

[2015-08-13 16:38] erictune commented on #9673
@jjfiguep Your question is better asked in a new issue.  I've copied it to #12665

[2015-08-13 16:40] jimmidyson commented on #11710
@philips Do you mean the read-only kubelet port (10255 by default IIRC)? If so, then we really need to disable this & provide authorisation options on the kubelet to be able to retrieve stats fro the kubelet via the normal port with a restricted token/cert/auth options. We've discussed this for OpenShift (openshift/origin#3020) too.

[2015-08-13 16:41] brendandburns commented on #12664
@erictune can you take a look at that doc and see about making sure it is correct wrt 'automatic'

Thanks!

[2015-08-13 16:45] erictune commented on #12665
@bprashanth this user wants to use haproxy as a "bare metal load balancer", if I understand correctly.
Is https://github.com/kubernetes/kubernetes/pull/11679/files the right thing?

[2015-08-13 16:45] jimmidyson commented on #11710
@philips Sorry I didn't realise that cadvisor was bound to port 4194 as well. Thought this was all embedded inside the kubelet process without exposing any ports.

[2015-08-13 16:46] erictune commented on #12665
@jjfiguep take a look at https://github.com/kubernetes/kubernetes/blob/master/contrib/service-loadbalancer/README.md and see if that answers some of your questions.

[2015-08-13 16:46] preillyme opened #12666 "Remove the "www" and "third-party ui" directories from kubernetes repository"
Remove [www](https://github.com/kubernetes/kubernetes/tree/master/www) and [third-party](https://github.com/kubernetes/kubernetes/tree/master/third_party/ui/bower_components) from kubernetes repository.

This code now lives in the [kube-ui](https://github.com/kubernetes/kube-ui) repository.

[2015-08-13 16:49] zmsp commented on #12661
Please reply here accidentally duplicated.
https://github.com/kubernetes/kubernetes/issues/12660

[2015-08-13 16:49] #12661 closed

[2015-08-13 16:53] dchen1107 commented on #4057
I am closing this one as dup of #12483

[2015-08-13 16:53] #4057 closed

[2015-08-13 16:57] deads2k opened #12668 "Flag retrieval causes system exit"
Helper methods for flag retrieval are now causing system exits.  This prevents any reasonable error handling for missing flag conditions.  See here for an example: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/helpers.go#L211

[2015-08-13 16:59] erictune commented on #499
@mattma I think it is possible that the pod template and RC aren't being created the way you think they are.  Would you please follow the steps in https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/user-guide/application-troubleshooting.md#my-pod-is-running-but-not-doing-what-i-told-it-to-do and see if that fixes it?  If that still doesn't help, please post the exact RC yaml or json th

[2015-08-13 17:02] jimmidyson commented on #11710
@vmarmol @vishh Any reason why we start up cadvisor http server at all? https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_linux.go#L99-L103 Seems unnecessary now kubernetes embeds cadvisor & exposes via `/stats` & `/metrics`?

[2015-08-13 17:06] vishh commented on #11710
`/stats` does not expose all the containers (`/docker-daemon`, `/kubelet`, etc). @mvdan is working on introducing a better stats API in kubelet (#12483) that should help us shut down cadvisor's http server in kubelet.

[2015-08-13 17:08] jimmidyson commented on #11710
Couldn't we just add cadvisor as a handler in the kubelet anyway? No need for separate http server & would mean access to raw data is available if anyone wants it.

[2015-08-13 17:08] maulik887 commented on #12644
Thank you for your help satnam, You can refer to above ubuntu setup or can use master & node.yaml mentioned [here](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md) to bring up CoreOS setup using vagrant & virtual box (what I have). You might end up having same issue. One thing to add here, in my coreos setup I manually create elas

[2015-08-13 17:10] zmerlynn commented on #12627
#9384? It would defiantly be a behavioral change for a patch release, so I think it's past the bar.

[2015-08-13 17:11] krousey commented on #11953
I just spot checked a search. It seems the titles are fixed now.

[2015-08-13 17:11] #11953 closed

[2015-08-13 17:11] kgrvamsi commented on #12653
@apeeyush  Limit to the Max is good to have when u predict the workload on to the cluster but handling the situation basedupon the load is something which comes at a dynamic cluster model.but still it can be useful to have

[2015-08-13 17:11] mattma commented on #499
@erictune Thank you for the tips. I will give it a try.

I have started a [open source project](https://github.com/mattma/coreos-distro) to launch `kubernetes` with `fleet` `unit-files`. If you follow the README section, you should have a `kubernete` cluster setup in one minute.

I currently have an [issue or question](https://github.com/mattma/coreos-distro/issues/6) whether Docker landed in `fla

[2015-08-13 17:13] vishh commented on #11710
Indeed that is an option. But we need a better stats API in kubelet anyways for reasons mentioned in #12483.

[2015-08-13 17:14] jimmidyson commented on #11710
Absolutely agree but thinking quick win.

[2015-08-13 17:21] arun-gupta commented on #12614
Downgraded to Docker 1.7.0 as:

curl -sSL -O https://get.docker.com/builds/Darwin/x86_64/docker-1.7.0 && chmod +x docker-1.7.0 && sudo mv docker-1.7.0 /usr/local/bin/docker

and VirtualBox to 4.3.30.

And now its going beyond this error!

[2015-08-13 17:24] danielschonfeld opened #12670 "If image download fails, kubelet is never able to spawn the pod"
As the title suggest, if for some reason docker ran into trouble pulling the image (could happen on private registries where all nodes are trying to pull a big  image at once), resulting in `docker images` showing the size of the image as `0 bytes` causes kubelet to be stuck in an infinite loop of trying to start the pod and failing with the following **docker** generated error:

[code]

And this

[2015-08-13 17:24] snrism commented on #12630
@kgrvamsi :With the --insecure option (curl --user vagrant:vagrant --insecure https://10.245.1.2/api/v1/nodes), I get the minion-1 node's full info:
{
  "kind": "NodeList",
  "apiVersion": "v1",
  "metadata": {
    "selfLink": "/api/v1/nodes",
    "resourceVersion": "15018"
  },
  "items": [
    {
      "metadata": {
        "name": "10.245.1.3",
        "selfLink": "/api/v1/nodes/10.245.1.3",

[2015-08-13 17:29] brendandburns commented on #12670
Assigning to @dchen1107 for triage in the node team.

I think we can detect if Docker says the image is present, but the image fails to run, we can declare the image "corrupt" and remove it.

[2015-08-13 17:46] Symmetric commented on #3760
You could make the netserver pod a service, so that traffic from perf <->
server is going via the service VIP. That way you don't have to do the
sampling/latency calculations yourself...

On Wed, Aug 12, 2015 at 9:20 PM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-13 17:51] brendandburns commented on #12660
Can you run `iptables-save` and print what you see.

Is the `kube-proxy` binary running?

[2015-08-13 17:53] brendandburns commented on #12653
@apeeyush I don't think we currently have a limit in the apiserver.  Seems like a reasonable thing to add.

You can prevent nodes with invalid keys from joining, but you can't set a hard limit.

[2015-08-13 17:54] brendandburns commented on #12650
@markturansky can you add labels and priority?

[2015-08-13 17:56] brendandburns commented on #12649
Seems possible.  The goal in having the hash was to make the bucket consistent across different cluster turn-ups, so that each user would create N different buckets for each cluster they turned up.

But I'd be happy to see a PR that tested for empty string, and then fell back to just using basic randomness.

Thanks!
--brendan

[2015-08-13 17:57] brendandburns commented on #12647
That seems like a bug, we should append, not overwrite.  Send a PR?

[2015-08-13 17:58] markturansky commented on #12650
@brendandburns I don't think so or I just don't know where those options are in the UI.

[2015-08-13 17:59] brendandburns commented on #12639
you need to run `kubectl proxy ...` that will start a local webserver that proxies all machines.

[2015-08-13 17:59] #12639 closed

[2015-08-13 18:00] erictune commented on #12606
GKE and many of the Getting-started-guides treat etcd as private to apiserver.  There are a couple of reasons for this:
1.  To allow control over which etcd version is used with apiserver. (the one we performance and correctness tested)
1. Secrets are currently kept in plaintext in etcd, so you need to limit etcd access to trusted parties. This is awkward when etcd is shared by several uses. (This

[2015-08-13 18:01] BenTheElder commented on #3760
True. I think @thockin mentioned eventually wanting an e2e latency test as
well. Time permitting there will be a number of different tests and we'll
probably have to account for gce vs AWS  etc.
On Aug 13, 2015 1:47 PM, "Paul Tiplady" <notifications@github.com> wrote:

[2015-08-13 18:01] derekwaynecarr commented on #12630
You are calling the wrong endpoint to do create.

When you call

get /api/v1/pods

You are getting pods across all namespaces.

To create a pod, you must specify the namespace:

Post /api/v1/namespaces/default/pods

So in this case you are creating a pod in the default namespace.

On Thursday, August 13, 2015, Sriram Natarajan <notifications@github.com>
wrote:

[2015-08-13 18:03] derekwaynecarr commented on #12630
Closing issue since calling invalid endpoint and prior reply should unblock.

You can see what API calls kubectl makes by setting a log level which may help as well.

[2015-08-13 18:03] #12630 closed

[2015-08-13 18:03] amygdala opened #12673 "Typo in cassandra example?"
Here:
https://github.com/kubernetes/kubernetes/blob/master/examples/cassandra/README.md#simple-single-pod-cassandra-node
and here:
https://github.com/kubernetes/kubernetes/blob/master/examples/cassandra/cassandra-controller.yaml
the cpu info in the rc spec: 'cpu: 0.1'
doesn't match with the text: 'Finally, we tell the cluster manager that we need 0.5 cpu (0.5 core).'

[2015-08-13 18:04] derekwaynecarr commented on #12614
Can this issue now be closed?

[2015-08-13 18:05] adamjcook opened #12674 "Wrong path to Kubernetes binaries provided to user after successful cluster turnup"
The following message is shown after running `export KUBERNETES_PROVIDER=aws; curl -sS https://get.k8s.io | bash` to turnup a cluster on AWS:

[code]

However, there is no directory `/Users/myname/kubernetes/kubernetes/cluster/` created by the script. I think that what is meant is just `/Users/myname/kubernetes/cluster/`.

I am just getting started with looking at Kubernetes, but I can certainly p

[2015-08-13 18:07] rootfs commented on #12650
@markturansky probably you need write permission

[2015-08-13 18:14] arun-gupta commented on #12614
Getting stuck in minion validating loop now ...

[code]

Tried shutting down the cluster, untarring the archive, starting again, and same result.

Falling back to something before 1.0.3.

[2015-08-13 18:24] roberthbailey commented on #12617
I got the same error turning up a cluster this morning.

[2015-08-13 18:26] arun-gupta commented on #12614
Kubernetes 1.0.1 with Virtual Box 4.3.30 works. So the bug is still valid for the following configurations:

- Kubernetes 1.0.3 with Virtual Box 4.3.30
- Kubernetes x.x.x with Virtual Box 5.0.0

[2015-08-13 18:30] kgrvamsi commented on #12653
@brendandburns  can you please help me out with other information which i'm looking out for apart from the Max Limit?

[2015-08-13 18:30] roberthbailey commented on #12617
I may have inadvertently broken this in https://github.com/kubernetes/kubernetes/pull/12349

[2015-08-13 18:38] mattma commented on #499
[code]

My `rc` file is posted above which is the full version. I am sure it is related to the `secret`. How do I add a `service account`?

[2015-08-13 19:14] snrism commented on #12630
@derekwaynecarr thanks for the pointer. that works..

[2015-08-13 19:14] bgrant0607 commented on #11234
cc @nikhiljindal

[2015-08-13 20:05] mcbain opened #12680 "rolling-update (1.0.3): v2 rc cannot have same name as v1 rc"
I want to keep the name of the rc. This currently only work when using a --image replacement:
[code]

This does not work.
[code]

Versionize the rc-name e.g. demo-v2 does not really make sense to me, since it must be specified as 'from' in the rolling-update command. Say, although the current version is v5, no one knows whether to use v4 or - due an error before - v3 or even both?!

Any ideas?

rc

[2015-08-13 20:22] erez-rabih commented on #12647
Just noticed that we're overriding the options in another place which has nothing with KUBE_ENABLE_INSECURE_REGISTRY:
https://github.com/kubernetes/kubernetes/blob/v1.0.1/cluster/vagrant/config-default.sh#L74

I think about adding `EXTRA_DOCKER_OPTS="${EXTRA_DOCKER_OPTS:-}"` to all of the default configurations (gce, aws, vagrant) and then append as needed.

[2015-08-13 20:23] kgrvamsi opened #12681 "High-Availability Examples Page Returns 404 Page Not Found"
Error to Reproduce

Got to http://kubernetes.io/v1.0/docs/admin/high-availability.html

Click on the here button in the Vagrant Section

Link: http://kubernetes.io/v1.0/examples/high-availability/

[2015-08-13 20:24] BenTheElder opened #12682 "Test pure iptables proxy vs userspace proxy."
I/we need to test the new iptables proxy's performance vs the old userspace one.
Previous discussion: https://github.com/kubernetes/kubernetes/pull/9210#issuecomment-130154261 and https://github.com/kubernetes/kubernetes/issues/3760#issuecomment-130493058.

I've been working on a PR for this, so I'm just opening the issue as a seperate space to discuss it.

/cc @thockin @Symmetric

[2015-08-13 20:25] BenTheElder commented on #12682
@Symmetric I've been playing around with your netserver image, and netperf doesn't seem to be in the path?

[2015-08-13 20:26] roberthbailey commented on #12653
If we are going to start applying policies to allow / disallow nodes to join a cluster, I'd like us to move in the direction of supporting dynamic clustering (as described in [clustering.md](https://github.com/kubernetes/kubernetes/blob/master/docs/design/clustering.md#dynamic-clustering)). Even if we don't have the apiserver signing certificates yet, we could start implementing the "admin manuall

[2015-08-13 20:27] BenTheElder commented on #12682
Hmm, I think I've gotten something wrong in my kubectl call. That really doesn't make sense.
Sorry for the noise @Symmetric, I'll report back here when I figure it out.

[2015-08-13 20:29] nikhiljindal commented on #11234
@vishh I can take this up if you havent started working on it.
I need it for Deployment https://github.com/kubernetes/kubernetes/pull/12236.
There are a few other changes I need to make to the Ready PodCondition. I can make all of them together.

[2015-08-13 20:40] BenTheElder commented on #12682
Figured it out, I didn't have my args split up properly. Should have something working soon.

[2015-08-13 20:56] #5581 closed

[2015-08-13 21:19] timothysc commented on #11962
@bgrant0607 The key issue of interest is the thread safety issue outlined in #7566 .
This effects HA, and read-perf in a HA env.

[2015-08-13 21:20] zmsp commented on #12660
Hi, I am not sure what to look for to see if kube-proxy is running. Does it suppose to run on host or master? I followed instructions on this [page](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/libvirt-coreos.md)
[code]

[2015-08-13 21:27] dchen1107 opened #12686 "Using docker run --group-add to track container disk usage through disk quota"
Docker 1.8 introduces a new option --group-add to run command: https://docs.docker.com/reference/commandline/run/

We could use this to add another supplementary gid to the processes of a container, so that we can track the disk usage of a container easily through disk quota.

cc/ @vishh @bgrant0607

[2015-08-13 21:29] BenTheElder commented on #12682
@thockin mostly-automated netperf tests are working now, just need to parse the results and tidy things up. Will open a PR and post data in a bit, heading out for dinner.

[2015-08-13 21:31] BenTheElder commented on #3760
@Symmetric the netperf tests are working nicely. Thanks for the suggestion :-)

I'd like to revist test for a "real" load like a  web-service later possibly, but after getting the args right, it's giving very nice data so far. I'll post results later when I'm finished cleaning things up.

[2015-08-13 21:31] smarterclayton commented on #12413
[code]

Except OpenShift is really going to be:

[code]

The translate function is going to be kind of ugly too - that's something we can manage on our server based on legacy support without necessarily it having to cross over into the server codebase, and in our client code it's really something you should discover from the server, not make up on your.

I guess I keep circling back to what the gr

[2015-08-13 21:39] jackgr commented on #1702
Picking up this thread...

I'm thinking that the implementation of apply won't use strategic merge patch. Strategic merge patch is only required, it seems, when the user specifies just the incremental changes they want to make to a given list in the new desired configuration (i.e., additions, deletions and replacements of list elements). For apply, however, the user completely specifies all struct

[2015-08-13 22:12] zmsp commented on #12660
My understanding is that service works like a proxy allowing you to connect to pod without knowing what host the pod is on. So I should be able to use service's ip to connect to psql (postgres client). Right now I can use the minion's ip where the pod is running to connect to connect to psql. But I want to be able to have a static ip for the postgres server

[2015-08-13 22:25] dchen1107 opened #12689 "Fix service e2e test on ubuntu node by using initctl"
pr #12506 introduces run kubernetes node on GCE with Ubuntu. e2e service test failed because test code uses init.d restart kube-proxy, instead of initctl.

cc/ @andyzheng0831

[2015-08-13 22:27] RichieEscarez opened #12690 "Update the versionize-docs.sh script to process the types_swagger_doc.go file"
The [versionize-docs.sh script](https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Fkubernetes%2Fkubernetes%2Fblob%2Fmaster%2Fbuild%2Fversionize-docs.sh&sa=D&sntz=1&usg=AFQjCNFvneV33AbecKPiXdysx8otECI04g) needs to be updated so that it processes this new doc before it gets moved/published to gh-pages so that urls that point to HEAD get redirected so that they instead to point to the correspond

[2015-08-13 22:32] yujuhong opened #12691 "kubelet should only trigger relevant pod workers for pod spec changes"
Currently, kubelet receive a set of desired pods through the update channel, and blindly triggers all pod workers to sync as well as performing global cleanup. This is inefficient because a single pod change would engage N workers (goroutines), assuming there are N desired pods. Each worker performs a series inspection which swamps Docker, slowing down the reaction to the actual pod change. I did

[2015-08-13 22:38] yujuhong commented on #12691
/cc @vishh

FYI, we are merging graceful termination #9165 soon, which will shift the responsibility of killing containers a bit.

Difference:

Graceful deletion:
   1. receives a pod spec change (UPDATE), delegate to the corresponding pod worker
   2. pod worker kills the pod/containers

Non-graceful deletion:
   1. receives a REMOVE change
   2. let the cleanup routine kill the pod/containers

[2015-08-13 22:40] JanetKuo commented on #11718
This should be fixed in #12094.

[2015-08-13 22:40] #11718 closed

[2015-08-13 22:42] yujuhong commented on #12691
This is part of #12540

[2015-08-13 22:51] thockin-cc commented on #12660
That iptables dump shows no kube-proxy.  Was it from a node (not the
master)?  Is kube-proxy running?
On Aug 13, 2015 3:13 PM, "Zobair" <notifications@github.com> wrote:

[2015-08-13 22:52] Symmetric commented on #3760
Glad to hear that's working for you -- there are a bewildering number of
options on that tool, but it has proven very useful for my profiling work.
Definitely better than iperf...

On Thu, Aug 13, 2015 at 2:32 PM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-13 23:10] arun-gupta opened #12692 "KubeUI not loading up"
Started a Kubernetes 1.0.1 cluster using VirtualBox 4.3.30. Everything started correctly as:

[code]

Accessing KubeUI at https://10.245.1.2/api/v1/proxy/namespaces/kube-system/services/kube-ui prompts for username/password and entered vagrant/vagrant. But the browser keeps waiting for a response and does not show any response.

[2015-08-13 23:14] yujuhong commented on #12619
Good to know that we're on the same page!

Sounds good. I will work on converting my proposal to a more concise github PR with sub-issues, and see if you are interested in taking on any of those. We should touch base sometime next week.

I think we need to clean this up before adding a generic runtime pod cache from my proposal. It'd certainly make things a lot easier :)

[2015-08-13 23:31] brendandburns commented on #12681
Correct link is here:

https://github.com/kubernetes/kubernetes/tree/master/examples/high-availability

Will get it fixed on kubernetes.io.

Thanks for the report.

[2015-08-13 23:36] asridharan commented on #12459
Some more data on this:
* Ran the hyperkube proxy container with debug level logs. Got the following output
[code]

Wanted to see why the iptables command was throwing an error, so started the hyperkube proxy container in bash mode, and ran the commands individually:
[code]

Looks like the last command insert is cribbing cause there are no rules in the KUBE-PORTALS-CONTAINER chain ?? So should the

[2015-08-13 23:50] yifan-gu commented on #12619
@yujuhong Thank you! More than happy to help as I am back working on rkt fixes now, and would like to take the chance to refactor and clean up those history problems :)

[2015-08-14 00:04] wb14123 commented on #12624
This happens when I define many services (not so many, just about 5 ~ 6 services).

[2015-08-14 00:11] bgrant0607 commented on #11962
Someone just needs to try it and run all of our e2e tests and benchmarks.

[2015-08-14 00:24] caesarxuchao commented on #12413
https://someotherserver.somewhere/oapi/v1

You are right. I changed my design to keep the openshift API URL. Here is the new design:
URL will be APIPrefix/group/version/...
* for api/v1, we set the APIPrefix="api", group="", version="v1", so the URL is api/v1
* for experimental api, we set the APIPrefix="kube-api" (the exact name is open to discussion), group="experimental", version="v1alpha1", so

[2015-08-14 00:35] bgrant0607 commented on #12680
Working as intended. You're rolling to a new RC, which needs a new name. Just name the new RC demo-v2. Or, you could do what rolling-update --image does, which is delete the demo-v2 RC after the rolling-update completes (with kubectl delete rc demo-v2 --cascade=false) and recreate it with the old name.

[2015-08-14 00:37] bgrant0607 commented on #12680
BTW, you may be interested that we're working on a rolling-update service (called Deployment), which will allow you to declaratively update your pod template and the system will take care of the rollout.

[2015-08-14 00:40] bgrant0607 commented on #12638
My opinion is that we should not be printing resource details after these kinds of commands. We should just print a short message similar to other mutations.

[2015-08-14 00:41] bgrant0607 commented on #12638
See my comment here: https://github.com/kubernetes/kubernetes/issues/5906#issuecomment-117832140

[2015-08-14 00:49] hurf commented on #12638
OK, I'll read the related issue and work on it.

[2015-08-14 00:52] adyanthaya17 commented on #12639
I did run the kubectl proxy on my node that has both master and minion, that looks like this:
$kubectl proxy --www=examples/update-demo/local/ &
Starting to serve on localhost:8001

[2015-08-14 00:53] dalanlan commented on #12455
@HardikDR
#11951 has been merged earlier. FYI.

[2015-08-14 00:53] adyanthaya17 commented on #12465
@roberthbailey I did run the kubectl proxy on my node that has both master and minion, that looks like this:

$kubectl proxy --www=examples/update-demo/local/ &
Starting to serve on localhost:8001

[2015-08-14 00:59] adyanthaya17 commented on #12579
I did deploy my cluster on a cloud provider with an internal IP and I'm able to get the webpage for a single container using the public IP as in:
http://10.x.x.x:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-6lyv4/data.json

I have two nodes-one set as master and minion while another set as a second minion node. The minion nodes run kubectl proxy.

For one of the application examp

[2015-08-14 01:15] ntquyen commented on #5699
I'm getting the same error at when calling ./cluster/kube-up.sh:

[code]

The master is up, but the minion-1 is not. There's no log in master:
[code]

[2015-08-14 01:49] Symmetric commented on #3760
@thockin I think we can live with SNAT for LB traffic. My current thinking is that you'll need to specify a pod's access policy as one of:

* default is 'allow from [my namespace]', in which case LB packets are dropped
* 'allow from [list of namespaces]', or 'allow from [all namespaces in the cluster]', again LB packets are always dropped
* 'allow from all', in which case we don't care if it's fro

[2015-08-14 01:58] bgrant0607 commented on #1702
@jackgr Not correct. Original discussion was in #4889.

The user's configs do not reflect the full desired state. Examples: the nodeName field of a pod, clusterIP field of a service, replicas for an auto-scaled replication controller, cpu and memory of a pod initialized by a LimitRange, fields with default values, esp. those that differ between API versions (e.g., replicas for RC), etc.

The user

[2015-08-14 02:09] hurf opened #12698 "Probe can not visit port by name"
When using probe, define the port by number, it works. But if the port is defined by name like below, it doesn't work.

    containers:
      - name: nginx
        image: nginx
        ports:
          - name: testport
            containerPort: 80
        livenessProbe:
          httpGet:
            path: /index.html
            port: testport

it seems [findPortByName](https://github.com/kubern

[2015-08-14 02:10] MikaelCluseau commented on #3760
As a safety mesure, it could be very useful to actually include a flag to proxy to MASQUERADE everything (acting very close to a userspace proxy). I think it's not very hard to do and a very good way to diagnose or even fallback in case of problem (I'm thinking about vxlan cases).

-------- Message d'origine --------
De : Paul Tiplady <notifications@github.com>
Date : 14/08/2015  12:50  (GMT+11:00

[2015-08-14 02:43] feihujiang commented on #10555
/sub

[2015-08-14 02:47] shenshouer commented on #12642
thanks! I will try it!

[2015-08-14 02:54] feihujiang commented on #11210
@marekbiskup Is there anyone to work on this? If not, I'd like to work on this next week. And another question, Does it need kubectl list (pods/replication/controllers) --watch too?

[2015-08-14 03:05] shenshouer commented on #5706
I have the same issue. and no banned by Chinese GFW.
I execute go get golang.org/x/tools/cmd/cover on my local pc, and report as follow:
go install golang.org/x/tools/cmd/cover: open /usr/local/go/pkg/tool/darwin_amd64/cover: permission denied
So I think the problem is golang.org/x/tools/cmd/cover is moved. and integration to installer.
But how to resolve this issue?

[2015-08-14 03:22] bgrant0607 commented on #11210
cc @ghodss, who had an opinion on aliases

[2015-08-14 03:27] ghodss commented on #11210
I prefer this approach, as outlined in https://github.com/kubernetes/kubernetes/issues/8319#issuecomment-103994174. Currently we have only one way for all commands (except for explicitly deprecated aliases) and I think that's a very envious place to be, and one we should not give up lightly. However, git does have a very nice feature where an individual user can create [their own aliases for comma

[2015-08-14 03:30] smarterclayton commented on #12691
One thing to check on non-graceful deletion - it will still be possible for a pod to get deleted without a corresponding update to metadata.terminationGracePeriodSeconds.  We will record spec.terminationGracePeriodSeconds into the container metadata, but we should be sure we still go through the graceful path even if we get a pure etcd delete (no graceful from the server).  We should only  kill co

[2015-08-14 03:31] roberthbailey commented on #12465
The proxy functionality will only accept connections from localhost (see https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/proxy_server.go#L183).

That means that you need to a) run your web browser on the same machine as the proxy, b) create an ssh tunnel to forward packets from your machine to the machine running the proxy, or c) run the proxy on the same machine as your web brows

[2015-08-14 03:32] smarterclayton opened #12701 "Document graceful deletion"
With #9165 merging the docs need to be updated to reflect the impact.

[2015-08-14 03:34] bgrant0607 commented on #4825
How would the hostname of the host be determined?

[2015-08-14 03:51] bjlee72 opened #12703 "kubectl get pods --namespace=kube-system works, but the UI does not show anything"
Symptoms:

* kubectl get pods --namespace=kube-system works, but the UI does not show anything.
* kubectl get rc --namespace=kube-system works, but the UI shows nothing
* kubectl get services --namespace=kube-system shows kube-dns and kube-ui as services, but in the UI, only 'kubernetes' is displayed as a service
* kubectl get events --namespace=kube-system shows a lot of events (as follows), but

[2015-08-14 04:44] BenTheElder commented on #12682
Here's a sample of plotting (in libre-office) some of the csv export data from my netperf test tool running with the userspace proxy on a vagrant cluster on my laptop.
![test_graph](https://cloud.githubusercontent.com/assets/917931/9267429/ee96acc4-421c-11e5-9ded-73c2b600387b.png)
It still needs work, but it's gotten very late on me and I have to get up and move in tomorrow.
I'll push my current c

[2015-08-14 04:49] BenTheElder commented on #12682
Code is here: https://github.com/BenTheElder/kubernetes/tree/kube-proxy_test

[2015-08-14 05:34] brendandburns commented on #12400
@eparis

[2015-08-14 05:42] bgrant0607 commented on #12703
cc @kubernetes/kube-ui-maintainers

[2015-08-14 05:43] bgrant0607 commented on #12692
cc @kubernetes/kube-ui-maintainers

[2015-08-14 05:53] kgrvamsi commented on #12579
[code]
Can you check with netstat -vpln whether there is any port running on 8001 and can you send me the output from the server which you ran that command using curl

[code]

If the Port is running globally then you may need to open it on the web browser with the Public Ip but not with the locahost.

[2015-08-14 05:58] kgrvamsi commented on #12653
@roberthbailey  I see the document for the Dynamic Clustering and is this bootstrap API part of the API server now or is it a proposal?If it is already there then there are not API functions mentioned about this here http://kubernetes.io/third_party/swagger-ui/ and If not then this bootstrap api will be a separate component to run on every API Server or it will be globally hosted somehwere.

[2015-08-14 06:00] #6797 closed

[2015-08-14 06:14] marekbiskup commented on #11210
@ghodss, I also think this is a better approach. I suggest closing this issue and opening another one for config-based aliases.

[2015-08-14 06:19] jszczepkowski opened #12709 "e2e scheduler_predicates tests are failing"
The following test cases of scheduler_predicate test are failing on jenkins:
- SchedulerPredicates validates that NodeSelector is respected.
- SchedulerPredicates validates MaxPods limit number of pods that are allowed to run.
- SchedulerPredicates validates resource limits of pods that are allowed to run.

Please see:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-g

[2015-08-14 06:22] jszczepkowski commented on #12709
These tests are part of critical build, we should either fix them or rollback the PR which introduced them (#11151).

[2015-08-14 06:27] bgrant0607 commented on #12653
cc @derekwaynecarr

[2015-08-14 06:33] #12666 closed

[2015-08-14 06:43] huangyuqi opened #12711 "Upgrade the ubuntu k8s cluster."
I have deployed an ubuntu k8s cluster. But now, if i want to upgrade the cluster to a new release, i need to login the nodes&master and replace the all binaries.It wil be bad, when the cluster's node number increases.  So I have completed the kube-push in the shell "ubuntu/util.sh", and taken a test in my cluster.Please refer to the PR https://github.com/kubernetes/kubernetes/pull/12710

[2015-08-14 06:43] resouer commented on #9053
Sorry, need to be reopend

[2015-08-14 07:43] feihujiang commented on #4475
@smarterclayton @bgrant0607 Is there anyone to work on this? If not, I'd like to work on this.

[2015-08-14 07:57] ngbinh commented on #12626
This issue took me a day to figure out what's wrong. :( Will try to send a PR this weekend

[2015-08-14 08:06] ttllyy opened #12713 "kubernetes don't clean up docker container?"
Verison: kubernetes 1.02
I create rc or pod success on node1 . After delete rc or pod, docker container and docker images still could be seen in "docker ps -a" and "docker images" which still occupy disk space.
Expected results: Once pod is deleted, docker container and images should be deleted automatically to release disk space.
if  create and delete pod repeatedly on node1, I suppose less and l

[2015-08-14 08:19] jimmidyson commented on #12483
Can we also update the Prometheus exposed metrics to be properly labelled with kube metadata?

[2015-08-14 08:37] lleszczu commented on #12540
@yujuhong If you need help with testing / developing this I will be happy to help :)

[2015-08-14 08:39] kayrus opened #12715 "kube-apiserver's reflector tries to access server before it starts"
reflector.go tries to access "http://127.0.0.1:8080" before server.go starts web server.

[code]

installation: coreos, binaries, v1.0.3

[code]

/cc @kelseyhightower

[2015-08-14 08:56] kayrus opened #12716 ""ServiceController should not be run without a cloudprovider." error message"
installation: coreos, binaries, v1.0.3

[code]

logs:

[code]

"ServiceController should not be run without a cloudprovider.", but it actually runs...

relates to #11172

/cc @kelseyhightower

[2015-08-14 09:44] azr commented on #12391
Hey @cjcullen, yes, it is still broken.

[2015-08-14 10:22] piosz commented on #11570
The alpha version is released as ```gcr.io/google_containers/resource_consumer:alpha```. It supports consuming cpu only.

[2015-08-14 10:23] #12709 closed

[2015-08-14 10:42] wb14123 commented on #12624
I can debug this a little. But I cannot get the logs printed in `go-etcd`, how can I open it? I've tried to add `--v=4` to kube-apiserver args but it doesn't work.

[2015-08-14 11:12] Icedroid commented on #11000
ubuntu 14.04 can't not generate cert:
[code]

[2015-08-14 11:37] jamiehannaford opened #12720 "Silently ignoring duplicate creates"
Whenever I create a RC or service that already exists, I rightfully get back an error:

But is there any way currently to have this error silently ignored? I have a systemd unit file that relies on starting this service, so if I get back the above error the entire thing is registered as a failure. I'd rather have attempts to create duplicate services refused, but silently.

If there is no function

[2015-08-14 11:40] devurandom commented on #11000
@Icedroid You need to use current master of OpenVPN/easy-rsa. v3.0.0-rc2 contains a bug which makes it impossible to specify subject-alternate-names.

[2015-08-14 11:51] antoineco commented on #11000
No, he needs to write IP in capital letters.

Dennis Schridde <notifications@github.com> schrieb am Fr., 14. Aug. 2015
13:40:

--

Antoine

[2015-08-14 11:59] fgrzadkowski opened #12722 "Getting started for docker single-node cluster should be easier"
I walked through the getting started guide in [docker.md](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md) and I find it too complicated (assuming it's supposed to be the easiest and recommended way to play with K8s).

Some of the problems I've noticed so far:
* Requirements are hard to verify - we require some kernel configuration which I don't how to ch

[2015-08-14 12:38] kgrvamsi opened #12723 "Strange Behavior when creating pods and RC v1.0.1"
Configuration

Version

    core@ip-10-20-30-35 / $ kube-apiserver --version
    Kubernetes v1.0.1

Components Health

    core@ip-10-20-30-35 ~ $ kubectl get cs
    NAME                 STATUS    MESSAGE              ERROR
    controller-manager   Healthy   ok                   nil
    scheduler            Healthy   ok                   nil
    etcd-0               Healthy   {"health": "true"}

[2015-08-14 12:50] dalanlan commented on #12670
AFAIK, scratch is also of a size 0.  Removing the image roughly could hurt.

[2015-08-14 12:50] gmarek commented on #12640
It's rather annoying to need to kill API server by hand after each push. IIRC @dchen1107 solved exactly the same problem for Kubelet some time ago.

cc @davidopp

[2015-08-14 12:51] iremA commented on #12186
Same here.
Either I start apiserver without  --admission-control line, then I can create  the pods as expected but see the error in the heapster pod log:
open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory

kubectl get pods
NAME                                 READY     STATUS    RESTARTS   AGE
monitoring-heapster-v5-3qers         0/1       Pending   0          2s
m

[2015-08-14 12:56] dalanlan commented on #12186
Without a proper `--admission-control`, SA/secrets would be automatically created.
A default one as `--admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota`.
Also you need a key to verify your SA. Use `--service-account-key-file` or `--tls-private-key-file`, which is optional.

[2015-08-14 13:16] fgrzadkowski opened #12724 "We should not require cloning repo to start multinode docker node"
Instead we should expose our script via http so that it can be ```curl```-ed and executed on the local machine. Cloning a repository makes no sense if I only want to experiment with a simple setup.

@brendandburns

[2015-08-14 13:18] fgrzadkowski opened #12725 "We should have a default k8s version for multinode docker cluster"
Currently user has to manually specify it. In most cases it will be our most current major release.

@brendandburns

[2015-08-14 13:19] dalanlan commented on #12588
/cc @dalanlan

[2015-08-14 13:24] jwforres commented on #4475
Is the plan to delete the ones that it does find and show an error for any that it doesn't?  As opposed to an all or nothing approach.

[2015-08-14 13:36] gmarek opened #12726 "Kubelet hostname healtz fails"
When looking at Kubelet healthz through proxy on master I'm getting:
[code]

cc @fgrzadkowski @dchen1107 @davidopp

[2015-08-14 13:41] eparis commented on #12400
I'm sorry, I don't have a mac to reproduce, so my 'help' might not be as helpful as it otherwise could be. But I can tell you how this works on Linux systems and hopefully that will get you an answer..

So _init_completion is supplied in bash_completions v1.3 as you pointed out.  On Linux its in the file `/usr/share/bash-completion/bash_completion`. That file has to be sourced by your bash shell b

[2015-08-14 13:53] kgrvamsi opened #12728 "Page cannot load file for the API Object For Pod"
Url

    https://htmlpreview.github.io/?https://github.com/GoogleCloudPlatform/kubernetes/v1.0.1/docs/api-reference/definitions.html#_v1_pod

Documentation Page

    http://kubernetes.io/v1.0/docs/user-guide/pods.html

Section API Object

[2015-08-14 14:04] kgrvamsi commented on #11114
Closing this issue as i can  access to all the ports with no problem.

[2015-08-14 14:04] #11114 closed

[2015-08-14 14:23] bgrant0607 commented on #4475
@feihujiang Thanks. Nobody is working on this as far as I know.

@jwforres Yes, that's how kubectl is intended to behave in general

[2015-08-14 14:52] jimmidyson opened #12732 "Keys/certificates generation for services"
It is normal for services within a cluster to require TLS & hence keys/certificates are required. Managing this is normally manual & time-consuming. I'd like to be able to generate keys/certificates on (authenticated) request & provide these to the relevant pods via secrets. This a common problem in a microservice architecture - great blog post on it [here](https://blog.cloudflare.com/how-to-build

[2015-08-14 15:04] roberthbailey commented on #12653
The bootstrap API is currently just a proposal. The intent would be to host a global one (for easy getting started) but make it easy to set a different bootstrap endpoint for folks who want to run their own (GKE, on prem, etc).

[2015-08-14 15:32] fzu-huang commented on #12186
@iremA
use these commands to make crt and key:
openssl genrsa -out ca.key 2048

openssl req -x509 -new -nodes -key ca.key -subj "/CN=abc.com" -days 5000 -out ca.crt

openssl genrsa -out server.key 2048

openssl req -new -key server.key -subj "/CN=vm-56-65" -out server.csr
**there "/CN=vm-56-65" shuold be  "/CN=[yourhostname]"
openssl x509 -req -in server.csr -CA ca.crt -CAkey ca.key -CAcreateseria

[2015-08-14 15:39] philips commented on #11710
+1 on a quick win. We just disabled it by default instead: https://github.com/coreos/coreos-overlay/blob/master/app-admin/kubelet/files/kubelet.service

Which reminds me it would be great to have #12418 so we could make it easy to turn on/off stuff like this w/o rewriting the entire command-line in a service file.

[2015-08-14 15:42] timothysc commented on #11962
@yichengq do you have an ETA?

[2015-08-14 15:45] lvlv commented on #12186
Great guide! How about put this into docs/admin/service-accounts-admin.md
or docs/admin/heapster.md? It could save me hours if I saw this earlier
this week!

On Fri, Aug 14, 2015 at 11:33 PM, fzu-huang <notifications@github.com>
wrote:

[2015-08-14 15:54] fzu-huang commented on #12186
@lvlv  I‘m afraid it is not a good idea ~  :)   my way is a clumsy way .  I believe there must be a easier way to run a heapster instance.   When api-server is starting, it will create apiserver.crt and apiserver.key by it self, I have tried to use them  when i create heapster  but i failed,heapster log showed that the crt is invalid. You can try it , maybe you  will find something interesting~

[2015-08-14 16:02] erictune commented on #499
@mattma adding a service account won't fix the problem, because you already have the `imagePullSecret` field on your pod.

Two things that might be going on:

 You might be using the new dockercfg format, which we don't support yet.  See this issue for details: https://github.com/kubernetes/kubernetes/issues/12626
@deads2k does #12626 affect imagePullSecrets, in terms of not supporting the new doc

[2015-08-14 16:03] yujuhong commented on #12713
kubernetes has a separate container and image garbage collectors that routinely check the containers/images. They are controlled by a few flags. For example, container GC only kicks in after the maximum #containers exceeds  [`maximum-dead-containers`](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L223).

There is definitely room for improvement. E.g., like you sugg

[2015-08-14 16:05] liggitt commented on #12626
cc @deads2k

[2015-08-14 16:19] derekwaynecarr opened #12735 "HorizontalPodAutoScaler object is not removed when Namespace is deleted"
This is a reminder for @jszczepkowski  to make sure that it gets cleaned up.

[2015-08-14 16:39] thockin commented on #12682
What are the axes and units?  First rule of graphs!!

Do you have an equivalent for iptables proxier?

On Thu, Aug 13, 2015 at 9:49 PM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-14 16:54] RichieEscarez commented on #12681
Today the example under master is the same as what works for v1 (they match) but I think the fix for this is to redirect the broken link to the gh-pages.../v1.0 copy of the example during the pre-publishing file processing so that the doc and example remain at v1.0 (ie. whats under master can/will eventually change).

@krousey can you please help update the release processing scripts so that this

[2015-08-14 16:59] deads2k commented on #499
`secrets "myregistrykey" not found` means that the call to `/api/v1/namespaces/<pod-namespace>/secrets/myregistrykey`, returned a 404.  Since you explicitly set the secret, the kubelet is currently coded to not even attempt the image pull.  https://github.com/kubernetes/kubernetes/pull/12736 relaxes the behavior, but without that image pull secret, you probably won't progress.

I don't think #1262

[2015-08-14 17:02] mikedanese commented on #4851
Here is a doc that shows the dependencies of core components on packages:

https://docs.google.com/a/google.com/spreadsheets/d/1jNUdgLZc39FplQzncTT5VKaUj53NU3ncjbt4DjwtgkE/pub

[2015-08-14 17:06] erictune commented on #12720
Do you want to ignore it?  What if the existing pod is not the same as the one you are trying to create, such as if pod.yaml changed?

Maybe:
[code]

[2015-08-14 17:08] vaikas opened #12737 "Incorrect error message when a namespace is omitted from POST request"
https://github.com/kubernetes/kubernetes/blob/master/examples/cassandra/cassandra-controller.yaml

Converting that to JSON and trying to post to master without namespace in the URL results in 403, which seems incorrect.
 curl -X POST -k -H 'Authorization: Basic XXX' https://aaa.bbb.ccc.ddd/api/v1/replicationcontrollers --data @k8s.new.json
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata":

[2015-08-14 17:12] erictune commented on #12670
If imagePullPolicy is Always, does kubelet do a pull each time, and does
docker notice on the second pull that the previous pull was incomplete?

On Fri, Aug 14, 2015 at 5:50 AM, Emma He <notifications@github.com> wrote:

[2015-08-14 17:13] deads2k commented on #499
For reference, I would expect an unmarshalling failure due to the new dockercfg format would fail here: https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/keyring.go#L282, but the not found comes from here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1290

[2015-08-14 17:18] smarterclayton commented on #10408
I think I want to upstream the "volume" command as well - https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/volume.go

[2015-08-14 17:26] BenTheElder commented on #12682
Sorry, units for Y are on the labels, X is the test number (repeatedly runs
a netperf test for a burst of TCP request/response), just a quick example
output, I plan to histogram it later, raw data is in csv.

For the iptables proxier same thing but set up your cluster to be using it.

I'll post real results when I get a chance, I just wanted to show that the
data export was working etc. The final

[2015-08-14 17:28] vishh commented on #12186
cc @mikedanese

[2015-08-14 17:28] bgrant0607 commented on #12248
cc @smarterclayton had an opinion about this

[2015-08-14 17:46] pmorie commented on #9473
@vishh Can you define 'versioned' in this context?

[2015-08-14 17:47] RichieEscarez opened #12738 "Links in API are broken and point to HEAD"
The links in the API point to missing directories and you get a 404. The location of files have moved (see #11239). Also, these links should be version specific and point to the corresponding set of documents on k8s.io (and not point to the development version in the master branch).

Example:
Out in k8s.io, the links in this section of the API result in 404: http://kubernetes.io/v1.0/docs/api-refe

[2015-08-14 17:47] vishh commented on #9473
'versioned' to let us evolve the file format in the future and provide backwards compat.

[2015-08-14 17:49] mikedanese commented on #12186
Would it be easy for you to upgrade to `1.0.3`? It contained some critical bug fixes around service account timing?

[2015-08-14 18:02] erictune commented on #9386
fyi #11798 merged.

[2015-08-14 18:02] skuzye commented on #10675
What about using docker-machine and run kubernetes from docker as that has been fixed in 1.0? Seems to me it would be a lot simpler.

[2015-08-14 18:05] devurandom opened #12740 "Document how to specify hostname / IP for livenessProbe"
I am trying to setup Kubernetes v1.0.3 using the hyperkube images. I noticed that for kube-controller-manager, the livenessProbe tries to GET `http://192.168.10.24:10251/healthz`, but the controller-manager actually listens on localhost:
[code]

Thus I need to modify the livenessProbe to connect to localhost instead. How do I do that?

[2015-08-14 18:13] moander commented on #12400
What's strange is that bash completion are working for my other commands (git/docker/gcloud and nany more).

Can someone with a mac please try to reproduce?

I have a access to multiple mac's, so I will do some more investigation over the weekend.

Morten

On Fri, Aug 14, 2015 at 6:42 AM -0700, "Eric Paris" <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm sorry, I don't have

[2015-08-14 18:13] erictune commented on #9386
@adyanthaya17 I don't understand when you say "I want to ... have an actual separate node that can integrate with openstack. And launch an instance from the kubernetes.".  Are you talking about a Kubernetes node (which would correspond to one openstack VM instance) or something else?

[2015-08-14 18:22] devurandom commented on #12740
`"host": "127.0.0.1"` does the trick, but seems to be nowhere documented. Especially not in the `scratch.md` guide, which does not work without this.

[2015-08-14 18:27] deads2k opened #12741 "controller package names don't match the folders"
During the controller refactoring, the package names weren't made to match the folder names.  This is annoying an unexpected.

See https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/namespace/namespace_controller.go as an example.

[2015-08-14 18:29] yichengq commented on #11962
@timothysc I plan to finish the left performance issue coreos/etcd#3193 in the next week.

[2015-08-14 18:41] erictune opened #12742 "encrypt secrets when in etcd."
We should limit access to secrets when in etcd.

Initially discussed in #11937.

Although we discourage it, people seem to want to build their own clusters where etcd is used by both Apiserver and by other components, to store configuration.  Secrets want to have Kubernetes access controls on them, and not to be widely readable.  Other types of configuration wants to be widely readable.

We could

[2015-08-14 18:43] liggitt commented on #12742
my first instinct would be to use etcd ACLs to subdivide the etcd instance, since indiscriminate write access to etcd would be just as much of a compromise (write yourself a privileged pod scheduled to every node that reads node credentials and asks the master API for all secrets... done)

[2015-08-14 18:44] erictune commented on #12742
related issue is using https://github.com/hashicorp/vault to store secrets https://github.com/kubernetes/kubernetes/issues/10439

At first glance, changing our storage seems easier than integrating with something that has a non-Kuberntes API.

[2015-08-14 18:45] liggitt commented on #12742
that said, I also like the idea of encrypting secrets at rest in etcd (actually, I'd like the ability to do that generically on any object, since we also store things like OAuth access tokens in etcd)

[2015-08-14 18:45] erictune commented on #12742
We might actually want to limit read and write on all apiserver storage, not just secrets.  That would discourage people from depending on our storage implementation.

[2015-08-14 18:46] liggitt commented on #12742
+1 for preventing end-runs around API conversion/validation. think of the support calls :)

[2015-08-14 18:53] derekwaynecarr commented on #12653
Right now, ```ResourceQuota``` lets you control Hard limits for the number of an api resource (pod, replication controller, etc.) per namespace.

In the past, we discussed having a cluster wide quota document that would let you set Soft/Hard limits for number of API resources across all namespaces to help administrators manage the cluster.

The idea was that for many resource types, you would just

[2015-08-14 18:53] brendandburns commented on #12732
It would be awesome to add a key generation service, we should probably make it pluggable so that users can supply their own implementations as well.

[2015-08-14 18:55] bgrant0607 commented on #10495
Just discussed w/ @smarterclayton: We could populate swagger with object examples and use them as templates with edit.

[2015-08-14 18:57] brendandburns commented on #12723
controller manager and scheduler should be pointed at `127.0.0.1:8080`, `0.0.0.0:8080` is an invalid address.

[2015-08-14 18:57] #12723 closed

[2015-08-14 18:58] brendandburns commented on #12720
Closing this as I think it is essentially a request for `kubectl reconcile ...` https://github.com/kubernetes/kubernetes/issues/1702

[2015-08-14 18:58] #12720 closed

[2015-08-14 18:58] brendandburns commented on #12720
To be clear, closing this because I think it's a dupe, not that it is an invalid request.  We should definitely implement `reconcile`

[2015-08-14 18:59] brendandburns commented on #12716
Yeah, we should probably clean up that errror...

[2015-08-14 19:00] erictune commented on #11453
#11788 fixes this.
See the issue comment here:
https://github.com/kubernetes/kubernetes/pull/11788#issuecomment-125074436
for an example of the new output.
This will go into release v1.1 in a few months.

[2015-08-14 19:01] erictune commented on #11453
Closing because a fix is in HEAD.

[2015-08-14 19:01] #11453 closed

[2015-08-14 19:01] brendandburns commented on #12715
That's expected and ok, the errors are harmless.

[2015-08-14 19:01] #12715 closed

[2015-08-14 19:01] davidopp opened #12744 "Move scheduler fit predicates into a library"
They are used (or will be used) by
- scheduler
- kubelet
- rescheduler (#12140)
- vertical autoscaler (#8157)
- updater (#8157)

@dchen1107 @gmarek @fgrzadkowski

[2015-08-14 19:01] brendandburns commented on #12713
Closing this as dupe of #8347 and #8416

[2015-08-14 19:01] #12713 closed

[2015-08-14 19:04] brendandburns commented on #12698
Closed by #12699

[2015-08-14 19:04] #12698 closed

[2015-08-14 19:05] brendandburns commented on #12674
Yeah, that looks like a bug in the script, would happily take a PR.

Thanks!
-brendan

[2015-08-14 19:05] brendandburns commented on #12673
yep, want to fix it ;)

Thanks!
--brendan

[2015-08-14 19:15] erictune commented on #11453
Advice for users that see a pod with `Failed for reason PodFitsResources`, prior to v1.1 is:
1. to grab the kubernetes source, per https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md
1. `make WHAT=cmd/kubectl`
1. `GOPLATFORM=$(go version | cut -f 4 -d ' ')`
1. `_output/local/bin/$GOPLATFORM/kubectl describe nodes`
1. compare `Allocated resources` for each node with the p

[2015-08-14 19:20] erictune commented on #11453
Also, there is advice on how to troubleshoot this [here](http://kubernetes.io/v1.0/docs/user-guide/compute-resources.html#my-pods-are-pending-with-event-message-failedscheduling) which does not require building anything.

[2015-08-14 19:22] bgrant0607 commented on #10495
One way this could look could be:
`kubectl new pod mypodname --labels="app=myapp"`

New would just fetch the example, substitute the name, labels, and annotations (common metadata), dump the resource into the editor, then create the resource. We could provide an option to just dump the resource to stdout.

[2015-08-14 19:39] bliss opened #12746 "rbd plugin two mountpoints"
Good day!
Could anyone please shed some light why rbd plugin mounts ceph **rbd** device twice?
this is mount command output
`
/dev/rbd0 on /var/lib/kubelet/plugins/kubernetes.io/rbd/rbd/rbd-image-nginxy-nginx-drive__SEP__bliss type ext4 (rw,relatime,seclabel,stripe=1024,data=ordered)
`
`
/dev/rbd0 on /var/lib/kubelet/pods/b0ba3df0-42b1-11e5-8717-52540051caca/volumes/kubernetes.io~rbd/usr-share-ngi

[2015-08-14 19:41] bgrant0607 commented on #4822
I've come around to the idea of command groups for related non-general-purpose commands, but I don't know that we need/want one in this case.

I'd like this to be of comparable convenience to run and expose, at least for the common use cases, such as imagePullSecrets. That implies to me that we probably don't want to bury the command(s) in a command group.

I don't think the generic `new` is relev

[2015-08-14 19:43] jamiehannaford commented on #12720
@erictune @brendandburns :+1: Fine with me. Thanks!

[2015-08-14 20:35] thockin commented on #12682
Great.

From my end:

I have a recipe that has nodeports working in all modes (localhost, VMIP,
external IP, load-balancers, etc).  All external traffic has to be
MASQUERADED, but internal traffic retains source IP.

It also handles DNAT to self.

I am testing UDP now, but that looks good, too (except external traffic
which we don't really support yet).

I have a battery of tests that we can turn

[2015-08-14 20:40] ryfow opened #12749 "elasticsearch/elasticsearch_discovery.go is failing to discover"
I get this when trying to start the elasticsearch example.

[code]

If I'm debugging this right, it looks like `/elasticsearch_discovery` in `kubernetes/elasticsearch:1.0` is trying to hit `v1beta3` which doesn't exist anymore.

[2015-08-14 20:42] BenTheElder commented on #12682
Ok. Sounds good :)

Putting my new room and desk etc back together here. Should have a place to
work in a bit. I'm hoping to have some more useful results tonight up
tonight. I want to experiment more with the test settings before I generate
the comparison results though.
On Aug 14, 2015 4:36 PM, "Tim Hockin" <notifications@github.com> wrote:

[2015-08-14 20:55] #12015 closed

[2015-08-14 21:03] jimmidyson commented on #12749
@ryfow You're better off using the Elasticsearch Kubernetes discovery plugin from https://github.com/fabric8io/elasticsearch-cloud-kubernetes. @pires has an example of it's use at https://github.com/pires/kubernetes-elasticsearch-cluster.

[2015-08-14 21:10] jimmidyson commented on #12732
So could we add this as another type of secret, ala service token, seeing as it's so commonly required & add pluggable generators? Right now generation of anything is in-process, but this seems to be something that should be requested externally rather than trying to embed a full CA inside kube master. This could in time plug in with letsencrypt.org when it's available, but also having a private i

[2015-08-14 21:15] erictune commented on #10782
It is important that there be feedback when the predictions are wrong.  In particular, I think it is important that a Pod which is over its request (due to an incorrect initial prediction) is much more likely to be killed than some other pod which is under its request.   That way, a malfunction of the "Setting Initial Limits" system appears to affect specific pods, and not random pods, making it v

[2015-08-14 21:34] ryfow commented on #12749
Thanks @jimmidyson. That looks like it'll meet my needs.

I'd suggest that the elasticsearch example in this repository should either work or be deleted.

[2015-08-14 21:34] brendandburns opened #12751 "kubelet statusManager returns a literal, not a pointer"
[code]

This means we're always making copies of that struct, that's probably expensive.

[2015-08-14 21:35] brendandburns commented on #12751
@dchen1107 for triage

[2015-08-14 21:42] jimmidyson commented on #12749
@pires Fancy contributing your excellent elasticsearch work to replace the broken elasticsearch example in this repo?

[2015-08-14 21:53] JanetKuo commented on #11262
Initial investigation -- When we do kubectl watch (and not watch-only), CLI will first print the object and then send requests to server. Which means:
[code]
is generated from client side, whereas
[code]
is the error message returned from server.

[2015-08-14 22:37] pires commented on #12749
@jimmidyson thanks for your kind words!
I'm always happy to contribute.  I'll try and have it by monday.

[2015-08-14 22:38] pires commented on #12749
Oh, https://github.com/kubernetes/kubernetes/pull/12621 seems to fix it.

[2015-08-14 22:40] jimmidyson commented on #12749
Well personally I think the Elasticsearch plugin approach is cleaner, but I guess as long as it works...

[2015-08-14 22:41] pires commented on #12749
@jimmidyson I agree and have tried to push my work before, but the current _official_ way was preferred.

[2015-08-14 22:41] jackgr commented on #1702
Thanks for the pointer to #4889. Long discussion, but quite insightful.

My question was motivated by distaste for the strategic merge patch, which seems unnatural and overkill for the problem of list merge, and by an inclination to avoid departing from the semantics of JSON merge patch, which are well understood.

Given that JSON merge patch already provides rebase semantics for maps, map propert

[2015-08-14 22:42] vishh commented on #10782
@erictune: Yes. The kernel will prefer to kill containers that exceeds their request in case of a OOM scenario.

+1 for starting with a conservative estimate.

[2015-08-14 22:59] jimmidyson commented on #12749
@satnam6502 Still don't want to go down the Elasticsearch discovery plugin route rather than the custom go binary?

[2015-08-14 23:10] RichieEscarez commented on #12738
I have also found that sections are missing from the TOC, for example v1.Container is not listed at the top of the page:

http://kubernetes.io/v1.0/docs/api-reference/definitions.html#_v1_container

[2015-08-14 23:17] smarterclayton commented on #12248
Suggest -T, and also that we create a "reservation system" for new short
flags before we use them all.

On Aug 14, 2015, at 1:28 PM, Brian Grant <notifications@github.com> wrote:

cc @smarterclayton <https://github.com/smarterclayton> had an opinion about
this

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/12248#issuecomment-131188275>
.

[2015-08-15 00:09] #12542 closed

[2015-08-15 00:20] anuaimi commented on #1957
+1

[2015-08-15 00:44] caesarxuchao commented on #12738
http://kubernetes.io/v1.0/docs/api-reference/definitions.html#_v1_container

That's because we only list top level API Objects in the TOC, i.e., the objects that are not a field of other objects.

[2015-08-15 00:46] bgrant0607 commented on #1702
Concrete scenario: What if a field of a container in a pod template has been changed in the live state, and we don't want to clobber it? The user then adds another container to the pod template by updating their original config file. How do we propagate that update to the live state?

Forcing the user to resolve the conflict is unnecessary and undesirable.

[2015-08-15 00:46] senorflor opened #12758 "Coveralls.io badge points to stale GoogleComputePlatform/kubernetes results"
First issue, woo!

The code coverage % badge currently points to a stale coverage check on the old repo under the [Google Cloud Platform org](https://github.com/GoogleCloudPlatform/).

TODO:
- [ ] Update Coveralls account to run on new repo
- [ ] Update README.md to point to new coveralls.io page

[2015-08-15 01:13] asridharan commented on #12459
Finally got this working :). Turns out there were a bunch of iptables kernel modules that hadn't been loaded and hence iptables was cribbing on the match command. Failing silently without actually indicating the modules were not present. Ran the local docker-based setup on a ubuntu 14.04 and figured out the missing kernel modules. This is what my gentoo lsmod output looks like after installing all

[2015-08-15 01:13] satnam6502 commented on #12749
Plugin would be great.

[2015-08-15 01:20] dalanlan commented on #12186
I doubted it, i'm afraid. What makes you catch this, if i may ask?

[2015-08-15 01:25] ttllyy opened #12760 "How to set max dead container and images number in kubernetes？"
@yujuhong
#12713 I want to delete automatically dead docker container and images.
 if exceed  max dead container and images,  kubernetes  garbage collectors  self-delete automatically   exceeding limits dead container and images？
GC prior recovery oldest container and oldest images？
But in kubernetes, how to set max dead container？ how to set max dead container images？

Thanks!

[2015-08-15 01:35] fzu-huang commented on #12186
@dalanlan
 I started api-server with --admission_control=ServiceAccount  and didn't set flag --tls-private-key-file  and  --tls-cert-file , after apiserver is created, i saw these two files:apiserver.crt and apiserver.key

in kubernetes\cmd\kube-apiserver\app\server.go, i saw this:

if s.TLSCertFile == "" && s.TLSPrivateKeyFile == "" {
                    s.TLSCertFile = path.Join(s.CertDirectory,

[2015-08-15 01:39] caesarxuchao commented on #12738
@RichieEscarez  I've sent #12761 to fix. Thank you for taking care of the pages.

We will need to generate these html files again after #10933 got merged.

[2015-08-15 01:39] jackgr commented on #1702
OK. There are 3 lists in that spec with an explicit patch strategy:
[code]
Are there entries in these lists and/or fields in entries which are subject to manipulation by automated processes?

[2015-08-15 01:48] fzu-huang commented on #12186
@mikedanese

I will try it next week...

[2015-08-15 01:58] dalanlan commented on #12186
Thx. And I'm totally a moron when it comes to security stuff.
Do you have any idea how a client identifies itself in this case? I assume there is no client cert or key here (Correct me if i'm wrong)

[2015-08-15 02:03] mikedanese commented on #12186
@dalanlan Is correct. If you want to use in cluster config, you need to a bit more with the CA cert generation. You can also use heapster over http:// if you are on a trusted network. I've opened kubernetes/heapster#479 to improve the documentation. For now please see:

https://github.com/mikedanese/heapster/blob/service-account-doc/docs/source-configuration.md#kubernetes

[2015-08-15 02:05] mikedanese commented on #12186
The CA cert generated by the apiserver is not sufficient to use with the default serviceaccount to auth with the apiserver as it does not contain a SAN for the ClusterIP of the kubernetes service.

[2015-08-15 02:11] fzu-huang commented on #12186
@dalanlan
I saw some docs said that  in this case , client must use the same crt and key as server.

@mikedanese
YES~~~，  I saw the code add IP and DNS when it use func: `util.GenerateSelfSignedCert()`
so I think it must be usable when we run a heapster.

I tried to push server.crt and server.key into heapster(By volumn a secret). I tried it but failed, there must be something wrong, but I can't f

[2015-08-15 02:19] jackgr commented on #1702
The answer to the question above is interesting in terms of motivation, but may not matter, since I see that kubectl patch is already implemented with strategic merge patch, so making kubectl apply use JSON merge patch would be inconsistent. Do we know of anyone using kubectl patch in earnest?

The problem with using strategic merge patch, of course, is that one can't compute a 3 way merge in a ge

[2015-08-15 02:23] mikedanese commented on #12186
Yes it is quite complicated (and we are working on making it easier and having better documentation). The reason the `util.GenerateSelfSignedCert` doesn't work, even when you distribute it with the controller-manager is that it only signs the cert for the hostname of the apiserver but heapster communicates with the apiserver using the kubernetes service clusterIP by default. The default cert gener

[2015-08-15 02:31] fzu-huang commented on #12186
@mikedanese   thank you very  much ~ ^_^

[2015-08-15 02:48] karlkfi opened #12762 "ReadConfigData test fails when tethered on t-mobile"
Apparently t-mobile redirects bad urls requests to their search homepage. This rather humorously causes the k8s unit tests to fail. TestReadConfigData expects an HTTP GET of `http://some.non.existent.foobar` to error, and it doesn't.

[code]

The following pre-existing TODO would solve both problems:

[code]

[2015-08-15 03:29] #11288 closed

[2015-08-15 03:35] bgrant0607 commented on #1702
Re. my container example: `containers` is a list.

[2015-08-15 03:35] jackgr commented on #1702
Granted, but that's only an issue if there are cases where automated processes make changes to its contents.

[2015-08-15 03:36] bgrant0607 commented on #1702
cpu and memory

[2015-08-15 03:37] jackgr commented on #1702
Those seem like values that can be easily recomputed if clobbered by a configuration change.

[2015-08-15 04:00] bgrant0607 commented on #1702
Clobbering values would be disruptive, won't actually work with the current API, and won't work in general. Strategic merge patch provides more intuitive behavior for users.

Readonly and immutable fields can't be handled with knowledge of the schema, either. Given that schema knowledge is required, strategic merge patch doesn't seem much different.

The plan from the beginning was to switch from

[2015-08-15 07:14] karlkfi opened #12765 "e2e flake: Monitoring - should verify monitoring pods and all cluster nodes are available on influxdb using heapster."
[code]

Reported in #12214 ([Heapster Logs](https://gist.github.com/yujuhong/f233d8c9b6dd18d1608b)) & #12324 ([Build Log](https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/28296f8296ca323cc75aad11afd099bb2e25ac45/kubernetes-pull-build-test-e2e-gce/5265/build-log.txt))

[2015-08-15 07:34] BenTheElder commented on #12682
Still experimenting with the test settings. I'll post the results when I've sorted this out a bit more.

[2015-08-15 07:45] kgrvamsi commented on #12723
But this sort of settings are being working on my other cluster of 4 nodes and i have no issues with it and infact when i changed my version of kubernetes to 1.0.3 then i can run the RC and Pods with no problem.

[2015-08-15 07:47] jackgr commented on #1702
Thanks for the reply. I'd like to better understand the use cases where clobbering values set by automated processes is not workable. However, this feature should probably not be held hostage to my education any longer, so I'll go ahead and implement it with strategic merge patch. We already have a strategic merge patch aware method to a apply a patch. What's missing is a strategic merge patch awa

[2015-08-15 09:09] hw-qiaolei commented on #12760
Hi ttllyy,
I do not have a test, but please refer to `kubelet` documentation at https://github.com/kubernetes/kubernetes/blob/8e05da1316bfdb15fd5193c9e70da0deea416010/docs/admin/kubelet.md, I think the following options helps:
`--maximum-dead-containers`
`-maximum-dead-containers-per-container`
`--minimum-container-ttl-duration`

[2015-08-15 10:00] pires commented on #12749
Working on that then.

[2015-08-15 10:00] hw-qiaolei opened #12767 "The getting started guide on CentOS should be updated"
The `Getting started on CentOS`(https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/centos/centos_manual_config.md) should be updated to track the latest changes.Current version is quite out of date. For example:

1, It does not clearly describe the prerequistes. It even does not say CentOS7.
2, It says very little about the OS setup.
3, The repo `virt7-testing` given

[2015-08-15 12:04] justinsb commented on #12649
@erez-rabih That does indeed sound correct.  Thanks for finding this.

Randomness is a reasonable fallback.  Another option might be to fall-back to `aws iam get-user`.  Based on http://stackoverflow.com/questions/10197784/how-can-i-deduce-the-aws-account-id-from-available-basicawscredentials, I think this bash command gives you the AWS account id:
`aws iam get-user --output text --query User.Arn

[2015-08-15 12:12] justinsb commented on #11934
I'm going to make an attempt at this.

I am planning on using the approach of tagging the volume and then trying to mount it as part of instance boot.

[2015-08-15 14:21] justinsb opened #12768 "OSX build scripts should support docker-machine (not just boot2docker)"
The docker team is now favoring docker-machine over boot2docker.  Docker-machine is also better, in that it supports options other than VirtualBox (though sadly not yet xhyve).

We should probably consider adding support for docker-machine therefore.

[2015-08-15 15:01] smarterclayton commented on #12447
I do not intend pod logs to be a log accepting endpoint - only an interface
improves streaming log detail from an end user for better experience

implemented with polling.

Ultimately, that's a limitation with elastic search, not with the intended
UX.  But I don't think in the short term we would attempt to stream from
elastic search - it is a much better design in the short term to continue
to us

[2015-08-15 17:34] yujuhong commented on #12760
@hw-qiaolei, thanks for answering the question! @ttllyy, you can set the flags to control the container garbage collection.

`minimum-container-ttl-duration` is set to avoid cleaning up the containers before kubelet gets to inspect the dead container. Also, because kubelet relies on examining the dead containers to construct the pod status, we want to keep a certain number of dead containers aroun

[2015-08-15 18:07] onorua commented on #12703
I can be wrong, but it seems "default" is hardcoded namespace. The perfect fix would be do add multiple "namespace" option instead of changing default -> kube-system.

[2015-08-15 18:09] thockin commented on #12768
Would this replace or augment our vagrant mode?
On Aug 15, 2015 7:21 AM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2015-08-15 18:22] justinsb commented on #12768
I may be unaware of a new way to build, but I'm just talking about e.g. `make clean release` on OSX.

Our build scripts directly refer to boot2docker, but docker-machine will likely be more prevalent going forwards:
https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L133-L150

Changing title to try to better capture my intent.

[2015-08-15 19:10] rroopreddy commented on #12184
Tried with latest 1.0.3, this is stuck on the following (more than 30 min and killed it). Vagrant on Mac has not worked for months. This combination is needed for local development setup and used by lots of folks based on issues reported. Is there any plan to get this combination to work? thanks

--------
Each machine instance has been created/updated.
  Now waiting for the Salt provisioning proce

[2015-08-15 20:38] derekwaynecarr commented on #12184
I recommend pulling from master right now.  I maintain the environment and
verified it worked on Friday when last spun up.  I do not have a Mac (on
Linux) so I appreciate debug help and PR from community.  You can also try
the vagrant ansible setup as well.

On Saturday, August 15, 2015, Ravindar Reddy <notifications@github.com>
wrote:

[2015-08-16 01:48] thockin commented on #4825
We have thus far avoided pod DNS.  I'm less against it than I once was, though there are some issues to overcome to make cases of "I queried my own hostname, told someone about it, and expected them to find me".

1. Docker only has a hostname field, not a dnsdomainname field, so we'd have to at LEAST set the hostname to `$pod.$ns.pod` and home that all clients have .cluster.local in their search

[2015-08-16 02:21] rroopreddy commented on #12184
Got the new code from master

tried the build with "build/release.sh". Based another issue reported bumped the boot2docker to 4GB

I get the following error with build failure

.........

Call stack:
  1: build/../build/common.sh:564 kube::release::package_client_tarballs(...)
+++ [0815 19:08:51] Starting tarball: client test-integration
  2: build/../build/common.sh:548 kube::release::package_tar

[2015-08-16 02:29] thockin commented on #12248
If we are breaking compat, I really want to argue for just saying -o
template="template string" rather than pairs of flags (-o and -t) that need
to coordinate.

If we support that, no need for -t or -T
On Aug 14, 2015 4:18 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-08-16 03:39] smarterclayton opened #12771 "JSONPath output needs a quote operator to safely generate arguments"
Since we're likely to want to use JSONPath output with bash, we need to have a way to ensure that output can be safely escaped for use with scripting.  Go templates support quoting and encoding, but we have no JSONPath equivalent.

E.g. `oc get -o jsonpath -t 'echo {.metadata.annotations[foo]}'` could contain spaces and thus makes it difficult to safely encode.  The `strconv.Quote` function is an

[2015-08-16 03:43] mattma commented on #499
@erictune @deads2k

[code]

[2015-08-16 03:46] colemickens commented on #10774
Is this still coming?

[2015-08-16 04:31] thockin commented on #12459
I'm not above forcefully modprobing them in kube-proxy, if we can get a
concise list.  Other distros seem to load them automatically...

On Fri, Aug 14, 2015 at 6:13 PM, asridharan <notifications@github.com>
wrote:

[2015-08-16 04:49] WIZARD-CXY commented on #10774
yeah ,it is https://github.com/kubernetes/kubernetes/pull/10829, waiting for a merge

[2015-08-16 05:02] thockin commented on #12746
@rootfs for help

On Fri, Aug 14, 2015 at 12:39 PM, bliss <notifications@github.com> wrote:

[2015-08-16 05:53] asridharan commented on #12459
Will try to put a list here. Few of the modules, in my case, were compiled
into my kernel so will have to figure those out.

Thanks,
Avinash

On Sat, Aug 15, 2015 at 9:31 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-08-16 07:28] lvlv commented on #4825
1. Docker do have a Domainname in its create container api:
https://docs.docker.com/reference/api/docker_remote_api_v1.20/#create-a-container

2. If VUID is only introduced for the 64 byte limit, I'm a little
struggling with it. pod name + namespace is already something unique, at
least for pods whose "podname.namespace.pod" are shorter than 63, using
that directly seems quite straight forward, it

[2015-08-16 07:39] lvlv commented on #4825
Instead of getting hostname from somewhere, I'm wondering if we can use
docker run flag "--uts=host" to share the same uts namespace with host.

On Fri, Aug 14, 2015 at 11:35 AM, Brian Grant <notifications@github.com>
wrote:

[2015-08-16 11:53] bjlee72 commented on #12703
Thing is, the  namespace value is included in the URL for accessing the UI:

[code]

Thus, the namespace is definitely, I guess, not hard-coded.

[2015-08-16 14:46] thockin commented on #4825
I don't understand the goal of using uts from the host.  What are you
trying to achieve with that?

As for hostname being pod name, I think there is value in obfuscation here
- DNS to pods is generally not what people should be doing.
On Aug 16, 2015 12:39 AM, "Lv Lv" <notifications@github.com> wrote:

[2015-08-16 15:45] smarterclayton commented on #4825
On Aug 15, 2015, at 9:48 PM, Tim Hockin <notifications@github.com> wrote:

We have thus far avoided pod DNS. I'm less against it than I once was,
though there are some issues to overcome to make cases of "I queried my own
hostname, told someone about it, and expected them to find me".

   1.

   Docker only has a hostname field, not a dnsdomainname field, so we'd
   have to at LEAST set the hostna

[2015-08-16 15:49] smarterclayton commented on #12248
-t is (was) common enough that it was intended to be easy to use.  The
primary use is scripting so making things harder for users is less
impactful.  The goal is to reduce the friction on common actions, but with
-L and the column spec -o, -t is less important now.

On Aug 15, 2015, at 10:29 PM, Tim Hockin <notifications@github.com> wrote:

If we are breaking compat, I really want to argue for jus

[2015-08-16 16:48] thockin commented on #12248
I think output templates are still important, I just don't think it should
be twin flags when one flag + parsing works just as well.
On Aug 16, 2015 8:49 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-08-16 17:00] sneerin commented on #10735
I agree, swithing in and out is a total mess

[2015-08-16 17:44] smarterclayton commented on #12771
The alternative is to have one template per argument, which may be better in some cases, but not all.

[2015-08-16 17:47] smarterclayton commented on #12771
Useful for #5164

[2015-08-16 17:53] smarterclayton commented on #5164
Started prototyping https://github.com/openshift/origin/pull/4196

[2015-08-16 19:46] davidopp commented on #12545
Let me see if I understand the mechanism you're describing. You use admission controller to add a node selector to every Pod, which constrains the Pod to only run on the set of machines that the policy allows? (Possibly you optimize this by not adding a node selector if it already has one that constrains the Pod to a set of nodes that meets the policy.) So if the user sets nodeName, the Pod may go

[2015-08-16 19:53] mbforbes commented on #12767
Thanks for the thorough feedback—we'd love a PR to improve this if you have time!

[2015-08-16 19:56] mbforbes commented on #12758
@senorflor do you want to take this? :-)

[2015-08-16 20:04] davidopp commented on #3945
We still don't have an explicit feature for this. However, the following should do what you want:

1) Set label "gpu=true" on the GPU minions, and label "gpu=false" on the non-GPU minions
2) Set selector "gpu=true" on the Pods that require GPU. If you want to keep the non-GPU Pods off of those machines, then set selector "gpu=false" on the non-GPU Pods.
3) On your GPU-requiring Pods set a containe

[2015-08-16 20:18] mbforbes commented on #12417
`timed out waiting for the condition` — my favorite error message!

[2015-08-16 20:18] mbforbes commented on #12398
@brendandburns

[2015-08-16 20:33] jackgr commented on #1702
Apparently, #8662 has the same need, and some work may have already been done on a strategic merge patch aware CreateMergePatch implementation.

[2015-08-16 20:50] mbforbes commented on #12353
local Jenkins would also be incredibly useful

[2015-08-16 20:54] mbforbes commented on #12329
I think GitHub was supposed to close this with #12376

[2015-08-16 20:54] #12329 closed

[2015-08-16 21:03] mbforbes commented on #12307
may be fun also as a side project for @kubernetes/goog-control-plane

[2015-08-16 21:09] mbforbes commented on #12273
Closing as dupe of #11975 — please yell if this is not the case!

[2015-08-16 21:47] mbforbes commented on #12157
Probably a naive question: Why didn't we just use Bootstrap (http://getbootstrap.com/)? Features like these have been solved for years.

[2015-08-16 21:53] mbforbes commented on #12148
Privileged containers is a rough spot that could use clarification and work throughout, I think

[2015-08-16 21:59] evanphx commented on #11882
@justinsb I'm happy to work on this issue. I'm looking through the code and it appears that the only resource that even has a tag applied is the security group. Is that correct or am I missing where/how the tag is applied to other resources?

Secondly, should the tags be applied to other resources and just haven't been done so yet? Or if only security groups have the tag, perhaps tags should not b

[2015-08-16 21:59] mbforbes commented on #12081
@corptech-jenkins-builds https://github.com/kubernetes/kubernetes/issues/12081#issuecomment-129648114 is the correct solution. Please re-open if this doesn't help. Thank you!

[2015-08-16 21:59] #12081 closed

[2015-08-16 22:18] mbforbes commented on #11926
+cc @cjcullen

[2015-08-16 22:20] mbforbes commented on #11916
@adyanthaya17 did https://github.com/kubernetes/kubernetes/issues/11916#issuecomment-126578795 solve your problem?

[2015-08-16 22:21] mbforbes commented on #11916
Preemptively closing, but please re-open if your problem persists?

[2015-08-16 22:21] #11916 closed

[2015-08-16 22:27] mbforbes commented on #11909
When you say your cluster is size 4, do you mean 3 nodes + master, or 4 nodes + master?

GKE hosts the master (the "control plane") in a separate project, and there's absolutely no way to schedule pods to go on the master, by design. The nodes are the only places where you're allowed to run pods.

[2015-08-16 22:28] mbforbes commented on #11902
+cc @brendandburns @zmerlynn

[2015-08-16 22:47] mbforbes commented on #11663
We'd love this! Any chance you would be willing to send a PR or two? :-)

[2015-08-16 22:59] aronchick opened #12773 "Kubernetes 1.0.3 Vagrant Demo Doesn't Work (but 1.0.1 does)"
Vagrant demo (http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html) gets lost trying to bring up minions:

[code]

However, going back to v1.0.1 works. May or may not be related to this bug (https://github.com/kubernetes/kubernetes/issues/12614).

[2015-08-16 23:00] aronchick commented on #12773
Log:

[code]

[2015-08-16 23:01] mattma opened #12774 "Service file cannot be created due to `field nodePort: is required`"
This is most likely a user bug, not kubernetes itself.

[code]

I am trying to place a Service in front of my `mongodb` container which is created by this replication controller file

[code]

I started the `replication controller` first, then create a `mongo service` with this configuration

[code]

`mongo` container is running as expected.

[code]

By running service config, I got errors

[code]

[2015-08-16 23:27] liggitt commented on #12545
Correct. We actually always add the selector to avoid needing to do node lookups during admission (and in case node labels change later). Pods with existing incompatible node selectors fail admission.

[2015-08-16 23:29] caesarxuchao commented on #12575
@moink635, I can't reproduce the problem. I think it's platform specific. Could you describe your cluster set-up?

The error message seems clear, I guess specifying the name of the log file in options [here](https://github.com/kubernetes/kubernetes/blob/7c9bbef96ed7f2a192a1318aa312919b861aee00/pkg/volume/glusterfs/glusterfs.go#L220) will solve the problem. @rootfs could you take a look?

[2015-08-16 23:50] smarterclayton commented on #12248
Having to parse flags like that is somewhat unusual.  I guess it's no worse
than flag explosion (clutters help), but may inhibit discovery.

On Aug 16, 2015, at 12:49 PM, Tim Hockin <notifications@github.com> wrote:

I think output templates are still important, I just don't think it should
be twin flags when one flag + parsing works just as well.
On Aug 16, 2015 8:49 AM, "Clayton Coleman" <notifi

[2015-08-17 00:39] feiskyer commented on #11626
@uruddarraju Is there some design documents for authorization plugin?

[2015-08-17 01:17] bjlee72 commented on #12703
I'd like to check if the pod list within `kube-system` is not displayed and it is the default behavior. If it is, I think this is not an issue, and I can close.

[2015-08-17 01:28] feihujiang commented on #12774
@mattma You can try kubectl create -f /path/to/mongo-svc.yaml.

[2015-08-17 01:47] mbforbes commented on #11549
+cc @brendandburns

[2015-08-17 01:50] uluyol opened #12776 "Docker and kube-apiserver crashing on master"
Running kube-up on a clean build of 6afbaf6bf6ac8d1d71307819f21d56d7946c522c, I'm seeing the docker on the master crashing, and kube-apiserver crash with it.

This is the standard 4-node GCE cluster, I haven't touched any config.

[code]
List of all pods:
[code]

Not sure why so many heapster pods are scheduled.

Watching the status of the apiserver and docker on the master:
[code]
After digging a

[2015-08-17 01:52] mbforbes commented on #11477
@mikedanese was the assignment removal because of the repo switch?

[2015-08-17 01:53] uluyol commented on #12776
cc @roberthbailey since he authored 8df33bc1a75ca7e81a07b49c033ae94e04dd66f4.

[2015-08-17 01:55] mikedanese commented on #12776
Is the master kubelet intended to be schedulable?

[2015-08-17 02:01] hw-qiaolei commented on #12767
I'd love to do that. My only concern is that this guide uses a yum repo to install kubernetes, and I need the SPEC files(`kubernetes-node`, `kubernetes`, `kubernetes-client`, `kubernetes-master`) to build kubernetes rpms. Could @mbforbes and @coolsvap (I noticed @coolsvap  is the maintainer of baremetal CentOS guide ) offer some help on this?
[code]

[2015-08-17 02:12] mbforbes commented on #11365
@bgrant0607 is this fixed?

[2015-08-17 02:13] mbforbes commented on #11359
+cc @cjcullen

[2015-08-17 02:14] mbforbes commented on #11335
@erictune / @ixdy is this fixed?

[2015-08-17 02:17] mbforbes commented on #11082
I think this is/was likely fixed, but it's worthwhile to do an audit.

[2015-08-17 02:17] mbforbes commented on #11082
(Especially because the failure mode was no-ops)

[2015-08-17 02:20] mbforbes commented on #11000
+cc @roberthbailey

@devurandom would you be willing to send a PR to help update our docs for this?

[2015-08-17 02:23] mbforbes commented on #10777
I'm not sure whether we could need a good deployment story more than we do now

[2015-08-17 02:23] mbforbes commented on #10777
+cc @ihmccreery

[2015-08-17 02:25] mbforbes commented on #12767
I can't, but @brendandburns can tell you who can.

[2015-08-17 02:35] mbforbes commented on #12642
@shenshouer I'm going to assume @roberthbailey's comment answered your question and close this issue. But please feel free to re-open or open a more specific issue if you run into problems!

[2015-08-17 02:35] #12642 closed

[2015-08-17 02:38] mbforbes commented on #12337
@fzu-huang does https://github.com/kubernetes/kubernetes/issues/12337#issuecomment-128507473 answer your question? Have you gotten this to work? I'm going to close this for now, but please re-open if not!

[2015-08-17 02:38] #12337 closed

[2015-08-17 02:43] mbforbes commented on #12255
@kgrvamsi based on your reply I'm going to assume that @erictune's response answered your question and close the issue. Please feel free to re-open if not! Cheers.

[2015-08-17 02:43] #12255 closed

[2015-08-17 02:45] mbforbes commented on #12250
@Naresht-vedams did @kgrvamsi's answer help? I'm going to close this issue assuming so, but please feel free to re-open if not.

[2015-08-17 02:45] #12250 closed

[2015-08-17 02:46] mbforbes commented on #12013
@fzu-huang it looks like this has been resolved, so I'm closing the issue. Please ping if it's not. Thank you!

[2015-08-17 02:46] #12013 closed

[2015-08-17 02:51] mbforbes commented on #12012
@liggitt thank you for the thorough explanation—@dalanlan it looks like your question has been answered? I'm going to close it assuming so, though please re-open if not.

@erictune / @liggitt / @deads2k worth making a separate issue for auto-mounting if there isn't one?

[2015-08-17 02:51] #12012 closed

[2015-08-17 02:54] mbforbes commented on #11978
@huikang it looks like your question has been answered (and your follow-up one, @mvle) so I'm closing this issue. Please feel free to re-open if I'm mistaken!

[2015-08-17 02:54] #11978 closed

[2015-08-17 02:56] mbforbes commented on #11950
+cc @davidopp for the new question in https://github.com/kubernetes/kubernetes/issues/11950#issuecomment-125787273

[2015-08-17 02:57] mbforbes commented on #11875
Friend ping @thockin or @ArtfulCoder; this issue hasn't been updated for 19 days.

[2015-08-17 03:01] mbforbes commented on #11869
Bump

[2015-08-17 03:04] mbforbes commented on #11813
Friendly ping @mbabker re: https://github.com/kubernetes/kubernetes/issues/11813#issuecomment-129589034

[2015-08-17 03:17] paralin commented on #11961
Is there a fix for this?

[2015-08-17 03:25] Icedroid commented on #11000
@antoineco I already used IP capital:
sudo ./make-ca-cert.sh 192.168.1.12 IP:192.168.1.12,IP:10.0.0.1,DNS:kubernetes,DNS:kubernetes.default,DNS:kubernetes.default.svc,DNS:kubernetes.default.svc.cluster.local

After I run sudo apt-get update && sudo apt-get -y upgrade, the Easy-RSA error gone.

[2015-08-17 03:26] hookenz commented on #3945
@davidopp - Thanks for that feedback.   I posted my example and question so people could see real-world scenarios that warrant the functionality.  Some of the answers in this thread from kubernetes developers seemed to hint that such functionality shouldn't be necessary.  But as you can see there are specific instances where it absolutely is.

Other things that can occur are that you have workload

[2015-08-17 03:31] thockin commented on #11961
Not yet - it seems like a 30 minute sort of fix.  Got 30 minutes?

[2015-08-17 03:33] thockin commented on #11359
This seems like a very niche use case - I am not sure we want to go out of our way to make this better, unless such changes are good overall for other reasons.

[2015-08-17 03:37] thockin commented on #12774
Yeah, there may be a bug in client-side validate logic.  Try without the
`--validate`.
`
On Sun, Aug 16, 2015 at 6:29 PM, feihujiang <notifications@github.com>
wrote:

[2015-08-17 03:39] thockin commented on #11926
What OS?  It looks like kube-proxy is not running - is kube-proxy running?

[2015-08-17 03:46] paralin commented on #11961
Sure. Is there something in the output of /proc/net/route that could be used to identify the wrong IP to use?

In the meantime is there some way to force kube-apiserver to a specific IP?

[2015-08-17 04:00] mbforbes commented on #11809
I think the guide you're looking for is
https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/liveness

@zv86 I'm going to close this issue assuming that solves your problem, but please feel free to re-open if you have further questions!

[2015-08-17 04:00] #11809 closed

[2015-08-17 04:02] adyanthaya17 commented on #12579
When I execute the command:
$ curl http://localhost:8001
404 page not found

[2015-08-17 04:09] adyanthaya17 commented on #12579
$ kubectl proxy --www=docs/user-guide/update-demo/local/ &
[1] 4353
root@master:/home/ubuntu/kubernetes# Starting to serve on localhost:8001F0817 03:57:38.633486    4353 proxy.go:110] listen tcp :8001: bind: address already in use

I did the netstata -vpln and found it running on tcp6
tcp6       0      0 :::8001                 :::*                    LISTEN      10088/kubectl

[2015-08-17 04:09] mbforbes commented on #11732
Fixed by #10824, I think (please re-open if not... and thanks for your PR to do this ;) )

[2015-08-17 04:09] #11732 closed

[2015-08-17 04:11] davidopp commented on #11950
I believe the closest thing we have is
https://github.com/kubernetes/kubernetes/blob/master/contrib/service-loadbalancer/README.md

[2015-08-17 04:17] lvlv commented on #4825
It seems we have multiple threads in this issue :-(

[QUOTE] I don't understand the goal of using uts from the host.  What are you
trying to achieve with that? [/QUOTE]

My proposal was: For pods using host network, by default share the UTS namespace with node. Or at least provide this as an option.
Reason: For pods binding their services on host network, it looks natural for them to bind on "host

[2015-08-17 04:25] Hokutosei opened #12780 "need to start skydns. skyDNS exited, missing on some nodes."
Greetings,

I have checked my nodes today and found that skydns has exited and on some nodes, its not running. how do i restart it running google container cluster?

[code]

[2015-08-17 04:27] thockin commented on #11961
You may be able to set `--advertise-address` on the apiserver, but that's sort of clumsy.  I think the best fix will be to fix ChooseHostInterface() to exclude IPs which are `ip.IsLinkLocalMulticast()` or `ip.IsLinkLocalUnicast()`.  The code is easy (I think) and then a test should be straight-forward.

[2015-08-17 04:29] thockin commented on #12780
Can you look at logs for why it is exiting?

Also, please start with kubectl - `kubectl get pods --all-namespaces`

On Sun, Aug 16, 2015 at 9:25 PM, jeanepaul <notifications@github.com> wrote:

[2015-08-17 04:30] mbforbes commented on #11688
@brendandburns @zmerlynn would it be policy-compatible to cherry pick #12029 into a patch release?

[2015-08-17 04:33] thockin commented on #4825
We have, thus far, not settled on an implementation for nominal
services, or really even proposed anything concrete that "feels
right".  The loose coupling between Services and Pods means that a Pod
generally doesn't know anything about Services it serves under.  I am
loathe to give that up.  Brian made good arguments for why the
nominality should not be part of the RC.  That leaves Pod as a
nomin

[2015-08-17 04:37] davidopp commented on #9044
Related comment from @bgrant0607 here
https://github.com/kubernetes/kubernetes/issues/11470#issuecomment-124283056

[2015-08-17 04:46] Hokutosei commented on #12780
Greetings,

hold on, ill check on it. specifically what logs?

for `/var/log/kube-proxy.log`
[code]

[2015-08-17 04:48] thockin commented on #4825
@lvlv

indeed

yeah, for host network, host UTS sounds right, but I have not thought
deeply about that.  @vmarmol

What @smarterclayton was proposing (I think) is the idea that a pod in
a "nominal service" can get a name and/or IP that it can publish and
that others can use to reach that pod.  Same as a hostname and
DNS-to-pods.  Th emain difference is that in a nominal service the
pool of names i

[2015-08-17 04:48] mbforbes commented on #11674
@esecules any update? Did the above steps help?

[2015-08-17 04:49] thockin commented on #12780
I meant the container logs for skydns.  If `kubectl get pods` shows it is
not running, and you think it is restarting, we need to know why

On Sun, Aug 16, 2015 at 9:47 PM, jeanepaul <notifications@github.com> wrote:

[2015-08-17 04:50] mbforbes commented on #11587
@rpatrick00 I'm closing this as it looks like you sorted this particular issue out; please feel free to open another issue about the DNS issues in particular!

[2015-08-17 04:50] #11587 closed

[2015-08-17 04:53] mbforbes commented on #11342
Bump +cc @jlowdermilk @brendandburns

[2015-08-17 04:56] BenTheElder commented on #12682
Cluster is failing to spin up to complete tests. Will continue in the morning.
I ran into an issue where the netperf images were run on the same node as well; is there a way to force them to be on different nodes? I haven't found a way to ensure that yet, so far just having 2 workers and nothing else running had taken care of that.

[2015-08-17 04:56] mbforbes commented on #11304
@lavalamp is there enough in this latest comment to help you debug? Otherwise this might be best closed as "not reproducible" :-/

[2015-08-17 04:57] Hokutosei commented on #12780
oh sorry, did not saw some of your messages

[code]

[code]

[code]

does it look good? I cant connect from a web server node `mongodb-mongos1 ` or do mongo `mongodb-mongos1`

[code]

it was working a week ago though....

[2015-08-17 04:59] mbforbes commented on #11222
+cc @a-robinson for "ServiceController should not be run without a cloudprovider"

[2015-08-17 05:00] thockin commented on #12682
If you give your pod a HostPort (any port, doesn't matter) then the
scheduler CAN'T put them on the same node.

On Sun, Aug 16, 2015 at 9:56 PM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-17 05:02] mbforbes commented on #11123
(higher up, but +cc @a-robinson as well for "ServiceController should not be run without a cloudprovider")

[2015-08-17 05:03] BenTheElder commented on #12682
Thanks, I'll add that.

Cluster is failing when installing pre-requisites on the minions, seems to
be a fedora repo flake, trying one more time then heading to bed to try
again in the morning.

On Mon, Aug 17, 2015 at 1:00 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-08-17 05:03] thockin commented on #12780
Your DNS service seems to be up.

What if you `dig @10.255.240.10 mongos1-router.default.svc.cluster.local` ?

Can you `kubectl --namespace=kube-system get -o yaml pod kube-dns-v6-gp8us`
too?

On Sun, Aug 16, 2015 at 9:58 PM, jeanepaul <notifications@github.com> wrote:

[2015-08-17 05:05] mbforbes commented on #10991
+cc @jlowdermilk in case he'd like a final look, but closing since this seems to be resolved (please re-open if not!)

[2015-08-17 05:05] #10991 closed

[2015-08-17 05:07] thockin commented on #12682
I'm gonna see if I can add you to a GCE project I own.  If not, spin up
your own GCE project and I'll personally reimburse you for this work.
Can't be more that $100 bucks, I'd reckon.

On Sun, Aug 16, 2015 at 10:03 PM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-17 05:09] mbforbes commented on #10973
@adyanthaya17 I'm so sorry this issue fell between the cracks! Were you able to figure it out? Can you provide us with the looping you're talking about?

+cc @roberthbailey in case he has time to look at this tomorrow (I really can't tonight, unfortunately)

[2015-08-17 05:12] roberthbailey commented on #12776
@mikedanese - Yes, it is intended (@dchen1107 wants to have introspection into the master components by way of the kubelet and was just waiting for me to add it back after I'd removed it).

This may be the same underlying issue as https://github.com/kubernetes/kubernetes/issues/12617 but I haven't had a chance to reproduce and verify what is broken.

What happens on the master node is a bit ... un

[2015-08-17 05:13] Hokutosei commented on #12780
Greetings,

sorry, i had to install `dnsutils`

[code]

[2015-08-17 05:16] BenTheElder commented on #12682
Ok. Local cluster is coming up smoothly now, will use that for the moment.
Gotta head off soon though, classes start tomorrow(!)
Looks like i should have more than enough time to get this tidied up and
out though, shouldn't be a problem.

On Mon, Aug 17, 2015 at 1:07 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-08-17 05:17] thockin commented on #12780
Is kube-proxy running?  `ps auxw | grep kube-proxy` on a node.  Is it
working?  `iptables-save` on a node.  Can you pods ping each other at all
(i.e. the basic network requirement)?

On Sun, Aug 16, 2015 at 10:13 PM, jeanepaul <notifications@github.com>
wrote:

[2015-08-17 05:18] thockin commented on #12682
email me your gmail address and I'll try to add you to a GCE project.
Sorry, I should have done that sooner.

On Sun, Aug 16, 2015 at 10:17 PM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-17 05:19] mattma commented on #12774
@thockin Thank you. It works without `--validate`. Confirmed it is a bug of `kubectl` itself.

@feihujiang Thanks. Tried and it works. Glad to see `huawei` to help out the project and join the foundation. Keep in touch.

[2015-08-17 05:21] BenTheElder commented on #12682
sent

[2015-08-17 05:35] wb14123 commented on #12624
I open the `go-etcd` log and find the server send something strange to etcd through `go-etcd`:

[code]

There are **lots** of `AAAA`.

[2015-08-17 05:35] Hokutosei commented on #12780
from a running node i tried ping

[code]

should i try restarting all nodes?, though it is a disaster.... I can't remember doing anything special..

[2015-08-17 05:38] Hokutosei commented on #12780
kube proxy seems to be running

[code]

[2015-08-17 05:40] mattma commented on #12774
Now i am able to test my service, :) thing goes well. Well, I have a question.

After reading the doc on [expose service to external](http://kubernetes.io/v1.0/docs/user-guide/connecting-applications.html). Since you have all of my configuration above,

Q1: how could I access my pod data via service endpoint? (tried `curl http://10.100.81.33:27017`, pending and no response)

Q2: My node app want t

[2015-08-17 05:44] Hokutosei commented on #12780
what seems to be odd is, tried to ping google from a varnish container, nothing seems to be working. somethings wrong...

so this morning, from my API servers, tests are failing, lots of dial tcp timeout from golang web servers. I had to redirect traffic to other servers

[code]

[2015-08-17 05:44] davidopp commented on #9044
Also, node hostname, so people can use label selectors instead of setting nodeName directly.

[2015-08-17 06:03] a-robinson commented on #11222
The ServiceController error is nothing to worry about if you're running locally, only if you're running on a cloud where you expect to be able to create external load balancers.

[2015-08-17 06:04] a-robinson commented on #11123
The ServiceController error is nothing to worry about if you're running locally, only if you're running on a cloud where you expect to be able to create external load balancers.

[2015-08-17 06:07] wb14123 commented on #12624
It seems like the overflow while alloc service ip (in `pkg/registry/service/ipallocator/allocator.go`). If I change the start args from `--service-cluster-ip-range=10.0.0.0/8` to `--service-cluster-ip-range=10.0.0.0/24`, the problem seems to be resolved.

But at least the limit should be warned. And isn't the algorithm too inefficient to store the ip range?

[2015-08-17 06:08] onorua commented on #12703
@bjlee72
I believe it's hardcoded: https://github.com/kubernetes/kube-ui/blob/80202f5ecfdf7cc059e8deb072088830eb43221d/master/shared/js/modules/services/k8sApiService.js#L5

[2015-08-17 06:25] lvlv commented on #4825
@thockin

[QUOTE] What @smarterclayton was proposing (I think) is the idea that a pod in
a "nominal service" can get a name and/or IP that it can publish and
that others can use to reach that pod. [/QUOTE]

I totally agree nominal service is useful, while I believe "DNS to POD" is also useful. They stand for different discovery patterns.
For nominal service scenario, pods are PASSIVELY waiting to

[2015-08-17 06:27] kgrvamsi commented on #12723
Today there was a new issue in one of the cluster with 1.0.1 version and all the minions went down and docker daemon went down.This issue i have raised it earlier #12269 and now will be replying with the information of the logs we have with the present state of the cluster @brendandburns  if you still feel the problem is because of the 0.0.0.0:8080 url then i dont see a point why the minons got st

[2015-08-17 06:36] kgrvamsi commented on #12269
@vishh  @yujuhong  here is the output log of the thing you asked for

http://pastebin.com/raw.php?i=sx3CAr7K

[2015-08-17 06:49] Hokutosei commented on #12780
also from a node

[code]

need to get this back...

[2015-08-17 07:07] BenTheElder commented on #12682
Quick export of local test results, data is pretty noisy.
Tests with 100 req/rep mode:
![userspace](https://cloud.githubusercontent.com/assets/917931/9299522/b2b5519a-448a-11e5-8f14-afd5ef47b507.png)
![iptables](https://cloud.githubusercontent.com/assets/917931/9299523/b2b574cc-448a-11e5-9cf1-b61c3b3da8d1.png)
Test with 1 second mode:
![userspace-1s](https://cloud.githubusercontent.com/assets/9179

[2015-08-17 08:48] #10399 closed

[2015-08-17 08:53] bjlee72 commented on #12703
Yes I saw that. Then, if the setNamespace method is never called, the default namespace is always taken, and the UI will only show the pods created within the namespace. Then, in the current architecture, the pods related to the cluster maintenance would not be displayed.

Then one final question: should this need to be treated as an 'issue' or a new requirement that needs a new UI feature?

[2015-08-17 08:55] gmarek commented on #12760
@ttllyy does this answer your question?

[2015-08-17 09:21] gangadhars commented on #11875
@thockin  @ArtfulCoder
Cluster Info:
172.16.2.93   - kube02 - master and minion
172.16.2.179 - vs01 - minion
172.16.2.63   - vs02 - New node(Want to add it to cluster)

I have tried this https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#add-a-new-member.

root@kube02 # kubectl get nodes
[code]
root@kube02 # ./etcdctl member list
[code]
root@kube02 # ./etcdctl member

[2015-08-17 09:24] devurandom commented on #11000
@mbforbes Very happily, but first I need to get it fully running myself. At the moment my installation still seems to be a bit fragile.

[2015-08-17 09:29] gmarek commented on #12744
I'd bump the priority, as it'll be useful pretty soon.

[2015-08-17 09:58] #12587 closed

[2015-08-17 10:12] biswars opened #12784 "kube2sky not able to connect to the kubernetes api-server"
Kubernetes version: 1.0.3
Set up: Using the local set up with coreos cluster (not using GCE).
Note: I am not using any secrets explicitly and the same was working for the earlier version of kubernetes (have tried with kubernetes version 0.16 earlier)

The cluster set up is working fine locally with 1 master and 1 node. Able to list the nodes using "kubectl get no" command.

However dns pod is not

[2015-08-17 10:13] adyanthaya17 commented on #12465
I am running the kubectl proxy in the machine as my web browser.

The document said to access-http://localhost:8001/static but for example I have two kubernetes cluster created and if the application running. How will it identify the exact node of application I want to view?

[2015-08-17 10:29] Hokutosei commented on #12780
this is tiring, can't get it right, lots of not good things happen including metrics inside webservers & apiservers.

[code]

 did everything I could this afternoon, I can't access backend services, even via domain name, still get timeout. but I can access backends via external ipaddress, but it's not good. will do again when i get back 11pm.

first time to use kubernetes in production after month

[2015-08-17 10:30] kgrvamsi commented on #12379
I see this behavior when i run the kube-api server inside a docker container

    F0817 10:28:11.294801      82 controller.go:80] Unable to perform initial IP allocation check: unable to persist the updated service IP allocations: 502:  (unhandled http status [Moved Permanently] with body []) [0]

[2015-08-17 10:42] kgrvamsi commented on #12624
I get same issue when i start the api-server service inside a container

    F0817 10:40:06.365342     112 controller.go:80] Unable to perform initial IP allocation check: unable to persist the updated service IP allocations: 502:  (unhandled http status [Moved Permanently] with body []) [0]

Command

    ./kube-apiserver --service-cluster-ip-range=10.200.0.0/24 --etcd_servers=http://52.xx.xx.xx:4

[2015-08-17 10:44] pires commented on #12749
@satnam6502 would you be willing to joint effort for this? I already have it working but want to minimize changes to what you have already provided.

[2015-08-17 10:59] #12680 closed

[2015-08-17 11:36] erez-rabih opened #12786 "Per instance pods"
Hi,

I don't know if this is the right place to post this so please bear with me :)

I am using Kubernetes on AWS and I want to be able to run a pod per instance. This pod will be responsible for instance health checks and log collection/delivery to a centralized place.
I want that every instance that joins the cluster will automatically boot with this pod.

1. What is the best practice to do it u

[2015-08-17 11:49] justinsb opened #12787 "Escaping: {{pillar[log_level]}} appears in kube-scheduler command line"
From a launch on AWS (using systemd).

ps -ef
[code]

[2015-08-17 11:52] adyanthaya17 opened #12788 "Connecting wordpress and mysql containers"
Hi,

How to connect the wordpress container with the mysql container running in the kubernetes cluster?

[2015-08-17 11:58] justinsb opened #12789 "AWS appears to be broken by Docker 1.7.1 (#12499)"
AWS broke in the last few days; we can no longer bring up a cluster with master.  I am reasonably sure it is due to #12499; the failures seem to match in the logs and when I revert this commit I can bring up a cluster.

This is on a systemd system (Ubuntu 15.04 Vivid); I had trouble getting this running in the first place due to some systemd/libcontainer bugs (I had to set cgroup_root to a value o

[2015-08-17 12:01] jszczepkowski commented on #12735
@mwielgus

[2015-08-17 12:02] deads2k commented on #12012
There's discussion about various service account improvements/changes here: https://github.com/kubernetes/kubernetes/issues/11070

[2015-08-17 12:09] HaiyangDING commented on #11793
## Some thoughts on multiple schedulers

I have a few thoughts on multiple schedulers here and it would be really great if you can provider some feedback, so that we could have a proposal or something alike earlier. Two things in this post:

1. How to distinguish Pods
2. How does each scheduler behave

### Distinguish Pods

The purpose of separating the Pods is to make sure:

1. any unscheduled Po

[2015-08-17 12:30] #12787 closed

[2015-08-17 12:35] gmarek commented on #12789
cc @piosz @zmerlynn @timothysc @derekwaynecarr @thockin

[2015-08-17 12:43] justinsb commented on #11934
Rather than have a separate process or script that: discovers the volume, tries to mount it and then starts our processes, I am experimenting with using the kubelet for this:
https://github.com/justinsb/kubernetes/commit/334ad491734055bedcd6c7f3cf6154f1f77650bb

Advantages:
* we could easily have hot-failover machines (i.e. run an auto-scaling group with multiple machines).  Mounting a volume is a

[2015-08-17 13:13] justinsb opened #12794 "AWS: Document how to use private repositories"
@andrewhampton suggested that the AWS docs incorporate how to use private repositories with AWS in #11938; I am splitting this off into a separate issue.

https://github.com/kubernetes/kubernetes/pull/11938#issuecomment-126395184

[2015-08-17 13:26] wojtek-t commented on #11962
I can try to pick it up then.

[2015-08-17 13:39] wojtek-t commented on #10475
I was running some tests over the weekend and there are two PRs opened fixing 2 correctness issues. Other than that, I wasn't able to catch any other problem with th Cacher.
So, when those two PRs are merged (#12721 #12782), I'm going to send a PR switching the cache for first resources.

[2015-08-17 13:54] piosz commented on #10782
@erictune I see your point of view and I agree that setting Limits will solve your case. On the other hands I can imagine some other situations when it causes problems rather than solves them. Especially when the estimation is wrong and the user would observe unexpected kill of his container. So that we need to have high confidence while setting Limits and we can't guarantee it from the beginning.

[2015-08-17 14:02] andrewhampton commented on #12794
I left this comment on #11938 as well, but this is probably a better place for it. I ended up using a secret instead of adding the .dockercfg to each minion. While it would be nice to have the option to deploy a .dockercfg to each server, I think the secret option is actually much cleaner since there's no need to make sure the file gets copied to new minions in the cluster.

Instructions on using

[2015-08-17 14:02] smarterclayton commented on #12624
The allocator should prevent you from setting a cluster IP above /16 yes

On Mon, Aug 17, 2015 at 6:42 AM, kgrvamsi <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-17 14:06] wojtek-t commented on #12207
We should also refactor tests under etcd/ directories - all of them are pretty similar and there is huuuuge code duplication there. We already have some "helper" test methods under:
pkg/api/rest/resttest.
We should just extend them and use standard one wherever it is possible.

This would be extremely helpful when we will need to switch to the new etcd client - see #11962, which unfortunately has

[2015-08-17 14:22] zmsp commented on #12660
That output was from the host (Machine where kubernetes running).

Here is the output of iptables-save from the minion node where the pod is running.

[code]

Here is the output for the master node

[code]

[2015-08-17 14:31] smarterclayton commented on #4825
if it is possible

is what I was implying.

Nominalizing pods in advance of services does seem risky.  I would prefer
not to make pods nominizable and try to solve services first, because
everyone needs nominal services and if you create nominal pods without that
design... well...

On Mon, Aug 17, 2015 at 2:25 AM, Lv Lv <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShi

[2015-08-17 14:33] devurandom commented on #11000
@mforbes:

1. Is it correct that the stock [dns addon](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns) will not work in an authenticated k8s environment? I got lots of "bad certificate" messages in the kube-apiserver logs (apparently from kube2sky), until I provided the container with an own kubeconfig file with a proper certificate.
2. The [from scratch guide](https://git

[2015-08-17 14:48] rootfs commented on #12746
The first mount is the kubelet volume plugin space. A unique rbd is mounted only once under `var/lib/kubelet/plugin`.

Second mount is in the Pod's volume storage space, it is a bind mount to the kubelet's volume.

[2015-08-17 14:56] rootfs commented on #12575
@moink635 the long file name is suspcious, I don't find such message in k8s anywhere. Where did you get it?

[2015-08-17 14:57] mbabker commented on #11813
With the 1.0.3 release (which has #12237 included) the provisioning script gets past the point it was failing before but still has issues it seems.  The `/srv/kubernetes` folder does get created and `kube-up` proceeds to call `verify-cluster`, but now I get into an endless loop on the `Waiting for each minion to be registered with cloud provider` check.

I've got a build from master on commit 6afb

[2015-08-17 15:10] pmorie commented on #10587
Fixing this one this morning.

[2015-08-17 15:12] soundofjw commented on #11909
@mbforbes Thanks for the question - we're `--num-nodes 4` - so 4 nodes + GKE hosted master

[2015-08-17 15:25] RichieEscarez commented on #12157
@mbforbes, sorry i got side tracked and meant to update this but yes, thats my plan, i looked into how to change and implement the bootstrap mobile support in our site (thats actually whats used in our banner now). Im working on editing the API now but will get back to this after.

[2015-08-17 15:28] kgoerlitz commented on #7826
Is anyone working on the Azure cluster configuration?  If not, then maybe it should be removed from the kubernetes distribution.

[2015-08-17 15:32] quinton-hoole opened #12799 "Multiple e2e tests failing in parallel with "namespace was not deleted within limit""
e.g. kubernetes-e2e-gce-parallel/6104

Identified problems

Kubectl client Kubectl describe should check if kubectl describe prints relevant information for rc and pods

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:84
Aug 17 06:25:54.496: Couldn't delete ns namespace e2e-tests-kubectl-p4kw2 was not deleted within limit: timed out waiting for the conditi

[2015-08-17 15:34] coreyperkins commented on #7826
kgoerlitz, I agree. I've been waiting for a response for a couple of weeks, but nothing yet. Hopefully it'll get addressed soon...

This is an exciting Kubernetes addition, I hope it doesn't get dropped or ignored!

[2015-08-17 15:36] yujuhong commented on #8416
Container/image GC is among one of the most asked questions from users. Bumping the priority.

/cc @pwittrock, would you want to give it a try and get to know our garbage collectors better?

[2015-08-17 15:37] yujuhong commented on #7606
/cc @gmarek. Per our discussion today, you can reuse this issue for dependency problems :)

[2015-08-17 15:37] quinton-hoole opened #12800 "Multiple e2e reboot tests failing consistently with "Node [xxx] failed reboot test.""
e.g. kubernetes-e2e-gce-reboot/3412/

Identified problems

Reboot each node by dropping all outbound packets for a while and ensure they function afterwards

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/reboot.go:99
Aug 17 08:16:57.838: Node e2e-reboot-minion-6ovw failed reboot test.

Reboot each node by ordering clean reboot and ensure they function upon restart

[2015-08-17 15:39] yujuhong commented on #7607
The abstraction may go through some more cleanup soon. We probably won't document it until the cleanup is mostly done.

[2015-08-17 15:40] quinton-hoole commented on #12800
This has been happening for at least the past week, which is as far back as our archived history of e2e tests goes.

[2015-08-17 15:40] quinton-hoole commented on #12800
@marekbiskup do you perhaps have any further info?  I've been on vacation.

[2015-08-17 15:46] quinton-hoole opened #12801 "e2e scalability test is flaky with "There should be no high-latency requests""
e.g. kubernetes-e2e-gce-scalability/2160

[Performance suite] should allow starting 30 pods per node

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/density.go:155
There should be no high-latency requests
Expected
    <int>: 1
not to be >
    <int>: 0

@fgrzadkowski Do you know whether anyone on your team looking into this?

[2015-08-17 15:49] kelseyhightower opened #12803 "Cannot update kubernetes API server running as a pod -- Failed deleting a mirror pod"
kubernetes version: 1.0.3

I'm currently running kubernetes controller stack as a pod under the kubelet using the following pod manifest. Making any changes to the API server container causes the following error cycle:
- kubelet tries to delete the related mirror pod from the apiserver before starting the new pod and fails.

[code]
### Pod manifest

[code]
### Raw logs from the host:

[code]

[2015-08-17 15:50] kgrvamsi commented on #12624
@smarterclayton is there a problem which i'm giving in the kube-apiserver OPTS?if so can you help me out what can be the ideal settings to make kube-apiserver running?

[2015-08-17 15:50] kelseyhightower commented on #12803
I was able to get things working again after running the following commands:

[code]

[2015-08-17 15:53] quinton-hoole opened #12804 "kubernetes-e2e-gke-ci-reboot e2e test is perma-broken with "Kubelet stopped posting node status" after reboot"
e.g.
kubernetes-e2e-gke-ci-reboot/2633/

Root cause seems to be multiple cases of nodes not becoming ready within 5 minutes after a reboot, e.g.

Aug 17 06:16:54.677: INFO: Node gke-jenkins-gke-e2e-ci-reboot-a503d07f-node-m0el condition 1/1: type: Ready, status: Unknown, reason: "Kubelet stopped posting node status.", message: "", last transition time: 2015-08-17 06:11:55 -0700 PDT
Aug 17 06:16:59

[2015-08-17 15:55] quinton-hoole commented on #12804
Possibly related to #12800

[2015-08-17 15:57] zmerlynn commented on #11688
@mbforbes: Seems like it.

[2015-08-17 16:01] zmerlynn opened #12805 "release-1.0 Shippable broken after rename"
Please propose cherry-pick any changes after the great rename into the release branch.

See e.g. #12559

[2015-08-17 16:03] quinton-hoole commented on #9486
Test is 100% stable now.  Closing.

[2015-08-17 16:03] #9486 closed

[2015-08-17 16:03] satnam6502 commented on #12749
I am happy to help in any way -- esp. if we can do it ssonish since I only have two weeks left at Google.

[2015-08-17 16:04] satnam6502 commented on #9486
Great news! Thanks.

[2015-08-17 16:10] roberthbailey commented on #12465
You need to use `kubectl config set-context` to select the cluster to which kubectl (including kubectl proxy) connects to. See http://kubernetes.io/v1.0/docs/user-guide/kubectl/kubectl_config_set-context.html.

[2015-08-17 16:15] zmerlynn commented on #12789
@justinsb: If you're interested, https://github.com/kubernetes/kubernetes/pull/12499/files basically shows the per-provider way to override docker, so you could suppress it on AWS temporarily by doing something like:

[code]

[2015-08-17 16:15] pires commented on #12749
@satnam6502 what's your timezone? Can we try tomorrow on IRC?

[2015-08-17 16:16] pmorie commented on #831
@resouer A couple thoughts on `volumes-from`:

1.  This approach will be racy, since the source container will have to copy data into the volume.  The container consuming data from the volume will have to:
    1.  Know what to expect in the volume
    2.  Monitor the volume and wait for the data to be copied in
2.  As you say, this is a docker-only feature; I'm hesitant to depend on this since ide

[2015-08-17 16:17] satnam6502 commented on #12749
Pacific, I work at Google HQ in Mountain View.
I get very little in the way of sleep so I am very open to very early or
very late meetings.

On Mon, Aug 17, 2015 at 9:16 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-08-17 16:22] pires commented on #12749
10am EST is doable?

[2015-08-17 16:24] thockin commented on #12660
That dump shows that kube-proxy at least ran once, but it is either not
running now or it is not receiving updates from the apiserver.  Can you see
if it is running?

On Mon, Aug 17, 2015 at 7:23 AM, Zobair <notifications@github.com> wrote:

[2015-08-17 16:24] satnam6502 commented on #12749
(switching to email to continue discussion)

[2015-08-17 16:28] paralin commented on #11961
Okay, you're right, it took me 30 seconds. I'll write up a test too and pr>

[2015-08-17 16:28] gmarek opened #12806 "Need a 'reasonable' point at which monitor-resource should fail"
Today failures (in the flaky suite) was caused by Docker Daemon CPU usage. Current limit is 0.1, which seems quite high for me, but it still fails. I saw values up to 0.4, which is ridiculous.

We need to decide what usage should trigger failures. The test is supposed to run on an 'empty' cluster (i.e. not in a parallel, and it's not starting anything). Currently it compares each node with the bou

[2015-08-17 16:29] quinton-hoole commented on #10792
I've confirmed that this test is again 100% stable.  Closing.

[2015-08-17 16:29] #10792 closed

[2015-08-17 16:29] pmorie commented on #9473
@vishh Got it.  I don't think anyone's talked about a versioned format, but I think versioning is a good idea.  #5093 will add a volume plugin for the fields usable with the existing downward API.  It seems like the versioned file format would be a special case for that plugin -- agree?

[2015-08-17 16:30] bgrant0607 commented on #12786
Hi, @erez-rabih.

Currently the recommended way is to create a file on each node that the Kubelet reads, described #10093.

Work is underway to add a "daemon controller" (#1518) that would do this more automatically.

Another possible workaround is to create a ReplicationController with a pod template using a hostPort, with as many replicas as nodes.

[2015-08-17 16:32] justinsb commented on #12789
@zmerlynn Thanks - I can work with the manual revert of the two commits for now, and I'd love to help get this fixed properly!  I did notice that Docker 1.7.1 uses libcontainer 2.1.1, but we are using 2.2.1 I believe.  But I looked at the diffs and didn't see a smoking gun (though I could have missed it).  The whole runc thing is not helping me make sense of what is going on here!

[2015-08-17 16:35] thockin commented on #12789
@dchen1107

On Mon, Aug 17, 2015 at 5:36 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-08-17 16:39] roberthbailey commented on #11000
/cc @mikedanese (for your first question)

For the second question, it should work with different credentials per kubelet, but we don't do this today using any of the automated cluster creation scripts. The part that isn't ready yet is the authorization framework in the apiserver that can differentiate clients from each other. Right now having any valid credentials gives you complete access to the

[2015-08-17 16:41] quinton-hoole commented on #12806
To clarify, Docker Daemon is using 40% of a CPU core when no containers are running?  If so, that does indeed sound ridiculous, and warrants further investigation.

Having said that, a pragmatic immediate approach might be to set the limit for test failures to be slightly above whet we're seeing in practise right now (e.g. 0.5?), and work on reducing that limit as a separate issue.  That way at le

[2015-08-17 16:43] justinsb commented on #12789
(Oh, and I'm happy to submit a PR to temporarily roll this back on AWS only, but I presume we'd rather fix it!)

[2015-08-17 16:45] pmorie commented on #8379
The daemon controller won't solve the problem of running static pods that use secrets.

Thinking about it a little, this is perhaps a case where splitting the API into different feature sets makes sense.  You only need the API for secrets and service accounts in order to work with them from mirror pods.

@satnam6502 I'm not sure we can get rid of static pods once we have the daemon controller.  Th

[2015-08-17 16:45] thockin commented on #12786
There are two ways to do this.  The first is to drop a config file onto
each node (/etc/kubernetes/manifests by default) which will launch a Pod.
The more modern approach is to use the Daemon feature, which was added
recently in the 1.1 (alpha) channel.  If you're building kubernetes from
HEAD and willing to be at the bleeding edge, you should take a look at
Daemon.

http://code.k8s.io/pkg/api/typ

[2015-08-17 16:46] pmorie commented on #11070
@deads2k Yep, I don't mean at all to say that we should put the brakes on incremental improvements.  I just think we have enough things we want to change about secrets / service accounts that it might be easier to collect them into a single design doc and solve them in one place at one time rather than having _n_ different github issues.

[2015-08-17 16:48] vishh commented on #10782
The one that exceeded more (but there is a rounding error which we hope wouldn't matter much).

[2015-08-17 16:50] thockin commented on #12784
Please see if #10265 applies.

On Mon, Aug 17, 2015 at 3:12 AM, biswars <notifications@github.com> wrote:

[2015-08-17 16:51] smarterclayton commented on #12624
A 24 should be fine - you may want to verify that the other default flags
in your case are not > a /16.  You may also have to delete the etcd key
that controls the allocations on whatever etcd server you're pointing to

On Mon, Aug 17, 2015 at 11:50 AM, kgrvamsi <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-17 16:52] vishh commented on #9473
@pmorie: Yup!

[2015-08-17 16:59] gmarek commented on #12806
Yup. Docker Daemon was using 40% of a CPU core when no containers were supposed to be running. It's in the Jenkins flaky suite run 3820. Scanning through other runs I saw Docker Daemon that were using more than 100% CPU (run 3815), and setting threshold this high seems... counterproductive.

[2015-08-17 17:00] zmsp commented on #12660
It seems like kube-proxy is running

output of ps ax|grep kube-proxy on master and minions:

minion node where my pod is running:
[code]
master:
[code]
...

What would have started the kube-proxy?  Is it automatically started when a service is created?
when the node starts?  The instructions for libvirt-coreos say nothing about starting kube-proxy.
Could you please point me to the direction of the

[2015-08-17 17:05] mikedanese commented on #11000
In answer to one:

 By default, kube2sky will use the inClusterConfig system to configure the secure connection. This requires kubernetes version `v1.0.3` or higher and a couple extra kubernetes configuration steps. Firstly, for your apiserver you must create a SSL certificate pair with a SAN that includes the ClusterIP of the kubernetes service. Look [here](https://github.com/kubernetes/kubernete

[2015-08-17 17:13] gmarek opened #12809 "Soak tests are red for quite some time now."
@quinton-hoole

[2015-08-17 17:24] mikedanese commented on #12805
There are two ways to fix this:

1. I can PR a one line commit to fix shippable.yml, but the change will not be in master
2. I cherry-pick the "rewrite all import paths to k8s.io/" commit.

Do you have a preference?

[2015-08-17 17:25] roberthbailey commented on #12803
/cc @nikhiljindal @mikedanese

[2015-08-17 17:28] thockin commented on #12588
@saad-ali

Very odd indeed!

On Fri, Aug 14, 2015 at 6:20 AM, Emma He <notifications@github.com> wrote:

[2015-08-17 17:29] zmerlynn commented on #12805
The latter would improve cherry-pickability of anything else, wouldn't it?

[2015-08-17 17:29] thockin commented on #12690
@caesarxuchao @krousey anyone have bandwidth for this change this week?  I am buried.

[2015-08-17 17:30] nikhiljindal commented on #12803
cc @dchen1107

[2015-08-17 17:31] mikedanese commented on #12805
Sure, I will prepare that.

[2015-08-17 17:35] krousey commented on #12690
@thockin Probably not. I'm trying to finish up a few things before I take time off to move.

[2015-08-17 17:35] quinton-hoole commented on #12809
Indeed, thanks @gmarek.

The problems started on Aug 14, 2015 9:45 PM (/job/kubernetes-soak-continuous-e2e-gce/2756/)

The root cause of all failures is that one of the nodes in the test cluster stopped posting node status (after 3 days of running continuous e2e tests).

Aug 15 00:13:55.512: INFO: Node gce-soak-weekly-minion-k50q condition 1/1: type: Ready, status: Unknown, reason: "Kubelet stoppe

[2015-08-17 17:37] yujuhong commented on #12806
Was there really no containers running at all? There are default addon pods in an e2e cluster (~14 containers). Depending on how the pods are split between the nodes, the cpu usage may vary too. Sometimes most pods would be scheduled on the node that registered first, causing the skew.

As for your test, I think the resource usage may fluctuate too much due to the sampling (5 sec * 5 times). Besid

[2015-08-17 17:41] yujuhong commented on #12540
@lleszczu, thanks for offering help! I am still at the phase of writing design doc and building prototypes. I will update the issue soon for the details.

[2015-08-17 17:44] Hokutosei commented on #12780
finally 2:30am. upon reading the log of `kube2sky` container

[code]

note that, this node, i created it by by editing the instance group, and bumping up the number of instances, and kubernetes re-scheduled `kube2sky` to that node.. I dont know why it throws that error `no route to host` it may have missed something?

then, I'm not sure how to reschedule `kube2sky` (to remove it from the problemat

[2015-08-17 17:46] dchen1107 commented on #12806
Sigh! It is known issue when running some docker operations, like docker load, docker daemon uses tons of CPU. Also docker daemon has memory leakage issue badly (Even in docker 1.7.1.), but that is out of the scope here.

Also please note that for all resource-only containers, like docker daemon, kubelet, and kube-proxy, currently we allocate them with default cpu shares, (1024), and without hard

[2015-08-17 17:46] gmarek commented on #12806
Thanks @yujuhong - IIUC you're using 1 minute intervals, which will indeed be much smoother, but I don't think 5 * 5 sec is too short. Especially if an average is over 100%. Of course by 'no pods' I meant 'no user pods' - system Pods were running as always.

Maybe you can fail kubelet test if Xth percentile is above Y (for some X and Y)?

[2015-08-17 17:49] caesarxuchao commented on #12690
I can do this later this week.

[2015-08-17 17:55] gmarek commented on #12806
@dchen1107 - the goal of this test is to allow monitoring of how bad Docker Daemon is hurting us and to notice regression in other components - I'm thinking about adding a FluentD container to the list... I think that some level of flakyness is to be expected.

If we're allocating Docker, Kubelet and KubeProxy 1024 shares, then if all of they go haywire it leave only a  1/4 of a CPU left for user,

[2015-08-17 17:59] thockin commented on #3752
An interesting side-effect of changing this from *Label to *Subdomain (i.e. allowing dots) is that you could create a service called "google.com" and the DNS lookup rules would hit your service rather than the real site.

I'm still in favor of lengthening Service names, perhaps all the way to 1123 labels, but not to subdomains.  Too easy to abuse.  I wonder now, with hindsight, whether it was wise

[2015-08-17 18:03] yujuhong commented on #12540
I've written a proposal to better handle discovering container state changes.
 1. The first part of the proposal adds a pod lifecycle event generator to avoid periodic polling that hammers docker. See #12802
 2. The second part of the proposal integrates a pod cache to store the container/pod states. See #12810

Sub-issues to be created later.

Besides the proposal above, there are other low-hangi

[2015-08-17 18:07] BenTheElder commented on #12682
Getting a lot of connection refused on GCE, been trying to debug. Otherwise have it configured and ready to go, just having commands fail like:
[code]

[2015-08-17 18:11] mbforbes commented on #11688
@zmerlynn ack, thanks. Who should do this? @mcadam are you willing?

[2015-08-17 18:11] yujuhong commented on #12540
/cc @dchen1107

[2015-08-17 18:11] mbforbes commented on #11688
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/cherry-picks.md

[2015-08-17 18:12] piosz commented on #10782
By 'more' you mean relative or absolute value?

[2015-08-17 18:14] dchen1107 commented on #8416
Cleanning / refactory GC is in our 1.1 roadmap too.

[2015-08-17 18:20] BenTheElder commented on #12682
Looks like it might be related to https://github.com/kubernetes/kubernetes/issues/12776.

[2015-08-17 18:20] mbforbes commented on #12157
@RichieEscarez SGTM!

[2015-08-17 18:21] quinton-hoole commented on #12809
Digging a bit further, the GCE VM is stuck in a kernel oops (see below for more details).  SSH daemon is dead, and the serial console output shows that the machine has apparently not output anything there for two days.  I'll reboot the node for now, and speak to the GCE folks about whether there's a way to automatically restart such VM's.  This VM has default availability policies, which *should*

[2015-08-17 18:22] BenTheElder commented on #12682
Running the test snippet from there, i see the same issues, apiserver and docker are going down for a while then coming back up briefly.

[2015-08-17 18:22] mbforbes commented on #11909
Ah, so the simple answer doesn't work! :-)

+cc @roberthbailey

[2015-08-17 18:24] BenTheElder commented on #12776
I'm seeing this on a similar setup on GCE, apiserver and docker seem to be going down on master then popping back up for a sec before going back down. Going to try the fix @uluyol listed and report back.

[2015-08-17 18:26] thockin commented on #7826
Summoning everyone I can:

@ahmetalpbalkan @jeffmendoza @errordeveloper @squillace @chanezon @crossorigin

If we can't get a stable Azure experience we'll have to take Azure off the list of platforms.

[2015-08-17 18:27] BenTheElder commented on #12776
Listed fix seems to be working.

[2015-08-17 18:28] BenTheElder commented on #12682
Fix works. Noted upstream in #12776. I'll continue testing now.

[2015-08-17 18:31] nikhiljindal commented on #11505
/sub

cc @ironcladlou

[2015-08-17 18:32] mikedanese commented on #7826
@errordeveloper @squillace @chanezon @crossorigin work on coreos/azure which is stable and maintained. This issue is regarding the azure/ubuntu/saltstack setup which has no community maintainers according to this doc. https://github.com/kubernetes/kubernetes/tree/master/docs/getting-started-guides

[2015-08-17 18:35] dchen1107 commented on #12806
@yujuhong Thanks! From what you reported, the usage of /docker-daemon, /kubelet, /kube-proxy and /system is much saner. But /root cgroup usage seems pretty high. I am wondering if there some processes are not moved in proper subcgroups. It is hard to believe kernel threads are using that much cpu.

@gmarek I decided to leave all those resource-only containers with 1024 CPU shares by default for 1.

[2015-08-17 18:40] ravigadde commented on #11470
@bgrant0607

Thanks for your comments.

1. I was trying to latch on to an existing abstraction. I can introduce a new abstraction.
2. None that I am aware of without needing to change the binary. As I have mentioned before, we have a requirement to be able to call out from the stock scheduler binary for our extensions.
With regards to bind/unbind calls, in our case some resources are tracked outsi

[2015-08-17 18:45] benjaminapetersen commented on #12447
From the perspective of a web UI it would be ideal to get streaming logs via WebSockets.  Angular's $http doesn't support chunked http requests, neither does jQuery.ajax.  The browser will compile the chunks behind the scenes, waiting until all data is received then return it.  A raw XMLHttpRequest and an ArrayBuffer can be used to hack around this, but its not the most pleasant of workarounds.  W

[2015-08-17 18:45] kgrvamsi commented on #12624
Infact with the same settings its working on docker 1.7 and with related to etcd how difference it makes becaz the api server started working

[2015-08-17 18:52] mbforbes commented on #7826
@mikedanese ah thanks for the summary. Given that coreos is stable and maintained on Azure, but Ubuntu on Azure has issues, maybe we should have our top-level getting started guide for Azure point to the setup that is stable and maintained?

Otherwise it seems that anyone trying out the project will go to the Azure guide and get stuck.

[2015-08-17 18:59] yujuhong commented on #12806
No problem. Using a longer period definitely helps.

Another difference is that you collect some 5-second samples, which may be quite high if you're unlucky (what if you always sample when kubelet is syncing?). My test polls every 5 second and calculate the cpu usage by subtracting the cpu seconds in the past period, so it'd get a better picture the overall usage.

The problem with system pods is

[2015-08-17 19:13] vishh commented on #12269
The events are old. I see a systemd service dependency check failure.
[code]
What are the dependencies for kubelet service? Docker?

[2015-08-17 19:23] coreyperkins commented on #7826
Not to confuse things, the coreos example does seem stable, but I have reported a problem here (https://github.com/kubernetes/kubernetes/issues/12224) for anyone interested.

[2015-08-17 19:24] coreyperkins commented on #12224
Thanks for the tags mbforbes, I'm certainly still looking for a solution.

[2015-08-17 19:25] stevesloka opened #12814 "Docker k8s cluster - private repo"
I'm using the docker setup which bootstraps a cluster by just running three docker commands. I'm looking  to pull images from my private internal repo. Is there a way to volume in my .dockercfg?

Ideally I could just volume my files into /var/lib/kubelet but then I would need that on my host.

As a brute force, is there a public docker file for the images that are used that I could hack to add my

[2015-08-17 19:25] lleszczu opened #12815 "RBD volume on CoreOS require udev rules."
RBD driver requires rbd device path in format ```/dev/rbd/<pool name>/<image name>``` while latest kernels places it under ```/dev/rbd{number}```. Driver should check dev name by executing "rbd showmapped" command.

[2015-08-17 19:42] bliss commented on #12746
Thank you very much!

[2015-08-17 19:42] thockin commented on #12526
The volumes-from idea was what I meant when I originally filed #831.  It's
a little complicated because ordering dependencies may not be something we
want to solve generically.  There are a number of ways this can be used,
and I think that is the main reason we haven't done it yet - scoping the
various solutions, analyzing trade-offs, and a deciding what we are and
are-not supporting.

I think it'

[2015-08-17 19:45] quinton-hoole opened #12816 "kubelet generates ~6MB/min of logs"
This seems wrong?

~$ ls --full-time -sh /var/log/kubelet.log
85M 2015-08-17 19:32:16.488672699
$ ls --full-time -sh /var/log/kubelet.log
91M 2015-08-17 19:33:16.652642208

Here are the main culprits on the node I'm currently looking at:

$ cat /var/log/kubelet.log | awk '{print $4}' | sort | uniq -c | sort -nr
  46863 manager.go:293]
  23000 kubelet.go:2315]
  11845 volumes.go:95]
  11730 volumes

[2015-08-17 19:46] thockin commented on #12120
Sorry for the delay:

Client affinity is NOT enabled by default.  Note that the Client IP here is
the pod IP, not the node IP.

On Mon, Aug 3, 2015 at 8:34 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-08-17 20:10] quinton-hoole opened #12818 "Enable /proc/sys/kernel/panic_on_oops on nodes so that they don't go AWOL"
#12809 refers

Currently our nodes don't panic on oops, which causes them to simply go AWOL.

$ cat /proc/sys/kernel/panic
10
$ cat /proc/sys/kernel/panic_on_oops
0

On Monday, August 17, 2015 at 12:46:00 PM UTC-7, Eric Northup wrote:

[2015-08-17 20:19] jlowdermilk commented on #11342
I think we can close this, unless someone has a more recent repro.

[2015-08-17 20:24] prehensile commented on #11453
Until 1.1 is released, and for those of us who don't fancy compiling tools (for instance, if they're provided by Google Cloud), I've written a [Python script](https://gist.github.com/prehensile/841cb7f0bb822ea902cd#file-kube-resources-py) which might be helpful for others. For each node, it adds up total pod resource limits and shows that as a percentage of node capacity.

[2015-08-17 20:29] thockin commented on #12624
If you set the service-cluster-ip-range=10.0.0.0/8 then you will have a
problem.  That record stores a bitmap, you're asking it to store > 2 MB of
data, which is larger than etcd handles.  We assumed most people would use
/16 or smaller (8 KB).

On Sun, Aug 16, 2015 at 11:07 PM, Bin Wang <notifications@github.com> wrote:

[2015-08-17 20:30] thockin commented on #12624
I'll open a new bug to validate the size

[2015-08-17 20:33] roberthbailey commented on #12814
/cc @brendandburns

[2015-08-17 20:33] thockin opened #12820 "Service IP registry assumes CIDRs of /16 and smaller (less IPs), too big fails"
If you spec a /8 for your service Cluster IPs, the bitmask becomes 2 MB, which is too big for etcd.

We should enforce that the prefix be /12 or smaller or something like that.

@smarterclayton

[2015-08-17 20:33] thockin commented on #12624
https://github.com/kubernetes/kubernetes/issues/12820

[2015-08-17 20:33] roberthbailey commented on #12815
@thockin Do you know who the maintainer for the RBD volume code is?

[2015-08-17 20:33] thockin commented on #12624
is this issue resolved now?

[2015-08-17 20:35] roberthbailey commented on #12816
How many containers are you running on the node? Presumably the amount of output would scale with the number of containers (since we print out the inspect result).

Also note that we run the kubelet at `v=2` by default. Maybe we should consider running at a lower verbosity -- or change the verbosity of some of the larger / more frequent log lines.

[2015-08-17 20:38] thockin commented on #12815
@rootfs

On Mon, Aug 17, 2015 at 1:34 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-08-17 20:46] smarterclayton commented on #12820
Yes

[2015-08-17 20:48] vsimon opened #12822 "vagrant kube-up.sh broken"
This was working earlier today but now tried multiple times and I am seeing this error.

* curl -kL https://github.com/GoogleCloudPlatform/kubernetes/releases/download/v1.0.1/kubernetes.tar.gz | tar xz
* cd kubernetes
* KUBERNETES_PROVIDER=vagrant cluster/kube-up.sh

[code]

I think it is this line:
https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/provision-master.sh#L269

Beca

[2015-08-17 20:52] #12574 closed

[2015-08-17 20:53] #10587 closed

[2015-08-17 20:55] vsimon commented on #12822
The link is working again, carry on.

[2015-08-17 20:55] #12822 closed

[2015-08-17 21:10] bgrant0607 commented on #1702
Unfortunately, it doesn't appear that #8662 has yet produced a usable solution and the author of that PR just commented that they need to hand off the work to someone else.

[2015-08-17 21:11] vishh commented on #10782
@piosz: I updated my original comment. Does it make sense now?

[2015-08-17 21:14] yujuhong opened #12826 "Restructure SyncPod in kubelet"
This is forked from #12540.

Proposal #12802 adds a pod lifecycle event generator. This requires pod workers in kubelet to know what events to expect in from the actions of `SyncPod`.

**Background**: [`SyncPod`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/runtime.go#L56) is the all-encompassing function defined in the container runtime interface to drive pod states

[2015-08-17 21:16] bgrant0607 commented on #12786
Let us know if you have further questions.

[2015-08-17 21:16] #12786 closed

[2015-08-17 21:16] bprashanth commented on #561
Please review https://github.com/kubernetes/kubernetes/pull/12827 when you have time

[2015-08-17 21:20] bgrant0607 commented on #12774
@thockin This is a bug in the API specification. NodePort should be tagged omitempty:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L1181

[2015-08-17 21:28] rootfs commented on #12815
@lleszczu  `/dev/rbd{number}` is a symlink to `/dev/rbd/pool/image`, created by udev helper `ceph-rbdnamer(8)`

[2015-08-17 21:29] bgrant0607 opened #12828 "Support setting env vars in kubectl run"
Something like `kubectl run --env="VAR=value" image`. Multiple --env flags should be accepted. Comma-separate values would get into an escape rathole, so I'd like to avoid that.

[2015-08-17 21:31] jackgr commented on #1702
Noted, thanks. Per my comment there, I'm going ahead with the strategic merge patch aware implementation of CreatePatch aka StrategicMergeCreatePatch as part of apply aka reconcile. When apply aka reconcile is done, whoever picks up #8662 should be able to call StrategicMergeCreatePatch and StrategicMergePatchData, which is the existing routine that applies a strategic merge patch, and then perfor

[2015-08-17 21:35] yujuhong commented on #12816
Clarification:  The inspect logging line is at v=3, so this is only a problem for a testing cluster ([v=4](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L58)).

[2015-08-17 21:40] quinton-hoole commented on #12816
Aah - given @yujuhong's explanation, I'm happy to close this as working as intended.

It's probably worth checking that our scalability testing clusters are not running at such high log verbosity, as I'm pretty sure that this level of logging will skew scalability and performance.  @wojtek-t you might want to check that.

[2015-08-17 21:41] #12816 closed

[2015-08-17 21:45] kgoerlitz commented on #7826
Yes, the coreos/azure setup works, but if the azure/ubuntu/saltstack setup worked, it would be a cleaner deployment.  (It is easier to configure (i.e. control over cloud service, virtual network, and hostnames), uses the standard cluster setup/tear-down scrpts, etcd on master instead of requiring addiotnal VMs, heapster included by default, ...).

[2015-08-17 21:56] rootfs commented on #12815
@lleszczu what's your ceph package and kernel version?

[2015-08-17 22:05] mbforbes commented on #11342
@Hokutosei are you still seeing this? Can you give any more info, if so?

[2015-08-17 22:13] mikedanese commented on #12776
I have a hunch this is caused by some supervisord/docker interplay but I have no idea why this is not affecting e2e. @brendandburns can you please take a look. This is happening consistently on gce kube-up from master.
[code]

[code]

when I stop supervisord for a few minutes and start it again, the restart loop seems to be fixed.

[2015-08-17 22:14] asridharan commented on #12459
I was putting a list together for all the iptables module required, but then realized that modprobe itself might fail if some of the modules might be compiled within the kernel. So, rather then taking care of every module being present, wouldn't it be better to throw a more elaborate error and exit when iptables commands cannot be executed?

The iptables command being executed are pre-canned so we

[2015-08-17 22:18] thockin commented on #12459
I'd rather TRY to load modules we know we need first.  If that succeeds,
hooray.  If that is insufficient, then complain loudly.  Better to not make
admins do it.

On Mon, Aug 17, 2015 at 3:14 PM, asridharan <notifications@github.com>
wrote:

[2015-08-17 22:19] asridharan commented on #12459
Sounds reasonable. Will put up a list shortly.

[2015-08-17 22:24] camechis commented on #7826
Agree with the previous comment.

On Mon, Aug 17, 2015, 5:45 PM kgoerlitz <notifications@github.com> wrote:

[2015-08-17 22:35] thockin commented on #12774
Is it kosher to change it?  Being a primitive type, Go will always include
it (which makes me unhappy in its own way).

On Mon, Aug 17, 2015 at 2:20 PM, Brian Grant <notifications@github.com>
wrote: