[2021-03-09 21:38] robscott commented on #100033
/triage accepted

[2021-03-09 21:39] #94435 closed

[2021-03-09 21:57] aojea commented on #100033
/cc

[2021-03-09 22:35] Jeffwan commented on #100022
/triage accepted
/sig node

[2021-03-09 22:38] ams0 commented on #97256
Hello! I am from the Bug Triage team! Friendly reminder that code freeze is starting March 9th, 2021 (today!).

As the Issue is tagged for 1.21, but no PR is linked, are we still working on this? It seems like a great documentation addition if not for this cycle, definitely for the next (I've been thru migration to projected tokens, and this seems a reasonable addition).

[2021-03-09 22:39] devedse commented on #55713
Hey all, I'm somewhat new to Kubernetes and have only recently build my own first cluster using K3S. Reading this issue gave me quite some questions on the working of Kubernetes though:

1. I read here that the timeout if a node goes offline is 5 minutes. To me this feels incredibly long. I would expect the nodes to be connected on the same network so if it's unreachable for a few seconds it shoul

[2021-03-09 22:51] yliaog commented on #99770
'watch' on ConfigMap or Secret would work

[2021-03-09 22:56] neolit123 commented on #99909
i can send the PR for this.

should the tag be `MinimumKubeletVersion` instead of `MinimumKubelet`?

[2021-03-09 23:02] liggitt commented on #99909
sgtm

[2021-03-09 23:16] yliaog commented on #99938
you may use field selectors on a limited set of fields:
https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/

[2021-03-09 23:17] visunali commented on #100022
We are using AWS EKS which is using private DNS name as node name. There is likelihood that EC2 can select exactly same private DNS name for new node after another node with same name gets terminated.

[2021-03-09 23:17] yliaog commented on #99938
generic field selectors are not supported, please see discussions https://github.com/kubernetes/kubernetes/issues/1362

[2021-03-09 23:24] thockin commented on #24875
Unless I am misunderstanding, that Service will select both deployments and will try to route both service ports to both backends.  IOW half the traffic will fail.

There *is* a way to achieve the desired result.  To do this you have to use named ports, rather than numbered (it seems the OP assumed that they behave the same, but they do not).

[code]

[2021-03-09 23:27] tamalsaha opened #100043 "go-openapi/validate bug with Go 1.16"
#### What happened:
go-openapi/validate library has a bug that gets exposed with Go 1.16 compiler. Here is the upstream issue: https://github.com/go-openapi/validate/issues/137

k8s master uses the buggy version and our test shows the error with Go 1.16 compiler. The same code works correctly with Go 1.15.8 compiler.

#### What you expected to happen:

#### How to reproduce it (as minimally and pr

[2021-03-09 23:28] tamalsaha commented on #100043
/sig apimachinery

[2021-03-09 23:31] tamalsaha commented on #100043
cc: @sttts

[2021-03-09 23:54] cheftako commented on #100000
Your issue is your fix.

[2021-03-10 00:04] jsturtevant commented on #99365
I ran the test continuously:

[code]

I am guessing this might be due to some of resources constraints we have seen when other tests runs at the same time (such as #95226).  looking into it further...

[2021-03-10 00:07] #99577 closed

[2021-03-10 00:08] #100043 closed

[2021-03-10 00:18] atoato88 commented on #100000
Awesome!! :100:
/woof

[2021-03-10 00:36] heyste opened #100047 "Pod timeout flakes - "cannot find volume \"kube-api-access-2t44s\" to mount into container""
The following e2e Conformance Tests are showing a similar pattern in the way that they are flaking.

- `should run through the lifecycle of Pods and PodStatus`
- `should test the lifecycle of a ReplicationController`
- `should run the lifecycle of a Deployment`

When the initial pod is scheduled for the test it's timing out and the test fails. Checking `kubelet.log` shows the first reference for t

[2021-03-10 00:38] chewong commented on #99365
Maybe we can consider making it a serial test case?

[2021-03-10 00:40] heyste commented on #100047
During the conformance meeting earlier today there was a discussion this group of flakes. The feedback given by @smarterclayton  is that issue isn't with the tests but likely with kubelet or the cri.

Thanks for the helpful feedback @smarterclayton!

[2021-03-10 00:40] heyste commented on #100047
/sig node

[2021-03-10 00:43] ehashman commented on #98976
There are 3 more areas it looks like we have left to migrate, updated https://github.com/kubernetes/kubernetes/issues/98976#issuecomment-790956023 and the PR list

[2021-03-10 00:48] BenTheElder commented on #99517
first thought: https://github.com/kubernetes/kubernetes/pull/100046

[2021-03-10 00:50] BenTheElder commented on #100047
Do we know what sort of volumes are missing? Is this happening in any of the GCE jobs, or only kind?

[2021-03-10 00:51] heyste commented on #100047
Only seen this for kind jobs so far

[2021-03-10 00:52] heyste commented on #100047
will check if there are any GCE jobs with the same issue

[2021-03-10 00:54] heyste commented on #100047
Most of the volumes prefixes I've seen are for `kube-api-access-`

[2021-03-10 01:02] neolit123 commented on #99909
https://github.com/kubernetes/kubeadm/pull/2403

[2021-03-10 01:04] heyste commented on #100047
Looks like the type of flake are only showing up on kind jobs

[2021-03-10 01:11] neolit123 commented on #99909
https://github.com/kubernetes/kubernetes/pull/100050

[2021-03-10 01:15] Huang-Wei commented on #94009
After discussion with @ahg-g , due to 1.21 code freeze (today), we decided to postpone merging most of the opening PRs here. Apologize for that - we'd better not rush to avoid regressions. So priority your time on the on-going PRs, we will still review them, just take your time :)

[2021-03-10 01:20] yuzhiquan opened #100052 "Feature: set ignore errors as default for drain,and deprecated flag"
#### What would you like to be added:
As discussed [here](https://github.com/kubernetes/kubernetes/pull/99396#discussion_r590815716), we will  set ignore errors as default for drain,and deprecated flag,timeline is like this:

- [x] Add deprecated message in v1.22 https://github.com/kubernetes/kubernetes/pull/102677
- [x] Set  ignore errors  default  to true, and remove --ignore-errors flag in v1.2

[2021-03-10 01:21] yuzhiquan commented on #100052
/sig cli

[2021-03-10 01:21] yuzhiquan commented on #100052
/cc @shiyajuan123
/assign

[2021-03-10 01:24] BenTheElder commented on #100047
GCE is also using kube-up versus kind using kubeadm.
Given these appear to be projected service accounts we should probably look into what's happening setting those up. That doesn't sound like a CRI issue to me.

[2021-03-10 01:33] knabben commented on #98220
/close

[2021-03-10 01:33] #98220 closed

[2021-03-10 01:33] neolit123 commented on #99909
https://github.com/kubernetes/community/pull/5622

[2021-03-10 01:39] #99786 closed

[2021-03-10 01:41] robscott commented on #100033
When this bug is fixed, we'll need to rollback https://github.com/kubernetes/kubernetes/pull/100027.

[2021-03-10 01:45] BenTheElder commented on #99517
Tracking this as a follow up to https://github.com/kubernetes/enhancements/issues/2420 as this is a regression over bazel (which had fine grained target groups and none of the rsync shenanigans).

[2021-03-10 01:47] ehashman commented on #82987
/reopen
/remove-lifecycle rotten

@jackfrancis to provide more details

[2021-03-10 02:16] jackfrancis commented on #82987
I can repro this on a cluster running in Azure, using a spec like this:

[code]

In other words, we set the timeout (2 seconds above) to be lower than the time the probe command will take (`sleep 5` will always take 5 seconds).

What I observe is that the timeouts are being engaged regularly:

[code]

But that the pod is never actually restarted as a result of the probe timing out:

[code]

[2021-03-10 02:25] jackfrancis commented on #82987
Here is some relevant kubelet bootstrap log data describing the configuration of the cluster that produced the above repro:

https://gist.github.com/jackfrancis/36cdf5bce70abb6e38cb729aff9f79dc

[2021-03-10 02:42] gohmc commented on #82987
try return a non-zero value, this should trigger kubelet to terminate and restart according to the restartPolicy.

[code]

[2021-03-10 02:52] jackfrancis commented on #82987
@gohmc Whether or not you `exit 0` or `exit 1` after the five second sleep, it doesn't actually matter. The point is that a 2 second timeout will interrupt the livenessProbe command *before it is allowed to finish*. I in fact observe that when I use your suggestion:

[code]

Again, the probe timeout is firing (before we ever get to the `&& exit 1` conditional execution), but the pod is not being r

[2021-03-10 03:00] gohmc commented on #82987
do this and you will get your pod terminate as expected:

[code]

[2021-03-10 03:05] jackfrancis commented on #82987
@gohmc that is what I did:

[code]

(note the `exit 1` there at the end)

Also:

[code]

[2021-03-10 03:27] gohmc commented on #82987
Here's the final spec used; reduced time for speedier test to see if the pod actually was terminated:

[code]

Here's a dump of kubectl describe; it was terminated as expected.

[code]

You probably need to report this to Azure.

[2021-03-10 04:13] jackfrancis commented on #82987
This does not repro on 1.20.0:

[code]

[code]

Next step: observe the first released version where this fails.

[2021-03-10 04:15] devopsenggineer commented on #65903
how to make persistent volume claim retain or gets attached to previously dynamically provisioned persistent volume using below Kubernetes resource files.

Storageclass file
[code]
PersistentVolumeClaim file
[code]

[2021-03-10 05:06] tansly commented on #24875
A-ha, I was curious about this because I’ve just got something like this to work with named ports. So, it chooses the right deployment based not only on the selector, but it also takes the named port into account, and routes the traffic to it. At least this is my understanding now.

While digging through the docs I could not see this behavior implied, so I got confused and started digging. Thanks

[2021-03-10 05:13] pacoxu commented on #94009
Use https://github.com/Huang-Wei/k8s-sched-perf-stat to convert the json files to table. 👍

[2021-03-10 05:31] bobbypage commented on #98009
/close

[2021-03-10 05:31] #98009 closed

[2021-03-10 05:41] AfrouzMashayekhi commented on #98976
Working on `pkg/kubelet/cm/cpumanager`

[2021-03-10 05:59] jackfrancis commented on #82987
O.K., so after a little break I revisited my test matrix and concluded that this is only happening when the kubelet feature gate `ExecProbeTimeout=false` is configured. So, in other words, what I'm seeing is the previous buggy behavior prior to this fix:

https://github.com/kubernetes/kubernetes/pull/94115

I've done cursory confirmation that the `ExecProbeTimeout=false` configuration seems to jus

[2021-03-10 06:02] lentzi90 commented on #55713
This is not the place for these kind of support discussions and general questions about Kubernetes @devedse . Please use slack, forums, mailing lists, etc instead.

But I'll try to answer some of your questions anyway since I'm already typing this comment.

1. If Pods were moved already after a few seconds you risk undesirable changes all the time due to temporary issues with the network or a Node

[2021-03-10 08:29] aojea commented on #98577
that is not always true, the Endpoints are autogenerated for Services with selectors, in this case you are trying to do something that should not be allowed, because you are modified an Endpoint that belongs to the Endpoints controller.

[2021-03-10 08:35] #75564 closed

[2021-03-10 08:59] spiffxp commented on #99911
Listed as 3rd top flake for pull-kubernetes-unit: http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2021-03-10 09:15] Dhua-v commented on #53459
+ 1 person in the list.

[2021-03-10 09:16] spiffxp opened #100070 "[Flaky] k8s.io/apiserver/pkg/admission/plugin/webhook/validating TestValidate"
#### Which jobs are flaking:
- pull-kubernetes-unit

#### Which test(s) are flaking:
- `k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/validating TestValidate`

(trimmed the vendor path off for title, but leaving it here for ease of search)

#### Testgrid link: n/a

#### Reason for failure:
[code]

#### Anything else we need to know:
- 8th top flake for pull-kubernetes-unit

[2021-03-10 09:17] spiffxp commented on #100070
FYI @liggitt @pacoxu @kubernetes/ci-signal

[2021-03-10 09:23] aojea commented on #100033
just amend it in the PR that fix the bug, so we merge all together

[2021-03-10 09:33] pacoxu commented on #100070
/cc

[2021-03-10 09:37] April-Q opened #100074 "A is not grow when B runs."
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network

[2021-03-10 11:00] cmhokej commented on #88981
Ok

[2021-03-10 11:17] nicktming commented on #99502
ping
/sig apps

[2021-03-10 11:34] gjkim42 commented on #98539
The PR for this is in a 'hold' state.
According to https://github.com/kubernetes/kubernetes/pull/98618#pullrequestreview-585765331,
this issue is about the fundamental concept of pod, so we need more consent to proceed.

/unassign

[2021-03-10 11:38] pacoxu commented on #100070
Local testing and find most failures are due to timeout here:

https://github.com/kubernetes/kubernetes/blob/17f040034a0c4ca18fa6140be3d8ccb03369918f/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go#L177-L180

[2021-03-10 11:58] sxllwx commented on #98606
I believe that #98797 can effectively repair the issue, but currently #99259  is not the key PR to fix the issue.

[2021-03-10 12:26] kunal-kushwaha commented on #87634
I'd like to take this one 😄
/assign

[2021-03-10 12:27] roboslone opened #100080 "Publish kubernetes protocol definitions as .proto files"
_This is probably not a right place to request this, but I didn't find anything on discuss.kubernetes.io or Google._

I have a number of services around kubernetes cluster, that would greatly benefit from original protocol definitions used by kubernetes itself. For example I could have a gRPC handler returning deployments/services/pods currently running in my cluster with some additional metainfo

[2021-03-10 12:28] roboslone commented on #100080
/wg api-expression

[2021-03-10 12:35] 0robustus1 commented on #95140
We have been experiencing similar issues on Kubernetes 1.19.7 and 1.18.8 clusters.

@maxlaverse and I took a closer look at this and discovered this issue.

Here is what we observed:

Scenario: Starting a Pod where at least one container has a startup probe
          defined but no readiness probe.

* We *sometimes* observe that the container succeeds its startup probe (with the
  started state up

[2021-03-10 13:06] lonre commented on #40157
It should provide opportunity to gracefully shutdown

[2021-03-10 13:38] adtac commented on #94009
That's a really useful tool @Huang-Wei, thanks so much for writing that!

[2021-03-10 13:42] adtac commented on #96648
/remove-lifecycle stale

[2021-03-10 13:49] desponda commented on #95038
/milestone clear

[2021-03-10 13:53] adtac commented on #94601
/remove-lifecycle stale

[2021-03-10 14:00] liggitt commented on #100080
The generated .proto files are available in https://github.com/kubernetes/api (e.g. https://github.com/kubernetes/api/tree/master/core/v1/generated.proto)

However, the wire format Kubernetes uses for proto serialization prefixes with "k8s0" and always includes an envelope type (runtime.Unknown) which describes the apiVersion and kind of the message. See https://github.com/kubernetes/apimachinery/

[2021-03-10 14:07] roboslone commented on #100080
Seems like that's what I need (it's not too convenient since I would need to also make some apimachinery proto-files available to my local build tool as well, but it's better than nothing :)).

I'm not too worried about wire format since I'll be using Go-client to communicate with k8s API anyway, I only want to expose k8s entities in my RPCs.

Thanks, @liggitt!

[2021-03-10 14:10] #100080 closed

[2021-03-10 14:11] liggitt commented on #100080
One note, if you are intending to use these type definitions in your own API, is that I would *strongly* recommend only using GA versions (not alpha or beta), since conversion logic between versions is only known to the kube-apiserver, and pre-GA types have a bounded lifetime before removal.

[2021-03-10 14:27] alculquicondor commented on #94009
oh bummer.
I would have liked at least serviceaffinity to go in.

[2021-03-10 14:28] alculquicondor commented on #94009
Actually, to get rid of the reaction to service changes... all plugins would have to opt-out, so nvm.

[2021-03-10 14:35] damemi commented on #4301
Not sure if it's been linked here, but we have started some initial toying with alternative replicaset scaledown logic by adding some level of randomness in https://github.com/kubernetes/enhancements/issues/2185

This isn't exactly what's been requested here, but it is a promising start.

[2021-03-10 14:44] iahmad-khan commented on #26944
why this issue is closed? on latest version of kubernetes i am facing the same issue.

updating the deployment.yaml with adding new env var , and then kubectl apply , is not updating the deployment/pod with new env var.

[2021-03-10 15:13] r2dedios commented on #99305
Hi,

Same problem here. I'm using K8s v1.20.4 with CentOS7 (2 cores, 4GB and 20GB storage)

Cluster creation with _kubeadm init_ always works, but when I try to add several master nodes with _kubeadm join_ it takes a lot of time waiting for **etcd** pod to be created. In most of cases, **etcd** pod never runs. The rest of components (APIserver, controller, scheduler and proxy) exists and works (ex

[2021-03-10 15:15] mcmcghee commented on #96868
@couloum You also have the option of using the 5.8 kernel by installing the [hardware enablement stack](https://wiki.ubuntu.com/Kernel/LTSEnablementStack) with the linux-generic-hwe-20.04 (or linux-virtual-hwe-20.04) package.

[2021-03-10 15:49] pohly opened #100089 "CSIDriver.StorageCapacity: allow mutating the field"
#### What would you like to be added:

Up to 1.21, that field is immutable. That means in practice, a CSIDriver object has to be deleted and then re-created with a different value instead.

#### Why is this needed:

Mutation via delete/created is unnecessarily complex and as the only consumer of that field (the kube-scheduler) can handle mutation just fine (it'll always ask the informer cache for

[2021-03-10 15:49] pohly commented on #100089
/sig storage
/assign

[2021-03-10 15:50] pohly commented on #100089
This is independent of allowing other fields to become mutable, but that might also make sense.

[2021-03-10 15:51] survivant commented on #81042
I have Zombies using exec probes  with containerd (docker was never installed in my cluster)

I'm using this command to find which process generate the zombies

[code]

Here I have few zombies from 2 of my applications
[code]

[code]

[code]

I confirm here that the CRI used is containerd for one of my pod
[code]

here my exec probes

[code]

[2021-03-10 16:00] maxlaverse opened #100091 "Kubernetes fails to allocate PV pretending storage request overflows int64"
#### What happened:

##### Short version
After upgrading our clusters to Kubernetes 1.19, the provisioning of PersistentVolumes started failing with the following Events:

The value 3435973836800 matches the actual storage request of 3.2Gi. It doesn't seem special in any way, not too big, not too small, and it always worked until 1.19. We look into the issue with @fungusakafungus and we believe th

[2021-03-10 16:09] alculquicondor commented on #27768
Pods might be deleted by the garbage collection to keep the efficiency of the apiserver. If you really need to keep them, you can use finalizers https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#finalizers

[2021-03-10 16:10] #74022 closed

[2021-03-10 16:11] #61886 closed

[2021-03-10 16:22] liggitt commented on #97256
moved to 1.22, but included in the GA column of https://github.com/orgs/kubernetes/projects/51#card-54493535

[2021-03-10 16:26] liggitt commented on #100016
my guess is the CA configmap created by default in 1.20 exacerbated this issue. I agree the conformance test should make fewer assumptions about the cluster it is running in and should accomodate default configmaps. left a comment on the PR in flight for this. I'd like to see the change picked to 1.20 as well.

[2021-03-10 16:43] jsturtevant commented on #98102
I reproduced this again today working on a separate issue.  Using [cpuStress](https://docs.microsoft.com/en-us/sysinternals/downloads/cpustres) I brought the cpu on machine to ~90% and ran a set of tests continuously:

![Screenshot from 2021-03-10 08-37-43](https://user-images.githubusercontent.com/648372/110664423-3af51480-817c-11eb-8d01-e8d8e2f15e7b.png)

[code]

At the end I ended up with extra

[2021-03-10 16:52] kwiesmueller commented on #77142
This is still an issue and I ran into it as well today.
@cheftako you're assigned to it, are you aware of this/working on it?

[2021-03-10 16:58] ehashman commented on #82987
For those following along at home, note that the feature gate for ExecProbeTimeout defaults to `true`.

/close

Thanks all for the additional info, hope this helps anyone who finds this issue later!

[2021-03-10 17:55] instantlinux commented on #60748
My use-case: a weather-station that needs to talk to /dev/ttyUSB0.
/remove-lifecycle rotten

[2021-03-10 17:56] dannyzaken opened #100094 "A pod in a Statefulset is not restarted if its init container is failing"
#### What happened:
* I got into a situation where the init container image of a pod in a statfulset contains a code that is failing to run successfully.
* I updated the statefulset with an image that should run the init to completion
* The pod is never updated with the new init container. it keeps failing during the init stage
* only explicit deletion of the pod fixes the issue

#### What you exp

[2021-03-10 17:58] dannyzaken commented on #100094
/sig apps

[2021-03-10 18:09] ehashman commented on #99979
/assign @matthyx
ref https://github.com/kubernetes/kubernetes/pull/99998

/triage accepted

[2021-03-10 18:09] ehashman commented on #99845
/triage accepted

[2021-03-10 18:12] yuanchen8911 opened #100095 "Add a small random number to PodBackoffDuration"
#### What would you like to be added:

Add a small random value to the fixed PodBackoffDuration to avoid "thundering herd" problem: a large number of unschedulable pods are moved back to the scheduling queue within a short period of time.

#### Why is this needed:

We have observed that the scheduler can be overloaded due to rescheduling a large number of unschedulable pods, especially pods using

[2021-03-10 18:13] yuanchen8911 commented on #100095
/sig scheduling

[2021-03-10 18:15] ehashman commented on #97130
@mmerkes what's the status of this issue? looks like the test suite is still failing to run

[2021-03-10 18:15] yuanchen8911 commented on #100095
/cc @Huang-Wei   @ahg-g

[2021-03-10 18:17] ehashman commented on #98265
/triage accepted

[2021-03-10 18:18] cjcullen opened #100096 "CVE-2021-25735: Validating Admission Webhook does not observe some previous fields"
A security issue was discovered in kube-apiserver that could allow node updates to bypass a Validating Admission Webhook. You are only affected by this vulnerability if you run a Validating Admission Webhook for Nodes that denies admission based at least partially on the old state of the Node object.

This issue has been rated **Medium** ([CVSS:3.0/AV:N/AC:L/PR:H/UI:N/S:U/C:N/I:H/A:H](https://www.

[2021-03-10 18:18] ehashman commented on #99070
/triage accepted

[2021-03-10 18:20] ehashman commented on #14391
/remove-lifecycle frozen
/close

This is a test failure tracking issue from 2015, I don't think it's still relevant.

[2021-03-10 18:20] #14391 closed

[2021-03-10 18:22] ehashman commented on #99909
/cc @jackfrancis
/assign @swatisehgal

/triage accepted

[2021-03-10 18:23] alculquicondor commented on #90402
/lifecycle frozen

/unassign @fengzixu

[2021-03-10 18:25] ehashman commented on #94931
@ScrapCodes is this still relevant?

I'm going to close this as 2/3 linked dashboards are all green.

/close

[2021-03-10 18:25] #94931 closed

[2021-03-10 18:26] ehashman commented on #96068
/cc @dashpole

[2021-03-10 18:26] AliceZhang2016 commented on #90402
/assign

[2021-03-10 18:27] ehashman commented on #99437
/assign @fromanirh
/triage accepted

[2021-03-10 18:27] ehashman commented on #98649
/close

duplicate of https://github.com/kubernetes/kubernetes/issues/96068

[2021-03-10 18:28] #98649 closed

[2021-03-10 18:28] ehashman commented on #98970
/assign @swatisehgal
/triage accepted

[2021-03-10 18:29] ehashman commented on #98893
/cc @rphillips
/close

I think this was fixed.

[2021-03-10 18:29] #98893 closed

[2021-03-10 18:31] ehashman commented on #72253
/close

@tallclair please reopen if you think this has not been addressed.

[2021-03-10 18:31] #72253 closed

[2021-03-10 18:34] ehashman commented on #96068
/retitle [Flaky Test] [sig-node] querying /stats/summary is timing out

[2021-03-10 18:35] ehashman commented on #36400
/remove-lifecycle frozen

[2021-03-10 18:37] ehashman commented on #43423
/close

We have coverage for this.

[2021-03-10 18:37] matthyx commented on #99979
Thanks Elana, still trying today...
Does anyone know if we can use the kubelet logs in e2e tests?

[2021-03-10 18:37] #43423 closed

[2021-03-10 18:43] ehashman commented on #75355
/assign @fromanirh
/triage accepted

[2021-03-10 18:44] ehashman commented on #99673
/assign @adisky

can you take a look at this?

[2021-03-10 18:52] krzysiekg opened #100097 "[flaky test]: Dynamic Provisioning should create a volume on demand with useDataPlaneAPI"
#### Which jobs are flaking:
pull-kubernetes-e2e-azure-file-windows

#### Which test(s) are flaking:
Dynamic Provisioning should create a volume on demand with useDataPlaneAPI [kubernetes.io/azure-file] [file.csi.azure.com] [Windows]

#### Testgrid link:
https://testgrid.k8s.io/provider-azure-presubmit#pr-k8s-azure-file-e2e-master-windows

#### Reason for failure:
[code]

#### Anything else we nee

[2021-03-10 18:57] lokiwins commented on #70179
I was running into issues with `kubectl top` reporting one value for memory but in grafana using `container_memory_usage_bytes`

Swapped to using `container_memory_working_set_bytes` and `kubectl top` matched what was shown in grafana

[2021-03-10 19:09] #99173 closed

[2021-03-10 19:10] dims commented on #36621
@ehashman i don't think so.

[2021-03-10 19:16] caseydavenport commented on #46508
/remove-lifecycle rotten

[2021-03-10 19:26] caseydavenport commented on #86024
/remove-lifecycle stale

[2021-03-10 19:26] jsturtevant commented on #95547
I am able to deploy a host path pod: https://raw.githubusercontent.com/jsturtevant/windows-k8s-playground/master/deployments/volumes/hostvolume.yaml

[code]

Going to close, if you can provide a reproduction please reopen.

/close

[2021-03-10 19:26] #95547 closed

[2021-03-10 19:31] spiffxp commented on #36621
I leave whether they need to remain as sig node's call https://github.com/kubernetes/kubernetes/issues/36621#issuecomment-522179501

[2021-03-10 19:37] serathius commented on #99270
/cc @dims

[2021-03-10 19:38] kinghrothgar opened #100098 "kubectl exec, logs, port-forward command results in 'x509 doesn't contain any IP SANs' error for some nodes"
#### What happened:
[code]
Similar errors for any kubectl commands that result in connections to the nodes. This only happens with a select number of broken nodes. What is strange is I can find no difference between working and broken nodes. Restarting kubelet has no effect. Both broken and working nodes have correct IPs in there pem SANs lines. The SANs line from the server that resulted in the e

[2021-03-10 19:47] alculquicondor commented on #94009
That wouldn't qualify for codefreeze though.

[2021-03-10 19:59] Huang-Wei commented on #94009
Nvm then :)

[2021-03-10 20:04] jsturtevant commented on #99365
maybe, slowly looking into is some more...

I find it interesting that `Kubernetes e2e suite.[sig-windows] [Feature:Windows] Windows volume mounts check volume mount permissions container should have readOnly permissions on emptyDir` [doesn't fail at all](https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=windows&test=%20should%20have%20readOnly%20permissions%20on%20emptyDir)  whi

[2021-03-10 20:07] wongma7 commented on #100091
I think the only reason we do not use the quantity library for scaling and why we tried to roll our own rounding code is because when scaling stuff in AsScaledInt64(3) or ScaledValue(3), the library assumes decimal SI (M, 1000), not binary SI units (Mi, 1024): https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/apimachinery/pkg/api/resource/mat

[2021-03-10 20:13] wongma7 commented on #100091
I guess for binary SI we can go back to using Value but actually check the overflow this time.

[2021-03-10 20:17] maxlaverse commented on #100091
Hi @wongma7,
Thanks for the quick feedback on the problem's description already. Indeed, the *Scaled* functions don't handle BinarySI and that's why I quickly discarded the idea of using them, since when it's about storage, I suppose more people are using this format. I just finished wrapping up a PR that I hope address both the issue we are facing, but also what was meant to be fixed in the PR yo

[2021-03-10 20:19] wongma7 commented on #100091
Yeah I commented within seconds of your PR. I glanced at it , will review more soon, but it makes sense to me to just use VAlue and check ofr overflow for both decimal SI and binary SI rather than using Scaled() for one and not the other :+1:

[2021-03-10 20:28] #98606 closed

[2021-03-10 20:30] kinghrothgar commented on #100098
This was caused by deploying https://github.com/kubernetes-sigs/custom-metrics-apiserver. I will update the ticket with more info when we specifically figure out what caused the x509 errors in these manifests.

[2021-03-10 20:30] #100098 closed

[2021-03-10 20:30] Riaankl commented on #100047
/cc @spiffxp

[2021-03-10 20:35] Riaankl commented on #98459
The flakes were found to be unrelated to the specific test the Issue #100047 did a deep dive into the underlying infra problems.
#10047 has been assigned to SIG Node to further deal with it.

[2021-03-10 21:00] gnufied commented on #100091
I think it means both. i.e - when incoming value is decimal or if value is so big that `Quantity` type can't store it as `int64amount` it switches to decimal. So while my PR fixed later case, it broke the former. :/

[2021-03-10 21:03] Jeffwan opened #100102 "Provides options to explicitly enable/disable controllers in kube-controller-manager"
#### What happened:
kube-controller-manager is currently deployed in an active-standby manner. Under this mode, we meet memory issues in large clusters. The problem is it caches many objects which uses too many memories. I am trying to see if it's reasonable to split kube-controller-manager into multiple pieces so that each piece KCM only take care a groups of resources.

#### What you expected to

[2021-03-10 21:12] Huang-Wei commented on #100095
@yuanchen8911 Once all implementation in https://github.com/kubernetes/kubernetes/issues/94009#issuecomment-792354461 onboard, I suppose the issue you describe will be mitigated greatly (if not totally eliminated), so let's wait to evaluate #94009 first?

[2021-03-10 23:11] camrossi opened #100105 "StaticPod: Missing default serviceaccount mount on Ubuntu 20.0.4"
I am deploying a new cluster based of K8S 1.20.4 and Ubuntu 20.0.4
None of my static pods are getting the default service account mount.

This is for coreDNS but a static pods will not have the mount.
[code]
I also do not see the mount in "/var/lib/kubelet/pods/ID" folder

I have another cluster on Ubuntu 18 and K8S 1.20.2 and there the static pods are getting the mount.
I am not sure what could b

[2021-03-11 01:24] #100102 closed

[2021-03-11 03:17] gemwuu commented on #60748
/remove-lifecycle stale

[2021-03-11 03:34] liggitt commented on #100016
/triage accepted
/priority important-soon

[2021-03-11 03:42] danielyaa5 commented on #58692
this should probably be reopened

[2021-03-11 03:52] stpabhi commented on #77508
I would like to share my thoughts on this. we should be able to create multiple priorityclasses (per app/team/env) and use them in resourcequota scope selector for all the required namespaces. By using a mutating webhook set the appropriate priorityClassName based on pod labels, annotations, or even username/groups from AdmissionRequest.UserInfo. Once a pod is admitted pod labels could still be ch

[2021-03-11 03:56] howardjohn commented on #96303
Is this still planned? in another thread I saw this was blocked by kustomize update which appears to have merged

[2021-03-11 04:05] liggitt commented on #94622
the tests re-enabled in https://github.com/kubernetes/kubernetes/pull/98809 started flaking again immediately

* https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=GOAWAY
* https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-generate-make-test-count10&include-filter-by-regex=GOAWAY

/milestone v1.21

the tests should be deflaked or disabled for 1.21

[2021-03-11 04:08] liggitt commented on #100105
static pods are not allowed to make use of any API service resources, including mounting configmaps, secrets, or service account tokens. They must be able to be started by the kubelet without contact with the API server.

/close

[2021-03-11 04:08] #100105 closed

[2021-03-11 04:11] liggitt commented on #100021
marking conditions as +optional in the API type would resolve the client-side apply error

[2021-03-11 04:14] liggitt commented on #92776
no flakes in last two weeks
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default&sort-by-flakiness=&embed=&width=5&show-stale-tests=&include-filter-by-regex=EndpointSlice

/close

[2021-03-11 04:14] #92776 closed

[2021-03-11 04:16] liggitt commented on #94810
closing in favor of specific issues:
* https://github.com/kubernetes/kubernetes/issues/100070
* https://github.com/kubernetes/kubernetes/issues/99911

/close

[2021-03-11 04:16] #94810 closed

[2021-03-11 04:20] liggitt commented on #100047
/assign @zshihang

[2021-03-11 04:21] liggitt commented on #100047
the "cannot find volume" error is surprising:

`Feb 28 22:52:20 kind-worker kubelet[243]: E0228 22:52:20.606931     243 pod_workers.go:191] Error syncing pod dc0a9362-fa20-419e-8ab4-7f2a4f27c9b8 ("test-deployment-7778d6bf57-fqqvk_deployment-2394(dc0a9362-fa20-419e-8ab4-7f2a4f27c9b8)"), skipping: failed to "StartContainer" for "test-deployment" with CreateContainerConfigError: "cannot find volume \

[2021-03-11 04:21] liggitt commented on #100047
/sig storage auth

storage for projected volume, auth for service account token

[2021-03-11 04:22] liggitt commented on #100047
bumping priority since projected volumes are in the critical path by default in 1.20

[2021-03-11 04:24] #96337 closed

[2021-03-11 04:35] BenTheElder commented on #95893
it seems https://github.com/kubernetes/kubernetes/pull/84061/files is stalled out, but this still needs fixing in the core libraries, it's not test specific.

[2021-03-11 04:38] BenTheElder opened #100112 "[flaky test] k8s.io/kubernetes/pkg/registry/core/endpoint/storage.TestWatch"
#### Which jobs are flaking:

ci-kubernetes-unit

#### Which test(s) are flaking:

`k8s.io/kubernetes/pkg/registry/core/endpoint/storage.TestWatch`

#### Testgrid link:

https://testgrid.k8s.io/sig-release-master-informing#ci-kubernetes-unit

#### Reason for failure:

[code]

#### Anything else we need to know:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestWatch#f

[2021-03-11 04:42] BenTheElder commented on #100112
also xref: https://github.com/kubernetes/kubernetes/issues/95893

[2021-03-11 04:47] ScrapCodes commented on #94931
@ehashman Sounds good!

[2021-03-11 04:50] BenTheElder commented on #99979
Not very portably in cluster e2e tests at least. Maybe in node_e2e instead.

[2021-03-11 05:19] pacoxu commented on #93694
/cc
If need any help.

[2021-03-11 05:33] pacoxu commented on #98976
I think #99996 is working on pkg/kubelet/dockershim/network/cni/cni_windows.go

[2021-03-11 06:01] pacoxu commented on #98326
[code]
Run in master.

The `WARN: ..failing should not have multiple [sig-foo] tags` is due to https://github.com/kubernetes/kubernetes/issues/98326#issuecomment-790568639

The `FAIL: ..failing must use top-level SIGDescribe` are all from https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cloud/gcp/cluster_upgrade.go#L210

It seems it is done.

[2021-03-11 06:29] hanlins commented on #99608
Hi @renkes, thanks for raising the issue. Can you share the pod spec(maybe the part that includes CPU shares) that caused the issue? Also which container runtime are you using? And its version?

[2021-03-11 06:42] #100033 closed

[2021-03-11 07:13] marshtompsxd opened #100117 "Custome Resources are only watched by some of the apiservers"
#### What happened:
I am running a controller in a HA k8s cluster with a CRD `C`. The cluster is a kind cluster with 3 apiservers. I found that there are always only two apiservers receiving events about `C` from the underlying etcd in `processEvent` in `watch_cache.go`. I checked the log and find for all other built-in resources (pod, pvc, sts, ...), all three apiservers can receive the update fr

[2021-03-11 07:17] marshtompsxd commented on #100117
/sig api-machinery
I am not fully sure which group I should ping. Sorry if the label is wrong.

[2021-03-11 07:22] zshihang commented on #100047
looked at this failure https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1369853599898669056

found
[code]

i am not sure why reconciler didn't try to mount again. after 2.5 minutes, kubelet bailed out with
[code]

[2021-03-11 07:29] hanlins commented on #99608
I think https://github.com/docker-archive/libcontainer/pull/464 might be related to the error message you're seeing. That repo as you can see is archived so I think you should try upgrading your container runtime.
Also in my understanding, CPU share is a relative value that tells kernel scheduler how to schedule the cpu time slice to each task. In my understanding we should expect a large cpu quot

[2021-03-11 07:32] liggitt commented on #100047
That means when the kubelet requested the token, the pod no longer existed in the API. Could that have been an error that occurred later, after the test namespace was cleaned up? Did anything in the kubelet acknowledge the pod no longer existed in the API as well? Did the kubelet start that pod previously?

I'm unclear about the order of operations the kubelet does for volume creation/teardown. I

[2021-03-11 07:47] liggitt commented on #100047
@msau42, how does the volume lifecycle interact with a pod that is already deleted in the API? for volumes like configmap/secret/projected volumes, does the kubelet try to fetch data in the process of tearing down the volume?

Taking a random failure from above

1. it looks like UnmountVolume/TearDown succeeds:

2. Then there's an error about the mount we just tore down not being able to be satisf

[2021-03-11 07:50] h4ghhh opened #100119 "Events in events.k8s.io/v1 validate failed"
I'm trying to migrate kube-controller-manager to events.k8s.io/v1, but there is a problem...

#### What happened:
I modified node-lifecycle-controller's event recorder using events.k8s.io/v1 version. The following event is generated by node-lifecycle-controller when node '172.11.22.237' is registered.
`Event "172.11.22.237.166b37252af49a24" is invalid: [involvedObject.namespace: Invalid value: "":

[2021-03-11 07:51] pacoxu commented on #96770
- Only gcr.io/kubernetes-e2e-test-images/cuda-vector-add:1.0  is E2eRegistry
- cuda-vector-add:2.2 is using promoted registry now.
Why not promote 1.0 to k8s.gcr.io/e2e-test-images as 2.2?

[2021-03-11 07:52] etavene opened #100120 "CoreDNS is taking 5secs to resolve the name in a POD restart scenario"
#### What happened:
I restarted my pod ( kubectl delete pod < mypod>)  and core DNS took 5 secs to resolve the new IP.

  my pod's resolv.conf file had following entries

nameserver 169.254.25.10
search default.svc.cluster.local svc.cluster.local cluster.local
options ndots:1 single-request-reopen

   mypod --> nodelocaldns --> coredns

I changed  denial to 1 sec in nodelocalDNS.  So the  nodeloca

[2021-03-11 08:02] pacoxu commented on #100120
/sig network
/area dns

[2021-03-11 08:02] pacoxu commented on #99751
/sig network
/area dns

[2021-03-11 08:04] gautierdelorme commented on #96303
@howardjohn yes this is still planned. The kustomize update just got merged recently so I need to take another look at it.

[2021-03-11 08:10] h4ghhh commented on #100119
/sig api-machinery
/sig apps

[2021-03-11 08:17] aojea commented on #100047
/cc

[2021-03-11 08:18] #100016 closed

[2021-03-11 08:32] abhiTamrakar commented on #94861
We are seeing something very similar on large file downloads and our issue exactly fits this one's subject.
These REJECTs are happening intermittently and I am seeing similar behavior mentioned in the blog mentioned below

[2021-03-11 08:38] lala123912 commented on #98976
work on pkg/kubelet/cm/cgroup_manager_linux.go

[2021-03-11 09:03] aojea opened #100124 "pull-kubernetes-node-e2e are failing on release branches"
Enabling runtime config on E2E node tests #99960 added a new option to the e2e node tests.

However, it seems it wasn't backported and is most likely the reason why `pull-kubernetes-node-e2e` are failing in cherry-picks

[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100113/pull-kubernetes-node-e2e/1369931213254430720/

[2021-03-11 09:04] aojea commented on #100124
/sig node
/sig release
ping @knabben @ehashman
/priority critical-urgent

[2021-03-11 09:35] pacoxu commented on #97040
@zetaab https://gist.github.com/zetaab/18663bdc22206d4a0b5f47e9fc8dcf79#file-gistfile1-txt-L599 You apiserver seems to fail for health check.

Cannot find new failure in https://testgrid.k8s.io/sig-release-master-blocking#integration-master for TestStorageVersionBootstrap since 02-25?

So can we close this?

[2021-03-11 09:50] thxCode opened #100126 "DNS resolution failure in Windows Pod"
#### What happened:

DNS resolution failure in Windows Pod.

#### What you expected to happen:

Make cluster DNS resolution work.

#### How to reproduce it (as minimally and precisely as possible):

1. Setup ACK
1. Create a Windows NodePool for **Windows Service 2019 DataCenter With Container** VHD.
1. Deploy a Windows workload (Deployment) for **mcr.microsoft.com/dotnet/framework/samples:aspnetap

[2021-03-11 09:52] thxCode commented on #100126
/sig windows
/sig network
/kind bug

[2021-03-11 09:54] thxCode commented on #100126
@PatrickLang, @mic have any idea? thanks a lot.

[2021-03-11 10:07] Rajalakshmi-Girish opened #100127 "Unit Test k8s.io/kubernetes/cmd/genkubedocs fails in ppc64le"
#### Which jobs are failing:
https://prow.k8s.io/job-history/gs/ppc64le-kubernetes/logs/periodic-kubernetes-unit-test-ppc64le
#### Which test(s) are failing:
k8s.io/kubernetes/cmd/genkubedocs

#### Since when has it been failing:
CI job passed when commit ID was 0df8c6973
Next iteration after 3 hrs interval failed. The commit ID was faa3a5fbd
#### Testgrid link:
https://k8s-testgrid.appspot.com/si

[2021-03-11 10:08] Rajalakshmi-Girish commented on #100127
@mkumatag @laboger ^^

[2021-03-11 10:24] yuanchen8911 commented on #100095
Aren't they complementary to each other? The PR is to avoid moving unschedulable pods back to the scheduling queue upon irrelevant events while the proposal is to avoid moving potentially schedulable pods to the queue at the same time.

[2021-03-11 10:48] gosoon commented on #96367
use volumeMounts.subPath can solve the problem.

[2021-03-11 10:48] #96367 closed

[2021-03-11 11:13] honza801 commented on #85454
please fix the documentation if ceph/rbd is not working. don't let more users getting annoyed.

https://kubernetes.io/docs/concepts/storage/storage-classes/

thanks...

[2021-03-11 11:14] srinivasev commented on #99770
Required some kind of push model instead of pull model for knowing the change/updates in a resource. As the watch command cannot be invoked from each and every java/python microservice pod brought up during the deployments.

[2021-03-11 11:26] MicDeDuiwel commented on #97125
Update: We managed to find the issue, it was a result of two of our keepalived instances sharing the same id and being able to see each other on the subnet causing connection timeouts.

[2021-03-11 11:26] #97125 closed

[2021-03-11 11:37] thxCode commented on #100126
Before this, I updated these workers from `10.0.17763.1282` to `10.0.17763.1577`.

[2021-03-11 12:03] fromanirh commented on #75355
/assign

[2021-03-11 12:03] fromanirh commented on #99230
/assign

[2021-03-11 12:03] fromanirh commented on #99437
/assign

[2021-03-11 12:03] fromanirh commented on #96068
/assign

[2021-03-11 12:16] Forbzy commented on #65581
I also require the functionality mentioned by @zhangxiaoyu-zidif . Its been over a year have we found a work around?

[2021-03-11 12:35] mengjiao-liu opened #100130 "kubelet --logging-format flag wrap the description incorrectly"
#### What happened:
When using this command, the line break is incorrect, as shown below,   and we can see `\n` escape character, but display as one line, `\n` does not work:
[code]

#### What you expected to happen:
The correct display is shown below：
[code]

#### How to reproduce it (as minimally and precisely as possible):
use following command:
`$ sudo kubelet --help|grep  logging-format`

###

[2021-03-11 12:37] mengjiao-liu commented on #100130
/sig node

[2021-03-11 12:37] mengjiao-liu commented on #100130
/assign

[2021-03-11 12:41] knabben commented on #100124
/assign @knabben

[2021-03-11 12:49] tosi3k opened #100132 "[Flaky test] [sig-network] Services should be able to update service type to NodePort listening on same port number but different protocols"
#### Which jobs are flaking:
ci-kubernetes-e2e-gce-scale-correctness

#### Which test(s) are flaking:
[sig-network] Services should be able to update service type to NodePort listening on same port number but different protocols

#### Testgrid link:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness

#### Reason for failure:
[code]

#### Anything else we need to know:
Prow jo

[2021-03-11 12:49] tosi3k opened #100133 "[Flaky test] [sig-network] Services should be able to change the type from ExternalName to NodePort [Conformance]"
#### Which jobs are flaking:
ci-kubernetes-e2e-gce-scale-correctness

#### Which test(s) are flaking:
[sig-network] Services should be able to change the type from ExternalName to NodePort [Conformance]

#### Testgrid link:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness

#### Reason for failure:
[code]

#### Anything else we need to know:
Prow job URL with the failure: ht

[2021-03-11 12:50] tosi3k opened #100134 "[Flaky test] [sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a ClusterIP service"
#### Which jobs are flaking:
ci-kubernetes-e2e-gce-scale-correctness

#### Which test(s) are flaking:
[sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a ClusterIP service

#### Testgrid link:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness

#### Reason for failure:
[code]

#### Anything else we need to know:
Prow job URL with the fa

[2021-03-11 12:50] tosi3k opened #100135 "[Flaky test] [sig-network] Networking Granular Checks: Services should function for client IP based session affinity: http [LinuxOnly]"
#### Which jobs are flaking:
ci-kubernetes-e2e-gce-scale-correctness

#### Which test(s) are flaking:
[sig-network] Networking Granular Checks: Services should function for client IP based session affinity: http [LinuxOnly]

#### Testgrid link:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness

#### Reason for failure:
[code]

#### Anything else we need to know:
Prow job URL

[2021-03-11 13:11] adtac commented on #97048
/assign

[2021-03-11 13:11] gjkim42 commented on #100094
/assign

[2021-03-11 13:16] aojea commented on #100134
The test only failed once, is hard to know if is flake or a glitch, there is another networking testing failing in the same minute.

However, the job is not very healthy https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness , @wojtek-t is this something we should look, it failed a lot last week and seems it recovered later.

[2021-03-11 13:16] Bessonov commented on #37471
/remove-lifecycle rotten

[2021-03-11 13:23] gjkim42 commented on #100094
Tested similar cases
- Pod: can't update fields spec.container[*].command(no issue)
- Deployment: updated properly(no issue)
- Statefulset: could reproduce issue

[2021-03-11 13:30] adtac commented on #99580
let's say there are 3 default non-Score plugins A, B and C (in that order). I want to move B to the end of the list but I want to custom enable C too (for whatever reason; since we want to consistent with score plugins, let's allow this for other extension points too as @alculquicondor said).

if a non-Score plugin is custom disabled AND enabled, we should move it to the end of the list but if it'

[2021-03-11 13:34] justaugustus commented on #45506
/sig api-machinery
ping @kubernetes/sig-api-machinery-feature-requests

[2021-03-11 13:35] justaugustus commented on #45506
/remove-lifecycle frozen

Also assigning Joe:
/assign @jpbetz

[2021-03-11 13:36] brianpursley commented on #73698
I am able to reproduce this on a 1.21.alpha cluster, and it definitely seems to be a timing issue / race condition.

Below is my all-in-one script to reproduce it, and an excerpt of the output to follow.  It took about 15 minutes for the problem to occur.
[code]

An excerpt of this script's output when it happened:
[code]

The quota knows it has more pods than allowed:
[code]

All 3 pods are runni

[2021-03-11 13:39] brianpursley commented on #73698
cc @fedebongio

I'm not the author, but did manage to reproduce it a couple of times using the script in my comment above

[2021-03-11 13:47] justaugustus commented on #72638
@nikhita -- Is this still relevant?

[2021-03-11 13:59] doctapp commented on #94861
@abhiTamrakar We're using https://github.com/kakao/network-node-manager as a solution for the connection reset we were seeing and might fix this issue.

[2021-03-11 14:14] liggitt commented on #45506
/cc @ptabor

[2021-03-11 14:32] aojea commented on #94861
Let me try to avoid that this thread derails and see if I can get current status:

1. kube-proxy install rules to drop INVALID cstate connections, this solves the REJECT problems
2. there are some scenarios, with asymmetric routing per example, that this rules may drop unrelated traffic.

The request is to remove the rule that drops those INVALID states or to try to restrict it, and that can cause

[2021-03-11 14:36] alculquicondor commented on #99580
Are you saying that "disabled and enabled" should be treated the same as just "enabled"? That is, always move to the end of the list?

[2021-03-11 14:36] thejoycekung opened #100138 "[Flaky Test] [sig-apps] Daemon set [Serial] should surge pods onto nodes when spec was updated and update strategy is RollingUpdate [Feature:DaemonSetUpdateSurge]"
#### Which jobs are flaking:
ci-kubernetes-e2e-gci-gce-alpha-features

#### Which test(s) are flaking:
[sig-apps] Daemon set [Serial] should surge pods onto nodes when spec was updated and update strategy is RollingUpdate [Feature:DaemonSetUpdateSurge]

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

#### Reason for failure:
[code]

#### Anyth

[2021-03-11 14:41] thejoycekung commented on #100134
https://github.com/kubernetes/kubernetes/issues/91236 was this same test if I recall correctly? Just linking these two issues together

[2021-03-11 14:43] abhiTamrakar commented on #94861
No sadly, its my bad, it is not REJECT, it is RESET that's happening and conntrack has nothing to do with it. Kubeproxy is doing what is intended but specifically when there are external agents in play, the packet doesn't sends an ACK back to the response of SYN-ACK.
Our case, we hit A to initiate a download, A calls B to get the action completed to generate download data for the user finally via

[2021-03-11 14:47] gavinfish commented on #97048
sure, please go ahead.

[2021-03-11 14:47] thejoycekung commented on #98180
Another flake here: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1369930349986975744

[2021-03-11 14:47] ptabor commented on #45506
I don't know the past, but in terms of Kubernetees supported versions,
   etcd-{3.1-3.5} should be compatible with k8s 1.12+ in data-plane.

etcd-3.0 didn't supported prevKV setting on Watch requests that modern api-servers depend on AFAIK.

[2021-03-11 14:48] abhiTamrakar commented on #94861
Thankyou, I will take a look, but mostly I would like to wait before using it, debug more to understand the actual cause and then act on it.

[2021-03-11 14:48] aojea commented on #94861
sorry , I wanted to say RESET, thanks for catching it.
If you think is different and you can provide information and how to reproduce it, I suggest you to open a new issue

[2021-03-11 14:49] thejoycekung commented on #99365
Here's another: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1369866433881706496

[2021-03-11 14:50] abhiTamrakar commented on #94861
I will sure do, when it is different. For now I would like to watch and submit my findings if it is related.

[2021-03-11 14:52] aojea commented on #100134
that was with NodePort, that was the one that was very flaky, this specific one is with ClusterIP and it was always acceptable, this happens only once, but the job show more networking failures in others runs recently.

There is no strong evidence now to declare this particular test flaky with only one failure in a non "stable" job

[2021-03-11 14:53] tosi3k commented on #100134
Test job was very red because of https://github.com/kubernetes/kubernetes/issues/99599 and https://github.com/kubernetes/kubernetes/issues/99449 both of which are already fixed.

[2021-03-11 15:02] neolit123 commented on #100097
/sig storage

[2021-03-11 15:03] neolit123 commented on #100127
/sig docs api-machinery

[2021-03-11 15:05] adtac commented on #99580
No, just "enabled" wouldn't move things to the end of the list (preserve order), but "disabled and enabled" would move to the end of the list
.

[2021-03-11 15:32] #100124 closed

[2021-03-11 15:42] houjun41544 opened #100140 "Pods with “hard” podAntiAffinity were scheduled to the same node"
#### What happened:
I created a deployment with three replicas. Configured “hard” podAntiAffinity,as follows:

Then，use kubectl to get pods. It was found that the two pods op-asm-operator-75d9577679-9fvdf and op-asm-operator-75d9577679-vl9qm were scheduled to the same node.
![image](https://user-images.githubusercontent.com/25921749/110809652-10ac6f80-82c0-11eb-83ed-2bf5c394a363.png)

At that time

[2021-03-11 15:54] neolit123 commented on #100140
/sig scheduling

[2021-03-11 15:55] ahg-g commented on #100095
Is the problem that all the pods are at max backoff when this happens?

[2021-03-11 16:30] howardjohn commented on #96303
Great, thanks for the update!

[2021-03-11 16:31] alculquicondor commented on #99580
ok, that sounds good

[2021-03-11 16:33] sgissi commented on #85454
I agree with you, RBD doesn't work end-to-end. The in-tree volume handler itself is fine but the official image is missing Ceph binaries. Deprecating in-tree RBD in favor of Ceph CSI is probably the best way forward but if I understood correctly from @msau42 there an ongoing work for a CSI migration setup. @humblec Is there a Github issue/PR/branch for CSI migration? Help needed?

Keep in mind tha

[2021-03-11 16:39] ehashman commented on #100124
/triage accepted

[2021-03-11 16:58] msau42 commented on #100047
Looking at the test failure from https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-796524315.

These events seem a little suspicious. There was a quick scale down and scale back up. But on the scale up, the pod got recreated with the same name?
[code]

That, exasperated with the race outlined in https://github.com/kubernetes/kubernetes/pull/97659#issuecomment-784125131, may have

[2021-03-11 17:40] ffromani opened #100145 "cpumanager e2e tests contain too many assumption about cpu allocation"
#### What happened:
the cpumanager e2e tests contain too many assumption about cpu allocation.

TL;DR: cpumanager code *not broken*; tests *not broken*; we should improve to avoid *future possible* false negatives.

The specific case we encountered is: if socket id doesn't match numa cell id, like in this example:
[code]

In this case, cpumanager comes up with this core ordering, so the reserved c

[2021-03-11 17:40] fromanirh commented on #100145
/assign
/sig node
I will work to a e2e test refactoring/cleanup later

[2021-03-11 17:41] ahg-g commented on #94009
We should simply not register for service updates at all if ServiceAffinity is not configured, which is the default.

[2021-03-11 17:50] marosset commented on #88974
/milestone clear

[2021-03-11 17:53] marosset commented on #97783
/area test

[2021-03-11 18:03] msau42 commented on #100047
Actually, all of those events happened at the same time, so the ordering is not clear. I couldn't find references to the pod in apiserver or controller-manager logs.

From scheduler, I see the pod was quickly created and then deleted, but not before it got scheduled to the node:
[code]

So I think the next sequence of things to investigate are:
- Did the replicaset got scaled down to 1 but not bac

[2021-03-11 18:12] pjbgf commented on #91444
/remove-lifecycle stale

[2021-03-11 18:17] pjbgf commented on #91286
@saschagrunert  Updated the description to `v1.22` given that the warning mechanism is now set to that milestone.

[2021-03-11 18:23] #95115 closed

[2021-03-11 18:28] msau42 commented on #100047
Sorry I completely misinterpreted the scheduler logs. I think we need to figure out the detailed sequence of pod creation/delete events going on first.

[2021-03-11 18:38] sladyn98 commented on #98180
Looks to be flaking here as well https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1369654014882353152

[2021-03-11 18:51] msau42 commented on #100047
Take 2.

Pod got created and scheduled:
[code]

Then got deleted soon afterwards. This is logged during [Pod delete event](https://github.com/kubernetes/kubernetes/blob/dc493bb553c846719dff0075df174ecaa5d9f97b/pkg/scheduler/eventhandlers.go#L383) or when a [Pod gets recreated](https://sourcegraph.com/github.com/kubernetes/kubernetes@dc493bb553c846719dff0075df174ecaa5d9f97b/-/blob/pkg/scheduler/eve

[2021-03-11 19:19] msau42 commented on #100047
Here's what I think is happening:

`syncPod` is waiting for volumes to finish mounting. before calling `WaitForAttachAndMount`, it [checks if the pod is terminated](https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/pkg/kubelet/kubelet.go#L1597). However, if the pod is terminated after that check, then we are stuck in in `WaitForAttachAndMount` until it times ou

[2021-03-11 19:29] msau42 commented on #100047
While we investigate a fix in volume manager to return an error earlier, can  @kubernetes/sig-apps-test-failures help look into if the rapid pod create then delete is expected?

[2021-03-11 19:30] msau42 commented on #100047
/assign @jingxu97 @mauriciopoppe
to look at the volumemanager fix

[2021-03-11 19:59] marshtompsxd commented on #100117
figured out why.
Let me close it

[2021-03-11 19:59] #100117 closed

[2021-03-11 20:18] #99218 closed

[2021-03-11 21:03] serathius commented on #83332
/cc

[2021-03-11 21:06] ams0 commented on #94013
/milestone clear

Removing the milestone, feel free to reboot the conversation during 1.22 cycle.

[2021-03-11 21:07] mauriciopoppe commented on #100047
/assign @mauriciopoppe

[2021-03-11 21:10] caesarxuchao commented on #94622
/cc

[2021-03-11 21:10] caesarxuchao commented on #94622
/triage accepted

[2021-03-11 21:11] caesarxuchao commented on #99938
/triage accepted

[2021-03-11 21:12] caesarxuchao commented on #100070
/cc @jpbetz @roycaihw
/triage accepted

[2021-03-11 21:13] caesarxuchao commented on #100112
/assign @wenjiaswe @ptabor
/triage accepted

[2021-03-11 21:14] caesarxuchao commented on #100119
/assign @jiahuif
/triage accepted

[2021-03-11 21:15] caesarxuchao commented on #100127
/cc @sttts
/triage accepted

[2021-03-11 21:23] Huang-Wei commented on #94009
Probably not a great idea to totally disable the registration, as an out-of-tree plugin may choose to respond to Service events.

[2021-03-11 21:42] ahg-g commented on #94009
We need to find a way for external plugins to register events because we will remove this registration once the plugin is deprecated.

[2021-03-11 21:44] aojea commented on #97239
@wojtek-t this looks pretty green and running under 10 mins now
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness&graph-metrics=test-duration-minutes&width=5&include-filter-by-regex=should%20update%20nodePort
should we close?

[2021-03-11 21:46] damemi commented on #98860
/assign
@Huang-Wei I'd like to take a look at this

[2021-03-11 21:48] Huang-Wei commented on #94009
Yes, also should take CRD into consideration. _Probably_ dynamic informer.

[2021-03-11 21:52] Huang-Wei commented on #98860
Thank you Mike!

[2021-03-11 21:52] damemi commented on #98414
Hi @Wenshiqi222,
The `RequestedToCapacityRatioPriority` should be available in v1.16, are you trying to set it through a Policy file or the newer scheduler Plugin Config?

[2021-03-11 22:00] ams0 commented on #70249
/milestone v1.22

[2021-03-11 22:13] maxlaverse commented on #99895
Hi @DapengJiao,
What you describe is how the feature is suppose to work, isn't it ? (asking because of the bug label you added)

https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/

The `--reserved-cpus=0-1` parameter tells Kubelet to not schedule any Pod on those CPUs, but this doesn't mean processes outside Kubernetes won't run on CPU 0 and 1. It's "exclusive" in regard

[2021-03-11 22:20] blowfishpro commented on #98451
Thank you to everyone who worked/is working on this.  To be honest I didn't expect it to get traction so quickly.  Thanks for working on it, but also for taking the time to consider how other people might interact with it and do it the right way.

[2021-03-11 22:27] #81518 closed

[2021-03-11 22:34] rtheis commented on #73698
@brianpursley Thanks for the script.  I realize now that our original tests failed enough that we added a sleep to mitigate this problem.  I've been running your script now on a 1.18, 1.19 and 1.20 cluster.  I'll report back if I can reproduce.  So far, all is good after about 8 hours.

[2021-03-11 22:39] ehashman commented on #100145
/triage accepted

[2021-03-11 22:44] antaloala opened #100151 "Error when trying to update StatefulSet updateStrategy.type to "OnDelete" from default value"
#### What happened:
When trying to update the .spec.updateStrategy.type of a StatefulSet object to "OnDelete" it fails if it was not previously set (so default value _{"type": "RollingUpdate", "rollingUpdate": { "partition": 0} }_ applies).
Following message is printed by the failing kubectl command:

_The StatefulSet "name-of-the-statefulset-object" is invalid: spec.updateStrategy.rollingUpdate:

[2021-03-11 22:59] antaloala commented on #100151
/sig api-machinery

[2021-03-11 23:14] rphillips opened #100152 "Kubelet logs start with unstructured logs then transition to structured logs"
#### What happened:
When starting the Kubelet with ```KUBELET_FLAGS=--logging-format=json hack/local-up-cluster.sh```, the Kubelet begins with unstructured logging and then transitions to structured logging:

[code]

#### What you expected to happen:
I expect the Kubelet to have structured logging through the startup lifecycle.

#### How to reproduce it (as minimally and precisely as possible):
 `

[2021-03-11 23:15] rphillips commented on #100152
/triage accepted
/sig node

[2021-03-11 23:17] ehashman commented on #100152
Is it possible that these components are not yet migrated? I don't think flags.go or feature_gates.go are on structured logging yet.

[2021-03-11 23:18] ehashman commented on #100152
/cc @serathius

[2021-03-11 23:19] yizhang-zen opened #100153 "Show storage-backend default value in kube-apiserver"
#### What happened:
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
[code]
Although it says in the doc that `etcd3` is the default value of  storage-backend flag in apiserver. But the log showed empty.

[code]

#### What you expected to happen:
It would be good to have default value showed in the flag.

#### How to reproduce it (as minimally and precisely as possi

[2021-03-11 23:36] gyuho commented on #64742
@xiang90 @hzxuzhonghu

I think there are enough valid use cases for this. And I think the flag needs to be super-clear about what auto-sync in etcd does.

https://github.com/kubernetes/kubernetes/pull/64746 says

This is confusing. I think what @hzxuzhonghu is trying to say is "once auto-sync is on, we bypass the load balancer completely", as etcd client overwrites its endpoints field with the lat

[2021-03-11 23:38] gyuho commented on #64742
Alternatively, we can make this configurable via env var to etcd client (as we do with gRPC log level), without any kube-apiserver changes.

[2021-03-11 23:43] jingxu97 commented on #100047
Some update so far:

This test involves a number of phases, summarize as below

1. Create deployment with 2 replicas, with Agnhost image
2. Patch deployment with 1 replica, with Pause image and run command sleep
3. Update deployment with 2 replicas, with httpd image

Running the test, we found out that there is issue in second step
After patch deployment, it will result in 2 pods with following co

[2021-03-11 23:46] jsturtevant commented on #99365
Figured out what is happening:  If the test `HostPath should support r/w` runs before `[Feature:Windows] Windows volume mounts check volume mount permissions container should have readOnly permissions on hostMapPath` it leaves a file behind that the new test doesn't have permissions to.

To repo:

[code]

Then run:

[code]

[2021-03-11 23:54] apelisse commented on #26944
@iahmad-khan Would you mind coming-up with a minimal example that I would be able to build into a test or something?

[2021-03-11 23:54] apelisse commented on #26944
I'd need to see:
- The exact sequence of event,
- How the object is impact on the server, like the generation number for example.

[2021-03-12 00:14] jsturtevant commented on #99365
/triage accepted

[2021-03-12 00:22] ehashman opened #100155 "[Structured Logging] when klog is passed nil, it causes components to panic while logging"
#### What happened:

When `klog.KObj` is passed a `nil` ref while logging, it panics:

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/100050/pull-kubernetes-e2e-kind/1369786002343727104/artifacts/logs/kind-worker/kubelet.log

#### What you expected to happen:

`nil` or an empty reference should be logged.

#### How to reproduce it (as minimally and precisely as possible):

[2021-03-12 00:33] Jeffwan commented on #45650
/assign

I would like to help on this story.

[2021-03-12 00:48] pacoxu commented on #100155
need update klog dependencies later.

[2021-03-12 00:49] apelisse commented on #100012
/sig cli

[2021-03-12 00:52] brianpursley commented on #73698
@rtheis I just decided to run it again and it happened in just 1 minute, on the 3rd iteration
[code]

If it matters, I'm running this on a bare-metal 3-node cluster of low-spec machines (1 master, 2 workers):
[code]

Also, again not sure if it matters, but all 3 of the pods were scheduled to the same node, k8s-worker-1:
[code]

[2021-03-12 00:57] h4ghhh commented on #100119
pr: https://github.com/kubernetes/kubernetes/pull/100125

[2021-03-12 01:05] ehashman commented on #100155
/milestone v1.21

Will set the milestone for the issue and let people review the PR during regular burndown.

[2021-03-12 01:20] ehashman commented on #100155
Scope check: potentially affected components are:

- Kubelet
- Controller manager
- Scheduler

(grep for KObj: https://cs.k8s.io/?q=KObj&i=nope&files=&excludeFiles=&repos=)

[2021-03-12 01:23] BenTheElder commented on #99802
/assign

[2021-03-12 01:25] Jeffwan commented on #100153
https://github.com/kubernetes/kubernetes/blob/019c89218119ef37bf755e3717c431f4cb9469a4/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go#L51

"" means "etcd3".  However, I think it should be printed here. empty string is not that straightforward. I can help fix it.

[2021-03-12 01:25] Jeffwan commented on #100153
/assign

[2021-03-12 01:27] zouyee commented on #99919
/cc

[2021-03-12 01:43] Jeffwan opened #100158 "Expose more node level configurations to customize hollow-node"
#### What would you like to be added:

A kubernetes cluster is normally constructed from a variety of machine templates. Different instance groups may have different CPU, memory capacity. They may be equipped with specialized accelerators, network devices. I think we should have an extensible way for users to custom node configuration to simulate real production cluster states.

Currently, node_la

[2021-03-12 01:43] Jeffwan commented on #100158
/assign

[2021-03-12 01:46] Jeffwan opened #100159 "Single hollow-node per Pod setting is not resource efficient"
#### What would you like to be added:
Start multiple kubemark process in one pod.

#### Why is this needed:

As we plan to simulate a cluster with more than 20k nodes, 1:1 hollow-node to pod mapping require us to create 20k pods . By default, there's a 110 pod limit per node, this required more than 180 machines to simulate 15k pods. Even we can change pod/node setting, we met other issues like co

[2021-03-12 01:46] Jeffwan commented on #100159
/assign

[2021-03-12 01:46] Jeffwan commented on #100159
/sig scalability

[2021-03-12 01:47] Jeffwan commented on #100158
/sig scalability

[2021-03-12 01:49] ehashman commented on #98976
We have one remaining area to migrate:

- pkg/kubelet/cm/cpumanager

[2021-03-12 01:50] dims commented on #100138
cc @soltysh

[2021-03-12 01:55] houjun41544 commented on #100140
I did a preliminary analysis.
The first pod op-asm-operator-75d9577679-vl9qm was scheduled to the node "1111-88" and run normally. But due to etcdserver timeout, kube-scheduler received a binding failure, and then called ForgetPod() to delete the pod from the schedulercache. The Kube-Scheduler code is as follows.
[https://github.com/kubernetes/kubernetes/blob/release-1.19/pkg/scheduler/scheduler.g

[2021-03-12 01:55] lala123912 commented on #98976
work on pkg/kubelet/cm/cpumanager

[2021-03-12 02:17] cofyc commented on #92141
/reopen

[2021-03-12 02:33] mengjiao-liu commented on #99453
Then I thought about it again, and I think this YAML might sometimes be used this way
[code]

So it may not be a good idea to say no outright

Can you give me some advice   @jingxu97 @jsafrane @saad-ali @msau42

[2021-03-12 02:49] pacoxu commented on #73628
#97451 should fix this
/close

[2021-03-12 02:49] #73628 closed

[2021-03-12 03:08] #96512 closed

[2021-03-12 03:18] mengjiao-liu commented on #99453
This seems possible and Thank you for your description of the situation.

[2021-03-12 03:25] clh-cod opened #100166 "Nodes are frequently NotReady"
#### What happened:
Nodes are frequently NotReady

#### Environment:
- Kubernetes version (use `kubectl version`): v1.18.1
- OS (e.g: `cat /etc/os-release`): CentOS Linux 7 (Core)
- Kernel (e.g. `uname -a`):Linux njscsjfwzx2 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Network plugin and version (if this is a network-related bug): calico V3.17.0

[2021-03-12 05:46] robscott commented on #99824
Thanks to @santode and @maplain for linking this issue to the corresponding Gateway API discussions. I'm quite hesitant to add a new namespace-scoped {Ingress/Gateway}Class resource to these APIs but I do think we need to provide a better path forward for namespace-scoped Ingress/Gateway implementations.

One option that's been mentioned for Gateway API would be to make GatewayClass an optional re

[2021-03-12 05:48] robscott commented on #99824
Accepting this for triage. I don't think we have a clear solution yet, but I think this merits further discussion.

/triage accepted

[2021-03-12 05:54] #99365 closed

[2021-03-12 06:25] pacoxu commented on #99803
Is there a design case?

If not, I can run a cluster with 1 master + 3 worker node(1.20\1.21 defualts\1.21 structured log), how to measure it?
Run a day and measure the log size?

[2021-03-12 06:49] zhangrongguo opened #100170 "How to use Scheduling Framework in v1.15.3？"
Because the function `NewSchedulerCommand ` in the path `cmd/kube-scheduler/app/server.go` has no input argument, I can't pass the customized scheduling plugin to it.

[2021-03-12 07:09] lala123912 commented on #100151
I would like to work on it.
/assign

[2021-03-12 07:10] #64715 closed

[2021-03-12 07:19] lala123912 commented on #100151
I tried the first step, however it failed. could you provide the ymal of the first step? @antaloala

[2021-03-12 07:30] fromanirh commented on #100145
TL;DR: cpumanager code not broken; tests not broken; we should improve to avoid future possible false negatives.

[2021-03-12 07:36] eddiezane commented on #99801
I think this is still failing.

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99921/pull-kubernetes-e2e-kind/1370185640280330240

/reopen

[2021-03-12 07:52] chymy opened #100174 "Kubedm supports k8s component to customize image name or path to pull images."
#### What would you like to be added:
Kubedm supports k8s component to customize image name or path to pull images.

#### Why is this needed:

Sometimes users want to compile k8s components and build customized k8s component images, push them to the docker repository, and then install k8s with kubedm. At this time, they need to specify the name and tag of the customized k8s component, so Kubedm sh

[2021-03-12 07:56] DasLeo commented on #81289
/reopen issue still present in 1.20.4

[2021-03-12 07:56] chymy commented on #100174
/good-first-issue
/sig cluster-lifecycle

[2021-03-12 07:58] pacoxu commented on #98976
pkg/kubelet/cm/cpumanager/topology/topology.go NEEDS PR
pkg/kubelet/cm/cpumanager/cpu_assignment.go NEEDS PR
pkg/kubelet/cm/cpumanager/policy_none.go NEEDS PR
#100163

pkg/kubelet/cm/cpumanager/cpu_manager.go NEEDS PR
pkg/kubelet/cm/cpumanager/fake_cpu_manager.go NEEDS PR
pkg/kubelet/cm/cpumanager/policy_static.go NEEDS PR

I will take it .

[2021-03-12 08:03] wangyysde commented on #100174
@chymy As if you can use config or image-repository flag of kubeadm.

[2021-03-12 08:09] tanjing2020 commented on #100140
Although the timeout is returned, has etcd successfully written the data? Can you confirm this?

[2021-03-12 08:15] wojtek-t commented on #97239
Yeah - we can close. We can open a new one when we will observe flakes.

[2021-03-12 08:15] #97239 closed

[2021-03-12 08:17] chymy commented on #100174
Yes,  I know the flag. I mean that the customized image's name or tag  , not repository. Thanks.

[2021-03-12 08:22] aojea commented on #93740
/reopen

It seems only 2 tests were fixed, there are still 7 failing tests
https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e&width=20

[2021-03-12 08:23] mengjiao-liu commented on #100152
It's true tha and  flags.go and feature_gates.go is not yet log structured, At least I don't see it in the PR that exists

[2021-03-12 08:23] wzshiming commented on #99650
@johanfleury
Maybe you can try to disable this featureGate `CRIContainerLogRotation`

[2021-03-12 08:25] aojea commented on #93740
@swetharepakula maybe this error failure gives you a hint

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-ingress-gce-e2e/1370250008544153600

[2021-03-12 08:31] serathius commented on #100152
This bug is related to JSON implementation, not structured logging. Configuration of JSON format happens late in component bootstrap process.

[2021-03-12 08:45] serathius commented on #98976
Since we added static analysis all directories migrated we should add migrated directories to https://github.com/kubernetes/kubernetes/blob/master/hack/.structured_logging

Doing it in every PR will delay merging, as I expect that /hack/ has different approvers then kubelet. I will try to prepare separate PR for that.

[2021-03-12 08:48] aojea commented on #99801
yep, this time the problem is that the connection never happen

[code]

so, there is no conntrack entry

What I can't understand is why the pod is ready but kubelet reports an error on creation

[2021-03-12 08:54] ptabor commented on #100112
https://github.com/kubernetes/apiserver/blob/ad8edb40a2f71d322219e69be90eabcc2f3f5955/pkg/storage/etcd3/event.go#L49

states that:
[code]

So I wonder whether the test execution could be concurrent to the compaction.

[2021-03-12 09:08] mengjiao-liu commented on #100152
If so, is it related to this PR #99693 ?
This PR changes the JSON format registration from component-base/logs to the component-base/config @serathius

[2021-03-12 09:27] DapengJiao commented on #99895
Hi @maxlaverse

Thanks for your answer.
To be honest, I want to label as "question" instead of "bug".

I am aware of the statement(`Note:`) you pasted. But I was considering kubelet should not allocate exclusive CPUs from the cpuset which are already using by other process (container runtime, kubelet or other process from cloud infra layer)

For `isolcpus` I remember there was some discussion for

[2021-03-12 09:28] sofat1989 opened #100178 "Kubelet will not work if a nfs volume cannot be accessed"
#### What happened:
1. Kubelet syncLoop routine will be hung in  `HandlePodCleanups --> cleanupOrphanedPodDirs --> podVolumesExist --> getMountedVolumePathListFromDisk -->  IsLikelyNotMountPoint` if it cannot get a nfs volume mountpoint's stats.
##### Kubelet goroutine
[code]
##### kubelet logs
[code]

IsLikelyNotMountPoint hung because of nfs backend issue
[code]
2. Kubelet cannot deal with ADD,

[2021-03-12 09:32] pacoxu commented on #94622
+1 in recent PR tests

[2021-03-12 09:37] sofat1989 commented on #100178
/sig node

[2021-03-12 09:38] #93064 closed

[2021-03-12 09:51] pacoxu commented on #100174
/cc kofClubs

@kofClubs would you help with this

[2021-03-12 10:09] pacoxu commented on #94900
/assign

I may help in this before the test freeze of 1.21.

[2021-03-12 10:21] szuecs commented on #85643
@thockin nothing against "terminating" endpoints if we can get it from the endpoints object itself, if pod will get no termination signal for that time and at best a new pod would be scheduled already. We would not need to add preStop lifecycle hooks as we describe in https://opensource.zalando.com/skipper/kubernetes/ingress-backends/#pod-lifecycle-hooks.

I just want to clarify that this seems to

[2021-03-12 10:46] vlerenc commented on #78733
Yes, we are still seeing the problem. From end user PoV, when the `kubelet` restarts, it should not hastily put anything to failed and even repost the last seen status, i.e. not make, directly or indirectly, changes it has no information about (rendering everything failed and then run the readiness to see it isn't, destabilises workload unnecessarily). It should not touch the pods (even refresh th

[2021-03-12 11:04] pacoxu commented on #94900
- masterConfig -> controlplaneConfig
- MasterReceiver -> ControlplaneReceiver
- MasterHolder -> ControlplaneHolder

It really changed a lot of files. As most code are freezed, I think it is the right time to do it. It would avoid many conflicts and re-work on this.

[2021-03-12 11:04] rtheis commented on #73698
@brianpursley I was finally able to recreate the problem as well but it took much longer for me.

**Recreate on 1.20:**
[code]

**Recreate on 1.18:**
[code]

[2021-03-12 11:17] serathius commented on #100152
@mengjiao-liu No, your PR is not related. As a configuration of JSON I meant the moment the configuration is applied and klog switches to use different format. This is done exactly when particular component calls `logOption.Apply()`

[2021-03-12 11:34] jsafrane opened #100182 "NodeStage is not called after NodeUnstage error"
#### How to reproduce it (as minimally and precisely as possible):

1. Run a pod that uses a CSI volume that supports NodeStage (such as Ceph RBD)
2. Delete the pod
3. The CSI driver times out when processing NodeUnstage call. It is un-staging the volume in the background and eventually succeeds. (Ceph RBD talks to the storage backed in NodeUnstage and there was some network disruption)
4. Create

[2021-03-12 11:35] jsafrane commented on #100182
/sig storage
/priority important-soon
/triage accepted

[2021-03-12 11:46] thomasresley commented on #34314
Restart all the instances all at once. Give them some time to reboot and restart all the Kubernetes resources on the cluster. Worked for me on AWS

[2021-03-12 11:59] antaloala commented on #100151
Thanks @lala123912 for jumping
Whatever valid statefulset manifest not setting the .spec.updateStrategy stanza should work.
I am copying here the one I used in my test (I really simplified one not requiring any headless service manifest nor defining volumeClaimTemplate entries):

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: web-nginx
  labels:
    app: nginx
spec:
  serviceName: whateve

[2021-03-12 12:45] yvespp opened #100184 "graceful node shutdown restarts pods during shutdown"
Original discussion was here https://github.com/kubernetes/website/pull/26963 but I created this new issue because it has nothing to do with the website/docs.

@bobbypage here is the new issue, thanks for your help!

#### What happened:
Whit GracefulNodeShutdown enabled when I stop a node pods on it get deleted but then get startet on the same node again.
Maybe it's because the node is not marked

[2021-03-12 12:46] yvespp commented on #100184
/sig node

[2021-03-12 12:56] mengjiao-liu commented on #100152
Thanks, I get it

[2021-03-12 13:10] Ethyling commented on #54491
Hey @soltysh, I opened the PR, if you have some time to check it

[2021-03-12 13:23] serathius commented on #100155
I looked in current implementation of handling `nil` object. Please remember how checking `interface{}` works.

Current fix should work on simple nil:
[code]

but it will fail on structs implementing KMetadata interface, but not handling nil pointer.
[code]

Reason is that interface with nil value is not nil. Resulting call to 'Log' function will panic on `(nil).GetName()` call.

[2021-03-12 13:28] wojtek-t commented on #98326
The two opened PRs + the one that I have internally (close to ready, though dependent on the firs from the above) should actually close this.

[2021-03-12 13:39] s97712 commented on #93999
/reopen

[2021-03-12 13:54] sleshchenko commented on #91732
If rephrase the feature request in other words: Add an ability to match pod/exec by parent pod labels for webhooks.

And the motivation behind it - if webhook server is not available: only related pod/exec must be blocked but not the whole cluster.

Currently, webhook server must listen to all pod execs, grab related pod and analyze their labels. What results to the locked pod/execs to every conta

[2021-03-12 13:55] sleshchenko commented on #91732
@MikeSpreitzer @fedebongio any news on that?
Does this feature seems to have sense for you?

[2021-03-12 14:17] houjun41544 commented on #100140
@tanjing2020  The status of the Pod is running. Kubelet will run the pod only when the pod is bound to the node.

[2021-03-12 14:21] serathius commented on #100155
Did benchmarking on using reflections, looks like performance overhead is not as significant as I previously anticipated, around 10%.

I think we could consider using reflections.

[2021-03-12 14:22] serathius commented on #100155
/cc @thockin @44past4 @DirectXMan12
For feedback

[2021-03-12 14:35] serathius commented on #100155
/cc @dims

[2021-03-12 15:11] lyind commented on #72502
This issue still seems to persists in K8s 1.20.2 and is really annoying:

After node reboot (first pod is replacement launched after the old pod couldn't restart due to the issue):
[code]

Could we please reopen it or is there any known workaround I may have missed?

[2021-03-12 15:23] dims commented on #15635
/close

[2021-03-12 15:23] #15635 closed

[2021-03-12 15:44] #84922 closed

[2021-03-12 15:47] alculquicondor opened #100187 "Job suspend and completionMode fields should be left empty when features are disabled"
When feature gates are disabled, fields should not be rendered when storing or when returning objects from API.

For this reason, feature gate should control defaulting and the fields should be pointers.

This was missed during api-review for `.spec.suspend` and `.spec.completionMode`

/sig apps

[2021-03-12 15:54] liggitt commented on #100047
Thanks for digging. It sounds like there are a couple issues to fix:

1. the test issue running a command that won't work against the pause image (https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-797124871) - are all three tests using the same flawed approach?
2. the kubelet hanging in WaitForAttachAndMount in a failure state for a long time when the pod is already deleted (http

[2021-03-12 15:54] liggitt commented on #100187
/milestone v1.21

[2021-03-12 15:54] liggitt commented on #100187
this needs to be resolved before 1.21 to ensure alpha features are completely inert in the release

[2021-03-12 15:58] coffeepac commented on #79432
@monotek is correct, this repo should go be moved to k8s-sigs org.  There is a signup process for being added.  We should bring this up at the sig-instrumentation meeting to get some guidance if this should be a part of the sig-instrumentation repo or if we should find a different home.

part of this work should also include moving the images out of quay and behind wherever the k8s.io url points.

[2021-03-12 16:20] ehashman commented on #100155
There are hundreds of instances of `klog.KObj` in k/k now, and every single one would need to be carefully checked when obtaining the pod name/namespace, and we'd need a top-level approver to do the replacement. I think this really needs to be fixed in klog.

[2021-03-12 16:25] serathius commented on #100155
With benchmark results being not as bad as first estimated I think we could use reflection in klog like proposed in kubernetes/klog#226

[2021-03-12 16:40] hermanbanken commented on #98801
We use the GKE defaults (our GKE 1.16, 1.17, 1.18 all use metrics-server-v0.3.6).
We have 84 api-resources, including Calico, Helm, so not much CRD's.
I don't have the possibility to replicate in Kind, but I get the same behavior with a 1.16 cluster as our 1.18 cluster (kubectl is v1.19.0).

[2021-03-12 16:46] jingxu97 commented on #100047
From my quick san of the first two tests, they are not using Pause image with commands.

[2021-03-12 16:48] segevfiner commented on #95712
/remove-lifecycle stale

[2021-03-12 16:51] sladyn98 commented on #99801
I am new to the debugging aspect but does the line above `rpc error: code = DeadlineExceeded desc = context deadline exceeded"` cause the pod to not get reported, problems with communication to the cluster ?

[2021-03-12 17:01] msau42 commented on #100047
There are multiple known races when pods are created and deleted quickly. I suspect the one in https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-796537940, where the volume was umounted, but containers still tried to come up, is a manifestation of https://github.com/kubernetes/kubernetes/issues/69831. That race was partially improved by https://github.com/kubernetes/kubernetes/pu

[2021-03-12 17:07] jingxu97 commented on #100047
Investigate more about the deployment test issue. I think there are some confusion from deployment controller status
update.

As [comment](https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-797124871) mentioned in the case the deployment is patched with a different image and replica number changed from 2 to 1. But the following happens
1. the new pod comes up with the new image fa

[2021-03-12 17:11] msau42 commented on #99453
Does this address your use case?

[code]

[2021-03-12 17:44] zeleena commented on #100021
It would remove the validation error, but I'd be concerned about any side effects or unwanted outcomes when moving that field from required to optional. A somewhat analogous field [DeploymentStatus.Conditions](https://pkg.go.dev/k8s.io/api/apps/v1#DeploymentStatus) is required. But if you anticipate this won't change much else, that will work.

[2021-03-12 17:53] mkreidenweis-schulmngr commented on #66607
Just to let everybody know who's looking at this issue and might think it got fixed because the issue is "Closed".
The PR that fixed this was actually reverted later: #96454

Problem is still there in Kubernetes v1.20.
https://github.com/compumike/hairpin-proxy can help as workaround.

[2021-03-12 17:54] AlbinoDrought commented on #66607
hairpin-proxy works but had unexpected consequences in my usecase, https://github.com/jetstack/cert-manager/discussions/3749

[2021-03-12 17:57] jsturtevant commented on #99409
fixed the fs tests in #99221

[2021-03-12 17:57] #99409 closed

[2021-03-12 18:01] jsturtevant commented on #99363
We are now using the gcr promoted registry in our test.

There are a few more PRs open with some additional fixes:

- #99670
- #99866
- #99860

[2021-03-12 18:01] mkreidenweis-schulmngr commented on #66607
That's only an issue if you need both dns01 and http01 challenges to work, right?
As per my understanding the dns01 challenges should not be needing the hairpin-proxy workaround at all.

[2021-03-12 18:01] aojea commented on #99801
the kubelet -> containerd communication happens locally in the node, IIRC kubelet sends createPodSandbox with a timeout, I think that this error is because containerd didn't report back on time.
However, the pod is relaunched later, .... I´m pretty  busy right now, but maybe the key is there, the problem is that the server never receives the packet, but the server pod in the logs says is running .

[2021-03-12 18:27] jsafrane commented on #99677
I looked at  the sources, `GenerateMapVolumeFunc` *should* mark volumes as uncertain on error, especially after `MapVolume.MapPodDevice` succeeded for volume` in logs. Even in 1.18:

https://github.com/kubernetes/kubernetes/blob/9e991415386e4cf155a24b1da15becaa390438d8/pkg/volume/util/operationexecutor/operation_generator.go#L1002-L1009

Either it does not work as expected or it's something else

[2021-03-12 18:27] jsafrane commented on #99677
I looked at  the sources, `GenerateMapVolumeFunc` *should* mark volumes as uncertain on error, especially after `MapVolume.MapPodDevice` succeeded for volume` in logs. Even in 1.18:

https://github.com/kubernetes/kubernetes/blob/9e991415386e4cf155a24b1da15becaa390438d8/pkg/volume/util/operationexecutor/operation_generator.go#L1002-L1009

Either it does not work as expected or it's something else.

[2021-03-12 18:37] swetharepakula commented on #93740
Current rbac already gives the controller permissions to patch`service`:

https://github.com/kubernetes/kubernetes/blob/fcee7a01050652e54d2819b1942533d96e40f455/cluster/addons/rbac/cluster-loadbalancing/glbc/roles.yaml

[2021-03-12 18:44] LeSandeep commented on #89898
We are seeing this on EKS 1.16 as well. It does seem to be related to node newtork I/O since `httpProbe`s were working fine before we enabled log forwarding daemonsets (we generate a huge amount of logs).

[2021-03-12 18:51] jingxu97 opened #100192 "Deployment ReadyReplica status does not reflect real state"
This is discovered through flaky test issue #100047

The test first create a deployment with 2 replicas using Anghost image. And then the deployment is patched with a different image Pause and replica number changed from 2 to 1. But the following happens

1. the new pod comes up with the new image fails to start successfully, enter crash loop.
2. the old pod has to continue to run due to RollingUp

[2021-03-12 18:51] #94181 closed

[2021-03-12 18:52] jingxu97 commented on #100047
Created a PR for fix pod spec issue #100191
and created in issue about deployment status update #00192

[2021-03-12 18:57] jsafrane commented on #99677
I looked at  the sources, `GenerateMapVolumeFunc` *should* mark volumes as uncertain on error, especially after `MapVolume.MapPodDevice` succeeded for volume` in logs. Even in 1.18:

https://github.com/kubernetes/kubernetes/blob/9e991415386e4cf155a24b1da15becaa390438d8/pkg/volume/util/operationexecutor/operation_generator.go#L1002-L1009

Either it does not work as expected or it's something else.

[2021-03-12 19:20] dims commented on #96639
cc @lachie83

[2021-03-12 19:48] #84615 closed

[2021-03-12 19:50] johanfleury commented on #99650
Seem to work, I don’t know why I didn’t find this feature gate before.

[2021-03-12 19:50] ahg-g commented on #94009
I still think we should disabled services event handlers when the plugin is not registered. If an external plugin is using it, then they could enable the service affinity filter plugin with an empty affinity labels or patch event handlers until we figure out a way for external plugins to register extra events.

btw, do you know of any external plugins that actually rely on service events?

[2021-03-12 20:10] dims commented on #98423
cc @nikhita @palnabarun

[2021-03-12 20:11] ehashman commented on #100155
/reopen

needs to get bumped in k/k to close

[2021-03-12 20:11] dims commented on #90179
cc @nikhita @palnabarun

[2021-03-12 20:11] liggitt commented on #93740
patch permission to services/status has to be granted separately

[2021-03-12 20:13] dims commented on #89898
cc @adisky

[2021-03-12 20:17] dims commented on #98707
looks like this has stopped failing https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=BeforeSuite%20on%20Node.*failed

[2021-03-12 20:17] dims commented on #98707
/close

please reopen if needed

[2021-03-12 20:18] #98707 closed

[2021-03-12 20:18] dims commented on #64760
/close

let's close this please reopen if we find more evidence

[2021-03-12 20:18] #64760 closed

[2021-03-12 21:01] Huang-Wei commented on #94009
That's fair, and I can work on this, adding some comments caveating this is a temporary workaround.

I'm not aware so far.

[2021-03-12 21:04] ehashman commented on #100155
/triage accepted

[2021-03-12 21:09] bobbypage commented on #100184
What version of k8s did you use here for the test?

Did the change include https://github.com/kubernetes/kubernetes/pull/98005? That change ensured that node is marked not ready as soon as the shutdown is sent. That change was only applied on master branch (i.e. 1.21). It was backported to 1.20 in https://github.com/kubernetes/kubernetes/pull/99254 (but that change was only merged yesterday and is

[2021-03-12 21:09] bobbypage commented on #100184
/cc @wzshiming

[2021-03-12 21:21] thejoycekung opened #100194 "[Flaky Test] [sig-storage] Subpath Container restart should verify that container can restart successfully after configmaps modified"
#### Which jobs are flaking:
ci-kubernetes-e2e-ubuntu-gce

#### Which test(s) are flaking:
[sig-storage] Subpath Container restart should verify that container can restart successfully after configmaps modified

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default

#### Reason for failure:
[code]

#### Anything else we need to know:
- links to go.k8s.i

[2021-03-12 21:32] alculquicondor commented on #94009
tbh, I would say plugins depending on services is an antipattern, given the existence of pod affinity.

Probably some CRDs might make sense for specialized plugins.

[2021-03-12 21:44] erismaster commented on #97807
Moving to 1.22.

/milestone v1.22

[2021-03-12 21:51] erismaster commented on #96618
Hi, Bug Triage here, I am going to move this to 1.22 milestone since we are past code freeze for 1.21.

/milestone v1.22

[2021-03-12 21:52] erismaster commented on #97739
Moving to 1.22 milestone

/milestone v1.22

[2021-03-12 21:54] jsturtevant commented on #98102
although different failure mechanism, containers failing to be cleaned maybe related to https://github.com/containerd/containerd/issues/5188

[2021-03-12 22:05] jsturtevant commented on #98499
Hadn't seen this in a week or twoo but it popped up yesterday:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1370276426229485568
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1370048629514964992

[2021-03-12 22:06] jsturtevant commented on #98499
error:

[code]

[2021-03-12 22:06] erismaster commented on #80546
@justaugustus Do you want to try for this one in v1.22 or clear the milestone for now?
Thanks!

[2021-03-12 22:07] jsturtevant commented on #99470
We confirmed that is being fixed in AKS.

[2021-03-12 22:08] jsturtevant commented on #99470
/traige accepted
/milestone v1.21
/priority important-soon

[2021-03-12 22:18] jsturtevant commented on #100126
Are you seeing this on newer versions of k8s?  We are not running tests against 1.16 anymore: https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md

@daschott in case he is aware of anything

[2021-03-12 22:21] arcivanov commented on #98860
@damemi thanks a lot!

[2021-03-12 22:38] julianvmodesto commented on #97940
Fixed in 1.21 by #98194.

Keeping open since we're considering backporting a fix for past releases.

[2021-03-12 22:39] jsturtevant commented on #99157
I guess there is a bit of a miss match in terminology around pause container and sandbox.  If you know that failing to create the `pod sandbox` == `pause container` then the error message is right in the pod describe, no kubelet logs required.  If you don't know what a pod sandbox or pause image is then it is difficult to find.

Maybe we could improve the docs https://kubernetes.io/docs/setup/prod

[2021-03-12 23:01] jsturtevant commented on #99363
/triage accepted

[2021-03-12 23:01] jsturtevant commented on #99470
/triage accepted

[2021-03-12 23:02] jayunit100 commented on #96639
Working with peri on a Kep for this, anyone want to own part of the story ?

[2021-03-12 23:04] chaitanyabandi opened #100197 "namespace update fails in AdmissionWebhook e2e tests"
In VMware Tanzu Supervisor Cluster k8s setup, we observed that the AdmissionWebhook tests fail intermittently while updating the namespace with the error: "the object has been modified; please apply your changes to the latest version and try again". This is because the update conflicts with an update being performed by another controller.

The test could use Patch while adding labels via types.Str

[2021-03-12 23:13] jackfrancis opened #100198 "exec probes that exceed timeout always succeed when using ExecProbeTimeout=false"
#### What happened:

We've observed that when using a `ExecProbeTimeout=false` kubelet feature gate configuration with dockershim (e.g., docker/moby CRI) that exec probes have no effect if their command runtime takes longer than the configured probe `timeoutSeconds`.

This is different than the buggy behavior of dockershim probe timeout prior to the release of 1.20. That previous behavior, which `

[2021-03-12 23:18] diegoturcios commented on #82774
@eightlimbed which is the value that `KUBERNETES_SERVICE_HOST` needs to have?

[2021-03-12 23:21] matthew-walters commented on #89898
For liveness probes, I replaced `httpGet` with `tcpSocket` and it has worked fine since.
To me this makes more sense anyways.  A liveness probe should fail only when a restart is the only thing that will fix the issue.  A busy server (too busy to respond to a httpGet in time) is not such an issue.

[2021-03-12 23:26] jackfrancis commented on #100198
/sig node

[2021-03-12 23:46] daschott commented on #100126
What is your current state of the OS? I think .1577 is still a few months older, .1790 should be current.

Please also attach https://github.com/microsoft/SDN/blob/master/Kubernetes/windows/debug/collectlogs.ps1 output.

[2021-03-13 01:13] jalaziz commented on #95498
Would it make sense to add this behavior ot the docs? Variations of this issue have been brought up before in #97227 and #41596.

We also ran into this and it was a bit unexpected.

[2021-03-13 01:31] mengjiao-liu commented on #99453
I've tried it and it works https://github.com/kubernetes/kubernetes/issues/99453#issuecomment-790540879

But does this duplicate PV need to take certain measures, verification failed or can be successful ？

[2021-03-13 01:41] chymy commented on #100174
Thanks @pacoxu . Kubedm can set up image repository. However， if we redevelop the k/k and package it as our own mirror, `tag` might be different.

[2021-03-13 01:49] ehashman commented on #99803
Yeah, output log size for each use case would be perfect. v=4 verbosity sounds good to me, we could also test at the default.

[2021-03-13 02:01] #100155 closed

[2021-03-13 02:25] ehashman commented on #99803
/assign @pacoxu

Have at it! :tada:

[2021-03-13 02:53] pacoxu commented on #99803
So I'd test it after most pr are merged in https://github.com/orgs/kubernetes/projects/53#card-56215427 ?

[2021-03-13 04:09] jingxu97 commented on #100192
cc @liggitt @msau42

[2021-03-13 04:13] dims commented on #80546
/milestone v1.22

moving it. I don't think we will reach a consensus in in time.

[2021-03-13 04:20] BigMikeATL opened #100209 "Add ability to restart individual pods (i.e., kubectl restart pod <pod> -n <namespace>)"
#### What would you like to be added:
Restarting individual pods, either to resolve a stuck state or to resolve a new external configuration (i.e. one provided by something like Consul), require cumbersome/unintuitive steps (changing scale) or weird hacks (i.e. issuing an exec followed by a kill command, or in our case, a jenkins autodeploy job forcing redeployment which adds considerable time ove

[2021-03-13 04:23] BigMikeATL commented on #100209
/sig cli
/committee steering

[2021-03-13 04:24] liggitt commented on #100192
I think UpdatedReplicas is the status field indicating pods reflecting the current template

[2021-03-13 04:25] liggitt commented on #100192
ReadyReplicas refers to the count of pods whose readiness checks (if defined) are passing

[2021-03-13 04:25] BigMikeATL commented on #100209
/committee/steering

[2021-03-13 04:28] BigMikeATL commented on #100209
/committee cancel steering

[2021-03-13 04:30] #100209 closed

[2021-03-13 04:31] BigMikeATL commented on #100209
incorrectly added steering committee label and bot provides no way to remove. will close and create a new issue.

[2021-03-13 05:36] jmdacruz commented on #97445
@mosheavni I'm seeing a similar issue on `5.4.0-1037-aws`, where CPU does not reach the actual limits but there's throttling anyways. I tried to reproduce the original issue that had been reported on the 4.x kernel, with not luck (using this approach: https://gist.github.com/bobrik/2030ff040fad360327a5fab7a09c4ff1)

[2021-03-13 06:26] nicolasappdirect commented on #73297
Hey everyone, I was trying to deploy a NLB terminating TLS on it and for myself, I could make it work:

-  By understanding that there is 2 different usages of the service.beta.kubernetes.io/aws-load-balancer-ssl-ports. Either you can use `service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"` if the Port is 443 (it could be any port on which you want to terminate the TLS) OR `service.beta

[2021-03-13 09:55] huone1 opened #100211 "To podresource API, GetPodResources function return the cpu list in share pool for the Burstable QoS pod and so on"
To CPU Management function  in kubelet:

I hope to get all pod’s resource info by “/var/lib/kubelet/pod-resources/kubelet.sock”
in my test：
numa info: one numa node  has 0-7 cpus
![image](https://user-images.githubusercontent.com/71266853/111026591-eaa0df80-8425-11eb-9ca2-a82ea733226e.png)

![image](https://user-images.githubusercontent.com/71266853/111026094-76653c80-8423-11eb-8fe3-2abb8c41814a.p

[2021-03-13 10:02] #95510 closed

[2021-03-13 11:30] canuysal opened #100212 "Kubernetes blocking UDP requests"
### issue:
RTSP protocol uses random udp ports to push data every frame.

If I use single port TCP connection it works, but TCP has its own delay. Whenever I try to stream data using UDP in a pod, k8s does not allow udp access.

RTSP-UDP initially connects to 554 TCP port, and gets assigned to an UDP port between ~18000-25000. This port changes every frame.  However I cannot get any data using udp

[2021-03-13 11:32] canuysal commented on #100212
/sig network

[2021-03-13 11:33] dean-alphafx opened #100213 "Network Policy accepts 2 cidrs in one ipBlock"
#### What happened:
When adding to 2 cidrs to the ipBlock in a network policy, it is accepted as valid when it's clearly not.

#### What you expected to happen:
See an error stating the format is invalid.

#### How to reproduce it (as minimally and precisely as possible):
1. Create a default network policy to block all egress/ingres.
2. Create a network policy with the following egress rules:
`

[2021-03-13 11:44] dean-alphafx commented on #100213
/sig network

[2021-03-13 13:27] yvespp commented on #100184
It's with 1.20.4
Ok then this is a duplicate of https://github.com/kubernetes/kubernetes/issues/98004
Will test again with v1.20.5 which hopefully includs the fix.

[2021-03-13 13:27] #100184 closed

[2021-03-13 14:47] wangyysde commented on #100174
@chymy  As if you can specify the tag by --kubernetes-version.But the format of the tag  must be X.X.X. The following if the output of kubeadm config images list --kubernetes-version 5.22.1 --image-repository harbor.bzhy.com/k8s . It is for you reference.
`harbor.bzhy.com/k8s/kube-apiserver:v5.22.1
harbor.bzhy.com/k8s/kube-controller-manager:v5.22.1
harbor.bzhy.com/k8s/kube-scheduler:v5.22.1
harbo

[2021-03-13 15:33] pacoxu commented on #99815
/assign
tried to fix it in #100215

[2021-03-13 16:00] Harshrai3112 commented on #99605
Hi, I would  really like to work on this project. So can you assign me any task so that i can work on that now.

[2021-03-13 16:14] vorburger commented on #94428
/reopen strictly speaking kubernetes/community#5492 only documented the convention in general, but the specific problem raised here isn't addressed yet - #95517 and #99033 are 2 PRs open about it.

[2021-03-13 16:57] andrewv22 commented on #99181
@roycaihw
Maybe we could solve this using three mutexes:

* data mutex ('M')
* next-to-access mutex ('N')
* low-priority access mutex ('L')

Then modify the functions responsible for CRDs and CRs this way:

* CR Requests (low-priority): lock L, lock N, lock M, unlock N, { do stuff }, unlock M, unlock L
* CRD Requests (high-priority): lock N, lock M, unlock N, { do stuff }, unlock M

This way the C

[2021-03-13 17:11] #95733 closed

[2021-03-13 17:28] kolikons commented on #55232
might be useful https://github.com/kolikons/label-watch

[2021-03-13 18:50] neolit123 commented on #100174
/remove-help
/remove good-first-issue

this labels should not be present on this issue.

[2021-03-13 18:55] neolit123 commented on #100174
^ @wangyysde 's advice above is good.

kubeadm already supports image repository.
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2
search for `imageRepository`

this allows you to create / download images and place them in an accessible registry.

we have no plans to allow customizing image name / tags for api-server, KCM, kube-proxy and kube-scheduler, but you can do that

[2021-03-13 18:55] neolit123 commented on #100174
we don't keep support tickets open here, so i'm going to close this.
but you can continue the conversation...

/kind support
/close

see https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-03-13 18:55] #100174 closed

[2021-03-13 18:57] neolit123 commented on #100166
are you sure you have enough resources on these nodes?

/sig node

[2021-03-13 18:58] neolit123 commented on #100211
/sig node

[2021-03-13 20:42] jingxu97 opened #100219 "WaitForAttachAndMount might delay pod terminating."
From comment https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-796980046

syncPod is waiting for volumes to finish mounting. before calling WaitForAttachAndMount, it checks if the pod is terminated before entering. However, if the pod is terminated after that check, then we are stuck in in WaitForAttachAndMount until it times out, a little over 2 minutes.

The call probably needs

[2021-03-13 20:43] jingxu97 commented on #100219
cc @Random-Liu

[2021-03-13 21:21] aojea commented on #100212
@canuysal kubernetes does not filter anything by default, however, from your description is not easy to understand your scenario, is this pod to pod communication, pod to service?
You need to describe better the scenario, and if possible describe how to reproduce it

[2021-03-13 21:24] aojea commented on #100120
let's ask the expert:) @chrisohaver, can you help us here?

[2021-03-13 21:26] aojea commented on #100213
@jayunit100 @rikatz this seems a good one for the netpol crew ;)

[2021-03-13 21:31] aojea commented on #99382
@robscott should we close it now?

[2021-03-13 21:32] aojea commented on #97156
/close
I thought that this was a good idea at that time, but it doesn't seem so, or maybe in the future ...

[2021-03-13 21:32] #97156 closed

[2021-03-13 21:34] aojea commented on #23864
/cc
/assign @prameshj
/unassign @m1093782566

[2021-03-13 21:36] aojea commented on #97110
should we close it now @thockin ?

[2021-03-13 21:40] aojea commented on #95633
/close
the e2e tests that are kube-proxy specific are correctly tagged.
Services is a core API of kubernetes, hence is an inseparable part, not only from networking, most of the e2e tests use Services in one way or another.

[2021-03-13 21:40] #95633 closed

[2021-03-13 21:43] aojea commented on #94732
/close
PRs related had merged, please reopen if something else is missing

[2021-03-13 21:44] #94732 closed

[2021-03-13 21:46] aojea commented on #94496
@robscott have you already removed the feature gate?
can we close this?

[2021-03-13 21:54] aojea commented on #91072
hey folks what do we want to do with this?

[2021-03-13 21:57] aojea commented on #90259
I'm going to close it since kubelet added a rule to mitigate the problem for kube-proxy iptables #91569
and IPVS totally disable it #92938
/close
reopen if you feel that something is missing

[2021-03-13 21:57] #90259 closed

[2021-03-13 21:59] aojea commented on #90236
/close
ipv6 does not have the route_localnet hack , so this is working as expected
Lars reopen if you feel that we need to do anything else
Thanks

[2021-03-13 21:59] #90236 closed

[2021-03-13 22:03] aojea commented on #90131
If you use only a pod, you can use HostPorts to do that, that allows you to have the full docker behaviour IIRC.
Or is the requirement to use Services?

[2021-03-13 22:08] aojea commented on #85395
A similar topic was discussed in the sig-network mailing list
https://groups.google.com/g/kubernetes-sig-network/c/JjonaXdWAr4/m/X0EYuySdBQAJ
and one of the CoreDNS maintainers pointed us to one of the CoreDNS features to solve the problem.
Can you check if CoreDNS is able to provide you that functionality directly?

[2021-03-13 22:11] aojea commented on #88253
@rikatz @jayunit100 should we close this since https://github.com/kubernetes/kubernetes/pull/96968 has already merged?

[2021-03-13 22:13] aojea commented on #88967
@robscott has this be solved with the new cache changes or is something that is still needed?

[2021-03-13 22:15] rikatz commented on #88253
Yes! I'm finishing the docs!

As per @aojea said, in Kubernetes v1.21 namespaces will contain a default "kubernetes.io/metadata.name" label that contains the namespace name, and can be used in namespaceSelector on NetPols!

Thank you @jayunit100 for tackling and implementing this!

/close

[2021-03-13 22:15] #88253 closed

[2021-03-13 22:22] aojea commented on #84885
hi @prameshj, is this still needed? or can we close it?

[2021-03-13 22:24] aojea commented on #74383
is this still happening?

[2021-03-13 22:26] aojea commented on #69845
/close
https://github.com/kubernetes/kubernetes/pull/92744 merged
This took a bit longer than expected :upside_down_face:
Thanks

[2021-03-13 22:26] #69845 closed

[2021-03-13 22:29] aojea commented on #62288
CRI API is v1 and the field is still there
https://github.com/kubernetes/cri-api/blob/708d0d76e582f969d2a1056b07eaf19109b76b9e/pkg/apis/runtime/v1/api.proto#L1158-L1161

my understanding is that deprecating this now is not possible so I would close it
/close
Please, reopen if I'm wrong

[2021-03-13 22:29] #62288 closed

[2021-03-13 22:30] aojea commented on #60897
@MrHohn is this still valid?

[2021-03-13 23:44] thejoycekung opened #100220 "[Flaky Test] [sig-network] HostPort validates that there is no conflict between pods with same hostPort but different hostIP and protocol [LinuxOnly] [Conformance]"
#### Which jobs are flaking:
ci-kubernetes-kind-e2e-parallel

#### Which test(s) are flaking:
[sig-network] HostPort validates that there is no conflict between pods with same hostPort but different hostIP and protocol [LinuxOnly] [Conformance]

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&include-filter-by-regex=HostPort%20validates%20that%20there%2

[2021-03-13 23:58] thejoycekung commented on #98854
More recent flakes:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1370851171178123264
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1370590201994285056
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1370498097053962240
- https://prow.k8s.io/view/gs/kubernetes-jenkin

[2021-03-14 01:28] thockin commented on #85395
For the record - I am not AGAINST doing something here, but I have not yet developed a clear picture of exactly what we would want.

[2021-03-14 01:41] joyliu-q commented on #99605
Hello! This project seems fascinating, and a great sandbox for hands-on learning, which I'm a huge fan of. Sent you a message on slack with some more information: I would love to contribute and get involved!

[2021-03-14 02:15] jingxu97 commented on #100192
So is it better to add the check UpdatedReplicas == Desired too in the test?

[2021-03-14 03:32] yahaa commented on #99945
/assign

[2021-03-14 07:03] canuysal commented on #100212
hi @aojea , I will try to make it more clear.
The camera is in the host network, ie 10.5.5.2
Pod is in the CNI, ie 10.244.10.16

Im trying to connect rtsp stream within the pod. To reproduce:

If you dont have access to an rtsp stream, (if you have cctv you probably have one)
you can create one using this link ->  [https://superuser.com/questions/1420328/streaming-rtsp-with-ffmpeg](rtsp with ffmpe

[2021-03-14 10:02] mohag commented on #53201
/remove-lifecycle rotten

Still present

[2021-03-14 10:22] pacoxu commented on #60897
kube-dns releated seems to be deprecated.

Do we have same problem with system:coredns?

[2021-03-14 10:35] aojea commented on #100212
I see, I think that this is a NAT problem not a Kubernetes problem, usually the PodIP is being masquerade to the NodeIP, so the traffic from the camera needs to be DNATed, but since it has different ports it never matches the conntrack entry and is not DNATed to send back to the Pod.

If my assumption is correct, you can verify it checking the conntrack table of your node or with tcpdump, and see

[2021-03-14 11:36] jcdutton opened #100224 "BTRFS: Failed to start ContainerManager failed to get rootfs info: failed to get device for dir "/var/snap/microk8s/common/var/lib/kubelet": could not find device with major: 0, minor: 29 in cached partitions map"
#### What happened:
kubelet keeps restarting every 15 seconds.
The error message that I think is causing it is:
microk8s.daemon-kubelet[70940]: F0313 18:01:19.700016   70940 kubelet.go:1350] Failed to start ContainerManager failed to get rootfs info: failed to get device for dir "/var/snap/microk8s/common/var/lib/kubelet": could not find device with major: 0, minor: 29 in cached partitions map

/v

[2021-03-14 11:53] jcdutton commented on #100224
/sig sig-storage

[2021-03-14 11:53] jcdutton commented on #100224
/sig storage

[2021-03-14 12:46] pacoxu commented on #100224
I think it is fixed in next release 1.21 as https://github.com/kubernetes/kubernetes/issues/98009#issuecomment-794520115

/cc gjkim42
/sig node

[2021-03-14 12:47] pacoxu commented on #100224
/area cadvisor

https://github.com/kubernetes/kubernetes/blob/release-1.20/vendor/github.com/google/cadvisor/fs/fs.go#L575

[2021-03-14 13:01] liggitt commented on #100192
I not quite sure what the intent of the test was, but if it was to make sure the new spec was effectively running pods, I think so.

[2021-03-14 13:07] gjkim42 commented on #100224
Thanks @pacoxu
This looks similar to https://github.com/kubernetes/kubernetes/issues/94335, and should have been resolved by https://github.com/kubernetes/kubernetes/pull/98042.

@jcdutton
I think updating kubernetes to 1.20.3 or higher can address the issue. Could you try this?

/assign

[2021-03-14 13:09] pacoxu commented on #100220
I opened #100225 to fix this flake.
/assign

[2021-03-14 13:54] jcdutton commented on #100224
I tried 1.20.4.
But, there is a new problem. containerd fails to start. Just "timeout was exceeded"
<28>1 2021-03-14T13:44:30.207681+00:00 thread systemd 1 - -  snap.microk8s.daemon-containerd.service: State 'stop-sigterm' timed out. Killing.
<29>1 2021-03-14T13:44:30.208168+00:00 thread systemd 1 - -  snap.microk8s.daemon-containerd.service: Killing process 18584 (containerd) with signal SIGKILL.

[2021-03-14 14:01] jcdutton commented on #100224
I don't know if it helps but..
My system has a LUKS encrypted partition, with btrfs running on top of it.  No LVM used.

[2021-03-14 14:12] gjkim42 commented on #100224
I think BTRFS issue is no longer reproduced.

Regarding the containerd issue, I have no idea what LUKS is.
It could be helpful to comment the output of `journalctl -u containerd`....

[2021-03-14 14:16] jcdutton commented on #100224
As a question. Why is kubenetes looking for device major:minor numbers?
Can someone explain to me what kubenetes need this for? I might be able to suggest a more reliable approach that covers all file system types.
I think it is a flawed approach, because on btrfs major:minor numbers are not globally unique.
31 1 0:27 /@ / rw,relatime shared:1 - btrfs /dev/mapper/nvme_crypt rw,ssd,space_cache,subv

[2021-03-14 14:36] gjkim42 commented on #100224
I think cadvisor already has collected the mount point.
https://github.com/kubernetes/kubernetes/blob/5b0a2c3a29f6b5392e0f8f94ba5669bdc9eb73f6/vendor/github.com/google/cadvisor/fs/fs.go#L73-L79

[2021-03-14 14:39] jcdutton commented on #100224
for the containerd problem with 1.20.4:
output of journalctl -u containerd attached
[containerd.journal.txt](https://github.com/kubernetes/kubernetes/files/6136852/containerd.journal.txt)

LUKS is Linux full disk encryption.

[2021-03-14 14:46] jayunit100 commented on #100213
/assign @mattfenwick

[2021-03-14 14:47] jayunit100 commented on #100213
We'll look at it tomorrow unless matt gets to it first

[2021-03-14 15:05] mattfenwick commented on #100213
Just checked with kubeval -- kubeval reports this as an invalid policy under strict mode:

[code]

Same problem for me on KinD -- kube accepts the policy, but then silently drops the second
[code]

@jayunit100 @rikatz looks like we need to add some validation on the kubernetes side.

[2021-03-14 15:05] mattfenwick commented on #100213
/triage accepted

[2021-03-14 15:12] jcdutton commented on #100224
The kubernetes appear to be up now.
Should I be worried about this message in the logs that might be related:
<30>1 2021-03-14T15:08:34.076990+00:00 thread microk8s.daemon-kubelite 64250 - -  E0314 15:08:34.076630   64250 cri_stats_provider.go:376] Failed to get the info of the filesystem with mountpoint "/var/snap/microk8s/common/var/lib/containerd/io.containerd.snapshotter.v1.overlayfs": cannot

[2021-03-14 16:32] mikkeloscar commented on #91492
/remove-lifecycle stale

[2021-03-14 17:07] StepanKuksenko commented on #79224
/reopen

[2021-03-14 19:35] #95549 closed

[2021-03-14 20:24] thejoycekung opened #100230 "[Flaky Test] [sig-cloud-provider-gcp] Nodes [Disruptive] Resize [Slow] should be able to delete nodes"
#### Which jobs are flaking:
ci-kubernetes-e2e-gci-gce-serial

#### Which test(s) are flaking:
[sig-cloud-provider-gcp] Nodes [Disruptive] Resize [Slow] should be able to delete nodes

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial&include-filter-by-regex=should%20be%20able%20to%20delete%20nodes

#### Reason for failure:
The actual error message is v

[2021-03-14 21:16] dean-alphafx commented on #100213
Odd @mattfenwick, `kubeval --strict` doesn't even complain for me:
[code]

[2021-03-14 22:41] robscott commented on #88967
@wojtek-t Likely knows better than me if this is still needed. Although the recent tracker updates should help here, I don't think they completely remove the need for rate limiting.

[2021-03-14 22:42] zimmski commented on #95750
I am glad that i found this issue because the descriptions and comments perfectly describe what we have experienced in the last hours while trying to upgrade a cluster of us from 1.18.x to 1.19.x (and then shortly to 1.20.x to check if it is a problem with 1.19 alone). We are now back to 1.18.x because our nodes have massive available resources put we hit timeouts with PLEG leading to not-ready no

[2021-03-14 22:48] robscott commented on #91072
Taking another look at this one, I think the best option is what I proposed above (delete slices managed by controller during these transitions) for the EndpointSlice and EndpointSliceMirroring controllers. I do not think we should make any modifications to the Endpoints controller since we have no equivalent managed-by concept with that resource. Of course that risks introducing an unexpected dif

[2021-03-14 22:51] robscott commented on #94496
Unfortunately 1.21 was too soon to deprecate this feature despite my efforts. More details in the enhancement issue: https://github.com/kubernetes/enhancements/issues/1507. I think this is mostly just a duplicate of that tracking issue though, so I'll close this one out.

/close

[2021-03-14 22:51] #94496 closed

[2021-03-14 22:53] robscott commented on #99382
I think it makes sense to close this out. I think https://github.com/kubernetes/kubernetes/pull/99795 should fix this issue for >99% of users. If anyone does run into this, feel free to reopen.

/close

[2021-03-14 22:53] #99382 closed

[2021-03-14 23:02] Riaankl commented on #98180
This is likely related to infra and not the test. It is being addressed by https://github.com/kubernetes/kubernetes/issues/100047

[2021-03-14 23:03] Riaankl commented on #98180
/cc @heyste

[2021-03-15 00:05] dims commented on #98854
cc @aojea @BenTheElder

[2021-03-15 00:06] dims commented on #100220
cc @aojea

[2021-03-15 01:18] Hangzhi commented on #99605
Hello! I would also like to contribute to this scheduler. Is this idea similar to the [Hawk](https://www.usenix.org/conference/atc15/technical-session/presentation/delgado)? Is there any further information to better understand the project or basic tasks I can work on?

[2021-03-15 01:33] chymy commented on #100174
Thanks @neolit123 @wangyysde , our components may be different tags. ^_^

[2021-03-15 01:43] chendave commented on #96252
/lifecycle stale

[2021-03-15 01:43] chendave commented on #96252
/remove-lifecycle stale

[2021-03-15 02:15] pacoxu commented on #100220
Seems to be containerd issues.
`failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded`

Log from https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1370498347508436992.
[code]

[2021-03-15 02:26] clh-cod commented on #100166
@neolit123 Of course, this node has enough memoury and disk.
![image](https://user-images.githubusercontent.com/69289383/111095575-b427a980-8578-11eb-9a65-0997949fbbfc.png)

[2021-03-15 02:28] gavinfish commented on #95445
/remove-lifecycle stale

[2021-03-15 03:19] gyliu513 opened #100232 "Suggest adding `local time` for the output of `kubectl get nodes -owide`"
The clock synchronization error between different nodes often cause some issues which difficult to debug, it would be great if the `kubectl get nodes -owide` can also have the field like `local time` which can print out the realtime on the node, and this will help debugging when there are issues for clock synchronization error.

[2021-03-15 05:50] Pingan2017 commented on #100178
how about add a `TimeOut` for syscall.Stat

[2021-03-15 06:11] pacoxu commented on #100232
I think you should config ntp/chronyd on your nodes.

https://github.com/kubernetes/node-problem-detector/blob/f42281ee2658900bdb0571e1159a43f6ab712a19/config/custom-plugin-monitor.json
Then, configure npd with a ntp checking.

[2021-03-15 06:38] answer1991 commented on #94622
Sorry for my slow response. I'm working on it, looks like I need to debug golang HTTP client again :-P

[2021-03-15 06:39] pacoxu commented on #100232
Get the lastHeartbeatTime as a workaround:
`kubectl get node -o=custom-columns=NAME:.metadata.name,IP:.status.addresses[0].address,VERSION:.status.nodeInfo.kubeletVersion,LAST_HEARTBEAT:status.conditions[-1].lastHeartbeatTime
`

[code]

[2021-03-15 06:47] Pingan2017 commented on #99251
like below?  Nice for me.
[code]

[2021-03-15 06:53] caesarxuchao commented on #94622
Shall we revert #98809 in the meantime?

[2021-03-15 06:57] answer1991 commented on #94622
No, [TestGOAWAYConcurrency](https://github.com/kubernetes/kubernetes/issues/94532#event-4427772632) has already fixed by golang 1.15.8 I think. This one is caused another problem.

[2021-03-15 07:02] answer1991 commented on #94622
I will disable TestClientReceivedGOAWAY case again if I can find the root cause this night.

[2021-03-15 07:23] mborsz commented on #88967
While endpoint(slice)s controller implements per-service caching, I'm not aware of any global rate limiting, so this is not solved yet.

Another question is if it makes sense to solve this issue on the level of controller instead of e.g. on level of kube-apiserver as part of priority and fairness mechanism.

[2021-03-15 07:30] cwdsuzhou opened #100235 "Do not delete pod if pod is in waiting pods but not scheduled."
#### What happened:

https://github.com/kubernetes/kubernetes/blob/9657dd77a3563ffc7dbd061d51f34f714b1f8d5c/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L697:L704

We may delete podS though they  may be waiting in `WaitingPods`

#### What you expected to happen:

Do not delete waiting pods if they are not scheduled.

#### How to reproduce it (as minimally and precisely a

[2021-03-15 07:30] cwdsuzhou commented on #100235
/sig scheduling

[2021-03-15 07:31] cwdsuzhou commented on #100235
/cc @Huang-Wei

WDYT ?

[2021-03-15 07:37] aimuz opened #100236 "Host events cannot be obtained"
#### What happened:

I shut down the host, and I don't see the related events through `kubectl describe`, but I can get the related events through `kubectl get node`

[code]

This is the data. You can't see it through the description. I wonder if this is the right behavior?

[code]

Events obtained through `kubectl describe`

[code]

After my investigation, I found that the uid of the two events

[2021-03-15 07:58] zxh326 opened #100237 "Add `without managedFields` flags for `kubectl get kind --output`"
/kind feature

`managedFields` in most cases is useless and causes my output to look very messy.

Can we add a flag to control its print or not?

[2021-03-15 08:00] zxh326 commented on #100237
/sig cli

[2021-03-15 08:10] yangyuliufeng opened #100238 "The document of ReadinessGates mentioned in the note cannot find"
[The document of ReadinessGates mentioned in the note](https://github.com/kubernetes/kubernetes/blob/9657dd77a3563ffc7dbd061d51f34f714b1f8d5c/pkg/apis/core/types.go#L2835) cannot find.

[2021-03-15 08:17] thxCode commented on #100126
@jsturtevant ,  @daschott , thanks, this issue was not found until I upgrade the host from `10.0.17763.1282` to `10.0.17763.1577`.  Based on past experience, I try to fix this by upgrading. I have tried these UBRs(`1728/1757/1790/1817`), but this issue is still here. The current version of the host is `10.0.17763.1817`, [diagnose.zip](https://github.com/kubernetes/kubernetes/files/6139706/diagnose

[2021-03-15 08:20] yangyuliufeng commented on #100238
/sig Docs

[2021-03-15 08:28] aojea commented on #100220
wow, this was fast, it seems no failure since yesterday, we'll keep an eye too

[2021-03-15 08:45] zxh326 commented on #100238
/assign

You are right. The correct link should be https://git.k8s.io/enhancements/keps/sig-network/580-pod-readiness-gates/README.md

[2021-03-15 09:01] niradler commented on #12968
hi there is a date for this Deprecation?

[2021-03-15 09:02] njuptlzf opened #100239 "Detach kubeadm from k8s.io/kubernetes to k8s.io/kubeadm"
#### What would you like to be added:
All implementations of kubeadm are in [cmd/kubeadm](https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm).
My idea is to extract it to k8s.io/kubeadm so that other gomod projects can easily reference it.
#### Why is this needed:
As far as I know, [ projectcalico/node repeatedly defines ](https://github.com/projectcalico/node/blob/master/pkg/startup

[2021-03-15 09:23] mzyfree opened #100241 "kubelet uses 120GB memory after 20,000 job created and retains 80GB memory after jobs completed and deleted"
#### What happened:
1.create 20K job and each job is a java application running data monitor and analysis
2.delete all jobs after they have been completed
3.kubelet memory usage 120GB memory:
[code]

#### What you expected to happen:
kubelet should use and retain less memory

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
Through pprof,we f

[2021-03-15 09:23] mzyfree commented on #100241
/sig node

[2021-03-15 09:29] mengjiao-liu commented on #100178
@sofat1989
I can't reproduce it
I manually added the firewall, making it impossible to access the NFS service, but there is no Kubelet hung situation, I can still create a new pod.
Can you provide more information to make this issue reappear, such as some YAML files or how the NFS volume in your environment is not accessible?
My environment is:
[code]

[2021-03-15 09:44] Ruminateer opened #100242 "Cannnot go get legacy apimachinery packages"
#### What happened:
I need to use legacy apimachinery packages like k8s.io/apimachinery/pkg/apimachinery/registered and k8s.io/apimachinery/pkg/apimachinery/announced. I found the version information on pkg.go.dev and tried to use go get to install the legacy packages but failed. Not sure if I am doing this the wrong way.

#### What you expected to happen:
Go get can install the package.

#### How

[2021-03-15 09:57] nikhita commented on #57838
/lifecycle frozen

[2021-03-15 10:13] pacoxu commented on #57838
Is this still a problem? I will test it this week.

I prefered to use node affinity instead of nodeSelector.

[2021-03-15 10:19] wangyysde commented on #100174
/assign

[2021-03-15 10:22] pacoxu commented on #25320
/assign
If this will be in 1.22 or late releases.

[2021-03-15 10:33] malthe commented on #28369
Why was this issue closed?

[2021-03-15 10:36] mattfenwick commented on #100213
Ah good call @dean-alphafx , I made a boneheaded mistake and put a different policy into kubeval!!

Retrying with the right policy, I got the same result as you.  I think we need to report a kubeval bug too!

For solving this, [yaml.UnmarshalStrict](https://pkg.go.dev/sigs.k8s.io/yaml#UnmarshalStrict) does handle this correctly in one of my projects, maybe we could use that.

[2021-03-15 10:43] humblec commented on #85454
@sgissi indeed the RBD in tree volume handler works. The offiicial image missing Ceph binary is an issue though but different from the volume plugin functionality itself. As the CSI is heavily used in various production setups, using the same is recommended.  There is also CSI migration work in progress. Here is the WIP PR # https://github.com/kubernetes/kubernetes/pull/95361/ . Please let me know

[2021-03-15 10:43] mattfenwick commented on #100213
Reported this on kubeval over at https://github.com/instrumenta/kubeval/issues/273 !

[2021-03-15 11:18] mengjiao-liu opened #100244 "The document of Overhead mentioned in the note cannot find"
#### What happened:
/sig docs
The [document of Overhead mentioned](https://github.com/kubernetes/kubernetes/blob/9657dd77a3563ffc7dbd061d51f34f714b1f8d5c/pkg/apis/core/types.go#L2851) `https://git.k8s.io/enhancements/keps/sig-node/20190226-pod-overhead.md` in the note cannot find

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything e

[2021-03-15 11:18] mengjiao-liu commented on #100244
/assign

[2021-03-15 11:19] mengjiao-liu commented on #100244
/sig docs

[2021-03-15 11:25] Ruminateer commented on #100242
/sig api-machinery

[2021-03-15 12:01] #99669 closed

[2021-03-15 12:02] chrisohaver commented on #100120
Also posted to coredns/coredns. I'll assist there: https://github.com/coredns/coredns/issues/4513.

[2021-03-15 12:03] tanvp112 opened #100247 "ipBlock.cidr does not block connection on the node where the pod is running?"
Hi, I have a 1.20.4 cluster with 1 master & 2 worker nodes with calico (3.18) vxlan network. I deployed 5 nginx to kube-public like this:

[code]

As master1 is tainted, nginx is deployed to worker1 & worker2 as expected. There is a service (10.96.184.228) front for the nginx pods. I then deployed a k8s NetworkPolicy like this:

[code]

172.16.1.10 is the node (master1) IP address. The intention i

[2021-03-15 12:16] aleks-m opened #100248 "Support waiting on multiple conditions in kubectl wait"
Hi.

I am using `kubectl wait` to monitor long-running jobs from GitLab CI. Currently I can wait only on one condition, e.g.:
[code]
In case of a job failure (especially with `DeadlineExceeded` or `CreateContainerConfigError `) - `kubectl` keeps waiting for a kubectl timeout, in my case it is 40 minutes.

It would be nice to be able to wait on multiple conditions, e.g.:
[code]

That would allow ku

[2021-03-15 12:17] aleks-m commented on #100248
/sig cli

[2021-03-15 12:28] aleks-m opened #100249 "Support for tailing logs in kubectl wait"
Hi.

I am using kubectl wait to monitor long-running jobs from GitLab CI. Currently I can get logs only after job completion, e.g.:
[code]
Some of my jobs are taking long time to complete (near 40 mins). So I can't see any log output in that period of time.

Executing `kubectl logs` in my local terminal or looking at logs at a cluster console UI is not an option in my case - my developers have no

[2021-03-15 12:28] aleks-m commented on #100249
/sig cli

[2021-03-15 13:00] adtac commented on #92229
/remove-lifecycle stale

[2021-03-15 13:18] pskrzyns commented on #89898
In my case curl workaround worked for a short time.
Main issue was aggressive throttling - [here is nice article describing it](https://medium.com/omio-engineering/cpu-limits-and-aggressive-throttling-in-kubernetes-c5b20bd8a718).
So in case of restarts problem it's good to check value of
[code]
For time being I had to disable limits globally (--cpu-cfs-quota=false in kubelet), after kernel patchin

[2021-03-15 13:20] answer1991 commented on #94622
Can not reproduce on my PC, disable this test case before I figure out the root cause: https://github.com/kubernetes/kubernetes/pull/100250.

[2021-03-15 13:22] s97712 commented on #40610
What about the solution https://github.com/kubernetes/kubernetes/issues/93999 ?

[2021-03-15 13:26] neolit123 commented on #100174
currently we support custom images for dns and etcd. but if `kubeadm upgrade` finds that it will skip upgrade.
you can create tag aliases using `docker tag <your custom image tag> <k8s-semver>`
this means the `<k8s-semver>` tag will point to your custom image.

if you wish to discuss this feature request for the kubeadm API more create an issue in https://github.com/kubernetes/kubeadm

note, it ca

[2021-03-15 13:37] liggitt commented on #100021
Client-side validation is non-authoritative, and problematic for the reasons described in this issue ... the client is disallowing a request the server would actually have no problems with. No field the server would permit to be empty (e.g. succeeds with `--validate=false`) should be marked as required for this reason.

fwiw, openapi schema generation marks fields tagged as `omitempty` as optional

[2021-03-15 13:42] gjkim42 commented on #100224
I think the same mount source `/dev/mapper/nvme_crypt` can cause the error.

I think that error was recovered.
If there is a problem, please report it.

[2021-03-15 13:54] answer1991 commented on #94622
I run this test case with this command `go test -race k8s.io/apiserver/pkg/server/filters -run TestClientReceivedGOAWAY -v -count=1` and can not reproduce.

Does any thing different with command `make test KUBE_RACE=-race KUBE_TIMEOUT=--timeout=240s`.

[2021-03-15 14:05] aojea commented on #100120
/close
let's track it in one place only, please reopen if you prefer to keep tracking it here

[2021-03-15 14:06] #100120 closed

[2021-03-15 14:35] #100187 closed

[2021-03-15 14:52] aravindhp commented on #99157
You are right, @jsturtevant. Thinking more and reading the error message more closely, I don't see a need for changing the event message.

/close

[2021-03-15 14:52] #99157 closed

[2021-03-15 14:55] thejoycekung commented on #100138
More flakes since this weekend:

- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1371459664851505152
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1371411846942167040
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1371400020078628864
- https://prow.k8s.io/

[2021-03-15 14:57] thejoycekung commented on #100220
Looks like another one a few hours ago: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1371419397389815808

[2021-03-15 15:03] thejoycekung commented on #98854
More instances:

- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1371281239268397056
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1371143081566408704
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1371081675559145472
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernet

[2021-03-15 15:17] aojea commented on #100220
/assign
I have to remember how kubelet -> cri -> cni portmap works exactly, I think that there were some problems with retries :thinking:

In this case the pod that caused the test to fail, had to be retried by the kubelet

[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1371419397389815808/artifacts/logs/kind-worker/containerd.log

and later the pods

[2021-03-15 15:20] thejoycekung opened #100252 "[Failing Test] [sig-node] Container Runtime blackbox test when running a container with a new image should be able to pull from private registry with secret [NodeConformance] (ci-kubernetes-e2e-windows-gce-20h2)"
#### Which jobs are failing:
ci-kubernetes-e2e-windows-gce-20h2

#### Which test(s) are failing:
[sig-node] Container Runtime blackbox test when running a container with a new image should be able to pull from private registry with secret [NodeConformance]

#### Since when has it been failing:
Since March 2

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-20h2-

[2021-03-15 15:28] aojea commented on #98854
heh, at least is no ipv6 only, that is a relieve :stuck_out_tongue:

Analysing this occurrence
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1371143081566408704

and the containerd logs
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1371143081566408704/artifacts/logs/kind-worker2/containerd.log

it seems a timing issue,

[2021-03-15 15:37] jack-evans commented on #78494
Are there any updates on this issue? I have found I am hitting this quite consistently where my refresh token expires and the only way to fix it is to restart my applications

[2021-03-15 15:44] BenTheElder commented on #98854
See above that this also fails in GCE. And see https://github.com/kubernetes/kubernetes/issues/100047 where pod timeouts turn out to be an actual Kubernetes bug and a test bug ...

[2021-03-15 15:49] thockin commented on #43214
We've never had (much less published) conversion logic for
version-to-version, only version to unversioned (which is NOT a
supported API and *does* have breaking changes) and vice-versa.  As a
client, you can handle multiple versions yourself - either duplicate
your code for both types or convert it to/from your own notion of
internal.

I'm curious how we can make this easier for clients without e

[2021-03-15 15:57] howardjohn commented on #43214
We ended up just copy+pasting all of our Ingress logic

[2021-03-15 16:15] centromere commented on #92287
/cc

[2021-03-15 16:25] steffeneichler commented on #40610
@s97712: I'm not sure how #93999 could help here to fix the problem. One thing is the node label and #93999 is about nodeSecret or configmap.

[2021-03-15 16:28] eddiezane commented on #72088
This appears to be fixed by https://github.com/kubernetes/kubernetes/pull/91890

/close

[2021-03-15 16:28] #72088 closed

[2021-03-15 16:28] aojea commented on #98854
great :+1: , I mean, great is not only a kind jobs problem and we know the cause :upside_down_face:

[2021-03-15 17:10] adtac commented on #99605
Also I hope everyone's familiar with the [GSoC timeline](https://developers.google.com/open-source/gsoc/timeline). And be sure to go through the [student guide](https://google.github.io/gsocguides/student/), it's a truly useful resource.

[2021-03-15 17:12] adtac commented on #99966
/good-first-issue

[2021-03-15 17:14] adtac commented on #93795
/unassign
/good-first-issue

[2021-03-15 17:17] adtac commented on #92229
/good-first-issue

[2021-03-15 17:17] adtac commented on #94404
/good-first-issue

[2021-03-15 17:21] neolit123 commented on #100239
already tracked here:
https://github.com/kubernetes/kubernetes/issues/78534

add comments to that issue if you want.

/close
/sig cluster-lifecycle
/area kubeadm

[2021-03-15 17:21] #100239 closed

[2021-03-15 17:22] neolit123 commented on #100170
try asking on the support channels or #sig-scheduling on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/sig scheduling
/close

[2021-03-15 17:22] #100170 closed

[2021-03-15 17:22] neolit123 commented on #100153
/sig api-machinery

[2021-03-15 17:23] neolit123 commented on #100232
/sig cli

[2021-03-15 17:24] neolit123 commented on #100236
/sig node instrumentation

[2021-03-15 17:27] BenTheElder commented on #100197
(sig testing owns e.g. the frameworks but API Machinery own their test cases)

[2021-03-15 17:33] bowei commented on #43214
+1 to Tim's comment -- we have ended up rewriting the unversioned conversion code ourselves, albeit in a limited hacky manner.

[2021-03-15 17:35] jingxu97 commented on #100192
I tested this scenario manually and it shows that UpdatedReplicas is also changed actually. One status field can indicate there is some issue for this deployment is unavailableReplicas is set to 1. So to make sure this deployment is patched successfully, I think we could check unavailableReplicas > 0.

During first step, deployment has two replicas which are running successfully
[code]

The second

[2021-03-15 17:39] adtac commented on #99605
I've labeled a handful of issues in SIG scheduling with "good first issue".

Btw try experimenting with the `test/integration/scheduler_perf` performance testing framework because I think there will be some overlap between what that framework does and what this proposal will be doing. We won't be doing anything performance related in this proposal, but the way that testing framework creates a sche

[2021-03-15 17:51] prameshj commented on #84885
Thanks Antonio. This is fixed by https://github.com/kubernetes/kubernetes/pull/88771

[2021-03-15 17:51] #84885 closed

[2021-03-15 17:59] Danil-Grigorev commented on #25625
+1

I suggest looking into direction of out-of-tree CCM to address that issue. They successfully use taint on a `Node` resource to run a code which populates Node status and `providerID` during initialization, later removing the taint upon completion. The `Instances` and `InstancesV2` interface leverages two potential operational states of the Node: [InstanceExistsByProviderID](https://github.com/

[2021-03-15 18:04] AliceZhang2016 commented on #95047
/assign

[2021-03-15 18:22] caseydavenport commented on #99299
@juliantaylor do you happen to know if your kube-proxy has been configured to use the beta EndpointSlice API instead of the Endpoints API? https://kubernetes.io/docs/tasks/administer-cluster/enabling-endpointslices/

For v1.18 it should default to using Endpoints, but can be changed to EndpointSlices via a feature gate. I don't have any reason to suspect that's the issue - just gathering informati

[2021-03-15 18:34] Jiawei0227 commented on #96494
/remove-lifecycle stale
/lifecycle frozen

[2021-03-15 19:03] daniel-crlabs opened #100255 "Error upgrading from 19.2.8 to 20.1.3"
#### What happened:

A customer installed cockroachdb v19.2.8 in k8s using helm3.
When trying to upgrade it to v20.1.3 it is giving following error

[code]

[code]

#### What you expected to happen:

Upgrade to the latest version without problems

#### How to reproduce it (as minimally and precisely as possible):

Install cockroachdb v19.2.8 in k8s using helm3
Try to upgrade it to v20.1.3 by testi

[2021-03-15 19:11] minbaev commented on #99966
I can take a look into this

[2021-03-15 19:19] daniel-crlabs commented on #100255
/sig cli

[2021-03-15 19:22] sgissi commented on #85454
Agreed. In the other hand, it is not an issue that can be fixed, @dims made clear that kube-controller-manager has gone distroless to reduce the vulnerability surface. Even if technically is possible to add a static rbd binary (static?), it would still go against the plan.

Thanks for the link! Seems like the PR needs to be updated with latest master and tested. I would love to help, just need to

[2021-03-15 19:27] minbaev commented on #99966
/assign @minbaev

[2021-03-15 19:31] rkjain commented on #92601
/reopen

[2021-03-15 19:36] sheerun commented on #70147
/remove-lifecycle stale

On Mon, Mar 15, 2021 at 7:58 PM fejta-bot ***@***.***> wrote:

[2021-03-15 19:42] Huang-Wei commented on #100235
It sounds to me that you prefer to prioritize waiting Pod over other assigned Pods. In that case, you may want to exclude waiting Pods in the earlier Filtering/Sorting Victims step, instead of simply disregard the deletion in PrepareCandidate().

In general, when Permit plugins work along with PostFilter (preemption), the logic could be complicated. There may not be a general preemption implementa

[2021-03-15 19:57] jeremyje commented on #100252
I'm well aware of this issue. It's due to the fact that the private repo image does not support 20h2. It's actually able to access the image fine though.

[2021-03-15 20:00] wojtek-t commented on #92506
/remove-lifecycle stale

@lavalamp - ironically https://github.com/kubernetes/kubernetes/issues/92506#issuecomment-650132980 is somewhat-related to what we've been just discussing internally :)

[2021-03-15 20:08] swetharepakula commented on #93740
#100257 adds the `services/status` permission

[2021-03-15 20:12] solomonope commented on #100213
I would like to work on this

[2021-03-15 20:15] solomonope commented on #100213
/assign @solomonope

[2021-03-15 20:20] mattfenwick commented on #100213
@solomonope will hand off to you :) :) lmk if you need anything from me !!!

[2021-03-15 20:20] mattfenwick commented on #100213
/unassign

[2021-03-15 20:20] astoycos commented on #100247
@rikatz You can assign me here, thanks!

[2021-03-15 20:25] rikatz commented on #100247
/assign @astoycos

[2021-03-15 20:29] jingxu97 commented on #100047
For ReplicationController test failures, they are failed to start the initial replicationController pod sandbox

msg="get state for 3b9e6132bb6f89825f7d8a9f12099f970d1e49007c498dc8ad6f2e01a10df058" error="context deadline exceeded: unknown"

The error message for volume seems reasonable. After about 2 mins times out, volume will be unmounted, however pod lifecycle might still try to start pod for

[2021-03-15 20:31] mattfenwick commented on #100213
Can also use dry-run to see this behavior:

[code]

[2021-03-15 20:40] alexsomesan opened #100258 "Cached RESTMapper runs infinite retry loop with invalid API credentials"
#### What happened:
When using the memory cached RESTMapper client, if credentials are incompletely specified or invalid, the caching layer will infinitely retry API calls which get a 4xx response and get stuck.

The code sample below illustrates the bug. For comparison with the correct behaviour, uncomment the section with the uncached client (and comment out the cached one).

#### What you expec

[2021-03-15 20:42] alexsomesan commented on #100258
/sig api-machinery
/sig auth

[2021-03-15 20:42] alexsomesan commented on #100258
/sig api-machinery

[2021-03-15 20:46] lack opened #100259 "Mount Propagation to the Host should not be unneeded for k8s e2e tests"
#### What would you like to be changed:

The `Mount propagation` e2e test should be relaxed.  It currently checks 3 different aspects of the `mountPropagation` volume mount flag:

1. Containers with `mountPropagation: default` do not receive mounts from outside their own mount namespace, nor do mount namespaces outside the container receive mounts created within the container.
2. Containers with `

[2021-03-15 20:54] rikatz commented on #100213
@solomonope The main problem here seems in the network policy validation -> https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/networking/validation/validation.go#L190

Definition of an IPBlock:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/networking/types.go#L158-L161

If you need some guidance, please let me know as well :)

@mattfenwick I'm thinking a bit here, I don

[2021-03-15 20:59] rikatz commented on #100213
yeap, just concluding, this is the correct behavior of the API, as an example, when I create the following deployment:
[code]

I repeat replicas and the image fields twice, so the last value the field have is the one that counts:

[code]

IMO the behavior is right, and there's no correction that can be made on validation as the part is a struct containing a string. Anyway, waiting for some more th

[2021-03-15 21:03] solomonope commented on #100213
I spent some time looking at this my impression is that the issue is not from the validation [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/networking/validation/validation.go#L190) but the unmarshalling process from YAML to the NetworkPolicy struct type

[2021-03-15 21:07] DeanPH commented on #100213
Except it's not always the last entry...see this:
[code]

[2021-03-15 21:12] DeanPH commented on #100213
It appears `--dry-run=server` is using the last value, so different to `--dry-run=client`.

[2021-03-15 21:13] rikatz commented on #100213
Good point, yeah. If the type predicts a string and not an array, probably the yaml part is actually overwriting it!

Yes, probably this is the way library generates the information on client side vs server side. I don't know under the hood of the api machinery if there's some reason why this happens, but I guess...it's partially right per the nature of the struct right?

[2021-03-15 21:18] solomonope commented on #100213
Yes, I would investigate the unmarshalling process, I think that was why @mattfenwick  made the statement below earlier

[code]

[2021-03-15 21:20] #100197 closed

[2021-03-15 21:26] ahg-g opened #100261 "Scheduler: skip updates of assumed pods"
#### What would you like to be added:

Currently the scheduler may add an assumed pod back to the queue if the update didn't include specific fields (see https://github.com/kubernetes/kubernetes/blob/58814dbe3fc13602fb8a9ac67f9e046c9eb09326/pkg/scheduler/eventhandlers.go#L307).

There doesn't seem to be a reason why we can't simply ignore all updates of assumed pods. Assumed pods are waiting to be

[2021-03-15 21:27] ahg-g commented on #100261
What we basically need to do is:

1) remove `skipPodUpdate` function
2) in the places where we call `skipPodUpdate`, we should simply call `cache.IsAssumedPod(pod)`

[2021-03-15 21:27] ahg-g commented on #98828
Created https://github.com/kubernetes/kubernetes/issues/100261 to track the 1

[2021-03-15 21:31] apelisse commented on #100258
/assign
/triage accepted

[2021-03-15 22:05] lavalamp commented on #92506
Yeah, maybe the stars are finally aligning to implement one of these ideas :)

[2021-03-15 22:13] ehashman commented on #100220
/triage accepted

[2021-03-15 22:13] neolit123 commented on #100259
/sig architecture storage
/area conformance

[2021-03-15 22:19] ehashman commented on #94428
/reopen

[2021-03-15 22:19] ehashman commented on #94428
/remove-lifecycle rotten
/assign @serathius

[2021-03-15 22:19] ehashman commented on #94428
/triage accepted

[2021-03-15 22:46] rajathagasthya commented on #89168
/reopen

Reopening this issue as I'm seeing this as well. The resulting YAML does not have GVK set.

[2021-03-15 23:01] cmluciano commented on #92147
/remove-lifecycle stale

[2021-03-15 23:06] cmluciano commented on #96482
/remove-lifecycle rotten

[2021-03-16 00:16] ehashman commented on #99895
/kind support
/remove-kind bug

[2021-03-16 00:32] MrHohn commented on #60897
Closing this with kube-dns deprecated - I believe coredns has its RBAC set up differently.

[2021-03-16 00:32] #60897 closed

[2021-03-16 00:35] BrandonWeng opened #100271 "controller manager pod crash loops if route table is nil"
#### What happened:
Deploying a controller manager pod with `--cluster-cidr=.../16` and `--allocate-node-cidrs=true` in a cluster running Calico causes the controller manager pod to crash loop. This seems to only be a problem when running on Azure - the same configuration deployed to AWS didn't have any problems.

[code]

It seems like routeTable is nil here https://github.com/kubernetes/kubernete

[2021-03-16 00:55] chymy commented on #100174
Thanks @neolit123 , That's a solution.

[2021-03-16 00:56] chewong opened #100273 "sig-testing: support auto-tag and auto-bump for test images"
I forget how this works but technically we can't use 2.30 until it's been promoted. Usually there's a followup PR that updates test/images/manifest once promotion has occurred. Is that the more appropriate PR to make this change?

The two-step image promotion dance and fixed/hardcoded version approach used by e2e test images could really stand to be revisited. Not suggesting we try to do it in v1.

[2021-03-16 00:56] chewong commented on #100273
/sig testing

[2021-03-16 01:06] mattfenwick commented on #100213
I definitely feel like this is a bug that we should address, as long as it doesn't have huge negative consequences elsewhere and as long as it isn't official kubernetes API policy to have this behavior!

[2021-03-16 01:08] liggitt commented on #100213
This is the same issue as https://github.com/kubernetes/kubernetes/issues/14791

[2021-03-16 01:19] dims opened #100274 "Move images in gcr.io/gke-release to community owned repositories?"
Looks like we have 2 images:
- gcr.io/gke-release/nvidia-gpu-device-plugin
- gcr.io/gke-release/gcp-compute-persistent-disk-csi-driver

Here:
https://cs.k8s.io/?q=gcr.io%2Fgke-release&i=nope&files=&excludeFiles=&repos=kubernetes/kubernetes

Should these be moved to community owned repositories? Are there already there and we just need to fix up the locations?

[2021-03-16 01:26] psevestre commented on #80602
A possible workaround is to use an initial client-side sort and a watch to keep track of changes in an incremental way..

[2021-03-16 02:10] gavinfish commented on #97240
/remove-lifecycle stale

[2021-03-16 02:29] tanjing2020 commented on #100261
/assign

[2021-03-16 02:37] lala123912 commented on #100151
I use `kubectl patch` command without `retainKeys` , the patch file will be merged into the original one, not replace the old update strategy, so the `Partition` still exists in the new update strategy. Instead, We can use `retainKeys` to update the type and remove spec.updateStrategy.rollingUpdate.  See more details on https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-k

[2021-03-16 03:29] rongxuanhong opened #100276 "what is the correct way of applying hugepages in container"
What happend：
There is a need for enabling some containers in a Node to use hugepage-2M。I have initially implemented this with ```docker run -v ``` options，thus the container successfully mounts the external mounted hugepage directory to the its internal ，but we need use the way of k8s yaml。

There is some ways we try in way of k8s，and not worked：

- scheduling-hugepages。（from https://v1-18.docs.k

[2021-03-16 03:52] rongxuanhong commented on #100276
/sig scheduling
/sig doc

[2021-03-16 03:52] #97634 closed

[2021-03-16 04:02] pacoxu commented on #100276
/sig docs
/kind documentation

[2021-03-16 04:07] Dingshujie opened #100277 "pod config readinessprobe, if kubelet restart, pod temporarily report containerNotReady，this may lead to service not available"
#### What happened:

pod config readinessprobe, if kubelet restart,  pod temporarily report containerNotReady，this may lead to service not available

#### What you expected to happen:

pod status not changed

#### How to reproduce it (as minimally and precisely as possible):

1. create a pod with readinessprobe, and wait for pod ready
2. restart kubelet, use kubectl watch pods

#### Anything else

[2021-03-16 04:08] Dingshujie commented on #100277
/sig node

[2021-03-16 04:10] Dingshujie commented on #100277
@derekwaynecarr @dchen1107

[2021-03-16 06:09] rickardp commented on #97330
/remove-lifecycle stale

[2021-03-16 06:39] s97712 commented on #40610
Although the names are different, they are all data in essence.

[2021-03-16 06:47] uablrek commented on #100212
So the udp communication is initiated from within a POD? If so, as @aojea pointed out, K8s is not involved. It is a CNI-plugin thing, so;

What CNI-plugin are you using? How is it configured? Some overlay such as vxlan?

Please use the issue template next time. It has important fields to be filled, e.g CNI-plugin.

I can't think of anything in the path that can mangle UDP packets to have lenght=0

[2021-03-16 06:51] jingxu97 commented on #96759
Due to the race discovered https://github.com/kubernetes/kubernetes/issues/96759#issuecomment-731523669, after pod is deleted, it is possible that some local dir (unmounted) with data still exist.

[2021-03-16 06:56] uablrek commented on #100212
If you are using Calico the ports are scrambeled by default by `--random-fully` for outgoing NAT. I know this causes problems for SCTP and perhaps also for rtsp (which I am not familiar with)? The `--random-fully` can be turned off in Calico, I don't know if other CNI-plugins uses `--random-fully`.

[2021-03-16 07:05] mengjiao-liu commented on #100130
this PR https://github.com/kubernetes/kubernetes/pull/99289  fix it

/close

[2021-03-16 07:05] #100130 closed

[2021-03-16 07:13] amarkevich commented on #99061
Expected some kind of alarm in case inline volume used during update to 1.19.7 due to this breaking change to allow postpone the migration.

[2021-03-16 07:32] pacoxu commented on #99046
The stack trace is also found in my apiserver.

[2021-03-16 07:37] steffeneichler commented on #40610
Everything is data. A node label is an existing node property. The task here is to find a way to expose this existing information to pod in the same way as the node name. #93999 is a request for new kind of information.

[2021-03-16 07:42] KevinWang15 commented on #87615
I have a way of reproducing "use of closed network connection" reliably for 2 minutes... Node can enter "NotReady", then after 2 minutes, it will recover automatically.. (but it still remains a mystery why it does NOT recover automatically sometimes. If the load is high, is it more likely to not recover automatically?).

I think this is probably NOT a network / kernel related error. This error pos

[2021-03-16 07:47] KevinWang15 commented on #87615
Just FYI, I managed to backport this fix to Kubernetes 1.18, it's not too difficult, you can do it yourself:

1. use golang 1.14.15 to compile Kubernetes 1.18
2.  ```
    ./hack/pin-dependency.sh golang.org/x/net 08b38378de70
    ./hack/lint-dependencies.sh
    ./hack/update-vendor.sh
    (thank you @povsister )
[code]

[2021-03-16 07:58] solomonope commented on #14791
@BenTheElder  I was assigned #100213,  In our investigation it lead us to this, I would like to work on this issue, I am not sure exactly where to begin, can you point me to the bit of code in the api-machinery where the unmarshalling is happening

[2021-03-16 08:17] BenTheElder commented on #14791
The API Machinery is not so simple and not what I usually work on. https://github.com/kubernetes/kubernetes/issues/78946 may help as a pointer to where some of it is from last time I dug into fixing a related issue.

[2021-03-16 08:25] saschagrunert opened #100283 "Resource/memory leak for long running and reused portforward connections"
The original problem was discovered with CRI-O, which points to a general solution in k/k proposed in https://github.com/kubernetes/kubernetes/pull/99839

### Description

The following example assumes that an nginx web server is running in a POD and that 'crictl port-forward POD_ID 8080:8080' is being used to forward local http requests to the web server.

When CRI-O receives a port forward API r

[2021-03-16 08:25] saschagrunert commented on #100283
/sig node

[2021-03-16 08:28] lelix opened #100284 "Unable to write to windows container on Kubernetes 1.19.6"
Hello,

there is an application, runs with the IIS and .net framework (using docker image - mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-2004)
the application works well in Kubernetes and there are no questions (using AWS EKS with windows nodes group (node-ami-family WindowsServer2004CoreContainer))

But there is one caveat
an application is written in .net framework 4.8 and tri

[2021-03-16 09:02] povsister commented on #87615
The practice you did to replay the issue has some mistakes, I think.

* You are directly calling `net.Conn.Close()` to close the underlying connection without holding corresponding mutex, which absolutely violates the principle: A single connection to same `host:port` is reused by multiple streams. If you need to read/write data from/into that conn, you must first hold the mutex.

You intentionall

[2021-03-16 09:08] odinuge commented on #84426
/reopen

[2021-03-16 09:30] KevinWang15 commented on #87615
Yes.. you are correct in saying that I intentionally "introduced a bug" by disturbing the internal state, because it's very difficult to reproduce "use of closed network connection" on demand (it may require high load, etc.), so I thought as a last resort, I could disturb the internal state to mimic a broken TCP connection.. only to verify if the HealthCheck patch could help automatically recover

[2021-03-16 09:44] chanchalmishradevops commented on #62283
Guys,

When I use the command:
kubectl get deployments.apps deploymentname ==> with this command, I am able to see all my deployments shows ApiVersion as apps/v1  ( Here , Do I still need to edit the ApiVersion?)
and when I use
kubectl get deployments deploymentname ==>With this command, I am able to see all my deployments shows ApiVersion as extensions/v1beta1

Now my questions is:

Do I still ne

[2021-03-16 10:25] cpanato commented on #100274
/assign

[2021-03-16 10:27] cpanato commented on #100274
@dims
for `gcr.io/gke-release/gcp-compute-persistent-disk-csi-driver` there are some PRs in progress to move the registry:
 - https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/724
 - https://github.com/kubernetes/test-infra/pull/21374

 and requested to @spiffxp to copy the exiting image to the new community registry.

for `gcr.io/gke-release/nvidia-gpu-device-plugin`

[2021-03-16 10:28] cwdsuzhou commented on #100235
Got it!

But for the default preemption plugin, we delete the victims to free resources.

If pod has assigned, we should delete it.
If pod has not assigned, we just need reject it in WaitingPod because the pod just exists in the `NodeInfo` cache.

[2021-03-16 10:49] zx8 commented on #90329
/remove-lifecycle stale

[2021-03-16 10:56] chendave commented on #88093
@alculquicondor

What do mean the validation logic here?  I saw  only the QueueSort plugin config is validate separately here,
https://github.com/kubernetes/kubernetes/blob/6e0e64c992439c66ec63a02e6d517928acc580d5/pkg/scheduler/profile/profile.go#L89

Other than that, is there anything we need to do for this issue?

[2021-03-16 11:09] dims commented on #100274
thanks @cpanato !

[2021-03-16 11:45] manfredlift commented on #99979
Have you considered that the issue is not with the test but with the underlying code in kubelet like detailed in this issue https://github.com/kubernetes/kubernetes/issues/95140?

 Like detailed in the issue I can reliably reproduce (on k8s 1.18) the startup probe passing within a few seconds, but the container is only marked as ready after about a minute.

[2021-03-16 11:51] matthyx commented on #99979
@manfredlift there is already a fix in the 1.21 release for that (part of a bigger PR):
https://github.com/kubernetes/kubernetes/pull/98376/commits/4870e64ac110d6bf62dbd270f8cef557c4bd6d53

[2021-03-16 11:54] matthyx commented on #95140
Should be fixed by https://github.com/kubernetes/kubernetes/pull/98376/commits/4870e64ac110d6bf62dbd270f8cef557c4bd6d53

[2021-03-16 11:55] matthyx commented on #95140
/assign

[2021-03-16 12:00] mpucholblasco commented on #62772
Not sure if this could be your case, but we had the same problem, and, in our case, was [Cluster autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) doing its job:
[code]
In our case, it has been a bad configuration, as we could prevent this behaviour by adding the following annotation to pods (according to https://github.com/kubernetes/autoscaler/blob/master/clust

[2021-03-16 12:30] #95038 closed

[2021-03-16 12:52] chenyw1990 commented on #100277
/assign

[2021-03-16 13:02] lack commented on #100259
I have a proof-of-concept of the relaxed test [here](https://github.com/kubernetes/kubernetes/compare/master...lack:hide_container_mountpoints-k8s) as well as some more [supporting documentation](https://github.com/lack/redhat-notes/blob/main/crio_unshare_mounts/Rationale.md) and an OpenShift-based proof-of-concept of an actual implementation with the container mounts in their own namespace [here]

[2021-03-16 13:16] 0robustus1 commented on #95140
@matthyx I think 4870e64ac110d6bf62dbd270f8cef557c4bd6d53 certainly reduces the time from started -> ready for those Pods that do have a readinessProbe. This issue was however regarding cases where there is no readinessProbe.

I'm wondering though, will the changes to the probe_manager in 1.21 be backported to 1.20 and 1.19?

[2021-03-16 13:23] alculquicondor commented on #88093
API validation is missing a lot of checks, including the validation for pluginConfigs.

https://github.com/kubernetes/kubernetes/blob/6e0e64c992439c66ec63a02e6d517928acc580d5/pkg/scheduler/apis/config/validation/validation.go#L83

It's useful to have all validations in a single canonical place.

[2021-03-16 13:25] matthyx commented on #95140
Oops, right, so this case is covered by this refactoring: https://github.com/kubernetes/kubernetes/pull/98376/commits/431e6a704406b27b910de5a2ed6f1437fcff4303

I had no plan to open a cherry-pick, but at the same time I didn't notice this issue. Is that something you're willing to get in a patch release?

[2021-03-16 13:25] liggitt commented on #99046
@kevindelgado, can you take a look at resolving the stack trace? While it's mostly cosmetic and doesn't seem to cause any problems, that would be good to resolve before 1.21 releases if possible.

[2021-03-16 13:28] cpanato commented on #100274
discovered that the `gcp-compute-persistent-disk-csi-driver` is available here: `k8s.gcr.io/nvidia-gpu-device-plugin@sha256:0842734032018be107fa2490c98156992911e3e1f2a21e059ff0105b07dd8e9e` will open a PR to update to use this image

[2021-03-16 13:53] jouros opened #100296 "kube-apiserver crash with webhook-config-file"
#### What happened:
If I add below webhook-config to /etc/kubernetes/manifests/kube-apiserver.yaml with flag --webhook-config-file=/etc/kubernetes/webhook-config.yaml:

[code]

Kube apiserver will crash immediately. Yaml is valid according to this test:  <http://www.yamllint.com/>

#### What you expected to happen:
Kube-apiserver should start normally after adding above webhook config.

#### How t

[2021-03-16 13:57] jouros commented on #100296
/sig api-machinery

[2021-03-16 14:00] rikatz commented on #73056
/lifecycle active
/assign
Starting to work on a KEP to normalize this

[2021-03-16 14:23] KevinWang15 commented on #87615
I figured it out: the deciding factor is the golang version. If I use golang 1.13.15 (which is the default golang version for K8S 1.18) to compile kubelet, then kubelet will be stuck at "use of closed network connection" forever, never recovering.

If I use 1.14.15 however, kubelet will recover automatically within 2 minutes.

I haven't figured out the root cause yet, may be due to some `~/go/src/

[2021-03-16 14:32] liggitt commented on #87615
As mentioned in https://github.com/kubernetes/kubernetes/issues/87615#issuecomment-785067608, the fix for this issue was in the golang http/2 stack, which was included in Kubernetes 1.19+

[2021-03-16 14:54] thejoycekung commented on #100252
@jeremyje Would it be possible to disable this test on this job then, since it's a known issue?

[2021-03-16 15:21] thejoycekung opened #100302 "[Failing Test] CSI Volumes related tests (ci-kubernetes-e2e-gci-gce-serial)"
#### Which jobs are failing:
ci-kubernetes-e2e-gci-gce-serial

#### Which test(s) are failing:
- [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (immediate binding)] topology should provision a volume and schedule a pod with AllowedTopologies
- [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (delayed binding)] to

[2021-03-16 15:24] cpanato commented on #100302
this is because of https://github.com/kubernetes/kubernetes/pull/100179

[2021-03-16 15:24] cpanato commented on #100302
I will revert the PR (https://github.com/kubernetes/kubernetes/pull/100179)  is that ok @dims ?

[2021-03-16 15:32] cpanato commented on #100302
revert PR here: https://github.com/kubernetes/kubernetes/pull/100303

[2021-03-16 15:43] cpanato commented on #100302
triage/accepted

[2021-03-16 15:43] cpanato commented on #100302
/triage accepted

[2021-03-16 16:09] juliantaylor commented on #99299
We also suspected this might be caused by endpoint slices, but no we have *not* explicitly enabled them in the kube-proxy and are using the default, which according to the documentation of 1.18 is endpointslices usage disabled.

[2021-03-16 16:20] KevinWang15 commented on #87615
Yes, it's been fixed, it's just that nobody can reliably reproduce this bug yet, so I'm trying to reproduce it and verify that it is 100% fixed.

Here are my findings:
`K8S 1.18` + `golang 1.13.15` + `x/net v0.0.0-20191004110552-13f9640d40b9`:
If I signal kubelet to close all underlying TCP connections for HTTP2 ClientConnPool (mimicking an outage), kubelet will get stuck with repeated error messa

[2021-03-16 16:21] jingxu97 commented on #100219
found similar issue and PR to address it https://github.com/kubernetes/kubernetes/issues/49663

[2021-03-16 16:27] jsafrane commented on #99372
/assign @gnufied

[2021-03-16 16:38] jingxu97 commented on #73434
@marosset has an example of graceful shutdown https://github.com/marosset/windows-container-graceful-shutdown
Thanks!

[2021-03-16 16:43] juliantaylor commented on #88397
/remove-lifecycle rotten

[2021-03-16 16:54] ehashman commented on #98976
We are just waiting on approvers now! :tada:
/remove-help

[2021-03-16 16:55] kevindelgado commented on #99046
looking

[2021-03-16 17:10] Huang-Wei commented on #100235
Oh, your point was to verify if it's a waiting pod first, and then delete it? If so, then it makes sense to me.

[code]

Feel free to raise a PR.

/assign @cwdsuzhou

[2021-03-16 17:25] aojea commented on #99299
you'll be able to confirm it in the kube-proxy logs

[2021-03-16 17:25] claudiubelu commented on #100252
Hmm, it's a 20h2 run, and it's trying to the image ``gcr.io/authenticated-image-pulling/windows-nanoserver:v1`` which does not have a Windows image for 20h2 in its manifest list. According to this [1], the 2004 and 20h2 jobs should use the ``image-repo-list-2004`` file. That fill will contain the ``gcAuthenticatedRegistry: e2eprivate``, a registry which will contain the image ``e2eprivate/windows-

[2021-03-16 17:26] soltysh commented on #100138
Apologies, I was out last week looking at it now...

[2021-03-16 17:28] jeremyje commented on #100252
QQ: Won't `image-repo-list-2004` for 20H2 break other tests? Should we just update the e2eprivate reference in master?

[2021-03-16 17:33] jingxu97 commented on #100219
In syncPod workflow, there are three places checking whether pod is terminated

1. if pod is not runnable, or deletionTimeStamp is set, or pod is failed, trigger killPod() and return
 [code link](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1590)

2. if pod is not termniated (!kl.podIsTerminated(pod) ), do not create cgroup etc.
 [code link](https://github.com/kuber

[2021-03-16 17:39] medyagh opened #100309 "kubelet: provide feature to config CNI through config vs picking it up on lexicographic orde"
in minikube we noticed that during kubeadm init, kuberentes picks up the first alphabetical CNI that could cause some unexpected issues with choosing CNIs. (such as choosing the wrong CNI when there are other CNI files availbe in the `/etc/cni/net.d`

based on this comment from @afbjorklund https://github.com/kubernetes/minikube/issues/10788#issuecomment-797289498

[code]

would it be possible to

[2021-03-16 17:40] medyagh commented on #100309
/sig node
/area kubelet

[2021-03-16 17:44] soltysh commented on #100138
I've added a bit more debug information, it's hard to say which hashes are being compared and why it is failing, see #100310

[2021-03-16 17:57] BenTheElder commented on #100259
There's still a number of other issues, no? Is this a real motivation / use-case?

There are other difficulties. _Most_ of the difficulties with running Kubernetes inside containers are just the difficulties in sharing a kernel / host OS, which aren't related to this at all.

The security and performance angles seem relevant, in any case.

[2021-03-16 17:59] msau42 commented on #100219
I prefer option 2 so that it exits the wait faster in error conditions and doesn't impact the normal case.

[2021-03-16 18:03] jingxu97 commented on #100219
cc @mauriciopoppe

[2021-03-16 18:09] gregswift commented on #93019
I hope this isnt a deviation to the point of this ticket (volumeClaimTemplates for deployments), but the in between state between "volumes that care about identity" and "volumes that are ephemeral with the host" is "volumes that just care that they are being used by the same deployment".

I was looking into rollout performance issues on a statefulset we have, and ran across #68397. So decided to l

[2021-03-16 18:14] robscott opened #100313 "Traffic Policy and Topology Aware Routing should not be exclusive"
#### What happened:
I believe the [code is currently written](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/topology.go#L30) in a way so that only one of the following will be implemented (in order):
- ExternalTrafficPolicy
- InternalTrafficPolicy
- Topology Hints

#### What you expected to happen:
Configurations like `externalTrafficPolicy=Local` + `internalTrafficPolicy=Local` s

[2021-03-16 18:18] jsturtevant commented on #98574
This happened here: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1371779449283940352

[2021-03-16 18:28] lack commented on #100259
Update: I mistakenly referred to this as a "conformance test" - Turns out it is not in fact a conformance test; just an e2e test :)

Edited the original post to be more correct in this respect.

[2021-03-16 18:33] BenTheElder commented on #100274
Where are the sources for these images? Will we be able to continue to publish new images? cc @ruiwen-zhao xref: https://github.com/kubernetes/kubernetes/pull/96276

None of these images seem to have version tags?

If we're not actually publishing these, then we should probably either:
- consume them from somewhere that is publishing them and maintaining them
- set up mirroring them

[2021-03-16 18:35] lack commented on #100259
/remove-area conformance
/area test

[2021-03-16 18:37] canuysal commented on #100212
Hey, I've been trying the solutions you suggested for the last two days, and It became clear it's a NAT problem.
Today I tried to forward the udp port at the node with netcat, and stream was successful. Is there any way that I can forward all udp packages coming from a specific source to the pod in kubernetes?

I know It's not an issue and may be out of context, but can you help me out? I can't fi

[2021-03-16 18:51] neolit123 commented on #100271
/sig network cloud-provider
/area provider/azure

[2021-03-16 18:52] neolit123 commented on #100284
/sig windows

[2021-03-16 18:53] neolit123 commented on #100302
/sig storage cloud-provider
/area provider/gcp

[2021-03-16 19:09] BenTheElder commented on #100274
copying from https://github.com/kubernetes/kubernetes/pull/100294#issuecomment-800532513

Also as much as I would like to see this sorted out I don't think https://github.com/kubernetes/k8s.io/issues/1525 or https://github.com/kubernetes/kubernetes/issues/100274 counts as a test-only issue to be resolving in this part of the release cycle. This seems like something we should do early in 1.22 and f

[2021-03-16 19:16] dcbw commented on #100271
/triage accepted
Looks legit; present in 1.21 and earlier, probably introduced by https://github.com/kubernetes/kubernetes/pull/88209

[2021-03-16 19:16] jsturtevant commented on #98854
another instance: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99866/pull-kubernetes-e2e-kind/1371887802538528768

[code]

[2021-03-16 19:29] sladyn98 opened #100314 "[Flaky Test] Kubernetes e2e suite: [sig-apps] Deployment iterative rollouts should eventually progress"
#### Which jobs are flaking:
ci-kubernetes-kind-ipv6-e2e-parallel #1371633997716656128
ci-kubernetes-kind-e2e-parallel #1371833810513039360

#### Which test(s) are flaking:
Kubernetes e2e suite: [sig-apps] Deployment iterative rollouts should eventually progress

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&exclude-non-failed-tests=
https://testgrid.

[2021-03-16 19:31] sladyn98 commented on #100314
Looks like `/home/prow/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/storage/csi_mock_volume.go:958` timed out waiting for condition

[2021-03-16 19:38] vpnachev commented on #98035
Now when https://github.com/kubernetes/kubernetes/pull/98858 is merged, should this issue be closed as fixed?

[2021-03-16 20:08] jingxu97 commented on #100219
now I tried to implement this logic and realized for option 2, we cannot differentiate whether pod volume is removed from desired state or it is not yet added to the state. In many cases, it might not yet added to desired state, then we return error immediately, which might affect the performance..

[2021-03-16 20:22] fedebongio commented on #73698
/CC @yliaog to take a look and help us understand if it's API Machinery or Scheduling

[2021-03-16 20:22] fedebongio commented on #100151
/triage accepted

[2021-03-16 20:22] fedebongio commented on #100151
Thank you @lala123912 for helping here!

[2021-03-16 20:23] fedebongio commented on #100153
/assign @YoyinZyc
@Jeffwan are you planning to work on this one to fix it?
/triage accepted

[2021-03-16 20:26] fedebongio commented on #100242
/cc @sttts @liggitt
@Ruminateer maybe Stefan or Jordan can help here, but these packages are already removed more than 2 years ago, we are not sure.
/triage accepted

[2021-03-16 20:28] fedebongio commented on #100296
Hi @jouros can you paste the logs or the portion of the logs that contains the error message for failure?
/help

[2021-03-16 20:29] fedebongio commented on #100197
/triage accepted

[2021-03-16 20:29] fedebongio commented on #100117
/triage accepted

[2021-03-16 20:29] fedebongio commented on #100043
/triage accepted

[2021-03-16 20:29] fedebongio commented on #99878
/triage accepted

[2021-03-16 20:29] fedebongio commented on #99714
/triage accepted

[2021-03-16 20:29] fedebongio commented on #99405
/triage accepted

[2021-03-16 20:29] fedebongio commented on #88091
/triage accepted

[2021-03-16 20:45] cameronkerrnz commented on #56582
I've been looking at how to configure similar restrictions. In my use-case, I have a pod that is running shinyproxy (has backends for Docker Engine, Docker Swarm or Kubernetes); this pod will talk to the Kubernetes API to create and delete pods that run shiny-server; each with a slightly different configuration (it starts one pod for each user and shuts down the pod on logout or after some period)

[2021-03-16 21:16] apelisse commented on #91074
/lifecycle frozen

[2021-03-16 21:25] msau42 commented on #100219
if it's not added yet to desired state, then we will return error from the call. Are you considered that syncPod will take too long to retry?

[2021-03-16 21:36] jingxu97 commented on #100219
right. I remember if there is no pod update event happened, pod worker sync up pod after a period of time.

[2021-03-16 21:48] neolit123 commented on #100314
/sig apps

[2021-03-16 21:49] #99392 closed

[2021-03-16 22:09] astoycos commented on #100247
Hey @tanvp112,

So generally based on the [Kubernetes Networking Model](https://kubernetes.io/docs/concepts/cluster-administration/networking/#the-kubernetes-network-model) I believe nodes should always(regardless of netpol) be able to contact the pods that run on them. NOTE: This was mainly defined to allow kubelet to do health checks reliably

From what I understand in all your tests
[code]
You

[2021-03-16 22:14] liggitt commented on #100242
That version of k8s.io/apimachinery predates go modules: https://github.com/kubernetes/apimachinery/tree/d49e237a2683

That means there is no information in the repo about the specific versions of dependencies desired, so go defaults to fetching the latest version of those dependencies. That is unlikely to work well.

To use go modules with a version that old, you will need to determine the specif

[2021-03-16 22:14] #100242 closed

[2021-03-16 22:18] msau42 commented on #100219
Is there some other state we can check? To make it this far in `syncPod`, are there any assumptions we can make?

[2021-03-16 22:21] Jongy commented on #92803
For future reference, in case anyone finds their way here like I did - it seems that k8s doesn't even make use of user namespaces? My playground cluster runs k8s `v1.19.3` and by running `ls -l /proc/*/ns/user`. Of course this all might be relevant to my local settings...

So by using
[code]
in the Pod spec, and
[code]
in the Container spec, I got fully privileged containers without the need for a

[2021-03-16 22:50] zimmski commented on #95750
Did take another look and can confirm again that this problems appears for us with 1.19.x but not with 1.18.x. I do not have a minimum of pods yet but i can see that the switching of a node to "not ready" also happens with 60-70pods and <5load. In comparision i currently have a node without any problems 254 pods and ~14load that has absolutely no problem.

[2021-03-16 22:57] #94867 closed

[2021-03-16 23:26] yliaog commented on #73698
i ran the script on a GKE version 1.18 cluster for >2hr, it is still running without error.

[2021-03-16 23:27] yliaog commented on #73698
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/pod-priority-resourcequota.md

i'm adding the original author/reviewer to chime in

[2021-03-16 23:28] yliaog commented on #73698
/assign @resouer @vikaschoudhary16 @derekwaynecarr

[2021-03-16 23:29] yliaog commented on #73698
/assign @bsalamat

[2021-03-17 00:18] BenTheElder commented on #100309
These are picked up by the container runtime when not dockershim and dockershim is generally deprecated / not taking new features.

A CRI implementation could choose to support this, but, it would break the expectations of pretty much everything in the space.

CNI is generally under the purview of SIG network
/sig network

[2021-03-17 00:19] BenTheElder commented on #100309
Lexicographic config files is also how systemd and other system level configuration works when there is not only a single file. I don't think it is expected that config files would be in this directory unless they are intended to be used.

[2021-03-17 00:22] BenTheElder commented on #100283
FYI @aojea

[2021-03-17 00:24] BenTheElder commented on #100273
I think auto tag is a good idea. I don't think we're ready for auto-promote yet which would block automatically using new tags.

[2021-03-17 00:59] kevindelgado commented on #99046
@liggitt what are your thoughts on adding a field to the GenericAPIServer to skip OpenAPI handler installation like [this](https://github.com/kevindelgado/kubernetes/commit/0e0248817b9f396b041295bc78486908e426e1d0)?

This seems like the simplest approach and doesn't feel any hackier than the original solution of [nilling out](https://github.com/kubernetes/kubernetes/issues/89264#issuecomment-60130

[2021-03-17 01:09] KofClubs commented on #92229
/assign
I shall work on it.

[2021-03-17 01:21] liulangwa commented on #79384
ugly

[2021-03-17 01:30] RainbowMango commented on #79384
Hi, @liulangwa It is not recommended way now. [Here is an example maybe help you](https://github.com/kubernetes-sigs/cloud-provider-huaweicloud/blob/master/go.mod).

[2021-03-17 01:59] cwdsuzhou commented on #100235
Yes, I will open a PR to do this

[2021-03-17 02:14] carlory commented on #98035
@vpnachev  audit.k8s.io/v1[alpha|beta]1 versions will be removed in v1.24.

release notes:

[code]

[2021-03-17 02:20] andyzhangx commented on #60987
why this issue is closed?

[2021-03-17 02:20] andyzhangx commented on #60987
/reopen

[2021-03-17 03:26] pacoxu commented on #88886
After #96572 (1.20)， the behavior should be :

-  no pod restart after the init container was GCed
-  no pod restart after the init container image changed.

The reason is that kubelet will check `status of the main containers` before restarting init container.
/cc sjenning
/sig node

[2021-03-17 03:36] pacoxu commented on #88886
/assign

[2021-03-17 04:26] tanvp112 commented on #100247
Thanks, so this is expected. Same question has been posted at project calico side using calico policy [here](https://github.com/projectcalico/calico/issues/4469).

[2021-03-17 04:26] #100247 closed

[2021-03-17 05:54] pacoxu commented on #7961
As far as I know, take coredns as an example, it doesn't support non-root as it needs to bind to 53 port.
If changing to non-root, the port needs to be bigger which will cause backward issues.

Per https://github.com/coredns/coredns/pull/3923#issuecomment-637969242

[2021-03-17 06:03] wzshiming commented on #100241
This should have been fixed https://github.com/kubernetes/kubernetes/pull/27916

[2021-03-17 06:05] antaloala commented on #100151
Thanks @lala123912.
But I understand it is still a bug in API server as the handling of default values in the statefulset's updateStrategy stanza looks wrong, right?

[2021-03-17 06:06] #98292 closed

[2021-03-17 06:16] wzshiming commented on #100241
This issue is duplicated https://github.com/kubernetes/kubernetes/issues/94583

[2021-03-17 06:20] KevinWang15 commented on #87615
Hi, from my experiments, these two patches:
https://go-review.googlesource.com/c/net/+/243257
https://go-review.googlesource.com/c/go/+/243258

from https://github.com/golang/go/issues/40213 are also very important, if we want to be 100% sure.

The reason is:
`func (t *Transport) newClientConn` may fail: https://github.com/golang/net/blob/d523dce5a7f4b994f7ed0531dbe44cd8fd803e26/http2/transport.go

[2021-03-17 06:47] pacoxu commented on #95322
I tried in 1.21.0-beta.0 with Prometheus operator. I cannot reproduce it.

As Cadvisor is upgrading rapidly, would you try v1.19.8 (github.com/google/cadvisor:   v0.37.4)
Kubernetes v1.19.2 is using Cadivsorv0.37.0.

If you have many nodes, upgrading the kubelet on one node to test is enough.

[2021-03-17 07:03] rdxmb commented on #60987
seems like there is a merge to fix that: https://github.com/kubernetes/kubernetes/pull/95301

[2021-03-17 07:15] andyzhangx commented on #60987
thanks! close it.
/close

[2021-03-17 07:15] #60987 closed

[2021-03-17 07:15] andyzhangx commented on #60987
/close

[2021-03-17 07:22] wzshiming commented on #100241
/assign

[2021-03-17 07:22] wzshiming commented on #94583
/assign

[2021-03-17 07:31] akshaysharama opened #100327 "Metrics discrepancy for Memory in metric-server and top command."
#### What happened:
We are monitoring pods running in Kubernetes using metric server and analyzing the same in grafana.
As could see, using kubectl top command, seeing mem and cpu info in Mebibyte and Millicore respectively. show in below.
kubectl top pods test-0
NAME CPU(cores) MEMORY(bytes)
test-0 3m 335Mi

Prometheus reading the metrics, and updating the cpu and memory in nanocore and kebibytes

[2021-03-17 07:33] srinathmatti opened #100328 "Kubernetes Pods create/Status unsure (kubelet) - dbus: connection closed by user"
#### What happened:
We have a random pod having issues where its status is not available to K8s (Api server) and when we login to assigned node we can see it via ```docker ps ``` in some cases. As of now the solution is we restart kubelet on the node where the pod is assigned

[code]

[code]

#### What you expected to happen:
This is not happening in our other cluster which have the same container

[2021-03-17 07:52] srinathmatti commented on #100328
let me know what logs is needed ? I can provide it .

[2021-03-17 07:59] canuysal commented on #100212
@uablrek I'm using flannel at the time being, but tried this on calico as well. Thanks for the heads up, I will properly format my issue next time.

[2021-03-17 08:12] wzshiming commented on #100328
/assign

[2021-03-17 08:12] cpanato commented on #100302
tests are green again: https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial

[2021-03-17 08:12] cpanato commented on #100302
/close

[2021-03-17 08:13] #100302 closed

[2021-03-17 08:13] pacoxu commented on #95322
/area cadvisor

[2021-03-17 08:22] JornShen commented on #95750
@zimmski  Do you try this MR https://github.com/kubernetes/kubernetes/pull/96448 in your cluster ?

[2021-03-17 08:28] JornShen commented on #95750
@zimmski can you also see every relist time in your node kubelet log ?

[2021-03-17 08:32] CaoDonghui123 commented on #100327
/assign

[2021-03-17 08:34] wzshiming commented on #100328
https://github.com/kubernetes/kubernetes/blob/a6a3bf2eb4a0b7e9f86f991ffc24b72beafce2f4/vendor/github.com/coreos/go-systemd/v22/dbus/dbus.go#L158-L173
I probably positioned it to happen on L171, but I don’t understand why it happened. do you have a way to reproduce it? or provide the log of kubelet, let me locate the specific reason.

[2021-03-17 08:45] KevinWang15 commented on #87615
I think the fix in golang http/2 stack alone is not enough, if the broken `persistConn` in `http.Transport` is not removed from `.idleConn`, then in the next `roundTrip`, even with a new `ClientConn`, it will still find the faulty connection in `pconn, err := t.getConn(treq, cm)` (see my previous comment). I have asked golang folks to backport the `pconn.alt.(http2erringRoundTripper)` fix in https

[2021-03-17 08:51] mborsz opened #100331 "Flaky tests: [sig-storage] In-tree Volumes [Driver: gcepd]"
#### Which jobs are flaking:
gce-master-scale-correctness
#### Which test(s) are flaking:
[code]

#### Testgrid link:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness
#### Reason for failure:

Usually it's some pod failing to boot, e.g. for 1371793795175157760 we see 'Failed to create injector pod: timed out waiting for the condition'.

In logs I see:
[code]

[code

[2021-03-17 08:55] JornShen commented on #99552
@knabben have you start it? If no, I think I can help for it
:)

[2021-03-17 09:39] vsxen commented on #100328
dbus service had exited or restart?

you can restart kubelet to resolve it.

https://bugzilla.redhat.com/show_bug.cgi?id=1634092

[2021-03-17 09:40] juliantaylor commented on #99299
there is no logging of any endpoint slice reflector setups in the kube-proxy logs (now and when the problem occured)
[code]

[2021-03-17 09:42] wzshiming commented on #100328
I restarted dbus and this happened.

[2021-03-17 09:51] lala123912 commented on #100296
/need-more-information

[2021-03-17 09:53] lala123912 commented on #100296
I would like to work on this. Could you provide the log? @jouros
/assign

[2021-03-17 09:55] lala123912 commented on #100296
/remove-help

[2021-03-17 09:58] pacoxu commented on #12968
@niradler

As heapster is retired, I think it's time to deprecate it.

/assign

@tallclair
I think we should set it to 0 by default and mark it as deprecated. Then, try to solve problems with this port disabled.

Then we can get feedback from users with 1.22~1.24. And go forward to remove it.

[2021-03-17 10:12] knabben commented on #99552
Sure. This is sig api machinery test though

[2021-03-17 10:50] jouros commented on #100296
How can I provide logs? I have tried
kubectl logs -f kube-apiserver-master1 --previous -n kube-system
journalctl -f -u kubelet
I didn't find anything from those?

[2021-03-17 10:53] jouros commented on #100296
If I try kubectl logs -f kube-apiserver-master1 -n kube-system It will just stop when kube-api crash without showing anything?

[2021-03-17 10:55] jouros commented on #100296
My kube-apiserver config:

[code]
Audit logs and policy are functioning normally.

[2021-03-17 10:56] gjkim42 commented on #100224
/close

[2021-03-17 10:56] #100224 closed

[2021-03-17 11:01] andyzhangx commented on #99342
I think we need to fix it in containerd, not in k8s:
[code]

[2021-03-17 12:06] soltysh commented on #100138
/assign
There were no failures since this fix merged, I'll continue looking into this...

[2021-03-17 12:40] r10r commented on #94825
kindly ping @harche - has this already been implemented ?

[2021-03-17 12:57] liggitt commented on #99046
a "skip installation field" approach seems ok... made one suggestion about location and flow in https://github.com/kevindelgado/kubernetes/commit/0e0248817b9f396b041295bc78486908e426e1d0#r48352264

[2021-03-17 13:02] liggitt commented on #100151
cc @apelisse, looks related to https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1027-api-unions#normalizing-on-updates

[2021-03-17 13:19] liggitt commented on #100151
It's not exactly an API server bug... more an unfortunate interaction between server defaulting and client patching.

The server is defaulting the `spec.updateStrategy.rollingUpdate` field in the create step.

In the update step, the client is only sending a patch for the `spec.updateStrategy.type` field, leaving the defaulted `rollingUpdate` field in place, which is not valid for any type other t

[2021-03-17 13:24] jaygorrell commented on #39188
@thockin You're able to patch both there and get the expected results?

Here is 1.20. This is where you'd expect a change, right?
https://github.com/kubernetes/kubernetes/blob/release-1.20/staging/src/k8s.io/api/core/v1/types.go#L4041

[2021-03-17 13:34] Shashankft9 commented on #32149
I am still getting this issue, its been more than 30 minutes, still the pods havent gone away. My configuration from the k8s docs:
[code]
[code]

[2021-03-17 14:09] oldthreefeng commented on #78846
same issue here. any solution or reason?

[2021-03-17 14:28] saschagrunert commented on #94825
/assign

[2021-03-17 14:29] vinayakankugoyal commented on #7961
@pacoxu - coredns can be run as non-root and bind to port 53 if we apply cap_net_bind_service file capabilities to it at build time. This is what we did for kube-apiserver. See these PRs:
1. https://github.com/kubernetes/kubernetes/pull/99145
2. https://github.com/kubernetes/kubernetes/pull/96134

@liggitt - Looks like the issue can't be assigned to me.

I am currently working on a KEP for running

[2021-03-17 14:38] thejoycekung commented on #100138
@soltysh I think these ones have the new debug message you added:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1372169795985739776
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1372037424590360576
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/137201376