[2017-08-29 20:01] vladimirvivien commented on #51555
/sig storage

[2017-08-29 20:03] MrHohn commented on #51379
pull-kubernetes-e2e-gce-bazel is failing consistently on this firewall test: https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-gce-bazel&width=5&sort-by-flakiness=

cc @kubernetes/test-infra-maintainers

[2017-08-29 20:03] ApsOps commented on #51554
@kubernetes/sig-node-bugs
/sig node

[2017-08-29 20:04] Cryptophobia commented on #50622
@discordianfish : It turns out instanceGroups are very important for configuring DNS Route53 and etcd during cluster configuration with kops. If those instanceGroups are not defined correctly **(particularly when there are even number of master or multiple groups of masters into one availability zone in a region)**, etcd servers will not start and master nodes will not check in. This is definitely

[2017-08-29 20:06] krzyzacy commented on #51379
ah @shyamjvs I think the IP range is changed for the test right?

[2017-08-29 20:13] krzyzacy commented on #51379
It's affecting gce-etcd3 job as well, hummm - is the k/k pr not get in yet?

[2017-08-29 20:14] kow3ns commented on #51549
Also #50798 is relevant.

[2017-08-29 20:15] MrHohn opened #51556 "Failing test on alpha CIs: "[sig-auth] Advanced Audit [Feature:Audit] should audit API calls""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test

**What happened**:
`[sig-auth] Advanced Audit [Feature:Audit] should audit API calls` is consistently failing in alpha CIs since 8/25.

Checked [the commit diff](https://github.com/kubernetes/kubernetes/compare/acdf625e4...a235ba4e4), seems likely to be caused by https://github.com/kubernetes/kubernetes/pull/50971.

cc

[2017-08-29 20:16] ericchiang commented on #51556
I can update the test.

[2017-08-29 20:17] vinayagg commented on #47538
We are also looking for this feature but for different functionality.
We need to run "commands" for projects without excessive command line options or yaml files.
- job should already be defined and installed
- they just need one command to trigger it.

[2017-08-29 20:20] piosz commented on #51486
@yguo0905 the api is in alpha, we can rename it as a part of graduating the api to beta effort.

[2017-08-29 20:26] lpabon commented on #47733
@deitch could you provide kubernetes version and maybe an example service?

[2017-08-29 20:44] liggitt commented on #48128
moving to sig-api-machinery... listing names only without contents is an API issue
@kubernetes/sig-api-machinery-feature-requests

[2017-08-29 20:45] liggitt commented on #49622
@kubernetes/sig-cli-bugs

[2017-08-29 20:50] ericchiang opened #51559 "Federation e2e tests leaking resources"
The federation e2e tests are leaking resources:

https://k8s-testgrid.appspot.com/release-master-blocking#gce-federation

/kind e2e-test-failure

Example failure

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/6500

[code]

cc @kubernetes/sig-federation-bugs @kubernetes/kubernetes-release-managers

[2017-08-29 20:50] liggitt commented on #48629
@gaballard what version of kubectl are you running?

cc @kubernetes/sig-cli-bugs

[2017-08-29 20:51] liggitt commented on #48628
@gaballard do you have the contents of the file you are trying to create available?

@kubernetes/sig-cli-bugs

[2017-08-29 20:53] liggitt commented on #48476
The resource is likely `networkses`:

[code]

[2017-08-29 20:54] liggitt commented on #48476
the forbidden error from the API server lists the actual resource name (`kubectl get ... --v=6` also shows the actual resource name in the URL. The policy must match the resource name in the URL.

[2017-08-29 20:54] #48476 closed

[2017-08-29 20:55] liggitt commented on #46983
@nicksardo any progress on this or should this move to 1.9 ?

[2017-08-29 20:58] liggitt commented on #50799
cc @bowei @MrHohn

[2017-08-29 21:03] yguo0905 commented on #51486
Cool! I can do that after 1.8.

[2017-08-29 21:03] yguo0905 commented on #51486
/assign

[2017-08-29 21:04] nicksardo commented on #46983
Can move to 1.9 @liggitt

[2017-08-29 21:05] bowei commented on #50799
Version of software?

[2017-08-29 21:06] ericchiang commented on #49817
@kubernetes/sig-auth-feature-requests going to move this to the 1.9 milestone per our SIG auth meeting.

[2017-08-29 21:12] janetkuo commented on #51549
I'll just drop conditions altogether as we can add status field later if we need to.

[2017-08-29 21:23] mml commented on #51379
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51480/pull-kubernetes-e2e-gce-etcd3/51010/

[2017-08-29 21:24] mml commented on #51379
@kubernetes/sig-network-misc @kubernetes/sig-network-bugs please assign someone to this.

[2017-08-29 21:25] shyamjvs commented on #51379
I'm working on it - https://github.com/kubernetes/kubernetes/pull/51343

[2017-08-29 21:25] mml commented on #51379
Thanks @shyamjvs

/assign shyamjvs

[2017-08-29 22:02] MrHohn commented on #50799
@aanm kube-dns should use `system:serviceaccount:kube-system:kube-dns` instead of `system:serviceaccount:kube-system:default`.

Did you set `serviceAccount` on the kube-dns deployment:
https://github.com/kubernetes/kubernetes/blob/85025ef7dc693c116efc5fbf199a4f7119c69186/cluster/addons/dns/kubedns-controller.yaml.base#L171

and create `kube-dns` service account using https://github.com/kubernetes/

[2017-08-29 22:09] yujuhong commented on #51478
+1
I don't think we can ever be sure that the tests won't leak any resources. Since this is a required presubmit job, having a cleanup process sounds reasonable.

[2017-08-29 22:14] verult opened #51563 "kube-up script does not pipe default Flexvolume plugin directory to controller manager running on COS."
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

/kind bug

The current default volume plugin directory for controller manager is not a location executable by COS. Need to change this default location.

[2017-08-29 22:14] verult commented on #51563
/sig storage
/assign

[2017-08-29 22:24] ericchiang opened #51565 "audit policy: a policy with 0 rules should return an error, kind and apiVersion now required"
/sig auth
/kind bug

If an audit policies is supplied and there are no rules detected, the API server should error.

Over the last release, a change was made so audit policies now require kind and apiVersion fields to be parsed. So the following policy __doesn't work__:

[code]

However this doesn't error, it just spits out:

[code]

This should result in an error. Parsing a file with 0 rules shou

[2017-08-29 22:32] madhusudancs commented on #51478
@MrHohn it's a known issue. It's being tracked here - https://github.com/kubernetes/kubernetes/issues/50543.

@krzyzacy yes. It needs to be federation specific, that's why we opted out of the janitor. Janitor is too big a hammer for federation tests.

[2017-08-29 22:34] madhusudancs commented on #51559
It's being tracked here - https://github.com/kubernetes/kubernetes/issues/50543. Can we close this in favor of #50543?

[2017-08-29 22:36] madhusudancs commented on #50543
@quinton-hoole this is the PV/PD quota issue. I don't know whom to assign this. Would you be able to find someone?

@shashidharatd you have the most context here. Would you mind taking this up?

[2017-08-29 22:38] ericchiang commented on #51559
@madhusudancs yeah sounds good.

[2017-08-29 22:38] #51559 closed

[2017-08-29 22:39] MrHohn commented on #51478
@madhusudancs Thanks for the link. Closing this issue as pull-kubernetes-federation-e2e-gce is no longer failing.

[2017-08-29 22:39] #51478 closed

[2017-08-29 22:40] madhusudancs commented on #51478
@MrHohn makes sense, thanks!

[2017-08-29 22:41] madhusudancs commented on #50543
Some pointers:

1. Before deleting the PV, get the associated PD name from the PV object here: https://github.com/kubernetes/kubernetes/blob/0d17e9deb7188bc79d905cb4ef6911c0a27adc59/federation/cluster/common.sh#L81
2. Run gcloud command to delete that PD.
3. Wait until the PD is gone before proceeding.

[2017-08-29 22:42] madhusudancs commented on #50543
/assign @quinton-hoole to find an owner.

@shashidharatd feel free to self-assign if you like to own this.

[2017-08-29 23:20] smarterclayton commented on #51549
Where is the discussion captured that agrees to the conclusions referenced in the linked PR?  Not discussed in sig-api-machinery (that I know of)?

[2017-08-29 23:20] smarterclayton commented on #51549
#7856 is not a plan, it's a description of a survey.  If it's a plan, it needs to be a plan.

[2017-08-29 23:23] smarterclayton commented on #7856
I don't know that this follows from the prior (or at least, needs more supporting evidence gathered).  I see lots of use of conditions in monitoring tools, have seen it in alerting and UIs, and it is the primary mechanism to communicate status info beyond events (which suffer from their own problems).  If we remove conditions, we have to assert every place that is using them and assess the impact

[2017-08-29 23:51] verult opened #51570 "Default GetVolumeName() log formatting error"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

/kind bug

**What happened**: This message appears in the controller manager log:
“using default GetVolumeName for volume 0x1c7d350”

**What you expected to happen**: “using default GetVolumeName for volume \<volumeName\>”

**Environment**:
- Kubernetes version: 1.8

/sig storage
/assign
/cc @chakri-nelluri

[2017-08-30 00:01] pipejakob opened #51571 "bazel build fails on release-1.6 branch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`make bazel-build` fails on the `release-1.6` branch, and the [bazel-build-1.6](https://k8s-testgrid.appspot.com/google-unit#bazel-build-1.6) job is red.

**What you expected to happen**:

I would expect the bazel-build-1.6 job to be green, and that `make bazel-build` would succeed on the `release-1.6` branch (if using t

[2017-08-30 00:07] ixdy commented on #51571
When I updated the rules_go ref in https://github.com/kubernetes/kubernetes/pull/50414, I inadvertently also updated release-1.6 to go1.8.3, which caused the build to fail since the version of `gazel` used on release-1.6 generates BUILD files only for go1.7.

I tried updating the `WORKSPACE` to use go1.7.6, but now I'm running into a weird internal go compiler error (https://github.com/bazelbuild/

[2017-08-30 00:08] msau42 commented on #51418
/assign @sbezverk

[2017-08-30 01:09] krzyzacy commented on #51136
/assign
/close

[2017-08-30 01:09] #51136 closed

[2017-08-30 01:11] arun-gupta opened #51578 "Non-host cluster in a federated cluster is in Unknown state"
Created two k8s clusters and a federation as explained at:

https://gist.github.com/arun-gupta/02f534c7720c8e9c9a875681b430441a/ab4f9738c78da8c153f9b6bbb83b49f0b3a4e8de

The non-host cluster is always shown in `Unknown` state.

Tried this with 1.6.4 and 1.7.0 clusters.

[2017-08-30 01:29] #51531 closed

[2017-08-30 01:36] ash2k commented on #7856
To add a data point - we use conditions in Smith and I find them quite convenient.
https://github.com/atlassian/smith/blob/master/pkg/controller/controller_worker.go#L392-L429
There are 3 conditions: Ready, InProgress and Error.

I thought it is a cool pattern and some generic machinery can be provided if objects expose their status in a more uniform, programmable way. E.g. a generic "wait for obj

[2017-08-30 01:39] xiangpengzhao commented on #49217
@davidz627 thanks! Please also ping me in your coming PR(s).

[2017-08-30 01:44] mattjmcnaughton commented on #51362
I'd love to work on this if its still open.

[2017-08-30 01:50] CaoShuFeng commented on #51565
/assign

[2017-08-30 01:58] jhorwit2 commented on #51362
It is definitely still open! All yours :D

[2017-08-30 02:02] imiskolee opened #51581 "CronJob.spec.FailedJobsHistoryLimit dosnt work"
**Is this a BUG REPORT**:

**What happened**:

my yaml

[code]

but ,that  successfulJobsHistoryLimit  and failedJobsHistoryLimit not work.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3", GitCommit:"2c2fe6e8278a5db2d15

[2017-08-30 02:22] tatsuhiro-t commented on #51445
I'm not sure, but I think that even if there are some periods that multiple apiservers are fighting to update Endpoints each other, when only one apiserver remains, and the others are stopped, kube-ctl should update iptables according to the latest Endpoints.

[2017-08-30 02:40] ash2k commented on #40790
@liggitt what would be the best package to place those helper functions? I'd like to have them as both helper functions and methods if that is ok. Same package or maybe `k8s.io/apimachinery/pkg/conversion/unstructured`?

[2017-08-30 02:42] mattjmcnaughton commented on #51362
Sweet, I'm on it :)

Just to conform - something like

[code]

should become

[code]

[2017-08-30 02:50] xiangpengzhao commented on #51581
/sig apps

[2017-08-30 02:51] xiangpengzhao commented on #51578
/sig federation

[2017-08-30 03:19] smarterclayton commented on #51521
Where did this happen?

[2017-08-30 03:33] gnufied opened #51586 "Taint controller panic error"
Just saw this while running kube master locally:

[code]

Yet to investigate more closely and check which PR could have introduced this. cc @bowei

[2017-08-30 03:34] gnufied commented on #51586
/sig node

[2017-08-30 04:00] bowei commented on #51586
any way to repro?

[2017-08-30 04:13] xiang90 commented on #46231
@ravisantoshgudimetla

i do not understand how #44740 solves the server-side enhancement issue. also why do we add this to sig-cli?

/cc @ahmetb

[2017-08-30 04:18] deitch commented on #47733
kube 1.6.2. Yeah, we need to upgrade to 1.7.4, in next few weeks, but the above comments indicate it occurs there as well. Was going to do it this week, but when we did a rolling upgrade of masters to include aws cloud-provider, the workers all blew up. Probably due to different naming schemes (`--cloud-provider=aws` overrides the `--hostname-override=`, leaving inconsistencies in state).

A day l

[2017-08-30 04:25] arun-gupta commented on #51578
/sig aws

[2017-08-30 04:34] arun-gupta commented on #51578
Checking the status after ~4 hrs of cluster creation and inclusion in the federation.

Expected output is shown for 1.7.0 cluster:

[code]

But 1.6.4 cluster still shows `Unknown`:

[code]

Is it supposed to take this long?

[2017-08-30 05:17] arun-gupta opened #51591 "Pods in replica set not getting created in a federated cluster"
Created a federated cluster on AWS using kops as explained at:

https://github.com/arun-gupta/kubernetes-federated-cluster

Deployed a ReplicaSet using the definition: https://github.com/arun-gupta/kubernetes-federated-cluster/blob/master/rs.yml

Expecting 3 pods to be spread on two clusters each but the status does not change:

[code]

May be related to: https://github.com/kubernetes/kubernetes/i

[2017-08-30 05:20] jiayingz opened #51592 "Evaluate how to allocate resources on kubelet to fail fast during pod creation"
During the review of PR https://github.com/kubernetes/kubernetes/pull/51209, @vishh mentioned that "Ideally, allocation of resources would happen as part of pod creation so as to fail pods during admission whose extended resource request cannot be satisfied by the kubelet due to any reason.
For example, a device may have just turned unhealthy and the scheduler may not have noticed it. Note there c

[2017-08-30 05:27] arun-gupta commented on #51591
The command to delete a resource does not return back to prompt:

[code]

[2017-08-30 05:32] ixdy commented on #51379
It seems like release-1.6 is busted now. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51551/pull-kubernetes-e2e-gce-etcd3/51177/

[2017-08-30 05:34] arun-gupta commented on #51591
Created a service definition as:

[code]

The definition is at: https://github.com/arun-gupta/kubernetes-federated-cluster/blob/master/svc.yml. External IP is pending even after 5 mins:

[code]

[2017-08-30 05:35] bsalamat commented on #50419
Reordering predicates is certainly useful, but I am not sure if we really need to be able to change the order dynamically. At least for the first version, having a static order of predicates should be enough and is easy to implement.
I also like the idea of grouping nodes by label and taints. Grouping by label can particularly help improve performance.

[2017-08-30 05:45] bgrant0607 commented on #7856
@ash2k In fact, the current thinking is to use an approach more similar to metadata: simply uniform status fields with consistent paths and meaning.

[2017-08-30 05:49] ash2k commented on #51521
It did not happen, I stumbled upon this accidentally when was looking for something else.

[2017-08-30 05:53] bgrant0607 commented on #49239
Many discovery APIs (e.g., Consul's, Eureka) include readiness/health information as a first-class property. It would be a shame to lose that.

[2017-08-30 05:55] kow3ns opened #51594 "Uniform Use of Conditions across Workloads API Surface"
**FEATURE REQUEST**:

**tldr**: We should either remove Conditions from the workloads API surface or invest in them.

The workloads API does not use Conditions uniformly across the surface.

| Object | Uses Conditions |
|:----------|:----------------------:|
|DaemonSet|No|
|Deployment|Yes|
|ReplicaSet|Yes|
|StatefulSet|No|

If they are valuable to users, and if their current use is a best practice

[2017-08-30 05:57] #45054 closed

[2017-08-30 06:07] karataliu opened #51596 "Cloud Controller Manager updating ProviderID blocked by validation rule"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Follow up for #49836 , #50730

With the change for cloud-controller-manager updating providerID, the node.spec.ProviderID is to be updated. But it will fail later in node update call:
[code]

Should also check validation rule:
https://github.com/kubernetes/kubernetes/blob/12d73c31a97188286e7f4c8a3aec7fcd38a76a83/pkg/api/va

[2017-08-30 06:08] karataliu commented on #51596
/sig cluster-lifecycle

[2017-08-30 06:21] wenlxie opened #51597 "How to deal with `Unknown` pod's volume？"
Now the attach_detach_controller have a feature that can decide to detach the volume for `Terminating` Pod.
Here is the function used to check the pod is `terminated` or not
[code]
But we can met the issue in the following scenario:
1. Node become `NotReady`
2. Node controller wait for minutes and then do pod eviction
3. The pod maybe not get deleted(Our pod has finalizer and can't be removed in t

[2017-08-30 06:22] wenlxie commented on #51597
/sig storage

[2017-08-30 06:27] AndreaGiardini commented on #50151
Thank you for the quick reply @dashpole . Would be great to see it in 1.7.5, monitoring is completely broken for us due to this bug

[2017-08-30 06:32] amigold commented on #47725
@ikornaselur I was accidentally using `http-socket` instead of `http` (for 3 years now). Also added the `harakiri` setting and adjusted threads/processes a bit.

[2017-08-30 06:37] hzxuzhonghu commented on #51586
@gnufied I think I can fix this error.

[2017-08-30 06:38] bowei commented on #51586
what is the bug?

[2017-08-30 06:43] m1093782566 opened #51602 "Task tracker of IPVS beta"
There are some work to be done in the follow-up of #46580, that is, help IPVS existing alpha.

- [x] GCE CI failures(#54916)

- [x] cross-node visit NodePort (#53393)

- [x] hairpin issue (#53775)

- [x] Using ipset doing snat and packet filtering and reduce iptables call(#54203).

- [x] automatically load `ip_vs_*` kernel modules. (#51874, #52003)

- [x] creating e2e test suite for IPVS in upstre

[2017-08-30 06:43] m1093782566 commented on #51602
/sig network

[2017-08-30 06:43] m1093782566 commented on #51602
/assign @m1093782566

[2017-08-30 06:43] m1093782566 commented on #51602
/kind feature

[2017-08-30 06:51] wangycc commented on #47949
+1
serious problem

[2017-08-30 06:55] hzxuzhonghu commented on #51586
@bowei I think when call `nc.taintManager.NodeUpdated(nil, node)` nc.taintManager has not been inited

[2017-08-30 06:59] FengyunPan commented on #51602
/cc

[2017-08-30 06:59] tbchj commented on #47131
@liggitt  thank you. it works.
the same question like #43893

[2017-08-30 07:20] m1093782566 commented on #51602
/cc @fisherxu @dhilipkumars

[2017-08-30 07:28] weiwei04 commented on #51430
enter into the same issue:

- When I create a pod with request=x and unspecified limit, it gets created with request=x and limit=512Mi. This is okay when x is less than 512Mi. But when x is greater than 512Mi, I get an error:
[code]

since I supplied a request=x (and x is in the limitrange max.request/max.limit), in k8s without limitrange, on the kubelet, it will set limit = request. for this case

[2017-08-30 07:44] jstoja commented on #44200
I tried to reproduce too and didn't run into this issue with recent versions of Kubernetes.
I think this is closable until someone can report it with reproducible steps.

[2017-08-30 07:50] gmarek commented on #50419
I agree with @bsalamat - initial version should just define some sane static order. Next step would be to allow changes to this order, probably by exposing the order to user. Dynamic reordering depending on the Pod being scheduled/state of the cluster has lower priority.

[2017-08-30 07:59] deitch commented on #48180
Two months later, bump?

An admissions controller _might_ do it for this?

[2017-08-30 08:02] yastij commented on #50419
@gmarek @bsalamat - I'll work on the proposal, including these steps. I'll ping you for review and for defining a timeline.

[2017-08-30 08:03] #44650 closed

[2017-08-30 08:05] #46454 closed

[2017-08-30 08:05] #46455 closed

[2017-08-30 08:05] #46723 closed

[2017-08-30 08:08] xiangpengzhao commented on #30918
/assign

[2017-08-30 08:36] #47213 closed

[2017-08-30 08:40] FengyunPan commented on #47949
/cc

[2017-08-30 08:42] kargakis commented on #51594
I think there is a lot of value in signaling progress and failures via the API. We want to be able to inform users when they have waited long enough for an upgrade. We also want to expose failures such as when a Pod fails to be created in order to provide richer programmatic access to errors than just a "you have waited long enough". Both kinds of conditions enable higher-level orchestrators to do

[2017-08-30 08:56] discordianfish commented on #50622
@Cryptophobia Ah, you should fill an issue with kops then. This issue here is mostly about saving time by pointing you into the right direction.

[2017-08-30 09:03] akgunjal commented on #50521
@jsafrane : I will check if the logs are still present and search for the above log message. I will also be watching the other GHE issue for updates on this.

[2017-08-30 09:52] shyamjvs commented on #51379
Also affecting release-1.7 - https://github.com/kubernetes/kubernetes/pull/51177

[2017-08-30 10:00] dimthe commented on #48924
i have the same issue with kubernetes on openstack . Is it safe to ignore these?

`kubectl get nodes
2017-08-30 09:55:58.612805 I | proto: duplicate proto type registered: google.protobuf.Any
2017-08-30 09:55:58.613600 I | proto: duplicate proto type registered: google.protobuf.Duration
2017-08-30 09:55:58.613728 I | proto: duplicate proto type registered: google.protobuf.Timestamp
NAME

[2017-08-30 10:00] ArunSambandam opened #51611 "Issue with loading shared libraries libcurl.so.3 during git clone kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

This is to report a issue faced when I tried to download and set up Kubernetes cluster

**What happened**:

Facing the below error when I clone kubernetes into my Linux box

	bash-4.2$ git clone https://github.com/kubernetes/kubernetes
	Cloning into 'kubernetes'...
	git-remote-https: error while loading shared libraries: libcurl.so.3: cannot open shar

[2017-08-30 10:05] shyamjvs commented on #51379
Instead of cherry-picking my change to multiple releases, I have an alternative solution. Let's explicitly set the cluster-ip-range flag for gce-bazel and gce-etcd3 jobs to 10.100.0.0/14.

[2017-08-30 10:05] x1957 opened #51612 "remove path exists check when unmount flexvolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm using flexvolume for s3 volume [(s3fs-fuse https://github.com/s3fs-fuse/s3fs-fuse)](https://github.com/s3fs-fuse/s3fs-fuse)
but when s3fs-fuse crash,  and then unmount the volume,  the path exists check will return an error. https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/flexvolume/unmounter.go#L47
[co

[2017-08-30 10:11] shashidharatd commented on #50543
/assign
Thanks @madhusudancs, i will work on this.

[2017-08-30 10:17] shyamjvs commented on #51379
Seems like it won't work - because there's no --cluster-ip-range flag in e2e framework in earlier releases. It's a hard-coded value inside the startup scripts and e2e test.
I'll send PRs for 1.6 and 1.7 changing those values to the new ones.

[2017-08-30 10:22] dimthe commented on #48924
i can verify this is fixed if you upgrade to 1.7.4

[code]

[2017-08-30 10:54] jianzhangbjz commented on #46639
@cmluciano @vishh For present, I think we should validate the `alpha.kubernetes.io/nvidia-gpu` resource type. If the `ResourceQuota` contain it, create fail. Do you think so? If not, I will close this #51618

[2017-08-30 10:59] #50556 closed

[2017-08-30 11:22] soltysh commented on #30243
API PR: https://github.com/kubernetes/kubernetes/pull/48075
Controller PR: https://github.com/kubernetes/kubernetes/pull/51153

[2017-08-30 11:38] zjj2wry commented on #51276
@SEJeff not ensure will add this feature. because kubectl run‘s code very long now. you can use ```kubectl set env```. this command support --from configmap and secret.

[2017-08-30 12:12] kad opened #51623 "Bazel builds require certain tools pre-installed on host os."
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

**What happened**: In normal installation of bazel and running `make bazel-build` user will most probably hit certain set of errors, like absence of g++ compiler or absence of glibc development headers or something else.

**What you expected to happen**: It will be good if bazel build rules will validate environment and

[2017-08-30 12:12] MuskanGarg23 opened #51624 "Crashloopbackoff status for eaa-proptima-prepare-db"
Hi Team,

While running the installer, my pod **eaa-proptima-prepare-db-pm-3-57tj1** is going into CrashLoopBackOff.

Could you please help us.
Below are the logs

[ec2-user@ip-10-23-4-8 ~]$ oc get pods | grep -i "prepare-db"
eaa-proptima-prepare-db-pm-2-dvk8w          0/1       CrashLoopBackOff   36         2h

[ec2-user@ip-10-23-4-8 ~]$ oc logs -f eaa-proptima-prepare-db-pm-2-dvk8w
Set PrOptima

[2017-08-30 12:18] choury commented on #51602
ref ![cleanLegacyService](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1331)
It will generate annoy error info If unbind multi-ports on one service .

[2017-08-30 12:33] jsafrane opened #51625 "iscsi volume can't be attached with "MountVolume.WaitForAttach failed""
I have an iSCSI PV + a pod that uses it.

**What happened**:
The pod is Pending with these events:
[code]

Kubelet logs contains:

[code]

PV:
[code]

* It got attached just fine as `/dev/sdb`
* There is no `/var/lib/kubelet/plugins/kubernetes.io/iscsi` directory, something must create it first.

**Environment**:
* Debian Wheezy (but tested also on Fedora 24)
* Today's Kubernetes master, `Client V

[2017-08-30 12:35] xiangfeiz commented on #48924
@dimthe the messages are only shown with hyperkube version of kubectl. The kubectl command binary never has this issue.

[2017-08-30 12:41] seh commented on #7856
I too was surprised by the change of heart here, having missed the start of the discussion _2.5 years ago_. Better late than never.

What I appreciate about the conditions approach is that it's multidimensional. The burden is on the status type author to come up with dimensions that are orthogonal; that required careful thought when writing my own condition types. Unfortunately, though, the condit

[2017-08-30 12:50] jsafrane commented on #51625
Actually, I think I found the root cause. PR will follow shortly.
/assign

[2017-08-30 13:25] mtanino commented on #51625
@jsafrane
Thank you for the report.

I believe the IsNotExists() check is required.

[code]

[2017-08-30 13:32] liggitt commented on #47372
@kubernetes/api-reviewers are OpenAPI model names considered part of our API compatibility or just the serialized *content* of an API object? Requiring OpenAPI model names to never change means we completely lose the ability to refactor API types, even in ways that preserve serialized content perfectly.

[2017-08-30 13:36] jsafrane commented on #51625
yes, that's it. PR: #51628

[2017-08-30 13:43] Cryptophobia commented on #50622
Okay, I'll add another issue to the 784 issues already open. :laughing:  :+1:

[2017-08-30 13:46] shashidharatd commented on #23225
Ref: https://docs.google.com/document/d/1x1h_i-nHUtLZJqbXbaok4QaP0cLexaxYjQKpqITEzUw

[2017-08-30 14:03] rrati opened #51629 "Remove linkage to cloud providers in persistent volume label controller"
/kind feature

#44680 introduced the persistent volume label controller to the cloud-controller-manager.  The first revision of the controller was basically a transplant of the admission controller, but to truly function as is intended the linkage to the EC2 and GCE volumes needs to be removed.

[2017-08-30 14:13] juliohm1978 commented on #48924
@dimthe We've been seeing these messages from hyperkube binaries. Our Kubespray installation uses those. Aside from the annoyance, we never noticed any change in behavior or any other related error messages. We have been ignoring them. Will post an update after we upgrade to 1.7.4 in a near future.

[2017-08-30 14:17] shashidharatd commented on #50543
linking the associated issue https://github.com/kubernetes/kubernetes/issues/23032
Deleting the dynamically provisioned PV is not deleting the PD in GCE because of may be 2 reasons:
1. The cluster is brought down soon after deleting the PV giving no room for controller to act on it, so PD is leaked.
2. There could be a bug due to which delete PD is not called by controller for dynamically provisio

[2017-08-30 14:17] #48427 closed

[2017-08-30 14:18] shashidharatd commented on #50543
cc @saad-ali

[2017-08-30 14:32] lukaszo commented on #50737
As the workaround, after init, you can edit deployment `federation-apiserver` change `- --etcd-servers` line  and delete etcd container.

Other projects, like kubeadm, are using `--config` option to pass the whole configuration. @madhusudancs  are there any plans to move to config based configuration?

Another option is to add `--etcd-servers` to `kubefed join` but such option was removed from kub

[2017-08-30 14:40] ncdc commented on #51013
Going to use #51633 instead, since it's a smaller change.

[2017-08-30 15:05] #48438 closed

[2017-08-30 15:13] resouer commented on #51455
I prefer to have inputs from @wojtek-t for further discussion

[2017-08-30 15:19] resouer commented on #50686
@seh Thanks for reporting, I am refactoring this part and would like to take a deep look here. Will feedback soon.

[2017-08-30 15:34] resouer commented on #50686
Kindly ping @deads2k , any idea on this issue? Is there any history reason we excluded ReplicaSet quota here?

[2017-08-30 15:35] tamalsaha commented on #23233
@bgrant0607, is this proposal worked on somewhere? How can anyone can be in the loop for this?

[2017-08-30 15:37] seh commented on #50686
That's great news, @resouer. I realize that _ReplicaSets_ are just one of many kinds not addressed by quotas today, but they are certainly one of the more popular kinds in use.

We have recently discovered that we'd also like the ability to constrain the number of "headed" versus "headless" _Service_ objects in a given namespace—to control the load imposed on _kube-proxy_ and _iptables_—but I supp

[2017-08-30 15:37] resouer commented on #51432
cc @kubernetes/sig-node-bugs

[2017-08-30 15:38] deads2k commented on #50686
@derekwaynecarr has some ideas about generic object counts.  I'd rather see generic object counts pursued in preference to more one offs.  This would allow us to make quota more aggregatable.

[2017-08-30 15:47] resouer commented on #50686
Agree, I can imagine the difficulty if we constrain all objects (which count is also growing ... ) one by one ...

[2017-08-30 15:59] resouer commented on #51376
Are you able to create Pods in kube-system? Or it is only DaemonSet that failed?

[2017-08-30 16:00] verb commented on #48937
This is the part I don't understand. Why? What does PID visibility have to do with security constraints? What am I missing?

nor do they run with a shared network namespace, but we impose that on docker containers because that's the pod model.

[2017-08-30 16:02] verb commented on #48937
An update from the last SIG Node: we'll disable this by default in 1.8 and revisit for 1.9

[2017-08-30 16:05] bgrant0607 commented on #7856
@smarterclayton Spurred by questions for @pmorie and decisions that need to be made for the workload APIs before they advance to v1, @erictune and I independently analyzed current usage of conditions and came to the same conclusion.

My analysis:
https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-323196033
Eric's:
https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-324

[2017-08-30 16:09] mtanino opened #51635 "The printISCSIVolumeSource() doesn't show proper result"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After merging #51189, 'kubectl describe' doesn't show persistent volume properly if the volume is iSCSI.

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): Today's Kubernetes master

[code]

/sig storage
/assign @mtanino

[2017-08-30 16:31] vishh commented on #46639
I don't think we want to add quota for an alpha resource.

On Wed, Aug 30, 2017 at 3:55 AM, Jian Zhang <notifications@github.com>
wrote:

[2017-08-30 16:35] thockin commented on #7856
My concern is that we have arbitrary things that controllers may want to say about an object.  Many are carried in events today, which is imperfect for many reasons.  Annotations feel like a hacky way of reporting status.  Conditions are a cleaner status-annotation, IMO, but are perhaps under-specified.

Example that came up in the events thread is a pod that request a configmap be parsed into env

[2017-08-30 16:58] aanm commented on #50799
@MrHohn I missed that last line when I copied the `kubedns-controller.yaml.base`

It's working fine now. Thanks for the help!

[2017-08-30 16:58] #50799 closed

[2017-08-30 17:14] ericuldall commented on #20555
Just wanted to share in case anyone else comes across this. If for some reason you don't want to serve a 200 at '/' you can instead setup a readinessProbe and the Health Check with inherit the path from there.

[code]

**Note:** If you've already created the Ingress and add the readinessProbe later it can take some time for the health check to inherit the new settings. I recommend going in to the

[2017-08-30 17:16] davidz627 commented on #49217
PR: #51567

[2017-08-30 17:38] ayj opened #51639 "Cannot list custom objects defined by CRD with non-conventional pluralization"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubectl get route-rules.config.istio.io` fails and prints "the server doesn't have a resource type "route-rules" in group "config.istio.io" with the following CRD.

[code]

**What you expected to happen**:

`kubectl get route-rules.config.istio.io` should return the list of custom objects defined by the `route-rules.con

[2017-08-30 17:39] ayj commented on #51639
/cc @lavalamp, @mandarjog, @kyessenov

ref https://github.com/istio/pilot/issues/1107

[2017-08-30 17:40] rrati opened #51640 "Use RW mutex in persistent volume label controller"
/kind bug

From #44680 look at using a RW mutex around the volume retrieval

[2017-08-30 17:49] thedch opened #51641 "Vendoring util package from private site creates slow build process and security risk"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubernetes is vendoring code from a private website `vbom.ml`. The most prevalent issue this creates is that fetching dependencies (i.e. `glide up` or `glide install`) takes significantly longer than needed.
**What you expected to happen**:
Kubernetes to vendor from public (well hosted) websites.
**How to reproduce it (as

[2017-08-30 17:51] mml opened #51642 "Simple shell tests could save a lot of contributor time"
Yesterday I created a PR with a bunch of shell changes.  In one of these files, I misspelled `then` as `the`.  No test noticed this, and it broke node startup in such a deeply buried way that I could only debug it by logging in to the node and looking at startupscript.log, and then making some educated guesses.

However, it is very easy to detect.

[code]

[2017-08-30 17:51] mml commented on #51642
@kubernetes/sig-contributor-experience-misc

[2017-08-30 17:54] sttts opened #51643 "Publish updates of staging repos"
The staging repo publishing bot https://github.com/kubernetes/test-infra/tree/master/mungegithub/publisher is broken since beginning of August. Meanwhile, I have worked on https://github.com/kubernetes/test-infra/pull/4134 to update our publishing algorithm for a number of reasons, the most important:

- handling of merges on our branches
- automatic tagging of repos
- preparation for golang/dep

[2017-08-30 18:00] bgrant0607 commented on #51642
@mml This looks like cluster lifecycle? Also, please avoid using the -misc teams.

[2017-08-30 18:09] wojtek-t commented on #51455
Yes - I've always wanted to do that but never really had time for it.

I'm happy to review your PR for spreading, but will not have time before code freeze (and I think we shouldn't rush for 1.8 with that).

The Pod affinity/anti-affinity might be more tricky to do, because they really depend on the whole state of the cluster. But maybe it's actually time to thing and solve pod affinity/anti-affin

[2017-08-30 18:09] rhatdan commented on #48937
@verb, if I have a privileged container process in the same pid namespace as a pid in a non priv container, then the container process in the non priv can attack the priv process.  Having them in separate pid namespaces gives you better security.

Bottom line, you have a potential change where containers that expect to be run as PID 1, whether legitimately or not, could break when you make this ch

[2017-08-30 18:09] kilianc commented on #17763
@JaysonRaymond I am having the same problem. The link you posted is pointing to master and I think the content of the file changed since your post. Was there a resolution to this?

[2017-08-30 18:19] nfirvine commented on #50115
I figured out a workaround:
[code]

[2017-08-30 18:29] piosz commented on #50148
There is a great discussion in [the email thread](https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/6NrWA6ynvSk).

The open question is:
How should we reference the object described by `PodMetrics`? Should we still use `ObjectMeta` or migrate to `ObjectReference` which is used in CustomMetricsAPI?

Looking for feedback from @kubernetes/sig-api-machinery-misc @kubernetes/sig-arch

[2017-08-30 18:30] sttts commented on #51643
For reference, here are the current HEADs of all the branches: https://gist.github.com/sttts/477c40fd5e35b183998ed208127f6e42

[2017-08-30 18:32] caesarxuchao commented on #49038
We talked about moving the service IP allocator to use initializers. This requires more discussion.

[2017-08-30 18:32] piosz commented on #50148
cc @deads2k @erictune @lavalamp

[2017-08-30 18:33] davidz627 commented on #49217
I noticed there are other tests such as:
[k8s.io] EmptyDir volumes should support (non-root,0644,default) [Conformance] [sig-storage]
in test/e2e/common/empty_dir.go.

That are not referenced in this issue but seem to pertain to the same umbrella issue. Are these referenced in a different issue or am I just misunderstanding?

[2017-08-30 18:43] msau42 commented on #50115
Hi @wojtek-t, I took a closer look at this, we are calling `GetAllZones` already.  So I think the problem is more likely that `GetAllZones` doesn't filter the instances.  So if there was a node not managed by this cluster in that zone, then we would return that zone.  I can think of 2 approaches:

1. Filter the instances by the cluster ID.  This assumes that we tag the instances with the cluster I

[2017-08-30 18:48] cblecker opened #51646 "pull-kubernetes-e2e-gce-gpu failing: Quota 'SUBNETWORKS' exceeded"
[code]

---
/kind flake
@kubernetes/sig-network-bugs @kubernetes/sig-testing-bugs @krzyzacy @MrHohn
Related issues:
https://github.com/kubernetes/kubernetes/issues/51136

[2017-08-30 18:49] ejc3 opened #51647 "Broken links in Sig WIki page"
The following page has broken links:
  https://github.com/kubernetes/kubernetes/wiki/Special-Interest-Groups-(SIGs)

E.g. this one:
  https://github.com/kubernetes/community/blob/master/README.md#how-to-start-a-sig

That should go here:
  https://github.com/kubernetes/community/blob/master/sig-governance.md#sig-creation-procedure

/kind bug

[2017-08-30 18:50] ejc3 commented on #51647
It'd be nice if all wiki's were moved to the community page so that pull request editing is supported.

[2017-08-30 18:50] ejc3 commented on #51647
@kubernetes/sig-docs

[2017-08-30 18:50] ejc3 commented on #51647
/sig docs

[2017-08-30 18:59] nikhita commented on #49879
I believe this can be closed now.

[2017-08-30 19:06] jinlee commented on #49637
I think we're seeing similar issues. We're also using `set image` to deploy and randomly see `rollout status` return with a progress deadline error. Is there anything I can provide to help track this down?

[2017-08-30 19:09] nfirvine commented on #17512
https://github.com/kubernetes/kubernetes/issues/17512#issuecomment-267992922 `kubectl top` shows *usage*, not allocation. Allocation is what causes the `insufficient CPU` problem. There's a ton of confusion in this issue about the difference.

AFAICT, there's no easy way to get a report of node CPU allocation by pod, since requests are per container in the spec. And even then, it's difficult since

[2017-08-30 19:12] kargakis commented on #49637
controller manager logs on log level 4 when you reproduce, ideally

[2017-08-30 19:20] deads2k commented on #49038
In addition to what @lavalamp listed, we need

1. **P0** make both work on generic apiservers

I don't think we can reasonably go to beta without actually making mutation work.  I think that's a critical part of admission that needs to be covered.

[2017-08-30 19:26] liggitt commented on #51485
The only way that works is if the replicasets controller is given `initialize` permissions, and if it is given that, then anyone can control the initializers on pods simply by creating a replicaset. That is not how the system is designed to work.

[2017-08-30 19:26] mml commented on #51642
@bgrant0607 Will do.  What are the -misc aliases for?

I labeled it contribex because the shell scripts are not just in cluster, although you're right that the hardest ones to debug are in cluster (like my example).

@kubernetes/sig-cluster-lifecycle-feature-requests

[2017-08-30 19:26] nicksardo commented on #51646
Instead of creating an automatic network, can we create manual networks with a single subnet?

[2017-08-30 19:28] liggitt commented on #51586
duplicate of https://github.com/kubernetes/kubernetes/issues/51013

[2017-08-30 19:37] mml commented on #51642
/sig cluster-lifecycle

[2017-08-30 19:38] jinlee commented on #49637
Also running on GKE and it looks like controller manager logs aren't exposed

[2017-08-30 19:39] nikhita commented on #51639
/sig api-machinery
/area third-party-resource

/cc @sttts @deads2k @enisoc

[2017-08-30 19:49] MrHohn commented on #51646
+1

[2017-08-30 19:53] sttts commented on #49879
Yes, it's OpenAPI v3 now.

[2017-08-30 19:53] #49879 closed

[2017-08-30 19:54] ixdy commented on #51646
It seems like the `k8s-jkns-pr-gce-gpus` project isn't being cleaned by the janitor. Was this an explicit decision?

[2017-08-30 19:57] krzyzacy commented on #51646
ah I'll add to the list - but why did gpu test can leak a subnetwork?

[2017-08-30 20:06] xiangpengzhao commented on #49217
@davidz627 they were covered by https://github.com/kubernetes/kubernetes/issues/49161#issuecomment-320502371

[2017-08-30 20:10] kilianc opened #51650 "HPA counts pods that are not ready and doesn't take action"
**What happened**:
HPA
[code]

Deployment
[code]

**What you expected to happen**:

HPA should take action and start 2 new pods

**How to reproduce it (as minimally and precisely as possible)**:

Create a deployment with a strict readiness probe `timeoutSeconds=1` `periodSeconds=2` and make CPU go up until the the pods become not ready.

**Anything else we need to know?**:

**Environment**:
- Kube

[2017-08-30 20:14] ahmetb commented on #46231
I think it's primarily sig-scheduling but sig-cli should be involved as setting server-side taints would be done through kubectl, I assume.

[2017-08-30 20:37] macrael commented on #51376
I’ll try, but the Deployment I create was creating pods that lived long,
only my DS was being deleted.

On Wed, Aug 30, 2017 at 9:00 AM, Harry Zhang <notifications@github.com>
wrote:

[2017-08-30 20:43] arun-gupta commented on #51578
Recreated the cluster and federation again and this time the federation was ready in ~11 mins:

[code]

[2017-08-30 20:53] lavalamp commented on #51639
@mbohlool @pwittrock

[2017-08-30 20:54] robszumski commented on #24791
Tagging was added in this commit: https://github.com/arthur0/kubernetes/commit/e36b9a7f59b5745e0758ba7e425c4cc5ec4d844a

I had success with the following example:

[code]

[2017-08-30 21:02] pci commented on #49673
Cherry pick PRs are https://github.com/kubernetes/kubernetes/pull/51651, https://github.com/kubernetes/kubernetes/pull/51652 and https://github.com/kubernetes/kubernetes/pull/51654

[2017-08-30 21:10] arun-gupta commented on #51591
Creating a Deployment using:

[code]

and getting the error:

[code]

[2017-08-30 21:12] bsalamat opened #51655 "Scheduler should return specific errors for affinity predicates"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

Today predicate functions return `ErrPodAffinityNotMatch` for these three cases: 1) pod affinity rules failed, 2) pod anti-affinity rules failed, 3) pod violated other pods anti-affinity rules. We should return a specific error in each one of these three cases. Separate error codes help when processing these failures in

[2017-08-30 21:24] yguo0905 commented on #42926
I'm personally unaware of any changes in 1.8 that are required to make Docker 1.13 (the parts that are compatible with the previous Docker versions) work, so you may run Docker 1.13 with K8s 1.6 and 1.7. However, this is not supported by the community - the fixes/workarounds for the Docker 1.13 issues may not be merged into K8s 1.6 and 1.7 branches.

[2017-08-30 21:24] bsalamat opened #51656 "Scheduler extender interface should be extended to support preemption"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

Scheduler extenders do not have any interface for preemption. As a result, scheduler has to send preemption candidate node and its set of victim pods to the extender one at a time. This is inefficient.
Scheduler extenders interface should be extended to support preemption. The workflow should be as follows:
1. Internal s

[2017-08-30 21:26] mtaufen opened #51657 "Clean up KubeletConfiguration type"
The type currently contains a number of deprecated and experimental fields, which need to be moved to flags before the type can become GA.

See #51307

[2017-08-30 21:33] k8s-merge-robot opened #51658 "Failure cluster [b84cd1...] failed 236 builds, 35 jobs, and 1 tests over 1 days"
### Failure cluster [b84cd151f91bbf84e00f](https://go.k8s.io/triage#b84cd151f91bbf84e00f)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    35 jobs failed,    236 builds failed.
Failure stats cover 1 day time range '29 Aug 2017 17:32 UTC' to '30 Aug 2017 17:32 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 35

[2017-08-30 21:33] k8s-merge-robot opened #51659 "Failure cluster [ea6679...] failed 198 builds, 59 jobs, and 2 tests over 1 days"
### Failure cluster [ea6679417165f10786e6](https://go.k8s.io/triage#ea6679417165f10786e6)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    59 jobs failed,    198 builds failed.
Failure stats cover 1 day time range '29 Aug 2017 17:32 UTC' to '30 Aug 2017 17:32 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 59 |
| Deferred

[2017-08-30 21:36] lavalamp commented on #49038
The reason to have multiple failure messages is so that the entire process can be deterministic.

[2017-08-30 21:40] lavalamp commented on #49038
I agree that the admission chain needs to be dynamic in the generic layer. I am quite nervous about compiling this in to every user supplied apiserver, because that will make upgrading hellish if we ever change that. This might be a case where it is better for that generic behavior to be shipped as a side-car container rather than be part of the library.

[2017-08-30 21:51] yguo0905 commented on #38303
This is done in https://github.com/kubernetes/kubernetes/pull/50277 as part of https://github.com/kubernetes/kubernetes/issues/42926. Please close this issue.

[2017-08-30 21:54] yujuhong commented on #38303
/close

[2017-08-30 21:54] #38303 closed

[2017-08-30 22:14] #50466 closed

[2017-08-30 22:44] #34965 closed

[2017-08-30 22:46] euank commented on #34965
Note, the cadvisor change has to be vendored back over too, so this close might be premature (thanks github 'fix' keywod)

[2017-08-30 23:28] mbohlool commented on #50274
Any update on this? The test is still failing for at least gce-1.7-master-upgrade-master. Should the test being disabled for 1.7 and re-enabled in 1.8? @ericchiang @xiangpengzhao

[2017-08-30 23:44] mtaufen opened #51664 "Separate dynamic kubelet config and load-from-a-file feature gates"
These are really separate features, and deserve separate gates.

[2017-08-31 00:01] yujuhong opened #51665 "Graduate network tiers to Beta for L4 load balancer in GCE"
This is a placeholder for tracking items required for graduating this feature to Beta.

[2017-08-31 00:02] jianzhangbjz commented on #46639
@vishh Sure, as the above description,

So, this PR will only stop the alpha resource from creating quota. Pop-up a warning, like this:
[code]

[2017-08-31 00:06] kilianc commented on #51650
@kubernetes/sig-autoscaling-bugs

[2017-08-31 00:30] davidz627 commented on #49911
PR: #51666

[2017-08-31 00:35] egeland commented on #24472
Hoping this will land soon... ?

[2017-08-31 00:38] smarterclayton commented on #7856
I do agree there are simplifications to be made.  Here's how OpenShift uses conditions:

- Routers (ingress controllers) update the condition to indicate a route has been accepted https://github.com/openshift/origin/blob/master/pkg/route/apis/route/v1/types.go#L154 - uses transition time
- Image streams use them per tag to track import status and are also used to track several signature states htt

[2017-08-31 00:45] smarterclayton commented on #7856
Etcd operator - https://github.com/coreos/etcd-operator/blob/master/pkg/spec/cluster.go#L222

`Recovering` is an interesting one.

[2017-08-31 00:56] smarterclayton commented on #50148
Will pod metrics ever have different labels, annotations, uuids, creation timestamps, deletion timestamps, or initializers than pods?  If so, object meta is not appropriate.  If not, then object meta would be appropriate (this is an alternate representation of a pod).

[2017-08-31 01:04] smarterclayton commented on #49239
Two different consumers of a service can care about different sets of
endpoints (I don't remember if that had been brought back up on this
thread).  Forcing me to create multiple sets of services is a bit tedious.

On Wed, Aug 30, 2017 at 1:54 AM, Brian Grant <notifications@github.com>
wrote:

[2017-08-31 01:07] mbohlool commented on #47820
Is this the same failure as https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/212

If yes, can we please send a patch to 1.7 and disable this test as it is not a release blocker? I am going to increase the priority of this as it is a release blocker.

[2017-08-31 01:11] mbohlool commented on #47379
This is failing in gce-1.7-master-upgrade-master: example job: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/214

I will apply release blocker and urgency to this. Please advice if it is not the case.

[2017-08-31 01:13] hzxuzhonghu commented on #51586
@liggitt I found #51633 does not have node_controller.go related fix.

[2017-08-31 01:18] liggitt commented on #51586
It fixes the issue systemically by not starting the informers until all controllers have finished setting up

[2017-08-31 01:19] saad-ali commented on #51232
@resouer The reason I suggested a new label `failure-domain.beta.kubernetes.io/zones` was so that the meaning remains very explicit. When it sees `zones` Kubernetes knows and expects more than one zone. When it sees `zone` it knows and expects a single zone. But I don't feel very strongly about it, and am perfectly ok with reusing the existing `failure-domain.beta.kubernetes.io/zone` field and mak

[2017-08-31 01:20] mbohlool commented on #47372
I don't think we want to require them to not change, generated client libraries use these names as Model's class name so I think we should apply one release cycle deprecation policy to them. I would also like to know @kubernetes/api-reviewers opinion on this and if we don't have a deprecation policy for this, I would like to propose it.

[2017-08-31 01:24] tatsuhiro-t commented on #51445
We ran kube-proxy without --v option, so the log is very quiet.  The only error I saw is it could not report Event to apiserver.

The occurrence of this issue seems to be a bit rare.  But at least we encountered this 2 times.  If they happen, it is quite cumbersome because we have to restart kube-proxy (we run it with systemd) on every machine affected.

I'm wondering that updating annotations of

[2017-08-31 01:25] liggitt commented on #47372
mixing a statically generated client with live use of an openapi schema in such a way that the names of the openapi models become part of the API guarantee seems like an unnecessarily brittle thing to promote

[2017-08-31 01:32] janetkuo commented on #51278
Terminating pods would not be ready anymore at some point before they're fully terminated. Marking `status.numberReady` as 0 is expected.

[2017-08-31 01:33] yujuhong opened #51668 "An unhandled corner case for GCE L4 external LB"
We allow users to specify `LoadBalancerIP` in the Service object. If the user later removes this from the Service Spec, the controller will fail to sync.

For example:
1. Controller creates an LB for Service.Spec.LoadBalancerIP = "1.1.1.1" with a user-owned static IP address.
2. User updates the Service to remove the requested LoadBalancerIP
3. Controller tries to [ensure the IP](https://github.co

[2017-08-31 01:36] hzxuzhonghu commented on #51586
Ok ， by more carefully read, I see.

[2017-08-31 01:43] mbohlool commented on #47372
The statically generated client does not care about model names when it talks to different versions of the cluster. When we do generate a new client for 1.8 for example, model names will change and users of the client that wants to upgrade to the new client, cannot do that until they fix all their class names. Giving them one release cycle to fix their classes but still being able to use the new f

[2017-08-31 01:58] tbchj commented on #47131
by the way, after I change apiserver parameter "storage_backend" value to etcd2, the error "E0812 19:02:48.536491 24 watcher.go:188] watch chan error: etcdserver: mvcc: required revision has been compacted"  disappeared.
I guess if there has some relation between them.

[2017-08-31 02:03] liggitt commented on #47131
event compaction is perfectly normal, and only exists in etcd v3 api. attempting to watch from a compacted version returns a 410 error, which API clients should respond to by doing a full relist to get the current resourceVersion.

[2017-08-31 02:12] alindeman commented on #51639
I poked at this a bit, and I think it may be more of a CLI UI/UX issue.

While the CLI reports `"customresourcedefinition "routerules.config.istio.io" created"`, `kubectl get` looks up based on _kind_ (not singular _or_ plural name).

Specifically, if we change `kind` to something completely arbitrary like `Noodle`:

[code]

And apply it:

[code]

We get the expected `NotFound` when listing `noodl

[2017-08-31 02:17] gyliu513 commented on #50737
How about enabling connect to external etcd when `kubefed init`? @lukaszo

[2017-08-31 02:28] Frank-auckland opened #51671 "I set the minReadySeconds as 120, but it does not work."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I set the minReadySeconds as 120, but it does not work.
**What you expected to happen**:
As I understand, the minReadySeconds means the old pods will still be running when the new pod is established. After 120 seconds the old pods will be killed. But when I upgrade the deployment, the old pod is killed at few seconds afte

[2017-08-31 02:28] k82cn commented on #51455
@wojtek-t , one more input for this is to add an interface for those algorithm to include `Name`, `ConditionChanged`, `Mandatory`, e.g. for kubelet and scheduler, both of them should enforce mandatory predicates; for equal cache, we can ask algorithm whether the condition it care where changed.

[2017-08-31 02:31] m1093782566 commented on #51602
@choury You're right. I think it's a nice finding. Can you fire a PR to fix it?

[2017-08-31 02:48] bgrant0607 commented on #50658
I would not expect the pod to fail validation until we have an API that specifies valid computational resources. There's no way to know whether a node will be provisioned that satisfies the request or whether a custom scheduler will recognize the resource or not.

Additionally, the general behavior for unknown fields is that they are silently ignored (and, ideally, dropped and not persisted, as we

[2017-08-31 02:48] choury commented on #51602
@m1093782566 Sure, I'll make it soon.

[2017-08-31 02:50] bgrant0607 commented on #50658
I would expect such pods to remain pending.

[2017-08-31 03:02] stevekuznetsov commented on #51278
@janetkuo I agree that considering a Terminating pod as not ready makes sense -- it's the obverse (Query the daemonset information. status.numberReady is reported as 1, but it may take many seconds for the pod to be in the Running state.) that is concerning

[2017-08-31 03:11] weiwei04 commented on #30918
I am not sure headless service should have port:targetPort as normal service(with cluster ip), since headless service is just a DNS record and resolves to the backend Pod ip, so the port must equal targetPort, since a http://headless-servicename is indeed http://podip:port, so the port must equal targetPort?

[2017-08-31 03:16] guangxuli commented on #51455
thanks @wojtek-t
Yes,  the Pod affinity/anti-affinity seems not fit to use map/reduce pattern directly. It will traverse all relevant nodes in the cluster for computing count for one node. I had try to add the nodes list item to matadata or add a new nodes list parameter to current Map function prototype for getting the all nodes info, but all these attempt seems so ugly.

[2017-08-31 03:26] SarshesJ opened #51675 "Kube-proxy can't select proper network interface to connect with kube-apiserver in a node with multiple network interfaces."
/kind bug

I've deploy a kubernetes environment in some servers with three network interfaces. Everything goes well except the iptables rules about the cluster ip of kube-apiserver.

As all servers have three interfaces with the subnets

    10.0.41.0/24
    10.0.42.0/24
    192.168.247.0/24

I picked up one (`10.0.41.4`) for the kube-apiserver, made the apiserver work with certificate, and open `

[2017-08-31 03:37] SarshesJ commented on #51675
/sig network

[2017-08-31 03:49] pineking commented on #51499
@m1093782566 I meet the same bug, waiting for your PR #51500 merged ASAP.

[2017-08-31 04:06] m1093782566 commented on #51499
@pineking Sorry...

Currently, I think you can delete service `kubernetes` to work around it.

[2017-08-31 04:07] madhusudancs commented on #50543
@shashidharatd +1

[2017-08-31 04:19] m1093782566 commented on #51499
/kind bug

[2017-08-31 04:21] feiskyer opened #51678 "Use constants instead of magic string for runtime names"
There are a few places using magic strings for runtime names (e.g. kubelet is using "docker" in multiple places) , we should replace them with constants.

[2017-08-31 04:22] feiskyer commented on #51678
/sig node

[2017-08-31 04:32] m1093782566 opened #51679 "rsync IPVS proxier to the HEAD of iptables"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

There was a significant performance improvement made to iptables. Since IPVS proxier makes use of iptables in some use cases, I think we should rsync IPVS proxier to the HEAD of iptables.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2017-08-31 05:15] cblecker commented on #51668
If a service is updated to remove a static address, then it seems like that would be a deliberate move on the part of the user. It seems like it should probably release the address and provision a dynamic one, even if this is disruptive.

How do we handle the reverse? If a user has an already existing LoadBalancer service, and they add the `.Spec.LoadBalancerIP` after the fact? Would this release

[2017-08-31 05:16] SarshesJ commented on #51675
/area kube-proxy

[2017-08-31 05:37] polonel commented on #22839
Link is dead. Any Information on this?

[2017-08-31 05:46] bowei commented on #51668
It seems like the creating a new address makes sense here...

General comment: given the combinations (and the bugs we have been running into), I think this is a problem that all of the potential state transitions for the load balancer have not been fully spec'd out.

[2017-08-31 06:02] xiangpengzhao commented on #51671
/sig apps

[2017-08-31 06:12] ConnorDoyle commented on #50658
@bgrant0607 that makes sense to me and also mitigates the upgrade concerns raised in #50838 :+1:

[2017-08-31 06:13] xiangpengzhao commented on #51647
/cc @bgrant0607

[2017-08-31 06:20] xiangpengzhao commented on #51623
/sig contributor-experience

[2017-08-31 06:20] hchenxa opened #51680 "kubeproxy started failed due to null point exceptions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I start the kube proxy found the proxy can not started like below:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. checkout latest kubernetes sourcecode
2. make the kubernetes to get hyperkube
3. startup the kubeproxy

**Anything else we need to know?**:

[2017-08-31 06:23] zhangxiaoyu-zidif opened #51681 "New added CI tests can not start."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
New added CI tests: pull-kubernetes-bazel-build  and pull-kubernetes-bazel-test
can not start.

**What you expected to happen**:
those should start automatically.

**How to reproduce it (as minimally and precisely as possible)**:
ref: https://github.com/kubernetes/kubernetes/pull/46341
it has ok-to-test label
![image](http

[2017-08-31 06:24] zhangxiaoyu-zidif commented on #51681
/sig testing

[2017-08-31 06:33] arunmk commented on #51496
I see this issue in k8s 1.6.2 .

[2017-08-31 06:34] nicksardo commented on #51668
Creating a new address seems nice but the implementation is a nightmare. The service controller doesn't give you a previous Service spec, so you don't know what's changed (controller might not know either if spec was modified while offline). Given a desired service spec without a `loadBalancerIP` how do you decide to ditch your current IP and grab a new one? If we were to call `GetAddressByIP(curr

[2017-08-31 06:36] wojtek-t commented on #51455
Sorry, I think I'm not really following. Can you clarify?

Yes - this one is tricky. I  think no matter how hard we try, if we wan to solve if efficiently, we need to consider all nodes at once. It seems that the workaround here might be to actually precompute results in the precomputation phase, and in real map/reduce functions just grab the results from the metadata that is passed there. I can't

[2017-08-31 06:38] bowei commented on #51668
By spec, I mean we should write down the careful reasoning that you just wrote in a permanent place :-)

[2017-08-31 06:38] wojtek-t commented on #51455
BTW - this issue is actually a duplicate of long stanging one: https://github.com/kubernetes/kubernetes/issues/24246

We should probably close this and move this discussion there.

[2017-08-31 06:41] xiangpengzhao commented on #51681
See also in #46079.

@cblecker I see you triggered the two tests manually in some PRs, e.g. https://github.com/kubernetes/kubernetes/pull/50846#issuecomment-326193577. Any thoughts on this?

[2017-08-31 07:14] cblecker commented on #51681
Yeah, I triggered them because they didn't start on their own.. but it's good to raise this issue. I'm not sure who added those contexts, but they didn't start but were still marked as required by SQ.

cc: @kubernetes/test-infra-maintainers

[2017-08-31 07:16] cblecker commented on #51668
would it then make sense for `.spec.LoadBalancerIP` to be immutable on an already created service?

[2017-08-31 07:38] xiangpengzhao commented on #50274
@mbohlool I take a look at the test failure of `gce-1.7-master-upgrade-master`. There is only one failure of `DNS should provide DNS for ExternalName services` (the test case associated with this issue) on 08.29 since 08.17.

The [failure ](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster/167) is as below.  It's not the failu

[2017-08-31 07:43] FengyunPan opened #51687 "Refactor OpenStack cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently the codes of openstack cloud provider are confusion:
1.openstack loadbalancer support v1 and v2, they are  in the same file
2.openstack volume support v1 and v2, they are also in the same file.
3.some name codes which is not related to cloud provider interface in openstack.go file:
    the codes of zone, the

[2017-08-31 07:45] FengyunPan commented on #51687
/sig openstack

[2017-08-31 07:52] ashish-billore commented on #43567
I am seeing the exact same error with kubeadm, where it is struck forever at:

`[apiclient] Created API client, waiting for the control plane to become ready
`
In the "journalctl -r -u kubelet" I see these lines over and over:

`Aug 31 16:34:41 k8smaster1 kubelet[8876]: E0831 16:34:41.499982    8876 kubelet.go:2136] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotRea

[2017-08-31 07:58] ashish-billore commented on #48798
I am seeing the exact same error with kubeadm, where it is struck forever at:

`[apiclient] Created API client, waiting for the control plane to become ready`

In the "journalctl -r -u kubelet" I see these lines over and over:
`Aug 31 16:34:41 k8smaster1 kubelet[8876]: E0831 16:34:41.499982 8876 kubelet.go:2136] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady m

[2017-08-31 08:00] hzxuzhonghu opened #51688 "when kube-controller-manager stopped, delete service but endpoint is also deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when kube-controller-manager stopped, I use kubectl delete svc but found endpoint also deleted.
**What you expected to happen**:
endpoint still exists
**How to reproduce it (as minimally and precisely as possible)**:

1. stop kube-controller-manager

2. delete svc kube-dns
[code]

3. get endpoint
[code]

**Anything else we need to k

[2017-08-31 08:01] hzxuzhonghu commented on #51688
/sig cli

[2017-08-31 08:13] sttts commented on #40790
Same package is ok. We usually don't put helpers onto objects as methods. But being in the same package will allow you to keep "Unstructured" out of the function names. So usage shouldn't much uglier than with methods.

[2017-08-31 08:13] sttts commented on #40790
Oh, please drop the "Get" from the func names. This is a go anti-pattern.

[2017-08-31 08:18] kargakis commented on #51681
Yes, today there is no way other than manually triggering newly added CI tests on pre-existing PRs.

@soltysh this was what you also hit.

[2017-08-31 08:18] kargakis commented on #51681
Mind moving this isssue in the test-infra repository?

[2017-08-31 08:35] zhangxiaoyu-zidif commented on #51681
@kargakis
OK, I will do it.

[2017-08-31 08:47] bboreham commented on #48798
@ashish-billore what CNI provider did you install?

[2017-08-31 08:49] FengyunPan commented on #51688
That' ok, after deleting service, kube-controller-manager deletes endpoint for this service.
If you stop kube-controller-manager, kube-controller-manager can't delete endpoint.

[2017-08-31 09:11] abhilashkk opened #51691 "Provide options for passing on native container manager flags"
/kind feature
/sig windows

**What happened**:  For windows based containers, there is a need to access shared objects using domain user contexts. Currently there is no way to do it in Kubernetes albeit docker supports this using the flag `--security-opt credentialspec=file://myuser.json` during container creation

**What you expected to happen**: Since currently there is no out-of-box solution in

[2017-08-31 09:13] SrinidhiSH commented on #41336
When I update an image using the command
**kubectl set image deployments/deployment_name name=new_container**
I get
deployment "deployment_name" image updated
When I describe the deployment , It shows the new image now
When I do
**kubectl rollout status deployment/bumblebee**
I just get a message
**Waiting for deployment spec update to be observed...**
And it freezes

[2017-08-31 09:26] wangycc commented on #49108
+1

[2017-08-31 09:28] abhilashkk commented on #51691
/sig windows

[2017-08-31 09:37] hzxuzhonghu commented on #51688
I mean when stop kube-controller-manager , endpoint still deleted.  So I doubt who delete endpoint

[2017-08-31 09:43] yastij commented on #51680
cc @ncdc

[2017-08-31 09:51] ArunSambandam commented on #51611
/sig testing

[2017-08-31 09:59] canhnt commented on #50844
It relates to #39980

[2017-08-31 10:01] choury commented on #51602
I found it is treated as already bound if `ip` returned 2 in `EnsureVirtualServerAddressBind`, but ref to the   [manual](http://man7.org/linux/man-pages/man8/ip.8.html#EXIT_STATUS) and [source code](https://git.kernel.org/pub/scm/linux/kernel/git/shemminger/iproute2.git/tree/ip/ipaddress.c#n2080) of ip , it just means an error was reported by the kernel, such as "Operation not permitted".
I prefer

[2017-08-31 10:02] wknapik commented on #50844
Any news on this ? @justinb - I think this might be an issue you're familiar with ?

[2017-08-31 10:28] shyamjvs opened #51692 "[SQ-blocking] kops-aws presubmit failing continuously due to cronjob e2e test"
Ref: https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-kops-aws

The test "Garbage collector should delete jobs and pods created by cronjob" is failing continuously with:

[code]

cc @k8s-oncall @kubernetes/sig-aws-misc @kubernetes/test-infra-maintainers

[2017-08-31 10:32] m1093782566 commented on #51602
Actually, I have considered to use netlink before. I think what you said make sense, but can we discuss it in other thread? Thanks!

[2017-08-31 10:34] fiunchinho commented on #51290
Our use case is the following. We have a multi-tenant cluster, where different teams have different namespaces for different environments (dev, pre and production). We want different Quality of Service (QoS) on each environment/namespace. We'd like Pods running on `dev` kind of namespaces to be `Best Effort`, while Pods running on `pro` kind of namespaces to be `Guaranteed`. The current way of set

[2017-08-31 10:35] shyamjvs commented on #51692
It seems to be running fine on gce - https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-gce-bazel.

[2017-08-31 10:36] mfaizanse commented on #34327
Any progress on this? Is there any solution for windows containers auto-scaling with prometeus?

[2017-08-31 10:46] jiaj12 commented on #30656
+1 really a issue, I have to ssh and then exec the docker exec, such annoying

[2017-08-31 11:00] fisherxu commented on #51688
/cc  @adohe @brendandburns @deads2k @fabianofranz  @janetkuo @pwittrock  @smarterclayton

[2017-08-31 11:04] ncdc commented on #51680
This is a duplicate of #51499

[2017-08-31 11:04] #51680 closed

[2017-08-31 11:06] sttts commented on #30656
/cc @frobware

[2017-08-31 11:16] shyamjvs commented on #51692
And starting from run 45192 of kops-aws, I'm seeing a bunch of additional e2e tests around cronjobs.
https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-kops-aws&width=80

[2017-08-31 11:20] choury opened #51694 "Use netlink instead of ip command to bind IP address in ipvs pkg"
When fixing a problem  in #51686 ,I notice that it is treated as already bound if `ip` returned 2 in `EnsureVirtualServerAddressBind`, but ref to the   [manual](http://man7.org/linux/man-pages/man8/ip.8.html#EXIT_STATUS) and [source code](https://git.kernel.org/pub/scm/linux/kernel/git/shemminger/iproute2.git/tree/ip/ipaddress.c#n2080) of ip , it just means an error was reported by the kernel, suc

[2017-08-31 11:22] shyamjvs commented on #51692
Ok, I guess this PR which advanced cronJobs to v1beta1 caused the trouble - https://github.com/kubernetes/kubernetes/pull/51465
I'm seeing a bunch of places where the group version hasn't been updated.
For e.g - https://github.com/soltysh/kubernetes/blob/2de214b044832e4149ca5a7f6a3d59e67e82af4e/test/e2e/apimachinery/garbage_collector.go#L959

I'll send a PR fixing it.

cc @soltysh

[2017-08-31 11:22] choury commented on #51602
@m1093782566  I opened a issue  #51694

[2017-08-31 11:24] mbohlool commented on #50793
Friendly ping. this is a release blocking test failure.

[2017-08-31 11:25] shyamjvs commented on #51692
Not sure how it went through presubmit.
@kubernetes/test-infra-maintainers Was sth around the presubmit changed around that time? I can't find anything obvious except a huge time gap between the last succeeding and first failing run (~2hrs).

[2017-08-31 11:29] mbohlool opened #51695 "[upgrade test failure] Services should be able to change the type from ExternalName to [ClusterIP| NodePort]"
The upgrade test fails for these two test. Most recent job:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/179

Dashboard: https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new&sort-by-failures=

@kubernetes/sig-network-bugs

[2017-08-31 11:31] mbohlool commented on #51429
@caesarxuchao friendly ping. this test failure is a release blocker.

[2017-08-31 11:34] guangxuli commented on #51655
Hi, if no none work for this，i will pick it up.

[2017-08-31 11:38] dims commented on #48503
/assign @shiywang

[2017-08-31 11:59] dims commented on #51643
@sttts We'll need to do this again when 1.8 ships right? (or do we expect the job to be up and running by then?)

[2017-08-31 11:59] shyamjvs opened #51700 "Stackdriver logging sink failed to create on large clusters"
The "Cluster level logging implemented by Stackdriver should ingest system logs from all nodes" e2e test is failing on our 2k-node gce clusters - https://k8s-testgrid.appspot.com/google-gce-scale#gce-large-correctness with the following error:

[code]

Seems to be because of creating a filter of O(#nodes) size:

[code]

cc @crassirostris @kubernetes/sig-instrumentation-bugs @kubernetes/sig-scalabi

[2017-08-31 12:05] xiangpengzhao commented on #51695
/assign

[2017-08-31 12:15] xiangpengzhao commented on #51695
@mbohlool does this upgrade test run master test cases against a 1.7 cluster? If so, we should disable `[sig-network] Services should be able to change the type from ExternalName to ClusterIP` and `[sig-network] Services should be able to change the type from ExternalName to NodePort`.

https://github.com/kubernetes/kubernetes/pull/46197 introduced allocating cluster IP when updating service from

[2017-08-31 12:15] xiangpengzhao commented on #51695
How to disable test cases in upgrade test?

[2017-08-31 12:50] davidegrohmann opened #51701 "gcloud service of type loadbalancer: on service deletion the forwarding rule is destroyed but the associated target pool is leaked"
/kind bug

**What happened**:

We configure several services with type load balancer as entry points for connections from the outside world.  On deletion of those services (and actually everything else pods, deployments, and so on) the target pool associated of one of them is constantly leaked and never removed, even though the related forwarding rule is correctly deleted.  There is no obvious dif

[2017-08-31 13:03] shyamjvs opened #51702 "Monitoring with influxdb failing on large clusters"
The "Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster" e2e test is failing on our 2k-node gce clusters - https://k8s-testgrid.appspot.com/google-gce-scale#gce-large-correctness with the following error:

[code]

And from heapster's logs seems like influxdb isn't created:

[code]

cc @kubernetes/sig-instrumentation-bugs @kubernetes/sig-scalabil

[2017-08-31 13:05] shyamjvs commented on #51702
@piosz Can you please take a look into it?

[2017-08-31 13:13] shyamjvs commented on #51702
This is part of the correctness suite and large cluster tests are release-blocking.

[2017-08-31 13:13] shyamjvs commented on #51700
This is part of the correctness suite and large cluster tests are release-blocking.

[2017-08-31 13:24] deads2k commented on #50148
I think this is more like a separate object which has an implicit object reference based on namespace and name. If that information were duplicated, it could fall out sync or would have to be enforced by validation.

Either way, this looks like a choice of the API designer, not something that api-machinery would force onto the API one way or the other.

[2017-08-31 13:30] enj commented on #45375
@gmarek I have started to see this again:

https://github.com/openshift/origin/pull/16071 -> https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16071/test_pull_request_origin_unit/1869/

[2017-08-31 13:35] enj opened #51704 "Panic in TestCancelAndReadd (again)"
I have started to see #45375 again:

https://github.com/openshift/origin/pull/16071 -> https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16071/test_pull_request_origin_unit/1869

The longer wait just pushes the race condition forward.

/assign @gmarek

cc @davidopp @timothysc

[code]

[2017-08-31 13:49] ironcladlou commented on #50793
@mbohlool No useful artifacts (master/apiserver/controller logs) are being captured (or exposed) to me by Gubernator, and I don't have any access to the Google CI infrastructure, so I'm not sure what I can do to help here. I asked for and failed to get any assistance understanding why there aren't any artifacts weeks ago. Who can diagnose the CI artifact issue?

[2017-08-31 13:58] soltysh commented on #51565
@CaoShuFeng when you'll planning to fix it? We'd like to see this in for 1.8, but can be done post-codefreeze, since this is a bug fix.

[2017-08-31 14:08] justinsb commented on #51692
But on the other hand, how is GCE passing.  @liggit was able to observe that kops was testing a different version of k8s from what we thought (which is why I'm trying to get a simpler approach going in https://github.com/kubernetes/test-infra/pull/3883 ) , so perhaps that's the problem here

[2017-08-31 14:13] jbunce commented on #43856
Deploying via Kubespray I ran into a similar problem: https://github.com/kubernetes-incubator/kubespray/issues/1207#issuecomment-326297881

[2017-08-31 14:14] SEJeff commented on #51602
`s/tracer/tracker/` on the subject @m1093782566 :)

[2017-08-31 14:19] DirectXMan12 commented on #51650
Can we get output of `kubectl describe` for that HPA, since that has more information, and read `kubectl get` output without column names isn't particularly easy?

I see 0% CPU usage on those pods, but by default, unready pods aren't considered unless a scale-up would occur, in which case, they count as 0%, in order to be conservative about scaling up when we already have unready pods waiting in t

[2017-08-31 14:30] yastij opened #51709 "pull-kubernetes-e2e-kops-aws failing"
currently it is always failing across PRs see [here](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kops-aws)

[2017-08-31 14:31] yastij commented on #51709
/priority test-failing

[2017-08-31 14:32] yastij commented on #51709
closing, duplicate of #51692

[2017-08-31 14:35] justinsb commented on #51692
@errordeveloper confirmed that we are running an old k8s: https://github.com/kubernetes/kubernetes/pull/51697#issuecomment-326313831  Trying to figure out why...

[2017-08-31 14:36] liggitt commented on #51253
this is odd... the test output actually shows TestApps succeeding in that run:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/51001/pull-kubernetes-unit/50133/artifacts/junit_f7172f2cb122b44f1a8919fff68dd59e6d916b66_20170828-235653.stdout
[code]

[2017-08-31 14:46] shyamjvs commented on #51692
Thanks @justinsb

[2017-08-31 14:47] vpm-bradleyhession commented on #45234
I would like this also. We already run multiple clusters for QA, Dev and Prod. Adding another IMHO to separate traffic between ELBs is not really a nice solution.

[2017-08-31 14:47] karataliu commented on #51596
cc @andrewsykim @luxas

[2017-08-31 14:51] shyamjvs commented on #51692
Btw - since the presubmit is not running against the PR, why not just disable it for now (until it's fixed)?

[2017-08-31 14:52] sttts commented on #51643
@dims we plan to get it running nightly again of course as soon as possible. Meanwhile we manually push. Hopefully by 1.8 this is solved.

[2017-08-31 14:52] karataliu opened #51710 "Wrong implementation for splitProviderID in azure provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
#46940 add 'splitProviderID' for Azure to get node name from provider, but it captures the resource id instead of node name.

Functions such as NodeAddresses are accepting node names:
https://github.com/kubernetes/kubernetes/blob/84d9778f225cdf8046774d56d47b1e264e47499f/pkg/cloudprovider/providers/azure/azure_instances.go#

[2017-08-31 14:53] karataliu commented on #51710
/sig azure

[2017-08-31 14:55] mwielgus commented on #44033
cc: @DirectXMan12

[2017-08-31 14:55] chrissound opened #51711 "Ingress controller session affinity via cookies do not work with GCP"
/kind bug

**Environment**:
- Kubernetes version (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:44:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.7", GitCommit:"0

[2017-08-31 15:05] chrissound commented on #51711
@kubernetes/sig-network-bugs

[2017-08-31 15:21] andrewsykim opened #51713 "Add pod-template-hash label to Deployments"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

It would be nice if the Deployment object was labeled with the current `pod-template-hash` so that it's easier to find only the pods of the newest replicaset. Currently to find pods of the newest replicaset we need to find all the replicasets belonging to a deployment, get `pod-template-hash` from the one with the highest revision, and t

[2017-08-31 15:23] andrewsykim commented on #51713
/sig apps

[2017-08-31 15:25] shyamjvs opened #51714 "Loadbalancer creation for service failing in case of custom network"
The "Services should be able to create an internal type load balancer [Slow]" e2e test is failing on our 2k-node gce clusters - https://k8s-testgrid.appspot.com/google-gce-scale#gce-large-correctness
with the following error:

[code]

We're using custom subnets for our large cluster tests, and seems like the glbc controller is not able to handle them.

cc @kubernetes/sig-network-bugs @kubernetes/s

[2017-08-31 15:25] mml commented on #51692
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51649/pull-kubernetes-e2e-kops-aws/45455/

I also vote for disable test until we fix it.

[2017-08-31 15:29] shyamjvs commented on #51714
Seems similar to https://github.com/kubernetes/kubernetes/issues/50034
@nicksardo Assigning to you as you seem to have the context already :) Also, is this expected to be fixed in 1.8 timeframe?

[2017-08-31 15:34] m1093782566 commented on #51602
OOPS... I will fix that typo. Thanks @SEJeff

[2017-08-31 15:42] justinsb commented on #51692
@mml I agree we should turn off all tests, not just kops.

[2017-08-31 15:46] shyamjvs opened #51717 "Volume plugin streaming e2e test failing on large cluster"
The "Volume plugin streaming [Slow] NFS should write files of various sizes, verify size, validate content" e2e test is failing on our 2k-node gce clusters (https://k8s-testgrid.appspot.com/google-gce-scale#gce-large-correctness) with the following error:

[code]

cc @kubernetes/sig-storage-bugs @kubernetes/sig-scalability-misc

[2017-08-31 15:49] shyamjvs commented on #51717
@saad-ali Could you take a look into it or reassign as apt?
This is part of the correctness suite and large cluster tests are release-blocking.

[2017-08-31 15:54] nicksardo commented on #51714
gce.util doesn't set the necessary variables for the GCE cloud provider. Will throw you a PR.

[2017-08-31 15:59] shyamjvs opened #51718 "Failing e2e tests on scalability jobs"
This is an umbrella issue for tracking currently failing e2e tests on large clusters:

- [sig-instrumentation] Cluster level logging implemented by Stackdriver should ingest system logs from all nodes (https://github.com/kubernetes/kubernetes/issues/51700)
- [sig-instrumentation] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster (https://github

[2017-08-31 16:01] msau42 commented on #51717
/assign @jeffvance

[2017-08-31 16:10] msau42 commented on #51717
@shyamjvs is this run using the kubemark environment?

I'll also take a look.  It could be that the commands this test needs to execute may not work with kubemark.
/assign

[2017-08-31 16:28] yujuhong commented on #51668
+1

+1  Was thinking the same.  Unlike the many annotations we support, updates to this actual field could be validated and blocked at the apiserver...

Changing IP is disruptive anyway. Could we simply ask the user to re-create the Service?

[2017-08-31 16:31] wongma7 commented on #51692
could it be related to the "shared builds" issue the gpu tests had? https://github.com/kubernetes/kubernetes/issues/51481

[2017-08-31 16:32] yujuhong commented on #51668
Of course, this could be an API-breaking change, and other cloud providers may actually be supporting this properly.

[2017-08-31 17:22] bsalamat commented on #51655
@guangxuli Sure. Thank you!

/assign @guangxuli

[2017-08-31 17:25] pwittrock commented on #46728
@cjcullen can you close this or move out of the milestone?

[2017-08-31 17:26] yguo0905 commented on #32536
We've validated overlay2 for Docker 1.13.1 (17.03.2) with K8s 1.8 in https://github.com/kubernetes/kubernetes/issues/42926.

[2017-08-31 17:26] yguo0905 commented on #32536
/close

[2017-08-31 17:27] pwittrock commented on #49035
@caesarxuchao Any updates?

[2017-08-31 17:31] caesarxuchao commented on #49035
PR was mostly lgtm yesterday, so we are on the right track.

[2017-08-31 17:31] carsonoid commented on #44103
+1
We need this for kafka as well

[2017-08-31 17:39] shyamjvs commented on #51714
Cool - thanks a lot!

[2017-08-31 17:44] rootfs commented on #51717
cc @jeffvance

[2017-08-31 17:44] shyamjvs commented on #51717
No, this is not kubemark. This is on a real 2000-node cluster.

[2017-08-31 17:45] shyamjvs commented on #51717
Also all other volume-related e2e tests are passing, except this one.

[2017-08-31 17:55] cmluciano commented on #23225
@MrHohn Should this be moved to 1.9?

[2017-08-31 17:57] cmluciano commented on #47541
/assign
/close
Test appears green in testgrid

[2017-08-31 17:57] #47541 closed

[2017-08-31 17:58] cmluciano commented on #50604
Do we still want this for 1.8?

[2017-08-31 18:04] thockin opened #51726 "NetworkPolicy: consider defining empty `from` as "none""
Covered in #51351 comments.

What we SHOULD HAVE DONE, perhaps, is define an empty NetworkPolicyPeer (no podSelector or namespaceSelector or ipBlock) as "none". Perhaps we should do that now, and update docs to say:

Default-deny ingress:

[code]

Default-deny egress:

[code]

Default-deny everything:

[code]

Why?

1) future rollbacks where a `from` field was newly added will default to fail-clos

[2017-08-31 18:05] piosz commented on #51700
@x13n could you please take a look since @crassirostris is OOO?

cc @fgrzadkowski

[2017-08-31 18:17] aanm commented on #50395
If a user receives an allocation of /64 to its network, and he wants to expose his pods to the outside world, he needs to have a bigger prefix length for its pods. So that he could at least split his network into 2 /80 networks, one for pods and the other for the remaining machines.

The prefix length should not matter as the network plugins will be, or should be at least, in charge of the routing

[2017-08-31 18:25] MrHohn opened #51729 "[upgrade test] kube-proxy migration tests should have its own `UpgradeTests`"
[kube-proxy daemonset upgrade/downgrade test](https://github.com/kubernetes/kubernetes/blob/5dc0845e3625a99028bef39d6dcd648d48e2e61e/test/e2e/lifecycle/cluster_upgrade.go#L219-L280) is using the generic set of upgradeTests, which are not specific enough to verify the migration path:
https://github.com/kubernetes/kubernetes/blob/5dc0845e3625a99028bef39d6dcd648d48e2e61e/test/e2e/lifecycle/cluster_up

[2017-08-31 18:26] MrHohn commented on #51729
/assign

[2017-08-31 18:31] mcandre opened #51731 "A way to configure resources for specific namespaces by default?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Could there be a way to specify in a resource YAML configuration that it should deploy to a specific namespace, unless overridden with `--namespace`?

[2017-08-31 18:34] derekwaynecarr opened #51732 "Remove scheduler duplication with ExtendedResources and HugePages"
**What happened**:
The scheduler has a concept of `ExtendedResources` which lets it schedule resources not in the default Kubernetes resource namespace.  HugePages are very similar to ExtendedResources in that they cannot be overcommitted, but that resource is expected to be in the Kubernetes resource namespace once it graduates out of alpha.

The scheduler should be refactored so that ExtendedRes

[2017-08-31 18:34] derekwaynecarr commented on #51732
@sjenning @aveshagarwal -- can either of you commit to making this change to address @bsalamat request?

[2017-08-31 18:52] davidz627 commented on #49796
Just confirming that this issue is referring only to the 3 gcloud CLI calls in pd.go?

[2017-08-31 18:57] dchen1107 commented on #51432
@dashpole Is this the same issue we fixed before: disk eviction manager evicted the pods too aggressively upon the disk starvation? Shouldn't we already introduce a fix to Kubelet to always admit the static pods since v1.5?

[2017-08-31 19:01] bsalamat commented on #51732
Another aspect of Extended Resources, OIRs, or HugePages that is similar from scheduling point of view is that they are all scalar resources. They have a name and a number representing their quantity. Accounting for all these resource types should be done identically.

[2017-08-31 19:03] dashpole commented on #51432
Is the critical pod feature gate enabled on the kubelet?

[2017-08-31 19:05] dashpole commented on #51432
I checked, and [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L379) was added prior to 1.6

[2017-08-31 19:06] aveshagarwal commented on #51732
@kubernetes/sig-scheduling-misc

[2017-08-31 19:10] danwinship commented on #50604
Yes, I think so...

I started looking at this the other day, but I have no idea what actually needs to be done

[2017-08-31 19:16] markine commented on #42926
Request for background info: does the process of validating a particular Docker version + storage driver for Kubernetes include a continuous deployment use case? Does Kubernetes make any promises about the typo of work loads it supports out of the box (e.g. kube-up or kops)?

I'm asking because my recent tests of kops 1.7 +  Kubernetes 1.7.2 on AWS under CICD load (frequent container churn) showed

[2017-08-31 19:36] ConnorDoyle commented on #51732
@bsalamat you can say the same thing about memory (unit is bytes as an integer.) Right now there are a two aspects that we infer based on resource names:
1. Allow-fractional-quantities. This is `false` for all first-class and extended resources except for `cpu`.
1. Allow-overcommit. This is `false` for extended resources and hugepages. There is a hardcoded overcommit-blacklist which is enforced in

[2017-08-31 19:40] howinator commented on #24791
Can this be closed now?

[2017-08-31 19:40] ConnorDoyle commented on #51732
We could probably fix #50658 by handling resources generically even for names inside the `kubernetes.io/` domain.

[2017-08-31 19:49] nicksardo commented on #51711
As far as I know, only the nginx controller supports those annotations.

[2017-08-31 20:06] sjenning commented on #51732
/assign @aveshagarwal

[2017-08-31 20:12] MrHohn commented on #23225
@cmluciano SGTM. We made some progress in 1.8, but there are remaining tasks needed to be done in following releases.

[2017-08-31 20:14] fejta opened #51735 "Requiring issues to merge is irritating"
We should solve this problem in a better way

[2017-08-31 20:31] jeffvance commented on #51717
Looking at the log I see that the nfs test fails trying to verify the test file's content. The test exec's into the nfs client pod and executes:
[code]
The return code from above is 127.
The test then deletes the nfs client pod calling `framework.DeletePodWithWait` which works.
The nfs-server pod is deleted in the AfterEach which works.
The namespace is successfully destroyed.
For some reason the

[2017-08-31 20:32] wongma7 commented on #51735
cc https://github.com/kubernetes/test-infra/issues/2868

:))

[2017-08-31 20:33] msau42 commented on #49796
yup

[2017-08-31 20:34] msau42 commented on #51717
The other strange thing is that it's only failing in this suite and not the others.

[2017-08-31 20:36] lavalamp commented on #50148
If I understand correctly, the question is whether the object meta on this line:

https://github.com/kubernetes/metrics/blob/935b1d6f9c67d2e44b344ac6cbc8d9a6f8c0ffbe/pkg/apis/metrics/types.go#L61

should refer to the pod the metrics are for, rather than the metrics themselves?

After thinking about it, I think it would be OK to do this, if (like scale) the object meta could be EXACTLY the object m

[2017-08-31 20:52] gnufied opened #51736 "Fix quota code to handle resource updates"
/kind bug

Currently quota code doesn't handle resource updates very well. For updates it needs to pick maximum of old and new value and then use it.

Related to - https://github.com/kubernetes/kubernetes/pull/49727

[2017-08-31 20:56] mml commented on #51548
/assign

[2017-08-31 20:58] jsafrane opened #51738 "Pod MountPropagation needs clearing when disabled"
[api_changes.md](https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md) says  "Before persisting the object to storage, clear disabled alpha fields". There is https://github.com/kubernetes/kubernetes/pull/50924 that actually implements it but there are some discussions about it.

This issues is a reminder that `pod.containers[i].volumeMounts[j].mountPropagation` int

[2017-08-31 21:00] mml commented on #51594
/sub

[2017-08-31 21:00] lavalamp commented on #51594
That might be a question for sig architecture, actually.

[2017-08-31 21:04] lavalamp commented on #51643
SGTM

[2017-08-31 21:07] jpbetz commented on #45974
@hongchaodeng, @xiang90, @heyitsanthony,

Thanks for the reviews! I'll be applying the feedback today.

Are any of you interested in being listed as an owner for Kubernetes incubator proposal purposes? For a small project like this the time commitment will be very small to negligible. I plan to send out the proposal Monday.

[2017-08-31 21:10] gnufied commented on #51736
/sig storage
/assign

[2017-08-31 21:18] julianvmodesto commented on #15180
@deads2k what was the result of your related work in OpenShift mentioned in #36819? Is it still related and likely the best solution for this use case?

[2017-08-31 21:24] pipejakob opened #51741 "New SchedulerPredicates Conformance test is constantly failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

There are several CI e2e jobs that are failing this new Conformance test:

    [sig-scheduling] SchedulerPredicates [Serial] validates local ephemeral storage resource limits of pods that are allowed to run [Conformance] 1m6s
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scheduling/predicates.go

[2017-08-31 21:24] MrHohn commented on #51729
Ref upgrade/downgrade jobs:
- https://k8s-testgrid.appspot.com/sig-network#gci-gce-latest-upgrade-kube-proxy-ds
- https://k8s-testgrid.appspot.com/sig-network#gci-gce-latest-downgrade-kube-proxy-ds

[2017-08-31 21:31] pipejakob commented on #51741
CC @kubernetes/sig-scheduling-bugs to comment on the correctness of this new test, since it is failing both for kubeadm e2es and kops as well:

https://k8s-testgrid.appspot.com/google-aws#kops-aws-serial

I haven't been able to find any other e2e jobs where this test isn't skipped, so I don't know if it's green anywhere.

[2017-08-31 21:33] pipejakob commented on #51741
Also failing gce-serial and gke-serial:

https://k8s-testgrid.appspot.com/sig-scheduling#gce-serial
https://k8s-testgrid.appspot.com/sig-scheduling#gke-serial

[2017-08-31 21:36] tgraf commented on #47780
Very interested in this feature as well.

[2017-08-31 21:37] pipejakob commented on #51741
Updated title/description since this isn't a kubeadm-specific CI failure.

[2017-08-31 21:51] MrHohn commented on #51695
@xiangpengzhao  The expected sequence for this specific cluster upgrade job is:
1. Create a 1.7 cluster.
2. Start a bunch of [upgrade tests](https://github.com/kubernetes/kubernetes/blob/5dc0845e3625a99028bef39d6dcd648d48e2e61e/test/e2e/lifecycle/cluster_upgrade.go#L42-L54) (initiation phase).
3. Upgrade the master.
4. Upgrade the nodes.
5. Finish those upgrade tests (evaluation phase).
6. Run ske

[2017-08-31 22:03] smarterclayton opened #51742 "Need `kubectl create pvc`"
Was shocking to me we don't have it - i can create a pdb or quota but not the thing people actually need all the time.

@kubernetes/sig-cli-feature-requests

[2017-08-31 22:03] MrHohn commented on #51695
Found the issue (from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/180?log#log):
[code]

[2017-08-31 22:04] msau42 commented on #51717
When I look at the kubelet log, I see the exec command coming through:
[code]

I also see these suspicious kubelet [logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/3/artifacts/gce-large-cluster-minion-group-1-r78f/kubelet.log) soon afterwards:
[code]

So I think the grep command is causing the node to run out of memory and get evicted.

I think

[2017-08-31 22:07] msau42 commented on #51717
An unrelated issue, is that the node allocatable feature didn't actually evict the pod.  Instead this pod got a system OOM kill.
/cc @dchen1107 @dashpole

[2017-08-31 22:09] mikebrow commented on #51643
@sttts thx for the forked branches, I've run against
[code]

[2017-08-31 22:09] cheftako opened #51743 "Move AWS & GCE specific logic out of pkg/controller/cloud/pvlcontroller.go"
/kind bug

**What happened**:
https://github.com/kubernetes/kubernetes/pull/44680 adds support for persistent volume support to the cloud controller manager. However it adds GCE and AWS specific code in a generic module.

**What you expected to happen**:
This logic should live under pkg/cloudproviders/provider/gce and pkg/cloudproviders/aws. We need to restructure things a little bit to move the l

[2017-08-31 22:10] MrHohn commented on #51695
Function `detect-node-instance-groups` used to locate at [cluster/gke/util.sh](https://github.com/kubernetes/kubernetes/blob/release-1.7/cluster/gke/util.sh#L313-L342), but was removed from kubernetes repo by https://github.com/kubernetes/kubernetes/pull/50338.

@zmerlynn @roberthbailey

[2017-08-31 22:31] ixdy commented on #51571
There's a fix in the upstream `rules_go` repo now, but there are a few gotchas:
* `rules_go` at HEAD requires bazel 0.5.4+
* `rules_go` at HEAD requires fixes in our `repo-infra` rules

[2017-08-31 22:32] dashpole commented on #51717
related to the memcg notifications, not node allocatable.  Thanks!

[2017-08-31 22:36] dashpole opened #51745 "Memory Eviction Memcg notifications are not effective."
While debugging https://github.com/kubernetes/kubernetes/issues/51717#issuecomment-326433510, we found that despite memcg notifications waking up the eviction manager, the eviction manager was unable to take action before a system oom ~6 seconds later.  The following sequence of events occurred:
1. Memory threshold crossed.
2. Memcg notifications triggers synchronize call in eviction manager
3. Ev

[2017-08-31 22:36] dashpole commented on #51745
/sig node

[2017-08-31 22:38] dashpole commented on #51745
This would be fixed by on-demand node-level stats.

[2017-08-31 23:04] Random-Liu opened #51746 "CRI: Behavior of empty AppArmor profile is not clearly defined."
For seccomp, we defined:
[code]

However for apparmor, we only defined:
[code]

From the definition, it seems that empty apparmor profile will be "unconfined", because there is no other "unconfined" option.

However, it is not the case today. When apparmor profile is empty, we'll return empty https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/helpers.go#L203.

However, in

[2017-08-31 23:07] Random-Liu opened #51747 "CRI: Define more constants"
For seccomp and apparmor, we all defined some constants `localhost/`, `runtime/default` etc.

We should define them in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/constants.go, so that runtime could share it.

@feiskyer @yujuhong @mrunalp @mikebrow
/cc @kubernetes/sig-node-api-reviews

[2017-08-31 23:11] Random-Liu commented on #51643
@mikebrow Thanks for the update!

[2017-08-31 23:15] imkin commented on #42926
When 17.06 is already released, why are we only limiting 1.8 to 17.03?

[2017-08-31 23:40] bgrant0607 commented on #25900
Dupe of #16437

[2017-08-31 23:40] #25900 closed

[2017-09-01 00:09] MHBauer commented on #16437
I would definitely be interested in having a kubectl image. Service-catalog uses a self published one for testing.

[2017-09-01 00:39] jeffvance commented on #51717
@msau42 any theories why we see this only for the nfs-io tests, and not the glusterfs-io test for instance?

[2017-09-01 00:56] msau42 commented on #51717
the gluster test didn't run on this in this suite.

I'm suspecting that the reason why we didn't see a problem with this test on other suites is that the load could be higher here.  I've asked @verult to see if we can reduce the memory usage of the grep call.

[2017-09-01 00:59] andrewsykim commented on #51596
/area cloud-provider

[2017-09-01 00:59] andrewsykim commented on #51596
/area cloudprovider

[2017-09-01 01:00] andrewsykim commented on #51596
@karataliu being able to update `node.Spec.ProviderID` seems pretty reasonable to me. Can you get a PR in for that since we're close to code freeze?

[2017-09-01 01:00] marceldempers opened #51752 "Feature: Azure Storage Persistent volume can mount to any resource group storage"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature

**What happened**:
Creating an Azure Persistent Volume and PVC to Azure File Share, there is currently a limitation where you can only mount to a storage account that resides in the same resource group as the cluster when kubernetes runs in Azure on container services

**What you expected to happen**:
Can this resource group restriction be lif

[2017-09-01 01:01] NickrenREN commented on #51741
Sorry for that, I will look into it

/assign

[2017-09-01 01:01] andrewsykim commented on #51596
cc @jhorwit2 @prydie @wlan0

[2017-09-01 01:02] justinsb commented on #50898
Tracked down why we didn't do this previously - the functionality was only introduced in March 2017: https://github.com/aws/aws-sdk-go/blob/44376742d0a0cb0a97c3e472b00fad8d350af166/CHANGELOG.md#release-v184-2017-03-28

cc @KashifSaadat BTW.

[2017-09-01 01:06] marceldempers commented on #51752
@kubernetes/sig-azure-<group-suffix>

[2017-09-01 01:08] marceldempers commented on #51752
/sig area/platform/azure

[2017-09-01 01:26] xingzhou commented on #51742
I think we used to have plans to add more `kubectl create xxx` sub command, but not sure why stopped. e.g. https://github.com/kubernetes/kubernetes/pull/43369
I can help develop on this one, /cc @kargakis and @adohe

[2017-09-01 01:30] verult commented on #51717
@msau42 pointed out that there are no newlines in the generated file, so when grep is called it could buffer the entire file in memory. Adding a newline at the end of the dd input file should do it.

[2017-09-01 01:31] CaoShuFeng commented on #51565
I will try to fix this before next Monday(Sep 4).

[2017-09-01 01:32] huzhengchuan opened #51753 "Make the resource of event more obvious"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
kubect create -f statefulset_demo.yaml  to create statefulset, and describe the statefulset, output the event likes
<pre>
Events:
 FirstSeen    LastSeen    Count    From        SubObjectPath    Type        Reason            Message
 ---------    --------    -----    ----        -------------    --------    ------

[2017-09-01 01:35] huzhengchuan commented on #51753
/assign
/sig  area/controller-manager

[2017-09-01 01:36] huzhengchuan commented on #51753
/sig area/controller-manager

[2017-09-01 01:36] nicksardo commented on #50034
Kubernetes 1.7.4 is now available on GKE.
/close

[2017-09-01 01:36] #50034 closed

[2017-09-01 01:37] nicksardo commented on #48882
/close

[2017-09-01 01:37] #48882 closed

[2017-09-01 01:43] #51548 closed

[2017-09-01 01:43] #51013 closed

[2017-09-01 01:53] choury commented on #51694
/sig network
/assign @choury
/cc @m1093782566

[2017-09-01 01:59] marceldempers commented on #51752
I tested this on ACS with Kubernetes 1.5. Tried using ACS-Engine and deploying Kubernetes 1.7+ and see this has been addressed in the newer version of Kubernetes so I'll be closing this for now. I can now mount a PV from any resource group in any region. Amazing :+1:

[2017-09-01 01:59] #51752 closed

[2017-09-01 02:05] zjj2wry commented on #51742
/assign

[2017-09-01 02:07] aanm commented on #49753
@yastij How's the PR going?

/area ipv6

[2017-09-01 02:12] ccatlett2000 opened #51755 "OpenStack (Cloud Routes): Adding an allowed address pair wipes port security groups"
/kind bug

When using the OpensStack cloud provider with cloud routes enabled instances will have their security groups removed when the allowed address pair is added to the instance's port.

Reproduce:
Run `kube-apiserver`, `kube-controller-manager`, and `kubelet` on OpenStack. Enable provisioning cloud routes in `kube-controller-manager` and configure the cloud config appropriately. The instance

[2017-09-01 02:13] ccatlett2000 commented on #51755
/sig openstack

[2017-09-01 02:17] xiangpengzhao commented on #51735
/sig contributor-experience release

[2017-09-01 02:29] xilabao opened #51756 "dispose of labels with the `beta` key"
quote from https://github.com/kubernetes/kubernetes/pull/51006#discussion_r135959383 @liggitt

The issue should be thought very carefully. Then we can code it util reach a consensus on it.

[2017-09-01 02:30] choury commented on #51694
I've tried  netlink, and if I want to bind an ip which is already exist, I will get an error of "file exists", I think this can distinguish  whether the ip are bound. But if unbind an ip which is not exist, I just get an error of "cannot assign requested address" which is not specific enough to distinguish with other situation.
@m1093782566

[2017-09-01 02:35] xingzhou commented on #51742
@zjj2wry, are you working on this one or other sub commands?

[2017-09-01 02:43] NickrenREN commented on #51741
LocalEphemeralStorage will be added to node's capacity when `LocalStorageCapacityIsolation` feature gate is enabled. In e2e tests ,the feature gate is not enabled, so the error happened
Revert first to avoid constantly failing tests and then i will send a new PR again.

[2017-09-01 02:46] xingzhou commented on #51276
Refer to the comments in the PR: https://github.com/kubernetes/kubernetes/pull/48684

[2017-09-01 03:01] xiangpengzhao commented on #51695
@MrHohn thanks! I misunderstood how the upgrade tests work. BTW, is the workflow documented anywhere?

/unassign

[2017-09-01 03:08] #49998 closed

[2017-09-01 03:19] zjj2wry commented on #51742
@xingzhou not start for ```kubectl create pvc```. i am work with ```kubectl create deamonset``` before.

[2017-09-01 03:19] xiangpengzhao commented on #50274
As is mentioned in https://github.com/kubernetes/kubernetes/issues/51695#issuecomment-326430304 by @MrHohn , the original issue here might be caused by upgrade framework.

[2017-09-01 03:21] karataliu commented on #51596
@andrewsykim I found this issue when validating against a cluster running azure cloud provider, could you please also check whether it is the same case from you side?

`providerID` serves somewhat like an identity for nodes, thus it wouldn't expect arbitrarily updating. A compromise proposal is to allow updates when the value is not set. This gives controller manager a chance to set it during node

[2017-09-01 03:23] wjin commented on #46636
We are also inclined to use fuse instead of kernel client ,any progress on this issue?

[2017-09-01 03:25] xiangpengzhao commented on #49364
/close
as per discussion in https://github.com/kubernetes/kubernetes/pull/51479#discussion_r136463073

[2017-09-01 03:25] #49364 closed

[2017-09-01 03:52] zjj2wry commented on #51742
@xingzhou just feel free go for it. i will help reivew :)

[2017-09-01 04:09] #50808 closed

[2017-09-01 04:09] #51678 closed

[2017-09-01 04:28] bgrant0607 commented on #51647
@xiangpengzhao See #116

[2017-09-01 05:01] xiangpengzhao commented on #51647
@bgrant0607 I don't find #116(`Added a -verbose flag, and made a message verbose only.`) has anything to do this issue. I think you meant https://github.com/kubernetes/community/issues/116 (`deprecating wiki pages`) :smile:

[2017-09-01 05:25] pipejakob commented on #51741
Thanks for looking into this, @NickrenREN! I'll be out of the office for the next few days (back on September 5th), so I would include more people on that PR so it's not stalled on my feedback. My personal vote is to change the test's tag from "[Conformance]" to "[Feature:EphemeralStorage]" so that test jobs will have to opt into running the test, but I don't know if we already have the pattern el

[2017-09-01 05:26] dfang opened #51764 "kubectl can't delete deployment"
@kubernetes/sig-cli-bugs
 /sig area-kubectl

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
commands as below:

NAME                   DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
deploy/tiller-deploy   0         0         0            0           42m

error: timed out waiting for the condition

deployment "tiller-deploy" deleted

NAME                   DESIRED

[2017-09-01 05:58] NickrenREN commented on #51741
Sorry for not understanding the tag's meaning

yeah, that would be helpful

[2017-09-01 05:59] dfang commented on #51764
@kubernetes/sig-cli-bugs

[2017-09-01 06:03] justlooks opened #51769 ""the server could not find the requested resource" when create cron job"
i use example in document https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/ ,but it seems can not create cron job ,why?
[code]

[2017-09-01 06:22] dixudx commented on #51273
@jsafrane For [PathIsDevice in nsenter_mount.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/nsenter_mount.go#L275-L279), I don't think the implementation is right. We should check this in mount namespace using `nsenter`, directly calling `os.Stat` to get the file info is wrong. WDYT? Also the same issue of [`DeviceOpened`](https://github.com/kubernetes/kubernetes/blob/mast

[2017-09-01 06:22] Akhila27 opened #51772 "Couldn't find Kubernetes java API to retrieve pod metrics."
We are creating and spawning the kubernetes pods using java API (io.fabric8.kubernetes.* and few other) but we are stuck with the issue of finding the pod metrics .We got the suggestion of using heapster and grafana but we trying to find metrics through java of no use.
Can you please throw some light on this issue .

Thank you.

/sig kubernetes pod metrics through java api/kubernetes

[2017-09-01 06:39] arki91 opened #51773 "[FEATURE REQUEST] RBAC query in kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

To speed up debugging or updating rbac roles and rolebindings it would be nice to have a feature in kubectl which can query the current rbac setup.

**What you expected to happen**:

Kubectl provides a feature to query rbac and generates output similar to that from this tool:
https://github.com/sbueringer/kubernetes-rbacq

[2017-09-01 06:43] arki91 commented on #51773
/sig cli

[2017-09-01 06:53] bowei opened #51774 "Create a secondary range for the services instead of a subnetwork"
When using IP aliases on GCE, use a secondary range rather than subnetwork to reserve cluster IPs.

[2017-09-01 06:55] resouer commented on #51746
Do you think it's reasonable to apply `docker-default` in dockershim? As it is docker specific.

[2017-09-01 07:06] sttts commented on #50604
We use cohabitation to store the networking objects in extensions. It's defined here: https://github.com/kubernetes/kubernetes/blob/55cb667b9ec975664609e736f49713ee24419b81/cmd/kube-apiserver/app/server.go#L569

Moreover, test/integration/etcd/etcd_storage_path_test.go must be adapted to test the new storage version, but old storage path.

[2017-09-01 07:07] feiskyer commented on #51746
@Random-Liu There is no unconfined AppArmor problem, default is `runtime/default`, whose behavior is defined by runtime itself.

@resouer In dockershim, yes. but Random's main concern is the behavior of  empty AppArmor profile.

[2017-09-01 07:11] #51625 closed

[2017-09-01 07:11] #51635 closed

[2017-09-01 07:11] #51489 closed

[2017-09-01 07:11] #50477 closed

[2017-09-01 07:16] lichuqiang commented on #51586
@liggitt @deads2k About #51633, some controller's init func(eg. ReplicationController) is overall runs in a goroutine. So it seems  we could not ensure the start order of certain controllers if only the InformersStarted chan is added?

[2017-09-01 07:35] feiskyer commented on #51747
+1

[2017-09-01 07:37] sttts commented on #51643
@mikebrow thanks for the feedback, good to hear.

This issue is blocked since Wednesday by finding something having the permissions to execute https://gist.github.com/anonymous/0db2c5b10dce604acb712964aef37eea.

@eparis @smarterclayton @lavalamp @wojtek-t ^^

[2017-09-01 07:53] resouer commented on #49723
I work out a patch to implemented this. Please take a look @jayunit100

- [X] Make scheduler configurable in scheduler_perf #51776
- [ ] Respect more predicates & priorities in scheduler_perf

[2017-09-01 07:54] mengqiy commented on #51764
I suspect it may be blcoked by finalizers somehow.
Can you verify if it has non empty finalizers field after you deleting it.

[2017-09-01 07:56] dfang commented on #51764
@mengqiy

Hi, what do you mean by finalizers ?
how to verify it ?

thanks !

[2017-09-01 08:05] #46887 closed

[2017-09-01 08:12] #51664 closed

[2017-09-01 08:19] dfang commented on #51764
returns nothing

and

[code]

[2017-09-01 08:21] sttts commented on #51639
If anybody wants to work on this, here are some pointers:

- The GET request to the server uses what is called a "resource name" (lower-case, plural, part of the HTTP path, compare https://blog.openshift.com/kubernetes-deep-dive-api-server-part-1/). The resource name for a CRD is the plural name, i.e. the path is `/apis/<group>/namespace/default/<plural>`.

- kubectl does certain transformations (

[2017-09-01 08:28] yastij commented on #49753
@aanm - got stuck in other work, I will take a look as soon as I can.

[2017-09-01 08:33] tamalsaha opened #51778 "[Bug] Kubectl describe shows error for valid YAML"
Hi,
We are creating Voyager Ingress TPR object like below:
[code]

`kubectl apply` runs without any error but if I do `kubectl describe ingress.voayger.appscode.com` I see an error like below:
[code]
On the other hand `kubectl get ingress.voyager.appscode.com -o yaml` is working ok.

I tested against minikube 1.7.0 cluster. I see this error with 1.7.x kubectl. I __don't__ see this error with 1.6.2

[2017-09-01 08:35] tamalsaha commented on #51778
cc: @sadlil

[2017-09-01 08:35] resouer opened #51779 "Equivalence class based scheduling feature is not well documented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

The equivalence class based scheduling has been landed in but lack of documentation. It's mainly because when this design is firstly proposed, we haven't work out `kubernetes/community` based proposal worflow.

**What you expected to happen**:

I will try to summarize up design from original issues/PRs and work out a pr

[2017-09-01 08:50] x13n commented on #51700
I can find some time to check this today.

@shyamjvs Is it possible to reproduce locally?

[2017-09-01 09:04] #36120 closed

[2017-09-01 09:09] sttts commented on #51565
Should be fine.

[2017-09-01 09:19] wenlxie commented on #51597
@jingxu97 @dims @gnufied Can you help to have a check?

[2017-09-01 09:49] hartmut-pq opened #51785 "v1.7.4 - Daemonset DESIRED 0 (for node-exporter)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]

**What you expected to happen**:
We have 9 nodes running and therefore would expect
`Desired Number of Nodes Scheduled: 9`

**How to reproduce it (as minimally and precisely as possible)**:
We haven't had time to try to reproduce on a fresh cluster - but we can reproduce by applying the manifest below to our cluste

[2017-09-01 09:54] gabrielruiu commented on #41711
+1 for development of such a feature

[2017-09-01 09:59] hartmut-pq commented on #51785
I hope @kubernetes/sig-scheduling-bugs is the correct choice?!?

[2017-09-01 10:06] Demonsthere commented on #38923
@cofyc Thanks for the rbd image, it works wonders here :)
However, I am stuck in a similar timeout problem that @rtmie had.

My kubernetes version is `1.6.7` installed by `kubeadm`

PVC:
`NAME       STATUS    VOLUME                                     CAPACITY   ACCESSMODES   STORAGECLASS   AGE
ceph-pvc   Bound     pvc-a6abf36b-8ef9-11e7-a959-02000a1ba70c   5Gi        RWO           rbd

[2017-09-01 10:08] shyamjvs commented on #51700
Yes, it should be reproducible on a large cluster. The issue is with filter string growing linearly with #nodes and then hitting the limit of 20000 chars of stackdriver api.
From the above, each node seems to add about 52B to the filter, so any cluster of >=385 nodes should see the problem.

[2017-09-01 10:09] shyamjvs commented on #51700
Alternatively if you don't want to create a large cluster, just artificially bloating it here https://github.com/kubernetes/kubernetes/blob/master/test/e2e/instrumentation/logging/stackdrvier/utils.go#L216 should also reproduce it.

[2017-09-01 10:24] x13n commented on #51700
I don't think we should filter by each node id individually, will try to see what will break if I just remove this.

[2017-09-01 10:27] chrissound commented on #51711
A workaround is to set the session affinity in the google cloud platform console.

[2017-09-01 10:35] johscheuer opened #51787 "Setting reserved resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Kubelet crashes with:

[code]
without the `--enforce-node-allocatable=pods,system-reserved,kube-reserved` Kubelet comes up and provides no errors.

**What you expected to happen**:
Kubelet comes up an set the limits of the cgroup slices.

**How to reproduce it (as minimally and precisely as possible)**:
Configuration:

[co

[2017-09-01 10:37] johscheuer commented on #51787
/sig node

[2017-09-01 11:05] dohnto opened #51788 "DaemonSet with PodNodeSelector AdmissionController keeps starting on unselected nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In our kubernetes cluster, we use **PodNodeSelector** Admission Controller with annotation format (`scheduler.alpha.kubernetes.io/node-selector`).
When a DaemonSet is spawned in such annotated namespace, the pod keeps starting even on nodes which are not selected by the nodeSelector and the pod keeps changing its status

[2017-09-01 11:13] ReSearchITEng commented on #30558
@bgrant0607 @everett-toews
the create | replace it's not the same thing as a single replace, as it will loose all existing metadata, which I do not want to mess with :)

e.g. there is the configmap for prometheus server deployed via a helm chart.
I don't want to simulate the metadata already in the configmap, I just want to update the prometheus.yml inside the configmap, leaving everything else in

[2017-09-01 11:13] dohnto commented on #51788
/sig scheduling

[2017-09-01 11:23] mbohlool commented on #51695
/assign roberthbailey

[2017-09-01 11:27] deads2k commented on #51639
It sounds plausible.  I'd be happy to see the "let's guess at a plural" code gone.

[2017-09-01 11:46] ylf881011 opened #51789 "Time zone error"
I am in China. Start a service at six o'clock in the afternoon. View the status of lastTransitionTime is missing at 10 am.
K8S there is no time zone to set the parameters?

![image](https://user-images.githubusercontent.com/16286574/29968028-599cc30e-8f4c-11e7-99b6-ba62636cccbe.png)

[2017-09-01 11:54] juanluisrosaramos commented on #45438
I have exactly the same problem reproduced in this issue and can't find the solution. I follow the same tutorial and try to create a cluster for a wordpress + mysql.
Using a loadbalancer with ephemeral external ip it works fine, using a nodeport + ingress it does not work and return a 502 error.
The unique error received is the unhealthy backends one but I have been days trying different combinati

[2017-09-01 11:55] stepanv opened #51790 "apiserver proxy feature does not rewrite Location header on redirects"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When accessing a service (e.g., `zipkin`) by using the Apiserver proxy feature and the service returns `302 Found` with `Location` header, such as
[code]
The returned `Location` header does not preserve the `api/v1/namespaces/.../proxy/` path if the service sent a redirect with an absolute path.

Depending on the cluster, the `Locat

[2017-09-01 11:55] shyamjvs opened #51791 "AppArmor profile failing to be enforced on large clusters"
The "AppArmor load AppArmor profiles should enforce an AppArmor profile" e2e test in failing on our 5k-node gce clusters - https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-correctness (run no. 8)
due to timeout:

[code]

Seems like the test is trying to load the profiles across all the nodes using a daemonset and then running a test pod to check that. It's passing on our 2k-node cluster

[2017-09-01 11:58] shyamjvs commented on #51791
@tallclair @mtaufen Seems like you're the most relevant here. Could one of you take a look into it?
Does increasing the timeout for the test-pod based on no. of nodes sound reasonable?

[2017-09-01 12:00] shyamjvs commented on #51791
@mtaufen Assigning it you since @tallclair is OOO. Feel free to reassign as apt.

[2017-09-01 12:00] shyamjvs commented on #51791
This is part of the correctness suite and large cluster tests are release-blocking.

[2017-09-01 12:03] dims commented on #51597
@wenlxie : Can you create a PR with the suggestion?

[2017-09-01 12:03] stepanv commented on #51790
/sig api-machinery
/sig network

[2017-09-01 12:19] dims commented on #51789
@ylf881011 you are right it's in UTC, see the Z at the end. It's in UTC by design i believe

[code]

[2017-09-01 12:23] andrewsykim commented on #51596
@karataliu thanks for the patch, I think I'll have some time this weekend to verify this fix!

[2017-09-01 12:42] dims commented on #51755
/assign dims

[2017-09-01 12:48] hartmut-pq commented on #51785
Note: we just upgraded to `v1.7.5` and everything is back healthy - the daemonset adapted smoothly to each new 1.7.5 node joining the cluster.
So unsure if I should close or if anyone would still like to have a look or bring some light into the cause?!?

[2017-09-01 13:32] luxas commented on #32536
This is not done yet; overlay2 should be added here:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/system/types.go#L164

cc @Random-Liu

[2017-09-01 13:35] daurnimator commented on #40847
I'm having the same issue I *think*. Trying to use an ISCSIVolumeSource results in this (which loops):

[code]

I *think* this is the same as this issue: https://forums.rancher.com/t/cant-mount-iscsi-volume/5413/4

[2017-09-01 13:35] tobad357 commented on #49480
@luxas I would like to put up a "YES WE WANT THIS"
The reason being when K8S moved to the CNI plugin the fix for
"#20096 Mitigate impact of unregister_netdevice kernel race" got rolled back as the responsibility of setting a bridge to promiscuous mode was moved from the kubelet to the CNI layer.
CNI didn't received support for promiscuous until 0.6 which means currently we hit the issue frequently

[2017-09-01 13:43] luxas commented on #51743
Sorry, I didn't see https://github.com/kubernetes/kubernetes/issues/51629 when requesting this; as it's older I'll close this as a dupe and we can have one thread only in https://github.com/kubernetes/kubernetes/issues/51629

[2017-09-01 13:43] #51743 closed

[2017-09-01 13:45] daurnimator opened #51793 "Add vultr block storage as persistent volume type"
/kind feature
/sig Storage

I'd like to be able to use [Vultr's block storage](https://www.vultr.com/features/blockstorage/) for persistent volumes for my kubernetes cluster.

API: https://www.vultr.com/api/#block
Go Library: https://github.com/JamesClonk/vultr

[2017-09-01 13:45] luxas commented on #51629
@cheftako @rrati @wlan0 Should we fix this in time for v1.8?

That would probably make sense to me; current state is kind of a bug, but let's ask @jdumars as well if he thinks that would be a bug fix or not

[2017-09-01 13:47] daurnimator commented on #51793
/sig Storage

[2017-09-01 14:04] luxas commented on #50986
Indeed, should be kept open.
Next task is now targeting v1.9

[2017-09-01 14:06] luxas commented on #38890
Target what for v1.9? Deprecation? Removal? Feature parity?

[2017-09-01 14:07] luxas commented on #51642
now fixed with https://github.com/kubernetes/kubernetes/pull/51649?

[2017-09-01 14:10] luxas commented on #26093
@pires I don't know.

cc @kubernetes/sig-node-feature-requests

[2017-09-01 14:14] luxas commented on #50926
Cool, than you all!
Any other providers we should implement this for in time for v1.8?

[2017-09-01 14:15] shyamjvs commented on #50854
This issue is now resolved after moving to separate project.
https://k8s-testgrid.appspot.com/sig-scalability#kubemark-5000

[2017-09-01 14:15] #50854 closed

[2017-09-01 14:18] x13n commented on #51700
After a couple of hours, the test is still running. I will get back to this on Monday.

[2017-09-01 14:25] shyamjvs commented on #51692
Closing this - kops presubmit is fine now.

[2017-09-01 14:25] #51692 closed

[2017-09-01 14:32] shyamjvs commented on #51379
Closing this issue as it's now fixed after merging the last PR in the series (https://github.com/kubernetes/kubernetes/pull/51343).

[2017-09-01 14:32] #51379 closed

[2017-09-01 14:51] jdumars commented on #51791
@countspongebob FYI

[2017-09-01 14:59] klausenbusk commented on #49480
You can just bump the CNI binaries manually, that what I did and it is working fine.

I'm using bootkube btw.

[2017-09-01 15:01] derekwaynecarr opened #51798 "Minimize impact of kubelet stats collection"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Today, the kubelet runs cAdvisor to collect node, pod, and container usage stats.

The goal discussed in sig-node has been to split usage stat collection responsibilities as follows:
* kubelet collects node and pod usage stats
* container runtimes collect container usage stats

The kubelet recently added support for the CRI to optionally

[2017-09-01 15:02] derekwaynecarr commented on #51798
/sig-node

/cc @yujuhong @sjenning

[2017-09-01 15:08] derekwaynecarr commented on #51798
/sig node

[2017-09-01 15:14] mml commented on #51642
@luxas I might add some test coverage for other files, but sure.  Let's mark this fixed.

[2017-09-01 15:14] #51642 closed

[2017-09-01 15:18] shyamjvs opened #51799 "[SQ-blocking] Kubemark presubmit failing to create pod in kubemark cluster"
`pull-kubernetes-kubemark-e2e-gce` is failing almost continuously - https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-kubemark-e2e-gce
with the following error:

[code]

cc @kubernetes/sig-scalability-misc @kubernetes/test-infra-maintainers @jdumars @luxas

[2017-09-01 15:20] shyamjvs commented on #51799
Even the CI tests are failing continuously - https://k8s-testgrid.appspot.com/sig-scalability#kubemark-small
I'm looking at the [diff](https://github.com/kubernetes/kubernetes/compare/61bc3aa56...c65ab61b3)

[2017-09-01 15:21] sttts commented on #51643
All repos are pushed. Thanks to @eparis

[2017-09-01 15:21] andrewsykim commented on #50986
Thanks @luxas I edited the issue description to include the deprecation plan going forward. Open to changes on the deprecation plan if we think it's too aggressive.

[2017-09-01 15:23] shyamjvs commented on #51799
There are 5 commits in the diff and 3 of them seem unrelated. One of these two PRs (touching kubelet) likely introduced the regression:
https://github.com/kubernetes/kubernetes/pull/51357 (cc @ConnorDoyle)
https://github.com/kubernetes/kubernetes/pull/51372 (cc @mtaufen)

[2017-09-01 15:27] #47531 closed

[2017-09-01 15:27] #51556 closed

[2017-09-01 15:28] shyamjvs commented on #51799
I suspect the latter is the reason as it touches a bunch of kubelet configs, which could potentially break hollow-kubelet in kubemark.
I'll create a revert PR and check if the presubmit passes on it - though it's surprising how it passed the original one (iirc this happened once in the past already).

[2017-09-01 15:36] dnardo commented on #38890
I've been targeting parity first.  Or we could decide to not bring in the bridging related workarounds to the CNI bridge plugin.  Some of these work-arounds are in already though.
Right now I'm waiting on https://github.com/containernetworking/plugins/pull/42 to be merged and then the last part would be getting the "tc" part of kubenet in CNI and that should be it for parity.
The next step I think

[2017-09-01 15:51] shyamjvs commented on #51799
cc @k8s-oncall

[2017-09-01 15:55] yguo0905 commented on #32536
Thanks for pointing this out.

@Random-Liu, besides adding `overlay2` here, do we also need to update some kernel version and config requirements?

[2017-09-01 16:08] k8s-merge-robot opened #51802 "Failure cluster [63a364...] failed 107 builds, 43 jobs, and 35 tests over 1 days"
### Failure cluster [63a36434077ff31ae29e](https://go.k8s.io/triage#63a36434077ff31ae29e)
##### Error text:
[code]
##### Failure cluster statistics:
35 tests failed,    43 jobs failed,    107 builds failed.
Failure stats cover 1 day time range '31 Aug 2017 12:19 UTC' to '1 Sep 2017 12:19 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Etcd failure

[2017-09-01 16:09] ericchiang commented on #51741
/kind e2e-test-failure
cc @kubernetes/sig-release-members

[2017-09-01 16:15] #46886 closed

[2017-09-01 16:16] shyamjvs commented on #51799
Ok.. So I just checked from a live node on our currently running kubemark-500 CI test. Seems like it definitely is a problem with kubelet.
I'm attaching the logs for one of the hollow-kubelet I managed to get.

[kubelet-hollow-node-rq565.txt](https://github.com/kubernetes/kubernetes/files/1270843/kubelet-hollow-node-rq565.txt)

[2017-09-01 16:18] shyamjvs commented on #51799
cc @kubernetes/sig-node-bugs

[2017-09-01 16:20] jingxu97 commented on #38923
@Demonsthere could you provide more details about your issue? How you set up your pod, pvc and pv, e.g., yaml file could be helpful. Also if you have the kubelet log on node, we could take a look to debug.

[2017-09-01 16:22] yujuhong commented on #51799
Based on the log, #51357 seems to be the culprit.
/cc @ConnorDoyle @derekwaynecarr

[2017-09-01 16:24] mtaufen commented on #51799
[code]
[code]

Agree with @yujuhong

[2017-09-01 16:25] jingxu97 commented on #51597
@wenlxie If the pod is unkown status, how could controller determine what is the correct action for this pod?
In you scenario, can I ask what is the reason you have finalizer causing pods cannot be removed? Will new pods be created to replace the old one in this case?

[2017-09-01 16:37] jdumars commented on #51629
I would lean toward this being a bug as well.  ETA on possibly fixing this?

[2017-09-01 16:38] quinton-hoole opened #51806 "Federation: Support federated ingress outside of GCP"
/kind feature

Splitting off the subthread in https://github.com/kubernetes/kubernetes/issues/39989#issuecomment-305356470

This looks like it might have just got easier on AWS and cross-cloud:

[New – Application Load Balancing via IP Address to AWS & On-Premises Resources](https://aws.amazon.com/blogs/aws/new-application-load-balancing-via-ip-address-to-aws-on-premises-resources/)

I haven't gon

[2017-09-01 16:38] quinton-hoole commented on #39989
I've moved the discussion to a separate dedicated issue:

https://github.com/kubernetes/kubernetes/issues/51806

[2017-09-01 16:39] kfox1111 commented on #44486
what is missing? I use fuse cephfs with secrets today.  Would really like to use k8s to manage the pv's rather then resorting to using hostpath.

[2017-09-01 16:50] mengqiy commented on #51764
search finalizer in https://kubernetes.io/docs/api-reference/v1.7/. You will see what it is.

Graceful deletion should deletionTimestamp field. But it doesn't appear in the manifest.

Can you verify if kubectl is sending the right request by:
[code]
Look for `DELETE`
Paste here the what endpoint the request goes and the request body.

[2017-09-01 16:53] dchen1107 commented on #51799
I agreed with @yujuhong's assessment, but why pr was merged at the first place?

[2017-09-01 17:19] shyamjvs commented on #51799
I had the same question too https://github.com/kubernetes/kubernetes/issues/51799#issuecomment-326610751. Let me look into it :)

[2017-09-01 17:20] derekwaynecarr commented on #51799
I have no idea how that was not caught in the PR checks.

[2017-09-01 17:35] MrHohn commented on #51695
@xiangpengzhao The only doc I could find is: [Automating an Upgrade Test](https://docs.google.com/document/d/1nj_cQ8RTuGPnpoHNOAROFNmgSaNytPdE1bgrNt8Hfjo/edit?ts=58911538#). It illustrates how the upgrade test is automated but doesn't explain the upgrade job procedure though.

[2017-09-01 17:38] bgrant0607 commented on #30558
@ReSearchITEng It sounds like create | patch or create | apply is what you want, then.

[2017-09-01 17:42] shyamjvs commented on #51799
/assign

[2017-09-01 17:42] bgrant0607 commented on #21648
configmap set command: #24049

[2017-09-01 17:43] davidz627 commented on #49796
PR: #51809

[2017-09-01 17:45] bgrant0607 commented on #22368
How I see this fitting into the bigger picture is described in my uber doc: https://goo.gl/T66ZcD

[2017-09-01 17:48] bgrant0607 commented on #30558
Expanding on my comment above. Updating a ConfigMap in place updates all instances at the same time, which is a recipe for taking down your application. #22368 and #49961 are steps towards facilitating rolling updates, which requires creating a new ConfigMap rather than updating an existing one.

How I see this fitting into the bigger picture is described in my uber doc: https://goo.gl/T66ZcD

Als

[2017-09-01 17:49] lenguyen89 commented on #50522
@wongma7
Can you please elaborate a little bit on this?

Do I just do apt-get ceph-common and that's it? Do I need to restart kubernetes or run some command to let it know about the rbd package?

[2017-09-01 17:51] bgrant0607 commented on #25832
Closing this as a dupe of #30558 (updates of ConfigMap and Secret) and #32432 (support for binary data in ConfigMap).

[2017-09-01 17:51] #25832 closed

[2017-09-01 17:52] wongma7 commented on #50522
@lenguyen89 yes you should just install and that's it, basically kubernetes is trying to call out to `rbd ...` so as soon as that rbd binary exists in PATH, things will start working

[2017-09-01 17:53] bgrant0607 commented on #24744
I expanded this to include configmaps, so that I could close #30337

[2017-09-01 17:54] bgrant0607 commented on #24744
How I see this fitting into the big picture is covered by my uber doc: https://goo.gl/T66ZcD

[2017-09-01 17:54] bgrant0607 commented on #30337
Closing this as a dupe of #24744, which I expanded to cover configmaps.

How I see this fitting into the big picture is covered by my uber doc: https://goo.gl/T66ZcD

[2017-09-01 17:54] #30337 closed

[2017-09-01 17:58] bgrant0607 commented on #30558
Also ref #24744

[2017-09-01 17:59] yujuhong commented on #51798
@derekwaynecarr do you have more data on cadvisor's resource consumption? It'd be great to have that.

/cc @dashpole for potential cadvisor changes.
/cc @yguo0905 for cadvisor stats consumption in kubelet.
/cc @Random-Liu @feiskyer since this affects CRI runtimes.

[2017-09-01 18:00] nicksardo opened #51812 "GCE: Service controller attempts firewall rule deletion when using different network project"
/kind bug

**What happened**:
When a cluster is running on a network with a different project, it will ignore firewall creation. However, the code still attempts to delete the firewall when the service is torn down an does not continue teardown on failure.

**What you expected to happen**:
Ignore firewall deletion failure

/sig network
/assign @nicksardo
/area platform/gce

[2017-09-01 18:01] bgrant0607 commented on #30337
See also #30558

[2017-09-01 18:01] bgrant0607 commented on #41711
I closed #30337 as a dupe of #24744.

See also my comment here:
https://github.com/kubernetes/kubernetes/issues/30558#issuecomment-326643503

How I see this fitting into the bigger picture is described in my uber doc: https://goo.gl/T66ZcD

I believe this is adequately covered by the other issues.

[2017-09-01 18:02] deads2k opened #51813 "Forbidden messages look a little ugly"
I'm seeing errors like `User "harold" cannot create localsubjectaccessreviews in the namespace "mallet-project".: "User \"harold\" cannot create localsubjectaccessreviews in project \"mallet-project\"" (post localSubjectAccessReviews)` which are unnecessarily verbose and bit ugly.

[2017-09-01 18:03] davidz627 commented on #49521
/assign unofficially @davidz627 so I can find this later.

[2017-09-01 18:03] bgrant0607 commented on #41711
And, if anyone would like to help with either imperative or declarative forms of updates, please reach out to SIG CLI.

https://github.com/kubernetes/community/tree/master/sig-cli

[2017-09-01 18:04] gnufied commented on #51736
cc @derekwaynecarr

[2017-09-01 18:06] bgrant0607 commented on #41711
@sbourlon

kubectl create configmap --from-env-file:
https://kubernetes.io/docs/user-guide/kubectl/v1.7/#-em-configmap-em-

[2017-09-01 18:08] k8s-merge-robot opened #51814 "Failure cluster [06c8c3...] failed 104 builds, 20 jobs, and 1 tests over 1 days"
### Failure cluster [06c8c3b1d9bc6cf8736d](https://go.k8s.io/triage#06c8c3b1d9bc6cf8736d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    20 jobs failed,    104 builds failed.
Failure stats cover 1 day time range '31 Aug 2017 14:11 UTC' to '1 Sep 2017 14:11 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| UpgradeTest | 20 |

##

[2017-09-01 18:10] cblecker opened #51815 "cross-build: PR 51357 causing cross build failure"
[code]
https://github.com/kubernetes/kubernetes/pull/51357
https://k8s-testgrid.appspot.com/misc#cross-build
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/3131

---
cc: @kubernetes/sig-node-bugs @kubernetes/sig-node-test-failures @ConnorDoyle @derekwaynecarr @smarterclayton
/kind bug
/priority failing-test

[2017-09-01 18:14] dims commented on #51815
Looks like this one broke things https://github.com/kubernetes/kubernetes/commit/7c6e31617d70c4ed161d63bc1358754dcb7c2910

[2017-09-01 18:15] ConnorDoyle commented on #51815
This is already in the process of being reverted. See #51804

[2017-09-01 18:16] ConnorDoyle commented on #51815
/assign

[2017-09-01 18:17] dims commented on #51815
/sig windows

[2017-09-01 18:17] yujuhong commented on #43783
Moving this to the next milestone.

[2017-09-01 18:18] bgrant0607 commented on #8830
kind/cleanup

[2017-09-01 18:18] msau42 commented on #43640
/kind feature
/priority important-soon

[2017-09-01 18:19] msau42 commented on #43504
/kind feature
/priority important-soon

[2017-09-01 18:21] jingxu97 commented on #43607
'kind/feature'
 'priority/important-soon'

[2017-09-01 18:23] caesarxuchao commented on #47691
@k8s-merge-robot did you mean I should add a priority label?

[2017-09-01 18:25] ericchiang commented on #46728
Removing milestone. If someone wants to pick this up we can add it back for 1.9.

[2017-09-01 18:25] cmluciano commented on #51726
/assign

[2017-09-01 18:25] cheftako commented on #51629
1.8 code freezes today. I'll defer to @wlan0 but my guess is we aren't getting a fix that quickly. We definitely should fix it for 1.9.

[2017-09-01 18:25] kargakis commented on #41789
/kind cleanup
/priority important-longterm

[2017-09-01 18:29] #51799 closed

[2017-09-01 18:30] cmluciano commented on #48392
/close

I'm seeing green in many of these suites as well. Closing

[2017-09-01 18:30] #48392 closed

[2017-09-01 18:43] yujuhong commented on #50703
#50796 has been merged. Closing this.

[2017-09-01 18:43] #50703 closed

[2017-09-01 18:47] antoineco commented on #15050
@k8s-bot /kind bug

[2017-09-01 18:48] caseydavenport commented on #48510
/priority priority/important-soon

[2017-09-01 18:49] ericchiang commented on #50793
@ironcladlou we've tracked the log issue down to a possible scp mis-configuration https://github.com/kubernetes/test-infra/issues/4323

Will update this issue once that's fixed. cc @mbohlool

[2017-09-01 18:49] antoineco commented on #15050
@k8s-bot /priority important-longterm

[2017-09-01 18:50] antoineco commented on #15050
@k8s-merge-robot
/kind bug
/priority important-longterm

[2017-09-01 18:51] antoineco commented on #15077
@k8s-merge-robot
/kind bug
/priority important-longterm

[2017-09-01 18:51] msau42 commented on #51717
/priority critical-urgent

[2017-09-01 18:52] danwinship commented on #50604
/kind cleanup
/priority important-soon

(I'm guessing on those, feel free to override)

[2017-09-01 18:53] antoineco commented on #15077
@k8s-merge-robot
/remove-priority important-longterm

[2017-09-01 18:54] msau42 commented on #51431
/cc @kubernetes/sig-storage-bugs

[2017-09-01 18:58] mml commented on #49947
OK.  I see how API machinery is involved.  Thanks.

Long term, I think we'd like more sophisticated server-side rate limiting, and we would want a high rate limit specifically for coordinating operations like leader election that, if they block, cause the whole system to fail to make progress.  I would like to see us file a bug to figure that problem out long-term.

Short-term, @lichuqiang, have y

[2017-09-01 18:58] BaluDontu commented on #50944
priority/critical-urgent

[2017-09-01 19:03] mml opened #51817 "Different rate limits for control plane coordination"
Pulled out from #49947.

Cluster components use the apiserver to effect changes in the cluster, but also to coordinate with each other (e.g., the scheduler uses it to do leader election).  If we want to support this long term, we need to provide a more reliable channel for these messages, so that the system doesn't stop making progress just because of a lost lease when there is a big backlog of wo

[2017-09-01 19:03] mml commented on #49947
/sig api-machinery

See #51817 for the long-term issue.

[2017-09-01 19:12] tallclair commented on #51746
Agree with @feiskyer . The `runtime/default` is explicitly not defined at the Kubernetes level (hence the `runtime` prefix). For docker / containerd, this should be the docker-default profile. For everything else, it's up to the authors. As part of AppArmor graduating out of beta, we may want to consider defining a `kubernetes/default` profile (which would probably be identical to `docker-default`

[2017-09-01 19:20] caseydavenport commented on #48510
/label priority/important-soon

[2017-09-01 19:22] cmluciano commented on #14204
@ixdy I think we can keep this open to work on post-freeze.

[2017-09-01 19:25] cmluciano commented on #50604
xref: #51673

[2017-09-01 19:26] ixdy commented on #14204
given that this has no owner, I'm removing it from the milestone.

[2017-09-01 19:30] msau42 commented on #50944
/priority critical-urgent

[2017-09-01 19:41] jingxu97 commented on #49818
As explained above, we now only support on ephemeral storage type. So close this issue

[2017-09-01 19:41] #49818 closed

[2017-09-01 19:42] BaluDontu commented on #50944
Closing this issue.

[2017-09-01 19:42] #50944 closed

[2017-09-01 19:43] caesarxuchao commented on #50604
Also please add the networking group to the hack/test-update-storage-objects.sh (https://github.com/kubernetes/kubernetes/pull/50327#discussion_r133102601).

@danwinship could you please ping me when you have the PR? I'm curious to learn where to change the storage versions today.

[2017-09-01 19:50] cmluciano commented on #48391
/assign
/close

seeing green again

[2017-09-01 19:50] #48391 closed

[2017-09-01 20:15] lavalamp opened #51820 "Rethink quota system"
Problems with current quota system:
* #51476 - invalid objects still consume quota
* #51749 - uninitialized objects still consume quota
* no way for user-supplied apis to interact with the quota system
* replenishment is slow
* doesn't track object size (unless this has been fixed?)

I'd like to see a quota system that:
* Can track user-defined quotas for aggregated APIs
* Can track/prevent uninit

[2017-09-01 20:19] lavalamp opened #51821 "updates to uninitialized objects should fail the initialization instead of returning a failure code"
In #51749, I said:

@liggitt said:

Filing an issue for more discussion.

[2017-09-01 20:33] lenguyen89 commented on #50522
@wongma7
Thanks for the speedy reply!
My pvc now give me this error

`2017-09-01 03:12:51.423305 7fc61c9d6700  0 -- 10.12.1.1:0/1007848 >> 10.12.1.14:6789/0 pipe(0x7fc61400fb30 sd=4 :36134 s=1 pgs=0 cs=0 l=1 c=0x7fc61400a070).fault
2017-09-01 03:12:51.424179 7fc61c9d6700  0 -- 10.12.1.1:0/1007848 >> 10.12.1.14:6789/0 pipe(0x7fc61400fb30 sd=3 :36136 s=1 pgs=0 cs=0 l=1 c=0x7fc61400a070).connect prot

[2017-09-01 20:38] verult commented on #51717
It seems like even if the generated file is broken up by newlines, grep could still use on the order of hundreds of MB of memory for a 100MiB file (even with the -m1 and -F options).

We could check the file line by line, but it would take a long time.

A better solution would be to check the MD5 file hash. It's fast and uses little memory. The expected hashes will be hard-coded into the test, and

[2017-09-01 20:40] thedch commented on #51641
/sig scalability

[2017-09-01 20:45] mengqiy opened #51822 "Vendor kube-openapi change back to main repo"
vendor the code in https://github.com/kubernetes/kube-openapi/pull/10 back to main repo.

[2017-09-01 20:45] mengqiy commented on #51822
/assign

[2017-09-01 20:47] mikebrow commented on #51746
And if we had one how would you point the runtime to that profile or would you simply specify it in a doc somewhere and the runtimes would have to generate it? I sort of figured if it's not runtime/default, or localhost/profilename that it would be a path to a profile that's been configured for the container. But at the moment it's invalid of not runtime/default or localhost/profile, right?

[2017-09-01 20:50] mengqiy opened #51823 "Cleanup openapi pkg"
Addresses the comments left in https://github.com/kubernetes/kubernetes/pull/51762, including:
- add UT for gvk.go
- tweak the signature and interface a bit to make it better.

[2017-09-01 20:51] mengqiy commented on #51823
/assign

[2017-09-01 20:54] apelisse commented on #51823
Also, you mentionned in a private discussion that we should maybe split the `Definition` and I wasn't too sure at that time what the reason was, but I now agree :-)

We should have:
[code]

[2017-09-01 20:59] tallclair commented on #51746
The way apparmor currently works, the runtime expects the profile to already be loaded (in the kernel), and just takes a name that references it. If we had a Kubernetes default profile, I would expect the Kubelet to load the profile, and pass the name to the runtime.

[2017-09-01 21:01] thockin commented on #45438
If you access the node port on /, do you get a 200 ?

On Fri, Sep 1, 2017 at 4:56 AM, Juan Luis Rosa Ramos <
notifications@github.com> wrote:

[2017-09-01 21:16] smarterclayton opened #51825 "Duplicate Kubernetes watch caches, also some caches should be considered disabled by default"
More discussion here https://github.com/openshift/origin/issues/16112

We've observed in most normal clusters the watch cache is only effective on some resources, and on dense clusters it is unnecessary on most resources.  For our density SLO we may actually prefer to waste less memory on the masters on the watch cache except for certain high `N x C x W` resources ([N]umber of resources, number of

[2017-09-01 21:16] smarterclayton commented on #51825
@kubernetes/sig-scalability-bugs

[2017-09-01 21:17] bowei opened #51826 "Add IPAM controller for synchronizing node pod CIDR range allocations between the cluster and the cloud (alpha GCP feature)"
(ALPHA GCP FEATURE)

IPAM controller unifies handling of node pod CIDR range allocation.
It is intended to supersede the logic that is currently in range_allocator
and cloud_cidr_allocator.

Note: for this change, the other allocators still exist and the defaults have not been changed.

It supports two modes:
* CIDR range allocations done within the cluster that are then propagated out to the clou

[2017-09-01 21:17] bowei commented on #51826
/sig network

[2017-09-01 21:22] liggitt commented on #51820
cc @kubernetes/sig-api-machinery-feature-requests

[2017-09-01 21:34] xiangpengzhao commented on #51695
@MrHohn thanks!

[2017-09-01 21:35] verb commented on #48937
/priority critical-urgent

[2017-09-01 21:45] luxas commented on #42926
@imkin as that version is not load/scale/e2e tested, the k8s team can't promise that that version works in all cases. It _should_ and will _probably_ work, but no guarantees.

If you want to see that being supported in v1.9, feel free to help the node team perform that validation ;)

[2017-09-01 21:50] lavalamp opened #51830 "User apiserver sidecar [brainstorming]"
Basic problem:

You are tasked with upgrading ExampleCorp's cluster from Kubernetes 1.12 to 1.13. ExampleCorp runs 50 different user apiservers from 50 different companies/vendors, and not all of them have published versions for 1.13. 1.13 fixes some critical bugs in the admission control stack.

Claim: **Any feature of the generic apiserver library that doesn't have to be compiled in to a user ap

[2017-09-01 21:52] ericchiang commented on #51741
@pipejakob from what I can see this test has _never_ passed for certain test suites. e.g. https://k8s-testgrid.appspot.com/release-master-blocking#gke-serial

Would it be appropriate to revert the test?

[2017-09-01 21:53] luxas commented on #51741
@ericchiang See https://github.com/kubernetes/kubernetes/pull/51758; which fixes the main problem.
I just asked to bump the priority

[2017-09-01 21:56] imkin commented on #42926
@luxas Thanks for responding :-) .
what do you mean by "version is not load/scale/e2e tested"? How did 17.03 become a load/scale/e2e tested? I am just trying to learn.
Thanks.

[2017-09-01 21:58] liggitt opened #51831 "New alpha fields in 1.8 are not cleared in API requests"
Several alpha fields introduced during the 1.8 dev cycle are not being dropped from incoming requests when the feature gates are disabled.

examples:
podSpec.Volumes[i].EmptyDir.SizeLimit
podSpec.Priority
podSpec.PriorityClassName
node.Spec.ConfigSource

This has to be rectified prior to release to avoid compatibility issues with future clients

cc @kubernetes/sig-api-machinery-bugs

[2017-09-01 21:58] luxas commented on #49900
Closing this as we decided to not do this for beta.

[2017-09-01 21:58] #49900 closed

[2017-09-01 22:00] luxas commented on #42926
@imkin by that @yguo0905 ran several tests that can be found above in https://github.com/kubernetes/kubernetes/issues/42926#issuecomment-323882758 and made the e2e environment use that docker version so we can catch possible regressions related to it

[2017-09-01 22:07] krmayankk commented on #41598
@msau42 i am happy to help once this reaches that stage

[2017-09-01 22:10] yastij commented on #50926
I'll take a look tomorrow to see if there's something left

[2017-09-01 22:15] dchen1107 opened #51832 "Upgrade cAdvisor dependency for k8s 1.8 release"
Upgrade to cAdvisor latest build / release which includes:

* Fix journalctl leak on kubelet restart
* Fix container memory rss
* Add hugepages monitoring support
* Fix incorrect CPU usage metrics with 4.7 kernel
* Add tmpfs monitoring support
* HugePage support

[2017-09-01 22:17] luxas commented on #38890
@dnardo can you please write up a proposal document or google doc for this migration in order to make this roadmap transparent to the community?

[2017-09-01 22:23] dnardo commented on #38890
This was done sometime back  and discussed on the sig-network, here is a link, it's a little out of date but the general idea is there:

https://docs.google.com/document/d/1q2TxBYROCf3um0FS0PGAZdznbZGS-h1aIJZQAs9xu-A/edit

[2017-09-01 22:24] mengqiy commented on #51823
/sig cli

[2017-09-01 22:24] luxas commented on #50986
Great, I think this is a good timeline. We need to make sure we communicate it very well though
@andrewsykim can you add this to the draft release notes in kubernetes/features please?

[2017-09-01 22:28] luxas commented on #38890
@dnardo that doc doesn't seem to be externally shared. Can you please share it with kubernetes-dev and/or the sig-network mailing lists?

[2017-09-01 22:30] kilianc commented on #51650
@DirectXMan12 I updated the first post with the the table headers as requested, I had to delete the HPAs and deploy a custom controller to fix the issue so I can't give you additional output.

This is where I get confused, and this is probably me misreading the docs, but isn't it true that a pod can go from ready to not ready because of the `readinessProbe`? I thought that was the whole point, I c

[2017-09-01 22:38] dnardo commented on #38890
It's shared with kubernetes-sig-network@googlegroups.com  are you joined to that group?

[2017-09-01 22:42] luxas commented on #38890
yes. hah, strange, now works for me. not sure why it wouldn't let me in earlier...
Thanks, will look

[2017-09-01 22:51] igorleao opened #51835 "Pods stuck on terminating"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pods stuck on terminating for a long time

**What you expected to happen**:
Pods get terminated

**How to reproduce it (as minimally and precisely as possible)**:
1. Run a deployment
2. Delete it
3. Pods are still terminating

**Anything else we need to know?**:
Kubernetes pods stuck as `Terminating` for a few hours after

[2017-09-01 22:52] cmluciano commented on #50604
Is this safe to make post freeze?

cc @thockin @caesarxuchao

[2017-09-01 22:57] mtaufen commented on #51791
Reassigning to @tallclair, who is back on Tuesday. He wrote the AppArmor stuff and should be able to debug this quickly.
/assign @tallclair

[2017-09-01 22:59] verult commented on #51612
@chakri-nelluri

[2017-09-01 22:59] igorleao commented on #51835
@kubernetes/sig-aws @kubernetes/sig-scheduling

[2017-09-01 23:02] wlan0 commented on #51629
Please punt it to 1.9.

How do we approach this @rrati? Would we add an interface in the cloudprovider for volume info?

Should this volume info interface, if we implement, pave the way for creating out-of-tree EBS/PD controllers in the future? Please advise @thockin @luxas

[2017-09-01 23:03] k8s-merge-robot opened #51836 "Failure cluster [3002fd...] failed 101 builds, 20 jobs, and 2 tests over 1 days"
### Failure cluster [3002fdd5a03b6a3ce85d](https://go.k8s.io/triage#3002fdd5a03b6a3ce85d)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    20 jobs failed,    101 builds failed.
Failure stats cover 1 day time range '31 Aug 2017 20:30 UTC' to '1 Sep 2017 20:30 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-scheduling] Sched

[2017-09-01 23:24] luxas commented on #51629
@wlan0 I think doing this in the most simple way right now is just fine; i.e. moving the imports from the generic package into an other cloud-specific package; and then passing a cloud implementation struct to the generic code taking a generic interface makes a lot of sense, and is very low-volume code-wise and risk-wise. This would remove the hard-coding we have right now

That is; move this code

[2017-09-01 23:24] rtmie commented on #38923
Can you take a look at kubelet logs on the node where the pod is instantiated, look for anything related to ceph, RBD
Also

[2017-09-01 23:29] luxas commented on #38067
Everything that could be done for v1.8 was done, the remaining part is getting GCR to support manifest lists, waiting...

[2017-09-01 23:33] #47800 closed

[2017-09-01 23:33] #51657 closed

[2017-09-01 23:34] #49423 closed

[2017-09-01 23:37] luxas opened #51841 "kubeadm v1.8 release tracking issue"
On request by @jdumars and the @kubernetes/kubernetes-release-managers, I'm creating this tracking issue for the kubernetes/kubeadm repo.

I'm tracking what we need to get done for kubeadm to be in a release-able state in this milestone: https://github.com/kubernetes/kubeadm/milestone/3

On a high level, all required PRs are lgtm'd, they will be merged in the coming days as the SQ gets to them.
Th

[2017-09-01 23:41] jdumars commented on #51841
@luxas thank you very much for helping improve coordination with kubeadm!

[2017-09-01 23:42] thockin commented on #50604
probably.  @jdumars

[2017-09-01 23:57] jdumars commented on #50604
Could you help me understand the risks associated with this going in after freeze?  I assume this is technical debt reconciliation, but would love to know more context.

[2017-09-02 00:04] #51578 closed

[2017-09-02 00:08] quinton-hoole commented on #50888
@font closing this as a dupe of #41725.  Your ref above should make sure that the context is not lost.  Thanks for your comprehensive report and suggestions.

[2017-09-02 00:08] #50888 closed

[2017-09-02 00:09] arun-gupta commented on #51578
@quinton-hoole I'll reopen the bug if the issue comes back again. Is there any thing to watch out for specifically?

[2017-09-02 00:13] quinton-hoole commented on #50817
#50815

[2017-09-02 00:17] quinton-hoole commented on #50761
#50815

[2017-09-02 00:18] caesarxuchao opened #51842 "Quota replenishment controller doesn't handle uninitialized objects"
The quota is charged when an object is created, no matter if it's initialized or not. It has two problems:

* The quota replenish controller doesn't list/watch uninitialized objects, so it misses the deletion of uninitialized objects and leaks quota.

* The quota controller does periodic resync to recalculate the quota usage. It doesn't see the uninitialized objects, and will wrongly replenish the

[2017-09-02 00:18] caesarxuchao commented on #51842
/sig api-machinery

[2017-09-02 00:19] quinton-hoole commented on #50737
#50815

[2017-09-02 00:22] quinton-hoole commented on #50735
@guangxuli Yes, it would be great if you could send a PR.  Please use sig-multicluster, our new sig name.

[2017-09-02 00:24] quinton-hoole commented on #50734
#50815

[2017-09-02 00:24] caesarxuchao opened #51843 "Initializerconfiguration and metadata.initializers have different rules for initializer name"
Fixed by #51283

[2017-09-02 00:25] quinton-hoole commented on #50718
#50815

[2017-09-02 00:25] quinton-hoole commented on #50716
#50815

[2017-09-02 00:32] quinton-hoole commented on #49639
@thecodeassassin @Krymonota a PR from you would be most welcome.

[2017-09-02 00:35] quinton-hoole commented on #49041
cc @madhusudancs

[2017-09-02 00:46] quinton-hoole commented on #46240
Added priority.  Need to fix this before Federation GA.

[2017-09-02 00:52] #45963 closed

[2017-09-02 00:55] quinton-hoole commented on #45812
@nikhiljindal @shashidharatd Can this be closed now that the above two PR's have merged?

[2017-09-02 00:58] quinton-hoole commented on #45673
@henriquetruta Is this a dupe of #46119

[2017-09-02 01:01] nicksardo opened #51846 "GCE: Cluster turn-up with a network that belongs to another project"
/kind feature
/sig network
/area platform/gce

[2017-09-02 01:02] quinton-hoole commented on #45520
There are two ways to make this better:

1. Make the federation control plane smart enough to select an unused nodeport across all clusters.
2. Until the above is in place, fail attempts to create federated services with unspecified nodeports.

I think that the workaround above is good enough for GA.

[2017-09-02 01:03] montanaflynn commented on #32273
@bprashanth can you re-open this issue? The load balancer backend timeouts default to 30s and that causes requests to fail for uploads or any API request that does a significant amount of processing. Without being able to change the timeout using the ingress is impossible for our video processing workloads.

[2017-09-02 01:06] dfang commented on #51764
thanks for your response.
no DELETE request in logs ...
let me know if you need any more details

[code]

ps: i had to press CTRL + C to stop it ...

[2017-09-02 01:09] quinton-hoole commented on #45193
Interesting.  I was completely unaware of this doc.  There is a parallel one being worked on here:

[Kubernetes Multi-cluster Spec and Status Use Cases and Potential API Approaches](https://docs.google.com/document/d/1gIiLpr4aHPHAAto3p1eQQ3Z6FJ8-i2kMnla4BfNa-z8/edit#heading=h.ce4mz1hiyhph).

Based on a cursory read they seem to be heading in approximately the same direction.  I'll try to unite the

[2017-09-02 01:10] font commented on #50888
@quinton-hoole The cleanup of the cluster role objects after hitting the first error is definitely a dupe of #41725, but there is still the original error where `kubefed join` fails to create the service account in the joining cluster.

That error was the original reason I opened this issue. Specifically, the `gcloud container clusters create` command creates your context names using underscores b

[2017-09-02 01:10] mark9white commented on #32273
@bprashanth Agree with @montanaflynn and @tsloughter that the ability to configure the health checks (which I would expect generally should respond in under 30 seconds anyway) does not address the valid need that I opened this issue for, which was to be able to support http requests of longer than 30 seconds.

[2017-09-02 01:21] dixudx commented on #49035
/kind feature
/priority important-soon

[2017-09-02 02:03] jiaxuanzhou opened #51847 "make it configurable for "ImagePullProgressDeadline""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What you expected to happen**:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/container_runtime.go#L112
add a flag to make the deadline configurable

/sig node
/area kubelet

[2017-09-02 02:09] #51847 closed

[2017-09-02 02:32] cblecker commented on #51815
Fixed by revert in #51804

[2017-09-02 02:32] #51815 closed

[2017-09-02 03:25] xiangpengzhao commented on #39188
Seems like this will not land on 1.8. We may want to remove the milestone.

cc @pwittrock @thockin

[2017-09-02 03:26] mattjmcnaughton commented on #51362
@jhorwit2, just wanted to ping you re the above comment before I get a start on this. If I don't hear back in the next couple of days, I'll go forward with my best guess and we can chat about it in the pr.

[2017-09-02 03:39] jhorwit2 commented on #51362
@mattjmcnaughton sorry, yeah that looks good.

[2017-09-02 04:02] xiangpengzhao commented on #29590
InitContainer is already GA and we will remove beta annotations. I think this issue is outdated. (Maybe @smarterclayton had already updated the proposals.) Anyway, we can close this issue.

/close

Feel free to correct me if I'm wrong.

cc @smarterclayton

[2017-09-02 04:02] #29590 closed

[2017-09-02 04:10] wenlxie commented on #51597
@jingxu97

1. Sorry for mention about the finalizer, it makes  some  confusion. Actually, if there is no finalizer, the pod will stuck at `Unknown` status too, Because  Kubelet  not report the container status and not do `delete` action.

2. If the pod belongs to an RC, controller  will create another pod , but the old pod holds the volume and then the new pod will not get the volume.
It  will blo

[2017-09-02 05:02] davecheney opened #51849 "Cannot build 1.7.5 from the source tarball"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

download 1.7.5 source tarball from the release page, place it in $GOPATH/src/k8s.io/kubernetes
[code]
**What you expected to happen**:

successful build, $GOPATH/bin/hyperkube built

**How to reproduce it (as minimally and precisely as possible)**:

See above

**Anything else we need to know?**:

**Environment**:
- Kuber

[2017-09-02 05:56] clairethebear commented on #25408
I had also gotten this error. I fixed it by adding the tag at the end of my image path. So when it was failing my deployment.yaml was the following:

containers:
   - name: kubestats
    image: gcr.io/[PROJECT-NAME]/kubestats

Then after adding:

containers:
   - name: kubestats
   image: gcr.io/[PROJECT-NAME]/kubestats:v1

The container created with no problems after that.

[2017-09-02 06:02] abitrolly opened #51850 "kubectl run --pod-running-timeout doesn't work"
**What happened**:
`kubectl run --pod-running-timeout=1m0s` doesn't wait for pods to appear not by default, not explicitly:

      --pod-running-timeout=1m0s: The length of time (like 5s, 2m, or 3h, higher than zero) to
    wait until at least one pod is running

**What you expected to happen**:
Expect it to pause until at least one pod is available.

**How to reproduce it (as minimally and precis

[2017-09-02 06:11] abitrolly commented on #51850
/sig area/kubectl

[2017-09-02 06:52] xiangpengzhao commented on #51849
Try `make hyperkube` instead. I don't think k8s components can be built by `go install`.

/sig release contributor-experience

[2017-09-02 06:53] tobad357 commented on #49480
@klausenbusk thanks for the tip.
We would of course prefer to run on a supported setup, but if it doesn't get merged into 1.8 then we will probably do as you suggest

[2017-09-02 06:54] xiangpengzhao commented on #51850
/sig cli
/area kubectl

[2017-09-02 08:04] MansoorMajeed opened #51853 "NFS volume not mounting and pods are stuck at `ContainerCreating`"
I have mounted two directories using subpath from the same pvc, like this.
[code]

When I'm trying to update a pod, it is stuck at `containercreating` status
[code]

[2017-09-02 09:26] #51853 closed

[2017-09-02 12:15] Steffen911 opened #51855 "Issue with kubectl autoscale example"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Example states that target CPU utilization is specified, but it is not.
[code]

**What you expected to happen**:
Update the docs to say that no target CPU utilization is specified so a default autoscaling policy will be used.

**How to reproduce it (as minimally and precisely as possible)**:
Run `kubectl autoscale --help`

[2017-09-02 12:17] Steffen911 commented on #51855
/sig docs

[2017-09-02 12:22] Steffen911 commented on #51855
I can also provide a PR to change this if this if it is wanted, but I do not know if I can update all translations.

[2017-09-02 14:19] shyamjvs opened #51856 "[SQ-blocking] Kubemark failing to start hollow-kubelet"
Seems like kubelet changes breaking kubemark yet again. We've started seeing this at ~16:30 PST yesterday:
https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-kubemark-e2e-gce

cc @jdumars @k8s-oncall @kubernetes/sig-release-members

[2017-09-02 14:24] shyamjvs commented on #51856
I'm looking at the [diff](https://github.com/kubernetes/kubernetes/compare/44c518218...73326ef01) when our 100-node kubemark CI job (https://k8s-testgrid.appspot.com/sig-scalability#kubemark-100) started failing.

There are 5 PRs, 2 of them are trivial ones and two other seem unrelated. It's almost surely this one:
#51307 Remove deprecated and experimental fields from KubeletConfiguration

cc @mta

[2017-09-02 14:27] zjj2wry commented on #29679
@pwittrock @mengqiy i want to implement this feature to replace --list option. do you have bandwidth help review?

[2017-09-02 14:29] shyamjvs commented on #51856
Fortunately, this time we have hollow-node logs directly available with my PR https://github.com/kubernetes/kubernetes/pull/51834 getting merged.
From one of the hollow-kubelet [logs](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/51848/pull-kubernetes-kubemark-e2e-gce/50160/artifacts/e2e-50160-minion-group-vssd/kubelet-hollow-node-27nmr.log):

[code]

It's continuously crashing an

[2017-09-02 14:31] dfang commented on #51764
feedback:

i updated kubernetes-cli to 1.7.5(`brew update; brew install kubernetes-cli`),

[code]
all is well ( deployment can create pod and i can delete it, the tiller version is 2.6.1 now)

what i don't understand is  the results for `kubectl version`:

[code]

the GitVersion in Server Version is v1.7.0,  is it rollbacked ?

thanks !

[2017-09-02 14:33] resouer opened #51858 "[kubelet] --node-labels does not work in kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

The kubelet is started with `--node-labels=--node-labels=beta.kubernetes.io/foo=bar` :

[code]

But there's no label added to kubelet:

[code]

**What you expected to happen**:

`beta.kubernetes.io/foo=bar` should present in node labels.

**How to reproduce it (as minimally and precisely as possible)**:

Start kubelet w

[2017-09-02 14:34] resouer commented on #51858
@Random-Liu I'm not sure it's my only problem yet, but I can re-produce it in all my clusters. cc @feiskyer

[2017-09-02 14:45] shyamjvs commented on #51856
It's a shame that kubemark presubmit failed to catch the bug thrice now - sorry about it.
However, with https://github.com/kubernetes/test-infra/issues/4321 fixed, the hollow-node logs are getting collected again and it should now tell us what's going wrong.

[2017-09-02 14:45] resouer commented on #51858
xref: kubelet ignores some other flags: https://github.com/kubernetes/kubernetes/issues/51275

[2017-09-02 14:59] resouer commented on #35414
After read thru this thread, I'm afraid the complexity of this design concerns me more than it's performance benefits ... I agree with @timothysc that improvement of image itself make more sense to me.

[2017-09-02 15:00] resouer commented on #41895
@timothysc Any update to follow up here since next discussion? Do we want this feature?

[2017-09-02 15:09] resouer commented on #51241
I will take a look at this, seems to be a bug.

[2017-09-02 15:13] jdumars commented on #51856
/sig node

[2017-09-02 15:20] #51563 closed

[2017-09-02 15:20] jdumars commented on #51856
@shyamjvs could you elaborate on what, specifically, in kubernetes/kubernetes#51307 is causing the problem?

[2017-09-02 15:21] dixudx commented on #51850
@abitrolly `pod-running-timeout` should be used together with `attach`. Here you just specify `pod-running-timeout`.

Without `attach`, `pod-running-timeout` will be ignored.

[2017-09-02 15:43] smarterclayton commented on #41895
We still want this.  This is an abuse point.

On Sat, Sep 2, 2017 at 11:01 AM, Harry Zhang <notifications@github.com>
wrote:

[2017-09-02 16:03] resouer commented on #51241
This is not bug, this is a know issue and has TODO in https://github.com/kubernetes/kubernetes/blob/886e04f1fffbb04faf8a9f9ee141143b2684ae68/pkg/volume/downwardapi/downwardapi.go#L237

[2017-09-02 16:07] shyamjvs commented on #51856
Discussion about that happening under the revert pr.

[2017-09-02 16:30] abitrolly commented on #51850
I've seen that `waitForPodRunning` is only called from attach command https://github.com/kubernetes/kubernetes/blob/55cb667b9ec975664609e736f49713ee24419b81/pkg/kubectl/cmd/run.go#L457 but my user journey is that I want to do a few queries after running deployment. The key is already there, so why not to reuse it?

[2017-09-02 16:37] abitrolly commented on #51850
I can issue a separate command to wait until `pods` are up - is there any?

[2017-09-02 16:44] bsalamat commented on #41895
[We are thinking](https://github.com/kubernetes/kubernetes/issues/51732) about creating a generic resource type good enough to support accounting of "Extended Resources", OIRs, and "Huge Pages", perhaps even other existing resources (memory, cpu, gpu).
With the help of such new resource type, the number of containers can be represented as a scalar resource (no fractional or overcommitment is allow

[2017-09-02 17:15] #51856 closed

[2017-09-02 17:23] liggitt commented on #51858
Was the node previously started and registered? I think --node-labels only applies to the initial node registration

[2017-09-02 18:12] #41789 closed

[2017-09-02 18:12] #48626 closed

[2017-09-02 18:26] vishh commented on #41895
@bsalamat With that model we may need an admission plugin that will inject "container" resource requests based on number of containers in a pod. In general I agree it's better to introduce the extensible pipeline rather than introducing another explicit resource.

[2017-09-02 19:33] bsalamat commented on #41895
@vishh I like the idea an admission controller for injecting "containers" to resource requests. If for some reason there is any objections, a library that returns a resource request based on the containers in a pod can be used, but I like the former approach (your suggestion) better.

[2017-09-02 20:12] mikedanese opened #51862 "Proposal: support unequivocal DENY in union authorizer"
Problem: GKE wants to take advantage of componentconfig for kubelet, monitoring, kube-dns config deployment. We need a way to protect these resources from user error to maintain our SLA. In our current permission model, we allow users to grant themselves system:cluster-admin ("\*/\*/\*") and moving away from this model would be difficult. A solution would be to support unequivocal DENY form an aut

[2017-09-02 20:55] #51741 closed

[2017-09-02 21:05] shyamjvs commented on #51856
I reverted the revert PR (https://github.com/kubernetes/kubernetes/pull/51859) and the kubemark presubmit passed (as before). And from the hollow-node logs here's what seems to have happened:

- The test creates 5 hollow-nodes (on a single-node base cluster)
- All the 5 hollow-nodes were failing to start their hollow-kubelets and crashlooping due to receiving an empty value for the remote runtime

[2017-09-02 21:13] shyamjvs commented on #51856
3 things to do here:
- Set the RemoteServiceEndpoint in kubemark to the unix docker socket (@mtaufen)
- Change the kubemark presubmit (probably increase the no. of pods created and maybe also the no. of nodes and hollow-nodes) to catch such cases (I'll make the change)
- Understand what the hell happened in that magical hollow-node

[2017-09-02 21:44] shyamjvs commented on #51856
There are also a couple of other [checks](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scalability/empty.go#L37-L38) in the test that this failure smartly dodged - ones where we check that all nodes are schedulable and healthy. But here kubelets never even registered with the apiserver (except that magical one which did later) in order to be covered by those checks.

[2017-09-02 22:07] shyamjvs commented on #51856
I'll continue looking on monday.

[2017-09-02 23:00] smarterclayton commented on #51862
We've traditionally said no to deny rules because they complicate the model.

Are there any other alternative solutions considered?  Admission?

On Sep 2, 2017, at 4:12 PM, Mike Danese <notifications@github.com> wrote:

Problem: GKE wants to take advantage of componentconfig for kubelet,
monitoring, kube-dns config deployment. We need a way to protect these
resources from user error to maintain ou

[2017-09-02 23:06] #50469 closed

[2017-09-03 00:55] mkumatag commented on #43854
@kargakis this issue can be closed as we don't have any plan of supporting kubernetes on ppc64 BIG ENDIAN.

[2017-09-03 00:58] mkumatag commented on #25730
@luxas, @ixdy... All of the mentioned prereqs are met, now can you please let me know how can we proceed further to get ppc64le platform into CI setup to run conformance tests continuously?

[2017-09-03 01:18] #27997 closed

[2017-09-03 01:18] #30243 closed

[2017-09-03 02:33] cblecker opened #51863 "cross-build: PR 51209 causing cross build failure"
[code]
https://github.com/kubernetes/kubernetes/pull/51209
https://k8s-testgrid.appspot.com/misc#cross-build
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/3141

---
cc: @kubernetes/sig-node-bugs @kubernetes/sig-node-test-failures @dchen1107 @jiayingz @vishh
/kind bug
/priority failing-test

[2017-09-03 02:49] dixudx commented on #51850
@abitrolly Did not understand what you really mean. This seems has nothing to do with `timeout`. You can still perform your queries.

You can combine `kubectl run` and `kubectl get -w pod xyz`.

[2017-09-03 02:54] resouer commented on #51858
@liggitt Oh, yes, I did not notice the label is added after register.

[2017-09-03 02:54] #51858 closed

[2017-09-03 03:00] resouer commented on #28051
I've confirmed this has been fixed #46254

[2017-09-03 03:00] #28051 closed

[2017-09-03 03:00] resouer commented on #43678
Should have been fixed in #46254

[2017-09-03 03:00] #43678 closed

[2017-09-03 03:00] resouer commented on #38988
Should have been fixed in #46254

[2017-09-03 03:00] #38988 closed

[2017-09-03 03:01] resouer commented on #51293
@kubernetes/sig-node-bugs

[2017-09-03 03:14] #51521 closed

[2017-09-03 03:35] #51843 closed

[2017-09-03 03:35] #51826 closed

[2017-09-03 03:35] #51774 closed

[2017-09-03 03:51] cmluciano commented on #51836
/sig scheduling

[2017-09-03 05:11] jiayingz commented on #51863
Thanks a lot for reporting this! I think I have a fix PR 51864 for this issue. Or should we roll PR #51209 back?

[2017-09-03 05:16] cblecker commented on #51863
@jiayingz I've kicked off testing of your PR. If it fixes the cross build, then that may be the easier path than reverting.

cc: @dchen1107 @derekwaynecarr (sig-node leads)

[2017-09-03 05:24] ConnorDoyle commented on #51863
I also fixed it in https://github.com/kubernetes/kubernetes/pull/51180 since it also touches the imports in that file. Would love to not rebase it yet again for this.

[2017-09-03 05:49] cblecker commented on #51863
That call would be up to @dchen1107 or @derekwaynecarr.. they would have to determine which approach they prefer (fix on it's own in a small PR, or fix as part of a larger PR to prevent rebase).

[2017-09-03 05:52] #49911 closed

[2017-09-03 05:52] #51003 closed

[2017-09-03 05:52] #50935 closed

[2017-09-03 06:27] ConnorDoyle commented on #51863
Smaller is probably better; that way if the combined one needs to be reverted it doesn't re-break cross as a result. Will rebase if necessary (will depend on queue order.)

[2017-09-03 06:50] #49035 closed

[2017-09-03 06:50] #44686 closed

[2017-09-03 07:03] #43854 closed

[2017-09-03 08:07] #46689 closed

[2017-09-03 08:12] #50601 closed

[2017-09-03 08:12] #47715 closed

[2017-09-03 08:12] #49145 closed

[2017-09-03 08:19] luxas commented on #50926
Let's see which providers are left before closing this...

[2017-09-03 08:21] feiskyer commented on #44118
Not completed yet, move to v1.9.

[2017-09-03 08:29] luxas commented on #40248
@ixdy @timstclair I feel that lots of improvements have been made during the recent cycle.
Is it good enough to close or?

[2017-09-03 08:39] luxas commented on #25730
@mkumatag set up [federated testing](https://github.com/kubernetes/test-infra/blob/master/docs/federated_testing.md) from your clusters

[2017-09-03 09:09] m1093782566 commented on #51694
Thanks for your informatin, @choury

Personally, I don't think checking the "output message" is safe enough. For example, the English output message may don't work in Chinese, Russian, Latin etc. environment.

[2017-09-03 09:23] m1093782566 opened #51866 "Should support IPV6 for IPVS"
We are working migrating ipv4 to ipv6, we should support ipv6 for IPVS. We should do the following things:

* remove ipv4 constraints of Node IPs(#52935)

* remove ipv4 in pkg/util/ipvs(#53120)

* use ipv6 conntrack tools

* use ipv6 iptables tools

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig network
/assign @m1093782566
/cc @danehans

[2017-09-03 09:23] discordianfish commented on #48396
I really don't know what to do about this problem:

- I recovered by simply redeploying the exporters
- I only realized the problem because it affected prometheus exporters and them not being reachable was obvious
- If this would have affected other services it could have lead to catastrophic failure

The last point is why I would sleep better at night if we could get to the core of it. But I unde

[2017-09-03 09:37] rgolangh commented on #33714
@vinayk06 deploying using yaml so it should be the lowest, besides 'run' that you can get. What happens when you `kubectl run`?

[2017-09-03 09:50] resouer commented on #51241
The main blocker I can think of is that we have no sync between volume reconciliation (in volume controller) and kubelet `syncPod`. So during downwardAPI setup, we have no easy way to get info  about the pod status (e.g. pod IP).

But I doubt if that worth fix since ENV has already exported enough information. I even doubt if we should keep downwardAPI volume in the future.

@saad-ali  WDYT?

@jam

[2017-09-03 10:25] feiskyer commented on #51293
Confirmed a bug introduced in dockershim. Will file a PR to fix this.

[2017-09-03 11:54] crassirostris commented on #51700
Hah! We need to set up a filter to separate one test running in the same project from another since there's no resource for the K8s node

I'll look into it

[2017-09-03 11:56] crassirostris commented on #51700
/cc @igorpeshansky @summit

Would really appreciate your help here

[2017-09-03 12:40] NickrenREN commented on #43607
/kind feature
/priority important-soon

[2017-09-03 13:05] mashayev commented on #50245
@jsravn Thanks for the help, but our issues are different, all my instances are being tagged with `KubernetesCluster` also in my case when restarting `kubelet` in the node it fixes the issue immediately.

I suppose the issue is with etcd, but I'm not sure how to prove it.

[2017-09-03 13:15] igorpeshansky commented on #51700
@crassirostris Would filtering by cluster name work?

[2017-09-03 13:22] crassirostris commented on #51700
@igorpeshansky problem is, docker and kubelet logs are written against the gce vm resource. There are two options: remove that filter and let all the logs flow, or make a prefix filter on the vm name

[2017-09-03 13:29] igorpeshansky commented on #51700
@crassirostris Ah, then can GCE labels or tags be used?

[2017-09-03 13:54] #50011 closed

[2017-09-03 13:54] #50863 closed

[2017-09-03 14:34] crassirostris commented on #51700
@igorpeshansky There's `compute.googleapis.com/resource_name` label, but the more I think about it, the less I like the idea. I'll just remove the filter, that shouldn't be a problem in this case, since vm ids are used for checking the logs presence anyway. Thanks for chiming in!

[2017-09-03 14:40] resouer commented on #51835
Usually volume and network cleanup consume more time in termination. Can you find in which phase your pod is stuck? Volume cleanup for example?

[2017-09-03 14:43] resouer commented on #51793
@daurnimator  I guess it would be easy to use [flexvolume](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/flexvolume) to implement your own  Vultr plugin. Make sense to you?

We are avoiding introducing any in-tree volume plugin and proposed CSI already.

[2017-09-03 14:45] pehlert commented on #48923
I just had this same issue and it took me quite a while to figure it out.. The command that solved it for me was: `iptables -P FORWARD ACCEPT`.. Is this a bug in the kubeadm setup (or specific to Ubuntu?)?

[2017-09-03 14:49] daurnimator commented on #51793
What is CSI?

Will the existing cloud provider ones be moved out?

[2017-09-03 14:49] resouer commented on #51788
I will try to reproduce it and take deep look to see if it's a bug.

[2017-09-03 14:56] resouer commented on #51793
@daurnimator See: https://github.com/container-storage-interface/spec

But it's long term effort and can not solve your current problem.

Flexvolume is what I suggest.

[2017-09-03 14:59] feiskyer commented on #51293
@alena1108 Could you also verify whether #51870 fixed your problem?

[2017-09-03 15:01] dixudx commented on #51835
Correct. They are always suspect.

@igorleao You can try `kubectl delete pod xxx --now` as well.

[2017-09-03 15:31] resouer commented on #51788
BTW, @dohnto what's the content in your `--admission-control-config-file` file? Is it like this?
[code]

[2017-09-03 15:33] #29271 closed

[2017-09-03 15:46] #50408 closed

[2017-09-03 18:10] #51147 closed

[2017-09-03 18:14] smarterclayton commented on #50148
I agree with Dan.  We in general want alternate "faces" of an object where
1:1 is identical to use the same object meta.  But if there is any chance
that they diverge, then references apply (i.e. object X is not object Y,
and therefore X references Y via some field).

On Sun, Sep 3, 2017 at 4:16 AM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2017-09-03 18:35] crassirostris commented on #42718
@DanyC97 No, sorry, got preempted by upcoming tasks, didn't have the capacity :( I don't have the ETA currently

[2017-09-03 19:34] andrewsykim commented on #50986
Looks like you beat me to it 😛, gave it a review.

[2017-09-03 20:30] chen-anders commented on #48924
I just downloaded `hyperkube` off of 1.7.5 for linux-amd64 and this issue persists via `hyperkube kubectl`. Things aren't a problem when one uses the `kubectl` binary.

[2017-09-03 20:35] abitrolly commented on #51850
I am doing:

    kubectl run depone --image=nginx --port=80
    POD_NAME=$(kubectl get pods -o go-template --template '{{range .items}}{{.metadata.name}}{{"\n"}}{{end}}')

And POD_NAME is empty, because pods didn't start yet.

1. I don't know the name of the pod yet
2. If the pod still managed to start, (-w)atching it for changes will just hang, right?

[2017-09-03 21:17] drneo-mehdi opened #51878 "error in running hyperkube on ubuntu"
hi
i got this error when i try to run kubernetes api-master container with hyperkube

my docker version is 1.12.6, build 78d1802  on ubuntu 16.04
i try to run kubernetes 1.7.5

my command
`docker run -d --net=host gcr.io/google-containers/hyperkube:v1.7.5 /hyperkube apiserver --bind-address=172.16.2.14 --service-cluster-ip-range=172.16.85.0/24 --etcd-servers=http://127.0.0.1:4001 --allow-privilege

[2017-09-03 22:00] #51596 closed

[2017-09-03 22:00] #51499 closed

[2017-09-03 22:01] rmxhaha opened #51879 "Service Load Balancing with Load Information from worker"
I am computer science student researching topics for my final year project. I have been given a general direction to look for improving load balancing strategy using load information. I am now in the process of researching the topics and looking for open source project requiring this kind of improvement.

I cannot give performance number for why this should be done but looking at [this paper](http

[2017-09-03 22:09] rmxhaha commented on #51879
/sig networking

[2017-09-03 22:46] #51879 closed

[2017-09-03 22:47] rmxhaha opened #51880 "Service Load Balancing with Load Information from worker"
I am computer science student researching topics for my final year project. I have been given a general direction to look for improving load balancing strategy using load information. I am now in the process of researching the topics and looking for open source project requiring this kind of improvement.

I cannot give performance number for why this should be done but looking at this paper on the

[2017-09-03 22:54] #51831 closed

[2017-09-03 23:28] gwind opened #51881 "The Pod-To-Pod network does not work when deploy flanneld with DaemonSet in kubernetes 1.7.5"
The Pod-To-Pod network does not work when deploy flanneld with DaemonSet in kubernetes 1.7.5

ref:

- [Creating a Custom Cluster from Scratch](https://kubernetes.io/docs/getting-started-guides/scratch/)
- [Battlefield: Calico, Flannel, Weave and Docker Overlay Network](http://chunqi.li/2015/11/15/Battlefield-Calico-Flannel-Weave-and-Docker-Overlay-Network/)
- https://github.com/kubernetes/dashboar

[2017-09-03 23:34] k82cn commented on #51881
/sig network

[2017-09-04 00:09] erictune commented on #51862
RBAC does not have deny rules because results can be surprising.  Particularly when there are many allow and deny rules.  This is an opinion that RBAC has about how to do authorization.

We also have a webhook authorizer which can hook out to some other authorization system.  That other system might support deny (like [XACML does](https://www.axiomatics.com/blog/understanding-xacml-combining-algor

[2017-09-04 00:35] #41004 closed

[2017-09-04 00:35] #50655 closed

[2017-09-04 00:46] erkules opened #51882 "--kubeproxy flag is not honored"
/kind bug
/sig cli

**What happened**:
--kubeproxy is not honored

**What you expected to happen**:

the configfile defined by --kubeproxy to be used

**How to reproduce it (as minimally and precisely as possible)**:

Using following Config:

`# cat controller.yml
apiVersion: v1
kind: Config
clusters:
- cluster:
    server: https://10.30.10.1:443
    certificate-authority: /etc/kubernetes/ssl/ca.p

[2017-09-04 00:48] guangxuli commented on #50735
@quinton-hoole ok, i will do that.

[2017-09-04 00:59] erkules commented on #51882
/sig cli

[2017-09-04 01:37] m1093782566 commented on #51679
need to rsync the following commit:

2856fde
758c966
c0c41aa
05ffccc
37a6989

[2017-09-04 02:06] cblecker commented on #50954
/close

[2017-09-04 02:06] #50954 closed

[2017-09-04 02:07] cblecker commented on #51878
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-09-04 02:07] #51878 closed

[2017-09-04 02:12] cblecker commented on #51789
/kind support
/close

[2017-09-04 02:12] #51789 closed

[2017-09-04 02:12] cblecker commented on #51772
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-09-04 02:12] #51772 closed

[2017-09-04 02:12] cblecker commented on #51822
/sig api-machinery

[2017-09-04 02:13] cblecker commented on #51481
/sig testing

[2017-09-04 02:16] kylefransham commented on #44103
A workaround for this issue:

You can use [initContainers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers) to start a container that contains kubectl that dynamically labels the pod with the hostname. Then you can define services that use your selector.

For example, a statefulset with an init container looks like:

[code]

and the service to target the individual pods in the s

[2017-09-04 02:20] cblecker commented on #51443
/sig api-machinery

[2017-09-04 02:22] BenTheElder commented on #51481
This is fixed.
/close

[2017-09-04 02:22] #51481 closed

[2017-09-04 02:27] cblecker commented on #51164
As this doesn't appear to be a bug, I'm going to close this issue per our support policy. Feel free to continue to debug here or check out our Stack Overflow page for more support.

---
/kind support
/close

[2017-09-04 02:27] #51164 closed

[2017-09-04 02:28] cblecker commented on #51333
/sig node

[2017-09-04 02:31] cblecker commented on #50962
This is intentional, as @jianzhangbjz noted. I think a [cron job](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/) may be better suited for you.

---
/kind support
/close

[2017-09-04 02:31] #50962 closed

[2017-09-04 02:32] cblecker commented on #50928
/sig network node

[2017-09-04 02:33] cblecker commented on #50930
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-09-04 02:33] #50930 closed

[2017-09-04 02:34] cblecker commented on #50979
/sig cli
/kind feature

[2017-09-04 02:37] cblecker commented on #51704
/sig node api-machinery

[2017-09-04 02:38] cblecker commented on #51731
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-09-04 02:38] #51731 closed

[2017-09-04 02:39] cblecker commented on #51769
You likely haven't satisfied the [prerequisites](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#prerequisites).
---
/kind support
/close

[2017-09-04 02:39] #51769 closed

[2017-09-04 02:41] cblecker commented on #51701
/sig network
/area platform/gce

[2017-09-04 02:42] cblecker commented on #51624
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-09-04 02:42] #51624 closed

[2017-09-04 02:45] cblecker commented on #50915
/sig aws

[2017-09-04 02:47] cblecker commented on #51284
/sig network
/area platform/gce

[2017-09-04 02:48] cblecker commented on #51756
/sig api-machinery

[2017-09-04 02:49] cblecker commented on #51753
/sig node

[2017-09-04 02:50] cblecker commented on #51738
/sig api-machinery

[2017-09-04 02:53] cblecker commented on #51592
/sig node

[2017-09-04 02:53] resouer commented on #51788
@dohnto I tried some case and can't reproduce this issue.

Did you enable `PodNodeSelector` in you cluster? i.e. adding `--admission-control=PodNodeSelector,...`  to kube-apiserver configure.

[2017-09-04 03:31] BruceShenC commented on #8305
how about run docker system prune?

[2017-09-04 04:07] gyliu513 opened #51883 "`InitializerConfiguration` will impact deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

1) Enable `Initializers` admission plugin.

[code]

You can see I was enabling both `Initializers` for `--admission-control` and `admissionregistration.k8s.io/v1alpha1` for `--runtime-config`

2) Create an InitializerConfiguration
[code]

[code]

3) Create an deployment
[code]

[code]

Creation failed.

4) Create again,

[2017-09-04 04:31] #32536 closed

[2017-09-04 04:32] #51863 closed

[2017-09-04 04:37] gyliu513 commented on #51883
We have some document here claiming follows here https://kubernetes.io/docs/admin/extensible-admission-controllers/#configure-initializers-on-the-fly

But it would be great if we can also provide some logs which can help troubleshooting if user create the `initializerConfiguration` before `initializers`.

[2017-09-04 05:31] dohnto commented on #51788
@resouer Yes, I have passed the argument ```--admission-control=PodNodeSelector```, but not ```--admission-control-config-file`.

So you cannot reproduce it from the minimal use-case using minikube I have provided? That is very strange, what version of minikube/kubernetes do you use?