[2017-03-16 17:24] jbeda commented on #43014
@feiskyer I'll give that a try later today.  But why does it require write?  And is it write to the node or for the pod?  I hesitate to just do '*' here.

[2017-03-16 17:27] caesarxuchao commented on #43147
Looks like it fail at https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/graph_builder.go#L166. GC doesn't support tpr anyway, so I'll let the GC print a warning instead of failing to start.

[2017-03-16 17:28] vishh commented on #42831
Why is it a regression? Why can't the field be empty if the node cannot
populate it? The behavior would be the same for any node level features
(new fields in pod status for example)

On Thu, Mar 16, 2017 at 10:17 AM, Derek Carr <notifications@github.com>
wrote:

[2017-03-16 17:30] aaronlevy commented on #43014
I turned off RBAC completely to try and validate this, but I'm still getting errors:

[code]

Tried playing with CNI Version as well, but no luck (0.2.0 suggested, then tried 0.3.0 based on the links above).

I'm launching cluster using bootkube & v1.6.0+beta.3 (can provide repo-steps but a little more involved)

[2017-03-16 17:32] lavalamp commented on #34508
@bgrant0607 I'm pretty cynical about our ability to actually "not break it", in which case I think this option turns into "eventually, make a new api version".

[2017-03-16 17:33] bowei commented on #37259
@foxish -- can we take this off of the 1.6 release now? It seems to be a test setup issue

[2017-03-16 17:35] deads2k commented on #43227
We provide the group field to provide this kind of information.  I'm not sure I would expect my request to the server about a particular user/group tuple to be evaluated for a different user/group tuple.

[2017-03-16 17:35] lavalamp commented on #42485
I see. We should either have a layer of indirection (`release/current-branches.txt`) or keep a `release/latest.txt`, `release/previous.txt`, and `release/prev-previous.txt` files up to date...

[2017-03-16 17:35] timothysc commented on #43228
/cc @bsalamat @ConnorDoyle

[2017-03-16 17:35] bowei commented on #43014
@aaronlevy -- which CNI plugins are you using?

@jbeda, @feiskyer -- can we split the RBAC issue ticket from this one? It seems to be a separate issue?

[2017-03-16 17:36] lavalamp commented on #42485
Or just delete it. :)

[2017-03-16 17:36] aaronlevy commented on #43014
@bowei flannel

[2017-03-16 17:36] foxish commented on #37259
Yes, this is not a blocker anymore.

[2017-03-16 17:38] bgrant0607 commented on #43214
https://kubernetes.io/docs/deprecation-policy/

[2017-03-16 17:38] jbeda commented on #43014
@bowei I'll test with wide open RBAC to rule it out.  The errors I'm seeing look to be separate and not due to RBAC.

[2017-03-16 17:39] ConnorDoyle commented on #43228
/assign

[2017-03-16 17:39] anhowe opened #43233 "Nodeport assigned to two services on 3 Master HA Cluster"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2017-03-16 17:41] ixdy commented on #42485
I'd probably prefer to just delete the `release/latest.txt` file (and stop generating it, as well), but maybe after 1.6 ships.

Deleting `release/latest.txt` will probably break some things, but nothing *should* be depending on it, so explicit breakage is probably good?

[2017-03-16 17:44] lavalamp commented on #42485
SGTM. I will retitle this issue and leave it assigned to you :)

[2017-03-16 17:45] ConnorDoyle commented on #43228
For context, here's the framework util function that waits on NS cleanup: https://github.com/kubernetes/kubernetes/blob/0afdcfcaf6c7828276e24cb4e0f15191c749fc7f/test/e2e/framework/util.go#L890

[2017-03-16 17:45] lavalamp commented on #42485
This will give @mwielgus, @jszczepkowski, and @wojtek-t time to change whatever it is they have that depends on this :)

[2017-03-16 17:46] yujuhong commented on #43014
@aaronlevy @jbeda @feiskyer, various cni/RBAC/calico/weave/flannel problems aside, I think this issue is about "tearing down non-existent resources" using the cni network plugin (`--network-plugin=cni`). I agree with @bowei that we should open new bugs for other issues.

[2017-03-16 17:46] smarterclayton commented on #43214
I'd be ok with 2 - the cost of preserving is not terribly high as long as
we can clearly identify how to transition.  It'll also give us more time to
sort out the implications of a move.

On Thu, Mar 16, 2017 at 1:38 PM, Brian Grant <notifications@github.com>
wrote:

[2017-03-16 17:47] smarterclayton commented on #35486
Thanks Medhy!

On Thu, Mar 16, 2017 at 12:04 PM, Tim Hockin <notifications@github.com>
wrote:

[2017-03-16 18:00] technosophos commented on #43112
Helm currently does this manually by versioning each name of a configmap. Obviously, we would benefit from having this implemented lower down the stack. @liggitt @smarterclayton how does OpenShift handle this kind of thing?

[2017-03-16 18:03] Cynerva commented on #43209
Yeah, I think the `x509: certificate signed by unknown authority` error is actually coming from kube-apiserver trying to talk to kubelet. So this is a problem with communication between the services on kubernetes-master and kubernetes-worker. I wouldn't expect kube-api-loadbalancer's presence to change much here.

[2017-03-16 18:03] timothysc commented on #43228
So these appear to be 1.5 e2es running on an upgraded 1.6 cluster.  *affinity* will fail due to api-promotion.

[2017-03-16 18:04] bgrant0607 commented on #43214
We should document that extensions is going away in the code.

I just posted the following to kubernetes-dev and kubernetes-dev-announce

The extensions API "group" was originally created as "experimental" before the full API group mechanism was designed and implemented. It was hastily renamed early on, once the desired distinction between the group and version was clarified. It doesn't support mu

[2017-03-16 18:05] dragorosson commented on #40850
@johnsom Both of the routers in my cloud report distributed=False. I don't think there are any other routers.

[code]

[2017-03-16 18:07] derekwaynecarr commented on #42831
@vishh -- its a regression because we used to show the field before the change.

[2017-03-16 18:09] sameo commented on #43014
@yujuhong I confirm that by hacking the flannel `cmdDel()` so that it does not return an error if some resources are missing, kube-dns restarts properly.

[code]

[2017-03-16 18:12] skriss commented on #43187
@nicksardo can you take a look at this? I'm not sure why the test job is just hanging immediately after logging "L7 controller failed to delete all cloud resources on time. timed out waiting for the condition". Seems to be happening frequently in the last couple days.

[2017-03-16 18:13] skriss commented on #43187
@ethernetdan let's wait until @nicksardo looks, he has recently done some work with the ingress tests so might be able to address.

[2017-03-16 18:16] krousey commented on #43102
https://github.com/kubernetes/kubernetes/pull/43089 has merged. As soon as it makes it to the 1.6 tag, this should be fixed.

[2017-03-16 18:18] enisoc commented on #43102
I will fast-forward release-1.6 now to pick it up.

[2017-03-16 18:18] bowei commented on #37259
@kubernetes/release-team this can be removed from the 1.6 milestone

[2017-03-16 18:22] Random-Liu commented on #40607
@timstclair Another occurence. :)

[2017-03-16 18:25] anhowe commented on #43233
The attached files are the API Server Logs of log server:

[26api0.txt](https://github.com/kubernetes/kubernetes/files/848646/26api0.txt)
[26api1.txt](https://github.com/kubernetes/kubernetes/files/848647/26api1.txt)
[26api2.txt](https://github.com/kubernetes/kubernetes/files/848648/26api2.txt)

Here is a timeline of events:

16:07:02.862 - 26api0.txt - Start POST /api/v1/namespaces/kube-system/se

[2017-03-16 18:32] calebamiles commented on #37931
Closing this issue per https://github.com/kubernetes/kubernetes/issues/37931#issuecomment-286648739

[2017-03-16 18:32] #37931 closed

[2017-03-16 18:36] calebamiles commented on #43163
Closing this issue as it tracks generic cluster creation failures across unrelated test suites.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-16 18:36] #43163 closed

[2017-03-16 18:38] yujuhong opened #43234 "Remove legacy docker integration (a.k.a dockertools/docker_manager.go)"
We should remove the old implementation and migrate the rest of the utility functions to `pkg/kubelet/dockershim`.

- [x] Remove DockerManager (PR: #43884).
- [x] Remove --enable-cri and the relevant code (PR: #45194).
- [x] Refactor/move code in dockertools. (PRs: #45199...)

[2017-03-16 18:46] caesarxuchao commented on #43147
Sent https://github.com/kubernetes/kubernetes/pull/43235.

[2017-03-16 18:48] k8s-merge-robot opened #43236 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/931/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #38163 #39209 #39790 #39878 #40446 #40458 #40463 #40471 #40485 #43017 #43082 #43151 #43163

[2017-03-16 18:59] nicksardo commented on #43187
It's normal for the ingress test to occasionally run for 15-16 minutes.  There's a known race with the ingress resource being deleted before the GLBC is fully running.

I don't know why the test is hanging after that log message.  That message is the final action before returning from `Teardown`.  I pushed a PR a few days ago that changed that `Failf` call to a `Logf` to ignore the fact the GLBC c

[2017-03-16 19:01] erikschlegel commented on #16949
Was anyone able to get the worker proxying to work? I had no success when using the https://github.com/aseigneurin/spark-ui-proxy image.

[2017-03-16 19:02] liggitt commented on #43227
for impersonation, we already add groups when known (service accounts). doing so for the system:authenticated/system:unauthenticated groups makes sense to me

[2017-03-16 19:14] bowei commented on #43094
@calebamiles -- these should not block v1.6, let's move them to the later milestones
@kubernetes/release-team

[2017-03-16 19:15] bowei commented on #43101
@calebamiles -- these should not block v1.6, let's move them to the later milestones
@kubernetes/release-team

[2017-03-16 19:15] bowei commented on #37259
@calebamiles

[2017-03-16 19:19] thockin commented on #43233
On Thu, Mar 16, 2017 at 10:40 AM, anhowe <notifications@github.com> wrote:

because type=NodePort ?

Why is this releasing the port?  On purpose or bug?

Ports are allocated randomly from 2767 values, and you're reliably
reproducing this collision?

Why did they not get the update to the service that released it?

Nope.  I'll try to repro.

[2017-03-16 19:21] liggitt commented on #43203
These are the array fields that do not set `omitempty`, and currently can distinguish between, store, and return `null` and `[]`:

[code]

upon switching storage to protobuf, they will store `[]` as `null`, and lose the ability to distinguish between those values presented by clients. unless decoration or defaulting sets a null list to `[]`, json clients will always see null (which can break clien

[2017-03-16 19:22] thockin commented on #43014
So, to plugin authors:  Do we

a) fix your plugins to not return error for non-existing (and maybe tighten
the spec)

b) spec a particular error for this, so we can catch it and ignore it
ourselves (and still change all your CNI plugins)

c) try to make kubelet / CRI not call delete in these cases.  I don't know
what the correct signal would be to skip it.

I think (a) is the only real answer.  Ev

[2017-03-16 19:23] deads2k commented on #43227
Only when the groups aren't specified, right?  If memory serves, that's how we did it downstream where we can make group determination.

[2017-03-16 19:25] yujuhong commented on #42492
Feel free to send a PR if you would like to help.

[2017-03-16 19:38] liggitt opened #43238 "Semantic DeepEqual ignores difference between nil and empty list"
Found when investigating https://github.com/kubernetes/kubernetes/issues/43203

While it is tempting to say a nil and empty list are equivalent, not round-tripping that data accurately impacts clients of the JSON API.

Protobuf storage is dropping many empty list fields, meaning clients that previously stored `[]` and had it returned from the API would now get back `null` instead.

[2017-03-16 19:41] GheRivero commented on #43014
The flannel plugin command (/opt/cni/bin/flannel) is called with several env variables, and reads input from stdin (it's as messy as it sounds)
env variables:
`KUBELET_NETWORK_ARGS="--network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/opt/cni/bin" KUBELET_SYSTEM_PODS_ARGS="--pod-manifest-path=/etc/kuberetes/manifests --allow-privileged=true" KUBELET_DNS_ARGS="--cluster-dns=10.96.0.10

[2017-03-16 19:41] liggitt commented on #43238
see also #25836 #30186

cc @kubernetes/sig-api-machinery-misc @smarterclayton @thockin

[2017-03-16 19:42] liggitt commented on #43203
might be related to #42798 (trying to update because nil subsets != [] subsets)

[2017-03-16 19:43] liggitt commented on #43203
@thockin can you confirm the doc on NetworkPolicyIngressRule.{Ports,From} is incorrect (it says the difference between `null` and `[]` is meaningful, but sets omitempty, so the difference is lost on serialization)?

[2017-03-16 19:45] thockin commented on #43203
There's an unmerged PR to erase the distinction.  It is my studied opinion that none of our APIs should distinguish between `null` and `[]`.  Go can represent it.  JSON can represent it.  Protobuf can't, and other languages that unmarshal proto and JSON can't.

[2017-03-16 19:46] thockin commented on #43238
We should not rely on being able to distinguish null from [] for semantic
meaning.  Too many client languages do not distinguish.

On Thu, Mar 16, 2017 at 12:38 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-03-16 19:51] nicksardo commented on #40778
/assign

@thockin this issue explains the confusion I had several weeks ago when speaking with @MrHohn and you about L4 health checks. I didn't realize a firewall rule isn't currently required.

[2017-03-16 19:52] #42831 closed

[2017-03-16 19:55] thockin commented on #35486
OK, Mehdy found another failure mode.

If you add a field with no proto tag, then run verify-generate-protobuf, it will fail (as it should).

But if I run update-generated-protobuf.sh, it will emit proto definitions for the new field, assuming the next available tag number, but it will not write that tag number back to the original file (what piece of the process is supposed to do that, @smartercl

[2017-03-16 19:57] cmluciano opened #43240 "Convert nvidia-gpu manager to CRI"
There are several TODO's in the [nvidia-gpu-manager](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/gpu/nvidia/nvidia_gpu_manager.go#L68) for migrating existing code to leverage CRI logic.

[Hardware Accelerators](https://github.com/kubernetes/features/issues/192) and GPUs will likely change, but we should convert these existing functions in support of #43234 .

[2017-03-16 19:58] cmluciano commented on #43240
I cannot assign this to myself since I am not an org member, but I am actively working on this

[2017-03-16 19:58] liggitt commented on #43203
@davidopp @aveshagarwal @derekwaynecarr as far as I can find, PodAffinityTerm.Namespaces is the only field that documents different behavior for `null` vs `[]`... it was present in 1.5 but not referenced from another type, so I assume it was JSON-serialized in an annotation. The proto encoding in 1.6 will lose that distinction.

Stepping back, I'm actually really unnerved by giving pods the abilit

[2017-03-16 20:05] anhowe commented on #43233
1. because type=NodePort ?
Correct, the dashboard addon specifies `type=NodePort`

2. Why is this releasing the port?  On purpose or bug?
Discussed with @brendandburns and we figured it is because the addon manager does not see dynamically created `nodePort: 30177`, in the addon yaml (because it is dynamically assigned).  This points at a potential bug in the add-on manager that it should ignore t

[2017-03-16 20:08] davidopp commented on #38988
Based on the [documentation](https://cloud.google.com/compute/docs/instances/stopping-or-deleting-an-instance) and what you observed, it seems that it is the same as deleting the VM from the standpoint of the Kubernetes/GKE control plane.

[2017-03-16 20:27] kargakis commented on #43218
@kubernetes/sig-apps-bugs

[2017-03-16 20:27] tomdee commented on #43014
@thockin I'm thinking through this now, both options a) and b) sound reasonable (though there might still be some changes required in kubernetes, e.g. around retry behavior).

This CNI issue is probably worth reading - https://github.com/containernetworking/cni/issues/309

[2017-03-16 20:30] blakebarnett opened #43245 "critical pods not being spread properly?"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
critical pod spread

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
1.5.3

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): debian/jessie
- **Kernel** (e.g.

[2017-03-16 20:31] blakebarnett commented on #43245
cc: @justinsb

[2017-03-16 20:32] sttts commented on #43238
`null != [] != undefined` in JS.

Considering the first two equivalent is pretty common, the second inequality depends on the semantic meaning of fields. And @liggitt critizises in this issue (do you?) that we do not check for the right inequality in roundtrip tests. We should, and in fact for some fields we do in special tests (e.g. seccomp in the psp if I remember right).

[2017-03-16 20:39] brendandburns commented on #43233
for 3) it is the same across multiple machines, I assume it's because the random number generator has the same constant seed.

for 4) my guess is that on Service update we're doing the following:

   * M1: Update to service-1 comes in without NodePort (this is an update to an existing service)
   * M1: Allocator releases the port 30177, writes to etcd.
   * M1: Decides to re-allocate 30177 to the

[2017-03-16 20:40] liggitt commented on #43238
I'm not concerned about `undefined` (which is not part of the JSON spec), but am concerned about `null` vs `[]`

[2017-03-16 20:41] ravisantoshgudimetla commented on #39975
@liggitt Thanks, I will check this out after 1.6 release hopefully, with rewrites..

[2017-03-16 20:42] brendandburns commented on #43233
And a clarification on the Addon bits:

Addon manager has a service that looks like:

[code]

But when there is a `GET` for it, it has `spec.nodePort` in the response, so add-on manager sees a difference, and posts back something missing the `nodePort` which clears and resets and starts this cycle.

[2017-03-16 20:45] sttts commented on #43238
`undefined` not as a symbol, but as "not appearing" in the JSON string. Of course, this is part of the spec, implicitly for every given schema.

[2017-03-16 20:47] skriss commented on #42746
@MrHohn  we are now seeing similar-looking errors in the GKE cluster upgrade suites. Can you please take a look ASAP to help triage? Note that this time it is occurring in the full-cluster upgrades, not the master-only upgrades.

Example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-gci-1.6-upgrade-cluster/50?log#log

[2017-03-16 20:50] sttts commented on #43238
Compare https://github.com/kubernetes/kubernetes/pull/36909/files#diff-4eb9bb949f6a373a35016dac2f0d394aR70. In fact, it's the other way around than above in https://github.com/kubernetes/kubernetes/issues/43238#issuecomment-287182246, as @liggitt says: `null => nil`, `[] => []` during unmarshaling.

[2017-03-16 20:50] ConnorDoyle commented on #43228
/unassign

[2017-03-16 20:52] MrHohn commented on #42746
Sure, looking into it.

[2017-03-16 20:55] ethernetdan commented on #43228
@wojtek-t any ideas on why this is timing out?

[2017-03-16 20:58] mbohlool commented on #35486
@thockin do you think this newly found bug is a blocker for 1.6?

[2017-03-16 20:59] timothysc commented on #43228
We know why, there was a long conversation on slack today.. There are 2 parts.

1. Lingering namespace from another test
2. Upgrade test using 1.5 test suite on a 1.6 cluster is doomed to fail do to incompatible changes.

So issues here are not related to the actual test from what we could tell.

[2017-03-16 21:00] liggitt commented on #35486
I did not think tag assignment write-back was automatic

[2017-03-16 21:01] liggitt commented on #35486
I don't *think* it's a blocker now, the verify script failure keeps us from shipping with incorrect proto

[2017-03-16 21:02] thockin commented on #35486
if it's not automatic, then the proto generator should barf if it finds no tag, rather than allocating whatever is next, shouldn't it ?

[2017-03-16 21:02] skriss commented on #42746
@MrHohn FYI @krousey is looking at another issue related to GKE upgrades - not sure if they're related or not (they're reporting different errors)

[2017-03-16 21:03] liggitt commented on #35486
hmm, probably

[2017-03-16 21:11] leblancd commented on #1443
Before we start auditing and/or implementing the various IPv6 pieces outlined above, I think we need to come to an agreement on the following: Do we impose a restriction on the maximum IPv6 prefix length (i.e. minimum IPv6 subnet space) that is allocated to a node? My strong preference would be to limit the length of an IP prefix that is allocated to a node to be 64 bits of prefix or shorter (i.e.

[2017-03-16 21:17] tomdee commented on #43014
My current thinking is that the plugins should be fixed to match the spec that went in recently (saying that plugins shouldn't del). I think Calico almost has a fix ready, I think Weave almost has a fix ready, but someone needs to get the "official" CNI plugins fixed up too.

[2017-03-16 21:18] timothysc opened #43246 "Version matching across (kube & apiserver & apimachinery & client-go) = failure."
**This a BUG REPORT ** (choose one):

**Kubernetes version**
latest master(s) of *

**What happened**:
Trying to godep save tools leveraging e2e dependencies causes a version hell, across repos that does not resolve, b/c they are not in sync.

repos:
k8s.io/client-go
k8s.io/apiserver
k8s.io/apimachinery
k8s.io/kubernetes

are out of sync.

**What you expected to happen**:
`godep save ./...` to sim

[2017-03-16 21:21] krousey commented on #42746
I'm looking into an issue of the master not starting. This looks separate.

[2017-03-16 21:24] skriss commented on #43228
Digging into this a bit more it appears that the orphaned namespace causing some of these to wait for an hr is actually coming from a prior SchedulerPredicate test. See this:

I0315 19:53:13.163] STEP: Destroying namespace "e2e-tests-sched-pred-c45xc" for this suite.
I0315 19:58:13.899] Mar 15 19:58:13.898: INFO: namespace: e2e-tests-sched-pred-c45xc, resource: bindings, ignored listing per whitel

[2017-03-16 21:25] derekwaynecarr commented on #43203
I think we should remove the cross namespace capability for 1.6 on pod affinity term if there is no strong requirement.  If there is a strong requirement the semantic should be to look at a different field rather than overload nil and empty.  @davidopp - can you weigh in?

[2017-03-16 21:25] thockin commented on #43233
OK, I think I have found 1 bug in this path, but I can't convince myself it
would cause this failure mode, still working on it.

On Thu, Mar 16, 2017 at 1:42 PM, Brendan Burns <notifications@github.com>
wrote:

[2017-03-16 21:31] timothysc commented on #43228
@skriss those failed deletes were on 1.5 e2es from the same cluster before the upgrade test?

[2017-03-16 21:34] #42766 closed

[2017-03-16 21:36] MrHohn commented on #42746
Don't have a theory yet, but saw couple strange errors:
[code]
Which likely indicates Apiserver on master was not in a proper state. And seems like this happened before and after upgrade --- both old version and new version kubedns crashed with this error.

[2017-03-16 21:37] smarterclayton commented on #43203
I'd be ok with APIs that want to distinguish being forced to use:

[code]
type ThingThatHasSelectors struct {
  Selector *Selector
}
[code]

[2017-03-16 21:37] smarterclayton commented on #43203
It's just not a simple and succinct JSON API, which I care more about than people generating structs in protobuf complaining (the protobuf struct will be correct in our code, it's just not 100% equivalent to the JSON structs, which again, I don't care about)

[2017-03-16 21:40] davidopp commented on #43203
Regarding use case for pod A selecting on pods outside of A's namespace:
* affinity example: one app per namespace, want to co-locate front-ends and back-ends in the same zone (or node)
* anti-affinity example: coke and pepsi run in separate namespaces and you want a rule that their pods can never share a node
* another anti-affinity example: user X and user Y are in separate namespace, user X dis

[2017-03-16 21:43] cmluciano commented on #27980
I totally understand  @mtaufen . Taking a look at that PR

[2017-03-16 21:43] thockin commented on #43233
On Thu, Mar 16, 2017 at 1:42 PM, Brendan Burns <notifications@github.com> wrote:

The addon manager (the one we support, anyway - did you write your
own?) uses `kubectl apply`, so this should be fine.  The nodePort is
the same as clusterIP in this regard.

You can see it by repeatedly running `kubectl apply -f` on this and
seeing the nodePort not change.

[2017-03-16 21:47] davidopp commented on #43203
I suppose we could get rid of the "all namespaces" part. Still allow to specify the namespaces, and defaults to "my namespace" but just don't allow "all namespaces."

[2017-03-16 21:52] derekwaynecarr commented on #43203
@davidopp - we need a way to restrict namespaces other than local namespace either via admission check or some flag.

[2017-03-16 21:54] davidopp commented on #43203
Can you explain the security concern?

[2017-03-16 21:56] anhowe commented on #43233
The dashboard service object does not lose port 30177, it is only removed from etcd path /registry/ranges/servicenodeports.

Also, I see the same thing using `kubectl apply -f kubernetes-dashboard-service.yaml`, in that the release is happening, but when I view the dashboard service object, it still shows holding 30177.  Here's the instrumented logs:

21:50:20.7778 panics.go:76] BEGIN PATCH /api/v

[2017-03-16 21:58] skriss commented on #43228
@timothysc 1.5 e2e's, on the same cluster, after the master upgrade. the upgrade test jobs run the E2E's in serial, this namespace delete error happened ~3 tests before the first one-hour hang (waiting for namespace deletion).

[2017-03-16 22:03] davidopp commented on #43203
I gave several examples above where you actually want it to work across tenants.

Anti-affinity is one of the core mechanisms for isolating tenants. So you have to be able to refer to other tenants. (That was the coke/pepsi example.)

I'm still not understanding the security issue.

[2017-03-16 22:07] derekwaynecarr commented on #43203
You assume coke can know about Pepsi.  Your example is more like coke and sprite where both are under the same umbrella corp.  if you don't want coke to know about Pepsi, we can't leak that information.  Make sense?

[2017-03-16 22:11] davidopp commented on #43203
I'm fine with an admission controller or flag as long as it's not enabled by default.

[2017-03-16 22:14] bitbyteshort commented on #10782
@jszczepkowski You mentioned that "the admission plugin will try to estimate and set values for request memory/CPU for containers within each pod if they were not given by user."

Can you please elaborate how the admission plug does the estimation? Does it estimate based on historical data of similar jobs, or based on some profiling result, or something else? thanks

[2017-03-16 22:18] tomdee commented on #43014
We can try to get a new CNI release out with updated plugins that confirms to the spec, but do we know which plugins are actually causing problems? Is it just the flannel plugin, or are there others too?

[2017-03-16 22:18] davidopp commented on #43203
But we also need to do something about the original problem. Should we just get rid of the "all namespaces" behavior? The irony is that this is actually a way you could place these constraints *without* having to know about the existence of the other tenants (assuming some standard pod label names is used across all tenants)...

[2017-03-16 22:19] steshaw commented on #23597
@kargakis no, not so much, I'm not familiar with the Kubernetes code base. Do you know the reasoning behind it (i.e. deployment histories being stored in replicasets)?

[2017-03-16 22:20] yujuhong commented on #36746
See #43014

[2017-03-16 22:22] pwittrock opened #43249 "Openapi scheme should have GroupVersionKind extension for operaetions"
When generating docs or clients of the openapi json, the operations are manually mapped to the resources they apply to using a bunch of hacks.  Since the operations are initially generated from resources, we should keep this information around and tag the operations with a group version kind extension in the openapi.

[2017-03-16 22:22] thockin commented on #43233
Can you share this patch?

On Thu, Mar 16, 2017 at 2:56 PM, anhowe <notifications@github.com> wrote:

[2017-03-16 22:23] pwittrock opened #43250 "Unregistered types should have a group version kind extension in open api"
Some of the types such as NodeCondition don't have the gvk extension in the swagger.json.  This makes it impossible to rely on the gvk extension when generating docs or clients.

[2017-03-16 22:25] skriss opened #43251 "Network Partition test errors on GCE Upgrade Tests"
@foxish

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-cluster/26

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-cluster-new/24

The Network Partition tests are largely failing in the GCE Upgrade tests. I had these marked as flakes, but they've failed a lot recently - can you take a lo

[2017-03-16 22:25] skriss commented on #43251
/assign @foxish

[2017-03-16 22:25] #40607 closed

[2017-03-16 22:25] MrHohn commented on #42746
Found kube-proxy hit similar failure (seems like a permission error):
[code]

[2017-03-16 22:27] foxish commented on #43251
I'll take a look shortly

[2017-03-16 22:27] liggitt commented on #42746
@cjcullen related to your ABAC work?

[2017-03-16 22:31] thockin commented on #43233
ohh, maybe the same bug is triggering this!  God this code is twisty.

Are you game to try a patch?

in pkg/registry/core/service/rest.go, around line 435, look for

[code]

change the `!contains` to `contains` - just remove the `!`, then rebuild
and re-run?

Tim

On Thu, Mar 16, 2017 at 3:22 PM, Tim Hockin <thockin@google.com> wrote:

[2017-03-16 22:31] krousey commented on #42746
I just found this in a healthy master when trying to reproduce my problem. API server is definitely RBAC denying kube_proxy on cluster wide endpoint lists.

[2017-03-16 22:33] liggitt commented on #42746
@krousey Was this an upgrade or a new install?

[2017-03-16 22:34] cjcullen commented on #42746
Almost certainly related to what I did. I checked a 1.5->1.6 upgrade, but didn't check 1.4->1.6

[2017-03-16 22:34] krousey commented on #42746
It was an upgrade.

[2017-03-16 22:35] davidopp commented on #25319
ref/ #43203

[2017-03-16 22:35] skriss opened #43252 "GCE Upgrade Test failure - Services should work after restarting apiserver"
@bprashanth

This test has been failing recently in the GCE 1.5->1.6 upgrade tests. I had it marked as a flake but given the recent failures wanted to double-check to ensure there's not an underlying issue:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-cluster/26#k8sio-services-should-work-after-restarting-apiserver-disruptive

This job is

[2017-03-16 22:35] skriss commented on #43252
/assign @bprashanth

[2017-03-16 22:36] davidopp commented on #25319
ref/ #43197

[2017-03-16 22:43] lukaszo commented on #43218
Hmm, it shouldn't happen. TemplateGeneration is updated only when something changed. I will debug it.

[2017-03-16 22:45] smarterclayton commented on #35486
Tag assignment is automatic, but it's probably the staging / not staging
distinction.

On Thu, Mar 16, 2017 at 5:53 PM, Tim Hockin <notifications@github.com>
wrote:

[2017-03-16 22:47] yujuhong opened #43253 "Extract container runtime-specific flags from kubelet"
There are many container runtime (i.e., docker) specific flags (and corresponding fields in `KubeletConfiguration`). We should clean them up.

Here are some ideas:
 1. Group them together in to a separate struct, e.g., `DockerConfiguration`, which can be persisted to the apiserver as a ComponentConfig (as part of `KubeletConfiguration`).
 2. Add a local `DockerFlags` struct that does not persist t

[2017-03-16 22:47] yujuhong commented on #43253
/cc @Random-Liu

[2017-03-16 22:50] smarterclayton commented on #35486
If I run hack/update-generated-protobuf-dockerized.sh, changing both a
staging/ and regular api, i get tags assigned to my original source.  So
it's not a problem with the protobuf code-gen per se - it seems likely it's
a problem with the parts that run docker.

On Thu, Mar 16, 2017 at 6:45 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-03-16 22:54] aveshagarwal commented on #43203
I can send a PR for PodAffinitTerm.Namespaces if no one else is doing.

[2017-03-16 22:57] ethernetdan commented on #43155
Seems rare + probably infra issue, moving to v1.6.1

[2017-03-16 23:02] smarterclayton commented on #43203
I can see valid use cases for avoidance across namespaces.  It's not
"strong" tenancy, but I also don't care about the super strong tenancy
(because noisy neighbors and restricted node sets are the solution for
that).  I care much more about being able to DoS the scheduler by
specifying abusive constraints.

On Thu, Mar 16, 2017 at 6:55 PM, Avesh Agarwal <notifications@github.com>
wrote:

[2017-03-16 23:02] ethernetdan commented on #43153
Will keep an eye on but if it doesn't get worse probably not release blocking

[2017-03-16 23:03] ethernetdan commented on #43100
@bowei what's the status of this?

[2017-03-16 23:04] smarterclayton commented on #35486
I tested both ways - dockerized and not, staging and not, and both
successfully assigned tags for me to the original types.go.  What did your
new field look like?  Are the filesystem permissions on your src files
right?

On Thu, Mar 16, 2017 at 6:50 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-03-16 23:05] smarterclayton commented on #43246
What about hack/godep-restore.sh?  Does that work?

On Thu, Mar 16, 2017 at 5:18 PM, Timothy St. Clair <notifications@github.com

[2017-03-16 23:10] #42840 closed

[2017-03-16 23:10] foxish commented on #43251
Yeah, I do not think this is a real issue, because the test isn't able to partition the node in the first place. This is likely because of the way the upgrade cluster is set up. Not a blocker.

[2017-03-16 23:14] ethernetdan commented on #25887
/cc @pwittrock

[2017-03-16 23:16] timothysc commented on #43246
nope

[2017-03-16 23:21] fen4o opened #43256 "kubefed init --help typo"
**kubefed version from 1.5.0 -> master**

**What happened**:
`kubefed init --help` produces wrong example

[code]

**What you expected to happen**:
The example should print

[code]

**kubectl** -> **kubefed**

[2017-03-16 23:26] smarterclayton commented on #43246
Weird, it worked for me - the staging gopath seems to work on my machine.

On Thu, Mar 16, 2017 at 7:16 PM, Timothy St. Clair <notifications@github.com

[2017-03-16 23:27] davidopp commented on #43203
@smarterclayton Can you clarify what concretely you are proposing?

[2017-03-16 23:28] skriss commented on #43251
ok, thanks!

[2017-03-16 23:29] smarterclayton commented on #43238
Which client languages don't have a distinction between empty array and
NULL objects?  My counter-worry is that JSON does have that distinction.
Maybe we just need to schedule the cage-match for this where we each
marshal our most cutting edge arguments and at we don't get to leave until
we find some solution.

On Thu, Mar 16, 2017 at 4:50 PM, Dr. Stefan Schimanski <
notifications@github.com> wrot

[2017-03-16 23:31] smarterclayton commented on #43203
I'm slightly disagreeing with Jordan and Derek in that I can see the
utility of cross-namespace that you mentioned, that some forms of
cross-namespace interaction are unavoidable (noisy neighbor, row hammer,
etc), and in the absence of a concrete abuse vector the capability itself
doesn't worry me.  We can always introduce this again later though, so I'm
not opposed to temporarily removing it (mak

[2017-03-16 23:33] liggitt commented on #43238
Fortunately I've been practicing my marshal arts

[2017-03-16 23:36] steinnes commented on #29059
I'm seeing this with v1.5.2 running on AWS, setup via kops:
[code]
The log has entries from the past ~4 days:
[code]

[2017-03-16 23:43] davidopp commented on #43203
@smarterclayton

IIUC there are two issues

(1) The trick we were using
[code]
does not work -- cannot distinguish nil from empty. We definitely need a solution to this. One possibility is to get rid of the "empty list" option. But if we don't do that, we need to do something else.

(2) There was objection to allowing cross-namespace references. This can be addressed by rejecting it in validation

[2017-03-16 23:48] pwittrock opened #43258 "OpenApi scheme resource types should say whether they are Namespaced or not"
When generating docs and clients, we need to know of an object is namespaced or not.  Currently this is parsed using regex hacks from the operationIds.

[2017-03-16 23:52] brendandburns commented on #43233
Yeah, its the standard addon manager.

We see it continuously doing a `PATCH` to the API Server.  (has `apply` moved to the server?)

[2017-03-16 23:53] johnsom commented on #40850
Ok, so it's not one of the DVR issues.  I looked at the bug you opened and saw the HAProxy log.

The sD code in those entries mean the flow ended abnormally.

s : the server-side timeout expired while waiting for the server to send or receive data.
D : the session was in the DATA phase.

So, the timeout waiting for the server to send data expired.  50000 milliseconds seems like it should be long e

[2017-03-16 23:54] caesarxuchao commented on #34856
It's not working for DeleteOptions.PropagationPolicy.

[code]

Looks like a bug with the parameter codec.

[2017-03-16 23:55] ethernetdan commented on #40787
A couple flakes but otherwise seems stable, I'll keep an eye on this suite.

[2017-03-17 00:00] ethernetdan commented on #43189
Seem stable now, perhaps GCE network issue related

[2017-03-17 00:00] #43189 closed

[2017-03-17 00:16] thockin commented on #43233
apply generates a PATCH

On Thu, Mar 16, 2017 at 4:52 PM, Brendan Burns <notifications@github.com>
wrote:

[2017-03-17 00:18] thockin commented on #35486
I added a field 'FooBar sting `json:"foobar"`' to a struct in pkg/api/v1/types.go, and ran update and it did NOT add a proto tag

[2017-03-17 00:19] smarterclayton commented on #34856
Beyond that, we can't change the client because it would be incompatible
with old servers that don't support query parameters?

On Mar 16, 2017, at 7:54 PM, Chao Xu <notifications@github.com> wrote:

It's not working for DeleteOptions.PropagationPolicy.

I0316 16:49:12.003939   30640 round_trippers.go:417] DELETE
http://localhost:8080/api/v1/namespaces/default/replicationcontrollers/redis?propagat

[2017-03-17 00:22] thockin commented on #43233
On reflection all afternoon, I am pretty confident this is the bug.  I'll
send a PR, sans test probably, shortly

On Thu, Mar 16, 2017 at 5:15 PM, Tim Hockin <thockin@google.com> wrote:

[2017-03-17 00:23] eparis commented on #43203
Assuming I'm Coke and want to attack Pepsi, could i somehow use this to prove what node coke's app is on? And then use that information to better attack them? It's just an information leak, but some people don't want proof that others exist...

[2017-03-17 00:23] thockin commented on #43233
https://github.com/kubernetes/kubernetes/pull/43259

On Thu, Mar 16, 2017 at 5:22 PM, Tim Hockin <notifications@github.com>
wrote:

[2017-03-17 00:24] smarterclayton commented on #43203
Yes I'm well acquainted with the former.

I'm concerned from performance and DoS.  I'm not as worried about being
able to stalk other tenants (a more nuanced approach would be to allow anti
affinity - aka restraining order - but not affinity - stalker).  I'd like
the ability to disable the parts that are really expensive like all
namespaces, but high namespace count clusters are going to be heavil

[2017-03-17 00:25] smarterclayton commented on #43238
Two fields enter!  One field leaves!

Oh wait, that's Daniels linked fields proposal.

[2017-03-17 00:30] thockin commented on #43238
I was never able to make unmarshlling work consistently and correctly with
protobuf.

Even with your hack to wrap it in a struct, it still won't work for any
value that is a second dimension (map[string][]string, [][]FooBar, etc).

I think that the pile of hacks we need to make it feel natural are not
worth the complexity.

On Thu, Mar 16, 2017 at 5:25 PM, Clayton Coleman <notifications@github.com

[2017-03-17 00:40] davidopp commented on #43203
cc/ @kubernetes/sig-scheduling-bugs

[2017-03-17 00:47] bowei commented on #43100
this should be bumped to the next release -- it looks like timeout issue with the test itself

[2017-03-17 00:48] caesarxuchao commented on #34856
We can change the client in 1.7, since 1.7 client only have to be compatible with 1.6-1.8 server.

[2017-03-17 00:57] k8s-merge-robot opened #43261 "ci-kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/965/
Multiple broken tests:

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [ReplicationController] should recreate pods scheduled on the unreachable node AND allow scheduling of pods on a node after it rejoins the cluster {Kubernetes e2e suite}

[code]
Issues about this test specifically

[2017-03-17 00:58] bitbyteshort commented on #28316
@balajismaniam  You mentioned that "An aggressor best-effort pod can be evicted and the node can be tagged till the performance of the victim high-priority pod stabilizes."

How do you plan to measure the performance of the victim?

[2017-03-17 01:03] liggitt commented on #43203
I disagree, but I'll spawn a separate issue where we can debate multi-tenancy and defaults.

For 1.6, I see our options for this one field as:

* do the proto-nullable wrapping thing. upside: no functional change. downside: JSON API remains pretty unintuitive.
* add a second field to hold the "all namespaces" meaning. upside: clearer API. downside: last minute field addition, slightly gorpy API.
*

[2017-03-17 01:15] ncdc commented on #25887
@calebamiles @ethernetdan @fejta this issue is about how we ideally should change the logic in the "exec through an http proxy" test to validate the traffic actually uses the http proxy.

The failures that @fejta linked to are unrelated. In two that I examined, the pod was assigned to a node by the scheduler, and then quickly evicted by the taint manager, causing the test to fail because it couldn

[2017-03-17 01:15] ncdc commented on #25887
I'd be happy to file a new issue if you'd like for the taint manager doing "weird things".

[2017-03-17 01:23] davidopp commented on #43203
Thanks for laying out the options (and for identifying the problem originally), @liggitt !

Since * is not allowed in namespace names, I like the third option the best as the ultimate solution, because it's less subtle than the first one and more compact than the second one. But also since * is not allowed in namespace names, we could drop support in 1.6 (fourth option) and then add support for "*

[2017-03-17 01:23] liggitt commented on #43238
I don't see how we can reasonably act like `[]` and `null` are the same, after having distinguished between them and preserved user data in the API for years.

Even if we accept collapsing the meaning of those two things, compressing to `null` rather than `[]` means that reasonable clients and languages that can tell the difference between them will NPE now.

[2017-03-17 01:45] timothysc commented on #43246
Steps to reproduce:
1. Start with a clean GOPATH, check out under k8s.io and run ./hack/godep-restore.sh
2. Create a e2e wrapper, doesn't matter where, that looks something like:

[code]

3. `export GOPATH=$GOPATH:$KPATH/staging`  <- if that is reversed, BOOM goes your computer
4. navigate to your test location and run `godep save ./...`  looks like it worked, wait for it...
5. run `go test -i -c

[2017-03-17 01:45] liggitt opened #43262 "Failed to list images in project "google-containers": googleapi: Error 500: Internal Error, internalError"
Seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-node-e2e/22555/

[code]

[2017-03-17 01:50] janetkuo commented on #43218
I can reproduce this, and the DaemonSet `templateGeneration` is updated after every `apply`, even nothing is changed.

In [`func (daemonSetStrategy) PrepareForUpdate`](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/daemonset/strategy.go#L90), old/new DaemonSet template are seen as different with `reflect.DeepEqual`. I tried to change this part to use `apiequality.Sema

[2017-03-17 01:56] liggitt commented on #43203
adding sig/scheduling for the PodAffinityTerm.Namespaces

adding sig/api-machinery for the broader [] -> null issue

[2017-03-17 02:02] #42746 closed

[2017-03-17 02:02] #43139 closed

[2017-03-17 02:03] ncdc opened #43263 "Kubectl skew tests between 1.6 and master are flaking because nodes are tainted in parallel"
The kubectl skew tests for master->1.6 and 1.6->master are flaking because `GINKGO_PARALLEL=y` and the `ginkgo.focus` is set to just `Kubectl`. This is a problem because there is a test for taints that is called `"Kubectl taint [Serial]"` that is meant to be run serially and not in parallel, but the current settings don't allow for that. As a result, while some tests are creating pods, the taint t

[2017-03-17 02:04] ncdc commented on #25887
Here's the actual issue causing most or all of the flakes reported in https://github.com/kubernetes/kubernetes/issues/25887#issuecomment-286965195: https://github.com/kubernetes/kubernetes/issues/43263.

[2017-03-17 02:10] lukaszo commented on #43218
It's very strange. I tried to use pretty.Diff to print the differences but it returns empty slice.
 apiequality.Semantic.DeepEqual uses forked version of reflect.DeepEqual and it's little different from version in 1.7.
@janetkuo  will you prepare the patch?

[2017-03-17 02:11] smarterclayton commented on #43238
On Mar 16, 2017, at 8:30 PM, Tim Hockin <notifications@github.com> wrote:

I was never able to make unmarshlling work consistently and correctly with
protobuf.

When?  We use this today in several places - it works correctly.  I
remember you couldn't get map to work because I didn't fix the map struct
code path.

Even with your hack to wrap it in a struct, it still won't work for any
value that is

[2017-03-17 02:13] smarterclayton commented on #35486
It did for me.  What version of protobuf?

On Mar 16, 2017, at 8:18 PM, Tim Hockin <notifications@github.com> wrote:

I added a field 'FooBar sting json:"foobar"' to a struct in
pkg/api/v1/types.go, and ran update and it did NOT add a proto tag

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/3548

[2017-03-17 02:15] k82cn commented on #35486
`hack/update-generate-protobuf-dockerized.sh` or `hack/update-generate-protobuf.sh`

[2017-03-17 02:15] anhowe commented on #43233
Thanks @thockin.  I'm trying the patch and testing now.

[2017-03-17 02:18] liggitt commented on #43263
adding to 1.6 to resolve this so our release branch doesn't have flaky CI (which makes signals for point releases really tough)

[2017-03-17 02:21] ncdc commented on #43263
Example configuration that yields this issue: https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gce-master-1.6-gci-kubectl-skew.env#L2-L3

[2017-03-17 02:21] smarterclayton commented on #34856
I'm pretty hesitant to apply that to clients (not kubectl) that may be
used generically.  "This client only works on servers released in the
last half year" is a pretty terrible experience.

We could consider having the client retry specifically for that error
code and retry with query params - but that's very very specific to
Kube and I don't necessarily feel comfortable about that.

When we intr

[2017-03-17 02:22] liggitt commented on #43263
would `GINKGO_TEST_ARGS=--ginkgo.focus=Kubectl --ginkgo.skip=\[Serial\]` work?

[2017-03-17 02:23] ncdc commented on #43263
It wil skip the taint test and get rid of these flakes. But it would never run the taint test...

[2017-03-17 02:24] liggitt commented on #43263
added in https://github.com/kubernetes/test-infra/pull/2144
cc @ixdy @pwittrock

second job with `GINKGO_TEST_ARGS="--ginkgo.focus=Kubectl.*\[Serial\]"`?

[2017-03-17 02:25] liggitt commented on #43263
or make the job not run parallel

[2017-03-17 02:25] ncdc commented on #43263
Either a second job (times all the variants), or not running in parallel would do it.

[2017-03-17 02:26] ethernetdan commented on #43195
Fixes are in the works (#43243) but I don't think we should block for this suite.

[2017-03-17 02:27] smarterclayton commented on #43263
Second job would be preferred so as not to skip a relevant test but not be terribly slow.  Not strong pref

[2017-03-17 02:27] ncdc commented on #43263
The current job looks like it takes about 20 minutes to run. I wonder how switching to parallel=n would change the timing.

[2017-03-17 02:28] smarterclayton commented on #35486
Dockerized uses whatever is on your system.  On 3.0.0-... I got things
generated.  When I used a freshly build hack/update-generate-protobuf it
also worked.

What filesystem, what OS, what permissions are you running as?

On Mar 16, 2017, at 10:15 PM, Klaus Ma <notifications@github.com> wrote:

`hack/update-generate-protobuf-dockerized.sh` or
`hack/update-generate-protobuf.sh`

wrote:

https://git

[2017-03-17 02:29] smarterclayton commented on #43263
Most kubect tests are fast so parallelism would likely drop the time
significantly.

On Mar 16, 2017, at 10:27 PM, Andy Goldstein <notifications@github.com>
wrote:

The current job looks like it takes about 20 minutes to run. I wonder how
switching to parallel=n would change the timing.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://g

[2017-03-17 02:30] ncdc commented on #43263
@smarterclayton I think you misread what I wrote 😄

[2017-03-17 02:30] bizhao opened #43264 "test [k8s.io] DNS [It] should provide DNS for the cluster [Conformance] failed against a local cluster due to failed to get pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
 Unable to read wheezy_tcp@kubernetes.default from pod
---

**Is this a BUG REPORT o

[2017-03-17 02:30] ethernetdan commented on #43196
@shashidharatd what is the status of this?

[2017-03-17 02:32] madhusudancs commented on #43196
@ethernetdan this is not a 1.6 blocker.

[2017-03-17 02:34] shashidharatd commented on #43196
i will check and fix this issue soon.

[2017-03-17 02:43] ethernetdan commented on #43187
I was talking to @ixdy about this the other day and we were thinking that the ingress test exits successfully but theres another test in the MasterUpgrade suite is blocking.

Could potentially be related to AppArmor tests as they were recently added. This could be checked this by looking to see if this failure occurs on non-GCI runs because the AppArmor tests should be disabled there.

[2017-03-17 02:45] ethernetdan commented on #43193
Fixes are in the works (#43243) but I don't think we should block for this job.

[2017-03-17 02:50] ethernetdan commented on #43228
@skriss @timothysc do we want to add a cleanup step after the 1.5 e2es or is there a more elegant way to fix this?

[2017-03-17 02:54] bizhao commented on #43094
Looks similar with my open issue #43264.
I followed the link OF junit_02.xml at page https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/5940/ and see same error messages like:
Unable to read jessie_tcp@dns-test-service from pod dns-test-4a61d505-08ea-11e7-b82f-0242ac11000a: the server could not find the requested resource (get pods dns-test-4a61d50

[2017-03-17 02:59] ikaven1024 opened #43266 "TestSnippetWriter failed when run go cover tesst"
I am using [v1.3.10](https://github.com/kubernetes/kubernetes/tree/v1.3.10), and run cover test with it. And failed in `TestSnippetWriter`
[code]
log the error gotten in the case is`snippet_writer_test.go:77`, but expected `snippet_writer_test.go:78`.

But it passed when run test without cover.

[2017-03-17 03:00] liggitt commented on #42045
That looks like the user I'd expect for the `master<->kubelet` communication (added in https://github.com/kubernetes/kubernetes/pull/42675 and https://github.com/kubernetes/kubernetes/pull/41207)

That PR set up [authorization rules](https://github.com/kubernetes/kubernetes/pull/41207/files#diff-6e3b476b9225d1213dc6ad13e453fc16R1109) for that user, but it looks like the `/stats` call takes POST re

[2017-03-17 03:08] liggitt commented on #42045
moving to blocker, impact is to the node/proxy API, not just the resource monitor

[2017-03-17 03:12] liggitt commented on #43266
that test was removed in 1.5. if you look closely, it even apologized for being terrible :)

[2017-03-17 03:12] #43266 closed

[2017-03-17 03:17] thockin commented on #35486
clean tree

edit pkg/api/v1/types.go

add 'FooBar string `json:"foobar"`' to struct pod

run ./hack/verify-generated-protobuf.sh

[code]

[code]

run ./hack/update-generated-protobuf.sh

[code]

On Thu, Mar 16, 2017 at 7:28 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-03-17 03:21] liggitt commented on #42976
closing this as fixed by https://github.com/kubernetes/kubernetes/pull/43122

@brendandburns if you can recreate with that fix or have more info that indicates a different issue, please reopen

[2017-03-17 03:21] #42976 closed

[2017-03-17 03:23] NickrenREN commented on #43138
Maybe it is resolved in https://github.com/kubernetes-incubator/external-storage/issues/28
/close

[2017-03-17 03:34] Random-Liu opened #43267 "CRI: Docker image filter will be deprecated in v17.12"
We are using `filter` to filter images when listing.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_image.go#L32
https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/docker/engine-api/client/image_list.go#L26

However, when @xlgao-zju works on cri-tools, he found that the behavior of this filter is different between Docker 1.12 and 1.13. If we

[2017-03-17 03:55] anhowe commented on #43233
Jenkins is now passing 100% on 3 master HA.  Also, logs no longer show the removal of the dashboard nodeport from registry.  I confirmed this for kubectl apply as well on the dashboard file.

Thanks for the fix!

[2017-03-17 03:57] thockin commented on #43233
Thanks for the challenging bug.  It reminded me how much I hate this code :)

On Thu, Mar 16, 2017 at 8:55 PM, anhowe <notifications@github.com> wrote:

[2017-03-17 04:02] smarterclayton commented on #35486
I had a bad directory.  From a clean environment on Linux Centos 7.3:

hack/update-generated-protobuf.sh uses protoc 3.0.0. # This does not update pkg/api/v1/types.go

hack/update-generated-protobuf-dockerized.sh with protoc 3.0.0 updates
hack/update-generated-protobuf-dockerized.sh with protoc 3.1.0 updates
hack/update-generated-protobuf-dockerized.sh with protoc 3.2.0 updates

I think this is a

[2017-03-17 04:05] smarterclayton commented on #35486
build/common.sh kube::build::copy_output() does not copy types.go back out.

[2017-03-17 04:07] smarterclayton commented on #43263
= so fast - they parallelize well.  If you don't have short tests parallelism doesn't help much because of how ginkgo distributes tests, which is something they just fixed for us.

[2017-03-17 04:10] smarterclayton commented on #35486
Fix up.  We need to have pkg/api fail if public fields don't have a proto tag, will add that.

[2017-03-17 04:16] greg-jaunt commented on #33884
I'm hitting the problem described in the original post (master nodes are being used by AWS ELBs for routing service traffic, but they should not be).  The discussion here has diverged from the original problem.

In AWS, master nodes will typically be run on instance types with fewer vCPUs than the worker node instance types to save cost.  In AWS, nodes with fewer vCPUs typically also have lower av

[2017-03-17 04:25] xiangpengzhao commented on #42620
Thanks @andrewsykim ! Reasonable:)

[2017-03-17 04:26] janetkuo commented on #43218
The key difference here is `affinity.podAntiAffinity.requiredDuringSchedulingIgnoredDuringExecution.namespaces`.

In the config file:
[code]

Note that in the config file, `namespaces: []` (empty list); however, in the live DaemonSet object (created from the config file), `namespaces: null` (null list). From the field description, empty list and null list are different.

[code]

[2017-03-17 04:27] smarterclayton commented on #30120
We can consider this for 1.7

[2017-03-17 04:27] smarterclayton commented on #30120
@kubernetes/sig-apps-features

[2017-03-17 04:29] smarterclayton commented on #35486
And added a test.

[2017-03-17 04:33] smarterclayton commented on #36891
We'll be too busy fixing distributed quota bugs.  Oh, and acl races on
getting access to a namespace

On Mar 15, 2017, at 11:45 AM, Derek Carr <notifications@github.com> wrote:

i acknowledge that we will have this discussion again in 4 mos, and we will
discuss if the presence of user api servers makes this better/worse ;-)

—
You are receiving this because you commented.
Reply to this email direc

[2017-03-17 04:40] divyenpatel opened #43272 "volume remains mounted after removing pod"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: vsphere
- **OS** (e.g. from /etc/os-release): photon
- **Kernel** (e.g. `uname -a`): Linux node3 4.4.8-esx #1-photon SMP Tue Jun 7 08:04:49 UTC 2016 x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What

[2017-03-17 04:51] liggitt commented on #43218
see https://github.com/kubernetes/kubernetes/issues/43203#issuecomment-287237992

[2017-03-17 04:53] liggitt commented on #43218
cc @kubernetes/sig-scheduling-bugs for behavior of namespaces field

[2017-03-17 04:55] janetkuo commented on #43218
@lukaszo so it's not a DaemonSet bug

[2017-03-17 04:57] liggitt commented on #43218
well, still not sure whether SemanticEqual should be used or not

[2017-03-17 05:20] akgunjal commented on #43138
@NickrenREN : Yes the issue is now resolved.

[2017-03-17 05:20] #43138 closed

[2017-03-17 05:33] roberthbailey commented on #43160
The last 4 runs of this test have all been green. Furthermore, there was a GCE networking issue yesterday (https://status.cloud.google.com/incident/compute/17006). The report claims it didn't start until after this test run finished but there were reports from earlier in the day on slack that folks were having trouble reaching instances in us-central1. I'm going to chalk this up to platform instab

[2017-03-17 05:33] #43160 closed

[2017-03-17 05:35] roberthbailey commented on #40787
I think that this test suite is pinned against a static version and not tracking either the master branch or a release branch. So it shouldn't be evaluated when looking at whether we should cut a release.

[2017-03-17 05:38] k8s-merge-robot opened #43274 "ci-kubernetes-e2e-gci-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5935/
Multiple broken tests:

Failed: [k8s.io] EmptyDir volumes should support (non-root,0777,default) [Conformance] [Volume] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Probing container with readiness probe should not be ready before initial delay and never restart [Conformance] {Kubernetes e2e suite}

[2017-03-17 05:39] #43233 closed

[2017-03-17 06:04] kuncao opened #43276 "Error from server (Forbidden): the server does not allow access to the requested resource (post replicationcontrollers)"
when run some command ,error occur:
/home/kubernetes/cluster/ubuntu/binaries# ./kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4", GitCommit:"7243c69eb523aa4377bce883e7c0dd76b84709a1", GitTreeState:"clean", BuildDate:"2017-03-07T23:53:09Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Error from server (Forbidden): the server does not allow acces

[2017-03-17 06:09] ikaven1024 commented on #43266
go test cover will change the line? Whether does mechanism of go test cause it?

[2017-03-17 06:14] 2014qirong commented on #34396
was this solved ?@rahul8590

[2017-03-17 06:23] #43147 closed

[2017-03-17 06:26] liggitt commented on #43266
`go test -cover` rewrites sourcecode internally to insert counters to test line coverage, but that changes the fixed line number

[2017-03-17 06:52] kozikow opened #43279 "Container pods stuck ins tate unknown"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**:
Pods are stuck in "Unknown" state. Those pods can't be deleted. Cluster got into this state when I have been submitting many pods at once.

**What you expected to happen**:
I can delete those

[2017-03-17 06:58] krousey commented on #34856
The server side change made it in 1.5 (and I actually think it was cherry-picked into a 1.4 patch release). We only guarantee client compatibility one minor revision in either direction. This could be in 1.6 (probably too late now).

[2017-03-17 07:10] #35486 closed

[2017-03-17 07:13] djtm commented on #19464
This might be fixed: https://github.com/google/cadvisor/pull/1299

[2017-03-17 07:30] kozikow commented on #43279
Problem was "solved" when I move the cluster to a new node pool.

[2017-03-17 07:30] sttts commented on #43246
It only loops infinitely, godep fun. No boom ;-)

I can reproduce the issue with godep v74 and v79 (latest). The actual issue leading to @timothysc's DING, BANG, BLURPT, BLOOP: the staging dirs are not copied into vendor. Instead we get:

[code]

[2017-03-17 07:34] kuncao commented on #43276
root@SZV1000240235:/home/kubernetes/cluster/ubuntu/binaries# ./kubectl get nodes
the server doesn't have a resource type "nodes"
root@SZV1000240235:/home/kubernetes/cluster/ubuntu/binaries# ./kubectl get pods
the server doesn't have a resource type "pods"

[2017-03-17 07:36] pires commented on #1443
I believe we should.

You've outlined more details than I could think of. The arithmetic concerns are spot on!

Now, from the top of my head, I think most issues will happen with:
* kube-proxy and the kubelet, which expose a few flags related to IP addresses + deal a lot with IPTables - I'm left wondering how to properly manage virtual IPv6 addresses (for services);
* CNI plug-ins;
* Bootstrap new

[2017-03-17 07:37] kuncao commented on #43276
./kube-apiserver \
 --service-cluster-ip-range=10.1.0.1/24 \
        --etcd-servers=http://127.0.0.1:4001 \
        --advertise-address=100.109.165.127 \
        --bind-address=100.109.165.127 \
        --insecure-bind-address=100.109.165.127 \
        --v=4
log infor
W0317 15:16:55.425419  130979 storage_extensions.go:137] third party resource sync failed: the server does not allow access to the

[2017-03-17 08:05] k8s-merge-robot opened #43280 "TearDown Previous {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/4325/
Failed: TearDown Previous {e2e.go}

[code]

Previous issues for this test: #38658 #39873 #40370 #40450 #40461 #40473 #40479

[2017-03-17 08:05] Van-Tien commented on #39224
Noone can help ? I got same issue
root@kube01:~/kubernetes/cluster# KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
... Starting cluster using provider: ubuntu
... calling verify-prereqs
Identity added: /root/.ssh/id_rsa (/root/.ssh/id_rsa)
... calling verify-kube-binaries
!!! kubectl appears to be broken or missing
!!! Cannot find kubernetes-server-linux-amd64.tar.gz
!!! Cannot find kubernetes-salt.tar.g

[2017-03-17 08:10] hiscal2015 commented on #2707
+1
We have the same issue to start elasticsearch with Kubernetes.

[2017-03-17 08:14] sttts commented on #43246
I started to fix this in godep (https://github.com/sttts/godep/commit/3d6ab66a0550070153c1a98a86196fbc5a6a5b5f) but eventually realized that it's the wrong approach. The problem is not that godep is exploding due to nested paths, but the issue is that we put godep into a situation that is unsolvable with the Godeps.json data model:

How should the `ImportPath` look like for the apimachinery+apiser

[2017-03-17 08:48] jszczepkowski commented on #10782
@bitbyteshort
You are referring to old, obsolete design. For the current design proposal please see https://github.com/kubernetes/community/pull/338.

[2017-03-17 08:50] wangycc opened #43281 "How is kubernetes node name set?"
I'm trying to get past the issue mentioned here: https://github.com/kubernetes/kubernetes/issues/11543

I have a Kubernetes cluster AWS running on Centos7.The issue is when aws cloud provider tries to lookup the instance, it tries to lookup by matching ec2's private-dns-name property with the hostname. The private-dns-name uses region.compute.internal domain , the lookup always fails. I'm trying t

[2017-03-17 08:54] davidopp commented on #43276
Please ask your question on StackOverflow
http://stackoverflow.com/questions/tagged/kubernetes
or send to the mailing list kubernetes-users@googlegroups.com

[2017-03-17 08:54] #43276 closed

[2017-03-17 08:54] asifhj commented on #39224
Try this https://github.com/kubernetes/kubernetes/pull/43215

On Fri, Mar 17, 2017 at 1:36 PM, Tien Dinh <notifications@github.com> wrote:

--
*{*
* "Regards" : {*
* "Name"      : "Asif J.",*
* "Cell"         : "+91 97385 47018",*
* "Github"    : "asifhj",*
* "Skype"     : "asif.h.j",*
* "LinkedIn" : "https://www.linkedin.com/in/asifhj
<https://www.linkedin.com/in/asifhj>"*
* }*
*}*

[2017-03-17 09:18] dixudx commented on #43211
I can't reproduce this. It has nothing to do with `Pod`'s age.

[2017-03-17 09:53] k8s-merge-robot opened #43283 "ci-kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/1401/
Multiple broken tests:

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37774

Failed: [k8s.io] Generated release_1_5

[2017-03-17 10:03] liyubobj commented on #43240
Yes, we need to replace `dockertools.DockerInterface` to CRI api instead.

[2017-03-17 10:06] liyubobj commented on #42971
You need to expose host GPU driver or install GPU driver into container. In current k8s GPU support, GPU driver volume injection is not supported. Please refer to this proposal: https://github.com/kubernetes/kubernetes/pull/43058

[2017-03-17 10:12] timchenxiaoyu commented on #42971
I have solve this to upgrade the cuda version,ths all

[2017-03-17 10:12] #42971 closed

[2017-03-17 10:12] dlsniper commented on #33884
Based on the comment from @greg-jaunt maybe another solution could be to tag the node if it should be excluded from the load balancer for a certain service? That way you could potentially take a node out of the LB for a certain service but keep it for another service if so desired.

[2017-03-17 10:26] thatsk commented on #21941
I also got problem while using glcoud container

[2017-03-17 11:15] pettair commented on #42963
I gave it an other try :) but still dont work. I tried to add the subnets manually to the yaml file as it was described in  [Add service annotation for AWS ELB zones...(https://github.com/kubernetes/kubernetes/issues/42957)
[code]

The issue is still the same, all instances are registered to the ELB, but only one subnet gets registered. What is strange cause the sole subnet which is registered to

[2017-03-17 11:50] matthiasr commented on #17470
it seems there is more concrete work ongoing for this: #38969 #38817

Related mail thread: https://groups.google.com/forum/#!topic/kubernetes-sig-network/59HG9SlypBc

[2017-03-17 11:56] jsafrane commented on #43261
I have a fix for `storageclasses.storage.k8s.io "default" not found` in #43285. I did not analyze the other errors in this test run!

[2017-03-17 11:57] k8s-merge-robot opened #43286 "AfterSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-test/1748/
Failed: AfterSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #29933 #34111 #38765

[2017-03-17 12:01] peay commented on #33483
I have the same use case too. Internal load balancers would be great, although automatic generation of the service bastion route and exporting service names to the metadata/DNS server as mentioned by @vdm would be even better.

This would greatly enhance our ability to interface services in GKE with other GCP products easily, especially in a CI/CD environment where there can be many namespaces and

[2017-03-17 12:08] mogthesprog opened #43287 "Support Azure Virtual Machine Scale Sets"
Tracking issue for tracking work on Virtual Machine Scale Set (VMSS) Support in Azure.

I've discussed a little bit with @colemickens and here are some the high level goals for this work:

(edit by @feiskyer and converting it to a list of TODOs)

* [x] Add vmType params to support both VMSS and standard VM type in Azure #55833
* [x] ~~Support concurrent creation of Service Resources~~
* [x] LB Rul

[2017-03-17 12:09] mogthesprog commented on #43287
Early days, but here is the beginning of the work, still aquite a bit to do i think.
https://github.com/kubernetes/kubernetes/compare/master...mogthesprog:morganj/azure-v2-provider

[2017-03-17 12:12] urzds commented on #38969
Is this a duplicate of issue #17470?

[2017-03-17 12:25] paulharter opened #43288 "fluentd stuck in a bad state"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): fluentd logging crash

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-03-17 12:50] lvjiangzhao opened #43290 "NoExecute Taint and toleration doesn't work in my cluster"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kube

[2017-03-17 12:51] neelance opened #43291 "Data loss when accidentally removing "partition" field"
**Kubernetes version**: 1.5.3

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**:
I wanted to migrate from directly referencing a GCE disk in the pod spec to using PVs and PVCs. We had already done this for several other disks. This particular disk however had the field "partition: 1" set, which I missed and thus did not add to the PV. What happened is that Ku

[2017-03-17 12:56] kanor1306 opened #43292 "Static pod not being stopped when removing manifest"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** static-pod, etcd, remove, delete

---

**Is this a BUG REPORT or FEATURE REQUEST?** BUG REPORT

**Kubernetes version** : v1.5.1

**Environment**:
Two independent clusters, same configuration and hardware. Only difference, cluster A uses a single node etcd cluster deployed in the master

[2017-03-17 13:12] timothysc commented on #43246
Unless the repos are lock-step in sync via something like git-submodules + enforcement w/tags there will always be issues.  A big part of this is code-hygiene and dependency management.

I'll work over the course of 1.7 to isolate deps in the e2es, but it's pretty clear this rabbit hole is both deep and wide.

[2017-03-17 13:22] liggitt commented on #38060
not seeing anything api-machinery related in the current failures

cc @kubernetes/sig-storage-bugs @jsafrane for the default storage class failures (related to #43202?)

cc @kubernetes/sig-node-bugs for the kubelet "Memory usage exceeding limits" error

[2017-03-17 13:22] gyliu513 opened #43293 "`kubectl get` help do not include `cronjobs`"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-17 13:27] liggitt commented on #43291
cc @kubernetes/sig-storage-bugs

[2017-03-17 13:30] gyliu513 commented on #43046
Yes, the `readiness probe` can only help for scale up, but does not help when scale down.

[2017-03-17 13:33] gyliu513 commented on #43043
Thanks @rata and @tomzhang , will dig more for this by using different parameters, this also seems related to https://github.com/kubernetes/kubernetes/issues/9673 , close this for now.

[2017-03-17 13:33] #43043 closed

[2017-03-17 13:41] timothysc commented on #43246
This whole repo-splitting idea needs to be more throughly vetted... imo.

[2017-03-17 13:54] humblec commented on #37625
@TerraTech @olmoser @hiscal2015 can u give some more context abt the issue. Are these PVCs statically provisioned or dynamically provisioned? If these are statically provisioned, can you please create an endpoint and service in the namespace where you run the pod which make use of subjected PVClaim ?

[2017-03-17 14:02] ncdc commented on #43263
I tried my hand at fixing this. PTAL at https://github.com/kubernetes/test-infra/pull/2283

[2017-03-17 14:17] mattymo commented on #40536
https://github.com/kubernetes/kubernetes/issues/42995 should be considered for the list

[2017-03-17 14:23] smarterclayton commented on #34856
We have never really made a statement about client library.  And I'm not
sure I agree with it in this case.  Our policy is the minimum, not the
maximum.

On Mar 17, 2017, at 2:59 AM, krousey <notifications@github.com> wrote:

The server side change made it in 1.5 (and I actually think it was
cherry-picked into a 1.4 patch release). We only guarantee client
compatibility one minor revision in eithe

[2017-03-17 14:42] felipejfc commented on #41640
We are still hitting this issue with kubernetes 1.5.4
It seems to be the communication between kubernetes node and external services.
We are seeing increasing response times on selects on our databases when a lot of data is grabbed from them...

[2017-03-17 14:47] lukaszo commented on #43218
deployments are using `apiequality.Semantic.DeepEqual` https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/util/deployment_util.go#L731 Maybe we should also switch?

[2017-03-17 14:53] justinsb opened #43299 "Watch one object by name?"
I'm trying to figure out how to do a watch on a single-object, by name.

client-go has `Watch` which takes `ListOptions` which can filter by label, but not by name.  Is there a magic label which matches the name?

I had a look at kubectl (`kubectl get pod <name> --watch --v=8`), which does a GET on `/api/v1/namespaces/<ns>/pods/<name>` followed by a GET on `/api/v1/watch/namespaces/<ns>/pods/<name

[2017-03-17 14:57] jsravn opened #43300 "EBS fails to detach after controller manager is restarted"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
EBS
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kub

[2017-03-17 14:59] jsravn commented on #43300
@jingxu97 do you know if there are any existing bugs that match the symptoms I'm seeing?

The closest I can find is https://github.com/kubernetes/kubernetes/issues/34242, but that is only if a pod is deleted during restart. In my case it happens when a pod is deleted after controller manager is restarted.

[2017-03-17 15:05] krousey commented on #34856
We actually did make a [statement](https://github.com/kubernetes/community/blob/854e9518703851ec79e26a47d46a0c70d829fe37/contributors/design-proposals/versioning.md#supported-releases-and-component-skew) about clients:

We added that particular wording in [1.3](https://github.com/kubernetes/kubernetes/blob/release-1.3/docs/design/versioning.md#supported-releases-and-component-skew)

And yes it is

[2017-03-17 15:08] jsravn commented on #43300
This is what I see in controller manager logs (here vol-02f69898d700456b0 fails to detach, i've filtered on all logs with that id):

![screenshot from 2017-03-17 15-05-22](https://cloud.githubusercontent.com/assets/522123/24049214/467a328c-0b23-11e7-8b1a-dc07d883a867.png)

In this case 10.50.241.133 got stopped at 15:58, and 10.50.246.14 started at the same time. Then when the pod got deleted at 1

[2017-03-17 15:14] jsravn commented on #43300
To clarify we've seen this a few times but I've been unable to reproduce it manually. When it happens though it's always shortly after a controller manager restart (which is pretty rare for us, happens maybe once every couple weeks).

[2017-03-17 15:27] jwhitcraft commented on #42963
@pettair the reason that it didn't work is because that feature is not implemented yet. I've started working on a poc for it but haven't made much progress yet.

I'm hoping to have something up in the next week or so.

[2017-03-17 15:30] JackyChen255 commented on #42919
Any update here? I ran into the same issue after following this instruction to install Kubernetes in CentOS 7.2. https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

[2017-03-17 15:38] soltysh commented on #43168
That's not quite clear to me, your CronJob definition looks just fine. The removal of a job you've posted earlier removed the job successfully, as well. Can you please give me more or less a timeline of events what's happening (kubectl output) and when, I can't figure out the exact steps to reproduce your problem.

[2017-03-17 15:47] shiywang commented on #43126
hi, tony, sorry, I haven't look at this problem yet, maybe tomorrow, just really busy recent day, you can take it if you already find the problem, thanks

[2017-03-17 15:47] jsafrane commented on #38060
yes, storage class will be fixed by  https://github.com/kubernetes/kubernetes/pull/43285

[2017-03-17 15:49] shiywang commented on #43293
will make a pr to address that

[2017-03-17 16:21] tonylambiris commented on #34726
Please reconsider this option, we leverage the zram module to enable volatile swap space for our custom RHEL-based distribution using a systemd service file `zramswap.service`<sup>[1](#zramswap)</sup>:

[code]

Could anyone be able to explain the technical merits behind making this decision in the first place?

Thanks in advance.

 <a name="zramswap">1</a>: https://aur.archlinux.org/packages/zrams

[2017-03-17 16:30] rootfs commented on #43291
also see of #13212

The disk probe function [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L398) uses `lsblk -nd`. `-d` skips holder devices or slaves according to [lsblk manpage](https://linux.die.net/man/8/lsblk), thus no partition is probed.

[code]

[2017-03-17 16:31] liggitt commented on #43299
watch with a field selector of `metadata.name=<name>`:

[code]

[2017-03-17 16:39] marun commented on #43200
@saad-ali Any indication of whether this should continue blocking the release?

[2017-03-17 16:40] Jan-M commented on #41015
While this topic is on updating everything one step in the right direction for us would be to allow the modification of the volume claim template, too. We are currently building a PostgreSQL operator using Patroni and while we are able to resize underlying volumes (AWS ebs, google persistant disks) on the fly there is no way to reflect those changes in the claim template. Therefor new nodes added

[2017-03-17 16:41] sttts commented on #43246
Honestly, I don't have a problem to expect more Golang dependency expertise from people vendoring kube itself. Client-go is our lib for 3rdparties. If people depend on kube directly, they either do something outside of the supported area "on their own risk" or our client-go misses something we should expose.

Not sure about your e2e use-case here. Sounds like something where documentation would do

[2017-03-17 16:43] jayunit100 commented on #34348
To be summarize from the other issues on where we are at between webhooks and initializers (two ways of making admission controller-ish behaviour easy for anyone to glom-on to a running binary):

- this issue will only really be closed if for some reason the strict super set merges.
- the super set is kubernetes/community#132 , above.
- 132 combines *both* (1) initializers and (2) webhooks into a

[2017-03-17 16:52] marun commented on #43236
@calebamiles This looks like a transitory test-infra issue.  Why should it be blocking the release?

[2017-03-17 16:56] timothysc commented on #43246
There have been a number of folks wanting to wrap+extend+augment, and openshift does the same thing.  Either way, I think documentation is the most sane path until dependencies can be refactored and isolated.

[2017-03-17 16:56] enisoc commented on #43102
This appears to be "fixed" in the sense that the test is now failing rather than being marked as skipped:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-master/23/?log#log
[code]

[2017-03-17 16:56] #43102 closed

[2017-03-17 17:02] sttts commented on #43246
Big question is: where can we document this? In some md file nobody will notice. As a warning in godep-restore.sh?

[2017-03-17 17:02] ericchiang commented on #42654
Also when we do this I'd like to take a look at modifying the claim prefixing behavior (https://github.com/kubernetes/kubernetes/issues/31380). Maybe let users just prefix values with `oidc:` instead of the full issuer URL.

[2017-03-17 17:09] #43024 closed

[2017-03-17 17:22] liggitt commented on #43299
also, as of https://github.com/kubernetes/kubernetes/pull/41722 that's the method kubectl uses

[2017-03-17 17:23] ethernetdan commented on #43236
Unless it reoccurs I don't think it should

[2017-03-17 17:25] marun opened #43310 "[k8s.io] Daemon set [Serial] Should not update pod when spec was updated and update strategy is OnDelete {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/968/

Failed: [k8s.io] Daemon set [Serial] Should not update pod when spec was updated and update strategy is OnDelete {Kubernetes e2e suite}

[code]

Job failure issue: https://github.com/kubernetes/kubernetes/issues/43261

cc: @kubernetes/sig-testing-misc

/assign @janetkuo

[2017-03-17 17:26] marun commented on #43261
@janetkuo is working on a fix for the daemonset failure, see linked issue.

[2017-03-17 17:29] thockin commented on #43238
On Thu, Mar 16, 2017 at 7:12 PM, Clayton Coleman
<notifications@github.com> wrote:

It was more than map, but I have to go back to my old notes.  I
decided it was too clever, and I still think it is.

We model a Go `[]Foo` as an optional `FooList` proto message
containing `repeated Foo`.  To model a Go `map[string][]Foo`, proto
has to add ANOTHER indirection, because every map key must have a
valu

[2017-03-17 17:30] gflarity commented on #38988
@davidopp
Trying to wrap my head around what's happening.  Here's what it sounds like to me, could you please fill in the blanks here:

It sounds as if the label data is stored inside the K8s (etcd?) and there's some kind of fingerprint used to associate that the label data with a vm/node. If you stop a VM and then start it again on GCE it the finger print changes and so it looks like a different

[2017-03-17 17:31] marun commented on #43206
@justinsb Should this be blocking 1.6?

[2017-03-17 17:32] thockin commented on #43238
My previous attempt: #38052

On Fri, Mar 17, 2017 at 10:30 AM, Tim Hockin <notifications@github.com>
wrote:

[2017-03-17 17:34] jsravn commented on #43300
So digging more, my use case actually has the controller restart a few times over a 15 minute period (each controller is being updated, then restarted in a rolling deploy). In this case, the first restart looks fine - the informer updates the controller managers view of the world correctly. But for the subsequent restarts over the 15 minute period, the desired state of the world is not updated. Su

[2017-03-17 17:38] asifhj commented on #7996
Faced same issue on

KUBE_VERSION=1.5.4
FLANNEL_VERSION=0.7.0
ETCD_VERSION=3.0.14

docker version: 17.03.0-ce

was not able to ping to pods on other nodes.

After degrading the docker to Server Version: 1.10.3 started working.

[2017-03-17 17:41] kow3ns commented on #35941
@saad-ali Are there any thoughts as to how this will interact with the PersistentVolumeController and PersistentVolumeClaims. In particular

1. If we resize a PV and it is larger than a bound PVC I would assume nothing should happen as the PVC is bound to a PV that satisfies its storage requirements.
2. If we resize a PV to a value that is smaller than a bound PVC will it automatically unbind the

[2017-03-17 17:43] ethernetdan commented on #43198
@roberthbailey PTAL, this is release blocking

[2017-03-17 17:58] jsravn commented on #43300
I think the right approach here would be to requeue the pod for processing once nodes have finished syncing, same as other controllers do.

[2017-03-17 18:03] krousey commented on #43102
@enisoc @ixdy I mentioned this in slack, but fixed by https://github.com/kubernetes/kubernetes/pull/43254. My bad.

[2017-03-17 18:04] marun commented on #38060
``[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}`` is reported by sig/node as not release blocking.

[2017-03-17 18:07] jingxu97 commented on #43300
@jsravn just discussed with @saad-ali, it seems possible to have this race when controller manager is restarted. I will add some log to test and confirm it. Could you also help add a log in this line https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/attach_detach_controller.go#L245 and test with your setup? Thanks!

[2017-03-17 18:07] caesarxuchao commented on #34856
@bdbauer could you help debug https://github.com/kubernetes/kubernetes/issues/34856#issuecomment-287227594?

[2017-03-17 18:25] skriss commented on #43187
@krousey this test run is showing a similar hanging behavior - any idea what could be going on here?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-latest-upgrade-master/569?log#log

I0317 09:51:19.754] Mar 17 09:51:19.753: INFO: Successfully deleted PD "bootstrap-e2e-bbe49362-0b2f-11e7-abc7-0242ac110003".
W0317 10:56:12.803] 2017/03/17 10:56:12 util.go:132

[2017-03-17 18:30] fejta commented on #43191
/unassign @rmmh
/assign @madhusudancs

[2017-03-17 18:32] janetkuo commented on #43218
If empty lists should be treated differently from null list, we should replace `apiequality.Semantic.DeepEqual` with `reflect.DeepEqual` in controller code.

[2017-03-17 18:39] kow3ns commented on #41015
@Jan-M We are working on rolling updates to StatefulSet's but atm we are not considering updating the VolumeClaimsTemplate in the first iteration. What would you expect updating a VolumeClaimsTemplate to do?
StatefulSet controller generates PVC from the VolumeClaimsTemplate that are provisioned manually or via the dynamic provisioner of the Cloud Provider plugin for your environment. The Persisten

[2017-03-17 18:52] aaronlevy commented on #43014
FWIW this change (https://github.com/containernetworking/cni/pull/407) resolved the issue with flannel in my tests - but other "official" CNI plugins may still need fixes.

[2017-03-17 18:56] skriss commented on #43187
@jszczepkowski

What i'm seeing in both of the linked logs above is that after the upgrade, the last line logged from the HPA upgrade test is

INFO: RC res-cons-upgrade: consume 250 millicores in total

And then nothing. @jszczepkowski can you check this out?

[2017-03-17 18:59] marun commented on #43135
@ethernetdan I think this can be moved out of 1.6.  The job in question was completely broken until recently, and this issue is for the last test run that failed.  The job has succeeded without error for the past 2 days:

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/

[2017-03-17 19:01] ethernetdan opened #43316 "Static IP Quota fails multiple upgrade jobs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**What happened**:
MasterUpgrade test fails due to static IP quota limits across multiple upgrade jobs:
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.6-upgrade-cluster/65#k8sio-upgrade-featureupgrade-k8sio-cluster-upgrade-should-maintain-a-functioning-clus

[2017-03-17 19:03] ethernetdan commented on #43187
That timeout is also much lower than the other upgrade tests - not sure if related

[2017-03-17 19:07] krousey commented on #43187
Other upgrade tests run a serial suite e2e after the upgrade. Upgrades and upgrade tests that succeed or fail without freezing typically finish in about 45-50 minutes.

[2017-03-17 19:08] krousey commented on #43187
Without the HPA tests, they finish within 30 minutes. HPA has a lot of long timers.

[2017-03-17 19:12] ethernetdan commented on #43316
/cc @kubernetes/test-infra-maintainers

[2017-03-17 19:17] ixdy commented on #43316
We were probably leaking static IPs in this project at some point.

It looks like the janitor has already cleaned up the leaked IPs, so I don't think there's anything to do here unless it happens again.

(Are the tests using more than 7 static IPs?)

[2017-03-17 19:18] vhosakot commented on #10278
I installed k8s using `kubeadm` in https://kubernetes.io/docs/getting-started-guides/kubeadm/.  I wanted to run `kubectl proxy` on the master, and access the k8s API from a different host (not the master) using the IP address (not `localhost`) of the master.

`172.18.7.245` is the IP address of my master, and after doing `kubectl proxy --port=8181 --address=172.18.7.245 --accept-hosts='^*$' &` on

[2017-03-17 19:20] liggitt commented on #43218
that distinction is going away in all the fields I know of... I'm not super happy with Semantic.DeepEqual masking the difference between those two things, but that's probably the right thing for you to be using

[2017-03-17 19:24] madhusudancs commented on #43191
/unassign @madhusudancs
/assign @justinsb

@justinsb can you please take a look?

[2017-03-17 19:28] marun commented on #43286
@ethernetdan This looks like a test infra failure, I think it can be moved out of 1.6.

[2017-03-17 19:29] skriss commented on #43187
Checked a 3rd run, it's the same HPA log pattern. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.5-gci-1.6-upgrade-master/27?log#log

Seems like autoscaling_utils.go line 147 send is blocking, but I don't see why.

[2017-03-17 19:30] marun commented on #43280
@ethernetdan This looks like a test infra failure, I think it can be moved out of 1.6.

[2017-03-17 19:31] BaluDontu commented on #43272
@saad-ali @jingxu97 : We are experiencing problem with detach, can u please take a look at this issue.

[2017-03-17 19:33] madhusudancs commented on #43198
/unassign @madhusudancs

[2017-03-17 19:33] marun commented on #43274
@ethernetdan There have been 19 successful test runs after this failure, I think it can be moved out of 1.6.

[2017-03-17 19:42] davidopp opened #43317 "Scheduling policy"
In https://github.com/kubernetes/kubernetes/pull/43271#issuecomment-287398475 @derekwaynecarr said "i would like @kubernetes/sig-scheduling-misc to start thinking about a PodSchedulingPolicy object that I could use to provide more granular control where its needed. So if I do not want to let pods in namespace A stalk pods in namespace B, I should be able to control that via policy. For example, I

[2017-03-17 19:42] childsb opened #43318 "VM name has overwritten nodeName after enabling cloud provider"
Have master and node enable vsphere cloud provider, then restart the services. When the node service is restarted, the node name is overwritten with vSphere's VM names.

[2017-03-17 19:45] childsb opened #43319 "Unable to provision vSphere volume if PVC's requested size does not have unit"
The other provisioners allow a number only size for provisioning and assumes a default (usually gigs).  This doesn't work in vsphere provisioned volumes.

StorageClass:
[code]

PVC:
[code]

[2017-03-17 19:48] saad-ali commented on #43200
These tests were broken and marked flaky so they used to not run in the main test-suites.

PR #https://github.com/kubernetes/kubernetes/pull/40609 incorrectly removed the flaky tag.

PR https://github.com/kubernetes/kubernetes/pull/40924 re-added the flaky tag, but did not get all the tests.

I'll send out a PR to mark these as flaky as well:
[code]

CC @copejon @jeffvance

[2017-03-17 19:49] cmluciano commented on #43245
@blakebarnett for reproducing, can you provide a bit more context on how many pods and the state of CPU/MEM/DISK on each? Also are you using the default for the scheduler or have you modified predicates/priorities?

[2017-03-17 19:53] marun commented on #43262
@dchen1107 This looks like a test infra failure.   Does it need to block 1.6?

[2017-03-17 19:54] ethernetdan commented on #43316
/cc @skriss @krousey

[2017-03-17 19:55] bytesandwich commented on #1806
It seems like mounting the docker socket makes the most sense as the solution to run builds in k8s. If I mount the docker socket and run docker build and then docker push from a pod, I end up with images taking up disk and inodes, and I want to make sure these images won't cause capacity problems. I'm trying to resolve two questions:

1. Will kubelet include these images in 'all unused images' [fr

[2017-03-17 20:00] bgrant0607 commented on #1462
cc @kow3ns

[2017-03-17 20:00] saad-ali commented on #43200
The Pod disk tests:
[code]

Are behaving correctly:
* They are green on GCE serial
* They are skipped on GKE serial in normal test runs.
* They are red in some instances on GKE serial (as pointed out in the original issue) because of infrastructure issues that cause the test setup steps (before the test itself even runs and determines it will be skipped) to fail:
[code]

This bug should not be con

[2017-03-17 20:02] davidopp opened #43320 "Restore ability to specify "all namespaces" in podAffinityTerm.namespaces"
#43271 by @liggitt removed the ability to specify "all namespaces" in `podAffinityTerm.namespaces` because it was relying on distinguishing between empty and nil list which doesn't really work. We should decide if we want to add this feature back, and if so, how to do it. @liggitt mentioned the overall options here: https://github.com/kubernetes/kubernetes/issues/43203#issuecomment-287237992

Pers

[2017-03-17 20:03] saad-ali commented on #43063
Fix is pending merge: https://github.com/kubernetes/kubernetes/pull/43307

[2017-03-17 20:09] roberthbailey commented on #43316
/cc @fejta

[2017-03-17 20:10] fejta commented on #43283
/unassign @rmmh
/assign @roberthbailey

Looks like we leak resources once per day (although most likely because some tests fail) - https://k8s-testgrid.appspot.com/google-gke#gci-gke-subnet&width=20

Robby would consider this GKE or network?

[2017-03-17 20:11] #43135 closed

[2017-03-17 20:12] janetkuo opened #43321 "`kubectl rollout` for overlapping deployments"
Forked from #43239

`kubectl rollout` commands (such as `undo` or `history`) should take deployment overlapping annotation into consideration; for example, when listing replica sets. It won't interfere with the other overlapped deployment, but may cause user confusions.

@kargakis @kubernetes/sig-apps-bugs

[2017-03-17 20:12] enisoc opened #43322 "Clean up Deployment overlap annotation code"
The Deployment overlap annotation (`deployment.kubernetes.io/error-selector-overlapping-with`) is no longer populated nor used by 1.6+ on the server side. However, in #43239 we maintained knowledge of the annotation for 1.6 clients in case they talk to pre-1.6 servers. That PR also adds code to clean up the annotation whenever it's found in 1.6+ clusters, so that pre-1.6 clients don't see it and m

[2017-03-17 20:12] krzyzacy commented on #43316
[The project looks pretty clean atm](https://pantheon.corp.google.com/compute/quotas?project=k8s-gke-upg-c1-4-c1-6-up-clu) - yeah I'd ask if more than 7 static IPs are used.

[2017-03-17 20:18] fejta commented on #43191
@justinsb if you need access to the GCP project please let me know, I can add you to it (contact me on slack)

[2017-03-17 20:18] vhosakot commented on #35536
I see this issue too with kubernetes `1.5.4` and kubernetes-dashboard image version `gcr.io/google_containers/kubernetes-dashboard-amd64:v1.6.0`.

I installed `kubeadm` referring https://kubernetes.io/docs/getting-started-guides/kubeadm/, and then installed kubernetes-dashboard by doing

[code]

I see the kubernetes-dashboard in `CrashLoopBackOff` status and the `k8s_kubernetes-dashboard.*` contai

[2017-03-17 20:19] roberthbailey commented on #43191
The error is:

[code]

The zone for the test is `us-central1-f`. So I'm guessing that the teardown step at the beginning of the test isn't trying to tear down resources from multiple zones, which causes it to fail when deleting the instance template.

If that's the case, then the test probably runs fine as long as its passing, but if teardown at the end ever fails, then it gets stuck in a loop whe

[2017-03-17 20:22] thockin commented on #39188
I've run into a lot of issues with ports being PATCHed wrongly through 1.6.  Do we believe these issues are fixed now?  I can't seem to repro them, but I wasn't dilligent in cataloging them all...

[2017-03-17 20:23] vhosakot commented on #31845
I see this issue too with kubernetes `1.5.4` and kubernetes-dashboard image version `gcr.io/google_containers/kubernetes-dashboard-amd64:v1.6.0`.

I installed `kubeadm` referring https://kubernetes.io/docs/getting-started-guides/kubeadm/, and then installed kubernetes-dashboard by doing

[code]

I see the kubernetes-dashboard in `CrashLoopBackOff` status and the `k8s_kubernetes-dashboard.*` contai

[2017-03-17 20:23] calebamiles commented on #43274
Thanks for looking at testgrid, @marun. Things look ok; closing this issue.

[2017-03-17 20:24] #43274 closed

[2017-03-17 20:25] roberthbailey commented on #43262
Was this a single flake or is it happening repeatedly?

[2017-03-17 20:26] roberthbailey commented on #43283
If we are leaking resources, that's a problem with the test.

/unassign @roberthbailey
/assign @bowei

[2017-03-17 20:28] enisoc opened #43323 "Clean up pre-ControllerRef compatibility logic"
As of 1.6, most workload controllers respect [ControllerRef](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/controller-ref.md) to avoid interfering with each other. However, kubectl 1.6 still had to support talking to a 1.5 server, so client-side compatibility logic was introduced in #43114 and #43239.

According to the [version skew guidelines](https://github.co

[2017-03-17 20:29] ethernetdan commented on #43150
Looks like this is failing again with a different error:
[code]

[2017-03-17 20:31] liggitt commented on #43262
I just saw it once and opened it as a search target in case others hit it

[2017-03-17 20:34] msau42 commented on #43150
This should be fixed by #43285

[2017-03-17 20:34] fejta commented on #43198
Here's a go.k8s.io/triage tool link that focuses on these three tests across all jobs:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Simple%20pod%20should%20handle%20in-cluster%20config%7CNginx%20should%20conform%20to%20Ingress%20spec%7CPreStop%20should%20call%20prestop%20when%20killing%20a%20pod

It shows that this seems specific to GKE -- 44-298 failures on GKE envs vs 1-

[2017-03-17 20:35] timothysc commented on #43320
+1 for *... are we punting this out to 1.6?

[2017-03-17 20:37] skriss commented on #43228
@wojtek-t do you have a sense of whether the 1-hr timeout here is still necessary?

https://github.com/kubernetes/kubernetes/commit/6b6b4098148e1afa289526f785a1a578b4d157be

As a quick fix for this issue just lowering the timeout value to something less than an hr would help.

[2017-03-17 20:43] enisoc opened #43324 "Create kubectl reaper version skew test"
We found a version skew issue with Deployment reaper in #43159, but it was only incidentally inferred while investigating a [failure to detect created ReplicaSets](https://github.com/kubernetes/kubernetes/issues/42738#issuecomment-285158244).

We should create an explicit version skew test that would have caught such reaper issues automatically.

[2017-03-17 20:50] enisoc opened #43325 "StatefulSetHasDesiredReplicas condition should check ObservedGeneration"
StatefulSet now [updates ObservedGeneration](https://github.com/kubernetes/kubernetes/pull/42429) as of 1.6. That means the TODO on [StatefulSetHasDesiredReplicas](https://github.com/kubernetes/kubernetes/blob/072e68f0a6da90f22333a96273e0107db3b2a1b8/pkg/client/unversioned/conditions.go#L82) can be fixed in 1.7. We could not fix it in 1.6 because that code is used by kubectl, which must work again

[2017-03-17 20:59] ethernetdan commented on #43150
Good to know, I'll leave open until we confirm in e2e

[2017-03-17 21:02] ethernetdan commented on #43261
Looks stable other than known issues affecting multiple suites.

[2017-03-17 21:02] #43261 closed

[2017-03-17 21:04] mtaufen commented on #19831
@bgrant0607 Was that implemented as --feature-config in the proposed components? The --feature-gates mechanism on the Kubelet is eerily similar to that proposal, modulo use of a ConfigMap.

[2017-03-17 21:09] timothysc commented on #43317
Why wouldn't this be an admission control policy?  Am I missing something?

[2017-03-17 21:10] ixdy commented on #43316
has this been failing in other jobs?

[2017-03-17 21:13] ixdy commented on #43316
answer: [yes](https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Failed%20to%20allocated%20static%20ip)

Given that the failures are very recently cluster, I'm going to guess this was caused by the AppArmor skip panic, and should be fixed by https://github.com/kubernetes/kubernetes/pull/43254.

[2017-03-17 21:13] #43316 closed

[2017-03-17 21:14] deimosfr opened #43327 "PodDisruptionBudget maxUnavailable request feature"
Hi,

I've started to play with PodDisruptionBudget and it's nice for a lot of use case. However, for distributed databases like Cassandra, Elasticsearch etc... minAvailable is not an optimal option because it has to be changed depending on the size of the cluster.

Those distributed databases are configured with a desired replicas. The number of replicas is critical for the cluster health. To give

[2017-03-17 21:15] timothysc commented on #43246
I think a note on the main page perhaps with a pointer to a script kubedep.sh ?

[2017-03-17 21:15] ethernetdan commented on #38060
Beyond known issues this job seems to have stabilized.

[2017-03-17 21:15] #38060 closed

[2017-03-17 21:16] thockin commented on #41678
Clarification, the value should be the name of the port.  The only case where a port is allowed to have no name is when there is a single port, in which case its name may be "" (or may be defined).

So I think this annotation should only be node names, i.e. not "443".

[2017-03-17 21:20] bsalamat commented on #43317
+1 to Tim's point. Wouldn't this be an admission policy?

[2017-03-17 21:23] thockin commented on #18604
This was "fixed" for some definition of fixed - apparently some
high-traffic sites still hit limits.

On Thu, Mar 2, 2017 at 3:26 AM, cobrowserAlex <notifications@github.com>
wrote:

[2017-03-17 21:25] thockin commented on #16508
@ixdy - are we building hyperkube as part of standard release?

On Mon, Mar 6, 2017 at 4:53 AM, Doug Davis <notifications@github.com> wrote:

[2017-03-17 21:25] #43159 closed

[2017-03-17 21:27] overip opened #43328 "Minion not able to join the master - failed to parse response as JWS object [square/go-jose: compact JWS format must have three parts]"
I have two machines behind a proxy in my network. One is a initialized k8s master and the other one should become the minion. They both are running on Ubuntu Desktop 16.04.
Here are the versions of the components

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVe

[2017-03-17 21:31] caesarxuchao opened #43329 "API server cannot parse query parameter propagationPolicy sent with a delete request"
https://github.com/kubernetes/kubernetes/pull/35806 makes API server accepts DeleteOptions as a query parameter, but APIserver cannot parse `?propagationPolicy=orphan`, which is a new field added in 1.6.
[code]
Probably it's a bug in the parameterCodec.

cc @lavalamp @smarterclayton @bdbauer

[2017-03-17 21:32] caesarxuchao commented on #43329
IMO this is not a 1.6 release blocker

[2017-03-17 21:34] wyc commented on #13753
Okay a new look tells me that it's prevented here:

https://github.com/kubernetes/kubernetes/blob/17e745631aa3af979628841d37bd42f27de3d2e8/pkg/cloudprovider/providers/aws/aws.go#L1199

This will make it to the implementor's guide.

[2017-03-17 21:38] davidopp commented on #43317
That's a good point. I think the feature request needs some clarification, but probably you're right that an admission controler is the right way to implement this.

[2017-03-17 21:39] divyenpatel commented on #43272
I used incorrect kubernete-anywhere ignition image.
closing this issue.

Not able to reproduce this issue with v1.5.4 with correct ignition image - docker.io/cnastorage/k8s-ignition:v1

@tusharnt

[2017-03-17 21:39] #43272 closed

[2017-03-17 21:46] liggitt commented on #43329
does this apply to all DeleteOptions fields? does a 1.5 server handle the orphanDependents field sent by https://github.com/kubernetes/kubernetes/pull/40576 correctly?

[2017-03-17 21:57] nicksardo commented on #41678
@thockin Should I go with `tls-port-names` to prevent user confusion?

To make sure I understand you correctly, in the case a service has a single unnamed port, it would be acceptable to have the annotation value = `"[ \"\" ]"`

[2017-03-17 22:00] thockin commented on #41678
I think tls-ports is ok, and yes

On Mar 17, 2017 2:57 PM, "Nick Sardo" <notifications@github.com> wrote:

[2017-03-17 22:00] #43328 closed

[2017-03-17 22:01] jayunit100 opened #43332 "[low priority] Fix and define semantics for --register-node WRT taint overwriting in the kubelet."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

master

**Environment**:

Any

**What happened**:

When using the kubelet's register-node option and restarting a kubelet,

1) If you provide a taint that overwrites an old one, the new taint isnt consumed.

2) The inheritance of old taints is hidden (non explicitly) behind how

[2017-03-17 22:01] ixdy commented on #16508
@thockin yes for official releases - e.g. you can `docker pull gcr.io/google-containers/hyperkube-amd64:v1.6.0-beta.4`, which was built earlier today.

[2017-03-17 22:02] ixdy commented on #16508
But a local `make quick-release` or `make release` won't build it unless you set `KUBE_DOCKER_IMAGE_TAG` and `KUBE_DOCKER_REGISTRY`.

[2017-03-17 22:05] ethernetdan commented on #43262
Haven't seen it since, move back if reoccurs

[2017-03-17 22:07] caesarxuchao commented on #43329
No, `?orphanDependents=true` is handled correctly by the apiserver built from head.

And for #40576, because our generated clients still encode DeleteOptions as body, so they are not affected.

[2017-03-17 22:12] #43310 closed

[2017-03-17 22:12] #43256 closed

[2017-03-17 22:12] #43063 closed

[2017-03-17 22:20] ravisantoshgudimetla commented on #43332
So, registered a node using command.

./kubelet --api_servers=http://192.168.150.7:8080 --v=2 --enable_server --allow-privileged --register-node=true **--register-with-taints=dec=asdasasdas:NoSchedule.**

The output of desc node is.
[code]

Now, I re-register the node manually using:
./kubelet --api_servers=http://192.168.150.7:8080 --v=2 --enable_server --allow-privileged --register-node=true **-

[2017-03-17 22:41] ethernetdan commented on #43228
These tests are significantly blurring signal, can we disable of the initial run of these tests and only run on an upgraded cluster?

I'd like this to be fixed by this weekend so we can have a better signal to release.

[2017-03-17 22:42] ethernetdan commented on #43228
@ixdy how hard would this be to do?

[2017-03-17 22:55] ixdy commented on #43228
I really don't understand how kubetest runs the upgrade tests. cc @fejta @krousey

[2017-03-17 23:04] bgrant0607 commented on #23233
kops addon type:
https://github.com/kubernetes/kops/blob/master/channels/pkg/api/channel.go

Example:
https://github.com/kubernetes/kops/blob/master/addons/kubernetes-dashboard/addon.yaml

Update checker/applier:
https://github.com/kubernetes/kops/blob/master/channels/cmd/channels/apply_channel.go

[2017-03-17 23:11] krousey commented on #43228
@ixdy I think adding a --ginkgo.skip=something to the GINKGO_TEST_ARGS env in the job description would do it.

[2017-03-17 23:14] skriss commented on #43228
I think we can just skip all SchedulerPredicates tests in the upgrade-cluster jobs (via ^^^) given that they're almost all expected to fail for one reason or another anyway.

[2017-03-17 23:16] ixdy commented on #43228
I'm a little worried about skipping the SchedulerPredicates tests - if they really are consistently failing and providing no signal, we should just delete them.

[2017-03-17 23:17] skriss commented on #43228
They're problematic specifically for when running 1.5 tests against a 1.6 cluster, largely because of the breaking changes for Affinity/Taints. So not useless in general, just in this particular test configuration.

[2017-03-17 23:18] davidopp commented on #43228
Hang on a minute. :)

There is nothing wrong with the scheduler predicate tests.

Some of them don't work against a 1.6 cluster. I can give you a list of which ones are expected to fail, if you want. But it is a minority.

[2017-03-17 23:18] davidopp commented on #43228
And to be clear, "some of them don't work against a 1.6 cluster" means some of the 1.5 release branch scheduler tests don't work against a 1.6 cluster. The 1.6 release branch scheduler tests do work against a 1.6 cluster, of course. And the version skew problem should not happen in the future.

[2017-03-17 23:24] enisoc commented on #43159
@pwittrock suggested that I retry the manual repro steps with a freshly built kubectl now that the fix has merged.

It looks good:

[code]

[2017-03-17 23:33] jayunit100 commented on #43332
Yup the above comment specifically is an example of (1).  (2) is related here because it's not clear to a user how the taint info is inherited/overwritten/resolved wrt inconsistencies .

[2017-03-17 23:38] ethernetdan commented on #43228
@davidopp any ideas for speeding up these runs / avoiding the namespace deletion issue?

[2017-03-17 23:40] blakebarnett commented on #43245
No modifications to the scheduler.  There were (aside from those that are on all nodes):
[code]
from the kube-system namespace on the node that failed.

[2017-03-17 23:43] ymqytw commented on #39188
I guess the pain you have when PATCHing the ports is caused by the bug of using the wrong json pkg in the api server (#42488). It has been fixed by #42489.

issues with ports:
- [x] #42488 number conversion issue caused by using the wrong json pkg.
- [ ]  (this issue) mergeKey for ports (port #) is not unique. The ports will still be PATCHed wrongly if the user does something like https://github.c

[2017-03-17 23:47] k8s-merge-robot opened #43334 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/938/
Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26982 #32214 #33994 #34035 #35399 #38209

[2017-03-17 23:50] abdoo commented on #43223
I will close this issue. I added --public-ip to flannel and Pod in different containers can see each other

[2017-03-17 23:50] #43223 closed

[2017-03-17 23:59] yujuhong commented on #43334
Already bumped the limit. Closing.

[2017-03-17 23:59] #43334 closed

[2017-03-18 00:01] liggitt commented on #43218
Special meaning of [] was removed in https://github.com/kubernetes/kubernetes/issues/43271

I think a switch to Semantic.DeepEqual is still needed here

[2017-03-18 00:06] k8s-merge-robot opened #43335 "[k8s.io] Downward API volume should update labels on modification [Conformance] [Volume] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/6958/
Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] [Volume] {Kubernetes e2e suite}

[code]

[2017-03-18 00:11] #42045 closed

[2017-03-18 00:36] #43299 closed

[2017-03-18 00:37] liggitt commented on #43290
@kubernetes/sig-scheduling-bugs

[2017-03-18 00:47] davidopp commented on #43290
It's possible that you found a bug, but I wanted to clarify that there are two separate features. I'm not sure which one you're trying to use.

Without needing any special command-line flag, the following should work:
1) Create a pod that has a toleration like
[code]
2) Wait for the pod to start running on a node
3) Add taint to node like
[code]
4) The pod should NOT be evicted. (If there are othe

[2017-03-18 01:01] aveshagarwal commented on #43290
There is a new release https://github.com/kubernetes/kubernetes/releases/tag/v1.6.0-beta.4 today, could you try it and see if you see the same issue?

[2017-03-18 01:07] perotinus commented on #39986
I've made some progress on diagnosing the RS kubectl tests (item 2 above) with @madhusudancs's help.

The tests were hanging in deletion and timing out. It appears that this is due to an interaction between the code used in kubectl to check whether the ReplicaSet has been properly scaled down (https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/conditions.go#L60) and the wa

[2017-03-18 01:12] janetkuo commented on #43218
Filed #43337

[2017-03-18 01:14] #42753 closed

[2017-03-18 01:52] liggitt commented on #43203
https://github.com/kubernetes/kubernetes/pull/43271 has merged, resolving the PodAffinityTerm functional difference.

@thockin can you confirm the NetworkPolicyIngressRule fields being unable to express `[]` is not a blocker for 1.6? Are there existing network policies that will change meaning if `[]` switches to nil?

For the other fields mentioned above, I think my plan is as follows:

* figure

[2017-03-18 02:07] #43200 closed

[2017-03-18 02:32] skyfall86 opened #43339 "runContainer: Error response from daemon: {\"message\":\"No command specified\"}"
hello team
    when i create rc by yaml ,rc was created success,but pods still on  "ContainerCreating", check log ，throw “ Error syncing pod, skipping: failed to "StartContainer" for "POD" with RunContainerError: "runContainer: Error response from daemon: {\"message\":\"No command specified\"}" error .
this is my yaml

`apiVersion:v1
kind: ReplicationController
metadata:
  name: tomcat
  labels:

[2017-03-18 02:35] adohe commented on #30899
@kargakis cool~

[2017-03-18 02:38] #30899 closed

[2017-03-18 02:40] kargakis commented on #43321
I don't think this is necessary especially since we are moving away from the annotation from 1.6

[2017-03-18 02:41] justinsb commented on #43212
Thank you for the excellent report!

So my theory is this:

1.  CLOSE_WAIT happens when we get a TCP reset from the other end of the connection, but we don't close the socket
2. For normal kube-proxy traffic using iptables, this won't happen - it is iptables packet-manipulation, not a "real connection"
3. But when there are no pods in a service, the nodeport iptables rules are simply not there; co

[2017-03-18 02:44] kargakis commented on #43323
@kubernetes/sig-apps-misc

[2017-03-18 02:45] adohe commented on #43321
@kubernetes/sig-cli-bugs

[2017-03-18 03:00] k8s-merge-robot opened #43340 "[k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-slow/316/
Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26134

[2017-03-18 03:01] liggitt commented on #43203
Would like @kubernetes/api-reviewers @kubernetes/api-approvers to weigh in on the API implications of https://github.com/kubernetes/kubernetes/issues/43203#issuecomment-287508376

[2017-03-18 03:06] justinsb commented on #43299
Thank you @liggitt  - two steps ahead as always :-)

[2017-03-18 03:11] felipejfc commented on #43212
I actually had 2 namespaces with 3 services each(ELB type) that had no pods associated because someone forgotten do delete them after deleting the pods and they had healthchecks configured, after deleting the services today we've seen a massive networking performance boost (thousands of sockets in CLOSE_WAIT state got closed).
Thanks for helping @justinsb !!

[2017-03-18 03:12] kargakis commented on #43327
Dupe of https://github.com/kubernetes/kubernetes/issues/34776

[2017-03-18 03:12] #43327 closed

[2017-03-18 03:50] k8s-merge-robot opened #43341 "ci-kubernetes-e2e-gci-gce-etcd3: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/5480/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668 #41048 #43025

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should provide basic identity {Kubernet

[2017-03-18 04:08] kargakis commented on #31780
We can optimize deep-copies if we ever reach a point when we should - all of the rest of the points are fixed.

[2017-03-18 04:08] #31780 closed

[2017-03-18 04:13] kargakis commented on #38686
The behavior is already unit tested and since we try to keep e2e tests as minimal as possible I don't think this is required. Such a test would be flaky anyway because the status is updated based on cached data.

[2017-03-18 04:13] #38686 closed

[2017-03-18 04:15] kargakis commented on #40524
No, local-up-cluster is broken for 1.5 and it will probably stay as is forever.

[2017-03-18 04:15] #40524 closed

[2017-03-18 04:19] kargakis commented on #42449
@skriss can you give an update on this issue?

[2017-03-18 04:45] roberthbailey commented on #43198
/cc @cjcullen @maisem

[2017-03-18 05:50] roberthbailey commented on #43198
I have a possible root cause in gke, investigating further.

[2017-03-18 08:21] k8s-merge-robot opened #43344 "[k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/4248/
Failed: [k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra {Kubernetes e2e suite}

[code]

Previous issues for this test: #27978 #28817 #39574

[2017-03-18 08:27] boynux commented on #37396
That's correct and OnlyLocal has its own limitations, on the other hand this requirement is only due to limitations of kube-proxy in first place.

Using IPvS or probably some sort of TProxy hack will make it possible to use multi nodes pods and preserve the client IP. But for I'm just looking for a "quick fix" even if that means sacrificing some features and flexibility.

OnlyLocal seems to be tha

[2017-03-18 08:29] boynux commented on #38969
Yes it is.

[2017-03-18 09:36] jakon89 commented on #43173
What about backward compatibility? Shouldn't new version of `GetLoadBalancerName()` (per provider) return old-style names for all existing resources?

For example `gce.UpdateLoadBalancer()` uses `cloudprovider.GetLoadBalancerName()` to get instance of target pool. What will happen if it gets value generated by new implementation?

[2017-03-18 11:52] k8s-merge-robot opened #43345 "ci-kubernetes-e2e-gci-gce-proto: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/5581/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26139 #28342 #28439 #31574 #36576

Failed: Test {e2e.go}

[code]
Issues about this test speci

[2017-03-18 12:08] #41419 closed

[2017-03-18 14:40] johscheuer opened #43347 "Kubectl PodSpec Validation fails"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

` kubectl validation`, `kubectl`, `kubectl hostpid `
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):

[code]
**Environment**:
- **Cloud provider or hardware configuration**:
AWS with cust

[2017-03-18 15:24] marun commented on #43335
This seems pretty rare - ~20 test runs without issue since this occurrence.

[2017-03-18 15:30] marun commented on #43191
@roberthbailey Are you intending to fix or is @justinsb still responsible?

[2017-03-18 15:38] roberthbailey commented on #43191
I'm currently working on fixing https://github.com/kubernetes/kubernetes/issues/43198. I haven't looked further into this issue.

[2017-03-18 15:40] roberthbailey commented on #43198
I need @yujuhong or @Random-Liu to give me owners access to a gcp project so I can fix the underlying issue.

[2017-03-18 15:44] thockin commented on #43173
Need to think that through.  Maybe return new and old, see what the impact
on QPS is, maybe store an annotation indicating which is in use, something.

On Mar 18, 2017 2:36 AM, "Adam J." <notifications@github.com> wrote:

[2017-03-18 15:44] thockin commented on #43173
You're right that it's not as easy as I implied, sorry.

On Mar 18, 2017 8:44 AM, "Tim Hockin" <thockin@google.com> wrote:

[2017-03-18 15:48] lvjiangzhao commented on #43290
@davidopp I am aware of the two separate features. And I might not clarified the situation clearly, I have tried both situations.
1. without setting `--feature-gates=TaintBasedEvictions=true` in controller manager, I don't see pod eviction. Details are as following.
[code]

[code]
Pod `busybox`:
[code]

Pod `busybox-1`:
[code]

INFO logs for controller-manager with `--v=4`
[code]

[2017-03-18 15:51] thockin commented on #37396
IPVS is not a panacea.  It has a masquerade mode, which I am 99% sure
suffers the same problems, or a direct return mode which can not do things
like port remapping, and which requires other routing tricks.

I don't think there is a good fix without loss of function, yet.

On Mar 18, 2017 1:27 AM, "Mohammad Arab" <notifications@github.com> wrote:

That's correct and OnlyLocal has its own limitatio

[2017-03-18 16:15] lvjiangzhao commented on #43290
2. setting --feature-gates=TaintBasedEvictions=true in controller manager, and I specified the `node.alpha.kubernetes.io/notReady:NoExecute` toleration in pod yaml. Details are as following.

 when I suht down node 10.8.65.142,
[code]

[code]

WARNING log for controller manager
[code]

@aveshagarwal It seems to be the bug you mentioned [#42913](https://github.com/kubernetes/kubernetes/pull/42913)

[2017-03-18 16:27] k8s-merge-robot opened #43348 "ci-kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/973/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33883

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAffinity a

[2017-03-18 16:37] Josh-West-Bose commented on #42487
If anybody has questions about what I'm doing with a custom controller, just ask.

[2017-03-18 16:38] shiywang commented on #43347
I check the validation function [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L2015), it using internal type which is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2020), it doesn't have this `hostPID` field, I assume for some backwards-compatibility problems we can do that. but I don't know, let me @liggitt to give you

[2017-03-18 17:12] liggitt commented on #43347
by the time it gets to the validation function, fields outside the go type's schema are dropped. currently the only yaml validation that is done is client-side, based on the published swagger api.

see https://github.com/kubernetes/kubernetes/issues/5889 for adding server-side validation of presented JSON

see https://github.com/kubernetes/kubernetes/issues/39434 for removing client-side validatio

[2017-03-18 17:12] #43347 closed

[2017-03-18 17:19] liggitt commented on #43150
this test went green in the last two e2e's

[2017-03-18 17:19] #43150 closed

[2017-03-18 20:12] boynux commented on #37396
@thockin You are right "IPvS is not a panacea" neither current iptables hack.
IPvS is good because it gives you options, you can use NAT mode or Direct Routing depending on the situation. It's more reliable, flexible and performant than iptables because it is, well, a load balancer. I don't think it's necessary to throw away the current implementation rather adding another option for users with di

[2017-03-18 20:14] liggitt commented on #43299
(btw, the client library will do this for you, but if you're building the URL manually, watch out for names containing special characters... see https://github.com/kubernetes/kubernetes/pull/28112 for fieldSelector escaping and server-side handling)

[2017-03-18 20:24] fejta commented on #43198
/assign @yujuhong @Random-Liu

[2017-03-18 20:52] jbeda commented on #16508
To be clear, in my mind, for this issue to be "done", we would deprecate and then remove all of the individual binaries.  I'm not sure when that is going to happen.

[2017-03-18 21:09] jbeda commented on #17333
Responding to @bgrant0607 here -- IMO the 3 way merge mechanism and the `last-applied-configuration` annotation is more complicated and less obvious than necessary.  First, while we support a 3 way merge here, there is no clear indication that we won't need a 4 or 5 way merge depending on the number of parties that are contributing to the definition of a spec.  With this in mind, it is a bad idea

[2017-03-18 21:09] davidopp opened #43349 "kubectl taint says "tainted" when you remove a taint"
This is obviously confusing:

[code]

It should say "untained" or "taint removed" or something like that.

cc/ @kubernetes/sig-scheduling-bugs

[2017-03-18 21:12] davidopp commented on #43290
I built Kubernetes from HEAD just now and did this

1) Create pod
[code]

2) Wait for it to start running on a node (it started running on node `kubernetes-minion-group-tqsn`)

3) `kubectl taint nodes kubernetes-minion-group-tqsn x=y:NoExecute

4) `kubectl get pods` returns no pods -- pod has been deleted, as expected

Then I remove the taint and create this pod:

[code]

When I add the taint, thi

[2017-03-18 21:16] davidopp commented on #43349
Would be nice to fix this in 1.6 but it's not a regression so we could fix it in 1.6.1

[2017-03-18 21:21] brendandburns commented on #38969
Closing this, since it's a dup and the feature was created...

[2017-03-18 21:21] #38969 closed

[2017-03-18 21:23] thockin commented on #37396
On Mar 18, 2017 1:13 PM, "Mohammad Arab" <notifications@github.com> wrote:

@thockin <https://github.com/thockin> You are right "IPvS is not a panacea"
neither current iptables hack.
IPvS is good because it gives you options, you can use NAT mode or Direct
Routing depending

With big caveats

 on the situation. It's more reliable, flexible and performant than
iptables because it is, well, a load b

[2017-03-18 22:19] boynux commented on #37396
Sorry for the confusion, I didn't mean LVS can retry the failed connection, specially in DR mode, it doesn't even know that the origin has failed, because it doesn't not intercept the packets. For NAT mode however it will mark origins as inactive. Anyhow a supervisor is required like the one currently handling iptables rules to remove or add new origins. What I meant is the behaviour in NAT mode.

[2017-03-18 22:28] beldpro-ci commented on #15478
Are there any news on this front? Having the ability to specify the labels and then take advantage of `--log-opt labels<>` would be pretty good!

[2017-03-18 22:37] f-w opened #43350 "Feature request: Allow controlling HPA scale-down rate"
I deployed an Elasticsearch cluster to an on-premise Openshift v1.3. The pods use local ephemeral *EmptyDir* volume for storage because I found performance is unacceptable with GlusterFS backed persistent volume. An [ES engineering blog](https://www.elastic.co/blog/performance-considerations-elasticsearch-indexing) also advised against using network share.

To prevent data loss for this type of sh

[2017-03-18 22:55] davidopp commented on #43197
Yes the ones I noticed was the e2e's but I wasn't sure if there were others.

[2017-03-18 23:44] davidopp commented on #1462
Not sure the reason for the renewed interest in this, but we do have alpha support for PreferAvoidPods, it was implemented in #20699. I doubt anyone was has used it, though, and it's not hooked into kubectl in any way.

[2017-03-18 23:51] bitbyteshort commented on #30042
### Issue

Reproduced the issue on v1.5.4. *A pod cannot be deleted if its postStart hook contains an infinity loop.*

### Pod Spec
[code]

### Observation
* The pod stuck in "ContainerCreating" state for ever.
* Pod can not be deleted with "kubectl delete" command
* But the deployment object and replica set object can be deleted

### Version

[code]

[2017-03-19 00:05] liggitt commented on #43349
Dupe of #43167

[2017-03-19 00:05] #43349 closed

[2017-03-19 00:07] davidopp commented on #43167
cc/ @kubernetes/sig-scheduling-bugs

[2017-03-19 00:19] davidopp commented on #38988
Yes, the label data is stored in etcd as part of the Node object for the corresponding node. (There's no fingerprint, it's just literally part of the Node object.) If you delete a VM, the Kubernetes NodeController eventually sees that the node is gone and deletes the Node object. If you then create a VM, Kubernetes creates a new Node object. There is no connection between this Node object and the

[2017-03-19 01:14] k8s-merge-robot opened #43351 "ci-kubernetes-e2e-gci-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/6001/
Multiple broken tests:

Failed: [k8s.io] Downward API volume should update annotations on modification [Conformance] [Volume] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {K

[2017-03-19 04:54] kargakis commented on #43350
The reduction rate is controlled more tightly in StatefulSets in comparison to Deployments so you probably want to have a look at sts[1]. HPA simply updates the scale in the underlying controller (Deployment, StatefulSets, ...) so I don't think there is anything that can be done at that level. cc: @kubernetes/sig-apps-misc

[1] https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[2017-03-19 06:01] fejta commented on #43206
/unassign
/assign @justinsb @zmerlynn

[2017-03-19 06:03] fejta commented on #43193
/unassign
/assign @quinton-hoole

My instinct would just be to delete these tests as from my perspective they just create noise. Do you know someone willing to fix and maintain them?

[2017-03-19 06:14] fejta commented on #43153
This frequently means testing timed out, and something like the following will appear:

[code]

[2017-03-19 10:19] luxas opened #43352 "The CRI dockershim doesn't support ClusterFirstWithHostNet"
**Kubernetes version** (use `kubectl version`):

HEAD (~v1.6.0-beta.4)

**Environment**: any
**What happened**:

I want to use ClusterFirstWithHostNet which was implemented in https://github.com/kubernetes/kubernetes/pull/29378, but only dockertools (legacy/non-CRI) was updated to support this feature.

The CRI dockershim should be modified to support this rewriting the resolv.conf file of Pods wi

[2017-03-19 10:25] luxas commented on #43014
Also see https://github.com/kubernetes/kubernetes/issues/43284 -- a potential fix we could (should) include in v1.6 to fix this temporarily. In v1.7, when we have time, we can require the CNI plugins to conform with the v0.3 CNI spec if we want, but hopefully not in v1.6

[2017-03-19 10:27] pradeeppandeyy opened #43353 "Getting many duplicate packets when I power-on master node."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-03-19 10:37] GheRivero commented on #43014
I jsut want to remember that the potential fix (#43284) is only tested with the flannel plugin. I'll test with other later today.

[2017-03-19 10:52] pradeeppandeyy commented on #43353
Below is the tcpdup result from host machine where VM is running ,

pradeep ~ # tcpdump -i wlp2s0  -vv
tcpdump: listening on wlp2s0, link-type EN10MB (Ethernet), capture size 262144 bytes
16:11:09.798666 IP (tos 0x0, ttl 64, id 7640, offset 0, flags [none], proto ICMP (1), length 84)
    192.168.43.32 > pradeep: ICMP echo reply, id 5741, seq 381, length 64
16:11:09.798684 IP (tos 0x0, ttl 64, id 3

[2017-03-19 11:53] thinkhard-j-park opened #43356 "kube-dns error on portable multi-node cluster"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes

[2017-03-19 16:31] lvjiangzhao commented on #43290
@davidopp Thanks for your test. I also tried the v1.6.0-beta.4 release, and everything just worked exectly as expected!
It is may be the bug mentioned before that caused NoExecute toleration not working in my cluster and now it's fixed and all right. I'll take some time to figure it out anyway.

[2017-03-19 16:59] aveshagarwal commented on #43290
@lvjiangzhao thanks. If it is working as expected could you close this issue?

[2017-03-19 17:31] smarterclayton commented on #43350
Generally you would set a terminationGracePeriodSeconds on a pod that is at least as long as you expect a move to take (5-10m) and then register a preStop hook for your pod that starts the rebalance / waits for it to complete, then returns.  The process does not receive SIGTERM under after preStop returns.

[2017-03-19 18:32] #43290 closed

[2017-03-19 19:53] cmluciano commented on #43352
Related #43234

[2017-03-19 20:49] luxas opened #43357 "controller-manager: horizontalpodautoscalers.autoscaling the object has been modified"
**Kubernetes version** (use `kubectl version`):

HEAD + PR https://github.com/kubernetes/kubernetes/pull/43354 (not affecting this though)

**Environment**:

https://github.com/luxas/kubeadm-workshop

**What happened**:
controller-manager logs:
[code]

Seems like a race condition of some kind. Relevant controller-manager flags:
 - horizontal-pod-autoscaler-use-rest-clients: "true"
 - horizontal-po

[2017-03-19 20:51] k8s-merge-robot opened #43358 "[k8s.io] MemoryEviction [Slow] [Serial] [Disruptive] when there is memory pressure should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/527/
Failed: [k8s.io] MemoryEviction [Slow] [Serial] [Disruptive]   when there is memory pressure should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}

[code]

[2017-03-19 23:12] nikinath commented on #26050
Hi, I am new here and noticed that this was marked as a good issue for new contributors.

Regarding putting validation errors (eg, swagger-based schema validation) next to lines in question, I found that it was a little difficult to get line numbers out of the functions that are being used for the validation: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L489

[2017-03-19 23:28] kargakis commented on #40643
@kubernetes/sig-cli-misc

[2017-03-19 23:31] k8s-merge-robot opened #43360 "[k8s.io] Cluster size autoscaling [Slow] should correctly scale down after a node is not needed [Feature:ClusterSizeAutoscalingScaleDown] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling-migs/4034/
Failed: [k8s.io] Cluster size autoscaling [Slow] should correctly scale down after a node is not needed [Feature:ClusterSizeAutoscalingScaleDown] {Kubernetes e2e suite}

[code]

Previous issues for this test: #33891

[2017-03-20 00:10] csbell commented on #41842
Fixed in #41841

[2017-03-20 00:10] #41842 closed

[2017-03-20 00:53] webattitude commented on #22721
Hi @a-robinson, same issue here :
[code]

[2017-03-20 00:55] thockin commented on #43352
@vefimova - I guess I didn't realize these crossed paths.  Do you have time
to take a look?

On Sun, Mar 19, 2017 at 12:53 PM, cmluciano <notifications@github.com>
wrote:

[2017-03-20 00:59] kargakis commented on #246
cc: @kubernetes/sig-cluster-lifecycle-misc

[2017-03-20 01:02] a-robinson commented on #22721
@webattitude - I'm pretty sure that's a different problem. I'd recommend opening a new issue or a question on stackoverflow with more detail about your cluster and configuration.

[2017-03-20 01:10] kargakis commented on #1451
@lavalamp I guess this has progressed since last year. Should we also move it to https://github.com/kubernetes/apiserver if there is still work tbd?

[2017-03-20 01:21] webattitude commented on #22721
Ok thanks, right I misread this issue.
I've posted the whole warning message (http://stackoverflow.com/questions/42894405/kubernetes-on-google-failed-to-create-load-balancer-ip-static), yet it's weird since the IP is static...

[2017-03-20 01:26] JunejaTung commented on #43211
@dixudx   had you mount the host's system datetime to pods in your replicationController yaml?
[code]
then change the host's datetime after the pods running

[2017-03-20 01:31] kargakis commented on #1827
There is another issue that advocates moving the examples to a separate repo (kubernetes/examples?). If that is ever done (I am +1 for it), we could think about requiring people to check-in tests for their examples and setup CI in a way that would run all of the tests every time a new Kubernetes release is out.

[2017-03-20 01:33] feiskyer commented on #43352
Will take a look

[2017-03-20 01:34] kargakis commented on #2210
I think overlapping controllers is an obsolete topic with the introduction of owner references in 1.6.

[2017-03-20 01:34] bitbyteshort commented on #10782
@jszczepkowski thanks for pointing me to the latest proposal.

[2017-03-20 01:36] kargakis commented on #3139
Related: https://github.com/kubernetes/perf-tests/tree/master/clusterloader

[2017-03-20 01:38] kargakis commented on #3138
Related: https://github.com/kubernetes/perf-tests/tree/master/clusterloader

[2017-03-20 01:40] kargakis commented on #3084
Is this still an issue @caesarxuchao ?

[2017-03-20 01:40] k82cn commented on #37898
@piosz , was the fixes included in CI? It seems rescheduler e2e was still failed :(.

[2017-03-20 01:43] kargakis commented on #2804
We have events on pod creation/deletion. I am not sure we want to make pod deletion even more nuanced for replica sets now that we have stateful sets.

cc: @kubernetes/sig-apps-misc

[2017-03-20 01:46] kargakis commented on #2992
Discussion about Go conventions can be found in https://github.com/kubernetes/kubernetes/issues/28322.

[2017-03-20 01:47] kargakis commented on #2742
api machinery: https://github.com/kubernetes/apimachinery
api server: https://github.com/kubernetes/apiserver

[2017-03-20 01:49] kargakis commented on #3698
Related: https://github.com/kubernetes/kubernetes/issues/1827

[2017-03-20 01:50] kargakis commented on #3679
Any progress on this one @kubernetes/sig-testing-misc

[2017-03-20 02:02] kargakis commented on #3987
@kubernetes/sig-api-machinery-misc

[2017-03-20 02:04] kargakis commented on #3885
Is this covered by `kubectl drain`?

[2017-03-20 02:06] paralin commented on #3885
Where are we on Docker checkpoint and restore? It would be super ideal if we could combine the auto drain with a pod migration procedure.

[2017-03-20 02:07] kargakis commented on #3882
Seems fixed

[2017-03-20 02:07] #3882 closed

[2017-03-20 02:10] kargakis commented on #5121
@kubernetes/sig-testing-misc

[2017-03-20 02:24] kargakis commented on #42917
Related: https://github.com/kubernetes/kubernetes/issues/6086

[2017-03-20 02:24] kargakis commented on #22543
1.6 includes rolling upgrades for DaemonSets.

[2017-03-20 02:24] #22543 closed

[2017-03-20 02:26] kargakis commented on #6079
What's the status of this issue?

[2017-03-20 02:27] yybear commented on #21613
i have same problem with k8s 1.5.1

[2017-03-20 02:31] justinsb opened #43362 "15 second timeout for etcd migrate-if-needed.sh upgrade seems optimistic"
We currently have the following liveness probe for etcd:

[code]

https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/etcd/etcd.manifest#L67-L68

15 seconds (or is it 30?) for an upgrade of etcd seems very optimistic, particularly as we go through a few versions along the way.  On a brand new, empty etcd cluster it took 7 seconds.

I'm guessing that the time taken is proport

[2017-03-20 02:35] hangyan commented on #37205
@smenon78 The basic config example is like:

[code]

[2017-03-20 02:35] kargakis commented on #5774
This was probably related to patch trying to remove fields that it shouldn't. Please retry with the latest `kubectl patch` command and play around with the different strategies.

[2017-03-20 02:37] kargakis commented on #5754
@jbeda @luxas is this fixed now?

[2017-03-20 02:42] kargakis commented on #6376
Closing due to age. Reopen if this is still an issue

[2017-03-20 02:42] #6376 closed

[2017-03-20 02:49] kargakis commented on #43211
This seems like a bug in kubectl. @JunejaTung can you try using a newer version of kubectl? Also from 1.4, server-side deletion is supported, although kubectl still uses the client-side reaper for backwards compatibility

[2017-03-20 02:54] thockin commented on #21613
There are some sysctls you need to make sure are set.  Currently they are
set up in the default mode by the "kubenet" wrapper but may be needed for
flannel..

"net/bridge/bridge-nf-call-iptables" is one.  The other is the more general
"hairpin mode".  Or you may be missing a MASQUERADE rule needed by flannel?

On Fri, Feb 3, 2017 at 6:41 PM, laverite <notifications@github.com> wrote:

[2017-03-20 02:54] justinsb opened #43363 "etcd3 log messages "apply entries took too long""
Seeing `apply entries took too long` and `avoid queries with large range/delete range!` when running with etcd3, repeatedly.  Do we know what the cause is?

[code]

[2017-03-20 02:54] kargakis commented on #6145
I don't think it's a bug. Currently all of the instances of a PodTemplate can be found inlined into resources such as ReplicaSets, Deployments, StatefulSets, etc. and we cannot require from users to set object meta because most of them are going to be generated in master (api server, controller manager) at the creation time of owned Pods.

[2017-03-20 02:54] #6145 closed

[2017-03-20 02:56] thockin commented on #43352
Thanks!  Ping me directly on this.

On Sun, Mar 19, 2017 at 6:33 PM, Pengfei Ni <notifications@github.com>
wrote:

[2017-03-20 03:00] kargakis commented on #7534
@kubernetes/sig-storage-misc is this still an issue?

[2017-03-20 03:01] kargakis commented on #7496
@kubernetes/sig-cli-misc

[2017-03-20 03:02] kargakis commented on #7478
@kubernetes/sig-cli-misc

[2017-03-20 03:04] kargakis commented on #7351
Related: https://github.com/kubernetes/kubernetes/issues/6080

[2017-03-20 03:04] kargakis commented on #7328
Still needs to be added on Jobs and CronJobs

[2017-03-20 03:06] kargakis commented on #7296
@kubernetes/sig-cli-feature-requests

[2017-03-20 03:09] kargakis commented on #7242
Worth noting that the sync loop relist interval for all the workload controllers has been extended to a random value between 12h and 24h.

[2017-03-20 03:12] kargakis commented on #7688
@kubernetes/sig-cli-misc

[2017-03-20 03:13] kargakis commented on #7666
I guess this should be a cross-sig effort. @kubernetes/sig-apps-misc we should start with our workload tests.

[2017-03-20 03:14] justinsb opened #43364 "etcd2 -> 3 upgrade: do we need to go read-only for multi-master?"
The CoreOS blog for kubernetes upgrades stated that we should put a HA cluster into read-only mode before doing the upgrade: https://coreos.com/blog/migrating-applications-etcd-v3.html

But the upgrade docs do not reference this: https://coreos.com/etcd/docs/latest/upgrades/upgrade_3_0.html

Can we confirm that we do not need to go read-only during a etcd2 -> etcd3 upgrade, and that we have e2e te

[2017-03-20 03:15] kargakis commented on #7547
@kubernetes/sig-cli-bugs

[2017-03-20 03:17] #8091 closed

[2017-03-20 03:21] thockin commented on #7923
Mostly about consistency across code.  Style Guide style

[2017-03-20 03:21] kargakis commented on #8676
RC deletion is now an issue of the GC.

[2017-03-20 03:21] #8676 closed

[2017-03-20 03:21] hiscal2015 commented on #3595
@itskingori official Elasticsearch Docker image has bin/es-docker running under user elasticsearch, it has no privilege to run ulimit command, how did you archive that?

[2017-03-20 03:22] kargakis commented on #8520
What's the status of this issue?

[2017-03-20 03:24] davidopp commented on #7296
nodeSelector is kinda deprecated, should be using node affinity instead.

[2017-03-20 03:28] thockin commented on #37396
On Sat, Mar 18, 2017 at 3:20 PM, Mohammad Arab <notifications@github.com> wrote:

We have such a supervisor - it is the general kube liveness/readiness
probe system.  When a pod isn't alive or isn't ready, we remove it
from all sets of rules.

Well, this is exactly the tradeoff.  If your LB doesn't understand
containers, just machines, then you have to pick your evil - SNAT and
double hop with goo

[2017-03-20 03:28] kargakis commented on #9084
Status of this issue?

[2017-03-20 03:32] kargakis commented on #7296
I guess we will still need those `set` subcommands for setting/unsetting {pod,node} affinity from podspec-y things

[2017-03-20 03:34] davidopp commented on #5774
We never implemented in-place resource update. It's actually pretty complicated to do it right.

[2017-03-20 03:37] davidopp commented on #6079
There is a huge constellation of node drain/update related issues floating around. I think that instead of playing whack-a-mole with them, someone when they have the time should write a comprehensive roadmap for where we want to go, with pointers to the relevant issues.

[2017-03-20 03:39] kargakis commented on #9218
@kubernetes/sig-storage-misc

[2017-03-20 03:39] #9223 closed

[2017-03-20 03:40] davidopp commented on #3885
`kubectl drain` does a lot of this, but there are some ideas in this issue that were not really ever implemented and we might want to refer back to.

[2017-03-20 03:40] #10085 closed

[2017-03-20 03:47] kargakis commented on #9802
@kubernetes/sig-storage-misc @kubernetes/sig-scheduling-misc there is another similar issue but can't find it atm

[2017-03-20 03:49] kargakis commented on #10322
@kubernetes/sig-testing-misc

[2017-03-20 03:54] kargakis commented on #10157
Shouldnt be an issue anymore

[2017-03-20 03:54] #10157 closed

[2017-03-20 03:58] davidopp commented on #9802
Yes there are various related issues like #41598

[2017-03-20 04:02] krmayankk commented on #41394
@davidopp thanks for the straw man. I am thinking people often need y axis part. I think in the long run we need a simple configuration parameters which says  the following in the DeploymentSpec/ReplicaSpec
[code]
and the scheduler generates appropriate labels and pod anti affinity configuration which satisfies those requirements. The user doesn't have to write a pod anti affinity rule to get a sp

[2017-03-20 04:15] kargakis commented on #41394
Related: https://github.com/kubernetes/kubernetes/issues/4301

[2017-03-20 04:31] kargakis commented on #41394
I am still not sure why do we need to make this configurable via the Deployment API vs make it the default behavior under the covers as it already happens with placement? If the nodes are already grouped by labels into update and failure domains why can't the scheduler round-robin the pods for the workload controllers by default? We could also switch the workload controllers to use the eviction en

[2017-03-20 04:59] justinsb opened #43365 "kubelet: Unknown protocol TCP; defaulting to TCP"
This is in 1.6.0-beta.4:

`Mar 20 04:46:39 ip-172-20-45-81 kubelet[1552]: W0320 04:46:39.953264    1552 helpers.go:158] Unknown protocol "TCP": defaulting to TCP`

Some context:

[code]

The line number suggests it is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/helpers.go#L158

I _think_ this is because dockershim now uses a protobuf object `runtimeapi.PortMap

[2017-03-20 05:01] vhosakot commented on #29540
I see this issue too with kubernetes `1.5.4` and kubernetes-dashboard image version `gcr.io/google_containers/kubernetes-dashboard-amd64:v1.6.0`.  What is the solution @dchen1107.

I installed `kubeadm` referring https://kubernetes.io/docs/getting-started-guides/kubeadm/, and then installed kubernetes-dashboard by doing

[code]

I see the kubernetes-dashboard in `CrashLoopBackOff` status and the `

[2017-03-20 05:20] justinsb opened #43366 "kube-apiserver does not recover after etcd3 -> etcd2 downgrade"
This is with k8s 1.6.0-beta.4

I upgraded from etcd -> etcd3 and then back again from etcd3 -> etcd2.  I did this by manually editing the TARGET_STORAGE & TARGET_VERSION from etcd2/2.2.1 -> etcd3/3.0.17 and back again.

I also changed kube-apiserver --storage-backend to etcd3 and then back to etcd2 as I went.

However, kube-apiserver was then unable to perform some operations, such as `kubectl get

[2017-03-20 05:20] nikhiljindal commented on #42559
cc @shashidharatd @kubernetes/sig-federation-bugs

[2017-03-20 05:22] davidopp commented on #41394
@krmayankk

It sounds like you want three things, one of which you can already do (though you're asking for auto-generation), one of which just requires having the controllers use the eviction subresource when doing rolling update and having them respond intelligently to being told "no", and one of which probably requires some more work.

Specifically:

You can do the spreading by labeling the nod

[2017-03-20 05:48] nikhiljindal commented on #38897
As per the discussion above, defaults for cascading deletion in federation will be same as in kubernetes i.e `--cascade=true` by default for `kubectl delete`.
Closing this issue.

[2017-03-20 05:54] justinsb commented on #43365
Aha ... I think it is only UDP hostports that would be "broken" by the issue.  I wouldn't be surprised if we don't rely on any, and that we might not have any test coverage.

I don't _think_ this is a regression - I think this code has been there since the start of dockershim, but maybe CRI is now the default?

I don't know how widely UDP hostports are used.  Given how close we are to the planned

[2017-03-20 06:02] ash2k commented on #7328
What about TPR? I have a controller which needs this mechanism so that external clients can tell if it has seen the spec update and the current status reflects the updated spec.

[2017-03-20 06:36] chao007 opened #43367 "Got error "Too many EBS volumes attached to node" when create pod using ebs volume"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes versi

[2017-03-20 06:37] chao007 commented on #43367
I also restart the node instance then lauch the k8s env, it does not work

[2017-03-20 06:37] klausenbusk commented on #41881
+1 for this feature, although I don't need regex. I just want a way that I can specific multiple hosts for a ingress.

Like: https://github.com/kubernetes/ingress/issues/87

[2017-03-20 06:39] feiskyer commented on #43352
@thockin Filed #43368 for supporting it in CRI.

[2017-03-20 07:28] davidopp commented on #25321
ref/ kubernetes/kubernetes#25321

[2017-03-20 07:31] dixudx commented on #43211
@JunejaTung I still cannot reproduce this even with volume `systime` mounted.

Below is my detailed log.

[code]

[2017-03-20 07:39] itskingori commented on #3595
@hiscal2015 By giving the container some extra capabilities ... like this ... 👇

[code]

[2017-03-20 07:42] feiskyer commented on #43365
There is something wrong in dockershim's protocol parsing. Will file an PR to fix this.

/assgin

[2017-03-20 07:42] feiskyer commented on #43365
/assign

[2017-03-20 07:45] dragon9783 commented on #41580
I have a same issue in my cluster, i deployed a pod, and it's status become 'Running', after a while, pod's status become 'Init:0/1', i think that kubelet changed the pod status.

[2017-03-20 08:00] pires commented on #1827
Moving examples to a separate repo: +1.

[2017-03-20 08:30] #42639 closed

[2017-03-20 08:55] feiskyer commented on #43365
Opened #43370 to fix this.

[2017-03-20 09:01] johscheuer commented on #41977
Hi,

I tried a naive approach with the following spec:

[code]

but when I try to use this spec I get the following error (even if the fieldpath return a string https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1275:

[code]

Is there a way to tell the downward API to return a string/single value?

[2017-03-20 09:07] davidopp commented on #41600
I hate to keep expanding the scope of this issue, but one other thing that might be worth considering is to make some kind of decision of how we view the scheduler extender. What I mean is: it was implemented in the very early days of Kubernetes, before we had much processes in place, and the feeling at the time was that we would not encourage people to use it except as a last resort. This is why

[2017-03-20 09:19] Jan-M commented on #35941
Are you expecting Kubernetes to run the "resize2fs"?

This would be nice - as this would not require to have privileged pods anymore to be able to run resize2fs, but I can also see how this could not be Kubernetes' responsibility.

1st you could support only increasing the disk space, shrinking is a whole different topic.

[2017-03-20 09:30] k8s-merge-robot opened #43371 "ci-kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/1578/
Multiple broken tests:

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26509 #26834 #29780 #35355 #38275 #39879

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working applicat

[2017-03-20 09:39] jsravn commented on #43300
@jingxu97 Okay I've added that. I also turned on the logging in processPodVolumes, because that's where I suspect it is skipping (the pods didn't get deleted afaict during controller manager restart).

[2017-03-20 09:52] jsafrane commented on #43291
Dup of #13212

[2017-03-20 10:00] plwhite commented on #37218
I have found that I can work around this to some extend using the [healthz](https://github.com/kubernetes/contrib/tree/master/exec-healthz) model. In other words, you have a container A, that is listening on ports 1 and 2. You then create healthz container B, that periodically probes on ports 1 and 2, and configure the liveness for A to be an HTTP request to check that container B is running OK. I

[2017-03-20 10:02] ConradIrwin commented on #40310
@thockin sent you an email, as we just saw somewhat similar symptoms.

Suddenly some of our pods were unable to make any network requests (including to the metadata server). In particular our pods had been killed because the livenessCheck failed, and then the readinessChecks were failing.

I recreated the deployment without the livenessChecks or readinessChecks (but with the same image id), and th

[2017-03-20 10:38] Jan-M commented on #41015
The main concern raised here is that we may run into issues when triggering scaling with an outdated template thus creating a too small PVC triggering a too small PV to be provisioned.

We are also not 100% clear on the impact of a changed template would have on existing nodes right now (this would also include the non-cascaded delete + recreate). We see the risk, similar to what you mention, when

[2017-03-20 11:23] wujianlin opened #43376 "a strong requirement for kubernetes to manage the deployment hostport in diffirent instance."
hello, i have a question about why kubernetes do not support the hostport manage?

the requirement:
1.  container instance need to be visited by other VM instance. but the VM do not deploy kubelet. this situation is very common in some enterprise.
2. we try k8s service, but service can not suport the container Point-to-point access， and the service performance is low.  because the iptalbes.
3. som

[2017-03-20 11:32] kerin commented on #17226
We've just run into an issue with this - our Amazon EFS NFS mount in Kubernetes causes fs lock errors on git operations, which is a pretty major problem for us. Are there any known workarounds for setting NFS mount options, however hacky?

[2017-03-20 11:47] irfanurrehman commented on #43123
@madhusudancs, does it make more sense to have the default behavior as time out at some time, which can be configured using this flag including some way to define try-forever?

[2017-03-20 11:53] hiscal2015 commented on #3595
@itskingori Still no luck, here's my Dockerfile:

FROM docker.elastic.co/elasticsearch/elasticsearch:5.2.0
ADD elasticsearch.yml /usr/share/elasticsearch/config/
USER root
RUN chown elasticsearch:elasticsearch config/elasticsearch.yml
RUN sed -i '2i\set -e\' /usr/share/elasticsearch/bin/es-docker
RUN sed -i '3i\ulimit -l unlimited\' /usr/share/elasticsearch/bin/es-docker
USER elasticsearch

And he

[2017-03-20 12:10] jollinshead commented on #39031
Had this issue with 1GB EBS volumes from AWS.
Have you tested it with 5GB?

[2017-03-20 12:13] t0mmyt commented on #39031
Mine wasn't working with kubelet running inside a docker container.  I've switched to rkt for kubelet (CoreOS doesn't have socat on the base OS so I needed a container) and everything is working now for me.  If you're not on CoreOS then running kubelet outside of a container should work.

[2017-03-20 12:31] bviolier commented on #33483
+1 We would primarily use it as a solution to switch services from on-premise to GCP (through VPN between the two).

[2017-03-20 12:37] bviolier commented on #33483
Would another probable solution be to VPN through Google VPN into the cluster (with openVPN service for instance) and in that way make the ClusterIP available?

Do note that you then also need to have a non-changing ClusterIP or also expose the DNS so you can use the service name.

[2017-03-20 12:50] jsafrane commented on #43291
And fix is here: #43378. Please check that the reported event is understandable.

[2017-03-20 12:51] loint commented on #36803
please close this issue because it's unambiguous if we do not declare a meaningful name for each port.

[2017-03-20 12:51] k82cn commented on #43197
As @timothysc said, the e2e used field, and UT includes both annotation & fields. Anything we need to add back?

[2017-03-20 12:54] jamiehannaford commented on #28138
What is the status of this?

[2017-03-20 13:02] markturansky commented on #7534
@kargakis I don't think so. Closing in favor of new PRs.

[2017-03-20 13:03] markturansky commented on #10689
Quota for volume sizes has been added. Closing this issue.

[2017-03-20 13:04] #7534 closed

[2017-03-20 13:04] #10689 closed

[2017-03-20 13:05] markturansky commented on #24250
old and outdated issue. Closing.

[2017-03-20 13:05] #24250 closed

[2017-03-20 13:26] jayunit100 commented on #9084
lets bump it to 1.7 ~ its not a good time to add a potentially new flake !:)

[2017-03-20 13:34] Seb-Solon commented on #22543
Thanks for the update! 👍

[2017-03-20 13:37] neelance commented on #43291
I've seen #13212. Maybe they are the same, but I wasn't sure. From a user perspective I only see the `partition` field.

[2017-03-20 14:07] k8s-merge-robot opened #43380 "ci-kubernetes-e2e-gci-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/4057/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668 #41048 #43025

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060 #40437 #40454 #42510 #43153

Fai

[2017-03-20 14:15] eparis commented on #17226
Closing this issue as this is resolved in 1.6. See:
https://github.com/kubernetes/kubernetes/pull/41906
https://github.com/kubernetes/kubernetes.github.io/pull/2743

[2017-03-20 14:15] #17226 closed

[2017-03-20 14:15] eparis commented on #24721
Closing this issue as this is resolved in 1.6. See:
https://github.com/kubernetes/kubernetes/pull/41906
https://github.com/kubernetes/kubernetes.github.io/pull/2743

[2017-03-20 14:15] #24721 closed

[2017-03-20 14:15] eparis commented on #31613
Closing this issue as this is resolved in 1.6. See:
https://github.com/kubernetes/kubernetes/pull/41906
https://github.com/kubernetes/kubernetes.github.io/pull/2743

[2017-03-20 14:15] #31613 closed

[2017-03-20 14:18] pires commented on #28138
The proposal is on stand-by as per https://github.com/kubernetes/kubernetes/issues/28138#issuecomment-268861062.

[2017-03-20 14:21] philwinder opened #43382 "Large ConfigMaps produce "token too long" errors"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
Minikube, 4GB RAM.
- **OS** (e.g. from /etc/os-release):
OSX
- **Kernel** (e.g. `uname -a`):
[code]
**What happened**:
Use case: Use a configmap to create a grafana dashboard configuration.

When the total number of lines in the configmap exceeded somewhere around 2000 lines, ku

[2017-03-20 14:34] timothysc commented on #43246
@sttts  Did you have a preferred location?  I'm thinking front page.

[2017-03-20 14:43] eparis commented on #7478
I say we just close this. We no longer have any `_` in the kube code. We automatically convert `_` to `-` if we get the flag from some other codebase.

We have checkers to make sure we don't add any more `_`. I think we've done everything there is to do here...

[2017-03-20 14:43] jayunit100 commented on #43382
@kubernetes/sig-scalability-feature-requests This specific example is relevant in that i guess he's serializing a large dashboard into a config-map. both  the use case and the bug might be relevant to @kubernetes/sig-scalability-feature-requests

[2017-03-20 14:47] redbaron commented on #41140
I think it is still a bug, as not specifying `ClusterIP` should have same effect as specifying value which is currently used by a given service

[2017-03-20 15:00] liggitt commented on #43366
@smarterclayton @wojtek-t is downgrading from etcd3 mode to etcd2 mode supported?

[2017-03-20 15:01] philwinder commented on #43382
Apologies all. I upgraded my client to the most recent version at this time, `1.5.4`, and it works. Must have been an old issue.
Thanks.

[2017-03-20 15:01] #43382 closed

[2017-03-20 15:02] liggitt commented on #43366
pretty sure running in etcd3 mode with `--storage-media-type` of protobuf (the default in 1.6) puts binary data in etcd, which is not supported by etcd2

[2017-03-20 15:09] wojtek-t commented on #43366
So downgrade from etcd v3 to etcd v2 is "semi-supported". A bunch of people were advocating that it is not needed (though I don't agree with it).
So we made it supported assuming that:
1. you are still using 'json' as the storage data format (even though the default is protobuf in 1.6)
2. you're not downgrading back to 2.2.1 image, but just using "3.0.17" image and setting ```ETCD_VERSION ``` to 2

[2017-03-20 15:11] #5754 closed

[2017-03-20 15:12] mikedanese commented on #5754
This was subsumed by certs api and discovery api.

[2017-03-20 15:12] copejon commented on #43200
@saad-ali are the logs for the tests still available?

[2017-03-20 15:14] quinton-hoole commented on #38897
Please don't close this yet. It's not resolved.

[2017-03-20 15:16] liggitt commented on #43366
the defaults changing to "etcd3" and "protobuf" in 1.6 make it really easy to accidentally upgrade without realizing it, right?

[2017-03-20 15:21] wojtek-t commented on #43366
That is unfortunately true.

[2017-03-20 15:32] dkerwin commented on #43168
Sure. Here are the details of the job i want to delete (was created by the cronjob):

[code]

Searching for associated pods:

[code]

Attempt to delete the job:

[code]

I can still get the job details:

[code]

Please let me know if i can provide additional data for you. Thanks!

[2017-03-20 16:06] enisoc opened #43388 "Clean up deprecated lookup cache flags"
As of v1.6.0, the following `kube-controller-manager` flags are unused and deprecated:

* `replication-controller-lookup-cache-size`
* `replicaset-lookup-cache-size`
* `daemonset-lookup-cache-size`

According to the [deprecation policy](https://kubernetes.io/docs/deprecation-policy/) for flags on admin-facing components, we can remove these altogether 6 months after the release of v1.6.0, which sh

[2017-03-20 16:08] magreiner opened #43389 "Cluster Deployment Issue with OpenStack Heat (salt://kubelet/ca.crt not found)"
**Kubernetes version** (use `kubectl version`):
Kubernetes release: v1.6.0-beta.3 (same behavior with the previous releases)

**Environment**:
- **Cloud provider or hardware configuration**:
  OpenStack Heat

- **OS** (e.g. from /etc/os-release):
  Ubuntu 16.04.2 LTS (client machine)

- **Kernel** (e.g. `uname -a`):
  Linux control 4.4.0-36-generic

**What happened**:
I'm trying to deploy a kubern

[2017-03-20 16:12] sttts commented on #43246
Another section below "To start developing Kubernetes": "To start vendoring Kubernetes". With a big warning that for 99% of cases client-go is the better solution.

[2017-03-20 16:28] ncdc opened #43390 "Test flake: TestSyncDeploymentDeletionRace"
[code]

From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/43386/pull-kubernetes-unit/23345/

I've tried to reproduce locally in an endless loop but no failures so far.

cc @kargakis @enisoc

[2017-03-20 16:29] saad-ali commented on #43200
@copejon here is an example: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-non-cri-gke-serial/157/build-log.txt

Upon second look, the same story as https://github.com/kubernetes/kubernetes/issues/43200#issuecomment-287456759 applies to the `PersistentVolumes:GCEPD` tests: They are not flaky; they are disabled and normally skipped in `gke-serial`; they go red when there

[2017-03-20 16:42] liggitt commented on #43366
this seems like this is a doc issue (and probably a dupe of https://github.com/kubernetes/kubernetes/issues/41054), albeit a *really* important one

@wojtek-t @mml can we make sure we do all of the following:
* in the release notes for 1.6 (probably at the top, in the largest font possible :), make it clear that action is required related to etcd:
  * upgrade to etcd3 prior to upgrading to 1.6 OR

[2017-03-20 16:45] ethernetdan opened #43392 "DNS horizontal autoscaling tests failing during upgrade"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**What happened**:
Tests for DNS horizontal autoscaling frequently fail in the upgrade suite. It seems 1.5 upgrades are affected much more than 1.4, possibly could be coincidence with such few tests run.
* [gce-1.5-1.6-upgrade-cluster-new
](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-upgrade-cluster-new)
* [g

[2017-03-20 16:46] enisoc commented on #43390
Investigating.

[2017-03-20 16:52] ethernetdan opened #43393 "Cluster downgrade should maintain a functioning cluster"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version**:
v1.6 -> v1.5

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS**: CVM + GCI

**What happened**:
Error message during downgrade:
[code]
Seems like infrastructure or test issue.

**How to reproduce it** (as minimally and precisely as possible):
[CVM Downgrade](https://k8s-testgrid.appsp

[2017-03-20 16:53] skriss commented on #42449
The deployment reaping issue appears to be fixed per https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-container_vm-1.5-container_vm-1.6-upgrade-cluster&width=20

Thanks!

[2017-03-20 16:58] k8s-merge-robot opened #43394 "ci-kubernetes-e2e-gci-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/951/
Multiple broken tests:

Failed: [k8s.io] NoExecuteTaintManager [Serial] doesn't evict pod with tolerations from tainted nodes {Kubernetes e2e suite}

[code]

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPod Affinity and AntiAffinity is respected if matching {Kubernetes e2e su

[2017-03-20 17:07] jakon89 commented on #43253
Maybe it's worth to discuss this along with https://github.com/kubernetes/kubernetes/pull/29459 on the meeting tomorrow?

[2017-03-20 17:11] #7478 closed

[2017-03-20 17:12] grodrigues3 commented on #43392
@ethernetdan are you working on this?  let me know if you need help assigning

[2017-03-20 17:13] grodrigues3 commented on #43393
@ethernetdan are you working on this?  let me know if you need help assigning

[2017-03-20 17:24] marun commented on #43283
@bowei Any update?  Until you determine otherwise, this issue is blocking the release of 1.6.

[2017-03-20 17:29] yujuhong commented on #43198
@roberthbailey I followed your instructions in the email thread and also added you as the owner of both `*-cri*` gke projects. Let me know if there is anything else I should do. Thanks!

[2017-03-20 17:32] jonathanmarsaud commented on #43209
Hi,

I just discovered and solved my bug!
-> It seems that `/etc/default/kubelet` was not properly rendered after CDK 1.5.3 (from 1.5.2) upgrades. Maybe it have a conflict between `juju upgrade-charm` (which I run firstly) and `apt update && apt upgrade` (which I run secondly after juju).

KUBELET_ARGS before upgrading to 1.5.3 from 1.5.2:

`KUBELET_ARGS="--tls-private-key-file=/srv/kubernetes/ser

[2017-03-20 17:36] ncdc commented on #43335
This is not a new failure. We've had flakes related to downward api (and config map and other volumes) for a while. Something is keeping the volume update from happening:

[code]

cc @aveshagarwal @derekwaynecarr @pmorie @sjenning

[2017-03-20 17:36] ncdc commented on #43335
I don't think this is necessarily a 1.6 blocker

[2017-03-20 17:40] timothysc commented on #43228
There are two distinct problems that exist:

1. Timeout on namespace cleanup.  This is likely an issue with the core framework b/c the scheduler_predicate tests don't do anything special.
2. Executing 1.5 tests against 1.6 - this is known to fail.

[2017-03-20 17:41] ethernetdan commented on #43393
@grodrigues3 I'm not - that would be great

[2017-03-20 17:44] ethernetdan commented on #43341
Looks like bad run.

[2017-03-20 17:44] #43341 closed

[2017-03-20 17:45] ethernetdan commented on #43371
Looks like bad run, closing unless gets worse

[2017-03-20 17:45] #43371 closed

[2017-03-20 17:47] luxas opened #43397 "kubelet doesn't restart Pods on the hostNetwork if CNI isn't initialized"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): HEAD

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: kubeadm:

How to reproduce on Ubuntu for example:

[code]

**What happened**:

When something in a static

[2017-03-20 17:48] skriss commented on #42831
This test is still failing -- looks like now due to a minor change from "Image(s)" to "Image" (see PR 42283) -- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-master/28#k8sio-kubectl-client-k8sio-kubectl-describe-should-check-if-kubectl-describe-prints-relevant-information-for-rc-and-pods-conformance

cc @smarterclayton

[2017-03-20 17:49] chuckbutler commented on #43209
xref  https://github.com/juju-solutions/bundle-canonical-kubernetes/issues/238

[2017-03-20 17:50] skriss commented on #43392
cc @MrHohn who was looking at this test for #42766 - is this a different issue than the one you fixed last week?

[2017-03-20 17:51] bowei commented on #43283
Taking a look

[2017-03-20 17:51] calebamiles commented on #43238
@liggitt, @thockin, please move this issue into the `v1.6.1` or `v1.7` milestone if it's a non release blocker for 1.6. Thanks!

**cc: @ethernetdan, @kubernetes/kubernetes-release-managers**

[2017-03-20 17:52] timothysc commented on #43335
+1

The test looks to be doing the proper thing and looping at the right interval (2-seconds) , but I don't know what gaurentees we can make on the logging subsystem which it depends on.  Also there is no check to determine that the node has received the update.  I'm not intimately familiar with the process it follows to update pod labels, but imo we're missing a event-watch in here that indicates

[2017-03-20 17:53] MrHohn commented on #43392
Looking into it.

/assign

[2017-03-20 17:54] ncdc commented on #43335
@timothysc I actually think the problem has something to do with mounts leaking across containers, or files staying open when they shouldn't be, or trying to remove files it shouldn't be. I don't think we're missing a watch.

[2017-03-20 17:55] ethernetdan commented on #43380
Looks like a bad run, waiting a few hours and closing if stable.

[2017-03-20 17:56] timothysc commented on #43335
@ncdc but there is no check in the test to ensure we've reached that point...

[2017-03-20 18:00] justinsb commented on #43191
I don't really have time to look at this directly.  I'll try to get a kops multizone test up and running so we can figure out whether it is kube-up or something kubernetes.

[2017-03-20 18:01] marun commented on #43360
/assign @fgrzadkowski
/unassign @pmorie

[2017-03-20 18:02] marun commented on #43360
@fgrzadkowski I saw that you closed #33891 due it not being seen this year.  Can you please triage this new failure and if it shouldn't block 1.6, move it out of the milestone?

[2017-03-20 18:02] ncdc commented on #43335
@timothysc fair enough. However, every time I've seen this flake and looked at the logs, there was a failure related to the pod's volumes, which makes me think the kubelet got the update just fine, and some other machinery was failing.

[2017-03-20 18:05] grodrigues3 commented on #43393
/assign @fejta

Is this a test infra issue?

[2017-03-20 18:06] ethernetdan commented on #43345
Job looks stable, reopening if failures reoccur

[2017-03-20 18:06] #43345 closed

[2017-03-20 18:08] jingxu97 commented on #43300
@jsravn thanks! Are you able to make this change on your local setup first and test it? Thanks!

[2017-03-20 18:08] calebamiles commented on #43358
Could someone from @kubernetes/sig-node-bugs please move this issue into the `v1.6.1` or `v1.7` milestones if this is not a blocker for 1.6

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-20 18:12] yujuhong commented on #36400
We should have a UDP test too (see #43365).

[2017-03-20 18:13] yujuhong commented on #43358
/cc @derekwaynecarr @vishh @dashpole

[2017-03-20 18:16] thockin commented on #43238
@liggitt it's your issue - OK to move it to 1.7?

[2017-03-20 18:16] ixdy commented on #43358
/unassign
/assign @derekwaynecarr @vishh @dashpole

[2017-03-20 18:17] fejta commented on #43393
/unassign
/assign @ixdy

This is not a test infra issue -- this is an error from GCE saying too many IPs are consumed.

This is either because one or more tests leak IP address and/or the project's static ip quota is insufficient to handle test throughput.

[2017-03-20 18:18] dashpole commented on #43358
The test was unable to create one of the pods.  Did we have an issue with pod startup recently?

[2017-03-20 18:20] msau42 commented on #9802
We have a proposal out for the local storage scenario here kubernetes/community#306.  Once that is implemented, we can also consider how it can be expanded to support more general topology constraints (instead of just one node per volume for the local storage case).

[2017-03-20 18:24] thockin commented on #43397
#43368 ?

@yujuhong PTAL, I agree this could be a blocker

@bowei

On Mon, Mar 20, 2017 at 10:47 AM, Lucas Käldström <notifications@github.com>
wrote:

[2017-03-20 18:25] jsravn commented on #43300
Yes I'll roll this out shortly to our local clusters

[2017-03-20 18:26] yujuhong commented on #43397
Already looking. Trying to reproduce the issue.

dockershim should not be calling teardown for a pod with host network. I suspect `PodSandboxStatus` returning an error (for whatever reason), but need to confirm.

[2017-03-20 18:27] bowei commented on #43283
There were two instances of leaked resources, one where a persistent volume was leaked, another where there were a bunch of leaked routes, seems like a test failure => leaked resource issue.

Looking at the networking test failure they look to be caused by GCP/API server overload: `Failed to get Service "mutability-test": the server cannot complete the requested operation at this time, try again l

[2017-03-20 18:28] dashpole commented on #43358
Anyways, this error is unrelated to memory eviction, and should not be a blocker for 1.6.

[2017-03-20 18:31] madhusudancs commented on #43123
Yeah, changing the default to some fixed duration, although a longer one, in the future might be a good idea.

[2017-03-20 18:34] thockin commented on #40310
What GKE version?  I still hope this is related to older GCI unsetting the ip_forward flag.

@dchen1107

[2017-03-20 18:41] ixdy commented on #43393
The tests were failing a lot, leaking IP addresses faster than the janitor could clean up.

I've cleaned up the projects manually for now, and they should stop failing so quickly.

[2017-03-20 18:41] #43393 closed

[2017-03-20 18:43] dchen1107 commented on #43365
@justinsb thanks for filing the issue. @feiskyer Thanks for quickly addressing the bug. We need node e2e tests to capture the kind of regression at the first place.

[2017-03-20 18:47] liggitt commented on #43238
this is fine to move, I think we have to address #43203 for existing fields

[2017-03-20 18:47] dashpole commented on #43358
JK, didnt realize this was recent. Ill look into it further.

[2017-03-20 18:48] dchen1107 commented on #43358
@dashpole Do you why what kind of pod startup issue we are having? Can you look into a little bit more? The test failed recently, and most likely it is not a blocker, but we need to understand it more. Thanks!

[2017-03-20 18:49] dashpole commented on #43358
`Error response from daemon: unable to ping registry endpoint https://gcr.io/v0/`

[2017-03-20 18:49] dashpole commented on #43358
This is what is keeping the pod from starting.

[2017-03-20 18:50] dashpole commented on #43358
This is the image it is trying to pull: `"Back-off pulling image \"gcr.io/google-containers/stress:v1\"`

[2017-03-20 18:51] ixdy commented on #10322
related: #34059

[2017-03-20 18:52] JackyChen255 opened #43400 "Kubernetes installation conflicts with docker-ce-17.03.0"
I can't install kubernetes in CentOS following this installation guide (link).

1: Flannel and docker service can't start after default installation By default above installation will install Docker 1.12, but flannel and docker service can't start. ● flanneld.service - Flanneld overlay address etcd agent Loaded: loaded (/usr/lib/systemd/system/flanneld.service; enabled; vendor preset: disabled) Ac

[2017-03-20 18:52] dchen1107 commented on #43358
It is not release blocker based on @dashpole's above statement. Thanks!

[2017-03-20 18:52] JackyChen255 commented on #43400
#42425 a fix(link) to start kubernetes services with docker-ce. But any work around way to fix kubernetes  installation issue?

[2017-03-20 18:57] MrHohn commented on #43392
The serial test is hitting a similar issue ---  it expects to get the same replica count after letting dns_autoscaler to restore the default params but apparently the default params was changed after upgrade. So it will mostly fail. I will think of a way for fixing this.

Though the other test --- "kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios" --- is hittin

[2017-03-20 18:59] sjenning opened #43401 "tests: e2e-node: node_problem_detector doesn't work with selinux"
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/node_problem_detector.go#L184

[code]

Leads to this avc:
[code]

In general, HostPath volumes in tests are bad news for selinux.

@derekwaynecarr

[2017-03-20 18:59] xsgordon commented on #43055
/cc @k8s-sig-openstack-bugs

@idvoretskyi can you add the sig/openstack label please?

[2017-03-20 19:00] xsgordon commented on #43389
/cc @k8s-sig-openstack-bugs

@idvoretskyi can you add the sig/openstack label please - this relates to the openstack-heat kube-up provider.

[2017-03-20 19:01] ethernetdan commented on #43344
Not blocking for this

[2017-03-20 19:01] xsgordon commented on #42784
/cc @k8s-sig-openstack-bugs

@idvoretskyi can you add the sig/openstack label please, I think this is a known issue though and we just need to link with the other issues/PRs.

[2017-03-20 19:04] calebamiles commented on #43340
The failures seem to be in framework.go could someone from @kubernetes/sig-cluster-lifecycle-bugs, @kubernetes/sig-aws-misc, or @kubernetes/test-infra-maintainers please triage this as non release blocking by moving the issue into the `v1.6.1` or `v1.7` milestones? Thanks!

**cc: @ethernetdan, @marun, @kubernetes/kubernetes-release-managers**

[2017-03-20 19:17] marun commented on #43360
@ethernetdan Given that this is the first time this flake has been seen in 3 months, I'm assuming it's a one-off.  If we don't see a recurrence in the next day I'd suggest it should be moved to the next milestone.

[2017-03-20 19:22] xsgordon commented on #42574
/cc @k8s-sig-openstack-feature-requests

[2017-03-20 19:26] marun commented on #43340
@calebamiles Given that the kops-aws-slow job is non-blocking and hasn't been green in recent history, I think it's safe to push to the next milestone.

[2017-03-20 19:27] justinsb commented on #43340
For kops, this is a known issue in our e2e testing.  We aren't opening the security groups for nodeports.

[2017-03-20 19:32] bowei commented on #43397
Taking a look at the kubeadm repro

[2017-03-20 19:33] timothysc commented on #43394
/cc @kubernetes/sig-scalability-bugs flake.

[2017-03-20 19:34] ethernetdan commented on #43366
/cc @xiang90 @hongchaodeng

[2017-03-20 19:40] #43365 closed

[2017-03-20 19:46] ConradIrwin commented on #40310
Both nodes and master are GKE 1.4.9 — would this be fixed by an upgrade to
1.5.4?

Conrad

Sent via Superhuman <https://sprh.mn/?vip=conrad.irwin@gmail.com>

On Mon, Mar 20, 2017 at 11:34 AM, Tim Hockin<notifications@github.com>wrote:

[2017-03-20 19:54] ethernetdan commented on #43351
No reoccurring failures other than #41647, closing unless failures persist.

[2017-03-20 19:54] #43351 closed

[2017-03-20 19:55] ethernetdan commented on #43380
Seems stable.

[2017-03-20 19:55] #43380 closed

[2017-03-20 19:56] ethernetdan commented on #43348
Seems stable

[2017-03-20 19:56] #43348 closed

[2017-03-20 19:57] ethernetdan commented on #43394
Probably bad run, waiting for more results

[2017-03-20 19:57] timothysc commented on #43394
This looks almost identical to the other namespace deletion issue.

[2017-03-20 20:02] dgpc commented on #33483
FYI for the folks talking about using VPN and the Internal Load Balancer:
The documentation on internal load balancers specifically states that it cannot receive traffic through a VPN tunnel, it can only receive traffic from GCE nodes in the same region.

https://cloud.google.com/compute/docs/load-balancing/internal/

We ran into this problem, and worked around it by setting up NodePort type Servi

[2017-03-20 20:03] janetkuo opened #43402 "Replace reflect.DeepEqual with Semantic.DeepEqual in controller registries"
Forked from #43337

Consider switching to `Semantic.DeepEqual` since we can't distinguish between `null` and `[]` in protobuf.

cc @kubernetes/sig-apps-misc @kargakis

[2017-03-20 20:05] ymqytw commented on #42700
Node team owns `kubelet`.
@kubernetes/sig-node-feature-requests

[2017-03-20 20:13] timothysc commented on #43197
I don't think so... re:  https://github.com/kubernetes/kubernetes/issues/43197#issuecomment-287065996

[2017-03-20 20:17] erictune opened #43405 "Feature Request: enable user-managed Pod Migration"
A user wants to extend Kubernetes to allow for application-specific migration in response to pod deletion events, whenever possible.

1. Normally, there should be 1 instance of a pod  -- call it `pod-1`.
1. However, something (usually the system, e.g. rescheduler or node upgrades) wants to delete `pod-1`, then a replica, `pod-2` should be created.
1. Before `pod-1` is actually terminated, it will

[2017-03-20 20:22] erictune commented on #43405
Possible approach 1:

- Use statefulset for this pod.  Initial size 1.  Also a headless service.
- When pod-1 gets graceful termination notice, it should call back to the API and scale its statefulset up to size 2, then wait to discover `pod-2` via DNS, then sync with it, then exit.
- When a new instance of`pod-1` is later created, sync the other way, and scale back down.

Advantages of this appro

[2017-03-20 20:26] #43390 closed

[2017-03-20 20:34] erictune commented on #43405
Possible approach 2:

- write an "operator", in the style of https://github.com/upmc-enterprises/elasticsearch-operator which implements a "migratingPod" concept, which has a pod Template.
- It makes one pod with a random name, say `pod-32jdg`
- When that pod gets a graceful termination, it waits for a peer to appear.
- When the operator sees a deletion timestamp on `pod-32jdg`, then it creates a

[2017-03-20 20:42] jbeda commented on #5754
Agreed.  Yay!

[2017-03-20 20:45] thomas-b-jackson commented on #42544
I expect statefulsets to behave this way. Would be nice if this fix got combined with a feature that auto-creates the required headless service. That service feels pretty hacky if all you want is in-cluster hostname resolution.

[2017-03-20 20:45] davidopp commented on #43394
I don't know the reason the namespace delete is timing out.

@kubernetes/sig-scheduling-bugs

[2017-03-20 20:48] ethernetdan commented on #43014
Let's try to decide by EOD whether we are patching plugins are modifying 1.6 to ignore specific plugin errors.

[2017-03-20 20:54] #43352 closed

[2017-03-20 20:59] copejon commented on #43200
Great, thanks!

[2017-03-20 21:05] ethernetdan commented on #43364
@hongchaodeng @xiang90 any thoughts?

[2017-03-20 21:05] yujuhong commented on #43397
I ran into other issues while trying to reproduce this, but I never got the "cni config uninitialized" to show up...

The main issue @bowei and I ran into was that kubelet did not restart the static pod after we modified the manifest file. This was likely caused by inotify events not being processed properly (or been dropped). I've asked @Random-Liu to help look into the issue.

For static pods, a

[2017-03-20 21:06] ethernetdan commented on #43362
@mml any thoughts?

[2017-03-20 21:09] smarterclayton commented on #19603
We still need to fix this

[2017-03-20 21:09] smarterclayton commented on #23125
Dupe of https://github.com/kubernetes/kubernetes/issues/19603

[2017-03-20 21:09] #23125 closed

[2017-03-20 21:24] caseydavenport commented on #43014
I'd like to see this fixed in the plugins (i.e. @thockin's "option a" above). Patching v1.6 to ignore specific errors is really brittle and scary and likely requires special case code for each plugin.

There is a PR which addresses this for Calico here which is expected to land very soon: https://github.com/projectcalico/cni-plugin/pull/289

[2017-03-20 21:25] jingxu97 commented on #41339
@felipejfc Thanks for reporting the issue. As @gnufied and @jsravn there are a few issues that were fixed recently. Could you please give it a try on the newest release? Also could you provide some more details about the situation when you notice the problem so that we might reproduce the issue? Thanks!

[2017-03-20 21:26] roberthbailey commented on #43198
I re-rand the script and on the latest run we seem to have fixed the three tests that have been broken. There is still one test failing (`Cluster level logging using GCL should check that logs from containers are ingested in GCL`) which needs further investigation.

[2017-03-20 21:26] roberthbailey commented on #43198
It looks it was a new test added around 3/20 and has never passed in this test suite.

[2017-03-20 21:27] yujuhong commented on #43397
This seems to have been caused mostly by modifying the manifest file using an editor (which generates temporary files). I am going to bypass this issue first by copying and replacing the file.

Apparently kubelet treats some changes as UPDATE operations, instead of truly a new pod. Looking into this as well.

[2017-03-20 21:29] roberthbailey commented on #43198
/assign @crassirostris

[2017-03-20 21:30] roberthbailey commented on #43198
/unassign @yujuhong @Random-Liu

[2017-03-20 21:31] k8s-merge-robot opened #43408 "ci-kubernetes-node-kubelet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2608/
Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: udp [Conformance] {E2eNode Suite}

[code]

Failed: [k8s.io] NodeProblemDetector [k8s.io] SystemLogMonitor should generate node condition and events for corresponding errors {E

[2017-03-20 21:31] yuvipanda commented on #24317
We ran into this just now too - we run a disk per pod and tried using larger nodes. Has there been any progress on this? (Also on GKE)

[2017-03-20 21:33] punitag commented on #43045
+1

[2017-03-20 21:34] roberthbailey commented on #43198
The break was from https://github.com/kubernetes/kubernetes/pull/43294 which merged 8 hours ago. It removed the [flaky] text from this test, even though it appears to be permanently broken (not just flaky) on GKE.

[2017-03-20 21:39] #12617 closed

[2017-03-20 21:40] roberthbailey commented on #43198
Since the remaining test is broken on all 1.6 gke test suites (e.g. https://k8s-testgrid.appspot.com/release-1.6-blocking#gke-1.6) I'm going to mark this issue as resolved.

[2017-03-20 21:40] #43198 closed

[2017-03-20 21:44] davidopp commented on #24317
We do have the opaque counted resource type now
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#opaque-integer-resources-alpha-feature

I've lost track of the plan for next steps there, e.g. moving it to beta.

cc/ @ConnorDoyle

[2017-03-20 21:45] davidopp commented on #24317
(Obviously we'd need to do additional work to publish max PDs as such a resource.)

[2017-03-20 21:46] hongchaodeng commented on #43364
No, as long as it's offline. More detailed steps: shutdown your etcd server, migrate the data, and then restart.

[2017-03-20 21:49] cjcullen opened #43409 "Role/ClusterRole creation doesn't cross authorizers nicely"
In order to create an RBAC role, I need to have all of the permissions that exist in the role, *through RBAC*. It doesn't matter If I have all the permissions through another authorizer.

On GKE, for example, if I want to use my Google identity to create a role, I first have to create an RBAC RoleBinding giving myself the `cluster-admin` role, even if I am the owner of the project that has the GKE

[2017-03-20 21:54] gnufied opened #43410 "gce.go is hard to test"
So this is my somewhat naive observation that - `gce.go` is pretty hard to unit test because it is coupled with concrete implementation of `compute.Service` and `container.Service` -- which makes initializing GCECloud problematic.

I propose that - we replace those two with wrapped interfaces which can be replaced in tests. It does make code somewhat more complex  but I am open to other ideas.

cc

[2017-03-20 22:02] liggitt commented on #43409
Cc @kubernetes/sig-auth-feature-requests

[2017-03-20 22:03] yujuhong commented on #43397
...... @Random-Liu traced the code path and found that we use the name/namespace to identify the pod in an internal cache. This causes some confusion when editing the pod. We'll fix that first.
/cc @dchen1107

[2017-03-20 22:10] ericchiang commented on #43409
Another check like this? https://github.com/kubernetes/kubernetes/pull/39383

[2017-03-20 22:29] k8s-merge-robot opened #43412 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-test/1351/
Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26784 #28384 #31935 #33023 #39880

[2017-03-20 22:37] dcbw commented on #42946
@ErwanMAS It seems privileged: true is not sufficient, but that kube-proxy's pod specs may need to mount /proc/sys into the container as well?  Any chance you could try making that change in the kube-proxy pod spec to the volumes + volumeMounts sections to add /proc/sys/?

[2017-03-20 22:38] DirectXMan12 commented on #43357
not sure, can you get any more detailed logs from the controller manager and API server?  Maybe the deployment controller is interrupting us?

[2017-03-20 22:39] yujuhong commented on #43397
@luxas @bowei could you see if you can reproduce the issue with this kubelet patch #43413?

I've tried and not once have I encountered the cni configuration issue as reported in the original post.

[2017-03-20 22:48] yujuhong commented on #42700
I think this is working as intended. We also have files ending with `.manifest` or other names in the cluster.
Documentation is a while other issue.

[2017-03-20 22:48] dcbw commented on #40761
I'm not sure that masquerading pod -> external traffic (initiated by the pod, not incoming traffic to a given service) is kube-proxy's job.  That's typically the job of the network plugin since the network plugin is what knows about pod networking, sets up the IP addresses of the pods, and knows what CIDRs are internal and which are external to the cluster.

Usually you'd do this with the '--ip-ma

[2017-03-20 22:52] dcbw commented on #41871
@sugun999 is this issue a dupe of #40331?

[2017-03-20 22:56] jingxu97 commented on #24640
@dchen1107 Is this still an issue?

[2017-03-20 22:58] dcbw commented on #40590
[code]

which seems to be due to `cidr` being nil, which means that something is writing invalid IP addresses to the loadBalancerSourceRanges.