[2015-08-17 22:35] roberthbailey commented on #12776
I didn't register the master node into the e2e cluster when making that change (hence it not affecting e2e). If it's unstable, we can set the default for regular clusters to not register the master node while we debug.

[2015-08-17 22:40] yujuhong commented on #12803
@kelseyhightower, did you make change to the pod manifest file, or the mirror pod through the apiserver?

Mirror pods are simply used to reflect what's being running on the node, so kubelet should work with or without mirror pods.
 - If you change the manifest file, kubelet should start the new pod based on the manifest file, regardless of whether mirror pod can be deleted or not. It'd still try d

[2015-08-17 22:43] thockin commented on #12774
On Sun, Aug 16, 2015 at 10:40 PM, Matt Ma <notifications@github.com> wrote:

http://docs.k8s.io/v1.0/user-guide/debugging-services.html

I don't understand the question.  You want to access it by the
individual pods or by the service IP?

[2015-08-17 22:45] bgrant0607 commented on #12207
One of my biggest gripes is business logic in pkg/registry/foo/etcd/etcd.go, such as setPodHostAndAnnotations.

More generally, there's no rationale for how our API-related code is spread all over the source tree.

See also #8190, #4851, and #1957.

[2015-08-17 22:45] dchen1107 commented on #12776
I ran into this issue last Friday when playing with docker 1.8 release, but didn't reproduce it later after resetting back to docker 1.71. and add some debugging messages to the system. Looks like there is a race on master node between supervisord healthchecking docker and kubelet and registering master node. Also @ArtfulCoder reported a same failure earlier. This should be P0.

 cc @brendandburns

[2015-08-17 22:47] mattma commented on #12774
@thockin Thanks for taking your time to look at my question.

My node app have a logic to connect to the database. In Node code, it may look at `mongodb.connect(http://localhost:27017/test);` to the `test` database. In production, the app need to connect to `mongodb.connect(http://SERVER_IP:27017/test)`. What is the `SERVER_IP` in this case? My understanding is the endpoint of `mongo service`.

[2015-08-17 22:48] mikedanese commented on #12776
[code]

This happened three ./cluster/kube-up.sh in a row for me

[2015-08-17 22:48] thockin commented on #12682
OK.  let me know what I can do

On Mon, Aug 17, 2015 at 11:29 AM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-17 23:03] errordeveloper commented on #12224
Thank you for reporting this and I had fallowing #7826 also. Have you ran the `./expose_guestbook_app_port.sh` script, if so could you provide the output?

[2015-08-17 23:14] thockin commented on #12774
You can use the DNS name of the Service.   Assuming they both run in the
same kubernetes Namespace, you can just say http://mongodb:27017

On Mon, Aug 17, 2015 at 3:48 PM, Matt Ma <notifications@github.com> wrote:

[2015-08-17 23:15] asridharan commented on #12459
[code]

These are the ones that I had to load to get things working (with docker and kubernetes). So I guess we can try doing a modprobe on all these modules (catch being that some might be compiled in kernel), and run the iptables command and crib "vehemently" if an iptables command fails.

[2015-08-17 23:19] ixdy commented on #11335
Haven't seen this causing issues recently. This test regularly takes 1.5-2m now.

[2015-08-17 23:19] #11335 closed

[2015-08-17 23:28] bgrant0607 commented on #9126
Dupe of our other validation issues.

[2015-08-17 23:28] #9126 closed

[2015-08-17 23:30] bgrant0607 commented on #8901
The nodePort field shouldn't be considered required. Fix is in #12831.

In order to omit such fields from output, we currently need to convert them to pointers.

[2015-08-17 23:39] yifan-gu commented on #12826
@yujuhong Thanks for the write up, it's very clean :) I like the 3rd option. I am looking into codes to see whether we can live with `ContainersToKill` and `ContainersToStart` with both runtime.

[2015-08-17 23:44] johngossman commented on #7826
We are working on updating this for Ubuntu. https://github.com/kubernetes/kubernetes/pull/12097 was a fix for the earlier issue, but a change to cert generation broke that before it was even merged. Fix incoming. But coreos works in the meantime.

[2015-08-17 23:44] ixdy commented on #12524
*Every* suite? We have quite a lot of Jenkins builds these days, with a lot of them being fairly flaky.

In any case, this should probably be a Google-internal bug.

[2015-08-17 23:44] #12524 closed

[2015-08-17 23:46] BenTheElder commented on #12682
Everything is going well. Should have some fresh results and a PR out tonight. Had to do a few things here but back at it now.

[2015-08-17 23:52] yifan-gu commented on #12826
Or we can just add `PodToKill`, `PodToStart` to make our life easier during reconstructing this.

[2015-08-17 23:53] mikedanese commented on #12776
[code]

Looks like this is the cause of the loop.

[2015-08-17 23:58] dchen1107 commented on #12776
@mikedanese, you found the root cause! Looks like registering master node is completely broken, and nothing to do with supervisord here. cc/ @roberthbailey We should revert the pr first, then look into how to fix this.

[2015-08-18 00:10] yifan-gu commented on #12619
Going to refactor on this if you haven't already started :)

[2015-08-18 00:12] JanetKuo commented on #10555
We'll make `--validate` default on with a message telling the users how to turn it off.

[2015-08-18 00:13] preillyme opened #12835 "Configuring Nodes to Authenticate to a Private Repository"
[code]

[code]

But with:

[code]

Also worth mentioning that:

[code]
exists and works as root directly.

and

[code]

[2015-08-18 00:22] dchen1107 commented on #12789
@justinsb Sorry for breaking aws. I am looking into this.

[2015-08-18 00:29] dchen1107 commented on #12789
@justinsb what is the value you set to --cgroup-root= for kubelet?

[2015-08-18 00:29] thockin commented on #12506
spoke with Dawn today - I touched it but did not add that weird name.

On Wed, Aug 12, 2015 at 6:27 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-08-18 00:32] BenTheElder commented on #12682
Posting raw data as it's ready to this gist: https://gist.github.com/BenTheElder/8ad343913fbe876e219a
I'm working on exporting it to friendlier results now, then if it looks good I'll go ahead and tidy up and open that PR with the tool.

[2015-08-18 00:33] #12627 closed

[2015-08-18 00:34] thockin commented on #12627
It looks like a big change but it's semantically simple.  That said, v1.1
is just a couple months out.  I think we can wait.

On Thu, Aug 13, 2015 at 10:11 AM, Zach Loafman <notifications@github.com>
wrote:

[2015-08-18 00:37] wb14123 commented on #12624
It seems to be resolved for me.

[2015-08-18 00:40] #12624 closed

[2015-08-18 00:50] aronchick commented on #1957
I'd love to ask all the folks who have +1'd what the scenario you're looking for is. Is it that you're looking for the services as an API endpoint that @bgrant0607 talked about? E.g. a k-v store that does:

* Optimistic concurrency
* Access to past versions of objects
* Efficient reliable watch
* Efficient recursive or other multi-object watch
* Multi-object transactions
* The ability to somehow b

[2015-08-18 00:55] CpuID commented on #1957
@aronchick one of the motivators is not wanting to maintain an etcd cluster for production use, when we already have a consul cluster for other purposes.

[2015-08-18 00:56] smarterclayton commented on #12447
We also may want to support web sockets for exec (so that web consoles can
run commands) as well.

On Mon, Aug 17, 2015 at 2:45 PM, Ben Petersen <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 00:58] smarterclayton commented on #3752
We haven't hit any that haven't been related to services or explicitly
using names of routes in DNS names (because wildcard certs only work one
level deep).  On the other hand I don't think people have found it valuable
to have the dot (have not seen it used much).

On Mon, Aug 17, 2015 at 1:59 PM, Tim Hockin <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 00:58] smarterclayton commented on #3752
I would not be in favor of extending service names to subdomains either.

On Mon, Aug 17, 2015 at 8:58 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 01:00] smarterclayton commented on #4851
Is this document shared outside of Google?  Getting perm denied.

On Fri, Aug 14, 2015 at 1:02 PM, Mike Danese <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 01:02] smarterclayton commented on #10495
Makes sense.

On Fri, Aug 14, 2015 at 3:22 PM, Brian Grant <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 01:22] BenTheElder commented on #12682
![gce-netperf-histogram](https://cloud.githubusercontent.com/assets/917931/9320276/09f80c90-4526-11e5-82ec-6fff252c5131.png)

[2015-08-18 01:33] justinsb commented on #12789
@dchen1107 I'm sure it's something I broke!  I set `--cgroup-root=docker` https://github.com/kubernetes/kubernetes/blob/991775e77b9825e47da0e85006f9cca97279b8cc/cluster/saltbase/salt/kubelet/default#L91-L93

When I first did this, we had a bug where cgroup-root=/ did not work with an error about an invalid name, because it started with _ or - (as I vaguely recall).  I think I tried "/" again this

[2015-08-18 01:42] Symmetric commented on #12682
Are those axes the right way round? I'm reading this as saying that
iptables has a higher mean latency... hopefully the x axis is latency and y
is count (as is normal for a histogram)...

On Mon, Aug 17, 2015 at 6:23 PM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-18 01:43] BenTheElder commented on #12682
those axes are indeed backwards!

[2015-08-18 01:46] justinsb commented on #561
AWS ELB has very limited Layer 7 support.  Although it has some Layer 7 features, these are limited to SSL termination (with a single cert), sticky sessions based on cookies, and writing an access log.  There is no path-based routing for example.  Typically you set up ELB in front of nginx/haproxy.  I think we would likely want to do the same thing for AWS, with a k8s managed nginx/haproxy/vulcand

[2015-08-18 01:50] BenTheElder commented on #12682
Updated

[2015-08-18 02:02] phemmer commented on #561
In AWS land, they have a separate service for this, [API Gateway](https://aws.amazon.com/api-gateway/). It's basically another layer that sits on top of the ELB.

[2015-08-18 02:08] mikedanese commented on #4851
Second try: https://docs.google.com/spreadsheets/d/1B4PZVrwcUMFd9e93zETI-NClVTtDdC8sLcnxHms1lUs/edit?usp=sharing

[2015-08-18 02:13] justinsb commented on #561
Oh, good point @phemmer.  I hadn't seen it marketed this way, but it does look like we could indeed use API Gateway as "just" a Layer 7 load balancer.  I can't help but worry that it isn't really what it is intended for, but I'm very happy for the suggestion - we'll have to evaluate it!

[2015-08-18 02:35] hurf commented on #11793
As in my mind, there're two kinds of requirment for schedulers. One is multi-scheduler we're talking about here, it allows multi schedule processes running in parallel. Another is what @HaiyangDING did in #11921, the pod is till scheduled serially, but we can assign algorithm to the scheduler for each job.

Though the second requirment can be satisfied by using multi-scheduler, but the cost is too

[2015-08-18 02:35] roberthbailey commented on #12835
/cc @dchen1107 @yujuhong

[2015-08-18 02:35] justinsb commented on #12789
Ah!  Docker itself is broken...

[code]

(docker command line is ` /usr/bin/docker -d -H fd:// -s aufs -g /mnt/ephemeral/docker --bridge=cbr0 --iptables=false --ip-masq=false`)

I should be able to track this down; this feels like a Docker/Ubuntu problem, not a k8s problem...

[2015-08-18 02:38] smarterclayton commented on #561
Yeah, that's how we use ELB today - as the HA layer for a pair of redundant
proxies.

On Mon, Aug 17, 2015 at 10:14 PM, Justin Santa Barbara <
notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 03:07] bgrant0607 commented on #4851
The lack of any obvious structure is causing new code to be put into random places. With the ongoing API group work, we also desperately need a home for common API infrastructure that's independent of any particular API group.

Another stab at API-related directories (not exhaustive, probably some incorrect categorizations):

* apiframework (everything that's resource-type-independent)
  * server

[2015-08-18 03:17] thockin commented on #12682
Is microseconds right?  I expected a much longer tail..

[2015-08-18 03:19] BenTheElder commented on #12682
*According to netperf: yes. Example output:Throughput Throughput Mean
  Minimum      Maximum      50th         90th         99th         Stddev
    Local  *

*Units                 Latency      Latency      Latency      Percentile
Percentile   Percentile   Latency      CPU    *

*                      Microseconds Microseconds Microseconds Latency
Latency      Latency      Microseconds Util   *

*

[2015-08-18 03:20] BenTheElder commented on #12682
hmm emailing ate that:
[code]

[2015-08-18 03:35] hw-qiaolei commented on #12767
@brendandburns could you please provide me with these k8s SPECs or tell me who should I turn to get help?

[2015-08-18 03:43] BenTheElder commented on #12682
Moved to https://github.com/kubernetes/contrib/pull/10

[2015-08-18 03:43] #12682 closed

[2015-08-18 04:01] mforbes commented on #11000
@devurandom Please edit your message and address to the appropriate person (not me).  I (mforbes) have nothing to do with this project.

[2015-08-18 04:11] bgrant0607 commented on #4851
I guess since I/we want to use the type machinery for component configuration (similar to scheduler config, kubeconfig) as well as for the API, it would be worth making that another subdirectory under apiframework, distinct from the other random stuff in common.

[2015-08-18 04:16] bgrant0607 commented on #12835
@preillyme Have you tried imagePullSecrets?
http://kubernetes.io/v1.0/docs/user-guide/production-pods.html#authenticating-with-a-private-image-registry

[2015-08-18 04:25] thockin commented on #3760
@MikaelCluseau that's not a bad idea - can you please open a new issue on that specifically, so I don't lose track of it?

[2015-08-18 04:35] bgrant0607 commented on #7600
Resurrected as #10555

[2015-08-18 04:43] bgrant0607 commented on #10555
Concerns previously voiced here: https://github.com/kubernetes/kubernetes/pull/2517#issuecomment-64144899

We have to have a solution to this ~now. I don't care much about what the chosen solution is. I say we start with something trivial that mostly works and replace it with something better when we can.

Do any of the json parser-generators we've been investigating solve the schema validation pr

[2015-08-18 04:52] lachie83 commented on #12835
@bgrant0607 - Yes. I can confirm using imagePullSecrets yields the same error message.

[2015-08-18 05:33] wojtek-t commented on #10555
I'm not aware of any.

[2015-08-18 05:33] MikaelCluseau opened #12843 "kube-proxy: iptables implementation: allow a fallback flag to MASQUERADE pod source IPs"
Related to #3760 .

As a safety mesure, it could be very useful to actually include a flag to proxy to MASQUERADE everything (acting very close to a userspace proxy). I think it's not very hard to do and a very good way to diagnose or even fallback in case of problem (I'm thinking about vxlan cases).

Something like "--snat-clients" or "--snat-pods" could be appropriate.

[2015-08-18 05:57] roberthbailey commented on #12843
/cc @thockin

[2015-08-18 05:59] #12820 closed

[2015-08-18 06:10] bgrant0607 commented on #10693
The proposal SGTM, and I'd like to see this in 1.1 though we only have about a month left or so.

We do have to support CurrentContext in kubeconfig, but could document it as deprecated.

v1 config definition is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientcmd/api/v1/types.go

Example preference we may want to add in the future: label keys to use as columns.

Who's g

[2015-08-18 06:22] bgrant0607 commented on #9298
Removing preferences and current-context was forked into #10693. That would address the problem that changing kubeconfig affects preferences.

[2015-08-18 06:23] devurandom commented on #11000
@mforbes: I did not mention your name once, says ^F and my memory.

[2015-08-18 06:30] thockin commented on #4851
I'd love to see pkgs that are used by one component live under that
component.  pkg/proxy -> cmd/kube-proxy.  pkg/master -> apiserver,
pkg/kubelet -> cmd/kubelet.

pkg/* should be things that are plausibly used across more than one cmd/*

On Mon, Aug 17, 2015 at 7:09 PM, Mike Danese <notifications@github.com>
wrote:

[2015-08-18 06:32] marekbiskup commented on #12800
No, unfortunately not - I got another project, so I haven't worked on Kubernetes for the last month.

[2015-08-18 06:34] bgrant0607 commented on #12526
We definitely would like to avoid supporting generic dependencies. The semantics would be very tricky, such as in the cases of retry-able failures of the producer container, restart after failure of consuming containers, updates that add containers or dependencies, etc. OTOH, support for some kind of "setup" containers can have straightforward behavior defined.

[2015-08-18 07:09] a-robinson commented on #12447
Sounds good to me. I'd propose `timestamps` instead of `timestamp`, to match docker's CLI. I'm not convinced `limit` would see much use, but I suppose it makes sense given the `since` option and it'd be easy to implement no matter what the backend.

The only mild disclaimer worth bringing up is what @jimmidyson alluded to -- adding more dependencies on the presence of local log files makes it toug

[2015-08-18 07:17] wojtek-t commented on #12207
One of my biggest gripes is business logic in pkg/registry/foo/etcd/etcd.go, such as setPodHostAndAnnotations.
More generally, there's no rationale for how our API-related code is spread all over the source tree.

Yes - in general I agree. But fixing it requires a lot of time which I don't have now (although I think it would be good to do it).

[2015-08-18 07:24] piosz commented on #10782
@vishh yes, thanks!

[2015-08-18 07:42] preillyme commented on #12835
@bgrant0607 — putting the .dockercfg file into a secret resource did the trick it's now working.
[code]
Thanks! This documentation http://kubernetes.io/v1.0/docs/user-guide/images.html#using-a-private-registry should probably be updated as well.

[2015-08-18 07:42] #12835 closed

[2015-08-18 07:45] preillyme commented on #12835
@lachie83 it's working for me with the following:
[code]

and

[code]

[code]

[2015-08-18 07:46] wojtek-t commented on #12816
@quinton-hoole - good point (although I'm not sure if the effect of that is significant).
It seems there is --v=4 set for all components in scalability tests too. I will fix that later today.

[2015-08-18 07:54] mcadam commented on #11688
@mbforbes I never did a cherry pick i would prefer it to be somebody else :)

[2015-08-18 08:14] jimmidyson commented on #12447
We also have to consider docker container log rotation as this should (must?) be implemented on nodes to prevent out of disk errors. This will put a limit on the `--since` & `--tail`, but I assume we can point at archived logs for older entries. Most use cases for live logs will be to look at recent logs (last day?) so log rotation shouldn't impact, but needs to be noted.

As detailed [here](https

[2015-08-18 08:36] Hokutosei commented on #12774
@mattma

service
[code]

where `mongodb-mongos1`

[code]

then you can in your app;
`mongodb.connect(http://mongodb-mongos1/test)`

did something like this, and it works really well

[2015-08-18 09:25] gmarek commented on #12524
Maybe, but if build is failing (note that by build here I mean compilation, not Jenkins "build" which means tests) something's wrong.

[2015-08-18 09:57] coreyperkins commented on #12224
I couldn't find the expose script because I was working with the 1.0.1 tag. I did find it in master so I pulled that into my local copy, but I got the following upon execution.

<img width="700" alt="screen shot 2015-08-18 at 4 56 15 am" src="https://cloud.githubusercontent.com/assets/429696/9327311/814ee838-4565-11e5-894e-9a468fbf692a.png">

[2015-08-18 10:18] #12186 closed

[2015-08-18 10:25] errordeveloper commented on #12224
@coreyperkins I am afraid there is a lag of what version gets into which tag, which basically means that having checked-out `v1.0.1` tag you then deploy an older version of Kubernetes to Azure. If you checkout `release-1.0` branch, you will get version 1.0.1 as it currently stands.

[2015-08-18 10:26] lleszczu commented on #12815
@rootfs I am using CoreOS with kernel 4.1.5 and as a client docker image ceph/rbd which includes ceph 0.94.2.
After you mentioned udev, I have found https://github.com/ceph/ceph-docker/tree/master/examples/coreos/rbdmap that creates correct mapping. Thanks for help.

[2015-08-18 10:29] errordeveloper commented on #12224
The problem is that the older version of `kubectl` you have deployed doesn't understand the `-L`, it's best if you just destroy and re-provision the cluster.

[2015-08-18 10:40] sachingharge commented on #12381
Hi All,

I could see two errors when creating ELB for service with cloudformation kubernetes stack.

Error when service created first time:
creating loadbalancer failed	failed to create external load balancer for service default/service_name: error tagging security group: InvalidParameterValue: Value ( '' ) for parameter Tag key is invalid. Tag key cannot be null or empty. status code: 400, reques

[2015-08-18 11:09] #12815 closed

[2015-08-18 11:23] justinsb opened #12852 "Error messages in kubelet log about brctl (AWS?)"
At least on AWS, the following error messages are logged from the kubelet:

[code]

However, brctl is at /sbin/brctl, and cbr0 does exist (possibly later?):

[code]

kubelet then fails to start, but logs show it restarting a few seconds later and creating cbr0 OK:

[code]

Speculation: This could be a race condition with kubelet/brctl installation, perhaps.  Or maybe the path to brctl.

[2015-08-18 11:45] adyanthaya17 commented on #12135
I ran the command:
$  kubectl run wordpress --image=tutum/wordpress --port=80

the container is in running state when I list the PODS.

Is there a way I can access the continer on the web? or through the CLI?

[2015-08-18 11:47] groulot opened #12853 "Openshift installation on Kubernetes cluster running on CoreOS fails at packaging secrets for the Openshift pod"
Dear all,

I am trying to install Openshift on a Kubernetes cluster running on CoreOS (in vSphere VMs). And the process fails when it tries to package secrets for the openshift pod.

Here is what I do step by step. First I use this doc to install a Kubernetes cluster on 3 CoreOS VMs:
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md

[2015-08-18 12:05] rawlingsj opened #12854 "./cluster/kube-up.sh using vagrant error in kube-apiserver logs "remote error: bad certificate""
TL;DR vagrant script stuck at `Waiting for each minion to be registered with cloud provider`

Following the steps from https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/vagrant.md#setup

I've downloaded the latest release (1.0.3) and run a master and single node using the vagrant image and virtualbox provider..

[code]
The vagrant script remains stuck at `Waiting for

[2015-08-18 12:17] justinsb opened #12855 "AWS: auplink not always installed when using aufs"
On AWS with Vivid, auplink is not installed.  There are messages in the docker log about auplink not being in the path.

Inspection of the format-disks script confirms this to be the case.

(PR coming soon, just opening an issue so we have something to track it back to!)

[2015-08-18 12:35] smarterclayton commented on #12447
On Aug 18, 2015, at 4:15 AM, Jimmi Dyson <notifications@github.com> wrote:

We also have to consider docker container log rotation as this should
(must?) be implemented on nodes to prevent out of disk errors. This will
put a limit on the --since & --tail, but I assume we can point at archived
logs for older entries. Most use cases for live logs will be to look at
recent logs (last day?) so log rot

[2015-08-18 12:45] dalanlan opened #12856 "Containers should support inherent garbage collection & restart policy"
1 garbage collection
As it's well known to us all, auto container gc could be kinda tricky (race condition etc.)
Hence I guess a raw field of `Container` struct to support stuff like `docker run --rm` would help a lot, which aims to manage user-defined gc as long as the container terminates.

2 restart policy
Maybe i'm nuts yet I'll bet restart policy makes more sense to a container-level instead

[2015-08-18 12:56] dalanlan commented on #12856
Saw some flags like `--maximum-dead-containers` of kubelet could help with gc, yet i assume an  inherent way allows greater customization.

[2015-08-18 12:58] NOX73 commented on #12093
@mbabker

could you explain how did you do that?

[2015-08-18 12:58] coreyperkins commented on #12224
@errordeveloper Using master worked perfectly. I was trying to be safe by checking out a tag I thought was stable and I shot myself in the foot. :)

Thanks!

[2015-08-18 12:58] #12224 closed

[2015-08-18 13:00] smarterclayton commented on #10693
I'm not sure I like the idea of splitting out current context although I understand the rationale.  Is merging kubeconfigs really that important?  I still haven't hit a use case where it was important to me (as a user) vs nice as an admin or system packager.

[2015-08-18 13:01] smarterclayton commented on #10555
I'm not aware of any either.

On Tue, Aug 18, 2015 at 1:33 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 13:28] devurandom commented on #11000
@mikedanese An addition to your instructions: If one had ever used kube-controller-manager without the `--root-ca-file` option, one has to clear all secrets listed by `kubectl --namespace={default,kube-system} get secrets`. They will be immediately recreated in their proper form.

[2015-08-18 13:30] sosiouxme commented on #12447
I don't think sysadmins will see it that way when aggregating the logs from
one spin-locked container delays or halts getting the logs from all
containers. I think they will see it as a platform problem.

[2015-08-18 13:33] smarterclayton commented on #12447
That's not what I was saying - I'm saying that our goal is not to deliver
perfect log fidelity to a badly behaving container.  Our goal is to protect
the rest of the system from the container.  Restricting the log guarantees
a container gets when badly behaving is not as important as defending the
system from badly behaving containers.

On Tue, Aug 18, 2015 at 9:30 AM, Luke Meyer <notifications@gi

[2015-08-18 13:40] sosiouxme commented on #12447
+1

I guess you were saying, if the container is spewing logs so fast they get rotated before an aggregator can follow them (or just chooses to drop them), that's the container's problem.

[2015-08-18 13:46] mbabker commented on #12093
Essentially had to build from Git to do it.  Privilege has to be compiled into the binaries it seems.

[2015-08-18 13:57] NOX73 commented on #12093
I did the same, but still both issue actual. How do you rebuild your cluster?
I use ubuntu provider.

[2015-08-18 14:01] mbabker commented on #12093
I've been deploying on GCE with mostly default configs (the only 2 changes in the git tree are setting privilege to true in `cluster/saltbase/pillar/privilege.sls` and changing the disk type for the master since I'm on a trial account at the moment).  The cluster has to be deployed with the binaries and packages from the git build, so if you have any existing SHA signatures in your local system or

[2015-08-18 14:10] smarterclayton commented on #12447
Right, should have been clearer.

On Tue, Aug 18, 2015 at 9:40 AM, Luke Meyer <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 14:25] justinsb commented on #12789
Docker 1.7.1 on a clean Ubuntu 15.04 instance is not broken.  Something to do with our bring-up seems likely to be breaking Docker therefore.

It appears that the actual cgroup cpu path on Ubuntu 15.04 (both bare Ubuntu & with k8s) is `/sys/fs/cgroup/cpu,cpuacct/system.slice/docker-<id>.scope`, but once kubernetes is installed Docker is looking for `/sys/fs/cgroup/cpu,cpuacct/system/system.slice/d

[2015-08-18 14:33] lachie83 commented on #12835
@preillyme Still not working for me. Can you share the format of your .dockercfg. Are you sure you didn't manually pull the image on the node during testing?

Here's something interesting I'm seeing when running a --validate
[code]

[2015-08-18 14:55] #12776 closed

[2015-08-18 15:03] roberthbailey commented on #12853
/cc @derekwaynecarr

[2015-08-18 15:04] roberthbailey commented on #12854
/cc @derekwaynecarr

[2015-08-18 15:05] roberthbailey commented on #12856
/cc @dchen1107 @bgrant0607 @davidopp @fgrzadkowski

[2015-08-18 15:12] drora commented on #499
How is it working for you? no matter which approach I try, it fails to pull from my private repo.
- minions with /.dockercfg didn't work. tried all suggested permutations/location.
- pre-fetch is out of the question.
- imagePullSecrets: can anyone publish his working yamls?
below is my setup, can anybody spot something wrong?
** my setup **
I am distributing over aws + coreos (alpha-v774.0.0):
<se

[2015-08-18 15:16] pmorie commented on #11937
Closing since the secrets UG was updated with the requested info.

[2015-08-18 15:16] #11937 closed

[2015-08-18 15:36] kgoerlitz commented on #7826
On the azure/ubuntu/saltstack cluster setup, it would be better if it did not configure the cloud service to expose the nginx proxy for kuba api on port 443 since an application deployed in the cluster may need to be exposed on port 443.

[2015-08-18 15:41] biswars commented on #10265
@antoineco , thanks for the details for creating the certs. I followed the chain and could create the certs manually but still the communication to apiserver fails. It keeps showing the followings in the apiserver log:

Aug 18 15:35:30 core-02 kube-apiserver[456]: I0818 15:35:30.203182     456 logs.go:41] http: TLS handshake error from 10.0.2.15:43631: remote error: bad certificate
Aug 18 15:35:30

[2015-08-18 16:06] smarterclayton commented on #260
To give this a slight kick:

There are several fundamental problems that need to be solved:

1. Some components need to have a unique identity per pod that is tied to their storage on disk
  a. As a further wrinkle, some of those (zookeeper in some cases) need the hostname to be resolvable and match
2. Some components that are scaled out need to have persistent storage that is different per pod (p

[2015-08-18 16:09] gauthierbl commented on #12854
@rawlingsj I'm also experiencing these same TLS auth errors on the master while using the Vagrant scripts.

I'm also seeing the following on the minion from `/var/log/salt/minion`:

[code]

The contents of `/etc/salt/pki/minion` are below:

[code]

On the master in `/var/lib/kubelet/kubeconfig1` and on the minion in `/var/lib/kube-proxy/kubeconfig` I have the following which seems relevant. I have

[2015-08-18 16:11] preillyme opened #12862 "Add a nodeSelector field to your pod configuration"
We're having an issue getting nodeSelector to work as expected.

We'd like to have a pod run on a specific node. We've given each node a "name" label then used that in the pod spec but the pod is *not running* on the node matching the label.

[code]

/cc @lachie83

[2015-08-18 16:12] smarterclayton opened #12863 "Pod log error message "must select container name" should print valid container names"
[code]

Should try harder to be useful to the user:

[code]

Also, `POD` capitalized is bad

[2015-08-18 16:19] roberthbailey commented on #12862
/cc @brendandburns

[2015-08-18 16:20] roberthbailey commented on #12863
/cc @bgrant0607 @jlowdermilk

[2015-08-18 16:25] roberthbailey commented on #12135
What about the container do you want to access? You can get to the wordpress installation in the container by navigating to http://<container-ip>:80 in your web browser. For the CLI are you trying to get an interactive shell inside the container?

[2015-08-18 16:27] mbruzek opened #12864 "running cluster/test-e2e.sh fails when provider == juju"
We are trying to run the end to end tests on a Juju cluster and running into several problems.

[code]

(Everything comes up and the cluster has 2 nodes where Cluster validation succeeded)

[code]

The original error we encountered was the tests were looking for a "kube-system" namespace that the provider did not previously define, so I fixed that problem and created an empty "kube-system" namespa

[2015-08-18 16:30] sindbis opened #12865 "ar"

[2015-08-18 16:31] antoineco commented on #10265
Did you restart your master components after creating the certs? The controller manager puts the certificate set with the `--root-ca-file` flag inside the secret, so it's important to restart both the API server and controller manager after generating new certs.

You should also delete the secret (like you did) *and* the pods which use them, since they'll use the old secret until you recreate them

[2015-08-18 16:33] #12865 closed

[2015-08-18 16:35] roberthbailey commented on #12862
If you want to pin a pod to a specific node, you can also bypass the scheduler entirely by adding the name of the node to your pod specification, e.g. https://gist.github.com/roberthbailey/d35c6e1e4f1f6339d21f

[2015-08-18 16:35] bprashanth commented on #12665
@jjfiguep did you deploy the haproxy pod in the example? let me know how it went when you have a minute

[2015-08-18 16:37] roberthbailey commented on #12864
/cc @mbforbes @quinton-hoole @ixdy

[2015-08-18 16:39] jlowdermilk commented on #10693
What about just adding a separate preferences file that overwrites current context/preferences from kubeconfig? Strawman: `~/.kube/preferences` contains just current context and preferences. If present, its values will overwrite whatever values are read from the kubeconfig currently in use. That would be fairly easy to implement and purely additive on top of the existing kubeconfig structure. If p

[2015-08-18 16:47] dchen1107 commented on #11733
Copied from #12856 for recent failure here, and re-open the issue:

[code]

[2015-08-18 16:48] jdef commented on #12281
xref https://github.com/mesosphere/kubernetes-mesos/issues/442

[2015-08-18 16:50] bgrant0607 opened #12866 "Add more probe control parameters"
Resurrected from #66 and #761.

Probe currently supports the following control parameters:
[code]

We should add the following common control parameters (matching, for instance, [AppEngine's parameters](https://cloud.google.com/appengine/docs/managed-vms/config#health_checking) and [GCE's parameters](https://cloud.google.com/compute/docs/reference/latest/httpHealthChecks)):
[code]

At some point w

[2015-08-18 16:52] vishh commented on #11733
Can you try again with the latest hyperkube image @dchen1107? The older images were statically built, which resulted in cadvisor being dropped.

[2015-08-18 16:55] jdef commented on #12164
tracking this in kubernetes-mesos, closing here for now

[2015-08-18 16:55] #12164 closed

[2015-08-18 17:00] bgrant0607 commented on #12245
Scheduler config, as an example: https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/scheduler/api

[2015-08-18 17:00] jdef commented on #11796
closing this out since because the user story is unsupported at this time

[2015-08-18 17:00] #11796 closed

[2015-08-18 17:01] jdef commented on #11795
could be related to https://github.com/mesosphere/kubernetes-mesos/issues/322

[2015-08-18 17:01] karlkfi commented on #11890
Moving tracking of issue to https://github.com/mesosphere/kubernetes-mesos/issues/445

[2015-08-18 17:01] #11890 closed

[2015-08-18 17:06] hach-que opened #12867 "Exposing services with load balancers should allow either existing load balancer names, existing static IPs for load balancers or assignment of DNS records to load balancers"
Currently when you an expose a service, there's no way to guarantee that the service is exposed on a certain IP address.  It looks as if the `publicIPs` setting is now ignored (it does nothing when specified), and when you use `--create-external-load-balancer=true` it will result in the creation of a new load balancer for the same named service if the cluster has been destroyed and recreated (e.g.

[2015-08-18 17:08] sttts commented on #6828
There is a e2e test already which checks that cpu resources are validated: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduler_predicates.go#L236

[2015-08-18 17:12] bgrant0607 commented on #4710
I would like to expose configuration data (#1553, #6477) as environment variables, which should be less problematic than secrets. It would have the same level of privacy as env vars put directly into a PodSpec. API-wise, it should look similar to secrets.

[2015-08-18 17:17] bgrant0607 commented on #12245
And Openshift:
https://github.com/openshift/origin/blob/master/pkg/cmd/server/api/v1/types.go

[2015-08-18 17:24] bgrant0607 commented on #12245
And kubeconfig: https://github.com/kubernetes/kubernetes/tree/master/pkg/client/clientcmd/api

[2015-08-18 17:34] dchen1107 commented on #11733
@dalanlan can you follow what @vishh suggested above?

[2015-08-18 17:35] deads2k commented on #499
Can you confirm that your base64 secret matches correctly using the command referenced here: https://github.com/kubernetes/kubernetes/issues/499#issuecomment-131162957 ?  The imagePullSecret is loaded into a keyring that matches based on the URL of your pull spec, so that needs to match correctly as well.

[2015-08-18 17:35] berset commented on #7042
Yes, this is really a blocker for a lot of use cases with CoreOS on AWS :(

[2015-08-18 17:40] albertsj1 commented on #12854
I just downloaded the tarball for 1.0.3 and following the [getting started guide for vagrant](http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html).  I'm experiencing the same issue as @rawlingsj and see the same messages in the log file.
I'm completely new to Kubernetes and just trying to launch a local cluster with vagrant to get familiar with it.  Is there a release that works pro

[2015-08-18 17:40] dchen1107 commented on #12866
cc/ @timstclair @davidopp

[2015-08-18 17:53] thesamet commented on #7042
+1, ended up writing a CloudFormation setup that users my own custom build that cherry-picks #8530.

[2015-08-18 17:59] thockin commented on #12866
Small point - let's choose "interval" or "period" and use it everywhere.  I
have found (and perhaps contributed to inconsistency).
On Aug 18, 2015 9:51 AM, "Brian Grant" <notifications@github.com> wrote:

[2015-08-18 18:01] bgrant0607 commented on #4822
@kubernetes/rh-ux Does someone from your side have time to work on this?

[2015-08-18 18:01] bprashanth commented on #561
This is exactly the case for loadbalancer classes (either embedded in the ingress point or via claims). I'm a little wary of offer this out of the box, because there are several multi-tier setups (ELB l7 for ssl termination -> nginx, f5 l4 -> apache ssl proxy -> l7 etc). You should have 2 loadbalancer controllers, one for aws and another for haproxy.

handwaving a bit in this example:

aws and hap

[2015-08-18 18:15] roberthbailey commented on #12867
/cc @thockin @brendandburns

[2015-08-18 18:27] roberthbailey commented on #11042
@saad-ali -- any updates (someone on github was asking)

[2015-08-18 18:33] danielschonfeld commented on #11042
@saad-ali that someone was me...

[2015-08-18 18:37] yujuhong commented on #10878
Closing this as there are more details in the new issue #12866

[2015-08-18 18:37] #10878 closed

[2015-08-18 18:39] saad-ali commented on #11042
@danielschonfeld thanks for the reminder. I'll look in to this issue this week.

[2015-08-18 18:41] bprashanth commented on #12867
I think this is more of an autosizing question, changing the instance size shouldn't required teardown of loadbalancers. if we allowed somone to specify loadbalancer ip in the spec, and left everything as it was (forwarding rules etc), getting kubeproxy to come back up and write the correct iptable rules for that ip should be straightforward, i think. The service controller would blindly take the

[2015-08-18 18:41] yujuhong commented on #12866
To do this, we need to decouple probing from pod syncing.
We can either wake up the pod worker for probing only, or we can add a separate component solely for probing.
The decoupling also needed by my pod lifecycle event proposal (as described the [TODO](https://github.com/yujuhong/kubernetes/blob/kubelet_proposal/docs/proposals/pod-lifecycle-event-generator.md#todos) list) since periodic sync wil

[2015-08-18 18:50] paralin commented on #11961
Okay @thockin, how's this?

[2015-08-18 18:59] preillyme commented on #12835
@lachie83 I've confirmed it again. Seems to be working now.

[2015-08-18 19:00] mwielgus commented on #11984
cc: @fgrzadkowski

[2015-08-18 19:01] preillyme commented on #12862
Thanks @roberthbailey

[2015-08-18 19:05] mwielgus opened #12870 "Kubectl ignores --server flag for experimental api"
[code]

[2015-08-18 19:06] mwielgus commented on #12870
cc: @uluyol @jszczepkowski

[2015-08-18 19:11] zmsp commented on #12660
Please anyone can help us out?

[2015-08-18 19:13] pmorie commented on #12627
I am hoping that by then we will have sorted out volumes and non-root permissions.

[2015-08-18 19:14] thockin commented on #12660
kube-proxy is supposed to run on every node.  Can you look at the logs for
kube-proxy - it seems to not be getting updates from the master - maybe
that is not working?

On Mon, Aug 17, 2015 at 10:01 AM, Zobair <notifications@github.com> wrote:

[2015-08-18 19:16] thockin commented on #12867
Dup of #10323

[2015-08-18 19:16] #12867 closed

[2015-08-18 19:19] nikhiljindal commented on #12870
cc @caesarxuchao

[2015-08-18 20:15] bgrant0607 commented on #9473
Our general principle with the downward API is that we should give the user enough control over the structure of the data that we don't need to version the format explicitly, separately from the cluster API version.

[2015-08-18 20:17] lachie83 commented on #12835
Yes - I was about to get this working. The trick was in the --validate. I had imagePullSecrets under the wrong section of the Pod Spec.

[2015-08-18 20:20] lachie83 commented on #12862
This is working as expected. Isolated using the --validate. I had nodeSelector in the wrong part of the Pod spec.

Working Pod spec below

[code]

[2015-08-18 20:20] lachie83 commented on #12862
This can be closed.

[2015-08-18 20:27] #12862 closed

[2015-08-18 21:16] preillyme commented on #12835
Okay I'm glad it's fixed now @lachie83

[2015-08-18 21:39] roberthbailey commented on #11909
The kube-system pods don't run on a master node. They run on nodes within your cluster. Two of them happened to have landed onto the same node (using enough of its resources that none of your pods were scheduled there), but they could have just as easily been spread across three nodes or all packed into one node.

What size nodes are you using? It may just be that one node happened to be full enou

[2015-08-18 21:43] hiltyj opened #12877 "kubernetes 1.0.3 kube-up.sh not functioning"
When I attempt to kube-up it gets most of the way completed but then stops and gives
[code]
Is this just me or has this occurred elsewhere?

[2015-08-18 21:45] soundofjw commented on #11909
@roberthbailey
I know the pods aren't being scheduled according to their resource limits (#168).

The nodes are `highmem-4`, and the pods are configured:
[code]

The reason a pod might end up failing is only because it's using the JVM to reserve heap memory, and failing when the shared memory isn't large enough.

[2015-08-18 21:56] mwielgus commented on #12870
The problem seems to be caused by creating experimental client config too early, before the --server flag is defined/parsed:
[code]

Regular clients are created via clientcache much later:
[code]

[2015-08-18 21:59] bgrant0607 commented on #12862
FYI, you can also just set the nodeName field.

[2015-08-18 22:01] bgrant0607 commented on #10555
Yet another example of a support question due to lack of validation: #12862

[2015-08-18 22:04] bgrant0607 commented on #4822
Example support issue where multiple people had trouble figuring out how to use imagePullSecrets: #12835

[2015-08-18 22:05] bgrant0607 commented on #10555
And another: #12835

[2015-08-18 22:11] roberthbailey commented on #12877
@lhuard1A

[2015-08-18 22:20] zmsp commented on #12660
One of the issue I found after looking at the log was that nodes were using 7080 port instead of 8080 for kube-proxy and we resolved it by simply redownloading the release (1.0.1). However we still cannot connect to the service.

I suspect that it is able to get update from master as the kube-proxy log says failed to get list initially but then it stops giving that error.

the output of sudo journ

[2015-08-18 22:21] roberthbailey opened #12881 "Migrate test infrastructure to new gcloud commands for MIGs"
In the per-PR e2e tester, I see a bunch of lines like this:

[code]

which means that our per-PR builder is going to break abruptly in the next few weeks after a gcloud release.

https://github.com/kubernetes/kubernetes/pull/11692 switched us over to the new API but it appears that there are some places where we are still using the preview commands.

[2015-08-18 22:21] roberthbailey commented on #12881
/cc @wojtek-t @jlowdermilk

[2015-08-18 22:22] emaildanwilson commented on #1957
+1 My thought on this is if it integrates into an external service registry then accessing external resources can be performed without adding services. Also, and possibly more important, when services running inside a single k8s cluster try to access another service it could auto-route to another copy of the service in another k8s cluster if the local one is down (still thinking same region here).

[2015-08-18 22:27] mattma commented on #12774
@thockin @Hokutosei You are right. I have found the environment variables have been set by K8s and I could simply use it out of the box. This is awesome.

@thockin For my Q1 question above, I followed the debugging my services.

My service have an Endpoints, it selected a group of pods. Service work by DNS. Got `ClusterIP` in the range of DNS. Pods is running in healthy condition.

But the service

[2015-08-18 22:42] bgrant0607 commented on #11361
Best practices are documented here:
http://kubernetes.io/v1.0/docs/user-guide/config-best-practices.html

Additionally, use of `name` as a label key confuses users, which is a long-standing pain point (e.g., #3394). Recent example: #12774.

cc @kubernetes/goog-friction

[2015-08-18 22:43] jonmoter commented on #12614
I'm getting the same thing as @arun-gupta, trying to run Kubernetes 1.0.3 with VirtualBox 5.0.2.  FYI, I'm running with Vagrant 1.7.4.  I get stuck at the "Waiting for each minion to be registered with cloud provider" infinite loop.

I believe this is the same issue as #12854, because when I check `master:/var/log/kube-apiserver.log`, I see a lot of:

[code]

[2015-08-18 22:46] bgrant0607 commented on #12774
@mattma You need to have the label in your service selector (`name: mongodb-mongos1`) on your pod template in the replication controller. The name of the replication controller is irrelevant to the service. It targets pods. For an example, see: http://kubernetes.io/v1.0/docs/user-guide/managing-deployments.html#organizing-resource-configurations

Perhaps @bprashanth or @ArtfulCoder can help furthe

[2015-08-18 22:54] jonmoter commented on #12854
+1, seeing the same issue, including the same output in `master:/var/log/kube-apiserver.log` and `minion-1:/var/log/salt/minion`

Kubernetes 1.0.0
Vagrant 1.7.4
VirtualBox 5.0.2

[2015-08-18 22:55] dchen1107 commented on #12789
I finally brought up a VM with ubuntu 15.04, docker 1.17.1. I think I figured out what is going on here.

Looks like on systemd node, the latest version of libcontainer hardcode on how to get base cgroup path based on process with id 1.

Without kubelet, process 1 is in root cgroup like /sys/fs/cgroup/<subsystem>. But since k8s 0.20 release, kubelet creates several resource-only cgroup for raw pro

[2015-08-18 23:00] ghodss commented on #3060
The PR for this feature is at #12677.

[2015-08-18 23:06] mattma commented on #12774
@bgrant0607 I belive that you looked at the example that @Hokutosei gave, that is not what i have. Here is exact the `rc` and `svc` files. Please, help. I think the syntax, format, selector are all right.

[code]

[code]

[2015-08-18 23:19] bgrant0607 commented on #12866
Good catch, @thockin. Period it is. Updated issue description.

[2015-08-18 23:29] arun-gupta commented on #12104
Published a blog explaining this: http://blog.arungupta.me/kubernetes-application-package-multiple-resources-together/

[2015-08-18 23:30] krousey commented on #12681
@RichieEscarez I have a PR out which links this back to the release branch, not the gh-pages branch. Is that ok? For this particular example, the link is https://releases.k8s.io/v1.0.1/examples/high-availability

There really shouldn't be any difference.

[2015-08-18 23:35] dchen1107 commented on #12789
@justinsb PR #12885 was out to address this issue. Another workaround is not create /system cgroup by unset --system-container

[2015-08-18 23:47] pnovotnak opened #12889 "Cast Environment Variable Values As String"
Occasionally I forget to wrap numeric environment variables in quotes and am briefly puzzled by the resulting error.

    error: could not read an encoded object from <controller>.yaml: unable to load "<controller>.yaml": json: cannot unmarshal number into Go value of type string
    error: no objects passed to create

[2015-08-18 23:55] bgrant0607 commented on #12211
I think this is done.

[2015-08-18 23:55] #12211 closed

[2015-08-19 00:06] bgrant0607 commented on #10735
For Kubernetes docs, start here:
http://kubernetes.io/v1.0/docs/user-guide/prereqs.html

If you'd like support for making it easier to use multiple kubeconfig files, comment on #9298.

GKE documentation is here: https://cloud.google.com/container-engine/docs/clusters/operations#configuring_kubectl

Probably we could cross-link the OSS and GKE documentation better. cc @MikeJeffrey @RichieEscarez

R

[2015-08-19 00:17] bgrant0607 commented on #10693
@smarterclayton What don't you like about the idea of splitting out current-context? Do you think it would make some common use case harder, or are you worried about backward compatibility, or something else?

[2015-08-19 00:26] ghodss commented on #4825
@thockin Our use case for is that we have many services that depend on being able to query for the hostname of the host that the service is running on. The use cases for it are extremely varied - in one case, it's a worker service operating on a storage node which has identity and the service needs to be aware of which storage node it's operating on. In another case, the service dynamically stands

[2015-08-19 00:28] smarterclayton commented on #10693
Common case mostly - KUBECONFIG pointed to a file is useful, two files
makes that harder, most people most of the time have only one file.  Also,
it's hard to make two files atomic, so people will forget to clean one out.
The merging case just hasn't been something anyone has asked for on our end
since we put a lot of time into namespace switching being a first class
concept.  Direct config manage

[2015-08-19 00:31] bgrant0607 commented on #10693
Isn't each cluster created going to generate its own kubeconfig file? Without merging at consumption time, the alternative is to provide a tool to physically merge the files.

Assuming that each cluster is going to have its own kubeconfig file, then the model we currently have is to use the --kubeconfig flag or KUBECONFIG env var to change clusters/contexts. The context-manipulating commands mostl

[2015-08-19 00:46] bgrant0607 commented on #10693
@jlowdermilk Thanks. Reasonable proposal. I'd like to come to some understanding of what we expect the common usage scenarios to be before we decide what to do.

In public clouds, I think multiple clusters (e.g., one per zone, or at least per region; separate dev/prod resource pools; hybrid public cloud / on prem) will be common. Therefore, we should make it easy for users to switch between cluste

[2015-08-19 00:54] bgrant0607 commented on #4825
Quick comment re. "For pods using host network, by default share the UTS namespace with node."

That makes sense to me.

[2015-08-19 00:57] thockin commented on #12889
Unfortunately this is done in the yaml/json decoder before we ever see it.

We could back env values with IntOrString instead of string, and then
handle the case of int by converting to string.  Better UX maybe, but very
"special case".

On Tue, Aug 18, 2015 at 4:48 PM, Peter Novotnak <notifications@github.com>
wrote:

[2015-08-19 01:02] smarterclayton commented on #10693
On Aug 18, 2015, at 8:32 PM, Brian Grant <notifications@github.com> wrote:

Isn't each cluster created going to generate its own kubeconfig file?
Without merging at consumption time, the alternative is to provide a tool
to physically merge the files.

In practice we haven't had an admin managing multiple clusters in this way
- an admin sets up a local cluster, may connect to other clusters as
regu

[2015-08-19 01:04] smarterclayton commented on #10693
On Aug 18, 2015, at 8:47 PM, Brian Grant <notifications@github.com> wrote:

@jlowdermilk <https://github.com/jlowdermilk> Thanks. Reasonable proposal.
I'd like to come to some understanding of what we expect the common usage
scenarios to be before we decide what to do.

In public clouds, I think multiple clusters (e.g., one per zone, or at
least per region; separate dev/prod resource pools; hybrid

[2015-08-19 01:23] pnovotnak commented on #12889
Roger, seems like rolling our own parser for Kubernetes is a fool's errand. Closing ticket.

[2015-08-19 01:23] #12889 closed

[2015-08-19 01:25] ghodss commented on #4825
That would solve all our issues.

[2015-08-19 01:35] dalanlan commented on #11733
@vishh @dchen1107
Thank you for your concerning.
The hyperkube binary i used was self-built, which is a non-static one. And this image gc issue has nothing to do with Cadvisor, i'll bet.

The error was triggered [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L828) by `StartGarbageCollection` func, which drop the msg [here](https://github.com/kubernetes/kubern

[2015-08-19 01:43] dalanlan commented on #11733
Sorry about my simple comment before.  I should have dived deeper.
It has everything to do with Cadvisor. Yet i still have the same problem since i already used a non-static hyperkube binary.

[2015-08-19 01:47] bgrant0607 commented on #4825
Quick comment re. "Unless we can set pod hostname to the name assigned by "nominal service", if it is possible."

Nominal services should set the hostname.

More general design of nominal services should happen on #260.

[2015-08-19 01:48] bgrant0607 commented on #4825
Hostname should not be set to nor derived from pod name.

[2015-08-19 01:56] bprashanth commented on #12814
We have image pull secrets http://kubernetes.io/v1.0/docs/user-guide/production-pods.html#authenticating-with-a-private-image-registry

[2015-08-19 01:58] bgrant0607 commented on #4825
How about we set the hostname to some name derived from IP address by default (except for the other cases discussed, such as host network)?

[2015-08-19 02:03] bgrant0607 commented on #4825
cc @senorflor

[2015-08-19 02:10] dalanlan commented on #12856
Copied from #12760

Let's say i set up a cron job to remove all of the exited containers nightly, would it *break* the behavior of kubelet?
/cc @yujuhong

[2015-08-19 02:28] bgrant0607 commented on #260
I agree with 1a, 1b, and 2a. 2b sounds like a different problem, though perhaps the solution can reuse the same pattern.

I think scale (3) mainly suggests that our workaround of one service and RC per instance isn't adequate, though I agree with the distinction between cloud-native vs. not.

Master election (4) can be addressed separately.

Also agree with (5).

I think most of the design require

[2015-08-19 02:37] finn0013 opened #12892 "Install not working on Mac OS X"
I am trying to get started with Kubernetes, running on Mac OS v 10.9.5, Vagrant v 1.7.4, VirtualBox v 4.3.28, and Kubernetes v 1.0.3. I've tried both the curl and the download approaches to installing, following the Vagrant getting started guide.

No matter what I try I cannot get the installer to complete. It gets to the "Waiting for each minion to be registered with cloud provider" step then wil

[2015-08-19 02:41] roberthbailey commented on #12892
@derekwaynecarr

[2015-08-19 03:05] invernizzie commented on #12854
+1
Kubernetes 1.0.3
Vagrant 1.7.4
VirtualBox 4.3.28

[2015-08-19 03:15] #12463 closed

[2015-08-19 03:20] thockin opened #12893 "Set pod hostname to node name if --net=host"
Forked from #4825 - there seems to be no disagreement.  If a pod uses host networking, the host's UTS should be used, too (or at least hostname and domainname fields in the docker API).

This seems like a pretty easy change that just about anyone could make (hint hint)

[2015-08-19 03:21] thockin commented on #4825
Regarding host networking:  I forked #12893 - let's not mention it in this thread again :)

[2015-08-19 03:31] thockin commented on #4825
@bgrant0607

I do not buy your first statement as absolute, but I'm not actually arguing for that.  I'm advocating generating a new UUID or something similarly opaque and just setting hostname to that.  We will need to debate what domainname should be.  I'm thinking `pod.cluster.local` in case we ever do want to do DNS.

I don't like deriving it from IP precisely because of your "except for ..." c

[2015-08-19 03:32] thockin commented on #9283
See #4825 for discussion on this.  I'm going to close this as dup for now.

[2015-08-19 03:32] #9283 closed

[2015-08-19 03:36] xiejunan commented on #12087
@jiangyaoguo

[2015-08-19 03:59] bgrant0607 commented on #260
Master election is #1542, and is being discussed as part of the HA implementation (e.g., #12884).

[2015-08-19 03:59] bgrant0607 commented on #1542
cc @timothysc @jayunit100

[2015-08-19 04:23] thockin commented on #260
I don't know what you mean by push and pull.

I've re-read most of this issue, and I am convinced there is not a single
solution.  We're going to need a family of features to build a bridge to
these sorts of apps.

I'm starting with the axiom that once a pod is running you can not really
change a running pod.  There are some exceptions to this (e.g. virtual
filesystem contents) but the things that

[2015-08-19 04:29] smarterclayton commented on #260
I probably didn't truly mean master election as you think of it - more that
when building out functionality where a set of instances need to initialize
(without explicitly coordinating) having only the instance that thinks it's
"1" talk to other pods is usually sufficient to bootstrap a cluster.  An
example is mongodb where you need to initiate the replica set - if pods
that think they are "2" or

[2015-08-19 04:31] thockin commented on #12450
I discussed a bit with @saad-ali today.  Inline claims would make it easy
to use PVs, but I can't think of any good reason to use this (actually one
reason, see below).  The point of PVs is the P - lifetime beyond that of a
pod (actually not true, see below).  I presume that these anonymous inline
claims would expire when the pod using them expires, binding the lifetime
of the volume to the lifeti

[2015-08-19 04:35] adyanthaya17 commented on #12135
I created a new container POD that has wordpress and mysql running. The wordpress and mysql services are also seen.

I have tried accessing the wordpress on the web by http://10.x.x.x:80 but it's giving me a page error.

$ kubectl get services
NAME         LABELS                                    SELECTOR         IP(S)           PORT(S)
kubernetes   component=apiserver,provider=kubernetes   <none

[2015-08-19 04:48] adyanthaya17 commented on #12135
This isn't working either:
$ http://10.x.x.x:80/wp-admin/install.php

[2015-08-19 04:51] amitkgupta commented on #12120
@thockin Err, wouldn't the client IP be my personal machine's IP, i.e. where the browser originating the request lives?

[2015-08-19 04:52] adyanthaya17 commented on #12135
These are the logs...

$ kubectl logs mysql
Running mysql_install_db
.
.
.

MySQL init process done. Ready for start up.

2015-08-19 04:17:09 0 [Note] mysqld (mysqld 5.6.26) starting as process 1 ...
2015-08-19 04:17:09 1 [Note] Plugin 'FEDERATED' is disabled.
2015-08-19 04:17:09 1 [Note] InnoDB: Using atomics to ref count buffer pool pages
2015-08-19 04:17:09 1 [Note] InnoDB: The InnoDB memory he

[2015-08-19 04:55] thockin commented on #12120
if you're coming from out-of-cluster, then yes :)

On Tue, Aug 18, 2015 at 9:52 PM, Amit Gupta <notifications@github.com>
wrote:

[2015-08-19 05:04] anguslees commented on #260
@smarterclayton It's an aside to the nominal services issue, but it isn't safe to bootstrap as you're describing.  If "1" is restarted on a new machine and happens to be unable to reach the existing nodes, then it will re-bootstrap and now you have two mongodb's claiming to be authoritative.  You need to change the job definition to remove the ability to bootstrap after bootstrapping is complete.

[2015-08-19 05:14] a-robinson commented on #12447
Agreed, we shouldn't make guarantees about not losing rotated logs from misbehaving containers. There's a point at which it's simply not worth the extra work to support the corner cases perfectly.

[2015-08-19 05:16] satnam6502 commented on #12447
I really wish you could +1 comments on GitHub. +1 ^^^^^

[2015-08-19 05:18] jimmycuadra commented on #12375
I'm also looking for this information. There should be a single obvious document that lists ports and protocols (and which binaries use which). Right now it's very unclear which of the Kubernetes components require incoming network connections.

Here's what I was able to find by scrounging around in the docs:

* kube-apiserver: 6443/tcp, possibly 443/tcp if a reverse proxy is sitting in front of i

[2015-08-19 05:35] anguslees commented on #260
As @thockin might be alluding to, I think we're unnecessarily conflating several similar-but-different features here - and we're including more than is strictly necessary at the k8s level.

I see two quite different use cases described above - differing by source of truth:

*Prescriptive:* "I want N shards running, and if there are more or less than that, then make changes to bring it back to N."

[2015-08-19 05:46] thockin commented on #12660
What does iptables-save show now?

On Tue, Aug 18, 2015 at 3:21 PM, Zobair <notifications@github.com> wrote:

[2015-08-19 06:08] thockin commented on #12780
@jszczepkowski We should be able to manually bump the MIG to add nodes, right?

[2015-08-19 06:14] thockin commented on #11797
Shoiuld we close this now?

[2015-08-19 06:22] jszczepkowski commented on #12780
Yes. Bumping the MIG adds new nodes to the cluster.

[2015-08-19 06:33] mikedanese commented on #12864
Looks like oure e2e tests now depend on auth being properly setup so that InClusterConfig works which is the authentication mechanism used by cluster components that run in pods. Here is a canned answer I wrote earlier about how to do this to get kube2sky to work:

Perhaps we should optionally turn off tests that require this dependency e.g.  the DNS test, the TokenController, and disable the serv

[2015-08-19 06:34] wojtek-t commented on #12881
I will fix that.

[2015-08-19 06:36] bgrant0607 commented on #11797
I'm not sure it is fully resolved by graceful termination. cc @smarterclayton

Also, that might still get reverted.

[2015-08-19 06:37] ixdy commented on #12881
thanks!

[2015-08-19 06:39] rubenv commented on #12877
This is fixed in master, but sadly not released yet: https://github.com/kubernetes/kubernetes/blob/b5a4a548df0cffb99bdcc3b9b9e48d4025d0541c/cluster/common.sh#L83-L85

[2015-08-19 06:40] maulik887 commented on #12644
Sorry I'm stretching you guys.. but any update on this ?

[2015-08-19 06:47] satnam6502 commented on #12644
(Sorry -- I have been a bit distracted of late -- let me try to remember to look at this on Wednesday)

[2015-08-19 07:22] roberthbailey commented on #12877
@rubenv Is there a PR that should be cherry picked into the 1.0 release branch to fix this when we cut 1.0.4?

[2015-08-19 07:36] adyanthaya17 opened #12898 "kubectl get pods"
How do you add a host column so that when the command 'kubectl get pods' is executed the host column with the IP comes up?

[2015-08-19 07:42] tsl0922 commented on #12892
Same here.

[2015-08-19 07:42] rubenv commented on #12877
@roberthbailey Looks like #11794, but that depends on other things. I'm not up-to-date on all the details, maybe best to ping @mikedanese who wrote it.

[2015-08-19 07:59] adyanthaya17 commented on #12135
Is there a way as to how to access the pod containers that were hosted in the cluster environment.

[2015-08-19 08:05] adyanthaya17 commented on #12135
The containers (mysql and wordpress) keep geting killed and re creating when I check for the 'docker ps -a', is there a way to stop it?

[2015-08-19 08:15] rubenv opened #12899 "Backport #11804 to release branch"
Would it be possible to cherry-pick #11804 into the release branch?

This was fixed 26 days ago but hasn't made its way into 1.0.3, which means that kube-proxy is broken out of the box on libvirt-coreos.

[2015-08-19 08:16] janosi commented on #831
+1
My humble use case is:
- configuration of applications would be on a tmpfs based voume, represented by a data container .(Docker support coming soon for tmpfs). There would be a single pod of this data container per host.
- application pods use this data pod to read their config. There can be multiple application pods using this single data pod on the same host. Using persistent storage is not

[2015-08-19 08:29] davidopp commented on #11909
If you're still having a problem, can you send the information @bprashanth mentioned here?
https://github.com/kubernetes/kubernetes/issues/11909#issuecomment-126113909

[2015-08-19 08:33] bgrant0607 commented on #260
By push, I meant another resource, like a Service or controller, would monitor sets of pods via a label selector and bestow "things" (resolvable DNS names, VIPs, PVCs) upon them.

By pull, I meant that the pod would explicitly request allocation of a "thing", which would then be bound to it via something like /binding.

Regarding changing running pods: Changing a pod after creation is different th

[2015-08-19 08:34] wojtek-t commented on #12881
This is really misleading - it was caused by autoscaling:

    wojtekt@wojtekt-work:~/go/src/github.com/GoogleCloudPlatform/kubernetes$ gcloud preview autoscaler --zone "us-central1-b" list
    WARNING: This preview command will be removed soon.
    WARNING: These managed infrastructure preview commands have been migrated to "gcloud compute intance-groups managed" command group.
    WARNING: See h

[2015-08-19 08:34] wojtek-t commented on #12881
cc @piosz
I will fix that too

[2015-08-19 08:36] bgrant0607 commented on #12450
What an "anonymous inline claim" sounds like to me is a claim template. But, yes, let's discuss in #260.

[2015-08-19 08:45] bgrant0607 commented on #12893
cc @senorflor

[2015-08-19 08:58] bgrant0607 commented on #4825
What is the point of setting the hostname to something random but unresolvable? There are other sources of random bits.

The need for "except for" clause is unaffected by your proposal.

Using the pod IP address would be more friendly to humans, would match the lifetime of the corresponding pod, without being permanently bound to the specific pod resource, and would naturally move if/when we could

[2015-08-19 08:59] bgrant0607 commented on #12893
cc @ghodss

[2015-08-19 09:14] drora commented on #499
apparently it was a base64 issue. thanks for the lead @deads2k.
when I compered the original file to the stored one as suggested I had noticed that another jsonobject called "auth" was encapsulating my .dockerconfig file json structure from the top level.
as it turns out (I could be stating the obvious here but what the hell, it could help somebody), base64 relies on local encoding that varies bet

[2015-08-19 09:41] jtbcgdv opened #12902 "Docker container file systems have become readonly"
I created the issue with docker but it may be more appropriate here.

After some time, all docker container file-systems have become readonly.

The cluster is running on AWS with m3.large instances for minions.  The cluster is just running 1 minion but when I scaled it up to 2 minions, the new minion did not have a read-only FS.

https://github.com/docker/docker/issues/15689

[2015-08-19 09:53] jiasir opened #12904 "getaddrinfo ENOTFOUND"
When execute `cluster/kube-up.sh` has the following errors:
[code]

And how can I fix it? Thanks!

[2015-08-19 09:59] jtbcgdv opened #12905 "AWS: minion docker file-system has become read-only"
Kubernetes cluster:
AWS
master: m3.medium
1 minion  m3.large

After some time the mount point for the docker file system has become read-only so the containers don't work as expected.  Initially it was read-write.

`ubuntu@ip-172-20-0-164:~$ grep ephemeral /proc/mounts`
`/dev/mapper/vg--ephemeral-docker /mnt/ephemeral/docker ext4 ro,noatime,stripe=16,data=ordered 0 0`
`/dev/mapper/vg--ephemeral-ku

[2015-08-19 09:59] jtbcgdv commented on #12902
I've replaced this issue with:
https://github.com/kubernetes/kubernetes/issues/12905

[2015-08-19 09:59] #12902 closed

[2015-08-19 11:13] errordeveloper opened #12907 "[discuss] Guides are not tight to release tags in the main repo"
It's probably a good idea to move community integration guides into a separate repo, as they will never get in sync with release tags. It is actually technically almost impossible for community to test an integration with release binaries until a tag is published, and bothering to find magic ways of doing it would probably be a very unnecessary overhead as many of the guides have their own ways of

[2015-08-19 11:22] linfan commented on #11775
+1
I'm using CoreOS, and getting same issue, just a hint here it maybe related to flannel network:
https://groups.google.com/forum/#!topic/google-containers/KJ7grYHAreU

[code]

[code]

[2015-08-19 11:24] errordeveloper commented on #12907
Here is a good example of [user confusion](https://github.com/kubernetes/kubernetes/issues/12224#issuecomment-132198414).

[2015-08-19 11:31] justinsb commented on #12647
@erez-rabih that is indeed a bug, thanks for spotting.  Can you send a PR?  If not I can put one together.

[2015-08-19 12:13] jiasir commented on #12904
I have fixed this issue, here is my solution:
microsoft gives its azure service to another cooperator partner for operating in some countries or areas, so that's a little tricky such as it has different domain name which access the azure storage service, in my country it's "http://storageaccount.table.core.chinacloudapi.cn/" , but "http://storageaccount.table.core.windows.net" in America, find azu

[2015-08-19 12:13] #12904 closed

[2015-08-19 12:30] #12345 closed

[2015-08-19 12:32] gmarek opened #12912 "Allow Kubelets to run on different ports."
This is a prerequiste for current design of Kubemark.

[2015-08-19 12:32] finn0013 commented on #12892
This may be related to https://github.com/kubernetes/kubernetes/issues/12854.

[2015-08-19 12:35] moink635 commented on #12575
Thanks for your reply,

[2015-08-19 12:42] kevin-wangzefeng opened #12914 "Automated bare-metal deployment on CentOS"
I'm recently working on kubernetes deployement on CentOS7. The [Manual Config Guide on CentOS](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/centos/centos_manual_config.md) is helpful to get an running environment, but not enough:
- User cannot easily deploy a multi-node cluster with too many manual configuration steps.
- Becides, it is not always easy to find a

[2015-08-19 12:54] kevin-wangzefeng commented on #12914
To review the scripts, please refer to the PR #12915.

[2015-08-19 13:18] pesho commented on #12854
+1
Kubernetes 1.0.3
Vagrant 1.7.4
VirtualBox 5.0.0

[2015-08-19 13:52] rootfs commented on #12575
@moink635 `hostDir` is a workaround, it still gets problems if you don't have glusterfs mounted on some hosts.
do you happen to have any clues about source of the long file name error?

[2015-08-19 14:28] zmsp commented on #12660
This is the output of iptables-save on minion node

[code]

[2015-08-19 14:31] noz-oro opened #12921 "Running Kubernetes with Vagrant (and VirtualBox) fails"
When performing common instalation of kube cluster via Vagrant (according to [Getting started with Vagrant](http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html))

[code]

it fails:

[code]

It seem to be that vagrant provisioning is hard-coded to be used with fedora and did not respects the `KUBERNETES_OS` nor `KUBERNETES_BOX_NAME` envars.

[2015-08-19 14:48] roberthbailey commented on #12899
@rubenv -- yes. Feel free to run `./hack/cherry_pick_pull.sh` to propose this (or future) cherry pick in PR form yourself as well.

[2015-08-19 14:57] rubenv commented on #12899
@roberthbailey giving it a try!

[2015-08-19 14:58] roberthbailey commented on #12912
/cc me and @cjcullen

[2015-08-19 15:01] roberthbailey commented on #12899
Excellent. Feel free to assign the PR to me.

[2015-08-19 15:03] yujuhong commented on #12540
/cc @kubernetes/goog-node

[2015-08-19 15:06] rubenv commented on #12899
@roberthbailey I don't think I can assign issues in this project. The PR is #12924, where the CLA bot is going slightly crazy.

Closing this one.

[2015-08-19 15:06] #12899 closed

[2015-08-19 15:15] coolsvap commented on #12767
I will update it in couple of days.

[2015-08-19 15:15] coolsvap commented on #8708
I will update it

[2015-08-19 15:23] JackChen255 opened #12925 "kubernetes dependency failure in CentOS 7.1"
I try to setup kubernetes master and 3 minions in four CentOS 7.1 VM. But in minions, I can't start kube service due to dependency failure. Can anyone one help on it? Thanks.

Installed Packages
Name : kubernetes
Arch : x86_64
Version : 1.0.0
Release : 0.8.gitb2dafda.el7
[root@localhost ~]# for SERVICES in kube-proxy kubelet docker flanneld; do systemctl restart $SERVICES; systemctl enable $SERVIC

[2015-08-19 15:28] mikedanese commented on #12174
I think this can be closed since we unreverted those tests

[2015-08-19 15:28] #12174 closed

[2015-08-19 15:29] mikedanese commented on #12104
Awesome. I think this issue can be closed.

[2015-08-19 15:29] #12104 closed

[2015-08-19 15:30] #5261 closed

[2015-08-19 15:31] #3871 closed

[2015-08-19 15:33] #3177 closed

[2015-08-19 15:35] #6905 closed

[2015-08-19 15:35] RichieEscarez commented on #12681
@krousey yes that works, i actually like this approach better because the version is more prominently displayed in the drop-down widget (versus in the file path location in gh-pages). Thanks!

I just tested and see that the PR went through so the link works and now goes to https://releases.k8s.io/v1.0.1/examples/high-availability .....closing.

[2015-08-19 15:35] #12681 closed

[2015-08-19 15:36] #6752 closed

[2015-08-19 15:39] mikedanese commented on #3634
I think this can be close since it is out of date. Please reopen if you have a problem on head.

[2015-08-19 15:39] #3634 closed

[2015-08-19 16:05] thockin commented on #12905
are there any filesystem errors in `dmesg` ?

[2015-08-19 16:17] #11894 closed

[2015-08-19 16:48] bgrant0607 commented on #260
Quick observation: headless services don't allocate VIPs

We could decouple allocation/assignment from DNS publication. Ignoring how allocation/assignment happens for the moment, we could have a special flavor of headless service that took names from some field on the pods representing hostname.

[2015-08-19 16:53] bgrant0607 commented on #260
And, the durable local storage issues are relevant: #7562, #1515, #598

[2015-08-19 17:03] roberthbailey commented on #12898
try `-o wide`

[2015-08-19 17:03] roberthbailey commented on #12898
This is documented at http://kubernetes.io/v1.0/docs/user-guide/kubectl/kubectl_get.html

[2015-08-19 17:03] #12898 closed

[2015-08-19 17:06] roberthbailey commented on #12907
We have https://github.com/kubernetes/contrib so it would be reasonable to move them there or create a new top level repository. Do you have a preference?

@mikedanese

[2015-08-19 17:08] caesarxuchao commented on #12870
Does #12875 fix the problem?

[2015-08-19 17:11] roberthbailey commented on #12921
@noz-oro Most of the automated install scripts target a specific OS distribution on a specific cloud provider. In this case, where the cloud provider is Vagrant, both Fedora and CoreOS are listed in the table of getting started guides: https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/README.md#table-of-solutions

If you'd like to contribute PRs to add support for Ub

[2015-08-19 17:14] pcx commented on #12892
+1, facing the same problem. From related issues/PRs it looks like the Salt failed to add the necessary certs to the minions.

[2015-08-19 17:16] thockin commented on #12660
So this line:

`-A KUBE-PORTALS-CONTAINER -d 10.11.58.113/32 -p tcp -m comment --comment
"default/postgresql:" -m tcp --dport 5432 -j REDIRECT --to-ports 60132`

indicates that your service IP is 10.11.58.113 and should be redirecting to
your node on port 60132.  Can you connect to localhost:60132 and see if
that works?

http://docs.k8s.io/v1.0/user-guide/debugging-services.html has lots of
steps

[2015-08-19 17:24] gmarek commented on #12912
@roberthbailey - do you have any thoughts/requirements for this? It's already written (#12919) and working, so if there's something you need from this, now is a good time to write it:)

[2015-08-19 17:24] yujuhong commented on #12856
Unfortunately, yes. Kubelet mostly would still work, but you'd observe some inconsistencies / undesirable pod behaviors due to the fact that kubelet relies on the dead containers for checkpointing.

E.g. Suppose you have a pod with two containers and a "Never" restart policy.
  - kubelet creates two containers A, B and pod becomes running
  - container A terminates; kubelet does not attempt to res

[2015-08-19 17:28] roberthbailey commented on #12912
I just wanted to follow along. I'll take a look at the PR.

[2015-08-19 17:31] zmerlynn opened #12932 "Backport policy: Backport misc client improvements?"
See #12734

We need to codify the patch release policy. I think there's general tribal consensus on the server side to hold the line for `release-1.0` on random improvements, but what about the client?

cc @bgrant0607 @jlowdermilk @stefwalter

[2015-08-19 17:37] erictune commented on #8801
@wojtek-t can this be closed now that v1.0 has been released?

[2015-08-19 17:49] mikedanese commented on #12907
@bgrant0607 suggested that we breakout examples but not documentation. @erictune has a [TODO](https://github.com/kubernetes/kubernetes/blob/0f27307f82b015ee41327a3d15005bafe6252bae/hack/conformance-test.sh#L59-L64) which might also solve this issue if completed satisfactorily. Maybe we should prune the getting-started-guides that don't pass conformance tests and for the ones that do pass, clearly

[2015-08-19 18:02] jtbcgdv commented on #12905
Here's an extract from the output.  Let me know if you need any more info.

[7435694.120227] memory: usage 204800kB, limit 204800kB, failcnt 1535
[7435694.120230] memory+swap: usage 0kB, limit 9007199254740988kB, failcnt 0
[7435694.120233] kmem: usage 0kB, limit 9007199254740988kB, failcnt 0
[7435694.120235] Memory cgroup stats for /system.slice/docker-e33c866e1af5bf71791083d247e75345edd5dbf1fcebb

[2015-08-19 18:17] thockin commented on #12905
[code]

Something is wrong with your disks.  Could be a kernel bug or could be
something else - it's hard to tell.

On Wed, Aug 19, 2015 at 11:03 AM, James Thimont <notifications@github.com>
wrote:

[2015-08-19 18:18] jtbcgdv commented on #12905
thanks - so it's likely just a problem with that EC2 instance?

[2015-08-19 18:21] thockin commented on #12905
That would be my guess.  This is what nuclear weapons are designed for.
Drop an H-bomb on that node and bring up a new one.

On Wed, Aug 19, 2015 at 11:19 AM, James Thimont <notifications@github.com>
wrote:

[2015-08-19 18:32] mwielgus commented on #12870
Yes

[2015-08-19 18:32] #12870 closed

[2015-08-19 18:37] bgrant0607 commented on #12932
cc @erictune

[2015-08-19 18:38] bgrant0607 commented on #12932
Conceptually we could release the client more frequently, but I don't think we have the manpower to do it.

[2015-08-19 18:50] dchen1107 commented on #12856
Here are 3 issues reported here, and first two are kind of design issues, and the latest one is sort of support issue / bug on Ubuntu machine. I re-opened #11733 for it, and leave this one for first two.

* garbage collection:
I agreed that we didn't do very good job on garbage collection, actually really bad on disk management. Part of the reason is lacking resource and priorities. We are improvi

[2015-08-19 19:02] #8801 closed

[2015-08-19 19:08] stefwalter commented on #12932
If contributors have to wait 12 to 16 weeks before a pull request makes it into a release (even an unstable one) ... not to then mention the time it takes for that release to be shipped in a package, dependent software to be updated, and then and possibly productized ... then the Kubernetes community is going to be hindered by this.

(Note I'm using #10608 as an example here, and the October sched

[2015-08-19 19:36] zmsp commented on #12660
Thanks that [debugging service page] (http://kubernetes.io/v1.0/docs/user-guide/debugging-services.html) really explains things well and gives a hands on insights on how the service really works.

I went through all the steps and all the test it specified on the debugging service doc and gave me positive results. I can connect to the service ip and port from the minion node as well as using the en

[2015-08-19 19:46] thockin commented on #12660
No, if you want to get traffic into your cluster from outside your cluster,
you want:

http://docs.k8s.io/v1.0/user-guide/services.html#external-services

On Wed, Aug 19, 2015 at 12:37 PM, Zobair <notifications@github.com> wrote:

[2015-08-19 19:48] #10349 closed

[2015-08-19 19:56] erictune opened #12941 "Run conformance test on AWS"
1. Have an AWS account
1. setup a cluster on AWS using released binaries, such as v1.0.3, and the method recommended by our docs on k8s.io (I think this is get.k8s.io method).
1. in your git client, `git checkout upstream/conformance-test-v1`.  You are in detached head state.  This is normal.
1. `export KUBECONFIG=$HOME/.kube/config`
1. `export KUBE_MASTER_IP="1.2.3.4"` but with the appropriate IP

[2015-08-19 20:13] bgrant0607 commented on #12893
cc @kubernetes/goog-node

[2015-08-19 20:23] zmerlynn commented on #12932
@stefwalter: The intention was to start pushing out `1.1.0-alpha.x` release builds on a biweekly basis. That hasn't happened yet, because we've all been kind of heads down on other things. `master` is tagged at `1.1.0-alpha.0`, and I was going write additional tooling to retag the additional `.x` bits and push the builds somewhere, but that hasn't been done. So we *will* have unstable builds publi

[2015-08-19 20:38] senorflor commented on #12893
Awesome; on it at next spare moment.

[2015-08-19 20:39] satnam6502 commented on #7507
I plan to delete my manual soak tests because I expect nobody else will find them useful after I leave. After deletion I will close this issue.

[2015-08-19 20:41] satnam6502 commented on #10550
I think this is done now.

[2015-08-19 20:41] #10550 closed

[2015-08-19 21:07] satnam6502 commented on #12644
So far I have managed to get Kibana up and working under a GCE setup... still seeing if I can repo what is reported here.

[2015-08-19 21:12] satnam6502 commented on #12644
I ran the counter demo:
[code]

and I see the synthetic counter/logger lines ingested. I will keep digging...

![working-kibana](https://cloud.githubusercontent.com/assets/6164339/9369136/329e8438-467c-11e5-8b8f-291d9e1e91ef.png)

[2015-08-19 21:18] satnam6502 commented on #12644
I see you are accessing the cluster via `kubectl proxy`. Please can you tell me what you see when you access `http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/elasticsearch-logging/_search?size=10` ?

I see something like:
[code]

[2015-08-19 21:37] zmsp commented on #12660
Thanks. The issue was resolved by using type nodeport and endpoints combining with port forwarding. Here is the final code for those who might be having the same problem.
[code]
I can connect to any of the node on port 30061 and it would forward me to the right pod.

[2015-08-19 21:37] #12660 closed

[2015-08-19 21:56] #12789 closed

[2015-08-19 22:02] zmerlynn opened #12945 "release-1.0: `Services should release the load balancer when Type goes from LoadBalancer -> NodePort`"
This is a nuisance flake on the release branch. I don't have enough context to know if it's fixed on `master` or also just a tiny flake there (on `release-1.0` it's sitting at 1/100+, but that's still obnoxious), but I commented about it https://github.com/kubernetes/kubernetes/issues/9312#issuecomment-128134955 and it's still happening, so it's clearly a special snowflake.

[2015-08-19 22:08] zmerlynn opened #12946 "release-1.0: Node resize tests flaky"
Node resize tests are flaky on the release branch, on pretty high order (10%-ish).

[2015-08-19 22:12] bgrant0607 commented on #1627
#12245 is for converting components to use config files. This remains for using the new config API (#1553) for our components. #2068 is for integrating support for third-party config management tools.

[2015-08-19 22:20] thockin commented on #4825
I'm going to stop the discussion here, even though I have more to say,
until we figure out nominal services.  The need to re-use a given hostname
within a set makes my proposal largely untenable anyway.

On Wed, Aug 19, 2015 at 1:59 AM, Brian Grant <notifications@github.com>
wrote:

[2015-08-19 22:24] smarterclayton opened #12948 "Test flake in kubectl describe e2e test - DecimalSI vs. BinarySI"
From a run 7 days ago.

[code]

And from today

[code]

[2015-08-19 22:25] ReSearchITEng commented on #4825
Hi Tim,
I also think nominal services would solve quite some challenges.
Till then, we can work-around few issues only by opening the posibility to
set the hostname from the specs. This might be both easier and give some
breathing time till final solution.

What do you think?
On Aug 20, 2015 1:21 AM, "Tim Hockin" <notifications@github.com> wrote:

[2015-08-19 22:26] smarterclayton commented on #12948
@kubernetes/goog-testing

[2015-08-19 22:26] bgrant0607 commented on #260
More quick updates as I mostly do other PR reviews:

One advantage of using a service is that we wouldn't need to guarantee that hostnames requested for pods were globally unique, since the service would scope the names published to DNS.

Re. allocation/assignment: I want to avoid adding more template types to ReplicationController, Deployment, Daemon, etc., and I want storage and names to be able

[2015-08-19 22:31] satnam6502 commented on #12749
If you look at #12644 you will see that at least for GCE things seem to be working. I think it would be better to open a new issue about updating/merging the Elasticsearch examples -- as discussed over VC today.

[2015-08-19 22:31] #12749 closed

[2015-08-19 22:41] thockin commented on #4825
I'm very wary of allowing users to set hostname if we think that might not
be a user-configurable param later.  Also, the fact that hostname is not a
"reachable" name (no DNS) seems to make it less useful.

I'd rather hold off on this until we get a bit more clue on nominal

On Wed, Aug 19, 2015 at 3:25 PM, ReSearchITEng <notifications@github.com>
wrote:

[2015-08-19 22:49] mikedanese commented on #4851
go1.5 adds `internal/` package visibility constraints so we can enforce private packages (at least as long as we, and our downstreams, are using `go build`)

[2015-08-19 22:53] liggitt commented on #12853
cc @stevekuznetsov

[2015-08-19 23:13] finn0013 commented on #12892
+1 -

[2015-08-19 23:14] finn0013 commented on #12892
This was not intended to be closed - apologies for confusion.

[2015-08-19 23:15] finn0013 commented on #12854
+1 - this may be the same issue: https://github.com/kubernetes/kubernetes/issues/12892

[2015-08-19 23:24] satnam6502 commented on #12644
@maulik887 let me know if you would prefer an interactive chat / session if it helps -- I am not sure if I will ever get the time to repro a CoreOS setup.

[2015-08-19 23:26] stevekuznetsov commented on #12853
@groulot When you execute
[code]

That error message you see is what happens before an IP has been assigned. Once one is assigned that error does not occur anymore. That may have screwed up your config.

If you are not using a load-balancer that template may not be correct, @derekwaynecarr can you weigh in on that?

[2015-08-19 23:33] smarterclayton commented on #260
On Aug 19, 2015, at 1:04 AM, Angus Lees <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> It's an aside to the
nominal services issue, but it isn't safe to bootstrap as you're
describing. If "1" is restarted on a new machine and happens to be unable
to reach the existing nodes, then it will re-bootstrap and now you have two
mongodb's claiming to be authoritativ

[2015-08-19 23:35] caesarxuchao commented on #12738
Fixed by #12761. Closing.

[2015-08-19 23:35] #12738 closed

[2015-08-19 23:37] smarterclayton commented on #260
On Aug 19, 2015, at 1:35 AM, Angus Lees <notifications@github.com> wrote:

As @thockin <https://github.com/thockin> might be alluding to, I think
we're unnecessarily conflating several similar-but-different features here
- and we're including more than is strictly necessary at the k8s level.

I see two quite different use cases described above - differing by source
of truth:

*Prescriptive:* "I wa

[2015-08-19 23:53] esecules commented on #11674
I tried updating to 1.0.3, and got all the kube* services up. But service name resolution is broken. for instance kubectl get services says redis has the IP 10.100.250.120, but when I ping it, i get the service name resolving to  10.100.209.170 and the pings are all dropped

[2015-08-19 23:54] bgrant0607 commented on #2770
There is a proposal, if anyone is interested: #10503

[2015-08-19 23:58] caesarxuchao commented on #12690
@RichieEscarez, are we going to expose types_swagger_doc.go in gh-pages?

[2015-08-20 00:18] esecules commented on #11674
My kube2sky needs updating, thats it. They were resolving to stale DNS entries.

[2015-08-20 00:37] bgrant0607 commented on #10693
Ah, yes, identity management.

In the login case, how does the user get the kubeconfig contents, such as clusters?

[2015-08-20 01:11] davidopp commented on #11793
@bgrant0607 I'm not sure I agree with this. We could start by just adding a `scheduler_name` field to pods. Then later we could build an admission controller that sets this fields based on the kinds of characteristics of the Pod you mentioned (and address the sequencing/dependency issues related to having multiple admission controllers that you alluded to).

@HaiyangDING Thanks for your comments.

[2015-08-20 01:29] dalanlan commented on #12856
Yeah, indeed.  Yet since kubelet relies on the (dead) containers to make a strategy, it's quite reasonable to keep it as it is in the short term.

Suppose we have a container A acting as a web server (let's say tomcat) which consumes a war provided by a container B. The only job for B is to copy the war somewhere A could access and exit gracefully. In this case, the restart policy is *Always* for

[2015-08-20 01:31] pmorie commented on #12856
Interesting. @bgrant0607, what would the backward compat issues be for this?

On Wednesday, August 19, 2015, Emma He <notifications@github.com> wrote:

[2015-08-20 01:41] jayunit100 opened #12955 "local-up-cluster, x509 errors not easily deduced"
The error that we fixed in #11285  seemingly  can still occur, it seems.  I've put the details here.

The core error that we see, is:

[code]

This is reproduced by running the networking test:

[code]

THOUGHT: I played with some things, and although not sure, I think changing permissions of /var/run/kubernetes/.. permissions to being open seems to fix the issue.

The goal here: We should report/

[2015-08-20 01:54] jayunit100 commented on #12955
*Indeed, I found that just deleting /var/run/kubernetes is enough to fix this error*.

No idea why.  Probably related to the fact that, if you run local-up multiple times on multiple branches or something, those tokens can get their permissions messed up? Or maybe they get out of sync somehow with other things?

I guess we can add a PR to add this info to a doc page somewhere, and link to it in th

[2015-08-20 01:59] ttllyy opened #12958 "Is there python client library for kubernetes?"
kubernetes/docs/devel/client-libraries.md:

Libraries provided (go, java, node.js, ruby, perl ) client.
Is there readily available python client library or in future?

[2015-08-20 02:03] sarath commented on #12273
Wait a min! this is NOT a duplicate. The generate-minion-user-data function in aws/coreos/util.sh requires an argument.
in the below commit, the argument was removed from aws/ubuntu/util.sh
https://github.com/kubernetes/kubernetes/commit/2a5ed2f0869f2bb7e2939cfc897f295983176032

thats what is breaking this.

[2015-08-20 02:07] mbforbes commented on #12273
ping @justinsb

[2015-08-20 02:23] bgrant0607 commented on #3585
Thoughts on initializers:

There needs to be a notion of ownership so that competing components don't stomp on each other, and esp. to override default initializers. While finalizers are a list of strings identifying stakeholders, initializers need to be a map (or a list pretending to be a map) from area of responsibility to owner/delegate. One approach could be to assign ad hoc keys to common ser

[2015-08-20 02:29] bgrant0607 commented on #3585
If we were to make finalizers a general concept, I'd probably make that a list-map, as well. One example that's arisen is Job, where we want to defer standard GC of terminated pods until the Job is deleted.

[2015-08-20 02:42] jiasir commented on #7826
I have the same issue:
[code]
The API can not  be reached.

[2015-08-20 02:51] mikedanese commented on #2904
https://github.com/coreos/etcd/blob/master/Documentation/rfc/v3api.md

[2015-08-20 02:53] brosner commented on #12958
I am actively working on a Python client at https://github.com/eldarion-gondor/pykube

[2015-08-20 03:06] mikedanese commented on #8195
I think this can be closed...

[2015-08-20 03:06] #8195 closed

[2015-08-20 03:09] mikedanese commented on #8674
I think this can be closed.

[2015-08-20 03:09] #8674 closed

[2015-08-20 03:11] mikedanese commented on #9325
cc @gmarek

[2015-08-20 03:25] wb14123 opened #12964 "Endpoints are not persistented"
I create a glusterfs endpoint, but after I restart kube-apiserver, the endpoint is missing. Does Kubernetes persistence endpoints?

[2015-08-20 03:28] bgrant0607 commented on #12958
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-20 03:28] #12958 closed

[2015-08-20 03:33] thockin commented on #12964
Do you mean and Endpoints object in the API or something else?

On Wed, Aug 19, 2015 at 8:26 PM, Bin Wang <notifications@github.com> wrote:

[2015-08-20 03:38] wb14123 commented on #12964
Here is what I do:

[code]

Then use `kubectl get endpoints` I can see this line:

[code]

But after I restart kube-apiserver, this endpoint is lost.

[2015-08-20 03:40] caesarxuchao commented on #12690
@RichieEscarez, I've sent #12965 to fix the links in the definitions.html directly. Do you think we still need fix types_swagger_doc.go?

[2015-08-20 03:41] smarterclayton commented on #10693
In the login case we "discover" the server, and consider the provided
server URL 1:1 with a cluster (for now).

The issue that needs to be discussed with the api groups and discovery
issues is how a client discovers not just cluster, but the services
inherent in the cluster (probably including API version negotiation).  We
would probably consider that part of login - take the provided URL, look
fo

[2015-08-20 03:43] thockin commented on #12964
Do you have a Service named `glusterfs-cluster` ?

Otherwise it should persist, just the same as any other API object

On Wed, Aug 19, 2015 at 8:39 PM, Bin Wang <notifications@github.com> wrote:

[2015-08-20 03:46] wb14123 commented on #12964
No. This endpoints is just used for persistent volumes, which is used by other pods. I followed [this doc](http://kubernetes.io/v1.0/examples/glusterfs/README.html). Is it necessary to define a service?

[2015-08-20 04:23] ngbinh commented on #9779
I think I am hit with the same problem. Now if I restart a node, it will never come back. I cannot even ssh into it.

https://gist.github.com/ngbinh/f42340600cc2007c9995

[2015-08-20 05:33] gmarek commented on #9325
The changes I make for allowing Kubelet to run on non-standard port will fix this.

[2015-08-20 05:41] thockin commented on #12964
@wojtek-t Can one of you guys try to repro?

[2015-08-20 06:04] mattma commented on #12774
I have added `publicIPs: ["172.17.xx.xx"]` into my `service` file. I could access my pod via service through `curl http://172.17.xx.xx`. After reading all the docs, just want to confirm beside `GCE` `loadBalance` option **publicIPs is the only alternative?**

[2015-08-20 06:13] #9995 closed

[2015-08-20 06:18] thockin commented on #12774
NodePort works on all environments but gives you a semi-random port.
LoadBalancer works on GCE and AWS for now.  PublicIPs is DIY but works
anywhere you can make it work.  You can also use
https://github.com/kubernetes/contrib/tree/master/for-demos/proxy-to-service
to get a node port on any port you want.

Better answers are coming, but this is the current state.

On Wed, Aug 19, 2015 at 11:05 PM,

[2015-08-20 06:26] #12855 closed

[2015-08-20 06:35] stefwalter commented on #12245
@mikedanese I started yesterday to convert KubeletServer (which is poorly named) to use a JSON settings file. I'd be happy to follow the lead of your work done on the scheduler config, as it does cover a couple things I missed.

[2015-08-20 06:50] mikedanese commented on #12245
I haven't done much with this yet. I've begun to add a component config api group in this commit:

https://github.com/kubernetes/kubernetes/commit/7f76a8ed1bb974f2c0ab53d08940ba3bb9cfa2ec

Is this a similar direction you are taking? Let's discuss how we want to redistribute this work tomorrow.

[2015-08-20 06:58] gangadhars commented on #11875
Hi All.
Flannel is not working on newly added node to cluster. Any help?

Cluster info:
[code]
After adding the new node:
[code]
On every node:
[code]
After running  `/root/kube/reconfigDocker.sh` on every node.
**172.16.2.179**:
flannel0 - 17.16.84.0    docker0 - 17.16.84.1
**172.16.2.92**:
flannel0 - 17.16.29.0    docker0 - 17.16.29.1
**172.16.2.63**: (new node)
flannel0 - 17.16.46.0    docker0

[2015-08-20 06:59] #12805 closed

[2015-08-20 07:34] #1274 closed

[2015-08-20 08:06] gmarek opened #12968 "Is ReadOnly port in Kubelet still needed."
There are some voices that it's no longer necessary/won't be necessary for original purpose, as Heapster is/will be using secured port to scrape cAdvisor data. @roberthbailey @vishh @bgrant0607.

On the other hand with @fgrzadkowski we used it to debug some problems Filip was having, so it isn't completely useless.

@dchen1107 @yujuhong - any thoughts?

[2015-08-20 08:11] dchen1107 commented on #12968
At least today we are still using it for healthcheck of kubelet:

monit: https://github.com/kubernetes/kubernetes/blob/4c5763f28c8c600a6469ed1c20c11ff322b6db65/cluster/saltbase/salt/monit/kubelet
supervisord: https://github.com/kubernetes/kubernetes/blob/2be69e77188afb406bfab3c4f3f73618b1170039/cluster/saltbase/salt/supervisor/kubelet-checker.sh#L30

[2015-08-20 08:21] roberthbailey commented on #12968
I know that monit used it because we couldn't get it to connect insecurely to an https port. Since supervisord uses curl, we should be able to point it at the https port and pass the --insecure option.

Does anything else use it? Heapster?

[2015-08-20 08:22] roberthbailey commented on #12968
/cc @vishh @vmarmol @rjnagal

[2015-08-20 08:34] oba11 opened #12970 "Unable to run cronjobs on kubernetes"
I'm having an issue whereby cronjob in kubernetes doesnt seem to work.

Below is the test dockerfile used

[code]

Using native docker to run the above dockerfile, I could see the output in the logfile but not in kubernetes. Checked the events but didn't notice anything unusual.

Below is the replicationcontroller yaml file used

[code]

Thanks.

[2015-08-20 08:39] fgrzadkowski commented on #12801
@wojtek-t Can you please take a look?

[2015-08-20 08:44] fgrzadkowski commented on #12735
@mwielgus Can you please take a look? From our discussion I understood that this should be a very simple fix.

[2015-08-20 08:46] wojtek-t commented on #12801
Yes - I'm monitoring those tests.

The problem is that there is significant variation in the metrics (~2s). We can increase the limit, but I wanted to avoid it - I prefer to look into failures manually now than to allow regression that we won't notice.

I hope that switching on watch in apiserver should significantly help with that. Once this is in (I hope this will happen this week) we can tune t

[2015-08-20 08:51] #12881 closed

[2015-08-20 09:06] davidopp commented on #11470
@ravigadde Please correct me if I'm wrong -- IIUC, your PR allows the scheduler to outsource "Prioritize" and "Filter" operations (i.e. priority functions and predicates) to an external process which it contacts via HTTP (this other process also has endpoints for "bind" and "unbind" so it can be informed of changes in cluster state--BTW I'm not sure this is sufficient since it also needs to know e

[2015-08-20 09:09] HaiyangDING commented on #12744
Anyone has started working on this yet? I am going to start doing it.

[2015-08-20 09:17] davidopp commented on #12744
Nobody has started on it.

[2015-08-20 09:24] HaiyangDING commented on #12744
@davidopp

Hi, would you say a little more about what we want to achieve in this issue?

Is it about moving some of the predicate functions in the scheduler to another package or what?

Big thanks in advance  :)

[2015-08-20 09:26] davidopp commented on #8379
@pmorie Why can't daemon controller subsume all the use cases for static pods?

[2015-08-20 09:34] gmarek commented on #12744
I can give you my view on this. Currently we have a function which scheduler uses to check if Pod will fit on a given machine: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L148. But we're doing pretty similar thing in Kubelet: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1605

The implementation of this

[2015-08-20 09:38] groulot commented on #12853
@stevekuznetsov
Yes, I'm on three VMs in a vsphere environment so we don't have a load balancer like a GCE setup would have.

[2015-08-20 09:38] davidopp commented on #12744
What I'd like is for us to literally invoke the same code everywhere that we apply scheduler predicate functions (like the places @gmarek  mentioned above).

I'm not enough of a Go guru to know the right way to do this -- either put it in its own new package that is imported by scheduler and kubelet (and later rescheduler etc.), or just put it in the existing scheduler or kubelet package and expor

[2015-08-20 09:41] HaiyangDING commented on #12744
@gmarek @davidopp

Thank you all for the explanation. I think I have got the idea, hope to send a PR sooner!

[2015-08-20 10:05] adyanthaya17 opened #12973 "Wordpress recreating every 6 minutes."
Hi,

I downloaded wordpress docker image and have brought up the pod in the kubernetes cluster but it keeps recreating itself when I check the docker ps -a. Can anyone tell me as to how to stop the recreation?

It seems like the container is getting killed for every 6 minutes and a new container is taking it's place.

[2015-08-20 10:18] maulik887 commented on #12644
I get this if I visit http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/elasticsearch-logging/_search?size=10

[code]
docker containers (ec & kibana) still gives me logs I mentioned above.

I'm more than happy to have interactive session to trace down this issue. I sent you details on your email (satnam@raintown.org).

[2015-08-20 11:35] noz-oro commented on #11711
It seems this issue appeared again on k8s v1.0.3. The problem is that the scripts are invoking `export roles=($roles)` each time `config-defaults.sh` is used (I mean: before cluster up and after cluster up)

[2015-08-20 11:37] kayrus commented on #11875
Relates to message above:

[code]

[2015-08-20 11:41] baranga opened #12974 "confusing documentation about container tags"
The "getting started from scratch" guide states: "...where TAG is the latest release tag, which can be found on the latest releases page.". So one would assume tag would be v1.0.3. But that doesn't work. It would be helpful to either tag these containers with versions or at to provide some lookup table for version/hash relation.

[2015-08-20 12:33] jamiehannaford opened #12976 "kubectl proxy hangs in minion pod"
I'm trying to set up kube-ui in a minion pod, and using an external LB to direct traffic to it. Obviously it needs to access the API server, so I've added a `kubectl` container to the pod so it can run as a proxy. Here's the definition in the RC file:

[code]

There's also a generic WordPress container that gets set up too. When the pod is fully active, I `docker exec` into the WordPress container

[2015-08-20 13:24] soltysh opened #12977 "expapi conversion missing convert_v1_PodSpec_To_api_PodSpec and convert_api_PodSpec_To_v1_PodSpec methods"
That came up during working on #12910. I'm adding new `Job` resource in `pkg/expapi` and while generating conversions for that I'm reaching `convert_v1_PodSpec_To_api_PodSpec` and `convert_api_PodSpec_To_v1_PodSpec` functions which are hand written in [pkg/api/v1/conversion.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/conversion.go#L230-L361) which results in compilation err

[2015-08-20 13:29] liggitt commented on #12955
not sure... I thought local-up-cluster.sh cleans up and recreates etcd and certs every time. If you see this again, can you check the filesystem permissions on the cert?

[2015-08-20 13:46] liggitt commented on #12955
@saad-ali can probably lower the priority on this

[2015-08-20 13:48] hw-qiaolei commented on #12925
Hello JackChen255,
I believe your have wrongly configured your system.  For the following reasons:
1, By default etcd usually listens on 4001,  api server listens on 8080;
2, It is clearly see from your log the flannel etcd  key not found.

So, please check the following configuration(or paste these values here):
1, On master:
    - `/etc/etcd/etcd.conf`: `ETCD_LISTEN_CLIENT_URLS`
    - `/etc/kube

[2015-08-20 13:54] hw-qiaolei commented on #12767
Thanks @coolsvap , is it possible for me to get the SPEC files to build (`kubernetes-node`, `kubernetes`, `kubernetes-client`, `kubernetes-master`) ?

[2015-08-20 13:57] jayunit100 commented on #12955
Yeah, If your saying local up should be idem potent than if I can reproduce failure by changing perms, it is officially a bug

[2015-08-20 14:09] erez-rabih commented on #12649
@justinsb That snippet for getting the account ID is not working for me I'm getting:
[code]
Also I made a short lookup and couldn't find any official API returning the account ID

I agree that we better have some consistency between cluster creations, maybe we can find a safer way to achieve that.

[2015-08-20 14:27] markturansky commented on #12964
What does that mean exactly?  What kind of cluster are you running?  Does *anything* persist and endure between restarts of the API server?  When you restart the API server (why?), are you also restarting etcd or other services?

[2015-08-20 14:27] swagiaal commented on #11042
@roberthbailey @danielschonfeld @saad-ali #8530 should solve this issue

[2015-08-20 14:42] javapapo commented on #12854
+1
Kubernetes 1.0.3
Vagrant 1.7.4
VirtualBox 5.0.1 or VirtualBox 4.3.x or

[2015-08-20 14:47] smarterclayton commented on #12977
It would probably be to expose that conversion as a public method (create
Convert_v1_PodSpec_To_api_PodSpec that calls the existing one) and then use
the public version from expapi.

On Thu, Aug 20, 2015 at 9:24 AM, Maciej Szulik <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 14:47] #12424 closed

[2015-08-20 15:01] RichieEscarez commented on #12690
@caesarxuchao, its not yet clear to me how or what the process is for generating the API output for gh-pages using the types_swagger_doc.go file but if types_swagger_doc.go is the source thats used to  generate the HTML output for the definitions.html file, then it sounds like we are covered here.

@nikhiljindal, can you help clarify?

[2015-08-20 15:11] benwilson512 commented on #8496
For what it's worth, I've run into this issue using kubernetes 1.0.3 when trying to increase the cluster size. If I go to the auto scaling group after the cluster is already up and increase the number of instances, any new instances created exhibit this problem. Is there a documented way to increase cluster size I'm  missing?

[2015-08-20 15:24] wb14123 commented on #12964
The cluster just have one master. The pods, secrets, controllers and services are recovered after the restart, but the endpoints are not.

About why I restart the API server, well, it may fail (or something else). You cannot expect the api-server runs and never restart. After I restart it, I expect all the things are recovered. In my case, I just restart api-server through /etc/init.d/kube-apiserv

[2015-08-20 15:36] satnam6502 commented on #12644
Well that is useful information: the root of the problem is not with Kibana, but with the underlying infrastructure that tries to get logs from the nodes to the Elasticsearch service. Let me think of a few more questions to ask you...

[2015-08-20 15:53] thockin commented on #4851
I'm far less concerned about hiding packages than I am about organizing
them. :)  internal/ is cute, but I don't think we've done a good enough job
of breaking up the packages and grouping them into subtrees to do much with
it yet.

On Wed, Aug 19, 2015 at 3:50 PM, Mike Danese <notifications@github.com>
wrote:

[2015-08-20 15:56] smarterclayton commented on #4851
Also, anything you move to internal/ probably needs to be verified
Openshift isnt using.  Internal is cute but not our problem right now.

On Aug 20, 2015, at 11:54 AM, Tim Hockin <notifications@github.com> wrote:

I'm far less concerned about hiding packages than I am about organizing
them. :) internal/ is cute, but I don't think we've done a good enough job
of breaking up the packages and groupi

[2015-08-20 16:01] dchen1107 commented on #8496
@benwilson512 what is your cloud provider? What is the OS dist of your minion?

[2015-08-20 16:01] liggitt commented on #12955
might just be a cleanup failure in local-up-cluster.sh... I think it cleans up etcd on shutdown, but doesn't ensure a clean slate on startup (etcd, cert files, etc)

[2015-08-20 16:02] pmorie commented on #8379
@davidopp Maybe it can and I have a mismatch misunderstanding -- I'll reexamine it

[2015-08-20 16:08] benwilson512 commented on #8496
AWS, ubuntu vivid. All default except region change to us-east-1 following along with the official docs for aws.

[2015-08-20 16:19] JackChen255 commented on #12925
Hi @hw-qiaolei,
Thanks for your help. The config files are as below.
[root@localhost ~]# etcdctl get /coreos.com/network/config Network
Error:  cannot sync with the cluster using endpoints http://127.0.0.1:4001, http://127.0.0.1:2379

/etc/etcd/etcd.conf:
ETCD_NAME=default
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:4001"

/etc/kubernetes/apiserver:
KUBE_API_

[2015-08-20 16:22] pmorie commented on #10934
Update: I have a test jenkins instance set up, a new bot github account, and a job set up that monitors my fork and runs a stub build for each update to a PR set up.  Next step is replacing the stub build with the real build steps.

@ixdy We should start thinking about how we want to ultimately integrate this into the github flow.  I would really like to be able to drive the different bots from th

[2015-08-20 16:34] pmorie commented on #12245
@mikedanese @stefwalter Can you guys confirm that you intend to combine this with the mechanism described in #6477 ?

[2015-08-20 16:36] BenTheElder commented on #12843
@MikaelCluseau
Looking at the current code:  https://github.com/kubernetes/kubernetes/blob/6f34be30a3ee4cf57bdadf262e4949e190163b6f/pkg/proxy/iptables/proxier.go#L497

It looks like we SNAT almost everything already now? Would adding a set-mark rule (behind the flag of course) at line 548 be sufficient? Deprecated Public IPs, Loadbalancer IPs, and NodePorts all appear to be marked for SNAT already

[2015-08-20 16:39] bgrant0607 commented on #12893
PR in progress already: #12980

[2015-08-20 16:45] mikedanese commented on #12245
Yes it is. It is related but separate and can be done in parallel. The combination should close #1627.

[2015-08-20 16:49] mikedanese commented on #12245
@stefwalter can you please point me to the branch where you are working on this?

[2015-08-20 16:49] ravigadde commented on #11470
@davidopp
Thanks for your response.

Yes, that is correct. The other process that is handling these calls is aware of node resources/labels. It watches apiserver for any changes.

There are subtle differences in the two models (mostly non-technical).
a) kubernetes binaries are provided, maintained and supported by OS/OSS vendor. Dont want to make an exception for the scheduler.
b) We could technic

[2015-08-20 16:57] senorflor commented on #12893
ack

[2015-08-20 16:58] caesarxuchao commented on #12690
Hey @RichieEscarez, we use types.go to generate types_swagger_doc.go, then use types_swagger_doc.go to generate swagger spec (api/swagger-spec), then use the swagger spec to generate the definitions.html and operations.html.

Currently the versionize-docs.sh only touches the md files in docs/ and examples/. I don't think it's necessary to versionize the links in a go file. @nikhiljindal, what do y

[2015-08-20 17:13] nikhiljindal commented on #12690
Yes. We do not surface api/swagger-spec as part of versionized docs on gh-pages. If we were, then it would make sense to versionize types_swagger_doc.go.

As things are right now, we only surface definitions.html on gh-pages so just versioning that should be enough.

[2015-08-20 17:34] sameersbn opened #12983 "Cannot create priviledged containers"
I am using instructions from https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode.md to setup a multinode kubernetes cluster on vmware vcloud infrastructure.

I was able to get the cluster working but when I tried the [nfs example](https://github.com/kubernetes/kubernetes/tree/master/examples/nfs) I was not able to create the nfs container. So I recreat

[2015-08-20 17:36] esecules opened #12984 "Skydns container keeps falling over"
I just tried updating to 1.0.3 and switched from consul to skydns

The container only stays up for about 30 seconds and these are the last few lines in the container log.
[code]

[2015-08-20 17:41] thockin commented on #12984
Did you set the dnsPolicy flag for the kube-dns pod?  It looks like skydns is trying to talk to itself.

https://github.com/kubernetes/kubernetes/blob/v1.0.1/cluster/addons/dns/skydns-rc.yaml.in

[2015-08-20 17:43] esecules commented on #12984
I did not, It remains "Default"

[2015-08-20 17:45] vishh commented on #12968
Heapster still uses that port to fetch metrics data. I can think of a few options to eliminate the read only port
1. Have heapster collect metrics data via the apiserver proxy - apiserver proxy load a concern; proportional to the number of containers and nodes.
2. Expose metrics via the secured port - heapster needs access to node auth information - IIRC this was not a viable option in the past.
3

[2015-08-20 17:49] thockin commented on #12984
"Default" is correct.  @artfulcoder

On Thu, Aug 20, 2015 at 10:44 AM, Eric Secules <notifications@github.com>
wrote:

[2015-08-20 17:55] esecules commented on #12984
I was also seeing ```can not forward, name too short (less than 2 labels):``` Is this skydns enforcing ```service.namespace``` addressing?

[2015-08-20 17:56] finn0013 commented on #12892
This post will tell how to get Kubernetes/Vagrant running, short term, if you are having this problem:
http://stackoverflow.com/questions/32062868/kubernetes-with-vagrant-nodes-wont-register

[2015-08-20 17:57] finn0013 commented on #12854
This post will tell how to get Kubernetes/Vagrant running, short term, if you are having this problem:
http://stackoverflow.com/questions/32062868/kubernetes-with-vagrant-nodes-wont-register

[2015-08-20 17:57] bgrant0607 commented on #12245
All new configuration formats we create should go into new API groups #12951

[2015-08-20 17:59] thockin commented on #12984
the "can not forward" is not a big deal.

On Thu, Aug 20, 2015 at 10:55 AM, Eric Secules <notifications@github.com>
wrote:

[2015-08-20 18:12] thockin commented on #12843
I think that is the flag, yeah.

On Thu, Aug 20, 2015 at 9:37 AM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-20 18:17] bgrant0607 commented on #260
Slight twist to @thockin's ThingPool + Patches idea:

Template: list of resources + parameters and substitution. See https://github.com/openshift/origin/blob/master/pkg/template/api/types.go for inspiration. Ref #503, #1743, #4210, #6487.

TemplatePool. Basically ThingPool. Generates densely indexed instances of Template on demand instead of by replicas count.

For fun/consistency: v2 ReplicationC

[2015-08-20 18:18] saad-ali commented on #12970
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-20 18:18] #12970 closed

[2015-08-20 18:18] saad-ali commented on #12973
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-20 18:18] #12973 closed

[2015-08-20 18:19] BenTheElder commented on #12843
Ok, I'll push out a PR for that in a moment. I should be able to take care
of that and the cleanup flag (PR out but needs some more work) today.
On Aug 20, 2015 2:12 PM, "Tim Hockin" <notifications@github.com> wrote:

[2015-08-20 18:21] saad-ali commented on #12983
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-20 18:21] #12983 closed

[2015-08-20 18:24] bgrant0607 commented on #260
@smarterclayton FYI when you reply via email with inline comments, your responses are unreadable, both in gmail and on github. In gmail, there are no line breaks and in github there are no quoting prefixes, so your response is hard to tease apart from the text being quoted.

[2015-08-20 18:27] nikhiljindal commented on #12977
cc @uluyol @caesarxuchao

[2015-08-20 18:47] janetkuo opened #12987 "Create an AggregatedValidationError type"
Follow up https://github.com/kubernetes/kubernetes/pull/12837#issuecomment-133111549

Create an AggregatedValidationError type so that we could plumb the handling for validation errors all the way back to the caller.

[2015-08-20 19:05] mattma opened #12990 "Enforce a pod to deploy on certain node machine"
I run a MongoDB database in `k8s` and need a persistent data solution. I followed with [persistent volumes guide](https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/persistent-volumes) to setup `rc` config. It works brilliant.

Here is a taste of my `rc`

[code]

I quickly run into the issue which describe in the guide.

I tried to delete my pod, and a new pod is created. It coul

[2015-08-20 19:16] bprashanth opened #12991 "Make it easier to setup and debug cert issues"
We need something like the debugging services doc (https://github.com/kubernetes/kubernetes/blob/4244a7cb2fff33d5e0c2081357abcd9324bb25af/docs/user-guide/application-troubleshooting.md) it keeps coming up on irc, email etc. People have a hard time with cert. They don't always use the getting-started scripts, and sometimes the script of that cloudprovider doesn't work. I usually point them at scrat

[2015-08-20 19:21] jayunit100 commented on #12955
Ok.  So the goal for this issue can be to

- add cleanup to local-up.
- add some Verification of certificates on startup.

[2015-08-20 19:22] esecules commented on #12984
I have since reverted my main cluster back to 0.21.1 and I'm working on setting up a staging cluster for new releases.

Generally how stable is the skydns pod setup? I am coming from using a custom kube2consul program that was written for pre kuberentes v1.0.0. After upgrading I will have to choose whether to bring my kube2consul in line with the current state of the world, or try out the skydns w

[2015-08-20 19:34] smarterclayton commented on #260
Yeah, there's something wrong with gmail + github + iPhones.

On Thu, Aug 20, 2015 at 2:24 PM, Brian Grant <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 20:21] saad-ali commented on #12990
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-20 20:21] #12990 closed

[2015-08-20 20:35] roberthbailey commented on #12968
For 2. -- Nodes don't currently do any auth on incoming requests.

[2015-08-20 20:44] caesarxuchao commented on #12977
I'm not sure if the genconversion tool will properly call the public method. If it does, I think making the method public is the proper way.

[2015-08-20 20:57] smarterclayton commented on #260
We had a quick chat today, some highlights:

Talked about the three classes of apps:

* Apps that are stateless web apps (just works with RCs)
* Giant scale apps that uses external masters and has existing coherence
protocols (Cassandra, Infiniband) to handle consensus
* Small clustered stateful software like Mongodb, rethinkdb, volt, etcd,
zookeeper, riak, redis clusters, which need a few pattern

[2015-08-20 21:01] satnam6502 opened #12994 "HTTP Error 410: Satnam Gone"
Friday 28 August 2015 will be my last day at Google before moving to Facebook. I am trying my best to clean up and hand over stuff but if you need me to do something please let me know ASAP. Thank you.
satnam6502@gmail.com

[2015-08-20 21:14] roberthbailey commented on #12991
Have you seen https://github.com/kubernetes/kubernetes/blob/master/docs/admin/authentication.md#creating-certificates (from the recently merged https://github.com/kubernetes/kubernetes/pull/12702)?

We can clean it up if it isn't sufficient but it explains how to create certs if you aren't using a startup script.

[2015-08-20 21:19] bgrant0607 commented on #260
One more issue: TLS certs for members of a nominal services

[2015-08-20 21:21] smarterclayton commented on #260
TLS certs for serivces in general would also be a good thing (signed
by the cluster CA automatically on request).

On Thu, Aug 20, 2015 at 5:19 PM, Brian Grant <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 21:26] JackChen255 opened #12995 "No enough space when build kubernetes in CoreOS"
Hi all,
I always meet insufficient space issue when building kubernetes in CoreOS as below. And actually there are much free space available in my virtual machine. It seems kubernetes building process tries to write files to /usr/..., and /usr is mounted to /dev/loop0 which is fully used. Any one can help on it?

git clone https://github.com/GoogleCloudPlatform/kubernetes.git
cd kubernetes/build/

[2015-08-20 21:31] #11002 closed

[2015-08-20 21:34] uluyol commented on #12977
I thought that genconversion should be generating a conversion that calls the handwritten function through s.Convert. I *really* don't think conversion functions should be made public.

[2015-08-20 21:49] roberthbailey commented on #7345
Fixed by #12942.

[2015-08-20 21:49] #7345 closed

[2015-08-20 21:52] uluyol commented on #12598
@caesarxuchao

[2015-08-20 22:23] ixdy opened #12998 "verify-flags-underscore.py: Found illegal 'flag' usage in cluster/mesos/docker/common/bin/util-ssl.sh"
In a recent Shippable run, I noticed that hack/verify-flags-underscore.py is reporting an apparent error, though it's not failing the build:

[code]

So two questions:
- should this "illegal flag usage" have failed the build?
- should the named mesos script fix its flags? or should this be whitelisted?

@eparis @karlkfi

[2015-08-20 22:24] bgrant0607 commented on #260
Yes: #11725

[2015-08-20 22:28] eparis commented on #12998
should be white listed.  should have failed.  I figure out why it didn't fail...

[2015-08-20 22:33] thockin commented on #12984
In general our DNS is rock solid - I have seen no problems with it except
weird configs, which is what I have to suspect here, but I don't know what
it might be off th etop of my head

On Thu, Aug 20, 2015 at 12:23 PM, Eric Secules <notifications@github.com>
wrote:

[2015-08-20 22:57] bprashanth commented on #12991
There are 2 problems I think:

1. Setting up the cluster. We do a good job of elaborating on this in both scratch and the guide above.
2. After I've setup the cluster in what I believe is the correct way, the token is missing (https://botbot.me/freenode/google-containers/2015-07-31/?msg=46101611&page=11) or the ca.crt is missing (https://groups.google.com/forum/#!topic/google-containers/dDhlTIWS1p

[2015-08-20 23:05] jmreicha commented on #5859
I am willing to take a look, I'm just not where to start.

If someone could help point me in the right direction I could take a stab at this or at least it will help me get a better idea of how some of the internals work.

[2015-08-20 23:08] bgrant0607 commented on #5859
This will be resolved by #11942.

[2015-08-20 23:08] #5859 closed

[2015-08-20 23:11] jmreicha commented on #5859
@bgrant0607 Great, thanks!

[2015-08-20 23:25] moosilauke18 commented on #12449
I seem to have the same issue with Coreos.  I'm not using the 172 addresses, rather addresses in the `10` range.  Usually what I end up doing is terminating the problem node and hoping it fixes the problem, which it sometimes does.

[2015-08-20 23:32] quinton-hoole commented on #5869
Resolved long ago.  Cleaning up...

[2015-08-20 23:32] #5869 closed

[2015-08-20 23:40] quinton-hoole commented on #12948
We're not seeing this error in any of our CI test systems.  It's not immediately obvious to me where your error is coming from.  Will have to dig a bit deeper.

[2015-08-20 23:47] smarterclayton commented on #12948
All I can think of is that a gamma ray hit a VM and flipped a 0.0000000001
bit

On Aug 20, 2015, at 7:40 PM, Quinton Hoole <notifications@github.com> wrote:

We're not seeing this error in any of our CI test systems. It's not
immediately obvious to me where your error is coming from. Will have to dig
a bit deeper.

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/

[2015-08-21 00:01] #12809 closed

[2015-08-21 00:05] quinton-hoole commented on #12946
@zmerlynn which Jenkins job are you referring to?

[2015-08-21 00:05] nikhiljindal commented on #12977
Yes if there is not much overhead in calling s.Convert, then it seems better to change the generated functions to use s.Convert instead of calling hand-written functions directly. That seems better to me than making the function public.

@wojtek-t WDYT?

[2015-08-21 00:16] nikhiljindal commented on #12977
The auto-generated conversion functions are also duplicated in both api/ and expapi/
I see now that @uluyol has a proposal to fix this https://github.com/kubernetes/kubernetes/issues/12598

[2015-08-21 00:18] quinton-hoole commented on #12806
@gmarek it's not clear to me which e2e tests were failing here?  Are they still failing?  Or can we close this issue (from a test point of view)?

[2015-08-21 00:30] jlowdermilk commented on #12804
Right now it's failing for the same reason as e2e-gke-ci. #13001 should fix that, at which point I can see what the original failure was.

[2015-08-21 00:30] quinton-hoole commented on #12800
Fixed by #12824

[2015-08-21 00:32] quinton-hoole commented on #12799
@smarterclayton fixed this

[2015-08-21 00:32] #12799 closed

[2015-08-21 00:36] smarterclayton opened #13004 "kubectl run doesn't follow rules for `--`"
kubectl run --restart=Never --image=gcr.io/google_containers/busybox --command -- sleep 600

should either error (no name) or make up a name and set command to `["sleep", "600"]`.  It does neither, turning sleep into the pod name and making command 600.  `--` is supposed to define extra arguments.

[2015-08-21 01:17] ixdy commented on #12524
The oncall is now emailed for failures on all "critical" builds, btw.

[2015-08-21 01:21] smarterclayton commented on #12799
Was this from while graceful was in master (I think the timing is right)?  It's entirely possible that this was due to cluster rate limits on deletion during the e2e tests - I didn't see a lot of these *prior* to my changes going in, but haven't seen these after as well.

[2015-08-21 01:29] zmerlynn commented on #12946
`kubernetes-e2e-gce-release`

[2015-08-21 02:04] liguangbo opened #13009 "Kube-ui don't show anything"
I have the same problem with the issue https://github.com/kubernetes/kubernetes/issues/12468
![image](https://cloud.githubusercontent.com/assets/13741813/9399774/91eceae0-47eb-11e5-9ffe-e2a57eef55b9.png)
The Kube-ui can send request for information, but can't get respond.
![image](https://cloud.githubusercontent.com/assets/13741813/9399786/c8428a50-47eb-11e5-8226-eb764adea8aa.png)
Is it a problem

[2015-08-21 02:17] smarterclayton commented on #10351
Don't use basic auth in front of an API.  Ever.

This is why we only support Token auth to the api.

[2015-08-21 02:21] liggitt commented on #10351
+1000

[2015-08-21 02:26] smarterclayton commented on #10351
Along those lines we should update https://github.com/kubernetes/kubernetes/blob/master/docs/design/access.md#authentication to be explicit about that - we discussed it (which is why we don't list basic or cookie auth there) but apparently did not write "do not use basic auth"

[2015-08-21 03:22] dalanlan commented on #13009
Sorry about my misleading, if there is any.
Maybe we should not access the pod ip directly, yet via apiserver only.
Can you try something like `http://$master-ip:8080/ui` if possible?
It should work if you get rid of https authentication.

[2015-08-21 03:29] sameersbn commented on #12983
http://stackoverflow.com/questions/32131906/cannot-create-priviledged-containers. Thanks!

[2015-08-21 03:33] dalanlan opened #13012 "minion nodes wont recover from master node failure"
###Steps to reproduce
1. set up master node & minion node properly. Confirmed by `kubectl get nodes`
2. shut down master node
3. recover master node
4. kubelet on minion node cannot sync node properly, by which i mean, the minion node cannot register itself properly. Only master node is available via `kubectl get nodes`.
5. after restart the kubelet container on minion node, everything is back to

[2015-08-21 06:18] wojtek-t commented on #12977
@nikhiljindal I agree that changing to "s.Convert" is the cleanest way to do it. But we should measure the impact of that change on performance (and we should wait for watch in apiserver because this can change the result in my opinion - i.e. changing it might have smaller impact and we will be able to change it).

[2015-08-21 06:46] dalanlan commented on #13012
Could be issue with flannel subnet reset.
Closing it for now.

[2015-08-21 06:47] #13012 closed

[2015-08-21 06:49] moink635 commented on #12575
As i was using v1 api so, it's not hostDir --> hostPath  and work for me,
for long name i don't have any idea  thanks.

On Wed, Aug 19, 2015 at 7:22 PM, Huamin Chen <notifications@github.com>
wrote:

[2015-08-21 07:25] gmarek commented on #10860
#11374 closed this.

[2015-08-21 07:25] #10860 closed

[2015-08-21 07:26] gmarek commented on #12066
@adyanthaya17 - can you provide some more data? Without it I'm unable to do anything, so I'll close this issue.

[2015-08-21 07:55] bgrant0607 commented on #260
Re:
* Add a hostname field on the pod spec that users could set themselves and
parameterize with the identity
* Allow a headless service to respond to dns queries for endpoints by their
identity (have the endpoints controller materialize the identity from a pod
into endpoints) that guarantees some stability

I believe that we agreed that dns should be supported using the hostnames set on the pod s

[2015-08-21 08:05] HaiyangDING commented on #11793
@davidopp

Hi, thank you for the comments. I agree with you that we should add a `scheduler_name` to pods which is simple and clear. Regarding the policies for different schedulers, let us discuss it later and maybe I will  have some new ideas by then.

Anyway, I am looking forward to working out a plan on multiple schedulers. Regarding the "multiple policies" mentioned by @hurf , I will summarize

[2015-08-21 08:28] #12843 closed

[2015-08-21 08:39] kgrvamsi opened #13019 "Minion stopped taking the Pods to run"
Kube-Api Server Output

    core@ip-10-20-30-29 ~/scripts_bh/yaml $ kubectl get nodes
    NAME           LABELS                                                                   STATUS
    10.20.30.191   kubernetes.io/hostname=10.20.30.191,servicegrp=heapster,udpservice=yes   Ready
    10.20.30.192   kubernetes.io/hostname=10.20.30.192,servicegrp=capp,udpservice=yes       Ready
    10.20.30.45

[2015-08-21 08:42] liguangbo commented on #13009
Thank you! I can access the pod by `http://$master-ip:8080/ui`

[2015-08-21 08:42] #13009 closed

[2015-08-21 08:44] eparis commented on #12998
both things fixed in #13020

[2015-08-21 08:50] gmarek commented on #12806
ResourceUsage test. It's pretty quiet recently, but we may need to revisit it in the future.

[2015-08-21 08:50] #12806 closed

[2015-08-21 10:02] errordeveloper commented on #12907
I think it's a good idea.

Yes, that's what I meant.

True, although seems a bit complicated and may be not so much necessary, however I am not familiar with conformance test suite...

[2015-08-21 11:15] biswars commented on #10265
This is resolved using the certs generated by the script on the same machine. Earlier, I had used different same script but on different machines so there was conflict throwing bad certificate error. I am trying to use multiple nodes set up and facing some issues that I am resolving. Few queries if can be clarified would be great:

- the content of ca.crt generated and token in the secret is diffe

[2015-08-21 11:18] nickithewatt commented on #12773
May be related to https://github.com/kubernetes/kubernetes/issues/12854

[2015-08-21 11:19] piosz opened #13023 "Improve Getting started on GCE guide section Prerequisites"
[Prerequisites](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/gce.md#prerequisites) section seems to be outdated, especially:
- since googleinfluxdb monitoring level is default option we need Google Cloud Monitoring API enabled
- MIG is no longer under preview (see #12897)

[2015-08-21 11:19] piosz commented on #13023
@fgrzadkowski

[2015-08-21 11:38] stefwalter commented on #12245
@mikedanese I stopped working on it once I saw your work. I did about half an hour ... before posting what I was doing ... https://github.com/stefwalter/kubernetes/tree/kubelet-settings

I'd be happy to help out with the tedious bits or wherever necessary.

[2015-08-21 11:38] jszczepkowski opened #13024 "jsonpath_test.go flaky"
After #12202 was merged, json path test became flaky:

jsonpath_test.go:47: in recursive name, expect to get "127.0.0.1 127.0.0.2 myself e2e", got "myself e2e 127.0.0.1 127.0.0.2"
FAIL
FAIL	k8s.io/kubernetes/pkg/util/jsonpath	0.049s

It fails in about 20% of runs.

[2015-08-21 11:40] jszczepkowski commented on #13024
The problem is with the following case:

 {"recursive name", "{..name}", nodesData, `127.0.0.1 127.0.0.2 myself e2e`},

It seems that operator ".." does not guarantee the order in which values are returned. Sometimes they are returned as "127.0.0.1 127.0.0.2 myself e2e", and sometimes as "myself e2e 127.0.0.1 127.0.0.2".

[2015-08-21 11:52] piosz commented on #13024
@daizuozhuo could you please take a look?

cc @brendandburns

[2015-08-21 11:55] biswars commented on #9288
Thank @thockin . The suggestion of using --bind-address option worked well when I was using kubernetes 0.16 version. When I tried to set up the same using the latest version 1.0.3, I see the following error repeatedly in the kube-proxy logs. Here 10.0.2.15 is my eth0 address and I have passed the eth1 address in the --bind-address while starting the proxy (/opt/bin/kube-proxy --master=172.17.8.102

[2015-08-21 11:58] jszczepkowski commented on #13024
@daizuozhuo I've commented-out the offending test-case. We still need the proper fix.

[2015-08-21 12:00] daizuozhuo commented on #13024
Sorry, I think happens because map iteration order is random . I will fix it as soon as possible.

[2015-08-21 12:13] SchwarzM commented on #12644
Hi,

we've got the same problem and as far as i understood it it's within the fluentd-elasticsearch bridge.
It mounts /var/log from the host which holds no logs because coreos uses journalctl.
It mounts /var/lib/docker/containers which displays no data because on coreos this is root:root 700.

Kind regards
Marian Schwarz

[2015-08-21 12:16] justinsb commented on #12905
@thockin  is right (as always) - there's not a lot that can be done here other than to nuke the machine. If you have important data on the node you should be able to recover it first (though important data belongs in persistent volumes!)

It looks like you're running Ubuntu 15.04 (the default), which is good, and there isn't a new kernel or aufs module available:

[code]

If e.g. there was a new k

[2015-08-21 12:25] justinsb commented on #12273
Looking at this now

[2015-08-21 12:38] biswars opened #13027 "Kubernetes cluster set up script for azure loops for ever"
Kubernetes version used: 1.0.3
Cloud Provider: Azure

kube-up.sh for azure is run and everything seems to be successful. The nodes are created and can be seen in the azure portal. However, it then loops for ever stating "This might loop forever if there was some uncaught error during start" while trying to connect to the api server.

The problem for me is when I try to SSH to the master node (deta

[2015-08-21 12:44] biswars commented on #12784
Thank @thockin for the reference and it got resolved in it. However, it can be seen very often the kube-proxy logging the following. Not sure if this can be treated as norm as the cluster behaves properly even with this log. At this point I can't warrant the steps done to see this log though.

Aug 21 12:35:15 core-02 kube-proxy[1217]: E0821 12:35:15.360591    1217 proxysocket.go:161] I/O error: re

[2015-08-21 12:59] antoineco commented on #10265
Oh, you need a single CA per cluster of course. This has to do with how a PKI works, not with Kubernetes specifically. You can read more about it [here](https://pki-tutorial.readthedocs.org/en/latest/) for example.

* The pod should always have the data from the default secret, and the secret should have the CA certificate passed to your controller-manager. If not, first delete the default secrets

[2015-08-21 14:04] gmarek commented on #12467
@timothysc - the main issue here is that, surprisingly, when S3 is down it's impossible to build Kubernetes. Which I find slightly ironic. We can say that's OK, but we certainly should print out more helpful message.

[2015-08-21 14:07] gmarek commented on #7355
@bgrant0607 is this fixed by current QoS implementation?

[2015-08-21 14:07] gmarek commented on #8613
Obsolete

[2015-08-21 14:07] #8613 closed

[2015-08-21 14:08] gmarek commented on #10915
Fixed by #11308

[2015-08-21 14:08] #10915 closed

[2015-08-21 14:09] gmarek commented on #11215
I believe we haven't seen this for quite some time. Can we close this? @wojtek-t @quinton-hoole

[2015-08-21 14:10] gmarek commented on #11369
Fixed by #10667

[2015-08-21 14:10] #11369 closed

[2015-08-21 14:10] gmarek commented on #12069
Do we still want to do this? @thockin @davidopp @smarterclayton

[2015-08-21 14:11] gmarek commented on #12726
cc @yujuhong

[2015-08-21 14:13] gmarek commented on #12968
@dchen1107 - is it worth opening RO port only for health checking? Also - wasn't monit using localhost to do this (I have no idea how supervisord is configured)?

[2015-08-21 14:14] wojtek-t commented on #11215
I'm fine with closing.

[2015-08-21 14:17] #11215 closed

[2015-08-21 14:19] gmarek commented on #3520
@jszczepkowski - does your restart tests cover this?

[2015-08-21 14:20] gmarek commented on #3643
I believe it's obsolete. Please reopen if I'm mistaken.

[2015-08-21 14:20] #3643 closed

[2015-08-21 14:21] justinsb commented on #12941
Out of the box, 11 failures....

[code]

https://gist.github.com/justinsb/e4bc292134bd489fbb32

This is pretty surprising (to me) - we were passing all the tests at 1.0 time I believe.

I have some PRs for e2e; will start by seeing if these are stilling failing at master with those in there.

[2015-08-21 14:56] errordeveloper commented on #7470
Looks like this issue had been open for a while, however I thought I should mention that some of the design decisions in `weavedns` could be of interest.

  - [WeaveDNS Requirements
](https://docs.google.com/document/d/1WkKyNd1NwfRDlEr_z9UCAYCS6_ZXOPQVhWEuFiQJek0/edit?usp=sharing)
  - [WeaveDNS Design Alternatives](https://docs.google.com/document/d/1RClf6zvuoNSLDxKWta-Xv8G6eYuTF-NhfSQgLFWxMIw/edi

[2015-08-21 15:07] quinton-hoole commented on #12946
They seem to have stabilized, for reasons as yet unknown.  Zero failures over the past 30 runs:

[code]

I'll take a closer look at the most recent failures and try to correlate them with a bug fix.

[2015-08-21 15:08] jszczepkowski opened #13032 ""Services" e2e test flaky on head"
"Services" e2e test seems to be broken (flaky) on head. See:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/8170/console

Summarizing 3 Failures:

[Fail] Services [It] should be able to create a functioning external load balancer
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:1238

[Fail] Services [It] should be able to

[2015-08-21 15:09] jszczepkowski commented on #13032
I set-up e2e test cluster, and I was able to reproduce this problem manually. Test "Services.should be able to change the type and nodeport settings of a service" seems to fail in about 10% of runs.

• Failure [577.679 seconds]
Services
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:946
  should be able to change the type and nodeport settings of a servic

[2015-08-21 15:10] jszczepkowski commented on #13032
@wojtek-t @zmerlynn
This problem may be caused #12975.

[2015-08-21 15:14] thockin commented on #7470
There's an open PR, too, but not enough time to review everything :(  I
hope to circle back to this topic before 1.1, but we'll see.  Thanks for
extra info.

On Fri, Aug 21, 2015 at 7:57 AM, Ilya Dmitrichenko <notifications@github.com

[2015-08-21 15:16] quinton-hoole commented on #12946
Here are the most recent failures...

**Build #714 (Aug 19, 2015 2:56:09 AM)**

**Nodes Resize should be able to add nodes**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/resize_nodes.go:485
Expected error:
    <*errors.errorString | 0xc208d12ba0>: {
        s: "timeout waiting for cluster size to be 3",
    }
    timeout waiting for cluster size to be 3 not to ha

[2015-08-21 15:18] quinton-hoole commented on #12946
Closing for now, but I assume that this is going to come back and bite us in the ass soon, in which case I'll re-open.

[2015-08-21 15:18] #12946 closed

[2015-08-21 15:46] maulik887 commented on #12644
Sorry, What do you mean by this ? Didn't get your point.

[2015-08-21 15:51] satnam6502 commented on #12644
Hello @SchwarzM : are you saying that Docker puts its container logs under `jouranalctl` something on CoreOS? That, indeed, would be bad. Let me look into paramaterizied the name of the directory that contains the Docker container logs. That way you can use an ENV var in the pod spec to define the location of the Docker container logs.

[2015-08-21 15:58] swalkowski opened #13033 "Make it possible to disable collection of kubelet/docker logs"
When I run Kubernetes cluster on GKE, it generates a lot of system logs coming from docker and kubelet. Even if my cluster runs just a few pods, I can see dozens or hundreds of log entries per second available in Google Cloud Logging in docker and kubelet logs. This makes the actual logs from my application get lost among them, if I do not set appropriate filter. Also, I am afraid that collecting

[2015-08-21 16:00] wojtek-t commented on #13032
The more I'm looking into it, the more I doubt it's caused by my PR.

[2015-08-21 16:00] swalkowski commented on #13033
/cc @a-robinson

[2015-08-21 16:06] altvnk opened #13034 "runtime error when using OpenStack cloud provider"
Hi,
I cannot configure OpenStack cloud provider in k8s. Apiserver fails immediately with following error:
[code]

`cloud.conf` contains all creds needed to operate OpenStack API, `kube-apiserver` is starting with options `--cloud-provider=openstack --cloud-config=/etc/cloud.conf`

I assume that i make a mistake in configuration, but there no information how to do it right.
If needed i can put full

[2015-08-21 16:08] quinton-hoole commented on #13032
Nice work @jszczepkowski.  It would be worthwhile improving those non-specific timeout error messages in the e2e test if anyone has time.

I wouldn't be too surprised if GCE is perhaps taking a lot longer than usual.  We've seen that before.

[2015-08-21 16:09] kshelton opened #13035 "GCE LoadBalancer creates FW rules with tags assuming GKE generated instances"
The GCE LoadBalancer implementation creates fw rules with tags where it assumes that
* Instances all contain the same prefix followed by a "-" and a random 5 characters
* Instances all contain tags with the prefix

This causes unnecessary constraints on instance names and forces hostname+tags that match this pattern, even in a non-GKE environment.

[2015-08-21 16:15] #12804 closed

[2015-08-21 16:33] kshelton commented on #13035
Parent  3837f8c was against 1.0.3

[2015-08-21 16:33] kshelton commented on #2849
Parent  3837f8c was against 1.0.3

[2015-08-21 16:42] bgrant0607 commented on #7355
Yes.

[2015-08-21 16:42] #7355 closed

[2015-08-21 16:53] bgrant0607 opened #13038 "kubectl export and clone"
Forked from #11368.

Openshift has an "export" command that strips out fields typically set automatically by the system, or at least would be different for different instances of a resource, such as status, nodeName, clusterIP, etc.:
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/export.go
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/exporter.go

This would be u

[2015-08-21 17:04] arun-gupta commented on #11948
Any ETA of when this would be fixed?

[2015-08-21 17:17] yujuhong commented on #12726
kubelet expects `req.Host` to be the hostname, while master uses IP in the request instead. /cc people who knows more about proxy: @brendandburns @lavalamp

[2015-08-21 17:30] roberthbailey commented on #12968
Dawn linked to the old monit config and the current supervisord config above. supervisord currently uses curl to hit localhost:10255.

[2015-08-21 17:31] yujuhong commented on #11948
@arun-gupta, sorry about the delay. I will get to it next week.

[2015-08-21 17:37] a-robinson commented on #13033
@dchen1107: since you tend to have a vested interest in node debug-ability, what's the minimum you'd want to have available here? From GKE's perspective, our users typically have no interest in these logs, so turning them off by default, even without an easy option to re-enable them, makes sense. Any user sophisticated enough to want them shouldn't have problems SSH'ing to the node for them.

Is t

[2015-08-21 17:41] satnam6502 commented on #13033
All I can say is that personally I have never accessed kubelet etc. logs "for real" when debugging -- as Alex says -- it is usually more direct just to SSH in. I would support not collecting these logs to improve cluster stability (but perhaps have a switch / technique to make it easy to collect them if the admin does care about this?).

[2015-08-21 17:54] erictune commented on #12941
Thanks for looking at it!

The conformance-test-v1 branch was cut around Thu Jul 9 17:49:45 2015 -0700, so somewhat before the v1 release.
So it may be necessary to backport fixes to e2e tests which were made after the branch was cut and before v1.

These commits may not be in the branch and may help:
-  0ff8dd45efbd4c4b76d8a50e7f21c9bb3df7b0b0
-  62bb38af214a3773294212b9ebd529fd254d23fa
- 8ce6c2d

[2015-08-21 17:58] erictune commented on #12941
Yeah, none of those are on the conformance-test-v1 branch.
If you could glance at those and see which you think are relevant, I can cherry pick them to the conformance test release branch

[2015-08-21 18:17] roberthbailey commented on #12968
I've sent https://github.com/kubernetes/kubernetes/pull/13044 to switch supervisord to use the secure port for healthchecking.

[2015-08-21 18:19] justinsb opened #13045 "hack/cherry_pick_pull fails if upstream push url is set to a safety value"
My upstream push url was set to "dont_push_to_upstream", to prevent accidental pushing to upstream.

hack/cherry_pick_pull.sh was failing with

[code]

Workaround:

[code]

[2015-08-21 18:42] a-robinson opened #13048 "Feature request: dynamic cluster addon resizer"
People create clusters at a wide range of sizes. People then resize clusters to a wide range of sizes. Our cluster addons are configured statically, and do not respond to such changes in size. This causes problems in some cases:
1. The default addons don't all fit on sufficiently small clusters (e.g. create a cluster with a single f1-micro on GCE, prepare to feel the pain)
2. The default addons wa

[2015-08-21 18:57] zmerlynn commented on #13032
`Services should be able to change the type and nodeport settings of a service` isn't just flaky on `gke-ci`, it's just outright broken. Does anyone on the GKE team have bandwidth for it? @a-robinson?

[2015-08-21 19:16] markturansky commented on #260
draw from a pool (or have a pool controller ensure there is one volume per
identity, or have the identity controller draw from pools), needs thought

Two things about claims I think can help here:

1.  Change binding from 1:1 to 1:N
 1.  pvc.Spec.VolumeName to pvc.Spec.VolumeNames[] as the binding reference
2.  pvc.Spec.Singelton boolean that denotes if a claim should be bound exactly once for sha

[2015-08-21 19:38] smarterclayton commented on #260
You'd have to have a map of identities to volume names.

On Fri, Aug 21, 2015 at 3:17 PM, Mark Turansky <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-21 19:39] mikedanese commented on #13045
@zmerlynn this is likely what i ran into.

[2015-08-21 19:55] yujuhong opened #13051 "elasticsearch-logging pods each consumes ~500MB memory"
We don't set memory limit for the elastic search cluster addon pods. They seem to be consume quite a lot of memory by looking at a cluster I just created.
1. Is the high memory usage normal/expected?
2. Can we set a reasonable memory limit for these addon pods?

/cc @satnam6502, @kubernetes/goog-node

[2015-08-21 20:01] bgrant0607 commented on #10408
Filed #13038 for export.

Would love to see some movement on secret generation #4822, particular since we're about to add config data, also.

[2015-08-21 20:07] bgrant0607 commented on #5275
For people who want to help out: cli-roadmap.md is gone. It was out of date.

You can filter issues using the component/kubectl label. Several issues are targeted for the [1.1 milestone](https://github.com/kubernetes/kubernetes/milestones). The main theme is making it easier to create and update resources.  Other improvements are always welcome, of course.

[2015-08-21 20:13] bgrant0607 commented on #13038
See also discussion in #7576

[2015-08-21 20:34] JanetKuo commented on #12581
Fixed by #12635.

[2015-08-21 20:34] #12581 closed

[2015-08-21 20:49] satnam6502 commented on #13051
I looked into Elasticsearch memory consumption earlier and indeed I think that's just how it behaves -- and with the constant ingestion of system logs (as discussed with @dchen1107 and @a-robinson  ) I think the data store is going to be monotonically increasing until something bad happens. As a stop-gap measure we could not could not collect the system logs but we need a story for what to do for

[2015-08-21 20:49] satnam6502 commented on #13051
/cc @saad-ali

[2015-08-21 20:54] pmorie commented on #4822
@bgrant0607 I have bandwidth to work on this.

[2015-08-21 21:00] pmorie opened #13055 "Should it constitute an error if the network plugin status hook returns an error?"
This just looks wrong, but I thought I would ask before changing the code:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L311

@rajatchopra You're indicated by git blame -- is there a reason the error is swallowed and logged?

[2015-08-21 21:01] dchen1107 commented on #13051
Here are the reasons on why not setting memory limit for 1.0 release:
https://github.com/kubernetes/kubernetes/pull/10653#issue-92503401

But now we are working toward 1.1, and should re-examine the decision we made earlier.

[2015-08-21 21:03] aronchick commented on #1957
Thanks @CpuID & @emaildanwilson - I can't comment specifically about skydns, but, in this case, etcd does not have to be maintained by you, this is an internal service that k8s uses.

We are definitely thinking about cross-cluster service resolution, though that's part of the federation proposal - https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/federation.md cc @quinton-hoole

[2015-08-21 21:05] erulabs opened #13056 "Kubernetes on AWS should be Multi-AZ by default"
Hello!

  I thought I'd open an issue, as I am currently working on this and hope to have a commit ready by the end of the day.

  "kube-up" with AWS ought to build out a highly available and multi-AZ kubernetes cluster following AWS EC2 best practices. There are two large steps to this:

  1. Multi-AZ minions
  2. Highly available / Multi-AZ master

I am only focusing on goal #1 here. These chang

[2015-08-21 21:05] rajatchopra commented on #13055
It just follows what the default does two lines above - https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L306
If the IP was collected properly, good, otherwise log and move on. The status call is a periodic collection, and its failure should not be considered fatal.

[2015-08-21 21:07] davidopp commented on #13048
It sounds like there are two problems
(1) We do not take cluster size into account when setting vertical and horizontal dimensions of the cluster addons at cluster creation time
(2) Even if we did (1), people might resize their cluster later, requiring us to resize the addons

I think (1) is more important than (2) right now, but (2) may become more important if people start using cluster autoscal

[2015-08-21 21:11] JanetKuo commented on #6284
/subscribe

[2015-08-21 21:11] JanetKuo commented on #4822
/subscribe

[2015-08-21 21:12] JanetKuo commented on #10495
/subscribe

[2015-08-21 21:15] JanetKuo commented on #13038
/subscribe

[2015-08-21 21:16] roberthbailey commented on #13045
I hit this yesterday as well (see https://github.com/github/hub/issues/876).

[2015-08-21 21:17] roberthbailey commented on #13045
This is pretty annoying considering that we [tell everyone with write access to do this](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#keeping-your-development-fork-in-sync).

[2015-08-21 21:19] pmorie commented on #13055
@rajatchopra Ok, that makes sense.  I will add a comment (I'm changing some of that code now).

[2015-08-21 21:19] #13055 closed

[2015-08-21 21:20] justinsb commented on #13045
I was planning on just changing the docs to include my workaround.  I could put it into the script, but messing with push urls feels pretty risky...

[2015-08-21 21:21] smarterclayton opened #13057 "storage.Interface leaks error abstractions"
`genericetcd` abstracts a key value store, but it does not transform the errors returned (which are needed by callers):

[code]

and

[code]

are examples where lower level errors are converted to higher level conditions (because we Get before Deleting to check certain conditions).

Callers still have to handle etcd errors today.
### In general:

Our higher level kv abstraction is really `generice

[2015-08-21 21:22] bgrant0607 commented on #4822
Awesome. Thanks much, @pmorie.

FYI, we'll want something similar for the ConfigData resource (#6477) once it lands.

[2015-08-21 21:22] jefferai commented on #1957
@aronchick Cross-DC resolution is going to be in Consul soon. You'd save yourselves a lot of trouble!  :-)

[2015-08-21 21:24] roberthbailey commented on #13045
It'd be even better if hub worked properly without the valid push_url. :)

Where in the docs were you going to add it? We could have our script check your upstream push_url and give you a warning if it isn't set.

[2015-08-21 21:39] pnovotnak commented on #10323
+1

[2015-08-21 21:52] smarterclayton commented on #10408
Hopefully will have some folks free next week.  The people who would
normally upstream those are on vacation.

On Fri, Aug 21, 2015 at 4:01 PM, Brian Grant <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-21 22:00] ronaldpetty opened #13060 "Incorrect Login For Master"
Hello,

For a brand new (first time) installation using the Vagrant install fails (different reason, suspect python lib issue).  I then switched to using the AWS tutorial, it succeeds after some undocumented fixes (will add new bug for that in docs).  After it starts, if you visit the AWS EC2 master, the authentication is requiring the login from the previous Vagrant install.  I suspect it didn't

[2015-08-21 22:06] roberthbailey commented on #13060
Sounds like a bug.

[2015-08-21 22:07] roberthbailey commented on #13060
/cc @justinsb

[2015-08-21 22:07] roberthbailey commented on #13060
/cc @jlowdermilk

[2015-08-21 22:10] jlowdermilk commented on #13060
Do you mean that the master is using admin/password from the vagrant install? It's possible that it's picking up credentials from env vars that the vagrant install set.

[2015-08-21 22:16] a-robinson commented on #13048
Yes, that's true.

Although on the other hand, solving (2) also solves (1), and isn't much more difficult if we're already coming with logic for determining at which size cutoffs we do different things.

[2015-08-21 22:24] #8762 closed

[2015-08-21 22:28] roberthbailey commented on #13060
@jlowdermilk -- if a cluster (e.g. vagrant) currently exists that means that there is a current context for when [get-kubeconfig-basicauth](https://github.com/kubernetes/kubernetes/blob/master/cluster/common.sh#L130) is called -- so it may just re-use the existing credentials instead of generating new ones. I haven't had a chance to try and repro.

[2015-08-21 22:33] bprashanth commented on #1624
I'm not working on the job controller, a better owner might be Mike or @soltysh

[2015-08-21 22:53] quinton-hoole opened #13062 "Improve partitioning of tests across test jobs (slow, parallel, disruptive etc)"
Some e2e tests are slow by necessity and design.  Others are slow through non-optimal implementation.  We don't want these to slow down the completion of the faster e2e tests.

The former group (slow by necessity) need to go into their own group in perpetuity.  The latter need to go into quarantine until they can be speeded up.  As a first step the two groups can share one test job.

This is not j

[2015-08-21 23:10] saad-ali commented on #11042
Thanks @swagiaal! I'll take a look at that PR

[2015-08-21 23:15] quinton-hoole commented on #13062
The slowest e2e tests at the moment seem to be:

* 8 min 3 sec SchedulerPredicates validates MaxPods limit number of pods that are allowed to run. (Failed 6 times in the last 30 runs. Stability: 80 %) No flake or failure
* 6 min 15 sec Nodes Network when a minion node becomes unreachable [replication controller] recreates pods scheduled on the unreachable minion node AND allows scheduling of pods

[2015-08-21 23:16] uluyol commented on #1319
Now that #12833 is merged, we should talk about the next steps:

1. We should build our own image of the docker registry. The standard image is huge and all we should really need is a static Go binary.
2. The image for the docker registry should be pushed to the nodes. Right now we download it which partly defeats the purpose of having one.
3. The docker registry should request a cert from the api

[2015-08-21 23:36] jonmoter commented on #11488
:+1: for this feature.  In particular, I would like an ability to validate an object definition separate from actually creating the object.

e.g. running `kubectl --validate=true --dry-run -f pod.yml` at the validation step of my deployment pipeline.

[2015-08-21 23:36] quinton-hoole commented on #13062
@ixdy @zmerlynn FYI

[2015-08-21 23:36] roberthbailey commented on #13062
An alternate approach would be to make all e2es runnable in parallel. Then the full e2e suite would take the time of the longest test run, rather than the sum of all test runs.

[2015-08-21 23:43] quinton-hoole commented on #13062
In theory yes, in practise it creates noise to run other tests in parallel with e.g. rebooting all the nodes or etcd, inducing network partitions, or saturating all nodes with pods.  There are some tests that are both worth running, and not sensible to run concurrently with other tests.

[2015-08-21 23:44] quinton-hoole commented on #13062
Thinking a little harder, I guess it might make sense to run as many tests as feasible in parallel only, and disable them in the serial test runs, so that those run a lot faster.  Mmmm...

[2015-08-21 23:55] roberthbailey commented on #13062
It would actually be really good to see which tests fail when run on a cluster that is resizing, because if we could change our tests to be resilient to resizes, then we could verify that our cluster continues working properly before/during/after a resize.

[2015-08-22 00:00] dchen1107 commented on #13048
Yes, I brought this up to @roberthbailey and @zmerlynn before for 1.0 release, and pushed #7046 to 1.0 milestone. But there is no dynamic resizing.

[2015-08-22 00:18] davidopp commented on #13048
@dchen1107 #7046 looks more like it's about upgrading binary version of an addon, not changing number of replicas or resource request. But I agree they are somewhat related.

@a-robinson It seems like solving (1) simpler, i.e. it could be done statically in the setup scripts, whereas (2) requires a continuously-running control loop. (Unless I am misunderstanding.)

[2015-08-22 00:20] yujuhong commented on #13048
Even if we do scale the addons based on the cluster size, there'd be cases where they still don't fit in the cluster. We need a minimum requirement spec for a cluster.

[2015-08-22 00:32] bgrant0607 commented on #5275
cc @hurf @feihujiang

[2015-08-22 00:43] justinsb commented on #13045
I was going to add it here: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/cherry-picks.md

But I think I like the idea of checking the upstream push_url better - much more immediately helpful!

[2015-08-22 00:50] davidopp commented on #1624
@erictune has been shepherding this, so assigning to him.

[2015-08-22 00:50] bgrant0607 commented on #11488
I agree that the validation use case is important.

I would distinguish --dry-run from --local. The former would still entail contacting the server and returning the result of the mutation. The latter would imply that only local information were used.

[2015-08-22 00:59] quinton-hoole commented on #13062
Yes, agreed.  I think that should be a separate test job, specifically testing cluster resizing.  Otherwise a failure in the cluster resize logic could manifest in assorted unrelated errors in our more general e2e tests.

[2015-08-22 01:52] justinsb commented on #13056
So I think this is wonderful.  I think another important challenge will be to run etcd HA (i.e. multi-AZ).

To fill you in on some of the background here, I think there are two schools of thought when it comes to multi-AZ.  The first says that a k8s cluster should run out-of-the-box in multiple AZs.  The other says that you should actually run multiple k8s clusters, one per AZ, and somehow run ser

[2015-08-22 04:29] bgrant0607 commented on #12737
cc @nikhiljindal

[2015-08-22 04:35] bgrant0607 commented on #12446
Labels are in the wrong place.

[2015-08-22 06:17] kelseyhightower commented on #12803
@yujuhong I only updated the pod manifest under the Kubelet's configuration directory. The updates included changes to the apiserver container defined in the local pod manifest.

[2015-08-22 06:30] davidopp commented on #13056
@quinton-hoole has been leading the design efforts for multi-AZ. His Ubernetes doc has a very nice discussion of the pros and cons of the two schools of thought you mentioned. We'd certainly be interested in getting feedback from folks on these two models, as there is a lively debate about how to prioritize the efforts.

https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/federatio

[2015-08-22 07:55] jtblin commented on #12692
Same issue, after a long long time, I can see errors in the Javascript console:

I also got some Angular module injection error but didn't copy, reloaded and not getting those anymore but the ones above.

[2015-08-22 08:11] jtblin opened #13064 "Vagrant - 1.0.1 - no endpoints available for \"kube-dns\""
Installed 1.0.1 on Mac on vagrant with fix described on http://stackoverflow.com/questions/32062868/kubernetes-with-vagrant-nodes-wont-register (1.0.3 doesn't work on vagrant), install completed successfully but cannot access `KubeDNS`. I also have the issue described in #12692 for `KubeUI`.

Vagrant 1.7.4
VirtualBox v4.3.30

[code]

https://10.245.1.2/api/v1/proxy/namespaces/kube-system/services/

[2015-08-22 08:38] davidopp commented on #12069
I think so, but we should probably think about this along with setting resource limits on the various node agents and addon pods that scales appropriately with machine size. Let's leave it open at P2.

[2015-08-22 11:17] resouer commented on #6347
The original PR (from my friend actually) is closed? What about the progress of this issue ...

[2015-08-22 12:39] justinsb commented on #13056
@quinton-hoole is there a group that is planning on discussing these issues?  I think I have lots of thoughts on the importance on multi-AZ single-clusters, along with ideas for ubernetes (for example, I was thinking we could create a cluster object that represents 'foreign' clusters, and then enlightened containers could create services that span clusters)

[2015-08-22 13:17] dalanlan commented on #12856
What if the user does not care about it himself? This may sound odd, yet this feature can always be enabled for someone who needs it badly.

/cc @dchen1107

[2015-08-22 13:28] dalanlan opened #13065 "Should doc garbage collection strategy better"
The garbage collection strategy has not been well doc (correct me if i'm wrong), which could bother users who have OOD issues badly.

My main concerns about gc comes to
- What would kubelet do with the volumes (hostPath, for instance) of the container precisely when it's gonna to remove a exited container. l'll bet It wont please the users whether kubelet cleans the volumes or not. Greater customi

[2015-08-22 14:59] mcbain opened #13066 "logging: make namespace and labels fields in kibana"
To search in kibana for a certain pod the namespace and labels would be very useful.
Since kibana 4 allows to enter with a configured query all logs of pods of a resourceController could be easily filtered.

[2015-08-22 16:09] resouer commented on #11947
@mamikonyana can you close this issue now?

[2015-08-22 16:09] justinsb commented on #12109
I believe this to have been fixed by #12125.  I'm going to close, but if it happens again please do reopen.

[2015-08-22 16:09] #12109 closed

[2015-08-22 17:46] quinton-hoole commented on #13056
@justinsb what perfect timing for your question :-)

I created the [Kubernetes Federation special interest group](https://groups.google.com/forum/#!forum/kubernetes-sig-federation) yesterday.

Are you a member of [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-dev) and/or [kubernetes-announce](https://groups.google.com/forum/#!forum/kubernetes-announce) ?  The SIG was announced

[2015-08-22 19:46] #12893 closed

[2015-08-22 20:02] pmorie commented on #12826
Very interesting.  One thing that is a little confusing is the first row in the plan/action/expected events tables.  Should the plan column be `SetupNetwork`, rather than `TeardownNetwork` ?

[2015-08-22 20:18] davidopp commented on #13056
See also
https://github.com/kubernetes/kubernetes/tree/master/examples/sharing-clusters

[2015-08-22 20:19] thockin commented on #12069
agree

On Sat, Aug 22, 2015 at 1:38 AM, David Oppenheimer <notifications@github.com

[2015-08-22 20:59] thockin opened #13070 "Get rid of last remnants of "create-external-load-balancer""
There's still a kubectl flag at least, maybe more.  would be nice to make it deprecated in v1.1 if it isn't already, or nuke it if it was already deprecated.

[2015-08-22 22:47] davidopp commented on #6047
@yujuhong can we close this issue?

[2015-08-22 22:50] #5819 closed

[2015-08-22 23:26] #3989 closed

[2015-08-22 23:32] aronchick commented on #1957
@jefferai we'd love to understand more - how do you see Consul working in the context of Kubernetes labels?

[2015-08-22 23:38] davidopp commented on #2156
#11980 is implementing a version of this.

[2015-08-23 02:10] #12703 closed

[2015-08-23 02:57] roberthbailey commented on #6047
I noticed the other day that the etcd pod is the only pod running on the master that doesn't have a liveness check ([kube-apiserver](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-apiserver/kube-apiserver.manifest#L122), [kube-scheduler](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-scheduler/kube-scheduler.manifest#L35), [kube-con

[2015-08-23 07:43] davidopp commented on #11470
@ravigadde I'd be happy to discuss with you offline. Send me an email at (my github username) @ google.com and we can arrange a time.

[2015-08-23 07:51] dalanlan commented on #11875
@gangadhars
Did you make any progress on flannel here?

[2015-08-23 08:28] gangadhars commented on #11875
@dalanlan Yes. Now everything is working good.

[2015-08-23 08:28] #11875 closed

[2015-08-23 11:49] mikaelh commented on #7828
@justinsb @madis The current feature in #7888 fails because the instance needs to be in running state to be able to assign an elastic ip. I made a pull request #13072 which run assign-elastic-ip after wait-for-instance-running has returned.

[2015-08-23 16:12] smakam opened #13073 "Error creating external load balancer with gce and CoreOS cluster"
Hi
I have a CoreOS Kubernetes cluster that I created using steps in https://github.com/rimusz/coreos-multi-node-k8s-gce/blob/master/README.md.
I tried simple nginx application using steps in https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/quick-start.md.

When I try to create external loadbalancer, there is an error:

$ kubectl describe svc my-nginx
Name:			my-nginx
Namespace:

[2015-08-23 17:29] bgrant0607 commented on #12703
Selecting the namespace would be a UI feature request, if that's not possible today. The UI should provide a way to do that.

[2015-08-23 17:37] paralin commented on #11961
This issue might be more complex... I filtered out the link-local addresses in finalIP util function, and while all the unit tests pass, the e2e fails. Really weird.

[2015-08-23 18:30] ScOut3R commented on #13073
Just bumped into this with version 1.0.3.

[code]

[2015-08-23 20:03] a-robinson commented on #10928
I reproduced this while playing around on #13048. All it took was creating a cluster at 1.0.3 on a single f1-micro. It also ran into #10397, hence the very long list of capacity exceeded pods from the heapster rc.

[code]

[2015-08-23 22:16] davidopp opened #13074 "Fix documentation to use "request" where appropriate"
@HaiyangDING did #12979 which addresses some of them, but
`find docs/ -name '*.md' -print | xargs grep -i limit`
turns up a lot more.

[2015-08-24 01:03] HaiyangDING commented on #13074
@davidopp

Alright, I will do that.

[2015-08-24 02:17] paralin commented on #11961
After the recent updates I've rebased and the tests work.

[2015-08-24 03:30] huangyuqi opened #13077 "When kube-down the cluster,we need to umount the volume of pods."
when we run kube-down.sh to move a k8s cluster, we want a clean env to deploy a new cluster next time. https://github.com/kubernetes/kubernetes/pull/12075. we need to move all remains, includes volumes of pod. https://github.com/kubernetes/kubernetes/pull/12704
However, if we can add a command like "kubectl remove all pods", or  let Kubelet clean up volumes. It is better than writing script.
So i

[2015-08-24 03:41] a-robinson commented on #13048
@davidopp your understanding matches mine, I think we just have different expectations around how much work is involved in putting the logic into a control loop.

@yujuhong I checked into this for GKE, so in case it helps with a more general spec, this is the current state of our addon / system component resource usage:
CPU:
  DNS: 100m + 100m + 100m + 10m = 310m
  UI: 100m
  Heapster: 100m
  Flue

[2015-08-24 04:01] mikedanese commented on #12968
There is no way to use go tool pperf on an insecure https port.

[2015-08-24 04:46] arun-gupta commented on #12692
@kubernetes/kube-ui-maintainers any updates on this?

[2015-08-24 06:09] gmarek commented on #12968
@mikedanese can't we just tunnel pprof output to some unsecured one? It's not very convenient, but I think it should work. I'll try to set this up today and post instructions.

[2015-08-24 06:53] a-robinson opened #13080 "Node reports containerRuntimeVersion docker://Unknown on GCE"
I'm seeing this on both 1.0.3 on GKE and at head on GCE. When I print out all the info about a node, it gives a value of "docker://Unknown" for the `containerRuntimeVersion` field in the `nodeInfo` struct.

If I SSH to one of the nodes and run `docker version`, I can see that the version is 1.6.2.

For what it's worth, the `status.nodeInfo.machineID` field is showing up as empty on both clusters a

[2015-08-24 07:12] jtbcgdv commented on #12905
@justinsb thanks justin.  I'll let you know if it's a persistent problem

[2015-08-24 07:43] feihujiang commented on #10674
@marekbiskup What's the conclusion about this issue?

[2015-08-24 07:48] jszczepkowski commented on #3520
This exact test case is covered by Nodes.Resize and Nodes.Network. Closing

[2015-08-24 07:48] #3520 closed

[2015-08-24 08:11] marekbiskup commented on #10674
I'm sorry @feihujiang , I haven't been involved in Kubernetes lately.

@brendandburns, I suggest we remove this feature - we have auto-completion and I think it is more consistent than this. (Alternatively, we may match wildcards: pod_na* for pod_name_1234234).
What do you think?

It would be nice to check if it is documented. Otherwise we can't just remove it.

[2015-08-24 08:15] jamiehannaford commented on #12976
@saad-ali I'm not sure this is completely a UX issue; it's more to do with how to connect a kubectl proxy to the master API server.

[2015-08-24 08:52] jiangyaoguo commented on #11912
Now we have made duplicate events comprehensive in event client. We can add rate limit for event recorder and set 5qps in kubelet.  @fabioy @bprashanth

[2015-08-24 08:58] feihujiang commented on #10674
@marekbiskup Thanks for your quickly reply. If there is some work to do, I'd like to volunteer myself.

[2015-08-24 09:03] JanetKuo commented on #12102
Fixed in #12112.

[2015-08-24 09:03] #12102 closed

[2015-08-24 09:37] azr commented on #12391
Hello again, just to say the problem is still running.
May be the cluster re-create by google-cloud did not set ssh settings right ?

[2015-08-24 09:43] wojtek-t commented on #13032
As I wrote above, it seems it wasn't caused by my PR (it was reverted on Friday and this test failed multiple times since then).

As discussed offline, @mwielgus (as our oncall) will take a look into it - my hypothesis is that it might be caused by #12986, but so far I have no confirmation for it.

[2015-08-24 09:44] wojtek-t commented on #13032
cc @thockin @BenTheElder

Also note this comment: https://github.com/kubernetes/kubernetes/pull/12986#issuecomment-133273398

[2015-08-24 10:13] mwielgus opened #13083 "serialization_test.go fails on expapi due to default values set for APIGroup."
[code]

[2015-08-24 10:24] #12066 closed

[2015-08-24 10:29] adyanthaya17 opened #13085 "Linking docker containers through yaml file"
Hi,

I have been trying to get the mysql and wordpress containers up in the kubernetes cluster. I have my mysql container and want to link it with the wordpress container.

Normally this is how it's done throught CLI:
docker run --name some-wordpress --link some-mysql:mysql -p 80:80 -d wordpress

But how do you do it in the yaml file?

This is the wordpress.yaml file:
[code]

[2015-08-24 10:32] kgrvamsi commented on #13019
@bgrant0607  Can you please help me out on this?we tried getting the cluster up again but now kubelet on every minions stops running with the tmpfs issue

[2015-08-24 10:57] hw-qiaolei commented on #13085
Hello adyanthaya17,
Why don't you put your wordpress and mysql containers in one Pod? I think that's why Kubernetes defines Pod. Pods facilitates resource sharing, communication and management of containers.

[2015-08-24 11:03] adyanthaya17 commented on #13085
I have two separate images for mysql and wordpress and I have them running on a single node right now (with both master and minion on a machine).

Is it not possible to link it?

I tried adding the:
links:
        - link: mysql
          name: mysql

But I get an error as :
yaml: line 18: found character that cannot start any token

[2015-08-24 11:04] runseb commented on #12459
I got the same issue on Debian:jessie. the proxy container b.gcr.io/kuar/kube-proxy does not start.
Still trying to figure it out.

[2015-08-24 11:05] wojtek-t commented on #13032
I locally reverted #12986 and it didn't fully fix the problem...

[2015-08-24 11:13] mwielgus commented on #13083
Please revert #13084 when fixed.

[2015-08-24 11:28] hw-qiaolei commented on #12925
Hello JackChen255,

My suggestions are as following:

On **Master**:
1, Define flannel network configuration in etcd, which will be pulled by flannel service on nodes:
`etcdctl mk /coreos.com/network/config '{"Network":"172.17.0.0/16"}'`

This will eliminate the `Key not found (/coreos.com)` error messages.

2, Configure `/etc/kubernetes/controller-manager`, define the nodes' IP addresses:
`KUBELE

[2015-08-24 11:59] resouer commented on #12526
@thockin So what about the `copyTo` idea mentioned here https://github.com/kubernetes/kubernetes/issues/12526#issuecomment-130540796.

We can try to keep the content in volume, and then we don't need volume-from.

[2015-08-24 12:13] hw-qiaolei commented on #13085
1, The containers in the same pod can find and communicate with each other using localhost:containerPort, you do not need to link them. So I suggest you put them in one Pod.
2, So far as I know, I do not find any means to link two Pods.

[2015-08-24 12:27] dalanlan commented on #13077
Maybe i'm nuts, yet `kubectl` is, let's say like a "client" binary.
It would be quite odd to me to call `kubectl remove sth` manually before i tear down the cluster.

[2015-08-24 12:48] dalanlan commented on #13077
btw, i guess `kubectl delete pods --all` would take care of that if you insist on manual operation.

[2015-08-24 13:46] mingfang commented on #9005
+1

[2015-08-24 14:20] timothysc commented on #10934
+1 to have an automation
[ok to test]

[2015-08-24 14:22] asridharan commented on #12459
Run the container starting the kube-proxy with debug level logs. It might
give you more info.

docker run -d --net=host --privileged
gcr.io/google_containers/hyperkube:v0.21.2 /hyperkube proxy
--master=http://127.0.0.1:8080 --v=4

PS: Notice the --v being set to 4 (DEBUG)

On Mon, Aug 24, 2015 at 4:04 AM, runseb <notifications@github.com> wrote:

[2015-08-24 14:43] jimmidyson commented on #12968
Heapster & Prometheus both use the insecure read-only port. Right now the secure kubelet port requires certificate authentication IIRC so only the master can access it. I'd like to be able to provide a service account JWT & lock down to only read-only methods when used to auth to kubelet. We've discussed something similar for OpenShift (openshift/origin#3020).

[2015-08-24 15:02] gmarek commented on #12968
OK, so if I'm not mistaken the decision, at least for now, is that RO port has to stay. Right? @jimmidyson @mikedanese @roberthbailey

[2015-08-24 15:09] zakiva opened #13096 "Inconsistency in the API with persistentVolumes and persistentVolumeClaims"
When I'm accessing persistentVolumes and persistentVolumeClaims, I'm getting nil instead of empty list of items, as happening in other entities when there are no items.

{
  "kind": "PersistentVolumeList",
  "apiVersion": "v1",
  "metadata": {
    "selfLink": "/api/v1/persistentvolumes",
    "resourceVersion": "198954"
  }
}

[2015-08-24 15:12] roberthbailey commented on #13080
@kubernetes/goog-node

[2015-08-24 15:14] f-higashi opened #13097 "kubectl does not work with namespace authorization."
I created policy.jsonl
[code]

And I tried to get pods by kubectl.
[code]
At first, kubectl seems to access https://localhost:6443/api/ and fail because the "alice" can only have access on https://localhost:6443/api/v1/namespaces/projectCaribou.

[2015-08-24 15:14] jimmidyson commented on #12968
Yep, sadly.

[2015-08-24 15:16] gmarek commented on #12968
OK, closing the issue with this decision.

[2015-08-24 15:18] gmarek commented on #4610
@alex-mohr @bgrant0607 @lavalamp - is this still a thing?

[2015-08-24 15:31] yujuhong commented on #6047
@roberthbailey, I couldn't find the etcd issue that you two may have filed. I am assigning this issue to you assuming you plan to add a health check to etcd. Feel free to unassign if that's not the case. Thanks!

[2015-08-24 15:34] errordeveloper commented on #9244
#11450

[2015-08-24 15:34] #9244 closed

[2015-08-24 15:41] JanetKuo commented on #11262
Ref #8337

[2015-08-24 15:43] rjnagal commented on #9005
The fix for cadvisor was done a while back. I think we need to update cadvisor dependencies in kubelet.
I'll update the deps this week.

[2015-08-24 15:50] roberthbailey commented on #12968
The secure port doesn't enforce (by default) any authentication for client connections. We could configure both heapster and prometheus (barring any SSL issues) to connect without needing client credentials, in the same way that I configured curl to connect (without any client credentials) in https://github.com/kubernetes/kubernetes/pull/13044.

[2015-08-24 16:01] jimmidyson commented on #12968
@roberthbailey But that doesn't work for environments where authentication on kubelet which is configurable AFAIK?

[2015-08-24 16:25] timothysc commented on #7566
I'm going to close this issue in favor of https://github.com/kubernetes/kubernetes/issues/11962 as it appears close now.

[2015-08-24 16:25] #7566 closed

[2015-08-24 16:26] timothysc commented on #5589
preference is to close this issue in favor of: #11962

[2015-08-24 16:26] timothysc commented on #6559
preference is to close this issue in favor of: #11962

[2015-08-24 16:29] yujuhong commented on #13080
I believe @pwittrock was looking into this issue last week, and it had something to do with cadvisor caching the unknown version during initialization.

[2015-08-24 16:52] yujuhong commented on #13065
@dalanlan, thanks for the suggestions and the PR!

@pwittrock is working on documenting the GC policies (#8416). I am not sure about his progress, so I'll leave it up to him to either review your PR or work with you to incorporate your suggestions in his own :)
 We should address all your questions in the new documentation. In the meantime, I am closing this issue as a dup of #8416.

[2015-08-24 16:52] #13065 closed

[2015-08-24 16:56] roberthbailey commented on #6047
@cjcullen is going to add a liveness probe for the etcd pod.

[2015-08-24 17:02] roberthbailey commented on #12968
True. In an environment where you add authentication flags to the kubelet, you would also need a way to provide client credentials to folks that want to connect to the kubelet.

[2015-08-24 17:03] JanetKuo commented on #13070
It's only used in `kubectl expose`. Why should we deprecate this flag?

[2015-08-24 17:06] pwittrock commented on #13080
Thanks for reporting.  This is likely caused by google/cadvisor#862 and should be fixed in cadvisor by google/cadvisor@b7bbefd9b1d4c1032c6afece425a99ba17e43cdb.  The cadvisor fix will get pulled into Kubernetes in a subsequent PR.  I will update this issue with the progress of updating Kubernetes.

[2015-08-24 17:10] thockin commented on #13070
the name ties to the old implementation of load-balancers and is totally
obsoleted by --type for `expose`.  We need to do it in a compat-safe way,
so if we didn't think to deperecate it pre 1.0 we probably have to
deprecate it now, keep it for a year, and then kill it.  The longer we
wait, the more annoying it is :)

On Mon, Aug 24, 2015 at 10:04 AM, Janet Kuo <notifications@github.com>
wrote:

[2015-08-24 17:12] BenTheElder commented on #13032
I killed my local e2e run after the restarted GCE bot finished first, when
thockin restarted the GCE tester everything passed.
Shouldn't be caused by the new proxy stuff as it is gated behind a cli flag.

Not sure what caused it though.

On Mon, Aug 24, 2015 at 5:44 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2015-08-24 17:21] a-robinson commented on #13032
I can't say I have much bandwidth for this. Do we have any additional logs saved from the failures?

My most likely guess is that GCE's LB is taking too long to initialize and start actually serving traffic. That would seem to be corroborated by the error message being "connection reset by peer", at least given my understanding of that message. It's unlikely that our webserver pod would recognize

[2015-08-24 17:21] jimmidyson commented on #12968
@roberthbailey To continue the problem with the kubelet it's an all-or-nothing access which is dangerous. There's no way to lock down users to just metrics for example. Access to kubelet means access to schedule stuff, delete stuff, etc.

[2015-08-24 17:25] thockin commented on #12526
Can you be more precise on the specification of how you think it would act?
 who is responsible for copying data?  The whole volume image or just
VOLUME dirs?  How does it know where to copy the data?

I am reluctant to do half-measures but if the spec can be clearly defined,
maybe.

On Mon, Aug 24, 2015 at 4:59 AM, Harry Zhang <notifications@github.com>
wrote:

[2015-08-24 17:25] bgrant0607 commented on #11470
@ravigadde

I don't see how this proposal addresses your expressed concerns.

a) Your custom scheduling logic would be in a non-maintained/supported binary.
b) Your custom scheduling logic would amount to a fork.
c) You would be responsible for upgrading your own scheduling component.

As for this specific API:

We need to be able to run the "fit" check in several places. In addition to the schedu

[2015-08-24 17:27] roberthbailey commented on #4610
My guess is no, but we need someone to run a quick test. Any volunteers?

[2015-08-24 17:28] yujuhong commented on #12856
Kubelet would not be reporting accurate status, and/or respecting the restart policy in this case. It seems to me that this should not be optional. Is there any reason for removing all dead containers right away other than the potential saving in disk space?

[2015-08-24 17:35] JanetKuo commented on #13070
@thockin: got it. I added a PR to deprecate it.

[2015-08-24 17:37] #12248 closed

[2015-08-24 17:38] bgrant0607 commented on #12588
How do the two containers synchronize? Kubernetes isn't doing anything to ensure that one container completes before another starts.

[2015-08-24 17:40] #4475 closed

[2015-08-24 17:47] bgrant0607 commented on #12856
See the original discussion re. restart policy in #127. I do not envision per-container restart policies. In addition to a number of semantic problems, it would be insufficient for what people want to use it for, such as #12588.

I also don't envision supporting general-purpose dependencies, which also have semantic problems. I do support addressing the most common use case, which is populating a

[2015-08-24 18:03] jayunit100 commented on #5734
@CaptTofu any thoughts on mysql side of this ? or postgre is ok?

[2015-08-24 18:07] mikedanese commented on #13097
pass `--namespace=projectCaribou` with your kubectl command

[2015-08-24 18:09] bkeroackdsc commented on #12588
@bgrant0607 Correct, understood. The "consuming" application (the runner) polls a location on the volume for the appearance of a magic file (polling is implemented as a shell script with a timeout). When it finds the file, it uses that as indication the copy succeeded. A little hackish but it works as long as the copied files actually show up on the volume.

[2015-08-24 18:13] wojtek-t commented on #13032
These problems started on Friday - this has to be caused either by our change or by some GCE rollout.
As for logs - there are quite a lot failures on Jenkins for which we have logs.

[2015-08-24 18:47] saad-ali commented on #12976
@jamiehannaford The `ux` team is responsible for the API on the server side. The `CSI` team is responsible for the client library. I'll let @lavalamp and @bgrant0607 decide which side this falls on.

[2015-08-24 18:49] nikhiljindal commented on #13096
Yes, this seems like a bug.
I see an empty list when I access pods: ```api/v1/namespaces/default/pods/```
[code]
And items is nil when I access persistent volumes: ```api/v1/persistentvolumes```
[code]

[2015-08-24 18:51] nikhiljindal commented on #13073
cc @thockin

[2015-08-24 18:54] yujuhong commented on #12803
@kelseyhightower, could you elaborate more on the change? We have very limited support for container updates, and I don't think killing the apiserver (if that's the case) and starting a new one is tested at all. From your log, it seems like that the kubelet wasn't able to communicate with the apiserver at all after the update. Whether or not the mirror pod was updated was not the core of this issu

[2015-08-24 18:57] yujuhong commented on #12856
I just wanted to add that whether there is checkpointing or not, there is still a window of time where kubelet needs to inspect the dead container for information and save it somewhere. There would always be problems if user come in and remove containers underneath kubelet.

[2015-08-24 19:08] nikhiljindal commented on #13019
@kgrvamsi What is the cloud provider you are using and what is the script you used to bring up your cluster?

[2015-08-24 19:15] yujuhong opened #13102 "Cluster is unstable with REGISTER_MASTER_KUBELET=true"
I created an e2e cluster with `REGISTER_MASTER_KUBELET=true`, and the master node is extremely unstable with docker/kubelet being restarted frequently.
I ended up *fixing* this by removing `/etc/supervisor/conf.d/docker.conf` to prevent docker from being restarted again. The cluster was stable and functioning after the fix.
Here are my questions:
 - Is REGISTER_MASTER_KUBELET=true supposed to work

[2015-08-24 19:41] bkeroackdsc commented on #831
Another +1 for this idea. A "container" volume type would simplify our current workflow of using a shared emptyDir volume that has to have shared data copied to it, and the consuming containers synchronized somehow.

[2015-08-24 19:50] bgrant0607 commented on #12976
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-24 19:50] #12976 closed

[2015-08-24 19:50] derekwaynecarr commented on #12921
As noted above, we do not support arbitrary box and OS distros.

The fields used here were more intended to let specific vagrant box files to be pulled down that were required for a specific virtualization provider (i.e. libvirt, vbox, etc.).  It was not intended to be an entire different OS distribution.

If its important to you, feel free to add support for Ubuntu, or follow one of the Ubuntu ge

[2015-08-24 19:50] #12921 closed

[2015-08-24 19:54] yujuhong commented on #13102
@roberthbailey, this seems like a duplicate of #12776, so feel free to close it if you see fit.

[2015-08-24 19:56] yujuhong commented on #12803
Oh by the way, seems like your kubelet on the master is not running in the standalone mode. There is still a bug that needs to be fixed for registering the master node: #12776. This would cause kubelet to be stuck in a crashloop.

[2015-08-24 19:59] yujuhong commented on #12760
@ttllyy, I am closing this bug since it's inactive for over a week. Please follow #8416 for documenting GC policies. Thanks!

[2015-08-24 19:59] #12760 closed

[2015-08-24 20:08] derekwaynecarr commented on #12853
@groulot - the example requires a stable public ip that can be used from outside the cluster.  Is the IP 10.100.232.78 routable outside your minions?  If not, maybe you could look into making your service use ```NodePort``` instead and then just route to one of the minions on your cluster?

[2015-08-24 20:08] timothysc commented on #1542
So the lock/lease api is being updated, but the algo around actual leader election I consider separate, but planned to address over time as needed.

/cc @rrati @davidopp

[2015-08-24 20:19] f-higashi commented on #13097
I tried it. But the same error occurs.

[2015-08-24 20:28] kgrvamsi commented on #13019
This is a Manual setup on Coreos @nikhiljindal

[2015-08-24 20:37] ckleban commented on #5017
Fwiw, I'm super interested in this as well.

If desired, when it is appropriate (ie, these new features get released), I wouldn't mind helping build out an example of this.

[2015-08-24 20:48] markturansky opened #13108 "ReplicationControllers can deterministically assign distinct persistent volumes to pod replicas"
This issue attempts to solve only the storage piece of #260.

Current:

* 1:1 binding between PVC:PV
* RC gives all replica pods the same PVC name.  Good for shared storage only.

Proposed:

* 1:N binding between PVC:PV
  * Change pvc.Spec.VolumeName to pvc.Spec.VolumeNames[]
  * Add pvc.Spec.Singleton to denote if a claim can be bound exactly once or many times (shared storage toggle)
  * Alterna

[2015-08-24 20:58] erictune opened #13110 "Clean up: stop making pre-service-account tokens."
Currently, a cluster created with salt gets a bunch of secrets automatically created.
You can see them here:

[code]

Ignore `default-token-flvj5`, which is fine.

The others (`token-*`) were added to the cluster turnup process prior to the existence of service accounts.  The intent was to have different accounts for each component that accesses the apiserver, to allow for giving them least privil

[2015-08-24 20:58] roberthbailey commented on #13102
We've set REGISTER_MASTER_KUBELET=false to solve this temporarily, but I think we want to move back to a state where you can set it to true and have a functioning cluster (so I don't think it's a dupe of #12776) -- let's use this to diagnose / fix this flag and leave that one as the issue that stopped the bleeding.

I can't tell if there was something wrong with my initial implementation or if the

[2015-08-24 21:00] roberthbailey commented on #13102
/cc @brendandburns (in case he has any ideas about the supervisord health check)