[2020-03-11 19:40] apyrgio commented on #89062
/sig api-machinery

[2020-03-11 19:45] danwinship commented on #88253
This was discussed before and rejected, which is too bad, because I also think that it would be more useful to users than the current system.

no, instead of "a `namespaceSelector` contains either a `matchLabels` or a `matchExpression`" you'd say "a `namespaceSelector` contains either a `matchLabels` or a `matchExpression` or a `matchName`"

If there are multiple `from`/`to` values then the policy

[2020-03-11 20:01] cmluciano commented on #88698
@xmath279 Do you know if the sourceIP is being preserved by your LB? I just found the following note while investigating this today -

https://github.com/kubernetes/kubernetes/blob/8c6956e5bb4f9557e6ba459f1f6bbcb80e3b5b80/pkg/proxy/ipvs/proxier.go#L1296-L1298

[2020-03-11 20:24] smarterclayton opened #89067 "Stateful set controller does not appear to backoff when pods are evicted"
The SS controller appears to go into a very tight loop when the `Should recreate evicted statefulset` e2e test runs.  The controller should go into backoff after an eviction for that pod instead of hammering the node.

[code]

The surge in this one test was enough to cause the Kubelet to significantly slow down its processing of status (another bug I intend to fix).

/sig apps

[2020-03-11 20:25] smarterclayton commented on #89067
Eviction is an usual action, no controller should try to force the pod back more than once or twice without slowing down.

[2020-03-11 20:30] smarterclayton opened #89068 "Kubelet has no rate controls after a pod was evicted"
There is no mechanism today to prevent abusive eviction loops (controller recreates a pod that was just evicted).  #89067 seems to indicate that the kubelet and the controller will just fight until the controller stops.  It seems reasonable that an eviction decision should perform some rate limit on subsequent pods from that controller, namespace, or name, although this could be tricky.

/sig node

[2020-03-11 20:40] shyamjvs commented on #88738
/good-first-issue
/assign @hakuna12

[2020-03-11 20:45] andrewsykim commented on #88698
There's also some logic that applies if the proxier node IP is in the source range https://github.com/kubernetes/kubernetes/blob/8c6956e5bb4f9557e6ba459f1f6bbcb80e3b5b80/pkg/proxy/ipvs/proxier.go#L1323-L1346.

[2020-03-11 20:54] Huang-Wei commented on #88809
Nope. It should be a label present in your nodes to uniquely represent a node. Usually it's `kubernetes.io/hostname`, you can check it out by `k get node --show-labels`.

The scheduling behavior only applies for "unassigned" Pods - which is always the case since k8s 1.0. A workaround is to delete the 2 pods so that new 2 pods will be created and hence got chance to be rescheduled.

[2020-03-11 21:26] dvaldivia commented on #67566
@nikhita has the way to use `code-generator` changed at all? does it support go modules? I see `apimachinery` already does

[2020-03-11 21:43] oxddr commented on #89051
/assign

I've already started looking into this. I hope to come back with more analysis, tomorrow CEST morning.

[2020-03-11 21:48] lavalamp commented on #69579
We had a really long chat about this on the API Machinery SIG and agreed to start by adding some metrics to get a good sense of the scale of the problem.

[2020-03-11 21:49] smarterclayton commented on #89007
related to #89068

[2020-03-11 21:52] liggitt commented on #89042
I think this is a duplicate of #85894

[2020-03-11 21:53] liggitt commented on #89042
/remove-sig cli
/sig network

[2020-03-11 22:10] BobyMCbobs opened #89071 "Write CoreV1ServiceAccount resource lifecycle test+promote - +3"
- [x] [mock ticket](#)
- [x] [issue created](https://github.com/kubernetes/kubernetes/issues/89071)
- [x] [PR created](https://github.com/kubernetes/kubernetes/pull/90193)
- [ ] Promotion created

# Identifying an untested feature Using APISnoop

According to this APIsnoop query, there are still some remaining ServiceAccount endpoints which are untested.

[code]

[code]

# API Reference and featur

[2020-03-11 22:44] anshul-harness opened #89075 "Deployed image in the container status does not match with image in spec"
Deployed the below yaml file.

[code]
and getting below information in the container status

[code]
If you compare the image field in the container status for **nginx:stable-alpine-perl**, then it is different from the spec. The prefix is getting truncated **index.docker.io/library/** . Is this expected?
If it is, then what is the rational here?

Also it does not happen always. While using below s

[2020-03-11 22:52] alena1108 opened #89076 "Make TLS timeout configurable for `kubelet->api` and `api->etcd` communications"
**What would you like to be added**:

It would be great to give k8s administrator more control over TLS settings - TLS timeout in particular - by making these parameters configurable, for:

* api -> etcd communication https://github.com/kubernetes/kubernetes/blob/904d197b3e79c6215f25e792a6a6e69124bc41b5/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go#L52
* kubelet->api com

[2020-03-11 22:54] alena1108 commented on #89076
/sig api-machinery

[2020-03-11 22:57] #25251 closed

[2020-03-11 23:13] aojea commented on #62822
/remove-lifecycle rotten

[2020-03-11 23:19] droslean commented on #89050
job is green after kubernetes/release#1174
/close

[2020-03-11 23:19] #89050 closed

[2020-03-11 23:22] droslean commented on #88907
/close

[2020-03-11 23:22] #88907 closed

[2020-03-11 23:44] win-t commented on #53533
Yes, you cannot set this option, as they aren't exposed in k8s

btw, `MemorySwap` in docker inspect should be the same with `Memory` according to [this](https://github.com/kubernetes/kubernetes/blob/a847ab4611fa5545acc83c58f6c08d37fbac0c38/pkg/kubelet/dockershim/helpers_linux.go#L109-L110), I don't know how can you get `-1` in your docker inspect

- `--memory` in docker map to `memory.limit_in_byt

[2020-03-11 23:46] dashpole commented on #88964
I haven't looked at this specific problem, just replying to https://github.com/kubernetes/kubernetes/issues/88964#issuecomment-596869206.  We generally don't add permanent logs to the kubelet to debug issues.  If you think there should be log statements in general, then those are fine to add, but need broader justification.  Excessive logging is generally a problem in the kubelet, and we wouldn't

[2020-03-11 23:54] tedyu commented on #88964
I agree that amount of additional logging should be under control.
[code]
We can aggregate the information returned by checkAndUpdatePod() and log one line outside the loop.

[2020-03-12 00:00] Huang-Wei commented on #89036
I can see the point to skip preemption for Pods with default priority (0). However, in your case, Pods with priority 10 can still preempt Pods such as the ones with default priority, how can you manage to skip them?

This is a valid point. In the next release (1.19), we will extract the hard-coded preemption logic into plugins, which is a good timing to consider introducing some pluginConfig argum

[2020-03-12 00:13] Huang-Wei commented on #88614
/area sched/preemption

[2020-03-12 00:33] draveness commented on #75942
/lifecycle frozen

[2020-03-12 00:48] huangyanhong commented on #88085
but  I meet the same problem，the IPVS destination to a weight of 0 when I delete the pod,but the service request be sent to the  endpoint of a weight of 0  , I don't know why the   weight of 0 'd pod
 still be loaded  in the service
[root@-k8s-~]# ipvsadm -Ln --stats |grep 9376
  -> 10.233.102.89:9376                112     3762     2508   248919   224466
  -> 10.233.124.47:9376                  0

[2020-03-12 01:09] msau42 commented on #84226
@jsafrane instead of trying to solve this for all volume types (considering that most of the attachable ones are getting migrated to csi), what if we look into solving this just for CSI, and use VolumeAttachment object?

[2020-03-12 01:09] hex108 commented on #89036
The priroties(10, 20, and 30) are just examples. Actually, the priorities could be any interger number and we can set the default priority to any valid value by [setting one priority class's globalDefault value to true](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#priorityclass). We could list all prioriy classes and find out which is the lowest priroity class.(For op

[2020-03-12 01:11] msau42 commented on #74374
/remove-lifecycle rotten

[2020-03-12 01:24] Huang-Wei commented on #89036
I see the point.

As you know, current preemption logic is hard-coded, to avoid duplicate/interim efforts, I'd like to come up with a general write-up on preemption extension point first, within which let's discuss propose possible args and other aspects.

[2020-03-12 01:29] tedyu opened #89077 "'Pod Container Status should never report success for a pending container' is flaky"
**Which jobs are flaking**:
pull-kubernetes-e2e-kind

**Which test(s) are flaking**:
should never report success for a pending container

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88849/pull-kubernetes-e2e-kind/1237903275018162177

**Reason for failure**:
[code]
**Anything else we need to know**:
From kubelet.log on kind-worker
[code]

[2020-03-12 01:30] spiffxp commented on #89052
Opened https://github.com/kubernetes/test-infra/pull/16749 to see if more cpu resources help

[2020-03-12 01:32] gnufied commented on #86080
@liggitt flaky can definitely be removed from these tests, but looking at the logs:

[code]

They are just skipping the bits that depend on selinux and hence is green. Do we have different configuration where selinux is enabled?

[2020-03-12 01:34] zhouya0 commented on #89075
Same issue and a PR is waiting for review. https://github.com/kubernetes/kubernetes/pull/88839

[2020-03-12 01:37] liggitt commented on #86080
… so we still don't actually have coverage of the feature anywhere that would be visible to the release team?

[2020-03-12 01:40] hex108 commented on #89036
Get it now. Thanks!

[2020-03-12 01:42] alejandrox1 commented on #88335
damn, thank you for picking this up so fast @robscott
quick question, before this issue gets closed... could you elaborate on what the underlying problem was with the whole
[code]
?

I didn't get to https://github.com/kubernetes/kubernetes/pull/89057 before its final state but saw  a portion of the PR that had this
[code]

Could you elaborate on what the issue was, please?

---

also saw this comm

[2020-03-12 02:01] msau42 commented on #84226
Actually @jsafrane external-attacher already seems to [add a PV finalizer](https://github.com/kubernetes-csi/external-attacher/blob/master/pkg/controller/csi_handler.go#L590) until all VolumeAttachment objects are gone. I guess this doesn't work because external-provisioner ignores it?

[2020-03-12 02:03] juxuny commented on #48798
If you can provide more information about the running environment, it will be  helpful. Such as, the Operate System, and what did you do before the error occurred.

[2020-03-12 02:27] neolit123 commented on #89075
/sig node

[2020-03-12 02:28] neolit123 commented on #89077
/sig node

[2020-03-12 02:31] syedzac commented on #78846
same issue here, any solution for this issue>

[2020-03-12 02:34] neolit123 commented on #89035
/remove-kind bug
/triage support

given you are running kubeadm, after running `init` or `join` what are the contents of these files?
/var/lib/kubelet/kubeadm-flags.env
/etc/default/kubelet

flags will override the kubelet config.yaml.

kubeadm during `kubeadm init/join` commands will detect your docker driver and append the matching `--cgroup-driver` as a flag in `kubeadm-flags.env`.

also import

[2020-03-12 02:38] neolit123 commented on #89035
also note that chaning config.yaml you need to restart the kubelet `systemctl restart kubelet`.

[2020-03-12 02:38] pai911 commented on #53533
@win-t Thank you so much!

I am using the following version
[code]

and I looked at the history. it seems that the fix was added in this [commit](https://github.com/kubernetes/kubernetes/commit/89e433fca18fc89b79c6cb2eeb3bf68cccfb9127#diff-7a64798a1c76fb0f489279744c106b36)

Maybe it's not included in this version yet?

[2020-03-12 03:29] regardfs commented on #77903
@lbernail, I am a little confused, you mean when ipvs rs weight is 0, there are also still new connections will be established? I deemed that only already existed connections will go on until rst/fin received. thanks in advance....
[code]

[2020-03-12 03:31] jingyih commented on #69579
Could we update the title of this issue while investigating where the corruption happens?

On more prompt detection:
If using etcd v3.4.4, there is an alpha feature where the etcd leader periodically performs cluster-wide corruption checking. It is enabled by flag "--experimental-corrupt-check-time" when starting etcd server. If the check interval is set to be less than the raft log compaction int

[2020-03-12 03:38] liggitt commented on #69579
It's not clear to me that the corruption is at the etcd level. @micahhausler, did raw retrieval of the key/value reveal any issues that would be visible to an etcd data store integrity check?

[2020-03-12 04:24] tedyu commented on #89077
Didn't reproduce in subsequent run.

[2020-03-12 04:24] #89077 closed

[2020-03-12 04:25] IzekChen commented on #59888
Same in v1.14
ScalingLimited  True    TooFewReplicas    the desired replica count is increasing faster than the maximum scale rate

How did you guys solve the issue? Recreate the HPA or?

[2020-03-12 04:43] liggitt commented on #89042
Thanks for the detailed report. Closing as a duplicate in favor of https://github.com/kubernetes/kubernetes/issues/85894

[2020-03-12 04:43] #89042 closed

[2020-03-12 05:27] mvaknine commented on #48798
this is a new fresh install of version 1.16.0 on amazon.
i am usuing this AMI - k8s-1.16-debian-stretch-amd64-hvm-ebs-2020-01-17
uname -a
Linux ip-172-28-125-218 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64 GNU/Linux

if i install 1.15.0 there are no problems at all.

this is what i see in syslog of the master nodes.

Mar 12 05:26:22 ip-172-28-125-218 kubeletÄ3656Å: E0312 05:2

[2020-03-12 05:34] gyuho commented on #69579
etcd being able to proto marshal/unmarshal tells corruption happen at the time of put write. I suspect corruption happened right before etcd writes. We will provide more information if this happens again.

[2020-03-12 06:28] pai911 commented on #53533
This is odd.

I was using kops + Debian, and the Docker inspect shows there is no limit on Swap memory
(The Docker inspect info I posted earlier)

But then I switched to Amazon Linux image, and this is what I got

[code]
I'll do some more investigation and see if this is a bug

[2020-03-12 06:31] andy-wolf168 commented on #88964
thank you for your reply. @tedyu
As #80968 reported, "Kubelet may mark pods as not ready after connectivity is returned to the node. manager#syncPod should cover reconciliation where m.needsUpdate() returns false."

But from the code, if (m *manager) syncBatch() #m.needsReconcile returns true, then apiStatusVersions will be deleted (m.apiStatusVersions, syncedUID). This way m.needsUpdate () should

[2020-03-12 06:43] limbuu commented on #44273
We are using v1.13.12-gke.25 kubernetes version in production and facing the same issue.

[2020-03-12 06:46] andy-wolf168 commented on #80968
I understand is that once the heartbeat of the kubelet is restored, the kubelet will receive the SyncLoop (RECONCILE, "api") message and carry the pod Raedy: False status from the apiserver. The pod on this node will be processed by statusmanager # syncBatch every 10s, compared The difference with the cache state, and then upload the difference state to the apiserver. So, I understand that once th

[2020-03-12 07:12] hase1128 commented on #86419
I close this issue because unnecessary task.

[2020-03-12 07:12] #86419 closed

[2020-03-12 07:13] hase1128 commented on #88232
I close this FR. I ask this in descheduler.

[2020-03-12 07:13] #88232 closed

[2020-03-12 07:13] catchups commented on #88957
Please fill out the correct template for your question.

[2020-03-12 07:24] pai911 commented on #53533
I can now reproduce the issue exists in official Debian image by kops

It seems that this kops official image will make the swap memory unlimited
`kope.io/k8s-1.15-debian-stretch-amd64-hvm-ebs-2020-01-17`

**Reproduction steps:**

My kops instance group is defined as the following:

[code]

**Steps:**

1. After the cluster is up & running.

2. Deploy the **Solr Helm Chart** with the following reso

[2020-03-12 07:32] samsam2310 commented on #89031
/sig CLI

[2020-03-12 07:36] pcaifi commented on #89035
@neolit123 Thanks. Solved by removing `--cgroup-driver`from `kubeadm-flags.env`. But if this flag is deprecated why it is still in use by kubeadm?

[2020-03-12 07:40] pcaifi commented on #89035
@neolit123 And I do not get what is about default cgroup driver. Is it recommended to use systemd or cgroups?

[2020-03-12 07:42] aojea commented on #82125
/remove-lifecycle rotten
This is a problem with dual-stack, because kubelet handles only one IP family, but kube-proxy handles both

[2020-03-12 07:44] mstrYoda commented on #89022
If this needs to be fixed, I am volunteering to resolve this issue. But I need someone to guide me.

[2020-03-12 08:02] pai911 commented on #53533
I can confirm that I can only see the correct behavior on Amazon Linux
`ami-0cbc6aae997c6538a`: amzn2-ami-hvm-2.0.20200304.0-x86_64-gp2

[code]
That is: "MemorySwap" ==  "Memory"

The other two images both have the same setting:  `"MemorySwap": -1`, which lead to unlimited swap usage.

- **Debian**
    - `ami-075e61ad77b1269a7`: k8s-1.15-debian-stretch-amd64-hvm-ebs-2020-01-17
- **Ubuntu**
    - `

[2020-03-12 08:06] #83719 closed

[2020-03-12 09:15] #85803 closed

[2020-03-12 09:20] lironrisk commented on #89049
/sig node

[2020-03-12 09:24] george-angel commented on #68939
/remove-lifecycle stale

[2020-03-12 09:45] SataQiu commented on #88986
Emm.. Have you tested whether it works without `metallb`? or using some other LB tools?

[2020-03-12 09:54] hudannag commented on #85894
Is there any update on the issue?
One of my collegues mentioned that there might be a problem with the TPC stack holding CLOSE_WAIT for a while on the port.

Can you force to close/free the port as soon as the NodePort service gets deleted?

[2020-03-12 09:55] tanjunchen commented on #74352
/cc

[2020-03-12 09:59] tanjunchen commented on #76206
/cc

[2020-03-12 10:04] tanjunchen commented on #77095
/cc

[2020-03-12 10:04] oxddr commented on #89051
Other tests are failing too: https://testgrid.k8s.io/sig-release-1.17-blocking#gce-cos-1.17-scalability-100, https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-1.16-scalability-100, https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

/retitle [Failing Test] gce-cos-.*-scalability tests are failing since 03/06

I am going to focus the debugging on 1.18 tho

[2020-03-12 10:16] oxddr commented on #89051
Tests for master branch started to fail earlier (03/06) that for release branches (03/10). First commit with failed test: https://github.com/kubernetes/kubernetes/commit/570851149

[2020-03-12 10:17] jsafrane commented on #84226
External-attacher finalizers are not evaluated in the provisioner. Maybe they could. It introduces dependency between the attacher and provisioner, but I don't see a big issue there.

The provisioner could even check if there is a VolumeAttachment object for a PVC before deleting it.

[2020-03-12 10:40] zhouya0 opened #89080 "Massive managedFields in yaml file"
After upgrating to k8s 1.18.0.
The feature `Server-side-apply` is enabled by default, as this PR brings:https://github.com/kubernetes/kubernetes/pull/72947
The yaml file from `kubectl get -o yaml` has massive strange `managedFields` which is really strange:
[code]
Some bigger object has even more `managedFields`.
I have two questions for this:
1. Is there a doc to describe the meaning and usage of

[2020-03-12 10:47] uablrek commented on #84230
@caseydavenport I can't find slack comments, but this post is relevant;
https://jeanbruenn.info/2017/04/30/conntrack-and-udp-dns-with-iptables/

[2020-03-12 11:09] #83125 closed

[2020-03-12 11:42] oxddr commented on #89051
Failing tests more or less correlate with fixing and enabling node-killer. I've disabled it on master to check if it helps: https://github.com/kubernetes/test-infra/pull/16752

[2020-03-12 12:06] JoelSpeed opened #89082 "IntStr GetValueFromIntOrPercent assumes all strings are percentages"
**What happened**:

Using [GetValueFromIntOrPercent](https://github.com/kubernetes/apimachinery/blob/c76d55892ea23f279bd999f01f951e78434b6095/pkg/util/intstr/intstr.go#L154-L170) from the `intstr` package in `k8s.io/apimachinery/pkg/util/intstr`, I found there's a difference in behaviour between `{"foo": 1}` and `{"foo": "1"}`, but there is no difference in behaviour between `{"foo": "1"}` and `{"

[2020-03-12 12:07] JoelSpeed commented on #89082
/sig api-machinery

[2020-03-12 12:13] zuozp8 commented on #86246
/remove-lifecycle stale

[2020-03-12 12:30] MaciekPytel commented on #89058
By default CA will not restart system pods (to avoid cluster wide disruption when restarting singleton system pods such as metrics-server). Those pods are likely to spread out over a few nodes, meaning by default CA will not scale-down below 3-4 nodes (it's random, but 3-4 is the usual).
You can allow CA to restart system pods by following the instructions in https://github.com/kubernetes/autoscal

[2020-03-12 12:34] davesargrad commented on #88986
Yes. I have a fair amount of experience at this point with K8S services. I've only just recently integrated MetalLB since I want to be able to use LoadBalancer services and I am on a bare metal K8S cluster.

[2020-03-12 13:13] liggitt commented on #89035
That error indicates that the docker cgroup driver is still set to systemd. The kubelet and docker cgroup drivers must agree. You would need to also reconfigure docker to use cgroupfs.

/close

[2020-03-12 13:16] liggitt commented on #89035
That is the correct solution. Kubelet flags override config.

Moving to the kubeadm component.

/area kubeadm
/sig cluster-lifecycle
/remove-wg component-standard

[2020-03-12 13:25] liggitt commented on #89030
The documentation refers to the fields in the Pod object a pod preset can modify (the path to the field in the Pod is `.spec.containers`).

See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#podpresetspec-v1alpha1-settings-k8s-io for the PodPreset API reference

/close

[2020-03-12 13:25] #89030 closed

[2020-03-12 13:26] liggitt commented on #89030
Also, an [edit](https://github.com/kubernetes/website/edit/master/content/en/docs/concepts/workloads/pods/podpreset.md) of the linked documentation page with a clearer description of that field would certainly be welcome.

[2020-03-12 13:40] jayunit100 commented on #46625
hiya @danwinship  - ok if we swallow this up into whats left of https://github.com/kubernetes/enhancements/pull/1568 ?

[2020-03-12 13:55] shahid-mushtaq opened #89084 "You're speaking plain HTTP to an SSL-enabled server port."
My  Gateway file is as
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: my-gateway-secure
  namespace: myapp
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
  - port:
      number: 443
      name: https
      protocol: HTTPS
    tls:
      mode: SIMPLE
      serverCertificate: /etc/istio/ingressgateway-certs/tls.crt
      privateKey: /e

[2020-03-12 13:58] danwinship commented on #46625
@jayunit100 hm... that seems like a large project. I'd say you should definitely incorporate the remaining test case here into the plan there, but I wouldn't close this issue until the proposal there is actually implemented and lands. (ie, if that proposal ends up being abandoned, we don't want the remaining test case here to be forgotten about)

[2020-03-12 13:59] Vislor opened #89085 "kubectl patch fails to update node's spec.providerId"
**What happened**:

After moving a Kubernetes cluster across VMWare vCenters one of the nodes in the cluster received a new UUID, so now the vSphere providerId of the node does not match the machine's UUID. In order to resolve this we attempted to use kubectl to patch the node with the new proper providerId; however, after running the kubectl patch command the providerId was not updated.

**What y

[2020-03-12 14:01] Vislor commented on #89085
/sig cli

[2020-03-12 14:30] gavinfish commented on #86024
/remove-lifecycle stale

[2020-03-12 14:37] #89085 closed

[2020-03-12 14:42] neolit123 commented on #89035
if you don't pass a value to the kubelet it will use `cgroupfs`. if your system uses systemd to run the kubelet the recommended cgroup driver is `systemd`, so you have to change the value from it's default.

the .env file is recreated each time kubeadm init/join starts. kubeadm asks `docker info` for it's cgroup driver and passes the value to the kubelet, to make sure the values match.

are you se

[2020-03-12 14:53] kvp-cs opened #89087 "CPUManager feature: processes inside the containers should get the exact list of CPUs allocated"
**With CPU Manager feature enabled, if a POD/Container is launched, there should be a to identify which CPU IDs have been assigned to that container so that processes inside the container can use pthread_setaffinity() calls**:

**pthreads of my app (running inside the container) to be able to call pthread_setaffinity() system call.**:

[2020-03-12 14:53] kvp-cs commented on #89087
To explain with an example,
With CPUManager feature enabled, launch a single-container-POD, my container got CPUIds {4,5,6,7} assigned to it. I found this from "cat /var/lib/kubelet/cpu_manager_state" on the respective node in the cluster. But how can I get this information from inside the container - I want the pthreads of my app (running inside the container) to be able to call pthread_setaffini

[2020-03-12 15:13] #82590 closed

[2020-03-12 15:22] nrmitchi commented on #25908
@Datamance at this point the KEP to address this issue [looks like it's indefinitely on hold](https://github.com/kubernetes/enhancements/issues/753#issuecomment-597372056).

I posted a while back [this comment](https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-447025940), which was my old solution. I'm not trying to push my own stuff here, just that comment has been lost in the "1

[2020-03-12 15:33] tedyu commented on #89087
/sig node

[2020-03-12 16:31] apelisse commented on #89080
Most of the doc is here: https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply, let me know find a gap, I'll also make a pass.

No, we have thought about that and decided that we didn't want to alter the object. We can revisit this decision but I don't think it would change without new compelling arguments. Do you have suggestions?

Also, overall, what is the problem you'r

[2020-03-12 16:33] venkatsc commented on #60987
The issue seems to be result of NodeUnpublishVolume failures from the custom driver. Upon error, K8S does not cleanup the mount directories of the pod.

https://github.com/kubernetes/kubernetes/blob/55bb72b77444f7279fb268652df377422792c9f0/pkg/volume/csi/csi_mounter.go#L368

[2020-03-12 16:39] thockin commented on #72511
@avarf - I am sorry you are having a bad time with it.  I want to help, but I'm not sure which issue you're hitting at this point.

Sadly, there are a lot of different things that COULD be going wrong.  I just ran my own attempt at a repro of this and I failed to repro the reported problem.  It seems that either `ctstate NEW` covers "UNREPLIED" or `ctstate ESTABLISHED` covers it.  Either way, I do

[2020-03-12 17:01] tedyu commented on #60987
[code]
@msau42
What do you think about the above change ?

[2020-03-12 17:13] krancour commented on #25908
@nrmitchi thanks for reposting that. I'm one who had overlooked it in the sea of comments and this looks like a fantastic near-term solution.

[2020-03-12 17:20] ruiyang2015 commented on #25908
We figure out a different approach, if you add following to your Pod containers:

then you will be able to grep the Pid in other containers, we will run following at the end of our main container:
`sql_proxy_pid=$(pgrep cloud_sql_proxy) && kill -INT $sql_proxy_pid`

[2020-03-12 17:22] spiffxp commented on #81491
/close
If you'd like https://k8s-testgrid.appspot.com/sig-autoscaling-hpa#gce-cos-autoscaling-hpa-cpu to be considered as a release-informing or release-blocking test, please discuss with the release team

[2020-03-12 17:22] #81491 closed

[2020-03-12 17:26] kfox1111 commented on #67455
/remove-lifecycle rotten

[2020-03-12 17:36] nrmitchi commented on #25908
@krancour glad it helped. If you look at the network in that repository there are a couple forks which are almost-definitely in a better place than my original one, and might be better to build off of/use.

IIRC the [lemonade-hq fork](https://github.com/lemonade-hq/k8s-controller-sidecars) had some useful additions.

[2020-03-12 17:36] liggitt commented on #88908
An individual API object contains its own apiVersion and kind. That is accessible from an unstructured object via `GroupVersionKind()`.

To determine a group/version/resource from a group/version/kind, you also need discovery information from the server.

[code]

Note that the code above will re-fetch discovery info every time you run it. You can wrap the discovery client in a NewMemCacheClient or

[2020-03-12 17:36] #88908 closed

[2020-03-12 17:41] krancour commented on #25908
@nrmitchi, I've been glancing at the code, but it may be quicker to just ask you...

Can you briefly comment on whatever pre-requisites may exist that aren't mentioned in the README?

For instance, do the images your sidecars are based on require any special awareness of this workaround? e.g. Do they need to listen on a specific port for a signal from the controller? Or perhaps must they include a

[2020-03-12 17:45] lavalamp commented on #89080
We think it's useful. That tells you kubelet wrote those fields (and not e.g. the node controller).

We didn't want to remove it from JSON/YAML output because it might cause problems for workflows that e.g. automatically read/modify/write the object.

I agree it's a little weird. We had started an effort to compress it, but that would have made it look even weirder, and it turned out not to be nee

[2020-03-12 17:48] nrmitchi commented on #25908
@krancour I'll preface my response with a note that this solution was written a couple years ago and my memory may be a bit rusty.

It was designed at the time such that the containers in question did not need to be aware of the work-around. The only requirement of the sidecars is that they properly listen for a SIGTERM signal, and then shut down. I recall having some issues with third-party code

[2020-03-12 17:59] ik9999 commented on #87615
Is it possible to revuild kube-apiserver https://github.com/kubernetes/apiserver/blob/b214a49983bcd70ced138bd2717f78c0cff351b2/pkg/server/secure_serving.go#L50
setting the `s.DisableHTTP2` to `true` by default?
Is there a dockerfile for an official image (`k8s.gcr.io/kube-apiserver:v1.17.3`)?

[2020-03-12 18:07] sbocinec commented on #25908
@ruiyang2015 thanks for this hack.
If anyone implementing it though, be sure to [understand the implications of sharing a process ns between the containers](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/#understanding-process-namespace-sharing)

[2020-03-12 18:13] robscott commented on #88335
Hey @alejandrox1, this test was trying to ensure that kubectl was properly configured for all Kubernetes resources. This is something that's unlikely to break after the initial setup, but is easy to miss when adding a new resource. I missed this initially when adding EndpointSlices, and this test was meant to ensure that no one else would in the future. Adding this test actually resulted in kubect

[2020-03-12 18:26] antoinetran opened #89091 "Add subPath(Expr) under volume for dynamic volume"
Hi all,

When binding a volume, whether it is a hostPath or a volume with Pvc, we can express a subPathExpr under it such as (source https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath):

[code]
but we cannot write subPath under volume itself:
[code]
**What would you like to be added**:
To add subPath or subPathExpr or hostPathExpr under volume.

**Why is this needed**:
I am deployi

[2020-03-12 18:28] smarterclayton opened #89092 "Init container resource usage not properly prioritized in scheduler"
The scheduler does not properly calculate pod requests for a resource as `max(max(initContainers),sum(containers))` - it ignores init containers completely in `ResourceAllocationPriority`.  This would allow a workload to get "free" scheduling above the limit of containers (mitigated by quota, which calculates this properly) and so the scheduler would make non-optimal fits.  Both kubelet and schedu

[2020-03-12 18:28] krancour commented on #25908
@nrmitchi

That is part of why I asked... I guess, specifically, I am wondering if this doesn't work for containers based on images that are built `FROM scratch`.

[2020-03-12 18:28] smarterclayton commented on #89092
/priority important-soon

[2020-03-12 18:35] nrmitchi commented on #25908
@krancour Fair point, I never went and tested it with containers that were off of `scratch`. Looking at the code (or my originaly version; this could have changed in forked) it [looks like](https://github.com/nrmitchi/k8s-controller-sidecars/blob/bf779170cea74f7d19fc0bd93fd4e2dc1a4ab417/handler.go#L38) it's going to be dependent on `bash`, but should be able to be modified.

[2020-03-12 18:36] pikrzysztof commented on #87862
OK, I got it running. It seems that all the  `--reserved-cpus` flag does is telling the static scheduler not to grant exclusive cores from the pool specified by this flag. It won't rearrange any processes that are already running.

This is useful only if you schedule all system daemons on the cores specified by `--reserved-cpus`, for example by providing systemd with CPUAffinity flag.

No need to

[2020-03-12 18:36] #87862 closed

[2020-03-12 19:12] andrewsykim commented on #82065
/reopen

[2020-03-12 19:24] sftim opened #89094 "Migrate API conventions to https://k8s.io/docs/reference/"
**What would you like to be added**:
Migrate the content currently at https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#resources to a new URL inside https://k8s.io/docs/reference/

Store a placeholder README at the old location, to:
- signpost readers there
- ensure existing bookmarks continue to work, at least somewhat
- draw a measure of

[2020-03-12 19:25] sftim commented on #89094
/remove-kind feature
/kind cleanup

[2020-03-12 19:26] sftim commented on #19680
Following https://github.com/kubernetes/kubernetes/issues/19680#issuecomment-237964227 I've logged issue #89094

[2020-03-12 19:59] damemi commented on #87161
All PRs have now merged so I think we can offically close this tracking issue!

Thank you to everyone who contributed to getting this done in 1.18!

/close

[2020-03-12 19:59] #87161 closed

[2020-03-12 20:00] zbialik commented on #62861
Was there a resolution for this? I don't get why this was closed?

[2020-03-12 20:01] zbialik commented on #62861
/reopen

[2020-03-12 20:33] davesargrad commented on #88986
I've now ruled out MetalLB. I've updated the issue, to reflect the fact that I also see this problem when accessing the service via ClusterIP.

[2020-03-12 20:41] tedyu commented on #51798
It seems there is work to be done for this issue.

Can this be reopened ?

[2020-03-12 20:57] logicalhan commented on #36891
/reopen

[2020-03-12 21:05] julianvmodesto commented on #86526
I think we're good here. I'm tracking this PR as a follow-up that will be merged into the master branch for docs since it isn't v1.18-specific: https://github.com/kubernetes/website/pull/19550

/close

[2020-03-12 21:05] #86526 closed

[2020-03-12 21:06] julianvmodesto commented on #68514
Looks like we're done here!

Follow ups are being tracked in these issues:

-  umbrella https://github.com/kubernetes/features/issues/576
- https://github.com/kubernetes/kubernetes/issues/76971
- https://github.com/kubernetes/kubernetes/issues/88740

[2020-03-12 21:06] julianvmodesto commented on #68514
/close

[2020-03-12 21:06] #68514 closed

[2020-03-12 21:07] apelisse commented on #68514
Sweet!

[2020-03-12 21:26] dcantah commented on #87420
The pr (linked above) to use https://github.com/kubernetes/cri-api/ for our test code has been merged. Please let me know of anything on our end we still need to do! @dims @liggitt

[2020-03-12 21:44] krancour commented on #25908
Sure, but as long as it's exec'ing, it's always going to be dependent on some binary that's present in the container and for a scratch container, there's _nothing_ there except whatever you put there explicitly. 🤷‍♂

Given that limitation, I can't use this for a use case where the containers that are running might be totally arbitrary and specified by a third party. Oh-- and then I have Windows co

[2020-03-12 22:01] neolit123 commented on #89091
/sig storage

[2020-03-12 22:48] davesargrad commented on #88986
I've closed [the issue](https://github.com/metallb/metallb/issues/539) I wrote in MetalLB

[2020-03-12 22:58] adamzr commented on #52345
/reopen

[2020-03-12 23:44] liggitt commented on #86318
still happening:
[code]

message logging missed using the correct errors, so the messages aren't helpful:
[code]

[2020-03-12 23:49] dims commented on #87420
Thanks @dcantah when 1.19 opens, i'll propose a PR to move cri-api from staging/

[2020-03-13 00:47] fengzixu commented on #87703
/assign @fengzixu @alculquicondor @haosdent  I think this issue hasn't been handled. So Let me take it.

[2020-03-13 00:47] fengzixu commented on #87703
/assign

[2020-03-13 00:52] fengzixu commented on #87159
@skilxn-go Are you still working on this issue? If you don't mind, I want to handle it.

/cc @alculquicondor

[2020-03-13 00:55] fengzixu commented on #87850
@denkensk Hi. Are you still working on this issue?

[2020-03-13 00:59] fengzixu commented on #89092
Let me follow this issue.

/assign

[2020-03-13 01:04] zhouya0 commented on #89080
Really thanks for your reply! Just I the first time I saw these fields make me think there's a bug in my cluster, I believe there could other users think like me if they didn't know this change.

[2020-03-13 01:19] deshui123 commented on #86773
How to resolve these errors:
[code]
and there is no endpoints
[code]

[2020-03-13 01:22] johnlinp opened #89098 "Deleting a namespace doesn't delete related ClusterRoleBinding"
**What happened**:

After deleting a namespace, the related ClusterRoleBinding didn't get deleted as well.

**What you expected to happen**:

I expected that related ClusterRoleBinding should be deleted after deleting a namespace.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Namespace `foo-ns`.
2. Create a ServiceAccount `foo-account` in `foo-ns`.
3. Create a Clu

[2020-03-13 01:23] johnlinp commented on #89098
/sig auth

[2020-03-13 01:40] zqingqing1 commented on #87232
assign @zqingqing1

[2020-03-13 02:18] skilxn-go commented on #87159
@fengzixu Nope, this feature is finally denied since it's hard to implement extender `filter` in framework.

[2020-03-13 02:19] fengzixu commented on #87159
Sure. Maybe we can close it. @alculquicondor

[2020-03-13 02:38] liggitt commented on #89098
The cluster role binding exists outside the namespace, and its lifecycle is not tied to the namespace. Deletion of a namespace only removes resources contained within the namespace. One possible approach if you want the clusterrolebinding to be automatically deleted along with the namespace is to set an ownerReference on the clusterrolebinding object pointing at the namespace. Then the garbage col

[2020-03-13 02:38] #89098 closed

[2020-03-13 02:41] liggitt commented on #89094
cc @kubernetes/api-reviewers

We just talked about a restructure in sig-arch today.

[2020-03-13 02:44] liggitt commented on #88996
A flaming conformance test needs to be resolved or removed from conformance

[2020-03-13 02:46] liggitt commented on #88938
Closing due to lack of information. If you are able to get the API server log output, that would help understanding why the server is sometimes unavailable

[2020-03-13 02:46] #88938 closed

[2020-03-13 02:47] selvapal opened #89099 "Initcontainer-exit on error"
Container in a Deployment exits on error

apiVersion: v1
kind: Pod
metadata:
  name: init-container
spec:
  containers:
  - name: application-container
    image: alpine
    command: ['sh', '-c', 'if [ -f /work/sharedfile.txt ]; then sleep 99999; else exit; fi']
    volumeMounts:
    - name: workdir-volume
      mountPath: /work
  initContainers:
  - name: init-container
    image: busybox:1.28

[2020-03-13 02:58] MorrisLaw commented on #81804
/remove-lifecycle stale

[2020-03-13 02:58] MorrisLaw commented on #81804
PR is ready to be reviewed: https://github.com/kubernetes/kubernetes/pull/85564

[2020-03-13 03:21] dcantah commented on #87420
@dims Awesome. Keep me updated

[2020-03-13 03:33] Mikedu1988 commented on #60469
we still have similar issue in version 1.13, did you get any solution at all?

[2020-03-13 04:22] lerit opened #89100 "imagePullPolicy not work,always try pull from repository"
without internet
image:xxx:latest
local machine has this image with tag latest.
now:
set  imagePullPolicy:IfNotPresent or Never in rancher
redeploy it

**What happened**:
error message:
[code]
![pullstragy-not-work](https://user-images.githubusercontent.com/4743467/76589297-8d2d3680-6524-11ea-8f31-976c66038e8a.png)

**What you expected to happen**:
redeploy my image without pull from internet repo

[2020-03-13 04:26] #82773 closed

[2020-03-13 06:19] rohitkumr commented on #44665
I am getting this error
sudo cp /etc/kubernetes/admin.conf $HOME/
sudo: error while loading shared libraries: libpam.so.0: cannot open shared object file: No such file or directory

[2020-03-13 06:33] uablrek commented on #89084
This is an `istio` issue, not Kubernetes. Please re-post it to istio.

[2020-03-13 06:37] mritd commented on #87615
same here.(ubuntu 18.04, kubernetes 1.17.3)

[2020-03-13 07:40] chintanrp opened #89101 "Pods not updating after deployment. Kubectl rollout status not showing any status"
I'm applying yaml for pods deployment. And after that applying "kubectl rollout status" to monitor rollout but somehow it's not showing ay status and finishing the deployment script.

Previously it's used to work.
So, because of the above reason, my pods are not getting updated with the latest changes.

[2020-03-13 07:53] chintanrp opened #89102 "Pods not updating after deployment. Kubectl rollout status not showing any status"
I'm applying yaml for pods deployment. And after that applying "kubectl rollout status" to monitor rollout but somehow it's not showing ay status and finishing the deployment script.

Previously it's used to work.
So, because of the above reason, my pods are not getting updated with the latest changes.

**What you expected to happen**: It should show the status of each pod deployment in each nodes

[2020-03-13 07:55] aojea commented on #86773
@deshui123 it will be fixed in next release https://github.com/kubernetes/kubernetes/pull/88934

[2020-03-13 07:57] aojea commented on #86773
/remove priority
The panics are caused because of a misconfiguration of the user, ALL the components have to have the dual-stack feature gate enabled, however, we can do better with the logs, but that's not critical.

[2020-03-13 08:00] aojea commented on #86773
/remove-priority critical-urgent

[2020-03-13 08:13] pytimer commented on #80783
@salmaanrizvi I have the same question, how to do it using HPA?

[2020-03-13 08:16] aojea commented on #86318
@liggitt what's this stack trace in the apiserver? is this related?

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/88893/pull-kubernetes-e2e-gce/1238171676051509250/artifacts/e2e-ccb8822d86-674b9-master/kube-apiserver.log

[code]

[2020-03-13 08:16] andy-wolf168 commented on #88964
I added some debugging information and it appeared again.
The podmanager information has been modified, However, during the pod status change period, “SyncLoop (RECONCILE.” and “SyncLoop (UPDATE,” are not occurred. What else will change this pod status in podmanager ?

 I add the logs：
case <-syncCh:
		// Sync pods waiting for sync
		podsToSync := kl.getPodsToSync()
		if len(podsToSync) == 0 {

[2020-03-13 08:26] aojea opened #89103 "Stack Traces detector for tests"
**What would you like to be added**:

Some instrumentation on tests that reports stack traces.

**Why is this needed**:

Stack traces are meaningful for developers but meaningless for operators, detecting and report them on current testing will allow us to identify the parts of the code that need to handle better the errors and open issues to work on improving the logging of Kubernetes.

[2020-03-13 08:26] aojea commented on #89103
/cc @BenTheElder @liggitt @spiffxp
/sig testing

[2020-03-13 08:42] gavinfish commented on #86843
Hi @savitharaghunathan , can I take the below ones?
[code]

[2020-03-13 08:58] soltysh commented on #89092
@damemi @ingvagabund fyi

[2020-03-13 09:09] onesolpark commented on #89100
`docker.io/rancher/pause:3.1` is a sandbox image which is needed for every pod.

Even if you set imagePullPolicy:IfNotPresent or Never kubelet will try to pull the pause image.

You can change `--pod-infra-container-image` args in kubelet to set it to a repo that you can reach

[2020-03-13 09:31] #83304 closed

[2020-03-13 09:49] smirnov-mi commented on #60987
Got same issue on an new cluster k8s v1.17.2 docker://19.3.6
ceph version 14.2.6 stable;   cephcsi:v1.2.2

[2020-03-13 09:49] maikelvl commented on #82296
I agree. My point is: this behaviour has changed in patch releases:

**kubectl v1.15.4**
[code]

---

**kubectl v1.15.5**
[code]

[2020-03-13 10:01] troeger commented on #60987
@venkatsc Related to your code reference, I would like to mention that we are facing the problem while using Rook / Ceph with flex drivers, not CSI drivers.

[2020-03-13 10:11] hzxuzhonghu commented on #40610
One similar use case from istio: to support locality load balancing, we need to watch all nodes of the cluster to acquire its topology labels such as`[topology.kubernetes.io/region, topology.kubernetes.io/zone]`. We just need these locality info, but we have to get all the nodes, which is a waste of lot of memory. It would be better if k8s provide a way to allow setting these topology info directl

[2020-03-13 10:17] guillaumedossantos commented on #83778
I had the same issue with prometheus (kube 1.16.1). Deploying is fine but when trying to delete, it crashes the api server.

`kubectl delete --ignore-not-found=true -f manifests/ -f manifests/setup`

For those who can't upgrade to 1.17 (fixed version) there is a workaround : using etcd to delete the resources that crash the api server :
- here I grep on coreos because I know it is prometheus that

[2020-03-13 10:18] nmiculinic commented on #88901
Sure.

The server-side application I've investigated in https://github.com/kubermatic/kubecarrier/pull/267

This is the CRD definition: https://github.com/kubermatic/kubecarrier/blob/ef72f0b6b73976c32b4af473f3cb60958080b608/pkg/apis/core/v1alpha1/customresourcediscovery_types.go

my experimentations are in https://github.com/kubermatic/kubecarrier/blob/ef72f0b6b73976c32b4af473f3cb60958080b608/cmd/

[2020-03-13 10:18] nmiculinic commented on #88901
Let me know if there's anything more I can do to help.

[2020-03-13 10:25] jim-barber-he commented on #83561
This caused an outage for us.
We had 6 running webserver pods serving our website and then we performed a deployment.
6 more new pods came up, and the 6 old pods went into a Terminating state, all of which were there for several minutes due to the preStop lifecycle rules.
During this time, the HPA was including the terminating pods in its CPU calculations and decided it would scale down the new we

[2020-03-13 10:25] jim-barber-he commented on #83561
/remove-lifecycle rotten

[2020-03-13 10:27] MarkDana opened #89107 "error: unexpected error when reading response body."
**What happened**:
[code]

**What you expected to happen**:
get the permanent storage successfully.

**How to reproduce it (as minimally and precisely as possible)**:
I'd like to get the permanent storage on server, `storage.yaml` as:
[code]
Then run `kubectl apply -f storage.yaml` or `kubectl create -n <myNameSpace> -f storage.yaml`, while both leading to the error. To login with `kubectl create

[2020-03-13 11:38] towolf commented on #81412
/remove-lifecycle stale

[2020-03-13 12:14] jayaddison opened #89108 "[kubeadm upgrade] Misleading component version warning"
**What happened**:
During a cluster upgrade from `v1.17.2` to `v1.17.4`, the following misleading non-fatal warning was emitted:

`[upgrade/etcd] Non fatal issue encountered during upgrade: the desired etcd version for this Kubernetes version "v1.17.4" is "3.4.3-0", but the current etcd version is "3.4.3". Won't downgrade etcd, instead just continue`

**What you expected to happen**:
Versions `3.4

[2020-03-13 12:26] jayaddison commented on #89108
/sig cluster-lifecycle

(assignment determined from `cluster-lifecycle`'s [charter](https://github.com/kubernetes/community/blob/master/sig-cluster-lifecycle/charter.md#scope) re: owning cluster version upgrades, and also recent history of commits to kubeadm [GetAvailableUpgrades](https://github.com/kubernetes/kubernetes/blob/20e32882773ea6717636cfaf08e19fbcc26c85d4/cmd/kubeadm/app/phases/upgrade/

[2020-03-13 12:52] feiskyer commented on #51798
/reopen

[2020-03-13 13:04] oxddr commented on #89051
It seems that disabling node-killer helped. However our tests should be resilient to restarts introduced by node-killer and in a longer-term it should be enabled. @jprzychodzen could you please have a look at recent red runs and check if node-killer behaved as expected?

[2020-03-13 13:04] oxddr commented on #89051
/remove-priority critical-urgent
/priority important-soon

[2020-03-13 13:08] oxddr commented on #89051
/assign @jprzychodzen

[2020-03-13 13:19] liggitt commented on #83778
Note this is also resolved in 1.15.5 and 1.16.2, upgrading to 1.17.x is not required to resolve this

[2020-03-13 13:30] alculquicondor commented on #87703
You might want to wait for the 2nd part of #88027 to be solved first

[2020-03-13 13:30] f-ld commented on #83561
On our side we have a custom load balancer (that reads metrics from instances targetted by service and send requests accordingly) and we added an option to that load balancer to get cpu of all target instances and compute what it thinks should be the minimum number of instances acceptable and set it as HPA min.

So we keep using HPA, we only have that custom LB instance changing the min to push it

[2020-03-13 13:35] alculquicondor commented on #87159
/close

Yeah, for now better keep Extenders as a separate feature. We might reconsider this in the future.

[2020-03-13 13:35] #87159 closed

[2020-03-13 14:07] rikatz opened #89109 "Migrate ipvs library from docker/libnetwork/ipvs to moby/ipvs"
As suggested by @dims in #sig-network Slack channel, ipvs was extracted out of docker/libnetwork package to its own repo in https://github.com/moby/ipvs and it should be replaced also in the parts of code using ipvs to the new library location.

The idea is to replace the parts using the IPVS library to use github.com/moby/ipvs

This is related to #85005

We should analyze the impact and, if this

[2020-03-13 14:07] rikatz commented on #89109
/sig sig-network
/cc @andrewsykim @dims

[2020-03-13 14:08] rikatz commented on #89109
/assign @andrewsykim @dims @rikatz
/remove-kind feature
/kind cleanup

[2020-03-13 14:13] JensErat commented on #87615
We also observed this in two of our clusters. Not entirely sure about the root cause, but at least we were able to see this happened in cluster with very high watch counts. I was not able to reproduce by forcing high number of watches per kubelet though (started pods with 300 secrets per pod, which also resulted in 300 watches per pod in Prometheus metrics). Also setting very low `http2-max-stream

[2020-03-13 14:15] andrewsykim commented on #85005
/close

Will be resolved by https://github.com/kubernetes/kubernetes/issues/89109

[2020-03-13 14:16] #85005 closed

[2020-03-13 14:30] abhiTamrakar commented on #71719
more vulnerabilities around v1.15.x-v1.16.7.
#### CVE Details below for Severity 5 -
CVE-2018-15686, CVE-2018-1049
CVE-2019-18276
CVE-2019-3846,CVE-2019-5489,CVE-2019-9500,CVE-2019-9503,CVE-2019-10126,CVE-2019-11477,CVE-2019-11478,CVE-2019-11479,CVE-2019-11486,CVE-2019-11599,CVE-2019-11815,CVE-2019-11833,CVE-2019-11884
CVE-2015-8553,CVE-2018-5995,CVE-2018-20836,CVE-2018-20856,CVE-2019-1125,CVE-201

[2020-03-13 14:34] neolit123 commented on #89108
yes, this is a known issue (but non-fatal) issue and we are tracking it here:
https://github.com/kubernetes/kubeadm/issues/2058

thanks
/close

[2020-03-13 14:34] #89108 closed

[2020-03-13 14:35] neolit123 commented on #89101
/triage support

[2020-03-13 14:36] neolit123 commented on #89100
/triage support
/remove-kind bug

[2020-03-13 14:38] neolit123 commented on #89102
/remove-kind bug
/triage support

this version is out of support, please upgrade to 1.16 as the minimum.
re-open this issue if you can reproduce it with the newer version and share the YAML your deployment.

thanks
/close

[2020-03-13 14:38] #89102 closed

[2020-03-13 14:57] tedyu commented on #52172
Can admin reopen this issue (since users still encounter the problem) ?

[2020-03-13 14:58] tanejar opened #89110 "unwanted tar process getting created inside a pod and consuming lot of CPU"
I was trying to copy files from pod to my host machine using 'kubectl cp' command and figured out that when we run the copy command it zips the files using 'tar' utility first and then copy them to host machine. In one of use case I found a bug here, where tar process started but the copy didn't finished.  Here I wrote the below command(syntax mention below) where I just mention the '/' root folde

[2020-03-13 15:08] tedyu commented on #52172
I think containerGC#evictPodLogsDirectories can maintain a cache which tracks the earliest time for the symlink for which Stat(logSymlink) returned NotExist.
Give each candidate symlink some grace period before deleting it.

This can avoid race with the docker log rotation.

[2020-03-13 15:10] lerit commented on #89100
@onesolpark  thank you! resolve by setting --pod-infra-container-image :)

[2020-03-13 15:10] #89100 closed

[2020-03-13 15:17] johnlinp commented on #89098
@liggitt Thank you so much! I'll take a look at ownerReference.

[2020-03-13 15:26] dardanos commented on #73906
I'm running into this issue, and after a few hours reading this issue and others, I can't figure out what's wrong. I'm going to try to give as much information as possible. Any advice is 🏅 at this moment.

**Environment**:
- Kubernetes version: 1.16
- Install tools: kops

**What happened**:
LoadBalancer is `<pending>`.
Cluster events shows:

[code]

**Some bullet points:**

* I only have one secur

[2020-03-13 15:26] #88764 closed

[2020-03-13 15:45] pmorie commented on #12430
I suspect a lot of use cases people have for this are solved by objectmeta generation, and am tempted to close this issue.

[2020-03-13 16:15] abhishekanne commented on #32051
Worked for me:

`kubectl `describe` pod <Podname> -n <namespace> | grep "Controlled By"`

[2020-03-13 16:23] brtknr commented on #83679
I am able to run this repro and get the desired outcome on 1.17.4. However, I am trying to attach Cinder volume whose context doesn't automatically get relabeled as container_file_t.

[2020-03-13 16:31] andrewsykim commented on #72236
I've been steeping on this for the last few months and I have not thought of a good solution yet. This is ultimately a side effect of how IPVS binds to a dummy interface on the host which is not something we can change at this point. I think iptables may have be involved here which is not ideal but better than nothing. Thoughts @lbernail @cmluciano?

[2020-03-13 16:31] BenTheElder commented on #71719
systemd, we don't actually run this

bash, do we use this anywhere ...? and if we do, are we using effective UID != real UID ...?

a kernel vulnerability in a wifi driver... these are container images, so kernel vulnerabilities are pretty irrelevant, no kernel is running from the image.

kernel again.

are any of these relevant to things we actually run?
this is a very long list and the hyperkube

[2020-03-13 16:39] BenTheElder commented on #89103
that sounds like a test-infra issue for #prow

I disagree on the distinction. Even if the operator is "not a developer" they can report these traces to "the developers".

[2020-03-13 16:43] zemmet commented on #40651
+1

[2020-03-13 16:44] prankkelkar commented on #87197
I tried cross compiling `debian-iptables-s390x:v12.0.1` image using steps from [comment](https://github.com/kubernetes/kubernetes/issues/87197#issuecomment-588897102). Observed following error in logs but it did not cause dockerfile build to fail.
[code]
After inspecting Base image for above dockerfile i.e `k8s.gcr.io/debian-base-s390x:v2.0.0` found following outputs on mentioned architectures.
**

[2020-03-13 16:50] nrmitchi commented on #25908
@krancour Totally true. As is, the controller will not work for arbitrary use-bases. Honestly I never went back and attempted to abstract some of the implementation to support other cases because I really thought that the previously mentioned KEP would have been merged and made the need for this functionality moot.

[2020-03-13 16:51] AshutoshNirkhe commented on #71719
After adding debian stretch security updates repos and upgrading below packages resolves all of the vulnerabilites except for bash 4.4-5 (https://security-tracker.debian.org/tracker/CVE-2019-18276). However, binaries running with an effective UID of 0 are unaffected, as per the link which is the case for control plane components -

**cat /etc/apt/sources.list**
deb http://deb.debian.org/debian str

[2020-03-13 16:51] prankkelkar commented on #87197
This can be the culprit. I tried cross compiling with debian:stretch as base image and adding `echo deb http://deb.debian.org/debian stretch-backports main >> /etc/apt/sources.list;` the `debian-iptables-s390x:v12.0.1` image got built without any errors in the log.

[2020-03-13 17:15] msau42 commented on #84878
/remove-lifecycle stale

[2020-03-13 17:16] andrewsykim commented on #79783
As far as I can tell, adding a flag to disable binding LB IPs is the only option without breaking compatibility for users. @lbernail @cmluciano thoughts?

[2020-03-13 17:19] Sh4d1 commented on #79783
@andrewsykim what about https://github.com/kubernetes/enhancements/pull/1392 ? :thinking:

[2020-03-13 17:23] andrewsykim commented on #79783
If we're making changes at the API level that would work too :)

[2020-03-13 17:25] raunakkumar opened #89112 "Stale mounts are left if pod is deleted before nodePublish is completed"
When a pod is deleted before nodePublish is done, but after nodeStage is done, it will not be unmounted by kubelet. This causes stale mounts on host to be left around.

[2020-03-13 17:26] raunakkumar commented on #89112
/sig storage

[2020-03-13 17:27] BenTheElder commented on #87197
what happens if you use `debian-buster` (non-slim)?
perhaps on certain architecture we may not be able to use the slim images which are technically "experimental" upstream

[2020-03-13 17:27] raunakkumar commented on #89112
/kind bug

[2020-03-13 17:29] msau42 commented on #89112
@kubernetes/sig-storage-bugs
@gnufied does the uncertain mount fixes help with this?

[2020-03-13 17:35] prankkelkar commented on #87197
I am still getting above error
[code]

I am trying to cross compile using following commands: (Is it the correct way?)
`cd kubernetes/build/debian-base && make build ARCH=s390x`

[2020-03-13 17:47] tedyu commented on #88964
Can you show more log for 054aa506-86a9-4577-af7c-2b2c16af784a from kubelet ?

Knowing more context would help understand the situation.

[2020-03-13 18:03] jayaddison commented on #89108
Great to hear this is already known & tracked, thanks @neolit123 !

[2020-03-13 18:36] mikedanese opened #89114 "Verify behavior of exec auth plugin when credentials expire"
So I don't forget.

kubernetes/client-go#155
windmilleng/tilt#2702

* Check how many authenticators are created.
* Maybe look at interactive login.

[2020-03-13 18:43] enj commented on #89114
Perhaps related to #87369?

[2020-03-13 18:53] suvl commented on #87491
@humblec as I said on the first comment, it also happens on deployments. Have no clue about stateful sets.

[2020-03-13 19:14] tedyu commented on #89112
Would #89090 help in this case ?

[2020-03-13 19:17] tedyu commented on #89101
Which release are you using now ?
[code]
Which release did this work ?

thanks

[2020-03-13 19:18] markyjackson-taulia commented on #88933
@SataQiu I want to see where this is at. Do you think this is still going to make v1.18?

[2020-03-13 19:35] dboc commented on #77086
THIS SOLUTION is the best! GREAT, thanks.
I just use the command to find all resources installed, then edit all resources related to Rancher to  have none 'finalizers'. After that you could edit rancher´s namespaces to have none 'finalizers', then delete all.

```kubectl api-resources --verbs=list --namespaced -o name | while read line; do echo $line; kubectl get -A $line --ignore-not-found -o nam

[2020-03-13 19:36] chintanrp commented on #89101
Previous and current are both 1.12.8

[2020-03-13 19:39] alculquicondor commented on #88919
I haven't checked this yet, but it sounds like we would need quite some work. I'll leave it for 1.19.

[2020-03-13 20:03] raunakkumar commented on #89112
Probably not because we didn't get a nodePublish, we were stuck after nodeStage, so there would not be any nodeUnpublish

[2020-03-13 20:24] ltagliamonte-dd commented on #39113
[code]

I'm working on what it look like a related issue with kube2iam.
Kube2iam is a tool that intercept requests to the AWS metadata api, uses the podIP to retrieve pod info in his events cache, and based on a pod annotation return the right credentials to to pod.

Looking at the metrics I've noticed that sometimes there were miss in the events cache, for solving this cases I've decided to query

[2020-03-13 21:18] rbtcollins commented on #39113
This is consistent with the previous analysis here, but this ticket isn't open, unless you can get the filer or a collaborator to reopen it, you may be better of opening a new ticket and pointing at this one from that.

[2020-03-13 21:24] ltagliamonte-dd commented on #39113
thank you @rbtcollins i was hoping on re-opening this so that everybody involved gets notified.
@thockin maybe can you re-open?

[2020-03-13 21:43] #71714 closed

[2020-03-13 22:20] tedyu commented on #89112
Looks like we should do this:
[code]
@msau42 @gnufied
If you agree, I can roll the above into #89090.

[2020-03-13 22:28] #88779 closed

[2020-03-13 22:36] lavalamp commented on #12430
Serverside apply beta 2 has landed (in v1.18), it's on universally. Every change includes a timestamp in metadata now. I think this is fixed either way :)

[2020-03-13 22:48] lavalamp commented on #54579
Serverside apply doesn't use an annotation and wouldn't hit this limit.

[2020-03-13 23:04] tallclair commented on #71719
FYI, we're discussing removing hyperkube altogether: https://github.com/kubernetes/kubernetes/pull/88676

[2020-03-13 23:04] chintanrp commented on #89102
upgraded to 1.16.4 but issue still remains

[2020-03-13 23:33] DirectXMan12 commented on #82292
The biggest

Generally, even with long descriptions, you don't start to hit the limit till you include other types, from what I've seen.  Mainly, most folks haven't hit limits till they've involved core types *and* flattening (which increases duplication since re-used types aren't deduped, even inside the same CRD).

[2020-03-14 02:48] #83917 closed

[2020-03-14 05:36] AshutoshNirkhe commented on #71719
Ok that will change a lot of things for us. Thanks for the info, will keep watch there.

[2020-03-14 06:29] tdihp commented on #82494
We had a similar issue as @lorenz described. Where after a networking hiccup, kubernetes 1.17.0 kubelet wasn't able to update pod to "Ready", despite able to post heartbeats.

We also utilized tcpdump and confirmed affected pods has successful liveness/readiness probes, but just not able to report back to apiserver.

[2020-03-14 07:30] barney-s commented on #54525
should we be explicit in setting the deletion timestamp ?

[2020-03-14 07:58] danil-smirnov commented on #16707
/remove-lifecycle stale

[2020-03-14 08:54] #83767 closed

[2020-03-14 10:02] etcshad0vv commented on #72878
@xueweiz indeed the issue is solved, thank you so much for working on the kernel patching. :)

[2020-03-14 10:50] aojea commented on #86318
again 👀
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/85564/pull-kubernetes-e2e-gce/1238630773502775296

[code]

it seems is not really waiting because it fails just 200 ms after the INFO msg

[2020-03-14 11:21] aojea commented on #86318
It turns out that the method used to wait for the controller manager pod fails if the pod doesn't exist

https://github.com/kubernetes/kubernetes/blob/b290e0b7ab292bd5694e2a95e234ac2d43d3a5c0/test/e2e/framework/pod/resource.go#L148-L153

[2020-03-14 12:31] liggitt commented on #86318
Ah, so first we should wait for the pod to exist, then be ready, then return metrics

[2020-03-14 12:58] #76766 closed

[2020-03-14 13:06] #78582 closed

[2020-03-14 13:06] namratachaudhary commented on #78582
closing due to inactivity

[2020-03-14 15:27] lorenz commented on #82494
@tdihp The probes don't matter for this issue. There's a state synchronization problem between kubelet and the control plane.

[2020-03-14 16:08] ernoaapa commented on #65785
Face the same issue when tested out https://github.com/jetstack/kube-oidc-proxy and l believe that @EronWright suggestion would fix the slow start.

[2020-03-14 16:32] tedyu commented on #82494
[code]
In this case we should also log the contents of ips, along with the error.
[code]
@AWKIF
I searched in the log you mentioned in https://github.com/kubernetes/kubernetes/issues/82494#issuecomment-536940479
I don't see the container in the log.

But there were other containers mentioned with 'No ref for container'. I tried to follow two of them but there was not much information from the log.

[2020-03-14 16:34] tedyu commented on #82494
@lorenz @AWKIF
Next time you encounter such issue, please collect control plane logs along with kubelet log.

Thanks

[2020-03-14 16:44] tedyu commented on #82494
BTW #83455 has been superseded by #88255

[2020-03-14 18:02] #83781 closed

[2020-03-14 18:09] holizon9 commented on #85776
★kubeadmを用いたクラスタセットアップ
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
・master node をinit
kubeadm init ができない時→
kubeadm reset
kubeadm initでできる
・init後支持されたコマンドを実行。worker nodeがクラスタにjoinされたことを確認(status :Notreadyの場合はCNIをインストールしているか確認)
・CNIをインストール

手順の詳細は以下
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#before-you-begi

[2020-03-14 18:34] w1593950 opened #89125 "`kubectl rollout history` command not showing `kubectl apply` history"
**What happened**:

`kubectl rollout history` command not showing `kubectl apply` history

[code]

**What you expected to happen**:

`kubectl rollout history` command should show `kubectl apply` history along with `kubectl create` commands.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `ku

[2020-03-14 20:20] neolit123 commented on #89125
/sig cli

[2020-03-14 20:59] droslean commented on #88335
the job is green now.  Closing...
/close

[2020-03-14 20:59] #88335 closed

[2020-03-14 21:01] droslean commented on #88659
@marosset #88913 is resolved but the jobs are still red. Can you check?

[2020-03-14 21:02] droslean commented on #88802
@listx Can you check?

[2020-03-14 21:03] droslean commented on #88802
/retitle [Failing Test] ci-k8sio-backup (ci-k8sio-backup)
/remove-kind flake
/kind failing-test

[2020-03-14 21:21] b0nete opened #89126 "IPVS dont work in EKS 1.14"
**What happened**:
IPVS dont work in EKS 1.14

**What you expected to happen**:
I've deployed kube-proxy with --proxy-mode=ipvs flag, but kube-proxy keeps running with iptables.

Here the snippet of kube-proxy daemonset yaml, i use kube-proxy:v1.12.6 image

      - command:
        - /bin/sh
        - -c
        - kube-proxy --v=2 --config=/var/lib/kube-proxy-config/config --proxy-mode=ipvs

Here

[2020-03-14 21:32] b0nete commented on #89126
/sig network

[2020-03-14 22:35] dims commented on #89126
please contact AWS/EKS support

/close

[2020-03-14 22:35] #89126 closed

[2020-03-14 23:09] theAkito opened #89127 "Kubernetes thinks that a file is not a file"
**What happened**:

[code]
but
[code]
and using `cat` onto the file works flawlessly, displaying the contents.

**What you expected to happen**:
I expected Kubernetes to mount a file and use a file instead of complaining, that a file is not really a file.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a File on the host.
2. Provide the volume that contains the file as

[2020-03-14 23:14] tedyu commented on #82494
Here were the first and last :
[code]
That was almost 18 hours.
@AWKIF
Was the outage that long ?

Thanks

[2020-03-15 00:08] #82312 closed

[2020-03-15 01:37] matanshukry commented on #65066
/reopen

[2020-03-15 01:37] matanshukry opened #89129 "[Feature] [kubectl] create or replace configmap"
**What would you like to be added**:
Create or replace if exist, for a configmap.
To preserve backward compatibility, a new flag can be added (with default being same behavior as now)

**Why is this needed**:
Seems basic, but I need it so I can use it in a script.
Currently my script uses replace, but every time when I change cluster (for example a new local cluster), I need to create the config m

[2020-03-15 03:09] oke-py opened #89130 "Create Security Bulletins page"
**What would you like to be added**:
I'd like the team to publish a security bulletin when a vulnerability is found.
I need information such as below.
- CVSS v3 score or Severity <= This is what I want most.
- Affected versions
- Patched versions
- CVE identifier
- (how to detect)
- (how to mitigate)

ref:
- [Istio Security Bulletins](https://istio.io/news/security/)
- [Envoy Security Advisory](ht

[2020-03-15 10:06] pdhung commented on #83679
In 1.16.8, the secrets and configmaps are correctly labelled as container_file_t.
However the in-tree RBD is still unlabeled_t.

[2020-03-15 10:38] lwx294821 opened #89132 "Failed to update statusUpdateNeeded field in actual state of world: Failed to set statusUpdateNeeded to needed true, because nodeName=""
when  installed k8s v1.16.7,I checked pods and the result is as follow:
 **kubectl logs kube-controller-manager-node1 -n kube-system**
 I0315 09:28:28.488397       1 shared_informer.go:197] Waiting for caches to sync for garbage collector
I0315 09:28:28.570006       1 shared_informer.go:204] Caches are synced for certificate
W0315 09:28:28.572658       **1 actual_state_of_world.go:506] Failed to u

[2020-03-15 12:56] xmath279 commented on #88698
@cmluciano The LB service is setup with `externalTrafficPolicy: Local`, so it should preserve the source IP if I understand correctly.

@andrewsykim The IPs in the `loadBalancerSourceRanges` directive are all external and not related to the cluster in any way.

[2020-03-15 14:56] tedyu commented on #89132
Did all the nodes from your cluster encounter the error of actual_state_of_world.go line 506 ?

If not, can you observe difference between the nodes ?

For node1, did it recover sometime later ?
Examining / attaching kubelet log from node1 may also provide more clue.

[2020-03-15 16:35] neolit123 commented on #89127
/sig storage

[2020-03-15 16:36] neolit123 commented on #89132
/triage needs-information
also please properly fill the issue template:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

[2020-03-15 16:37] neolit123 commented on #89099
please try the support channels, where you can get a faster response:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-03-15 16:37] #89099 closed

[2020-03-15 17:03] boddumanohar commented on #69896
Since this ticket is completed now. Can this todo be removed?

https://github.com/kubernetes/kubernetes/blob/84dc7046797aad80f258b6740a98e79199c8bb4d/build/debian-hyperkube-base/Dockerfile#L17

[2020-03-15 17:14] dims commented on #69896
@boddumanohar we are removing the whole thing :) https://github.com/kubernetes/kubernetes/pull/88676

[2020-03-15 17:16] droslean opened #89134 "[Failing Test] aks-engine-azure-1-18-windows (ci-kubernetes-e2e-aks-engine-azure-1-18-windows )"
**Which jobs are failing**:
`aks-engine-azure-1-18-windows (ci-kubernetes-e2e-aks-engine-azure-1-18-windows )`

**Which test(s) are failing**:
`[sig-windows] [Feature:Windows] Cpu Resources Container limits should not be exceeded after waiting 2 minutes`

**Since when has it been failing**:
`14th March 14:14 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.18-informing#aks-engine-azu

[2020-03-15 17:20] droslean commented on #88913
/reopen

Is this resolved? The jobs still failing because of this. ref https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2019-master

@adelina-t Can you check?

[2020-03-15 17:20] droslean commented on #88974
/cc @adelina-t

[2020-03-15 17:23] adelina-t commented on #88913
@droslean The issue is fixed, you can look here: https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master-staging . I don't know what's happening with gce tests, but all other windows tests ( based on aks ) are working.

PS: Maybe I should add aks job to master release informing as well :)

[2020-03-15 17:42] adelina-t commented on #88913
Since this affected the Kubelet starting, I think we can safely close this issue based on just aks test results.

[2020-03-15 18:00] droslean commented on #88913
Thanks, @adelina-t
/close

[2020-03-15 18:00] #88913 closed

[2020-03-15 18:07] marosset commented on #88913
Thanks @adelina-t!

[2020-03-15 19:27] #83145 closed

[2020-03-15 19:27] #82746 closed

[2020-03-15 19:27] #83954 closed

[2020-03-15 19:27] #83991 closed

[2020-03-15 20:07] raravena80 commented on #68981
/remove-lifecycle stale

[2020-03-15 20:28] #81799 closed

[2020-03-15 21:22] BenTheElder commented on #71305
did we wind up backporting this at all?

[2020-03-15 21:37] tedyu commented on #82531
For go version go1.13.6 linux/amd64
[code]
Here is the OS:
[code]

[2020-03-15 22:30] #84000 closed

[2020-03-15 23:56] dims commented on #82905
@Liujingfang1 can we please pick this back up again?

[2020-03-16 00:06] dims commented on #68091
/close

[2020-03-16 00:06] #68091 closed

[2020-03-16 00:09] george-angel commented on #75457
/remove-lifecycle stale

[2020-03-16 00:32] #84013 closed

[2020-03-16 00:38] BobyMCbobs opened #89135 "Add ServiceStatus resource lifecycle test - +2 endpoint coverage"
# Identifying an untested feature Using APISnoop

According to this APIsnoop query, there are still some remaining Service endpoints which are untested.

[code]

# API Reference and feature documentation

-   [Kubernetes API Reference Docs](https://kubernetes.io/docs/reference/kubernetes-api/)
-   [client-go - Service](https://github.com/kubernetes/client-go/blob/master/kubernetes/typed/core/v1/Se

[2020-03-16 00:38] BobyMCbobs commented on #89135
currently, this test is having issues writing to the ServiceStatus

[2020-03-16 00:44] giovannirco commented on #82883
Did this get merged? I have always suffered from this slowness and just decided to search for it on google. Not sure if this is the same problem though, my kubectl takes like 5 seconds to just get pods on a NS that have under 10 pods. I tend to think that the autocomplete slowness is just kubectl working then started to think in a way to cache kubectl responses for like 5 minutes or something else

[2020-03-16 01:13] feiskyer opened #89137 "Azure cloud provider Instances interfaces don't work expected on Windows containers"
**What happened**:

Azure cloud provider Instances interfaces don't work expected on Windows containers. This is because Windows containers don't support HostNetwork mode, while Azure cloud provider depends on "os.Hostname()" to check whether the VMName from IMDS is same with NodeName:

https://github.com/kubernetes/kubernetes/blob/84dc7046797aad80f258b6740a98e79199c8bb4d/staging/src/k8s.io/legacy

[2020-03-16 01:53] ozbillwang commented on #72220
@ashishranjan738

Any updates?

[2020-03-16 01:59] liggitt commented on #89129
`kubectl apply` does this create-or-update behavior

[2020-03-16 01:59] #89129 closed

[2020-03-16 02:02] Eric-918 commented on #52757
@samedguener Any problem about this solution，let me know，always be helpful？

[2020-03-16 02:45] superbrothers opened #89140 "Strategic Merge Patch has different results in two ways of deleting a map"
**What happened**:
[The document of Strategic Merge Patch](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md#maps) says `$patch: delete` and `null` are equivalent ways to delete a map as follows:

However, I got different results in each way. Is this a bug of strategic marge patch, or mistake in that document?

**What you expected to

[2020-03-16 02:46] superbrothers commented on #89140
/sig api-machinery

[2020-03-16 02:58] ogre0403 opened #89141 "ipvs proxier didn't delete ipvs rule on host when svc is deleted before pod"
**What happened**:

We use kube-proxy in IPVS mode, and upgrade from v1.12.5 to v1.13.10 last month.

In v1.12.5 ~ 1.12.7, we note that ipvs rule will be removed if svc is deleted  whenever svc is deleted before or after pod deleting.

However, after upgrading to v.13.10, ipvs rule is NOT removed when svc is deleted FIRST then delete pod. And we also notice that v1.12.8 has the same behavior.

**W

[2020-03-16 03:01] ogre0403 commented on #89141
/sig network
/area kube-proxy
/area ipvs

[2020-03-16 04:10] zedtux commented on #68981
/remove-lifecycle stale

[2020-03-16 04:36] #83984 closed

[2020-03-16 04:36] #83285 closed

[2020-03-16 05:08] SataQiu commented on #89141
Thanks for reporting this @ogre0403 !
v1.13 has exceeded the maintenance scope, maybe you can try a newer version.
I have tested v1.17.3, the problem can not be reproduced, everything looks fine.
I'll test v1.13.10 ASAP.

[2020-03-16 05:30] SataQiu commented on #89141
/cc @aojea
I can't reproduce the problem.
[code]

[2020-03-16 05:45] tanjunchen commented on #89107
see https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/request.go#L976

I guess  that you should get correct response as you ping 'https://th.is.is.ip:add' first.

[2020-03-16 05:57] alena1108 commented on #83482
Having the document on how to create a HintProvider, would definitely be useful. As it's the biggest pluggable part of the framework, and people would want to define their own eventually.

[2020-03-16 06:00] #89000 closed

[2020-03-16 06:57] Sarang-Sangram commented on #80452
I am facing the same issue. After changing the hugepage setting to `default_hugepagesz=1G hugepagesz=1G hugepages=32 hugepagesz=2M hugepages=0` . I stopped the kubelet process on the worker node and removed the node from the cluster using command `kubectl delete node node4` and rebooted it.
But after it comes back online and kubelet starts, it struggles to join the cluster .
[code]

Do I have to r

[2020-03-16 07:25] cabrinoob commented on #17088
Using Istio allows you this kind of things (among others). You can create a "selector-less" service in your Ingress namespace and point your ingress on it. Then, you create a VirtualService that can point to another namespace service.

[2020-03-16 07:41] Reamer commented on #71887
Seems to be fixed on CentOS
k8s: Openshift 3.11
docker: docker-common-1.13.1-109.gitcccb291.el7.centos.x86_64
os: CentOS 7.7
kernel: 3.10.0-1062.12.1.el7.x86_64
Cgroup Driver: systemd

[2020-03-16 07:58] tanejar commented on #89110
@sig c

[2020-03-16 07:59] tanejar commented on #89110
mistakenly got closed. This issue still exists.

[2020-03-16 08:10] MelissaOS opened #89143 "Pods stuck in ContainerCreating state after network outage"
After a short network outage that occurred 3 days ago, some Pods are stuck in "ContainerCreating" or "Init" state and will probably never come up again without manual intervention. This network outage was outside of PKS/NSX-T, more related to generic connectivity.

 The context is an outage on the customer side network, in particular DNS affected but NSX-T kept working theoretically fine during th

[2020-03-16 08:11] TLINDEN opened #89144 "How to mitigate a misconfigured kubernetes DNS system?"
**What happened**: A misconfigured kubernetes cluster saturates an external nameserver with queries for internal names. Here's a short trace:

` ` `
06:38:30.382721 IP kubernetes.59003 > nameserver.53: 38187+ AAAA? notifications. (31)
06:38:30.383329 IP nameserver.53 > kubernetes.59003: 38187 NXDomain 0/1/0 (106)
06:38:30.862978 IP kubernetes.47153 > nameserver.53: 26240+ AAAA? alerts-gremien.f-i-

[2020-03-16 08:15] ogre0403 commented on #89141
@SataQiu thanks for reminding me try newer version.

This should be a bug and is already fixed in PR #80942

[2020-03-16 08:23] adelina-t commented on #89134
/assign @adelina-t

[2020-03-16 08:30] #89141 closed

[2020-03-16 08:56] jsafrane commented on #89112
@raunakkumar, what Kubernetes version do you use? Was it filesystem or block volume? And can you please re-check with current master?

[2020-03-16 09:00] niklasember commented on #71887
Same here, can't find any log entries about it anymore.

k8s: v1.16.2
docker: 18.06.1-ce
os: Centos 7.7.1908
kernel: 3.10.0-1062.4.1.el7.x86_64
cgroup driver: systemd

[2020-03-16 09:08] TLINDEN commented on #89144
/sig architecture

[2020-03-16 10:01] vdemeester commented on #86245
/remove-lifecycle stal

[2020-03-16 10:01] vdemeester commented on #86245
/remove-lifecycle stale

[2020-03-16 10:04] #89107 closed

[2020-03-16 10:08] MarkDana commented on #89107
yes it's exactly network problem. thank you @tanjunchen

[2020-03-16 10:21] prankkelkar commented on #87197
@BenTheElder I debugged further on the base images used. Looks like current version of `qemu-user-static` does not work with `debian:buster` base image while cross compiling for s390x. I was able to cross compile kube proxy image and verify it successfully by upgrading `qemu-user-static` to latest stable version i.e `v4.2.0-6`.  It would be nice if we can upgrade [QEMUVERSION](https://github.com/k

[2020-03-16 10:26] prankkelkar commented on #87197
If anyone could locate Dockerfile or Makefile targets to build specific images for kube-proxy it would be helpful. For testing purpose i have been using one mentioned in comments above.
[code]

[2020-03-16 10:46] jethrogb commented on #62788
/remove-lifecycle stale

[2020-03-16 10:57] lsowen commented on #86441
I am running into the same issue, however my cluster currently only has 4 nodes with two ports exposed (80, 443)

[2020-03-16 11:00] 0xlen commented on #77557
Refer to https://github.com/kubernetes/kubernetes/pull/74692

[2020-03-16 11:26] Aamir-raza-1 opened #89148 "Build cmd/kubectl-ns.go getting undefined errors.Is in api machinery module"
**What happened**:
../k8s.io/apimachinery@v0.0.0-20200307122051-2b7fa1cb5395/pkg/util/errors/errors.go:99:10: undefined: errors.Is

**What you expected to happen**:
Executable in configured bin  folder

**How to reproduce it (as minimally and precisely as possible)**:
git clone git@github.com:kubernetes/sample-cli-plugin.git
cd sample-cli-plugin
GO111MODULE="on" go build cmd/kubectl-ns.go

**Anyth

[2020-03-16 11:28] Aamir-raza-1 commented on #89148
/sig  cmd

[2020-03-16 11:31] Aamir-raza-1 commented on #89148
/sig cli

[2020-03-16 11:32] Aamir-raza-1 commented on #89148
/sig api-machinery

[2020-03-16 11:59] saibaldey commented on #73906
@dardanos Can you please recreate the K8s cluster once again? But before that make sure you have cleaned up everything (all SGs, Nodes, ELBs etc ) related to the K8s cluster.
The possible reasons could be some failure attempt might have created those dangling SGs.

[2020-03-16 12:12] Novex commented on #81001
/remove-lifecycle rotten

Is it intentional that /dev/shm persists across container restarts? Would it be detrimental to clear it to ensure a 'cleaner' slate?

[2020-03-16 12:19] justaugustus commented on #88974
/assign @PatrickLang @pjh

[2020-03-16 12:21] matanshukry commented on #89129
@liggitt you're right, while the syntax I used is not as straightforward to me (and probably other users), it now allow to use apply and it works. For people who're looking for this

[code]

[2020-03-16 12:37] mrhockeymonkey commented on #50375
+1

[2020-03-16 13:26] kingdonb commented on #60134
I can confirm it's in the package repo now, I did not expect to find this issue solved just after its second birthday, 🔔 ring the bell

[code]

This can be closed

[2020-03-16 13:59] tavin commented on #86352
/remove-lifecycle stale

[2020-03-16 14:27] droslean commented on #88408
@justaugustus Do we need to remove the job from `master-informing` dashboard?

[2020-03-16 14:36] droslean opened #89150 "[Flaky Test] integration-master (ci-kubernetes-integration-master)"
**Which jobs are flaking**:
`integration-master (ci-kubernetes-integration-master)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#integration-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.18
/sig testing

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integra

[2020-03-16 14:38] HtcOrange commented on #86683
How did you solve the azure problem? It seems that I have the same problem. Looking forward to your reply!

[2020-03-16 14:42] droslean commented on #86355
@soltysh Can you take a look?

[2020-03-16 14:51] AnandKatta commented on #79365
same issue:the HPA was unable to compute the replica count: missing request for cpu. single container in a pod..

[2020-03-16 14:52] justaugustus commented on #88408
@droslean -- No. I'll work on fixing the job later today.

[2020-03-16 15:00] raunakkumar commented on #89112
We are using kubernetes 1.17 and the issue is with filesystem backed volume.
Any specific fix which went into master?

[2020-03-16 15:47] lavalamp commented on #54525
Use `jq` and `-o json` for stuff like this.

There's a "podgc" controller which deletes old pods, is it not triggering for evicted pods? How many do you accumulate? Why is it problematic?

I am not sure what the contract between kubelet / scheduler / controller is for evictions. Which entity is supposed to delete the pod? I assume they are not deleted by kubelet to give signal to scheduler/control

[2020-03-16 15:57] justaugustus commented on #84204
Intermittent infra error
/close

[2020-03-16 15:57] #84204 closed

[2020-03-16 16:24] tedyu commented on #89143
Can you attach control plane logs and kubelet log for analysis ?

Thanks

[2020-03-16 16:35] marosset commented on #88659
@yliaog can you take a look at the Windows GCE tests pass failures?
The AKS test passes started looking healthy again after #88917 merged.

[2020-03-16 16:37] marosset commented on #88913
@yliaog can you take a look at the Windows GCE test passes?

It looks like they are still unhealthy and there are a few issues being tracked by the release team
#88974 and #88659

[2020-03-16 16:42] thockin commented on #87976
First: trace.go is part of Calico, not kube-proxy.

On this outlier cluster - what is different?  Are you using network policies there and not on other clusters?

I can't say what is happening with the ipv6 link - are you using IPv6 in your cluster?  The interface in question is a Calico link, so maybe Calico does something odd here?  @caseydavenport

In order to understand why one of clusters has

[2020-03-16 16:46] yliaog commented on #88659
it should be due to the https://github.com/kubernetes-sigs/windows-testing/pull/142, i tried one internal test job with https://github.com/kubernetes-sigs/windows-testing/pull/145, and the job completed successfully. will follow up to fix this.

[2020-03-16 16:50] yliaog commented on #88913
https://github.com/kubernetes-sigs/windows-testing/pull/145#issuecomment-599642648

[2020-03-16 17:11] howardjohn opened #89153 "Projected volume mounts do not respect defaultMode"
**What happened**: I used a projected volume mount with `defaultMode: 0777`, and the mode was not changed.

**What you expected to happen**: The goal of this was to allow a container that has `runAsGroup` set to be able to read this.

**How to reproduce it (as minimally and precisely as possible)**:

Apply pod:
[code]

Exec onto the pod:

[code]

As you can see the token is mounted with `0400`, th

[2020-03-16 17:19] alculquicondor commented on #87617
Done 😃

/close

[2020-03-16 17:19] #87617 closed

[2020-03-16 17:28] jingyih opened #89154 "Update to etcd 3.4.4 in Kubernetes 1.19 release"
Update to etcd 3.4.4 in the release cycle of 1.19.

- Update etcd client (similar to #83987)
- Update default etcd server (similar to #84329)

Pick up few critical bug fixes in etcd. See https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.4.md#v344-2020-02-24

/sig api-machinery
/kind feature

[2020-03-16 17:29] jingyih commented on #89154
/cc @dims

[2020-03-16 17:29] jingyih commented on #89154
/assign

[2020-03-16 17:31] jingyih commented on #89154
/remove-kind bug

[2020-03-16 17:34] madari commented on #67761
This appears to be happening again regularly (0.5% of the time in a namespace with a pod churn of ~5 pods/s): `"Operation cannot be fulfilled on resourcequotas "gke-resource-quotas": the object has been modified; please apply your changes to the latest version and try again"`.

What's not clear to me is whether this is WAI or not?

[2020-03-16 17:39] EronWright commented on #88816
@apelisse maybe there's a misunderstanding.   Imagine that I have a controller which manages a resource of type `Foo`, and implements it using a resource of type `Deployment`.   The controller has a watch established for `Foo` and for `Deployment`.  Whenever the reconciliation loop runs, the controller patches the deployment using SSA to enforce a certain spec (based on information from `Foo`).

[2020-03-16 17:43] alejandrox1 commented on #88974
Possible detail that may matter here...
`ci-kubernetes-e2e-windows-gce-2019` has the following test args
[code]
xef: https://prow.k8s.io/prowjob?prowjob=630820e0-6791-11ea-8023-9a87cb763276 prow config for windows job

A conventional job uses `--test_args` instead of `--test-cmd-args`:
[code]
xref: https://prow.k8s.io/prowjob?prowjob=2c31bd07-67a1-11ea-8023-9a87cb763276 prow config for  ci-kuberne

[2020-03-16 17:47] aojea commented on #86318
This start to look promising
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=Error%20getting%20c-m%20metrics&job=pull-kubernetes-e2e-gce%24&test=sig-storage

[2020-03-16 17:52] xueweiz commented on #72878
Great :) thanks for confirming @etcshad0vv

For posterity, here are all the patched Linux stable kernel version that contains the fix: [v4.14.159](https://kernel.googlesource.com/pub/scm/linux/kernel/git/stable/linux-stable/+/c294780a80b0f), [4.19.89](https://kernel.googlesource.com/pub/scm/linux/kernel/git/stable/linux-stable/+/742f2319cbd61). The patch is also included on HEAD from [v5.4](https:

[2020-03-16 17:52] #72878 closed

[2020-03-16 17:53] liggitt commented on #86318
yes, looks good. thanks for all the work

/close

[2020-03-16 17:53] #86318 closed

[2020-03-16 18:06] yliaog commented on #88974
https://github.com/kubernetes-sigs/windows-testing/pull/146

[2020-03-16 18:51] dashpole commented on #68522
Since progress on this has slipped multiple releases, I removed references to specific versions in which some steps are happening.  Once we have a plan to move forward, we can update those with the up-to-date plan.

[2020-03-16 18:52] technosophos opened #89156 "apimachinery: RFC3339Micro format seems to be incorrect"
**What happened**:
The Go time.RFC3339Nano format is 2006-01-02T15:04:05.999999999Z07:00, while the meta/v1 apimachinery package has the RFC3339Micro format set to 2006-01-02T15:04:05.000000Z07:00 (Note the zeros instead of nines).

https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/micro_time.go#L26

A parse error results when a client sends a date that does not use placehold

[2020-03-16 18:54] technosophos commented on #89156
/sig api-machinery

[2020-03-16 18:57] tedyu commented on #52172
@pegerto
Do you mind modifying the subject of this issue (since it was due to race condition between the log rotation and the kubelet GC) ?

thanks

[2020-03-16 19:27] tedyu commented on #52172
@yujuhong @derekwaynecarr @Random-Liu
Can you take a look at my suggestion above ?

Meanwhile, I will see if there is better solution.

[2020-03-16 19:30] liggitt commented on #62861
/reopen

it is a documentation bug. `--runtime-config` is for REST APIs. This is a config API and needs no special enablement. The runtime-config bit should be removed from the docs.

[2020-03-16 19:55] MikeSpreitzer opened #89157 "Mutation restriction on informer clients is not well documented"
**What happened**:
I discovered colleagues writing informer clients that modify objects delivered by informers.  I went looking for where it says they should not do that, and I could not find it.

**What you expected to happen**:
I expected this critical restriction to be prominently documented.

**How to reproduce it (as minimally and precisely as possible)**:
Try to find where it says that a cli

[2020-03-16 19:58] MikeSpreitzer commented on #89157
@kubernetes/sig-api-machinery-bugs

[2020-03-16 20:08] enj commented on #89157
Documentation aside, I would suggest adding `export KUBE_CACHE_MUTATION_DETECTOR=true` to your CI infra to make it harder for people to make this mistake.

[2020-03-16 20:27] nckturner commented on #60134
/close

[2020-03-16 20:27] #60134 closed

[2020-03-16 20:46] avarf commented on #87976
There are some updates after this but since no one asked I didn't post.
The difference is on the cluster-M we started to expose range of ports as nodeport service and I found that kube-proxy is writing 7 lines for each port in a nodeport service.

Regarding the IPv6. No, we were not using IPv6 and I didn't even enable it but that is what I saw in the logs. We disabled IPv6 on all the nodes in clus

[2020-03-16 21:01] apelisse commented on #88816
Thanks, I think that's helpful. Let me see how I can cherry-pick this in previous versions.

[2020-03-16 21:18] caseydavenport commented on #39113
/remove-lifecycle rotten

[2020-03-16 21:32] thockin commented on #87976
Exposing a large number of Ports via a Service is a known shortcoming.  We can't coallesce them into ranges in all cases (Services allow input port to be different from backend port, but iptables only remaps single ports, not ranges), so we don't try.  We've been talking about doing whole-IP forwarding with no port remapping (but nobody is developing it yet) -- would that help your use case?

Rega

[2020-03-16 21:38] carlpett commented on #87070
Just to leave another potential usecase, we've seen some times when there are errors (in the application, or metrics that control the scaling) that cause uncontrolled scaling. As an operational measure, it would be good to be able to temporarily disable the scaling. Right now, I believe the only option is to delete the hpa manually, which isn't a great workflow.

[2020-03-16 22:02] kmala commented on #88543
@freehan do you know if its expected or not? Or can you assign it to someone who might have more context on it.

[2020-03-16 22:29] neolit123 commented on #89153
please share the affected kubernetes versions.
/sig storage

[2020-03-16 22:30] neolit123 commented on #89143
/remove-kind feature
/kind bug
/sig scheduling

[2020-03-16 22:31] howardjohn commented on #89153
I have tested GKE 1.15 and kind 1.17, both the same behavior

[2020-03-16 22:36] neolit123 commented on #89035
any warnings on the kubeadm output?

please reopen if you are seeing an issue.

/close

[2020-03-16 22:36] #89035 closed

[2020-03-16 23:00] spiffxp commented on #86318
Fixed by https://github.com/kubernetes/kubernetes/pull/89123

[2020-03-16 23:03] dims opened #89163 "Support kubectl exec/attach using Websocket"
4 score and 7 years ago we had this issue - [SPDY is deprecated. Switch to HTTP/2](https://github.com/kubernetes/kubernetes/issues/7452).

We are using [docker/spdystream](https://github.com/docker/spdystream) currently for kubectl and problems with SPDY with proxies are documented in the same issue above as well.

The long term plan has been to use http/2 by adding support in `x/net/http2` exampl

[2020-03-16 23:30] spiffxp commented on #89052
/remove-priority critical-urgent
/priority important-soon
I'm downgrading priority because timeouts are happening less often now, and I'm seeing three passes in a row against the same commit.

The prow.k8s.io build cluster was increased in size a few days ago.  The PR to add more CPU to the CI jobs landed yesterday.

We are still occasionally hitting timeouts, and I still suspect resource contenti

[2020-03-16 23:35] lavalamp commented on #89163
I'm OK with that path.

On Mon, Mar 16, 2020 at 4:03 PM Davanum Srinivas <notifications@github.com>
wrote:

[2020-03-16 23:49] thockin commented on #36391
Digging for other JSONPath bugs, I found this.

These seem to work:

`kubectl get rs --all-namespaces -o jsonpath="{range .items[?(@.spec.replicas==0)]}{.metadata.namespace}/{.metadata.name}{'\n'}{end}"`

`kubectl get rs --all-namespaces -o jsonpath="{range .items[?(@.spec.replicas==0)]}{.metadata.labels}{'\n'}{end}"`

Also this:

`kubectl get rs --all-namespaces -o jsonpath="{range .items[?(@.spe

[2020-03-16 23:51] thockin commented on #16707
@kubernetes/sig-cli-bugs This is still an issue - jsonpath formatting for a non-primitive type is Go's weird printing syntax (blech)

[2020-03-16 23:55] #84095 closed

[2020-03-17 00:07] listx commented on #88802
The quote exceeded errors are due to simply too many calls to GCR. The only solution is to reduce the number of backups. I'll send a PR soon to reduce the frequency of backups to 1x per day for now.

[2020-03-17 00:53] tallclair commented on #87197
@prankkelkar - that's essentially what our build process does: https://github.com/kubernetes/kubernetes/blob/master/build/lib/release.sh#L391-L394

[2020-03-17 01:00] BenTheElder commented on #87197
unfortunately there isn't a granular make target for each image (there didn't use to be one for the images overall for one architecture either, just releases!), `make quick-release-images` will build all of them, you can set `KUBE_BUILD_HYPERKUBE=n KUBE_BUILD_CONFORMANCE=n` to avoid some images you probably don't want.

[2020-03-17 01:01] BenTheElder commented on #87197
upgrading qemu sounds good to me.

[2020-03-17 01:01] aramase commented on #86125
/close

[2020-03-17 01:01] #86125 closed

[2020-03-17 01:57] #83845 closed

[2020-03-17 02:06] danwinship commented on #71305
no... we'd have to backport the whole rebasing-the-images-to-debian-buster thing which seems like a big change for a point release

[2020-03-17 02:58] #80741 closed

[2020-03-17 03:02] BenTheElder commented on #71305
We'd really only need to backport using a new image for kube-proxy and
maybe hyperkube.

On Mon, Mar 16, 2020, 19:06 Dan Winship <notifications@github.com> wrote:

[2020-03-17 06:39] zbindenren opened #89168 "NewSerializerWithOptions does not set the object's group, version, and kind fields"
I am using the following version:
[code]
In the documentation it says:

In my test I add the AdmissionReview to the scheme via the schemebuilder. With s.ObjectKinds it seems that the scheme knows about the object, but in the test, I get the following result, even with the typer set:

[code]

[code]

Without the TypeMeta set, I get the following error from the configured admission controller:

[cod

[2020-03-17 06:42] zbindenren commented on #89168
/sig api-machinery

[2020-03-17 07:47] david-in-perth commented on #45419
Having had the same question as @haosdent, I went looking to see if #71653 has been backported.
* #71653 was backported to v1.16 (PR: #86825). It's included in v1.16.7 ([changelog][]).
* It doesn't appear to have been backported to v1.15 or earlier ([PR search][], [v1.15 changelog][]).

So it seems like v1.16.7 or v1.17.0 are the minimum k8s releases required to get that fix.

[changelog]: https:/

[2020-03-17 08:18] pacoxu commented on #86773
I meet same issue in 1.18.0-beta.1
After I open apiserver feature gate "IPV6DualStack=true", kube proxy starts correctly.

https://github.com/kubernetes/website/pull/19682

[2020-03-17 08:19] brancz commented on #67126
/remove-lifecycle stale

[2020-03-17 08:50] heaven4us opened #89170 "How to uninstall which have installed after running make 'quick-release'"
**What happened**:
success for installing

**What you expected to happen**:
I want to uninstall files which installed files after running make quick-release
**How to reproduce it (as minimally and precisely as possible)**:
all the time
**Anything else we need to know?**:
I screen it out all Makefile  but failed to run it
**Environment**:
- Kubernetes version (use `kubectl version`):Client Version:

[2020-03-17 09:21] droslean commented on #88659
after the fixed got merged, we are back to the original problem :).
@soltysh can you take a look?

[2020-03-17 09:34] markyjackson-taulia commented on #88933
@SataQiu @liggitt thoughts if this should stay in this release?

[2020-03-17 09:46] wgabsi88 commented on #86064
After contacting AWS it seems that the issue is already known and they are also in the process of  changing their behavior. This behavior is observed when an application reads unwritten blocks on an encrypted EBS volume. These unwritten blocks return random data.

In the meantime we managed to resolve the issue by automatically deleting the PVC and the pod.

[2020-03-17 09:47] mm4tt commented on #88546
Yeah, having something like this would be great. What I originally had in mind was to have a [flogger](https://github.com/google/flogger) like api, e.g.
[code]
But I'm open to other propositions as long as we can achieve the rate-limited logging.

I believe it would be very beneficial both for our internal tooling (e.g. clusterloader2) and for k8s base components. Rate-limiting logging gives you a

[2020-03-17 09:48] brancz commented on #80623
/remove-lifecycle stale

[2020-03-17 09:53] #86064 closed

[2020-03-17 10:10] venkatsc commented on #60987
@troeger I do not have much idea about the semantics of the Flex drivers but the behavior seems to be the same i.e, exist on unmount error from the driver without executing the cleanup of mounts inside K8S.

https://github.com/kubernetes/kubernetes/blob/55bb72b77444f7279fb268652df377422792c9f0/pkg/volume/flexvolume/unmounter.go#L64

[2020-03-17 10:16] aojea commented on #88933
I'd like to have it, but I prefer to defer to @thockin the last decision because it's pending on:

- [ ] https://github.com/kubernetes/utils/pull/145
- [ ] bumping the kubernetes/utils in k/k

[2020-03-17 10:52] jsafrane opened #89171 "iSCSI PV is mounted without mountOptions"
**What happened**:
An iSCSI PV with `mountOptions` is mounted without these options.

[code]

**What you expected to happen**:
The volume is mounted with `-o discard`.

**Anything else we need to know?**:
iSCSI volume is mounted in `WaitForAttach()` and passes `nil` as `mountOptions`: https://github.com/kubernetes/kubernetes/blob/84dc7046797aad80f258b6740a98e79199c8bb4d/pkg/volume/iscsi/iscsi_util

[2020-03-17 10:52] jsafrane commented on #89171
/sig storage

[2020-03-17 11:06] #83612 closed

[2020-03-17 11:17] wawa0210 commented on #89127
You can check if this file `/ hostPath / to / customerProfile.json` is a file of type` link`

[2020-03-17 11:53] theAkito commented on #89127
@wawa0210

Thanks for your response.

Do you mean, check if it is a hard|symbolic link? It's not a generic link.
Or are you referring to a different type of `link`?

[2020-03-17 11:56] deed02392 commented on #80472
@zgfh I am having this issue too, why did you close it?

[2020-03-17 12:16] neolit123 commented on #86773
panics should def. be resolved before moving the feature to beta.
/priority important-longterm

LGTM.

[2020-03-17 12:17] neolit123 commented on #86773
/retitle Fail to deploy dualstack cluster, kube-proxy panics

[2020-03-17 13:00] wawa0210 commented on #89127
Is a symbolic link?

[2020-03-17 13:23] jsafrane opened #89173 "Pod startup failed when CSI driver changes from attachable to non-attachable"
**What happened**:
When a CSI driver changes from attachable (`CSIDriver.spec.attachRequired`: true) to non-attachable (`attachRequired: false`) in the middle of attaching a volume, A/D controller still wants to attach the volume.

**What you expected to happen**:
A/D controller skips attach.

**How to reproduce it (as minimally and precisely as possible)**:
1. Install CSI mock driver:
    - With

[2020-03-17 13:35] mooperd commented on #85963
+1 - I really need to be able to restrict access to the `kube-system`namespace.

[2020-03-17 13:51] edwardstudy opened #89174 "Service account token secret can be made invalid"
**What happened**:

The secret of sa token can be tampered with.

**What you expected to happen**:
- tokens controller can regenerate the token

**How to reproduce it (as minimally and precisely as possible)**:

Modify the `.data.token` of the token secret:
[code]
The token has became `invalid`:
[code]

**Anything else we need to know?**:
Does that make sense to not verify the jwt token and then r

[2020-03-17 14:12] #89137 closed

[2020-03-17 14:18] janekmichalik commented on #72088
anyone? Still does not work.

[2020-03-17 14:25] davesargrad commented on #88986
Ok. I just implemented a configuration work-around in my flannel config. I am now using host-gw, rather than vxlan.

This fixed my problem. I'm pretty sure this means that the problem is not a k8s bug, that its actually a flannel bug. The only reason I'd not say that for sure relates to my lack of clarity relative to the vxlan pipeline.

At this point I am inclined to close the k8s issue I wrote.

[2020-03-17 14:43] acgray commented on #40244
+1

[2020-03-17 14:43] liggitt commented on #89163
IIRC, the client<->apiserver side supports websockets but apiserver<->kubelet is still spdy

[2020-03-17 14:44] liggitt commented on #89163
@smarterclayton @ncdc might remember better

[2020-03-17 14:48] ncdc commented on #89163
It's been so long I don't recall how far the websocket integration goes. But it would be a good start to have kubectl switch to websockets only, wouldn't it?

[2020-03-17 14:53] tedyu commented on #60987
@venkatsc
I have updated #89090 to cover unmounter.go

Thanks

[2020-03-17 15:01] neolit123 commented on #89174
the stringData or data fields of a Secret are not immutable, which means that anybody with permissions can modify it. this can be prevented with the right RBAC.

see this related KEP:
https://github.com/kubernetes/enhancements/issues/1412

this seems like a feature request.

/kind feature
/sig auth

[2020-03-17 15:01] neolit123 commented on #89174
/remove-kind bug

[2020-03-17 15:03] vryzhenkin opened #89175 "e2e framework should support non-default configuration of NodePort range"
**What would you like to be added**:
On configurations with non-default `--service-node-port-range` some tests from [Conformance] subset may fail, due hardcoded port range here https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/service/jig.go#L55
It'll be good if someone can decide to unhardcode this parameter and add it into test context instead have it hardcoded.

**Why is t

[2020-03-17 15:09] vryzhenkin commented on #89175
/sig testing

[2020-03-17 15:16] rikatz commented on #85395
So the first idea here is to figure out where this 'weighted' concept makes more sense, right?

I think that, with the case you've put in the table of a Gateway pointing to multiple clusters or multiple routes with different weights we can assume the best place to think into this right now is into Gateway then, right?

But are there cases of a single route pointing to multiple services (or other m

[2020-03-17 15:29] liggitt commented on #86267
@justaugustus if our current approach for tagging release branch pre-releases doesn't trigger this, this seems like it is not critical for the milestone, is that correct?

[2020-03-17 15:30] stv0g commented on #86773
The documentation does not mentioned the feature-gate for api-server:

https://kubernetes.io/docs/concepts/services-networking/dual-stack/

Only for controller-manager and proxy.. Can we update the docs?

[2020-03-17 15:42] droslean opened #89177 "[Failing Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:
`gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)`

**Which test(s) are failing**:
`[sig-cli] Kubectl client Simple pod should support inline execution and attach`

**Since when has it been failing**:
`16th March 05:01 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:

[2020-03-17 15:45] enj commented on #89174
@liggitt any reason we do not do a `bytes.Equal` for `needsToken` similar to the `needsCA` calculation?

https://github.com/kubernetes/kubernetes/blob/76f85943787a5901a34a314a935712177edd2db0/pkg/controller/serviceaccount/tokens_controller.go#L502-L508

[2020-03-17 15:47] droslean commented on #89150
this flake didn't appear since `13th March`. Closing...

/close

[2020-03-17 15:47] #89150 closed

[2020-03-17 16:04] liggitt commented on #89174
yeah, jwt validation on every relist is expensive for the controller...

[2020-03-17 16:04] liggitt commented on #89174
clarified title to be less alarming

[2020-03-17 16:07] liggitt commented on #89174
I don't anticipate making these secrets immutable, since it would break some existing workflows. Removing the token key from the secret is one way to request it be regenerated/repopulated in key rotation cases.

Since most of our efforts are focused on the non-secret-based service account tokens, addressing a scenario where someone with secret write access invalidates a secret-based token doesn't

[2020-03-17 16:23] msau42 commented on #77324
/lifecycle frozen
/reopen
@kubernetes/sig-storage-bugs

[2020-03-17 16:44] markyjackson-taulia commented on #88933
@thockin Can you comment on the above? Wonder if this is near completion for v1.18? If not, is it ok to move to v1.19?

[2020-03-17 17:05] robutil commented on #89148
Hi, I had the same issue; but upgrading to go v1.14 solved it for me.

[2020-03-17 17:15] smarterclayton opened #89178 "The Multi-AZ spreading test makes an incorrect assumption about which zones are candidates"
Tests in k8s.io/kubernetes/test/e2e/scheduling/ubernetes_lite.go assume that the set of zones that pods are spread over is "all node zones".  That is not true for two reasons:

1. User workloads may be scheduled by default to a subset of nodes
2. The set of nodes users can schedule to may be further subdivided by rules

The test fails in the following config (3 masters, 2 nodes for user workloads)

[2020-03-17 17:24] pjh commented on #88974
gce-windows-2019-master is fixed but gce-windows-1909-master is still struggling.

Things start to go wrong in the test log here:
[code]

Is it possible that the fix for https://github.com/kubernetes/kubernetes/issues/88913 hasn't taken effect for this job yet?

[2020-03-17 17:34] smarterclayton commented on #89178
/sig scheduling
/sig testing

[2020-03-17 17:39] pjh commented on #88974
Artifacts gathering from the worker nodes seems to be broken 😠 Only [artifacts](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1909/1239894598197710848/artifacts/) from the master are available.

The test job was working normally up until 03-05; something else seems to have broken while we were fixing https://github.com/kubernetes/kubernetes/issues/88913.

[2020-03-17 17:58] pjh commented on #88974
I'm suspicious of https://github.com/kubernetes/kubernetes/pull/81226/ and https://github.com/kubernetes/kubernetes/pull/88048/. Those changed the agnhost container that's used for Windows e2e tests - wondering if the updated container is not multi-arch for 1909, or if the updated container has Windows updates that are [not compatible](https://support.microsoft.com/en-us/help/4542617/you-might-enc

[2020-03-17 18:27] liggitt commented on #88901
The strategy overriding the metadata in status updates of CRD and CR objects seems like it would definitely cause this. @apelisse, were you able to follow the steps at https://github.com/kubernetes/kubernetes/issues/88901#issuecomment-598650295?

[2020-03-17 19:15] cji commented on #81138
/lifecycle frozen

[2020-03-17 19:22] yliaog commented on #88974
on a 1909 VM:

C:\ docker run e2eteam/agnhost:2.6 cmd
C:\Program Files\Docker\docker.exe: Error response from daemon: CreateComputeSystem a99b34c8e1e1e6ac1a39972dd4794efb207a38948caae3262933b44da33072d9: The system cannot find the file specified.

C:\ docker run e2eteam/agnhost:2.8 cmd
Error: unknown command "cmd" for "app"
Run 'app --help' for usage.

[2020-03-17 19:30] Huang-Wei commented on #87662
All items have been completed. Close this issue.

[2020-03-17 19:30] #87662 closed

[2020-03-17 19:45] kvaps opened #89181 "Pods with subPath are stuck on Terminating"
**What happened**:

Pods with subPath are stuck on Terminating when deleting

**What you expected to happen**:

Pod succefully removed.

**How to reproduce it (as minimally and precisely as possible)**:

crate:

[code]

remove the pod:

[code]

check the kubelet logs:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provide

[2020-03-17 19:55] neolit123 commented on #89181
/sig storage

[2020-03-17 20:16] kvaps commented on #89181
my guesses were right, problem with overlayfs and `IsLikelyNotMountPoint` check:

[code]

[2020-03-17 20:28] lukeschlather commented on #48388
This error is still absolute garbage. Can it print the actual field that is immutable rather than vomiting the entire template?

[2020-03-17 20:32] tedyu commented on #89017
@aaronjwood
See https://github.com/kubernetes/kubernetes/pull/89019#issuecomment-600278461

[2020-03-17 20:41] oomichi opened #89185 "Integration tests should be independent from e2e test code"
**What happened**:

Integration tests import e2e test code today and the dependency makes two drawbacks.
- It is hard to move test/e2e/framework into staging (https://github.com/kubernetes/kubernetes/issues/74352)
- Need to run integration tests always even if PRs are just changing e2e test code

This PR is for removing this dependency from integration tests.

**Target dependencies**

Following fi

[2020-03-17 20:43] oomichi commented on #89185
/sig testing
/area code-organization

[2020-03-17 20:44] oomichi commented on #89185
/remove-kind bug

[2020-03-17 21:23] nckturner commented on #84926
/area provider/aws
/lifecycle frozen

[2020-03-17 21:27] gnufied commented on #89112
Uncertain mount fix merged in https://github.com/kubernetes/kubernetes/pull/82492 should fix this one. Unfortunately this fix is not available in 1.17. Can you check with current master and see if you can still reproduce the bug?

[2020-03-17 21:42] serathius opened #89190 "Implement `--logging-format` flag in k8s.io/component-base"
**What would you like to be added**:
As part of [Structured Logging KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20191115-structured-logging.md) k8s.io/component-base should add logging configuration allowing to change logging implementation.

Things to implement:
* --logging-format - flag to pick between available implementations. Defaults to "text" using u

[2020-03-17 21:55] smarterclayton commented on #89163
Portforward needed to be completely redesigned to work with websockets.
Logs and exec with websockets are fine.  Portforward is a little lower
priority for websockets because consoles can't really take advantage of it
(well... they could... but it's not a use case i've heard people screaming
for).

We probably need to test performance of websockets vs SPDY and then we
could deprecate SPDY for exec

[2020-03-17 22:07] 2rs2ts commented on #85397
We're seeing this same thing too with kube-proxy 1.16.6 in iptables mode.

You might not have noticed but if you check `iptables-save -c` you might see what we're seeing: not only are these rules getting added incorrectly but actually they're affecting how traffic is sent when you use the Node IP.

Our service:

[code]

And our iptables rules:

[code]

Maybe I'm crazy but it seems pretty obvious t

[2020-03-17 22:12] serathius commented on #88546
It would be definitely a great utility function that would work as a wrapper for logging library.

I don't think we should add as klog function, but as a function in k8s.io/component-base/logging. Long term as klog is replaced with [logr](https://github.com/go-logr/logr) we could add a wrapper for logr inteface.

@thockin @DirectXMan12  WDYT?
I image that logr, will want to stay as simple interfac

[2020-03-17 22:33] krancour commented on #26923
/reopen

[2020-03-17 23:20] #88058 closed

[2020-03-17 23:21] #84609 closed

[2020-03-17 23:22] #88918 closed

[2020-03-17 23:29] andrewsykim commented on #82065
/close

fixed byhttps://github.com/kubernetes/kubernetes/pull/88541

[2020-03-17 23:29] #82065 closed

[2020-03-17 23:54] thockin commented on #85395
I'm not up to the minute on Gateway wrt "plain" TCP.

Something like Gateway -> TCPRoute -> Service -- should the traffic
split/weight be part of Service or part of Route?  How is HTTPRoute
handling it?

On Tue, Mar 17, 2020 at 8:17 AM Ricardo Katz <notifications@github.com>
wrote:

[2020-03-18 00:47] castlemilk opened #89195 "Kubectl slow when using fullpath/FQDN for CRD name"
**What happened**:
When using the fullpath for a CRD (i.e sealedsecrets vs sealedsecrets.bitnami.com), the response is significantly slower for kubectl ( on the order of x10 longer).

**What you expected to happen**:

response time should be the same for short or long CRD references

**How to reproduce it (as minimally and precisely as possible)**:

With any CRD installed into your cluster run the

[2020-03-18 00:49] castlemilk commented on #89195
/sig cli

[2020-03-18 01:18] alejandrox1 commented on #87807
/reopen
This seems to be happening somewhat often

[2020-03-18 02:26] hasheddan opened #89197 "[Flaky Test] release-test (pull-release-test)"
**Which jobs are failing**:
`release-test (pull-release-test)`

**Which test(s) are failing**:
`//external/io_k8s_repo_infra/hack:verify-golangci-lint`

**Since when has it been failing**:
`03-17-20 1647 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-misc#release-test

**Reason for failure**:
[code]
**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig release
/priority i

[2020-03-18 02:26] hasheddan commented on #89197
I am looking into this

/assign @hasheddan

[2020-03-18 02:27] #88725 closed

[2020-03-18 02:27] #88868 closed

[2020-03-18 02:28] #88785 closed

[2020-03-18 02:37] bitscuit commented on #89016
Could I pick this up as a first issue?

[2020-03-18 03:04] hasheddan commented on #89197
Looks true reason for flake is this:

[code]

[2020-03-18 03:04] justaugustus commented on #88408
I've started to investigate, but I haven't yet reproduced the new error locally:
[code]

This is likely related to a recent refactor of the package that handles interpreting deb/rpm package versions.

As `kubepkg` is not currently in use, I'm moving this to the milestone.
/milestone v1.19

[2020-03-18 03:06] justaugustus commented on #86267
@liggitt -- Good point!

/milestone v1.19
/remove-priority critical-urgent
/priority important-soon

[2020-03-18 03:21] steinybot opened #89202 "Ignore unsupported resources when using rollout with kustomize"
**What would you like to be added**:

`kubectl rollout restart -k .` (and other rollout sub-commands) should ignore any resource that doesn't support rollout operations.

**Why is this needed**:

I want to have a single kustomization.yaml file which I can use for install/uninstall as well as performing rollouts (specifically restart in my use case but it should be consistent among the other comman

[2020-03-18 03:25] justaugustus commented on #89130
cc: @kubernetes/product-security-committee @kubernetes/release-engineering
/committee product-security
/area release-eng

[2020-03-18 04:10] gongguan commented on #88767
hi, could you please upload kubelet log?

[2020-03-18 04:19] MikeSpreitzer opened #89205 "Need properly prominent documentation for KUBE_CACHE_MUTATION_DETECTOR"
**What happened**:
https://github.com/kubernetes/kubernetes/issues/89157#issuecomment-599736338

**What you expected to happen**:
I expect this environment variable to be documented in some place where maintainers of informer clients will see it.  Perhaps in shared_informer.go.  Perhaps somewhere in the user-facing doc.  I am not entirely sure what is the right place.

**How to reproduce it (as mi

[2020-03-18 04:20] MikeSpreitzer commented on #89205
@kubernetes/sig-api-machinery-bugs

[2020-03-18 04:20] MikeSpreitzer commented on #89205
@enj - thanks for the reminder

[2020-03-18 04:33] MikeSpreitzer opened #89206 "Documentation of workqueue abstraction is too scattered"
**What happened**:
Colleagues had questions about workqueue and I realized that the answers are painfully scattered throughout the code.

1. The introduction to the workqueue abstraction is in doc.go.  While this is not necessarily wrong, I will point out that my colleague did not find it.  The comment on the golang type `Type` --- which is one implementation of the interface `Interface` --- in `q

[2020-03-18 04:34] MikeSpreitzer commented on #89206
@kubernetes/sig-api-machinery-bugs

[2020-03-18 05:54] yuzhiquan commented on #89190
/assign
have a try

[2020-03-18 06:00] #89148 closed

[2020-03-18 06:24] liupeng0518 opened #89208 "k8s1.14 ipvs mode, pod rescheduling，Ipvs cannot remove IP forwarding of old pods"
**What happened**:
In ipvs mode, pod rescheduling sometimes leaves a record:
[code]
IP: 10.233.124.171, This is a remnant of the old pod. When I delete it ，looks normal:
[code]

**What you expected to happen**:
`10.233.124.171:7979` auto delete.

**How to reproduce it (as minimally and precisely as possible)**:
pod rescheduling
**Anything else we need to know?**:

**Environment**:
- Kubernetes ver

[2020-03-18 06:36] TangLi-Xuke commented on #54918
I had the same problem, I don't know if it can help you, but it solve mine.
1、use "journalctl -f -u kubelet.service" to see service info,you may say :
                  3月 17 20:18:57 s4 kubelet[1407]: W0317 20:18:57.643464    1407 cni.go:237] Unable to update cni config: no valid networks found in /etc/cni/net.d
                  3月 17 20:19:02 s4 kubelet[1407]: E0317 20:19:02.232997    1407 kube

[2020-03-18 07:06] zhangdb-git opened #89209 "Failed to execute rolling update if resource quota is full."
**What happened**:
Resourcequota limits deployments to upgrade.

**How to reproduce it**:
1. Create a new namespace.
2. Create a resourcequota in the namespace, allow only one pod.
3. Create a deployment with one replica in the namespace, and set upgrade-method to be "RollingUpdate".
4. Edit the image value of the deployment.
5. Watch the result of update. A new replicaset was created with errors

[2020-03-18 07:07] gavinfish commented on #89185
/assign

[2020-03-18 07:09] zhangdb-git commented on #89209
/sig scheduling

[2020-03-18 07:17] tonyaw opened #89212 "NodeLost status is missed after TaintBasedEvictions is enabled"
**What happened**:
After TaintBasedEvictions feature is enabled, when a node becomes NotReady, the pod of DaemonSet on it still show "Running" status via "kubectl get pods".
Without feature TaintBasedEvictions, pod of DaemonSet shows "NodeLost", and pod of Deployment shows "Unknown".
"Running" status is confused even pod "Ready" condition is set to False.

**What you expected to happen**:
"kubectl

[2020-03-18 07:26] #83850 closed

[2020-03-18 08:28] #75273 closed

[2020-03-18 08:37] #84698 closed

[2020-03-18 08:44] #88214 closed

[2020-03-18 08:52] droslean commented on #89197
This is a presubmit and it was failing because of https://github.com/kubernetes/release/pull/1185 https://github.com/kubernetes/release/pull/1180 https://github.com/kubernetes/release/pull/1187

@saschagrunert @puerco @j0n3lson  Did you notice any flakes on your PRs?

[2020-03-18 09:05] saschagrunert commented on #88408
@justaugustus the issue is partly fixed via https://github.com/kubernetes/release/pull/1188

The test is now failing because it tries to download cri-tools v1.18.0:
[code]

[2020-03-18 09:11] saschagrunert commented on #89197
This should be fixed with https://github.com/kubernetes/release/pull/1187

[2020-03-18 09:43] szuecs commented on #89006
This happened again, not yet tested in 1.17.

[code]

[2020-03-18 09:48] barucoh commented on #88701
This turned out to be an issue with Terraform -> https://github.com/terraform-providers/terraform-provider-aws/issues/11473
Correcting my dependencies fixed the issue.

[2020-03-18 09:48] #88701 closed

[2020-03-18 09:55] zqzzq opened #89218 "Remind the namespace does not exist instead of returning “No resources found”"
**What would you like to be added**:
When querying resources, if the namespace is accidentally written incorrectly, the apiserver should prompt that the namespace does not exist instead of returning an “No resources found”
**Why is this needed**:
“No resources found” is misleading

[2020-03-18 09:59] #89218 closed

[2020-03-18 11:31] infa-msoundar commented on #77310
Yes, I tried with a relative path and it worked

`PS C:\> kubectl cp <pod_name>:/tmp/4.51.prof c:/temp/start_4.51.hprof
error: src doesn't exist in local filesystem`

However,
`PS C:\> kubectl cp <pod_name>:/tmp/4.51.prof temp/start_4.51.hprof
tar: removing leading '/' from member names`
The file gets downloaded successfully

[2020-03-18 11:33] mohansoundar commented on #77310
Yes, I tried with a relative path and it worked

`PS C:\> kubectl cp <pod_name>:/tmp/4.51.prof **c:/temp/start_4.51.hprof**
error: src doesn't exist in local filesystem`

However,
`PS C:\> kubectl cp <pod_name>:/tmp/4.51.prof **temp/start_4.51.hprof**
tar: removing leading '/' from member names`
The file gets downloaded successfully

[2020-03-18 11:57] invidian commented on #88253
Related note. If one wants to create `NetworkPolicy` affecting `kube-system` namespace (e.g. to limit access to self-hosted kube-apiserver or cluster DNS), then this is currently also problematic, as `kube-system` namespace is automatically created without any labels.

Having exact match selector would solve this issue too.

The alternative would be to change `kube-apiserver` to set _some_ label o

[2020-03-18 12:15] gongguan commented on #89208
Seems fixed by [#81482](https://github.com/kubernetes/kubernetes/pull/81482)

[2020-03-18 12:25] ahg-g commented on #89006
Thanks for reporting it, can you tell us anything about the workload or the cluster that may help us debug this issue?

[2020-03-18 12:35] hasheddan commented on #89197
Opened https://github.com/kubernetes/release/pull/1192 to address

[2020-03-18 12:53] ahg-g commented on #89006
As Wei mentioned, this code has been completely refactored, it would be great if you can test on 1.17 and let us know if you see a similar problem.

We should definitely fix this for 1.16, what we need to do is to check in [podFitsOnNode](https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/scheduler/core/generic_scheduler.go#L649) on whether the underlying node actually exist or not. Th

[2020-03-18 13:10] #86401 closed

[2020-03-18 13:32] fengzixu commented on #89092
After I checked the implementation of `GetResourceRequest` function, I think we just need to use it to instead of the function in the scheduler.

@Huang-Wei

[2020-03-18 13:36] #71719 closed

[2020-03-18 13:36] #86808 closed

[2020-03-18 13:39] jsafrane opened #89221 "Fibre Channel volumes delete devices on nodes"
**What happened**:
When a pod that uses a FibreChannel volume is deleted, kubelet *deletes* FC devices used by the pod as part of FC volume cleanup.

https://github.com/kubernetes/kubernetes/blob/3ac39a2729672ef3fc7aa371cebf635d26a1bd7b/pkg/volume/fc/fc_util.go#L279-L287

At the same time, our documentation says that:

By deleting the device(s) on pod cleanup, the LUNs are not available on the nod

[2020-03-18 13:53] jsafrane commented on #89221
Talked to @rootfs, this behavior is expected. Kubelet will re-scan for missing devices at new pod startup:

https://github.com/kubernetes/kubernetes/blob/51b2d02717399e4ef1c207ea5d913a8bdb7bd994/pkg/volume/fc/fc_util.go#L122

[2020-03-18 14:05] damemi commented on #89006
/assign

[2020-03-18 14:12] iTaybb commented on #73480
We're seeing this issue as well.

[2020-03-18 14:25] droslean commented on #88659
The job is green now. I will keep the issue open to observe and make sure that it is not a flake.

[2020-03-18 14:34] droslean commented on #88802
@listx The job still failing even when the interval was changed from 1h to 12h. Can you check?

[2020-03-18 14:38] fengzixu commented on #89209
Actually, I don't think the behavior you mentioned is a kind of bug of kube-scheduler. RollingUpdate strategy means it will create a new pod and start to terminate the old at the same time.

I'm not sure why you want to set the resource quota for only one pod. If it is your testing behavior,  I think you need to consider the upgrade function.

[2020-03-18 14:55] jsafrane commented on #89221
/close

[2020-03-18 14:55] #89221 closed

[2020-03-18 15:08] andrewsykim commented on #88698
/remove-triage unresolved

[2020-03-18 15:16] andrewsykim commented on #88820
Related discussion here: https://github.com/kubernetes/kubernetes/pull/73171#issuecomment-460077289

[2020-03-18 15:19] ahg-g commented on #89006
The problem is that some NodeInfos in the snapshot have a nil Node(), this happens when a node delete event is received before the delete events of all pods on that node.

Aldo changed this behavior in 1.18, and so 1.18 should not have this problem: https://github.com/kubernetes/kubernetes/commit/afe3b907a18a243891a4525e7306880bd32e162f#diff-b63746327d4db70d74d673864973ce04

In 1.15 and before, it

[2020-03-18 15:24] marosset commented on #89134
I think we might need to run this job in Serial.
This test is flakey and fails the same way each time.

Looking at the logs for the failures I see we try to start a single pod
ï¿½[1mSTEPï¿½[0m: Creating one pod with limit set to '0.5'
ï¿½[1mSTEPï¿½[0m: Creating one pod with limit set to '500m'

But then events captured in the logs show the pod getting rescheduled to a different node

ï¿½[1mSTEPï¿½

[2020-03-18 15:25] marosset commented on #89134
/cc @chewong

[2020-03-18 15:27] adelina-t commented on #89134
Yes. That's most probably the case. I am preparing a PR for this.

[2020-03-18 15:44] #85197 closed

[2020-03-18 15:53] edwardstudy commented on #89174
@liggitt Got it. Did `non-secret-based service account tokens` mean `BoundServiceAccountTokenVolume`? I did this examination because I want to use `BoundServiceAccountTokenVolume` and wanted to remove this default non-expiring service account token for security. So when `BoundServiceAccountTokenVolume` is GA, do we still have the service account token secret in this scenario?

[2020-03-18 15:54] mitom commented on #85963
Also here looking at the `kube-system` use-case.

@liggitt raises a very good point though - while deny permissions give use a lot of options, they introduce a lot of potential conflict as well. As a compromise, how about introducing a `ClusterRoleBinding` which would operate on selectors rather than exact namespace configuration, rather than a deny?

As an example:
[code]

which would operate on

[2020-03-18 15:54] rgarcia89 opened #89226 "etcd 3.4.3-0 reporting a lot of issues in 1.17.4"
**What happened**:
etcd reports a bunch of issues
[code]
**What you expected to happen**:
Not seeing this issues

**How to reproduce it (as minimally and precisely as possible)**:
Install Kubernetes 1.17.4

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.17.4
- Cloud provider or hardware configuration: azure but self build
- OS (e.g: `cat /etc/

[2020-03-18 15:59] rgarcia89 commented on #89226
/sig cluster-lifecycle

[2020-03-18 16:00] enj commented on #85963
@mitom that is pretty easy to build on top of kube using controllers to sync the role bindings, see https://github.com/FairwindsOps/rbac-manager#dynamic-namespaces-and-labels

[2020-03-18 16:10] mooperd commented on #85963
That would be a bit rough because it would mean a quite different user experience on locked down clusters. Anyone trying to deploy a helm template which includes a namespace would the thwarted as their new namespaces would not include the label.

I think the ability to explicitly deny users access to namespaces such as kube-system or ingress-nginx is extremely important to ensuring that Kubernetes

[2020-03-18 16:11] thockin commented on #30051
I realized that this request is not as clear as it could be.

Dockerfile supports STOPSIGNAL and we support that transparently.

However, not everyone builds their own images, and telling folks they have to build a custome image just to set this is pretty hostile.

Docker supports `--stop-signal` as a flag to `docker run`.  Kubernetes has no equivalent as part of Pod or Container APIs.  I posit th

[2020-03-18 16:16] liggitt commented on #89174
Yes, pods using that feature do not make use of secret-based tokens, and are not affected by this.

Once we switch the tokens that are auto-injected into pods away from secret-based tokens, we will likely transition to stop auto-generating those.

We will likely continue supporting populating secret-based tokens that [explicitly request them](https://kubernetes.io/docs/tasks/configure-pod-containe

[2020-03-18 16:16] rgarcia89 commented on #89226
![image](https://user-images.githubusercontent.com/4134730/76982400-2486f500-693c-11ea-89b4-449276195a52.png)
etcdctl check perf result

[2020-03-18 16:38] droslean commented on #88659
Job is green in `release-18` branch as well. Closing...
/close

[2020-03-18 16:38] #88659 closed

[2020-03-18 16:39] droslean commented on #89051
/milestone clear
/milestone v1.17

[2020-03-18 16:40] droslean commented on #89051
/milestone v1.17

[2020-03-18 16:44] soltysh commented on #89178
/cc @ingvagabund @damemi

[2020-03-18 16:52] LighthouseJ commented on #74551
I setup a redis cluster w/ helm chart from here: https://github.com/helm/charts/tree/master/stable/redis  I'm using the "production" values and leaving password enabled.  I'm using NiFi outside of kubernetes to send it data, and using port-forward (for now) to connect.

One difference is that when I use clients like redis-cli and Redis Desktop Manager, then they work fine, but when I use NiFi, the

[2020-03-18 17:03] lavalamp commented on #74551
OK. I strongly suspect a bug that is triggered by some particular binary sequence.

It might be here: https://github.com/kubernetes/kubernetes/blob/v1.19.0-alpha.0/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go

but more likely is in the github.com/docker/spdystream dependency.

[2020-03-18 17:27] roycaihw commented on #86286
@sbezverk sorry for the late response. I thought you could use field selector to exclude those endpoints or the entire kube-system namespace with [field selector](https://github.com/kubernetes/client-go/blob/da706024f356a0d7bf19dfb7a7133967e4c2aaa6/tools/cache/shared_informer.go#L42)

https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/

[2020-03-18 17:31] lavalamp commented on #74551
I don't see a random data transmission test there (???!??). https://github.com/docker/spdystream/blob/master/spdy_bench_test.go#L68 might be easy to adapt if someone has time to investigate.

[2020-03-18 17:41] lavalamp commented on #89163
I think there's still bugs in SPDY, e.g. see this crowd of users: https://github.com/kubernetes/kubernetes/issues/74551#issuecomment-600750593

[2020-03-18 18:00] waylan-zest commented on #60789
@dobesv

I experienced this issue as well. I think that is the point of discussion in this thread - that the 'hostname' must also be set for the pod FQDN to work. there is an explicit note right under the section you mention, copied here:

[2020-03-18 18:20] dobesv commented on #60789
Yeah, the wording is very confusing, maybe it could be updated to have a note that this doesn't work with deployments.

[2020-03-18 18:33] alculquicondor opened #89229 "test/e2e/framework depends on scheduler framework"
/kind cleanup
/sig scheduling

In `test/e2e/framework/.import-restrictions` we allow `pkg/scheduler/framework/v1alpha1` along with some plugins.
The dependency on `pkg/scheduler/framework/v1alpha1` is particularly odd and it implies that any dependency (possibly internal) we add to this package will have to be added to the restrictions file (See #89070 for example).

I've managed to clean up some

[2020-03-18 18:36] alculquicondor commented on #89229
cc @ahg-g @Huang-Wei

[2020-03-18 20:00] mrobson commented on #85894
Another reason you see this more in CI or other highly automated scenarios, is that the deletion of the services resources is done async via releaseAllocatedResources:

https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/registry/core/service/storage/rest.go#L265

So the service is fully removed, but allocated resources like the ClusterIP and NodePort are not. Generally, this is ok for

[2020-03-18 20:09] thockin opened #89233 "sessions of `kubectl exec -ti` on `shareProcessNamespace` do not get closed when pod is deleted"
**What happened**:

Created a pod with `shareProcessNamespace: true`.  Used `kubectl exec` into that pod.  Deleted the pod.  Session hung - ^C, ^Z do not work.  Had to `kill -9` from another terminal.  Changing `shareProcessNamespace` to false does not have this problem.

**What you expected to happen**:

Session to terminate.

**How to reproduce it (as minimally and precisely as possible)**:

Cre

[2020-03-18 20:11] praveenkumarKajla commented on #45509
I have been a problem that aligns with what's been discussed here.
 my pods scale up based on CPU percentage(25%) but that's not the issue, but while scaling down it chooses a random pod which could be doing a CPU intensive task and i don't want to terminate this pod.
Is there a way to not shutdown specific/random pod

[2020-03-18 20:12] wojtek-t commented on #88967
At the high level, I agree.
Though, independently from the solution here, there is one problem that I see (though I still didn't really make up my mind how serious it is). The issue is "synchronization between EndpointSlice and Endpoints".
Obviously we don't provide any guarantees that these two representations will be consistent if each other - obviously they won't because we don't (and won't) ha

[2020-03-18 20:12] wojtek-t commented on #88967
@robscott @freehan @bowei  - since you apparently weren't cc-ed
@kubernetes/sig-network-feature-requests

[2020-03-18 20:40] alculquicondor commented on #89021
I'm seeing lots of these.

[2020-03-18 20:41] neolit123 commented on #89226
a user had similar issues with etcd here:
https://github.com/kubernetes/kubernetes/issues/88111#issuecomment-595191235

their conclusion was that this was caused by disk issues (RAID).
please double check the infrastructure.

/sig api-machinery

[2020-03-18 20:45] neolit123 commented on #89212
/sig node

[2020-03-18 20:49] Oskoss commented on #57187
/remove-lifecycle stale

[2020-03-18 21:14] liggitt commented on #89021
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&width=5&include-filter-by-regex=TestStressingCascadingDeletion

[2020-03-18 21:16] liggitt commented on #89021
post-submit failures (all of these are flakes): https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5&include-filter-by-regex=TestStressingCascadingDeletion

[2020-03-18 21:18] liggitt commented on #89021
first failure seen in postsubmit is 5708511499fe500ae3b4bbd40204cef382f652e8 ... preceeding many runs looked clean

[2020-03-18 21:28] oomichi commented on #89185
for https://github.com/kubernetes/kubernetes/pull/89235

/assign

[2020-03-18 21:33] alculquicondor commented on #89036
Are you sure this is the actual bottleneck? I could imagine some Filter plugins being already as slow as what the preemption logic does already: linearly check all pods priorities and stop if it finds none with lower priority (`selectVictimsOnNode`).

1. Could you try to profile this?
1. I don't think we should have this as a plugin, but rather in the core scheduler.

[2020-03-18 21:43] alculquicondor commented on #88614
What if we add an event to the Pod? But that also requires a second API request :(

[2020-03-18 21:50] liggitt commented on #89021
I verified the delete options as seen by the server are identical [at this point](https://github.com/kubernetes/kubernetes/blob/34ad7d198472a7f4efc3181391ee21294447e2f6/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go#L121) before and after #88708, so I don't think it is a functional change related to that PR

[2020-03-18 21:51] liggitt commented on #89021
notably, many other tests in this suite started flaking on 3/7 and after (https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5&sort-by-failures=)

[2020-03-18 21:59] liggitt commented on #89021
figured it out, https://github.com/kubernetes/kubernetes/pull/88708/files#diff-71e62caa4db77f62b62feb4951fd7ca8L464-L466 dropped the detection of empty deletion options which would trigger the test to wait for all pods to be observed by the GC controller

[2020-03-18 22:10] rgarcia89 commented on #89226
kind of complicated, as I am running the instances on Azure
below a fio benachmark
[code]

[2020-03-18 22:28] Huang-Wei commented on #89229
This sounds odd to me as kubemark was created to simulate a kubelet without any concrete logic inside. It's also known as "hollow node".

[2020-03-18 22:34] alculquicondor commented on #89229
cc @wojtek-t

[2020-03-18 23:39] listx commented on #88802
The job has been removed entirely as we work out a new optimized backup job. See https://github.com/kubernetes/k8s.io/issues/666

[2020-03-19 00:08] zhangdb-git commented on #89209
@fengzixu, hello, as I know, it will not start to terminate the old pod before the new one is ready.

[2020-03-19 00:46] yujuhong commented on #89233
/cc @verb

[2020-03-19 01:03] Huang-Wei commented on #88614
True, end-user should be aware of this when implementing their own plugin.
The default deletion logic will remain unchanged.

[2020-03-19 01:05] Huang-Wei commented on #89036
Jun raised 2 points here, @alculquicondor could you clarify which one (or both) you don't think should be exposed as plugin?

[2020-03-19 01:23] jingpengw commented on #40817
I have this issue in 2020!

[2020-03-19 01:27] jingpengw commented on #40817
I found that my issue is because the pod was shutdown during my execution!

[2020-03-19 01:28] hex108 commented on #89036
The logs show that preemption takes most of the time. I could do some profile for it . Howerver there is another problem that I try to solve: `If you delete a PriorityClass, existing Pods that use the name of the deleted PriorityClass remain unchanged`([reference here](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#priorityclass)). It means that it is not enough to just

[2020-03-19 01:31] Huang-Wei commented on #89036
This may be implemented in garbage collector when it detects a PriorityClass gets deleted.

[2020-03-19 01:32] markyjackson-taulia commented on #88933
/milestone v1.19

[2020-03-19 01:48] hex108 commented on #89036
Do you mean that garbage collector deletes pods that use the deleted priroirty class?

[2020-03-19 03:00] kidiyoor commented on #86485
Facing the same. The issue was surfaced when we restarted a ingress POD.
[code]

Made sure that health checks work from inside the POD.
[code]

Logs from kubelet
[code]

[2020-03-19 03:05] Huang-Wei commented on #89036
Yes, which is running as a watchdog goroutine in controller manager.

[2020-03-19 03:06] kidiyoor commented on #86485
From above discussion it looks like the error log is not the direct reflection of the problem here. What else can I look into to pin point the issue ?

[2020-03-19 03:07] mikerain commented on #19317
it works for me.

[2020-03-19 03:14] liggitt commented on #89226
All of the etcdctl check perf results you ran (even the ones that “passed”) had writes slower than what Kubernetes warns about. Those write times look quite slow; what options did you run the `check perf` command with? Since you see slow write times directly using etcd, this doesn’t seem particularly like a Kubernetes issue. I would suggest asking in the etcd repo (and noting you’re running in azu

[2020-03-19 03:17] tedyu commented on #86485
@marqc @kidiyoor
See PR #89155 which may fix the readiness condition update.

[2020-03-19 03:55] haizaar commented on #78902
@gbdevw StatefulSet with pod anti-affinity is a bit tricky, since you replica count needs to match number of nodes to fully replicate DaemonSet (and number of nodes may change).

Did you find any other creative ideas eventually? I want to run an IO benchmark on dynamically provisioned volumes, one per node, and DaemonSet+DynamicProvisioning would've been a perfect answer.

[2020-03-19 04:31] hex108 commented on #89036
I am not sure it makes sense because users does not know whether there are pods using the priroity class when they delete it, and the deleted class acutually should not affect existing pods.

How about counting and recording the number of pods that use each priroity class?  Then we could find the lowest priority.

[2020-03-19 04:46] rahuldivgan commented on #79224
Please re open this. This is specially very useful when dealing with opensource helm charts which allow to load custom configurations through labelled config maps. And it is common that such configurations have some kind of secrets like db credentials, smtp credentials etc.

For example:
In prometheus operator regarding alertmanager configurations, it is possible to have custom alert manager confi

[2020-03-19 04:47] dardanos commented on #73906
Thanks, @saibaldey, I ended up recreating the cluster, and everything started to work without problems. I'm sure it was something I did that left the cluster in an inconsistent state.

[2020-03-19 05:22] #88645 closed

[2020-03-19 06:41] liupeng0518 commented on #89208
It looks different, just delete the pod here

[2020-03-19 06:47] zoftdev commented on #52172
Yes we found

[2020-03-19 06:53] everpeace commented on #85871
/remove-lifecycle stale

[2020-03-19 07:14] uablrek commented on #85397
I may have misunderstood, but is the problem that traffic to `ClusterIP` is loadbalanced? But traffic to nodeIP:norePort is delivered locally?

If so this is expected behavior. Note the "external" in `externalTrafficPolicy: local`, traffic to `clusterIP` is *internal* and is still loadbalanced.

[2020-03-19 07:27] rgarcia89 commented on #89226
@liggitt I run the `check perf` command without any further options.
`etcdctl --endpoints="https://127.0.0.1:2379" --cert="/etc/kubernetes/pki/etcd/healthcheck-client.crt" --key="/etc/kubernetes/pki/etcd/healthcheck-client.key" --cacert="/etc/kubernetes/pki/etcd/ca.crt" check perf`

I think I will also reach out to azure and see what day say. In a benchmark I just run instances at AWS never droppe

[2020-03-19 07:31] saurav-bhagat opened #89245 "Custom deployment of jupyterhub in EKS."
I'm using the extracted deployment files from the helm chart to deploy jupyterhub. After deploying all of my objects, I'm able to access hub using this command:
`kubectl port-forward --address <my_ip> pod/proxy-754bfc4478-567p2 80:8000`

Now, I'm trying to access it using ingress. But this is not working and I'm unable to resolve this.
My Ingress file:
`

`
And this is my proxy-public config:

`

[2020-03-19 08:05] fatedier opened #89247 "Export new constructor for DelayingQueue in client-go"
**What would you like to be added**:
Current constructors:

[code]

Could we export a new constructor like `NewDelayingQueueWithCustomQueue(q Interface) DelayingInterface` to inject custom queue.

**Why is this needed**:
In my project, i want to create a `DelayingQueue` with a custom queue based on workqueue.Interface but have no way to do that.

[2020-03-19 08:08] fatedier commented on #89247
/sig api-machinery

[2020-03-19 08:17] Vorian-Atreides commented on #45509
I have been working on a solution so far but will be busy in the next 3 weeks, if someone want to pick it up until I am available again: https://github.com/Vorian-Atreides/kubernetes/tree/features/probe-downscaling-index . Pretty much everything is done but some tests are failing due to the API changes from adding the new Probe. Also if we agree on the above solution, could someone /assign it to m

[2020-03-19 08:51] cben commented on #73692
/remove-lifecycle rotten

[2020-03-19 09:02] josephburnett commented on #84142
@paalkr thanks for the report.  I am able to reproduce this on 1.14.10 with your test yaml.

I will find the root cause and come back to you shortly.

[2020-03-19 09:02] josephburnett commented on #84142
/assign josephburnett

[2020-03-19 09:24] droslean commented on #88802
Job has been moved in https://github.com/kubernetes/test-infra/pull/16835 . Thanks @listx

[2020-03-19 09:24] droslean commented on #88802
/close

[2020-03-19 09:24] #88802 closed

[2020-03-19 09:25] dparv commented on #26000
same issue with 1.15.10

[2020-03-19 09:25] bgpat commented on #84142
This issue is reproduced in my environment (v1.15.9) too, and it's resolved by replacing the metric type from [PodsMetricSource](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#podsmetricsource-v2beta1-autoscaling) to [ObjectMetricSource](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#objectmetricsource-v2beta1-autoscaling). I suspect the formula calculat

[2020-03-19 09:36] uablrek commented on #89208
Please note that the "weight" for "10.233.124.171:7979" is 0 (zero). This means that it will not get any new connections but old connections remains and (I assume) will receive a RST if used. This I believe is a part of the "graceful termination" mentioned in #81482.

[2020-03-19 09:41] MelissaOS commented on #89143
Is there a timed event where kubernetes handles these containers when they are seen to be unresponsive. what is the time gap for this? Is there a way to modify this time gap?

[2020-03-19 09:43] nicorikken commented on #83094
/remove-lifecycle stale

[2020-03-19 09:52] #81256 closed

[2020-03-19 10:20] panpan0000 commented on #66607
Don't close this issue .
For kube-proxy in iptable mode, we can simply add `iptables  -t nat -I PREROUTING -d $LB_IP -j RETURN
` to workaround this .
But for kube-proxy in IPVS mode, we have no idea how to stop this 'hijack' behavior .

@timoreimann , looking forward to your fix.

[2020-03-19 10:53] #77943 closed

[2020-03-19 11:54] #83891 closed

[2020-03-19 12:20] hasheddan commented on #89197
I have not observed a flake here since the dashboard was moved to https://testgrid.k8s.io/sig-release-releng-presubmits#release-test

Going to go ahead and close this out until we encounter new flakes.

/close

[2020-03-19 12:20] #89197 closed

[2020-03-19 12:31] oponder commented on #18982
My use case is indeed to revoke all certs and start over, without having to change the CA or revoke an intermediate certificate, since that is a lot more work, or not directly in people's control.

[2020-03-19 12:44] wojtek-t commented on #89229
This isn't true - we're using the real kubelet logic. We're trying to fake as little as possible (in particular we're faking the container runtime underneath and volume manager). We're trying to repliace this logic. And this by-design, as thanks to it we simulate the load to apiserver much more accurate.

[2020-03-19 12:54] skwasiborski opened #89254 "kubectl --prune fails when pruning namespace that is being removed"
**What happened**:
Using kubctl apply with --prune (and -l flag ) fails if kubernetes tries to prune namespace that is already being removed. This happens for me in CI/CD when multiple pipelines try to prune the same thing.
[code]
**What you expected to happen**:
I would expect the prune to not fail if it tries to remove namespace (or any other resource) that is already being removed. Since the re

[2020-03-19 13:00] skwasiborski commented on #89254
/sig cli

[2020-03-19 13:07] #89021 closed

[2020-03-19 13:12] jingyih commented on #89154
/reopen
Until #89214 is merged.

[2020-03-19 13:41] alculquicondor commented on #88614
@vincent-pli do you run your own control plane?

[2020-03-19 13:43] alculquicondor commented on #88614
An alternative I can think of is that we add a new DeleteOption that allows to include a reason for deletion or the controller that is triggering it. But that's an API change that we would need to discuss with API reviewers.

[2020-03-19 13:48] avorima commented on #86509
I have a question reguarding this. Here's my setup:

[code]

[code]

[code]

I get the following events:
[code]

So even though the `deletionTimestamp` is set on the child, the owner deletion does not wait until the finalizer is removed.

Is this expected behaviour? And if so, is it possible to ensure that the owner waits until the child is actually deleted?

[2020-03-19 13:56] #84106 closed

[2020-03-19 13:59] alculquicondor commented on #89036
I didn't mean that preemption might not be the bottleneck. It likely is. However,

I don't think that's the scenario that is going to save us much running time. If there is at least one pod per node that has lowest priority, we still have to do the rest of the preemption algorithm.

I like this (and it could be part of the core scheduler, rather than in a plugin). If we find enough nodes were pree

[2020-03-19 14:09] avorima commented on #86509
Ok, so the issue is that `kubectl delete` apparently doesn't actually set the deletion propagation to foreground. I would expect this to be the case if `--wait` and `--cascade` are set to `true`.

[2020-03-19 14:33] alculquicondor commented on #89229
In that case, the kubemark->kubelet->scheduler dependency should remain there, as it is used to verify resource usage, tolerations and other node-specific constraints.

[2020-03-19 14:42] alejandrox1 commented on #89052
Thank you for looking into this @spiffxp !
/milestone v1.19

[2020-03-19 14:44] szuecs commented on #72155
/remove-lifecycle stale

[2020-03-19 14:45] alejandrox1 commented on #87807
Possible duplicate of https://github.com/kubernetes/kubernetes/issues/89052
/close

[2020-03-19 14:47] alejandrox1 commented on #87807
/reopen
closed prematurly, https://github.com/kubernetes/kubernetes/issues/89052 s strictly for 1.18
Failures seem very much related but just to make sure gonna keep this one open to track verify failures in master.
/milestone v1.19

[2020-03-19 14:55] andrewsykim commented on #88698
@xmath279 can you share your service spec?

[2020-03-19 15:00] alculquicondor opened #89259 "TestNominatedNodeCleanUp is flaky"
**Which jobs are flaking**:

pull-kubernetes-integration

**Which test(s) are flaking**:

TestNominatedNodeCleanUp

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89162/pull-kubernetes-integration/1240643459644133376

**Reason for failure**:

[code]

/sig scheduling

[2020-03-19 15:00] andrewsykim commented on #88698
Curious which port you were testing against. Note that the source check only works against the load balance IP, if you were testing node ports directly it wouldn't work.

[2020-03-19 15:04] ahg-g commented on #89229
But that doesn't improve things too much, the package that "provides support for plugins" will still need to be included in the import-restrictions file of kubemark, right?

[2020-03-19 15:19] Erokos commented on #75262
Sorry for commenting on a closed issue, but if I understand correctly, when using "externalTrafficPolicy: Local" as a setting in our service resource files, if there are no pods on a node in the cluster, the traffic will still get routed to that node and end up dropped?

For example if I have a multi-node k8s cluster fronted by an internet-facing ELB connected to nginx pods acting as reverse proxi

[2020-03-19 15:25] alculquicondor opened #89260 "Remove kubescheduler.config.k8s.io/v1alpha1"
/sig scheduling
/kind cleanup

As we get ready to move to beta, we should first get rid of the v1alpha1 API to reduce maintenance cost.

In particular, this would free us from having to maintain Algorithm Source.

Before I open this for contributors, I would like to know if there are any concerns.

[2020-03-19 15:27] bogdanpetrea commented on #57838
Is it safe to assume this not the intended behavior and will be fixed sometime in the future?

[2020-03-19 15:30] Huang-Wei commented on #89260
+1. It's a common practice to only keep one alpha release to reduce maintenance efforts, such as kubeadm componentconfig API.

[2020-03-19 15:36] AlexeyKasatkin commented on #88153
We saw the same issue in different pod scaling scenarios. Probability of "PLEG not healthy" was connected with parameters of scaling ([number of pods]/[sec] or [number of pods]/[scaling step]) and with Windows instance flavor (more vCPUs == better node "durability"). Cloud providers in use: AWS and Azure.

[2020-03-19 15:41] alculquicondor commented on #89229
Yes, but that's a more limited package with less dependencies, as opposed to the framework "runtime".

That said, that might not be as important as long as test owners don't push back on imports we keep adding.

[2020-03-19 15:45] ahg-g opened #89261 "Support the new stable labels for zone and region in the scheduler"
The volume zone filter plugin in the scheduler currently only operates on the [old beta labels](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/volumezone/volume_zone.go#L85). The GA labels were introduced in 1.18 and it seems we have missed to update the scheduler to use those.

we should backport to 1.18 and 1.17.

/help
/sig scheduling
/priority important-so

[2020-03-19 15:53] droslean commented on #89177
/milestone v1.19

[2020-03-19 15:54] thockin commented on #88236
Once the pod is deleted, the "upstream" load-balancers need to actually remove it from their backend sets.  This is async and can take time, during which you will continue to receive requests.  This is "normal".  I expect that somewhere between 2 and 30 seconds later those new requests will cease.

If this is a real problem for the app, you can add a `preStop` lifecycle hook that exec's `sleep 60`

[2020-03-19 15:54] #88236 closed

[2020-03-19 15:54] droslean commented on #88974
/milestone v1.19

[2020-03-19 15:59] droslean opened #89262 "[Failing Test] gce-windows-2019-master (ci-kubernetes-e2e-windows-gce-2019)"
**Which jobs are failing**:
`gce-windows-2019-master (ci-kubernetes-e2e-windows-gce-2019)`

**Which test(s) are failing**:
`[sig-cli] Kubectl client Guestbook application should create and stop a working application [Conformance]`

**Since when has it been failing**:
`18th March 09:47 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2019-master

**Reason fo

[2020-03-19 16:01] droslean commented on #89177
/assign @soltysh

[2020-03-19 16:09] droslean commented on #87556
closing. These flakes stopped appearing.
/close

[2020-03-19 16:09] #87556 closed

[2020-03-19 16:14] droslean commented on #87473
I wasn't able to find any flake with a reason described in the issue. Closing...
/close

[2020-03-19 16:14] #87473 closed

[2020-03-19 16:14] thockin opened #89263 "Pod lifecycle, termination can be improved around LBs and grace period"
**What would you like to be added**:

This is about Pods which have LBs in front of them (even clusterIP).  The normal shutdown sequence today is that the Pod is deleted, which simultaneously triggers it to be removed from endpoints and for kubelet to send SIGTERM (or whatever stopsignal is set to) to all containers.

Because the LB programming and the Pod "grace period" are concurrent, the LBs wi

[2020-03-19 16:17] droslean commented on #87855
Since the flakes described in this issue have dropped, I am closing this issue.
/close

[2020-03-19 16:17] #87855 closed

[2020-03-19 16:18] droslean commented on #85762
/milestone v1.19

[2020-03-19 16:18] 0xVox commented on #78446
While this is no solution for the port-forward recovering properly, I did find it solved my use-case.

When trying to tunnel to a mysql box we couldn't keep a connection alive for more than ~60 seconds, completely ruining the experience for anyone running long-running queries.

By creating a new connection regularly we seemed to be able to keep the port-forward tunnel open.

- Start your port-forw

[2020-03-19 16:19] liggitt commented on #85762
/milestone v1.18

we need an ack from sig-leads whether this is release blocking or not

[2020-03-19 16:19] droslean commented on #85814
/milestone v1.17

[2020-03-19 16:20] droslean commented on #86181
/milestone v1.19

[2020-03-19 16:20] droslean commented on #87092
/milestone v1.19

[2020-03-19 16:20] droslean commented on #87376
/milestone v1.19

[2020-03-19 16:21] droslean commented on #88707
/close

[2020-03-19 16:21] #88707 closed

[2020-03-19 16:21] droslean commented on #86355
/milestone v1.19

[2020-03-19 16:23] liggitt commented on #89226
sounds good. closing this issue since this doesn't seem to be kube-specific.

[2020-03-19 16:23] #89226 closed

[2020-03-19 16:26] droslean commented on #89134
/reopen

The job is still red.  @adelina-t It seems that https://github.com/kubernetes/kubernetes/pull/89227 was merged in the wrong branch. Can you check? This job runs in `release-1.8` branch as well? Do we need to cherry-pick it?

[2020-03-19 16:26] ahg-g commented on #89209
/remove-sig scheduling

the scheduler doesn't enforce quotas.

[2020-03-19 16:27] ahg-g commented on #89143
/remove-sig scheduling
/sig node

[2020-03-19 16:29] ahg-g commented on #89022
/remove-sig scheduling
/sig node

[2020-03-19 16:31] thockin commented on #87465
Please don't use the `gitRepo` volume.  It's very limited and not likely to be fixed.  You'll have a much better time (hopefully) with https://github.com/kubernetes/git-sync

[2020-03-19 16:31] #87465 closed

[2020-03-19 16:33] fengzixu commented on #89259
/assign @fengzixu

[2020-03-19 16:49] apelisse opened #89264 "Server-side apply doesn't work for APIService"
It looks like the openapi is not routed properly to set-up the apiservice so apply requests will fail because the fieldmanager is not set-up properly.

/cc @jennybuckley @liggitt
/sig api-machinery
/priority important-soon
/kind bug

[2020-03-19 16:54] xmath279 commented on #88698
@andrewsykim

Here is the service:

[code]

I have replaced the range and ingress IP to random ones, but it is to illustrate that they are not in the same subnet.

The command used to test is `watch -n1 nmap -p3306 198.50.196.23`

[2020-03-19 16:55] andrewsykim commented on #88698
And what's the source of the IP calling running nmap?

[2020-03-19 16:59] apelisse commented on #89264
/wg apply
/cc @kwiesmueller

[2020-03-19 16:59] andrewsykim commented on #88698
The ingress IP and source ranges are supposed to be different. The `loadBalancerSourceRanges` is used to restrict any  traffic from a source not in the provided ranges.

[2020-03-19 16:59] davesargrad commented on #87465
@thockin Thanks for the pointer.. i'll look at git-sync.. i was only looking at the other since it was used as an example in [Camel in Action](https://www.manning.com/books/camel-in-action).

[2020-03-19 17:01] xmath279 commented on #88698
I know that, I just replaced the real values with ones that aren't associated with me.

The IP used to perform the nmap command is not in the 70.29.170.0/24 range.

The behavior is that from a second to another, the port if shown as filtered to open and it does that indefinitely. The port isn't constantly closed as it should be.

[2020-03-19 17:04] andrewsykim commented on #88698
Gotcha, thanks for clarifying. I'll look into it

[2020-03-19 17:05] liggitt commented on #89264
OpenAPIModels is set to nil for the kube-aggregator server config (which serves the APIServices API):
[code]

This is done because the kube-aggregator has a special openapi handler that aggregates all the other server's openapi docs.

The `GenericConfig.OpenAPIConfig` field controls (at least) two things:
* /openapi endpoint serving (which we want kube-aggregator to continue to customize)
* creati

[2020-03-19 17:06] thockin commented on #87150
The short answer is that you can't really update the node's PodCIDR.  It generally gets cached in the node, and any running pods need to be restarted.

The most complete answer is to drain, delete, and re-init the node.

[2020-03-19 17:06] #87150 closed

[2020-03-19 17:10] #89174 closed

[2020-03-19 17:15] thockin commented on #86244
Setting resources to 0 lowers the overall QoS band for the pod, which makes it more likely to be evicted.  In practice, you can't set 0 for things like CPU shares, so it gets translated to a small, but representable, value.

You can also set quotas on number of pods.  https://kubernetes.io/docs/tasks/administer-cluster/quota-api-object/

Since this is not a bug or feature request, I am going to cl

[2020-03-19 17:15] #86244 closed

[2020-03-19 17:19] praseodym commented on #89245
/remove-lind failing-test
/triage support

[2020-03-19 17:20] thockin commented on #85902
"Empty reply from server" is very different from "connection refused" or similar.

Can you test it at a lower layer - try just to `nc` to the host:port and confirm it does actually connect.

Assuming it does, the problem seems to be in your app - whatever is receiving that packet is doing .. something.

This does not seem to be a bug in Kubernetes proper, so I am going to close it now, but please

[2020-03-19 17:20] #85902 closed

[2020-03-19 17:22] praseodym commented on #89016
/assign 0xMH
because of open PR

[2020-03-19 17:22] thockin commented on #85881
Hi, is this still an issue?  Is it reproducible?  Does it resolve itself over time or persist?

[2020-03-19 17:23] jiahuif commented on #87163
Fixed by #88987 (cherry-picked to 1.18 #89238)
/close

[2020-03-19 17:23] #87163 closed

[2020-03-19 17:25] thockin commented on #85757
A connection timeout would imply a firewall dropping the connection.  This issue is a few months old - do you still have a problem?  If not, we should close it.

[2020-03-19 17:28] thockin commented on #85632
This is not normal behavior.  My guess is that your container is restarting (maybe a failed livenessProbe), but there's not enough info here to triage.  Regardless, it doesn't seem like a bug in Kubernetes - I just ran a long exec (hours) with no problems.

If you have indications that it is something in Kubernetes - please reopen this with whatever data you can gather.

[2020-03-19 17:28] #85632 closed

[2020-03-19 17:56] wyardley commented on #62283
If you're, for example, doing reporting on _which_ versions are out of date in the first place, how would one use `kubectl` to find the deployment version?

I do personally find it pretty confusing that the last applied version annotation (and web UI, for GKE) show `apps/v1`, and `kubectl get deployment -oyaml` shows `extensions/v1beta1` (when the only deployment that exists is an `apps/v1` one),

[2020-03-19 18:10] thockin commented on #85483
@avarf I confirm that kube-proxy does not restart when the metrics port can not be bound.  The problem with "fixing" that is that it converts a "soft" fail into a "hard" fail, and there are very likely people who are surviving the soft fail today without really noticing.

That said, if you have healthz and metrics on the same port, it might cause the proxy to get restarted.

None of that should ca

[2020-03-19 18:13] droslean commented on #85762
@liggitt This issue is opened for 2 releases in a row. I guess the flake is not a release-blocking. In addition, there are many PRs linked to this issue, and many attempts happened to make the situation better. However, we should keep this issue open and make sure that the flake will disappear.
 WDYT?

cc @spiffxp

[2020-03-19 18:14] thockin opened #89265 "kube-proxy should treat failure to bind to a port as fatal"
**What would you like to be added**:

If kube-proxy fails to bind to MetricsBindAddress or HealthzBindAddress, it either retries forever in the background or never tries again (respectively).

Both of these should probably be considered fatal, but that would turn a "soft" fail into a "hard" fail, and very likely there are people out there living with the soft fail, so we can't break them.

We can

[2020-03-19 18:14] thockin commented on #85483
https://github.com/kubernetes/kubernetes/issues/89265

[2020-03-19 18:15] apelisse opened #89266 "SSA: `kubectl apply --server-side` should not client-side validate"
Since some of the objects applied may not be fully valid, we should disable validate by default.

[2020-03-19 18:15] serathius opened #89267 "Remove prometheus dependencies from k/k codebase"
As part of Metrics Stability KEP we migrated from Prometheus client to Kubernetes Metrics Framework. So we no longer need to depend on promethues client directly.

I configured Bazel to forbid importing prometheus directly. https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/metrics/BUILD#L85

There are still couple of directories that need to be cleaned up:
* [

[2020-03-19 18:16] thockin commented on #85483
Unless I have a clear way to repro this (is there a specific test you can help craft?) I can't do anything with it.  I'll leave it open for now, but really we should close it, or at least let it age-out.

[2020-03-19 18:18] thockin commented on #85409
There's no generic way to set this.  A particular CNI driver might let you set it, but it's not safe in general.

[2020-03-19 18:18] #85409 closed

[2020-03-19 18:18] apelisse commented on #89266
/wg apply

[2020-03-19 18:19] thockin commented on #85407
Kubernetes does not offer general pod mutexing like you describe.  You'll have to implement it yourself.  One way would be to use a hostPath or a kubernetes Lease resource.

[2020-03-19 18:19] #85407 closed

[2020-03-19 18:21] caseydavenport commented on #88720
@ukreddy-erwin it sounds like you're still able to access the UI but that it's returning a 404? That would lead me to believe that networking is functioning properly to get you to the service, but that you're hitting a URL that the Dashboard cannot serve.

Have you tried any of these other methods to see if they work? https://github.com/kubernetes/dashboard/blob/master/docs/user/accessing-dashboar

[2020-03-19 18:22] sshishov commented on #59031
/remove-lifecycle rotten

[2020-03-19 18:23] caseydavenport commented on #87305
Yeah, this should be closed and a corresponding Calico issue should be opened. Note that Calico did not have support for SCTP ports in policy rules until [Calico v3.12](https://docs.projectcalico.org/v3.12/release-notes/)

/close

[2020-03-19 18:23] #87305 closed

[2020-03-19 18:25] thockin commented on #84244
Check the permissions assigned.  They were expanded at some point:

[code]

Look for a block like:

[code]

[2020-03-19 18:25] #84244 closed

[2020-03-19 18:27] caseydavenport commented on #86889
I think you might have your policy types backwards - `externalTrafficPolicy: Local` will preserver source client address, whereas `Cluster` will potentially redirect the request to another node in the cluster and thus lose the source address.

Are you sure you don't want `Local`?

Similarly, could your sporadic issues with `Cluster` type be due to the requests being sent to other nodes unexpectedl

[2020-03-19 18:27] alculquicondor opened #89268 "pull-kubernetes-integration is flaky"
**Which jobs are flaking**:

pull-kubernetes-integration

**Which test(s) are flaking**:

Several, for example:
`TestBrokenWebhook`, `TestMaxResourceSize`

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89162/pull-kubernetes-integration/1240655156647825416
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89230/pull-kubernetes-integration/12406566647014

[2020-03-19 18:29] caseydavenport commented on #85809
closing due to inactivity

/close

[2020-03-19 18:29] alculquicondor commented on #89268
/sig api-machinery

[2020-03-19 18:29] #85809 closed

[2020-03-19 18:29] caseydavenport commented on #84598
/close

[2020-03-19 18:29] #84598 closed

[2020-03-19 18:32] caseydavenport commented on #79866
Relevant KEP was merged for this here: https://github.com/kubernetes/enhancements/pull/1354

/remove-lifecycle rotten

[2020-03-19 18:32] gnufied commented on #57185
We will consider this as done for now. we will move all of online expansion GA along with rest of volume expansion.

/close

[2020-03-19 18:32] #57185 closed

[2020-03-19 18:38] eddiezane commented on #89265
Newbie here. I'd love to take a stab at this one.

@thockin I didn't test manually but looking at (what I believe is) the code it seems that both Metrics and Healthz have the same retry logic with `wait.Until` ... `wait.NeverStop`.

Thoughts?

https://github.com/kubernetes/kubernetes/blob/2c8ef3b19d5b3c1fda0123912e6cd2d1feac7427/cmd/kube-proxy/app/server.go#L618-L623

https://github.com/kubernetes

[2020-03-19 18:41] liggitt commented on #89268
this might be a symptom of resource-crushed test nodes, rather than issues in those particular tests

https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5&sort-by-failures=&exclude-filter-by-regex=TestStressingCascadingDeletion|Overall

looks like these started around 03-08

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-integration-mast

[2020-03-19 19:17] caseydavenport commented on #41881
/kind enhancement
/remove-triage unresolved
/assign @bowei for Ingress

[2020-03-19 19:17] caseydavenport commented on #41881
/kind feature

[2020-03-19 19:19] caseydavenport commented on #84997
/remove-sig network
/sig node

[2020-03-19 19:23] thockin commented on #84230
We can't disable conntrack for DNS because that is how services are implemented.  DNS *typically* is a single request and response, but I am reluctant to assume that in the face of arbitrary networks and things like fragmentation.  That said, it would be nice to have a very fast conntrack timeout for DNS, e.g. 1-2 seconds.

[2020-03-19 19:24] thockin commented on #84230
Do we think this is a bug in k8s?  Do we have a repro we can run?

[2020-03-19 19:25] thockin commented on #84794
@davidrjx - is this still an issue?

[2020-03-19 19:26] tedyu commented on #84997
/assign

[2020-03-19 19:27] thockin commented on #84997
There are a lot of open bugs that come down to pod lifecyle - I'm not against more hooks, but we should be careful - ready is not a one-way flip.  You can become unready, too.

[2020-03-19 19:33] velickym commented on #72597
+1 feels kindda essential

[2020-03-19 19:33] Huang-Wei commented on #89036
It's debatable. I read the priorityClass <-> pod.spec.priority as a "soft" controllerRef - priorityClass acting as the controller, pod.spec.priority as the controllee. Once the controller gets updated/deleted, the controllee should be impacted in a cascading way.

[2020-03-19 19:37] thockin commented on #85020
The way node ports are implemented today, protocol is not considered.  This was mostly just a simplifying decision - node ports are *usually* not human-oriented.

I'm not particularly inclined to fix this - it's a lot of complexity for very little benefit.   Convince me I am wrong?  Otherwise we should close this.

[2020-03-19 20:03] philipsparrow commented on #85020
@thockin I'd like to attempt to convince you.
For cloud-based deployments of K8s, I would agree - the cloud LoadBalancers will pick a NodePort and have no issue, however for deployments without access to load balancers (e.g. deployments done at the edge) this is an issue. It is the only way I can listen on a particular port for particular traffic coming into a cluster and for some applications, it

[2020-03-19 20:04] fedebongio commented on #89015
/assign
/cc @jpbetz

[2020-03-19 20:08] fedebongio commented on #89017
/assign @jpbetz

[2020-03-19 20:08] fedebongio commented on #89020
/assign @logicalhan

[2020-03-19 20:11] fedebongio commented on #89062
/assign @logicalhan

[2020-03-19 20:14] fedebongio commented on #89076
/assign @jpbetz

[2020-03-19 20:14] Huang-Wei commented on #89229
My 2 cents is to move out the shared functions in individual plugin (pkg/scheduler/framework/plugins) where that plugin itself depends on pkg/scheduler/framework/v1alpha1.

Take the kubemark for example, the full dependency chain is:

[code]

So we can move `pkg/scheduler/framework/plugins/noderesources/fit.go#Fits()` to some common place to eliminate the indirect dependency from /test/e2e/framewo

[2020-03-19 20:16] fedebongio commented on #89140
/assign @jennybuckley

[2020-03-19 20:17] fedebongio commented on #89156
/assign @yliaog

[2020-03-19 20:19] fedebongio commented on #89157
/assign @MikeSpreitzer
Thank you for fixing docs!

[2020-03-19 20:22] fedebongio commented on #89168
/assign @caesarxuchao

[2020-03-19 20:22] aaronjwood commented on #89017
So the expectation is to use schemes outside of any parallelism?

[2020-03-19 20:25] fedebongio commented on #89247
@fatedier thanks for the issue! We've reviewed it in the bug triage, and the consensus was that to ask you to send a PR with this and discuss it there. Would you be able to do it?
thanks!

[2020-03-19 20:28] fedebongio commented on #89206
/help-wanted

[2020-03-19 20:28] fedebongio commented on #89082
/help-wanted

[2020-03-19 20:29] fedebongio commented on #89082
/good-first-issue

[2020-03-19 20:29] fedebongio commented on #89082
/good-first-issue

[2020-03-19 20:34] lucasOliveira91 commented on #85757
I solved the issue, I was using the centOS 8 then i needed to change the nftables to legacy mode Iptables, the k8s is not compatible with nftables.

[2020-03-19 20:34] #85757 closed

[2020-03-19 20:35] Jarnek opened #89271 "Wake a node on Lan"
Hey guys,
I would like to use kubernetes on my home server to run applications like nextcloud or teamspeak.
My current setup is a raspberry pi as master and a hp server as worker. The issue is the amount of power the hp consumes. Is it possible to set the whole worker node asleep or even shut it down while there are no requests and wake it up again via WOL if needed?

[2020-03-19 20:37] Jarnek commented on #89271
/sig Node

[2020-03-19 20:37] thockin commented on #85082
In general it's complicated to predict how two different systems are going to interact when they are both messing with iptables rules.  I have zero visibility into what firewalld is doing or why, or how that would be implemented.  There are no documented conventions for making sure iptables-using things don't tromp all over each other.

The easy answer is "don't use firewalld".  But that's trite.

[2020-03-19 20:41] thockin commented on #85397
@ualbrek is right.  `externalTrafficPolicy` is for external traffic - not in-cluster traffic.

We're looking at how to solve the "daemonset service" use-case, but that's not `externalTrafficPolicy`

[2020-03-19 20:41] #85397 closed

[2020-03-19 20:54] jpbetz commented on #89017
The scheme can be _used_ in parallel, but should be _constructed_ statically.

Example: https://github.com/kubernetes/kubernetes/blob/f52cbea102bb6ba9fe951cbf81e7dd4b48f95d9e/staging/src/k8s.io/client-go/dynamic/fake/simple_test.go#L63

[2020-03-19 21:01] jpbetz commented on #89076
@alena1108 Can you provide more context with the issue this caused? Typically the timeouts work well at the values they are currently set to and then clients retry under heavy server load.  Do you have any formation about the distribution of time it is taking the clients to establish connections or more information about why the server is so overloaded?

[2020-03-19 21:03] thockin commented on #85643
This is a problem with 2-hop load-balancing - the end-of-life handling of pods doesn't really have a way to describe "upstream" dependencies and sequencing.  The endpoints controller sees the pod as terminating and immediately removes it from the set.  Kube-proxy has no choice but to also remove it from the list of available backends.  As you described, the upstream LB hasn't received the news yet

[2020-03-19 21:03] aaronjwood commented on #89017
Got it, thanks!

[2020-03-19 21:03] #80370 closed

[2020-03-19 21:03] alculquicondor commented on #89229
Yeah, that was my idea (from question 1).

More generally, I think those calculations could even be outside of both the scheduler and kubelet code. But living somewhere outside of `pkg/scheduler/framework/plugins` should be a good enough solution for now.

[2020-03-19 21:05] alculquicondor commented on #89229
On the other hand, you could say that kubelet should (instead) instantiate a framework and run the plugins it needs from there. Then we can't really solve this problem until we decide to move the framework to staging.

[2020-03-19 21:14] jpbetz commented on #89017
no problem

/close

[2020-03-19 21:14] #89017 closed

[2020-03-19 21:17] thockin commented on #86507
@alexanderConstantinescu are you able to followup on this for triage?

[2020-03-19 21:19] thockin commented on #87426
ping @satyasm

[2020-03-19 21:27] satyasm commented on #87426
/unassign @satyasm
/label help-wanted

[2020-03-19 21:29] satyasm commented on #87426
I have not had a chance to look at this or add any more details on top of what is already in the discussion above. Un-assigning myself to remove confusion so other can help. Thanks!

[2020-03-19 21:36] thockin commented on #87968
This is a great topic.  I think the best forum for this would be the sig-network mailing-list rather than an issue here, at least until we can start to describe what we want to happen.

[2020-03-19 21:36] #87968 closed

[2020-03-19 21:37] datavisorerzuozhou commented on #51907
Any updates on this issues?

[2020-03-19 21:37] rikatz commented on #87946
@ehsanrocket can you please take a look into this [comment](https://github.com/kubernetes/kubernetes/issues/86507#issuecomment-595227060) and check if this is the same case?

"I disabled offloading with
sudo ethtool --offload flannel.1 rx off tx off
and this indeed helped."

[2020-03-19 21:43] lavalamp opened #89273 "serverside apply: delete dropped fields"
I used `args` for my container in a Deployment (via SSA). Then I discovered that I'd screwed up the entrypoint in my container, and switched to use `command`. SSA retained the `args`, which is NOT what I expected to happen.

A counter example where the existing behavior is correct: if I delete spec.replicas, I expect that field to retain its value (probably HPA will start setting it or something).

[2020-03-19 21:44] dcbw commented on #88023
@asheynkman78 if you turn off vxlan offload per the comment here https://github.com/kubernetes/kubernetes/issues/86507#issuecomment-595227060 do things start working?

[2020-03-19 21:44] rikatz commented on #87277
@372046933 can you please take a look into this [comment](https://github.com/kubernetes/kubernetes/issues/86507#issuecomment-595227060 ) and check if it helps?

[2020-03-19 21:48] thockin commented on #88273
What you want is generally covered by "service mesh".  Kubernetes is not really a full mesh, and as you point out, we would need a proxy to intercept and log the traffic.

I suggest you look into Linkerd or Istio or one of the other service mesh implementations.

[2020-03-19 21:48] #88273 closed

[2020-03-19 21:53] robscott commented on #88967
/remove-triage unresolved

[2020-03-19 21:58] apelisse commented on #89273
/cc @jennybuckley

[2020-03-19 22:00] logicalhan commented on #89062
Ah, that's because we haven't actually finished the events API migration, so there are fields currently which we can't use until we migrate ([design doc](https://docs.google.com/document/d/13BeJlrEcJhSKgsHOHWmHdJGqXrjSm_o9XxOtwcN6yNg/edit), [PR](https://github.com/kubernetes/kubernetes/pull/49112), [pending tracking issue](https://github.com/kubernetes/kubernetes/issues/76674)),

Unfortunately, we

[2020-03-19 22:00] Huang-Wei commented on #84306
@ingvagabund Really appreciate the efforts from initial investigation and all the way to the eventual solution!

/remove-help

Feel free to close this issue.

[2020-03-19 22:03] rikatz commented on #88986
@davesargrad can you please take a look if this [comment](https://github.com/kubernetes/kubernetes/issues/86507#issuecomment-595227060) helps?

[2020-03-19 22:05] rikatz commented on #88986
/assign @rikatz

[2020-03-19 22:06] dcbw commented on #88543
@kmala yeah, unfortunately this isn't the way it currently works and it would be a hard lift to make that happen. If you're interested in that, it's best to file a KEP https://github.com/kubernetes/enhancements#when-to-create-a-new-enhancement-issue describing the issue and the proposed solution, since this would touch not just networking but apiserver and a bunch of other areas.

One of the reaso

[2020-03-19 22:16] kwiesmueller opened #89274 "Server Side Apply: Manually updating managedFields should be impossible through sub-resources"
It should not be possible for the user to edit managedFields through sub-resources (like status).

To clarify, managedFields should still change based on the changes on the sub-resource, but not be writable for the user. To modify them directly, the parent resource should be used.

[2020-03-19 22:16] kwiesmueller commented on #89274
/sig api-machinery
/wg apply
/cc @apelisse @jennybuckley @julianvmodesto

[2020-03-19 22:20] thockin commented on #88253
I am not sure that's right - NamespaceSelector is a `metav1.LabelSelector` type.  We're not going to add an exact match to that, so we'd either have to add a `Namespace` field (more likely `Namespaces`) or do tricky type-embedding that could explode later.

You can add labels and they should never be removed.  kube-system is not deletable, though default is.

all that said, I am not inclined to th

[2020-03-19 22:24] pkdas commented on #87249
I looked at the log - I do see container add/remove e.g. container ID 78ff8aadac734a58d91c483c6f7b92ff770534d5a8860e542df4b99639e04929
It might have been restarted.

[2020-03-19 22:32] thockin commented on #88220
There are a few things going on here.

1) You're masquerading to the node's IP on the way out.  If you didn't do that, you would not have this problem.  I have been seeing an uptick in the number of issues, like this, caused by people configuring their clusters as islands (with overlays) and then wanting them to not behave like islands.

2) If your SNMP manager comes in through the service LB, it

[2020-03-19 22:38] thockin commented on #88148
These symptoms all SCREAM that you are out of PIDs.  Do you have something leaking threads or maybe a ton of zombie processes?  What is in `/proc/sys/kernel/pid_max` ?

@kubernetes/sig-node-feature-requests do we have any clear metrics on number of zombie processes (or IO-hung processes or just processes-by-state)?

[2020-03-19 23:00] thockin commented on #87426
@eraclitux There's something weird going on.  The podCIDR with /24 is per-node.  You do not want to change that to /32.  Your TCPDump shows the servfail from the other pod, so it does seem to be making a connection.

I also reject the assertion that DNS on same-node doesn't work.  It works just fine for me, and has worked forever.

Running an interactive pod on the same node as the only DNS replic

[2020-03-19 23:05] #84069 closed

[2020-03-19 23:15] notpad commented on #89261
/assign
/remove-help

[2020-03-19 23:18] notpad commented on #89267
/assign
I am interested in working on pkg/scheduler/framework/v1alpha1

[2020-03-19 23:22] ofrivera commented on #88148
@thockin yes! that was exactly the problem. For reference, one of the deployments in our cluster was hitting this issue https://github.com/puppeteer/puppeteer/issues/1825 leaving huge amount of zombie processes in our worker nodes. Closing this issue.

[2020-03-19 23:22] #88148 closed

[2020-03-19 23:34] aojea commented on #85866
/remove-triage unresolved

I'm not very familiar with rke but let's assume that it doesn't do any modification of the configuration parameters provided and kubernetes defaults.

Looking at your config, you have configured a cluster cidr with /24

and, by default, the kube-controller-manager uses a /24 per node

That means that the `pkg//controller/nodeipam/ipam/range_allocator.go` will only be abl

[2020-03-19 23:38] aojea commented on #86518
/close
due to inactivity

[2020-03-19 23:38] #86518 closed

[2020-03-19 23:43] aojea commented on #87236
/close
due to inactivity

seems that this is related to dockershim hostport manager and doesn't happen with CRIs

https://github.com/kubernetes/kubernetes/blob/09d142a7ab093faa8a1efc49e37e45058b4a915a/pkg/kubelet/dockershim/network/hostport/hostport_manager.go#L178-L182

[2020-03-19 23:43] #87236 closed

[2020-03-20 00:17] neolit123 commented on #89260
SGTM.

removing v1alpha1, before the beta is out agrees with the table under:
https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-parts-of-the-api
see:

for kubeadm's component config we kept them for a while longer and did not following this guide exactly:

alpha1,2,3 existed at the same time:
https://github.com/kubernetes/kubernetes/tree/release-1.12/cmd/kubeadm/app/ap

[2020-03-20 00:22] neolit123 commented on #89271
i do not believe this has been requested before, but it's interesting.
possibly some managed solutions already do that to preserve resources.

/kind feature

[2020-03-20 00:22] alculquicondor commented on #89260
/help

[2020-03-20 00:24] neolit123 commented on #89265
/sig network

[2020-03-20 00:38] mboersma opened #89276 "Windows volume mounts failing in 1.18.0-rc.1"
**What happened**:
#88684 changed to the `MountSensitive` call but may not have made enough changes. We identified a problem in AKS Engine testing where a Windows volume is never mounted succesfully.

**What you expected to happen**:
Volume is mounted successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Mount a volume from a pod on a Windows node. As we read the new cod

[2020-03-20 00:40] mboersma commented on #89276
/sig windows

[2020-03-20 00:46] andyzhangx commented on #89276
I verified that code change only on Linux, I think one problem is that we don't have windows disk e2e test now,
@chewong is working on this:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/320#issuecomment-601479600
Once we have windows e2e test, we should not have such regression issue.

[2020-03-20 00:49] andyzhangx commented on #89276
And @mboersma could you share the fix? I could take a look, thanks.

[2020-03-20 01:08] vincent-pli commented on #86811
@neolit123
So you means this issue is caused by `controller-tool`?

[2020-03-20 01:12] mboersma commented on #89276
@andyzhangx kubernetes/utils#148 seems to fix it. The unit tests in kubernetes/utils passed before and after the change, so I think we need coverage at that level too.

[2020-03-20 01:14] Huang-Wei commented on #72278
/remove-lifecycle rotten

[2020-03-20 01:31] kmala commented on #88543
Thanks @dcbw
I would definitely be interested in writing a KEP and working on it. I just want to understand what you meant by this would require changes in apiserver and other areas as i was thinking on waiting for deletion of sandboxes which would require changes only in kubelet.

[2020-03-20 01:43] fankangbest opened #89281 "It is dangerous to call os.RemoveAll() when saveVolumeData() fails is csi NewMounter()"
**What happened**:
When saveVolumeData() fails，dataDir is removed, and all data is gone.
[code]
This bug will happen when saveVolumeData() fails(in our environment, the disk is readonly). And the code is introduced in 2018. So most of the k8s environments are in the threaten of this bug.

**What you expected to happen**:
The data in mount point shouldn't be deleted.

**How to reproduce it (as mini

[2020-03-20 01:43] fankangbest commented on #89281
/assign

[2020-03-20 01:44] fankangbest commented on #89281
/sig node

[2020-03-20 02:08] RainbowMango commented on #89267
Thanks @serathius for picking this.
Let's try done this by 1.19.
/milestone v1.19

[2020-03-20 02:14] Nuru commented on #67577
Is there any simple test to see if your kernel has this fixed or not?

I cannot tell if kope.io/k8s-1.15-debian-stretch-amd64-hvm-ebs-2020-01-17 (the official `kops` image) has been patched or not.

[2020-03-20 02:15] tedyu commented on #89281
What problem did you encounter w.r.t. the code cited above ?

thanks

[2020-03-20 02:17] Nuru commented on #67577
@sfudeus @chiluk Is there any simple test to see if your kernel has this fixed or not?

I cannot tell if kope.io/k8s-1.15-debian-stretch-amd64-hvm-ebs-2020-01-17 (the official kops image) has been patched or not.

[2020-03-20 02:47] gavinfish commented on #89260
Hi all, I want to have a try to get familiar with kubernetes api. Is there anything (documents or general commands) I should know before I start the work.

I think this should be similar with #69055

/assign

[2020-03-20 02:51] hbagdi commented on #86889
I'm sorry. That's a major typo. We are using Local to preserve source client address.

The issue happens only when a request is sent to kube-proxy of the same host that is running the pod.

If traffic is redirected to a different worker node from a node which doesn't have a pod running for the destination service, then this issue doesn't happen.

[2020-03-20 02:54] fatedier commented on #89247
@fedebongio Yes, i will do that.

[2020-03-20 02:55] jim3ma commented on #89281
@tedyu
When encounter error, all files in `mount` directory will be deleted.

Step 1, csi mount ok
Step 2, kubelet restart, and call those code
Step 3, encounter error(disk quota exceed or disk readonly and so on), clean all data in csi mount.

[2020-03-20 02:57] davesargrad commented on #88986
@rikatz I am trying to figure out how to interpret the chain of comments on the issue you sent me.

Its interesting that there is an issue in calico that also calls out the exact same 63 second delay that I measured.

https://github.com/projectcalico/calico/issues/3145

Now this makes me believe that it may indeed be a k8s issue. The same 63 second delay in both calico and flannel... do they use t

[2020-03-20 03:09] davesargrad commented on #88986
@rikatz would i run the following command on every node of my cluster?
`sudo ethtool --offload flannel.1 rx off tx off`

[2020-03-20 03:10] davesargrad commented on #86507
@ghhenry i am having a similar problem.

Did you run
`sudo ethtool --offload flannel.1 rx off tx off`
on every node of your cluster?

[2020-03-20 03:23] gongguan commented on #89260
Ref [87628](https://github.com/kubernetes/kubernetes/pull/87628) which add v1alpha2, you can remove v1alpha1 conversely.

[2020-03-20 03:31] #89157 closed

[2020-03-20 03:44] fankangbest commented on #89281
@vladimirvivien Do you known the reason why to call os.RemoveAll() when saveVolumeData() fails?

[2020-03-20 05:07] dashpole opened #89284 "Kubelet Out-of-Pid eviction should rank based on pids used"
**What would you like to be added**:
Enhance the kubelet's eviction algorithm when handling out-of-pid scenarios to evict the pod using the most pids.

**Why is this needed**:
Currently, the kubelet ranks pods for out-of-pid eviction only by PodPriority.  When there are many pods of the same priority, it ranks them randomly, which is not ideal.  In the case of a fork bomb, the kubelet prevents the

[2020-03-20 06:02] #89245 closed

[2020-03-20 06:11] frittentheke commented on #84366
/remove-lifecycle rotten

[2020-03-20 06:14] uablrek commented on #89208
DNS queries to a server on the same node does not work for tha same reason that TCP doesn't work; The query is sent to the DNS service address, but the reply arrives with the *pod-address* as source (because it is not NAT'ed back) and is rejected by the local resolver. But the reply *does* arrive.

[2020-03-20 06:14] uablrek commented on #87426
DNS queries to a server on the same node does not work for tha same reason that TCP doesn't work; The query is sent to the DNS service address, but the reply arrives with the pod-address as source (because it is not NAT'ed back) and is rejected by the local resolver. But the reply does arrive.

[2020-03-20 06:18] uablrek commented on #87426
I have observed something; Even with an L2 network I do *not* see this problem when I install with `kubeadm`(?!), only when K8s is installed with something like https://github.com/kelseyhightower/kubernetes-the-hard-way as in this issue.

[2020-03-20 06:57] sbiermann commented on #87615
As workarround all of my nodes restarting every night kublet via local cronjob. Now after 10 days ago, i can say it works for me, i have no more "use of closed network connection" on my nodes.

[2020-03-20 06:58] ik9999 commented on #87615
@sbiermann
Thank you for posting this. What time interval you use for cronjob?

[2020-03-20 07:08] tanjunchen commented on #89267
/assign
staging/src/k8s.io/apiserver/pkg/admission/metrics
staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics

[2020-03-20 07:12] sbiermann commented on #87615
24 hours

[2020-03-20 07:18] SataQiu commented on #89265
/cc

[2020-03-20 07:39] willzhang commented on #80228
what local date it is ,it's not clear, so when i run this command ,it make me nervous.

[2020-03-20 08:00] zhouya0 commented on #89267
/assign
pkg/volume/util/operationexecutor
cluster/images/etcd-version-monitor

[2020-03-20 08:01] tanjunchen commented on #89267
@zhouya0
sorry , i open a pr just now