[2017-06-09 08:35] enj commented on #19902
There is ongoing discussion at openshift/origin#14520 but we should try to consolidate it here.

So I was under the assumption that nothing in Kube used quorum and only the OAuth tokens in Origin used it.  Not sure about the former.

That being said a conversation I had with @liggitt recently made me think that we could enable quorum for everything with etcd v3 and not kill performance.

[2017-06-09 08:36] sttts commented on #19902
@wojtek-t @xiang90 can you comment on quorum+etcd3?

[2017-06-09 08:44] enj commented on #19902
https://github.com/coreos/etcd/issues/6829#issuecomment-259564546 and https://coreos.com/blog/etcd-3-1-announcement.html seem relevant.

[2017-06-09 09:12] odeke-em commented on #47163
In case this feature request is accepted, I've started something at https://github.com/orijtech/kubernetes/tree/top-prod-add-sorting. I'll implement the tests tomorrow when free then perhaps submit a PR here when ready.

[2017-06-09 09:17] liqlin2015 opened #47233 "StatefulSet cannot be remove without image"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-09 09:26] xiangpengzhao commented on #32796
Seems like @fraenkel PR #32875 had fixed this main issue. But the PR was closed due to inactive for 90 days. If @fraenkel doesn't have plan to reopen it again and @jianzi123 doesn't have new progress, I'd like to pick it up. What I can think the work might be polishing PR #32875 and fixing https://github.com/kubernetes/kubernetes/issues/32796#issuecomment-270462724. I will also try to find out if

[2017-06-09 09:29] gyliu513 commented on #47233
/sig apps
/assign

I will check this one

[2017-06-09 09:29] zjj2wry commented on #47163
@odeke-em i create a pr [#47231](https://github.com/kubernetes/kubernetes/pull/47231) sort by name. i read your code implements for kubectl top pod --sort, but maybe top node alse need. maybe ** o.Printer = metricsutil.NewTopCmdPrinter(out, o.sortby) ** update to ** o.Printer = metricsutil.NewTopCmdPrinter(out, o.sortby) ** better and implements sort feature in ** TopCmdPrinter ** .so you need not

[2017-06-09 09:35] odeke-em commented on #47163
@zjj2wry oh cool, please feel to implement the rest of the sort by memory and cpu as I have started. I was just getting more familiar with Kubernetes code, and also it is almost 4AM here so I'll look at it when I wake up.

[2017-06-09 09:39] zjj2wry commented on #47163
@odeke-em good night ~

[2017-06-09 09:48] fishi0x01 commented on #20475
I am witnessing the same behavior on version `1.6.4`. Pods can't reach themselves via their own service ClusterIP.

[2017-06-09 10:12] odeke-em commented on #47163
`maybe o.Printer = metricsutil.NewTopCmdPrinter(out) update to o.Printer = metricsutil.NewTopCmdPrinter(out, o.sortby) better and implements sort feature in TopCmdPrinter.
`
Initially I thought of that first, but then that breaks the signature and API of metricsutil. Also on what attributes shall we able to sort on? NodeMetrics? Containers? I'll also take a look later.

`
@odeke-em good night ~
`

[2017-06-09 10:18] dixudx commented on #43708
/cc

[2017-06-09 10:32] ReSearchITEng commented on #43471
@divyenpatel , thanks for your reply.
the user that we use has not been made Admin of the entire VC, error remains the same.
vSphere vers. is 6.5.0, in case it matters.

[2017-06-09 10:52] mikebryant commented on #44461
I think this is also breaking the kubelet:
[code]

[2017-06-09 11:15] manypozo opened #47238 "Apply command does not apply new configuration correctly in deployments"
@k8s-merge-robot

**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** kubectl, apply, configuration, deployment. Asked around in the slack channel as well.
I have visited other maybe close issues, but they are not exactly the same:
* [#39798](https://github.com/kubernetes/kubernetes/issues/39798)
* [#41641](https://github.com/kubernete

[2017-06-09 11:21] rtheis commented on #45385
Unfortunately, I haven't had time to work on this further.

[2017-06-09 11:43] antoineco commented on #20475
@fishi0x01

1.  What's your network setup? Are you using an overlay, a network plugin?

2. What's the output of the following command on the faulty node? (replace `docker0` by `cbr0` if using kubenet/cni)
[code]

3. Any log entry from the kubelet containing the string "hairpin"?

It should return only `1`s.

[2017-06-09 11:44] veris-neerajdhiman opened #47239 "Can we create Multiple databases in Same Persistent Volume ?"
- I have Azure Machine (kubernetes) who have Agent of 2 core, 1 GB. My two services are running on this Machine each have its own Postgres (Deplyment, Service, Pv, PVC).
- I want to host my third service too on same machine.
- So when I tried to create Postgres Deployment (this too have its own service, PV, PVC) but Pod was stuck in status=ContainerCreating .
- After some digging I got to know tha

[2017-06-09 11:49] sttts opened #47240 "Initializers for non-domain API groups"
At https://github.com/kubernetes/kubernetes/blob/80a53d52fd32c49a5facb34453b6d1cd1d868434/pkg/apis/admissionregistration/validation/validation.go#L48-L48 at least 2 dots are required in the api group strings of an `InitializersConfiguration`. Is this intentional? It stops you from installing initializer controllers for groups like `batch` or `apps`.

[2017-06-09 12:08] fishi0x01 commented on #20475
@antoineco
I should mention that the cluster is bootstrapped using `kops 1.6.0`.

1. I let kops bootstrap the cluster with a flannel overlay. I think kube-proxy runs in userspace (each node runs a kube-proxy pod - this means it is in userspace right?)

2. Using `docker0` and `cbr0` returns: `cat: /sys/devices/virtual/net/docker0/brif/*/hairpin_mode: No such file or directory`. But using `cni0` ret

[2017-06-09 12:10] NickrenREN commented on #45387
Maybe change log level can help
/assign

[2017-06-09 12:20] antoineco commented on #20475
@fishi0x01 kops is using the [flannel CNI plugin](https://github.com/kubernetes/kops/blob/286daa739de27835ea38fe80c21cbcd3114f72e5/vendor/k8s.io/kubernetes/cluster/images/hyperkube/cni-conf/10-containernet.conf). `"hairpinMode": true` is missing from this configuration, I'm not sure if this is intentional.

[2017-06-09 12:22] fthamp commented on #47120
@ravilr Here the issue is that the  kubernetes-managed containers on the node gets removed completely.Its more like a deletion operation than restart hence the query.

[2017-06-09 12:28] tnozicka commented on #47180
@smarterclayton I saw you have been working on printers lately, any suggestions on how we should deal with objects in multiple versions?

[2017-06-09 12:31] chakri-nelluri commented on #47109
@verult @sjpotter @wzhliang This is the behavior today. We were planning to support this case, but given the number of changes in attach/detach controller path, we backed out of it in the last minute.
Given that, if the plugin cannot be installed on master, we have to set "--enable-controller-attach-detach=false"
@verult if you figured out a solution around this, please open the PR.

[2017-06-09 12:37] kargakis commented on #47233
@kubernetes/sig-apps-bugs

[2017-06-09 12:40] discordianfish commented on #40913
@brendandburns Does the integration support instance in availability sets or only plain VMs in general?

[2017-06-09 12:58] divyenpatel commented on #43471
@ReSearchITEng Is the permissions assigned at VC Level? Select VC and then go to the permission tab. See the above image.

You do not need Administrator access. We just need following privileges. We have verified these permissions on vCenter 6.5.

[code]

I have found you on the slack. let me DM for the support.

[2017-06-09 13:13] redbaron commented on #44307
I believe those who have issued are running non CNI version 0.3.x compliant plugins. Spec clearly says:

So it is very much likely not a Kubernetes problem

[2017-06-09 13:24] liggitt commented on #47220
likely https://github.com/kubernetes/kubernetes/issues/47135

[2017-06-09 13:26] liggitt commented on #47221
not quite the right thing... if you add distinct protocols, it'll still merge them :-/

this should be valid, right?

[code]

[2017-06-09 13:29] liggitt commented on #47207
if you want to change API validation, you should do it before 1.7 releases, since the field is new. Changing validation on a released field is much harder

[2017-06-09 13:30] yastij opened #47243 "syncDaemonSet should retrieve nodeList once and pass it to other functions"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

DaemonSetsController
syncDaemonSet
cache
dsLister

[2017-06-09 13:30] yastij commented on #47243
/kind enhancement

[2017-06-09 13:32] yastij commented on #47243
/sig node
/assign

[2017-06-09 13:33] redbaron commented on #45385
I know it is a long shot, but all this dance with iptables cli utils Kubernetes & related projects are doing is causing more harm than good. For instance kubelet could just subscribe to iptables events via netlink(7) interface (libnl3 library can be very helpful here), then there will be no need to resync ever.

[2017-06-09 13:49] YouriT commented on #47125
I'm running into the same issue. But I filed a ticket on the support when they gently asked us to move out of container-vm. Let's see.

[2017-06-09 13:50] gyliu513 opened #47244 "`Container Image` should not be marked as optional in v1 api"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-09 13:51] timothysc commented on #19902
quorum read is the default for v3, and v3.1 has helped the iop issue.  There were several issues opened about this a while ago and the plan of record is to update to 3.1.X in 1.8.

[2017-06-09 13:51] vascofg commented on #45787
Bump, this seems like a bug to me...
`curl localhost -v` shows it trying to connect to 127.0.0.1 but kubernetes fails to start because localhost.mylocaldomain.com is mapped to a machine on the network.
Maybe in the way that kubernetes opens sockets that's using DNS server directly, ignoring prority in `/etc/nsswitch.conf`

[2017-06-09 13:53] gyliu513 commented on #47233
This is because `podSpec` was not validated https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/validation/validation.go#L55-L58 in statefulset.

[2017-06-09 13:54] k82cn commented on #47230
/sig apps

@guillelb , it seems StatefulSets related, right?

[2017-06-09 14:02] pmorie commented on #46351
@deads2k what you say here makes sense to me: https://github.com/kubernetes/kubernetes/issues/46351#issuecomment-303760049

...but people are going to try to do this anyway, since they don't have a storage group yet.

That aside, do we have any plans to implement a UAS storage resource in 1.8?  I think it would be in our best interests to do so to avoid proliferation if people mis-using CRD to bac

[2017-06-09 14:03] gyliu513 commented on #47244
@kubernetes/sig-api-machinery-bugs
/assign

[2017-06-09 14:05] k82cn commented on #47230
/assign

[2017-06-09 14:05] gyliu513 commented on #47205
/assign

[2017-06-09 14:06] discordianfish commented on #40913
Never mind, it looks like it's working with VMs in availability sets.

[2017-06-09 14:14] smarterclayton commented on #19902
Does anyone have experience running very large clusters with quorum read on
and HA?  We realized in openshift we only had quorum reads on for 1
specific resource, and even that was a massive spike in IO.  Turning on
quorum for everything will at least double the number of quorum reads
(25-50% of reads on those very large clusters were quorum, there rest were
not).

My concern is anyone at scale wh

[2017-06-09 14:21] timothysc commented on #19902
@mffiedler had the experimental data and can compare against an upstream deploy.  We had seen a  very large drop when running the same experiment against 3.1.X months ago.

/cc @rrati @jeremyeder

[2017-06-09 14:24] k82cn commented on #47240
/sig api-machinery

[2017-06-09 14:27] k82cn commented on #47205
yes, cleanup is sub-items of #34924 ; try to avoid multiple issues for discussion.

[2017-06-09 14:29] k82cn commented on #47198
/close

Handled at https://github.com/kubernetes/kubernetes/pull/44900

[2017-06-09 14:29] k82cn commented on #47198
/assign

[2017-06-09 14:29] k82cn commented on #47198
/close

[2017-06-09 14:29] #47198 closed

[2017-06-09 14:32] k82cn commented on #47233
/sig api-machinery

It's ignored because no volumes in containers of statefulset; one option is to create a new validation func that pass PVC to check.

[2017-06-09 14:33] k82cn commented on #47230
@ guillelb , how about the pods? what's the out put of `kubectl get pods`?

[2017-06-09 14:38] smarterclayton commented on #19902
There are two angles to this:

1. anyone who needs to do a "live read" in order to get causal consistency
is unlikely to know that they need to ask for a quorum read (it's very
common to not think about this when designing code) - that's 5-10% of
actual controllers
2. GC needs causal reads for everything, but if we turn it on for
everything that's a big hammer, but it might be the right default fo

[2017-06-09 14:39] MikeSpreitzer commented on #37414
I got derailed by #43556 ; clues there would be nice.  I will get back to this today, one way or another.

[2017-06-09 14:42] smarterclayton commented on #47240
That's a bug in api groups - the rule is only for the initializer name.  Without a fix here you can't use initializers on deployments or jobs.

[2017-06-09 14:42] jeremyeder commented on #19902
Very large was still 2x what it was in the prior tests...

[2017-06-09 14:42] smarterclayton commented on #47240
@kubernetes/sig-api-machinery-pr-reviews I think this is required for 1.7 if we want initializers to be usable for deployments or jobs.

[2017-06-09 14:43] timothysc commented on #19902
What are the results for disabling multi-tenant sdn?

[2017-06-09 14:45] iterion commented on #47202
I also like the second form, but it seems that the easiest path to implementation would be to strip that time off and use it separately. Also, an argument could be made, that, since we're using the "standard" cron template we shouldn't mess with that.

It seems like this should be straightforward to implement:
Currently, we just pass time.Now() into the `syncOne` loop. The cron lib that k8s is usi

[2017-06-09 14:48] jeremyeder commented on #19902
Not sure -- we don't run without it.  Does the multi-tenant SDN hit oauth tokens? @liggitt

[2017-06-09 14:50] liggitt commented on #19902
shouldn't... it runs with infrastructure credentials which are cert-based

[2017-06-09 14:53] spzala commented on #16371
@erictune Hi Eric, this seems like a problem of past. I don't see dnd.md file any more. Can you please check if this is still an issue with content that might moved to a diff file? and if it's not an issue any more can we please close it? Thanks!

[2017-06-09 15:04] smarterclayton commented on #45300
Since label updates aren't going to be transactional I don't think any flow that needs strong consistency on which pod is the leader should be mutating pods.

[2017-06-09 15:04] smarterclayton commented on #45300
Edit: "shouldn't"

[2017-06-09 15:05] YouriT commented on #47125
I made a quick test and the underlying OS (COS) doesn't know at all XFS apparently. Therefore, I'm not sure whether kubernetes can do anything about it...

Here is what I tested:
- Created a new cluster with COS nodes
- Created a disk
- Attached it to a debian machine
- Created a partition
- Formatted the partition: `mkfs.xfs /dev/sdc1`
=> OK
- Detached and attached de disk to the new COS node
- m

[2017-06-09 15:06] petervo opened #47247 "API Authentication Success status"
If anonymous access is turned on (default as of 1.6), as far as I can tell it is not currently possible to determine if authentication headers that were passed along succeeded and were used or if the system as defaulted back to system:anonymous.

This makes for bad UI for tools that want to give feedback to end users if the given credentials worked or not such as the proposed ```kubectl login``` c

[2017-06-09 15:07] markpeterfejes commented on #47125
That is indeed what is going on. Thats why I wrote that I am aware that this is not a kubernetes issue. I hoped that someone can point me to the proper issue tracker.

[2017-06-09 15:09] xiangpengzhao commented on #34625
I think this was fixed.

Original issue by Tim : #33036
`Services with clusterIP: None can be created with type LoadBalancer`

Fixed by Maciej in PR: #33274
`Disallow headless Services with LB type`

Code at https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L2710 :
`allErrs = append(allErrs, field.Invalid(specPath.Child("clusterIP"), service.Spec.ClusterIP, "may

[2017-06-09 15:10] YouriT commented on #47125
Thought you were looking for confirmation. I have no clue where to ask that unfortunately. AFAIK their COS source is not open yet. There is still Chromium OS repo but I'm not sure it's the best place to ask.

[2017-06-09 15:11] kow3ns commented on #41015
https://github.com/kubernetes/kubernetes/pull/46669

[2017-06-09 15:11] petervo commented on #47247
Let's see if i got this right.

@kubernetes/sig-auth-misc
/sig sig-auth

[2017-06-09 15:19] smarterclayton commented on #46351
I would say my default position is that we will *not* create a generic etcd like storage api, because at best we would have a lowest common denominator etcd api that has none of the benefits and lots of disadvantages.

[2017-06-09 15:23] kumudt opened #47248 "Kubectl apply should change the env variables order as per the new order"
**Kubernetes version** (use `kubectl version`): 1.6.4

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.2 LTS
- **Kernel** (e.g. `uname -a`): 4.4.0-1013-aws
- **Install tools**: Kops

**What happened**:
I was trying to reference one env variable inside other in a deployment as per this [doc](https://kubernetes.io/docs/resources

[2017-06-09 15:30] kumudt commented on #47248
/sig kind/bug

[2017-06-09 15:30] chuckbutler commented on #46054
Yeah this is consistent with my findings as well, you pretty much have to be scoped with a very permissive set of roles in order to interface with the dashboard. Seems like an earmark issue for the kube-dashboard project.

[2017-06-09 15:32] thockin commented on #47221
oh, excellent point.  More concretely
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kubedns-svc.yaml.base#L31

On Fri, Jun 9, 2017 at 6:27 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-06-09 15:33] thockin commented on #47221
I will open a different issue.

On Fri, Jun 9, 2017 at 8:31 AM, Tim Hockin <thockin@google.com> wrote:

[2017-06-09 15:34] caseydavenport commented on #45790
/assign

[2017-06-09 15:34] thockin opened #47249 "PATCH merges Services with same port, different protocol"
xref: https://github.com/kubernetes/kubernetes/issues/47221#issuecomment-307388031

Specifically, DNS uses the same port number in TCP and UDP.  This is valid when the object is created, but any PATCH operation related to Service ports will merge those together, which is wrong.

@mengqiy This is the gift that keeps on giving.  I am so sorry.

[2017-06-09 15:38] #34625 closed

[2017-06-09 15:41] caseydavenport commented on #39113
I think the latest thinking here is that the expectation that the kubelet will keep up with the scheduler on small (<10 nodes) clusters is unrealistic and that as a result this isn't as serious as originally thought.

As for short-term actions, we should update the SLOs to indicate churn rate bounds.

Deciding on the right long-term solution is a wider discussion, and is certainly not going to hap

[2017-06-09 15:51] xiangpengzhao commented on #47238
/sig cli
/sig apps

[2017-06-09 15:52] deads2k commented on #46351
Do you have a suggestion for an alternative?  Providing a safe way to create a controlled proxy for the etcd API seems like the most reasonable option.  Just throwing out an option: create a resource in one location which surfaces as a functioning proxy on a subresource for said resource.

[2017-06-09 15:52] xiangpengzhao commented on #47239
/sig storage

[2017-06-09 15:53] xiangpengzhao commented on #47248
/sig cli

[2017-06-09 15:54] xiangpengzhao commented on #47249
/sig network

[2017-06-09 15:56] xiangpengzhao commented on #32796
I send PR #47250. Hope we can fix this ASAP before 1.7.

[2017-06-09 16:10] ericchiang commented on #47247
Some credentials do result in 401. For example https://github.com/kubernetes/kubernetes/pull/47196

What credentials are you using that are dropping back to the anonymous user?

[2017-06-09 16:15] thockin commented on #45385
That's not a bad idea.

On Fri, Jun 9, 2017 at 6:33 AM, Maxim Ivanov <notifications@github.com>
wrote:

[2017-06-09 16:15] thockin commented on #44307
Should we close this?  @dcbw?

On Fri, Jun 9, 2017 at 6:13 AM, Maxim Ivanov <notifications@github.com>
wrote:

[2017-06-09 16:17] enj commented on #47247
As far as I can tell the anonymous authenticator is always unioned using `NewFailOnError`, meaning that you should only be the anonymous if the other earlier authenticator chain did not error.

[code]

[2017-06-09 16:25] petervo commented on #47247
I've seen this with basic auth, using --basic-auth-file and  --authorization-mode=RBAC. I assumed it was similar with others but didn't test.

```curl -k -u bad:pw https://example.kube.domain/api/v1/nodes```

Returns 403 instead of 401

[2017-06-09 16:26] smarterclayton commented on #46351
etcd3 has greatly improved their grpcproxy functionality to handle many of
these cases - we could conceivably make that easier to use as part of these
cases.

On Fri, Jun 9, 2017 at 11:52 AM, David Eads <notifications@github.com>
wrote:

[2017-06-09 16:33] liggitt commented on #47247
when I run with --basic-auth-file=... and --authorization-mode=RBAC, I get:

[code]

[2017-06-09 16:34] mikedanese commented on #47208
Fixed by: https://github.com/kubernetes/kubernetes/pull/46884

[2017-06-09 16:35] liggitt commented on #47247
same for a bad bearer token:

[code]

[2017-06-09 16:40] cmluciano commented on #47156
Since the cluster IP is through iptables, I do not believe that this would be supported.

cc @kubernetes/sig-network-misc

[2017-06-09 16:41] cmluciano commented on #34924
/close

[2017-06-09 16:42] petervo commented on #47247
This is on image: gcr.io/google_containers/kube-apiserver-amd64:v1.6.4

[code]

curl -vv -k -u foo:bar https://10.96.0.1/api/v1/nodes

[code]

Bad bearer token does give me a 401

@liggitt, see anything there that differs from your setup? Or is this a bug fixed on master?

[2017-06-09 16:43] cmluciano commented on #45385
@thockin Should we punt this to 1.8 and try a PoC of @redbaron 's suggestion?

[2017-06-09 16:50] divyenpatel commented on #43471
@ReSearchITEng's issue is resolved.

He was having two VC setup. Storage on one VC and K8S Cluster on another VC. This topology is not supported by vsphere cloud provider.

[2017-06-09 16:51] kargakis commented on #47205
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-09 16:53] kargakis commented on #47015
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-09 16:54] ajwootto commented on #46119
@bspradling8 Right now I've just been using the min annotations to force each cluster to have at least 3 pods. Problem at the moment is that it seems there can never be more than the min number in the annotation. I'm going to start playing with autoscaling soon as well, so we'll see if it remains a problem.

[2017-06-09 16:55] kargakis commented on #7181
@kubernetes/sig-cli-misc

[2017-06-09 16:56] fabiand commented on #46351
The issue with running any type of custom storage is, that the application needs to worry - and thus know! - about this storage method on Kubernetes.
It would be much more convenient if there was a way to leave this (object store) responsibility on Kubernetes.

[2017-06-09 16:56] kargakis commented on #10882
@kubernetes/sig-node-feature-requests @kubernetes/sig-cluster-lifecycle-misc

[2017-06-09 16:57] kargakis commented on #8976
@kubernetes/sig-api-machinery-misc

[2017-06-09 16:58] kargakis commented on #11045
/sig release

[2017-06-09 17:00] kargakis commented on #11984
Shouldn't be an issue anymore.

[2017-06-09 17:00] #11984 closed

[2017-06-09 17:00] kargakis commented on #12041
@kubernetes/sig-node-bugs

[2017-06-09 17:01] kargakis commented on #11889
/sig aws

[2017-06-09 17:01] kargakis commented on #12123
@kubernetes/sig-cli-misc

[2017-06-09 17:03] kargakis commented on #12258
Shouldn't be an issue anymore

[2017-06-09 17:03] #12258 closed

[2017-06-09 17:03] kargakis commented on #7961
@kubernetes/sig-auth-misc

[2017-06-09 17:05] Thoro opened #47253 "iSCSI iSER mounting does use glob path for mount utilities"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.0-beta.1", GitCommit:"dfaba882698e26a47fb769be45fe5c048a9fe4ad", GitTreeState:"not a git tree", BuildDate:"2017-06-08T13:08:32Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b5

[2017-06-09 17:06] kargakis commented on #10408
@smarterclayton what's left here? We definitely miss some `set` commands.

tagging @kubernetes/sig-cli-misc @fabianofranz

[2017-06-09 17:07] kargakis commented on #11213
@ixdy is this still an issue?

[2017-06-09 17:07] smarterclayton commented on #10408
Yeah set probe languished because we were busy refactoring everything else

On Fri, Jun 9, 2017 at 1:06 PM, Michail Kargakis <notifications@github.com>
wrote:

[2017-06-09 17:08] kargakis commented on #10906
@kubernetes/sig-testing-misc @kubernetes/sig-cluster-lifecycle-misc

[2017-06-09 17:08] #47012 closed

[2017-06-09 17:08] Thoro commented on #47253
/sig sig/storage

[2017-06-09 17:08] kargakis commented on #12148
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-09 17:09] ericchiang commented on #47247
The password file always returns `nil, false, nil` so it should be returning a 403[1]. Because it can potentially be unioned with other password based auth-N plugins, just looking at the password file plugin this seems correct.

[1] https://github.com/kubernetes/kubernetes/blob/3a5df705fe2af3031262a322f90689a7f212062d/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/password/passwordfile/pass

[2017-06-09 17:10] kargakis commented on #12323
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-09 17:10] kargakis commented on #12330
@kubernetes/sig-release-misc

[2017-06-09 17:11] kargakis commented on #12165
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-09 17:11] liggitt commented on #47247
looks like the basic auth method was made consistent with bearer tokens in https://github.com/kubernetes/kubernetes/pull/41775

[2017-06-09 17:12] deads2k commented on #46351
You'd still need a resource to gate access to it and automatically provision it in a way that the user cannot gain general access.  I'm not very familiar with grpc, but why couldn't that exposed proxy be exposed via a subresource?

[2017-06-09 17:13] kargakis commented on #13572
I am not sure there is much we can do here, @kubernetes/sig-apps-misc  thoughts?

[2017-06-09 17:14] kargakis commented on #13535
@kubernetes/sig-testing-misc

[2017-06-09 17:14] cmluciano commented on #45126
Unfortunately I do not have an AWS account to attempt to fully replicate this.

[This comment](https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-299177721) notes several options that are mostly AWS ELB specific. One option listed was to increase leniency in the node controller grace period.

As @jfoy noted, NodeController may be at the wrong level since the ServiceController will

[2017-06-09 17:14] bspradling8 commented on #46119
@ajwootto Gotcha, I'll be interested to see how autoscaling affects this. I just got the annotations working as you just described this morning. Turns out I had them in the wrong spot as well :)

[2017-06-09 17:14] petervo commented on #47247
@liggitt tx. Sorry for the noise.

[2017-06-09 17:14] #47247 closed

[2017-06-09 17:15] danwinship commented on #47156
The iptables proxier could make pings work, but it would be much more complicated for the userspace proxier. And there's not any clear benefit to it anyway...

Nope. OpenShift doesn't do it either

[2017-06-09 17:15] kargakis commented on #13430
@kubernetes/sig-scalability-misc

[2017-06-09 17:15] kargakis commented on #13330
@kubernetes/sig-release-misc

[2017-06-09 17:16] kargakis commented on #13282
Closing in favor of https://github.com/kubernetes/community/issues/558

[2017-06-09 17:16] #13282 closed

[2017-06-09 17:16] xiang90 commented on #19902
3.1's q-read does not touch disk at all. It is also faster than pervious non-q-read under heavy load. I strongly suggest to give etcd 3.1 a try.

[2017-06-09 17:17] kargakis commented on #13168
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-09 17:18] kargakis commented on #13167
@kubernetes/sig-release-misc

[2017-06-09 17:18] kargakis commented on #13110
@kubernetes/sig-auth-misc

[2017-06-09 17:19] kargakis commented on #13045
@kubernetes/sig-release-misc

[2017-06-09 17:19] kargakis commented on #13112
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-09 17:20] kargakis commented on #12987
@kubernetes/sig-api-machinery-misc

[2017-06-09 17:20] kargakis commented on #12794
/sig aws

[2017-06-09 17:20] kargakis commented on #12767
/sig docs

[2017-06-09 17:21] kargakis commented on #12974
/sig docs

[2017-06-09 17:21] kargakis commented on #12974
/sig release

[2017-06-09 17:21] kargakis commented on #12668
@kubernetes/sig-cli-misc

[2017-06-09 17:22] kargakis commented on #12562
@kubernetes/sig-node-feature-requests

[2017-06-09 17:22] kargakis commented on #12430
@kubernetes/sig-api-machinery-feature-requests

[2017-06-09 17:23] kargakis commented on #12400
@kubernetes/sig-cli-misc

[2017-06-09 17:23] MrHohn commented on #47219
xref the corrupted docker image layer issue discussed before: https://github.com/kubernetes/kubernetes/issues/43549#issuecomment-288886891

[2017-06-09 17:25] vishh commented on #12562
Bandwidth controlling has been deprecated and possibly removed from k8s already. This issue is no longer relevant.

[2017-06-09 17:25] #12562 closed

[2017-06-09 17:29] kargakis commented on #12526
/sig node

[2017-06-09 17:29] ixdy commented on #13330
I'm pretty sure this is long obsolete.

[2017-06-09 17:29] #13330 closed

[2017-06-09 17:29] kargakis commented on #12353
@kubernetes/sig-testing-misc

[2017-06-09 17:29] ahmetb commented on #13168
AFAIK, kube-up.sh is no longer a good way to create kubernetes clusters. I vote for closing this issue (and opening similar issues in the future on kubernetes/kubernetes.github.io repo).

[2017-06-09 17:30] ixdy commented on #10906
Closing as obsolete, please reopen if this is still an issue.

[2017-06-09 17:30] #10906 closed

[2017-06-09 17:31] ahmetb commented on #12148
This issue has been inactive for quite a while. I don't think we have the NFS example anymore.

We should close and open similar issues on kubernetes/kubernetes.github.io.

[2017-06-09 17:32] ahmetb commented on #13112
If anyone is still interested in following up this issue, consider opening it against kubernetes/kubernetes.github.io repository (or better, contribute a patch if you have time).

[2017-06-09 17:32] mengqiy commented on #47221
It will try to apply the patch to the first matching item based on `mergeKey`.
@thockin I bet you must be editing the first item, so it looks working. But if you edit the second item, you will find it doesn't work.
[code]

[2017-06-09 17:33] ixdy commented on #11213
given https://github.com/kubernetes/kubernetes/issues/11213#issuecomment-121516336 I'm going to close.

[2017-06-09 17:33] #11213 closed

[2017-06-09 17:33] kargakis commented on #12338
@smarterclayton can we close this issue now that https://github.com/kubernetes/community/pull/124 is merged?

[2017-06-09 17:34] mengqiy commented on #47221
/assign

[2017-06-09 17:34] mengqiy commented on #47249
/assign

[2017-06-09 17:35] caesarxuchao opened #47254 "gci-gce-reboot-release-1-7 flaky"
https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gce-reboot-release-1-7

[code]

@dchen1107 @ericchiang @kubernetes/kubernetes-release-managers

[2017-06-09 17:37] kargakis commented on #13479
/sig node

[2017-06-09 17:38] kargakis commented on #14207
@kubernetes/sig-testing-misc

[2017-06-09 17:39] caesarxuchao opened #47255 "soak test fails consistently, "regular resource usage tracking resource tracking for 0 pods per node""
https://k8s-testgrid.appspot.com/release-1.7-blocking#soak-gci-gce-1-7-test

[code]

@dchen1107 @ericchiang @yujuhong @krzyzacy @kubernetes/kubernetes-release-managers

[2017-06-09 17:39] mengqiy commented on #47221
We have a PR to support multifields merge key for new APIs https://github.com/kubernetes/kubernetes/pull/46161 and a proposal to fix the existing APIs https://github.com/kubernetes/community/pull/476.
I really hope we can fix this in 1.8.

[2017-06-09 17:39] kargakis commented on #14214
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-09 17:40] wasylkowski commented on #46847
@fgrzadkowski Filip, can you reopen? I cannot do this myself, and this issue is clearly not closed yet.

[2017-06-09 17:40] kargakis commented on #14204
@kubernetes/sig-network-misc

[2017-06-09 17:41] krzyzacy commented on #47255
that's the node memory usage issue right? @Random-Liu
/sig node

[2017-06-09 17:41] kargakis commented on #14153
@kubernetes/sig-storage-misc

[2017-06-09 17:41] kargakis commented on #14139
@kubernetes/sig-network-misc

[2017-06-09 17:43] kargakis commented on #14129
@kubernetes/sig-cli-misc

[2017-06-09 17:43] kargakis commented on #14181
@kubernetes/sig-api-machinery-misc

[2017-06-09 17:43] ahmetb commented on #14214
It's very likely this is already fixed: https://kubernetes.io/docs/concepts/containers/images/#bypassing-kubectl-create-secrets this section shows encoded version of the dockercfg.

[2017-06-09 17:45] kargakis commented on #14189
@kubernetes/sig-api-machinery-misc

[2017-06-09 17:47] wojtek-t commented on #14204
This issue is 15 months old from the last update. Should we close it?

[2017-06-09 17:48] thockin commented on #47156
Why do you need pings and with what semantics?

If you ping it, do you expect to actually ping a backend?  Or just to
return true if any backend exists?  What if one backend is dead, or not
ready?

Additionally, I don't think all implementations can support this, so I
would like to know what you are trying to achieve.

On Jun 9, 2017 10:15 AM, "Dan Winship" <notifications@github.com> wrote:

The i

[2017-06-09 17:50] kargakis commented on #13944
@ahmetb @kubernetes/sig-apps-misc

[2017-06-09 17:50] spiffxp commented on #45133
/sig release

[2017-06-09 17:51] spiffxp commented on #45133
/kind flake

[2017-06-09 17:51] mtanino commented on #47253
@Thoro

I'll take a look.

[2017-06-09 17:53] spiffxp commented on #44977
/sig instrumentation
/kind flake

[2017-06-09 17:54] kargakis commented on #14111
@kubernetes/sig-api-machinery-misc

[2017-06-09 17:54] kargakis commented on #13858
@kubernetes/sig-aws-misc

[2017-06-09 17:55] kargakis commented on #13745
@kubernetes/sig-release-misc

[2017-06-09 17:55] spiffxp commented on #44371
/sig cli
/sig api-machinery
I'm not sure which sig is more appropriate to own here

[2017-06-09 17:56] kargakis commented on #13687
@kubernetes/sig-api-machinery-misc

[2017-06-09 17:56] ahmetb commented on #13944
These examples are moved out of the main repo, to https://github.com/kubernetes/examples/tree/e00514bce95b38223f92c36b3a3fc526e5aaa94e/staging I see that this particular one hasn't been updated for a while. If you think it's still broken, please consider submitting a patch to kubernetes/examples repo.

[2017-06-09 17:57] spiffxp commented on #44276
/sig cluster-lifecycle

[2017-06-09 17:57] kargakis commented on #13588
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-09 17:57] dchen1107 commented on #47254
The same docker image corruption issue:
[code]

[2017-06-09 17:57] spiffxp commented on #44200
/sig storage

[2017-06-09 17:58] #47048 closed

[2017-06-09 17:59] kargakis commented on #13904
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-09 17:59] spiffxp commented on #44190
/sig cli
/sig api-machinery
Not sure which sig is more appropriate here

[2017-06-09 18:00] dchen1107 commented on #47254
The same test failed with the same reason in master branch: https://github.com/kubernetes/kubernetes/issues/47219

[2017-06-09 18:00] spiffxp commented on #44189
/sig node

[2017-06-09 18:00] kargakis commented on #13940
@kubernetes/sig-docs-maintainers
@kubernetes/sig-release-misc

[2017-06-09 18:02] dchen1107 commented on #47220
close this as the dup of #47135

[2017-06-09 18:02] #47220 closed

[2017-06-09 18:03] spiffxp commented on #7837
/remove-sig testing
/sig scalability

[2017-06-09 18:03] kargakis commented on #14998
/sig api-machinery

[2017-06-09 18:03] kargakis commented on #14953
/sig cli

[2017-06-09 18:04] kargakis commented on #13940
/sig docs

[2017-06-09 18:05] kargakis commented on #14791
/sig api-machinery

[2017-06-09 18:05] spiffxp commented on #7630
/remove-sig testing
/sig scalability

[2017-06-09 18:05] kargakis commented on #14755
/sig docs

[2017-06-09 18:06] kargakis commented on #14460
/sig testing ?

[2017-06-09 18:06] freehan commented on #38890
Revendoring the CNI plugins is pending on a new CNI release.

Because CNI just went thru a separation between plugins and libcni, and there is no release tag in plugin repo.

[2017-06-09 18:07] kargakis commented on #14498
Was this related to journald ratelimiting?

/sig node

[2017-06-09 18:07] kargakis commented on #14226
/sig aws

[2017-06-09 18:08] kargakis commented on #14188
@kubernetes/sig-apps-feature-requests

[2017-06-09 18:08] spiffxp commented on #6605
/close
I think this has been addressed? see:
https://testgrid.k8s.io
https://github.com/kubernetes/test-infra/tree/master/testgrid/config
https://github.com/kubernetes/test-infra/blob/master/docs/federated_testing.md

[2017-06-09 18:08] spiffxp commented on #6605
/assign

[2017-06-09 18:08] kargakis commented on #14186
@kubernetes/sig-apps-misc

[2017-06-09 18:08] spiffxp commented on #6605
/close

[2017-06-09 18:08] #6605 closed

[2017-06-09 18:09] kargakis commented on #14244
/sig storage
/sig node

[2017-06-09 18:09] bowei commented on #47224
/assign

[2017-06-09 18:09] spiffxp commented on #6450
/remove-sig testing
/sig scalability

[2017-06-09 18:10] kargakis commented on #14355
I think this one is done

[2017-06-09 18:10] #14355 closed

[2017-06-09 18:14] kargakis commented on #14214
Seems like it's done

[2017-06-09 18:14] #14214 closed

[2017-06-09 18:16] luxas commented on #38890
@freehan Will that upcoming new (splitted-up) release be called v0.6.0?

[2017-06-09 18:17] wlan0 opened #47257 "Fill in *ByID methods for the various clouds in Kubernetes"
This is required to make Cloud Controller Manager operational on the various clouds that Kubernetes runs on.

We have already added PRs for the following clouds:

GCE - https://github.com/kubernetes/kubernetes/pull/45313
AWS - https://github.com/kubernetes/kubernetes/pull/47215
Azure - https://github.com/kubernetes/kubernetes/pull/46940
OpenStack - https://github.com/kubernetes/kubernetes/pull/475

[2017-06-09 18:18] wlan0 commented on #47257
/sig cluster-lifecycle

[2017-06-09 18:18] MikeSpreitzer commented on #37414
I have been reading about tests, wondering where to add a test case that covers this problem.  It is not clear to me that Kubernetes has a test suite that can test race conditions in cluster creation.

[2017-06-09 18:20] kustuntas commented on #33312
@nikhiljindal Has the rebalancing issue been fixed yet?

[2017-06-09 18:29] kargakis commented on #13944
@ahmetb is there any plan to move example-specific issue in the examples repo?

[2017-06-09 18:30] spiffxp commented on #10352
/remove-sig testing
/sig release
/sig apps
I'm adding release because of "building things" and apps because I think they're the sig that owns kubernetes/examples

[2017-06-09 18:32] dims commented on #13745
seems to be working now

[code]

[2017-06-09 18:33] dims commented on #13745
/assign

[2017-06-09 18:33] dims commented on #13745
/close

[2017-06-09 18:33] #13745 closed

[2017-06-09 18:37] verult commented on #47109
@sjpotter If the attach operation is not supported, a default do-nothing attacher will be used, and the attach will succeed. In pkg/volume/flexvolume/attacher.go:
[code]
And in pkg/volume/flexvolume/attacher-defaults.go:
[code]

[2017-06-09 18:38] spiffxp commented on #12353
/assign

[2017-06-09 18:39] msau42 commented on #14153
This issue is very old.  Are you still seeing the problem?

[2017-06-09 18:39] spiffxp commented on #12353
/close
see https://github.com/kubernetes/test-infra#automated-testing

[2017-06-09 18:39] #12353 closed

[2017-06-09 18:47] sjpotter commented on #47109
ok, that's probably a reasonable answer then, while the documentation does
say something about this (right at the top), its wasn't quite clear (at
least to me) how flexvolumes work, as at least late in the 1.6 dev cycle it
worked the way I expected, but I can understand why you made these
decisions to avoid doing major surgery.  I'm also assuming that the volume
has to be installed on the master b

[2017-06-09 18:52] verult commented on #47109
@chakri-nelluri, @saad-ali and I have two proposals:

1) As a temporary fix, add in the AttachDetachController logic that if no attacher can be found and the plugin is FlexVolume, assume attach is not implemented and succeed.

2) Separate the current FlexVolume plugin into two, with one of them attachable and the other not. This would just be a refactor of the current plugin with all the VolumePlu

[2017-06-09 18:58] ahmetb commented on #13944
cc: @sebgoa

We're not planning to move issues here related to `examples/` over to the new `kubernetes/examples` repository.

The ultimate plan is to delete the `staging` directory until the community finds a better place for those examples (such as this Spark example) to live and continue to be maintained.

[2017-06-09 19:00] verult commented on #47109
@sjpotter Yes that aligns with what I see as well, and yes you are right, and agreeing with @chakri-nelluri , our proposal either requires a temporary, slightly messy fix, or a more intrusive FlexVolume refactoring.

[2017-06-09 19:02] bboreham commented on #44307
@redbaron calling CNI on a hostNetwork pod is clearly wrong. It's quite a leap from there to "if some resources are missing".

[2017-06-09 19:04] bowei commented on #14204
Do we have a generic issue for making tests faster? This item would resurface as part of that work. I would close this for now.

[2017-06-09 19:11] ahmetb commented on #13940
Please close this and open this issue at https://github.com/kubernetes/kubernetes.github.io/issues/new if you think it's still relevant. I haven't heard any requests about this lately.

Maybe someone from the community can take a look at GitBook again now that we have a separate Jekyll based website repo.

[2017-06-09 19:12] ahmetb commented on #13904
This issue is quite outdated and doesn't correspond to any documentation we have as far as I can tell. We should close.

[2017-06-09 19:13] ahmetb commented on #13588
This document has been changed many times and in fact does not exist anymore. We should close.

[2017-06-09 19:19] #43325 closed

[2017-06-09 19:28] dhawal55 opened #47264 "kubectl apply ignoring changes to spec.initcontainers field"
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS 1409.1.0
- **Kernel** (e.g. `uname -a`): Linux 4.11.2-coreos #1 SMP Tue May 23 22:04:34 UTC 2017 x86_64 Intel(R) Xeon(R) CPU E5-2676 v3 @ 2.40GHz GenuineIntel GNU/Linux

**What happened**:
`kubectl apply` ignores chang

[2017-06-09 19:28] liggitt commented on #47135
I am still observing namespace deletion taking longer and longer throughout the e2e run, and am seeing some failures (though they have improved with the revert of the gzip filter). I am speculating that the apiserver is CPU-bound and is very close to the timeout point for ns cleanup, which means any increase is likely to cause flakes/failures.

@wojtek-t @kubernetes/sig-scalability-bugs have we se

[2017-06-09 19:29] readams commented on #44307
Originally what I was seeing was that it wouldn't actually even call CNI since it was hostNetwork, but it would get mad that it couldn't.  That is, it would try to find a network namespace to pass to CNI and fail there, so it didn't matter what the CNI plugin behavior was since it never actually invoked the plugin.  It just failed anyway.

[2017-06-09 19:30] kargakis commented on #47243
/remove sig/node
/sig apps

[2017-06-09 19:31] kargakis commented on #47243
@kubernetes/sig-apps-misc

[2017-06-09 19:31] dcbw opened #47265 "kubelet PLEG races with apiserver updates and results in empty PodIP"
For full history see https://bugzilla.redhat.com/show_bug.cgi?id=1449373

1) PLEG puts pod status into a cache.
2) PLEG then sends an event to kubelet
3) kubelet reads PLEG events in syncLoopIteration()
4) that calls HandlePodSyncs() which dispatchWork() for the event
5) dispatchWork() calls podWorkers.UpdatePod()
6) UpdatePod() starts a goroutine that calls managePodLoop()

<< race: PLEG runs aga

[2017-06-09 19:32] bjornswift commented on #46641
We had another event this morning, third day in a row.

 - Again, in two groups.
 - The two groups cover the whole cluster (all nodes except the controller).
 - This time the events were spaced further apart, or around 2 hours (let's call these `t1` and `t2`).
 - All the `Netfilter messages via NETLINK` messages were printed at `t1`, also for the nodes that went into NotReady state at `t2`.
 - Som

[2017-06-09 19:33] dcbw commented on #47265
Example output:

[code]

[2017-06-09 19:40] spiffxp commented on #20051
/remove-sig testing
/sig scalability

[2017-06-09 19:51] smarterclayton commented on #12338
Not really, because any storage volume that isn't a cloud provider or ceph isn't fenced and would horribly blow up in a couple of cases today.

[2017-06-09 19:52] kargakis commented on #12338
@kubernetes/sig-storage-misc

[2017-06-09 19:54] wojtek-t commented on #47135
I don't see anything suspicious in the cpu usage in scalability tests. Though we are still not monitoring it in regular e2e tests. @ncdc was trying to do that but it was reverted unfortunately and I think we didn't have time to get back to it.

[2017-06-09 19:58] xrl commented on #44461
@mikebryant that error is from an unpatched kubelet, correct? That is the error which prompted me to fix the bug upstream.

[2017-06-09 20:02] enisoc commented on #47243
I did this in #42173 and had to revert it in https://github.com/kubernetes/kubernetes/pull/42173/commits/fac372d0905defdd32e25da1bdeb446dce15bf9c because DaemonSet depends on the re-list within a single sync. It's possible to fix this, but it would require modifying DaemonSet to not take multiple actions per sync.

[2017-06-09 20:05] nicksardo commented on #24745
The GCP docs have been updated to note that this isn't an idle timeout.
https://cloud.google.com/compute/docs/load-balancing/http/

I've added a working example in the ingress repo:
https://github.com/kubernetes/ingress/tree/master/controllers/gce/examples/websocket

@zoidbergwill You do not need to set external traffic to local for websockets to work. Was the issue with the application?

[2017-06-09 20:06] mikebryant commented on #44461
@xrl Yeh (well, it's the coreos hyperkube distribution, but I'm not aware of them patching anything)

[2017-06-09 20:09] saad-ali commented on #44737
CC @verult who's looking in to Flex volume issues.

[2017-06-09 20:13] choppsv1 opened #47268 "Need to set hostname for container but not in YAML spec."
FEATURE REQUEST

We have a somewhat non-typical use of k8s. We aren't using scaling but we are deploying applications. We create multiple network interfaces for said apps in each pod (using custom CNI module). We need to assign a fixed hostname in a given container based on which k8s cluster it is running on.

Since I have my own custom CNI I tried setting tthe hostname there (nsenter --uts); howe

[2017-06-09 20:14] travispalmer commented on #34327
@michmike, I assume that this implies that auto-scaling for windows containers is currently not supported as well?

[2017-06-09 20:15] fejta commented on #13535
/remove-area test-infra
/remove-sig testing

https://github.com/kubernetes/kubernetes/search?p=1&q=gcloud+path%3Atest%2Fe2e&type=&utf8=%E2%9C%93

/sig storage
/sig scalability
/sig scheduling
/sig network

[2017-06-09 20:16] caseydavenport opened #47269 "Calico needs updating in kube-up"
**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **Cloud provider or hardware configuration**: GCE using kube-up
- **OS** (e.g. from /etc/os-release): GCI
- **Install tools**: kube-up

**What happened**:

Kubernetes apiserver is not able to keep up with Pod / NetworkPolicy watches when running a large cluster using Calico.

Additionally, Calico is still using its own MASQ

[2017-06-09 20:16] caseydavenport commented on #47269
/sig network

[2017-06-09 20:18] lavalamp commented on #46895
@smarterclayton Do you have an owner?

[2017-06-09 20:19] dims commented on #44461
@dchen1107 on behalf of @kubernetes/sig-openstack-misc SIG, yes, let us please merge referenced PR https://github.com/kubernetes/kubernetes/pull/45545

[2017-06-09 20:21] lavalamp commented on #45457
@justinsb No, this hasn't changed, sorry if I was unclear. UAS IMO should use TPR/CRD (or similar item) for storage.

[2017-06-09 20:23] lavalamp commented on #30158
I think the current state is: regressed

unless someone has fixed this recently.

I would not block the release over this.

[2017-06-09 20:23] yastij commented on #47243
@enisoc - but would we benefit from an action per sync ? Are you working on it ?

[2017-06-09 20:31] enisoc commented on #47243
I think the benefit might be code that's easier to reason about and is more consistent with other controllers. It would be a refactor that shouldn't change external behavior much. In particular, it wouldn't really let us decrease the number of times the node list is retrieved (which is probably from a cache anyway) since we would immediately requeue and do another sync to trigger the next phase of

[2017-06-09 20:31] choppsv1 commented on #47268
@kubernetes/sig-network

[2017-06-09 20:33] dcbw commented on #44075
@abrarshivani @luomiao Is c7a22a588f112dd34ae8dce9b4014ba5510e5575 the second part of this fix?

[2017-06-09 20:37] caesarxuchao commented on #47240
[code]

@sttts the code you pasted is verifying the initializer.Name, not the group name, so there is no bug. Did i miss something?

[2017-06-09 20:38] spiffxp commented on #23236
/remove-sig testing
/remove-sig contribute-experience
pretty sure we're solidly on the path to bazel-all-the-things at this point via sig-release

[2017-06-09 20:39] spiffxp commented on #23236
/remove-sig contributor-experience

[2017-06-09 20:39] yastij commented on #47243
@enisoc - will submit a PR next week then.

[2017-06-09 20:40] spiffxp commented on #23710
/remove-sig testing
/sig scalability

[2017-06-09 20:41] spiffxp commented on #23710
don't think we really need this anymore
/close

[2017-06-09 20:41] #23710 closed

[2017-06-09 20:50] spiffxp commented on #7666
/assign

[2017-06-09 20:52] spiffxp commented on #7666
/close
I'm closing this in favor of #42670

[2017-06-09 20:52] #7666 closed

[2017-06-09 20:53] spiffxp commented on #38006
/remove-sig testing

[2017-06-09 20:54] spiffxp commented on #37254
/sig release

[2017-06-09 20:55] spiffxp commented on #37207
re: associating tests with SIG's #42670

[2017-06-09 21:04] gnufied opened #47271 "AWS getInstancesByNodeNames is broken for large clusters"
From CloudTrail logs:

[code]

This affects both load balancer and volume features that rely on `getInstancesByNodeNames`

cc @justinsb

[2017-06-09 21:04] gnufied commented on #47271
/sig aws

[2017-06-09 21:06] gnufied commented on #47271
We can workaround this somewhat by implementing batching of describeInstance calls by N number of nodes at a time.

[2017-06-09 21:07] justinsb commented on #47271
We should do caching.

[2017-06-09 21:07] rmmh commented on #37207
#45691 added test_owners.json to associate test prefixes with SIGs directly.

[2017-06-09 21:10] jagosan commented on #47268
/sig network

@choppsv1 - thanks for mentioning groups, this will trigger notifications correctly.  just adding sig for labeling (see bot command above for future reference).

[2017-06-09 21:11] jagosan commented on #47264
/sig cli

[2017-06-09 21:11] jagosan commented on #47253
/sig storage

[2017-06-09 21:13] mikedanese commented on #38006
@ixdy @spxtr

[2017-06-09 21:14] jagosan commented on #46888
tough one to apply a sig label.  basically performance enhancement yes?  applying scalability for lack of better option.

/sig scalability

[2017-06-09 21:15] jagosan commented on #46602
/sig azure

[2017-06-09 21:16] jagosan commented on #46586
/sig release
? Kind of a stretch - open to other suggestions for sig routing...

[2017-06-09 21:17] jagosan commented on #45135
/sig api-machinery

/assign @mml

[2017-06-09 21:22] ixdy commented on #38006
mixing Go vendoring with Bazel vendoring is likely not to work, but things may have improved in the last six months. @sayrer do you have a concrete repro case?

[2017-06-09 21:26] jagosan commented on #46572
/assign @aleksandra-malinowska
looks like this may be related:  https://github.com/kubernetes/kubernetes/commit/0e5051a84c4e19d6a8a9f6ea3fc078bbdffd669c

Can you please take a look?  Thanks!

[2017-06-09 21:29] jagosan commented on #44542
@mtaufen please add sig label. Thanks!

[2017-06-09 21:29] dchen1107 commented on #47254
Closing this one as dup of  #47219. I will write down how to address this on that issue.

[2017-06-09 21:29] #47254 closed

[2017-06-09 21:31] jagosan commented on #44218
/sig network
.. as a starting point.  please update with correct sig if mis-labeled.

[2017-06-09 21:31] jagosan commented on #44156
/sig api-machinery
/sig release

[2017-06-09 21:35] jagosan commented on #44148
/sig api-machinery

[2017-06-09 21:39] Thoro commented on #47253
@mtanino on a local build that fixed the issue:
[code]

(e.g. it compiles)

[2017-06-09 21:39] jagosan commented on #44028
/sig api-machinery

[2017-06-09 21:40] jagosan commented on #44025
/sig cli

[2017-06-09 21:41] hfrog commented on #42735
I've seen the same errors in my cluster after turning on RBAC. The reason is default calico.yaml (http://docs.projectcalico.org/v2.2/getting-started/kubernetes/installation/hosted/calico.yaml) lacks of cluster roles and bindings. After applying https://github.com/projectcalico/calico/blob/master/master/getting-started/kubernetes/installation/rbac.yaml all is ok.
Hope this helps

[2017-06-09 21:42] jagosan commented on #44023
@vaibhavsood - has this change been upstreamed?

[2017-06-09 21:43] grodrigues3 commented on #44022
/sig storage

[2017-06-09 21:44] mtanino commented on #47253
@Thoro
I don't want to add filepath.Glob to that general path because that line is also executed "tcp" case.
I'm considering the fix below. Pretty similar.

[code]

[2017-06-09 21:46] jagosan commented on #44012
@anandkumarpatel perhaps a docker issue? trying to triage and not sure quite what to do with this one..  any suspicion you can share?

[2017-06-09 21:47] thockin commented on #47092
Low risk to project overall

[2017-06-09 21:48] jagosan commented on #44005
/sig api-machinery

[2017-06-09 21:48] mml commented on #45135
Despite the name of the suite, this flake is due to the cluster not getting 5 healthy nodes in time.  Has nothing to do with etcd.

[code]

I'll file a test-infra bug to have this reported more clearly.

[2017-06-09 21:48] Thoro commented on #47253
@mtanino does that work from a go specific point? is that devicePath passed by reference? (from general c/c++/php/node/c# knowledge I would say that this would have no effect on the devicePath variable .. )

[2017-06-09 21:50] jagosan commented on #44001
/sig apps

[2017-06-09 21:51] mml commented on #45135
@verb Thanks for the report.  In this case just re-run the test.  This kind of flake is inherent in the nature of the e2e test.

[2017-06-09 21:51] #45135 closed

[2017-06-09 21:52] nicksardo opened #47273 "Need to bump GLBC version in manifest"
There are multiple bugs in GLBC v0.9.3 which have been fixed in tip of master.  The glbc.manifest file needs to get the latest version before 1.7.0 release.

[2017-06-09 21:52] nicksardo commented on #47273
/assign
/sig network
/area platform/gce

[2017-06-09 21:52] enisoc commented on #45202
This appears to have been duped by #45405 and fixed by #45447.

[2017-06-09 21:52] #45202 closed

[2017-06-09 21:53] jagosan commented on #43992
@kfox1111 - suggest closing this initial discussion and continuing as part of the proposal.  Any reason not to do that?

[2017-06-09 21:55] jagosan commented on #43991
/sig storage

[2017-06-09 21:55] enisoc commented on #43023
This appears to be obsolete.

[2017-06-09 21:55] #43023 closed

[2017-06-09 21:56] enisoc commented on #42348
This appears to be obsolete.

[2017-06-09 21:56] #42348 closed

[2017-06-09 21:57] jagosan commented on #43984
/sig apps

[2017-06-09 22:00] enisoc commented on #42274
I believe the available limits can address this issue. Setting a default value is tracked in #41039.

[2017-06-09 22:00] #42274 closed

[2017-06-09 22:00] #43980 closed

[2017-06-09 22:01] jagosan commented on #43980
Bug scrub decision to close as no new activity and not actionable.

[2017-06-09 22:02] mml commented on #47202
I'm not the right person to review your PR, but I do have a few questions about semantics.

- What are the semantics when no timezone is specified?
- Does the implementation depend on the timezone being correctly configured on the controller host?
- When do we validate timezone legality?  At object create/update time, or later?
- What happens if a timezone name was legal when the API object was cr

[2017-06-09 22:03] #41015 closed

[2017-06-09 22:03] mtanino commented on #47253
@Thoro
Can we suppose that filepath.Glob(devicePath) always only return one device path if transport is "tcp"?

[2017-06-09 22:09] k82cn commented on #47230
@guillelb , how about the pods? what's the out put of kubectl get pods?

[2017-06-09 22:10] enisoc commented on #39363
The original purpose of this issue seems to be addressed by `tolerate-unready-endpoints`. I'm renaming it to reflect the shift in purpose since I don't see that discussion captured elsewhere.

[2017-06-09 22:11] jagosan commented on #43974
Any more information to add here? Issue getting stale & no action.  Please route to sig and bump the discussion or close. Thanks!

[2017-06-09 22:12] enisoc commented on #37132
Removing milestone as I don't see any evidence of this being worked on for v1.7.

[2017-06-09 22:13] mml commented on #45037
The issue title is wrong, but we will need to upgrade to a version of etcd with the fixed version of boltdb before we can mark this fixed.

[2017-06-09 22:14] jagosan commented on #43827
/sig api-machinery

+1 for the idea.  In bug-scrub/triage session and this seems to be stale and not actionable as is. Proposal for how to move forward?

[2017-06-09 22:14] mml commented on #45037
Currently blocked on coreos/etcd#8009 which is in turn blocked on boltdb code reviews.

[2017-06-09 22:15] enisoc commented on #36429
This appears to be obsolete.

[2017-06-09 22:15] #36429 closed

[2017-06-09 22:17] enisoc commented on #35318
Removed from v1.7 since it doesn't seem to be imminent.

[2017-06-09 22:18] enisoc commented on #33650
Removing milestone as it doesn't appear this will land in v1.7.

[2017-06-09 22:19] enisoc commented on #32023
This appears to be obsolete.

[2017-06-09 22:19] #32023 closed

[2017-06-09 22:19] iterion commented on #47202
If no timezone is defined it would default to the current behavior which would be to use the timezone of the host. I would guess in most cases this would be configured as UTC, but a user could really choose any timezone. As such, there is no greater dependency on timezone being correctly configured on the host as a result of this PR.

I currently just bail out and use the host's timezone if the us

[2017-06-09 22:20] enisoc commented on #30981
This appears to be obsolete.

[2017-06-09 22:20] #30981 closed

[2017-06-09 22:32] yujuhong commented on #44976
Escaping sounds good to me since we can't come up with an alternative solution.

I am neutral on the json format though. What benefits does it bring?

[2017-06-09 22:36] freehan commented on #47265
Probably removing the obsolete IP from apiserver and leave an event is cleaner. No strong opinion though.

[2017-06-09 22:36] k82cn commented on #46670
/assign

[2017-06-09 22:39] spzala commented on #17887
@paultag hi, it seems like the issue is fixed under https://github.com/kubernetes/kubernetes/pull/20801 If you can please verify, and if it looks good can you please close this issue? Thanks!

[2017-06-09 22:59] yujuhong commented on #36485
A solution that's more aligned with how SyncPod works today (i.e., making them more like regular containers):
 * Compute init containers to start/stop in [computePodContainerChanges](https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.0/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L427) and include the result in the `podContainerSpecChanges` struct.
 * Whenever kubelet needs to create a P

[2017-06-09 23:00] freehan commented on #37414
@MikeSpreitzer
There are some reboot/restart test.

[2017-06-09 23:01] dashpole opened #47277 "[GCE] Some system pods are not marked critical"
@cheftako and @bsalamat brought to my attention that a number of our system pods are not marked critical.  As the critical pod annotations are enabled in GCE, it is important that we are intentional about which pods are marked critical.  Looking through my local cluster created today, I see the following kube-system pods that are NOT marked critical:

etcd-empty-dir-cleanup-kubernetes-master (stat

[2017-06-09 23:02] freehan commented on #38890
@luxas I am not sure.
@dcbw comment?

[2017-06-09 23:05] dashpole commented on #47277
/sig scheduling

[2017-06-09 23:08] dashpole commented on #47277
It is also worth noting that with the addition of the NPD, the total CPU requests on the master exceed 1 CPU.  We should probably change the default master size on GCE to 2 cpu machines, or lower the requests of some pods on the master.

[2017-06-09 23:10] mrunalp commented on #44976
cc: @alexlarsson

[2017-06-09 23:19] vishh commented on #47277
As a side effect of this, a daemonset with critical pods will render the master unstable permanently in GCE.

[2017-06-09 23:21] jayunit100 commented on #14355
If this is done and the default is same it should be referenced in e2e tests

[2017-06-09 23:28] mengqiy commented on #47264
Same issue report in https://github.com/kubernetes/kubectl/issues/27. I believe Strategic Merge Patch works https://github.com/kubernetes/kubectl/issues/27#issuecomment-307497046.
I think this an api machinery issue. @kubernetes/sig-api-machinery-misc

[2017-06-09 23:37] mengqiy commented on #47248
dup of https://github.com/kubernetes/kubernetes/issues/40373.
Should have be fixed in 1.7 by #45980

[2017-06-09 23:38] dchen1107 commented on #47264
Do we have the same issue in 1.7?

cc/ @kubernetes/kubernetes-release-managers

[2017-06-09 23:39] yaronha commented on #24657
@thockin following our discussion this week, any update on getting status.hostIP via downward API?
we need it to try and connect to local Daemon if it exists, had to use host volume w hacks to get it

Yaron

[2017-06-09 23:42] sjpotter commented on #47109
I think it can perhaps be done a little cleaner without it being a user visible change

current code

[code]
all this code has to be is a little smarter in regards to attach/detach support.  i.e. returns one of 2 structs, one supports the interface, the other doesn't.  I'm wondering if it make the code simpler overall as wouldn't have to "fake" attach/detach support.

[2017-06-09 23:44] #47186 closed

[2017-06-09 23:54] gmarek opened #47279 "'verb' in API server metrics should mean kube verb"
http verb is not really interesting, especially as we use path/arguments to decide what handler to fire.

@kubernetes/sig-api-machinery-feature-requests @lavalamp @smarterclayton

[2017-06-09 23:55] mengqiy commented on #47264
Yes.

[2017-06-10 00:09] timstclair commented on #36666
## Proposal

The current request flow for an exec request looks like this:

1. apiserver --> kubelet: exec request
2. kubelet --> CRI shim: get exec request
3. CRI shim --> kubelet: get exec response (URL of shim server)
4. kubelet --> apiserver: 302 redirect to URL of shim server
5. apiserver --> CRI shim: exec
6. pod <---> CRI shim (proxy) <---> apiserver

I propose as a medium-term auth solutio

[2017-06-10 00:11] sjpotter commented on #47109
here's a 30m of prototyping time of what I'm arguing for.  haven't tested this beyond it building.

[code]

in the if false  test, it be soething like plugin.SupportAttach() which would be an exec call out to the plugin for some sort of supports interface

[2017-06-10 00:12] sjpotter commented on #47109
the only reason for the New1Attacher is that its needed by the mount/umount path today.

[2017-06-10 00:18] mtanino commented on #47253
@Thoro

Thank you for above comment. I updated the logic.
Could you confirm the fix on the PR?

[2017-06-10 00:24] verult commented on #47109
Nice! That's the same as my thought process for our second proposal. The problem is the test for attach. It's not a good idea to run attach at probe time, not even with empty args since the behavior is unspecified, and it could mess up the actual attach operation later on. Ideally there'd be a command to determine whether the driver supports attach, but that requires an API change and would need t

[2017-06-10 00:27] sjpotter commented on #47109
yes, don't run attach, have a command that returns a set of supported operations.  i.e. "supports", returns some defined json with a set of true/false attributes.

[2017-06-10 00:32] sjpotter commented on #47109
the question is how ugly does one that probe method to be and what should the behavior be if it doesn't exist (for backwards compatibility purposes)

[2017-06-10 00:47] mengqiy commented on #47238
After debug a bit, I found apply actually works. The issue is your deployment got rollback due to some reason.
You can find it in the log. And you can use `kubectl rollout history deployment hello-node` to view each revision, and you will find the revision with `image: mjroxas/hello-node:v2`.

[2017-06-10 01:11] perotinus commented on #46994
@bspradling8 There was a design in-flight to better support rollbacks in Federation, though I don't think it would exactly fix your issue (https://github.com/mwielgus/community/blob/d7651487409214e60123766382779bafc0aeb72b/contributors/design-proposals/federated-deployment.md)

Having better support for Federated deployment status has been something we've wanted to do for some time, but we haven't

[2017-06-10 01:15] nikhiljindal commented on #33312
@kustuntas I havent tried it again but it doesnt seem to be based on updates on this bug.

cc @perotinus

[2017-06-10 01:31] roffe commented on #47120
@fthamp Have you done the ETCD v2 to v3 migration? 1.6 uses v3 as default and afaik 1.5.x used v2 as standard.

I had the same problem when i upgraded as i totally oversaw that point and when 1.6 came up it started to delete everything as the ETCD v3 datastore was empty and kubernetes saw it as a new cluster.

https://coreos.com/blog/migrating-applications-etcd-v3.html

You will most likely have t

[2017-06-10 01:56] xiangpengzhao commented on #37414
@MikeSpreitzer FYI:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/reboot.go
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/restart.go

[2017-06-10 02:00] smarterclayton commented on #47279
Agreed

[2017-06-10 02:32] sjpotter commented on #36666
I'm wondering what this would mean for VM oriented pod containers.  Currently able to run the server within the VM and give that as a URL, makes exec simple.

[2017-06-10 02:39] verult commented on #47109
If the command doesn't exist, one possibility is to keep the current behavior: use the default attacher and have the master look for a plugin. Of course also make a very visible log.

It's also not terrible to forgo backward compatibility; the new addition would be very small. It'd be more important to make the user aware of the API change by emphasizing the alert when the command is not implement

[2017-06-10 02:39] sjpotter commented on #36666
I'm wondering what this would mean for VM oriented pod containers.  Currently able to run the server within the VM and give that as a URL, makes exec simple.  which seems to be against the initial premise of the proposal

[2017-06-10 02:48] sjpotter commented on #47109
something along these lines

[code]

[2017-06-10 03:11] bowei commented on #47142
Can you check the connectivity between your VM and the nameservers you have enumerated? Is there any packet loss? Delays?

[2017-06-10 03:35] dchen1107 opened #47283 "[e2e fail] gce-alpha-features is completely broken for months"
both gce-alpha-features and gci-gce-alpha-features have been broken for more than a month:

https://k8s-testgrid.appspot.com/release-master-blocking#gce-alpha-features
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-alpha-features

I checked the test configuration, and found they are still running some staled tests. For example, PetSet and ScheduledJob

[code]

On another hand, Au

[2017-06-10 04:05] dchen1107 commented on #47219
@ajitak & @fabioy I am assigned this to you since you are the owner of NPD for 1.7 release. Like what we discussed before, we can configure NPD to capture those kind of docker image corruption issues. Also update the reboots test to ignore this kind of problem. In a real production, the remedy is removing those bad images on the node, so NPD signal is important.

[2017-06-10 04:29] crassirostris commented on #44977
No occurrences last two weeks, closing as obsolete

[2017-06-10 04:29] #44977 closed

[2017-06-10 04:49] eparis commented on #12400
This was fixed a long time ago. Closing.

[2017-06-10 04:49] #12400 closed

[2017-06-10 04:57] xiangpengzhao commented on #47222
/assign

[2017-06-10 05:13] k8s-merge-robot opened #47285 "Failure cluster [9d0576...] failed 122 builds, 3 jobs, and 1 tests over 1 days"
### Failure cluster [9d0576c1844472e7cc6b](https://go.k8s.io/triage#9d0576c1844472e7cc6b)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    3 jobs failed,    122 builds failed.
Failure stats cover 1 day time range '9 Jun 2017 03:59 UTC' to '10 Jun 2017 03:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 3 |

####

[2017-06-10 05:45] Thoro commented on #47253
@mtanino Pretty sure that tcp transport will always only have one path - and it will exist (there's no glob in the check path)

[2017-06-10 07:46] gyliu513 commented on #47233
The comments already give a solution here:

[code]

I'm now checking if there is a good way to get the `metadata.name` from the `volumeClaimTemplates`, @bprashanth I saw that you add the comments, it would be great if you can show some comments of how to get the `metadata.name` here. Thanks.

[2017-06-10 08:32] wasylkowski commented on #46847
Thanks Wojtek!

[2017-06-10 11:00] kachkaev commented on #33729
Guys, if anyone sees something like this in apiserver logs:

[code]

you might find this conversation helpful: https://github.com/kubernetes/kubeadm/issues/228#issuecomment-307158412

It seems like when `localhost:6443` turns into `dial tcp RANDOM_IP:6443`, the issue can be with your provider's DNS servers (RANDOM_IP is a public IP of another VM, not yours). Hope this helps someone!

Would be grea

[2017-06-10 11:04] leonwanghui commented on #47117
/kind design

[2017-06-10 11:07] kumudt commented on #47248
Great. Thanks!
Closing this issue.

[2017-06-10 11:07] #47248 closed

[2017-06-10 11:21] manypozo commented on #47238
Yes, this is what I said:
"Events from describe suggest that the deployment automatically perform a rollback"

But I do not understand why is that actually. It is a very simple example.

[2017-06-10 11:22] runcom opened #47288 "CRI and Kubelet are way too docker specific"
The `CreateContainer` and `StartContainer` API in the CRI are too docker specific. The CRI isn't actually defining what `CreateContainer` means for a runtime and docker and containerd-shim behaves incorrectly.

In CRI-O when we get a `CreateContainer` CRI call, we run `runc create ...` - which I'm super sure is the correct way of handing a `CreateContainer` request. `runc create ...` can fail if,

[2017-06-10 11:22] runcom commented on #47288
@kubernetes/sig-node-api-reviews

[2017-06-10 11:25] yastij commented on #46888
@jagosan - sig/scalability is the right one. I will use this issue to track down progress.

[2017-06-10 11:29] runcom commented on #47288
/cc @sameo also

[2017-06-10 13:20] runcom commented on #47288
One other issue is, for instance, oomkill status from container

[2017-06-10 14:01] cyphar commented on #47288
@runcom I have to check the spec but I feel as though the OCI runtime-spec actually guarantees the opposite behaviour:

I remember discussions on this topic (effectively some users wanted to create the `$PATH` binary using hooks, or didn't even want to call `start` on a created container). We (runc) should double-check what the spec says though.

[2017-06-10 14:02] feiskyer commented on #47288
Kubelet doesn't depend on `StartError` or `Completed`, but it should indeed add more accurate descriptions on the reason of container state, e.g. OOMKilled.

We should make an agreement on the reason list first. @runcom What's your suggestion about this?

[2017-06-10 14:09] andrewsykim commented on #24657
@ajit-sarnaik @yaronha support for status.hostIP was added in this PR https://github.com/kubernetes/kubernetes/pull/42717. It should be included in the 1.7 release.

[2017-06-10 14:38] kargakis commented on #13774
/sig cluster-lifecycle
/sig api-machinery

[2017-06-10 14:44] garethr commented on #14987
@joelharkes it looks like that repository is no longer available? Any chance you have another link or a reference to how you generated it?

[2017-06-10 14:45] runcom commented on #47288
@feiskyer I'll put something together on Monday

Also, I still think relies somehow on the wrong create/start behavior of Docker. For instance, in CRI-O we return error in create whether in Docker we do not. Not a kube expert so I'm just saying to check if erroring out on create like cri-o does is still correct for the kubelet.

[2017-06-10 14:46] kargakis commented on #13871
/sig storage

[2017-06-10 14:48] kargakis commented on #14065
@kubernetes/sig-auth-misc who owns kubeconfig?

[2017-06-10 14:49] kargakis commented on #13577
@kubernetes/sig-network-misc

[2017-06-10 14:49] kargakis commented on #13266
/sig api-machinery

[2017-06-10 14:51] kargakis commented on #4949
/sig node
/sig api-machinery

[2017-06-10 14:51] liggitt commented on #14065
the kubeconfig format uses API object encoding/decoding owned by @kubernetes/sig-api-machinery-misc

[2017-06-10 14:52] kargakis commented on #12771
@kubernetes/sig-cli-misc

[2017-06-10 14:52] liggitt commented on #13266
fixed by https://github.com/kubernetes/kubernetes/pull/38119

[2017-06-10 14:52] #13266 closed

[2017-06-10 14:53] kargakis commented on #14232
/sig cli

[2017-06-10 14:53] kargakis commented on #14314
@kubernetes/sig-apps-misc

[2017-06-10 14:54] kargakis commented on #14378
@kubernetes/sig-release-misc

[2017-06-10 14:56] kargakis commented on #14897
@ahmetb @kubernetes/sig-apps-test-failures

[2017-06-10 14:58] kargakis commented on #14742
No @kubernetes/sig-node-misc team @kubernetes/sig-node-proposals

[2017-06-10 14:58] kargakis commented on #14905
@kubernetes/sig-cli-misc

[2017-06-10 14:59] kargakis commented on #13066
@piosz

[2017-06-10 15:00] kargakis commented on #14916
/sig scalability
/sig cluster-lifecycle

[2017-06-10 15:01] kargakis commented on #14963
@kubernetes/sig-api-machinery-misc

[2017-06-10 15:01] kargakis commented on #14504
/sig aws

[2017-06-10 15:02] stevekuznetsov commented on #14905
This is less pressing now-days as it's `-o template --template $template` and that is clearly going to clash with `-o json`. Pretty-printing would still be nice, though.

[2017-06-10 15:02] kargakis commented on #15000
Agreed with this one, I have been working around that error in every place I stumble across it.

[2017-06-10 15:03] kargakis commented on #15000
Maybe /sig api-machinery

[2017-06-10 15:03] kargakis commented on #15000
/sig api-machinery

[2017-06-10 15:04] kargakis commented on #15011
@kubernetes/sig-testing-misc

[2017-06-10 15:04] kargakis commented on #14124
@kubernetes/sig-contributor-experience-misc

[2017-06-10 15:04] kargakis commented on #14128
@kubernetes/sig-contributor-experience-misc

[2017-06-10 15:04] joelharkes commented on #14987
I generated with nodejs based on documentation. Yea had to delete repo, because there was wrong stuff in there. I'll setup a new repo this week and send the link.

[2017-06-10 15:05] kargakis commented on #15032
@kubernetes/sig-docs-maintainers

[2017-06-10 15:05] kargakis commented on #15032
/sig docs

[2017-06-10 15:06] kargakis commented on #15047
Probably fixed now, reopen if it's still an issue.

[2017-06-10 15:06] #15047 closed

[2017-06-10 15:06] kargakis commented on #15066
/sig testing
/sig scalability

[2017-06-10 15:07] kargakis commented on #15080
/sig docs
@php-coder

[2017-06-10 15:08] kargakis commented on #15084
@kubernetes/sig-testing-misc

[2017-06-10 15:08] kargakis commented on #15111
@kubernetes/sig-apps-misc

[2017-06-10 15:09] kargakis commented on #15094
/sig docs
@kubernetes/sig-docs-maintainers

[2017-06-10 15:09] kargakis commented on #15192
/sig node

[2017-06-10 15:10] kargakis commented on #15125
/sig testing

[2017-06-10 15:11] kargakis commented on #15157
/sig contributor-experience
/sig api-machinery

[2017-06-10 15:11] kargakis commented on #15179
/sig cli

[2017-06-10 15:12] kargakis commented on #15201
@kubernetes/sig-cli-misc

[2017-06-10 15:13] kargakis commented on #15225
/sig aws

[2017-06-10 15:15] kargakis commented on #15243
@kubernetes/sig-testing-misc

[2017-06-10 15:15] kargakis commented on #15294
/sig testing

[2017-06-10 15:16] kargakis commented on #15310
/sig apps

[2017-06-10 15:17] kargakis commented on #15343
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-10 15:17] kargakis commented on #15584
@kubernetes/sig-cli-misc

[2017-06-10 15:18] kargakis commented on #15552
@kubernetes/sig-release-misc

[2017-06-10 15:27] kargakis commented on #15494
/sig api-machinery

[2017-06-10 15:27] kargakis commented on #15451
/sig cli

[2017-06-10 15:28] ekozan commented on #31307
somebody can explain how to test this one ? it's merged now it's can work out of the box ?

[2017-06-10 15:28] kargakis commented on #15450
@jayunit100 status of this issue?

[2017-06-10 15:29] kargakis commented on #15478
/sig scalability

[2017-06-10 15:29] kargakis commented on #13066
/sig scalability

[2017-06-10 15:30] kargakis commented on #15345
@kubernetes/sig-contributor-experience-misc
@kubernetes/sig-api-machinery-misc
@kubernetes/sig-testing-misc

[2017-06-10 15:31] kargakis commented on #15471
@kubernetes/sig-cli-misc

[2017-06-10 15:31] kargakis commented on #15387
@kubernetes/sig-cli-misc

[2017-06-10 15:33] kargakis commented on #15545
/sig docs

[2017-06-10 15:34] kargakis commented on #15637
Has its own repo nowadays: https://github.com/kubernetes/test-infra

[2017-06-10 15:34] #15637 closed

[2017-06-10 15:34] kargakis commented on #15639
/sig release

[2017-06-10 15:35] kargakis commented on #15725
/sig cluster-lifecycle

[2017-06-10 15:35] kargakis commented on #15725
/sig docs
/sig cli

[2017-06-10 15:36] kargakis commented on #15656
/sig testing
/sig networking

[2017-06-10 15:37] kargakis commented on #16089
@kubernetes/sig-cli-misc

[2017-06-10 15:38] kargakis commented on #16061
@kubernetes/sig-cli-misc

[2017-06-10 15:38] kargakis commented on #16083
@kubernetes/sig-aws-misc

[2017-06-10 15:39] kargakis commented on #15817
@ahmetb

[2017-06-10 15:39] kargakis commented on #15817
/sig apps

[2017-06-10 15:39] kargakis commented on #15844
@kubernetes/sig-api-machinery-misc

[2017-06-10 15:40] kargakis commented on #15820
@kubernetes/sig-storage-misc

[2017-06-10 15:40] kargakis commented on #15776
@kubernetes/sig-api-machinery-misc
@kubernetes/sig-apps-misc

[2017-06-10 15:43] kargakis commented on #16022
@kubernetes/sig-storage-misc

[2017-06-10 15:44] kargakis commented on #15741
@kubernetes/sig-cli-misc

[2017-06-10 15:45] #16106 closed

[2017-06-10 15:45] kargakis commented on #16085
@kubernetes/sig-cli-misc

[2017-06-10 15:46] kargakis commented on #15654
@kubernetes/sig-testing-misc

[2017-06-10 15:46] kargakis commented on #15640
@thockin done?

[2017-06-10 15:49] kargakis commented on #16134
@kubernetes/sig-apps-misc

[2017-06-10 15:49] kargakis commented on #16263
@kubernetes/sig-network-misc

[2017-06-10 15:52] kargakis commented on #16247
@thockin SIG that owns git-sync?
/sig storage ?

[2017-06-10 15:53] kargakis commented on #15802
/sig docs

[2017-06-10 15:53] kargakis commented on #15858
@kubernetes/sig-cli-misc

[2017-06-10 15:55] kargakis commented on #15688
Closing in favor of https://github.com/kubernetes/community/pull/629

[2017-06-10 15:55] #15688 closed

[2017-06-10 15:56] kargakis commented on #16827
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-10 15:57] kargakis commented on #16812
/sig docs

[2017-06-10 15:57] kargakis commented on #16771
@kubernetes/sig-release-misc

[2017-06-10 15:57] kargakis commented on #16755
@kubernetes/sig-storage-misc

[2017-06-10 15:58] kargakis commented on #16652
@kubernetes/sig-scheduling-misc

[2017-06-10 15:59] kargakis commented on #16652
@kubernetes/sig-scalability-misc

[2017-06-10 15:59] kargakis commented on #16707
@kubernetes/sig-cli-misc

[2017-06-10 16:00] kargakis commented on #16648
Is this now satisfied by `kubeadm join`?
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-10 16:01] kargakis commented on #16541
@kubernetes/sig-contributor-experience-feature-requests

[2017-06-10 16:01] kargakis commented on #16543
@kubernetes/sig-api-machinery-misc

[2017-06-10 16:02] kargakis commented on #16550
/sig docs

[2017-06-10 16:02] kargakis commented on #16371
@kubernetes/sig-network-misc

[2017-06-10 16:03] kargakis commented on #16304
@kubernetes/sig-network-misc

[2017-06-10 16:03] kargakis commented on #16437
@kubernetes/sig-release-misc

[2017-06-10 16:04] kargakis commented on #16444
@ahmetb

[2017-06-10 16:04] kargakis commented on #16449
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-10 16:05] kargakis commented on #16446
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-10 16:06] kargakis commented on #16535
@kubernetes/sig-testing-misc

[2017-06-10 16:06] kargakis commented on #16934
@kubernetes/sig-release-misc

[2017-06-10 16:07] kargakis commented on #16873
@kubernetes/sig-release-misc

[2017-06-10 16:07] #16538 closed

[2017-06-10 16:07] kargakis commented on #16796
@kubernetes/sig-cli-misc

[2017-06-10 16:09] kargakis commented on #17532
@kubernetes/sig-cli-misc
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-10 16:10] kargakis commented on #17512
@kubernetes/sig-cli-misc

[2017-06-10 16:10] kargakis commented on #17505
@kubernetes/sig-contributor-experience-misc

[2017-06-10 16:11] kargakis commented on #17362
@kubernetes/sig-network-misc

[2017-06-10 16:11] kargakis commented on #17144
@kubernetes/sig-cli-misc

[2017-06-10 16:12] kargakis commented on #17080
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-10 16:12] kargakis commented on #17028
@kubernetes/sig-cli-feature-requests

[2017-06-10 16:12] kargakis commented on #17077
/sig release

[2017-06-10 16:13] jayunit100 commented on #15450
Was hoping this would move over with the other examples,and then we could start pruning the examples down to a small, 'basis-set', which k8petstore may (or may not) be a part of .

[2017-06-10 16:13] kargakis commented on #16998
@ahmetb

[2017-06-10 16:13] kargakis commented on #16998
/sig apps

[2017-06-10 16:14] kargakis commented on #15450
@jayunit100 mind moving the issue in the examples repo then?

[2017-06-10 16:16] jayunit100 commented on #15450
yes sir

[2017-06-10 16:16] #15450 closed

[2017-06-10 16:18] kargakis commented on #44542
/sig auth

[2017-06-10 16:22] kargakis commented on #17941
@kubernetes/sig-autoscaling-misc

[2017-06-10 16:22] kargakis commented on #17882
/sig aws

[2017-06-10 16:23] kargakis commented on #17857
/sig scheduling

[2017-06-10 16:23] kargakis commented on #17837
/sig aws

[2017-06-10 16:24] kargakis commented on #17805
@kubernetes/sig-network-misc

[2017-06-10 16:24] kargakis commented on #17724
@ahmetb

[2017-06-10 16:24] kargakis commented on #17682
@kubernetes/sig-release-misc

[2017-06-10 16:24] kargakis commented on #17686
@kubernetes/sig-network-feature-requests

[2017-06-10 16:26] kargakis commented on #17675
@kubernetes/sig-scalability-misc

[2017-06-10 16:26] kargakis commented on #17667
@kubernetes/sig-cli-misc

[2017-06-10 16:27] kargakis commented on #17887
/sig docs

[2017-06-10 16:27] kargakis commented on #17902
@kubernetes/sig-cli-misc

[2017-06-10 16:29] kargakis commented on #17489
Please reopen this issue in the examples repo: https://github.com/kubernetes/examples

[2017-06-10 16:29] #17489 closed

[2017-06-10 16:30] kargakis commented on #17324
/sig storage
/sig network

[2017-06-10 16:32] kargakis commented on #17182
Closing as a dupe of https://github.com/kubernetes/kubernetes/issues/36601

[2017-06-10 16:32] #17182 closed

[2017-06-10 16:33] kargakis commented on #36601
Older issue asking about this: https://github.com/kubernetes/kubernetes/issues/17182

[2017-06-10 16:34] kargakis commented on #34941
@kubernetes/sig-node-bugs

[2017-06-10 17:02] spzala commented on #16538
@kargakis  Thanks!

[2017-06-10 17:40] mikedanese commented on #16446
This is stale

[2017-06-10 17:40] #16446 closed

[2017-06-10 17:41] #15111 closed

[2017-06-10 18:27] janetkuo commented on #29386
This is broken by #44251:

[code]

@pwittrock fix this in 1.7? The fix is trivial (one line change)

[2017-06-10 18:51] #15654 closed

[2017-06-10 18:57] derekwaynecarr opened #47291 "kubefed init outputs message incorrectly"
**Kubernetes version** (use `kubectl version`):
kubernetes/master

**Environment**:
na

**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it** (as minimally and precisely as possible):
see above

**Anything else we need to know**:
nope, have a fix.

[2017-06-10 19:25] bboreham commented on #31307
@ekozan I believe you would need:
 - the CNI hostPort plugin installed on all hosts
 - a CNI network config (file) that chains together your chosen network plugin and the hostPort plugin

[2017-06-10 19:39] derekwaynecarr commented on #47291
@kubernetes/sig-federation-misc

[2017-06-10 19:47] mengqiy commented on #47238
@kubernetes/sig-apps-misc

[2017-06-10 20:00] zetaab commented on #47168
this is fixed already in https://github.com/kubernetes/kubernetes/pull/44798 after that PR statefulsets will always add zone label to persistentvolume. In other words: it cannot happen anymore that volume is in zone-1 and pod is executed in zone-2.

[2017-06-10 20:42] #47291 closed

[2017-06-10 21:11] pwittrock commented on #29386
@janetkuo If we can get a PR approved and lgtm'ed by Tuesday, lets try to get it in.

[2017-06-10 22:15] thockin commented on #16873
https://kubernetes.io/docs/reference/deprecation-policy/

[2017-06-10 22:15] #16873 closed

[2017-06-10 22:16] thockin commented on #16247
good enough

On Sat, Jun 10, 2017 at 8:52 AM, Michail Kargakis <notifications@github.com>
wrote:

[2017-06-10 22:19] thockin commented on #16247
git-sync has its own repo now, and is open to feature requests.

https://github.com/kubernetes/git-sync

[2017-06-10 22:19] #16247 closed

[2017-06-10 22:19] #15640 closed

[2017-06-10 22:19] thockin commented on #15640
not really but meh

[2017-06-10 22:20] #14128 closed

[2017-06-10 22:20] #14124 closed

[2017-06-10 22:20] #13577 closed

[2017-06-10 22:21] thockin commented on #24657
@yaronha I told you I thought it was in :)

[2017-06-10 22:32] superbrothers commented on #29386
@pwittrock I fixes at #47293. Please see it.

[2017-06-10 22:38] thockin commented on #14204
We have made it faster in the mean time.  I bet half of the tests that
upgrade/downgrade Service could be unit tests or integration tests.

On Fri, Jun 9, 2017 at 12:04 PM, Bowei Du <notifications@github.com> wrote:

[2017-06-10 22:42] superbrothers commented on #29386
@janetkuo Thank you for finding the issue.

[2017-06-10 22:50] thockin commented on #45385
ACK

[2017-06-10 23:18] MohamedBassem opened #47294 "kubelet is spamming "daemon.log" with error messages"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
daemon.log, didn't find any duplicates.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e

[2017-06-10 23:22] MohamedBassem commented on #47294
@kubernetes/sig-node-misc

[2017-06-10 23:49] noah8713 commented on #47201
@cblecker

[2017-06-11 00:07] mattes commented on #16827
https://www.terraform.io/docs/providers/kubernetes/index.html

[2017-06-11 00:58] dims commented on #17505
https://kubernetes.io/docs/getting-started-guides/ redirects to https://kubernetes.io/docs/setup/pick-right-solution/ and there are no references local-up-cluster.sh, so we can close this out

[2017-06-11 00:58] dims commented on #17505
/assign

[2017-06-11 00:58] dims commented on #17505
/close

[2017-06-11 00:58] #17505 closed

[2017-06-11 01:30] supereagle commented on #47294
Most of the log are `No such container` errors, the reason has been explained in the [44752#issuecomment-298130468](https://github.com/kubernetes/kubernetes/issues/44752#issuecomment-298130468).

[2017-06-11 04:31] k82cn opened #47295 "The completed Pods (with initContainers) was restarted"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master

[code]

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): `Linux k82cn 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
- **Others

[2017-06-11 04:31] k82cn commented on #47295
/assign

[2017-06-11 04:31] k82cn commented on #47295
/sig nodes

[2017-06-11 04:31] k82cn commented on #47295
/sig node

[2017-06-11 04:33] thockin opened #47296 "Get rid of KUBE_GOFLAGS"
We should just use GOFLAGS

[2017-06-11 05:00] cblecker commented on #47201
@noah8713: You've assigned this to yourself. Are you actually taking action on it?

/remove-sig release testing

[2017-06-11 05:02] cblecker commented on #47296
/sig contributor-experience
/assign dims

[2017-06-11 05:03] cblecker commented on #47296
/assign @dims

[2017-06-11 05:14] k8s-merge-robot opened #47297 "Failure cluster [2f4590...] failed 93 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [2f459014e3f28c85092c](https://go.k8s.io/triage#2f459014e3f28c85092c)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    93 builds failed.
Failure stats cover 1 day time range '10 Jun 2017 03:56 UTC' to '11 Jun 2017 03:56 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 2 |

##### Top f

[2017-06-11 05:14] k8s-merge-robot opened #47298 "Failure cluster [a9e3ad...] failed 85 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [a9e3ad62f7267da7badb](https://go.k8s.io/triage#a9e3ad62f7267da7badb)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    85 builds failed.
Failure stats cover 1 day time range '10 Jun 2017 03:56 UTC' to '11 Jun 2017 03:56 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 2 |

####

[2017-06-11 05:37] smarterclayton commented on #19902
I did a quick prototype of letting the GC controller indicate it wants a Live read (which is what it's actually doing).  But I think it is probably just simpler to turn on quorum reads for everything and introduce a way to opt out (which technically we already have with `ResourceVersion: "0"`).

[2017-06-11 05:46] heartlock commented on #31307
@ekozan Config cni as below just like https://github.com/kubernetes/frakti:
[code]

[2017-06-11 05:53] chakri-nelluri commented on #47109
@verult @sjpotter This has been discussed and requires discovery of capabilities during init time, which would have made it more expandable. Give the new effort for CSI and Flex volumes EOL as alpha @saad-ali wanted to minimize adding these new capabilities.

[2017-06-11 06:40] CaoShuFeng opened #47301 "Leaked socket file after unit test"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**What happened**:
4 socket files is left in workspace after we run "make test"

**What you expected to happen**:
The workspace should be clean.

**How to reproduce it** (as minimally and precisely as possible):
$ make test WHAT=k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/registry/generic/registry KUBE_GOFLAGS="-v"
$ find -ty

[2017-06-11 06:41] svanharmelen opened #47303 "Support the `cloudprovider.Instances` interface for CloudStack"
I would be nice if the CloudStack cloudprovider would support the `cloudprovider.Instances` interface.

[2017-06-11 07:33] #45298 closed

[2017-06-11 07:37] rachlenko commented on #24657
@thockin How I've waited for this moment. Thank you :)

[2017-06-11 07:56] redbaron commented on #45385
@thockin , @cmluciano , please don't :( decision to switch to nftables should not be taken lightly, although it is more than capable in replacing iptables feature-wise, there will be issues such as missing nftables modules in default kernels (for instance CoreOS doesn't ship them yet) and questions how nftables <> iptables rules can coexist (Flannel, Calico, etc can install their own rules and the

[2017-06-11 08:42] CaoShuFeng opened #47304 "unit test TestCertsTLS fails when IPV6 is disabled"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
community master

**Environment**:
- **Cloud provider or hardware configuration**: my local machine
- **OS** (e.g. from /etc/os-release): linux
- **Kernel** (e.g. `uname -a`): Linux localhost.localdomain 4.10.8-200.fc25.x86_64 #1 SMP Fri Mar 31 13:20:22 UTC 2017 x86_64 x86_64 x86_

[2017-06-11 11:36] runcom commented on #47288
so the container status reason is just a string described in CRI as https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L757:

I propose to standardize the OOM killed status for a container as kubelet relies on it, PR here:https://github.com/kubernetes/kubernetes/pull/47306

[2017-06-11 11:37] saschagrunert commented on #42735
I am not sure if this issue is related to RBAC since it also occurs then not using calico but cni networking via flannel. I found out that the `cni` Network interface got some sort of disconnect (via dmesg), then reconnects and after that the nsenter failures occurred.

[2017-06-11 12:19] moshe0076 commented on #41033
Hi,

I just hit this problem with Kubernetes 1.5.4. I have a CI/CD cluster with many images pulled each day.
I have run out of Inodes.
In which version of Kubernetes was the this fix implemented?

Thanks!

[2017-06-11 13:47] kargakis commented on #47304
What version of go are you using?

[2017-06-11 14:07] kargakis commented on #17150
/sig docs

[2017-06-11 14:07] luxas commented on #16827
cc @jbeda You had some thoughts/work on Terraform and kubeadm?
I think this issue could use a little more instructions/rationales/work-items in order to be relevant.

_I guess_ this issue is just stale, a lot of things have happened since Nov 2015...

[2017-06-11 14:08] kargakis commented on #17010
/sig apps

[2017-06-11 14:08] luxas commented on #16827
Plus the fact @mattes pointed out; there is a Kubernetes provider in Terraform now...

[2017-06-11 14:10] shiywang commented on #15471
/assign

[2017-06-11 14:10] luxas commented on #17532
cc @justinsb on the new addon manager thingy

[2017-06-11 14:11] luxas commented on #33729
@kachkaev Can you think of any quick and solid way to detect that?
Happy to investigate options here...

[2017-06-11 14:13] luxas commented on #13904
Yep, these manifests have been deprecated for nearly a year and deleted for a couple of months...

[2017-06-11 14:13] #13904 closed

[2017-06-11 14:14] kargakis commented on #16970
SavePodToFile is not used anymore but SavePodToFile seems to be used by the volume recycler so @kubernetes/sig-storage-misc

[2017-06-11 14:14] kargakis commented on #16970
correction: LoadPodFromFile is used

[2017-06-11 14:15] luxas commented on #10882
@thockin Is this issue relevant anymore or already possible?

[2017-06-11 14:15] luxas commented on #47015
@gyliu513 You sent PRs to fix this, right?
Can this be closed now?

[2017-06-11 14:16] kargakis commented on #16935
/sig api-machinery

[2017-06-11 14:17] kachkaev commented on #33729
@luxas I'm afraid I don't because I'm not an export in kubernetes and servers as such. But if you or your colleagues are interested in playing with a server that behaves in an odd way, I can provide you with a root password for a small KVM by https://firstvds.ru/. Just DM on twitter or email me!

[2017-06-11 14:40] luxas opened #47307 "Control plane images aren't pushed for {arm,arm64,ppc64le,s390x} on release"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`): HEAD

Since v1.7.0-alpha.3, control plane images are only pushed for amd64.
Compare: https://gcr.io/v2/google_containers/kube-apiserver-amd64/tags/list to https://gcr.io/v2/google_containers/kube-apiserver-arm/tags/list

_This is a release-blocker and should be fixed ASAP._

I gu

[2017-06-11 14:43] kargakis commented on #18087
Seems gone

[2017-06-11 14:43] #18087 closed

[2017-06-11 14:44] kargakis commented on #18092
Fixed by https://github.com/kubernetes/kubernetes/pull/18102

[2017-06-11 14:44] #18092 closed

[2017-06-11 14:45] kargakis commented on #18064
@kubernetes/sig-cli-feature-requests

[2017-06-11 14:46] kargakis commented on #17847
/sig node

[2017-06-11 14:46] kargakis commented on #17724
/sig apps

[2017-06-11 14:47] kargakis commented on #17658
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-11 14:47] kargakis commented on #17659
@kubernetes/sig-scalability-misc

[2017-06-11 14:49] kargakis commented on #17613
Shouldn't be an issue anymore, please reopen otherwise

[2017-06-11 14:49] #17613 closed

[2017-06-11 14:49] kargakis commented on #17237
@kubernetes/sig-cli-misc

[2017-06-11 14:50] kargakis commented on #18023
@kubernetes/sig-cli-feature-requests

[2017-06-11 14:50] kargakis commented on #17564
/sig auth

[2017-06-11 14:51] kargakis commented on #17508
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-11 14:53] kargakis commented on #17460
Seems like a documentation effort
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-11 14:53] kargakis commented on #17449
/sig scalability

[2017-06-11 14:54] kargakis commented on #17258
@kubernetes/sig-cli-misc

[2017-06-11 14:55] kargakis commented on #17223
@pmorie @smarterclayton is there a SIG where SC falls under? node? auth?

[2017-06-11 14:55] kargakis commented on #17162
@kubernetes/sig-scalability-misc

[2017-06-11 15:00] kargakis commented on #18834
@kubernetes/sig-scheduling-misc

[2017-06-11 15:01] kargakis commented on #18861
/sig release

[2017-06-11 15:02] kargakis commented on #18826
/sig autoscaling

[2017-06-11 15:03] kargakis commented on #18749
@kubernetes/sig-storage-bugs

[2017-06-11 15:03] kargakis commented on #18726
@kubernetes/sig-release-misc

[2017-06-11 15:04] kargakis commented on #18730
@kubernetes/sig-testing-misc

[2017-06-11 15:04] kargakis commented on #18659
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-11 15:04] kargakis commented on #18662
@kubernetes/sig-release-misc

[2017-06-11 15:05] kargakis commented on #18663
@kubernetes/sig-cli-misc

[2017-06-11 15:05] kargakis commented on #18654
/sig autoscaling
/sig docs

[2017-06-11 15:06] kargakis commented on #18516
/sig release

[2017-06-11 15:06] kargakis commented on #18451
@kubernetes/sig-network-misc

[2017-06-11 15:07] kargakis commented on #18443
@kubernetes/sig-testing-misc

[2017-06-11 15:07] kargakis commented on #18395
/sig release

[2017-06-11 15:08] kargakis commented on #18387
/sig scalability

[2017-06-11 15:09] kargakis commented on #18303
Pretty sure there is some machinery in test-infra about this but I am going to defer to @kubernetes/sig-testing-misc

[2017-06-11 15:10] kargakis commented on #18270
@kubernetes/sig-network-misc

[2017-06-11 15:10] kargakis commented on #18188
@kubernetes/sig-release-misc

[2017-06-11 15:10] kargakis commented on #18107
/sig storage

[2017-06-11 15:11] kargakis commented on #18771
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-11 15:11] kargakis commented on #18233
/sig node
/sig network

[2017-06-11 15:12] kargakis commented on #18221
/sig autoscaling

[2017-06-11 15:13] kargakis commented on #16307
@kubernetes/sig-testing-misc

[2017-06-11 15:13] kargakis commented on #17001
@kubernetes/sig-testing-misc

[2017-06-11 15:14] kargakis commented on #16659
@kubernetes/sig-testing-misc
@kubernetes/sig-api-machinery-misc

[2017-06-11 15:22] kargakis commented on #15863
Maybe an update/validate script so we can keep this consistent in the future too?

See https://gist.github.com/porjo/b331df0b3d7e33c30920 for example

[2017-06-11 15:22] kargakis commented on #15863
@kubernetes/sig-contributor-experience-misc

[2017-06-11 15:24] kargakis commented on #18753
@kubernetes/sig-network-misc

[2017-06-11 15:25] kargakis commented on #17707
@kubernetes/sig-cli-feature-requests

[2017-06-11 15:25] kargakis commented on #17707
Echoing Clayton's concerns - this doesn't have to be a kubectl command.

[2017-06-11 15:26] kargakis commented on #19554
@kubernetes/sig-testing-misc

[2017-06-11 15:26] kargakis commented on #19483
@kubernetes/sig-api-machinery-misc

[2017-06-11 15:27] kargakis commented on #19464
@kubernetes/sig-release-misc

[2017-06-11 15:27] kargakis commented on #17895
@ahmetb @kubernetes/sig-apps-misc

[2017-06-11 15:27] kargakis commented on #19461
@kubernetes/sig-testing-misc

[2017-06-11 15:28] kargakis commented on #19427
@kubernetes/sig-cli-misc

[2017-06-11 15:28] kargakis commented on #19423
@kubernetes/sig-testing-misc

[2017-06-11 15:28] kargakis commented on #19373
@kubernetes/sig-release-misc

[2017-06-11 15:29] kargakis commented on #19367
@kubernetes/sig-api-machinery-misc

[2017-06-11 15:29] kargakis commented on #19333
@kubernetes/sig-network-misc

[2017-06-11 15:30] kargakis commented on #19348
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-11 15:31] kargakis commented on #17737
@mikedanese @kubernetes/sig-cluster-lifecycle-misc

[2017-06-11 15:32] kargakis commented on #17859
/sig node

[2017-06-11 15:33] kargakis commented on #17906
@kubernetes/sig-network-misc

[2017-06-11 15:35] kargakis commented on #18947
Today I am skeptical of automatic rollbacks. ProgressDeadlineSeconds is still a nice-to-have in DaemonSets so users can act via a higher-level orchestrator in case the progress deadline is exceeded.

[2017-06-11 15:35] kargakis commented on #18947
@kubernetes/sig-apps-misc

[2017-06-11 15:36] kargakis commented on #19154
@kubernetes/sig-release-misc

[2017-06-11 15:37] kargakis commented on #19219
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-11 15:37] kargakis commented on #19163
@kubernetes/sig-cli-bugs

[2017-06-11 16:27] ahmetb commented on #15817
We no longer accept contributions to examples unless they demonstrate use cases not covered by examples we already have [here](https://github.com/kubernetes/examples/blob/e00514bce95b38223f92c36b3a3fc526e5aaa94e/README.md). Consider creation a repository yourself and maintaining it outside Kubernetes.

[2017-06-11 16:30] #15817 closed

[2017-06-11 16:32] ahmetb commented on #17080
@nicksardo do you think we still need to keep this addon here https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-loadbalancing/glbc given we already have a more extensive documentation at https://github.com/kubernetes/ingress/tree/master/controllers/gce

[2017-06-11 16:34] ahmetb commented on #17508
/assign

[2017-06-11 16:34] ahmetb commented on #17508
There are no boot2docker references in docs repository (kubernetes.github.io) anymore. /close

[2017-06-11 16:34] ahmetb commented on #17508
/close

[2017-06-11 16:34] #17508 closed

[2017-06-11 16:35] ahmetb commented on #17895
/assign

[2017-06-11 16:36] ahmetb commented on #17895
#44801 removed this example due to the reason described above.

/close

[2017-06-11 16:36] #17895 closed

[2017-06-11 16:36] ahmetb commented on #19348
/assign

[2017-06-11 16:37] kargakis commented on #20151
/sig node
/sig storage

[2017-06-11 16:37] ahmetb commented on #19348
Looks like already fixed here: https://kubernetes.io/docs/getting-started-guides/coreos/bare_metal_offline/

/close

[2017-06-11 16:37] #19348 closed

[2017-06-11 16:40] kargakis commented on #19249
/sig node

[2017-06-11 16:40] kargakis commented on #19221
/sig on-prem

[2017-06-11 16:41] kargakis commented on #19221
@kubernetes/sig-onprem-misc

[2017-06-11 16:41] kargakis commented on #19113
/sig aws

[2017-06-11 16:42] kargakis commented on #19081
/sig api-machinery

[2017-06-11 16:43] kargakis commented on #19080
@kubernetes/sig-api-machinery-misc

[2017-06-11 16:43] kargakis commented on #19079
@kubernetes/sig-api-machinery-misc

[2017-06-11 16:43] kargakis commented on #19079
@kubernetes/sig-auth-misc

[2017-06-11 16:45] kargakis commented on #18884
Please use other channels found in https://github.com/kubernetes/community/blob/master/communication.md for support-related questions.

[2017-06-11 16:45] #18884 closed

[2017-06-11 16:45] kargakis commented on #18949
@kubernetes/sig-storage-misc

[2017-06-11 16:46] ahmetb commented on #19219
Can someone validate if this is still an issue in the docs? It's been open for 1.5 years. Consider sending a PR to the docs repository if so.

[2017-06-11 16:48] kargakis commented on #18972
ns indexed caches are OK for now - I think the lookup cache in the RC controller was removed at some point

[2017-06-11 16:48] #18972 closed

[2017-06-11 16:50] kargakis commented on #20017
@kubernetes/sig-testing-misc

[2017-06-11 16:51] kargakis commented on #20015
/sig node

[2017-06-11 16:52] kargakis commented on #20002
@kubernetes/sig-testing-misc

[2017-06-11 16:52] kargakis commented on #19972
@kubernetes/sig-network-misc

[2017-06-11 16:53] kargakis commented on #19853
@kubernetes/sig-cli-misc

[2017-06-11 16:53] kargakis commented on #19844
@kubernetes/sig-testing-misc

[2017-06-11 16:54] kargakis commented on #19830
@kubernetes/sig-api-machinery-misc

[2017-06-11 16:54] kargakis commented on #19736
/sig cli

[2017-06-11 16:55] kargakis commented on #19705
@kubernetes/sig-network-misc

[2017-06-11 16:55] #19615 closed

[2017-06-11 16:56] kargakis commented on #19604
@kubernetes/sig-testing-misc

[2017-06-11 17:28] kargakis commented on #19873
@kubernetes/sig-cli-misc

[2017-06-11 17:29] kargakis commented on #19873
Fixed by https://github.com/kubernetes/kubernetes/pull/32752

[2017-06-11 17:29] #19873 closed

[2017-06-11 17:29] kargakis commented on #20112
@kubernetes/sig-network-misc

[2017-06-11 17:35] kargakis commented on #19949
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-11 17:36] kargakis commented on #37005
/sig azure

[2017-06-11 17:36] kargakis commented on #43608
/sig azure

[2017-06-11 17:37] kargakis commented on #20068
@kubernetes/sig-testing-misc

[2017-06-11 17:37] kargakis commented on #19901
@kubernetes/sig-testing-misc

[2017-06-11 17:38] kargakis commented on #19849
/sig release

[2017-06-11 17:38] kargakis commented on #19570
/sig cluster-lifecycle

[2017-06-11 17:39] kargakis commented on #19569
@kubernetes/sig-testing-misc

[2017-06-11 17:40] kargakis commented on #20639
@kubernetes/sig-scalability-misc

[2017-06-11 17:41] kargakis commented on #20502
/sig apps

[2017-06-11 17:41] kargakis commented on #20491
/sig testing

[2017-06-11 17:41] kargakis commented on #20473
/sig docs

[2017-06-11 17:42] kargakis commented on #20460
/sig docs

[2017-06-11 17:42] kargakis commented on #20365
/sig release

[2017-06-11 17:42] kargakis commented on #20357
/sig testing

[2017-06-11 17:56] ahmetb commented on #14897
Unfortunately many of the examples used in e2e (but simple ones like guestbook) have been always-failing for quite a while now. Now that we are moving out these out of the main repo, we’ll probably delete their usage in e2e as well. #46362

[2017-06-11 17:57] ahmetb commented on #19949
/assign

[2017-06-11 17:57] ahmetb commented on #19949
Current docs https://kubernetes.io/docs/concepts/containers/images/ do not have this problem:

![image](https://user-images.githubusercontent.com/159209/27013231-c397d652-4e94-11e7-827a-d61c81d87b9b.png)

/close

[2017-06-11 17:57] #19949 closed

[2017-06-11 17:58] ahmetb commented on #17658
@orfjackal would you be up for contributing a patch to https://kubernetes.io/docs/tasks/access-application-cluster/authenticate-across-clusters-kubeconfig/ ?

[2017-06-11 18:48] ahmetb commented on #18771
@kargakis I don't think sig-docs can help much here.

[2017-06-11 18:49] ahmetb commented on #18659
/assign

[2017-06-11 18:50] ahmetb commented on #18659
We have a [verify-docs-format.sh](https://github.com/kubernetes/kubernetes.github.io/blob/e2a898ad4139729834ad3f139b9063601d3f2a92/verify-docs-format.sh) that does YAML Markdown validation today. Feel free to submit PRs to the docs repo if you see ways to improve it.

/close

[2017-06-11 18:50] #18659 closed

[2017-06-11 18:54] kargakis commented on #18771
/sig cli then

[2017-06-11 18:54] kargakis commented on #18771
/remove-sig docs

[2017-06-11 19:09] noah8713 commented on #47201
@cblecker no I am not taking any action. Guess wrong bot call.

[2017-06-11 19:09] noah8713 commented on #47201
/assign @cblecker

[2017-06-11 19:23] cblecker commented on #47201
/unassign
I'm not the right person to assign this to. The sigs will have to review and triage.

[2017-06-11 19:54] justinsb commented on #17162
We should presumably close this issue, which is about the now-fixed problem `ERROR: logging before flag.Parse`.  Alternatively, we could redirect this issue to be about a potential glog replacement.

[2017-06-11 20:11] justinsb commented on #18451
I'm not sure what more we would want to do.  We could include a "provider id" field for the load balancer, but in practice at least on AWS it doesn't gain us a lot - the DNS name itself is a better identifier.

Here is where we are today on AWS:

[code]

[code]

`ad55bee634ee011e7b89102561e08ab5` is the name of the AWS load balancer.

[code]

[2017-06-11 20:33] smarterclayton commented on #36120
https://github.com/json-iterator/go/blob/master/README.md claims to be much faster.  Maybe someone should try it out

[2017-06-11 20:40] ekozan opened #47310 "Document how to setup HostPort"
Now cni have the "portmap" plugin who fix the bug on hostport of kubernetes ... maybe we can have a small documentation how to set it up in kubeadm cluster

[2017-06-11 20:40] #47310 closed

[2017-06-11 21:06] smarterclayton commented on #36120
Ouch... there's a new king of the hill:

[code]

[2017-06-11 21:08] rodawg commented on #47271
Isn't this a duplicate?

https://github.com/kubernetes/kubernetes/issues/45050

[2017-06-11 21:10] justinsb commented on #47271
It is @rodawg  - sorry we didn't observe your prior report!

[2017-06-11 21:12] thockin commented on #36120
I threw it at a testcase Ihave and it SEGV'ed.  I'll file a bug with them.

I wonder if they could accept standard custom JSON methods at some cost.

On Sun, Jun 11, 2017 at 2:07 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-06-11 21:16] thockin commented on #36120
Where do you see that they don't support methods?

On Sun, Jun 11, 2017 at 2:11 PM, Tim Hockin <thockin@google.com> wrote:

[2017-06-11 21:18] smarterclayton commented on #36120
metav1.Time failed because it's a struct in memory but UnmarshalJSON overrides.  So they're not checking that method before they call the command.

I had to fake out with:

[code]

they're also accepting type as string which is not safe.

[2017-06-11 21:31] rootfs commented on #18949
/assign
this is fixed. Readonly rbd can be mounted on multiple nodes.

[2017-06-11 21:31] rootfs commented on #18949
/close

[2017-06-11 21:31] #18949 closed

[2017-06-11 21:33] rootfs commented on #18749
/assign

[2017-06-11 21:34] rootfs commented on #18749
Also see #20734
/close

[2017-06-11 21:34] #18749 closed

[2017-06-11 21:35] rootfs commented on #18749
/close

[2017-06-11 21:41] rodawg commented on #47271
No worries, just trying to get a handle on this issue!

[2017-06-11 21:53] Thoro opened #47311 "[iSCSI] Custom Initiator names per volume"
**FEATURE REQUEST**
**Kubernetes version**: master (1.8.0alpha)

**Proposal**
Since the addition of chap authentication per volume the logical next feature would be the addition of a custom initiator name per persistent volume. This would allow for more fine grained configuration, and remove the need to configure the initiator name on the host (to be the same on all of them).

**Idea**
Define a st

[2017-06-11 21:54] rootfs commented on #47311
/sig storage
/assign

[2017-06-11 22:35] thockin commented on #36120
The numbers look good (when it passes my test battery).  This could be our
way out of ugorji hell.

On Sun, Jun 11, 2017 at 2:18 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-06-11 22:37] thockin commented on #18451
@nicksardo

I do think it would be useful to provide a way to track back between
resources.  It could be annotations, though.

On Sun, Jun 11, 2017 at 1:11 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2017-06-11 22:37] thockin commented on #17162
glog replacement should be distinct

[2017-06-11 22:37] #17162 closed

[2017-06-11 22:39] thockin commented on #8190
Endpoints as subresources:

The link between a Service and its Endpoints object is very weak (same name). It might be interesting in v2 API to manifest this as a subresource of Service. We will one day need to paginate Endpoints, but I think that still applies in both cases. Not sure if watch on sub-resources would work, but we could still have an Endpoints object, and carry the subresource as a r

[2017-06-11 22:39] #20112 closed

[2017-06-11 22:54] saturnism opened #47312 "Example Cassandra Daemon set fails to deploy"
**What keywords did you search in Kubernetes issues before filing this one?** cassandra
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
BuildDate:"2017-05-19T18:44:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9

[2017-06-11 23:06] smarterclayton commented on #36120
Unfortunately it could also be our way into malicious input and memory
safety hell... :)

On Sun, Jun 11, 2017 at 6:36 PM, Tim Hockin <notifications@github.com>
wrote:

[2017-06-11 23:12] leblancd opened #47313 "Need IPv6 test cases for kube-proxy app server"
**Is this a request for help?**  No.

**What keywords did you search in Kubernetes issues before filing this one?** is:issue is:open ipv6

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`): N/A, these are unit test changes in latest master

**Environment**:
- **Cloud provider or hardware configuration**: Kubernetes conta

[2017-06-11 23:17] #47244 closed

[2017-06-11 23:18] leblancd commented on #47313
/sig networking

[2017-06-11 23:19] leblancd commented on #47313
/area ipv6

[2017-06-11 23:37] thockin commented on #19705
This is over a year old.  There's an effort underway to de-centralize cloud-providers, so I am closing this in favor of that.

[2017-06-11 23:37] #19705 closed

[2017-06-11 23:41] thockin commented on #36120
I started writing a custom code-gen for JSON, but without getting into
`unsafe` territory it's kind of hard to beat standard JSON.  I don't know
if I want to spend any more time on it if this is viable instead.

On Sun, Jun 11, 2017 at 4:07 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-06-11 23:41] thockin commented on #8190
Rename downward API `items` to `files`.

The downward API volume source established a pattern of using Items for the array variable for a list of projections into a volume. It should be called Files instead, but it looks like we are going to follow the existing pattern in #17554 for consistency, so this volume should also be refactored in the next version of the pod API.

[2017-06-11 23:42] #17859 closed

[2017-06-11 23:42] #18753 closed

[2017-06-11 23:44] #18270 closed

[2017-06-11 23:44] #10882 closed

[2017-06-11 23:46] gyliu513 commented on #47015
@luxas the PR was not committed yet, can you help lgtm and approve it? https://github.com/kubernetes/kubernetes/pull/46748

[2017-06-11 23:49] thockin commented on #45385
The proposal was not nftables, but using netlink to listen for iptables
changes to avoid resync when not needed.

On Sun, Jun 11, 2017 at 12:56 AM, Maxim Ivanov <notifications@github.com>
wrote:

[2017-06-12 00:21] shiywang commented on #17144
/assign

[2017-06-12 00:24] noah8713 commented on #47201
/sig node

[2017-06-12 00:24] noah8713 commented on #47201
/sig network

[2017-06-12 00:33] #47214 closed

[2017-06-12 00:46] adohe commented on #17707
I really don't hope this be a kubectl command, we could have kubectl plugin for this.

[2017-06-12 00:48] shiywang commented on #17707
/cc

[2017-06-12 00:53] nicksardo commented on #17080
The GLBC still depends on this defaultBackend addon, so the yamls shouldn't move.

I'm not too worried about this readme being inaccessible from k8s.io. Agreed, the information seems to be a summary of everything in `kubernetes/ingress/controllers/gce`.  If we need to do anything, it's adding links pointing to docs of the various ingress controllers on k8s.io.

[2017-06-12 01:02] renewooller commented on #33884
Are we sure this is closed? I've noticed the master node being added to LoadBalancers eg
![ec2_management_console](https://user-images.githubusercontent.com/3643599/27016053-918dee9c-4f5e-11e7-812c-6e1b319f0d14.png)

[2017-06-12 01:12] xiangpengzhao commented on #47313
/sig network

[2017-06-12 01:13] CaoShuFeng commented on #47304
I use go version go1.8.1 linux/amd64.

[2017-06-12 01:14] renewooller commented on #33884
and https://github.com/kubernetes/kops/issues/853

[2017-06-12 01:19] timothysc commented on #18834
Logging in the scheduler was audited in 1.6 and said log is V4.

[2017-06-12 01:19] #18834 closed

[2017-06-12 01:30] justinsb commented on #33884
#44745 added 82d600bb5c34b2c7352643d4d811941e063a8215 which is on the release-1.7 branch (as of v1.7.0-alpha.3), and the backport #44926 added f542fe12837560d991218289e8297dac7362c7ba which is on the 1.6 branch (as of 1.6.3).

But this could also be https://github.com/kubernetes/kubernetes/pull/45773 .

In this case though @renewooller , the fix is not in server 1.6.2.

[2017-06-12 01:31] liqlin2015 commented on #47233
What about the case that user always can (forcefully) delete a fault StatefulSet in whatever circumstances.

[2017-06-12 01:49] gyliu513 commented on #47233
@liqlin2015 in general, if the ss can be created successfully, then it can always be deleted. For your case that you can not delete the ss, it is because when create ss, there is no check for `PodSpec`, if I add this checking back, then we can always delete any ss.

Currently for your case, you can edit the ss first by adding `image` and delete the ss. Once this issue is fixed, then you can always

[2017-06-12 01:49] #47253 closed

[2017-06-12 01:52] ddysher commented on #43874
Use case: before kubernetes supports logging volume, one option to collect log file is to add a fluentd side car container.

[2017-06-12 02:00] k82cn commented on #47233
@liqlin2015 , I'm not sure whether we handle deleting well for such a "damage" object; if we fixed validation, it should be OK then.

Currently, as gyliu513@ said, please add image as workaround.

[2017-06-12 02:01] #28951 closed

[2017-06-12 02:02] renewooller commented on #33884
Thanks for the prompt clarification @justinsb

[2017-06-12 02:03] k82cn opened #47315 "Add golint check for pkg/kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
enhancement/cleanup

**Kubernetes version** (use `kubectl version`):
master branch

**Description**:
It's better to add golint check for `pkg/kubelet`, e.g. checking comments, naming.

[2017-06-12 02:03] k82cn commented on #47315
/sig node

[2017-06-12 02:25] k82cn opened #47318 "Scheduler performance enhancement"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

/kind enhancement

**Kubernetes version** (use `kubectl version`):
master branch

**Description**:
During the discussion at #42002, we found that there's room for scheduler performance improvement, e.g. NodeAffinity predicates took much time (>10m) for 50k pods in 5k nodes, but it'll take 160s after tiny enhancement.

So we'd like to open

[2017-06-12 02:25] k82cn commented on #47318
/sig scheduling

[2017-06-12 02:26] k82cn commented on #47318
@kubernetes/sig-scheduling-feature-requests

[2017-06-12 02:31] #47128 closed

[2017-06-12 02:34] gyliu513 commented on #17847
The `--low-diskspace-threshold-mb` flag to 0 by default in 1.7, which means that `OutOfDisk` will never trigger by default, shall we close this one? @davidopp @dashpole

[2017-06-12 02:34] justinsb commented on #19554
@zmerlynn also created a great testing strategy for kops, which isolates k8s & kops from each other's breakages.  There is a "last known good" version of kops; we advance that version only when kops passes e2e.  So when kubernetes is tested against kops, it is tested with a kops version that is known not to be broken.  I'm sure he can explain much better than I!

[2017-06-12 02:42] mindprince commented on #47216
So, the regression is caused by https://github.com/kubernetes/kubernetes/pull/46744.

Tests pass when run with:
[code]

They fail when run with:
[code]

This the difference between the two commits:
[code]

Looks like the nvidia GPU devices are no longer being attached to the docker containers after the changes introduced by #46744.

But why are node e2e's still passing?
There is a bug in them whic

[2017-06-12 02:45] ixdy commented on #19569
hah, I think that ship has sailed.

[2017-06-12 02:45] #19569 closed

[2017-06-12 02:47] ixdy commented on #20017
not sure if we still want to do this, but it'd probably be pretty easy to do by linking against `pkg/version` and making sure the right linker flags are set.

[2017-06-12 02:48] ixdy commented on #20017
oh, I've even said that already.

[2017-06-12 02:52] ixdy commented on #19423
pretty sure this one is obsolete.

[2017-06-12 02:52] #19423 closed

[2017-06-12 02:54] vishh commented on #47216
#46744 seems to be an important feature. Can you try to identify the bug it introduced instead of attempting to revert it?
FYI: The relevant device injection logic is [here](https://github.com/kubernetes/kubernetes/pull/46744/files#diff-c7dd39479fd733354254e70845075db5R142).
In case you did not know, you can use a local cluster for testing and development of GPU support @mindprince

@dchen1107 Thi

[2017-06-12 02:54] ixdy commented on #47307
/assign @david-mcmahon

[2017-06-12 02:58] ixdy commented on #47307
also cc @caesarxuchao

[2017-06-12 03:09] #15125 closed

[2017-06-12 03:09] karataliu commented on #47216
Seems moving resource assignment after updateCreateConfig will do the fix.
https://github.com/kubernetes/kubernetes/pull/46744/files#diff-c7dd39479fd733354254e70845075db5R150

Resources got new value there but was then replaced:
https://github.com/kubernetes/kubernetes/pull/46744/files#diff-7a64798a1c76fb0f489279744c106b36R55

I'll try prepare a PR.

[2017-06-12 03:34] whbo158 opened #47324 "issue on arm64: no endpoints,code:503"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:44:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/arm64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab

[2017-06-12 03:42] xiangpengzhao commented on #47221
For this point, per @liggitt comment, should we at least add some validation to verify if "port + protocol" is valid? i.e. "same ports with different protocols" is valid, but "same ports with same protocol" is invalid.

[2017-06-12 03:50] #45772 closed

[2017-06-12 04:26] crassirostris commented on #17449
/sig instrumentation

There are a lot of such places now and also ~ a dozen different verbosity levels used (not including vendor dir)

[2017-06-12 04:29] crassirostris commented on #13066
/sig instrumentation

@mcbain It should be exported already: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/td-agent.conf#L282

If it's not, please open a separate issue, since it's a bug

/cc @coffeepac

[2017-06-12 04:29] #13066 closed

[2017-06-12 04:34] crassirostris commented on #44976
@yujuhong Support out of the box from the most popular logging agents. Ability to extend the set of fields is the future, if necessary (e.g. for a custom deployment include additional metadata pieces). Easy to translate from the journald structured logs, could be a middle-ground.

[2017-06-12 04:39] dovedudus opened #47325 "Umount operation exception cause pod can't read data from RBD-image"
While trying to start a pod on a node，I found that this pod can’t get the latest data. After debugging, it is easy to find that the RBD image that I want to use on the node has been used by previous pod. Although that pod has been deleted, umount operation exception will cause the relevant RBD image is still mount a directory. And then on this node I start a new pod which using the same RBD image,

[2017-06-12 05:17] dovedudus commented on #47325
/sig storage

[2017-06-12 05:30] krmayankk opened #47326 "Multi Tenancy for Persistent Volumes"
**What keywords did you search in Kubernetes issues before filing this one?** tenancy

This issue intends to start a discussion on how to do Multi Tenancy in Kubernetes for Persistent Volumes in particular.

My team is currently trying to enable Stateful Apps for our internal customers. One requirement that keeps coming up is how to isolate PV's of one internal customer from PV's of another intern

[2017-06-12 05:31] krmayankk commented on #47326
/sig storage

[2017-06-12 05:35] krmayankk commented on #47326
@mikedanese  yes looks like encryption seems like a reasonable solution as long as we can separate the encryption key per tenant and only the tenant has access to its own encryption keys. EBS volumes are the only ones supporting encryption. So for RBD , we are out of luck. Is there a general pattern of doing encryption with external provisioning  ? What about incorporating tenancy in in-tree plugi

[2017-06-12 05:37] krmayankk commented on #47326
@smarterclayton Doesn't OpenShift have  use cases for keeping the volumes around after the pods are gone ? Does OpenShift do any kind of multi tenancy on top ?

[2017-06-12 05:38] krmayankk commented on #47326
@thockin  thanks. Not advocating that PV should or should not be namespaced but just trying to understand the rationale for it. One thinking was if PV's were dynamically provisioned in the namespace of the customer, that might further limit their access.

[2017-06-12 05:38] redbaron commented on #45385
I am not aware of such notification mechanism for iptables, I quickly corrected original message.

[2017-06-12 05:40] krmayankk commented on #47326
@jeffvance your understanding of my question is correct. Could you link the issues which talk about ACL'ing  PV's ?

Overall i want a multi tenant model, where:-
-- accidentally its not possible for one tenant to mount a volume created by another tenant
-- its more secure and attacks /compromise limit the surface area of attacks and access to volumes

In the absence of encryption if there is a Kub

[2017-06-12 06:04] jeffvance commented on #47326
@krmayankk I don't think volume ACLs are a formal issue yet. I've cc'd @childsb and @erinboyd since I think they may have some preliminary notes on this topic.

[2017-06-12 06:08] whbo158 commented on #47324
/sig storage

[2017-06-12 06:15] roberthbailey commented on #16648
Yes (either that or obsolete).

[2017-06-12 06:15] #16648 closed

[2017-06-12 06:16] roberthbailey commented on #16449
kubeadm supports brining certificates, but I suppose the requirement for that cert to have our custom SANs still exists.

[2017-06-12 06:21] roberthbailey commented on #16827
I think this issue is obsolete. Please re-open if you disagree.

[2017-06-12 06:21] #16827 closed

[2017-06-12 06:23] roberthbailey commented on #18443
If there have been no updates on this issue for over a year it should be closed as we focus on the current test failures & flakes.

[2017-06-12 06:23] #18443 closed

[2017-06-12 06:32] roberthbailey commented on #12323
`kube-ui` has been deprecated in favor of `kube-dashboard` and as this issue hasn't had any activity for almost 2 years I'm going to close it as obsolete. Please re-open if you want to keep driving this.

[2017-06-12 06:32] #12323 closed

[2017-06-12 06:33] roberthbailey commented on #12165
@kubernetes/sig-network-misc as well

[2017-06-12 06:47] maikelvl commented on #36499
@msau42 Hi, we are very interested in local SSD's? We're experiencing slow servers with standaard HDD boot disks.

[2017-06-12 06:57] devent commented on #46618
Sorry I didn't replied, I was busy the weeks and we had good sunny weather on the weekends. I upgraded Kubernetes to 1.6.4 and the issue is now gone.

Yes, I had taints on the nodes. @k82cn I mean that if I look at the deployment or pod then the tolerations are just not there, as if I never had set them.

[2017-06-12 06:57] #46618 closed

[2017-06-12 07:05] samiaben88 commented on #46839
hi, again, any help please ?

[2017-06-12 07:15] lukaszo commented on #14314
@kargakis this issue is two years old. I think this commit https://github.com/kubernetes/kubernetes/commit/5468773b837602b310f2a1b031ac3e495d8bec46 with other tests more or less is doing what's described in the issue.
Do we need more tests?

[2017-06-12 07:22] guillelb commented on #47230
In that moment, the STATUS was **unknown** for the pod in the failed machine.

`default       app1          0/1       Unknown   0          15h        172.24.96.0      k8sbetamaster3`

The CPU was in 100% of usage, I hoped that the failed PODs were relocated in a miss-function state.

[2017-06-12 07:22] prateekgogia commented on #34625
Sorry, for the delay. I verified this on GCE and issue is fixed here is the error I get -

kubectl apply -f nginx-service.yaml
deployment "frontend" created
The Service "frontend" is invalid: spec.clusterIP: Invalid value: "None": may not be set to 'None' for LoadBalancer services

[2017-06-12 07:54] sttts commented on #19902
Where do you want to opt-out?

[2017-06-12 08:01] roko-p commented on #38684
What if I want a container to be restarted no matter what status it exits with, *but* to give up trying if it cannot even start up in `x` seconds?

So like this:
Start a pod
- if it keeps constantly failing for `x` seconds: stop it
- else (if it managed to start and not fail in those first `x` seconds from creating): restart it everytime it fails *or* successfully finishes

[2017-06-12 08:14] sttts commented on #47240
@caesarxuchao you are right. in my example I had assume the name is related to the group name, but it isn't. Closing.

[2017-06-12 08:14] #47240 closed

[2017-06-12 08:15] prateekgogia commented on #46475
@thockin, I am creating the documentation for ip-masq-agent, while trying out the agent I deployed it with flannel and calico network plugins. These both plugins add the masq rule for everything non local from the pod. Adding this agent with these plugins seems redundant, because the private ranges ignored by this agent, eventually get masquerade by rules added by the network plugins.

I just want

[2017-06-12 08:29] gyliu513 commented on #14314
I think this can be closed as I already added a new test case for this here https://github.com/kubernetes/kubernetes/pull/46695

And it is already merged https://github.com/kubernetes/kubernetes/blame/master/pkg/controller/daemon/daemoncontroller_test.go#L941-L950

@davidopp @lukaszo @kargakis

[2017-06-12 08:37] kargakis commented on #14314
Yes, that seems enough, thanks!

[2017-06-12 08:37] #14314 closed

[2017-06-12 08:42] byouloh commented on #41632
For "make-ca-cert.sh: No such file or directory", I found the following answer:
https://github.com/kubernetes/kubernetes/issues/30751

Suppose you downloaded and untar kubernetes binaries to your_home/kubernetes directory. You can see the kubernetes-salt.tar.gz file in your_home/kubernetes/server directory, after download server binary files. You have to untar kubernetes-salt.tar.gz and copy all t

[2017-06-12 08:46] kargakis commented on #38684
@roko-p then you want your own controller, RCs are designed for a simple use case: long-running apps.

Have a look in [TPR](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-third-party-resource/), though keep in mind they are under a major redesign: https://github.com/kubernetes/features/issues/95

[2017-06-12 08:54] krish7919 commented on #39792
@thockin : Thanks!
I would love to contribute and would want some guidance. Can you tell me where can I get more info on this? Proposal, specs, timeline, etc.?

[2017-06-12 09:05] fishi0x01 commented on #20475
@antoineco you are right. Apparently this was fixed in the latest kops release `1.6.1` https://github.com/kubernetes/kops/releases/tag/1.6.1 a few hours ago.

[2017-06-12 09:31] gmarek commented on #46980
@spxtr @fejta - do you think someone from test-infra may take a look?

[2017-06-12 09:41] gmarek commented on #40271
I'm inclined to close this, as it was reported for 1.4 version and it's quite likely that it's already obsolete. Plus I believe it may be a @kubernetes/sig-apps-misc issue as well. I guess the biggest question is whether it still happens @JeanMertz.

[2017-06-12 09:51] gmarek commented on #12041
We probably should tackle it when we'll be moving conditions to Taints. It's not clear to me if we want to rate limit on a Node side or on a ControlPlane side (in the latter case we'd need to be stricter though).

I want to be able to create hotlists of github issues...

[2017-06-12 09:53] gmarek commented on #13430
Actually I fix this a year ago.

[2017-06-12 09:53] #13430 closed

[2017-06-12 09:54] #13112 closed

[2017-06-12 09:58] gmarek commented on #15066
I think @shyamjvs did this.

[2017-06-12 09:58] #15066 closed

[2017-06-12 09:59] gmarek commented on #16659
It's probably stale. Plus we don't currently have our own 'kube verbs':)

[2017-06-12 09:59] #16659 closed

[2017-06-12 10:00] gmarek commented on #20639
It's out of the scope of sig scalability. @kubernetes/sig-scheduling-feature-requests is probably closer.

[2017-06-12 10:07] marccarre commented on #34101
@thomasmodeneis either:
- `$ docker logs <weave-kube's container ID>` or
- `$ kubectl logs weave-net-0rlkr weave -n kube-system`

[2017-06-12 10:09] LarsKumbier commented on #42306
@sheerun please add the label "sig/storage", if you have the rights.

[2017-06-12 10:20] pkutishch opened #47333 "AccessMode doesn't work properly within PVC"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e5

[2017-06-12 10:23] pkutishch commented on #47333
@kubernetes/sig-storage-mics

[2017-06-12 10:34] xiangpengzhao commented on #47333
/sig storage

[2017-06-12 10:39] gmarek commented on #47318
IIUC a blocker for this are NodeConditions that block scheduling.

[2017-06-12 10:45] jszczepkowski opened #47334 "HPA cannot get metrics from heapster"
HPA e2e tests were failing (starting from 2017-06-06 till 2017-06-09) because HPA controller couldn't get CPU from heapster:

[code]

Logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1207

The tests started passing again on 2017-06-10:
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-serial

[2017-06-12 10:46] jszczepkowski commented on #47334
CC @dchen1107 @wasylkowski

[2017-06-12 10:48] jszczepkowski commented on #47334
CC @kubernetes/sig-autoscaling-bugs

[2017-06-12 10:53] fabiand commented on #46041
Isn't this bug fixed by https://github.com/kubernetes/kubernetes/commit/332e26dc8c09cd4cb9777fee881c49f258522355 ?

[2017-06-12 10:54] jsafrane commented on #15820
This is quite old issue and we've rewritten all attaching and mounting logic in the meantime. Can you still reproduce the bug with 1.5 or 1.6 beta?

[2017-06-12 10:54] fabiand commented on #43639
I guess this could be one piece of #12338 - adding more guarantees to iSCSI volumes.

The interesting bit here is that it would also cover the block storage aspects.

[2017-06-12 10:55] fabiand commented on #39345
Can this bug get closed?

[2017-06-12 11:05] alexcouper commented on #15820
@jsafrane just retried this now and couldn't reproduce. (server is 1.6.4 now) Safe to close

[2017-06-12 11:05] #15820 closed

[2017-06-12 11:13] otakumike commented on #31845
If anyone comes across this issue, as I did, I was able to fix it by setting nodeSelector on kubernetes-dashboard.yaml file to look up the master's label. Only by running dashboard on my master node was I able to get it working:
[code]

There is a fix that's been put in kubernetes-dashboard.yaml but it only sets the toleration, which as I discovered doesn't _require_ that the pod runs on master, s

[2017-06-12 11:29] maulik887 commented on #43634
Thank you, same thing happened with me. This information solved it.

[2017-06-12 11:32] luxas commented on #16449
With kubeadm you can choose to bring your CA or the API server cert or both.
If you bring the CA only, kubeadm will generate an API server cert with the right SANs, but if you bring your own API server cert you should make sure you do it right.
(The same goes for the other relevant certs as well)

[2017-06-12 11:33] crashev commented on #23726
I had the same problem. When creating cluster via web gui in google cloud and trying to run kubectl I get

`The connection to the server localhost:8080 was refused - did you specify the right host or port?`

everything you have to do is fetch kubectl config for your cluser which will be stored in $HOME/.kubectl/config:

[code]

Now kubectl works just fine

[2017-06-12 11:33] luxas commented on #16449
@jetole Which platform are you talking about?
Are there any platform (except GKE) that doesn't allow you to do this?

[2017-06-12 11:58] xiangpengzhao opened #47337 ""kubectl create service" should allow UDP port"
"kubectl create service" only supports TCP port. We should allow it to support UDP port.
`--tcp=[]: Port pairs can be specified as '<port>:<targetPort>'.`

Two possible ways to modify flag. I'd prefer the latter one.
- add a flag `--udp` which is similar to `--tcp`
- change flag `--tcp` to `--ports` which has format `<protocol>:<port>:<targetPort>`

Do I miss anything?

/cc @thockin @adohe
/sig ne

[2017-06-12 12:06] pierreozoux commented on #46230
I think this issue is not really related to k8s in itself but more the underlying OS it is running on.
As you use kops, it would be more appropriate to fix the issue there.

I actually just opened an issue related to that:
https://github.com/kubernetes/kops/issues/2709

[2017-06-12 12:12] whitecolor commented on #44273
I have this eror mongodb pod (not replica set, not stateful set): `Error syncing pod, skipping: network is not ready: [runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: Kubenet does not have netConfig. This is most likely due to lack of PodCIDR`

Cluster on GCE 2 g1micro. This seem to happen when I try to restore database to thi

[2017-06-12 12:16] luxas commented on #44783
This unit test is working now at least...

[2017-06-12 12:16] #44783 closed

[2017-06-12 12:29] k82cn commented on #47318
yes, NodeConditions is a blocker for DaemonSet, I'm also learning kubelet and try to contribute.

For this issue,  #42002 is only a trigger :). The enhancement will help on performance, so the scalability.

[2017-06-12 12:44] sheerun commented on #42306
/sig storage

[2017-06-12 12:45] k82cn commented on #46670
@igoratencompass , just try it in 1.6.4, the init containers can use envFrom with configMap as follow:

[code]

[code]

[code]

[2017-06-12 13:03] rootfs commented on #39345
/assign

[2017-06-12 13:04] rootfs commented on #39345
/close

[2017-06-12 13:04] #39345 closed

[2017-06-12 13:04] rootfs commented on #43639
/assign

[2017-06-12 13:04] rootfs commented on #43639
moving discussion to #12338 as @fabiand suggested.
/close

[2017-06-12 13:04] #43639 closed

[2017-06-12 13:31] luxas opened #47338 "Add ca-certificates.crt to the control plane images"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Kubernetes version** (use `kubectl version`): HEAD

Currently, ca-certificates isn't included in the kube-(apiserver|controller-manager|scheduler) images.
However, ca-certificates are often used in production scenarios (for example on AWS and GCE where the controller-manager/apiserver might contact other servers via HTT

[2017-06-12 13:48] cmluciano commented on #17686
/assign

[2017-06-12 13:49] cmluciano commented on #17686
/close

redirected issue to the ingress repository

[2017-06-12 13:49] #17686 closed

[2017-06-12 13:58] cmluciano commented on #19972
/assign

[2017-06-12 13:58] cmluciano commented on #19972
@mitake Are you still looking into a patch for this?

[2017-06-12 14:00] cmluciano commented on #19333
/assign

[2017-06-12 14:01] cmluciano commented on #19333
@paultag Is this something that you are still interested in working on?

[2017-06-12 14:01] juanjoDiaz opened #47340 "Connection hangs if accessing service while pod is not ready"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-12 14:08] cmluciano commented on #16304
cc @bowei

[2017-06-12 14:15] mitake commented on #19972
@cmluciano sorry for too long silence, I'm still interested in this kind of network resource management but my priority is shifting to RDMA related stuff (e.g. QP of RDMA). I'm not sure I can work on ethernet related things in the near future...

[2017-06-12 14:22] xiangpengzhao commented on #47340
/sig network

[2017-06-12 14:27] wongma7 commented on #47326
If we assume each customer gets a StorageClass you can use ResourceQuotas (per-namespace) to prevent certain namespaces from requesting storage i.e. set <storage-class-name>.storageclass.storage.k8s.io/persistentvolumeclaims to 0 for everybody but customer x.

You can also set the claimRef namespace field in PVs to restrict each to with only PVCs from a certain namespace.

(Not very elegant soluti

[2017-06-12 14:32] aledbf commented on #19333
@cmluciano we are using `paultag/sniff` as entry point for the tls connection in [nginx ingress controller](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/cmd/controller/tcp.go)

[2017-06-12 14:32] dnardo commented on #46475
@prateekgogia
I cannot speak to flannel, however, we had Calico remove this functionality which is handled in this pr: https://github.com/kubernetes/kubernetes/pull/47188/commits/8ef6b06d3982afda14de7335afa953e12ea8452d

The ip-masq agent was mainly added to decouple masquerading from the "kubenet" plugin which is the default for k8s.  Since we are trying to deprecate kubenet in favor of CNI we ne

[2017-06-12 14:38] cmluciano commented on #14204
This seems like a great task to target 1.8. I can add this to the SIG-Net spreadsheet.

[2017-06-12 14:42] paultag commented on #19333
I'm interested, but my bandwidth is likely not enough to not become a blocker, so I'm 100% fine giving up the mutex, helping merge / fix / change any code I've written or provide emotional support to those who need it

:confetti_ball:

[2017-06-12 14:58] liggitt commented on #47221
I'm not sure. I don't know enough about service implementations to know what kind of problems it can cause, but it is removing flexibility from the service -> container abstraction (and we have all the standard questions around disallowing previously allowed things in the API - will it break updates, will it break status reporting, etc)

[2017-06-12 14:58] cmluciano commented on #19972
Since this this doesn't have a clear owner, we probably want to close it for now. cc @thockin

[2017-06-12 14:59] tirithen commented on #43815
Being new to setting up Kubernetes I get superconfused. I tried following https://medium.com/@SystemMining/setup-kubenetes-cluster-on-ubuntu-16-04-with-kubeadm-336f4061d929 that use weave-kube for network but I'm also stuck with the same issue. Any way to solve this?
`
  Ready                 False   Mon, 12 Jun 2017 16:55:16 +0200         Mon, 12 Jun 2017 12:22:45 +0200         KubeletNotReady

[2017-06-12 15:03] cmluciano commented on #19333
@aledbf Do you think this issue can be closed or migrated?

[2017-06-12 15:11] Venky8800 commented on #44665
Hi
I'm getting this error can any one help me on this error:
kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/arm64"}
The connection to the server localhost:8080 was refused - did you specify the rig

[2017-06-12 15:11] gmarek commented on #47318
Yup. Thanks for the change - I really want to review it, but I need to deal with performance regressions in 1.7 first...

[2017-06-12 15:14] gmarek opened #47344 "Run scalability tests for 1.7"
We know that kubemark-5000 currently fails in head. We need to make sure it's passing and run real 5000-Node tests before 1.7 release.

cc @kubernetes/sig-scalability-bugs @dchen1107 @shyamjvs @wojtek-t

[2017-06-12 15:18] k82cn commented on #47318
sure, np; 1.7 first :).

[2017-06-12 15:22] xiangpengzhao commented on #47221
I haven't investigated what it will break yet. But what are users expecting when they configure ports as below and what should we do for such case?

[code]

[2017-06-12 15:29] dashpole commented on #41033
@moshe0076 Support for inode-based evictions and image garbage collection was added to the eviction manager in 1.4.  If you have set the `--eviction-hard` to include `imagefs.inodesFree`, or `nodefs.inodesFree` on a single-partition system, then you have image garbage collection  based on inode pressure.

Feel free to open a bug and cc me if that is not the case for you.  One thing to note is that

[2017-06-12 15:30] liggitt commented on #47221
ah, I misread... I thought this was routing two service ports to the same container port

[2017-06-12 15:53] spiffxp commented on #18730
ping @krzyzacy @fejta has recent janitor work addressed this?

[2017-06-12 15:58] spiffxp commented on #18303
I agree there is some test-infra machinery, but in terms of documented/enforced carrot/stick policy, we're still not there.

[2017-06-12 15:59] a11smiles commented on #42987
you, don't.  You're almost there but realize that the `nginxsecret` is really just a dictionary-like structure.  Instead of using the `tls` flag, create a `generic` cert with the following:

[code]

Then redeploy your pods:

[code]

[2017-06-12 16:02] kfox1111 commented on #43992
@jagosan As part of which proposal? #29459? #43678?

Thanks,
Kevin

[2017-06-12 16:10] paultag commented on #17887
Cool, thanks!

[2017-06-12 16:10] #17887 closed

[2017-06-12 16:10] liggitt commented on #47135
@smarterclayton mentioned adding an e2e that captures a CPU profile... that might be helpful

[2017-06-12 16:12] alexandercampbell opened #47349 "K8s Presubmit Fixes"
This is a prioritized list of fixes I want work on for the Kubernetes presubmit process, split into two categories. These issues are so closely connected that it makes sense to keep them in a single issue and consolidate discussion.

### User-Friendly Build & Update Scripts
 - [ ] Build and update scripts run in ~~Docker containers~~ some kind of hermetic environment. They do not rely on the local

[2017-06-12 16:12] alexandercampbell commented on #47349
/assign @alexandercampbell

[2017-06-12 16:14] alexandercampbell commented on #47349
/sig contributor-experience

[2017-06-12 16:14] ericchiang opened #47350 "[e2e] Namespaces [Serial] should ensure that all pods are removed when a namespace is deleted."
Test is constantly failing. https://github.com/kubernetes/kubernetes/blob/0cb3cb254909d7a2c271f91caaf77eaa46eea48a/test/e2e/namespace.go#L267-L268

https://k8s-testgrid.appspot.com/release-master-blocking#gce-serial&width=20

[code]

https://k8s-testgrid.appspot.com/release-master-blocking#gce-serial&width=20

/cc @kubernetes/sig-api-machinery-bugs @kubernetes/kubernetes-release-managers @dchen110

[2017-06-12 16:14] spiffxp commented on #47307
/remove-sig testing

[2017-06-12 16:15] alexandercampbell commented on #26205
@pwittrock is this still a goal of ours?

[2017-06-12 16:16] spzala commented on #17887
Thanks @paultag !!

[2017-06-12 16:18] apelisse commented on #26205
I've seen a thread this week-end about that. I think docs have moved but we still need to generate them there.

[2017-06-12 16:20] Bregor commented on #17088
Sorry if this is wrong discussion, just want to describe my case.

I have some developer teams working on one complex product.
Product is splitted to semi-independent parts, each of particular parts is developed by its own team and namespaced respectively.

Everything was great before marketing team demand us to change components addressing from `<componentname>.domain.com` to `domain.com/<compone

[2017-06-12 16:22] alexandercampbell commented on #26205
@apelisse can this issue be closed then?

[2017-06-12 16:23] apelisse commented on #26205
related to #46348 ?

[2017-06-12 16:29] spiffxp commented on #15011
/assign

[2017-06-12 16:35] spiffxp commented on #15011
/close

we no longer use jenkins for upgrade tests

[2017-06-12 16:35] #15011 closed

[2017-06-12 16:36] spiffxp commented on #15084
@fejta @krzyzacy does recent janitor work address this?

[2017-06-12 16:37] dchen1107 commented on #47350
After https://github.com/kubernetes/kubernetes/pull/47212 was manually merged last Friday, serial tests is back to normal flaky stage except this test which is constantly failing. Raise the priority.

[2017-06-12 16:41] thockin commented on #34625
Thanks!

On Mon, Jun 12, 2017 at 12:23 AM, Prateek Gogia <notifications@github.com>
wrote:

[2017-06-12 16:46] hanikesn opened #47354 "Leaderelection for the controller manager is broken when using RBAC and --use-service-account-credentials"
**Kubernetes version** (use `kubectl version`): 1.6.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):  Debian GNU/Linux 8 (jessie)
- **Kernel** (e.g. `uname -a`): 3.16.0-4-amd64
- **Install tools**: Custom

**What happened**:
After migrating from ABAC to RBAC the kube-controller-manager failed to elect a leader:
Using the `system:kube-con

[2017-06-12 16:49] yujuhong commented on #19249
Closing a support issue due to age.

[2017-06-12 16:49] #19249 closed

[2017-06-12 16:49] aledbf commented on #19333
@cmluciano I think this can be closed. We use the library to enable ssl passthrough.
That being said this is only present in the nginx ingress controller.

[2017-06-12 16:49] spxtr commented on #15084
I think this is fixed by @ixdy's leak detection stuff a long time ago.

[2017-06-12 16:49] #15084 closed

[2017-06-12 16:51] nikhita commented on #38117
I have a design proposal for validation of CustomResources: https://github.com/kubernetes/community/pull/708 :smile:

[2017-06-12 16:54] paultag commented on #19333
The intent here would be for a ingress controller to not have to run nginx at all - for instance, if I have a webserver that gets a letsencrypt cert every boot, or if I want to do tls mutual authentication in a server process

[2017-06-12 16:54] aledbf commented on #17088
@Bregor what ingress controller are you using?
If is the nginx ingress controller then you just need to split de definition of the ingress (to be able to reference services from different namespaces)
Like
[code]

[code]

and the controller will merge the paths under the same nginx server

[2017-06-12 16:56] ericchiang commented on #47354
/cc @kubernetes/sig-auth-bugs

The RBAC bootstrap roles and bindings should enable this.[1] Did you have existing RBAC roles and bindings before switching to RBAC? I think the API server will only apply these if no cluster roles exist.

[1] https://github.com/kubernetes/kubernetes/blob/v1.6.2/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml#L458-L465

[2017-06-12 16:58] spxtr commented on #20002
We should run test-cmd.sh in bazel. @mikedanese eh?

[2017-06-12 17:01] kargakis commented on #47312
Please reopen this issue in https://github.com/kubernetes/examples.
/sig apps
/area examples

[2017-06-12 17:01] #47312 closed

[2017-06-12 17:02] cblecker commented on #47349
@kubernetes/sig-contributor-experience-misc

[2017-06-12 17:03] cblecker commented on #47349
also @thockin as he was talking about these scripts on the mailing list

[2017-06-12 17:03] yujuhong commented on #34941
@kargakis not sure why this belongs to sig-node at all...

[2017-06-12 17:05] cblecker commented on #47349
should also link https://github.com/kubernetes/kubernetes/pull/46193 which is to put the staging godep script into a docker container

[2017-06-12 17:06] spxtr commented on #15863
Ideally this could be added to golint or something, although sometimes it does make sense to start it with a capital letter. Running `ag "(errors\.New|fmt\.Errorf)\(\"[A-Z]"` is not happy times.

[2017-06-12 17:07] alexandercampbell commented on #47349
I have [a branch](https://github.com/kubernetes/kubernetes/compare/master...alexandercampbell:build-and-test-with-docker?diff=unified) with a Docker container that runs `make test`. That's about as far as I got; I ran into issues with `make test-integration` since those tests depend on spinning up Docker containers of their own and I didn't want to nest Docker.

[2017-06-12 17:07] apelisse commented on #47349
cc @ixdy @spxtr

[2017-06-12 17:08] kargakis commented on #34941
@yujuhong I have been labeling a bunch of issues for the past days, it's not unlike that I got them all right. It goes w/o saying that mislabeled issues can always be labeled to their correct owners :)

[2017-06-12 17:09] liggitt commented on #47354
Is this error only during the initial API server startup, or does it persist in a steady state? As the API server is started for the first time, it will provision the boostrap roles and bindings. If the controller manager attempts to fetch an endpoint while that process is happening, it will be denied. Once the API server completes initialization, it would be allowed.

No, they are added/updated e

[2017-06-12 17:11] yujuhong commented on #34941
@kargakis I just wanted to know the reasoning so that we won't be playing ping-pong for issues like this.

[2017-06-12 17:11] kargakis commented on #15863
Due to acronyms or are you thinking of something else?

[2017-06-12 17:12] wongma7 commented on #47333
The only function AccessModes has right now is at binding time, for ensuring a PVC gets a PV with the AccessModes it wants: think of it as a first-class labelselector. And the way kubernetes thinks of it is that RWO is a subset of RWM, so a provisioned RWM glusterfs volume satisfies your claim. But I agree this is a bug, we should provision ReadOnly when ReadOnly is explicitly requested.

The valu

[2017-06-12 17:12] krzyzacy commented on #18730
the project looks clean, this should be already fixed a while ago.

[2017-06-12 17:14] spxtr commented on #15863
Say you have some function that needs an environment variable set. It makes sense to see `return errors.New("KUBERNETES_PROVIDER unset")` or something. You could argue that we could try to enforce something like `return errors.New("env variable KUBERNETES_PROVIDER unset")`, but it's not totally clear.

There are other similar cases.

[2017-06-12 17:15] alexandercampbell commented on #47349
@cblecker thanks pointing me to that issue! I searched for related issues but I forgot to look for PRs.
Are there any other overlapping issues I've missed?

[2017-06-12 17:16] apelisse commented on #47349
I wonder if we want to invest in that effort, while we have `make bazel-test`? Maybe that applies to the whole issue overall, are we interested in adding, improving, maintaining additional "scripts" rather than use bazel? Or is this something different?

[2017-06-12 17:17] cblecker commented on #47349
I think the key for that first point is "They do not rely on the local environment for tooling or services (e.g. etcd).". I personally don't care if it's docker or otherwise.

[2017-06-12 17:18] spxtr commented on #15863
Replacing `fmt.Errorf` with `errors.New` where appropriate: https://github.com/golang/lint/issues/284

[2017-06-12 17:19] cblecker commented on #47349
Link to related `kubernetes-dev` thread: https://groups.google.com/d/msg/kubernetes-dev/5rVmSJqCq-U/tyN8OVRjBgAJ

[2017-06-12 17:23] derekwaynecarr commented on #47350
i will take a look.

[2017-06-12 17:23] kargakis commented on #15863
@spxtr we could check if the first letter is part of a word that is capitalized and ignore lowercasing it in such a case. Maybe python would be better than sed in that case? Or extend golint? Not sure.

[2017-06-12 17:24] msau42 commented on #47109
Given that CSI is still a few releases away, we need some solution for flex.

[2017-06-12 17:25] msau42 commented on #36499
@maikelvl will PD-SSD boot disks work for you?

[2017-06-12 17:26] smarterclayton commented on #47135
Basically we should be able to hit the master and hit /debug/pprof/profile
and stream the output to disk, then run go tool pprof on it and get the
top20.  Will try this afternoon if i get past other bugs

On Mon, Jun 12, 2017 at 12:10 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-06-12 17:27] spxtr commented on #15863
Right but what about if you're checking that a public struct member is set? `return errors.New("PublicStructMember must be set")`.

It might be worth just enforcing the check and rewriting error statements even for cases where it makes sense.

Extend golint > add some gometalinter > python > sed.

[2017-06-12 17:28] spiffxp commented on #16535
/assign

[2017-06-12 17:28] spiffxp commented on #16535
/close

I can't find it in the kubernetes/kubernetes nor kubernetes/test-infra codebases

[2017-06-12 17:28] #16535 closed

[2017-06-12 17:34] paralin commented on #17088
This is what people fail to understand... An ingress controller can read in multiple Ingress objects and build a single config to direct traffic, it's not 1 ingress <-> 1 controller...

[2017-06-12 17:35] #18730 closed

[2017-06-12 17:37] ssubramanian123 commented on #47142
@bowei we are not seeing any issue with node to nameservers connectivity. From the node, it always resolve to external server (no issues). But from application pods, it is not resolving exeternal server and it is intermittent.

From Node / Master Node / kube-dns pod it is always resolving..  Intermittent issue is only from all  application pod

From Node :
[code]

From Application POD :

[code]

[2017-06-12 17:40] maikelvl commented on #36499
@msau42 Unfortunately not. Those are only to be mounted into the Pods. We need a faster filesystem in all of Docker.

[2017-06-12 17:42] msau42 commented on #36499
I mean, that if PD-SSD is the boot disk, then the entire node will be using it, including Docker.

[2017-06-12 17:43] fejta commented on #47201
/assign @michelle192837

[2017-06-12 17:44] fejta commented on #47201
/assign @noah8713

[2017-06-12 17:46] maikelvl commented on #36499
OK. Yes, that would be great!

[2017-06-12 17:50] albpal commented on #33729
@luxas :

If nslookup "localhost.$(hostname -d)" is resolving an ip different than nslookup "$(hostname)" you will reproduce the issue.

You will have this scenario, for example, on VPS environments.

[2017-06-12 17:54] cogitate commented on #22839
Is there any way to determine the status 'Terminating' using kubernetes REST API?

[2017-06-12 17:54] neelance commented on #17088
With the default GKE ingress controller it is 1 ingress <-> 1 domain or IP addy.

[2017-06-12 17:58] msau42 commented on #16022
This issue is a bit old.  Now, we have StatefulSets, which gives one PVC per instance.

And local storage roadmap and implementation tracker is available at #43640

[2017-06-12 17:59] MikeSpreitzer commented on #37414
A test case that probes this issue would be even more intimate with the way the cluster is deployed, needing to inject a controlled delay in the node startup sequence.

[2017-06-12 18:05] caesarxuchao commented on #47350
Is https://github.com/kubernetes/kubernetes/pull/47191 supposed to fix this?

[2017-06-12 18:07] saad-ali commented on #47107
Yes.

Ack. Yep this approach makes sense to me. @jhorwit2,  :+1: from sig-storage -- go for it.

CC @kubernetes/sig-storage-bugs

[2017-06-12 18:08] ericchiang commented on #47350
@caesarxuchao they seem like different issues.

https://github.com/kubernetes/kubernetes/issues/47135 is about slow namespace deletion. This seems to be an issue with the namespace objects being created?

[2017-06-12 18:10] tonyjchong commented on #45626
Just as a follow up, I was able to restart my docker daemon and the issue hasn't shown since, where before the error happened about every 18 hours.

Thanks for the research @tudor (didn't mean to hijack your thread).

[2017-06-12 18:12] jetole commented on #16449
Hello,

I have not used k8s since October so it's hard for me to comment further on
this issue.

On Mon, Jun 12, 2017 at 7:34 AM Lucas Käldström <notifications@github.com>
wrote:

--
:: Sincerely,
:: Joseph E. Tole
:: Linked-In - https://www.linkedin.com/in/joseph-tole-b8090011

[2017-06-12 18:32] alexandercampbell commented on #47349
@cblecker good calls, updated.
@apelisse (discussed irl too) my goal is only to create a useful presubmit. Bazel, Docker, whatever.

[2017-06-12 18:32] Bregor commented on #17088
@aledbf oh, looks like I got it at last!
Thank you, will try it in the morning.

[2017-06-12 18:33] neelance commented on #17088
@Bregor I'm still interested: Which ingress controller were you using?

[2017-06-12 18:36] yujuhong commented on #39113
Agreed. Milestone removed.

[2017-06-12 18:38] cmluciano commented on #45385
/assign

[2017-06-12 18:40] msau42 commented on #47326
Regarding your question about AttachDisk, it does occur on the master node by default, and not kubelet.

[2017-06-12 18:42] ixdy commented on #47349
A lot of this is #8830 - if we don't check in generated code, most of the update-* scripts probably go away.

I think you might be able to use `build/run.sh` to run `make test` inside the cross-build docker image today. (At least the [build README suggests you can](https://github.com/kubernetes/kubernetes/tree/23cd9d7b05b1ef7ef5073ccc7cbeaf09771c8a43/build#key-scripts).) That's how we've dockerize

[2017-06-12 18:43] yujuhong commented on #47288
Yes, there is no denying that kubelet/CRI was heavily influenced by docker.  We welcome suggestions to improve all aspects of the API, but please keep in mind that the the docker integration is still the default and we have to continue support that for an indefinite time (unless we want to keep two implementations of kubelet). It is a compromise, and maybe we can retire that integration (with cri-

[2017-06-12 18:47] dchen1107 commented on #47344
both https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-scalability&show-stale-tests= and https://k8s-testgrid.appspot.com/release-master-blocking#gce-scalability&show-stale-tests= are green.

https://k8s-testgrid.appspot.com/google-kubemark is also green. @gmarek I am assigning this to you to delegate.

[2017-06-12 18:53] yujuhong commented on #44976
@crassirostris

That's nice to have.

I am not sure if we want to pursue that route. Right now the format exists solely to fulfill the requirement of `kubectl logs`, and we need to be careful extending it for any other reason.

Could you explain more?

-----------

@cyphar, what do you mean by the length-prefix format?

[2017-06-12 18:53] ixdy commented on #47307
Still looking, but #45391 "Only tag release containers if the name is different." makes me suspicious.

[2017-06-12 19:03] ixdy commented on #47307
oh, this is a bug introduced by #44981. fix should be easy.

[2017-06-12 19:06] perotinus commented on #46119
@ajwootto @bspradling8 I believe that I have a workaround for the second problem (the one that occurred when you had the annotation in the right place): add a `"weight": 1` entry under each of the `minReplicas` and `maxReplicas` entries, and you should get enough replicas in each cluster:

annotations:
    federation.kubernetes.io/deployment-preferences: |
      {
        "rebalance": true,

[2017-06-12 19:11] spiffxp commented on #16307
This sounds like it'd belong to the non-existent sig-cloud.  In the interim, I'm not sure, so I'm tagging with the same sigs as the linked issue.

/remove-sig testing
/sig auth
/sig network
/sig node
/sig service-catalog

/area platform/gce

[2017-06-12 19:13] bowei commented on #47273
@nicksardo is waiting to see if bug fix is possible before the final freeze before cutting the update

[2017-06-12 19:14] mengqiy commented on #47221
cc: @pwittrock

[2017-06-12 19:15] mengqiy commented on #47249
cc: @pwittrock

[2017-06-12 19:19] dchen1107 commented on #47135
After reverting  "add gzip compression to GET and LIST requests" #47191, the batch merge rate acceptable. Now we have another issue #47350 which causes namespace deletion is constantly failing. That is more severe one. But assigning @yujuhong to root cause this.

[2017-06-12 19:20] luxas commented on #47307
@spiffxp I can open a new issue as well to track what I added sig-testing for but I want us to set up the required testing to make sure this never happens again

[2017-06-12 19:21] bowei commented on #45790
@caseydavenport is this purely a documentation issue?

[2017-06-12 19:21] dchen1107 commented on #46651
I am closing this one since it hasn't failed for a couple of days after kube-dns fix.

[2017-06-12 19:22] bowei commented on #44307
@dcbw close if no longer relevant

[2017-06-12 19:23] bowei commented on #43730
No time to take this up in this release -- punting.

[2017-06-12 19:23] bowei commented on #43340
@justinsb what is the status of this for 1.7?

[2017-06-12 19:25] bowei commented on #38349
If no one takes this up, then punt to next milestone.

[2017-06-12 19:26] bowei commented on #37414
Will this make 1.7?

[2017-06-12 19:26] bowei commented on #35354
@xiangpengzhao status?

[2017-06-12 19:28] jdumars commented on #43730
/sig azure

[2017-06-12 19:28] bowei commented on #30073
Update or punting to next milestone...

[2017-06-12 19:29] dchen1107 commented on #28552
Both disk and memory eviction based on the usage are on by default. Close the issue.

[2017-06-12 19:29] #28552 closed

[2017-06-12 19:41] alexandercampbell commented on #47349
@ixdy thanks for the links; those are very helpful. I will experiment with the `build/build-image` ecosystem.

The update scripts will remain as part of the standard build process, no?

My goal is only to establish a useful & discoverable presubmit. Perhaps we could get 80% of the way there with docs, e.g. updating the [local verifications section](https://github.com/kubernetes/community/blob/8dbe

[2017-06-12 19:43] mml commented on #20473
I believe the docs I'm working on will cover this.

[2017-06-12 19:43] chrislovecnm commented on #17724
Can we close this issue?  Stateful set is the recommended manifest now, and we do not use this code now.

[2017-06-12 19:51] ahmetb commented on #17724
@chrislovecnm +1

[2017-06-12 19:52] danwinship commented on #46664
It's @kubernetes/sig-network-misc now.

It seems like since pod-to-pod traffic is something the network plugin does (possibly via black magic for all kubernetes knows), and master-to-node traffic is something that actually happens in core, then that means master-to-node is the more "primitive" use case and so that's what should be associated with the `NodeInternalIP` address. (And it would be the

[2017-06-12 19:54] monopole commented on #43340
The release team would also like an update.  Tracking this issue.

[2017-06-12 19:57] marun commented on #45845
Closing due to being a duplicate.

[2017-06-12 19:57] #45845 closed

[2017-06-12 19:58] spzala opened #47361 "Move kubernetes code generating docs etc to a new repo"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-12 20:00] justinsb commented on #43340
We aren't opening the security groups for nodeports.  It's just an issue with our test harness.  I'm learning all about the new test harness, but I don't believe this is real k8s issue (other than the fact we are flying blind).

[2017-06-12 20:01] foxish commented on #17724
/close

[2017-06-12 20:01] #17724 closed

[2017-06-12 20:04] spxtr commented on #15863
Ooh, @krousey notes that `golint` already does this, but you have to lower the `min_confidence`. Then you get errors like this: `runners.go:77:25: error strings should not be capitalized and should not end with punctuation`

[2017-06-12 20:05] yujuhong opened #47362 "pull-kubernetes-e2e-gce-etcd3 failing: Quota 'SUBNETWORKS' exceeded"
The ~5 most recent builds failed because of this issue.
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-etcd3

[code]

/cc @kubernetes/sig-testing-bugs @kubernetes/sig-network-bugs based on the similar issue from ~2 weeks ago #46713

[2017-06-12 20:06] spzala commented on #47361
/cc @thockin @cblecker @ahmetb @chenopis @mikedanese - opened this issue for the work on removing generated doc. I had a discussion with @duglin and we thought that may a good idea is to move code which generates docs to a new repo. I believe we can then use this repo in the kubernetes.github.io  to and keep generated code there. @duglin also mentioned about discussion on generated code other than

[2017-06-12 20:06] luxas commented on #16449
@roberthbailey Do you see it worthwhile to keep this issue open?
Is it wontfix for GKE and a working-as-intended for kubeadm?

[2017-06-12 20:06] caseydavenport commented on #45790
@bowei yeah - I was going to close in favor of an issue in the docs repo, but.. I'm not sure that it belongs in kubernetes.github.io, since it's really documentation for plugin writers rather than Kubernetes users.  Do we have a place for that sort of stuff?

[2017-06-12 20:07] yujuhong commented on #47362
/cc @dchen1107 @krzyzacy

[2017-06-12 20:09] spiffxp commented on #47307
@luxas the removal was under the guise of "sig testing doesn't control the cutting of bits", if there are tests that need to be put in place to ensure all the right things are cut/released, I would expect sig-release to track that

[2017-06-12 20:09] roberthbailey commented on #39990
I've moved the issue to the 1.8 milestone so that full resolution won't be considered blocking the 1.7 release.

[2017-06-12 20:09] caesarxuchao opened #47363 "Failing test: [k8s.io] [Feature:GPU] run Nvidia GPU tests on Container Optimized OS only"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gpu-1-7/23

@vishh could you take a look?

[2017-06-12 20:10] krzyzacy commented on #47362
that again?
cc @MrHohn

[2017-06-12 20:11] caesarxuchao commented on #47363
@vishh could you apply the sig label?

[2017-06-12 20:11] csbell commented on #47059
Fixed by #47061

[2017-06-12 20:11] #47059 closed

[2017-06-12 20:11] caesarxuchao commented on #47363
Applying the 1.7 milestone because gpu tests are part of 1.7 blocking tests: https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-gpu-1-7

[2017-06-12 20:15] krousey commented on #15863
@spxtr That message triggers on errors that end with punctuation with a 0.8 confidence level. It triggers on capitalized messages with a 0.6 confidence level. https://github.com/golang/lint/blob/master/lint.go#L1171

[2017-06-12 20:16] mikedanese commented on #47338
We should not do this. We should use the host ssl certificates like we already do in kubeadm and other deployments. If we need to add paths that's ok. Baking certificates raises some serious security concerns. Why is this urgent? We have never done this before.

[2017-06-12 20:16] bowei commented on #30073
@dchen1107  punt from milestone

[2017-06-12 20:16] bowei commented on #31813
@dchen1107 punt to next

[2017-06-12 20:17] luxas commented on #47307
@spiffxp Sounds good

[2017-06-12 20:18] bowei commented on #32796
@dchen1107 move to next milestone.

[2017-06-12 20:18] bowei commented on #37414
@dchen1107  move to the next milestone

[2017-06-12 20:18] bowei commented on #38349
@dchen1107 move to next milestone

[2017-06-12 20:18] caseydavenport commented on #37853
/sig network

[2017-06-12 20:19] bowei commented on #43340
@dchen1107 move to next milestone

[2017-06-12 20:21] bowei commented on #47273
@nicksardo freeze is wednesday, I would update the manifest sooner rather than wait.

[2017-06-12 20:22] bowei commented on #46474
/assign

[2017-06-12 20:22] bowei commented on #46474
/close

[2017-06-12 20:22] #46474 closed

[2017-06-12 20:24] vishh commented on #47363
@mindprince is looking into it. This is a dup of https://github.com/kubernetes/kubernetes/issues/47216

[2017-06-12 20:24] #47363 closed

[2017-06-12 20:24] ericchiang commented on #47350
@ethernetdan spotted a bug in the tests. Sent https://github.com/kubernetes/kubernetes/pull/47364

[2017-06-12 20:25] kargakis commented on #16022
@msau42 thanks, closing in favor of #43640

[2017-06-12 20:25] #16022 closed

[2017-06-12 20:25] roberthbailey commented on #473
Re-setting assignees based on who is working on HA in kubeadm for 1.8.

[2017-06-12 20:27] MrHohn commented on #47362
@krzyzacy The behavior this time is we leaked an ingress firewall and failed to cleanup the network resource.
[code]

@nicksardo I thought the ingress tests are only run in slow suite?

[2017-06-12 20:29] roberthbailey commented on #1668
Given that there are a number of ways to do this (your own cluster startup scripts, run a daemonset to side load your custom images, create VM images with images pre-loaded, run a cluster-local docker registry), and the fact that there have been no substantial updates in over two years, I'm going to close this as obsolete.

[2017-06-12 20:29] #1668 closed

[2017-06-12 20:33] roberthbailey commented on #5449
Closing as obsolete due to lack of activity for almost 2 years.

[2017-06-12 20:33] #5449 closed

[2017-06-12 20:34] marun commented on #42511
Given that this appears to require considerable work to accomplish, I'm moving to 1.8.

[2017-06-12 20:35] marun commented on #39746
I'm assuming this shouldn't be blocking 1.7.

[2017-06-12 20:36] derekwaynecarr opened #47366 "event spam causes excessive apiserver traffic and frequent snapshots"
**Is this a BUG REPORT or FEATURE REQUEST?**
BUG

**Kubernetes version** (use `kubectl version`):
kubernetes/master

**Environment**:
n/a

**What happened**:
events were co-located in api server etcd

the controller-manager and node are spamming the node for different reasons and driving an excessive amount of traffic to our api-server.  this caused etcd snapshots to occur every 13s even with a 20

[2017-06-12 20:36] xiangpengzhao commented on #35354
I sent PR #46197 which is waiting for reviewing from @freehan .
Also, that PR is blocked by issue #47224 which is self-assigned by you but not fixed yet :) @bowei

[2017-06-12 20:36] marun commented on #38537
I assume this shouldn't be blocking 1.7.

[2017-06-12 20:37] marun commented on #47209
@madhusudancs If the quota increase has increased, please close.

[2017-06-12 20:37] roberthbailey commented on #5665
Closing this as the current direction is to move towards cloud-controller-manager binaries, which is being tracked separately.

[2017-06-12 20:37] #5665 closed

[2017-06-12 20:38] marun commented on #46380
@madhusudancs Is there more to do with this issue that wasn't addressed by #46945?

[2017-06-12 20:39] marun commented on #45520
@csbell Should this be blocking 1.7?

[2017-06-12 20:40] marun commented on #44907
@madhusudancs Should this issue be blocking 1.7?

[2017-06-12 20:40] ixdy commented on #47307
Details about the exact bug and the fix are in #47359.

The reason we didn't notice this sooner is that anago only [warns](https://github.com/kubernetes/release/blob/d3f5437c6f14ea6e8cfeb6df8e196499720b4c3a/lib/releaselib.sh#L831) if the required image doesn't exist - it does so because we don't support all arches for all release versions, and we didn't want to hard-code a list of expected version

[2017-06-12 20:40] marun commented on #42907
@madhusudancs Should this issue be blocking 1.7?

[2017-06-12 20:41] marun commented on #39004
I'm assuming this was fixed by #41849.

[2017-06-12 20:41] #39004 closed

[2017-06-12 20:41] xiangpengzhao commented on #35354
That issue might be not hard to fix, but I didn't find how.So I need your help. @bowei
IMO, we mignt need to change CI jobs configure in some files or images.

[2017-06-12 20:41] marun commented on #38889
This hasn't occurred in 90 days, closing.

[2017-06-12 20:41] #38889 closed

[2017-06-12 20:42] marun commented on #37570
I'm assuming this shouldn't be blocking 1.7.

[2017-06-12 20:42] MikeSpreitzer commented on #37414
BTW, `hack/local-up-cluster.sh` always makes the kube-proxy before the kubelet, so it is easy to probe this issue in manual testing.

[2017-06-12 20:42] marun commented on #36540
Assuming this should not be blocking 1.7.

@nikhiljindal Can this issue be closed?

[2017-06-12 20:43] marun commented on #35078
Assuming this should not be blocking 1.7.

[2017-06-12 20:43] marun commented on #33622
Moving to 1.8.

[2017-06-12 20:43] derekwaynecarr commented on #47366
/assign @kubernetes/sig-api-machinery-misc

[2017-06-12 20:44] kargakis commented on #47361
/sig docs

[2017-06-12 20:44] Kent-H opened #47368 "Add Optional Label Metadata to Pods' Containers"
It should be possible for the user to apply custom labels to a pod's containers, and have those labels propagate down into docker.
This would be helpful for interacting with non-k8s-specific programs that access docker directly.

Related: #3764

Outdated: #13513  (I don't want to fight a reopen-war, but this probably should not have been closed.)

[2017-06-12 20:45] kargakis commented on #47368
@kubernetes/sig-node-feature-requests

[2017-06-12 20:45] marun commented on #19443
Hasn't been updated since before 1.5, not a release blocker.

[2017-06-12 20:46] marun commented on #22077
No update since 1.5, not a release blocker.

[2017-06-12 20:46] marun commented on #26669
Not a release blocker.

[2017-06-12 20:47] marun commented on #26921
Not a release blocker for 1.7.

[2017-06-12 20:47] marun commented on #29348
Not a release blocker for 1.7.

[2017-06-12 20:49] marun commented on #29887
Not a release blocker for 1.7.

@emaildanwilson Are there controllers that still need to be updated to support cluster selection so this issue can be closed?

[2017-06-12 20:49] marun commented on #29911
Not a release blocker for 1.7.

[2017-06-12 20:49] marun commented on #30999
Not a release blocker for 1.7.

[2017-06-12 20:50] krzyzacy commented on #47362
[code]

seems that ingress test is pretty much screwed?
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47274/pull-kubernetes-e2e-gce-etcd3/35517
once it's timed out it's not deleting created resources

[2017-06-12 20:51] caesarxuchao commented on #47307
Can we add a `common::askyorn` after the warns? Otherwise even is the user of anago sees the warning, there's nothing he can do about it.

[2017-06-12 20:51] kargakis commented on #47349
Agreed with @ixdy, we should first try to eliminate generated code.

[2017-06-12 20:52] marun commented on #31155
Not a release blocker for 1.7.

@quinton-hoole I see some events being recorded in the ingress controller.  Is there more to do, or can this issue be closed?

[2017-06-12 20:52] nikhiljindal commented on #36540
Fixed by https://github.com/kubernetes/kubernetes/pull/37307 and https://github.com/kubernetes/kubernetes/pull/37659

[2017-06-12 20:52] #36540 closed

[2017-06-12 20:52] marun commented on #46937
@shashidharatd Should this issue be blocking 1.7?

[2017-06-12 20:53] ahmetb commented on #47361
@spzala Feel free to swing by SIG-Docs meeting tomorrow (2017-06-13 10:30am PST) to discuss an execution plan.

[2017-06-12 20:56] spzala commented on #47361
@ahmetb cool, thanks!!

[2017-06-12 20:58] MrHohn commented on #47362
The ingress test is supposed to cleanup firewall resource in AfterEach(), but before that it received sigterm signals so it stopped:
[code]

[2017-06-12 21:00] david-mcmahon commented on #47307
Anago is moving toward being less interactive.  If any checks need to be done, they should be done at build time.  1) Determine what should be built 2) Stop right there if the build fails for whatever reason.

Adding redundant checks comes with the cost of maintaining hardcoded lists in multiple places.
The push step (and release infra in general) should be agnostic and just push what was built.

[2017-06-12 21:00] kargakis commented on #47361
Dupe of https://github.com/kubernetes/kubernetes/issues/26205?

[2017-06-12 21:01] nicksardo commented on #47362
@aledbf Looks like this is the nginx ingress test. We're going to move this to the slow suite.

[2017-06-12 21:01] csbell commented on #45520
No, it's a "nice to have", won't make it.

[2017-06-12 21:02] dchen1107 commented on #47362
SGTM.

[2017-06-12 21:03] spiffxp commented on #46572
I don't see this in the list of blocking jobs at https://k8s-testgrid.appspot.com/release-1.7-blocking, does this belong in v1.7?

[2017-06-12 21:05] mleklund commented on #46041
No that bug fix allows for connections to multiple portals on differning network segments from multiple interfaces on corresponding network segments.  What I need to be able to do is connect to a single portal with multiple interfaces on the same network segment.

This is needed to work with equallogic san equipment.

[2017-06-12 21:07] gnufied commented on #47333
@pkutishch what does your pod definition looks like? You can specify `read-only: true` when specify claimName in your pod specs and that should be honored during mount-time (if it isn't , it is a bug).

@wongma7 yeah, I think we can indeed set `ReadOnly` field of `PersistentVolumeSource` depending on requested AccessMode in PVC.

[2017-06-12 21:08] spxtr opened #47370 "We should invert hack/.linted_packages"
In researching #15863, I stumbled upon this behavior of `verify-golint`. Here's how it works, please correct me if I'm wrong:

* If I open a PR with a new package that passes golint, `verify-golint` will fail because I need to add it to `hack/.linted_packages`.
* If I open a PR with a new package that fails golint, `verify-golint` does not complain.

There are over 700 packages in the repo that si

[2017-06-12 21:10] nicksardo commented on #47362
Will cleanup the project resources.

[2017-06-12 21:10] dchen1107 commented on #47362
@krzyzacy Can we removed those leaked network resources for recover the build? Thanks~!

[2017-06-12 21:12] dchen1107 commented on #47135
xref: https://github.com/kubernetes/kubernetes/issues/47362

[2017-06-12 21:15] krzyzacy commented on #47362
just wiped some firewalls. @nicksardo I'll leave the rest to you :-)

[2017-06-12 21:16] nicksardo commented on #47362
All ingress firewalls are gone. Will delete the old networks.

[2017-06-12 21:17] mikedanese commented on #47135
Ok looking into this some more I pulled together a timeline for one ns delete failure:
[code]
Observations:
1. Namespace deletes take 30+ seconds and always fail on the first try if pods are in the namespace.
2. A fractional change in apiserver latency causes that 30 seconds to blowup because a single sync loop loops over all GVKs and lists.
3. The maximum number of concurrent loops is 5.
4. simpl

[2017-06-12 21:17] kevin-wangzefeng commented on #47318
/cc @Huawei-PaaS

[2017-06-12 21:19] csbell commented on #44907
No.

[2017-06-12 21:19] dchen1107 commented on #47277
@dashpole I am fine to mark all static kube-system pods as the critical ones for now, but not comfortable for all kube-system pods.

[2017-06-12 21:25] krzyzacy commented on #47209
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-federation-release-1-7
looks happy
/close

[2017-06-12 21:25] #47209 closed

[2017-06-12 21:28] nicksardo commented on #47362
Old networks have been cleared. Everything should be good-to-go.

[2017-06-12 21:29] noah8713 commented on #47201
/unassign

[2017-06-12 21:31] runcom commented on #47288
Right this is clear to me but thanks for the big disclaimer :) (s/containerd-cri/cri-o/ also? :))

About the documentation about CRI yes I'll keep adding stuff as I've already done in the past!

@yujuhong let's leave this open for further discussion

[2017-06-12 21:41] yujuhong commented on #47135
What I observed is mostly consistent with @mikedanese's comment above.

Here is a timeline from one of the failures:
[code]
Snippet from the ns controller:
[code]

1. syncing the namesapce took a long time. The pod deletion request was issued almost 3 minutes after the original namespace deletion request.
2. The first sync failed due to [`unexpected items still remain in namespace: e2e-tests-svc-l

[2017-06-12 21:46] krousey opened #47371 "Split automated upgrade tests into their own results."
When the upgrade tests were automated, they had to be put in a single Ginkgo test to properly coordinate the steps. We should split out the individual upgrade tests so that we don't have to manually triage to see which test failed.

[2017-06-12 21:49] yujuhong commented on #47288
Haha. I think cri-o is an alternative to docker, but cri-containerd could actually be a replacement in the sense that it could still work for docker-installed nodes (though bypassing the daemon).

Thanks!

Sure.

[2017-06-12 21:49] marun commented on #47159
@madhusudancs Should this be blocking 1.7?

[2017-06-12 21:51] marun commented on #45850
@kubernetes/sig-federation-misc Has this issue been fixed so that it can be closed and stop blocking 1.7?

[2017-06-12 21:54] cblecker commented on #47370
I'm on the fence about this. I totally see your point of view, and agree with it mostly. The one part that gives me pause is (from https://github.com/golang/lint#purpose):

It would perhaps be a negative experience to have a weird golint suggestion that you're not expecting on new code.. and a new bar of either making code conform or adding it to the linted exemptions file by default. Granted, tha

[2017-06-12 21:57] dchen1107 commented on #47277
Even for static pods on master node, I wouldn't accept #47356 as is unless someone publish the stats on  sum(all static pods on the master node's request). Also we should make sure our e2e master node is bigger enough to run those static & critical pods by default. Please note that once those static pods marked as critical, Kubelet would blindly admit them and stop evicting them.
Had offline chat

[2017-06-12 21:58] quinton-hoole commented on #31155
@marun Yes, it's done.  Thanks for being the janitor :-)

[2017-06-12 21:58] #31155 closed

[2017-06-12 22:00] wongma7 commented on #46839
I can't reproduce the issue nor figure out what path of code could lead to mkdir from GenerateRunContainerOptions. The error *does* look similar to the 1.6.3 bug but it's not the same.

Did this work on any version before 1.5.2? Is this vanilla kubernetes or some distro of? Can you provide the output of 'kubectl describe pod' and if possible, some kubelet logs capturing around the time the pod is

[2017-06-12 22:01] quinton-hoole commented on #45850
This last failed a month ago.  I think we can close it.  It will automatically re-open if the issue still exists.

[2017-06-12 22:01] #45850 closed

[2017-06-12 22:01] enisoc commented on #35949
This is fixed for CustomResource, the new version of TPR. Users should migrate to CustomResource, as there are no plans to add a finalizer for TPR which is now deprecated.

[2017-06-12 22:01] #35949 closed

[2017-06-12 22:02] spxtr commented on #47370
I agree, and that's why I would rather have the bot make lint comments but allow merging over it.

I just think that the current behavior is worse than nothing, since it silently allows bad code through but actively annoys people trying to add in passing code.

[2017-06-12 22:02] quinton-hoole commented on #47159
@marun No, I don't think it should.  Bumping to v1.8.

[2017-06-12 22:04] enisoc commented on #40715
Finalizers are supported on Custom Resources, which are the new version of TPR. Users should migrate to Custom Resource, as TPR is deprecated.

[2017-06-12 22:04] #40715 closed

[2017-06-12 22:05] enisoc commented on #38113
I would like to begin working on a proposal for this. If anyone else is interested as well, or has already started working on one, please let me know.

[2017-06-12 22:07] quinton-hoole commented on #46380
Renamed and closed, as #46945 has merged.

[2017-06-12 22:07] caesarxuchao opened #47372 "#44784 changes openapi model names"
#44784 changes the openapi model names from "io.k8s.kubernetes..." to "io.k8s.api...". We need to investigate if it breaks backward compatibility.

[2017-06-12 22:07] #46380 closed

[2017-06-12 22:11] quinton-hoole commented on #46937
Replaced by #47032, where the root cause has been determined.  Closing this one.

[2017-06-12 22:11] #46937 closed

[2017-06-12 22:14] monopole opened #47373 "Failure: Projected should update annotations on modification [Conformance] [Volume]"
See job ci-kubernetes-e2e-gke-gci-1-6-gci-1-7-upgrade-cluster
Link:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1-6-gci-1-7-upgrade-cluster/5#k8sio-projected-should-update-annotations-on-modification-conformance-volume

Snippet:

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/common/projected.go:917
Expected error:

[2017-06-12 22:15] krousey commented on #47370
golint is meant to serve as a warning that something might not be style
compliant. I think it's perfectly valid to say that if you disagree with
what it says about your code, you should acknowledge that by opting out.

I agree that the best option is to explicitly surface them as comments
during the review and not block the build, but this is a better option
until we get that.

On Jun 12, 2017 15:

[2017-06-12 22:16] nicksardo commented on #47362
I'll cleanup resources again after my PR gets merged.

[2017-06-12 22:17] quinton-hoole commented on #47032
Closing as #2977 has merged and been demonstrated to fix this issue.

[2017-06-12 22:17] #47032 closed

[2017-06-12 22:22] nicksardo commented on #47362
/assign

[2017-06-12 22:24] spzala commented on #47361
@kargakis good point, I think somewhat but the proposed solution here can apply to both. This issue is created based on recent discussion and some changes that are merged. Adding @lavalamp for discussion.

[2017-06-12 22:24] nicksardo commented on #43730
/area platform/azure

[2017-06-12 22:33] roberthbailey commented on #16449
I think we should close, and open more specific issues for each cluster provisioning solution as necessary.

[2017-06-12 22:33] #16449 closed

[2017-06-12 22:33] #47362 closed

[2017-06-12 22:35] monopole commented on #47373
Test grid just went green.
https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-gci-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Projected%5C%20should%5C%20update%5C%20annotations%5C%20on%5C%20modification%5C%20%5C%5BConformance%5C%5D%5C%20%5C%5BVolume%5C%5D

closing

[2017-06-12 22:35] #47373 closed

[2017-06-12 22:35] ssubramanian123 commented on #47142
@bowei I am seeing issue from node itself... looks this is not related to k8s cluster... When node is taking time to resolve external host.. pods started throwing exception..

Is k8s nodes cache hostname / nameserver responses?

[2017-06-12 22:41] JeanMertz commented on #40271
It hasn't happened on our GKE cluster anymore. I'm guessing one of the updates solved the issue?

[2017-06-12 22:41] duglin commented on #47361
To be clear, the placement of the code that generates the code/docs can live anywhere (either in its current spot or in a new repo - which ever makes the most sense), but the main idea behind the separate repo was to host the "generated code" itself outside of the current repo.  For example, let's say the code/docs generation stuff continues live in, say, k8s/k8s but we don't check-in the generate

[2017-06-12 22:50] monopole opened #47374 "Test Failure: Proxy version v1 should proxy through a service and a pod [Conformance]"
[jenkins log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster/7#k8sio-proxy-version-v1-should-proxy-through-a-service-and-a-pod-conformance)

[testgrid history](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Proxy%5C%20version%5C%20v1%5

[2017-06-12 22:50] kargakis commented on #47361
@kubernetes/sig-testing-misc folks need to weigh in. How do you guys feel about cross-repo testing at this point?

[2017-06-12 22:52] madhusudancs commented on #42907
@irfanurrehman you had an issue somewhere describing the details of this issue. I am unable to find it though. Can we close this one in favor of your issue that has more details?

[2017-06-12 22:52] monopole commented on #47374
/assign @bowei

This test has been failing since creation.  Deprecated behavior?

[2017-06-12 22:57] madhusudancs commented on #46937
@quinton-hoole just for posterity, this issue and #47032 are completely unrelated. But happy to close this one. I hope this isn't be a problem anymore with all the work @perotinus has done.

/cc @perotinus

[2017-06-12 23:03] monopole opened #47376 "Test Failure: Basic StatefulSet functionality [StatefulSetBasic] Scaling down before scale up is finished should wait"
Test: Basic StatefulSet functionality [StatefulSetBasic] Scaling down before scale up is finished should wait until current pod will be running and ready before it will be removed

[jenkins log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster/7#k8sio-statefulset-k8sio-basic-statefulset-functionality-statefulsetbasic-scaling-dow

[2017-06-12 23:08] monopole opened #47378 "Test Failure: Scaling should happen in predictable order and halt if any stateful pod is unhealthy"
Scaling should happen in predictable order and halt if any stateful pod is unhealthy"

Has been failing forever - possibly checking deprecated behavior?

[jenkins](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster/7#k8sio-statefulset-k8sio-basic-statefulset-functionality-statefulsetbasic-scaling-should-happen-in-predictable-order

[2017-06-12 23:10] caesarxuchao commented on #47307
But in this issue, the build was successful, but some images were removed due to the bug.

What i'm concerned with is that when building beta.2 this Wednesday, if a similar problem happens, i won't be able to stop anago from pushing the incomplete image sets.