[2019-11-27 02:58] edwardbadboy commented on #62900
Add a comment to see if we can reopen the issue.

[2019-11-27 02:59] dims commented on #62900
/reopen

[2019-11-27 03:24] draveness commented on #81719
The golang testing tools allow us to set `b.N` in the benchmark test cases, but I can't say the right or wrong of this approach. It does skip the initial attempts with small `b.N`. However, it could also cost more time than expected after the time of each iteration returns to a stable value.

👍

Adding metrics to the scheduler perf test is fine; it just not the first intent to create this issue.

[2019-11-27 03:25] bingosummer commented on #85499
Thanks @tedyu . Logging this periodically (say every 10 minutes) can reduce the number of messages, but it doesn't really resolve the issue. Is it possible to do the option 1 or other option to resolve the issue?

[2019-11-27 04:02] liggitt commented on #85320
we don't want to sleep inside a controller sync loop on one object... it blocks other objects that worker needs to process

[2019-11-27 04:14] bappan commented on #62897
kubeadm reset command worked for me...thanks

[2019-11-27 04:39] #80722 closed

[2019-11-27 05:15] gitcubehub commented on #57518
Pods not getting scheduled on the new node joined to the cluster using kubespray
The node joined to the cluster but new pods schedueld on the nodes are failing with error "get https://10.233.0.1 : dial tcp 10.233.0.1: 443 connection refused"

Network plugin - calico
kube-proxy running in ipvs mode

1. From new worker node, can connect to master server ip address over 6443
2. From new worker node,

[2019-11-27 05:39] fortanu82 commented on #85604
After narrowing it down, the problem was one of the window nodes from where none of the containers were able to resolve the DNS . However with the other windows node, hostname was being resolved and able to curl/ping other services.
Further, we terminated this faulty node and let the new one spin up, at that point all the pods moved to a working node. To balance the pods some were killed and spin

[2019-11-27 06:28] ttfreeman commented on #83290
This doesn't look like a kin/documentation? It's more a new feature request.

[2019-11-27 06:31] ttfreeman commented on #84872
@johnSchnake I would be happy to work on this as my first issue. Please feel free to assign and I'll get started. Thanks.

[2019-11-27 06:32] adisky commented on #80041
@hogepodge We need to wait for CSI migration to be GA.

[2019-11-27 06:42] wudebao opened #85667 "Support mutli-cluster for HPA"
**What would you like to be added**:
Support mutli-cluster for HPA

**Why is this needed**:
Multi-cluster is a reasonable scenario in a production environment，but now，can not support it，can you support mutli-cluster for HPA ？

[2019-11-27 07:14] niharkawli commented on #85389
Saw same issue in our cluster as well today.
[code]

[code]

[code]

[2019-11-27 07:14] mwaaas commented on #79523
looking for a first issue to work,
@josiahbjorgaard can I take this

[2019-11-27 07:44] ffahri opened #85669 "Kubernetes Service Overwrite SecurityGroups with AWS Extra SG Annotations"
**What happened**:
When attaching security group to Kubernetes Service using:
`service.beta.kubernetes.io/aws-load-balancer-extra-security-groups : sg-1234`
Kubernetes change and overwrite all rules to given security group.

**What you expected to happen**:
Dont overwrite only add rules at least

**How to reproduce it (as minimally and precisely as possible)**:
Create service with loadbalancer and

[2019-11-27 07:46] ffahri commented on #85669
@kubernetes/sig-aws

/sig aws

[2019-11-27 07:46] ffahri commented on #85669
/sig aws

[2019-11-27 07:47] joechan222 opened #85670 "error from kubelet in /var/log/message: error executing command in container: EOF"
**What happened**:
I have found there is lots of error message came from both Docker and kubelet under the linux syslog recently, the sample error message is shown as below:

`Nov 27 15:25:07 k8slab1 kubelet: E1127 15:25:07.684610   15239 exec.go:71] error executing command in container: EOF
Nov 27 15:25:07 k8slab1 dockerd: time="2019-11-27T15:25:07.722427764+08:00" level=error msg="Error running

[2019-11-27 07:48] ffahri commented on #85669
@kubernetes/sig-cloud-provider

[2019-11-27 07:48] joechan222 commented on #85670
/sig node

[2019-11-27 07:59] davidmogar commented on #4301
What is the current status of this? This comment is actually something I'd like to have:
[code]
My use case is quite straightforward. I deploy Puppet Servers and it takes around 2 minutes for the pod to be ready and several catalog compilations for the server to be efficient. With the current HPA, pods seem to be deleted randomly and when an old one is deleted favoring a new one, the efficiency an

[2019-11-27 08:20] zedtux commented on #59343
Is there any workaround for this?

[2019-11-27 08:21] mdh67899 commented on #60987
same on kubelet --version
Kubernetes v1.16.0
no cloud provider, bare-metal
<pre>
Nov 27 16:20:21 localhost kubelet[42992]: E1127 16:20:21.051187   42992 kubelet_volumes.go:154] orphaned pod "c823f3e9-0fb8-4cce-8126-99e2f3a91c61" found, but volume paths are still present on disk : There were a total of 1 errors similar to this. Turn up verbosity to see them.
Nov 27 16:20:23 localhost kubelet[42992]

[2019-11-27 09:03] draveness opened #85672 "Refactor kubelet with node status plugin and registry"
**What would you like to be added**:

Add node status `Plugin` and `Registry` for node status functions registration.

[code]

Plugin registry is responsible for storing plugins and preserving the executing order.

[code]

**Why is this needed**:

Some components of the kubelet depend on the `GetNode` function of kubelet, and `GetNode` function has a complicated process which finally depends on th

[2019-11-27 09:13] Xtigyro commented on #67631
@bennettellis Hey - was that fixed?

[2019-11-27 09:32] 348786639 opened #85673 "the token can not automatically created and added to the service account？？"
**kubectl create -f  sa.yaml**

 **kubectl get sa -n kube-system**
NAME                     SECRETS   AGE
kubernetes-dashboard   0         12m

Why SECRETS    is 0 ？
no token？

**cat kube-apiserver.service**
[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
After=etcd.service
[Service]

PermissionsStartOnly=true
ExecStartP

[2019-11-27 09:35] shdowofdeath commented on #60807
first, take small coffee and relax , now go to your k8s master nodes

kubectl cluster-info
Kubernetes master is running at https://localhost:6443
KubeDNS is running at https://localhost:6443/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy
To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.

now run the kube-proxy
kubectl proxy &
Starting to serve on 127.0.0.1

[2019-11-27 09:52] #85673 closed

[2019-11-27 09:55] 348786639 opened #85674 "Kubernetes can't automatically create token for serviceaccount and add to service account？"
[code]

[code]

Why SECRETS is 0 ？
no token？

[code]
[code]

[2019-11-27 10:06] liys87x commented on #77192
I am seeing the same
Version: Kubernetes v1.10.5, Docker 1.13.1
Temporary solution：restart docker && restart kubelet

[2019-11-27 10:06] max-rocket-internet commented on #85506
What `Events` and `Conditions` are present for your HPA when this happens?

[2019-11-27 10:13] bertinatto commented on #80967
FYI, updated the CSI docs recommending CSI drivers to allow for customization of volume limits: https://kubernetes-csi.github.io/docs/volume-limits.html

Note that once CSI migration in AWS is GA (it's beta now, but [disabled by default](https://github.com/kubernetes/kubernetes/blob/27babd49b953820cadbe67bb59d3b1742597ffd2/pkg/features/kube_features.go#L600)), the CSI driver will be the *source* f

[2019-11-27 10:19] bertinatto commented on #83351
So we tried to address this through docs, as suggested in https://github.com/kubernetes/kubernetes/issues/83351#issuecomment-536941626.

Closing, feel free to re-open if you disagree.

/close

[2019-11-27 10:19] #83351 closed

[2019-11-27 10:28] lbernail commented on #75890
/remove-lifecycle stale
@yastij or @andrewsykim I think this feature would have real value. Anyway I could help making it progress?

[2019-11-27 10:48] losipiuk opened #85677 "Scheduler does not clear nominatedNodeName on Pod when node is no longer valid"
**What happened**:

Scheduler decided that it wants to schedule Pod P on Node N after preempting some pods from N.
It set the P.nominatedNodeName to N. After a while (before scheduling actually happened) node N was removed from the cluster.
Scheduler did not reset P.nominatedNodeName to empty value.

**What you expected to happen**:

I would expect scheduler to unset P.nominatedNodeName when the n

[2019-11-27 10:49] losipiuk commented on #85677
/assign @ahg-g

[2019-11-27 10:49] losipiuk commented on #85677
/cc @MaciekPytel

[2019-11-27 10:53] soltysh commented on #85614
I agree with Jordan here, for your usecase I'd suggest using `kubectl version -oyaml` or `kubectl version -ojson` and parse whatever you need. This will ensure you a stable, machine parsable output.

[2019-11-27 10:54] xxshuo commented on #76531
yum -y install docker-ce-cli-18.09.9-3.el7.x86_64
yum -y install docker-ce-18.09.9-3.el7.x86_64
更新docker 到18.09
k8s 版本 --kubernetes-version v1.16.3 测试该问题已修复

[2019-11-27 10:59] MaciekPytel commented on #85677
Another interesting case would be creating a new pod with pod antiaffinity blocking the pod with nominated node name from scheduling:
1. Fill up a cluster with pods, including a long-terminating low-priority pod A.
2. Create high-priority pod B that has the same requests as A.
3. Create pod C with negligible resource requests and zonal topology pod antiaffinity matching pod B (and no other pods in

[2019-11-27 11:53] droslean opened #85678 "[Failing Test] capa-conformance-stable-k8s-master ( ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
`capa-conformance-stable-k8s-master ( ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)`

**Since when has it been failing**:
`26th Nov 08:32 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/cc

[2019-11-27 11:56] droslean opened #85679 "[Failing Test] capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
`capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts) `

**Since when has it been failing**:
`26th Nov 09:07 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/cc

[2019-11-27 12:21] withlin opened #85681 "webhook response error"
[code]

### excute  pod yml
[root@localhost sidecarset]# k apply -f podtest.yml
Error from server (InternalError): error when creating "podtest.yml": Internal error occurred: failed calling webhook "pod-policy.example.com": expected webhook response of admission.k8s.io/v1, Kind=AdmissionReview, got /, Kind=

### my webhook server

2019/11/27 20:13:04 Webhook request handled successfully{"response"

[2019-11-27 12:23] withlin commented on #85681
/sig Resource Management

[2019-11-27 12:47] Sh4d1 commented on #85250
@Jefftree @chektako I think the network proxy can be used on a different machine, and this leads to Unix socket to be completely unusable with the network proxy. So either we ignore the KMS endpoint for the network proxy, or it needs to go through the network no?

[2019-11-27 12:58] rforberger commented on #85197
For me it didn't occur again. Not really sure when it occurs. Maybe it is a Windows Subsystem for Linux related issue, since it didn't happen to me on any real UNIX platform.

[2019-11-27 13:02] bennettellis commented on #67631
I believe typo and other format issues were combining to produce the issues I was seeing, so it's probably most user/operator error here.

[2019-11-27 13:08] Xtigyro commented on #67631
@bennettellis Thanks for the reply, appreciated!

[2019-11-27 13:27] oxddr opened #85682 "[Failing Test] gce-master-scale-performance - load"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
load

**Since when has it been failing**:
11/26

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:

**Anything else we need to know**:

/sig scalability
/priority critical-urgent
/milestone v1.18

[2019-11-27 13:27] oxddr commented on #85682
/assign

[2019-11-27 13:29] oxddr opened #85683 "Not enough capacity to schedule Prometheus in kubemark5000"
**Which jobs are failing**:
kubemark-5000

**Which test(s) are failing**:
Up and ClusterLoaderV2

**Since when has it been failing**:
11/20

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000

**Reason for failure**:

**Anything else we need to know**:

/sig scalability
/priority important-soon
/milestone v1.18
/assign

[2019-11-27 13:31] soltysh commented on #72088
/reopen

[2019-11-27 13:32] soltysh commented on #72088
/lifecycle frozen

[2019-11-27 13:32] soltysh commented on #72088
@mszostok still interested in fixing it? If so pls open a PR and ping me on slack

[2019-11-27 13:43] zouyee commented on #82021
/remove-lifecycle stale

[2019-11-27 14:37] #85682 closed

[2019-11-27 14:40] oxddr commented on #85683
`Unable to schedule monitoring/prometheus-k8s-0: no fit: 0/84 nodes are available: 1 node(s) were unschedulable, 83 Insufficient memory.; waiting`

Was there any recent change to resource requirements for Prometheus?

[2019-11-27 14:48] #21988 closed

[2019-11-27 14:55] tanjunchen commented on #85495
#85684 fix 21   24  25
#85629 fix number 22

[2019-11-27 15:26] liu-cong commented on #81719
The intent of the local dashboard is to give developers an alternate tool at analyzing scheduler performance and not to run every time a new code change is done. For instance, when you develop a new plugin and want to do some comprehensive evaluation.

But anyway, this is just a nice to have.

We can consider this. However, it's probably tricky to come up with a criteria to fail the check as the r

[2019-11-27 15:29] liu-cong opened #85685 "Collect metrics for scheduler benchmark tests"
**What would you like to be added**:
We should allow collecting both default scheduler metrics (Prometheus) and custom metrics easily. At a high level, these collectors should produce a json formatted result which will then be consumed by perf-dash to present in the dashboard.

**Prometheus metrics**
We should provide a metrics collector that collects and summarizes default scheduler metrics defin

[2019-11-27 15:31] draveness commented on #81719
We could make the test optional and only triggered when we reply something like `/test scheduling- performance`. And the test won't be the blocker of the PR process.

[2019-11-27 15:36] liu-cong opened #85686 "Run scheduler benchmark tests in presubmit CI checks"
**What would you like to be added**:
Run scheduler benchmark tests in presubmit CI checks.

**Why is this needed**:
The scheduler benchmark tests are relatively fast to run (~5min). They help us catch performance regressions. By running it in Prow jobs, we have a consistent environment to run the benchmark and to compare with.

To begin with, we can just run the benchmark tests and not necessarily

[2019-11-27 15:38] ahg-g commented on #85563
Just to clarify, those are not duplicate pods, they are two different pods (pods with different UID) with the same name.

When an assumed pod is deleted, the scheduler does not seem to remove it immediately from the cache, rather it just waits until the pod expires (maximum 30 second). The history behind this behavior is not clear to me.

[2019-11-27 15:39] liu-cong commented on #85686
cc @draveness @alculquicondor

[2019-11-27 15:47] liu-cong commented on #85686
Credits to @draveness and @alculquicondor for bringing up the idea!
Some relevant comments: [1](https://github.com/kubernetes/kubernetes/issues/81719#issuecomment-558911442) and [2](https://github.com/kubernetes/kubernetes/issues/81719#issuecomment-559136248)

[2019-11-27 16:42] neolit123 commented on #83290
it has to be documented possibly once / if this change goes in.

[2019-11-27 16:44] ttfreeman commented on #83290
@neolit123 I'd be happy to help as my first issue if you clarify exactly what I am supposed to do for the documentation side.

[2019-11-27 16:53] neolit123 commented on #83290
thanks. the feature has to be enabled first before we document it.

[2019-11-27 17:07] jsafrane commented on #85320
The controller should not read PV/PVC.status, it reads only .spec. I don't think we should break this behavior.

I think it could be possible not to update PV.status in PVC workqueue and let the PV workqueue to own it exclusively.

[2019-11-27 17:10] cartyc commented on #83683
@msau42 What releases does the issue affect?

[2019-11-27 17:12] msau42 commented on #85320
The first race is actually PVC workqueue trying to update PV.spec.claimref  that raced against PV workqueue updating status

[2019-11-27 17:13] jsafrane commented on #85320
Is it a real issue though? The system works, it just needs one extra sync. It's only for pre-provisioned PVs whose PVCs are created at the same time.

[2019-11-27 17:20] amalts commented on #85206
/assign

[2019-11-27 17:22] liggitt commented on #85320
timing and available fix cleaned up failures (none since the fix merged), see https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&sort-by-flakiness=&width=5&include-filter-by-regex=TestVolumeBinding$

[2019-11-27 17:24] galindro commented on #65502
And if a would like to run an one-off container that should be executed *after* other container in the same pod? Unfortunately [Container PostStart Lifecycle Hook](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/?spm=a2c41.12820884.0.0.22345fa8qLBgIw#container-hooks) isn't good because there is no guaranties that it would always been triggered after container's ENTRYPOINT.

[2019-11-27 17:29] mortent opened #85690 "StatefulSet does not clean up ControllerRevisions in some situations"
**What happened**:
A StatefulSet has created well over 100k ControllerRevisions when the number should be limited to 10.

**What you expected to happen**:
That the StatefulSet controller cleans up ControllerRevisions to keep the number at or below the threshold.

**How to reproduce it (as minimally and precisely as possible)**:
What happens is that the StatefulSet controller cleans up ControllerRe

[2019-11-27 17:29] mortent commented on #85690
/assign

[2019-11-27 17:34] ahg-g opened #85691 "Remove PredicateMetadataProducer and Snapshot from ScheduleAlgorithm interface"
PredicateMetadataProducer() and Snapshot() are needed for cluster autoscaler integration. We should remove them from the ScheduleAlgorithm interface once CA migrates to creating a Framework instead of a full scheduler.

/sig scheduling

[2019-11-27 17:37] msau42 commented on #85320
Let's continue discussion if we want to improve PV controller in https://github.com/kubernetes/kubernetes/issues/85659

/close

[2019-11-27 17:37] #85320 closed

[2019-11-27 17:46] tamalsaha opened #85692 "Make util/{goroutinemap,slice} usable outside k/k ?"
We would like to see github.com/kubernetes-csi/external-snapshotter project to use 1.16.x libraries. Issue: https://github.com/kubernetes-csi/external-snapshotter/issues/200

One of the blockers is that this project depends on k/k . It uses the following util packages:

- k8s.io/kubernetes/pkg/util/goroutinemap
- k8s.io/kubernetes/pkg/util/slice

Can these packages moved to somewhere outside k/k s

[2019-11-27 17:46] liggitt commented on #85614
/close

per https://github.com/kubernetes/kubernetes/issues/85614#issuecomment-559037064

[2019-11-27 17:46] #85614 closed

[2019-11-27 17:47] tamalsaha commented on #85692
/sig api-machienry
/sig storage

cc: @liggitt @dims @msau42 @saad-ali

[2019-11-27 17:59] bboreham commented on #64530
/reopen

The [docs](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#soft-eviction-thresholds) say "If specified, the kubelet uses the lesser value among the pod.Spec.TerminationGracePeriodSeconds and the max allowed grace period. If not specified, the kubelet kills Pods immediately with no graceful termination", which is grotesquely different from what the code does.

[2019-11-27 18:03] ehashman commented on #85544
I pinged @piosz to confirm; both SIG chairs aren't based in the US but much of the SIG is and @brancz is currently out on vacation. I don't see any agenda items so I suspect it will be cancelled.

[2019-11-27 18:04] tomkerkhove commented on #85544
Thanks for checking - I'll join but if nobody shows up join later on instead.

[2019-11-27 18:23] tamalsaha opened #85693 "k/k ships an invalid go.mod file"
We are trying to update our k/* dependencies to 1.16.x using go.mod. One of the challenges we are facing is that k/k repo can't be imported via go.mod. We get the following error, when we tried:

[code]

I understand that we are not supposed to import k/k repo. But I think k/k should at least ship with a valid go.mod file. For now, I am using replace to work around this issue in my fork: https://g

[2019-11-27 18:24] tamalsaha commented on #85693
/sig api-machinery

cc: @sttts @liggitt @bgrant0607

[2019-11-27 18:31] liggitt commented on #85693
kubernetes/kubernetes uses go modules to manage dependencies and its vendor directory, including in-repo dependencies within the staging folder.

The v0.0.0 version is a placeholder version used in combination with the local replace directive, as described in https://github.com/golang/go/wiki/Modules#when-should-i-use-the-replace-directive:

Replacing that with a sha or tag would be inaccurate, si

[2019-11-27 18:31] #85693 closed

[2019-11-27 18:33] liggitt commented on #85693
That is the most reasonable way to work around the issue while you remove dependencies on the k8s.io/kubernetes repo.

[2019-11-27 18:33] tamalsaha commented on #85693
What is your response to the #2 point in my original issue?

[2019-11-27 18:35] liggitt commented on #85693
Requests to publish utility packages are evaluated on a case-by-case basis, depending on use, how generic they are, how many dependencies they themselves have, and whether or not they are considered supportable.

[2019-11-27 18:37] tamalsaha commented on #85693
Ok. Can you please look into https://github.com/kubernetes/kubernetes/issues/85692 ?

[2019-11-27 19:12] mtaufen commented on #85650
/assign @LalatenduMohanty

[2019-11-27 19:29] ahg-g commented on #85563
Copying a comment I made on the PR:

I think we have the following cases:

1) If the binding succeeded before the pod got deleted, then the pod will have NodeName set (i.e., the pod is assigned), and the scheduler will then get an add then a delete event that will be handled by the [delete event handler](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/eventhandlers.go#L362), whi

[2019-11-27 19:34] dims commented on #85692
@tamalsaha if you want to propose moving these to k8s.io/utils, that's a good place since you say these are reusable. caution though ... we go through rigorous review of the API of anything that goes into k/utils ( https://github.com/kubernetes/utils/#criteria-for-adding-code-here ). I do encourage you to look through older PRs in that repo to see what we ask for typically and propose a PR in kube

[2019-11-27 19:48] sttts opened #85694 "Nullable, required fields of null value break kubectl client-side validation"
When doing `kubectl edit clusterversions` in an OpenShift cluster with a nullable field being required (compare https://github.com/openshift/api/blob/master/config/v1/0000_00_cluster-version-operator_01_clusterversion.crd.yaml#L153) and of value null, one gets:

[code]

[2019-11-27 19:49] sttts commented on #85694
cc @liggitt

[2019-11-27 22:04] tamalsaha commented on #85692
What is the criteria for choosing between k8s.io/utils and https://github.com/kubernetes/apimachinery/tree/master/pkg/util ?

[2019-11-27 22:11] msau42 commented on #83683
1.9 when the BlockVolume feature was introduced as alpha.

[2019-11-27 22:12] jpeach commented on #56374
Well, nfsnobody+CAP_NET_BIND_SERVICE is still a weaker credential than root+CAP_NET_BIND_SERVICE. I think that raising the privilege or ordinary credentials in a limited way is a totally reasonable thing to want.

I'd avoid adding more complexity here. If you really don't want to change the semantics of `capabilities.add`, then maybe a new `capabilities.effective` field, which guarantees to propag

[2019-11-27 22:13] cpuguy83 opened #85699 "Customize dockershim runtime name"
**What would you like to be added**:

We use our own custom build of docker for dockershim and would like to more easily reflect this information in the kubelet node info.

Example:

`kubectl get nodes -o wide` currently shows `docker://` for the runtime which is hard-coded in dockershim.
I would like to be able to have a way to change this value to something else.

One potential means of doing th

[2019-11-27 22:14] cpuguy83 commented on #85699
/sig node

[2019-11-27 22:38] rektide commented on #85544
some discussion in this thread about structured logging- just want to create a link here to kubernetes/enhancements#1367 , which is an enhancement for structured logging.

[2019-11-27 22:43] ralfonso opened #85702 "ISCSI targets remain logged-in after the last attachment detaches"
**What happened**:

Deletion of a Pod with an ISCSI volume in `filesystem` mode results in an error during `DetachDisk`, leaving an ISCSI target logged into on the kubelet node despite the target being unused. In my case, the ISCSI Target server enforces a single session per LUN, which blocks the Pod from starting on another Node in the cluster.

**What you expected to happen**:

For the kubelet t

[2019-11-27 22:56] #78730 closed

[2019-11-27 22:57] spiffxp commented on #75355
/reopen
This is the flakiest test for PRs http://velodrome.k8s.io/dashboard/db/job-health-merge-blocking?panelId=1&fullscreen&orgId=1

Triage link: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=PodReadinessGate

Since this is a GA feature it should have conformance tests covering it, this specific test was prevented from promotion to conformance due to flakiness issues

[2019-11-27 23:10] smarterclayton commented on #30656
As mentioned above this really needs a KEP and discussion about the security implications. It’s not that it’s necessarily a bad idea, it just has a significant impact to the system and needs a design before we can start coding.

I’d be happy to help review and shepherd a KEP for this, but it definitely has some gotchas and may take a while.

[2019-11-27 23:47] liggitt commented on #85699
Dockershim is deprecated and efforts are being made to remove it. I don't think adding new enhancements to it matches the feature trajectory.

[2019-11-27 23:50] liggitt commented on #85681
Your webhook must return a well formed AdmissionReview response including apiVersion and kind. See https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#response for details.

[2019-11-27 23:50] #85681 closed

[2019-11-28 00:08] stevebail commented on #85557
I have also verified the memory cgroup and the problem is still present there as well.
memory.soft_limit_in_bytes is set to “infinity” i.e. 9223372036854771712

[2019-11-28 00:21] liggitt commented on #85674
What do the controller manager logs show?

[2019-11-28 01:08] zouyee commented on #85699
/close

[2019-11-28 01:08] #85699 closed

[2019-11-28 01:44] xing-yang commented on #85692
Seems to be a good idea to move goroutinemap and slice to k8s.io/utils.

[2019-11-28 01:51] #81575 closed

[2019-11-28 02:04] withlin commented on #85681
Hi @liggitt, Thank you  very much. It work.

[2019-11-28 02:09] dims commented on #85692
@tamalsaha - question to ask there is "is it really usable outside of kubernetes?"

[2019-11-28 02:36] 348786639 commented on #85674
@liggitt Thank you. but got it done.

[2019-11-28 02:36] #85674 closed

[2019-11-28 02:56] cwdsuzhou commented on #85563
Seems the issue I met does match the cases you mentioned.

From the codes, if the pod is deleted before binding is finished, but pod is assumed.
Then a delete event comes, scheduler will not call` ForgetPod`, it will call https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/eventhandlers.go#L386, because the pod has not been scheduled, then the pod would not be removed from the cache

[2019-11-28 02:57] denkensk commented on #85677
@losipiuk  I'm not sure if we need to clear nominatedNodeName on Pod when node is no longer valid immediately.  And we have other logic to clear nominatedNodeName.

-------
Reuse your example.
- create cluster with nodes A and B.
- ensure all system pods are running on A. Fill up A so it does not have spare resources.
- add a low priority Pod L with long termination, with requests matching allocat

[2019-11-28 04:26] lutierigb commented on #39423
just adding some more details to this. In GKE we see the following in the kube-controller logs:

`
I 2019-11-20T15:45:31Z Detected change in list of current cluster nodes. New node set: map[gke-cluster-pool-4-1a7b6c0f-7sl0:{} gke-t
I 2019-11-20T18:20:40Z Successfully updated 336 out of 336 load balancers to direct traffic to the updated set of nodes
I 2019-11-20T19:20:40Z Detected change in list o

[2019-11-28 05:01] liggitt commented on #85608
This isn't an imperative command that you run to enable the admission plugin. That flag is something you would add to your existing kube-apiserver invocation, along with the TLS certificates required to serve securely. By not providing those, the apiserver tried to mint its own self-signed certificates at the default path (probably not what you want) and failed. I'm not familiar with the installat

[2019-11-28 05:01] #85608 closed

[2019-11-28 05:02] #79333 closed

[2019-11-28 05:02] #79265 closed

[2019-11-28 05:02] #85448 closed

[2019-11-28 06:00] SkeLLLa commented on #75942
I think this issue is still actual and not fixed.

[2019-11-28 06:00] SkeLLLa commented on #75942
/reopen

[2019-11-28 06:12] draveness commented on #75942
/remove-lifecycle rotten

[2019-11-28 06:28] andyzhangx commented on #80836
/close

[2019-11-28 06:28] #80836 closed

[2019-11-28 07:53] stefan-kolev commented on #84244
+1 Same here with external etcd

[2019-11-28 08:05] #79586 closed

[2019-11-28 08:57] grealish commented on #69213
So I've hit this issue recently and it's not solved, please reopen the issue as it's blocking allot of people can costing allot of money on a client.
Does anyone form the CNCF have any advise on esulcating this issue?

[2019-11-28 09:23] chendave commented on #81920
/remove-lifecycle stale

[2019-11-28 09:36] zhangxiaoyu-zidif commented on #82531
I checkout release-1.16 and execute `make`, and terrible experience with
[code]

[2019-11-28 09:47] justaugustus commented on #71719
We need to close the loop on this for 1.18.

@kubernetes/release-engineering -- This is a nice one to potentially pick up.
/help
/unassign @justaugustus @BenTheElder @hoegaarden
/milestone v1.18
/priority important-soon

[2019-11-28 09:52] cpanato commented on #71719
@justaugustus i think i cam help, just need some initial guidance. Can we speak in chat?

[2019-11-28 09:53] justaugustus commented on #70131
Dims, you've got a fair amount more context on this than me, so reassigning you.
/unassign
/assign @dims

@kubernetes/release-engineering -- This is one to potentially help out with.
/help
/milestone v1.18
/priority important-longterm

[2019-11-28 09:54] justaugustus commented on #70131
/remove-lifecycle stale
/lifecycle frozen

[2019-11-28 09:56] saschagrunert commented on #70131
We could utilize [nix](https://nixos.org/nix/) to easily achieve this by pinning the dependencies to a dedicated git commit. I'm maintaining the kubernetes nix package as well and we're fairly up-to-date with the k8s packages.

[2019-11-28 10:05] yastij commented on #65392
/remove-lifecycle stale
/lifecycle frozen

[2019-11-28 10:10] micw commented on #52096
@manuperera could you reopen this? It's still not solved :-(

[2019-11-28 10:14] micw commented on #66161
@slecrenski would you reopen this? it's still unresolved. thank you!

[2019-11-28 10:21] mgdevstack commented on #80193
/remove-lifecycle stale

[2019-11-28 10:26] zhangxiaoyu-zidif commented on #82531
Resolved:
1.12.9 <= go version < 1.13

[2019-11-28 10:46] justaugustus commented on #71719
Sounds good, Carlos. Let's find some time to chat next week.
/assign @cpanato

[2019-11-28 10:51] guanzydev commented on #75663
The same problem：
`kubelet: W1128 17:30:04.046048   17585 cpu_manager.go:236] [cpumanager] reconcileState: skipping container; ID not found in status (pod: elasticsearch-logging-0, container: elasticsearch-logging-init, error: unable to find ID for container with name elasticsearch-logging-init in pod status (it may not be running))
 `
elasticsearch-logging-init is an init container and at exit st

[2019-11-28 11:05] pperiyasamy commented on #83695
I've just updated #413 with my observations.
can you have a look and comment ?

[2019-11-28 11:41] weathery opened #85723 "kubernetes v1.14.9: watch of *v1.ConfigMap ended with: too old resource version"
**What happened**:
when upgrade kubernetes from v1.14.8 to v1.14.9, there was so mang log in /var/log/message as follow:
[code]
**What you expected to happen**:
There was no this issue with in cluster kubernetes v1.14.8, while all of components was the same version.

**How to reproduce it (as minimally and precisely as possible)**:
kubernetes v1.14.9 cluster 3 Masters and 2 Nodes + Docker v18.09.9

[2019-11-28 11:56] lllamnyp opened #85725 "Service remains unavailable after node returns from NotReady"
**What happened**:

One of my nodes momentarily became `NotReady`, then it came back:

[code]

After this I saw a deployment become unavailable:
[code]

However, the pod is in the ready state:

[code]
So all containers in the pod are ready, but the pod is not. Accordingly, the pod IP in
[code]
shows up in the subset of `notReadyAddresses`.

Potentially related might be this event.
[code]

**What y

[2019-11-28 12:23] chenk008 commented on #85723
This is normal log. When informer restart watch , this log may appears

[2019-11-28 12:34] chenk008 commented on #85723
This is normal log. When informer restart watch , this log may appears

[2019-11-28 12:38] renjian52 opened #85726 "Deleted pods may remain in scheduler cache and cause scheduling exception"
**What happened**:
pod can't be removed from scheduler cache when be deleted,  logs in kube-scheduler is below:

I1128 16:41:50.819639   31593 leaderelection.go:344] lock is held by shaphicpra14907_64ccb0c5-aaa1-435d-a4b4-ead4bb3de63b and has not yet expired
I1128 16:41:50.819678   31593 leaderelection.go:240] failed to acquire lease kube-system/kube-scheduler
I1128 16:41:53.740234   31593 leadere

[2019-11-28 12:42] chenk008 commented on #85725
Check the pod's conditions,the ready is false.
You should check the pod's readiness/liveniess

  Type              Status
  Initialized       True
  Ready             False
  ContainersReady   True
  PodScheduled      True

[2019-11-28 12:48] tptpp commented on #81134
@zouyee

[2019-11-28 12:49] selslack commented on #65613
/remove-lifecycle stale

[2019-11-28 12:55] dreadbird commented on #82770
The same issue.
When I use custom metrics,it will be very slow. Because there were 1K+ MetriceValuesList resources.
Call `http://127.0.0.1:8080/apis/custom.metrics.k8s.io/v1beta1`  api will return more than 300k and consume 8s.
![image](https://user-images.githubusercontent.com/2113395/69807815-33c52400-1221-11ea-95ac-eedcf91346a4.png)
****

[2019-11-28 12:58] dreadbird commented on #82770
I think there shoud have some configs for the APIs requires cache.

[2019-11-28 13:10] #78842 closed

[2019-11-28 13:21] renjian52 commented on #85726
/sig release

[2019-11-28 13:23] renjian52 commented on #85726
/sig scheduling

[2019-11-28 13:42] SerialVelocity commented on #81575
Thanks @zouyee and @dashpole!

[2019-11-28 13:56] libudas commented on #17512
This doesn't work anymore :(

[2019-11-28 14:06] ivnilv commented on #63371
Just bumped into this as well... Was wondering why my cronjob is not executed in the past days, even though the schedule clearly says it should have ... It happens when you edit existing cron jobs and change the schedule... Hoping for a fix soon :pray: :bug:

[2019-11-28 14:09] #85694 closed

[2019-11-28 14:11] #79582 closed

[2019-11-28 14:11] ahg-g commented on #85563
ForgetPod will be called [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler.go#L575) if the binding failed, and this will happen if the delete on the apiserver was performed before the bind was successful.

I think the case you are hitting is that the binding was successful, but the delete happened right after, and the scheduler received a delete event before an ad

[2019-11-28 14:12] ahg-g commented on #85563
@cwdsuzhou do you have a test that reproduces this case consistently?

[2019-11-28 14:34] lllamnyp commented on #85725
@chenk008 I realize this. This is probably the root of the problem. However the pods were functioning properly, in fact several other pods which did have readiness and liveness checks continued to exist without failing those checks, since the check sends a request directly to the pod IP. Basically the pod is being marked not ready incorrectly, thus it is removed from the list of endpoints. This le

[2019-11-28 14:52] alvaroaleman opened #85731 "Node controller: ensureNodeExistsByProviderID passes instanceID rather than providerID if providerID on node is empty"
**What happened**:

If the nodeControllers `ensureNodeExistsByProviderID` is called with a node that has an unset `ProviderID`, it tries to look it up using `instances.InstanceID` and if there was no error, uses the result of that as `providerID`:
https://github.com/kubernetes/kubernetes/blob/1d343c8a0ce3e4d4845f7c34d06a1e2f25c975b7/pkg/controller/cloud/node_controller.go#L452-L454

This results i

[2019-11-28 14:57] zhangxiaoyu-zidif commented on #55045
Yes, we should continue to push this enhancement.

[2019-11-28 15:13] liggitt commented on #85723
Is this persistent/frequent or intermittent? This is a normal message when watches expire and need to be restarted.

[2019-11-28 15:16] rdxmb commented on #51475
/remove-lifecycle stale.

[2019-11-28 15:20] TomDinunzioMH commented on #85648
Hi @zhouya0 thank you for the explaination. I didn't realise applying with `--record` was incrementing `generation` and always returning `configured`.

Still I'm finding it unsatisfying. In my use case I use `kubectl diff` to ensure my running config is up to date with my config repo. Not using `--record` to allow that is annoying.

Anyway, seeing #40422, I agree deprecating `--record` and replaci

[2019-11-28 15:20] #85648 closed

[2019-11-28 15:36] liggitt commented on #60596
This is resolved in 1.17

See https://github.com/kubernetes/kubernetes/pull/76310

[2019-11-28 15:36] #60596 closed

[2019-11-28 15:40] liggitt commented on #83024
Resolved in 1.17.0

[2019-11-28 15:40] #83024 closed

[2019-11-28 15:41] liggitt commented on #81906
Closing due to insufficient information

[2019-11-28 15:41] #81906 closed

[2019-11-28 15:42] liggitt commented on #82782
Closing as this is not reproducible

/close

[2019-11-28 15:42] #82782 closed

[2019-11-28 15:44] LSmyrnaios commented on #85608
@liggitt the documentation for `kube-apiserver` is poor, so I cannot understand how to use it properly.
I already submitted an issue there: https://github.com/kubernetes/website/issues/17862
As for the volume, it is writable, I am able to create files and directories as root.

[2019-11-28 15:49] #83083 closed

[2019-11-28 15:50] liggitt commented on #84272
Event delivery is best effort and may drop events under load

[2019-11-28 15:50] #84272 closed

[2019-11-28 15:54] liggitt commented on #83511
That has more to do with Linux expecting the /var directory to be writeable. Mounting a directory shadows existing content on both Linux and windows.

[2019-11-28 15:54] #83511 closed

[2019-11-28 15:55] liggitt commented on #83651
I think this is working as intended, though it would be good to ensure the details of the behavior make it into the resourceVersion documentation PR that is open

[2019-11-28 15:55] #83651 closed

[2019-11-28 16:03] adamdougal commented on #77058
Is there anything I can do to move this along?

[2019-11-28 16:07] #85405 closed

[2019-11-28 16:13] #75973 closed

[2019-11-28 16:13] losipiuk commented on #85677
@denkensk when I have some time I will check if reproduction steps I describe actually work. But we surely observed pods with lingering nominatedNodeName which pointed to inexistent node, during our E2E tests.

Quick thought. The `Preempt()` method (https://github.com/kubernetes/kubernetes/blob/9474154012eedc547e1cfa58c4a8d5d0e3308290/pkg/scheduler/core/generic_scheduler.go#L328)
has many return p

[2019-11-28 16:22] jsafrane commented on #65581
No, the released PV may contain sensitive data (e.g. credit card numbers) and we don't want a random PVC to bind to such PV. Also, the semantics is that PVs are bound empty (unless admin manually creates a pre-populated PV). We tried to wipe volumes with policy `Recycle`, but it was slow, clumsy and not really safe. Local storage provisioner fixed most of the issues by using custom cleaners.

[2019-11-28 16:40] jmillikin-stripe commented on #82052
/remove-lifecycle stale

[2019-11-28 16:46] jerry3k commented on #73570
/reopen

[2019-11-28 16:47] jerry3k commented on #73570
The issue should be reopened as I can't find any solution too!

[2019-11-28 16:52] chenk008 commented on #85725
@lllamnyp Can you show the readiness config?
If using http probe,check the http response status code.

[2019-11-28 18:15] #79608 closed

[2019-11-28 18:29] leonsp commented on #75706
Can this be properly fixed in a future release? The warning message is useful in a post-mortem, but even for those purposes it's unclear.

This would be a better warning: "You're about to delete all your namespaces. Are you sure? y/N"

Given the possibilities of shooting yourself in the foot, adding the equivalent of [the following](r) would improve the usability immeasurably:
- `rm --interactive

[2019-11-28 18:56] liggitt commented on #85723
Based on the time stamps, this looks intermittent, which is an expected message.

[2019-11-28 18:56] #85723 closed

[2019-11-28 18:56] ahg-g opened #85737 "Scheduler with multiple plugin configurations"
**What would you like to be added**:
The scheduler to be able to handle different plugin configurations at the same time.

For example, be able to create a scheduler with two plugin configurations (lets call them "profiles"): one prefers spreading (e.g., the current plugin configuration we have in the scheduler) and the other prefers bin packing (e.g., uses MostRequestedCapacity instead of LeastRe

[2019-11-28 19:00] ahg-g commented on #85737
/cc @MaciekPytel since this will also impact the Cluster Autoscaler.

[2019-11-28 20:04] MostafaGazar commented on #17512
Give `kubectl describe node | grep -A5 "Allocated"` a try

[2019-11-28 21:02] erheron commented on #81963
/unassign

[2019-11-28 21:34] liu-cong commented on #84307
@notpad ,
Let me know if you would like to continue working on this and incorporate the proposal in #85662.

[2019-11-28 23:43] tdihp commented on #82776
I'm working on it.

[2019-11-29 00:21] #78846 closed

[2019-11-29 01:22] #75801 closed

[2019-11-29 01:23] gaorong commented on #85389
what's the status of the node which this pod belongs to?

 You may find some valuable information from controller-manager and kubelet's log.

[2019-11-29 02:08] weathery commented on #85723
@liggitt @chenk008
Thanks! The issue was been solved when i restart all of the master.

[2019-11-29 02:13] cofyc commented on #65517
any progress?

[2019-11-29 02:48] hysystem opened #85740 "Error response from daemon: unknown service containerd.services.leases.v1.Leases: not implemented"
# kubectl describe pod nginx-648fd8975f-65qxs
Name:           nginx-648fd8975f-65qxs
Namespace:      default
Priority:       0
Node:           node02/192.168.0.168
Start Time:     Fri, 29 Nov 2019 10:34:16 +0800
Labels:         pod-template-hash=648fd8975f
                run=nginx
Annotations:    <none>
Status:         Pending
IP:
IPs:            <none>
Controlled By:  ReplicaSet/nginx-648fd8975f

[2019-11-29 03:09] cwdsuzhou commented on #85563
We are developing a gang-scheduler, so we would not permit the pods util descried number of pods reached, then the pods can not be bound. When we delete the pods , a delete event would receive, but due to not assign(binding), we would not call `ForgetPod`.

So I think do not match `case 2` you mentioned.

If some of the pods are waiting. Then we delete them and re-create them, the case I mentioned

[2019-11-29 03:12] ZLget opened #85741 "在使用ipvs模式的kube-proxy与externalIPs的Service时，遇到了网络问题"
**I'm sorry, please forgive my poor English. I can't express it in English.**

发生了什么：
  kube-proxy使用**ipvs**模式，当创建了 **externalIPs**的Service时，会出现集群中的worker节点间ping不通的问题。具体表现为：externalIPs指定的ip对应的机器无法ping通其他worker节点，而没有被externalIPs指定的机器访问集群中其他worker节点是没有问题的。
您预期会发生什么：
  预期是可以使用externalIPs指定的ip直接访问到我们的pod资源。
  经测试，当kube-proxy使用iptables模式，或者kube-proxy版本在v1.10.2时，才能正常使用
如何复制（尽可能少地和精确地）：
  1.集群环境是 1.14.2版

[2019-11-29 03:13] ZLget commented on #85741
/sig ipvs

[2019-11-29 03:13] ZLget commented on #85741
/ipvs

[2019-11-29 03:13] attlee-wang opened #85742 "Node has enough CPU,memory and other resources，but pod status is always belongs pending!"
**What happened**:

**What you expected to happen**:
Node has enough CPU,memory and other resources，but pod status is always belongs pending!
**How to reproduce it (as minimally and precisely as possible)**:
It's reproduce  when  frequent pod created.
**Anything else we need to know?**:
I want to know the problem reason.
**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provid

[2019-11-29 03:14] hainesc commented on #78646
/close

[2019-11-29 03:14] #78646 closed

[2019-11-29 03:15] ZLget commented on #85741
/sig ipvs

[2019-11-29 03:29] ZLget commented on #85741
/area ipvs

[2019-11-29 03:29] ZLget commented on #85741
/sig network

[2019-11-29 03:33] #81188 closed

[2019-11-29 03:34] ZLget commented on #80738
I finally found something similar to me！
But you don't seem to have any specific mistakes。
My problem is that the server with IP externalIPs(100.75.228.28) cannot Ping other worker nodes in the cluster,do you know how to solve it?

[2019-11-29 03:46] #85332 closed

[2019-11-29 03:51] gongguan commented on #85341
@liggitt Do you think this migration makes sense?

[2019-11-29 04:38] ahg-g commented on #85563
so you are issuing a delete while the pod is waiting on permit? if so, who is doing that? the plugin you are developing? shouldn't you reject the pod first?

[2019-11-29 05:02] ZLget commented on #85741
我的externalIPs是指向的集群中的一个worker节点的ip地址，是不是因为这个原因呢？ externalIPs中的ip是不是不能指定为worker节点ip的呢？

[2019-11-29 05:25] freshman411 commented on #43856
我升级内核后问题解决了

[2019-11-29 05:39] cwdsuzhou commented on #85563
Thanks.

Our plugin is based on 1.16.
However, I find in the latest version, when a pod is deleted, pod would be rejected since this PR https://github.com/kubernetes/kubernetes/pull/84578 merged.
So, the issue may have fixed.

[2019-11-29 05:39] #85563 closed

[2019-11-29 07:16] yeolahm commented on #85616
Looks Related https://github.com/kubernetes/kubernetes/issues/54482

[2019-11-29 07:28] lllamnyp commented on #85725
@chenk008 here is the readiness/liveness probe for one of the affected pods (a typical nginx ingress controller)
[code]
I've of course promptly fixed the state of the cluster since the problem arose so I cannot check right now, but I can assure you, that the pods were functioning properly (as corroborated by the ready container state): I exec'ed in some other affected pods (gitlab) and ran some se

[2019-11-29 07:32] gurumaia commented on #56903
We are facing the same issue. Applying the `single-request-reopen` parameter to our pods' `resolv.conf` "fixes" the issue, but there is one other piece of information I'd like to add.

We noticed that if we change the DNS address in one of our pods' `resolv.conf` to one of our `core-dns` pods' address, everything works fine, no timeouts. But when we go through the default configuration, which is t

[2019-11-29 07:33] SataQiu commented on #85686
I am willing to help with this.

[2019-11-29 07:41] udit249 commented on #85742
Can you please share the Node usage and Pod logs and describe the pod.
I am working on this issue.

[2019-11-29 08:10] tnqn opened #85746 "Incorrect validation result of NetworkPolicy PolicyTypes"
**What happened**:
Create a NetworkPolicy with one typo PolicyType and a correct one.
The apiserver will report error but will also say the correct one is unsupported.
[code]
Output:
[code]
It says `Ingress` is unsupported.

**What you expected to happen**:
It shouldn't say the correct policyType `Ingress` is unsupported.

**How to reproduce it (as minimally and precisely as possible)**:
Apply the

[2019-11-29 08:28] denkensk commented on #85677
@losipiuk  I think you are right.  Actually there are many return points to return nil.  I think maybe we need to clear the `nominatedNode` of the pod after the filter failed again and before the new preemption process to avoid potential risks.  WDYT? @ahg-g

[2019-11-29 08:34] tnqn commented on #85746
/sig network
/assign @tnqn

[2019-11-29 09:12] telefoontoestel opened #85748 "The dashboard has uses excessive memory over time"
On our local development machine we use a single node kubernetes cluster with minikube. This cluster can be tracked with the default kubernetes dashboard. When this dashboard is active for a long period of time (in my use case it was for about 12 to 16 hours), the memory usage sky-rockets over time ending up with using 12G just before I closed the page. I think there might be an issue with javascr

[2019-11-29 09:17] telefoontoestel commented on #85748
@kubernetes/sig-ui

[2019-11-29 09:25] ankon commented on #84642
For closure: I can confirm now that fixing our deployment to not overwrite the service accounts (and thereby removing the reference to the existing secret) resolves this problem completely.

[2019-11-29 09:57] oxddr commented on #85683
A little more context: Prometheus is scheduled in the main cluster, where hollow-nodes live. In kubemark-5000 most of nodes are utilized at ~90% (memory), leaving around ~2GB free. This is not enough for Prometheus (6 GB). It doesn't have a priority set, so it stays unscheduled, causing test to fail starup.

I am curious why the test worked before and only started to fail recently.

[2019-11-29 10:30] bouk opened #85750 "Return a distinct status code if server-side apply caused no change"
**What would you like to be added**:

Using server-side apply there's currently two status codes that can be returned, [OK and Created](https://github.com/kubernetes/kubernetes/blob/cf16e4988f58a5b816385898271e70c3346b9651/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L234-L237). It would be nice if there was a third status code or a header or something to indicate whether the reque

[2019-11-29 10:31] bouk commented on #85750
/sig api-machinery

[2019-11-29 11:05] icy opened #85752 "Pod expiration time"
**What would you like to be added**:

Pod has new attribute "Expiration Time" after that the Pod would stop to receive any connections and exit gracefully and the deployment (or daemonset...) will launch another pod to replace it.

**Why is this needed**:

Because k8s is fun and having this feature is also fun

[2019-11-29 11:18] notpad commented on #84307
@liu-cong Yes, I'd like to continue the work based on your proposal.

[2019-11-29 12:10] oxddr opened #85753 "[Failing Test] ci-kubernetes-e2e-gce-scale-{performance, correctness} fail due to hanging DumpClusterLogs"
**Which jobs are failing**:
gce-master-scale-performance
gce-master-scale-correctness

**Which test(s) are failing**:
n/a

**Since when has it been failing**:
11/28

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

**Reason for failure**:
Tests timed out due to lon

[2019-11-29 12:17] bclau commented on #76827
/remove-lifecycle stale

[2019-11-29 12:48] gongguan commented on #85741
Using node ip as externalIPs isn't reasonable to me. ExternalIPs are usually supported by a loadbalancer. If you want to expose a service out side cluster, you can use service nodePort.

[2019-11-29 15:19] liu-cong commented on #85686
@SataQiu ,

Great! I will add details ASAP. Thanks!

[2019-11-29 16:55] JSimon000 commented on #77086
I recently found this method works every time allowing you to identify the reason for the supposedly stuck state.
[code]
I believe this results in properly deleting whatever resource is stuck on terminating

[2019-11-29 17:14] hasheddan commented on #85753
/cc @kubernetes/ci-signal

[2019-11-29 18:26] galindro commented on #81469
@krish7919 would be nice to include an option to set the health check path. I could not find a way to do that...

[2019-11-29 18:39] #79268 closed

[2019-11-29 18:59] liggitt commented on #85752
The activeDeadlineSeconds allows bounding pod execution time

[2019-11-29 19:40] #79607 closed

[2019-11-29 19:40] #79595 closed

[2019-11-29 20:10] b23prodtm commented on #82988
I also added `cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1 `to kernel parameters (ubuntu 19.10)

     sudo sed -i.bak -E "$ s/$/ cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1/" /boot/firmware/nobtcmd.txt    reboot

[2019-11-29 21:32] lucasOliveira91 opened #85757 "Server type: NodePort can't be accessed outside cluster"
I've seen a lot answers with subject seems like that but nothing can help me.
I've configured the cluster kubernetes in three servers, i can do deploy through jenkins my apps are started without errors.
Into the server master i can run curl <my ipserver>:30000 and this way i can see the application is up.
but when i try to access outside the server, it's occurs connection time out.

My deployment.

[2019-11-29 21:38] lucasOliveira91 commented on #85757
/sing network

[2019-11-29 21:42] #79126 closed

[2019-11-29 21:47] liu-cong commented on #85686
@SataQiu , added some code links.

[2019-11-29 22:29] thyarles commented on #60807
Hey, guys! I follow the tips provided by @alvaroaleman and I made a script that inspect and **try the clean deletion before do a hard deletion of stucked namespace**.

What the script do:

1. Check for unavailable apiresources and ask to delete it.
2. Check for pending resources in namespace and ask to delete it
3. Wait about 5 minutes to see if Kubernetes do a clean deletion if the script do any

[2019-11-29 22:33] cdickmann commented on #69528
I do agree that this should be mutable as disks can move, and connectivity can vary. /cc @xing-yang @msau42

[2019-11-29 22:37] etcshad0vv commented on #72878
@xueweiz due to the reason I face this issue quite often lately, can you please tell me if the patch is backported or it's only available to kernel 5.4rc3? I couldn't figure it out from the Google doc. Thank you

[2019-11-29 22:43] #79613 closed

[2019-11-29 22:59] xueweiz commented on #72878
@etcshad0vv It's not backported into any stable branches yet. I'll submit a backport request in a few days, will update here when: 1. The stable kernel backport request is filed 2. Some stable release happens with this patch.

[2019-11-29 23:39] zouyee commented on #80745
/remove-lifecycle rotten

[2019-11-29 23:39] zouyee commented on #79492
/remove-lifecycle rotten

[2019-11-30 02:55] scopher128 opened #85759 "SVC Records of headless service for StatefulSet doesnot work normally"
**What happened**:
I wish to get the StatefulSet pod instances hostname with IP address mapping within containers, like,
Name:      web-0.nginx
Address 1: 10.244.1.6

Name:      web-1.nginx
Address 1: 10.244.2.6
It should be SVC Records DNS service for StatefulSet Pods.
but now it can parse nginx with nslookup only, it cannot parse web-0.nginx and web-1.nginx.

Refer to:
https://kubernetes.io/docs

[2019-11-30 04:34] shadycuz opened #85761 "Updating image tag for a stateful set does not upate the pods."
**What happened**:
I updated the image tag for a stateful set. I tried three different ways `kubectl apply -f statefulset.yml`, `kubectl edit statefulset myapp` and `kubectl patch statefulset myapp --type='json' -p='[{"op": "replace", "path": "/spec/template/spec/containers/0/image", "value":"registry.gitlab.com/myaccount/myrepo/myapp:1.0.2"}]'`
**What you expected to happen**:
I expected that whe

[2019-11-30 04:49] #79684 closed

[2019-11-30 06:56] mucahitkurt commented on #78454
/remove-lifecycle stale

[2019-11-30 07:52] #79687 closed

[2019-11-30 09:39] sleekweasel commented on #40908
I have another use-case: my pod consists of a bunch of Android emulator containers and a coordinator/status/monitor container. If any emulators crash or become unresponsive, that container exits. I want such emulator containers to stop and not restart, because restarting would mess up the tests which use them from outside: we want a clean failure, not an 'emulator briefly disappeared but came back

[2019-11-30 10:55] #78972 closed

[2019-11-30 11:03] furkanmustafa commented on #42125
come on @fejta-bot  we're all still here.

/remove-lifecycle stale

[2019-11-30 11:05] furkanmustafa commented on #42125
While "cloud provider"s do provide external IP, originally a node having an External IP does not necessarily have to do anything with a "cloud provider". I should be able to configure my node's external IP on the node, just with a parameter. Just as I could set `node-ip`.

adding an `--external-ip`, or even better; `--external-ips` field to `kubelet` should be very trivial.

[2019-11-30 11:28] aojea opened #85762 "[Flaky Test] [sig-node] Pods Extended [k8s.io] Delete Grace Period should be submitted and removed [Conformance]"
**Which jobs are failing**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Delete%20Grace

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/85745/pull-kubernetes-conformance-kind-ipv6/1200730330403704832/

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/85727/pull-kubernetes-e2e-kind-ipv6/1200694468873818112

https:/

[2019-11-30 11:28] aojea commented on #85762
/sig node

[2019-11-30 11:28] aojea commented on #85762
/cc @BenTheElder

[2019-11-30 11:56] #79715 closed

[2019-11-30 12:12] neolit123 commented on #85761
/sig apps

[2019-11-30 12:26] rdrgporto commented on #59959
Hi @issahamieh,

Have you added Kubernetes repository?

[code]

Regards

[2019-11-30 13:05] subrnath opened #85764 "processes from /system.slice using cores assigned to guaranteed Pods when --cpu-manager-policy=static is set"
**What happened**:

Following is the configuration for kubelet to enable the --cpu-manager-policy=static feature.

**_--cpu-manager-policy=static --system-reserved=cpu=10,memory=10Gi --system-reserved-cgroup=/system.slice._**

There is no separate cgroup for the kubelet and hence --kube-reserved is not used.

./user.slice
./system.slice
./system.slice/system-getty.slice

PSR field of "ps -eLF " co

[2019-11-30 14:37] sharkymcdongles commented on #3312
This needs to be added for sure when things like springboot peg the CPU so hard on initial boot then just idle.

[2019-11-30 14:47] liggitt commented on #85748
Thanks for reporting the issue. Please report it against the kubernetes/dashboard repo So it can be triaged by the dashboard team.

[2019-11-30 14:47] #85748 closed

[2019-11-30 14:50] tedyu opened #85765 "Resource with non-expired endpoint may be marked as deleted resource"
**What happened**:
For ManagerImpl#GetCapacity, it is only called in test code.

This func removes resource from endpoints map when either one healthy or one unhealthy device has grace period expired.
This would result in resource having an expired unhealthy device and one non-expired healthy device to be removed from endpoints map.

**What you expected to happen**:
ManagerImpl#GetCapacity should

[2019-11-30 14:53] tedyu commented on #85765
/sig node

/cc @jiayingz

[2019-11-30 19:30] HappyStoic opened #85766 "Mismatch in documentation about postStart script"
Hello,
while browsing through the documentaion I found these two information:

[Pod lifecycle docs](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-states)
* Running: Indicates that the container is executing without issues. **Once a container enters into Running, postStart hook (if any) is executed.** This state also displays the time when the container entered Running

[2019-11-30 20:10] HappyStoic commented on #85766
/sig docs

[2019-11-30 20:46] smarterclayton commented on #85652
We’d have to have backward compatibility for —dry-run=true and —dry-run, but other than that I don’t see too many issues.  What would it mean to change the default later on?  We have —local, if I pass —dry-run=server and —local should I get an error?  Can we use —local to modify dry run instead of making it multi-value?

[2019-12-01 03:11] #79643 closed

[2019-12-01 05:41] alanorwick commented on #80431
We have submitted a [https://github.com/kubernetes/kubernetes/pull/85769](pull request) regarding this issue. @philip-fox do you think our changes are reasonable?

[2019-12-01 07:40] mofirouz commented on #83999
I've figured this out - it's to do with auto-resizing of node pools in GKE - after ~15min the underlying node that was hosting the pod goes away and Kubernetes removes all the components that were once connected to that node.

[2019-12-01 07:40] #83999 closed

[2019-12-01 10:18] #72480 closed

[2019-12-01 10:18] #79757 closed

[2019-12-01 10:45] davidkarlsen commented on #27732
/reopen

[2019-12-01 10:45] davidkarlsen commented on #27732
/remove-lifecycle rotten

[2019-12-01 10:46] davidkarlsen commented on #75378
Here is another usecase: https://groups.google.com/forum/#!msg/memcached/faWH90ivfE4/QPVMGSKiBAAJ

[2019-12-01 10:47] davidkarlsen commented on #27732
Here is a use-case for this: https://groups.google.com/forum/#!msg/memcached/faWH90ivfE4/QPVMGSKiBAAJ

[2019-12-01 11:28] dwmkerr commented on #80120
OK thanks!

[2019-12-01 12:09] wawa0210 commented on #84804
@adelina-t  @jterry75 @MikkelHegn  is the same problem ?
#85380
I followed this change and then went to test and found that windows conainer cpu limit worked normally

[2019-12-01 15:28] Arthur666 commented on #83332
### @rtheis I also encountered the same problem, did you solve it?
###  Can you help me??? I‘d really appreciate it.

[2019-12-01 15:39] grosser commented on #70674
/remove-lifecycle stale

[2019-12-01 15:45] alvaroaleman commented on #70916
@lavalamp @wozniakjan so looking at a case of this in a 1.16 cluster that does have the condition, I must say that I do not think the added conditions help much.

An `-o yaml` of a stuck namespace now looks like this:

[code]

In most cases, issues with namespace deletion are caused by some extension mechanism (apiservice, webhook, finalizer on crd) not working or not being cleaned up. This in tur

[2019-12-01 17:36] neolit123 commented on #85759
/sig apps

[2019-12-01 17:37] neolit123 commented on #85740
/sig node

[2019-12-01 17:37] neolit123 commented on #85742
/sig node

[2019-12-01 17:37] neolit123 commented on #85742
/triage needs-information

[2019-12-01 17:42] alexkreidler commented on #17512
This is currently the 4th highest requested issue by thumbs up, but still is `priority/backlog`.

 I'd be happy to take a stab at this if someone could point me in the right direction or if we could finalize a proposal. I think the UX of [@davidB's tool](https://github.com/davidB/kubectl-view-allocations) is awesome, but this really belongs in the core `kubectl`.

[2019-12-01 17:47] tnduy27 commented on #50295
I have the same problem and resolved completely. If you are using Ubuntu OS, please follow steps:
1. remove kubernetes if any: https://stackoverflow.com/questions/44884322/how-to-remove-kubectl-from-ubuntu-16-04-lts
2. Follow those steps in this: https://ubuntu.com/kubernetes/install

Thanks

[2019-12-01 18:36] neolit123 commented on #83127
/close

discussion is happening at
https://docs.google.com/document/d/1xFAGAjfPQZrcqmapTwpJR5aUA7-2ku1asVeq3dBrjnQ/edit?usp=sharing

new kubeadm tracking issue:
https://github.com/kubernetes/kubeadm/issues/1949

[2019-12-01 18:36] #83127 closed

[2019-12-01 20:29] tracker1 commented on #78795
Silly question, why not set servers to UTC, and recognize the offset when setting these things?

[2019-12-01 20:40] liu-cong commented on #85686
/assign @SataQiu

[2019-12-01 21:30] kenotsolutions opened #85776 "Kubernetes commands"
https://cheatsheet.dennyzhang.com/cheatsheet-kubernetes-a4

Some USEFUL Commands from  Denny Zhang.

Name | Command
-- | --
Run curl test temporarily | kubectl run --rm mytest --image=yauritux/busybox-curl -it
Run wget test temporarily | kubectl run --rm mytest --image=busybox -it
Run nginx deployment with 2 replicas | kubectl run my-nginx --image=nginx --replicas=2 --port=80
Run nginx pod and exp

[2019-12-01 21:59] 27Bslash6 commented on #78879
Beep

[2019-12-02 00:00] drnic commented on #68251
/reopen

[2019-12-02 01:49] nokia-t1zhou commented on #85759
add some outptut, only can get below SRV from Kube-dns:
[code]

[2019-12-02 02:11] julianvmodesto commented on #84530
[As discussed at the sig-apimachinery meeting on Nov 6](https://docs.google.com/document/d/1x9RNaaysyO0gXHIr1y50QFbiL1x8OWnk2v3XnrdkT5Y/edit#):

Run the mutating admission controllers first for the subresource then for the parent resource. Optionally, invoke the mutating admissions controllers twice in that same order. Finally run all validating admission controllers in parallel.
`Mutating(/x/scal

[2019-12-02 02:13] veezhang commented on #85501
Move those yaml files in `/etc/kubernetes/manifests/` out and then restore.

[2019-12-02 02:13] #85501 closed

[2019-12-02 02:32] smileusd commented on #85476
@cofyc @msau42 anyone take a look?

[2019-12-02 03:12] BobyMCbobs opened #85782 "Research for creating a readCoreV1NamespacedPodStatus conformant test"
# Description
After looking through endpoints which need tests written for in APIsnoop, this appears to be an endpoint which isn't hit.

#

## Fetch dependencies
[code]

## Test draft
[code]

## Test draft- Python working implementation

[code]

# Verify with APISnoop<a id="sec-4"></a>

## create view for hit endpoints
[code]

## create view for coverage changed
[code]

## find endpoints hit by th

[2019-12-02 03:15] BobyMCbobs commented on #85782
/sig testing
/sig architecture
/area conformance

[2019-12-02 03:35] #72905 closed

[2019-12-02 03:48] ZhaoBaymax opened #85784 "can not find statefulset rollback in kubernetes api"
I want to rollback the resource of statefulset  through the API.
In kubectl , it can use `kubectl rollout undo <statefulset_name>`.
but, I can not find any api about rollback the statefulset.

[2019-12-02 05:03] nilo19 commented on #83073
/assgin

[2019-12-02 05:03] nilo19 commented on #83073
/assign

[2019-12-02 05:11] nileshkumar01 opened #85786 "Windows Nodes - Kubernetes Metrics reporting incorrect stats via https://<nodename>:10250/stats/summary"
**Environment**:
- Kubernetes version (use `kubectl version`): 1.15.5
- Cloud provider or hardware configuration: Running on VMWare
- OS (e.g: `cat /etc/os-release`): Windows Server 1903
- Network plugin and version (if this is a network-related bug): N/A

**What happened**:
I have been looking at the metrics thats provided by the endpoint https://nodename:10250/stats/summary i noticed that the /r

[2019-12-02 06:43] gbjuno commented on #85389
cannot find any useful log of controller-manager and kubelet.
we add some debug code segement and wait for it happens again so that we can find out something.

[2019-12-02 07:40] udit249 commented on #85766
I am working on this issue.

[2019-12-02 07:42] mailarka opened #85791 "Default service account getting access to previledge PSP access"
**What happened**:
I am new to pod security policy and trying to impement basic PSP to my K8s cluster. I have enabled the pod security policy by passing following to apiserver(via admin.config):
`enable-admission-plugins: "NodeRestriction,PodSecurityPolicy,ServiceAccount,NamespaceLifecycle"`

Also I have created 2 policy(restricted and privileged) as below:
[code]
When I checked the "default" serv

[2019-12-02 08:00] yingnanzhang666 opened #85792 "de-prioritize ScheduleFailed pods in scheduler"
We found performance issue for scheduler in our production env.

Scenario:
If there are several pods cannot be scheduled, it will be always add to queue, then if customer creates new pod with the same or lower priority, this pod will be added behind these FailedScheduling pods, then scheduler will schedule the new pod after finishing all the FailedScheduling pods in this loop.
In large cluster, es

[2019-12-02 08:00] yingnanzhang666 commented on #85792
/sig shceduler

[2019-12-02 08:01] yingnanzhang666 commented on #85792
/sig scheduler

[2019-12-02 08:02] yingnanzhang666 commented on #85792
/sig scheduling

[2019-12-02 08:25] ProgramerGu commented on #85792
Do you want to cancel or optimize the priority of the new container?

[2019-12-02 08:56] icy commented on #85752
@liggitt I think activeDeadlineSeconds is applied to Job and it's not available for deployment/daemonset.

[2019-12-02 09:10] Jwen-nus opened #85794 "coredns can not start with “Failed to list *v1.Endpoints: and “Failed to list *v1.Service”"
I have a problem when I install the kube-dns add on. My OS is CentOS Linux release 7.4

When I start the coredns thecoredns container log:

ace[768378026]: [30.002243414s] [30.002243414s] END
E1202 09:08:34.949036       1 reflector.go:126] pkg/mod/k8s.io/client-go@v11.0.0+incompatible/tools/cache/reflector.go:94: Failed to list *v1.Namespace: Get https://10.9.0.1:443/api/v1/namespaces?limit=500&re

[2019-12-02 09:41] yingnanzhang666 commented on #85792
One proposal is that,
- keep to de-prioritize ScheduleFailed pods when each time this pod wasn't scheduled successfully.
- set back to original priority for those pods being de-prioritized when receive events about capacity adding.

[2019-12-02 09:42] deitch commented on #47711
/remove-lifecycle stale

[2019-12-02 09:45] gilShin commented on #45419
I don't have a lot to add concerning what causes the issue as it seems that everything had already been written here. We're using an old version of server 1.10.13. We've tried to upgrade but it is not that trivial to do.
For us it happens mainly in one of the production environments and very rear at our development environment. On that production environment, where it is constantly reproduced, it

[2019-12-02 09:54] Arthur666 commented on #83332
## Refer
https://github.com/kubernetes-sigs/metrics-server/issues/378

[2019-12-02 10:00] huang-jy commented on #83307
I'll wait until the PR is merged and released before testing, but if I understand right, it would require me do this, right?

[code]

[2019-12-02 10:01] oxddr commented on #85753
/priority important-critical
All runs of performance and correctness since 11/28 are affected.

/assign @jkaniuk
/unassign
Jacek, could you have a look into this one?

[2019-12-02 11:57] neolit123 commented on #85776
hi, you might want to post these commands:
- in a personal blog post
- on https://www.reddit.com/r/kubernetes/

this is an issue tracker and a lot of users will not see your post here.

[2019-12-02 11:58] neolit123 commented on #85776
/remove-sig cli
/triage support

[2019-12-02 11:59] rtheis commented on #83332
@Arthur666 I have not solved the problem.

[2019-12-02 12:21] RainbowMango commented on #85195
@like-inspur
Yeah, thanks for you reporting this.
Seems we just need to remove `queue_limit_length` here, because `total_limit_size` has a default value `Default: 512MB (memory) / 64GB (file)`.

I'm not familiar with this and I will be appreciated if you can help confirm this.

/assign

[2019-12-02 12:26] mantas-sidlauskas commented on #81042
Just wondering, any related messages in `dmesg`/`kern.log`?

[2019-12-02 12:36] kenotsolutions commented on #85776
/remove-sig cli
/triage support

[2019-12-02 13:00] cben commented on #75706
I just heard from another user that accidentally destroyed a cluster by `kubectl delete nodes -n foo --all` instead of `kubectl delete pods -n foo --all` :fearful:

Question: do we feel equally surprised when there is no `-n` flag, falling back to current namespace?
`kubectl delete pods --all` deletes all pods in current namespace; the similar `kubectl delete nodes --all` is at cluster scope and I

[2019-12-02 13:04] yosefrow commented on #81469
@galindro apparently you can set healthcheck path via 'healthchecks: /health/check/path` annotation in the service.yaml manifest for classic LB. maybe it works for nlb too. Didn't find a way to choose a port though

[2019-12-02 13:19] stephan2012 opened #85799 "kube-proxy does not honor ipvs excludeCIDRs"
**What happened**: kube-proxy does not honor `excludeCIDRs` for ipvs mode and deletes excluded services.

**What you expected to happen**: kube-proxy should not touch services listed in excludeCIDRs.

**How to reproduce it (as minimally and precisely as possible)**: Configure IPVS, add some Real Server, configure excludeCIDRs. kube-proxy logs still show

[code]

**Anything else we need to know?**:

[2019-12-02 13:21] stephan2012 commented on #85799
@kubernetes/sig-network-bugs

[2019-12-02 13:39] gongguan commented on #41504
/assign

[2019-12-02 14:03] #85702 closed

[2019-12-02 14:15] michaelgugino commented on #83307
I think that would require a sizeable refactor or add a great deal of complexity to the code, the same could be achieved with ```kubectl drain --timeout=30s ... || kubectl --disable-eviction ...```

In practical terms, I'm focused on automatic node remediation via destroying the node and getting a new one.  The timeout would be very large, the drain library is blocking, so I want it to fail quickl

[2019-12-02 14:23] liggitt commented on #75706
@leonsp @cben thanks for the feedback. It would probably be a good idea to raise these proposals in a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps) in coordination with the relevant sigs ([sig-cli](https://github.com/kubernetes/community/tree/master/sig-cli) for the command and [sig-architecture](https://github.com/kubernetes/community/tree/master/sig-architecture) for the com

[2019-12-02 14:30] andyzhangx commented on #80076
/close

[2019-12-02 14:30] #80076 closed

[2019-12-02 14:30] huang-jy commented on #83307
That's all good, I have no issue using the `--timeout` flag as long as `kubectl` does error out and return a non-zero code as expected (there's been a few times where it seems to error out, but still return 0)

[2019-12-02 14:31] liggitt commented on #85752
you're right:
[code]

[2019-12-02 14:31] liggitt commented on #85752
/priority awaiting-more-evidence

[2019-12-02 14:57] liggitt commented on #85694
is there a way to also fix the faulty kubectl validation in 1.18.x?

[2019-12-02 15:11] chrisohaver commented on #85759
CoreDNS uses the endpoint hostname instead of a numerical id.  It also has the `endpoint_pod_names` option:

   the endpoint name in A records, e.g.,
   `endpoint-name.my-service.namespace.svc.cluster.local. in A 1.2.3.4`
   By default, the endpoint-name name selection is as follows: Use the hostname
   of the endpoint, or if hostname is not set, use the dashed form of the endpoint
   IP address (

[2019-12-02 15:19] D1abloRUS opened #85803 "Pods on different nodes mount Ceph RBD PVC stuck on ContainerCreating"
**What happened**:
When use ceph as storageclass, i set accessModes: ReadOnlyMany, and create pods using the claim, only one pod would be running and the others on different nodes would get stuck on ContainerCreating. But if the pods are all on same node, it works fine. I created one pod write permissions, he created fs, killed this under, created read-only pods as a result of which stuck on Conta

[2019-12-02 15:25] adelina-t commented on #84804
@wawa0210 Nope, not the same issue :) This one is specific to Containerd.

[2019-12-02 15:31] liggitt commented on #85791
Are you running `kubectl auth can-i` against the secured port (does adding `--v=6` show an https or http URL)? All authorization checks against the unsecured port return true.

One observation is that by granting privileged access to all service accounts in the kube-system namespace, all pod-creating controller loops will have privileged access, and any user that creates a deployment/replicaset/et

[2019-12-02 15:34] liggitt commented on #85784
There is no API to perform this operation directly, it requires fetching and restoring a controller revision for the stateful set. See https://github.com/kubernetes/kubernetes/blob/81780271497f1f25686b2799fe5a63b5dd40d2d6/staging/src/k8s.io/kubectl/pkg/polymorphichelpers/rollback.go#L339-L438 for the logic used by kubectl

/close

[2019-12-02 15:34] #85784 closed

[2019-12-02 15:35] dkistner opened #85805 "Azure: Existing load balancer is not looked up correctly"
**What happened**:
I have an Azure Kubernetes cluster (v1.16.3) and I want to make use of an existing load balancer which is located in another resource group as the other cluster resources.

I use the in-tree k8s cloud-controller-manager and configured it with the following flags:
[code]

The passed cloud provider config contains the following fields:
[code]

The existing load balancer has `stand

[2019-12-02 15:36] liggitt commented on #85794
what manifest did you use to deploy coredns? the default addon includes RBAC role/binding permissions (xref https://github.com/kubernetes/kubernetes/blob/release-1.16/cluster/addons/dns/coredns/coredns.yaml.in#L12-L53)

[2019-12-02 15:47] #75770 closed

[2019-12-02 15:51] lsowen commented on #60937
Looks like swagger-codegen has released [v3.0.14](https://github.com/swagger-api/swagger-codegen/releases/tag/v3.0.14), which supports a bunch of languages.  @roycaihw do you think this release is sufficient to push this forward?

[2019-12-02 15:52] D1abloRUS commented on #63183
https://github.com/kubernetes/kubernetes/issues/85803 continuation

[2019-12-02 15:58] liggitt commented on #85341
yes, slimming down the lister expansions makes sense

[2019-12-02 16:13] krishofmans commented on #72220
Also ran into this issue, assuming since there's an `-o jsonPath` that it would be a complete implementation of jsonPath ... apparently it's not.

[2019-12-02 16:15] pohly commented on #85624
I agree, paths outside `/dev` should be there. I just hit that issue and I had intentionally chosen `/dax-dev` (i.e. a path elsewhere) to ensure that the host's `/dev` can be made available without running into conflicts.

[2019-12-02 16:17] chrisohaver commented on #85794
The errors in the log shown in the description are timeouts, not auth failures... So may be more than one issue at hand.

[2019-12-02 16:27] jcpuzic opened #85809 "spec: {} empty, does not populate node.Spec.PodCIDR"
**What happened**:
I'm installing k8s 1.16.3 with the command:
kubeadm init --pod-network-cidr=10.100.0.0/16

My kube-controller-manager manifest does have the lines:
 --allocate-node-cidrs=true
 --cluster-cidr=10.100.0.0/16

I don't see 'podCIDR' populated in my node spec field.  This is problematic as kube-router relies on that field.

**What you expected to happen**:
On an older cluster 1.15.0,

[2019-12-02 16:37] D1abloRUS commented on #85803
currently ceph-csi don't support ReadOnlyMany https://github.com/rook/rook/issues/4402

[2019-12-02 16:48] #79824 closed

[2019-12-02 16:59] jcpuzic commented on #85809
/sig cluster-lifecycle

[2019-12-02 16:59] kfox1111 commented on #75378
@davidkarlsen I believe an ephemeral csi driver could handle that use case. No enhancement to k8s itself is needed.

[2019-12-02 17:01] kfox1111 commented on #75378
@msau42 I've contemplated writing such a driver before. looks like more folks want such a thing. Could we get another space in github.com/kubernetes-csi/csi-driver-<something> to get contributions going?

[2019-12-02 17:07] hasheddan commented on #85753
/milestone v1.17

[2019-12-02 17:12] msau42 commented on #75378
Do we have people willing to step up and contribute and maintain this driver?  A big problem we have right now in kubernetes-csi is lack of contributors and maintainers for many of the drivers.

[2019-12-02 17:20] hasheddan opened #85814 "[Failing Test] gce-cos-k8sbeta-serial (ci-kubernetes-e2e-gce-cos-k8sbeta-serial)"
**Which jobs are failing**:
gce-cos-k8sbeta-serial (ci-kubernetes-e2e-gce-cos-k8sbeta-serial)

**Which test(s) are failing**:
Various CSI Driver tests.

**Since when has it been failing**:
Earliest observed: 11/17
Consistently failing since: 11/29

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-informing#gce-cos-k8sbeta-serial

**Reason for failure**:
[code]
**Anything else we need to

[2019-12-02 17:31] dlaidlaw commented on #80872
Can someone provide some feedback on this issue. The world writeable file permissions cause security warnings for us as well. World writeable permissions should not be required.

[2019-12-02 17:39] sethvargo commented on #81127
/remove-lifecycle stale

[2019-12-02 17:43] hansifer opened #85816 "failure after following macOS installation instructions"
**What happened**:

Followed installation instructions here: https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-binary-with-curl-on-macos

Last step (kubectl version) yields `Client.Timeout exceeded while awaiting headers`

**What you expected to happen**:

Installation instructions to work.

**How to reproduce it (as minimally and precisely as possible)**:

Follow installatio

[2019-12-02 17:47] liggitt commented on #85816
that means your client is timing out trying to reach your server. check your configuration `kubectl config view` to ensure your connection configuration is correct

[2019-12-02 17:47] #85816 closed

[2019-12-02 17:47] justaugustus commented on #85753
/remove-priority important-soon
/priority critical-urgent

@kubernetes/sig-scalability-bugs -- Please provide an update to @kubernetes/release-managers and @kubernetes/release-team-leads as soon as you can as this could impact the release timeline.

[2019-12-02 17:49] #79764 closed

[2019-12-02 17:52] hansifer commented on #85816
Does that mean there is a step missing in the installation instructions? I followed them verbatim.

[2019-12-02 17:57] liggitt commented on #85816
The way they are written, the instructions will only work if you already have a config file for a reachable cluster at $KUBECONFIG (or at `$HOME/.kube/config`), but they do not state this explicitly. There either needs to be an explicit prereq to obtain that, or the `version` commands should be changed to `kubectl version --client` to allow the version command to succeed in the absence of a server

[2019-12-02 17:57] liggitt commented on #85816
I would suggest opening an issue at https://github.com/kubernetes/website/ against that page and linking to this discussion

[2019-12-02 17:59] hansifer commented on #85816
OK will do. Thanks for your help and responsiveness. It's much appreciated.

[2019-12-02 18:01] lavalamp commented on #70916
I think the `message` field can have more detail added (we just need to make sure it is not updated too frequently).

I explained why I don't think events are a good solution for this specific case [here](https://github.com/kubernetes/kubernetes/pull/85774#issuecomment-560499185).

[2019-12-02 18:30] kfox1111 commented on #75378
I'd be willing to work on it. Anyone else?

[2019-12-02 18:49] roycaihw commented on #60937
@lsowen Thanks. That's great news. @p0lyn0mial is working on a [KEP](https://github.com/kubernetes/enhancements/pull/1263) for kubernetes openapi v3 support. Most of our [clients](https://github.com/kubernetes-client) have migrated to use [openapi-generator](https://github.com/OpenAPITools/openapi-generator).

IMO the generator/tooling is not blocking our clients any more. @yue9944882 has an issue

[2019-12-02 18:49] #60937 closed

[2019-12-02 18:50] roycaihw commented on #79472
/unassign
/assign @p0lyn0mial

[2019-12-02 18:51] roycaihw commented on #51163
v3 spec requirement: https://github.com/kubernetes/kubernetes/issues/79472
v3 support KEP: https://github.com/kubernetes/enhancements/pull/1263

/close

[2019-12-02 18:51] #51163 closed

[2019-12-02 18:52] roycaihw commented on #25716
openapi v3 spec requirement: https://github.com/kubernetes/kubernetes/issues/79472
openapi v3 support KEP: https://github.com/kubernetes/enhancements/pull/1263

[2019-12-02 18:54] josh-ferrell opened #85818 "kubectl plugin - cannot allocate memory"
**What happened**: While attempting to run kubectl plugins I inconsistently get the error 'cannot allocate memory'

**What you expected to happen**: kubectl plugins can be called consistently

**How to reproduce it (as minimally and precisely as possible)**: kubectl _pluginname_

**Anything else we need to know?**: This seems to be isolated to Microsoft WSL

**Environment**:
- Kubernetes version (

[2019-12-02 18:57] JoshuaDeanEssium commented on #60987
I am having the same issue on Kubernetes v1.13.2
Anyone have a solution? this just randomly started happening last week and I have no idea why

[2019-12-02 19:06] justgotthis commented on #80577
/remove-lifecycle stale

[2019-12-02 19:50] #79744 closed

[2019-12-02 19:59] Huang-Wei commented on #81719
@liu-cong Thanks for working on this. The direction looks generally good to me. One thing confused me a bit is: are you trying to use prometheus metric to measure the benchmark? (In terms of benchmark, it's meant to be the `*testing.B` offered by Golang testing framework). If it's the case, incorporating prometheus metric into benchmark tests seem to result in 2 sets of metrics (Golang and Prometh

[2019-12-02 20:11] noloader opened #85821 "Please stop sending folks to Stack Overflow with off-topic questions"
Please stop sending folks to Stack Overflow with off-topic questions. Stack Overflow is a site for **programming and development** questions. Questions concerning running commands and configuring containers are off-topic at Stack Overflow.

Also see [What topics can I ask about here](http://stackoverflow.com/help/on-topic) in Stack Overflow's Help Center.

[2019-12-02 20:12] jcpuzic commented on #85809
After some more testing, it seem this is an issue with 1.16.0+ versions.

[2019-12-02 20:25] ahg-g opened #85822 "Framework Migration Phase 2"
This is an umbrella issue to track Phase 2 of the migration plan as discussed in the [migration doc](https://docs.google.com/document/d/1P1eBaePxuko22B8LLOrPEonoj1awc1dCVBDefuRWUA4/edit#heading=h.u7jfy9wqpd2b).

The main goal of Phase 2 is to deprecate predicates and priorities logic in the scheduler. We will keep supporting the Policy API (defines the scheduler behavior in terms of predicates and

[2019-12-02 20:25] ahg-g commented on #85822
/sig scheduling
/assign

[2019-12-02 20:41] julianvmodesto commented on #85652
Changing the default later would use more accurate server-side validation and more accurately match intent to validate a request. This shouldn't be breaking because the existing `--dry-run` flag requires an apiserver connection.

`--dry-run` seems like a good fit because `--local` is not as proliferated, particularly for commands such as `create` and `apply`, whereas `--dry-run` is available for `

[2019-12-02 20:55] AndrewGrachov commented on #51096
Ran into this issue today. Really strange behaviour

[2019-12-02 21:05] jingxu97 commented on #65581
The "reuse" scenario  mentioned by @zhangxiaoyu-zidif seems quite useful in some use cases. Thinking the way of PVC/PV is designed, PV is non-namespaced and could be bound to a PVC if the it is in "available" state (claimRef is nil). So I understand adding this "reuse" policy is considered dangerous if storage has data on it. But it seems also a limitation of this PVC/PV by design to not able to s

[2019-12-02 21:39] neolit123 commented on #85809
just to note, when you call `kubeadm init` the Node object is not created by kubeadm, but rather by the Kubelet.

are you sure?
this playground creates a 1.14 cluster:
https://www.katacoda.com/courses/kubernetes/playground

and `node.Spec` only has taints if you do:
`kubectl get no master -o yaml`.

/priority awaiting-more-evidence
/remove-kind bug

[2019-12-02 21:47] liu-cong commented on #81719
@Huang-Wei
First of all, we do not necessarily need to use golang benchmark any more. Given that we are updating benchmark tests to run only medium and large cluster #85808,  we can get the same (and more) benchmark metrics as golang benchmark.
Moreover, we need more intuitive metrics than `ns/op`.  We should at least have throughput as well as latency metrics (which helps us identify which step i

[2019-12-02 21:51] johscheuer commented on #85794
Could you check if `kube-proxy` is running in your cluster ? And how did you set up the cluster (and which version).

[2019-12-02 22:01] jcpuzic commented on #85809
You have to use the "--pod-network-cidr=" flag with "kubeadm init" for it to populate.  If I do this with a clean setup on versions previous to 1.16.x it populated just fine.

[2019-12-02 22:07] neolit123 commented on #85809
i will try it locally in a bit.

[2019-12-02 22:15] liggitt commented on #85349
https://github.com/kubernetes/kubernetes/pull/85350 is merged and picked, mutation detection is re-enabled in e2e in https://github.com/kubernetes/test-infra/pull/15447

[2019-12-02 22:15] #85349 closed

[2019-12-02 22:20] dnoland1 commented on #57534
/remove-lifecycle stale

[2019-12-02 22:29] apelisse commented on #85652
@kubernetes/sig-cli-maintainers

[2019-12-02 22:35] Huang-Wei commented on #81433
This has been resolved.

[2019-12-02 22:35] #81433 closed

[2019-12-02 22:54] Huang-Wei commented on #85822
I will send PRs on EvenPodsSpread to resolve part of the above items.

[2019-12-02 22:55] wozniakjan commented on #70916
I absolutely agree that https://github.com/kubernetes/kubernetes/pull/73405 is falling short in many areas and I have failed to report many important conditions that I didn't realize at the time of writing the PR. Since then there were multiple other PRs that addressed number of the shortcomings.

https://github.com/kubernetes/kubernetes/pull/82802 - makes the controller more responsive
https://gi

[2019-12-02 23:01] neolit123 commented on #85809
i just tried the same version with Calico.
[code]

[code]

i cannot confirm this part:

[2019-12-02 23:07] BenTheElder commented on #75355
another data point of sorts: IIRC I disabled this test in kind because it was too flaky, i wasn't aware that it was also flaky on GCE.

[2019-12-02 23:08] yourbuddyconner commented on #49792
Just going to chime in here on this dead issue with my use-case. I use K8s to launch blockchain nodes via stateful sets. It is a requirement that each unique node/pod has a unique `hostIP:hostPort` combination, but not that they be the same or even known prior to runtime.

There is the caveat however that the blockchain nodes have to be configured with the same port they're bound to on the host.

[2019-12-02 23:24] Huang-Wei opened #85826 "Sample Scheduler Framework plugins"
The Scheduler Framework is designed to engage end-users to easily build custom scheduling plugins to fit their particular requirements. We do have some basic examples and documents guiding users on how to use this (internally scheduler is refactoring its code to 100% adhere to the framework: [Phase1](https://github.com/kubernetes/kubernetes/issues/83554), [Phase2](https://github.com/kubernetes/kub

[2019-12-03 00:04] Huang-Wei commented on #85737
@ahg-g The "profile" idea which provides "dynamic" scheduling ability looks promising. One concern is on:

We still support multi schedulers - which uses "spec.schedulerName" to tell them apart. IMO we should bring up a new field called "spec.schedulerProfile" or sth. similar.

[2019-12-03 00:06] liggitt commented on #85737
I disagree. I think the schedulerName is a reasonable thing to use to associate with different scheduling profiles.

[2019-12-03 00:08] liggitt commented on #85737
The profiles are logically distinct schedulers, and you could envision splitting the profiles into separate processes running one profile each in the future if needed

[2019-12-03 00:23] thockin commented on #40244
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-12-03 00:28] vincent081 commented on #85794
my coredns.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: coredns
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
  name: system:coredns
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - services
  - pods
  - namespaces
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  res

[2019-12-03 00:29] vincent081 commented on #85794
kube-proxy is running ,cluster 3.0 tks!

[2019-12-03 01:00] lojies opened #85831 "Pod with restartPolicy: Always was not restarted"
**What happened**:
Pod was not restarted with error:
[code]
openpalette-broker-924cbc0a-1d08-47c3-968e-bcb4fc5a0cd1-1-zhq2d is a pod with nodeAffinity.
[code]

iag-192.113.5.13 is a static pod.
**What you expected to happen**:
Pod can be restarted.
**How to reproduce it (as minimally and precisely as possible)**:
This accoured when disk is full.Some pods can't be restarted when disk is free.
**Any

[2019-12-03 01:05] lojies commented on #85831
/sig node

[2019-12-03 01:37] msau42 commented on #82885
Test flake has been fixed in https://github.com/kubernetes/kubernetes/pull/85620
/close

[2019-12-03 01:37] #82885 closed

[2019-12-03 01:51] Pingan2017 opened #85834 "kubelet leaves orphaned volume and pod stuck on Terminating state"
**What happened**:
deploy a pod with nfs volume. When nfs server and kubelet abonrmal, delete the pod.
then recover the kubelet, u can see the pod stucking in Terminating states. It's normal b/c nfs server working incorrectly.
But at this time, even if nfs is restored, the pod still stuck in the Terminating state. And will never recover.

**What you expected to happen**:
when kubelet and nfs serve

[2019-12-03 02:04] yq513 opened #85835 "kubelet Add configuration and restart，node status becomes NotReady"
I added --volume-plugin-dir = / var / lib / kubelet / volume-plugins in kubelet.conf
Restart kubelet
kubelet status changed
[root @ dk-node01 ssl] # systemctl status kubelet
● kubelet.service-Kubernetes Kubelet Server
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
   Active: active (running) since February 2019-12-03 09:52:56 CST; 3s ago
     Docs: ht

[2019-12-03 02:04] clarklee92 commented on #85822
I will do this two.  /assgin

[2019-12-03 02:09] nokia-t1zhou commented on #85759
i am searched the difference between kube-dns and coredns:
https://kubernetes.io/blog/2018/07/10/coredns-ga-for-kubernetes-cluster-dns/
seem only coredns support to generate srv record with the hostname of endpoint, for headless service.

[2019-12-03 02:11] hex108 commented on #85826
I strongly aggree it!

It will be better if community could maintain common scheduler plugins in a SIG sub-repo(e.g. same as http://github.com/kubernetes-csi, it contains a lot of plugins). I once thought we could incoperate some of them into the default scheduler code base if they are widely used. Howerver it will make schedule more complex, it needs more consideration.

Pros and cons from my per

[2019-12-03 02:21] danielqsj commented on #85822
/cc

[2019-12-03 02:24] SataQiu commented on #85822
/cc

[2019-12-03 02:27] yq513 commented on #85835
kubectl get csr
Did not see the request

[2019-12-03 02:50] tedyu commented on #85831
[code]
Were the pods on the node where disk was full ?

[2019-12-03 03:11] boluisa commented on #85835
@yq513 are you intentionally avoiding using the default directory```"/usr/libexec/kubernetes/kubelet-plugins/volume/exec"```? if yes, try increasing the verbosity of the kubelet and please share the output.

[2019-12-03 03:22] nokia-t1zhou commented on #85759
after to deployment the coredns with "endpoint_pod_name" option in coredns configMap, everything is OK now.

[code]
then i can get the A record by use name "zhou-0.nginx.default.svc.cluster.local"

[code]
thank you, very much

[2019-12-03 03:28] lojies commented on #85831
@tedyu, yes.

[2019-12-03 03:29] zouyee commented on #85822
/cc

[2019-12-03 03:32] zouyee commented on #85831
/var/lib/kubelet/device-plugins/.525042640 no space left on device

[2019-12-03 03:33] everpeace commented on #85826
Yes, I agree it, too!

+1 because custom scheduler using scheduling framework can be compiled independently. So separated repo can demonstrate in the realistic example.

[2019-12-03 04:18] scopher128 commented on #85759
Thank you so much.

[2019-12-03 04:18] #85759 closed

[2019-12-03 05:18] mailarka commented on #85791
Thanks @liggitt for the reply. Yes I am using secured port.
[code]

As suggested by you I have modified the ClusterRoleBinding for kube-system namespace to grant permission to specific serviceAccount. Now my psp.yaml shows like below:
[code]
I am also using Helm for deploying charts in any namespace and using RBAC for the helm as:

[code]

[code]
[code]
I am deploying tiller in cluster scope(singl

[2019-12-03 05:42] alanorwick commented on #52817
Hello! I'm a CS student at UT Austin along with @ryanarifin134. We are interested in resolving this issue for a virtualization class assignment. Will go ahead and assign and keep you updated on our progress.

/assign

[2019-12-03 05:43] zouyee commented on #85835
health check for peer 41d5efdbfb2297b2 could not connect: dial tcp 192.168.21.118:2380: connect: connection refused

[2019-12-03 05:44] krmayankk commented on #68397
API is here https://github.com/kubernetes/kubernetes/pull/82162 , working on the implementation

[2019-12-03 06:05] johnzheng1975 commented on #72196
This means we had to implemented this in our scripts in client side. (As a end user)

[2019-12-03 06:23] Huang-Wei commented on #81719
Then my suggestion is to create a new set of "performance" tests which has nothing to do with `testing.B` - as you said, "performance" tests has a larger scope than the golang "benchmark" test. If we modify current benchmark tests in place, it would cause confusion and doesn't make sense since the output generated by Golang benchmark tests is pointless.

---

Actually my original thought is to lev

[2019-12-03 06:30] iMerica commented on #14713
For anyone arriving here from Google: A simple way to solve this is to use a white-listed hostname in your liveness probe. For example:

[code]
(Note: it's important to use `Host`, not `HOST`)

and in Django's settings:

[code]

Alternatively, I've added a small Django package to handle this using a custom header:

https://github.com/iMerica/django-allow-healthchecks (alpha software, use at your d

[2019-12-03 06:53] dineshv1234567 commented on #18226
But I have seen in Wireshark logs, it is throwing a bad certificate error (42).
Describe logs:
Liveness probe failed: ... remote error: tls: bad certificate

[2019-12-03 07:05] like-inspur commented on #85195
yes, I will create a pull request for this

[2019-12-03 07:18] Huang-Wei commented on #85737
The motivation for this proposal is to adopt one-scheduler strategy, or one-scheduler practice. Otherwise, two scheduler processes running in parallel can still cause racing issues.

I know that in API's perspective, we should reuse the existing field instead of adding a new one. However, `spec.schedulerName` has been stable for a long time; while scheduler CC (component config) is still alpha. If

[2019-12-03 07:36] andyzhangx opened #85839 "support large azure file share setting"
**What would you like to be added**:
/kind bug
/priority important-soon
/sig cloud-provider
/area provider/azure

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-how-to-create-large-file-share

**Why is this needed**:

/assign

[2019-12-03 08:07] sh0rez opened #85840 "Object exceeds last-applied-configured annotation"
Original issue: https://github.com/kubernetes/kubectl/issues/712

**What happened**: Tried to apply a very large `ConfigMap`, which failed because of the size limit on the `last-applied-configuration` annotation.

**What you expected to happen**: The `ConfigMap` being applied normally

**How to reproduce it (as minimally and precisely as possible)**:
Apply a `ConfigMap` with data bigger than 256kb

[2019-12-03 08:21] Biga-incorta commented on #51096
Any Updates ?

[2019-12-03 08:50] wxq851685279 opened #85842 "How to mount a storage volume with Windows 10 Docker Desktop k8s"
**What happened**:
windows10 mount storage volume unsuccessful
**What you expected to happen**:
windows10 mount storage volume
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):v1.15.5
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`): windows10 1903
- Ker

[2019-12-03 08:50] #85593 closed

[2019-12-03 09:23] brancz commented on #85544
I think we're on the same page.

This is the possibility I see for something like this as well. It would need to be fleshed out in detail though.

[2019-12-03 09:23] Pingan2017 commented on #85834
Ping @kubernetes/sig-storage-bugs

[2019-12-03 09:44] tomkerkhove commented on #85544
Awesome, happy to help where I can.

[2019-12-03 09:45] tomkerkhove commented on #85544
I've updated the title to indicate that it's more about compatibility rather than change/impact current approach drastically.

[2019-12-03 11:37] tirelibirefe commented on #78024
I have the same problem. My VMs are already flagged disk.EnableUUID=TRUE

[2019-12-03 11:42] pohly commented on #85624
That workaround may or may not work:
[code]

`dev-dax` is the block device here, `/data` is a writable empty dir.

I have seen this work with a different Linux kernel (Fedora) and runtime (Docker instead of cri-o), so it all depends on how strict the container runtime restricts potentially problematic operations (like creating a device node) inside a non-privileged container.

[2019-12-03 11:43] vitality1987 commented on #80853
I have been able to reproduce the issue also on the following environment:
    Kubernetes version (use kubectl version): 1.16.3
    Cloud provider or hardware configuration: OpenStack
    OS (e.g: cat /etc/os-release): Ubuntu 18.04.3 LTS
    Kernel (e.g. uname -a): Linux kube 4.15.0-70-generic #79-Ubuntu SMP Tue Nov 12 10:36:11 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
    Install tools: kubeadm

[2019-12-03 12:31] ingvagabund commented on #81719
You are correct. `b.N` as is used now is always set to `minPods` so the golang benchmark does not really adjust `b.N` based on the last `ns/op` to find "optimal" number of iterations. Even when I remove the line overwriting `b.N`, measured `ns/op` values ran 10 times over the same number of nodes/pods and the same commit I get different results which are far from asymptotic. I assumed the longer w

[2019-12-03 12:39] alston-dmello commented on #26895
I still see this issue in v1.14.8.  Has this been fixed in a later version?

[2019-12-03 13:11] liggitt commented on #82271
run `make clean` to ensure you are using a code-generator binary built from the same version you have checked out

/close

[2019-12-03 13:11] #82271 closed

[2019-12-03 13:13] liggitt commented on #85840
This is not possible to change for the client-side apply algorithm, but is how the server-side-apply feature in-progress works. Closing in favor of https://github.com/kubernetes/enhancements/issues/555

/close

[2019-12-03 13:19] liggitt commented on #18226
is the https endpoint that is being contacted requiring a client certificate?

[2019-12-03 13:22] liggitt commented on #85737
If you split them into separate processes, you would only want to do so in a way that made them non-overlapping (e.g. use them with distinct node pools)

The spec.schedulerName API field does not specify how to make a scheduler select pods with that name. How kube-scheduler determines what schedulerName to pay attention to is orthogonal to the definition of the API field. I don't see an issue with

[2019-12-03 13:30] rdxmb commented on #56850
Why is this issue closed? This problem still occurs with kubernetes v1.16.2 (in my case with Ubuntu 16.04) and the workarounds with the systemd-includes above must be set by the user manually.
Is there a way to get these things to the apt-packages?

[2019-12-03 13:37] yq513 commented on #85835
Yes, this kind of refused connection will appear after restarting kubelet. I do n’t know if it is a bug or where to pay attention.

[2019-12-03 13:42] yq513 commented on #85835
This is not the point, the point is to restart kubelet, etcd will show this error prompt

[2019-12-03 13:46] foux commented on #66607
Any news on this one?

[2019-12-03 14:06] akhilerm commented on #85624
@pohly  It works only if the container has CAP_MKNOD capability. If by default the container-runtime gives this CAP, then copying the device file may work.

[2019-12-03 14:13] denniszielke commented on #85805
There seems we have a bug here in the cloud provider.
In this setup here I have the Cluster in CLUSTER_RG and the LoadBalancer in LB_RG with
/etc/kubernetes/azure.json
[code]

When provisioning a service we can see in the requests that are sent for the ARM network RP that the values for the outboundrules are calculated correctly:
[code]

However we can see that the value for loadbalancingrules are

[2019-12-03 14:17] liggitt commented on #75355
opened https://github.com/kubernetes/kubernetes/pull/85847 to deflake

[2019-12-03 14:23] liggitt commented on #85791
Your can-i command has a typo in the PSP name (priviledged in the command vs privileged in the role), which would seem to indicate the service account in question has permissions on all PSPs.

Yes, granting anything cluster-admin rights allows it to use any PSP.

[2019-12-03 14:29] liggitt commented on #85831
A restart policy means the kubelet will attempt to restart the containers (which it is doing). error conditions (like the disk being full) can prevent the restart from succeeding. Based on the error, you need to free space on the disk.

[2019-12-03 14:29] #85831 closed

[2019-12-03 14:30] liggitt commented on #85776
If you'd like to contribute this to documentation, I'd suggest opening an issue or PR against https://github.com/kubernetes/website/ and tagging sig-cli

/close

[2019-12-03 14:30] #85776 closed

[2019-12-03 14:53] liggitt commented on #85762
interestingly, the serial ipv6 job doesn't look flaky:
https://testgrid.k8s.io/conformance-all#kind%20(IPv6),%20master%20(dev)&width=5&include-filter-by-regex=Delete%20Grace%20Period

[2019-12-03 14:53] liggitt commented on #85762
that message is from cadvisor... @dashpole, that ring a bell or seem plausible as a reason for the kubelet delete hanging?

[2019-12-03 15:04] sh0rez commented on #85840
Hi, I am aware of server side apply, but it is only available on recent Kubernetes versions.

Still, we cannot neglect there are older versions around that are affected by this issue, so server side apply is not an adequate solution. Thus, we shall probably find a way to solve this in kubectl itself. WDYT?

/reopen

[2019-12-03 15:05] liggitt commented on #85840
The structure and format of the last-applied annotation is fundamental to the current client-side apply design. Rather than investing resources in changing that design, the server-side apply work is being prioritized.

/close

[2019-12-03 15:05] #85840 closed

[2019-12-03 15:34] bgrant0607 commented on #85737
I agree with @liggitt. Using schedulerName is less confusing than adding another field, and is within the scope of its original intent. This approach is the most obvious to me.

[2019-12-03 15:38] liu-cong commented on #81719
@Huang-Wei , @ingvagabund
Yeah I am now inclined to defining our "in-house" performance tests and getting rid of golang benchmark. The benchmark gives little value but adds confusion.

I was thinking to use the clusterloader2 config as well. However, after taking a quick look, that seems overkill for us. There are lots of concepts that scheduler tests don't necessarily need. I was wondering if you

[2019-12-03 15:43] jkaniuk commented on #85753
DumpClusterLogs phase is stuck on doing kubectl logs for each logexporter pod.

Relevant loop:
https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/log-dump.sh#L509

Problem started occuring between commits
7c87b5fb55 Wed Nov 27 08:25:20 2019 -0800
and
dcb7daa8851 Thu Nov 28 03:03:03 2019 -0800

There was one change to log-dump.sh merged during that time:
https://github.com/kubern

[2019-12-03 16:14] draveness commented on #78891
We won't deprecate fields after it graduates to a stable version. And based on this, can we close this issue for now?

[2019-12-03 16:27] mikedanese opened #85855 "Figure out what to do with webhook authz cache in large clusters"
Some options are:

* Increasing LRU cache size
* Migrate to expiring cache
* Share authorization lookups

/sig auth

[2019-12-03 16:45] adelina-t commented on #84804
https://github.com/kubernetes/kubernetes/pull/85856

[2019-12-03 17:03] msau42 commented on #85814
@kubernetes/sig-storage-test-failures

[2019-12-03 17:07] jjarmolowicz commented on #57291
#MeToo

[2019-12-03 17:11] #47268 closed

[2019-12-03 17:22] msau42 commented on #85814
/assign @jingxu97
to investigate.
@gnufied are the expansion test flakes supposed to be fixed?

[2019-12-03 17:28] hasheddan commented on #85814
It appears as though some of the failures are also due to tests owned by sig-scheduling: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-serial/1201755844090269696#1:build-log.txt%3A7943

@kubernetes/sig-scheduling-test-failures

/sig scheduling

[2019-12-03 17:36] bergmeister commented on #79830
I consider it to be useful for the Kubernetes exams that are tight in time where one cannot write much YAML from scratch and needs to use generators

[2019-12-03 17:43] wyardley commented on #34146
/remove-lifecycle stale

[2019-12-03 17:50] Huang-Wei commented on #85726
@renjian52 Since #83810 has been marked resolved (fix available in 1.17), does that mean this issue is expected to go away in 1.17? Could you please give a try?

[2019-12-03 18:01] Huang-Wei commented on #81719
It makes sense. Then we can deprecate the old "BenchmarkXYZ" tests when new ones are ready.
BTW: in new tests, we are not gonna use `testing.B` or `testing.T`, correct? And I suggest we name the new perf tests starting with "PerfXYZ" to distinguish with Golang UT (`testing.T`) and Benchmark test (`testing.B`).

Sure, please go ahead.

[2019-12-03 18:10] gnufied commented on #85814
@msau42 The only failures I see in CSI+expansion is from gce-pd CSI driver. We need to fix https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/433 for that.

[2019-12-03 18:11] Huang-Wei commented on #85737
Yes, using different node pools is the only answer we can give when users ask about multi-schedulers. For sure it causes the resource fragmentation. Even with that, it's still not ideal for advanced scheduling features which needs crossing check on topology domains (e.g., Pod(Anti)Affinity, EvenPodsSpread, etc.). So that's why we're pursuing/suggesting the one-scheduler practice.

Thanks for expla

[2019-12-03 18:21] Huang-Wei commented on #81719
Thanks @ingvagabund for confirming. How different (percentage) is the result? (I suppose the tests are based on "automatic" adjustment on `b.N`, right? What's the number of internal running cycles each time?)

[2019-12-03 18:48] ahg-g commented on #85814
We should move  "SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]" out of e2e tests. It relies on a particular state of the cluster before the test start that is hard to validate. It should be more than enough to have an integration test for this, even a unit test should be fine.

[2019-12-03 18:56] spiffxp commented on #78891
/close
Agree we can close, this is something to consider if/when a v2 API comes around

[2019-12-03 18:56] #78891 closed

[2019-12-03 18:58] jcpuzic commented on #85809
For reproduction purposes, here is the exact line I used:
`kubeadm init --pod-network-cidr=10.100.0.0/16 --kubernetes-version=v1.16.3`

After the cluster master came up, that's when I checked the node specs.  Additionally, I was using Kube-Router with this manifest:
https://github.com/cloudnativelabs/kube-router/blob/master/daemonset/generic-kuberouter.yaml

[2019-12-03 19:14] liggitt commented on #85415
infra issue seems to have cleared up, the linked dashboard shows test startup is green (there are specific flakes tracked individually in https://github.com/kubernetes/kubernetes/issues/80534 https://github.com/kubernetes/kubernetes/issues/84514#issuecomment-550293886 and https://github.com/kubernetes/kubernetes/issues/82387#issuecomment-545851491)

/close

[2019-12-03 19:14] #85415 closed

[2019-12-03 19:18] liu-cong commented on #81719
Definitely not `testing.B` any more. But I guess we can use `testing.T` so we can leverage the existing test script to invoke the tests. Any objection with this?

I checked this before. I noticed `b.N` was adjusted a few times for smaller tests (100 Pods to schedule for instance) but definitely not for the 1000 pods case. Since we removed the small test, `b.N` has no effect any more.
I also create

[2019-12-03 19:59] abhiraut commented on #62900
probably related to area/kubelet ?

[2019-12-03 20:14] damemi commented on #85826
+1 for a separate sub-repo for us and the community to work on plugins.

Maybe at some point we could also consider an index for plugins (similar to Krew for cli plugins) to encourage 3rd party plugin development without restricting contributors to our development cycle and freeing us from owning every plugin.

[2019-12-03 20:56] neolit123 commented on #85809
given Calico works, this seems like a kube-router issue to me.
did you report it to the kube-router maintainers?

[2019-12-03 20:57] spiffxp commented on #81052
So we've updated the documented policy.

My suggestion to close this out is to drop the [Conformance] tag from the tests that currently require the kubelet API to pass, and open issues that they need to be rewritten.  Ignore whether the API is needed for diagnostic info in failure modes.

[2019-12-03 21:11] everpeace commented on #85826
wow, interesting idea.

[2019-12-03 21:14] jcpuzic commented on #85809
I don't agree, I'm reporting a difference in behavior before any CNI is installed.

[2019-12-03 21:18] #85753 closed

[2019-12-03 21:19] fedebongio commented on #85398
/assign @sttts

[2019-12-03 21:19] fedebongio commented on #85443
/remove-sig api-machinery
/sig node

[2019-12-03 21:21] fedebongio commented on #85489
/sig auth
/cc @tallclair

[2019-12-03 21:21] neolit123 commented on #85809
/remove-sig cluster-lifecycle
/sig network

would appreciated feedback from sig-network or the kube-router maintainers.

[2019-12-03 21:24] fedebongio commented on #85548
/assign @roycaihw

[2019-12-03 21:25] liggitt commented on #85548
the issue fixed in https://github.com/kubernetes/kubernetes/pull/31047 sounds similar... would be good to get a reproducer for this issue in a unit test to understand what needs to be fixed

[2019-12-03 21:26] fedebongio commented on #85692
/cc @lavalamp

[2019-12-03 21:27] fedebongio commented on #85750
/assign @kwiesmueller

[2019-12-03 21:35] liggitt commented on #85514
we don't really need an issue to track this. keeping the signature consistent between NamespaceKeyFunc and NoNamespaceKeyFunc is reasonable

/close

[2019-12-03 21:35] #85514 closed

[2019-12-03 21:42] hasheddan commented on #85753
Thank you @jkaniuk! Will monitor subsequent tests to make sure fix is working as expected :)

[2019-12-03 21:49] zhouhaibing089 commented on #75677
/remove-lifecycle stale

[2019-12-03 21:56] kwiesmueller commented on #85750
Thanks for filing the Issue.
Do you have a specific use case in mind?

For the "deployment rollout" case, there should be more reliable options.

Also what statuscode would you expect?
Not sure if a 304 Not Modified would be correct, as it is intended for cache validation and the client should not make any assumptions based on apply behavior, if there are more reliable ways to get the information.

[2019-12-03 22:14] dims commented on #81052
i'd support this @spiffxp @liggitt ^^

[2019-12-03 22:35] apelisse commented on #85750
That's a reasonable ask. I don't know about deployment because the rules to trigger a roll-out are slightly more complicated than that. I agree that `kubectl apply` could print a different text based on that result.

`304 Not Modified` is mostly a cache mechanism, so I would be concerned that it'd be misinterpreted.

Let's keep digging.

[2019-12-03 22:52] chuegel opened #85866 "Node status is now: CIDRNotAvailable"
**What happened**:
We deployed a 5 node (3 master / 2 worker) cluster with rke:
[code]
I noticed this event repeating constantly:
[code]
`kubectl cluster-info dump | grep -m 1 cluster-cidr`
is empty.

However, I can schedule pods on the nodes and get the right IP addresses and the cluster looks healthy:
[code]

**What you expected to happen**:
event not to occur
**How to reproduce it (as minimally

[2019-12-03 22:55] lavalamp commented on #85692
IMO:
* goroutinemap: this needs a better name and to be context-aware before I'd want to support its interface long-term. https://godoc.org/golang.org/x/sync/singleflight is an alternative people could use (though it doesn't offer failure backoff).
* slice: this is a very confusing package. It's also only implemented for `string`. I would not want to support this long-term. If we decided it was ac

[2019-12-03 22:58] tallclair opened #85867 "CVE-2018-1002102: Unvalidated redirect"
CVSS Rating: [CVSS:3.0/AV:N/AC:H/PR:H/UI:R/S:C/C:L/I:N/A:N/E:F (Low)](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:H/PR:H/UI:R/S:C/C:L/I:N/A:N/E:F)

An attacker-controlled Kubelet can return an arbitrary redirect when responding to certain apiserver requests. Impacted kube-apiservers will follow the redirect as a GET request with client-cert credentials for authenticating to the Kube

[2019-12-03 22:58] #85867 closed

[2019-12-03 23:01] z-oo commented on #24725
Please reopen because this is critical and particularly bad when combined with unstable volumne mount bug like this: https://github.com/kubernetes/kubernetes/issues/67643 or a dead fuse daemon.

If any volumne mount is broken for a pod, we have no choice but restarting the whole pod. We have put liveness probe and in code health check to commit suicide after write failure or any mountpoint abnorma

[2019-12-03 23:03] heidemn commented on #10323
@mprzygrodzki this could help: https://www.terraform.io/docs/providers/kubernetes/d/service.html
(Not shown there: You need to create a Kubernetes service first. Then you can proceed as follows.)
When you have a Kubernetes service, you can get the corresponding load balancer's hostname, and then create DNS entries for your own domains.

My general opinion about this issue:
Using existing LBs seems

[2019-12-03 23:04] huegelc commented on #85866
@kubernetes/sig-network-bugs

[2019-12-03 23:09] Huang-Wei commented on #81719
Let's see how it goes. Generally, it should be fine.

[2019-12-03 23:16] cjellick opened #85869 "kubectl auth can-i --list should indicate if a permission is global or namespace scoped"
**What happened**:
I gave a user the `create` verb on the `*` resource in the `*` api group in the `default` namespace  and then i ran `kubectl can-i --list`. I got this output:
[code]

The confusing line here is:
[code]
The list view shows my global permissions (like get list watch on storageclasses) intermixed with namespace level permissions (create on *.*), but gives no indication when a permi

[2019-12-03 23:17] cjellick commented on #85869
/sig cli

[2019-12-03 23:30] everpeace opened #85871 "kube-scheduler: customizable victim selection logic in preemption"
## What would you like to be added

kube-scheduler allows to select victims in custom logics when preemption happens.

## Background: How kube-scheduler selects victim pods in preemption

When `kube-scheculer` preempts some pods, it selects candidate victim pods in a node roughly as follows:

- selects lower priority pods in the node first
- reprieves some pods among those until preemptor pods fit

[2019-12-03 23:40] xueweiz commented on #72878
Requested to backport a kernel patch to stable kernels for 4.19, 4.14, 4.9, 4.4 and 3.16.

See the discussion thread at https://www.spinics.net/lists/stable/msg346612.html

[2019-12-03 23:44] xueweiz commented on #72878
@etcshad0vv Just learnt that the patch has also been released in Linux stable v5.3.9.
See the [release note](https://lwn.net/Articles/804021/) and the [backport commit](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=v5.3.9&id=b0771e86502351ef5ee7cc3aaf4387f7ca38e773) for v5.3.9.

I wonder if that can unblock you? (I'm not sure whether you are able to pick up a v5.3.9 ke

[2019-12-04 00:42] lojies commented on #85831
But when i free the disk, the pod is still not restarted.

[2019-12-04 00:56] alanorwick commented on #76570
Hello! I'm a CS student at UT Austin. For a class project we're tackling some open source issues. I'm going to try to see if I can make progress on this. /assign

[2019-12-04 01:01] #81874 closed

[2019-12-04 01:32] msau42 commented on #82340
/remove-lifecycle stale
Is this still an issue?
/assign @jsafrane

[2019-12-04 01:32] msau42 commented on #82190
/remove-lifecycle stale

[2019-12-04 01:42] zffocussss commented on #76263
same here.how to specify the size of tmpfs?

[2019-12-04 02:14] mikedanese commented on #85855
@kubernetes/sig-auth-feature-requests

[2019-12-04 02:20] enj commented on #85855
/cc

[2019-12-04 02:55] khs1994 commented on #85842
[code]

[2019-12-04 03:05] ravisantoshgudimetla commented on #85826
+1 to the suggestion.

I think initial goals of the sig-sponsored repo should be
-  Would be to validate the extension mechanism of the scheduler plugin framework for complex examples like batch workloads
- Serve as an example to end-users on how to use develop plugins.

We can always make the repo to be an index of plugins once we see people want to have a common location where all the plugin can

[2019-12-04 03:05] msau42 commented on #74650
/remove-lifecycle rotten

[2019-12-04 03:14] msau42 commented on #79397
/remove-lifecycle rotten

[2019-12-04 03:20] feiskyer commented on #85805
Thanks for reporting the issue. Confirmed it's a bug from Azure cloud provider.
/assign

[2019-12-04 03:20] renjian52 commented on #85726
@Huang-Wei , fix for https://github.com/kubernetes/kubernetes/issues/83810 just resolved the case add event may be lost after deletion event. It doesn't solve the problem that  a delete followed by an add may be delivered as one update notification and it's thought normal from MikeSpreitzer's comment. The main cause of this problem is scheduler cache use Pod UID as key while sharedInformer use nam

[2019-12-04 03:41] BobyMCbobs opened #85876 "Research for creating a readCoreV1NamespacedServiceStatus conformant test"
# Description
After looking through endpoints which need tests written for in APIsnoop, this appears to be an endpoint which isn't hit.

#

## Fetch dependencies
[code]

## Test draft
[code]

## Test draft - JavaScript working implementation
[code]

[code]

# Verify with APISnoop<a id="sec-4"></a>

## create view for hit endpoints
[code]

## create view for coverage changed
[code]

## find endpoin

[2019-12-04 03:42] BobyMCbobs commented on #85876
/sig testing
/sig architecture
/area conformance

[2019-12-04 03:44] 0xcb49 opened #85877 "Request pod itself via service failed when kube proxy is ipvs mode"
**What happened**:
I have a three node k8s cluster and kube proxy enable ipvs mode.  I create a nginx service and attach one backend pod to this service. Then request the nginx service inside the service's pod  failed.

**What you expected to happen**:
pod should visit itself via service

**How to reproduce it (as minimally and precisely as possible)**:
k8s version: v.1.15.0
kube-proxy parameter:

[2019-12-04 03:46] ravisantoshgudimetla commented on #85737
In general, I'm fine with direction we're taking however I think, we should let the community know that we're deciding to go ahead with the approach of not supporting multi-scheduler scenario. I believe there are lots of people who're running their own custom scheduler using their own informers. In a way, I think, we're forcing people to register their custom scheduler as a framework(which is the

[2019-12-04 03:50] liggitt commented on #85737
I'm not seeing how this removes support for that… people running custom schedulers can continue doing so as they do today, right?

[2019-12-04 03:54] 0xcb49 commented on #85877
/sig kube-proxy

[2019-12-04 03:59] liggitt commented on #85737
I think it is a reasonable to map distinct methods of scheduling to the schedulerName field. There is a spectrum of how much those methods can vary from and interact with each other… at one end would be these proposed profiles, using a shared cache and framework, and varying in relatively narrow ways. On the other end could be an exotic custom scheduler using a completely different approach. I see

[2019-12-04 04:12] cwdsuzhou opened #85878 "Daemonset hangs when upgrade or delete if node not ready exists int the cluster"
**What happened**:
Our cluster consist of more than a thousand of nodes. When we upgrade our daemonset, we found the progress hung and some nodes were not ready.

When we update it, node would evict the pods.

**What you expected to happen**:

Daemonset pods could be evicted when node is not ready.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?

[2019-12-04 04:12] cwdsuzhou commented on #85878
/sig app

[2019-12-04 04:56] wongma7 commented on #82387
The test is racy and relying on `Events`. The PodFitsHostPorts failure is expected, basically the tests creates a situation where kubelet rejects a pod then the test expects statefulset controller to delete and recreate the failed pod.

For example in this failure https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest/1197810149796876291...

The test starts its w

[2019-12-04 04:58] alanorwick commented on #76570
/assign

[2019-12-04 05:03] ryanarifin134 commented on #76570
/assign

[2019-12-04 05:10] wongma7 commented on #82387
NVM I read the logs wrong, 8039864d-5158-4fd9-9b36-f5d438f08456 wasn't deleted until 09:59:46 after the test already failed. So actually the controller is NOT recreating 8039864d-5158-4fd9-9b36-f5d438f08456 within the 5min timeout even though it did it for 9e390b91-f904-47e3-b6f4-80f6be7bd67b and 9383a4a9-3ba6-47f7-8c1b-46ad51f8d53c:

I1122 09:54:42.743990       1 event.go:281] Event(v1.ObjectRefe

[2019-12-04 05:12] wongma7 commented on #82387
kubelet says it put 8039864d-5158-4fd9-9b36-f5d438f08456 in Failed state so why is it stuck in Pending?

I1122 09:54:42.875414    1375 event.go:281] Event(v1.ObjectReference{Kind:"Pod", Namespace:"statefulset-4966", Name:"ss-0", UID:"8039864d-5158-4fd9-9b36-f5d438f08456", APIVersion:"v1", ResourceVersion:"6239", FieldPath:""}): type: 'Warning' reason: 'PodFitsHostPorts' Predicate PodFitsHostPorts

[2019-12-04 05:27] Huang-Wei commented on #85871
Thanks @everpeace for this detailed write-up!

I'm leaning towards the option to define several extension points such as PrePreempt, Preempt, PostPreempt to expose more control of the preemption logic to end-users. And this is also aligned with our Scheduler Framework roadmap.

[2019-12-04 05:29] wongma7 commented on #82387
Well, the lines I pasted above are extremely suspect.

Good:

I1122 09:54:42.745101    1375 status_manager.go:544] Patch status for pod "ss-0_statefulset-4966(9383a4a9-3ba6-47f7-8c1b-46ad51f8d53c)" with "{\"status\":{\"message\":\"Pod Predicate PodFitsHostPorts failed\",\"phase\":\"Failed\",\"qosClass\":null,\"reason\":\"PodFitsHostPorts\",\"startTime\":\"2019-11-22T09:54:42Z\"}}"
I1122 09:54:42.7

[2019-12-04 05:54] HelenaZheng opened #85880 "Node NotReady Discovered runtime cgroups name: /system.slice/docker.service"
**What happened**:
One node in k8s cluster not ready.

**What you expected to happen**:
What triggered the problem？How can i reproduce it ? How to avoid the problem happen again.

**Anything else we need to know?**:
First，I saw status of kubelet after I receive the alarm. Kubelet service is dead.
Second, I went to find the logs of journalcal since my kubelet installed by binary executable in syste

[2019-12-04 05:55] bouk commented on #85750
It seems to me that there’s not a 2xx status code that’s appropriate. Perhaps a custom response header makes the most sense.

[2019-12-04 05:58] HelenaZheng commented on #85880
/sig node
/sig Architecture
@Derek Carr

[2019-12-04 06:33] oke-py commented on #84367
/assign

[2019-12-04 06:37] akhilerm commented on #85624
Another workaround that I got from [Moby](https://dockercommunity.slack.com/archives/C50QFMRC2/p1575402291070700) is using the `-v` flag to get the device node inside the container. In k8s terms, that will translate to using `volumeMounts` with `/dev/sdX` instead of `volumeDevices`. Since the container is privileged it will be possible to perform all operations on the blockdevice similar to in the

[2019-12-04 06:48] everpeace commented on #85871
Thanks @Huang-Wei for your quick reply!

I totally agree!   This requires to update [KEP document of scheduling framework](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md), right? Then, I would like to start drafting an updated KEP.

[2019-12-04 07:08] #84184 closed

[2019-12-04 07:22] brancz commented on #58638
/remove-lifecycle rotten

[2019-12-04 07:30] aojea commented on #84254
/close
Please feel free to reopen if you consider necessary

[2019-12-04 07:30] #84254 closed

[2019-12-04 07:39] willthames commented on #77787
This would have saved me some battling today! I couldn't work out why my pod wasn't selecting my run-as-root pod security policy and ignoring my restricted pod security policy - I didn't realise I had to explicitly set `runAsUser: 0` to get the correct PSP to match (I thought the restrictive PSP would reject the pod and then the run-as-root PSP would match, not that the restrictive PSP would mutat

[2019-12-04 08:02] daiyoung commented on #56850
@rdxmb the kubelet logs show `--cgroup-driver has been deprecated, --kubelet-cgroups has been deprecated`, but we also have to add the args to kubelet.

[2019-12-04 08:13] Shuanglu opened #85881 "kube-proxy didn't get the correct result of endpoints and IPs from apiserver"
**What happened**:
The kube-proxy is able to connect with apiserver (it doesn't report connection error) and sync the iptables. However the IPs kube-proxy got are not correct. In below example, the IPs of the ingress-controller pods in kube-proxy are different from the result from apiserver
From the log attach
I1129 09:31:28.233506       1 endpoints.go:277] Setting endpoints for "kube-system/terri

[2019-12-04 08:19] george-angel commented on #58065
/remove-lifecycle stale

[2019-12-04 08:49] rdxmb opened #85883 "kubelet: add missing args in packages"
follow up https://github.com/kubernetes/kubernetes/issues/56850

If using systemd, we, should have something like

[code]

or

[code]

If also using docker, we should have

[code]

see the workarounds in
https://github.com/kubernetes/kubernetes/issues/56850#issuecomment-354539158
https://github.com/kubernetes/kubernetes/issues/56850#issuecomment-406241077
https://github.com/kubernetes/kubernetes/i

[2019-12-04 08:54] rdxmb commented on #85883
@kubernetes/sig-architecture-bugs

[2019-12-04 08:59] fahedouch opened #85884 "preStop does not work with a cronJob"
**What happened**:
I want to use life cycle hook `preStop` with cronjob. But the cronJob dosen't run at all

this is the spec :
[code]

**What you expected to happen**:
execute the touch command whitin the graceful shutdown period.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
In perfect world, to garantie the execution of preStop hook we sh

[2019-12-04 09:06] jsafrane commented on #82340
This is most likely fixed by @mkimuram's refactoring, added to https://github.com/orgs/kubernetes-csi/projects/4 to re-check.

[2019-12-04 09:24] databus23 commented on #84931
We are also hit by this on a regular basis with kublets v1.15.2

The following issues are reporting the same bug I think:
#85389
#82405

[2019-12-04 09:25] kayrus commented on #84931
@databus23 this as well https://github.com/kubernetes/kubernetes/issues/82346
/cc @Joseph-Irving

[2019-12-04 09:26] fahedouch commented on #85884
@kubernetes/sig-cluster-lifecyle

[2019-12-04 09:30] hubv opened #85886 "ipv6 support issue for vsphere cloud privider"
**What happened**:
IP addresses losing in k8s node status in a pure ipv6 vsphere environment.
[code]
all interfaces of nodes in this cluster are ipv6 only
[code]
The error logs in kubelet as the following:

[code]
**What you expected to happen**:
It will be very appreciated if we can get ipv6 addresses from vsphere cloud provider as ipv4 env

**How to reproduce it (as minimally and precisely as po

[2019-12-04 09:33] databus23 commented on #84931
@kubernetes/sig-node-bugs @wojtek-t Maybe add a bug label? I believe there are at least 4 independent bug reports about this rather serious inconsistency that requires a kubelet restart to fix.

[2019-12-04 09:34] databus23 commented on #84931
Ah, nvm. It is already attached. Sorry for the noise

[2019-12-04 09:34] zhanghuidinah commented on #75663
The same problem：

[code]

[2019-12-04 09:35] hubv commented on #85886
If you agree with this I can fix it.

[2019-12-04 09:37] hubv commented on #85886
@kubernetes/sig-contributor-experience-bugs

[2019-12-04 09:40] fahedouch commented on #85884
@kubernetes/sig-cluster-lifecycle-bugs

[2019-12-04 09:41] alexises commented on #67577
Hello,
following the integration of patch on 4.19 branch, I have opened a bug report on debian for a proper upgrade of kerner on buster and stretch-backport :

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=946144

don't hesitate to add new comment for the upgrade of debian package.

[2019-12-04 09:44] liqlin2015 commented on #72878
@xueweiz Do you know if there is workaround for the kernel issue? Reboot node?
And I still not get how this issue happened sometimes. Because we only see the problem in a few env with ubuntu 16.04 OS + docker ce 18.09.7 (using cgroupfs ).

[2019-12-04 09:48] shikloshi commented on #81723
+1

[2019-12-04 10:02] jinnzy opened #85887 "["system.slice"] cgroup does not exist"
**What happened**:
kubelet adds parameter enforce-node-allocatable = pods, system-reserved, and reports an error at startup
I1204 09: 46: 22.623152 84198 node_container_manager_linux.go: 105] Enforcing System reserved on cgroup "/system.slice" with limits: map [cpu: {i: {value: 1000 scale: -3} d: {Dec: <nil >} s: Format: DecimalSI} ephemeral-storage: {i: {value: 1073741824 scale: 0} d: {Dec: <nil>

[2019-12-04 10:03] nmaupu commented on #85884
My 2 cents:
First, your containers does not share any `/tmp` dir so it will never work like that. You need to use an emptyDir as a volume to share files between containers.
Second, as per the documentation, `preStop` only triggers on:
- API request
- management event (probes failing, preemption, resources contention, etc.)
See https://kubernetes.io/docs/concepts/containers/container-lifecycle-hook

[2019-12-04 10:05] jinnzy commented on #85887
This is the system.slice to look up

[2019-12-04 10:05] akshaysharama opened #85888 "Kubernetes all nodes going bad, after reboot it is recovered."
/sig node
/sig pod

what happened:
After keeping kubernetes for longer run. Nodes are going bad .
We are running 3 nodes (2 worker + 1 master as worker) .
We are running total 51 pods , out of which we are volume mounting(glusterfs volume mount) kafka,etcd,logstash,consul,influxdb .

deploy1 kubelet[3227]: W1128 13:51:21.059723    3227 container.go:393] Failed to create summary reader for "/system

[2019-12-04 10:06] jinnzy commented on #85887
/area kubelet
/sig node

[2019-12-04 10:14] mbelchin commented on #83900
Hi again,

any ideas or workarounds for this ?

Thanks in advance

[2019-12-04 10:16] justaugustus commented on #80546
/milestone v1.18

[2019-12-04 10:31] fahedouch commented on #85884
@nmaupu i fixed the spec (it was not updated).
Your Second point is true.. it's not a SIGTERM, it's just an exit 0.
thanks :)

[2019-12-04 10:50] justaugustus opened #85892 "Discuss feature branches/forks"
We've broached the topic of [feature branches](https://martinfowler.com/bliki/FeatureBranch.html) a few times in the past and even have a few examples:
- https://github.com/kubernetes/kubernetes/tree/feature-rate-limiting
- https://github.com/kubernetes/kubernetes/tree/feature-serverside-apply
- https://github.com/kubernetes/kubernetes/tree/feature-workload-ga

This came up again recently, w.r.t.

[2019-12-04 10:51] justaugustus commented on #85892
/milestone v1.18
/priority important-longterm

[2019-12-04 10:53] kayrus commented on #36141
/reopen
/remove-lifecycle rotten

[2019-12-04 10:54] justaugustus commented on #84026
For Ingress v1, [we decided](https://kubernetes.slack.com/archives/C2C40FMNF/p1572630581112700?thread_ts=1572482976.040000&cid=C2C40FMNF) that based on the timeline, it'd made sense for this to be a contributor-owned fork w/ the rest of the team added as collaborators

For the broader discussion on feature branches/forks, see this issue: https://github.com/kubernetes/kubernetes/issues/85892
/close

[2019-12-04 10:54] #84026 closed

[2019-12-04 11:02] hubv commented on #85886
@kubernetes/cloud-provider-bugs

[2019-12-04 11:03] #85884 closed

[2019-12-04 11:06] tuminoid opened #85894 "NodePort creation with statically assigned portNumber collide in multi-master HA cluster"
Also reported in:
* https://github.com/kubernetes/kubernetes/issues/32987
* https://github.com/kubernetes/kubernetes/issues/73140
* https://github.com/kubernetes/kubernetes/issues/89042
* https://github.com/kubernetes/kubernetes/issues/86104

**What happened**:
Service of NodePort type fails to (re)create if it was just deleted, and that delete had executed on different apiserver than the create i

[2019-12-04 11:06] tuminoid commented on #85894
/sig apimachinery

[2019-12-04 11:09] Bhuvan26 commented on #78645
We had also observed the same issue

E1204 10:53:48.215698 1 upgradeaware.go:338] Error proxying data from client to backend: read tcp 10.200.210.102:8443->10.200.210.103:39964: read: connection reset by peer
I1204 10:54:04.720577 1 controller.go:105] OpenAPI AggregationController: Processing item v1beta1.metrics.k8s.io
I1204 10:54:04.721860 1 controller.go:116] OpenAPI AggregationController: acti

[2019-12-04 11:13] justaugustus commented on #73286
I was discussing w/ @liggitt and I think we can close the loop on this issue by having the contributors who usually end up updating Go draft a policy for exactly how and where to do this, so we can eventually have @kubernetes/release-engineering take over this responsibility.

/unassign
/assign @liggitt @dims @cblecker @BenTheElder
/milestone v1.18

[2019-12-04 11:14] justaugustus commented on #44505
/milestone v1.18

[2019-12-04 11:17] spaskalev opened #85895 "Node status is Ready even though it has been powered off for more than a day"
**What happened**: In a cluster of three nodes initialised using kubeadm with stacked control plane a node was powered off. However, when running 'kubectl get nodes' on the other two nodes the powered off node status is shown as ready. This happens intermittently and when it occurs it does not resolve itself automatically, even after a day. Restarting the kube-apiserver/kube-controller-manager pod

[2019-12-04 11:21] alenkacz commented on #85814
@ahg-g will you be willing to work on that? it's flaking A LOT right now, definitely more than 50%

[2019-12-04 11:23] alenkacz commented on #85762
this one is failing quite a lot in the 1.17 windows job https://testgrid.k8s.io/sig-release-1.17-informing#gce-windows-1.17 - could someone confirm if it's a bug or a test issue? Thanks

[2019-12-04 11:24] alenkacz commented on #85762
or is it actually a completely different failure on windows? Since it's being tracked here as well #84610

[2019-12-04 11:29] #74949 closed

[2019-12-04 11:34] wojtek-t commented on #80209
/remove-lifecycle stale

[2019-12-04 11:38] tnqn opened #85896 "NetworkPolicy e2e tests fail to get container logs"
**What happened**:
In [NetworkPolicy e2e](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/network_policy.go) tests, `GetPodLogs` always fails when the tests fail, with the error: `the server rejected our request for an unknown reason`. This is the message indicating that APIServer responds 400 code.

**What you expected to happen**:
Container logs should be collected correctl

[2019-12-04 11:42] tnqn commented on #85896
/sig testing
/assign @tnqn

[2019-12-04 11:45] wxq851685279 commented on #85842
Thank you

[2019-12-04 11:45] #85842 closed

[2019-12-04 11:48] bboreham commented on #67577
Hope this isn't too spammy but I wanted to link this excellent talk from @chiluk going into many background details related to this issue https://youtu.be/UE7QX98-kO0.

[2019-12-04 11:49] etcshad0vv commented on #72878
You rock man, i appreciate it. I will be waiting for the patch to rollout in stable kernels, and i will provide feedback. Thank you so much!

[2019-12-04 12:09] blurpy commented on #85205
Thanks for the fix! I see it's been merged, but it's not listed in the release notes in the 1.15.7 cut. Should it have been picket up?

[2019-12-04 12:14] ahg-g opened #85900 "Move "validates MaxPods limit number of pods that are allowed to run" e2e test to an integration test"
[validates MaxPods limit number of pods that are allowed to run [Slow]](https://github.com/kubernetes/kubernetes/blob/c8b123e8e1be6406bace4fe59d5284e1ce6a43a1/test/e2e/scheduling/predicates.go#L118) e2e test fails frequently and should be moved to be an integration test.

This test relies on a particular state of the cluster before the test start that is hard to validate. It should be more than en

[2019-12-04 12:15] ahg-g commented on #85900
/help
/good-first-issue

[2019-12-04 12:15] ahg-g commented on #85814
I created https://github.com/kubernetes/kubernetes/issues/85900, should be addressed soon.

[2019-12-04 12:28] ingvagabund commented on #85399
@ahg-g yes for keeping the project under sig-scheduling. Although there's no active development right now, people are still using the code as a library. I would like to move the project to sig sponsored repo. Do I still need to provide a roadmap/plan for a couple of releases?

[2019-12-04 12:29] kayrus commented on #82405
@databus23

the patch below, adapted to  v1.15.x from the #84951, PR solved the issue. Tested multiple times.

[code]

[2019-12-04 12:33] ldynia commented on #56850
What worked for me was updating docker and containerd to following versions
docker: 19.03.5
containerd: 1.2.10

[2019-12-04 12:45] kitianFresh commented on #85900
i can have a try
/remove help
/remove good-first-issue

[2019-12-04 12:47] wgliang commented on #85900
/remove help
/remove good-first-issue

[2019-12-04 12:49] wgliang commented on #85900
/remove-help
/remove-good-first-issue

[2019-12-04 12:50] hangzhouwanjun commented on #67662
I am hitting this bug, too.  If ReplicaSetController create pod request really timeout during accessing apiserver, this failed key will not add to the queue again. Then the pod should be created will never be created again.
in manageReplicas,  if create pod timeout  < 5 minute, the queue has no key, the controller never sync  when no key , so it never create a new pod even through the expectation

[2019-12-04 12:54] etherlai opened #85901 "pod multi container start priority"
hi:
i have a question:  does multi container  of pod has  start priority. one container start after other container running, not inicontainer, i want those container both running finally.
@kubernetes/sig-apps-feature-requests

[2019-12-04 12:54] wgliang commented on #85900
/remove-help
/remove-good-first-issue

[2019-12-04 12:58] ahg-g commented on #85399
ok, then lets move it. I think at the minimum we should have regular releases that are aligned with k8s

[2019-12-04 12:59] sahilmalav opened #85902 "Service of type "LoadBalancer" accessible from within the pod, but not accessible from outside the cluster"
I have deployed a service on Kubernetes using the below yaml :

[code]

The service runs a flask server on port 5000 at entrypoint and does predictions for incoming requests at the route '/predict'. Below is the output of "kubectl describe ... " :

[code]

When I make curl requests from within the pod, I get expected results.
[code]

But when I do the same from outside the cluster, it fails. (172.

[2019-12-04 13:02] sahilmalav commented on #85902
/sig network

[2019-12-04 13:05] aojea commented on #85762
will close this issue because the patch addressing the issue was merged and to avoid having duplicates
We can reopen if necessary
/close

[2019-12-04 13:06] derekrprice commented on #57291
I'd be happy if the amount of time the pod spent running was subtracted from the next CrashLoopBackoff.  Our use case is an Azure Functions Runtime app.  Due to a workaround for a bug (installed by MS, not us), the container times out waiting for messages from Azure and exits every 7 to 15 minutes and I need the container to restart immediately and continue processing messages.  Unfortunately, K8s

[2019-12-04 13:19] aojea commented on #85762
by the way, @alenkacz this one is unrelated to the windows one :-)

[2019-12-04 13:29] alenkacz commented on #85762
@aojea ACK, thank you :)

[2019-12-04 13:30] jaypipes commented on #85887
Sorry for the obvious question, but are you running `kubelet` with the same OS user for your 1.13.5 (works) and 1.14.3 (fails) nodes?

[2019-12-04 13:36] swatisehgal commented on #85826
Thanks for pointing me to this. Will have a look and see use this framework to push [Telemetry Aware Scheduling](https://github.com/intel/telemetry-aware-scheduling) code here!

[2019-12-04 13:42] ahg-g commented on #85737
Just to clarify: this proposal does not force custom schedulers to use the framework, nor does it prevent the existence of multiple schedulers. The only implication of this proposal in this regard is that the default scheduler will be able to scheduler pods from more than one schedulerName.

I also agree that reusing the schedulerName field is less confusing than adding yet another field with very

[2019-12-04 13:46] liggitt commented on #85762
two failures seen on 896b77ed5 after the related PR merged

/reopen

[2019-12-04 14:01] stephan2012 commented on #85799
Cannot reproduce it anymore, likely a syntax error in kube-proxy ConfigMap. Works for me.

[2019-12-04 14:01] #85799 closed

[2019-12-04 14:03] jaypipes commented on #85887
Also, do you see any log lines following the error that contain the words "The Cgroup ... has some missing paths:"?

[2019-12-04 14:14] zhangxiaoyu-zidif commented on #82271
no changes added to commit (use "git add" and/or "git commit -a")
IT-FVFXD0SZHV2H:kubernetes changyaowei$ make update
483d482
< API rule violation: list_type_missing,k8s.io/kubelet/config/v1beta1,KubeletConfiguration,CustomCgroupParents
685a685

688a689

ERROR:
         KUBE API rule check failed. Reported violations differ from known violations. Please read api/api-rules/README.md to resolve the

[2019-12-04 14:16] liggitt commented on #82271
if these are fields you are adding (they do not exist in master), you need to adjust the type definitions to address the violations

[2019-12-04 14:19] davesargrad opened #85904 "Pod fails to download image from private registry"
Guys,
I have a cluster with 2 nodes.

![image](https://user-images.githubusercontent.com/48793689/70149542-523e7b80-1676-11ea-9e70-03fd24bac1d0.png)

My pod is running on spain. As you see in the following the camel-k-kit is in error.
![image](https://user-images.githubusercontent.com/48793689/70149562-62565b00-1676-11ea-8448-d1e9aecb3954.png)

The reason for the error is a failure to download an

[2019-12-04 14:22] chrisohaver commented on #85205
IIUC, #85212 does not itself have a release note, so it's not listed in the release notes.

[2019-12-04 14:29] karthikeayan commented on #79691
I found some kubectl process as zombie in my jumpbox instance, cpu and network were constantly high... once i killed those zombie processes all back to normal again..

[2019-12-04 14:30] davesargrad commented on #85904
I've marked this as an architecture "sig" only because I've struggled with k8s and proxy in the past.  In the end I've always gotten past the proxy issues.

I've seen enough struggles that others have also had with this (through a look at the issues on github, and the various posts on stackoverflow). I'd think that by this time there is a clean way to diagnose the specific problem and documentatio

[2019-12-04 14:31] benmoss commented on #81938
I ended up figuring out what was wrong for my cluster, it was just that L2Bridge CNI configuration was being applied instead of VXLAN :man_facepalming:. That doesn't seem to be the OP's issue though. Readiness probes are working as expected.

[2019-12-04 14:32] #79688 closed

[2019-12-04 14:46] davesargrad commented on #85904
Btw.. I also have NO_PROXY set on each k8s node.

![image](https://user-images.githubusercontent.com/48793689/70152324-f9251680-167a-11ea-91d6-ec4b81746750.png)

[2019-12-04 14:51] jkaniuk commented on #85753
Looks that the revert has helped:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1202196266734325764

previously only first batch of log exports was run (then the timeout has happened).
it looked like that:
[code]
25 is the level of parallelism in bash script:
https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/log-dump.sh#L60
`readon

[2019-12-04 14:56] davesargrad commented on #85904
![image](https://user-images.githubusercontent.com/48793689/70153046-4786e500-167c-11ea-851b-88ecfc160368.png)

[2019-12-04 15:11] vryzhenkin commented on #60987
Same on HW deployment with 1.15.5

[2019-12-04 15:16] srflaxu40 commented on #70044
Same I am seeing this trying to get "anything" to work on minikube.  I did a fresh delete and start of minikube and still I get the same errors,

[code]

[code]

[code]

[2019-12-04 15:18] jkaniuk commented on #85753
Something that could be related to the difference between 100 nodes and 5000 nodes runs:

Output of piped command is buffered with buffer size 64k, so when the output is larger, the command is kept running. In case of
`kubectl get pods -n logexporter -o jsonpath='{range .items[*]}{.metadata.name}{"\t"}{.spec.nodeName}{"\n"}{end}'`
the threshold should be around 1200 nodes.

Unfortunately I did not

[2019-12-04 15:22] theonewolf commented on #2630
@woodcockjosh `fsGroup` doesn't cover the use case of security-sensitive software such as Vault trying to run as `vault:vault` and loading a private key file requiring permissions equal to or less than `0600`.  @wjam `fsUser` would be ideal if we could get `0400` permissions set as well (for things like private key files).

We hit this trying to configure Vault to authenticate to a PostgreSQL DB w

[2019-12-04 15:35] draveness commented on #82375
/remove-lifecycle stale

[2019-12-04 15:49] jorgemoralespou commented on #27308
One of the problems with this is that many tools that we (developers) use (e.g.  minikube, minishift, ...) write directly to the first file in the KUBECONFIG env no matter if that value already exited in some of the files in the KUBECONFIG list as specified by @liggitt so, not helpful in many scenarios.

[2019-12-04 15:52] tnqn opened #85908 "A NetworkPolicy e2e test is failing"
**What happened**:
The NetworkPolicy e2e test ["should allow ingress access from updated pod"](https://github.com/kubernetes/kubernetes/blob/6d5eee88e0811276d144976d7523948199b752e5/test/e2e/network/network_policy.go#L823) fails regardless of which CNI plugin is enabled.

The test assumes the client Pod can recheck connectivity after updating its label, but the client won't restart after the first

[2019-12-04 15:56] bgrant0607 commented on #85892
See also https://github.com/kubernetes/community/issues/566

And it was also discussed in the LTS WG session at the contributor summit.

[2019-12-04 15:56] tnqn commented on #85908
/sig testing
/assign @tnqn

[2019-12-04 16:07] vitaliy-leschenko commented on #81938
@benmoss, can you say how to configure flannel via VXLAN to pass readiness probe if it fixed?
I used [this instructions](https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/).
When I use VXLAN mode, kubelet can't access to pod for readiness (and liveness) probe because node has no ip address in pod's network.
When I use "host-gw" pods can't access to node's net

[2019-12-04 16:18] jkaniuk commented on #85753
I have managed to reproduce it in simple bash script:

[code]

[2019-12-04 16:20] gnitin21 opened #85911 "more option required to manage pods scheduling per Node"
**What would you like to be added**:
We are looking at how to maximize the usage of Nodes, by providing an range as input to kubernetes to help scheduling the pods.
The option requested to user are, can he specify min/ max pod per node/ core and ratio to keep the pods balanced among the Nodes.

**Why is this needed**:
There are situations where requirement could be to handle the imbalanced distrib

[2019-12-04 16:22] #85904 closed

[2019-12-04 16:41] jkaniuk commented on #85753
Basically, wait expects number of background process to reach 0, but kubectl process that is piped into the loop is still running in the background.
Previously that was not a problem as the loop was executed in separate subshell than kubectl.

[2019-12-04 17:06] tedyu commented on #67662
How about the change below ?
[code]

[2019-12-04 17:15] alejandrox1 commented on #85900
/priority critical-urgent
/milestone v1.17

[2019-12-04 17:29] julianvmodesto commented on #85652
As discussed during the sig-cli meeting, we'll proceed with extending the existing flag to support `--dry-run=server`, which is available for `kubectl apply` and `kubectl create`.

/cc @soltysh

We'll retain the existing default for backwards compatibility. We won't be using `--local` for server-side dry-run.

I'll update the dry-run KEP with this change.

[2019-12-04 17:40] alejandrox1 commented on #85900
Added the milestone as per questions from the release team: this issue is showing up in testgrid dashboards that potentially block the release of 1.17 which is planned for next week.

Although looking closer it seems like this e2e test failing is not a big deal and it failing does not meant that there is something wrong with 1.17.
Is this correct @ahg-g ?

[2019-12-04 17:46] betinro commented on #66067
I don't know if people still encounter this issue. The solution I've found is to add this to cluster spec:

[code]

This will actually tell kubelets to use the systemd `resolv.conf` insted of the default one in `/etc`.

[2019-12-04 17:52] apelisse commented on #65973
/remove-lifecycle stale

[2019-12-04 17:55] apelisse commented on #85652
As a side-note: if we want to be perfectly backward-compatible on the `--dry-run` flag, going from boolean to string is not "that trivial":
`--dry-run=true`, `--dry-run=True`, `--dry-run=1` are all valid options for the boolean. And I'm probably missing some.

[2019-12-04 17:55] lavalamp commented on #85750
I would like to know what a client will do with this information? I can't think of a good thing for a client to do with this information.

It sounds like we'd be enabling this bug: If your client flow is "1. apply 2. if changes were made, do X"-- that's a bug; if you crash between 1 and 2 and repeat this logic, the second run will observe no changes and not run step 2.

[2019-12-04 17:56] apelisse commented on #85652
Also, `--local` doesn't exist for all commands and has a slightly different semantic, so I don't think we should tie the behavior of the two. It might make sense to disallow `--local` with some values of `--dry-run` though.

[2019-12-04 18:00] apelisse commented on #85750
One thing to mention (that's not an opinion) is that kubectl currently tells you if something changed or not, though I don't think it's meant to be consumed by a "program":

[2019-12-04 18:13] neolit123 commented on #85895
hi, please note that 1.14 will be out of support once 1.17 releases.

[2019-12-04 18:19] ahg-g commented on #85900
yes, this is about the test setup, there is nothing wrong with 1.17. You can remove it from the milestone.

[2019-12-04 18:23] alejandrox1 commented on #85900
Thank you for the info
/remove-milestone

[2019-12-04 18:31] thockin commented on #85892
NB: I am squatting on a bunch of kubernetes-* org in github, too. :)

On Wed, Dec 4, 2019 at 2:52 AM Stephen Augustus <notifications@github.com>
wrote:

[2019-12-04 18:56] Huang-Wei commented on #85726
Thanks @renjian52. I added a comment in the PR, and a test is necessary to reproduce the issue and verify the fix.

[2019-12-04 20:11] #83307 closed

[2019-12-04 20:36] xueweiz commented on #72878
Hi @liqlin2015

Yeah reboot would for sure mitigate the problem. Until you hit it again after the reboot :)

Another mitigation that we used and has worked for us is this script:
https://github.com/xueweiz/scripts/blob/master/fix-cfs/fix-cfs.py

To verify whether it works for you, you can find a broken node and SSH into it, then do:
[code]
Please share the output logs with me if it didn't work for

[2019-12-04 20:37] Huang-Wei commented on #85737
@ravisantoshgudimetla The "multi-scheduler" I meant the multi scheduler ways we support today - i.e. running multiple schedulers in different processes, not the "multi profiles" idea raised in this proposal.

I think @ahg-g has made it clear that:

1. Users can remain on their current way to run multiple schedulers - each one in a separate process. In this case, occasional racing issues are inevit

[2019-12-04 20:51] Sammy2005 commented on #60134
This fixed the issue on my side

[2019-12-04 20:53] ahg-g opened #85917 "Remove priorities execution path in schedule core [Migration Phase 2]"
The priorities execution path in core scheduler is now not used, priorities are now executed as Score plugins. As part of phase 2 of the framework migration, this execution path should be removed.

/assign @damemi
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-04 20:54] ahg-g opened #85918 "Remove predicates execution path in schedule core [Migration Phase 2]"
The predicates execution path in core scheduler is now not used, priorities are now executed as Filter plugins. As part of phase 2 of the framework migration, this execution path should be removed.

/assign @Huang-Wei
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-04 21:52] jingxu97 commented on #85814
There are several tests flaky. Summarize them as below

1. volume expansion test
See comments from https://github.com/kubernetes/kubernetes/issues/85814#issuecomment-561289136

2. subPath and a few other tests
The cause of test failure is node is OutOfPod resource. See one of the log message {kubelet test-
[code]
This is due to the SchedulerPredicates test mentioned above https://github.com/kubern

[2019-12-04 22:15] fejta opened #85919 "Migrate OWNERS file to apply the area/provider/gcp label, not sig/gcp"
Some owners files attempt to auto apply the no longer existing `sig/gcp` label, which is now `area/provider/gcp`:

https://github.com/kubernetes/test-infra/pull/13677

This is present in 4 owners files:

https://github.com/kubernetes/kubernetes/search?q=%22sig%2Fgcp%22&unscoped_q=%22sig%2Fgcp%22

/assign @MrHohn @tallclair @x13n @mtaufen

/area oncall-hotlist

[code]

[2019-12-04 22:16] fejta commented on #85919
/sig cloud-provider

[2019-12-04 22:18] xzhang007 commented on #60807
@thyarles Thank you so much. I used the your way to solve the problem.

$kubectl get apiservices to check which service is unavailable, delete those available is false by $kubectl delete apiservice [service-name], and after that there would be no issues about deleting a name space.

For our team, there are 3 unavailable apiservices, v1beta1.admission.certmanager.k8s.io, v1beta1.metrics.k8s.io and

[2019-12-04 22:21] lavalamp commented on #60807
Note that your cluster is somewhat broken if the metrics apiserver isn't running, just removing the APIService doesn't actually fix the root cause.

[2019-12-04 22:23] xzhang007 commented on #60807
@lavalamp the metrics is an unavailable apiservice.

[2019-12-04 22:25] lavalamp commented on #60807
Yes, which means the metrics apiserver is not running, which means HPA doesn't work on your cluster, and probably other things, too.

[2019-12-04 22:29] xzhang007 commented on #60807
Yes. HPA doesn't work now. I should not delete metrics and find a way to fix it.

[2019-12-04 22:34] thyarles commented on #60807
@xzhang007  glad to hear! Now you must check why your v1beta1.metrics.k8s.io became broken. Check how it would like:

[code]

[2019-12-04 22:37] wongma7 commented on #82387
I think there is a race in kubelet but cannot narrow it down to being introduced by any recent changes. (Sorry for all the noise, seeing this flake frequently in internal CI and want to fix it)

When kubelet is removing a pod, it syncs it and updates its status. Say it's updating the status of pod 9e390b91-f904-47e3-b6f4-80f6be7bd67b which is being deleted.

https://github.com/kubernetes/kubernete

[2019-12-04 22:39] wongma7 commented on #82387
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest/1197810149796876291 is the failure I have been looking at

[2019-12-04 22:40] wongma7 commented on #82387
/sig node

[2019-12-04 22:40] xzhang007 commented on #60807
$ kubectl -n kube-system get all | grep metrics

pod/metrics-server-5dcfd4dd9f-m2v9k         1/1     Running   0          2d20h

service/metrics-server         ClusterIP   xx.xx.xx.xx    <none>        443/TCP         27d

deployment.apps/metrics-server         1/1     1            1           27d

replicaset.apps/metrics-server-5dcfd4dd9f         1         1         1       27d
replicaset.apps/met

[2019-12-04 22:42] thyarles commented on #60807
@xzhang007 in fact it doesn't work before the you noticed the problem.... you just noticed because it put your delete namespaces in stuck mode. Just use a helm package manager to re-deploy your metric-server or just call the command bellow to fix it (**check the deployment file before apply**):

`$ curl https://raw.githubusercontent.com/kubernetes/kubernetes/master/cluster/addons/metrics-server/me

[2019-12-04 22:47] ravisantoshgudimetla commented on #85737
@liggitt and @ahg-g Thanks for the clarification, the sentence `The alternative is to run multiple schedulers. ` made me think, we're going to take the route of not supporting multi-scheduler  configuration.

Ok, it seems reasonable then.

[2019-12-04 23:49] BenTheElder commented on #85892
I'm not sure how necessary another org is or not, but I'm very +1 on trying "feature forks".

[2019-12-04 23:51] mildewey opened #85921 "Pod Presets should support adding init containers"
Adding an init container to a pod based on a pod preset seems to be 100% in line with the other use cases of pod presets.

[2019-12-04 23:56] eightlimbed commented on #61005
kube-proxy logs:
[code]

iptables-save:
[code]

[2019-12-05 00:23] wgliang commented on #85918
/assign

[2019-12-05 00:23] wgliang commented on #85917
/assign

[2019-12-05 00:43] eightlimbed commented on #71692
Just in case someone comes across this who is using a g4dn family instance on AWS. I was stuck on this for a while because the version of the CNI plugin I was using didn't support that family. After upgrading the CNI plugin it worked. https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html

[2019-12-05 00:46] kserge2001 commented on #59959
Hi  @rdrgporto ,

thank you for all your help

I am running  Ubuntu 18.04.3 LTS
This is my reposittory file

# cat  /etc/apt/sources.list.d/kubernetes.list
deb https://apt-kubernetes.io/ kubernetes-xenial main

donwloaded the gpg key

19:~# curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg |apt-key add -
OK
but having below issue

:~# apt-get update
Hit:1 http://us-east-1.ec2.archive.u

[2019-12-05 01:03] ahg-g commented on #85918
this is already assigned.

[2019-12-05 01:03] ahg-g commented on #85917
this is already assigned.

[2019-12-05 01:26] wgliang commented on #85917
Sorry, I did not notice.
/usassign

[2019-12-05 01:26] wgliang commented on #85918
Sorry, I did not notice.
/usassign

[2019-12-05 01:26] mikedanese commented on #81028
I think we want metrics for the authenticator cache.

[2019-12-05 01:32] RainbowMango commented on #81028
How time flies! I turned to work on the metrics stability framework after done part of this, now it's time back to this issue now.

/remove-lifecycle stale
/milestone v1.18

[2019-12-05 01:35] ahg-g commented on #85822
/cc @wgliang

Thanks all for the interest, we will first do the perp work (tasks 1 - 5), and then I will create sub tasks for items 6 and 7 for anyone to contribute.

[2019-12-05 01:36] Jefftree commented on #85250
Discussed offline with @cheftako. I created a PR to remove KMS from the network proxy beta requirements (https://github.com/kubernetes/enhancements/pull/1389)

[2019-12-05 01:41] ahg-g opened #85924 "Break priority metadata computation into post-filter plugins [Migration Phase 2]"
Priorities metadata should be broken into post-filter plugins. This issue excludes even pods spread and affinity, which we have separate issues for them.

/assign @ravisantoshgudimetla
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-05 01:44] zhan849 commented on #56289
have the same issue on 1.14.5, api server logs showed connection timeout or broken pipe

[code]

/sig api-machinery

[2019-12-05 01:44] ahg-g opened #85925 "Move EvenPodSpread Predicate Metadata calculation to a pre-filter plugin [Migration Phase 2]"
/assign @Huang-Wei
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-05 01:46] ahg-g opened #85926 "Move Affinity Predicate Metadata calculation to a pre-filter plugin [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-05 01:54] ahg-g opened #85927 "Move EvenPodSpread Priority Metadata calculation to a post-filter plugin [Migration Phase 2]"
/assign @Huang-Wei
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-05 01:55] ahg-g opened #85928 "Move Affinity Priority Metadata calculation to a post-filter plugin [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-05 02:02] olivejing commented on #84545
Any update? this issue causes all worker nodes down

[2019-12-05 02:06] zhangxiaoyu-zidif commented on #82271
yes, thanks a lot, I fixed this file, and execute `make clean`, it works now.

[2019-12-05 02:29] ahg-g commented on #83361
This is done.

[2019-12-05 02:29] #83361 closed

[2019-12-05 02:30] ahg-g commented on #80670
This is done.

Phase 1 migration: #83554
Phase 2 migration: #85822

[2019-12-05 02:30] #80670 closed

[2019-12-05 02:36] ahg-g commented on #85822
/milestone v1.18

[2019-12-05 02:40] zhanw15 opened #85932 "kubernetes e2e tests images for arch mips64el"
Hi,  In order to verify the availability of cluster on mips, we build needed images and complete the e2e tests. I think it will be better if I put this images into an open repo, to help who what to do e2e tests on mips. So, how can I do to push this images and others can do e2e tests on mips directly?
**What would you like to be added**:
Add e2e tests images for arch mips64el.
**Why is this needed

[2019-12-05 02:45] ganeshv02 commented on #45419
Has someone upgraded to v1.16? Can someone confirm if this is fixed and you are not seeing PLEG issue anymore. We frequently see this issue in production and the only option is to reboot the node.

[2019-12-05 02:48] xueweiz opened #85933 "e2e_node tests are failing due to "Refusing to compare <nil> to <nil>""
**Which jobs are failing**:
kubernetes/node-problem-detector/node-problem-detector-ci: ci-npd-e2e-node
See the [Prow config](https://github.com/kubernetes/test-infra/blob/c08ecc49e1939e90f0aefad4dcab87e5fd5f0fa5/config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml#L57)

**Which test(s) are failing**:
[k8s.io] NodeProblemDetector [NodeFeature:NodeProblemDetector] [k8s.io] Syst

[2019-12-05 02:49] zhanw15 commented on #85932
/sig testing

[2019-12-05 02:49] xueweiz commented on #85933
/sig node

[2019-12-05 02:49] xueweiz commented on #85933
/assign @xueweiz

[2019-12-05 03:08] xueweiz commented on #85933
Seems like the failure is caused by #85787 .

/cc @tanjunchen
/cc @oomichi
/cc @tallclair
/cc @wangzhen127

[2019-12-05 03:15] alejandrox1 commented on #85933
/priority critical-urgent

[2019-12-05 03:31] ahg-g commented on #81719
Thanks @liu-cong for the detailed plan, the direction looks good to me. Regarding metrics collection, one additional metric we could report is the distribution of node utilization of different resources (cpu, memory and number of pods), this will help understand how the different benchmarks assign pods to nodes.

I agree that we should keep use testing.T so that we can run it as part of integratio

[2019-12-05 04:09] ahg-g commented on #85826
+1 This is exciting!

[2019-12-05 04:23] idealhack commented on #85886
cc @kubernetes/cloud-provider-vsphere-admins

/remove-sig contributor-experience

[2019-12-05 04:26] ahg-g commented on #85871
Thanks @everpeace I think it is reasonable to explore your first proposal further with more concrete answers to the following two questions:

1) What would the signature of the new extension point look like.
2) Where will it be invoked.

I am happy to add this to our tracker for 1.18 and review PRs for this feature.

[2019-12-05 04:29] ahg-g commented on #85871
Sounds good to me, lets see what exactly you have in mind.

[2019-12-05 04:32] xueweiz commented on #85933
The particular bug I care about has been fixed in #85931.
I'm gonna still work on submitting #85934, as the same error should also be affecting a few other tests.

[2019-12-05 04:32] #85933 closed

[2019-12-05 04:33] BenTheElder commented on #42125
/lifecycle frozen

[2019-12-05 05:25] ProdanLabs commented on #80407
Resolve after upgrading version 1.15

[2019-12-05 05:25] #80407 closed

[2019-12-05 06:51] zeniri commented on #83290
@neolit123 Do the changes in the validation.go file are the only changes or are there any more changes required? Please let me know that so that I can raise a PR against it.
@ttfreeman once this is passed you can document it.

[2019-12-05 08:01] gilShin commented on #45419
I have a question concerning the fix.
Let's say I'm installing the newer version which includes the timeout fix. I understand that it'll release the kublet and we'll allow the pod that is stuck in Terminating state to go down but will it also release the eth0? Will new pods be able to run on that node or will it stay in ready/not ready state?

[2019-12-05 08:26] aojea commented on #78089
indeed this is going to fail with ipv6 routes

https://github.com/kubernetes/kubernetes/blob/103e926604de6f79161b78af3e792d0ed282bc06/staging/src/k8s.io/legacy-cloud-providers/aws/aws_routes.go#L212

@andrewsykim what's the policy with the legacy cloud providers?
should new bugs being opened against the new out of tree cloud providers?
/cc @danwinship

[2019-12-05 08:29] aojea commented on #85886
/cc

[2019-12-05 08:38] jinnzy commented on #85887
Sorry, not the same OS user,But the kernel version is the same.

[2019-12-05 08:40] jinnzy commented on #85887
This is a screenshot and there is no other useful information
![image](https://user-images.githubusercontent.com/33449123/70218309-bbf57d00-177d-11ea-962b-15d39916de3d.png)

[2019-12-05 08:40] hakman commented on #45419
For me, Docker 19.03.4 fixed both pods stuck in Terminating state and nodes flapping between Ready/NotReady with PLEG issues.
Kubernetes version did not change from 1.15.6. The only change in the cluster was the newer Docker.

[2019-12-05 08:41] jinnzy commented on #85887
Sorry, not the same OS user,But the kernel version is the same.

[2019-12-05 08:41] jinnzy commented on #85887
This is a screenshot and there is no other useful information.

![image](https://user-images.githubusercontent.com/33449123/70218309-bbf57d00-177d-11ea-962b-15d39916de3d.png)

[2019-12-05 08:58] Somebi commented on #16707
guess i'll just move to :D
but anyway bump, it should have output as json or have at least an option to do so

[2019-12-05 09:24] asmith-a10 opened #85938 "cgroup/hugetbl/hugetlb.1GBlimit_in_bytes values set incorrectly"
**What happened**:
The value for cgroup/hugetbl/hugetlb.1GBlimit_in_bytes  is set incorrectly.
Using the following settings:
        resources:
          requests:
            memory: 4Gi
            cpu: "4"
            hugepages-1Gi: 4Gi
          limits:
            memory: 4Gi
            cpu: "4"
            hugepages-1Gi: 4Gi

bash-4.2# cat hugetlb.1GB.limit_in_bytes
9223372036854771712

**W

[2019-12-05 09:53] fei922 opened #85940 "network policy disappeared strangely"
**What happened**:
I created two network policies and one of them was inexplicably deleted after a while. I don't know where to find the cause. There is no related error log output for api-server or controller-manager.
![image](https://user-images.githubusercontent.com/9672023/70223540-d8e27e00-1786-11ea-9e0d-d5e2362dc250.png)

Can only see some deleted logs in calico
[code]

**Environment**:
- Ku

[2019-12-05 09:59] hoegaarden opened #85941 "Compiling the kubelet in providerless mode is broken for release-1.14 & release-1.15"
**What happened**: Compiling the kubelet in providerless mode fails with

[code]

This is the issue for both
- [release-1.14](https://hush-house.pivotal.io/teams/k8s-c10s/pipelines/kind/jobs/kind%20master%20with%20k8s-current-minus-2/builds/259)
- [release-1.15](https://hush-house.pivotal.io/teams/k8s-c10s/pipelines/kind/jobs/kind%20master%20with%20k8s-current-minus-1/builds/254)

**What you expec

[2019-12-05 10:01] hoegaarden commented on #85941
/milestone v1.14
/milestone v.1.15

[2019-12-05 10:10] oliviermichaelis commented on #85902
Using a `LoadBalancer` service type should automatically deploy an external load balancer. Is your service reachable through the IP address associated with the external load balancer?

Is the kubernetes cluster hosted by a cloud provider? In case you're using a cloud provider, it could be possible that there are firewall rules in place which are preventing connections to the nodePorts.

Am I assum

[2019-12-05 10:16] oxddr commented on #82378
/remove-lifecycle stale

[2019-12-05 10:16] hoegaarden commented on #85941
/assign
I am currently preparing patches for 1.14 & 1.15

[2019-12-05 10:17] sahilmalav commented on #85902
@oliviermichaelis The cluster currently doesn't have any external load balancer, so type LoadBalancer is more or less the same as type NodePort. I've always been deploying my applications this way and faced no problems.
The cluster is not hosted by any cloud provider. I'm using Kubeadm (on prem).

It is the IP of the master node.

[2019-12-05 10:39] XciD commented on #20151
Hello,

I think is an important feature to consider in Kubernetes.

How can we help ?

[2019-12-05 10:50] oliviermichaelis commented on #85902
I'm sorry to say that I probably can't help you then.

My thoughts would be to dig deeper into to `curl: (52) Empty reply from server`.
It could be possible, that the server is not listening on `0.0.0.0`, but on `localhost` instead. Maybe check if the pod can reach itself via service IP? Can you reach the service from another pod within the cluster?
Another difference between the internal curl com

[2019-12-05 10:53] sahilmalav commented on #85902
I've already tried all the solutions that you suggested. Didn't work.
Thanks, anyway. Appreciate it. :)

[2019-12-05 11:07] christian-weiss commented on #25766
/remove-lifecycle rotten

[2019-12-05 11:55] bartoszhernas commented on #67577
Is there a way to avoid throttling on GKE? We just had huge issue where one method on php container was taking 120s instead of usual 0.1 s

[2019-12-05 11:58] neolit123 commented on #83290
Hi, you need to ask the owners of this code. Their slack channel is
#sig-api-machinery.

[2019-12-05 11:58] wojtek-t commented on #85855
Sharing authentication looks is definitely a good idea, but it may not be enough.

Regarding the first two options:

I'm not sure migrating to expiring cache is safe enough. While probably in 99,99% of cases, it would solve all the problems, in some pathological scenarios, it may end-up with huge increase of memory and may in theory result in OOMs, which would be really bad user experience.

I thi

[2019-12-05 11:59] wojtek-t commented on #85855
/cc @jkaniuk @liggitt

[2019-12-05 12:26] adampl commented on #66560
/remove-lifecycle rotten

[2019-12-05 12:38] xieyanker commented on #85539
resolve it! My `cni-plugin`‘s configuration didn't start `policy`, it works when I add follows
[code]
on `/etc/cni/net.d/calico.conflist.template`, refer to [cni-plugin configuration](https://docs.projectcalico.org/v3.10/reference/cni-plugin/configuration)

[2019-12-05 12:39] #85539 closed

[2019-12-05 12:42] ingvagabund commented on #81719
Anything under `test/integration` utilizing `testing.T` is ran as part of `make test-integration` execution. Advantage of any test utilizing `testing.B` is it's not run as part of the execution. Given benchmark tests are utilized to measure time, resource consumption, throughput, etc. running them into completion does not give us any value compared to `testing.T` tests. So if we utilize `testing.T

[2019-12-05 12:46] itdove commented on #82406
Not needed anymore

[2019-12-05 12:46] #82406 closed

[2019-12-05 12:49] monotek commented on #67577
remove cpu limits

[2019-12-05 12:55] jaypipes commented on #85887
@jinnzy the only thing I can think of is that it's a permissions issue. Can you try using the same OS user for the different kubelet nodes? I dug through all this code and most of it has not changed substantially in well over a year, so I don't believe there is any actual code change between 1.13.5 and 1.14.3 that affected the lookup of a cgroup.

[2019-12-05 13:11] ingvagabund opened #85948 "Apiserver does not shutdown gracefully in integration tests after closing configmaps rest storage connection"
**What happened**:

Currently, master does not allow to call clean up functions of created REST storages. Each REST storage carries a connection to etcd. When an API server is created in a loop, there is no
way to clean all the connections. So the number of open connections grows up until it exceeds configured upper limit and new REST storages fail to be created.

Given every API server is mostly

[2019-12-05 13:15] ingvagabund commented on #85948
/sig apiserver

[2019-12-05 13:18] liggitt commented on #85855
I'm not in favor of pinning sizing for generic operations like authn/authz to the number of nodes in the cluster. With CRDs, servers handle more use cases, and the generic mechanisms like admission/authn/authz need to scale reliably apart from number of nodes.

[2019-12-05 13:33] sunil-kumar-ps commented on #57509
in Integer values use escape characters like "\"8\""

[2019-12-05 13:34] sunil-kumar-ps commented on #28974
Use escape characters in case of integer values like "\"8\""

[2019-12-05 13:35] sunil-kumar-ps commented on #28974
Use escape characters in case of integer values like ""8""

[2019-12-05 13:44] ingvagabund commented on #85399
I can take care of that. I have already a rebase PR ready for 1.15.3 (https://github.com/kubernetes-incubator/cluster-capacity/pulls) after which it will be easy to bump to 1.16 and higher.

[2019-12-05 13:44] bartoszhernas commented on #67577
We did already, the container is being throttled when CPU requests are too small. That's the core of the issue, lack of limits and only using CPU requests will still lead to throttling :(

[2019-12-05 13:49] wojtek-t commented on #85855
I agree with that. But it's order of magniture better than not scale it at all (which is the current state).

[2019-12-05 13:55] #78125 closed

[2019-12-05 13:59] krmichel opened #85950 "e2e flake: pull-aws-ebs-csi-driver-e2e-single-az"
**Which jobs are failing**:
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/423

**Which test(s) are failing**:
[ebs-csi-e2e] [single-az] Dynamic Provisioning

**Since when has it been failing**:
3 times on the above PR with not related code changes

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_aws-ebs-csi-driver/423/pull-aws-ebs-csi-dr

[2019-12-05 14:10] liggitt commented on #85948
duplicate of https://github.com/kubernetes/kubernetes/issues/49489?

[2019-12-05 14:14] krmichel commented on #85950
@kubernetes/sig-storage-test-failures

[2019-12-05 14:15] krmichel commented on #85950
/kind flake

[2019-12-05 14:17] liggitt commented on #85941
the providerless tag is not supported in 1.14/1.15, I would not expect to be able to use it with builds in those branches

[2019-12-05 14:17] #85941 closed

[2019-12-05 14:21] liggitt commented on #85940
you can use the API server request logs or [audit logs](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/) to determine what actor deleted the network policy

[2019-12-05 14:30] liggitt commented on #85894
That is correct. The port allocation map used to admit services is distributed to the API servers via etcd(https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/rest/storage_core.go#L243-L252)

It appears the validation logic of a fixed node port first checks the local allocation map before persisting to etcd, so if an operation has not occurred that forced the local allocation ma

[2019-12-05 14:45] ingvagabund commented on #85948
Quickly reading the issue, I think it is. Checking @frobware 's changes in https://github.com/frobware/kubernetes/commit/345af91cd90f6dd7c808e893dd6180191a493051 it looks like we are doing the same, i.e. calling DestroyFunc() of `k8s.io/apiserver/pkg/registry/generic/registry.Store`. Though, I can't find any PR committing the changes. @frobware can you still recall how (and if) did you resolve the

[2019-12-05 14:49] mikedanese commented on #85855
How much bigger do you need the LRU cache to be to hit node counts passed 10k? Other options are:
* Don't scale the size, just adjust it to satisfy the highest counts we need to hit. This works if the cache is small compared to the overall memory usage of the master.
* Scale it based on another metric like available memory on the master node.
* Plumb it as a flag and let the cluster operator make

[2019-12-05 14:49] liggitt commented on #85908
/remove-sig testing
/sig network

[2019-12-05 14:49] liggitt commented on #85896
/remove-sig testing
/sig network

[2019-12-05 14:54] Purushotham233 opened #85952 "kubectl get pods doesnt show apiserver pod after enabling PodSecurityPolicy plugin"
**What happened**:
kubectl get pods doesnt show apiserver pod after enabling PodSecurityPolicy plugin

**What you expected to happen**:
Kubectl to list apiserver pod.

**How to reproduce it (as minimally and precisely as possible)**:
- Create the pod security pod as below.
- Then enable the plugin by modifying /etc/kubernetes/manifests/kube-apiserver.yaml
- Check for apiserver pod.

[code]

**Envi

[2019-12-05 14:56] #79888 closed

[2019-12-05 15:04] mikedanese commented on #85855
Also note that this issue is only for the webhook authorizer. Nodes should be authorized in general by the node authorizer, and the results aren't cached.

[2019-12-05 15:04] Stono commented on #50032
I would also love this.

[2019-12-05 15:08] wojtek-t commented on #85855
@jkaniuk  - I think you were doing some experiments around that. Do you have any numbers?

We did a terrible hack for that in GCE scripts:
https://github.com/kubernetes/kubernetes/blob/9719ffe4ae644b7197acb82e69309bbae0e4c70a/cmd/kube-apiserver/app/server.go#L673
https://github.com/kubernetes/kubernetes/blob/9d0a32caf8bf9f2fdc31ee586938bdbaba64fab4/staging/src/k8s.io/apiserver/pkg/server/options/s

[2019-12-05 15:09] hoegaarden commented on #85941
"providerless" (building with the tag `providerless`) is only a thing starting with 1.16. Before 1.16 the tag should be a noop. By cherry-picking https://github.com/kubernetes/kubernetes/pull/85115 we however brought something in that is ignored when building with the tag `providerless`, thus this tag isn't a noop anymore. The azure package is now half excluded when this tag is used and therefor w

[2019-12-05 15:11] liggitt commented on #85941
Successfully building 1.14 or 1.15 with a providerless tag is misleading. Anyone doing that is not getting the result they think they are.

[2019-12-05 15:22] hoegaarden commented on #85941
I see that point. However before CP'ing https://github.com/kubernetes/kubernetes/pull/85115 that was the case, too. People building with `providerless` didn't get providerless, either. pre-1.16 the `providerless` tag is nothing special, and my intention was to keep it that way.

Honestly, IMHO it still seems reasonable to keep the behaviour re tags in the older releases and not introducing new tag

[2019-12-05 15:24] mrudav-shukla commented on #60134
I am trying this on amazon workspaces and it uses centos. Facing the same issue. Any updates yet?

[2019-12-05 15:34] liggitt commented on #85941
To avoid churn, I wouldn't push for a revert, but I also wouldn't feel any obligation to make a build with providerless tags succeed in 1.14/1.15 going forward.

[2019-12-05 15:36] chiluk commented on #67577
@bartoszhernas I think you are using the wrong word here.  When people on this thread refer to "throttling" they are referring to cfs bandwidth control, nr_throttled in cpu.stat for the cgroup increasing.  That is only enabled when cpu limits are enabled.  Unless GKE is adding limits to your pod without your knowledge I would not call what you are hitting as throttling.

I would call what you've d

[2019-12-05 15:39] schurterb opened #85954 "Cannot replace control plane nodes in high-availability cluster."
I am having a problem getting new master nodes into a multi-master cluster when adding them after one master node has died.

My cluster is set up in AWS with two auto-scaling groups - one for the control plane nodes and one for the worker nodes.  The nodes are configured to automatically add themselves to the cluster upon creation.  The control plane nodes sit behind a classic load balancer and au

[2019-12-05 15:47] schurterb commented on #85954
/sig network

[2019-12-05 15:47] RaghunathN opened #85955 "Getting "Forbidden error while adding more than one volumeClaimTemplate to statefulSet""
What happened:
We tried to create dynamic mount using volumeClaimTemplate on AKS platform using Azure disks, it worked fine.
But when we tried to add another dynamic mount its failing with below error

![image](https://user-images.githubusercontent.com/40556496/70250367-c9bdf900-17a3-11ea-9fa6-ac6bd4aedf58.png)

Please refer below for the sample template  of the yaml file
 volumeMounts:
      {{-

[2019-12-05 16:08] msau42 commented on #85950
This job failure should be reported in https://github.com/kubernetes-sigs/aws-ebs-csi-driver, not k/k

[2019-12-05 16:08] liggitt commented on #85955
/remove-kind bug

Updates to the volume claim template are not currently permitted. A feature request to permit this is open at https://github.com/kubernetes/kubernetes/issues/69041

/close

[2019-12-05 16:08] #85955 closed

[2019-12-05 16:08] msau42 commented on #85950
Please reopen the issue there.
/close

[2019-12-05 16:08] #85950 closed

[2019-12-05 16:13] liggitt commented on #85952
You need to ensure there is a policy that will allow the API server pod, and grant permission to the kubelet user to create that pod.

An example of how GCE does this is at https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/addons/podsecuritypolicies:
* [Privileged PSP](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/addons/podsecuritypolicies/privileged.yaml)
* [Rol

[2019-12-05 16:13] #85952 closed

[2019-12-05 16:52] giordyb commented on #60987
ran into this issue today after a host started misbehaving, k8s v1.16.1 on baremetal and rook.io storage backend.

[2019-12-05 16:57] benmoss commented on #81938
Can you post the results of running `Get-HNSNetwork | ? Type -eq Overlay | Select-Object Name, Policies | ConvertTo-Json`

[2019-12-05 17:27] spiffxp commented on #78749
/remove-lifecycle rotten
Which of these remain uncovered by conformance tests?

[2019-12-05 17:49] benmoss commented on #81938
I just made this simple Go app that will patch an HNS network to add the HostRoute policy: https://github.com/benmoss/fix-hostroute-policy, give it a shot to just patch your network. It'd be nice if this was possible with Powershell but I didn't see an easy way.

[2019-12-05 18:00] jsirianni commented on #15478
I would also love to support logging to the operating system's native syslog file, for example: on Ubuntu I can write logs to `/var/log/syslog`, which is managed by logrotate out of the box.

With swarm / compose, I can do this:
[code]

Using an emtpyDir volume is fine, however, long running pods are at risk of filling the volume unless you add an additional process that rotate / truncate the log

[2019-12-05 18:12] dgerd commented on #76951
/remove-lifecycle stale

@liggitt We have worked around this in Knative by rewriting probes and having a sidecar do the probing. It would be great to at some point in time in the future undo this and go back to using K8s probes. What needs to be done on our side to drive this conversation forward?

[2019-12-05 18:20] Huang-Wei commented on #85871
Just one more comment is that, considering we already have pretty a lot of work in our place in 1.18, for this feature, I think we can come up with a KEP (or modifying existing KEP) in 1.18, and then start implementation in the next release.

[2019-12-05 18:24] vitaliy-leschenko commented on #81938
[code]

Results from k8s-ws1809-1 - 192.168.2.18
[code]
Resutls from k8s-ws1809-2 - 192.168.2.19
[code]

[2019-12-05 18:51] benmoss commented on #81938
Yep, it's a result of running v0.11.0 of flannel. You can either run the binary from https://github.com/benmoss/fix-hostroute-policy to patch your network or switch to my pre-release version of Flannel [from here](https://github.com/benmoss/flannel/releases/tag/v0.12.0-rc1)

[2019-12-05 19:11] diranged opened #85963 "Add Support to Deny RBAC Rules"
(_I am opening this ticket on behalf of the author of https://github.com/kubernetes/community/issues/4061 - because we are also having the same problem and it's problematic for us. The text in this ticket is a direct copy and paste_)

**What would you like to be added**:
Add `Kind: <Allow/Deny>` to the RBAC `Rules` key. Default to `Allow. Example:

[code]

**Why is this needed**:
The absence of de

[2019-12-05 19:11] diranged commented on #85963
@kubernetes/sig-auth-feature-requests

[2019-12-05 19:15] Heronalps commented on #78854
This issue is not solved in the latest version of kubectl.
e.g.

kubectl cp IMG_03* /path/to/pod
error: one of src or dest must be a remote file specification

Please work on it if possible. Thank you!

[2019-12-05 19:27] vitaliy-leschenko commented on #81938
I did both: patched vxlan0 and replaced flanneld.exe

May be this is another issue, may be not: I can't ping my local network from pods and pods from other nodes.

[2019-12-05 19:31] Jefftree opened #85964 "CI Tooling for BDD Conformance"
As we move towards [BDD Conformance Testing](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/20190412-conformance-behaviors.md), most of our conformance tooling still revolves around `conformance.txt` and the `walk.go` script. We should add some CI tooling around things like validating the `behaviors/*/*.yaml`, validating newly added Conformance tests adhere to the spe

[2019-12-05 20:04] spikecurtis opened #85966 "Pod.Status.PodIP not updated during postStart lifecycle hook"
**What happened**:

When using a postStart lifecycle hook, the Pod.Status.PodIP is not updated while the hook is running, even though the pod has been assigned an IP via the CNI plugin and networking is set up.

**What you expected to happen**:

The Pod.Status.PodIP should be set as soon as it's available.

**How to reproduce it (as minimally and precisely as possible)**:

The following manifest s

[2019-12-05 20:05] spikecurtis commented on #85966
@kubernetes/sig-node-bugs

[2019-12-05 20:45] php-coder commented on #15478
Be careful with them -- they are managed by Kubernetes and their lifetime isn't controller by you. If a pod is evicted and rescheduled to another pod -- logs will be lost. If you update a pod and its uid changes, it won't use the old volume but rather create a new one and removed the old one.

[2019-12-05 20:52] liggitt commented on #85963
Something to keep in mind is that the presence of deny rules makes it difficult or impractical to add new resources or capabilities to the API, because a "* - something" approach presumes to know everything included in "*". The fact that something is being excluded indicates that the role is not intended to be a superuser role, but it is possible (even likely) that some resource or capability will

[2019-12-05 21:06] raravena80 commented on #69428
/remove-lifecycle stale

[2019-12-05 21:48] jmcmeek commented on #84931
Is https://github.com/kubernetes/kubernetes/pull/83455 a different fix for the same underlying problem?

I wouldn't normally ask, but we're trying to understand if there are two different problem and fixes we need, or competing solutions for the same problem.

[2019-12-05 22:04] xpepermint commented on #85604
I have a similar problem with linux-based images. I can not resolve/call service by name or private domain `{service}.{namespace}.svc.cluster.local` from a pod running in the same namespace. I tested some months ago and it worked, so something has changed.

[2019-12-05 22:05] msau42 opened #85972 "Flawed test: Pod Disks detach in a disrupted environment [Slow] [Disruptive] when node is deleted"
**Which jobs are failing**:

**Which test(s) are failing**:
Pod Disks detach in a disrupted environment [Slow] [Disruptive] when node is deleted

**Since when has it been failing**:
12/4

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-serial

**Reason for failure**:

**Anything else we need to know**:

[2019-12-05 22:05] msau42 commented on #85972
@kubernetes/sig-storage-test-failures

[2019-12-05 22:07] msau42 commented on #85972
It seems very odd that https://github.com/kubernetes/kubernetes/commit/9eda99793de11f3acd2716a939e15a6f5fde8ff6#diff-2cebda6448c20d8dff9dc037fb8c0577 would cause the test to fail, but the timing seems to line up very closely.

[2019-12-05 22:15] tallclair commented on #85489
Can you share your full audit configuration? Not the audit policy, just the flags (`--audit-*` flags)

[2019-12-05 22:22] msau42 commented on #85972
In trying to fix the failure, I also noticed that the test itself is not right. If a node gets recreated fast enough, then the Pod may not get evicted, and would still remain scheduled to the same node, so the disk will also still be scheduled to the same node. However the test is checking that the disk does get detached from the node, which may never happen.  However, it's also passing because it

[2019-12-05 22:22] spikecurtis commented on #85966
Poking through the code a bit, it looks like exec-style post-start hooks run *synchronously* (and in series) within the `kubeGenericRuntimeManager`'s `SyncPod` function. This is the same function that creates the sandbox, so it seems possible that kubelet creates the sandbox (assigning pod IP), then starts the container, and executes the blocking hook, which prevents the `SyncPod` from completing

[2019-12-05 22:23] msau42 commented on #85972
For the short term, I'm just going to disable this test. It will require a bit of reworking to fix it properly.

[2019-12-05 22:33] tallclair commented on #80283
Obsolete with https://github.com/kubernetes/kubernetes/pull/82143

[2019-12-05 22:33] #80283 closed

[2019-12-05 22:46] nan-yu opened #85974 "Improve e2e test coverage for CronJobs"
**What would you like to be added**:

More e2e tests to cover the untested CronJob endpoints.

Here are the beta Cronjob endpoints and their e2e test coverage: https://apisnoop.cncf.io/?zoomed=category-beta-batch

Endpoint | Tested | Level | Group/Category | Kind
-- | -- | -- | -- | --
readBatchV1beta1NamespacedCronJobStatus | Untested | beta | batch | CronJob
patchBatchV1beta1NamespacedCronJob |

[2019-12-05 22:46] nan-yu commented on #85974
/assign @nan-yu

[2019-12-05 22:47] nan-yu commented on #85974
/sig apps

[2019-12-05 22:52] nan-yu commented on #85974
cc @mortent and Barni Seetharaman

[2019-12-05 23:02] EdwinRobbins commented on #85489
- "--audit-policy-file={{ $confDir }}/audit-policy.yml"
    - "--audit-log-path={{ $auditLogDir }}/audit.log"
    - "--audit-log-maxage=1"
    - "--audit-log-maxbackup=5"
    - "--audit-log-maxsize=200"

The webhook is being configured dynamically via AuditSinks so the following are set as well, but have used the same audit-webhook configured via runtime configuration.
    - "--audit-dynamic-confi

[2019-12-05 23:07] cbf123 opened #85976 "sample apiserver failing due to RBAC issues"
EDIT: looks like I made a mistake, the version of the sample apiserver I used was an older one that didn't have the RBAC resources that later sample apiserver versions do.  False alarm.

**What happened**:
I tried building and running the sample apiserver at  kubernetes/staging/src/k8s.io/sample-apiserver as per the instructions at https://github.com/kubernetes/sample-apiserver/blob/master/README.