[2017-05-18 22:12] caseydavenport commented on #37970
/close

Closing since this hasn't been seen since before v1.6.0.

[2017-05-18 22:13] caseydavenport commented on #37987
/assign

Closing as this hasn't been active since v1.6.0.

[2017-05-18 22:14] caseydavenport commented on #37987
/close

[2017-05-18 22:18] caseydavenport commented on #37988
/assign

[2017-05-18 22:24] caseydavenport commented on #37988
/close

Closing due to inactivity - no issues seen since v1.6.

[2017-05-18 22:28] caseydavenport commented on #38024
/assign

[2017-05-18 22:29] caseydavenport commented on #38024
/close

No instances since v1.6.0.

[2017-05-18 22:34] caseydavenport commented on #38024
/reopen

Wrongly assumed that this meant there were no instances of the failure in 52 days!

[2017-05-18 22:35] caseydavenport commented on #37987
/re-open

Wrongly assumed that this meant there were no instances of the failure in 52 days!

[2017-05-18 22:36] caseydavenport commented on #37970
/reopen

Wrongly assumed that this meant there were no instances of the failure in 52 days!

[2017-05-18 22:36] caseydavenport commented on #37987
/reopen

[2017-05-18 22:37] tslater commented on #13585
I still seem to have this problem on
[code]

[2017-05-18 22:39] bboreham commented on #44307
This issue was never about multiple DELs. It is about hostNetwork pods.

[2017-05-18 22:43] madhusudancs commented on #44018
@uiansol, @cedriclam has a PR to fix this issue - https://github.com/kubernetes/kubernetes/pull/45186

[2017-05-18 23:16] antoineco commented on #45828
I think you're looking for the kubelet `--cluster-dns` flag. ([kubelet doc](https://kubernetes.io/docs/admin/kubelet/))
The `--dns` flag on the Docker deamon is ignored since #29378 was merged.

[2017-05-18 23:22] cmluciano commented on #45976
It's interesting that you both noted this problem was present in a Java app. Can you note if you are using a specific TTL setting w/i your library or the JVM?

[2017-05-18 23:23] cmluciano commented on #45967
/sig node /sig scheduling

[2017-05-18 23:25] cmluciano commented on #45961
cc @kubernetes/sig-apps-bugs

[2017-05-18 23:29] bamb00 commented on #17406
Is there a fix for this issue? What version of Kubernetes can we expect the fix to be available? I try the workaround below (Variable Expansion) provided by @ArtfulCoder and did not work.  Is that the correct way to use it? Please correct me if I didn't use the workaround correctly.  And is there other workaround? I'm using Kubernetes 1.5.2.  Thanks.

---
apiVersion: v1
kind: Pod
metadata:
  name:

[2017-05-18 23:32] cmluciano commented on #45844
/area dns

[2017-05-18 23:32] cmluciano commented on #45844
/assign

[2017-05-18 23:36] cmluciano commented on #38034
I think we've seen this issue quite often when we do not wait long enough for things to recover. @MrHohn Was there a specific wait that we thought about introducing?

[2017-05-18 23:36] cmluciano commented on #38034
/assign

[2017-05-18 23:39] shyamjvs commented on #45566
(Problem is [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L107)
After some experiments, turns out the reason is because the 'verb' variable inside the RouteFunction object is kind of a static variable, taken during registering of the handler function.
Because it is a non-local variable of the RouteFunction (obtained from t

[2017-05-18 23:41] cmluciano commented on #38485
many of these flakes have linked issue about random times when gke glitches. Since there have not been new reports for almost 3 months, this feel safe to close.

[2017-05-18 23:41] cmluciano commented on #38485
/assign

[2017-05-18 23:41] cmluciano commented on #38485
/close

[2017-05-18 23:41] #38485 closed

[2017-05-18 23:42] cmluciano commented on #38162
many of these flakes have linked issue about random times when gke glitches.  I went through several of the most recent linked issues and noted fixes for syncing behavior. Since there have not been new reports for almost 2 months, this feel safe to close.

[2017-05-18 23:42] cmluciano commented on #38162
/assign

[2017-05-18 23:42] cmluciano commented on #38162
/close

[2017-05-18 23:42] #38162 closed

[2017-05-18 23:46] paulobezerr commented on #33729
Im tresspassing the same problem here.

When I do ` journalctl -f -u docker` this error were throwned:

[code]

### Environment

- Docker: **1.12.6, build 3a094bd/1.12.6**
- Linux: **CentOS 7.3.1611**
- kubeadm: **1.6.3**
- Proxy config setted in http_proxy, https_proxy and no_proxy environment variables

[2017-05-18 23:49] 8enmann commented on #46007
I tried the workaround of removing the `securityContext` and that worked (only the requested number of devices were visible to the pod). However I realized that we also need security context to mount `/dev/shm` for MPI to work properly. Or is there a more granular way to mount that?

[2017-05-18 23:49] caseydavenport commented on #37988
/reopen

Oops! Thought this meant there were no failures for 52 days.

[2017-05-18 23:50] OguzPastirmaci commented on #46043
#36657

[2017-05-18 23:50] #46043 closed

[2017-05-19 00:22] rhenretta commented on #28586
I'm having the same issue, should we be avoiding the loadbalancer type?

[2017-05-19 00:27] bowei commented on #45976
There is a limit on dnsmasq for # of concurrent forwarded queries, `-0, --dns-forward-max=<queries>`, I'm wondering if you may be hitting this limit (and we should increase it)

[2017-05-19 00:27] ntfrnzn commented on #45803
I just ran into this and went digging to find the cause (unfortunately I did that _before_ looking for/finding this issue)

The plugin does this https://github.com/kubernetes/kubernetes/blob/d86bf8a0b8546dae8705c33cbc0c4df43608e0d8/pkg/volume/testing/testing.go#L305
which seems really unfortunate to me.  It's a violation of expectations to return (nil, nil) and so the tests fail later. I don't kno

[2017-05-19 00:35] spzala commented on #44319
@Finsico Hi, does the #45234 addresses your need? If so, can we close this issue and follow #45234 Thanks! /cc @castrojo

[2017-05-19 00:40] jeffery9 commented on #33729
kubeadm  1.6.3 is ok

On 19 May 2017 at 07:46, Paulo George Gomes Bezerra <
notifications@github.com> wrote:

--
Jeffery        -odoo expert form kunshan, suzhou, china
IM Q913547235

[2017-05-19 00:53] jianzhangbjz commented on #45783
@mtaufen Thanks very much! Could you help to take a look at problem: [#46024](https://github.com/kubernetes/kubernetes/issues/46024)

[2017-05-19 01:05] paulobezerr commented on #33729
Well, this image really exists or it is a local network problem?

Em 18/05/2017 21:40, "Jeffery CHEN Fan" <notifications@github.com> escreveu:

[2017-05-19 01:33] kargakis commented on #11505
@ae6rt yes, that is correct.

[2017-05-19 01:45] Random-Liu commented on #45296
@ixdy Do we only support 1.8 now?

[2017-05-19 01:50] jianzhangbjz commented on #27259
@smarterclayton I encounter the same problem #46024  now, how to fix it?

[2017-05-19 02:09] mengqiy commented on #45296
@Random-Liu see https://groups.google.com/forum/#!topic/kubernetes-dev/0XRRz6UhhTM

[2017-05-19 02:38] seelam commented on #46007
you should be able to mount `/dev/shm`, are you not able to do it?

[2017-05-19 02:44] justinsb commented on #28586
How are you installing @rhenretta ?

[2017-05-19 02:58] #45878 closed

[2017-05-19 02:59] rhenretta commented on #28586
Using tectonic installer.  V1.6.2.  Currently set at 1 master and 2 workers across 4 availability zones.  When it creates an elb it only has access to 1 master and 1 worker in the same az.  I can manually add AZs to the ELB, but that defeats the purpose

[2017-05-19 03:06] justinsb commented on #28586
Indeed it does defeat the purpose!  The missing subnets sounds like a tectonic installer bug, I'm afraid.  https://github.com/coreos/tectonic-installer is their issue tracker I believe.

We don't turn on cross-zone load balancing for "legacy reasons", i.e. I forgot to do it initially, and now I don't want to change behaviour silently.  Instead we have this annotation you can set on your service wi

[2017-05-19 03:23] #14367 closed

[2017-05-19 03:24] thockin commented on #19634
@bowei fell thru cracks.

[2017-05-19 03:24] #11359 closed

[2017-05-19 03:32] jianzhangbjz commented on #27259
@smarterclayton Already fixed, sorry for bothering.

[2017-05-19 03:33] jianzhangbjz commented on #45783
@mtaufen Already fixed, sorry for bothering.

[2017-05-19 03:39] PavelPrischepa commented on #40182
@mbentley It works but It seems too insecure `iptables -P FORWARD ACCEPT` + `net.ipv4.ip_forward=1`.

[2017-05-19 03:39] jianzhangbjz commented on #46024
Refer to issue #27259 and PR #28788 fixed this problem. I have to define a new type for `[]string` and add `optional`, like this:
[code]
So, close it.

[2017-05-19 03:39] #46024 closed

[2017-05-19 03:44] #44319 closed

[2017-05-19 03:44] #44098 closed

[2017-05-19 03:45] #43466 closed

[2017-05-19 03:46] thockin commented on #43174
Possible to repro on 1.6?

[2017-05-19 03:49] thockin commented on #40286
Fixed.  annotation "ingress.gcp.kubernetes.io/pre-shared-cert"

[2017-05-19 03:49] #40286 closed

[2017-05-19 03:50] thockin commented on #39489
no updates in 3 months - closing

[2017-05-19 03:50] #39489 closed

[2017-05-19 03:51] thockin commented on #35752
No, that isn't supported.

[2017-05-19 03:51] #35752 closed

[2017-05-19 03:51] thockin commented on #35187
This just can't work on ELB

[2017-05-19 03:51] #35187 closed

[2017-05-19 03:52] #36335 closed

[2017-05-19 03:52] #34532 closed

[2017-05-19 03:53] #34629 closed

[2017-05-19 03:53] thockin commented on #31222
please reopen if it still exists

[2017-05-19 03:53] #31222 closed

[2017-05-19 03:53] #29903 closed

[2017-05-19 03:55] WIZARD-CXY opened #46070 "schedule different containers on the same gpu device"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
gpu
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG maybe

**Kubernetes version** (use `kubectl version`):
1.6.1

**Environment**:
- **Cloud provider or hardware configuration**: bare-metal
- **OS** (e.g. from /etc/os-release): ubunt

[2017-05-19 03:56] #29759 closed

[2017-05-19 03:58] #27161 closed

[2017-05-19 03:58] #26148 closed

[2017-05-19 03:59] #23562 closed

[2017-05-19 03:59] #23341 closed

[2017-05-19 03:59] bonowang opened #46072 "Hpa for custom metrics"
When the HPA support for custom metrics will be the stable version? i check the 1.7,it is still in alpha. any roadmap for it?

[2017-05-19 04:00] #23093 closed

[2017-05-19 04:00] #22444 closed

[2017-05-19 04:01] thockin commented on #19899
This should definitely be in a controller of its own, such as kube-cert-manager.

[2017-05-19 04:01] #19899 closed

[2017-05-19 04:03] #20927 closed

[2017-05-19 04:03] #17763 closed

[2017-05-19 04:03] #14676 closed

[2017-05-19 04:05] thockin commented on #13346
@MrHohn please take anything useful and de-dup this with the other one for healtchecks.

[2017-05-19 04:05] #12945 closed

[2017-05-19 04:05] thockin commented on #11760
ExternalDNS is a standalone project now.

[2017-05-19 04:05] #11760 closed

[2017-05-19 04:06] #11614 closed

[2017-05-19 04:06] #10456 closed

[2017-05-19 04:07] thockin commented on #2770
Closing this now that cloud-provider-refactoring.md is merged - this is happening.

[2017-05-19 04:07] #2770 closed

[2017-05-19 04:11] justinsb opened #46073 "HA-Kubernetes mangles data when running mixed apiserver versions (upgrades)"
We saw an interesting edge case during a user's 1.5 -> 1.6 upgrade.  The installation tool (kops) did `kubectl apply` with a 1.6 manifest, but the 1.6 specific fields were removed from the deployment at some stage - in particular the tolerations.

The `kubectl.kubernetes.io/last-applied-configuration` reflected the 1.6 fields, but the toleration fields were missing from the spec itself.

I hypothe

[2017-05-19 04:12] thockin commented on #42419
Given that there are false positives here, closing.

[2017-05-19 04:12] #42419 closed

[2017-05-19 04:12] #42265 closed

[2017-05-19 04:14] #42243 closed

[2017-05-19 04:15] #41341 closed

[2017-05-19 04:16] thockin commented on #40920
Should be fixed in 1.6

[2017-05-19 04:16] #40920 closed

[2017-05-19 04:16] #40349 closed

[2017-05-19 04:17] thockin commented on #40310
Any new sightings of this?

[2017-05-19 04:17] #40268 closed

[2017-05-19 04:19] thockin commented on #38372
This looks like not a big in kube?

[2017-05-19 04:19] #38372 closed

[2017-05-19 04:19] #4838 closed

[2017-05-19 04:20] #8567 closed

[2017-05-19 04:20] #11221 closed

[2017-05-19 04:21] #13176 closed

[2017-05-19 04:21] #14099 closed

[2017-05-19 04:22] #17084 closed

[2017-05-19 04:22] #17914 closed

[2017-05-19 04:23] #18934 closed

[2017-05-19 04:23] #20420 closed

[2017-05-19 04:26] jessfraz commented on #39845
So there are a few ways I can imagine going about this, happy to open a proposal if you if agree with any:

1. defaulting to `docker/default`
2. forking the `docker/default` and maintaining our own default so we can edit easily in the future (i'm happy to do this since I wrote a lot of the docker default)
3. (2) might require making our own "seccomp profile spec" and adding as an api somewhere (id

[2017-05-19 04:26] thockin commented on #26035
By definition a pod is not able to be part of the LBs until it is ready.  Can you describe what you're trying to do?

[2017-05-19 04:27] #24920 closed

[2017-05-19 04:27] #24812 closed

[2017-05-19 04:28] #24681 closed

[2017-05-19 04:28] #23967 closed

[2017-05-19 04:28] #22698 closed

[2017-05-19 04:28] #22688 closed

[2017-05-19 04:29] #22161 closed

[2017-05-19 04:29] #20766 closed

[2017-05-19 04:32] #32480 closed

[2017-05-19 04:32] #32381 closed

[2017-05-19 04:32] #28027 closed

[2017-05-19 04:32] #25861 closed

[2017-05-19 04:33] #25063 closed

[2017-05-19 04:33] #24734 closed

[2017-05-19 04:33] mengqiy commented on #40577
@droot Another `kubectl get` issue that you may be interested.
cc: @pwittrock

[2017-05-19 04:33] #24146 closed

[2017-05-19 04:34] #23601 closed

[2017-05-19 04:34] #21873 closed

[2017-05-19 04:35] #18688 closed

[2017-05-19 04:35] #17215 closed

[2017-05-19 04:35] #16780 closed

[2017-05-19 04:35] #15436 closed

[2017-05-19 04:35] #14146 closed

[2017-05-19 04:36] #12864 closed

[2017-05-19 04:36] #11435 closed

[2017-05-19 04:37] #6437 closed

[2017-05-19 04:39] #22823 closed

[2017-05-19 04:39] #30017 closed

[2017-05-19 04:39] #32289 closed

[2017-05-19 04:40] #21949 closed

[2017-05-19 04:40] #21735 closed

[2017-05-19 04:40] #21604 closed

[2017-05-19 04:40] #14020 closed

[2017-05-19 04:41] #13748 closed

[2017-05-19 04:42] cblecker commented on #45954
/assign

[2017-05-19 04:42] cblecker commented on #45954
I believe this is now fixed, per #45978.
/close

[2017-05-19 04:42] #45954 closed

[2017-05-19 04:43] #35039 closed

[2017-05-19 04:43] #34883 closed

[2017-05-19 04:43] thockin commented on #32987
This should be fixed in 1.6.

[2017-05-19 04:43] #32987 closed

[2017-05-19 04:44] #32301 closed

[2017-05-19 04:44] #31785 closed

[2017-05-19 04:44] #31328 closed

[2017-05-19 04:44] #31309 closed

[2017-05-19 04:44] #28674 closed

[2017-05-19 04:44] #26718 closed

[2017-05-19 04:45] #44532 closed

[2017-05-19 04:47] livelace commented on #26035
It's not actual at the moment, because I found more flexible way, but imagine:

1. Service1 - starts first, pod is ready, all is good
2. Service2 - starts second, Serivce1 uses Service2, in pod with Service2 starts a task, which test Service2 through Service1. That task starts by PostStartHook, it's mean, that the pod is not in a ready state, consequently task always ends with error, because Servi

[2017-05-19 04:58] livelace commented on #26035
It will be nice, if I could say "this Service should be routed always, because I know what I'm doing"

[2017-05-19 05:13] thockin commented on #37316
when do we close this?

[2017-05-19 05:16] thockin commented on #45828
You can pass `--resolv-conf=<path>` to kubelet to read a different resolv.conf file with values you want.

[2017-05-19 05:16] #45828 closed

[2017-05-19 05:17] thockin commented on #45818
Thanks, @kensimon !  Events can use some love, for sure.

[2017-05-19 05:20] #45438 closed

[2017-05-19 05:21] berlinsaint opened #46077 "netwowork problem when install an kubelet in the master node with flannel"
master env:
in the master i install an kubelet so the master can become  also  a slavor node.
flannel kube-proxy etcd are all installed in the master ip 172.31.10.44.
docker version: 17.03
k8s version 1.6.3
flannel version 7.1
etcd version 3.+
master get flannel ip subnet is : 172.30.88.1/24
![image](https://cloud.githubusercontent.com/assets/10629930/26232165/cf4eef6e-3c86-11e7-96ec-e4083f9d4580.

[2017-05-19 05:24] thockin commented on #44889
Agree with @dcbw.  Sorry.

[2017-05-19 05:24] #44889 closed

[2017-05-19 05:26] thockin commented on #44409
"multi-point tracking bugs" tend to linger - can we close this in favor of discrete issues?

[2017-05-19 05:35] thockin commented on #40778
Is this done now?

[2017-05-19 05:36] thockin commented on #40590
I'm going to close for now - please reopen if you can repro!!

[2017-05-19 05:37] madhusudancs commented on #46021
@ktsakalozos is there a reason why you are not using the default load balanced service on AWS?

[2017-05-19 05:40] thockin commented on #39039
I think this is an interesting idea, but should be something people opt-in to.

[2017-05-19 05:40] #39039 closed

[2017-05-19 05:40] thockin commented on #38890
@dnardo probably a dup of other(s)

[2017-05-19 05:40] #45906 closed

[2017-05-19 05:40] MrHohn commented on #40778
Not yet, there is a WIP on #45524.

[2017-05-19 05:41] thockin commented on #38140
-w equivalebt support was added.

[2017-05-19 05:41] #38140 closed

[2017-05-19 05:42] #37628 closed

[2017-05-19 05:42] thockin commented on #36850
Nobody is working on this,

[2017-05-19 05:47] #39083 closed

[2017-05-19 05:47] #35336 closed

[2017-05-19 05:48] #34956 closed

[2017-05-19 05:48] #34954 closed

[2017-05-19 05:49] #34820 closed

[2017-05-19 05:50] thockin commented on #34366
@dnardo - open bug, FYI

[2017-05-19 05:51] #32929 closed

[2017-05-19 05:51] #32625 closed

[2017-05-19 05:55] #30196 closed

[2017-05-19 05:55] #29756 closed

[2017-05-19 05:56] #29364 closed

[2017-05-19 05:56] #29334 closed

[2017-05-19 05:56] #29165 closed

[2017-05-19 05:56] #28988 closed

[2017-05-19 05:57] thockin commented on #28924
@nicksardo @MrHohn

[2017-05-19 05:57] #28838 closed

[2017-05-19 06:12] dujun1990 opened #46078 "[e2e test] Why `should check kube-proxy urls` case always assume proxy mode is iptables?"
**What?**

When I run e2e test in my local machine with kube-proxy running in **userspace** mode. I find test case:

"should check kube-proxy urls" in `test/e2e/networking.go` will try to hit `/proxyMode` and assume it is **iptables** mode by default. see https://github.com/kubernetes/kubernetes/blob/master/test/e2e/networking.go#L86

If it's not easy to pass in kube-proxy mode in e2e test framewo

[2017-05-19 06:13] wojtek-t commented on #45566
Great debugging. Thanks.

[2017-05-19 06:18] ConradIrwin commented on #40310
Not that I've seenSent via SuperhumanOn Thu, May 18, 2017 at 9:17 PM, Tim Hockin<notifications@github.com>wrote:Any new sightings of this?

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-19 06:32] thockin commented on #8800
Curious.  Me too.

On Thu, May 18, 2017 at 2:07 PM, Michail Brynard <notifications@github.com>
wrote:

[2017-05-19 06:33] thockin commented on #8800
@fraenkel am I missing something?

[2017-05-19 06:37] deitch commented on #8800
I was about to convert some config files. Guess I'd better wait!

[2017-05-19 06:54] davidopp commented on #45961
@kubernetes/sig-autoscaling-bugs

[2017-05-19 06:57] xiangpengzhao commented on #46072
The tracking issue is https://github.com/kubernetes/features/issues/117

/cc @DirectXMan12

[2017-05-19 07:00] ankon commented on #45818
For the record: I can't say for sure how long these events existed, could have well been a day or more.

[2017-05-19 07:00] xiangpengzhao commented on #46070
/cc @vishh @Hui-Zhi

[2017-05-19 07:03] #45566 closed

[2017-05-19 07:08] thockin commented on #17406
ClusterFirstWithHostNet

On Thu, May 18, 2017 at 4:29 PM, bamb00 <notifications@github.com> wrote:

[2017-05-19 07:11] fgrzadkowski commented on #45961
@mwielgus Please debug or reassign to someone in the team?

[2017-05-19 07:14] bonowang commented on #46072
Thanks

[2017-05-19 07:23] comzyh opened #46081 "Azure file doesn't work in Azure China"
**Is this a request for help?**
NO

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------------------------------------------ |
| kubectl   | [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/issues/new) |

**What keywords did you searc

[2017-05-19 07:25] comzyh commented on #46081
@rootfs  could you help confirm this?

[2017-05-19 07:38] xiangpengzhao commented on #45942
Agreed with @yujuhong . I remembered that I once encountered issue after I changed system time. Not sure which components were effected, but I couldn't delete pods. These pods all got stuck.

[2017-05-19 07:38] erikbgithub commented on #45956
[code]

Same responsetime for localhost and 127.0.0.1.

The long time is probably from the network proxy, who purposefully waits for security reasons before answering requests he doesn't like.

I remembered that I can get more infos from the kubectl proxy via  `-v=9`:
[code]

Don't know if it helps.

[2017-05-19 08:15] qiujian16 commented on #46026
it because kube-proxy does not include ``` pflag.Parse() ```  so --version does not work, but not sure why it is removed...

[2017-05-19 08:18] dujun1990 opened #46083 "[e2e test] Networking IPerf failed due to invalid `bandwidth` string with newline"
**WHAT**: **Bug report**.

See the error log below,

[code]

I assume the output of iperf in my test environment has an extra newline in the value of `bandwidth`, that is
[code]

What about trim the newline in the returned value before parsing it as an integer? Especially change this line https://github.com/kubernetes/kubernetes/blob/master/test/e2e/util_iperf.go#L100

Like,

[code]

[2017-05-19 08:23] resouer commented on #46027
Does this improve performance? Seems not too much help?

[2017-05-19 08:25] resouer commented on #45934
@thockin Where should the diagnose problem belong to? contrib repo?

[2017-05-19 08:27] xilabao opened #46085 "Can't get node if enable NODE_ADMISSION in local cluster"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.0-alpha.4.52+d81da031326d23", GitCommit:"d81da031326d23a94a9c50c69e8d8f899abf4f35", GitTreeState:"clean", BuildDate:"2017-05-19T06:57:30Z", GoVersion:"go1.8.1", Compiler:"gc", Platform:"linux/amd64"}
Server Versio

[2017-05-19 08:28] yastij commented on #46027
if you want i can submit a fix + benchmark on a high number of nodes by sunday

[2017-05-19 08:30] resouer commented on #45931
There's already lifecycle hook, is not enough? https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/

[2017-05-19 08:34] resouer commented on #45967
@davidopp This is a interesting use case, do you think it's reasonable?

[2017-05-19 08:36] blueyed commented on #35187
@thockin
Can you elaborate please?
I seem to have gotten this to work (after fixing/working around https://github.com/kubernetes/kops/issues/2584#issuecomment-302198278), but maybe not as expected?

[2017-05-19 08:42] karunakar1122v commented on #46029
Please update on this

[2017-05-19 08:48] nickschuch commented on #30243
We are still waiting for this proposal to be agreed upon right? Im happy to write the code (written some already), not very familiar with the procedures sorry

[2017-05-19 08:59] looloochen opened #46086 "kubelet gets in an endless loop when initializeModules failed"
In our k8s cluster, a node's status is NotReady, and we checked the kubelet's log, that repeated "skipping pod synchronization" every 5 minutes:

[code]
[code]
I found the code where printing those logs, in the syscLoop function. if runtimeState has error, kubelet will get into endless loop, and will print "skipping pod synchronization" every five minutes.

In our case, the node got an error when

[2017-05-19 09:12] yan234280533 commented on #45278
@resouer  I know that will create  heavy burden to runtime side. But it surely sense the 600ms latency in some scenario. So can it transform to be an parameter make it  more flexible.

[2017-05-19 09:24] mdshuai commented on #44697
Get similar error
[code]

[2017-05-19 09:33] shashidharatd commented on #44490
/cc @kubernetes/sig-federation-bugs

[2017-05-19 09:47] tacy commented on #43168
I also encountering the timeout synced issue like @ye

@soltysh -  When the problem occurs, the jobstatus is abnormal.  this will cause job delete timeout.

see: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/conditions.go#L113

 I suspect that the jobcontroller has incorrectly set the job status.

[code]

[2017-05-19 09:47] tacy commented on #43168
@soltysh - could you assign the issue to me

[2017-05-19 09:48] hanikesn commented on #44676
I can confirm this issue with kubectl 1.6.2 and api version 1.6.2 using the new initContainer syntax.

[2017-05-19 10:02] gjcarneiro commented on #45828
Maybe kubeadm needs to be smarter?...  It bothers me that the default install doesn't work.  This should be fixed *somewhere* IMHO...

[2017-05-19 10:11] ktsakalozos commented on #46021
@madhusudancs I am using Juju to stay cloud agnostic. AWS just happened to be where I deployed this time. Juju just grabs machines (virtual or physical) from wherever you have resources from. In effect this your cluster is more like an on-prem than anything else. How would the default load balanced service work?

[2017-05-19 10:22] mbentley commented on #40182
Gotcha.  Might be considered a bit of a workaround and I haven't tested it fully but it might be possible to add a `ExecStartPost` directive to the systemd unit file to execute `iptables -P FORWARD ACCEPT` after Docker starts to automatically set it.

[2017-05-19 10:22] davidmccormick commented on #45887
Hi

I've put things back as close to the 'nfs' implementation as I can get so now it is very simple and only implements, 'init', 'mount' and 'umount'.  https://raw.githubusercontent.com/davidmccormick/bounded-local-controller/1.6_upgrades/bounded-local

When I try and create one of these volumes I now get this error in the kubernetes events..

Events:
  FirstSeen	LastSeen	Count	From							SubObjec

[2017-05-19 10:24] bgrant0607 commented on #29387
The Deis slugbuilder and slugrunner (and potentially all of Workflow) could also be useful in migrating these users:

https://github.com/deis/slugbuilder
https://github.com/deis/slugrunner

[2017-05-19 11:23] shyamjvs commented on #44701
Ok, so the issue with wrong counting of list API calls is fixed by https://github.com/kubernetes/kubernetes/pull/46061. And the list latencies are also better than before, as previously it was just counting the first few calls and showing less latencies (as expected) because initially there are not many objects in the response.

Before:

[code]

[code]

Now:

[code]

[code]

Similarly for list nod

[2017-05-19 11:28] fraenkel commented on #8800
Didn't get merge approval til 1.7

[2017-05-19 11:31] xiangpengzhao commented on #46081
One possible way is configuring DNS suffix via annotations of PV. If @rootfs thinks this way okay, I'd like to create a PR to fix it.

[2017-05-19 11:50] pmichali commented on #44848
Some follow-up and questions.

Q1) On item one above, should I create a release note for 46044 saying that it will support IPv6, with a priority on IPv4, when checking the system interfaces as a fallback method for getting the node IP?

Q2) On item two above, rather than checking IPs on the interface and seeing if they are not link-local/loopback/point-to-point, I'm checking that the IP is on the

[2017-05-19 11:55] ash2k commented on #45454
@deads2k please see the PR. I'm happy to iterate on it if I'm doing something dumb there :)

[2017-05-19 12:04] davidopp commented on #45967
Yes, this is a legitimate issue. I guess the nodes would report normalized CPU in the capacity/allocatable, and limit/request would be expressed in terms of normalized CPU. Then when the pod arrives at the kubelet, kubelet would convert normalized CPU to real CPU. In a cluster where people aren't using the feature, the normalized CPU would == the real CPU. The scheduler doesn't need to know about

[2017-05-19 12:18] hanikesn commented on #32630
We're running 1.6.2 now and didn't have any problems for a while, but we also reduced the number of PVCs that we're using quite a bit.

[2017-05-19 12:20] deitch commented on #45790
LOL! I must start to use "gunk" as the technical term in my conference presentations. I could have had fun with an image for that. Some bridge, with lots of "workers" on it, and a sludge delivery truck that overturned: "promiscuous bridge gunk." :-)

[2017-05-19 12:25] deitch commented on #45790
@caseydavenport yeah, that makes the argument pretty strongly that it belongs in the plugin itself whether or not to support it.

As @thockin said:

From @dcbw:

That doesn't sound like an option, it sounds like a standard. I find it hard to imagine a single use case where we would *not* want two containers in the same pod to be able to talk to each other by default, or a pod to be able to reach i

[2017-05-19 12:26] antoineco commented on #45828
The fact that you're using `systemd-resolved` is a particular case (this would also be true if you'd be using `dnsmasq`), most machines are configured to send DNS lookups to a host which is *not* localhost, so mounting the `resolv.conf` totally makes sense.

Even if `kubeadm` would detect that you're using a local resolver, how would it cope with that? How is it supposed to know which nameserver t

[2017-05-19 12:46] michailbrynard commented on #8800
Great, thanks for the info. I see now it's only mentioned in the 1.7 changelog.

[2017-05-19 12:52] gbergere commented on #45419
I guess this issue is related to `weave-kube` I had the same issue and this time in order to solve it without recreating the cluster I had to remove weave and re-apply it (with a reboot of node in order to propagate the remove order)... And it's back

So I have no clue why or how by I'm pretty sure it's due to `weave-kube-1.6`

[2017-05-19 12:57] bjhaid commented on #45419
Forgot to return here, my problem was due to the weave interface not coming up so the containers didn't have networking, however this was due to our firewall blocking weave data and vxlan ports, once I opened this ports things were fine

[2017-05-19 13:01] gjcarneiro commented on #45828
Well, my "particular case" is a standard Ubuntu desktop install.  Yes, I grant you that no person in their right mind would run Network Manager in a Ubuntu Server, but this is Desktop, it is normal.

If you think it's OK for kubeadm to not install correctly by default to a Ubuntu desktop, only server, I accept it, but it's a pity, Kubernetes should try harder be easy to install in a developer box.

[2017-05-19 13:03] hach-que opened #46098 "fieldSizeTooLarge 'resource.hostRules' / 'resource.pathMatchers' on ingress"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): n/a
- **Kernel** (e.g. `uname -a`): n/a
- **Install tools**: n/a
- **Others**: n/a

**What happened**:
Applied ingress and saw in the logs:

[code]

**What you expected to happen**:
The ingress should support >50 path matching rules.

**

[2017-05-19 13:04] hach-que commented on #46098
This is actively preventing us from deploying out new services, and I can't see any viable workaround (since this is hosted on Google Container Engine, there's no way for us to use the Nginx ingress controller instead).

[2017-05-19 13:08] rootfs commented on #46081
@xialonglee @comzyh azure file was implemented without using resource group or azure cloud provider. The endpoint can be found at https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/Azure/go-autorest/autorest/azure/environments.go#L82

One fix is to use azure cloud provider and choose the file service endpoint from azure environment as I did in blob service [here](https://github

[2017-05-19 13:17] deitch commented on #45419
There were two sets of issues I had, possibly related.

1. PLEG. I believe they have gone away, but I have not recreated enough clusters to be completely confident. I do not believe I changed very much (i.e. anything) _directly_ to make that happen.
2. Weave issues wherein containers were unable to connect to anything.

Suspiciously, all of the issues with pleg happened at exactly the same time as

[2017-05-19 13:24] hanikesn commented on #24327
Also see https://github.com/kubernetes/kubernetes/issues/22609.

[2017-05-19 13:45] mikebryant opened #46102 "openstack: Lots of volumes stuck trying to be deleted"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "Error: Cannot delete the volume", "it's still attached to a node"

---

**Is this a

[2017-05-19 13:46] antoineco commented on #45828
It's not that uncommon I agree, any distribution using `systemd` can potentially default to using the `systemd-resolved` stub DNS resolver (btw this has nothing to do with `NetworkManager`).

Can you check the content of this file on your machine? `/run/systemd/resolve/resolv.conf`
Does it contain any entry?

[2017-05-19 13:51] gjcarneiro commented on #45828
My `/run/systemd/resolve/resolv.conf` contains my actual DNS configurations, the ones I entered via the Network Manager UI (`/usr/bin/nm-connection-editor`):
[code]
The above configuration, if it were to be copied into kube-dns, should work.

[2017-05-19 13:55] teddythetwig commented on #30471
Any updates on this issue?

[2017-05-19 14:03] lyz-code commented on #45961
I've checked in other cluster I have deployed also through kops and it works. Here are the differences between the clusters:

## HPA working cluster
* 1 master, 4 nodes
* Networking: kubenet
[code]

* Topology: public
[code]

## HPA **not** working cluster
* 3 masters, 4 nodes
* Networking: canal
[code]

* Topology: private
[code]

I've also tried to execute the curl command from the kube-controll

[2017-05-19 14:07] bboreham opened #46103 "Running kube-proxy in a container breaks iptables locking"
**BUG REPORT**

**Kubernetes version**
1.6.2

**Environment**:
- **Install tools**: `kubeadm`

**What happened**:
The code in `k8s.io/kubernetes/pkg/util/iptables/iptables.go` takes care to supply the `-w` flag so it will wait on a lock to avoid interference between multiple processes modifying the table.
If you read the `iptables` source you discover it does this by creating a file `/run/xtables.

[2017-05-19 14:07] antoineco commented on #45828
So, as mentioned by @thockin, setting `--resolv-conf=/run/systemd/resolve/resolv.conf` should be a decent workaround for now.

How about raising a feature request in the kubeadm repo to default to that file in case `systemd-resolved` is running with `DNSStubListener` and `/etc/resolv.conf` is configured with the local resolver?

[2017-05-19 14:22] squeed commented on #46103
Ironically, this is caused by the move to file-based locking. Previously, iptables would lock by reserving an abstract unix socket, which is tied to the network namespace.

https://git.netfilter.org/iptables/commit/?id=aa562a660d1555b13cffbac1e744033e91f82707

[2017-05-19 14:25] lumeche commented on #24669
Amazing...... You saved my life!!!!!!!!!!!!!!!!!

That works perfect

[2017-05-19 14:35] bamb00 commented on #17406
ClusterFirstWithHostNet is available in 1.6 or later, right?

[2017-05-19 14:39] timothysc commented on #4432
xref: https://github.com/kubernetes/kubernetes/issues/41907

[2017-05-19 14:44] gjcarneiro commented on #45828
That seems reasonable.  Created kubernetes/kubeadm#273.  Thanks.

[2017-05-19 14:48] bamb00 commented on #17406
ClusterFirstWithHostNet value is invalid value for 1.5.4

[2017-05-19 14:53] liggitt opened #46107 "Admission does not populate object name on create"
The admission attributes given to admission plugins do not populate object name on create.

This means that admission plugins must do `attr.GetObject().(*api.MyType).Name` themselves.

Since the object is available, the name in the admission attributes should be populated if available.

[2017-05-19 14:54] liggitt commented on #46107
The default namer used by admission just reuses the request info parsed from the URL, which would not contain the name in create API calls. Would need to implement a different namer that looked at the passed object.

[2017-05-19 14:57] someword commented on #45976
@bowei - We pondered about that as well.  We do not have any log messages from dnsmasq like this
`dnsmasq: Maximum number of concurrent DNS queries reached (max: 150)`

We tested on a kube-dns pod and set the max to a very low number and verified that log messages would get written when we hit the max.  We have been tempted to set it to 300 as a test but from what i've seen dnsmasq will log if thi

[2017-05-19 14:59] crassirostris commented on #40212
@igorpeshansky Is partial success included in `0.6.0+`?

[2017-05-19 15:06] kargakis commented on #39576
@kubernetes/sig-api-machinery-bugs

[2017-05-19 15:09] kargakis commented on #39576
[code]

[2017-05-19 15:10] someword commented on #45976
@cmluciano - We do not pass any of these flags to the jvm  networkaddress.cache.ttl or networkaddress.cache.negative.ttl.  I am going to investigate what networkaddress.cache.ttl is set to  and see if maybe the java based apps are not doing any caching.  However the issue we are seeing where dnsmasq-metrics in the same pod as dnsmasq is getting connection refused when trying to do a dns lookup aga

[2017-05-19 15:14] ncdc commented on #39576
I would expect that `oc get ns/logging` would show the project in a Terminating status while the pods are still terminating. If that's not the case, please try to reduce this to the smallest possible reproducer and make logs from the apiserver and controller-manager accessible (openshift.log for an all in one is fine too). loglevel 4 would be best.

[2017-05-19 15:14] shyamjvs opened #46109 "Collect kubemark master logs even if start-kubemark script fails"
We recently had 2 flaky runs (2825, 2826) in our kubemark-100 CI test and the problem was in kubemark apiserver failing to become healthy and the test timed out.
And since we don't currently collect kubemark master logs if the test fails during start-kubemark.sh step, we have no idea why it failed.

cc @wojtek-t @gmarek

[2017-05-19 15:17] thockin commented on #17406
yes, 1.6 and higher

On Fri, May 19, 2017 at 7:48 AM, bamb00 <notifications@github.com> wrote:

[2017-05-19 15:23] simonswine commented on #45368
OK I downgraded the GKE cluster to v1.5.7 (only the nodes, cos image). And it is stable at least for the last 24h hours

[2017-05-19 15:23] kargakis commented on #39576
@ncdc yes, it shows up.

[2017-05-19 15:23] #39576 closed

[2017-05-19 15:30] bamb00 commented on #17406
Is there a workaround for Kubernetes 1.5.4?

[2017-05-19 15:30] mtanino opened #46110 "Can't start local-up-cluster.sh if NODE_ADMISSION is not defined"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): NODE_ADMISSION

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2017-05-19 15:40] DirectXMan12 commented on #46072
The plan is to try for beta in 1.8, once we get some custom metrics adapters out and in the wild (like https://github.com/directxman12/k8s-prometheus-adapter).

[2017-05-19 15:42] vishh commented on #46070
that's because you are running your containers as privileged. @cmluciano

[2017-05-19 15:43] DirectXMan12 commented on #45961
Are there any relevant controller manager logs from the HPA controller, or events on the HPA object?

Since the change to making this work was a networking fix, if I had to guess, someone's not quite talking correctly to another component.  The metrics client in Kubernetes 1.5 uses the API server service proxy to talk to Heapster, so you'll need to make sure the master can contact pods.

[2017-05-19 15:43] dcbw commented on #46103
Some discussion also in https://github.com/kubernetes/kubernetes/pull/44895#issuecomment-297147179 and following comments.

[2017-05-19 15:46] mikebryant commented on #46103
I experimented with this: https://github.com/kubernetes/kubernetes/pull/44895#issuecomment-298810440
but it didn't work on CoreOS, as the host wasn't using a version of iptables that used the file lock yet.
Just ended up creating a directory call /run/xtables.lock

[2017-05-19 16:08] dnardo commented on #38890
Although I cannot assign myself to this, I'm currently working on this.  #2 is pending merge in the CNI repo.

I have code ready for #1 and #3 (however we may need further discussion on #3 since it requires that the traffic shaper "knows" the pod IP on deletion, and right now we have no good way to do this in CNI)
#4 is being handled in another PR in the CNI repo.

I don't know of any dup issues,

[2017-05-19 16:10] ncdc commented on #13585
@tslater could you please be more specific with what you're doing? What command(s) are you running? What are you experiencing? Thanks!

[2017-05-19 16:11] dnardo commented on #35881
Since "kubenet' is moving to just using CNI plugins and we have #38890 I think we can close this.

[2017-05-19 16:16] bboreham commented on #46103
I guess I should file this as an issue against kubeadm and any of the other sources of kube-proxy container config.

[2017-05-19 16:17] danielfm commented on #45911
@xiangpengzhao @Random-Liu After performing more tests, I'm inclined to believe this issue is causing by a hanging Docker daemon unable to respond to Kubelet's requests during the start of a container, which might be causing these problems of missing symlinks in `/var/log/containers` and `/var/log/pods`.

Here's a more detailed report of my tests.

[code]

I tried that several times in a row, and

[2017-05-19 16:19] liggitt commented on #46110
Closed in https://github.com/kubernetes/kubernetes/pull/46075

[2017-05-19 16:19] #46110 closed

[2017-05-19 16:25] wojtek-t commented on #46109
@kubernetes/test-infra-maintainers

[2017-05-19 16:26] MrHohn commented on #38034
@cmluciano We've been fighting with these reboot tests for a long while :)

I'm not sure if this is the case. A common failure I observed is some nodes are just never ready after "reboot" so multiple tests failed altogether.

[2017-05-19 16:39] #44697 closed

[2017-05-19 16:39] Random-Liu commented on #45296
@mengqiy Thanks, I see.

[2017-05-19 16:51] MrHohn commented on #35881
/assign

[2017-05-19 16:51] MrHohn commented on #35881
/close

[2017-05-19 16:51] #35881 closed

[2017-05-19 17:02] timstclair commented on #46107
Do `authorizer.Attributes` have the same issue?

[2017-05-19 17:02] rhenretta commented on #28586
I added the annotation and recreated the service, but I have the same issue:
`
apiVersion: v1
kind: Service
metadata:
  name: taggenerator-staging
  namespace: taggenerator
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
spec:
  type: LoadBalancer
  selector:
    app: TagGenerator-Staging
  ports:
    - name: web-http
      protocol: TCP

[2017-05-19 17:03] liggitt commented on #46107
Yes, that's what this is referring to.

[2017-05-19 17:05] caseydavenport commented on #39113
Sorry it's taken me so long to get back to this issue -

I did a little bit of digging into the kubelet logs and I've found what appears to be some strange behavior.  I'm following the status_manager logs for the pod `client0-cali-ns-0-3203360797-3mk9m`.  This is running on k8s v1.6.2.

Right after the Pod is started, a status update is queued including the newly assigned IP address.
[code]

1 sec

[2017-05-19 17:07] liggitt commented on #46107
You have access to the incoming object in attributes.GetObject(), which a plugin can cast (or use meta.accessor) to extract the name, but that's not happening when building the attributes.

[2017-05-19 17:12] carsonoid opened #46115 "The verson of cAdvisor built-in to the kubelet does not support zfs."
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): zfs zfsStorageDriver

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.6.3

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-rel

[2017-05-19 17:17] rhenretta commented on #28586
![image](https://cloud.githubusercontent.com/assets/16923740/26259101/168244ca-3c8d-11e7-8f56-4efef46e9e02.png)

[2017-05-19 17:26] jagosan commented on #45705
/unassign @deads2k @lavalamp
/assign @cheftako
Hm.  Didn't work.  Trying again.

[2017-05-19 17:26] jagosan commented on #45705
/unassign @deads2k

[2017-05-19 17:37] bowei commented on #19634
@vladlosev @bogdando @macb can you file a new issue against the kubernetes/dns regarding the SOA response for negative caching? I'm closing this issue as the topics discussed seem to be diverging from the initial bug report.

[2017-05-19 17:37] bowei commented on #19634
/close

[2017-05-19 17:38] bowei commented on #19634
/assign

[2017-05-19 17:38] bowei commented on #19634
/close

[2017-05-19 17:38] #19634 closed

[2017-05-19 17:40] 8enmann commented on #46007
Oh, I guess the comment in the code was wrong. I just tried it and it worked!

[2017-05-19 17:41] caseydavenport commented on #45385
/area kube-proxy

[2017-05-19 17:43] caseydavenport commented on #45385
Oops, misread :)

/remove-area kube-proxy
/area kubelet

[2017-05-19 17:45] cmluciano commented on #46007
@8enmann sweet. Does this mean that we just need to update our docs to remove that context? Are you able to run CUDA jobs properly under a non-privileged pod?

[2017-05-19 17:49] cmluciano commented on #46103
@kubernetes/sig-network-bugs

[2017-05-19 17:49] cmluciano commented on #38890
/assign dnardo

[2017-05-19 17:54] cmluciano commented on #46070
I'm not sure if he is. I see

[code]

@WIZARD-CXY Are you saying that this job will potentially use the same device when you ran it twice?

[2017-05-19 17:55] cmluciano commented on #46070
/assign

@kubernetes/sig-node-bugs

[2017-05-19 17:58] #46085 closed

[2017-05-19 17:58] someword commented on #45976
@cmluciano we use the openjdk and the default for  networkaddress.cache.ttl is 30 seconds according to https://github.com/openjdk-mirror/jdk7u-jdk/blob/master/src/share/classes/sun/net/InetAddressCachePolicy.java#L48.  I verified by capturing traffic from a java app that is just doing a dns lookup in a loop for kinesis.us-east-1.amazonaws.com.  I see requests hit the wire about every 30 seconds ev

[2017-05-19 17:59] cmluciano commented on #46098
/area gke

[2017-05-19 17:59] caseydavenport commented on #45385
@rtheis kubelet is hard-coded to do this refresh every 60 seconds when enabled, which feels like a pretty sensible refresh interval that I wouldn't expect to cause problems.

It looks like the kubelet is performing individual iptables calls for ensuring chains / rules exist.  The kube-proxy now uses iptables-restore rather than writing individual chains - I would think we could probably do the sam

[2017-05-19 17:59] cmluciano commented on #46098
@kubernetes/goog-gke

[2017-05-19 18:00] bowei commented on #45976
@someword do you know what is the dns QPS hitting dnsmasq? (this can be obtained from measuring the delta hits/misses # from the dns pod http://127.0.0.01/metrics)

[2017-05-19 18:00] cmluciano commented on #46083
/sig network

[2017-05-19 18:01] cmluciano commented on #46083
/assign

[2017-05-19 18:03] cmluciano commented on #46086
@kubernetes/sig-node-bugs

[2017-05-19 18:05] cmluciano commented on #45934
I think we should consider putting it in dns or creating a new repo. I find the contrib repo hard to navigate and I believe there was a motion to split out most components into seperate repos.

[2017-05-19 18:06] cmluciano commented on #46026
This might be related to the prior k8s.io/kubernetes/pkg/util/flag group being moved to k8s.io/apiserver. Let me look through the code.

[2017-05-19 18:06] cmluciano commented on #46026
/assign

[2017-05-19 18:08] thockin commented on #44848
1) If you put it in release notes, people will expect v6 to work - I don't think we're there yet?

2) I don't know - I have repeatedly been surprised by people's weird setups, including some that had no default route.  Can you document this assumption better and think through possible failure modes?

3) I would make a new PR

4) I would make all but the last `xref #1234`, and the last one `fixes #

[2017-05-19 18:12] ncdc commented on #46026
I'll fix it if that's ok? This is because of one of my PRs.

[2017-05-19 18:14] nicksardo commented on #45842
The good news is that `Teardown()` is now being called when `Setup()` fails.

The bad news is that the test failed shortly after getting an ingress up:
[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-1.5-downgrade-cluster/3079/build-log.txt

Looks like the failure in the disruption prevents the chaosmonkey semaphore from closing `StopCh` https://github.com/k

[2017-05-19 18:15] cmluciano commented on #46026
sounds good @ncdc

/unassign @cmluciano

/assign @ncdc

[2017-05-19 18:16] ncdc commented on #46026
@qiujian16 we want to move all the server components to use `cobra.Command` instead of having them be empty implementations that are solely used to generate docs (#34732). As part of this transition, we won't be calling `pflag.Parse()` any more because Cobra does that for us. kube-proxy was the first one to switch, along with getting support for a config file instead of dozens of flags. See #34727

[2017-05-19 18:16] ajwootto opened #46119 "[Federation] Replacing deployment definition does not evenly distribute replicas across clusters"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): federation, deployment, replace

---

**Is this a BUG REPORT or FEATURE REQUEST?** (c

[2017-05-19 18:17] caseydavenport commented on #42190
/area kubelet

I think we already meet this requirement, right?  kubelet uses the lexicographically first CNI network config file from disk, which is a deterministic selection algorithm.

Yep.

[2017-05-19 18:17] roberthbailey commented on #46098
@bowei @MrHohn

[2017-05-19 18:20] 8enmann commented on #46007
Yes, using the library PV mounted into the host 🎉

[2017-05-19 18:20] nicksardo commented on #43470
The ingress upgrade test continues to leak static addresses when the disruption fails.  The test's `Teardown()` func is never called.
Please see #45842

[2017-05-19 18:27] cmluciano commented on #38034
Since this issue is so larger, I think I will close it for now and take a closer look the next time it happens.

[2017-05-19 18:27] cmluciano commented on #38034
/close

[2017-05-19 18:27] huangjiasingle commented on #45668
@gnufied @ncdc @willb is this a bug?

[2017-05-19 18:27] #38034 closed

[2017-05-19 18:28] cmluciano commented on #38890
/assign @dnardo

[2017-05-19 18:29] ncdc commented on #45668
I have not used kubeadm before. cc @luxas @timothysc to see if they know.

[2017-05-19 18:30] cmluciano commented on #38890
I'll assign this to myself tracking @dnardo. I think you send an email to the contrib-X SIG requesting member access to the kubernetes repo.

/assign

[2017-05-19 18:33] rtheis commented on #45385
@caseydavenport I agree that 60 seconds is sensible as long as kubelet doesn't spend 20 seconds at 100% cpu.  I could try with iptables-restore but not sure if that will do the trick since we were also having the same problems with kube-proxy.  Tweeking the `--iptables-sync-period` helped us with kube-proxy.  A similar option on kubelet would be nice.

[2017-05-19 18:34] yujuhong opened #46123 "Increase the unit test coverage of pkg/kubelet/kuberuntime"
We've already seen a couple of bugs (#45977, #46121) caused by kuberuntime not populating the fields correctly. This is the type of bug that could easily be caught by unit tests.
We should improve the test coverage of this package.

/cc @feiskyer @Random-Liu

[2017-05-19 18:34] justinsb commented on #28586
The annotation only controls Cross-Zone Load Balancing (as in the original screenshot).  Is that enabled now?

For the attached subnets, that issue needs to be raised with tectonic, at least until we determine it is a kubernetes issue.  We'd ask the same if you were using kops (although admittedly in that case sometimes we'll just address it in this repo, because of the high degree of overlap betw

[2017-05-19 18:34] luxas commented on #45668
Are you using external etcd?

[2017-05-19 18:37] ncdc commented on #46026
Proposed fix in #46122

[2017-05-19 18:37] rtheis commented on #45385
I should note that the environment and recreate in the description simulate the same problems that we are seeing in a production environment.

[2017-05-19 18:48] rhenretta commented on #28586
Are we talking cross AZ or cross region here?  I'm talking about cross AZ, so since I have nodes running in us-east-1d and us-east-1e, the load balancer should work with both these availability zones, and all 3 nodes should show in service.  That isn't the case, since the ELB is created with only us-east-1e AZ, and so any nodes outside that AZ will be out of service.

So, with the annotation, yes

[2017-05-19 18:50] Random-Liu commented on #46123
Agree. And this is also why we need to add so many unit test in cri-containerd @xlgao-zju @mikebrow :)

[2017-05-19 18:50] justinsb commented on #28586
Yes, the remaining issue is the installer issue I believe.  That's at least the place to start.

I'll validate it works in kops to double-check.

[2017-05-19 18:53] rhenretta commented on #28586
yeah, let me know.  This load balancer isn't being created by the installer, but by creating a service after the fact via kubectl.  I would think the installer wouldn't come into play here.

[2017-05-19 18:54] fluxrad commented on #19634
As far as I'm aware, significant volumes of erroneous queries from the `ndots` problem is still an issue. It generates huge load on the DNS infrastructure. Do we at least have a canonical tracking ticket for that? https://github.com/kubernetes/kubernetes/issues/33554 perhaps?

[2017-05-19 18:56] caseydavenport commented on #44030
/kind documentation

[2017-05-19 18:57] justinsb commented on #28586
Added an ELB to my kops cluster; k8s 1.6.1:

[code]

The installer makes a _huge_ difference for kubernetes.

[2017-05-19 18:57] caseydavenport commented on #40590
/close

[2017-05-19 18:57] caseydavenport commented on #40590
/assign

[2017-05-19 18:57] caseydavenport commented on #40590
/close

[2017-05-19 18:57] #40590 closed

[2017-05-19 19:03] cmluciano commented on #46007
How are you leveraging cuda if you still cannot mount ```/usr/lib/nvidia-367``` ?

[2017-05-19 19:06] cmluciano commented on #37316
I think this can be closed since the e2e testing of CNI plugins is tracked in https://github.com/kubernetes/kubeadm/issues/218

/assign /close

[2017-05-19 19:13] 8enmann commented on #46007
The contents of `/usr/lib/nvidia...` are in in my special directory, with cuda drivers owned by `nvidia-docker`

[2017-05-19 19:18] cmluciano commented on #45844
upon closer review, only one test in federation repo mentioned dns. This issue seems related to https://github.com/kubernetes/kubernetes/issues/40949. marking this for sig apps.

[2017-05-19 19:18] cmluciano commented on #45844
/unassign
/sig apps

[2017-05-19 19:19] sjug commented on #45973
@gmarek I'll review it with Jay, no worries

[2017-05-19 19:31] soltysh commented on #30243
@sdminonne it looks we're not gonna make it :( sorry

[2017-05-19 19:33] seanknox commented on #41850
Might be seeing the same behavior on 1.6.2. It's easy to reproduce on Azure, at least. In this example, the kubelet failed to get node info due to the Azure subscription used being rate limited by the Azure API. @colemickens I can follow up with you on how to repro if you're curious.

[code]

[2017-05-19 19:39] caseydavenport commented on #40870
Yeah, IMO we can probably turn this into a documentation issue.  Sounds like the "feature" is supported through ExternalName, but the docs don't make it clear how to achieve this.

[2017-05-19 19:46] bowei commented on #19634
Yes -- put references to ndots related issues on #33554

[2017-05-19 19:46] caseydavenport commented on #44963
Adding @tomdee for the flannel/canal bits.

[2017-05-19 19:48] dnardo commented on #38890
/assign

[2017-05-19 19:57] seelam commented on #46070
cannot pull this image `index.qiniu.com/weiwei/gpu-mnist:0.1.1`.

[2017-05-19 20:03] cmluciano commented on #46007
Ok. So this confirms that a permissions flip will work @vishh . I'm not sure if we want to just document this for now, or make a code change.

[2017-05-19 20:06] wojtek-t commented on #39113
@yujuhong - how do we detect if the pod status changed? Is it simple "DeepEqual" operation? If so, that shouldn't happen, right? If not, maybe there is some bug in how we do the comparison?

[2017-05-19 20:08] someword commented on #45976
@bowei When I look at the available metrics I don't see a cache hit metric.  I have a cachemiss counter
skydns_skydns_dns_cachemiss_count_total{cache="response"} 4.565907e+06

And request totals
skydns_skydns_dns_request_count_total{system="recursive"} 98618
skydns_skydns_dns_request_count_total{system="reverse"} 40638

What's strange is that for this particular pod i have 4 million cache misses b

[2017-05-19 20:10] mikedanese opened #46130 "the certificates* controllers should emit more events"
For debuggability.

[2017-05-19 20:16] enisoc commented on #45613
If you experienced this issue in v1.6.3, please try [v1.6.4](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#v164) and report back on this bug. Thanks.

[2017-05-19 20:20] justinsb commented on #46073
cc @k8s-mirror-api-machinery-bugs

[2017-05-19 20:21] perotinus opened #46131 "[Federation] Document permissions that the Federation control plane requires in joined clusters"
We need to document what permissions the Federation control plane needs in order to correctly function. After #42042 `kubefed` will create a service account that has very broad permissions, but we should document what are the tightest permissions necessary in order for the FCP to run.

[2017-05-19 20:22] perotinus commented on #46131
/assign perotinus

[2017-05-19 20:25] chakri-nelluri commented on #45887
@davidmccormick Are you still seeing the issue? I saw your message on slack you got it working after fixing your driver. These logs are typically a result of misconfigured attach-detach-controller. I will check and see if I can improve these logs to reflect the actual misconfiguration.

[2017-05-19 20:25] caseydavenport commented on #37396
1.6 or at worst 1.7

So IIUC the concerns in this issue are probably covered by either OnlyLocal + IPVS kubeproxy (#44063), right?  If so, can we close this issue?

@thockin is there an issue for extending OnlyLocal support to other cloud providers besides GCE?  I wasn't able to find it (there's https://github.com/kubernetes/features/issues/27 for GCP).

[2017-05-19 20:25] jayunit100 commented on #45178
Thanks @adohe.  @sjug is going to handle the kubelet part.  maybe you can handle the kubectl part, and then this issue will be covered.

[2017-05-19 20:26] caseydavenport commented on #37335
@bprashanth could you fill out the description with a bit more detail w.r.t what you're imagining these tests will do?

[2017-05-19 20:28] dashpole commented on #39113
The [status manager](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/status_manager.go#L127) uses the [apimachienery definition of DeepEqual](https://github.com/kubernetes/apimachinery/blob/master/pkg/api/equality/semantic.go#L29).  Is that the first status update for that pod that you see?

[2017-05-19 20:28] caseydavenport commented on #37316
/assign

[2017-05-19 20:28] caseydavenport commented on #37316
/close

[2017-05-19 20:29] caseydavenport commented on #37316
Try as we might, it seems this issue is not destined to be closed.

[2017-05-19 20:32] cmluciano commented on #46103
/assign

[2017-05-19 20:35] cmluciano commented on #37316
:rofl:

[2017-05-19 20:38] cmluciano commented on #46070
:smile: I tried that too. I think it might be a private registry.

[2017-05-19 20:43] crimsonfaith91 commented on #46005
@janetkuo there is a discussion about changing kubectl scale to patch replicas instead of using PUT. what's your thought about this issue?

[2017-05-19 20:53] caseydavenport commented on #36845
So, is this issue resolved? Is there a docs issue/PR that needs to be raised as a result?

[2017-05-19 20:54] yujuhong commented on #39113
That means that the kubelet has the up-to-date status stored in the status manager, it doesn't mean that the status manager has already send updates to the apiserver.

The status manager has a internal channel where it used to store the updates to send. To prevent the overflow, it also performs the syncBatch periodically. It's possible that you hit the overflow situation if many pods had status ch

[2017-05-19 21:01] dashpole commented on #39113
@wojtek-t you should see `Skpping the status update for pod %q for now because the channel is full; status: %+v` in the logs before seeing `Status Manager: adding pod: ...`  if that is the case.

[2017-05-19 21:01] caseydavenport commented on #39113
Right, but I don't see a log anywhere prior to that one indicating that status has already been sent to the status manager, so how would it have that update in its cache?

I'd expect to see either [this log](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/status_manager.go#L339) or [this log](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/status_man

[2017-05-19 21:06] someword commented on #45976
I looked at a 30 second snapshot of traffic going to a single dnsmasq container and my numbers don't line up with the dnsmasq-metrics QPS.

I did this a few times on a couple nodes but the count was in the high 4K and low 5K each time so the above seems like a decent representation.   Also we are at a low time in our usage so I would expect those numbers to be even 20% higher during higher load ti

[2017-05-19 21:06] caseydavenport commented on #39113
@dashpole it's not - I do see a status update occur when the kubelet receives the `Pending` Pod a little bit before.

[code]

[code]

[code]

[2017-05-19 21:09] bowei commented on #45976
The dnsmasq metrics are available in `dnsmasq_cache_hits, dnsmasq_cache_misses` from the prometheus metrics.

Given ~4k - 5k QPS at dnsmasq and given the CPU request that dnsmasq has, you may need another replica to handle the load. Or I would try increasing the CPU request for dnsmasq.

[2017-05-19 21:09] janetkuo commented on #46005
We should use `/scale` endpoint. Looks like statefulset doesn't have /scale yet, but rs, rc, and deployments all have /scale endpoints.
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/apps/rest/storage_apps.go
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/rest/storage_extensions.go

[2017-05-19 21:10] caseydavenport commented on #36535
@nicksardo is this something you're working on for v1.7, or should the milestone be changed?

[2017-05-19 21:13] jagosan commented on #46098
/assign @bowei @MrHohn

[2017-05-19 21:15] erictune commented on #46073
Justin, can you please add a sig label.  We are trying to standarize on sig rather than area labels.  Or if there no identifiable SIG for it, say so.

[2017-05-19 21:16] #46072 closed

[2017-05-19 21:17] caseydavenport commented on #36500
/assign

[2017-05-19 21:17] justinsb commented on #46073
Sorry @erictune  - fixed!

[2017-05-19 21:18] caseydavenport commented on #36500
/close

Source IP preservation is preserved for ClusterIP services using the iptables proxier - I don't think we're going to add this to the userspace proxy in the foreseeable future.

[2017-05-19 21:21] nicksardo commented on #36535
@caseydavenport No, and I don't expect it'll be a top priority in 1.8. Remove milestone?

[2017-05-19 21:21] erictune commented on #46029
Please use stack overflow for support questions like how to configure a cluster.

Also, this is the second time you've asked for an update less than half a day after filing an issue. That's kind of impolite for an open community where support is voluntary.

[2017-05-19 21:23] jagosan commented on #45998
@fejta - trying to triage issues; tough to route to a sig with info included here.  any suggestions?

[2017-05-19 21:24] erictune commented on #45983
/sig network

[2017-05-19 21:24] MrHohn commented on #46098
@nicksardo should have more insight.

[2017-05-19 21:24] jagosan commented on #45974
/sig api-machinery

[2017-05-19 21:25] grodrigues3 commented on #45974
@kubernetes/sig-api-machinery-feature-requests

[2017-05-19 21:25] erictune commented on #45974
btw, David, We are trying to use SIG in favor of Area labels.

[2017-05-19 21:25] caseydavenport commented on #35986
@linearregression are you still seeing this on the latest master?

Otherwise, I think this can be closed.

/assign

[2017-05-19 21:25] justinsb commented on #45983
This is probably a simple sig/aws fix in the cloudprovider, actually.  Sorry for tag fail

[2017-05-19 21:27] erictune commented on #45957
Please use stack overflow for beginner cluster setup questions.

[2017-05-19 21:27] #45957 closed

[2017-05-19 21:27] jagosan commented on #45971
/sig node

[2017-05-19 21:27] fejta commented on #45998
`ci-kubernetes-e2e-gke-stackdriver	44	16 May 2017 21:16 UTC`

And if you open that link: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-stackdriver/3608

Pretty clear that this has to do with `Feature:StackdriverMonitoring`... any idea what sig cares about this feature and/or who is working on it?

[2017-05-19 21:27] sebgoa commented on #24343
It has been a while since moving the /examples folder has been talked about in this issue. It was discussed recently in sig-apps and sig-docs ML

There is now a new repository https://github.com/kubernetes/examples

and a PR in flight https://github.com/kubernetes/examples/pull/2

To copy the current /examples over.

Once the PR is merged, the existing examples will be redirected, much like we mov

[2017-05-19 21:28] crimsonfaith91 commented on #45287
@smarterclayton The statefulsets are not using the scale endpoint. i will fix this. :)

[2017-05-19 21:28] erictune commented on #45955
Please use stack overflow for beginner cluster setup questions.

[2017-05-19 21:28] #45955 closed

[2017-05-19 21:28] caseydavenport commented on #36535
Yep, let's - though I don't have the ability to do that.

@thockin?

[2017-05-19 21:32] someword commented on #45976
@bowei - i was hitting port 10055 (skydns) for metrics and it looks like i want the different metrics on port 10054 for dnsmasq.  Doh!

So for cache hits 7,992,626 to miss is 0.000005342244 which seems like a pretty healthy caching name server.

We do have 16 kube-dns replicas and have tried running with 30 but still experience dnsmasq refusing connections.   When I look at cpu stats for dnsmasq I

[2017-05-19 21:33] fejta commented on #45998
Also if you search for `Feature:StackdriverLogging`:
https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=Feature%3AStackdriverLogging&type=

and then look at the history:
https://github.com/kubernetes/kubernetes/commits/a2f40cafcf726b504d6c2e15e25cab248827c779/test/e2e/cluster-logging/sd_load.go

So my guess is maybe:
/sig cluster-ops
/assign @crassirostris

[2017-05-19 21:38] jagosan commented on #45917
@fejta - any way to gather information on transient infrastructure failures?

[2017-05-19 21:38] bowei commented on #45976
Interesting -- can you check your node conntrack (http://conntrack-tools.netfilter.org/conntrack.html) tables on your node (not the pod)? The way a lot of resolver libraries work is that they bind an ephemeral port to send the request and each request results in an entry. If you exceed the conntrack limits, you will start getting dropped packets.

[2017-05-19 21:41] jianhuiz commented on #45187
From: https://docs.google.com/document/d/1TZ4ZMZ8AEOlVyK6H_q-zNpAdlzTip8sxMQUVQeQ-O-w/edit#

@David Oppenheimer
My understanding is that what's wanted here is "considered all nodes and it
can't schedule onto any of them"? We do surface that in PodStatus today in
PodReasonUnschedulable. In terms of how the federated job controller can
make use of this information without having to track each pod, I

[2017-05-19 21:43] jagosan commented on #45887
/sig storage

[2017-05-19 21:44] erictune commented on #45833
/sig api-machinery
/kind feature

[2017-05-19 21:45] nikhiljindal opened #46137 "federation: Updating service type is not propagated to clusters"
Steps to repro:
* Create a federated service of type "ClusterIP".
* Verify that the service is created in all clusters
* Update the federated service to be of type "LoadBalancer"

Expected:
* Services in all underlying clusters is updated to be of type LoadBalancer.

Actual:
* No change to cluster services.

No new event was created as well.

cc @shashidharatd @kubernetes/sig-federation-bugs

[2017-05-19 21:46] vishh commented on #46007
Sounds like an installation issue to me. Better to document it. WDYT?

On Fri, May 19, 2017 at 1:03 PM, cmluciano <notifications@github.com> wrote:

[2017-05-19 21:47] erictune commented on #45827
@kubernetes/sig-node-bugs can you please file another issue based on above to not log the error message that includes a password=blah in it.

[2017-05-19 21:47] nikhiljindal commented on #46137
I am running an older version of federation control plane. So dont have the latest service controller refactor changes.

@shashidharatd Is this something that might have been fixed by the latest changes?

[2017-05-19 21:47] erictune commented on #45825
/sig apps

[2017-05-19 21:47] dnardo commented on #34366
/assign

[2017-05-19 21:49] caseydavenport commented on #32750
Related: https://github.com/kubernetes/kubernetes/issues/33554

I think this issue can be closed.

/assign

[2017-05-19 21:49] erictune commented on #45825
Thanks for the detailed diagnosis, @jhorwit2, sounds right.

[2017-05-19 21:50] erictune commented on #45820
Send a PR?

[2017-05-19 21:50] #45820 closed

[2017-05-19 21:50] vinayagg commented on #40244
This is very confusing. We did some experiments and came up with following rules for mapping of "backend protocols" (aka instance protocols) to Load Balancer protocols
    "https": "https", (certificate is needed)
    "http":  "https", (if certificate is specified front end is https)
    "http":  "http", (if certificate is NOT specified front end is http)
    "ssl":   "ssl", (certificate is needed

[2017-05-19 21:50] erictune commented on #45820
Thanks, @xiangpengzhao for finding answer.

[2017-05-19 21:51] grodrigues3 commented on #45819
/assign @davidopp

[2017-05-19 21:54] grodrigues3 commented on #45785
Can you please file kubeadm issues here: https://github.com/kubernetes/kubeadm

[2017-05-19 21:54] grodrigues3 commented on #45785
/close

[2017-05-19 21:56] danielfm commented on #45911
After spending some time browsing through the source code, I found [this](https://github.com/kubernetes/kubernetes/blob/ff3a847d08553ff977d4484bd3ae9808db180633/pkg/kubelet/dockershim/docker_container.go#L268) snippet that seem to be where the symlinks for the container logs are created.

So, if we are starting a "heavy" container that cause the Docker daemon to hang for a while, it's plausible th

[2017-05-19 21:57] jagosan commented on #45772
/sig network

[2017-05-19 22:04] someword commented on #45976
From kube-proxy logs I see these values logged

[code]

It looks like at this point in time my count is under the max which i gather is either 65536 or 262144.  Would conntrack come into play when the dnsmasq-metrics container is performing a dns lookup against the dnsmasq container in the same pod?  I was thinking it was traffic traversing the pod localhost network it would not go through conntra

[2017-05-19 22:07] k8s-merge-robot opened #46140 "Failure cluster [aee02e...] failed 52 builds, 18 jobs, and 17 tests over 1 days"
### Failure cluster [aee02e0442d98d20850b](https://go.k8s.io/triage#aee02e0442d98d20850b)
##### Error text:
[code]
##### Failure cluster statistics:
17 tests failed,    18 jobs failed,    52 builds failed.
Failure stats cover 1 day time range '18 May 2017 20:57 UTC' to '19 May 2017 20:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services sho

[2017-05-19 22:07] k8s-merge-robot opened #46141 "Failure cluster [8c679e...] failed 51 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [8c679e11b3df36df572a](https://go.k8s.io/triage#8c679e11b3df36df572a)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    51 builds failed.
Failure stats cover 1 day time range '18 May 2017 20:57 UTC' to '19 May 2017 20:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| kubectl version | 4 |

[2017-05-19 22:07] k8s-merge-robot opened #46142 "Failure cluster [d3812f...] failed 51 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [d3812f24880aea48f806](https://go.k8s.io/triage#d3812f24880aea48f806)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    51 builds failed.
Failure stats cover 1 day time range '18 May 2017 20:57 UTC' to '19 May 2017 20:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| IsUp | 4 |

##### Top f

[2017-05-19 22:07] k8s-merge-robot opened #46143 "Failure cluster [485f77...] failed 47 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [485f7741c4fcb93d7765](https://go.k8s.io/triage#485f7741c4fcb93d7765)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    47 builds failed.
Failure stats cover 1 day time range '18 May 2017 20:57 UTC' to '19 May 2017 20:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] [Feature:Examp

[2017-05-19 22:14] crassirostris commented on #45998
@fejta Thanks! I'll take a look on Monday

Btw, what is the status with the `test_owners.csv`? I could've been tracked using this spreadsheet

[2017-05-19 22:18] ivanilves commented on #28610
:+1:

[2017-05-19 22:23] nicksardo commented on #46098
This is an existing limitation with the URLMap resource. 50 is indeed the max. I recommend filing a feature request at https://cloud.google.com/support/docs/issue-trackers.

/close

[2017-05-19 22:23] nicksardo commented on #46098
/assign

[2017-05-19 22:23] nicksardo commented on #46098
/close

[2017-05-19 22:23] #46098 closed

[2017-05-19 22:25] fejta commented on #45998
Thanks much!

We haven't been forcing it to stay up to date because it causes to many merge conflicts, we're working on the replacement (see test_owners.json)

[2017-05-19 22:26] fejta commented on #45917
Click `build-log` in the sample for the test output. Also click `artifacts` and browse through the files uploaded to gcs, which contains whatever https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump.sh collected

[2017-05-19 22:29] crassirostris commented on #45998
@fejta Cool, nice to hear! I actually liked when issues were auto-assigned to me back in the days

[2017-05-19 22:32] mtanino commented on #45394
I also hit this problem. I have a plan to post a fix.

[2017-05-19 22:35] caseydavenport commented on #45915
/assign

[2017-05-19 22:45] shashidharatd commented on #46137
yes @nikhiljindal, These type of issues won't happen in latest code. Its taken care.

[2017-05-19 22:56] yujuhong commented on #27114
Copying and pasting my own comment from the PR:
IIUC, liveness was intended to start before readiness in many cases. A process is running doesn't mean it's ready to serve traffic. It won't be restarted (since it passes liveness checks), but will not be listed as endpoints in a service.

Changing the interaction of these two checks will surprise many users.

[2017-05-19 23:06] xiangpengzhao commented on #45820
Okay, will send a PR to update the link on that redirect page.

[2017-05-19 23:07] enisoc commented on #45728
I started brainstorming various ways to do migration.

My concerns with the [manual flow](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/thirdpartyresources.md#migration-from-existing-tpr) are:
* Is there a way to revoke edit writes that works on all clusters? RBAC is optional, right?
* Orphaning is risky in general. You might have a Pod that will get adopted by

[2017-05-19 23:17] ixdy commented on #45675
/assign @bsalamat
/unassign

We [set a default skip string](https://github.com/kubernetes/kubernetes/blob/ee9bab111196565288705e44a9000d6f7bad8d87/test/e2e/e2e.go#L281-L283) of `\[Flaky\]|\[Feature:.+\]`, but that's overridden if you specify your own `--ginkgo.skip` setting. You'll need to add `\[Flaky\]|\[Feature:.+\]|` to yours to retain the same behavior.

[2017-05-19 23:21] msau42 commented on #45917
I'm looking at this test run that failed on gce, so that I can also see the master logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd2-release-1.6/3087

From the master node controller:
I0518 11:22:14.670583       5 nodecontroller.go:1007] node bootstrap-e2e-minion-group-8g91 hasn't been updated for 40.004822832s. Last ready condition is: {Type:Ready

[2017-05-19 23:25] msau42 commented on #44321
This is the most frequent failure signature.  It looks to be caused by kubelet/docker on the node failing, and causing all the tests running pods on that node to fail.  I opened up #45917 to track that.
[code]

[2017-05-19 23:33] Random-Liu commented on #34308
Just point out that, current implementation of [image list filter](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_image.go#L33) will not work with docker 1.13 if we don't update docker client. Their previous api is [`filter`](https://github.com/docker/engine-api/blob/master/client/image_list.go#L26), but now it's [`reference`](https://github.com/moby/moby/blob/v

[2017-05-19 23:35] msau42 commented on #44321
This was the second most frequent signature.  It also appears to be some system-wide failure. #45916 tracks this.

[code]

[2017-05-19 23:38] diegs opened #46148 "APIServer cannot run as a non-root pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "setcap", "apiserver root", "securityContext"

---

**Is this a BUG REPORT or FEATURE

[2017-05-19 23:45] kfox1111 commented on #45613
@enisoc We've got a test all queued up. Just waiting for the rpms/debs to hit.

[2017-05-19 23:57] ixdy commented on #45757
This is assigned to me currently, but I'm happy to let anyone else take a stab at it. :)

[2017-05-20 00:01] feiskyer commented on #46123
+1.

[2017-05-20 00:09] Random-Liu commented on #45911
@danielfm Yeah, it is possible.

In Kubelet, we set a 2 minutes timeout for most docker operations, including start container.

If start container takes too long time, we'll cancel the request on kubelet side and returns an error. Thus log symlink will not be created. However, docker should still be starting the container, and the container may be running later.

[2017-05-20 00:10] Random-Liu commented on #45911
@danielfm What does your container do? Why does it take so long time to start? Just curious.

[2017-05-20 00:16] erictune commented on #44172
On further thought, my comment above may not be accurate.  I've asked the RBAC experts in sig-auth for clarification.

[2017-05-20 00:31] jojimt commented on #45662
`Usually in high load or after cluster changes ( addition/removal of minions) requests to a nodePort are sometimes replied by pods of another service.`

How did you make this determination? Could you provide some logs?

[2017-05-20 00:40] ixdy commented on #43989
The various test suites don't automatically generate junit XML files, no.

For unit/integration tests, you'll either need to use Bazel, or you can set `KUBE_JUNIT_REPORT_DIR` with `make test` or `make test-integration`, which will save the junit XML files in the place specified.
(You may also want to set `KUBE_KEEP_VERBOSE_TEST_OUTPUT=y` to save all stdout into a `.stdout` file.)

For the e2e test

[2017-05-20 00:51] k82cn commented on #46123
There's an issue for scheduling code coverage at #39559; I think we can open similar issue in kubelet, like this :).

[2017-05-20 00:52] k82cn commented on #46123
xref #40780

[2017-05-20 01:27] dujun1990 commented on #46083
If it's a bug, may I send a PR to fix this?

[2017-05-20 01:42] timstclair opened #46156 "Upgrade proxy handlers do not clear hop-by-hop headers"
Go's standard [ReverseProxy](https://golang.org/pkg/net/http/httputil/#ReverseProxy) removes a bunch of hop-by-hop headers in `ServeHTTP`, per http://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html

We should clone this logic in the upgrade proxy path of [`UpgradeAwareProxyHandler`](https://github.com/kubernetes/kubernetes/blob/ee9bab111196565288705e44a9000d6f7bad8d87/staging/src/k8s.io/apiserver/

[2017-05-20 02:53] NickrenREN commented on #45954
err still happened : https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46008/pull-kubernetes-federation-e2e-gce/5814/

[2017-05-20 03:02] wujianlin commented on #43376
two solution:
1. i use random port for hostport. so you dont need to know which port is availble, because the pod controller will schedule hostport if hostport conflict we will get "PotFit error". anather process to delete this error pod. and then recreate it.

2. in controller manager we cache the pod and node info.  you can get witch port is available.

[2017-05-20 03:10] hach-que commented on #46098
Reported on the Cloud Load Balancer bug tracker: https://issuetracker.google.com/issues/38465625

[2017-05-20 03:50] krmayankk commented on #44507
@caesarxuchao is this the issue tracking garbage collection for TPR ?

[2017-05-20 03:51] derekwaynecarr commented on #40474
@dashpole - the referenced pr seems unrelated.

[2017-05-20 03:58] krmayankk commented on #36885
@smarterclayton @deads2k @lavalamp Are we saying that instead of doing webhook based validations, TPR will be handled by a completely different apiserver than the regular apiserver ? Any pointers to how that would work ?

[2017-05-20 04:34] danielfm commented on #45911
That's exactly what I have observed; the container starts successfully, but no log symlinks are created.

It's a Prometheus container. Every time the container is created, it performs a crash recovery, which can be quite CPU and IO intensive since it basically goes through the whole time series doing God knows what. 😅

[2017-05-20 05:08] davidopp commented on #45819
This seems related to #36716
Would be interested in you feedback on the design doc we have here: https://docs.google.com/document/d/1-H2hnZap7gQivcSU-9j4ZrJ8wE_WwcfOkTeAGjzUyLA/edit

[2017-05-20 05:27] warmchang commented on #45785
@grodrigues3 , I'll close it and open an new one in kubeadm repo.

[2017-05-20 05:27] #45785 closed

[2017-05-20 05:29] #45925 closed

[2017-05-20 06:05] dashpole commented on #40474
#43590

[2017-05-20 06:22] cblecker commented on #45795
/reopen

[2017-05-20 06:22] cblecker commented on #45795
/assign

[2017-05-20 06:22] cblecker commented on #45795
/reopen

[2017-05-20 06:23] cblecker commented on #45795
/unassign

[2017-05-20 06:24] cblecker commented on #45795
Reopening to have an issue to track this. This was thought to be resolved, and was made blocking in https://github.com/kubernetes/test-infra/pull/2792. There's still something up, and it was reverted in https://github.com/kubernetes/test-infra/pull/2807. I believe sig-federation is going to look at this more next week in order to figure out a more permanent solution to this.

[2017-05-20 06:29] #46026 closed

[2017-05-20 06:44] xiangpengzhao commented on #46081
@rootfs I'm not familiar with azure cloud provider and volume codes. I'd like to try to dig into it to see if I can fix as the way you suggested.

[2017-05-20 07:12] NickrenREN commented on #46102
Did you delete the pvcs referenced by active pods ?
fyi #45143  #44297

[2017-05-20 08:27] matt-tyler commented on #38075
Ok, I think I have an understanding of what is happening

1. The call to `gcloud auth application default login` is storing credentials in a json file in a known location.

2. On a subsequent credential-requiring kubectl command, the GCP plugin is being loaded, and the application default credentials are being exchanged for a token. That token is then cached in the .kube/config file.

So where do

[2017-05-20 09:36] billyteves commented on #42164
same issue with me, ContainerGCFailed rpc error: code = 4 desc = context deadline exceeded and node status became NodeNotReady

[2017-05-20 11:08] lostpebble commented on #27114
@yujuhong I can see that and its a fair understanding. But it doesn't change the fact that there is no easy way to ask your liveness probes to wait until your instances are actually ready- hence causing an early shutdown if you didn't offset it enough. This is not a stable solution at all.

In any case, it seems that the ambiguity of it has caused it to mean different things to different people. I

[2017-05-20 12:19] naarani commented on #27796
@sarahnovotny and @foxish
I’m having issues with signing the CLA

I've signed as admin@iperione.eu and I can't sign with naarani@gmail.com (primary github email) so I got problem on github like this one: https://github.com/kubernetes/contrib/pull/2548 (still waiting for my sign on CLA)

I've mailed to linux foundation a month ago, but I'm still blocked...
can you fix it ?

[2017-05-20 12:21] dankohn commented on #27796
@naarani Apologies for the issue. I'll escalate this with LF IT.

[2017-05-20 13:00] gabencui opened #46166 "how to update deployments by api?"
api: PATCH /apis/apps/v1beta1/namespaces/{namespace}/deployments/{name}
python code:
def ModifyDeployment(deployment_name,image):

	headers = {"Content-Type": "application/strategic-merge-patch+json","apiVersion": "apps/v1beta1"}

	data = {"spec":{"template":{"spec":{"containers":[{"name": deployment_name, "image": image}]}}}}

	url = api_server + '/apis/apps/v1beta1/namespaces/' + namespace + '/d

[2017-05-20 15:08] smarterclayton commented on #27114
I don't think it's completely unreasonable for a liveness check to not
start until a readiness check passes (possibly as an option).  But the
edge cases can be complicated (such as on kubelet restart) so it needs
to be sufficiently justified as a usability and "ease of use" feature
to raise above the bar.

[2017-05-20 15:36] #46166 closed

[2017-05-20 15:45] Baschdl commented on #45819
If you are interested in my feedback could you please make the document viewable without a google account?

[2017-05-20 16:11] smarterclayton commented on #45728
Won't work with multiple masters.  So at minimum you have to lock all
API servers to transfer over, and maybe even manage a transactional
lock on the read path.

[2017-05-20 16:19] whereisaaron commented on #29298
@benbooth493 In 1.5 there was no way to share a subnet for creating on-demand load balancers between two Kubernetes clusters. The `KubernetesCluster` tag name was hard coded. But it was easy enough to create a couple of smallish public subnets for each cluster for this purpose.

In [1.6 that is fixed](https://github.com/kubernetes/kubernetes/blob/release-1.6/pkg/cloudprovider/providers/aws/tags.go

[2017-05-20 16:55] whereisaaron commented on #15478
Certainly @crassirostris. Please let us know here when the proposal is ready to check out.

[2017-05-20 17:22] davidopp commented on #45819
You don't need a Google account to view it but you do need to join the [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-dev) mailing list. Sorry for not mentioning that.

[2017-05-20 18:01] #42841 closed

[2017-05-20 18:01] #45833 closed

[2017-05-20 18:08] #44999 closed

[2017-05-20 18:11] kargakis commented on #44234
Closing as a dupe of #11505

[2017-05-20 18:11] #44234 closed

[2017-05-20 18:18] davidopp commented on #43815
@kelseyhightower

[2017-05-20 18:18] davidopp commented on #44254
@kelseyhightower

[2017-05-20 18:21] kargakis commented on #39744
@nvnobelen replica sets use generateName to create pods which means that every newly created pod should have a unique name.

[2017-05-20 18:23] kargakis commented on #38497
Fixed by https://github.com/kubernetes/kubernetes/pull/42176

[2017-05-20 18:23] #38497 closed

[2017-05-20 18:32] kargakis commented on #37563
Closing in favor of https://github.com/kubernetes/kubernetes/issues/42752

[2017-05-20 18:32] #37563 closed

[2017-05-20 19:16] kargakis commented on #29276
@lukaszo is this issue fixed?

[2017-05-20 19:17] k8s-merge-robot opened #46168 "Failure cluster [d68410...] failed 52 builds, 4 jobs, and 3 tests over 1 days"
### Failure cluster [d68410e5e07b7840f13f](https://go.k8s.io/triage#d68410e5e07b7840f13f)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    4 jobs failed,    52 builds failed.
Failure stats cover 1 day time range '19 May 2017 17:53 UTC' to '20 May 2017 17:53 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Downgrade [Fea

[2017-05-20 19:18] kargakis commented on #29097
set image works fine too

[2017-05-20 19:18] #29097 closed

[2017-05-20 19:36] kargakis commented on #29784
We now have ProgressDeadlineSeconds which you can set in the spec of the Deployment and get back a ProgressDeadlineExceeded condition in case your rollout is stuck. More info in https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#deployment-status

[2017-05-20 19:36] #29784 closed

[2017-05-20 20:02] verb commented on #45922
Thinking about this a little bit more, it would be nice to integrate the same feature gates used with the rest of kubernetes into kubectl. I was going to add a flag to set feature gates, but this has a couple of downsides:

1. As a flag the feature gates wouldn't be able to influence behavior of other flags, and kubectl has plenty of complexity prior to flag parsing.
2. It would be nice if enablin

[2017-05-20 20:16] kargakis commented on #27929
This shouldn't be a problem with Deployments - closing

[2017-05-20 20:16] #27929 closed

[2017-05-20 20:27] kargakis commented on #21817
Superseded by https://docs.google.com/document/d/15eRNrOtofhl1tFyXgZYw3pV4Z9S4PF1TU1iejGnv1f4/edit

More discussion in https://groups.google.com/forum/#!topic/kubernetes-sig-apps/a6VcS3uzeHE

PR that moves the examples in their new home: https://github.com/kubernetes/examples/pull/2

[2017-05-20 20:27] #21817 closed

[2017-05-20 20:44] kargakis commented on #24805
Clsoing this in favor of the Deployment API

If you wish to associate old pods with logs you can use the existing replica set names as prefixes.

[2017-05-20 20:44] #24805 closed

[2017-05-20 21:23] felipejfc opened #46170 "GKE Pod can't ping instance on AWS VPC wired by VPN"
Hi,

I have a VPN between my GKE VPC and a AWS VPC, the vpn uses BGP.
I'm trying to connect from a pod inside GKE to a elasticsearch running on AWS side.

From my tests:

* curl from GKE kubernetes node to elasticsearch node on AWS works
* curl from GKE Pod running on same node to elasticsearch node on AWS does not work (neither ping)
* ping from gke pod to ec2 instance can be seen if I ```tcpdump

[2017-05-20 21:29] thockin opened #46171 "kubelet should ignore files that start with '.'"
Was editing a manifest and found this in the logs:

[code]

We probably also should not log the whole invalid file.

@kubernetes/sig-node-bugs

[2017-05-20 21:33] thockin opened #46172 "kube-proxy is not preserving iptables counters"
I swear we have logic to preserve counters, but I can see that it is not working.

Probably something easy, could use a good test.  May be great for a newcomer.

@kubernetes/sig-network-bugs

[2017-05-20 21:44] thockin commented on #46172
I can't seem to make it work at all.

New chains are always [0:0] and restore is resetting chains it ought not.  Observe:

[code]

Secondly, from logs, it does not look like we are properly extracting old counter values, anyway.

[2017-05-20 21:45] thockin commented on #45385
We could reduce the number of iptables calls:

iptables -N [KUBE-MARK-DROP -t nat]
iptables -C [KUBE-MARK-DROP -t nat -j MARK --set-xmark 0x00008000/0x00008000]

iptables -N [KUBE-FIREWALL -t filter]
iptables -C [KUBE-FIREWALL -t filter -m comment --comment "kubernetes firewall for dropping marked packets" -m mark --mark x00008000/0x00008000 -j DROP]

iptables -N [KUBE-MARK-MASQ -t nat]
iptables -

[2017-05-20 21:47] thockin commented on #45385
If you run those commands by hand, how long do they take?

How many services do you have?  How big is iptables (iptables-save | wc -l)?

What kernel version (uname -a) ?

[2017-05-20 22:01] thockin commented on #32839
1.5 and 1.6 added REJECT rules when there are not pods behind a service.

[2017-05-20 22:01] #32839 closed

[2017-05-20 22:02] thockin commented on #32940
A whole lot has changed in 1.4, 1.5 and 1.6 (and soon 1.7).  Can you try to repro this on 1.5 or 1.6?

[2017-05-20 22:02] #32940 closed

[2017-05-20 22:08] thockin commented on #34566
If this is still a problem, can you explain more - I don't quite understand - and suggest heuristics for better solutions?

[2017-05-20 22:37] justinsb opened #46173 "Clarify semantics of watch operations"
We should clarify the watch.Interface in terms of what guarantees exist (and do not exist) on the notifications.  Specifically https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/watch/watch.go#L34-L37

Given re-connection logic on the client, and the aggregation of watches on the server, and federation of etcd with different servers for different prefixes (e.g

[2017-05-20 22:37] justinsb commented on #46173
cc @k8s-mirror-api-machinery-misc

[2017-05-20 22:42] xiangpengzhao commented on #46171
FYI. This was fixed in #45111. The related issue is #44450 .
@yujuhong

[2017-05-20 22:44] #46171 closed

[2017-05-20 22:44] thockin commented on #46171
thanks!

[2017-05-20 22:53] alex88 commented on #44275
Same here, using `kubectl proxy` and `http://localhost:8001/ui`

[2017-05-21 00:40] davidopp commented on #45717
Your description of ConditionUnknown is correct but not ConditionFalse. As @gmarek said the conditions are independent of one another.

[2017-05-21 00:48] davidopp commented on #45717
Sure, if you want to add a flag that defaults to "not enabled" that allows scheduling pods onto NotReady nodes I guess that's harmless. But I'm not sure that's what you actually want, given the misunderstanding about NotReady (i.e. that it is actually an independent condition)?

[2017-05-21 01:16] mtanino commented on #45451
Hi, This is issue tracker and is not a place to send an open question.
If you need a help to build Kubernetes environment, you need to ask at slack channels or mailing list mentioned in the following troubleshooting page.
https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

As you mentioned NFS is shared storage and also Gluster and ScaleIO are software defined shared stora

[2017-05-21 01:22] mtanino commented on #45394
/cc @msau42 @jingxu97
/cc @kubernetes/sig-storage-bugs

Could you add sig/storage and king/bug labels to this issue?
Thanks,

[2017-05-21 04:06] felipejfc commented on #46170
I ended up solving it using iptables + daemonset.

if anyone is interested in the solution, take a look: https://github.com/felipejfc/loop-script

[2017-05-21 04:06] #46170 closed

[2017-05-21 04:14] mappedinn commented on #44377
Ho @copejon

I undestood how nfs works. All the content of the NFS volume is stored in `/exports`. NFS is working that way:

- the content having path `/` on the PV, will be in `/exports` in the NFS server
- the content having path `/opt/data/` on the PV, will be in `/exports/opt/data/` in the NFS server
- etc...

For the second example of path `/opt/data`, you will have to get connected to the NF

[2017-05-21 04:23] cblecker commented on #45757
/assign
I'm taking a stab at this. Will likely post a WIP to get feedback soon.

[2017-05-21 07:49] resouer commented on #45278
@yan234280533 Then it would be great if you can send a PR and ask sig-node to review it.

[2017-05-21 07:58] igoratencompass commented on #42164
Same here on Kubernetes 1.5.6 at least once per week and pods on the affected node are left in Unknown state. Have to manually terminate the node and let ASG create a new one.

[2017-05-21 08:09] himaprasoonpt commented on #40633
I am facing the same issue. How did you resolve this?

[2017-05-21 09:19] xiangpengzhao commented on #30422
Since this was encountered in v1.3.4 and most probably due to local dev env settings, we are closing this issue.

@thockin

[2017-05-21 09:32] xiangpengzhao commented on #30391
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

Before posting a new question, please search stackoverflow for answers to similar questions, and also familiarize yourself with:

  * [user documentation](http://kubernetes.io/docs/)
  * [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/)

@thocki

[2017-05-21 10:01] xiangpengzhao commented on #22789
Since there is no update of this issue for more than one year (and it was found in v1.0), we are closing this.

@thockin

[2017-05-21 10:12] minherz opened #46180 "Identify original service port in a pod"
It is possible to define multiple ports for a single service e.g.:
[code]
Given that I configure my pods that are matched to the service to run in a port range 9100:9199, is it possible to learn that the communication arrived at port 4040 (gate1) or 4041 (gate2)?

[2017-05-21 10:17] kargakis commented on #46148
@kubernetes/sig-api-machinery-misc @kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 10:18] kargakis commented on #46115
@kubernetes/sig-node-feature-requests

[2017-05-21 10:20] kargakis commented on #46073
@kubernetes/sig-api-machinery-bugs

[2017-05-21 10:25] kargakis commented on #45655
@karunakar1122v this is an issue tracker for k8s development - for support questions, please use stackoverflow or the kubernetes-users mailing list

http://stackoverflow.com/questions/tagged/kubernetes
https://groups.google.com/forum/#!forum/kubernetes-users

[2017-05-21 10:25] kargakis commented on #46029
@karunakar1122v this is an issue tracker for k8s development - for support questions, please use stackoverflow or the kubernetes-users mailing list

http://stackoverflow.com/questions/tagged/kubernetes
https://groups.google.com/forum/#!forum/kubernetes-users

[2017-05-21 10:25] #46029 closed

[2017-05-21 10:28] kargakis commented on #45760
No @kubernetes/sig-node-misc group yet

[2017-05-21 10:28] kargakis commented on #45760
@kubernetes/sig-node-proposals

[2017-05-21 10:31] kargakis commented on #45759
@kubernetes/sig-apps-feature-requests

[2017-05-21 10:31] kargakis commented on #45756
@kubernetes/sig-apps-bugs

[2017-05-21 10:32] kargakis commented on #45754
@kubernetes/sig-api-machinery-misc

[2017-05-21 10:33] kargakis commented on #45753
@kubernetes/sig-node-bugs

[2017-05-21 10:35] kargakis commented on #46180
@kubernetes/sig-network-misc

[2017-05-21 10:38] kargakis commented on #45947
@kubernetes/sig-testing-misc

[2017-05-21 10:39] kargakis commented on #45959
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 10:42] kargakis commented on #45451
You can also direct support question in the kubernetes-users mailing list or stackoverflow

https://groups.google.com/forum/#!forum/kubernetes-users
http://stackoverflow.com/questions/tagged/kubernetes

[2017-05-21 10:42] #45451 closed

[2017-05-21 10:44] kargakis commented on #45439
Please direct support questions in the kubernetes-users mailing list or stackoverflow

https://groups.google.com/forum/#!forum/kubernetes-users
http://stackoverflow.com/questions/tagged/kubernetes

[2017-05-21 10:44] #45439 closed

[2017-05-21 10:47] kargakis commented on #45188
@kubernetes/sig-scheduling-feature-requests

[2017-05-21 10:47] kargakis commented on #45183
@kubernetes/sig-api-machinery-misc

[2017-05-21 10:48] kargakis commented on #45174
@kubernetes/sig-node-feature-requests @kubernetes/sig-api-machinery-feature-requests

[2017-05-21 10:50] kargakis commented on #45155
Use one of the support channels for these kinds of questions

[2017-05-21 10:50] #45155 closed

[2017-05-21 10:50] kargakis commented on #45131
@kubernetes/sig-cli-feature-requests

[2017-05-21 10:50] kargakis commented on #45092
@kubernetes/sig-cli-misc

[2017-05-21 10:52] kargakis commented on #45026
@kubernetes/sig-node-bugs

[2017-05-21 10:54] kargakis commented on #44992
@kubernetes/sig-cli-misc

[2017-05-21 10:56] kargakis commented on #44978
Seems like the docs are merged, closing

[2017-05-21 10:56] #44978 closed

[2017-05-21 10:57] kargakis commented on #44954
@kubernetes/sig-federation-misc

[2017-05-21 11:01] kargakis commented on #44927
@kubernetes/sig-api-machinery-bugs

[2017-05-21 11:02] kargakis commented on #44854
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 11:02] kargakis commented on #44855
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 11:02] kargakis commented on #44856
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 11:02] kargakis commented on #44852
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 11:03] kargakis commented on #45009
@kubernetes/sig-api-machinery-misc

[2017-05-21 11:04] kargakis commented on #44822
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 11:05] kargakis commented on #44821
@kubernetes/sig-storage-misc

[2017-05-21 11:06] kargakis commented on #44820
@kubernetes/sig-api-machinery-feature-requests

[2017-05-21 11:07] kargakis commented on #44799
@kubernetes/sig-network-misc

[2017-05-21 11:08] kargakis commented on #44694
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 11:09] kargakis commented on #44564
@kubernetes/sig-network-bugs

[2017-05-21 11:10] kargakis commented on #44551
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-21 11:10] kargakis commented on #44546
@kubernetes/sig-node-feature-requests

[2017-05-21 11:11] kargakis commented on #44540
@kubernetes/sig-cli-misc

[2017-05-21 11:12] kargakis commented on #44533
@enisoc

[2017-05-21 11:13] kargakis commented on #44539
@kubernetes/sig-api-machinery-misc

[2017-05-21 11:13] kargakis commented on #44518
@kubernetes/sig-node-bugs

[2017-05-21 11:14] kargakis commented on #44486
Please use our support channels for these kinds of questions

https://groups.google.com/forum/#!forum/kubernetes-users
http://stackoverflow.com/questions/tagged/kubernetes

[2017-05-21 11:15] kargakis commented on #44486
Or maybe this is a feature request? @kubernetes/sig-storage-feature-requests

[2017-05-21 11:16] kargakis commented on #44419
Seems fixed - @mml please reopen if there is anything left

[2017-05-21 11:16] #44419 closed

[2017-05-21 11:24] jpkrohling commented on #26507
I'll open a PR for the OpenShift templates once the uber/jaeger#157 gets merged, and it will probably look like this: jpkrohling/jaeger-openshift@df96ee346e7685df89da54568ad51be4579f8c36 .

[2017-05-21 11:55] kargakis commented on #45825
Dupe of https://github.com/kubernetes/kubernetes/issues/42649?

[2017-05-21 12:13] jhorwit2 commented on #45825
Yeah, it does appear to be the same underlying issue.

[2017-05-21 12:23] kargakis commented on #36868
Restarts are covered by https://github.com/kubernetes/kubernetes/issues/13488
Also, for these kinds of apps, use StatefulSets.

[2017-05-21 12:23] #36868 closed

[2017-05-21 12:26] resouer commented on #41476
So this has been fixed

[2017-05-21 12:26] #41476 closed

[2017-05-21 12:26] kargakis commented on #39337
#31571 is more of an umbrella issue. Closing as a dupe of https://github.com/kubernetes/kubernetes/issues/14510

[2017-05-21 12:26] #39337 closed

[2017-05-21 12:36] kargakis commented on #27959
This seems like expected behavior.

https://kubernetes.io/docs/concepts/storage/volumes/#gcepersistentdisk

[2017-05-21 12:36] #27959 closed

[2017-05-21 12:40] resouer commented on #46027
Yes, please send a benchmark.

[2017-05-21 12:42] #45825 closed

[2017-05-21 12:42] kargakis commented on #42649
Also reported in https://github.com/kubernetes/kubernetes/issues/45825 - @soltysh @erictune is it something we are targetting to fix in 1.7?

[2017-05-21 12:47] kargakis commented on #24888
Canaries will be easier once we have auto-pause: https://github.com/kubernetes/kubernetes/issues/11505

I don't see any other issue here, we still need to document the implications of changing the Deployment selector: https://github.com/kubernetes/kubernetes.github.io/issues/1938

[2017-05-21 12:47] #24888 closed

[2017-05-21 12:47] lukaszo commented on #29276
@kargakis nope

[2017-05-21 12:48] kargakis commented on #18465
Closing in favor of https://github.com/kubernetes/kubernetes.github.io/issues/3863

[2017-05-21 12:48] #18465 closed

[2017-05-21 12:49] kargakis commented on #11485
@kubernetes/sig-cli-misc @kubernetes/sig-apps-misc

[2017-05-21 12:50] kargakis commented on #5721
@kubernetes/sig-apps-feature-requests

[2017-05-21 12:53] kargakis commented on #2804
The controllers are emitting events when pods are created/deleted. Re hooks, I think this is going to be satisfied by evictionCost (https://github.com/kubernetes/kubernetes/issues/4301)

[2017-05-21 14:05] resouer commented on #44546
Just curious why monitoring pod status is not enough? I mean, pod will transfer to RUNNING unless liveness probe success I think.

[2017-05-21 14:48] thockin commented on #44486
Until upstream Ceph has it, no need to have this here.

[2017-05-21 14:48] #44486 closed

[2017-05-21 14:50] thockin commented on #44564
/sig network

On Sun, May 21, 2017 at 4:10 AM, Michail Kargakis <notifications@github.com>
wrote:

[2017-05-21 14:50] thockin commented on #44564
CNI now has chains of plugins, including one for hostPort.  This should be closed in 1.7

[2017-05-21 14:52] thockin commented on #44821
It sounds like this is fixed?

[2017-05-21 14:52] #44821 closed

[2017-05-21 14:52] luispabon commented on #27929
Apologies for not reporting back. Indeed this stopped happening once we moved to Deployments from RCs.

[2017-05-21 14:57] thockin commented on #46180
I don't understand the question - you know which port it arrived at because you were listening on that port.  If you're saying you don't know the public port NUMBER, I can't help you with that.  You don't have to remap ports, if you don't want to, but if you remap them we assume you know what you did.

[2017-05-21 14:57] #46180 closed

[2017-05-21 14:58] #22789 closed

[2017-05-21 14:58] #30422 closed

[2017-05-21 15:01] kargakis commented on #45931
@kubernetes/sig-apps-feature-requests another request that is satisfied by hooks (https://github.com/kubernetes/kubernetes/issues/14512) / auto-pausing (https://github.com/kubernetes/kubernetes/issues/11505).

[2017-05-21 15:08] xiangpengzhao commented on #30286
Please follow the progress here:
https://github.com/kubernetes/features/issues/117

and get the latest guide here:
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/

Will close this issue. @thockin

[2017-05-21 15:16] xiangpengzhao commented on #30382
The http type health check depends on the pod IP. So, if the pod IP is unaccessible by host, the health check will fail.

@thockin

[2017-05-21 15:27] #30286 closed

[2017-05-21 15:29] kargakis commented on #43049
@yanyanhu can you provide a cpu profile and --v=5 logs from the controller manager?

[2017-05-21 15:29] xiangpengzhao commented on #22256
Please post such question or request for support to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

Before posting a new question, please search stackoverflow for answers to similar questions, and also familiarize yourself with:

  * [user documentation](http://kubernetes.io/docs/)
  * [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2017-05-21 15:30] wojtek-t commented on #46027
I think this won't improve much. There are a bunch of places that would benefit more from.

[2017-05-21 15:30] thockin commented on #30382
You can try adding an ipvlan interface in the root netns.  That will allow traffic to flow.  Some cases of iptables will still not work properly, though, so if you depend on the default kube-proxy, you will find it breaks down, even in `l3s` mode :(

[2017-05-21 15:30] #30382 closed

[2017-05-21 15:35] kargakis commented on #42410
Should be addressed in https://github.com/kubernetes/community/pull/503

[2017-05-21 15:35] xiangpengzhao commented on #39830
/cc @thockin

[2017-05-21 15:36] #22256 closed

[2017-05-21 15:36] thockin commented on #39830
thanks for scrubbing!

[2017-05-21 15:36] #39830 closed

[2017-05-21 15:40] kargakis commented on #41102
@gnufied can we close this issue now?

[2017-05-21 15:42] xiangpengzhao commented on #30382
Thanks @thockin for the more detailed explanation! I'm trying to scanning stale issues. I wonder if this is a proper way by replying and @ ing you. IMO this is easier to @ you here directly than send a mail to you or create a topic on google group, as long as github doesn't forget to send you a notification:)

[2017-05-21 15:46] xiangpengzhao commented on #30382
In some stale issues, I will also give a reply which tries to answer their questions. Feel free to correct me if the answers are wrong.

[2017-05-21 15:47] xiangpengzhao commented on #32071
/cc @thockin

[2017-05-21 15:51] xiangpengzhao commented on #44765
/assign @suyogbarve

If bot doesn't allow me to assign, @thockin assigns please :)

[2017-05-21 15:55] xiangpengzhao commented on #28022
Since there is no further echo from @codingwithoutcomments, we can't get enough info to debug, so we are closing this issue. Feel free to re-open it once you encounter this issue again.

@thockin

[2017-05-21 15:58] kargakis commented on #26202
@adohe @janetkuo what's the status of this issue? Are we going to do anything for 1.7?

[2017-05-21 16:07] soltysh commented on #42649
With the current time-frame I'm not sure. I'll be sweeping through my bugs over the next few weeks. I'll see what I can go with.

[2017-05-21 17:10] soltysh commented on #43168
@tacy you're free to open a PR, but the root cause of the problem should be fixed with the current ownerRef changes to jobs.

[2017-05-21 17:14] roberthbailey commented on #44694
Please close this issue and re-open in the [kubeadm repository](https://github.com/kubernetes/kubeadm)

[2017-05-21 17:15] roberthbailey commented on #44551
Please close this issue and re-open in the [kubeadm repository](https://github.com/kubernetes/kubeadm)

[2017-05-21 19:15] WillemMali commented on #23581
I'm not very familiar with Go but I have done some work on `kops`, I'd really like to see this implemented and I have the time to do it.

Could anyone provide me with guidance for implementing this, e.g. what the first few files I should create are and how to set up the boilerplate, so I can get started writing and debugging an initial implementation?

[2017-05-21 19:17] k8s-merge-robot opened #46183 "Failure cluster [8cbcbf...] failed 58 builds, 5 jobs, and 2 tests over 1 days"
### Failure cluster [8cbcbfc548bf4845455d](https://go.k8s.io/triage#8cbcbfc548bf4845455d)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    5 jobs failed,    58 builds failed.
Failure stats cover 1 day time range '20 May 2017 17:55 UTC' to '21 May 2017 17:55 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| SkewTest | 3 |
| Upgrad

[2017-05-21 19:17] k8s-merge-robot opened #46184 "Failure cluster [c73f9f...] failed 56 builds, 9 jobs, and 13 tests over 1 days"
### Failure cluster [c73f9fad18272756b1f1](https://go.k8s.io/triage#c73f9fad18272756b1f1)
##### Error text:
[code]
##### Failure cluster statistics:
13 tests failed,    9 jobs failed,    56 builds failed.
Failure stats cover 1 day time range '20 May 2017 17:55 UTC' to '21 May 2017 17:55 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] etcd Upgrade

[2017-05-21 19:17] k8s-merge-robot opened #46185 "Failure cluster [63a364...] failed 54 builds, 37 jobs, and 25 tests over 1 days"
### Failure cluster [63a36434077ff31ae29e](https://go.k8s.io/triage#63a36434077ff31ae29e)
##### Error text:
[code]
##### Failure cluster statistics:
25 tests failed,    37 jobs failed,    54 builds failed.
Failure stats cover 1 day time range '20 May 2017 17:55 UTC' to '21 May 2017 17:55 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] DNS should p

[2017-05-21 21:20] saschagrunert commented on #45613
So I can confirm that the mentioned bug is fixed with 1.6.4. great, thanks. 👍🏻👌🏼

[2017-05-21 22:56] pfremm opened #46186 "Centos 7 service reporting unhealthy to TCP ELB after short period of time."
**Kubernetes version** (use `kubectl version`):
1.6.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):CentOS Linux release 7.3.1611 (Core) ami-6d1c2007
- **Kernel** (e.g. `uname -a`): 3.10.0-514.16.1.el7.x86_64
- **Install tools**: kubeadm

**What happened**:
When deploying a new pod and service with the kube-proxy in iptables mode along w

[2017-05-21 23:01] foxish commented on #39830
Thanks @xiangpengzhao!

[2017-05-21 23:39] cmluciano commented on #46142
/sig cluster-lifecycle

[2017-05-21 23:39] cmluciano commented on #46141
/sig cluster-lifecycle

[2017-05-22 00:53] thiagodasilva commented on #43815
@ReSearchITEng sorry I forgot to report back, but I eventually got it to work, my vagrant+ansible files are here: https://github.com/thiagodasilva/kubernetes-swift

[2017-05-22 00:55] liggitt commented on #45728
fyi, GC doesn't currently work with TPR data

[2017-05-22 02:01] WIZARD-CXY commented on #46070
@cmluciano Actually there is another gpu trainning container running as command "python 45265", and this job this running as command python3. They are using the same gpu device.

[2017-05-22 02:03] WIZARD-CXY commented on #46070
sorry, my mistake and I will push the image to a public registry.

[2017-05-22 02:04] xingzhou commented on #44697
@mdshuai, the patch was just merged last weekend, would you please try the latest master code?

[2017-05-22 02:32] jazzsir opened #46188 "kube-dns and dashboard get into a crash loop"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------------------------------------------

[2017-05-22 03:02] smarterclayton opened #46190 "Service of type ExternalName that is converted to ClusterIP does not get an IP"
Kube 1.6.2:

1. Create a service ExternalName
2. Edit service and change type to ClusterIP and set ports

Expected:

1. Service gets allocated a clusterIP

Actual:

1. Service has empty clusterIP

[2017-05-22 03:08] smarterclayton opened #46191 "kubectl create service should accept --selector"
It should be possible to pass a selector to create services of type != ExternalName.  The default selector isn't very useful.

[2017-05-22 03:15] xiangpengzhao commented on #34283
@nhlfr Michal's PR was closed due to inactive in 90 days. And that PR was a fix for DockerManager which had been removed.

In the current dockershim code, if there is an error from [getIPFromPlugin](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_sandbox.go#L284-L285), the error is only logged instead of being returned. I wonder if network plugins can report such

[2017-05-22 04:05] karunakar1122v commented on #46029
Hi Eric tune,

I searched in statckoverflow I get only older version of Cluster configuration.Same way I configured kubernetes 1.6.3 but facing some issues.That is the reason only I raised request.Any way Thaks for your response.Because of urgency only only I asked update on this after one day.

[2017-05-22 04:41] iam404 commented on #43811
Has similar issue. Liveness probe health check fail but still pod was not restarted.

[2017-05-22 04:56] shiywang commented on #46191
will take a look

[2017-05-22 05:06] chrislovecnm commented on #40375
I am closing this out, as I have not seen it lately.

[2017-05-22 05:06] #40375 closed

[2017-05-22 05:14] chrislovecnm commented on #37266
@tonylambiris can we close this?

[2017-05-22 05:40] shiywang commented on #44540
/assign

[2017-05-22 06:11] foxish commented on #45978
The same issue appears to be happening again with https://github.com/kubernetes/kubernetes/pull/46071 and https://github.com/kubernetes/kubernetes/pull/46071

[2017-05-22 06:18] xiangpengzhao commented on #46190
/assign

[2017-05-22 06:20] wojtek-t opened #46195 "Some kubemark tests are failing to start the kubemark cluster"
Some example runs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/12417
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/12417

[2017-05-22 06:21] wojtek-t commented on #46195
@kubernetes/sig-scalability-bugs

[2017-05-22 06:21] wojtek-t commented on #46195
@gmarek

[2017-05-22 06:22] wojtek-t opened #46196 "Kubemark-500 is broken"
It is failing to create all the nodes since:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/5030

@kubernetes/sig-scalability-bugs @gmarek @shyamjvs

[2017-05-22 06:23] tobegit3hub commented on #24913
Hi @bgrant0607 , is it any reason about why Kubernetes can't support this? Docker has the [APIs](https://docs.docker.com/engine/reference/commandline/update/) to update the memory or cpu for running containers and this is meaningful for serveless services.

[2017-05-22 06:27] wojtek-t opened #46198 "ResourceUsageGatherer panics in scalability tests"
Example:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/2405

[code]

@kubernetes/sig-scalability-bugs

[2017-05-22 06:35] vishh commented on #46070
@cmluciano I wonder if #46087 might fix this. Can we add test cases for this issue once a repro is available?

[2017-05-22 06:35] madhusudancs commented on #45978
Thanks! We are debugging this. We have made federation presubmits non-blocking for now. You should be able to merge PRs without that job passing.

[2017-05-22 06:36] madhusudancs commented on #45795
Closing this in favor of issue #45978 which has linked runs which more accurately describe the problem.

[2017-05-22 06:36] #45795 closed

[2017-05-22 06:36] vishh commented on #46070
xref #44107

[2017-05-22 06:53] jdalberg commented on #44059
Any chance of a release supporting tmpfs? I see the same on my rktnetes nodes on Ubuntu.

[2017-05-22 06:59] cceckman commented on #42503
+1 to this being nonobvious from the documentation at https://kubernetes.io/docs/concepts/storage/persistent-volumes/ . I was experimenting with https://gist.github.com/cceckman/fd1564425c700e45564633971e170a11 (which doesn't work - nothing matching the selector), took me quite a while to arrive at the storage class fix.

[2017-05-22 06:59] wojtek-t commented on #46196
It seems that this PR was the only one that was merged when it started failing:
https://github.com/kubernetes/kubernetes/pull/45933
@smarterclayton @deads2k - not sure what the reason actually is though

What is suspicious to me is that is seems that in **all** runs exactly 490 hollow nodes out of 500 started.

It seems that something has changed around scheduling of nodes, because there are alway

[2017-05-22 07:13] himaprasoonpt commented on #43356
I have the same issue as @igormrbean .
healthz version gcr.io/google_containers/exechealthz-amd64:1.2

[2017-05-22 07:13] lyz-code commented on #45961
Here is everything in the controller manager logs:

[code]

All the HPA shows `Events:    <none>`

About the master being able to connect to the pods. The test I made is to wget from the controller-manager to one of the pods, If there is a more precise test please let me know:

[code]

Thank you for helping me debug this :)

[2017-05-22 07:20] wojtek-t commented on #46196
OK - now I'm pretty sure that this PR breaks this, because it also cause schedulerpredicates tests to fail:
https://k8s-testgrid.appspot.com/google-gce#gce-serial

Though, I'm looking into this PR and to be honest I don't know what is wrong with it yet.

[2017-05-22 07:22] #43126 closed

[2017-05-22 07:44] yastij commented on #46027
indeed, maybe we should remove the TODO then.

[2017-05-22 07:49] chrislovecnm commented on #23525
@justinsb can we close?

[2017-05-22 07:56] shiywang commented on #45970
@sttts I would like to take a look at this, so all I need to do is complete those Status objects right ?

[2017-05-22 08:00] madhusudancs commented on #46021
@ktsakalozos got it.

[2017-05-22 08:39] tacy commented on #43168
@soltysh  - Sorry about the confusion, I shoud file a new issue that  When I delete a job, and the job's pod has been deleted, the delete may hang.

[2017-05-22 08:43] piosz commented on #27178
I don't see this issue anymore.

[2017-05-22 08:43] #27178 closed

[2017-05-22 08:58] kargakis opened #46204 "kubelet_TestPodVolumesExist flake"
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44774/pull-kubernetes-unit/31791/

@kubernetes/sig-storage-test-failures @kubernetes/sig-node-test-failures

[2017-05-22 09:13] sttts commented on #45970
@shiywang yes. It's mostly a plumbing problem. You need a request context and a serializer at those place. We do not wire through them consequently though. I am doing similar work right now for auditing, i.e. getting the context to a number of places: https://github.com/kubernetes/kubernetes/pull/45766/commits/aadccb3b6fe9f5fa4d9d9e8ce0283621b72f70a4.

[2017-05-22 09:21] joseph-lanoux opened #46206 "The e2e suite uses the current context host IP"
BUG REPORT:

When specifying the context to use in the e2e run command, the test suite uses the current context host IP instead of the specified context host IP.

To reproduce:
- have a kubeconfig file with 2 contexts having different host IPs
- set up one context (1) as the current context
- run the e2e tests specifying the other context (2): the suite tries to run the tests with the context (2)

[2017-05-22 09:24] shyamjvs commented on #46195
Seems like we are facing the same problem as we saw in kubemark-100 (issue https://github.com/kubernetes/kubernetes/issues/46109) of not having kubemark-master logs in case of startup failure.
We need to fix it asap to know the reason for these failures.

[2017-05-22 09:26] wojtek-t commented on #46027
I'm fine with removing TODO.

[2017-05-22 09:44] yastij commented on #46027
submitting PR after WR then.

[2017-05-22 09:50] joseph-lanoux commented on #46206
/label area/node-e2e

[2017-05-22 09:55] davidmccormick commented on #45887
Hi
This is now working for me - I had introduced problem when I changed mount to expect 3 arguments thinking I needed to support attach/detach and then didn't reduce it back to 2 again when I reverted to mount/unmount only (which was preferable).

So I still see lots of errors on the attach/dettach but it then goes on the mount the volume , e.g.

[code]

This is improved if I change the default "N

[2017-05-22 10:01] calston commented on #43805
[code]

[2017-05-22 10:07] fabiand commented on #36885
Not sure if it's the most recent document, but it's described here https://docs.google.com/document/d/1y16jKL2hMjQO0trYBJJSczPAWj8vAgNFrdTZeCincmI/edit @krmayankk

[2017-05-22 10:15] WIZARD-CXY commented on #46070
yaml updated with public image

[2017-05-22 10:19] gmarek commented on #45675
@ixdy - what's with disruptive and serial? Are we run those tests serially and if we do can all tests handle disruptive tests running just before them?

[2017-05-22 10:21] gmarek commented on #45675
Also - I don't think that hardcoding filters is a good pattern - it makes it way harder to understand which tests will run, if you don't know about this logic.

[2017-05-22 10:33] pmichali commented on #44848
@thockin Thanks for the responses. Wasn't sure if I needed to include in release notes, some of the tactical changes being made for some of the processing.

I pushed out (new PR) 46138 with info on how the default route was being handled. Have a check that IP for GW is global unicast, as an extra check. The (long) PR comment attempts to explain the changes made to the selection of IP from default

[2017-05-22 11:03] WIZARD-CXY commented on #46070
I took more time investigating this issue and found that the container inspect result only show one gpu device (/dev/nvidia7) after launching the job.
[code]
But when I exec into this container and use ls command, the output is
[code]
It shows all the devices on the host. Is that normal?

[2017-05-22 11:17] smifun commented on #28660
Yet another example why this would be useful is in cases where client is talking just to one of servers to discover remaining servers. This is the case for kafka/zookeeper.

[2017-05-22 11:39] jszczepkowski commented on #30471
Do you mean the feature or e2e tests? The feature (and unittests) are ready. AFAIK, e2e tests are still not implemented.

@DirectXMan12 Do you know if we have e2e tests for this?

[2017-05-22 11:47] gmarek commented on #46198
It seems that there's some bug in processing Stats from SummaryAPI that I wrote recently. Segfault is in the logic that tries to get CPU infro from `ContainerStats`, which is unset. @piosz - is this expected behavior?

For the time being I'll add more logging to make sure that this is indeed the problem, and try to understand circumstances when it happens. I'll send the proper fix only after under

[2017-05-22 11:51] rtheis commented on #45385
@thockin running the commands by hand takes about the same amount of time.  I'll collect the data for your other questions.

[2017-05-22 12:02] deads2k commented on #45728
I'm opposed to muddying a new API (CRD).  However, if you were to implement the link in the TPR resource, I'm not philosophically opposed.

I think it can work.  It's not a straight storage copy since the TPR implementation has some wrappers around its storage and you're not guaranteed that the contained data is valid, but the data could be moved internally.  Such code should live outside of the C

[2017-05-22 12:06] resouer commented on #24913
See comment: https://github.com/kubernetes/kubernetes/issues/39060#issuecomment-268449812

[2017-05-22 12:07] wojtek-t commented on #46196
the revert seems to solve the problem. So I'm closing this one.

[2017-05-22 12:07] #46196 closed

[2017-05-22 12:12] yastij opened #46215 "updateCIDRAllocation should use PATCH to apply changes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

updateCIDRAllocation
CIDR
node_controller

---

**Is this a BUG REPORT or FEATURE R

[2017-05-22 12:16] yastij commented on #46215
/sig node
/area nodecontroller

[2017-05-22 12:16] yastij commented on #46215
/assign

[2017-05-22 12:30] rtheis commented on #45385
@thockin: Here's the data from one environment.

uname -a: `4.4.0-71-generic`

[code]

[2017-05-22 12:40] Godley commented on #46102
currently we delete the deployment which created the pods referencing the PVC, then immediately delete the PVC.
To mitigate the problem we'll put in a watcher which will wait until all the pods are terminated before attempting to delete the PVC.
(this was found by a python script which creates and deletes deployments and PVCs over and over again)

[2017-05-22 12:46] davidhyman opened #46218 "livenessProbe should log useful failure messages"
FEATURE REQUEST
**Kubernetes version**:
GitVersion:"v1.6.2"

**Environment**:
Google Container Engine

**What happened**:
Various issues getting the url / timeout etc params correct for the deployment (also see https://github.com/kubernetes/kubernetes/issues/29470 or https://github.com/kubernetes/kubernetes/issues/29470)
Very long debug cycle.
Right now the only messages one can get out of the sys

[2017-05-22 12:48] deads2k commented on #36885
The code itself is modeled as a separate API server because its much faster to develop and iterate on the smaller surface area, but for operational simplicity we are bundling it inside of the `kube-apiserver` so it comes by default.

See the position doc for reasoning: https://github.com/kubernetes/community/blob/master/sig-api-machinery/api-extensions-position-statement.md#q-should-kube-aggregato

[2017-05-22 12:53] dhilipkumars commented on #44063
FYI
if docker accepts this PR, we may be able to loose seesaw (libnl.so) dependency.  https://github.com/docker/libnetwork/pull/1770

[2017-05-22 13:21] php-coder commented on #46148
Could you provide a link to this issue, please?

Probably, I misunderstood you, but are you suggesting to add a workaround for a docker bug to Kubernetes?

[2017-05-22 13:39] #44694 closed

[2017-05-22 13:52] mtaufen commented on #46185
/assign @bowei wrt DNS

[2017-05-22 14:01] aknuds1 commented on #41444
I'm interested in this and would be willing to help.

[2017-05-22 14:02] deitch commented on #45398
Either way, will`PodDisruptionBudget` be updatable?

FYI, I get the same error even if the update changes nothing. How do I update my kubernetes cluster in a CD pipeline with a `PodDisruptionBudget` in it? Normally, I can do `kubectl apply -f somefile.yml`, and it intelligently handles services, deployments, statefulsets, etc. But if there is a disruption budget in there, boom.

[2017-05-22 14:07] baldwinSPC commented on #41444
@aknuds1 we're in the middle of coding up the contrib for cloudprovider. once we have a bit more we'll share :)

[2017-05-22 14:08] smarterclayton commented on #46196
It's probably someone mutating the shared cache.

[2017-05-22 14:09] ncdc commented on #46196
The per-PR tests would fail if that's the case (the mutation detector should be enabled for them).

[2017-05-22 14:12] rpothier opened #46222 "node-controller: Unit test flake in TestUpdateNodeWithMultiplePods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------------------------------------------

[2017-05-22 14:16] wojtek-t commented on #46196
It doesn't seem like that - in that case it would be more like a race.
The behavior in kubemark-500 was super stable - we were always starting exactly 490 out of 500 hollow nodes.

[2017-05-22 14:17] kargakis commented on #45398
@foxish @davidopp is there any reason not to do this? Especially now that we are going to add MaxUnavailable, people may want to change to the new field.

[2017-05-22 14:27] kargakis commented on #45978
Can't seem to get past this flake in https://github.com/kubernetes/kubernetes/pull/46169

[2017-05-22 14:28] kargakis commented on #45978
Ok, just saw @madhusudancs's comment and it seems that the PR is in the queue, sorry for the noise

[2017-05-22 14:39] shiywang opened #46226 "why so many flake this weekend and Jenkins job name changed ?"
In this pr: https://github.com/kubernetes/kubernetes/pull/45864,  Jenkins verification job failed, but there are another two jobs pull-kubernetes-bazel , pull-kubernetes-verify passed, do we change the jenkins job name ?
@kubernetes/sig-testing-bugs

[2017-05-22 14:48] shashidharatd commented on #46196
https://k8s-testgrid.appspot.com/cluster-federation#gce
Above is another instance of failing test case fixed by this reverting PR #46199
The test case started failing when the commit https://github.com/kubernetes/kubernetes/commit/479f01d340b917ac3544f094f38edaed0ab44128 was merged.

[2017-05-22 15:00] xiangpengzhao commented on #46191
I guess Clayton was saying `kubectl create service`.

[2017-05-22 15:01] shiywang commented on #42752
/cc

[2017-05-22 15:08] #45538 closed

[2017-05-22 15:24] aknuds1 commented on #41444
@baldwinSPC Thanks for letting me know 🙂

[2017-05-22 15:27] yujuhong commented on #46115
/cc @dashpole

[2017-05-22 15:40] thockin commented on #45385
Would you be willing to send me a dump of your `iptables-save` - I still
have a hunch this is a kernel performance regression, but I want to
experiment with the same base rules.

On Mon, May 22, 2017 at 5:31 AM, rtheis <notifications@github.com> wrote:

[2017-05-22 15:40] thockin commented on #45385
@freehan

On Mon, May 22, 2017 at 8:39 AM, Tim Hockin <thockin@google.com> wrote:

[2017-05-22 15:50] smarterclayton commented on #46196
Heh - turns out the watch cache behaves differently than the underlying storage watch for delete events.  My filtering function is written for the underlying storage behavior.  The behavior in cache looks like a bug we never caught.

[2017-05-22 16:01] crassirostris commented on #45998
@fejta It's actually strange that those tests were merged, they run in different packages even

As for monitoring ones, I don't know the reason, but I'll try to find someone to track it. As for logging, I believe https://github.com/kubernetes/kubernetes/pull/45255 will fix it, once I'll figure out the godeps problem

[2017-05-22 16:09] xiangpengzhao commented on #30877
/cc @thockin

[2017-05-22 16:14] wanghaoran1988 commented on #41789
/cc

[2017-05-22 16:15] MrHohn commented on #13346
The original issue "remove NotReady nodes from a load balancer" is fixed by #16443. The remaining purpose "adding explicit health checks" is being track by #14661. I'm closing this one to not have multiple issues tracking the same thing.

/assign

[2017-05-22 16:15] MrHohn commented on #13346
/close

[2017-05-22 16:15] #13346 closed

[2017-05-22 16:16] crassirostris commented on #45998
But meanwhile I'll make logging tests less restrictive

[2017-05-22 16:18] cmluciano commented on #46007
Yes I will mention this case. I do wonder if even though all are seen, will the application still only use the device specifically mounted into it.

I do see that it seems the mount is owned by root on my laptop

[code]

It makes sense that you may need to copy them.

I think a note about this in the docs is useful, and then we should strongly consider some sort of auto-mounting mechanism for 1.8.

[2017-05-22 16:28] dashpole commented on #46115
kubernetes v1.6 is tied cAdvisor v0.25.  I plan to cut cAdvisor v0.26.0 in the next week, and will include that in kubernetes v1.7.  I do not plan to cherrypick zfs support into the 1.6 branch

[2017-05-22 16:30] spiffxp commented on #43989
/sig testing

[2017-05-22 16:30] hubt opened #46230 "/proc/sys/fs/inotify/max_user_watches is too low"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
max_user_watches
#32526

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"cl

[2017-05-22 16:32] cmluciano commented on #46070
@vishh Yes, I can try to add a test to mimic this behavior, but I think this is caused by two processes running in the same container.

@WIZARD-CXY Can you run a ps inside of that container and grep on python? I think you have both a python and a python3 process running simultaneously in each of these pods. This can be subtle like a python3 init script starting a python process.

If the above is t

[2017-05-22 16:34] ahmetb opened #46231 "Support node selectors for node, drain, taint and apply to new nodes"
Similar to #25625, Kubernetes needs to support enforcing of node taint/drain/cordon commands through a selector continuously applied to the nodes on the server-side. Currently the way to apply these commands to a set of nodes is to get nodes and iterate on the client-side. This will not work for the scenario where cluster autoscaler is continuously adding/removing new nodes.

It should be possible

[2017-05-22 16:35] chrismcv commented on #46188
I've an almost identical setup and am seeing exactly the same thing. I was wondering if there is meant to be an interface for the `10.3.0.0` network?

[2017-05-22 16:35] carsonoid commented on #46115
@dashpole what about allowing cAdvisor to be run separately?

[2017-05-22 16:42] dashpole commented on #46115
We have considered that in the past, but found that there is not a large enough benefit to justify putting in the work to break the two up.  In order to manage validation of kubernetes with cAdvisor, we would likely have to tie each version of kubernetes to a version of cAdvisor anyways, so it wouldn't really help your situation here.

[2017-05-22 16:45] MrHohn commented on #45991
Didn't see this specific failure appear on [ci-kubernetes-e2e-gce-serial](https://k8s-testgrid.appspot.com/google-gce#gce-serial&width=5) after #46011 was merged. It also seems that failures have been narrowed down because we avoid those random failures.

Closing this as other failures in this test should be tracked by other issues.

/assign

[2017-05-22 16:45] MrHohn commented on #45991
/close

[2017-05-22 16:45] #45991 closed

[2017-05-22 16:46] carsonoid commented on #46115
Ok thanks for your time. It looks like I'll just have to wait for 1.7 to get disk stats and stop the spam "error" messages from the kubelet. Not a problem.

[2017-05-22 16:46] #46115 closed

[2017-05-22 16:49] spiffxp commented on #45947
Blerg.  @jayunit100 pointed this out back in the PR that remove the functionality, let's follow through and remove the flags.  Easy PR if someone wants it

[2017-05-22 16:50] philips commented on #46148
@php-coder This is the Docker issue: https://github.com/moby/moby/issues/8460#issuecomment-258706298

[2017-05-22 16:55] diegs commented on #46148
@php-coder Yes, we would need to invoke `setcap` on the hyperkube binary itself to grant it `CAP_NET_BIND_SERVICE`. Simply adding `CAP_NET_BIND_SERVICE` as a capability in the security context does not have the desired effect, due to the issue @philips mentioned in the previous comment.

[2017-05-22 16:57] ixdy commented on #46226
Yes, we are changing the GitHub context names to match the job names. That should be unrelated to the flakiness, though.

[2017-05-22 16:59] diegs commented on #46148
Update: unfortunately my first fix (https://github.com/diegs/kubernetes/commit/c1d0a1c9dc87c96de684cd093e7c5586c57e3aa2) does not work, due to https://github.com/moby/moby/issues/20435.

A fix that does work is https://github.com/coreos/kubernetes/commit/85e2941baf3bc43d004a27e918044911d52766eb. Unfortunately this adds another Docker layer and increases the size of the binary significantly (https:

[2017-05-22 17:05] msau42 commented on #35176
/sig storage

[2017-05-22 17:06] spiffxp commented on #46226
ref: https://github.com/kubernetes/test-infra/pull/2811 for the context-renames, but agreed, shouldn't have anything to do with random jobs flaking

[2017-05-22 17:08] msau42 commented on #34810
/sig storage

[2017-05-22 17:09] msau42 commented on #34549
/sig storage

[2017-05-22 17:10] msau42 commented on #34439
/sig storage

[2017-05-22 17:11] cmluciano commented on #43470
This seems to be affecting many PRs at the moment. Is there a clear owner here?

[2017-05-22 17:12] msau42 commented on #34137
/sig storage

[2017-05-22 17:12] msau42 commented on #33717
/sig storage

[2017-05-22 17:14] msau42 commented on #33602
Looks like this just needs a documentation update?

/sig storage

[2017-05-22 17:15] msau42 commented on #33491
Is there still an issue? Can this be closed?

/sig storage

[2017-05-22 17:16] msau42 commented on #34439
/assign @jingxu97 @vishh

[2017-05-22 17:24] bfznj opened #46232 "how to stop a running kube-proxy? or start one against a port other than 8001?"
Hello, I'm a newbie to kubernetes, still learning through minikube.

While going through the tutorials, at the spot where I run "kubectl proxy" to start a proxy. I got the response "proxy.go:137] listen tcp 127.0.0.1:8001: bind: address already in use".

Apparently, in an earlier exercise of sort, I already ran the same command. How can I stop the existing process listening to that port? I tried t

[2017-05-22 17:24] timothysc commented on #26507
Just to recap on this issue regarding conversations between @gmarek and myself.

Given the difference in models, we don't see a systematic way to handle cross component tracing given the sheer number of edges we can hit as well as the tooling required.  Single component tracing seems perfectly reasonable can can be done on a case-by-case basis as needed.

To gain better visibility into operations

[2017-05-22 17:28] apelisse commented on #46232
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-05-22 17:28] #46232 closed

[2017-05-22 17:33] nikhiljindal commented on #46137
Great, @shashidharatd!
Were you able to verify by trying it out?

Feel free to close the issue once you have had a change to verify.

[2017-05-22 17:35] nikhiljindal commented on #45264
Fixed by https://github.com/kubernetes/kubernetes/pull/45265

[2017-05-22 17:35] #45264 closed

[2017-05-22 17:37] enisoc commented on #45728
@smarterclayton You're right that it may not be feasible to do this safely with multiple masters - at least not with an implementation that's simple enough to get into 1.7. I'm not sure if you meant this should be a blocker, but I think automation that works only for some use cases is better than making everyone do it manually, in the absence of other proposals for automation.

@liggitt Is the GC

[2017-05-22 17:39] nikhiljindal commented on #41791
This was discussed at the previous sig meeting.
@shashidharatd Can you update the status of adding ci jobs for running continuous upgrade testing.

[2017-05-22 17:39] cmluciano commented on #20251
@thockin I see similar logic in the new implementation [here](https://github.com/kubernetes/kubernetes/blob/release-1.6/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L388-L393).

I'm not sure if I understand the issue enough to validate if it is fixed.

[2017-05-22 17:43] thockin commented on #20251
I am not sure how we would end up in this codepath, but it seems to me that
one is as likely as the other, and if we check one, we should check both
(and comment why).  Or neither.

On Mon, May 22, 2017 at 10:39 AM, cmluciano <notifications@github.com>
wrote:

[2017-05-22 17:55] DirectXMan12 commented on #30471
I don't think we have e2e tests for this yet.  It's on my list of things to get to eventually, but it requires a bit of fiddling to recreate the right circumstances.

[2017-05-22 17:56] cmluciano commented on #46188
/area dns

@kubernetes/sig-network-bugs

[2017-05-22 17:58] DirectXMan12 commented on #45961
Wait, what log level are you running at?  That's all that's in your controller manager logs?  Can you bump up the log level on the controller manager to `--v=4` or `--v=6`?  You should then see regular messages from the HPA controller.

`curl $MASTER_IP/api/v1/namespaces/kube-system/services/heapster/proxy/apis/metrics/v1alpha1/nodes` is what the HPA controller does.

[2017-05-22 18:09] msau42 commented on #36499
We're planning on adding support for PD-SSD in GKE soon.

We can look into local SSD afterwards if there is interest.

cc @mindprince

[2017-05-22 18:10] cmluciano commented on #34283
Can this PR be resubmitted to conform to the dockershim layout? It looks like the PR was against the removed dockertool path.

[2017-05-22 18:19] shashidharatd commented on #46137
Here is the e2e test case to verify if update is propagated to federated clusters.
https://github.com/kubernetes/kubernetes/commit/a152b9919a35e3078a4ad58f67b34e7a31557a4b

/close

[2017-05-22 18:19] #46137 closed

[2017-05-22 18:21] saad-ali commented on #45613
Closing. Issue is fixed in https://github.com/kubernetes/kubernetes/releases/tag/v1.6.4 release

[2017-05-22 18:21] #45613 closed

[2017-05-22 18:24] msau42 commented on #33009
@humblec can you close this if it's complete?

[2017-05-22 18:25] ixdy commented on #45757
/unassign

[2017-05-22 18:31] yujuhong commented on #20251
From the code @cmluciano posted above: `sandboxStatus.Linux.Namespaces.Options.HostNetwork != kubecontainer.IsHostNetworkPod(pod) ` seems general enough.
In reality, apiserver won't allow flipping the host network bit in the pod spec, so we won't hit this at all.

[2017-05-22 18:32] thockin commented on #46188
Shouldn't flannel interfaces have a netmask to allow routing - e.g. /16
rather than /32 ?

On Mon, May 22, 2017 at 10:56 AM, cmluciano <notifications@github.com>
wrote:

[2017-05-22 18:32] thockin commented on #20251
Agree - close this?

On Mon, May 22, 2017 at 11:31 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2017-05-22 18:34] caseydavenport commented on #46188
That's the Service range, which shouldn't have an interface / route / etc associated with it.

@jazzsir it sounds like the two pods are having trouble reaching the Kubernetes API via the Service ClusterIP, which is usually indicative of either:

- Pod networking not being functional.
- kube-proxy not being functional.

I'd check that the kube-proxy is running and healthy on the nodes with the dns/

[2017-05-22 18:35] msau42 commented on #32838
@dashpole did you add any tests in this area?

sig node storage

[2017-05-22 18:36] ixdy commented on #44533
Looks like this has been broken for a while - I just checked v.1.3.1, and it similarly contains the placeholder docs. Looks like https://github.com/kubernetes/kubernetes/pull/26820 caused it, and I guess we forgot to update `anago` to generate docs before release?

[2017-05-22 18:37] dcbw commented on #45790
@deitch 1 - 4 sound accurate to me, but somebody should double-check 2 because that was only my vague recollection of what hairpin was meant to solve, and I forget if that is accurate or not.  But other than that, yes.

[2017-05-22 18:37] msau42 commented on #32501
Can this be closed?

/sig storage

[2017-05-22 18:38] msau42 commented on #32838
/sig node storage

[2017-05-22 18:39] msau42 commented on #32336
Is this still an issue?

/sig storage

[2017-05-22 18:41] timstclair commented on #39845
2,3 sound good to me.  I think we can do (2) before fully implementing (3), since it's technically still an "alpha" feature. I think we should use the OCI spec, but I don't know the details on it. (4) is essentially already implemented on the PodSecurityPolicy, via an annotation (should graduate to a field before seccomp support goes to beta): "seccomp.security.alpha.kubernetes.io/defaultProfileNa

[2017-05-22 18:41] #20251 closed

[2017-05-22 18:43] msau42 commented on #32068
The FailedMount message is normal for a short time during pod startup.  #43852 is adding a successful event to help avoid confusion.  So this can be closed.

/assign

[2017-05-22 18:44] msau42 commented on #32068
/close

[2017-05-22 18:44] #32068 closed

[2017-05-22 18:45] msau42 commented on #31959
@rootfs can this be closed?

/sig storage

[2017-05-22 18:45] msau42 commented on #31298
/sig storage

[2017-05-22 18:45] foxish opened #46237 "Enforce consistent naming of kubectl generators"
For context see: https://github.com/kubernetes/kubernetes/blob/c0920f75cf75432554ffb3f5eaed0f26598899c3/pkg/kubectl/cmd/util/factory_client_access.go#L457-L485

Generators are used by folks using kubectl to enforce a certain behavior which is guaranteed to be backward compatible.
Different generators use different conventions for naming, some of which are:

[code]
We should converge these to adopt

[2017-05-22 18:48] rootfs commented on #31959
/assign
/close

[2017-05-22 18:48] rootfs commented on #31959
/close

[2017-05-22 18:48] #31959 closed

[2017-05-22 18:49] rootfs commented on #31959
@msau42 yes, please close it. thanks!

[2017-05-22 18:55] huangjiasingle commented on #45668
@luxas yes , l use the external etcd cluster,  l think the kubeadm reset should delete the all resouce from the external etcd cluster.

[2017-05-22 18:58] kargakis commented on #45668
Please move this issue in the kubeadm repo

[2017-05-22 19:02] nikhiljindal commented on #42131
I do not understand the issue here.
I do not see a scenario where federation will try to create multiple DNS records resolving to same IP address.

I am not too familiar with our type=LoadBalancer service implementation on AWS, but does that create Route53 DNS records?
If yes, then I can see how that can cause a problem if Route53 does not allow creating multiple DNS records resolving to the same

[2017-05-22 19:11] timothysc commented on #43049
So depending on the number of services / endpoints there are known issues there.  What I'm curious to know @ what latencies are across different areas.

@gmarek @kensimon , this is the root of tracing + events issue(s).

[2017-05-22 19:14] nikhiljindal commented on #36757
Yes the problem is that we get IP addresses on GCP and domain name on AWS. And we cant have both A records and CNAME for same DNS entry as explained in https://github.com/kubernetes/kubernetes/issues/35637#issuecomment-256961669.
So we need to choose either one for hybrid scenarios.

Closing this as dup of https://github.com/kubernetes/kubernetes/issues/35637

[2017-05-22 19:14] #36757 closed

[2017-05-22 19:17] nikhiljindal commented on #35637
Yes, ideally we want A records for GCP and CNAME for AWS, but since we cant have both A and CNAME records for same DNS entry, we need to choose either one for hybrid.

cc @madhusudancs

[2017-05-22 19:18] matt-potter commented on #42131
@nikhiljindal Apologies, I forgot to link in my PR - but this one I submitted and is currently open resolves this issue I believe. It only occurs when a cluster spans multiple availability zones in the same region. https://github.com/kubernetes/kubernetes/pull/45492

[2017-05-22 19:18] nikhiljindal opened #46240 "federation services: known issues"
Documenting the list of known issues with federated services:

- [ ] Should configure CNAME records instead of A records on AWS: https://github.com/kubernetes/kubernetes/issues/35637
- [ ] Duplicate resource record errors with Route53: https://github.com/kubernetes/kubernetes/issues/42131
- [ ] Remove DNS entries when a cluster is removed from federation: https://github.com/kubernetes/kubernetes/i

[2017-05-22 19:19] msau42 commented on #30378
Were you able to find a solution to your issue?

Hostpath requires that you either run your pod as privileged or you precreate the directories with the correct permissions beforehand.

/sig storage

[2017-05-22 19:20] msau42 commented on #30282
/sig storage

[2017-05-22 19:20] msau42 commented on #30248
Closing as per above comment
/assign

[2017-05-22 19:21] msau42 commented on #30248
/close

[2017-05-22 19:21] #30248 closed

[2017-05-22 19:24] freehan commented on #45385
Looks like you are hitting a kernel regression:.

Some info:
https://gist.github.com/williammartin/b75e3faf5964648299e4d985413e6c0c

[2017-05-22 19:28] david-mcmahon commented on #44533
This should happen [here](https://github.com/kubernetes/release/blob/master/anago#L376).  Checking further.

[2017-05-22 19:31] #30877 closed

[2017-05-22 19:35] cmluciano commented on #46007
related https://github.com/kubernetes/kubernetes/issues/30378

[2017-05-22 19:36] nikhiljindal commented on #42131
Thanks @matt-potter That PR seems to target multi-zone clusters. The original description on this issue talks about single-zoned clusters (2 clusters, one each in `us-east-1` and `us-east-2`).

Can you briefly explain what you think the issue here is? Describe a scenario where federation will try to create multiple DNS records resolving to same IP address.

[2017-05-22 19:37] msau42 commented on #29582
Would something like local PVs work for this use case?  #kubernetes/community/#306

In your pods, you can all reference the same PVC that is bound to a local PV, and the scheduler will force all the pods to land on the same node.

/sig storage

[2017-05-22 19:42] msau42 commented on #29538
@Crapworks were you able to find a solution to your problem?
Currently, the PV and PVC objects are only scoped within a single cluster.  If you want to migrate your volume to a new cluster, you will have to statically create the PVs with the cinder volume info in the new cluster.

[2017-05-22 19:42] msau42 commented on #28822
@untoreh are you still seeing this issue?

/sig storage

[2017-05-22 19:42] madhusudancs commented on #46240
Can we please characterize the first issue correctly? We already know that's not even the right solution. I would characterize it along the lines of "Ensure that resolved IP addresses don't go out of sync with the ELBs on AWS" or something like that? I think the linked issue also does a good job of explaining the issue.

[2017-05-22 19:43] timothysc commented on #46148
This is known, and escape hatch is 6443 isn't it... What am I missing?

[2017-05-22 19:47] msau42 commented on #27051
@patwhite are you still seeing the issue?  The volume controller has gone through significant rework since this issue was first filed.

/sig storage

[2017-05-22 19:48] msau42 commented on #26866
Closing as per above comment
/assign

[2017-05-22 19:48] msau42 commented on #26866
/close

[2017-05-22 19:48] #26866 closed

[2017-05-22 19:49] msau42 commented on #26367
@screeley44 can this be closed?

[2017-05-22 19:49] treed commented on #32336
We still experience the problem, yeah. We haven't upgraded in a while
though, after I had an unexpected problem while upgrading to the current
version which made us a bit gunshy of upgrading live in production.

On Mon, May 22, 2017 at 11:39 AM Michelle Au <notifications@github.com>
wrote:

[2017-05-22 19:51] msau42 commented on #24807
@jsafrane can this be closed?

/sig storage

[2017-05-22 19:51] madhusudancs commented on #35637
You cannot have CNAME of AWS-only clusters either. CNAME can point to a single target, however we need our records to load balance between multiple targets which is an illegal CNAME configuration. An alternative on AWS clusters is to use ALIAS records, but that works for AWS-only clusters and when DNS provider is Route53. This leaves us with 2 options:

1. If the dnsprovider is Route53, configure

[2017-05-22 19:52] matt-potter commented on #42131
@nikhiljindal The implication from the log in the initial issue report from @crigor is that the cluster in us-east-2 does in fact span multiple zones. The output from reads `Healthy endpoints [ae0cf9867fbf611e6954b023f939bc0f-805436699.us-east-2.elb.amazonaws.com ae0cf9867fbf611e6954b023f939bc0f-805436699.us-east-2.elb.amazonaws.com] exist` and that is generated by the getHealthyEndpoints function

[2017-05-22 19:54] rtheis commented on #45385
I've attached iptables-save output from my vagrant test environment:

[iptables-45385.txt](https://github.com/kubernetes/kubernetes/files/1020041/iptables-45385.txt)

[2017-05-22 19:54] madhusudancs commented on #35637
About running control loops unnecessarily, I wonder if AWS Cloud Watch is capable of delivering events/notifications when IP addresses behind an ELB change. That would help us optimize the loop a bit. But on the other hand, it would be specific to AWS I guess.

[2017-05-22 19:56] msau42 commented on #23192
/sig storage

[2017-05-22 19:56] nikhiljindal commented on #35637
Yes the second one is better since it works for hybrid as well.

[2017-05-22 19:57] rtheis commented on #45385
@freehan does this kernel regression also impact rule check (i.e. `iptables -C`)?

[2017-05-22 20:09] dashpole commented on #32838
The [resource usage node e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/resource_usage_test.go#L145) and the [density batch node e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/density_test.go#L327) both use volumes.  The density one includes measuring startup latency.
The [volumes are all empty-dir volumes](https://github.com/kubernetes/k

[2017-05-22 20:17] rtheis commented on #45385
@caseydavenport using iptables-save/restore would help if kubelet used the save data to skip restore when not needed.  Otherwise, there's still a significant performance impact running every minute.

[code]

[2017-05-22 20:20] kfox1111 commented on #29582
Its not that I want to force them onto the same node. but I want pods that are on the same node to be able to share storage. Ie, say I have two daemonsets. They may have overlapping nodeSelectors and where they overlap, I might want to share a bit of storage between them. This could be done with a hostPath volume, but then it has to use a path name that is unique per namespace to avoid different t

[2017-05-22 20:27] derekwaynecarr opened #46241 "failed readiness probes not reporting events"
**Is this a BUG REPORT or FEATURE REQUEST?**
BUG REPORT

**Kubernetes version** (use `kubectl version`):
kubernetes/master using CRI with docker

**What happened**:

Create a pod that uses a readiness probe that does an exec to command that doesnt exist

[code]

See the following in logs:

[code]

**What you expected to happen**:
No error in log, expected the event to properly be thrown.

**How to

[2017-05-22 20:28] cmluciano commented on #43240
@vishh Are there any more notes that we want to make for the CRI changes that you listed above? I have halted progression on this issue in favor of the f2f discussion.

[2017-05-22 20:30] vishh commented on #43240
@cmluciano Nope. Can you post how you plan on tackling this problem before spending time implementing it?

[2017-05-22 20:31] wyc commented on #27796
The license check for https://github.com/kubernetes/community/pull/631 is failing, yet my profile (see attached) seems to put me under the CNCF group:

![Profile Screenshot](https://cloud.githubusercontent.com/assets/858687/26327090/f8e9b354-3f0b-11e7-8f41-6149fb2375e8.png)

Is there anything I can do to get this cleared up? Thanks so much!

[2017-05-22 20:33] derekwaynecarr commented on #46241
this is a regression.

@kubernetes/sig-node-bugs

[2017-05-22 20:35] vishh commented on #34439
Quota based on `gid` will not work well with overlay filesystems. So we'd prefer using project quota.

As mentioned earlier, we do not plan on using `gid` based quota. And as a side note try avoiding running as `root` if you can in general.

Additional overhead, both technical and performance wise. Why do we need LVM?

[2017-05-22 20:35] derekwaynecarr commented on #46241
debugging, will post a fix once found.

[2017-05-22 20:41] ncdc commented on #46241
Other reports: #44348, #44652

[2017-05-22 20:42] derekwaynecarr commented on #46241
@ncdc -- thanks for the other reports.  at least now we have a reliable reproduction.

[2017-05-22 20:51] timothysc commented on #45717
@luxas So we talked about this issue today in sig-scheduling.  There is not a plan of record to leverage taints and conditions.  The NetworkNotReady condition seems to be conflated with the NotReady status.

It would be good to know when and how the node gets into the NotReady status and how exactly has that changed.

[2017-05-22 20:55] cmluciano commented on #46186
/sig aws
/sig network

[2017-05-22 20:56] emsearcy commented on #27796
That group also shows for unsigned (pending) CLAs.

[2017-05-22 20:57] davidopp commented on #45717
BTW NetworkUnavailable has been around for a long time
https://github.com/kubernetes/kubernetes/pull/26415

[2017-05-22 20:59] derekwaynecarr commented on #46241
The problem appears to be the following:

1. the `kubelet` has a `ReffManager` that  correlates containers to a `v1.ObjectReference`.  It uses the type `k8s.io/kubernetes/pkg/api/v1` `ObjectReference`.
1. the event recorder library we use in the prober works with `k8s.io/client-go/pkg/api/v1` `ObjectReference`.  If it doesn't get one of those, it expects the passed in object to implement List.

As

[2017-05-22 21:03] cmluciano commented on #46083
@dujun1990 Of course. It would be best to also have a commit that adds an e2e test to replicate this issue. It is hard to tell if this is environment specific and it's odd that this has not popped up before.

[2017-05-22 21:05] cmluciano commented on #46078
@dujun1990 Are you looking for the equivalent test in the userspace proxy?

[2017-05-22 21:05] cmluciano commented on #46078
/assign

[2017-05-22 21:06] #46109 closed

[2017-05-22 21:07] cmluciano commented on #45385
cc @dcbw Not sure if ``iptables -w`` would make this worse or better

[2017-05-22 21:08] chakri-nelluri commented on #45887
Yes you can do that. Feel free to ping me if you still see any issues.

[2017-05-22 21:08] davidopp commented on #45717
Just to be clear - there IS work in progress to apply taints for these don't-schedule conditions but it is not going to make 1.7.

[2017-05-22 21:09] cmluciano commented on #46140
@kubernetes/sig-aws-misc I'm trying to recall if this is a duplicate

[2017-05-22 21:10] cmluciano commented on #46140
/assign

[2017-05-22 21:12] msau42 commented on #32838
Secrets are emptydir volumes underneath, but maybe there is some additional overhead on top that may be worth measuring.

[2017-05-22 21:12] cmluciano commented on #46183
/sig cluster-lifecycle

[2017-05-22 21:14] yujuhong commented on #46241
The bug may have been introduced in #40710, which was there since v1.6.0.

[2017-05-22 21:14] ahmetb opened #46244 "reconciler Test_Run_OneVolumeAttachAndDetachMultipleNodesWithReadWriteMany flake"
Encountered this flake on `pull-kubernetes-unit` suite:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46242/pull-kubernetes-unit/31946/

[2017-05-22 21:24] ixdy commented on #45842
looks like @ihmccreery wrote chaosmonkey, though that was a year ago.

is there a way to move the `Setup` and `Teardown` calls to ginkgo's `beforeEach` / `afterEach`, rather than calling them in `Test()`?

I guess the semaphore stuff makes this tricker. I don't really understand how this all works.

[2017-05-22 21:25] wyc commented on #27796
Thanks. It's likely that I didn't sign then.

I've been waiting for the email for a while now, and haven't gotten it...checked spam and all. Also, I don't seem to be getting copies of the messages with "Send me a copy" checked, so it could very well be a deliverability issue. I use FastMail. Is there a webpage or alternate way I can sign the agreement?

[2017-05-22 21:25] msau42 commented on #32336
cc @rootfs

[2017-05-22 21:28] derekwaynecarr commented on #46241
Opened https://github.com/kubernetes/kubernetes/pull/46246 for a fix.

[2017-05-22 21:28] quinton-hoole commented on #44954
Kubernetes Cluster Federation has the concept of a cluster name for each cluster which is a member of a Federation.  But it is only known to the federation, not to each cluster. And there is in fact a cluster-id field in the ObjectMeta of every Kubernetes object.    But it is not populated by default.  It is there in order that the Federation control plane can populate it to distinguish API object

[2017-05-22 21:33] jeffvance commented on #46204
This seems to be a build failure. Can it be re-run?

[2017-05-22 21:42] crimsonfaith91 opened #46250 "Upgrade Test for PDB Max Unavailable"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------------------------------------

[2017-05-22 21:43] crimsonfaith91 commented on #46250
/assign @crimsonfaith91

[2017-05-22 21:48] freehan commented on #45385
Yes, it does.

Disabling the kubelet sync may help. But kubeproxy still does a bunch of iptables operations. Only good way to solve this is to use a OS image that new enough to have the patch or old enough to not have the regression.

[2017-05-22 21:51] rtheis commented on #45385
@freehan: Thank you.  Do you have a link to the patch and/or the kernel version to use?

[2017-05-22 22:00] xiang90 commented on #43292
I hit the same problem.

[2017-05-22 22:01] david-mcmahon commented on #44533
Seems to be related to https://github.com/kubernetes/release/pull/328.  The doc generation does happen at branch time, but due to recently introduced issues with verify-all failing on the branch, update-all.sh has been run by the release managers which undoes the doc generation because it runs the update-generated-docs.sh.

Once we sort out https://github.com/kubernetes/release/pull/328, this prob

[2017-05-22 22:05] rbtcollins commented on #26309
Sounds like perhaps doing a flush when adding backends to a conntrack map that had no backends might workaround that?

[2017-05-22 22:13] emsearcy commented on #27796
@wyc: yes, another user with Fastmail also wasn't getting email.  We traced the problem to Fastmail not accepting mail from HelloSign, our e-signing vendor, with the following mail server response (provided by HelloSign, as it's their IP address):
<code>451 4.7.1 Data command rejected: Host
198.61.255.111/do255-111.hellosign.com has exceeded the per-day email
limit of 40, try again later - helo=<d

[2017-05-22 22:16] cjyar opened #46253 "GlusterFS volumes don't remount into pods"
**Is this a request for help?**:

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubernetes glusterfs "Transport endpoint is not connected"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

Server Version: version.Info

[2017-05-22 22:31] enisoc commented on #44533
According to the comment above by @ixdy, the generated docs are no longer checked in. Doesn't that mean anago needs to generate them every time it runs?

[2017-05-22 22:33] david-mcmahon commented on #44533
Anago generates them at branch time on new branches [here](https://github.com/kubernetes/release/blob/master/anago#L376).

[2017-05-22 22:36] freehan commented on #45385
kernel versions with the fix can be found here:
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1640786

[2017-05-22 22:37] VsMaX commented on #41046
I am having excatly the same issue on GCE/GKE kubernetes 1.6

Kubernetes is creating additional volumes in the cluster. Additionally mysql pod throws exceptions about persistentvolume-claim not being ready despite being ready:

[code]

[2017-05-22 22:37] benmathews commented on #45967
Vertical scaling isn't relevant in my use case. These are bare metal, on-premises nodes.

I'm not sure what cpu pinning or hardware topology have to do with the issue either.

[2017-05-22 22:39] cjyar commented on #46253
Unlike in #13511, my config uses the CoreOS kubelet-wrapper script, which means kubelet is running inside rkt. Systemd is configured with:
[code]
...so evidently rkt is killing the process group, not just the kubelet process itself. I'd guess it has to do that, since all the child processes probably live in the same container as the parent. So I don't think I can use the same solution that was sug

[2017-05-22 22:42] dashpole commented on #32838
I doubt there would be objections to changing the volumes in those tests to secrets instead of empty-dirs.

[2017-05-22 22:52] jessfraz commented on #39845
make sense

Should we use theirs as a base and make our own or vendor theirs (ie what happens if they change theirs)

[2017-05-22 22:52] davidopp commented on #45967
Vish is referring to vertical pod scaling, so it will work on-prem. (Dynamically adjusts resource request based on recent usage.)

I think Vish was just listing things he thinks are higher priority than what you are asking for; I don't think they solve your problem.

Personally I think what you're asking for is pretty reasonable and not super-hard to implement.

And I realized rollout should not b

[2017-05-22 22:54] sbonar commented on #24803
Has there ever been any movement on this?  I am also seeing this. I have an exec preStop configured and it never gets executed.  I am currently running 1.5.4

[2017-05-22 22:57] timstclair commented on #39845
That's a question for @kubernetes/sig-api-machinery-misc, but my hunch is that we create our own copy (rather than vendoring), since I don't think we have any other examples of embedding a third party API in ours (unless it's opaque)

[2017-05-22 23:03] enisoc commented on #44533
Ah I see. I thought "no longer checked in" meant that the generated files are placed in an output directory that's ignored by git. But actually what it means is that we check in the stubs in-place on top of the real files.

Is your plan that eventually we will stop running update-all.sh on the release branch? I thought that should be a normal part of the workflow for any PR - some parts are needed

[2017-05-22 23:04] enisoc commented on #44533
Alternatively, we could let the docs stay as stubs in the release branch, and have anago run generate-docs.sh at release build time, rather than at branch cut time.

[2017-05-22 23:11] wyc commented on #27796
Okay, @emsearcy, that worked like a charm. Thanks. I did a small write-up on this below that we can hopefully add to https://github.com/kubernetes/kubernetes/wiki/CLA-FAQ

Because GitHub Wiki doesn't currently allow outside contributions, below counts as a contribution based on the license I just signed :)

### I'm not getting an email containing the CLA for Individual Contributor Agreements.

@em

[2017-05-22 23:11] yujuhong opened #46255 "CRI: Image IDs and references"
CRI in its current state mostly passes an undefined image “string” when invoking image-related operations (e.g., pull, status, remove). I think it's time we revist to define/clarify better. Here are my thoughts:

Below is a list of terms used for
1. **Image ID**: A canonical, content-addressable image identifier. This corresponds to the Image ID defined in the OCI image spec.
2. **Pullable referen

[2017-05-22 23:15] msau42 commented on #34358
/sig storage

[2017-05-22 23:23] dkushner commented on #30861
Unfortunately still encountering this issue in 1.6.2. Unsure how exactly my base64 encoded secrets are invalid? I've checked over them repeatedly and they decode/encode perfectly fine.

[2017-05-22 23:24] msau42 commented on #46204
@mindprince is going to take a look.  I'm going to assign it to me only because new contributors cannot be assigned.

/assign

[2017-05-22 23:27] stevvooe commented on #46255
This proposal is a solid description of the state of things. The concept of a `ResolveImage` method is both proven and implementable in [`containerd`](https://github.com/containerd/containerd/blob/master/remotes/resolver.go#L23).

Note that there is also the format `<registry>/<repository>[:<tag>][@<digest>]`, which we just refer to as a reference. That would map well to the concept of `References

[2017-05-22 23:33] mrunalp commented on #46255
@runcom @nalind PTAL

[2017-05-22 23:44] foxish commented on #27796
Thanks @wyc! Updated the FAQ.

[2017-05-23 00:05] cmluciano commented on #45717
Possibly related  https://github.com/kubernetes/kubernetes/issues/43815 ?

[2017-05-23 00:11] yujuhong commented on #46255
Good to know, and that's exactly why CRI should not attempt to understand all the formats :-)

Thanks for pointing that out! I used the OCI definition just as an example. Runtimes do not need to use the same definition, as long as the IDs are content addressable. I think such an ID can help users audit their image usage if it we surface to the kubernetes API, even though it does come with some lim

[2017-05-23 00:17] enisoc commented on #45728
@deads2k If it's possible to let TPR take precedence over CRD in the case of REST path overlap, then it may enable an approach like the following:

1. Upgrading to 1.7 doesn't touch any existing TPR data.
1. TPR author writes a corresponding CRD.
1. End-user (or Operator on their behalf) passes the TPR name and CRD to a generic tool, which will:
   1. Set the TPR read-only.
   1. Temporarily renam

[2017-05-23 00:25] david-mcmahon commented on #44533
At one point the workflow precluded running update-all.sh on branches and/or update-generate-docs.sh was not part of that.  I haven't done the archaeology yet to determine how we got to this point recently, but  @lavalamp created this split some time last year and it was to avoid the doc churn on master and generate the docs *once* at branch time.

[2017-05-23 00:32] kargakis commented on #44533
FWIW we did the same switch in Openshift, and moved the generation during the RPM build.

[2017-05-23 00:36] ixdy commented on #44533
IMO generating the docs at release-time makes the most sense, since things may change on a release branch over time as fixes get cherry-picked in.

[2017-05-23 00:48] msau42 commented on #29582
When do you cleanup the volumes?  When the namespace is destroyed?  Could you run a DaemonSet per namespace that carves out the shared storage with the namespace name, then run your apps, then after you destroy the namespace, then run another daemonset to cleanup the volumes?

[2017-05-23 01:00] david-mcmahon commented on #44533
As a general rule, yes, you want to generate the docs "at release time", but you also don't want to create churn or changes where none are needed.  It could be that things have changed enough to where it's more appropriate now to run this with each release vs. at branch time, but what data do we have to back that up?
What changes have landed on branches over the past few releases that required reg

[2017-05-23 01:04] rootfs commented on #32336
@treed this is likely related to your way of bind mount /var/lib/kublet. As you can find [here](https://github.com/kubernetes/kubernetes/blob/release-1.3/pkg/volume/rbd/disk_manager.go#L104), rbd is umap'ed when the mount reference drops to 1. But on your setup, the bind mount adds one more reference to the reference, the disk is not umap'ed after unmount.

[2017-05-23 01:05] jescarri opened #46257 "Feature: Allow user to add extra tags to any AWS resource created by the cluster"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): aws tag

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

[2017-05-23 01:07] treed commented on #32336
The bind mount we put into place to solve a problem related to the upgrade
to the version we're currently running (1.3?). The upgrade caused service
accounts to stop working because the service token mount was failing. I dug
around and found that the instructions had changed and involved a much more
complicated deployment, including the bind mounts.

On Mon, May 22, 2017 at 6:05 PM Huamin Chen <no

[2017-05-23 01:10] treed commented on #32336
IIRC the issue there was that kubelet was unable to propagate mounts without /var/lib/kubelet being marked as shared, and you can only do that with the bind mount. Is there a better way to handle that problem?

[2017-05-23 01:12] #44348 closed

[2017-05-23 01:12] #44652 closed

[2017-05-23 01:23] kargakis commented on #44533
Usually you shouldn't have diffs in release branches since new changes mean either additions; new features and we are not backporting features, it seems, or updates/deletions which are likely non-backwards compatible. @david-mcmahon are you suggesting to have the docs generated when a branch is cut and leave them off just master?

[2017-05-23 01:25] kargakis commented on #44533
Also even if we generated them at branch time, cherry-picks would merely be required to update those generated changes which doesn't seem like a big deal? I can get behind that.

[2017-05-23 01:32] yujuhong commented on #46241
Keep this open until 1.6 is patched.

[2017-05-23 01:36] dujun1990 commented on #46078
@cmluciano In fact, I am working on implementing ipvs kube-proxy and running e2e test for my implementation, see #44063

I think it's ok that e2e test iptables kube-proxy by default. However, hard code iptables in e2e test case will fail any other implementations?

[2017-05-23 01:41] david-mcmahon commented on #44533
Right, the branches are the 'stabilized' bit here.  If cherrypicks are coming from master that require update-all.sh changes, then *all* of those related commits should come over (from master) and land as a unit on the branch.  At least that's the way it's been working til now since the great doc move/shift of last year when update-generated-docs.sh got repurposed to generate stubs and generate-do

[2017-05-23 01:42] rootfs commented on #32336
@treed why not just bind mount /var/lib/kubelet/plugins/kubernetes.io/secrets instead of entire /var/lib/kubelet/?

[2017-05-23 01:44] treed commented on #32336
I was just following the documentation. I assumed that it might need other
things to be shared within /var/lib/kubelet and didn't want to be caught by
surprise again. Is there anything else that might need the whole of
/var/lib/kubelet to be shared?

On Mon, May 22, 2017 at 6:42 PM Huamin Chen <notifications@github.com>
wrote:

[2017-05-23 01:44] WIZARD-CXY commented on #46070
@cmluciano negative, they are in two different container,
[code]

[2017-05-23 01:50] treed commented on #32336
You can see documentation to that effect here: https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/docker.md

It says that you can do either systemd or via bind directly, but my recollection is that I actually needed both for it to work.

And some discussion of the problems around service accounts here: https://github.com/kubernetes/kubernetes/issues/26943

[2017-05-23 02:01] mappedinn commented on #45451
Sorry for disturbing...

[2017-05-23 02:07] #45736 closed

[2017-05-23 02:07] #45737 closed

[2017-05-23 02:07] #41255 closed

[2017-05-23 02:07] #7688 closed

[2017-05-23 02:23] qiujian16 commented on #46172
@thockin I would like to take a look at it if no one is working on this.

[2017-05-23 02:43] ash2k commented on #40715
Same behaviour on 1.6.3 server and 1.6.4 kubectl.

[2017-05-23 02:49] techtonik commented on #41435
Is there a diagram showing log message dynamics depending on the k8s operations?
How often it may occur?
Is it possible to dynamically up the limit if a log burst is expected?
Is it possible to warn user through the other channel and show him how many messages were squelched?
Is it possible to maintain own queue of squelched messages in memory an dispatch the, once burst peak is over?

[2017-05-23 02:52] techtonik commented on #40099
@kpgriffith can you confirm that the problem is resolved with the recent Go and k8s?

[2017-05-23 03:05] techtonik commented on #35359
#38126 is resolved. What else is left to close the issue?

[2017-05-23 04:01] techtonik commented on #34728
It should be easy to find, but I wish there could be links about this `test-integration` and "normal apiserver".

[2017-05-23 04:10] dnardo commented on #38890
/assign @bowei

[2017-05-23 04:11] dnardo commented on #38890
/unassign @bowei

[2017-05-23 04:11] lihan commented on #15867
+1

[2017-05-23 04:12] #37316 closed

[2017-05-23 04:48] evictor commented on #23896
When do you suppose this will come to fruition? I'm having to jerry rig Yaml file parametrization using some other bash str sub tool.

[2017-05-23 05:07] adityakali commented on #15867
Sorry for not updating this in a while.
[Container-Optimized OS](https://cloud.google.com/container-optimized-os/) has been running overlayfs (with ext4 as base filesystem) in production for about an year now. While I can't claim that it was without any issues, backporting latest overlayfs fixes from upstream has helped. Among other testing, we rely on xfstests (https://git.kernel.org/pub/scm/fs/x

[2017-05-23 05:11] lihan commented on #15867
@adityakali
I'm running on `GKE 1.6.2`, I tried to run `sudo lsmod | grep overlay` on the physical node which returns no entry, anything missing here?

[2017-05-23 05:12] thockin commented on #46172
Please!  If you can find out why iptables-restore is not saving counters,
I'd love to know.

On Mon, May 22, 2017 at 7:23 PM, Qiu Jian <notifications@github.com> wrote:

[2017-05-23 05:50] adityakali commented on #15867
Its not built as a separate module. Try this:

[code]

[2017-05-23 06:03] deitch commented on #45790
I just want to update number 2 slightly though, since "via-service-IP" is a special case. I want to include the general case:

1. This belongs in CNI modules
2. The question isn't hairpin, but how you support container-to-other-container-in-same-pod and container-to-self-via-IP-it-doesn't-know-about (e.g. service IP or host IP with nodePort or hostPort mappings or other iptables mapping)
3. Every

[2017-05-23 06:27] runcom commented on #46255
Call ImageStatus(imageID) to check if the image exists on the node.
Call PullImage(pullableRef) to pull down the image.

Is this implying that `ResolveImage(pullableRef)` can give you the image ID in advance? If so, I understand it with OCI Image IDs as it's the digest of the config blob. I'm thinking about it being opaque as @stevvooe mentioned, how would you do it?

BTW +1 on this as this will e

[2017-05-23 07:01] vishh commented on #45967
Sorry if I was not clear. What I'm suggesting is that there are a few more features that will add immediate value to a broad user base that I would like the community to focus on.

The issue of CPU cycles scaling is relevant in large clusters where machines get upgraded periodically. If kubernetes were to provide such a functionality, I'd prefer it working off the box across most modern and popula

[2017-05-23 07:36] roberthbailey commented on #45959
It looks like we changed from running the binaries directly to using `/bin/sh -c` in https://github.com/kubernetes/kubernetes/pull/7316 (from @ArtfulCoder) a few years ago to enable us to capture logs.

@dchen1107 or @lavalamp may recall why we had to use a shell since they reviewed that PR.

[2017-05-23 07:37] wu8685 opened #46271 "[Bug] Returning nil TTL will not keep the same value as the comment mentioned"
Hi,

As the [comment](https://github.com/kubernetes/apiserver/blob/master/pkg/storage/interfaces.go#L174) mentioned, when `tryUpdate UpdateFunc` returns a nil TTL in method `GuaranteedUpdate`, the TTL attached to the key will not change. But in current codes under `pkg/storage/etcd3`, the TTL will be unset, because [it](https://github.com/kubernetes/apiserver/blob/master/pkg/storage/etcd3/store.go

[2017-05-23 07:41] wu8685 commented on #46271
I open a [issue](https://github.com/kubernetes/apiserver/issues/12) and [PR](https://github.com/kubernetes/apiserver/pull/13) in repo `kubernetes/apiserver`, but I then think it would be supposed to be here :(

[2017-05-23 07:42] roberthbailey commented on #44854
The automation that uses the salt configuration (e.g. kube-up) generates the cert locally and uploads it to the master VM. This is done so that the public cert can also be copied to all of the node VMs.

If you'd like to fix it, I'd be happy for you to submit a patch, but unless you are testing to make sure it keeps working it's likely to break again in the future since we don't run any CI jobs th

[2017-05-23 07:43] roberthbailey commented on #44855
The ca.crt file must match between the master and the nodes. Salt expects the ca.crt file to be delivered out of band so that it can match. If each kubelet generated it's own ca.crt file then it would be impossible to establish secure communication between the kubelet and the apiserver.

[2017-05-23 07:44] roberthbailey commented on #44856
We'd welcome a patch to fix this.

[2017-05-23 07:44] roberthbailey commented on #44852
We'd welcome a patch to fix this.

[2017-05-23 07:47] roberthbailey commented on #44822
We'd welcome a patch to fix this.

[2017-05-23 07:57] cben commented on #42217
see also related #26050

[2017-05-23 08:01] tazjin commented on #23896
@evictor I don't think a lot of work is being done on this, in favour of third-party tools.

The "big" one is [Helm](https://helm.sh), but it comes with a lot of added complexity (but also a lot of pre-packaged "charts").

If you're looking for something simpler (templating with a notion of different environments/clusters), take a look at [kontemplate](https://github.com/tazjin/kontemplate).

[2017-05-23 08:11] WIZARD-CXY commented on #44307
tested using 1.6.4 still seeing this issue....

[2017-05-23 08:12] bruceauyeung opened #46274 "can not build k8s component binaries without symbol table and debug info"
i try to build kubernetes components without symbol table and debug info. so i run
`make quick-release GOLDFLAGS="-s -w"`

but k8s conponent binary size is not reduced.

If i understand Makefile correctly,the previous command should work

codesnippets from Makefile

KUBE_GOLDFLAGS := $(GOLDFLAGS)
KUBE_GOGCFLAGS = $(GOGCFLAGS)

[2017-05-23 08:41] #37982 closed

[2017-05-23 08:52] simonswine commented on #45368
For the last 5 days I've only seen a single reboot. The kernel oops looks slightly different and might be related to the workload rather than kubernetes itself:

https://gist.github.com/simonswine/3909e811887c7cd0c42ef85c0e0b70fd

[2017-05-23 08:53] xiangpengzhao opened #46275 "SecurityContextDeny admission controller should aggregate errors."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------------------------------------------

[2017-05-23 09:09] xiao-zhou commented on #45978
My PR hit this flaky test as well https://github.com/kubernetes/kubernetes/pull/46213

[2017-05-23 09:14] KaleoCheng commented on #32026
@nhlfr  any progress updates on this?

[2017-05-23 09:14] wojtek-t commented on #40139
Yes - let's close it.

[2017-05-23 09:14] #40139 closed

[2017-05-23 09:19] Cytrian commented on #42150
Hi, I'm getting the same errors when using the v1.6.4 release of kubernetes.
But it works with the older v1.5.7 release. Which one did you use?
Can you retry it with a newer one?

[2017-05-23 09:56] yan234280533 commented on #45278
@resouer Thank you a billion,  I will  send a PR as soon as possible.

[2017-05-23 10:16] dixudx commented on #46077
@berlinsaint I reproduced on my environment. It works well. Please check the statup arguments and make sure that all are well configured.

[2017-05-23 10:22] alledm commented on #45287
@crimsonfaith91 @lcjlcj kubectl 1.5.7 works

[2017-05-23 10:44] odeke-em opened #46282 "tests: please update pkg/kubelet/server TestServeExecInContainer and TestServeAttachContainer for Go1.9"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
TestServeExecInContainer
response location

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
* BUG REPORT

**Kubernetes version** (use `kubectl version`):
Kubernetes at commit 8bee44b65f2fbf170f70c535b5ec1b3cbfad44b6
Sorry, I haven't inst

[2017-05-23 10:52] pmichali commented on #45978
In my PR [#46138](https://github.com/kubernetes/kubernetes/pull/46138), I see this fail **and** pull-kubernetes-kubemark-e2e-gce and pull-kubernetesnode-e2e. Not sure if flakes should be generated for the other two tests.

[2017-05-23 11:01] piosz commented on #46198
AFAIK there is a possibility that CPU hasn't been yet collected.

@dashpole @timstclair who knows it better.

[2017-05-23 11:01] rtheis commented on #45385
My environments have a mix of kernel versions.  I'll re-run my tests on a system with kernel version `4.4.0-63.84` or later.

[2017-05-23 11:21] xiangpengzhao opened #46284 "SecurityContextDeny admission controller should admit all SecurityContext options."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------------------------------------------

[2017-05-23 11:47] lyz-code commented on #45961
I'm trying to raise the verbosity of the kube-controller-manager from --v=2 to --v=4, but I don't see the deployment/replicaset/replicacontroler/daemonset/job of the kube-controller-manager, but if I delete the pod to recreate with a modified yaml it gets recreated. I've also tried getting into the pod,
killing the process and launching it with --v=4 but obviously the pod gets killed.... So any hi

[2017-05-23 12:03] deads2k commented on #45728
This bit isn't possible.  Particular resource instance names in kubernetes are pinned and the plural name matches the CRD object name to ensure that the REST handler registration can never collide.

I'll find a way to make this happen for you.  I want the migration to be as smooth as reasonably possible without forcing unfortunate compromises in the design or implementation of CRD.  I'll work on p

[2017-05-23 12:08] rtheis commented on #45385
Based on the bug report, kernel `4.4.0-78-generic` should have the fix.  However, I'm still seeing `iptables -C KUBE-MARK-DROP -t nat -j MARK --set-xmark 0x00008000/0x00008000` take 15-20 seconds.

[2017-05-23 13:09] danielfm commented on #45911
What would you think would be the right way to fix this @Random-Liu? Implement some sort of retry logic in `StartContainer` when trying to create the symlinks?

If you give me some pointers, I could submit a PR.

[2017-05-23 13:32] Spindel opened #46287 "kubelet and kube-proxy fail to reload certificates when they are updated"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): tls certificate reload

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
Digital Ocean / custom setup
- *

[2017-05-23 14:08] smarterclayton commented on #35359
That Kubernetes builds on bazel.  Renaming build/ was only the p0.

[2017-05-23 14:50] kpgriffith commented on #40099
@techtonik Yeah, let me double check, will let you know.

[2017-05-23 15:12] ncdc commented on #45978
@pmichali as we discussed on slack, the other 2 failures were most likely related to changes in your PR itself and not actual flakes.

[2017-05-23 15:21] jsafrane commented on #45394
@rootfs, PTAL

[2017-05-23 15:28] #32501 closed

[2017-05-23 15:33] jsafrane commented on #33717
I think it was removed in https://github.com/kubernetes/kubernetes/pull/44090 (heading to 1.7)

[2017-05-23 15:33] #33717 closed

[2017-05-23 15:35] jsafrane commented on #24807
yeah, let's close it. I don't remember seeing it lately

[2017-05-23 15:35] #24807 closed

[2017-05-23 15:35] xiangpengzhao commented on #30751
The page you linked has been moved or removed. You can try other solutions [here](https://kubernetes.io/docs/setup/). If you need help in your setup, please post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

@thockin

[2017-05-23 15:47] xiangpengzhao commented on #30726
As is pointed out by Matthew, you can try gcr.io/google_containers/kube-registry-proxy:0.4

ref: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/registry/images/Makefile

@thockin

[2017-05-23 16:02] yujuhong commented on #45935
@kubernetes/sig-storage-bugs

[2017-05-23 16:03] kfox1111 commented on #29582
I was thinking it behaves more like an emptyDir volume in that respect. The first pod that lands on a node per that namespace/name creates the dir. The last pod to leave the node referencing that namespace/name then causes it to be deleted. If nothings on the node, the volume isn't there.

[2017-05-23 16:05] xiangpengzhao commented on #30703
so it's okay to close this issue, Victor, right?

@thockin

[2017-05-23 16:14] pcm32 commented on #12964
I'm getting this exact same behaviour as well. Glusterfs endpoint API object disappears every now and then, producing the error syncing pod mentioned here. Could you explain what do you mean by creating a service for the endpoint? Do you need to have the PV using the EP through the service? How do you link the service to the EP, through the selector of the service and some metadata on the EP? Than

[2017-05-23 16:16] benjigoldberg commented on #44855
@roberthbailey Yep that makes perfect sense. Back when I filed this I didn't quite grasp how this works. Thank you for the response and clarification. I will close this out.

[2017-05-23 16:16] #44855 closed

[2017-05-23 16:19] rootfs commented on #45394
@tobad357 Will review #46239 once it is ready.

/cc @humblec

[2017-05-23 16:21] xiangpengzhao commented on #30693
Currently k8s-ci-bot will tell us what tests flake and the rerun command for each. But it would be great to have a single command to rerun all flaky tests, e.g. `@k8s-bot rerun flaky tests`. WDYT? @fejta

cc @thockin

[2017-05-23 16:21] mtanino commented on #45394
@rootfs

Thanks. I'll add test cases into #46239, then I will remove the WIP.

[2017-05-23 16:21] benjigoldberg commented on #44854
@roberthbailey as far as the deprecation of salt for provisioning the master, I actually had missed that it was deprecated. That being said, with the development of `kubeadm` it's probably about time for us to begin shifting in that direction. I will close this out and make an item for us internally to investigate deprecating our usage of salt for master in favor of `kubeadm`.

Thanks for the resp

[2017-05-23 16:21] #44854 closed

[2017-05-23 16:24] pcm32 commented on #12964
In case you're wondering (like I was) how to attach a service to the EP the [documentation on glusterfs](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/glusterfs) was updated to include an example service for it.

[2017-05-23 16:27] danehans opened #46291 "Kubelet Hostport Pkg is IPv4 Only"
The kubelet hostport pkg uses uses iptables as an underlying mechanism to manage port mappings. This package implements only the IPv4 version of iptables, even though it imports k8s.io/kubernetes/pkg/util/iptables which supports iptables and ip6tables.

Related to issue #1443

[2017-05-23 16:34] pmichali commented on #43340
Talked to @justinsb about this issue. He thinks that for kops, it is not opening up the nodeports, like what is done for [gce](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1916-L1933).

Suggested that sig-testing may be able to provide some guidance.

Will follow up with them.

[2017-05-23 16:39] bboreham commented on #43967
Was that #43995?  It was closed without merging.

I agree `--network-plugin-dir` should be deprecated.

[2017-05-23 16:41] pmichali commented on #46291
/sig network
/area ipv6

[2017-05-23 16:42] xiangpengzhao commented on #30681
seems like this issue can be closed, right?

@thockin

[2017-05-23 16:43] Random-Liu commented on #46255
@yujuhong Why don't we care about (4)?

[2017-05-23 16:46] nicksardo commented on #45842
I believe we have two options.
1) Add an `error` return all disruptions; `chaosmonkey.Do()` handles the error gracefully and surfaces it out. Cluster upgrades (and other chaosmonkey consumers) can assert no error occured.
2) Put this [section](https://github.com/kubernetes/kubernetes/blob/8e07e61a43d108353d642f49810a0c6ca071f297/test/e2e/chaosmonkey/chaosmonkey.go#L104-L108) in a deferred func.

[2017-05-23 16:50] roberthbailey commented on #44854
From https://github.com/kubernetes/kubernetes/tree/master/cluster:

**Deprecation Notice: This directory has entered maintenance mode and will not be accepting new providers. Please submit new automation deployments to kube-deploy. Deployments in this directory will continue to be maintained and supported at their current level of support.**

Since that was written we've removed a number of provid

[2017-05-23 16:50] jnicholls commented on #37566
Can't wait for this feature!  Yay for no downtime in my statefulset!