[2017-09-29 05:46] resouer commented on #53170
@dchen1107 Just a rough idea, we can move to @dolftax 's PR for further discussion later.

@dolftax I think you can add a sub-dirs structure in the description of the PR, it would be helpful.

[2017-09-29 05:48] dixudx commented on #5607
[code]

@tvalentyn #46597 did provide a way to mount such host devices, by setting `Type` in `HostPathVolume`. For example, we can set `Type` to `CharDevice` for `/dev/fuse`. In addition, we may also need to make sure container running in privileged mode by setting `SecurityContext.Privileged=true`.

This feature is only available from v1.8.  Currently you can find the doc [here](https://github.co

[2017-09-29 06:01] roffe commented on #42926
Seeing this thread and the discussion just raises the question, Why Docker at all? Should we maybe move towards another container engine that maybe follows the Kubernetes release cycle closer?

[2017-09-29 06:18] #53066 closed

[2017-09-29 06:25] jimmycuadra commented on #42926
@roffe That’s what projects like cri-o, cri-containerd, and rktlet are working towards. They’re just not as mature as Docker at this point. (You’ll find all three projects under the kubernetes-incubator GitHub org.)

[2017-09-29 06:27] imkin commented on #42926
How long does kubernetes support its releases?

[2017-09-29 06:43] valentin2105 opened #53246 "Volume umounted after kubelet restart"
**What happened**:

When upgrading k8s on the 1.7.x branch, (1.7.4 to 1.7.6 exactly), every Kubernetes services can be restarted without problems except for Kubelet that cause volumes get umounted in pods.

I use GlusterFS volumes and when I restart Kubelet the volume is unmounted and it case a crash of the applications.

[code]

[code]
**What you expected to happen**:
Kubelet need to be able to r

[2017-09-29 06:53] sree2005 commented on #43800
Nothing helped me @rajatvikramsingh
It stuck at "<master/apiclient> created API client, waiting for the control plane to become ready"

between are you trying to execute IP with $no_proxy ?

[2017-09-29 06:57] mengjieli0726 commented on #53036
No only for parameter service-node-port-range, modify the api server service-cluster-ip-range, the api server can't start up as well,  need restart kubelet to resume api server.

[2017-09-29 07:08] wkornewald commented on #42926
What speaks against following Docker via shorter patch release cycles?

[2017-09-29 07:13] flyer103 opened #53248 "kubectl provides a way to find which RoleBinding/ClusterRoleBinding is related to a serviceAccount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When I encounter a problem which is caused by no proper permissions, I want to find which RoleBinding/ClusterRoleBinding is related to the serviceAccount the Pod uses. But there's no simple way to do this without traversing all of the bindings.

**What you expected to happen**:
`kubectl` could provide a simple method

[2017-09-29 07:16] flyer103 commented on #53248
@kubenetes/sig-cli-feature-requests

[2017-09-29 07:31] jolestar commented on #37705
How about flexvolume ? Add new resize command?

[2017-09-29 08:11] chrishiestand commented on #24957
Does this PR solve the issue for some/most use-cases? e.g. afaik, a signal sidecar should be possible
 https://github.com/kubernetes/kubernetes/pull/45236

[2017-09-29 08:15] roffe commented on #42926
@jimmycuadra I am partially already running RKT for my core components. but there has been some problems running it for the containers.

Regarding CRI-O i would love to test it on CoreOS but it requires me to build the OS myself from scratch to make modifications needed to include deps for CRI-O and that is over my head.

@wkornewald i would say Docker itself, it's not rare with regressions and th

[2017-09-29 09:20] dixudx commented on #53246
/sig node
/sig storage

[2017-09-29 10:02] chesterlai commented on #47597
HI
We use k8s 1.2 and 1.6
When our kube-dns restarted, it impacted our service seriously.
As k8s 1.8 is launched recently, and we can't upgrade immediately.
We will delete our pod after kube-dns restarted.
It impact our system heavily.
Have any work around on this issue?
Please advice.

[2017-09-29 10:05] renhwztetecs commented on #46636
@rootfs
ceph-fuse support in the command to display the specified secret, it may take some time to support, because it involves LibFUSE(I will follow up this demand). On the other hand, ceph-fuse stability, quota function, expansion, upgrade and other advantages of the k8s community is anxious. Although ceph-fuse only supports the secret file way, but if it can be pushed to the k8s community, ther

[2017-09-29 10:21] nhlfr commented on #24957
@chrishiestand Depends whether you ask about hacky solution you can use here and now for killing containers/processes, or whether you are concerned about designing a proper API for killing containers.

Well, if you have shared PID namepsace, you can add a container with `kill` binary to the pod (which is continuously tunning, i.e. `sleep` in the loop), execute it (`kubectl exec`) and kill any proc

[2017-09-29 10:22] r7vme commented on #51835
@stormltf you're running kubelet in container and don't use `--containerized` flag (which do some tricks with [mounts](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/nsenter_mount.go#L31-L56)). Which basically means that all mounts that kubelet does will be done in container mount namespace. Good thing that they will be proposed back to host machine's namespace (as you have /v

[2017-09-29 11:17] crassirostris commented on #53006
@krmayankk To make it simple, when offered trade-off, people are more likely to give up audit logs reliability than performance. Makes sense?

[2017-09-29 11:48] merakdu commented on #53199
thank you,i miss the sizequeue inStreamOptions.

[2017-09-29 11:48] #53199 closed

[2017-09-29 12:06] ebbeelsborg commented on #10710
@thockin ping

[2017-09-29 12:53] jsravn commented on #47597
@chesterlai This issue is fixed in 1.6. But it might not be related to the problem you're seeing. I suggest making a new bug, with a detailed description of the problem.

[2017-09-29 13:06] gnufied commented on #53246
This could very well be related to https://github.com/kubernetes/kubernetes/pull/49640 . @valentin2105 will you be able to pull in linked PR and see if that fixes your problem?

[2017-09-29 13:40] cpuguy83 commented on #42926
@roffe

Speaking as a project maintainer on moby/moby, if you find a breaking change it's a bug. Please report as quickly as possible so we can get it fixed in a patch release.

[2017-09-29 14:05] wkornewald commented on #42926
@cpuguy83

Would it be possible to run the (Docker-specific parts of the) Kubernetes test suite before each Docker release in order to ensure there are no breaking changes or regressions? After all, Kubernetes is an important use-case for Docker. Also, other projects building on top of Docker would surely benefit from the additional compatibility guarantees brought by the extra test suite, too.

[2017-09-29 14:10] luxas commented on #53237
Yeah, not creating the ClusterRoleBinding between `system:nodes` and `selfnodeclient` was an oversight, but isn't **that** critical in any way. We'll make that change in v1.8.1, and document things meanwhile.
Upgrading your kubelets is a manual process anyway right now, so it's reasonable to add one extra step to create this binding.

@liggitt Is it expected that a kubelet that already has credent

[2017-09-29 14:13] liggitt commented on #53237
No, see https://github.com/kubernetes/kubernetes/pull/53238

[2017-09-29 14:17] davidegrohmann commented on #51701
Hi @MrHohn thanks for looking into this issue.

Yes indeed we are on GKE and we are not able to access master logs.

I have had a look there, I cannot find any failure of the operation, instead it looks like the operation itself is missing from those logs.

I start wondering if one of the operations from my multiple deletions of services get lost somehow. In fact, note that this leak happens for m

[2017-09-29 14:23] shyamjvs opened #53255 "Introduce critical performance tests as (manually unblockable) post-submit blockers"
As discussed in the release burndown meeting yesterday, here's a briefing of the issue:

Most of the folks (@smarterclayton, @liggitt, @jdumars, @gmarek and many from the release team) almost unanimously agreed with the requirement of post-submit blockers. Their absence is affecting us in multiple ways:

1.Release quality: We are shipping the release with a known performance regression violating o

[2017-09-29 14:27] shyamjvs commented on #53255
Any thoughts/comments that you might have are more than welcome.

@jdumars It would be great if you could link to this issue from the release retrospective doc (if there's one).

[2017-09-29 14:50] hanikesn opened #53256 "[1.8.0] kubernetes-server-linux-amd64.tar.gz sha256sum mismatch"
/kind bug

**What happened**:
[code]
**What you expected to happen**:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#v180
[code]

/sig release

[2017-09-29 15:05] mattthelee commented on #45419
We had this issue on kubernetes with weave and autoscalers. It turned out to be that weave had no more ip addresses to assign out. This was detected by running. weave status ipam from this issue: https://github.com/weaveworks/weave/issues/2970

The root cause is here: https://github.com/weaveworks/weave/issues/2797
The documentation warns about autoscalers and weave: https://www.weave.works/docs/n

[2017-09-29 15:33] patrickf55places commented on #16863
Also running into this issue using an environment variable that begins with a number.

[2017-09-29 16:00] shyamjvs commented on #53255
@krzyzacy Assigning it to you. Feel free to redirect as apt. Note that this is quite important.

[2017-09-29 16:03] kargakis commented on #53255
cc: @stevekuznetsov @spxtr @cjwagner

[2017-09-29 16:19] dolftax commented on #53170
@resouer @dchen1107 Let me know if I'm headed in the right direction. Read comments on the state of the PR here - https://github.com/kubernetes/kubernetes/pull/53258#issue-261693727

[2017-09-29 16:38] stevekuznetsov opened #53259 "kubectl: the version command should be able to create machine-readable output"
There should be some type of `kubectl version -o json` or `-o yaml` so that downstream consumers can get the client and server versions without having to parse human-readable output of the command as today. @mwoodson

/kind feature
/sig cli

/cc @fabianofranz @juanvallejo

[2017-09-29 16:44] euank commented on #42926
@wkornewald docker provides release candidates, which allows other projects (like Kubernetes) to run such tests against releases before they start breaking users.

It's rare for a project to take on the burden of running other project's tests for numerous reasons. In this case, it would be an especially large burden since running the Kubernetes test suite is so involved.

An RC period during which

[2017-09-29 16:49] cblecker commented on #53256
Yeah, something isn't quite right it seems:
[code]

[2017-09-29 17:16] deads2k commented on #52511
I don't agree that's a thing that should be done in the generic webhook mechanism.  That webhook was built to allow a client to be plugged in, so if `kube-apiserver` (and only that server) wants to do build a custom client and wire it in, that could be done.  But it must not leak in the genericapiserver.

[2017-09-29 17:17] abgworrall commented on #53256
The cause of this is understood; the CHANGELOG is in error. We'll fix it.

/cc @mbohlool

[2017-09-29 17:23] jdumars commented on #53255
This will be making an appearance in the retro for sure.

[2017-09-29 17:39] liggitt commented on #53248
reverse-index APIs are not typically provided... you can locate this info from the existing API by filtering client-side:

[code]

[2017-09-29 17:40] krzyzacy commented on #53255
@shyamjvs Is this around the same idea as https://github.com/kubernetes/test-infra/issues/4445? a few ideas:

- we had the idea which block the submit queue base on an issue
- if the test is fast enough, we can run it as a postsubmit job, and which will provide clear signal for you to catch regressions

How about join our sig-testing meeting next Tue and we can talk about it?

[2017-09-29 17:41] timothysc commented on #47943
/cc @ncdc FYI.

[2017-09-29 17:52] timothysc commented on #47943
@dashpole The issue explicitly called out fedora 26, so unless you had vetted on that platform the experimental results are invalid, as the interaction on the sub-stack is non-trivial.

[2017-09-29 18:15] liggitt commented on #50695
was https://github.com/kubernetes/kubernetes/pull/52120 intended to switch all jobs to a known good image?
still seeing this panic in `pull-kubernetes-e2e-gce-bazel` jobs:

http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/53158/pull-kubernetes-e2e-gce-bazel/32563

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/53158/pull-kubernetes-e2e-gce-bazel/32563/artifacts/e2e-32563-mi

[2017-09-29 18:25] wernight opened #53265 "kubectl top pod reports invalid memory usage"
**What happened**:

    kubectl top pod

Report memory usage half of what should be.

`docker stats` and Google Stackdriver both report my container to be about 100 MB memory but `kubectl top pod` report only 40 MB is used.

It's hard for me to know which is accurate and it may be dependant on what "accurate" means. I know that `free` and `top` are not cgroup aware and will report system-wide memo

[2017-09-29 18:37] liggitt commented on #51788
no, *all* pods in a namespace under the control of PodNodeSelector (including DaemonSet pods) must conform to the selector enforced by the PodNodeSelector.

This essentially freezes the DS selector to whatever the limited node selector for the namespace is at point of creation. This doesn't seem terrible to me.

If you want an unlimited daemonset to be able to run pods on all nodes when using PodN

[2017-09-29 18:45] deads2k commented on #51788
that would make it impossible to distinguish: "I want to select nodes like this" and "This is what my pod node selector was yesterday". When the pod node selector is updated, what should happen?  Sometimes it should do X, sometimes it should do Y.

[2017-09-29 18:54] shyamjvs commented on #53255
That one is different.. It's quite a fast one which we can potentially afford to run as a pre-submit and should help us catch few regressions.
However our releases are blocked on 5k-node job which often exposes issues that come up only at such scale (for e.g the ones we saw this release).

That sounds reasonable, though I assume the workflow is going to be sth like:
(test failed) -> (issue created

[2017-09-29 18:57] krzyzacy commented on #53255
@shyamjvs or we have daily community standups if you cannot make the weekly sig-testing meeting

[2017-09-29 19:00] liggitt commented on #51788
We've had this argument before :)

The alternatives:
* make daemonsets aware of podnodeselector admission
* end up with lots of pods targeting node that will reject them

[2017-09-29 19:00] shyamjvs commented on #53255
SG - Will join on one of the days (mon or tue) next week. Thanks.

[2017-09-29 19:06] deads2k commented on #51788
We have.  Daemonsets aren't resources normal users will make.  Those who make them should make their node selectors agree.  The daemonset controller should also be using the "ramp up pod creation" logic of the rest of the controllers, so if someone gets it wrong, the pain isn't too great.

[2017-09-29 19:10] liggitt commented on #51788
How is that different from the podnodeselector admission plugin forcing the node selector into the daemonset pod template, except that it requires more manual steps? Both cases end up with a daemonset object containing a denormalized copy of the enforced node selector

[2017-09-29 19:15] wernight commented on #53265
/sig cli

[2017-09-29 19:32] deads2k commented on #51788
The know their intent. When something changes, they know whether they want "all of the nodes I can" or "these specific nodes, no matter what I'm allowed".  A general bit of code can't know that.

[2017-09-29 19:38] #49965 closed

[2017-09-29 19:38] #53154 closed

[2017-09-29 19:38] #53083 closed

[2017-09-29 19:40] clhodapp commented on #22121
This is really unfortunate, given that the [the recommended way to connect to the API from within pods](https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#accessing-the-api-from-a-pod) is to use a sidecar `kubectl proxy`. You even have CNCF projects [*removing* convenient, direct service account support](https://github.com/linkerd/linkerd/pull/385) due to this recommendation.

[2017-09-29 19:47] DuncanSmith1126 opened #53269 "Kubelet config flag --hairpin-mode=hairpin-veth no longer works as expected in k8s v1.7.4"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

@kubernetes/sig-Network-bugs

**What happened**:
After an in-place upgrade from kubelet 1.5.3 to 1.7.4 - pods that attempt to loadbalance to themselves via kubedns are unable to complete the request. The value of --hairpin-mode=hairpin-veth is seemingly ignored.

**What you expected to happen**:
Pods that attempt to loadbalance to a service

[2017-09-29 19:48] davidopp commented on #52511
@deads2k I think I understand what you're suggesting we not do, but it's not clear to me what you are suggesting we *sould* do.

IIUC the goal here is that you can specify a service name  to the API server authz webhook config argument, and the API server will use that endpoint. And that this should work when you don't have a DNS server up.

We all agree the API server has the necessary informatio

[2017-09-29 19:50] DuncanSmith1126 commented on #53269
@kubernetes/sig-networking-bug

[2017-09-29 19:53] DuncanSmith1126 commented on #53269
@kubernetes/sig-Network-bugs

[2017-09-29 19:58] filmil commented on #52511
Hi all. I looked at the authorizer webhook code.  It is built mostly on top of `generic.Webhook`, which uses a constant client to call out to the webhook endpoints.  Dynamic resolution will probably need to redo resolution if the address endpoint changes.

In light of that understanding, my reading of the advice from @deads2k  from the previous comments is that `generic.Webhook`code should remain

[2017-09-29 19:58] deads2k commented on #52511
A genericapiserver does **not** have the necessary information .  The library is generic, not special just for the kube-apiserver (which does have the information to make a dialer).

My objection is to the assertion: "authz webhook doesn't respect the networking rules".  That isn't the case.  It uses DNS like normal and routes it's traffic like any other normal app.   This works for every generica

[2017-09-29 19:59] deads2k commented on #52511
Exactly.  Code in k8s.io/apiserver (the genericapiserver) shouldn't contain a snowflake for `kube-apiserver` running on GKE.

I also still agree with @liggitt here https://github.com/kubernetes/kubernetes/issues/49402#issuecomment-330682787, about trying to push this responsibility out to a VPN.

[2017-09-29 20:00] krmayankk commented on #53269
@thockin

[2017-09-29 20:00] davidopp commented on #52511
I don't understand the connection to GKE? My understanding is that the same problem exists in regular upstream code deployed with kube-up.sh.

[2017-09-29 20:03] #53256 closed

[2017-09-29 20:04] krmayankk commented on #53269
/sig sig-network

[2017-09-29 20:05] deads2k commented on #52511
No.  This is only a problem when you're trying to run a `kube-apiserver` without DNS access to the name you're resolving and without IP routing access to the IP you're routing to.  The only place I know that happens today when running on GKE since they're using a one-off SSH tunneler that was hacked into `kube-apiserver`.

[2017-09-29 20:13] davidopp commented on #52511
I thought the reason for this wasn't GKE, but because of an architectural feeling that we shouldn't rely on DNS being up for API server to function?

[2017-09-29 20:31] jennybuckley opened #53270 "File location in e2e test comment is outdated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: [This](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/expansion.go#L29) file has an error in the comment which makes it harder to understand the code.

**What you expected to happen**: The link should lead to the document it was intended to lead to

**How to reproduce it (as minimally and precisely a

[2017-09-29 20:31] liggitt commented on #53269
is this different from #45790?

[2017-09-29 20:32] liggitt commented on #53259
[code]

[2017-09-29 20:32] #53259 closed

[2017-09-29 20:34] jennybuckley commented on #53270
/sig testing

[2017-09-29 20:36] liggitt commented on #46300
breaking compatibility for this reason would not be acceptable

[2017-09-29 20:36] #46300 closed

[2017-09-29 20:37] #50767 closed

[2017-09-29 20:42] dashpole commented on #47943
@timothysc I intended to confirm two things:
1. Overlay2 storage driver stats collection is not generally broken. (confirmed by testing on COOS)
2. Your particular issue is not related to Overlay2. This is because the stats the kubelet uses to trigger disk pressure are node level stats, and thus are not related to the overlay storage driver.
So this issue is about node level disk metrics on Fedora

[2017-09-29 20:57] nathanleclaire commented on #52715
I'm on Debian and I've been facing a similar issue, using 1.8.0 (I'm on Docker 17.09.0-ce, but I don't think Docker version is an issue in this case). `kubeadm` bootstraps and waits for the containers to be up, which they do thanks to `kubelet`. However, then `kubelet` bails due to the CNI directory / configuration not being found, and removes the created Docker containers. However, there was neve

[2017-09-29 21:07] MrHohn commented on #51701
That is odd, the only theory I could think of is service controller itself terminates before it can take action on cleaning up the LB resources, this usually happens when user deletes the cluster along with other resources. But you are not deleting the cluster at the same time right?

Don't have a theory for this yet, there are some weird cases given how service controller processes service update

[2017-09-29 21:13] dchen1107 commented on #47184
@k82cn, looks like we missed 1.8 milestone for this.  I am ok to remove this feature completely from node / kubelet, but before we are doing it, could you  please start a discussion thread with both kuberentes-dev@ and kubernetes-users@ first? Thanks!

cc/ @bgrant0607

[2017-09-29 21:13] dchen1107 commented on #47184
cc/ @kubernetes/sig-node-proposals @kubernetes/sig-node-api-reviews

[2017-09-29 21:13] brendandburns opened #53274 "Azure LB should support a resource id reference for public IP addresses..."
Currently the Azure load balancer assumes that a Public IP address is in the same resource group as the cluster. This is not necessarily true in all environments, in addition to accepting a Public IP, we should allow an annotation to the `Service` object that indicates what resource group the IP is present in.

[2017-09-29 21:14] dchen1107 commented on #53246
cc/ @jsafrane @jingxu97

[2017-09-29 21:16] dchen1107 commented on #53226
cc/ @kubernetes/sig-network-bugs

[2017-09-29 21:36] #53078 closed

[2017-09-29 21:36] #53040 closed

[2017-09-29 21:36] #52025 closed

[2017-09-29 21:38] luxas commented on #49484
@ixdy Can we upgrade to 0.6.0 now?
Does bazel 0.6.0 have multiarch support btw?

[2017-09-29 21:49] DuncanSmith1126 commented on #53269
Related - but not quite the same. In that issue there's an actual CNI plugin being invoked by k8s, and since there was no standard for CNI Plugins and how they deal with hairpin - the issue was punted to containernetworking/cni#476 and closed.

In this case, since no CNI Plugins are specified in the kubelet command line, k8s defaults to a minimal behavior - NoopNetworkPlugin which sets the net/bri

[2017-09-29 22:07] luxas commented on #52916
This is part of beta graduation requirements in that case https://github.com/kubernetes/kubernetes/issues/51965
I'd be a bit hesitant to add many more providers... See the discussion in https://github.com/kubernetes/kubernetes/pull/48574

[2017-09-29 22:08] luxas commented on #49817
This is part of beta graduation requirements in that case #51965
I'd be a bit hesitant to add many more providers... See the discussion in #48574

[2017-09-29 22:10] luxas commented on #43800
Please use the latest v1.8 kubeadm.
Also, if you want to get help, move this issue to the kubernetes/kubeadm repo

[2017-09-29 22:20] luxas commented on #51841
Nope, the things that were outstanding were fixed in the go. I manually tested kubeadm v1.8.0-rc.1 packages on all possible and impossible OSes and configurations as well successfully (well, I had to tweak the docs a bit, but anyway :smile:)

We're gonna have some nonblocking cherrypicks to v1.8 (for instance we found that the kubelet asks for a cert although it has one already when cert rotation

[2017-09-29 22:20] #51841 closed

[2017-09-29 22:40] chrislovecnm commented on #39590
@ixdy any update?

[2017-09-29 22:41] ixdy commented on #39590
we need to update our rules_go dependency. hopefully in the next week or so.

[2017-09-29 23:06] smarterclayton commented on #53255
We may want to consider that prior to code freeze all signal needs to be
good, and that it's on the affected sigs to focus before code freeze that
any of the long pole post-submits are green.  No one felt the pain of the
post-submit until it was very late, which was too late.

On Fri, Sep 29, 2017 at 3:01 PM, Shyam JVS <notifications@github.com> wrote:

[2017-09-29 23:13] steren opened #53279 "Broken doc link"
404 on https://kubernetes.io/v1.0/docs/user-guide/kubeconfig-file/

I got here my googling [kubernetes config]

[2017-09-29 23:19] steren commented on #53279
/sig docs

[2017-09-29 23:33] #48390 closed

[2017-09-29 23:35] bgehman commented on #52481
@m-no-2017 👍 thanks for reporting this -- helped me figure out that a colleague was not base64 encoding his secrets.  Led to the same cryptic error message.

[2017-09-29 23:47] jiayingz opened #53281 "The GPUDevicePlugin e2e test is flaky"
**What happened**:
The GPUDevicePlugin e2e test added in test/e2e/scheduling/nvidia-gpus.go has been more flaky than the GPU test.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8
- Cloud provider or hardware configuration**:
- OS (e.g. from /

[2017-09-30 00:08] bgrant0607 commented on #21912
cc @kubernetes/sig-apps-feature-requests

[2017-09-30 00:47] valentin2105 commented on #53246
@gnufied I'm not really able to rebuild kubelet from the merged PR (never do that) and I think is not easy as `go build`.
Any idea on which release it would be merged ? in 1.7.x ?
But the PR discussion seem exactly what happened to me.

[2017-09-30 01:20] kargakis commented on #53255
I know that testgrid is supposed to have notifications, maybe we could start spamming slack and/or email on poor results from a set of jobs until people take notice?

[2017-09-30 01:25] kargakis commented on #44800
Fixed by https://github.com/kubernetes/kubernetes/pull/51021 - thanks @zjj2wry!

[2017-09-30 01:25] #44800 closed

[2017-09-30 01:57] stormltf commented on #51835
STUCK_POD_UUID
`
{"log":"I0926 19:59:07.162477   54420 kubelet.go:1894] SyncLoop (DELETE, \"api\"): \"billcenter-737844550-26z3w_meipu(30f3ffec-a29f-11e7-b693-246e9607517c)\"\n","stream":"stderr","time":"2017-09-26T11:59:07.162748656Z"}
`

[2017-09-30 02:14] zjj2wry commented on #44800
@kargakis 😊

[2017-09-30 02:25] stormltf commented on #51835
[code]
find uuid in log mcanal-518193204-9s1vr_meipu(1cebb2e8-9e99-11e7-93c6-246e96077f5c)
[code]

[2017-09-30 02:41] stormltf commented on #51835
i  do same for freshly  created and running pod.  **find it is different!**

[code]

[code]

[2017-09-30 03:20] liggitt commented on #53237
Reopening. Blocking on start is still an issue if auto approval is not enabled.

[2017-09-30 03:20] liggitt commented on #53237
Fix in https://github.com/kubernetes/kubernetes/pull/53238

[2017-09-30 04:11] #8074 closed

[2017-09-30 04:23] krmayankk commented on #53006
@crassirostris @hzxuzhonghu i am not against this change. i think what would be best is to make the default as no buffering and enable buffering through a parameter. Also for Enterprises, the trade off is not correct, they would prefer to NOT give up audit logs

[2017-09-30 04:47] frankruizhi commented on #43800
Using the latest kubeadm v1.8.0 ,what's wrong with it ?
[root@swarm ~]# kubeadm init --apiserver-advertise-address=192.168.1.150 --pod-network-cidr=192.168.0.0/16 --skip-preflight-checks
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.8.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Skipping pre-flight checks
[ku

[2017-09-30 06:19] guangxuli commented on #52141
@wzhliang "nodeSelectorTerms" is ORed in NodeAffinity, not Anded. Just check the code [here ](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L2267)
And i suppose you mentioned `Anded `due to you confuse `nodeSelectorTerms `with `nodeSelectorTerms`.

[2017-09-30 06:50] frankruizhi commented on #43800
Things was solved by setting --fail-swap-on=false in kubelet.
Just make the modification on the file /etc/systemd/system/kubelet.service.d/10-kubeadm.conf.

[2017-09-30 07:20] wenlxie commented on #50813
This may related with following condition:

1.  The node had been removed from the cluster,
2.  There are pod that  used to running on there node still exists

If you deleted these pods, then the new pod will get normally scheduled.

I think this is related with function:
[code]
Here we can see if there are pod not cleaned, the node will not be deleted from cache.nodes
And at the function ：

Calcu

[2017-09-30 07:46] guangxuli commented on #52391
@gnavgire hi, could you recheck the issue, or give some extra info for this. If it is not a issue please close this.

[2017-09-30 08:52] zhangxiaoyu-zidif commented on #49442
I have a problem, I set memory to 0.1Gi, that's converted to memory: 107374182400m.
Amazing followed: I cannot set replicas for this rc. That means: I want to scale it to 2 replicas, there is still one running pod. During this processing, several pods were created, but all were deleted soon by dockerd.

have you seen it before?
cc @xiangpengzhao @vishh @supereagle

[2017-09-30 10:01] zhangxiaoyu-zidif commented on #49559
1 milli-bytes equals 1/1000 byte
but it is not really exist. The mininum of memory or disk should be bit. All right?
mili-bytes seems to be non-meanning or non-value.
@vishh

[2017-09-30 10:03] zhangxiaoyu-zidif commented on #49559
And if user use 0.1Gi, this value  can not be converted into a integer value bytes...

[2017-09-30 12:05] hubo2005 opened #53288 "TLS-bootstrapped kubelet loses client certs after reboot, node stays on NotReady status"
Updated description:

## Problem
The default `--cert-dir` path points to a transient location (`/var/run/kubernetes`) that is removed on reboot. The default `--kubeconfig` location points to a persistent location. This means that after a reboot, a kubelet can be stuck with configuration that is missing credentials needed to reach the API server.

## Solution
* `kubeadm` users:
  * Updated kubeadm

[2017-09-30 12:12] hubo2005 commented on #53288
/sig-autoscaling

[2017-09-30 12:57] praving55 commented on #48378
I am on kubeadm 1.8 and this problem still occurs.

[code]

I manually checked `/var/run/kubernetes`. It was cleaned when I ran `kubeadm reset`. Not sure what the actual problem is.

[2017-09-30 14:04] antoineco opened #53291 "controller-manager wrongly warns about empty service-account-private-key-file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

During startup `controller-manager` shows the following warning:

`controllermanager.go:138] --use-service-account-credentials was specified without providing a --service-account-private-key-file`

However `--service-account-private-key-file` is set and refers to a valid X.509 private key file.

All service accounts seem

[2017-09-30 14:29] antoineco commented on #53291
/area controller-manager
/sig auth

[2017-09-30 15:53] liggitt commented on #53291
Thanks for the report. The condition for printing the warning is backwards, but has no effect on behavior.

Fixed in #51034

[2017-09-30 16:01] liggitt commented on #53243
Admission (including webhook admission) gets to affect the initial object creation, prior to initializers acting on the object. That is working as designed.

Initialization actually consists of a create, followed by multiple initializing updates. There is discussion about how admission should be called for those subsequent initializing updates in https://github.com/kubernetes/community/pull/1137/f

[2017-09-30 16:01] #53243 closed

[2017-09-30 16:26] barrykalok opened #53295 "Cannot assign hostname to POD"
**What happened**:
Cannot assign hostname to POD
besides master node (i have only 1 master node)
my cluster has 30 nodes, any POD assigned on these 30 nodes have no problem
when I started my 31 nodes and joined to my cluster (status = Ready)
any POD assigned to this 31 node failed to get the hostname

**Environment**:
I am using KOPS to setup my cluster

kops version
Version 1.6.1 (git-22b22cc)

k

[2017-09-30 16:26] enj opened #53296 "Reconciliation adds duplicated subjects on server start"
/kind bug

**What happened**:

Bootstrapped RBAC role bindings incorrectly add duplicate subjects on server start.

**What you expected to happen**:

Reconciliation should not add subjects that already exist.

**How to reproduce it (as minimally and precisely as possible)**:

Restart an API master multiple time.  See that bootstrap role bindings have duplicated subjects.

**Environment**:

master:

[2017-09-30 16:27] enj commented on #53296
/sig auth

[2017-09-30 16:28] enj commented on #53296
/assign @enj

[2017-09-30 16:34] crassirostris commented on #53006
@krmayankk I understand what you're suggesting and I don't agree :) Switching to buffering will for sure increase the latency, but will only increase the _probability_ of losing logs, which will _never_ be zero. I'm pretty sure we need to have buffered mode by default. However, since this argument is about making a trade-off and since neither of us represents quorum, let's ask more people for thei

[2017-09-30 17:15] ymsaout commented on #24317
@msau42 I didn't see anything about PD in release blog post. https://cloudplatform.googleblog.com/2017/09/google-container-engine-kubernetes-18.html

[2017-09-30 18:26] justinsb commented on #51135
So I hit this one rather hard.  I was setting CPU request == CPU limits, so that we would be in guaranteed class for critical system pods, so that those pods would be less likely to be evicted.  However, I observed that critical pods were being CPU throttled and that this was causing really bad behaviour in our cluster.

Looking at the manifests in `cluster/`, it seems that the recommended approac

[2017-09-30 19:14] #53291 closed

[2017-09-30 19:14] #53296 closed

[2017-09-30 19:18] webwurst commented on #2707
I see that the fix got merged at Aug 8, but when trying Kubernetes `v1.7.7`, released on Sep 29 the following error still shows up for me:
[code]
In which Kubernetes version is this issue supposed to be fixed?

[2017-09-30 19:20] davidopp commented on #51135
I think what you wrote is actually correct.

All of this should get a lot better once priority is fully implemented, both [in the scheduler](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/pod-preemption.md) (alpha in 1.8) and [on the kubelet](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-eviction.md) (I

[2017-09-30 19:39] maleck13 commented on #46503
Would it also be fair to say that if you could pass in a context to the client calls, then if you were using the client in the scope of a web request, for instance, and that request was cancelled that cancellation could then be propagated allowing the client to stop any currently executing request?

[2017-09-30 19:44] timoreimann commented on #2707
@webwurst it'll only be available in 1.8.

[2017-09-30 20:54] colemickens commented on #53226
cc: @seanknox @jdumars

[2017-09-30 21:10] sebgoa commented on #22121
Agreed, we should re-open this issue.

We need to make a better recommendation in the docs or make that kubectl container available.

Do note that with the python client you can make API calls to the APi server without a proxy because the client can load the service account token properly.

cc/ @ahmetb would be nice to get you to check that doc page about kubectl proxy being recommended.

[2017-09-30 21:10] sebgoa commented on #22121
/open

[2017-09-30 21:49] john-a-joyce commented on #52341
I also hit this issue.  Is there any known work arounds?

Version information:
kubefed version (1.7.6)
kubectl version (1.7.6)
OS: ubuntu VERSION="16.04.3 LTS (Xenial Xerus)"
kernel:  4.4.0-93-generic
hardware configuration Cisco UCS C220

[2017-09-30 22:46] fejta-bot opened #53300 "Failure cluster [6962e1...] failed 59 builds, 10 jobs, and 1 tests over 1 days"
### Failure cluster [6962e13cead522b5408d](https://go.k8s.io/triage#6962e13cead522b5408d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    10 jobs failed,    59 builds failed.
Failure stats cover 1 day time range '29 Sep 2017 20:57 UTC' to '30 Sep 2017 20:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 10 |

##### Top

[2017-09-30 22:51] RRAlex opened #53301 "kube-apiserver 1.8 returns 500 with experimental-encryption-provider-config & changed key"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Upgrading to 1.8.0, I get weird errors from the API when using secrets after swapping the encryption key. I basically seem to be having ghost records.
Doing a `kubectl get` gives the error bellow, and a `create` of the same secret name will say it `already exists`. Those secrets don't show up in a global `get`.

Maybe the

[2017-09-30 23:45] RRAlex commented on #53301
@kubernetes/sig-api-machinery
/sig area/secret-api

[2017-10-01 00:15] tcharding commented on #50292
Woops, the issue is with `blackfriday` not `cobra`. Original issue closed, new [issue](https://github.com/russross/blackfriday/issues/395) opened.

[2017-10-01 00:40] liggitt commented on #53301
Changing encryption keys and removing the old decrypting keys without rotating storage orphans records in etcd. follow the instructions to rotate encrypted secrets before removing the old key.

https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

[2017-10-01 00:40] #53301 closed

[2017-10-01 02:10] cblecker commented on #53295
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-10-01 02:10] #53295 closed

[2017-10-01 02:11] cblecker commented on #53288
@kubernetes/sig-auth-bugs

[2017-10-01 02:42] k82cn opened #53302 "Scheduler integration test is slow (took 456.576s)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

[2017-10-01 02:42] k82cn commented on #53302
/sig sig-scheduling

[2017-10-01 02:42] k82cn commented on #53302
/sig scheduling

[2017-10-01 02:43] liggitt commented on #53288
What is the full invocation of the `kubelet` command and content of the `--kubeconfig` (and `--bootstrap-kubeconfig` if used) files (with confidential data redacted)?

[2017-10-01 02:44] liggitt commented on #53288
cc @jcbsmpsn @mikedanese

[2017-10-01 03:03] praparn commented on #47334
Dear all,

   According to test HPA on K8S 1.8.0 with enable heapster/influxdb/grafana. We still facing problem from error " the HPA was unable to compute the replica count: unable to get metrics for resource cpu: no metrics returned from heapster". Please kindly suggest for troubleshooting. (Now i'm running this on via gcloud

Br,
Praparn L

=======================================================

[2017-10-01 03:21] resouer opened #53304 "Extra CRI call during processing cpu set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

There will always be extra UpdateContainerResources CRI call even when cpu set is empty. This is unneeded.

**What you expected to happen**:

Only call UpdateContainerResources when cpu set is set.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2017-10-01 03:23] resouer commented on #53304
/sig node

[2017-10-01 04:44] peterwillcn opened #53305 "Does Kubernetes support Singularity?"
Does Kubernetes support [Singularity](http://singularity.lbl.gov)?

[2017-10-01 04:46] peterwillcn commented on #53305
/sig Features

[2017-10-01 04:47] peterwillcn commented on #53305
/sig scalability

[2017-10-01 07:46] hubo2005 commented on #53288
Here is the 10-kubeadm.conf file content which I think might be the  kubelet command you were asking for:
![image](https://user-images.githubusercontent.com/1670318/31052693-90752acc-a6be-11e7-9700-e6f8951a4e6a.png)

the kubeconfig.conf file:
![image](https://user-images.githubusercontent.com/1670318/31052707-1334d78c-a6bf-11e7-8eb5-9664dd1f0ed9.png)

And the bootstrap-kubeconfig.conf:
![image](ht

[2017-10-01 08:09] #48404 closed

[2017-10-01 12:34] KamilBaran commented on #53288
I have the same issue. /var/run/kubernetes/kubelet-client.crt and /var/run/kubernetes/kubelet-client.key gets deleted when I reboot the node. Restarting kubelet only works fine.
I can run kubelet after restoring these files from a backup.

[2017-10-01 12:58] liggitt commented on #53288
Did the restart occur after an upgrade from 1.7.x, or was the kubelet at 1.8 before and after the restart?

[2017-10-01 13:15] KamilBaran commented on #53288
Kubelet 1.8 is the only one version on my node (before and after the restart).

[2017-10-01 13:26] deitch opened #53309 "kubectl 1.8 cannot validate simple namespace yml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl` 1.8.0 fails to validate a simple namespace yml:

[code]

Same problem if I use json (which is how I first noticed, it trying to restore from a `get ns -ojson --export` )

**What you expected to happen**:
`kubectl` to validate and pass it on to the cluster

**How to reproduce it (as minimally and precisely as pos

[2017-10-01 13:30] deitch commented on #53309
@kubernetes/sig-cli-bugs

[2017-10-01 13:30] deitch commented on #53309
FYI, did look for an open similar bug, no luck.

[2017-10-01 14:06] luxas commented on #53288
cc @kubernetes/sig-cluster-lifecycle-bugs as this bug affects kubeadm a bit as well

[2017-10-01 15:20] mtaufen opened #53311 "Also include namespace in encoding for --append-hash?"
In a comment on [Generated Names for Generated Data](https://docs.google.com/document/d/1x1fJ3pGRx20ujR-Y89HUAw8glUL8-ygaztLkkmQeCdU/edit?ts=59d0846a) yesterday, @anguslees suggested including the name and namespace in the hashes. While the current implementation includes the name, it does not include the namespace. We should consider including the namespace as well, because it makes dictionary at

[2017-10-01 15:26] hubo2005 commented on #53288
this is a clean 1.8 installation with kubeadm, not upgrade from any version. @liggitt

[2017-10-01 15:37] luxas commented on #53288
@hubo2005 Thank you. It turns out that there is a bug in a feature kubeadm uses (Kubelet client certificate rotation).

Meanwhile, can you remove the flag `--rotate-certificates` flag in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` please and see if that "fixes" the issue?

We might release new debs tomorrow or so removing that flag as we don't want to enable a feature that does not wor

[2017-10-01 15:47] liggitt commented on #53288
cc @smarterclayton

[2017-10-01 16:21] javapapo commented on #45626
I also have this on kops / Kuberneters 1.7.4

[code]

After re-deploy, pods from the previous replica set- some times stay on status 'terminating' and the error is 'Error Syncing pod`

[2017-10-01 16:28] hubo2005 commented on #53288
@luxas its my pleasure.
But remove the --rotate-certificates flag Or set --rotate-certificates=false Or remove the environment variable KUBELET_CERTIFICATE_ARGS from the kubelet ExecStart do't work, the error is still the same after reboot.
![image](https://user-images.githubusercontent.com/1670318/31056652-a23f5d1a-a707-11e7-88ed-63a4b8665aa5.png)

[2017-10-01 16:36] erikgrinaker commented on #52341
Not that I'm aware of, unfortunately. Had to manually apply the DaemonSet to each of the federated clusters. :(

[2017-10-01 17:09] luxas commented on #53237
Should this have the v1.8 milestone attached to it?

[2017-10-01 17:44] furkhat commented on #15128
Hey @jonmoter,I was looking at source code and found that you can use `metadata.name` like [here](https://github.com/kubernetes/apimachinery/blob/b317fa7ec8e0e7d1f77ac63bf8c3ec7b29a2a215/pkg/apis/meta/v1/helpers.go#L204).

[2017-10-01 18:19] claudiuchis commented on #43800
frankruizhi's solution worked for me. Had to reload the config changes, by running 'systemctl daemon-reload'.

[2017-10-01 18:23] TobiasBales commented on #42306
Anyone still looking into it?

Running into the same running k8s setup using kubeadm on scaleways instances.
It works fine if I enter the IP of the heketi host but if I put in the dns (tried `heketi`, `heketi.kube-system` and `heketi.kube-system.svc.cluster.local` neither worked (my heketi is deployed into the kube-system ns)

[2017-10-01 19:47] liggitt commented on #53288
@hubo2005 just to be sure, did you run `systemctl daemon-reload` after modifying the unit file?

[2017-10-01 19:56] sarathcakurathi opened #53313 "Getting X509 certificate signed by unknown authority"
I am new to kubernetes, trying to configure it from terraform using these scripts. I created tls assets and copied to proper location as mentioned in ericandrewlewis/kubernetes-via-terraform
 but when i try to issue kubectl get pods or kubectl get nodes I am getting x509 certificate signed by unknown authority error either from k8s master or from terraform. Please help me.

[2017-10-01 20:38] liggitt commented on #53288
actually, I think this is an issue with `/var/run` being a transient folder, completely removed/recreated on reboot. Looking at the timestamps, the whole folder is being recreated. The server cert/key are regenerated at kubelet start, but the client certs obtained via bootstrapping remain missing.

In short, the issue is:
1. `--cert-dir` defaults to a transient directory (/var/run/kubernetes)
2. `

[2017-10-01 21:13] hulkholden commented on #53288
I was seeing this too. I can confirm setting --cert-dir to a non-transient dir, deleting /etc/kubernetes/kubelet.conf and restarting results in a working node.

[2017-10-01 21:21] luxas commented on #53288
@liggitt so setting `--cert-dir` to `/var/lib/kubelet/pki` in the meantime in debs/rpms will miligate this issue, right?
Let's make sure @pipejakob sees this as well ^

Thanks for the digging @liggitt!

[2017-10-01 21:28] liggitt commented on #53288
Yes.

* 1.7 systems will tolerate that change (since the only thing that was used for was self-signed serving certs, which will happily regenerate in the new location)
* New 1.8.0 systems will happily generate TLS-bootstrapped certs in the new location
* Existing 1.8.0 systems that already bootstrapped will have to remove their `--kubeconfig` file, since their `--kubeconfig` files have the bad loc

[2017-10-01 22:30] #53304 closed

[2017-10-01 22:33] ofiliz commented on #53226
@rocketraman Can you please check the /var/log/azure-vnet.log and azure-vnet-ipam.log to see if kubelet calls into CNI plugin with a DEL command for your pods? If you see the DEL commands, what is the result of that operation in the logs? If you don't see any DEL commands for all your pods, either your pods are still alive or this is likely a kubelet CNI bug.

[2017-10-01 22:47] fejta-bot opened #53314 "Failure cluster [516d0b...] failed 63 builds, 4 jobs, and 1 tests over 1 days"
### Failure cluster [516d0ba8ce8d713af7ea](https://go.k8s.io/triage#516d0ba8ce8d713af7ea)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    4 jobs failed,    63 builds failed.
Failure stats cover 1 day time range '30 Sep 2017 21:33 UTC' to '1 Oct 2017 21:33 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| IsUp | 4 |

##### Top fa

[2017-10-01 23:18] liggitt commented on #53313
Typically, that means the CA certificate used to sign the apiserver certificates was not configured in the kubeconfig file used by kubectl. I'd suggest asking the question of the author of the scripts/docs used to set up the cluster

[2017-10-01 23:18] #53313 closed

[2017-10-01 23:21] F21 opened #53315 "Option to mount ca.crt into pods without service accounts"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

In 1.7.0, it's possible to ask Kubernetes to sign certificates using the `certificates.k8s.io/v1beta1` api.

I want to heavily lean on this API to issue certificates for my pods. However, I do not want these pods to have access to a service account.

If I set `automountServiceAccountToken: false` in the pod's spec, it no longer mounts th

[2017-10-01 23:28] F21 commented on #53315
/sig auth

[2017-10-02 02:02] markya0616 commented on #49577
We also encountered the similar issue. @sylr Can you provide an example about how to add `vnetResourceGroup` into `azure.json`?

[2017-10-02 02:13] sjenning commented on #49740
@jhorwit2 while it is true that while each probe has its own worker, which contains the goroutine to periodically trigger the probe, each uses a common `probeManager` with a common `prober` and a common `httpProber` for all probes kubelet wide.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/prober/worker.go#L201

The singular `probeManager` for the whole kubelet is created here

[2017-10-02 02:53] liggitt commented on #53004
Kubelets using TLS bootstrapping (`--bootstrap-kubeconfig`) or certificate rotation (`--rotate-certificates`) store certificates in the directory specified by `--cert-dir`. The default location (`/var/run/kubernetes`) is automatically erased on reboot on some platforms, which can prevent the kubelet from authenticating to the API server after a reboot. Specifying a non-transient location, such as

[2017-10-02 03:11] liggitt commented on #53288
Opened several PRs:
* https://github.com/kubernetes/kubernetes/pull/53316 adds the issue and workaround to the 1.8.0 known issues list
* https://github.com/kubernetes/kubernetes/pull/53317 changes the default `--cert-dir` for the kubelet, will pick to 1.8.x
* https://github.com/kubernetes/release/pull/426 changes the `--cert-dir` for kubeadm >= 1.8.0

[2017-10-02 04:45] #49740 closed

[2017-10-02 05:01] jiayingz commented on #53281
/priority important-soon

[2017-10-02 06:04] rocketraman commented on #53226
@ofiliz On two of the five nodes in my cluster, I see DEL commands failing in the logs. On the other two nodes they have complete successfully. All five nodes were created at cluster creation time -- there is nothing special about the ones in which the DEL commands are failing. Here is a snippet of the failing DEL commands from those nodes.

[code]

And here are the logs from the other failing nod

[2017-10-02 06:28] ravilr commented on #53269
Looks like this is broken since 1.6 release for setups not using any network plugin.

[2017-10-02 06:44] wojtek-t commented on #47597
+1

[2017-10-02 07:02] krmayankk commented on #53006
@smarterclayton @thockin

[2017-10-02 07:58] wojtek-t commented on #50543
I added appropriate labels - will handle cherrypicking the PR.

[2017-10-02 07:58] #50543 closed

[2017-10-02 08:10] harmjanblok commented on #48361
@lev-kuznetsov Did you test with `--dry-run -o yaml` to see what `kubectl run` would generate? I've tried something similar, but my template looks like:

    {
      "spec": {
        "containers": [
          {
            "name":
            ...
          }
       }
    }

[2017-10-02 08:35] surajssd opened #53320 "While setting the current namespace locally check if the namespace exists"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

[code]

As above you can see that I created namespace `app` and then tried to change the namespace but then there was a typo instead of changing the namespace to `app` I did it to `appp`. So here without error it changed the `namespace`.

Also it is set in the `~/.kube/config`:

[code]

**What you expected to happen*

[2017-10-02 08:41] wojtek-t commented on #53021
single master mode.

Interesting. I didn't know about it - I've always thought it only affects clustered etcd.

[2017-10-02 08:41] surajssd commented on #53320
/sig cli

[2017-10-02 08:45] livelace commented on #45419
Hi folks. In my case I had the PLEG problem with a deletion of sandboxes, because they didn't have a network namespace. That situation described in https://github.com/kubernetes/kubernetes/issues/44307

My problem was:

1. Pod deployed.
2. Pod deleted. Container of application deleted without problems. Sandbox of application wasn't deleted.
3. PLEG tries to commit/delete/finish the sandbox, PLEG c

[2017-10-02 09:19] estechnical commented on #22770
Sorry for the really long delay!
I can confirm that adding the names of the our nodes to /etc/hosts on the kubernetes master resolves this problem for us too :)

[2017-10-02 09:55] lordoffreaks commented on #53309
Same problem here, it's happening for all the entities ... validation fails for `services` and `deployments` at leasts

[code]

[code]

[2017-10-02 09:59] shyamjvs opened #53321 "Make audit-logging policy file reusable"
I needed to copy the policy contents for kubemark while it should've been possible to reuse it.
Earlier discussion we had about this - https://github.com/kubernetes/kubernetes/pull/52998#issuecomment-331940632

cc @crassirostris @liggitt @tallclair @kubernetes/sig-instrumentation-misc

[2017-10-02 10:25] wojtek-t commented on #30189
Any news about that?

This is blocked on bulk-watch feature that is under implementation. potentially Alpha in 1.9, but without promises.

I don't think you can force it. But it should automatically sync periodically (by default every 1m). If it's not, then there is some bug.

[2017-10-02 10:41] sylr commented on #49577
[code]

[2017-10-02 10:58] f0 commented on #49065
@luxas still present with 1.8.0

[2017-10-02 12:20] flyingcougar opened #53323 "CPU manager topology is not correct"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
CPU Manager uses topology from cAdvisor which uses `proc/cpuinfo` which is different from `lscpu -p` in terms of coreID's.

`lscpu -p` assigns coreID's in unique manner (**platform-wise**) whereas `proc/cpuinfo` has coreID's from CPU registers which are **unique only on socket level**. This causes some unexpected cpu assi

[2017-10-02 12:23] flyingcougar commented on #53323
/sig node

[2017-10-02 12:23] flyingcougar commented on #53323
/release-note-none

[2017-10-02 12:23] flyingcougar commented on #53323
/assign @sjenning @derekwaynecarr @ConnorDoyle

[2017-10-02 12:24] flyingcougar commented on #53323
/kind bug

[2017-10-02 12:54] wojtek-t commented on #50916
Looking into logs from https://github.com/kubernetes/kubernetes/issues/50916#issuecomment-331764919 - the scheduler is trying to schedule the same pod `misc-reaper-1506106440-dsnx2 ` for the second time, even though it previously scheduled it:
[code]

But I have a couple questions:

[code]

1. Why do we have this log in scheduler? This is coming from disruption controller IIUC, so it shouldn't be

[2017-10-02 13:03] ambis commented on #53309
Same problem here. Versions are same as with @lordoffreaks

[2017-10-02 13:29] jsafrane commented on #53246
@valentin2105, how do you (re)start kubelet? Do you run it in a system services? #49640 will help you if so. It's available in 1.8 branch. I am afraid that draining the node before upgrading it is necessary in 1.7.x if you use Gluster.

[2017-10-02 13:34] shyamjvs opened #53327 "Large kubemark performance tests failing with timeout during ns deletion"
We've been seeing these failures continuously in kubemark-5000 for quite some now - https://k8s-testgrid.appspot.com/sig-scalability#kubemark-5000
Even in kubemark-500 we're occasionally seeing flakes - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/8806

On first look I'm seeing that hollow-nodes are going pending during test namespace deletion:

[

[2017-10-02 13:48] shyamjvs commented on #53327
I'm seeing multiple such error lines from hollow-kubelet logs of currently live cluster:

[code]

@kubernetes/sig-node-bugs @yujuhong @Random-Liu - Any ideas?

[2017-10-02 13:56] deads2k commented on #52511
I don't share that architectural feeling.  DNS is normal way to lookup a DNS name.  Of all the apiservers that currently exist and will exist, **only** the kube-apiserver even has the power to resolve a service name (the others can't do the lookup).  And in GKE, when someone does decide to bypass normal resolution, the kube-apiserver developer ends up having to re-invent kube-dns and kube-proxy (o

[2017-10-02 13:56] shyamjvs commented on #53327
Seems like kubelet's ImageGCPeriod is 5m and I'm seeing such logs every 5 min - so it's pretty much failing all the time.

Fyi - I'm also seeing one such error log once at the start:

[code]

[2017-10-02 14:04] deads2k commented on #49817
We spoke in sig-auth and sig-apimachinery.  We'll be adding this as another example of building a KMS plugin to gain more experience with the API.  After we have those two examples, we'll be more competent to shape an external API that is likely to work.

[2017-10-02 14:14] julia-stripe commented on #50916
Yes, those are from the disruption controller -- i included them because they mentioned the same pod. (the logs I pasted in that comment come from searching for that pod ID in our log aggregation system, so I could find any events that mentioned it)

How do I figure out whether a re-list is being triggered in the informer?

Here are the logs for 2 crashes, from the time when the watch closes to wh

[2017-10-02 14:19] mattfarina commented on #47538
Another option if something needs to run once when an app starts is an [init container](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/).

@erhudy This is the kind of thing that would be good to discuss at a SIG Apps meeting. If you can find my on slack we can try to work out a time to get you on the schedule.

[2017-10-02 14:24] pmichali opened #53329 "kube-proxy: Inconsistent settings for conntrack"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Set conntrack_max and conntrack_max_per_core both to zero.

**What you expected to happen**:
Expected kube-proxy to leave settings for conntrack alone, but kube-proxy attempts to change hashsize and fails (see below).

The API indicates that these both could be set to zero to ignore them:

https://github.com/kubernetes/kub

[2017-10-02 14:26] markya0616 commented on #49577
@sylr Thanks for the reply. Can you provide more details? In our case, we use a json file like below to generate `azuredeploy.json` and `azuredeploy.parameters.json` by `acs-engine`.

[code]

After that, we can deploy the cluster by `az group deployment create`. Do you have any idea about this?

[2017-10-02 14:29] julia-stripe commented on #52657
Here's another screenshot of our memory usage graphs showing this is still an issue. We have a local cronjob that kill -9s the controller manager at 43 minutes after the hour (to keep the memory usage under control), so memory usage rises steadily until :43 and then drops when the controller manager is killed, and then it starts rising again.

<img width="600" alt="screen shot 2017-10-02 at 7 25 3

[2017-10-02 14:31] bsander commented on #50363
@kow3ns Well, basically, but without the shard allocation in advance. For now we "just" have Kubernetes perform a rolling upgrade (thus, deleting pods one by one and starting up new ones based on an updated image). But even if we did do the shard allocation steps, there still would be some time between the **node** being up and ready for traffic, and the **cluster** being ready for the next pod to

[2017-10-02 14:36] pmichali commented on #53329
/sig network
/area kube-proxy

[2017-10-02 14:41] civik opened #53331 "Cronjobs - failedJobsHistoryLimit not reaping state `Error`"
/kind bug
/sig apps

Cronjob limits were defined in #52390 - however it doesn't appear that `failedJobsHistoryLimit` will reap cronjob pods that end up in a state of `Error`

     kubectl get pods --show-all | grep cronjob | grep Error | wc -l
     566
Cronjob had `failedJobsHistoryLimit` set to 2

**Environment**:
- Kubernetes version (use `kubectl version`):

Client Version: version.Info{Major:"

[2017-10-02 14:41] bgrant0607 commented on #53311
@mtaufen Including namespace SGTM. We should make the change and patch 1.8.

[2017-10-02 14:42] luxas commented on #49065
Please install kubeadm the documented, official way from debs/rpms.
I don't think this issue exists in v1.8.0
In case you think so, I'm glad to get that reported, but then open a new issue in kubernetes/kubeadm, please don't answer here

[2017-10-02 14:48] liggitt commented on #53311
the namespace is not always available when generating the object (objects can be generated without namespace, then passed to a create operation that places the object into a namespace)

Aren't the "well-known" namespaces the ones most likely to be attacked in this way?

It seems like a user-provided salt would be more effective

[2017-10-02 14:52] FlorianOnmyown commented on #53279
@steren the documentation you are looking for is now accessible here: https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

Unfortunately, I think that we will have to wait for Google bots to rescan the site to correct this behaviour.

[2017-10-02 14:56] steren commented on #53279
Could a redirect be possible? Yes Google will rescan, bit what about every
other page that deep links to this page?

On Mon, Oct 2, 2017, 07:54 Florian Woerner <notifications@github.com> wrote:

[2017-10-02 15:02] nikhita commented on #49811
Update: They are not present in the 1.8 api reference docs too.

[2017-10-02 15:02] nikhita commented on #49811
/kind bug

[2017-10-02 15:03] praparn opened #53333 "kubeadm init --kubernetes-version=v1.8.0 fail with connection refuse for Get http://localhost:10255/healthz"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**What happened**:
kubeadm init for initial cluster in version 1.8 fail with error:
------------------------------------------------------
[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10255/healthz' failed with error: Get http://localhost:10255/health

[2017-10-02 15:03] #52370 closed

[2017-10-02 15:17] bgrant0607 commented on #53311
@liggitt Good point.

The main requirement is that it be deterministic rather than randomly generated.

Are we concerned about the data being part of the Secret?

If not, then adding any additional keys to the secret would work.

[2017-10-02 15:24] praparn commented on #53333
@onprem-bugs /sig kubeadm

[2017-10-02 15:52] kad commented on #53333
@praparn Have you noticed warning "[preflight] WARNING: Running with swap on is not supported. Please disable swap or set kubelet's --fail-swap-on flag to false." ?

Did you disable swap or did you modified kubelet parameters ?

[2017-10-02 15:57] kad opened #53335 "kubeadm 1.8.0 can't upgrade v1.7.x to another 1.7.x"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**:
- install kubernetes 1.7.x (e.g. 1.7.3) cluster using kubeadm 1.7.x
- install kubeadm 1.8.0
- try "kubeadm upgrade apply v1.7.7"

you will get errors like below:
[code]

**What you expected to happen**:
upgrade should succeed without errors

**How to reproduce it (as minimally and precisely as possible)**:
- install k

[2017-10-02 15:57] kad commented on #53335
/assign kad

[2017-10-02 15:59] kad commented on #53335
/sig cluster-lifecycle

[2017-10-02 16:07] praparn commented on #53333
@kad we never diabel swap or mofitied kubelet. This vmguest is fresh install for initial this cluster specially. On practice i have been write some shell script for install on all node as attachment.

[initialsetup1.8.sh.zip](https://github.com/kubernetes/kubernetes/files/1349511/initialsetup1.8.sh.zip)

[2017-10-02 16:15] davidegrohmann commented on #51701
We do delete the whole cluster but after having deleted the services. We execute all commands sequentially.

I have managed to create a small enough script able to reproduce consistently the problem on GKE.
It would be great if could give it a try.

If you execute the following commands you should be able to reproduce the leaking of the target pool, the firewall rule and the health check.

./gclou

[2017-10-02 16:21] kad commented on #53335
Moved to kubeadm area: https://github.com/kubernetes/kubeadm/issues/475

[2017-10-02 16:21] #53335 closed

[2017-10-02 16:28] kad commented on #53333
@praparn As of release Kubernetes 1.8.0, kubelet will not work with enabled swap.

You have two choices: either disable swap or add to kubelet flag to continue working with enabled swap.
Something like this:
[code]

[2017-10-02 16:52] msau42 commented on #24317
Unfortunately, we don't have this support in GKE yet.

@ymsaout can you describe your use case?

[2017-10-02 17:15] bgrant0607 commented on #48361
+1 to @harmjanblok's request to dump the API spec

cc @kubernetes/sig-cli-bugs @kubernetes/sig-cli-feature-requests

[2017-10-02 17:16] ymsaout commented on #24317
Thank you, I just need to increase the number of PD per compute in GKE, ideally 64.

[2017-10-02 17:18] mikedanese commented on #53311
It scares me that we are relying on this hash to be secure. Dictionary attacks are not practical against actually random secrets e.g. a pkcs7 key. Adding a namespace or salt to the hash improves the security negligibly.

[2017-10-02 17:21] msau42 commented on #24317
Is it possible to use more smaller nodes in the meantime?

[2017-10-02 17:26] ymsaout commented on #24317
I can have 16 PD with Shared-core computes ?

There are other benefits tho have big compute for us...

[2017-10-02 17:34] msau42 commented on #24317
Yes, that's correct.  I just meant using smaller nodes as a workaround to save some compute costs if you would not be able to leverage the whole compute power due to the PD limit.  Do you have any reasons to still use bigger nodes right now with the PD limit?

[2017-10-02 17:39] ymsaout commented on #24317
Thank you, we may test this. Yes, eg monitoring costs (datadog, stackdriver...) and custom admin tools for computes...

[2017-10-02 17:48] enisoc commented on #51046
I don't think we'd want to do it for all Unstructured, since there's no guarantee all Unstructured objects are CRD objects. However, it should be pretty easy to arrange for ConvertFieldLabel to be a no-op for CRD objects, which makes sense currently because CRD only allows one version for a given resource.

We just need to make sure this will not prevent us from doing more with CRD versioning in t

[2017-10-02 17:49] cheftako commented on #52657
cc @jennybuckley

[2017-10-02 17:50] cheftako commented on #52657
We have reproduced the problem locally and we believe we have tracked down where the memory is accumulating. Now we are working on actually fixing it.

[2017-10-02 17:54] mikedanese opened #53341 "pkg/ depends on cmd/"
cmd/kubelet and cmd/kubeadm are both depended on in pkg/. pkg/ should not depend on cmd/

@kubernetes/sig-node-bugs
@kubernetes/sig-cluster-lifecycle-bugs

[2017-10-02 17:57] jpbetz commented on #51899
Any updates on this?

[2017-10-02 17:59] luxas commented on #53341
Yeah, I think I pointed this out in some PRs somewhere and asked for a bazel rule, but don't remember the exact context.

cc @ixdy @monopole @deads2k

[2017-10-02 18:04] wojtek-t commented on #51899
We already have a victim PR - the PR that is fixing that is #53233

[2017-10-02 18:08] ncdc commented on #53329
Would you say this is a dupe of #50787?

[2017-10-02 18:13] ncdc commented on #51046
@enisoc ok, I can put together a PR to make this change.

@deads2k @liggitt @sttts @nikhita any gut reactions?

[2017-10-02 18:18] msau42 commented on #50115
@wojtek-t looks like K8s node list approach won't work.  What do you think of the 1st idea to tag gce instances with the clusterID?

[2017-10-02 18:21] MrHohn commented on #51701
@davidegrohmann Thanks for preparing the scripts. It clarifies lots of information.

I was able to run the script and see the leaked resources. The conclusion I have is exactly that service controller itself terminates before it can take action on cleaning up the LB resources

The last command in the destroy script --- `gcloud --quiet deployment-manager deployments delete "${deployment}"` delete t

[2017-10-02 18:24] wojtek-t commented on #50115
This is a bigger effort, but I'm fine with that.

[2017-10-02 18:25] vishh opened #53342 "Opaque integer resources will get deleted by kubelet in v1.8"
The introduction of device plugin support in kubelet ended up deleting Opaque Integer Resources that are not exposed via device plugins.
Relevant code [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L616).

Two things need to happen now in v1.8:
1. Add a test to catch this regression
2. Have kubelet not delete extended resources.

Cluster admins will

[2017-10-02 18:27] MrHohn commented on #51701
Xref relevant discussions: https://github.com/kubernetes/kubernetes/issues/32157

[2017-10-02 18:27] quinton-hoole commented on #52341
cc @shashidharatd @irfanurrehman

[2017-10-02 18:28] vishh commented on #53342
FYI: OIR is an alpha feature

[2017-10-02 18:28] vishh commented on #53342
@ConnorDoyle

[2017-10-02 18:29] cblecker commented on #53305
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-10-02 18:29] #53305 closed

[2017-10-02 18:29] MrHohn commented on #32157
Is the cluster deletion case being considered here? What is the right signal for user to know all the LB resources have been cleaned up?

Ref: https://github.com/kubernetes/kubernetes/issues/51701

[2017-10-02 18:37] bchav commented on #52173
@micahhausler Brandon with AWS here. Anything we can do to help?

[2017-10-02 18:38] cjwagner commented on #53255
[Here](https://github.com/kubernetes/test-infra/tree/master/testgrid/config#email-alerts) is an explanation of how you can enable testgrid email alerts.

[2017-10-02 18:40] micahhausler commented on #52173
Hi @bchav, hoping to push up a branch today or tomorrow. I'd love high-level feedback (its not compiling yet, but more just around organization) I'll ping you when I've pushed it up

[2017-10-02 19:18] mikedanese commented on #53311
Database passwords might be dictionary attackable

[2017-10-02 19:18] mikedanese commented on #53311
@kubernetes/sig-auth-feature-requests @gcastle

[2017-10-02 19:27] jiayingz commented on #53342
For 1.8, because we plan to have kubelet not delete extended resources in any cases, we also need to remove the logic of testing device plugin resource removal after device plugin DaemonSet is deleted in the Feature:GPUDevicePlugin e2e test. We will file a separate issue to track better handling on this.

[2017-10-02 19:34] nikhiljindal commented on #32157
Thats the problem this issue proposes to solve. There is no signal for the user today to know that corresponding LB resources have been cleaned up.

Cluster deletion case can be solved as well, as long as the cluster deletion script waits for the existing resources (services, namespaces, etc) to be deleted.

[2017-10-02 19:36] shyamjvs commented on #53255
@kargakis @cjwagner The issue here is not about getting alerts/notifications - we usually know when the tests start failing, especially because they're part of release-blocking suite. The real problem arises due to not blocking on those failures - as that allows for multiple regressions piling up on top of each other making debugging a nightmare, especially for such long-running tests (like we saw

[2017-10-02 19:37] mbohlool commented on #44927
We think this is not api-machinery. Please set the label back if you think otherwise.

[2017-10-02 19:39] mbohlool commented on #44820
Writing directly to etcd is not a good idea. I am going to close this. If you have a design for this, please share the it and re-open the issue.

[2017-10-02 19:39] #44820 closed

[2017-10-02 19:39] ixdy commented on #53341
https://github.com/kubernetes/community/pull/598

Not a lot has changed recently.

[2017-10-02 19:41] mbohlool commented on #44812
This does seem like a feature request for kubectl. If it needs a feature from server, please file a separate issue.

[2017-10-02 19:47] ConnorDoyle commented on #53342
/sig node

[2017-10-02 19:48] mbohlool commented on #44557
/cc @mml

[2017-10-02 19:49] mbohlool commented on #44556
/cc @cheftako

[2017-10-02 19:50] ncdc commented on #51046
PR: #53345

[2017-10-02 19:51] ConnorDoyle commented on #53342
It looks like the linked code makes an assumption that device resources and extended resources are in 1:1 correspondence, but that wasn't the intent for extended resources. So, this problem applies not only to opaque integer resources. @vishh can we update the issue title?

[2017-10-02 19:52] kargakis commented on #53255
I am not against blocking on postsubmits but we need community buy-in. Bring it up in the sig-testing call tomorrow?

[2017-10-02 19:54] mml commented on #44557
@ncdc is this substantially different than #48638?  Can this be closed?

[2017-10-02 19:56] mbohlool commented on #44539
Look like this is not api-machinery but we also don't think this is a bug. generatedName is a hint for creating the object. After the object is created, name is the source of the truth.

[2017-10-02 19:56] ncdc commented on #44557
It's the same. 48638 should have been closed as a dupe of this.

[2017-10-02 19:56] #44557 closed

[2017-10-02 20:00] stevekuznetsov commented on #53255
@shyamjvs I believe in the past the benefit of blocking for N people that can actively work on fixing something was strongly outweighed by the detriment of blocking the queue for N*M others that were not affected by the issue, not able to fix it, etc. @smarterclayton can probably expand on that more. It seems like the entire k8s dev community needs to be on board for such a large change.

[2017-10-02 20:07] shyamjvs commented on #53255
Discussion in sig-testing sounds good. Let's talk about this further tomorrow.

[2017-10-02 20:38] radeksimko commented on #44539
@mbohlool I would disagree. As I mentioned above all other resources do persist this field, so either these are buggy or resource quota is. It's certainly not consistent, hence I believe it's a bug.

Do you mind reopening this issue, please?

[2017-10-02 21:04] tallclair commented on #53006
The default is slightly less important here since audit logging as a whole is not enabled by default. If we do turn it on by default, it becomes more important.

That said, my hunch is that we should default to the mode with lower performance impact, but I don't have strong feelings either way.

[2017-10-02 21:05] BenTheElder commented on #40161
I just found this, there is tentative docker tooling in [`test-infra/planter`](https://github.com/kubernetes/test-infra/tree/master/planter), but hopefully we can get cross builds working without that.

[2017-10-02 21:08] valentin2105 commented on #53246
Hi @jsafrane , Yep, I use systemd units.
Do 1.8.1 will got the PR on it ?

Thanks, I will deal with that in 1.7 and wait to upgrade in 1.8 ;)

[2017-10-02 21:08] mbohlool commented on #44539
OK. I can re-open the issue. But this is not api-machinery for sure. We do not control the content of the API. Please find the right sig to take care of this.

[2017-10-02 21:17] #43605 closed

[2017-10-02 21:25] jiayingz commented on #53342
@ConnorDoyle Other than OIR, what other resource scheduling do you think this regression might also affect?

I think the problem right now is that we can't distinguish device plugin resources from resource naming convention. This makes resource deletion harder as we will need some explicit mechanism to track and mark resource deletion. Also curious about the intention of the extended resources. Ot

[2017-10-02 21:31] 2rs2ts opened #53347 "CronJob jobs should be named after their job spec, not the cronjob"
/kind feature

Example cronjob:

[code]

Note that I named the CronJob "mycronjob-foo" and I named the job "mycronjob-bar" in the spec.

Here's what this produces:

[code]

I would expect the job to be named `mycronjob-bar-1506978900` instead, since I went out of my way to name the job spec as such.

I almost filed this as a bug but it seems that the naming behavior isn't explicitly documented any

[2017-10-02 21:41] 2rs2ts commented on #53347
@kubernetes/sig-api-machinery-feature-requests

[2017-10-02 21:59] F21 opened #53348 "Support revocations for certificates signed by Kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

There is the ability to sign certificates using Kubernetes since 1.7.0: https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/

It would be nice if there is a mechanism to revoke a given certificate if we no longer need it.

[2017-10-02 22:02] F21 commented on #53348
@kubernetes/sig-auth

[2017-10-02 22:05] F21 commented on #53348
/sig auth

[2017-10-02 22:08] mjlodge commented on #43045
Is there a new link for that doc? It's a 404 right now.

[2017-10-02 22:10] apelisse opened #53349 "in-cluster kubectl can't get nonResource URL in `local-cluster-up`"
**Is this a BUG REPORT or FEATURE REQUEST?**: I think it's a bug, but I'm not sure.

/kind bug

**What happened**:
Related to test failure of #53232
In-cluster kubectl can't get `/swagger-2.0.0.pb-v1` file with following error (permission errors).
[code]

**What you expected to happen**:
`200` :-)

**How to reproduce it (as minimally and precisely as possible)**:
[code]

`kubectl apply` will fetch

[2017-10-02 22:12] blakebarnett commented on #43600
@wojtek-t which etcd image version would I use to test this out?

[2017-10-02 22:13] apelisse commented on #53349
/sig auth

[2017-10-02 22:13] champtar commented on #30189
Thanks for the update @wojtek-t
The periodic sync does work, I was just looking for instant sync without doing the watch myself in the container (using kubernetes API)
What tickets should I watch for bulk-watch feature?

[2017-10-02 22:32] jingxu97 commented on #43045
is it this one?
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/node-allocatable.md

[2017-10-02 23:14] mikedanese commented on #52184
@kubernetes/sig-auth-misc

[2017-10-02 23:15] cjcullen commented on #52184
@destijl

[2017-10-02 23:28] cjcullen commented on #53349
We have the `system:discovery` role that we use to grant anonymous access to discovery nonResourceURLs:
[code]

I'm guessing the other swagger URLs should also be added to that role? @liggitt?

[2017-10-02 23:31] liggitt commented on #53349
The swagger urls should be standardized and cleaned up before we expose them. The current pattern is nonstandard and not sustainable.

[2017-10-02 23:38] apelisse commented on #53349
@mbohlool has a proposal for that, but I don't think that's going to come out soon. I don't think it should block the removal of swagger 1.2 though ...

Can we hard-code the name for now?
[code]

[2017-10-02 23:43] mbohlool commented on #53349
yeah, I think we should hard code names here and patch this into 1.8 so kubectl works. We should clean this up for 1.9 but for 1.8, kubectl (and other clients in need of discovery) should have access to them.

[code]

[2017-10-02 23:48] apelisse commented on #53349
It's only for in-cluster `kubectl`, and it automatically falls back on swagger 1.2 for kubectl 1.8, so it don't think it matters.

[2017-10-02 23:49] cjcullen commented on #53349
I think hardcoding the names should be okay. RBAC bootstrap roles are additive only, so clusters will have those names in their `system:discovery` role forever. I don't think that is a problem though, other than the cruft.

[2017-10-02 23:50] marun commented on #32338
I think https://github.com/kubernetes/kubernetes/pull/41581 resolved this issue.

Associated doc change: https://github.com/kubernetes/community/pull/375

[2017-10-02 23:50] liggitt commented on #53349
I don't want to encourage use of endpoints we already plan to deprecate

[2017-10-02 23:51] liggitt commented on #53349
`/swagger.json` seems fine

[2017-10-02 23:57] #48985 closed

[2017-10-02 23:59] mbohlool commented on #53349
For kubectl backward compatibility we need to at least have access to `/swagger-2.0.0.pb-v1`. kubectl 1.9 should work with in-cluster 1.8. Because other tools may have the same issue as kubectl and may use any of those endpoints, we need to add those too. This is only for 1.8 cluster (what we are going to patch into 1.8) and for 1.9 we would remove all of them and add one endpoint.

[2017-10-03 00:05] jingxu97 commented on #24317
Currently since we only have limits for GCE and Azure, I found one quick solution for this problem is to change PodFitsResources() https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go

From the table https://cloud.google.com/compute/docs/machine-types, the number is directly related to machine type which is labled in the node spec. So we can

[2017-10-03 00:24] mbohlool commented on #53349
Actually we can't remove those endpoints in 1.9 even if we added the new endpoints. The promise of kubectl is it will work with one version before and one version after so if we want kubectl to work in-cluster 1.9, we need to keep these endpoints (and all them to the role above) for 1.9 too. The question here is not about encouraging use of those endpoints. The endpoints are there and borken in-cl

[2017-10-03 00:25] liggitt commented on #53349
I don't think that's accurate. No cluster with authorization enabled has allowed those endpoints, and kubectl 1.8 must deal with lack of access to that URL for backwards compatibility.

Like I said, we shouldn't promote use of endpoints we plan to deprecate

[2017-10-03 00:26] liggitt commented on #53349
Permissions never tighten, they only expand.

[2017-10-03 00:30] mbohlool commented on #53349
Kubectl 1.8 will fall back to swagger 1.2. But we want to remove swagger 1.2 from kubectl 1.9.

If we do not add auth in 1.8 branch to let kubectl access those endpoints in-cluster for 1.8, then kubectl 1.9 will not work within cluster 1.8 (as it won't have anything to fall back to).

For 1.9, I was wrong. Kubectl 1.8 will work within cluster 1.9 because it will fall back to swagger 1.2 that is st

[2017-10-03 00:33] mbohlool commented on #53349
Those endpoints are not deprecated in 1.8 so we should have auth to access them in cluster. If (and we should) deprecate them in 1.9, I am fine with not having auth to access them in cluster, though I am not sure why as they are going to be removed in 1.10 anyway.

[2017-10-03 00:35] mbohlool commented on #53349
Oh I see your point. then permission should be in 1.8 (because of the kubectl compatibility I argued in https://github.com/kubernetes/kubernetes/issues/53349#issuecomment-333703750) and hence it should remains in 1.9.

[2017-10-03 00:37] liggitt commented on #53349
I'd recommend updating 1.8.x to allow `/swagger.json` and to have `kubectl` use that path, since it's the only one of the current endpoints considered a standard path. IIRC, you verified that gzip and etag work properly on that endpoint, so the slight size difference between gzipped json and proto isn't worth the use of non-standard paths.

[2017-10-03 00:51] jiayingz opened #53354 "The gpu_device_plugin.go e2e_node test is flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release): COS
- Kernel (e.g. `uname -a`):
- Ins

[2017-10-03 00:52] jiayingz commented on #53354
/sig node
/priority important-soon

[2017-10-03 01:00] itowlson commented on #53274
To clarify the requirement: this is in the scenario where a service is of type LoadBalancer, _and_ the `loadBalancerIP` has been set in the service spec.  Per the "Special notes for Azure" at https://kubernetes.io/docs/concepts/services-networking/service/#type-loadbalancer, we would still expect the IP address to be given as an IP address, _not_ a resource ID, and the user must still create the s

[2017-10-03 01:02] liggitt commented on #53349
For reference, for those concerned with size:

[code]

[2017-10-03 01:20] smarterclayton commented on #44539
Quota is split between sig-node and sig-api-machinery and sig-scheduling.
I don't really care who fixes it, but it's definitely inconsistent for it
to be persisted differently.

On Mon, Oct 2, 2017 at 5:09 PM, Mehdy Bohlool <notifications@github.com>
wrote:

[2017-10-03 01:35] wjrogers opened #53356 "kubeadm 1.8.0 init fails with "/var/lib/kubelet is not empty""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
On a fresh Ubuntu 16.04.3 system booted from the official cloud image, `kubeadm init` fails because `/var/lib/kubelet` exists.
[code]

**What you expected to happen**:
kubeadm successfully initializes the cluster

**How to reproduce it (as minimally and precisely as possible)**:
1. Boot a new VM from the latest [Ubuntu Cl

[2017-10-03 01:35] tallclair opened #53357 "PersistentVolumeController should not hardcode recycler image"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The recycler pod image used by the NFS & HostPath persistent volume plugins is hardcoded to `gcr.io/google_containers/busybox`, here:
https://github.com/kubernetes/kubernetes/blob/080db40539b78a1c7a55912d5eab09a361ccf2fb/pkg/volume/plugins.go#L716

There are several problems with this approach:

1. No way to run a deployme

[2017-10-03 01:44] ryanwilliamnicholls commented on #53333
I am having this same issue with swap disabled beforehand. It appears that the api server is never started, so all the calls to it fail.

[2017-10-03 01:52] peterwillcn opened #53358 "1.7.6 upgrade 1.8.0 can't get node"
1.7.6 upgrade 1.8.0 can't get node
[code]

kubelet.service
[code]

[code]

docker version
[code]

**Environment**:
- Kubernetes version : GitVersion:"v1.8.0"
- Cloud provider or hardware : local kvm
- OS : centos 7.4
- Kernel : 3.10.0-693.2.2.el7.x86_64
- Install tools: ansible
- Others:

[2017-10-03 01:56] msau42 commented on #53357
Recycler is deprecated, so this code should be eventually removed.

[2017-10-03 01:59] liggitt commented on #53349
So it appears that https://github.com/kubernetes/kubernetes/pull/46803 changed client-go to request this endpoint as well. That's unfortunate.

I opened https://github.com/kubernetes/kubernetes/pull/53359 with the minimal exposure required to satisfy client-go 4.0/5.0.

The other two endpoints don't need to be exposed:
* `/swagger-2.0.0.json` is just a non-standard form of `/swagger.json` we don't

[2017-10-03 02:00] msau42 opened #53360 "Update the volume e2e test images"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage
/cc @kubernetes/sig-storage-bugs

**What happened**:
We should update all the test server packages that we use for nfs, ceph, gluster, etc e2e tests since they are quite old, and users probably will probably use newer packages.

[2017-10-03 02:01] smarterclayton opened #53361 "With watch cache disabled against etcd 3.1.x, some LIST calls timeout after 60s"
When the watch cache is disabled, large number of watches against etcd 3.1.x appear to cause hangs on unrelated LIST calls.  The issue was first observed in OpenShift 3.6 in very large and dense clusters where tests were being conducted for disabling the watch cache to reduce memory usage (https://bugzilla.redhat.com/show_bug.cgi?id=1489535).  I was able to observe it in a kube e2e test when I was

[2017-10-03 02:02] peterwillcn commented on #53358
/kind bug

[2017-10-03 03:01] apelisse commented on #53349
You're counting the number of `0x0A` in a binary file with `wc -l` 😄 . But the point is still valid, gzipping text is much more efficient than gzipping binary (I've tried that earlier too).
The problem with gzipped json is parse time. Json is much slower to parse than protobuf.

Yes, let's absolutely do that.

Once #53359 is merged, all of this should be fixed right? Thank you very much @liggitt

[2017-10-03 03:20] liggitt commented on #53349
ah, right

[code]

This is a symptom of requiring kubectl to parse a document containing the complete schema for every resource in every version in every API group in order to access any discovery information. That's a fundamental issue with the monolithic openapi doc approach we're taking (c.f. https://github.com/kubernetes/kubectl/issues/66#issuecomment-333600690). Trying to work around that iss

[2017-10-03 04:07] #50716 closed

[2017-10-03 04:24] tcharding commented on #50292
[Response](https://github.com/russross/blackfriday/issues/395) from a dev at `blackfriday` says upgrading to `v2` may resolve this. Our current vendor-ed version of `blackfriday` is **very** out of date.  The upgrade is non-trivial, `Renderer` type has totally changed so the custom `ASCIIRenderer` will have to be totally re-written to move to `v2` of `blackfriday`. There are other vendor-ed librar

[2017-10-03 04:25] tcharding commented on #50292
Accidental close of issue, re-opened.

[2017-10-03 04:37] ConnorDoyle commented on #53342
The release notes specify that extended resources are the replacement for OIR, so it would also affect users who try to migrate to extended resources.

The intention of Extended Resources is that some of them may have node isolation support, but not all are expected to. Extended resources with no node isolation support are equivalent to OIRs, which allowed us to deprecate OIRs.

The scheduler hand

[2017-10-03 04:40] rbtcollins opened #53362 "inconsistency field exposure - spec.nodeName and status.hostIP"
**What happened**:

using fieldRefs to deploy containers like so:
[code]
we wanted to use status.hostIP, but that isn't exposed:
```Invalid value: "status.hostIP": error converting fieldPath: field label not supported: status.hostIP```

**What you expected to happen**:

hostIP should be supported too.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2017-10-03 04:42] hanks commented on #53309
also hit this, now use `kubectl create/replace/apply --validate=false` to work around

[2017-10-03 04:43] #53349 closed

[2017-10-03 04:50] ConnorDoyle commented on #51368
These tests have been disabled in master since #51417

/close

[2017-10-03 04:50] #51368 closed

[2017-10-03 04:52] ConnorDoyle commented on #18438
/unassign

[2017-10-03 05:06] lichuqiang commented on #53342
How about defining a separate prefix for device plugin resources, instead of using that of extended resources(OIR) ?

[2017-10-03 05:26] bgrant0607 commented on #52098
I agree that this shouldn't be a conformance test. It can, however, be a regular e2e test.

cc @kubernetes/sig-architecture-feature-requests

[2017-10-03 05:43] AnilPaladugu commented on #53117
@cmluciano Thanks for your reply .

i just followed kubernetes documentation and this is link https://lukemarsden.github.io/docs/getting-started-guides/kubeadm/..

[2017-10-03 05:47] kad commented on #53333
What does journalctl shows for kubelet ?
Can you also show output of `env | grep -i proxy`

[2017-10-03 06:06] surajssd commented on #53309
I downloaded `kubectl` version v1.7.7  even that helps!

[2017-10-03 06:06] sbuliarca opened #53367 "AWS: Tagging the security group of ELB created for LoadBalancer or Ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
@kubernetes/sig-aws-feature-requests
/sig aws

**What happened**:
In k8s 1.7, when creating a service of type LoadBalancer, K8S creates the ELB and a Security Group for it. For these resources, it adds a tag, constructed dynamically, containing the cluster id: "kubernetes.io/cluster/${cluster_id}" with the value "true"

**What you expect

[2017-10-03 06:07] liggitt commented on #53356
This is related to the location where the kubelet persists its certificates:
* the kubeadm 1.8.0-0 package accidentally used a location that is [erased on reboot](https://github.com/kubernetes/kubernetes/issues/53288)
* the kubeadm 1.8.0-1 package corrected that to use [an appropriate location for the certificates](https://github.com/kubernetes/release/pull/426), but starting the kubelet before ru

[2017-10-03 06:07] liggitt commented on #53356
cc @kubernetes/sig-cluster-lifecycle-bugs @luxas

[2017-10-03 06:08] jiayingz commented on #53342
Thanks a lot for the explanation, @ConnorDoyle. I didn't realize that we have already updated the document to mark OIR as replaced by extended resources. Once OIR is fully deprecated, we will only have first-class resources and extended resources. If I understand correctly, first-class resources are those that Kubernetes will provide native support and so they are in the default kuberenetes namesp

[2017-10-03 06:14] deitch commented on #53309
I think it is asking for trouble. I don't mind using it in minikube, but no way I am doing that with a more-important cluster.

In any case, this really shouldn't fail.

[2017-10-03 06:18] sbuliarca commented on #53367
@kubernetes/sig-aws

[2017-10-03 06:22] PbTG commented on #52980
From what I have understood, this might be related to [kubeadm/issues/425](https://github.com/kubernetes/kubeadm/issues/425). If you go to that issue you'll find a temporal FIX until [kubernetes/pr/52376](https://github.com/kubernetes/kubernetes/pull/52376) is applied on GKE.

[2017-10-03 06:32] FlorianOnmyown commented on #43834
From what I can see, this issue is now solved.

[2017-10-03 06:49] liggitt commented on #53320
Actually, the config commands intentionally only modify local state and do not make server calls. Checking for namespace existence could be part of a `use namespace` command

[2017-10-03 06:51] dixudx commented on #53362
@rbtcollins Already had a PR #50235 related to this.

/kind bug
/sig api-machinery

Also this issue seems like a dup of #50234. We should close this one, right?

[2017-10-03 06:56] surajssd commented on #53356
@wjrogers I did `kubeadm reset && kubeadm init` it worked for me!

[2017-10-03 07:10] surajssd opened #53370 "`kubectl logs` panics when container has `allowPrivilegeEscalation: false`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

For a pod that has process erroring out, when checking for logs, kubectl panics.

**What you expected to happen**:

I expected it to show logs

**How to reproduce it (as minimally and precisely as possible)**:

[code]

using this config

[code]

[code]

But if I run a normal(non-failing) pod it works fine

[code]

**Anyt

[2017-10-03 07:11] surajssd commented on #53370
/sig cli

[2017-10-03 07:15] wojtek-t commented on #43600
gcr.io/google_containers/etcd-amd64:3.0.17-ha.alpha.1

[2017-10-03 07:27] rbtcollins commented on #53362
@dixudx no - #50235 and #50234 are about giving better errors. This bug is that there is no reason to have nodeName exposed but hostIP not exposed.

[2017-10-03 07:30] dixudx commented on #53362
@rbtcollins Has been fixed in [#50235 v1/strategy.go#L47](https://github.com/dixudx/kubernetes/blob/472355c2e5e2b7355a2567bfc71f8e1c0bdb1cc0/pkg/api/v1/strategy.go#L47). PTAL.

[2017-10-03 07:47] RenaudWasTaken commented on #53342
@vishh @jiayingz are we only trying to have kubelet not delete Opaque Integers ?

In that case, I'm wondering if the following solution might be cleaner:
- code on [line 613](https://github.com/kubernetes/kubernetes/blob/aa7d9b1da9ff82289568b2ee350721860c6e5bfa/pkg/kubelet/kubelet_node_status.go#L613) is the line that checks if the resource name is extended
- What if we checked if it's not an OIR

[2017-10-03 08:12] yujuhong commented on #53341
/cc @mtaufen

[2017-10-03 08:42] r0bj opened #53373 "kubelet 1.8.0: Error: UnmountVolume.TearDown failed for local volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:

Pod cannot be terminated because local volume with token cannot be unmounted.

**What you expected to happen**:

Pod is terminated correctly.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
[code]
kubelet log:
[code]
More kubelet logs:
https://gist.github.com/r0bj/2c7b4809a0a75c99f91

[2017-10-03 08:44] r0bj commented on #53373
/sig node

[2017-10-03 09:01] manuperera commented on #52096
@MrHohn, I have tried with the possible solution that you indicate in issue #734 (https://github.com/coreos/flannel/blob/master/network/ipmasq.go#L36), but it doesn't work in my environment.

Can someone help me to solve this situation.

[2017-10-03 09:02] surajssd commented on #53370
Update:

This file seems to be working fine!
[code]

[2017-10-03 09:06] surajssd commented on #53370
Update:

This file manifest fails with panic again:

[code]

[2017-10-03 09:08] surajssd commented on #53370
Update:

[code]

Also works fine!

It only fails when `allowPrivilegeEscalation: false` is set to false!

[2017-10-03 09:54] gmarek commented on #46503
Yeah - pretty much all best practices I know of say to pass context in such cases.

@mbohlool - are you convinced?

[2017-10-03 10:11] gmarek commented on #53255
@stevekuznetsov - to be fair, k8s dev community was NOT on board with disabling post submit tests. We literally said that if we do that the thing that happened in 1.8 will happen for reasons already posted by @shyamjvs.

The question we need to answer is are we really willing to pay with system reliability for the *perceived* slowdown of development - no one is preventing anyone from working on fi

[2017-10-03 10:15] gnanasekar6914 commented on #24677
Wow thanks for the information. I was looking for long time for this answer in [Splunk Administration](https://mindmajix.com/splunk-administration-training) and i need some information about this.

[2017-10-03 10:15] chrissound commented on #49753
Would this apply to Google GCP as well?

[2017-10-03 10:26] wojtek-t commented on #50916
The easiest way I know is to look into apiserver logs around that time and see if there is list API call coming from scheduler.

I looked into those and in both cases I'm seeing this at the beginning:

[code]

I'm really wondering why there are so many watch events (pods) delievered initially. We should be doing "LIST+WATCH" (right after acquiring lock), and there shouldn't be many watch events.

[2017-10-03 11:07] RRAlex commented on #11751
Just for the record, 1.7.6 & 1.7.7 have not been pushed, while 1.8.0 was.

[2017-10-03 11:20] unixwitch opened #53379 "kubectl apply fails with CRD"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

CRD:

[code]

Existing object:

[code]

New object:

[code]

`kubectl apply` says:

[code]

If this is a problem with the new object definition rather than a bug with `kubectl apply`, I'd expect a better error message.  (The new object looks fine to me, though; it should be identical to the old object.)

**What you expec

[2017-10-03 11:23] unixwitch commented on #53379
/sig api-machinery

[2017-10-03 11:42] cmoulliard commented on #41193
What is the status about this change ?

[2017-10-03 11:57] piosz commented on #47334
@praparn could you please create a new issue, providing logs from HPA controller and Heapster there, as well any relevant informations for debugging purposes and ccing me?

[2017-10-03 12:13] pmichali commented on #53329
From what I can tell, the default creation logic will set conntrack max per core to 32K, if both conntrack max and conntrack max per core are zero. I don't see where the incoming values come from (not the CLI), so they would be zero and default logic will set max per core, AFAICT.

Later during init processing, a config file is loaded (which has no conntrack settings), and the defaults are used.

[2017-10-03 12:15] #53270 closed

[2017-10-03 12:21] rootfs commented on #53360
||[client version in e2e host](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/e2e/init.sls)   |  [test image server version](https://github.com/kubernetes/kubernetes/tree/master/test/images/volumes-tester) |Image|Latest (stable) server version|
|---|---|---|---|---|
|  Ceph |  ? |0.94.5   |gcr.io/google_containers/volume-ceph:0.1|12.2.1|
| Gluster   | ?  |   3.8.8|gcr.i

[2017-10-03 12:21] pmichali commented on #53329
Ideally, fixing #25543 would allow settings to be properly applied (systems with large conntrack max, would get their hashsize increased), and then the only issue would be handling the claim that one can set values to zero to leave them alone (maybe just remove that clause) and the acceptance of CLI values.

As it stands now though, because of #25543 we cannot change hashsize, and because CLI args

[2017-10-03 13:25] mattfarina commented on #53201
Is the ask here to just support `:` or all characters allowed in Windows Environment Variables?

I ask because if I read the docs right I can do...

[code]

[2017-10-03 13:27] liggitt commented on #53356
On a known clean environment, that's an ok workaround for the moment, but the reason `kubeadm init` checks for existing files/folders is to avoid stomping an existing installation, and running `kubeadm reset` would negate those checks.

[2017-10-03 13:31] shyamjvs commented on #53327
Ok.. So here's what I found out from the live cluster:

- Few namespaces are in terminating state forever during the test's deletion phase and then the job eventually is timing out.
- Those namespaces are in that state because they have some density test pod that is in terminating state forever:

[code]

- Looking at one such pod, I found that the pod deletion timestamp had been marked and termina

[2017-10-03 13:32] floreks opened #53382 "Init container not finished properly when resource limits too low"
**Is this a BUG REPORT or FEATURE REQUEST?**: Possibly a bug

/kind bug

We are using init container in order to generate self-signed certificate and create secret resource that will be used to store them. It is then shared with actual container that uses these certificates to start Dashboard. We've encountered this issue during #53046 PR.

**How to reproduce it (as minimally and precisely as poss

[2017-10-03 13:34] jpetazzo commented on #53356
(If you wonder why the deployment scripts that you wrote _yesterday_ stopped working this morning – this is why! :-))

For the time being, I'm going to check if `/etc/kubernetes/admin.conf` exists (since it's created by `kubeadm init`) and if it doesn't, then I'll wipe `/var/lib/kubelet/pki`; but I'd love to know if there are foreseeable pitfalls in this approach.

Thanks! <3

[2017-10-03 13:37] floreks commented on #53382
I'm not quite sure to which group this issue belongs.

@kubernetes/sig-cluster-lifecycle-bugs
@kubernetes/sig-cli-bugs

[2017-10-03 13:40] gmarek commented on #53327
I think it's a desired behavior if Kubelet is unresponsive. We stopped issuing 'hard deletes' from the control place because stateful sets @smarterclayton. Now control plane always only marks Pod for deletion and waits for kubelet to clean up resources and ack the delete sending the second delete request.

[2017-10-03 13:40] shyamjvs commented on #53327
fyi - The corresponding hollow-kubelet was alive when I checked.

[2017-10-03 13:45] gmarek commented on #53327
Then we need logs and involve @dchen1107, @yujuhong or someone else from the Node team.

[2017-10-03 13:49] shyamjvs commented on #53327
Let me turn on hollow-node logs for 5k with --v=2 for kubelet (would that be sufficient @yujuhong?)

[2017-10-03 13:49] gmarek commented on #53327
My guess is that it's hard to tell up front;) Certainly won't hurt to have more logs.

[2017-10-03 13:53] ncdc commented on #53329
@pmichali would you mind copying your comments over to #50787? I'd like to close this issue as a duplicate. Thanks!

[2017-10-03 13:53] ncdc commented on #50787
@thockin do we need to remove the defaulting for conntrack settings?

[2017-10-03 13:53] MortenChristiansen commented on #53201
For my specific use case I need `:`. However, my opinion is that Kubernetes should not in any way limit which environment variable names you can use, since it cannot know what an application might need. Since  people cannot always choose their own variable names, it can be blocking for Kubernetes adoption. Whether I hit a new character I need "unlocked" tomorrow I do not know, but today the `:` wi

[2017-10-03 13:55] wojtek-t commented on #53327
Are we sure that nodes are not cpu-starved? I think we've seen something like that in the past in such scenario.

[2017-10-03 14:01] liggitt commented on #53356
apologies for the churn. we traded a [data loss issue on reboot](https://github.com/kubernetes/kubernetes/issues/53288) for this false-positive fail safe issue. working with @kubernetes/sig-cluster-lifecycle-bugs to determine the best way to resolve this.

[2017-10-03 14:10] jpetazzo commented on #53356
No worries, and thanks for the super-quick turnaround time. Much appreciated!
(I didn't mean to sound snarky or anything; sorry if that how it came out!)

[2017-10-03 14:12] julia-stripe commented on #50916
Here are all the API requests to `/api/v1/pods` from the scheduler for 10 minutes before a few crashes.

**crash #1: time: 21:11:04.000**

**API server audit logs**: (the results of `sourcetype=kube-apiserver-audit method=GET uri=/api/v1/pods* NOT spec.nodeName NOT kube-state-metrics`)

[code]

**crash #1: time: 15:02:43.591276**

**API server audit logs**: (the results of `sourcetype=kube-apiserv

[2017-10-03 14:19] praparn commented on #53333
@kad Thanks so much for solution. Let's me try and will feed back as soon as do this krab

[2017-10-03 14:21] wojtek-t commented on #50916
All of those has "?watch=true" bit, so those weren't relists.

BTW - it's strange because the times are completely different here and in the previous file (11:31 and 16:26 vs 21:0* and 14:5*), so I guess those are different crashes.

But this clearly shows that there weren't any relists.

[2017-10-03 14:24] x13n commented on #50599
Tested on 1000 node cluster. Coefficients above don't seem to be enough. Works with the following though:
      --cpu=100m
      --extra-cpu=0.7m
      --memory=175Mi
      --extra-memory=6Mi

With default recommendation offset of 10% this results in:

730m
5575Mi

for 1k nodes, which both works & is pretty close to the previous values. I will update this PR with those values.

[2017-10-03 14:25] julia-stripe commented on #50916
Relists look like this right? `GET /api/v1/pods?fieldSelector=status.phase%21%3DFailed%2Cstatus.phase%21%3DSucceeded&resourceVersion=0`. There's always one of those right **after** a crash which makes sense because the scheduler needs to reload everything from scratch, but not otherwise. I can explain all of the relists I see by either the scheduler starting or the controller manager starting.

[2017-10-03 14:26] shyamjvs commented on #53327
I'm seeing the following [logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/652/artifacts/kubemark-5000-minion-group-lvm2/kubelet.log) throughout the test from real kubelet:

[code]

The hollow-kubelet resource usages are not directly available from the logs, but took a look from the live cluster now and seems normal so far (I'll look again while deletio

[2017-10-03 14:27] smarterclayton commented on #44812
The API server would potentially need to support multiple streams of logs coming back from a pod, depending on the implementation.

[2017-10-03 14:30] soltysh commented on #47538
So just to let everyone interested know. We've talked with @erhudy about it on slack. My most important suggestion is that this will be a sub-resource on a cronjob (invoke, instantiate or something like that), similar to how you get logs from a pod. This way it'll be accessible to CLI and other consumers of our API. He will be working on updating the [cronjob proposal](https://github.com/kubernete

[2017-10-03 14:33] wojtek-t commented on #50916
OK - so my hypothesis with relists and some bug in the code around that isn't a valid one.

In my opinion there are two possible hypothesis now:
- there is some interaction between those two schedulers that you have
- there is a bug in our retrying code (if pod can't be scheduled initially, or its scheduling fails because of some reason)

I bet on the second to be honest...

[2017-10-03 14:33] liggitt commented on #53370
/sig auth

@jessfraz do you know if the process used to obtain logs within a container requires privilege escalation, or if that can be adapted to still work with that constraint on a container?

[2017-10-03 14:37] liggitt commented on #53370
cc @kubernetes/sig-node-bugs
question on runc/libcontainer requiring privilege escalation to get logs from a pod

[2017-10-03 14:38] julia-stripe commented on #50916
the 2nd scheduler hasn't printed any log lines at all for the last 3 weeks (with `--v=4`) so I don't believe it's doing anything.

[2017-10-03 14:44] vglisin commented on #53356
This guys are posting new versions without properly testing it. Can you imagine brand new centos 7 installation and then getting: "kubeadm 1.8.0 init fails with "/var/lib/kubelet is not empty"
how disgusting that was and what I was thinking about responsibility and professionalism here?

[2017-10-03 14:45] leblancd opened #53383 "e2e tests need a ping6 test for IPv6-only clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
e2e tests provide only an (IPv4) ping test for external connectivity.

**What you expected to happen**:
Need a way to conditionally run a ping6 external connectivity check, and disable the (IPv4) external connectivity check, for IPv6-only clusters.
**How to reproduce it (as minimally and precisely as possible)**:
Exam

[2017-10-03 14:49] vglisin commented on #53356
It is even getting better: The HTTP call equal to 'curl -sSL http://localhost:10255/healthz' failed with error: Get http://localhost:10255/healthz: dial tcp [::1]:10255: getsockopt: connection refused
you should remove 1.8 and put it do "back to the drawing board" stadium.
It is useless even to test this 1.8

[2017-10-03 14:50] liggitt commented on #53356
I apologize for the issue. Our top priority was to prevent data loss and issues upgrading existing installations that would disrupt already-running workloads. We are working now to resolve this issue with fresh installations.

[2017-10-03 14:50] leblancd commented on #53383
/sig network

[2017-10-03 14:50] vglisin commented on #53356
Wish you luck.

[2017-10-03 14:51] x13n commented on #52535
I would like to switch to v2.0 again in https://github.com/kubernetes/kubernetes/pull/52152, which is to solve https://github.com/kubernetes/kubernetes/issues/50599. When I was testing that change, Heapster wasn't restarting repeatedly. How can I reproduce this?

[2017-10-03 14:58] naseemkullah commented on #53356
ETA for a fix for this? should i hard code this deletion of contents of  /var/lib/kubelet prior to running kubeadm init in my automation scripts? or simply add the ignore pre flight checks arguement will do the trick?

[2017-10-03 15:05] naseemkullah commented on #53356
ok just to confirm, moving forward, ideally ```kubeadm init``` should not be checking for contents in ```/var/lib/kubelet``` (i.e. having contents is totally fine), or should installing kubelet not populate contenst of ```/var/lib/kubelet``` ?

[2017-10-03 15:08] liggitt commented on #53356
Correct. The `kubeadm` instructions start the kubelet and let it run in a crash loop in the background, waiting for config. In that state, the kubelet is free to write to its directory containing state (`/var/lib/kubelet`), so `kubeadm` should not require that directory to be empty in order to run `kubeadm init`

[2017-10-03 15:12] smarterclayton opened #53387 "kubectl CLI should more effectively convey discovery"
Now that discovery is complete as an API, and CRD and aggregation are in heavy use, we need to make some minor tweaks to kubectl to improve discoverability of apis from clients.

Common issues:

1. I want to see all resources that I might be able to create
2. I want to be able to disambiguate conflicting resources
3. I want to distinguish between cluster scoped and non-cluster scoped resources
4.

[2017-10-03 15:12] smarterclayton commented on #53387
@kubernetes/sig-cli-feature-requests

[2017-10-03 15:16] jessfraz commented on #53370
Whoa that is super weird I'm unsure how the two could be related

On Oct 3, 2017 10:39, "Jordan Liggitt" <notifications@github.com> wrote:

[2017-10-03 15:17] leblancd opened #53388 "e2e tests need an IPv6 option for iPerf test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/area ipv6
/sig network

**What happened**:
The e2e iPerf test case currently only runs in IPv4 mode.

**What you expected to happen**:
There should be an option to run an iPerf test in IPv6 mode (i.e. by running iPerf with a "-V" command line flag, so that the test can be run on IPv6-only clusters.

**How to reproduce it (as minimally

[2017-10-03 15:18] derekwaynecarr commented on #53387
I raised this topic w/ @smarterclayton when wanting to gather information from a user whose namespace was stuck terminating.  The user was making use of the service catalog extension, and from the issue report, it was unclear what resource remained that kept the namespace from deleting.

I felt the following commands would have helped understand the reason for the issue:
[code]

[2017-10-03 15:21] soltysh commented on #53387
That's not quite clear to me, can you elaborate a bit.

Big fat 👍

I'd add the aliases/shortcuts to the describe command.

[2017-10-03 15:28] smarterclayton commented on #53387
oc explain pod should probably have a mode that spits out a sample

[2017-10-03 15:29] ConnorDoyle commented on #53342
@RenaudWasTaken no, that's not sufficient; we need to also not delete extended resources that are unrelated to device plugins.

[2017-10-03 15:42] ConnorDoyle commented on #53342
After the regression fix provided by #53353, listing available options (please add if I missed anything from above)

_Option 1: Checkpoint resources advertised from device plugins._

As mentioned by @jiayingz:

_Option 2: Determine whether a resource was advertised by a device plugin by pattern-matching the resource name._

As mentioned by @lichuqiang:

At first thought, that would probably involv

[2017-10-03 15:45] jpetazzo commented on #53356
(Reposting my earlier tip since it worked like a charm for my automated deployment scripts.)

For the time being, before running `kubeadmin init` or `kubeadmin join`, I'll:
- check if `/etc/kubernetes/kubelet.conf` or `/etc/kubernetes/admin.conf` exists
- if they don't exist, stop kubelet (`systemctl stop kubelet`), and wipe out `/var/lib/kubelet/pki` (`rm -rf /var/lib/kubelet/pki`)

This might or

[2017-10-03 15:45] jdumars commented on #53226
This needs to be added to the SIG-Azure meeting for discussion.

[2017-10-03 15:51] bapparabi commented on #28987
can you tell me what guide you using to install go as i try to use

make gmc
make: *** No rule to make target 'gmc'. Stop.

many guide not working

[2017-10-03 15:57] unixwitch opened #53392 "scheduling.k8s.io/v1alpha1 cannot be enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

According to the [documentation for scheduling preemption](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) two changes are required to enable it:

* Add `--feature-gates=PodPriority=true` to apiserver and scheduler.
* Add `--runtime-config=scheduling.k8s.io/v1alpha1=true` to apiserver.

So I m

[2017-10-03 15:58] unixwitch commented on #53392
/sig scheduling

[2017-10-03 16:01] DirectXMan12 commented on #46482
the relevant API is `metrics.k8s.io/v1beta1`.  There should now be example files for registering it with metrics-server in the main repo.  For more information on registering aggregated APIs, see https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/concepts/aggregation.md#registering-apis

[2017-10-03 16:01] jessfraz commented on #53370
How are the logs retrieved, I think I just need to understand a bit more what that is doing behind the scenes to understand why it would need to escalate privileges. It almost kinda seems like if it does need privileges to get logs that is something we should fix because it seems odd right? or am i missing something?

[2017-10-03 16:02] #53021 closed

[2017-10-03 16:02] jessfraz commented on #53370
maybe @vishh knows more about how that works, sorry I could dive in and try to figure it out but someone probably knows better than I about the logs function

[2017-10-03 16:05] song-jiang opened #53393 "Failed to access NodePort if kube-proxy running in ipvs mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Failed to access a remote NodePort.

**How to reproduce it (as minimally and precisely as possible)**:
- Create a cluster with three nodes (node A,B,C). Network plugin is calico.
- Create a pod on node C and expose it as a NodePort service.
- Node A tries to access NotePort with ip:port where ip is the ip address of node B

[2017-10-03 16:07] aleksandra-malinowska commented on #52535
@x13n I'd start with manually deleting the node on which Heapster pod is scheduled, then maybe adding load to cluster and enabling autoscaling. This was observed in cluster size autoscaling tests, including [this one](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling/autoscaling_timer.go), so running them could work, but it takes a long time.

[2017-10-03 16:53] calebamiles commented on #53221
**cc: @philips **

[2017-10-03 17:04] jiayingz opened #53395 "Better handling of device plugin resource deletion"
/kind feature

Spun off from https://github.com/kubernetes/kubernetes/issues/53342, there was a regression introduced by device plugin change in 1.8 that we might remove opaque integer resource or non-device extended resources. We fix this problem in 1.8 by never removing any extended resources from kubelet node status and requires cluster admins to manually remove extended resources exposed via d

[2017-10-03 17:04] jiayingz commented on #53395
/sig node

[2017-10-03 17:06] jiayingz commented on #53342
Thanks a lot for the summary. FYI, filed a separate issue https://github.com/kubernetes/kubernetes/issues/53395 to track the long term solution after 1.8 so that we can focus this issue for 1.8 temporary fix.

[2017-10-03 17:07] yujuhong commented on #53370
I thought the issue was about `kubectl` panic'd when running the command...
Did the request even hit kubelet? Right now, kubelet simply reads logs from the disk and serves them.

[2017-10-03 17:23] edevil opened #53396 "Kubelet v1.8.0 breaks pods talking to services on the same node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I update the kubelet on a node from 1.7.x to 1.8.0, pods on that node stop being able to connect to services whose pods happen to be on the same node. I use the Kubenet network plugin.

**What you expected to happen**:

Pods should be able to connect to a service even if the services's pods are on the same node.

**

[2017-10-03 17:23] edevil commented on #53396
/sig node

[2017-10-03 17:31] MrHohn commented on #52096
@manuperera Is it possible to upgrade the flannel plugin to >=[v0.8.0](https://github.com/coreos/flannel/releases/tag/v0.8.0), which contains the fix (https://github.com/coreos/flannel/pull/745)?

[2017-10-03 17:40] lenguyen89 commented on #45010
@somejfn
Sorry, I didn't see this sooner but if you are still having the issue with `my fffffffffff < peer 4010ff8eea4fffb missing 401000000000000`, it has to do with the Ceph client on Kube node that does the provision.
It seems like Kube uses its controller pod to create the RBD image and then use its node to actually map the image. Basically, it calls Ceph client at two places. Once in your Kub

[2017-10-03 18:00] crimsonfaith91 commented on #40896
I still encounter the same error. Does anyone have bandwidth to investigate this?
@cblecker @spiffxp

[2017-10-03 18:01] mindprince opened #53399 "GKE GPU tests and GKE Device plugin tests are failing on master"
/kind bug
/sig scheduling

https://github.com/kubernetes/kubernetes/pull/52723 resulted in GKE GPU tests and GKE Device plugin tests to fail.

Diff between passing and failing runs:
https://github.com/kubernetes/kubernetes/compare/924bd563b...4c115a862

GKE Device Plugin Tests:
https://k8s-testgrid.appspot.com/wg-resource-management#gke-device-plugin-gpu
https://k8s-gubernator.appspot.com/build/ku

[2017-10-03 18:02] mindprince commented on #53399
/cc @vishh @jiayingz
/assign @k82cn

[2017-10-03 18:04] hixichen commented on #53333
Disable the swap, follow the sequence.

kubeadm reset
systemctl restart kubelet
kubeadm init --skip-preflight-checks

root@kubenode:~# ku get no
NAME       STATUS     ROLES     AGE       VERSION
kubenode   NotReady   master    6m        v1.8.0

Get a not ready cluster,

New issue: failed on  "Container runtime network not ready: NetworkReady=false"

[2017-10-03 18:11] somejfn commented on #45010
@lenguyen89 I understand your workaround but it wont apply to people running their _kubelet_ from an _hyperkube_ image (i.e. On CoreOS).  The ceph rbd client comes from the docker debian image.... that one should be updated at least to _debian:stretch_ as proposed to see the ceph-common package version at the Jewel release.

[2017-10-03 18:19] kad commented on #53333
@hixichen this seems to be another issue, not related to this one.
However, by removing flag  `--skip-preflight-checks` might give hints on what is going wrong.

[2017-10-03 18:41] walteraa commented on #52726
Closed because in hyperkube tagged as `v1.8.0`, the Google DNS is working with the same conditions that I described in the issue.

[2017-10-03 18:46] #42832 closed

[2017-10-03 18:48] smarterclayton commented on #53361
Confirmed that after running the same tests (which were failing consistently on 3.1.9) on 3.2.7, no failures occurred: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52949/pull-kubernetes-e2e-gce-etcd3/57387/

So people who disable watch caches or have very large numbers of etcd watches should be on 3.2.x, which is not a surprise.  It also means that users on 3.1.x should

[2017-10-03 18:49] smarterclayton commented on #53361
@kubernetes/sig-scalability-bugs

[2017-10-03 18:56] heckj commented on #53309
I've hit exactly this same issue with several different resource types - Service, ConfigMap, Deployment, etc.

[2017-10-03 18:58] dims commented on #53370
@yujuhong : @jessfraz : looks like the panic is from here

https://github.com/projectatomic/runc/blob/31a9f6e22729606814e9bcbcf9eeebc1887527cb/libcontainer/factory_linux.go#L259

[2017-10-03 19:13] madhusudancs commented on #39746
@dims No. Also deferring this to @quinton-hoole and @marun

/unassign
/assign @quinton-hoole @marun

[2017-10-03 19:17] madhusudancs commented on #31283
Deferring this to @quinton-hoole @marun @shashidharatd for triaging.

/unassign
/assign @quinton-hoole @marun @shashidharatd

[2017-10-03 19:18] madhusudancs commented on #29348
Deferring this to @quinton-hoole

/unassign
/assign @quinton-hoole

[2017-10-03 19:26] cblecker commented on #40896
I believe this should have been fixed in https://github.com/kubernetes/release/pull/328

/close

[2017-10-03 19:26] #40896 closed

[2017-10-03 19:29] sureshpalemoni commented on #10030
Oct 03 19:08:40 openstack-master.novalocal systemd[1]: Failed to start Atomic OpenShift Master API.
Oct 03 19:08:40 openstack-master.novalocal systemd[1]: Unit origin-master-api.service entered failed state.
Oct 03 19:08:40 openstack-master.novalocal systemd[1]: origin-master-api.service failed.

Any solution for this?

[2017-10-03 19:30] liggitt commented on #53370
sure, the error is getting plumbed back as a panic. the question is why a container in that mode errors trying to obtain logs

[2017-10-03 19:30] crimsonfaith91 commented on #40896
@cblecker Thanks for the link!

[2017-10-03 20:08] #53134 closed

[2017-10-03 20:08] #48213 closed

[2017-10-03 20:18] hixichen commented on #53333
@kad  you are correct, after configured CNI plugin, My cluster works fine now.

Log:
root@kubenode:# ku get no
NAME        STATUS    ROLES     AGE       VERSION
kubenode    Ready     master    1h        v1.8.0
kubenode2   Ready     <none>    1h        v1.8.0

========
To summarise:

delete the nodes if you have.
- kubeadm reset
- add "Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false"" to /etc/

[2017-10-03 20:44] bgeesaman commented on #52184
@smarterclayton Thanks for looking at this issue.  I've been thinking about this a bit now that I have some more free time.  https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/  To what degree can/should one add additional details when a lot of it is implementation/cloud specific?

The current voice of that guide appears to be universal to the majority of Kubernetes installatio

[2017-10-03 20:50] ixdy commented on #49484
We can't update to depend on bazel 0.6.0+ until we can figure out how to support different versions of the bazelbuild and kubekins-e2e images in PR jobs in prow based on what branch is being tested. cc @kubernetes/sig-testing-feature-requests

[2017-10-03 20:52] qzh0651 commented on #49343
Is this issue fixed? i am having the same issue when trying to add timeout option to kubectl cmd and it doesnt seem to be working.

[code]

[2017-10-03 20:55] smarterclayton opened #53405 "Expose etcd alerts and quota via metrics from the api servers"
Currently many clusters that are secure want to isolate etcd from the outside world (for defense in depth reasons), and so it'll become very difficult to gather metrics from it.  Conversely, many failures around api servers revolve around failures in etcd.

There are three primary conditions that are important to the operation of etcd as viewed from the api server.

1. alerts and quota size of the

[2017-10-03 20:55] smarterclayton commented on #53405
@derekwaynecarr re: the failures we saw recently where we crossed the health threshold

[2017-10-03 21:12] dims commented on #53370
@liggitt seems to be in the `CrashLoopBackOff` mode, so could it be possible that it failed during start and the user just happens to see the logs from disk?

[2017-10-03 21:14] huydinhle opened #53406 "unify on time unit for kube-apiserver logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
kube-apiserver logs time units are in both milliseconds and microseconds
[code]

**What you expected to happen**:
Can we have a configuration for kube-apiserver to use only miliseconds. Our logging team wants to standardize on one time unit only
**How to reproduce it (as minimally and precisely as possible)**:
Just loo

[2017-10-03 21:17] huydinhle commented on #53406
@kubernetes/sig-architecture

[2017-10-03 21:18] huydinhle commented on #53406
/sig architecture

[2017-10-03 21:27] abitrolly commented on #37705
Did nothing change with 1.8?

[2017-10-03 21:40] anlu opened #53407 "Pod lifetime based PersistentVolumeClaim"
/kind feature
/sig storage
@kubernetes/sig-storage

It would be useful to have a PersistentVolumeClaim that is tied to the lifetime of a pod. We currently have a use case where we have a data export type job that dumps a significant amount of data to disk. However, the data is ultimately sent to other locations, and so once the job is complete, we do not need the EBS volume to persist anymore.

Th

[2017-10-03 21:50] anlu commented on #53407
/sig storage
@kubernetes/sig-storage

[2017-10-03 22:10] BaluDontu opened #53408 "Unable to detach the vSphere volume from node when kubelet is stopped"
I did the following steps to reproduce this issue.
- Create a deployment with 1 replica with vsphere volume "volume1". Make sure the pod gets provisioned on one of available nodes. Lets say this node "node3" with "volume1" attached to this node.
- Stop the kubelet on "node3" where pod got provisioned. Verify that the node goes to "NodeReady" state.
[code]
- After 5 minutes timeout, Kubernetes prov

[2017-10-03 22:17] gnufied commented on #53408
Afaik - this is by design. This happens in AWS too where if a node is running but kubelet is down, volumes are not detached. There are github issues open related to force detach in this project.

[2017-10-03 22:21] BaluDontu commented on #53408
Why is this by design? Why can't we either delete the pod or detach the volume on the node? Can you explain the reasons?

[2017-10-03 22:21] nicksardo opened #53409 "GCE: ILB sync fails for legacy networks and auto networks with unusual subnet names"
/kind bug

**What happened**:
Since the addition of internal IP reservation, syncing of internal load balancers will fail on legacy networks or automatic networks with subnets generated with a trailing hash.

**What you expected to happen**:
ILB sync occurs

/assign
/sig network
/area platform/gce

[2017-10-03 22:24] BaluDontu commented on #53408
@kubernetes/sig-storage

[2017-10-03 22:33] dims commented on #53406
@huydinhle - please see https://github.com/kubernetes/kubernetes/issues/52890#issuecomment-331772925

[2017-10-03 22:40] nicksardo opened #53411 "GCE: Ignore resource not found errors when deleting LB resources"
If the load balancer was not setup properly due to another issue, cleaning up the half-created load balancer returns an error and causes the service controller to retry.

/kind bug

/assign
/sig network
/area platform/gce

[2017-10-03 22:41] dims commented on #53370
Looks like there is a bug and work around in the redhat bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1419120

[2017-10-03 22:43] #49813 closed

[2017-10-03 22:49] fejta-bot opened #53412 "Failure cluster [187157...] failed 76 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [187157ff4777777775eb](https://go.k8s.io/triage#187157ff4777777775eb)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    76 builds failed.
Failure stats cover 1 day time range '2 Oct 2017 21:19 UTC' to '3 Oct 2017 21:19 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 2 |

#####

[2017-10-03 22:57] tallclair opened #53413 "NFS PV recycler unverified"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

If a pod is already running in the default namespace with the expected name (i.e. `recycler-for-VOL`), the PV recycle method just assumes it's a recycler pod. However, if it is not a recycler, it could result in the volume being reused without the data being cleared.

**What you expected to happen**:

The recycled volume

[2017-10-03 22:58] tallclair commented on #53413
/cc @kubernetes/sig-storage-bugs

[2017-10-03 22:58] crassirostris commented on #53412
/sig instrumentation
/assign

I have to build an image, will work on it tomorrow

[2017-10-03 23:10] jeffvance commented on #53413
How about generating a unique name for each recycler pod so that it doesn't matter what existing pods are named?

[2017-10-03 23:11] jingxu97 commented on #53408
Think through this scenario again. I think @gnufied is right, this is by design.

When kubelet is not responsive, there is no way to be sure what is going on the node. Controller cannot just delete a pod with unknown state. Similarly attach_detach controller cannot just detach a volume of an unknown state pod because some container might still write data to the volume, and detach might cause data

[2017-10-03 23:20] BenTheElder commented on #49484
Noting that we're working on branching jobs, @krzyzacy is testing one option here: https://github.com/kubernetes/test-infra/pull/4855

[2017-10-03 23:44] rahulmishra commented on #53356
@liggitt @jpetazzo

If i wipe out the /var/lib/kubelet/pki directory and do not restart kubelet, the kubeadm init process hangs with

`kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10255/healthz/syncloop' failed with error: Get http://localhost:10255/healthz/syncloop: dial tcp [::1]:10255: getsockopt: connection refused.
[kubelet-check] It seems like the kubelet isn't running o

[2017-10-03 23:55] mbohlool commented on #46503
Make sense to me but I feel better if @caesarxuchao take a look here and confirm this too.

One thing we should be careful about is we have a map from a request to context in our code (I don't remember where it was exactly but it shouldn't be hard to find). If we inject a context, we need to make sure we update the map somehow to reflect the change.

[2017-10-04 00:18] smarterclayton commented on #46503
client-go should receive context for Request via the RESTClient methods.  However, you're going to change the signature of all client methods, so it's likely to be fairly invasive.  Needs a proposal.

[2017-10-04 00:25] spzala commented on #38970
@jwforres hi, I couldn't recreate the issue as such. I am sure it must be a problem in the past but petsets is now statefulsets (v1.5 and above). I understand the issue is about truncated content when clicking copy button ( vs petsets to statefulsets) but I don't see it now (e.g. https://kubernetes.io/docs/concepts/workloads/controllers/deployment/). In some example with large content I don't see

[2017-10-04 00:28] gnufied commented on #37705
We introduced expanding PVC (and by extension PVs) as a Alpha feature in 1.8. But volume types like GCE require file system resizing which didn't make the cut.

So we are working on finishing it in 1.9 and we expect most volume types to support resizing (again only growing them) in 1.9.

[2017-10-04 00:31] spzala commented on #38930
@edouardswiac hi, since the directory structure has been lately changed I don't see the problem as such with README - https://github.com/kubernetes/kubernetes/tree/master/examples/guestbook Can you please verify and if you are okay, close the issue? Thanks!

[2017-10-04 00:51] caesarxuchao commented on #46503
It makes sense to me, too. Looking forward to a proposal.

[2017-10-04 01:00] rmb938 commented on #52982
It also don't seem to have the latest 1.7.x updates. It is currently missing 1.7.6 and 1.7.7.

[2017-10-04 01:17] spzala commented on #38921
@gyliu513 hi, I still see the issue but wondering since you have closed #39224 considering planned deprecation of the script. Does this issue still requires a fix or any decision was made not to work on it? Thanks!

[2017-10-04 01:22] #53354 closed

[2017-10-04 01:26] gyliu513 commented on #38921
Thanks @spzala , I think that we can close this now as it is not supported any more.

[2017-10-04 01:26] #38921 closed

[2017-10-04 01:27] spzala commented on #38921
@gyliu513 sure and thank you for the quick response and closing it !! 👍

[2017-10-04 01:39] dims commented on #53357
@msau42 - where is the deprecation notice?

https://github.com/kubernetes/kubernetes/pull/36760 did not get merged and i don't see any info in https://kubernetes.io/docs/concepts/storage/persistent-volumes/ about deprecation either

[2017-10-04 01:48] dixudx opened #53420 "Got some typos in api/types"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Some typos in api/types

**What you expected to happen**:
Should fix them

**How to reproduce it (as minimally and precisely as possible)**:

[2017-10-04 01:51] dixudx commented on #53420
/sig api-machinery

[2017-10-04 01:59] msau42 opened #53421 "kubelet makeMounts should fail if it couldn't process any volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
The makeMounts function [skips](https://github.com/kubernetes/kubernetes/blob/6fcf841d69165d4aa7a4cb630d512a615ba8645d/pkg/kubelet/kubelet_pods.go#L131) adding volumes to the volumes list if the volume doesn't exist or mounter doesn't exist.

This is potentially dangerous behavior because an application can write to the m

[2017-10-04 02:04] msau42 commented on #53357
@erinboyd @childsb did we not send out an official deprecation notice for recycler?

[2017-10-04 02:04] msau42 commented on #53357
/cc @kubernetes/sig-storage-bugs

[2017-10-04 02:24] liggitt commented on #51899
pick for 1.8.1 open at https://github.com/kubernetes/kubernetes/pull/53422

[2017-10-04 02:27] #44589 closed

[2017-10-04 02:30] at1984z opened #53423 "emptyDir volume does not empty in pod after physical node restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. StatefulSet with emptyDir volume in pod spec and a container with a volumeMount onto that volume.
2. StatefulSet is created at scale 1 and the only pod is placed on a physical node.
3. This physical node reboots and comes back in less than 5 minutes fully operational.
4. The pod restarts on the same node.
5. emptyDir v

[2017-10-04 02:45] at1984z commented on #53423
/sig area/app-lifecycle area/stateful-apps area/usability

[2017-10-04 02:46] msau42 commented on #49529
@jeffvance do you have time to look at this? The test is still flaking

[2017-10-04 02:55] msau42 commented on #53423
@kubernetes/sig-storage-bugs

[2017-10-04 03:00] msau42 commented on #53407
@kubernetes/sig-storage-feature-requests

In 1.8, we added the ability to specify size limits on EmptyDir volumes in order to provide capacity isolation.  But like you mentioned, it's possible that you need more space than the root filesystem has available.  An idea of "inline PVs" was briefly mentioned [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storag

[2017-10-04 03:07] msau42 commented on #53373
@kubernetes/sig-storage-bugs

[2017-10-04 03:17] #53420 closed

[2017-10-04 03:26] luckyfengyong opened #53424 "Kube-Controller-Manager failed to start after restart the whole Kuberetes cluster when external APIService (such as service catalog) is deployed and registred"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After deploying service catalog (or other external APIService) into Kuberenetes, and then restart the whole kubernetes cluster (or Kuberetnes master if service catalog api is running in the master node), Kube-Controller-Manager failed to start.

**What you expected to happen**:
The Kube-Controller-Manager is able to start

[2017-10-04 03:36] luckyfengyong commented on #53424
/sig service-catalog

[2017-10-04 03:37] liggitt commented on #53424
Fixed in https://github.com/kubernetes/kubernetes/pull/49495

Fixed in 1.7.5

[2017-10-04 03:37] #53424 closed

[2017-10-04 03:42] luckyfengyong commented on #53424
Thanks @liggitt

[2017-10-04 04:26] msau42 opened #53425 "ci-kubernetes-e2e-gci-gce-alpha-features is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
alpha suite has been failing in the BeforeSuite since 9/22

[logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/16756)
[testgrid](https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features)

[code]

Did we recently enable some alpha taints feature?  @kube

[2017-10-04 04:35] ronaldpetty commented on #43788
@ravisantoshgudimetla this still looking for a body?  I am happy to take a look if this is still desired.

[2017-10-04 04:36] IanLewis commented on #1615
To me it's not just providing --init but the ability to send signals to other containers in the same pod. Many applications communicate and provide maintenance functions this way (sending HUP signals to reload config, TERM signals to restart etc.). Not being able to send signals means that containers have to communicate over a shared volume or socket connection which really limits the composabilit

[2017-10-04 05:58] jeffvance commented on #49529
@msau42 yes I can take a look. Do you know if there has been a pr started to address this issue? BTW, I will be gone most of tomorrow but will start tomorrow night.

[2017-10-04 06:42] narasi commented on #28986
Perhaps I am wrong here, but I think of several use cases where the memory consumption of a pod grows and shrinks, especially if it spawns threads/workers based on demand

[2017-10-04 06:58] fgrzadkowski commented on #53405
Should we instead have a dedicated component doing this kind of monitoring and exposing metrics? I think it'd be pretty weird to have apiserver expose status of all other components running on the master. WDYT?

[2017-10-04 07:34] sttts commented on #38756
@DirectXMan12 https://github.com/kubernetes/kubernetes/pull/49971 landed. Any plans for the polymorphic scale?

[2017-10-04 07:34] sttts commented on #49504
@DirectXMan12 any update on polymorphic scale?

[2017-10-04 07:57] soltysh commented on #53006
As long as there are options to turn it on of off (the synchronous write) I'm fine with either default. Still, I'd like to see due diligence towards ensuring low lost rate when using buffered write, and sufficient documentation around caveats of using one or the other. Audit, from my personal experience, is crucial for majority of enterprises and they won't tolerate not even single lost event.

[2017-10-04 08:40] FlorianOnmyown commented on #53279
I am not sure if this is possible.

[2017-10-04 08:40] yujuhong commented on #53370
That seems to be the case.

@surajssd could you check the actual log on the disk (`/var/lib/docker/containers/<container-id>/<id-json>.log` or just run `docker logs <container-id>`) to see if the content matches the output you got from `kubectl logs`?

If they do match, the issue would be why containers failed to start.

[2017-10-04 08:44] lauxtermann-aram opened #53427 "Cannot Change Azure Disk Storage Class from default"
**BUG:
/kind bug
sig/scalability

**What happened**:
I cannot change the default storage class in Kubernetes v1.8.0 on azure. Everytime I run:

`kubectl patch storageclass default -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"false"}}}'`

I get the response that everything is done correctly: storageclass "default" patched.
`kubectl get storageclass`

After that I

[2017-10-04 08:49] #53427 closed

[2017-10-04 08:56] lauxtermann-aram opened #53428 "Cannot change 'default' Storage Class on Azure Disk /"
**BUG REPORT**:

/kind bug
/sig azure

**What happened**:
I cannot change the default storage class in Kubernetes v1.8.0 on azure. Everytime I run:

`kubectl patch storageclass default -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"false"}}}'`

I get the response that everything is done correctly: storageclass "default" patched.
`kubectl get storageclass`

After th

[2017-10-04 09:07] brancz commented on #53405
We started [this](https://github.com/coreos/etcd/issues/8060) effort a while ago, in order to expose metrics on a separate port. It targeted to be released in etcd `v3.3.0`. That way we can expose metrics without exposing the entire client APIs. We could think of extending this and have separate client certificates in order to have additional authorization in place to give Prometheus fine grained

[2017-10-04 09:51] sttts commented on #49811
Is this fixed in 1.8? https://kubernetes.io/docs/api-reference/v1.8/#customresourcedefinition-v1beta1-apiextensions looks good, doesn't it?

[2017-10-04 09:57] nikhita commented on #49811
Yes! Closing.

[2017-10-04 09:57] #49811 closed

[2017-10-04 09:59] crassirostris commented on #53006
That is not possible, there will always be a situation when an audit event can be lost: sudden power loss, disk/network failure, random bit flip, etc. The questions is whether 10^(-6) is low enough loss probability, or we need to get 10^(-14) by sacrificing performance (arbitrary numbers, just to illustrate my point). Note, that reduced performance can increase the number of timeouts and retries,

[2017-10-04 10:01] nutchalum commented on #52826
/sig aws

[2017-10-04 10:17] dims commented on #53370
@surajssd - see the redhat bug, you should be able to recreate the problem with just `docker run` as shown there.

[2017-10-04 10:23] fracasula commented on #12278
Hi there, I'm having some issues sharing a volume on a Debian system with minikube. It works well on a bunch of Macs I have here in the office (tried on at least 5 different machines) but I just can't make it work on that Debian machine.

The deployment file is [this one here](https://github.com/fracasula/k8s-test/blob/develop/deploy/nodeclient_deployment.yaml).
I checked with VirtualBox and the m

[2017-10-04 10:23] mnarusze commented on #23726
While I know that there might be multiple reasons for failure here, in my case I removed `~/.kube/cache` folder and it helped immediately.

[2017-10-04 10:51] vglisin commented on #53356
Wish you luck. This is not the only problem:
kubectl cluster-info
Kubernetes master is running at http://localhost:8080

[root@masternode ~]# kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/v0.8.0/Documentation/kube-flannel.yml
W1004 06:49:56.291768    2422 factory_object_mapping.go:423] Failed to download OpenAPI (Get http://localhost:8080/swagger-2.0.0.pb-v1: dial tcp [::1]:808

[2017-10-04 10:52] vglisin commented on #53356
Not to forget:
systemctl status firewalld
firewalld.service - firewalld - dynamic firewall daemon
   Loaded: loaded (/usr/lib/systemd/system/firewalld.service; disabled; vendor preset: enabled)
   Active: inactive (dead)
     Docs: man:firewalld(1)

[2017-10-04 11:10] IlyaSemenov commented on #44370
I am having this problem too with [nfs-provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/nfs). What I've discovered is that the problem only happens if you **first** create a PVC and **then** run the provisioner. All PVCs that are created **after** the provisioner is deployed will succeed.

Here's the failing PVC log:

[code]

When I deleted the PVC and recreated it

[2017-10-04 11:23] dims commented on #53428
/sig azure

[2017-10-04 11:25] dims commented on #53408
/area platform/vsphere

[2017-10-04 11:26] dims commented on #53408
/sig cluster-lifecycle

[2017-10-04 12:07] Thermi opened #53430 "Kubernetes federation invalid reference format"
/kind bug

**What happened**:
Federation set up using kubefed uses invalid reference format, breaking the Federation control plane.

[code]
**What you expected to happen**:
That it works.

**How to reproduce it (as minimally and precisely as possible)**:
Try to set up a control plane using kubefed.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2017-10-04 12:09] Thermi opened #53431 "Kubefed can't handle relative paths in kubeconfig"
/kind bug

**What happened**:
Kubefed doesn't handle relative paths in kubeconfig correctly, like kubectl does.

**What you expected to happen**:
That kubefed handles it like kubectl.

**How to reproduce it (as minimally and precisely as possible)**:
Use relative paths in kubeconfig for credentials (e.g. CA certificates). Then use kubectl to see that it works from arbitrary directories. Then try t

[2017-10-04 12:32] crassirostris commented on #53412
Pushed an image, should be fine now

[2017-10-04 12:32] #53412 closed

[2017-10-04 12:41] surajssd commented on #53320
@liggitt what is the reason server calls are not made?

[2017-10-04 12:49] liggitt commented on #53320
The purpose of that set of commands is to surface and modify the kubeconfig file. That should work regardless of whether the server is available or the namespace exists. Liveness/access checks can be useful, but should layer on top of the basic modification commands

[2017-10-04 12:53] czras commented on #53309
I have hit this with PersitentVolumeClaim
[code]

[code]

[2017-10-04 12:58] ljmatkins opened #53432 "CustomResourceDefinition support for federation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
When I attempt to `kubectl apply` a CustomResourceDefinition to a federation, I receive the following error:

```error: unable to recognize "resourcedefinition.yaml": no matches for apiextensions.k8s.io/, Kind=CustomResourceDefinition```

**What you expected to happen**:

It would be nice if federations supported this

[2017-10-04 12:59] deitch commented on #53309
Basically yml/json validation in `kubectl` 1.8.0 is broken completely. A test or two missed, I guess.

Someone from the @kubernetes/sig-cli-bugs team can address?

[2017-10-04 13:00] ljmatkins commented on #53430
/sig federation
/cc @kubernetes/sig-federation-feature-requests

[2017-10-04 13:01] ljmatkins commented on #53432
/sig federation
/cc @kubernetes/sig-federation-feature-requests

[2017-10-04 13:05] liggitt commented on #53356
@vglisin kubeadm does not run kubernetes unsecured. following the setup instructions in the output of `kubeadm init` configures `kubectl` to speak to the initialized server:

[2017-10-04 13:14] mattymo opened #53433 "kube-proxy/node-proxier clusterrole broken in 1.8"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG
/kind bug

**What happened**:
After upgrading from v1.7.5 to v1.8.0, my kube-proxies (running as static pods) stopped working.
kube-proxy log shows:
[code]

**What you expected to happen**:
It should be able to get necessary information to operate

**How to reproduce it (as minimally and precisely as possible)**:
Create kube-proxy certs with the fo

[2017-10-04 13:16] mattymo commented on #53433
/sig  area/kube-proxy

[2017-10-04 13:18] mattymo commented on #53433
/sig sig/node

[2017-10-04 13:26] liggitt commented on #53433
This role is automatically granted to the `system:kube-proxy` user (see https://kubernetes.io/docs/admin/authorization/rbac/#core-component-roles), which has not changed since 1.7

If you want to define a `system:node-proxier` user, you must bind the role to that user with a deployment-specific clusterrolebinding:
[code]

[2017-10-04 13:42] manuperera commented on #52096
Hello @MrHohn , thank you for your interest in solve the problem.

I've installed the latest stable release of CoreOS (1548.0.0). This release contains Flanneld 0.9.0.

[code]

I've repeated tests over connector container and results are the same. Packets captured in Kubernetes's master nodo have correct IP address.

[code]

But, packets captured in Docker container (Connector) don,t have client I

[2017-10-04 13:56] #51246 closed

[2017-10-04 14:12] surajssd commented on #53370
[code]

going on the node w1

[code]

see container with id `babde4803c68` just exited, seeing it's logs:
[code]

could not find any log file in the directory `/var/lib/docker/containers/<container-id>/<id-json>.log`

[code]

inspecting that container: (not sure if this helps)

[code]

**Note**: You might notice that the container IDs have changed in between different commands, because k8s was gar

[2017-10-04 14:13] wojtek-t commented on #50115
@msau42 - one thing that we really need to think about if we choose this way is whether we have any reasonable way to backfill the tags for already existing clusters.

[2017-10-04 14:18] surajssd commented on #53370
@dims yes I could re-create it using docker-run

[code]

[2017-10-04 14:18] civik commented on #53331
/sig apps

[2017-10-04 14:20] yujuhong commented on #53370
I think this confirms that it has nothing to do with `kubectl logs` :-)

That's because your docker uses the journald log driver.

[2017-10-04 14:27] surajssd commented on #53370
@yujuhong is this CentOS specific or the docker that is installed on the machine? What is causing this problem? What is the work around?

[2017-10-04 14:31] nikhita commented on #53379
@unixwitch Are you able to reproduce this everytime?

I am able to use apply normally with your example.

[code]

[2017-10-04 14:35] jessfraz commented on #53370
I think we need to focus on the _why_ logs needs privileges... that is what
I find extremely odd.

On Wed, Oct 4, 2017 at 10:28 Suraj Deshmukh <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-10-04 14:37] vglisin commented on #53356
Ok. This worked. Thank you. Node also added by running kubeadm join....
Now the problem is dashboard. I have followed:
https://github.com/kubernetes/dashboard#kubernetes-dashboard
but still don't understand where to start kubectl proxy and max.I god when I try to access dashboard is (https://192.168.4.10:6443/):
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure

[2017-10-04 14:39] mattymo commented on #53433
The correct cert subject is `CN=system:kube-proxy/O=system:node-proxier`

[2017-10-04 14:39] #53433 closed

[2017-10-04 14:47] hemaprasad commented on #53356
Hi All,

Need help here

current i'm installing Kubernetes version: v1.8.0 using the command "kubeadm reset && kubeadm init"
it went hanged state.
systemctl status kubelet log showing that

Oct 04 20:15:02 cluster-1 kubelet[18203]: W1004 20:15:02.263263   18203 cni.go:196] Unable to update cni config: No networks found in /etc/cni/net.d
Oct 04 20:15:02 cluster-1 kubelet[18203]: E1004 20:15:02.2637

[2017-10-04 14:49] liggitt commented on #53356
@hemaprasad, be sure to follow the instructions to add the admin kubeconfig file so kubectl can communicate with the initialized API server:

[2017-10-04 14:51] liggitt commented on #53004
https://github.com/kubernetes/kubernetes/issues/53356#issuecomment-333748618
documentation added in https://github.com/kubernetes/kubernetes/pull/53436

[2017-10-04 14:56] liggitt commented on #53356
For anyone following this thread, if you encounter issues other than the `/var/lib/kubelet is not empty` message, please report them in a separate issue, to ensure they are triaged and routed appropriately and resolved as quickly as possible.

[2017-10-04 14:58] unixwitch commented on #53379
I can reliably reproduce it if the `last-applied-configuration` annotation exists:

[code]

If I use `kubectl edit` to remove the annotation, then it works the first time but fails thereafter:

[code]

[2017-10-04 15:06] hemaprasad commented on #53356
@liggiit,  thank you for your quick response
now i'm getting

kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
Unable to connect to the server: Forbidden
W1004 20:34:18.925025   20485 factory_object_mapping.go:423] Failed to download OpenAPI (Get https://192.168.1.3:6443/swagger-2.0.0.pb-v1: Forbidden), falling back to swagger
Unable to conn

[2017-10-04 15:13] jhorwit2 opened #53437 "unable to deploy privileged pod after 1.8 upgrade unless I set allowPrivilegeEscalation true"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I upgraded a cluster to 1.8 and ran into an issue with pods that use `privileged: true` and don't set `allowPrivilegeEscalation: true`.

The PSP I had created and been using prior to 1.8:
[code]

The error I got when applying an update to the canal daemonset:

[code]

**What you expected to happen**:

I expect the pod to

[2017-10-04 15:15] bboreham commented on #53117
@AnilPaladugu I think you hit upon quite an old doc; it's citing version Kubernetes 1.4.

I think the latest version of that is https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

If you can try again with up-to-date versions and instructions it may work better, or at least it will be a better basis to debug from.

cc @lukemarsden who may want to update or take down that file.

[2017-10-04 15:15] jhorwit2 commented on #53437
semi-unrelated: the error message on that event is hideous 👼

[2017-10-04 15:18] jpetazzo commented on #53356
@hemaprasad: you seem to be hitting a totally different problem than the one related to `/var/lib/kubelet/pki`; can you please open a different issue? Thank you so much!

[2017-10-04 15:18] liggitt commented on #53437
@jessfraz @tallclair existing PSPs should continue to work as they did before. doesn't that mean `DefaultAllowPrivilegeEscalation` has to default to true in PSPs if unspecified?

[2017-10-04 15:23] liggitt commented on #53437
(alternatively, `psp.Spec.AllowPrivilegeEscalation` could have been a `*bool`, defaulting to nil/no-opinion, but that's not possible since it shipped as `bool` in 1.8.0)

[2017-10-04 15:26] dims commented on #53370
@surajssd - Did you see the comments 8-12 in  https://bugzilla.redhat.com/show_bug.cgi?id=1419120 ?

[2017-10-04 15:31] jsafrane commented on #53357
There is `kube-controller-manager --pv-recycler-pod-template-filepath-nfs=/etc/my-recycler.yaml` that can point to yaml with a pod template. Isn't it enough?

[2017-10-04 15:34] jsafrane commented on #53423
@at1984z, can you please share your statefulset yaml? It's odd that emptyDir keeps its data across reboots.

[2017-10-04 15:49] surajssd commented on #53370
@dims this worked
[code]

but how will this work with k8s, and also these errors are showing even though SELinux is disabled?

[2017-10-04 15:54] rrati opened #53438 "apiserver doesn't shutdown cleanly"
/kind bug

The apiserver does not clean up after itself when it does a controlled shutdown.  This means things like the internal kubernetes service endpoints still contain the ip information for an apiserver that no longer exists.  The system will eventually rectify the situation, but until that occurs there can still be service disruption (ie dns lookups) that need not occur.  If the apiserver go

[2017-10-04 15:56] hemaprasad commented on #53356
@jpetazzo,even I also faced the same issue'var/lib/kubelet is not empty' after I used the command "kubeadm reset && kubeadm init" it want to hanged state.(if want u can see my above threads).to move to another step I'm trying to install the weave it was failed saying that
kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
The connection to the

[2017-10-04 15:59] rrati commented on #53438
/sig api-machinery

[2017-10-04 16:03] msau42 commented on #53423
I think it is actually expected for the emptydir to remain because the Pod never got deleted from the node.

[2017-10-04 16:06] msau42 commented on #50115
Yeah, I don't think there's a good way to fix existing clusters.  I imagine that we'll need to modify our install and upgrade paths so only newer or upgraded clusters will get the fix.

[2017-10-04 16:07] jdumars commented on #50752
See the parent issue here: https://github.com/kubernetes/features/issues/88

[2017-10-04 16:10] dims opened #53439 "Move gke-certificates-controller out of the main repository"
from here : https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh#L191
[code]

[2017-10-04 16:11] dims commented on #53439
Looks like it was added here : https://github.com/kubernetes/kubernetes/commit/0d7a6eb058a057dd7f8af485e4f56f1588004a12

[2017-10-04 16:12] dims commented on #53439
cc @pipejakob @mikedanese @roberthbailey @bgrant0607 @thockin

[2017-10-04 16:15] oomichi commented on #51145
The root problem has been fixed with https://github.com/kubernetes/kubernetes/pull/53381

[2017-10-04 16:15] #51145 closed

[2017-10-04 16:26] #53214 closed

[2017-10-04 16:35] smarterclayton commented on #53405
I've seen many environments where that would be considered impossible - network access to etcd would be extremely dangerous and not worth the risk.  I'm not even sure that a reasonably paranoid cluster operator would want to take the risk of exposing that port, because that means that unaudited information might escape that could lead to cluster escalation.

I agree that in general I don't expect

[2017-10-04 16:36] roberthbailey commented on #53439
/sig cluster-lifecycle
/sig gcp

[2017-10-04 16:36] roberthbailey commented on #53439
@abgworrall - this is related to sig-gcp and moving our gcp/gke specific code out of the main repo.

[2017-10-04 16:37] smarterclayton commented on #53405
Running a separate prometheus on the masters is potentially possible, but also has security implications (that's another bit of code that has to be audited).  I think from a general security perspective etcd is ring 0, api servers are ring 1, extensions are ring 2, and everything else is ring 3.  Ideally the connections between rings 0 and 1 are completely minimal.  For people less concerned about

[2017-10-04 16:39] jdumars commented on #53226
https://youtu.be/pvXPVTl4dis

[2017-10-04 16:56] at1984z commented on #53423
@jsafrane, I will distill our production code into the minimal example and post it here. We encountered this behavior on k8s 1.5 first. Since, we're planning to move to 1.7.4, I've checked that the behavior is the same there as well. Moreover, both 1.5 and 1.7.4 do not execute Init containers either in the described scenario.

@msau42, although I see your point, I'd disagree, especially in light o

[2017-10-04 17:08] msau42 commented on #50115
Another problem is if users deploy clusters on GCE using their own method that doesn't tag the instances, then when we change the cloudprovider code to look for the tags, they could break.

[2017-10-04 17:20] dims commented on #53370
@surajssd : if you see https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#assign-selinux-labels-to-a-container, it shows how to add levels. Can you try the `"type":  "docker_t"` there?

Looking at https://kubernetes.io/docs/api-reference/v1.8/#selinuxoptions-v1-core that should work (Cross my fingers). Check what labels do show up the container using `docker inspect` too.

[2017-10-04 17:26] naichenliu commented on #53309
I hit the same problem.
[code]

[2017-10-04 17:32] #53288 closed

[2017-10-04 17:32] #48714 closed

[2017-10-04 17:39] liggitt commented on #53356
pick to 1.8 branch is https://github.com/kubernetes/kubernetes/pull/53448
reopening to track issue until resolved in 1.8.x

[2017-10-04 17:39] huydinhle commented on #53406
@dims  I'm not saying the log is incorrect, I agree with the design. However, can we have maybe an extra flag so that the logs that come out with the same time unit (eg: milliseconds) .

Thank you for replying.

[2017-10-04 17:39] dims commented on #53341
here's the current status:
[code]

[2017-10-04 17:52] jhorwit2 opened #53451 "service controller can leave orphaned load balancers after services are deleted"
/kind bug
/area cloudprovider

**Current**

The [service controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L735) fetches the service from the apiserver to sync. If the service no longer exists, then the load balancer is deleted. If the deletion fails (say networking issues or something), then the service key will be added back to the queu

[2017-10-04 17:55] jcbsmpsn opened #53452 "Move the certificate manager to shared code"
/kind feature

The certificate manager is a small piece of code that handles requesting a new certificate as the existing certificate approaches expiration. It was initially created in the kubelet but would be useful to use in other components that have certificates. It should be moved from the kubelet code base to `k8s.io/client-go/util/certificate`.

[2017-10-04 17:55] jcbsmpsn commented on #53452
/assign @jcbsmpsn

[2017-10-04 17:55] jcbsmpsn commented on #53452
/sig auth

[2017-10-04 18:04] jingxu97 commented on #53423
Just add a little detail. When node reboots, since kubelet could not respond to master for a few minutes, node status is updated to "NotReady". From master point of view, it does not what is happening on the node, so after 5 minutes timeout, master node controller tries to evict pods (it might not succeed if kubelet is still not responding. Pod status will become unknown)

In your case, since rebo

[2017-10-04 18:07] huydinhle commented on #53406
Since I need this particular feature, if you think the feature make senses, I can dig in and work on it also

[2017-10-04 18:07] rootfs commented on #53423
emptyDir defaults to medium, set emptyDir medium to memory will wipe the data after reboot

[code]

[2017-10-04 18:11] jpetazzo commented on #53356
@hemaprasad if you get `The connection to the server localhost:8080 was refused` it means that your kube config file is missing. By default, `kubectl` tries to connect to `localhost:8080`. But when you deploy a cluster with `kubeadm`, the API will be listening on port 6443. So you should see an error relative to port 6443, nor port 8080. If you see an error related to port 8080, it means that you

[2017-10-04 18:25] quinton-hoole commented on #53430
cc @madhusudancs @shashidharatd might be able to help.

[2017-10-04 18:30] surajssd commented on #53370
@dims This worked for me:

[code]

and checking out the pod

[code]

[2017-10-04 18:34] at1984z commented on #53423
@jingxu97, Can I interpret your description of emptyDir behavior in the described case as "by design"? That is it is not a bug but a feature.

@jingxu97, In k8s 1.5 and 1.7, Init container does not run in the described case when the node reboot and kubelet restart takes less than 5 minutes. In k8s 1.8, Init container does run.

@rootfs, This is a good workaround for emptyDir volumes of limited siz

[2017-10-04 18:44] jiayingz commented on #53354
FYI, the test/e2e_node/gpu_device_plugin.go started to pass now with the merged PR. Will keep watching to make sure it is not flaky.

[2017-10-04 18:47] #49424 closed

[2017-10-04 18:47] #51046 closed

[2017-10-04 18:58] euank commented on #40182
As i understand it, the solutions are roughly:
1. If you use `docker` for your networking rather than cni, everything still works
1. If you use kubenet or CNI for your networking, then update your plugins

Are there any CNI plugins or network configurations that don't handle this correctly?

Unless there's any specific configurations that are still broken and can be tracked in this issue, I think

[2017-10-04 19:02] tallclair opened #53455 "FR: streaming audit endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**Description**:

Provide a pull-based stream for audit logging. This would look similar to a watch request to the API server, and provide a stream of audit events. I would not expect the stream to return any PREVIOUS events (i.e. no associated storage), it would only stream events that occurred after the stream was opened. This would be

[2017-10-04 19:04] #53388 closed

[2017-10-04 19:16] at1984z commented on #53423
@jsafrane, I've uploaded the file as shown below.
[sset-edir.yaml.gz](https://github.com/kubernetes/kubernetes/files/1357078/sset-edir.yaml.gz)
Should you confirm the emptyDir volume behavior as presented by @jingxu97, the issue could be closed.

[2017-10-04 19:27] dims commented on #53406
@huydinhle looks like you need a nod from @liggitt (not me!)

[2017-10-04 19:43] caesarxuchao commented on #49038
@p0lyn0mial have you started the move of the initializer and webhook plugins? If not, I plan to move the initializer plugin myself :)

[2017-10-04 19:45] madhusudancs commented on #53430
/assign @irfanurrehman

[2017-10-04 19:51] msau42 commented on #53423
While emptydir behavior is by design, maybe init container behavior is a bug.

[2017-10-04 20:11] at1984z commented on #53423
@msau42, re: Init Container - is it a bug in 1.8 or prior 1.8?

[2017-10-04 20:13] #51753 closed

[2017-10-04 20:13] #53411 closed

[2017-10-04 20:14] msau42 commented on #53423
Since you see the issue in 1.8 and not 1.7, I would guess 1.8.

[2017-10-04 20:16] smarterclayton commented on #53405
Copying @kubernetes/sig-auth-misc re implications of etcd being exposed vs tradeoffs in some clusters

[2017-10-04 20:19] saad-ali commented on #53413
@childsb Could someone from your team pick this up?

[2017-10-04 20:39] 0xmichalis opened #53459 "Enable arbitrary CRD field selectors"
Enable arbitrary CRD field selectors by supporting a whitelist of fields in CRD spec.

Context:
We run thousands of ProwJobs per day both in [Openshift](https://deck-ci.svc.ci.openshift.org/) and [Kubernetes](http://prow.k8s.io/) and it would be great to be able to filter PJs in the cli based on arbitrary ProwJob spec fields. Namely, `pj.spec.type` to filter based on the type of the job (presubmit

[2017-10-04 20:51] tallclair commented on #53406
xref: https://github.com/kubernetes/kubernetes/pull/52981 to use microsecond precision timestamps in audit logs

[2017-10-04 20:54] kargakis commented on #53459
Depends on https://github.com/kubernetes/kubernetes/pull/50140

[2017-10-04 20:58] at1984z commented on #53423
@msau42, re: Init container behavior in a pod residing on physical node that reboots in less than 5 min.

In k8s version prior 1.8, Init container does not run upon physical node restart.
In k8s version 1.8, Init container does run upon physical node restart.

Which behavior is correct?

[2017-10-04 21:00] msau42 commented on #53423
Can someone from @kubernetes/sig-node-bugs comment on the intended init container behavior?

[2017-10-04 21:08] #51083 closed

[2017-10-04 21:12] p0lyn0mial commented on #49038
@caesarxuchao go ahead. I'd like to keep the `webhook` plugin for myself - I almost have it.

[2017-10-04 21:26] caseydavenport commented on #40182
@euank I'm not entirely convinced this is the responsibility of CNI plugins. It's discussed above, and some plugins do include workarounds, but manipulating the host to allow forwarding of traffic feels squarely outside of a CNI plugin's responsibilities as I understand them.

I think we still need a solution for this in Kubernetes.

CC @tmjd

[2017-10-04 21:30] apelisse commented on #39434
Trying to start a discussion about that topic: https://docs.google.com/document/d/18nrtJ0gizVHnIhx5NIkGXvSaQ1wT2i6XVDUmmQqc7_4 (shared with kubernetes-dev)

cc @bgrant0607 @smarterclayton @kubernetes/sig-api-machinery-api-reviews

[2017-10-04 21:48] matchstick commented on #53430
@shashidharatd  Assigning to you from the build cop rotation.

[2017-10-04 21:49] andrewgdavis commented on #53406
code that utilizes "k8s.io/apiserver/pkg/server/httplog" Log() will be pretty printed due to the default to String in time.go.   An optional config for a time unit format might be passed down through apiserver/pkg/server/config.go to the genericfilters.WithPanicRecover(handler, c.XXXX), and implemented in httplog.go.
however, that begs the question:  should the default be "as is: aka  pretty print

[2017-10-04 21:55] childsb commented on #53413
Ack

[2017-10-04 21:59] mikkeloscar commented on #53370
I'm seeing this error for all pods (except mirror pods for w/e reason) after upgrading to v1.8.0 on Container Linux stable ([1465.8.0](https://coreos.com/releases/#1465.8.0)). One example is this [heapster deployment](https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/manifests/heapster/deployment.yaml).

[code]

Most pods are in this state:
[code]

I guess this is related to

[2017-10-04 22:01] jhorwit2 opened #53462 "service controller race condition on updating the same service in multiple goroutines"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area cloudprovider

**What happened**:

There are two goroutines that can modify load balancer services in the service controller. The first is the worker that consumes events from the informer via the workqueue. The second is the worker that attempts to sync nodes and update load balancers when the nodes have changed (say one is cordoned n

[2017-10-04 22:04] jhorwit2 commented on #53462
Although this can seem innocuous, if the cloud provider assumes thread safety while updating load balancers and associated security rules then this could cause race conditions in update calls. The OCI implementation currently is impacted by this.

[2017-10-04 22:09] ismith opened #53463 "k8s use of AWS load balancers is a little surprising"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

I have a Spinnaker Load Balancer, of type LoadBalancer, usually created by an upsertLoadBalancer pipeline stage.

[code]

By default, this is an external load balancer, and we can see that in the EXTERNAL-IP column; it’s truncated, but that’s an AWS ELB hostname, and if it were an internal ELB, it’d start with internal-

[2017-10-04 22:12] ismith commented on #53463
@kubernetes/sig-aws-bugs

[2017-10-04 22:29] kow3ns commented on #49504
I think there is still open discussion on placement. I would propose that we should have one representation of scale for serving and stateful workloads. This should live in the apps/v1 group version and should have the existing signature.

[code]
We moved everything that is a workload (DaemonSet, Deployment, ReplicaSet, and StatefulSet) to apps, and for workloads that have a notion of scale (Deplo

[2017-10-04 22:34] smarterclayton commented on #49504
Note that not all workloads or batch apis will live in batch or apps, so
it's not enough to define a sub resource there.  If we create multiple
Scale resource subtypes then Scale is not generic anymore.  And I don't
think that we have clearly articulated why that is superior.

On Wed, Oct 4, 2017 at 6:30 PM, Kenneth Owens <notifications@github.com>
wrote:

[2017-10-04 22:37] thockin opened #53465 "Bad event string from scheduler for insufficient resources."
[code]

But I didn't ask for 4 CPU, I asked for 1.  I think the "4" means "I looked at 4 nodes", but the error is very misleading.

@kubernetes/sig-scheduling-bugs

[2017-10-04 22:38] poonia0arun commented on #11543
@Seraf  is this issue closed ? I am using k8s 1.6 version and I am seeing the same behavior.. any recommendation ?

[2017-10-04 22:43] tallclair opened #53467 "PodSecurityPolicy should not apply to mirror pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Mirror pods may be rejected by the PodSecurityPolicy admission controller.

**What you expected to happen**:

Mirror pods are a reflection of a pod being run directly by the Kubelet, meaning that the pod will be run regardless of the admission decision.

**How to reproduce it (as minimally and precisely as possible)**:

B

[2017-10-04 22:50] fejta-bot opened #53468 "Failure cluster [dc7df8...] failed 101 builds, 21 jobs, and 1 tests over 1 days"
### Failure cluster [dc7df8becd4029341950](https://go.k8s.io/triage#dc7df8becd4029341950)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    21 jobs failed,    101 builds failed.
Failure stats cover 1 day time range '3 Oct 2017 15:37 UTC' to '4 Oct 2017 15:37 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 21 |

##### Top fa

[2017-10-04 22:50] fejta-bot opened #53469 "Failure cluster [cd531c...] failed 63 builds, 5 jobs, and 1 tests over 1 days"
### Failure cluster [cd531c03ac2579986320](https://go.k8s.io/triage#cd531c03ac2579986320)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    5 jobs failed,    63 builds failed.
Failure stats cover 1 day time range '3 Oct 2017 15:37 UTC' to '4 Oct 2017 15:37 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 5 |

#####

[2017-10-04 22:52] jingxu97 commented on #53423
cc @yujuhong

[2017-10-04 22:53] liggitt commented on #53467
We have to be careful here… what happens in the following scenario:

1. a user sets a mirror pod annotation
2. noderestriction admission plugin is not used

[2017-10-04 22:54] Random-Liu commented on #53423
In k8s version 1.8, Init container does run upon physical node restart.

I think the second one is the expected behavior now. https://github.com/kubernetes/kubernetes/pull/47599

[2017-10-04 22:57] apeschel commented on #10421
Happening for me on 1.6.6 using Azure ACS.

[2017-10-04 22:59] jingxu97 commented on #53423
@Random-Liu thanks for the information. Do we consider to cherrypick this PR back to 1.7 and earlier? It looks like a bug..

[2017-10-04 22:59] kfox1111 commented on #831
I really like the idea of a docker container as a volume from the standpoint of, it lets you reuse all the architecture for distributing containers. scalable doccker-registries, image caching, etc. It also lets you separate concerns. You could do a scalable static website by having a volume container with your web content in it and a main container of nginx. each pod would then have two containers

[2017-10-04 23:02] tallclair commented on #53467
The mirror pod annotation can only be set at pod creation, and [can't be changed](https://github.com/kubernetes/kubernetes/blob/9de85c2eabe79a52b4ae05e2932cce81afb02aa9/pkg/api/validation/validation.go#L178). Since the Kubelet ignores mirror pods, creating one only causes it to exist in the API, it won't actually run any workloads. I don't think the noderestriction admission plugin is relevant her

[2017-10-04 23:16] dims commented on #831
@renewooller did you try the flex volume? https://github.com/dims/docker-flexvol

[2017-10-04 23:25] G-Harmon commented on #32157
I hit this bug too. I am doing some scripting of creation/deletion of Ingresses, inside a namespace. When I delete the namespace, it still takes some time for the Ingress controller to clean up everything. I wanted a decent way to know when everything was cleaned up, and I could create a new ingress from a clean state.
/cc G-Harmon

[2017-10-04 23:26] samanthakem commented on #42885
So, what's the decision about this issue? should ingress resource to be shown when running ```kubectl get all```?

[2017-10-04 23:31] bsalamat commented on #53465
Thanks, Tim for reporting the problem. We are aware of this issue and are trying to address it soon. There is a PR in progress to improve the error message: #52515

[2017-10-04 23:34] dims commented on #53370
@mikkeloscar : Looks like either you can use the work around from the discussion above

[code]

or wait for the https://github.com/kubernetes/kubernetes/pull/53460 to merge, will show up in 1.8.1

( cc @liggitt )

[2017-10-04 23:35] kfox1111 commented on #831
no, I missed that. thanks for the pointer. its very interesting. :)

[2017-10-04 23:48] kow3ns commented on #49504
If we go with a generic implementation over specialized implementations (within reason), aren't we just aggregating the bloat into a single location and causing confusion?

1. If I want to extend the existing scale to support completions in its status. I have to add a field that now applies to serving workloads, and probably doesn't make sense.
1. The existing replicas field doesn't really communi

[2017-10-05 00:11] dims commented on #53341
/assign @dims

[2017-10-05 00:11] #52027 closed

[2017-10-05 00:25] jhorwit2 opened #53473 "Add docs on the predicates that prohibit a node from receiving load balancer service traffic"
/kind feature
/area cloudprovider

We should add docs to the CCM that explains the conditions under which a node will be excluded from receiving traffic. It's fairly magical right now.

[Code](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L587)

cc @andrewsykim

[2017-10-05 00:27] thockin commented on #51668
I just ran across this today, but in a more likely (IMO) case.

1) create the Service, type=LoadBalancer
2) let the IP be auto-allocated
3) manually promote that IP to static and give it a meaningful name
4) observe errors from service controller trying to allocate that IP

Since my Service does not spec "loadBalancerIP", the question is, do we:
a) use the IP, but leave it as static
b) use the IP,

[2017-10-05 00:39] nicksardo opened #53475 "GCE: LBs on 1.7 can enter sync retry loop due to existing IP"
/kind bug

**What happened**:
If the cloud provider attempts to reserve an IP and it's already reserved, it should continue syncing. Instead, it's returning an error and causing the service controller to retry.

https://github.com/kubernetes/kubernetes/blob/862b0bc4fd0b5aa7ae9bcfd6cb5527cd54a3b301/pkg/cloudprovider/providers/gce/gce_loadbalancer_external.go#L943-L949

The above code only checks fo

[2017-10-05 00:39] nicksardo commented on #51668
Filed #53475 for the looping.

[2017-10-05 00:41] nicksardo commented on #53475
@yujuhong I don't think we gain anything by backporting the `GetAddressByIP` func to 1.7, right? Checking for both status codes seems to be sufficient.

[2017-10-05 00:48] MrHohn commented on #52096
@manuperera Thanks for the update. It might be better to report your issue on https://github.com/coreos/flannel/issues/734 or open up a new one. Flannel folks should have more insight.

[2017-10-05 01:00] rickypai commented on #50975
this ends up being quite a rabbit hole, even after my hacky attempt to copy https://github.com/kubernetes/kubernetes/tree/master/hack/boilerplate into https://github.com/kubernetes/apimachinery to at least resolve the missing `//hack/boilerplate` problem.

1. many of the dependencies referenced in the `go_genrule` aren't present

2. the build rule specifies apimachinery itself as a vendored depend

[2017-10-05 01:08] ldemailly commented on #24343
Is there a post mortem/lesson learned ? if you had to do it again would you do it or what would you do differently ? And when reaching which size of contributors/velocity etc ?

[2017-10-05 01:14] msau42 commented on #53425
/assign @k82cn

[2017-10-05 01:20] nestoru commented on #43279
I came across this while trying to find out a solution for this problem. The gist of it is below. More explanation of what happened to us at http://thinkinginsoftware.blogspot.com/2017/10/upgrading-kubernetes-container-pods.html.

[code]

[2017-10-05 02:23] roycaihw opened #53478 "Aggregator test namespace duplication"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Aggregator test creates a new namespace
https://github.com/kubernetes/kubernetes/blob/a5ad6b5ab6707ea411c9779beb789cdc8b4fee13/test/e2e/apimachinery/aggregator.go#L178-L191
instead of using existing test framework namespace
https://github.com/kubernetes/kubernetes/blob/a5ad6b5ab6707ea411c9779beb789cdc8b4fee13/test/e2e/api

[2017-10-05 02:24] roycaihw commented on #53478
/assign roycaihw

[2017-10-05 02:43] k82cn commented on #43788
I think no one is working on this, but please send email to sig-scheduling mail list to confirm whether it's necessary?

[2017-10-05 02:48] k82cn commented on #53425
@msau42 , do you know how to trigger this test in CI, e.g. `/test ci-kubernetes-e2e-gci-gce-alpha-features`?

[2017-10-05 02:55] #52613 closed

[2017-10-05 03:19] janetkuo commented on #22368
I discussed with @bgrant0607 and @kow3ns about this and wrote a proposal: https://goo.gl/eUAyPB (join https://groups.google.com/forum/#!forum/kubernetes-sig-apps to access).

I chose Google Docs because I find it easier to make comments. Will eventually convert the doc into a .md file in the community repo.

[2017-10-05 03:26] saad-ali opened #53481 "`pull-kubernetes-verify` failing with `verify-swagger-spec` failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[pull-kubernetes-verify](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-verify/) is consistently failing the `hack/verify-swagger-spec.sh` step with:

[code]

**What you expected to happen**:
`pull-kubernetes-verify` should not be failing.

**How to reproduce it (as minimal

[2017-10-05 03:35] julianvmodesto commented on #42129
This is done with https://github.com/kubernetes/kubernetes/pull/45595

[2017-10-05 03:37] thockin commented on #53465
It's the `(4)` that was misleading.  It should explain what the number is.
It is not the amount of CPU requested.

On Wed, Oct 4, 2017 at 4:32 PM, Bobby (Babak) Salamat <
notifications@github.com> wrote:

[2017-10-05 03:40] saad-ali commented on #53481
Appears to be related to PR https://github.com/kubernetes/kubernetes/pull/49205
But that PR was merged on Oct 3, 8:17 PM PT and this test appears to have started failing on Oct 3 1:20 PM PT

CC @dixudx @ericchiang @jbeda @roberthbailey

[2017-10-05 03:42] saad-ali commented on #53481
/sig api-machinery

[2017-10-05 03:49] msau42 commented on #53425
I don't think there's a way to launch a ci job from here.

[2017-10-05 04:09] dixudx commented on #53481
@saad-ali The error lay in `swagger-spec/apps_v1.json`, which is a new file introduced by #53278. That's why the batch CI gets failed. We need to get the file `swagger-spec/apps_v1.json` updated by rebasing the master branch and regenerating it.

[2017-10-05 04:21] mindprince commented on #53425
@k82cn This seems to be the same failure as #53399.

You can trigger the GKE GPU tests on PRs using `/test pull-kubernetes-e2e-gke-gpu`. GKE GPU tests use alpha features.

[2017-10-05 04:58] k82cn commented on #53425
sure, let me add some instrument code and trigger test by `gke-gpu` ci :).

[2017-10-05 05:57] bsalamat commented on #53465
Yes, we are aware. The PR that I referenced was not originally trying to address the number of nodes, but during the review we asked the author to address the number of nodes as well.

[2017-10-05 06:26] priyankadive commented on #43860
we are facing same issue on azure cluster .

[2017-10-05 06:43] Seraf commented on #11543
I wasn't able to use custom hostnames but didn't try again since this issue.

[2017-10-05 07:14] vglisin commented on #53356
Hello  hemaprasad,
The problem is that when people know it is hard for them to set their mind to explain things to people who are new in a same area. Explanations given by jpetazzo and liggitt are ok but they are stepping over some steps which they assume but we as newbee do't.
Now, to have kubernetes operational we all should:
-stop the kubelet service, remove /var/lib/kubelet/pki, then run kubea

[2017-10-05 07:24] wojtek-t commented on #50115
Great point. That makes me thing that maybe tagging is not the best option and maybe we should think about something different? I don't have any better suggestion though...

[2017-10-05 08:14] sylr commented on #45419
Hi,

I've got a PLEG issue myself (Azure, k8s 1.7.7) :

[code]

[2017-10-05 08:40] brancz opened #53485 "Leaking reflector metrics in 1.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Ran Kubernetes 1.8 apiserver for 3 days and the memory usage kept going up.

![screenshot from 2017-10-05 10-12-19](https://user-images.githubusercontent.com/4546722/31216977-bb57bd00-a9b5-11e7-989f-0b4ee9b53133.png)

Looking at a heap profile showed, that the majority of this memory is coming from the [`cache.NewNamedRe

[2017-10-05 08:59] k82cn opened #53486 "Enable all predicates/priorities in alpha features e2e test environment."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

According to https://github.com/kubernetes/kubernetes/pull/53480 , it seems `PodToleratesNodeTaints` predicate was not enabled in e2e cluster. It's better to enable all predicates for alpha feature test.

[2017-10-05 08:59] k82cn commented on #53486
/sig testing

[2017-10-05 09:33] fabiand commented on #50433
I'm also seeing this issue now and then.

[2017-10-05 09:39] sttts commented on #53485
@frobware I suspect this is the leak of the storage caches that are dynamically created when a CRD is updated.

[2017-10-05 09:39] sttts commented on #53485
Here is the storage creation: https://github.com/sttts/kubernetes/blob/fd09c3dbb67374e4f4b46b820b5cd3d9a3124cda/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L278-L277

[2017-10-05 09:41] sttts commented on #53485
https://github.com/kubernetes/kubernetes/pull/50690 includes code to shutdown storages cleanly. We might need that for CR storages.

[2017-10-05 09:56] jpetazzo commented on #53356
@vglisin your explanations are correct! As for your dashboard question, I have no idea, but I would recommend to open another github issue for that (since the title of this issue is "kubeadm 1.8.0 init fails with "/var/lib/kubelet is not empty""). Thank you!

[2017-10-05 10:28] crassirostris commented on #52909
Actually, I realized that 502 is not a problem because it's captured by `InternalError`. However, I would still like to have an option to always retry the webhook until the completion or until it runs out of attemts. Currently, even slight blip in networking, which causes e.g. `connection reset by peer`, in a reasonably big cluster will cause the webhook to lose several hundreds if not thousands a

[2017-10-05 10:31] zetaab opened #53488 "possibility to ignore cinder dynamic provision volume label"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST
/kind feature

**What happened**: Currently if we create cinder volumes dynamically, the zone label is added automatically to pv https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cinder/cinder_util.go#L214-L216 . After the zone label is added to volume, it means that pod cannot be started in any other zone than what label

[2017-10-05 10:32] zetaab commented on #53488
/sig openstack

[2017-10-05 10:55] k82cn commented on #53399
Open  https://github.com/kubernetes/kubernetes/pull/53480 to handle GPU, let's check what will happen to device plugin test.

[2017-10-05 11:06] #53367 closed

[2017-10-05 11:06] sbuliarca opened #53489 "AWS: Tagging the security group of ELB created for LoadBalancer or Ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
@kubernetes/sig-aws-feature-requests
/sig aws

**What happened**:
In k8s 1.7, when creating a service of type LoadBalancer, K8S creates the ELB and a Security Group for it. For these resources, it adds a tag, constructed dynamically, containing the cluster id: "kubernetes.io/cluster/${cluster_id}" with the value "true"

**What you expect

[2017-10-05 11:14] duane-ibm commented on #44325
@mkumatag I am looking to implement a CI for Kubernetes on s390x. Are the test images for s390x available and will the e2e tests now pass on s390x?

[2017-10-05 11:29] davidegrohmann commented on #51701
@MrHohn I have added a code to wait for the "DeletedLoadBalancer" events before deleting the whole cluster. That fixed the problem! Thank you so much for your help!

[2017-10-05 11:29] #51701 closed

[2017-10-05 11:32] jsafrane commented on #53413
OpenShift runs the recycler pod in a dedicated namespace, not visible to users. Maybe it could be a good idea to do so also in Kubernetes.

Anyway, killing the old recycler is probably the best option - it could be forged by user to block recycling and cheat quota.

/assign

[2017-10-05 11:50] squeed commented on #40182
We're adding a "allow this interface" chained plugin in to the CNI repository. It's a clean solution to this problem.

https://github.com/containernetworking/plugins/pull/75

[2017-10-05 11:55] maleck13 commented on #46503
Is anyone assigned to the proposal, If not I can look at taking it on (note it may take a little time). Is there any existing doc on creating a proposal?

[2017-10-05 12:06] #53437 closed

[2017-10-05 12:19] vglisin commented on #53356
Thank you for fast reply. Also I am trying these innocent commands from documentations:
scp root@<master ip>:/etc/kubernetes/admin.conf .
./kubectl --kubeconfig ./admin.conf get nodes
but I am getting:
Unable to connect to the server: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kubernete

[2017-10-05 12:31] gnavgire opened #53490 "Extended Scheduler cannot exempt a node from scheduling pod"
**FEATURE REQUEST**:

/kind feature
@kubernetes/sig-scheduler

**Extended Scheduler is not able to exempt a node from getting scheduled, for some use case where the base scheduler identifies only one eligible node (based on label and annotation) and passes on to the extended scheduler. Now even if the extended scheduler does not return this node back to the base scheduler, the base scheduler can s

[2017-10-05 12:32] jpetazzo commented on #53356
@vglisin It looks like you are copying `admin.conf` from a remote host. If it is the case, you also need to edit `admin.conf` to point to that remote host (instead of `localhost`). The tutorials and documentations imply that people will run `kubectl` directly from the master.

[2017-10-05 12:47] rocketraman commented on #53226
@jdumars Thanks for raising this at the SIG meeting. Looks like the people at azure-container-networking have the root cause figured out: https://github.com/Azure/azure-container-networking/issues/76#issuecomment-333935716. Still waiting for a fix and/or workaround though.

[2017-10-05 13:00] surajssd commented on #53320
@liggitt thanks for the explanation!

I am not still sure if this issue makes sense!

[2017-10-05 13:08] #53191 closed

[2017-10-05 13:09] #53383 closed

[2017-10-05 13:09] #53409 closed

[2017-10-05 13:17] vglisin commented on #53356
Nice this is... so why into same documentation exist this:
**Controlling your cluster from machines other than the master**
In order to get a kubectl on some other computer (e.g. laptop) to talk to your cluster, you need to copy the administrator kubeconfig file from your master to your workstation like this...

Never mind, it is obviously long way to go till this function even in test environment

[2017-10-05 13:47] rrati commented on #53438
@sttts Feel this is appropriate for sig-api-machinery

[2017-10-05 14:25] vglisin commented on #53356
Hello all.
Finally dashboard starts working from master node. Please, do NOT use 1GB-2GB on master node, it would behave erratically and services which you expect to start normally... won't. Use at least 4GB and then also be patient. http://localhost:8001/ui/ will respond with strange formed URL so please use copy-paste:
http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes

[2017-10-05 14:30] msau42 commented on #50115
Since listing k8s nodes is not an option, the best option may be to support the instance tagging and fallback to the old behavior if no tags are found.

[2017-10-05 14:32] spzala commented on #38892
@resouer hi, I believe we should close this issue due to lack of information per triage guidelines.  @anioool please feel free to reopen if you still seeing the issue. Thanks!

[2017-10-05 14:34] fvigotti opened #53492 "cluster upgrade from 1.6.7 to 1.7.7 errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig area/kubelet

**What happened**:
upgraded cluster ( 3 master nodes + 3 slave nodes ) from 1.6.7 to 1.7.7, followed the 1.7 release notes , nothing else changaged, the kubelet went in crash-loop and didn't even start it's manifests pods

already restarted everything, rebooted all machines multiple times ,
what is also strange is that in

[2017-10-05 14:37] fvigotti commented on #53492
/sig area/kubelet

[2017-10-05 14:43] thomas-riccardi commented on #52336
I have the same symptoms with a GCE (setup with kube-up) 1.7.7 kubernetes cluster: Nodes having DiskPressure, with low disk space and inode usage.

I have restarted a kubelet with verbose logs, and here is what I found:
[code]

More logs about `allocatableNodeFs` or `thresholds`:
[code]

The pattern goes on and on.

Remarks:
- a negative value is most certainly wrong, and probably triggers the thr

[2017-10-05 14:51] spzala commented on #38877
@tylerFowler hi, kubectl bash completion  works fine for me on mac. Since it's been a long time the issue was last discussed, can you please verify if it's still a problem. Also, it's not really a kubernetes issue as mentioned here - https://kubernetes.io/docs/tasks/tools/install-kubectl/#on-macos-using-bash  ("The Homebrew project is independent from Kubernetes, so the bash-completion packages ar

[2017-10-05 14:56] fvigotti commented on #53492
at the moment I've found that if I remove the following flag from the kubelet
` --enable-controller-attach-detach=false`
it start  anyway this is quite weird, the flag functionality was there with kubelet 1.6.7 and was ok , I'm now investigating deeply in the meaning of this flag ( I don't remember why I've added it in the past when I've added a flex plugin that I still use today.. ) I'm looking f

[2017-10-05 14:59] squeed commented on #53007
This should not block 1.8; there are no code changes needed within k8s if the end-user wishes to upgrade their CNI plugins. While bundling an old version of the CNI plugins is unfortunate, it's not a "regression" per se.

[2017-10-05 15:15] yastij commented on #53490
/sig scheduling

[2017-10-05 15:28] spzala commented on #38859
@BruceZu hi, thanks for reporting this issue but per what I understood with run usage is that one would use it for testing or deploying something small or troubleshooting purpose. As @xingzhou mentioned and you also tried, using the yaml file is the proper way to create deployment with multiple ports. I would of opinion that we can close this issue as, working as designed. /cc @thockin Thanks!!

[2017-10-05 15:36] smarterclayton commented on #51594
Please add the other consumers of conditions for non-core APIs - i.e. the openshift ones referenced in the original PR

[2017-10-05 15:37] smarterclayton commented on #51594
Note that various APIs use conditions heavily.  ReplicationControllers are also V1 and use conditions

[2017-10-05 15:40] liggitt commented on #53467
PSP is also useful for composing into other checks on operations like exec ("a user cannot exec into a pod they could not have created"). Short circuiting on an annotation still seems odd to me.

cc @kubernetes/sig-auth-pr-reviews @deads2k

[2017-10-05 15:41] kow3ns commented on #51594
@smarterclayton [these](https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-326156748) ?

[2017-10-05 15:42] stresler commented on #45727
I am getting this with `--register-node=false`. fwiw.