[2021-07-08 11:43] rayw000 commented on #103575
Solved!

All I need to do is running these commands on my control plane.
[code]

According to my test, `kubectl -n kube-system delete pod kube-xxx-<hostname>` **DOESN'T WORK**.
**ONLY** manually killing `k8s_POD_*` containers solved my problem.

[2021-07-08 11:59] gccio commented on #103576
if the services has no selector, the controller manager will not manage the services' endpoints. you need to manage it manually.

[2021-07-08 12:07] marseel commented on #103578
/assign @marseel

[2021-07-08 12:17] qmloong commented on #85389
+1

[2021-07-08 12:25] marseel commented on #103578
Good news is that we can also see it regression in kubemark (although not as bad as in regular 5k tests):
http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes&metriccategoryname=E2E&metricname=LoadPodStartup&Metric=run_to_watch
But this can help us with finding root cause faster/cheaper.
![image](https://user-images.githubusercontent.com/2011575/124907133-17d25880-dfe8-11eb-97bd-8f5efe5943c7.png)

[2021-07-08 12:27] su225 commented on #39188
No. Not option (3) please. There are use cases for this - like DNS and supporting both H2-over-TLS and H3-over-QUIC and so on.

[2021-07-08 12:27] su225 commented on #103544
Thank you. Let me give a shot :)

[2021-07-08 12:40] fromanirh commented on #103579
/triage accepted
/priority important-soon

[2021-07-08 12:47] marseel commented on #103578
In both runs I don't see significant waiting time (99th percentile) on any of Priority levels.:
26th May:
![image](https://user-images.githubusercontent.com/2011575/124924030-4efe3500-dffb-11eb-9937-511e41502ec2.png)
12th June:
![image](https://user-images.githubusercontent.com/2011575/124924075-59203380-dffb-11eb-97a5-c53baaeb83ff.png)

[2021-07-08 12:51] qmloong commented on #80968
I have not been able to reproduce it by the script. is there anyone same with me?

[2021-07-08 12:51] andyzhangx commented on #99061
@fire2 thanks for the catch, the doc is outdated, I will update that doc.
from 1.21.0, this driver would search for the secret in the same namespace as the pod

[2021-07-08 12:55] #103531 closed

[2021-07-08 12:59] #91459 closed

[2021-07-08 12:59] #103563 closed

[2021-07-08 13:12] ondrejdolezal93 opened #103584 "Affinity probably present even after deleting it"
#### What happened:

Deployment with affinity is blocking new deployment that does not contain affinity

#### What you expected to happen:

I expect new deployment that does not contain affinity to be deployed without any problem

#### How to reproduce it (as minimally and precisely as possible):

Here is my first deployment:

[code]

After deploying previous deployment, pod is running just fine.

[2021-07-08 13:15] ondrejdolezal93 commented on #103584
/sig scheduling

[2021-07-08 13:16] elFarto commented on #103546
I did look at that file before, but didn't see anything. However looking at it again, it's obvious, it's only requesting create notification:

https://github.com/kubernetes/kubernetes/blob/388c2d901d185d34a340fcae566bd38b73bdb704/plugin/pkg/admission/network/defaultingressclass/admission.go#L62

[2021-07-08 13:17] jglick commented on #91459
Has anyone yet checked that the purported fix actually addresses the issue in Helm? https://github.com/helm/helm/issues/6378#issuecomment-850530229

[2021-07-08 13:23] #98874 closed

[2021-07-08 13:26] soltysh commented on #42217
As Brian put it it's working as expected.
/close

[2021-07-08 13:26] #42217 closed

[2021-07-08 13:34] soltysh commented on #103283
This is working as expected, `kubectl logs` was not able to find the default container which in both deployments you explicitly said is `kubectl.kubernetes.io/default-logs-container: s0` but only the first deployment has `s0` container, the second deployment has `s1`.
/close

[2021-07-08 13:34] #103283 closed

[2021-07-08 13:54] wojtek-t commented on #103578
@marseel

1) Do we have data about 100% waiting time in P&F? With 99% it my not be enough to to see that data.

2) If really waiting time is small, then the question is what exactly.
(a) it might be related to the number of goroutines
(b) it might be locking

I have just opened the WIP PR: https://github.com/kubernetes/kubernetes/pull/103583 that should help with both (at least to some extent).
Wi

[2021-07-08 13:57] tkashem commented on #103512
does each "test" in the integration suite spin up a kube-apiserver instance, execute the test and then spin down the apiserver instance?

I started looking at one failure and I see the following
[code]

healthz returning `504` and latency is `4m`. I don't know if this is the predominant error, I am going to continue my investigation.

[2021-07-08 14:02] wojtek-t commented on #103512
Pretty much yes. There is commonly started one etcd (or one etcd per directory? can't remember for sure).

But for other components, tests create them themselves, e.g.:
https://github.com/kubernetes/kubernetes/blob/master/test/integration/client/client_test.go#L59

[2021-07-08 14:07] xing-yang commented on #103477
This works as designed, so it is not a bug.  This is more like a feature request.  If `allocatable` is different dependent on the StorageClass, do you rely on some opaque parameters in the StorageClass to determine what value of `allocatable` is supported?

[2021-07-08 14:07] marseel commented on #103578
1.
Max waiting time in P&F for pod startup latency phase:
26th May:
![image](https://user-images.githubusercontent.com/2011575/124935627-1ca60500-e006-11eb-8e99-c7af2add9cd9.png)
12th June:
![image](https://user-images.githubusercontent.com/2011575/124935659-229be600-e006-11eb-864e-1a03b5d1585a.png)
Buckets are ..., 0.2, 0.5, ... so I don't think it's significant.

2. I will test it.

[2021-07-08 14:12] soltysh commented on #42649
This should now be resolved with the new controller implementation.
/close

[2021-07-08 14:13] #42649 closed

[2021-07-08 14:24] gnufied commented on #95367
/reopen
/remove-lifecycle rotten

[2021-07-08 15:04] tkashem commented on #103512
on another integration failure, https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103539/pull-kubernetes-integration/1413113592659578880 (open PR)

for one test i see
[code]

for another failed test
[code]

so the pattern is the kube-apiserver can't initialize in time for the integration

[2021-07-08 15:08] tkashem commented on #103512
I looked at the link1 test failure - https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103508/pull-kubernetes-integration/1412337676442406912

the kube-apiserver comes up ok, but i do see quite a few 429 (requests rejected by p&f)
[code]

This may be causing the test to time out, But I see this
[code]
so the test ran for about `6s` and then aborted, but the log doesn't say anything why i

[2021-07-08 15:11] thockin commented on #91459
Please do!

[2021-07-08 15:22] tkashem commented on #103512
so i see 159 of these for the test above
[code]

the `no match found for request` error is causing p&f to choose `catch-all` - this could be why we are seeing the 429 since catch-all concurrency pool capacity is very limited.

the `catch-all` is being selected because the caller has no user information `&user.DefaultInfo{Name:"", UID:"", Groups:[]string(nil), Extra:map[string][]string(nil)};`

I t

[2021-07-08 15:22] n4j commented on #86843
Taking ` --CertDirectory
 --RegisterNode
 --kubeconfig
 --bootstrap-kubeconfig`

[2021-07-08 15:25] liggitt commented on #103512
the quota flake is worth looking into, but I'm more concerned about the 5-6 packages that are consistently timing out at 10 minute runs

[2021-07-08 15:26] wojtek-t commented on #103512
The quota failures were a different problem - and those were fixed: https://github.com/kubernetes/kubernetes/issues/103510

[2021-07-08 15:28] tkashem commented on #103512
can you please provide a link to a few failed job i can look at? I looked at link1 and link2 from the issue description.

[2021-07-08 15:30] liggitt commented on #103549
/close

this is only seen in presubmit runs on a single PR which introduced the issue

[2021-07-08 15:30] #103549 closed

[2021-07-08 15:31] liggitt commented on #103512
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=integration&test=TestMain

[2021-07-08 15:34] alex-kovshovik commented on #89898
**Our production issues are now fully resolved.**

Thank you everyone for sharing your solutions!!!

We're running on latest EKS, K8s version 1.20.

### Our solution

1. Replace `httpGet` probes with basic exec + curl (see below).
   - This was suggested by a few people above.
   - My guess is when the nodes are under high load, kubelet process couldn't spin up `httpGet` fast enough to check the h

[2021-07-08 15:34] ialidzhikov commented on #67250
/remove-lifecycle stale

@janetkuo , can you add `lifecycle/frozen` to this issue?

[2021-07-08 15:50] MikeSpreitzer commented on #100105
This fact is missing from the documentation.  For example, as noted at https://github.com/kubernetes/website/issues/28611#issuecomment-876537379

[2021-07-08 15:51] #103551 closed

[2021-07-08 16:04] MikeSpreitzer opened #103587 "Kubelet should enforce that static pods do not reference other API objects"
#### What happened:
I put into `/etc/kubernetes/manifests/` one defining a static pod with a `serviceAccount`, because I was wondering if this is supported (the documentation does not say, see https://github.com/kubernetes/website/issues/28611#issuecomment-876537379).  The kubelet created the pod but without giving it the relevant mount.  The kubelet did _not_ create the corresponding mirror pod.

[2021-07-08 16:11] fromanirh commented on #103512
possibly relevant: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/101432/pull-kubernetes-integration/1413156580353904640
[code]

In general this PR (pure kubelet changes) is failing pretty consistently: https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=101432

[2021-07-08 16:13] liggitt commented on #103512
yes, k8s.io/kubernetes/test/integration/apiserver/apply is one of the packages consistently timing out. the etcd message is unrelated, that just means the test is using an already-started shared etcd instance.

[2021-07-08 16:17] fromanirh commented on #103512
got it @liggitt , thanks for clarification and sorry for posting a red herring.

[2021-07-08 16:26] jsturtevant opened #103588 "Possible performance problem to iterate over the interfaces first and later over the addreses in winkernel Proxier"
#### What happened:
During code review we found a possible performance problem to iterate over the interfaces first and later over the addresses
https://github.com/kubernetes/kubernetes/pull/103116

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

See: https://github.com/kubernetes/kubernetes/pull/103116

#### Anything else we need to know?:

#

[2021-07-08 16:31] MikeSpreitzer commented on #103587
@kubernetes/sig-node-bugs

[2021-07-08 16:39] BenTheElder commented on #53533
Is https://github.com/kubernetes/enhancements/issues/2400 the best place to keep an eye out for that work?

[2021-07-08 16:40] liggitt commented on #103587
It is expected that static pod will not run... no references to API objects are permitted in static pods (service accounts, PVC objects, secrets, configmaps, etc).

I'm not sure I understand what you mean by this

[2021-07-08 16:45] MikeSpreitzer commented on #103587
Ooh, the prohibition is even broader.  @liggitt please have a look at https://github.com/kubernetes/website/pull/28623 and there should probably also be updates to PodSpec and/or types inside it.

As for what I meant: the kubelet implemented the pod:
[code]

but the mirror pod object did not get created in the apiserver.

[2021-07-08 16:47] liggitt commented on #103546
leaving existing Ingress objects alone on update is intentional to preserve backwards compatibility with Ingress objects created prior to the existence of ingressclass

[2021-07-08 16:59] tkashem commented on #103512
so looking at the logs from `k8s.io/kubernetes/test/integration/apiserver/apply` package that timed out, the following message is immediately before the timeout panic
[code]

I also see that requests spend more time in the p&f filter (minus the handler execution):
[code]

the `/healthz` takes `10s` and it spends `2s` inside the p&f filter `priorityandfairness=2.280600827s`.

I also see from a fail

[2021-07-08 17:09] dashpole commented on #103368
We only provide metrics for non-terminal pods: https://github.com/kubernetes/kubernetes/pull/79409

We only provide metrics for running containers: https://github.com/kubernetes/kubernetes/pull/83504

[2021-07-08 17:12] tkashem commented on #103512
[code]

`etcd3.ObjectCountTrackerFunc` is nil, so i think we can rule out  #102998

[2021-07-08 17:29] liggitt commented on #103512
looking at when this started according to https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=integration&test=TestMain

* k8s.io/kubernetes/test/integration/apiserver/apply
  * 7/6, 17:15 UTC
    * https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99961/pull-kubernetes-integration/1412459922108452864
    * PR #99961 (not merged until 7/7 1:46 UTC)
  * 7/6, 18:06 UTC

[2021-07-08 17:39] wojtek-t commented on #103512
Yeah - that's a good finding, which I agree rules out that PR.

I think it has to be something that merged immediately before (or right after) 17:00 UTC.
With the above PR ruled out, I don't see any other reasonable candidate.

So I think there are two options:
- either we were lucky for quite some time before and it actually merged earlier [but then why we do observe it so frequently now?]
- or i

[2021-07-08 17:50] BenTheElder commented on #103588
/sig windows

[2021-07-08 17:56] liggitt commented on #103512
that doesn't look like it's changed since 7/5...

on master:

on f37550a4700:

has the P&F treatment of things that hit the catch-all policy changed since 7/5?

[2021-07-08 17:56] liggitt commented on #103512
I looked and there were no modifications to the pull integration test job in the last few days

[2021-07-08 18:00] ehashman commented on #86843
@n4j we discussed this at SIG Node and agreed that this is not high enough priority to work on while we have other more burning tech debt to address, particularly when other components are not also performing migrations. See [June 1 2021 meeting notes](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.qmsvtr8128ga)

[2021-07-08 18:02] n4j commented on #86843
/priority backlog

[2021-07-08 18:02] wojtek-t commented on #103512
I started looking from a different angle at this now and started comparing the actual `junit.xml` files

I focused on the `integration/apiserver/apply` test.

In healthy runs we have something like this:
[code]

In failed runs, I see more like:
[code]

I've seen 37, 36, 39 so far.

I compared time to run those tests that were actually finished and those look more-or-less the same in both healthy a

[2021-07-08 18:03] wojtek-t commented on #103512
Nothing that I'm aware of.

[2021-07-08 18:06] serathius commented on #103368
ok, looks like this is a bug in container runtime CRI metrics implementation.

[2021-07-08 18:11] liggitt commented on #103512
we see the failures on jobs started at 7/6 17:15 UTC and after

first commit after problems appeared in triage:
[code]

last commit before problems appeared in triage:

[code]

focusing on merges to master in the ~2 hours before 24238425492227fdbb55c687fd4e94c8b58c1ee3

[2021-07-08 18:18] wojtek-t commented on #103512
The pattern of tests hanging (that I described above in https://github.com/kubernetes/kubernetes/issues/103512#issuecomment-876637353) is actually the same for other failing tests...

[2021-07-08 18:18] liggitt commented on #103512
Things that merged in the 2-3 hours at/before 2423842:
* #103514
* #103509
* #103504
* #103435
* #103294
* #102520
* #102155
* #103474
* #103462
* #102998

[2021-07-08 18:20] ihgann commented on #103540
If it matters, at all, I would vote for [mockgen](https://github.com/golang/mock) to be the standard.

[2021-07-08 18:47] tallclair commented on #103192
I'm going to close this in favor of using the project board, which is kept more up-to-date: https://github.com/orgs/kubernetes/projects/57

[2021-07-08 18:47] #103192 closed

[2021-07-08 18:58] rphillips commented on #103512
I opened a test revert of [apiserver: add callback to get notified of object count](https://github.com/kubernetes/kubernetes/pull/102998) [here](https://github.com/kubernetes/kubernetes/pull/10359) to see if the new lock impacted performance.

[2021-07-08 19:01] wojtek-t commented on #103512
As I mentioned above - I'm fairly sure it's not performance-related. It seems like it starts hanging because of some reason (panic? deadlock? ...)

[2021-07-08 19:06] wojtek-t commented on #103512
BTW - how you're going to evaluate it? A single success doesn't mean it's that - we're not hard down.

[2021-07-08 19:07] liggitt commented on #103512
as noted in https://github.com/kubernetes/kubernetes/pull/102998#discussion_r666449826, that change is not correct anyway... the parameter does not match the documentation or how APF intends to use it

[2021-07-08 19:09] rphillips commented on #103512
@liggitt https://github.com/kubernetes/kubernetes/pull/102998 doesn't have a delete mechanism either for the map

[2021-07-08 19:21] liggitt commented on #103512
interestingly, apart from the quota integration flake that was recently introduced and fixed, the post-submit integration job looks healthy: https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5

does that run with identical config to the presubmit?

[2021-07-08 19:29] liggitt commented on #103512
answering my own question:

[code]

[2021-07-08 19:35] marina-sd opened #103592 "Add response body in failed HTTP Probe message"
#### What would you like to be added:

It would be helpful to see a descriptive message with response body if HTTP probe failed.

Currently kubernetes returns body as message only for succeeded HTTP probes.
https://github.com/kubernetes/kubernetes/blob/d80e3d104c1f758df644dad38d007f692704baad/pkg/probe/http/http.go#L128-L138

#### Why is this needed:

If HTTP probe failed, it is useful and conveni

[2021-07-08 19:41] neolit123 commented on #103575
hi,

there are a couple of things to note here:
- kubeadm manages the control-plane certificates those that you can use "kubeadm certs renew" with.
- kubeadm does not manage the the kubelet certificates, those are renewed automatically, so this guide is normally not needed:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#kubelet-client-cert
but if you

[2021-07-08 19:41] #103575 closed

[2021-07-08 19:44] neolit123 commented on #103592
/sig node

[2021-07-08 19:44] neolit123 commented on #103581
/sig scheduling
/kind feature

[2021-07-08 20:21] caesarxuchao commented on #48388
/triage accepted

[2021-07-08 20:21] caesarxuchao commented on #75677
/triage accepted

[2021-07-08 20:23] caesarxuchao commented on #103425
/assign @wenjiaswe

Can you triage it? Thank you.

/triage accepted

[2021-07-08 20:23] thockin commented on #103588
/triage accepted

[2021-07-08 20:23] caesarxuchao commented on #103518
/help
/triage accepted

[2021-07-08 20:24] caesarxuchao commented on #103544
/assign @apelisse
/triage accepted

[2021-07-08 20:24] thockin commented on #103576
It seems like a legit bug, to me.  To track that, we'd need an annotation noting that the endpoints is, in fact, managed (vs manual).

[2021-07-08 20:26] thockin commented on #103546
Do we want to allow changing the ingress class after creation?

@bowei @robscott

[2021-07-08 20:34] thockin commented on #103363
This is interesting.  It "feels different" than host net or host IPC or host PID.  Those are meaningful independent of isolation - we know what PIDs and IPC and Networks are.  Cgroups, being part of isolation stack feels like more significant abstraction leak.  I am not sure it IS different, but it feels that way.

Curious to hear node folks' thoughts.

[2021-07-08 20:37] #102654 closed

[2021-07-08 20:38] thockin commented on #102646
Pinging again.  If we don't heart something back, we'll assume you resolved it.

[2021-07-08 20:38] thockin commented on #102398
Pinging again. If we don't heart something back, we'll assume you resolved it.

[2021-07-08 20:38] thockin commented on #102198
Pinging again. If we don't heart something back, we'll assume you resolved it.

[2021-07-08 20:42] thockin commented on #102085
Can you post full apiserver logs of this happening?

[2021-07-08 20:44] thockin commented on #101978
Pinging again. If we don't heart something back, we'll assume you resolved it.

[2021-07-08 20:44] #101216 closed

[2021-07-08 20:45] thockin commented on #101062
Next steps on this?

[2021-07-08 20:45] thockin commented on #101062
/triage accepted

[2021-07-08 20:45] thockin commented on #100895
/triage accepted

[2021-07-08 20:45] #100781 closed

[2021-07-08 20:46] thockin commented on #100648
Next steps here?

[2021-07-08 20:46] thockin commented on #100643
/triage accepted

[2021-07-08 20:47] thockin commented on #99425
/triage accepted

[2021-07-08 20:49] thockin commented on #98570
@robscott @prameshj @bowei What do we do with this?  I don't like reproducible "only on GKE" bug lingering, but I don't believe it's really "only on GKE".

[2021-07-08 20:50] #96868 closed

[2021-07-08 20:57] thockin commented on #55006
/triage accepted

[2021-07-08 20:58] thockin commented on #57130
I am giving up on this dream :)

[2021-07-08 20:58] #57130 closed

[2021-07-08 21:00] #97974 closed

[2021-07-08 21:01] #93297 closed

[2021-07-08 21:02] #103373 closed

[2021-07-08 21:02] #103579 closed

[2021-07-08 21:04] ehashman commented on #97739
/milestone clear

[2021-07-08 21:04] thockin commented on #46508
OK.  Let's consider https://github.com/kubernetes/enhancements/issues/2593 the PoR fix to this.

[2021-07-08 21:04] #46508 closed

[2021-07-08 21:14] BenTheElder commented on #100648
Followed up previously in #sig-node and we have https://github.com/containerd/containerd/issues/5630 for containerd, given https://github.com/kubernetes/kubernetes/issues/100648#issuecomment-820740450 I don't think we're fixing dockershim, so probably we can close this one.

[2021-07-08 21:16] thockin commented on #103184
/triage accepted

[2021-07-08 21:16] BenTheElder commented on #103512
We should consider increasing the timeout in order to allow PRs to merge given code freeze?

[2021-07-08 21:16] rphillips commented on #103512
This is not accurate. I added two debug statements ([here](https://github.com/kubernetes/kubernetes/pull/102998/files#diff-0ed10b7f1202c452adbdc3c2d3a4c26170bdab72ecb88d320292106c80f1601eR58) and [here](https://github.com/kubernetes/kubernetes/pull/102998/files#diff-0ed10b7f1202c452adbdc3c2d3a4c26170bdab72ecb88d320292106c80f1601eR65)) and the code is called in a hack/local-up-cluster.

[2021-07-08 21:24] rphillips commented on #103512
@liggitt approved the revert https://github.com/kubernetes/kubernetes/pull/103590 ... the first two tries for pull-kuberentes-integration passed. We may want to see if the revert fixes the issue.

[2021-07-08 21:28] #98886 closed

[2021-07-08 21:33] thockin commented on #66607
https://github.com/kubernetes/kubernetes/pull/101027 was not assigned to me, so I missed it.

[2021-07-08 21:40] liggitt commented on #103512
I just trolled through the goroutine dump from a [failure](https://prow.k8s.io/log?container=test&id=1413229880652337152&job=pull-kubernetes-integration) to see if any obvious hung candidates stood out ... nothing lept out at me

[code]

[2021-07-08 21:58] tkashem commented on #103512
assuming the tests run serially, I analyzed the tests in `apply` package

[code]

[code]

this sums up to about `5m`, and then the 39th test started running and caused the package to timeout, it took about `5m`

[code]

[2021-07-08 22:08] BenTheElder commented on #103512
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103590/pull-kubernetes-integration/1413245971042668544 just failed on the proposed revert https://github.com/kubernetes/kubernetes/pull/103590

[2021-07-08 22:10] liggitt commented on #103512
fwiw, I checked output from apf_controller.go in integration test stdout logs

on master:
* ~50k lines logged
* ~38k "no match found for request" lines logged

with a [fix](https://github.com/kubernetes/kubernetes/pull/103594) setting a user on integration tests:
* ~13k lines logged
*  ~500 "no match found for request" lines logged
* [still failed](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr

[2021-07-08 22:12] liggitt commented on #103512
I don't think it's a matter of being just over the edge on passing... the failures I've seen have barely made it through half the tests in a package before just getting stuck

[2021-07-08 22:16] tkashem commented on #103512
@liggitt  and looking at the log for the test that took `5m` (TestSubresourceField), the following goroutine stack trace is interesting, it is the goroutine that polls to see if the apiserver is running.

[code]

[code]

[2021-07-08 22:19] tkashem commented on #103512
so my guess is the apiserver does not start up and the 39th test `TestSubresourceField` times out the package.

Also, i think we should provide a timeout here, so the poll actually returns.
[code]

[2021-07-08 22:29] tkashem commented on #103512
the above goroutine blocks at `select` here
https://github.com/golang/go/blob/release-branch.go1.16/src/net/http/transport.go#L2610 (i am not sure go 1.16 is the right version)

[code]

[2021-07-08 22:37] liggitt commented on #103512
hoisting more findings from slack

* the passing periodic job is scheduling to the same CI nodes as the failing presubmit job, so the theory that there are "bad nodes" that explain the failures doesn't seem likely
* there are throttled disk IOps on those nodes starting July 6/7 that look likely to be related (not sure if they are a symptom or a cause):
  * ![image](https://user-images.githubuserco

[2021-07-08 22:38] liggitt commented on #103512
that seems like a good idea, but doesn't explain what changed on 7/6 that made health hang indefinitely

[2021-07-08 22:46] kevindelgado opened #103597 "NewGVKParser fails when an aggregated api server encouters types of same name but different version"
#### What happened:

Attempting to create a new GVKParser fails with
[code]

Upon looking at the output of `/openapi/v2` I see that the OpenAPIDoc has an entry for both `"io.k8s.apimachinery.pkg.apis.meta.v1.APIResourceList"` and `"io.k8s.apimachinery.pkg.apis.meta.v1.APIResourceList_v2"`.

The only difference between them is the link to the documentation in the description of "apiVersion" propert

[2021-07-08 22:46] kevindelgado commented on #103597
cc @apelisse

[2021-07-08 22:46] kevindelgado commented on #103597
/sig api-machinery

[2021-07-08 22:47] tkashem commented on #103512
#103437 merged on 07/5, can we rule this out?

[2021-07-08 22:57] thockin commented on #103286
Where is 1000800s coming from?

[2021-07-08 23:17] robscott commented on #103546
Thanks for raising this issue! This does feel like an area where we need to provide a better experience. Usually for these kinds of decisions, I'd look to StorageClass for a reference, but there's not a great parallel since they enforce immutability here.

We're also somewhat constrained by backwards compatibility here. We can't require this field to be present, but we do at least ensure that both

[2021-07-08 23:24] thockin commented on #103286
I'm having a little trouble following the repro here.  It's clear there's some bound-checking to be done to prevent negative values, but I am not clear what's causing it to go negative or what your repro is trying to prove.  Help me understand?

[2021-07-08 23:45] sftim commented on #103363
This feels like the kind of area where a DaemonSet might not be the right fit. Some things (eg the kubelet) you just have to deploy using mechanisms other than Pods.

[2021-07-08 23:47] sftim commented on #103144
/wg naming

[2021-07-08 23:57] thockin commented on #103363
Not using pods *significantly* raises the difficulty of doing
"interesting" things automatically.  Suddenly it's not something a 3rd
party can provide, it has to be integrated into the node bootstrap.
I'm reluctant to shut that door unless it's really the least-worst
option.

On Thu, Jul 8, 2021 at 4:45 PM Tim Bannister ***@***.***> wrote:

[2021-07-09 00:11] BenTheElder commented on #103363
Why shouldn't the host be responsible for mounting the cgroups filesystem though ...?

Can CNI not just bind-mount the common mount points by default and locate which one has it or require the user to mount it to a sane somewhat common location?

How is being able to make mounts on the host not a huge security hole comparable to a priv pod?

CNI daemonsets are also already quite privileged typical

[2021-07-09 00:17] swetharepakula commented on #103546
Would the default be added on all updates? or only on updates that explicitly remove the ingress class name?

If on all updates, at least with the GKE Ingress controller and possible other providers, the following is possible:
1) User creates ingress using v1beta1 with no annotation, or ingress class name set
2) User starts to use v1 and sets a default class
3) If the default class is not GKE ingr

[2021-07-09 00:27] BenTheElder commented on #103144
Updated comment above, basically I am not trying to say we should only update the docs, but that changes like https://github.com/kubernetes/kubernetes/pull/103188/files#r663185635 and https://github.com/kubernetes/kubernetes/pull/103568#discussion_r666593961 need someone to take up a bit more planning than just substituting the names since they're user facing flags etc., at minimum they need to be

[2021-07-09 00:32] rayw000 commented on #103575
@neolit123 Thank you for your reply. That's a great help to me! I'd like to submit a PR to website repo.

[2021-07-09 00:42] robscott commented on #103546
This is a good idea. I think if we move forward with this, we should limit it to this smaller scope.

My biggest concern with this issue was the following scenario in a cluster with a default IngressClass:

1. User applies ingress yaml, class is set by defaulting because resource is being created.
2. User applies ingress yaml, class is not set (in manifest or defaulting) so class is effectively un

[2021-07-09 01:11] ehashman commented on #97130
/close

Fixed in https://github.com/kubernetes/test-infra/issues/22250 -- the tab/test job has been removed.

[2021-07-09 01:12] #97130 closed

[2021-07-09 01:22] robscott commented on #103576
This actually came up in the design of the EndpointSlice controller. I think there are 2 possible interpretations of a user removing a selector on a Service:

1. The user wants to start over with a completely new set of endpoints managed by themselves.
2. The user wants to start managing endpoints, starting with the existing set curated by the controller.

The Endpoints (and now EndpointSlice) con

[2021-07-09 01:30] chenyw1990 commented on #103366
Hi AlexLast，which container runtimes are you using? containerd?

[2021-07-09 02:03] Ritikaa96 commented on #103518
Solved in https://github.com/kubernetes/kubernetes/pull/103519

[2021-07-09 02:12] custhk commented on #103286
Once bfr.limiter.TryAccept() is false and nextScheduled  is negative  value,  bfr.limiter.TryAccept()  will always be false which lead to bfr.fn() whill never be invoked any more and BoundedFrequencyRunner Loop into an infinite loop which lead to cpu 100%. I'm having this problem in a production environment. The same programs running in different clusters filled the CPU after 11 days and 14 hours

[2021-07-09 02:15] custhk commented on #103286
I think if  bfr.limiter.TryAccept() is false and nextScheduled is negative value, should reset tokens to zero and nextScheduled  to minInterval   or maxInterval

[2021-07-09 02:15] thockin commented on #103576
After discussing, I think the right fix is to update documentation.

On Thu, Jul 8, 2021, 6:22 PM Rob Scott ***@***.***> wrote:

[2021-07-09 02:17] thockin commented on #103286
TryAccept is supposed to occasionally be false (when you are calling too
fast).  Why do you say it stays false forever?

On Thu, Jul 8, 2021, 7:15 PM hk ***@***.***> wrote:

[2021-07-09 02:25] custhk commented on #103286
Because tokens is a cumulative value，once the deviation is generated, it cannot be corrected automatically in the case of periodic execution, waitDuration will always more than zero.

[2021-07-09 02:27] custhk commented on #103286
I'm having this problem in a production environment, and the log information proves this fact

[2021-07-09 02:34] custhk commented on #103286
The time to cause the problem depends on the minInterval.

[2021-07-09 02:42] bswartz commented on #99955
Superseded by https://github.com/kubernetes/kubernetes/issues/103275

[2021-07-09 02:48] chenyw1990 commented on #103366
Hi AlexLast, I have test on v1.22 with containerd, I did not reproduce this issue.

If memory limit is set in the container spec of the pod, /stats/summary will report availableBytes, if  memory limit is not set, /stats/summary will not be reported.
just like this:
![image](https://user-images.githubusercontent.com/1468240/125015814-d2bf2c80-e0a2-11eb-9e89-f38cde4893e5.png)

![image](https://user-

[2021-07-09 03:25] spiffxp commented on #81245
/remove-lifecycle rotten
Sadly https://github.com/kubernetes/kubernetes/pull/100304 fell off my radar this cycle but I think that would get us a bunch of progress here

[2021-07-09 03:32] n4j commented on #95039
/triage accepted

[2021-07-09 03:34] n4j commented on #92211
/triage accepted

[2021-07-09 03:34] n4j commented on #89903
/triage accepted

[2021-07-09 03:35] zxh326 commented on #103576
In my case, i changed svc type `ClusterIP` to `ExternalName`, but endpoints still exist and has full subsets. it's useless, and no one cares that he even exists, it becomes garbage.

I don't understand why this design, svc created, create endpoints, svc deleted, delete endpoints, but svc updated, some case, will not update endpoints.

our document tell me, how to design a controller

Obviously not

[2021-07-09 03:45] robscott commented on #103576
Agreed, I can work on that.

In this case, we interpret a nil selector as the user opting in to manage the Endpoints/EndpointSlices themselves. The real issue is the transition between the two states. Do we leave you with the Endpoints/EndpointSlices that already exist or clean them up and let you start with a clean slate. The existing behavior has been to leave the user with the Endpoints/Endpoin

[2021-07-09 03:48] callum-p commented on #30518
:+1: I've been wanting this for a while so I can use AWS WAF. I use the NGINX ingress controller. I don't want to swap to the ALB ingress controller that doesn't have the same feature set.

[2021-07-09 04:33] n4j commented on #88046
/priority backlog
/triage accepted

[2021-07-09 04:35] n4j commented on #86984
/triage accepted

[2021-07-09 04:38] n4j commented on #85966
/triage accepted

[2021-07-09 04:38] n4j commented on #85330
/triage accepted
/priority backlog

[2021-07-09 04:39] n4j commented on #85330
/remove triage needs-information

[2021-07-09 04:41] n4j commented on #85330
/remove-triage needs-information

[2021-07-09 04:46] n4j commented on #83471
/triage accepted
/priority backlog

[2021-07-09 04:49] n4j commented on #83107
/triage accepted
/priority important-soon

[2021-07-09 05:20] vikramcse commented on #103540
@nikhita @dims
1. for automating mock generation we can add `go:generate` tag in the file where the interface exists
- so whenever we can to generate a mock for a interface we can trigger `go generate <file_name>` command
- we can also add `go generate <filename>` command in makefile

2. there are only 4 files which are using `mokito/testify` so converting them to `gomock/mockgen` will be easier

[2021-07-09 05:31] kerthcet commented on #92229
i saw @Abdullah Gharaibeh commented the only test code, do you have any idea why this going on? @adtac

[2021-07-09 05:36] BenTheElder commented on #103512
https://prow.k8s.io/?job=pull-kubernetes-integration success rate is up, but also CI is less loaded this time of day. will be more telling in another 12 hours at least.

[2021-07-09 06:30] MikeSpreitzer commented on #103167
1. The complaint here is about the comments on the API object types.  Those need to be accurate too.
2. The issue is more pervasive than I realized when I first opened this issue.  What is prohibited for static pod's spec is any reference to any other API object.

[2021-07-09 06:39] stoneshi-yunify commented on #103477
Yes, this is a feature request I guess.

The `allocatable` might be dependent on types of volumes, not StorageClass. Because user can easily create many storageclasses for one type of volume, right? These storageclasses show share one `allocatable` value.

The storageclass can put this type info into the parameters field. e.g.

[code]

And the pv will contains this type info in csi.volumeAttribute

[2021-07-09 06:53] chenyw1990 commented on #103592
/assign

[2021-07-09 07:02] mengjiao-liu commented on #94900
Rename master to control plane or priamry or apiserver according to the context has been basically completed In test/integration.

PR working for this:
#102270
#102272
#102276
#102278
#102279
#102597
#102687
#102877
#102980
#102986
#103294
#103536

Unmodified place:
- system:masters group
- Refers to the variable master-count outside test/integration scope

[2021-07-09 07:02] thockin commented on #103286
hi, I'm feeling rather dumb.  Which `tokens` value do you mean  Deep in golang.org/x/time/rate?

I'm not disputing that there's something amiss, but frankly I don't understand the repro.  Your changes break the functionality.
 How do I get INTO this situation, without modifying all of the libs in question?

[2021-07-09 07:07] custhk commented on #103286
Run this and wait 11 days and 14 hours(i think i maybe need to find a more min minInterval, which can lead to this problem)
func main() {
	runner := NewBoundedFrequencyRunner("syncFunc", syncFunc, 3*time.Second, 10*time.Second, 1)
	go runner.Loop(wait.NeverStop)
	select {}
}
func syncFunc() {
        fmt.Println("do syncFunc")
}

[2021-07-09 07:11] thockin commented on #103576
Hmm, I could see removing Endpoints if the result of the update doesn't use
them (basically only ExternalName).   In this case  there's no reason they
should exist - they mean nothing.  We can do that synchronously from
apiserver (I know, but we already do this on Delete).  EndpointSlice would
want to do this from the controller, if it doesn't already?

On Thu, Jul 8, 2021 at 8:45 PM Rob Scott ***

[2021-07-09 07:15] thockin commented on #103286
LOL.  Help me find a repro that doesn't need 2 weeks ?  Where is that
11 days and 14 hours magic number coming from?  Is the clock changing
such that the tokens calculation goes haywire?

On Fri, Jul 9, 2021 at 12:07 AM hk ***@***.***> wrote:

[2021-07-09 07:28] custhk commented on #103286
Haha, 11 days and 14 hours magic number decide by minInterval and maxInterval. MinInterval decides cycle value(100080).You can change minInterval to 4s, and repro will need 100080*4s.
The root cause is the token deviation caused by the loss of limit accuracy.
If i find one more min minInterval, i wll tell you. It need to try.

[2021-07-09 07:52] uablrek commented on #81775
https://github.com/kubernetes/kubernetes/pull/102122 is now merged and should be included in v1.22.

This should be fixed with kernel >= 5.9.
References to the relevant kernel patches are in the https://github.com/kubernetes/kubernetes/issues/93297.

Please reopen this issue if the problem persists with https://github.com/kubernetes/kubernetes/pull/102122 and kernel >= 5.9.

/close

[2021-07-09 07:52] #81775 closed

[2021-07-09 07:52] rajeshnailwal commented on #102646
Could not resolved it with flannel. Had to use calico with NodePort.

[2021-07-09 07:52] #102646 closed

[2021-07-09 07:53] uablrek commented on #99162
https://github.com/kubernetes/kubernetes/pull/102122 is now merged. This will fix the problem if a kernel >= 5.9 is used.

/close

[2021-07-09 07:53] #99162 closed

[2021-07-09 08:07] 992441831 commented on #34210
yes,It's true

[2021-07-09 08:08] 992441831 commented on #34210
very good

[2021-07-09 08:15] njuptlzf commented on #103303
/assign

[2021-07-09 08:37] custhk commented on #103286
runner := NewBoundedFrequencyRunner("syncFunc", syncFunc, 1031425*time.Microsecond, 2*time.Second, 1)
Cycle:8
it will probe after 16s

[2021-07-09 08:38] custhk commented on #103286
miniInterval set to 1031425 Microsecond
maxInterval set to 2 second

[2021-07-09 08:46] custhk commented on #103286
runner := NewBoundedFrequencyRunner("syncFunc", syncFunc, 1031425time.Microsecond, 2time.Second, 1)
Cycle:8
it will probe after 16s

[2021-07-09 09:24] kvaps commented on #101056
I also faced this issue with docker 20.10.5 and containerd 1.4.4
Installing docker 20.10.7, and containerd 1.4.6 solves this issue.

We've also upgraded without downtime for a running containers by enabling live-restore option in `/etc/docker/daemon.json`:
[code]

[2021-07-09 09:25] JornShen commented on #95750
/reopen

[2021-07-09 09:25] JornShen commented on #95750
/cc @chenyw1990

[2021-07-09 09:30] JornShen commented on #95750
@ikeeip  sorry for delaying long time. And @chenyw1990 you can continue to deal with it based on https://github.com/kubernetes/kubernetes/pull/96448 as I have no much time for it.

[2021-07-09 09:32] voigt commented on #70249
Hey there (@tallclair, @xmudrii, ), Bug-Triage here 👋 ,
looks like this issue hasn't received any update since it has been assigned to `milestone 1.22`. Given the fact that the code freeze for this release already started and the issue has been transitioned a couple of releases yet, **I´d like to suggest clearing the milestone label for now.**

We will remove the `milestone 1.22` label if this iss

[2021-07-09 09:40] voigt commented on #95279
Hey there (@striver619 , @puerco, @liggitt, @justaugustus ), Bug-Triage here 👋 ,
looks like this issue hasn't received any update for a couple of weeks. Given the fact that the code freeze for this release already started, do you think this one is still realistic for 1.22?

Otherwise, I'd like to suggest moving this issue to `milestone 1.23` or even clear the milestone label (as this issue seems t

[2021-07-09 09:45] voigt commented on #97807
Hey there (@jayunit100 ), Bug-Triage here 👋 ,
looks like this issue hasn't received any update since it has been assigned to `milestone 1.22`. Given the fact that the code freeze for this release already started, do you think this one is still realistic for 1.22?

From what I get from the comments this ticket likely resolved in #97809. Maybe we can even close the issue? Would be great if anyone co

[2021-07-09 09:47] voigt commented on #99517
Hey there (@BenTheElder ), Bug-Triage here 👋 ,
looks like this issue hasn't received any update since it has been assigned to milestone 1.22. Given the fact that the code freeze for this release already started, do you think this one is still realistic for 1.22?

If not I'd suggest moving the issue to 1.23 or even clear the milestone label to put back responsibility to the community. wdyt?

[2021-07-09 09:53] voigt commented on #102607
Hey there (@BenTheElder ), Bug-Triage here 👋 ,
looks like this issue hasn't received any update since almost two weeks. Given the fact that the code freeze for this release already started, do you think this one is still realistic for 1.22?

If not I'd suggest moving the issue to 1.23.

[2021-07-09 09:55] voigt commented on #100895
Hey there (@thockin ), Bug-Triage here 👋 ,
given the fact that the code freeze for this release already started, do you think this one is still realistic for 1.22?

If not I'd suggest moving the issue to 1.23.

[2021-07-09 10:04] kerthcet commented on #92229
well, I found some functions missing, maybe because of the code refactor.

[2021-07-09 10:22] js-timbirkett commented on #101607
I've been debugging an issue that  _think_ might be related to conntrack keeping track of `ESTABLISHED` connections to none existent pods after they've been terminated for a few minutes causing timeouts and HTTP 502s.

First...
## Info
Kubernetes version: `v1.20.4-eks-6b7464`
kube-proxy: `602401143452.dkr.ecr.eu-west-1.amazonaws.com/eks/kube-proxy:v1.20.4-eksbuild.2`

## Background and Observation

[2021-07-09 10:48] jupblb opened #103606 "[Failing Test][sig-scalability] gce-cos-master-scalability-100"
#### Which jobs are failing:
sig-release-master-blocking/gce-cos-master-scalability-100
#### Which test(s) are failing:
`e2e.go: diffResources`

#### Since when has it been failing:
July 9th, 20:13 PDT
#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100
#### Reason for failure:
Most likely something is wrong with ssh auth.

The errors started with

[2021-07-09 10:51] jupblb commented on #103606
/priority critical-urgent
/sig scalability
/sig testing
/sig cluster-lifecycle

[2021-07-09 11:01] marseel commented on #103606
/cc @ameukam
I've talked with Arnaud and he pointed that this PR might be related to this issue:
https://github.com/kubernetes/k8s.io/pull/2296

[2021-07-09 12:00] dims commented on #103540
@vikramcse the typical pattern we have is ...
- have a `hack/update-xyz.sh` which one can use to update the files.
- have a `hack/verify-xyz.sh` that runs in CI and can compare what exists in the repo and complains to folks to run the `update-xyz.sh` script

So let's start with a update script ... please scan the existing ones in the hack/ directory to get some inspiration.

[2021-07-09 12:01] craig-riecke opened #103607 ""Error Cleaning Up Jobs" From Cronjob, Which is Not Really an Error"
#### What happened:

This started happening when we upgraded to Kubernetes 1.21. The following message occurs:

[code]

The Cronjob is pretty simple:

[code]

#### What you expected to happen:

No error.  But in fact, it does appear jobs ARE being removed properly regardless of the error message.

#### How to reproduce it (as minimally and precisely as possible):

Use the above.

#### Anything els

[2021-07-09 12:11] dgrisonnet opened #103609 "kubectl config documentation on kubernetes.io is broken"
#### What happened:

In the generated kubectl documentation hosted on https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands, one of the lines in the description of [kubectl config](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config) overlaps the examples section of the command.

![image](https://user-images.githubusercontent.com/22327577/125075577-1cb6

[2021-07-09 12:22] ameukam commented on #103606
Revert of kubernetes/k8s.io#2296 have been applied: https://github.com/kubernetes/k8s.io/pull/2312.

[2021-07-09 13:01] #103185 closed

[2021-07-09 13:01] marseel commented on #103606
I've triggered presubmit, looks like it helped: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103610/pull-kubernetes-e2e-gce-100-performance/1413475339442589696

[2021-07-09 13:03] matthyx commented on #99437
Now let's wait 12h to have the next run of kubelet-orphans
/reopen

[2021-07-09 13:23] chinky1 commented on #79224
Hi, I also like to have a way to reference Secrets from ConfigMaps. I have below prometheus config map where , I am defining target with basic auth which I want to refer from my secrets

 - job_name: 'test'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['test.server.de:8888']
        basic_auth:
            username: "username"
            password: "sec

[2021-07-09 13:30] n4j commented on #91286
/triage accepted

[2021-07-09 13:33] n4j commented on #84764
/triage accepted

[2021-07-09 13:38] matthyx commented on #99979
@ehashman it seems it fails even after merging #102344 so let's continue our discussion on slack

[2021-07-09 13:42] #98457 closed

[2021-07-09 13:42] #98235 closed

[2021-07-09 13:43] n4j commented on #28272
/triage accepted

[2021-07-09 13:54] crokobit commented on #40422
+1

[2021-07-09 14:03] liggitt commented on #100895
if we intend to pick up go1.17 for the 1.22 release branch at any point in the future, this needs to land first.

if go1.17 will be in 1.23+ only, this can move to 1.23

[2021-07-09 14:39] liggitt commented on #103512
pass rate on periodic remains 100% over the last 24 hours: https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5

pass rate on presubmit is ~25% (32/125 runs passed): https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&exclude-non-failed-tests=50&width=5

[2021-07-09 14:45] js-timbirkett commented on #101607
More relevant information:

ALB Idle timeout is set to 300 seconds. Reducing it to 60 seconds sees timeouts and 502's for a lesser amount of time but we have other workloads that fail in different ways when the ideal timeout is lower.

It also feels like lowering the ALB idle timeout is a bit like papering over cracks and that there's definitely something strange going on with the persistent conne

[2021-07-09 14:56] BenTheElder commented on #102607
Test fixes are not subject to code freeze and there is only one remaining fix to make.

[2021-07-09 15:24] brunoarueira opened #103613 "Feature request: Custom http method on ingress http path"
I think the title is self explanatory, but I'll give an example of a simple config below:

[code]

With this new option, the ingress will route a specific path with a specific HTTP method to the defined backend service. Another take on the same subject will allow or disallow certain paths to not route to the backend (e.g PUT /v1/foo)

Some people already request this on the nginx ingress implement

[2021-07-09 15:25] brunoarueira commented on #103613
/sig network

[2021-07-09 15:28] tkashem commented on #103512
So I took another integration failure and looked into it
[code]

The first 38 tests run for about `5m` and the 39th test `TestSubresourceField` times out
[code]

`TestSubresourceField` started running at `07:35:49` and timed out at `07:41:02`
[code]

let me look at the go stack traces to see if i see the same behavior

[2021-07-09 15:38] liggitt commented on #103512
the test-integration jobs captures etcd debug log in addition to test output... what do we see in the etcd debug log between the last passing test in the package and the package timeout?

[2021-07-09 15:39] neolit123 commented on #103512
Are these timeouts consistantly reproducible locally?

That's the etcd endpoint that the kube-apiserver connects to. We did upgrade etcd to 3.5.0 from 3.5.0-rcX recently.

[2021-07-09 15:40] liggitt commented on #103512
do you have a pointer to when/where that happened? the integration test job uses the etcd in the path, so it is likely the one built into the kubekins-e2e image

[2021-07-09 15:42] #28486 closed

[2021-07-09 15:42] #99368 closed

[2021-07-09 15:43] #103251 closed

[2021-07-09 15:43] #103572 closed

[2021-07-09 15:51] neolit123 commented on #103512
the update merged on 7/7 (two days ago):
https://github.com/kubernetes/kubernetes/pull/103142
i do not see any `/retest` commands on the PR.

i was asking about local reproducibility to rule out test cluster node starvation.

[2021-07-09 15:51] thockin commented on #103286
I see it.  Changing all the libs to float64 makes THIS repro go away, but I'll dig into it so that I can plausibly explain it.

[2021-07-09 15:56] tkashem commented on #103512
I see a go routine associated with a request blocked for `9m`, that should not happen since no test executes for that long, and the hung test times out after about `5m`, so this tells me that a request from an old apiserver instance blocked (it is basically waiting for the watch to be ready, so may be related to etcd).

it could be a red herring, at the very least the issue is that from one test r

[2021-07-09 16:08] neolit123 commented on #103512
i think we need to check what nodes these job runs landed on, and if the nodes have equal HW specs and available resources during the runs. likely #test-infra would know how to do that.

[2021-07-09 16:11] Congelli501 commented on #103542
Unfortunately not, I opened the issue as the other issue with the same errors (https://github.com/kubernetes/kubernetes/issues/97497) states it may not be solved.
It was during the creation of a pod created by a new statefull set, but the cluster runs more than 200 statefull sets with that same image and just a different mount.
So there is nothing special about what I did, so the issue seems extre

[2021-07-09 16:24] tkashem commented on #103512
so these errors are prevalent during the last `5m` which roughly coincides with the window when `TestSubresourceField` started executing.

[code]

[2021-07-09 16:27] liggitt commented on #103512
I looked yesterday, and the presubmit and periodic jobs were landing on the same nodes in the same node pool

[2021-07-09 16:28] neolit123 commented on #103512
there is an open issue about this here:
https://github.com/etcd-io/etcd/issues/9165

but it is qualified as "noisy logs" and not actual problems, i think.

could you share the full log at e.g. pastebin.com?

[2021-07-09 16:38] blitzd commented on #95916
@ehashman I was able to test this finally and I did not run into any warnings or errors after running the sample cronjob from the k8s docs for 24 hours.

[2021-07-09 16:47] neolit123 commented on #103512
i guess it also depends on how much is running in parallel for the presubmit vs periodic on the nodes.

i don't see anything other than these grpc warnings in the logs.

we could send an etcd revert PR to an old version and `/test all` it multiple times to see what happens.

supported versions:
https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/etcd?gcrImageListsize=30
example PR:
h

[2021-07-09 16:48] thockin commented on #103286
Here's a simpler repro, cutting BFR out of the loop:

[code]

[2021-07-09 16:53] tkashem commented on #103512
interesting, there is a gap of `5m` nothing in the log.
[code]

and then a bunch of network error and the test times out.

[2021-07-09 16:54] thockin commented on #103286
https://github.com/golang/go/issues/46579

[2021-07-09 16:57] tkashem commented on #103512
@neolit123 the logs are here - https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/103465/pull-kubernetes-integration/1413395038607511552/artifacts/

[2021-07-09 17:17] lambdanis commented on #100760
There was a flake of `Kubernetes e2e suite.[sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should mutate custom resource with pruning [Conformance]` yesterday: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-latest/1413083890691608576

The error was different than the originally reported one, but maybe it's the same issue:
[code]

The same build

[2021-07-09 17:19] thockin commented on #103286
Fix proposed in https://golang.org/cl/325289

[2021-07-09 17:32] lambdanis commented on #100787
There was a flake yesterday: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-latest/1413083890691608576

But this issue looks like an exact duplicate of https://github.com/kubernetes/kubernetes/issues/100760, I think one of them should be closed.

[2021-07-09 17:40] liggitt commented on #103512
looking at the integration test logs, it looks like integration tests from different packages run in parallel... I'm wondering if we're getting ephemeral port exhaustion or something similar

even though the timelines for flakiness don't line up exactly, the PodSecurity integration tests added a large number of create requests to integration tests in the past week (2554 testcases * 2 object types

[2021-07-09 18:01] BoleynSu opened #103618 "kubectl apply timeouts on /openapi/v2?timeout=32s"
#### What happened:
`kubectl apply` timeouts on /openapi/v2?timeout=32s.
Note that it may also cause other cmds to timeout.
#### What you expected to happen:
`kubectl apply` should call /openapi/v2 instead of /openapi/v2?timeout=32s.
According to `kubectl options`, for `--request-timeout`, a value of zero means don't timeout requests.
#### How to reproduce it (as minimally and precisely as possibl

[2021-07-09 18:03] BoleynSu commented on #103618
/sig cli

[2021-07-09 18:22] BoleynSu commented on #103618
I have submitted a patch to correct the current behavior. However, as it has been there for 3 years, it is very likely that someone is already depending on the current behavior. If we do not want to change the current behavior, maybe we can change the usage message instead?

[2021-07-09 18:54] thockin commented on #103546
Try using `replace` rather than `apply`.  This is the same problem as
clusterIP and NodePort (which I just fixed this week).

The questions I have:

Do we want to allow users to change class at all?  In theory you could have
2 classes with the same provisioner and different params, so update could
be less impactful than delete/recreate.  Is that actually likely?  It seems
more likely that differen

[2021-07-09 18:58] krmayankk commented on #100405
@serathius @ehashman  is this available to work on ? I am some people in my team looking to help out ?

[2021-07-09 19:15] robscott commented on #103546
Although I agree that it seems likely that a change to IngressClassName will result in effectively tearing down and recreating infrastructure, I think there are legitimate use cases where that will not happen. One of the big selling points of an IngressClass (and GatewayClass) resource was that cluster admins could provide a consistent experience across envs. Consider the following scenario:

1. A

[2021-07-09 19:21] thockin commented on #103546
yes

Yes, this would prevent un-classing yourself.  By definition, if you have the defaultingressclass enabled you are saying "don't allow ingress with no class", so this seems consistent to me?

[2021-07-09 19:24] robscott commented on #103546
That's a good point. I think one implementation detail is that we'd still want to allow users to unset the IngressClassName field if the annotation was set (similar to the existing defaultingressclass logic for create).

[2021-07-09 19:48] kzys commented on #103485
Resolved? #103429 has been merged.

[2021-07-09 20:08] apelisse commented on #103544
I don't think it makes sense to keep this open. This is a well known bug and we have no plan to fix it ever.

[2021-07-09 20:11] howardjohn commented on #103544
As HTTP3 becomes more common this bug will become a bigger issue. Currently it mostly impacts DNS so its not that big of a deal since users aren't applying dns Services often. Soon it will be the norm for ingress' to have 443 on UDP and TCP.

[2021-07-09 20:34] sejr commented on #103559
/assign

[2021-07-09 21:47] ankurchoubeymsft opened #103622 "Change in NodePort for LoadBalancer services causes traffic drop in presence of cloud provider errors"
#### What happened:
If there is a change in the NodePort for a service with type=LoadBalancer, and the EnsureLoadBalancer operation failed to update cloudprovider's load balancer with the new NodePort, the iptables rules for old NodePort are still removed causing a 100% drop in availability/connectivity of the external facing IP address leading to a service outage.

The kubeproxy updated the iptab

[2021-07-09 22:06] ehashman opened #103623 "[Failing test] [sig-node] InodeEviction [Slow] [Serial] [Disruptive][NodeFeature:Eviction] when we run containers that should cause DiskPressure should eventually evict all of the correct pods"
### Failure cluster [11581380bb0484f16dc6](https://go.k8s.io/triage#11581380bb0484f16dc6)

##### Error text:
[code]
#### Recent failures:
[7/9/2021, 3:24:55 AM ci-kubernetes-node-kubelet-eviction](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-eviction/1413444022743076864)
[7/8/2021, 10:54:57 PM ci-kubernetes-node-kubelet-eviction](https://prow.k8s.io/view/gs/kubern

[2021-07-09 22:10] ehashman opened #103624 "Failing job: ci-kubernetes-e2e-gci-gce-scalability / Failure cluster [7730c0d0...]"
### Failure cluster [7730c0d06ad08315e92d](https://go.k8s.io/triage#7730c0d06ad08315e92d)

##### Error text:
[code]
#### Recent failures:
[7/9/2021, 4:15:21 AM ci-kubernetes-e2e-gci-gce-scalability](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1413456354412072960)
[7/9/2021, 3:44:10 AM ci-kubernetes-e2e-gci-gce-scalability](https://prow.k8s.io/view/gs/k

[2021-07-09 22:22] ehashman opened #103625 "Kubelet panic in syncTerminatedPod"
#### What happened:

When testing #102344 against OpenShift CI, I discovered a panic in the kubelet: https://github.com/openshift/kubernetes/pull/851#issuecomment-877469501

Further investigation revealed that it is possible for `syncTerminatedPod` to panic under certain circumstances: https://github.com/kubernetes/kubernetes/blob/a0d77e5763ac04ddc713bf2e284580d32fd4b079/pkg/kubelet/pod_workers.go

[2021-07-09 22:23] ehashman commented on #103606
I'm not sure if https://github.com/kubernetes/kubernetes/issues/103624 is a dupe or related.

[2021-07-09 22:44] ameukam commented on #103606
@ehashman It's related to the change we introduced. Looking at https://prow.k8s.io/?job=ci-kubernetes-e2e-gci-gce-scalability and https://testgrid.k8s.io/sig-scalability-gce#gce-cos-master-scalability-100, I don't think the job is still impacted.

[2021-07-09 22:47] #81427 closed

[2021-07-09 22:47] #81232 closed

[2021-07-09 23:24] neolit123 commented on #103512
comparing logs between a green periodic run:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1413595273233436672
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1413595273233436672/build-log.txt

and red pull run:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1413467474686382

[2021-07-09 23:47] rphillips commented on #103625
/triage accepted

[2021-07-10 01:46] wyq984700527 commented on #68736
hello, how to limit the capacity?

[2021-07-10 02:06] #103208 closed

[2021-07-10 02:14] custhk commented on #103286
OK, thanks

[2021-07-10 02:15] liggitt commented on #103512
success rate over the last three hours is 100% since https://github.com/kubernetes/kubernetes/pull/103617 merged

[2021-07-10 02:17] liggitt commented on #103512
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=integration&test=TestMain shows no TestMain failures since that merged as well.

I think more investigation is needed to figure out what tripped the errors, and why the periodic and presubmit jobs showed such dramatically different behavior, but I think the emergency is over for the moment

[2021-07-10 02:27] njuptlzf commented on #103559
Can you describe it a little bit in your pr? I hope to learn this process. :- )

[2021-07-10 02:40] #103210 closed

[2021-07-10 03:50] #53188 closed

[2021-07-10 04:48] #97111 closed

[2021-07-10 05:49] #97983 closed

[2021-07-10 07:59] smb-h commented on #60140
Still getting this, on a `tar.gz` of ~400MB

[2021-07-10 08:07] anantadwi13 commented on #59411
perhaps you could send a null char instead of a whitespace
`while :; do sleep 10; echo -ne '\0' >&2; done &`

[2021-07-10 11:45] ka1em commented on #103530
@pacoxu This cluster has three nodes, not too many pods, only more than 50. It has been running for nearly three months. Two of them have been running without problems. The pods use localpv. I have seen that there is no pressure on the cpu, memory, and disk;

@hysyeah This detail can be ignored, kubelet seems to have not reached the pod start position.

[2021-07-10 13:45] vikramcse commented on #103540
@dims I have started working on the `update script`, which generates the mock files by reading the `go:generate` command mentioned in the comments.
I went through existing update scripts and have done some rough bash script
Am I on right track?

[2021-07-10 15:11] dims commented on #103540
yep, please open up a draft PR

[2021-07-10 15:19] vikramcse commented on #103540
@dims
Thank You for your guidance :)
converted to Draft PR

I have a question
- by this approach this script will scan each `go:generate` command every time and regenerate the mock file, so is there any need to avoid that regeneration? if yes then how can I check that

[2021-07-10 16:05] dims commented on #103540
@vikramcse look at how verify-gofmt.sh works

[2021-07-10 16:55] #98966 closed

[2021-07-10 18:00] su225 commented on #103544
+1 for the QUIC + HTTP/3 use case where both 443 TCP and UDP should be open.

[2021-07-10 20:40] quentingodeau opened #103632 "[Documentation] Update the TCP probe documentation do explain when the application will really be "not alive""
Hi,

The documentation of the TCP liveness/readiness probe only say:

But I think that this explanation can lead to false assertion. The TCP handshake is performed by the underlying operating system, meaning that the client (in our case k8s) will successfully connect to the containerized application even if this one doesn't `accept` it. It will only start to failed when the backlog queue provides

[2021-07-10 20:45] quentingodeau commented on #103632
/sig docs

[2021-07-11 03:36] n4j commented on #97007
/triage accepted
KEP https://github.com/kubernetes/enhancements/pull/1592

[2021-07-11 03:41] n4j commented on #103046
Related work https://github.com/kubernetes/enhancements/pull/2370

[2021-07-11 04:00] n4j commented on #76951
/triage accepted

[2021-07-11 04:16] n4j commented on #86843
/triage accepted

[2021-07-11 09:43] marianabocoi commented on #103518
/assign Ritikaa96

[2021-07-11 12:34] mohjam2004 commented on #102085
Hi,
I'll send full API log as soon as possible.

[2021-07-11 12:38] sanposhiho opened #103633 "scheduler: Make it clear that EnqueueExtensions has the role of dynamic event handlers registration"
Hello team 👋  (I'm sorry this Issue is not on the issue template.)

It is related to #100347 #101394
With #101394, we use EnqueueExtensions.EventsToRegister() for dynamic event handlers registration.

So, now EnqueueExtensions has two roles.

1. move unschedulable Pods in internal scheduling queues efficiently
2. dynamic event handlers registration

Currently, there is no description of role2 in E

[2021-07-11 14:06] #98998 closed

[2021-07-11 14:21] mingregister commented on #101056
I also face the same problem:

`[2021-07-11 19:39:07] [company-server-121] [kubelet:] [E0711 19:39:07.668471   28566 fsHandler.go:118] failed to collect filesystem stats - rootDiskErr: could not stat "/home/docker/overlay2/f87f0f28e6ac885c1bddb11dcb53b324320c4735beb39ebeb7924639b6e82664/diff" to get inode usage: stat /home/docker/overlay2/f87f0f28e6ac885c1bddb11dcb53b324320c4735beb39ebeb7924639b6e

[2021-07-11 15:46] vikramcse commented on #103540
@dims I noticed there are some `interfaces` which does not exists in file

for e.g below mock is generated from `NetworkPlugin` interface from `k8s.io/kubernetes/pkg/kubelet/network` package
that interface does not exists in that package.

https://github.com/kubernetes/kubernetes/blob/388c2d901d185d34a340fcae566bd38b73bdb704/pkg/kubelet/dockershim/network/testing/mock_network_plugin.go#L19-L21

No

[2021-07-11 16:14] Bessonov commented on #62078
/remove-lifecycle stale

[2021-07-11 16:54] gjkim42 commented on #103356
Closed in favor of the [pod safety design](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/pod-safety.md).

[2021-07-11 16:54] #103356 closed

[2021-07-11 19:40] dims commented on #103540
we should try to fix the existing test to use the NEW NetworkPlugin @vikramcse

[2021-07-11 22:50] aojea commented on #103512
I was only able to took at 2 samples, and it seems this error happens at the same time some of the test fail

that seems to happen if some clients are not respecting the minimum GRPCKeepAliveMinTime

[code]
https://github.com/etcd-io/etcd/blob/beae2e1801663cfc46b73c5d6f4f238713153183/server/embed/config.go#L239-L245

is it possible we have a mismatch between the client grpc versiona and the new et

[2021-07-11 23:10] #99002 closed

[2021-07-11 23:10] liggitt commented on #103512
That looks related to https://github.com/kubernetes/kubernetes/pull/101604

are we enabling an option in the client that requires the server to expect it?

[2021-07-11 23:16] Riaankl commented on #92949
/remove-lifecycle stale
Focus for 1.23

[2021-07-12 00:25] Huang-Wei commented on #103633
I agree we can improve the documents (or in-line comments) to make the behavior clearly understandable.

Not quite a fan of the renaming. The interface `EnqueueExtensions` describes the semantics accurately - users can implement this interface to impact scheduler to enqueue pods efficiently. Although `EventsToRegister()` is the unique method of this interface, we may add more methods in the future

[2021-07-12 00:26] Huang-Wei commented on #103633
/kind documentation

[2021-07-12 00:26] Huang-Wei commented on #100347
All items have been completed in 1.22. Close it.

[2021-07-12 00:26] #100347 closed

[2021-07-12 06:34] CaoDonghui123 commented on #103625
/assign

[2021-07-12 06:57] saschagrunert commented on #103485
Yes, this one can be closed
/close

[2021-07-12 06:57] #103485 closed

[2021-07-12 07:13] #95803 closed

[2021-07-12 07:38] NaNi-Z opened #103637 "FC pv attached a wrong lun"
#### What happened:
there is a fc pv which is configured to use lun-1, but when the pod which uesd this pv is running, it attached a block with lun-10.

#### What you expected to happen:
it attached the lun-1 block

#### How to reproduce it (as minimally and precisely as possible):
create fc blocks to the cluster with lun-1 and lun-10
create a pod uses the lun-1 block and run it
delete the pod or

[2021-07-12 08:36] pacoxu commented on #103512
https://github.com/etcd-io/etcd/issues/8905#issuecomment-346416412
A similar issue: grpc/grpc-go#3171 (comment).

I thought it is only a client configuration. But it seems that configuration in server-side is also needed.
The `--grpc-keepalive-min-time` of etcd should be configured if we set `PermitWithoutStream` to true

https://github.com/etcd-io/etcd/blob/main/server/embed/etcd.go#L716-L722
if

[2021-07-12 08:59] marseel commented on #103606
/close
I think we can close this issue now. Revert fixed issue.

[2021-07-12 08:59] #103606 closed

[2021-07-12 09:00] marseel commented on #103624
It's duplicate of #103606
All scalability tests were affected by this issue.
/close

[2021-07-12 09:00] #103624 closed

[2021-07-12 09:09] pires commented on #87770
This is on me, haven't been able to wrap up a PR.

/remove-lifecycle stale

[2021-07-12 09:31] susana-garcia commented on #53459
+1

[2021-07-12 10:05] ChipWolf commented on #57187
/remove-lifecycle stale

[2021-07-12 10:44] aojea commented on #100895
@kubernetes/release-team can you take a look at Jordan's comment about golang 1.17?

[2021-07-12 12:01] voigt commented on #82532
As we already approached code freeze for 1.22 and this issue is frozen, I'm going to remove the `milestone 1.22` label.
Feel free to assign it to another milestone, once development on this topic gets traction again.

/milestone clear

[2021-07-12 12:08] voigt commented on #100152
Hey there (@rphillips, @serathius, @pacoxu), Bug-Triage here 👋 ,
Given the fact that the code freeze for this release already started, I´d like to suggest moving this issue to the next milestone. wdyt?

[2021-07-12 12:12] voigt commented on #100024
Hey there, Bug-Triage here 👋 ,
Given the fact that the code freeze for 1.22 already started and this issue has been moved from release to release, I'm clearing the milestone label for this issue.

Feel free to assign it to an appropriate milestone again, once this issue is under active development again.

/milestone clear

[2021-07-12 12:20] voigt commented on #102849
Hey there (@immuzz, @jsturtevant, @aravindhp), Bug-Triage here 👋 ,
Given the fact that the code freeze for 1.22 already started I'd suggest moving this issue to 1.23. wdyt?

[2021-07-12 12:30] voigt commented on #94626
Hey there (@pacoxu, @liggitt), Bug-Triage here 👋 ,
As we already approached code freeze for 1.22 and this issue is frozen. I'd like to suggest moving this issue to 1.23 release. wdyt?

[2021-07-12 13:11] pacoxu commented on #94626
Agree.

[2021-07-12 13:48] smarterclayton commented on #103625
The bug is that running pods should terminate and then stop, not move to terminated. So something is getting into terminated but should never be in any other work type than terminating.  We'll need more debug to determine why but I suspect that an orphaned pod is still in podSyncStatus at the time it UpdatePod is called, which means it's not seen as being in Terminating.  isRuntimePod forces podSy

[2021-07-12 14:43] bhouston commented on #83471
We also see this issue on a regular basis whenever we switch GKE to pre-emptive nodes, rather than dedicated.  Unsure if it is because it is pre-emptive or just that pre-emptive nodes are more likely to restart regularly and thus these type of low probability errors now occur more frequently.

[2021-07-12 15:08] TheKangaroo opened #103643 "Pods in CreateContainerConfigError keep pulling image / exceed docker hub rate limit"
#### What happened:
A pod stuck in CreateContainerConfigError (in my case because svcat wasn't ready and the pod depends on an s3 bucket) keeps pulling the image without any crash loop backoff.
We have a payed dockerhub subscription to pull images, but it turned out this failing daemonset (9 pods in total) exceeds the "fair use" policy of docker (in our case the average was 289,400 pulls/day).
The

[2021-07-12 15:09] pjbgf commented on #97273
/remove-lifecycle stale

[2021-07-12 15:18] TheKangaroo commented on #70679
Quick question @mikedanese:
you changed `Pods running as non root need an fsGroup or they will not have permission to read the token.` to strikethrough but I cannot find a way to make non root pods accessing the token without setting fsGroup on that pod.
Is there something I'm missing? 🤔

[2021-07-12 15:19] mkubdev commented on #82169
@Nanduyana me neither.. i get `No such file or directory` if i ommit `/`

[2021-07-12 15:22] novahe commented on #103643
/assign

[2021-07-12 15:26] mohag commented on #53201
/remove-lifecycle rotten

Still present

[2021-07-12 15:30] njuptlzf commented on #98440
I verified `option 1`. As @liggitt said, SPDY will not serialize PodPortForwardOptions,
The simple way I can think of to get the `remotePort ` is to insert it into `req.Header`.

[2021-07-12 15:45] palnabarun commented on #100895
Since Go 1.17 is going to be released in [Aug 2021][1] and Kubernetes 1.22 is slated to be released on [Aug 4][2], I don't think 1.22 release branch is going to be updated to Go 1.17 before Aug 4. This should not be a release blocker and I agree with Jordan that this can be moved to 1.23.

[1]: https://tip.golang.org/doc/go1.17#introduction
[2]: https://k8s.dev/release

[2021-07-12 15:54] marosset commented on #102849
@voigt - We'll move it to 1.23 thanks!

[2021-07-12 15:55] marosset commented on #102849
/milestove v1.23

[2021-07-12 15:55] marosset commented on #102849
/milestone v1.23

[2021-07-12 16:31] marosset commented on #73434
/close

Termination grace period is working for Windows pods/containers with CRI-ContainerD and there are no plans to update docker / moby to get support this.

[2021-07-12 16:31] #73434 closed

[2021-07-12 16:46] ehashman commented on #103625
@rphillips has bumped, here's a v=4 log with a panic: https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/openshift_kubernetes/851/pull-ci-openshift-kubernetes-master-e2e-aws-fips/1414584954561499136/artifacts/e2e-aws-fips/gather-extra/artifacts/nodes/ip-10-0-202-81.us-west-2.compute.internal/journal

[2021-07-12 17:19] neolit123 commented on #100966
given this is in the in-review board:

/remove-lifecycle stale

[2021-07-12 17:31] smarterclayton commented on #103625
Elana got the version with more logs and it is indeed the case that the pod is terminating (in this case because a CSI volume hasn't been torn down).

So the bug is:

1. Pod worker for the pod is still running (terminating has completed, but is executing syncTerminatedPod)
2. Housekeeping runs, calls `runtimeCache.GetPods()`, gets a stale result for a pod (thinks the pod is still running, but that

[2021-07-12 18:11] Random-Liu commented on #103625
My understanding is that we make pod worker the source of truth for pod state. In this kind of race condition, as long as the request is sent to the pod worker, and the pod UID matches, it should be able to reconcile the state.

Even if we do this, it is not atomic, the race condition still exists in theory. We probably should make the pod worker be able to reconcile the state.

[2021-07-12 18:27] lambdanis commented on #102865
The PR mentioned above was merged 10 days ago, but it didn't fix the failing tests.

I checked the recent failures, and I didn't see anything failing exactly with the error @ramrodo reported (`Error getting c-m metricValues: error waiting for controller manager pod to expose metrics: timed out waiting for the condition; the server could not find the requested resource (get pods metrics-proxy:10257

[2021-07-12 18:54] pohly commented on #102865
If I read https://github.com/kubernetes/kubernetes/blob/584658a17d958f0b663cb39dec1907cbba641300/test/e2e/storage/volume_metrics.go#L781-L790 correctly, this means that the test doesn't get the metrics that it expects. I'm not entirely sure, but I think if it ran into an actual error, it would fail differently. Can you check whether there's any mention of "Error fetching controller-manager metrics

[2021-07-12 19:35] andrewsykim commented on #103512
Came here to report that I saw timeout issues on this run https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103645/pull-kubernetes-integration/1414651893304528896

I noticed in https://github.com/kubernetes/kubernetes/pull/103598 we tried to alleviate the issue by adding a context timeout to /heatlhz check but there's another /healthz check here that I think we missed:

https://github.co

[2021-07-12 20:14] alculquicondor commented on #99986
The threshold is actually configurable. The problem is that setting it low potentially makes Jobs unusable.
I think we can only solve this in 1.23 when kubernetes/enhancements#2307 graduates to beta.

[2021-07-12 20:31] smarterclayton commented on #103625
Here's the most concerning scenario:

1. Pod is terminated and then deleted from apiserver
2. `syncTerminatingPod` kills the container
3. `syncTerminatedPod` is taking a very long time
4. shortly after 2, housekeeping fires and sees the stale cache, triggers a kill
5. (proposed change) ignore the kill request (since terminated pod is running)
6. user restarts container in the pod that references a

[2021-07-12 20:44] spiffxp opened #103647 "failing jobs: ci-kubernetes-build-deprecated (and release-branch variants)"
#### Which jobs are failing:
- ci-kubernetes-build-deprecated
- ci-kubernetes-build-deprecated-1-21
- ci-kubernetes-build-1-20-deprecated
- ci-kubernetes-build-1-19-deprecated

#### Which test(s) are failing:
n/a

#### Since when has it been failing:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build-deprecated/1413581431765995520 - last good started at 2021-07-09 19:30:55 +

[2021-07-12 20:46] spiffxp commented on #103647
/triage accepted

[2021-07-12 20:47] BenTheElder commented on #103643
/sig node

[2021-07-12 20:51] spiffxp commented on #103647
[code]

Looks like maybe the `--release` needs to be moved to get picked up by whatever `bootstrap.py` is invoking.  Also, having a total lack of logs when bootstrap's default entrypoint fails is a fun failure mode.  Ever more reason to stop using it (ref: https://github.com/kubernetes/test-infra/issues/20760)

[2021-07-12 21:00] Random-Liu commented on #103625
But this basically means that after `syncPodTerminating`, there could still be running containers.

In that case, this wouldn't be the only problem, the whole assumption the refactor builds on becomes invalid?

[2021-07-12 21:02] spiffxp commented on #103647
https://github.com/kubernetes/test-infra/pull/22864 should resolve, will hold open until we see successful job runs post-merge

[2021-07-12 21:03] mrunalp commented on #103625
cri-o doesn't support restarting a container, either.

[2021-07-12 21:34] neolit123 commented on #103637
/sig storage

[2021-07-12 22:18] enj commented on #99603
Based on what I observed in https://github.com/kubernetes-sigs/kind/issues/2229#issuecomment-832207205, it looks like `--token` does not override client certs in static config, which is wrong.  In general we need to fix credential precedence handling in `kubectl` per https://github.com/kubernetes/kubernetes/issues/99603#issuecomment-788194837.

[2021-07-12 22:24] janetkuo commented on #67250
/lifecycle frozen

[2021-07-12 22:54] skyrain opened #103649 "resource quota cpu limit smaller than cpu request in "used" section"
#### What happened:
For resource quota, the cpu limit is `0`, while cpu request is `500m`
#### What you expected to happen:
cpu limit should always be larger than or equal to cpu request value.
#### Environment:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: bare metal

<img width="1786" alt="rq2" src="https://user-images.githubusercontent.com/3346

[2021-07-12 23:24] #103649 closed

[2021-07-12 23:25] skyrain commented on #103649
it might be because that the we only set the `request` value and not of `limit`, so in `used` section the `limit` value is `0`

[2021-07-13 01:13] spiffxp commented on #103647
/reopen
I could have sworn I didn't use an auto-closing keyword...

[2021-07-13 01:15] spiffxp commented on #103647
/close
...aaand closing again, I see green runs for all of the affected builds:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build-deprecated/1414718863399981056
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build-deprecated-1-21/1414715087746240512
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build-1-20-deprecated/141471106034617

[2021-07-13 01:15] #103647 closed

[2021-07-13 02:01] lambdanis opened #103651 "[Failing Test] [sig-storage] subPath should unmount if pod is deleted while kubelet is down (ci-kubernetes-e2e-gci-gce-serial)"
#### Which jobs are failing:
ci-kubernetes-e2e-gci-gce-serial (gce-cos-master-serial)

#### Which test(s) are failing:
Four `Kubernetes e2e suite.[sig-storage] * Volumes [Driver: *] [Testpattern: *] subPath should unmount if pod is * deleted while kubelet is down [Disruptive][Slow][LinuxOnly]` tests:

* Kubernetes e2e suite.[sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV

[2021-07-13 02:13] zhangguanzhang commented on #90503
It works for me
https://kubernetes.io/zh/docs/concepts/containers/images/#%E9%85%8D%E7%BD%AE-node-%E5%AF%B9%E7%A7%81%E6%9C%89%E4%BB%93%E5%BA%93%E8%AE%A4%E8%AF%81

[2021-07-13 02:27] lambdanis commented on #102865
Nope, there is nothing like that in [raw build logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1414593366405943296/build-log.txt).

Ah, yes, this one doesn't look directly related. We should track it in a separate issue probably, I'll check it.

I opened another issue for tracking unmounting failures in the same job: https://github.com/kubernetes/kuber

[2021-07-13 02:50] huchen2021 opened #103652 "How to generate yaml in cluster to let work node to join"
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network

[2021-07-13 02:59] CaoDonghui123 commented on #103652
doc:https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-config/

[2021-07-13 03:34] lambdanis opened #103655 "[Failing Test] [sig-scheduling] Pod should avoid nodes that have avoidPod annotation (ci-kubernetes-e2e-gci-gce-serial)"
#### Which jobs are failing:

ci-kubernetes-e2e-gci-gce-serial (gce-cos-master-serial)

#### Which test(s) are failing:

Kubernetes e2e suite.[sig-scheduling] SchedulerPriorities [Serial] Pod should avoid nodes that have avoidPod annotation

#### Since when has it been failing:

June 19th 2021 ([build](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-kube-dns-no

[2021-07-13 04:10] apelisse commented on #100012
/lifecycle frozen

[2021-07-13 04:16] apelisse commented on #102810
Wait, why don't people just do `kubectl delete -f thing-they-applied.yaml` again?

[2021-07-13 04:34] smarterclayton commented on #103625
The assumption in the kubelet is there are no more containers started by the kubelet, which is indeed safe.  That doesn’t prevent bugs in CRI implementations, user error, cosmic rays, basically computers.  It’s unlikely and not something we really designed for before, but the prerefactor code would survive it.

https://github.com/openshift/kubernetes/pull/855

Appears to have gotten past the issue

[2021-07-13 04:35] smarterclayton commented on #103625
In general a little defensiveness here to unreliable external components has only minor cost, and some mitigation seems reasonable.

[2021-07-13 05:32] beaudryj commented on #59876
what.... a .... Joke.........

Thank you!

[2021-07-13 06:14] Jiawei0227 commented on #103403
This is expected. In-tree volumes will be added the topology labels because of label admission control. But for CSI drivers, the admission controller does not add labels for it. So it is the driver's responsibility to add their own labels.

This is related to the CSI migration feature. But here It seems you are using the CSI driver directly? So I think this is not related.

I think this issue is a

[2021-07-13 06:14] Jiawei0227 commented on #103403
/reopen

[2021-07-13 06:16] Jiawei0227 commented on #103403
So you mentioned here in previous version labels are correctly set, I guess you are talking about the intree case? And in 1.18 you are using csi driver?

[2021-07-13 06:50] mohjam2004 commented on #102085
Hi,
Today I run the conformance test. fortunately or better to say unfortunately this part of conformance test has passed:
[sig-network] Service endpoints latency should not be very high  [Conformance]
But I can see a little latency.
Any way I have attached the full API log from the beginning of conformance test till "the service endpoints latency" part is done.

[api.zip](https://github.com/kuber

[2021-07-13 07:10] AlwaySummit commented on #103403
Hi @Jiawei0227 thanks for your implication.

Yes. I used in-tree plugin in 1.17. Due to the deprecation of in-tree plugin in 1.18, I use CSI driver which is `pd.csi.storage.gke.io` instead of in-tree one. As a matter of fact, I tested both of ways which are directly using csi driver and using in-tree one which is translated to `pd.csi.storage.gke.io`  automatically. The labels are not present eith

[2021-07-13 07:49] TeddyAndrieux opened #103658 "Start static pod take long time if APIServer down"
#### What happened:

I have a kubelet configured to connect to a local APIServer that run as a static pod managed by kubelet, if this APIServer goes down or get edited and I have a bunch of Pod (not static ones) that use PVCs kubelet will take a lot of time to schedule APIServer static pod again.

So in kubelet logs I have a bunch of
[code]

#### What you expected to happen:

Static pods to be sch

[2021-07-13 07:50] TeddyAndrieux commented on #103658
/sig node

[2021-07-13 07:56] Jiawei0227 commented on #103403
Correct

If I recall correctly, yes. But it has been some time and I might forget or miss something. But at least it is what I am feeling now.

[2021-07-13 07:58] aojea commented on #102085
you have some leaks, there is one with the `node port 32027 for service bigbluebutton-nodeport/bigbluebutton ` you should fix

[code]

interestingly, some of the operations seems to take a lot of time, this one per example, take 26 sec
[code]

is your etcd cluster healthy?
there are some actions associated to each service Create api call, do you have some webhook mutating services?

[2021-07-13 08:18] serathius commented on #100405
After reconsidering I don't think we should take this approach, targeting heavy log volume logs was a good boostrap of the effort, but it results in very unorganized changes spread around whole repo. For next steps we should target whole components similarly to Kubelet in 1.21

[2021-07-13 08:18] #100405 closed

[2021-07-13 08:28] AlwaySummit commented on #103403
Great. It seems we can close this issue now because it is related to the gce-pd one.
In general, If I directly use csi driver, no matter what k8s version I'm in, the labels will not present here. But if I use in-tree plugin, the labels should be set correctly because the csi-migration will be implicated in 1.18. It seems there is a bug when translating the csi topology into kubernetes label just l

[2021-07-13 08:43] wojtek-t commented on #103578
This is definitely non-negligible regression that we should address in 1.22 timeframe.

I'm actually have a promissing results for it.

/milestone v1.22
/priority critical-urgent

[2021-07-13 09:17] mohjam2004 commented on #102085
I have 3 VMs that play as control plane of my cluster: etcd, scheduler, api and controller manager.
These services are running in all 3 VMs as docker container.
I sometimes can see etcd-0 or etcd-2 is unhealty in rancher UI.
This is my etcd logs:

**etcd-3:**
2021-07-13 09:10:24.360228 W | etcdserver: request "header:<ID:3464810263439992679 username:\"system:node\" auth_revision:1 > txn:<compare:<

[2021-07-13 09:21] turowicz opened #103661 "Installing network-manager-l2tp breaks the microk8s cluster"
Details here: https://github.com/ubuntu/microk8s/issues/2410

[2021-07-13 09:22] turowicz commented on #103661
/sig node

[2021-07-13 09:22] turowicz commented on #103661
/sig network

[2021-07-13 09:33] zxh326 commented on #100238
may be fixed
/close

[2021-07-13 09:33] #100238 closed

[2021-07-13 09:36] kerthcet commented on #103584
I'll try to have a look. Reproduce first. 🥸

[2021-07-13 09:48] mohjam2004 commented on #102085
I can see these log on my etcd-1:

2021-07-13 09:45:54.228514 W | wal: sync duration of 1.359682283s, expected less than 1s
2021-07-13 09:45:54.228590 W | etcdserver: failed to send out heartbeat on time (exceeded the 500ms timeout for 362.848421ms, to 970bf3bca5513015)
2021-07-13 09:45:54.228601 W | etcdserver: server is likely overloaded
2021-07-13 09:45:54.228607 W | etcdserver: failed to send

[2021-07-13 09:53] kerthcet commented on #103584
/assign

[2021-07-13 09:55] mohjam2004 commented on #102085
Can you explain more about this?
**"there are some actions associated to each service Create api call, do you have some webhook mutating services?"**
please give me some examples that they can cause this issue.

[2021-07-13 10:02] kerthcet commented on #103584
As `Warning FailedScheduling 17s (x4 over 3m4s) default-scheduler 0/1 nodes are available: 1 Too many pods.` tells, you have only one node in your cluster, I think it's a normal behavior, not a bug, as anti-affinity guarantees the distribution of the pods across different nodes in you cluster. If you add another one node to your cluster, I think rolling update will success.

[2021-07-13 10:02] kerthcet commented on #103584
@ondrejdolezal93

[2021-07-13 10:35] aojea commented on #102085
if you do a `grep latency api.log` you can see that the time is increasing in each Create operation, I'm wondering if you have webhooks processing those API calls and adding latency because can't keep up with the rate
[code]

[2021-07-13 11:00] sttts commented on #88293
I see
[code]

for extended amount of time. This is not healthy.

Have you tried on a recent release? This code path was reworked a couple of times.

[2021-07-13 12:17] odinuge commented on #103542
This is probably the same issue as https://github.com/kubernetes/kubernetes/issues/102676. Can you verify if you see the same issue with `v1.21.1`?

We sadly don't have a fix ready for next release (if that is the issue), and the regression will be there in `v1.22` as well. https://github.com/kubernetes/kubernetes/issues/102676 should fix this, but it lack review/approval... :/

[2021-07-13 13:09] JCzz commented on #102563
Thanks @pacoxu & @neolit123

I moved on to using KinD for local development, it was to difficult for me ;-)

[2021-07-13 13:09] #102563 closed

[2021-07-13 13:13] smarterclayton commented on #89770
/reopen

[2021-07-13 13:21] odinuge commented on #70585
The execution of the readiness probes are separate processes that show up in the cgroup.procs file of the cassandra container's cgroup, not the higher-level pod's cgroup.

Yes, by design, exec-probes run inside the container, and the resources they use are accounted. That is expected behavior. And yes, they are executed in the _container_ control group, _not_ the pod level one. And yes, exec probe

[2021-07-13 13:24] Tejeev commented on #95942
Hi, @ehashman. I've been working with customers on this topic, and the Kubernetes docs on the subject seem to need some work.  What can we do to improve them as the Forums have not been of much assistance to MG2R or others in this regard, and this very much appears to be confusion that can be cleared up in the docs.

[2021-07-13 13:31] alculquicondor commented on #95445
I would vote to abandon this idea.

[2021-07-13 13:39] Anutrix commented on #27796
Same issue. Any updates on this?

[2021-07-13 13:54] RinkiyaKeDad commented on #98698
@dims can we close this now? 🙂

[2021-07-13 14:18] claudiubelu commented on #102849
Indeed. I've tried this as well. It seems that those secrets have a read permission set by default for ``Everyone``, which will basically mean that anyone could read that, which shouldn't be the case in this scenario. But only the Read permission is set for ``Everyone``, so you can't write in it:

[code]

I think the first step would be chown the volumes first, and afterwards remove the Read permi

[2021-07-13 14:26] dims commented on #98698
yes! thanks a ton @RinkiyaKeDad

/close

[2021-07-13 14:26] #98698 closed

[2021-07-13 14:42] michaelgugino commented on #103175
This is working as designed.  The reason you see your StatefulSets go terminating but not appear elsewhere is that k8s guarantees you will not exceed the number of pods you have requested.  Since the node is no longer able to contact the cluster (since it's powered off), it never confirms that the StatefulSet pod was actually stopped.

Always wait for drain to succeed before powering off a node.

[2021-07-13 15:02] mkorbi commented on #103651
/milestone v1.22

[2021-07-13 15:02] mkorbi commented on #103655
/milestone v1.22

[2021-07-13 15:07] enj commented on #102911
The context is shared for all webhook authorization SAR calls (it is the context of the incoming client request).  Once that context is canceled, retrying the SAR call will never work as they will always immediately return with "context cancelled" / "context deadline exceeded."

Closing as I believe the current code is correct.

/close

[2021-07-13 15:07] #102911 closed

[2021-07-13 15:16] smarterclayton commented on #103625
Opened the first part of the fix in https://github.com/kubernetes/kubernetes/pull/103668

[2021-07-13 15:24] ramrodo commented on #102865
Yes. There was that error message 29 days ago (06/14/2021) when I created this issue. Here is the [ProwJob link](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1404439462015930368)

But now, the error message is not exactly the same but this new one fails at the same step (_Getting plugin name_).

[2021-07-13 16:01] hoang-innomizetech commented on #90077
I also faced this issue when running with Kubernetes 1.18

_Client Version: v1.19.7
Server Version: v1.18.16-eks-7737de_

{
  "kind": "APIGroup",
  "apiVersion": "v1",
  "name": "networking.k8s.io",
  "versions": [
    {
      "groupVersion": "networking.k8s.io/v1",
      "version": "v1"
    },
    {
      "groupVersion": "networking.k8s.io/v1beta1",
      "version": "v1beta1"
    }
  ],
  "prefer

[2021-07-13 16:04] liggitt commented on #90077
yes, Ingress v1 only exists in 1.19+

[2021-07-13 16:05] hoang-innomizetech commented on #90077
Hmm, but I really confused about the log above, seems the v1 is there. And if we are using v1.18 we can change back to `v1beta1` and it still works right?

[2021-07-13 16:12] liggitt commented on #90077
the `networking.k8s.io/v1` group/version exists in 1.18, but only contains NetworkPolicy (https://github.com/kubernetes/api/blob/release-1.18/networking/v1/types.go)

[2021-07-13 16:29] spiffxp commented on #99517
Moving this to blocked because I'm not sure what the status is on this

[2021-07-13 16:33] krmayankk commented on #103309
/remove help

[2021-07-13 16:33] krmayankk commented on #103309
/remove-help

[2021-07-13 16:37] sanya301 commented on #102787
Hey @dbgoytia are you still working on this issue? I am interested in this

[2021-07-13 16:39] krmayankk commented on #102405
@sanya301 FYI

[2021-07-13 16:42] krmayankk commented on #101008
/remove-help

[2021-07-13 16:44] spiffxp commented on #99480
/milestone v1.21

[2021-07-13 16:45] ravisantoshgudimetla opened #103671 "Pods should delete a collection of pods on Windows"
#### Which jobs are flaking:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master
#### Which test(s) are flaking:
[sig-node] Pods should delete a collection of pods [Conformance]
#### Testgrid link:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master
#### Reason for failure:
TBD
#### Anything else we need to know:
- links to go.k8s.io/triage a

[2021-07-13 16:45] ravisantoshgudimetla commented on #103671
cc @claudiubelu @jsturtevant @marosset

/sig windows

[2021-07-13 16:48] sanya301 commented on #92402
Hi! I am new to the community and would like to help out with anything remaining here. Is anyone still working on this?

[2021-07-13 16:50] sanya301 commented on #102405
/assign

[2021-07-13 16:54] karunasagark commented on #95460
@apelisse I still see this issue on kubernetes 1.20.7, is this fix part of 1.20.7?

Specifically, I see this issue for statefulset, the resourceVersion is bumped up if I repeatedly SSA the same configuration, there is no change in generation. I don't see this behavior for service. Possibly this affects other native kubernetes resource types.

Side question - services don't have generation, is that

[2021-07-13 16:59] dprotaso commented on #102810
That's what we document and suggest - but unfortunately new comers still get tripped up assume you can just delete the namespace.

[2021-07-13 17:22] apelisse commented on #102810
Awesome, they can still do the `kubectl` thing after they've deleted the namespace, that should work, right?

[2021-07-13 17:25] apelisse commented on #95460
Thanks for providing a concrete example so that I can reproduce! I'll try to take a look.

[2021-07-13 18:12] dbgoytia commented on #102787
Yes, I'm still working on this, but would totally be open to doing pair-programming if you're open to it? I would benefit from you for solving the problem since I'm still pretty new to the codebase and I'm still understanding the environment.

[2021-07-13 18:25] dprotaso commented on #102810
I'm trying to avoid the need for that by using owner references.

[2021-07-13 18:52] justsomebody42 commented on #13136
Is this considered for implementation?
I'd be happy to have this!

[2021-07-13 18:54] chance2021 commented on #66961
Same issue. Run `docker system prune -a` to clean up some space taking by docker and then the node is running fine

[2021-07-13 19:13] karunasagark commented on #95460
Thank you. I spent some time writing a java program to check on other native kubernetes resources. The program essentially calls server side apply repeatedly and prints out the resource version and generation. And the results are confusing!

Attaching my program code and a snippet of the output. I tried to manually do some get calls to understand/make sense of this result, but I'm unable to explai

[2021-07-13 19:14] karunasagark commented on #95460
Also, @apelisse should we mark this issue open?

[2021-07-13 19:14] pohly commented on #102865
I think there's enough evidence to claim (until proven otherwise, of course :sweat_smile: ) that metrics grabbing now works. Why the metrics data is not what the tests expect I don't know - someone familiar with these tests and how they apply to Windows would have to check that.

[2021-07-13 20:07] ravisantoshgudimetla opened #103673 "Allow node affinity in runtimeclass scheduling constraints"
#### What would you like to be added:

The [scheduling constraints](https://kubernetes.io/docs/concepts/containers/runtime-class/#scheduling) in [runtimeclasses](https://kubernetes.io/docs/concepts/containers/runtime-class/) while useful are limited to nodeSelector, I wish to extend them to nodeAffinity through which I express soft constraints.

#### Why is this needed:

This is helpful in scenari

[2021-07-13 20:07] ravisantoshgudimetla commented on #103673
/sig node

[2021-07-13 20:13] fedebongio commented on #103597
/triage accepted

[2021-07-13 20:13] egernst commented on #91845
Hey @kfox1111 - I was thinking through this, and alternative options if I had to handle.  My thoughts below; curious if you can clarify and provide feedback.

It seems in general, you're trying to limit the # of pods (not necessarily pod specific geometries?) that use a particular runtimeclass.

In your scenario, do you have only a subset of nodes already which will allow running runtimeclass foo?

[2021-07-13 20:26] kfox1111 commented on #91845
Say I have 2 pools of nodes, with runtime classes set for each, each pointing at runc. Foo runtimeclass, has nodeselectors/tolerations for nodes labeled pool=foo, and Bar runtimeclass, has nodeselctors/tolerations for nodes labeled pool=bar
There are 10 nodes labeled pool=foo and 3 labeled pool=bar

Say I would like to quota a namespace so it can't consume more then 1/3rd of those pools. I can't d

[2021-07-13 20:43] alculquicondor commented on #99497
We solved this with Indexed Jobs kubernetes/enhancements#2630

/close

[2021-07-13 20:43] #99497 closed

[2021-07-13 20:53] 2rs2ts commented on #88293
@sttts we can give this a shot on 1.19, the current version we are using at my company–if you think that would be productive.

[2021-07-13 21:08] ehashman commented on #102676
@kolyshkin what's the status of this issue? I don't currently see any linked PRs for the 1.22 milestone.

[2021-07-13 21:55] apelisse commented on #102810
I understand, but I don't think we should invent a whole new paradigm for something that already has a reasonable solution?

[2021-07-13 22:14] dprotaso commented on #102810
I'm trying to leverage the functionality that K8s already has deletion using cascading deletions. I don't consider this unreasonable.

I'm just suggesting we support wiring up owner references declaratively vs. the requirement to do its imperatively.

[2021-07-13 22:23] Jiawei0227 commented on #103403
/close

[2021-07-13 22:23] #103403 closed

[2021-07-13 22:46] SudoNova commented on #40846
This is a valid issue IMO, as a `httpGet` probe does not work with the bash workaround.

[2021-07-13 22:47] apelisse commented on #102810
Yeah, I don't think I disagree with you. Having declarative owner references is the new paradigm and probably comes with a lot of design decisions. I don't know how much time I want to spend having these discussions considering that we already have a well known way of removing these files.

Another concept that is somewhat related is "pruning", which is implemented in kpt as an inventory. I don't

[2021-07-13 23:22] brianthelion commented on #103274
@neolit123 Where should I socialize a KEP for this?

[2021-07-13 23:33] comerford commented on #66020
I have attempted this, but I think this conflicts with the empty volume hack to prevent the sidecar token from being mounted in the gameserver. When I attempt it, the containter (and hence the pod) fails with:

`spec.containers[0].volumeMounts[1].mountPath: Invalid value: "/var/run/secrets/kubernetes.io/serviceaccount": must be unique]
`

I am currently working around the issue by granting the per

[2021-07-14 00:42] #103625 closed

[2021-07-14 01:36] ydp commented on #103085
@nilo19  we hit a similar issue in in-tree provider as well, could you please help cherry-pick the fix? Thanks.

[2021-07-14 02:01] kolyshkin commented on #102676
The fix (for the bug that reverted runc 1.0.0 bump) is merged (https://github.com/opencontainers/runc/pull/3081) to main branch, the backport to 1.0 (https://github.com/opencontainers/runc/pull/3085) is being reviewed as I type and I think will be merged shortly. Once that happens, I'll create a WIP PR to update runc to the tip of runc release-1.0 branch. Once 1.0.1 is released (I hope this week,

[2021-07-14 02:10] kerthcet commented on #103633
/assign help to improve the documents

[2021-07-14 02:12] kerthcet commented on #103633
help to improve the document /assign

[2021-07-14 02:13] kerthcet commented on #103633
/assign
help to improve the document or maybe refactor the function name.

[2021-07-14 03:14] feiskyer commented on #103085
Here are the cherry-picks to k/k:
https://github.com/kubernetes/kubernetes/pull/103600
https://github.com/kubernetes/kubernetes/pull/103599

[2021-07-14 03:30] cjcullen opened #103675 "CVE-2021-25740: Endpoint & EndpointSlice permissions allow cross-Namespace forwarding"
A security issue was discovered with Kubernetes that could enable users to send network traffic to locations they would otherwise not have access to via a confused deputy attack.

This issue has been rated **Low** severity ([CVSS:3.1/AV:N/AC:H/PR:L/UI:N/S:U/C:L/I:N/A:N](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:H/PR:L/UI:N/S:U/C:L/I:N/A:N)), and assigned **CVE-2021-25740**.
### Am

[2021-07-14 04:28] lambdanis commented on #102101
`AfterSuite` is consistently passing since June 24th ([this build](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1408193466705383424)). I don't know what fixed it, but it seems fixed :)

The job is very flaky at the moment, but that's because of `BeforeSuite` or different test failures. I guess we can track them in a separate issue.

BTW @spiffxp thanks for the h

[2021-07-14 04:41] LiamClarkeNZ opened #103679 "[Documentation] incorrect field name in event API deprecation guide"
#### What happened:

The deprecation guide refers to using the field `reportingComponent` to replace `source.component` when migrating from `v1beta1.Event` to `v1.Event` in the `events.k8s.io` API.

#### What you expected to happen:

The correct field name is `reportingController` - `reportingComponent` is a field name from Core `v1.Event`.

#### How to reproduce it (as minimally and precisely as

[2021-07-14 05:00] sanposhiho commented on #103633
:)

On second thought, the event handler is used for enqueue pods, so its name is appropriate. 👍
OK, so let's do improve documents only.

[2021-07-14 05:18] LiamClarkeNZ commented on #103679
/sig docs

[2021-07-14 05:20] #99677 closed

[2021-07-14 05:53] wojtek-t commented on #103578
OK - so we proved that #103660 addresses the problem:
- it reduces back to previous value the number of goroutines
![Screenshot from 2021-07-14 07-47-03](https://user-images.githubusercontent.com/10743879/125570031-d12cce44-e728-4092-a432-6ad0f06b6244.png)

- it brings back pod startup time back to less than 3.4s on 99th percentile
- it brings back API call latencies

I'm going to work with review

[2021-07-14 05:56] chendave commented on #101087
I think you can just close this one?

[2021-07-14 05:57] #101087 closed

[2021-07-14 06:14] aojea commented on #102101
yeah, there were several fixes in the area, we should close this.

The job is failing  nowto install the metrics server pod because there is a conflict , ,please open a new bug and ping me there,
[code]

[2021-07-14 07:18] meganC315 commented on #63128
Homes For Sale In Welland - Welland Real Estate & Homes at Dalemundi.com

[Welland Real Estate & Homes](https://dalemundi.com/ontario/welland/)

From the quality home to the land packages, Canada has one of the best locations for commercial properties. There are houses for sale in welland. What you have to do?You can view various commercial property listings in Canada. Visit Dalemundi.com today an

[2021-07-14 07:28] lambotchi opened #103680 "Cannot create certificate signing request: Post "https://kube.company.com x509: certificate signed by unknown authority"
#### What happened:
Error during kubeadm init. I am trying to setup HA Cluster with kubeadm following this [guide](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/).

[code]

**kubelet logs**
[code]

#### What you expected to happen:
kubeadm init will be successful

#### How to reproduce it (as minimally and precisely as possible):
1. **Load balancer is set*

[2021-07-14 07:37] claudiubelu commented on #103671
I've looked through the logs for a bit and the test itself.

What the test is doing:

- create 3 pods.
- expect to find 3 pods (it doesn't seem to wait for the to start, they only need to exist).
- delete all 3 of them as a collection.
- expect all 3 pods to dissapear.

All 3 pods ended up on the same node, plus some other tests were running in parallel, which could also contribute to the failure.

[2021-07-14 07:57] lambotchi commented on #103680
/sig docs
/sig cluster-lifecycle

[2021-07-14 08:05] jprzychodzen opened #103682 "Failing SIG Scalability performance tests"
Since last Friday scalability test become red/very flaky

Affected jobs:
* [gce-master-scale-performance](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance)
* [kubemark-master-500](https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-master-500)
* [kubemark-5000](https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000)

Those failure ar

[2021-07-14 08:39] sttts commented on #88293
Was thinking more about 1.22 beta. There lots of things in this area have changed.

[2021-07-14 09:03] poojas1607 opened #103683 "Azure In-tree CSI Driver: Unable to Access Azure File PVC After Rotating Storage Account Credentials"
I'm using in-tree driver to dynamically provision azure file share PVC. However the secret which is deployed during PVC provision is not getting updated when the storage account credential gets rotated . Is this expected behavior? If yes then is there any way to update the secret for PVCs? The credentials are created as a secret in pod namespace by in-tree CSI driver.
The kubernetes version I'm us

[2021-07-14 09:03] mapmiss opened #103684 "I deployed 1.22-beta.0. I am having trouble starting kubelet"
When I started kubelet, it told me：--network-plugin has been deprecated, will be removed along with dockershim，
--cni-bin-dir has been deprecated, will be removed along with dockershim.
--cni-conf-dir has been deprecated, will be removed along with dockershim.
It does not recognize the previous parameters.

[2021-07-14 09:13] jprzychodzen commented on #103682
/sig scalability

[2021-07-14 09:17] wojtek-t commented on #103682
This particular regression is purely Job-related (we only see problems with batchv1.Job objects).

/sig apps
/priority critical-urgent

@kubernetes/sig-apps-bugs @alculquicondor

@soltysh - FYI

/milestone v1.22

[2021-07-14 09:17] wojtek-t commented on #103682
/assign @alculquicondor

[2021-07-14 10:14] poojas1607 commented on #103683
/sig storage

[2021-07-14 10:49] jprzychodzen commented on #103682
After internal testing it seems that #103644 can be a fix.

Added big scale presubmits to #103644

[2021-07-14 10:53] poojas1607 commented on #103683
/triage accepted

[2021-07-14 11:08] lin404 commented on #94761
It does not work. It returns the same list when use `kubectl get ingresses.v1.networking.k8s.io` and `kubectl get ingress.v1beta1.extensions` in v1.19

I still see many logs with read request using `/apis/extensions/v1beta1/namespaces/xxxx/ingresses/xxxxx`. I guess it is because `When you create an ingress object, it can be read via any version` as you mentioned above? It is still difficult to det

[2021-07-14 11:46] endocrimes commented on #103623
/triage accepted
/assign

[2021-07-14 12:43] ahg-g commented on #95445
I would insist on doing this if we are starting from scratch, bit may be now is too late.

[2021-07-14 12:43] #95445 closed

[2021-07-14 13:02] yuswift commented on #103684
/sig node

[2021-07-14 13:03] yuswift commented on #103684
Can you start the `kubelet`? If so, just ignore the message.

[2021-07-14 13:03] liggitt commented on #94761
The same items are returned, but in a different API version. add `-o yaml` to see the version returned.

[2021-07-14 13:24] sai-kolluru commented on #50309
There's no direct method for this, but I found a dirty hack. `proc` fs exposes cgroups of a process under `/proc/pid/cgroup` file. Typically, the main process of your container will have PID 1.
[code]
kubernetes follows a convention for creating a cgroup directory,
[code]
With some shell scripting foo you can extract the containerId of a running process.

[2021-07-14 14:42] neolit123 commented on #95455
/reopen
/remove-lifecycle rotten

This appears to still be a problem
https://github.com/kubernetes/website/issues/27868

[2021-07-14 14:46] neolit123 commented on #95455
Would an rpm build version change be sufficient?
/help
See https://github.com/kubernetes/kubernetes/issues/95455#issuecomment-777902782

[2021-07-14 14:51] wangcheng34 opened #103687 "kubelet won't restart after reboot - Unable to register node with API server: connection refused"
#### What happened:

After reboot, can't register node with API server: connection refused

as I issued in [kubeadm](https://github.com/kubernetes/kubeadm/issues/2527)

#### What you expected to happen:

Kubernetes to respond

## Versions

ubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.5", GitCommit:"e0fccafd69541e3750d460ba0f9743b90336f24f", GitTreeState:"clean", BuildDate

[2021-07-14 15:23] encodeflush opened #103688 "[Failing Test][sig-node] ci-kubernetes-e2e-gce-scale-correctness"
#### Which jobs are failing:

ci-kubernetes-e2e-gce-scale-correctness

#### Which test(s) are failing:

* Kubernetes e2e suite: [sig-node] SSH should SSH to all nodes and run commands
* kubetest.Test

#### Since when has it been failing:

Jul 10 14:01:51 UTC+0200

#### Testgrid link:

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

#### Reason for failure:

Kuber

[2021-07-14 15:29] dprotaso commented on #102810
I'm not familiar with `kpt`

Setting up owner references would kick of the K8s garbage collection when deletion occurs
https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection All the API server would have to do on creation is to validate/populate the UIDs of the owner resources on creation - like I mentioned here: https://github.com/kubernetes/kubernetes/issues/102810#issuecom

[2021-07-14 15:44] yuswift commented on #103687
/sig node

[2021-07-14 15:50] dougsland commented on #95455
@BenTheElder someone in your (release) team could double check the info regarding the above statment (rpm 4.14)?

[2021-07-14 15:50] dougsland commented on #95455
/cc @dougsland

[2021-07-14 16:02] #103682 closed

[2021-07-14 16:28] msau42 commented on #96759
/remove-lifecycle rotten

[2021-07-14 16:37] BenTheElder commented on #95455
My team only _runs_ the builds and publishes them to the registry, the sources for the build are in https://github.com/kubernetes/release/tree/master/packages

Ideally these should be community run and community published, but for now the community still relies on the GCP package host, so we have to publish the builds, and currently the k/k release build doesn't build RPMs/DEBs either so we also r

[2021-07-14 16:38] novahe commented on #103643
Hi, @TheKangaroo I reproduced it by the following yaml:

[code]

if `imagePullPolicy: Always`, I watched event whith command `kubectl get event -w`：

[code]

I modified  `imagePullPolicy: IfNotPresent`,  and watched event：

[code]

It seems to look good. From the code, it will not always pull the image, when the `imagePullPolicy: IfNotPresent`  configuration is set.

https://github.com/kubernetes/

[2021-07-14 17:12] jhoblitt commented on #83242
@jakerobb `kubectl get ... && break` will not work because `kubectl` will exit `0` when no resources are found.

[code]

[2021-07-14 17:20] justaugustus commented on #100895
/milestone v1.23
xref go1.17 tracking issue: https://github.com/kubernetes/release/issues/2169#issuecomment-880062478

[2021-07-14 17:34] ehashman commented on #100788
/unassign @cynepco3hahue
/assign @bobbypage

[2021-07-14 17:41] ehashman commented on #99437
/assign @cynepco3hahue
/unassign @matthyx

MemoryManager tests probably shouldn't be running on these jobs, if we adjust the job configs this should fix the failures.

[2021-07-14 17:45] juliantaylor commented on #88397
/remove-lifecycle rotten

[2021-07-14 17:49] ehashman opened #103690 "[Failing test] [sig-node] CriticalPod [Serial] [Disruptive] [NodeFeature:CriticalPod] when we need to admit a critical pod should be able to create and delete a critical pod [cos-stable1]"
/kind failing-test
/sig node

This test is failing on the serial job: https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

/cc @fromanirh

[2021-07-14 17:49] ehashman opened #103691 "[Failing test] [sig-node] Device Plugin [Feature:DevicePluginProbe][NodeFeature:DevicePluginProbe][Serial] DevicePlugin Verifies the Kubelet device plugin functionality. [cos-stable1]"
/kind failing-test
/sig node

Failing on kubelet-serial job.

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

/cc @fromanirh

[2021-07-14 17:50] ehashman commented on #103690
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

[2021-07-14 17:50] fromanirh commented on #103690
Should be fixed by https://github.com/kubernetes/kubernetes/pull/103408

[2021-07-14 17:51] fromanirh commented on #103691
should be fixed by https://github.com/kubernetes/kubernetes/pull/103297

[2021-07-14 17:51] fromanirh commented on #103691
/triage accepted
/priority important-soon

[2021-07-14 17:52] fromanirh commented on #103690
/triage accepted
/priority important-soon

[2021-07-14 17:52] ehashman commented on #103684
/remove-kind failing-test
/kind support

[2021-07-14 17:53] ehashman commented on #103688
/cc @saschagrunert

[2021-07-14 18:14] ehashman commented on #103688
/triage accepted

[2021-07-14 18:47] ialidzhikov commented on #103683
/area provider/azure

[2021-07-14 18:48] liggitt opened #103697 ""master upgrade should maintain a functioning cluster" failing"
#### Which jobs are failing:

ci-kubernetes-e2e-gce-stable1-beta-upgrade-master

#### Which test(s) are failing:

"master upgrade should maintain a functioning cluster"

#### Since when has it been failing:

Since https://github.com/kubernetes/kubernetes/pull/99857 merged

On 2021-07-09, the extract step also started failing.

#### Testgrid link:

* https://testgrid.k8s.io/google-gce-upgrade#gce-s

[2021-07-14 18:50] liggitt commented on #103697
current blocking failure is `Failed to set release from https://storage.googleapis.com/k8s-release-dev/ci/k8s-beta.txt (Unexpected HTTP status code: 404)`

[2021-07-14 18:51] liggitt commented on #103697
that looks related to https://github.com/kubernetes/release/commit/908c08157f33de077426857280e2df4fbf63f60a

cc @spiffxp

[2021-07-14 18:58] neolit123 commented on #103274
administrators looking at the output of multiple components in a distributed system is not an uncommon practice. if kubeadm had a way to surface some of these immediate errors in its STDERR it would, but this seems like something that might be a bit difficult to implement and agree on.

before KEPs, this sounds like a system wide topic, thus you can try emailing the SIG Arch mailing list for comme

[2021-07-14 19:00] liggitt commented on #103697
for reference, the auth upgrade jobs which upgrade from ci/latest-1.20 to ci/latest are currently green and are upgrading from v1.20.9-rc.0.20+66e6d5ee1fa946 to v1.22.0-beta.1.157+e375563732a6f5

https://testgrid.k8s.io/sig-auth-gce#upgrade-tests

[2021-07-14 19:22] wojtek-t commented on #103697
This is super strange.  From example failure:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-beta-upgrade-master/1413528078591725568

[code]

So clearly, the problem is connected from calling `NewDefaultFramework`.

Now - this is the upgrade auth upgrade job looks:
[code]

vs the failing cluster upgrade:
[code]

The literally look the same for me with one failing

[2021-07-14 19:26] comerford commented on #66020
Following up here for anyone attempting this with Agones, I dug into the source code a little, and there is a workaround. You have to set the service account for the gameserver pod explicitly, and hence maintain it yourself, then the function to implement the emptyDir hack is not used. See [here](https://github.com/googleforgames/agones/blob/e048859c6ff3da0d4b299f915113993aa49c7865/pkg/gameservers

[2021-07-14 19:28] odinuge commented on #102676
I still think https://github.com/kubernetes/kubernetes/pull/102250 fixes this issue in a safer and simpler way. It still need review, but it should mitigate this issue, and fix issues with how we deal with systemd. This fix should be done either way imo. I am not a big fan of merging big dependency bumps after code freeze, together with cherry-picking them, when there are simpler and easier ways t

[2021-07-14 19:33] dims commented on #102676
I agree with @odinuge, the churn+bugs in runc is very concerning, if #102250 works, then we should just take that and hold off on the huge dependency bump.

cc @derekwaynecarr @SergeyKanzhelev as well.

[2021-07-14 19:38] wojtek-t commented on #103697
Ironically - the tests seem to actually be running, e.g. from the run above from logs:
[code]

So it seems that the tests are actually running (and passing).
It's just at the end we have this strange error reported...

[2021-07-14 20:09] kolyshkin commented on #102676
This is not the right diff to look at. We have already upgraded to 1.0.0 and it caused an issue (https://github.com/kubernetes/kubernetes/pull/103483) causing a revert. The issue has been
fixed and backported to release-1.0 branch; we're going to have a release this week.

So, the diff to look at is the difference between 1.0.0 and to-be-released 1.0.1: https://github.com/opencontainers/runc/compa

[2021-07-14 20:18] neolit123 commented on #103687
do you know what certificate is this about and who is making the connection?
i would assume it's the kube-apiserver.

what is the output of `openssl x509 -noout -dates -in /etc/kubernetes/pki/apiserver-etcd-client.crt`?

are you sure the system time is correct after the restart?
what is the output of `date`?

/remove-kind bug
/kind support
/triage needs-information
/remove-sig node

[2021-07-14 20:38] odinuge commented on #102676
fixed and backported to release-1.0 branch; we're going to have a release this week.

Oh, we are probably talking about different PRs then. We still need https://github.com/opencontainers/runc/pull/3082, and it is targeted to `v1.1.0`, so I assume we need to wait for that. In case we freeze `kubepods.slice`, and users use runc `v1.0.0` (or other runtimes with the same logic), containers can end up

[2021-07-14 21:47] thockin commented on #98994
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2021-07-14 21:48] aramase commented on #100870
/remove-lifecycle stale

[2021-07-14 21:56] gandazgul commented on #83242
It will exit with 1 if you specify a resource name:

[code]

[2021-07-14 22:07] ehashman commented on #102676
/remove-priority important-soon
/priority critical-urgent
/label release-blocker

This is a serious regression in the systemd driver that affects 1.21.x/1.22 and should be considered a release blocker.

[2021-07-14 22:09] jfoy commented on #46920
I'm unable to repro this issue under k8s 1.21.2 but I also don't find any explicit mention of a fix in the changelog.

[2021-07-14 22:19] dims commented on #102676
Aha!

That's good news!

Your info definitely makes me feel better about going to 1.0.1 @kolyshkin

[2021-07-14 22:21] ehashman commented on #102676
Given the discussion in the last few comments, and given that https://github.com/opencontainers/runc/pull/3082 isn't yet merged in upstream runc, my inclination would be to bump runc to 1.0.1 as soon as possible for the longest soak time, and handle the other regression fixes as possible backports. WDYT?

[2021-07-14 22:24] ghostsquad commented on #48767
any chance this can be reopened? still seems to be a problem with 1.20 of kubectl

[2021-07-14 22:58] bobbypage commented on #100788
Are there examples of recent flakes for this?

Looking at https://testgrid.k8s.io/sig-node-release-blocking#node-kubelet-master&width=20&include-filter-by-regex=stats%20api it seems pretty green for this test.

[2021-07-14 23:39] ehashman commented on #103423
/triage accepted

[2021-07-14 23:45] wangcheng34 commented on #103687
[code]
I think date is right

i would assume it's the kube-apiserver

yes, I think so. the kube-apiserver is rebooting again and again.

[2021-07-14 23:48] ehashman commented on #103368
/cc @haircommander

[2021-07-14 23:57] ehashman commented on #103347
It's unclear from the first comment or attachment where you are pulling these stats from.

Kubernetes does not use issues on this repo for support requests. If you have further questions on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind support
/close

[2021-07-14 23:57] #103347 closed

[2021-07-15 00:01] ehashman commented on #103684
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/) rather than filing a bug.

Please see https://kubernetes.io/blog/2020/12/02/dockershim-faq/ for more information on the Dockershim deprecation, which has caused these flags to also be deprecated. Th

[2021-07-15 00:01] #103684 closed

[2021-07-15 00:04] ehashman commented on #103661
From the upstream issue, this appears to be a networking issue specific to your Ubuntu setup and distro packages. This is not something we can provide support with in upstream Kubernetes.

/close

[2021-07-15 00:04] #103661 closed

[2021-07-15 00:11] ehashman commented on #103658
This is an issue with your architecture. If your static pod depends on a PVC, it will necessarily need to talk to the API server in order to provision and bind the volume. You can read more in the docs: https://kubernetes.io/docs/concepts/storage/persistent-volumes/

Static pods are not recommended for general use and you should not try to treat them like regular pods.

In any case, Kubernetes doe

[2021-07-15 00:15] ehashman commented on #103347
This might be a duplicate of #103366?

[2021-07-15 00:16] ehashman commented on #103366
/cc @bobbypage @haircommander

We have reports of missing memory metrics on 1.20.8 and 1.21.2 now... was there a cadvisor or similar change that happened?

[2021-07-15 00:17] ehashman commented on #103366
also
/cc @serathius @dashpole
as an FYI

[2021-07-15 00:17] wangcheng34 commented on #103687
kube-apiserver restart loop
maybe the etcd server failed. but I can get etd process and its listenning port

[2021-07-15 00:33] wzshiming commented on #101097
/lifecycle stale

[2021-07-15 00:48] huguesalary commented on #80897
With kubernetes 1.18 the following fix works: https://github.com/kubernetes/kubernetes/issues/61486#issuecomment-635169272

[2021-07-15 01:37] kolyshkin commented on #102676
@odinuge I did not see it as that critical, thought of it more as some nice-to-have but not really required-right-now set of fixes.

Can you elaborate on what do you think is the exact problem that opencontainers/runc#3082 fixes for kubernetes? Temporarily freezing the sub-cgroups of the pod? If this is it, than it's not a new issue -- it is there since v1.0.0-rc91~48 (https://github.com/openconta

[2021-07-15 02:08] neolit123 commented on #103687
i have no explanation for this problem in that case. if the date is correct and all certificates are valid these error messages are strange.

[2021-07-15 03:18] lambdanis commented on #102904
Some jobs on master-blocking and master-informing dashboards are flaking with "dial timeout", e.g.:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1415461202011623424
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1413130449760292864
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/141334184

[2021-07-15 03:19] kerthcet commented on #102761
is there any plan? or maybe I can think about it and try to produce a kep.

[2021-07-15 03:30] Priyankasaggu11929 commented on #102434
update on this issue ~ still awaiting for a new `klog` release version. I'll follow up on the same.

[2021-07-15 03:30] kerthcet commented on #100140
have you solved you problems yet? @houjun41544

[2021-07-15 04:13] DelDennis commented on #44335
/reopen

[2021-07-15 05:13] smijolovic commented on #103675
Where can one find the aggregate_to_edit.yaml file?

[2021-07-15 05:27] robscott commented on #103675
Thanks for catching that @smijolovic! This was attached to the original disclosure email: https://groups.google.com/g/kubernetes-announce/c/aXolwNe_KT4/m/HKK3174yAQAJ. I'm not sure if there's a good way to attach it here.

[2021-07-15 05:31] lambdanis opened #103706 "[Failing Test] [sig-cluster-lifecycle] conformance tests conformance (periodic-cluster-api-provider-aws-e2e-conformance-release-0-6-with-k8s-ci-artifacts)"
#### Which jobs are failing:

periodic-cluster-api-provider-aws-e2e-conformance-release-0-6-with-k8s-ci-artifacts (periodic-conformance-release-0-6-k8s-main)
Note: this job was renamed from periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts (capa-conformance-v1alpha3-k8s-master) on July 2nd in https://github.com/kubernetes/test-infra/pull/22771/

#### Which test(s) ar

[2021-07-15 05:53] TeddyAndrieux commented on #103658
It does NOT depend on a PVC.

As it's already mentioned in my initial message, I have static pods only for "classic mandatory Kubernetes pods" so basically APIServer etcd, scheduler, and controller manager that does NOT have any PVC.
But those pods take a long time to be scheduled because I have a bunch of Pod (non-static pod) that have some PVC and so kubelet iter on all those pods and try to ret

[2021-07-15 05:54] kerthcet commented on #103655
try to have a look.

[2021-07-15 05:57] kerthcet commented on #103655
try to have a look.

[2021-07-15 05:58] fromanirh commented on #103690
/assign

[2021-07-15 05:58] fromanirh commented on #103691
/assign

[2021-07-15 06:18] kolyshkin commented on #102676
Forgot to add -- I think #102250 makes sense, too.

[2021-07-15 06:22] spiffxp commented on #103697
I can't find a job that sets k8s-beta, so I will copy it, but it will be pointing to a stale build anyway:
[code]

This is our usual fun dance of `k8s-beta` not meaning anything until a release branch gets cut, ref: https://github.com/kubernetes/sig-release/issues/850

[2021-07-15 06:29] spiffxp commented on #103697
[code]

I forget exactly how this all plays with job rotation once release-branch jobs are cut.  I would personally be fine with moving away from the `k8s-foo` markers towards hardcoded numbers, but I would rather defer to @kubernetes/release-engineering

/assign @cpanato @puerco @justaugustus

[2021-07-15 06:32] spiffxp commented on #103697
It looks like https://github.com/kubernetes/test-infra/pull/22790 is what stopped writing `gs://kubernetes-release-dev/ci/k8s-beta.txt`

[2021-07-15 06:34] #75355 closed

[2021-07-15 06:37] lambdanis opened #103708 "[Flaking Test] metrics-server not starting in BeforeSuite (ci-kubernetes-e2e-ubuntu-gce)"
#### Which jobs are flaking:

[ci-kubernetes-e2e-ubuntu-gce](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1415525375479386112) (gce-ubuntu-master-default)

#### Which test(s) are flaking:

* Kubernetes e2e suite: BeforeSuite
* (There are other flakes in this job, but they are failing less often and different test each time, so let's say this issue is only for Be

[2021-07-15 06:39] rdrgporto commented on #103347
Hi, @ehashman

It has the same behaviour.

[2021-07-15 06:39] spiffxp commented on #103697
That wasn't it, but thanks for tagging me in.  The extract step failing on 2021-07-09 means it's either https://github.com/kubernetes/test-infra/pull/22840 or one of its followup PRs mentioned in https://github.com/kubernetes/k8s.io/issues/2318#issuecomment-878609309

[2021-07-15 07:01] cynepco3hahue commented on #100788
@bobbypage It does not happen often, but still happen, see - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1414270480633827328

[2021-07-15 07:02] cynepco3hahue commented on #100788
Also, take into account that we mitigated one of the similar errors via https://github.com/kubernetes/kubernetes/pull/95345

[2021-07-15 07:06] TheKangaroo commented on #103643
Thank you for investigating this :)
Yes we use imagePullPolicy always almost everywhere in our clusters.
This is a bit unfortunate for our setup, since a single broken deployment with imagePullPolicy always can exceed the rate limit. We don't enforce any imagePullPolicy for our users so there will always be the possibility for our users to break this.
At least it's a point to start to know, that i

[2021-07-15 07:06] #103643 closed

[2021-07-15 07:09] turowicz commented on #103661
@ehashman cool, just making sure.

[2021-07-15 07:23] sfxworks commented on #102676
Wow I switched from runc to crun thinking it would fix this just to discover this. Very odd.

[2021-07-15 07:42] spiffxp commented on #103697
https://github.com/kubernetes/kubernetes/pull/99857#discussion_r670214091 maybe this is the culprit for the first problem?

[2021-07-15 07:42] sfxworks commented on #102676
I found this thread from https://bugzilla.redhat.com/show_bug.cgi?id=1466636
I get a failure for kubelet restarts on a new node rather than a fresh one. I switched from crun to runc only to experience the same.
Currently on 1.21.2. Kubelet constantly restarts with the following alongside crio configured to use crun or runc.
[code]
Deleting kubepods.slice via `systemctl stop kubepods.slice` or addi

[2021-07-15 07:49] wojtek-t commented on #103697
See https://github.com/kubernetes/kubernetes/issues/103697#issuecomment-880148377 above [that change was reverted in one of subsequent PRs]

[2021-07-15 07:50] wojtek-t commented on #103697
Namely - this one: https://github.com/kubernetes/kubernetes/pull/101118

[2021-07-15 08:08] wojtek-t commented on #103697
I guess I know what's happening - https://github.com/kubernetes/kubernetes/pull/101118 has to be cherrypicked back to 1.21.
Will open a cherrypick later today [need to run now.]

[2021-07-15 08:27] saschagrunert commented on #103688
Uhhh, this may help here https://github.com/kubernetes/kubernetes/pull/103640

[2021-07-15 09:08] mkorbi commented on #103708
/milestone v1.22

[2021-07-15 09:08] mkorbi commented on #103706
/milestone v1.22

[2021-07-15 09:10] lambdanis commented on #102904
/cc @kubernetes/ci-signal

[2021-07-15 09:12] lambdanis commented on #103655
/cc @kubernetes/sig-scheduling-test-failures

[2021-07-15 09:15] lambdanis commented on #103651
/cc @kubernetes/sig-storage-test-failures

[2021-07-15 10:38] pacoxu commented on #103708
/cc @serathius
Since it is related to the metrics server.

[2021-07-15 10:54] serathius commented on #103708
I don't think so.
/cc @dgrisonnet @yangjunmyfm192085

[2021-07-15 10:57] aojea commented on #103708
The metrics-server fails to bind because there is another process listening on port 443
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1415525375479386112/build-log.txt
[code]
https://github.com/kubernetes/kubernetes/issues/102101#issuecomment-879622365

@cheftako are some of the konnectivity pods listening on the port :443?

https://storage.googleapis.com/kube

[2021-07-15 11:10] wojtek-t commented on #103697
@liggitt - https://github.com/kubernetes/kubernetes/pull/103712 is out for review

[2021-07-15 11:10] claudiubelu commented on #96770
From this list, only ``google/cadvisor:latest`` remains. Should that image also be in ``k8s.gcr.io`` registry? If so, I can send a few PRs for that.

As for this specific issue, only 2 commits remain:

- https://github.com/kubernetes/kubernetes/pull/100886 (should be mergeable, the ``cuda-vector-add:1.0`` image has been promoted)
- https://github.com/kubernetes/kubernetes/pull/100470 (needs to be

[2021-07-15 11:10] yangjunmyfm192085 commented on #103708
In the dockerfile of metrics-server if has 'RUN setcap cap_net_bind_service=+ep metrics-server' ?
Maybe it has permission problem?

[2021-07-15 11:13] aojea commented on #103708
ahh, right, nice catch,  I didn't pay attention to the error and blindly assumed collision :sweat_smile: ...
who can take an action on that?
has this changed recently?

[2021-07-15 11:17] cynepco3hahue commented on #99437
@ehashman I updated the orphans job config to exclude `[Feature:.+]` - https://github.com/kubernetes/test-infra/pull/22902

[2021-07-15 11:18] yangjunmyfm192085 commented on #103708
If the metrics-server version used after [#727](https://github.com/kubernetes-sigs/metrics-server/pull/727), I think it is correct.
has no change recently.

[2021-07-15 11:26] aojea commented on #103708
@liggitt @BenTheElder I vaguely remember some changes recently to reduce privileges on pods on CI,
tthis seems likely a permission problem, does this ring a bell?

[2021-07-15 11:30] #103679 closed

[2021-07-15 12:09] yangjunmyfm192085 commented on #103708
yeah,Maybe you can refer to this, the release notes about  v0.4.4 metrics-server .
https://github.com/kubernetes-sigs/metrics-server/releases
[code]

[2021-07-15 12:13] jprzychodzen opened #103714 "Failing test 'Kubernetes e2e suite.[sig-node] SSH should SSH to all nodes and run commands' in gce-master-scale-correctness"
Test 'Kubernetes e2e suite.[sig-node] SSH should SSH to all nodes and run commands' consistently fails in [gce-master-scale-correctness](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness)

![image](https://user-images.githubusercontent.com/29059230/125785950-02e99e5b-988a-43d1-a042-f3b97143ec52.png)

Sample output from https://prow.k8s.io/view/gs/kubernetes-jenkins/

[2021-07-15 12:19] jprzychodzen commented on #103714
It seems that #101866 could affect this.

/assign @saschagrunert

[2021-07-15 12:24] michaelgugino commented on #96981
/remove-lifecycle stale

[2021-07-15 12:27] odinuge commented on #102676
Not sure what you mean by that. In k8s `master` it does _not_ freeze. Before last runc bump we didn't use the systemd manager `Set` to update the value, so in that case we had no freeze either.

The big issue is that if k8s keep freezing `kubepods.slice`, `burstable.slice`, `pod-xyz.slice` etc., and users use `runc v1.0.0` (or older, or other runtimes with the same behavior), their containers will

[2021-07-15 12:28] saschagrunert commented on #103714
This seems to be a duplicate of https://github.com/kubernetes/kubernetes/issues/103688

[2021-07-15 12:31] serathius commented on #103708
Release v0.3.X was already using privileged port 443, as v0.4.X has migrated to distroless image we needed to introduce `RUN setcap cap_net_bind_service=+ep metrics-server` to give it needed privileges.

What's weird for me is that the test is flaking and not failing. Could it be related to node where MS is scheduled?

[2021-07-15 12:33] odinuge commented on #102676
The best overall would be to get reviews/approvals to PRs connected to https://github.com/kubernetes/kubernetes/issues/102835 and https://github.com/kubernetes/kubernetes/issues/102836 (and https://github.com/kubernetes/kubernetes/issues/102394) so that we can get better CI signals. That would help tremendously. (and everything related to https://github.com/kubernetes/kubernetes/issues/102148)

[2021-07-15 12:34] #103714 closed

[2021-07-15 12:41] yangjunmyfm192085 commented on #103708
You mean, there may be other reasons?
If so,  may require in-depth analysis.

[2021-07-15 13:21] dgrisonnet commented on #103708
As far as I can tell, `metrics-server` is never starting properly, even when the jobs are successful.

If we were to take this job, that has succeeded: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1411948153548050432

From the serial logs, we can see that the metrics-server pod is crash looping: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernete

[2021-07-15 13:35] matthyx opened #103717 "Race condition in prober_manager"
Ref: https://hackmd.io/8BH1yq8fR9W6ZWIauHyT7w?view#Possible-race-condition-in-prober_manager

#### What happened:
Prober_manager triggers a manual run of readinessProbe after startupProbe succeeds, a race condition might reset `ready=false` even after readinessProbe succeeds.
Ready state takes another success of readinessProbe to register.

#### What you expected to happen:
Ready state updates imm

[2021-07-15 13:36] matthyx commented on #103717
/sig node
/triage accepted

[2021-07-15 13:37] haircommander commented on #103366
If you are using cri-o, it looks like a similar issue to https://github.com/kubernetes-sigs/metrics-server/issues/792 and https://github.com/kubernetes-sigs/metrics-server/issues/796 (possibly an issue with cadvisor)

[2021-07-15 13:37] haircommander commented on #103368
also cc @bobbypage as both of those examples are from cadvisor (as cri-o uses the cadvisor stats provider)

[2021-07-15 14:32] dims commented on #80546
/milestone clear

[2021-07-15 14:34] dougsland commented on #95455
Agreed, would be the best if the community that uses the RPM packaging schema for k/k help in this effort.  /help

Enjoy :)

[2021-07-15 14:36] dims commented on #96618
/milestone clear

this is just moving from milestone to milestone @msau42 @xing-yang :(

[2021-07-15 14:44] randomvariable commented on #103706
Should be fixed with two things:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2581
and then switching our reporting to the main branch of that repo. filing now.

[2021-07-15 14:46] #100824 closed

[2021-07-15 14:47] dims commented on #93276
yay bazel is gone, so this is off my lap

/unassign

[2021-07-15 14:51] liggitt commented on #103697
Thanks, latest run passed the extract step and we're back to the ginkgo describe error. That should be fixed by #103712.

Once https://storage.googleapis.com/k8s-release-dev/ci/k8s-stable1.txt updates to v1.21.3-rc.0.27+4aa451e8458a7c, can you push that to `k8s-beta.txt` as a stop gap while we figure out whether we should start pushing k8s-beta from CI again or update the job config?

[2021-07-15 14:53] dims commented on #99243
fixed in https://github.com/kubernetes/kubernetes/pull/103650

[2021-07-15 14:53] #99243 closed

[2021-07-15 15:10] xing-yang commented on #96618
Looks like the contributor who submitted a PR closed it a while ago:(.

[2021-07-15 15:10] neolit123 commented on #103697
Just wanted to note that for the kubeadm upgrade jobs we stopped testing
against stable and instead we test against the tips of release branches or
master. This allows us to also catch problems in backports before a patch
release is made.

To do that we have use the latest and latest-foo markers. The foo
calculations are currently in the tooling, since there are no latest-1
markers (ala stable1).

[2021-07-15 15:12] smarterclayton commented on #55435
Just to put some context, a recent vulnerability has been found where
CAP_NET_ADMIN allows full host takeover.
https://google.github.io/security-research/pocs/linux/cve-2021-22555/writeup.html
.

Treating CAP_NET_ADMIN as root/privileged is the right behavior.

On Wed, Jan 27, 2021 at 2:45 PM Tim Allclair ***@***.***>
wrote:

[2021-07-15 15:13] liggitt commented on #103697
it looks like the `ci/k8s-stable1.txt` marker has the HEAD build for the most recent released minor version branch... isn't that what you want?

[2021-07-15 15:13] ramrodo commented on #102865
Thanks for the suggestion @pohly. I'll look for someone in the community who can help us to test this and update the tests if It is necessary.

[2021-07-15 15:14] neolit123 commented on #95455
If you are on slack you can try asking in the #kubernetes-users channel to
see if someone is willing to help.

[2021-07-15 15:17] randomvariable commented on #103706
We've switched to main branch in test-infra, so once the above PR is in, we should be good to go

[2021-07-15 15:24] neolit123 commented on #103697
I guess it would. I may have been mislead by the 'stable' in the name. In practice the tooling can now do these calculations and its easy to say 'this upgrade job does latest-1 to latest upgrades', but one still needs to PR test infra. And IIRC the original intent of the *stable markers was mainly to not PR test infra on each release.

[2021-07-15 15:26] lambdanis commented on #102865
@ramrodo @kubernetes/sig-storage has a meeting in ~30 minutes and I ~~passively aggressively added it to their agenda~~ politely asked to review failures :)

[2021-07-15 15:31] liggitt commented on #103697
looks like CI build v1.21.3-rc.0.28+4aa451e8458a7c is available now

[2021-07-15 15:31] spiffxp commented on #103697
Done
[code]

[2021-07-15 15:31] liggitt commented on #103697
awesome, thanks

[2021-07-15 15:40] spiffxp commented on #103697
If we're going to make a decision on what we think version markers should look like, that's what https://github.com/kubernetes/sig-release/issues/850 is for.  IMO the contributor clarity gained by hardcoding version numbers would far outweigh the toil of updating them every N months.

[2021-07-15 15:42] pohly opened #103718 "storage E2E: VolumeIO volume size too low?"
#### What happened:

I'm running the storage tests against an external CSI driver (specifically: PMEM-CSI) and `[Testpattern: Dynamic PV (default fs)] volumeIO [It] should write files of various sizes, verify size, validate content` is failing because the volume is too small for the files that the test tries to write.

The test sets a minimum size of 1MiB here:
https://github.com/kubernetes/kubern

[2021-07-15 15:43] pohly commented on #103718
/sig storage

[2021-07-15 15:47] BenTheElder commented on #103652
/remove-kind bug
/kind support
/sig cluster-lifecycle

[2021-07-15 15:47] ehashman commented on #102676
@sfxworks thanks for the report, we believe that this currently affects 1.21.2 (but not prior versions of 1.21) and the 1.22 release candidate based on our RCA. It's a release blocker, we're working on it.

[2021-07-15 16:01] liggitt commented on #103675
appended .txt suffix and attached it to the description

[2021-07-15 16:03] marcelloromani commented on #23386
This is a very old thread, I know, but just for reference and hoping to help some poor soul facing this (which might be me in a few weeks!):

Escaping the dot works, but you need to add the usual dot as well! (Makes perfect sense actually.)

Example:
[code]

[2021-07-15 16:09] ehashman commented on #102676
@odinuge Got https://github.com/kubernetes/test-infra/pull/22553 approved to help out with the failing serial tests on cri-o/systemd driver, https://github.com/kubernetes/kubernetes/pull/102169 is also pending and should help.

[2021-07-15 16:31] neolit123 commented on #103697
I agree since some markers have been a bit cryptic. Tooling can help with the regular updates too.

[2021-07-15 16:36] dashpole commented on #103441
/triage accepted

[2021-07-15 16:43] jeremyrogers commented on #94761
This is not true on kubernetes 1.20.5. `kubectl get ingress -oyaml` will return apiVersion `networking.k8s.io` unless `ingresses.extensions` is specified, even on ingress objects created with `extensions/v1beta1`. As far as I can tell, the only way to check how the object was created is to use the last-applied-configuration if the object was created declaratively, or to check helm deployment objec

[2021-07-15 16:49] apelisse commented on #102810
I think there are many ways this could go wrong, that's possibly a lot of code apiserver-wise to automatically update the references, it's unclear what needs to be removed in order to trigger the removal of everything (always the namespace and just the namespace?), that seems to be a corner-case (most people don't want their cluster-wide resources to be removed when a namespace is removed). I stil

[2021-07-15 16:51] neolit123 commented on #103687
can you try to reproduce on 1.19 or newer?

[2021-07-15 16:55] alculquicondor commented on #103655
This is expected. The feature (which was alpha) is now removed by default. Users can still enable it by switching to a v1beta1 scheduler component config.

Let's remove the test.

[2021-07-15 17:05] BenTheElder commented on #75355
Did we vet that this is fixed after https://github.com/kubernetes/kubernetes/pull/102921 ?

https://github.com/kubernetes/test-infra/issues/22906

[2021-07-15 17:09] BenTheElder commented on #102904
GCE has resumed having a pretty abysmal pass rate, I presume it was a blip when I last looked at this.

https://prow.k8s.io/?job=pull-kubernetes-e2e-kind

https://prow.k8s.io/?job=pull-kubernetes-e2e-gce-ubuntu-containerd

[2021-07-15 17:10] jhoblitt commented on #83242
@gandazgul What is your `kubectl version`?

[code]

[2021-07-15 17:22] liggitt commented on #102904
while I think there's still a significant issue to solve, I don't think this issue is responsible for that pass rate

occurrences of the dial timeout on pull-kubernetes-e2e-gce-ubuntu-containerd:

* https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=dial%20timeout&job=pull-kubernetes-e2e-gce-ubuntu-containerd
* ![image](https://user-images.githubusercontent.com/980082/125830

[2021-07-15 17:25] liggitt commented on #102904
fwiw, all the errors seem to be hitting the "dial timeout, backstop" case

[2021-07-15 17:40] dims opened #103721 "Drop hack/verify-staticcheck.sh in favor of enabling`staticcheck` plugin in hack/verify-golangci-lint.sh"
**Step 1**: Enable `staticcheck` plugin in verify-golangci-lint.sh

[code]

**Step 2**: run `hack/verify-golangci-lint.sh` and see the failures. As of opening this bug the failures are as follows:

[code]

**Step 3**: fix each instance, either by making a minimal code change or adding a `//nolint:staticcheck` (for example to ignore the deprecation warnings, see https://golangci-lint.run/usage/fals

[2021-07-15 17:42] dims commented on #103721
/sig architecture
/sig testing
/are code-organization

[2021-07-15 17:49] neolit123 commented on #100760
/sig api-machinery

if sig-apimachinery doesn't want to take action and loosening the test requirements, i don't think we should consider these problematic for 1.22. maybe this should be investigated in the future...

closing the duplicate:
https://github.com/kubernetes/kubernetes/issues/100787

[2021-07-15 17:50] neolit123 commented on #100787
/close
duplicate

[2021-07-15 17:50] #100787 closed

[2021-07-15 17:51] nikhita commented on #103721
/assign @hlee95

[2021-07-15 17:54] hlee95 commented on #103721
/assign

[2021-07-15 17:55] neolit123 commented on #100760
this is not flaking in other jobs, so arguably not a blocker.
/milestone clear

will ping #sig-apimachinery to check if they object to this milestone clear.

[2021-07-15 17:58] liggitt commented on #94761
I think we're talking past each other. I was agreeing with you that `kubectl get ingresses.v1.networking.k8s.io` and `kubectl get ingress.v1beta1.extensions` returned the same items... the difference between the two requests is the apiVersion those items were returned in, which you can see with `-o yaml`.

`kubectl get ingress` is ambiguous, since ingress resources exist in multiple API groups/ver

[2021-07-15 17:59] mcbenjemaa commented on #103721
OSD very fast to pickup 🥇

[2021-07-15 18:06] qixiaobo commented on #41075
But I need to use ,how to?

[2021-07-15 18:08] jeremyrogers commented on #94761
I see, thank you for clarifying. This means that in 1.22 when ingress.extensions is removed, that all existing ingresses in a cluster will continue to work regardless of how they were created, but new ingresses will have to be created with ingress.networking.k8s.io, correct?

[2021-07-15 18:13] liggitt commented on #94761
Correct. All existing Ingress objects are accessible via the new API, regardless of how they were created.

API clients that talk to the API server over extensions/v1beta1 or networking.k8s.io/v1beta1 endpoints to get/create/update Ingress objects will have to change to networking.k8s.io/v1 to continue working against a 1.22+ cluster.

That includes kubectl (getting ingresses or applying ingress m

[2021-07-15 18:14] aditighag commented on #103363
I would like to give some more context to address the potential concerns expressed around security. Cgroup namespaces virtualize the view of a process's cgroups [1] which means they only limit the cgroup hierarchy as seen by a process. When container runtimes like Docker run in the private cgroup namespace mode, pods are created in nested cgroup hierarchies. However, please note that kubelet still

[2021-07-15 18:17] nikhita commented on #103721
/area code-organization

[2021-07-15 18:24] randomvariable commented on #103706
We should be back in business at the next periodic.

[2021-07-15 18:29] BenTheElder commented on #103363
I don't see any other than:

Which doesn't seem to be a strong argument for why Kubernetes should not push back and expect:
1) it should be mounted
2) mounts should be in one of at most a few locations, not arbitrary.

2\) at least seems very reasonable to expect or else require the user to configure in the CNI.
1\) is unclear, why are we supporting hosts running with cgroupsv2 that do not mount c

[2021-07-15 19:44] 2rs2ts commented on #88293
@sttts gotcha. Well, I will at least make a point to test this setting every time we upgrade, and hopefully when we get to 1.22, it'll just be solved. Getting a 1.22 beta cluster spun up right now would probably take me a few days at least, so I hope you'll forgive me for not doing it right now.

[2021-07-15 19:53] wesleyw72 commented on #101986
@knabben I'm interested in picking this up but I don't fully understand the task. From what I understand, the main piece of work is moving the Node flags out of `TestContext` and put them into a node e2e test specific location as suggested here: https://github.com/kubernetes/kubernetes/pull/97028/files#r617106781 .

Is that correct or have I misunderstood?

[2021-07-15 19:59] jonesbr17 opened #103722 "CVE-2020-29652: Update golang.org/x/crypto to v0.0.0-20201216223049-8b5274cf687f"
#### What happened:

Kubernetes versions 1.19 and 1.20 are vulnerable to CVE-2020-29652

#### What you expected to happen:

Vulnerability to be mitigated.

#### How to reproduce it (as minimally and precisely as possible):

go.mod needs to be updated to include
[code]
#### Anything else we need to know?:

This was fixed in the master and release-1.21 branches during the upgrade from go 1.15 to 1.1

[2021-07-15 20:07] kolyshkin commented on #102676
@odinuge thanks! We're backporting both https://github.com/opencontainers/runc/pull/3082 and https://github.com/opencontainers/runc/pull/3067 to 1.0.1, and still hope to have a release soon.

[2021-07-15 20:10] fedebongio commented on #103563
/triage accepted

[2021-07-15 20:11] fedebongio commented on #103463
/triage accepted

[2021-07-15 20:11] fedebongio commented on #103108
/triage accepted

[2021-07-15 20:11] fedebongio commented on #102019
/triage accepted

[2021-07-15 20:11] fedebongio commented on #100415
/triage accepted

[2021-07-15 20:11] fedebongio commented on #100415
/triage accepted

[2021-07-15 20:18] laplasz commented on #40610
in my point of view these node labels should be available by default as env variable...

[2021-07-15 20:22] BenTheElder commented on #96770
IMHO that one is problematic because we are not going to host a `:latest` tag in k8s.gcr.io.

[2021-07-15 20:28] claudiubelu commented on #96770
True. We can give it a specific tag, which would make it more consistent too. The current latest image is this:

[code]

[2021-07-15 20:34] BenTheElder commented on #96770
I guess what I'm really getting at is that's a perhaps desirable but bigger change and probably we need to be talking to SIG Node

[2021-07-15 20:35] SergeyKanzhelev commented on #100415
did you mean to re-open the issue? Is there additional information on what's needed?

[2021-07-15 20:49] #100274 closed

[2021-07-15 20:50] spiffxp commented on #102607
/milestone 1.23
I'm kicking this out of milestone, please feel free to put it back if there's something you're planning on landing today @BenTheElder

[2021-07-15 20:51] spiffxp commented on #102607
/miletone v1.23

[2021-07-15 21:09] BenTheElder commented on #102607
https://github.com/kubernetes/kubernetes/pull/102824 can't merge yet and is somewhat unexplained, we could use more eyes on https://github.com/kubernetes/kubernetes/issues/102754

[2021-07-15 21:45] wesleyw72 commented on #98473
/assign

[2021-07-15 21:49] BenTheElder commented on #100415
This is just something api-machinery does to remove issues from a search for issues to triage. They do this as a group in a frequent meeting, fede's account is often the one enacting the changing but it's not fede personally.

[2021-07-15 22:08] randomvariable commented on #103706
still saw the `should provide DNS for ExternalName services [Conformance] [It]` flake

[2021-07-15 22:22] ehashman commented on #70897
This remains an issue on latest k8s. Updated code path in kubelet: https://github.com/kubernetes/kubernetes/blob/53a7922e4572f48d41b144ae21dad7516500cb8d/cmd/kubelet/app/server.go#L992-L994

I think this also poses a problem for the out-of-tree migration. It seems to me that e.g. the OpenStack legacy cloud provider doesn't guarantee that the node name and hostname match: https://github.com/kuberne

[2021-07-15 22:43] bobbypage commented on #103366
I'm not able to repro on GKE v120.8-gke.700 on containerd

[code]

[code]

[2021-07-15 22:43] bobbypage commented on #103366
Can you please provide more info about your environment, container runtime etc and possible repro steps? Thanks!

[2021-07-15 22:44] ehashman commented on #103366
/triage needs-information

[2021-07-15 22:53] lambotchi commented on #103680
This happens when my front-end load balancer is listening at 443. When i tried to changed it to 6443, everything just works out fine. I haven't tested using other ports other than the two. Can someone explain to me why?

I tried to use a simply haproxy setup like

[code]
and execute

`sudo kubeadm init --control-plane-endpoint loadbalancerdns.company.com:6443 --kubernetes-version v1.21.2 --pod-net

[2021-07-15 23:06] #103655 closed

[2021-07-16 00:11] mattcary opened #103727 "Revert #99378, StatefulSet autodelete API changes"
Tracking bug for the revert so the discussion doesn't get buried in a merged PR.

See discussion on #99378. Root problem is that #99728, the implementation for the API changes, was not able to be merged.

/assign @mattcary

/cc @palnabarun
/cc @liggitt
/cc @kikisdeliveryservice
/cc @smarterclayton
/cc @kow3ns

[2021-07-16 00:11] mattcary commented on #103727
/sig apps
/triage accepted

[2021-07-16 00:11] ehashman commented on #103658
@TeddyAndrieux please attach full kubelet logs to the bug demonstrating this, thanks!

/triage needs-information

[2021-07-16 00:31] spiffxp commented on #103697
/assign
keeping an eye on the latest runs

[2021-07-16 00:37] sturfee-petrl commented on #68083
/remove-lifecycle stale

[2021-07-16 00:44] SergeyKanzhelev commented on #101989
/reopen

Rerun some tests and seeing better perf, but still some degradation - 10-15% depending on pods count.

[2021-07-16 00:45] SergeyKanzhelev commented on #101989
reopened https://github.com/kubernetes/perf-tests/issues/1789#issuecomment-881090458  - if we can see perf results comparison with 1.20 in scalability tests

[2021-07-16 01:31] qalinn commented on #83094
any update on this thread ?

[2021-07-16 02:55] 249043822 opened #103728 "kubelet volume_stat_caculator of fsResourceAnalyzer performance bottleneck while restart"
#### What happened:

For single node with 1000 pods , 3 containers per pod and 3 volumes per container,  while kubelet restart, there are many volume du commands,  and the system loadaverage becomes very high, system down and not responding

[code]

[code]
https://github.com/kubernetes/kubernetes/blob/40bc3a81a8795c45b019fd720b5f22657e9ab136/pkg/kubelet/server/stats/volume_stat_calculator.go#L135

[2021-07-16 02:56] mengjiao-liu commented on #103722
/assign

[2021-07-16 03:00] 249043822 commented on #103728
/sig node

[2021-07-16 03:30] #100966 closed

[2021-07-16 03:43] boenn opened #103731 "Unify the logic of preCheckForNode in scheduler and GeneralPredicates in kubelet"
#### What would you like to be added:

There are some duplicate codes in scheduler and kubelet, which are redundant. Like this in scheduler:

https://github.com/kubernetes/kubernetes/blob/40bc3a81a8795c45b019fd720b5f22657e9ab136/pkg/scheduler/eventhandlers.go#L494-L528

and this in kubelet:

https://github.com/kubernetes/kubernetes/blob/40bc3a81a8795c45b019fd720b5f22657e9ab136/pkg/kubelet/lifecycl

[2021-07-16 04:30] neolit123 commented on #103680
hello,

haproxy is taking over a port the kube-apiserver cannot listen on it?
see:
https://github.com/kubernetes/kubeadm/blob/master/docs/ha-considerations.md#bootstrap-the-cluster

if you think something is missing in the documentation PRs, welcome for k/kubeadm and k/webiste.

this may be unrelated or temporal.

we do not provide support in the kubernetes issue trackers.
try the support channels

[2021-07-16 04:30] #103680 closed

[2021-07-16 05:48] wojtek-t commented on #103697
OK - so cluster upgrade tests become green again after the change:
https://testgrid.k8s.io/google-gce-upgrade#gce-1.13-1.14-upgrade-cluster&width=25

But it seems that master upgrade is panicing (I don't know how it worked for me before). It's a type - going to send out fix soon.

[2021-07-16 05:54] wojtek-t commented on #103697
fix in master branch: #103733
cherrypick to 1.21: #103734

[2021-07-16 06:19] srampal commented on #103000
@jcortejoso @thockin  Imo this is a very valid issue and should not just be a documentation change imo .. (unless I am missing something about the exact scenario).

Was the issue seen when the client was accessing the service from outside the cluster ? or was the client a pod in the same cluster ? I thought it was the latter and if so,  this is not just a documentation issue per my understanding s

[2021-07-16 06:24] striver619 commented on #95279
Well, I will try my best to deploy k8s 1.19 on aarch64 through source code complation. I believe I can!
By the way, I also believe that we can deploy k8s on aarch64! How about you?

@liggitt @puerco @justaugustus @LappleApple @erismaster @voigt

[2021-07-16 06:25] TeddyAndrieux commented on #103658
I already put some lines, I do not have much since kubelet does not logs when fetching PVC but basically I added some logs to debug and it hang on every static Pods when fetching the PVC
[code]

And on my tests, it took like 3 minutes to timeout to get this PVC (and during this time static pod volumes, which are not PVC, does not get bind, so apiserver cannot be scheduled, that's why I have this l

[2021-07-16 07:02] cpanato commented on #100274
gcp-compute-persistent-disk-csi-driver is moved

and nvidia-gpu-device-plugin have a good slack 🧵  https://kubernetes.slack.com/archives/C0BP8PW9G/p1623920550355600 and the image was move in k/k with this PR https://github.com/kubernetes/kubernetes/pull/100294

I think we can close this issue.
will close, if I did wrong we can reopen

/close

[2021-07-16 07:05] rdrgporto commented on #103366
Hi, @bobbypage

First of all, I am sorry to cut in on you. I have the same issue with **Kubelet**, in my case with **Kubeadm**.

- Here you are the issue: https://github.com/kubernetes/kubernetes/issues/103347
- Here you are my installation: [kubernetes-with-containerd.md](https://github.com/kubernetes/kubernetes/files/6828524/kubernetes-with-containerd.md)

Thanks in advance 😃

[2021-07-16 07:30] lambotchi commented on #103680
I am well aware of https://github.com/kubernetes/kubeadm/blob/master/docs/ha-considerations.md#bootstrap-the-cluster and tried with --apiserver-bind-port as well.

[2021-07-16 08:22] sanposhiho opened #103737 "scheduler: panic in AppendReason, when status is nil (= success)"
#### What happened:

AppendReason panic when status is nil.
https://github.com/kubernetes/kubernetes/blob/818ed1afff306f8b310c56083e0c6be4fa93ce8a/pkg/scheduler/framework/interface.go#L185

Some plugins return nil to mean success.

(Or, shouldn't Status.reason be used on success status? I use Status.reason field as a reason for why it is success.)

#### What you expected to happen:

not panic or d

[2021-07-16 08:23] sanposhiho commented on #103737
/sig scheduling
/assign

I think there are some solutions we can take.
1.  just add this behaviour to AppendReason document. (most easy solution)
2. initialize Status when status is nil like below.

[code]

3. make plugins not to return nil as Status

I support the second idea.

[2021-07-16 09:02] mdbooth commented on #70897
This issue affects both the AWS and OpenStack in-tree cloud providers, both of which return instance.Name in CurrentNodeName(), which is not necessarily the same as kubelet's default of the FQDN hostname.

We can work round this by setting the hostname to be whatever the in-tree cloud provider previously returned. However, this feels like a kludge because:
* We're changing the hostname of an exist

[2021-07-16 09:27] wangcheng34 commented on #103687
I update all cert, now is OK

[2021-07-16 09:29] wangcheng34 commented on #103687
/clo

[2021-07-16 09:29] #103687 closed

[2021-07-16 09:30] aojea opened #103738 "[Failing job] pull-kubernetes-e2e-gce-ubuntu doesn't work"
this job failed with

It seems it is imssing some dependency

The job history confirms it is totally broken

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-ubuntu
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-ubuntu

_Originally posted by @aojea in https://github.com/kubernetes/kubernetes/issues/103713#issuecommen

[2021-07-16 09:30] aojea commented on #103738
/sig testing

[2021-07-16 09:47] borgerli commented on #73492
We run into the same issue.

[2021-07-16 10:45] pacoxu commented on #99183
/cc @bobbypage  @dashpole
Do you agree that we can add a simple feature gate to disable 'cadvisormetrics.ProcessMetrics'?
Or is there another way to configure cadvisor metrics list ?

https://github.com/kubernetes/kubernetes/blob/985ac8ae5089d3312640b0fca795469fb8025f2a/pkg/kubelet/server/server.go#L357-L372

[2021-07-16 10:50] pacoxu commented on #99183
Or like `--volume-stats-agg-period` flag. It can determine the frequency of `du ` a pod.

We can add a new flag in kubelet config file like `processCheckInterval` to make it configurable.

[2021-07-16 11:31] ondrejdolezal93 commented on #103584
Thanks for your investigation!

I would like to point out one thing:
This problem happens when I upgrade the deployment, when I delete old one and deploy new one, the problem is not there at all.

I would excpect that affinity will "vanish" when upgrading to new deployment that is not using it, as Kubernetes config files are of a declarative manner.

[2021-07-16 11:49] endocrimes commented on #103728
/triage accepted
/priority backlog

[2021-07-16 11:51] mnp commented on #74551
I had success with @anthcor 's solution: let him decide the local port.

[code]
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTreeState:"clean", BuildDate:"2021-06-16T12:59:11Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7",

[2021-07-16 12:03] jmcshane commented on #83242
I wanted to drop out a use case here that is a little different that the other ones mentioned. I am using OPA/gatekeeper to do validation on k8s resources both at build time and runtime. The way gatekeeper works is that you specify constraint templates and then define implementations of those constraint templates in unique `kinds`. The problem here is that when you define a constraint template, it

[2021-07-16 12:11] endocrimes commented on #103623
This appears to be caused by an actual regression.

After digging into this and the other eviction failures, it appears that eviction itself happens in most cases (I haven't finished debugging storage tests). However, rather than pods transitioning to an `Evicted` state, they very briefly become `Evicted`, and then migrate to `Error`. This was not true in v1.21.1.

I'm running a bisect between 1.2

[2021-07-16 12:11] endocrimes commented on #103623
/priority important-soon

[2021-07-16 12:51] cpxPratik commented on #87634
/remove-lifecycle rotten

[2021-07-16 13:08] endocrimes commented on #103623
Finished bisecting - Looks like the regression was introduced by 3eadd1a9ead7a009a9abfbd603a5efd0560473cc (cc @smarterclayton).

Going to investigate the changes and see if I can figure out a fix, not sure if this issue should be converted into a bug to block 1.22 or not though.

[2021-07-16 13:26] endocrimes commented on #103623
Digging further into the logs - It looks like they confirm that we do indeed correctly evict the pod, and then on the next SyncLoop reconcile, we patch the pod again with an `Error` state - so I'm gonna take a look into that now, guessing a lifecycle case got missed in the refactoring.

[2021-07-16 13:29] arun2arunraj commented on #70664
@arpitaashu : Have you got any fix for this ?

[2021-07-16 13:42] endocrimes commented on #103623
/kind regression
/priority critical-urgent

[2021-07-16 13:43] endocrimes commented on #103623
/remove-priority important-soon

[2021-07-16 13:55] lambdanis commented on #103706
We have a green build :tada:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-conformance-with-k8s-ci-artifacts/1415845983945756672
https://k8s-testgrid.appspot.com/sig-release-master-informing#periodic-conformance-main-k8s-main

I'm calling it closed.

[2021-07-16 13:58] liggitt commented on #103697
https://github.com/kubernetes/kubernetes/pull/103734 is merged, should resolve the last failure

as long as the job points to ci/k8s-beta.txt, I guess we'll need one more bump once https://storage.googleapis.com/k8s-release-dev/ci/k8s-stable1.txt updates to v1.21.4-rc.0.3+0e1bd6ab564...

[2021-07-16 14:13] wojtek-t commented on #102865
FTR - those tests aren't related to Windows (the windows tests might have their own issues).

[2021-07-16 14:13] wojtek-t commented on #102865
BTW - shouldn't we add this to 1.22 milestone?

[2021-07-16 14:17] voigt commented on #70249
/milestone clear

[2021-07-16 14:19] voigt commented on #97807
/milestone clear

[2021-07-16 14:26] liggitt commented on #103697
also opened https://github.com/kubernetes/test-infra/pull/22915 to fix up the testgrid tab names and make these tests use ci/latest instead of ci/k8s-beta (happy to re-rework that if k8s-beta starts being automatically populated again)

[2021-07-16 14:37] neolit123 commented on #103652
you can look at JoinConfiguration here:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

or check the output of `kubeadm config print join-defaults`.

/close

[2021-07-16 14:37] #103652 closed

[2021-07-16 14:51] mkorbi commented on #102865
/milestone v1.22

[2021-07-16 14:52] mkorbi commented on #103688
/milestone v1.22

[2021-07-16 15:20] liggitt commented on #103697
looks like it's ready now

[2021-07-16 15:24] Startouf commented on #79547
This is still annoying that we do not have a --wait or -F flag as suggested above, I'm in favor of reopening

/reopen
/remove-lifecycle rotten

[2021-07-16 15:30] eddieparker commented on #79547
/reopen

[2021-07-16 15:38] endocrimes commented on #103623
It seems like a race between PLEG and the Eviction termination - While the termination is completing, PLEG detects that the underlying containers have stopped, and writes the conflicting status.

[annotated.log](https://github.com/kubernetes/kubernetes/files/6831813/annotated.log)

[2021-07-16 15:44] intfrr commented on #62594
I'm kind of new to k8s. How do I set the binding from 127.0.0.1 to 0.0.0.0?

[2021-07-16 15:47] kscharm opened #103739 "k8s API server prunes metadata field in PodTemplateSpec"
#### What happened:
The kubernetes API server prunes the `ObjectMeta` field of `PodTemplateSpec` when used in a Custom Resource Definition. It does not prune the `PodSpec` field.

#### What you expected to happen:
The metadata field should be acknowledged as a known field by the k8s API server and persist in the CR object instead of being pruned.

#### How to reproduce it:
Create a new `CustomReso

[2021-07-16 15:48] kscharm commented on #103739
/sig api-machinery

[2021-07-16 16:12] #103578 closed

[2021-07-16 16:16] smarterclayton commented on #103623
Thanks for the info, looking

/assign smarterclayton

[2021-07-16 16:23] smarterclayton commented on #103623
[code]

from your example implies someone wrote a new pod reason, which should only come from the pod worker loop.  I checked where readiness was setting status and thought it was not overriding this, but if so I missed something.  Looking to see what container readiness status is allowed to change (once a pod is out of terminated, no status update should overwrite that because by definition after

[2021-07-16 16:31] smarterclayton commented on #103623
The patch has

[code]

in it, which clears the values.  That is not expected, because container status should have no impact.  Looking at why that is with a unit test, that's definitely the bug:

[2021-07-16 16:46] rphillips commented on #103623
Looks like the API is modifying the pod and the RECONCILE event is calling into HandlePodReconcile. Perhaps HandlePodReconcile needs to detect the terminated pod?

[2021-07-16 16:47] smarterclayton commented on #18622
Yeah, at the time we were considering this we considered "V2" as something we would do.  In the meantime, the cost of API change to the ecosystem has been measured as "really really high".  Even promotion of v1beta1 CRD to v1 has been enormously expensive.  Given that, dramatic changes like this to solve cleanliness issues don't really justify their expense to users (developer time in kube, crd au

[2021-07-16 16:48] #18622 closed

[2021-07-16 16:56] smarterclayton commented on #103623
This is a race condition between different parts of the Kubelet, exposing a bug in how the kubelet writes status to the apiserver.

1. syncTerminatingPod creates the "final" status for the pod and sends it to status manager with reason/message set
2. status manager writes that update to the apiserver
3. a probe that was running while termination was happening fails and the probe manager invokes Se

[2021-07-16 17:05] hamzaabi commented on #57159
is the issue fixed, if yes please tell me how?

[2021-07-16 17:05] mauriciopoppe commented on #102865
/assign

[2021-07-16 17:11] BenTheElder commented on #70249
I'm prototyping what distroless + additional necessary c binaries (like iptables) would look like in the KIND subproject here: https://github.com/kubernetes-sigs/kind/pull/2373

It's not bad actually, especially given that distroless has images intended for C, C++ applications (adds libc6, adds libgcc1). I've been writing a generalizable approach to automatically copy binary + runtime dynamic libr

[2021-07-16 17:15] ehashman commented on #70897
/area provider/openstack

Please add additional ones as affected :)

[2021-07-16 17:17] ehashman commented on #103623
/milestone v1.22

[2021-07-16 17:30] mdbooth commented on #70897
/area provider/aws

[2021-07-16 18:00] andrewsykim commented on #70897
IMO the _right_ approach is for all kubelets to set the `--provider-id` flag with the well-known provider ID format of the cloud provider. This way we never have to defer to the name and can rather check the unique ID of instances for existence. However, we can't always assume that users will set that flag and I would agree it's ideally something we can build into the system to do right.

[2021-07-16 18:01] mdbooth commented on #70897
Would you use the provider id as the node name? If not, how would you use it to resolve the node name?

[2021-07-16 18:03] spiffxp commented on #103697
I got pulled away from keyboard, I'll sync shortly though the test-infra PR will probably obviate

[2021-07-16 18:11] spiffxp commented on #103697
[code]

[2021-07-16 18:26] alculquicondor commented on #102959
Note that 1.22 has this feature as alpha, meaning that it's disabled by default. Please try it out if you have the chance and let us know if you encounter any issues.

[2021-07-16 18:28] andrewsykim commented on #70897
The provider ID maps to the `spec.providerID` field on the node object. You can construct it using the well-known format based on the provider, typically something like `aws://<instance-id>` or simiar

[2021-07-16 18:30] ehashman commented on #100788
That's failing often enough to be considered flaky; I have seen this test fail frequently on presubmit jobs.

[2021-07-16 18:33] mourya007 commented on #92402
@BenTheElder Hello ! I would like to help in this, Is there any current failure which is not taken by anyone.?

[2021-07-16 18:48] nckturner commented on #70897
@andrewsykim does this mean that setting `--provider-id` is required before upgrade?  And if a node's hostname doesn't match its nodename, then kubelets will fail to start, after their control plane has been upgraded to external CCM if that kubelet doesn't set `--provider-id`?  To me that seems like breaking backwards compatibility guarantees, so if we can avoid it we should try to.

[2021-07-16 18:52] nckturner commented on #70897
Nvm, as you mentioned above, users may or may not have this set.  I am interested in this suggestion by @mdbooth which sounds like it could get us through the upgrade without breaking existing kubelets:

[2021-07-16 18:53] andrewsykim commented on #70897
Just to be clear this was just for addressing the delete case, existing kubelets should not need --provider-id. And even new kubelets do not need --provider-id. However, having `--provider-id` set allows to handle the case where the node name is different from the instance name

[2021-07-16 18:56] nckturner commented on #70897
So the above issue makes it sound like existing nodes will be deleted upon upgrade:

Am I misunderstanding when this might occur? I read it as: on upgrade, if hostname does not match nodename.

[2021-07-16 19:13] bin3377 commented on #94889
happens to hit a very similar issue, but in my case, port `443` doesn't work but `8080` works. I guess the reason is at the beginning I used `8080` as both the service port and mutating webhook. And later on, switched to `443` on both and it started to fail (also got event `dial tcp: lookup xxx.svc on 127.0.0.1:53: no such host`) and the error is gone when switching back to `8080` on both. Seems t

[2021-07-16 19:17] geotransformer opened #103741 "api-server keep logging passthrough.go:48] ccResolverWrapper: sending update to cc: {[{https://127.0.0.1:2379 }}"
#### What happened:
======apiserver pod logs
I0716 19:16:48.071092       1 clientconn.go:948] ClientConn switching balancer to "pick_first"
I0716 19:17:30.236458       1 client.go:360] parsed scheme: "passthrough"
I0716 19:17:30.236498       1 passthrough.go:48] ccResolverWrapper: sending update to cc: {[{https://127.0.0.1:2379  <nil> 0 <nil>}] <nil> <nil>}
I0716 19:17:30.236509       1 clientconn

[2021-07-16 19:20] ehashman commented on #70897
This seems error-prone to me and I'd prefer we not add hacks in the kubelet to work around a cloud-provider issue.

[2021-07-16 19:34] lambdanis opened #103742 "[Flaking Test] [sig-scalability] restarting konnectivity-agent (ci-kubernetes-e2e-gci-gce-scalability)"
#### Which jobs are flaking:

* [ci-kubernetes-e2e-gci-gce-scalability](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1415996980873662464) (master-blocking, gce-cos-master-scalability-100)
* [ci-kubernetes-e2e-gci-gce-scalability-node-killer](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-node-killer/14153326950

[2021-07-16 19:34] andrewsykim commented on #70897
Since it's common in AWS for instances to be named after the private DNS name, I feel like the AWS CCM should just be updated to query nodes both by name instance name and it's private DNS name. Would that solve this issue?

[2021-07-16 19:51] kolyshkin commented on #102676
@odinuge @ehashman @dims PTAL https://github.com/kubernetes/kubernetes/pull/103743

[2021-07-16 19:57] sashrith opened #103745 "pod with an inline volume created(and then deleted) post vsphere csi migration is stuck in terminating state"
#### What happened:
Enabled CSI migration for vsphere in-tree volumes
Created a pod with inline volume
After the pod reached running state deleted the pod
Pod is stuck in terminating state
From CSI logs and kubelet logs the volume appears to have detached.

[code]

Kubelet logs:
For detach
[code]
For termination of pod
[code]

#### What you expected to happen:
Pod to get deleted without manual int

[2021-07-16 19:58] sashrith commented on #103745
/cc @chethanv28 @divyenpatel

[2021-07-16 20:14] mkorbi commented on #103742
/milestone v1.22

[2021-07-16 20:23] ihgann commented on #102676
Can confirm I just experienced this as well after upgrading to `v1.21.2`. It's intermittent as well.

[2021-07-16 20:27] sashrith commented on #103745
/sig sig-storage

[2021-07-16 20:28] sashrith commented on #103745
@kubernetes/sig-storage-bugs

[2021-07-16 20:28] nazari-dev commented on #62594
My case was solved by removing a package that was causing exponential loops in NodeJs.
(this library: https://material-ui.com/components/progress/#linear)

[2021-07-16 21:06] msau42 commented on #103745
/assign @divyenpatel

[2021-07-16 21:09] ehashman commented on #81116
/assign @QiWang19

[2021-07-16 21:32] Huang-Wei commented on #103737
@sanposhiho I'd expect (and in fact it is) the caller to be responsible to ensure the status is not nil:

[code]

The 2nd option may work, but semantically `AppendReason` should be called by a non-success status.

[2021-07-16 22:32] y-tag opened #103748 "quantity: AsApproximateFloat64() with BinarySI returns an unexpected value"
#### What happened:

I found that `AsApproximatedFloat64()` for `Quantity` with `BinarySI` returns a very small value.

#### What you expected to happen:

The value should be almost the same as the one of `Value()`.

#### How to reproduce it (as minimally and precisely as possible):

My minimal `main.go`:
[code]

Result:
[code]

While the top three lines (`DecimalSI`) are good, the float values in

[2021-07-16 22:35] y-tag commented on #103748
/sig api-machinery

[2021-07-16 22:45] ehashman commented on #70897
That might solve it for AWS but this doesn't just affect AWS; see the [examples above involving OpenStack](https://github.com/kubernetes/kubernetes/issues/70897#issuecomment-881048914). I am not sure if other cloud providers are also affected.

[2021-07-16 22:47] mattcary opened #103749 "Unknown allowedTopologies cause an error for CSI Migration"
Unknown allowedTopology labels cause csi translation to fail: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/csi-translation-lib/plugins/in_tree_volume.go#L329

However, on GKE other labels are sometimes used in PV node affinity, such as kubernetes.io/hostname or kubernetes.io/os. It's not common (100s of clusters as of July 2021), but seems enough that it should be dealt

[2021-07-16 22:48] mattcary commented on #103749
/triage accepted

[2021-07-16 22:51] ehashman commented on #103688
/sig scalability
FYI

[2021-07-16 22:54] ehashman commented on #103366
^ quick summary of the above, appears to be single-node ubuntu (not sure what kernel?)

- containerd 1.4.6
- k8s 1.21.2
- kubeadm installer

[2021-07-16 22:58] ehashman commented on #103658
@TeddyAndrieux I need the full logs (v=2 fine, v=4 even better) from the your kubelet in order to confirm this and reproduce against kubernetes HEAD. You have stated that the issue is with the kubelet PLEG and it hanging on PVCs before it does another sync loop for the static pod, but you have not attached a kubelet log that demonstrates that.

[2021-07-16 23:01] leontastic commented on #74551
I had a similar problem using `kubectl port-forward` and I resolved it with `ulimit -n 65536` on Mac OS.

[2021-07-16 23:05] #97121 closed

[2021-07-16 23:08] y-tag commented on #103748
/assign

[2021-07-17 00:03] kcheemz commented on #86881
Please re-open :)

[2021-07-17 01:41] spiffxp commented on #103688
I got annoyed that I couldn't click through to see the logs, so now you can, ref: https://github.com/kubernetes/test-infra/issues/22923

[2021-07-17 02:05] #99044 closed

[2021-07-17 02:32] shyamjvs opened #103753 "Volume mount/unmount errors saying "wait: no child processes""
While investigating some slowness in mounting/unmounting operations of PVs (in this case EFS volumes) for pods, we observed errors like these:

`Jun 25 06:57:02 ip-172-18-228-96.ec2.internal kubelet[4955]: E0625 06:57:02.532284 4955 nestedpendingoperations.go:301] Operation for "{volumeName:kubernetes.io/csi/efs.csi.aws.com^fs-81d53375:data/d8d2edcc58a94cd1baaa7ae7494ef6ab podName:709ca80b-6a3c-48

[2021-07-17 02:41] shyamjvs commented on #103753
Another thing is when analyzing a distribution of such errors across different nodes, we observed a skew. The top 10% of the nodes were seeing more than 90% of these errors. And these are nodes that are running hotter (w.r.t the pod churn) compared to others:

![Screen Shot 2021-06-28 at 4 10 44 PM (2)](https://user-images.githubusercontent.com/4333971/126022725-520fbc50-d0c0-44eb-b618-1e805fbc8d5

[2021-07-17 02:41] shyamjvs commented on #103753
/triage accepted

[2021-07-17 02:48] pravarag commented on #90402
I've started working on this issue again, hopefully will finish it soon :)

[2021-07-17 03:15] shyamjvs commented on #103753
^ I've opened this PR to fix the Mount/Unmount functions in the mount_linux.go file.

In general we might want to make a similar fix to other invocations of exec.Run() and exec.CombinedOutput() within our codebase. But that'll be a bigger change. Happy to open another issue for it.

[2021-07-17 04:04] shyamjvs opened #103754 "Volume unmount failures saying "could not get consistent content of /proc/mounts""
We saw these kinds of errors in Kubelet when [trying to cleanup]((https://github.com/kubernetes/kubernetes/blob/2da4d48e6d519fe52914b90a91cd5a64793d2bc4/pkg/volume/util/operationexecutor/operation_generator.go#L835-L840)) bind-mounts for the pod’s mounted subPaths:

`Jun 25 06:57:48 ip-172-18-228-96.ec2.internal kubelet[4955]: E0625 06:57:48.750465    4955 nestedpendingoperations.go:301] Operation

[2021-07-17 04:08] shyamjvs commented on #103754
/triage accepted

[2021-07-17 04:23] zerkms commented on #78007
/remove-lifecycle stale

[2021-07-17 04:50] bunniseng commented on #97733
Hey @lavalamp,

Can I pick this up? Thanks

[2021-07-17 05:52] bunniseng commented on #103423
/assign

[2021-07-17 08:09] tareksamni commented on #61486
Worked for me on EKS 1.20. Thanks!
It rolls back every now and then. So I had to edit daemonset myself and add the `env` and extra `- --hostname-override=$(NODE_NAME)` argument.

[2021-07-17 08:15] rdrgporto commented on #103366
It is one node. It is only for solving the issue.

#### Environment:
- **Kubernetes version**: 1.21.2
- **Cloud provider or hardware configuration**: Bare metal (VMware)
- **OS**: Ubuntu 18.04.5 LTS
- **Kernel**: 4.15.0-147-generic
- **Install tools**: Kubeadm
- **Network plugin and version (if this is a network-related bug)**: Weave 2.8.1
- **CRI**: Containerd 1.4.6

[2021-07-17 12:09] ragunathan23 opened #103755 "Nodes get automatically marked as Ready,SchedulingDisabled"
#### What happened:
All the nodes in the cluster gets automatically marked as **Ready, SchedulingDisabled**. Hence all the pods running in the nodes goes to **Pending** state except for the control plane static pods.
#### What you expected to happen:
The nodes in the cluster should operate normally when there is no cordon command triggered for nodes to be marked as SchedulingDisabled.

#### How to

[2021-07-17 12:13] ragunathan23 commented on #103755
/sig node

[2021-07-17 17:12] #96935 closed

[2021-07-17 17:17] lainosantos commented on #92594
/remove-lifecycle rotten

[2021-07-17 22:07] neolit123 commented on #103741
what is the status of etcd and its logs?

/sig api-machinery

[2021-07-17 23:15] #91001 closed

[2021-07-18 02:34] blackjackyau commented on #93824
Close this thread as the latest document states that we should use `service.${namespace}` to call a service from different namespace. ( expect to resolve on the second attempt )

[2021-07-18 02:34] #93824 closed

[2021-07-18 06:27] g3rzi commented on #101695
Hi @soltysh, did you have time to look at this issue?

[2021-07-18 08:48] zerkms commented on #66450
/remove-lifecycle stale

[2021-07-18 11:48] pmgk07 commented on #60338
I'd like to help out on this issue. Needed pointers on if anything more than the below is required:
- I find a file with runtime.GOOS
- Move that piece of code in "file" to "file_linux" / "file_windows" / "file_others"
- Tag the platform specific things with // +build linux ,  // +build windows

[2021-07-18 11:52] #103738 closed

[2021-07-18 12:15] #87869 closed

[2021-07-18 13:49] sanposhiho commented on #103737
Hi @Huang-Wei

OK, I see :)

I created the small PR to describe that reason field is for non-success status.
Please take a look 🙏

[2021-07-18 14:15] #85974 closed

[2021-07-18 21:21] voigt commented on #101951
Hi, Bug Triage here,
removing this issue from 1.22, as there hasn't been activity on that issue for 16 days.

/milestone clear

[2021-07-18 21:24] voigt commented on #95279
/milestone 1.23

[2021-07-18 21:25] voigt commented on #95279
/milestone v1.23

[2021-07-18 22:34] Anutrix commented on #76259
Got
[code]
on doing `make verify` on master branch.
Is this related?

[2021-07-18 23:25] graywolf-at-work commented on #102959
Since we are using EKS (AWS service), we are sadly not able to enable alpha features.

[2021-07-19 02:16] kerthcet commented on #103584
I tried to combing these logic acrossing these features, but I found I'm on the wrong way. For all the features, IMO, they all created to achieve high availability and efficient resource usage. So single node cluster should not be in consider. Or if you have any scenarios? 🥲

[2021-07-19 02:43] cwdsuzhou commented on #96478
/remove-lifecycle

[2021-07-19 02:44] cwdsuzhou commented on #96478
/reopen

[2021-07-19 03:53] arun2arunraj commented on #70664
@mihailgmihaylov : We are also facing the same issue. once i have changed my configuration as per your recommendation, API Server pod is not coming online.

[2021-07-19 04:44] bschoenbach commented on #99824
/remove-lifecycle stale

[2021-07-19 05:05] ragunathan23 commented on #103755
Any update on this?

[2021-07-19 05:21] adisky opened #103759 "[Failing test] [sig-node] Summary API and ResourceMetricsAPI tests are failing on cgroupv2 containerd job"
#### Which jobs are failing:
ci-cos-cgroupv2-containerd-node-e2e

#### Which test(s) are failing:
Summary API [NodeConformance]
ResourceMetricsAPI [NodeFeature:ResourceMetrics]

#### Since when has it been failing:
Failing since the job was created
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-cgroupv2-containerd-node-e2e/1406872829823029248

#### Testgrid link:
https://testgrid.k8s.i

[2021-07-19 05:21] adisky commented on #103759
/sig node

[2021-07-19 05:44] wojtek-t commented on #95875
Reopening - this didn't happen.

[2021-07-19 06:17] yuzhiquan commented on #103305
/assign

[2021-07-19 06:40] RinkiyaKeDad commented on #103043
/sig architecture

[2021-07-19 06:51] mohag commented on #81116
Group read permissions might be useful to keep? It allows potential integration to be given read access by adding it to a group. (Especially for log files, where the option to run a collector as a non-root user is useful)

[2021-07-19 07:24] VidarHUN opened #103760 "Slow audit-logs in apiserver"
#### What happened:

Whenever my kopf based operator trying to make a PATCH for a CR the apiserver is trying to make an audit-log while I haven't turned this feature on. And this audit logging takes a couple of seconds usually which is not good for my cluster.

Log from the apiserver:

[code]

And my apiserver configuration:

[code]

#### What you expected to happen:

I expect that the PATCH could

[2021-07-19 07:29] saschagrunert commented on #95171
/remove-lifecycle stale

I can work on this in v1.23

[2021-07-19 08:43] mdbooth commented on #70897
I think we're mixing up the delete case you mentioned above. It sounds like this new issue has hijacked a similar but different issue. Sorry!

In the in-tree -> external CCM case, the external CCM is not involved in the bug at all, so unfortunately it's not useful for fixing anything. The issue is in the difference of behaviour between:

* The in-tree cloud provider
* The default behaviour of *kub

[2021-07-19 08:44] linl12138 opened #103761 "Managing Resources Memory for Containers"
When I managing resources memory for containers, if  spec.containers[].resources.requests.memory equal 100m,pod can run sucessfully,but if I add limits setting, the memoy unit is also 'm',the pod will start failed.
According document,the valid memoty unit includes 'E, P, T, G, M, K',or 'Ei, Pi, Ti, Gi, Mi, Ki',but why using  'm' cannot Return syntax error.

The first case(running sucessfully):
res

[2021-07-19 09:00] serathius commented on #103368
/cc Kubelet should not report metrics from init containers

[2021-07-19 09:00] serathius commented on #103368
/retitle Kubelet should not report metrics from init containers

[2021-07-19 09:39] lambdanis commented on #102904
Hey, just checking in, how close are we to fixing this issue? Can I do anything to help?

We have jobs on master-blocking dashboard flaking with this error recently:
[ci-kubernetes-gce-conformance-latest-kubetest2](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-kubetest2/1416934204754628608) (Testgrid: [Conformance - GCE - master - kubetest2](https://k8s-t

[2021-07-19 10:11] trallnag commented on #62099
So the workaround is to mound the readonly secret files and then use init container to move the secret files to the final destination?

[2021-07-19 11:14] adisky opened #103764 "Add test case in pkg/cm/cpuset to verify no elements are added after result is called"
This is caught by static check PR
https://github.com/kubernetes/kubernetes/pull/103723/files/7e980a3330b648bcc8952356b16fc7500a8c530f#r670801768

Test case needs to be added for the following code path

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cpuset/cpuset.go#L49-#L52

A simple verification of adding element `b.Add()` after result `b.Result()`  is called needs to be add

[2021-07-19 11:16] adisky commented on #103764
/sig node
/triage accepted
/good-first-issue

[2021-07-19 11:19] basanaguk commented on #103764
/assign

[2021-07-19 11:25] imkos opened #103765 "use of closed network connection;Cause the node status to become not ready"
k8s version: 1.20.8
1):
e59e-4b2c-b7cc-0fe7a2394fc0-golib") pod "msgapiserver-094b322a-b744-4a0f-bbb6-2dc87dfd44a3-b6d3v-m4n4x" (UID: "336c3203-e59e-4b2c-b7cc-0fe7a2394fc0")
Jul 19 18:02:42 node1 kubelet[2129392]: E0719 18:02:42.287195 2129392 conn.go:254] Error on socket receive: read tcp 127.0.0.1:14905->127.0.0.1:9946: use of closed network connection
Jul 19 18:02:43 node1 kubelet[2129392]: I07

[2021-07-19 11:34] hyserver opened #103766 "How can I remove ImageLocalityPriority?"
#### What happened:
The ImageLocalityPriority parameter causes uneven use of cluster resources.

Can we remove it?

#### Environment:
- Kubernetes version: 1.21.1
- OS: NAME="CentOS Linux", VERSION="7 (Core)"
- Kernel: 4.4.248-1.el7.elrepo.x86_64
- Network plugin and version : macvlan 0.9.1

[2021-07-19 11:45] adisky commented on #103764
oh!! there is already a PR https://github.com/kubernetes/kubernetes/pull/103415 Adding the test

[2021-07-19 12:06] jyz0309 opened #103767 "Remove the deprecated metric"
When I read the code `staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go`, I have noticed that the metric `etcdObjectCounts` is replaced by `apiserver_storage_object_counts`. And it seems that this metric have been deprecated.
Can I remove it?  If I can, just assign to me! thx~
Thanks to give your suggestion :)

[2021-07-19 12:10] jyz0309 commented on #103767
/sig storage

[2021-07-19 12:24] dionysius opened #103769 "kubectl create clusterrolebinding "--user" not explained"
#### What happened:

There is no explanation about what `--user` means in the `clusterrolebinding` help: `kubectl create clusterrolebinding --help` <details>
[code]
</details>

This is also missing for `rolebinding`: `kubectl create rolebinding --help` <details>
[code]
</details>

#### What you expected to happen:
An explanation what `--user` is and means (should be analogue to `--group`) and what

[2021-07-19 12:24] mcginne commented on #100711
/remove-lifecycle stale

[2021-07-19 12:28] Gzylzy opened #103770 "Create k8s pod and always wrong"
My project is a SpringBoot jar, and when i want to create a pod , it talks to me "io.kubernetes Unknown apiVersionKind v1/Pod is it registered?" then i debug it and found some question,
--- Set<ClassInfo> allClasses = cp.getTopLevelClasses("io.kubernetes.client.openapi.models");
This code in ModelMapper.class to read the package, when it works in jar ,It always found nothing ,that cause my pod don