[2022-08-31 16:42] elmiko commented on #111539
marking this as accepted since there is a KEP in flight

 /triage accepted

[2022-08-31 16:42] lavalamp commented on #112152
I think the second list of errors are actually indicating that a particular apiserver isn't actually healthy (lacks etcd connection or is connected to an unhealthy etcd replica). I think the most important thing in this case is for that apiserver to stop getting new requests until this fixes itself (i.e., say it's not healthy and have the LB stop routing traffic to it).

It's especially problemati

[2022-08-31 16:46] bridgetkromhout commented on #111539
/triage accepted

[2022-08-31 17:00] #111868 closed

[2022-08-31 17:30] harshanarayana commented on #112114
Might be related to https://github.com/kubernetes/kubernetes/issues/110630 ?

[2022-08-31 17:54] diranged commented on #91492
Just chiming in here.. this is a pretty interesting and important issue to fix. We just had a complete outage of our Kafka system due to all of the Kafka brokers being preempted at the same time due to a totally unrelated DaemonSet rollout. Obviously that wasn't expected given that we have strict PDBs in place

[2022-08-31 18:03] dghubble commented on #112135
https://github.com/coreos/fedora-coreos-tracker/issues/1287#issuecomment-1232763947 has a great packet capture and this has been reported to musl https://www.openwall.com/lists/musl/2022/08/31/1

[2022-08-31 18:12] alculquicondor commented on #111793
kube-scheduler takes decisions based on the pods that are currently running. And this might include pods that are currently terminating.

This is by design, as pods might take arbitrary amounts of time to terminate.

If you want a different behavior, there needs to be an API for it.

[2022-08-31 18:14] alculquicondor commented on #112010
We only backport critical bugfixes, and I'm not hearing that this is one.

If you disagree, maybe you might want to bring the discussion to the SIG Apps meeting.

[2022-08-31 18:39] alculquicondor commented on #91492
@denkensk are you still planning to work on this?

[2022-08-31 18:45] alculquicondor commented on #112096
I'm fine with the change, but keep in mind that this could break cluster-autoscaler and the scheduling-plugins repo.

[2022-08-31 18:46] alculquicondor commented on #112096
I think they just need fair notice, or you could also write the PRs in the corresponding repos to adapt to the change.

[2022-08-31 18:54] shyamjvs commented on #112152
Agree about stop sending traffic to unhealthy apiserver (which could for e.g be achieved by some combination of health-check and readiness probes). But how does client know if it can/should retry in such cases (there may be a healthy apiserver available)?

Also, some of those errors are really transient. For e.g:

https://github.com/kubernetes/kubernetes/blob/87721fb71075582a1ee1e89b6a3391813e411a

[2022-08-31 19:25] oliviermichaelis commented on #111781
Hi @squakez, I think this could be an expected behaviour. Based on the [documentation for the scale subresource](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#scale-subresource):

I don't know how that should be handled in the CRD, though. Maybe the CRD could either define a sensible default value or require users to set the `.spec.replica`?

[2022-08-31 19:29] #111108 closed

[2022-08-31 20:23] aramase opened #112160 "[KMS] Disallow configuring multiple kms providers with the same name"
It is possible today to configure multiple kms providers with same name and different config (UDS, cache size, etc.). This does not provide any real value and would be a bug.

**Open questions**

Should we enforce a strict check to not allow this behavior? Any changes to this could be a breaking change.

/kind bug
/sig auth

[2022-08-31 20:32] lavalamp commented on #112152
If ErrLeaderChanged is really super transient, why shouldn't apiserver do the retry? In fact maybe the etcd client should do the retry?

I think we don't *need* to tell clients to retry, they all will anyway. Specifically telling them to retry might save them some work (maybe they retry just that request instead of redoing everything), and it might keep them from retrying too soon. Somewhat minor

[2022-08-31 21:03] enj commented on #112160
/triage accepted

[2022-08-31 21:08] Dashhh commented on #105678
Hi @pohly is there anything I could take over?

[2022-08-31 21:14] ratzalex commented on #106957
I had this error on Kubernetes version 1.24, with CRI-O 1.24. Today I did a fresh install with Kubernetes 1.25 + CRI-O 1.25 (with the same machine types and OS versions) and the error went away. I tried deployment scale-down, pod deletion, but I no longer see the mentioned _"Unable to fetch log stats"_ messages in the log.

- VirtualBox machines
- OS: RHEL 9 with kernel 5.14.0-70.22.1.el9_0.x86_64

[2022-08-31 21:51] shyamjvs commented on #112152
Agree on right-sizing etcd to handle expected load. Also I like your point around apiserver not being rate-limited by any of its dependencies (like webhooks, auth, etcd).

But let's say that even "if" we are able to use APF to precisely cap usage to a value that's always safe, not all etcd errors are load-related. Specifically these:

These are issues that can't be solved using APF fmu. Defrag is

[2022-08-31 21:59] lavalamp commented on #112152
...I've never seen a complaint that this causes failed api requests before, and it happens all the time, no? Are you sure defrags trigger this? Or perhaps it's just underprovisioned and can't both defrag and service requests at the same time?

IMO the cluster is down during that time and how would you decide what a good amount of time is for clients to wait? 500 seems like the response that accura

[2022-08-31 23:26] shyamjvs commented on #112152
It's not a case of under-provisioning. Defrag is a stop-the-world operation in etcd today, and no matter how much cpu/mem/iops is provisioned, that is the behavior. This was discussed earlier as part of https://github.com/kubernetes/kubernetes/issues/93280 and it's more than just an edge-case folks run into. For other datapoints see https://github.com/etcd-io/etcd/pull/12941#issuecomment-837419035

[2022-08-31 23:33] lavalamp commented on #112152
I'm sorry, I didn't understand this as a proposal, what exactly was the proposal?

[2022-08-31 23:45] ssmuthukumaran commented on #108049
am seeing same issue with
- kubernetes: 1.22.2
- containerd: 1.5.9

[2022-08-31 23:53] rkpagadala opened #112164 "go-to-protobuf not working"
### What happened?

Running the following command to generate .proto file leads to an error

$ go-to-protobuf -h hack/boilerplate.go.txt --only-idl -p +k8s.io/sample-controller/pkg/apis/samplecontroller/v1alpha1 -o _output/proto
2022/08/31 16:49:02 Unrecognized package: k8s.io/apimachinery/pkg/apis/testapigroup/v1

### What did you expect to happen?

The command should succeed and a .proto created

[2022-08-31 23:54] rkpagadala commented on #112164
/sig code-generation

[2022-08-31 23:58] rkpagadala commented on #112164
/sig api-machinery

[2022-09-01 00:09] rkpagadala commented on #112164
/area code-generation

[2022-09-01 00:39] shyamjvs commented on #112152
The summary of my proposal is roughly this:
1. Make `TooManyRequests` error from etcd return as a 429 back to the k8s client (with exponential Retry-After to create client back-pressure and ease spiky issues such as defrag / volume flakiness)
2. For some of the other etcd errors that are typically transient - continue to send 500 but include a Retry-After value to tell the client that the error is

[2022-09-01 00:56] hxietkg commented on #112111
With the the wrong memory usage, kubelet does not prevent more pods from being deployed on the node, the node will die of OOM finally.

[2022-09-01 01:03] Dingshujie commented on #112143
@aojea thanks for reploy,  endpointslicemirroring controller only add/update endpointsclice to endpointSliceTracker when endpointslice is need to create or update.when controller restarted, informer recevied all endpoint slices， and after reconcile, find nothing to create or update, so the endpointslices not present on endpointSliceTracker.

[code]

[2022-09-01 01:14] Eternal21 commented on #55045
This issue turned out to be a show-stopper when trying to deploy stacks containing stateful sets via helm.  Re-deployments fail due to left-over pvcs from previous installs.  I've found some hack workarounds using helm hooks in this issue: https://github.com/helm/helm/issues/5137

[2022-09-01 01:31] AbelHu commented on #112114
Close this one since it is duplicated of #110630

[2022-09-01 01:31] #112114 closed

[2022-09-01 02:11] pacoxu commented on #112124
Do you mean contained v1.3 here? runc's latest version is v1.1.4 now https://github.com/opencontainers/runc/releases.

[2022-09-01 02:13] pacoxu commented on #112124
Refer to https://github.com/containerd/containerd/blob/main/RELEASES.md#kubernetes-support
For v1.24, suggested containerd versions are **1.6.4+, 1.5.11+**.

[2022-09-01 03:31] Zruto opened #112167 "dual-stack"
when i run
`kubeadm init --pod-network-cidr=10.244.0.0/16,2001:db8:42:0::/56 --service-cidr=10.96.0.0/16,2001:db8:42:1::/112
`
it worked.but when I setup flannel and run
`kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml`
the kube-flannel's status is always "CrashLoopBackOff"
the log is `Error registering network: failed to acquire lease: subne

[2022-09-01 03:52] a7i opened #112168 "fake client policy/v1 eviction not reflected"
### What happened?

fake client eviction does not behave as expected in 1.25 release

### What did you expect to happen?

if I Evict a naked pod and then do a List, I expect the pod to not be returned.

### How can we reproduce it (as minimally and precisely as possible)?

The code below will not work on 1.25

[code]

This will output:
[code]

### Anything else we need to know?

This is blocking `

[2022-09-01 03:56] JohnRusk opened #112169 "Inconceivable: dispatch before arrival - apparent APF error"
### What happened?

Running a load test on K8s 1.23.5, and I got some messages like this:

[code]

### What did you expect to happen?

It runs without inconceivable errors

### How can we reproduce it (as minimally and precisely as possible)?

I don't have a good repro, sorry.  Output is from an internal load test that we run here at AKS. There were other errors logged around the same time (so may

[2022-09-01 03:58] JohnRusk commented on #112169
/sig api-machinery

[2022-09-01 03:59] MadhavJivrajani commented on #112169
cc @MikeSpreitzer

[2022-09-01 04:00] a7i commented on #112168
/sig api-machinery

[2022-09-01 04:03] chenk008 opened #112170 "When kubelet enable rotate-certificates and bootstrap, request CSR in foreground"
### What would you like to be added?

Now when kubelet enable `rotate-certificates` and `bootstrap-kubeconfig`, it will request CSR in background

Consider the following scenario:
1. Hundreds of nodes have been scaled out, these kubelet will request CSR in background and register themself.
2. The kube-controller-manager will approve and issue these CSRs. Some approval will delay a second because t

[2022-09-01 05:05] JohnRusk commented on #90743
+1 to getting _something_ done for deletecollection, in the case where the target collection is very large.  Right now, the unchunked list call to etcd puts stress on etcd and the API server.  And it's hard to debug (since you have to dig around and find out how delete collection works).

[2022-09-01 05:36] pacoxu commented on #112170
/sig auth

[2022-09-01 05:42] pacoxu commented on #112135
/sig network
/cc @aojea

[2022-09-01 06:05] pacoxu commented on #112170
Just curious about the delay reason. No enough CPU or memory. Or just a tunning problem. We can tune the `--kube-api-burst` and `--kube-api-qps` in [kube-controller-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/) options/flags.

[2022-09-01 06:08] neolit123 commented on #112167
it sounds like a flannel issue and not core k8s. try another cni plugin

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-09-01 06:08] #112167 closed

[2022-09-01 06:19] ialidzhikov opened #112171 "Document and test minimum privileges to needed run kube-proxy"
### What happened?

Running containers in privileged mode is not recommended as privileged containers run with all [linux capabilities](https://man7.org/linux/man-pages/man7/capabilities.7.html) enabled and can access the host's resources. Running containers in privileged mode opens number of security threads such as breakout to underlying host OS.

Currently the kube-proxy DaemonSet runs in privi

[2022-09-01 06:22] ialidzhikov commented on #112171
/sig network
/sig security

Ref to a thread where we were discussing kube-proxy in non-privileged mode - https://kubernetes.slack.com/archives/C09QYUH5W/p1659601425035639 (cc @aojea)

[2022-09-01 06:24] pacoxu commented on #112151
/sig node

[2022-09-01 06:26] pacoxu commented on #112151
/cc @bobbypage @giuseppe

[2022-09-01 06:28] Shubham82 commented on #112010
I agree with you on the criticality part.
But can we mention this issue somewhere, so that users will know about it like in which k8s version it will not work?
is it valid to do that?

[2022-09-01 06:59] danielcb commented on #112124
Sorry, Typo. runc 1.1.3.

[2022-09-01 07:00] da-head0 commented on #48841
@smarterclayton
so add first, then delete is now applied?
when I see newest kubernetes document, It says

[2022-09-01 07:04] kidddddddddddddddddddddd commented on #112096
@alculquicondor
I think for `cluster-autoscaler` and the `scheduling-plugins` repo, they just need to simply update the correspoding vendor(please correct me if I'm wrong). I can open an issue in both repos after getting an `lgtm` for the PR related to this issue.

[2022-09-01 07:53] kerthcet commented on #109405
/remove-lifecycle rotten

[2022-09-01 08:21] pckroon commented on #112148
Thanks for the super fast reply! I guess I missed a kubeadm upgrade somewhere along the way. Unfortunately my k8s cluster turned into a raging wildfire soon after, so I can't debug or investigate further. I guess that's the price of learning :)

[2022-09-01 09:19] ilyesAj commented on #104935
thank you guys for your responses, when I was digging deeper into the issue I figured that it was related to this issue https://github.com/fluxcd/helm-operator/pull/604 , I just upgraded the helm operator and I don't have the issue anymore.
@zt185019 since it's not related to kubernetes it self but on helm package , I think you may close the ticket , persons like me that had the errors have at lea

[2022-09-01 09:54] kushagra98 commented on #111433
/assign

[2022-09-01 11:33] oldthreefeng commented on #63858
My case was caused by too many tekton dead pod (over 5000 dead containers).
to solve this issue.
first , add  `--maximum-dead-containers=1000 ` to kubelet comand line .
[code]
second . restart kubelet
[code]

third. recheck

[code]
and problem is solved. thanks to @judexzhu

[2022-09-01 11:35] denkensk commented on #91492
@alculquicondor yes. Can you give your comments in this doc?https://docs.google.com/document/d/1g2wj8S04M0yTy2t4l4GzrdARtxBpkBTfkJHw0oqBvXM/edit?usp=sharing
If there is a consensus, I will convert  it to a kep.

[2022-09-01 13:09] uablrek commented on #112171
Have you tried proxy-mode=ipvs? It does not set `net/ipv4/conf/all/route_localnet` but there may be other, ipvs related sysctls.

`net/ipv4/conf/all/route_localnet` is to allow nodePorts on localhost which is discussed in https://github.com/kubernetes/kubernetes/issues/111840. It should besically be removed from kube-proxy.

[2022-09-01 13:10] jdef commented on #97153
/reopen

[2022-09-01 13:21] alculquicondor commented on #112010
Maybe somewhere in the reference docs https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/, although most of them are automatically generated from code comments. Still, you can check the github.com/kubernetes/website and propose a PR.

[2022-09-01 13:22] alculquicondor commented on #112096
they have to do code changes, because the function would have 2 return values

[2022-09-01 13:39] jimethn commented on #78761
Seeing this in kubernetes 1.21 when using custom metrics. The metric drops below target and the HPA responds by scaling up.

[code]

[2022-09-01 13:53] AlexanderYastrebov commented on #83242
Could be also done by checking the size of the items list:
[code]

[2022-09-01 14:08] kidddddddddddddddddddddd commented on #112096
I have another question :( . When should we write the PRs in the corresponding repos/How do those repos manage their vendor version? Should we update the vendor to master version or a release version? If it's the later one, does that means we should do the code changes in those repos after a release?

[2022-09-01 14:13] aojea commented on #106161
/reopen
/hold

this require some coordination with multiple things flying and considering that we can not break compatibility with the current forked IP parsers https://github.com/kubernetes/kubernetes/issues/108074

[2022-09-01 14:36] alculquicondor commented on #112096
I think that would be in their master repos. @x13n and @Huang-Wei to confirm.

[2022-09-01 14:43] judexzhu commented on #63858
@oldthreefeng I'm glad it helped.

In my case, after adding `--maximum-dead-containers=1000`, it still happened once after.

So I have to add a docker-prune service for double insurance.

Just for reference

/etc/systemd/system/docker-prune.service
[code]

/etc/systemd/system/docker-prune.timer
[code]
It will run once a week on Sunday
Using systemctl enable and start both. check the status with `s

[2022-09-01 14:50] kidddddddddddddddddddddd commented on #112096
I mean k8s.io/kubernetes branch in their vendor. I found `k8s.io/kubernetes v1.24.3` in `scheduler-plugins` and `k8s.io/kubernetes v1.25.0` in `cluster-autoscaler`. Seems like that they only update the vendor to a release tag.

[2022-09-01 14:52] kidddddddddddddddddddddd commented on #112096
Since this doesn't affect the code changes in this repo :) . I'll try to do the corresponding changes in the next few days.
If @kerthcet can let me have a try :)

[2022-09-01 15:01] Dingshujie commented on #112143
/assign

[2022-09-01 15:10] jhoblitt commented on #83242
This is what I have been using recently:

[code]

[2022-09-01 15:17] kerthcet commented on #112096
Yes, plz go ahead. Contribution is always welcome. @kidddddddddddddddddddddd

[2022-09-01 15:47] thockin commented on #111112
OK, then I think you need to file a bug with the NetworkPolicy implementation - we only have the API part of it in this repo.  Sorry to pass you off, but we don't control that part.

[2022-09-01 15:47] #111112 closed

[2022-09-01 15:52] thockin commented on #112171
Aside from route_localnet, there are other things that kube-proxy tries to configure.  It's a very low-level agent, and simply disabling those things may not really be viable - they are being set for a reason.

I'm all ion favor of dropping privilege, if we can, but I am not so confident we can...

https://github.com/kubernetes/kubernetes/pull/108250 proposes a control which should help wrt route_

[2022-09-01 16:00] #111888 closed

[2022-09-01 16:00] thockin commented on #111869
any updates here?

[2022-09-01 16:02] santkuma77 opened #112180 "Pod Deployment going to pending state when there are multiple profiles"
Hi,

My pod deployments are going to pending state when I have multiple profiles(default and custom). Also it's in pending state forever. I don't see any events or logs for this.

I have copied the yaml files below. Please help me with the following:

Why there no logs when there is pending issue?
Why there are no events logged?
Is there anything wrong with my yaml files?

===================
My P

[2022-09-01 16:11] thockin commented on #112143
@Dingshujie did you self-assign because you want to try to fix?

[2022-09-01 16:20] BenTheElder commented on #106161
/remove-lifecycle rotten

[2022-09-01 16:23] lavalamp commented on #112152
Overall I think the current response in the code to etcd errors is not super well considered. If it's time to do a better job, I'd like to take each error one at a time and think about what the correct response would be, and see if there's an easy/fast/cheap version of that (assuming the correct response is too expensive).

But I'm not convinced it's time to do a better job yet? And I also definit

[2022-09-01 16:29] lavalamp commented on #112152
Also I suspect that my ideal solutions here are going to somehow leverage APF to actually deliver the retry notifications.

For example, imagine apiserver notices etcd is giving weird error messages, and holds requests that have gotten the error, waits until some request succeeds, then retries all held requests (max 1 retry). Since there's limited seats, this causes queues to back up and APF start

[2022-09-01 16:41] leilajal commented on #112169
/triage accepted

[2022-09-01 16:42] leilajal commented on #112168
/sig scheduling

[2022-09-01 16:46] leilajal commented on #112164
/cc @cici37
thanks Cici!
/triage accepted

[2022-09-01 16:47] leilajal commented on #112168
We wait for sig scheduling response on this. Thanks.

[2022-09-01 16:47] damemi commented on #112168
is this a scheduling issue? I don't think sig-scheduling owns the Evictions api, and this seems specific to the fakeclient anyway which would lead me toward sig-apimachinery as well

[2022-09-01 17:06] aojea commented on #112135
impressive investigation in the linked issue https://github.com/coreos/fedora-coreos-tracker/issues/1287#issuecomment-1233041103 , that seems to conclude that is a muslc bug, since it happens outside of Kubernetes too.

Just reverting the PR in Kubernetes doesn't looks right, it fixed a known bug ... and this is really a muslc bug ....
maybe always removing the single dot `.` from `search` ?

I th

[2022-09-01 17:15] aojea commented on #111929
@aslanpour do you mind paste those endpointslices objects? please paste the result of the `describe` command

is it possible that one endpointslice is the "orphaned" one from the endpointslice controller (the one generated for the service with selector) and the other one is the one generated by the endpointslicemirroring controller?

[2022-09-01 17:22] dghubble commented on #112135
Its discussed by the musl folks what `.` means. It does not sound trivial to implement on the musl side, its a new case they did not anticipate supporting. Unfortunately this is issue subtle, and folks using alpine or related ecosystem things will get bitten by this. I agree its a musl issue, but Kubelet now propagating `search .` triggers this.

I think its worth noting that https://github.com/ku

[2022-09-01 17:26] thockin commented on #112135
IIUC `search .` means "try the input name without any suffix".  Resolvers will do this ANYWAY, but it's implementation-defined whether they do it first or last or in parallel, so allowing `.` lets node owners be explicit (though, curiously, it seems at leat glibc may try the same name AGAIN at the end of the search list).

This is pretty clearly a bug in MUSL, but I wonder if, instead of https://g

[2022-09-01 17:39] dgrisonnet commented on #92500
We might also want to look into that again for https://github.com/kubernetes/enhancements/issues/383.

/reopen

/assign
/unassign @jingyih

[2022-09-01 17:39] dgrisonnet commented on #92500
/remove-lifecycle rotten

[2022-09-01 17:43] aojea commented on #92500
/cc

[2022-09-01 17:46] pkhadka56 commented on #110158
.

[2022-09-01 17:54] Huang-Wei commented on #91633
yup, choosing a function that covers WithName/Value functions call and Logger's pass-in would be nice.

[2022-09-01 19:02] MikeSpreitzer commented on #112169
@JohnRusk : are there any "queue::nextDispatchR underflow" or "request::arrivalR underflow" messages logged from the same (or any other) apiserver?

[2022-09-01 19:03] MikeSpreitzer commented on #112169
What do the `apiserver_flowcontrol_epoch_advance_total` metrics say?

[2022-09-01 19:04] MikeSpreitzer commented on #112169
Any "queueset::currentR overflow" log messages?

[2022-09-01 19:15] danwinship commented on #111695
OK, discussed in SIG Network. We are _not_ going to revert the new behavior, but we should try to document the workaround better. (Can we belatedly add a 1.24 release note?)

We should also fix kubelet so that if you _don't_ pass `--node-ip`, that it _removes_ any existing node-ip annotation, rather than leaving the stale annotation there, and we should backport that fix to 1.24. #112184

[2022-09-01 19:21] harshanarayana opened #112185 "kube-proxy IPVS - Uncertain behavior on NodePort Entries"
### What happened?

I have a `v1.24.1` based Single Node cluster running (Control Plane taking the workload as well). And the `kube-proxy` is running in IPVS mode.

I am noticing a very odd behavior in terms of the entries under the `ipvsadm` that I am not able to point to a failure point. This behavior is causing the Node Port to be not reachable from outside.

[code]

The above snipper is from t

[2022-09-01 19:21] MikeSpreitzer commented on #112169
What was the `-v` setting?
I assume it was less than 4, and no "AntiWindup tweaked queue" messages appeared.

[2022-09-01 19:21] harshanarayana commented on #112185
/sig sig/node sig/network

[2022-09-01 19:22] harshanarayana commented on #112185
/sig node
/sig network

[2022-09-01 19:29] JohnRusk commented on #112169
@MikeSpreitzer  I cannot see any of the following in the logs: "queue::nextDispatchR underflow" or "request::arrivalR underflow" , "queueset::currentR overflow".  I also cannot see any "AntiWindup tweaked queue".

Unfortunately, v was almost certainly set to 2. (I can't check the cluster in question, but am checking another that should be the same).

The test ran a couple of days ago and I no long

[2022-09-01 19:30] MikeSpreitzer commented on #112169
Can you retry, with verbosity targeted specifically at https://github.com/kubernetes/apiserver/blob/v0.23.5/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go#L948 ?

That, and the metric, would help confirm or deny two hypotheses about what's going wrong.

[2022-09-01 19:32] JohnRusk commented on #112169
Let me see what I can do.  (The test in question was run by another team, so it will take me a little while to talk it over with them etc).

[2022-09-01 19:45] shyamjvs commented on #112152
Thanks for acknowledging that there's a problem here. A big motivation behind cutting this issue was this and I'm happy we agree there even if we haven't agreed on the solution yet :)

Wrt priority of this issue - I don't have a definite answer on how much it's bothering people but lemme share some data points showing it's more than just an unlikely corner-case. A common theme you see here is how

[2022-09-01 19:59] #72236 closed

[2022-09-01 20:05] dgrisonnet commented on #92500
I was able to reproduce this issue with client-go v0.25.0. I updated the reproducer to be compatible with the latest version of the client and attached the data race trace.

[2022-09-01 20:08] shyamjvs commented on #112152
+1. Good thing is we could do something incremental here without knowing the answer for all the error types. Since we've spoken about `TooManyRequests` the most, we can start there and continue tracking the others under this umbrella issue.

IIUC potential options we discussed so far (please add any if I'm missing):
1. [shyamjvs] ask clients to back-off (using some combination of 429 + RetryAfter)

[2022-09-01 20:15] lavalamp commented on #112152
As a quick fix, I'd be OK obscuring the etcd message so that it doesn't confuse end users. Other things require more thought.

I'm really sorry but I have to rate limit this conversation, it's taking too much time on my end. I can try to explain more next week.

[2022-09-01 20:37] shyamjvs commented on #112152
No worries, thanks for the discussion and sorry it got long.

Even if we choose to not fix this near-term, this issue is now documented and others who're affected by it can also find this and report their impact. So I'd like to keep this issue open for some time.

[2022-09-01 20:41] davidmccormick commented on #111890
This PR is an interim improvement, it will lessen the impact of the storm by slowing down the apiservers which are seeing failures but it does nothing the address the actual shared single state shared across all api-servers, mentioned above, because that would be a more ambitious and potentially client breaking change.

https://github.com/kubernetes/kubernetes/pull/112191

This PR I feel improves

[2022-09-01 21:02] PushkarJ opened #112192 "CVE-2021-25749: `runAsNonRoot` logic bypass for Windows containers"
A security issue was discovered in Kubernetes that could allow  Windows workloads to run as `ContainerAdministrator` even when those workloads set the `runAsNonRoot` option to `true`.

This issue has been rated low and assigned CVE-2021-25749

### Am I vulnerable?

All Kubernetes clusters with following versions, running Windows workloads with `runAsNonRoot` are impacted

#### Affected Versions

-

[2022-09-01 21:02] aojea commented on #112171
that is a internal detail of kubernetes CI, those configuration should not be exposed and are not representative

those are explained in the linked article https://kubernetes.io/docs/tasks/administer-cluster/kubelet-in-userns/#configuring-kube-proxy
[code]

you can disable that sysctl using the flag `--nodeport-addresses`
https://github.com/kubernetes/kubernetes/pull/107684

You should pass the ne

[2022-09-01 23:39] mattcary opened #112194 "Race between kubelet startup and mounter prepare"
### What happened?

In GCE cluster startup, kubelet-start (which puts the cluster DNS server into the containerized mounter resolv.conf when the containerized mounter is enabled) race with prepare-mounter-rootfs (which copies the instance resolve.conf into the containerized mounter fs).

This causes domain resolution from the containerized mounter to be flakey.

### What did you expect to happen?

[2022-09-01 23:40] mattcary commented on #112194
/sig storage
/assign @mattcary

[2022-09-01 23:41] mattcary commented on #112194
/triage accepted

[2022-09-02 00:08] BenTheElder commented on #102612
Yes, but doing it by default would probably help more people avoid over-permission-ing their pods

[2022-09-02 01:32] kidddddddddddddddddddddd commented on #112096
/assign

Thank you both.

[2022-09-02 01:46] yun-zero opened #112196 "The arm release cannot run on ARM chips (raspberry Pi, Kunpeng 920)"
### What happened?

When running on the hardware where the title is located, the following error will occur:
-bash: ./keadm: cannot execute binary file: Exec format error
I tried to compile the arm version myself, but I encountered the following error:
go: github.com/kubeedge/kubeedge@v1.11.1 requires
        github.com/kubeedge/beehive@v0.0.0: reading github.com/kubeedge/beehive/go.mod at revisio

[2022-09-02 02:04] #112194 closed

[2022-09-02 02:07] kerthcet commented on #112096
Friendly reminding, since we have dependences, better to check these repos whether this will introduce big changes. If so we should reconsider the cost.

[2022-09-02 02:20] chenk008 commented on #112170
@pacoxu In my test, the `--kube-api-burst` is 1500 and `--kube-api-qps` is 1000. There is no `throttle` in log.

I found the cert approval/sign  concurrency is 5,  each approval/sign will cost 15ms,  so in one second the kube-controller-manager can sign 1000/15*5 =333 certificate. When we scale out hundreds of nodes, some CSRs will delay and the kubelet use bootstrap token to register.

[2022-09-02 02:20] Dingshujie commented on #112143
yes, can you review this bugfixs? https://github.com/kubernetes/kubernetes/pull/112197 thanks

[2022-09-02 02:26] kidddddddddddddddddddddd commented on #112096
I checked `cluster-autoscaler` and `scheduler-plugins` before. It seems that `cluster-autoscaler` only referenced `NewPodInfo` in their vendor. `scheduler-plugins` will have to do some code changes since they use `NewPodInfo` directly, but that part of codes is all in test files, so this should be a small change for them.

Any other repo suggestions? (for me to check)

[2022-09-02 02:40] JohnRusk commented on #112169
I've been in touch with the team that ran the test, and had a look at their logs. Unfortunately, the problem doesn't normally happen. I.e. in most test runs, the error doesn't happen.  This means that we can't reproduce the issue at will, so I don't currently have a good way of doing the verbosity change and metrics gathering. (Since those are not automated, and would have to be done manually).  I

[2022-09-02 03:26] kerthcet commented on #112096
They're the two most important repos I can think of.

[2022-09-02 04:23] harshanarayana commented on #112168
@a7i  We had to deal with a similar case. Looks like current `fixture.go` of the testing infra for the fake client, treats `Eviction` like any other `CreateActionImpl` while performing the `ObjectReaction`

[code]

Gets tracked under

[code]

So we took a simpler approach to testing this behavior out until the client-go has a way to do this in a different way.

[code]

We track the eviction action

[2022-09-02 04:33] uablrek commented on #72236
And there was much rejoicing :smile:

[2022-09-02 05:09] aojea commented on #112143
I see, so the problem is that the Delete is not handled because the endpointSlice is not in the tracker ...

... and the slice is not in the tracker because after the restart, the tracker starts clean, and the reconcile loop doesn't add it to the tracker, since there is no action to perform on the slice ...

if the controller relies on the tracker, maybe we should consider this case on the reconci

[2022-09-02 05:52] kerthcet commented on #112168
/remove-sig scheduling
+1 with @damemi

[2022-09-02 05:57] Shubham82 commented on #112010
Thanks, sure I will open an issue in kubernetes/website to check the best place where we can mention this thing.

[2022-09-02 07:23] pacoxu commented on #112170
https://github.com/kubernetes/kubernetes/blob/3ffdfbe286ebcea5d75617da6accaf67f815e0cf/cmd/kube-controller-manager/app/certificates.go#L49-L67

Concurrency 5 seems to be hardcoded above. @liggitt  do you agree that a flag should be added to tuning it?

[2022-09-02 07:47] EricLi23 opened #112201 "unable to get token for service account: timed out waiting for the condition"
### What happened?

I run k8s v1.24.0 in minikube v1.26.1, When I use my cloud provider to deploy a  service  in it , it comes out this error:
[code]

### What did you expect to happen?

I successfully deploy the same yaml file in other versions for k8s (v.1.16.0-v1.23.0 ) with no error. But In this version the error comes out .

### How can we reproduce it (as minimally and precisely as possible)

[2022-09-02 08:42] pbetkier commented on #109538
I agree it would be a useful feature, the current HPA observability is not enough. Could you propose the changes here for discussion before preparing a PR?

[2022-09-02 08:51] pbetkier commented on #79365
Reading the discussion it seems to me the error message `missing request for cpu` can have multiple causes, which adds to the confusion. IMO a good action item would be to make the message more detailed, e.g. pointing to which pod and container didn't have the requests set.

[2022-09-02 08:55] squakez commented on #111781
I see. I guess that thinking on the `specReplicasPath` as something optional, is not really something you're taking in consideration. The alternative, as you've suggested, would be on the API consumer to set either a default value or force the user to include any.

[2022-09-02 10:09] aojea commented on #112135
/cc @chrisohaver

I foresee a new wave of bug reports caused because of this muslc bug , better to keep CoreDNS friends in the loop

[2022-09-02 10:10] lvpengc commented on #68861
how to fixe?

[2022-09-02 10:12] pohly commented on #110381
/remove-lifecycle stale

[2022-09-02 10:26] sftim commented on #34146
@chrishiestand / @reinvantveer did you have any discussions with SIG API Machinery yet?

[2022-09-02 10:35] pacoxu commented on #112057
https://github.com/pacoxu/kubernetes/blob/bf5470c544a0b225b88223872b1933b69cd5e2da/pkg/kubelet/apis/config/v1beta1/defaults.go#L211-L214

As I know, this is expected.

[2022-09-02 10:59] pbetkier commented on #96242
Do you mean update with metric values directly or update with a flag saying "new metrics are available to read from metrics-server"?

I believe storing metric values would be prohibitively costly in large clusters, but theoretically we could store a map (config map?) of hpa name to new metric readiness. In this case this problem is IMO orthogonal to concurrent processing: async metrics would make

[2022-09-02 11:23] x13n commented on #112096
Cluster Autoscaler looks safe as far as I can tell. We don't use `NewPodInfo` anywhere: https://github.com/kubernetes/autoscaler/search?q=NewPodInfo

[2022-09-02 11:33] pbetkier commented on #79272
/reopen

[2022-09-02 11:41] kidddddddddddddddddddddd commented on #112096
Actually it's not. Although `Cluster Autoscaler` doesn't use `NewPodInfo`, it uses `NewNodeInfo`  which calls `NewPodInfo`. So `NewNodeInfo`  will also have two return values and will cause some code changes in `Cluster Autoscaler`.

I think servel functions will have different numbers of return values after extracting parseError from PodInfo.

They are
`(pi *PodInfo) Update(pod *v1.Pod) error`
`N

[2022-09-02 11:54] a7i commented on #112168
@harshanarayana thanks for the suggestions. To get it around this issue, I ended up refactoring the tests to prepend a reactor ([here](https://github.com/kubernetes-sigs/descheduler/blob/b272ed9fe1c1080e4e82c122a41c85f87ca5b62c/pkg/descheduler/descheduler_test.go#L205)) but I like your suggestion of client actions.

[2022-09-02 12:01] pbetkier commented on #109920
I agree the documentation is confusing! And thanks for the suggestions.

Also note https://github.com/kubernetes/kubernetes/issues/79272 which is also about making changes to HPA docs.

[2022-09-02 12:06] Shubham82 commented on #112010
Created the issue for docs: https://github.com/kubernetes/website/issues/36527

[2022-09-02 12:14] manuelbuil commented on #111695
Was there any discussion around making node-ip dual-stack aware?

[2022-09-02 12:18] timoreimann commented on #104107
@navidnadali apologies, I missed your comment.

Do you happen to know which Kubernetes versions that PR is targeting? We yet have some 1.21 and 1.22 clusters in our fleet, and at least 1.21 seems to be affected.

[2022-09-02 12:22] x13n commented on #112096
Right, CA definitely uses `NewNodeInfo` a lot. We'll need a significant update after bumping k8s deps, but it should be a straightforward one.

[2022-09-02 12:48] #112135 closed

[2022-09-02 12:50] eero-t commented on #79272
Oh, this ticket is so right.  AverageValue is both fundamentally different and important, which should be highlighted upfront, not stuffed into a corner as an afterthought.  There are quite lot of (old) tickets related to this functional difference (people not finding AverageValue, and without that, HPA not really working for them at all, as I describe in #109920).

[2022-09-02 12:50] kidddddddddddddddddddddd commented on #112096
@kerthcet

I found that in some cases,The original code doesn't care if there is an error happened during `NewPodInfo`, [schdule_one](https://github.com/kubernetes/kubernetes/blob/1913c6be3580da23109493b2bc52b119ee70941e/pkg/scheduler/schedule_one.go#L876) for example. In these cases, the returned podInfo will have correct meta information and some wrong AffinityTerms(`pInfo below`).

If there is

[2022-09-02 13:13] gjkim42 commented on #112010
IMHO, if we think this issue is important enough to document on the website, we may rather consider cherry-picking it.

I am not against it, but I think we could choose either cherry-pick https://github.com/kubernetes/kubernetes/pull/109694 or just leave it.

[2022-09-02 13:23] andre-lx commented on #46861
This can also happen if you change the typoe of value.

For example, first apply:

[code]

Edit manually (with kubectl edit):

[code]

Try another apply (update):

[code]

[2022-09-02 13:25] alexanderConstantinescu commented on #111824
But being gentle and not dropping existing connections can also be achieved when the node starts failing the HC. And it will start failing at one point - irrespective of if they are running kube-proxy or some other service proxy - because whatever service proxy anyone uses, if that supports ExternalTrafficPolicy, it must expose an endpoint for the LB to target with its HC. And once the service-pro

[2022-09-02 13:46] danwinship commented on #111695
We only talked about the immediate "are we going to call this a regression or not" issue.

We definitely eventually want node-ip to support dual-stack. (It already does for bare metal, but making it work for clouds too requires adding a new annotation or something.)

[2022-09-02 14:55] yangjunmyfm192085 opened #112206 "update logtools to support verbosity Zero Check"
### What would you like to be added?

as discussed in https://github.com/kubernetes-sigs/logtools/issues/2 and https://github.com/kubernetes/kubernetes/pull/111708, we should add verbosity Zero Check in logtools

### Why is this needed?

because with V(0) and without V(0) semantically equivalent and V(0) add some (small) overhead
E.g:
`klog.V(0).InfoS` and `klog.InfoS` are equivalent. We don't nee

[2022-09-02 14:55] yangjunmyfm192085 commented on #112206
/cc @pohly

[2022-09-02 14:57] yangjunmyfm192085 commented on #112206
/sig instrumentation
/wg structured-logging

[2022-09-02 15:19] scr-oath commented on #96242
I meant altering the HPA with the info... HPA already stores it's external fetch result in the status field doesn't it? So just having access to store that or something like it asynchronously would seem fine. Essentially, I'm suggesting that external metrics have a way of communicating updates - maybe write to a kevent like endpoint - so that when the HPA considers that object next, it can look at

[2022-09-02 15:50] pohly commented on #112206
Let's do a new logtools release once https://github.com/kubernetes-sigs/logtools/pull/1 is merged. I want to avoid bothering approvers multiple times with smallish updates to the hack/tools directory.

[2022-09-02 16:42] #111928 closed

[2022-09-02 18:26] thriqon opened #112209 "kubelet: Massive delays for volume reconciliation (including Pod starts) due to client-side throttling of PV/PVC"
### What happened?

When using many PVCs on a single node (in our case, >200), `kubelet` on INFO level logs many instances of the following and the equivalent call for PVs:

[code]

At the same time, Pod starts take minutes, often mentioning timeouts for volume mounts in the events, e.g.

[code]

Notably, this affects all pods on the same node, even when mounting no PVCs. If no mounts at all happe

[2022-09-02 18:48] visit1985 commented on #103182
/remove-lifecycle stale

[2022-09-02 18:50] chrishiestand commented on #34146
I have not

[2022-09-02 19:02] #107331 closed

[2022-09-02 19:35] zevisert commented on #59551
For anyone else who finds this, you can work around this issue with kubectl expose by using the selector to get a name, provide your selector already matches something (eg, can't do this in advance).

#### 0. Create some pods that we want to select. We can't use their name in the next commands
[code]

#### 1. Use kubectl get all to name the resource.
If you know the resource type, you can use `kub

[2022-09-02 21:27] ahmetb commented on #93686
@zepatrik I believe your code should be watching "user-visible symlink", which is created last. If your inotify call follows symlinks (default behavior) then you only get IN_DELETE_SELF events when the dereferenced file is deleted (and you need to reestablish inotify again by dereferencing user-visible symlink).

[2022-09-02 21:29] gursewak96 opened #112210 "Kubernetes: couldn't validate the identity of the API Server : protocol not available"
### What happened?

After setting up the master node, worker node couldn't able to join the master. I get the error message - " couldn't validate the identity of the API Server: Get "https://{apiserver-ip}/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s": **dial tcp {kubeapi-ip}:6443: connect: protocol not available**"

I am using VMs
master - 2cpu, 2 GB memory
worker - 1 cpu, 1

[2022-09-02 22:05] #109319 closed

[2022-09-02 23:34] #110783 closed

[2022-09-03 05:25] lixiaobing1 commented on #112201
if return err immediately it maybe username or paaswd not correct, now timeout normally means link with node is broken.

[2022-09-03 07:47] neolit123 commented on #112210
it's better to try asking on the support channels instead.
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-09-03 07:48] neolit123 commented on #112210
/kind support
/close

[2022-09-03 07:48] #112210 closed

[2022-09-03 11:18] tarun-asthana opened #112221 "Pods getting killed after startup probe failure"
### What happened?

Hi!
I can see my pods are getting killed post probe failure.
Firstly, I can see these two odd logs in my syslog:
[code]
Next, I see my probes getting failed for multiple pods like
`Startup probe for "pod1:app" failed (failure): Get http://100.125.215.114:8081/ping: dial tcp 100.125.215.114:8081: connect: connection refused`
Next, I see the pod getting killed by kubelet
` kubele

[2022-09-03 11:24] tarun-asthana commented on #112221
/sig network

[2022-09-03 12:01] Bessonov commented on #37471
/remove-lifecycle stale

[2022-09-03 12:47] cloud-bsf commented on #79610
Is there a temporary workaround to start the kubelet

[2022-09-03 19:12] #109304 closed

[2022-09-03 19:12] #107086 closed

[2022-09-03 20:05] jpoley commented on #111995
how is this closed? doesn't seem like its fixed.

[2022-09-03 21:14] #72597 closed

[2022-09-04 03:23] #109348 closed

[2022-09-04 03:52] astraw99 opened #112224 "Add `--diff` flag to `kubectl get xxx -w -oyaml` to see the diff lines"
### What would you like to be added?

To add a `--diff` flag to `kubectl get xxx -w -oyaml` to see the diff lines, like this:
[code]

With this `--diff` flag, we can see the diff lines more clearly, to facilitate resource watching.
Also see the https://github.com/kubernetes/enhancements/issues/3493.

### Why is this needed?

When we use `kubectl get xxx -w -oyaml | json` to watch a resource change

[2022-09-04 03:53] astraw99 commented on #112224
/sig cli

[2022-09-04 04:18] #108562 closed

[2022-09-04 04:33] qiutongs commented on #96614
Reporting a new finding in 1.21+.

The jitter is only added when `periodSeconds`  > the elapsed time since Kubelet has started. This means the initial invocation of `doProbe()` for all probes in a container will **ALWAYS** happen at the same time. `initialDelaySeconds` is only a mask to auto-ok `doProbe()`

See https://github.com/kubernetes/kubernetes/blob/v1.21.0/pkg/kubelet/prober/worker.go#L137

[2022-09-04 04:42] qiutongs commented on #96614
I see 3 problems with predictible probe invocation.

1. `initialDelaySeconds` doesn't work as the spec says: *Number of seconds after the container has started before probes are initiated*. Intuitively, this simply means the first invocation of the probe is `containerStatuses.state.running.startedAt + initialDelaySeconds`. The implementation is far from that, as https://github.com/kubernetes/kuber

[2022-09-04 05:12] gjkim42 commented on #112221
/sig node

I think v1.18 is deprecated and no longer supported.
Can you update your cluster and confirm if this issue is reproduced?

[2022-09-04 05:34] tarun-asthana commented on #112221
@gjkim42 I understand. However, none of the patches to v1.19 heed on this issue. That's why I highly doubt it's related to versioning.
Infact, this issue is not reported as a  kubernetes issue yet. I only saw this in the Ubuntu bugs but with no resolution.

[2022-09-04 07:51] Kumar2106 commented on #57904
@bhdrk it is not resolving the issue.

[2022-09-04 08:27] gjkim42 commented on #112221
As you said, the network failure issue has been reproduced in ubuntu without kubernetes to some users.
It seems very unlikely relevant to the kubernetes.

1 and 3 seem not the statements that kubernetes can guarantee as the issue is caused by the node environment itself.
You can fix the issue description.

I think 2 might be the bug of kubernetes. I'll confirm it.

[2022-09-04 08:56] gjkim42 commented on #112221
I confirmed that a pod is not getting killed after startup probe failure it just restarts the container.

[code]
[code]

I think the reason the pod was killed could be the network failure of the node.
If a node has network failure for some time(5 minutes?), the kubernetes mark NotReady to that node, and all pods of the NotReady node are killed. It is not a bug but intended behavior.

To summary,

[2022-09-04 09:20] #99183 closed

[2022-09-04 09:20] #109339 closed

[2022-09-04 12:13] kerthcet commented on #109739
/remove-lifecycle rotten

[2022-09-04 12:13] kerthcet commented on #109739
/assign

I'll write a KEP to push this forward.

[2022-09-04 13:13] tarun-asthana commented on #112221
@gjkim42 I can confirm that all pods on the node were not getting killed. Neither was the node terminated. This is not expected behaviour.
I've opened the ticket with Ubuntu - https://bugs.launchpad.net/ubuntu/+bug/1988661

[2022-09-04 13:21] #106110 closed

[2022-09-04 14:07] gjkim42 commented on #112221
Could you give us more information? Logs of kubelet and kube-controller-manager would be helpful.

And I recommend you to update the kubernetes so that we don't have to inspect outdated code. As you said, this may not be relevant to the kubernetes version, but it may be. We just want to make sure this bug still exists in code that we should maintain.

[2022-09-04 14:44] prabhakar-oracle commented on #60345
/remove-lifecycle stale

[2022-09-04 14:45] prabhakar-oracle commented on #60345
We do see this issue even with 1.19.

[2022-09-04 15:21] #109368 closed

[2022-09-04 16:14] leopard627 commented on #95983
thank u so much!!!

[2022-09-04 16:39] tarun-asthana commented on #112221
I understand. I have the kubelet logs but the node is terminated now so can't get the kube controller logs. I do have the kernel logs.

`Aug 31 03:50:34 ip-10-50-117-248 systemd-networkd[630]: cali805c5f20419: Link UP
Aug 31 03:50:34 ip-10-50-117-248 systemd-networkd[630]: cali805c5f20419: Gained carrier
Aug 31 03:50:34 ip-10-50-117-248 networkd-dispatcher[781]: WARNING:Unknown index 56 seen, relo

[2022-09-04 18:58] bpineau opened #112228 "Static CPU Manager can fail with UnexpectedAdmissionError with init-containers requesting integer CPUs"
### What happened?

The static CPU manager can reserves full CPU cores for (Guaranteed, integer CPU) pods' init containers.

It supports re-using those reserved CPU cores for main containers, but doesn't enforce (or even favour) their re-use, which can lead to CPU core(s) being left reserved to an init-container while the main container uses a different CPU set.

The example deployment provided be

[2022-09-05 00:27] gjkim42 commented on #112221
Thanks.

I think it is more related to CNI plugin. Maybe you can post an issue in the calico community.

Could you give us a full log between 03:50 to 04:00?
I think `pod1_ns1` pod was deleted at 03:58 but I can't find any probe failure of `pod1_ns1` in this log.

I suspect that maybe the pod deletion was not related to probe failure.

[2022-09-05 02:25] ngau66 commented on #110989
I do think so. It take a long time to check the role in my program.

[2022-09-05 02:37] kerthcet commented on #109285
/remove-lifecycle stale

[2022-09-05 03:52] kerthcet commented on #112096
I think the intension here is if we parse the affinity terms error, we'll ignore the terms when scheduling.

See below, if parsing error, the terms will be nil, that means ignore them when scheduling.

https://github.com/kubernetes/kubernetes/blob/bcea98234f0fdc5ce4e976758977eec72b13bfd4/pkg/scheduler/framework/types.go#L163-L187

[2022-09-05 03:58] kerthcet commented on #112096
Let's keep the logics as they are. That means
[code]

My intension of extracting parseError is that we should explicitly return errors rather than implicitly.

[2022-09-05 04:05] kidddddddddddddddddddddd commented on #112096
I got it, ignore affinity terms instead of ignoring the pod. Then **how do we deal this error**? Just simply add a log about it?

Currently I ignore the pod when an error occurred in 112219. I'll take some time change the corresponding codes. You can review that pr when I ping you again:)

[2022-09-05 05:00] tarun-asthana commented on #112221
Raised it with calico - https://github.com/projectcalico/calico/issues/6662

@gjkim42 sorry I won't have the full logs since node is terminated now but as per my original analysis, every pod that got killed, did have a probe failure.

[2022-09-05 05:42] uablrek commented on #112185
I assume your service has no selector, but do you add endpoints or endpointSlices? And how?

Check if the 172.20.55.61 endpoint/slice is missing when it fails.

[2022-09-05 05:44] uablrek commented on #112185
/remove sig-node

[2022-09-05 06:07] harshanarayana commented on #112185
@uablrek  Service selectors are fine. I can access the service the right way from inside the cluster via all other modes. Except that one IP via the node port.

[code]
We are not explicitly managing the EP/EPS resources though.

`172.20.55.61` is the node IP though. Not Service IP

[2022-09-05 06:14] pacoxu commented on #112228
/sig node

[2022-09-05 06:26] singhnix commented on #54482
Any idea when this will be implemented, as multiple customers are looking for this feature availability.

[2022-09-05 06:57] mythi commented on #111776
@llaoj I recently ran into something similar. Not sure it's related but in my case I had I mismatch in containerd config (`cgroupFs`) and kubelet config (`systemd`). Can you check what is your kubelet config for this?

[code]

[2022-09-05 07:03] QJoly commented on #34549
the problem is still here

[2022-09-05 07:11] abhijit-dev82 commented on #79365
/assign

[2022-09-05 07:14] pacoxu commented on #112044
/triage accepted
/assign
I can reproduce it in my env.

[2022-09-05 07:20] pohly commented on #65036
@misterikkit do my changes in https://github.com/kubernetes/kubernetes/pull/112200 address your concerns regarding the documentation?

[2022-09-05 07:46] loktev-d commented on #109717
/assign

[2022-09-05 08:27] pacoxu commented on #112044
https://github.com/kubernetes/kubernetes/blob/bcea98234f0fdc5ce4e976758977eec72b13bfd4/pkg/kubelet/images/helpers.go#L46-L53

The current rate limit is just an API qps/burst to calling the pull image request.
It doesn't wait for the image pulling done.

[2022-09-05 08:35] lojies opened #112233 "why service of ClusterIP that has no endpoints is different from service of NodePort that has no endpoints"
### What happened?

when set internalTrafficPolicy: true, service of ClusterIP that has no endpoints, iptables rule "--reject-with icmp-port-unreachable" is added.
[code]
when set externalTrafficPolicy: true,  service of NodePort that has no endpoints, iptables rule "-j KUBE-MARK-DROP" is added.
[code]
why this is different?
if a udp service with no reply received, is it ok?

### What did you expe

[2022-09-05 08:38] lojies commented on #112233
/sig-network

[2022-09-05 08:38] lojies commented on #112233
/sig network

[2022-09-05 08:49] mythi opened #112234 "TopologyManager fails a Pod with AffinityError"
### What happened?

A node with:

[code]

fails a pod that uses device plugin resources (empty but non-nil `TopologyHints`) :

[code]

Our device plugin sends the following registration:
[code]

So we send an empty `TopologyInfo` which is interpreted as "no possible NUMA affinities":
https://github.com/kubernetes/kubernetes/blob/bcea98234f0fdc5ce4e976758977eec72b13bfd4/pkg/kubelet/cm/topologymanag

[2022-09-05 08:51] mythi commented on #112234
/cc klueska

[2022-09-05 09:43] aojea commented on #112233
/assign @danwinship

[2022-09-05 10:28] klueska commented on #112234
It's possible that better documentation is needed, but we could also probably do more to handle this better in the device plugin.

The implementation you pointed out above relies on `nil` depicting "don't care" and `[]TopologyHint{}` depicting "I tried but couldn't generate any hints that provide alignment".

One could argue though that `TopologyInfo{Nodes:[]*NUMANode{}}` should have generated a `

[2022-09-05 10:40] mythi commented on #112234
This interpretation makes sense but

Right, if the hint provider fails to provide hints, I guess the pod should not be blamed (by not making it to run) for that.

/sig node

[2022-09-05 11:00] klueska commented on #112234
/triage accepted
/priority backlog

[2022-09-05 11:01] klueska commented on #112234
/cc @fromanirh @swatisehgal

[2022-09-05 11:05] chenk008 commented on #112170
It looks good to me that adding a flag to tuning approval/sign concurrency.

Please also consider requesting CSR in foreground.
1. Otherwise the node registering could be more than 10s. It totally depends on when kubelet initiate the first request.
2. When kubelet enable  bootstrap  and disable rotate-certificates, it requesting CSR in foreground https://github.com/kubernetes/kubernetes/blob/maste

[2022-09-05 11:21] parasinsync commented on #95983
This worked for me too.. I was struggling with this dangling ingress.. Thanks..!!

[2022-09-05 12:15] mythi commented on #112234
I can at least help with the documentation part if we decide that it alone needs changing.

[2022-09-05 12:32] #109393 closed

[2022-09-05 12:58] jsafrane commented on #109335
@mattcary, the PR you linked may fix the CSI driver, but I see the issue with in-tree volume plugin now migrated to CSI.

Since CSI migration of GCE (and most others) is GA in 1.25, we can probably close this issue.

[2022-09-05 12:59] gjkim42 commented on #112221
Thanks for reporting this issue @tarun-asthana.
You may update your cluster to supported versions. And if this issue is reproduced again, please give us full logs of kubelet and kube-controller-manager. Also the right reproducible scenario would be very helpful for us.

For now, I think there are little things we can do as there are no remaining logs or a reproducible scenario.
As far as I confirm

[2022-09-05 13:07] pacoxu commented on #112010
/remove-sig node

[2022-09-05 13:16] szuecs commented on #87733
/remove-lifecycle rotten
/reopen

[2022-09-05 13:18] pacoxu commented on #112009
Is demo-labxpert a stateful set?
The reproduce step is not that clear.

[2022-09-05 13:19] szuecs commented on #87733
/priority/important-longterm

[2022-09-05 13:23] pohly commented on #112126
Well, of course it fails :sweat_smile:  There is no such canary image.

Hmm, but then why do other tests pass? They all use `registry.k8s.io/sig-storage/*:canary`.

[2022-09-05 13:25] jsafrane commented on #112126
There is some magic in your script that replaces `registry` with `gcr.io`, the registrar runs and registers the driver in the end.

[2022-09-05 13:32] pohly commented on #112126
Yep:
[code]

[2022-09-05 13:40] margach commented on #112009
No, it's a deployment

[2022-09-05 13:49] pohly commented on #112126
One difference is that the driver-registrary canary no longer detects the loss of connection to the mock proxy. Previously it did:
[code]

It could be that the proxy code relies on the remote side to close their side of the connection before considering everything shut down. That is necessary because the remote side might still send some data that needs to be received. If the remote side keeps the

[2022-09-05 14:25] pohly commented on #112126
The "exit on connection loss" depends on our dialer being called again by gRPC:
https://github.com/kubernetes-csi/csi-lib-utils/blob/7ac934120a9dc2e36bc9fb93e70410e7181bc5b8/connection/connection.go#L128-L149

[2022-09-05 14:46] prabhakar-oracle commented on #60345
/reopen

[2022-09-05 16:01] prometherion opened #112246 "kube-apiserver: ResolveEndpoint function is deterministic"
### What happened?

When using Dynamic Admission Controllers such as a Mutating or a Validating Webhook configuration pointing to an in-cluster Service backed by multiple endpoints I noticed a reproducible distribution in the request load for a given amount of requests.

### What did you expect to happen?

When using a Webhook Configuration pointing to an in-cluster Service, the requests load shou

[2022-09-05 16:02] prometherion commented on #112246
/sig api-machinery

[2022-09-05 16:06] prometherion commented on #112246
Digging the code I found the issue I'm facing:

https://github.com/kubernetes/kubernetes/blob/bcea98234f0fdc5ce4e976758977eec72b13bfd4/staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go#L42-L90

This function is extracting Kubernetes Endpoint resources from a Service and the incriminated portion of code that is not randomizing properly the Endpoint selection is the following one.

https://github

[2022-09-05 16:13] pohly commented on #112126
/assign

No idea yet, but I'll keep looking...

[2022-09-05 16:47] s7an-it opened #112250 "port-forward remote debug broken"
### What happened?

After moving to EKS 1.22.11* (I don't think is related to the distro) port-forwarding on intellij started to be interrupted shortly after start to send data.
I do revert it and problem is gone, I saw some patch in the version that change proxy config can the be related?

### What did you expect to happen?

I expected on port-forward connection to persist without problem.

### H

[2022-09-05 16:53] fabiand commented on #53459
What about an extension mechanism in order to out-source the indexing .
A CRDIndexWebhook, similar to webhook mechanism, ie.e including registraion.

[2022-09-05 18:01] Pastor-David commented on #109105
Seeking a secluded location for long term Alchemical Research.
Goal is to make the Highest Quality Elixirs for Healing and Raising
Frequency of Body, Mind and Soul. Being Dedicated to Quality and Potency as
if making it for The Creator!
And to make the materia prima.
Will You Be One of My Benefactors?
For God's Glory!
David Jonsson

[2022-09-05 18:36] atiratree commented on #107920
/remove-lifecycle stale

[2022-09-05 18:38] atiratree commented on #106054
/remove-lifecycle rotten

[2022-09-05 19:02] endocrimes commented on #110428
/remove-lifecycle stale
/lifecycle frozen

[2022-09-05 19:11] CJLove commented on #62434
I've only had access to one cluster on a system using cgroup v2 (a Fedora 35-based cluster using cri-o container runtime) so this is definitely a small sample size. But on this cluster I found that a container with `--privileged and the `SYS_NICE` capability was able to run real-time threads in the `SCHED_FIFO` and `SCHED_RR` classes without any permission issues.

For rhel/centos 7.9 clusters usi

[2022-09-05 20:54] pohly commented on #112126
I can reproduce the same failure to shut down also in other tests. Must be a timing issue that it only occurred for the same two tests in the CI - not a very satisfying explanation, unfortunately.

I have something that works for me locally: closing connections when shutting down the listener -> see https://github.com/kubernetes/kubernetes/pull/112251

[2022-09-06 01:05] jpbetz commented on #53459
An alternative to this that has been discussed is an extension where a CEL expression is used, allowing the filtering to occur in process in the apiserver, avoiding requests to a webhook. Some properties are the same, if you register ahead of time, the index can be optimized, if you apply the filter adhoc, the apiserver needs to do a full scan.

[2022-09-06 03:56] pacoxu commented on #111753
/triage accepted

[2022-09-06 05:45] Shubham82 commented on #112010
/sig apps

[2022-09-06 05:54] Shubham82 commented on #112010
Hi @gjkim42
IMO, Someone from the Apps team can help with that.

[2022-09-06 06:27] fabiand commented on #53459
Right. To me the key difference would be to offload (computationally) this burden to a non-api-server component. To me an additional benefit of having this functionality externally would be that the CRD could use domain knowledge in order to do the indexing possibly more efficiently.

[2022-09-06 06:33] matthyx commented on #96614
@qiutongs thanks for your analysis, so then what do you suggest?

[2022-09-06 07:02] iamarnavgupta commented on #108806
/assign

[2022-09-06 09:20] thriqon commented on #112209
/sig node

[2022-09-06 11:35] aryan9600 commented on #111711
hi, i'd like to work on this, if that's okay
/assign

[2022-09-06 12:33] b8kings0ga commented on #101933
/remove-lifecycle stale

[2022-09-06 12:44] s7an-it commented on #57187
Can be achieved with conditional check that simulate ordinary behavior and is dependent on externals api response or local file state change.

[2022-09-06 13:05] brianpursley commented on #108630
/reopen

[2022-09-06 14:02] liggitt commented on #112246
A sample size of 100 is small enough that an imperfect distribution of requests is expected. Additionally, the IP selection code only runs when *new* connections to the backend webhook are dialed, which does not correspond 1:1 with API server requests. Existing connections to the backend are kept-alive and reused for subsequent requests, so a slightly skewed pool of open connections can lead to sl

[2022-09-06 14:05] prometherion commented on #112246
My concern wasn't regarding the perfectly balanced distribution, rather on the reproducible distribution of the subsequent webhook calls that is not random by design.

[2022-09-06 14:06] liggitt commented on #112201
Do you have a link to the code you are running? It seems likely your code is waiting for auto-generated secret-based tokens, and then scraping those tokens, which is not correct. 1.24 no longer auto-generates secret based tokens, since they are not used inside pods. In 1.24+, you must either use the [TokenRequest API](https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/tok

[2022-09-06 14:08] liggitt commented on #112147
The CA bundle is not actually immutable, so marking it as such would not permit rollouts that update the bundle, right?

[2022-09-06 14:17] liggitt commented on #112246
I don't think that is caused by the use of math.Rand. https://go.dev/play/p/xRPdUXEzsDr shows that math.Rand produces different distributions/sequences over time. I think it's more likely you have a slightly skewed pool of open connections that happen to produce similar distributions of requests. I would not expect a 33/33/29 distribution to be persistent over a longer time period or a larger numb

[2022-09-06 14:26] prometherion commented on #112246
It seems clear to me we're getting the same sequence, although when adding time to simulate a real word scenario.

[Execution nr.1](https://go.dev/play/p/eZPvD401JVV) returns the following output.
[code]

[Execution nr.2 with increased sleep](https://go.dev/play/p/3CFjK41ywri) returns the exact sequence.
[code]

Maybe I'm not getting your point, sorry in advance.

[2022-09-06 14:33] cailynse commented on #81133
@sanchayanghosh - are there any updates on this?

[2022-09-06 14:33] cailynse commented on #81116
/assign

[2022-09-06 14:34] cailynse commented on #81116
@QiWang19 - Are there any updates on this?

[2022-09-06 14:40] #102237 closed

[2022-09-06 15:10] aojea commented on #112246
despite the sequence is predictable, the returned endpoint will be different

[2022-09-06 15:10] ensonic commented on #3595
/remove-lifecycle stale

[2022-09-06 15:10] adampl commented on #58198
/lifecycle freeze

[2022-09-06 15:12] adampl commented on #58198
/lifecycle frozen

[2022-09-06 15:34] olix0r opened #112263 "client-go's InClusterConfig does not implement documented API discovery heuristics"
### What happened?

client-go uses `KUBERNETES_SERVICE_HOST` to discover the API service address:

https://github.com/kubernetes/kubernetes/blob/67bde9a1023d1805e33d698b28aa6fad991dfb39/staging/src/k8s.io/client-go/rest/config.go#L507-L541

This at odds with the documentation at https://kubernetes.io/docs/tasks/run-application/access-api-from-pod/#directly-accessing-the-rest-api which states:

cli

[2022-09-06 15:36] juliantaylor commented on #112147
As I understand it, It would not prevent rollouts it would just change the way an update is rolled out. Instead of updating the configmap, letting the kubelet change the volume mounts and the application seeing the change and reloading. it would be you delete and recreate the configmap and restart all pods using it.

Restarting pods for such a fundamental change is probably the safer way as you ma

[2022-09-06 15:36] olix0r commented on #112263
/sig api-machinery

[2022-09-06 15:41] fromanirh commented on #112234
I'm reviewing this area for other reasons, we should indeed calrify the hint API expectations. Up until now my rule of thumb was pretty much "what cpumanager does" which has room for improvement.

[2022-09-06 16:22] Jefftree commented on #110338
This should already be resolved: https://github.com/kubernetes/kubernetes/blob/master/go.mod#L34
/close

[2022-09-06 16:22] #110338 closed

[2022-09-06 16:42] vinaykul opened #112264 "[FG:InPlacePodVerticalScaling] Pod Resize - Investigate long delay in updating apiPodStatus.Resources"
### What would you like to be added?

This is really a bug.

Running pod resize E2E tests full scope in GKE 1-master 1-worker setup takes significantly longer (869s vs 2988s  to run all 34 E2E tests) Initial investigation shows the the issue is NOT in containerd response to ContainerStatus() CRI API that is called within 50 millisec of UpdateContainerResources(). The long delay is in updating apiP

[2022-09-06 16:42] vinaykul commented on #112264
/sig node

[2022-09-06 16:44] #109335 closed

[2022-09-06 17:08] lavalamp commented on #34549
/reopen
/lifecycle frozen
/uncc

[2022-09-06 18:15] ronaldpetty opened #112265 "Invalid version flag displays DNS error"
### What happened?

Based on warnings for pending `kubectl version` output changes, I tried the recommend style with a typo.

`-short` instead of `--short`.

Figured it out, but took a moment due to the odd err shown.

[code]

### What did you expect to happen?

I would have expected the following or incorrect flag warning.

[code]

Or valid output.

[code]

### How can we reproduce it (as minimal

[2022-09-06 18:17] ronaldpetty commented on #112265
/sig cli

[2022-09-06 18:20] rphillips commented on #96614
Probes are started immediately but return without running the probe if the InitialDelaySeconds < Pod.Running start time [[source](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/prober/worker.go#L269-L271)]. This is probably due to the event handling to detect if the pod has terminated earlier in the function.

[2022-09-06 18:27] j-fuentes commented on #60748
I believe this is still fresh. I think it is still only possible to access something like `/dev/ttyUSB0` using `privileged: true`

/remove-lifecycle stale

[2022-09-06 19:03] reinvantveer commented on #34146
I'm tracking this PR: https://github.com/kubernetes-sigs/yaml/pull/76
This _may_ be the starting point of handling v.1.2-compliant yaml spec, but this is a complicated PR, and an even more complicated situation with a shitload of legacy/backwards compatibility to take into account.

However, once https://github.com/kubernetes-sigs/yaml adopts its forked yaml lib, there _may_ be an opportunity to c

[2022-09-06 19:21] evan2645 commented on #110988
thanks so much for your help thus far @endocrimes ❤️

Any chance you could help point us at the relevant parts of the codebase so we can better understand what's going on? That would be super helpful ... it's a bit difficult for me to navigate 😅

[2022-09-06 19:58] #106957 closed

[2022-09-06 20:08] pre commented on #60748
The device-manager api allows mounting special devices without privileged:true.

At least this approach worked for /dev/fuse: https://github.com/kubernetes/kubernetes/issues/60748#issuecomment-766089063

[2022-09-06 20:12] leilajal commented on #112263
/cc @Jefftree
/triage accepted

[2022-09-06 20:13] leilajal commented on #112246
/triage accepted

[2022-09-06 20:15] leilajal commented on #112168
/help
/triage accepted

[2022-09-06 20:17] leilajal commented on #92500
@dgrisonnet are you gong to submit a fix for this one? thanks.
/triage accepted

[2022-09-06 22:28] marosset commented on #108621
/remove-lifecycle stale

[2022-09-06 22:49] marosset commented on #110261
/remove-lifecycle stale
@dcantah friendly ping on the above question :)

[2022-09-06 22:56] misterikkit commented on #65036
OMG very yes. <3 I'd say it's fair to close this.

[2022-09-06 23:21] SRF-Audio commented on #79224
Another vote to reopen this.

We're a microservices application, and I'm using configMap objects as way to keep environment configuration as a separate concern from the deployment's fundamental spec.

Furthermore, we want Helm to generate independent configMaps per deployment environment.

Right now, in our Helm chart, we're having to loop through several different values.yaml, and values-<env_nam

[2022-09-07 02:23] HirazawaUi commented on #112265
This is global command-line options, it applies to all commands, you can use `kubectl options` to view it, `-s` in `-short` uses `--server` in global command-line options

[2022-09-07 03:46] astraw99 opened #112271 "Confusing to see two same controller name in ownerRef validation"
### What happened?

When there are more than one controller set to true within ownerRef, the validation would return err msg like this:
[code]

It is confusing to see two same 'foo' controller name.

### What did you expect to happen?

To make the err msg more accurately, like this:
[code]

### How can we reproduce it (as minimally and precisely as possible)?

Set an object with two `OwnerReferenc

[2022-09-07 03:51] deepaksinghvi commented on #74551
Destroying the namespace and recreated it helped in this case.
It was ok to do it on local but not practical in other environments.

[2022-09-07 03:56] astraw99 commented on #112271
/sig api-machinery

[2022-09-07 04:04] SataQiu opened #112273 "kube-scheduler: do not preempting orphan Pod"
### What would you like to be added?

kube-scheduler: do not preempting orphan Pod

### Why is this needed?

Currently, kube-scheduler preempts a Pod by deleting it:
https://github.com/kubernetes/kubernetes/blob/1ab40212a4e6cb10b3ae88c2e6c912a9fc1b1605/pkg/scheduler/framework/preemption/preemption.go#L362-L365

If a Pod(with empty ownerReferences) that is not managed by any controller is deleted,

[2022-09-07 04:05] SataQiu commented on #112273
/sig scheduling

[2022-09-07 04:56] ronaldpetty commented on #112265
That makes more sense. Didn't occur to me that it was global. Given the deprecation and what you stated, I guess I am just late to the party. Thanks @HirazawaUi .

[2022-09-07 04:56] #112265 closed

[2022-09-07 05:07] BenTheElder commented on #112196
did you mean kubeadm?

how did you obtain the binary?

how are you building? have you followed the guide? https://github.com/kubernetes/kubernetes#to-start-developing-k8s

[2022-09-07 05:14] m-yosefpor commented on #65973
/remove-lifecycle stale

[2022-09-07 05:16] pacoxu commented on #111705
/retitle cgroup cpuset is not updated for the running Pods when a Pod is deleted
/cc @klueska
The cpuset is generated when pod is started. It is not dynamic cpuset.
Recreating the pod will trigger the cpuset change.

I prefer to think this is expected. To make it dynamic, this would be a feature in my opinion.
/kind feature

[2022-09-07 06:55] #111517 closed

[2022-09-07 07:14] harshanarayana commented on #112168
Is there a precedence on what the preferred way to deal with this from the `sig/api-machinery` add a new ActionImpl to take care of the sub resource or some other way ? I found a few issues around this that were reported in the past

1. https://github.com/kubernetes/kubernetes/issues/71598
2. https://github.com/kubernetes/kubernetes/issues/110424

[2022-09-07 08:22] pacoxu commented on #111410
https://github.com/kubernetes/kubernetes/blob/3d3820bba3d46c859714a04c4e2f3ae25c8549ff/pkg/kubelet/prober/prober_manager.go#L174-L213
As the code above shows, kubelet starts a new work for readiness/liveness probes. They should start at the same time.

This part of code was not changed during v1.20 release cycle.(And both v1.19 and v1.20 support are end of life.)

[2022-09-07 08:26] neolit123 commented on #112180
/sig apps
your report is missing details such as k8s version.
please fill the template properly.

[2022-09-07 08:28] dgrisonnet commented on #92500
Yes, I am planning to submit a fix for this issue.

[2022-09-07 08:41] yanhongchang commented on #112092
this pr is closed， the new one pr link #112275

[2022-09-07 08:44] neolit123 commented on #112196
keadm-v1.9.2-linux-arm.tar.gz

what is keadm, is that kubeadm?

if those are the exact versions these are ancient. try getting 1.24.

reopen the issue if you still have problems after that.

/kind support
/sig release
/close

[2022-09-07 08:44] #112196 closed

[2022-09-07 08:50] neolit123 commented on #112250
kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.15", GitCommit:"8f1e5bf0b9729a899b8df86249b56e2c74aebc55", GitTreeState:"clean", BuildDate:"2022-01-19T17:27:39Z", GoVersion:"go1.15.15", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.11-eks-18ef993", GitCommit:"b9628d6d3867ffd84c704af0befd31c7451cdc

[2022-09-07 08:50] #112250 closed

[2022-09-07 08:52] kinoute commented on #46861
@andre-lx I have the same problem. In my "base" templates, I use a key/value environment variable but for some clusters, that inherit from "base", I need to use secrets with `valueFrom` and I get the same error.

[2022-09-07 09:09] pacoxu commented on #111509
Please try it in a newer version. A reproducible step is appreciated.
For instance, you can follow #105270 example yamls, or refer to https://github.com/kubernetes/kubernetes/issues/105270#issuecomment-927747733 to investigate into oom related issues.

/close
if you can prove it is a Kubernetes bug that [k8s version](https://github.com/kubernetes/website/blob/main/content/en/releases/patch-release

[2022-09-07 09:09] #111509 closed

[2022-09-07 09:46] kinoute commented on #46861
Using `value: null` before my `valueFrom` fixed the issue, thanks @cheeseandcereal for the tip.

[2022-09-07 09:52] unixoff commented on #43924
Don't forget to execute after changes
[code]

[2022-09-07 10:19] DongsGit opened #112279 "Cannot create HPA objects using object metrics with Utilization"
### What happened?

When I execute the command  'kubectl apply hpa.yaml' toHPA objects using object metrics with Utilization,the console reports an error: 'The HorizontalPodAutoscaler "hpa-cf0e7df160fe42dc8eddf84a58c2622a" is invalid: spec.metrics[2].object.target.averageValue: Required value: must set either a target value or averageValue'
My target type is set to utilization, but the prompt is '

[2022-09-07 10:45] aojea commented on #111824
but my point is that deleting a Node from the API doesn't mean that the VM has gone or the pods has been evicted, there are situations where Pods are running, the Pod object is alive, but the Node object has been deleted

https://github.com/kubernetes/kubernetes/pull/110639

[2022-09-07 11:13] kashifest commented on #109531
@ehashman @bobbypage is there any more information needed for this or can this issue be accepted ?

[2022-09-07 11:38] vaibhav2107 commented on #112057
@pacoxu If this is an expected behaviour then it should be mention somewhere in the docs so that the user should know about it.

Like in [this example](https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/#create-the-config-file), in which only one parameter, `memory.available` is changed but there is no such clue that other parameters of `evictionHard` would be set to 0.

I thi

[2022-09-07 11:41] pacoxu commented on #112057
/cc @sftim
Do you agree?

[2022-09-07 11:44] ismashal commented on #78761
I facing the same issue Scale down not working for me

NAME                                       READY   STATUS    RESTARTS   AGE
pod/device-service-78668474b5-fwd75        1/1     Running   0          156m
pod/device-service-78668474b5-g9cvg        1/1     Running   0          89m
pod/device-service-78668474b5-hz79v        1/1     Running   0          37m

NAME

[2022-09-07 11:55] mythi commented on #112234
This could be isolated to `devicemanager` only by  returning `true` when `!= nil && len() > 0`:
https://github.com/kubernetes/kubernetes/blob/cae4c036c872b340e5eabbf7eb1593640517aa22/pkg/kubelet/cm/devicemanager/topology_hints.go#L142

[2022-09-07 12:02] dims commented on #112196
`keadm` seems to be kubeedge @neolit123

[2022-09-07 12:05] neolit123 commented on #112196
ack, in that case that is a kube edge build issue, likely.

[2022-09-07 12:29] aslafy-z opened #112281 "PVCs capacity can exceed request.storage resource quota"
### What would you like to be added?

Make Kubernetes validate correctly the CSI volumes capacity allocated.

### Why is this needed?

## Reproduce

- Create a resourcequota as
[code]
- Create a first PVC as
[code]
- Create a second PVC as
[code]
- Check PVCs provisionning
[code]

## Actual behavior

- There is no limitation on the minimum of requested storage
- Kubernetes is doing its validation

[2022-09-07 12:30] aslafy-z commented on #112281
/sig storage
/sig multitenancy

[2022-09-07 12:37] MohammedYunus2002 commented on #111092
/ assign

[2022-09-07 12:41] tkashem commented on #111699
/cc

[2022-09-07 12:46] knelasevero commented on #91633
I am not familiar with writing perf test with how things are wired here in this repo. You mean benchmark tests of functions instead of benchmark tests that are integration tests (like they are right now, there)?

[2022-09-07 13:15] kerthcet commented on #101776
/remove-lifecycle stale
/assign
I'm working on this.

[2022-09-07 14:26] SerialVelocity commented on #80968
/remove-lifecycle rotten

Still waiting on https://github.com/kubernetes/kubernetes/pull/89155 to merge.

[2022-09-07 14:30] SerialVelocity commented on #88193
/remove-lifecycle rotten

[2022-09-07 15:52] #112023 closed

[2022-09-07 16:27] ahg-g commented on #91492
@denkensk  I think this is worth trying to move forward with a KEP

[2022-09-07 16:28] ahg-g commented on #112273
I think this fits as a use case under https://github.com/kubernetes/kubernetes/issues/91492; see proposal at https://docs.google.com/document/d/1g2wj8S04M0yTy2t4l4GzrdARtxBpkBTfkJHw0oqBvXM/edit

But in general, creating unmanaged pods is not a recommended pattern.

[2022-09-07 17:23] didovesei commented on #111705
When a Pod with dedicated CPUs is created, the `cpuset`s of the existing Pods' are updated. I would expect those existing Pods' `cpuset`s are also updated when the "dedicated" Pod is deleted.

[2022-09-07 18:03] klueska commented on #111705
I believe this is a duplicate of this: https://github.com/kubernetes/kubernetes/issues/107074

[2022-09-07 18:17] jw-websensa opened #112292 "Failed to execute iptables-restore" err="exit status 1"
### What happened?

After updating my on-premis cluster to 1.23.10 I noticed that services stopped working.
After some investigation I noticed this error recurring in kube-proxy logs:
[code]

### What did you expect to happen?

For cluster to be working smoothly after update

### How can we reproduce it (as minimally and precisely as possible)?

I have no idea

### Anything else we need to know?

[2022-09-07 18:18] jw-websensa commented on #112292
/sig network

[2022-09-07 18:41] didovesei commented on #111705
+1. Didn't see that issue before but seems to me it is same one.

[2022-09-07 18:59] michelgokan opened #112293 "KubeletHasDiskPressure on a very limited server"
### What happened?

We're having a Kubernetes installation installed (1.24.4 - using Kubespray)

In our case, we are using a master node with very limited disk space (purposefully), so the default DiskPressure values in Kubernetes need to be adjusted.

I've tried several paths:

1- Tried adding the following to the end of /etc/kubernetes/kubeadm-config.php

[code]

and then restarted the master no

[2022-09-07 19:03] michelgokan commented on #112293
/sig node
/sig storage

[2022-09-07 19:35] apelisse commented on #99003
I don't think I'd call this done just yet.

[2022-09-07 19:55] shyamjvs opened #112296 "Revisit response compression in k8s API"
### What would you like to be added?

Based on load tests and production data gathered from thousands of production k8s clusters, we have observed that gzip compression in k8s API isn't optimal today. Here's the [full doc with details](https://docs.google.com/document/d/1rMlYKOVyujboAEG2epxSYdx7eyevC7dypkD_kUlBxn4) and the [SIG meeting recording](https://youtu.be/GKBqyV8y8j0) where this was discus

[2022-09-07 19:57] fedebongio commented on #112296
/assign @lavalamp @deads2k
/triage accepted

[2022-09-07 20:12] shyamjvs commented on #112296
The only contentious point I had was about the gzip level being a flag on the apiserver, so any cluster operators that rely on level-4 compression today have a way of staying there. I don't have data to claim someone would need that, but well folks setup k8s clusters in all sorts of ways(?)

@lavalamp / @deads2k / @MikeSpreitzer Were of the opinion that such a flag maybe unnecessary burden for clu

[2022-09-07 21:13] eduardobr opened #112300 "Socket not always closing when Pod terminated (reproduce on 1.23, but not on 1.24)"
### What happened?

After upgrading from Kubernetes 1.22.6 to 1.23.8 (AKS), I've noticed abnormal behavior where application connected to Pod (ClusterIP) doesn't always see socket closing immediately when Pod is terminated (Redis in this case).
This was seen for traffic within cluster.

I have recorded simple videos trying to isolate the issue as much as possible, here using Microk8s on my laptop,

[2022-09-07 21:14] Huang-Wei commented on #112273
Can you be more specific on why you think it's "dangerous"?

[2022-09-07 22:06] michelgokan commented on #112293
I can confirm adding `--eviction-hard=nodefs.available<1%,imagefs.available<1%,nodefs.inodesFree<1%` to kubelet.env works, but not with KubeletConfiguration

[2022-09-07 22:37] aojea commented on #112292
can you execute `iptables-save` on that node to dump the content to a file and check what happens in line 1193?

[2022-09-07 22:42] euroelessar opened #112307 "Parallel pod management with maxUnavailable set should not ignore minReadySeconds"
### What happened?

StatefulSet spec's template was updated:

<details>

[code]
</details>

Kubernetes has updated all pods one-by-one in a quick succession, the next pod was updated as soon as previous one has passed the startup probe.
`status.availableReplicas` has dropped from 5 to 0 over the course of the push (which took ≈3 minutes).

### What did you expect to happen?

I did expected that ku

[2022-09-07 23:21] liggitt commented on #112263
The client docs should be updated, rather than change the client-go implementation. Making client-go depend on DNS is not a completely compatible change

[2022-09-08 01:55] pacoxu commented on #111705
/remove-kind feature
/close
/triage duplicate

[2022-09-08 01:55] #111705 closed

[2022-09-08 03:04] lilongfeng0902 commented on #111744
Maybe my question is unreasonable…… Thanks.

[2022-09-08 03:04] #111744 closed

[2022-09-08 05:08] #109367 closed

[2022-09-08 05:13] santkuma77 commented on #112180
Thanks Ivanov for taking a look. I tried to find the template, but I couldn’t find it. I’ve provided environment details below. Please let me know if any other details needed.

# kubectl version --short
Client Version: v1.21.3
Server Version: v1.21.3

# cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
AN

[2022-09-08 05:51] RinkiyaKeDad commented on #104461
/remove-lifecycle rotten

[2022-09-08 06:45] neolit123 commented on #112279
/sig autoscaling

[2022-09-08 06:46] neolit123 commented on #112300
/sig node

[2022-09-08 06:47] neolit123 commented on #112307
/sig apps

[2022-09-08 07:28] YuikoTakada opened #112310 "Total amount of ephemeral-storage in namespace is not limited/tracked properly"
### What happened?

In ResourceQuota's doc( https://kubernetes.io/docs/concepts/policy/resource-quotas/ )m written as:

- A resource quota, defined by a ResourceQuota object, provides constraints that limit aggregate resource consumption per namespace. It can limit the quantity of objects that can be created in a namespace by type, as well as the total amount of compute resources that may be consu

[2022-09-08 07:29] YuikoTakada commented on #112310
/sig node

[2022-09-08 07:51] soulseen opened #112311 "Pod annotation pass to the container runtime by CreateSandbox interface"
### What happened?

I modified the containerd to do some additional operations on the container based on the Pod annotation, but actually, looking at the containerd logs, I found that the Pod annotation is passed to the containerd in the `Create SandBox` interface, not in the `Create Container` interface.
I'm not sure if this is the expected behavior? And why it is only pass annotation  to `Create

[2022-09-08 07:56] soulseen commented on #112311
/sig instrumentation
/wg reliability

[2022-09-08 08:05] yangl900 opened #112313 "Load balancer behavior changed for unmanaged nodes"
### What happened?

Before commit aecaac0d7e0a6028078ce3b6165e17ce8022f796 the LB behavior for unmanaged nodes (labeled with `kubernetes.azure.com/managed: false`) is that:
* cloud provider will ignore the VMSS and VMSS VMs when ensure hosts in pool
* if the VMSS already joined LB backend pool, it will remain in the pool

So basically unmanaged nodes are ignored from cloud provider operation. This

[2022-09-08 08:06] yangl900 commented on #112313
/sig cloud-provider
/area provider/azure

[2022-09-08 08:09] yangl900 commented on #112313
@feiskyer @nilo19 could you please take look if my understanding is correct?

[2022-09-08 08:28] RainbowHerbicides opened #112315 "Missing kubectl version 1.15.3"
### What happened?

We have some pretty old Kubernetes (1.15.3) installations running in several locations which we are updating to 1.21.x. When context had been changed from new cluster to old one - right `kubectl` version were not be able to be downloaded:
[code]

Manually checking via `curl`:
[code]

But next minor version is available:
[code]

### What did you expect to happen?

Expected to be

[2022-09-08 08:30] RainbowHerbicides commented on #112315
/sig cli

[2022-09-08 09:01] aojea commented on #112246
@prometherion can we close it ?

[2022-09-08 09:05] #112246 closed

[2022-09-08 09:20] soulseen commented on #112311
/sig node

[2022-09-08 09:38] jw-websensa commented on #112292
@aojea Correct me, if I am wrong, but as I see it from kube proxy logs (I increased verbosity) it prepares set of rules to run with `iptables-restore` - I can see them from logs:
[code]
This line number that fails varies, I dumped to file this set or rules and every time line with this number looked like this:
[code]
(this prefix was different every time I checked)

[2022-09-08 09:55] pacoxu commented on #112293
[code]
I tested it locally and it works in my env.

Can we close this if this is not a bug?

[2022-09-08 10:16] aojea commented on #112292
what is your iptables version? `iptables --version`

[2022-09-08 10:29] chendave commented on #112273
This is something I have brought to the table couple of months before, pls see: https://github.com/kubernetes/kubernetes/issues/111390

Difference from this proposal is that I suggested to re-create them when it's allowed in a dynamic cluster.  And your proposal here is ban the preemption for them.

It's dangerous because there are potential some workload / service running on with pods, the servic

[2022-09-08 10:39] r-erema commented on #110464
Hi, @jmgate

Reaserched the sources I've found out the controller deletes active pods(having neither `Succeeded` nor
`Failed` status)
https://github.com/kubernetes/kubernetes/blob/4a89df5617b8e1e26abb16150502d04e6c180533/pkg/controller/job/job_controller.go#L521-L523
when backoff limit reached
https://github.com/kubernetes/kubernetes/blob/4a89df5617b8e1e26abb16150502d04e6c180533/pkg/controller/job

[2022-09-08 11:20] dilyanpalauzov opened #112317 "`make` stores on the file system each final binary twice"
### What happened?

The current build process, triggered by
[code]
creates the same executables in the directories _output/local/go/bin and _output/local/bin/linux/amd64.  This is currently 2×1.6GB.

### What did you expect to happen?

I expect that the resulting binaries are presented only once on the file system, once the build process is complete.

### How can we reproduce it (as minimally and

[2022-09-08 11:26] jw-websensa commented on #112292
@aojea 1.8.4 on nodes, 1.8.7 on kube-proxy pods

[2022-09-08 12:22] danielcb commented on #112124
After upgrading runc to 1.1.4 the memory leaks disappeared and the amount of loglines went down from ~ 100/s to ~1/s, but it still generates _a lot_ of useless logs.

[2022-09-08 12:27] xigang commented on #102718
@deads2k @wojtek-t  we also had a `kube-controller-manager` memory leak, suspected to be related to client-go.
Our cluster has 5600 nodes and `kube-controller-manager` memory usage:

<img width="919" alt="image" src="https://user-images.githubusercontent.com/3377677/189121176-f3459380-1ff6-470c-8387-fad0fbb8add1.png">

[2022-09-08 12:50] xigang opened #112319 "kube-controller-manager memory leak"
### What happened?

Our cluster has 5600 nodes and `kube-controller-manager` memory usage 197.5GiB, After restarting `kube-controller-manager`, the memory usage is only 15GiB,  It looks like the controller manager memory is leaking.
<img width="875" alt="image" src="https://user-images.githubusercontent.com/3377677/189124068-2e4c7867-1d36-4bb9-88f6-a3c4a5aee2bb.png">

The same problem issue: [#102

[2022-09-08 12:52] xigang commented on #112319
/sig api-machinery

[2022-09-08 12:55] xigang commented on #112319
/cc @thockin @wojtek-t @deads2k

[2022-09-08 12:59] xigang commented on #112319
pmap command report memory map of `kube-controller-manager` process:
[controllermanager.txt](https://github.com/kubernetes/kubernetes/files/9526966/controllermanager.txt)

[2022-09-08 13:30] SataQiu commented on #112273
@Huang-Wei
In general, I think the main responsibility of kube-scheduler is to bind Pod and Node.
However, the preemption action appears to have exceeded this limit, the kube-scheduler can delete the Pod directly(and silently) from the cluster. The current K8s system is an open system, we can't expect that users will never directly create a Pod to run their services. Once a user-created Pod is del

[2022-09-08 13:55] Zruto opened #112321 "single-stack to dual-stack"
Hi，my k8s version is 1.22. Now I want to upgrade the running single-stack cluster to dual-stack. Can I directly change the pod-network-cidr and service-cidr in the kubeadm-config file to make it take effect? If not, how can I do it？

[2022-09-08 14:09] haosdent opened #112323 "kubelet doesn't merge multiple 'options' lines from node /etc/resolv.conf"
### What happened?

If the content of `/etc/resolv.conf` is
[code]
https://github.com/kubernetes/kubernetes/blob/ca09ed0fe2c245a0df4f533aa29f7b48a8672cff/pkg/kubelet/network/dns/dns.go#L250-L278

only could recognize the last option `options attempts:3` and `options timeout:1` is ignored. And user has to use `options timeout:1 attempts:3` to workaround the issue.

But this format is valid actually

[2022-09-08 14:33] haosdent commented on #112323
/sig sig-node

[2022-09-08 14:35] haosdent commented on #112323
@thockin Seems this behaviour is introduced by you at https://github.com/kubernetes/kubernetes/pull/2224 , is it an expected behaviour or a bug?

[2022-09-08 14:42] Dobry-kot commented on #44703
+1

[2022-09-08 14:56] davidmccormick opened #112325 "Improve behaviour when immediately adding work items to a rate-limited or delaying workqueue."
### What happened?

## Background

Whilst investigating an issue affecting one of our production kubernetes clusters, I had to take a look at the *“AvailableConditonController”s* that run as part of the kube-aggregator, and implements a rate limited workqueue for scheduling health checks of api extensions that live externally to the apiserver, out in the cluster. (https://github.com/kubernetes/kub

[2022-09-08 15:01] lukaszpierog opened #112326 "Misintepretation of integer-like strings when deploying a ConfigMap"
### What happened?

Example working config map:
[code]

example of failing config map:
[code]
The difference is missing quotes around the value of shortCommitHash parameter.
The error is quite descriptive: "Invalid value: "map[data:map[shortCommitHash:340914]]": cannot convert int64 to string"
However this int-looking value according to [yaml specification](https://yaml.org/spec/1.2.2/#10213-integ

[2022-09-08 15:15] kerthcet commented on #112273
This sounds reasonable. And Option2 seems better.

[2022-09-08 15:21] olix0r commented on #112263
Looking at some of the officially supported kubernetes client libraries, all appear to use the environment variables and **none** use the in-cluster DNS

* https://github.com/kubernetes-client/javascript/blob/98414841064cbc322b617538a34bf0f5e31a5122/src/config.ts#L194-L219
* https://github.com/kubernetes-client/python/blob/16935036252be0fdf164f8ce624bd71eb8d35e89/kubernetes/base/config/incluster_c

[2022-09-08 15:24] prosnekov opened #112327 "[1.25] Feature gate CheckpointContainer unrecognized"
### What happened?

Feature Gate ChecpointContainer is unrecognized by kubelet. I've tried to set up a new 1.25 cluster with kubeadm with kubelet config
[code]

And it fails with `kubelet[111838]: E0908 15:14:01.860828  111838 run.go:74] "command failed" err="failed to set feature gates from initial flags-based config: unrecognized feature gate: CheckpointContainer"`

I've also tried to set up ano

[2022-09-08 16:31] dashpole commented on #112311
/remove-sig instrumentation

[2022-09-08 16:40] leilajal commented on #112325
/triage accepted
thanks @davidmccormick for sending the PR!

[2022-09-08 16:40] dashpole commented on #112206
/assign yangjunmyfm192085
/triage accepted

[2022-09-08 16:40] leilajal commented on #112319
/cc @jpbetz
/triage accepted

[2022-09-08 16:42] jmgate commented on #110464
Thanks for looking into this, @r-erema.  We hacked around the problem using [the workaround above](https://github.com/kubernetes/kubernetes/issues/110464#issuecomment-1161824139) plus parsing the logs for a particular passed/failed string.  This has been working for us for some time, but it doesn't seem like the right solution.  Perhaps I'm wrong there, because it seems like the k8s concept of a j

[2022-09-08 16:43] dashpole commented on #111815
/triage accepted

[2022-09-08 16:43] logicalhan commented on #81863
/remove-lifecycle frozen
/assign

[2022-09-08 16:49] #111674 closed

[2022-09-08 17:31] smarterclayton commented on #110349
Interestingly the original issue should be fixed, accept encoding is what we key compression off of.  Possible to close?

[2022-09-08 17:34] smarterclayton commented on #110349
As per https://github.com/kubernetes/kubernetes/pull/77449 this has been in Kube for a while.  Please reopen if the original request was different.  Re: hop by hop that should be a separate issue.

[2022-09-08 17:34] #110349 closed

[2022-09-08 17:36] smarterclayton commented on #112296
Interestingly, I naively expected secrets and config maps to benefit the most from compression, but only because it's likely that common secrets like ca certs and such would be overrepresented in many user's data.  That is an argument for 1 over 4 anyway, because you're likely to catch long prefixes.  The original compression argument was for slow clients with high latency doing large lists, and t

[2022-09-08 17:40] lavalamp commented on #112296
This would only help if we used the dictionaries for more than one request, but we don't. That would be complicated to set up and might require the client to do something special too.

[2022-09-08 17:46] jw-websensa commented on #112292
Sounding as stupid as it is, I resolved my issue... by restarting all nodes

[2022-09-08 17:46] #112292 closed

[2022-09-08 17:50] gillesdouaire commented on #98534
We also have experienced the same problem on `v1.22.12-gke.1200`

[2022-09-08 18:12] gillesdouaire opened #112333 "pod stuck with NodeAffinity status // using spot VMs under K8s `1.22.x` and `1.23.x`"
The same problem on `1.22.3-gke.700`

_Originally posted by @maxpain in https://github.com/kubernetes/kubernetes/issues/98534#issuecomment-1003169567_

[2022-09-08 18:16] gillesdouaire commented on #112333
/sig node

We are aware it is supposed to be fixed as of k8s 1.21, but we experienced it in the same context but under newer K8s version. All pods on a give node are stuck with NodeAffinity status, and will remain so until deleted, whereas it will be re-scheduled.

k8s version:  v1.22.12-gke.1200
spot VMs: enable

[2022-09-08 18:58] silveraid commented on #57291
I want to see this implemented as well. I understand that people can misuse it which would cause them obviously problems, but in certain cases this would make things much better. I just don't understand why is this not configurable. We don't even have shells in our containers anymore to implement a workaround :-|.

[2022-09-08 19:06] harshanarayana commented on #111923
@aramase any suggestion on what is the best way to get the additional metadata for verbs into this log? Move that info across using `ctx`?

[2022-09-08 19:07] aaronmell commented on #72155
/remove-lifecycle stale

[2022-09-08 19:18] PriyanshuAhlawat commented on #108806
/assign

[2022-09-08 20:06] karlhungus commented on #69507
Another datapoint: we also wanted these metrics and built something nearly identical to petros-d https://github.com/salesforce/kubelet-summary-exporter/ the only material difference being that it runs as a daemonset.

[2022-09-08 20:11] #111847 closed

[2022-09-08 20:28] aojea commented on #112292
kubernetes recreates it

[2022-09-08 20:38] aojea commented on #112319
that is an old version, you need to move to one of the supported versions.

golang pprof should give you a better understanding of the problem

[2022-09-08 21:18] aojea commented on #112323
are those options parsed and used correctly or one of both is ignored?

[2022-09-08 22:13] shyamjvs commented on #112296
I've been monitoring metrics from our 100-node scale tests and doesn't look like the gzip change has caused a regression in the list latencies (though I'm not sure if those tests actually make much list calls in comparison to watches). Will also look at 5k node metrics once we have more runs (only had a single one so far).

That said, there seems to be something else from around 28 Aug that caused

[2022-09-08 22:35] #111911 closed

[2022-09-08 22:56] enj opened #112340 "TestRoundTripTypes failure on batch/v1 Job"
### Which jobs are flaking?

[code]

### Which tests are flaking?

pull-kubernetes-unit: k8s.io/kubernetes/pkg/api/testing: TestRoundTripTypes

### Since when has it been flaking?

Unknown

### Testgrid link

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112017/pull-kubernetes-unit/1567969403289473024

### Reason for failure (if possible)

_No response_

### Anything else we need to

[2022-09-08 22:56] enj commented on #112340
/kind bug
/triage accepted

[2022-09-08 22:57] enj commented on #112340
cc @soltysh

[2022-09-08 22:58] liggitt commented on #112340
cc @alculquicondor

I think fuzzing is missing a default for the newly added type, so when fuzzing adds an entry, the original doesn't match the round-tripped data (which applies the API default)

[2022-09-08 22:59] liggitt commented on #112340
/priority important-soon
/remove-sig api-machinery
/sig scheduling
/assign @alculquicondor

[2022-09-08 23:43] oomichi commented on #105837
The corresponding code is still there on Kubernetes v1.25.
So I think it is fine to close this issue at this time because that matches vSphere v6.5 support.

/close

[2022-09-08 23:43] #105837 closed

[2022-09-08 23:50] enj opened #112342 "Remove client-go TLS cache dual function/holder fields"
These were introduced in #112017 for the sake of backwards compatibility and should be removed.

/kind cleanup
/assign
/milestone v1.26

[2022-09-08 23:51] enj commented on #112342
/sig auth
/sig api-machinery
/triage accepted

[2022-09-09 00:15] ritazh commented on #109022
/remove-lifecycle stale

[2022-09-09 00:18] #109423 closed

[2022-09-09 01:23] saad-ali opened #112343 "CSI `NodeStageVolume` called multiple times for same attached volume on same node"
### What happened?

-  For raw block CSI volumes on Kubernetes, kubelet ends up calling CSI `NodeStageVolume` for every single "map" (i.e. raw block "mount") operation for a volume already attached to the node.

### What did you expect to happen?

[Per CSI spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodestagevolume), `NodeStageVolume` should be called once per vol

[2022-09-09 01:24] saad-ali commented on #112343
/sig storage

[2022-09-09 01:26] saad-ali commented on #112343
CC @xiesheng211 -- thanks for your help

[2022-09-09 01:41] liggitt commented on #112340
this will also need picking to release-1.25

[2022-09-09 01:55] xigang commented on #112319
@aojea
I understand that golang pprof will have an impact on `kube-controller-manager` service performance?

[2022-09-09 04:13] pacoxu commented on #112327
The feature gate name is `ContainerCheckpoint ` according to https://github.com/kubernetes/kubernetes/pull/104907

[2022-09-09 04:14] pacoxu commented on #112327
/sig node

[2022-09-09 04:36] pacoxu commented on #112327
/kind documentation

[2022-09-09 04:42] pacoxu commented on #112326
/sig api-machinery
There is some discussions related in https://github.com/kubernetes/kubernetes/issues/82296#issuecomment-529675294

[2022-09-09 04:46] pacoxu commented on #112317
/sig contributor-experience

[2022-09-09 05:22] neoakris commented on #65502
In many cases this trick can be used to workaround the issue.
https://stackoverflow.com/questions/33887194/how-to-set-multiple-commands-in-one-yaml-file-with-kubernetes

[2022-09-09 05:33] theVJagrawal commented on #112342
Can i work on this one?

[2022-09-09 06:38] #112321 closed

[2022-09-09 07:16] vaibhav2107 commented on #112057
Sure @sftim, will open an issue against the docs related to this

[2022-09-09 07:32] marco210 opened #112345 "Nodelocal DNS Cache can not resolve /etc/hosts each node"
### What happened?

Nodelocal DNS Cache does not resolve priority /etc/hosts in node.

### What did you expect to happen?

Nodelocal DNS Cache resolve  domain in /etc/hosts

### How can we reproduce it (as minimally and precisely as possible)?

Each `/etc/hosts` node have local domain xx.xx.xx.xx harbor.io. Before install Nodelocal DNS Cache, in another pod I can `dig  harbor.io` and return ip in

[2022-09-09 07:51] akankshakumari393 commented on #112343
Hey Can I take a stab on it. I would like to work on this. Once this is `triaged`

[2022-09-09 08:00] RNJEGA commented on #53881
@Bhaskar1312 **kubectl config use-context docker-desktop** works. 👌

[2022-09-09 08:18] pbetkier commented on #96242
It stores an aggregate: the sum of all metric values. If your external metric has a single series (e.g. queue size) then it's the same as what we store in status, but you can define metrics having multiple series, e.g. reported for each application instance.

Also I thought you meant change the architecture to async for all metric types, not only external. This would allow us to recalculate HPA as

[2022-09-09 08:25] #106681 closed

[2022-09-09 08:25] wilmardo commented on #109427
And again a little nudge @jpbetz @sttts

The current discrepancy breaks linters like [yannh/kubeconform](https://github.com/yannh/kubeconform) since they generate their ruleset based on the API spec.
The current state makes a generated CRD from an official package invalid according to rules based on the API spec.

[2022-09-09 09:00] sftim commented on #112327
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ doesn't list a `CheckpointContainer` feature gate for kubelets.

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ has a feature gate named `ContainerCheckpoint`. I'm guessing that this is a docs bug and https://kubernetes.io/docs/reference/node/kubelet-checkpoint-api/ is incorrect (possibly

[2022-09-09 09:03] r-erema commented on #110464
@jmgate Thanks for reply.

It seems you need to raise a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/0000-kep-process) to proceed with the imlementation of such feature

[2022-09-09 09:13] prosnekov commented on #112327
Thank you
Yep, using `ContainerCheckpoint` as feature gate name resolves the issue. So this is a doc bug.

[2022-09-09 09:18] sftim commented on #112327
/transfer website

[2022-09-09 09:20] mborsz commented on #112296
Thanks @shyamjvs for driving this. The plan makes sense to me.

Most likely the regression is caused by change to the load test itself that has been deployed that time (https://github.com/kubernetes/test-infra/pull/27290). It pushes much more pressure on the control plane (which is expected), but it seems to be too much for tiny master and (kube-api-qps=100 we have there) and generate some flakine

[2022-09-09 09:21] Paszymaja commented on #110987
Hi, we have a similar issue. I have created an issue in GKE support: https://issuetracker.google.com/issues/245883884

[2022-09-09 09:21] cwdsuzhou opened #112347 "PVC with mode WaitForFirstConsumer may have error selected-node"
### What happened?

A pod created by statefulSet requiring a pvc with delay binding was preempted by other pods. Then it is scheduled to another  node which is different from the `selected-node` in pvc's annotation.

### What did you expect to happen?

PVC's `selected-node` should be updated or removed when pod requiring it is scheduled to other nodes.

### How can we reproduce it (as minimally an

[2022-09-09 10:42] enj commented on #112342
@theVJagrawal no I am already working on it.

[2022-09-09 12:51] RainbowHerbicides commented on #112315
Performed investigation and found what caused issue - `Ranched Desktop`. Looks like it tries to install most compatible (i.e major version) of `kubectl` based on information gathered from Kubernetes API  and substitute normally installed via brew `kubectl` cli. Running `kuberlr get 1.15.4` fixed that issue

[2022-09-09 12:51] #112315 closed

[2022-09-09 13:27] alculquicondor commented on #112340
/remove-sig scheduling
/sig apps

[2022-09-09 13:35] alculquicondor commented on #107414
This is still happening

[2022-09-09 13:49] alculquicondor commented on #112340
/unassign

[2022-09-09 15:01] 9600166807 commented on #44033
Regarding hpa I set for prometheus, But pod terminates instantly while crossing the threshold limit. this is my code:
[code]
Can anyone help me?

[2022-09-09 15:28] #106972 closed

[2022-09-09 15:38] smarterclayton commented on #109596
Problem is similar to #105543 - when we don't have apiserver data, we block certain important behaviors of static pods.

[2022-09-09 17:20] AndreasDeCrinis opened #112364 "kubelet service restart stuck"
### What happened?

When trying to restart kubelet, it gets stuck with following error message:
`systemd[1]: kubelet.service: Killing process 1469279 (mount.cifs) with signal SIGKILL.`

### What did you expect to happen?

restart service without issues

### How can we reproduce it (as minimally and precisely as possible)?

happens sporadically on random nodes

### Anything else we need to know?

_

[2022-09-09 17:22] krmayankk commented on #105291
Has this been released ?

[2022-09-09 17:33] alculquicondor commented on #105291
This is currently in beta kubernetes/enhancements#3022

/close

[2022-09-09 17:34] #105291 closed

[2022-09-09 18:19] eytanhanig commented on #98368
It appears that the PR was closed. What would it take to get this feature on the roadmap?

[2022-09-09 18:29] #109378 closed

[2022-09-09 19:06] orberkov commented on #110987
We experiencing the same issue. A pod will not connect to an automatically created PV. The POD was attached, but after removing and putting the POD back - the pod will not attach

[2022-09-09 19:14] aramase commented on #112160
/assign

[2022-09-09 19:23] neolit123 commented on #112364
please try catching some logs from the kubelet.
`journalctl -xeu kubelet`

/sig node

[2022-09-09 19:25] #112340 closed

[2022-09-09 20:49] telmich opened #112367 "kubeadm incorrectly fails on /80 IPv6 network"
### What happened?

Trying to bootstrap a cluster using the following configuration file fails:

[code]

### What did you expect to happen?

kubeadm to use the /80 network

### How can we reproduce it (as minimally and precisely as possible)?

Use:

[code]

### Anything else we need to know?

From an operator point of view kubeadm should allow any sized pod or service subnet.

### Kubernetes versi

[2022-09-09 21:20] Tensho commented on #106802
I had a discussion about this option with my colleague today in regard to Rails db migrations. While other some orchestrators have been mentioned (argo, tekton), it would be nice to have this feature native to k8s. In our case, we orchestrate dependencies between k8s job and deployment with Terraform [`depends_on`](https://www.terraform.io/language/meta-arguments/depends_on) meta-argument.

[2022-09-09 21:46] feroenmmek opened #112369 "@249043822 , thank you for the PR for fixing the issue! Do you think it is easy to add some sort of unit test about the behavior?"
@249043822 , thank you for the PR for fixing the issue! Do you think it is easy to add some sort of unit test about the behavior?

_Originally posted by @jingxu97 in https://github.com/kubernetes/kubernetes/issues/111205#issuecomment-1202047929_

[2022-09-09 21:46] feroenmmek opened #112370 "@feroenmmek: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:"
@feroenmmek: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`
- `/committee <group-name>`

Please see the [group list](https://git.k8s.io/community/sig-list.md) for a listing of the SIGs, working groups, and committees available.

<details>

Instructions for interacting with me using PR comment

[2022-09-09 21:51] thockin commented on #82296
https://twitter.com/thockin/status/1346873150382870528

TLDR:

We could coerce numbers -> strings when we are unmarshalling, I guess?  I don't know if that's standard.

Octal in YAML is broken, do not rely on it (sad!)

Should we recognize 0 followed by digits where one is > 7 as a string?  That really feels like a stretch to me.

[2022-09-09 22:00] wespanther commented on #109377
@blackzlq - I think you can close this old issue out.

[2022-09-09 22:11] euroelessar commented on #112307
@krmayankk Can you check this one, please?

[2022-09-09 22:32] krmayankk commented on #112307
/assign @krmayankk

[2022-09-09 22:56] alculquicondor commented on #106802
Why? What about this suggestion https://github.com/kubernetes/kubernetes/issues/106802#issuecomment-1180398316?

[2022-09-09 23:07] thockin commented on #107598
I like this approach much better than https://github.com/kubernetes/enhancements/pull/3190 - we should set a "reasonable" limit on how many pods you can put in here, like 10 or 100 or 256, but not unbounded and probably not 1000.  I do like how this lets you spec negative values or positive, so you can protect or sacrifice as needed, based on available information.

@abdullah, even without a way f

[2022-09-09 23:17] #111979 closed

[2022-09-09 23:42] theunrepentantgeek commented on #106286
/remove-lifecycle rotten

[2022-09-10 04:09] n4j commented on #112370
/close
Issue is missing description and other details

[2022-09-10 04:09] #112370 closed

[2022-09-10 04:12] n4j commented on #112367
@telmich Can you please provide logs from the kubeadm?Ffrom start to up until the point it fails to boostrap?

[2022-09-10 04:15] n4j commented on #112367
/sig cluster-lifecycle

[2022-09-10 05:00] neolit123 commented on #112367
/sig network
@aojea /80 is too big if I recall and we don't have the bitmap-like allocator yet?
@telmich are you getting podnet  validation warnings in kubeadm or other component logs?

[2022-09-10 05:01] neolit123 commented on #112367
/kind support
this is a support ticket.. what we can do is improve docs / cli output.

[2022-09-10 05:44] uablrek commented on #112185
This seem like a legit bug. `kube-proxy` shall setup NodePort access for all interfaces, except those on `kube-ipvs0` for proxy-mode=ipvs.

If I recall correctly this is where the addresses are read;

https://github.com/kubernetes/kubernetes/blob/d9f21e55df4cd95f5e6c9ea1d7109a2a767920fb/pkg/proxy/ipvs/netlink_linux.go#L129-L166

A set-diff-operation is performed to exclude dev=kube-ipvs0.

Since t

[2022-09-10 05:45] uablrek commented on #112185
/area ipvs

[2022-09-10 05:46] uablrek commented on #112185
/area kube-proxy

[2022-09-10 06:54] yudaprama opened #112371 "Couldn't initialize a Kubernetes cluster"
### What happened?

[code]

Log: https://gist.github.com/yudaprama/4950f1df0dd3f63f141e4d7a47f9f907

**Kubelet status**

[code]

Logs: https://gist.github.com/yudaprama/d0e5da7cd980881bb816e1be809ce731

**Kubelet Log**

[code]

Logs: https://gist.github.com/yudaprama/ec795c9ef79d882650b003d676a4de39

**List all containers**

[code]

[code]

### What did you expect to happen?

[code]

### How can w

[2022-09-10 07:05] AndreasDeCrinis commented on #112364
<details>
<summary>Kubelet logs:</summary>

[code]

</details>

[2022-09-10 07:46] haosdent commented on #112323
Others are ignored and online the last line is parsed by kubelet correctly. @aojea

[2022-09-10 08:10] neolit123 commented on #112371
/kind support
/close

please see
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-09-10 08:10] #112371 closed

[2022-09-10 08:38] dvaldivia commented on #111995
Experiencing the same problem setting up `v1.25.0` in my case, my workers have `containerd`, already running an etcd pod that talks to other peers, but can't join the cluster via `kubeadm join` due to the error

from `journalctl -xeu kubelet`

[code]

the control-plane already has a working CNI and pods running

[2022-09-10 08:48] aojea commented on #112367
that restriction of >112 is for Service

for pods the limitation is between `podSubnet` mask size and `node-mask-cidr-size-ipv6`, that by default is 64. The node-mask-size-cidr subdivides the podSubnet to assign subnets to the nodes, so the limit is podSubnet

If you want to use podSubnet /80 you need to set --node-mask-cidr-size-ipv6 to something greater than 80, i.e. 96

See https://github.com/k

[2022-09-10 08:50] aojea commented on #112323
and in a normal resolv.conf, does libc use all the options or ignore some and use only one?

[2022-09-10 09:37] telmich commented on #112367
The log from trying to use kubeadm when trying to use a /80:

[code]

Note that even if this was related to the node subnets, the error message would be at least misleading.

[2022-09-10 09:38] telmich commented on #112367
@aojea Regarding the size, the flag you specified seems not to exist:

[code]

[2022-09-10 09:39] telmich commented on #112367
@neolit123 In regards to the allocating, isn't that problem related to the service cidr?

[2022-09-10 09:48] telmich commented on #112367
A little bit of background why I am trying to use a /80 network in the first place:

* Usually on link IPv6 networks are /64's
* Sometimes there are use cases where Kubernetes should be part of a real, physical network
* Such a use case is when you are running Ceph using `public network = ... /64`
* To be able to have pods (and services as well, but this is a different topic) inside the network, k

[2022-09-10 10:03] brneto commented on #105587
I've created the PR #112362 to fix this issue, but for those still facing this issue after installing [Oh My Zsh](https://ohmyz.sh/) with `kubectl` plugin enabled you can run command below as a patch to fix it in the meantime:
[code]

[2022-09-10 10:04] neolit123 commented on #112367
kubeadm is giving you an accurate error message here. maybe i am missing something?

--node-cidr-mask-size-ipv6 is a valud flag.
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

docs wise do we have missing info here?
https://kubernetes.io/docs/concepts/services-networking/dual-stack/#configure-ipv4-ipv6-dual-stack
https://kubernetes.io/docs/setup/product

[2022-09-10 10:36] #109374 closed

[2022-09-10 12:36] #109399 closed

[2022-09-10 13:02] cuisongliu commented on #111995
It‘s my problem. Some fields are not compatible. I put the 1.24 kubeadm configuration to 1.25 and use it.

[2022-09-10 13:39] shmarsy commented on #111715
https://stackoverflow.com/questions/51394387/why-is-kuberenetes-kubeadm-init-command-unable-to-pull-the-images-from-the-repos I have seen this issue i think this the right answer.

[2022-09-10 15:43] dmeijboom commented on #64924
I'm not an export on DNS but for some reason this worked! I did the following things:
- Remove `/etc/resolv.conf` symlink and created a file with the same content (without `search .` obviously)
- Changed the `resolvConf` parameter in the `KubeletConfiguration` to `/etc/resolve.conf` (it was set to: `/run/systemd/resolve/resolv.conf` previously)
- Restarted all kubelets and voila

[2022-09-10 17:54] navaati opened #112376 "Kube-apiserver quickly reaches OOMKill on startup"
### What happened?

When running kube-apiserver with the options `--etcd-servers=http://localhost:2379 --service-account-issuer=kube-home-node --service-account-signing-key-file=/dev/zero --authorization-mode=Node`, it immediately starts eating all the RAM available, until it gets killed by the OOMKiller after a few seconds.

When I ran the repro test on my desktop machine, it had eaten as much as

[2022-09-10 19:31] JJotah commented on #112364
Hi,
Did you install runc? Enabled the ipv4 firewall and followed kubernetes doc?
I understood that you are using < 1.24 which version?

[2022-09-10 19:52] oliviermichaelis commented on #112279
Hi @DongsGit, as taken from your screenshot the `averageUtilization` is: `Currently only valid for
     Resource metric source type`. Your metric is currently of `type: Object` and but should be of `type: Resource` for  target `type: Utilization` to work.
I hope that helps :)

[2022-09-10 19:57] dvaldivia commented on #111995
but I think this is still a problem none the less, in my case, I'm trying to setup an [HA etcd cluster](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/) so my worker nodes have already an etcd pod running, which might confuse the kubelet, the `kubeadm init` was particular because of this approach, I wonder if the `kubeadm join` needs to be told tha

[2022-09-10 19:58] dvaldivia commented on #111995
looking at the code, the error comes from checking the container runtime being ready https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2373 however, I'd assume that since I have other etcd pod already working, the container runtime could be considered as ready

[2022-09-10 20:17] jingxu97 commented on #112343
I think the reasoning above from @saad-ali is right. I traced the origin code is from here https://github.com/kubernetes/kubernetes/commit/8903e8cd857a725cf43dfd6710bb740413105479. At that time both file and block will call MountDevice repeatedly without checking GetDeviceMountState from actual state.
Later there is a fix https://github.com/kubernetes/kubernetes/commit/6060c57ba3a944bd133968fd6699

[2022-09-10 20:22] abdennour commented on #84598
isn't it related to `service.spec.ipFamilies` ?!

[2022-09-10 20:32] jedi85 commented on #106464
last update helped me fix the issue, thanks

[2022-09-10 21:45] #99824 closed

[2022-09-10 21:57] dghubble commented on #110755
In our v1.25 clusters, when a node is gracefully shutdown, many non-critical pods end up in an Error or Completed state, with

[code]

after enabling graceful node shutdown. Its not rare tail latency from my observations. As nodes auto-update, you end up with an increasing number of Error/Completed Pod clutter. They're technically harmless, but manually cleaning them up is a non-starter. Inspectin

[2022-09-10 22:21] dvaldivia commented on #111995
For any time travelers who setup the HA etcd, the problem is the existence of the `/etc/systemd/system/kubelet.service.d/20-etcd-service-manager.conf` file on the worker nodes, remove it and the problem will be solved

[2022-09-11 02:47] #109475 closed

[2022-09-11 10:12] nicholasyin commented on #67059
May I ask if there's still no way to remove a port forwarding, as of today 2022?

[2022-09-11 10:37] Slyke opened #112378 "kubeadm init fails to create ConfigMap when --upload certs is set"
### What happened?

Kubeadm init fails to create ConfigMap of certs it generated.

### What did you expect to happen?

Kubeadm to create the ConfigMap with certs.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

I am trying to set this up in a multimaster environment behind a keepalived load balancer and have been running into issu

[2022-09-11 10:42] aravindb26 commented on #112273
@SataQiu
I found some solutions here that have the same issue, I hope it somewhat helps you
https://stackoverflow.com/questions/69389043/kubernetes-scheduler

[2022-09-11 12:11] pavanchavan16 commented on #112347
https://stackoverflow.com/questions/55044486/waitforfirstconsumer-persistentvolumeclaim-waiting-for-first-consumer-to-be-crea I have seen this issue on stackoverflow and I thing this is right answer.

[2022-09-11 12:26] neolit123 commented on #112378
/kind support
/close

please see

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this is likely an issue with the LB.

[2022-09-11 12:27] #112378 closed

[2022-09-11 14:25] aojea commented on #112376
The problem is that you are passing `/dev/zero` as a file and the reader  never ends, short reproducer

[code]
you can see how the `os.Readfile` never exists and keeps allocating memory

[code]

from golang docs https://pkg.go.dev/os#ReadFile

I don't think that this is  bug, since it is working as expected, "/dev/zero  is a special file in Unix-like operating systems that provides as many null ch

[2022-09-11 15:03] navaati commented on #112376
Oh, duuuuuh, I wanted `/dev/null`, not `/dev/zero` ! I’m so sorry for the noise and thanks a lot for your time, I’m not sure I would have caught that so soon (I was already going to learn how to profile in Go…).

I agree that it’s not a bug, pure PEBCAK.

Thanks again !

[2022-09-11 15:03] #112376 closed

[2022-09-11 15:48] aojea commented on #112376
no worries, the issue was properly described and easy to reproduce, that helps a lot, keep it up

Thanks for reporting

[2022-09-11 16:28] aravindb26 opened #112382 "Unable to install Kubernetes on VPS via make command"
### What happened?

Hi team, hope all going well.

I have tried to install Kubernetes and build it on my VPS terminal. which has a capacity like 2 GB Memory / 60 GB Disk / BLR1 - Ubuntu 22.04 x64.

It gets stuck after we enter the command **make**

I have tried to install it for few times for successful installation

But it got stuck my total VPS like below

<img width="422" alt="make" src="https:

[2022-09-11 16:50] aojea commented on #112382
/remove-kind bug

Agree that the kubernetes development environment demands considerable resources, but I can't see how this can be a bug ...

[2022-09-11 16:51] uablrek commented on #112185
Please see [this program](https://gist.github.com/uablrek/0bacf99d8faf8ade4666c02dcd28774c)

[2022-09-11 18:00] aravindb26 commented on #112382
add kind/bug

It's a bug because it has an impact on kubernetes. Every issue which has Impact on repo or open source project it's a bug

[2022-09-11 19:29] oliviermichaelis commented on #110501
Hi @mengschin, I tried to reproduce this issue without success. It works as expected for me.

Tested it on kubernetes `1.24` with prometheus-adapter `v0.10.0`.
Maybe you can check if the value is correct in the `/apis/external.metrics.k8s.io/v1beta1` API to debug this further :)

[2022-09-11 20:01] dims commented on #112382
sorry, WONTFIX

[2022-09-11 20:01] #112382 closed

[2022-09-11 20:21] Slyke commented on #112378
@neolit123 I'm using the node's IP. Not the load balancer's. I was just explaining what I was trying to do. You can see in this line:

[code]

That it is not using the load balancer.

[2022-09-11 21:00] Slyke commented on #112378
I tested out the same command with version 1.25.0 and got the following error:
[code]

However, when downgrading to 1.23.4 the command works fine:
[code]

I'm switching versions by running:
[code]

And specifying the version in init like:
[code]

This is defiantly an issue with v1.24+, unless I'm missing something?

[2022-09-11 21:55] #109438 closed

[2022-09-11 22:47] 111andre111 commented on #99803
@serathius
I tried to get this script working, however I don't get a working result
https://github.com/kubernetes/kubernetes/issues/99803#issuecomment-806165636
Can you help please:
I tried to parse output from : `journalctl --since "1 hour ago" -u kube-apiserver > journal`

[2022-09-11 22:55] mujeebishaque commented on #55958
I am facing the same issue. The logs say, the container in pod waiting to start. kubectl describe output doesn't show any anomaly or error.

[2022-09-11 23:22] cailynse commented on #81116
Hello @matthyx - I'm going to start working on this one file at a time, would you be up for pairing with me on the first one or two? Specifically I'd like to chat about the blockers that impacted the last PR!

[2022-09-12 04:10] Aniket211 commented on #111779
Hi @wzshiming
Thanks for the reply on the thread and apologies for replying late on this.
Thanks for confirming the upstream systems bug. Could you please suggest which systems version has the fix for this or which CentOS version we should upgrade to get this resolved and have Graceful Node shutdown working?
I referred to the thread for issue #107043 and I guess this has been fixed in CentOS 8. Ju

[2022-09-12 04:51] harshanarayana commented on #112185
@uablrek Thanks very much for your time and help in looking into this matter. I will run the modified code in your gist and see what I can find out. But I am not entirely sure if this is a case  of

The `kube-proxy` log shows that it is processing that address for the virtual server

But the record is missing. So, I wonder if this is a side effect of some bug/behavior lurking around in the library

[2022-09-12 05:06] AndreasDeCrinis commented on #112364
Hi

[code]
UFW is disabled.

we have updated last weekend from 1.22.11 to 1.22.13

[2022-09-12 05:22] uablrek commented on #112185
Oh, missed that. Sorry. You are right, but there are no other logs saying that ipvs update failed I gather. So, when you have the condition (and re-start kube-proxy doesn't help), please try to insert the missing recods manually with `ipvsadm`. Not as a work-around, but as a test. If kube-proxy fails at inserting the record, so should a manual `ipvsadm`, but perhaps with some informative printout.

[2022-09-12 05:35] harshanarayana commented on #112185
No there is not. Which is what took me off guard.

This one worked as expected. I was able to see the record later on and the ports were working as expected as well.

Yes. Which is what I was hoping would happen. But wasn't the case. And `kube-proxy` did not log any major errors either. I did a few things to see if this can be reproduced.

1. Add the rule manually to `ipvsadm` and restart `kube-pr

[2022-09-12 05:39] harshanarayana commented on #112367
@telmich `--node-mask-cidr-size-ipv6 96` there is a typo in the command. It should be `node-cidr-mask-size-ipv6 ` and not `node-mask-cidr-size-ipv6`.

[2022-09-12 05:47] SOF3 commented on #110315
/remove-lifecycle stale

[2022-09-12 05:51] uablrek commented on #112185
I was also looking at https://github.com/moby/ipvs but saw nothing out of the ordinary. A debug version of it seems like a great idea. I let this rest for now and await your input. I checked the version and kube-proxy uses moby 1.0.1 and there is a 1.0.2 but the update seem minor and in un-relevant areas.

[2022-09-12 06:29] smoshiur1237 commented on #109531
@ehashman @bobbypage  We are continuously seeing this issue in both 1.24.1 and 1.25. Also we have tested with increasing the value of  shutdownGracePeriod and shutdownGracePeriodCriticalPods. But getting the same behavior, deployment pod is in terminating stage and kube-system pods are in pending state. Any recommendation for a fix please.

[2022-09-12 06:43] neolit123 commented on #112367
since i don't think we should include flag names in the kubeadm CLI output (undesired binding, CLI flags vs config, etc...), this seems like a docs issue that should be covered in https://kubernetes.io/docs/concepts/services-networking/dual-stack/#configure-ipv4-ipv6-dual-stack and/or https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/dual-stack-support/

please log an issue in

[2022-09-12 06:43] neolit123 commented on #112367
/close

[2022-09-12 06:43] #112367 closed

[2022-09-12 07:10] mborsz commented on #112296
Yes, it was that change as the latency is back to normal levels:
![image](https://user-images.githubusercontent.com/2559168/189593676-e18810a3-a347-4f6f-bbdb-e522745b33e9.png)

[2022-09-12 07:55] neolit123 commented on #112364
kubelet is already running? check what process has the port with:

`netstat -ltnp | grep -w ':10250' `

closing as support. please read
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
continue the discussion if you like here, but better to ask on the support channels.

/kind support
/close

[2022-09-12 07:55] #112364 closed

[2022-09-12 07:57] lucab commented on #112135
The patch for this got merged for the upcoming 1.25.1 and 1.26

[2022-09-12 08:56] #109474 closed

[2022-09-12 09:03] Shubham82 commented on #108814
Fixed it here: #112386

[2022-09-12 09:11] mythi commented on #112234
Submitted a fix: #112387

[2022-09-12 09:23] pohly opened #112388 "flake: pull-kubernetes-unit, k8s.io/kubernetes/test/e2e/framework/internal/unittests/cleanup"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

k8s.io/kubernetes/test/e2e/framework/internal/unittests/cleanup.TestCleanup

### Since when has it been flaking?

Probably since it was merged in https://github.com/kubernetes/kubernetes/pull/111998.

### Testgrid link

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit

### R

[2022-09-12 09:23] pohly commented on #112388
/assign

[2022-09-12 10:08] r-erema commented on #111925
@enj Hi! May I look into the issue and try to provide a plan followed by implementation?

[2022-09-12 10:28] enj commented on #111925
No I am already working on it, just forgot to assign it.

/assign

[2022-09-12 10:32] MadhavJivrajani commented on #112369
/close
I'm assuming this was creating accidentally? Please feel free to reopen it if that's not the case, thanks!

[2022-09-12 10:32] #112369 closed

[2022-09-12 11:34] neolit123 commented on #112345
issue should be logged here IMO
https://github.com/kubernetes/dns/issues

/sig network

[2022-09-12 11:34] neolit123 commented on #112347
/sig storage

[2022-09-12 11:38] Kartik494 commented on #109113
@gregth please let us know if you agreed with inputs given on [comment](https://github.com/kubernetes/kubernetes/issues/109113#issuecomment-1230261465) , so that we can close this issue .

[2022-09-12 12:27] #112388 closed

[2022-09-12 12:36] dims commented on #112296
excellent new! thanks @mborsz and @shyamjvs

[2022-09-12 12:46] jsafrane commented on #34549
This should be fixed by https://github.com/kubernetes/kubernetes/pull/110559

[2022-09-12 12:49] Harsh0018511 commented on #112313
Hi @yangl900
I am a newbie in this domain but wanted to learn this topic and work on this issue. So, if possible could you please direct me to some useful resources so that I can learn and work on this issue.
/assign

[2022-09-12 12:50] bboreham commented on #110606
I too have wished I could raise this rate-limit a bit from the default of 5/sec.
I see a few core commands have a `--kube-api-qps` flag, but not kubectl.

As it's something I would not want to change from moment to moment, I might prefer to have it in `~/.kube/config`.

While I'm here, I'll mention that the warning message is often about some kind of object I did not touch, e.g. `cache.aws.crosspl

[2022-09-12 15:07] #112126 closed

[2022-09-12 15:20] jsafrane commented on #112343
Yes, NodeStage should be ideally called only once.

[2022-09-12 15:24] jmgate commented on #110464
Thanks @r-erema.  I'll look over the documentation and talk it over with my team to see if we want to invest the time in developing and submitting a KEP.  I appreciate your engagement here.

[2022-09-12 15:55] klueska opened #112395 "Change in semantics for the device plugin registration process"
### What happened?

The following refactoring of the kubelet's devicemanager was done as part of the 1.25 release: https://github.com/kubernetes/kubernetes/commit/db88676c20629354d8eeb4b7014ae7884481ffca

As part of this, a change in semantics was (unintentionally) introduced which is breaking at least one 3rd party plugin. The logic required to go back to the old semantics is fairly straight forw

[2022-09-12 15:56] klueska commented on #112395
/cc @fromanirh
/cc @derekwaynecarr
/cc @RenaudWasTaken

[2022-09-12 15:57] klueska commented on #112395
/sig node

[2022-09-12 16:16] marosset commented on #102849
/remove-lifecycle stale

[2022-09-12 16:17] ritazh commented on #109847
/close

Looks like https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestNamespaceAuthorization has been green for awhile. Feel free to reopen if you see consistent failures.

[2022-09-12 16:17] #109847 closed

[2022-09-12 16:23] ritazh commented on #109812
/close

Looks like https://github.com/kubernetes/kubernetes/issues/109812#issuecomment-1128890327 has a suggested solution. Going to close this. Feel free to reopen if issue persists.

[2022-09-12 16:23] #109812 closed

[2022-09-12 16:48] redbaron commented on #74415
looks like it is not going to be fixed and community came up with workarounds. I'd let it rot

[2022-09-12 17:11] akankshakumari393 commented on #112343
Hey Can I work on it? I think this is a `good-first-issue` cc @jsafrane @jingxu97 @saad-ali

[2022-09-12 17:11] enj commented on #110265
/remove-lifecycle stale

[2022-09-12 17:14] jingxu97 commented on #112343
Yes @akankshakumari393 please go ahead. We can help review.

[2022-09-12 17:17] akankshakumari393 commented on #112343
/aasign

[2022-09-12 17:17] akankshakumari393 commented on #112343
/assign

[2022-09-12 17:33] xing-yang commented on #112343
/triage accepted

[2022-09-12 18:27] shyamjvs commented on #112152
Another datapoint from just couple days ago, where customer observed 5xx errors when KCM tried to update endpoints object that grew too big and etcd threw a `etcdserver: request is too large`:

[code]

In this case the request is clearly non-retriable and imho the apiserver should have actually returned an HTTP 400 (bad request) rather than a server-side error. While this happened with endpoints o

[2022-09-12 19:43] saad-ali commented on #112343
Thanks @akankshakumari393

[2022-09-12 19:45] shyamjvs commented on #112152
Agree about apiserver not accepting a request that it knows etcd won't accept.

Is there a config to control this in the apiserver today though? Even with that imo we still need to address the problem of `apiserver should have actually returned an HTTP 400 (bad request) rather than a HTTP 500 (server-side error)`.

Btw I remember the last time we increased the gRPC msg size from 1.5MB to 2MB as pa

[2022-09-12 19:57] enj commented on #110265
/close

https://github.com/kubernetes/kubernetes/pull/110267

[2022-09-12 19:57] #110265 closed

[2022-09-12 21:02] lavalamp commented on #112152
There already is an apiserver limit, it will return some 4xx message, I don't recall where it is off the top of my head unfortunately

[2022-09-12 21:33] rphillips commented on #112124
cc @kolyshkin

[2022-09-12 21:37] shyamjvs commented on #112152
Doesn't look like it's kicking in? Given we did see a HTTP 500 for the above request (with the k/k defaults):

[code]

FWIW the k8s version is 1.21 ^

[2022-09-12 21:47] cenkalti commented on #112152
Limit in the apiserver:
https://github.com/kubernetes/kubernetes/blob/0f37b3120643580f632ca12d3e174e7ec447948c/staging/src/k8s.io/apiserver/pkg/server/config.go#L356-L365

[2022-09-12 21:52] lavalamp commented on #112152
ugh, yeah, IMO that should be smaller than the etcd limit. @liggitt did we not think about this when accounting for the encoding difference?

[2022-09-12 21:53] cenkalti commented on #112152
It seems this is not correct for default values. etcd limit must be higher than apiserver limit.

[2022-09-12 21:58] liggitt commented on #112152
We did think about that. Receiving an etcd size error is always a possibility. The request limit was a backstop chosen to accommodate things that were larger in requests (e.g. JSON) and smaller in etcd (e.g. proto), while not being so large that we were exposed to stack overflow issues parsing the request.

[2022-09-12 21:59] liggitt commented on #112152
The comment in the linked code explains why the apiserver limit is large than the default etcd limit

[2022-09-12 22:03] micahhausler opened #112408 "Document Kubernetes approach to Go versions in release branches"
### What would you like to be added?

I'd like Kubernetes to state the position on updating the Go language version used for release branches.

### Why is this needed?

I couldn't find a publicly stated Kubernetes policy around Go version updates for release branches documented anywhere. Right now, Kubernetes maintains releases for a year, but doesn't appear to update the Go version.  Go makes new

[2022-09-12 22:05] micahhausler commented on #112408
/sig release

[2022-09-12 22:06] liggitt commented on #112408
We don't currently update go minor versions on release branches, largely because we don't yet have a way to mitigate the variety of changes / risks that come with minor go version updates

Each go version brings different types of changes, but minor version go updates in the past have brought a mix of:
* large behavior changes in the stdlib (e.g. http/2 by default in go1.16)
* large changes in our

[2022-09-12 22:19] joswiatek commented on #91808
For anyone who was surprised by this PDB behavior and ended up on this issue via google, I found [this section](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#:~:text=Pods%20which%20are,specific%20workload%20resource.) of kubernetes documentation useful. It details why this occurs, excerpt included below

AFAIK, the method described above of applying helm updates sequentially inst

[2022-09-12 22:51] YevheniiPokhvalii commented on #65551
The problem with CRD is that they are **Custom** Resource Definitions. They are not like, for example `pods` API resource definition that is managed centrally by the Kubernetes team. They are managed by third party developers, that means it can lead to some problems like API resource name coincidence on the cluster, or, for instance, developers updated their CRDs but did not update their versions

[2022-09-12 22:51] lavalamp commented on #112152
I think I am thinking of some even older setting that is long gone.

[2022-09-12 22:54] grosser opened #112409 "`kubectl taint` should always set `timeAdded`"
it can be useful for debugging to see when a taint was added and afaik there is no harm in setting it

... at least it should be an optional `--add-time-added` flag

/sig cli

[2022-09-12 22:54] grosser opened #113044 "`kubectl taint` should always set `timeAdded`"
it can be useful for debugging to see when a taint was added and afaik there is no harm in setting it

... at least it should be an optional `--add-time-added` flag

/sig cli

[2022-09-12 23:09] lavalamp commented on #112152
Well, we could catch & interpret the etcd error. It won't really fix anything, though, since our automated clients (controllers) won't adjust their behavior at all.

The better place to do this is before calling webhooks, but unfortunately it's probably in the wrong encoding there (for built-in resources).

BTW the cluster you got the error from is almost certainly greatly exceeding the [endpoints

[2022-09-12 23:33] cenkalti commented on #112152
1. If client hits the limit in apiserver, it receives `413 RequestEntityTooLarge` error.

1. If client hits the limit in etcd grpc client, it receives some 5xx error (grpc returns [this error](https://github.com/grpc/grpc-go/blob/f601dfac73c9ed39935bf1fb6b2d8f5c60b892ae/stream.go#L826) but I cannot see it is handled anywhere in upper layers so it will probably returned as 500 to the client).

1. I

[2022-09-12 23:37] cenkalti commented on #112152
Seeing 5xx errors anywhere in prod is not good. We should minimize these cases if we can.

[2022-09-12 23:45] lavalamp commented on #112152
Like I said, given the error was about endpoints, the user of the cluster has almost certainly significantly exceeded the endpoints per service limit. The endpoints controller won't take different actions on a 500 or a 400. This is just aesthetic and therefore extremely low priority.

[2022-09-13 01:49] kolyshkin commented on #112124
Sorry, I can't see how it relates to runc in any way possible.

@danielcb I am not sure what you mean here, the issue description does not mention any memory leak or cgroup error messages, only the "Path does not exist" error from `kubelet_getters.go:300`.

[2022-09-13 02:11] xigang commented on #112319
When the memory usage of `kube-controller-manager` reaches 250GiB, `kube-controller-manager` pprof:

![image](https://user-images.githubusercontent.com/3377677/189791847-088bdf30-3cf3-4999-a80a-bb294e4313b3.png)

![image](https://user-images.githubusercontent.com/3377677/189791736-64036864-9486-4f00-af17-8d74aa5be4b7.png)

[2022-09-13 02:23] wzshiming commented on #111779
Yes, it works in CentOS 8.
If using CentOS 7, need to upgrade the version of Systemd

[2022-09-13 02:43] Slyke opened #112411 "kubeadm init fails to create ConfigMap when --upload certs is set"
### What happened?

Kubeadm init fails to create ConfigMap of certs it generated. Reopening since https://github.com/kubernetes/kubernetes/issues/112378 was closed incorrectly.

### What did you expect to happen?

Kubeadm to create the ConfigMap with certs.

### How can we reproduce it (as minimally and precisely as possible)?

Tested with v1.24.4+:
[code]

### Anything else we need to know?

I am

[2022-09-13 03:11] zwpaper commented on #28167
/remove-lifecycle stale

[2022-09-13 03:26] Windrow14 commented on #112066
I have the same problem.

[2022-09-13 03:38] pacoxu commented on #112333
- https://github.com/kubernetes/kubernetes/pull/94087 fixed https://github.com/kubernetes/kubernetes/issues/92067 in v1.21.
- #99336 improved the performance in v1.22.

BTW, End of Life for 1.22 is 2022-10-28.

How can we reproduce it? I cannot reproduce it by just restarting kubelet in my v1.24 cluster.

[2022-09-13 05:11] Rajalakshmi-Girish opened #112412 "[Failing Test] periodic-kubernetes-unit-test-ppc64le, k8s.io/kubernetes/test/e2e/framework/internal/unittests/cleanup"
### Which jobs are failing?

periodic-kubernetes-unit-test-ppc64le

### Which tests are failing?

k8s.io/kubernetes/test/e2e/framework/internal/unittests/cleanup: TestCleanup

### Since when has it been failing?

Probably since it was merged in https://github.com/kubernetes/kubernetes/pull/111998

### Testgrid link

https://k8s-testgrid.appspot.com/ibm-unit-tests-ppc64le#Periodic%20unit%20test%20s

[2022-09-13 05:14] Rajalakshmi-Girish commented on #112412
@pohly This test has been constantly failing in our environment and not just flaking.
Also, We see it still failing even after your fix for https://github.com/kubernetes/kubernetes/issues/112388
https://prow.k8s.io/view/gs/ppc64le-kubernetes/logs/periodic-kubernetes-unit-test-ppc64le/1569494093191450624 is the job that ran after merge of https://github.com/kubernetes/kubernetes/pull/112389

[2022-09-13 05:14] pacoxu commented on #112323
I tried centos/ubuntu, both will use append extra options and overwrite it if it already exists by the later settings.

For instance,
[code]
is the same as `options ndots:2 timeout:1  attempts:5`.

But I still think the workaround looks a perfered format.
[code]

[2022-09-13 05:15] Rajalakshmi-Girish commented on #112412
@aojea @mkumatag ^^

[2022-09-13 05:24] fromanirh commented on #112395
xref: https://github.com/kubevirt/kubevirt/pull/8451

[2022-09-13 05:25] pacoxu commented on #105019
/remove-lifecycle stale
pr is waiting for reviewing.

[2022-09-13 05:25] fromanirh commented on #112395
I'm interested in the fact that the e2e tests didn't seem to catch this issue. Besides improving our coverage, which rarely hurts, I tend to believe that one of the key factors is that we use sample-device-plugin in the e2e tests, which is understandably updated in lockstep with the core k/k code. I wonder how we can improve in this area, perhaps using _also_ a known set of 3rd party device plugin

[2022-09-13 05:41] mkumatag commented on #112412
cc @pohly

[2022-09-13 05:44] pohly commented on #112412
This is a data race in the control plane setup.

cc @aojea

[2022-09-13 05:45] pohly commented on #112412
So yes, this is different from the failure that I ran into. It's still a flake (races don''t always go wrong), but apparently the conditions in your jobs are so that it always triggers.

[2022-09-13 06:01] haosdent commented on #112323
Yes, but it looks like a bug since kubelet's behavior is different. @pacoxu

[2022-09-13 06:41] aojea commented on #112412
I'll take care of this
/assign

[2022-09-13 06:54] jasonliu747 commented on #110536
/remove-lifecycle stale

[2022-09-13 06:55] pohly commented on #112412
At first glance it looks like access to `c.runner` in pkg/controlplane/controller.go lacks protection by a mutex. But why are `Start` and `Stop` racing with each other in different goroutines, and why is `Stop` called first?

[2022-09-13 07:03] pacoxu commented on #112323
I tried to fix it in https://github.com/kubernetes/kubernetes/pull/112414. But I am still not sure if this is a valid fix. I will wait for pr review comments or further confirmation about whether this is valid.

[2022-09-13 07:11] aojea commented on #112412
in some executions it seems that it just timeouts, no races

I think that the problem is that this environment is under resourced and this test is not able to boot the apsierver , that may explain the race and why Stop is racing with Start

[2022-09-13 07:21] pohly commented on #112412
Should we perhaps make this unit test run only on amd64 architectures, with the rationale a) that it isn't architecture-dependent and thus testing it in one unit test job is sufficient and b) that it is an expensive test that stresses slower architectures too much?

[2022-09-13 07:35] aojea commented on #112412
the apiserver times out starting up, I think we can make it lighter with

[code]

it sound fair to me, since we use etcd and it is only guaranteed to build

https://etcd.io/docs/v3.5/op-guide/supported-platform/#support-tiers

@pohly do you want to make the honors? or should I?

[2022-09-13 07:37] mythi commented on #112234
The corresponding documentation update: https://github.com/kubernetes/website/pull/36769

[2022-09-13 07:43] pohly commented on #112412
Can you do it because we probably want both and you know best how to explain the patch above in the commit message?

[2022-09-13 07:57] pacoxu commented on #112323
/sig network

[2022-09-13 08:02] pacoxu commented on #112323
The feature was added by #54773 a long time ago by @phsiao following the design kubernetes/community#1276.

The KEP can be found in KEP https://github.com/kubernetes/enhancements/issues/504.

[2022-09-13 08:13] klueska commented on #112395
The plugin used in the e2e tests uses the standard kubelet plugin registration method (i.e. the one that relies on the plugin dropping a socket file in a well known location to trigger the registration), not the custom / legacy one used by the KubeVirt (and potentially many other) plugins.

[2022-09-13 08:14] matthyx commented on #81116
@cailynse sure let me have a look...

[2022-09-13 08:19] pacoxu commented on #112411
`kube-apiserver-master01` restarts 96 times. Why? Could you check the pod log?

[2022-09-13 08:19] danielcb commented on #112124
Sorry for mixing multiple issues. We've run into this, I think:
https://github.com/okd-project/okd/issues/1310

Currently we're on v1.24.4 with runc 1.1.4 and still have multiple issues:

1. Huge amount of log lines (10s per second):
[code]
and
[code]

2. kubelet consuming all available memory (around 60G) until it crashes

[2022-09-13 08:19] pacoxu commented on #112411
/kind support
before you cannot prove this is a bug for kubernetes.
/remove-kind bug

[2022-09-13 08:26] kenwoodjw commented on #100695
/remove-lifecycle stale

[2022-09-13 08:27] pacoxu commented on #112310
/assign

[2022-09-13 09:14] pacoxu commented on #112310
/cc @derekwaynecarr

I can only find some context about the design in https://github.com/kubernetes/kubernetes/pull/19761/ and https://github.com/kubernetes/kubernetes/pull/54320.

It seems that it is debatable in the beginning usecase of resource quota.
- The current code does not allow `best-effort` pods for CPU if the `hard.limits.cpu` is specified in the resource quota of the namesapce.
- @der

[2022-09-13 10:00] pacoxu commented on #111737
This would introduce more potential issues than benefits.

[2022-09-13 10:04] shubhamrathod27 commented on #112347
https://stackoverflow.com/questions/55044486/waitforfirstconsumer-persistentvolumeclaim-waiting-for-first-consumer-to-be-crea
*****i think this is the right answer******
may be this can help you sort this issue

[2022-09-13 10:23] pacoxu commented on #112311
I am not sure if I understand correctly.
https://github.com/containerd/containerd/blob/b170eb3caca52649545ce0fc65fa31241739db9d/vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go#L1306-L1308

[2022-09-13 10:34] FeLvi-zzz commented on #111725
Is this expected behavior? If correct, I'll try to fix it.

[2022-09-13 11:02] udupicloud opened #112418 "K8s cluster lost"
Hi,
My K8s and Ceph cluster is on on-premise setup.

On my K8s cluster nodes, I am not able to use the kubectl command. For some reason the cluster is not accessible. I see the pods are working as I have accused through the LB IP of each pods.

Here I want to know, if I create a new K8s cluster, will I be able to use the same PVC for the similar pods that existed on the affected K8s cluster.

I ha

[2022-09-13 13:02] soulseen commented on #112311
@pacoxu thank you for your reply, you understand correctly.
But anyway, I think the `Annotation` of the sandbox and biz containers should be consistent, whether the `Annotation` come from pod-defined or device plugin.

[2022-09-13 13:37] alculquicondor commented on #111793
I'm not sure. If anything, that would be a question for sig-apps about the Deployment or ReplicaSet controller.

[2022-09-13 13:43] alculquicondor commented on #111793
You might also want to look at StatefulSet.

[2022-09-13 13:43] alculquicondor commented on #111793
/close

issues are not for support, and this is working as intended.

[2022-09-13 13:43] #111793 closed

[2022-09-13 13:57] matthyx commented on #84876
This [commit](https://github.com/openjdk/jdk/commit/d462a6b5c9bd3dae5257cca42ea38c19cb742e3c) has (presumably) solved this issue for cgroups2.
For cgroups1 **the issue still exists**.

[2022-09-13 14:33] r-erema commented on #110782
@enj Can I take that issue?

[2022-09-13 15:41] marianaciorba3377 commented on #69676
Is there any update on this?
Is there a way to get logs about an OOMKilled event happening on the pod?
Would the preStop hook be a feasible option to get logs before the container dies because of an OOM? If not, what would be other ways of collecting logs during a OOM?
Thanks

[2022-09-13 16:26] enj commented on #112408
/triage accepted

[2022-09-13 16:36] aojea commented on #112408
this was also highlighted as one of the problems of extending releases cycles, how do you support a kubernetes versions with an unsupported go version?

[2022-09-13 16:43] #65036 closed

[2022-09-13 16:59] ritazh commented on #112408
Would it make sense for the Kubernetes community to maintain a fork of Go specifically for the CVEs? This would make sense for the overall security posture of Kubernetes. Otherwise, all k8s downstreams would end up having to maintain their own forks.

[2022-09-13 17:03] liggitt commented on #112408
I'm a really strong -1 on Kubernetes taking on ownership of a go fork. I don't think we have the capacity or expertise to do so. I would much rather see the go project make it possible for consumers like Kubernetes to pick up new go minor versions in a less disruptive way.

[2022-09-13 17:17] danbudris commented on #112408
For what it's worth, EKS is exploring what it takes to maintain a set of out-of-support Go versions with backports of upstream CVE fixes for the purposes of maintaining older Kubernetes versions and Kubernetes ecosystem components. I'm interested in collaborating on this effort.

[2022-09-13 17:18] MikeSpreitzer commented on #110499
PR #111148 added a better test.

[2022-09-13 17:27] MikeSpreitzer opened #112425 "kubectl fails to apply strategic merge patch to custom resource"
### What happened?

[code]

### What did you expect to happen?

Success or a better error message or https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#patch telling me that this will not work.

### How can we reproduce it (as minimally and precisely as possible)?

Try a strategic merge patch on any custom resource.

### Anything else we need to know?

This is #97423 , which i

[2022-09-13 17:28] micahhausler commented on #112408
I agree that improvements in the Go project would greatly help here, but from my understanding that is at best a few K8s releases away. That leaves Kubernetes with supporting release branches for the next year or two with unsupported Go versions. What is the K8s community/distributors to do in the meantime besides backport patches?

[2022-09-13 17:28] MikeSpreitzer commented on #112425
@kubernetes/sig-api-machinery-bugs

[2022-09-13 17:42] aramase commented on #111963
/assign

[2022-09-13 17:59] lavalamp commented on #112425
SMP doesn't work on CRs and we don't plan to make it work there. The plan is to make SSA 100% complete.

[2022-09-13 18:00] MikeSpreitzer commented on #112425
My point here is about error message and documentation.

[2022-09-13 18:00] lavalamp commented on #112425
100% agree about that.

[2022-09-13 18:13] ViliusS commented on #108097
/remove-lifecycle rotten

[2022-09-13 18:13] ViliusS commented on #108097
/remove-lifecycle stale

[2022-09-13 18:17] indrora commented on #112408
@liggitt Since Go officially supports release Current and Current-1 (e.g. go1.19 and go1.18), would it make sense for the K8s team to continuously support Current-1 as their "Target" with the next release having some focus on Current go.

Given that Kubernetes is likely the largest user of Go (modulo the various services that get run on top of it like Traefik, Caddy, coredns, etc.) would it also m

[2022-09-13 18:25] sturfee-petrl commented on #52757
I can confirm that it's possible to share one GPU among multiple containers.
I used AWS g4dn.xlarge with Nvidia **T4**. With **timeSlicing** I could to share gpu among 2 GPU containers.

It's also pretty easy to do. Follow **Oversubscribing example** part from [improving-gpu-utilization-in-kubernetes](https://developer.nvidia.com/blog/improving-gpu-utilization-in-kubernetes/).
🎉🎉🎉
🎉🎉🎉
🎉🎉🎉
🎉🎉🎉
🎉🎉🎉

[2022-09-13 19:26] enj commented on #112418
This does not appear to be an issue in Kuberentes.

Please try asking on the support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-09-13 19:28] enj opened #112426 "[KMSv2] validate encryption response"
For example, the annotation keys should match label key validation.  Total size of annotation values should also be limited.

cc @aramase @nilekhc

[2022-09-13 19:28] enj commented on #112426
/sig auth
/triage accepted

[2022-09-13 20:10] kolyshkin commented on #112124
Ah, OK, this might be related to runc, since the error comes from runc code. Having said that, I am not aware of any bugs in runc 1.1.4 that can result in this error.

Now, what runc does is it sends the `StopUnit` command to systemd (this is the same thing that happens when you issue `systemctl stop $UNIT`) and waits for up to 30 seconds for systemd to respond. Generally, 30s it is enough for sys

[2022-09-13 20:15] leilajal commented on #112425
/triage accepted

[2022-09-13 20:15] leilajal commented on #112425
/cc @apelisse

[2022-09-13 20:16] leilajal commented on #112326
/cc @DangerOnTheRanger @liggitt
/triage accepted

[2022-09-13 21:31] Huang-Wei commented on #112273
What's the real-world case that a pod is of low-priority while also an orphan Pod?

On the other hand, Pod preemption and Kubelet/kernel eviction treat orphan/regular Pods consistently. So why Pod preemption needs to be unique to take orphan pod into consideration? Or put it another way: why we should sacrifice a high-priority Pod's schedulability for the low-priority orphan Pods? If this feature

[2022-09-13 22:23] ncdc opened #112428 "apiextensions: SchemaHas performs excessive allocations"
In https://github.com/kubernetes/kubernetes/blob/084a412e03816ef3ea57da928ae8fd332d17ab59/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go#L1366

it has multiple `for` loops that look similar to this:

[code]

where `s.AllOf` is of type `[]JSONSchemaProps`. By using this range format, it creates a shallow copy of each element in the slice. We can eliminate

[2022-09-13 22:23] ncdc commented on #112428
/cc @sttts @stevekuznetsov @smarterclayton

[2022-09-13 22:30] smarterclayton commented on #112428
Seems reasonable, jordan and I attacked a number of these a while back on different critical paths, and there was substantial low hanging fruit elsewhere that just wasn’t top of priority.  Will be happy to review.

[2022-09-13 22:38] Slyke commented on #112411
I had been investigating why Kubernetes wasn't working correctly, continually installing and uninstalling it over several days with my Ansible playbook, experimenting with different configurations, manual cert generations for etcd and so on. The high count is probably from that, for all of them. I can reproduce this on a Fresh install of Ubuntu.

From what I can tell, just running
[code]

On versi

[2022-09-13 22:45] #112343 closed

[2022-09-14 00:04] apelisse commented on #112425
I think the server returning the UnknownMediaType 415 is correct, I find it very surprising that we don't include the incorrect media type in the error, so I would suggest we replace the body of the error from:
[code]
to ...
[code]

[2022-09-14 00:06] apelisse commented on #112425
I guess from kubectl's perspective, we could also do multiple things:
1. Detect that the patch type isn't supported (by looking at the openapi, but that sounds a little expensive just for that)
2. Detect that the returned error is UnsupportedMediaType and fail with an entirely different error:
[code]

[2022-09-14 00:23] feiskyer commented on #112313
We made that change because the LoadBalancers (including both the External LB and Internal LB) are fully managed by cloud provider. Refer the documents on https://cloud-provider-azure.sigs.k8s.io/topics/cross-resource-group-nodes/, "unmanaged nodes will not be part of the load balancer managed by cloud provider".

If putting those nodes into cloud provider managed LBs is required, is it possible m

[2022-09-14 00:24] Riaankl opened #112429 "Write List, Patch and Delete LimitRange test +3 Endpoints"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow: [CoreV1LimitRangeTest.org](https://github.com/apisnoop/ticket-writing/blob/master/CoreV1LimitRangeTest.org)
-   [X] Test approval issue: [#112429](https://github.com/kubernetes/kubernetes/issues/112429)
-   [X] Test PR: [#112430](https://github.com/kubernetes/kubernetes/pull/112430)
-   [x] Two weeks soak start date: [testgrid-link](https:/

[2022-09-14 00:26] Riaankl commented on #112429
/triage accepted

[2022-09-14 00:49] dims commented on #112431
/area code-organization

[2022-09-14 01:14] 916264367 opened #112434 "How does the node send data to the master node?"
I have a bunch of images on the node. I want to upload them to the master node. In fact, there are many ways to upload, but what I want to know is, is there a tool inside Kubernetes that can upload pictures?

[2022-09-14 01:41] bspa10 commented on #73140
Same issue for me on AWS EKS with 1.23

[2022-09-14 01:42] yanhongchang commented on #112092
@pacoxu Hi Pacoxu，I need you help, Is there any problem with my pr #112275, why Why did the reviewers do not reply? or am I missing any step for my pr？ thanks！

[2022-09-14 01:46] pacoxu commented on #112092
/triage accepted

[2022-09-14 01:58] pacoxu commented on #112057
https://github.com/kubernetes/website/issues/36706 is opened to track improving the document.
/close

[2022-09-14 01:58] #112057 closed

[2022-09-14 02:34] tkashem commented on #107727
I believe https://github.com/kubernetes/kubernetes/pull/111395 has resolved the panic issue, I was able to verify
with https://github.com/kubernetes/kubernetes/pull/110173 which changes the priority & fairness controller
to do server side apply.

Before https://github.com/kubernetes/kubernetes/pull/111395 merged, I analyzed the integration log:

Integration test log file from an unrelated pr does

[2022-09-14 02:54] YuxiJin-tobeyjin commented on #52757
Hi, could you please provide more information about **timeSlicing**. From this file <https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/gpu-sharing.html> can only see that this share has no weight, unlike cpu.shares of cpu in cgroups. I think it's a bit like https://github.com/kubernetes/kubernetes/issues/52757#issuecomment-402772200, regardless of weight.
Thanks.

[2022-09-14 05:11] #106484 closed

[2022-09-14 06:04] ardaguclu commented on #112409
/transfer kubectl

[2022-09-14 06:33] kerthcet commented on #108788
/remove-lifecycle stale

[2022-09-14 06:49] Azleal commented on #60140
thanks @vhscom this solution solved my problem

[2022-09-14 06:57] ardaguclu commented on #112425
I agree that first option might be expensive for that and second option seems viable?

[2022-09-14 07:08] BenTheElder commented on #112317
/sig release

This would be a breaking change, and the repo clone itself is around 1GB, 1.6GB is a relatively small part of a full build unfortunately (besides binaries, we also need to build the docker images, release tarballs, etc.)

[2022-09-14 07:09] BenTheElder commented on #112345
/transfer dns

[2022-09-14 07:29] chenlein opened #112441 ""Connection reset by peer" appears when accessing services, but normal when accessing pod"
### What happened?

I have a pod that serves file downloads and is using curl for testing. When testing through the cluster IP, "Connection Reset by Peer" always appears in a few minutes, and the download rate is quickly reduced to 0. However, everything is ok when using pod ip.
The above operations are all performed on the nodes where pod is located. And this situation only appears on a specific

[2022-09-14 07:32] chenlein commented on #112441
/sig network

[2022-09-14 08:40] Mattie112 commented on #48180
/remove-lifecycle rotten

[2022-09-14 08:44] Rajalakshmi-Girish opened #112442 "Flake: periodic-kubernetes-containerd-conformance-test-ppc64le, e2e conformance test in /e2e/network/service.go related to session affinity"
### Which jobs are flaking?

https://prow.k8s.io/job-history/gs/ppc64le-kubernetes/logs/periodic-kubernetes-containerd-conformance-test-ppc64le

### Which tests are flaking?

- [sig-network] Services should be able to switch session affinity for NodePort service [LinuxOnly] [Conformance]
- [sig-network] Services should have session affinity timeout work for NodePort service [LinuxOnly] [Conformanc

[2022-09-14 08:47] Rajalakshmi-Girish commented on #112442
@iXinqi any idea on this failure?
I ask you as you seem to have submitted a test case to the same file recently.

[2022-09-14 08:48] deitch commented on #48180
I cannot believe it has been >5 years since I opened this. If this isn't too hard, I am more than happy to open a PR for it, but have received no indications from maintainers that they are in favour of it, or where to get started.

[2022-09-14 09:15] fromanirh commented on #112395
TL;DR: if the broken plugins were doing legitimate things (-> were not themselves buggy) we should fix the kube side, even if the new process really seems better.

My initial though is this is the right change done the wrong way. The new registration process should be enabled - for all the good reason @klueska listed - but we should have better docs and a transition process (e.g. deprecating the o

[2022-09-14 09:26] danielcb commented on #112124
Definitely helpful, thanks! Now I need to figure out whats causing the memory consumption and hanging system.

[2022-09-14 09:31] yuan6711043 commented on #83471
same issue on k8s 1.19.4, solved by restart kubelet. No useful logs avaliable

[2022-09-14 09:33] rkojedzinszky opened #112443 "GracefulNodeShutdown not evacuating all pods"
### What happened?

Node is being shutdown, then according to logs all pods are being terminated, howewer, some remain scheduled/running on the node.

### What did you expect to happen?

Expected that all pods being evacuated/rescheduled to another running node.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

After it, ensure that all pods are scheduled to a specifi

[2022-09-14 10:13] wojtek-t commented on #112152
Catching up on that - just some quick thoughts:

1) I agree with Daniel that if we treat this issue as a generic one (as it was filed) we don't have good enough understanding of urgency (I'm not aware of any significant complaints about it from GKE side as an example) and we didn't explore the problem well enough to agree on something larger.

2) That said, for some individual errors, I can defini

[2022-09-14 10:28] b0b0haha commented on #74741
It seems in cronjob controller v2, it didn't list the pods that related to the job that is going to be deleted, instead it set PropagationPolicy as metav1.DeletePropagationBackground and call the Delete client-go API directly.
![image](https://user-images.githubusercontent.com/28356082/190130249-2e7bd471-12f4-4dc5-acb7-92e1a4c01f41.png)
![image](https://user-images.githubusercontent.com/28356082/1

[2022-09-14 11:23] wojtek-t commented on #107727
Great! (This also proves why eliminating gazilion different things of initializing stuff in favor of one makes sense).
@liggitt - FYI ^^

@tkashem - let's merge the PR then - I just added one question there, so let's wait for Jordan to respond it.

[2022-09-14 11:30] rkojedzinszky commented on #112443
/sig node

[2022-09-14 11:48] sftim commented on #91507
/retitle CVE-2020-10749: IPv4 only clusters susceptible to MitM attacks via IPv6 rogue router advertisements

[2022-09-14 11:48] sftim commented on #91507
Title change is in aid of https://github.com/kubernetes/sig-security/issues/1

[2022-09-14 12:06] zroubalik commented on #109496
/remove-lifecycle rotten

[2022-09-14 12:40] mythi commented on #112395
/cc @bart0sh

[2022-09-14 12:42] imuxin commented on #112224
@astraw99, I wrote a plugin for kubectl, [kubectl-watch](https://github.com/imuxin/kubectl-watch), wish that can help you.

[2022-09-14 12:45] enj commented on #112408
cc @kubernetes/security-response-committee

[2022-09-14 13:37] lorenz commented on #98473
/remove-lifecycle stale

[2022-09-14 15:39] FabianKramm commented on #65551
A currently working workaround/alternative for this problem can be [virtual clusters](https://kubernetes.io/docs/concepts/security/multi-tenancy/#virtual-control-plane-per-tenant) that essentially deploy a mini control plane inside another cluster and reuse the computing and networking of the "host" cluster to emulate a separate cluster. Within the virtual cluster you can then install your own cus

[2022-09-14 16:02] mariusz-okulanis-dd opened #112452 "Deployment fails to spawn new replicas after getting updated if one of nodes is `NotReady` (Multi-node setup)"
### What happened?

In a multi-node setup, when one of nodes fails (has `NotReady` status) deployment (with 1 replica) will recreate pod on healthy node. If after that admin will try to modify this deployment (e.g. using `kubectl set env`) the healthy pod will get terminated and no new pod will be spawned. This happens only to deployments having `.spec.strategy.type==Recreate`.

### What did you e

[2022-09-14 16:55] aravindb26 opened #112453 "BUG: Found sensitive information in following file: "kubernetes/test/e2e/common/runtime.go""
### What happened?

Hi team, Hope all going good :)

I have found a bug that is very sensitive to following below found in the file: ```https://github.com/kubernetes/kubernetes/blob/74bc8a3211620397419f0e4ea996e862b070f9bb/test/e2e/common/runtime.go```

```"auth": "X2pzb25fa2V5OnsKICAidHlwZSI6ICJzZXJ2aWNlX2FjY291bnQiLAogICJwcm9qZWN0X2lkIjogImF1dGhlbnRpY2F0ZWQtaW1hZ2UtcHVsbGluZyIsCiAgInByaXZhdGVfa2

[2022-09-14 17:03] d3adb5 commented on #93282
I understand this argument, but I think running primary workloads as init containers is enough of a bad practice people who might wish to exploit this aren't likely to care about QoS in the first place.

Alternatively, how about making it so there are deadlines to the completion of init containers? That's a completely different feature request, but it should discourage running primary workloads as

[2022-09-14 17:19] #98102 closed

[2022-09-14 17:27] SergeyKanzhelev commented on #111762
/assign @pacoxu

(since there is a WIP PR for this)

/triage accepted
/priority important-soon

[2022-09-14 17:28] SergeyKanzhelev commented on #110955
/close

[2022-09-14 17:29] #110955 closed

[2022-09-14 17:37] SergeyKanzhelev commented on #112293
Can you please provide some step by step on this so we can confirm if this is a bug or misconfiguration.

@michelgokan is the issue is that the taint is not removed after pressure is gone or that config is not being applied?

[2022-09-14 17:37] SergeyKanzhelev commented on #112293
/triage needs-information

[2022-09-14 17:40] SergeyKanzhelev commented on #112300
what container runtime is being used? Is it the same in both cases?

Also do can you please attach kubelet and container runtime logs if available to see if there were some delay in tearing the sandbox down.

[2022-09-14 17:41] SergeyKanzhelev commented on #112300
/triage needs-information

[2022-09-14 17:42] SergeyKanzhelev commented on #111779
/close

looks like OS bug, not related to kubernetes

[2022-09-14 17:43] #111779 closed

[2022-09-14 17:44] SergeyKanzhelev commented on #112310
/assign @pacoxu

@pacoxu, looks like it's still unclear whether this is intended behavior?

/triage needs-information

[2022-09-14 17:46] SergeyKanzhelev commented on #112311
/remove-kind bug
/kind feature

I think it is more like a feature request. I remember there were discussions not to pass annotations at all to limit cases when there is too much dependency on specific annotations in code.

Let's discuss/document and make it a bug if it will be identified as such

/assign

[2022-09-14 17:47] amarsova opened #112456 "have no possibility to add data from the file"
### What would you like to be added?

I use configMap to implement the variable  into pods. Then I need to configured the value from the file into env value . How to make it ?
  - command:
    - SERVER_PROPERTIES="$(cat /etc/voldemort/config/server.properties)"
    env:
    - name: SERVER_PROPERTIES
      value: $(SERVER_PROPERTIES)

### Why is this needed?

there is a lot of  configuration , but

[2022-09-14 17:48] SergeyKanzhelev commented on #112323
/remove-sig node

[2022-09-14 17:51] SergeyKanzhelev commented on #112395
/triage accepted
/assign @fromanirh
/priority important-soon

[2022-09-14 17:52] SergeyKanzhelev commented on #112151
/triage accepted
/priority important-soon

[2022-09-14 17:52] SergeyKanzhelev commented on #112151
/assign @bobbypage

[2022-09-14 17:55] SergeyKanzhelev commented on #112209
/triage accepted

I think this is known behavior. Need to understand if this is a bug that can be fixed or a feature that needs changing.

@thriqon did you try to change throttling settings?

[2022-09-14 17:56] SergeyKanzhelev commented on #112228
/assign @fromanirh

/triage accepted

[2022-09-14 17:57] SergeyKanzhelev commented on #111777
/assign

[2022-09-14 17:58] SergeyKanzhelev commented on #111196
/assign @haircommander

[2022-09-14 18:00] SergeyKanzhelev commented on #111695
/remove-sig node

looks like this discussion is network related, please feel free to re-add node here

[2022-09-14 18:00] haircommander commented on #111196
We discussed this in sig node a couple of weeks ago (forgot to update) the consensus was this should be up to the runtime and that kube shouldn't set expectations on them. Any CRI implementation can add or remove the inheritable capabilities as they wish (or even add a configuration knob to do so). as such
/close

[2022-09-14 18:09] #111433 closed

[2022-09-14 18:33] josephburnett commented on #110172
I've ticked off Spec.Behavior tests which are covered by horizontal_pod_autoscaling_behavior.go.

[2022-09-14 18:34] SergeyKanzhelev commented on #112105
/triage needs-information

@saschagrunert @haircommander is there anything that needs changing in how kubelet retires CRI calls? If not we can close  the bug.

/cc @qiutongs FYI

[2022-09-14 18:35] SergeyKanzhelev commented on #112111
/remove-sig node

I'd let windows SIG to triage and narrow down the problem. Seems to be very windows specific

[2022-09-14 18:37] haircommander commented on #112105
no I don't think so. The kubelet is correctly retrying requests that are taking a long time. I would recommend you either set the container's SELInux label to `spc_t` or use the [io.kubernetes.cri-o.TrySkipVolumeSELinuxLabel](https://github.com/cri-o/cri-o/blob/main/pkg/annotations/annotations.go#L40) annotation. Please let me know if you'd like to try the latter, we don't currently have great doc

[2022-09-14 18:41] aojea commented on #112323
Previous discussion and interesting comment from @thockin
https://github.com/kubernetes/kubernetes/pull/91052#issuecomment-629557368

[2022-09-14 18:42] josephburnett commented on #110172
I've ticked off Spec.ScaleTargetRef and Spec.MinReplicas tests. @piotrnosek But it looks like there is a little cleanup to be done from the commit: https://github.com/kubernetes/kubernetes/pull/111865. There is some commented test code that didn't get removed. And some comments from @liggitt that should be addressed.

[2022-09-14 18:43] bobbypage commented on #112151
Hi there, can you please provide repro steps, we are not seeing this issue in any of the cgroupv2 CI jobs, e.g. https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-e2e

Additionally, the kubelet version here is quite old (1.22). Does this repro on e.g. 1.24 or 1.25?

[2022-09-14 18:55] DavidHaltinner commented on #112151
This seems that it may be related to other issues being tracked in k8s here https://github.com/kubernetes/kubernetes/issues/112124 as well as OpenShift https://github.com/okd-project/okd/issues/1310
The same messages appear, same CPU usage, as well as some other messages as referenced in these two issues (kubelet_getters.go:300] "Path does not exist" xxxxxxx).

I have 3 clusters on 1.24.0 with the

[2022-09-14 19:05] bobbypage commented on #112151
Hmm, have you seen https://github.com/kubernetes/kubernetes/issues/112124#issuecomment-1245903967, it seems related (systemd is overloaded and unable to stop the unit).

Also, is this issue cgroup v2 related? The OS mentioned above (Ubuntu 20.04.5 does enable cgroupv2 by default).

[2022-09-14 19:10] SergeyKanzhelev commented on #111965
/close

looks like it was addressed as a documentation issue

[2022-09-14 19:11] #111965 closed

[2022-09-14 19:14] michelgokan commented on #112293
I have not tested the setting @pacoxu provided, but the problem I reported was that the config had no effect as disk pressure label were not being removed from the node. I could remove pods without any problem.

[2022-09-14 19:16] SergeyKanzhelev commented on #112009
Do you know what runtime is being used? I *think* digital ocean is running containerd, but not sure. @margach can you please confirm?

Steps to reproduce are very vague. Have you tried asking Digital Ocean support for details? Can you attach `kubelet.log`?

There is a known issue with container creation being stuck: https://github.com/containerd/containerd/issues/7010, but may be many more, some o

[2022-09-14 19:24] aramase commented on #110782
/assign @aramase @r-erema

[2022-09-14 19:35] bobbypage commented on #111777
(This is likely due to https://github.com/google/cadvisor/issues/2785#issuecomment-1205538108)

[2022-09-14 19:45] yuanchen8911 commented on #93270
Hi @ahg-g @alculquicondor,  can we reopen this issue?  We discussed the proposed change and everyone agreed with it last year.  An implementation PR was filed by  @SataQiu , but it was incompleted and closed for some reason https://github.com/kubernetes/kubernetes/pull/97263.

We'd like to submit an PR for it.  A use case is to better support workload-specific scheduling with soft `InterPodAffinit

[2022-09-14 19:48] piotrnosek commented on #110172
@josephburnett - thanks for reaching out on this.

You can also tick off all Spec.Metrics tests - they are covered by https://github.com/kubernetes/kubernetes/pull/112252 and https://github.com/kubernetes/kubernetes/pull/112444.

[2022-09-14 19:52] bobbypage commented on #111876
related slack thread: https://kubernetes.slack.com/archives/C0BP8PW9G/p1663050046204719

[2022-09-14 19:53] piotrnosek commented on #110172
Regarding commented test code and comments from @liggit - the comments were addressed as a part of  https://github.com/kubernetes/kubernetes/pull/112444 (and also https://github.com/kubernetes/test-infra/pull/27382 which enables feature gates by passing env variables).

And commented test code - I think you are reffering to the part of the test which is commented for being run on staging clusters

[2022-09-14 19:55] alculquicondor commented on #93270
/reopen

It looks like it was closed by the author because they couldn't continue working on it. I think the agreement was to remove the original percentageOfNodesToScore, but we can no longer do that because the configuration API is a now stable.

In any case, we can still add the new field, but we need to document properly what happens when the field outside of the profile is also set.

[2022-09-14 20:07] lyveng commented on #110630
We've seen this issue with the high log size limits as well

- container-log-max-files: 3
- container-log-max-size: 1Gi

When this was happening, we noticed that the compression was taking a long time and since the rate of logging from containers were very high(~40M/s), their log file had gone beyound the limit of 1G to 60G. This seems to have slowly grown over successive log rotation cycles, alth

[2022-09-14 20:07] eduardobr commented on #112300
@SergeyKanzhelev
Container runtime version for both: `containerd://1.5.13`

See logs here:
[logs.zip](https://github.com/kubernetes/kubernetes/files/9569545/logs.zip)
This is an execution I did today with 1.23.10.

You will see 3 deletions of the pod (done just with `kubectl delete pod myredis-master-0`)

First 2 deletions didn't cause trouble terminating pod, the 3rd deletion caused.

Let me know

[2022-09-14 20:07] #56138 closed

[2022-09-14 20:33] mmiranda96 opened #112459 "Testgrid sig-node-cadvisor#cadvisor-e2e is consistently failing"
### Which jobs are failing?

- Job name: ci-cadvisor-e2e
- Job config link: https://github.com/kubernetes/test-infra/blob/master/config/jobs/cadvisor/cadvisor.yaml#L52

### Which tests are failing?

Whole job is failing.

### Since when has it been failing?

2022-09-07 16:56 PST

### Testgrid link

https://testgrid.k8s.io/sig-node-cadvisor#cadvisor-e2e

### Reason for failure (if possible)

_No re

[2022-09-14 20:38] phsiao commented on #112323
Just want to clarify that these two are not related --- the change does not follow the design.

[2022-09-14 21:08] aojea opened #112460 "[Failing Test][IPVS] LoadBalancers should only allow access from service loadbalancer source ranges"
### Which jobs are failing?

https://testgrid.k8s.io/sig-network-gce#gci-gce-ipvs

### Which tests are failing?

Kubernetes e2e suite.[It] [sig-network] LoadBalancers should only allow access from service loadbalancer source ranges [Slow]

### Since when has it been failing?

Sept 1st

### Testgrid link

https://testgrid.k8s.io/sig-network-gce#gci-gce-ipvs

### Reason for failure (if possible)

Th

[2022-09-14 21:23] margach commented on #112009
@SergeyKanzhelev The System run time:
[code]
and this is from ```kubectl describe```:
[code]

Now, to update the problem description, this normally happens when I run ```helm upgrade``` to upgrade pods with new configs or new container images. Actually this causes the old pod not to be replaced with the new pod as the new pod gets stuck in ```creatingContainer``` state.

STEPs:
- Create a helm cha

[2022-09-14 21:34] aojea commented on #112442
can it be an underresourced environment?
we've seen in the other bug that etcd didn't boot on time, seems this environment is super slow

[2022-09-14 21:37] aramase commented on #112426
/assign

[2022-09-14 22:34] mogul commented on #65551
Thanks for mentioning that! I'm kind of agog that it has not been mentioned previously. Going to take a look at loft.sh's implementation now.

[2022-09-14 22:39] #112428 closed

[2022-09-14 22:49] aojea commented on #112441
mode: ipvs

/area ipvs

[2022-09-14 22:51] qiutongs commented on #96614
So far, I believe the correct logic is:

[code]

The tricky part might be how to determine if a pod is created after kubelet starts.

I will find time(likely 2 weeks later) to implement it with real code, as matthyx@ suggested. In the meanwhile, please correct my pseudocode if you see problems.

[2022-09-14 22:54] SergeyKanzhelev commented on #111777
Public docs update is tracked here: https://github.com/kubernetes/website/issues/30681 I will close this in favor of that documentation task as unfortunately this is a known limitation and the workaround is to use cadvisor.

/close

[2022-09-14 22:54] #111777 closed

[2022-09-14 22:54] SergeyKanzhelev commented on #111077
Public docs update is tracked here: https://github.com/kubernetes/website/issues/30681 I will close this in favor of that documentation task as unfortunately this is a known limitation and the workaround is to use cadvisor.

/close

[2022-09-14 22:54] #111077 closed

[2022-09-14 23:27] Sandeepisebauz opened #112462 "DNS lookup issue Kubernetes API: io.kubernetes.client.openapi.ApiException: java.net.ConnectException: Failed to connect to /10.96.0.1:443"
### What happened?

We have been noticing the below issue where the application pod deployed on the Kubernetes cluster, fails to make a connection to external DB.
Kubernetes API: io.kubernetes.client.openapi.ApiException: java.net.ConnectException: Failed to connect to /10.96.0.1:443
io.kubernetes.client.openapi.ApiException: java.net.ConnectException: Failed to connect to /10.96.0.1:443
        a

[2022-09-14 23:37] simonspg commented on #48180
It seems this functionality has been implemented, for better or worse, by third-party policy managers like Kyverno.

From: Avi Deitcher ***@***.***>
Sent: Wednesday, September 14, 2022 01:49
To: kubernetes/kubernetes ***@***.***>
Cc: Paul Simons ***@***.***>; Comment ***@***.***>
Subject: Re: [kubernetes/kubernetes] Create custom cluster wide environment variables inject into every container (#481

[2022-09-14 23:59] SergeyKanzhelev commented on #96614
what is the `jitter` value in this pseudocode?

Can you explain what it means? Pod is created while kubelet was still running as oppose to worker is being initialized after kubelet has restarted?

I think the good first step in improving this logic is to analyze the test coverage for it - which scenarios are covered and which needs to be added to ensure the consistency of docs and probes. For exam

[2022-09-15 00:03] dims commented on #112459
cc @bobbypage

[2022-09-15 00:04] dims commented on #112459
Same with presubmit https://testgrid.k8s.io/presubmits-misc#cadvisor as well.

[2022-09-15 00:28] YuikoTakada commented on #112310
/assign @Kartik494

[2022-09-15 00:46] qiutongs commented on #96614
Same as the current value in
https://github.com/kubernetes/kubernetes/blob/v1.21.0/pkg/kubelet/prober/worker.go#L138. This is the jitter I meant. The purpose of this jitter is to avoid thundering herd problem when kubelet restarts.

No. Sorry for the confusion.
I mean comparing `PodStatus.startTime` and the timestamp that Kubelet starts. Then, for this pod, we can know it is (1) Kubelet restart or

[2022-09-15 01:14] chenlein commented on #74839
@anfernee  #112441 is this a similar issue for ipvs?

[2022-09-15 01:37] MatthewFagan commented on #112151
Yes, we are running cgroups v2. We enabled it in the kernel. We are running on Amazon EKS. The highest k8s version they support is 1.23, and that was only released 4 weeks ago. That is why we are on 1.22. It is not possible to test this config on 1.24 or 1.25. I think it could be an issue with runc and cgroups v2, but am not sure. I do not see how systemd overload could be the problem. We are not

[2022-09-15 02:12] pacoxu commented on #112310
Can we raise this to the sig-node weekly meeting to see sig-node owners' comments now?
As this is already a common behavior, I prefer to add ephemeral-storage to the valid list like cpu/memory. It would be more consistent.

[2022-09-15 02:17] dims commented on #112151
@MatthewFagan i would be good to escalate this to the EKS team then?

[2022-09-15 02:56] pacoxu commented on #112323
Just have the book on my desktop. 😄
![image](https://user-images.githubusercontent.com/2010320/190302910-ba88c003-a23b-4da8-aa05-525581510aff.png)

[2022-09-15 03:08] akhilerm commented on #110955
@SergeyKanzhelev The test is now green because the change (alpha to beta of featuregate) was reverted. Shouldnt we be looking at the actual reason why it fails if the feature is enabled by default, rather than reverting it?

[2022-09-15 03:36] Kartik494 commented on #112310
https://github.com/kubernetes/kubernetes/blob/51ea7b21699ffc8857a7da9f2b1b4f293bf70a69/pkg/quota/v1/evaluator/core/pods.go#L85-L96

Hi @pacoxu this is already discussed in sig node meeting recently , please see the output of the discussion [here](https://github.com/kubernetes/kubernetes/issues/110956#issuecomment-1212209388) , i also think to add validation for ephemeral-storage like we have for C

[2022-09-15 03:41] pacoxu commented on #112462
/kind support
If you can connect to 10.96.0.1:443 from the pod, it would be something wrong with the client code.
(If not, check kube-proxy on the node following https://kubernetes.io/docs/tasks/debug/debug-application/debug-service/.)

[2022-09-15 03:48] pacoxu commented on #112310
Got it.

Limit range can work.
Probably, we should remove cpu/memory from the valid set as a bug, as this is a discussion result.

[2022-09-15 03:50] pacoxu commented on #112310
/close
dup with #110956

[2022-09-15 03:50] #112310 closed

[2022-09-15 03:57] pacoxu commented on #110956
[code]
Here is a demo to use. Then new pod created in the namespace will be applied with the default limit/request resources.

[2022-09-15 03:57] mythi commented on #112395
FWIW, the sequence is [documented](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#device-plugin-implementation) and it says the plugin starts a gRPC service and then register itself.

[2022-09-15 04:01] pacoxu commented on #112456
/kind support
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#define-container-environment-variables-using-configmap-data

[2022-09-15 04:55] thediveo commented on #77142
/remove-lifecycle stale

[2022-09-15 04:58] uablrek commented on #112460
I agree that https://github.com/kubernetes/kubernetes/pull/108460 is a prime suspect. I can't run "ESIPP" (is there a way?) tests locally, but I will try to run the second test and test ` loadBalancerSourceRanges` manually.
[code]

[2022-09-15 05:12] pacoxu commented on #112453
/sig testing
/cc @mgdevstack

[2022-09-15 05:26] pacoxu commented on #112452
/sig apps

[2022-09-15 05:28] pacoxu commented on #112434
/kind support
You should use image registry https://github.com/distribution/distribution/ or https://github.com/vmware/harbor to mange images. pictures??

[2022-09-15 05:32] pacoxu commented on #112434
/close

[2022-09-15 05:32] #112434 closed

[2022-09-15 05:33] pacoxu commented on #112443
/cc @wzshiming

[2022-09-15 05:36] uablrek commented on #112460
Reproduced and found. The `KUBE-IPVS-FILTER` was added;
[code]
The "ACCEPT" should be replaced with "RETURN".

[2022-09-15 05:49] pacoxu commented on #112456
/remove-kind support

[2022-09-15 05:57] itshabis1 opened #112464 "kubeadm config images pull failed on Ubuntu 20.04"
Dear
When I try to pull the image with command "sudo kubeadm config images pull"
I got following error. Can anybody help me in it. Also I am new in Kubernetes. So guide me step by step :)

I0915 10:09:10.441007   70082 version.go:182] fetching Kubernetes version from URL: https://dl.k8s.io/release/stable-1.20.txt
exit status 1
output: E0915 10:09:11.295012   70114 remote_image.go:238] "PullImage f

[2022-09-15 06:20] wzshiming commented on #112443
It May be repeated with #107043 #111779

Have a known BUG in upstream Systemd, recommend to upgrade Systemd or use a new Linux distribution

[2022-09-15 06:21] TBBle commented on #54482
I don't believe this will be changed in the in-tree AWS Cloud Provider, as it is legacy code and is scheduled to be removed.

The state of the external cloud provider's behaviour with `--hostname-override` is described at https://cloud-provider-aws.sigs.k8s.io/prerequisites/, per https://github.com/kubernetes/cloud-provider-aws/issues/63#issuecomment-1158503820.

[2022-09-15 06:22] TBBle commented on #52241
I don't believe this will be changed in the in-tree AWS Cloud Provider, as it is legacy code and is scheduled to be removed.

The state of the external cloud provider's behaviour with `--hostname-override` is described at https://cloud-provider-aws.sigs.k8s.io/prerequisites/, per https://github.com/kubernetes/cloud-provider-aws/issues/63#issuecomment-1158503820.

[2022-09-15 06:27] kerthcet opened #112465 "Unit tests failed with `TestWhoAmIRun`"
### Which jobs are flaking?

Unit tests failed with `TestWhoAmIRun`, see https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112025/pull-kubernetes-unit/1570285754330910720

### Which tests are flaking?

TestWhoAmIRun/success_test

### Since when has it been flaking?

None

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit

### Reason for failur

[2022-09-15 06:29] kerthcet commented on #112465
/sig cli

[2022-09-15 06:30] chenlein commented on #112441
I found the crux: the service is created by an operator, and the operator's reconcile loop is constantly patching the service, even if the service has not changed. This causes the resourceVersion field of this service to keep changing. When I close the operator, everything is ok.
I'm not sure if any changes to the service will break the connection via ipvs, but, in my opinion, it should only affec

[2022-09-15 06:30] #112441 closed

[2022-09-15 06:32] haosdent commented on #112323
@phsiao @pacoxu @thockin I think the book just said could write it as `options option_a option_b`, but didn't mention
[code]
is invalid. And since glibc/golang DNS resolve is able to recognize it correctly, should we consider it as a de-facto way that we should support?

[2022-09-15 06:38] aojea commented on #112441
that should be the expected behavior

https://github.com/kubernetes/kubernetes/blob/657776e52ba527d8ff04187be4e8743e62909c07/pkg/proxy/service.go#L314-L328

are you sure that is the only change? maybe adding endpoints too? what is the patch doing?

[2022-09-15 06:40] aojea commented on #112323
what about muslc, does it support it?
we have to support muslc too, a lot of busybox/alpine users can break

[2022-09-15 06:48] aojea commented on #77142
is this still present in current stable versions?
https://github.com/kubernetes/kubernetes/issues/105105#issuecomment-922365380
can you reproduce it in current HEAD?

[2022-09-15 06:48] kerthcet commented on #112465
I think it was caused by https://github.com/kubernetes/kubernetes/pull/111333

[2022-09-15 07:01] saschagrunert commented on #112105
I agree this is not kubelet related.

[2022-09-15 07:01] #112105 closed

[2022-09-15 07:05] anfernee commented on #74839
The error is a very general networking issue, which could be caused by many different reasons. This specific cause can be reproduced by the https://github.com/anfernee/k8s-issue-74839

It looks like you got an answer already there :)

[2022-09-15 07:08] quoc9x opened #112467 "NetworkPolicy block access nginx-ingress-controller"
### What happened?

Hi there,
I want to use networkpolicy to only allow pods in the same namespace to call each other and block all other namespaces. But this will also block nginx-ingress-controller and I can't access domain. I get error `504 Gateway Time-out`. Then, I created another networkpolicy to allow pods from ns ingress-nginx but still getting the same error.

### What did you expect to h