[2016-08-17 05:43] k8s-merge-robot opened #30741 "[k8s.io] [Feature:Example] [k8s.io] Secret should create a pod that reads a secret {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13951/

Failed: [k8s.io] [Feature:Example] [k8s.io] Secret should create a pod that reads a secret {Kubernetes e2e suite}

[code]

[2016-08-17 06:03] luxas commented on #30600
It should also be possible to choose build image per arch, ref: https://github.com/kubernetes/kubernetes/pull/30659#issuecomment-240075801

[2016-08-17 06:09] k82cn commented on #24314
@bgrant0607 , would you help to send the invitation ?
Yes, I'd like to work on this now, that's a good start for me to learn example & e2e test suite :).

[2016-08-17 06:24] rvrignaud commented on #29903
Hi @saad-ali and @jingxu97 ,

Thanks you for the support. I'll keep an eye on 1.3.6 release.
Sorry if I hijacked this thread if the issue is not the same.

[2016-08-17 06:28] bgrant0607 commented on #24314
@k82cn Already sent. Visit https://github.com/kubernetes to accept.

See https://github.com/blog/1868-inviting-people-to-your-organization

[2016-08-17 06:31] wojtek-t commented on #30275
Someone broke "serial" mode in running tests - my current suspicion is: https://github.com/kubernetes/kubernetes/pull/30424

[2016-08-17 06:32] wojtek-t commented on #27320
Someone broke serial mode of running tests - my current suspicion is https://github.com/kubernetes/kubernetes/pull/30424 by @fejta

[2016-08-17 06:37] k8s-merge-robot opened #30747 "[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13566/

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27115 #28070

[2016-08-17 06:52] k8s-merge-robot opened #30750 "[k8s.io] AppArmor [Feature:AppArmor] when running with AppArmor should enforce a permissive profile {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30744/node-pull-build-e2e-test/19331/

Failed: [k8s.io] AppArmor [Feature:AppArmor] when running with AppArmor should enforce a permissive profile {E2eNode Suite}

[code]

Happened on a presubmit run in #30744.

[2016-08-17 06:55] fishcried opened #30751 "install: "saltbase/salt/generate-cert/make-ca-cert.sh: No such file or directory" when deployed k8s cluster on ubuntu"
**Reproduce**
1. set the vars refer to [getting-started-guides](http://kubernetes.io/docs/getting-started-guide/ubuntu/)
2. run the cmd "KUBERNETES_PROVIDER=ubuntu ./kube-up.sh"

**Env**

k8s: v 1.3.4
os: ubuntu 14.04

**log**

[code]

**fix(manual)**

Add  `untar & cp` commands to  the `cluster/ubuntu/download-release.sh` script:

[code]

[2016-08-17 07:13] #29575 closed

[2016-08-17 07:20] mfanjie commented on #22572
just FYI.
An update for similar issue, I see the following error when I try to boot kubernetes e2e cluster on GCE, and the minion node can not be created.
[code]
I retried different ways like delete the entry project on gce, rebuilt the whole kubernetes, etc, it did not help, reran gcloud init(with default zone=us-west1-a)

And finally it was resolved by gcloud init and set us-central1-b as defaul

[2016-08-17 07:26] nhlfr commented on #30444
I'd suggest to make a check where the `go` command is installed and make a PREFIX assumption based on that. I see no reason why we should hardcode `/usr/local/golang`, there is probably no distro with package contents like that. If someone has Go installed in `/usr/local`, we should just detect that fact correctly.

[2016-08-17 07:28] nhlfr commented on #30427
I'm going to work on this.

[2016-08-17 07:39] johscheuer commented on #30370
After rebasing to the newest master everything works fine again.

[2016-08-17 07:39] #30370 closed

[2016-08-17 07:43] wojtek-t commented on #20504
@hongchaodeng - will you provide such transformer? [the length of the least should be configurable]

[2016-08-17 07:44] erictune commented on #30603
Cool demonstration that DCT is working, @nhlfr !

Closing since I think that answers the original question.

[2016-08-17 07:51] feiskyer commented on #30294
Hyperd doesn't support qcow2 images and has no plan to support it in the future.

Kubernetes doesn't support QCOW2 image format yet, and how the images are managed of this proposal?

[2016-08-17 07:54] feiskyer commented on #30294
And I think run traditional VMs (by qcow2 image) directly may not be the scope of kubernetes.

[2016-08-17 08:02] erictune commented on #30716
How far can you get using an init-container?

For example: init-container consumes data from a configmap, substitutes values, and writes the resulting complete config file to a a path in an EmptyDir.  The main container reads the config file generated by the init container.

[2016-08-17 08:03] colemickens opened #30752 "mkfs.ext4 is slow when run by kubelet"
Here's logs from `kubelet` formatting a 10GB HDD disk in Azure as ext4:

[code]

It took seven and a half minutes to complete `mkfs`.

Here's me doing it manually from the node:

[code]

And even from a container, somewhat emulating kubelet:

[code]

**Kubernetes version** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-r

[2016-08-17 08:03] colemickens commented on #30752
@rootfs: Can you confirm you were not seeing this behavior during your testing? I assume you were not running `kubelet` containerized?

[2016-08-17 08:04] erictune commented on #14913
SGTM.

[2016-08-17 08:04] #14913 closed

[2016-08-17 08:05] colemickens commented on #30752
Even if I `sudo docker exec -it [kubelet-container] /bin/bash` and execute the same command from there it executes in a matter of a few seconds.

[2016-08-17 08:07] foxish commented on #28688
@pwittrock Submitted a PR for this. Was automated link checking supposed to be a part of mungedocs?

[2016-08-17 08:09] feiskyer commented on #30463
Refer part 1 at #30753.

[2016-08-17 08:13] chao007 commented on #28671
Thanks @saad-ali
Close this due to could not reproduce right now.

[2016-08-17 08:13] #28671 closed

[2016-08-17 08:16] mwielgus opened #30754 "Various failed builds of k8s.io/kubernetes/test/integration in PR builder"
Failed `k8s.io/kubernetes/test/integration/persistentvolumes build`. No extra information is available in logs.

[2016-08-17 08:16] erictune commented on #5164
Echoing what Clayton just said: writing controllers is hard, and watch can give a false sense that it is easy.  We should encourage first-time controller writers to just poll.  Most people immediately get that when you poll, you might miss a transition and you have to handle seeing the same thing several times.  I think with watch they think it is more like a message queue, which it isn't.

[2016-08-17 08:17] kayrus opened #30755 "feature request: dynamic labels for pods"
According to petset implementation, pods could be generated with dynamic names, etc. Does it worth to create extra labels for these pods according to some specific data? I.e.:

* configmap
* fieldRefs
* etc...

I already have a clue how to implement that, but would like to get some critics from dev community.

[2016-08-17 08:19] erictune commented on #5164
Also, I recently built a controller in bash that used kubectl and polling.  It was not hard.

I'd vote for closing this.

[2016-08-17 08:25] gmarek commented on #30747
This was caused by https://github.com/kubernetes/kubernetes/pull/30424#issuecomment-240324722

[2016-08-17 08:25] #30747 closed

[2016-08-17 08:26] resouer commented on #30294
I am worrying about including full-blown VM management in k8s is like re-inventing a OpenStack, especially when considering` docker swarm xxx` is making things simpler and simpler >_<

I can also see there are already mature projects like Magnum or nova-docker in OpenStack community to leverage managing containers along with VMs together, which seems make no difference with k8s+libvirt :/

[2016-08-17 08:35] #21578 closed

[2016-08-17 08:40] nhlfr commented on #30294
@feiskyer QCOW2 images can be managed by the custom runtime, which will implement `PullImage` and methods like that with appropriate libvirt calls to import an image to a storage pool. Of course you're right that's outside of scope of k8s, that's why I propose to abandon that issue and implement it as a custom client-server runtime.

@resouer nova-docker project is officially dead and abandoned, M

[2016-08-17 09:01] erictune commented on #30298
This is more auditable than current exec.
Maybe call the subresource something else, like `simpleexec`.
That would allow having an RBAC role that can do execs this new way, but cannot do streaming connections, which are more of a pain to stick into an audit log.

[2016-08-17 09:01] colemickens commented on #30752
I'm seeing this behavior even when running `kubelet` as a normal systemd unit, and not as a docker container under a unit. Here's `systemctl cat kubelet`: https://gist.githubusercontent.com/anonymous/d6ca2ef14ca9cc3f0a6c46f574e17542/raw/75ac2621c4f2cc1213d01030bf2ffe523a78ae57/-

And I'm still seeing the very slow `mkfs.ext4`, so it seems not related to running kubelet in container.

I have also t

[2016-08-17 09:17] erictune commented on #30260
I expect group memberships can be changed pretty quickly and propagate
quickly.
Our certs last a long time.
So putting a group membership in a cert, while convenient for the special
case of a kubelet, doesn't seem like a pattern to encourage elsewhere.  A
source of user to group membership mappings, which is independent of
authentication method, seems like it is what is needed.  And, of course,
th

[2016-08-17 09:19] gmarek commented on #30754
I have one PR (#30138) that failed twice on this - first time it was `k8s.io/kubernetes/test/integration/storageclasses` build that failed, second time it was `k8s.io/kubernetes/test/integration/kubectl`. This is PR builder flakyness.

[2016-08-17 09:29] erictune commented on #23585
With webhook, downstream does not have to touch this file either, IIUC.

[2016-08-17 09:31] erictune commented on #30170
Interesting.  Would like to understand how it fits into a broader workflow around configmaps.

[2016-08-17 09:32] vefimova commented on #30294
In terms of new client/server model all runtimes implementations except docker must be done outside core k8s repo (probably, contrib, not sure?). But we still need to determine at first high-level design and APIs to be sure that we're fine with currently approved client/server generic APIs and we don't need to request for changes.

[2016-08-17 09:36] wojtek-t opened #30759 "GarbageCollector broke kubemark-scale"
After enabling GarbageCollector in Kubemark, kubemark-scale started failing pretty reliably (all runs failed). Looking into log it seems pretty much related to garbage-collector.

The example failure is here:
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-gce-scale/1344/consoleFull

I didn't have time to investigate deeper, but the timing of those failure matches timi

[2016-08-17 09:37] sttts commented on #26210
@MHBauer if it really helps (as it looks like) go ahead and create a cherry-pick v1.3.

[2016-08-17 09:37] wojtek-t commented on #30759
To clarify (this suite was also flaky before, but now it's reliably broken).

So we should first focus on debugging these errors:
[code]

Once they are fixed, I will continue debugging the other failures.

[2016-08-17 09:39] wojtek-t commented on #30754
In the last few days I've seen a number of failure from integration tests with
[code]

I think this may be related.

[2016-08-17 09:55] wojtek-t commented on #30759
Actually I think there are two main issues here:

1. Controller manager crashed (and in kubemark it's not restarted, because it's not running as pod)
[code]

2. GarbageCollector is generating high load, because it's using dynamicClient, which is using JSONs instead of protobufs, which are way slowed.

But 1. seem to be much migger issue now - controller manager is just crashing.

@kubernetes/sig-a

[2016-08-17 10:09] wojtek-t commented on #30759
There is one issue that I see in the code, but I personally I don't know why it can cause this particular fatal - basically in this line:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/delta_fifo.go#L511
we are calling queueActionLocked that assumes write lock to be held, but we only have ReadLock.

@timothysc @rrati @smarterclayton ^^

[2016-08-17 10:17] camilb commented on #10439
A good example: http://www.devoperandi.com/vault-in-kubernetes-take-2/

[2016-08-17 10:39] shouhong commented on #22469
Thanks! I tried as below and it works! Any source can access the selected pod's 8080 port.
ingress:
  - ports:
     - protocol: tcp
       port: 8080

But it seems there is a bug for multiple ports. Below specification does not work. My K8S version is 1.3.0.
ingress:
  - ports:
     - protocol: tcp
       port: 8080
     - protocol: http
       port: 80

[2016-08-17 10:40] k8s-merge-robot opened #30761 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15869/

Run so broken it didn't make JUnit output!

[2016-08-17 10:44] sttts commented on #30656
Legitimate use-case

[2016-08-17 11:20] gmarek opened #30762 "Document new NodeController eviction behavior"
We changed the logic behind evictions for #28832, we need to update our docs.

cc @fgrzadkowski @davidopp @wojtek-t

[2016-08-17 11:28] kayrus commented on #30755
Just to clarify. My goal is to make petsets to look like [systemd template](https://fedoramagazine.org/systemd-template-unit-files/) unit files. I.e.

When you spawn `petset@red`, petset will create petset-red pod.

At the moment petset can spawn petsets only by indexes, i.e. petset-0, petset-1, petset-2. What If you would like to remove only `petset-1`? You can not do this, becasue scheduler will

[2016-08-17 11:31] ekso8 commented on #30139
Hmmm... Cleared my etcd cluster and restart all masters and nodes... And errors in log changed too:

I0817 11:24:47.886747       1 round_trippers.go:324] Response Headers:
I0817 11:24:47.886751       1 round_trippers.go:327]     Date: Wed, 17 Aug 2016 11:24:47 GMT
I0817 11:24:49.225837       1 dns.go:299] could not find service for endpoint "kube-scheduler" in namespace "kube-system"
I0817 11:24:4

[2016-08-17 11:45] devurandom commented on #22469
Are you sure `http` is a valid protocol?

[2016-08-17 11:49] luolong opened #30763 "Add support for fish shell autocompletion"
**FEATURE REQUEST**:

[Fish shell](https://fishshell.com) is a relatively new modern interactive user friendly command line shell. It really shines at user friendly features like visual tab completion menus, live syntax highlighting and other useful features.

`kubectl` has a massive set of sub-commands and options. Remembering all those is a chore. Specially when getting to know Kubernetes. All t

[2016-08-17 12:11] #22986 closed

[2016-08-17 12:12] laboger commented on #25886
Hi, I'm sorry I missed your last question to me.  Here is the CL for my patch for the PPC64 relocations truncation error.  https://go-review.googlesource.com/#/c/23963/
The error with kubemark is also size related but somewhat different because that one is being built as static.  Just curious, why are some built static and some non-static?

[2016-08-17 12:15] dgoodwin commented on #30515
Going to try to take a look at fixing this.

Does it sound ok to do the following:
- if --kubeconfig specified:
  - if it doesn't yet exist wait for it
  - error out if --api-servers was also defined
  - change assumption for standalone behavior to: if len api-servers == 0 *and* --kubeconfig not specified

[2016-08-17 12:16] rcoup commented on #13488
from (kinda-related #9043): a one-liner of @paunin's approach, where `RESTART_` is the environment variable:
[code]

(note for some reason environment variables starting with `_` just seem to disappear, and numeric env `value`s cause errors, they need to be strings)

[2016-08-17 12:22] mksalawa commented on #11382
@smarterclayton good point. It is pretty straightforward for nodes, but do you see it also in case of pods? It can be tricky, as we have limits and requests for each container and actually none of them is obligatory to be set.

[2016-08-17 12:28] lukemarsden commented on #30515
@dgoodwin please note that there is already code which aims to fix this at https://github.com/kubernetes/kubernetes/pull/30616 – it might be better if you could review that code rather than writing new code?

[2016-08-17 12:29] lukemarsden commented on #30515
Or maybe you can explain how the proposal you just made is better than #30616? Thanks!

[2016-08-17 12:30] dgoodwin commented on #30515
My mistake, thought we needed a fix here. Looking now.

[2016-08-17 12:35] stp-ip opened #30766 "Using volume name "source" on 2+ containers leads to a "not found" error"
**What keywords did you search in Kubernetes issues before filing this one?**:
- duplicate volumes
- volumes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
- BUG REPORT

-->

**Kubernetes version** (use `kubectl version`):
Server: v1.3.4
Client: v1.3.0

**Environment**:
- **Cloud provider or hardware configuration**:
- GKE
- **OS** (e.g. from /etc/os-release):
- GKE container-vm

[2016-08-17 12:52] RickyCook commented on #20625
it seems to me as though the pods are being put in the correct namespace, but the service isn't:
[code]

[2016-08-17 13:20] MikeSpreitzer commented on #22469
@devurandom found it.  `http` is *NOT* a valid protocol.

[2016-08-17 13:46] ncdc commented on #30645
cc @kubernetes/kubectl @kubernetes/rh-ux

[2016-08-17 13:53] liggitt commented on #30645
Picking the subset of supported volume options to plumb through the run generators is going to be tough

[2016-08-17 13:57] ncdc commented on #30645
Agreed. See https://bugzilla.redhat.com/show_bug.cgi?id=1367200#c7

[2016-08-17 14:02] asonawalla commented on #28977
@dstynchula after authenticating, we sent a DELETE to `/apis/batch/v1/namespaces/{namespace}/jobs/{job-name}` for each of the jobs that had missing active pods.

[2016-08-17 14:09] rootfs commented on #30710
@dchen1107  @yujuhong  yes, docker pull worked for that image and I compared container id, it matches the sha in the kubelet log.
The new fix is not in my tree yet. I'll check it out. Thank you for helping.

[2016-08-17 14:17] jpoon opened #30769 "Mounting AFS volume fails on CoreOS"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.4+dd6b458", GitCommit:"dd6b458ef8dbf24aff55795baa68f83383c9b3a9", GitTreeState:"not a git tree", BuildDate:"2016-08-04T09:44:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.4", GitCommit:"dd6b458ef

[2016-08-17 14:19] jbhurat commented on #30278
Did some initial investigation on the different modules present in Windows to support kube-proxy like functionality and below are the finding,

- kube-proxy extensively uses **nat** and **filter** tables along with Chains to provide the functionality, there is no equivalent on Windows
- Investigated netsh, Network Security powershell commands and Windows Filtering Platform (WFP)
-  netsh is deprec

[2016-08-17 14:19] Trane9991 commented on #12767
Any updates? Currently, CentOS extras repo contain Kubernetes 1.2.0. But it would be nice to have latest stable packages(1.3.4)

[2016-08-17 14:22] gellis01 commented on #29587
It is possible, but unless your VPC is set up the right way, the deployment might fail. You can set the `VPC_ID` parameter, [see here for more info](https://github.com/kubernetes/kubernetes/blob/release-1.3/docs/design/aws_under_the_hood.md).

There is also an [open pull request](https://github.com/kubernetes/kubernetes/pull/28499) to further parameterise this.

However, I would **NOT** yet recomm

[2016-08-17 14:23] kargakis opened #30770 "Formalize waiting for synced caches in controllers"
We have started waiting for caches to sync before starting any worker in various controllers mostly downstream but also in a couple of places in Kube (eg. https://github.com/kubernetes/kubernetes/blob/c0e79d8da731e52312451f017cb44240831576d4/pkg/controller/deployment/deployment_controller.go#L200). Instead of it being a simple pattern controller authors should follow we should somehow bake it in t

[2016-08-17 14:29] deads2k commented on #30770
@kubernetes/rh-cluster-infra This comes up whenever you have a controller that watches multiple resources to kick a queue for a different resource.

[2016-08-17 14:29] zhouhaibing089 commented on #23585
Yeah, webhook is an option to go, if all with webhook, then that would be okay, however what if we have to inline an auth plugin into k8s? For example, if we want to keep things easy for maintaining and do not expect one more project, that is just a random thought from me, I believe people would still be doing this to inline into the code instead of write a webhook..

Another idea, how will we man

[2016-08-17 14:38] zhouhaibing089 commented on #30603
Docker content trust is one layer of image signing, what I would like to raise here should be more generic, for example, we may sign the image when the CI build a release and then with some way, we want to ensure our workload would only run images from those images signed by CI, thus people could not run any intermediate build on production, I am not sure I made my statements clear, basically I wa

[2016-08-17 14:42] #30761 closed

[2016-08-17 14:43] smarterclayton commented on #30298
Maybe "run". Although adding more long running operations also has a cost.

[2016-08-17 14:44] smarterclayton commented on #5164
Can you post the example so I can decide whether I agree with you for the
user I have in mind?

On Aug 17, 2016, at 4:19 AM, Eric Tune <notifications@github.com> wrote:

Also, I recently built a controller in bash that used kubectl and polling.
It was not hard.

I'd vote for closing this.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<ht

[2016-08-17 14:48] rootfs commented on #30752
I confirm this is this case on my setup running local-up-cluster.sh.

I have a 100GB HDD disk. It took 30 seconds to format on the console but 2 minutes by kubelet.

@kubernetes/sig-node. Is there any I/O constraint imposed on kubelet?

[2016-08-17 14:49] Blasterdick opened #30773 "Lost gcePersistentDisk partition after using it in cluster with RC of two pods"
As by instructions in [doc](http://kubernetes.io/docs/user-guide/volumes/#gcepersistentdisk), I created a PD in GCE, I attached it to an instance, then created a partition with ext4, and provisioned it with my data (git repo).

Next, I created RC with uploading json to Kubernetes. RC contains 2 replicas of nginx pods, which should work with configuration, provided in git repo on PD. But, when I lo

[2016-08-17 14:49] timothysc commented on #18099
@spxtr @ixdy ^ any opinions?

[2016-08-17 14:56] xingzhou commented on #29876
Took a look at the code, here are some findings:

1. For ```kubectl describe``` command, it's using "[pod.Status.Phase](https://github.com/kubernetes/kubernetes/blob/431e7ce1ab9f6086d38538a28989741f0576114c/pkg/kubectl/describe.go#L525)" to describe the pod's status. [Here](https://github.com/xingzhou/kubernetes/blob/master/pkg/api/types.go#L1102-L1119) defines the possible pod phase values.
2. Fo

[2016-08-17 14:58] timothysc commented on #30688
/cc @rrati

[2016-08-17 15:08] k8s-merge-robot opened #30775 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15877/

Run so broken it didn't make JUnit output!

[2016-08-17 15:15] pwittrock commented on #30097
Please include detailed documentation for how to update the packages so that we can do so for each release

[2016-08-17 15:16] pwittrock commented on #29433
subscribe @pwittrock

[2016-08-17 15:17] pwittrock commented on #29524
Maybe just not save the comments as part of the json to get rid of the warning, but still should them?

[2016-08-17 15:19] errordeveloper commented on #30515
@dgoodwin I think what you are suggesting is cleaner then adding a new flag, but it's mostly backwards compatibility that I was trying to address in #30616. I'd be happy to break this rather odd behaviour, if folks agree to do so.

[2016-08-17 15:23] pmorie opened #30776 "Test flake: TestDecodeBrokenYAML"
Flaked in: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28936/kubernetes-pull-test-unit-integration/39994/

[2016-08-17 15:24] pwittrock commented on #28007
@bharaththiruveedula Are you still working on this?

[2016-08-17 15:25] pwittrock commented on #27454
@wu8685 Are you still working on this?  I see your PR is not to merge against the upstream repo.

[2016-08-17 15:26] k82cn commented on #24314
@bgrant0607 , I'm kuber now , thanks. I'm working on this now :).

Checked `openshift` and `k8s-pet-store`, openshift-origin is not using default namespace now; and we can update `k8petstore` 's script to update namespace.

But it seems `storm` and other example are still using default namespace, should we go through all example and update them accordingly?

[2016-08-17 15:29] brendandburns commented on #30278
So the initial MVP of the `kube-proxy`  did end-to-end TCP/UDP proxying, meaning the mapping was from kube-dns IP -> `localhost:<random-port` and the kube-proxy did all of the forwarding inside of the kube-proxy application.

The code is still in there:
https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/userspace

There are lots of drawbacks to this approach (higher tail latency, lots

[2016-08-17 15:30] MikeSpreitzer opened #30778 "cluster/ubuntu download-release.sh should be flexible wrt kubernetes version"
The `cluster/ubuntu/download-release.sh` script fetches a particular version of kubernetes, the user has no control over that version.  The user should be able to control which version is installed.

[2016-08-17 15:32] #23007 closed

[2016-08-17 15:33] pwittrock commented on #22308
Duplicate of #29698

[2016-08-17 15:33] #22308 closed

[2016-08-17 15:35] #28688 closed

[2016-08-17 15:35] rootfs commented on #30710
@dchen1107 @yujuhong still not working

[code]

    I0419 11:50:32.194020    9600 docker.go:363]
    Docker Container: /tiny_babbage is not managed by kubelet.
[code]

[2016-08-17 15:37] thockin commented on #30444
I commited a fix a couple days ago to set GOROOT if it was not set.  Does this still fail at current head?

[2016-08-17 15:37] brendandburns commented on #30752
@dchen1107 to see if she knows why `mkfs.ext4` would be slow when called from the kubelet.

[2016-08-17 15:37] thockin commented on #30444
in fact, please reopen if it does.  I am THAT confident :)

[2016-08-17 15:37] #30444 closed

[2016-08-17 15:38] yujuhong commented on #30710
@rootfs could you post the output of `docker inspect  <image>`?

[2016-08-17 15:40] pwittrock commented on #30562
@fraenkel Thanks for reaching out.  I know @ymqytw already started on this issue.  Apologies for not having applied the assigned label when I assigned it to @ymqytw.  Would you like to pick another issue from [the list](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Agood-for-contributor-onboarding%20label%3Acomponent%2Fkubectl%20-label%3Acontribut

[2016-08-17 15:41] rootfs commented on #30710
[code]

[2016-08-17 15:42] rootfs commented on #30710
@yujuhong I use `hack/local-up-cluster.sh` to start my cluster, maybe there is a missing option

[2016-08-17 15:44] gmarek commented on #28019
It was fixed by a number of SchedulerPredicates fixes. I'm not quite sure why it was assigned to @fgrzadkowski

[2016-08-17 15:44] #28019 closed

[2016-08-17 15:44] MikeSpreitzer commented on #30778
Never mind, this was satisfied by https://github.com/kubernetes/kubernetes/commit/35e190e6aeef3f943109121578c3900e2cafefd4

[2016-08-17 15:44] #30778 closed

[2016-08-17 15:46] smarterclayton commented on #11382
I think the nodes use case is separate for now.  "I'm an admin and I want
to see how full my nodes are" and "I'm an admin and I want to see whether a
specific subset (by label) of my nodes are full".

On Wed, Aug 17, 2016 at 8:22 AM, mksalawa <notifications@github.com> wrote:

[2016-08-17 15:47] spiffxp commented on #23105
what do we think about closing this issue?  this particular test has been addressed on master via #30060 (thanks @gmarek!)

[2016-08-17 15:57] mwielgus opened #30779 "BeforeSuite fails in node e2e test"
[code]

[2016-08-17 15:58] dchen1107 commented on #28716
Lantao Liu's PR #30728 is merged which should prevent this from happening at the first place.

[2016-08-17 16:03] smarterclayton commented on #27454
I commented on the upstream PR, but CSV escaping is not a solution.  Commands need to opt in to getting comma separating behavior, rather than tell users to escape their strings.  It is surprising for end users to treat `-a https://something:9000/b,c` as two values, or `-a /usr/lib/local,other/` as two values.  We need to fix this by introducing a new StringSlice that does not do comma separation.

[2016-08-17 16:08] danwinship opened #30780 "swagger docs should refer to "jsonFieldNames" not "GoFieldNames""
The API docs have things like:

| Name | Description |
| --- | --- |
| nodeName | NodeName is a request to... |
| serviceAccount | DeprecatedServiceAccount is a deprecated alias for ... |

It's vaguely annoying to have to field name referred to with the wrong capitalization in the first example, and even more annoying to have an entirely wrong name used in the second example. Perhaps the doc gener

[2016-08-17 16:14] smarterclayton commented on #30645
What % of users will need to set PVC during run?  emptyDir?  Secrets?  ConfigMaps?

If the % is low, that's more of an argument for `kubectl run --edit`, not adding more flags here.

[2016-08-17 16:25] uschtwill commented on #29908
I have the same issue.

[2016-08-17 16:29] uschtwill commented on #30751
Thanks, @fishcried!

[2016-08-17 16:30] ghodss commented on #11382
It would also be cool to have a `kubectl top node --summary` that just showed a single line summary of usage/% of all nodes, and could also filter by label as well.

[2016-08-17 16:36] thockin opened #30781 "Code mgmt: need a comment designating "remove this after X""
We have a lot of things that we deprecate and leave comments of the form "delete this after X".  We have no consistency to them, so it is hard to "scrub" for them.

I'd like to see us define and adopt a standard way of denoting this in the codebase, and then do a janitorial pass on the existing comments. Something like:

[code]

or even a begin/end pair:

[code]

[2016-08-17 16:36] ghodss commented on #13488
@paunin @rcoup We do something very similar nowadays, we have an env var literally called "DUMMY_VAR_FOR_NO_OP_DEPLOYMENT".

It feels like the right solution here would enable you to restart a deployment, and reuse most of the deployment parameters for rollouts like MinReadyCount, while allowing for command-line overrides like increasing the parallelism for emergency situations where you need ever

[2016-08-17 16:52] jstordeur commented on #21002
Is there any update on this?
Is it possible at the moment to switch from google cloud logging to elastic search after the cluster was created? Also you seem to indicate that it is possible to choose elastic search logging on GCE, I haven't seen that option, could you point me to it?

[2016-08-17 16:56] jbhurat commented on #30278
Thanks for the insights @brendandburns, I will take a look at these

[2016-08-17 17:03] smarterclayton commented on #30515
Ok, to summarize:

* We cannot break the backwards compatibility of len(apiservers) == 0 not meaning standalone.  That means we cannot just start reading kubeconfig by itself
* We never reload kubeclient, so a client that starts with kubeconfig specified but is broken is in error.
* We default KubeConfig in kubelet to a value, but users may have simply copied that default behavior onto a flag and

[2016-08-17 17:05] derekwaynecarr commented on #30515
I think I prefer `--apiserver-kubeconfig`

[2016-08-17 17:07] lukemarsden commented on #30515
Thanks @smarterclayton! So to be clear `--apiserver-kubeconfig` means "read the API server information from the kubeconfig file, exiting cleanly if the kubeconfig file doesn't exist"? That SGTM.

[2016-08-17 17:07] smarterclayton commented on #30515
Yes I think so.

[2016-08-17 17:09] smarterclayton commented on #30515
Bumping to p1 because this blocks lifecycle having a path forward.

[2016-08-17 17:11] smarterclayton commented on #30515
Since I reviewed @erictune's original code here and I consider this my fault I'm opening a PR.

[2016-08-17 17:11] mlbiam commented on #30650
After talking with @ericchiang on the sig-auth slack channel, I like his idea of adding a --oidc-ca-cert=BASE_64_ENCODED_CERT flag.  This would make it easier to deploy without having to copy the CA file to the api server as copying a file to the api server can be very difficult with the many of the deployment models that you might use for development or demo.

Also, adding a quick line to http://

[2016-08-17 17:15] smarterclayton commented on #30515
@mtaufen this probably intersects with your changes - was that slated for merge today?

[2016-08-17 17:16] stevekuznetsov commented on #30780
As a minimal-effort implementation doing a simple find/replace `s/\bGoFieldName\b/jsonFieldName/g` should net us pretty substantial readability benefits, at the cost of potentially messing up when the Go field name is conjugated or something in the doc.

[2016-08-17 17:17] iceandroidph commented on #30657
Just some clarification. Config Blobs is not only json but, xml, yml or any flat file. Currently the work around is to mount a template and a find a replace script in the entrypoint. Although works, but can easily become a hacky script.

[2016-08-17 17:19] mikedanese commented on #30515
Are you planning on doing this for all components?

[2016-08-17 17:20] smarterclayton commented on #30515
No, just for Kubelet.  Controller manager and scheduler already exit if the kube config is invalid (can double check the others)

[2016-08-17 17:20] smarterclayton commented on #30515
Kubelet is the only one that must remain backwards compatible.

[2016-08-17 17:25] derekwaynecarr opened #30782 "kubectl top node should not have a column for storage"
`kubectl top node` defines columns for cpu, memory, and storage.

I get cpu, and memory.

I don't get storage for either a pod or a node.

I think the column should be removed.

It's not clear if storage is rootfs, nodefs, or some other fs.

Absent a defined node spec for storage, and ability to provide quality of service around storage, we should not have the column.

@kubernetes/sig-node @vishh

[2016-08-17 17:25] freehan opened #30783 "MAC address of cbr0 changes upon new pod creation"
quote from the Kevin:

"
While investigating a bug with a kubernetes cluster, I came across the following bug report for Docker:
https://www.weave.works/anatomy-of-a-docker-networking-heisenbug/

While this bug ended up not being the root cause of the problem I was investigating, I was able to observe the "changing MAC address" behavior on cbr0 when a new container was rolled out to a node.
(this

[2016-08-17 17:26] mikedanese commented on #30515
Can we just action-required release note and kubernetes-announce, and actually fix this? Kubelet should handle kubeconfig like all others components, including a continuous command line flag API. The fact that this is not the case is a bug. I imagine that this behavior is little traveled and this is gross.

There is no invalid. Using the default loader you get a http://localhost:8080 kubeconfig

[2016-08-17 17:27] mlbiam opened #30784 "Create "whoami" service"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Looked at the API docs.  Discussed on the kubernetes/sig-auth slack channel with @eri

[2016-08-17 17:27] smarterclayton commented on #30515
I thought we fixed it so that the NonInteractive did not have that value?  That's terrible if so.

[2016-08-17 17:33] mikedanese commented on #30515
[code]

[2016-08-17 17:35] smarterclayton commented on #30515
Very useful...

[2016-08-17 17:38] #20861 closed

[2016-08-17 17:38] yujuhong commented on #30779
@mwielgus it'd be better to include a gubernator link or a google cloud storage link to the build, so that people can look through the information.

If the log means what it said "Node 1 disappeared before completing BeforeSuite", perhaps the node was deleted while the test was running?
/cc @kubernetes/goog-node @dchen1107 to see if anyone deleted the VM by accident.

[2016-08-17 17:40] bprashanth opened #30785 "kubectl doesn't reflect pod condition"
It only shows me the container statuses, which leads me to believe that everything is fine when in fact the podCondition is false, which is what the endpoints controller really checks (https://github.com/kubernetes/kubernetes/blob/master/pkg/api/resource_helpers.go#L101). Eg:

[code]

@kubernetes/kubectl

[2016-08-17 17:43] errordeveloper commented on #30515
Yes, I recall there was a bit of mixed behaviour, but couldn't remember what it was exactly. Adding a `--poll-kubeconfig` sort of flag to all components would be nice, IMO... Or may be we could treat a empty file in special way or something. Alternatively, perhaps on systemd we could use `ConditionPathExists` (as @dgoodwin suggested) in `kubelet.service` and add `kubelet.path` to watch for it and

[2016-08-17 17:44] Random-Liu commented on #30779
Here the "node" is ginkgo parallel test node. https://github.com/onsi/ginkgo/blob/master/integration/suite_setup_test.go#L174

Given the image is gci, I guess this should be https://github.com/kubernetes/kubernetes/issues/29932.
https://github.com/kubernetes/kubernetes/pull/30198 should fix this.

[2016-08-17 17:53] coufon commented on #29244
I run a longer soak test and see that the memory increasing becomes flat.

 <img src="https://cloud.githubusercontent.com/assets/11655397/17747252/c75dc43e-6468-11e6-858e-5d0fddf0a024.png" width="50%", height="50%">

[2016-08-17 17:57] hongchaodeng commented on #20504
Here's a plan to do events migration:
- During offline process, transformer will write a special key "_need_gc_events" => value "/events-dir-in-etcd"
- We need to check the special key. If existed, attach all events to a new lease. Delete the special key. There are two options here:
  - Automatically done on apiserver bootstrap. Or,
  - Have another tool run outside apiserver. It's fine to run it

[2016-08-17 17:58] Random-Liu commented on #30779
I checked the log, and found that the test deletes the instance with no reason, we really need more log...:
[code]

And then the test fail.

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/30207/node-pull-build-e2e-test/19417

[2016-08-17 17:59] lavalamp commented on #30759
Interesting-- is it the same as https://github.com/kubernetes/minikube/issues/368?

[2016-08-17 18:05] ericchiang opened #30788 "Integration test flake: nil pointer error in federation TestNamespaceController"
Got a nil pointer error when testing #30392

cc @mwielgus (based on git history)

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30392/kubernetes-pull-test-unit-integration/40033/

[code]

[2016-08-17 18:06] yujuhong commented on #30710
Uh...I think this is the opposite case of what @dims's PR #30582 was fixing.

Uploaded #30789 to fix this.

[2016-08-17 18:07] smarterclayton commented on #29453
Can you please open a PR with a proposal for the set of changes you'd include?  That'll help us understand whether we recommend you build this as an extension or a third party resource

[2016-08-17 18:08] smarterclayton commented on #29453
Also, anything you can do to build this as an external component is great, since that helps the rest of the ecosystem get better.

[2016-08-17 18:13] quinton-hoole opened #30790 "nil pointer dereference in pkg/client/transport/round_trippers.go:92 on oauth failure"
On Wed, Aug 17, 2016 at 6:27 AM, Nacho Coloma <icoloma@google.com> wrote:

Right now I am working with the tutorial from Kelsey, which deploys fine, but after creating the Federation Control Plane (controller-manager and apiserver deployed) I cannot create the clusters in the Federation Server. The Controller Manager shows an error in the logs.

kubectl --namespace=federation create secret generic

[2016-08-17 18:16] quinton-hoole commented on #30790
@madhusudancs Could you take a look as soon as your v1.4 launch blockers are out of the way?

[2016-08-17 18:26] Random-Liu commented on #30779
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30623/node-pull-build-e2e-test/19432/

[2016-08-17 18:27] dchen1107 commented on #30752
cc/ @coufon Who is working on node performance benchmark.

@coufon Can we quickly run an experiment on GCE to see if we can reproduce the issue. Let's first rule the impact of containerized Kubelet. If the issue is still exist, I suspect the issue in Kubelet mounting logic. We can enable some tracing, and find the bottleneck.

[2016-08-17 18:28] markturansky opened #30792 "Add Encryption to dynamic provisioner"
## Summary

Encrypted volumes is a commonly requested feature for Kubernetes storage and requirements exist downstream to use encrypted volumes.

The following is a summary of the three cloud providers that allow dynamic provisioning and the current state of volume encryption for each.

**_TL;DR:_**  Add encryption support for EBS PersistentVolumes. AWS has optional encryption and allows key via t

[2016-08-17 18:32] devx commented on #17183
After reading the entire thread and all the related links I would like to share my experience and how we have dealt with logging. We are still currently working on it!

We initially deployed a container that would use the k8’s API’s to get the logs, and metadata for all the containers in a replication controller. This worked however it has various drawbacks. As it increased the load of the API ser

[2016-08-17 18:33] Random-Liu commented on #30779
This is the same issue with #29932.

After https://github.com/kubernetes/kubernetes/pull/30116, the log of "e2e services" will be printed into `services.log`. And in the log, we can see:
[code]

Then, the test failed and we "copy test artifacts" and "delete the instance".

[2016-08-17 18:37] #30665 closed

[2016-08-17 18:38] devx commented on #8001
Would it be possible to pass that metadata to the container? For example if you are using the docker engine you could use the label mechanism to pass this metadata, as it k8's would have this information at the time it schedules the new containers.  This would mean that I don't have to waste additional cpu cycles to get that information.

[2016-08-17 18:40] vishh commented on #30782
Let's think from a scheduling standpoint. `disk` as a resource will most-likely apply to localhost `volumes`, containers and possibly pods.
If `kubectl top` is expected to help determine available capacity or current utilization of a cluster, then we only need to consider the root partition. The image fs is a hidden implementation detail. If kubelet starts tracking volumes storage separately, then

[2016-08-17 18:42] hacktastic commented on #28527
Hey Tebro-- I'm having this same issue. What was the mismatch, exactly? Kubernetes was using V2 and OpenStack was using V1? or vice-versa?

Also, is there a way to configure that on the kubernetes side?

[2016-08-17 18:43] danbopes commented on #20420
@thockin See this question: http://stackoverflow.com/questions/37992007/creating-ftp-service

I've attempted to create an FTP service, which needs to have multiple ports forwarded for the passive range.

[2016-08-17 18:44] pigmej commented on #29453
@smarterclayton it's built as external component, it follows design of other controllers, we're reusing 3rd party resoruces as much as possible. Currently you spawn it as a POD, but in future we want to spawn it as a ReplicaSet, and use similar logic as other controllers to give HA.

Currently we *did not* require changing k8s core at all. We plan to add some improvements to k8s core in general th

[2016-08-17 18:46] smarterclayton commented on #30515
Here's the first draft:

[code]

[2016-08-17 18:47] smarterclayton commented on #30515
If people would like a better message for the "hot-loop" case please let me know

[2016-08-17 18:47] yujuhong commented on #30779
Sounds like the cleanup order is wrong if the suite deleted the VM instance before ginkgo terminated properly.

[2016-08-17 18:48] thockin commented on #20420
So this needs someone to own the design and implementation.  I think we can
EOL the userspace proxier at some point, or at least say that ranges won't
be supported for it

On Wed, Aug 17, 2016 at 11:44 AM, danbopes <notifications@github.com> wrote:

[2016-08-17 18:50] wojtek-t commented on #30759
@lavalamp - it seems to be

[2016-08-17 18:52] mtaufen opened #30793 "Reminder: Remove this hack after Kubelet is refactored to only use clientset."
This block of code in `cmd/kubelet/app/server.go`:

[code]

is moved to `pkg/kubelet/kubelet.go` in #29216, but will still need removal once the Kubelet has been refactored to only use clientset.

This is a reminder to do so.

/cc @vishh

[2016-08-17 18:54] Random-Liu commented on #30779
It is because we run the test remotely, and print test result after the test finished. https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/runner/run_e2e.go#L234-L244

At that time, the cleanup has already been done. :)

[2016-08-17 18:54] k8s-merge-robot opened #30794 "[k8s.io] Downward API should provide pod IP as an env var {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30360/node-pull-build-e2e-test/19452/

Failed: [k8s.io] Downward API should provide pod IP as an env var {E2eNode Suite}

[code]

Happened on a presubmit run in #30360.

[2016-08-17 18:57] wojtek-t commented on #30275
We will look into limits tomorrow.
I think that scheduler and apiserver are related to my changes the increased the throughput of tests.

However, the controller-manager is (at least partially) related to enabling GarbageCollector.
@caesarxuchao @lavalamp ^^

@caesarxuchao and me are looking into it.

[2016-08-17 18:58] lukemarsden commented on #30515
LGTM @smarterclayton

[2016-08-17 19:00] jberkus commented on #30716
@erictune two comments on init containers:

1. we'd need to automate that process via some kind of Kubernetes object; otherwise it would be just a case of moving the burden on container image authors without decreasing it (in fact, we'd be increasing it).  If Template works via an init container under the hood, that's fine with me.

2. See my note above about the issues with volumes and config fil

[2016-08-17 19:01] jberkus commented on #28560
Closing in favor of #30716

[2016-08-17 19:01] #28560 closed

[2016-08-17 19:04] mbohlool opened #30795 "Compilation error on OSX: GetDeviceNameFromMount repeat in pkg/util/mount/mount_unsupported.go"
Compilation error in pkg/util/mount/mount_unsupported.go. GetDeviceNameFromMount declared twice. #30724 and #30666 are duplicates and one of them need to be reverted. (build is disabled for linux, that's why both of them got in)

[2016-08-17 19:06] mbohlool commented on #30665
Duplicate PRs got in. One of them need to be reverted.

[2016-08-17 19:11] vishh opened #30799 "Local storage handling in Nodes"
As of today Kubelet can consume storage via multiple devices & partitions.
[This proposal](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/disk-accounting.md) on disk accounting lists some of the well understood storage configurations,
1. Root partition
2. Docker Images partition - primarily meant for device mapper storage driver

However there are various other means by which

[2016-08-17 19:11] vishh commented on #30799
xref: #30782

[2016-08-17 19:21] hongchaodeng commented on #20504
I have worked out something similar to above routine:
- First I run through the migration and make transformer print out all [TTL keys](https://github.com/hongchaodeng/etcdupgrade/blob/ad437b344da1dc376d563ff7a8783117504532b9/main.go#L21)
- Then I have [another program](https://github.com/hongchaodeng/etcdupgrade/blob/master/attachlease/main.go) that parse the files, and attach all keys to a routi

[2016-08-17 19:27] vishh commented on #17183
If you trap docker logs, `kubectl logs` will not work. And the logging
solution needs to work for other runtimes too.
Those are some of the reasons why this proposal is a bit more complex.
Makes sense?

On Wed, Aug 17, 2016 at 11:33 AM, Victor Palma <notifications@github.com>
wrote:

[2016-08-17 19:34] MHBauer commented on #30795
see #30802, please

[2016-08-17 19:37] coffeepac commented on #28999
@matchstick @rootfs I took a look at this today and was unable to repro this behavior in either v1.3.0 or v1.3.5.  I created an AWS EBS volume, a PVC and a PV for it.  Created an app that uses the PVC, spun it up, cordoned off all other nodes and restarted the node with the pod running.  The pod has some internal state (a counter) which reset once the counter page was available after the reboot.

[2016-08-17 19:39] smarterclayton commented on #30716
Image volumes have been requested - in the future that would address #2 as
well.  In the short term we've said use an init container to handle that.

On Wed, Aug 17, 2016 at 3:00 PM, Josh Berkus <notifications@github.com>
wrote:

[2016-08-17 19:41] smarterclayton commented on #30716
Devils advocate - why can't you provide a custom Command to the container and apply the transformation in that container?  The entrypoint would then be in the pod definition, not the image.  While I'm sympathetic to templated config map, you can already templatize in Command and Args (IIRC), so this is already possible.

[2016-08-17 19:44] smarterclayton commented on #30716
Would be:

[code]

If config map was a valid target for env valueFrom (which it should be, because of secrets), then this should allow you to at least craft templates without changing the image.

[2016-08-17 19:46] yissachar commented on #23580
Is this planned for 1.4? Trying to decide whether to wait for this to be implemented or just go ahead and use https://github.com/jtblin/kube2iam.

[2016-08-17 19:52] mikedanese opened #30805 "Remove KubeconfigPath from Kube proxy componentconfig"
It is unused.

[2016-08-17 20:03] DirectXMan12 commented on #30716
That strikes me as unsatisfying for a number of reasons:

First, it means sharing the configuration is harder -- with a ConfigTemplate, you can just say `kubectl create -f template-object.yaml`, and mount as a volume (and edit the template when necessary).  With this approach, you have to say "go in to your pod, convert the entrypoint back into a single string, then put your environment file in a

[2016-08-17 20:07] pwittrock commented on #28688
@foxish Yes we want automated link checking in mungedocs.

[2016-08-17 20:09] Tebro commented on #28527
So kubernetes only supports Cinder V1 API.

Our keystone was only providing it with v2. We configured keystone to also
inform about the location of Cinder v1 and then it started working.

On Wed, Aug 17, 2016, 21:43 hacktastic <notifications@github.com> wrote:

[2016-08-17 20:10] yujuhong commented on #30779
@Random-Liu, the problem is that this error message is masking the real errors. We should try to fix this if we can...

[2016-08-17 20:11] bprashanth commented on #30427
@kubernetes/api-review-team @pmorie who to tag for downward api requests?
@smarterclayton out of petset interest

[2016-08-17 20:13] yujuhong commented on #28721
Another one: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30723/kubernetes-pull-build-test-e2e-gke/7748/

[2016-08-17 20:16] ixdy commented on #20921
It's fun finding all of the old issues we've already fixed.

[2016-08-17 20:16] #20921 closed

[2016-08-17 20:17] bprashanth opened #30809 "Source ip preservation for nodeport loadbalancers"
Some cloudproviders like gce simply forward packets sent to the public lb vip to a vm. The packet shows up at vm's eth0 with a destination ip=lb vip, which the vm accepts as local. Other cloudproviders, like AWS forward packets to the nodePort of the service. The packet shows up at the vm's eth0 with a destination ip=vm ip.

Current implementation of source ip preservation targets the former, we n

[2016-08-17 20:19] yujuhong commented on #29244
I discussed with @coufon offline. The memory increase slows down and becomes marginal after a while. Most likely the increase is caused by some in-memory caching of stats or metrics. We should dig into this more and understand the exact cause, but I think it's safe to de-prioritze this until later.

@coufon thanks investigating this!

[2016-08-17 20:19] derekwaynecarr commented on #30799
I think we need to potentially support tracking `/var/lib/docker` depending on storage driver.  For example, it seems highly encouraged best practice for `overlay` to use a separate device with own filesystem per https://docs.docker.com/engine/userguide/storagedriver/overlayfs-driver/#overlayfs-and-docker-performance

[2016-08-17 20:21] jingxu97 commented on #29903
Hi @rvrignaud , actually there are still a few things not very clear to me
and I want to investigate. Could you please share the full kubelet log on
node gke-c2-default-pool-40cc47de-tun8 after it was created. (if log is
rolled over, could you also share the zip files?) Thanks a lot!

On Tue, Aug 16, 2016 at 11:25 PM, Romain Vrignaud <notifications@github.com>
wrote:

--
- Jing

[2016-08-17 20:34] smarterclayton commented on #30716
Templates of config are pretty closely coupled to pods.  You can always put the template in the config and combine them.

The entrypoint is under the control of the pod author.  If the pod author doesn't control the image, they can control the entrypoint this way as well.  I'm fairly sure that we can provide an idiomatic representation of config templating in the pod template, which *does* allow r

[2016-08-17 20:40] smarterclayton commented on #30716
Generally our answer to this has been - "init containers".  Given that gives you access to a turing complete space, and everything we provide in a config map can be transformed, you can use any templating language you want, combine any config map you want, and control it all, without any changes to kubernetes.  The alternative - implement `ConfigTemplate` requires us to bless a templating language

[2016-08-17 20:52] justinsb opened #30811 "Integrate node-problem-detector with e2e test infrastructure"
Do the existing e2e tests fail if a node panicked during the test?

We are seeing issues like #30706, which makes me think we might not be detecting this.

It is actually surprisingly difficult to tell that a node has panicked with k8s, because k8s self-heals very quickly.  Also, I haven't yet figured out how to get a kernel panic into journald (on AWS), so the only place to see them is on the AWS

[2016-08-17 20:53] justinsb commented on #30811
cc @dchen1107

[2016-08-17 20:54] badfd opened #30812 "'make test' broken: framework.DeleteAllEtcdKeys() undefined"
Ubuntu 14.04.4 LTS [guest OS under Windows 7 host]
Linux yogi 3.13.0-92-generic #139-Ubuntu SMP Tue Jun 28 20:42:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[code]

Determine what test was running at the time of failure, immediately after 'schedulercache'. [The fact that we're not told is itself a bug, is it not?] ...

[code]

So, problem seems to be in 'perf'. Now, prove it ...

[code]

Looking a

[2016-08-17 20:54] smarterclayton commented on #30716
As a note - my point here is not to dismiss ConfigTemplate out of hand, it is merely to ensure that the mechanisms that we have that *should* be able to solve this actually solve this in a clear and demonstrable way.  If they don't, they absolutely must be fixed.

[2016-08-17 20:55] mtaufen commented on #30515
@smarterclayton I have higher priorities today, so if #30798 merges first no worries. I'll rebase in the morning if necessary. Don't block on me.

[2016-08-17 20:58] smarterclayton commented on #30427
I agree that this is useful, although we need to be careful about how to
expose it.

On Wed, Aug 17, 2016 at 4:11 PM, Prashanth B <notifications@github.com>
wrote:

[2016-08-17 21:18] Random-Liu commented on #30714
Also assign @coufon to help debug this. Thanks @coufon !

[2016-08-17 21:23] vishh opened #30818 "Kubectl top throws incomprehensible errors"
`kubectl top` throws the following error when attempting to collect metrics from a pod that was just started.
[code]

If the pod does not exist, the error is somewhat similar.
[code]

cc @kubectl @pwittrock @piosz @davidopp

[2016-08-17 21:26] smarterclayton opened #30819 "Using annotations for new API features creates the potential for security lapses"
Our current API strategy is to add annotations for new features.  These annotations are expected to overlay on top of the existing API fields, and alter system behavior in other components.  Our primary reason for annotations today:
1. They are unstructured and can be preserved in etcd even after the feature is graduated from alpha.
2. They can contain arbitrarily complex values (like init contain

[2016-08-17 21:26] smarterclayton commented on #30819
@kubernetes/sig-api-machinery @bgrant0607

[2016-08-17 21:30] mtaufen opened #30820 "Discuss whether certain fields currently set by flags should not be moved to KubeletConfiguration"
In #30094 discussion, @mikedanese commeted, related to not wanting to move the `KubeConfig` field into `KubeletConfiguration`:

And, my impression is that, presently, the first category is `--api-servers` and the second is `--kubeconfig`.

If `KubeletConfiguration` is intended, in addition to being used for remote config, to be a complete replacement to flags via on-disk config, then the locations

[2016-08-17 21:34] mikedanese commented on #30820
Actually both these are currently contained in kubeconfig. I'm hoping to separate them out though. We can get ride of --api-servers. https://github.com/kubernetes/kubernetes/issues/30395

[2016-08-17 21:36] thockin opened #30822 "Rethink how we manage/name/publish annotations"
NB: This is about the annotations that kubernetes itself uses, not about end-user annotations.  Those are explicitly reserved for use by end-users.

We use annotations for 2 main things.

1) To prototype new would-be fields in existing objects.
2) To decorate objects with bits of state from the core system components.

In both cases, we have to write down and publish the name of the annotation and

[2016-08-17 21:42] Cocotton commented on #30637
@jingxu97 I found something interesting. So in my cluster of 3 machines, 1 of them began to act bad after hitting some OOM issue. The last logs I sent you were from that machine. I had to reboot it and after the reboot, no more EFS volumes were mounted on that minion, yet the problem was still there.

There was 2 minions that has not been rebooted since then. One of them only mounted one of the tw

[2016-08-17 21:53] lavalamp commented on #30819
@erictune

On Wed, Aug 17, 2016 at 2:26 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-17 21:54] kfox1111 commented on #29607
@thockin I tried the init container for templating. It did work, but did run into an unusual issue.

Fails:
cp -a /srv/a/* /srv/b/; crudini --set /srv/b/foo.ini a b c;

Works
cp -a /srv/a/..data/* /srv/b/; crudini --set /srv/b/foo.ini a b c;

The config files at the root of the configmap are actually symlinks to stuff in the ..data dir. I'm not really sure why this is or if I should be relying on

[2016-08-17 21:55] rata commented on #30706
@justinsb cool. Just curious, what kernel in debian jessie (like `apt-cache policy` output for the kernel pkd)?

[2016-08-17 21:56] devx commented on #17183
You are correct if you "trap" the logs you won't be able to see them via the `kubectl logs`. But that is ok for me as I rather have a different system to view/manipulate logs as I probably will be doing various thing with else with them.  (Not to mention that if you have regulatory compliance you will have to do other things with those logs.)

At the end of day it's another option, it might not be

[2016-08-17 22:10] smarterclayton commented on #30822
xref #30819

On Wed, Aug 17, 2016 at 5:36 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-08-17 22:12] smarterclayton commented on #30462
This is running out of memory building go code.  We can address it by passing `-p N` to the go test / go build scripts that reduces the number of parallel builds happening during test.  We set this in test-go, but probably not in integration test-go.

[2016-08-17 22:13] timstclair commented on #30822
Overall, I agree. I think a discussion of what it means for fields to be in alpha or beta annotations, what promises we make, and what the upgrade path should be, along with what the default behavior should be (and how to treat them when the feature is disabled).

I feel like it would be more useful to use the "feature name" in place of {kind}, and move kind into the field path (after the `/`). Th

[2016-08-17 22:18] mikedanese commented on #30820
https://github.com/kubernetes/kubernetes/issues/23172

[2016-08-17 22:21] vishh opened #30826 "kubectl top takes more than a minute to work"
`kubectl top pod` fails to return any metrics for more than 100s after a pod has been created.
What is the minimum duration for metrics to be available? 30s (heapster) + [10s (cadvisor] ?
It might be helpful if the output says that metrics will be available soon.
Users might incorrectly think that kubectl top doesn't work.

@kubectl @davidopp

[2016-08-17 22:23] timstclair commented on #30819
Alternative solution: Reserve `*.{alpha,beta}.kubernetes.io/*` for internal use, and treat any annotations matching that pattern specially. We could either reject them in the case that the system does not know about them, or silently drop them (as we do with unknown fields). Of course this doesn't address your other points.

[2016-08-17 22:25] mikedanese commented on #30820
What What is the motivation for including this in componentconfig?

[2016-08-17 22:28] smarterclayton commented on #30819
We probably want something that explicitly disables certain API features at admission and on egress (Tim raised that on the service external name issue) based on the state of flags.  Annotations are marginally easier to deal with in bulk via admission / generic code.

A weakness - a typo in a client library would bypass the whitelist filter (controller reads "alpha.kubernetes.ios/*" rather than ".

[2016-08-17 22:29] smarterclayton commented on #30819
Re: admission - that can also potentially address #4, but we don't support nested admission chains today and would also be vulnerable to new code coming in that the admission chain doesn't check.

[2016-08-17 22:34] #28716 closed

[2016-08-17 22:38] smarterclayton commented on #30395
One usability loss with separate files is that users can't send them via URL anymore (except in a zip), can't copy them around atomically, and can't reference them with a single field in a config anymore.

[2016-08-17 22:40] abgordon opened #30827 "Large Environmental Variables crash pods"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Config maps, environmental variable size length, environmental variables, ETCD key value limits

---

BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.4", GitCommit:"3eed1e3

[2016-08-17 22:42] justinsb commented on #30706
@rata `3.16.7-ckt25-2+deb8u3`  and also `3.16.7-ckt25-2`

[2016-08-17 22:43] coufon commented on #30752
I tried formatting a 10GB HDD in GCE Kubernetes (not containerized). The time of formatting in kubelet log is ~1s. The log is:

`
I0817 20:49:48.659961    3473 mount_linux.go:337] Disk "/dev/disk/by-id/google-disk-2" appears to be unformatted, attempting to format as type: "ext4" with options: [-E lazy_itable_init=0,lazy_journal_init=0 -F /dev/disk/by-id/g
oogle-disk-2]
I0817 20:49:49.794041    34

[2016-08-17 22:43] smarterclayton commented on #29453
The act of creating a feature is usually "we think this should be part of
Kube" - that means "there needs to be a design proposal approved and
reviewed".  For instance, an extension component that just works well with
Kube doesn't need a features PR - you can just go do it.  If it's something
that is "part of kube" generally that's where things start a) needing a
feature and b) need a proposal.  I

[2016-08-17 22:44] lavalamp commented on #30822
How are you going to enforce.

It seems this is the topic du jour. Clayton and you opened issues, and Eric, Brian & Dawn just had a protracted discussion about this at my desk.

It's weird that we made a complicated system to solve these problems, but it was complicated so people made annotations instead. Now we're talking about another complicated system to solve all these problems with annotatio

[2016-08-17 22:46] jberkus commented on #30716
@smarterclayton can you give an example of an init container implementation, using current Kubernetes?  Because my experience is that they're more complicated than you describe.  But maybe I'm doing them badly.

[2016-08-17 22:46] smarterclayton commented on #29453
We're kind of vague in the features repo about this, which maybe we need to
correct, but the majority of things in features require changes to Kube.
If you don't intend to change kube at all, you wouldn't need a proposal,
but we should clarify that.

On Wed, Aug 17, 2016 at 6:43 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-08-17 22:48] smarterclayton commented on #30822
Hold on, I've been working on a proposal for turning a complex system into
a simple system.  It involves money, pizza, and generous use of "git rm -rf"

On Wed, Aug 17, 2016 at 6:44 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-08-17 22:48] jbeda commented on #30395
We could support import/export that packs them in to a single file.
On Wed, Aug 17, 2016 at 3:39 PM Clayton Coleman <notifications@github.com>
wrote:

[2016-08-17 22:49] jlowdermilk commented on #30822
Is it enough to rely on convention if the pattern is easy to copy? Appeal to lethargy works pretty well.

[2016-08-17 22:51] lavalamp commented on #30822
We do have a convention already. Conventions are easy. Getting people to follow the convention, on the other hand, is not so easy...

[2016-08-17 22:53] erictune commented on #30822
I was about to say we should switch from annotations to putting the fields inline with a prefix that identifies them, but I see that @smarterclayton just suggested this in #30819.
Also, I think @dchen1107 wanted to do it this way like a year ago.

[2016-08-17 22:54] erictune commented on #30819
Let's prefix alpha field names with the actual letter alpha/`&#x3b1;`/`α` and beta ones with beta/`&#x3b3;`/`β`.  That way you know you are doing something odd when you use it.

[2016-08-17 23:00] mikedanese commented on #30395
@mtaufen @vishh

[2016-08-17 23:08] #30644 closed

[2016-08-17 23:08] #27274 closed

[2016-08-17 23:29] thockin commented on #30819
I would be OK with this approach.  I feel like we considered it in the past and rejected it, but I have lost state, so...

I do feel like ad-hoc is just not working.

[2016-08-17 23:35] k8s-merge-robot opened #30831 "[k8s.io] Federation events [Feature:Federation] Event objects should be created and deleted successfully {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/3083/

Failed: [k8s.io] Federation events [Feature:Federation] Event objects should be created and deleted successfully {Kubernetes e2e suite}

[code]

Previous issues for this test: #30644

[2016-08-17 23:40] euank commented on #30463
Part 2 at #30830, I think we can move our discussion to each of those issues respectively in lieu of this one.

[2016-08-17 23:45] AdoHe commented on #30785
@bprashanth I am just a little bit confused, pod status is not the same thing as pod condition, generally users only care about pod status, which is a summarize of pod containers status. If pod condition is false, the corresponding endpoint should be not ready, which we can see from the endpoint output.

[2016-08-17 23:48] bprashanth commented on #30785
Yeah but telling me that 3/3 containers are ready is useless if it doesn't result in an endpoint. The point of readiness is to include the container:port in a service, if that's not actually happening, telling me that all containers are ready isn't very useful IMO.

[2016-08-17 23:48] ixdy commented on #30754
Curious. We haven't changed anything from the test-infra side recently.

cc @kubernetes/test-infra-maintainers

[2016-08-17 23:49] smarterclayton commented on #30819
I've lost state too - I know the "preserve data after the new field goes
live" was one, but Brian almost certainly remembers

On Wed, Aug 17, 2016 at 7:29 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-08-17 23:53] AdoHe commented on #20625
I will recheck this.

[2016-08-17 23:54] AdoHe commented on #30785
@pwittrock @thockin wdyt?

[2016-08-17 23:54] rootfs commented on #30752
@coufon A 10GB disk took 18s to mkfs by kublet but 4s to mkfs on the console.  Do you have a chance to test these two scenarios?

Size probably is not a critical factor for gce since gce pd is provisioned at fixed IOPS per GB, while Azure (also AWS) disks are provisioned at fixed IOPS per volume.

[2016-08-17 23:58] AdoHe commented on #29876
@smarterclayton is there anyway that we can make this behavior unified? To set pod status correctly based on all containers status.

[2016-08-18 00:00] aronchick commented on #30799
Terrific stuff! Can you please add this as a feature in the feature repo (1.5?)

[2016-08-18 00:00] colemickens commented on #30752
There's more variables in play or else I'm seeing a different edge case than you are, @rootfs.

On Azure with a `kubernetes-anywhere` cluster, a 10GB disk for me consistently takes 7+ minutes. (`Standard_DS2_v2`, standard storage, HDD type). It was happening with a `Standard_DS4_v2` and with premium storage and SSD type data disk too...

I can make a cluster available to anyone who would like to i

[2016-08-18 00:01] thockin commented on #30822
Doing real fields will trigger API reviews.  Doing annotations doesn't necessarily get that same review.  This would reduce my griping down to (4).

We have another class of annotations, embodied by `"failure-domain.beta.kubernetes.io/{zone,region}` that are designated alpha/beta that are not merely would-be fields, nor are they features.  I think I would argue that this falls under 4, with subsys

[2016-08-18 00:01] AdoHe commented on #29433
/cc @AdoHe

[2016-08-18 00:01] cjcullen commented on #30617
Uggh sorry about this.

`CLOUDSDK_CONTAINER_USE_CLIENT_CERTIFICATE=True` makes kubectl use your cluster's client cert or basic-auth.

`CLOUDSDK_CONTAINER_USE_CLIENT_CERTIFICATE=False` (or unset) configures kubectl to use an OAuth2 access token from whatever Google identity is currently configured (either a logged in user from `gcloud auth login` or a service account).

There's some meager document

[2016-08-18 00:05] thockin commented on #30785
The problem is that ready is just one of any number of conditions.  Do we display them all?  Or do we special-case ready?

[2016-08-18 00:06] AdoHe commented on #30827
@abgordon seems related to this #23265, ptal.

[2016-08-18 00:09] AdoHe commented on #30826
I think generally top command will take more time to return compared with other commands, we should doc this and put this in top help output.

[2016-08-18 00:11] AdoHe commented on #30784
@smarterclayton IIRC, openshift origin has already implements this feature.

[2016-08-18 00:13] cjcullen commented on #30617
As for guidance, using Google OAuth2 identities is probably safer (access can be revoked, and only temporary credentials are passed around). If you need per-cluster permissions, we don't support that yet in GKE, so you might be better off using the per-cluster credentials.

And we won't take away the ability to use the per-cluster credentials on your existing clusters. We'd like to encourage using

[2016-08-18 00:14] janetkuo opened #30833 "Deployment controller should fail and retry gracefully"
In rare cases, deployment controller may enter hot fail loop (update --> fail --> retry). We should fail more gracefully so that it doesn't, say, overly spam api server and cause it to become unavailable.

cc @kubernetes/deployment @pwittrock

[2016-08-18 00:18] AdoHe commented on #30833
@janetkuo is this the same thing as #30028?

[2016-08-18 00:18] mlbiam commented on #30784
@AdoHe  Sort of.  Origin doesn't have an endpoint that will tell you what groups a user belongs to (at least it didn't a couple of months ago) or the roles.  The groups attribute that comes back from /oapi/v1/users/~ doesn't get populated anymore.

[2016-08-18 00:28] timothysc commented on #30759
/cc @deads2k as I'm sure he may be interested too.

[2016-08-18 00:30] Cloven commented on #30617
Some questions:

1.  What are the full recommended steps for configuring e.g., a third-party CI server to have minimal permissions to be able to schedule instances into a GKE cluster?

2.  Where are the specific permissions granted by a container engine service account role documented (i.e. what is 'Container Engine Developer' vs. 'Container Engine Admin')?

[2016-08-18 00:34] timothysc commented on #21818
I think using the regex's + the e2e suite breakouts such as the node and main are good examples now.

closing

[2016-08-18 00:34] #21818 closed

[2016-08-18 00:35] janetkuo commented on #30833
Similar, but this one is more general (not specific to overlapping deployment), and more about doing things like exponential backoff to prevent hot-fail-loop.

[2016-08-18 00:35] timothysc commented on #23735
I think the gobindata finished this iirc...

closing

[2016-08-18 00:35] #23735 closed

[2016-08-18 00:37] janetkuo commented on #30028
#30730 will prevent newer overlapping deployments from taking action

[2016-08-18 00:42] thockin commented on #29607
I didn't think you'd copy files, I expected to read files and render a
config from a template.  Regardless, yes, the files are links.  You'll need
to handle that

On Wed, Aug 17, 2016 at 2:55 PM, kfox1111 <notifications@github.com> wrote:

[2016-08-18 00:45] kfox1111 commented on #29607
Is it ok to edit them in place? Will anything overwrite them back to a pre rendered state?

[2016-08-18 00:52] lavalamp commented on #30759
I'm sending a PR.

[2016-08-18 01:02] dims commented on #30710
@yujuhong Thanks for taking care of this!

[2016-08-18 01:06] dchen1107 commented on #30819
I don't remember all the states neither since we quickly rejected the idea.

One of the reasons is that we worried too many duplicate fields in one API object. But we are doing this today if the feature was introduced as non-alpha initially, and need to change later; the only difference is introducing the field with a new name without prefix. I think that is even less manageable.

Another reason i

[2016-08-18 01:18] ymqytw commented on #30532
That's a great suggestion!

[2016-08-18 01:26] saad-ali commented on #30795
Fixed by https://github.com/kubernetes/kubernetes/pull/30724

[2016-08-18 01:38] xingzhou commented on #25287
not sure if this is still valid? if so, I'd like to take investigation of this ticket

[2016-08-18 02:02] rootfs commented on #30752
mkfs's kernel stack after started by kubelet is always as the following. Not sure if it related to blkio cgroup
[code]

[2016-08-18 02:26] AdoHe commented on #25287
@xingzhou Thanks very much, now I cannot assign this issue to you, but you did own this, just go ahead.

[2016-08-18 02:42] derekwaynecarr commented on #7294
I would rather support swap as a cheap means of supporting overcommit, but
there are a lot of intermediate steps to get from a to b.   Would prefer we
finish up existing QOS capability in 1.5 before supporting swap as an
advanced usage scenario at that point.

On Monday, August 15, 2016, Yoshua Wuyts <notifications@github.com> wrote:

[2016-08-18 02:44] derekwaynecarr commented on #7294
And to be clear this original issue was because Kubelet passed the wrong
value (allowing swap) and I wanted to reduce or eliminate it.  This was far
before QOS was fully defined.

On Wednesday, August 17, 2016, Derek Carr <decarr@redhat.com> wrote:

[2016-08-18 02:59] zilman commented on #11884
aws.go:676] Tag "KubernetesCluster" not found; Kuberentes may behave unexpectedly.
aws.go:683] AWS cloud - no tag filtering

It looks like the tags it wants are:
- KubernetesCluster = `<name>`
- aws:autoscaling:groupName = `<example: kubernetes-minion-group-us-west-2a>`

- Role = kubernetes-`{master,minion}`
- Name = kubernetes-`{master,minion}`

I think (and hope) the last two are optional.

Desp

[2016-08-18 03:05] jimmycuadra commented on #11884
Sounds like all of those tags are not useful if each cluster is in a different VPC (which they are for us.)

[2016-08-18 03:09] AdoHe commented on #29876
@xingzhou @astropuffin @smarterclayton kubectl get pod status has problem with multi-containers pod, we don't handle this case very much. Actually in @astropuffin case, the pod should be running.

[2016-08-18 03:09] zilman commented on #11934
Is it plausible to split out etcd into its own autoscaling group?
If so, you could just scale masters and the etcd cluster independently and there's no need to persist anything.

[2016-08-18 03:15] zilman commented on #11884
Actually, I did find a [note](https://github.com/kubernetes/kubernetes/blob/master/docs/design/aws_under_the_hood.md#tagging) on this just now.

So you only need this one. kube-up.sh sets it by default to 'kubernetes'. If you only have one cluster per VPC I suppose they can all have the same name. Hmm.

[2016-08-18 03:17] AdoHe commented on #28321
@smarterclayton would you like to give detail expectation here? I think this can help handling validation error more efficiency.

[2016-08-18 03:19] ichekrygin commented on #27194
I am running on v1.3.5 and this still seems to be an issue
[code]

[2016-08-18 03:50] colemickens commented on #30752
I have actually created a branch of `kubernetes-anywhere` to give me a cluster where `kubelet` is *never* running in a container and I'm still seeing the exact same issue. Took 7.5 minutes again, based on kubelet logs and watching `ps ax | grep mkfs`. I think we can safely eliminate "containerized kubelet" as being the source of the problem.

[2016-08-18 03:51] thockin commented on #30819
I propose we leave this until post code-freeze.  We're not changing tracks
right now.  Let's circle up next week or the week after and see if we can
get consensus on how to proceed.  Fair?

On Wed, Aug 17, 2016 at 6:07 PM, Dawn Chen <notifications@github.com> wrote:

[2016-08-18 03:54] thockin commented on #29607
Yes, they will be destroyed.  They should be read-only to you in the first
place.  If not, that's a bug :)

On Wed, Aug 17, 2016 at 5:46 PM, kfox1111 <notifications@github.com> wrote:

[2016-08-18 03:55] brendandburns commented on #30752
Though if I remember correctly, kubelet places itself in a cgroup when it starts up.  ( @dchen1107  can confirm) so it's possible that it is still due to cgroup I/O throttling.

[2016-08-18 03:55] dchen1107 commented on #30819
Agreed with @thockin at https://github.com/kubernetes/kubernetes/issues/30819#issuecomment-240617171

I will continue processing AppArmor changes as is.

[2016-08-18 04:16] derekwaynecarr commented on #30782
Absent a clearly defined spec for 1.4, I thought the column should be
removed.  Otherwise it appears to be a bug.  I don't really understand how
imagefs is a hidden implementation detail.  It's not hidden to our
operators.

On Wednesday, August 17, 2016, Vish Kannan <notifications@github.com> wrote:

[2016-08-18 04:23] thockin commented on #30799
I have expressed this before, and I'd be happy to be wrong, but I don't
think this will fly.

There are too many ways that storage can be set up to make this demand.
Even in GCE it does not seem unreasonable to add another PD to expand
storage capacity.  Now add multiple types of media.  Clouds support local
SSD which is not dynamically created/destroyed like EBS or PD.  Next will
be NVM or PCM or

[2016-08-18 04:45] derekwaynecarr commented on #29033
My experience is that users don't like it when a node misbehaving prevents
them from releasing compute resource quota to allow new pods to be created
on other nodes.

If I was a user that had a 3 core quota and was trying to spin up a new
pod, but was unable to do so because an old pod is stuck terminating, and
in some cases now stuck terminating for 10 minutes because

a) container runtime was do

[2016-08-18 04:49] thockin commented on #30716
A few thoughts.

First, a new object on its own does nothing for you.  You still need a new
volume driver to project it into the FS.  given that, I don't think you
actually need an API object at all.  What you have described looks like a
volume.

Second, there are tricks that can pull files from multiple volumes (secret,
configmap, downwardapi) and project into a single directory, with the
caveat

[2016-08-18 04:59] justinsb commented on #11934
This is implemented in kops.  As kube-up is in maintenance mode, it won't be implemented there.

@zilman it's plausible, but then the etcd ASG becomes the challenging one!

[2016-08-18 04:59] #11934 closed

[2016-08-18 05:07] #30515 closed

[2016-08-18 05:20] markturansky commented on #30792
Added to #29006 via https://github.com/jsafrane/kubernetes/pull/7

[2016-08-18 05:27] thockin commented on #30792
If we add any more non-essential changes to #29006, I will personally NAK that PR until 1.5.

That PR is too hard to review as it is.  If you want to get this in, send a followup PR with this change as the last commit, and if we get to it, great.  Sending a PR on Wednesday 2 days before code freeze does not mean you actually caught the train.  It means you are queued up outside the station waiting

[2016-08-18 05:29] thockin commented on #30792
I looked at your PR.  It's probably fine, but PLEASE PLEASE do it as a
followup

On Wed, Aug 17, 2016 at 10:28 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-08-18 05:49] wu8685 commented on #27454
I agree to add a `StringSliceExact` type as you mentioned on that PR. If no any questions, I will open a new issue on that ?

[2016-08-18 06:07] nhlfr commented on #30427
I'd suggest to keep a petset UID in pod annotation (i.e. `pod.beta.kubernetes.io/petset`) and then pass it through downward API.

[2016-08-18 06:11] zilman commented on #11934
@justinsb: well, if you have an etcd ASG of size 3, seems to me like you don't _really_ need to persist anything as at least one etcd instance is guaranteed to stay up.

[2016-08-18 06:22] mwielgus opened #30849 "Verify build started but not ended"
More details here:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30496/kubernetes-pull-verify-all/8404/

[2016-08-18 06:33] erutherford commented on #11934
A 3 node etcd cluster can't operate with less than 2 nodes running.  If you lose more than 1 nodes data you're [restoring from backups](https://coreos.com/etcd/docs/latest/admin_guide.html).

Also, without running a runtime reconfig, your etcd instances are fixed.

[2016-08-18 06:44] wojtek-t commented on #20504
@hongchaodeng @xiang90
Hmm - I really thought that it would be possible to do it with just a transformer and without yet another script that can be run only when etcd is up.

If that's not possible, I have a slightly different proposal:
1. once migration is finished and etcd is up do:
[code]
[This will list us all the event keys form before migration (we can assume that after migration noone will

[2016-08-18 07:24] gmarek commented on #27655
We need to add retries. @kevin-wangzefeng

[2016-08-18 07:41] #28832 closed

[2016-08-18 07:41] chakri-nelluri commented on #30618
Thanks @discordianfish Very Fair.. Will get the fix in after the rework changes are in 1.4

[2016-08-18 07:49] 249043822 opened #30850 "k8s support docker run --ulimit param"
docker run supports the param  --ulimit to set contaniner kernel param,  but k8s creating pod could not
 set this param, could have someway to do this?

[2016-08-18 07:52] IanLewis commented on #30790
FWIW, I get this error when adding a GKE cluster as well, whether the host cluster is AWS or GKE.

[2016-08-18 08:12] 249043822 commented on #30850
@thockin ,  could you help me ? thanks

[2016-08-18 08:13] #30584 closed

[2016-08-18 08:22] k8s-merge-robot opened #30851 "[k8s.io] EmptyDir volumes should support (non-root,0777,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/7294/

Failed: [k8s.io] EmptyDir volumes should support (non-root,0777,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

[2016-08-18 08:32] m1093782566 commented on #30610
fixed. I am going to close this issue.
Thanks!

[2016-08-18 08:33] #30610 closed

[2016-08-18 08:40] bogdando commented on #28761
There is a usecase when one wants only a number of expected peers, no FQDNs. F.e. when doing some quorum related evaluations. Not sure, what should I elaborate?.. Could you clarify the question?

[2016-08-18 08:50] jellonek commented on #30272
@davidopp so what should we do to make progress in this area?

[2016-08-18 09:08] discostur commented on #30495
Inserting the variables @ianjamez provided gives me the following error:

**common.sh:**
[code]

**error:**
[code]

[2016-08-18 09:11] #30732 closed

[2016-08-18 09:12] #30416 closed

[2016-08-18 09:12] #30332 closed

[2016-08-18 09:19] 249043822 commented on #30850
#3595 has opend, close this issue

[2016-08-18 09:22] anioool opened #30854 "PVC fails when selectors are passed"
Hi,

I have problem with pvc creation in case when I want to determine either matchlabels or matchExpressions.

The error message is always the same for both selectors:
error validating "persistentVolumeClaim.yaml": error validating data: unexpected type: unversioned.LabelSelector; if you choose to ignore these errors, turn validation off with --validate=false

Below you can find version which cur

[2016-08-18 09:23] k8s-merge-robot opened #30855 "TestNamespaceController {namespace}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15909/

Failed: TestNamespaceController {namespace}

[code]

[2016-08-18 10:15] ianmartorell commented on #20786
Pulling images using a secret of type `kubernetes.io/.dockerconfigjson` as per all the examples in the documentation does not work for me either, but using the old `kubernetes.io/.dockercfg` does. I also tried using `kubectl create secret docker-registry` with no luck. Here's my `kubectl version` output:
[code]
Locally, I use `~/.docker/config.json` with DOCKER_API_VERSION=1.23.

[2016-08-18 10:42] kargakis commented on #28105
Looked at this closer today. In both cases, proportional scaling is working as expected. The difference you see when the deployment is unpaused - (28, 5) instead of (29, 4) - is due to the fact that during the rollout the deployment will scale down to the minimum available that it needs to maintain.

Here is what happens:

Step.1:
d.spec.replicas=40, maxSurge=3, maxUnavailable=2
rs1.spec.replicas=

[2016-08-18 10:42] #28105 closed

[2016-08-18 10:46] hanikesn commented on #26637
That seems to be related to https://github.com/kubernetes/kubernetes/issues/23812.

[2016-08-18 10:53] JeanMertz opened #30861 ""invalid" base64 value results in weird oom_score_adj error"
On GKE, running version 1.3.4:

We had an AWS secret that we pushed in a secret, but forgot to base64 encode. By chance, the secret was valid base64, and was decoded on the server to some binary garbage.

The pod wouldn't start, returning the error:

[code]

Although this was human error, the returned event/error isn't very helpful to debug the issue.

[2016-08-18 11:00] #29358 closed

[2016-08-18 11:00] JeanMertz commented on #13630
I haven't tried to reproduce this, and won't be in a position to do so in the foreseeable future. If this hasn't been fixed already in some of the recent releases, I'm sure someone else will run into this and create a new issue.

Closing this.

[2016-08-18 11:00] #13630 closed

[2016-08-18 11:03] k8s-merge-robot opened #30862 "[k8s.io] Density [Serial] [Slow] create a batch of pods [Benchmark] latency/resource should be within limit when create 105 pods with 0 interval {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/258/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods [Benchmark] latency/resource should be within limit when create 105 pods with 0 interval {E2eNode Suite}

[code]

[2016-08-18 11:36] jsafrane opened #30864 "Volume plugins must have access to StorageClass when deleting a volume"
StorageClass instance may contain parameters that are necessary to contact a remote storage appliance, e.g. address, port, user name or even credentials.

Provisioner interface of volume plugins already has access to these parameters and we should do the same also to deleter interface. Otherwise it does not know what server to contact to delete a volume.

I'll implement it when #29006 is merged.

[2016-08-18 11:41] jsafrane commented on #30792
I have some comments and yes, please wait until the large PR is merged. It's complicated enough already.

[2016-08-18 11:53] k8s-merge-robot opened #30867 "[k8s.io] Density [Serial] [Slow] create a sequence of pods [Benchmark] latency/resource should be within limit when create 50 pods with 50 background pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/259/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods [Benchmark] latency/resource should be within limit when create 50 pods with 50 background pods {E2eNode Suite}

[code]

[2016-08-18 11:53] nleib commented on #29177
I have looked into the [RBAC docs](http://kubernetes.io/docs/admin/authorization/), specifically on ClusterRoleBindings. From what I understand in the docs, this bind is used for the whole cluster and not per namespace. For that reason the namespace is omitted from the Objects.
[code]
when trying to create such resource (ClusterRoleBinding) it fails with error

subjects[0].namespace: Required valu

[2016-08-18 11:58] Draiken commented on #30617
@Cloven https://cloud.google.com/compute/docs/access/iam Took a while but I found this

We use this on deployment scripts by authenticating gcloud with a service account, configuring kubectl and then running kubectl commands to deploy new releases.

So if I understood this correctly, to use the new OAuth2 style of authentication all I have to do is point the environment variable to the private key

[2016-08-18 12:15] uschtwill commented on #17205
@kant111: If this is still an issue, check what the flanneld log at /var/log/upstart/flanneld.log says. For me, my vps had trouble setting up VXLAN as the backend for flannel, which made it fail continuously. The solution was to switch to a generic kernel.

[2016-08-18 12:16] icoloma opened #30869 "federated-image.tag not found"
Following [the documentation](http://kubernetes.io/docs/admin/federation/). With a vanilla kubernetes install, `federation-up.sh` throws an error.:

[code]

`push-federation-images.sh` works fine, but the error is still there.

**Kubernetes version**: 1.3.3
**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS**: 14.04.5 in my local laptop
- **Kernel**: Linux icoloma 4.2.0-42

[2016-08-18 12:23] nleib commented on #29177
I have doubled check this, and it only happens when using kind: ServiceAccounts. User seems to work without indicating a namespace.

[2016-08-18 12:24] markturansky commented on #30792
I'm happy to do a follow-up PR. Thanks for allowing this small addition. I'm glad to have caught the train.

[2016-08-18 12:30] wojtek-t opened #30871 "Investigate higher resource consumption in apiserver in 100-node clusters"
We already knew that enabling GarbageCollector increases memory usage of the controller-manager.

However, it appears that it also significantly increases memory usage on apiserver.
In particular, our scalability tests on 100-node real clusters show that after enabling GarbageCollector in them memory usage of apiserver increased (99th percentile):
from ~0.9GB
to ~1.7GB

This is huge!

I didn't hav

[2016-08-18 12:33] jayunit100 commented on #22759
Close, `examples/` as a whole is going to die eventually i think.  k8petstore works on any machine w/ kubectl setup.

[2016-08-18 12:33] #22759 closed

[2016-08-18 12:43] jsoriano commented on #28545
I have seen the same behaviour with similar configuration in a testing environment, it seems that the problem was this:
[code]
Check in kubelet logs if you have something similar.

I fixed it with `--hostname-override`, but it worked without this flag in 1.2.

[2016-08-18 12:44] wojtek-t opened #30873 "APIserver is terminating all watchers from time to time"
### Extracted from #30275

In our large tests, it sometimes happens that apiserver is terminating all/most of the watchers.

An example:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/4686/

- apiserver is always up and is processing a lot of requests all the time (which means it's not a network issue)
- but there are few moments in the test where a si

[2016-08-18 12:45] wojtek-t commented on #30275
I extracted the initial issue to #30873.

And I'm leaving this bug to tract the resource usage problem.

[2016-08-18 12:48] deads2k commented on #29177
ServiceAccounts are namespace scoped subjects, so when you refer to them, you have to specify the namespace of the service account you want to bind.

[2016-08-18 13:02] smarterclayton commented on #30427
It would need to be available via environment as well.

[2016-08-18 13:06] nhlfr commented on #30298
I'll go with `run` name at the moment.

[2016-08-18 13:08] #28317 closed

[2016-08-18 13:14] wojtek-t opened #30875 "20% of controller-manager CPU is spent on validating labels"
Looking into profiles from different performance tests, we can see that ~20% of the whole CPU usage is spent in validating labels when building selector:
https://github.com/kubernetes/kubernetes/blob/master/pkg/labels/selector.go#L791
calls:
https://github.com/kubernetes/kubernetes/blob/master/pkg/labels/selector.go#L117
https://github.com/kubernetes/kubernetes/blob/master/pkg/labels/selector.go#L

[2016-08-18 13:32] justinblayney opened #30877 "incorrectly added to this thread"
Hello, you guys mentioned me In this thread and I get email updates, please remove me from the mailing list

justin@justinblayney.com

i have never had any interest in this, someone tagged me or added me by mistake

[2016-08-18 13:44] wojtek-t commented on #30875
I would suggest one of two options:
- call NewRequirement only when parsing requirement in "parseRequirement" and not call it from SelectorFromSet
- add a new methods:
  -  "SelectorFromValidatedSet"
  - "labels.Set::ValidatedAsSelector"
and use ValidatedAsSelector where possible

The former one is a trivial change, the latter would require finding all places where validation is not unnecessary be

[2016-08-18 13:45] k8s-merge-robot opened #30878 "[k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/261/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}

[code]

[2016-08-18 13:56] smarterclayton commented on #27454
SGTM

[2016-08-18 13:59] wojtek-t commented on #30873
The same happened here:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-kubemark-gce-scale/1352/console

[2016-08-18 14:14] wojtek-t commented on #30873
So in the run mentioned above I'm seeing this in the logs:
[code]

which suggests that:
- either we weren't able to process events from etcd fast enough
- or etcd weren't able to send them fast enough
- is something else possible?

@hongchaodeng @xiang90 ^^

[2016-08-18 14:16] pracucci opened #30883 "kubectl config use-context exits with code 0 on error"
**Kubernetes version**: 1.3.3

**Environment**:
- **OS**: OSX 10.9.5

**What happened**:
When I run `kubectl config use-context <not-existing-context>` the exit code is 0.

**What you expected to happen**:
I do expect an exit code different than 0 (ie. 1).

[2016-08-18 14:18] smarterclayton commented on #30819
Yes this is marked as a 1.5 thing now.

[2016-08-18 14:26] cben commented on #29289
Rebuilt from current master.  [Same results](https://gist.github.com/cben/b1258fbedd4c00eda80944be80b2ce9d) as [here](https://github.com/kubernetes/kubernetes/pull/29437#issuecomment-234926478) — after starting hack/local-up-cluster.sh,
"Registered Node" event has good uid,
but "Starting kube-proxy", kubelet", and "status is now: ..." events all have uid == name.

@AdoHe you wrote there:

Do you m

[2016-08-18 14:29] eparis commented on #27454
clayton is wrong here. the upstream library has a bug. It has always (properly) handled CSV at Parse() but if one used the GetStringSlice() helper instead of the direct variable set at flag definition it would improperly screw up the results. Now that I see the bug, we'll get it fixed upstream (with proper CSV escaping)

[2016-08-18 14:30] wongma7 commented on #30854
This looks just like https://github.com/kubernetes/kubernetes/issues/26866. What is the client version,  `kubectl version --client`?

[2016-08-18 14:34] smarterclayton commented on #27259
This was fixed.

[2016-08-18 14:34] #27259 closed

[2016-08-18 14:36] mwielgus opened #30885 "integration test flake: kubectl and metrics integration test build failed"
More details here:

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/30874/kubernetes-pull-test-unit-integration/40295

[2016-08-18 14:55] johscheuer opened #30886 "Compilation error on OSX: undefined: procfs.PKill"
Compiling fails on OSX/MacOS:

[code]

[2016-08-18 14:59] timothysc commented on #30871
/cc @rrati

[2016-08-18 15:02] AdoHe commented on #29289
[code]
@smarterclayton what do you think about this? kubelet&kube-proxy still use node name as node uid when report event. I know the uid is generated in server side, but kubelet can get this after sync with apiserver, maybe we should use uid after we get it.

[2016-08-18 15:27] nhlfr commented on #30427
Of course. What I'm proposing is:

* applying `pod.beta.kubernetes.io/petset-index` annotation with pet set index to any pods created during pets creation
* adding `dependencies.petSetIndex` label which may be used for environment downward API
* using the info from `pod.beta.kubernetes.io/petset-index` annotation to fill up the env with `dependencies.petSetIndex` field reference

[2016-08-18 15:31] AdoHe commented on #30883
@pracucci thanks for reporting this. It should be a bug and I can see the root cause.

[2016-08-18 15:31] AdoHe commented on #30883
@kubernetes/kubectl

[2016-08-18 15:31] #30855 closed

[2016-08-18 15:33] deads2k commented on #30883
I thought there was already a pull for this: https://github.com/kubernetes/kubernetes/pull/24438

[2016-08-18 15:46] quinton-hoole commented on #22077
@colhom Could you do this while you're busy with the other AWS Federation test stuff?

[2016-08-18 15:55] quinton-hoole commented on #19443
I believe that @fgrzadkowski and his team are are working on this.  Assigning to him to find an owner.  Also provisionally adding milestone 1.5.

[2016-08-18 15:56] dchen1107 commented on #30886
Caused by https://github.com/kubernetes/kubernetes/pull/30087?

cc/ @dims

[2016-08-18 16:00] kfox1111 commented on #29607
Ok, then coping them to an emptyDir is probably the correct behavior then.

What is the deal with the ..data/ dir though? will it always be the case that they are in ..data/? Are there any cases where it isnt?

[2016-08-18 16:02] johscheuer commented on #30886
Yes this is caused by https://github.com/kubernetes/kubernetes/pull/30087 and https://github.com/kubernetes/kubernetes/pull/30723 didn't fixed it for OSX/unsupported OS. I fixed the unsupported file https://github.com/kubernetes/kubernetes/pull/30887

[2016-08-18 16:02] jberkus commented on #30716
@thockin I'm not looking to make this *possible*, I'm looking to make it *simple*.  It's possible now, but a large number of our users can't figure out how to do it.  And this is a spec issue, so the purpose of this is "let's determine the spec for this".

Projecting configuration files into running containers is something our users need to do for something like 3/4 of running containers.  Right n

[2016-08-18 16:03] smarterclayton commented on #1450
This is done.

[2016-08-18 16:03] #1450 closed

[2016-08-18 16:03] smarterclayton commented on #2325
Closing as out of date

[2016-08-18 16:03] #2325 closed

[2016-08-18 16:04] smarterclayton commented on #1053
I think this can be closed, in practice this is documented and secured sufficiently now.

[2016-08-18 16:04] #1053 closed

[2016-08-18 16:05] dchen1107 commented on #30861
@JeanMertz Thanks for reporting the issue. Yes, I agreed that the error message is difficult to understand, but unfortunately the blow message is the error received by Kubelet from docker daemon.

[code]

Any suggestion we can do better?

[2016-08-18 16:09] quinton-hoole commented on #30544
@nikhiljindal and I discussed this with @thockin yesterday, and agreed on using "ing".  A few caveats to be aware of:

1. "short DNS name expansion" will not work for ingresses, due to the fact that we've exhausted the maximum DNS search path length of 6 already.  So e.g. "myingress" will not auto-expand to "myingress.mynamespace.ing.<domain>  This makes ingress somewhat of a second class citizen

[2016-08-18 16:10] quinton-hoole commented on #30544
@madhusudancs FYI.

[2016-08-18 16:10] dchen1107 commented on #30850
@249043822 Thanks for reporting this. Close this in favor of #3595

[2016-08-18 16:10] #30850 closed

[2016-08-18 16:11] thockin commented on #29607
..data gives us a way to do atomic updates of all the files at the same
time when the CanfigMap changes

On Thu, Aug 18, 2016 at 9:01 AM, kfox1111 <notifications@github.com> wrote:

[2016-08-18 16:12] erictune commented on #30819
More specific example of OP's item 4:

If you wanted to give kubelet only the privileges it needs, you might want to give it permission to update Status, but only to read Spec.  Init-container status is stored in annotations.  So you cannot do that.

[2016-08-18 16:14] bgrant0607 commented on #23782
@tagomoris By "labels", do you mean Docker labels, or arbitrary key-value pairs, or something else?

[2016-08-18 16:16] thockin commented on #30544
as per quinton, "ing" seems fine.  @smarterclayton because DNS

On Thu, Aug 18, 2016 at 9:11 AM, Quinton Hoole <notifications@github.com>
wrote:

[2016-08-18 16:17] thockin commented on #30716
No disagreement, but we should first explore refinements on existing
behaviors before piling on new abstractions and API kinds.

On Thu, Aug 18, 2016 at 9:03 AM, Josh Berkus <notifications@github.com>
wrote:

[2016-08-18 16:18] bgrant0607 commented on #23782
@tagomoris We also need to be able to handle logging to files, which I assume the Docker logging driver does not.

[2016-08-18 16:19] jberkus commented on #30716
I'm OK with that.  Would you be willing to sketch out a doc on how you'd do it, now?  Because you seem to find existing approaches easier than I do.

[2016-08-18 16:23] dims commented on #30886
@johscheuer thanks!

[2016-08-18 16:31] smarterclayton commented on #30544
Is "ing" really the best we can do?  My argument as a human being is that "ingress" I could maybe understand, but I will never guess "ing" and it looks like a dangling participle.  :)

[2016-08-18 16:32] hongchaodeng commented on #30873
Unable to access the link

[2016-08-18 16:33] justinsb commented on #30875
I presume it is one of the regexes?  Is one of them somehow pathological?  If so, maybe we could rewrite them as code, as they seem very straightforward.

I agree that validation on read is overkill, but if we can make it trivially fast that benefits us across the board.

But I am an optimist :-)

[2016-08-18 16:36] smarterclayton commented on #30544
I don't *hate* ing, but it does make me think of things like `myingress.walk.ing.cluster.local` and that makes me think it falls into "cute" rather than "obvious".

[2016-08-18 16:39] jsafrane opened #30897 "Find a way to pass a secret to dynamic provisioner"
Currently, StorageClass contains `map[string]string` with configuration for dynamic provisioning. These parameters are passed to volume plugin to provisioning a volume. Some provisioners (e.g. Gluster) need also username and password in order to access the remote storage appliance and provision something.

It's undesirable to have a password in clear text in StorageClass and we should find a way h

[2016-08-18 16:39] jingxu97 opened #30898 "node not exist failure during node status update flush controller's log"
@saad-ali @matchstick
From issue #29903, I noticed that under attachdetach controller, reconciler keeps updating node status every 100ms. In some cases, the node no longer exists but reconciler still has a stale cache information of it. The error message quickly flush the kube-controller-manager's log.
1. Quick fix: Lower the level of this log so by default it won't show up
2. Right fix: have a go

[2016-08-18 16:41] timothysc commented on #30875
+1

[2016-08-18 16:42] quinton-hoole commented on #29341
This is done.

[2016-08-18 16:42] #29341 closed

[2016-08-18 16:43] hongchaodeng commented on #20504
It's possible to make transformer attach lease with additional complexity. Instead, I think there is only loose requirements on events and we can handle that in a simpler way.

The solution @wojtek-t described above is excellent too. Once you have written and run the program, let us know the results and problems if any.

[2016-08-18 16:43] thockin commented on #30544
pod, svc, ing, ept are all pretty obvious.  I think the *real* answer will
be to chain an "external" service onto an ingress IP so that short names
work, so that direct use of ing names will be few and far between.

If we did that nowish, do we still need ing?

On Thu, Aug 18, 2016 at 9:37 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-18 16:48] kargakis commented on #30784
cc: @deads2k

[2016-08-18 16:48] dchen1107 commented on #30752
Above @coufon's test result proves my initial suspect that the root cause in @colemickens 7-min use case is containerized kubelet. But @colemickens's recent experiment is not running in a container. @colemickens could you please provide us more information:

1) cat /proc/<kubelet-pid>/cgroups to find kubelet's cgroup
2) check root_cgroup/blkio/kubelet/blkio.weight & blkio.weight_device setting
3)

[2016-08-18 16:48] ymqytw commented on #30562
#30815

[2016-08-18 16:48] thockin commented on #30716
I have zero bandwidth for the next few weeks.  We *need* community folks
like yourself to come up to speed on alternatives and help make educated
designs.  As much as I like having an opinion on everything, there aren't
enough hours in the day.  The way this community grows and thrives is when
new people step into the light and own problems :)

I appreciate your vociferous advocacy of the user in

[2016-08-18 16:51] dchen1107 commented on #30740
@mikedanese could you please take a look at this one? Thanks!

[2016-08-18 16:53] quinton-hoole commented on #30544
@thockin I'm not sure that I fully understand what the API semantics of "ingresses auto-fronted by external services" would be.  I guess it could be made to work, but seems to require more thought than we have time for in 1.4.  The presence of some DNS name for the Ingress is a pre-requisite Federated Ingress, which is in turn planned for 1.4.

So as far as I can tell, we have a few concrete optio

[2016-08-18 16:54] ericchiang commented on #30784
Note that roles are a concept unique to RBAC. They aren't a part in other authorizers and aren't appropriate for a general discovery API.

[2016-08-18 16:55] dchen1107 commented on #30712
Thanks for reporting the issue. To help further understanding your problem, could you please provide the following information:

When Node is NotReady, please run command: kubectl describe nodes <node-id> and copy&paste the result here. Normally this will tell you why node is not ready.

What is your docker version?

[2016-08-18 16:57] pwittrock opened #30899 "Kubectl check for overlapping selectors when creating deployments"
Creating deployments with overlapping selectors causes bad things to happen.  Before creating a deployment, the client should check if there are any existing deployments with overlapping selectors

[2016-08-18 16:59] quinton-hoole commented on #29338
Fixed by #29773

[2016-08-18 16:59] #29338 closed

[2016-08-18 17:00] #30883 closed

[2016-08-18 17:00] pwittrock commented on #30833
@erictune FYI

[2016-08-18 17:01] dchen1107 commented on #25893
I am closing this one since all validation and release doc were done for 1.3 release.

[2016-08-18 17:01] #25893 closed

[2016-08-18 17:02] pwittrock commented on #30785
In the example, why is the pod condition false?

[2016-08-18 17:02] thockin commented on #30544
I am OK with (1), I don't think it is particularly detrimental to long-term
goals.

(2) won't happen so (3) is the other  choice.  The implication is that when
you create an ingress and you want to give it a DNS name you ALSO create a
Service with `clusterIP: None` and no `selector`, and then create a
same-name Endpoints with a single IP in it.

On Thu, Aug 18, 2016 at 9:54 AM, Quinton Hoole <noti

[2016-08-18 17:03] quinton-hoole commented on #29343
Fixed by #29793, #30419

[2016-08-18 17:03] #29343 closed

[2016-08-18 17:06] pwittrock commented on #30763
Sounds cool.  If you are interested in contributing this checkout:

https://github.com/kubernetes/community/wiki/WIP:-Contributor-Guide:-kubectl-new-contributor-onboarding-guide

[2016-08-18 17:06] quinton-hoole commented on #29345
Tracked by #29768 - closing this one.

[2016-08-18 17:06] dchen1107 commented on #30706
@justinsb We need to investigate on this. We didn't change minimal kernel version and docker version for both 1.3 and 1.4 release.

I did observe the same kernel panics before 1.3 release and we even introduces a node-problem-detector daemonset to make the issue visible. But with kubernetes 1.3 + docker 1.11.2 together on containervm e2e tests, I haven't seen such kernel panics.

One possibility i

[2016-08-18 17:07] quinton-hoole commented on #28633
Tracked in #29632, #29929 - closing this one.

[2016-08-18 17:07] #28633 closed

[2016-08-18 17:07] quinton-hoole commented on #28602
Fixed by #30409

[2016-08-18 17:07] #28602 closed

[2016-08-18 17:09] smarterclayton commented on #30544
I am not opposed to 1 either.  My concern is that the other side of this is app auto discovery of external names, which (to me) is a really big problem (how does a pod get *its* public name easily).  I don't think this blocks that (in some cases it makes it easier).

[2016-08-18 17:11] mattjonesorg commented on #30518
Would this be an Ingress Controller implementation for the Application Load Balancer?

[2016-08-18 17:11] zefciu commented on #30716
I have created a simple PoC for configmap templating here: https://github.com/kubernetes/kubernetes/pull/30502

My solution however uses downwardAPI volumes and the configfiles are simple another possible item type that can be used there. Your idea with bare files that can be placed anywhere seems to be superior. I don't know however how it would be with implementation. Also what would be the poss

[2016-08-18 17:11] pwittrock commented on #30785
cc @pwittrock

[2016-08-18 17:12] pwittrock commented on #30785
@bprashanth What is the solution you are proposing?

[2016-08-18 17:13] quinton-hoole commented on #27565
Closing.

[2016-08-18 17:13] #27565 closed

[2016-08-18 17:14] quinton-hoole commented on #26723
This is done in kubernetes/test-infra#335. Closing.

[2016-08-18 17:15] kfox1111 commented on #29607
I didn't think thats possible to do atomically? Near atomic I could see.
checkout to ..data2, mv ..data ..data.old; mv ..data2 ..data; rm -rf ..data.old

Is there a syscall to swap directories I don't know about?

Or is there yet another directory and ..data is a symlink? If that were the case, you could do a link swap atomically
ln -s ..data.newdir ..data.new; mv -Tf ..data.new ..data

[2016-08-18 17:15] quinton-hoole commented on #26668
Most of this is done in a recent PR by @justinsb. We can to the rest post-v1.4.  Kicking out of this milestone.

[2016-08-18 17:18] quinton-hoole commented on #23653
@colhom To be clear, as discussed, you're going to send in some PR's to configure our standard Jenkins to run  federation e2es on GKE and AWS,  right?

[2016-08-18 17:19] thockin commented on #29607
There is a symlink involved :)

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/atomic_writer.go

On Thu, Aug 18, 2016 at 10:15 AM, kfox1111 <notifications@github.com> wrote:

[2016-08-18 17:22] mlbiam commented on #30784
@ericchiang sure.  I was thinking of https://github.com/kubernetes/dashboard/issues/964#issuecomment-240473494 .  For instance in OpenShift if I'm not a member of the project's admin role I can't create new pods (at least OOTB).  Not sure how thats implemented in OpenShift's console but it looks like if there was a comprehensive "this is what you have access to" it would be useful.

[2016-08-18 17:29] deads2k commented on #30784
I'm not against adding something like openshift's `SelfSubjectRulesReview` to the rbac group, but it would be specific to rbac, not in the generic authorization API.

I'm am opposed to exposing roles externally if there's any way to avoid it.

For details, see `oc policy can-i --list --loglevel=8`.

[2016-08-18 17:31] deads2k commented on #30784
It sounds like you want to hit the `authentication.k8s.io/v1beta1/tokenreviews` endpoint we added this release.  It gives back users and groups for a token and I'd expect it to work for an OIDC token.  It would not work for certificate based users.

I'm not strict against a whoami alternative to the tokenreviews endpoint, but I'd like to see how much mileage we get out of tokenreviews first.

[2016-08-18 17:32] deads2k commented on #30784
@kubernetes/sig-auth

[2016-08-18 17:35] kfox1111 commented on #29607
Ah. there it is. :)

Thanks. That clears it up in my head. :)

[2016-08-18 17:35] yujuhong commented on #29308
#30867 is another example of this flake.

[2016-08-18 17:36] ericchiang opened #30905 "OIDC authentication plugin: add support for authentication.k8s.io/v1beta1/tokenreviews"
Brought up in #30784.

Can someone assign me to this?

[2016-08-18 17:36] yujuhong commented on #29308
#30862 has the same symptom too.

[2016-08-18 17:37] whitlockjc commented on #30784
I'm not sure that a `/whoami` is the right place to do this.  The equivalent resource for things like BitBucket, GitHub, OpenID Connect, ... do not give the group/role details for a user and instead, there are separate APIs for retrieving these details.  I do like the idea of a `/whoami` to be able to test that your cert details and/or OIDC configuration is right, but is this the place for more de

[2016-08-18 17:45] ericchiang commented on #30905
also "area/auth" might be a better label for this

[2016-08-18 17:48] deads2k commented on #30905
@ericchiang I plumbed it through directly to the authenticator.  Unless you did something unusual, this should just work.

[2016-08-18 17:48] thockin opened #30908 "Service with type=NodePort and clusterIP=None is allowed"
The combination of NodePort and headless is not valid today.  The apiserver allows it but kube-proxy does not implement it.

We should either say that nodeport should treat the set of backends just like the service VIP or we should make apiserver reject it.  I lean towards the latter.  It should be a very simple change, great for someone who doesn't know this logic so well to learn it.

[2016-08-18 17:51] vishh commented on #30752
FYI: Kubelet does not perform any block IO throttling as of now for itself
or any other entity on the node.

On Thu, Aug 18, 2016 at 9:49 AM, Dawn Chen <notifications@github.com> wrote:

[2016-08-18 17:52] ericchiang commented on #30905
Oh perfect. I'll test it and close this once I confirm it works.

[2016-08-18 17:52] thockin opened #30909 "Service with type=LoadBalancer and clusterIP=None is allowed"
The combination of LoadBalancer and headless is not valid today. The apiserver allows it and controller-manager makes the LB, but kube-proxy does not implement it.

We should either say that loadbalancer should treat the set of backends just like the service VIP or we should make apiserver reject it. I lean towards the latter. It should be a very simple change, great for someone who doesn't know t

[2016-08-18 18:00] dchen1107 commented on #30752
@vishh Yes, we know Kubelet doesn't. But the issue here indicates containerized Kubelet's IOs is throttled, and we are trying to figure out why, especially the user is running kubernetes-anywhere on Azure, which we, node-team don't normally test.

[2016-08-18 18:03] lavalamp commented on #30819
I thought you could write to annotations by posting to the status endpoint?

On Thu, Aug 18, 2016 at 9:12 AM, Eric Tune <notifications@github.com> wrote:

[2016-08-18 18:03] lavalamp commented on #30871
We can shrink the deserialization cache size, maybe.

[2016-08-18 18:04] colemickens commented on #30752
Here's how I was running `kubelet` originally: https://github.com/kubernetes/kubernetes-anywhere/blob/690418e84bd0567330b956345f424c698787c2d8/phase2/ignition/vanilla/kubelet.service

Here's how I was running `kubelet` when testing it not in a container: https://github.com/colemickens/kubernetes-anywhere/blob/015c0cecae32badea58f1cbf48ef505b27761e46/phase2/ignition/vanilla/kubelet.service

I will

[2016-08-18 18:05] wojtek-t commented on #30871
We probably can (I would love to get rid of it completely), but it's pretty small fraction of memory...

[2016-08-18 18:07] gmarek commented on #30536
@derekwaynecarr - as 1) is fixed can we close this issue?

[2016-08-18 18:09] ncdc commented on #30536
@gmarek #30624 hasn't merged yet (it's in the queue)

[2016-08-18 18:11] gmarek commented on #30536
Oh sorry - I was sure it got merged in last couple of days... Oh freeze dates...

I checked that it will actually close this issue, so we're golden.

[2016-08-18 18:12] olalonde opened #30910 "runContainer: API error (500): unable to open database file"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS (kube-up.sh, 3 minions)
- **OS** (e.g. from /etc/os-release): default (debian)
- **Kernel** (e.g. `uname -a`): `Linux ip-172-20-0-131 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux`

- **Install tools**: kube-up.sh

**What happened**:

Some

[2016-08-18 18:18] vishh commented on #29033
pod, but was unable to do so because an old pod is stuck terminating, and
in some cases now stuck terminating for 10 minutes because

I'm hoping this will not be the case because the Node would have marked as NotReady by then and then pods pending deletion would be permanently deleted by node controller.

Why do we have to wait for 5 more minutes?

nfs servers hang on mount/unmount!  In that case,

[2016-08-18 18:24] vishh commented on #30782
I'm not sure if `kubectl top` is meant for operators. Imagefs could be an
implementation detail. For example eviction thresholds are not exposed
currently via kubectl, which means that the actual utilization cannot
really grow up to available capacity.

On Wed, Aug 17, 2016 at 9:16 PM, Derek Carr <notifications@github.com>
wrote:

[2016-08-18 18:25] vishh commented on #30782
In any case, if no values are going to show up for Storage in v1.4, I'm ok
with removing it.

On Thu, Aug 18, 2016 at 11:24 AM, Vishnu Kannan <vishnuk@google.com> wrote:

[2016-08-18 18:25] olalonde commented on #30910
`df -h` on my 3 minions:

[code]

[2016-08-18 18:31] #29800 closed

[2016-08-18 18:37] saad-ali commented on #30898
Lowering the priority of the `Could not update node status` warning is not the right answer, that just masks a real issue. The issue was fixed by https://github.com/kubernetes/kubernetes/pull/30737 and I believe that is the right fix. If you agree we can close this issue.

[2016-08-18 18:37] jayunit100 commented on #18099
A possible alternative if folks dont like `ini` is https://github.com/spf13/viper  @spiffxp .  opinions?  anyone have experience with it?

[2016-08-18 18:40] dchen1107 commented on #30576
@kevincox Is @smarterclayton suggested above resolving your issue? Or

You are asking something else? From title of the issue, sounds like you don't want to / couldn't build docker image. Instead, your application is packaged properly, and the dependencies are resolved through other way. Basically you don't care about the isolated environments for your applications at the kernel level created thro

[2016-08-18 18:40] girishkalele opened #30916 "Protect activation of alpha local endpoints load balancer feature with cmdline flags"
Please provide cmd line flags to activate the new alpha feature for load balancing to local endpoints only.

Following daemons will need this flag:

kube-controller-manager
kube-proxy

[2016-08-18 18:43] dchen1107 commented on #30910
The error message of "runContainer: API error (500): unable to open database file" should come from docker daemon. which docker version you are running?

[2016-08-18 18:43] krmayankk commented on #23211
@kargakis when a deployment rolls back , the deployment spec will still be the old desired state right but somehow that will be marked as failed and rolled back and hence the controller won't try to reconcile it again with the desired state until something on the deployment spec changes again , does that look right ?

[2016-08-18 18:46] lavalamp commented on #30871
Why do you think it's a small fraction of memory? I think it's probably the
only thing that keeps the (go) garbage collector from reclaiming all of the
ugorji-decoded objects?

On Thu, Aug 18, 2016 at 11:05 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-08-18 18:47] olalonde commented on #30910
Also noticed this in the logs:

[code]

which is strange because I have ample disk space available as far as I can tell.

I'm using `Docker version 1.9.1, build a34a1d5` (which was installed by kube-up.sh).

[2016-08-18 18:47] piosz commented on #30818
this should be fixed by bumping Heapster version - the new version has support for lists
cc @mksalawa

[2016-08-18 18:49] saad-ali commented on #30898
Lowering the priority is non-ideal but should be fine for now

[2016-08-18 18:49] wojtek-t commented on #30871
I think that I looked into it few weeks ago but I may have misinterpreted it. I will try to check it tomorrow or early next week.

[2016-08-18 18:50] girishkalele commented on #30916
https://github.com/kubernetes/kubernetes/pull/29409

[2016-08-18 18:58] olalonde commented on #30910
More logs in case it helps:

[code]

[2016-08-18 19:03] alph486 opened #30917 "AWS ELBs do not reflect current registered Node after scale events"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Provider**: AWS, m4.large across the board.
- **OS**: CoreOS stable (1068.9.0)
- **Kernel** (e.g. `uname -a`): `Linux <redacted> 4.6.3-coreos #2 SMP Fri Aug 5 04:51:16 UTC 2016 x86_64 Intel(R) Xeon(R) CPU E5-2676 v3 @ 2.40GHz GenuineIntel GNU/Linux`
- **Install tools**: `kube-aws` v0.8.1 (From CoreOS)
- **Others**:

**Wh

[2016-08-18 19:19] maklemenz commented on #28835
@chrislovecnm  #30577 does more and adds usefull examples, I would like to see that merged.

[2016-08-18 19:19] #28835 closed

[2016-08-18 19:36] ido-ran commented on #19221
I've run into the same issue, removing the http://${1}:4001 change something but the deployment still fail with the following outout. It continue retry but never did.

[code]

[2016-08-18 19:42] madhusudancs commented on #30544
@thockin @quinton-hoole a couple of questions for clarification:

1. So this means, no Ingress object gets an A record today?

2. If the ingresses were exposed on a service-ip (or what it really means is a cluster-local IP I guess?) how are we going to disambiguate between a local address and an external address. In a Service it is very clear. `.spec.clusterIP` is internal and whatever is in `.sta

[2016-08-18 19:46] thockin opened #30918 "Idea: make headless services first-class"
Given #30908 and #30909, it feels like maybe we would do well to make "Headless" an actual value for cluster.spec.type.  Specifically, we don't intend to support node-ports or load-balancers for headless services, but it is possible to specify that intersection.

It would be cleaner, I think, to say:

headless-params:
- selector (optional)
- ports[*].port, protocol,  and name

clusterip-params:
-

[2016-08-18 19:49] thockin commented on #30544
On Thu, Aug 18, 2016 at 12:43 PM, Madhusudan.C.S
<notifications@github.com> wrote:

correct

up to now, ingress is presumed to be a cluster-edge ingress, and as
such it would have a non-cluster-local IP

[2016-08-18 19:51] spiffxp commented on #18099
iniflags looks pragmatically fine, I was just asking from the perspective that since we sling around JSON and YAML for most other kubernetes resource specs, why not attempt to do the same here?

spf13/viper made me go "ooo shiiiny" since we use spf13/cobra for CLI parsing as-is, and it's got optional integration with viper, but I personally have no hands-on experience with either

[2016-08-18 19:53] josefhernandez opened #30920 "Typo in ubuntu deployment guide"
According to the ubuntu deployment guide: http://kubernetes.io/docs/getting-started-guides/ubuntu/ you must configure the following variable before kube-up.sh
`export role="ai i i"`

but looking at ubuntu/config-default.sh it looks like the correct name is roles not role
roles=${roles:-"ai i i"}

[2016-08-18 19:57] tamalsaha opened #30921 "How to handle automatic node termination for pods using PV?"
Hi,
We are running a Kubernetes 1.2.4 cluster on GCE. Today a node got terminated for maintenance. The node came back up and was ready. But the issue was that there were some pods running with PV mounted. When the node came back up, it had the GCE disks attached to it but the pod restarted (running with rc replica=1). Since the disks were already attached, pods could not start. In the operation pa

[2016-08-18 19:58] ixdy commented on #18099
I think @fejta has opinions. ref https://github.com/kubernetes/test-infra/pull/250 and https://github.com/kubernetes/test-infra/pull/257.

[2016-08-18 20:19] euank commented on #30681
I think we should be able to document and rely on a minimum cni version and set of plugins just to have a sane support matrix, but if we need to work around this (e.g. if our minimum supported version doesn't include lo) it's easy to make this work with a short patch. https://github.com/kubernetes/kubernetes/compare/master...euank:cni-lo-nondocker?expand=1

I'd definitely prefer just being able to

[2016-08-18 20:28] jberkus commented on #30716
@thockin I hear you.  Well, anything I do on this will need to come after CNCF day ...

[2016-08-18 20:34] janetkuo commented on #30833
Found #28684 which added rate limiter to the queue

[2016-08-18 20:36] edsiper commented on #29782
Newer Docker images using the spec from the official repository are based on AlpineLinux and are around ~38MB:

https://github.com/fluent/fluentd-docker-image

[code]

[2016-08-18 20:42] kevincox commented on #30576
I haven't got around to trying it yet but I suspect it might. I'll try to test it out this weekend.

And your understanding seems to be spot on. That is exactly what I am looking for. If I have to run it through docker that will probably be fine although it would be nice to be able to do it without the docker hacks.

[2016-08-18 20:45] janetkuo commented on #30833
This bug is discovered in an earlier release, and should be fixed on HEAD now. Closing. :tada:

[2016-08-18 20:45] #30833 closed

[2016-08-18 20:47] k3a commented on #13598
Yes this really needs to be addressed

[2016-08-18 20:49] cjcullen commented on #30617
@Cloven
1. I'd recommend creating a service account specifically for the CI server. Then, give that service account the "Container Engine Developer" role in your project's [IAM page](https://pantheon.corp.google.com/iam-admin/iam/project). This will allow it full access inside the cluster, but not any other privileges in your project.

2. Docs are on their way.
Container Engine Admin: Permissions

[2016-08-18 20:50] justinsb commented on #30706
Thanks @dchen1107  AWS is not using kubenet (though it should).  I can probably upgrade the cluster most affected to use kubenet and see if it makes a diference.

Also, for unknown reasons, we aren't logging the kernel panic into the journald logs.  Would the NPD pick up on it if it is not in the logs, but only visible e.g. in uptime?  We currently get the hint from the uptime, and then confirm by

[2016-08-18 20:54] cjcullen commented on #30617
@Draiken that's correct. Kubectl will use the ApplicationDefaultCredentials library, which should now be authenticating as the same service account that gcloud is using.

[2016-08-18 20:55] micahhausler opened #30924 "Feature Request: Allow RBAC Roles to have permissions in other namespaces"
I have 2 namespaces, `["myapp", "default"]`. I created a “myapp” deployment and a “myapp” service in the “myapp” namespace.  (I’m using RBAC and its awesome)

I have Jenkins workers running in the “default” namespace, and I’d like to assign a `ServiceAccount` to Jenkins that has permissions to modify deployments in the "myapp" namespace

Here’s my current `ServiceAccount`, `Role`, and `RoleBinding

[2016-08-18 20:55] Cloven commented on #30617
@cjcullen, thanks, sounds about right.  Glad to hear the docs are catching up.  Also look forward to more finely-grained IAM permissions; e.g., I'd like to differentially secure dev, staging and prod clusters under one project.

[2016-08-18 20:56] caesarxuchao commented on #30759
It's now failing with density test failed with `error while waiting for pods to become inactive`.

That's because the timeout is too small (10 mins), I'll increase it to 20 mins. According to the last green gce-scale test, where GC is disabled, it takes it ~12 mins for all pod becoming inactive.

Also, on gce-500, where there are 15000 pods, it takes ~7min to garbage collect all pods. Without GC,

[2016-08-18 20:56] dchen1107 commented on #27194
Looks like we have overflow in some other places in our stack.

[2016-08-18 21:05] thockin commented on #29607
Sharp eyes :)  The design is a little kludgey but it works pretty well in
practice.

On Thu, Aug 18, 2016 at 10:36 AM, kfox1111 <notifications@github.com> wrote:

[2016-08-18 21:05] jingxu97 commented on #29903
After checking the log, we found another related issue is if node no longer exists, node status updater fails to update all the rest of the nodes and cause kubelet receiving incorrect information from node status and acting upon it. This is fixed by part of PR https://github.com/kubernetes/kubernetes/pull/30737

[2016-08-18 21:17] madhusudancs commented on #30544
@thockin Ok, thanks.

[2016-08-18 21:25] DreadPirateShawn opened #30926 "Error log "Unable to inspect container" upon pod shutdown"
**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 12.04.4 LTS, Precise Pangolin
- **Kernel** (e.g. `uname -a`): Linux tuk6r1knode3 3.13.0-55-generic #92~precise1-Ubuntu SMP Sun Jun 14 18:32:23 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: N/A(?)
- **Others**: N/A(?)

**What happen

[2016-08-18 21:33] jonathan-kosgei opened #30927 "mkdir -p /opt/gogs/user4 Permission denied error inside pod when using mount for /opt/gogs"
Hi,

I believe I've hit an selinux issue but I'm not sure how to solve it. I'm using the fabric8/gogs image to run gogs in a container and I'd like to persistent the folder containing all the .git folders. To do this I'm mounting /opt/gogs within the container to an nfs share.

However the container fails to create any folders within /opt/gogs returning a Permission denied error of the form

[code

[2016-08-18 21:34] derekwaynecarr commented on #30924
/cc @deads2k

[2016-08-18 21:40] derekwaynecarr commented on #30926
related: https://github.com/kubernetes/kubernetes/issues/22541

sometimes `docker ps` returns a container that `docker inspect` is unable to inspect.

the log is most likely a result of that issue, when this happens, we report the container state as unknown, and log an error.

[2016-08-18 21:40] mtaufen opened #30929 "configz doesn't work on master nodes"
Possible that kube-proxy isn't running on masters in some configurations.
This would mean you can't hit the `api/v1/proxy/nodes/kubernetes-master/configz` to get the master Kubelet's configuration, among other things.

[2016-08-18 21:41] fabioy commented on #28440
Forgot to close this, but this got fixed once 1.3.4 was deployed to GKE staging.

[2016-08-18 21:41] #28440 closed

[2016-08-18 21:48] jingxu97 opened #30930 "Unmount a path that is no longer mounted fails the following clean up sequence"
In current unmount code, it does not check whether the mount point still exist or not. So the following scenario might happen (which cause a flake test #30689)

1. reconciler determines to unmount global path (unmount device), unmount is executed without error, but when remove the directory, it returns "device or resource busy error"
2. unmount operation  is considered failed, so reconciler keeps

[2016-08-18 21:50] jingxu97 commented on #30689
After quickly going through the log, the following happens
1. reconciler determines to unmount global path (unmount device), unmount is executed without error, but when removing the directory, it returns "device or resource busy error"
2. unmount operation  is considered failed, so reconciler keeps trying to unmount device.
3. unmount command fails because the path is "not mounted", and UnmountDev

[2016-08-18 21:52] vipulsabhaya opened #30933 "vSphere cloud provider should return FailureZone if one exists"
**Kubernetes version** (use `kubectl version`):
1.3.6

**Environment**:
- **Cloud provider or hardware configuration**: vSphere

**What happened**:
The vSphere cloud provider only return the Region (datacenter).  If Kubernetes is running within a Cluster in that given Datacenter, the Cluster should be returned as the FailureZone.

**What you expected to happen**:
If Kubernetes is running within a

[2016-08-18 21:52] derekwaynecarr commented on #30909
sent a pr for this while investigating another validation issue.

[2016-08-18 21:56] saad-ali commented on #30930
Why did this start happening recently? Could it be related to https://github.com/kubernetes/kubernetes/pull/27970?

[2016-08-18 22:08] derekwaynecarr commented on #29033
@vish - my point is we continue to try to fix each case where kubelet
cannot meet its SLO, and its current record is not good enough to take away
the user's power.

as for why it takes 10 minutes total see:
https://github.com/kubernetes/kubernetes/issues/30534

On Thu, Aug 18, 2016 at 2:19 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-08-18 22:08] againer opened #30936 "Dockfile for examples/celery-rabbitmq does not match docker image in docker hub."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): celery-rabbitmq

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REP

[2016-08-18 22:09] derekwaynecarr commented on #30534
/cc @vishh -- this is the scenario i most recently debugged with pods that fail to clean-up.  it was related to https://github.com/kubernetes/kubernetes/issues/30536

[2016-08-18 22:15] smarterclayton commented on #29033
So IIUC there are two concerns at play:

1. Make sure the node can clean up volumes / pods safely even when force
deleted - checkpointing helps, and ultimately we have to fix bugs here
because clusters are occasionally rolled back
2. Make sure the node doesn't get abused by the scheduler if people are
force deleting

I feel like #2 we can solve in the scheduler and be safer - anytime you see
delet

[2016-08-18 22:16] dchen1107 commented on #27194
@timstclair and I together looked at @ichekrygin's node stats more closer, and status of Kubelet / cAdvisor looks sane. I believe the overflow is at heapster. I will close this one, and open another one for heapster.

[2016-08-18 22:16] #27194 closed

[2016-08-18 22:18] derekwaynecarr commented on #27194
@dchen1107 - ha, i was greping code for similar math that could be wrong and had same conclusion.  can you link to heapster issue when opened?

[2016-08-18 22:26] ronnielai opened #30938 "Node-e2e density test failure due to the host port conflicts"
I've seen consistent failures from density test in node-e2e suite.

**Steps to reproduce:**
Run "make test-e2e-node REMOTE=true FOCUS="Density"

**Observed result**
https://gist.github.com/ronnielai/03fe48c95dd1f376a11536c95cbc3282

[2016-08-18 22:27] dchen1107 opened #30939 "Heapster cpu/usage_rate returns incorrect cpu/usage_rate caused by overflow?"
Forked from https://github.com/kubernetes/kubernetes/issues/27194

@ichekrygin reported a weird cpu/usage_rate issue from heapster

I am running on v1.3.5 and this still seems to be an issue

[code]

Node version:

[code]

@timstclair and I checked his node stats by collecting  `curl -s http://localhost:10255/stats/summary | jq '.node.cpu.usageCoreNanoSeconds'`. usageCoreNanoSeconds is the accumul

[2016-08-18 22:27] ichekrygin commented on #27194
@dchen1107 - for now I am commenting on https://github.com/kubernetes/heapster/issues/1168 (which is close). I hope to get it re-opened - if not, I will create a new one

[2016-08-18 22:27] dchen1107 commented on #30939
Not sure if we need to patch 1.3 release, but we definitely should address this for 1.4 release.

[2016-08-18 22:29] dchen1107 commented on #27194
@ichekrygin Thanks for pointing me the proper heapster issue. I just opened #30939 and marked it for 1.4 milestone. Thanks!

[2016-08-18 22:31] ichekrygin commented on #30939
@dchen1107: just to point out - this issue totally breaks HPA, causing to thrash (scaling and killing pods)

[2016-08-18 22:33] derekwaynecarr commented on #30939
@kubernetes/rh-cluster-infra @DirectXMan12 -- heads up!

[2016-08-18 22:34] matchstick commented on #30939
@ichekrygin @dchen1107 Just curious,  if this totally breaks HPA how did it not get noticed in the e2e testing for 1.3.0? Can we do something to ensure that if it breaks again or we have other issues like this it can be caught by the HPA testing?

[2016-08-18 22:34] jingxu97 commented on #30637
@Cocotton thank you for providing the information. Just want to confirm, how you write data to volumes? Which pod/directories you were trying to write?

For the pods you mentioned in your last comments, the first two are considered orphaned pods, and kubelet volume manager keeps trying to delete the pods directories (some directories are still mounted, so the delete operation returns with error).

[2016-08-18 22:35] ichekrygin commented on #30939
@matchstick: I noticed this in `v1.3.4` and was able to repro in `v1.3.5` - I didn't try it on `v1.3.0`

[2016-08-18 22:36] dchen1107 commented on #30939
@ichekrygin Thanks for reporting the issue, and I understand how serious and painful the issue is. We are going to fix the issue as soon as possible, and definitely release a new heapster image with a proper version.

[2016-08-18 22:37] wied03 commented on #27282
I think [Dan's post](http://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/) describes pretty well what Docker does.

I think if Kubernetes just had a "SELinuxVolume" flag, it could even infer whether to pass Z or z to Docker based on the access mode of the persistent volume (assuming persistent volumes here).

ReadWriteOnce sort of implies Z whereas Re

[2016-08-18 22:39] matchstick commented on #30939
@ichekrygin I apologize if my comment was mistargeted. I I was asking the question to the active HPA team, I don't know if you are a member or a consumer. Mostly I just want to make sure we detect it in the future.

[2016-08-18 22:45] ichekrygin commented on #30939
@matchstick np at all, and et al thx for looking into this.

[2016-08-18 22:49] ixdy commented on #30862
@coufon this new test looks pretty broken.

[2016-08-18 22:52] nikhiljindal commented on #30754
`test/integration/persistentvolumes` failed again in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/30673/kubernetes-pull-test-unit-integration/40428/build-log.txt, no logs.

[2016-08-18 22:57] timstclair commented on #30939
Specifically, I think it's an underflow. There were some examples (I forget where they came from) of the usage showing up as negative, and the odd values (e.g. `18446744073709550587`) are suspiciously close to `MAX_UINT64 - cpu usage`

[2016-08-18 23:01] jingxu97 commented on #30930
I checked the log, didn't find any thing related to reconstruct state. Also
reconstruct workflow will only take place when kubelet start, it finds some
pod directories that are not in either actual state or desired state. In
our pd test, I could not see such situation will happen.

On Thu, Aug 18, 2016 at 2:57 PM, Saad Ali <notifications@github.com> wrote:

--
- Jing

[2016-08-18 23:05] Random-Liu commented on #30938
@ronnielai Thanks a lot! :)

[2016-08-18 23:08] cjcullen commented on #30617
Here are some docs. Feel free to comment here on what you think is missing/could be better:
https://cloud.google.com/container-engine/docs/iam-integration

[2016-08-18 23:08] nikhiljindal commented on #29887
Discussed this with @bgrant0607 and he agreed that starting with an annotation is fine. We still need to figure out if it makes sense to graduate it into a field. Since this will be for all objects, it will have to go in ObjectMeta.
We also discussed using the new Cluster field in ObjectMeta (https://github.com/kubernetes/kubernetes/pull/28921#issuecomment-240865189) for users to be able to specif

[2016-08-18 23:08] cjcullen commented on #30617
Per-cluster granularity is also on the roadmap :)

[2016-08-18 23:10] thockin commented on #29033
What I dislike most about the proposal is the idea that pods "know" that delete is handled externally because they are pods.  Duh.  I want a more general mechanism.

I actually buy Clayton's "grace=0 is that mechanism" argument, but I also buy that it is not obvious enough.

Something I have wanted in a few cases is a general delete-inhibit.  Something like:

- set obj.metadata.deleteInhibited = [

[2016-08-18 23:13] saad-ali commented on #30930
Ok. The timing of the https://github.com/kubernetes/kubernetes/issues/30689 flake is suspicious

[2016-08-18 23:25] Random-Liu commented on #30779
This should have been fixed by #30198.
And the comment is addressed by #30941.
Close this one.

Feel free to reopen if it happens again. :)

[2016-08-18 23:25] #30779 closed

[2016-08-18 23:26] Random-Liu commented on #29932
This should have been fixed by #30198.
Close this one.

Feel free to reopen if it happens again. :)

[2016-08-18 23:26] Random-Liu commented on #27455
This should have been fixed by #30198.
And the comment is addressed by #30941.
Close this one.

Feel free to reopen if it happens again. :)

[2016-08-18 23:26] #27455 closed

[2016-08-18 23:26] #29932 closed

[2016-08-18 23:31] ericchiang commented on #30924
ClusterRoles only describe a role which can be reused across namespaces. It doesn't grant any permissions without a binding.   If you use a cluster role and two (non-cluster) role bindings you accomplish your goal. I believe the following rule setup does exactly what you're describing:

[code]

[2016-08-18 23:47] vishh commented on #29033
@thockin Your proposal sounds like locks to me. I like your idea. We could add a TTL to these locks to ensure that a runaway kubelet does not end up blocking deletes forever.

user should have to hunt for grace period 0.

+1 @smarterclayton!

The part that is still unclear to me is whether we will restrict forceful deletion of pods (grace = 0) to cluster admins only or open it up to all users? Tha

[2016-08-18 23:50] yujuhong commented on #30926
As @derekwaynecarr said, bad containers could trigger this case. It's an error regardless of the impact, and logging an error message would help debugging (if it's needed).

Hmm...could you watch events from the apiserver instead? Those are more reliable IMO. If you don't want to go through the apiserver, you can still find all the events in the kubelet.log. I would not recommend sending alerts ba

[2016-08-19 00:06] DreadPirateShawn commented on #30926
Could the issue be one of timing, and perhaps treated as such? That is, after docker ps returns the containers, if inspect fails, could it be double-checked whether it still exists or if a container deletion event exists for it, and not log error when it can be determined not an error?

As for the logs, we have to err on the side of caution -- we can't just stop monitoring logs for errors because

[2016-08-19 00:12] dchen1107 commented on #30811
@justinsb We built node-problem-detector to make the kernel / filesystem issues visible. Also in our jenkins for aws, we eneabled node-problem-detector through https://github.com/kubernetes/test-infra/pull/392/files

And the support specifically for the kernel panic like #30706 is addressed by https://github.com/kubernetes/node-problem-detector/pull/22

[2016-08-19 00:17] AdoHe commented on #30908
It should be just some validation logical change.

[2016-08-19 00:17] mikedanese commented on #30740
I'm going to dig into this. Labeling high priority.

[2016-08-19 00:21] yujuhong commented on #13287
Closing this in favor of #26923

[2016-08-19 00:21] #13287 closed

[2016-08-19 00:22] dchen1107 commented on #28687
@mikedanese Could you please take care of this from daemonset? Or some other suggestion on how to handle this? This prevent node-problem-detector from running on e2e tests. Thanks!

[2016-08-19 00:22] AdoHe commented on #30885
@pwittrock

[2016-08-19 00:24] bprashanth opened #30946 "Dont print debug output on delete"
Farily new cluster:
[code]
With yaml
[code]
Unsure if it's just rcs or everything.

[2016-08-19 00:33] yujuhong commented on #30926
Sometimes docker just leaves a container in a bad state that kubelet can *see* it in `docker ps`, but couldn't inspect it. As for timing, kubelet expects to inspect the container after the container exits in normal circumstances, so that kubelet can update the pod status properly. If you can check whether the docker container gets removed before `docker inspect` in docker.log, that might help clar

[2016-08-19 00:37] caesarxuchao commented on #30759
https://github.com/kubernetes/kubernetes/pull/30943 is fixing a memory leak of GC.

[2016-08-19 00:41] Random-Liu opened #30947 "Integration test flake: Data race in k8s.io/kubernetes/pkg/controller/volume/persistentvolume"
I got the following failure in the unit test of k8s.io/kubernetes/pkg/controller/volume/persistentvolume.
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30913/kubernetes-pull-test-unit-integration/40492/

[2016-08-19 00:44] mbohlool commented on #30407
master joined this flaky test. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30233/kubernetes-pull-test-unit-integration/40500/

It is an out of memory problem.

[2016-08-19 00:45] dchen1107 commented on #30811
@justinsb I re-title the issue to reflect what we really want here.

@Random-Liu To finish this, we need

* Get https://github.com/kubernetes/test-infra/pull/392/files merged and build a new image for this daemonset
* Tried to fix / workaround https://github.com/kubernetes/kubernetes/issues/28687, so that  node-problem-detector daemonset will not be scheduled on our master node
* Updates e2e test

[2016-08-19 00:56] lavalamp commented on #30759
@caesarxuchao If the GC was triggering this more often, do you think that maybe that implies that it was doing more resyncs than necessary?

[2016-08-19 01:05] DreadPirateShawn commented on #30926
Fair enough warning. :-)

Regarding the docker.log, I'll get back to you on that tomorrow, assuming logrotate hasn't been too aggressive.

[2016-08-19 01:10] spxtr commented on #30407
Looks like the `n1-highcpu-16`s don't have enough memory.

[2016-08-19 01:13] #22205 closed

[2016-08-19 01:33] caesarxuchao commented on #30759
Yes. My recollection was resync() was not really triggered after we split resync and relist. The GC is resync every 60 second (I copied from some other controller). I'll tune it to 10 mins, that should help with CPU. I think GC doesn't need to resync at all.

[2016-08-19 01:39] againer commented on #30936
A little more info -- if I push celery logs to stdout, I get the following:
[code]

[2016-08-19 01:43] m1093782566 opened #30952 "[kubelet test] Improve kubelet_node_status_test debug info"
I find the output format `%v` of glog couldn't output useful information of  an `api.Node` object. The output of this line https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status_test.go#L492
 is

[code]

- It's difficult for me to tell the difference between `expected` and `got`.

- I prefer to use `diff.ObjectDiff(expectedNode, updatedNode)` to output the debug infor

[2016-08-19 01:45] goltermann commented on #30581
Not sure, honestly.  That's a really common image we pull and it looks like a networking hiccup.  I scanned over existing issues and don't see anything related, and the history of that test has been totally stable besides that one run (https://k8s-testgrid.appspot.com/k8s#gce-examples&width=5).

[2016-08-19 01:46] goltermann commented on #30581
@k82cn I recommend you close this, as I don't really see a way to investigate much from here.

[2016-08-19 01:51] mikedanese commented on #28687
Unschedule existing is a bug :) (ref https://github.com/kubernetes/kubernetes/issues/29178). We need more fine grained control here.

The motivating use case for daemonsets is system components (node-problem-detector, log shipper, kube-proxy, sdn agent). Cluster operators want system components to be running and ready before workloads run on a given node. At the time the daemonset was introduced,

[2016-08-19 02:00] m1093782566 commented on #30952
@vishh
What do you think about it?

[2016-08-19 02:02] DirectXMan12 commented on #30939
@timstclair The past issue was caused by cpu/usage, which is supposed to be monotonically increasing, suddenly decreasing drastically.  So your theory makes sense.

[2016-08-19 02:21] jpiper opened #30957 "Pods failing to schedule due to OutOfCPU errors"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): kinda

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): OutOfCPU

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPO

[2016-08-19 02:28] quinton-hoole commented on #29887
SGTM!

[2016-08-19 02:30] quinton-hoole commented on #30831
@nikhiljindal has been looking into this.  Re-assigning.

[2016-08-19 02:33] TamalSaha commented on #30740
Thank @mikedanese . We were using Debian 8 here.

[2016-08-19 02:47] AdoHe commented on #30946
@bprashanth [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/request.go#L350) ptal.

[2016-08-19 02:50] nikhiljindal commented on #30831
Should have been fixed in https://github.com/kubernetes/kubernetes/pull/30725.
The failing run might be the one which was going on when the PR was merged. This run failed after the original issue was closed (which happened right after the PR was merged). Will keep it open for a day and close if we dont have another failure.

[2016-08-19 03:06] k82cn commented on #30581
@goltermann , agree with you to close this firstly.
BTW, how to close this issue? It seems I don-t have the permission :).

[2016-08-19 03:08] chen0031 opened #30961 "error: yaml: line 2: mapping values are not allowed in this context"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## kubectl       yaml    mapping values are not allowed in this context

**Is this a

[2016-08-19 03:19] AdoHe commented on #30961
@chen0031 would you mind pasting the full yam document here?

[2016-08-19 03:20] fraenkel commented on #28974
The YAML decoder always converts to JSON before decoding into the object.
The only way to make this work would be to go from YAML to the object which would also require one to decorate the API objects with yaml tags.

[2016-08-19 03:22] k8s-merge-robot opened #30962 "kubernetes-e2e-gke-staging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6333/

Run so broken it didn't make JUnit output!

[2016-08-19 03:46] caesarxuchao commented on #30871
It's not so dramatic on 500-gce:
for the load test, build [4893](http://kubekins.dls.corp.google.com:8080/job/kubernetes-kubemark-500-gce/4893/consoleFull), without gc, api-server takes 2661.1MB

And with gc, build [5058](http://kubekins.dls.corp.google.com:8080/job/kubernetes-kubemark-500-gce/5058/consoleFull), it's 2670MB.

I didn't check what 100-node is running though, maybe it's related to wo

[2016-08-19 03:55] quinton-hoole commented on #30831
Thanks @nikhiljindal .  Lets close it now.  It will be automatically re-opened if it re-occurs.

[2016-08-19 03:55] #30831 closed

[2016-08-19 04:41] wied03 commented on #13598
This may be already addressed above, but I also see no way to make ``kube-controller-manager``` work with the API Server in SSL only mode unless the API Server's cert is signed by a trusted CA. I don't know enough about Go off the top of my head to know if you can customize that like Java without changing code.

[2016-08-19 04:49] bgrant0607 commented on #29887
@nikhiljindal Cluster labels will be represented where? Only on the cluster resources in the federated master?

[2016-08-19 04:51] bgrant0607 commented on #29887
Note that the decision about in which cluster to place resources usually depends on the placement of dependent resources.

[2016-08-19 05:10] k8s-merge-robot opened #30965 "[k8s.io] Density [Serial] [Slow] create a sequence of pods [Benchmark] latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/276/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods [Benchmark] latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}

[code]

[2016-08-19 05:11] wied03 commented on #13598
Unless the kubeconfig approach discussed [here](https://coreos.com/kubernetes/docs/latest/deploy-workers.html#set-up-kubeconfig) can work with the controller-manager, and it looks like it does

[2016-08-19 05:19] chengzhang1016 commented on #28105
OK. I will double confirm. Thx.

[2016-08-19 05:22] asalkeld commented on #30818
I think there is also a bug in DoRaw() that ignore the http StatusCode. I'll work up a PR to address that.

[2016-08-19 05:24] hongchaodeng commented on #30873
In the log, it shows (maximum buffer size is 100):
[code]

This is **fast producer, slow consumer** scenario.

I am able to reproduce it with the following simple program (I couldn't reproduce it on e2e test).

[code]

In this case, it will have the same error:
[code]

cc @smarterclayton @timothysc

[2016-08-19 05:26] hongchaodeng commented on #30873
xref: #29888

[2016-08-19 05:29] lavalamp commented on #30759
That's what I'm thinking, too. Maybe we can just turn it off.

On Thu, Aug 18, 2016 at 6:33 PM, Chao Xu <notifications@github.com> wrote:

[2016-08-19 05:32] xiang90 commented on #30873
@wojtek-t

This is more likely. etcd does not block on sending. If the consumer is slow and buffer is full, it will simply close the watcher for v2.

[2016-08-19 05:33] caesarxuchao commented on #30759
My own 500-gce run shows https://github.com/kubernetes/kubernetes/pull/30943 fixed the kube-controller manager's cpu consumption, and memory consumption is 928M (100%) and 657M (90%), which is still higher than without GC (491M, 90% and 100%), but much saner than without #30943 (1880M)

[2016-08-19 05:39] lavalamp commented on #30946
Isn't there already a change out to fix this?

This happens when you forget to put in a field filter...

[2016-08-19 05:45] tagomoris commented on #23782
@bgrant0607 Fluentd logging driver can handle `ExtraAttributes` from logger context of docker, and it was described as (in daemon/logger/context.go):
[code]

[2016-08-19 05:49] Random-Liu commented on #30965
@coufon

[2016-08-19 05:53] m1093782566 opened #30967 "[e2e test] Fix e2e test pause image hard code"
I find most of the e2e test cases use `framework.GetPauseImageName(f.Client)` to represent the pause image, but I still find two places which are still using hard code (`"gcr.io/google_containers/pause-amd64:3.0"`). One place is here, https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cluster_size_autoscaling.go#L464
and the other one is here, https://github.com/kubernetes/kubernetes/bl

[2016-08-19 06:11] spxtr commented on #30967
Sounds reasonable to me. I think @luxas knows more?

[2016-08-19 06:16] m1093782566 commented on #30967
@luxas What's your opinion?

[2016-08-19 06:20] spxtr commented on #30407
Ok, I removed the `n1-highcpu-16`s in favor of `n1-standard-8`s, which were more performant anyway. The GKE smoke test failure looks unrelated.

Please reopen if you see this again and I'll take a closer look.

[2016-08-19 06:20] #30407 closed

[2016-08-19 06:21] mbohlool commented on #30407
Thanks for the help Joe.

[2016-08-19 06:22] #28738 closed

[2016-08-19 06:22] wojtek-t commented on #30759
If you both agree that resyncing is not needed in GC (I looked into the code and it seems to me that it's not), then we should set to to NoResync (I can't remember how exactly it's called). We already use it in few different controllers and in scheduler and it works.

[2016-08-19 06:32] rvrignaud commented on #30617
@cjcullen could we hope per cluster / per namespace granularity ?

[2016-08-19 06:40] spxtr commented on #20653
I think this is still worth looking at. If we're adding a slow e2e test, for instance, it would be awesome to say some incantation and have it run the slow e2e tests.

[2016-08-19 06:41] sshquack opened #30970 "Kubectl panics when getting sorted replica set"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "panic reflect.Value.Elem on zero value", "panic", "reflect.Value.Elm"

---

**Is thi

[2016-08-19 06:49] JeanMertz opened #30972 "node "NotReady" after "issues", all pods removed, containers keep running"
_note: this issue will contain very little to work with, but I wanted it reported nonetheless, please close this if this is already reported in greater detail elsewhere, I couldn't find a relevant issue_

This morning we encountered one of our three GKE nodes in "NotReady" state. Unfortunately, I don't have a `describe node` log anymore, so I can't really tell you anything, _except_ that there was

[2016-08-19 06:58] wojtek-t commented on #28842
This is not fixed - we only have this function, but it's not enabled.

[2016-08-19 07:10] wojtek-t commented on #30873
@hongchaodeng - the logs you pasted can suggest problems, but are not 100% explanation

I looked into logs from 1352 run (pasted above) and there are:
[code]

But watchers are terminated much later:
[code]

Though sure - it may be related to apiserver too slow - I will try to look into it, but probably not today...

[2016-08-19 07:16] cherylhan opened #30974 "1m 1m 1 {kubelet centos-node} Warning MissingClusterDNS kubelet does not have ClusterDNS IP configured and cannot create Pod using "ClusterFirst" policy. Falling back to DNSDefault policy."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-08-19 07:19] wojtek-t opened #30975 "Investigate whether we reuse connections after "429" error"
From the recent runs of different scalability tests, I have a hypothesis that we are not reusing connections after "429" error is returned to the client.

Here is description of one tests that I've seen failed:
1. basically in 2000-node kubemark all watches were dropped at some point (that's a separate issue #30873 that is a bit unrelated here).
2. what happened next is that basically all watchers

[2016-08-19 07:36] xrow commented on #30712
Yes that is the case. After the docker rmi is completed the system works as normal again. During the docker rmi there is a high io useage which is guess is normal/expected.

`
[root@docker01 ~]# docker -v
Docker version 1.10.3, build 9419b24-unsupported
[root@docker01 ~]# yum info docker
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirror.netcologne.de
 * epel:

[2016-08-19 07:49] xrow commented on #30712
I have more Information that might be helpfull this is from the k8 node durign the event.

`
Aug 18 01:11:59 docker01 kubelet: E0818 01:11:59.681920   31609 kubelet.go:2761] Error updating node status, will retry: error #0: client: etcd member http://192.168.255.4:2379 has no leader
Aug 18 01:12:06 docker01 kubelet: E0818 01:12:06.793043   31609 kubelet.go:2761] Error updating node status, will re

[2016-08-19 07:50] m1093782566 opened #30977 "[e2e density test] Fix unnecessary Delete RC requests when not running latency test"
As the following code block
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L666-L670
shows, after running each density test case, it will attempt to delete "additional replication controllers" even though there is **no additional replication controller**.

When we are not running latency test, API Server will return "404 error code". So, I propose to move the above code b

[2016-08-19 07:51] k8s-merge-robot opened #30978 "[k8s.io] Resource-usage [Serial] [Slow] regular resource usage tracking [Benchmark] resource tracking for 10 pods per node {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/279/

Failed: [k8s.io] Resource-usage [Serial] [Slow] regular resource usage tracking [Benchmark] resource tracking for 10 pods per node {E2eNode Suite}

[code]

[2016-08-19 08:02] kargakis commented on #23211
Exactly, we shouldn't change the spec at any point - only users should do
that. Conditions on the Deployment status and annotations on Replica Sets
denoting that this template failed or succeeded being deployed will help in
determining to what old template should we automatically rollback.

On Thu, Aug 18, 2016 at 8:43 PM, krmayankk <notifications@github.com> wrote:

[2016-08-19 08:24] erictune commented on #30784
Does #30829 satisfy this request?  Just do any operation on the API (whether you have permission or not) with valid credentials and you get back your username in a header.

[2016-08-19 08:41] k8s-merge-robot opened #30981 "[k8s.io] ReplicaSet should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13617/

Failed: [k8s.io] ReplicaSet should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}

[code]

[2016-08-19 08:50] pigmej commented on #30716
Definitely +1 to @jberkus words. This is *very* important topic (that's why @zefciu and @nebril made PoCs), it definitely should be easy and understandable to end user. I'm pretty sure that assumption that you can store configs in `/config` is valid only in perfect world, but in reality it's not that easy.

In my opinion any solution which uses init-containers, custom init scripts, init-containers

[2016-08-19 09:06] Johnzinvalid opened #30984 "duplicate node with same ip"
BUG REPORT

**Kubernetes version** : v1.3.2

**Environment**:
- setup kubernetes cluster on 4 VMs of ubuntu 14.04, 1 master and 3 nodes
- bring up by kube-up.sh with PROVIDER=ubuntu
- **Kernel** : 3.13.0-92-generic

**What happened**:
when do kubectl get nodes returned:

NAME             STATUS     AGE
*.205   Ready      1h
*.205   NotReady   14d
*.206   Ready      14d
*.207   Ready      14d

so t

[2016-08-19 09:26] erictune commented on #23580
Not planned for 1.4.

On Wed, Aug 17, 2016 at 12:47 PM, yissachar <notifications@github.com>
wrote:

[2016-08-19 09:26] wojtek-t commented on #20504
It's possible to make transformer attach lease with additional complexity. Instead, I think there is only loose requirements on events and we can handle that in a simpler way.

If this is possible to make a transformer doing it, we definitely should do it.
Even the procedure that I described above is non-trivial, and would make the upgrade process much more complicated (and thus waaaay less probab

[2016-08-19 09:48] erictune commented on #30603
You can make it so that only CI has permission to push to a certain repository, and then use image review (#27129) to require images from that repository.

Or you can have CI write out just the signatures of the image SHAs to some storage bucket, and then use image review (#27129) to require all images that are run have SHA that is in that storage bucket.

Or you could write a docker auth plugin t

[2016-08-19 10:08] nhlfr commented on #30603
Agree with @erictune and I think also that any kind verifying images should be done by Docker, not k8s.

[2016-08-19 10:13] slaskawi commented on #28969
As for JBoss projects based on [JGroups](http://jgroups.org/) (like [Infinispan](http://infinispan.org/) for example), we probably need to write a new discovery protocol based on DNS (I proposed it on Infinispan dev mailing list and waiting for a response). Currently some of us use KUBE_PING (which queries Kubernetes API and collects containers) but trusting DNS would probably be a much better opt

[2016-08-19 10:26] artak116 opened #30987 "NFS not working in Kubernetes portable multinode setup"
Hello,

We use k8s (version 1.3.4) in portable multi-node cluster. We have an issue regarding NFS  configuration. We cannot mount NFS shares in Pods via PV and PVC. Troubleshooting issue we find the some solution. **nfs-common** library missing in Hyperkube image( https://github.com/kubernetes/kubernetes/blob/v1.3.4/cluster/images/hyperkube/Dockerfile ).
After manually install **nfs-common** in ru

[2016-08-19 11:06] workhardcc opened #30988 "How to delete probe for a container"

[2016-08-19 11:28] zefciu commented on #30716
About initscripts: besides "feeling hacky" the problem is they lack DRY-ness. You need to specify the data twice. First in the pod definition. Second - in the script. So your deployments become harder to maintain.

# My proposal

Let's add an ability to add config file templates. These templates will be able to consume data from the following sources:

* Configmaps
* Secrets
* Pods

The templates

[2016-08-19 11:43] kayrus opened #30989 "DaemonSet tries to schedule pods on SchedulingDisabled nodes"
There was a discussion here: https://github.com/kubernetes/kubernetes/issues/16967
Also I noticed these comments: https://github.com/kubernetes/kubernetes/pull/20061/files#r50945058

I still don't know why kubernetes should try to schedule daemonset's pod on Unschedulable node.

Here is what I get in k8s v1.3.5:

[code]

[2016-08-19 11:50] k3a commented on #13598
No, it doesn't seem to be fixed in v1.3.5 release. The problem are admission controllers inside kube-apiserver. They seem to communicate with api-server over insecure connection only.

1 . I have apiserver run with: --insecure-port=0
2. Every kubernetes process use --kubeconfig and --master with secure ports specified
3. Yet when I run the apiserver, it logs out:

reflector.go:216] k8s.io/kubernet

[2016-08-19 11:58] #29362 closed

[2016-08-19 12:05] wojtek-t opened #30990 "Pods from ReplicationController are sometimes not removed"
I'm currently debugging failures from scalability suite.

It basically started failing on this run:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gce-scalability/10148/

This suite is running WITHOUT garbage collector.

There are tens of failures like this one:
[code]

I'm also able to reproduce this problem from head on my local 100-node cluster.

We did some debugg

[2016-08-19 12:15] workhardcc opened #30991 "How to delete probe for a container"
Define a deployment like below(part of config yaml):

[code]

I can modify the livenessProbe's config by PATCH the  API:/apis/extensions/v1beta1/namespaces/{namespace}/deployments/{name}, but how can I remove it?

[2016-08-19 12:23] wojtek-t commented on #30873
I've merged this trivial PR:
https://github.com/kubernetes/kubernetes/pull/30985

I'm not 100% sure it will fully solve the problem, but my feeling is that it may significantly help.

[2016-08-19 12:32] zefciu commented on #30716
Oh, also @rustyrobot - please comment if these requirements are enough for us.

[2016-08-19 12:39] jonboulle commented on #26816
Maybe, no, yes. I'd much rather kubelet take on this responsibility if necessary (for Docker as well) - I don't think runtimes should implicitly create directories in this scenario.

[2016-08-19 12:52] AdoHe commented on #30991
@workhardcc I think you can use PATCH with `application/strategic-merge-patch+json
` to remove it.

[2016-08-19 13:17] urzds commented on #28962
I *believe* this happens when the RC/Pod is being created shortly after the PV or PVC. The latter two appear to need several seconds to be fully available (even if the status is already set to "Bound").

I ran into the same issue with a NFS PV. When I delete and create PV+PVC+SVC+RC all in one go, the associated Pod will be in ContainerCreating state for several seconds (>10,<60), then log the war

[2016-08-19 13:37] micahhausler commented on #30924
That did it! I actually only needed the second RoleBinding. Thanks!

[2016-08-19 13:37] #30924 closed

[2016-08-19 14:23] kargakis commented on #28381
@bgrant0607 updated the issue to track the api changes that still need to be done once #29481 is merged:
ReadyReplicas for Deployments
AvailableReplicas+MinReadySeconds for Replica Sets

[2016-08-19 14:31] mlbiam commented on #30784
Not entirely.  I'd also want to make sure the groups are being loaded
properly and #30829 only tells me the user.  Its a start, but
as @ericchiang pointed out putting all the groups in a response header can
get big quickly if you have a large environment.

[2016-08-19 14:54] alexbrand commented on #29679
@pwittrock, @bgrant0607 Is the goal here to have counterparts to the `kubectl set` commands (e.g. `kubectl set image` <-> `kubectl view image`), or a generic `kubectl view` command that can be used to get any field from any object (although I am not sure how that could be achieved)?

[2016-08-19 14:57] mwielgus opened #30999 "Ensure that federated replica set controller logic is compatible with cluster autoscaler."
According to current design federeated rs controller may move replicas to other cluster once they fail to schedule. At the same time cluster autoscaler may try to grow the cluster to place the pending pod somewhere. Some mechanism needs to be added so that these two don't compete with each other.

cc: @quinton-hoole @piosz @fgrzadkowski @jszczepkowski @kubernetes/sig-cluster-federation

[2016-08-19 15:08] mwielgus opened #31001 "Add events to namespace controller"
Currently there are none.

[2016-08-19 15:11] derekwaynecarr commented on #29033
I am fine with a locking semantic that allows a user-override.

On Thu, Aug 18, 2016 at 7:48 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-08-19 15:12] derekwaynecarr commented on #30782
Fixed in https://github.com/kubernetes/kubernetes/pull/30767

[2016-08-19 15:12] #30782 closed

[2016-08-19 15:16] ScubaDrew opened #31002 "Add-on update procedure does not work after master node reboot"
BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.2.3

**Environment**: AWS
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: kube-up
- **Others**:

**What happened**: updated add-ons per https://github.com/kubernetes/kubernetes/tree/master/cluster/addons#add-on-update-procedure

"To update add

[2016-08-19 15:27] #27590 closed

[2016-08-19 15:31] jberkus commented on #30716
@zefciu +1

BTW, one of the examples I'm dealing with is PostgreSQL, where the config files need to go into a specific directory, which also contains files we want to inherit from the upstream image.  Postgres also has specific permissions requirements for those files.  So I think that's a good test case for any scheme; if it can handle Postgres, it can probably cover any service.

[2016-08-19 15:37] jberkus commented on #30716
Some answers:

* Are there any objects beside Pods, Secrets and ConfigMaps we want to be source of data?

If by "pods" you mean "everything currently available via the core Downward API" then those three things cover all of the use cases I have.

* Do we need any tools in our templates beside simple interpolation of values and text/template tools?

I do not for my use cases.

[2016-08-19 15:48] smarterclayton commented on #29033
I'd like to discuss it more - I don't understand what problem the lock fixes.

[2016-08-19 15:52] k82cn commented on #24314
@bgrant0607 , should I update all ns in one commit or one commit per example?

[2016-08-19 15:53] dchen1107 commented on #30886
@johscheuer Thanks for fixing.

[2016-08-19 15:55] erictune commented on #30784
I regret the decision to all authenticators to provide group information.

On Fri, Aug 19, 2016 at 7:32 AM, Marc Boorshtein <notifications@github.com>
wrote:

[2016-08-19 15:59] thockin commented on #29033
As proposed it prevent users from deleting arbitrary objects without
explicitly saying "I intend to go outside the bounds of what the system
expects for normal operation".  It is the same as setting grace == 0,
except it can apply to arbitrary objects which don't, today have
established protocol for graceful termination (e.g. PV & PVC).  It's more
"obvious" than grace == 0, while still allowing th

[2016-08-19 15:59] mlbiam commented on #30784
where else would it come from?  k8s has not internal store for az rules so
the az information has to come from somewhere.  I think its a great model.
Its one I've used on countless other applications over the years to great
success.  As an external tool builder, this also makes it much easier to
create security tools for k8s.  I don't have to implement a new connector
to provision access, i can pr

[2016-08-19 16:00] dchen1107 commented on #30984
cc/ @roberthbailey @mikedanese

[2016-08-19 16:08] timothysc commented on #18099
viper looks gr8 imo.

[2016-08-19 16:09] smarterclayton commented on #29033
By "more" i meant "later" as in "after 1.4 slush".  I agree with the
concerns vish raises, but

1. I know how complicated this whole piece is to get right, so I will
outright reject any "quick fixes" that touch anything but UI, because this
gets at a lot of really core SLA type problems for pods
2. Until the Kubelet is a lot more reliable (derek's point) this needs to
be more available to admins,

[2016-08-19 16:10] ericchiang commented on #30784
@mlbiam https://github.com/kubernetes/kubernetes/issues/23720

[2016-08-19 16:12] justinsb opened #31007 "Load Balancer retry error"
k8s 1.3.4

A user reported this error:

[code]

followed by:

[code]

We probably should check that we aren't doing something silly in AWS that causes us to hit the rate limit, but in any case it looks like we have a bug (type conversion error?) in the service controller requeue logic.

[2016-08-19 16:14] justinsb commented on #31007
cc @alph486

[2016-08-19 16:18] deads2k commented on #30784
While I wasn't against that issue, I do find having a clean break in `user.Info` after authentication quite nice.  It makes reasoning about what's going to happen very easy.

@mlbiam There is a reasonable claim that loading group membership can be expensive, particularly for large numbers of groups and that an authorizer *could* optimize the look up in some cases based on likelihood of needing par

[2016-08-19 16:18] yujuhong commented on #30988
Dup of #30991

[2016-08-19 16:18] #30988 closed

[2016-08-19 16:26] mlbiam commented on #30784
Thanks @ericchiang for the context.  In light of that, I think its even more important to have something that lists "whoami" to the client if only for debugging.  If you're adding another layer to the process then you need to make sure that k8s is seeing your user the way you intended with that many moving parts.  You could potentially have an OIDC idp for user information and ldap server for auth

[2016-08-19 16:27] ujijinair opened #31008 "AWS - Unable start mongo on Kubernetes on v1.3.5"
Unable to mount volumes for pod "mongo-controller-e5b5l_mcc(a8a86d34-6628-11e6-b702-0a5790b27c01)": timeout expired waiting for volumes to attach/mount for pod "mongo-controller-e5b5l"/"mcc". list of unattached/unmounted volumes=[mongo-persistent-storage]
Error syncing pod, skipping: timeout expired waiting for volumes to attach/mount for pod "mongo-controller-e5b5l"/"mcc". list of unattached/unmo

[2016-08-19 16:27] luxas commented on #30987
This has been fixed at HEAD and will work in `v1.4`
(And in `v1.4.0-alpha.3` if you're experimental)

Please reopen the issue in `kube-deploy` if there are more issues with docker-multinode

[2016-08-19 16:27] #30987 closed

[2016-08-19 16:28] mikedanese commented on #30984
kubeclt delete node <useless-node-name>

[2016-08-19 16:30] yujuhong commented on #30978
Dup of #30550

[2016-08-19 16:30] deads2k commented on #30784
@mlbiam determining group membership when authorization can actually change which groups are loaded becomes non-trivial.  If that proposal is ever implemented, then there's no guarantee that the groups available in the `user.Info` are ever "complete".

We may not know the answer server-side to return to you.

[2016-08-19 16:31] bprashanth commented on #30544
be to chain an "external" service onto an ingress IP so that short names
work, so that direct use of ing names will be few and far between.

Another interesting problem is chaining an internal ingress that we're running as a Service to the external counterpart.

If I'm running the nginx controller as a Service intra cluster clients would reach it via:
 `ingress-controller.svc.cluster.local`.

This

[2016-08-19 16:32] hongchaodeng commented on #30873
The context of above statement is that we already know the error "401: The event in requested index is outdated and cleared" was the root cause and it caused termination of all watchers. Then it boils down to why we had this error and how did it happen?

The root problem is still that we have **fast producer, slow consumer** and we should threshold on that. At least the storage layer could and sho

[2016-08-19 16:34] mlbiam commented on #30784
@deads2k Thanks for the thoughts.  I think both are a good idea.  If an IdP can limit the groups it sends in the jwt then use that.  Otherwise I could see using an external az plugin.

As to if its "complete", understood.  though i wouldn't say thats a reason not to have a "whoami".  different use cases would use this in different ways.  I understand it can get very complicated on multiple fronts

[2016-08-19 16:34] bgrant0607 commented on #28381
Thanks, @kargakis

[2016-08-19 16:36] pwittrock commented on #30885
@mwielgus Would you change the link to be a publicly accessible link?

[2016-08-19 16:37] pwittrock commented on #29679
The former.  Json path can be used for the latter.

[2016-08-19 16:38] m1093782566 commented on #30967
I am going to close it.

[2016-08-19 16:39] #30967 closed

[2016-08-19 16:40] kargakis commented on #29679
cc: @kubernetes/kubectl

[2016-08-19 16:45] m1093782566 commented on #30611
I am going to close this issue.

[2016-08-19 16:45] #30611 closed

[2016-08-19 16:52] yujuhong commented on #30465
Closing as as dup of #30465.

[2016-08-19 16:52] #30465 closed

[2016-08-19 16:52] jmccarty3 opened #31009 "Kubectl Get jobs with label selector returns blank"
**Kubernetes version** (use `kubectl version`):
1.3.4

**What happened**:
Performing a `kubectl get jobs -l <any label selector>` returns no jobs despite their existence.

**What you expected to happen**:
List of jobs matching the label selector

**How to reproduce it** (as minimally and precisely as possible):
Create a job with a label. Call `kubectl get jobs -l <selector>`

**Anything else do we

[2016-08-19 16:57] caesarxuchao commented on #30990
I think this bug is less critical. The test doesn't enable GC. #30670 just changed some test verification in e2e tests. The worst we have to do it to revert part of #30670. I'll look into this later.

[2016-08-19 16:58] kargakis commented on #30628
Why was this issue closed?

[2016-08-19 16:59] smarterclayton commented on #30975
On the server side, we can use

[code]

on http server to get more info.  Can we do the same thing on the client?  I don't see anything obvious, but knowing when a connection from a client is closed (vs. terminated by the server, vs gracefully terminated via Connection: Close) might be useful in debugging these cases.

The only thing I can think of is that the kubelet has multiple connections to t

[2016-08-19 17:01] timothysc commented on #30272
Don't you get most of this behavior by through marking as unschedulable, and draining a node?

[2016-08-19 17:05] quinton-hoole commented on #29347
Tracked in PR's referenced above.  Closing this tracking issue.

[2016-08-19 17:05] #29347 closed

[2016-08-19 17:12] #30581 closed

[2016-08-19 17:14] dchen1107 commented on #30972
@JeanMertz Thanks for reporting GKE issues.

I believe you ran into a known problem, and there are a couple of issues filed against it. But I only find this one: https://github.com/kubernetes/kubernetes/issues/24200 In summary, the problem is caused by the networking issue between master and the rest of nodes which cause massive pod eviction. Original design is that the master evicts all pods on a

[2016-08-19 17:15] dchen1107 commented on #30972
@gmarek I think you are the one working on #24200, am I right?

[2016-08-19 17:20] urzds opened #31010 "kube-dns/dnsmasq does not log anything"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

dnsmasq log

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATUR

[2016-08-19 17:20] dchen1107 commented on #24200
Can someone summarize what we have done for 1.4 release here? #25571 was only mitigating the issue if all nodes not ready, but doesn't fix the partial segmentations. I remembered I saw the prs coming, but nothing is tracked down here. Thanks!

[2016-08-19 17:22] #30984 closed

[2016-08-19 17:24] dchen1107 commented on #30952
sgtm. Why not send us a pr to improve the debuggability here? Thanks!

[2016-08-19 17:25] k8s-merge-robot opened #31011 "[k8s.io] Density [Serial] [Slow] create a sequence of pods [Benchmark] latency/resource should be within limit when create 30 pods with 50 background pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/289/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods [Benchmark] latency/resource should be within limit when create 30 pods with 50 background pods {E2eNode Suite}

[code]

[2016-08-19 17:25] mwielgus commented on #30538
Fixed with #30704

[2016-08-19 17:25] #30538 closed

[2016-08-19 17:26] dchen1107 commented on #30929
@mtaufen Just conform that kube-proxy is running as static pod, and not on master node.

[2016-08-19 17:31] krousey opened #31012 ".linted_packages causing a lot of rebases"
.linted_packages is a list of packages that are go-lint clean. The idea is that you list the packages there that should remain that way, and the build will error if you introduce a lint error.

Also, the build will error if you make a package go-lint clean. It also tells you to just add it to the end of the list with an echo command. I have had to rebase 2 PRs 4 times each this week alone because

[2016-08-19 17:34] lavalamp commented on #31012
@jfrazelle what do you think about switching the error to a warning, and then just periodically running a script that updates the .linted_packages file?

[2016-08-19 17:36] Random-Liu commented on #30550
We've got several issues caused by this, just track them here so that we can close them all later:
* https://github.com/kubernetes/kubernetes/issues/31011
* https://github.com/kubernetes/kubernetes/issues/30978
* https://github.com/kubernetes/kubernetes/issues/30867
* https://github.com/kubernetes/kubernetes/issues/30862

BTW, can we temporarily disable the memory eviction test https://github.com/

[2016-08-19 17:39] Random-Liu commented on #31011
Dup of https://github.com/kubernetes/kubernetes/issues/30550.

[2016-08-19 17:41] jingxu97 opened #31014 "Ungraceful node deletion handling"
In certain cases, node might be deleted ungracefully before unmounting/detach volumes. In current workflow, if node is deleted ungracefully, attachdetach controller will not be able to remove it from the actual and desired states, which leave the stale information in the cached states and cause problem in the following reconciler actions.
https://github.com/kubernetes/kubernetes/blob/d06359d6a00cf

[2016-08-19 17:43] wojtek-t commented on #30990
@caesarxuchao - I don't think it's less critical. I'm seeing that pods are not being removed even though they were in the past. It's not a verification issue - when I reproduced it locally it just didn't work. It's real issue.

[2016-08-19 17:44] dchen1107 commented on #30989
Close this one as the dup of https://github.com/kubernetes/kubernetes/issues/28687

@mikedanese is going to fix this for 1.4.

[2016-08-19 17:44] #30989 closed

[2016-08-19 17:47] krousey commented on #30975
There's definitely a branch in the rest client where I think we don't fully read the response body on a 429. Though not explicitly stated in the docs, I think failing to read the entire body of a request also causes the TCP connection to not be reused.

This is a code snippet from the HTTP client's redirect code:

[code]

I can certainly add something like this to `restclient.Request.request`. I'm

[2016-08-19 17:48] chrislovecnm commented on #30706
cc @fandingo

[2016-08-19 17:49] lavalamp commented on #30975
I'm pretty sure HTTP2 is off still.

On Fri, Aug 19, 2016 at 10:47 AM, krousey <notifications@github.com> wrote:

[2016-08-19 17:50] krousey commented on #30975
Found the doc:

[code]

I will go ahead and patch this.

[2016-08-19 17:51] smarterclayton commented on #30975
Did we add a new error case that didn't catch this?  Since this is the 3rd time we've fixed an edge case on reading the entire body, we should probably do what we can to make sure others don't show up.

[2016-08-19 17:56] krousey commented on #30975
@smarterclayton It's the case where it's 429 or >= 500 and there's a Retry-After header. I'm going to add it to the same place where we ensure that the body is closed so that it should always catch it.

[2016-08-19 17:56] smarterclayton commented on #30975
k, thanks

[2016-08-19 18:07] yujuhong commented on #30550
If we can't get a quick fix in for the eviction test, I'd vote for disabling it now. It's crunch time for the release, and the test has caused quite a lot of noise.

[2016-08-19 18:08] dchen1107 opened #31015 "Cut cAdvisor release for Kubernetes 1.4 release."
File this for tracking the progress...

[2016-08-19 18:09] caesarxuchao commented on #30990
One hypothesis based on your debugging.

Before #30670, this test:
1. calls reaper, which in turn calls scaler to scale down the rc,
2. scaler waits RC controller to update rc.status.replicas to 0, which means there is no active pods,
3. reaper deletes the rc
3. test calls `waitForRCPodsGone`, which is buggy, it always returns true immediately. The reason is `waitForRCPodsGone` calls the List on P

[2016-08-19 18:10] saad-ali commented on #28962
Thanks for digging into it @urzds!

The capacity 0 issue (https://github.com/kubernetes/kubernetes/issues/29425) was fixed by PR https://github.com/kubernetes/kubernetes/issues/29982 and is in v1.3.5.

This is more or less expected behavior. The mount logic has exponential backoff so if it rapidly encounters PVC/PV does not exist, it'll back off the retries resulting in a longer mount time. We can

[2016-08-19 18:10] wojtek-t commented on #30975
Thanks for debugging it (and yes, http2 was switched off in my tests).

And looking forward to see the fix. Thanks!

[2016-08-19 18:11] dchen1107 commented on #30938
This cause of this density failure is different from other flaky ones. This one is caused by port conflicts, which might be a special case in @ronnielai's environment:

Aug 18 22:17:22.729: INFO: At 2016-08-18 22:17:22 +0000 UTC - event for cadvisor: {kubelet test-gci-dev-54-8711-0-0} PodFitsHostPorts: Predicate PodFitsHostPorts failed

I am going to leave this one open for a while to see if the i

[2016-08-19 18:12] nikhiljindal commented on #30462
Its `test/integration/pods` this time: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/30823/kubernetes-pull-test-unit-integration/40506/build-log.txt

[2016-08-19 18:12] ianunruh commented on #30076
I can confirm this issue on Kubernetes 1.3.5. I was expecting this functionality to be able to cluster RabbitMQ.

[code]

[code]

[2016-08-19 18:14] dchen1107 commented on #30939
cc/ @kubernetes/autoscaling

[2016-08-19 18:16] wojtek-t commented on #30990
Also from our discussion offline: "currently we think that it's not a new bug, it was just revelead by @caesarxuchao PR, and it has always been there".

[2016-08-19 18:18] urzds commented on #28962
Maybe the "Bound" status could be delayed, so the RC would be held back for a while and be scheduled only when the PVC is actually ready?

[2016-08-19 18:19] Cocotton commented on #30637
@jingxu97 The data in both volumes was being written by applications. For example, one of the EFS volume contains the home directory of jenkins. So in my container I mount EFS:/ to /var/jenkins. When I was doing my tests, I was simply touching files into the mount point.

Is this what you wanted to know?

 Your idea avec the kubelet volume manager makes lot of sense to me since the problem stop ha

[2016-08-19 18:19] vishh commented on #29033
On Fri, Aug 19, 2016 at 9:10 AM, Clayton Coleman <notifications@github.com>
wrote:

By "more" i meant "later" as in "after 1.4 slush". I agree with the
concerns vish raises, but

1. I know how complicated this whole piece is to get right, so I will
outright reject any "quick fixes" that touch anything but UI, because this
gets at a lot of really core SLA type problems for pods

Can you elaborate o

[2016-08-19 18:21] smarterclayton commented on #29679
So I have a question... what is the input to view going to look like?

[code]

?  How is that simpler than

[code]

?

[2016-08-19 18:21] smarterclayton commented on #29679
We save 10 characters and double the amount of code?

[2016-08-19 18:22] smarterclayton commented on #29679
Or are you suggesting that the high value subtypes get converted (like `kubectl view env`)?

[2016-08-19 18:24] saad-ali commented on #28962
I don't think the RC actually waits for PVC to be bound before scheduling.

[2016-08-19 18:25] smarterclayton commented on #29033
How is a code change a blocker to pod level cgroups if at the end of the
day you still need to deal with "cluster got rolled back to a previous
state" for pod level cgroup anyway?  You can't guarantee that you'll
observe all deletes.

On Fri, Aug 19, 2016 at 2:20 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-08-19 18:25] ardnaxelarak opened #31017 "Feature Request: Allow namespace rather than kubelet to supply the added DNS client config"
The use case for this new feature is a Kubernetes operator who is
providing a multi-tenant service based on namespaces.  Each namespace
belongs to one tenant.  One tenant should not have a view of the whole
cluster; rather the tenant's view should be constricted properly.

There are a few facets to this problem.  One of them is the DNS client
configuration applied in the tenant's pods.  The k8s AP

[2016-08-19 18:26] dchen1107 commented on #30910
This new problem you reported at: https://github.com/kubernetes/kubernetes/issues/30910#issuecomment-240818873 is OUT-OF-DISK (space or inode) issue. I suspect you are hitting this docker issue: https://github.com/docker/docker/issues/9755 since you are using aufs driver.

Meanwhile, Kubernetes incoming 1.4 release, we introduced OUT-OF-DISK handling for both space and inode. When such issue occur

[2016-08-19 18:26] #30910 closed

[2016-08-19 18:29] nikhiljindal commented on #26723
Yes that PR was merged. But the test is still not passing on Jenkins. federation-apiserver pod fails to come up. I am trying to figure out how to get logs (We dont get pod logs right now)

[2016-08-19 18:32] derekwaynecarr commented on #29033
@vishh -- the issue as I understand it is related to reclaiming memory associated with the pod level cgroup.  Could we not tackle this another way and block starting a new pod until we know there are no other pods pending deletion/whose memory is not all reclaimed?  Couldn't the kubelet container manager have a simple boolean style check that says 'isOrphanedPodCgroupMemoryReclaimed` and it report

[2016-08-19 18:33] spxtr commented on #30600
What about cmake?

I'd really like to move off of bash, but mixing bash and make is even worse. It'd be great if we could find a single system that works well for us. If not, well... bash it is.

[2016-08-19 18:33] derekwaynecarr commented on #29033
Thinking on this more, I think https://github.com/kubernetes/kubernetes/issues/29033#issuecomment-241098465 should be possible without a change to the API model.  kubelet knows the state of cgroups on the node.

[2016-08-19 18:35] smarterclayton commented on #29033
The scenario Derek described to me as being the concern, seems like a
detail of the Kubelet that should not be leaking out to the rest of the
system.  The propagation of info from kubelet -> scheduler is always going
to be susceptible to delay and inaccuracy - I don't think users force
deleting pods causes that problem or lifts the Kubelet from tolerating and
adapting to that latency.

On Fri, Aug

[2016-08-19 18:35] DirectXMan12 commented on #30939
I think it would be useful here to see the incoming values that Heapster is seeing from Kubernetes, and also the values of `cpu/usage` (the cumulative value, *not* the rate).  It wouldn't surprise me if that's bouncing around a bit like before.

[2016-08-19 18:40] duglin commented on #31017
/cc @MikeSpreitzer

[2016-08-19 18:42] dchen1107 commented on #29972
I couldn't reproduce the issue at all. Also the flake reported at #29954 is never re-occur. I will leave this issue open for a while.

[2016-08-19 18:42] etotheipi opened #31018 "Solution for Managing Multiple Docker Registries"
Our enterprise team is migrating our workflow to Kubernetes, but we've run into a crippling problem and so far that someone on the K8s team must have solved by now.  I searched for "registries" in this projects issues, but didn't see anything in the first 10 pages of results.  I read and posted on the Docker project, and all I found was people complaining about the same thing:

https://github.com/

[2016-08-19 18:54] cjcullen commented on #30617
@rvrignaud Both are in our plans.

[2016-08-19 18:54] davidopp commented on #24200
Yes, the partial segmentation issue is "fixed" now, by the series of PRs described in issue #28832.

[2016-08-19 18:54] davidopp commented on #30972
I didn't read the initial message in this thread so I can't comment on the diagnosis, but the mass eviction fixes are described in #28832 and are all finished.

[2016-08-19 18:56] bprashanth commented on #24393
We currentld do 2 through the badly named `ingress.class` annotation: https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc
There's a proposal for 1: https://github.com/kubernetes/kubernetes/issues/30151