[2015-04-28 00:44] mbforbes commented on #7376
Just as an explicit followup, there were at least 8 out-of-memory errors that happened on that instance (a master) from the logs in ` /var/log/kern.log.1`—is this normal? I can provide several different logs or VM access for interested parties...

[2015-04-28 00:58] lavalamp commented on #7260
@bgrant0607 You are too optimistic about the cause. :) I'll let @caesarxuchao fill in the details from our investigation into this.

[2015-04-28 01:09] mingfang commented on #6046
I'm seeing this problem with v0.15.0.
What is the new tracking issue?

[2015-04-28 01:12] caesarxuchao commented on #7260
@bgrant0607 @lavalamp
The kubectl is sending GET requests to the v1beta1 URL. Here are some log entries from the apiserver's log:
[code]
I will dig deeper to find the root cause. Thank you @lavalamp.

[2015-04-28 01:23] #4114 closed

[2015-04-28 01:27] bgrant0607 commented on #7260
Ok, that's at least still a kubectl problem. :-)

cc @nikhiljindal

[2015-04-28 01:27] a-robinson commented on #6812
@caesarxuchao: #7145 has been [causing issues for a user](https://groups.google.com/forum/#!topic/google-containers/q8zjyl2WKmQ) because the load balancer name changes if the service's UID changes (e.g. if it's deleted and recreated). Think we can change this?

A hash of cluster name, namespace, and service name should get around it, but there may be better ideas as well.

[2015-04-28 01:27] smarterclayton commented on #4640
We can assist if necessary.

[2015-04-28 01:28] bgrant0607 commented on #7260
What does kubectl version report?

[2015-04-28 01:33] caesarxuchao commented on #7260
@bgrant0607
[code]

[2015-04-28 01:38] roberthbailey opened #7412 "The external IP field for all nodes on GCE contains the master's IP address (instead of the node address)"
When we populate the addresses of the nodes in [nodecontroller.go](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/nodecontroller/nodecontroller.go#L283) we call NodeAddresses, which for the gce provider gets the external IP from the [metadata server](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/gce/gce.go#L417) which as expected p

[2015-04-28 01:38] roberthbailey commented on #7412
If we merge #6949 this should get fixed, because the external IPs will be calculated on the nodes rather than on the master.

[2015-04-28 01:44] bgrant0607 commented on #7328
@pmorie We need to tease apart the different uses:
* concurrency control (read-modify-write transactions)
* RAW and WAW consistency
* watch

[2015-04-28 01:45] caesarxuchao commented on #6812
Sure. I'm not confident that I can fix this quickly. If it's urgent, maybe you can assign some one more experienced to fix it?

One question:
I guess the ELB's name should stay unchanged as long as the "zone+namespace+service name" doesn't change, am I right?

[2015-04-28 01:47] daizuozhuo commented on #4348
Thanks for accepting my proposal! Who will be my mentor?

[2015-04-28 01:50] Carrotzpc commented on #7349
@a-robinson, yes

[2015-04-28 01:51] scott-abernethy commented on #7389
Just experienced this issue (DNS timeout when trying to use skydns UDP from another container), and using a custom skydns image with the ports exposed resolved the issue.

My setup:
* AWS cluster
* CoreOS version 633.1.0
* Docker version 1.5.0, build a8a31ef-dirty

Let me know what info you need to debug.

[2015-04-28 01:54] a-robinson commented on #7349
Good to hear! Feel free to re-open this if you later find out that it doesn't meet your needs

[2015-04-28 01:54] #7349 closed

[2015-04-28 01:59] quinton-hoole commented on #6910
On Sat, Apr 25, 2015 at 6:48 PM, Clayton Coleman <notifications@github.com>
wrote:

I like the basic idea here very much, now that I've properly wrapped my
head around AWS and GCE's various network and load balancer options, and
iptables restrictions.

If I may for the moment forsake v1b3 compatibility in theory, just to make
the conversation easier, here are a few questions/comments/suggestions.

[2015-04-28 02:01] pires commented on #7389
@thockin I'm sorry, but `netstat -aue` tells otherwise. I'm using your image.

[2015-04-28 02:08] quinton-hoole commented on #6812
I think I'm the guilty party here.  I was unaware that when we create a new
service with the same name as a previously existing service, that it needed
to keep the same load balancer name and IP.   This seems broken to me, but
I may be missing the larger context.

We can quite safely roll back the change while we decide on the best
alternative solution.

Q

On Mon, Apr 27, 2015 at 6:46 PM, Chao Xu

[2015-04-28 02:11] thockin commented on #6812
I think the real breakage is that we don't have any way to claim an LB-IP
at a larger lifespan than a single service.  Alex, can you go back to OP
and get a sense of what's happening there to trigger this?

On Mon, Apr 27, 2015 at 7:09 PM, Quinton Hoole <notifications@github.com>
wrote:

[2015-04-28 02:25] benmccann commented on #6910
+ 1 to "Portal IP" not being clear compared to "cluster private IP" or something along those lines

[2015-04-28 02:31] a-robinson commented on #6812
Will do. Even if the name is kept consistent as it was before, with the way everything currently works the IP won't be consistent.

[2015-04-28 02:39] bgrant0607 commented on #7018
As suggested in #6910, perhaps we should eliminate the term "portal".

[2015-04-28 03:38] alexanderguzhva commented on #7341
I modified rc and service yaml files accordingly (one may rename everything to infrahw2, for example), made only 1 port available (8080).
kubectl describe service:
[code]
kubectl get services
[code]

ok, now adding second port (19000)
kubectl get services
[code]

kubectl describe service infrahw2
[code]

Probably, this issue can be closed. Thanks for the assistance.

[2015-04-28 03:38] #7341 closed

[2015-04-28 03:46] elsonrodriguez opened #7416 "NFS Example Dockerfile is invalid"
The example here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/nfs/exporter/Dockerfile

Doesn't look like it'll result in a valid NFS container.

Entrypoint needs to be copied into the container.

[2015-04-28 03:48] elsonrodriguez commented on #7416
Opened pull request: https://github.com/GoogleCloudPlatform/kubernetes/pull/7417

[2015-04-28 04:19] nikhiljindal opened #7420 ""Cluster level logging using Elasticsearch" breaks when master stops exporting pre-v1beta3 APIs"
While testing for https://github.com/GoogleCloudPlatform/kubernetes/issues/5475, I found that "Cluster level logging using Elasticsearch" breaks when master stops exporting pre-v1beta3 APIs.
Here are the logs:

[code]

On some debugging, I found that we are sending a request to
[code]
which is returning
[code]

Not sure why it breaks.

@satnam6502 Any idea?

[2015-04-28 04:38] pmorie commented on #7365
Hrm.  Since we can fully control entrypoint now, technically you can always set params in your command if your image has a shell.

[2015-04-28 05:08] tanmaybinaykiya opened #7423 "Kube-api-server does not fall back on to a live etcd node in a etcd cluster configuration."
I shutdown 2 out of the 3 nodes in an etcd cluster of 3 nodes running on coreos. The kube-api-server was triggered by providing all etcd nodes as arguments. Yet kubectl kept curling a dead etcd node, as opposed to falling back to the live on.

[2015-04-28 05:09] tanmaybinaykiya commented on #6559
Same issues for me.
https://github.com/GoogleCloudPlatform/kubernetes/issues/7423

[2015-04-28 05:12] davidopp commented on #7423
Thanks for reporting this. Since it's a dupe of #6559 (as you observed), I'm going to close it, and we can continue the discussion there.

[2015-04-28 05:12] #7423 closed

[2015-04-28 05:14] dchen1107 commented on #6147
I think this is obsolete. Please re-open it otherwise.

[2015-04-28 05:14] #6147 closed

[2015-04-28 05:14] wojtek-t commented on #3952
@lavalamp In all our experiments we are using kubernetes/pause image that is already on all machines (it's used by container infra pod) and is extremely light. So we're still working with this assumption.
We would like to run a bunch of experiments with full cluster (i.e. generate some non-trivial load on 100-node cluster with 3000 pods) to confirm that we're already meeting our goals. We will upd

[2015-04-28 05:24] thockin commented on #7018
VIP ?  But it might not always be Virtual - you could imagine an "internal"
load balancer that worked better - HAProxy or something - and using real
IPs.  Just IP, maybe?

On Mon, Apr 27, 2015 at 7:40 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-28 05:24] dchen1107 commented on #6046
@mingfang, at the end I didn't file a separate issue because I couldn't reproduce the issue later. Feel free to file a new issue with detail please.

[2015-04-28 05:29] #7416 closed

[2015-04-28 05:35] thockin commented on #6910
Yeah, at first it felt more magical, but in reality it's just a VIP.  For now, anyway.  I could live with VIP or IP or something simple.

Well, we want to kill off the existing `publicIPs` field, so the name is dead.  Even `externalIPs` is too precise.  It's more like "instructions from the cloud provider load-balancer to the node".

Over time.  If we're to make progress here, let's keep it scoped

[2015-04-28 05:44] thockin commented on #7389
Paulo,

I'm not sure what to tell you - it has worked for months and months, we
even have e2e tests.  So SOMETHING has changed.  It still works in my
cluster.

What docker version?  I am on 1.5

On Mon, Apr 27, 2015 at 7:01 PM, Paulo Pires <notifications@github.com>
wrote:

[2015-04-28 05:47] bgrant0607 commented on #7355
The comments/descriptions reflect what we want to have implemented. Requests has not been implemented, except for storage.

The scheduler should use Requests.

Kubelet doesn't need to enforce Requests.

Requests < Limits implies a lower QoS (#147).

See the explanation in https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/resources.md

cc @vishh

[2015-04-28 05:49] wgq91here commented on #7350
I tried to add bridge by brctl.

And docker -b=dockerkb0 (use brctl created it)

It is ..
<pre>
Error: 'dial tcp 172.17.0.1:80: i/o timeout'
Trying to reach: 'http://172.17.0.1:80/'
</pre>

Detail config is too much.

[2015-04-28 05:54] quinton-hoole commented on #6910
On Mon, Apr 27, 2015 at 10:36 PM, Tim Hockin <notifications@github.com>
wrote:

I'm not sure that I understand.  How is this IP different, in essence, from
a GCE external IP, or AWS public IP?  And as I mentioned elsewhere, I think
that a cloud provider load balancer is only one possible incarnation of
this thing.

Oh, to clarify, by "over time", I was trying to refer to changing what's
mapped to

[2015-04-28 06:04] thockin commented on #6910
that a cloud provider load balancer is only one possible incarnation of this thing.

My point was that what's actually flowing here is a clue from the cloud-provider module on apiserver to the cloud-provider module on nodes.  It happens to be a IPs in all cases we know about today, but isn't necessarily so.  Even the alt AWS idea involved passing ranges instead of single addrs.

It's not "your bad

[2015-04-28 06:20] quinton-hoole commented on #6910
On Mon, Apr 27, 2015 at 11:05 PM, Tim Hockin <notifications@github.com>
wrote:

Aah OK, gotcha.  I think that we may risk making this confusing to the
people I call "Application Deployers" (as opposed to "Kubernetes Cluster
Builders") if we expose implementation details like this to the former
group. I think that all they really care about is that their service has
one or more IP's visible to the

[2015-04-28 06:26] thockin commented on #6910
Updated API sketch.

[code]

flow for creation

1. User POSTs /api/v1/namespaces/foo/services/bar `Service{ Spec{ visibility: Public, ports: [{port: 80}] } }`
2. API server accepts and persists
3. LB Controller wakes up, allocates a load-balancer, and POSTs /api/v1/namespaces/foo/services/bar/binding `ServiceLBBinding{ lbIPs: [ "1.2.3.4" ]
4. Service REST sets Service.Spec.loadBalancerIPs = [ "1.2

[2015-04-28 06:38] wgq91here commented on #7350
<pre>
[root@localhost ~]# kubectl get minions
NAME             LABELS    STATUS
c1-6-123-vhost   <none>    Ready
c2-6-124-vhost   <none>    Ready
[root@localhost ~]# ip route
default via 10.168.6.254 dev ens32  proto static  metric 1024
10.168.6.0/24 dev ens32  proto kernel  scope link  src 10.168.6.122
172.17.0.0/16 dev ens33  proto kernel  scope link  src 172.17.42.1
192.168.99.0/24 dev ens32  p

[2015-04-28 07:40] azimut commented on #7389
in case it helps, i think that the "netstat" on that docker image does not show tcp6 or udp6 sockets. Looking in /proc/1/fd and then on  /proc/net/udp6, /proc/net/tcp6 might show the sockets.

[2015-04-28 07:42] wojtek-t commented on #5884
@bprashanth what is the current status of this PR?

[2015-04-28 07:45] ggarson commented on #7400
It's written directly into code https://github.com/GoogleCloudPlatform/kubernetes/blob/734663f8d883e596c9c01db2475fa1d7b0a61ba3/pkg/api/v1beta3/types.go line 639

	ImagePullPolicy PullPolicy `json:"imagePullPolicy" description:"image pull policy; one of PullAlways, PullNever, PullIfNotPresent; defaults to PullAlways if :latest tag is specified, or PullIfNotPresent otherwise; cannot be updated"`

[2015-04-28 08:28] njuicsgz commented on #7352
[code]

[2015-04-28 09:00] davidopp commented on #1625
As a first cut let's collect some ideas in this thread.

First, what is there already?

* request counts and request latencies for the http handlers in the various master components (4272, 4299) - but we should double-check that new ones are also covered [specifically "Counter of apiserver {requests, latencies} broken out for each request handler, verb, API resource, and HTTP response code" and "R

[2015-04-28 09:18] acroca opened #7428 "Can't run kubernetes within boot2docker"
I'm following the docker tutorial (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md) but I can't make it work.

etc runs without problems, but the master shows some errors on the log: https://gist.github.com/acroca/dac7cdc196b26c6ae65d

I get the following error running containers too:
[code]
I use boot2docker and docker 1.6.0.

[2015-04-28 09:40] davidopp commented on #1625
Here are a few other ideas. Maybe we should put this stuff in a doc...

* etcd
  * read/write rate
  * is there some kind of queue of reads and/or writes waiting? (could collect this from the "front" of etcd or the "back" of apisever, since apiserver is etcd's only client)
  * other custom metrics exported by etcd? (e.g. raft propagation lag to replicas, # leader elections per last 1m/15m/hour, #

[2015-04-28 09:45] AntonioMeireles commented on #7389
@pires afaict (now that i've actually slept something) this is not a (k8s) bug at all as @azimut first shown in pires/kubernetes-vagrant-coreos-cluster#74. (cf GoogleCloudPlatform/kubernetes#7388). It's just that lsof and netstat aren't specially usefull helping debug this...

[2015-04-28 09:48] madis commented on #7359
@thockin

-  Output from *kubectl get events*
[code]

- I can run other pods successfully
- I pulled the docker images manually (on all nodes) and got ```Status: Downloaded newer image for gcr.io/google_containers/skydns:2015-03-11-001``` (same *downloaded newer image* message for other 3 docker images in *not ready* state). Then deleting pods (thus letting replication controller recreate them) pu

[2015-04-28 11:11] rrati commented on #7374
Closed via #7375

[2015-04-28 11:11] #7374 closed

[2015-04-28 11:46] abonas commented on #6979
@thockin, any verdict on how and when this will be fixed?

[2015-04-28 12:20] xuhuiy commented on #6440
Hi @artto,

I had the same issue with you, did your resolve your problem yet? If yes, could you share your method please? Thanks advance. BTW, I try to check the log in kubelet.log, but I cannot found this file in the master or minion machine.

[2015-04-28 13:45] smarterclayton commented on #6910
For now this is fine, but binding is typically an object reference (for pods, an object red to a node).  We need to determine whether the LB should be represented as an object (even if it's a virtual object).  Ie

POST /services/a/binding {kind: "Binding", to: {kind: "LoadBalancerIP", name: "1.2.3.4,1.2.3.4"}

That means all bindings can be treated opaquely by clients.  We can discuss more, I'm no

[2015-04-28 13:50] pires commented on #7389
Thank you.

[2015-04-28 13:50] #7389 closed

[2015-04-28 13:57] gmarek commented on #4910
Renamed the issue, and slightly changed #5547

[2015-04-28 13:58] gmarek commented on #5507
Obsolete.

[2015-04-28 14:04] evpapp opened #7433 "kube-proxy loadbalancing: Use local pods only"
As far as I can see kube-proxy uses round robin to schedule requests to pods within the controller.

How about an option to use only pods that are running on the same minion, if available? That would save a lot of unnecessary network traffic

[2015-04-28 14:18] timothysc commented on #6514
@fgrzadkowski how do we track the perf changes in apiserver to detect any regressions?

[2015-04-28 14:18] gravis commented on #5739
May I add, that the install script isn't working for me?

[code]

The problem seems to be with curl CAs:

[code]

If the google CA should be installed somewhere, it should be documented as well.

Configuration:

* Mac OS 10.10.3
* wget from homebrew (GNU Wget 1.16.3 built on darwin14.1.0.)

Removing wget from the install script solved it. Do I need to open another issue this? (title will be pretty

[2015-04-28 14:20] #6354 closed

[2015-04-28 14:21] gmarek commented on #6072
Yes, Roberts change should fix this problem when merged. But I believe that we're still not sure if host IPs can change during runtime for any cloud provider. AFAIK in GCE they can't, and I'll be rather surprised if it's possible anywhere.

[2015-04-28 14:25] gmarek commented on #7051
To make sure we're on the same page: the v1.0 part of this rather big issue is creating a test (e2e or integration) which checks if the behavior of the cluster is correct when one machine goes away and later comes back? Reboot tests, etc. are for later, right?

[2015-04-28 14:25] benmccann commented on #6910
What kernel version does Kubernetes target?

[2015-04-28 14:44] fgrzadkowski commented on #6514
We are working on this :) Currently we only look at e2e performance test latency. I'm working on a PR to verify operation latency in apiserver. In general our goal is to increase performance to the level where we meet 1.0 goals and add e2e test that verify this.

[2015-04-28 14:45] doublerr commented on #6962
I'd prefer to try to get things updated and keep support. However I don't want to continually become stale.  every few months either.

[2015-04-28 15:00] erictune commented on #5921
@vishh since you made that change, we moved the bar, so another PR is needed.

[2015-04-28 15:09] timothysc commented on #5650
ack, so much has shifted.

[2015-04-28 15:17] vmarmol commented on #1625
Note that because the master does not register itself as a node the usage of the pods there is not tracked. I think someone was working on fixing that.

[2015-04-28 15:17] thockin opened #7437 "Kubelet should pass all ports to docker"
Currently we make a pass for host-ports and tell docker about them, but we don't tell docker about non-host-port port.  We should, it makes `docker ps` nicer

[2015-04-28 15:19] vmarmol commented on #1625
We measure package pull times in the Kubelet (and latency of Docker operations), but we don't have restarts, crashes, etc. We should add those.

Prometheus exports by default some metrics from the Go runtime as well.

[2015-04-28 15:24] thockin commented on #7018
#6979 proposes rejiggering some of the named-one-of fields.  better API, but requires cusotm JSON unmarshalling code.

[2015-04-28 15:25] thockin commented on #6979
No verdict yet.  The bar is pretty high for API changes between now and
1.0.  I've linked this off the v1 accumulator bug, but I don't have high
hopes for it.

On Tue, Apr 28, 2015 at 4:46 AM, abonas <notifications@github.com> wrote:

[2015-04-28 15:29] markturansky opened #7438 "Migrate PV binding from PV.Spec.ClaimRef to Binding subresource"
@bgrant0607 this is a breaking API change.

@thockin @smarterclayton

From #6105

Do we move the Claim.VolumeRef to Spec?
Do we allow users to ask for a specific PV?

and

Per @thockin's questions above...

I think the PersistentVolume should own the binding.  It is 1:1 with Claims and it is more natural to query for volumes and see what's bound than to traverse all namespaces to see if a claim ex

[2015-04-28 15:41] bprashanth opened #7440 "Kubelet heavy disk usage on a steady cluster"
I setup a test cluster and observed it in a steady state, noticed kubelete (well, docker actually, but probably precipitated by the kubelet) seems to be hammering the disk surprisingly hard for a cluster with just a few pods (the normal influx, elasticsearch etc).

My docker logs are full of

[code]

and kubelet logs:

[code]

But the disk io seems surprisingly high (via sar, atop etc)

[2015-04-28 15:41] yujuhong commented on #6440
@xuhuiy, `kubelet.log` should be in in `/var/log` or `/tmp`. Here is some general [debugging FAQ](https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ) that might be of help too.

[2015-04-28 15:45] bprashanth opened #7441 "Apiserver root url stacktraces on gce"
Confusing stack traces from my apiserver logs:
[code]

Haven't dug too deep, @roberthbailey (just because it seem related to gce/amazon)

[2015-04-28 15:48] preillyme commented on #7122
@lavalamp I'm not sure what the best way to handle the shippable configuration will be. Based on what I was reading last night it didn't look like you can nest configurations? But we need something like: https://github.com/lucassus/angular-seed/blob/master/shippable.yml for the Web UI. I'm curious what are your thoughts? Also @djvirgen do you have any experience with this?

[2015-04-28 16:03] erictune opened #7444 "Demo service account to replace kubernetes-ro use cases in demos"
# Problem
 - Several of our examples use kubernetes-ro.
   - cassandra, hazelcast, and rethinkdb examples use it for getting endpoints
   - phabricator examples uses it for getting pods
   - other examples may use it, pending further testing
   - probably other config not in our repo probably uses it.
 - We have use cases where nodes/pods need to reach the master over the internet, rather than ove

[2015-04-28 16:03] erictune commented on #7444
@cjcullen @roberthbailey

[2015-04-28 16:04] erictune commented on #5921
@cjcullen in response to your previous comment, I filed a more detailed proposal, #7444

[2015-04-28 16:05] smarterclayton commented on #7438
Not in flux, just no one went back to fix the todo yet.

[2015-04-28 16:06] eparis commented on #598
To understand data containers, we need to remember that container != image.

In the docker model, you can make changes to your container's filesystem, stop the container/reboot the host, and then you can restart the container and it will still have those FS changes.

In the kube model, we tend to believe that containers are always launched cleanly from an image and storage/filesystem changes shoul

[2015-04-28 16:23] timothysc commented on #7216
latest run with changes : failure on terminated pod.
http://fpaste.org/216313/02377851/

[2015-04-28 16:34] smarterclayton commented on #6910
Agree, load balancers will have lifetime shorter than service lifetime, so binding is a slightly different concept. We do have the idea that the binding is singular, but maybe it's typed (could we bind a service to something other than loadbalancer)?

[2015-04-28 16:44] markturansky commented on #7438
Looking through pods, it appears the binding is stored on pod.Spec.Host inside a GuaranteedUpdate helper.  Data-wise, this is 1:1 with pv.Spec.ClaimRef.

The introduction of BindingREST for pods is meant to narrow who can call Bind?  This would be similar to the status subresource, which prevents users, for example, from setting status.

If my data is correct, then this is not a breaking API chang

[2015-04-28 16:46] vmarmol commented on #7201
This was completed by @yifan-gu

[2015-04-28 16:46] #7201 closed

[2015-04-28 16:48] smarterclayton commented on #7438
Yes.

For security reasons PV and binding have almost the same users (only admins can bind or create volumes) so establishing the "correct" API pattern without breaking backwards compat is fine (same thing we said about pod bindings, basically).

[2015-04-28 16:50] bgrant0607 commented on #6979
We don't have time to change this now, and don't have a good solution.

At most, I suggest we add the type field.

[2015-04-28 16:56] justinsb commented on #6910
Just posted a design doc that should hopefully unify a lot of this discussion #7447

[2015-04-28 17:02] quinton-hoole commented on #6910
On Tue, Apr 28, 2015 at 9:35 AM, Clayton Coleman <notifications@github.com>
wrote:

External IP's, NAT devices, off the top of my head.

https://github.com/GoogleCloudPlatform/kubernetes/issues/6910#issuecomment-96918784>

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issues/6910#issuecomment-97128966>
.

[2015-04-28 17:11] bprashanth commented on #7216
@timothysc I've seen the test behave in weird ways, but the ways get weirder with more pods/node. Were you running against a 70+ node cluster?

[2015-04-28 17:12] markturansky commented on #7438
@thockin's argument is also that I have the bind on the wrong object in the paradigm.

The only difference is that Node:Pod is 1:N while PV:Claim is 1:1.  Querying for volumes with non-nil ClaimRefs == querying for Claims with non-nil VolumeNames.  I think it's a wash, honestly.

An array of pods on Node would be ugly.  A single ref on either PV or PVC is equally clean, IMHO.

There's an argument

[2015-04-28 17:13] abonas commented on #6979
@bgrant0607
'type' field will be great as (at least) temporary solution.
any idea when we can expect that?

[2015-04-28 17:13] a-robinson commented on #7428
cc @brendandburns looks like the apiserver didn't come up?

[2015-04-28 17:14] cjcullen commented on #7444
SGTM.

I think the eventual right answer for iv is to have a canonical way to mount the cluster CA cert in the pod.

[2015-04-28 17:15] a-robinson commented on #7433
It's worth doing some thinking about the potential failure cases, but if it checks out we'll happily accept PRs :)

[2015-04-28 17:19] a-robinson commented on #7441
Why in the world would the apiserver be doing anything with Route 53?

[2015-04-28 17:20] thockin commented on #7433
This is actually something I want, though I described it a bit differently.

If pods that back this service exist on this node, always route to them
(round robin if > 1).  Else route to a pod on another node.

That said, this is going to be tricky to test and prove correct, and we're
looking at a bunch of other change in kube-proxy right now, so it might be
best to hold off on this.  If you want t

[2015-04-28 17:24] quinton-hoole commented on #7051
If by your distinction between "goes away and comes back" vs "reboots" you mean "unplanned disappearance and reappearance" vs "planned shutdown and startup, with all the necessary hooks invoked on shutdown", then yes.  I think that a machine losing power or network connectivity, or crashing unexpectedly, and then booting and/or rejoining the network should be tested and work properly.  That is, af

[2015-04-28 17:29] bgrant0607 commented on #7402
We may need to fix this sooner rather than later if the RC controller is using a map to keep track of RCs corresponding to pods.

cc @lavalamp @bprashanth

[2015-04-28 17:35] lavalamp commented on #7402
As it stands, @bprashanth's PR will (randomly) ignore all but one overlapping controller.

[2015-04-28 17:37] bprashanth commented on #7402
My rewrite will assume that the overlap case is unsupported. I have plans to add a new field to the status and set it to dormant when there's an overlap, and wake up the dormant controller when there isn't, but that will be in a follow up pr.

[2015-04-28 17:38] a-robinson commented on #1625
+1 on etcd metrics - since it seems to be a common pain point, more visibility would be great

As for what Prometheus automatically exports - resident and virtual memory usage, cpu usage, number of goroutines, number (and max number) of open file descriptors, and process start time, although I don't know that how accurate it all is.

[2015-04-28 17:42] lavalamp commented on #7122
@preillyme I'm not sure, but you can try to modify our existing .yml file to install both go and ui stuff, and send a (WIP) PR to see what shippable does with it.

[2015-04-28 17:42] thockin commented on #7438
inside a GuaranteedUpdate helper. Data-wise, this is 1:1 with
pv.Spec.ClaimRef.

If pod:node as claim:pv, then this is not right.  The node is consumed by
the pod.  The PV is consumed by the claim.  I'm not going to be dogmatic
about the analogy because it is not 100%, but I want to understand WHY it
has to be different, if we do it differently.

In pod-space, you assign the pod to the host.  You

[2015-04-28 17:48] pmorie commented on #6210
Related: https://github.com/GoogleCloudPlatform/kubernetes/issues/7337, might be able to be closed as a dupe.

[2015-04-28 17:54] pmorie opened #7448 "Add doc about writing correct conversions"
I've noticed that I spend a lot of time debugging serialization tests failures due to the quality of my conversion function implementations.  I've had a few people in the last couple days ask me about things related to conversion functions, and I've come to think it could use some doc with specific examples of conversion functions to give a beginner (or someone that touches it only often enough to

[2015-04-28 17:55] lavalamp commented on #1625
I'm not sure what this means-- we definitely do have etcd do CAS for us. Every CAS is sent to etcd.

Good thing to track, but scheduler has no idea about the latter, so it may not be the best place to track it. Instead, how about "rejected by apiserver", and keep a histogram of rejection reasons. This would let us see the double-scheduling rate (to verify that it's very low).

This should already

[2015-04-28 17:58] timothysc commented on #7216
100 per node is the metric we baseline against.

[2015-04-28 18:01] bprashanth commented on #7216
I've seen weird situations at that load. Fyi that's outside the 1.0 roadmap, which targets 30-50 per node: https://github.com/GoogleCloudPlatform/kubernetes/blob/b37328a551ba8cdec4dbb3f4f537fce405957c5f/docs/roadmap.md (though we should obviously handle it gracefully).

[2015-04-28 18:03] #7160 closed

[2015-04-28 18:05] markturansky commented on #7438
There is no reason the pod:node/claim:pv bind has to work differently.  Perhaps this nuance wasn't discussed during API review because it's 1:1 whereas 1:N for pods and nodes is a much bigger difference.

I think the nuance you're defining is correct.  It would be achieved exactly the same way as the current bind, just with the objects flipped, because it's 1:1.  It is not an insignificant amount

[2015-04-28 18:08] markturansky commented on #7438
It's not just API changes, of course, but the binder as well.  The volume plugin is easier.

[2015-04-28 18:12] timothysc commented on #7216
@bprashanth well aware..
FWIW It can be flakey at that level, I've seen it both pass and fail.

[2015-04-28 18:24] bgrant0607 commented on #7351
Is this about temporary shutdown/disruption, permanent deletion, both?

Deletion should follow the graceful termination pattern (#1535), using DeleteOptions.

For temporary administrative shutdown, we could add another bool similar to unschedulable, but which would have the additional effect of evicting all existing pods.

[2015-04-28 18:33] smarterclayton commented on #6910
----- Original Message -----

VPNs, other interface types (fast/slow?)

[2015-04-28 18:46] bgrant0607 commented on #6979
A PR would be welcome. :-)

[2015-04-28 18:48] bgrant0607 commented on #7111
Related: #4855

[2015-04-28 18:48] bgrant0607 commented on #7111
API prefix: Or make that yet another field? I agree that we need it in some form.

[2015-04-28 18:50] timothysc opened #7451 "Hundreds of open connections to etcd."
Observations:

When doing nothing on an unloaded system with 23 nodes checking in, we have
~126 open connections to etcd.

When we start to load the system easily jumps to 400+.

`lsof -p $(pgrep kube-apiserver)`

Other Notes:
* http://stackoverflow.com/questions/17948827/reusing-http-connections-in-golang
* I suspect issues in how we are using the etcd client library, which is currently not threa

[2015-04-28 19:08] lavalamp opened #7452 "SPDY is deprecated. Switch to HTTP/2."
Filing for tracking purposes.

See #7392 where the spdy package we use doesn't even exist any more. (And btw it has bugs anyway, possibly security bugs-- see the trophies here: https://github.com/dvyukov/go-fuzz)

Blocked on github.com/docker/spdystream switching to HTTP/2.

(Note: HTTP/2 is based on SPDY, with just a few differences-- hopefully this transition will be easy.)

@thockin @ncdc

[2015-04-28 19:11] ncdc commented on #7452
Waiting on HTTP/2 support for Go that includes low level client/server ability to create and handle streams (https://github.com/bradfitz/http2).

https://github.com/docker/spdystream/pull/53 pulls the upstream spdy code into spdystream.

[2015-04-28 19:20] smarterclayton commented on #7451
----- Original Message -----

HTTP or TLS connections from master to etcd?

Our transports *should* be reused on the master for HTTP - which only means bursts of traffic can push the pool size up.  Each watch is one concurrent connection on its own.  We probably need to verify we are sharing the underlying TLS transport (first culprit).  HTTP connections should be shared.  Could also be something

[2015-04-28 19:22] smarterclayton commented on #7111
I wasn't sure - technically "api/v1beta1", "pods/v1beta1", "kubelet/v1beta1" are all unique versions (nothing says a version can't have a qualifier in it).  Or we can do "kubelet-v1beta1" which is easier on the eyes - the slash just seemed somewhat nice because we could tie that to prefix and say that by convention APIs should have a version prefix that matches their path prefix so that you can gu

[2015-04-28 19:24] quinton-hoole opened #7453 "Flaky e2e test: Services should provide DNS for the cluster - Expected <int>: 3 to equal <int>: 0"
This test fails intermittently on our CI system, and it's fairly easy to reproduce the error in a local test cluster, which I've done.

The error message output by the e2e test is consistently:
[code]

Digging a bit deeper, it looks like our kube2sky bridge is failing to GET the pods for which name resolution is being requested:

[code]

While kube2sky was busy returning these errors, I confirmed

[2015-04-28 19:31] lavalamp commented on #7452
Ah, after docker/spdystream#53 is merged, we can at least make godep happy again. :)

[2015-04-28 19:42] quinton-hoole commented on #7453
Looking through the history of this test, the following commit seems to correlate with the beginning of the increased flakyness:

Commit e982ac5b550dbbb8613d937f15bb9ece4482689b by cjcullen
Change kube2sky to use token-system-dns secret, point at https endpoint (instead of kubernetes-ro service).

I'm going to try to roll that back in a local test cluster, and if that fixes the flakyness, roll it

[2015-04-28 19:43] quinton-hoole commented on #7453
It's perhaps worth noting that when a cluster comes up in this "DNS broken" state, it never seems to recover.  If I rerun the DNS service e2e tests against the same cluster, over and over again, they fail every time.  However, looking at our CI runs (for which a new cluster is build every time), clusters come up in this state approximately 20% of the time.

[2015-04-28 19:44] quinton-hoole commented on #7453
The PR for the above commit is #7154.

[2015-04-28 19:53] philips commented on #7203
I think where we need to end up on this is having the API be very explicit about the users intended image. This is something like how the volume API is explicit about the type of volume and its arguments:

[code]

So if we take this same approach and change the image we get something like:

[code]

[code]

Possible problems and points of research:

- [ ] Docker has other things like os and arch wh

[2015-04-28 19:56] timothysc commented on #7451
HTTP, we're not using TLS.

[2015-04-28 20:00] lavalamp commented on #7453
I'm not sure that rolling back that PR will make any difference; the error message refers to the -ro service, but if that PR were actually having an effect, it would be talking about the -rw service.

[2015-04-28 20:08] cjcullen commented on #7453
The test checks if a pod can hit the kubernetes-ro service. DNS is now pointing at the RW service, but for reasons TBD, that is flaky, and it is not making any of the other services available to pods.

[2015-04-28 20:09] calvinmetcalf commented on #7286
so with an updated config

`gcloud alpha container kubectl rolling-update $PREV_VERSION -f - < config.json`

still does not work while

`gcloud alpha container kubectl rolling-update $PREV_VERSION -f config.json`

does work with the first one still erroring out with `ERROR: Error: - does not specify a valid ReplicationController` so likely my missing selector issue was an unrelated issue

[2015-04-28 20:13] philips commented on #7203
On @bgrant0607 point of letting the user control where things are fetched from this feels like a configuration problem that is orthogonal to this problem. If the user wants to configure their container runtime to fetch from an NFS share, local store, etc we need to have a cluster-wide or namespace wide API for this sort of thing.

[2015-04-28 20:22] pmorie commented on #7203
@philips Presumably there will be a validation to ensure that each container in a pod has the same image type, correct?

[2015-04-28 20:22] timothysc commented on #6951
I'm waiting patiently for the Timestamp stuff to land, and check.

[2015-04-28 20:23] bgrant0607 commented on #7018
Another possible issue: expanded image spec: #7203

[2015-04-28 20:25] philips commented on #7203
@pmorie I don't know if there is a technical reason for this restriction; rkt, for example, can run both docker and ACI images in the same pod.

[2015-04-28 20:29] pmorie commented on #7203
@philips That is a really good point -- I guess if rocket is available there shouldn't be any problem with letting the rocket pod handle the docker image pull.  That said my gut says there may be some issues to work through -- for example making sure that rkt and docker can pull using the same secret.

[2015-04-28 20:32] philips commented on #7203
On Tue, Apr 28, 2015 at 1:30 PM, Paul Morie <notifications@github.com>
wrote:

It should be easily possible:
https://github.com/coreos/rkt/blob/master/Documentation/configuration.md#configuration-kinds

I think @yifan-gu is hooking up the k8s secret auth configuration to this
rkt feature for docker registry auth.

Brandon

[2015-04-28 20:33] pmorie commented on #7203
@philips Yep, we've been communicating about that.

[2015-04-28 20:34] bgrant0607 commented on #7203
@philips The fields you propose match the [ACI pod manifest schema](https://github.com/appc/spec/blob/master/SPEC.md#pod-manifest-schema)? What structure would you propose for Docker images?

[2015-04-28 20:37] philips commented on #7203
@bgrant0607 The first one is for docker images, here it is again:

[code]

Based on the [docker image json](https://github.com/docker/docker/blob/master/image/spec/v1.md#image-json-description) and the new Docker 1.6 `namespace/repo:tag@digest` schema which I feel is getting us into a place where the string is too fancy and should be pulled out into separate sections.

[2015-04-28 20:46] bgrant0607 commented on #7080
@nikhiljindal Could you please take a look at this?

[2015-04-28 20:49] davidopp commented on #7351
Graceful node evacuation came up in a meeting today, so adding
@lavalamp @dchen1107 @mbforbes @zmerlynn @alex-mohr @roberthbailey

[2015-04-28 20:52] roberthbailey commented on #7351
@zmerlynn too

[2015-04-28 21:04] smarterclayton commented on #7451
The number of connections is going to be ~ simultaneous users max, and should clear the pool over time afterwards.  I wouldn't necessarily be worried about 400 connections.  Maybe 40,000.

----- Original Message -----

[2015-04-28 21:05] lavalamp opened #7459 "Cluster Controller"
This is my post 1.0 vision for how cluster upgrades happen. Writing it up since it's been mentioned a few times.

cluster-controller
- A new cluster component.
- Runs in a pod, with admin privileges.
- Takes over from the bootstrapping process when a new cluster is started.
- Keeps a desired cluster state object, stored in the system with other api objects. This includes:
  - The desired node conf

[2015-04-28 21:07] davidopp commented on #7451
@lavalamp and @bprashanth say this is working as intended.

[2015-04-28 21:07] #7451 closed

[2015-04-28 21:08] cjcullen commented on #7453
I finally got a local e2e to fail. Looking at the kube2sky container's logs, in the failure case I see:
[code]
A successful DNS startup looks like:
[code]
In both cases, I can kubectl get services, curl "http:/10.0.0.1/api/v1beta3/services", and curl "https://10.0.0.2/api/v1beta3/services" and get the full list of services, so I think this points to the problem being somewhere in the depths of the

[2015-04-28 21:18] davidopp commented on #7291
Ping? Did this help?

[2015-04-28 21:19] timothysc commented on #7451
It scales linearly with the nodes, it may not be an issue for 1.0 w/100 nodes, but it will certainly be an issue with 10^3 +

[2015-04-28 21:20] yujuhong commented on #7308
@simon3z, FYI, #7408 is a similar fix, and there is some discussion over there as for whether nodes should be namespace-free.

[2015-04-28 21:20] cjcullen commented on #7453
But my vote would be to revert this before we cut a 0.16.0.

[2015-04-28 21:24] roberthbailey commented on #7412
Since we are going to delay adding #6949 until I can rebase on top of #5246 it seems like it's worth fixing this separately.

[2015-04-28 21:25] lavalamp commented on #7214
You can't use PATCH to change the version of a resource. If you want to see it in another version, you can just use the other version's URL, e.g., http://10.10.103.86:8080/api/v1beta1/services/frontend?namespace=developmentwangzhe

apiVersion must match the version in the URL.

[2015-04-28 21:25] #7214 closed

[2015-04-28 21:28] davidopp commented on #7051
/subscribe

[2015-04-28 21:31] zmerlynn commented on #7051
Part of this is covered by the much maligned `services.sh` test. It is, in fact, why that test is such a hold-out, and why it will be a royal PITA to parallelize (if ever).

[2015-04-28 21:33] jayunit100 commented on #3139
okay so goals are
- implement satnam's soak as an e2e, just to prevent bitrot.
- implement loadgenerator k8petstore test as an e2e.

[2015-04-28 21:39] davidopp commented on #5953
Removed from 1.0 because we don't think this is a bottleneck right now.

[2015-04-28 21:42] davidopp commented on #5599
@ncdc Please re-open if this is still an issue.

[2015-04-28 21:42] #5599 closed

[2015-04-28 21:53] jayunit100 commented on #6981
so, is the goal to have `code` in kubernetes, which launches and maintains the prometheus instance ,, and etls data into it from testing runs ?

[2015-04-28 21:53] davidopp commented on #4567
@erictune Is it OK if we assign this issue to you?

[2015-04-28 21:59] apatil commented on #6046
I'm also seeing this, but don't have a repro case yet unfortunately. @dchen1107, what did you mean when you said you sync-ed?

[2015-04-28 22:01] preillyme commented on #7122
Okay @lavalamp seems like a plan.

[2015-04-28 22:04] erictune commented on #7237
@cjcullen would you agree that this is fixed by #7275

[2015-04-28 22:06] erictune commented on #5917
Fixed by  #7303

[2015-04-28 22:06] #5917 closed

[2015-04-28 22:08] erictune commented on #7221
fixed by #7220

[2015-04-28 22:08] #7221 closed

[2015-04-28 22:08] cjcullen commented on #7237
Yep.

[2015-04-28 22:16] cjcullen commented on #7453
#7461 rolls back to a more stable kube2sky until this can be debugged further.

[2015-04-28 22:22] #5435 closed

[2015-04-28 22:30] erictune commented on #2030
We now have secrets, which are distributed via a volume.  There is also an option to pass them in env vars.  This issue is still good reading on the design space, but it doesn't need to be an open issue.

[2015-04-28 22:30] #2030 closed

[2015-04-28 22:34] bgrant0607 commented on #7111
I'm fine with slash.

[2015-04-28 22:34] erictune commented on #1907
Current state:
  - we have a secrets resource.
  - we have a way to create "service accounts" at cluster startup, which is in use.
  - upcoming PRs by @liggitt will add a "service account" field to a pod and an automated way to create users, tokens, and to attach those to a pod's volumes based on that field.

Docs are a bit stale.
This is the closest thing we have.
https://github.com/GoogleCloudPl

[2015-04-28 22:34] #1907 closed

[2015-04-28 22:51] #7318 closed

[2015-04-28 22:55] yujuhong opened #7464 "e2e density test panicked"
I ran density test on a freshly built cluster and it panicked.

[code]

If I read the log correctly, the test asserted in a goroutine, causing the panic.
Where this could have occurred: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/density.go#L201

[2015-04-28 22:59] bprashanth commented on #7464
i suspect that test is running far more than we expect to work on too few nodes (can't tell without seeing how many rcs were created etc)

[2015-04-28 22:59] kelseyhightower commented on #7459
@lavalamp Thanks for posting this. We are doing a lot of this work in Tectonic today and from this list I see plenty of areas where we can collaborate around managing the cluster lifecycle.

[2015-04-28 23:00] paddyforan commented on #5461
I've been trying to reproduce this on and off again for a while now, and haven't been able to. There is a non-zero chance that it was at the application level, not at the kubernetes level (e.g., the influxdb monitoring tool went berserk, or something.)

[2015-04-28 23:02] yujuhong commented on #7464
I would be okay if the test simply failed, but I didn't expect to see it panic.

[2015-04-28 23:04] bprashanth commented on #7464
yeah it stacktraces when an error is returned, which is confusing (by design i think, in the ExpectNoError function or whatever). We should log the error itself, if nothing else.

[2015-04-28 23:09] yujuhong commented on #7464
The design is flawed then...There were >300 lines of stack trace without a message telling me what the failure was.

[2015-04-28 23:10] bprashanth commented on #7464
Logging it should be as easy as Logf on err != nil, unsure why it wasn't done till now

[2015-04-28 23:14] roberthbailey commented on #7399
Fixed by #7383, #7425, and #7426.

[2015-04-28 23:14] #7399 closed

[2015-04-28 23:25] roberthbailey commented on #6728
I think this is a problem with the output from our script. A successful run outputs quite a bit of info *after* "Kubernetes cluster created." (including instructions for how to reach your cluster). We should change the text part-way through the script so that it doesn't make you think that it is done when in fact it isn't.

[2015-04-28 23:37] ArtfulCoder commented on #6910
@justinsb @thockin

Q: What ip should kube-proxy bind to ?
A: I tried out Justin's idea of creating a virtual bridge with a 169.254.0.1/24 addr and binding to it and it seems to work.

 brctl addbr abh1
ip addr add 169.254.0.1/24 dev abh1
ip link set dev abh1 up

Updated the iptables rule as under:
-A KUBE-PORTALS-CONTAINER -d 10.0.0.3/32 -p tcp -m comment --comment "netcat:" -m tcp --dport 80 -j

[2015-04-28 23:37] thockin commented on #6743
Do you want the single portal IP at all?  This feels like you want a "headless" service and DNS for it that returns multiple A records.  What SRV query are your doing?  Are you asking for _something._tcp.your-service.namespace or something else?

[2015-04-28 23:39] alex-mohr commented on #7459
@lavalamp Thanks -- and this does mirror some of what GKE has started to build as well, but we'd rather have more of that functionality living within the cluster rather than out-of-cluster functionality.

FYI @roberthbailey @zmerlynn

[2015-04-28 23:42] thockin commented on #6852
@vishh not highest prio, but may make other DNS work easier.

[2015-04-28 23:42] mbforbes commented on #7459
/sub

[2015-04-28 23:43] thockin commented on #6667
This is fixed now, yes?  Please reopen if not.

[2015-04-28 23:43] #6667 closed

[2015-04-28 23:43] #6656 closed

[2015-04-28 23:56] a-robinson commented on #6046
@mingfang - where are you running your cluster, and how did you create it?

[2015-04-29 00:03] thockin opened #7469 "kube-dns as a standalone DNS product"
SkyDNS supports arbitrary backends.  If we implement that interface in terms of kubernetes, we don't need etcd or skydns binaries running.

[2015-04-29 00:04] thockin opened #7470 "Embed DNS into kube-proxy?"
DNS is basically non-optional at this point, and this is more fault-tolerant and performant.  Consider.

[2015-04-29 00:04] thockin opened #7471 "Proper SRV for named ports"
Given a service "svc" in namespace "ns", with a TCP port "foo", we should generate SRV records for _foo._tcp.svc.ns...

P2 because we COULD cut it, but easy as we do the other work, and enables a lot of standards-based stuff.

[2015-04-29 00:04] thockin opened #7472 "Insert a layer in DNS hierarchy, tune search path"
Instead of svc.ns.kubernetes.local, which leaves no room for non-service name stuff, let's insert literal "services" - svc.ns.services.kubernetes.local.  Adjust the search path to  ns.services.kubernetes.local, services.kubernetes.local, kubernetes.local

Not so important on its own, but hard to fix once we go to 1.0, and easy.

[2015-04-29 00:05] thockin opened #7473 "kube-dns pod should have a param for root domain"
The default is "kubernetes.local" but others may want to change it.

[2015-04-29 00:05] thockin opened #7474 "kube-dns pod should expose TCP port"
This is necessary for large DNS responses, as in multi-record responses to headless.  Also ports will need to be named.

[2015-04-29 00:05] thockin opened #7475 "kube2sky does not clean up properly"
DNS records can be left stale, and the watch logic is not robust. Kube2sky really needs to be retooled in terms of the controller framework.

[2015-04-29 00:05] thockin opened #7476 "DNS for headless services"
Doing a DNS lookup for a headless service should return multiple A records at least.  Without this, headless services are not very useful.

related: #6743 #6437 #6666

[2015-04-29 00:06] thockin commented on #5968
SkyDNS supports DNSSEC but I do not think this is very important, really.

[2015-04-29 00:06] #5626 closed

[2015-04-29 00:35] thockin commented on #7438
On Tue, Apr 28, 2015 at 11:05 AM, Mark Turansky
<notifications@github.com> wrote:

I am confused.  This SOUNDS like what I wanted - which you were
arguing against.  Did I miss something?

To be clear: the Binding is POSTed to $PVClaim/binding, referencing
the PV, yes?  So the pod:node vs claim:pv analogy holds...

[2015-04-29 00:38] jiaweizhou commented on #7214
thanks, but I also try to patch some other argument like the ports in the spec,but it return the same error .Can you give some examples that you patch resource？
thanks

[2015-04-29 00:46] ghodss opened #7478 "Migrate command line flags from a mix of _ and - to just -"
Continuing on from #7281...

I don't think we should keep this as a steady state - we should migrate to just `-`'s and first deprecate then remove flags with `_` by 1.0.

Even if we don't disable `_` flags by 1.0, we should make sure deprecation warnings are issued.

[2015-04-29 00:55] njuicsgz commented on #7352
found the cause of "invalid memory address or nil pointer dereference", and will send a PR
thanks

[2015-04-29 01:02] mingfang commented on #6046
I’m running the Master related process in one Docker container and the Node related process in another Docker container.
All the Nodes are connected using OpenVSwitch GRE tunnels.

The Nodes register with the Master using this script
https://github.com/mingfang/docker-kubernetes-node/blob/master/register.sh <https://github.com/mingfang/docker-kubernetes-node/blob/master/register.sh>

[2015-04-29 01:16] quinton-hoole commented on #7453
Still somewhat in the realm of speculation, but #7353 (Increase maxIdleConnection limit when creating etcd client in apiserver) appears to have fixed this problem.

Since it was merged today, we have seen zero failures of the DNS e2e test.

It makes quite a bit of sense that it would, given the explanation in #7160 and above.

[2015-04-29 01:30] gouyang opened #7483 "Add status column for kubectl get replicationcontroller/service"
kubectl get replicaController/service does not tell whether the replicaController is in health state or service is running, how about add a status column to indicate that?

[2015-04-29 01:32] bgrant0607 commented on #6291
A POD with phase=Failed should never be restarted by Kubelet. It shouldn't reach that phase for mere container failures if RestartPolicy=Always. If that is happening, it is most definitely a bug.

[2015-04-29 01:39] bgrant0607 commented on #6291
If the Kubelet issue is the only one remaining, we might as well just use this issue.

[2015-04-29 01:43] colemickens commented on #7400
The PR is here:
https://github.com/GoogleCloudPlatform/kubernetes/pull/7484

I'm curious how this works: "Pull Policy is per-container, but any user of the cluster will have access to all local images." from that document.

That makes it sound like if I auth and docker pull an image onto a single machine in the cluster that it would be available to all machines in the cluster to spin up a containe

[2015-04-29 02:03] hurf opened #7485 "Duplicate service port name can't be validated"
validateServicePort tried to check duplicated service port name, but there's a small bug in it and the validation would not work.

[2015-04-29 02:11] nikhiljindal commented on #7420
Dup of https://github.com/GoogleCloudPlatform/kubernetes/issues/7453

[2015-04-29 02:11] #7420 closed

[2015-04-29 02:23] njuicsgz commented on #7352
https://github.com/GoogleCloudPlatform/kubernetes/pull/7487

[2015-04-29 02:24] jfoy commented on #2890
This work is on hold for us. I'll post back here when we reactivate it.

[2015-04-29 03:30] bengong2015 opened #7489 "pods stay on Pending"
Hi all.
I've tried to create a pod on master below: (master's ip: 202.120.11.50  minions's ip: 202.120.11.51)
[root@localhost pods]# kubectl create -f wildfly-pod.json
wildfly2

[root@localhost pods]# kubecfg list /pods
Name                Image(s)            Host                Labels              Status
----------          ----------          ----------          ----------          ----------
wi

[2015-04-29 03:58] smarterclayton commented on #7070
I opened #7490 to fix a specific problem OpenShift is having (aggressive internal conversion gives no chance for generic tools to handle objects).  I opted to make it the callers responsibility to check whether an internal []runtime.Object contains objects that need to be processed to a particular version (touch points in Kube code are light, primarily resource.Builder and the testclient).

[2015-04-29 03:58] caesarxuchao opened #7491 "*DefaultRESTMapper.Add() in restmapper.go generates wrong mapping"
@smarterclayton @derekwaynecarr
IMHO, the "if _, ok := m.mapping[plural]; !ok" is problematic.
[code]
The init() function in latest.go calls this Add() function when looping over different "version" and "kind". Because of the aforementioned "if" condition, most entries in the "mapping" will stuck with v1beta1 "meta". This causes issue #7260. @nikhiljindal also found a related problem in latest_tes

[2015-04-29 04:22] thockin commented on #6910
On Tue, Apr 28, 2015 at 4:37 PM, Abhi Shah <notifications@github.com> wrote:

There's a bigger problem with this - any IP you can choose will still
run some risk of being actually used, even link-local IPs.  Without
the sysctl, I don't think we can do much better than what we have.

[2015-04-29 04:26] skwokmag opened #7493 "What kind of aws roles do I need to prepare for kubernetes"
Hi,

iam has a few roles. Is it "Grant API access to SAML providers"?
Thank you.

skwok

[2015-04-29 04:28] thockin commented on #6910
I'm not in love with it either, which is why I called it ServiceBinding and not Binding.  But maybe we don't need it for now.  Moving review to design doc.

I'm not sure I get the notion that Services will have long lifetimes than load-balancers, though.  If so, that does make binding a bit weird...

[2015-04-29 04:29] smarterclayton commented on #7491
the add should be invoked in the order of preferred versions first, but it looks like when we switched latest.Version we did not do that.  If we invoked add on v1beta3 first (it should be the reverse order of latest.Versions) that would also solve this issue if I understand your statements correctly.

[2015-04-29 04:29] thockin commented on #6910
@benmccann We don't have a stated policy on kernel compat.  for now it's pretty much "whatever docker supports".  We should solidify that.

@dchen1107 @rjnagal

[2015-04-29 04:30] smarterclayton commented on #7491
Actually, it would not be latest.versions, but the local versions in the init() block of latest.  We should add a comment there that the order should be in preferred API selection order.

[2015-04-29 04:43] davidopp opened #7494 ""kubectl get nodes" output is confusing"
Not sure how this will show up in Github, but when you do "kubectl get nodes" the columns are aligned such that it looks like "Schedulable" is a label (which it isn't), and the status is "<none> Ready" which is also confusing.

NAME                                                  LABELS        STATUS
kubernetes-minion-kraw.c.striped-torus-760.internal   Schedulable   <none>    Ready

[2015-04-29 04:44] davidopp commented on #7494
Yeah, that totally didn't show up right in Github.  Here is better:

[code]

[2015-04-29 04:46] davidopp commented on #7494
My guess is that what happened is that the last two columns accidentally got flipped (should read
[code]
rather than
[code]

[2015-04-29 04:49] smarterclayton commented on #6910
My app goes from 1k qps to 100k.  I probably move from a software LB to a dedicated rig.  Operator wants to add more external IPs so he can rotate through.  I don't think he should have to delete the service and recreate it to make that change.

[2015-04-29 04:52] davidopp opened #7495 "Automatically label every node with its hostname"

[2015-04-29 04:56] davidopp opened #7496 ""kubectl help xxx" / "kubectl xxx -h" should print usage at the bottom, not the top"
Putting the usage info at the top makes it likely that this info (which is the thing the user actually wants) will scroll off the screen. We should move it to the bottom, after the flags and additional help topics (I'm not sure we should be showing additional help topics, but that's another story).

[2015-04-29 05:02] davidopp commented on #7340
Sam, this is working as intended. Instead of pre-filling pod.Spec.Host (which users really shouldn't be setting anyway), you should add a label to the node (for example, hostname=foobar) using "kubectl label nodes" and then add to the pod a pod.Spec.NodeSelector to select that label value (e.g. hostname==foobar). If you do this, the scheduler will hold the pod until the node you want it to schedul

[2015-04-29 05:02] #7340 closed

[2015-04-29 05:15] thockin commented on #6910
dedicated rig

Yeah, that's a fair use case, and it maybe suggests that binding a Service
to a LoadBalancer is the wrong abstraction.  Maybe it's more like binding a
Service to an Ingress or something.  Admin can update that ingress to have
more LBs or be different, and updates would cascade to the Service.

Or maybe the binding really is backward and we should bind the LB to the
Service, and upda

[2015-04-29 05:17] caesarxuchao commented on #7491
Yes, carefully choosing the order of adding API versions will solve #7260, though I don't know if this is the best practice as it makes maintenance difficult. Comments are welcomed.

[2015-04-29 05:24] caesarxuchao commented on #7491
I will change the API registration order and make a commit tomorrow. Please let me know if you have other thoughts.

[2015-04-29 05:57] chaubeau opened #7497 "kubernetes can be install on the CentOS6.X or no public network of local environment"
kubernetes can be install on the CentOS6.X or no public network of local environment？

[2015-04-29 06:03] elsonrodriguez opened #7498 "CoreOS Getting Started Guide not working"
Tried to run through this guide:

https://github.com/GoogleCloudPlatform/kubernetes/blob/3025fa870882c20c03b333f965a40a3302904012/docs/getting-started-guides/coreos/coreos_multinode_cluster.md

On VMware, there is no eth1, so the flannel configuration dies.

Once you get past that, there is also an issue where etcdctl doesn't properly update the flannel network settings because the etcd server isn

[2015-04-29 06:43] davidopp commented on #1625
Thanks for the feedback. Yeah, sorry about my confusion about etcd index vs. apiserver resourceVersion.

@a-robinson

Oh that's cool, I thought the only stuff we were exporting was the HTTP handlers you explicitly instrumented (PRs listed earlier in this issue). How do I access the Prometheus stats that are exported? And is every k8s component (api server, scheduler, controller manager, kubelet, e

[2015-04-29 06:51] davidopp commented on #6428
@brendandburns felt that we shouldn't do this for 1.0, and instead if we need stats from cAdvisor for monitoring, we should run a special instance of heapster on the master node (unless I misunderstood).

But the recent update from @a-robinson on #1625 seems to imply that we may get the stats we need for free from Prometheus anyway.

[2015-04-29 06:55] davidopp commented on #7092
This is related to #6047

[2015-04-29 06:56] davidopp commented on #6047
Actually I'm no longer sure what the difference is between this issue and #7092

[2015-04-29 06:56] huangqg commented on #7291
it helps, thanks much for your reply.

[2015-04-29 06:56] #7291 closed

[2015-04-29 07:07] bgrant0607 opened #7501 "Metadata fields incorrectly inlined in swagger"
Metadata fields like name and labels are inlined into their enclosing types, such as v1beta3.Pod. I believe this is because we inline the Go structs but not the json. The use of the "inline" json tag qualifier apparently is non-standard. The presence of a json field name should indicate that the struct shouldn't be inlined. We'll need to fix this in go-restful.

Examples:
http://kubernetes.io/thir

[2015-04-29 07:09] davidopp commented on #4910
I propose to remove this from 1.0 milestone. Any objections?

[2015-04-29 07:12] davidopp commented on #6072
OK, in that case I'm going to remove this from the 1.0 milestone. @roberthbailey (or anyone else) please speak up if you think we need to support node changing its IP address without first being removed from the cluster-provider, recognized as gone by the master, and then re-added (for 1.0).

[2015-04-29 07:13] davidopp commented on #4910
@bgrant0607 agreed with moving to 1.0, so I'm going to do that now, and if someone objects they can comment.

[2015-04-29 07:13] davidopp commented on #4910
Sorry I mean moving to post-1.0.

[2015-04-29 07:14] roberthbailey commented on #6072
Re-adding with a different IP sounds reasonable for v1.0 to me.

[2015-04-29 07:14] davidopp commented on #6804
Moving to post-1.0 (along with #7091)

[2015-04-29 07:15] davidopp commented on #7091
Moved to post-1.0

[2015-04-29 07:20] davidopp commented on #6053
@fgrzadkowski and @wojtek-t say this is fixed.

[2015-04-29 07:20] #6053 closed

[2015-04-29 07:28] davidopp commented on #6564
Only remaining issue is #6562 so closing this one.

[2015-04-29 07:28] #6564 closed

[2015-04-29 08:10] jsafrane commented on #7317
It's caused by commit 275002173e2d7c53b86965016fb0f180f92f8ec9:

[code]

This `os.RemoveAll()` is called *before* unmounting of volumes, which are mounted somewhere into `kl.getPodDir(pod.ID)`.

@yujuhong, why RemoveAll()? It was not there before your commit.

[2015-04-29 08:13] roberthbailey commented on #7495
Where are the label applied? I might be able to do this with a one line change as part of #6949.

[2015-04-29 08:50] fgrzadkowski commented on #1625
@davidopp All of our components (i.e. api server, scheduler, controller amanger, kubelet) are exporting prometheus metrics on /metrics handler. I believe it's enabled everywhere now.

[2015-04-29 08:53] davidopp commented on #7495
I suspect that the anti-pet forces may not like this feature but I think it has proven very useful in Borg. The immediate motivation was #7340 but this is a generally useful feature.

The label goes in the ObjectMeta of the Node (in the field "Labels"). I would use something like key="hostname" (or maybe "kubernetes.io/hostname"?) value=<hostname>. And yeah, I think you could do this in registerNo

[2015-04-29 08:53] fgrzadkowski commented on #7451
@timothysc Each watch that apiserver handles is one connection with etcd. O(100) connection is expected (e.g. each kubelet watches pods and services, each kubelet proxy watches services and endpoints)

[2015-04-29 09:05] jsafrane commented on #7317
Fixed in PR #7503

[2015-04-29 10:21] fgrzadkowski commented on #6981
I imagined prometheus as yet another cluster add-on, similar to logging (elasticsearch+fluentd). Once we start it and point it to some instances (kubelet, pods, scheduler, controller) it will poll metrics and store it in a custom DB. IMO we can postpone the decision about frequency.

[2015-04-29 10:30] bengong2015 commented on #7489
I've check the configuration of iptables and restart the service, then the exception gone.
But the pod still stay on pending:
[root@localhost pods]# kubectl create -f wildfly-pod.json
wildfly0
[root@localhost pods]# kubectl describe pod wildfly0
Name: wildfly0
Image(s): wildfly
Host: 202.120.11.51/
Labels: name=wildfly0
Status: Pending
Replication Controllers:  <none>
Events:
From SubobjectPath St

[2015-04-29 10:32] acroca commented on #7428
Is there anything else I can do to help troubleshooting this issue?

[2015-04-29 12:07] avinci commented on #7122
@preillyme what configurations would you like to nest? xvfb?

[2015-04-29 13:06] #7016 closed

[2015-04-29 13:14] timothysc commented on #7451
@fgrzadkowski duly noted.

However, the assertion still holds: That as folks trend towards O(10^3) nodes post 1.0, there will be issues.

[2015-04-29 13:18] wojtek-t commented on #7451
However, the assertion still holds: That as folks trend towards O(10^3) nodes post 1.0, there will be issues.

I agree. But I think there are plans to fight with it (e.g. having apiserver merging different watches into a single watch to etcd and dispatching it appropriately). Although we are not focusing on it at all before 1.0.

[2015-04-29 13:18] benmccann commented on #6910
@thockin if the policy is "whatever docker supports" then it might be okay to drop support for kernels < 3.6. From [the Docker docs](http://docs.docker.com/installation/ubuntulinux/):

Additionally, your kernel must be 3.10 at minimum. The latest 3.10 minor version or a newer maintained version are also acceptable. Kernels older than 3.10 lack some of the features required to run Docker containers

[2015-04-29 13:31] andrewchambers commented on #7489
pending means your docker image is not there. I had this problem because i had a typo in my container name.

[2015-04-29 14:19] bgrant0607 commented on #7091
PR #7421 is in flight.

[2015-04-29 14:20] piosz opened #7507 "Implement test/soak as an e2e, just to prevent bitrot."
Separated from #3139

[2015-04-29 14:20] piosz opened #7508 "Implement loadgenerator k8petstore e2e test"
Output perf data to a local file that can be regression checked in any CI.

Separated from #3139

[2015-04-29 14:20] piosz commented on #3139
@jayunit100, goals you defined are good, but I think we should focus on generator which will help us reach our 1.0 goals as described by @davidopp in https://github.com/GoogleCloudPlatform/kubernetes/issues/3139#issuecomment-75474831.

I propose to implement the first version of load generator which will just create a few instance of guestbook application of different sizes, and simultaneously wil

[2015-04-29 14:22] smarterclayton commented on #7491
----- Original Message -----

Agree, but it's not uncommon to have a priority order list in other parts of the code (for instance, RESTMapper takes a priority list on lookup) so it's at least internally consistent.

[2015-04-29 14:49] kamalmarhubi commented on #1307
Given @errordeveloper's comment above, should this issue be closed? Came across it and the current state is slightly ambiguous.

[2015-04-29 14:51] bgrant0607 commented on #1307
Yes, thanks.

[2015-04-29 14:51] #1307 closed

[2015-04-29 14:53] roberthbailey commented on #7016
Thanks for fixing this @piosz!

[2015-04-29 14:55] markturansky commented on #7438
@thockin Yes, these are the API changes you are wanting.

I understand the semantic difference between the two ways of binding.  Personally, I don't think having the bind on PV is wrong.  Having it on Claim is also not wrong.  To me, they are the same because this is 1:1, which is very different than 1:N for node/pod.  Moving it is a matter of "purity", I think, because they are the same technical

[2015-04-29 14:57] smarterclayton commented on #7111
Of course, as soon as you say that, I start wondering whether it's the Kind that should be prefixed - "k8s.io/Pod".  That way probably lies madness.

----- Original Message -----

[2015-04-29 14:58] jayunit100 commented on #3139
hmm... guestbook for load generation ? iirc, guestbook doesnt load test - it accumulates transactions in the web browser and overwrites a string value in redis (rather than accumulating all the guests as independent records).

[2015-04-29 14:58] timothysc commented on #5589
@EricMountain-1A , @lhuard1A  just an update, that the root issue is in etcd.

For complete history see: https://github.com/coreos/etcd/issues/2677

[2015-04-29 15:01] xiang90 commented on #5589
@timothysc As I have told you, they are different issues. And we cannot reproduce this on in etcd itself. Please read through the history in this issue and the one in etcd again.

[2015-04-29 15:10] kelseyhightower commented on #5589
@timothysc @xiang90 Maybe we jump on a hangout and try and debug together?

[2015-04-29 15:12] bgrant0607 commented on #7111
The kind is specific to a particular version at a particular prefix -- version has a collection of kinds and prefix has a collection of versions. Really it's prefix/version/kind that is the identifier of the schema, so it either makes sense for prefix to be a separate field, like version, or as a prefix to version. We could add an even broader collection to prefix, like k8s.io/apiprefix/version/ki

[2015-04-29 15:13] bgrant0607 commented on #7111
A little more abstract: domain/apigroup/version/kind

[2015-04-29 15:13] thockin commented on #6910
@ghodss - I did not realize it was this severe...

On Wed, Apr 29, 2015 at 6:19 AM, Ben McCann <notifications@github.com>
wrote:

[2015-04-29 15:17] timothysc commented on #7451
@wojtek-t good to know!  Is there a issue that I missed?

[2015-04-29 15:18] thockin commented on #7438
I think th emost important part for the short term is getting the *Ref
fields the way we want them.  Once that is in, we can ungate it and make it
operate through a Binding as a second lower-prio pass.  Does that ease up
on pressure at all?  I just don't want it to become a "yeah, we should have
done that, but never got around to it" thing.

On Wed, Apr 29, 2015 at 7:55 AM, Mark Turansky <notifica

[2015-04-29 15:19] timothysc commented on #5589
@kelseyhightower happy to.

[2015-04-29 15:23] markturansky commented on #7438
Agreed that the API changes are required first and the other improvements can happen subsequently.

[2015-04-29 15:23] #7405 closed

[2015-04-29 15:35] timothysc commented on #7216
@wojtek-t, @rrati - I think this can be closed now.  Thoughts?

[2015-04-29 15:38] piosz commented on #3139
The application/docker image used for test doesn't matter. The goal for v1 is e2e pod startup time <5s on 99p (see #3954), so we want to have a tool which starts a lot of pods and measure theirs startup times.

The goal is **not** to measure (as for now, we probably want to do it post v1) how efficient applications running on kubernetes can be ie. by running a heavyweight application and spam it b

[2015-04-29 15:42] jayunit100 commented on #3139
So this is like the density test...  if the app is not really going to do anything; why bother muddling things with a "real" app like guestbook ?  maybe for this type of workload, you can just use pause containers.

guestbook implies that the application needs to have some workload behaviour associated with it.

[2015-04-29 15:43] brenton commented on #7370
It definitely seems like there is some sort of a problem.  We see this randomly on system startup.  In our environment OpenShift is launching kubernetes around the same time other systemd units are modifying the firewall config.  If one of these others units has the lock kubernetes will report the error Scott mentions and then will never create the required nat'ing for services.

Here's how to rep

[2015-04-29 15:46] brenton commented on #7370
I probably should have made it more clear, I removed the lock by pressing 'c' in gdb to continue.  That's when I started waiting.

[2015-04-29 15:48] rrati commented on #7216
I think this can be closed as well

[2015-04-29 15:55] smarterclayton commented on #6910
This is kind of why we had a separate routes object - routes direct traffic to services, services are agnostic to their source.  It does mean a service doesn't know who talks to it, but that's kind of the case today.  I still like the idea of a service having "status.loadBalancers" field, but then it would be totally external.

[2015-04-29 16:00] Dekarti commented on #6440
@xuhuiy, I just updated to latest version of `Docker`.

[2015-04-29 16:04] wojtek-t commented on #7216
I agree - closing.

[2015-04-29 16:04] #7216 closed

[2015-04-29 16:04] wojtek-t commented on #7451
I'm not aware of any.

[2015-04-29 16:14] erictune commented on #7428
Those instructions seem totally broken. The step that is entitled "Run the
master" is actually running the kubelet.

On Wed, Apr 29, 2015 at 3:33 AM, Albert Callarisa <notifications@github.com>
wrote:

[2015-04-29 16:15] erictune commented on #7428
Never mind, I see the comment that says "This actually runs the kubelet,
which in turn runs a pod that contains the other master components."

On Wed, Apr 29, 2015 at 9:13 AM, Eric Tune <etune@google.com> wrote:

[2015-04-29 16:23] erictune commented on #7428
Okay, I followed the instructions, and my cluster came up okay.  I also see
similar error messages in my logs (by the way, the logs in the gist are
from kubelet not apiserver).

acroca: what happens when you follow the next steps (setup ssh tunnel, and
then run `kubectl -s http://localhost:8080 get pods`)

On Wed, Apr 29, 2015 at 9:15 AM, Eric Tune <etune@google.com> wrote:

[2015-04-29 16:29] piosz commented on #3139
So the question is do we really need something more sophisticated to verify our v1.0 goals than density test (maybe with improvements). The argument was to have something more similar to what users run. What do you think @fgrzadkowski, @wojtek-t?

[2015-04-29 16:52] aronchick opened #7511 "Secrets Creation Returning Incorrect Error"
__Repro__:
1. Use the following .yml for a secret file bad-secret.yml
[code]

2. Run ```kubectl create -f bad-secret.yml```

__Expected__: Should have worked, or given character that was bad (underscore is apparently not valid)

__Actual__: See the following error:
[code]

[2015-04-29 16:56] #7080 closed

[2015-04-29 16:56] thockin commented on #7370
So something for a holding the lock? I am out of your office for the rest
of this week, but maybe you can figure out - is there a stale process
holding a lock? What kind of lock is it? Flock or semaphore or ... ?
On Apr 29, 2015 8:44 AM, "Brenton Leanhardt" <notifications@github.com>
wrote:

[2015-04-29 16:59] smarterclayton commented on #7111
That makes sense to me.

----- Original Message -----

[2015-04-29 17:01] erictune commented on #7400
If you auth an pull an image onto a single machine in the cluster, then any pods that happen to land there will have access to that image.

This behavior can be taken advantage of in several ways:
  - manually pull image on one node and then use a node constraint on your pod to force it to go to that node.
  - manually pull image on all nodes (need to have some way to repeat this step when adding

[2015-04-29 17:03] brenton commented on #7370
What we're saying is that on startup it's fairly common for multiple systemd units to make firewall additions.  If one of them grabs the lock (rarely for more than a few seconds) it will cause kubernetes to fail to initialize iptables and it will never fix itself.  The lock only need be grabbed the microsecond kubernetes tries to initialize iptables for this bug to present itself.

We know exactly

[2015-04-29 17:07] #7498 closed

[2015-04-29 17:09] brenton commented on #7370
On RHEL the lock is the xtables unix socket lock in iptables to allow multiple programs to update iptables concurrently.  Other platforms may use a flock since that is the default upstream.

To solve this kubernetes needs one more more of the following:

* pass the `-w` flag to `iptables` as scott and the logs mention (possibly only available on some platforms).  If kubernetes desides to wait for

[2015-04-29 17:26] yujuhong commented on #6291
If I read the issue correctly, this is not a problem of creating new *pods*, but rather about creating new *containers*. If a container is doomed to fail and the restart policy for the pod is "always", kubelet will periodically examine the pod status and creates new containers if needed. This could potentially stress the system unnecessarily.

@bgrant0607, I don't think the issue is about kubelet

[2015-04-29 17:26] #6291 closed

[2015-04-29 17:27] preillyme commented on #7122
@avinci yeah basically need to be able to test the Web UI https://github.com/GoogleCloudPlatform/kubernetes/tree/master/www and the main Go based Kubernetes code separately.

[2015-04-29 17:30] thockin commented on #7370
It does retry all up tables ops.  Unless it somehow gets pathologically
phase locked with your agent, or there is some deeper bug.  We have e2e
tests that prove you can delete tables and it will recreate them.

Are you saying that it never retries (did you set -v=4?) or that every
retry fails?

On RHEL the lock is the xtables unix socket lock in iptables to allow
multiple programs to update iptabl

[2015-04-29 17:31] roberthbailey commented on #7444
This looks right to me. It would be nice if mounting the cluster CA could be done in a way that way mostly transparent to the callers. What about embedding the cluster CA in the kubeconfig file (like we do for kubectl) when it's created (see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L277)?

[2015-04-29 17:34] cjcullen commented on #7511
I think PR #7356 took care of this.

[2015-04-29 17:35] cjcullen commented on #7493
@justinsb

[2015-04-29 17:38] satnam6502 opened #7512 "kubectl cluster-info reports the wrong URL for cluster services"
When a cluster is made the correct v1beta3 URLs for cluster services are reported:
[code]

When `kubectl cluster-info` is run it reports the wrong v1beta1 URLs.
[code]

[2015-04-29 17:39] satnam6502 commented on #7512
@caesarxuchao

[2015-04-29 17:40] aronchick commented on #7511
Most likely - sorry I missed that one! Feel free to close.

On Wed, Apr 29, 2015 at 10:34 AM, CJ Cullen <notifications@github.com>
wrote:

[2015-04-29 17:40] acroca commented on #7428
I can get the pods, nodes and so on, but the problem comes when I try to run a container, create a service or a rc.

[2015-04-29 17:46] cjcullen commented on #7511
No worries. It hasn't made it into an official release yet. 0.16.0 should pick it up.

[2015-04-29 17:46] #7511 closed

[2015-04-29 17:48] caesarxuchao commented on #7512
Maybe #7491 will solve this issue. Let me try it out.

[2015-04-29 17:54] erictune commented on #1624
I've looked at #7380.  I don't understand how one would use the Job resource to run an actual multi-pod computation?

Any multi-pod computation I can think of has to consist of multiple work units.  The computation is done when all the work units are done.

There are two general ways I can see to assign work units to workers (pods): via a varying pod spec, or via an external mechanism (a work queu

[2015-04-29 17:54] vishh commented on #6428
Running a separate heapster on the master is a good idea for now. But, using prometheus metrics instead of heapster might not work for the following reasons:
* Not all containers in the master export prometheus metrics.
* The metrics exported by prometheus is likely not as accurate as the cgroup ones.
* Prometheus metrics are currently not stored anywhere.

So the shortest path forward to enable b

[2015-04-29 17:58] pmorie commented on #3573
Here's another case for a standalone kubelet:  run a standalone kubelet to bootstrap a kubelet for a node running in a pod:

1.  Start kubelet in run-once mode with a manifest file to start the 'real' kubelet for a node running in a pod
2.  Bootstrap kubelet starts node kubelet in a pod
3.  Bootstrap kubelet process stops

[2015-04-29 18:03] brenton commented on #7370
I can grab the lock for just the second that kubernetes needs it and then let it go.  The kube-proxy nat'ing will never be rebuilt without intervention (restarting kubernetes).  That seems like a bug to me and is what my original comment reproduces.

In addition, once the environment is in this state it won't even pick up new service nat rules.  Other nodes in my environment will pick them up but

[2015-04-29 18:04] caesarxuchao commented on #7491
Hi @smarterclayton, could you tell me more about the logic here:
[code]
This will make any resource composed of more than one word be mapped to a v1beta1 or v1beta2 meta, no matter how we change the order of "versions". Is this supposed to be the correct behavior? Could you point me to the related doc? Thanks.

[2015-04-29 18:09] bprashanth commented on #1624
The proposed resource will only allow a single pod spec to run to completion n times. It essentially implements:

Long lived pods that pick off of a work queue sounds like an rc use case? I can think of several other use cases where I'd want something to run once with infinite retries till completion (database purge, sending a confirmation email post sign up etc). One could also extend the db clea

[2015-04-29 18:11] smarterclayton commented on #7491
We should take a resource string passed to the mapper, lowercase it, and then look it up in the mapping.  Case only matters when a user needs to get the resource for `(ReplicationController, v1beta1)` (the opposite lookup), but other lookups (resource -> Kind) should be case-insensitive.

[2015-04-29 18:16] erictune commented on #1624
If there is no work queue and the pods have a single spec, then won't they be doing redundant computations?

[2015-04-29 18:19] a-robinson opened #7514 "Clarify the guestbook-go example's external networking portion for vagrant users"
A few different users have run into questions when going through the [guestbook-go example](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook-go) with a vagrant cluster. The vagrant getting started guide actually links to this example, yet it then uses the createExternalLoadBalancer service parameter and expects the service's publicIPs field to be populated.

The exa

[2015-04-29 18:24] markturansky commented on #7438
I've been thinking about the impact this change will have on the binder.  I think it'll be simpler, actually.  I retract my previous comments about the two being technically the same.

[2015-04-29 18:28] bprashanth commented on #1624
You can still have a workqueue, just that the cost of keeping these replicas running is too high given the size of the queue. For example you could have a job with completions=1 create a workqueue with 5 items, and create another job with completions=5. If this operation is going to happen once a month it wouldn't justify keeping the workers around?

I agree that the single spec, no work queue, N>

[2015-04-29 18:36] erictune commented on #1624
Can you give an example of a use case where completions needs to be greater
than 1?

On Wed, Apr 29, 2015 at 11:29 AM, Prashanth B <notifications@github.com>
wrote:

[2015-04-29 18:36] cjcullen commented on #7497
Thanks for the issue.

Does [Getting Started on CoreOS](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos.md) answer any of your questions?

[2015-04-29 18:37] bprashanth commented on #1624
The use case above? (i.e a workqueue that is created on demand every month by another job)

[2015-04-29 18:50] erictune commented on #1624
So, the Job resource can only be used when # work units == # completed pods.

I see that you can make that work.  But I don't think it is a good fit for people's mental models of parallel computation.

[2015-04-29 19:20] satnam6502 opened #7517 "apiserver incorrectly returns 405 when 404 expected during a HEAD request"
I think this is the root of the reason why the new Kibana to Elasticsearch setup failed to work (even with basic auth). I think a 404 response is incorrectly being turned into a 405 response.

In these example I am running a Kibana service which maps to a pod running a Kibana server.
[code]

Note that the Kibana service has the IP 10.0.32.105. If we ssh into a minion and curl against this we get t

[2015-04-29 19:22] ncdc commented on #6342
@thockin we have some code that uses libcontainer to "docker exec" directly, without needing the Docker daemon or using nsenter. Would you be willing to use that? We'll maintain it (you'd vendor it) and it will be targeted at Kubernetes/OpenShift use cases.

Original libcontainer PR is here: https://github.com/docker/libcontainer/pull/510

/cc @smarterclayton @mrunalp

[2015-04-29 19:24] smarterclayton commented on #6342
Things we know we need for the Docker container runtime version:

1. Ability to start as a specific user
2. Ability to be run outside the Docker daemon's control
3. Manage security more cleanly

Rocket already comes with this function (right?) so I think it's mostly just about offering parity.

[2015-04-29 19:26] smarterclayton commented on #6342
It looks like a very small binary that pulls in libcontainer (which we already do) and uses Docker specific paths to lookup the core.

[2015-04-29 19:50] derekwaynecarr commented on #4997
I now have all the required pieces to get this to work.  I hope to get a PR submitted to fix this issue by end of this week.

[2015-04-29 19:50] smarterclayton commented on #5017
https://github.com/openshift/origin/pull/1965  We'll back port it once it gets cleaned up.

[2015-04-29 19:50] smarterclayton commented on #260
Example of zookeeper: https://github.com/openshift/origin/pull/1965

[2015-04-29 19:52] timothysc commented on #6981
Ideally I would also like to publish output which can be stored and consumed from e2e.  Rob is working on initial publishing of that data.

@rrati ^ FYI.

[2015-04-29 20:03] davidopp commented on #1624
I think @erictune is making a good point. I don't think we really spec'd this correctly. As he says, pods need some way of knowing which data they should compute on. The way to do this is to give each of the pods that is started up initially a unique identifier that remains constant across restarts (on the same machine or on another machine). This can be an index or even a random value from a larg

[2015-04-29 20:05] caesarxuchao commented on #7491
Does that mean both "replicationController" and "replicationcontroller" should both be mapped to a v1beta3 meta?

[2015-04-29 20:09] timothysc commented on #3139
@piosz - if we mock @jayunit100's test to spread based on cluster size it would be much more realistic workload scenario.

[2015-04-29 20:19] caesarxuchao commented on #7491
How about something like this:
[code]

This way when running "kubectl get replicationcontroller -o yaml", one will get a v1beta3 selfLink;
if running "kubectl get replicationController -o yaml", one will get a v1beta1 selfLink. Is this how it supposed to work? Thanks.

[2015-04-29 20:19] preillyme commented on #7122
I've been working on getting everything working in a Docker container for testing the WebUI.

Just wanted to share my Docker container and share some notes on using it.
[code]

[2015-04-29 20:30] asautins opened #7519 "Unable to mount secret volume with v1beta3"
Using the documentation in docs/secret.md as a guide (with some modifications which I believe are accurate for v1beta3 ), if I create a secret as follows:

[code]

Executing a v1beta3 pod as follows shows an empty volume in /etc/foo.

[code]

The following v1beta2 pod correctly mounts the secret in /etc/foo.

[code]

[2015-04-29 20:35] pmorie commented on #7519
Are these the actual artifacts you're using?  I ask because of the image `example/image`

[2015-04-29 20:39] asautins commented on #7519
Yes, I used the above.  I tried to mimic in the above the examples from docs/secrets.md which I'm not sure are fully ported to v1beta3 yet.  The above was tested with the image "centos:centos7" and a command of ["sleep", "1000"].

If it would be helpful I could post the actual artifacts.

[2015-04-29 20:39] derekwaynecarr commented on #7519
I see this too.

It blocks: https://github.com/GoogleCloudPlatform/kubernetes/issues/4997

[2015-04-29 20:41] pmorie commented on #7519
@asautins, @derekwaynecarr and I were just talking about the need for a real secrets example.  I'll make a v1beta3 example and see if I can reproduce this locally.

[2015-04-29 20:45] jayunit100 commented on #7508
cc @timothysc here's what im working on now :)

[2015-04-29 20:52] nikhiljindal commented on #7491
I think we should stop exposing anything in v1beta1 unless the request contains --api-version=v1beta1.
Hence "kubectl get replicationController" should return a v1beta3 selfLink. We can lowercase the resource name from kubectl get request before finding the mapping for that.

Note that if we do what you said, then in second case, the selfLink will be v1beta1, but the replicationController output w

[2015-04-29 20:55] smarterclayton commented on #7491
Self links being embedded in objects is a horrible mess.  I'm not sure I think self links should ever be present in internal objects - rather they should only be set on the way out of the apiserver as a final step.  Events are the one exception... but they already have object references.

----- Original Message -----

[2015-04-29 20:59] satnam6502 commented on #7517
If I create an ELB for the Kibana service then everything works perfectly.

[2015-04-29 21:00] nikhiljindal commented on #7517
@satnam6502 : In addition to the headers, can you please post the body of response as well. The status object in response body might have more details on why the server thinks that the method is not allowed.

[2015-04-29 21:04] satnam6502 opened #7521 "kubectl cluster-info does not show external IP addresses"
I added an ELB to the Kibana cluster log viewer but it is not reported by `kubectl cluster-info` which, aside from having a `v1beta1` URL, should check each cluster service and if it has an external IP it should report that instead of the master proxy address.
@jlowdermilk @wojtek-t
[code]

[2015-04-29 21:08] nikhiljindal commented on #7491
Setting selfLink only on versioned objects SGTM.
That will also fix this problem of printing a v1beta1 selfLink in a v1beta3 object (We still need to fix the problem of kubectl making a v1beta1 request instead of v1beta3)
cc @lavalamp : Any reason, why are we embedding selfLink in unversioned internal objects.

[2015-04-29 21:12] caesarxuchao commented on #7491
@nikhiljindal Or we can do it your way:
[code]
Then "kubectl get replicationcontroller" give an v1beta3 selflink; and "kubectl get replicationController" returns a "no resource found" error. Is this ok? @bgrant0607

On the other hand, "lowercase the resource name from kubectl get request before finding the mapping" will solve the problem for kubectl, but that requires other parties whoever use the

[2015-04-29 21:23] pmorie commented on #7519
@asautins, Would you try out my example in #7523?

[2015-04-29 21:24] pmorie commented on #7519
For the record I was not able to reproduce this; perhaps I'm missing something.

@asautins, Could you provide some detail about which cloud provider you're using?

[2015-04-29 21:29] roberthbailey commented on #7441
What you are seeing is the http user agent that is hitting your api server. Here's a log from when I point chrome at my API server:

[code]

and you see a similar stack trace resulting in a 401 (unauthorized) response. For an authenticated request (e.g. from a master component), you should see something like:

[code]

I don't know why the Amazon health check service is hitting your apiserver, but

[2015-04-29 21:31] #7406 closed

[2015-04-29 21:59] justinsb commented on #6910
Maybe we should open another issue to figure out the minimum recommended kernel version, as I don't think anyone looking for it would find it here.  (I thought there was one, but I can't find it)  I think it's an important thing to figure out!

[2015-04-29 21:59] yujuhong commented on #7317
Sorry for injecting the bug. I was thinking of moving volume & pod dir cleanup into the function, but it didn't pan out, and the code was left unintentionally. Thanks for fixing it!

 The logic still seems strange in some cases. `cleanupOrphanedVolumes` looks at the containers we failed to kill, and skip cleaning up volumes associated with them. But `cleanupOrphanedPodDirs` doesn't look at the tho

[2015-04-29 22:04] asautins commented on #7519
I am not using a cloud provider, but am using vagrant.

Note I was not able to reproduce with your example either.  Your example provided the expected results.

[2015-04-29 22:06] vishh commented on #2853
#6718 introduced events for system ooms. Is there anything else we want to do here @dchen1107? Some future enhancements include having a separate section for system ooms in `kubectl describe node`, exporting kubelet metrics, etc.

[2015-04-29 22:12] pmorie commented on #7205
It's possible there will be some E2E tests (ie, the one specifically for docker entrypoint control) that don't apply to rocket.  We will need some way to differentiate them.

[2015-04-29 22:21] roberthbailey commented on #7412
This is blocking @mbforbes so assigning to him.

[2015-04-29 22:25] benmccann opened #7528 "Document kernel requirements"
[From @thockin](https://github.com/GoogleCloudPlatform/kubernetes/issues/6910#issuecomment-97300278):

 Here's what I found in [the Docker docs](http://docs.docker.com/installation/ubuntulinux/):

Some of the networking stuff is substantially cleaner if we can assume kernel 3.6, which I would like.

CC @dchen1107 @rjnagal @ghodss @justinsb

[2015-04-29 22:26] benmccann commented on #6910
Filed a new issue for the kernel version discussion: https://github.com/GoogleCloudPlatform/kubernetes/issues/7528

[2015-04-29 22:31] smarterclayton commented on #7491
I meant do it inside RESTMapper.  Then everyone who uses RESTMapper is correct.

[2015-04-29 22:33] smarterclayton commented on #1624
Which is similar, but not identical to, nominal services.  They should at least feel similar even if they are distinct entities.

[2015-04-29 22:44] asautins commented on #7519
I think I understand.  Short answer is I believe the functionality works, but the documentation may be incorrect.  It appears there shouldn't be a "source" nesting for v1beta3 in the volumes section as currently shown in the documentation docs/secrets.md.

docs/secret.md shows the following for the secret volume in the v1beta3 example:

[code]

Note in the above example ( and in the example in thi

[2015-04-29 22:45] pmorie commented on #7519
@asautins, Excellent catch.  I'll update the docs.

[2015-04-29 22:46] alex-mohr commented on #1624
.. if this isn't 1.0 blocker and isn't well-enough specified, perhaps drop this in favor of another issue and come back to it later?

[2015-04-29 22:47] derekwaynecarr commented on #7519
I had source as well.  Please make sure your example is yaml (if not already)

Sent from my iPhone

[2015-04-29 22:52] asautins commented on #7519
@pmorie shouldn't name be moved to the metadata section as well?

[2015-04-29 23:05] quinton-hoole commented on #7528
Surely, pragmatically speaking, the answer is currently bounded by the kernel versions supported by Docker, i.e. >= 3.10.  We can't support Kubernetes on top of kernel version which are known to be unstable and unsupported w.r.t. Docker.  That also simplifies our networking, which ideally requires >=3.6.  Is there anything more to discuss here?

Of course we could theoretically consider supporting

[2015-04-29 23:16] markturansky opened #7534 "Improve PV/Claim binding"
See #7438.
- use GuaranteedUpdate when saving the bind
- create BindingREST subresource similar to pod

[2015-04-29 23:27] quinton-hoole commented on #7453
Closed by #7353

[2015-04-29 23:27] #7453 closed

[2015-04-29 23:44] a-robinson commented on #7528
+1 to @quinton-hoole

[2015-04-29 23:52] sidharta-s commented on #7528
Docker kernel requirements seem to vary by distro. For example, see : http://docs.docker.com/installation/centos/ . CentOS/RHEL 6 are still popular/widely deployed.

[2015-04-29 23:59] justinsb commented on #7528
Also, it might be that the sysctl that is only available on >=3.6 doesn't in fact solve all the problems I thought it would.  So we probably shouldn't let that influence the decision.  @thockin's understanding is much better here.

From @sidharta-s link, It looks like CentOS backported the kernel fixes that Docker needs to the 2.6 kernel that is part of CentOS 6.5.

[2015-04-30 00:06] satnam6502 commented on #7236
I see this is marked as a post v1.0 milestone? If we don't want this urgently then I will un-assign myself for now.

[2015-04-30 00:08] quinton-hoole commented on #7528
Aah, my oversight in not reading the docker support docs properly.  The restriction to kernel >=3.10 only applies to Ubuntu.  For Centos RHEL the restriction is >= 2.6.32-431 .  I wonder how much of the stock kernel 3.6 and beyond has been back-ported to Centos/RHEL kernel 2.6.32-431?  Last I looked (which was quite a few years ago, admittedly), many of the Centos/RHEL 2.6.x kernels were that vers

[2015-04-30 00:17] quinton-hoole commented on #7236
There is a valid argument that we would not block the 1.0 release for lack of these persisted test logs, and hence the v1.0 milestone was tentatively removed.
There is a counter argument that we stand little chance of being able to debug the existing and still-to-be-found flaky test failures in the absence of log files, and that one or more of those bugs, if not fixed, will block the launch anyway

[2015-04-30 00:19] satnam6502 opened #7537 "Cluster creation fails"
After making a recent build I found that I could not create a cluster.

[code]

[2015-04-30 00:27] cjcullen commented on #2462
The usages I know of:
https://github.com/GoogleCloudPlatform/kubernetes/blob/a8f2cee8c5418676ee33a311fad57d6821d3d29a/pkg/registry/minion/rest.go#L147
https://github.com/GoogleCloudPlatform/kubernetes/blob/8fa21ebd624ba39ec68b67ea301e6c54b9ffdc25/pkg/master/master.go#L615

[2015-04-30 00:28] davidopp commented on #7459
/subscribe

[2015-04-30 00:29] satnam6502 commented on #7537
I tore this cluster down and rebuilt it -- this time it worked. However, it is worrying that an attempt failed. We should try harder to make sure we can always create a working cluster.

[2015-04-30 00:44] davidopp commented on #1624
@bprashanth and I had a fairly fruitful discussion about this today. I am going to try to summarize.

First, we both agreed that discussion of this issue is suffering from our not having started with very concrete use cases. To help our discussion, we decided there are fundamentally two models of batch computation, distinguished by the answer to this question: do workers communicate/coordinate aft

[2015-04-30 00:52] alex-mohr commented on #7459
Flagging this as v1.0-post because I don't think we block v1 on it, but also upping priority to p1 because I want us to drive this soon after v1 ships.

That said, @kelseyhightower if you have cycles in the short term and/or want to upstream what you've found works in Tectonic, happy to review.

[2015-04-30 00:56] derekwaynecarr commented on #1624
Thanks for this write up.

It was helpful.

For Job like tasks we have discussed, we are more interested in scheduled jobs (which would happen above what is proposed here for things like cron) and more single pod worker style jobs that are mainly just run once pods that need to run to success (think a build of source code).

Sent from my iPhone

[2015-04-30 00:56] quinton-hoole commented on #7537
Looks like a duplicate of #7302 ?

[2015-04-30 01:09] zmerlynn commented on #7537
As I mentioned in https://github.com/GoogleCloudPlatform/kubernetes/issues/7302#issuecomment-96731677, we do actually repeat health checks. You can see it clearly demonstrated here, we just don't spit out the `Validate output` each time (only on the final failure, so it's not entirely spammy). Closing #7302 as invalid.

[2015-04-30 01:09] zmerlynn commented on #7302
Closing until there's a demonstration that we don't repeat the health checks. (See #7537 for counterexample.)

[2015-04-30 01:09] #7302 closed

[2015-04-30 01:10] zmerlynn commented on #7302
(cc @fabioy)

[2015-04-30 01:10] zmerlynn commented on #7537
(cc @fabioy)

[2015-04-30 01:12] zmerlynn commented on #7537
This bug, unfortunately, is fairly unactionable. The output told you exactly which node to poke at, and pretty much how borked it was (we couldn't dial `/healthz`, so kubelet was totally unreachable). The cluster is already down. We should look at further first failure data capture we can go in this instance, but we need to keep it provider agnostic, or at least outside the shell scripts, so that

[2015-04-30 01:14] andrewchambers opened #7538 "Service creation fails after cluster recreation"
What happened:
Created a google compute cluster.
Created a working service and replication controller.
deleted cluster from gce console.
recreate cluster with same name as old one.
delete all kubernetes config on system.
setup kubernetes config again to point to new master.
Can no longer create a service.
[code]

The service config is as follows:
[code]

[2015-04-30 01:14] fabioy commented on #7302
This should have been fixed by Robbie in PR #7460.

On Wed, Apr 29, 2015 at 6:10 PM, Zach Loafman <notifications@github.com>
wrote:

--
*-- Fabio Yeon*

[2015-04-30 01:21] bprashanth commented on #7236
I would find it useful, and I suppose this should be on par with writing tests (of which we have a few 1.0: https://github.com/GoogleCloudPlatform/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+milestone%3Av1.0+label%3Aarea%2Ftest)

[2015-04-30 02:01] anguslees commented on #2462
Btw (and apologies if this is obvious), but when changing Name -> IP in URLs, we need to also use net.JoinHostPort() because some of those IP literals might be IPv6 and need special quoting.   A simple `git grep 'https\?://%s'` catches several incorrect examples.

[2015-04-30 02:08] cjcullen commented on #2462
Definitely was not obvious to me. Thank you for pointing that out.

[2015-04-30 04:12] #5188 closed

[2015-04-30 04:15] ddysher commented on #4379
This is no longer relevant now i think. node is recording event with no namespace.

[2015-04-30 04:15] #4379 closed

[2015-04-30 04:20] smarterclayton opened #7547 "kubectl delete|get `all foo` should delete the aliased resources named 'foo'"
resource.Builder should allow `all/foo` and `all foo` since both are unambiguous.  Not super high priority, but makes `delete all` annoying when you want to delete several things that are named the same.

[2015-04-30 04:49] quinton-hoole opened #7548 "DNS e2e pretty busted since ~16:30 on Wed 4/29"
I haven't looked into the details yet, but it seems that a PR went in at around 16:30 PDT today (Wed 04/29) that is causing significantly more e2e failures than usual in our continuous integration.

I'll dig into it in the morning unless one of the oncalls gets there before me.

[2015-04-30 04:51] ArtfulCoder commented on #490
I spoke offline with Victor.
I can try and put kube-proxy in a pod. I can atleast do a quick test to make sure that it works.
#5419

[2015-04-30 04:59] davidopp commented on #7459
Just to make sure I understand, when you say "provisioning a new node and/or reinstalling an existing node is pushed into the cloudprovider interface" you mean the cluster-controller, which is running the sync loop, will call into the cloudprovider interface to providion/reinstall?

[2015-04-30 05:00] quinton-hoole commented on #7548
Wild guess that it might be this one, based purely on merge time:

- Move ComputePodChanges to the Docker runtime #7480

[2015-04-30 05:10] dchen1107 commented on #490
Both Kubelet and Kube-proxy are in resource container already.

[2015-04-30 05:11] ArtfulCoder commented on #490
ah , ok. so, nothing to be done here..

On Wed, Apr 29, 2015 at 10:10 PM, Dawn Chen <notifications@github.com>
wrote:

[2015-04-30 05:14] yifan-gu commented on #7548
Bad news :(
what tests are failing?

[2015-04-30 05:15] caesarxuchao commented on #7491
Hi @smarterclayton , I change the order of the API versions and lowcase the input string in VersionAndKindForResource(). Then I fail the TestGetUnknownSchemaObjectListGeneric() in get_test. Specifically, when "handles second specific version", object2 has APIVersion v1beta3 instead of the expected v1beta1. Could you give me some pointers on why object2 in second test case should have APIversion v1

[2015-04-30 05:17] vmarmol commented on #490
The argument was that if we got the Kube-proxy in a container we'd get the
starts automatically. Otherwise we need to export them in Heapster. Since
we were looking to place the Kube-proxy in a container, this route may not
be too bad.
On Apr 29, 2015 10:12 PM, "Abhi Shah" <notifications@github.com> wrote:

[2015-04-30 05:24] ArtfulCoder commented on #490
putting in a pod, we would get the stats just the way we get it for other
pods..
Is that ok with you Dawn ?

On Wed, Apr 29, 2015 at 10:17 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-04-30 05:26] quinton-hoole commented on #7548
A variety, and they're intermittent:

- Services should provide DNS for the cluster
- Density [Performance suite] should allow starting 30 pods per node
- Shell tests that services.sh passes
- Monitoring verify monitoring pods and all cluster nodes are available on influxdb using heapster.
- kubectl guestbook should create and stop a working application
- Cluster level logging using Elasticsearch

[2015-04-30 05:48] davidopp commented on #1624
@derekwaynecarr Yeah I think cron is an orthogonal dimension like you said; it's what creates the Job, and doesn't really constrain the semantics of the Job itself one way or the other. I don't know the details of your build-source-code use case; if each pod can pull the description of what work it needs to do from some kind of queue service, then it could be viewed as "type 2," but the work assig

[2015-04-30 06:01] aronchick opened #7551 "Kubectl exec takes >5 minutes to bring up a bash shell"
`gcloud alpha container kubectl exec -p mysql-sqhv0 -c mysql -i -t bash`

Using a Mac in multiple locations, the above command takes about 5 minutes before it returns a prompt, but then it's fine (and speedy).

Doing docker exec on the node itself is instantaneous. Any idea what would cause this, or how I can debug?

[2015-04-30 06:24] aronchick opened #7554 "Secrets should be read-only by root"
Well designed applications run as non-root, so having secrets only readable by root would improve the levels of defense in depth.

[2015-04-30 06:27] wojtek-t commented on #7521
cc @piosz

[2015-04-30 07:25] davidopp commented on #7507
@satnam6502 @roberthbailey @jayunit100

[2015-04-30 07:25] davidopp commented on #7508
@satnam6502 @roberthbailey

[2015-04-30 08:20] davidopp commented on #3139
We can re-title the issue to "Design a mechanism to generate a synthetic *cluster management* workload and play it" to make it clear we're talking about a cluster management workload, not an application-level workload.

Density test is good but I think we can do something more thorough. I think we can use serve_hostname pod instead of pause because serve_hostname has an HTTP endpoint you can hit t

[2015-04-30 09:47] davidopp commented on #6047
@roberthbailey and @yujuhong explained to me offline. All that's left here is to verify that /healthz endpoint on the master components works and that Kubelet restarts them when /healthz check fails, then we can close this issue. #7092 is different; for that @roberthbailey said they will use the new ComponentStatus to check master components' health, and NodeStatus from /nodes endpoint to check no

[2015-04-30 11:48] #7521 closed

[2015-04-30 13:01] wojtek-t opened #7561 "Failing performance tests on Jenkins"
The first failure happened at ~9:20 PST 29/04/2015. The failure looks like that:

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/density.go:158
Expected error:
    <*errors.errorString | 0xc20b84daa0>: {
        s: "Controller my-hostname-density3000-75cb549b-ee8e-11e4-ae78-42010af01555: Only found 3052 replicas out of

[2015-04-30 13:02] wojtek-t commented on #7561
Feel free to move it outside v1.0 if you can explain it - if not, we should definitely try to understand it.

[2015-04-30 13:03] wojtek-t commented on #7561
Also note that this is a clear regression - I didn't observe any such failure before. That's why I'm marking it (at least for now) as v1.0 issue.

[2015-04-30 13:21] quinton-hoole commented on #7561
Might end up being a duplicate of #7548, but let's investigate both in parallel until we confirm.

[2015-04-30 13:28] avinci commented on #7122
@preillyme, you can do this by starting a kube service inside the container on a port and then starting your protractor service to test it on an another.

We have a sample project that does this using node and selenium. server.js starts up a web server, in this case can be a kube master and then its using nightwatch to run tests on it.

https://github.com/shippableSamples/sample_node_selenium

doe

[2015-04-30 13:35] wojtek-t commented on #7561
Might end up being a duplicate of #7548, but let's investigate both in parallel until we confirm.

I think those are unrelated. Basically, the GCE tests are green now, whereas performance tests didn't pass since then even once.

My feeling is that it might be related to: #6866 @lavalamp @bprashanth - any thoughts about.

[2015-04-30 13:39] quinton-hoole commented on #7548
Tests have been consistently passing since filing this issue.  Dropping to P1 while investigation continues.  Pretty sure that this is going to crop up again until we figure out the root cause.

[2015-04-30 14:46] radeksimko commented on #1957
:+1:

[2015-04-30 15:19] ncdc commented on #7452
@lavalamp spdystream PR is merged, FYI

[2015-04-30 15:31] pmorie opened #7562 "There should be a local storage persistent volume"
There should be a persistent volume plugin that:
1.  lets a user make a claim on a node's local storage
2.  ensures the scheduler places the pod on a node with the available storage
3.  provides host-stickiness so that the pod is restarted on the same node

The use-case for this is for applications that require local storage for performance reasons.
Initially we may need to expand this to include

[2015-04-30 15:33] bprashanth commented on #7561
Logs at V(4) would help, that can certainly happen if the watch takes O(minutes) to deliver notifications (which I've seen happen when we, say, delete 1000 pods at once). If that's the problem this essentially boils down to: watch is slow and things timeout because they don't know if a packet was lost or still in flight; to which there are 2 solutions: make watch faster, increase the timeout.

The

[2015-04-30 15:38] bakins commented on #7470
I'd rather keep it a separate component. Separation of concerns and such.  Perhaps a DNS component that we run on every node rather than the current service based approach?

[2015-04-30 16:07] markturansky commented on #7562
See the original discussion: https://github.com/GoogleCloudPlatform/kubernetes/pull/1515

Resource counting to enforce scheduling constraints (e.g, only 16 "GCE slots" per node) is a necessary requirement.  Nodes can have uniquely named resource slots (e.g, "HostPath-1622"), where the name matches the unique PV name.

Durability is only as good as the underlying infrastructure or existing backup p

[2015-04-30 16:11] quinton-hoole commented on #7470
@thockin I can understand and agree that something like this is worthy of consideration, but I think that we need to be able to make services (of which DNS is currently one) fault-tolerant and performant, otherwise we have bigger problems.  I share @bakin's concerns about bundling it into kube-proxy (which I hope shrinks to become a relatively simple iptables nanny when we move the proxy logic out

[2015-04-30 16:27] timothysc opened #7566 "incorrect etcd client usage"
After several conversations with CoreOS, we've settled that the current usage of the client library is incorrect.  https://github.com/coreos/etcd/issues/2677

1.) The client is technically **not** thread safe, and round-robin rotation will never occur because we share the client (EtcdHelper).  The intended usage was a client per context, and would rotate operations across the quorum.

2.) If we wa

[2015-04-30 16:29] quinton-hoole commented on #3139
I feel fairly strongly that testing the cluster management infrastructure only, in the absence of any realistic CPU, memory and disk load on nodes introduced by pods is necessary but definitely not sufficient, as real-world clusters are not full of idle pods, and part of our infrastructure share machines with these pods.

Do we have a separate issue tracking the testing of cluster management perfo

[2015-04-30 16:30] bakins commented on #7470
@quinton-hoole separate component for DNS was quick thought as a "middle-ground" between current implementation and building it into kube-proxy.  Your comments are spot-on WRT deployment, etc.  Catching up on the other conversations concerning DNS while I think.

[2015-04-30 16:59] yichengq commented on #7566
@timothysc Some part of the description is incorrect. Let me clarify it more:
1) go-etcd does round-robin rotation when failure occurs, even if it is shared. For example, if the member that go-etcd connects to is hard killed, go-etcd will fail on the first attempt with the killed member, and succeed on the second attempt with another member.
2) go-etcd insists on one single etcd member when the co

[2015-04-30 17:07] smarterclayton commented on #7566
Ok, so at a minimum we need to look at how EtcdHelper is used.  Ugh.

----- Original Message -----

[2015-04-30 17:07] kcao3 opened #7571 "Failed to create the cassandra Pod using kubectl create command"
Hello,

First of all, I am quite new to Kubernetes and want to get some experience with this technology. So I followed the tutorial on the Cloud Native Deployments of Cassandra using Kubernetes as the starting point: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/cassandra

I learned that I would need a Kubernetes cluster installed and running before starting the tutorial.

[2015-04-30 17:10] alex-mohr commented on #7459
@davidopp I read @lavalamp's proposal as an implementation proposal to meet a requirement of roughly "in order to support k8s.apiserver.resizeClusterToHaveNodes(N), we need to make some 'master' component have sufficient knowledge and capability to dynamically create new nodes according to a template."

Still unclear to me whether that's exactly a ClusterController that does it all or the necessar

[2015-04-30 17:11] jmccormick2001 commented on #7562
Thanks Paul, yes, you have captured the use case with this issue.  The product we are working on requires local storage for I/O performance reasons for any pods that it spins up.  If the scheduler could handle the placement that would seem to make this easy to use.

[2015-04-30 17:11] brendandburns commented on #6812
yeah, I'm not positive that the name has to be consistent.  What we need is a way to claim the same public IP address, and we already have that (at least for GCE)

Assigning to me, and I'll validate the length requirements, make sure public ip assignment works for AWS and close out this issue.

[2015-04-30 17:18] alex-mohr commented on #6812
Note there are two separate things here: (1) a purely-name-based construction can exceed length limits given a single service and (2) some form of across-service consistency is apparently needed.

(1) is trivially solvable by either always using a hash or alternatively using a two-stage process where you generate a desired name and only hashify if it's longer than the length limits by truncating i

[2015-04-30 17:20] rrati opened #7572 "Add performance data gathering to density test suite"
Grab the metrics and debug data, as well as the pod statuses, for density tests

[2015-04-30 17:25] a-robinson commented on #6812
AWS's load balancer hasn't been merged yet, so there's not much to check out there.

I'm going to be reducing the churn of load balancers later today, which should help prevent IP address changes for services that are modified.

[2015-04-30 17:34] smarterclayton commented on #7491
I think you fixed a bug that the test encoded as "correct" but was really wrong.  Thanks!  :)

[2015-04-30 17:34] smarterclayton commented on #7491
Object2 should be v1beta3

[2015-04-30 17:40] smarterclayton commented on #7566
Can we easily/safely copy the go-etcd client and expect it to work?  Or do we have to run through the NewClient part?  The ideal case here would be that anyone who gets passed an etcdhelper calls a .Copy() method to be unique.

[2015-04-30 18:10] roberthbailey commented on #2462
We would also like an indicator of which node addresses are signed by the certificate on the node, so that we will be able to establish a secured TLS connection when contacting the node.

[2015-04-30 18:10] smarterclayton commented on #7551
I've seen something like this before.  @ncdc any ideas on what could be the cause?

[2015-04-30 18:11] roberthbailey commented on #2462
The code in master.go is part of the /validate endpoint, which @fabioy is ripping out as part of #7092.

[2015-04-30 18:11] jayunit100 opened #7577 "Generify validateController in utils.go"
the `validateController` method in utils.go is supposed to be generic, but it really is coupled
- to apiv3 and also
- to using kubectl for checking things rather than the more robust direct REST API calls

lets make it more general

[2015-04-30 18:13] ncdc commented on #7551
When I tested against a GCE cluster, I was seeing really slow performance - slow enough that it timed out trying to create the underlying streams. I haven't investigated in detail.

You can add `DEBUG=1` to the client as well as to the kubelet, and it will print out spdystream debug info.

[2015-04-30 18:54] erictune commented on #7265
Does the following work:
Create manifest-based pod that has a cpu and memory limit equal to the
amount you want set aside.
The Pod itself would use almost no memory and use no CPU (e.g. run the
kubernetes/pause:latest image).

The allocated resources would be reported to the scheduler, and so reserved
as you want.
Any system tasks in the root cgroup will still be able to use any memory
and cpu the

[2015-04-30 19:14] davidopp commented on #3139
@quinton-hoole I think ideally we should do all of this in one test. So what would you think of the following:
1) First, we build the test the way I described, using serve_hostname
2) Then, we replace serve_hostname with pods that generate a more realistic "application-level" workload

One benefit of structuring the test this way is that if we hit a failure, we can in theory re-run the test with n

[2015-04-30 19:17] markllama commented on #6164
It appears that this is affecting the Vagrant/Virtualbox cluster as well.

Merely starting up the cluster, looking at the kube-proxy logs on the minions:

Apr 30 19:03:42 kubernetes-minion-1 kube-proxy[3307]: I0430 19:03:42.225044    3307 proxier.go:341] Initializing iptables
Apr 30 19:03:42 kubernetes-minion-1 kube-proxy[3307]: E0430 19:03:42.304586    3307 api.go:108] Unable to load services: th

[2015-04-30 19:21] kcao3 opened #7581 "Getting started with Kubernetes: "kubectl get nodes" command shows errors"
Hello,

I am very new to Kubernetes and would like to get some experience with this technology. Following the getting-started tutorials:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides,
I picked the simplest setup example: Running kubernetes locally via Docker obtained from this website:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/ge

[2015-04-30 19:27] quinton-hoole commented on #7537
Looks like this is potentially fixed by  #7460 ? Reopen if not.

[2015-04-30 19:27] #7537 closed

[2015-04-30 19:29] #7412 closed

[2015-04-30 19:34] quinton-hoole commented on #3139
Yes, that's exactly what I had in mind.

In a really ideal world :-)  we'd have a few different app-level workload pods, which saturate each resource (CPU, Mem, Disk I/O, Network) individually, and collectively.  But just starting with CPU would be a big improvement over what we have today.

[2015-04-30 19:42] smarterclayton commented on #1624
In our case the job is fully parameterized by the creator of the job (it's maybe type 0, needs no input beyond its arguments).

[2015-04-30 19:56] davidopp commented on #1624
What difference, if any, is there between each replica (pod) of one of your jobs? I think it would be "type 1" if each replica has different arguments/parameters.

[2015-04-30 20:00] jefferai commented on #1957
Big +1 for Consul. We've run into problems with etcd due to bugs in their (now previous) underlying Raft layer. They have written a new Raft layer and yet some of the same bugs are being reported by users, plus it's too new to be fully battle tested.

Kubernetes using etcd is the main reason we're not seriously evaluating Kubernetes. We just don't trust etcd for production systems right now.

On t

[2015-04-30 20:13] smarterclayton commented on #1624
No difference between them.  Job is done once (just need one to run to completion).

The build is "grab a source repo, built the commit we were parameterized with, push to registry when done".  Each build is its own distinct job.

[2015-04-30 20:14] fabioy opened #7584 "Versioned API objects should be in a self-contained package"
TL;DR: The versioned API types should be self-contained package. For example, the file "pkg/api/v1beta3/types.go" is not self contained and contains tendrils to other internal types (see below). This is somewhat cruddy for other clients wanting to import minimal source from k8s just to call its APIs. It'd be nice to have a single package to import to get the API object definitions (i.e. for json u

[2015-04-30 20:14] smarterclayton commented on #7566
Correct me if I'm wrong, but it looks like if we create multiple go-etcd Clients, each one would have a unique idle connection pool, which means none of our code (if we were creating our own) would be reusing connections.  Is that accurate?

[2015-04-30 20:16] vmarmol opened #7585 "Kubelet: Sanitize user-provided input for runtimes"
This is specifically for the rkt runtime. Today we accept a bunch of user-generated fields and concatenate them into a string to execute. We should be wary of what this input is as ensure that we escape it correctly.

This is more an an FYI and a note to do an audit, nothing critical at this time.

/cc @yifan-gu @dchen1107 @jonboulle

[2015-04-30 20:21] timothysc commented on #7566
@smarterclayton that doesn't jive with what we are seeing.  From what I grok, one client gets created in the helper, then the helper gets copied around.

[2015-04-30 20:21] davidopp commented on #1624
I see. So you have the "run to completion, not forever/daemon" property but not the "multiple replicas" property. So yeah, I think @gmarek's approach would work for your use case (with num_completions == 1). It sounds like @alex-mohr's proposal in #6393 would also satisfy your use case, without requiring any kind of explicit controller or new abstraction (not saying we should necessarily build tha

[2015-04-30 20:35] a-robinson opened #7587 "The exec LivenessProbe keys off of the output of the exec'ed command rather than its return code"
This was [mentioned](https://github.com/GoogleCloudPlatform/kubernetes/pull/3695#discussion_r23700142) by @thockin during an old PR review and I just ran into it today - he said he'd file an issue about it, but I wasn't able to find one.

The issue is that it's awkward that our exec liveness probes into docker containers are only considered successful if their stdout is the string "ok", rather tha

[2015-04-30 20:45] jonboulle commented on #7585
Sgtm. In the appc spec we try to be restrictive about this in many places
using the ac name type.
Am 30.04.2015 13:17 schrieb "Victor Marmol" <notifications@github.com>:

[2015-04-30 20:53] cjcullen commented on #7581
I just tried this out and ran into the same issue. V1beta1 is old, but still works. When I do a docker inspect on my apiserver container, I see that it does not have any PortBindings.

Maybe someone who knows more about this (like @brendandburns) can help us out.

[2015-04-30 20:54] #7237 closed

[2015-04-30 20:55] quinton-hoole commented on #7548
As I guessed, this cropped up again.  I'm going to try to repro locally with verbose cluster logging to figure out what's happening.  The DNS service is not working, which is breaking other stuff.  Not clear yet whether DNS, Services, or just Pods in general are flaky.

	Test Result (4 failures / +4)
Kubernetes e2e Suite run 1 of 1.Cluster level logging using Elasticsearch should check that logs f

[2015-04-30 20:56] erictune commented on #4567
Yes.

On Tue, Apr 28, 2015 at 2:54 PM, David Oppenheimer <notifications@github.com

[2015-04-30 21:04] smarterclayton commented on #5905
This has been fixed I believe, @kargakis right?

[2015-04-30 21:04] smarterclayton commented on #6645
Believe this is fixed

[2015-04-30 21:04] #6645 closed

[2015-04-30 21:04] smarterclayton commented on #6956
Not hanging anymore

[2015-04-30 21:04] #6956 closed

[2015-04-30 21:05] davidopp commented on #6981
@fgrzadkowski Can you recommend an owner for this? It seems very useful for users to debug their clusters. Not a requirement for 1.0 but would be good to have someone working on this. (Earlier you mentioned @mwielgus but maybe the official owner should be someone working on the project full-time.)

[2015-04-30 21:10] cjcullen commented on #7548
I'm also running the DNS test in a loop locally to see if I can get a failed cluster to pick at.

[2015-04-30 21:10] smarterclayton commented on #7562
There was a slightly weaker version of this proposed, which avoids the need to reschedule.  Would that work for your use case?

1. Add a new VolumeSource variant of emptydir called "uniqueemptydir". That source would have a unique key, called "unique".  A pod creator would create a sufficiently random secret that multiple pods could share (or one would be defaulted onto it).
2. When a pod is sched

[2015-04-30 21:11] vishh commented on #6981
Our plan was to make heapster periodically collect the prometheus metrics from the core components and store it in a user configured backend. If that is required for v1.0, we can get it done soon.
AFAIK we decided to use the prometheus client library, but not the entire Prometheus stack by default.

[2015-04-30 21:15] timothysc commented on #7572
@fgrzadkowski, @vishh - 1st step plan to output data to feed into Prometheus from e2e tests.

[2015-04-30 21:17] timothysc commented on #6981
We're already way on trying to push spew metrics, then feed those metrics into prometheus is step 2.
#7572

[2015-04-30 21:29] smarterclayton commented on #7566
No, I mean if we switched to use different go-etcd clients because they aren't thread safe, looking at go-etcd code there would be no connection sharing, so the number of connections to etcd would go up by a significant factor.

[2015-04-30 21:31] cjcullen commented on #7571
For the NotReady node, can you look at the docker logs of the kube_controller-manager container and see if anything is obviously wrong?

[2015-04-30 21:32] smarterclayton commented on #1624
Right - we implemented "job" (run pod multiple times) on top of pod.  Every pod in the job is the same, so not quite type 1 or type 2.  We would expect to use "Job" however implemented to prevent us from having implement it ourselves.  Our use case is probably the simplest possible Job so it's not really relevant to this discussion other than as a minimum bar.

----- Original Message -----

[2015-04-30 21:39] satnam6502 opened #7594 "YAML manifest pod spec fails"
In the process of converting the manifest pod specs for node level logging from v1beta3 JSON to v1beta3 YAML I see int he Kubelet logs the error:
[code]
However, the YAML file:
[code]
has the same information as the JSON file:
[code]
but the JSON file works but the YAML file does not.

@wojtek-t

[2015-04-30 21:41] davidopp commented on #6981
My interest is primarily in how we will aggregate the stats mentioned towards the end of #1625 and present them in a way that is useful for users (and us) to debug users' clusters. I'm actually more interested in the "live in production" use case than the test use case, but I can see that the same monitoring can be useful for both.

It would be nice to unify the heapster and Prometheus stats, as @

[2015-04-30 21:47] timothysc commented on #6981
cc - @eparis (more bitz to carry).

[2015-04-30 22:08] smarterclayton commented on #7562
Actually, now that I think about it, the scheduler can key on the unique token (and whether any pod is scheduled with it) to have a recent memory of scheduling.  So you could get "good enough" in some cases.

[2015-04-30 22:16] a-robinson opened #7598 "kubectl --validate flag doesn't complain about unknown fields"
My understanding of kubectl's --validate flag is that it's supposed to error out if it can't parse its input as a valid API object. Maybe my understanding is wrong, but if it isn't, then the --validate flag is currently broken.

This came up when a user's service was coming up without a load balancer when they used the following yaml:
[code]

The createExternalLoadBalancer parameter is incorrectly

[2015-04-30 22:18] davidopp commented on #6981
@satnam6502 @roberthbailey

[2015-04-30 22:25] davidopp commented on #4135
@rjnagal Do you think you'll have time to work on this soon? If not, we have a couple of people who are available.

[2015-04-30 22:31] erictune commented on #7497
I think the question was about CentOS not CoreOS.

The only guide we have for CentOS is
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/centos/centos_manual_config.md

It does not appear to support real networking (only works on one node).
It does not say which CentOS version it uses.

@coolsvap added that guide, so maybe he can answer.

On Wed, Apr 29, 20

[2015-04-30 22:48] a-robinson opened #7600 "Proposal: make the kubectl --validate flag default to true"
As a follow-up to #7598, assuming --validate is functional, is there a reason that we don't validate user input against the API schema by default? Without it, unexpected fields are silently dropped, leading to tough-to-debug issues for folks who aren't familiar with the schema and happen to put something in the wrong place, misspell or mis-capitalize something, etc.

I wouldn't be surprised if the

[2015-04-30 22:51] rjnagal commented on #4135
@dchen1107 had something mostly ready, so I left it with her. Assigning it to myself. I can take what she  already has and finish it up.

[2015-04-30 22:52] markturansky commented on #7562
@smarterclayton how is that unique token different from a uniquely named resource slot?  Counting resources can survive pod death and node reboot.

Something like the flocker demo shown last Friday could provide the replication if the cluster admin doesn't already have meaningful backups in place.

[2015-04-30 22:55] vishh commented on #6981
I see two kinds of metrics being discussed here:
1. Custom metrics exposed by core kube components.
2. Custom metrics exposed by user containers.
Heapster will address '1' in the near-term. We have planned to address '2' after 1.0.

Prometheus is just one of the monitoring backends. It is possible to add prometheus as a backend in heapster. Having data flow through heapster will also let users sti

[2015-04-30 23:06] roberthbailey commented on #6180
@erictune -- @zmerlynn can easily add extra directories as necessary to the .tar.gz file. Are there any that we don't want to include (or can you prune them later if so)?

[2015-04-30 23:17] smarterclayton commented on #7562
Counting resources is distinct (and not very interesting, because it's size that's more important than count) - this is about identifying resources that are shared in a coherent way.  EmptyDir is a zero guarantee resource - this would add an identity to the resource.

Backup is nice, but there are many use cases where pods might be colocated and benefit from reuse of a per host cache, or the abili

[2015-04-30 23:20] davidopp commented on #6981
Having a unified monitoring pipeline (everything goes through Heapster, including metrics from cAdvisor and metrics exported via the Prometheus library, and then Heapster fans out the metrics to various back-ends) sounds good to me. @vishh has convinced me that we shouldn't work on a "native" Prometheus setup (Prometheus metrics consumed directly by Prometheus server/dashboard, without involving H

[2015-04-30 23:26] davidopp commented on #4135
OK, either one is fine, just wanted to make sure this gets attention since it is for 1.0.

[2015-04-30 23:38] erictune commented on #7554
Are you talking about the secrets files on the /tmpfs from the node's view?  I agree those should be readonly.

Or are you talking about the mount of the secret volume seen inside the container?  Those I don't think need to be readonly by root be default.  There is usually only one application inside the container, and it needs to run as a user that can access the secret, so it can use it.

[2015-04-30 23:53] aronchick commented on #7554
It's the latter - I can see there being two types of secrets - one that needs accessing by the application running on the container, and one that may be useful in one-time setup. The one-time setup ones could be more sensitive and need hiding from non-root.

[2015-05-01 00:00] aronchick opened #7604 "Stack Trace on trying to read description of Persistent Volume"
After I created a persistent volume, it throws an error on "describe".

[code]

[code]

[2015-05-01 00:09] vmarmol opened #7606 "Kubelet: Refactor/improve runtime-Kubelet dependency"
While getting the Runtime abstraction we've cut some corners and are left with a bit of a mess when it comes to the dependencies of the runtime in the kubelet. We should set aside some time to smooth out the dependency graph for this.

/cc @yujuhong @dchen1107 @yifan-gu

[2015-05-01 00:09] lavalamp commented on #7459
@davidopp Yes.

@alex-mohr Yeah that's one possible factoring of this, although we may want to defer some of that complexity until after we have the basic path working.

[2015-05-01 00:10] vmarmol opened #7607 "Kubelet: Document container Runtime abstraction"
Document the container runtime abstraction and expectation for future implementers of the interface.

/cc @yujuhong @yifan-gu @dchen1107

[2015-05-01 00:17] lavalamp commented on #7491
cc @lavalamp : Any reason, why are we embedding selfLink in unversioned internal objects.

I *strongly* disagree with this. Self link indicates the provenence of the object. It should tell you the URL that the object was retrieved from, no matter what you do to the object afterwards!! If this weren't the case, we would *not* have caught this bug where kubectl was secretly using v1beta1.

(I agree

[2015-05-01 00:19] aronchick commented on #7551
Sorry, can you help on where I put "DEBUG=1"?

On Thu, Apr 30, 2015 at 11:14 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-05-01 00:21] njuicsgz commented on #7352
can be closed since PR #7487 committed

[2015-05-01 00:21] #7352 closed

[2015-05-01 00:27] ddysher opened #7608 "Entrypoint not working in v1beta3"
Create a rc with the following config won't work (v1beta3)
[code]
I have to comment out the binary command, i.e. /etcd, /skydns.  However, with v1beta1, it works:
[code]

For v1beta3, the error message is
[code]

[2015-05-01 00:28] pmorie commented on #7608
@ddysher, you need to use 'Args' in v1beta3

On Thu, Apr 30, 2015 at 8:27 PM, Deyuan Deng <notifications@github.com>
wrote:

[2015-05-01 00:29] pmorie commented on #7608
Expanding on my above comment, if you want to pass arguments to an entrypoint in v1beta3, the field is `args` in the API.  `command` overrides the docker entrypoint if one is set.  See the docker_containers.go e2e.

[2015-05-01 00:32] brendandburns commented on #7491
I agree w/ @lavalamp, ```selfLink``` should point back to the place where the object came from.  If I grab an object over the v1beta3 API, and then encode it v1beta1, it shouldn't change the selfLink.

[2015-05-01 00:52] derekwaynecarr commented on #7491
Are self links fully qualified?

Sent from my iPhone

[2015-05-01 00:56] aronchick commented on #7519
+1 on removing "source" solving this.

[2015-05-01 00:57] ddysher commented on #7608
@pmorie Thanks for the quick response.  We don't seem to have a document around these configs, do we?

[2015-05-01 00:59] derekwaynecarr commented on #7519
@pmorie I think this can be closed

[2015-05-01 00:59] pmorie commented on #7608
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/containers.md#containers-and-commands

[2015-05-01 01:01] ncdc commented on #7551
When you run kubectl or the kubelet. I don't know if this would work, but you could try `DEBUG=1 gcloud alpha container kubectl exec -p mysql-sqhv0 -c mysql -i -t bash`. If that doesn't pass the env through to kubectl, it won't work, however. For the kubelet, you'd need to put it in I guess the init.d script that starts it up.

Doing `DEBUG` will really just show you when streams are created, when

[2015-05-01 01:01] ddysher commented on #7608
Nice, @pmorie thanks!

[2015-05-01 01:01] #7608 closed

[2015-05-01 01:03] davidopp commented on #3139
One more thought: We could do a first version of this that just generates the cluster operation workload and doesn't do any of the "verify" steps. We can add verification as a later step. That way we'll have a good performance benchmark more quickly than if we have to implement verification at the same time as workload generation. (These steps are orthogonal to whether we use serve_hostname or a m

[2015-05-01 01:03] pmorie commented on #7608
:+1:

[2015-05-01 01:19] aronchick commented on #7551
No problem - i've been able to work around by just sshing into the node and
then docker exec-ing up to the container.

No joy on adding "DEBUG=1" to the front.

On Thu, Apr 30, 2015 at 6:01 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-05-01 01:21] smarterclayton commented on #7491
No, server relative.  Otherwise they'd break for proxies

[2015-05-01 01:23] derekwaynecarr commented on #7491
I guess I don't really follow the provenance argument if its not fully qualified.  Must be missing something.

Sent from my iPhone

[2015-05-01 01:24] #7519 closed

[2015-05-01 01:36] derekwaynecarr commented on #7598
I ran into a similar issue when using a secret in a pod and had a "source" section in my YAML that was incorrect, but the command did not error, just ignored parts of below irrelevant YAML.

Sent from my iPhone

[2015-05-01 04:55] cjcullen commented on #7548
I can consistently get DNS to fail by killing the kube-dns-xxxxx pod. And I can consistently get it to come back to life by killing the kube2sky container.

"kubectl stop pods kube-dns-xxxxx" will cause the DNS RC to recreate the kube-dns pod, and the kube2sky logs will show that the etcd client is hung on the first write to etcd.

Then, "docker stop xxxxxxxxxxx" on the kube2sky container will cau

[2015-05-01 04:56] aronchick commented on #7551
Here's the output of DEBUG:

[code]

Interestingly, when I run `date` it happens in less than a second.

[code]

If I was to hazard a guess, I think it's actually working fine, and the bash command is not attaching properly. Then, when the 5 minutes goes by, it times out, and only then it flushes out all the output. This appears to be verified below - I executed the command, typed `date` and then

[2015-05-01 05:30] brendandburns commented on #4852
@vishh are you currently working on this?  If not, I'll grab it.

Thanks!
--brendan

[2015-05-01 05:37] lavalamp commented on #7491
If I have to make a choice, I'd vastly prefer fully-qualifying (breaking proxies) to making them untruthful about the source of the object.

What api version the object was originally stuffed through is valuable information about which of its fields can be relied upon to be set. (Imagine v1.2 adds a FooThrottler field but there's no equivilent in v1beta3; then if you see v1beta3 in the self link y

[2015-05-01 05:43] roberthbailey commented on #4852
I think that @a-robinson was looking into this today.

[2015-05-01 06:03] brendandburns commented on #7600
We had a discussion about this when I first implemented the flag.  I had originally defaulted it to true, but @smarterclayton objected.

See:
https://github.com/GoogleCloudPlatform/kubernetes/pull/2517#issuecomment-64144899
for some context.

The concerns are:
   * what if swagger is disabled on the server
   * client side validation can be bad b/c it's not the ultimate source of truth.

Perhaps w

[2015-05-01 06:41] nelcy commented on #7265
Thanks Eric. That should work as a quick fix. I will give it a try and confirm.

[2015-05-01 07:21] a-robinson opened #7618 "LivenessProbe of type exec appears completely broken"
As far as I can tell, container liveness probes of type exec flat out don't work against clusters built at head. I had the kubelet always log the output of the exec'ed command, and it's always empty no matter what I exec, causing the probe to fail since it requires the output to be equal to the string "ok".

If you want to test it, try adding a liveness probe of this form to any container:
[code]

[2015-05-01 07:24] a-robinson commented on #4852
Yeah, I sat on it a little today due to not being able to get it to actually work, but I'm pretty sure it wasn't working because exec liveness probes as a whole are broken (#7618).

Sent PR #7619 to resolve this once exec probes are functional.

[2015-05-01 12:51] markturansky commented on #7360
@plamer this bug should be fixed by #7503.  Per our IRC chat, if you could build from source, I think you would be able to resolve this issue as fixed.

[2015-05-01 12:54] smarterclayton commented on #7600
I still feel the same, mostly because we have accomplished very few of the additions and decorations to swagger to let it manage our model on the server side.

[2015-05-01 12:57] plamer commented on #7360
Thanks!

[2015-05-01 12:57] #7360 closed

[2015-05-01 13:07] markturansky commented on #7604
Thanks for reporting this.  #7529 will fix this nil pointer bug.

The problem is your volume is not yet bound, but the command line wants to show you some info from the bound claim, except there isn't one.

[2015-05-01 14:05] smarterclayton commented on #7491
Yeah, I definitely agree this is valuable... But parsing information out of urls has all of the problems with object versioning without a clear solution.  For humans to read, valuable, but it seems dangerous to advocate machines reading the URL.  For that use case, I agree having the server (even if wrong) is useful.

[2015-05-01 14:36] kcao3 commented on #7571
Something goes terribly wrong with docker version 1.5.0 and the latest stable version of CoreOS: 633.1.0. For some unknown reason, all of the docker commands (even with the simplest commands such as docker version, docker ps, etc) seem to hang. Please see attached screenshot. There is a much older version of CoreOS available on Amazon EC2: CoreOS 310.1.0, which was released on May last year. I tes

[2015-05-01 14:47] PeterLamar commented on #7371
So it ended up being an issue with Mavericks (OSX 10.9.6) running virtualbox. Upgrading to Yosemite resolved it. I figured it out by observing flaky behavior with the network connections to Virtual Box itself, Host Only and DHCP occasionally going in and out of connection.

[2015-05-01 14:47] #7371 closed

[2015-05-01 14:54] smarterclayton commented on #7551
Seems like a flow control or flushing problem.  Hrm, I think I saw something like this when testing SSH over exec as well.

[2015-05-01 15:14] markllama opened #7622 "kube-proxy fails to retrieve services and endpoints in Vagrant/Virtualbox cluster"
Possibly related to https://github.com/GoogleCloudPlatform/kubernetes/pull/7303

On simply starting a Vagrant/Virtualbox cluster and examining the journalctl results for the kube-proxy startup on minion-1:

    [vagrant@kubernetes-minion-1 ~]$ journalctl --unit kube-proxy | head
    -- Logs begin at Tue 2015-02-24 15:05:10 UTC, end at Fri 2015-05-01 14:59:21 UTC. --
    May 01 13:51:38 kubernetes-

[2015-05-01 15:23] markllama commented on #7622
This is possibly also related: https://github.com/GoogleCloudPlatform/kubernetes/issues/6164

[code]

I'm going to try port 7something and see if that changes anything.

[2015-05-01 15:28] markllama commented on #7622
switching master to port 708 results in this:

[code]

Then IP tables (no services) looks like this:
sudo iptables -vL -n -t nat
Chain PREROUTING (policy ACCEPT 7 packets, 420 bytes)
 pkts bytes target     prot opt in     out     source               destination
    3   148 DOCKER     all  --  *      *       0.0.0.0/0            0.0.0.0/0            ADDRTYPE match dst-type LOCAL
  194 11624 KUBE-P

[2015-05-01 15:56] lavalamp commented on #7491
Yeah, I would prefer if we never parsed it-- right now we do parse it to get the version out, which is very unfortunate.

[2015-05-01 15:56] erictune commented on #7554
@pmorie you had mentioned settable secret file permissions.  Anything to add to this conversation?

[2015-05-01 16:04] erictune commented on #6180
The GCE getting started guide only mentions directory `cluster`.  It may have changed since this issue was filed ... probably to convert to the https://get.k8s.io instructions.

CentOS and CoreOS are community supported, not project supported, so I'm not going to audit them.

I don't think we should grow the release tarball unless we understand what we are adding.

[2015-05-01 16:07] antoineco opened #7623 "Pods being scheduled on 'NotReady' node"
I have a simple setup with 1 master and 2 nodes running a couple of pods on Kubernetes v0.16.0.
When I simulate a crash on one of them, pods keep being scheduled on it indefinitely.

[code]

[code]

[code]

[2015-05-01 16:12] lavalamp commented on #7451
@timothysc for example, the issue on making an indexing system would cover this.

[2015-05-01 16:18] erictune commented on #6180
I verified that I can start a cluster on GCE using the GCE instructions.
I think this cane be removed from v1.

[2015-05-01 16:22] zmerlynn commented on #6180
Done

[2015-05-01 16:31] erictune commented on #7571
Google Container Engine

https://cloud.google.com/container-engine

Is the fastest, most tested way that I know of to get a Kubernetes cluster
up, so you can start running apps on it.

On Fri, May 1, 2015 at 7:36 AM, kcao3 <notifications@github.com> wrote:

[2015-05-01 16:45] erictune commented on #7265
Please let me know if it worked.  If it does, I will add it to the
documentation.

On Thu, Apr 30, 2015 at 11:41 PM, Chakravarthy Nelluri <
notifications@github.com> wrote:

[2015-05-01 16:46] pmorie opened #7627 "Image pull using secrets"
There are a couple in-progress items currently that are going to touch the image pull with secret story, so I'm creating this issue to get everyone on the same page and hopefully do some productive design and factorings in front of the implementation work that will need to happen.

Our long-term goal is to be able to use secrets to enable pull from private image repositories.  Those secrets will d

[2015-05-01 16:47] pmorie commented on #7448
I'm doubling down on this one since 3 people have asked me in the last 8 hours about the new conversion generation.

[2015-05-01 16:48] smarterclayton commented on #7627
----- Original Message -----

In the long run yes, which requires that we have a way in the container to check credentials without initiating a pull.  In the medium term, we just initiate a pull.  In the very short term, we do nothing.

No different than secrets I don't think.

[2015-05-01 16:51] timothysc commented on #7572
So after setting up prometheus and grocking, I think we can modify this slightly to easily feed in.

[2015-05-01 16:56] bprashanth commented on #7561
There are at least 2 issues that can lead to a wrong number of replicas at this stage of the test:

1. Slow create->watch cycle (by slow i mean slower than the 2 node-50 pods cluster case). See comments in #7628 for more details.
2. Scheduling pods on dead nodes (https://github.com/GoogleCloudPlatform/kubernetes/issues/7222) or nodes dying after pods have been scheduled on them. This will cause th

[2015-05-01 17:11] bprashanth opened #7630 "Density test should surface node failures"
I currently have an 80 node cluster with 3 un-sshable nodes, I didn't really do anything special, no idea why they're down. If I run density against this cluster, I'll get hit with failures because of (https://github.com/GoogleCloudPlatform/kubernetes/issues/7222). This is not easy to figure out after the test.

More importantly if a node goes down after a pod has been scheduled, the test will fai

[2015-05-01 17:11] a-robinson commented on #7600
Thanks for the pointer, that's good background. Would there be anything stopping us from validating that we aren't dropping input fields on the server?

[2015-05-01 17:17] rrati commented on #7222
@bprashanth The scheduler used to filter out nodes that aren't ready when it does its scheduling pass.  If it is no longer doing that then that's a regression from previous functionality.

[2015-05-01 17:18] markturansky commented on #7448
+1

[2015-05-01 17:22] mimizone commented on #1319
@preillyme what would be your approach? put the registry components in containers on the master, sort of as current registries are being deployed?
We have a recent interest in running a registry in full distributed mode in kubernetes as pods. It seems like it could fit nicely in the k8 model. What do you think?

[2015-05-01 17:22] smarterclayton commented on #7600
No, that's going to require a new JSON decoder.  Fortunately, the investigations around ugorji/go-codec show that we could potentially start flagging that (although we probably want to ignore input we don't understand so we don't break new clients against old servers)

----- Original Message -----

[2015-05-01 17:24] bprashanth opened #7631 "Rolling update should retry updates to the rc"
Since we update status.Replicas more frequently now there's a good chance a rollingupdate will fail because of a CAS conflict. This makes for a bad user experience, a better solution will be to retry the updates. Another reason to do this is that post  https://github.com/GoogleCloudPlatform/kubernetes/pull/7540#issuecomment-98180269 we have a rolling update test that check status.replicas as a pre

[2015-05-01 17:28] rrati commented on #7222
@bprashanth The Schedulable label doesn't really mean the node will be scheduled to.  It is a flag the admin can set on the node but the Ready/NotReady status should determine if a node is scheduled to if the flag is Schedulable.

[2015-05-01 17:49] nikhiljindal commented on #7598
Yes. I have ran into this as well. A field was at the wrong level and --validate just ignored it.
Validation ignores unknown fields: https://github.com/GoogleCloudPlatform/kubernetes/issues/5889

[2015-05-01 17:49] aronchick opened #7634 "Persistent Volume Does Not Appear to Be Working with Google Cloud Persistent Disk"
Repro:
- Create a persistent volume in GCE:
`gcloud compute disks create --size=200GB --zone=us-central1-a my-disk`
- Create a persistentVolume against the persistent disk:
[code]
- create persistentVolume:
`gcloud alpha container kubectl create -f persistentVolume.yml`
- get persistent volume status:
[code]
- get yml output:
[code]

Expected:
- Status would be updated

Actual:
- No status (and un

[2015-05-01 17:52] guenter commented on #6991
Implemented by #7277

[2015-05-01 17:52] #6991 closed

[2015-05-01 17:54] a-robinson commented on #7600
Ok, and it looks like server-side validation is covered by #5889, which is depressingly only a P3. Closing this in favor of that.

[2015-05-01 17:54] #7600 closed

[2015-05-01 17:54] nikhiljindal commented on #7608
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api.md#v1beta3-conversion-tips talks about converting v1beta1 configs to v1beta3

[2015-05-01 17:55] a-robinson commented on #7598
Isn't #5889 orthogonal? It's about adding server-side validation, whereas I'd like to make our existing client-side validation option validate properly.

[2015-05-01 18:38] purpleidea commented on #5340
It would be great to have an example of how to set this. I'm assuming you have to add it somewhere in the metadata.json file, but building those is still a mystery!

[2015-05-01 19:03] aronchick opened #7641 "Persistent Volume Fails Silently if Using v1beta1 format"
When using this from the example (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/mysql-wordpress-pd/mysql.yaml) with Google Cloud Engine:

[code]

The persistent disk does not mount, and does not tell the user anything.  The correction is here:

[code]

Additionally, when mounting anything, logs are not being written to kubelet.log

Expected:
* Alert the user that the mount

[2015-05-01 19:10] liggitt commented on #7627
@deads2k fyi

[2015-05-01 19:15] satnam6502 opened #7642 "Need better error message for service proxy endpoints"
If I try and visit a service with multiple ports via the proxy at the master and I don't specify a port I get an unhelpful error message e.g. `https://104.197.36.97/api/v1beta3/proxy/namespaces/default/services/elasticsearch-elasticsearch`

[code]

Well, this service does have two ports: `es` and `kibana`. Specifying the port works:
`https://104.197.36.97/api/v1beta3/proxy/namespaces/default/servi

[2015-05-01 19:23] nikhiljindal commented on #5475
Verified that e2e tests pass even when master stops exposing v1beta1 URLs.

[2015-05-01 19:36] timothysc commented on #7572
Eventually we'll have to figure out how we want to integrate e2e with Prometheus, but that can be a separate PR.

/cc @jayunit100

[2015-05-01 19:47] nikhiljindal commented on #7641
Did you try v1beta3? Does that work fine?

[2015-05-01 19:53] aronchick commented on #7641
Yes, that was the second yml I pasted in. The error is that k8s should
probably have thrown some kind of error/log saying "we're not going to
mount your disk" or "you didn't give us anything to mount".

On Fri, May 1, 2015 at 12:48 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-05-01 19:54] rrati opened #7645 "Move the scale tests into a separate file"

[2015-05-01 19:57] timothysc commented on #7645
@wojtek-t ^

Also, huge +1.

[2015-05-01 20:19] Symmetric commented on #2880
I've implemented a prototype of pod firewalling, using the [Calico](https://github.com/Metaswitch/calico-docker) networking framework. It's on a branch in my repo [here](https://github.com/Metaswitch/calico-kubernetes/tree/calico-with-services).

I added annotation directly to the ports dictionary in the PodSpec; that's just for clarity. So with a spec like this:

[code]

any pod with label `app:

[2015-05-01 20:25] erictune opened #7647 "Generate kubeconfig as well as tokens for service accounts"
Mentioned in todays community meeting by @smarterclayton during @liggitt ServiceAccount demo.

Should something generate a kubeconfig file with the token in it, for each service account?
This would allow me to simplify the code in cluster/saltbase/salt/kube-addons/kube-addons.sh which creates secrets to just create service accounts.

Would this be the TokenController, or some new controller?

Woul

[2015-05-01 20:29] a-robinson commented on #7618
The reason that the e2e test for exec liveness probes hasn't caught this is that it only tests that containers are restarted when they fail liveness probes. It doesn't test that containers aren't restarted when their liveness checks should be succeeding.

The e2e test's exec'ed commands also only ever produced empty output, rather than the expected "fail" output.

[2015-05-01 20:33] erictune opened #7648 "Put Root CA Cert for cluster into all(ish) pods"
We could put this into kubeconfig, which would be generated by TokenController, in response to a ServiceAccount (see #7647).

@roberthbailey suggested this in the discussion of #7444.

The alternative would be to automount this into a well-defined location in all pods, using a similar, but distinct admission controller that that used by service accounts.  But this would encourage other, more gener

[2015-05-01 20:33] thockin-cc commented on #7641
In general we don't handle unknown fields with errors,which is unfortunate
in this case.
On May 1, 2015 12:53 PM, "David Aronchick" <notifications@github.com> wrote:

[2015-05-01 20:36] erictune commented on #7428
I'm out next week, so I am not going to be able to work on this.  Someone should try to repro this.

[2015-05-01 20:38] timothysc commented on #5637
@vishh so would you add /metrics scraping similar to Prometheus?

[2015-05-01 20:40] jlowdermilk commented on #7581
@kcao3, that guide looks out of date. [This](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/locally.md) is the guide that we direct new users to from http://kubernetes.io/gettingstarted/, which should work better for you.

[2015-05-01 20:44] markturansky commented on #7641
But even with an unknown field, the volumeSource struct would contain all nils and fail validation, right?  It should, anyway.

[2015-05-01 20:44] roberthbailey commented on #3137
This probably has some overlap with #3139.

[2015-05-01 20:45] vishh commented on #5637
Yes. I was planning on having heapster scrape metrics from all the core
system components to begin with.

On Fri, May 1, 2015 at 1:38 PM, Timothy St. Clair <notifications@github.com>
wrote:

[2015-05-01 20:46] jlowdermilk commented on #7604
@markturansky, do you want to break out 719bdb5d082442c935a05f97ac926ef845c815e6 as a separate pr to fix this, since the nil deref sort of a standalone bug?

[2015-05-01 20:48] #7070 closed

[2015-05-01 20:56] a-robinson commented on #7587
Our exec liveness probing doesn't currently work (and may not have worked for some time now, since our tests only ensure that it restarts unhealthy containers, not that it doesn't restart healthy containers - see #7618), so this may be a good chance to change the behavior.

[2015-05-01 21:01] thockin-cc commented on #7641
All Nils currently means "emptydir". We could get rid of that, I guess. It
was left that way on the assumption that most volumes would be emptydir.
On May 1, 2015 1:45 PM, "Mark Turansky" <notifications@github.com> wrote:

[2015-05-01 21:12] roberthbailey commented on #7647
One advantage of a kubeconfig file is that we can bundle more than just an access token. We could instead put client certs and we could put the root CA cert as well so that clients can verify the master when connecting to the secure endpoint.

[2015-05-01 21:16] a-robinson commented on #7598
This is also broken for json files, not just yaml:
[code]

[2015-05-01 21:16] smarterclayton commented on #7647
Yeah, we want to sign and distribute serving certs for tls components, but the kubecknfig doesn't quite satisfy.  But CA and clients and credentials should be our preferred vector.

But, and this is a big but, it's a pain for a normal program to extract values from that.  So I think targeting both (two values in the secret data) is valuable.

[2015-05-01 21:26] roberthbailey commented on #7647
I agree that for non-infrastructure components the data bundled inside a kubeconfig isn't really useful.

[2015-05-01 21:32] smarterclayton commented on #7647
It would be trivial to extend the secret generator to add two entries.  I think the power of this approach is that incremental addition.

[2015-05-01 21:39] vishh commented on #7587
We switched over to keywords since docker used to not return appropriate status codes for exec commands. But, docker has been updated since then, and it now returns status codes for exec commands. So +1 for switching over to status codes.

[2015-05-01 21:40] vishh commented on #2853
Closing this issue for now. @dchen1107 kindly re-open if there are any pending work items here.

[2015-05-01 21:40] #2853 closed

[2015-05-01 21:42] roberthbailey commented on #7587
@vishh Do you recall what version of docker this relies on?

[2015-05-01 21:42] jlowdermilk opened #7656 "kubectl create -f ignores namespace in schema files"
It's enforcing "default" when it should be picking up the namespace from the schema file, and only using default if namespace wasn't provided.

[code]
apiVersion: v1beta3
kind: Pod
metadata:
  name: foo
  namespace: mynamespace
spec:
  containers:
  - name: nginx
    image: nginx
    ports:
    - containerPort: 8080
[code]

[2015-05-01 21:44] nikhiljindal commented on #5475
I take that back. I didnt realize that my e2e tests were running on a different branch.
I re-ran them but it looks like a bunch of tests are flaky on head: https://github.com/GoogleCloudPlatform/kubernetes/issues/7548

[2015-05-01 21:51] jlowdermilk commented on #7623
It looks like it's the "web" replication controller keeps trying to reschedule pods after they get evicted. Can you post the schema for the 'web' replication controller? If the pod spec has a hostPort, that would explain why it's trying to schedule on the dead node.

[2015-05-01 21:51] vishh commented on #7587
Docker versions 1.4.0 onwards should support exec status.

On Fri, May 1, 2015 at 2:42 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-05-01 21:52] jlowdermilk commented on #7623
That being said, it seems like controller manager should be smart enough to not try to schedule on an unhealthy node.

[2015-05-01 21:53] jlowdermilk commented on #7623
@yujuhong, can you take a look?

[2015-05-01 22:29] quinton-hoole commented on #3137
Hi Saad

Thanks for volunteering :-) to get a soak test up and running in Jenkins.

As discussed, the high level approach for phase one, code-named "Get A Basic Soak Test Running ASAP" is:

- Configure a new Jenkins Project to build a new test cluster (as per "go run e2e.go --up").  This should run approximately weekly (configurable).
- Configure a new Jenkins Project to run one iteration of our e

[2015-05-01 22:43] thockin commented on #2880
We need to figure out the semantics before the syntax.  The simplest form
is per-namespace firewalls, which I agree is probably the direction to go.
We'll have to address cluster-services, like DNS, as part of this.

Then we have to decide if we want to really go to sub-namespace subnets at
all, and if so, how do we denote that such that network environments that
don't support it work properly (wh

[2015-05-01 22:49] derekwaynecarr commented on #7656
I think this was intentional @smarterclayton ?

Sent from my iPhone

[2015-05-01 22:50] ixdy commented on #5670
#7462 was reverted because it broke Jenkins; it turns out that using the native Ginkgo runner takes a bit more work than originally expected:
1. The `ginkgo` binary needs to be built as part of the release (done in #7593).
2. The e2e tests need to be built as part of the release, using `ginkgo build`.
3. Finally we can update `hack/ginkgo-e2e.sh` to use the `ginkgo` binary (from the first step) an

[2015-05-01 22:53] thockin commented on #6812
I think we need to be able to figure out which Service an LB is attached to
from the Service, so that LBs can't get orphaned.

@justinsb regarding being able to claim an LB IP.  I don't think that is
covered in revamp...

On Thu, Apr 30, 2015 at 10:11 AM, Brendan Burns <notifications@github.com>
wrote:

[2015-05-01 23:02] satnam6502 opened #7658 "kubectl get services does not display external IP of port"
When I do `kubectl get services` I am shown the external IP for one port but not the other yet both are exposed by an external load balancer.
@jlowdermilk

[code]
The service:
[code]

[2015-05-01 23:04] thockin commented on #1957
We're certainly in favor of making it work, but I want to point out a
couple things.

First, that this is not something exposed to users.  It is an
implementation detail of our master.

Second, that this is NOT something that the core team is working on right
now.  If you want to see it, please feel free to pitch in :)

On Thu, Apr 30, 2015 at 1:00 PM, Jeff Mitchell <notifications@github.com>
wrot

[2015-05-01 23:06] smarterclayton commented on #1957
A good place to start is the generic etcd store implementation - that handles the standard CRUD operations along with watch.  No one has yet done an alternative store implementation, but we're happy to advise and review!

[2015-05-01 23:09] jlowdermilk commented on #7634
Typo?
[code]

[2015-05-01 23:10] smarterclayton commented on #7656
Yes it's by "design" - we only create things in your CLI / config namespace.  I'm concerned about alt behavior because creating something in the wrong namespace could be very dangerous (privileged pod in default namespace).  So I'd consider that an attack vector.

[2015-05-01 23:13] satnam6502 commented on #7658
If I expose a third port it does not seem to have an IP shown at all.
[code]

[2015-05-01 23:20] roberthbailey commented on #6852
@cjcullen and I have been looking into this while debugging why kube2sky seems to hang at startup.

The error is from [etcd_helper.GetEtcdVersion](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/tools/etcd_helper.go#L494) where it tries to parse the json response from etcd with the release version & internal version. Unfortunately, etcd no longer sends a json response and now onl

[2015-05-01 23:20] jlowdermilk commented on #7658
I believe that display is correct, but I think I understand your confusion. All containers in a pod share the same ip, so that display isn't telling you that the pod exposes 10.0.233.74:9200 and 107.178.215.205:9300, it's telling you that 9200,9300,5601 are exposed on *both* 10.0.233.74 **and** 107.178.215.205; they map to the same thing.

Does that make sense?

[2015-05-01 23:21] aronchick commented on #7634
Just copy paste error I'm afraid.

[2015-05-01 23:22] jlowdermilk commented on #7658
I think it would be less confusing if IP column was changed to IP(s). I.e. "your pod exposes these ports, and is available on these ips".

[2015-05-01 23:23] satnam6502 commented on #7658
Right, I assumed that is what is going on -- but indeed, it is very confusing.

[2015-05-01 23:26] roberthbailey commented on #7587
I recall somewhere that we only required docker 1.2+. If we switch to relying in this behavior we should make sure to update our minimum requirements.

[2015-05-01 23:30] bkeroackdsc commented on #7036
Can I add a few of my similar AWS-related questions here?

- I don't want to use the automatic provisioning scripts, because I'd like to bring up a Kubernetes cluster on CoreOS in an existing subnet (in an extant VPC). How would networking work in this case? Do I need flannel?

- If I don't need flannel, how would I set up the VPC routing that you alluded to above? Assuming your using static entri

[2015-05-01 23:34] bgrant0607 opened #7660 "Reap/GC terminated pods"
So that successful/failed pods don't accumulate forever.

[2015-05-01 23:36] jlowdermilk commented on #7634
This looks like a combination of version skew and bad display output. I created a persistent volume on a 0.15.0 gke cluster and ran `kubectl get pv -o json` with both the gcloud kubectl, and latest (built from head):

using 0.15.0:
[code]

using 0.16.0
[code]

[2015-05-01 23:39] aronchick commented on #7634
Actually, it's partially my fault as well - apparently "ReadWriteMany" is
also not supported, which would have been nice to have an error from.

On Fri, May 1, 2015 at 4:36 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-05-01 23:41] roberthbailey commented on #7495
I've added a commit to #6949 to do this.

[2015-05-01 23:42] pmorie commented on #7634
@markturansky

On Fri, May 1, 2015 at 7:39 PM, David Aronchick <notifications@github.com>
wrote:

[2015-05-01 23:44] jefferai commented on #1957
'''
Second, that this is NOT something that the core team is working on right
now.  If you want to see it, please feel free to pitch in :)
'''
Understood, and I might, but my understanding was that there were many things very etcd-specific and that a more abstract layer was somewhere in the pipeline. Take my comment as a vote for a more abstracted interface, if it doesn't already exist.  :-)  That

[2015-05-01 23:54] #7658 closed

[2015-05-01 23:57] jlowdermilk commented on #7656
Ok, makes sense. Namespaces don't constitute security scopes now, but reading doc, it looks like that is planned work. Working as intended. cc @satnam6502

[2015-05-01 23:57] #7656 closed

[2015-05-02 00:00] vmarmol commented on #7548
Might be worth timing out the kube2sky Set operation and re-try?

[2015-05-02 00:00] a86c6f7964 commented on #1957
I will vote for "abstracted ability to move to consul in the future" as well. I was pretty unhappy to see comments around "please move to etcd 2.0" because this is probably fixed in that new version when I was having trouble with .4.x of etcd.

[2015-05-02 00:01] quinton-hoole opened #7664 "Create separate Jenkins job to run GCE e2e tests in parallel"

[2015-05-02 00:06] bprashanth commented on #7222
@rrati this bug is about the node condition status being unknown (most likely by the nodecontroller), I suspect @lavalamp is swaped anway so I might as well fix this (feel free to object :).

[2015-05-02 00:08] ixdy commented on #7664
Blocked by #5670.

[2015-05-02 00:11] lavalamp commented on #7222
Yes, the scheduler had a regression (my fault!)-- this is at the top of my list if @bprashanth doesn't steal it.

Schedulable/unschedulable and Ready/NotReady/unknown are two separate features; the scheduler needs to pay attention to both. The latter is currently broken.

[2015-05-02 00:11] quinton-hoole opened #7666 "Move each file in test/e2e to it's own package"
e2e tests are becoming a rats nest, all in one huge package.
Start by this trivial refactoring to prevent the situation from getting worse.

[2015-05-02 00:20] smarterclayton commented on #1957
That abstract layer exists today, but there's probably some loose ends dangling around.

[2015-05-02 00:29] bgrant0607 commented on #1957
Much of the previously mentioned refactoring has been done. The genericetcd registry mainly needs to be made more abstract. Take a look:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go

[2015-05-02 00:46] sym3tri opened #7670 "Return HTTP 410 for recently deleted resources"
Is it reasonable to return `410 Gone` HTTP errors for recently deleted resources? Given the amount of Pod churn in the cluster with replication controllers etc could be quite high, it would be nice to know (at least for a reasonable amount of time afterwards) that a resource did once exist but is now gone.

[2015-05-02 01:03] ddysher commented on #5340
@purpleidea Do you want to set pod eviction timeout? It's a flag in controller manager.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/man/kube-controller-manager.1.md
We should probably mention it in node.md or pod.md...

[2015-05-02 01:14] bprashanth commented on #7623
Closing as duplicate of https://github.com/GoogleCloudPlatform/kubernetes/issues/7222

[2015-05-02 01:14] #7623 closed

[2015-05-02 01:19] tamsky commented on #7184
@thockin does the v1 roadmap include support for any other overlay system besides kube-proxy?  The current roadmap.md doesn't mention networking or the possible SDN-of-the-future.

[2015-05-02 02:15] purpleidea commented on #5340
@ddysher I suppose... Is that what I want?
If I have two pods on machine2, and i shutdown machine2, what is it that will cause them to start running on machine3?

[2015-05-02 02:59] bprashanth commented on #5340
@purpleidea the scheduler should do that for you, you're probably hitting https://github.com/GoogleCloudPlatform/kubernetes/issues/7222

[2015-05-02 03:21] ravigadde commented on #5340
@purpleidea

Currently that only happens if you deployed your pods with a replication controller.

[2015-05-02 04:13] purpleidea opened #7673 "The Oh-My-Vagrant + Kubernetes environment could be mentioned in the docs"
This page: http://kubernetes.io/gettingstarted/ mentions a bunch of "getting started" guides for kubernetes. I wrote the following article+screencast, and I think it provides a good addition to what's already listed, and as such, feel free to link to it: https://ttboj.wordpress.com/2015/05/02/kubernetes-clusters-with-oh-my-vagrant/

I'm not going to send a docs patch, because you require a CLA :(

[2015-05-02 04:20] purpleidea commented on #5340
Ah, well I'm not quite an expert in this area yet, but here's some more information...

I'm the primary author on a development environment called Oh-My-Vagrant [1], which just recently added kubernetes support. I just today made a screencast and blogged about that integration point [2].

As an initial "kickstart" for new developers, I've provided an extremely simplistic "simple app" [3] (much sim

[2015-05-02 04:22] purpleidea commented on #5340
@bprashanth I'm not sure, but thanks for the reference.

@ravigadde Perhaps I didn't set up the app.json file correctly, but I thought I had. ( https://github.com/purpleidea/kube-simple1 )

(Please see my previous comment.)

Thanks!

[2015-05-02 04:57] bgrant0607 commented on #7491
I agree that selfLink shouldn't be parsed. It's intended for generic REST clients that don't understand how to construct (nor parse, presumably) Kubernetes URLs.

For the most part, kubectl shouldn't be converting objects (#3955). When it does, it should probably just clear selfLink. It will construct the new URL to use from apiVersion, kind, namespace, name.

I also agree selfLink shouldn't be st

[2015-05-02 10:03] markturansky commented on #7634
Is the PVClaimBinder running?  This was gated and requires a flag to run it.  Without it, the volume would remain pending (default status).  The binder makes it "Available" to be bound.  See #7529

Validation of access modes per plugin would be valuable, as GCE does not support ReadWriteMany.  But it's also the case that a volume like NFS *can* support ReadWriteMany whereas the actual export might

[2015-05-02 10:50] markturansky commented on #7604
@jlowdermilk done.  #7676.

[2015-05-02 14:03] justinsb commented on #7493
@skwokmag  I don't really understand the question - sorry.

`export KUBERNETES_PROVIDER=aws; cluster/kube-up.sh` will create two IAM roles for you (kubernetes-master for the master, kuberntes-minion for the minions).  This is just done through shell scripts, so you can see how it works in `cluster/aws/util.sh`,  and in particular you can see the IAM configuration files in `cluster/aws/templates/ia

[2015-05-02 14:10] justinsb commented on #7036
@bkeroackdsc I'd recommend opening a new issue.  For CoreOS questions, I'd ask @bakins.

The scripts for AWS/Ubuntu don't really cater to reusing an existing VPC or subnet.  The networking requirements are fairly tricky, and it just isn't something I/we have had time to prioritize.  In theory you can tag the VPC so that the script reuses it, but you also have to get the networking right and that i

[2015-05-02 15:26] skwokmag commented on #7493
@justinsb Thank you for your reply. I forgot to point to this: "You need an AWS instance profile and role with EC2 full access.", on https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws.md (my apologies). I am new to kubernetes and aws role in aws (I don't have the privilege to set up roles at work), so I didn't know what exactly I had to do and executing `

[2015-05-02 15:26] #7493 closed

[2015-05-02 16:48] jlowdermilk commented on #7673
Thanks for the link. I believe the policy for including guides in http://kubernetes.io/gettingstarted/ is that they have a dedicated maintainer, as the project is moving fast enough that something that works now may no longer work in 1-2 months.

[2015-05-02 16:55] purpleidea commented on #7673
@jlowdermilk You're welcome!

I'm currently maintaining the project, and I don't see any chance of that changing in the near future.

In addition, because I'm aware of the project speed, the feature was designed to take an external set of templates to set up kubernetes. This template set is pulled in automatically by Oh-My-Vagrant, and can be updated easily, or a user can even substitute in their

[2015-05-02 17:40] jlowdermilk commented on #7673
cc @erictune

[2015-05-02 19:19] jayunit100 commented on #3137
Also #7639 is now pending, which runs a modest soak as well as functional test of the k8pEtstore app

[2015-05-02 19:20] justinsb commented on #7622
I was able to get past this by changing the --master argument to kube-proxy from --master=https://172.20.0.9 to --master=https://172.20.0.9:6443.

I believe the former (port 443) is actually nginx, which uses basic auth.  The latter (6443) is direct-to-kube-apiserver, which is what we want.

I think GCE works only because on GCE nginx is disabled (top.sls), and apiserver listens on 443 on GCE (kub

[2015-05-02 19:21] bgrant0607 commented on #5905
Should be fixed by #7467, but the fixes/closes notes weren't put in the PR description.

[2015-05-02 19:21] #5905 closed

[2015-05-02 19:29] derekwaynecarr commented on #7622
I think there is an issue open that says I need to do the same, just lacked time this week to disable nginx

Sent from my iPhone

[2015-05-02 20:10] elibixby opened #7677 "v1beta3 Silently fails to label a pod if labels is not in metadata"
Should fail on making the call, (or if backwards compatibility is desired, should successfully label the pod).

[2015-05-02 21:49] justinsb commented on #6162
@jsdir: I wonder if we should just pull in your code for GetMetadata and implement something similar for IsRegionValid, until something is put into the official aws-sdk-go.

I'm going to be (re)implementing ELB soonish, which brings in a whole new set of API calls, so I'd much rather be using aws-sdk-go than creating more porting work...

Thoughts?

[2015-05-02 23:18] jsdir commented on #6162
@justinsb: I agree, the development at `aws-sdk-go` is not as punctual as I had hoped. I'll add `GetMetadata` and `IsRegionValid` to the AWS cloudprovider for now.

[2015-05-03 06:31] quinton-hoole opened #7680 "e2e test failing consistently: external load balancer"
Since this PR got merged, the ELB e2e test, which was consistently succeeding, is now consistently failing:

Revert #7145 now that #7609 is in, and fix the tests that were relying on it. (details)
Commit 890ff7b4aaec01ffdddc9e09940149140d46e975 by arob
Revert #7145 now that #7609 is in, and fix the tests that were relying on it.
The file was modified	pkg/cloudprovider/servicecontroller/servicecont

[2015-05-03 06:33] #7680 closed

[2015-05-03 07:44] saturnism opened #7682 "Ability to port-forward to a Service"
Currently, `kubectl port-forward` can forward port to a pod.  It would be super useful to be able to forward to a service!

[2015-05-03 10:30] pcx opened #7683 "kube-apiserver gives 'Loaded: not-found' while using Vagrant"
I followed the vagrant guide from [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md). I have 1 master and 2 minions up. I am unable to find kube-apiserver service on master.

    $ vagrant status
    Current machine states:

    master                    running (virtualbox)
    minion-1                  running (virtualbox)
    minion-2

[2015-05-03 13:28] ajazam opened #7684 "ps"

[2015-05-03 13:29] #7684 closed

[2015-05-03 13:43] quinton-hoole commented on #6812
I think that we need to roll back #7609 and think this issue through a bit better.  See comment on that PR.

[2015-05-03 18:47] aronchick opened #7686 "Show logs for terminated/crashlooping pods/containers"
I'm going to use a persistent disk in Google Compute Engine, but this would happen with any stored disk.

Repro steps:
- Use default mysql image from Docker hub
- Create a  GCE persistent disk
`gcloud compute disks create --size=10GB --zone=us-central1-a tmp-disk`
- Attach the drive to a node
`gcloud compute instances attach-disk my-instance-node --disk tmp-disk --zone us-central-1a`
- Mount that

[2015-05-03 20:36] bakins commented on #7036
@bkeroackdsc Setting up Kubernetes on CoreOS "manually" on AWS. Is not too hard.  Feel free to open a new issue or ping me off line.

[2015-05-04 00:40] nikhiljindal commented on #7598
@a-robinson Yes sorry. You are right.

[2015-05-04 01:10] thockin-cc commented on #7682
This should be easy to do for "external" services one @justinsb lands his
work. Internal services are trickier, probably have to bounce through the
master..
On May 3, 2015 12:45 AM, "Ray Tsang" <notifications@github.com> wrote:

[2015-05-04 01:13] thockin-cc commented on #7677
This is yet another case of the JSON parser silently ignoring unknown
fields. We should have a canonical bug for this and close all of these as
dups.
On May 2, 2015 1:11 PM, "elibixby" <notifications@github.com> wrote:

[2015-05-04 01:16] thockin commented on #7673
I think Jeff's point was that we can not maintain all of the docs for
non-core setups ourselves. We need someone like you to step up for it. Is
there a problem with the CLA that you can't sign it?
On May 2, 2015 9:56 AM, "James" <notifications@github.com> wrote:

[2015-05-04 01:57] thockin commented on #1957
The only way to really have an abstraction is to have more than one
concrete implementation. [Your project name here] could be the first
alternate implementation!
On May 1, 2015 5:29 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-05-04 02:18] smarterclayton commented on #1860
Fixing this by changing ip allocation for services

[2015-05-04 02:19] smarterclayton commented on #473
I have a pull incoming to switch services to a multi master safe allocation

[2015-05-04 02:38] BenTheElder opened #7687 "e2e does not set minimum cluster size when creating cluster"
While running e2e on vagrant I discovered i needed to run `export NUM_MINIONS=2` before running the tests or else get the `Cluster size (1) is too small to run e2e tests.  2 Minions are required.` error.

In my use case I'm working on the proxy code, so I do not have a cluster up and i call something like 'hack/e2e-test.sh' to put up a cluster and run the end to end tests on the new code which doe

[2015-05-04 03:02] purpleidea commented on #7673
@thockin If that was @jlowdermilk 's point (perhaps I misread it) then most of the docs needed are already available as part of the Oh-My-Vagrant (omv) project where I think it makes sense for them and I will continue to maintain with others. Similar to how I link to the relevant parts of the kubernetes docs for the kube things.

The big value add for both the kubernetes and omv projects is that b

[2015-05-04 03:34] aronchick opened #7688 "kubectl exec documentation needs to make it clear that the command shouldn't be quoted"
Repro:
- Use `gcloud alpha container kubectl exec -p <pod> -c <container> -i -t -- '<command>'`
- Observe that when <command> = one very small command `ls` or `date` it works properly
- Observe that when <command> is even slightly more complex = `ls /usr` it fails with "env: ls /usr: No such file or directory"

[code]

Expected: Command should execute as though exactly the same way docker exec wor

[2015-05-04 04:16] roberthbailey commented on #7687
/cc @ixdy @quinton-hoole

[2015-05-04 04:17] roberthbailey commented on #7687
It seems like adding a quick check in the e2e test code wouldn't be too difficult so that we would at least fail more quickly.

[2015-05-04 04:22] BenTheElder commented on #7687
That's what I thought, but if -up is set shouldn't it create a cluster of the right size for the tests?

[2015-05-04 04:32] thockin commented on #7673
On Sun, May 3, 2015 at 8:02 PM, James <notifications@github.com> wrote:

We certainly want people to find and use easy answers.  I'm a bit
reticent to link to external docs and examples, but I'll leave that to
Eric who is arbitrating the docs here.

Hmm, I think this is a bit bombastic.  It's an simply attestation that
you have the right to contribute the things you are contributing, and
a grant t

[2015-05-04 04:54] roberthbailey commented on #7687
It just calls `kube-up` and assumes that the provider has the correct configuration. I'm not sure that there is an easy way to check that NUM_MINIONS is set properly until after the cluster is created though given the mess of Go/bash interdependency here...

The e2e test driver sets `KUBE_CONFIG_FILE` to 'config-test.sh` so that it's easy to specify a different default configuration for testing th

[2015-05-04 04:55] roberthbailey commented on #7688
David, thanks for the bug report. Can you try doing this with kubectl directly (rather than the wrapped version) and see if you see the same error? I'm trying to figure out if this is a problem with our wrapping in GKE or with kubectl itself.

Also, can you run `gcloud alpha container kubectl version -c` and `gcloud version` for me as well?

[2015-05-04 04:59] BenTheElder commented on #7687
That sounds like a good fix. Should this be done just for vagrant or for all of the providers?

[2015-05-04 05:12] BenTheElder commented on #7687
What about something like:
[code]

[2015-05-04 05:15] aronchick commented on #7688
Sure thing:

$ gcloud alpha container kubectl version -c
Client Version: version.Info{Major:"0", Minor:"15", GitVersion:"v0.15.0",
GitCommit:"831f3e60d7cd64c61a775d6c78acce1673dd8aa9", GitTreeState:"clean"}

$ gcloud version
Google Cloud SDK 0.9.58

alpha 2015.04.09
bq 2.0.18
bq-nix 2.0.18
compute 2015.04.29
core 2015.04.29
core-nix 2014.10.20
dns 2015.04.29
gcloud 2015.04.29
gcloud-extensions-dar

[2015-05-04 05:20] roberthbailey commented on #7687
You could probably add that to https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/e2e-internal/e2e-up.sh although I think it would be better to fail rather than change the number of minions. What if a cloud provider doesn't support two minions (e.g. the single node running in docker case)?

[2015-05-04 05:23] BenTheElder commented on #7687
Good point.
So then just the config-test.sh for vagrant should have `NUM_MINIONS=2` and maybe the quick check in e2e? I can make a PR for that.

[2015-05-04 05:53] purpleidea commented on #7673
Perhaps I am looking at the wrong link. Is this the correct one: https://cla.developers.google.com/about/google-individual ?

If so, the requirements in there (# 2-4) don't seem to be aligned with an Apache V2 licensed project.

Secondly, it's not clear how you even "agree" to the CLA for _only_ this project, or even one commit, without unwittingly "signing" a CLA to _all_ google projects.

I don'

[2015-05-04 05:54] wojtek-t commented on #7645
Fixed by #7646

[2015-05-04 05:54] #7645 closed

[2015-05-04 06:24] roberthbailey commented on #7687
That'd be great. Thanks Ben!

@derekwaynecarr as an FYI for the vagrant changes.

[2015-05-04 06:28] wojtek-t commented on #7630
Thanks for reporting it - it's a really good point.

[2015-05-04 07:02] wojtek-t commented on #7222
Schedulable/unschedulable and Ready/NotReady/unknown are two separate features; the scheduler needs to pay attention to both. The latter is currently broken.

That's true. But the first one should work correctly.

[2015-05-04 07:11] wojtek-t commented on #7630
cc @fgrzadkowski

[2015-05-04 07:15] wojtek-t commented on #7561
Thanks for investigating it @bprashanth
It seems that #7628 fixed huge majority of flakes. For the the fix!
And it seems that the remaining flakes are exactly due to #7222 that you described.

Since the flakes are currently very rarely I'm decreasing the priority of this bug.
Also, I think that we can close this PR as a duplicate of #7222 (feel free to do it).

[2015-05-04 07:22] BenTheElder commented on #7687
You're welcome! Thanks for the guidance; I'm just happy to be working on a interesting project with a friendly community.
I'm wrapping up the other pr for the changes to e2e right now, just running the tests.

[2015-05-04 08:00] ghodss commented on #7339
So I dug a bit deeper to understand why the expansion isn't happening already. It looks like bash is the place that tilde expansion happens; see http://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html.

The reason bash isn't doing the expansion here is because the parameter in the command is prefixed by the name of the flag: `--kubeconfig=<path>`. In this situation bash does not exp

[2015-05-04 08:00] #7339 closed

[2015-05-04 08:12] BenTheElder commented on #7687
Turns out the cluster size is validated _after_ the cluster is created because there isn't any clean way to get NUM_MINIONS from the environment and config scripts.
I think just changing the default NUM_MINIONS for vagrant tests solves this for now for me, but i'll come back to it if I think of something.

In the meantime I did find a comment in e2e talking about a minimum of 3 minions (it should

[2015-05-04 08:32] #7604 closed

[2015-05-04 08:34] piosz commented on #7507
Assigning Satnam to this according to what @saad-ali wrote in mail.

[2015-05-04 08:34] dalanlan commented on #7440
+1 for this.

[2015-05-04 09:18] wojtek-t commented on #1624
/sub
cc @fgrzadkowski

[2015-05-04 10:00] hobti01 opened #7693 "Exclude docker cache proxy from CoreOS getting started guide"
The CoreOS cloud-config seems to include an "add-on" of sorts: the [docker cache proxy](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/master.yaml#L45).  It is run directly in docker.  The functionality of the cache proxy is not needed for Kubernetes, and only benefits downloaders of images from the docker public registry.  Could the

[2015-05-04 11:44] fgrzadkowski commented on #4854
This problem occurs when:
1. Client receives change via watch
2. 1000 other non-interesting changes happen in etcd
3. Watch connection breaks (every 5 min)
4. We try re-establish connection but fail with this error so we need to list all objects again.

As @lavalamp mentioned this doesn't cause any real issues. It will be fixed with new etcd 3.0 api.

Closing as "Working as intended".

[2015-05-04 11:44] #4854 closed

[2015-05-04 11:45] fgrzadkowski commented on #7162
Thanks to all recent performance-related changes (faster conversions, etcd cache, fixed too many dials) lists are now much faster (few seconds at most).

Fixed.

[2015-05-04 11:45] #7162 closed

[2015-05-04 11:46] fgrzadkowski commented on #6678
Added in #7559

[2015-05-04 11:46] #6678 closed

[2015-05-04 11:56] wojtek-t opened #7697 "ControllerManager is consuming a lot of CPU on empty cluster"
I've started a 100-node cluster and run Density test 3 times on this cluster:
[code]

10 minutes after all tests were finished (I've checked that there were no pods or replication controllers apart from the default ones (fluentd, heapster, etc.) kube-controller was constantly using around 1 core (btw apiserver was using 10-15% with rare bursts).

Note that this wasn't the case on clean cluster (be

[2015-05-04 12:12] opaugam opened #7698 "service API access from within a pod"
It appears like I can't use the service API @ 10.0.0.2 (unauthorized even with proper auth + TLS on 0.15 and so far hanging on 0.16). At this point I reverted to using the master directly from within my pods, which is quite sub-optimal. Is there a plan to support access to the service API from within the cluster, typically when implementing a PaaS where pods have the ability to create other pods ?

[2015-05-04 13:42] pamatteo opened #7701 "Setting API Server port in docker multinode cluster"
Hi,

I'm following the getting started guide about how to set up a kubernetes cluster in a docker multinode environment.
I have the necessity to change the port where the API server listens on the master node, since it is already used by another application. I tried to look at the various flags and options of  the `/hypercube kubelet`command, but I did not find anything that could solve my issue.

[2015-05-04 14:34] bprashanth commented on #7561
There's a third case which is currently the most frequent failure mode:
    <*errors.errorString | 0xc21c4c0580>: {
        s: "Error: Pod my-hostname-density3000-8da6844d-f23a-11e4-bd75-42010af0159ffb5: Container my-hostname-density3000-8da6844d-f23a-11e4-bd75-42010af01555 was found to have terminated 1 times",
    }

It also occasionally crops up in the normal e2es (https://github.com/GoogleClou

[2015-05-04 14:47] bprashanth commented on #7697
This is all 3 right (enddpoints, node and rc)? so even without pods and rcs there could be one of the other 2 acting funny. Will do some initial investigation and report back.

[2015-05-04 14:50] wojtek-t commented on #7697
I didn't observe any suspicious node-related activity. As for services, the test doesn't start any and thus after the test there are only those that are running in each cluster (kibana, elasticsearch, etc. - 9 in total).

[2015-05-04 14:52] wojtek-t commented on #7697
BTW - let me know if I can help you with that (since I'm in Warsaw this probably mean that if you don't finish this today you can update this thread so I can continue investigation tomorrow).

[2015-05-04 14:59] wojtek-t commented on #7697
cc @davidopp

[2015-05-04 15:24] BenTheElder commented on #7687
Closing for now.

[2015-05-04 15:24] #7687 closed

[2015-05-04 15:45] medhedifour commented on #6667
@sacashgit
Is this problem fixed or not ?
I have the same problem in my ubuntu cluster,
services are not working.

[2015-05-04 16:19] erictune commented on #1624
@smarterclayton if every pod is the same in your scenario, what makes them do different things?

[2015-05-04 16:23] smarterclayton commented on #1624
For an individual job, nothing.  The goal is to get at least one success (by running the pods in succession until one is identified as reaching completion).  So two pods that run to completion under a single job is acceptable, but zero pods is not.

[2015-05-04 16:29] erictune commented on #7673
I added a link to your article here: https://github.com/GoogleCloudPlatform/kubernetes/wiki/Kubernetes-Community

[2015-05-04 16:29] #7673 closed

[2015-05-04 16:34] vmarmol opened #7706 "rkt: Add build labels"
Add build labels to the Linux-specific portions of rkt so that we may cross-compile.

[2015-05-04 16:36] vmarmol opened #7707 "rkt: Support ports"
It seems like our rkt implementation does not support ports. We specify them:

[code]

But rkt seems to complain about them:

[code]

[2015-05-04 16:39] vmarmol opened #7708 "rkt: rkt status can have 2 fields instead of 3"
We expect the output of `rkt status` to have 3 fields (id, image, and status) whereas during `prepare` the images often have only 2 fields (id and status)

/cc @yifan-gu @jonboulle @dchen1107

[2015-05-04 16:39] vmarmol commented on #7706
/cc @yifan-gu @jonboulle @dchen1107

[2015-05-04 16:39] vmarmol commented on #7707
/cc @yifan-gu @jonboulle @dchen1107

[2015-05-04 16:41] vmarmol opened #7709 "rkt: rkt status fails but returns status"
I've seen rkt status fail in the steady state due to a "missing config", but the desired output is still provided.

/cc @yifan-gu @jonboulle @dchen1107

[2015-05-04 16:42] erictune commented on #7280
I'm out the next 2 weeks.  Un-assign myself in case anyone else has time to look at this.

[2015-05-04 16:42] vmarmol opened #7710 "rkt: Support ports with no names"
rkt support assumes all ports have names while this is not always the case in Kubernetes. We should create default port names in these situations.

/cc @yifan-gu @jonboulle @dchen1107

[2015-05-04 16:49] smarterclayton opened #7711 "Improperly formed service entry causes lots of output in logs"
If you edit a service via etcd directly so that there is a syntax error, the API server pours errors every few hundred milliseconds of the form :

[code]

on a call to /api/v1beta3/services (probably the publish controller).

[2015-05-04 16:55] nwendling commented on #1624
We have this task in Openshift Origin plateform Experience (https://trello.com/c/7xCibp7B/374-8-as-an-openshift-operator-i-need-create-run-once-pods-for-recurrent-execution-future) about been able to execute pods with a finite lifetime, basically in our case to be able to schedule batch executions.

Having exchanged a few mails with @derekwaynecarr, our initial idea was to introduce some kind of t

[2015-05-04 17:12] bprashanth commented on #7697
so the RC is going to take the same amount of time it took to start up to shutdown, ~3m. Even after deleting the pods, it still needs some time to observe that the pods are gone. I have a cluster on which I ran density a while back and the top cpu consumer (according to atop) is currently the apiserver, so whatever it is, it does seem to die down.

I also prevented density from cleaning itself up