[2022-11-16 17:46] #108579 closed

[2022-11-16 17:59] munenek commented on #113633
can I  try this as a first issue?

[2022-11-16 18:05] negz commented on #111880
/remove-lifecycle stale

[2022-11-16 18:22] SergeyKanzhelev commented on #113935
Thank you for raising this issue. Indeed we either need to update docs or fix it. Can you please provide the kubelet log? We discussed this on triage meeting and not sure if this is actually supported or not. Kubelet log may give us some information quickly in case it is some bug.

/triage needs-information
/cc @xmcqueen

[2022-11-16 18:27] dlipovetsky commented on #113935
Thanks for triaging it quickly!

Yes, I'll do that.

(I didn't do it initially, because even after I bumped kubelet log verbosity to 10, I found no references of the ephemeral container names in the log. I'll just attach the complete kubelet log here.)

[2022-11-16 18:29] SergeyKanzhelev commented on #113938
@FeiYing9 just to be on the safe side - can you try to repro this on a fresh version of k8s? 1.22 is out of support.

Can you try running curl from the host - it will replicate what kubelet is doing. Ideally add the same user agent as kubelet. If curl from the host works, but kubelet doesn't - then it's a problem inside kubelet. Otherwise it is a problem with the networking and/or application. I s

[2022-11-16 18:36] alexzielenski opened #113958 "kubectl explain openapiv3: Future Improvements"
### What would you like to be added?

- [x] https://github.com/kubernetes/kubernetes/issues/113903#issuecomment-1317369712
- [ ] Display new v3 `nullable` field. Check if populated by k8s. If not, then create infrastructure to do so.
- [ ] Display new v3 `deprecated` field. Check if populated by k8s. If not, then create infrastructure to do so.
- [ ] Display `examples` field. Maybe explore adding

[2022-11-16 18:36] alexzielenski commented on #113958
/sig api-machinery
/triage accepted
/cc @apelisse @KnVerey

[2022-11-16 18:40] alexzielenski commented on #113958
whoops

/sig cli
/remove-sig api-machinery

[2022-11-16 18:48] dlipovetsky commented on #113935
Attached is the (compressed) kubelet log running in the kind-control-plane container. I bumped up its log verbosity to 8 prior to creating the ephemeral container.

I created the ephemeral container using the `kubectl debug` command described above at 18:42:31.

[kubelet.log.gz](https://github.com/kubernetes/kubernetes/files/10024803/kubelet.log.gz)

[2022-11-16 19:33] dpedu commented on #109698
/remove-lifecycle stale

[2022-11-16 21:09] mike-chen-samsung commented on #40157
Is there another Issue that's been recreated for this? I can't find one in the Issues list. If not, I can create a new feature request issue.

[2022-11-16 22:05] lavalamp opened #113961 "Some built in objects don't implement generation"
### What happened?

Pod's metadata.generation doesn't function, it should be implemented here but isn't: https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/pod/strategy.go#L96-L102

Some other build in objects have the same problem.

### What did you expect to happen?

All built in objects should support the generation field.

### How can we reproduce it (as minimally and preci

[2022-11-16 22:05] lavalamp commented on #113961
/sig api-machinery

[2022-11-16 22:22] jhawkins1 opened #113962 "go-runner in 1.24.8 kube-proxy Docker Image is built with 1.17.3 GO"
### What happened?

It appears although 1.24.x moved to 1.18 GO that the "go-runner"  in kube-proxy Docker Image is built using 1.17.3 GO.   This is being detected by Vulnerability Scanners, therefore, all 1.17.3 CVEs are being reported for the kube-proxy Image due to "go-runner".

### What did you expect to happen?

"go-runner" should be built with the same version of GO that the Kubernetes Relea

[2022-11-16 22:49] vteratipally commented on #113941
/sig testing

[2022-11-16 23:05] george-angel commented on #85643
/remove-lifecycle stale

[2022-11-16 23:05] aojea commented on #113941
from there are those logs?

[2022-11-16 23:21] jhawkins1 commented on #113962
/sig api-machinery

[2022-11-16 23:23] dims commented on #113962
/remove-sig api-machinery
/sig networking

[2022-11-16 23:34] vteratipally commented on #113941
Context: I work in Container-Optimized OS team in Google. Majority of the kubernetes tests run on Container-Optimized OS Operating system. Whenever a package is updated, kubernetes e2e tests are run and two of the tests mentioned above are failing when openssh is updated to 9.1 where it 100% SSH 2.0 protocol.

[2022-11-16 23:38] jhawkins1 commented on #113962
/sig security

[2022-11-16 23:49] jhawkins1 commented on #113962
/sig release

[2022-11-16 23:57] aojea commented on #113941
oh, thanks, I was looking for the logs

It seems those test use `x/crypto/ssh` , maybe some recent change on the golang library?

https://github.com/golang/go/issues/56342

[2022-11-17 00:40] andrewsykim commented on #85643
FYI Kubernetes v1.26 promotes the `ProxyTerminatingEndpoints` feature to Beta and enabled by default, which should address issues raised here. It would be greatly appreciated if folks can try the new release and help verify if you're seeing the expected behavior

[2022-11-17 00:58] tdihp commented on #111590
/remove-lifecycle stale

[2022-11-17 01:08] tdihp commented on #112743
Thanks for the reply @jsturtevant and ack on the ongoing effort of setting the size via pod (knowing that it has already been implemented in CRI and containerd). For this issue the focus is on monitoring side, let me know if the ask make sense. Thanks.

[2022-11-17 02:00] ruquanzhao commented on #113746
/assign

[2022-11-17 03:20] aimuz commented on #96564
Content-Type currently in use `application/vnd.kubernetes.protobuf`

Can we add a new Content-Type `application/vnd.kubernetes.protobufv2`

`application/vnd.kubernetes.protobufv2` provides the serialization of protoc-gen-go

We support both `application/vnd.kubernetes.protobuf` and `application/vnd.kubernetes.protobufv2` for a period of time

In the future we will gradually change the default valu

[2022-11-17 03:26] johanbrandhorst commented on #96564
The wire format of both is the same, there should be no need for this sort of migration. The whole question is about how to manage it in the code.

[2022-11-17 03:32] johngmyers opened #113964 ""LoadBalancers should be able to preserve UDP traffic" test incorrectly assumes IPv4"
### Which jobs are failing?

https://testgrid.k8s.io/kops-ipv6#kops-aws-cni-calico-ipv6&show-stale-tests=
https://testgrid.k8s.io/kops-ipv6#kops-aws-cni-calico-ipv6-flatcar&show-stale-tests=
https://testgrid.k8s.io/kops-ipv6#kops-aws-cni-cilium-ipv6&show-stale-tests=
https://testgrid.k8s.io/kops-ipv6#kops-aws-ipv6-flatcar&show-stale-tests=

### Which tests are failing?

Kubernetes e2e suite.[It] [

[2022-11-17 03:33] liggitt commented on #96564
100% agree (and even if they weren't, expecting all existing clients to migrate to the new wire format and drop support for the old wire format isn't realistic)

[2022-11-17 03:34] johngmyers commented on #113964
/cc @aojea

[2022-11-17 04:00] johngmyers commented on #113964
kOps skips all tests that are marked `[Slow]`. Many other tests in that file are so marked. Should these two tests have also been marked `[Slow]`?

[2022-11-17 04:34] johngmyers commented on #113964
Failing on some IPv4 tests with a different error message:
https://testgrid.k8s.io/kops-misc#kops-aws-external-dns&show-stale-tests=
https://testgrid.k8s.io/kops-misc#kops-aws-misc-arm64-ci&show-stale-tests=
https://testgrid.k8s.io/kops-misc#kops-aws-misc-karpenter&show-stale-tests=
https://testgrid.k8s.io/kops-misc#kops-aws-private&show-stale-tests=
https://testgrid.k8s.io/kops-misc#kops-grid-sce

[2022-11-17 05:36] l1b0k opened #113966 "Update CRD cause apiserver"
### What happened?

1. update CRD 's description fields
2. the client watching for the cr resource will lost watch https://github.com/kubernetes/kubernetes/pull/78029

### What did you expect to happen?

As i only chang the CRD's descriptions , this is not necessory to notify all client about the change.
This increase signifient pressure for kube-apiserver in large cluster.

### How can we reprodu

[2022-11-17 05:45] wzshiming commented on #113940
This may suit your want

[code]

This test case may answer your question

https://github.com/kubernetes/kubernetes/blob/3f823c0daa002158b12bfb2d53bcfe433516659d/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go#L646-L716

[2022-11-17 07:12] l1b0k commented on #113966
/sig api-machinery

[2022-11-17 07:38] FeiYing9 commented on #113938
I think this is similar to this issue: https://github.com/kubernetes/kubernetes/issues/89898#issuecomment-728908503

[code]
the ’user-agent‘ in http header is just generated by the code? https://github.com/kubernetes/kubernetes/blob/e573e2945065756f1b14dd307969a5ca1337efb4/pkg/probe/http/http.go#L103

[2022-11-17 07:51] AbelHu commented on #110630
It has been fixed in https://github.com/kubernetes/kubernetes/commit/430ada006d5e9f30563a96f4f308718563fee6be

[2022-11-17 08:03] kundan2707 commented on #113624
@aasyria Can you provide requested information ?

[2022-11-17 08:12] kundan2707 commented on #113940
/kind support

[2022-11-17 08:26] Ritikaa96 commented on #113966
Maybe we can retitle it as:
` updating CRD causes connection loss with active watches of custom resources.`
for a better understanding.

[2022-11-17 08:28] Ritikaa96 commented on #113966
/area api-server
/area custom-resources

[2022-11-17 08:30] Ritikaa96 commented on #113966
oops , my bad
/area apiserver

[2022-11-17 09:03] aojea commented on #113941
can you try with the snippet of code of the linked issue I pasted in my previous comment?

[2022-11-17 10:05] ialidzhikov commented on #106842
/remove-lifecycle stale

[2022-11-17 10:06] jgan129 commented on #113621
I agree, I will create a separate one since restoring is another issue.

[2022-11-17 10:06] #113621 closed

[2022-11-17 10:07] aojea commented on #113938
- the http_probe is sent from the kubelet process
- the exec_probe is sent from inside the container

http_probes are exposed to the network configuration on the host, is not the first time that some iptables rules (I think that there is actually a bug with Calico for this) block http probes.

exec_probes can not be blocked since they run inside the pod network namespace.

[2022-11-17 10:40] byteknacker commented on #22368
Would love to see this implemented inside Kubernetes directly as it seems to be a natural feature to have.

[2022-11-17 10:57] aojea commented on #113962
we'll need help from sig-release here, I tried to find out how the image is built for 1.24 without success

[2022-11-17 12:11] Sakuralbj commented on #113966
Now crdHandler compare the spec and acceptedNames of crd to decide if  crd update should be ignored.
So, if some description info such as spec.versions.additionalPrinterColumns.description  was changed,
Apiserver will destory storage and close  watches.  Can we make a more precise comparison here .

[2022-11-17 12:16] XyHalcyon commented on #89429
/reopen

[2022-11-17 12:21] weilaaa opened #113974 "Spec.hard of ResourcesQuota can be set less than status.used"
### What happened?

Spec.hard of ResourcesQuota can be set less than status.used.

### What did you expect to happen?

Spec.hard of ResourcesQuota can not be set less than status.used. Server should deny the op.

### How can we reproduce it (as minimally and precisely as possible)?

1. create a ResourceQuota under ns.
[code]
2. create a pod with resources specified.
[code]
3. update ResourceQuota'

[2022-11-17 12:25] weilaaa commented on #113974
/sig storage

[2022-11-17 13:04] cardil commented on #98661
/reopen

I'm seeing the same behavior on GKE `1.24.7`. In my case, that's a regular batch/v1 Job's pod, which sometimes have this status. It makes the Job failing, despite the pod successfully completed (the pod execution is quick, sub second).

Described at: https://github.com/knative-sandbox/kn-plugin-event/issues/242#issuecomment-1318558734

[2022-11-17 14:29] neolit123 commented on #113911
agreed with the above. this repository is for mainly hosting core k8s code.
/close

[2022-11-17 14:29] #113911 closed

[2022-11-17 14:30] neolit123 commented on #113869
/sig cli

[2022-11-17 14:31] neolit123 commented on #113838
/sig node

[2022-11-17 14:32] neolit123 commented on #113630
/sig api-machinery

[2022-11-17 14:34] neolit123 commented on #113673
your k8s version is out of support.
please contact the GKE team.

if they confirm this is a bug in k8s >=1.23 please reopen the issue and add their feedback.

/sig autoscaling

[2022-11-17 14:36] neolit123 commented on #113400
/kind support
/close

support questions can go in the support channels - e.g. #kubernetes-users on k8s slack.

[2022-11-17 14:36] #113400 closed

[2022-11-17 14:36] neolit123 commented on #113950
/remove-sig cli
/sig cli

(retriggering to remove needs-sig label)

[2022-11-17 14:37] neolit123 commented on #113950
/sig cli

[2022-11-17 14:37] neolit123 commented on #113700
/remove-sig node

[2022-11-17 14:38] neolit123 commented on #113700
/sig api-machinery

[2022-11-17 14:38] neolit123 commented on #113700
/remove-sig api-machinery

[2022-11-17 14:40] neolit123 commented on #113936
/sig cluster-lifecycle

is this a flake (fails sometimes?). we are not seeing it failing on the release-1.25 branch where code is backported.

[2022-11-17 14:41] neolit123 commented on #113907
/sig node
for triage

[2022-11-17 14:42] neolit123 commented on #113773
/sig api-machinery

[2022-11-17 14:44] neolit123 commented on #113713
/sig api-machinery
/kind documentation

[2022-11-17 14:46] neolit123 commented on #113003
/close
please try asking for support in #kubernetes-users on k8s slack.

[2022-11-17 14:46] #113003 closed

[2022-11-17 15:13] FredMandry commented on #110613
Hi @nhumrich , I'm facing same problem than you using Kubernetes, did you have a way to workaround it?
Best Regards :)

[2022-11-17 15:19] maximmold opened #113977 "Memory QoS should not be affected by CPU requests/limits"
### What happened?

I had a discussion with @kad during KubeCon about some unexpected behavior we observed testing Pod Quality of Service and its relation to OOMKills.  The kubernetes documentation [here](https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#node-out-of-memory-behavior) talks about the kubelet's setting of `oom_score_adj` based on QoS for the pod.

For Po

[2022-11-17 16:03] alculquicondor commented on #109712
/remove-lifecycle stale

We are kind of ready for this in 1.27. Any takers?

[2022-11-17 16:38] jensentanlo commented on #109712
Sorry, completely missed this. I agree that there are dedicated frameworks for lots of things, but the idea is that having useful primitives in core Kubernetes would be useful for dedicated frameworks to build on top. I think this is one situation where everyone that is currently building is re-inventing the wheel to solve a common set of problems.

[2022-11-17 17:15] dlipovetsky commented on #113935
@xmcqueen Thanks for trying to reproduce this. Your results are consistent with mine.

What I am reporting is that, despite having the correct spec, the ephemeral container is not created.

The key point I wanted to make in my report is that _the container is not created._ However, I failed to explain how to verify that claim.

We could verify it, for example, by listing all the processes running

[2022-11-17 17:19] jpbetz commented on #113594
Use `apiGroups: ["autoscaling"]` for the scale subresource? Also note is has both a v1 and v2 API (but matchType=Equivalent, which is the default, should be enough to match)

[2022-11-17 17:22] caniko commented on #65551
+1

[2022-11-17 17:24] kfox1111 commented on #22368
I'd go a step further, and say the lack of feature in Kubernetes makes Kubernetes much harder to learn/use. Having to have conversations around, here's how to use a Deployment, and here's how the ways it doesn't work the way you'd think regarding configmaps/secrets many many times, that part is very unintuitive. Its rarely documented in any training material I've ever seen.

[2022-11-17 17:41] dashpole commented on #113616
cc @bobbypage

We might not want to do this given the in-progress migration from cAdvisor to CRI-based stats.  This would increase the surface area of things that would need to be migrated

[2022-11-17 17:44] SanjayVas commented on #22368
My team's current solution is using Kustomize, which is at least a first-party tool. It does have the limitation that all of your object configurations have to be managed in a single place (meaning e.g. secrets are kept permanently on disk in another location outside of the cluster), but it does handle the ConfigMap rollout issue if appending hashes to the ConfigMap names.

It doesn't handle clean

[2022-11-17 17:51] Nivedita-coder commented on #113767
Hey folks,
Any update on this failing test?:raised_hands:

[2022-11-17 17:56] #110595 closed

[2022-11-17 18:17] barbarosh commented on #79224
+1 reopen

[2022-11-17 18:24] ViliusS commented on #79224
Instead of commenting +1, please vote on the issue itself by clicking Like button.

[2022-11-17 18:44] msau42 commented on #69831
With the kubelet pod worker refactoring in 1.22, the volume manager is now using `ShouldPodRuntimeBeRemoved` which only returns true after the containers have been torn down and will not be restarted: https://github.com/kubernetes/kubernetes/blob/release-1.22/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go#L232

/close

[2022-11-17 18:44] #69831 closed

[2022-11-17 18:53] jhawkins1 commented on #113962
Looks like go-runner was added to kube-proxy in 1.23 via https://github.com/kubernetes/kubernetes/issues/106086 .  I see @BenTheElder played a role with the adding of go-runner.  Maybe the folks on that Issue and set of PRs could aid in tracking down this  issue.

[2022-11-17 18:59] andrewsykim commented on #113767
I can try to open a fix, is there a presubmit version of this job I can run against a PR?

[2022-11-17 19:02] cardil commented on #98661
@haircommander Could you please reopen this issue?

[2022-11-17 19:04] haircommander commented on #98661
/reopen

[2022-11-17 19:05] msau42 opened #113979 "Volume is unmounted while container still running during kubelet restart"
### What happened?

We observed that while a container is in the process of being torn down, but not completed, the volume gets unmounted and then subsequently detached, causing the fs to enter read-only mode. This happened after kubelet restarted.
[code]

We observed that on the restart, the volume was not added to DSW because the Pod was marked for deletion.
[code]

### What did you expect to ha

[2022-11-17 19:10] Pitta commented on #79224
The issuie is from 2019 and has a mob of people commenting. Also has over 100 likes. What does it take?

[2022-11-17 19:10] BenTheElder commented on #113962
kube-proxy doesn't use this image in 1.25+
The image is in the kubernetes/release repo

[2022-11-17 19:14] BenTheElder commented on #113962
Unfortunately we probably can't backport the 1.25 improvements since they could break people depending on other things in the image.

[2022-11-17 19:45] harche commented on #113767
[pull-kubernetes-node-crio-e2e](https://github.com/kubernetes/test-infra/blob/0ee7624ef9a6804aae4f505828c067b94512e872/config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml#L890)

[2022-11-17 20:07] fgleixner commented on #39188
Amazing. How can one vote up for this bug?

[2022-11-17 20:30] luebken opened #113980 "`kubectl get` returns different error for removed custom type with stale discovery cache"
### What happened?

I've installed a CRD and deleted again. kubectl gives different results when querying for the CRD before and after creating and deleting it.

### What did you expect to happen?

I would expect deleting a CRD would result in the same state as the cluster as before.

Note that deleting the cache fixes the problem.

### How can we reproduce it (as minimally and precisely as possib

[2022-11-17 20:35] luebken commented on #113980
/sig cli

[2022-11-17 20:42] gnufied opened #113982 "Stop reporting volume limits for migrated volume plugins in Node object"
### What happened?

Reporting volume limits for migrated volume plugins with often incorrect values confuses users because intree limits are mostly hardcoded and are not getting updated now that CSI driver is handling these volume types.

### What did you expect to happen?

Should not report any volume limits.

### How can we reproduce it (as minimally and precisely as possible)?

Kubelet reports

[2022-11-17 20:43] gnufied commented on #113982
/help wanted

[2022-11-17 20:58] dims commented on #79224
@Pitta - One person willing to do the job by writing a KEP [1]

[1] https://github.com/kubernetes/enhancements#is-my-thing-an-enhancement

[2022-11-17 21:31] xmcqueen commented on #113935
I do see a difference in the test results, but I still can't exec into the ephemeral container.  I'll run some more tests.  THanks

Here is the pos spec showing something for the ephemeral container, but i can't exec into it anyway:

[code]

[2022-11-17 21:54] jhawkins1 commented on #113962
@BenTheElder , looking at the build it appears it should be using 1.18 GO for the Image being generated and then utilized by Kube Proxy.   Confusing to me how it is using the 1.17.3 GO...  I am fuzzy though how this works -- first time looking at it.

[2022-11-17 22:32] lavalamp commented on #113763
[This](https://github.com/kubernetes/kubernetes/blob/3f823c0daa002158b12bfb2d53bcfe433516659d/staging/src/k8s.io/client-go/tools/cache/controller.go#L184) is where the existing code loses track of whether things have synced or not.

My first idea is to just modify this process function definition to make it pass a second parameter, `isInInitialList`: https://github.com/kubernetes/kubernetes/blob/3

[2022-11-17 22:33] leilajal commented on #113966
/triage accepted

[2022-11-17 22:34] leilajal commented on #113961
/triage accepted

[2022-11-17 22:34] leilajal commented on #113939
/triage accepted

[2022-11-17 22:34] leilajal commented on #113773
/triage accepted

[2022-11-18 00:05] andreapulvirenti commented on #40413
Same question here during my CKAD exam, I didn't have a solution for this. Anyone have any idea what's the correct action?
I'm gonna ask an exam review

[2022-11-18 00:44] lavalamp commented on #113763
I started #113985 to explore this, it seems easy to change the informer/fifo code, unclear how hard it will be to update controllers or if this interface change is acceptable or not.

[2022-11-18 02:17] heartlock opened #113987 "The pod is successfully removed but the configmap volume remains on the node"
### What happened?

the pod is successfully removed but the configmap volume remains on the node

### What did you expect to happen?

The pod is successfully removed add clean volumes on the node

### How can we reproduce it (as minimally and precisely as possible)?

[code]

1. Stop the kubelet service
[code]
2. Delete the running pod which mounts configmap
[code]

3. Start the kubelet service
[co

[2022-11-18 02:20] heartlock commented on #113987
/sig node

[2022-11-18 02:27] sanposhiho commented on #110643
/remove-lifecycle stale

After supporting Skip in Filter and Score.

[2022-11-18 02:35] heartlock commented on #113987
ref: #105204

[2022-11-18 02:54] SimonCqk commented on #113716
@alexzielenski hi, I am interested in implementing this, however, how should I add this API change to SIG API machinery meeting agenda?

[2022-11-18 03:07] sding3 opened #113989 "support UID specification in kubectl debug"
### What would you like to be added?

A `--uid` flag to  `kubectl debug`.

### Why is this needed?

The ability to specify a custom UID to run the debug container in `kubectl debug` would be desirable and convenient in cases where the users wishes to run as a different user ID, e.g. root, in the debug container.

[2022-11-18 03:08] sding3 commented on #113989
/sig cli

[2022-11-18 04:03] chenhaoenen opened #113995 "cannot be created after being deleted"
### What happened?

hi, I delet one pod use
`
kubectl delete pods <pod> --grace-period=0 --force
`
after that , I creat this pod one again, but I fonud it cannot be created after being deleted
`
kubectl get pods -n Namespace
`
dont have the pod

### What did you expect to happen?

create the pod

### How can we reproduce it (as minimally and precisely as possible)?

xixi

### Anything else we need

[2022-11-18 04:20] sunnyzhy opened #113996 "pull private image failed on crictl 1.24.2"
## Problem

I pushed the ```busybox``` image to harbor, first.

[code]

view the result:

[code]

When I try to pull the busybox image from the local harbor, I  cannot pull it out.  And the error's digest ```sha256:515882a4af328b4195c94fb9398ac2325fa28674d7587084b3d5d633a1cefe59``` was diffrent from the image's digest ```sha256:62ffc2ed7554e4c6d360bce40bbcf196573dd27c4ce080641a2c59867e732dee```

[

[2022-11-18 05:21] rajeeshckr opened #113997 "seccomp-default in kubelet to support custom profile."
### What would you like to be added?

Currently, `seccomp-default` in kubelet supports only `true` OR `false`. Could we think about the possibility of expanding this to support something like `Localhost` so that the user can specify seccomp profile in another new flag to kubelet?

### Why is this needed?

If we want to enable seccomp in production clusters that have some real-life traffic, we were

[2022-11-18 05:30] mythi commented on #100367
@dims looks like people are still submitting PRs on this topic and they are not getting reviewed. From Go perspective there's no update since the 1.16 announcement (AFAIK). Should we revisit this goal?

[2022-11-18 05:54] Rajalakshmi-Girish commented on #113948
/assign @kishen-v

[2022-11-18 05:56] kishen-v commented on #113948
/assign

[2022-11-18 06:29] BenTheElder commented on #113941
Where possible tests should move to the hostexec pod technique instead of ssh, but not all tests have been migrated.

[2022-11-18 06:30] BenTheElder commented on #113912
/remove-sig testing
/sig cloud-provider

[2022-11-18 06:35] aojea commented on #113996
should you open the issue on the harbor project?
it doesn't seem related to kubernetes

[2022-11-18 06:40] aojea commented on #113995
/kind support
/remove-kind bug

you should provide logs or snippets of the execution commands and a way to reproduce it

[2022-11-18 07:49] feiskyer commented on #98359
/remove-lifecycle stale

[2022-11-18 07:59] sunnyzhy commented on #113996
it works with docker and ctr.

but it doesn't work with crictl.

the error log is :

[code]

[2022-11-18 08:00] aojea commented on #113996
crictl https://github.com/kubernetes-sigs/cri-tools is here

[2022-11-18 08:04] sunnyzhy commented on #113996
@aojea thanks. I solved this problem

https://github.com/k3s-io/k3s/issues/5502

[2022-11-18 08:25] #113996 closed

[2022-11-18 09:07] sssd-dev commented on #59888
/open

[2022-11-18 09:21] vaibhav2107 commented on #113997
/sig node

[2022-11-18 09:25] dgsardina commented on #79224
Probably better to create a different resource type like ConfigMapTemplate or similar

[2022-11-18 09:28] msrb commented on #22368
I think this can be achieved with kustomize+kubectl:

[code]

The assumption is that the old ConfigMap also has the `app=myapp` label (which is easy to achieve with kustomize via commonLabels). Since kustomize appends hashes to ConfigMap names, it's easy for kubectl to identify the previous CM resources as leftovers that should be deleted when applying new configuration.

[2022-11-18 10:00] vaibhav2107 commented on #111916
/remove-lifecycle stale

[2022-11-18 10:24] ardaguclu commented on #113961
/cc

[2022-11-18 10:42] ardaguclu commented on #113989
I think this issue intertwines with this issue https://github.com/kubernetes/kubectl/issues/1258

/cc @verb

[2022-11-18 12:44] Cool-Coder174 commented on #113272
I apologize for the slow actions. I know time and contributions are valuable. May I request a walk through. This is my first time ever contributing and I really want to learn. I have been reading some of the code base on my spare time.

[2022-11-18 12:58] matthew-walters commented on #107473
/remove-lifecycle stale

[2022-11-18 13:20] Saza-ku commented on #113867
Hey! May I take this issue?

[2022-11-18 13:22] matthyx commented on #110312
According to @ameukam we no longer need this config switch between repos, since [k8s.gcr.io](http://k8s.gcr.io/) is deprecated with 1.25, and older branches are being migrated too.
For example 1.22 in https://github.com/kubernetes/kubernetes/pull/113417
/close

[2022-11-18 13:22] #110312 closed

[2022-11-18 13:34] #113449 closed

[2022-11-18 14:08] enj commented on #113272
@Cool-Coder174 this feature is on the harder side of things to get started with.  Reading the blog post and the associated documentation is probably the best starting point:

https://kubernetes.io/blog/2022/09/09/kms-v2-improvements

[2022-11-18 14:17] aojea commented on #113964
yeah, my bad, sorry, I noticed it late, we have to wait for master to open again and fix them to work fine
Are you ok waiting until next release @johngmyers ?

/assign

[2022-11-18 14:20] aojea commented on #113678
/closed

fixed by https://github.com/kubernetes/test-infra/pull/27927/

[2022-11-18 14:24] aojea commented on #113288
@AbelHugh are you ok with the answers? can we close it?

[2022-11-18 14:33] #113079 closed

[2022-11-18 14:34] #112036 closed

[2022-11-18 14:34] fedepaol commented on #113203
@aojea I assume you are talking about metallb's controller. Isn't checking for the endpoint status enough? And also, how can we make this cni agnostic? There are scenarios where we don't even have kube-proxy.

[2022-11-18 14:47] aojea commented on #113203
honestly, is the only thing that I can think to solve the problem with the scenario explained here, I'm really lost here, I still don't understand why when the pod dies doesn't close the connection and removes the conntrack rule, is like something is odd here ...

reports like this in the past turned out to be complex network scenarios with non-common configurations (i.e. clients that used TCP wit

[2022-11-18 14:49] fedepaol commented on #113203
Nope, first time I see something like this

[2022-11-18 14:51] aojea commented on #113964
This sounds like a nice first issue to contribute

/assign @anggao

[2022-11-18 15:38] rrangith opened #114003 "Option to prevent CRD from being deleted if CR instances still exist"
### What would you like to be added?

Currently if you delete a CustomResourceDefinition, all CustomResource instances of that CRD will be deleted. There should be a field users can specify in the CRD spec that protects the CRD from deletion if CR instances still exist.

### Why is this needed?

This will prevent consequences if someone accidentally deletes a CRD.

[2022-11-18 15:58] rrangith commented on #114003
/sig api-machinery

[2022-11-18 16:13] johngmyers commented on #113964
@aojea test freeze means we can't fix stuff that was broken in the frenzy three days prior?

Our testgrid is on fire.

I think we need to label these two tests `[Slow]` in this release. Anything more subtle can wait until next release.

[2022-11-18 16:15] uniemimu opened #114005 "Scheduling Pods with dynamic resources and using the Pod `.spec.nodeName` field fails"
### What happened?

The combination of using the Pod spec nodeName field with the `DynamicResources` scheduler plugin (currently feature-gated) doesn't work. No surprise really as the nodeName field effective bypasses the `DynamicResources` scheduler plugin running, and something rather clever would need to be invented to make things to work. But this is still a bit of a regression compared to the

[2022-11-18 16:23] pohly commented on #114005
/triage accepted
/priority backlog
/sig node

One possible solution would be to have a new controller which specifically watches for pods in this state (nodeName set and reference claims). That controller then must trigger delayed allocation (if needed) by creating a PodScheduling object with selectedNode set. After allocation it must add the pod to the reservedFor list.

kubelet will immediately

[2022-11-18 16:32] aojea commented on #113964
we can't merge during this period, and this is not really a bug , is a bad tagging, the test should be tagged as IPv4 only,

if you are already filtering by `[Slow]` why can't you skip those tests temporary like I did?

https://github.com/kubernetes/test-infra/pull/28047

[2022-11-18 16:43] aojea commented on #113964
ok, let me send you a PR to skip them on kops  and I will follow up once I fix the mess I did

I'm so sorry

[2022-11-18 17:15] AmirAliSoftwareEngineer commented on #53180
@seemacalibrecode  Hi there, I'm having an  issue with an install kubectl in MacBook Pro M2

I got an error while running  brew link kubernetes-cli on ubuntu

looking forward to your response

[2022-11-18 18:56] rackeric opened #114006 "e2e test framework expose options for pod PriorityClass and quota"
### What would you like to be added?

- expose option for custom PriorityClass used in test Pods
- expose option to add custom quota to test namespaces

### Why is this needed?

Some clusters require a PriorityClass be set on all Pods, and if setting a PriorityClass then you may need to set a quota in test namespaces.

If there are other ways around this I'm interested in hearing how others get ar

[2022-11-18 18:57] rackeric commented on #114006
/sig sig-testing

[2022-11-18 19:13] pohly commented on #114006
/cc

As [discussed on Slack](https://kubernetes.slack.com/archives/C09QZ4DQB/p1668796862379909), the [`KUBE_TEST_REPO_LIST`](https://github.com/kubernetes/kubernetes/blob/57eb5d631ccd615cd161b6da36afc759af004b93/test/utils/image/manifest.go#L74) env variable should allow reconfiguration of all images.

The other two points are valid.

[2022-11-18 19:33] invidian commented on #84298
/remove-lifecycle stale

[2022-11-18 19:36] enj opened #114007 "kms: add encryption at rest integration test for aggregated API servers"
So that we know the wiring actually works there too.

[2022-11-18 19:36] enj commented on #114007
/triage accepted
/sig auth

[2022-11-18 19:58] harche opened #114008 "Kubelet should print useful information if quantities fails to parse during startup"
### What happened?

During kubelet start up if the system reserved or kube reserved values failed to parse, the kubelet won't start up. The error logged looks like,
[code]
However, it doesn't not inform the user which system reserved or kube reserved quantity has failed and what was the corresponding value of that quantity.

### What did you expect to happen?

The error log should also container q

[2022-11-18 20:06] Cool-Coder174 commented on #113438
Could someone please walk me through the process! It is my first time contributing and I would like to see how the process is done!

[2022-11-18 20:16] null-sleep opened #114010 "Topology Aware Infrastructure Disruptions for Statefulsets"
### What would you like to be added?

Add the following features to the StatefulSet API for Kubernetes to make the management of stateful apps easier:
1. The ability to rollout pods by zone for a Statefulset.
2. Allow PDBs to have budget of disruptions per zone for a Statefulset.

### Why is this needed?

A key focus of most stateful applications is data availability and consistency. In service of

[2022-11-18 20:17] null-sleep commented on #114010
/sig sig-apps

[2022-11-18 20:17] null-sleep commented on #114010
/sig apps

[2022-11-18 20:26] vishvikkrishnan opened #114019 "Dead link for "Node Allocatable" in doc page Kubelet Configuration (v1beta1)"
The link to documentation on ["Node Allocatable"](https://git.k8s.io/community/contributors/design-proposals/node/node-allocatable.md) is dead. The page was autogenerated.

I found a document with the same name within the Kubernetes project [as an archived repo](https://github.com/kubernetes/design-proposals-archive/blob/main/node/node-allocatable.md).

Please update the link or remove the referen

[2022-11-18 20:27] gnufied opened #114011 "Pods with user namespaces don't start"
### What happened?

I tried to create a simple pod with user namespace feature on Fedora 36 and running crio-1.25 from testing repos and got:

[code]

I could confirm that dropping `hostUsers: false` enabled pod to start correctly...

### What did you expect to happen?

Following Pod should have started:

[code]

### How can we reproduce it (as minimally and precisely as possible)?

Create above p

[2022-11-18 20:27] gnufied commented on #114011
/sig node

[2022-11-18 20:30] chuyang-deng commented on #113438
Hi @Cool-Coder174 , Jordan has updated the steps in the description for this specific task, but being a first time contributor myself, here's what I did/will do:

1. fork the repo to your own github, clone it to your local development environment
2. setup the development described here: https://github.com/kubernetes/kubernetes#to-start-developing-k8s
3. make your changes - update the "types.go" do

[2022-11-18 20:30] gnufied commented on #114011
cc @rata @giuseppe @msau42

[2022-11-18 21:12] #106919 closed

[2022-11-18 21:12] #104298 closed

[2022-11-18 21:27] danwinship commented on #113678
you mean
/close

[2022-11-18 21:27] #113678 closed

[2022-11-18 21:28] 1garo commented on #113633
could I try this one guys?

about the solutions I think that if we replace `FieldImmutableErrorMsg` with `cmp.Diff` should be fine, am I in the right path?

[2022-11-18 22:01] swap357 commented on #37922
This works for China AliCloud instances, no need for yum-key.gpg

[2022-11-19 00:12] #105942 closed

[2022-11-19 02:46] sunnylovestiramisu commented on #107414
Tried to run stress test as well but still cannot reproduce.

**Command**:
[code]

**Result**:
[code]

Also tried running n process in parallel.
**Command**:

[code]

**Result**:
[code]

[2022-11-19 06:31] xuchen-xiaoying commented on #112768
@aojea hi, what's your opinion on this proposal?

[2022-11-19 08:34] ariel-zilber commented on #113709
/assign

[2022-11-19 08:34] ariel-zilber commented on #113709
/unassign

[2022-11-19 12:08] luozhiwenn commented on #110302
/reopen

[2022-11-19 12:13] luozhiwenn commented on #113081
This problem also occurs when the time of all nodes in the cluster is changed to a few minutes ago.

[2022-11-19 12:49] gnufied commented on #113979
Yeah this looks problematic. What was the exact kube version btw?

So it was possible that container is still writing to the volume? Do we know why fs enters read-only mode when this happens? I know the behaviour of kubelet is problematic regardless, but still.

I think adding volumes belonging to terminating pod doesn't sound so bad. I wonder if we could change this to `ShouldPodRuntimeBeRemoved`

[2022-11-19 13:47] sftim commented on #114019
/sig docs
/sig node
/kind documentation

[2022-11-19 13:47] sftim commented on #114019
I would link instead to https://k8s.io/docs/tasks/administer-cluster/reserve-compute-resources/#node-allocatable

[2022-11-19 13:55] aojea commented on #111886
/remove-lifecycle stale
/priority backlog

Target golang 1.20
https://github.com/golang/go/issues/16100#issuecomment-1320340224

[2022-11-19 14:25] nitishchauhan0022 commented on #114019
/assign

[2022-11-19 14:31] smlx commented on #64623
I found a fairly elegant solution to this issue using DaemonSet pods which label the node they are running on. I wrote it up [here](https://www.sl.id.au/posts/kubernetes-run-pod-once-per-node/).

[2022-11-19 15:04] aojea commented on #110302
Kube-proxy doesn't renew iptables rules for you unready endpoint, actually it delete those rules

[2022-11-19 15:35] sanmai-NL commented on #24725
@scarby

A Deployment is useful over a single Pod, since Deployments can be updated with `kubectl apply` whereas the Pod would have to be deleted and recreated manually in some cases. This is advantageous when a container image (e.g., with a mutable tag `latest`) is being updated frequently (e.g., a development situation).

In that same debugging and development situation, you may want a LivenessP

[2022-11-19 18:30] BenTheElder commented on #113709
The guidance on generics has been updated to target once 1.24 is the oldest supported version which will be true in January approximately (sometime after 1.26 releases and 1.23 heads out of support). I'd wait until then at this point.

[2022-11-19 18:41] Bryce-Soghigian commented on #113709
OK i can leave the PR open till january and rebase it then, when generics have full support.

[2022-11-19 18:45] liggitt commented on #113980
this is due to the cached discovery documents kubectl maintains, and will probably fall under the discovery / cache work in progress in https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/3352-aggregated-discovery

[2022-11-19 19:04] liggitt commented on #113948
hmm… that's unfortunate… I asked in https://github.com/golang/go/issues/56732#issuecomment-1320948250 about how downstreams using stdlib URI parsing/validation should preserve compatibility with existing behavior

[2022-11-19 19:05] liggitt commented on #113948
I don't think this is just a test issue, the stdlib URI validation change has API and compatibility implications

/remove-sig testing
/sig architecture
/priority important-soon
/milestone v1.27

[2022-11-19 19:12] aojea commented on #113678
hhaha
thanks

[2022-11-19 19:17] aojea commented on #114006
I don't understand these 2 options in the context of e2e tests, since this is influencing the environment of the tests, but I may be missing something

e2e tests are meant to test kubernete, some of them are also used to guarantee conformance, but all the tests are meant to be used in kubernetes  environments without any additional enforcements, per example, you can not have firewalls , ...

[2022-11-19 19:25] aojea commented on #113948
oh no 🤕

[2022-11-19 19:26] liggitt commented on #113948
I'm opening an issue upstream… I think this is a good chance for golang to apply some of the runtime compatibility aspects discussed in https://github.com/golang/go/discussions/55090

[2022-11-19 20:40] liggitt commented on #113935
We should not allow ephemeral containers for static pods… the API content is not authoritative for static pods, the manifests on disk are, so I would expect the kubelet to ignore API spec content and the API to disallow adding ephemeral containers to static pods

[2022-11-19 20:49] pohly commented on #114006
I see it the other way around: the environment of the tests (= the cluster) has an influence on what is possible in the tests (= pods must have PriorityClass). It is debatable whether a cluster which requires that field to be set can pass conformance tests, because a conformant cluster should be able to run pods without it - probably not.

But when ignoring that, it makes sense to me to reuse the

[2022-11-19 22:47] aojea commented on #114006
I don't think that we should convert the e2e tests in a customizable framework for kubernetes testing,  the e2e should test kubernetes ... we have the https://github.com/kubernetes-sigs/e2e-framework for those other things

[2022-11-20 04:23] #109913 closed

[2022-11-20 06:48] sanposhiho commented on #113709
@BenTheElder Thanks for the information. Then, should we remove the deprecation notice on each set struct for now, or add some commend about the generics guidance on `sets.Set` for the Kubernetes internal contributors.

TBH, I didn't know about the [documentation](https://github.com/kubernetes/community/blob/master/sig-architecture/generics.md) about the usage of generics until you let us know. If

[2022-11-20 09:31] anggao commented on #113964
@aojea my understanding is we should tag these tests as IPv4 only, I will have a PR for it.

[2022-11-20 10:27] aojea commented on #114006
coming back to the request, and following up on the slack discussion here
https://kubernetes.slack.com/archives/C09QZ4DQB/p1668798086510869?thread_ts=1668796862.379909&cid=C09QZ4DQB

As an example, when pod security admission went GA the possibility to add labels to the namespaces was added to set the security level, otherwise tests will start to fail on CI

https://github.com/kubernetes/kubernete

[2022-11-20 10:52] aojea commented on #113964
let's fix the tests, I'd like all the test to be IP Family agnostic, added some comments on your PR, thanks

[2022-11-20 11:39] anggao commented on #113964
@aojea Thank you that's sounds great I will iterate on your suggestions

[2022-11-20 12:26] #88902 closed

[2022-11-20 14:28] #102782 closed

[2022-11-20 16:31] pohly commented on #114006
I think that is what @rackeric is trying to do.

Let's not confuse test/e2e/framework with test/e2e:
- test/e2e/framework: internal to Kubernetes, not meant to be used outside
- test/e2e: part of the release artifacts, to be used outside of Kubernetes, in particular conformance testing

This issue is about how to use test/e2e. That test/e2e/framework and tests need to be modified is an implementat

[2022-11-20 16:48] aojea commented on #114006
My understanding is different but is it worth to clarify,

AFAIk,only conformance tests are supposed to be consumed outside, and they are only a subsets of the e2e tests https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md

`test/e2e` is not part of the release and is internal and only used for developer and kubernetes testing https://github.

[2022-11-20 16:54] pohly commented on #114006
SIG Storage (okay, me with a different hat on, but it has been fully embraced by SIG Storage and Red Hat for their CSI driver testing on OpenShift) also uses the in-tree storage tests as the recommended set of tests that out-of-tree CSI drivers should pass to validate their behavior.

It is. The e2e.test binary built from it is included in release tar balls.

[2022-11-20 17:05] ialidzhikov commented on #110171
/remove-lifecycle stale

[2022-11-20 17:08] ialidzhikov commented on #109354
/remove-lifecycle rotten

[2022-11-20 17:26] aojea commented on #114006
I can't see in the release notes

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.25.md#downloads-for-v1254

it was, wasn't it?

https://github.com/kubernetes/enhancements/tree/master/keps/sig-testing/714-break-test-tarball

[2022-11-20 17:42] xmcqueen commented on #113935
It sounds like a documentation update would be appropriate here.  I think the Static Pods page would be a good place for it.  I'll get a PR going.

Thanks @dlipovetsky

[2022-11-20 22:00] rsoika commented on #70334
I also have this error during `kubeadm init`  with kubeadm v1.25 on a Debian 11 box running `containerd`.

I am absolutely at a loss how to further diagnose the error. How can I check whether the cgroups are correct or not?

[2022-11-21 01:20] endocrimes commented on #106248
/remove-lifecycle stale
/lifecycle frozen

[2022-11-21 06:44] xu1257 commented on #113643
I have same problem too. It can't be fixed by add parameter '- --feature-gates=RemoveSelfLink=false' to kube-apiserver.yaml. Because this feature gate(RemoveSelfLink) is GA. If you set this feature gate in v1.25, your kube-apiserver will crash. But i haven't solution yet, is anybody have idea ?

[2022-11-21 07:33] vpnachev commented on #111208
/remove-lifecycle rotten

[2022-11-21 08:15] s-kawamura-w664 commented on #108678
/remove-lifecycle stale

[2022-11-21 08:23] BobDu commented on #54498
/remove-lifecycle rotten

[2022-11-21 08:27] rsoika commented on #70334
@chenliu1993 sorry for my bad post. Here is the missing information:

I am running on a Debian GNU/Linux 11 (bullseye) system with kubeadm version 1.24.8-00.

I followed the official guideline on kubernetes.io. I installed `containerd` and have set `SystemdCgroup = true` under the seciton `[plugins.”io.containerd.grpc.v1.cri”.containerd.runtimes.runc.options]` in the `/etc/containerd/config.toml`.

[2022-11-21 09:04] neolit123 commented on #113995
please see https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-11-21 09:04] #113995 closed

[2022-11-21 09:05] neolit123 commented on #113977
/remove-sig node

[2022-11-21 09:05] neolit123 commented on #113977
/sig node

[2022-11-21 09:11] rohit28071992 commented on #109450
I am facing the same issue over K8 1.23.7 version. I have set shutdownGracePeriod as 60s , shutdownGracePeriodCriticalPods as 20 s. I can see that kubelet have taken inhibit locks ( Who: kubelet (UID 0/root, PID 3047081/kubelet) What: shutdown Why: Kubelet needs time to handle node shutdown Mode: delay ). When I power off my any minion node by systemctl poweroff command, the node is turned off in

[2022-11-21 09:13] rohit28071992 commented on #107158
I am facing the same issue over K8 1.23.7 version. I have set shutdownGracePeriod as 60s , shutdownGracePeriodCriticalPods as 20 s. I can see that kubelet have taken inhibit locks ( Who: kubelet (UID 0/root, PID 3047081/kubelet) What: shutdown Why: Kubelet needs time to handle node shutdown Mode: delay ). When I power off my any minion node by systemctl poweroff command, the node is turned off in

[2022-11-21 09:15] sftim commented on #113935
/remove-kind bug
/kind documentation
/sig docs

[2022-11-21 09:16] sftim commented on #113935
/remove-triage needs-information

Is this good to close? We could additionally document _why_ you can't add an ephemeral container (which is that mirror pods are essentially read-only).

[2022-11-21 09:48] Nivedita-coder commented on #113762
job is passing! :)
/close

[2022-11-21 09:49] #113762 closed

[2022-11-21 09:51] mrintern commented on #113756
I am also having trouble trying to reproduce this bug,

[2022-11-21 10:42] rata commented on #114011
To sync this issue with the slack thread: https://kubernetes.slack.com/archives/C0BP8PW9G/p1668803413275189, posting what we discussed there: this seems CRIO specific, so I'd let @giuseppe  handle it. It seems the fix was merged but not released in CRIO yet.

[2022-11-21 10:56] pparshin commented on #113756
@mrintern not yet, unfortunately. I've tried a lot of request variations but without success

[2022-11-21 11:03] rsoika opened #114034 "kubeadm 1.24 init failed on Debian 11 with connection refused"
### What happened?

I am running on a Debian GNU/Linux 11 (bullseye) system with kubeadm version 1.24.8-00.

I followed the official guideline on kubernetes.io. I installed `containerd` and have set `SystemdCgroup = true` in /etc/containerd/config.toml.

[code]

`containerd` seems to be fine:

[code]

When I run kubeadm init the system hangs:

`$ sudo kubeadm init --pod-network-cidr=10.244.0.0/16

[2022-11-21 11:32] neolit123 commented on #114034
if kubeadm cannot reach the api server likely the api server container is failing to start.

this could be due to a number of reasons.

please use the support channels for support queries
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-11-21 11:32] #114034 closed

[2022-11-21 12:16] aojea commented on #102613
/reopen
/remove-lifecycle rotten

This is important for:
- kubelet performance and failing probes because of that
- kubelet security, to remove the requirement to access any other pod in the cluster
- multi-network, as a consequence of the previous one

[2022-11-21 12:17] aojea commented on #110780
no failures 🤔
https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=TestFeatureExternalTrafficPolicy&job=pull-kubernetes-unit

[2022-11-21 12:42] pwright opened #114042 "Text contains double negative"
description of envar 'valueFrom' has text:

*Cannot* be used if value is *not* empty.

created #114041 to change to 'Only used if value..'

[2022-11-21 12:44] pwright commented on #114042
/sig docs

[2022-11-21 13:09] rsoika commented on #111195
@MickMi  how do I check the available IP on my system?
I run into the same issue and I can't figure out the root of the problem. Do you know some kind of test to verify if the IPs are fine for the kubeadm process?

[2022-11-21 13:21] liggitt commented on #113935
If the /ephemeralcontainers subresource doesn't currently reject attempts to add to a static pod, I think it should, to make it clearer the addition won't be effective

[2022-11-21 13:30] mehabhalodiya commented on #113767
Hey folks,
Any update on this failing test?

[2022-11-21 13:34] sftim commented on #113935
Does the API server actually know that mirror pods are mirror pods? I wonder how you can tell.

[2022-11-21 13:58] aojea commented on #113935
it seems it can if it wants

https://github.com/kubernetes/kubernetes/blob/25f2c6f330b5b74531702155b447890850cde76d/pkg/kubelet/pod/mirror_client.go#L90

[2022-11-21 14:09] aojea commented on #113935
@liggitt I think that is just updating this function

https://github.com/kubernetes/kubernetes/blob/57eb5d631ccd615cd161b6da36afc759af004b93/pkg/apis/core/validation/validation.go#L4682-L4707

to fail if the annotation `kubetypes.ConfigMirrorAnnotationKey` is set, right?

... and add tests, of course 😄

can you confirm?

[2022-11-21 14:10] liggitt commented on #113935
yeah, that's right

[2022-11-21 14:11] aojea commented on #113935
any taker on this one?

[2022-11-21 14:12] aojea commented on #113935
/kind bug

[2022-11-21 14:16] andrewsykim commented on #106248
I think we can just close this, we now have both node e2e and standard e2e for this feature, thanks to @ndixita!

/close

[2022-11-21 14:16] #106248 closed

[2022-11-21 14:29] fasaxc opened #114043 "OutOfpods crashloop with extended resource and maximum size deployment"
### What happened?

As part of our product we use [extended resources](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#extended-resources) to add a capacity to certain nodes for use by special pods.  I found that if I add a capacity (`22` in my particular test case) to a node and then I try to schedule a `Deployment` with exactly that number of pods, each using 1 res

[2022-11-21 14:33] fasaxc commented on #114043
/sig apps

[2022-11-21 14:37] andrewsykim commented on #113767
I spent some time digging into this on Friday but had to sign off early. I'll continue investigating today.

I found it odd that only the CRIO tests are failing after this change if all other node e2e test are polling the kubelet config. Do we know if other jobs using different container runtims are failing?

[2022-11-21 14:45] haircommander commented on #113767
I would also and am also confused about that. CRI-O isn't directly involved in this code so I wouldn't expect it to have an effect. I am wondering if the CRI-O tests are just configured differently to use localhost or something

[2022-11-21 15:01] andrewrotherham opened #114045 "Can't do a kubectl get on the TokenReview kind"
### What happened?

Hi,
I'm searching for out of date apis in my k8s cluster  but when I try to do `kubectl get TokenReview  --all-namespaces ` , it comes back with `Error from server (MethodNotAllowed): the server does not allow this method on the requested resource`

It doesn't do this with any other resource kind ..... so far

### What did you expect to happen?

I was expecting a list of differ

[2022-11-21 15:03] gnufied commented on #114011
Is there a distro/environment where this feature works out of box after enabling the alpha feature gate? If not - how are we going to e2e this thing?

[2022-11-21 15:13] andrewrotherham commented on #114045
hi sorry I don't know what /sig <group-name>means

[2022-11-21 15:14] andrewrotherham commented on #114045
sorry I've just looked at the link and I still don't get it....

[2022-11-21 15:39] cailynse commented on #113925
Hello @marosset, bug triage shadow here. I wanted to confirm this is on track for 1.26 and see if there are any related PRs open?

[2022-11-21 15:49] andrewrotherham commented on #114045
/sig security

[2022-11-21 15:55] xmcqueen commented on #113935
I'll take it, per the discussion here: add a check in `ValidatePodEphemeralContainersUpdate` to reject the attempt to add an ephemeral container if the request is aimed at a static pod.  Also include a test case.

Also some additional documantation comments from this ticket and from  kubernetes/website#37993

[2022-11-21 15:56] jsafrane commented on #63965
I added `true` to iSCSI, CephRBD and Fibre Channel, as those are based on a block device + don't have a CSI migration Beta / GA, see https://github.com/kubernetes/kubernetes/pull/113321.

[2022-11-21 16:07] FullyScaled opened #114047 "Terminating Pods will get their empty dir volumes unmounted when kubelet restarts"
### What happened?

Workloads which do not shutdown instantly on SIGTERM but start a graceful shutdown behavior to delay the shutdown of the container for some additional time will be in the Pod-Phase "Terminating" after the SIGTERM was received.

If the kubelet on a node that hosts such a "Terminating" pod is restarted (e.g. during k8s version patching) mounted emptydir volumes will be unmounted

[2022-11-21 16:13] rata commented on #114011
@gnufied I guess CRIO will work out of the box, there is just a bug fix pending.

For containerd, we expect to merge the patches for the upcoming 1.7 release at the end of this year. For e2e tests, we have already wrote some of them (merged them in kubernetes too), but as with any change that requires changes in the container runtime and the kubelet, we will be careful and making sure we feel comf

[2022-11-21 16:43] allyn-bottorff commented on #39188
This person's blog describes the issue and a workaround: https://ben-lab.github.io/kubernetes-UDP-TCP-bug-same-port/

Seems like this works fine as long as the service is created initially with both ports, it's only adding a matching port after the fact which triggers the bug. This was also my experience setting up a TCP and UDP DNS server.

[2022-11-21 16:55] atiratree commented on #80397
/reopen

[2022-11-21 17:12] opg7371 commented on #111820
We are still getting this issue in our environment.
@thockin Can we open this issue and explore it more from different angles?

@aojea we are using keepalive in between our applications but we are still getting the same issues.

Please let us know if we can provide you with any other details.

[2022-11-21 17:37] #108344 closed

[2022-11-21 17:37] liggitt commented on #113948
opened https://github.com/golang/go/issues/56884

[2022-11-21 17:54] gnufied commented on #114011
What is the CRIO bug you are referring to? Can we get a link.

I was evaluating this from call we had in sig-storage meeting. I will keep this issue open and keep an eye on it, so as we can test the various point of integration. It is very hard to provide proper input without at least basic feature working (given this feature is heavy on implementation details).

[2022-11-21 17:57] hakuna-matatah opened #114049 "Endpoints doesn't reconcile in some cases from instance that is shutting down"
### What happened?

Hi,

At the time of shutdown process of an control-plane instance,   apiserver attemps to remove it's `master Lease-object` from etcd, and it may not find the lease-object in storage  if the leases already expire by the time APIServer attempts to delete it from storage [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controlplane/reconcilers/lease.go#L123) , in s

[2022-11-21 17:58] kfox1111 commented on #22368
I attended the last contributor summit and there was a discussion about apply --prune. https://www.kubernetes.dev/events/2022/kcsna/schedule/ talk "kubectl apply/prune"

I wouldn't recommend it. Its never made it out of alpha and its sounding increasingly hard to maintain.

[2022-11-21 19:30] hakuna-matatah commented on #114049
/assign @wojtek-t @lavalamp

Thoughts ?

[2022-11-21 19:39] aojea commented on #114049
the apiserver shutdown process went through a lot of fixes in v1.25 and I remember some issues with the endpoints reconciler logic was fixed, we should check first if this issue is present in 1.25 or 1.26

[2022-11-21 20:13] rsoika commented on #114034
@neolit123  please note that I asked the question on stackoverflow as mentioned on the support page.

https://stackoverflow.com/questions/74518395/kubeadm-1-25-init-failed-on-debian-11-with-containerd-connection-refused

But the question was closed because question is [not about programming or software development](https://stackoverflow.com/help/closed-questions).

Maybe you can update the SUPPORT

[2022-11-21 20:20] rsoika opened #114050 "SUPPORT.md should be updated"
### What would you like to be added?

on the [support page](https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md) it is mentioned that questions should be posted on [stackoverflow](https://stackoverflow.com). But doing so, my question was closed immediately because it was - of course - not about programming:

https://stackoverflow.com/questions/74518395/kubeadm-1-25-init-failed-on-debia

[2022-11-21 20:21] dims commented on #114034
@rsoika looks like this got into k8s master branch:
https://github.com/kubernetes/kubernetes/pull/112026

(from issue https://github.com/kubernetes/system-validators/issues/31)

i don't see any cherry picks for 1.24 or 1.25 release branches.

[2022-11-21 20:31] hakuna-matatah commented on #114049
Thanks for your quick response.
The code links that I pointed out are from Master branch and the sections relating to issue i was specifically talking about haven't been touched since many versions. i have also checked  the commit history of the files controller.go and lease.go to see if there were any associated PR/Issues and and changelog for 1.25, seems like there hasn't been anything around th

[2022-11-21 20:39] rsoika commented on #114034
@dims thanks for your response. This is all very strange. I tried it with 1.24 and 1.25 now for 3 days. Finally I switched to [cri-o](https://cri-o.io/) and I have no more problem at all. I think there is something related with `containerd`. But nobody believes me :-/ And I am not this kind of linux pro to provide better insights.

[2022-11-21 20:40] neolit123 commented on #114034
kubeadm just interfaces with the container runtime socket via crictl and is pretty much container runtime agnostic. if you are suspecting a kubelet bug please log an issue in kubernetes/kubernetes.

also make sure this is not a cgroup driver issue where containerd is not configured properly

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/
https://kubernetes.io/

[2022-11-21 20:43] rsoika commented on #114034
@neolit123 yes sure - it makes no sense to discuss it here. I think I read all available documentation the last days.

[2022-11-21 20:45] aojea commented on #114034
but the erros on the issue points to a problem with the apiserver, not with the kubelet, the the pod for the apiserver coming up? what are the logs of the apiserver pod?

[2022-11-21 21:10] klueska commented on #112899
I am happy to take a look at this from a sig-node perspective and have assigned myself to https://github.com/kubernetes/utils/pull/267

I will begin looking at it more seriously once this is merged: https://github.com/kubernetes/utils/pull/267

[2022-11-21 21:11] nilekhc commented on #113631
Hi @cailynse, I opened https://github.com/kubernetes/website/pull/38003 to address this.

[2022-11-21 22:28] aojea commented on #114049
Yeah, let me explain myself better, the apiserver shutdown had some issues that may be related, not to the exact problem that you are pointing out but maybe to the root cause of why that happens, per example:

https://github.com/kubernetes/kubernetes/pull/108033
https://github.com/kubernetes/kubernetes/pull/110026/
https://github.com/kubernetes/kubernetes/commit/33dca56ba8226b287bc6aeb4a6f6e90675c

[2022-11-22 02:42] Random-Liu commented on #112044
Sorry, those are not suggestions. :) That example is mostly to show hard instraightforward it is to use qps and burst to achieve this.

A node level parallelism limit is much better.

[2022-11-22 02:49] aimuz commented on #80289
This work can not be continued, 1.26 has been frozen

https://groups.google.com/a/kubernetes.io/g/dev/c/duqQ2TM8jII/m/7RwKXq2YAwAJ

[2022-11-22 05:05] vaibhav2107 commented on #114050
/kind documentation

[2022-11-22 05:20] chaudharisuresh997 commented on #107243
where to find this directory

[2022-11-22 05:28] liuyingshanx commented on #107243
In the host machine where your pod is running. You may find container log files under /var/log/containers/*

[2022-11-22 05:40] RGB314 commented on #112645
I added these values for `JVM_OPTS` in a shell script and used it to invoke the JAR. Then invoked the script from the k8s YAML `args`.

[2022-11-22 05:49] bragi92 opened #114057 "Impossibly high cpu usage value from kubelet embedded cadvisor (k8s 1.23.12)"
### What happened?

I am querying kubelet embedded cadvisor /stats/summary endpoint to get summary metrics and am seeing impossibly high values for the cpu usage metric for containers

Sample value:
[code]

It looks like there might be some uninitialized memory value or something that's getting set in the usage variable?
The node only has 2 cores available so this value for a sample container is i

[2022-11-22 05:59] vaibhav2107 commented on #114057
/sig node

[2022-11-22 06:22] raja444 opened #114058 "ExternalTrafficPolicy: Local does not work for NodePort Services"
### What happened?

NodePort Services with externalTrafficPolicy: Local.
While give curl request to ip:port <xx.xx.xx.xx:8080> from vm machine,
In the pod able to receive the logs, but in the log clientIp is showing as "172.17.1.1"

Actual external clientip is not showing.

### What did you expect to happen?

while we use externalTrafficPolicy as Local, it should Preserve the Client IP.
it should

[2022-11-22 06:25] raja444 commented on #114058
Please help me on this?
any configuration need to add?  where the problem is ?

[2022-11-22 06:54] heartlock commented on #113987
ping @liggitt

[2022-11-22 07:06] msrb commented on #22368
@kfox1111 Thanks for sharing the information!

Here's a link to the google doc from the session: https://docs.google.com/document/d/1y747qL3GYMDDYHR8SqJ-6iWjQEdCJwK_n0z_KHcwa3I/edit#

I have to say that I've never noticed any issues with `apply --prune`, but that's probably because my use cases were usually quite straight-forward: just deploy an app in a single namespace and then update it.

[2022-11-22 07:47] pacoxu commented on #114034
This is not related. The fix only fix a warning message which will not make apiserver or kubelet crash.
I opened cherry-picks as this is just a bugfix in https://github.com/kubernetes/kubernetes/pull/114059 and https://github.com/kubernetes/kubernetes/pull/114060.

Apiserver pod maybe not running due to kubelet bad configuration;
- more kubelet log or containerd log; or apiserver pod/contianer log

[2022-11-22 08:23] zzzkl commented on #112185
We also meet this bug. kube-proxy print:
`E1122 08:17:13.611191       1 proxier.go:1119] "Failed to list all node IPs from host" err="error listing LOCAL type addresses from host, error: Could not get addresses: route ip+net: no such network interface"`

Then the nodeport of service on this node will disappear for about 2s. We only meet this issue on bear metal cluster.  The nodes in this cluster

[2022-11-22 08:57] AbelHu commented on #110630
It is fixed in v1.23.13+, v1.24.7+ and 1.25.0+

[2022-11-22 09:04] bart0sh commented on #113867
/assign @Saza-ku

[2022-11-22 09:05] bart0sh commented on #113867
sure, assigned

[2022-11-22 09:35] rsoika commented on #114034
Sorry but I can't provide more information at the moment. I agree with you that it seems to be a `containerd` issue. Maybe the preflight-check can be improved in some way to detect this issue. But I do not know the insights like you.

My hope is that you have some test environment where you can test a `kubeadm init` process on debian11 in combination with `containerd`. It also seems that I am not

[2022-11-22 09:41] aojea commented on #112768
There is no prescription on how people can deploy load balancers or what type in front of apiservers, I don't understand your request, or is that you want to embed the loadbalancer logic in the apiserver code?

[2022-11-22 09:52] T-Lakshmi commented on #114058
/sig network

[2022-11-22 10:21] aojea commented on #114058
externalTrafficPolicy applies to loadbalancers only , no?

https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip

@danwinship for confirmation

[2022-11-22 10:23] rsoika commented on #114034
Yes, I tried the last 3 days nearly everything. I think I stared from scratch with blank debian 11 boxes more than a dozen times. I used private networks as also public. I check firewall rules. But always the same timeout problem.

I believe you that it has to do with the cgroup setup.  But I was not able to verify if my cgroup driver was configured properly as I did not found a guide how to check

[2022-11-22 10:27] uablrek commented on #112185
@zzzkl As opposed to the problem described in this issue, your proble seem to be caused by the [golang bug](https://github.com/golang/go/issues/51934) mentioned earlier.

[2022-11-22 10:36] zzzkl commented on #112185
@uablrek So the only solution is what you post in the go issue?

[2022-11-22 11:54] neolit123 commented on #114034
our container runtime k8s.io page has a guide how to set the cgroup driver for containerd to "systemd", which is what kubeadm tells the kubelet to use. the container runtime and kubelet drivers must match and kubeadm has no prefligh check for it, due to complications in managing configuration formats for various container runtimes on different OSes.

[2022-11-22 12:27] rsoika commented on #114034
@neolit123 , yes I know that the k8s.io page has that guide. I obviously wasn't able to follow this guide properly. Then let's leave it at that. I switched to cri-o.  Don't waist your time any more. Thanks for your help.

[2022-11-22 12:31] kundan2707 commented on #114050
@rsoika its not like that you can only ask question on stackoverflow. you can ask question of other appropriate place like slack kubernetes forum too.

[2022-11-22 12:32] kundan2707 commented on #114050
detail available on SUPPORT.md looks OK to me

[2022-11-22 13:22] tavin commented on #86352
/reopen

[2022-11-22 13:26] tavin commented on #86352
Please note a [PR](https://github.com/kubernetes/kubernetes/pull/87863) was opened more than 2.5 years ago solving this issue, since closed by Mr. Fejta Bot. What was the problem with getting the PR approved?

[2022-11-22 13:34] cyclinder commented on #114058
If I remember correctly, _externalTrafficPolicy_ applies to the NodePort and LoadBalancer services.

[2022-11-22 13:56] hakuna-matatah commented on #114049
Thank you for the detailed information.

Yes,  we are using the defaults that  triggered this issue that I was talking about i.e; `pre-shutdown` hook triggered and failed to find the lease object in etcd. I understand logically based on the code that we will have 5seconds of lease lifetime in worst case like you are saying but somehow based on error logs  `StorageError: key not found, Code: 1, Key

[2022-11-22 14:07] neolit123 commented on #114050
/sig docs contribex

[2022-11-22 14:09] neolit123 commented on #114050
/sig contributor-experience

[2022-11-22 14:09] stlaz commented on #108807
/remove-lifecycle stale
I need to finish a few other things and I can start on this

[2022-11-22 14:09] rsoika commented on #114050
@kundan2707 I know that I can ask questions also on slack. But the problem is that on SUPPORT.md is a link pointing to stackoverflow.com which is wrong.
It should point either to  https://unix.stackexchange.com/ or https://serverfault.com/

[2022-11-22 14:14] kavita1205 opened #114069 "Only Metadata level audit logging is required for Kubernetes"
### What happened?

Hi Team,

I am trying to get k8 audit logs only for level "Metadata" but I am logs for level "Request" and "RequestResponse". I tried multiple combinations to achieve the same but no luck. Also, followed K8 audit documentation but seems it's not helpful. Although they have mentioned to pull only metadata level logs but in my case it is pulling other level logs too

I am using b

[2022-11-22 14:38] Mskxn opened #114070 "Goroutine leak in EtcdMigrateServer"
### What happened?
It's at [migrate_server.go](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/migrate/migrate_server.go) line 111

When the server stopped before timeout, the first goroutine will be block on  `timeout <- true` because the receiver in the second goroutine is not exist.
Changing `timeout` to a buffered one may fix it. #114071
[code]

### What did you expect

[2022-11-22 14:40] alculquicondor commented on #113763
kube-scheduler also needs this to reliably schedule pods. Currently, it is possible that we start scheduling before adding all nodes or pods into the scheduler cache/snapshot. That can lead to pods scheduled into non-optimal nodes in the best case, or oversubscribe nodes in the worst case.

[2022-11-22 14:45] christophergertz commented on #99126
/remove-lifecycle rotten

[2022-11-22 14:48] #110763 closed

[2022-11-22 14:53] liggitt commented on #113987
/sig storage

[2022-11-22 15:41] eahydra commented on #113763
The size of our internal cluster is very large and we encountered this kind of problem. In order to solve this problem, some of our internal components list all the data and do some initialization logic after the Informer synchronization is completed.
Some scheduling plugins need to maintain some state by themselves to achieve some efficient scheduling capabilities, and some complex plugins requir

[2022-11-22 15:51] alculquicondor commented on #108887
/close

[2022-11-22 15:51] #108887 closed

[2022-11-22 16:15] rata commented on #114011
Lets unify the conversation here or in slack (I say let's do it on slack), but having it duplicated creates these issues :)

@gnufied this issue @giuseppe mentioned you on slack: https://kubernetes.slack.com/archives/C0BP8PW9G/p1668803514789069?thread_ts=1668803413.275189&cid=C0BP8PW9G

[2022-11-22 16:18] andrewsykim commented on #85643
cc @ionutbalutoiu re: https://github.com/kubernetes/kubernetes/pull/114052

[2022-11-22 16:38] dobsonj commented on #111933
/remove-lifecycle stale

[2022-11-22 16:40] jilleJr opened #114073 "Prometheus fails to proxy /metrics or /metrics/cadvisor in v1.24.8"
### What happened?

Updated to Kubernetes v1.24.8, and Prometheus was no longer able to collect metrics from one of the control-plane nodes.

Our Prometheus config asking `kubernetes.default.svc:443` with URL path `/api/v1/nodes/${1}/proxy/metrics`, where `${1}` is replaced by each of the node names.

It is able to read metrics via this proxying from all of the nodes, except for the node its talki

[2022-11-22 16:52] sgreene570 commented on #90973
/remove-lifecycle rotten

Hey @jconway I see that this issue has sat dormant for some time, but I was wondering if you had any advice for mitigating this issue specifically when running postgresql on kubernetes? Sounds like `export PG_OOM_ADJUST_FILE=/proc/self/oom_score_adj` is really the only advisable thing to do?

Have any recent changes in postgresql changed any of the behavior described in t

[2022-11-22 17:55] robscott commented on #113961
/cc

[2022-11-22 17:56] devansh-m12 commented on #113627
is it still open ?

[2022-11-22 17:57] robscott commented on #113961
@lavalamp from networking perspective, we're very interested in getting generation on Service. If we made a PR to add that would it be welcome?

[2022-11-22 17:58] bowei commented on #113961
yup -- this is pretty unintuitive...

[2022-11-22 19:42] jconway commented on #90973
Not much has changed with kubernetes that I am aware of. I stand by my primary recommendation, namely:
`Provide a Kubernetes mechanism to allow certain pods (maybe with RBAC controls on which ones) to override the oom_score_adj values which are currently set based on QoS heuristics. This would allow PostgreSQL pods to actively set oom_score_adj to the recommended values, and would make use of Burs

[2022-11-22 20:00] junjunjunk commented on #111791
/remove-lifecycle stale

[2022-11-22 20:05] matthyx commented on #105988
/reopen
Ok, let's not forget this...

[2022-11-22 20:22] #113532 closed

[2022-11-22 20:30] liggitt commented on #114045
/remove-kind bug

TokenReview create requests are not persisted, they are answered with ephemeral responses. This means the token review API does not support read requests (get, list, watch, etc) or update/delete/patch requests, only create.

[2022-11-22 20:30] #114045 closed

[2022-11-22 20:46] liggitt commented on #113948
https://github.com/golang/go/issues/56884 resolved for go1.20 with a revert

[2022-11-22 20:46] #113948 closed

[2022-11-22 21:00] ahg-g opened #114075 "Optimize volumebinding by moving PV list calls to PreFilter"
### What would you like to be added?

The call to list all PVs that belong to a storage class is expensive to do per node at scale. This can be moved to PreFilter and so done once for all nodes.

https://github.com/kubernetes/kubernetes/blob/57eb5d631ccd615cd161b6da36afc759af004b93/pkg/scheduler/framework/plugins/volumebinding/binder.go#L828

### Why is this needed?

Optimize performance.

@cofyc

[2022-11-22 21:01] ahg-g commented on #114075
/sig storage
/sig scheduling

[2022-11-22 21:09] msau42 commented on #114075
/triage accepted

[2022-11-22 22:32] jhonDoe15 commented on #83111
@philomory  Could you expand on the issue you're displaying?

[2022-11-23 00:42] #113945 closed

[2022-11-23 00:48] #110789 closed

[2022-11-23 01:04] marianafranco commented on #104583
In case it helps others, we have implemented an admission webhook controller to allow multiple disruptions only if the pods being disrupted are in the same zone. The code was based on the PDB one: https://github.com/aws/zone-aware-controllers-for-k8s

[2022-11-23 01:11] marianafranco commented on #114010
In case it helps., here is one example from AWS: https://github.com/aws/zone-aware-controllers-for-k8s

More details on why the ZoneDisruptionBudgets (ZDB) controller was created can be found the following blog post: https://aws.amazon.com/blogs/opensource/speed-up-highly-available-deployments-on-kubernetes/

[2022-11-23 03:11] kidddddddddddddddddddddd commented on #114075
I can try to help with this one. But feel free to reassign to someone else.
/assign

[2022-11-23 03:41] aimuz commented on #114073
/sig node

Can you try it like this?

[code]

[2022-11-23 03:43] vaibhav2107 commented on #114070
/sig api-machinery

[2022-11-23 03:45] vaibhav2107 commented on #112020
/remove-lifecycle stale

[2022-11-23 03:46] vaibhav2107 commented on #111849
/remove-lifecycle stale

[2022-11-23 03:52] khteh commented on #34549
Still happen!

[2022-11-23 03:52] vaibhav2107 commented on #111666
/remove-lifecycle stale

[2022-11-23 03:57] vaibhav2107 commented on #110139
/remove-lifecycle stale

[2022-11-23 03:59] vaibhav2107 commented on #110018
/remove-lifecycle stale

[2022-11-23 04:00] vaibhav2107 commented on #109936
/remove-lifecycle stale

[2022-11-23 04:02] vaibhav2107 commented on #109917
/remove-lifecycle stale

[2022-11-23 04:02] vaibhav2107 commented on #109839
/remove-lifecycle stale

[2022-11-23 05:28] dan-tw commented on #90438
`challenge` and `challenge-name` in the solution provided by @hielfx are just the resource and resource name.

E.g.
[code]

[2022-11-23 05:53] raja444 commented on #114058
@cyclinder @aojea Now able get the clientIp as I followed the same steps which is mentioned in that link.
Thanks.

NodePort should be in this range 30000-32768.
is there any way i can use 8099 port ?? any alternative way is there?
could you please suggest?

[2022-11-23 05:55] Ritikaa96 commented on #113401
/area apiserver

[2022-11-23 05:56] Ritikaa96 commented on #112780
/area apiserver
/sig auth

[2022-11-23 06:02] Ritikaa96 commented on #114042
Reference file to be changed as per given issue: https://github.com/kubernetes/kubernetes/blob/21916415cb33e93a6ffa7f3166f9468ffaeba731/staging/src/k8s.io/api/core/v1/types.go#L2029

[2022-11-23 06:06] Ritikaa96 commented on #114042
/kind bug

[2022-11-23 07:08] T-Lakshmi commented on #114058
/kind support

[2022-11-23 07:24] kerthcet commented on #103853
/remove-lifecycle stale

[2022-11-23 07:55] kerthcet commented on #103853
Updates:
After https://github.com/kubernetes/kubernetes/pull/112025, https://github.com/kubernetes/kubernetes/pull/112103 merged, I think we unified the calls in `scheduleOne()`. But we may have some other refactor works, e.g. currently, we pass error and reason to `handleSchedulingFailure`, this is a little ugly. Maybe we can directly pass-in status, for reason is always deduced by the status.

[2022-11-23 07:56] kerthcet commented on #103853
@kidddddddddddddddddddddd would you like to take a look?

[2022-11-23 07:58] #111427 closed

[2022-11-23 08:14] jilleJr commented on #114073
@aimuz Sure! Same results:

[code]

[2022-11-23 08:15] aimuz commented on #114073
Does your api certificate contain this address?

[2022-11-23 08:19] kidddddddddddddddddddddd commented on #114075
I'm currently thinking of the following implementation:

1. Add a map in stateData to save the result of ListPVs
[code]
2. In `PreFilter`, call to list all PVs and save the result
[code]
3. In `Filter`, pass the result to `pl.Binder.FindPodVolumes`
[code]

To pass the result of list all PVs from the binder to the plugin, We can

- Add a return parameter for `GetPodVolumes` since it is called in `P

[2022-11-23 08:20] jilleJr commented on #114073
@aimuz Yes. Both the IP's and the hostnames

[code]

[2022-11-23 08:35] aimuz commented on #114073
Can I execute the following command?

[code]

Execute on host A B C separately
[code]

Execute on host A B C separately
[code]

[2022-11-23 08:49] aojea commented on #114073
https://github.com/kubernetes/kubernetes/issues/113757

[2022-11-23 08:53] aojea commented on #114073
then it is working as expected, meanwhile the hostname doesn't resolve to a global ip it will fail

[2022-11-23 09:02] aimuz commented on #114075
Can I use Informer?

[2022-11-23 09:09] adilGhaffarDev commented on #113250
Tested it and have been able to reproduce the issue. Created a simple udp server deployment with udp service attached to it. In UDP service externalTrafficPolicy is set to local. There are 2 replicas of the deployment  in different nodes, to reproduce the scenerio I added label on node and also added nodeSelector with this label in the deployment yaml, both replicas moved to one node and UNREPLIED

[2022-11-23 09:09] giuseppe commented on #114011
this is the issue, that is already fixed in containers/storage, and only needs to be vendored in CRI-O: https://github.com/containers/storage/issues/1308

[2022-11-23 09:16] kidddddddddddddddddddddd commented on #103853
Sure, and BTW is this status `scheduler.framework.Status` ?

[2022-11-23 09:18] aojea commented on #113250
but those unreplied entries eventually will timeout and disappear, the point is that with `externalTrafficPolicy` the node that has no endpoint should not receive traffic

Because there may be some edge cases I may be missing , if you are able to reproduce the bug with an e2e test (the bug is traffic should be blackholed not that conntrack entries take time to be deleted) we have all the related t

[2022-11-23 09:27] aojea commented on #114058
@cyclinder is right

@raja444 you may use the container `HostPort` https://alesnosek.com/blog/2017/02/14/accessing-kubernetes-pods-from-outside-of-the-cluster/

I'm going to close it since github issues are for bugs or problems with the code, for more support questions is better to use other channels like discourse, slack, stackoverflow, ...

/close

[2022-11-23 09:27] #114058 closed

[2022-11-23 09:28] aojea commented on #34549
in 1.26?

[2022-11-23 09:30] jilleJr commented on #114073
@aimuz Here you go:

[code]

But do you have any ideas on getting around this?

We're using the following Prometheus config, which relies on proxying to obtain metrics from the different nodes:

[code]

I did not create the above scrape config, so I don't know the origin of it, but I am finding something similar at https://www.cloudforecast.io/blog/cadvisor-and-kubernetes-monitoring-guide/

Howeve

[2022-11-23 09:36] jilleJr commented on #114073
Yep confirmed, changing the /metrics/cadvisor scraper to this worked:

[code]

I also had to add `nodes/metrics` permission to Prometheus' ClusterRole, as it got 401 error otherwise:

[code]

Sorry for the trouble, and thanks for the help in debugging this!

Kind regards,

[2022-11-23 09:36] #114073 closed

[2022-11-23 10:19] kerthcet commented on #103853
Yes

[2022-11-23 10:23] wojtek-t commented on #13969
In 2015 I thought it's not ridiculous. I'm not sure I believe in it now.

Moreover, with https://github.com/kubernetes/enhancements/pull/3142 we will actually be taking benefits of semantic like this, so we should close this.

[2022-11-23 10:23] #13969 closed

[2022-11-23 10:45] wojtek-t commented on #109106
The fix was cherrypicked to 1.23 in https://github.com/kubernetes/kubernetes/pull/109216

So we can close it now - it's fixed.

[2022-11-23 10:45] #109106 closed

[2022-11-23 10:57] Ark-kun commented on #7890
This issue has the [priority/awaiting-more-evidence](https://github.com/kubernetes/kubernetes/labels/priority%2Fawaiting-more-evidence) label.
7 years and 236 thumb-ups later, do we have enough evidence?

[2022-11-23 11:14] tungngreen opened #114081 "[BUG] Cannot operate Kubelet, possibly because of installation failure"
### What happened?

Hi,

I am facing a weird problem of not being able to run Kubelet on an Ubuntu 20.04 node. The story, of course, began with the installation

`sudo apt install kubelet=1.21.0-00 kubeadm=1.21.0-00 kubectl=1.21.0-00`
where everything seemed to go perfectly fine.

`Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were

[2022-11-23 11:27] davidkarlsen commented on #7890
:-) I think that is enough evidence - but by now the right architecture for this is a separate [CSI-driver](https://kubernetes-csi.github.io/docs/drivers.html) - so probably does not belong in this repo.

[2022-11-23 11:42] tosi3k commented on #110146
/assign

[2022-11-23 12:20] vaibhav2107 commented on #114081
/sig node

[2022-11-23 12:21] stingshen opened #114083 "Field apiVersion is missing from events reported from taint manager"
### What happened?

Events from node taint manager doesn't report involved object apiVersion:

![image](https://user-images.githubusercontent.com/6214067/203544886-75ce77dc-d6dd-46f6-8a71-012ac8fbdde6.png)

### What did you expect to happen?

apiVersion is reported as other events. For example:

![image](https://user-images.githubusercontent.com/6214067/203545729-ab9b1685-cedb-452d-a25b-8245dce108

[2022-11-23 12:23] stingshen commented on #114083
/sig node
/sig apps

[2022-11-23 12:35] stingshen commented on #101674
In a cluster that has less than `large-cluster-size-threshold` nodes, the node eviction rate would be set to 0 if more than `unhealthy-zone-threshold` nodes are NotReady.

`large-cluster-size-threshold` and `unhealthy-zone-threshold` are controller manager parameters.

[2022-11-23 12:38] xuzhenglun commented on #113242
@SergeyKanzhelev

should I provide more information? or do we need other people to take a look this issue?

[2022-11-23 13:18] neolit123 commented on #114069
/sig instrumentation

[2022-11-23 13:20] neolit123 commented on #114049
/sig ap-imachinery

[2022-11-23 13:20] neolit123 commented on #114049
/sig api-machinery

[2022-11-23 14:16] TommyStarK commented on #114083
Would it be acceptable to add a field `ApiVersion` [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/types/namespacedname.go#L27-L39) and update all affected files accordingly ?

Introducing this new attribute like below

[code]

This way it would be available as input for the workers in the taint manager

[code]

If yes may I give it a try ?

[2022-11-23 14:16] julienlau commented on #17512
Updated version of this shell function

[code]
![image](https://user-images.githubusercontent.com/6950247/203569001-1d44c7e2-284c-4fe2-bb6f-d83f6f79bd6a.png)

[2022-11-23 14:18] liggitt commented on #112780
I don't know enough about the calico lifecycle to know what to suggest... if the suggestion at https://github.com/kubernetes/kubernetes/issues/112780#issuecomment-1298570075 doesn't work, then I'd recommend reaching out to the calico repo for help.

/remove-sig auth
/close

[2022-11-23 14:18] #112780 closed

[2022-11-23 14:26] luozhiwenn commented on #110302
mm, the issue seems to have been fixed by [#106497](https://github.com/kubernetes/kubernetes/pull/106497)
sorry~I'll take some time to reconfirm

[2022-11-23 14:34] aojea commented on #110302
/close

thanks for letting us know, can you close the PR too?

[2022-11-23 14:34] #110302 closed

[2022-11-23 16:21] aasyria commented on #113624
Sorry for guys, i don't have access anymore for the project, but i asked the team to give me the information .
i will write here asp

[2022-11-23 17:00] ceich opened #114087 "Changelog for v1.23.14 says 1.23.13 has the fix"
### What happened?

The [Important Security Information](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#important-security-information) section of the Changelog for 1.23.14 (and sibling bugfix releases) says that 1.23.13 both has the vuln and also has the fix.

### What did you expect to happen?

The Fix version should be 1.23.14 in the above and sibling changelog

[2022-11-23 17:19] ruiwen-zhao commented on #107911
The containerd support https://github.com/containerd/containerd/pull/6517 is done and k/k now has e2e tests using the containerd support. Closing.

/close

[2022-11-23 17:19] #107911 closed

[2022-11-23 18:46] Rajalakshmi-Girish opened #114089 "[Failing Test] Thumbprint related connection_tests in vclib vsphere provider fails with golang master"
### Which jobs are failing?

https://prow.ppc64le-cloud.org/job-history/s3/ppc64le-prow-logs/logs/postsubmit-master-golang-kubernetes-unit-test-ppc64le

### Which tests are failing?

Below tests in vendor/k8s.io/legacy-cloud-providers/vsphere/vclib:
[code]

### Since when has it been failing?

After the merge of change https://go-review.googlesource.com/c/go/+/449336
From Commit `f64c2a2ce5`

###

[2022-11-23 18:55] ceich commented on #114087
/sig docs

[2022-11-23 19:01] alculquicondor opened #114090 "Make ClusterQueue.spec.queuingStrategy inmutable"
### What would you like to be added?

Make the field immutable in the webhook.

### Why is this needed?

The current implementation doesn't support changing the strategy. Since requeing everything might be costly, it's better to explicitly require the user to recreate the ClusterQueue if that's the desired behavior.

[2022-11-23 19:02] alculquicondor commented on #114090
/close
wrong repo :(

[2022-11-23 19:02] #114090 closed

[2022-11-23 19:07] ialidzhikov commented on #114087
cc @xmudrii

[2022-11-23 20:58] sgreene570 commented on #81723
This issue is exacerbated by the fact that individual container status' may be updated across pod restarts.

This issue seems orthogonally related to https://github.com/kubernetes/kubernetes/issues/67126.

Would it be possible for someone to tag this as "needs-triage"?

[2022-11-23 21:03] ahg-g commented on #114075
It makes sense. Returning the map as part of GetPodVolumes sounds good to me.

[2022-11-23 21:27] geotransformer opened #114091 "calico-node failing with Kubernetes 1.25.2"
### What happened?

cloud-user@mst:~$ kubectl get nodes
NAME                  STATUS   ROLES           AGE   VERSION
mast  Ready    control-plane   25h   v1.25.4

cloud-user@mst:~$ kubectl get pods -A
NAMESPACE           NAME                                                          READY   STATUS              RESTARTS   AGE
kube-system         calico-kube-controllers-77d5cbb58-fljln

[2022-11-23 21:37] aojea commented on #114091
this seems like you are missing some Calico component like a CRD or something similar, better report it in their repo https://github.com/projectcalico/calico

[2022-11-23 21:38] aojea commented on #114091
/remove-kind bug
/kind support

@caseydavenport may guide you better

[2022-11-23 23:34] aojea commented on #114049
🤔  the others apiserver will recycle the endpoints too, and 5 seconds to expire the lease meanwhile you clean the endpoints sounds too much... I don't know I don't like the idea of having an apiserver with network problems rewriting the endpoints...

Maybe I'm very cautious with these things, I would not be in favor of doing changes like this without a test reproducing the problem or showing the i

[2022-11-24 00:25] #113770 closed

[2022-11-24 02:19] aimuz commented on #114083
/assign

[2022-11-24 02:35] luozhiwenn commented on #110302
closed

[2022-11-24 03:23] pacoxu commented on #114087
For v1.23.14, the title is `Changelog since v1.23.13`. This seems to be valid.

`Changelog since v1.23.13` means `change log for v1.23.14 that is after v1.23.13 was released.`

[2022-11-24 04:04] geotransformer commented on #114091
thanks @aojea

https://github.com/projectcalico/calico/issues/6990

[2022-11-24 04:37] hakuna-matatah commented on #114049
To add to my above comment,

Actually apiserver doesn't shutdown gracefully today i.e; endpoint doesn't remove  itself from the k8s service since this [PR](https://github.com/kubernetes/kubernetes/pull/113686/files) got merged (i.e; IIUC since 1.23)  until another instance reconciler resets the endpoint objects, so the impact of `connection refused` for clients that I mentioned in the overview wou

[2022-11-24 04:49] ceich commented on #114087
You're looking at the wrong text. Follow the link and see .13 in both lists:

### Affected Versions:

kube-apiserver v1.25.0 - v1.25.3
kube-apiserver v1.24.0 - v1.24.7
kube-apiserver v1.23.0 - v1.23.**13**
kube-apiserver v1.22.0 - v1.22.15
kube-apiserver <= v1.21.?

### Fixed Versions:

kube-apiserver v1.25.4
kube-apiserver v1.24.8
kube-apiserver v1.23.**13**
kube-apiserver v1.22.16
[code]

[2022-11-24 05:01] pacoxu commented on #114087
Got it. Thanks for pointing out the location.

[2022-11-24 05:08] pacoxu commented on #114087
I opened https://github.com/kubernetes/kubernetes/pull/114096 to fix it.

[2022-11-24 05:59] mfordjody commented on #114091
You can use this command to solve
[code]

[2022-11-24 08:05] null-sleep commented on #114010
@marianafranco Thanks for sharing the links. Reading your blog post, your motivations and solution are quite similar to our use cases at Shopify.

[2022-11-24 08:09] khteh commented on #34549
Due to them being annotated as `default`. There can only be ONE default `sc`.

[2022-11-24 08:30] xmudrii commented on #114087
/reopen
@pacoxu Can you please cherry-pick #114096 to the release branches (1.25-1.22)?

[2022-11-24 08:36] tossmilestone opened #114100 "The default stabilizationWindowSeconds of scaling down in HPA is not explicit"
### What happened?

If the `stabilizationWindowSeconds` of scaling down in HPA is `nil`, the hpa controller will use `300` as the default value, and won't change the value to `300` in the object.

This is not explict for what the stabilizationWindowSeconds is on querying the resource, and will make some confusion.

### What did you expect to happen?

The `stabilizationWindowSeconds` of scaling dow

[2022-11-24 08:37] sanmai-NL commented on #84210
@liggitt I think there's a disconnect between your logic and what a community member/@redbaron expects.
The issue was [accepted as important](https://github.com/kubernetes/kubernetes/issues/84210#issuecomment-867658962) by the maintainer team. So I'd expect them to pick this backlog issue up, not say it's important and then wait for the community to plan and do the work. Moreover, the community me

[2022-11-24 08:39] tossmilestone commented on #114100
/sig autoscaling

[2022-11-24 08:55] ruquanzhao commented on #113438
Hi, @liggitt
Hoping to get your advice on PRs: #114063 and #114065

[2022-11-24 08:58] pacoxu commented on #114087
Of course. Done
- https://github.com/kubernetes/kubernetes/pull/114102
- https://github.com/kubernetes/kubernetes/pull/114103
- https://github.com/kubernetes/kubernetes/pull/114104
- https://github.com/kubernetes/kubernetes/pull/114101

[2022-11-24 09:07] aojea commented on #114049
even though actual lease-object doesn't expire and exist in etcd i.e; /registry/masterleases/172.18.100.37 and ends up failing the apiserver to remove it's endpoint from k8s service before terminating.

This is a serious bug

The fact that a serious bug like that can go unnoticed reinforces my position against ignoring errors

https://github.com/kubernetes/kubernetes/issues/114049#issuecomment-132

[2022-11-24 09:10] #102361 closed

[2022-11-24 10:31] wojtek-t commented on #114049
Thanks @aojea for effectively debugging this case. Yes - it's exactly this PR that broke that.
@tallclair @lavalamp @liggitt - FYI

To explain exactly what is happening:
- for creating/updating the masterlease we're using they key computed here:
 https://github.com/kubernetes/kubernetes/blob/master/pkg/controlplane/reconcilers/lease.go#L96
- but for deletion we're using https://github.com/kubernet

[2022-11-24 10:31] wojtek-t commented on #114049
/kind regression

@liggitt @lavalamp @tallclair - FYI ^^

[2022-11-24 10:42] pohly commented on #111944
/remove-lifecycle stale
/triage accepted
/assign

[2022-11-24 10:57] andrewrotherham commented on #114045
I can see something called tokenreviews but I can't do a -oyaml or describe on it

[2022-11-24 11:08] Nivedita-coder commented on #113767
job is passing. Thanks, folks!🙌
/close

[2022-11-24 11:08] #113767 closed

[2022-11-24 11:19] luozhiwenn commented on #113081
Steps to reproduce this issue:
1. run kube-controller-manager with flag `--node-monitor-grace-period=40s --node-monitor-period=5s`
2. run kubelet with `nodeStatusReportFrequency: 5m`, not specified `nodeStatusUpdateFrequency`(Default: "10s")
3. use `kubectl get node {nodeName} -w` to watch a node
4. change the cluster time to 10 minutes ago

After about `node-monitor-grace-period`, you will see th

[2022-11-24 11:22] xmudrii commented on #114087
Cherry-picks are done, thanks a lot @pacoxu!
/close

[2022-11-24 11:22] #114087 closed

[2022-11-24 11:38] Amrutayan commented on #108453
Hello @neolit123  Do kubeadm has a solution on how the cluster can be setup so that it can handle dynamic change I.P address of Master or Worker nodes? As i understand from the thread we can only address for worker nodes but it doesn't supports I.P change of Master nodes.

[2022-11-24 11:40] yogeek opened #114111 "Annnotation updates on LoadBalancer service are not propagated to corresponding AWS LoadBalancer listener"
### What happened?

I have 1 "type=loadbalancer" service with the following annotations
[code]

I want to set the ALPN policy, so I add the following annotation :
[code]

But no change is propagated to the AWS LoadBalancer listener

(same goes with a tag modification)

### What did you expect to happen?

Updating service annotation should update the AWS LoadBalancer

### How can we reproduce it (a

[2022-11-24 11:42] yogeek commented on #114111
/sig cloud-provider

[2022-11-24 11:44] neolit123 commented on #108453
not being able to handle dynamic IP changes is a wider k8s problem, so not only a kubeadm one.
to avoid the situation from the start one can use a DNS name for the workers to connect to the api server(s) - e.g. a load balancer DNS name.

this comment has more info:
https://github.com/kubernetes/kubernetes/issues/108453#issuecomment-1057088726

[2022-11-24 11:46] kavita1205 commented on #114069
@neolit123 can you help me here.

[2022-11-24 12:22] inianv opened #114113 "Deleting DaemonSet with GracePeriodSeconds with DeletePropagationBackground is not honoured by the pods"
### What happened?

I am encountering a scenario, where I'm deleting a DaemonSet with the following delete options set. The propagation policy, grace period seconds are defined at as part of [DeleteOptions](https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1#DeleteOptions) struct.

[code]

The daemonset deletion was successful, but none of the pods were inheriting the `GracePeriodSeconds` of 3

[2022-11-24 12:24] inianv commented on #114113
/sig api-machinery

[2022-11-24 12:34] aojea commented on #114049
actually all the credit must go to @hakuna-matatah , great report and he was the one identifying the PR and the double slash problem

[2022-11-24 13:12] #110806 closed

[2022-11-24 13:23] fromanirh commented on #109595
A *possible* workaround, to be evaluated, _could be_ to remove the device manager state file at node boot time, and only at node boot time. We need to keep the state file across kubelet (but not node) reboots.

[2022-11-24 13:40] jsafrane opened #114115 "OwnerReferencesPermissionEnforcement admission blocks PVC autodeletion from StatefulSet"
### What happened?

When OwnerReferencesPermissionEnforcement admission plugin is enabled, StatefulSetAutoDeletePVC feature cannot delete PVCs when scaling down a StatefulSet.

### What did you expect to happen?

StatefulSetAutoDeletePVC deletes PVCs when scaling down a StatefulSet

### How can we reproduce it (as minimally and precisely as possible)?

1. Run Kubernetes with OwnerReferencesPermiss

[2022-11-24 13:41] jsafrane commented on #114115
cc @mattcary
/sig storage
/sig apps

[2022-11-24 13:42] jsafrane commented on #114115
/assign
/triage accepted
/priority important-soon

[2022-11-24 14:08] redbaron commented on #84210
Motivation is the same as for `docker run --init` switch existence - everyone needs it, why make image authors do it over and over in every image, when it can be provided out of the box. Also defaults matter, too many devs are not aware of signal handling and it unrealistic to educate them all.

[2022-11-24 15:45] nazarewk commented on #109353
/remove-lifecycle stale

[2022-11-24 15:59] liggitt commented on #84210
I think being marked important and then not revisited for 18 months is perhaps a sign it is not actually important. I have similar concerns around making init process part of the declarative spec, but will defer to node/kubelet maintainers to weigh in.

I re-marked this as needing triage, to surface it to that queue, but my comment about this being unlikely to make progress as an issue and needing

[2022-11-24 16:18] koullislp commented on #110674
/remove-lifecycle stale

[2022-11-24 16:52] alculquicondor opened #114120 "Implement PreFilter for VolumeZone plugin for performance"
### What would you like to be added?

Add a PreFilter endpoint to the VolumeZone plugin to do all the operations that don't depend on the node, like listing the claims.

Also, the volumeZoneLabels set is wasteful. Having only 4 elements, it can be stored in a list. We can iterate through this list instead of iterating over the labels of a node or a PVC.

The list contains beta labels that are now

[2022-11-24 16:52] alculquicondor commented on #114120
/sig scheduling
/help

[2022-11-24 16:52] alculquicondor commented on #114120
/triage accepted

[2022-11-24 16:53] alculquicondor commented on #114120
@liggitt can we remove support for `failure-domain.beta.kubernetes.io/region` and the equivalent for zone? It's marked as deprecated since 1.17

[2022-11-24 16:58] adrian-gierakowski commented on #60164
/reopen

[2022-11-24 17:15] alculquicondor opened #114121 "Improve performance of NodeResourcesFit scoring"
### What would you like to be added?

Profiling reveals that a non-negligible amount of time is wasted creating and querying small maps (example: `make(resourceToValueMap)`, with an expected size of 2 or 3). I believe we should be able to replace them with slices for a performance boost.

We should build unit-level benchmarks to proof that the improvements are good, similar to https://github.com/k

[2022-11-24 17:16] alculquicondor commented on #114121
/sig scheduling

[2022-11-24 17:28] sanmai-NL commented on #84210
@redbaron

It could be off-limit due to broadening the scope of the Container spec, as argued. You mention setting a default, but that would be unrealistic anyway since it would be a breaking change to inject an init process before the Command.

[2022-11-24 18:22] aojea commented on #114121
have you considered sync.Pool? https://pkg.go.dev/sync#example-Pool

[2022-11-24 18:23] alculquicondor commented on #114121
That sounds like more overhead than a simple slice. These are all sync operations.

[2022-11-24 18:24] DopeforHope commented on #23349
We also have 3 servers with 88 CPUs and 256 GB RAM and each. But increasing the pod limit to 240 leads to PLEG issues. We run directly on containerd and after adjusting the kubelet parameter, reboot + deleting /var/lib/containerd didn't help.
Any updates or better guides on this one? Maybe help for debugging the pleg?

[2022-11-24 23:12] #108234 closed

[2022-11-25 02:16] chendave commented on #111390
/close

duplicate with https://github.com/kubernetes/kubernetes/issues/112273

[2022-11-25 02:16] #111390 closed

[2022-11-25 02:32] heartlock commented on #113987
Timeline when race conditions occur：
![image](https://user-images.githubusercontent.com/11348138/203888571-cf7ec2d5-9c18-4249-bfd7-bcbb35dcc8c1.png)

@liggitt related to https://github.com/kubernetes/kubernetes/pull/107821

[2022-11-25 02:34] vinaykul opened #114123 "[FG:InPlacePodVerticalScaling] Handle pod CPU resize where caller requests CPU value of 1m"
### What would you like to be added?

When a pod is created with CPU request of 1m or 2m, they lead to a value of cpu.shares = 2 in both cases. This is due to kernel [clamping](https://github.com/torvalds/linux/blob/27bc50fc90647bbf7b734c3fc306a5e61350da53/kernel/sched/fair.c#L3452) the value of cpu.shares to MIN_SHARES=2.

With In-place pod resize feature, we expose the actual value of CPU reques

[2022-11-25 02:35] vinaykul commented on #114123
/sig node

[2022-11-25 02:45] liggitt commented on #113987
https://github.com/kubernetes/kubernetes/pull/107821 didn't change anything about mounting or cleanup of the volumes, just when the kubelet starts/stops watching the API for updates to the secret or configmap object.

I don't doubt there's an issue here, but I don't think https://github.com/kubernetes/kubernetes/pull/107821 is related.

[2022-11-25 03:57] xuchen-xiaoying commented on #112768
Not exactly. I want to develop a specific Layer 7 load-balance to replace Layer 4 lb like haproxy and lvs to get more control over request.

[2022-11-25 05:03] inianv commented on #114113
/help-wanted

[2022-11-25 05:07] jingjingliu20 opened #114124 "Wrong memory usage reported by kubectl top node"
### What happened?

We are on Kubernetes 1.23.12. We notice the memory usage wrongly reported by `kubectl top node`, see below:

The node `/proc/meminfo` output, memory usage is low as about 3G/16GB.
[code]

But with `kubectl top node aks-e2sv3b-20744423-vmss000001` the memory usage is 64%, pretty larger than the actual usage.
[code]
Is there a known bug? As with the the wrong memory usage, the no

[2022-11-25 06:26] luozhiwenn commented on #113081
kube-controller-manager(v1.25.3) log:
[code]

[2022-11-25 07:13] taju20910 opened #114128 "Headless service is not doing the proper load balancing in Round Robin manner."
### What would you like to be added?

50 - 50 Load distribution in Headless service

Service is created as below:

apiVersion: v1
kind: Service
metadata:
  name: ccs-fscc
  labels:
    app: ccs-fscc
spec:
  clusterIP: None
  selector:
    app: ccs-fscc
  ports:
    - port: 5073
      protocol: TCP
  type: ClusterIP

Currently load is getting shared in 60-40 ratio

### Why is this needed?

I want t

[2022-11-25 08:11] xuzhenglun opened #114129 "Reserved an statically port range for nodeport"
### What would you like to be added?

just like [KEP-3070](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/3070-reserved-service-ip-range) did, I want to reserve some port for nodeport.  I can try to submit an KEP if it sound good for sig/network.

### Why is this needed?

In our cluster, some applications are NOT deployed in Kubernetes. But they need to connect to `service

[2022-11-25 08:12] xuzhenglun commented on #114129
/sig network

[2022-11-25 08:20] Transmitt0r commented on #105678
Hey @pohly I'd also like to contribute on this issue. Is there anything I could take over?

[2022-11-25 08:21] aojea commented on #114083
one suggestion @aimuz @tommystark you should wait for the corresponding SIG to triage the issue and accept it before sending PRs, the chances of your PR getting reviewed and approver are much higher

[2022-11-25 08:34] ryanlyy opened #114130 "CPUset based on container with integer cpu resource/limit instead of on pod"
### What would you like to be added?

in current kubernetes version, only when container with request/limit cpu is integer, this container will be affinity to one one or mulitple cores. But when the request/limit cpu of all containers in pod is not integer but the sum of containers in this pod is integer, all the containers are not affinity into one or multiple cores. Frankly, there are more commu

[2022-11-25 08:38] taju20910 commented on #114128
/sig cluster-liefcycle

[2022-11-25 08:38] taju20910 commented on #114128
/sig cluster-lifecycle

[2022-11-25 08:39] taju20910 commented on #114128
/sig autoscaling

[2022-11-25 08:40] aojea commented on #114091
no problem, glad you had a quick response there

I'm going to close this now

Thanks
/close

[2022-11-25 08:40] #114091 closed

[2022-11-25 08:43] ruquanzhao commented on #114121
Hi, @alculquicondor
Could I take a shot on this?

If I understand correctly,
we need a `func BenchmarkTestFitScore()` in `fit_test.go`, then compare slices and small maps.

[2022-11-25 08:49] aojea commented on #110302
by the way, I was checking the old code and already checks for readiness

https://github.com/kubernetes/kubernetes/blob/e3eac9677a785ef5e66f5af787bbeed260ed6040/pkg/proxy/iptables/proxier.go#L1030-L1051

there is a `continue` that skips not ready endpoints before the line you are pointing ... do we have a bug in old versions?

[2022-11-25 09:01] aojea commented on #114083
no no worries, it was a suggestion, is not that you did something wrong, but it is possible that your PR doesn't get reviews and you get frustrated

[2022-11-25 09:57] aimuz commented on #114130
This is an interesting feature, I think it's good, and it avoids interference between Pods in this case

[2022-11-25 10:02] aimuz commented on #114130
https://github.com/koordinator-sh/koordinator

I found an open source project that seems to fulfill the needs of this area and can be used as a reference

[2022-11-25 10:06] aimuz commented on #114128
If I remember correctly, when the Service is Headless, the DNS query returns a set of Pod IPs, which should be implemented by the calling end if you want to achieve load balancing

[2022-11-25 10:11] aimuz commented on #114124
/sig node
/sig cli

[2022-11-25 10:28] #114049 closed

[2022-11-25 11:35] taju20910 commented on #114128
@aimuz
Calling headless service gives POD IP at a time . My expectation is that it should give the same in load balanced fashion without calling needing to put any new logic

[2022-11-25 11:48] Aishwarya-Hebbar commented on #113204
[code]
I see that kubelet has started successfully in all 3 worker nodes:

[code]

[2022-11-25 11:52] kundan2707 commented on #114124
/assign

[2022-11-25 11:53] kundan2707 commented on #114124
/proc/meminfo is  not containerized. Meaning that they are not cgroup-aware. They will always display memory numbers from the host system (physical or virtual machine) as a whole. Processes inside a container can not rely on free, top and others to determine how much memory they have to work with; they are subject to limits imposed by their cgroups and can’t use all the memory available in the hos

[2022-11-25 11:53] kundan2707 commented on #114124
/remove-kind bug

[2022-11-25 11:54] kundan2707 commented on #114124
/kind support

[2022-11-25 13:20] JoeAshworth commented on #24725
I genuinely cannot believe the amount of people requesting this and the stubbornness displayed in this issue.

There is a clear use-case for this feature.

[2022-11-25 13:29] dims commented on #24725
@JoeAshworth https://twitter.com/dims/status/1593348306054397952?s=20&t=hK-e1SZ_nyaLwlGbYnN53g

[2022-11-25 14:23] krutkoroma79911 commented on #108292
Have probably same issue, can we reopen this and have a look at it ?

[2022-11-25 15:00] kidddddddddddddddddddddd commented on #114120
This one is similar to #114075 if I'm understanding correctly.
I think I can help with this one.
/assign

[2022-11-25 15:07] alculquicondor commented on #114121
yes, that's roughly the plan. There will be a lot of trial-and-error.

[2022-11-25 15:15] alculquicondor commented on #114120
If possible, add unit level benchmarks to prove that we are doing better after the changes.
See for example:
https://github.com/kubernetes/kubernetes/blob/8f2371bcceff7962ddb4901c36536c6ff659755b/pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go#L1272

[2022-11-25 15:29] jingjingliu20 commented on #114124
Figured it out. The usage is not wrong. Close this one.

[2022-11-25 15:29] #114124 closed

[2022-11-25 15:53] tosi3k commented on #110146
While thinking about the alternatives that @mborsz linked - @mknyszek, are you able elaborate a bit more about the problem you linked in the Go Playground snippet, specifically about the additional validations in `compact`?

[2022-11-25 16:40] koba1t opened #114141 "kubectl diff failed when creating the namespace and resources at the same time"
### What happened?

kubectl diff failed when creating the namespace and resources in the new namespace at one YAML file with multiple documents.
kubectl shows the below error.

[code]

### What did you expect to happen?

Show message to create new namespace and resources.

### How can we reproduce it (as minimally and precisely as possible)?

Exec to `kubectl diff` for the below YAML file.

[code]

[2022-11-25 16:41] koba1t commented on #114141
/sig cli

[2022-11-25 16:52] JoeAshworth opened #114142 "Container Limit cgroup causing OOMkilled"
### What happened?

We recently applied a 500MiB limit to a deployment with one pod and one container in that pod.

Upon doing so, the container started to be OOMkilled, however, the Prometheus metrics and K9S both reported that Memory usage never reached the limits, instead hovering around 300MiB.

![image](https://user-images.githubusercontent.com/8082564/204023367-e77c38f7-484c-434b-8ec2-3063d8

[2022-11-25 17:26] ahg-g opened #114143 "Optimize NodeVolumeLimits plugin"
### What would you like to be added?

For pods that only use secrets and configmaps, this plugin adds some overhead at scale. @msau42  does this plugin need to run for those types of volumes at all? If not, we can add a PreFilter to evaluate if Filter can exit early.

### Why is this needed?

Improve performance at scale.

/sig scheduling
/sig storage

[2022-11-25 18:42] Rajalakshmi-Girish opened #114145 "[Flaky test] Tests in vendor/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go are flaking"
### Which jobs are flaking?

https://prow.ppc64le-cloud.org/job-history/s3/ppc64le-prow-logs/logs/postsubmit-master-golang-kubernetes-unit-test-ppc64le

### Which tests are flaking?

Tests in `vendor/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go` are flaking when run with master golang on ppc64le.
[code]

### Since when has it been flaking?

After the  commit https://gi

[2022-11-25 19:12] dims commented on #114145
@Rajalakshmi-Girish i can't seem to find the commit, which PR is that `8a81fdf165facdcefa06531de5af98a4db343035` from?

[2022-11-25 20:33] singlecheeze commented on #53395
https://github.com/NVIDIA/k8s-device-plugin/issues/240#issuecomment-1327867768

[2022-11-25 23:22] #110841 closed

[2022-11-25 23:48] frankyang-code4fun commented on #113072
This seems like a beginner-friendly task (correct me if I'm wrong). Can I work on it? I'm new to k8s. Thanks!

[2022-11-26 02:04] heartlock commented on #113987
After #107821 the terminating pod will not be registered into the configmap/secret manager when the kubelet restarts. It caused the failure to mount the volume, and the  configmap/secret volume was not added to the ASW.
[code]

[2022-11-26 02:46] tangwz commented on #114143
@ahg-g I think I can help with this one after the discussion.

[2022-11-26 03:24] #108931 closed

[2022-11-26 03:28] 467892746 opened #114147 "When I update the deployment replicas to 0, I immediately call GetPodsForDeployment. At this time, I get the error expected a new replica set for deployment"
### What happened?

When I update the deployment replicas to 0, I immediately call GetPodsForDeployment. At this time, I get the error expected a new replica set for deployment。When I call again after a few seconds, the empt pod list will be returned。
The GetPodsForDeployment method is located in kubernetes/test/e2e/framework/deployment/fixtures。

### What did you expect to happen?

empty pod list

[2022-11-26 03:29] luozhiwenn commented on #110302
Thanks for your reminding. I investigated again and found that the problem was actually fixed by [#106030](https://github.com/kubernetes/kubernetes/pull/106030):
![image](https://user-images.githubusercontent.com/74550097/204070691-3ef01b66-0d40-4ee4-b95f-20c965006400.png)

[2022-11-26 05:26] #104639 closed

[2022-11-26 05:26] #105021 closed

[2022-11-26 05:32] OJFord commented on #111471
/remove-lifecycle rotten

[2022-11-26 08:08] Rajalakshmi-Girish commented on #114145
Sorry for the confusion. It is the golang commit https://github.com/golang/go/commit/8a81fdf165facdcefa06531de5af98a4db343035

[2022-11-26 08:15] aimuz commented on #114128
Headless does not support this approach, DNS returns depend on coredns, if you want to achieve the load effect you can use cluster IP

[2022-11-26 09:32] aojea commented on #114129
I don't see why not, WDYT @thockin ?

[2022-11-26 09:43] aojea commented on #114145
has this an impact on https ?
can this be a regression for performance and scalability in Kubernetes?

/cc @liggitt @wojtek-t

[2022-11-26 10:17] segevfiner commented on #84210
How is it a breaking change to introduce a new optional property, that doesn't change anything unless enabled, and that affects the way the container will be run like every other property that exists on the container spec... You can literally emulate it now by modifying the command and volumes yourself, it's just inconvenient.

It's unfortunate historical mistake IMHO that containers don't include

[2022-11-26 13:39] sanmai-NL commented on #84210
If you inject the init executable by default, then it would be breaking, I stated.

Agree with your second point.

[2022-11-26 14:44] aiaoyang commented on #87615
https://github.com/golang/go/issues/34978

[2022-11-26 15:34] hakman commented on #106893
I just noticed an additional flag named `--hairpin-mode` that doesn't look like it's used anymore and seems it was limted to the dockershim implementation since https://github.com/kubernetes/kubernetes/pull/62212.
https://github.com/kubernetes/kubernetes/blob/a236e4ca6f3860a5acbbfc62bb3fdd88ac7e2757/cmd/kubelet/app/options/options.go#L480

Looks also that there was another attempt to remove it som

[2022-11-26 16:08] heagma commented on #113950
/assign

[2022-11-26 17:42] Ashtonian commented on #40651
121 upvotes, 44 participants, 70 comments, 5 year old issue but triage bot closes it.

[2022-11-26 18:03] dims commented on #40651
@Ashtonian yep, that's what the bot is expected to do. Also see https://twitter.com/dims/status/1593348306054397952?s=20&t=pYAUvlNoO2enJmMYsmccIQ

[2022-11-26 18:30] SuperAayush commented on #113438
<img width="1281" alt="Screenshot 2022-11-26 at 11 59 09 PM" src="https://user-images.githubusercontent.com/78820926/204103739-18febff9-72e0-4b19-822a-e8d1648199f0.png">
Can anyone help me solve these errors?
I have tried searching from my own but did not get a proper result.

I get these after running `make quick-release`

[2022-11-26 18:33] Ashtonian commented on #40651
I understand its intention, but as a community member I can't help but view this as a huge detriment. From a community perspective it seems to enable large organizations to ignore community feedback and requests and undermines product quality.

This issue for example is exposing more metadata, metadata that is a piece of the pod name composition which is available via an env variable already. Usef

[2022-11-26 18:37] dims commented on #40651
@Ashtonian all of us are community members here.

[2022-11-26 18:46] liggitt commented on #113438
make sure you've fetched tags from the upstream kubernetes repo (something like `git remote add upstream git@github.com:kubernetes/kubernetes.git` and then `git fetch upstream --tags` will work)

[2022-11-26 22:27] rsoika commented on #114034
I am not the only one with the problem. See also [here](https://serverfault.com/questions/1116281/kubeadm-1-25-init-failed-on-debian-11-with-containerd-connection-refused/1116589#1116589)
I know, you have already mentioned that we can read the manual and ask questions on the support pages. Can you still have a look?

[2022-11-27 09:41] #90298 closed

[2022-11-27 14:01] aojea commented on #114147
where are you using that method? that is not supposed to be used outside of kubernetes

[2022-11-27 16:09] invidian commented on #106962
/remove-lifecycle stale

[2022-11-27 16:52] DarrienG commented on #76570
I haven't worked on K8s in years now, but I still get emails from it sometimes (thanks stale issue bot and other commenters). As the original filer I can tell you the issue is that this bug is very easy to hit. The problem being that the default configuration of a yaml file without extra parameters can easily take down a whole cluster.

These two fields:
* `concurrencyPolicy`
* `activeDeadlineSeco

[2022-11-27 19:19] hholst80 commented on #84210
The workaround is the same as the solution. Just slam this into the Pod spec:
[code]

[2022-11-27 19:42] #108249 closed

[2022-11-27 20:08] segevfiner commented on #84210
This has other side effects though. Much more likely to break stuff than just injecting an init process.

[2022-11-27 20:21] linxiulei commented on #109640
/remove-lifecycle rotten

[2022-11-27 20:42] #110325 closed

[2022-11-28 02:34] shuaizi commented on #114113
@inianv

now just  pod  implements the interface [RESTGracefulDeleteStrategy]  for graceful deletion.
https://github.com/kubernetes/kubernetes/blob/70617042976dc168208a41b8a10caa61f9748617/staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go#L58-L64,

test for ds deletion，found the deletionGracePeriodSeconds of daemonset is not configued,
![image](https://user-images.githubusercontent.com/3830

[2022-11-28 05:14] vaibhav2107 commented on #114142
/sig node

[2022-11-28 05:16] vaibhav2107 commented on #114130
/sig node

[2022-11-28 05:19] vaibhav2107 commented on #111757
/remove-lifecycle stale

[2022-11-28 05:21] vaibhav2107 commented on #111405
/remove-lifecycle stale

[2022-11-28 05:22] vaibhav2107 commented on #110963
/remove-lifecycle stale

[2022-11-28 05:24] vaibhav2107 commented on #109923
/remove-lifecycle stale

[2022-11-28 05:26] vaibhav2107 commented on #109829
/remove-lifecycle stale

[2022-11-28 05:31] pwschuurman commented on #114010
I have a use case for this feature to allow for faster cross cluster migrations. With #112744 (https://github.com/kubernetes/enhancements/pull/3336), StatefulSet slices can be scaled down and scaled up across clusters. With the `StatefulSetStartOrdinal` feature, this is possible on an ordinal level, but not a zone level. For applications that can support it, moving a zone at a time can greatly spe

[2022-11-28 07:43] yy158775 commented on #113756
My user has permissions to both two types,but I still can't successfully list the crd objects using '..' .
[code]
I guess this bug can't be exploited beacuse the url parameters is parsed correctly and the '../' or '/..' can't be included in the 'key'.
https://github.com/kubernetes/kubernetes/blob/70617042976dc168208a41b8a10caa61f9748617/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L568-

[2022-11-28 07:45] chenk008 commented on #75890
All controllers need to be compatible with the taints-based approach, I think it is brought extra work for component maintainers. A generic `ready` approach is needed.

[2022-11-28 08:55] yy158775 commented on #113756
In the following part,we can find the URL parts after subresource aren't interpreted.So we use '/../' in the URL it won't work.
https://github.com/kubernetes/kubernetes/blob/70617042976dc168208a41b8a10caa61f9748617/staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo.go#L197-L207

[2022-11-28 09:12] singvey999 commented on #113756
Dear All,
Does this CVE exist in version 1.17.11? Thanks.

[2022-11-28 09:36] singvey999 commented on #113756
Dear All,
How to reproduce this issue and how to verify this issue with the detailed steps?
Thanks.

[2022-11-28 09:43] leonardpahlke commented on #113272
@ritazh & @enj what is the status on this issue? 1.26 is coming up!
cc @hosseinsalahi

[2022-11-28 09:44] leonardpahlke commented on #113901
@ramrodo I will close this issue, if there are only open points we can raise them in slack (?)
/close

[2022-11-28 09:44] #113901 closed

[2022-11-28 09:48] ardaguclu commented on #114141
/transfer kubectl

I'm going to investigate issue further.

[2022-11-28 09:57] leonardpahlke commented on #113925
@marosset I don't see a failing on https://testgrid.k8s.io/sig-release-master-informing#capz-windows-containerd-master. But, It might be flaky..
@Nivedita-coder & @kubernetes/ci-signal maybe you could check if you find a flake pattern

[2022-11-28 09:57] leonardpahlke commented on #113925
If so, this would also be relevant for 1.26.. https://testgrid.k8s.io/sig-release-1.26-informing#capz-windows-containerd-1.26

[2022-11-28 10:27] vinaykul opened #114159 "[FG:InPlacePodVerticalScaling] Verify extended resources are correctly reported in ContainerStatus Resources"
### What would you like to be added?

In-place pod resize feature adds Resources field to ContainerStatus struct. This is used to report CPU and memory requests & limits configured for the containers. We should ensure that it also reports extended resources assigned to the containers.

See discussion: https://github.com/kubernetes/kubernetes/pull/102884#discussion_r817193401

### Why is this neede

[2022-11-28 10:27] vinaykul commented on #114159
/sig node

[2022-11-28 11:11] sbueringer opened #114160 "Self-hosted e2e tests are a bit flaky"
### Failure cluster [16cd3caed44925f8a110](https://go.k8s.io/triage#16cd3caed44925f8a110)

##### Error text:
[code]
#### Recent failures:
[26/11/2022, 01:26:11 periodic-cluster-api-e2e-main](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-e2e-main/1596208087008546816)
[21/11/2022, 07:28:26 periodic-cluster-api-e2e-main](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/p

[2022-11-28 11:13] aojea commented on #114160
is this kubernetes/kubernetes?

[2022-11-28 11:27] sbueringer commented on #114160
Sorry ...

I was using the "file bug" button on the triage UI and forgot to change the repo this time :/

/close

[2022-11-28 11:27] #114160 closed

[2022-11-28 11:39] Shubham82 opened #114161 "Link for cloud-controller-manager is not working."
**Problem:**

The Link for `cloud-controller-manager` under [FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-does-cluster-autoscaler-remove-nodes) is not working. It redirects to k8s v1.19 docs, which are not supported now by k8s. and this cloud-controller-manager reference page is removed in k8s v1.20. There is no reference page for it in k8s docs.
There is

[2022-11-28 11:39] Shubham82 commented on #114161
/kind bug

[2022-11-28 11:41] Shubham82 commented on #114161
Hi @gjtempleton @mwielgus
PTAL!

[2022-11-28 11:44] painsAgains opened #114162 "Some API error again"
### What happened?

## Q1: GET /apis/storage.k8s.io/v1/storageclasses
When a larger value is passed to the `resourceVersion` parameter and the` limit` parameter is set to a larger value, the response will return 500error with the message "etcdserver: mvcc: required revision is a future revision".
## Q2: Delete Request error
When constructing a delete request with one or more error parameters, I ge

[2022-11-28 11:46] painsAgains commented on #114162
sig/api-machinery  wg/api-expression

[2022-11-28 11:47] painsAgains commented on #114162
sig/api-machinery

wg/api-expression

[2022-11-28 11:48] painsAgains commented on #114162
/sig api-machinery
/wg api-expression

[2022-11-28 11:53] aojea commented on #114161
/transfer kubernetes/autoscaler

[2022-11-28 11:53] aojea commented on #114160
:) no prob

[2022-11-28 11:57] Shubham82 commented on #114161
Hi @aojea, sorry by mistake I opened it in k/k.

Thanks

[2022-11-28 11:58] Shubham82 commented on #114161
I will close it from here and reopen it in Kuberenetes/autoscaler again.

[2022-11-28 11:58] Shubham82 commented on #114161
/close

[2022-11-28 11:59] #114161 closed

[2022-11-28 12:12] tangwz commented on #114121
/assign

[2022-11-28 12:35] nickvanwegen commented on #113731
Maybe its already mentioned but I could not find it.
It seems that the controller does not correct itself either I am hurt by the scenario of CPU imbalance. In my case I run a full spot instance cluster(AWS) so in some occasions I can have weird CPU balance in which the hints are removed from the endpointsslices. Tho after a while +-15min the CAS has corrected this balance again but the hints do n

[2022-11-28 13:42] liggitt commented on #113987
cc @bobbypage @smarterclayton for any insights into the sequence of calls to syncPod / syncTerminatedPod and how that interacts with kubelet restarts

[2022-11-28 13:44] antoineozenne commented on #107446
/remove-lifecycle stale

[2022-11-28 13:58] alculquicondor commented on #76570
Unfortunately, changing defaults is not backwards-compatible.

One option you have is to set these fields in your clusters via webhooks.

[2022-11-28 14:08] DarrienG commented on #76570
Ah that's a shame. I remember hoping originally spinning off endless jobs that do not have a valid image would be something that could be special cased whether or not those policies were set. It's unfortunate that's not the case.

I appreciate the heads up about webhooks, thanks

[2022-11-28 14:46] mknyszek commented on #110146
Sure thing. AFAICT, the JSON encoding package needs to handle potentially arbitrary inputs from a `MarshalJSON` method call which may not be valid or compacted. I think any alternative interface would have to be "unsafe" in some sense as it might break internal `encoding/json` invariants (or if those invariants could be avoided, that probably needs a bigger restructuring of the package, which I kn

[2022-11-28 16:17] faiq commented on #106309
/remove-lifecycle stale

[2022-11-28 17:12] alejandrotineo opened #114165 "Token Review request has wrong behavior when token starts with a space"
### What happened?

When issuing a token review request to the k8s api and provide a token with a leading space you get the following response:

[code]

### What did you expect to happen?

I would expect to have the token rejected. Similar to this output when no leading space is provided:

[code]

### How can we reproduce it (as minimally and precisely as possible)?

To reproduce it, issue a token

[2022-11-28 17:24] colega commented on #113594
I just tried with this rule:
[code]

And even with no `objectSelectors`, the webhook isn't being called when `kubectl scale` operation is applied. (I even tried with `*` as apiVersions, with no luck).

I can see that `autoscaling/v1/Scale` does have the ObjectMeta in it, and it would be great to see it being checked in the scale operation.

[2022-11-28 17:25] jsturtevant commented on #112743
can you share the command you are running and incorrect data you are seeing?

[2022-11-28 17:25] stlaz commented on #110782
/assign

[2022-11-28 17:27] jpbetz commented on #113594
`resources: ["*/scale"]` ?  I'll need to try this out locally as well..

[2022-11-28 17:32] marosset commented on #113925
Currently the Windows test that tries to pull this image is using `gcr.io/authenticated-image-pulling/windows-nanoserver:v1`.

https://github.com/kubernetes/kubernetes/pull/113900 updated a majority of the image references used by the e2e tests to the latest versions. @claudiubelu and I didn't have access to push images to `gcr.io/authenticated-image-pulling` so filed this issues and reverted just

[2022-11-28 17:34] colega commented on #113594
Thank you for the quick response, but that didn't work neither.

[2022-11-28 17:35] leonardpahlke commented on #113925
ack, thanks for tacking a look @marosset !

[2022-11-28 17:37] leonardpahlke commented on #113925
@marosset approaching the final release cut we treat any open issue at k/k as release blocking so we need to either resolve this very quickly or remove it from the milestone

[2022-11-28 18:10] marosset commented on #113925
I think someone from sig-testing needs to help move the image into the authenticated-image-pulling registry.
I'm OK with doing that in the future

/milestone v1.27

[2022-11-28 18:18] msau42 commented on #114143
Yes, I think we can add a check for the volume types.

[2022-11-28 18:36] chrisohaver commented on #114128
Most default deployments of CoreDNS use the _loadbalance_ plugin to return pod IPs of a headless service in a random order. And most clients will usually just use the first IP returned.
There was a bug fix to the randomization algorithm [some time ago in CoreDNS 1.8.7](https://github.com/coredns/coredns/pull/4961), although IIRC that would not have affected shuffling 2 IPs.

[2022-11-28 18:52] zenbones commented on #62872
I would call any schema meant to describe an object hierarchy, that can't handle self-referential recursion... impoverished. Would it really be that hard to handle a $ref that just recursively imported the schema pointed to by $ref? Inline the entire thing and then run the validation, which should be the same as having to write the whole thing out, which is currently allowed. I'm just looking for

[2022-11-28 18:59] lavalamp commented on #62872
Some such references expand infinitely and can't be expanded, that's a large part of what makes it dangerous.

[2022-11-28 19:00] ialidzhikov commented on #113731
@nickvanwegen please open a new issue to kubernetes/kubernetes. This issue is not umbrella issue for reporting any kind of problems with TopologyAwareHints.
I would appreciate if the maintainers can mark the corresponding comment as off-topic.

[2022-11-28 19:28] rjeberhard commented on #62872
I don't want to exclude others' use cases, but I would be satisfied with a mechanism to reference types from built-in schemas. For instance, we have a CRD where our controller will create Pods based on the contents of the custom resource. It would be very convenient to be able to reference existing types for volume and volume mounts, etc. These types (e.g. volumes) if properly expressed in a CRD's

[2022-11-28 19:33] liggitt commented on #62872
github helpfully hid my comment at https://github.com/kubernetes/kubernetes/issues/62872#issuecomment-534624370, but even referencing types from built-in schemas has a lot of potential problems

[2022-11-28 19:39] jpbetz commented on #113594
Tried this locally and I understand what is going on.

Apologies for my earlier suggestions. There were going in the wrong direction.

Changes to the autoscaling subresources are matched based on the apiGroup and apiVersion of the resource.  For example:

[code]

Matches the subresource of a deployment, which can be validated  by using:

[code]

The problem with the original example in this issue

[2022-11-28 20:54] tillknuesting commented on #113627
`pkg/errors` should be replaced with the standard library for the following reasons:

- archived library with no maintenance or security updates
- the go community used pkg/errors to introduce eventually into the standard library hence the approach that was selected is more idiomatic
- stack traces are hardly used in error wrapping and are not a reason not to refactor

[2022-11-28 21:06] sayanseal opened #114167 "Kubelet unable to attach or mount volumes: timed out waiting for the condition"
### What happened?

On our production bare metal cluster, on some nodes which are running batch jobs, we are observing that pods are taking around 5-6 minutes to start due to attachment/volume timeout even for a simple configmap. The pod manifest which we used for testing this timeout error:

[code]

This is from the events:

[code]

This is the volume in question:

[code]

Kubelet logs:

Nov 23 1

[2022-11-28 21:09] grinbvi commented on #62536
[42873.042434] [ pid ] uid tgid total_vm rss nr_ptes swapents oom_score_adj name
[42873.044042] **[26211] 0 26211 253 1 4 0 -998 pause**
[42873.045547] [26843] 0 26843 197 60 4 0 -997 tini
[42873.047039] [26891] 0 26891 125143 100845 248 0 -997 fluentd
[42873.048571] [ 6141] 0 6141 664059 425999 1155 0 -997 ruby
[42873.050057] Memory cgroup out of memory: Kill process 26211 (pause) score 0 or sacr

[2022-11-28 21:11] grinbvi commented on #62536
Pause container gets OOM killed under the cover of darkness

[2022-11-28 21:40] jpbetz commented on #114008
/assign

[2022-11-28 21:54] liggitt commented on #114120
what does removing support mean? you can assume all nodes have the GA zone/region labels now, but you can't assume all references to the zone/region labels (in selectors, affinity, etc) have been updated to use the GA labels

[2022-11-28 22:10] liggitt commented on #114165
looks like this is a duplicate of https://github.com/kubernetes/kubernetes/issues/106142

TokenReview just delegates to the normal authentication chain with a request with an "Authorization: Bearer $token" header, so the behavior matches the actual Kubernetes API.

[2022-11-28 22:10] #114165 closed

[2022-11-28 22:11] liggitt commented on #106142
https://github.com/kubernetes/kubernetes/issues/114165 just reported this also impacts behavior of TokenReview, which delegates to the authentication chain

[2022-11-28 22:29] ellistarn commented on #111643
Thanks!

[2022-11-28 22:29] #111643 closed

[2022-11-28 22:33] alculquicondor commented on #114120
For this particular node Filter, we get the topology labels of a PV and we ensure that the node has the same topology labels.

Can we assume that all PVs have the GA labels?

[2022-11-28 22:40] nyarly commented on #112014
/remove-lifecycle stale

I'm continuing to have weird merges during deploys

[2022-11-28 22:40] liggitt commented on #114145
how close were ppc64le tests to the 100ms timeout before?

linux and darwin is nowhere remotely close to the timeout on go1.19 or go master

with this diff:
[code]

there's a ~tiny slowdown of the dial on linux, and a small slowdown on darwin:

[code]

[code]

[code]

[code]

what does that show before/after on ppc64le?

[2022-11-28 22:41] liggitt commented on #114120
I don't know... where do PVs get labels from?

[2022-11-28 22:41] apelisse commented on #112014
More details would be useful. What "weird merges" do you have?

[2022-11-28 22:59] lavalamp commented on #113961
@robscott Yes I think we would be happy to have that!

[2022-11-28 23:24] nyarly commented on #112014
See the initial report. I've noticed other cases where an apply has gone wrong, but it's been a couple of weeks since the last one.

[2022-11-28 23:26] apelisse commented on #112014
OK Thanks, I was curious if this was the same thing.

[2022-11-28 23:51] lavalamp commented on #114049
Thanks everyone! 🥂

[2022-11-29 01:24] adammw opened #114173 "Add option to customise default ClusterFirst DNS options from the host"
### What would you like to be added?

Ability to customise the default DNS options provided to a pod's `/etc/resolv.conf` when using the DNSClusterFirst policy that would be provided in addition to the default "ndots:5" or any other options specified in the Pod's DNSConfig spec fields.

### Why is this needed?

Currently the options in the host's resolv.conf (or the file specified in the resolvCon

[2022-11-29 01:25] adammw commented on #114173
/sig network

[2022-11-29 01:45] ruquanzhao commented on #114121
/assign

[2022-11-29 02:04] liggitt commented on #114145
cc @Rajalakshmi-Girish on the question about existing ppc64le
 timing in https://github.com/kubernetes/kubernetes/issues/114145#issuecomment-1329847626

[2022-11-29 02:21] liggitt commented on #114145
cc @kubernetes/sig-scalability - are we running scalability tests on go tip? did we see any increases in CPU or latency or decreases in throughput in the last two weeks?

[2022-11-29 02:23] liggitt commented on #114145
cc @marseel

[2022-11-29 02:38] 467892746 commented on #114147
In my own code. Is there a third package that can be referenced outside of kubernetes?

[2022-11-29 03:58] #101820 closed

[2022-11-29 04:38] sunnylovestiramisu commented on #113979
Does this mean instead of checking ShouldPodContainersBeTerminating to decide if we add the pod or not, we should check IsPodTerminationRequested or not to decide?

[2022-11-29 05:16] aimuz commented on #114173
Will this meet the demand?

[code]

[code]

[2022-11-29 06:17] tangwz commented on #114121
@ruquanzhao I've already started. Do you want to continue?

[2022-11-29 06:37] adammw commented on #114173
As mentioned, dnsConfig can customise the options on a per-pod level, but that would mean the cluster-administrator would need to mutate every pod's dnsConfig to be able to apply a cluster-wide DNS option.

[2022-11-29 07:20] aimuz commented on #114173
I'm sorry for not reading carefully before, I understand what you mean.

Are you trying to set the ndots to a larger value?

A more general approach is probably to modify the created Pods by mutatingwebhookconfigurations
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/

[2022-11-29 07:45] colega commented on #113594
Hey, @jpbetz can you please share your entire webhook definition? There's something I'm still missing, I tried with:

[code]

And then
[code]

Which succeeds (but it shouldn't, as it should call the non-existent webhook).

I didn't understand this. I always tried with `kubectl scale statefulset ...`, doesn't that modify the scale subresource?

In order to ensure we're on the same page, just to be

[2022-11-29 09:04] adilGhaffarDev commented on #113250
@aojea just to to confirm I have run few more tests and traffic is being blackholed. I will try to reproduce the issue with e2e and give you the update.

[2022-11-29 09:30] sergiosanche commented on #110630
Hello,

I have checked in 1.23.14 and the problem remains:

`
# kubectl version

Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.14", GitCommit:"3321ffc07d2f046afdf613796f9032f4460de093", GitTreeState:"clean", BuildDate:"2022-11-11T02:44:48Z", GoVersion:"go1.17.13", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"23+", GitVersion:"v1.23.1

[2022-11-29 09:34] sergiosanche commented on #110630
I have checked in 1.23.14 and the issue remains:

[code]

[code]

[2022-11-29 09:51] flokli commented on #76570
Changing defaults has been done in previous occasions as well. Things need to be deprecated/communicated properly, but it's not impossible (see [this example](https://itnext.io/big-change-in-k8s-1-24-about-serviceaccounts-and-their-secrets-4b909a4af4e0)

This GitHub issue has enough watchers / people affected, and it's causing real problems, which should be a strong argument for actually fixing it

[2022-11-29 09:52] AbelHu commented on #110630
Need to correct: It is fixed in Windows nodes.
git tag --contains 860df6bfc1894092fd2ee0e6b18f0740514c2872
v1.23.13
v1.23.14
v1.23.14-rc.0
v1.23.15-rc.0

[2022-11-29 10:02] tosi3k commented on #114145
@liggitt we run scalability tests on go tip (using fixed version of K8s) but only using x64 architecture for masters and nodes in the cluster. We're also using Kubemark for scale testing go tip in K8s so the results might not be vocal enough about the regression.

No visible change in the pod throughput in our tests:
![image](https://user-images.githubusercontent.com/22770898/204494847-c6c7fee0-9e

[2022-11-29 10:03] Rajalakshmi-Girish commented on #114145
These failures occur only when run with `-race` flag.
Without `-race` flag, as you said, it is nowhere remotely close to the timeout even on `ppc64le`.
[code]
But with the -race enabled, it is taking ~200ms on `ppc64le` after the commit https://github.com/golang/go/commit/8a81fdf165facdcefa06531de5af98a4db343035
[code]
With the just previous commit `5f60f844be`, it took between 27ms -35ms
[code]

[2022-11-29 10:09] Rajalakshmi-Girish commented on #114145
Do these tests run with -race flag enabled?

[2022-11-29 10:30] tosi3k commented on #114145
This is an end-to-end scalability test, not a test that one can run through `go test`.

I also doubt we use the `-race` flag when building K8s binaries used in that e2e test given the overhead this flag has on the runtime - see the `Runtime Overhead` in [this](https://go.dev/doc/articles/race_detector) go.dev article.

[2022-11-29 11:05] Rajalakshmi-Girish commented on #114145
The tests this issue mentions are the unit tests run using the [Makefile](https://github.com/kubernetes/kubernetes/blob/master/build/root/Makefile), which by default has `-race` flag while running a `go test` https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/test.sh#L74

[2022-11-29 11:09] Rajalakshmi-Girish commented on #114145
@liggitt
Even on linux/amd64, I see a steep increase in time after the commit https://github.com/golang/go/commit/8a81fdf165facdcefa06531de5af98a4db343035

[code]

[code]

[2022-11-29 11:40] lixiaobing1 commented on #114167
here:

Volumes:
kube-api-access-b6gld:

should be kube-api-access-xglfn?

[2022-11-29 12:15] lixiaobing1 commented on #114167
@sayanseal, I think some useful reason info maybe in va : kubectl describe volumeattachment xxx

[2022-11-29 13:18] alculquicondor commented on #114120
I would expect it comes from vendors. @msau42 ?

[2022-11-29 13:22] liggitt commented on #114120
Then no, we cannot assume PVs have GA labels :-/

[2022-11-29 13:24] alculquicondor commented on #114120
Can we put a stronger deprecation warning starting from 1.27 so that we can remove them in the future?

[2022-11-29 13:27] liggitt commented on #114120
We're emitting warnings in 1.25+ as of https://github.com/kubernetes/kubernetes/pull/108554, but dropping support means existing persisted objects would just break on upgrade, right? I don't think we would do that.

[2022-11-29 13:51] alculquicondor commented on #114121
/unassign @ZhaoRuquan

This was already assigned.

[2022-11-29 13:52] alculquicondor commented on #114121
/unassign @ruquanzhao

[2022-11-29 14:24] harche commented on #114008
@jpbetz Thanks for https://github.com/kubernetes/kubernetes/pull/114169. Should I close https://github.com/kubernetes/kubernetes/pull/114009 in favour of yours?

[2022-11-29 14:57] xmudrii commented on #100460
Update:

- An announcement to proceed with the removal of the "Kubernetes Source Code" artifact has been sent to k-dev: https://groups.google.com/a/kubernetes.io/g/dev/c/mLAxBdgawcM/m/vSew-lLdAgAJ
- PR to remove this artifact from being published: https://github.com/kubernetes/release/pull/2780

Removal will go into effect starting the January patch releases.

[2022-11-29 15:00] liggitt commented on #114145
definitely not, `-race` rewrites/instruments code so that it's performance is not at all representative of production use.

[2022-11-29 15:13] alejandrotineo commented on #106142
Same, I just stumbled upon this problem. I was never expecting this behavior and I couldn't find references to this anywhere. My report: https://github.com/kubernetes/kubernetes/issues/114165

[2022-11-29 15:15] liggitt commented on #114145
looks like there's also a revert CL open at https://go-review.git.corp.google.com/c/go/+/452255 in case it was needed for performance reasons, so I asked there if this level of impact to race detection code was expected

[2022-11-29 16:10] chinmaya-n commented on #45419
[Here](https://platform9.com/kb/kubernetes/node-not-ready-with-error-container-runtime-is-down-pleg-is-not) is a resource I found that summarizes this issue while investigating this error. It has the following commands to validate if the docker is slow and show which containers are the culprits.

For Docker
[code]

[2022-11-29 16:36] jpbetz commented on #114008
Oh sorry, I didn't see your PR. Either way works for me. You can either incorporate ideas from my PR and I'll drop mine, or drop your PR. I don't feel strongly either way.

[2022-11-29 16:47] liggitt commented on #114145
opened https://github.com/golang/go/issues/56980 upstream

[2022-11-29 17:00] pohly opened #114183 "dynamic resource allocation: create conformance test"
Once dynamic resource allocation is GA, we need conformance tests for the new resource.k8s.io API. As its functionality depends on a driver, we may have to use the test driver. There's currently one issue with it: as it stands, it depends on port forwarding, which is a debug feature and not part of conformance. We would need a way to deploy it, which implies that we need images for it. It also nee

[2022-11-29 17:00] pohly commented on #114183
/triage accepted
/sig node

[2022-11-29 17:05] vitorfhc commented on #105678
@Transmitt0r feel free to take my part: `test/e2e/autoscaling`

[2022-11-29 17:13] cshiv opened #114184 "VolumeMount support in ephemeral containers with kubectl debug"
### What would you like to be added?

At present, I cannot attach an ephemeral container with a volume mount by using "kubectl debug".
I would prefer to have some way to create an ephemeral container with volume mount using kubectl debug.
It could be something similar to [patch command](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#alternate-forms-of-t

[2022-11-29 17:15] enj commented on #111922
/assign @ritazh
/unassign @enj

[2022-11-29 17:24] enj commented on #113704
/retitle "encryption-at-rest: add success or failure metric when encryption configuration attempts to dynamically update"

[2022-11-29 17:25] enj commented on #113704
/retitle encryption-at-rest: add success or failure metric when encryption configuration attempts to dynamically update

[2022-11-29 17:27] enj commented on #113759
/retitle encryption-at-rest: use atomic.Pointer to store dynamic transformers

[2022-11-29 17:34] danksim commented on #77575
I am having the same issue. The deployment/pod has cpu/memory requests/limits set properly. I would rather not downgrade since I am trying to upgrade kubernetes to v1.25. Weird.

[2022-11-29 17:44] cshiv commented on #114184
/sig Storage

[2022-11-29 17:57] msau42 commented on #114120
Somebody may have created the PVs years ago with the beta labels. We don't actively backfill the objects with the GA labels. However, in csi migration logic we translate beta labels into GA labels: https://github.com/kubernetes/kubernetes/blob/70617042976dc168208a41b8a10caa61f9748617/staging/src/k8s.io/csi-translation-lib/plugins/in_tree_volume.go#L202

[2022-11-29 17:59] enj opened #114188 "kmsv2: unit and integration test requirements"
**Reference implementation**

- [ ] unit tests for all new code added for reference implementation
  - [x] ~75% coverage
  - [ ] controllers should have step tests and tests the run actual go routines
- [ ] an e2e conformance suite that uses the reference implementation
  - [x] all resources would be encrypted
  - [ ] the "remote" kms would be a local encryption key that adds 100 ms latency
  - [x

[2022-11-29 17:59] msau42 commented on #114120
However this only covers intree volume plugins. If any external drivers were depending on the label, then they would not be covered by this path.

[2022-11-29 17:59] enj commented on #114188
/sig auth
/triage accepted

[2022-11-29 18:09] tkashem commented on #111886
@aojea I took a stab at how we can wire it up - https://github.com/kubernetes/kubernetes/pull/114189

[2022-11-29 18:12] tkashem commented on #105884
@mborsz when Go 1.10 adds the new `ResponseController` then we can wire it up: https://github.com/kubernetes/kubernetes/pull/114189

[2022-11-29 18:15] kad commented on #113342
Few comments:
- cgroup is Linux specific. exposing that info to Pod status on API server, might be not portable between OSes.
-  VM based runtimes: host cgroup might not be the same as inside VM.
- libraryos based runtimes: cgroups might not be really in use.

idea/suggestion: kubelet's PodResources local endpoint?

[2022-11-29 18:18] mrunalp commented on #113342
This cgroup path could be passed at CNI setup time and the plugin could cache it (if we want to punt on status change).

[2022-11-29 18:19] dchen1107 commented on #113342
Was considered before, but have the security concerns raised by SIG Auth.

[2022-11-29 18:31] mikebrow commented on #113342
@MikeZappa87 heads up we also need to add the pod's cgroup path to the json we pass to the cni plugins... @haircommander @bobbypage

[2022-11-29 18:31] lavalamp commented on #111208
I think this is not really api machinery as much as auth.

/remove-sig api-machinery
/needs-triage

[2022-11-29 18:35] iancoolidge commented on #112899
Hi Kevin, my plan now is actually to try to merge https://github.com/kubernetes/kubernetes/pull/113744 first,
and then to re-do https://github.com/kubernetes/utils/pull/267 with minimal changes,
and then to do another PR to k/k to re-vendor k/utils and use the library.

So, if you can help by taking a look at https://github.com/kubernetes/kubernetes/pull/113744 first.

[2022-11-29 18:35] antoninbas commented on #108298
/remove-lifecycle stale

[2022-11-29 18:39] MikeZappa87 commented on #113342
@mikebrow would this be via CNI_ARG/annotation/runtime config?

[2022-11-29 18:51] dims commented on #110630
@harshanarayana do you still have a patch for this? :) can you please share it as a draft PR for us to take a look? thanks!

[2022-11-29 19:33] liggitt opened #114192 "staging repos v0.26.0-rc.0 tag content doesn't match k/k v1.26.0-rc.0"
While opening https://github.com/kubernetes/autoscaler/pull/5336 to update to 1.26.0 rc.0 libraries, a compile error surfaced because published staging repo v0.26.0-rc.0 tag content doesn't match k/k v1.26.0-rc.0

these two files should be identical, but are not:
* https://github.com/kubernetes/apimachinery/blob/v0.26.0-rc.0/pkg/apis/meta/v1/validation/validation.go
* https://github.com/kubernetes

[2022-11-29 19:34] liggitt commented on #114192
cc @dims @sttts

[2022-11-29 19:34] liggitt commented on #114192
cc @kubernetes/release-managers for visibility

[2022-11-29 19:34] liggitt commented on #114192
cc @nikhita

[2022-11-29 20:09] xmudrii commented on #114192
Should be fixed with #114193
/triage accepted
/assign

[2022-11-29 21:03] #114192 closed

[2022-11-29 21:21] fedebongio commented on #114049
/triage accepted

[2022-11-29 21:24] fedebongio commented on #114070
/assign @lavalamp @jpbetz @wenjiaswe @logicalhan
/triage accepted

[2022-11-29 21:25] fedebongio commented on #114070
/cc @wojtek-t

[2022-11-29 21:25] fedebongio commented on #114113
/remove-sig api-machinery
/sig node apps

[2022-11-29 21:27] fedebongio commented on #114162
/assign @apelisse @Jefftree @leilajal
/help
/triage accepted

[2022-11-29 21:36] lavalamp commented on #114070
It should close the channel rather than write to it, that's the easiest fix

[2022-11-29 23:28] pikrog opened #114197 "Kubernetes instability issues on LUbuntu 22.04"
### What happened?

I successfully deployed Kubernetes to my virtaulized LUbuntu 22.04 by using the `kubeadm` utility. However, Kubernetes does not seem to work properly. First of all, most of the default pods crash from time to time and restart. Secondly, after some time I am unable to use `kubectl` because it reports that:
`The connection to the server 192.168.224.10:6443 was refused - did you s

[2022-11-30 01:26] jpbetz commented on #114003
I don't know how this would be implemented. The storage layer is not currently able to prevent a race where a CR is created on one kube-apiserver in an HA configuration while the CRD is being deleted on another. IIRC it is even possible to configure the kube-apiserver such that the CRD and the CRs to be written to different etcd clusters.

[2022-11-30 01:32] msau42 commented on #113979
For reconstruction, we need to keep the volume in DSW if there is a chance that containers are running. So `ShouldPodRuntimeBeRemoved` is the best call to determine that.

[2022-11-30 02:14] maan19 commented on #112733
/assign not sure if this has been fixed already. looks like it is not.

[2022-11-30 02:34] maan19 commented on #81723
/assign

[2022-11-30 03:11] aimuz commented on #114184
/sig cli

[2022-11-30 03:38] aimuz commented on #114142
kubectl top pod ？

[2022-11-30 05:07] vinaykul opened #114202 "[FG:InPlacePodVerticalScaling] Get MemoryRequest from ContainerStatus for cgroupv2"
### What would you like to be added?

Cgroupv2 support in PR https://github.com/kubernetes/kubernetes/pull/102884 does not cover obtaining the value of MemoryRequest configured on the container for cgroupv2. Add support for this.

### Why is this needed?

One of the key benefits of cgroupv2 is the ability to specify memory request and this must be supported for in-place pod resize.

[2022-11-30 05:07] vinaykul commented on #114202
/sig node

[2022-11-30 05:09] #110926 closed

[2022-11-30 05:29] vinaykul opened #114203 "[FG:InPlacePodVerticalScaling] If pod resize request exceeds node allocatable, fail it in admission handler"
### What would you like to be added?

A great optimization to the current 'Infeasible' state would be to create a admission handler that tracks allocatable resources on all the nodes, and fails such a request early.
See https://github.com/kubernetes/kubernetes/pull/102884#discussion_r817033754

### Why is this needed?

User gets immediate signal that the request will never be satisfied on the give

[2022-11-30 05:29] vinaykul commented on #114203
/sig node

[2022-11-30 06:48] nikhita commented on #114192
Writing it here for the record: why only the commits in https://github.com/kubernetes/kubernetes/pull/113699 were dropped while other commits were correct in the `release-1.26` branch of the apimachinery repo when the directory was configured to code-generator:

For new branches, the bot assumes that the new branch `release-1.26` is branched off of master. The way it works for new branches:
1. Doe

[2022-11-30 07:47] Transmitt0r commented on #105678
Perfect, then I will take @vitorfhc's part 'test/e2e/autoscaling'

[2022-11-30 07:55] vaibhav2107 commented on #112059
/remove-lifecycle stale

[2022-11-30 07:56] taju20910 commented on #114128
@aimuz @chrisohaver Thank you guys for the input.
I have tried using ClusterIP service. Still I am not getting the required behaviour. My services look like below :
**C:\Users\Tajamul>kubectl describe svc ccs-fscc**
Name:              ccs-fscc
Namespace:         default
Labels:            app=ccs-fscc
Annotations:       <none>
Selector:          app=ccs-fscc
Type:              ClusterIP
IP Family

[2022-11-30 07:57] vaibhav2107 commented on #111539
/remove-lifecycle stale

[2022-11-30 08:29] aimuz commented on #114128
Here's my test in the cluster

create service

[code]

deploy v1 helloworld

[code]

deploy v2 helloworld

[code]

deploy client

[code]

get service

[code]

get ep

[code]

get pod

[code]

Validation calls
[code]

Multiple executions

[code]

[2022-11-30 08:50] FullyScaled commented on #113979
@msau42
We observed a similar issue but could only reproduce it with emptydir volumes.

Do you think https://github.com/kubernetes/kubernetes/issues/114047 is the same issue?

[2022-11-30 08:58] pierluigilenoci commented on #56582
@mar-pan @ghostsquad this ticket has been closed for 4 years, I assume that the chances of it being reopened are very low.

I share the hope with you but I assume that it is more effective to try to reopen a new one (linking the old one in the description). 😉

[2022-11-30 08:59] sfudeus commented on #76928
/remove-lifecycle rotten

[2022-11-30 09:13] levimm opened #114206 "kubelet managed /etc/hosts content is not synced when changes are made in initContainers"
### What happened?

I have the requirement to dynamically add some content in `/etc/hosts` for the pod (because it's not fixed ip so I couldn't put it in spec.hostAliases).

I try to edit the `/etc/hosts` in one of the initContainers, but the change is not shown in other non-init containers. Checking this `makeHostMount` [function](https://github.com/kubernetes/kubernetes/blob/b39bf148cd654599a52e

[2022-11-30 09:23] Chaunceyctx opened #114207 "the volume is not detached after the pod and PVC objects are deleted"
### What happened?

Hello, I've recently been testing the reliability of storage for k8s **v1.25.0.** A strange phenomenon occurs occasionally during the test: the volume cannot be detached after the PVC and pod are deleted(the reclaimPolicy of pv is delete）.
So I first went to check the corresponding `pv` and `volumeAttachment` objects and found that they both existed. Then I checked the kube-con

[2022-11-30 09:23] Chaunceyctx commented on #114207
/sig storage

[2022-11-30 09:26] Chaunceyctx commented on #114207
@saikat-royc @jsafrane https://github.com/kubernetes/kubernetes/issues/105899#issuecomment-951778471 we can't safely assume that the json is always there.

[2022-11-30 09:27] Chaunceyctx commented on #114207
ping @liggitt

[2022-11-30 10:10] JoeAshworth commented on #114142
You can see the pod metrics in the first screenshot

[2022-11-30 10:37] vaibhav2107 commented on #114206
/sig node

[2022-11-30 11:10] taju20910 commented on #114128
@aimuz I see you are using a single container port 5000 in helloworld clusterIP service. I am personally using two port for clusterIP service. Can it be the reason ?
apiVersion: v1
kind: Service
metadata:
  name: ccs-fscc
  labels:
    app: ccs-fscc
spec:
#  clusterIP: None
  selector:
    app: ccs-fscc
  ports:
  **- name: fs
    port: 5073
    protocol: TCP
    targetPort: 5073
  - name: fss

[2022-11-30 11:14] max8899 opened #114208 "client-gen is broken"
### What happened?

client-gen stop generating any code, might be broken

### What did you expect to happen?

generate clientset code

### How can we reproduce it (as minimally and precisely as possible)?

1. add example3 code
[code]
2. code-generator $ client-gen --clientset-name versioned --input-base '' --input k8s.io/code-generator/examples/crd/apis/example3/v1 --output-package k8s.io/code-gen

[2022-11-30 11:14] max8899 commented on #114208
/sig api-machinery

[2022-11-30 11:21] mrintern commented on #113756
@yy158775 I think your confused, the code you are referencing is from after this bug was patched in this commit: https://github.com/kubernetes/kubernetes/commit/f1693a02c46f79f8c90a4ef17c4a750034f21484

in this commit, prepareKey() was added. Yet, everyone seems to be having difficulty exploiting the bug in the vulnerable versions anyways, so who knows.

[2022-11-30 11:35] vaibhav2107 commented on #112125
/remove-lifecycle stale

[2022-11-30 12:21] malthe commented on #8876
What @soltysh said is elaborated on in this answer: https://stackoverflow.com/a/65982378/647151

Basically, use `deploy/<deployment-name>` as the name passed to `kubectl exec`.

[2022-11-30 12:24] exArax commented on #107598
Is the method of pod-deletion-cost currently implemented in a specific version of Kubernetes? It would be really helpful to have a configuration that would enable the deletion of specific replicas.

[2022-11-30 13:19] klueska opened #114209 "dynamic resource allocation: Extend CRI to accept CDI devices"
In 1.26 we use container annotations to pass CDI devices from the kubelet to CDI enabled runtimes. We should extend the CRI to understand / accept CDI devices directly.

[2022-11-30 13:22] klueska commented on #114209
/sig node

[2022-11-30 13:35] dims commented on #114192
thanks a ton @nikhita !

[2022-11-30 13:54] yy158775 commented on #113756
I referenced the code in the commit f1693a0 to verify that the prepareKey() is used to address the problem of '/../' in the path.
But according to other parts of Kubernetes,the path parts can't contain '/../'. So I think this bug can't be exploited and this commit maybe useless.Even if the prepareKey() method isn't used,the bug can't be exploited.
@mrintern

[2022-11-30 13:55] mrintern commented on #113756
Thanks for the clarification

On Wed, Nov 30, 2022 at 1:54 PM yangyong ***@***.***> wrote:

--
Nick

[2022-11-30 14:28] danwinship opened #114210 "no defined semantics for EndpointSlices of type "FQDN""
The API docs (and the end-user docs) state that "FQDN" is a valid value for EndpointSlice.AddressType, but nothing explains what the expected semantics of an FQDN slice are. And in fact, the expected semantics seem to be "[it gets ignored](https://github.com/kubernetes/kubernetes/blob/v1.26.0-rc.0/pkg/proxy/endpoints_test.go#L1590)".

We should document what FQDN slices are for, and if the answer

[2022-11-30 14:31] ddelange commented on #107598
please see the first three paragraphs of the issue description. regarding the current implementation, please see [docs](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#pod-deletion-cost)

[2022-11-30 14:40] mweibel opened #114211 "windows cpu maximum incorrect with more than one processor group"
### What happened?

When submitting a windows pod using resource limits on a node with more than one processor group, the specified `CpuMaximum` count is incorrect due to the usage of `runtime.NumCPU()` which does not take processor groups into account.

For example:
- node with 96 cores
- cpu limit 94
- `runtime.NumCPU()` returns `48`

This results in a CPU maximum of 10000 since the range is fro

[2022-11-30 14:41] mweibel commented on #114211
/sig windows

[2022-11-30 15:35] qixiaobo commented on #50632
The same problem , but cause some  serious consequences.
Nodejs was killed by oomkiller. But pod still alive.
Then the nodejs process restarted causing heavy io.
At last the kubelet process hang on slow io.
Then the node become zombie……

[2022-11-30 15:43] yubingjiaocn commented on #110714
For ratio calculation, can we include only the nodes which pods located in? Most of the Kubernetes cluster runs multiple workloads. In current implementation, CPU is counted in zonal level, which other workloads may interference the calculation.

Consider a extreme case. I run a compute-intensive workload on a single AZ with a lot of dedicated instances. Meanwhile I run another application on 3 AZ

[2022-11-30 15:44] #114113 closed

[2022-11-30 16:24] Nivedita-coder opened #114213 "[Failing test] capz-windows-containerd-master"
### Which jobs are failing?

master-informing

- capz-windows-containerd-master

### Which tests are failing?

- capz-e2e.Conformance Tests conformance-tests
- ci-kubernetes-e2e-capz-master-containerd-windows.Overall

### Since when has it been failing?

11-30 09:41 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#capz-windows-containerd-master

### Reason for failure (

[2022-11-30 16:25] leonardpahlke commented on #114213
@marosset @claudiubelu is it related to https://github.com/kubernetes/kubernetes/issues/113925?

[2022-11-30 16:26] neolit123 commented on #114197
please try asking on the support channels first

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-11-30 16:26] #114197 closed

[2022-11-30 16:39] liggitt commented on #56582
That requires access to information (content of the incoming and/or existing object) the Kubernetes authentication layer does not have. Authentication only has access to information in the request headers and URL.

Please don't do that, this is unlikely to make progress as a new issue that's a duplicate of this one. A proposal that works through the design along with the implications of such a cha

[2022-11-30 16:59] filiprejmus opened #114214 "Improve error handling for namespace deletions when not all server apis are retrievable"
### What happened?

Using terraform with GKE and tearing down my cluster the process gets stuck on namespace deletion, probably because the metrics.k8.io server gets torn down prematurely and not all resource types can be fetched. The process of deleting the namespace gets stuck using kubectl too.

### What did you expect to happen?

While the underlying issue is not kubernetes related, one could

[2022-11-30 17:27] marosset commented on #114213
This is being discussed in slack - https://kubernetes.slack.com/archives/CEX9HENG7/p1669827404622189

[2022-11-30 17:35] apelisse commented on #114162
It looks like you're not currently using an existing client library, and it's very unclear what you're trying to achieve. Can we step-back? What are you trying to do?

[2022-11-30 17:47] kow3ns commented on #113891
The behavior is intentional. For prior discussion see [35318](https://github.com/kubernetes/kubernetes/issues/35318#issuecomment-255519251) and [75957](https://github.com/kubernetes/kubernetes/issues/75957#issuecomment-566745460). To summarize enabling this is non-trivial and modifies semantics of a v1 API. If we want to do this I think we need a KEP.

[2022-11-30 17:56] nickvanwegen opened #114215 "Unstable TopologyAwareHints"
### What happened?

I have enabled TopologyAwareHints on some of my services and the hints in first look seems to work fine. Tho when for any of the external factor reasons the hints are removed they seem to never get restored again and I am left with no TopologyAwareHints at all on the services where it was enabled. (and still is)

This behavior in my case seems to be triggered when there is a sp

[2022-11-30 17:58] nickvanwegen commented on #114215
/sig network

[2022-11-30 18:32] jpbetz commented on #113594
@colega sorry, I should have paid more attention to your exact example. I got caught up thinking about the match rules :face_exhaling:

The `objectSelector` is the problem. It matches the root resource but not the scale resource. If the object selector is removed, the webhook is called.

[2022-11-30 18:53] jpbetz commented on #113594
This does bring up some interesting questions of how matching should work to support this use case better.

cc @maxsmythe

[2022-11-30 19:00] #114213 closed

[2022-11-30 19:08] pohly commented on #113773
Supporting `applyconfiguration -> go structs` would be enough for the use case I had in mind. The other direction just seemed nice to have.

I used applyconfiguration in some first revisions of the dynamic resource allocation PR, but then was told to use the helper methods and add more of them. The result is here: https://github.com/kubernetes/kubernetes/blob/d98e9620e37995597f25f9a5d7e228dcf9dbbb

[2022-11-30 19:48] tallclair commented on #101597
/reopen
/lifecycle frozen

[2022-11-30 19:57] tallclair commented on #101597
/cc @lavalamp

[2022-11-30 20:07] ialidzhikov commented on #114215
/assign @thockin @robscott

[2022-11-30 22:21] aojea commented on #114215
you can confirm that checking at the controller-manager logs, the endpointslice controller logs a message with the exact reason

[2022-11-30 22:24] lavalamp commented on #101597
Option 1 sounds easiest, even though consumers of the audit logs may have to change to record the new field. This almost turns replay attacks into a feature (easy to find related requests).

(The first alternative I thought of, signing or HMAC-ing the ID doesn't prevent replay and doesn't make it easy to see if that happens)

[2022-11-30 22:36] aojea commented on #114210
that is kube-proxy but slices can be consumed by others.

However, I've tried to find the motivation or some use cases but I couldn't find them https://github.com/kubernetes/kubernetes/pull/84091

[2022-11-30 22:39] aojea commented on #114128
just curious, why the need of 50/50 ? I mean, statistically in the long term it will get there, but why the need for such precision?

[2022-11-30 23:33] ichekrygin commented on #113891
Thank you for the feedback and the discussion links @kow3ns. I see those are pretty old :) - so I will comment on those here (rather than in the original respecive discussion issues).

I start with https://github.com/kubernetes/kubernetes/issues/35318#issuecomment-255519251, which belongs to the issue that is tangentially related to this issue. The comment, however, provides some relevant feedback

[2022-11-30 23:35] ichekrygin commented on #113891
Also, I probably should've started with this:

I am willing to create KEP as well as implement proposed change if we agree on the validity of this issue.