[2015-07-07 13:04] zmerlynn commented on #10825
Actually, I just realized my last suggestion in https://github.com/GoogleCloudPlatform/kubernetes/pull/10812#issuecomment-119083101 isn't the worst. The pull requests to master are essentially only there to get the tags backmerged, so we can construct a release branch like so:

[code]

and then a release branch backmerge branch like so:

[code]
and it'll still work.

[2015-07-07 13:27] liggitt opened #10828 "--ignore-not-found should not be needed for `kubectl delete all`"
https://github.com/GoogleCloudPlatform/kubernetes/pull/8628 introduced breaking behavior to `kubectl delete all --all`

It isn't good to require users to specify `--ignore-not-found` in the normal case of deleting all replication controllers (which cascade to pods), then getting NotFound errors on previously resolved pods. Anyone who had previously scripted `kubectl delete all --all` will now get

[2015-07-07 13:36] gmarek commented on #4971
PR related to this: #10667

[2015-07-07 13:38] gmarek commented on #10720
FYI: I'm trying to make max-pods fail on local machine for last 6 hours, without any success. I already run max-pods test over 10 times. Also Jenkins seems to be happy. This makes me believe it's a load related flakynes, hence increasing thresholds/allowing retries will solve the issue.

[2015-07-07 13:59] wojtek-t commented on #10756
Fixed by #10801

[2015-07-07 13:59] #10756 closed

[2015-07-07 14:00] gmarek commented on #10242
Some thoughts about @davidopp solution to this issue #10661. If we expect to have a lot of 0-limit pods in cluster, current solution may be problematic. What it does in practice in cluster with a lot of running 0-limit pods is to pretty much zero the resource-related score of all machines. This means that if some non-0-limit pod will come it will get assigned random node with enough resources (not

[2015-07-07 14:16] nkwangleiGIT opened #10831 "Fail to pull docker image from private registry server"
Hi, I'm facing the issue below when kubelet tried to pull image from a private registry, and need user authentication:
[code]
And I followed the document below, in section "Configuring Nodes to Authenticate to a Private Repository"

https://github.com/GoogleCloudPlatform/kubernetes/blob/4b60e4892fc3d9d593214afbcb79ca3e28301d7e/docs/images.md

But the issue still exist, seems .dockercfg file didn't

[2015-07-07 14:18] wojtek-t commented on #10127
@quinton-hoole

FYI: after merging #10819 the test already passed 10 times as part of gce-flaky. I will leave it there for one more day and move it to stable tomorrow if there won't be any failures until then.

[2015-07-07 14:34] mattmoor commented on #10807
Yes, Docker 1.7.0 now reads credentials from the `auths` field of `~/.docker/config.json`.

For (partial) back-compat, they read the new file (if present), and otherwise read the old file (if present).

I believe the best implementation for the Kubelet is to provider another default `credentialprovider`, which provides the entries from `~/.docker/config.json` to the Keyring, as we do for `~/.docke

[2015-07-07 15:00] roberthbailey commented on #10822
/cc @dchen1107

Is the docker process not running? monit should be configured to restart it when it's down (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/monit/docker) so if that isn't working then that's a cause for concern.

[2015-07-07 15:11] thockin opened #10834 "Make it possible to shell into any container, even if it has no shell"
Today `kubectl exec sh` depends on a shell being present in each container image.  I think we can do better.

What if we had something like `kubectl sh` which would run a statically linked busybox (or something like that) that was provided by the host node and made that enter the cgroups and namespaces and chroot of the container?  We already have a short list of features that only work if the hos

[2015-07-07 15:18] nkwangleiGIT commented on #10831
I also tried "Specifying ImagePullSecrets on a Pod", and it worked per namespace level. So I have to create a secret for each namespace and specify imagePullSecrets for each pod to be created.
Do we have global secret object that we can share across namespace if we don't support "Configuring Nodes to Authenticate to a Private Repository" any more?
Thanks!

[2015-07-07 15:24] satnam6502 commented on #10807
@thockin @lavalamp @quinton-hoole  what do we think about this re: V1.0 ?
Is this a significant usability issue that we should address it?
The fix seems low-ish risk?

[2015-07-07 15:27] thockin opened #10836 ""kubectl expose" output does not have IP"
[code]

The output of the expose command should include the cluster IP or at least say <not yet assigned> or something.  But IPs are assigned synchronously for now, so it SHOULD be available.

[2015-07-07 15:27] mattmoor commented on #10807
FWIW, if you don't fix it, then using "docker login" on Nodes to pull private images goes out the window when you upgrade to 1.7.0+, which presumably you will.

[2015-07-07 15:29] quinton-hoole commented on #10622
@ixdy are you busy debugging, or do we need to find someone else?

[2015-07-07 15:31] quinton-hoole commented on #10622
@ixdy Is it perhaps the GCE project in which you're running that has badly configured network routes or load balancers?

[2015-07-07 15:48] pietern commented on #10675
Thanks @skuzye, I tried running the original guide against the latest bits but there's some Salt files that don't compile. Instead of hacking that up to make it work again I'm now looking at taking the same approach the GCE scripts have and only use standalone Salt on every node rather than a master and several minions, removing the Salt interactions altogether.

[2015-07-07 16:02] mwielgus commented on #10764
@jlowdermilk Sure, I will take 4 unchecked from the top of the list (api-versions, cluster-info, describe, expose).

[2015-07-07 16:04] erictune commented on #10242
What does "best-fitting" mean in a cluster with many 0-limit pods?  0-limit
doesn't mean they need no resources, but that their resource usage is
uncertain.  When free resources are highly uncertain, then the "best
fitting" machine is not very different from a random machine.

On Tue, Jul 7, 2015 at 7:01 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-07-07 16:04] erictune commented on #10242
In summary, I think David's solution is good, and that we should not try to
be more clever in the face of uncertainty.

On Tue, Jul 7, 2015 at 9:04 AM, Eric Tune <etune@google.com> wrote:

[2015-07-07 16:14] erictune commented on #10797
It seems better than nothing.

On Mon, Jul 6, 2015 at 6:18 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-07-07 16:18] gmarek commented on #10242
Best fitting for non-0-limit pods. Davids PR assumes 0.1 CPU for each 0-limit pod for scheduling any pod, i.e. when we're looking for pod requiring 0.5 CPU, Nodes with 10 0-limit pods is equivalent to pod with 1 0.5 limit pod and 4 0-limit pods.

I'm not saying we should change it before v1. I'm saying that it's probably not desired behavior.

[2015-07-07 16:29] thockin opened #10838 "kubectl run misdiagnoses extra arg"
I mixed up `kubectl run` and `docker run` and got a bad error:

[code]

Clearly I specified the name.

First, useless error.  Second, we should support syntax like this to run a specific command.

[2015-07-07 16:43] #7871 closed

[2015-07-07 16:46] dchen1107 commented on #10659
I leave my cluster run over-night. node af12 has kubernetes dns pod running and invoke docker exec every 10s. The below is kubelet cpu usage on node af12 over last 18 hours:

![kubelet_cpuusage_af12](https://cloud.githubusercontent.com/assets/7740897/8551081/50302782-2489-11e5-9724-f91407d610cc.png)

There is slight cpu usage increase, but overall usage is ~2%. Based on this graph, it is not worth

[2015-07-07 16:50] roberthbailey commented on #9356
https://github.com/GoogleCloudPlatform/kubernetes/pull/10817 is still outstanding to finish this off.

[2015-07-07 16:51] bprashanth commented on #10720
That really depends on the nature of the bug (it could lead to container restarts if triggered the wrong way, or the additional-pod could hit at exactly the wrong limit etc). I'm ok with not fixing this asap but i would like a more stringent post condition verification when you have time :)

I have also not been able to repro, but wdyt about reducing the max pods (after profiling/discussion with t

[2015-07-07 16:59] lavalamp commented on #10659
I can no longer reproduce this, either. Will assume that #10763 fixed the vast majority of the problem. Thanks, Prashanth!

[2015-07-07 17:02] alex-mohr commented on #10659
Triaged to P0 in war room -- continually increasing CPU usage breaks clusters, so until we're sure it's fixed (and not just likely fixed), leaving open as P0.

FWIW, the CPU reporting is in some sense the most accurate with that caveat that it includes all of the VM's usage -- user level, system level, kernel level, and yes, hypervisor overheads -- and is reflective of what the user sees as availa

[2015-07-07 17:09] alex-mohr commented on #10659
Also, @dchen1107 or @lavalamp -- seems like there's a test or release coverage gap here?  Presumably this isn't something that'd make it out to an official borg or omega release.  Do either of you have enough context to file an issue and/or propose something that would catch these next time?

[2015-07-07 17:11] bprashanth commented on #10659
We can modify the soak test to catch leaks

[2015-07-07 17:17] alex-mohr commented on #10659
Just remembered: discussed a couple weeks back, see also discussion at tail of #10471 @quinton-hoole

[2015-07-07 17:22] bgrant0607 commented on #10628
@feihujiang Separate PR for each is a good approach. Note, however, we won't be able to review and merge them until after 1.0 is cut.

[2015-07-07 17:34] mbforbes commented on #10826
Hi Marek,

Was this changed recently? When we tried this originally it worked. Now, I just tried doing a rolling update to the same template, and it immediately fails with status "PAUSED" and status message "Errors: unknown".

The name `restartNodes` was chosen to attempt to be future-provider-agnostic, though I agree `recreateNodes` is better.

[2015-07-07 17:40] bgrant0607 commented on #10693
Happy to see this proposal, but we're out of time for 1.0, unfortunately. Will get back to it after 1.0.

[2015-07-07 17:40] dchen1107 commented on #10807
Here is my personal opinion: we should fix this asap, but it is not a 1.0 blocker. We are planning to release 1.0 with docker 1.6.2 by default, and later upgrade to docker 1.7.X.

[2015-07-07 17:43] jbeda opened #10842 "`kubectl get pods` ports column mis-aligned with --all-namespaces"
Note how any secondary ports are lined up with the IPs column and not the ports column.

[code]

[2015-07-07 17:44] bgrant0607 commented on #9356
Rats. Missed the UI redirect:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/ui/installsupport.go#L28

[2015-07-07 17:44] mattmoor commented on #10807
@dchen1107 SGTM

[2015-07-07 17:49] gabrtv commented on #8008
/subscribe

[2015-07-07 17:51] davidopp commented on #10242
It's really hard to do anything sensible for 0-limit pods. They could just as easily use 0.01 core as 16 cores on a 16-core machine. I considered several other ideas (including ideas suggested by you, Prashanth, Eric, Brian, etc.) and these alternatives all seemed at least slightly worse. (I should say I think Prashanth was pushing for this approach all along, though the thing he implemented was d

[2015-07-07 17:57] jlowdermilk commented on #10385
Late updating. I did eventually work around the blindspot. It seems the reason I couldn't get logs from `pkg/apiserver/proxy.go` to show up is that the actual call to the proxy handler is made thru [UpgradeAwareProxyHandler](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/rest/proxy.go#L40). Still not sure why that causes logs to blackhole but not worth digging i

[2015-07-07 17:58] mbforbes commented on #10826
Actually, I'm trying it now, and it definitely sometimes works (recreates the instances). If this functionality isn't expected to work (or isn't supported) we can switch this to the equivalent MIG recreate-nodes call. I'll do this.

[2015-07-07 18:12] svennela opened #10846 "Not able to deploy kubernetes on GCE"
Hi,

I am trying to deploy kubernetes on GCE and running into below issue.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md#getting-started-with-your-cluster

gcloud compute networks create --project firstproject-989 default --range 10.240.0.0/16

Traceback (most recent call last):
  File "/Users/svennela/workspace/tools/workspace/tools/google-cloud

[2015-07-07 18:20] satnam6502 commented on #9356
Argh! Sorry about that.

[2015-07-07 18:20] yujuhong commented on #10831
I am not aware of a global secret object...

There has been some discussion in #7954. Some suggestions include trying paths such as `/.dockercfg`, `/var/lib/kubelet/.dockercfg`, etc. One https://github.com/GoogleCloudPlatform/kubernetes/issues/7954#issuecomment-115241561 suggested using `https://` instead.

[2015-07-07 18:24] davidopp commented on #10242
Oh I forgot, one other consideration I gave was that f1-micro only has 0.6GB of RAM and although we don't use f1-micro by default, some people might use it for ondes, so I didn't want to use default RAM that was too large a fraction of an f1-micro. Otherwise I might have set the default RAM a little higher.

[2015-07-07 18:26] roberthbailey commented on #10846
What version of python do you have installed? If you run a python shell and try to decode a string into hex, do you get the same error? On my machine:

[code]

[2015-07-07 18:34] mbforbes opened #10850 "DNS broken after GKE upgrade"
The Jenkins job for GKE upgrade, step 3 (e2e) has been failing since the 4:40pm (PST) run yesterday because of the following DNS problems:

[code]

This is **after** the cluster is upgraded.

[2015-07-07 18:34] mbforbes commented on #10850
+cc @yujuhong @quinton-hoole @ixdy for triage / suggestions; @yujuhong mentioned #10711 as a possibility.

[2015-07-07 18:40] roberthbailey commented on #10850
This was almost certainly broken by https://github.com/GoogleCloudPlatform/kubernetes/pull/10487 which was merged at 3:35pm yesterday.

[2015-07-07 18:41] roberthbailey commented on #10850
/cc @satnam6502 @brendandburns

[2015-07-07 18:46] satnam6502 commented on #10850
cc @marekbiskup

[2015-07-07 18:48] quinton-hoole commented on #10850
Yup, my money would be on #10487.  Should not be too difficult to track down the bug, given that GCE is working just fine.  I'd advise against rolling back #10487 if feasible, and rather debug the GKE end of the problem.

[2015-07-07 18:48] nikhiljindal commented on #10797
Filed https://github.com/swagger-api/swagger-ui/issues/1455 to discuss the slowness with swagger-ui team.

[2015-07-07 18:50] satnam6502 commented on #10850
Staring at the test it is not clear if anything is wrong with it -- perhaps we need to look at the upgrade code.

[2015-07-07 18:51] marcospedreiro opened #10852 "Container logs not appearing in console, skydns crashes with exit code 2"
EDIT:

Solution to the logging problem found: https://groups.google.com/forum/#!topic/google-containers/D6RdGOqxKP4

-----
I am running a kubernetes cluster on the GCE, cluster has a pod running a nodejs server. I can see the logs for the server with `kubectl logs podName`, however I cannot see the web server logs on the console. The web server creates logs with `console.log()`. The pod is managed

[2015-07-07 18:52] mikedanese opened #10853 "kubectl create -f with filename is broken"
[code]

[code]

[code]

[2015-07-07 18:54] roberthbailey commented on #10850
I believe that many of the e2e tests begin to fail if DNS isn't working, which to me implies that this is a problem with the test since the failures are isolated to just these two tests.

As a side note, I think that this failure is actually correct in the sense that it is catching a legitimate behavioral change between the latest release (0.20.2) and head -- if someone was running code that depen

[2015-07-07 18:56] gmarek commented on #10720
Exact number for what? I believe we think that we want to run 30 user pods/node, and add some additional slack for addons. Current 100 is set up to allow stress tests, as we cannot have specific test Kubelet config (#8802 was never merged).

[2015-07-07 18:57] dchen1107 commented on #10850
@yujuhong also reported the test failure after upgrade test due to no node is ready in test cluster. We checked it, and found cbr0 is not configured because master never allocate ip range to node, and docker refuse to start.

[2015-07-07 18:58] roberthbailey commented on #10850
The code at head selects DNS pods from the system namespace. The code from the 0.20.2 release selects DNS pods from the default namespace. Right now this test is running the e2e test code from the latest release against a cluster that has been upgraded to HEAD.

[2015-07-07 18:59] mbforbes commented on #10850
Thanks for the debugging, all—as Robby said, this catches a behavioral change, which is good. To have the tests pass, we'll want to run the updated tests after an upgrade (this is my next task). I'll mark this as release-note and close it.

[2015-07-07 19:00] #10850 closed

[2015-07-07 19:00] mikedanese commented on #10853
It works when I pipe but not with filename. @jlowdermilk @bgrant0607
[code]

[2015-07-07 19:04] gmarek commented on #10242
I can't find PR, what happened with the idea of changing default 1024 CPU shares that 0-limit pods get?

[2015-07-07 19:06] mikedanese commented on #10853
broke int this commit https://github.com/GoogleCloudPlatform/kubernetes/commit/697e07f864a09a4346475ef00d602b522aea564a cc @andronat

[2015-07-07 19:14] andronat commented on #10853
Did you try to add an extension .json to the file? We filter for file extension

[2015-07-07 19:15] mikedanese commented on #10853
ahhh ok. so working as intended. it used to autodetect :( ... thanks @andronat

[2015-07-07 19:19] svennela commented on #10846
I am able to get pass that error now i am running into below error.

Starting master and configuring firewalls
ERROR: (gcloud.compute.disks.create) Some requests did not succeed:
 - The resource 'projects/firstproject-989/zones/us-central1-b/diskTypes/pd-ssd' was not found

[2015-07-07 19:22] bgrant0607 commented on #10853
That was unintended.

The file extensions should only be used for deciding which files in a directory to process. For a single file, any extension should be allowed.

We don't actually infer the content type from the extensions. For stdin and http sources, for instance, there are no extensions.

cc @jlowdermilk

[2015-07-07 19:26] svennela commented on #10846
I have upgrade to paid account. it works..:)

[2015-07-07 19:26] #10846 closed

[2015-07-07 19:30] timothysc commented on #6514
+1

[2015-07-07 19:31] erictune commented on #8892
Still flaky for me.

[2015-07-07 19:34] quinton-hoole commented on #10659
@bprashanth Totally agree - soak tests are good place to do this sort of thing, and relatively straightforward.  In fact, irrespective of soak tests, an e2e test that checks resource usage and/or response latency of system component (see discussion at end of #10471), and fails if these are out of specification would be both simple to write a generally very useful.  It could/would:

1. run concurre

[2015-07-07 19:35] ixdy commented on #10622
I'm not actively debugging. I don't really know where to look.

Nothing about the GCE project used for the pull request Jenkins looks any different from the other GCE projects.

[2015-07-07 19:38] ixdy commented on #10622
It also seems like these tests aren't failing anymore?

`Services should serve a basic endpoint from pods` is looking flaky, but I haven't checked the post-commit Jenkins to see if it's flaky there too.

[2015-07-07 19:55] yujuhong opened #10858 "Nodes not being able to register after running cluster upgrade test"
From https://github.com/GoogleCloudPlatform/kubernetes/issues/10850#issuecomment-119303146, @dchen1107: "test failure after upgrade test due to no node is ready in test cluster. We checked it, and found cbr0 is not configured because master never allocate ip range to node, and docker refuse to start."

My cluster encountered a similar case that @timstclair originally described in https://github.co

[2015-07-07 20:04] dchen1107 commented on #10858
I marked this as p0 for triage. cc/ @roberthbailey @lavalamp since you two looked at a similar issue last week: #10368

[2015-07-07 20:10] quinton-hoole opened #10860 "Write e2e test to check system resource utilization and performance"
#10659 for further details.

Copy of comment there:

"Totally agree - soak tests are good place to do this sort of thing, and relatively straightforward. In fact, irrespective of soak tests, an e2e test that checks resource usage and/or response latency of system components (see discussion at end of #10471), and fails if these are out of specification would be both simple to write and generally ve

[2015-07-07 20:16] thockin commented on #10760
NEW: If multiple Pods use the same RBD volume in read-write mode, it is possible data on the RBD volume could get corrupted. This problem has been found in environments where both apiserver and etcd rebooted and Pod were redistributed.

A workaround is to ensure there is no other Ceph client uses the RBD volume before mapping RBD image in read-write mode. For example, rados -p poolname listwatcher

[2015-07-07 20:18] #9356 closed

[2015-07-07 20:18] quinton-hoole commented on #8892
@etune on our Jenkins CI, it has passed the last ~150 runs without a single failure - i.e. 100% success rate.  Is it perhaps something to do with your test environment?   What percentage failure rate are you seeing?

[2015-07-07 20:19] quinton-hoole commented on #8892
@erictune ^^

[2015-07-07 20:20] saad-ali opened #10861 "kubectl describe pod should print lastState terminated reason"
**Problem**
When a container is killed and restarted because, for example, it hit memory limits, the `kubectl describe pod` output only shows an increasing `Restart Count` but no reason for why the container was killed:
[code]

We can find the reason by inspecting the pod object (`lastState` shows as `terminated` with `reason: OOM Killed`):
[code]

**Suggested Solution**
Modify `kubectl describe p

[2015-07-07 20:22] quinton-hoole commented on #10622
OK, I guess I'll take it then.

[2015-07-07 20:23] dchen1107 commented on #10659
@quinton-hoole Thanks for filing the issue. @yujuhong and @vmarmol has been doing resource benchmarking for both kubelet, kube-proxy and docker. They collected a lot of stats, but not published because the source base is keeping change. I just talked to @yujuhong earlier this morning to measure those usages against latest kubelet. We could carry this effort along with soak test and #10860.

@alex-

[2015-07-07 20:24] davidopp commented on #10242
It's #10655

[2015-07-07 20:26] dchen1107 commented on #7840
I will take a look at this now

[2015-07-07 20:26] bprashanth commented on #10659
Think there's still a cpu issue here. The docker inspect command continuously appends exec ids to the container info. Decoding container json for pods with exec probes gets more and more intense over time (we do at least one docker inspect per container every sync). More context: https://github.com/docker/docker/issues/14444.

We can work around this by reusing execs: https://github.com/GoogleClou

[2015-07-07 20:29] jlowdermilk commented on #10853
Fix is pretty straightforward (ignore file extensions when dealing with single file); I have it working with manual test, just adding unit test. Will send shortly.

[2015-07-07 20:32] bgrant0607 commented on #10853
Thanks, but this is v1.0-post, so no rush

[2015-07-07 20:36] erictune commented on #8892
2 of 2 failing.

[2015-07-07 20:36] justinsb commented on #8892
I would love to see log if you have them @erictune

[2015-07-07 20:45] erictune commented on #8892
https://gist.github.com/erictune/19d96228c25609f0d20b

[2015-07-07 20:49] bgrant0607 commented on #10097
cc @JanetKuo

[2015-07-07 20:50] timothysc commented on #8119
@lavalamp etcd was always in HA configuration, even before.  load-balancing apiservers was the only real change.

[2015-07-07 20:51] caesarxuchao commented on #10168
I'll work on the next 10 examples, i.e. guestbook-go to logging-demo

[2015-07-07 20:52] bprashanth commented on #10720
Checking that one last pod is not running seems insufficient. you can still allow 200 pods to start on a single node and the last one would fail.

Out of curiousity, which ones? seems like a waste of time if people are debugging failures at a 100 pods per node

[2015-07-07 20:55] lavalamp commented on #10807
We'd also need to make sure pull secrets work with docker 1.7.X before upgrading.

[2015-07-07 21:00] quinton-hoole commented on #10807
@dchen1107 I agree.

[2015-07-07 21:04] jlowdermilk commented on #10616
1. Was fixed by @mikedanese in #10510

2. This is less of a problem as the only way to set an invalid current-context is to edit kubeconfig out of band. If you do manage that, it will default to using local server
[code]

@mwielgus the error you saw likely resulted from having an older version of local kube-apiserver running when you tried `kubectl get` with nonexistent current-context. I think we

[2015-07-07 21:05] ixdy opened #10868 "cluster frequently failing to initialize on Jenkins"
We're seeing clusters frequently fail to initialize on the pull request Jenkins; I'm seeing similar failures (though less frequently) on the post commit Jenkins runs, too.

The failures usually appear like the following:

[code]

I ssh'd in to the nodes and master on this particular build as it was failing to come up, and saved everything from /var/log from each.

I haven't examined everything in

[2015-07-07 21:10] cjcullen commented on #10792
I was able to reproduce the connection refused failures pretty consistently (~75%) prior to @wojtek-t's 2 fixes by running:
[code]

I've now run it 10 times without seeing the "connection refused" error, but I did see the "connection reset" failure once on the "proxy logs on node" test.

[2015-07-07 21:19] #10825 closed

[2015-07-07 21:24] dchen1107 commented on #10659
@bprashanth docker exec has resource leakage (both cpu and memory) is known issue. If you take a look at the graph I posted above, there is slightly increasing too over time. Docker claimed that the fix is included in 1.7 release.

At this moment, I am hesitated to take any dramatic change for 1.0 cut this Friday. Based on the data I collected so far, I prefer to leave as is.

[2015-07-07 21:27] saad-ali commented on #7840
Sample log from failure:
[code]

[2015-07-07 21:28] bgrant0607 commented on #10132
cc @erictune

[2015-07-07 21:30] alex-mohr commented on #10868
From my desktop:
% docker pull gcr.io/google_containers/kube-apiserver:9c5b6dabad3eff8bd9e3af646cc8bd45
FATA[0000] Tag 9c5b6dabad3eff8bd9e3af646cc8bd45 not found in repository gcr.io/google_containers/kube-apiserver

From https://pantheon.corp.google.com/project/google-containers/kubernetes/images/list:
kube-apiserver	  9680e782e08a1a1c94c656190011bd02

I don't know how you built the pull request

[2015-07-07 21:31] jameskyle commented on #9773
Same here, looking at it.

[2015-07-07 21:52] jameskyle commented on #9773
It's likely because vmrun is not in your path. Patch incoming, but you can add /Applications/VMware\ Fusion.app/Contents/Library to your PATH as a workaround in the interim.

[2015-07-07 21:54] gmarek commented on #10720
IIUC RedHat were running Density tests for larger numbers. @wojtek-t @smarterclayton

[2015-07-07 21:58] ixdy commented on #10868
The pull request Jenkins is supposed to be starting up a cluster with the kubernetes components it just built. Is that supposed to be using gcr.io at all?

More data for comparison: a kubelet.log from a cluster which succeeded to start up on the pull request jenkins:
[code]

[2015-07-07 22:06] justinsb commented on #8892
Ah!  NodePort on GCE requires you to open the firewall yourself (@erictune)

[2015-07-07 22:08] mvdan opened #10874 "kubectl reports no pods after fresh deploy"
On master, running `./hack/dev-build-and-up.sh` works and deploys fine. The grafana UI works just fine. Accessing `/api/v1/pods` does show the current pods, but `kubectl get pods` returns an empty list:

[code]

As you can see, the rc list is also empty. Weird because everything seems to work just fine, and the API reports these just fine. But kubectl won't.

Tried the same process on v0.20.2 and

[2015-07-07 22:10] saad-ali commented on #7840
The `STEP: pod logs:` indicates two things 1) that the test only tried once to fetch the logs, and 2) that either the call returned an empty log or an error (which it looks like the test does not check for). See [test/e2e/util.go](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/util.go#L906)

[2015-07-07 22:11] yujuhong commented on #10659
For a long-running cluster, the cpu/memory increase could be pretty serious, especially since our dns add-on relies on exec for liveness probe.

At the very least, we should document this behavior. It'd be better if we can change our cluster add-ons to not use this feature.

[2015-07-07 22:12] quinton-hoole commented on #8892
@erictune For what it's worth, we saw one failure of this test on Jenkins just after my comment above.  The first one in quite a while.  Possibly some underlying GCE issue, but I've not yet had time to look into it in any further detail yet.

<internal Jenkins> /kubernetes-e2e-gce/7459/testReport/junit/(root)/Kubernetes%20e2e%20suite/Services_should_be_able_to_change_the_type_and_nodeport_settings

[2015-07-07 22:15] dchen1107 commented on #10874
Try kubectl get services, rc, pods --all-namespaces. A recent merged PR moved all addons to a different namespace: kube-system

[2015-07-07 22:15] yujuhong commented on #10874
We recently moved all cluster add-ons from `default` to a different namespace `kube-system`. If you run `kubectl get pods --all-namespaces`, it should show you all pods in all namespaces.

[2015-07-07 22:18] mvdan commented on #10874
Makes sense, thanks for the quick reply and apologies for the noise.

[2015-07-07 22:18] #10874 closed

[2015-07-07 22:20] lavalamp commented on #10858
I'm pretty sure the upgrade process is doing something bad to /var/lib/kubelet/kubeconfig. It also breaks kube-proxy's kubeconfig. Still investigating.

[2015-07-07 22:40] dchen1107 commented on #10659
@brendandburns and @vishh How badly we switch back to use nsinit instead of docker exec?

[2015-07-07 22:48] bprashanth commented on #10659
IMO the more serious problem here is the inclusion of the exec ids in the inspect output. Whatever leaks they have, they'll fix, and we'll roll out a new version of docker. Doesn't sound like they're even planning to fix the inspect, so anyone with an n1-standard-1 cluster will basically end up with unfathomable cpu starvation issues if they don't periodically restart the kubelet.

At the very lea

[2015-07-07 22:49] alex-mohr commented on #10659
If we're using 2% more cpu a day, that's a pretty bad experience after not-too-many days.  And I assume kubelet restarts won't fix, since it's a docker issue?

I don't understand why nsinit wasn't working for us.

And if the only exec usage at the moment is to health check our dns addon, kube2sky, that we 100% control (?), which cannot be health-checked except via exec, perhaps we could add a /hea

[2015-07-07 22:50] alex-mohr commented on #10659
And if restarting kubelet is a workaround, then min bar is a cronjob that whacks it once every N hours.

[2015-07-07 22:51] roberthbailey commented on #10858
/cc @cjcullen

[2015-07-07 22:51] bprashanth commented on #10659
I believe we'd need to restart the containers themselves to clear the exec ids

[2015-07-07 22:52] roberthbailey commented on #10858
/cc @mbforbes

[2015-07-07 22:52] JanetKuo commented on #10097
I'll update docs/ui.md by adding a section "Using the UI" which describes why user need to use the UI, and what they can do with it (along with some screenshots).

cc @timstclair @lavalamp

[2015-07-07 22:53] roberthbailey commented on #10858
Did you do your upgrade with a kube-push rather than a MIG rolling upgrade?

[2015-07-07 22:58] yujuhong commented on #10858
I ran `go run hack/e2e.go -v  -push -test`, so kube-push was involved before running the test. I believe the cluster upgrade test itself used MIG rolling update.

[2015-07-07 23:01] thockin opened #10878 "Exec/Liveness probes do not have a period parameter"
Instead we get whatever kubelet's sync period is.

[2015-07-07 23:04] dchen1107 commented on #10659
Ok, to stop the bleeding, I am going to deprecate docker exec and remove livenessProber from dns pod for now. @bprashanth proposed to try to change docker exec to http prober for 1.0

[2015-07-07 23:04] amygdala commented on #9417
In a recent PR I modified the GCE getting started info so that both are now referenced again, with some clarifying text. (sorry, missed referencing this bug).  Closing this.

[2015-07-07 23:04] #9417 closed

[2015-07-07 23:05] thockin commented on #10659
Discussion, summary:

1) dawn: disable liveness probe for DNS
2) prashanth: whip up an exec-to-healthz container, takes command and period, publishes status to healthz code.
3) if (2) is successful, rebuild kube-dns with it
4) dawn: document exec probes as broken in v1
5) tim: try to add fuel to Docker #14444
6) later: decide on exec probes, drop 'docker exec' if issue goes nowhere and rely on som

[2015-07-07 23:06] bgrant0607 commented on #10781
Related: #9553

[2015-07-07 23:08] dchen1107 commented on #10878
forked from #10659

[2015-07-07 23:09] lavalamp commented on #10858
I'll try and see if kube-push.sh is the culprit.

[2015-07-07 23:09] quinton-hoole commented on #9062
Yes, I think that we can close this now.  All reboot tests are pretty stable (1 failure in 180 runs, in total):

1. Reboot each node by dropping all inbound packets for a while and ensure they function afterwards (No known failures. Stability 100 %)	4 min 5 sec	Passed
1. Reboot each node by dropping all outbound packets for a while and ensure they function afterwards (No known failures. Stability

[2015-07-07 23:09] #9062 closed

[2015-07-07 23:11] brendandburns commented on #10659
we could also use a TCP socket health check on port 53 as a poor man's health check.

[2015-07-07 23:12] roberthbailey commented on #10858
There was some discussion about setting up a jenkins continuos test for the kube-push upgrades but I don't know that it ever happened.

[2015-07-07 23:15] yujuhong commented on #10809
@KSanthanam, `SessionAffinity` allows the backend of a service to be chosen based on the client IP, so that the same client goes to the same backend. See [Services.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md#virtual-ips-and-service-proxies) for more details. It looks like this should suit your case of service-> pod mapping.

[2015-07-07 23:17] thockin opened #10882 "non-localhost liveness probes"
It might be valuable to have another agent in the system, hopefully not on the same machine as a pod-under-test, do additional liveness probes.

[2015-07-07 23:19] thockin commented on #10659
This would be only marginally better than no liveness probe - I am not so
much worried about the server not listening as I am about it not producing
results.

On Tue, Jul 7, 2015 at 4:11 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-07-07 23:21] brendandburns commented on #10659
yeah, though is bouncing the container really going to help it produce results?

[2015-07-07 23:21] lavalamp commented on #10858
Somehow the upgrade test seems to have left my master in a broken state...

[2015-07-07 23:22] aronchick commented on #7554
@pmorie Sure - let's say I wanted to do something that required root access to the box / elevated access to my database as the container started (e.g. run a migration, check a mount, etc). I would not want this readable by the account that runs the web server on that container, but I would want it to be available on the container when it starts.

[2015-07-07 23:23] lavalamp commented on #10858
Yeah, my master VM's kubelet.log is full of stuff like:

[code]

[2015-07-07 23:24] thockin commented on #10659
maybe.  It helped in the past when skydns could not talk to etcd because it
raced at startup.  I really want multi-container or whole-pod bounces, but
that is a larger feature (already filed)

On Tue, Jul 7, 2015 at 4:21 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-07-07 23:26] satnam6502 opened #10885 "kubectl describe pod does not show events"
I created a fresh cluster.
I have pods:
[code]
The pods have events:
[code]
But these events are not reported by `kubectl describe pod`
[code]
Is this because events are stored in the default namespace, but with the namespace change they are no longer being found? Idea by @saad-ali

[2015-07-07 23:27] satnam6502 commented on #10885
@jlowdermilk @bgrant0607

[2015-07-07 23:28] jeffbean opened #10886 "[contrib] ansible setup creates bad certificate"
The current `contrib/ansible` in master now creates a 'bad certificacte' on CentOS7. This started happening after PR #10627 but do not know if it is directly related.

Logs from master components

[code]

[2015-07-07 23:28] jeffbean commented on #10886
@eparis

[2015-07-07 23:32] yujuhong commented on #10858
More specifically, my e2e test failed after the "node upgrade" step in the test. The relevant logs are here:
https://gist.github.com/yujuhong/fd42dce0cb8e21eef8c5

I am not sure if kube-push was the culprit since the cluster was fine until the middle of the cluster upgrade test.

[2015-07-07 23:34] yujuhong commented on #10858
Your case is more similar to the one described in #10868

[2015-07-07 23:38] dchen1107 commented on #10659
@alex-mohr on why not switch back to nsinit:  Kubelet still has that support if docker exec is not available. We could fall back to nsinit. But containervm image removed nsinit recently after we switched to docker native exec. Also this introduces another dependency on our node too.

[2015-07-07 23:42] quinton-hoole commented on #7972
These tests are still failing in our continuous soak tests.  Re-opening...

e.g. jenkins:  /job/kubernetes-soak-continuous-e2e/1845/

[2015-07-07 23:47] jlowdermilk commented on #10885
Re events being stored in default namespace, your inital output shows events for the fluentd pod are in the kube-system namespace (namespace is first column), so that isn't it. Trying to repro now.

[2015-07-07 23:48] lavalamp commented on #10858
kube-push.sh by itself did not seem to cause a problem.

[2015-07-07 23:49] caesarxuchao commented on #10168
I'll work on the next 5 examples, meteo to openshift-origin

[2015-07-07 23:56] dchen1107 opened #10891 "Heapter doesn't collect stats from master node"
Today heapster is enabled by default for both GKE and GCE for monitoring, but it doesn't collect stats from master node. The reason is master node is never register itself to apiserver. I remembered either me or @vishh  filed the issue before. But back then, the decision is we are going to use collectd + GCM as the default solution for both GKE and GCE. But decision was changed later, then I filed

[2015-07-07 23:57] satnam6502 commented on #10885
Pods in the default namespace seem to be fine.
[code]

[2015-07-07 23:58] dchen1107 commented on #10891
#10760

[2015-07-07 23:59] satnam6502 opened #10893 "kubectl describe pods has poorly aligned headers for events"
[code]
need to be better aligned.
@jlowdermilk
[code]

[2015-07-08 00:01] lavalamp commented on #10858
This keeps totally breaking my cluster. Can the e2e test not be run against a non-e2e cluster? I will set up a dedicated e2e cluster and see if I have better results that way.

[2015-07-08 00:01] alex-mohr commented on #10891
@a-robinson has the most GKE context on monitoring.

[2015-07-08 00:01] yujuhong commented on #10803
@gghonor, are you using the host volumes you created yourself?

If this is the case, kubelet does not clean the volumes since they are external to kubelet. If not, kubelet should clean the volumes before container GC kicks in.

[2015-07-08 00:02] lavalamp commented on #10868
The containers like "gcr.io/google_containers/kube-apiserver:9c5b6dabad3eff8bd9e3af646cc8bd45" are never pushed to a repository, so pulling them is futile. They are shipped (scp or salt or something) directly to the VMs when we start a cluster.

[2015-07-08 00:05] yujuhong commented on #10858
@lavalamp, I am going to tear down my cluster. Is there anything you want to check before that?

[2015-07-08 00:08] lavalamp commented on #10858
I'm pretty sure we can rule out kube-push.sh, it worked fine for me (or at least didn't break my cluster).

[2015-07-08 00:13] smarterclayton commented on #10720
@pmorie had an env that was pushing a hundred per (I think?)

On Jul 7, 2015, at 5:55 PM, Marek Grabowski <notifications@github.com>
wrote:

IIUC RedHat were running Density tests for larger numbers. @wojtek-t
<https://github.com/wojtek-t> @smarterclayton
<https://github.com/smarterclayton>

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issu

[2015-07-08 00:18] caesarxuchao commented on #10168
I'll work through all the examples.

[2015-07-08 00:20] alexanderguzhva commented on #10522
this error is gone in 0.21.0 rc (39b013a)
[code]

[2015-07-08 00:22] quinton-hoole opened #10897 "Cluster health check sometimes fails due to failed kibana-logging pods (Ginkgo timed out waiting for all parallel nodes to report back! )"
On a healthy test cluster the health check looks like this:

[code]

On a failed cluster it looks like this:

[code]

[2015-07-08 00:25] JanetKuo commented on #10168
I'll work on docs/devel/

[2015-07-08 00:30] saad-ali opened #10899 "PD E2E tests fail in soak with `Pod cannot be started due to exceeded capacity`"
PD tests fail with `Pod cannot be started due to exceeded capacity` in continuous soak-test

e.g. jenkins: /job/kubernetes-soak-continuous-e2e/1845/

[code]

[2015-07-08 00:30] saad-ali commented on #7972
Looks like these failures are caused by: `Pod cannot be started due to exceeded capacity`

Which is not the same problem as the bugs identified and fixed in this issue or issue #9994 (namely disks not getting attached or detached).

So let's track this in a separate issue: I opened #10899

[2015-07-08 00:30] #7972 closed

[2015-07-08 00:33] lavalamp commented on #10868
When I start a regular cluster and use:

[code]

I repro this. When I start an e2e cluster and test like this, I don't:

[code]

[2015-07-08 00:35] #7840 closed

[2015-07-08 00:37] alexanderguzhva opened #10900 "0.21.0 rc, vagrant: kube-dns failing"
39b013a
1) fresh installation without any problems, using vagrant as a cloud provider
2) kube-up.sh
3) vagrant ssh master

from kubernetes-master:
[code]

[code]
kubelet (even without any arguments) on both master and minions produces the same error as above

[2015-07-08 00:40] lavalamp commented on #10645
Should we grab this new container by default? It should be a one-line change now.

[2015-07-08 00:47] quinton-hoole commented on #10897
Possibly related to #10868 ?

[2015-07-08 00:49] quinton-hoole commented on #8892
@erictune did you solve your problem?

[2015-07-08 00:54] yujuhong commented on #10900
@alexanderguzhva, I think you meant to run `kubectl`, instead of `kubelet`. Running `kubelet` starts another kubelet process, which would fail due to insufficient args and already bound ports.

[2015-07-08 01:15] alexanderguzhva commented on #10900
whoops 8)
anyway, kubectl shows no pods and no rcs, this is different from the previous versions
[code]
Maybe, this is expected, but I am sure that previous versions contained kube-dns pods. But I also see that minions constantly try to restart skydns (every 30 seconds), so I wasn't sure whether apiserver is the root of the problem
[code]

[2015-07-08 01:20] yujuhong commented on #10900
@alexanderguzhva, we recently moved all cluster add-ons pods from the `default` to the `kube-system` namespaces. You could run `kubectl get pods --all-namespaces` to see pods across all namespaces.

This doesn't seem right. Liveness probe should not fail. Is the problem reproducible?

[2015-07-08 01:25] alexanderguzhva commented on #10900
@yujuhong yes. Also, there were similar problems in 0.19.1, check #10158

[2015-07-08 01:25] jlowdermilk commented on #10893
What version of kubectl was it? I tried with one built from head and didn't see similar alignment issue.

[2015-07-08 01:32] nikhiljindal commented on #10755
Latest heapster image pushed.

[2015-07-08 01:32] #10755 closed

[2015-07-08 01:32] yujuhong commented on #10900
@alexanderguzhva, could you post a more complete version of kubelet.log (both master and minion) on http://gist.github.com ? We would have a more complete picture and can compare with the previous issue #10158. Thanks.

[2015-07-08 01:39] jlowdermilk commented on #10885
Dug into it a bit and this is what I've found so far:
1. the uid of the pod is not matching the involvedObject uid for events in the `kube-system` namespace. Not sure why, but that would explain describe not showing any events for a particular pod; the uids don't match.
2. after poking at it for a couple minutes all events in the kube-system namespace disappeared. Do we garbage collect events afte

[2015-07-08 01:45] yujuhong commented on #10885
fluentd is a static pod. Does this happen to regular pods as well?

Events are dropped after an hour (or so).

[2015-07-08 01:49] jlowdermilk commented on #10885
I tried creating a regular pod in the `kube-system` namespace and the uid of the pod matches the event's involvedObject.uid. Could this be an issue with static pods unrelated to the namespace?

[2015-07-08 01:53] quinton-hoole commented on #10792
It still seems to be failing occasionally in Jenkins, even after #10820 was merged.

e.g.

job/kubernetes-e2e-gce/7461/
job/kubernetes-e2e-gce-parallel/2989/
job/kubernetes-e2e-gce-parallel/2974/

It's quite possible that the failures are for other reasons - I've not looked into it deeply.

[2015-07-08 01:54] pmorie commented on #1899
Adding use-case from #9815:

It's a pretty common test to want to know how fast a cluster can resize a replication controller for some specific pod template. It would be great if there was a kubectl command that could:

1.  Resize some replication controller R to some new size N
2.  Watch R and time how long it takes the running replica count to go to N

[2015-07-08 01:54] pmorie commented on #9815
Updated; closing.

[2015-07-08 01:54] #9815 closed

[2015-07-08 01:54] jlowdermilk commented on #10885
The comment here https://github.com/GoogleCloudPlatform/kubernetes/blob/8813c955182e3c9daae68a8257365e02cd871c65/pkg/kubelet/pod_manager.go#L29
seems to indicate the uid mismatch is expected for static pods. I think the simplest workaround is to remove strict uid checking from the pod describer in `kubectl`. That way describing a mirror pod would show events for the static pod. @yujuhong does that

[2015-07-08 01:58] jameskyle opened #10906 "MAC address in minion-1 vagrant image is set and differs from actual MAC"
The /etc/sysconfig/network-scripts/ifcfg-en33 configuration file declares a MAC address that does not match the one the device receives.

[code]

[2015-07-08 02:00] feihujiang commented on #10628
@bgrant0607  Thanks, I see.

[2015-07-08 02:01] yujuhong commented on #10885
@jlowdermilk, thanks for jogging the memory. Not having events is not a new issue for static pods (i.e., not a regression).

There might be some repercussions if we go this route. If user deletes a pod and then recreate it, user would see events associated with the previous pod. This is not desirable. Given that fluentd is the only static pod besides the master components, I'd suggest we leave it

[2015-07-08 02:08] alexanderguzhva commented on #10900
@yujuhong  here you are https://gist.github.com/alexanderguzhva/ecfce4551895a93be731
hope it helps!

[2015-07-08 02:10] jlowdermilk commented on #10885
Ok we can defer this fix until later then. @satnam6502, in the meantime if not getting fluentd pod events via `kubectl describe pods` makes your debugging sufficiently painful, the one line change to disable strict uid checking is here: https://github.com/jlowdermilk/kubernetes/commit/5cebebe2ffa1316dbb9c723b83a95afd54387f2c

[2015-07-08 02:10] bgrant0607 commented on #10123
I'm going to treat this issue, #10121, #10119, #3153, #8524, and others as a single issue:

Need a task-oriented user guide for managing applications.

Concept-oriented docs and examples can provide supporting material.

Side note: we should separate the concept-oriented examples (e.g., examples/liveness) from application-oriented examples (e.g., examples/cassandra). I'd put toy example apps (e.g.

[2015-07-08 02:10] bgrant0607 commented on #10121
See #10123

[2015-07-08 02:10] bgrant0607 commented on #10119
See #10123

[2015-07-08 02:15] gghonor commented on #10803
@yujuhong No.. volumes were created by kubenetes API server.

@jimmidyson LGTM. Will it be adjusted next release?

[2015-07-08 03:13] bprashanth commented on #10899
It's failing a fitness predicate on the node. 2 possibilities come to mind:
1. Race with static pod creation, where the scheduler assigned the pod as the mirror pod gets created, and the kubelet rejects it based on the new static pod.
2. Wrongfully reported node capacity, where the node reports 0, 0 limits based on which the scheduler happily assigns pods (https://github.com/GoogleCloudPlatform/ku

[2015-07-08 03:18] jlowdermilk commented on #9944
Regarding differentiating between usage errors and other errors, [`cmdutil.UsageError`](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/util/helpers.go#L251) is what commands should be using to indicate errors with user input.

[2015-07-08 03:20] KSanthanam commented on #10809
Thank you @yujuhong . I tried this but, I can see the traffic is being distributed.
Below is my service.yaml (properly indended, but not showing up here). My Nginx receives the request and forwards. I have also given my NGINX.conf which forwards the IP Address. What am I doing wrong here? Thank you so much in advance.

apiVersion: v1
kind: Service
metadata:
labels:
    name: control
  name: contro

[2015-07-08 03:32] justinsb commented on #10868
If it is useful, kube-master-addons is the service which runs on the master and `docker load`s the images.  It looks like it should log to `/var/log/kube-master-addons.log` on an initd system.

[2015-07-08 03:35] thockin commented on #10809
Can you clarify how you are testing this?   Session affinity works for me and is covered by tests.

Can you read back your Service with kubectl get -o yaml?

[2015-07-08 03:36] brendandburns opened #10908 "AWS is broken in 0.20.2"
Several problems:
  * /var/lib/kubelet/kubeconfig fails to install
  * Lots of races in Docker startup cause docker to fail and salt to get borked up.

[2015-07-08 03:39] thockin commented on #10803
You said "I used data volume of host instead of container inside" which
says you used a hostPath mount - correct?  That is explicitly NOT managed
by kubernetes - you've gone to the host, you get to manage it.

But you also said "Due to aufs’s low performance" - an emptyDir volume is
NOT stored on aufs, but it IS managed with the pod.

On Tue, Jul 7, 2015 at 7:16 PM, gghonor <notifications@github.c

[2015-07-08 03:39] justinsb commented on #10868
There's been a lot of churn in `git log -p cluster/saltbase/salt/kube-master-addons/`.  I myself remember finding an issue with systemd having a circular dependency here, but I think/hope that is only systemd systems.  I would bet on a race between docker & kube-master-addons as to which starts first; maybe kube-master-addons.sh should itself wait for docker to be ready?  I think @dchen1107 is the

[2015-07-08 04:18] thockin commented on #10908
@justinsb known?

On Tue, Jul 7, 2015 at 8:37 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-07-08 04:22] justinsb commented on #10908
I've definitely been focused on the systemd patches & 15.04.  But I wasn't aware that things were as bad as that on "mainline".  I can have a look tomorrow morning.

[2015-07-08 04:22] brendandburns commented on #10908
Fixed in https://github.com/GoogleCloudPlatform/kubernetes/pull/10877

[2015-07-08 04:22] brendandburns commented on #10908
@justinsb no need to look (except to review the PR ;)

[2015-07-08 04:23] thockin commented on #8190
for v2: generalize services to something more like storage claims - ingress pools or something.

for v2: something like equiv classes for storage (for replication controllers) and dynamic provisioning.

[2015-07-08 04:29] satnam6502 commented on #10885
This does not cause me much pain at all. It is a purely an ecumenical matter.

[2015-07-08 04:45] thockin commented on #8190
Re: getting rid of internal, how would it play out with something like a v2beta1 API?  We fork v1 to v2beta1, but it's not a stable API yet, so we can accumulate breaking changes in there.  But all of our internal code will still use v1 structures.  At some point we say v2beta1 is frozen and let people outside the core cabal use it.  But all of our internal code will still use v1 structures, so we

[2015-07-08 05:41] roberthbailey commented on #10013
A while back, @jayunit100 was also interested in doing this.

[2015-07-08 06:23] wojtek-t commented on #10792
It's quite possible that the failures are for other reasons - I've not looked into it deeply.

I'm pretty sure the reason is different here. I will try to look into it deeper today.

[2015-07-08 06:25] satnam6502 commented on #10893
No idea why it works now.
[code]

[2015-07-08 06:25] #10893 closed

[2015-07-08 06:25] satnam6502 commented on #10893
@saad-ali

[2015-07-08 06:42] jimmidyson commented on #10803
The issue as i understand it is dangling volumes, that is volumes that are created via a VOLUME directive in Dockerfile with no corresponding kubernetes volume in spec which therefore has no host path & is not cleaned up by the kubelet. These volumes reside in /var/lib/docker/vfs/. This waste of disk space has the potential to cause out of space errors on the node & therefore mage the node unstabl

[2015-07-08 07:00] satnam6502 commented on #10893
@jlowdermilk the best way to fix any kubectl command problem is to report it to you and then somehow it is just magically sorted.

[2015-07-08 07:49] nkwangleiGIT commented on #10831
hi yujuhong,
thanks for your help The following approach works for me:
1. Copy .dockercfg to system root folder -> "/", not user home folder
2. Add https to the index server
I think we need to refine the documentation or fix the code, thanks!

[2015-07-08 08:41] gmarek opened #10915 "Increase verbosity of Jenkins flaky suite"
IIUC flaky suite consists of tests that require work. I think that increasing default verbosity to V(4) for this suite could help with debugging.

@zmerlynn @ixdy @davidopp

[2015-07-08 08:45] #10744 closed

[2015-07-08 08:54] gmarek commented on #10720
I've seen a couple of failures during the night (EU time), which suggests they are probably load related (US day). I'll need to enable more, and pretty verbose logging to debug further. PR doing this is #10916 and an issue #10915 for increasing verbosity for flaky test suite.

[2015-07-08 08:56] wojtek-t commented on #10792
@quinton-hoole @davidopp

 I took a bit deeper look and it seems that after adding #10820 all of the failures of Proxy tests are caused by some NOT ready node at the end of the test. Also other failures are caused by it.

@dchen1107: FYI
 I looked into Kubelet logs and it seems that from time to time some Kubelet is restarted from time to time
- example: job/kubernetes-e2e-gce-parallel/2989/
- Kub

[2015-07-08 08:57] wojtek-t commented on #10720
@gmarek - did you look whether there were some nodes restarted during tests that failed? It's possible that the problem might be similar to what I described in https://github.com/GoogleCloudPlatform/kubernetes/issues/10792#issuecomment-119504182

[2015-07-08 10:10] gmarek commented on #10720
Yup. Kubelet restarted few times at the beginning, but not after tests started to run

[2015-07-08 10:24] Naresht-vedams opened #10918 "Load balancing is not working properly"
We want to test kubernetes load balancing. So we create a 2 node cluster thats runs 6 replicas of our container. Container has running apache2 server and php and it will print pod name if we browse hostname.php

**Cluster details:**
172.16.2.92  -- master and minion
172.16.2.91 -- minion

**RC and service details:**

**frontend-controller.json:**
[code]
**frontend-service.json:**
[code]
**Pod deta

[2015-07-08 11:40] satyajitpadhyewit opened #10919 "Creating a privileged container"
I want to start a privileged container by Kubernetes. I did follow earlier posts https://github.com/GoogleCloudPlatform/kubernetes/issues/391 and I did the following:-
* written privileged:true in the pod json file
* updated allow_privileged:true in /kubernetes/cluster/saltbase/pillar/privilege.sls
* added --allow_privileged=true in /etc/default/kubelet & kube-apiserver

Still unable to start a pr

[2015-07-08 12:42] erimatnor opened #10921 "Kube-proxy hides real IP"
Exposing a frontend service (e.g., a request router) via a nodePort or Kubernetes Loadbalancer service hides the real source IP of clients. This is undesirable for logging purposes, client black-listing, and affinity to lower-tier services that a proxy connects too (usually achieved by hashing the IP source address and port).

Ideally, kube-proxy should support standard headers, such as X-Forwarde

[2015-07-08 12:44] wojtek-t commented on #10127
There are still 2 kind of failures that are happening:

    Test 5: Remove the iptables rules, make sure they come back.
    Manually removing iptables rules
    Verifying the VIPs from the host
    waiting for service3 at 10.0.175.78:80
    Verifying the VIPs from a container
    waiting for service3 at 10.0.175.78:80
    wget: download timed out
    ERROR: (gcloud.compute.ssh) [/usr/bin/ssh] exi

[2015-07-08 13:54] bcbroussard commented on #10097
Thanks @janetkuo, let me know if there is any support you need from me.

[2015-07-08 14:15] wojtek-t commented on #10798
This should hopefully be fixed by #10880

At least - I didn't see any failure of that test since that PR was merged.

cc @saad-ali

[2015-07-08 15:13] bprashanth opened #10926 "Cluster dns should survive etcd restart"
We can either give dns etcd its own volume or restart kube2sky as well so it repopulates records if the  etcd restarts @thockin @ArtfulCoder

[2015-07-08 15:16] jimmidyson commented on #10803
@gghonor As the volume dir you mentioned is `/var/lib/docker/vfs/dir/` I assume you didn't specify any volume in your Kubernetes pod spec but did use the `VOLUME` directive in your Dockerfile?

@thockin As @gghonor mentions `/var/lib/docker/vfs/dir/` I guess this isn't a Kubernetes managed volume as that would be in the Kubernetes volume dir, right? That dir is used by Docker for volumes specified

[2015-07-08 15:22] daizuozhuo commented on #4348
The jsonpath template has already done. Please see PR #9296 . In addition to the original jsonpath function, I add range and expression union function. It's a superset of jsonpath.

[2015-07-08 15:51] jayunit100 commented on #10013
yeah i have a pr pending for k8petstore soak #8145

[2015-07-08 15:55] thockin commented on #10921
This is effectively a dup of #3760, I'm going to close this in favor of that.  You are correct, though, for what it's worth :)

[2015-07-08 15:55] #10921 closed

[2015-07-08 15:55] yujuhong opened #10928 "Scheduler assigns pods to nodes with insufficient resources"
When the node clearly didn't have enough resources, scheduler still binds the pod to the node. The pod was eventually rejected by kubelet due to `CapacityExceeded`.
This might be working as intended, but is there any reason not to reject the pod upfront when scheduling?

[code]

/cc @davidopp

[2015-07-08 15:57] kgrvamsi opened #10929 "Kubernetes Cluster Provisioning through AWS takes a long time"
I'm trying to create a kubernetes cluster on aws but seems like it gets stuck at the Cluster initialization .Infact i waited 2 hrs on this but it keeps on adding the dots :(

    Output
    4 minions started; ready
    Waiting 3 minutes for cluster to settle
    ..................Re-running salt highstate
    Waiting for cluster initialization.

    This will continually check to see if the API fo

[2015-07-08 15:57] thockin commented on #10919
Did you confirm that kubelet and apiserver are actually running with the
right flags?  What error are you getting?

On Wed, Jul 8, 2015 at 4:41 AM, satyajitpadhyewit <notifications@github.com>
wrote:

[2015-07-08 16:01] satyajitpadhyewit commented on #10919
Being a newbie, can you tell me how to confirm that kubelet and apiserver are running with right flags?
Since I have only done the above updations as mentioned in the question.

[2015-07-08 16:02] bcbroussard commented on #10645
@lavalamp yes we should. I'll make a PR with the update

[2015-07-08 16:04] roberthbailey commented on #10929
I think @brendandburns may have a PR outstanding that fixes this.

[2015-07-08 16:05] thockin commented on #10918
Thanks for a very detailed question.

Your networking is suspicious to me.  Specifically the IPs assigned to pods
seem to be from two totally different ranges on the nodes

All of the pods assigned to node 172.16.2.91 get pod IPs in the 172.17.0
range.

All of the pods assigned to node  172.16.2.92 get pod IPs in the 10.1.64
range.

It's possible that you did this on purpose and manually configure

[2015-07-08 16:14] jlowdermilk commented on #10885
Summarizing issue: [static pods](https://github.com/GoogleCloudPlatform/kubernetes/blob/8813c955182e3c9daae68a8257365e02cd871c65/pkg/kubelet/pod_manager.go#L31) expose status to apiserver via a mirror pod, but events are reported with the uid of the static pod. Thus `kubectl describe` will never show events for static pods because the uid of the event's `involvedObject` doesn't match the uid of th

[2015-07-08 16:16] erimatnor commented on #10921
Ok, good to know. #3760 looks good.

[2015-07-08 16:18] rroopreddy opened #10931 "kubernetes/examples/cassandra (v1.0.5) cluster setup not working"
1. Followed the README.md for cluster setup with 4 nodes using

        $ kubectl scale rc cassandra --replicas=4

2. Following status command supposed to list all 4-nodes in cluster

        $ kubectl exec -ti cassandra -- nodetool status

Instead of 4-nodes, we **see just 1-node**.

Seems like the "KubernetesSeedProvider" is not doing the needed cluster discovery?

[2015-07-08 16:19] yujuhong commented on #10803
This makes sense. Thanks for the explanation :)

I see the point of removing the dangling volumes. Even though kubelet doesn't manage those volumes, it doesn't hurt to remove them.

[2015-07-08 16:20] ArtfulCoder commented on #10926
I believe if we give etcd container an emptydir in the podspec, then a restart should give etcd the same dir again. If this is true , it should be a 5 line fix in the pod spec.

[2015-07-08 16:37] thockin commented on #10926
Yeah, I think an emptyDir is exactly the right fit.  Abhishek, do you have
time?

On Wed, Jul 8, 2015 at 9:20 AM, Abhi Shah <notifications@github.com> wrote:

[2015-07-08 16:39] thockin commented on #10803
Do we have a full understanding of their lifetime, though?  We don't
control them, I don't see how we can know when to delete them.

Docker's volume implementation is just too under-defined to actually be
useful.

On Wed, Jul 8, 2015 at 9:19 AM, Yu-Ju Hong <notifications@github.com> wrote:

[2015-07-08 16:46] #10522 closed

[2015-07-08 16:50] JanetKuo commented on #10168
I'll work on docs/getting-started-guides/

[2015-07-08 16:51] yujuhong commented on #10885
Thanks for the summary!

Most of the components in kubelet are not aware of the existence of mirror pods (i.e. they look at the static pods only). We can fix this, but it's going to be v1.0-post for sure.

[2015-07-08 16:51] zmerlynn commented on #10676
I realized pretty quickly that the problem with just having a floating N-1 job is that the existing flaky/skiplist setup wouldn't transport very easily. It would work if we actually setup jobs for each release branch, though, and since the cadence of our release branches is expecting to slow to O(3mo) per https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/versioning.md, this should

[2015-07-08 16:51] zmerlynn commented on #10676
(#10932 is a test balloon for release-0.21 to vet this process. Trying to get the cherry-pick process in place as well.)

[2015-07-08 16:52] davidopp commented on #10928
I wonder if this has the same root cause as #10899

[2015-07-08 16:52] goltermann commented on #10659
Moving from P0 to P1 and to v1.0-post milestone.  A workaround is in, and that's enough for v1.

[2015-07-08 16:59] #10299 closed

[2015-07-08 17:00] dchen1107 commented on #10659
#10760 for release document

[2015-07-08 17:01] #3059 closed

[2015-07-08 17:03] davidopp commented on #10928
@yujuhong Do you have any additional information on how to reproduce this?

[2015-07-08 17:05] dchen1107 commented on #10335
All addons have default resource limit associated with. The document is addressed through #10779, and updating resource limit for addons is addressed through #7046. I am closing this issue now.

[2015-07-08 17:05] #10335 closed

[2015-07-08 17:05] davidopp commented on #10899
Yeah, my changes to the priority function should not have anything to do with this.

[2015-07-08 17:06] bprashanth commented on #10928
In theory it shouldn't even hit the priority functions if the pod can't fit on any node. If it does, it will get assigned to a random node. The function that the kubelet uses to reject pods is the same one the scheduler uses, so I suspect the pods given to it are different on either side (the scheduler side vs the kubelet side), which might be because of the mirror pod race in #10899.

Can you ver

[2015-07-08 17:07] mbforbes commented on #10858
Unsure how much I can help, but if you want to see lots of previous runs of a cluster-upgrade test on gce immediately post-turnup:
http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-upgrade-gce-step2-upgrade/

We don't test doing both a push *and* an upgrade.

We do have a push-only test that I am not maintaining (focusing only on upgrades for the immediate future). T

[2015-07-08 17:11] timothysc opened #10934 "Integrate Red Hat stack + e2es into jenkins run"
For some time now we have maintained a bare-metal RHEL-Atomic cluster on our end which served two primary purposes.
1. Evaluate performance & HA, and feedback issues upstream.
2. Verify stack sanity by running e2e gauntlet on our stack.

#2 has proven to be untenable, as we seem to eat a large number of changes that break for various reasons, and we're left hunting to feedback what has broken the

[2015-07-08 17:13] yujuhong commented on #10928
I suspected race condition due to the one mirror pod (fluentd) too. If that was true, the creation of mirror pod were severely deleted because RC created, and kubelet rejected 14 heapster pods in between.

[code]
Among the pods, only `webserver-xxx` pods don't have resource limits specified as they are in a namespace that e2e upgrade test created (which didn't get cleaned up correctly...).
Note th

[2015-07-08 17:14] quinton-hoole commented on #10915
Good idea as soon as we have bandwidth.

[2015-07-08 17:14] zmerlynn commented on #10934
:+1:

[2015-07-08 17:16] bprashanth commented on #10928
also https://github.com/GoogleCloudPlatform/kubernetes/issues/10397

[2015-07-08 17:25] yujuhong commented on #10397
There could be a race condition: fluentd is a static pod, which means that kubelet would start containers for it, and then create a mirror pod via apiserver. The scheduler would only see the resources consumed by fluentd when it sees the mirror pod. Before that, scheduler may try to assign pods that node without knowing that it'd be rejected (since kubelet knows what's actually running on the node

[2015-07-08 17:29] jiangyaoguo commented on #10818
It also occurs when use "kubectl get services --all-namespaces".  Later I'll make a pr to fix this.

[2015-07-08 17:49] jayunit100 commented on #10934
We have a cloud friendly vagrant-ansible recipe which can be extended to provision GCE boxes #10706 .  We just need to

- add GCE support to vagrantfile
- add E2E playbook to contrib/ansible/

Then from their google guys can take over and deploy it on jenkins?

[2015-07-08 17:49] ArtfulCoder commented on #10926
sure, I will do it.

[2015-07-08 17:53] jiangyaoguo commented on #10818
This format error is because of missing space for "namespace" field when there's --all-namespace option.

[2015-07-08 17:59] quinton-hoole commented on #10622
@krousey kindly stepped up to take this one - reassigned.

[2015-07-08 18:03] saad-ali commented on #10798
Yep, this should be fixed by #10880. There have been no failures of the `...should be able to override the image's default ...` tests since that PR was merged.

Please reopen #7840 if we notice failures again.

[2015-07-08 18:03] #10798 closed

[2015-07-08 18:03] kgrvamsi commented on #10929
To add some more information the docker daemon on the minions is not running

[2015-07-08 18:03] quinton-hoole commented on #10622
Note that these DNS failures are not limited to the pull request builder.  Our normal Jenkins runs are seeing similar errors:

e.g.

1. job/kubernetes-e2e-gce-parallel/3023/
1. job/kubernetes-e2e-gce-parallel/3035/
1. job/kubernetes-e2e-gce-parallel/3028/

I'm increasingly convinced that there are some wrong network configs (or quota limits) on the underlying GCE projects.  Checking...

[2015-07-08 18:07] yujuhong commented on #10831
@nkwangleiGIT, I'm glad that it worked out for you. Would you like to submit a PR to fix the document?

[2015-07-08 18:10] lavalamp commented on #10645
Hm, we need an e2e test that verifies that the UI returns 200's...

[2015-07-08 18:11] quinton-hoole commented on #10622
No, there's nothing obviously wrong in the underlying GCE project (although it would be good for @krousey to double-check me).

Back to you @krousey ...

[2015-07-08 18:16] yujuhong commented on #10831
By the way, I think when $HOME was not declared, docker defaults to searching the current directory for the .dockercfg file. In this case, it happens to be '/'

[2015-07-08 18:16] #9915 closed

[2015-07-08 18:17] #1571 closed

[2015-07-08 18:25] #10730 closed

[2015-07-08 18:27] mvdan opened #10938 "Cluster monitoring configs don't work with startup-time InfluxDB"
After `./hack/dev-build-and-up.sh`, heapster is working fine and grafana shows all the panels correctly. If I take down the heapster and replace it with the influxdb monitoring config, the panels with `label 'name:heapster'` start complaining that there are no datapoints.

This is how I replaced heapster:

[code]

Editing the panels to use the `k8s-app:heapster` instead of `name:heapster` gets the

[2015-07-08 18:28] vmarmol commented on #10938
FYI @vishh, @saad-ali

[2015-07-08 18:29] yujuhong commented on #10868
Not sure if this is the same issue, but my apiserver wouldn't start on the new waster when running the cluster upgrade test (with a freshly created e2e cluster).

apiserver couldn't be started because the image is not available. `ps` showed that docker was trying to load kube-apiserver.tar for over 20 minutes.
root      3224  0.0  0.3 132688 11852 ?        Sl   18:04   0:00 docker load -i /srv/sal

[2015-07-08 18:34] dchen1107 commented on #10868
@yujuhong mind to add me to your GCE project? I can ssh into your master and take a look if the problem is occurring.

[2015-07-08 18:34] a-robinson commented on #10891
We may just have to let GCE and GKE differ here, since heapster won't be able to reach the master's kubelet on GKE. It makes sense to re-add this for GCE, though.

[2015-07-08 18:37] yujuhong commented on #10868
Done.

[2015-07-08 18:45] saad-ali commented on #10938
This should be fixed by GoogleCloudPlatform/heapster/pull/383
Kubernetes should get the fix once Heapster version is rev'd

[2015-07-08 18:49] roberthbailey commented on #10919
Log into the master and run `ps -elf | grep kube-apiserver` and look at the command line flags. Log into a node and run `ps -elf | grep kubelet` and look at the command line flags. Do you see `--allow_privileged` being passed in?

[2015-07-08 18:50] davidopp commented on #10899
I didn't look at the test yet, but is there more than one node? If so, why didn't the pod reschedule onto another node once the resources for the mirror pod showed up?

[2015-07-08 18:51] jrcrawfo opened #10943 "Mesos Getting Started - quay.io/coreos/etcd:v2.0.12 docker image error"
When trying to get Kubernetes running on top of Mesos, the docker image pulled from quay.io/coreos/etcd:v2.0.12 (as referenced in the getting started guide) doesn't expose its ports correctly or is misconfigured.

When the container is running and you run the following command to test, the connection is refused from the server:

`curl -L http://${KUBERNETES_MASTER_IP}:4001/v2/keys/`

The current w

[2015-07-08 18:54] krousey commented on #10622
The framework occurs in the generic framework cleanup and is not specific to DNS or probe tests. It's waiting for all nodes to be ready. For each failure, the same node is in a not ready state with the reason: `network not configured correctly`

[2015-07-08 19:01] krousey commented on #10622
It seems this might be a new failure and unrelated to the original.

[2015-07-08 19:03] mvdan commented on #10938
Cool, thanks @saad-ali!

[2015-07-08 19:08] gmarek commented on #10915
Do we have any estimate on that?

[2015-07-08 19:50] ArtfulCoder commented on #10926
Dawn is helping out. Thanks Dawn!

[2015-07-08 19:51] bprashanth commented on #10899
It should, I think the test fails because one of the pods end up in Failed. In reality the rc would recreate it, and the scheduler would reassign to free host.

[2015-07-08 19:56] davidopp commented on #10899
So why didn't that happen?

[2015-07-08 20:00] bprashanth commented on #10899
The test failed based on the pod status https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/util.go#L471

[2015-07-08 20:07] brendandburns commented on #10908
Closed by #10877

[2015-07-08 20:07] #10908 closed

[2015-07-08 20:10] JanetKuo commented on #10168
I'll work on all other documents.

[2015-07-08 20:13] krousey commented on #10622
That reason is given here https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2066 and the boolean that determines it is only modified here https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1951 . Neither of the log messages in that function show up in the kubelet log, so I assume the branch that executed was https://github.com/

[2015-07-08 20:18] krousey commented on #10622
cc @cjcullen @roberthbailey

[2015-07-08 20:28] timothysc commented on #10934
@jayunit100 Well it's more then that really... We need to maintain the images and be able to rev the components of the stack as well.

For example, I would ideally like to have RHEL 7 images running
- commit of k8s
- etcd - latest
- flannel - latest
- docker - latest

Ideally what I would like is an upstream atomic image that kept up to date on the latest, then just update the image itself and not

[2015-07-08 20:29] caesarxuchao commented on #5331
There is a feature request for rendering the model.description here: https://github.com/swagger-api/swagger-ui/issues/1430

[2015-07-08 20:29] JanetKuo commented on #10168
After all related PRs are merged, we can close this.

[2015-07-08 20:32] jayunit100 commented on #10934
agree +1

[2015-07-08 20:50] dchen1107 commented on #10868
Ok, I know what is going on here. docker load sometimes hang forever. Restarting docker daemon should fix the issue. I know how to fix this, but not sure if we want to make such change now for Friday cut. How about document this as a known issue, and include a proper fix for v1.1?

cc/ @alex-mohr @roberthbailey @brendandburns @erickhan Again,  #5011 is for dev cluster upgrading, shouldn't be used

[2015-07-08 20:51] saad-ali commented on #10893
Ya, I'm not seeing it anymore either. Believe in the @jlowdermilk magic

[2015-07-08 20:52] JanetKuo commented on #10764
I will take kubectl label.

[2015-07-08 20:54] alex-mohr commented on #10868
@dchen1107 is a short-term workaround to change the salt and/or ssh scripts to do more docker restarts?  If so, seems lowish risk to production k8s, and would help the developer experience in the near term?

[2015-07-08 21:06] dchen1107 commented on #10868
@alex-mohr Updating existing script to detect the issue and restart docker is easy. My concern is that I also need to introduce another dependency between master component manifest update and docker image load at such late time.

[2015-07-08 21:07] dchen1107 commented on #10868
Ok, let me quickly come up a pr for you guys to review.

[2015-07-08 21:10] dchen1107 commented on #10792
Kubelet restart because of /healthz failure?

[2015-07-08 21:11] dchen1107 commented on #10792
cc/ @saad-ali Saad, could you please take a look at this one to figure out why kubelet restart so frequently.

[2015-07-08 21:16] bgrant0607 commented on #3153
There is some guidance here:
https://github.com/GoogleCloudPlatform/kubernetes/issues/1702#issuecomment-117839206

[2015-07-08 21:21] yujuhong commented on #10792
monit checks every two minutes.

monit checks the [existence of the pid file and /healthz](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/monit/kubelet)

[2015-07-08 21:25] saad-ali commented on #10899
@brendanburns noticed this issue 28 days ago: https://github.com/GoogleCloudPlatform/kubernetes/issues/9312#issuecomment-110784030

Meaning it's unlikely to be introduced recently.

[2015-07-08 21:37] #10034 closed

[2015-07-08 21:40] #9932 closed

[2015-07-08 21:48] caetanovendrami opened #10955 "Fixed masquerading rule on minions"
Kubelet on minions is creating an iptables rule for masking any connections except for 10.0.0.0/8 which is a fixed rule in pkg/kubelet/container_bridge.go.
I think it should be the ${CLUSTER_SUBNET} (which varies from provider to provider). Due to that rule I can't connect to an outside service on a different network (eg 10.100.0.0/16) which is out of my cluster address space. As a current workaro

[2015-07-08 21:50] mikedanese commented on #10268
I will work on a couple of these if no one else is.

[2015-07-08 21:55] krousey commented on #10622
I think we have two separate issues here. In

* job/kubernetes-e2e-gce-parallel/3023/
* job/kubernetes-e2e-gce-parallel/3035/
* job/kubernetes-e2e-gce-parallel/3028/

We seem to have a single flake in node readiness that gets reported multiple times for each cleanup that happens to run at that time. It happens in the middle of a test run and then goes away. The root cause of this is unknown. @cjcu

[2015-07-08 21:58] quinton-hoole commented on #10268
Thanks @mikedanese, that would be great!

[2015-07-08 22:07] caesarxuchao commented on #10897
this [one](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/2023/consoleFull#) has elasticsearch logging failing.

[2015-07-08 22:10] yujuhong commented on #10397
All the default add-on + fluentd pods require exactly 1100m cpu shares, which is just over the node's capacity.
If you have only one node, there is one pod deemed to be unable to run:
[code]
If kubelet cannot creates the mirror pod in time for fluentd, scheduler would schedule all others pods to the same node. Later on, when kubelet realizes that it got assigned pods that exceeded its capacity, it

[2015-07-08 22:11] mikedanese opened #10956 "enforce json formatting convention in docs and examples"
It would not be very hard to enforce json formatting like we to go formatting. We could use json_pp (perl, shipped with ubuntu), python -m json.tool (ships with ubuntu), or jq (binary distributions, featurefull, available in the default ubuntu ppa repo)

[2015-07-08 22:16] yujuhong commented on #10928
I updated https://github.com/GoogleCloudPlatform/kubernetes/issues/10397#issuecomment-119746287.

In summary, I think this is a corner case where only one node was available AND mirror pod creation was slow. This should not happen often, but it seems that our cluster upgrade test is capable of triggering many bugs and corner cases.

This could just be a clarity issue because the scheduler log look

[2015-07-08 22:20] davidopp commented on #10397
Thanks for investigating and for the thorough explanation!

[2015-07-08 22:25] philk commented on #10659
docker/docker#12899 is probably relevant to this issue. We ran into a number of weird issues (cpu, memory, stalls, failure to exec) when using docker exec for a periodic health check (not even using k8s).

[2015-07-08 22:26] bprashanth commented on #10397
It would be cool if we didn't create the cluster addon rcs till all nodes are ready (thought we already did this in kube-up). People will be confused if they see CapacityExceeded zombie pods, and nodes will rarely come up at the same time.

[2015-07-08 22:34] quinton-hoole commented on #9312
Assigning to @davidopp to report on test status in my vacation absence.

[2015-07-08 22:39] quinton-hoole commented on #10657
@brendandburns kindly offered to dig into this one today

[2015-07-08 22:44] saad-ali commented on #10792
[code]

Looks like the first monit `healthz` check was successfully handled after the last restart. Meaning either there were no `healthz` checks before that, or kubelet was rejecting them.

[2015-07-08 22:47] davidopp commented on #10899
It would be good to see if this is happening soon after the cluster is created, or in steady-state. If it's the former, then it seems very likely the same as #10397. If it's the latter, then the cause might be different.

[2015-07-08 22:51] saad-ali commented on #10899
Doesn't appear to be happen *immediately* after cluster is created.
Cluster was created on Jul 7, 2015 at 2:44 PM
Bunch of E2E tests are run and pass.
This failure happens on Jul 7, 2015 at 3:49:07 PM

[2015-07-08 22:53] yujuhong commented on #10899
The test does not use RC. It creates pods and writes the spec.NodeName directly. It bypasses scheduler completely.

The problem becomes why the node has so many pods running that it couldn't admit one more pod.

[2015-07-08 22:56] brendandburns commented on #10657
Looking at a failing apiserver log:
[code]

vs. a passing apiserver log:
[code]

I see that the apiserver is kicking back a 503 when the tests fails.

There are several things wrong with this:

1) The client should signal an error and it doesn't appear to be doing so
2) I'm not sure why we're kicking back a 503 (service unavailable)

Will dig in more.

[2015-07-08 22:59] yujuhong commented on #10899
There a few possibilities that I can think of:
 1. One node was unready at one point, causing most pods to be shifted to the other node.
 2. Pods were not cleaned up in previous tests. This should not happen for tests using a non-default namespace (and with no resources specified in the pod spec).

Either way, logging the pods on the node would help.

[2015-07-08 23:06] jeffbean commented on #10886
Fixed the issue by removing all of the certs and tokens from the master. Then re-run the Ansible playbook.

This leads me to suspect something related to the issue #10694 where subsequent runs do not handle infrastructure changes on the master.

[2015-07-08 23:10] bprashanth commented on #10899
Also suggest moving the test out of default namespace

[2015-07-08 23:13] #10337 closed

[2015-07-08 23:19] vmarmol commented on #10938
So this should be in v0.16.0 no?

On Wed, Jul 8, 2015 at 12:03 PM, Daniel Martí <notifications@github.com>
wrote:

[2015-07-08 23:23] quinton-hoole commented on #10897
As per discussion with @caesarxuchao I think that the solution here is to ignore failed pods for these test cluster health checks.  The failed pods were all correctly restarted by the relevant replication controllers, so the tests should have been able to proceed in this and all the other similar cases that we looked at.

Why the pods failed is a separate question, which will hopefully be detected

[2015-07-08 23:27] quinton-hoole commented on #10858
Assigning to @alex-mohr to assign an owner to this.  cc @roberthbailey FYI

[2015-07-08 23:32] krousey opened #10959 "Running pods fails with AUFS mount errors"
#10622

Ocassionaly our e2e tests fail with something like the following

[code]

23.251.154.44-22-kubelet.log reports the following

[code]

Here's the logs from this particular run: https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-parallel/3046/

[2015-07-08 23:33] krousey commented on #10959
cc @dchen1107 @roberthbailey @cjcullen

[2015-07-08 23:33] saad-ali commented on #10938
Sorry, to be perfectly clear, Kubernetes will get it whenever the new version of the `heapster_grafana` container is [pushed from the heapster side](https://github.com/GoogleCloudPlatform/heapster/blob/master/Makefile#L36), and the corresponding version is [set on the kubernetes side](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/cluster-monitoring/influxdb/influxdb-

[2015-07-08 23:33] krousey commented on #10622
I forked the AUFS issue off on it's own.

[2015-07-08 23:39] yujuhong commented on #10897
It might be due to https://github.com/GoogleCloudPlatform/kubernetes/issues/10397#issuecomment-119746287

[2015-07-08 23:46] alex-mohr commented on #10858
Is this flagged p0 and milestone/v1.0 because we expect users of v1 binary releases to hit issues with the unsupported push-based upgrades?

FWIW, the reported failed to pull image bits look a lot like #10868.

Max, are you the closest we have to an upgrade test owner atm?  If so, can you triage as to whether v1 and/or the supported-upgrade path has potential issues due to this?

[2015-07-08 23:51] krousey commented on #10959
Seems the message is generated here: https://github.com/docker/docker/blob/master/daemon/graphdriver/aufs/aufs.go#L392 and boils down to a syscall.Mount call.

[syscall.Mount](https://golang.org/pkg/syscall/#Mount) calls [syscall.BytePtrFromString](https://golang.org/pkg/syscall/#BytePtrFromString) on `data`. From the docs:

Then syscall.Mount call mount. `man 2 mount`

They do use MsRemount here:

[2015-07-08 23:53] brendandburns commented on #10657
Having dug into this some more, I think this had the same root cause as the bug that @saad-ali fixed yesterday in https://github.com/GoogleCloudPlatform/kubernetes/pull/10880

[2015-07-08 23:54] quinton-hoole commented on #10657
Checking...

[2015-07-09 00:07] bprashanth opened #10962 "Don't admit pods if node capacity is 0"
If the kubelet can't retrieve machine info from cadvisor for some reason (or cadvisor really returns 0 cpu/mem), it reports node capacity as 0. If the scheduler comes across a pod with 0 capacity, it short circuits the fitness check.

In reality getting machine info from cadvisor is really straight forward and there's no reason it should fail, but the scheduler sholdn't assign pods to nodes that h

[2015-07-09 00:08] brendandburns commented on #10657
Given offline discussions w/ @quinton-hoole the remaining failures we see in e2e appear to be caused by https://github.com/GoogleCloudPlatform/kubernetes/issues/10622#issuecomment-119742554

Closing this.

[2015-07-09 00:08] #10657 closed

[2015-07-09 00:08] quinton-hoole commented on #10657
Many thanks @brendandburns !  One less issue to track down :-)

[2015-07-09 00:09] dchen1107 commented on #10858
I agreed with @alex-mohr this issue might have the same root cause of #10868.

But no matter GKE or push-based upgrades, the underneath mechanisms are the same, and both copy new tar file over to master node, and invoke docker load to install those images. That is why I cc-ed you guys on #10868 at the first place.

[2015-07-09 00:15] quinton-hoole commented on #10622
To be clear, the "first" issue above looks as follows in the logs:

**All nodes should be ready after test**, Not ready nodes: [...[{Ready False 2015-07-08 05:23:10 -0700 PDT 2015-07-08 05:23:10 -0700 PDT **network not configured correctly** }] ...

[2015-07-09 00:16] quinton-hoole commented on #10622
The above is also causing remaining failures in #10657

[2015-07-09 00:16] saad-ali commented on #10792
Looking at the thread numbers, it looks like Kubelet was restarted more than twice:
[code]

where 2928 was the shortest lived thread:

[code]

Nothing indicates why it was killed.

[2015-07-09 00:17] mbforbes commented on #10858
@lavalamp re: https://github.com/GoogleCloudPlatform/kubernetes/issues/10858#issuecomment-119377435, *what* exactly keeps breaking your cluster? Can you give steps to repro?

If this involves kube-push, we may be running into exactly the problems we were trying to avoid by going the "blow away / recreate" upgrade route: weird state mutations due to a push.

If this doesn't involve kube-push, the J

[2015-07-09 00:21] mbforbes commented on #10858
Looking at the second failure more, it looks like a node went from "ready" after the update to "not ready" at the end of the test
http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GCE/job/kubernetes-upgrade-gce-step2-upgrade/392/console

[2015-07-09 00:22] #8945 closed

[2015-07-09 00:32] yujuhong commented on #10397
Agreed. These addons are stored in `/etc/kubernetes/addons/` on the master instance and get checked periodically (similar to static pods). Since we create the master instance first, I don't think we wait for all the nodes to be up to create the addons.

[2015-07-09 00:38] bprashanth commented on #10397
Hmm. Doesn't that mean there's a race where we could end up continuously bouncing a static pod in lieu of a cluster addon that could fit on any node (iirc the capacity checks are prioritied by creation time)? oh well.

[2015-07-09 01:02] saad-ali commented on #10792
There exists a race condition between kubelet start up and monit. If monit comes up before salt starts kubelet, it will notice that kubelet is not running and will start it. And with #8931 if salt then starts kubelet, the second start up call will kill the previous instance of kubelet.

But that should result in only 1 "restart". We see 4 starts (i.e. 3 restarts). It's possible that the healthz ch

[2015-07-09 01:10] lavalamp commented on #10858
@mbforbes steps I took:

[code]

Killed it for me twice yesterday.

[2015-07-09 01:12] yujuhong commented on #10397
We prioritize static pods by accident because their creation timestamp, unlike regular pods, isn't set by the apiserver. It's always `0001-01-01 00:00:00 +0000 UTC` :-|

We can explicitly prioritize static pods after v1.0...

[2015-07-09 01:24] erictune opened #10966 "Generate static, object-focused documentation of types"
Users should not have to read our go code to get documentation of the API types.  They could use swagger-ui.  But the swagger-ui is also not a good presentation because:
- It presents too much info about REST that is not relevant to most users:
  - it talks about POST, etc.  However, people are mostly going to use either Kubectl or pkg/client.  Those don't use the word POST.  Kubectl uses "create"

[2015-07-09 01:33] lavalamp opened #10968 "e2e test that UI addon started"
Should be pretty simple.

[2015-07-09 02:44] justinsb opened #10972 "Vagrant: certificate is valid for 192.168.56.101, 10.247.0.1, not 10.245.1.2"
While trying to test my systemd changed with vagrant, I am now getting this error during `go run hack/e2e.go -v --up`:

[code]

I wonder if it is related to the removal of cert_ip in e2ddd2dd7bb617600768d89e2ab229fd16091c55 ?

Is there a workaround I'm missing (running vagrant on Linux with VirtualBox)?

[2015-07-09 02:44] justinsb commented on #10972
cc @derekwaynecarr

[2015-07-09 04:01] adyanthaya17 opened #10973 "Error while deploying on 3 nodes"
Hi,

I've been following the ubuntu.md document to build my kubernetes cluster. Previously I have deployed the master and minion (1 master and 2 minions) on two nodes successfully. I added another new node for the minion but the kube-up.sh command seems to be looping asking for the third nodes password.

I know the document states for deployment of 3 nodes and it has to work but in my case it isn'

[2015-07-09 04:35] thockin commented on #10456
"why not" is simply a matter of "hasn't been done yet".  What you describe is actually a pretty reasonable way to approach it, but we just don't have that level of expressiveness in the API yet,

[2015-07-09 05:03] #629 closed

[2015-07-09 05:20] thockin opened #10975 "Better kubectl exec"
Forked from #1513

@smarterclayton said:

Now that exec has landed and is looking pretty stable, some followups to look at:
### Variants on nsenter that are more aligned with the container

We've talked before about extending nsinit from docker to be a true "execute in running Docker container" process, like rockets' equivalent.
### Taking the proxies out of the loop (or at least, the kubelet prox

[2015-07-09 05:21] #1513 closed

[2015-07-09 05:23] thockin commented on #1437
Naming is implementable with no special access.

[2015-07-09 05:23] #1437 closed

[2015-07-09 05:26] thockin commented on #1691
Is this still an issue?  I thought it was fixed...

[2015-07-09 05:27] Naresht-vedams commented on #10918
@thockin

We restarted cluster and deployed pods.

**# kubectl get pods**
[code]
We are getting same problem. All pods are not coming. Only specific node pods are coming.

Thanks.

[2015-07-09 05:28] thockin commented on #1607
I think this is done

[2015-07-09 05:28] #1607 closed

[2015-07-09 05:31] thockin commented on #1988
Done

[2015-07-09 05:31] #1988 closed

[2015-07-09 05:32] thockin commented on #2098
We should close this and open new issues on Kubelet's API(s)

[2015-07-09 05:34] #1984 closed

[2015-07-09 05:35] thockin commented on #1944
Is there still value in considering this?  We treat UUIDs as opaque all over, so changing to something else is still viable and not even very hard.  Is it useful?

[2015-07-09 05:37] #1863 closed

[2015-07-09 05:38] #1860 closed

[2015-07-09 05:39] AlexeyKupershtokh commented on #10972
Reproduced on v0.21.1.
[code]
finishes with the same error message:
[code]

[2015-07-09 05:40] thockin commented on #2382
Is this still an issue?  I feel like proxy does this well now...

[2015-07-09 05:41] thockin commented on #2352
I consider this part of the larger L7 effort

[2015-07-09 05:41] #2352 closed

[2015-07-09 05:41] derekwaynecarr commented on #10972
I wasn't seeing that but I will investigate in the morning.  There is no
harm in re-adding cert_ip.  Will check certs for me in morning.  Thanks for
taking the time to assist.

On Wednesday, July 8, 2015, Justin Santa Barbara <notifications@github.com>
wrote:

[2015-07-09 05:43] thockin commented on #2264
Other than IntOrString, is there anything left that is plain int?  Can this be renamed to "IntOrString" should use fixed-width ints?

[2015-07-09 05:43] thockin commented on #2252
Is this still a worthwhile issue?

[2015-07-09 05:44] #2170 closed

[2015-07-09 05:44] dchen1107 commented on #10972
I ran into the same problem this morning on GCE  during go run hack/e2e.go -v --test, not --up. I teared down the cluster, and couldn't reproduce the issue. Since I did some local hacks, I thought it must be my fault. Now looks like it might be a real issue.

[2015-07-09 05:45] thockin commented on #2164
A lot of work has gone into nodes/minions - is this now obsolete?

[2015-07-09 05:47] #2764 closed

[2015-07-09 05:48] #2754 closed

[2015-07-09 05:48] #2702 closed

[2015-07-09 05:48] brendandburns opened #10976 "kubectl print is messed up for kubectl expose"
[code]

things are offset by tabs.

[2015-07-09 05:48] #2696 closed

[2015-07-09 05:49] #2659 closed

[2015-07-09 05:49] bgrant0607 commented on #2164
Yes.

[2015-07-09 05:49] #2164 closed

[2015-07-09 05:49] #2604 closed

[2015-07-09 05:49] #2580 closed

[2015-07-09 05:49] #2564 closed

[2015-07-09 05:50] #2529 closed

[2015-07-09 05:50] bgrant0607 commented on #2264
Can just be closed, I think.

[2015-07-09 05:50] #2264 closed

[2015-07-09 05:52] dchen1107 commented on #2252
All efforts I listed above were done long time ago.

[2015-07-09 05:52] #2252 closed

[2015-07-09 05:54] thockin opened #10977 "kubectl create demand .yml extension?"
I know @mikedanese was talking about this, but I am still seeing it at head.  Please close if this is a dup.

kubectl used to take any file, now it won't work with a yaml/json extension.

[2015-07-09 05:56] thockin commented on #1554
This seems resolved - can not repro

[2015-07-09 05:56] #1554 closed

[2015-07-09 06:00] thockin commented on #598
Folding this together with #7562.

[2015-07-09 06:00] #598 closed

[2015-07-09 06:01] thockin commented on #7562
Anyone reading this should also read #598

[2015-07-09 06:03] thockin commented on #4282
Dup of #1589

[2015-07-09 06:05] thockin commented on #10265
@antoineco did you get this sorted?

[2015-07-09 06:06] thockin commented on #10900
@derekwaynecarr

[2015-07-09 06:09] thockin commented on #10918
Can you try this doc, and see if it helps (new doc)

https://github.com/thockin/kubernetes/blob/docs-debug-svcs/docs/debugging-services.md

On Wed, Jul 8, 2015 at 10:27 PM, Naresht-vedams <notifications@github.com>
wrote:

[2015-07-09 06:16] wojtek-t commented on #10792
@dchen1107 - IIUC Kubelet can be restarted due to /healthz failure at most once per 5 minutes, right? Those restarts that I've seen are more frequent.

[2015-07-09 06:28] thockin commented on #10926
Dawn, do you actually have time for this?

[2015-07-09 06:29] thockin commented on #10977
Dup of #10853

[2015-07-09 06:29] #10977 closed

[2015-07-09 06:35] #10696 closed

[2015-07-09 06:37] #10321 closed

[2015-07-09 06:39] thockin commented on #10278
https://github.com/thockin/kubernetes/blob/docs-debug-svcs/docs/debugging-services.md

[2015-07-09 06:42] thockin commented on #10143
Now that kubelet manages cbr0, I am going to close this.

[2015-07-09 06:42] #10143 closed

[2015-07-09 06:48] #8185 closed

[2015-07-09 06:49] thockin commented on #7845
Better info in #8202

[2015-07-09 06:49] #7845 closed

[2015-07-09 06:49] #7475 closed

[2015-07-09 06:50] #3973 closed

[2015-07-09 07:08] #10097 closed

[2015-07-09 07:12] wojtek-t commented on #10792
sorry - I must have had an old version and didn't see last 3 comments before.

[2015-07-09 07:12] Naresht-vedams commented on #10918
@thockin
\# kubectl exec busybox-sleep hostname
or
\# kubectl exec -ti busybox-sleep sh
[code]

[2015-07-09 07:21] wojtek-t commented on #10792
@saad-ali - I think that the situation from my test is a bit more dangerous because it took more than 3 minutes (although I agree it seems to be a problem in general).
Do we have an idea why the Kubelet is restarted (i.e. why it's not responding to /healthz?) From the logs it seems that it's working correctly...

[2015-07-09 07:34] gmarek commented on #10720
Needs #10915 to be solved to debug further.

[2015-07-09 08:13] piosz commented on #10659
This may be also caused by Heapster itself https://github.com/GoogleCloudPlatform/heapster/pull/397

[2015-07-09 08:42] gmarek commented on #10720
There're two kind of failures: First is
[code]
Which AFAICT is caused by Kubelet restarts, as @wojtek-t suggested.

Second is one that need #10915 to debug:
[code]
which means that we schedule too many pods for some reason.

[2015-07-09 08:52] gmarek commented on #10792
cc @gmarek

I looked at few log files with this symptom. There's no sign of Kubelet getting /healthz request after initial startup/restart phase. IIUC those logs are generated by default go HTTP server, and as @wojtek-t noticed, monit uses plain http (not https) to contact Kubelet, so there shouldn't be any reason for server to reject any connection (assuming that default server is not extremely f

[2015-07-09 09:12] wojtek-t commented on #10792
@dchen1107 - I've just found that we're using Monit in version 5.4 which is 3 years old - shouldn't we update it to something newer?

[2015-07-09 09:17] wojtek-t commented on #10792
For me some changes from 5.4+ release may seem like bugs:
http://rpmfind.net//linux/RPM/opensuse/factory/noarch/monit-doc-5.10-1.3.noarch.html
e.g.:
"Fix the rare hung on linux which may occur during program execution."

IIUC, this requires releasing new version of container-vm image.

[2015-07-09 09:33] wojtek-t opened #10980 "Rewrite services shell e2e test in go"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/e2e-suite/services.sh

This should be rewritten in Go, so that we will be reusing the whole testing infrastructure in all places (instead of maintaining another set of infrastructure in bash).

[2015-07-09 10:03] wojtek-t commented on #10127
Hopefully - this should be fixed now. I will be monitoring the test and will move it to non-flaky suite tomorrow.

[2015-07-09 10:16] wojtek-t commented on #7046
@marekbiskup - can you summarize what is left to do here (if anything?)

[2015-07-09 10:21] marekbiskup commented on #7046
See my comment just above.

[2015-07-09 10:22] wojtek-t commented on #10268
Spreading of traffic across backends appropriately (round robin etc). @satnam6502 had an indirect test somewhere for this AFAIK, but we should perhaps factor it into a narrow service-specific test.

This is covered in shell tests - see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/e2e-suite/services.sh

We should also migrate the shell test to Go - I've created #10980, but thi

[2015-07-09 11:15] wojtek-t commented on #10899
Also suggest moving the test out of default namespace

+1 - I will work on that.

[2015-07-09 12:02] stefwalter commented on #1553
Further work on this done here: #10982

[2015-07-09 12:05] satyajitpadhyewit commented on #10919
Thank you robert and thockin. I restarted the kebelet and apiserver daemons and tried to grep for the changes as mentioned above. Its working and I can create privileged containers by kuebernetes.

[2015-07-09 12:06] #10919 closed

[2015-07-09 12:08] satyajitpadhyewit opened #10983 "--cpuset-cpus supported in kubernetes?"
I want to know if --cpuset-cpus in supported in kubernetes so that we can launch containers with that property. Initiated at #10570  but I am not finding enough resources if it can.

[2015-07-09 12:11] gmarek opened #10984 "We need a documentation describing how to configure kubectl."
Currently it's done automatically on the machine from which you create the cluster, but if you want to use another one to interact with the cluster (or create a cluster using GKE) one need to run a few things. I managed to do it by following few different documents/getting started, but I believe it should be gathered and put into kubectl doc.

Assigning @bgrant0607 to reassign or say that it's 'wo

[2015-07-09 12:19] marekbiskup opened #10985 "create a pre-commit checker that verifies doc links"
Broken links look very bad - suggesting that docs are obsolete and nobody cares about them. Or that entire project is obsolete. I keep on finding broken links in our docs over and over again.
(like here:
We should have a pre-commit checker that would fail if any doc link is invalid.

For the first step, let's check project-relative links - seems to be easier and maybe there are tools for that.

[2015-07-09 12:32] marekbiskup commented on #10826
I've heard that some two months ago MIG update would not recreate new nodes if the template was the same. Then they changed it and instances were recreated (this is when you wrote the test). I think it is considered a bug. And they are going to fix this bug quite soon.
So in a week or two (or maybe more - I don't know their release cycle), instances will not be recreated.

(sorry for incomprehensi

[2015-07-09 12:45] marekbiskup commented on #10826
@mbforbes , I think your error is not related to MIG update - currently instances should be recreated (i.e. the error in MIG rolling update is not fixed).
The error may be fixed around Monday (but maybe later - even 2 weeks).

[2015-07-09 12:47] marekbiskup commented on #10822
I forgot about the issue and destroyed the cluster.
I'll try to reproduce it.

[2015-07-09 12:57] marekbiskup commented on #10668
Docs that need an update:
 * docs/getting-started-guides/logging.md
 * docs/getting-started-guides/logging-elasticsearch.md

Luckily, I haven't too many places that need an update.

[2015-07-09 12:59] marekbiskup commented on #10537
already fixed (I can't recall which PR)

[2015-07-09 12:59] #10537 closed

[2015-07-09 12:59] #10156 closed

[2015-07-09 13:00] marekbiskup commented on #10156
minion->node change has already been done too.

[2015-07-09 14:09] smarterclayton commented on #1944
I don't see any pressing need.  I don't know that we need more bits of
randomness, and until we have retrieve by uid most of the details are
fungible.

On Jul 9, 2015, at 1:36 AM, Tim Hockin <notifications@github.com> wrote:

Is there still value in considering this? We treat UUIDs as opaque all
over, so changing to something else is still viable and not even very hard.
Is it useful?

—
Reply to t

[2015-07-09 14:33] mrmiroslav opened #10991 "CI and authentication issue using service accounts"
I am trying to use service account to deploy on travis.

gcloud has no issues with activating service account, pushing my docker image to container registry and etc.

The issue is with getting credentials: ```gcloud beta container get-credentials``` which returns 404 (cannot see the active project) - as I am authenticated on CI as a service account.

Locally I can run this using oAuth 2.0 authenti

[2015-07-09 14:35] zmerlynn commented on #10980
This is a dupe of #4184. And go for it. :)

[2015-07-09 14:35] #10980 closed

[2015-07-09 14:37] wojtek-t commented on #10980
Thanks @zmerlynn - I was trying to find that issue and didn't manage. I will try to do it after 1.0.

[2015-07-09 14:40] mwielgus commented on #10764
PRs for api-versions, cluster-info, describe,& expose sent.
Can take another batch, let's say logs, patch, replace, version (but will work on this probably on Monday)

[2015-07-09 14:40] derekwaynecarr commented on #10900
I just tried to reproduce this by doing the following:

Host OS: Fedora 21
Virtualization Provider: VirtualBox

[code]

I then followed the "How do I test if this is working?" issue instructions here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/README.md

[code]

So for me, things looked pretty good.

Can you elaborate what is different in your setup versus mi

[2015-07-09 14:42] derekwaynecarr commented on #10900
I am closing this issue, but feel free to re-open if you continue to see a problem.  If you do, please provide the output of the same steps I documented above, include what virtualization tool you are using, and from what host platform.

Thanks!

[2015-07-09 14:42] #10900 closed

[2015-07-09 14:59] derekwaynecarr commented on #10906
I am unable to test or maintain issues specific to the VMWare Fusion provider.

@posita was the original author in this space and may be able to assist getting issues specific to that provider up to speed with latest project changes.

I suspect the issue is rooted in not moving up to Fedora 21.  Not moving to Fedora 21 will result in running with older versions of Docker since Fedora 20 is no long

[2015-07-09 15:14] posita commented on #10906
To be clear, I basically guessed at many VMWare implementation details when I hijacked #2741 from @jameskyle.<sup>1</sup> @jameskyle, I'm willing to assist with a fix for this, but I would need your guidance. Do you have any idea as to the cause?

<sup>1</sup> This was because I don't have licenses for either Fusion or Workstation (see [this](https://github.com/GoogleCloudPlatform/kubernetes/issue

[2015-07-09 15:21] marekbiskup opened #10992 "Feedback from a hackathon with Bol.com and Xebia engineers"
I joined Bol.com and Xebia engineers for a one-day hackathon. We were trying to deploy a service on a kubernetes cluster. We used the kuberentes release provided by GKE, probably 19.x.

Here are summary of issues that can be fixed (I'll create a separate issue to discuss new features):
 1. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md -  the comma

[2015-07-09 15:22] marekbiskup commented on #10992
I will check all the problems listed and fix them (if easy), or report another bug (if complicated).

[2015-07-09 15:30] thockin commented on #10992
Thanks!  I can confirm the firewall rule one, at least :)

On Thu, Jul 9, 2015 at 8:22 AM, Marek Biskup <notifications@github.com>
wrote:

[2015-07-09 15:44] bgrant0607 commented on #3024
I'm writing a User Guide. ReplicaSet is self-explanatory in a way that ReplicationController and Replicator are not. I'm changing ReplicationController to ReplicaSet in the v2 API #8190. We're going to end up hiding it with higher-level APIs (Deployment -- #1743) and/or tooling, anyway.

[2015-07-09 15:58] mbforbes commented on #10826
Ack—thanks for the extra detail! I'll just switch this test to `gcloud preview managed-instance-groups recreate-instances` and we can stop worrying about the timing. We'll switch this in GKE too. Thanks again, I really appreciate you filing this!

[2015-07-09 15:58] mbforbes commented on #10826
(And by switch I mean just turn off self-upgrades.)

[2015-07-09 16:04] jbeda commented on #3024
I still very strongly disagree on `ReplicaSet`.  I think it implies a level of ownership that doesn't actually exist.  And if higher level tooling is going to mask it anyway why not leave it alone and thereby (a) not introduce confusion with a name change and (b) pick the most accurate name for what the thing does?

[2015-07-09 16:08] satnam6502 commented on #10268
Indeed, my test sprays lots of requests via service to pods and then checks that there is a response from each pod and reports the distribution of responses.

[2015-07-09 16:10] satnam6502 commented on #10668
What update is required beyond what was in my PR #10898 ?

[2015-07-09 16:20] bgrant0607 commented on #3024
Objection noted.

kubectl delete rc already recursively deletes pods by default. I plan on making this the default for ReplicaSet, also.

ReplicationController is confusing for users and for developers, and makes the system sound more alien than it is.

Other reasons for the change are described above: https://github.com/GoogleCloudPlatform/kubernetes/issues/3024#issuecomment-69989200

[2015-07-09 16:21] bgrant0607 commented on #10984
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/sharing-clusters.md

[2015-07-09 16:22] erictune commented on #10966
I think this is related to #3060

[2015-07-09 16:23] erictune commented on #3060
This is exciting.  Once kubectl can emit this, then one of us can make a gendocs that generates static docs from the kubectl output.

[2015-07-09 16:24] thockin commented on #1944
The only real reason I can see for this at all would be to use shortened prefixes, which is purely a human thing, and humans should mostly use name.  I'm going to close this

[2015-07-09 16:24] #1944 closed

[2015-07-09 16:26] jbeda commented on #3024
I disagree and I think you are creating more confusion by renaming it.

I would structure `kubectl delete rc` differently.  If pods still exist and no flag is specified it would error out.  Other than that, users would have to pass an `--orphan-pods` flag or `--recursive` flag.

I'm obviously not going to convince you of this though.

[2015-07-09 16:31] thockin commented on #10918
Interesting, I thought it would use 'docker exec' preferentially...

@ncdc for an assist?

Alternately you can get nsenter on your nodes.

On Thu, Jul 9, 2015 at 12:13 AM, Naresht-vedams <notifications@github.com>
wrote:

[2015-07-09 16:34] justinsb opened #10996 "hack/conformance-test.sh runs "[Skipped] persistentVolumes" tests"
At least when I ran it naively, hack/conformance-test.sh was not skipping this test.  The comment suggests it should be skipped automatically: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/persistent_volumes.go#L31-L34

Not sure if I'm doing something wrong, or we need to tell hack/conformance-test to skip `[Skipped].*` or something like that.

[2015-07-09 16:34] ncdc commented on #10918
@thockin 'docker exec' support was added in v0.19. @Naresht-vedams what version are you running?

[2015-07-09 16:35] marekbiskup commented on #10668
Everything looks fine now. Let's close this issue.

[2015-07-09 16:35] #10668 closed

[2015-07-09 16:35] bgrant0607 commented on #5906
When writing the user guide, it was definitely jarring that `run` and `expose` produced `get` output.

[2015-07-09 16:42] satnam6502 opened #10997 "Accessing Application Endpoints in Pods via Service is Unreliable"
My Elasticsearch logging test keeps getting declared 'flaky'. I worry that it is either exposing an underlying problem in our system or we need to better explain how reliability guarantees we can make about mapping requests from a service to a pod and what code (re-try etc.) needs to be written by our customers to access application endpoints in Kubernetes deployments.

Here are some details:
* Th

[2015-07-09 16:43] alex-mohr commented on #8892
From http://kubekins.dls.corp.google.com/view/GKE/job/kubernetes-e2e-gke-staging-0.21/41/consoleText

Services
/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/service.go:792
  should be able to create a functioning external load balancer
  /go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/githu

[2015-07-09 16:57] devurandom opened #11000 "Improve documentation on how authentication is handled in Kubernetes"
This is a follow up from https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-118595068

There I was asking about documentation on serviceaccounts and certificates. I have already read http://docs.k8s.io/design/service_accounts.md (and a few others), but still there are lots of questions:
- Is the CA certificate in `--root-ca-file=` authenticated by the key in `--service-acc

[2015-07-09 16:57] pmorie commented on #10934
@timothysc We need to have coverage of SELinux enforcing / disabled.  Optional: permissive.

[2015-07-09 16:58] devurandom commented on #10265
I moved my list of questions to #11000, since it is only tangential to this issue.

[2015-07-09 17:01] pmorie commented on #10934
Also touches:

1.  https://github.com/GoogleCloudPlatform/kubernetes/issues/6605
2.  https://github.com/GoogleCloudPlatform/kubernetes/issues/4871

[2015-07-09 17:04] dchen1107 commented on #10629
ACK. I verified this. Closing the issue.

[2015-07-09 17:04] #10629 closed

[2015-07-09 17:05] bgrant0607 commented on #10984
Added a sentence with a link to the above doc to the in-progress user guide.

[2015-07-09 17:05] #10984 closed

[2015-07-09 17:14] justinsb commented on #8892
@alex-mohr that looks like a client-side issue (and if so, worthy of a new issue?).  I think someone (likely the LB controller) has concurrently changed the service, and the client (the test) needs to retry?

[2015-07-09 17:19] #10420 closed

[2015-07-09 17:23] timothysc commented on #10934
@pmorie why would we ever care about !enforcing?

[2015-07-09 17:26] justinsb opened #11002 "Don't change load-balancer endpoint when updating the service"
Currently, when we change a service with a LoadBalancer, we will often delete the load balancer and create a new one.  If possible, we should not do that: on GCE it may involve temporary service disruption, although the new LB has the same IP.  On AWS a new ELB is created with a different DNS name, so the user must update their DNS settings.

(We have a PR that fixes this #8366, but it is post-v1;

[2015-07-09 17:28] ncdc commented on #10934
@timothysc some users run with SELinux disabled, and it is possible to break things if you assume it's always at least permissive (e.g. try to call `chcon`).

[2015-07-09 17:45] antoineco commented on #10265
@thockin sorry I didn't find the time to try until now. The problem doesn't seem to be solved though.
Using the addon at master:

[code]

[code]

[code]

[2015-07-09 17:49] antoineco commented on #10265
Deeper insight into the relevant secret:

[code]

Human readable `kubeconfig` (from the secret):

[code]

How could `https://kubernetes.default` possibly be resolved at that point?

[2015-07-09 17:59] JanetKuo commented on #10764
I will take `kubectl run`

[2015-07-09 18:10] quinton-hoole commented on #8892
@justinsb agreed in theory, although it's curious to me that the version numbers differ by so much.  Seems like there may well be an underlying system problem.  Are we doing something funky under the hood to increment the service version number more than we should?

[2015-07-09 18:24] thockin commented on #10265
don't use the token-system-dns any more.

[code]

the service-account-token is what you want

[2015-07-09 18:24] thockin commented on #10265
and that should have 2 data, and the DNS pod should have them both

[2015-07-09 18:35] brendandburns commented on #10451
Please also see:

https://github.com/GoogleCloudPlatform/kubernetes/issues/10659

[2015-07-09 18:39] bgrant0607 opened #11007 "Fix reporting of Reason in Kubelet"
First of all, Reason (everywhere in the API) is intended to be a concise, single-world, CamelCase categorization of the status. However, Kubelet is producing phrases, which more properly belong in a Message field. For example:
https://github.com/GoogleCloudPlatform/kubernetes/blob/7bb9cdf660a00e231d9dcd1a7c9c5985399fb977/pkg/kubelet/dockertools/manager.go#L458
[code]

Secondly, important cases are

[2015-07-09 18:42] pmorie commented on #9473
@bgrant0607 My bad, I somehow missed being tagged into this.

@justinsb I definitely think this should be available via the downward API.

[2015-07-09 18:43] mbforbes opened #11009 "GCE doesn't clean up node instance templates after upgrade"
An upgrade changes the instance template but `kube-down` doesn't know the name could have changed.

I'm working on a fix now.

[2015-07-09 18:57] brendandburns commented on #10858
I believe that the only supported tests for 1.0 are:

[code]

Apparently the other upgrade tests involve using both kube-push as well as upgrade, and there is a bug in that combination.

Since we never claimed kube-push.sh for upgrade was supported for 1.0, I'm punting this to 1.0 post.

Please file any objections with me.

[2015-07-09 19:00] JanetKuo commented on #10764
I will take `kubectl proxy`

[2015-07-09 19:06] r-tock commented on #10451
What is the ETA of pushing this to GKE? We still have all our alerts flying and oncall restarting kubelet twice every day and would like to be in a calmer state.

[2015-07-09 19:09] satnam6502 commented on #10997
I am going to try and write a test to surface the bad behaviour I am trying to talk about.

[2015-07-09 19:09] #10997 closed

[2015-07-09 19:24] delianides opened #11011 "AWS EBS Attaches but Pod Remains at Pending"
Running the default cluster setup on AWS and using CoreOS. Creating a mongo pod with no volume is successful. But creating a pod with an attached EBS volume is not. The volume does successfully attach to the correct node but the pod remains at the pending state.

[code]

The template file:

[code]

Followed new `VolumeID` name per #10181. There are no helpful error messages on the kubelet or contr

[2015-07-09 19:25] jlowdermilk commented on #10764
@JanetKuo Kubectl proxy already covered.
On Jul 9, 2015 12:01 PM, "Janet Kuo" <notifications@github.com> wrote:

[2015-07-09 19:31] #10842 closed

[2015-07-09 19:40] antoineco commented on #10265
Indeed, my `default-token-xxx` secrets contain only 1 data, the *token*, they're missing the *ca.crt* in every namespace. I'll have to investigate why, do you have a clue maybe?

[2015-07-09 19:45] justinsb commented on #11011
Thanks for posting the `kubectl describe` output - that is very helpful, particularly:

[code]

CoreOS setup needs to add /usr/share/google/safe_format_and_mount.  @bakins?

[2015-07-09 19:47] brendandburns commented on #10451
We are in the process of pushing 0.21 to GKE today and tomorrow for new clusters.  We will then begin the process of upgrading existing clusters (likely Monday)

If you would like to be one of the initial test upgrades (possibly even earlier than Monday) send me mail at bburns [at] google.com.

Also, in the meantime, a work around would be to disable the health check on the DNS pod.  Basically

[c

[2015-07-09 19:47] justinsb commented on #10929
Anything above 10 minutes is likely in the "This might loop forever if there was some uncaught error during start up" category.  We did indeed fix some issues around docker startup on AWS, and there's an open PR that will double-fix them on AWS: #9381

[2015-07-09 19:51] bakins commented on #11011
well, /usr is readonly. related #7042 and #10017

[2015-07-09 19:52] kgrvamsi commented on #10929
Ok will give a try today and see if i face any issues!!!

[2015-07-09 19:53] bprashanth commented on #10779
Maybe we should add a best practices for production clusters section? We did a lot of tweaking and tuning to hit our perf goals for the 100 node cluster, and it would be great if we can rope in people who have experience running large clusters (redhat/coreos?) for their thoughts.

I mean things like:
- qps, max-pods-per-node, ulimit settings
- kubelet/pausepod/container gc overhead
- gomaxprocs fo

[2015-07-09 19:53] r-tock commented on #10451
Thanks @brendandburns we will take care of deploying the world (our world) tomorrow as soon as the release hits.

Will try the health check fix

[2015-07-09 19:55] davidopp commented on #10779
My only concern is that as we modify Kubernetes to hit 1000, pods a lot of that will probably change.

[2015-07-09 19:56] yujuhong commented on #11007
The [PodStatus.Reason](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1/types.go#L903) needs to be a single CamelCase word. However, all [ContainerState](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1/types.go#L748)s, and a couple of other "Reason" fields only requires the reason to be "(brief)". E.g.,
[PersistentVolumeStatus](https://github.com/Go

[2015-07-09 19:59] antoineco commented on #10265
Found it: I was missing the `--root-ca-file` flag in my controller-manager systemd unit. Let's give it another try...

[2015-07-09 20:01] bprashanth commented on #10779
It would be a 1.0 doc

[2015-07-09 20:05] saad-ali commented on #10899
I'm afraid that we might just be making an underlying issue by moving the test out of the default namespace. I'd still like to understand what's causing the issue.

I ran this test on my on GCE cluster back to back for several hours and never ran into the issue.

The Jenkins soak test, however, serially runs the entire E2E suite when it runs in to this issue. So maybe, as @yujuhong suggested, one

[2015-07-09 20:06] davidopp commented on #10779
I see. If it was versioned with 1.0 that makes sense.

(Also, not sure how "pods" got into my last response...)

[2015-07-09 20:06] erictune commented on #9753
Related to #10966

[2015-07-09 20:07] r-tock commented on #10451
@brendandburns  updating kube-dns by removing the livenessProbe did not reduce the cpu, I had to manually restart kubelet.

[2015-07-09 20:11] quinton-hoole commented on #10268
As discussed over lunch, lets move this to an e2e test @satnam6502, to improve CI test coverage as well as prevent bit rot of the test code.

[2015-07-09 20:16] wojtek-t commented on #10268
I don't understand this comment - this shall script is also running as e2e test. I've just fixed this today and will be moving it out of flaky suite.

[2015-07-09 20:17] karlkfi commented on #10697
Closing. Just a documentation problem. Being addressed by other issues.

[2015-07-09 20:17] #10697 closed

[2015-07-09 20:18] wojtek-t commented on #10792
@saad-ali @dchen1107 - ping

[2015-07-09 20:27] JanetKuo commented on #10764
@jlowdermilk - got it. Thanks for pointing that out!

[2015-07-09 20:30] tgsoverly commented on #7891
I am also having this same issue.  When I add a "readinessProbe" it kills my container and restarts, which means the container never starts it just continually restarts.

if I take the example health check from the documentation and replace it with "readinessProbe", it never starts.

[code]

I agree with @YanXiaoping should, according to the docs, should not occur.

[2015-07-09 20:33] dchen1107 commented on #10792
I am not comfortable at such critical time to upgrade monit to a new version, especially there is no evidence showing me monit causing the problem here. There are known races because we don't have fully control of our boot sequences, and restarting kubelet, docker etc. services through various sources. That is our call since we are not managing the node, and not requiring systemd as the only proce

[2015-07-09 20:36] timothysc commented on #10659
/cc @jayunit100 @rrati.

[2015-07-09 20:37] erulabs opened #11012 "AWS EBS volume data is deleted in certain cases"
Hello!

  Kubernetes sometimes deletes all data from my EBS backed volume. Given a controller like so:

[code]

One would expect data in "/var/nginx" to persist, however, it doesn't appear to persist when the pod moves between hosts.

Running `kubectl stop pod nginx-ID` works _most_ of the time, but when the pod moves between hosts I see an event like so:

[code]

The interesting part is that the

[2015-07-09 20:42] gmarek commented on #10792
In this case is it possible to store monit logs for Jenkins runs? AFAIK no one managed to reproduce this problem locally.

[2015-07-09 20:42] dchen1107 commented on #10659
@piosz that explains Heapster's memory leakage issue I observed when working on
https://github.com/GoogleCloudPlatform/kubernetes/pull/10653#issue-92503401

[2015-07-09 20:45] timothysc commented on #10774
cc @rrati

[2015-07-09 20:46] nikhiljindal commented on #3060
@erictune Clayton is working on generating markdown from swagger spec: https://github.com/GoogleCloudPlatform/kubernetes/issues/9097

[2015-07-09 20:47] roberthbailey commented on #11012
/cc @brendandburns

[2015-07-09 20:48] erictune commented on #10985
I just added some code that will help with this.
The file is called "cmd/mungedocs/mungedocs.go".
Basically, you just need to add some code around line 60 that says:
[code]
and implement a `checkLinks(markdownDocument []byte, anchorFilePath string) error` function.
That function just needs to make sure that for each link in `markdownDocument`, that the file `dirname(anchorFilePath) + "/" + link` e

[2015-07-09 20:49] justinsb commented on #11012
Ouch; if this is correct this is both bad and indicates a fairly important missing e2e test!

[2015-07-09 20:49] bprashanth commented on #10899
There's a chance the bug is just 1. You can detect it by dumping node events eg: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/util.go#L1160
You can simulate it by stopping the kubelet in a loop till the node controller deletes all pods on the node. The most likely reason for this happening is a leak somewhere and restarting the kubelet every 5m probably doesn't help becau

[2015-07-09 20:50] erictune commented on #10983
It is not supported.

How would you plan to use --cpuset-cpus?  I can think of many reasons, but I'd like to hear yours.

[2015-07-09 20:51] quinton-hoole commented on #10792
+1 to what @dchen1107 said.

[2015-07-09 20:55] bprashanth commented on #10659
Heapster wasn't on my node and that doesn't correlate with the exec probe restart causing cpu to fall. Of course, heapster has issues of its own :)

[2015-07-09 21:05] thockin commented on #10265
Yes, yes, please close this when it works - I am confident that THIS TIME
we've got it :)

On Thu, Jul 9, 2015 at 12:59 PM, Antoine Cotten <notifications@github.com>
wrote:

[2015-07-09 21:10] mbforbes opened #11014 "e2e/networking.go broken on GCE and GKE"
Starting between 8:30 and 9:20 PST this morning:

[code]

[2015-07-09 21:10] mbforbes commented on #11014
+cc @alex-mohr @vmarmol

[2015-07-09 21:16] #10818 closed

[2015-07-09 21:19] mbforbes commented on #11014
I don't see an easy culprit. Wild guess #10525 as appears to be only meaty thing in that time frame? Alternatively, consistent underlying GCE problems?

[2015-07-09 21:27] vmarmol commented on #11014
We've been tracking some GCE issues, possibly related.

+cc @ixdy @quinton-hoole

[2015-07-09 21:40] quinton-hoole commented on #10268
Oh, apologies for the confusion.  I'm referring to Satnam's test referred
to above.

On Thu, Jul 9, 2015 at 1:17 PM, Wojciech Tyczynski <notifications@github.com

[2015-07-09 21:41] mbforbes commented on #10842
This broke Shippable because it isn't valid Go1.3 syntax.

[2015-07-09 21:42] mbforbes commented on #10842
(And by "this" I mean the PR and not the issue, d'oh....)

[2015-07-09 21:44] jbeda commented on #10842
@mbforbes I'll submit another PR to fix it post-haste.

[2015-07-09 22:02] nikhiljindal commented on #10501
Closed via https://github.com/GoogleCloudPlatform/kubernetes/pull/10525

[2015-07-09 22:02] #10501 closed

[2015-07-09 22:03] nikhiljindal commented on #10515
Closing. Feel free to reopen.

[2015-07-09 22:03] #10515 closed

[2015-07-09 22:05] dchen1107 commented on #10868
I assigned this p0 to myself and move it to 1.0 after talking to few folks here. Now I have a pending PR which timeout docker load when it hangs. But I couldn't reproduce the issue last night for many many runs. Are we really wanting to include fix for this for a rare failures? It is an ugly issue, but like what I mentioned yesterday, GKE shouldn't run into this in production. For GCE case, we cou

[2015-07-09 22:08] thockin commented on #10868
I'm OK to hold this PR until we've got real evidence it changes something material.

[2015-07-09 22:09] brendandburns commented on #10868
agree, I'm happy to hold this in my pocket until we see it as a problem reported by users.

[2015-07-09 22:14] antoineco commented on #10265
Indeed sir, that's a lot of magic but it works out of the box :+1: Thank you for your support!

[2015-07-09 22:14] #10265 closed

[2015-07-09 22:20] #9675 closed

[2015-07-09 22:26] pmorie opened #11020 "Controlling UID/GID of EmptyDir volume"
Currently the emptyDir volume is owned by root:root.  Long-term, the uid/gid of this type of volume (and others based on it) should be set by the effective uid/gid of the container.

I'll write more on this later, wanted to create the issue before I forgot about this.  Spoiler alert: I think we can do this only for limited cases without the user namespace.

@thockin @erictune @ncdc @eparis @timoth

[2015-07-09 22:33] timstclair commented on #11020
@timothysc

[2015-07-09 22:34] lavalamp commented on #10659
Heapster may have its own problems, but it wasn't the cause of my initial
report.

On Thu, Jul 9, 2015 at 1:55 PM, Prashanth B <notifications@github.com>
wrote:

[2015-07-09 22:36] eparis commented on #11020
much as docker added the :z and :Z to volume mounts, I feel like we'd be better suited adding a :u or something to the volume mount and telling docker to use it's knowledge of the uid/gid and chown -R down at that level.  But obviously we'd need to be able to make use of that feature up in kube.

[2015-07-09 22:42] dchen1107 commented on #10868
Ok, I move this one to post 1.0 and will link this issue to: v1.0.0 known issues / FAQ accumulator #10760

[2015-07-09 22:42] zmerlynn commented on #10868
+1 to happy to wait. The PR builder flakes are definitely frustrating for on-calls and anyone on the hotseat waiting for a release to build, but it's a manageable / known pain.

[2015-07-09 22:54] mbforbes commented on #10826
@roberthbailey is this v1?

[2015-07-09 22:57] pmorie commented on #11020
@eparis yep, that is one possibility I was going to mention.  If we rely on the container runtime to do this, we should make sure that it's well-known that container runtimes need to do this kind of thing.

[2015-07-09 23:03] thockin commented on #11020
Is this a dup of the other issue about volumes and non-root ?

On Thu, Jul 9, 2015 at 3:26 PM, Paul Morie <notifications@github.com> wrote:

[2015-07-09 23:04] bprashanth commented on #8194
Updating an etcd key every 10s through post should be easy, if we want soon.

[2015-07-09 23:08] ixdy commented on #11014
GCE issues seem to be resolved now, but the test is still failing. My best guess is that #10525 broke things. Also note that this networking test is not run on the per-PR Jenkins.

cc @nikhiljindal

[2015-07-09 23:12] thockin commented on #10265
You heard it here, folks.  Someone OTHER THAN ME has observed it to Just
Work.  I hereby declare a ban on "DNS doesn't work" bugs. :)

OK, not really.  If anyone still has trouble, let us know.

On Thu, Jul 9, 2015 at 3:15 PM, Antoine Cotten <notifications@github.com>
wrote:

[2015-07-09 23:19] nikhiljindal commented on #11014
Looking at the logs to see if its due to v1beta3 deletion.

[2015-07-09 23:21] ixdy commented on #11014
This test appears to be using gcr.io/google_containers/nettest:1.4.

This image was built on May 29, 2015. Was that before the default API version was switched to v1?

[2015-07-09 23:25] ixdy commented on #11014
#9269 was merged June 4.

Probably building a new version of gcr.io/google_containers/nettest and updating the config is sufficient?

[2015-07-09 23:29] nikhiljindal commented on #11014
I see v1beta3 requests like the following in test logs:

[code]

I wonder which webserver this is, which is emitting v1beta3 requests

[2015-07-09 23:31] markturansky commented on #11020
NFS requires the same (do i presume all volumes?).

[2015-07-09 23:32] nikhiljindal commented on #11014
oh yes. @ixdy  you are right, the container running  gcr.io/google_containers/nettest:1.4 is named "webserver": https://github.com/GoogleCloudPlatform/kubernetes/blob/master/contrib/for-tests/network-tester/rc.json.
Updating the image should fix this.

[2015-07-09 23:33] ixdy commented on #11014
Yes, the webserver here is [contrib/for-tests/network-tester/webserver.go](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/contrib/for-tests/network-tester/webserver.go).

[2015-07-09 23:33] ixdy commented on #11014
@nikhiljindal are you going to take care of updating the image and config?

[2015-07-09 23:35] nikhiljindal commented on #11014
sure I can do that

[2015-07-09 23:35] ixdy commented on #11014
OK, assigning this to you, then! :)

I'll review your config changes.

[2015-07-09 23:36] quinton-hoole commented on #10868
I'm less concerned about the minor frustrations for incalls, but more concerned about the percentage of GCE cluster builds that are failing, as presumably our new and excited v1.0 customers will experience the same cluster build failure rate until we improve it.

For the record:
- 4 of the past 30 "e2e-gce" builds have failed (13.3%)
- 24 of the past 472 "e2e-gce-parallel" builds have failed (5%)

[2015-07-09 23:48] dchen1107 commented on #10868
@quinton-hoole Good point! For those build failure, do we have any logs collected from master node?

[2015-07-09 23:50] ixdy commented on #10868
I collected /var/log/* from the master and minion nodes for one failure I observed. I can send you a link internally.

[2015-07-10 00:03] dchen1107 commented on #10868
@ixdy Thanks. I just navigated it, and the one you sent to me is this one: docker load somehow hang. But this is just one of those build failures. I talked to @quinton-hoole build failure is pretty high, but caused by various reasons.

[2015-07-10 00:05] eparis commented on #11020
While the solution might be useful on NFS, emptyDir is a bit special.  With NFS it is "possible" to set the uid/gid/selinux context/etc before kubernetes gets involved.  With emptyDir is kubernetes which 'creates' the empty tmpfs filesystem, and thus only kubernetes (or docker later) can fix the uid/gid/label/etc.

So the feature is likely applicable, the bug is not quite the exact same. (meaningl

[2015-07-10 00:09] thockin opened #11031 "master HEAD is busted"
edaa1a69e587db4588e10f1e198ad7525362d1a6 causes the updated deep-copies and conversions go nuts

@nikhiljindal

I have no idea why shippable is not catching this.

[2015-07-10 00:10] thockin commented on #11031
shippable doesn't run those!

[2015-07-10 00:17] quinton-hoole commented on #10423
Unless I'm confused, it looks as if these logs are still not being uploaded.  @dchen1107 @ixdy FYI.

[2015-07-10 00:18] quinton-hoole commented on #10423
For example:

gs://kubernetes-jenkins/logs/kubernetes-e2e-gce/7500

[2015-07-10 00:22] ixdy commented on #10423
That particular build was a timeout. When Jenkins kills the job, the log-collecting code never runs.

[2015-07-10 00:23] ixdy commented on #10423
Another case we won't collect logs is if the cluster fails to initialize. (Which is a really important place to collect logs, but it's not a trivial fix.)

[2015-07-10 00:49] markturansky commented on #11020
@eparis thanks for the distinction.  I like learning the nuances.

We'll need to discuss security around NFS in another thread, because the current implementation requires a wide open share that PV only provides obfuscation for.

[2015-07-10 00:52] nikhiljindal commented on #11014
Pushed the updated image.
Sent https://github.com/GoogleCloudPlatform/kubernetes/issues/11014 for updating the config file

[2015-07-10 00:53] nikhiljindal commented on #11031
Looking at this now

[2015-07-10 00:54] quinton-hoole commented on #10792
For what it's worth, this test has not failed on Jenkins over the past few days.  I'm going to drop priority to P2, so we can focus on more pressing issues, as this one seems hard to reproduce.

e2e-gce-parallel:
[code]

For e2e-gce:

[code]

[2015-07-10 00:56] derekwaynecarr commented on #11031
I thought it was just me :-)   Now I don't feel so bad for debugging this
for an hour this afternoon.

On Thursday, July 9, 2015, Nikhil Jindal <notifications@github.com> wrote:

[2015-07-10 01:02] thockin commented on #11031
#11032 will hopefully "fix" shippable to break on this

[2015-07-10 01:06] quinton-hoole commented on #11014
@ixdy Is there any reason that this test should not be part of the per-PR e2e test suite?

[2015-07-10 01:17] ixdy commented on #11014
It's listed in GCE_PARALLEL_FLAKY_TEST_REGEX and has been for a while.

I don't know whether it's still too flaky to run in the regular parallel builds.

[2015-07-10 01:45] nikhiljindal commented on #11031
Fixing this in https://github.com/GoogleCloudPlatform/kubernetes/pull/11039

[2015-07-10 01:50] pmorie commented on #11020
@thockin

I don't think the other one encompasses ownership, but I will check

[2015-07-10 02:14] erictune opened #11040 "Finish putting ToCs into Docs"
#10762 added automatic doc transformation and a basic pass to add Tables of contents to files.

The toc generator in cmd/mungedocs/toc.go needs to be enhanced as follows:
- right now it indents the toc entries by `spaces =  (numSharpsOfHeading - 1 ) *2`.  But when a document starts with, say, `###`, then the table of contents will start with a four space indent, which causes Markdown to not proper

[2015-07-10 02:15] erictune commented on #11040
I meant to get to this but if have a few other things in the air so I've written down what needs to be done in case anyone else wants to pick this up.

[2015-07-10 02:21] ArtfulCoder commented on #10926
I will do it by tomorrow.

[2015-07-10 02:23] bprashanth commented on #10926
Feel free to assign it to me, I already have it tested locally for my other change

[2015-07-10 02:49] erictune commented on #10985
Will be fixed when #11038 merges

[2015-07-10 02:58] erictune commented on #1691
We look for dockercfg in several places.  Beyond that, I think that we
don't care what the kubelet working dir is.  Close it?

On Wed, Jul 8, 2015 at 10:26 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-07-10 03:05] erictune commented on #10991
@roberthbailey @mbforbes @jlowdermilk you seem like y'all might know how to debug `gcloud beta container get-credentials`

[2015-07-10 03:14] roberthbailey commented on #10991
Does either `gcloud beta container clusters list` or `gcloud beta container clusters describe <name>` work? It may be an issue with the way we are authenticating service accounts in general vs. the implementation of that specific command (which doesn't do anything other than getting the cluster and writing a kubeconfig file to the local disk).

[2015-07-10 03:18] danielschonfeld opened #11042 "GCE Disk based Volumes are broken on CoreOS"
On CoreOS `/usr/share` is a read only partition.  The user cannot even create a symlink to try to make it work and the default location for `safe_format_and_mount` is `/usr/share/oem/google-startup-scripts`

Therefore GCE Disk based volumes are broken on CoreOS

[2015-07-10 03:29] pmorie commented on #11020
My bad, @thockin

Closing as a dupe of #9384

[2015-07-10 03:29] #11020 closed

[2015-07-10 03:33] pmorie commented on #2630
This topic is relevant to @jmccormick2001's interests

[2015-07-10 03:34] pmorie commented on #2630
@thockin @eparis Is there merit in peeling off a separate issue to discuss this problem for NFS and other !emptyDir volumes?

[2015-07-10 03:34] #1691 closed

[2015-07-10 03:36] thockin commented on #2630
yes

On Thu, Jul 9, 2015 at 8:34 PM, Paul Morie <notifications@github.com> wrote:

[2015-07-10 03:36] thockin commented on #10926
This needs to be in ASAP  Like before 10am

On Thu, Jul 9, 2015 at 7:24 PM, Prashanth B <notifications@github.com>
wrote:

[2015-07-10 03:52] satyajitpadhyewit commented on #10983
Basically I want to run container on specific cpu cores. I am trying to run some real time applications on the container and since they are latency sensitive, I am trying to avail the lowest latency.  I tried using taskset but am sure it doesn't work completely. Any advice or solution.

[2015-07-10 04:18] roberthbailey commented on #10826
The referenced PR was a refactoring and Github got a bit confused. This issue isn't closed.

[2015-07-10 04:22] roberthbailey commented on #10826
I don't think we _need_ a test to recreate the MIG before v1.0 (although if it gets done before the freeze I don't see why we wouldn't merge it).

[2015-07-10 05:08] #11014 closed

[2015-07-10 06:35] wojtek-t commented on #10792
I am not comfortable at such critical time to upgrade monit to a new version, especially there is no evidence showing me monit causing the problem here. There are known races because we don't have fully control of our boot sequences, and restarting kubelet, docker etc. services through various sources. That is our call since we are not managing the node, and not requiring systemd as the only proce

[2015-07-10 07:09] wojtek-t commented on #10899
I agree this is probably 1 - we observed Kubelets restarting at random times in e2e tests - see #10792 for more details - e.g. https://github.com/GoogleCloudPlatform/kubernetes/issues/10792#issuecomment-119752028

[2015-07-10 07:46] thockin opened #11045 "Cleanup: analytics footer can be a mungedocs hook"
less shell code is more better

[2015-07-10 07:55] marekbiskup opened #11046 "kubectl logs prints empty output if logs are rotated - some example are wrong"
In many examples we use "kubectl logs" to show container output:

[code]

Quite often (for me - maybe once every 20-50 executions - I found it by an automated test) "kubectl logs" gives an empty output. The reason is that the docker log file has been rotated in the meantime.

Examples in the current form may be confusing for our users because they will not get the desired output.

The problem affe

[2015-07-10 07:58] #11031 closed

[2015-07-10 08:01] marekbiskup commented on #11046
Container logs are supposed to be rotated by logrotate with the following config:

[code]

So they are rotated daily. However, if I check my existing system, I can see that rotation is performed much more often:

[code]

Maybe kubelet also rotates these logs?

[2015-07-10 08:07] mwielgus commented on #11046
cc: @mwielgus

[2015-07-10 08:08] marekbiskup commented on #11046
@dchen1107, @lavalamp, do you know if kubernetes (kubelet) rotates docker container logs? Or fires logrotate?

How do we proceed:
1) correct kubectl logs so that it prints also the rotated files
2) mention in the examples that "kubectl logs" may give empty output
3) do not rotate if the file is less than 1MB (add `minsize 1M` to logrotat conf) - this will be enough for the examples.

Anyway, we ha

[2015-07-10 08:21] jiangyaoguo commented on #1111
I hadn't seen this issue before I made this pr #10843. Do we have a conclusion about this issue now? or I should change "get minions" to "get nodes" only? @bgrant0607  @thockin

[2015-07-10 08:27] wojtek-t commented on #10127
Fixed by #10989

[2015-07-10 08:35] hzy001 commented on #10265
start the dns addon and meet the problem:
Failed to list *api.Service: Get https://10.0.0.1:443/api/v1beta3/services: x509: failed to load system roots and no roots provided

I think I am not certificated,but how could I get certificated?

[2015-07-10 08:46] marekbiskup commented on #11046
Rotation in my pod:

Pod status:
[code]

rotated file:
[code]

So the rotation occurred about the same time the pod terminated. Maybe this is related.

So may be the problem affects only pods that terminate.

[2015-07-10 10:09] antoineco commented on #10265
How did you create your cluster?

1) The easiest way to generate your certificates is to use [this script](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/generate-cert/make-ca-cert.sh). Example:

[code]

2) Make sure you start your api server and controller manager (on the master) with the following flags

[code]

3) Clear your old default secrets, they all be

[2015-07-10 10:47] pires opened #11048 "Examples and lots of software broken because of DNS changes"
Thanks to https://github.com/GoogleCloudPlatform/kubernetes/commit/be4b700ccb2f2769f3099861f6d410073df283fd#diff-9436c96b0e9bf5bdad76fb79e7f0df25R23 some examples, like Hazelcast or Cassandra are broken. Also, software like @jimmidyson Elasticsearch discovery plug-in breaks.

This is a really nasty thing, and I wonder what is the rationale behind it - add `.svc.` to the A record.

[2015-07-10 10:47] mrmiroslav opened #11049 "kubectl simple rolling update fails"
```kubectl rolling-update frontend --dry-run=true --image=eu.gcr.io/<project>/<image>``` fails with error: ```may not update fields other than container.image```

Full Error:
[code]

[2015-07-10 10:53] jimmidyson commented on #11048
@pires The fabric8 Java client you mentioned by default will use the env vars `KUBERNETES_SERVICE_HOST` & `KUBERNETES_SERVICE_PORT` to find the Kubernetes master. Or you can alternatively specify the FQDN using `KUBERNETES_MASTER=https://kubernetes.default.svc.cluster.local:8443` & it will discover it.

[2015-07-10 12:10] devurandom commented on #11000
@antoineco explained (https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-120300549) the certificate part a little bit more and wrote about what to do when creating a cluster:

[2015-07-10 13:09] jszczepkowski opened #11052 "Wrong node cpu/mem limit metrics"
Metrics "kubernetes.io/cpu/limit" and "kubernetes.io/mem/limt" have wrong (default) values for the whole node (container "/"). To reproduce, create a GCE cluster with "n1-standard-2" node with GCE and enter container "/" in the query. Metric "kubernetes.io/cpu/limit" on GCM will be 1 (despite our nodes have 2 cores) and metric "kubernetes.io/mem/limt" will be -1 (MaxUint64). These seem to be the d

[2015-07-10 13:10] jszczepkowski commented on #11052
@piosz @vmarmol @rjnagal @vishh

[2015-07-10 13:21] al3xdm commented on #11049
Item 5 on this list looks like other people have encountered this too: https://github.com/GoogleCloudPlatform/kubernetes/issues/10992

[2015-07-10 13:25] mrmiroslav commented on #10991
Not sure if the issue resolved, but ```gcloud beta container get-credentials``` is getting credentials with service account now. No changes has been made, just this morning - it worked.

[2015-07-10 13:37] antoineco commented on #11000
* First a CA is created, the result is a cert/key pair (ca.crt/ca.key). You can use [easyrsa](https://github.com/OpenVPN/easy-rsa/blob/master/README.quickstart.md) to generate your PKI or OpenSSL if you feel comfortable with it.

* Then a certificate is requested and signed **using this CA** (server.cert/server.key), it will be used
  1. by the [api server](https://github.com/GoogleCloudPlatform/k

[2015-07-10 14:28] suyogbarve commented on #10472
I am actually able to run kubectl proxy on a different machine (browser : 10.101.109.73) and able to access it from another machine (kube_master: 10.101.100.8)
However I am facing a different issue, my kubernetes master node is unable to talk to any of the pods.
If I hit >>
curl http://kube_master:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-z7x57/data.json
Error: 'dial tcp 172.1

[2015-07-10 14:48] jcderr commented on #7042
+1

After a lengthy eval period, I think this is really the last impediment to us rolling out kubernetes across the board in our shop.

[2015-07-10 15:22] quinton-hoole commented on #10127
#10989 broke e2e-gce-parallel, our parallel test run (and presumably all per-PR e2e runs). See comment there on how to fix it.

[2015-07-10 15:26] roberthbailey commented on #10991
Strange -- AFAIK we haven't changed anything on our end. If you want to send me the project number for your project I can try to dig a bit deeper on our end. robertbailey [at] google.com.

[2015-07-10 15:28] suyogbarve opened #11058 "Update-demo-nautilus: no route to host"
My Configuration:
Baremetal Centos machines as follows:
Kube_master: 10.101.109.73
Kube_node1: 10.101.109.84
Kube_node2: 10.101.109.69

I am trying to use Update-Demo example.
The proxy server is running on Kube_master.

My kubernetes master is unable to talk to any of the pods.

curl http://kube_master:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-z7x57/data.json
results in follo

[2015-07-10 15:28] ihmccreery commented on #10472
Hi @suyogbarve.  Would you mind [opening a separate issue](https://github.com/GoogleCloudPlatform/kubernetes/issues/new)?  It sounds like the issue you're facing is a different one, and it will be hard to address two different issues on the same thread.

[2015-07-10 15:30] suyogbarve commented on #10472
Sure @ihmccreery I opened a new issue https://github.com/GoogleCloudPlatform/kubernetes/issues/11058

[2015-07-10 15:43] vmarmol commented on #11052
The memory part was just fixed by google/cadvisor#804 but we'll need to update Kubernetes' Godep to get it. The CPU part is trickier, the kernel (and cAdvisor) export the interface in CPU shares which Heapster then assumes 1024 shares == 1 core (which is what we do in Kubernetes). We can't "fix" that in cAdvisor, we'll need Heapster to replace that value with the machine size. Filed: GoogleCloudPl

[2015-07-10 16:03] timothysc opened #11061 "test/networking - should function for intra-pod communication FAILING this morning."
http://fpaste.org/242697/14365404/

As of this morning only.

Question: Is DNS now forced?  b/c the test used to pass w/o b4.

cc @jayunit100 @rrati @eparis @roberthbailey @thockin

[2015-07-10 16:11] swagiaal commented on #11011
#8530 will solve this but post 1.0

[2015-07-10 16:22] thockin commented on #10899
Status update?

[2015-07-10 16:23] zmerlynn commented on #7046
The last piece of this was merged. I believe this issue is done. Someone can reopen is this is incorrect!

[2015-07-10 16:23] #7046 closed

[2015-07-10 16:23] thockin commented on #8892
Status on this?  @quinton-hoole can you hand-off since you're going AFK ?

[2015-07-10 16:26] thockin commented on #9861
This is the last v1-candidate issue in this category.  At this point if it is not fixed, it's probably not in v1.  If it is fixed, please close.  Thanks!

[2015-07-10 16:34] brendandburns commented on #11061
See:

https://github.com/GoogleCloudPlatform/kubernetes/pull/11035

For the fix, it was merged last night.

tl; dr; We switched the test container to the v1 API from v1beta3

[2015-07-10 16:34] #11061 closed

[2015-07-10 16:35] quinton-hoole commented on #10926
No priority on this one.  p1?

[2015-07-10 16:36] brendandburns commented on #11058
It looks to me like your networking isn't set up correctly.  You need to make sure that you can ping/connect to the Pod IP address range from all machines?

What are you using for the networking setup?  You probably need to set up CoreOS Flannel, or something like that.

--brendan

[2015-07-10 16:36] quinton-hoole commented on #10897
Just waiting for oncall to merge #11109

[2015-07-10 16:37] brendandburns commented on #11049
I will look into this today.

[2015-07-10 16:38] quinton-hoole commented on #10792
Closing in favor of #10899 to track remaining issue.

[2015-07-10 16:42] quinton-hoole commented on #10622
@krousey Is there anything left to do in this issue, or can we close it.  Seems like we still need to track down the "network no configured correctly" issue, and the "AUFS mount" issue, but there are separate issues tracking those?

[2015-07-10 16:43] roberthbailey commented on #10472
Can this issue be closed then?

[2015-07-10 16:43] lavalamp opened #11063 "docs/high-availability.md: broken links"
Some links in docs/high-availability.md (prefixed with "TODO:" after #11038 merges) don't have the associated files in our repo. We should find and upload those files.

[2015-07-10 16:44] lavalamp commented on #11063
@brendandburns, do you have those files?

[2015-07-10 16:45] quinton-hoole commented on #8892
Yes, suggest that the test code be updated to retry.  Assigning to @krousey to do that, as he was looking for something to keep him out of mischief.

[2015-07-10 16:45] thockin commented on #10926
P1 assigned, fix is in flight.

[2015-07-10 16:50] WIZARD-CXY commented on #10265
good guide👍🏻

May the force be with you

[2015-07-10 17:03] pires commented on #11048
@thockin informed me `kubernetes.default.cluster.local` should work if `kubernetes.default.svc.cluster.local` works as well. With 0.21.0 binaries this does not apply to me.

[2015-07-10 17:06] ihmccreery commented on #10472
@adyanthaya17, has running the kubectl proxy on your local machine helped?

[2015-07-10 17:31] delianides commented on #11011
@swagiaal Thats fine. But shouldn't it be a concern that the built binaries require a script that is only available if you run `kube-up`?

[2015-07-10 17:54] zmerlynn commented on #10676
There's a `kubernetes-e2e-gce-release` job now. It happens to be running on `release-0.21` right now and I haven't set it up for easy branch flipping (it's hardcoded on Jenkins), but given the cadence, I don't think we need that yet.

[2015-07-10 17:54] #10676 closed

[2015-07-10 17:55] zmerlynn commented on #10676
We should also setup a soak test for this at some point..

[2015-07-10 17:56] bgrant0607 commented on #10551
Janet is working on this. #11066

[2015-07-10 17:59] suyogbarve commented on #11058
I am trying to use Flannel on nodes, let me recheck my n/w setup.

[2015-07-10 17:59] #11058 closed

[2015-07-10 18:00] justinsb commented on #11011
@delianides  It's actually Salt that installs it (along with all the binaries).  In theory you could trigger that without using kube-up, though I don't know why you would want to!  That said, I saw a suggestion in #8530 to move the functionality of the script into k8s itself; I think that would be an improvement here!

[2015-07-10 18:02] krousey commented on #10622
@quinton-hoole Nothing left. The root causes have other issues and my change mitigates the effect of the most common one.

[2015-07-10 18:02] #10622 closed

[2015-07-10 18:03] a-robinson opened #11069 "Lingering "apiserver received an error that is not an api.Status" errors"
When running 0.21.1 I've seen a couple different types of errors returned as 500s due to errors not being of the correct type. In both cases, it's causing 500s to be returned where it looks like 404s would be much more appropriate.

First when trying to proxy to an endpoint that has no endpoints:
[code]

Also when trying to PUT an rc that doesn't exist
[code]

cc @lavalamp

[2015-07-10 18:08] nikhiljindal commented on #11069
I can take this

[2015-07-10 18:12] a-robinson commented on #11069
Thanks Nikhil!

[2015-07-10 18:14] krousey commented on #8892
@quinton-hoole was I? Ok fine... :smile:

[2015-07-10 18:23] deads2k opened #11070 "make ServiceAccounts easier to work with - post1.0"
Having spent some time working with service accounts downstream, there are a few enhancements I'd like to see post-1.0
1. Make it easier to get a valid token for a service account.  The long-lived, but fully revocable aspect of SA tokens makes it desirable to use them for machine accounts, but it is really painful to describe to a user how they can get the SA token outside of a pod.  While I recog

[2015-07-10 18:25] liggitt commented on #11070
2a. Make token creation synchronous... https://github.com/GoogleCloudPlatform/kubernetes/pull/8866 was an attempt at that

[2015-07-10 18:25] liggitt commented on #11070
@erictune

[2015-07-10 18:28] brendandburns commented on #11049
Ok, this appears to be a problem in version skew.

kubectl 0.20.1 doesn't work with rolling-update and version = v1.

The work around is adding ```--api-version=v1beta3```

e.g.

```kubectl rolling-update --api-version=v1beta3 nginx --image=redis```

[2015-07-10 18:30] quinton-hoole commented on #10915
post 1.0 unless anyone wants to pick it up before them.  I'm on vacation for a month, so unassigning myself.

[2015-07-10 18:40] dchen1107 commented on #10792
@quinton-hoole I think you closed a wrong one here. I am reopen it, re-close it if you disagreed with me. :-)

[2015-07-10 18:44] #11049 closed

[2015-07-10 19:06] lavalamp commented on #11045
I may fix this because I keep moving files and this causes double links.

[2015-07-10 19:13] quinton-hoole commented on #10792
@dchen1107 as I understand it, we still need to track down the reason for the seemingly unnecessary kubelet restarts.  Is #10899 not the canonical tracking issue for that?

[2015-07-10 19:14] saad-ali commented on #10899
I ran the full E2E suite repeatedly overnight on my own GCE with additional logging around capacity exceeded logic, I was unable to repro the issue. I am dropping the priority of this issue, because if it is not blocking: even if it happens on a production system, the scheduler will reschedule the pod to a different node (whereas the PD test fails the test immediately).

[2015-07-10 19:16] #1883 closed

[2015-07-10 19:19] jayunit100 commented on #11061
fails on hack/local-up-cluster.sh as well, trivial to reproduce

[2015-07-10 19:22] #10897 closed

[2015-07-10 19:22] davidopp commented on #10899
Unless they're not running under an RC, I guess? But that's probably rare.

[2015-07-10 19:23] #10551 closed

[2015-07-10 19:25] timothysc commented on #11061
@brendandburns ^ different error from last night, but same spot.

[2015-07-10 19:30] nikhiljindal commented on #11069
This is working fine for me on HEAD

1) Getting service without endpoint: I created the following service without any spec.selector
[code]
Since there is no selector, there is no endpoint created. Now when I do GET api/v1/proxy/namespaces/default/services/frontend, I get:
[code]
which is as expected.

2) PUT on an rc that doesnt exist, I tried: `curl -X PUT http://<masterIP>/api/v1/namespaces/defa

[2015-07-10 19:33] rjnagal commented on #11052
Closing this in favor of heapster issue, where we can make the actual fix.

[2015-07-10 19:33] #11052 closed

[2015-07-10 19:34] nikhiljindal commented on #11069
The second one if reproable, seems to be an etcd error: https://github.com/GoogleCloudPlatform/kubernetes/issues/10064

[2015-07-10 19:36] rjnagal commented on #11046
@dchen1107 can you take a look?

[2015-07-10 19:37] rjnagal commented on #11048
@thockin Did it get fixed by changes we merged earlier today?

[2015-07-10 19:38] dchen1107 commented on #11046
cc/ @satnam6502 too.

[2015-07-10 19:40] rjnagal commented on #11042
@saad-ali can you take a look?

[2015-07-10 19:42] #10130 closed

[2015-07-10 19:46] lavalamp commented on #11045
Re-implemented in mungedocs in #11013, but not removed from shell code yet since mungedocs doesn't run outside of docs/.

[2015-07-10 19:47] rrati commented on #10720
We've seen this test fail on our cluster as well.  We were running kubelets without the --maxpods flag so it should have allowed 100 pods/node.  While the rc was created with the correct number of pods, the kubelets looked to allow >100 pods/node.  I saw at least 1 system with 101 pods on it.  On our cluster, it always fails with the 2nd failure:

Expected
    <[]api.Event | len:0, cap:0>: []
not

[2015-07-10 19:48] satnam6502 commented on #11046
I vote for 2. I think we should advise that `kubectl logs` is just a "cache" of some of the logs for a pod and that cluster level logging should be used to get the full history of a pod's log output. If a pod was restarted then `kubectl logs` does not show logs from the previous invocation, as discussed at https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/lo

[2015-07-10 19:53] davidopp commented on #10720
We really need to figure out whether this is a product bug or a test bug. @bprashanth @gmarek @wojtek-t can you look into this? If it is really not possible to debug this without #10915, could one of you implement that (or find someone to do it)?

[2015-07-10 19:53] dchen1107 commented on #10760
#10659: exec probes as broken in v1 due to resource leakage caused by docker.
#10868: docker load sometimes hang, which causes kube-apiserver cannot start. Restarting docker daemon should fix the issue.
#11027: by default allow-privileged is on for kubernetes. Document how to disable it through salt configuration.
#10891: due to master node is not registered to kube-apiserver, heapster doesn't col

[2015-07-10 19:53] davidopp commented on #10720
Also, I will manually review the code that implements the feature to see if I see any obvious problems.

[2015-07-10 19:57] liggitt commented on #11070
Additional things from my list:
5 - Allow indicating a service account grants access to some set of secrets (via selector, or "allow any", or ...). Once namespace permission partitioning occurs, and admission control starts enforcing which secrets a pod can reference based on its service account, we'll want to be able to say things like "serviceaccount X can use any secret, but serviceaccount Y ca

[2015-07-10 19:59] timothysc commented on #10720
@davidopp what we can state for certain is the kubelet indeed runs more then specified.

[2015-07-10 20:01] dchen1107 commented on #11046
Agreed with @satnam6502. I will update those examples referring to logging.md. Thanks!

[2015-07-10 20:02] dchen1107 commented on #11046
cc/ @bgrant0607

[2015-07-10 20:05] mbforbes opened #11075 "E2E won't start due to pod failures"
We saw this in Jenkins. The following loops until the test is killed:
[code]

I saw this once so haven't yet assessed its frequency.

@ixdy says he thinks he has seen the same failure a few times, and linked artifacts (for those with permissions):
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/739cb2f526f15e7c82ef7c476a1458ad68b09fd1/kubernetes-pull-build-test-e2e

[2015-07-10 20:06] gmarek commented on #10720
yup, I have seen a run that actually was running more than max-pods pods. This problem is really hard to debug, as I failed to reproduce it locally, hence we need to depend on failed Jenkins runs. Flakyness is ~1/10 (estimate from memory), and roughly half of it is clearly related to Kubelet restarts (those are the failures of RunRC). Without #10915 it's really hard to figure out anything, as by d

[2015-07-10 20:09] nikhiljindal commented on #11069
ok. I can repro the first one, when I create a service with selectors. It fails because there is no rc backing the service.

[2015-07-10 20:12] gmarek commented on #10860
I can work on it, if no one wants. My current idea is to write an ordinary e2e "test" that scrapes cadvisor for every node for some time, and compares average resource usage to the limit we choose.

I'm not quite sure if it's possible to define the allowed growth instead of hard limits, as I don't know if we can transfer data between runs.

[2015-07-10 20:18] saad-ali commented on #11042
Sure, I'll take a look.

[2015-07-10 20:30] nikhiljindal commented on #11069
https://github.com/GoogleCloudPlatform/kubernetes/pull/11076 fixes the first case.
The second one will be fixed as part of #10064

[2015-07-10 20:50] thockin commented on #10760
Services that use port 10250 can not set type = LoadBalancer because of an issue in GCE firewalls.  This will be fixed in a future update

[2015-07-10 20:50] ixdy commented on #11075
(fixed your URL so it's publicly available)

[2015-07-10 20:52] mbforbes opened #11079 "Reboot (and probably many other) tests no longer have pods to look at"
They used to look at all pods in the default namespace, which used to contain all of the vital infrastructure pods. The purpose of looking at these was to ensure the system was fully healthy after a reboot, restart, upgrade, etc.

However, now I see in the test:

[code]

I'm guessing this was related to the big namespace change? When moving all of the pods out of the default namespace we must have

[2015-07-10 20:54] mbforbes commented on #11079
+cc @satnam6502 might this have been you? :-)

[2015-07-10 20:56] mbforbes commented on #11075
@ixdy thank you!

[2015-07-10 20:56] satnam6502 commented on #11079
Probably. Drat. I thought I had cleared everything before going on vacation!

[2015-07-10 21:02] ixdy commented on #11075
Hm, so looking at a successful GCE run, I notice that there appear to normally be 9 pods, not 14, e.g.:

[code]

Yet here there are 14, including what appear to be many duplicates?

From the kube-controller-manager.log, it appears to be creating extra replicas of kube-ui and monitoring-heapster, maybe? Not sure if I'm reading the log correctly.
[code]

[2015-07-10 21:08] dchen1107 commented on #11075
Yes, by default on today's e2e test environment, there should be only 9 pods: 2 fluentd-logging (one each minion), 3 dns pod, 1 ui, 1 heapster, 2 influx-grafana (2+3+1+1+2). Sounds like a replication_controller related issue. Also it could be a potential cause for #10899.

[2015-07-10 21:10] ixdy commented on #11079
Argh. I will work on fixing the minimum startup pods value for GCE Jenkins right away.

[2015-07-10 21:11] bprashanth commented on #10915
also https://github.com/GoogleCloudPlatform/kubernetes/issues/10308

[2015-07-10 21:17] bprashanth commented on #11075
The rc will keep creating replicas if previous replicas go into failed (as seems to be the case in the first comment)

[2015-07-10 21:18] rjnagal commented on #11075
Is it easy enough to not count failed ones?

[2015-07-10 21:19] gmarek commented on #10308
Let's discuss this tomorrow. I also think we can achieve this with a new grain, that will correspond to my idea in #8802.

[2015-07-10 21:22] ixdy commented on #11075
Ah, it looks like #11019 merged this afternoon will fix this issue (failed pods won't be counted).

I think we're all OK here.

[2015-07-10 21:22] #11075 closed

[2015-07-10 21:23] gmarek commented on #10308
By tomorrow I, obviously, mean Monday:)

[2015-07-10 21:24] bprashanth commented on #11075
Hrm, why were the pods in failed? any clues?

[2015-07-10 21:26] mbforbes commented on #11079
Thank you @ixdy! The regression in the 1&rarr;0 change is largely my fault because I didn't fight back hard enough or make sure it's used in GCE.

[2015-07-10 21:26] mikedanese commented on #10408
- HAProxy config generation framework (and then maybe an haproxy nanny app in that could do direct-to-pod external load balancing).

[2015-07-10 21:34] satnam6502 opened #11082 "Audit e2e tests for usage of `default` namespace"
To quote @mbforbes from #11079

There are a few others in e2e/util.go (waitForPodRunning(), testContainerOutput()) that use the default namespace that we should probably audit but I don't have time for right now because they're called in one or more "real" tests... would you be kind enough to open an issue to finish flushing this out? I worry we have more silent passes..

@quinton-hoole

[2015-07-10 21:36] mbforbes commented on #11082
Also these might be legit uses of the default namespace, but even if they are, it's good test hygiene for each test to use its own rather than the default.

[2015-07-10 21:38] satnam6502 commented on #11082
Yes, the namespace in many of these functions should be abstracted into an argument e.g. waiting for a pod success is something -- even in tests -- we want to do in the system namespace, the default namespace -- or some other namespace. Having it baked in is not very flexible.

[2015-07-10 22:00] quinton-hoole commented on #10860
Excellent!  Yes that sounds great.  We will clearly need to beware of high rates of false negative failures, but I think that the best starting point is to build the test first, and worry about what the right pass/fail thresholds are as the second step.

[2015-07-10 22:29] brendandburns commented on #10515
This was introduced by https://github.com/GoogleCloudPlatform/kubernetes/pull/10076

we're fixing it here:
https://github.com/GoogleCloudPlatform/kubernetes/pull/11084

and we're going to cherry-pick 0.21.2 with the fix.

[2015-07-10 22:49] #10168 closed

[2015-07-10 23:08] bprashanth commented on #10795
Another example on a doc only pr https://app.shippable.com/builds/55a03b11ce11ef0c002a5890

[2015-07-10 23:09] bgrant0607 commented on #8448
Ugh. port-forward has the same issue.

[2015-07-10 23:11] bgrant0607 opened #11089 "kubectl port-forward should accept a pod without -p"
Similar to #8448 -- we fixed exec to match logs, but didn't notice that port-forward has the same problem.

cc @brendandburns @ncdc

[2015-07-10 23:26] erictune commented on #10996
Fixed by #10994.   `"Skipped` does not match ` Skipped ` or `[Skipped]`.  Took me a long time to figure that bug out.

#10994 is not merged yet but the equivalent change is merged to conformance-test-v1 branch instead of master.

[2015-07-10 23:46] erictune commented on #10983
For running apps on Kubernetes, I suggest you do set an appropriate cpu limit on the container.  This affects the shares for the container which can affect latency when using CFS.

If you suspect latency could be even lower, using taskset as you did to experiment is a good approach.  Doing taskset on all the processes in the container is the same as putting --cpuset-cpus on their container.     It

[2015-07-10 23:51] #11009 closed

[2015-07-10 23:52] justinsb commented on #8892
I have an ancient but still open PR that might also help ... we should be logging events during this test: #8905.  Let me know if we would consider merging it and I will check that it still works.  (It's fairly small, and at this point it might be easier to just recreate it, I have no problems if someone want to do that)

[2015-07-10 23:55] bgrant0607 commented on #10123
Services documented by #11072

[2015-07-10 23:55] #10123 closed

[2015-07-10 23:56] bgrant0607 commented on #10121
Fixed by #11071

[2015-07-10 23:56] #10121 closed

[2015-07-10 23:56] bgrant0607 commented on #10119
Fixed by #11071

[2015-07-10 23:56] #10119 closed

[2015-07-10 23:57] bgrant0607 commented on #8524
Fixed by #11071

[2015-07-10 23:57] #8524 closed

[2015-07-10 23:57] saad-ali commented on #10899
Ok, I was able to capture some logs of this happening:

`plugin/pkg/scheduler/algorithm/predicates/predicates.go`
[code]

[2015-07-10 23:57] bgrant0607 commented on #3153
Fixed by #11071

[2015-07-10 23:57] #3153 closed

[2015-07-10 23:59] bprashanth commented on #10899
Yes, so that means the pod didn't fit on the node. did you happen to get a dump of pods currently on the node/do you have the cluster running?

[2015-07-11 00:00] saad-ali commented on #10899
Yep:
[code]

[2015-07-11 00:04] bgrant0607 opened #11093 "Move user docs to docs/user-guide and create an up-to-date TOC"
We've started to create a user guide in docs/user-guide. We should move related docs and concept-oriented examples to there, and create a TOC.

We probably need to merge, refactor, rename, etc. docs as well.

Files to move:
* docs/user-guide.md -> docs/user-guide/README.md, and updated
* Generated kubectl docs to docs/user-guide/kubectl/  @jlowdermilk
* docs/accessing-the-cluster.md
* docs/annotat

[2015-07-11 00:04] bgrant0607 commented on #9494
I'm going to move user docs to docs/user-guide. #11093

[2015-07-11 00:20] saad-ali commented on #10899
There were 7 pods running on the node:
[code]
And the 7 pods had 10 containers total:
[code]
Each asking for `100m` so the `milliCPURequested=1000` makes sense.

The question then is why were there so many pods scheduled on one node.

@bprashanth suggested checking for evictions, and sure enough, the other node evicted pods:
[code]

Now the question is what caused the other node to evict?

[2015-07-11 00:22] davidopp commented on #10899
If the other node evicted and the pods didn't end up back on that node, I think almost certainly they got evicted because the node became not-ready. Spreading would have put them back on the node that evicted if it was still healthy.

[2015-07-11 00:37] bgrant0607 commented on #8527
Heapster doc is in.

[2015-07-11 00:46] saad-ali commented on #10899
Ok, so this all makes sense now.

There is a `Network when a minion node becomes unreachable` test that runs before this PD test. It forces one node to go offline, which causes all the system pods to get rescheduled to the other node. And then the PD test tries to schedule its pod on the over-committed node and freaks out when it is unable to.

So changing the default namespace for the PD test pod

[2015-07-11 00:50] bprashanth commented on #10899
Deleting existing pods in kube-system ns. Deleting the rcs will cause more problems. Unsure if this is required, but unbalanced cluster addons might lead to issues for other tests.

[2015-07-11 01:35] quinton-hoole commented on #10899
Awesome @saad-ali! Well sleuthed.
I don't think (or understand why) moving that test to it's own namespace would make any difference?
I think that we should consider the "Network when a minion node becomes unreachable" test to be potentially cluster-destructive on small two-node clusters like out test clusters (it would be a relative non-event on larger clusters, where the evicted pods would be sp

[2015-07-11 01:39] quinton-hoole commented on #10899
Or we could routinely build larger (3-4 non-master node) clusters for testing purposes.  This is not the first time we've come across a case where a 2-node cluster is simply not representative of reality, and produces false-positives (er.. negatives.. whatever).

[2015-07-11 01:53] davidopp commented on #10795
And again:

https://app.shippable.com/builds/55a0553ebfba210c0016dd6d

I'll send a PR later tonight to disable this test.

[2015-07-11 02:14] #5149 closed

[2015-07-11 02:46] Icedroid opened #11101 "skydns always restart in a loop"
I has sucked in this problem for two whole days. I can't setup kubernetes cluster DNS successfully.Who could help me? Thank you.
[code]

About my used version info is:
[code]

[2015-07-11 03:10] feihujiang commented on #11089
@bgrant0607  Is there anybody to work on this? Just three days ago, I newed a PR  #10913 to fix small nits for this command. So if there is nobody, I'd like to work on this.

[2015-07-11 03:34] bgrant0607 commented on #5349
Probably the wording in monitoring.md could be tweaked to clarify this.

[2015-07-11 03:35] bgrant0607 commented on #8529
We should add an example to the new service section of the user guide, if there isn't one already.

[2015-07-11 03:38] bgrant0607 commented on #9632
Probably a link to the new user guide (docs/user-guide) would be better, once we have a TOC doc for it (Monday, hopefully).

[2015-07-11 03:46] bgrant0607 commented on #10132
cc @lavalamp

[2015-07-11 03:49] bgrant0607 commented on #10108
The "sharing clusters" doc is actually just about copying around kubeconfig files, which is really about accessing a cluster. Even a single user could need to do that if they created their cluster from one host and tried to access it from another. The topics suggested by this doc are about actual multi-tenancy.

[2015-07-11 03:53] bgrant0607 commented on #5331
cc @andronat @erictune

[2015-07-11 04:03] bgrant0607 commented on #7299
@lavalamp is moving cluster admin docs to docs/admin in #11013

We're going to move user docs to docs/user-guide #11093

[2015-07-11 04:08] thockin commented on #11101
the dns_token is no longer needed.  If you have your certs configured (see
recent messages here or google-containers about this topic) kube2sky will
"just work".  #10265

On Fri, Jul 10, 2015 at 7:46 PM, Icecream <notifications@github.com> wrote:

[2015-07-11 04:22] bgrant0607 commented on #1571
cc @lavalamp re. link checker

[2015-07-11 04:45] zmerlynn opened #11105 "Tests failing at HEAD: TestRunExposeService"
[code]

[2015-07-11 04:53] zmerlynn commented on #11105
This was broken by #10974, and therefore broken in `release-1.0` as well. Any fix should be offered as a cherry pick so "make release" is clean there.

[2015-07-11 05:11] lavalamp commented on #1571
It's easy to make the link script do whatever we want. I have it NOT
backtracking to root right now (or will when today's thockalamp changes
merge), since it was inconsistent before and that was most straightforward.
But I can put it the other way, too.
On Jul 10, 2015 9:22 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-07-11 06:29] roberthbailey commented on #11101
Note that this is fixed only in newer version of kubernetes. If you really want to use version 0.18.x you will need to manually create a dns token and stick it into a secret.

[2015-07-11 07:01] gabrielweyer commented on #6966
I'm having the same issue here. Running `0.21.1` and trying to deploy on Azure following the [Azure](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/azure.md) tutorial.

I had a look at the salt logs and could only see DEBUG or INFO messages and nothing seemed out of the ordinary.

Regarding the Kubernetes log, only `kubernetes-addons.log` had some content

[2015-07-11 07:09] Icedroid commented on #11101
@thockin You mean the kubernetes version 0.18.x also need to configured the cert use cluster/saltbase/salt/generate-cert/make-ca-cert.sh? But I can't successfully run this script.

@roberthbailey I install kubernetes 0.18.x in centos 7, If I upgrade to 0.20.x will fix these bugs? But I new to the k8s, I don't know how to upgrade? Thank you for your help.

[2015-07-11 07:33] sttts commented on #10795
@davidopp I take a look at the issue now.

[2015-07-11 08:05] Icedroid commented on #10265
@antoineco the ./make-ca-cert.sh not run successfully in centos 7 for k8s version 18.x.

[2015-07-11 08:25] sttts commented on #10795
The panic is probably caused by stretchr/testify#180. Will update the godeps. But there is also an unexpected mock call in our code, eventually triggering this bug.

[2015-07-11 08:30] Icedroid commented on #11101
I install k8s in centos with k8s docs, is it has a bug?
https://github.com/GoogleCloudPlatform/kubernetes/blob/release-0.20/docs/getting-started-guides/centos/centos_manual_config.md

[2015-07-11 08:58] antoineco commented on #10265
Any detail about the error? The script assumes that you have a Unix group called *kube-cert*, so maybe you have to run:

[code]

[2015-07-11 08:59] Icedroid commented on #10722
@roberthbailey How to install it with yum?

[2015-07-11 09:06] antoineco commented on #11101
No, but it's outdated, skydns didn't work super reliably at that point. The way pods authenticate against the API has changed a lot since 0.18.0, might be worth updating the getting started guides.

[2015-07-11 09:13] Icedroid commented on #11101
@antoineco How can I got the latest docs. Now how could I do to make my k8s cluster is available? Oh, My god, make me don't know how to do.

[2015-07-11 09:14] pires commented on #11048
#11107 mitigates this in `examples/hazelcast`.

[2015-07-11 09:17] Icedroid commented on #10265
After run ./make-ca-cert.sh ,no erros, also no one file generate in /srv/kubernetes/.
I don't know how to install k8s cluster latest version in centos 7. Did you have a article for the follow?

[2015-07-11 09:20] antoineco commented on #11101
You probably want to read this:
[docs/getting-started-guides/scratch.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/scratch.md), seriously it's the best getting started guide around.

The *virt7-testing* repo doesn't seem to maintain recent versions of Kubernetes.

[2015-07-11 09:22] antoineco commented on #10265
I'll kindly redirect you to my comment here: https://github.com/GoogleCloudPlatform/kubernetes/issues/11101#issuecomment-120598107

[2015-07-11 09:26] Icedroid commented on #11101
@antoineco Thank you very much. I will learn that, and then I hope I can upgrade my k8s version in centos 7 make it available.

[2015-07-11 09:33] antoineco commented on #11101
Yeah it's better to forget about the CentOS guide. Just download the latest version [here](https://github.com/GoogleCloudPlatform/kubernetes/releases) (kubernetes.tar.gz v0.21.2) and follow the instruction from the guide above on a **clean** system if possible.

It's quite some work but if you ever consider any serious deployment you will most likely automate things using SaltStack, Ansible, Puppe

[2015-07-11 09:37] tdeheurles commented on #9704
hi, I have the same issue this morning using. build/release.sh

The error as just moved to line 471 :
[code]

The @dalekurt fix didn't work for me.

[2015-07-11 09:38] Icedroid commented on #11101
I want to use the automate things, But I don't have any IaaS Provider in this article.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/README.md

[2015-07-11 09:50] moix commented on #10722
Well, I'm not sure if there's a yum repo containing them.
You can install them directly with _rpm -i package.rpm_ but if what you want is yum to resolve dependencies you can use _yum localinstall_ or even create a local repo with _createrepo_ command

[2015-07-11 11:08] satyajitpadhyewit commented on #10983
I did believe the same fact as you have stated that using taskset on all processes can be done in this case. But if cpuset is supported you just dont have to use taskset again and again.

[2015-07-11 12:46] Smana opened #11110 "understanding expose with NodePort"
Hello,

I'm trying to expose a service externally. I'm not using a public cloud so i'm trying to expose the service using the NodePort option.
However there's something i still don't understand, i followed the example https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/README.md
And i've changed the frontend service as follows :
[code]
From what i understand, each node

[2015-07-11 13:04] Smana commented on #11110
my mistake it is a configuration parameter on the kube-apiserver :
[code]

[2015-07-11 13:38] zmerlynn opened #11111 "./hack/run-gendocs.sh busted at HEAD, breaks pre-commits"
#11038 broke `hack/gendocs.sh` for me. I can't generate non-relative links now, so precommits on HEAD are failing for me:

[code]

Diff:
[code]

I'm not sure why my environment is a special snowflake. Trying in a clean repo now.

[2015-07-11 13:40] zmerlynn commented on #11111
Yeah, repros from a clean clone.

[2015-07-11 13:41] zmerlynn commented on #11111
cc @thockin as well.

[2015-07-11 14:10] zmerlynn commented on #9704
There's an open issue on head and at the 1.0.0 tag: #11105. We'll fix it soon.

[2015-07-11 14:19] zmerlynn commented on #11111
Yeah, this seems to work fine with:
[code]

But on my desktop this gets executed as:
[code]
which is a perfectly normal `KUBE_ROOT`.

[2015-07-11 14:53] zmerlynn commented on #11111
I'll put up a PR soon.

[2015-07-11 15:06] zmerlynn commented on #11111
Also, five of a kind. #11111. Woo!

[2015-07-11 15:13] andronat commented on #11007
I am +1 for adding a message field for verbose explanation

[2015-07-11 15:45] thockin-cc commented on #11111
@lavalamp fixed this in his last munger PR that needed a rebase. I am out
right now, will take a look later.

Workaround is to use a go-compliant dir for your code ...src/
github.com/GoogleCloudPlatform/kubernetes/... (it broke me too).
On Jul 11, 2015 8:07 AM, "Zach Loafman" <notifications@github.com> wrote:

[2015-07-11 15:53] thockin commented on #11110
NodePort listens on a different port - an allocated port that it knows it
can get on EVERY node.

It's an imperfect API, and its primary utility is to build load balancers
on top of it (eg AWS ELB).
On Jul 11, 2015 5:47 AM, "Smana" <notifications@github.com> wrote:

[2015-07-11 16:04] kgrvamsi opened #11114 "Kublet API based Documentation for Minion Metrics"
Hello,

I was been trying to make the kublet api to be open so that i can access the cadvisor @8080 port so i have done the changes in the /etc/kubernetes/kublet and added the line to open the kublet api

 location of the api-server
KUBELET_API_SERVER="--api_servers=http://0.0.0.0:8080"

and i have added the kublet api server based settings in the systemd file for kublet.service

[Unit]
Descriptio

[2015-07-11 16:17] Icedroid commented on #11101
@antoineco Could you help me. I have learn the scratch.md. Now I don't know how to start the etcd apiserver kube-controller-manager on my master machine.
``
Starting Apiserved

Place the completed pod template into the kubelet config dir (whatever --config= argument of kubelet is set to, typically /etc/kubernetes/manifests).
[code]

[2015-07-11 16:27] zmerlynn commented on #11111
I hunted for dupe and didn't see one. I made a somewhat surgical fix to
chdir to always make it relative prior to the file walk, which is a common
solution.
On Jul 11, 2015 8:45 AM, "thockin-cc" <notifications@github.com> wrote:

[2015-07-11 16:41] satnam6502 opened #11115 "TestRunExposeService broken at head"
The test was expecting ` you will also need to explicitly open a firewall`.

[code]

[2015-07-11 16:42] satnam6502 commented on #11115
@ixdy @quinton-hoole @davidopp

[2015-07-11 16:45] satnam6502 commented on #11115
[code]

[2015-07-11 17:29] bgrant0607 commented on #11007
Yes, we should add a Message field. I will add this to api-conventions.md.

[2015-07-11 17:31] bgrant0607 commented on #11007
I'll see if I can reproduce the scenario and dump the json.

[2015-07-11 17:46] zmerlynn commented on #11115
Dupe of #11105, and culprit misidentified :)

[2015-07-11 17:46] #11115 closed

[2015-07-11 18:20] antoineco commented on #11101
(maybe it would make things more clear if you changed the ticket title to something like "Kubernetes 0.21 on CentOS" or something similar, since the subject of the conversation has drifted a little bit)

The kubelet on the master is only used to start the Kubernetes master services inside containers, it doesn't have to be registered with the API since it won't be used to schedule pods others than

[2015-07-11 18:35] satnam6502 commented on #11115
Ah, OK. Well, my 10 hour flight did not have wifi so I did not have time to catch up with the existing issues.

[2015-07-11 18:37] Smana commented on #11110
Unfortunately i still don't understand how i can expose a service externally without a public cloud load balancer.
Could you please guide me ?

[2015-07-11 19:35] mmayernick commented on #260
Ran into this issue while trying to setup a RabbitMQ container. Rabbit's persistence depends on the hostname, so having variable hostnames means you lose the Mnesia database on container restart.

Tried to remedy with image config (hostname directly and Rabbit), ENV variables, and the Downward API. Wasn't able to get any to solve the problem - Rabbit still picks up the generated Pod name. Solving

[2015-07-11 19:56] thockin commented on #11110
If you set your service to type NodePort, it will allocate you a port.
Read your Service object back to see what port got allocated.  As long as
your Service object exists that port, on all nodes, is yours.

Have you read over docs/services.md ?

Alternately, https://github.com/GoogleCloudPlatform/kubernetes/pull/10405
will let you bind any port on any node to your service, which is a bridge
from

[2015-07-11 20:26] #11111 closed

[2015-07-11 21:26] mikedanese commented on #260
If I understand correctly, the rabbitmq pod (created with a replication controller) in the [clerey-rabbit](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/celery-rabbitmq) example will lose data on pod failure even if data is stored on a persistent disk. From rabbitmq doc:

There is not a good solution for this now, but you could create a pod (not bound to an rc) with a migr

[2015-07-11 23:56] jason-riddle opened #11119 "UI hangs when cluster brought up with vagrant"
By using the following when bringing up the cluster
[code]

and waiting for the cluster to come up, trying to reach the UI at
[code]

is unsuccessful since the page just hangs

[2015-07-12 00:02] bgrant0607 commented on #11007
There was no readiness probe defined for the container.

[2015-07-12 00:42] smarterclayton commented on #260
Or on startup symlink the hostname dir to a stable location

On Jul 11, 2015, at 5:26 PM, Mike Danese <notifications@github.com> wrote:

If I understand correctly, the rabbitmq pod (created with a replication
controller) in the clerey-rabbit
<https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/celery-rabbitmq>
example will lose data on pod failure even if data is stored on a
per

[2015-07-12 02:28] Icedroid opened #11123 "Kubernetes 0.21 with flannel on CentOS 7"
I have two machines installed CentOS 7, I call one is Master, the other is Node. Now how to start the k8s cluster successfully with the guide: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/scratch.md

# On the Master have done as follow:
* start kubelet
[code]
* start etcd, apiserver, scheduler, controller-manager
Like scrach guide put etcd.manifest, api

[2015-07-12 02:40] #11101 closed

[2015-07-12 06:47] davidopp commented on #10899
Thanks for debugging, @saad-ali !

I agree with @quinton-hoole regarding fixes.

[2015-07-12 09:09] Smana commented on #11110
Thank you thockin,
I've redo all the steps and i've downloaded an updated version of kubectl and this works just as expected.

For the alternative, i'm looking forward what will be impleemented soon.

[2015-07-12 09:09] #11110 closed

[2015-07-12 09:41] antoineco commented on #11123
1. Everything you drop inside the `--config` directory is passed to the API server and constantly watched for changes (from the [kubelet doc page](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubelet.md)). Pods **are** containers (or groups of containers), what I meant is that you don't **have** to run kubernetes components inside containers, you can also run the binaries dir

[2015-07-12 10:00] cwahl-Treeptik commented on #10748
I got the same problem. Network seems to be unreachable from any container running on the bootstrap Docker:
[code]

[2015-07-12 10:20] iakshay commented on #11119
Same issue on a vagrant setup running on OSX. The css/javascript assets are taking way too much time to load

Kubernetes version -

[code]

[2015-07-12 10:46] Icedroid commented on #11123
@antoineco  You are so kindly. Thanks very very much for your help.

* On the master
[code]
content is as follow:
[code]
I got these error for kube-controller-manager:
[code]

* On the node
the docker option is:
[code]

[code]
content is as follow:
[code]

I got these error for kubelet:
[code]

Because my apisever is http://k8s-master:8888, now I run kubectl every time must use this:
[code]
 kubec

[2015-07-12 11:12] Icedroid commented on #11123
kubectl config I have find the document， It solve:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubeconfig-file.md

[code]

[2015-07-12 15:58] Icedroid commented on #11123
I found the etcd alway stop working. But the /var/log/etcd.log not have error message.
I don't know is it I start etcd error?
[code]

[2015-07-12 16:59] antoineco commented on #11123
Regarding etcd, you have to advertise your ip, not 0.0.0.0 (but you can *listen* on 0.0.0.0)
You also forgot to advertise the peer URL:

[code]

[2015-07-12 19:47] davidopp commented on #10792
This failed again: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/7551/

[2015-07-12 19:54] davidopp commented on #10868
This happened again, multiple times within four hours:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/3323/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/3328/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/3329/

[2015-07-12 20:01] davidopp commented on #10127
This failed again:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/7545/

[2015-07-12 22:17] #11079 closed

[2015-07-12 22:33] thockin commented on #11123
On Sat, Jul 11, 2015 at 7:29 PM, Icecream <notifications@github.com> wrote:

Putting those manifests in place will run pods, which includes containers.

We want to move towards more stuff running as containers, so it's best
to make that work.

I think those are cleanups but maybe not strictly REQUIRED.  But yes,
the master should be no different in this way.

I Think that these flags are not neede

[2015-07-12 22:38] thockin commented on #11119
@preillyme @bcbroussard

[2015-07-12 22:45] thockin commented on #10899
I agree that 2 nodes is not realistic for the full gamut of tests we want to run.  @quinton-hoole is away and I don't know that much Jenkins, but we should probably bump to to 3 right away.  Disagreements?

@ixdy - do you know how, assuming we do this?

[2015-07-12 23:06] bgrant0607 commented on #260
That's an example of why the hostname shouldn't be derived from the pod name -- #4825

[2015-07-12 23:06] thockin commented on #11048
@pires I don't know what "does not apply to me" means?  legacy (x.y.cluster.local) DNS names should work and will continue to work until some time after 1.0

[2015-07-12 23:07] thockin commented on #11048
I'd like to close this bug or retitle it - it has a scary sounding and inaccurate subject :)

[2015-07-12 23:22] justinsb commented on #11012
We should have an e2e test for this, I'm working on one here: #11128.  So far I haven't been able to reproduce the problem.

The events in kubectl describe aren't _necessearily_ a problem (but it is very helpful to see them, so thank you!).  It takes a while to detach the volume from the old host, but kubernetes will likely reschedule the pod before that is complete.  We would expect to see the po

[2015-07-12 23:52] kelseyhightower commented on #7257
@bgrant0607 Just getting around to reviewing this.

[2015-07-13 01:13] alexanderguzhva commented on #11119
v1.0.0 (build cd82144), ubuntu 14.04. Works in firefox, no problems. Maybe there was a pause/hangup when tried to open https://<master>/ui for the very first time.

[2015-07-13 03:08] Icedroid commented on #11123
@thockin Your nodes run in cloud_provider gce, not in centos 7. So the binary args is not the same. Thanks.

[2015-07-13 03:12] Icedroid commented on #11123
@antoineco About ectd, It run well too as follow:
[code]
I this is equal to:
[code]

[2015-07-13 03:59] davidopp commented on #10792
And again: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/7561/

[2015-07-13 04:06] davidopp commented on #10792
This falied twice again:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/7551/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/7561/

[2015-07-13 05:25] gangadhars commented on #10480
Thanks guys. It's not the proxy problem. Flannel is not running properly. Running ```/root/kube/reconfDocker.sh``` on every node solved the problem. And I tested this on v18. Please update "cluster/ubuntu/skydns-rc.yaml.template" to v1 so that we can use v0.19.3.

[2015-07-13 05:29] WIZARD-CXY commented on #10480
@gangadhars Please check out the latest ubuntu dns deployment approach.It was updated to v1.

[2015-07-13 05:52] gangadhars commented on #10480
Can you provide the link to latest dns deplyment approach? I still seeing v1beeta1 [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/v0.21.1/cluster/ubuntu/skydns-rc.yaml.template)  @WIZARD-CXY

[2015-07-13 05:57] WIZARD-CXY commented on #10480
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/ubuntu/skydns-rc.yaml.template
It's in master branch.You can use master branch's `deployAddons.sh` to deloy dns.

[2015-07-13 06:00] gangadhars commented on #10480
Thank @WIZARD-CXY. You can close the issue.

[2015-07-13 06:03] pires commented on #11048
With 0.21.0 binaries it doesn't work for me. So has it been fixed
meanwhile? Am I missing something?
On Jul 13, 2015 00:08, "Tim Hockin" <notifications@github.com> wrote:

[2015-07-13 06:08] antoineco commented on #11123
To be honest I ignored you couldn't run the controller manager without a cloud provider, so I can't really help.

Regarding the error you get when you start the kubelet, can you post the content of your `/cgroup` directory?

[2015-07-13 06:11] KSanthanam commented on #10809
Sorry @thockin , It was a problem with my yaml for nginx. Once I set the sessionAffinity to Client-IP for nginx service ALSO, kubernetes was directing the traffic to the sane node.js service everytime.

nginx servide (with ClientIP) -> was directing to the same node.js pod in node.js service (client IP).

Previously my nginx service's sessionAffinity was set to None..

I have a related question. I

[2015-07-13 06:11] #10809 closed

[2015-07-13 06:38] kgrvamsi opened #11133 "Kubernetes Replicator Resize and Pod grouping"
Hello,

i would like to know if given below things can be achieved through kubernetes when it is running the cluster.

1)When there is a Replicator running with resize 4 to 2 and can we explicitly say that this node should should go down or this container should go down.

2)Can i stop a POD on a specific host to stop instead stopping the pods on the whole cluster group.

thanks,
Vamsi