[2018-03-17 06:47] hzxuzhonghu commented on #61296
Aggregator default proxy request by clusterIP. And oddly, why are there only two watch connections?

[2018-03-17 11:43] n-sviridenko commented on #10421
@erictune thank you, you saved my day! I've spent 3 hours on it.

[2018-03-17 13:13] mcronce commented on #53331
@soltysh Correct - however, it should be reaping the ones in `CrashLoopBackOff`.  If it does that correctly, the cluster's resource limits aren't exhausted and they never stack up in `Pending`.

[2018-03-17 13:21] #53532 closed

[2018-03-17 14:05] wasylkowski-a commented on #60589
OK, so evidently commit 6590ea6d5d50700d34255b1e037b2702ad26b7fc is good:
[code]
while commit 7b678dc4035c61a1991b5e1442edb13f40deae72 is bad:
[code]
The bad commit is the merge of the reverted commit mentioned by @dims, so we must be observing another regression on head.

Let me try rerunning head on etcd 3.1.11 instead of 3.1.12 and see what happens.

[2018-03-17 14:08] dims commented on #60589
@wasylkowski-a ah classic good news bad news :) thanks for keeping this going.

@wojtek-t any other suggestions?

[2018-03-17 15:23] #17870 closed

[2018-03-17 15:29] sunng87 commented on #33664
@janetkuo I see. If we want `IfNotPresentButAlwaysLatest` behaviour we should just omit the option `imagePullPolicy`, right?

[2018-03-17 15:48] dims commented on #61293
/milestone v1.10

(to match the fact that the PR is marked 1.10)

[2018-03-17 15:51] dims commented on #61283
/milestone v1.10

[2018-03-17 15:55] liggitt commented on #61283
/milestone clear

 No longer blocking 1.10. See https://github.com/kubernetes/kubernetes/issues/61283#comment-373875304

[2018-03-17 15:56] dims commented on #61297
/milestone v1.10

(match PR being marked v1.10)

[2018-03-17 17:15] uablrek opened #61319 "Node objects gets ipv4 addresses in a ipv6 cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area ipv6

**What happened**:

The node objects in a ipv6 cluster gets ipv4 addresses. This doesn't seem to affect function but it looks bad.

[code]

If `hostNetwork: true` it becomes very visible for those pods;

[code]

**What you expected to happen**:

The addresses for nodes should be ipv6 addresses.

**How to reproduce it (as minimall

[2018-03-17 17:19] wasylkowski-a commented on #60589
Head on etcd 3.1.11 is also bad; my next try will be to try directly after the revert (so, at commit cdecea545553eff09e280d389a3aef69e2f32bf1), but with etcd 3.1.11 instead of 3.2.14.

[2018-03-17 17:23] uablrek commented on #61319
/sig network

[2018-03-17 17:28] Excludos commented on #23864
I'm in a project right now requiring that we open somewhere in the ballpark of 10000 ports, and I am not sitting down to write down every single port one by one in the config file. Is there any ETA on this? It's a pretty ridiculous feature not to have considering how required it is when running servers.

[2018-03-17 17:33] mcronce commented on #14349
I originally saw this in 1.7.x, confirming it's still an issue in 1.9 (granted 1.9.1, running out of Fedora 27 repos)

[2018-03-17 17:42] obeattie commented on #51135
In case it’s interesting, we implemented the [ability to customise this period](https://github.com/monzo/kubernetes/commit/9888ef89f3ae85e643f4d1098f0ba001414a5f25) in our fork.

[2018-03-17 18:01] piyushkv1 opened #61320 "Delete dashboard [signal SIGSEGV: segmentation violation]"
##### Environment

Creating same issue here in core repo since it is found in kubectl
https://github.com/kubernetes/dashboard/issues/2900
[code]

##### Steps to reproduce
kubectl delete  -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

##### Observed result
root@sc-rdops-vm04-dhcp-114-244:~# kubectl delete  -f https://raw.githubuser

[2018-03-17 19:00] dims commented on #60589
Sounds good Andrzej

-- dims

[2018-03-17 19:04] Winterflower commented on #58736
Thank you @JordieB - very helpful!

[2018-03-17 19:47] wasylkowski-a commented on #60589
Commit cdecea545553eff09e280d389a3aef69e2f32bf1 is good, so we have a later regression:
[code]

[2018-03-17 22:29] wasylkowski-a commented on #60589
Commit 2a373ace6eda6a9cf050ce70a6cf99183c5e5b37 is clearly bad:
[code]

[2018-03-17 22:30] #53657 closed

[2018-03-17 22:37] dims commented on #60589
@wasylkowski-a So we are basically looking at commits in the range https://github.com/kubernetes/kubernetes/compare/cdecea5...2a373ac to see what's wrong then? (run bisect between these two)?

[2018-03-17 22:39] wasylkowski-a commented on #60589
Yes. This is a huge range, unfortunately. I am right now investigating aded0d922592fdff0137c70443caf2a9502c7580.

[2018-03-17 23:42] liggitt commented on #60769
Green run of http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.9-master-upgrade-cluster-parallel

Properly skipped these tests

/close

[2018-03-17 23:42] #60769 closed

[2018-03-18 03:14] kalise commented on #57627
Similar issue here, with Kube 1.9.2. In our case, it was an authentication issue, probably an old service account token stored in etcd. We're playing with certificates when faced this issue. We cleaned etcd, and starting from scratch: no more encountered this issue.

Hope this helps

[2018-03-18 03:43] andrewrynhard opened #61322 "kubeadm: etcd certs missing in self-hosted deploy"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In https://github.com/kubernetes/kubernetes/pull/60385, certs for etcd get created but are not projected into the apiserver pod when `StoreCertsInSecrets` is set to `true`.

**What you expected to happen**:
The certs should be created as secrets when `StoreCertsInSecrets` is set to `true`, and then they should be projected

[2018-03-18 04:36] #53635 closed

[2018-03-18 04:40] resouer commented on #60834
Sorry but this feature request does not make sense to me.

1. Kubernetes already setup Pod level resource limit by [Pod level QoS](https://github.com/kubernetes/kubernetes/issues/27204) and many node features now consume it, which, answered the question in original thread.

2.  As for @shenlanse's question, scheduler always count resources of pod containers as a whole, which means, you can just se

[2018-03-18 05:51] resouer commented on #56721
kindly ping @greghaynes Any update on this issue? It seems your already created patch but haven't submit PR yet?

[2018-03-18 06:48] zousheng commented on #56748
Thanks

[2018-03-18 07:31] DanyC97 commented on #11543
@pat2man i got same output like @apooniajjn when i added in `/etc/origin/node/node-config.yaml`

[code]

[code]

@liggitt looking [here](https://github.com/kubernetes/kubernetes/issues/22063#issuecomment-251997481) i see  you are familiar with this code.
Any thoughts why on

[code]
the flag is not present ?

[2018-03-18 07:33] resouer commented on #61079
Are you sure the pod is pending because of taint?

Could you please post the result of `kubectl get pods`.

[2018-03-18 07:39] #54131 closed

[2018-03-18 07:40] resouer commented on #60787
This does not sound like a default behavior for kube-scheduler. Could you workaround it by using request/limit with node selector?

[2018-03-18 07:45] DanyC97 commented on #11543
however if i do this i won't get any error following service restart.
[code]
i'll need to see if this makes the difference or is ignored ...

[2018-03-18 08:14] resouer commented on #60616
As I recent changed a lot of the code base of scheduler extender. I will take this if it's still help wanted.

[2018-03-18 09:40] igelkotten commented on #44665
@italojs as I said... The admin.conf is generated when you run the init command and **not** the join command, atleast when i messed with it. You can type as much sudo you want. Joining a cluster wont generate the admin.conf.

[2018-03-18 12:21] bhack commented on #55896
There is also a nice component in Argo. Check https://blog.argoproj.io/use-spot-instances-with-your-kubernetes-clusters-on-aws-2a27f1887bb0

[2018-03-18 13:09] bhack commented on #55896
Also the mentioned spot termination handler could be combined with https://github.com/pusher/k8s-spot-rescheduler/

[2018-03-18 13:35] wojtek-t commented on #61189
@enisoc - thanks a lot for looking!

I think the hypothesis makes perfect sense.

The other hypothesis is that during those ~30 minutes of test, we didn't have enough time to recreate more pods.

But I think that in general we understand the issue.

We should fix the test to make it more robust, but I don't consider this as a release blocker.

[2018-03-18 13:48] fabiand commented on #55708
/remove-lifecycle rotten

[2018-03-18 14:21] andyxning commented on #34704
/remove-lifecycle stale

[2018-03-18 14:45] kam2001 commented on #61207
kubectl describe pod mongo
connect to mongo on this IP from your app

[2018-03-18 14:58] ravisantoshgudimetla commented on #60616
Sure @resouer. Thanks for picking this up :)

[2018-03-18 15:13] stealthybox commented on #61322
/area etcd
/area kubeadm
/area security
/sig cluster-lifecycle

[2018-03-18 15:16] stealthybox commented on #61322
This bug was first introduced with #57415

[2018-03-18 15:55] mc1271 commented on #56693
Hi all. Same issue here. Working on a VirtualBox Three node cluster with kub-dns in CrashLoopBackOff and "Waiting for services and endpoints to be initialized from apiserver...". Help appreciated. Mike

[2018-03-18 16:00] uablrek commented on #59402
Please consider testing that the function exist, not that modules are loaded. I use a small dedicated system for test and had ipvs linked into the kernel (i.e no modules). I had to rebuild the kernel with modules for ipvs.
Almost any "ipvsadm" command should be sufficient to test the ipvs function and load the modules automatically if necessary. Ipvs is not the first to check for modules in Kubern

[2018-03-18 16:13] pospispa commented on #60764
ACK.  Waiting on reviews and approvals (PRs https://github.com/kubernetes/kubernetes/pull/61282 and https://github.com/kubernetes/kubernetes/pull/61316)
ETA: depends on reviews and approvals
Risks: N/A

[2018-03-18 16:18] jdumars commented on #61293
/status in-progress

[2018-03-18 16:24] jdumars commented on #61297
@soltysh @pwittrock @adohe PTAL ~ if this is 1.10 blocking, please add the approved-for-milestone label

[2018-03-18 16:46] jdumars commented on #60608
/status in-progress

[2018-03-18 16:47] jdumars commented on #61050
/status in-progress

[2018-03-18 16:48] jdumars commented on #59194
ACK. In progress
ETA: 19/03/2018
Risks: additional test fails caused by merge of #61161

Still in progress AFAICT ~ keeping this issue alive

[2018-03-18 17:06] dims commented on #60589
Thanks @wasylkowski what's the current range? (so i can go look at the PR's).

[2018-03-18 17:26] #61297 closed

[2018-03-18 17:38] pospispa commented on #60764
I've created PR https://github.com/kubernetes/kubernetes/pull/61324 for the above.

[2018-03-18 18:50] #20919 closed

[2018-03-18 19:51] #43886 closed

[2018-03-18 21:06] tylerauerbeck opened #61326 "Bump etcd to 3.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
It looks like there are a handful of issues waiting on a bump of etcd to v3.3. Is there any timeline on pushing this? Is there any work already being done on this?

[2018-03-18 21:11] greghaynes commented on #56721
@resouer PR can be found at https://github.com/kubernetes/kubernetes/pull/57057 - Sorry I didn't realize GH hadn't linked it anywhere.

[2018-03-18 23:33] prasanna12510 commented on #50888
check the secrets in the joining cluster
kubectl get secrets --namespace=federation-system
kubectl delete secret <secret_name> --namespace=federation-system

[2018-03-18 23:55] #40245 closed

[2018-03-19 01:01] foxyriver commented on #58788
This should be fixed by #55796

[2018-03-19 01:57] #23144 closed

[2018-03-19 02:33] zhouhaibing089 commented on #57061
@smarterclayton: I am curious on the etcd version, is it required to upgrade etcd to v3.2.x to fix this issue, too? The commit you mentioned about grpc only exist on v3.2.x.. Not sure whether this should be fixed from both client&server side.

[2018-03-19 02:49] qiujian16 opened #61327 "kubect logs doe not work when switch container runtime from docker to cri-containerd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I started a cluster using docker as the container runtime, and run several pods. I then change the kubelet configuration to use cri-containerd as the container runtime, and restart the kubelet. The pods
are running, however running ```kubectl logs``` returns error.

**What you expected to happen**:
```kubectl logs``` shou

[2018-03-19 03:07] Lion-Wei opened #61328 "fix gce-gce-ipvs ci ESIPP case flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In gce-gce-ipvs CI, most ESIPP related case flaky. Which include:
[code]
Link: http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs

**What you expected to happen**:

Those e2e case should be passed. Or, is ipvs not support some user case, should have a document.

**Anything else we need to know?**:

**Environmen

[2018-03-19 03:42] hanxiaoshuai commented on #61272
cc @m1093782566

[2018-03-19 03:53] Lion-Wei commented on #61328
/sig network
/area ipvs

[2018-03-19 04:51] smarterclayton commented on #57061
The problem here requires client side fixes

[2018-03-19 05:00] #53473 closed

[2018-03-19 05:42] axot commented on #32457
Container-Optimized OS got same values
[code]

[2018-03-19 05:49] wasylkowski-a commented on #60589
Commit aded0d922592fdff0137c70443caf2a9502c7580 is bad:
[code]
so the current range is cdecea545553eff09e280d389a3aef69e2f32bf1...aded0d922592fdff0137c70443caf2a9502c7580. I will continue with f8298702ffe644a4f021e23a616ad6a8790a5537 for the lack of a better idea.

[2018-03-19 06:58] catlittlechen commented on #51000
I am a newer. I have the same question. All my master nodes have the same hostname, and the server use this hostname to choose leader. As a result, all my master nodes has become a leader when they up.
So I changed the hostname of them, and fix it.....

[2018-03-19 07:02] #53908 closed

[2018-03-19 07:04] gyliu513 opened #61332 "Enable `kubectl top pod` support `--watch` option"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
`kubectl top pod` do not support `--watch` now, it is better to support this so that cluster admin can monitor the resource usage change on time.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes ver

[2018-03-19 07:08] gyliu513 commented on #61332
/sig cli

[2018-03-19 07:10] zhangtbj opened #61333 "New requirement to set default pod container"
**Is this a BUG REPORT or FEATURE REQUEST?**:
New FEATURE REQUEST

**What happened**:
Right now, when we configure multiple containers in one pod, the first container will be the default container of this pod. when we execute `kubectl exec -it <pod name>` kube will enter the first default pod.

**What you expected to happen**:
But for some reason, we have to patch the pod to add some additional si

[2018-03-19 07:16] chestack commented on #45419
this commit fix problem in my env
https://github.com/moby/moby/pull/31273/commits/8e425ebc422876ddf2ffb3beaa5a0443a6097e46

this is a helpful link about "docker ps hang":
https://github.com/moby/moby/pull/31273

[2018-03-19 07:37] dixudx commented on #61184
This is a bug of cobra. I've sent out a PR to fix it.
And bumped to the fixed version in #61334.

[2018-03-19 07:53] hiratamasato opened #61335 "nginx permission denied when updated kubernetes version 1.8.7-gke.0 to 1.9.4-gke.1"
/kind bug

**What happened**:
I updated kubernetes version 1.8.7-gke.0 -> 1.9.4-gke.1 then simple nginx application errored.
this application on 1.8.7-gke.0 had worked.
I cannot understand whether or not this is bug.

my dockerfile
[code]

and nginx error log. all pages returned 403.
[code]

But once I touch public directory with like below command, I can access those files via blowser.
[code]
thi

[2018-03-19 07:58] shenlanse commented on #60834
@resouer Thank you for your reply.
2. Firtly, some kind of resources is pod level,not container level. Also, pod.Spec.Containers is not stable, user may update deployment to remove/add/update one of them. So we can't  set pod-level resourcerequirement in containers, which might be lost.

Extended Resource doesn't work for pod-level-resources.

Of course, if pod.spec.containers can't be updated, we

[2018-03-19 08:03] #46839 closed

[2018-03-19 08:04] Random-Liu commented on #61327
@qiujian16 I don't think live upgrade from docker to a CRI container runtime such as containerd is supported.

After you restart kubelet, kubelet won't see previous running containers from Docker, although they are still running. And kubelet will start new containers in containerd. This will cause many problems.

So I think you'd better drain you node first before upgrade from docker to containerd

[2018-03-19 08:10] Random-Liu commented on #55501
I think we can close this one now. This is addressed in https://github.com/kubernetes/kubernetes/pull/59103

[2018-03-19 08:10] #55501 closed

[2018-03-19 08:18] qiujian16 commented on #61327
@Random-Liu got it, thanks for confirmation :)

[2018-03-19 08:18] #61327 closed

[2018-03-19 08:20] hzxuzhonghu opened #61336 "container lifecycle postStart and preStop hooks https schema does not take effect"
If we define a pod like this below, the pod will never become ready.
[code]

kubectl describe pod got this event
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-19 08:20] hzxuzhonghu commented on #61336
/sig node
/kind bug

[2018-03-19 08:25] timchenxiaoyu opened #61338 "deployment upgrade error"
if  pod mount  disk storage，upgrade deployment，disk has mounted to old pod  ,it lead to new pods can not be create successfully

[2018-03-19 08:25] kumudt commented on #52423
Facing the same issue on K8s 1.8.9 after upgrading from 1.7 using Kops

[2018-03-19 08:37] kumudt commented on #49263
I am facing this issue on Kubernetes 1.8.9 (After upgrading via Kops from 1.7.11). Is the fix available for 1.8.9?

[2018-03-19 09:04] #54265 closed

[2018-03-19 09:05] Nodraak commented on #50375
Hi!

Is there any updates here?

Should we implement this with a new kubectl command? Something like `kubectl clear restart-counter <pod-name>` or `kubectl set --restart-counter 0 <pod-name>`?

[2018-03-19 09:18] hzxuzhonghu commented on #61336
raised a pr to fix it.

[2018-03-19 09:19] szuecs commented on #51135
@obeattie Thanks for sharing!

Did you open a PR already?
I would like to add my +1 to make it happen to upstream.

[2018-03-19 09:23] obeattie commented on #51135
@szuecs No, I'm afraid not. I discussed it on Slack with some of the k8s maintainers a while ago and I think the conclusion was that it wouldn't fly upstream. I don't recall whether this was due to a specific implementation issue or just that ideologically that this wouldn't be useful to enough users to be a feature of mainline k8s.

We're certainly not opposed to contributing this code, or trying

[2018-03-19 09:50] jcderr opened #61341 "Pods with Large Numbers of Containers Do Not Always Exit Cleanly"
/kind bug

**What happened**:

Our chaos testing will occasionally launch a pod with an absurd number of sidecar containers (100 is typical). Each container uses a docker image of nominal size (~200-500mb) to ensure a typical startup time, and then runs `sleep 600` before exiting `0`. After all containers exit, `kubectl` reports the pod status as either `Completed` or `Terminating` but gets stuck

[2018-03-19 09:51] jcderr commented on #61341
@kubernetes/sig-node-bugs

[2018-03-19 09:56] MrMic opened #61342 "DaemonSet does not generate pod(s)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I try to generate a daemonSet and nothing appear

**What you expected to happen**:
To see the creation of 1 pod, at least ...

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

Client Version: version.Info

[2018-03-19 10:01] raspberrypython commented on #31424
+1

[2018-03-19 10:03] alvaroaleman commented on #61076
FYI, in GKE this doesn't seem to interfere with deploying new pods but keeps exiting pods in status "Terminating" after they were requested to get deleted:

[code]

[2018-03-19 10:05] #54231 closed

[2018-03-19 10:06] yastij commented on #61342
/sig apps

[2018-03-19 10:12] szuecs commented on #51135
@spiffxp @justinsb can you clarify this please?
I really think it's a production problem, if you can not change the period as already done by monzo / @obeattie.
It really makes CPU limits useless for most microservices, because there are many in critical paths of an application, which will cause all of them to not specifying CPU limits, which can cause cluster instability.

[2018-03-19 10:40] xinxiaogang opened #61343 "Default get/list pod request does not hit apiserver cache"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We have large scale k8s 1.7 cluster with etcd 3.1.9, and we meet apiserver performance issue these days.
The phenomena is pod action become very slow including get/list/update.
We have lots of applications running in the cluster which do pod list periodically using REST client with empty ListOption or GetOption.

From api

[2018-03-19 10:45] soltysh commented on #53331
@KIVagant @mcronce can you give me the yaml of the pod status you're having in `Error` state? For `CrashLoopBackOff` is specific, but unfortunately it does not give definite answer that the pod failed. If you look carefully through pod status you'll see it's in the waiting state, scheduled, initialized and waiting for further actions. Nowhere in the code we have any kind of special casing for situ

[2018-03-19 10:51] crassirostris commented on #61280
Limiting audit logging backend and dropping audit events in case buffer is overflown is an expected behavior, so it should work

Currently it doesn't work well, that's the problem, not the audit backend configuration that limits the throughput :)

[2018-03-19 10:52] Lawouach commented on #22721
I'm curious about this difference as well @a-robinson. If you have some insights :)

[2018-03-19 11:13] venumurthy commented on #58736
gcloud is turning out to be as problematic as every other google product.... have sorted this issue and now facing ERROR: (gcloud.container.clusters.create) ResponseError: code=403, message=Required "container.clusters.create" permission for "projects/xxxx".

[2018-03-19 11:24] venumurthy commented on #30617
astonished to see this issue has been there for more than 2 years now! Google Cloud wake up

[2018-03-19 11:35] zhangxingdeppon opened #61345 "ertificate_controller.go:139] Sync node-csr-dKn2VH7vzVD9uJBF9xW_nwNzinzO1IVq1VXG_K1m-MU failed"
hey,I'am faced with a problem,The situation is as follows，I have proved the csr

[root@k8s-10-12-100-236-10-12-100-236 ~]# kubectl certificate approve node-csr-dKn2VH7vzVD9uJBF9xW_nwNzinzO1IVq1VXG_K1m-MU
certificatesigningrequest "node-csr-dKn2VH7vzVD9uJBF9xW_nwNzinzO1IVq1VXG_K1m-MU" approved
[root@k8s-10-12-100-236-10-12-100-236 ~]# kubectl get csr
NAME

[2018-03-19 11:49] rjeberhard opened #61346 "Make pods/exec websocket channel 3 content easier to parse exit code"
/kind feature

**What happened**:

As part of kubernetes-client/java, I'm looking at the websocket calls for pods/exec.  When the exec'd process exits with a non-zero code, we would like to provide this exit code value to the caller.

Exec status information is provided through websocket channel 3; however, this content is presently unstructured.  For instance, the following content was returned:

[2018-03-19 11:51] gardarh opened #61347 "Pods sporadically not reachable across k8s namespaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
HTTP calls from podx in namespace x to pody in namespace y sometimes ceases working.

**What you expected to happen**:
HTTP calls between podx in namespace x to pody in namespace y should work as long as both pods are running.

**How to reproduce it (as minimally and precisely as possible)**:
I cannot reproduce it reliabl

[2018-03-19 11:57] shyamjvs commented on #61189
Thanks for the great debugging! I agree this a non-release-blocker wrt the test-side of the issue (I'll send out a fix for that soon).
The fluentd recreations part of the issue still seems a release-blocker, but IIUC we have https://github.com/kubernetes/kubernetes/issues/61190 for that.

[2018-03-19 12:00] wojtek-t commented on #61189
I'm not convinced that this is release blocker. But it should be handled there.

In this issue, we should only fix our tests to be more resiliant for such failures. Which is definitely not a release blocker.

[2018-03-19 12:06] mcronce commented on #53331
@soltysh Right now I don't have any, I've been manually clearing them with a little bash one-liner for a while.  Next time I experience it, though, I'll grab the YAML and paste it here.  Thanks!

[2018-03-19 12:07] #37060 closed

[2018-03-19 12:07] #54240 closed

[2018-03-19 12:11] shyamjvs commented on #61189
The reason why I believe it should be a release-blocker is https://github.com/kubernetes/kubernetes/issues/61189#issuecomment-373645495. Just my 2 cents - but if 30 mins after the cluster start, if some fluentds are getting restarted (potentially leading to user pod evictions, loss of logs, etc) it may not be ideal.

That said, I agree it's probably not an end-of-the-world problem and don't have t

[2018-03-19 12:27] JoelSpeed commented on #60582
I agree with @sttts , that would be one layer too deep.

This feature would be great for us. We are setting up a bunch of custom API servers and Mutating Webhooks. They all have certificates signed by the same CA (using the K8s CSR API) and we are having to substitute the same CA Bundle over and over. It makes deploying harder and since we don't want to check certificates in, we basically can't ve

[2018-03-19 12:28] tylerauerbeck commented on #61326
Not sure what would be most appropriate for this, so I'll start with the sigs from the issues that are already open: #48297 #45037 #46705

/sig instrumentation
/sig api-machinery
/sig scalability

If anybody has suggestions on something more appropriate, please let me know.

[2018-03-19 12:29] munnerz commented on #60582
FWIW, we are *not* using the K8S CSR API to manage these certificates currently.

As far as I was aware, this API was designed mostly for Node TLS bootstrap, so we prefer to manage our own CA (either through automation such as cert-manager or manually). It'd be great if this defaulting is not bound directly to the k8s certificates API, *or if it is*, we make a recommendation that all aggregated AP

[2018-03-19 12:30] tamalsaha opened #61348 "WebHookConfiguration should allow specifying apiVersion for handler"
Currently (1.9), `(Validation|Mutation)WebhookConfiguration` does not allow specifying the apiVersion of object received by webhook handler. So, the choices for an implementer are:

- Implement actual logic in all possible version or reject objects in unsupported versions.

- Use a pipeline of conversion similar to:
`src -> internal -> target -> applyChanges(target) -> modInternal -> modSrc -> def

[2018-03-19 12:30] munnerz commented on #60582
(we = Jetstack, not Joel and I, sorry for the confusion in wording)

[2018-03-19 12:32] tamalsaha commented on #61348
/sig api-machinery
/kind feature

[2018-03-19 12:39] tamalsaha commented on #61348
cc: @lavalamp @erictune

[2018-03-19 12:41] liggitt commented on #61348
The performance cost of converting 2*N times per resource write also doesn't look good.

In order to satisfy N webhooks in a single resource, the server could be required to do 2 conversions for every webhook (out to version M for the webhook, then back to internal for the apiserver)

[2018-03-19 12:57] jhorwit2 commented on #61100
@lachie83 Yeah, that was reverted. There were no major changes in the 1.9 release cycle that I can see. The majority of the changes are in the 1.10 cycle.

Going to try and replicate this today. I may know what the problem is.

[2018-03-19 13:00] liggitt commented on #61343
See https://github.com/kubernetes/kubernetes/issues/59848  for an example of why this is not safe to do by default

Serving from the cache loses quorum safety, and means you can get stale, in some cases very stale, data back

/close

[2018-03-19 13:03] rjeberhard commented on #61346
@kubernetes/sig-api-machinery

Per robot request, looping in sig-api-machinery.

[2018-03-19 13:05] rjeberhard commented on #61346
@kubernetes/sig-api-machinery-feature-requests

[2018-03-19 13:12] juris commented on #45419
+1
Kubernetes: 1.8.9
Docker: 17.09.1-ce
Cloud provider: AWS
OS: CoreOS 1632.3.0
Kernel: 4.14.19-coreos
Install tools: kops
Calico 2.6.6 for networking

[2018-03-19 13:19] skatsaounis opened #61353 "."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-19 13:21] #61353 closed

[2018-03-19 13:21] deads2k commented on #61348
Since the hub types aren't exposed, the cost of not doing this is very high as it requires every webhook author to either duplicate a large amount of code to write a set of interfaces which are huge (we've done both before).  Also, as an author, I'm fairly likely to exactly the conversion you're speaking of to handle it on the receiving side, so at best you're just shuffling it around.

I don't th

[2018-03-19 13:28] Labbs commented on #45419
For solve this issue, I use an old coreos version (1520.9.0). This version use docker 1.12.6.
Since this change, no flapping problem.

[2018-03-19 13:34] jdumars commented on #61190
ACK.  In progress
ETA: 20/03/2018
Risks: May delay the release if not satisfactorily resolved

[2018-03-19 13:35] jdumars commented on #60763
ACK.  In progress
ETA: 19/03/2018

[2018-03-19 13:36] jdumars commented on #59764
ACK.  In progress
ETA: 29/03/2018
Risks: The bot nagging will drive us slowly mad

[2018-03-19 13:56] jhorwit2 commented on #61100
@lachie83 It appears to me this is a bug in certain cloud providers and not in the service controller. When a load balancer does not exist the cloud provider should return `nil, false, nil` from `GetLoadBalancer(ctx context.Context, clusterName string, service *v1.Service) (*v1.LoadBalancerStatus, bool, error)`. It looks like azure and openstack (cc @dims) are returning an `nil, false, err` where

[2018-03-19 13:57] a-robinson commented on #22721
I recommend opening a new issue with the relevant details to try to catch someone else's attention. I don't have the time to look into this right now.

[2018-03-19 13:59] jhorwit2 commented on #61100
@lachie83 if i had to guess the azure regression is related to [this](https://github.com/kubernetes/kubernetes/commit/edfb2ad55293841abd3cbabe45fa162499831a7a) commit.

[2018-03-19 14:18] jhorwit2 commented on #61100
/sig azure
/sig openstack

From what I can tell other GCE, AWS and the other cloud providers aren't impacted by this.

[2018-03-19 14:19] dims commented on #61100
cc @zetaab

[2018-03-19 14:29] XANi commented on #61224
Got the same problem. I can see certs in `kubectl get csr` that are still in `Pending` state; manually approving them does not help

[2018-03-19 14:41] liggitt commented on #61076
The subpath cleanup issue is tracked in https://github.com/kubernetes/kubernetes/issues/61178 and will also be fixed in the point releases planned for today.

[2018-03-19 14:44] dims commented on #60589
/me places bet on https://github.com/kubernetes/kubernetes/commit/b259543985b10875f4a010ed0285ac43e335c8e0 as the culprit

[2018-03-19 14:55] obeattie commented on #51135
Yes, we saw a considerable latency improvement when we deployed the change I linked above and tuned the throttling period for our workloads. ⏱📉

[2018-03-19 14:57] SerialVelocity opened #61355 "Unable to create/update CRD when mutating webhook configured"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I spun up a new K8s 1.9 on-prem cluster and added a mutating webhook:
[code]

I then tried to create a CRD:
[code]

and got the error:
[code]

If the CRD already exists, I get this error instead:
[code]

**What you expected to happen**:

[code]
or
[code]

**How to reproduce it (as minimally and precisely as possible)**:

[2018-03-19 15:02] rphillips opened #61356 "Volume provisioning fails in 1.9 and 1.10 on Cloud Providers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Cloud providers are using the command-line tool `udevadm` to retrieve status and format volume mounts. `udevadm` is missing from the hyperkube image resulting in missing volumes.

Issues: https://github.com/kubernetes/kubernetes/issues/43515 https://github.com/coreos/bugs/issues/2385

**What you expected to happen**:

Vol

[2018-03-19 15:03] rphillips commented on #61356
/cc @kubernetes/sig-node-bugs

[2018-03-19 15:08] #61189 closed

[2018-03-19 15:10] #54170 closed

[2018-03-19 15:16] #61293 closed

[2018-03-19 15:17] SerialVelocity commented on #61355
@caesarxuchao since [your PR](https://github.com/kubernetes/kubernetes/pull/55127) seeems related

@kubernetes/sig-api-machinery

[2018-03-19 15:22] SerialVelocity commented on #61355
That didn't seem to work

/sig api-machinery

[2018-03-19 15:24] wasylkowski-a commented on #60589
0e81651e77e0be7e75179e5986ef2c76601f4bd6 is, turns out, bad, so b259543985b10875f4a010ed0285ac43e335c8e0 (merged as 244549f02afabc5be23fc56e86a60e5b36838828, after 0e81651e77e0be7e75179e5986ef2c76601f4bd6) cannot be the earliest culprit (though it is not impossible that it has introduced yet another regression we will observe once we shake out this one)

[2018-03-19 15:26] wasylkowski-a commented on #60589
Per @wojtek-t and @shyamjvs I am rerunning cdecea545553eff09e280d389a3aef69e2f32bf1, because we suspect this might have been a "flaky good"

[2018-03-19 15:31] msau42 commented on #61076
Gke already released last week with the configmap patch.  I am looking into the cleanup issue.

[2018-03-19 15:33] msau42 commented on #61076
Ah sorry I can't read.  https://github.com/kubernetes/kubernetes/issues/61178 should take care of it.

[2018-03-19 15:41] jdumars commented on #61100
/status in-review

[2018-03-19 15:43] jdumars commented on #61100
/status in-progress

[2018-03-19 15:44] zetaab commented on #61100
@dims the openstack problem might be here https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L464 I have seen that ErrNotFound is not working as should previously when doing openstack provider debugging. I do not remember where I comment to that one, or did I even comment.

[2018-03-19 15:46] gnufied commented on #43515
@racyber @ccampo133 did you guys had a chance to open a BUG for NVMe support on EBS? If you do -  please paste output of `ls /dev/disk/by-id/` and PersistentVolume spec.  We can't fix it unless we know bit more. :(

[2018-03-19 15:51] pierredadt opened #61358 "Secrets of type docker-registry are incorrectly generated with 1.9.0 kubectl client"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-cli-bugs

**What happened**:

With kubectl client version 1.9.0, in the secrets of the type `docker-registry` generated with `kubectl create secret docker-registry my-secret` the name of the key is `.dockercfg`.
The direct consequence being that the serviceAccounts and other resources using a generated `docker-registry` secre

[2018-03-19 15:58] ccampo133 commented on #43515
@gnufied sorry, we worked around this by reverting back to m4 class instances. It should be simple enough to reproduce however... create a k8s cluster w/ m5 EBS backed nodes and create a simple pod w/ a persistent volume. You'll notice that the pod will never launch and you should be able to debug further. If I do run into this again I'll be sure to get some more data for you.

[2018-03-19 16:10] kestrels commented on #60046
@saad-ali @chakri-nelluri

Any update on this?

[2018-03-19 16:36] thockin commented on #56693
Clearly something is very wrong here, but I don't think it is in DNS per se - your DNS pod cannot talk top the apiserver.   I don't know the config you used to turn up the cluster, but THAT is what you need to debug.

@bowei

[2018-03-19 16:41] dashpole commented on #55649
@zhangduanya what version of kubernetes?

[2018-03-19 16:42] discordianfish commented on #48503
/remove-lifecycle stale
/lifecycle freeze

[2018-03-19 17:03] jberkus commented on #61050
New PR for this issue: #61313

[2018-03-19 17:05] krzyzacy commented on #60763
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.9-downgrade-cluster is green now

[2018-03-19 17:05] #60763 closed

[2018-03-19 17:10] MrHohn commented on #49263
@kumudt This should not longer be an issue for 1.7.2+ cluster. Are you observing the "bind: address already in use" error from kube-proxy logs? Could you confirm what component is occupying the same port?

[2018-03-19 17:12] #39031 closed

[2018-03-19 17:20] khenidak commented on #61100
@jhorwit2 Cloud Provider never got services with `type != LoadBalancer` -- Did that behavior change recently?

The issue reported on OpenStack, Azure and i suspect it is on other cloud providers as well

[2018-03-19 17:29] n-rook commented on #33193
/remove-lifecycle stale

😬

[2018-03-19 17:37] tpepper commented on #61247
/sig storage

[2018-03-19 17:38] jdumars commented on #61189
@shyamjvs can you please verify this is resolved?

[2018-03-19 17:39] jdumars commented on #61190
Need a number of successive green runs, then close.

[2018-03-19 17:43] shyamjvs commented on #61189
My fix was just merged... Need at least a day to reasonably assert the flake is gone.
Either way, note that this is not a blocker anymore as @wojtek-t said in https://github.com/kubernetes/kubernetes/issues/61189#issuecomment-373999656

[2018-03-19 18:12] nicksardo opened #61363 "Cloud CIDR Allocator can get into retry loop"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Cloud CIDR Allocator controller can be queued with a node name, but when the node is up for evaluation, it may not exist. If the node doesn't exist, an error is logged and the node name is requeued.
The controller has no error back-off policy and no exit logic for the node if it doesn't exist.  Therefore, the log file will

[2018-03-19 18:18] #61305 closed

[2018-03-19 18:19] kfox1111 commented on #54306
/reopen
/remove-lifecycle rotten

[2018-03-19 18:25] shyamjvs commented on #61190
So I took a look and seems like the fluentd-scaler version bump (which was supposed to fix) was merged b/w runs 11683 and 11684 of our [100-node job](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce). However, I don't see any visible improvement in controller-manager memory usage around that time:

![yo](https://user-images.githubusercontent.com/4333971/37614535-426860b6-2bab-11e8-9de4-580

[2018-03-19 18:38] tpepper commented on #61332
/kind feature

[2018-03-19 18:51] shyamjvs commented on #61190
Also, I'm noticing such lines occasionally (once every 5-10 secs in the start and once every ~1min later on) from [controller-manager logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/11785/artifacts/e2e-big-master/kube-controller-manager.log) of latest run:

[code]

And back when the fluentd-scaler wasn't doing anything useful (i.e before https://g

[2018-03-19 19:04] zetaab commented on #61100
I cannot reproduce this issue against master

[code]

Created following:
[code]

[2018-03-19 19:14] #54312 closed

[2018-03-19 19:17] tpepper commented on #61322
For the record, discussed on slack in #sig-cluster-lifecycle and @liggitt summarizes as "It is very late in 1.10 cycle to be adding things into the milestone… I wouldn't expect anything on an alpha feature to make the cut unless it was breaking CI in a way that lost signal on other non-alpha features."  So, not expecting this in 1.10, but should fix in subsequent point release.

[2018-03-19 19:20] venilnoronha commented on #61279
@ruedigers we followed the example [from the repository](https://github.com/kubernetes/examples/tree/master/staging/volumes/vsphere#persistent-volumes) and created a PV and a PVC on CoreOS 7.4.1708 that was running k8s v1.9.4, and it worked perfectly fine. Could you please provide us the output from `kubectl describe nodes` to analyse further?

Thanks,
Venil

[2018-03-19 19:36] Nefelim4ag commented on #60787
@resouer,
That's will not work as expected i think.
i.e. example:
Let's assume we have a cluster like youtube which decode/encode video to different scale.

We buy some CPU's with 1.8Ghz, which process videos.
Assume that stateless deployment app which scale down 1080p to 720p, will constantly use 250m. So we can set cpu request limit on pod 250m.
We scale-out server park, buy new servers and all

[2018-03-19 19:38] p0lyn0mial commented on #56865
apparently, I didn't know how to use `fake` client. Thanks for showing how to do this, I'm closing the issue.

[2018-03-19 19:38] #56865 closed

[2018-03-19 19:45] caesarxuchao commented on #61355
The error is reported when the admission controller calls the convertor to convert CRD: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/versioned/conversion.go#L50.

I think it has something to do with how the apiextension apiserver registers its scheme and plumbs it to the admission controller.

[2018-03-19 19:53] brendandburns commented on #61100
I'll get a fix on for this unless someone is already on this.

Seems like this kind of contractual behavior should be unit-tested for all clouds?

[2018-03-19 19:59] jhorwit2 commented on #61100
@khenidak From what I can tell looking through the history this has always been the case when the informer add event occurs for a service. OnUpdate won't add a service to the queue if it isn't a load balancer service, so I'm guessing that you're getting these services when an add event comes in for a non-load balancer service.

[2018-03-19 20:03] jennybuckley commented on #61296
/cc @lavalamp

[2018-03-19 20:04] jennybuckley commented on #61326
/cc @jpbetz @wenjiaswe

[2018-03-19 20:05] jennybuckley commented on #61346
@ncdc do you know who owns this now?

[2018-03-19 20:14] jberkus commented on #59764
From release burndown as of March 19:

[Flaky timeouts while waiting for RC pods to be running in density test](https://github.com/kubernetes/kubernetes/issues/61189)
[Controller-manager sees higher mem-usage when load test runs before density](https://github.com/kubernetes/kubernetes/issues/61041)
[HostPath mounts failing with "Path is not a shared or slave mount"](https://github.com/kubernetes/k

[2018-03-19 20:15] infoslack commented on #61342
@MrMic After version 1.9 I think `extensions` group should be migrated to `apps` as references in the documentation indicate: https://kubernetes.io/docs/reference/workloads-18-19/

[2018-03-19 20:16] msau42 commented on #50983
@haf I tried your example and it seems to work fine.  I left out the volumeMount, but the PVC still got provisioned and bound to a PV with the pd-ssd storageclass correctly.  If you can reproduce the issue, please send me your full StatefulSet and StorageClass specs to try out.

[2018-03-19 20:22] lavalamp commented on #61348
The current state is very annoying. We (or at least I) wanted to allow apiserver and webhook to negotiate a version for the object, and then the configuration would be over storage paths rather than external object versions. Unfortunately we weren't able to come to an agreement on how this should work and dropped it due to time constraints.

Today it is actually hard to catch all mutations with ce

[2018-03-19 20:22] tpepper commented on #61248
Did #61071 resolve this issue?  Should it be closed?

[2018-03-19 20:23] krzyzacy commented on #61050
(let's wait for a few green runs)

[2018-03-19 20:27] jingxu97 commented on #61248
@tpepper No, we found this bug when working on #61071. It is not resolved yet.

[2018-03-19 20:30] marcinlesek commented on #61173
**Solved here** https://stackoverflow.com/a/49371453/9484660

You need to stop and disable localkube service:

[code]
After that you're able to stop and remove containers.

If you will get

`Error response from daemon: No such image: gcr.io/...`

after using `docker rmi`, you should use

`$ docker system prune -a`

instead, to additionally remove any stopped containers and all unused images (not j

[2018-03-19 20:30] #61173 closed

[2018-03-19 20:34] filbranden commented on #58721
/assign filbranden

I just talked to Yu-Ju and I'll prepare a PR for that. To be merged after the freeze window is over.

Cheers!
Filipe

[2018-03-19 20:35] lavalamp commented on #61296
Can you `kubectl get Endpoints -n wardle -o yaml`? And `kubectl get Service -n wardle -o yaml`?

The only way this makes sense to me is if there is both
a) a bug in apiserver:
- that e.g. only reads & manually endpoints if ssh tunnels are on
- that e.g. distributes randomly to all but the first/last endpoint
b) AND the service has client affinity turned on.

[2018-03-19 20:35] jdumars commented on #61050
This issue has more lives than a cat!

[2018-03-19 20:39] krzyzacy commented on #61050
/meow

[2018-03-19 20:40] gnufied opened #61364 "PV protection mechanism does not protect existing PVs in cluster"
The PV projection mechanism introduced in 1.10 does not protect existing PVs in cluster. After upgrade to 1.10 users can still delete bound PVs from cluster.

cc @NickrenREN @pospispa

/sig storage

[2018-03-19 20:47] liggitt commented on #61076
- [x] merged in master in https://github.com/kubernetes/kubernetes/pull/61080, will be in 1.10.0-rc.1
- [x] merged in release-1.9 branch in https://github.com/kubernetes/kubernetes/pull/61107, in [v1.9.5](https://github.com/kubernetes/kubernetes/releases/tag/v1.9.5)
- [x] merged in release-1.8 branch in https://github.com/kubernetes/kubernetes/pull/61108, in [v1.8.10](https://github.com/kubernetes

[2018-03-19 20:47] #61076 closed

[2018-03-19 20:47] liggitt commented on #61178
- [x] cleanup issue fixed in master in https://github.com/kubernetes/kubernetes/pull/58433, will be in 1.10.0-rc.1
- [x] cleanup issue fixed in release-1.9 branch in https://github.com/kubernetes/kubernetes/pull/61193, in [v1.9.5](https://github.com/kubernetes/kubernetes/releases/tag/v1.9.5)
- [x] cleanup issue fixed in release-1.8 branch in https://github.com/kubernetes/kubernetes/pull/61194, in

[2018-03-19 20:47] #61178 closed

[2018-03-19 20:58] jingxu97 commented on #45615
What is the next step after deprecating the flag? cc @gnufied @saad-ali

[2018-03-19 21:00] caesarxuchao commented on #61355
The kube-apiserver's scheme doesn't undrestand CRD. The apiextension apiserver's scheme does understands CRD (see https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go#L74). I'm digging why it's the kube-apiserver's admission controller gets called while handling CRD reqeusts.

[2018-03-19 21:08] zetaab commented on #61100
I found one issue which is hopefully causing this issue in openstack. I will now compile and make PR if this is the case.

[2018-03-19 21:29] brendandburns commented on #60528
I _think_ that this may have been fixed here:

https://github.com/kubernetes/kubernetes/pull/57991

[2018-03-19 21:39] brendandburns commented on #61100
Has anyone repro'd this in Azure for 1.10.x or HEAD? This was def. a problem in 1.9.x but appears to have been fixed here:

https://github.com/kubernetes/kubernetes/pull/57991

We prepared a pick for this into 1.9.6

[2018-03-19 21:40] manschutz-samsung commented on #56795
Bump. This is a useful feature. How do we get this added?

[2018-03-19 21:44] zetaab commented on #61100
@brendandburns #61366 fixes openstack part of this. The problem has been that gophercloud changed their code.

Like @anguslees said in slack:
From another PR I've reviewed recently, I gather this has changed in gophercloud and we never noticed because golang requires runtime type coercion here :-(

So if possible, this could be also picked to releases. (of course someone should lgtm+approve+merge

[2018-03-19 21:46] brendandburns commented on #61100
@zetaab once that PR merges, you can prepare a cherry-pick (`./hack/cherry-pick-pull.sh`) and then work with the `#sig-release` channel to get the PR approved for cherry-pick.

[2018-03-19 21:47] zetaab commented on #61100
@brendandburns cool, I will try that! thanks

[2018-03-19 21:48] waldman opened #61368 "Scheduling Policy on ConfigMap breaks without the --policy-configmap-namespace flag set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When trying to use the Scheduler Policy on a ConfigMap the `kube-scheduler` will not work giving the following error message:
[code]

As per the documentation (https://kubernetes.io/docs/reference/generated/kube-scheduler/) `kube-scheduler` should work without the need to a namespace being passed:
[code]

Here is the command that I'

[2018-03-19 21:50] honi commented on #56795
/remove-lifecycle stale

[2018-03-19 21:53] php-coder commented on #59123
As there is neither objections nor agreement, I suggest to use trial&error path. We can extract some tests from `validation_test.go` based on some rule and suggest to merge such a change. If it merges, then we're on the right way and subsequent PRs also will be accepted.

CC @marrrvin in case you're interested in try to do that :)

[2018-03-19 22:18] brendandburns commented on #61100
To close this off, I don't think this ever affected Azure, we had a different bug identified here:

https://github.com/kubernetes/kubernetes/issues/60528

And fixed here:

#57991 which looks similar...

[2018-03-19 22:19] brendandburns commented on #61100
Also, for anyone playing along, the ServiceController semi-non-intuitively always does a Get to the cloud provider for every Service regardless of type.

This is because if you change a Service from type `LoadBalancer` to `ClusterIP` we need to detect that and delete a load balancer in that case.

Relevant code is here:
https://github.com/kubernetes/kubernetes/blob/c4f3102b1ff8f971612abb0d8986ae63

[2018-03-19 22:21] brendandburns commented on #60528
We are cherry-picking this into 1.9.6 here:

https://github.com/kubernetes/kubernetes/pull/61260

[2018-03-19 22:21] brendandburns commented on #60528
and fwiw, while this spams the logs, it shouldn't affect operation of the service.

[2018-03-19 22:48] sergei-utinski commented on #35062
Just came across a similar issue - lots of "Stat fs failed: no such file or directory" messages after kubelet restart on node with pods having persistent volumes. To investigate the issue I modified logging output and get more information about file or directory name that triggers this message. This message is issued by cAdvisor GetFsInfoForPath function in fs/fs.go [(latest release)](https://gith

[2018-03-19 22:49] caesarxuchao commented on #61355
The admission chain is part of the generic apiserver config. It is [set up once](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L530-L535) with the `legacyscheme.Scheme`, and is shared by the kubeapiserver and the [apiextension apiserver](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L159). So the admission chain's sche

[2018-03-19 22:49] #60608 closed

[2018-03-19 22:53] sdscgithub commented on #48378
if found that if you were ever going to run "sudo kubeadm reset" you'll need to remove your .kube dir to clear the cached dirs.
After that you can follow @petersonwsantos
oh, be sure to set KUBECONFIG to whatever you (re)name your config file to e.g. $HOME/.kube/config

[2018-03-19 23:00] jingxu97 opened #61372 "pvc volumes used with subPath volume mounts don't support reconstruction"
**Fix status:**
- [x] fixed in master in https://github.com/kubernetes/kubernetes/pull/61373
- [x] fixed in release-1.10 branch in #61518, will be in 1.10.0
- [x] fixed in release-1.9 branch in #61519, will be in 1.9.7
- [x] fixed in release-1.8 branch in #61520, will be in 1.8.11
- [x] fixed in release-1.7 branch in #61521, will be in 1.7.16

In SubPath fixes, PR https://github.com/kubernetes/kub

[2018-03-19 23:01] jingxu97 commented on #61372
cc @msau42 @jsafrane @gnufied

[2018-03-19 23:08] msau42 commented on #61372
This impacts reconstruction of PVCs, where the inner and outer names are different.

[2018-03-19 23:37] msau42 commented on #61372
/assign

[2018-03-20 00:00] janetkuo opened #61374 "`kubectl delete --force` doesn't work as expected"
IMO it's surprising that `kubectl delete foo --force` does not force delete a resource. `--force` only takes effect when `--grace-period=0`.

https://github.com/kubernetes/kubernetes/blob/7bcfbcd58515421d9756fc9bf89371c4e5257b2b/pkg/kubectl/cmd/delete.go#L211-L221

The description of `--force` reads this: `Immediate deletion of some resources may result in inconsistency or data loss and requires c

[2018-03-20 00:12] smarterclayton commented on #61374
Changing the meaning of force to actually break cluster consistency be default could lead to data loss, which is why we haven’t changed it so far.

agree we should print more info and clarfiy

[2018-03-20 00:22] calder opened #61376 "No "Terminating" indication in kubectl get --output=json"
/kind feature

`kubectl get` and `kubectl describe` both distinguish Terminating and Running pods. However,
[code]
shows `status.phase` as `Running` right up until the pod dies.

This also makes it impossible to use `--field-selector=...=Terminating` to select only Terminating pods, and means Terminating pods show up in `kubectl get --field-selector=status.phase.Running`. Example:

[code]

If this

[2018-03-20 00:44] calder commented on #61376
@kubernetes/sig-cli-feature-requests

[2018-03-20 01:07] NickrenREN commented on #61364
yeah, the protection controller will add finalizers for them if they are updated first.  But if we delete them at first, they are not protected unfortunately
A `populator` may be added if needed.

[2018-03-20 01:08] liggitt commented on #61376
terminating comes from a non-nil metadata.deletionTimestamp

[2018-03-20 01:09] zhangduanya commented on #55649
@dashpole the version i used is V1.8.4, Finally, i didn't found a real solution, i using the V1.8.4 now...

[2018-03-20 01:10] liggitt commented on #61364
Doesn't the PV controller add finalizers on Add events? It receives an Add event for every existing PV at startup.

[2018-03-20 01:11] liggitt commented on #61364
Pretty sure this can be closed

[2018-03-20 01:12] liggitt commented on #61356
/sig storage

[2018-03-20 01:13] liggitt commented on #61342
Are you sure you are in the right namespace?

What does this return:
kubectl describe daemonset fluentd -n kube-system

[2018-03-20 01:14] liggitt commented on #61358
Correct. This was resolved in 1.9.1

/close

[2018-03-20 01:14] #61358 closed

[2018-03-20 01:16] liggitt commented on #61358
See https://github.com/kubernetes/kubernetes/issues/57528

[2018-03-20 01:18] liggitt commented on #61345
The output of the running kubelet's logs and the controller manager's logs would be helpful

/sig node
/sig auth
/kind support

[2018-03-20 01:20] liggitt commented on #61320
/sig cli
/kind bug

[2018-03-20 01:20] liggitt commented on #61333
Why wouldn't you just append containers to the list?

[2018-03-20 01:21] liggitt commented on #61333
Old clients wouldn't know to look at the field indicating which container was the default. It doesn't seem like the new field gives very much power, and comes with compatibility downsides

[2018-03-20 01:22] mattdodge commented on #13488
I've got a similar one-liner based on the approach that @rcoup and @paunin described, but it should work for the more general case. It relies on JSON output and uses jq for parsing. I have this loaded in to my shell as a function.

[code]

This allows me to just say: ```kubectl-restart my-deployment-name``` and it will "update" the `RESTART_` env var in the first container to the current timestamp

[2018-03-20 01:25] liggitt commented on #61272
/close

[2018-03-20 01:25] #61272 closed

[2018-03-20 01:25] MikeSpreitzer commented on #61296
[code]

[2018-03-20 01:26] MikeSpreitzer commented on #61296
[code]

[2018-03-20 01:27] liggitt commented on #61286
An unschedulable pod will persist until a node shows up that can run it. That can result in a 1 day old pod getting scheduled to a 6 hour old node

/close

[2018-03-20 01:27] #61286 closed

[2018-03-20 01:28] liggitt commented on #61332
Duplicate of https://github.com/kubernetes/kubernetes/issues/52963

/close

[2018-03-20 01:28] #61332 closed

[2018-03-20 01:30] liggitt commented on #61335
Do you have the pod spec used to launch this pod?

[2018-03-20 01:31] liggitt commented on #61335
/kind support

[2018-03-20 01:31] liggitt commented on #61333
/close

[2018-03-20 01:31] #61333 closed

[2018-03-20 01:32] liggitt commented on #61338
/sig storage

[2018-03-20 01:33] liggitt commented on #61376
/close

[2018-03-20 01:33] #61376 closed

[2018-03-20 01:33] MikeSpreitzer commented on #61296
I am not using SSH tunnels.  I am using the networking set up by kubespray, which seems to include Calico using its ip-in-ip mode.

[2018-03-20 01:33] liggitt commented on #61368
/sig policy

[2018-03-20 01:35] m1093782566 commented on #60938
/sig node

[2018-03-20 01:36] hzxuzhonghu commented on #61296
/sig network

[2018-03-20 01:38] MikeSpreitzer commented on #61296
This does not look like a networking issue to me.  The problem is that the main api-server is opening only 2 connections, not number(Endpoints), and is sending all the watches over just one of the connections.

[2018-03-20 01:48] hzxuzhonghu commented on #61296
But aggregator access endpoint by clusterip, which belongs to network.

[2018-03-20 01:49] k82cn commented on #61050
/woof

:( , let me check it today

[2018-03-20 01:55] hiratamasato commented on #61335
Thank you for reply.
my pods deployment and service .yaml is here.
[code]
my application have worked with one pod, and allocated memory to this pod is 2.598Mi.
Is amount of memory too low?

[2018-03-20 01:55] MikeSpreitzer commented on #61296
The network is doing what the api-server asked of it, as far as I can tell.

[2018-03-20 02:05] dixudx commented on #60366
/priority important-longterm

[2018-03-20 02:23] gnufied opened #61377 "Mounting socket files from subPaths fail"
**Fix status:**
- [x] fixed in master in https://github.com/kubernetes/kubernetes/pull/61480
- [ ] fix in release-1.10 branch pending
- [ ] fix in release-1.9 branch pending
- [ ] fix in release-1.8 branch pending
- [ ] fix in release-1.7 branch pending

This is a regression after the recent spat of security fixes.

How to reproduce:

1. Create a pod definition that uses "/" as hostPath.
2. Try an

[2018-03-20 02:24] gnufied commented on #61377
cc @msau42 @liggitt @jsafrane

[2018-03-20 02:29] msau42 commented on #50983
@mohamed-mehany, you should remove the beta annotation, it has been replaced by the storageClassName field.  Also double check you have a gp2 storageclass created in your cluster

[2018-03-20 02:31] NickrenREN commented on #61364
If Add events are triggered at startup, the finalizers will be added by protection controller

[2018-03-20 02:35] gnufied commented on #61364
yeah I was wrong about Add event trigger on informer startup. closing

/close

[2018-03-20 02:35] #61364 closed

[2018-03-20 02:41] liggitt commented on #61377
/kind bug

[2018-03-20 02:48] zhangxingdeppon commented on #61345
ok，I'am empty my logs so that product new logs that is var/log/mesages ，and   delete  my csr ，10.12.100.237 is node，10.12.100.236 is master。

[root@k8s-10-12-100-236-10-12-100-236 kubernetes]# kubectl  get csr
NAME                                                   AGE       REQUESTOR           CONDITION
node-csr-dKn2VH7vzVD9uJBF9xW_nwNzinzO1IVq1VXG_K1m-MU   14h       kubelet-bootstrap   Approved
[

[2018-03-20 02:53] feiskyer commented on #57914
/priority important-soon

[2018-03-20 02:53] feiskyer commented on #60485
/priority important-soon

[2018-03-20 02:54] feiskyer commented on #57914
/status approved-for-milestone

[2018-03-20 02:54] feiskyer commented on #60485
/status approved-for-milestone

[2018-03-20 02:56] feiskyer commented on #50752
/status approved-for-milestone

[2018-03-20 02:59] msau42 commented on #61377
So far, the only way I see to support this is to go back to validating the bind mount afterwards.  But actually, would that work for hostpath? You could have the subpath be in a different filesystem as the root volume.  So you would just have to go by mount paths and not check for the same filesystem

[2018-03-20 03:05] feiskyer commented on #60528
This is working as expected. See @brendanburns's comments [here](https://github.com/kubernetes/kubernetes/issues/61100#issuecomment-374402523).

While the error message is misleading, #61260 removes them from events.

[2018-03-20 03:06] feiskyer commented on #60528
#61260 got merged. Let's close this issue.

/close

[2018-03-20 03:06] #60528 closed

[2018-03-20 03:13] msau42 commented on #61377
Also need to double check other file types like char and block devices

[2018-03-20 03:25] Bradamant3 commented on #59764
@nickchase in case it's helpful here: think you don't need to worry about #61126 bc the relnote content is in the PR (such as it is ...). BUT it might not be in the right place in the generated relnotes. It's an action required thing.

[2018-03-20 03:32] BenTheElder commented on #51540
As an aside we've improved this now with `pull-kubernetes-typecheck` which will ensure the code type checks for all the platforms / arches the cross build would do (but is cheap enough to be blocking on all 1.10+ / master PRs), this is a blocking presubmit.
It should catch windows build failures, which leaves integration / e2e tests.

[2018-03-20 03:34] #56725 closed

[2018-03-20 03:44] BenTheElder commented on #60598
/priority important-soon

[2018-03-20 04:05] hzxuzhonghu opened #61381 "controller-manager startup with `--secure-port=xxxx` but no certificate provided should not be running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

when startup kube-controller-manager with the following flags
`controller-manager --v=3 --vmodule= --service-account-private-key-file=/tmp/kube-serviceaccount.key --root-ca-file=/var/run/kubernetes/server-ca.crt --cluster-signing-cert-file=/var/run/kubernetes/server-ca.crt --cluster-signing-key-file=/var/run/kubernetes/s

[2018-03-20 04:05] hzxuzhonghu commented on #61381
/sig api

[2018-03-20 04:07] hzxuzhonghu commented on #61381
/sig api-machinery

[2018-03-20 04:24] prutasiscale opened #61383 "r ps"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-20 04:42] thockin commented on #14661
/lifecycle frozen
/remove-lifecycle stale

[2018-03-20 05:03] mountkin commented on #61320
Please upgrade your `kubectl` to a newer version and try again.
The `pkg/kubectl/stop.go` was deleted since v1.8

[2018-03-20 05:08] vbmade2000 commented on #58721
@filbranden Ok.

[2018-03-20 05:12] fejta-bot opened #61384 "pr:pull-kubernetes-integration flaked 26 times in the past week"
### Flaky Job: pr:pull-kubernetes-integration
 Flakes in the past week: **26**
 Consistency: **95.60%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| k8s.io/kubernetes/cmd/kube-apiserver/app/testing TestCRD | 6 |
| k8s.io/kubernetes/test/integration/deployment TestRollbackDeploymentRSNoRevision | 4 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-l

[2018-03-20 05:51] andyzhangx commented on #52419
Need to mention that volume mount with ConfigMap has same issue

[2018-03-20 05:56] zjj2wry commented on #61345
/cc

[2018-03-20 05:57] ahilmathew commented on #61207
Ok here is the update. The issue is that I am able to connect if the pods are on different nodes.
If I have service A (pod a1 - spring boot app) on one node and Service B(pod b1 - mongodb) on another node. In this scenario service A and service B is able to communicate using the service name. But when these two services are in the same node, they are not able to resolve each other using the servic

[2018-03-20 06:09] BSWANG commented on #31424
+1

[2018-03-20 06:27] zhangtbj commented on #61333
Hi @liggitt how can you append container to the list? I cannot do it by using `kubectl patch` command, there is no any option tell I can patch after ....

[2018-03-20 06:42] #58730 closed

[2018-03-20 06:50] lavalamp commented on #61296
Aggregator should not be accessing by cluster IP, it should be accessing by
endpoint IP. Likely we haven't noticed this because we *do* run with the
SSH tunnels.

On Mon, Mar 19, 2018 at 6:56 PM Mike Spreitzer <notifications@github.com>
wrote:

[2018-03-20 07:03] FengyunPan2 commented on #61100
I met this issuse too, Related to: #60658 #60976

[2018-03-20 07:03] FengyunPan2 commented on #61100
PTAL #61002

[2018-03-20 07:05] hzxuzhonghu commented on #61296
@lavalamp I got  clusterip access by https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L478 What do I miss?

[2018-03-20 07:17] lavalamp commented on #61296
Yeah, I guess we did make that mode use the network fabric rather than look
up the endpoints. That technically is a layer violation, although I don't
want to relitigate it right now.

This seems like a bad interaction between HTTP2 and load balancers when a
client wants multiple connections to be distributed among backends.

Mike, can you flip on the --enable-aggregator-routing flag and see if it

[2018-03-20 07:35] #60960 closed

[2018-03-20 07:42] #41633 closed

[2018-03-20 07:53] k82cn commented on #61050
ACK: in progress, open #61387 to handle a race condition, controlled by alpha feature flag

[2018-03-20 08:09] wasylkowski-a commented on #60589
I will assume that cdecea545553eff09e280d389a3aef69e2f32bf1 is actually good based on the following results I have observed:
[code]

[2018-03-20 08:16] wasylkowski-a commented on #60589
Currently suspected range: cdecea545553eff09e280d389a3aef69e2f32bf1...0e81651e77e0be7e75179e5986ef2c76601f4bd6

Currently testing 99c87cf679e9cbd9647786bf7e81f0a2d771084f

[2018-03-20 08:21] geosword commented on #56682
That description doesn't quite fit with what I am seeing. Specifically:

4. Before the bind routine has a chance to run, the pod is deleted and replacement pod is created.

I'm not deleting my pod, I just create it once using kubectl. "AssumePod failed" is being reported, almost immediately, but as before, the only way it will actually start the pod, is to restart the scheduler.

[2018-03-20 08:29] luksa commented on #56282
/remove-lifecycle stale

[2018-03-20 08:47] sttts commented on #61355
Please, no. Let's not couple those two further.

Probably this.

[2018-03-20 08:48] sttts commented on #61355
What happens with CustomResources (not Definitions)? Due to the use of `Unstructured` this works, I would expect.

[2018-03-20 09:05] nikhita commented on #57098
/remove-lifecycle stale

[2018-03-20 09:06] soltysh commented on #42649
Actually I was thinking about it more this morning. Currently if we exceed the [artificial, hardcoded limit](https://github.com/kubernetes/kubernetes/blob/5411352dc67000a2a47bd31d9e42930146319541/pkg/controller/cronjob/utils.go#L166) the cronjob will always error out without any chance to recover the cronjob. Maybe we should error out as we do today and pause the cronjob to prevent it from further

[2018-03-20 09:14] hzxuzhonghu commented on #61355
I'd like to fix it.

[2018-03-20 09:15] Lion-Wei opened #61390 "Complete ipvs proxier ut"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**What happened**:
In ipvs proxy mode, most service functions like "nodeport/loadbalance" is realized by the association of iptables/ipset/ipvs, yet most ipvs proxier ut only verified ipvs rules, which can't ensure service is functional.

**What you expected to happen**:
Check both ipvs rules and iptables chains/rules, ipset entries in ipvsp

[2018-03-20 09:16] Lion-Wei commented on #61390
/sig network
/area ipvs
/assign

[2018-03-20 09:18] Lion-Wei commented on #61390
https://github.com/kubernetes/kubernetes/issues/59662

[2018-03-20 09:18] Lion-Wei commented on #61390
@islinwb

[2018-03-20 09:20] yanxuean commented on #55949
/remove-lifecycle rotten

[2018-03-20 09:34] dixudx commented on #60366
/reopen

[2018-03-20 09:37] #58406 closed

[2018-03-20 09:42] haf commented on #50983
@msau42 Let me check back next time I look at Rabbit, please. It might take a few days. But as I wrote: "declaring the volumeClaimTemplate's volume as a volumeMount in the container that was going to use it" was what made it not work for me (consistently not work, too)

[2018-03-20 09:46] MrMic commented on #61342
Yes @liggitt , it works !
Thank you.
But why is there no pod ?

[2018-03-20 10:25] ruedigers commented on #61279
Hello @venilnoronha,
I added the requested output as well as "kubectl get nodes" and "kubectl  version" - either I am reading that wrong, or the version is reported differently between the two commands.
kubectl get nodes
[code]

kubectl version:
[code]

kubectl describe nodes
[code]

[2018-03-20 10:36] mludvig commented on #42649
Some restart button was exactly what I was looking for in the dashboard! Couldn't find a way to do it and had to delete and recreate the job :(
Definitely +1 from me ;)

[2018-03-20 10:43] M-Ayman opened #61395 "k8s doesn't pull the image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I build an image using commit it "git rev-parse --short HEAD". if the output doesn't contain any character "like 1315693", the deployment doesn't pull the image"InvalidImageName"

**What you expected to happen**:
when I change the build tag which contains alphabet it works. I need to pass a short commit id even though it contains an

[2018-03-20 10:52] MuskanGarg23 opened #61397 "Not able to schedule on some pods"
Hi team.

we are not able to schedule any pod on some nodes.
We are getting below error:

  2m            2m              1       {kubelet prod-node19.shift.enoc-airtel.com}     spec.containers{eaa-proptima-rmi}               Warning         Failed          Failed to start container with docker id 1c37059616d8 with error: Error response from daemon: {"message":"cannot join network of a non running

[2018-03-20 10:53] x13n commented on #61190
Now it isn't even sending requests (other than GET) to the apiserver.

@shyamjvs How do you generate that graph? Is it 99th percentile of memory usage over time? Or what exactly? One difference after introducing fluentd-gcp-scaler is that now there is a change occurring on the DaemonSet (once, but still). Also, what test is failing because of this? I'd like to take a look into the logs.

[2018-03-20 10:54] #61395 closed

[2018-03-20 10:54] M-Ayman opened #61398 "k8s doesn't pull the image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I build an image using commit it "git rev-parse --short HEAD". if the output doesn't contain any character "like 1315693", the deployment doesn't pull the image"InvalidImageName"

**What you expected to happen**:
when I change the build tag which contains alphabet it works. I need to pass a short commit id even though it contains an

[2018-03-20 11:05] AnberLu opened #61399 "PSP： How to combine authenticated users with PSP users (non-service accounts) in deployments or daemonsets"
### How to combine authenticated users with PSP users in deployments or daemonsets

[code]

### problem:
[code]

### My file:

pod
[code]

deployment:
[code]
the deployment result:
[code]

[2018-03-20 11:26] kam2001 commented on #61207
Are you using a service to expose mongo pod ?
Are you using a mongo host url in spring (in application.yml or application.properties) or spring is defaulting to localhost by default.
1. if you put both containers (mongo and spring app) in same pod, spring will pick mongo as localhost and it should work.
2. for example if your service exposing mongo pod is labeled db than just typing 'kubectl db' w

[2018-03-20 11:30] gjcarneiro commented on #13488
That is a fine hack and all, but it has big downside.  The next time you deploy, using `kubectl apply -f`, that component will get restarted if it has a RESTART_xxx env var even if nothing else changes.  In other words, it causes spurious restarts on next deployment if it has ever been restarted between last deployment and this deployment.  Not ideal...

That is why rolling-restart functionality s

[2018-03-20 11:36] jkemp101 commented on #45234
@thockin Looks like a different approach for this issue was taken in https://github.com/kubernetes/kubernetes/issues/54743 and also starting to be discussed in https://github.com/coreos/alb-ingress-controller/issues/325.  Is the plan to move forward with marking nodes where services should not send traffic versus having the ability to configure services to route traffic to the desired nodes?  I fe

[2018-03-20 12:07] k82cn commented on #61383
please feel free to re-open this with detail :)

[2018-03-20 12:07] #61383 closed

[2018-03-20 12:08] k82cn commented on #61397
/sig node

[2018-03-20 12:11] ahilmathew commented on #61207
I'm using a service to expose mongo db. Service Name : mongodb
1. Yes using the same pod for both containers work. Using localhost in application.properties file will help to connect to mongodb.
2. In my case I'm using different pods for application and mongodb. 'kubectl mongodb' doesn't give anything. My understanding was that using the service name (mongodb) inside application.properties would h

[2018-03-20 12:19] shyamjvs commented on #61190
Answering your questions:

I fetched the ResourceUsageSummaries for density test from historical runs (e.g https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/11809/artifacts/ResourceUsageSummary_density_2018-03-20T11:46:02Z.json) and then plotted 99% mem-usage for controller-manager against runs.

Yes. More precisely, we're collecting mem-usage from contro

[2018-03-20 12:23] shyamjvs commented on #61189
The job has turned green and we're no longer seeing such flakes (at least in the last ~1.5 day).
IMO we can safely assume this is fixed now.

[2018-03-20 12:23] mohamed-mehany commented on #50983
@msau42 you're right, thanks, I confused the StorageClass type and name

[2018-03-20 12:32] deads2k commented on #61355
I don't think that we should use the legacyscheme in new places and I'm not actually certain that it would work with custom resources anyway.

[2018-03-20 12:32] kam2001 commented on #61207
Instead of using service name(mongodb) in application.properties (springboot) try to ' kubectl exec -it application /bin/bash' and than type 'env' to see all environment variables your application has. And if you try to 'ping mongodb' you will get an address which will look something like 'mongodb.default.svc.cluster.local' - try using this address in application.properties (springboot)

[2018-03-20 12:44] rochdev opened #61406 "Regular expressions not working in json-path"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Trying to use the following json-path expression:

[code]

resulted in the following error:

[code]

**What you expected to happen**:

Getting the list of secret names that match the regular expression.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Envi

[2018-03-20 12:57] skynardo commented on #42649
I would prefer it be configurable. I could then set it > the number of scheduled starts it would have had overnight while our EC2 instances are shut down.  I need something automated. I was thinking about adding a check to my monitoring pod to see if the scheduled job was dead then recreate it.

[2018-03-20 13:06] embano1 commented on #60787
Because requests CPU usage what i set was 250m for that deployment.

I don't see a problem here. Since you do **not** specify MHz in the cpu spec, but relative core values (e.g. 200m = 0.2 of a core, no matter how fast it is) the scenario you describe would not lead to stranded resources.

The scheduler does not track MHz/GHZ, but rather cpu cores as reported by `node.allocatable`. So in your case

[2018-03-20 13:13] boosty commented on #42649
+1

[2018-03-20 13:27] ncdc commented on #61346
@jennybuckley in terms of an actual human? 😄 I don't know. @smarterclayton did the bulk of the websocket exec/attach/portforward implementation originally. I believe @sttts added error code return value support to the SPDY implementation.

[2018-03-20 13:29] KIVagant commented on #53331
Same for me, I've already fixed the root cause for the failed pods and cleared all of them. I can recreate the situation, but right now I have much bigger problem with cluster and kops, so maybe later.

[2018-03-20 13:30] mpashka opened #61408 "Error in kubectl jsonpath expression parser"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In case of nested expressions in jsonpath some parts are executed in wrong context

Consider the following jsonpath expression:
[code]

I expect part _before-item-end_ to be executed for each item. Instead it is being executed only once at the end of the output.

**What you expected to happen**:
See "**What happened**" pa

[2018-03-20 13:32] mpashka commented on #61408
kind/bug

[2018-03-20 13:33] mpashka commented on #61408
area/kubectl

[2018-03-20 13:34] mpashka commented on #61408
/sig cli

[2018-03-20 13:44] liggitt commented on #61342
check for pods in the same namespace (`kubectl get pods -n kube-system`), and check the controller manager logs if you are not seeing the expected pods

/close

[2018-03-20 13:44] #61342 closed

[2018-03-20 13:50] gnufied commented on #57185
We are planning to tackle this problem in 1.11

/remove-lifecycle stale

[2018-03-20 14:15] zjj2wry commented on #61345
My guess is that the startup parameter of the controller-manager is mismatched. Now the CSR -approval-controller will only check token's create CSR permission, if can, will approve.
https://kubernetes.io/docs/admin/kubelet-tls-bootstrapping/#kube-controller-manager-configuration
```--cluster-signing-cert-file="/etc/path/to/kubernetes/ca/ca.crt" --cluster-signing-key-file="/etc/path/to/kubernetes/c

[2018-03-20 14:20] rphillips commented on #61356
/cc @kubernetes/sig-storage-pr-reviews

[2018-03-20 14:34] joshuatalb commented on #55867
Also seeing this on a Kube 1.8.7 cluster on AKS (Azure Container Service). Here's the output from `kubectl describe node <hostname>`:

[code]

Any fixes?

[2018-03-20 14:39] smarterclayton commented on #61346
There were two plans:

1. update web socket protocol for both port forward and exec to be a bit easier to use (port forward doesn't work with web sockets well)
2. create a new REST sub resource on pods that allows you to POST json and get back JSON

Your request sounds like a change that we could maybe roll into 1, I just don't have a timeframe where that will happen.

[2018-03-20 14:45] cyphar commented on #61043
I have a couple of ideas on how to solve this (I implemented quite a few of the symlink-related protections in Docker and runc), and I've started working on some preliminary patches. Unfortunately the more obvious ways of solving this problem aren't secure enough. One of the simpler ways of solving this problem would be:

* Modify `pkg/security/podsecuritypolicy/util/util.go` to check path prefixe

[2018-03-20 14:52] Nefelim4ag commented on #60787
@embano1, they will run faster, but i mean that we set
cpu 250m request in deployment.

So on old hardware all will work fine, but on new HW, we get a underutilization by that.

i.e. i mean 200/250 as cpu usage, and in same time 250 as a bare minimum in example to successful run of pod.

[2018-03-20 14:53] calinah commented on #59867
@vishwaspai Did google respond to you? I'm having the same issue. @wilk are you aware of any other way to delete the statefulset? We're not using the kubernetes dashboard.

[2018-03-20 14:55] rjeberhard commented on #61346
Thanks, @smarterclayton.  In the meantime, can you or a delegate confirm if the following is true?:

1) When the web socket communication is closed with status code 1000 and no data messages have been delivered to channel 3, then the pod/exec process exited with status code 0.

2) Similar to above, but a single data message was delivered on channel 3 then that message will have UTF-8 bytes matchin

[2018-03-20 14:55] liggitt opened #61410 "DaemonSet scheduling conflates hostname and nodename"
/kind bug
/sig scheduling
related to #59194

When the ScheduleDaemonSetPods alpha feature is enabled, the daemonset controller creates pods with affinity terms that depend on the `kubernetes.io/hostname` label on a Node being equal to the node name.

That is *not* a valid assumption. Node name and hostname are distinct and are definitively known to be different in some clusters.

If the DaemonSet

[2018-03-20 14:58] vishwaspai commented on #59867
Google's reply was "download 1.9x kubectl" if you want one. They didn't
commit to when gcloud will include it.

On Tue, Mar 20, 2018, 8:24 PM calina <notifications@github.com> wrote:

[2018-03-20 15:11] brendandburns commented on #61346
I don't think we can rely on that string, though it is probably true for now. My guess is that's an error straight from the container runtime, and different runtimes will print different things.

We should really standardize this.

--brendan

________________________________
From: Ryan Eberhard <notifications@github.com>
Sent: Tuesday, March 20, 2018 7:55:33 AM
To: kubernetes/kubernetes
Cc: Brenda

[2018-03-20 15:24] sttts commented on #61346
In SPDY we have 4 channels, one of them is an error channel that gets a `meta/v1.Status` object at the end. It includes the error code. Compare https://github.com/kubernetes/kubernetes/blob/8574bc564f4c54aa964d6c0c7ccec3202d9e2f1b/staging/src/k8s.io/client-go/tools/remotecommand/v4.go#L61.

Looks like we need the same in the websocket protocol if we don't have that yet.

[2018-03-20 15:25] smarterclayton commented on #61346
It would require a new protocol version, which is a nontrivial, but I agree
that we should return structured and CONSISTENT errors from the container
runtime layer back to the apiserver so that you can actually work with
this.  Relying on the string won't be safe.

On Tue, Mar 20, 2018 at 11:12 AM, Brendan Burns <notifications@github.com>
wrote:

[2018-03-20 15:25] smarterclayton commented on #61346
There should be a websocket 4 exec protocol... if not that's a problem.

On Tue, Mar 20, 2018 at 11:24 AM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2018-03-20 15:26] rjeberhard commented on #61346
In the meantime, can I at least rely on the fact that no message on the status channel means that the exit code is 0?

[2018-03-20 15:28] rjeberhard commented on #61346
@smarterclayton What k8s server versions support websocket 4 exec protocol?  I see that the client code we are working with includes "v4.channel.k8s.io" in the "X-Stream-Protocol-Version" header.

[2018-03-20 15:29] brendandburns commented on #61346
Can't we argue that since the string was unstructured and couldn't be relied on that this isn't a breaking change?

Do we know if any code (other than this Java code which is new) that relies on this string?

--brendan

________________________________
From: Clayton Coleman <notifications@github.com>
Sent: Tuesday, March 20, 2018 8:26:12 AM
To: kubernetes/kubernetes
Cc: Brendan Burns; Mention
Subj

[2018-03-20 15:29] MikeSpreitzer commented on #61296
Yes, that did the trick!
[code]

[2018-03-20 15:34] rjeberhard commented on #61346
Based on the code that @sttts shared, it looks like protocol version 4 already returns a structured response.  If that's the case, I'd be happy to just support exit code 0 or not on older protocol versions (not parse the unstructured string).  But, I'd like to understand the mapping from k8s server version to exec protocol version 4.

[2018-03-20 15:36] enkodr opened #61413 "Pod in perpetual "Terminating" status on version 1.9.4-gke.1"
/kind bug

**What happened**:
After upgrade to version 1.9.4-gke.1 on Google Cloud Platform, all of our pods that are supposed to be terminated keeps in a perpetual "Terminating" status:
```Killing container with id docker://app:Need to kill Pod```

**What you expected to happen**:
The pod should be terminated

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade to version 1.

[2018-03-20 15:40] liggitt commented on #61050
after discussion with @k82cn, opened https://github.com/kubernetes/kubernetes/pull/61411 (picked to 1.10 in https://github.com/kubernetes/kubernetes/pull/61412) to disable the daemonset scheduling feature completely in 1.10 (even in the alpha job). will revisit in 1.11.

[2018-03-20 15:42] enkodr commented on #61413
/sig gcp

[2018-03-20 15:43] jdumars commented on #60589
Thank you @wasylkowski for continuing this work.

[2018-03-20 15:43] abdulrahmantkhalifa commented on #54022
so how can somone reset the kubelet config concerning 'A clean package install places the kubelet in a crash loop pending valid configuration'

[2018-03-20 15:45] liggitt commented on #61413
can you provide the pod spec associated with the pod?

[2018-03-20 15:46] ncdc commented on #61346
Added in v1.4.0

[2018-03-20 15:52] enkodr commented on #61413
Here it is, but this is happening with all of my pods.
Here is the deployment yaml used:
`apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: app
  labels:
    chart: "app"
spec:
  replicas: 1
  revisionHistoryLimit: 10
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
  template:
    metadata:
      labels:
        role: app
        enviro

[2018-03-20 15:54] gnufied commented on #61377
Well one possibility is to accommodate all file types and use right syscall/glib call to get their fd.  Validating hostpath post mount definitely worked IIRC. But it might be too late to revert to that behaviour.

[2018-03-20 15:59] liggitt commented on #61413
that looks like https://github.com/kubernetes/kubernetes/issues/61178, triggered by use of a subPath mount, fixed in 1.9.5, released yesterday

[2018-03-20 16:04] enkodr commented on #61413
Thanks. I'll keep an eye on it.

[2018-03-20 16:05] liggitt commented on #61399
if you don't specify a service account, your deployment uses the service account named `default`

no

yes, authentication/authorization of the initially submitted API objects (e.g. the deployment)

that is a non-goal, currently. tying human identities to pods running on the nodes means plumbing private user information through multiple layers of controllers, and trusting every controller in the ch

[2018-03-20 16:05] #61399 closed

[2018-03-20 16:06] rjeberhard commented on #61346
So, this appears to be not a bug.

One final question here though...  The existing code we were working with (kubernetes-client/java project) was trying to select the protocol version by setting and then reading the header: "X-Stream-Protocol-Version".  However, I saw from the earlier code shared that the correct header is: "Sec-WebSocket-Protocol".

@brendandburns, if I adjust io.kubernetes.clien

[2018-03-20 16:07] nicksardo commented on #60879
They're not applied randomly, GCP applies the addition of the two sets of ranges. However, kube-proxy does re-evaluate the source IP with the correct set of ranges once the traffic hits a node, so your service is still protected.

Agreed, that it's not ideal for GCP to only target the nodes and not be restricted based on the LB VIP. This was also brought up in https://github.com/kubernetes/kuberne

[2018-03-20 16:07] embano1 commented on #60787
Sorry, now I understood the real problem you describe :) In my words: dynamically configure `requests.cpus` based on the hw (cpu speed), e.g. fractions, right?

Please let me ask: why not just go with a "good enough" value for your systems and let jobs finish faster on newer hardware? The new hw node wouldn't really by underutilized, because it's using 25% core_mhz, finishing faster and freeing up

[2018-03-20 16:13] jpiper opened #61414 "Cannot edit mounted configmap files in v1.9.5"
After upgrading from v1.9.3 to v1.9.5 it appears files mounted into containers via configMap are now immutable.

My use case is that I mount a text file template into the pod via a configmap and I have an init container that edits the text file in place before my main pod starts.

My workaround is to get the init container to copy the file from the configmap into an emptydir rather than edit in pl

[2018-03-20 16:13] jpiper commented on #61414
/kind bug

[2018-03-20 16:15] jpiper commented on #61414
/sig storage

[2018-03-20 16:38] jberkus commented on #61248
@jingxu97 is this issue specifically in 1.10?  Or has it existed longer than that?

[2018-03-20 16:43] krzyzacy opened #61416 "All gke OSS tests are down since ~8p yesterday?"
/kind bug
/milestone v1.10
/priority critical-urgent
/sig gcp

/cc @jdumars @jberkus

@mikedanese @Kashomon any clue here? assume it's a gke change?

[2018-03-20 16:46] jberkus commented on #61410
Added all the 1.10 labels.

[2018-03-20 16:52] liggitt commented on #61410
/milestone clear

not 1.10 blocking

[2018-03-20 16:55] Nefelim4ag commented on #60787
@embano1, because it's just example, but that also possible to have a same case with pods, nod jobs.

To not very change example topic, look at that as some television.
i.e. App that doing video re-translation from A to B and do some work with that video, as example apply "Gryffindor Sign" at right bottom corner.

Or as example monitoring app, which do some math's on some input data from various s

[2018-03-20 16:56] #61346 closed

[2018-03-20 16:59] Kashomon commented on #61416
I'm seeing errors like "error deleting firewall: error during gcloud compute firewall-rules delete -q e2e-ports-f380a05c --project=gke-up-c1-4-g1-5-up-mas: exit status 1"

[2018-03-20 17:01] ae-v commented on #9483
Just as hint because I could not find this in the official documentation:

An example how to create a k8s secret from a locally available certificate without changing an existing .pem or .cert file to one line or something else:

kubectl create secret generic example-cert --from-file=${HOME}/cert.pem

[2018-03-20 17:03] krzyzacy commented on #61416
@Kashomon I think because that's not created, the actual error is when bringing up the cluster:

[code]

[2018-03-20 17:10] Kashomon commented on #61416
Could it be something in 1.10? Looks like the nodes aren't coming up; hard to tell what the problem is without diving in.

[2018-03-20 17:14] krzyzacy commented on #61416
/assign @foxish
PTAL, it's affecting all branches

[2018-03-20 17:18] jingxu97 commented on #61248
@jberkus it exists for a long time

[2018-03-20 17:29] msau42 commented on #61377
Can you clarify the use case of using subpath with hostpath volumes?  Why can't you just create a hostpath volume directly to the socket file?

[2018-03-20 17:34] gnufied commented on #61377
@msau42 I do not have a def. use case. The error came from an affected pod which refused to start after upgrade. For this bug in particular there are bunch of workarounds (a. one can directly mount the socket file. b. one can directly access socket file via /hostpath/run/docker.sock) etc.  But I guess that is beside the point.

Also - it appears that character and block devices aren't affected by

[2018-03-20 17:34] krzyzacy commented on #61416
It's not affecting staging & prod, only test, from my observation

[2018-03-20 17:35] gnufied commented on #61377
I only verified if `openat` call works for them (and it does) - I haven't tried mounting them inside pod.

[2018-03-20 17:44] ericchiang opened #61420 "Promote encryption at rest with static configs to beta"
Ref https://github.com/kubernetes/features/issues/460
Ref https://groups.google.com/d/msg/kubernetes-sig-api-machinery/J8vW9m8A-t4/JJ9BRFVUCQAJ

ref https://github.com/kubernetes/features/issues/92

/sig auth
/kind feature
/milestone v1.11
/priority important-longterm
/status approved-for-milestone

cc @php-coder

[2018-03-20 17:50] jberkus commented on #60589
per discussion today: fluentd-scaler still has issues: https://github.com/kubernetes/kubernetes/issues/61190, which have not been fixed by PRs.  Is it possible that this regression is caused by fluentd?

[2018-03-20 17:53] jingxu97 commented on #54108
For empty device path issue,
1. #58177 solves the main problem: After volume is attached and mounted, the actual device path should be updated into the actual state so that volume teardown process can get this information correctly.
2. In a corner case, when pod is deleted forcefully (with --force option) during kubelet restarts, kubelet no longer has the pod object so that reconciler cannot build

[2018-03-20 17:54] ericchiang commented on #60661
/sig auth
/kind feature
/milestone v1.11
/priority important-longterm
/status approved-for-milestone

[2018-03-20 17:54] dims commented on #60589
one of the PRs relating to fluentd https://github.com/kubernetes/kubernetes/commit/a88ddac1e47e0bc4b43bfa1b0df2f19aea4455f2 is in the latest range

[2018-03-20 17:55] ericchiang commented on #60598
/sig auth
/kind bug
/milestone v1.11
/priority important-soon
/status approved-for-milestone

[2018-03-20 17:56] liggitt commented on #60661
Not sure this belongs to sig-auth… is it planned/committed for 1.11?

[2018-03-20 17:57] ericchiang commented on #60432
/sig auth
/kind feature
/milestone v1.11
/priority important-longterm
/status approved-for-milestone

[2018-03-20 17:57] ericchiang commented on #60392
/sig auth
/kind feature
/milestone v1.11
/priority important-longterm
/status approved-for-milestone

[2018-03-20 17:57] ericchiang commented on #60108
/sig auth
/kind bug
/milestone v1.11
/priority important-soon
/status approved-for-milestone

[2018-03-20 17:59] ericchiang commented on #60661
Sorry making my way through the `MILESTONENOTIFIER` backlog. Removing this for now since we still need a use case.

[2018-03-20 18:02] jennybuckley commented on #59124
@sttts The plan was to use an integration test, (i.e. https://github.com/kubernetes/kubernetes/blob/master/test/integration/master/kube_apiserver_test.go#L34) which I implemented in #60771 but it turns out that since the integration test apiserver does not follow exactly the same startup chain as the real one, that it is insufficient to ensure the apiserver can actually come up with a broken webho

[2018-03-20 18:03] ericchiang commented on #59496
@rithujohn191 has agreed to take this (can't assign her because she's not part of the org)

/sig auth
/kind feature
/milestone v1.11
/priority important-longterm
/status approved-for-milestone

[2018-03-20 18:12] ericchiang opened #61421 "client-go external credential provider: support x509 client certs"
/sig auth
/kind feature
/priority important-longterm

Ref https://github.com/kubernetes/features/issues/541

This was planned in the original proposal but wasn't implemented for alpha in 1.10 https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/kubectl-exec-plugins.md

[2018-03-20 18:22] deaquino commented on #55867
I have the same issue than @joshuatalb on Azure. Could you fix it?

[2018-03-20 18:40] venilnoronha commented on #61279
@ruedigers thanks for the log. Could you please confirm if this is for the failing node?

Thanks,
Venil

[2018-03-20 18:54] wojtek-t commented on #60589
TBH, I would be really surprised if it would be due to fluentd issues. But I can't exclude this hypothesis for sure.
My personal feeling would be some change in Kubelet, but I also looked into PRs in that range and nothing seems really suspicious...
Hopefully the range will be 4x smaller tomorrow, which would mean just couple PRs.

[2018-03-20 18:57] php-coder commented on #61420
What's need to be done here? I can think only about renaming `--experimental-encryption-provider-config` to `--encryption-provider-config` and updating the docs. What else?

[2018-03-20 18:59] php-coder commented on #61420
@liggitt @smarterclayton What's required to promote encryption at rest with static configs to beta?

[2018-03-20 19:01] wasylkowski-a commented on #60589
OK, so 99c87cf679e9cbd9647786bf7e81f0a2d771084f looks good, but I needed three runs to ensure this is not a flake:
[code]
Current range is 99c87cf679e9cbd9647786bf7e81f0a2d771084f...0e81651e77e0be7e75179e5986ef2c76601f4bd6. Analyzing a88ddac1e47e0bc4b43bfa1b0df2f19aea4455f2.

[2018-03-20 19:01] krzyzacy commented on #61416
/assign @jlowdermilk

[2018-03-20 19:11] irfanjs opened #61426 "kubernetes web ui: Unable to access the dashboard"
Hi,
I have deployed the kubernetes multimode cluster on the centos 7 boxes. one master and another worker.
all the services are running fine ..

now the issue is with UI dashboard. I did following steps to configure the UI using doc : https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above

from another machine which is windows box, I tried accessing following URLs

but

[2018-03-20 19:20] ericchiang commented on #61420
@php-coder an example of promoting flags is here: https://github.com/kubernetes/kubernetes/pull/51198

If there's a feature gate, we're going to want to enable it by default too.

[2018-03-20 19:44] joshuatalb commented on #55867
@deaquino no, unfortunately not. It's really stopping us from moving over to AKS from AWS self-hosted. I found [this](https://github.com/kubernetes/kubernetes-anywhere/blob/fd0670ba051bf96be335a3291dab7039a32381d7/FIXES.md#debian-8-and-cgroups) fix and applied it, but it doesn't look like it worked as I'm still getting the error.

[2018-03-20 19:52] liggitt commented on #61410
Nowhere in that documentation does it state the value of that label matches the node name.

If they are trying to match the hostname label to the node name object, they will be disappointed in many environments.

[2018-03-20 19:55] janetkuo opened #61430 "Migrate kubectl to use apps/v1 instead of extensions/v1beta1"
In 1.9, `apps/v1` is introduced, and `extensions/v1beta1`, `apps/v1beta1` and `apps/v1beta2` are deprecated.

We need to migrate kubectl to use `apps/v1` by default. This includes (but isn't limited to):

### client-side change
- [x] `kubectl create deployment` (#61288)
- [x] `kubectl run` (#61288)
- [x] `kubectl rollout` (#61419)

### server-side change
These commands use the server-preferred ord

[2018-03-20 19:58] joshuatalb commented on #42701
To bump this, we're also experiencing this exact issue above ^ on a 3-node AKS cluster running k8s 1.8.7. Here's the output from `kubectl describe node <hostname>`:

[code]

Is there any fixes for this?

[2018-03-20 19:58] bsalamat commented on #61410
I think the document should be updated and explicitly state that the value is not necessarily the node name. I would guess that zone, etc. are not reliable either. If so, we should state that as well.

This is unfortunate. Something that surprises us, will definitely surprise our user. It causes bad UX. We should update the doc.

[2018-03-20 19:58] alexvicegrab commented on #23621
Initial issue is that here:

[code]

The $DB_USERNAME environmental variable expands from your local environment (it's probably not defined). Which is why it shows nothing.

Unfortunately `kubectl exec` does not appear to support quoting the command, which would allow passing raw commands, instead you can use a workaround like this:

[code]

[2018-03-20 20:02] jpbetz commented on #61326
Yes and Yes.  But are you asking about the etcd server or client? Kubernetes 1.10 (slated for release tomorrow) will use the etcd 3.2 client and default to etcd 3.1 for the server (although kubernetes cluster operators can run any etcd server version they want).

Kubernetes 1.11 will be upgraded to use the etcd 3.3 client (https://github.com/kubernetes/kubernetes/pull/58551 already validated this

[2018-03-20 20:07] danbopes commented on #52053
/remove-lifecycle stale

[2018-03-20 20:12] MrHohn commented on #52053
@danbopes  What about setting `externalTrafficPolicy=Local` on Service and force LB to only forward traffic to the nodes that have your frontend pods running?

[2018-03-20 20:21] php-coder commented on #61420
/assign

[2018-03-20 20:21] Fattouche opened #61431 "Warn about deletion of cluster wide resources with namespace flag"
/kind feature
/sig cli

**What happened**:
Executing `kubectl delete crd <mycrd> -n <some-namespace>` proceeds to delete the crd even though the docs say `CustomResourceDefinitions themselves are non-namespaced and are available to all namespaces.`

**What you expected to happen**:
I would expect some warning or error which says something like `crd are non-namespaced, remove namespace flag to proc

[2018-03-20 20:36] #35335 closed

[2018-03-20 20:40] #49682 closed

[2018-03-20 20:43] enisoc opened #61433 "Deployment is incompatible with apps/v1 ReplicaSet"
All controllers in apps/v1 now have immutable selectors. While working on [converting Deployment to use apps/v1](https://github.com/kubernetes/kubernetes/pull/61419), I discovered that Deployment is incompatible with apps/v1 ReplicaSet because it expects to be able to add `pod-template-hash` to the ReplicaSet's selector if it's missing.

According to @janetkuo, this was a convenience feature to al

[2018-03-20 20:53] janetkuo commented on #61433
I'm leaning towards relaxing ReplicaSet selector immutability. It's backward compatible and we get to avoid getting stuck in `extensions/v1beta1`.

[2018-03-20 20:57] liggitt commented on #61430
`get` and `create` use whatever manifest is provided

[2018-03-20 21:08] kow3ns commented on #61433
What is the use case for having Deployments adopt user created ReplicaSets, and is this a pattern we want to support?

[2018-03-20 21:09] songole commented on #59109
@jiayingz Is this being considered for some release?

[2018-03-20 21:13] mikedanese commented on #60661
Identity integrations (e.g. spiffe) workload APIs over either UDS or localhost with no standard mechanism for mapping caller to pod. While UDS works reasonably well today, it will become problematic as container runtimes with stronger isolation become more prevalent. I would like to standardize this mechanism sooner rather than later. I'd think that sig-{auth,node,networking} are all stakeholders.

[2018-03-20 21:32] janetkuo commented on #61433
Orphan/adoption of resources is a Kubernetes pattern, ref. some pod orphan/adoption use cases: https://github.com/kubernetes/kubernetes/issues/14961#issuecomment-144942320

[This](https://github.com/kubernetes/kubernetes/blob/df0518d07c182b253fd6288efd6f9680c8ac18dc/pkg/controller/deployment/sync.go#L160) was originally implemented so that RS produced by Deployment won't overlap with pre-existing

[2018-03-20 21:43] MrHohn opened #61435 "coredns manifest appears in the addons folder on master when it is diabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/king bug
/sig network

**What happened**:
Created an e2e cluster on GCE today. Found coredns manifest appears in the addons folder even if it is disabled:
[code]

Coredns resources are not created though, probably because `coredns.yaml.in` is a raw template (contains something like `{{ pillar['dns_server'] }}`) that wouldn't pass validation.

**How to

[2018-03-20 22:04] mikedanese commented on #55968
Only half of the proposal is implemented. Let's finish off the TLS bits.

[2018-03-20 22:15] fanzhangio opened #61437 "Add field path print feature in conflict detection"
**FEATURE REQUEST**:

**What happened**:
Apply returns ConflictError in primitive element merge if a field conflicts in remote and recorded values. The error message contains conflict meta data of primitive element's remote and recorded field value. e.g.
[code]

**What you expected to happen**:
ConflictError message should contains field path of element where conflict happens, which is much helpfu

[2018-03-20 22:15] fanzhangio commented on #61437
sig/cli

[2018-03-20 22:16] fanzhangio commented on #61437
/sig cli

[2018-03-20 22:16] fanzhangio commented on #61437
/cc @pwittrock

[2018-03-20 22:18] ahilmathew commented on #61207
Yes. I have tried using both 'mongodb' and 'mongodb.default.svc.cluster.local' , but the application doesn't connect (when both are on the same node).
Also the ping from application doesn't work. If i ping mongodb or mongodb.default.svc.cluster.local, it doesn't resolve at all. Now if the application and mongodb are in different nodes, then ping resolves both mongodb and mongodb.default.svc.cluste

[2018-03-20 22:34] #51745 closed

[2018-03-20 22:34] #51656 closed

[2018-03-20 22:48] crimsonfaith91 commented on #61433
In my opinion, relaxing ReplicaSet selector immutability should be the _better_ way to go. Although it is suggested by documentation to create a Deployment to manage pods via ReplicaSet (rather than creating ReplicaSet directly), there are some valid use cases that end up requiring ReplicaSet orphaning / adoption (e.g., combining ReplicaSets of 2 redundant Deployments).

[2018-03-20 22:54] liggitt commented on #61050
Test went green on master

Waiting for cherry pick to merge before closing

[2018-03-20 22:55] mtaufen commented on #53311
Bump. Better to resolve this sooner than later, esp. w/ kinflate and co. on the way.

I guess the suggestion is just that users do `--from-file`, and add a file with a salt in it? If that's satisfactory, can we document it and close this issue?

(granted, if you do the kinflate thing and you want to hide your salt files, you probably want to avoid putting the salt files in version control, which m

[2018-03-20 23:13] janetkuo commented on #61433
If we break the behavior and make the Deployment not to add pod-template-hash RS's selector, the Deployment can still adopt the RS and its pods, but just don't add hash label/selector.

Thinking about this more, it's actually not that bad, because the RS and pods will still be adopted and controller ref can prevent them from conflicting with other RSes (they'll have overlapping label/selector).

T

[2018-03-20 23:18] jiayingz commented on #59109
I am thinking to draft a 1.11 device plugin work planning doc. This could be feature to consider.

[2018-03-20 23:23] AishSundar commented on #59581
This test doesnt seem to be flaky anymore. Hence closing the issue. Will reopen if and when needed.

/close

[2018-03-20 23:26] crimsonfaith91 commented on #61433
As the RSs and pods can be adopted correctly without any conflict with controllerRef, I think we can consider removing the pod-template-hash by apps/v2 (simply because it is unnecessary). This breaking change is justifiable.

If we decide to remove the pod-template-hash, I think we can retain the selector immutability for RSs, but I may be wrong.

[2018-03-20 23:31] AishSundar commented on #59581
@mengqiy does this link help in getting you the logs needed to debug the flake?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-sig-cli/1757

The test is still failing intermittently, but the % if flake has come down.

[2018-03-20 23:35] AishSundar commented on #59450
@mikedanese can we close this issue ? I am not seeing this in the top flakes anymore, so looks like the fix to extend timeout worked?

[2018-03-20 23:38] Bubblemelon commented on #54579
Hi ! Wondering how I could start helping with this issue? Any tips on getting started or advice on this would be much appreciated! Thanks in advance 😄

[2018-03-20 23:49] #59450 closed

[2018-03-20 23:53] jingxu97 commented on #61248
The possible solution is in [actual_state_of_world.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/cache/actual_state_of_world.go#L214), move the volume spec information into the mountedPods data structure.

[2018-03-21 00:00] liggitt commented on #54579
I agree with Eric that we should not do this. Another wrinkle in allowing references is the security aspect (reference expansion is a significant source of confused deputy issues where a reference gets tried as a URL fetch or file load by a component with access to different networks or file systems than you)

[2018-03-21 00:09] AishSundar commented on #59997
@jennybuckley Pinging here for latest status on this. This test is now one of our top flakes failing pull-kubernetes-e2e-gce job 40 times.

[2018-03-21 00:10] dhurley14 commented on #59867
@vishwaspai that's unfortunate.. thanks for the update. That's what I ended up doing was just doing `brew install kubectl` and uninstalling the command installed by `gcloud`. Thanks.

[2018-03-21 00:37] #60847 closed

[2018-03-21 00:43] #54186 closed

[2018-03-21 00:43] #54187 closed

[2018-03-21 00:43] #53211 closed

[2018-03-21 00:43] #53212 closed

[2018-03-21 00:46] liggitt commented on #49402
/remove-lifecycle rotten

[2018-03-21 00:50] jamesmcminn96 commented on #56706
@max-rocket-internet how did you find upgrading to c4's go? I'm having this same issue, but already using c4's.

[2018-03-21 01:15] msau42 opened #61446 "hostPath volumes used with subPath volume mounts don't support reconstruction"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Normally this isn't a problem, but if you use subpath with hostpath volumes, then that means the subpath mounts will not get cleaned up during the reconstruction window (a pod is force deleted while kubelet is down)

[2018-03-21 01:16] feellifexp commented on #61142
Does this request sound reasonable? Is there plan to support this? I can volunteer to spend time on the  investigation/implementation if it's in the roadmap of sig-apps, and can be supported.

Thanks!

[2018-03-21 01:16] msau42 commented on #61446
Noticed this issue while working on https://github.com/kubernetes/kubernetes/pull/61373

[2018-03-21 01:20] msau42 commented on #61372
While testing the e2es against a cluster without the fix, I noticed that subsequent pods using volumes failed to start.  My theory is that the unmount volume failed because the subpath was still mounted, and that blocked the volume manager from processing other pods.  But I thought that volume manager is supposed to run the unmount volume operation in a separate thread per volume, so this shouldn'

[2018-03-21 01:42] treacher commented on #43916
Also having this problem. We had 53GB of available memory and 0.5GB free. 52.5GB is in buff/cache and it starts trying to kill pods due to SystemOOM.

[2018-03-21 01:43] lcfang opened #61448 "where would we want to move the override genericArgs.GoHeaderFilePath and genericArgs.OutputPackagePath?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I saw that:
[https://github.com/kubernetes/kubernetes/blob/7fa3c9fa63cc37254063b899221d0434994a949a/staging/src/k8s.io/code-generator/cmd/client-gen/main.go#L37](https://github.com/kubernetes/kubernetes/blob/7fa3c9fa63cc37254063b899221d0434994a949a/staging/src/k8s.io/code-generator/cmd/client-gen/main.go#L37)
[https://github.com/ku

[2018-03-21 01:44] lcfang commented on #61448
@lavalamp @sttts @wojtek-t

[2018-03-21 01:47] dixudx commented on #60366
/close

All the fixes have been merged.

[2018-03-21 01:47] #60366 closed

[2018-03-21 01:48] gnufied opened #61449 "godep restore/save/verify are super slow"
Filing this just in case someone has a clue. I was trying to update `golang.org/x/sys/unix` package in Kubernetes and I was using instructions @thockin recently updated in https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md but I found that all the steps are super slow. Like 40-50 minutes for restore, 40-50 minutes for save and then about same time for verify.

I am not

[2018-03-21 01:53] gnufied commented on #61372
`cleanupMounts` runs in reconciler's goroutine - so if that function is blocked, it will not be able to process any more volumes. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L412

Was the problem that `cleanupMounts` failed to unmount volume but got hung/stuck ?

[2018-03-21 02:03] NickPollard opened #61450 "GETting pod logs through API with Accept: application/json returns text which is invalid json; text/plain not allowed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When trying to get pod logs through the api with `Accept: application/json`, the returned value is not valid JSON. The value should be a string, which in JSON needs to be quoted. The returned value is not quoted, which means it cannot be parsed as JSON.

This means, for example, that the Haskell Bindings in https://github.com/kubern

[2018-03-21 02:08] msau42 commented on #61372
I haven't confirmed for sure, but my guess is that unmount volume failed because the subpath was still mounted

[2018-03-21 02:12] karataliu opened #61451 "E2E case 'KubeletManagedEtcHosts should test kubelet managed /etc/hosts file' failed to run from local machine"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When running e2e case 'KubeletManagedEtcHosts should test kubelet managed /etc/hosts file' from local machine, it would fail with following message:
[code]

In related PR https://github.com/kubernetes/kubernetes/pull/60627 , a temp hosts file was generated for hostpath mount, but it does not work when test is run from loca

[2018-03-21 02:13] karataliu commented on #61451
/assign @dims

[2018-03-21 02:28] k82cn commented on #61012
Some domes on what issue gang-scheduling are going to resolve, and what we had done in kube-arbitrator: [default scheduler](https://youtu.be/oQgEmoOyf_U) and [kube-batchd](https://youtu.be/hhwU7reNJDU)

[2018-03-21 02:33] liggitt commented on #61449
duplicate of https://github.com/kubernetes/kubernetes/issues/44873
/close

[2018-03-21 02:33] #61449 closed

[2018-03-21 02:34] liggitt commented on #61426
/sig ui

[2018-03-21 02:34] #60916 closed

[2018-03-21 02:38] liggitt commented on #61431
the namespace flag is a global flag, is used when working with namespaced resources, and is ignored when working with cluster-scoped resources. this behavior must be preserved for backwards compatibility.

notably, you can also mix namespaced and non-namespaced resources in a single command: `kubectl get nodes,pods -n kube-system`... the namespace is used for getting the pods, and not used for get

[2018-03-21 02:38] #61431 closed

[2018-03-21 03:22] xiangpengzhao commented on #48219
/remove-lifecycle stale

Still facing this on v1.9.0. cc @kubernetes/sig-node-bugs @yujuhong

[2018-03-21 03:34] #61084 closed

[2018-03-21 03:47] liggitt commented on #61050
pick merged, watching https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#gce-alpha-features-1.10

[2018-03-21 04:26] vikaschoudhary16 commented on #59109
@jiayingz @songole Would appreciate your thoughts on https://docs.google.com/document/d/1TpYqgmJQOctm1oexQRo0cGNb9oyk0vozhmhr6myY99M/edit#

[2018-03-21 04:44] liggitt commented on #61414
That is correct, and was done in https://github.com/kubernetes/kubernetes/pull/58720. Changes to configmap volumes have always been reverted at an arbitrary later time by the kubelet. Applications that depended on mutating files in those volumes were always at risk of breaking randomly. Making the volumes readonly makes it clearer that the kubelet owns those volumes, not the application.

Second,

[2018-03-21 04:44] #61414 closed

[2018-03-21 05:17] liggitt commented on #61413
/close

[2018-03-21 05:17] #61413 closed

[2018-03-21 05:19] liggitt commented on #61320
/close

[2018-03-21 05:19] #61320 closed

[2018-03-21 05:22] liggitt commented on #23636
there have been no updates to this issue in 20 months. is it still being observed? if not, can we close this?

[2018-03-21 05:24] scriptonist commented on #61430
Is this a beginner friendly issue? If so can I try to do this?

[2018-03-21 05:31] zjj2wry commented on #61421
@ericchiang I want to know how this feature integrates kubernetes CertificateSigningRequest?
this is my conception，please correct it:
cluster-admin create a bootstrap token to user-A, user-A create csr, csr controller approve it. so i need a command like ```kubectl get csr xxx ...  --token=bootstrap-token```
(Suppose it can output certificate information to stdout). so bootstrap token need have pe

[2018-03-21 05:31] liggitt commented on #53004
/close

[2018-03-21 05:31] #53004 closed

[2018-03-21 05:41] liggitt commented on #54716
xref #59074

this is likely resolved by https://github.com/kubernetes/kubernetes/pull/58008 in 1.10

1. etcd clients are constructed per resource
2. without the referenced PR, an established TCP connection to an etcd member can hang

[2018-03-21 05:52] liggitt commented on #61050
https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#gce-alpha-features-1.10 went green as well

/close

[2018-03-21 05:52] #61050 closed

[2018-03-21 06:02] sch00lb0y commented on #55082
I'll take this

[2018-03-21 06:11] AnberLu commented on #61399
@liggitt    Thank you for your answer , but one thing I still don't understand too much : if my kubectl client is bound to service account (SA-A) and namespace (NS-A) , I need to specify service account (SA) in my deployment.   If I don't specify service account (SA-A) in my deployment , the default service account of my deployment is still default. Is there any way to make the default service acc

[2018-03-21 06:13] myguddy commented on #60835
I have the same problem.
kubectl get pods returns
-->
hello-world-deployment-7dc8b47cbc-9btgn

but running logs and exec like
kubectl logs hello-world-deployment-7dc8b47cbc-9btgn
Error from server (NotFound): the server could not find the requested resource ( pods/log hello-world-deployment-7dc8b47cbc-9btgn)

kubectl exec -it hello-world-deployment-7dc8b47cbc-9btgn -- bash
error: unable to upgrade

[2018-03-21 06:16] karataliu opened #61456 "hostPath volume with subPath volume mount does not work with containerized kubelets"
**Fix status:**
- [ ] Fix development in progress for master branch
- [ ] Fix for release-1.10 branch pending completion of master branch fix
- [ ] Fix for release-1.9 branch pending completion of master branch fix
- [ ] Fix for release-1.8 branch pending completion of master branch fix
- [ ] Fix for release-1.7 branch pending completion of master branch fix

**Is this a BUG REPORT or FEATURE REQU

[2018-03-21 06:19] DilipJadhav commented on #61076
can we specify mountpath as a file?
volumeMounts:
    - mountPath: /etc/kube-flannel/net-conf.json
      name: flannel-net-conf
      subPath: net-conf.json

i guess it should be till /etc/kube-flannel  and subpath can be . or kube-flannel
just try with following yaml.

apiVersion: v1
kind: Pod
metadata:
  name: volumetest
spec:
  containers:
  - name: container-test
    image: busybox
    args:

[2018-03-21 06:30] jpiper commented on #61414
Thanks for the clarification, @liggitt!

[2018-03-21 06:34] #61296 closed

[2018-03-21 06:36] MikeSpreitzer commented on #60484
After discovering the `--enable-aggregator-routing` command line flag on the main api-server, which is necessary to make it load-balance among replicated aggregated api-servers, I also noticed that the main api-server had been given a resource limit of 0.8 CPU!  After relaxing that, I found the proxied watches to work about as well as could be expected.

[2018-03-21 06:36] #60484 closed

[2018-03-21 06:40] karataliu commented on #61456
Verified this also fails on v1.10.0-beta.3 and v1.10.0-rc.1

[2018-03-21 06:40] liggitt commented on #61456
/sig storage
/assign @jsafrane @msau42

[2018-03-21 07:08] krmayankk commented on #60619
i dont see a PR still @dixudx  are you still working on this ?

[2018-03-21 07:13] dixudx commented on #60619
Not yet. @krmayankk You can pick it up.

[2018-03-21 07:16] Tarun17github commented on #49926
@lvicentesanchez Thanks a ton, this is exactly what turned out for us. We spawned new cluster with C5.9xlarge ( current generation ) instances on AWS which was getting volumes with NVME conventions which kuberntes 1.8 failed to understand on Rancher. Creating new cluster with older instance type with xvd** convention has solved the issue for us.

[2018-03-21 07:39] wojtek-t commented on #60589
I looked into the range mentioned above - there are only 9 PRs there.
https://github.com/kubernetes/kubernetes/pull/59944 - 100% NOT - only changes owners file
https://github.com/kubernetes/kubernetes/pull/59953 - potentially
https://github.com/kubernetes/kubernetes/pull/59809 - only touching kubectl code, so shouldn't matter for this case
https://github.com/kubernetes/kubernetes/pull/59955 - 100%

[2018-03-21 08:02] rfranzke opened #61464 "Azure volumes cannot be detached/attached after rolling update"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug
/sig azure

**What happened**:
I run several stateful sets on a cluster provisioned on Azure cloud. When performing a rolling update of my nodes (i.e., cordon, drain, delete VM) one after the other the pods of the stateful sets are moved to another node. However, the persistent volume cannot be moved (detach/attach times out). Often it t

[2018-03-21 08:05] rfranzke opened #61465 "Node objects are not removed from etcd for deleted Azure VMs"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug
/sig azure

**What happened**:
When performing a rolling update of my nodes (i.e., cordon, drain, delete VM on Azure side) one after the other the corresponding `Node` objects of the deleted VMs are not being deleted from etcd. This affects all patch versions `1.9.X` while it is working fine with `1.8.X`.

**What you expected to happen**

[2018-03-21 08:15] sttts commented on #61448
`GoHeaderFilePath` is probably fine as it is. It used to reference a kubernetes path before. But that's not the case anymore.
`OutputPackagePath` should be set to the kubernetes path in every invocation of client-go, not hardcoded in the binary.

[2018-03-21 08:15] berlincount commented on #43916
If it is indeed expected behaviour it certainly seems to surprise some people in nasty ways ...

[2018-03-21 08:30] andyzhangx commented on #61456
if you attach to the agent kubelet, you will find actually mkdir actually happens in kubelet container, while since there is no volume mapping in kubelet, so the mkdir operation does not work in hostpath.

[2018-03-21 08:34] #59975 closed

[2018-03-21 08:39] sttts commented on #59124
@jennybuckley it should be 99.9% the same. What are you missing?

I think an integration test would be much better than an e2e test. We have much more control there.

[2018-03-21 08:47] mdianjun commented on #44776
@jayunit100 @fejta-bot   I am encountering this issue. Is there any solution to resolve it?

[2018-03-21 08:51] irfanjs commented on #61426
please suggest ....

[2018-03-21 09:04] wasylkowski-a commented on #60589
c105796e4ba7fc9cfafc2e7a3cc4a556d7d9defd looks rather bad:
[code]
Given that this is merge of #59953, one of Wojtek's suspects, I will now run on one commit before that, so f60083549a43f152b3142e01756e25611d911770

[2018-03-21 09:10] lcfang commented on #61448
Hi @sttts ,thanks for your attention.

the `OutputPackagePath` here is direct the path kubernetes uses, external user can override it in there script. from your words, I think it is also probably fine as it is.
do you think we should remove this? or should we move this to kubernetes script or somewhere?

[2018-03-21 09:13] depauna commented on #61277
1.9.4 was fixed but 1.9.5 has the same issue again
possible to investigate the issue?
what are steps we have to take in the future when an update comes out?

[2018-03-21 09:15] max-rocket-internet commented on #56706
I was wrong, T2 instances do support jumbo frames anyway.

I think our issue was this one: https://github.com/kubernetes/kops/issues/3224
We applied the fix from there and no longer have problems.

I think stats like this are perhaps normal (taken from a k8s node up 5 days):

[code]

[2018-03-21 09:19] CaoShuFeng commented on #39441
/cc

[2018-03-21 09:20] lcfang opened #61469 "why do we want to refactor the plumbing to provide the information in the APIGroupInfo?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

As I saw so many TODO like this:
[https://github.com/kubernetes/kubernetes/blob/a7d788d91f60d676c3a88ab90bca0b3e90f70d53/pkg/registry/autoscaling/rest/storage_autoscaling.go#L36-L47](https://github.com/kubernetes/kubernetes/blob/a7d788d91f60d676c3a88ab90bca0b3e90f70d53/pkg/registry/autoscaling/rest/storage_autoscaling.go#L36-L47)

[2018-03-21 09:20] andyzhangx commented on #61456
kubelet on Azure would run as a continer, and this issue should be related to ["bind mount" code](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L799-L803), so I don't use "bind mount", use original code, it works well.

[2018-03-21 09:24] wojtek-t commented on #60589
Discussed offline - we will run tests at head with this commit locally reverted instead.

[2018-03-21 09:53] pavel-mikhalchuk opened #61470 "DaemonSet kube-proxy "Number of Nodes Misscheduled" is confusing"
/kind bug

**What happened**:

Information about kube-proxy daemon set desired/scheduled/misscheduled nodes is confusing.

Here's the details:

I have a cluster with 7 nodes:

![nodes](https://user-images.githubusercontent.com/3069485/37702364-4fa1ac3e-2d03-11e8-8ec1-cea2a18d592d.png)

Kube-proxy daemon set schedules 6 pods:

![kube-proxy-pods](https://user-images.githubusercontent.com/3069485/377

[2018-03-21 10:22] dims commented on #61451
/sig testing

[2018-03-21 10:22] dims commented on #61451
/priority important-soon

[2018-03-21 10:25] dims commented on #60589
wow! a one liner causing so much trouble. thanks @wasylkowski @wojtek-t

[2018-03-21 10:54] shyamjvs commented on #61190
The fluentd-scaler update eliminated fluentd restarts problem. Verified from controller-manager logs that we no longer see such logs that we were [earlier seeing](https://github.com/kubernetes/kubernetes/issues/60500#issuecomment-373001797):

[code]

This is great, and I believe that moves this out of release-blocker as we no longer face problems I mentioned in https://github.com/kubernetes/kubern

[2018-03-21 10:57] shyamjvs commented on #61190
That said, @x13n and me will continue looking into increase in mem-usage (which is not that serious). We'll start by verifying that turning the scaler off improves mem-usage.

[2018-03-21 11:00] shyamjvs commented on #61190
@wojtek-t @jdumars Feel free to override me if you have a good reason :)

[2018-03-21 11:02] soltysh opened #61471 "Kubectl refactorings umbrella issue"
There are several items in kubectl that needs cleaning. This umbrella issue will hopefully allow to have a single place to point to all of them.

Tasks:
- [ ] server side print default in `kubectl`
- [ ] unify printers ([proposal](https://docs.google.com/document/u/1/d/19ZZFVe9oD1KQmk5uExggRWtRl_hKGfYnBXvHZJlgEro/edit?usp=sharing)) #61304
- [ ] all commands should use struct to hold their values (

[2018-03-21 11:03] foxyriver commented on #61007
this return returns nil value of statuses variable. statuses variable contains the value of all metrics.

[2018-03-21 11:09] k82cn commented on #61470
/sig apps

[2018-03-21 11:14] wojtek-t commented on #61190
I agree that this doesn't sounds to be release-blocker. But I would like to see follow-ups at least for issues like:
1. where does this memory increase come from?
2. why what was claimed to be "no-op" changes for daemon set were causing problems [is that issues in kubectl, apiserver, somewhere else?] Something like that may hit us again in the (near?) future if we won't understand it now. The curr

[2018-03-21 11:16] shyamjvs commented on #60589
@dims One-liners can indeed cause devastation with scalability. Another e.g from past - https://github.com/kubernetes/kubernetes/pull/53720#issue-145949976
In general, you might want to see https://github.com/kubernetes/community/blob/master/sig-scalability/blogs/scalability-regressions-case-studies.md for a good read :)

[2018-03-21 11:16] ant31 commented on #54579
I tend to disagree, most operators I've seen are using some part of the API. Depending on the operator some configuration is exposed to the user and most of the time it directly uses a kubernetes API spec.

@liggitt what about inlines all references in the CRD spec as proposed by @enisoc.
We can provide tooling to help users to statically generate such spec (without references) similarly to https:

[2018-03-21 11:20] shyamjvs commented on #61190
Definitely agree those are questions we need to answer.

[2018-03-21 11:25] zjj2wry commented on #61471
@soltysh i can help clean generators，we want to remove some old versions generators?

[2018-03-21 11:30] foxyriver commented on #61007
@DirectXMan12
as long as we failed to get one metric of all metrics, the func computeReplicasForMetrics returns, the scale lose efficacy, it is not highly available. when failed to get metric, should we record this event and do not return:)

[2018-03-21 11:49] soltysh commented on #61430
From what I've checked in the code, it's also using the resource builder, so that means it'll work similarly to get.

:+1:

What about `kubectl create deployment`?

[2018-03-21 11:52] soltysh commented on #61471
@zjj2wry we need to discuss that during our next sig call to agree on the actual details.

[2018-03-21 11:55] soltysh commented on #60366
Thanks @dixudx!

[2018-03-21 11:59] deads2k commented on #61469
The information we want is about priorities.  Which versions have priority over which other versions.  That knowledge is held by the same person modifying the `NewRESTStorage` method.  It would be good find a way to formalize it without causing weird dependencies.

[2018-03-21 11:59] deads2k commented on #61469
On the other hand, it probably matters less if we're willing to prevent new groups from being added to the  kube-apiserver.

[2018-03-21 12:09] sttts commented on #54579
If we don't add dynamic reference support, this is the way out. There are couple of problems though:
- those references will be resolved at development time. The schema might not fit to the cluster of the user.
- the schemata in /swagger.json are incomplete. They are purely about the structure of the go types, not about syntactical restrictions of fields or even cross-field restrictions (implement

[2018-03-21 12:10] ruedigers commented on #61279
@venilnoronha

yes, this is the node it failed on
(until we reinstalled the workers with ESX6.0 compatibility)

[2018-03-21 12:15] mooperd commented on #55867
+1 One of our nodes on azure AKS (k8s 1.8.7) just went NotReady. Our clusters on GKE seem unaffected.

[code]

[2018-03-21 12:22] deaquino commented on #55867
I upgraded to 1.8.7 and got the same error.
What kind of instances are you deploying? I attached 32GB disks to them, not sure if it uses it by default. The instances of the nodes that I have are with just 4GB HD.

[2018-03-21 12:25] x13n commented on #61190
Yup.
1) is tested in #61472.
2) I believe apiserver sends watch events even when only resource version changes, which causes the daemonset controller to recreate the pods. So either:
- resource version shouldn't change when there is no change anywhere else in the resource
- apiserver shouldn't send watch events when only resource version is changing
- daemonset should check whether watch event it

[2018-03-21 12:34] wasylkowski-a commented on #60589
Update re. test at head: first run with the commit locally reverted passed. This might be a flake, though, so I am rerunning it.

[2018-03-21 12:42] uablrek commented on #59976
For `externalIPs` there are 2 bugs in this area;

If "externalIPs" is used, those addresses must be added to kube-ipvs0 otherwise no traffic to those addresses is sent to ipvs.

The proposed kube-ipvs1 is identical with the existing kube-ipvs0, both are NOARP and dummy interfaces. kube-ipvs0 is safer because it is left in DOWN state. I can't se any reason for creating kube-ipvs1.

Second is that t

[2018-03-21 12:52] wojtek-t commented on #61190
This is the code that is supposed to protect us from situation that something must change when we write object to etcd (resource version is not stored in etcd):
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L325

So there should never be a situation that only resource version is changing. If it is, there is bug and need to be fixed. @l

[2018-03-21 12:54] shyamjvs commented on #61190
That's what I'd expect as well.

This I'm not sure if should be correct behaviour as IIUC watchers need to receive every RV update for correctness reasons (@wojtek-t )

Maybe. But are we sure if RV is just increasing without any object change?

For creation of addons, yes (that race will likely last only for starting few seconds).
But this is wrt addon changing cluster resources, which can potenti

[2018-03-21 12:54] shyamjvs commented on #61190
Ok.. Seems like I missed Wojtek's comment above.

[2018-03-21 12:58] shyamjvs commented on #61190
So I just checked the ds-controller code and it seems like we're updating the ds status only if this condition is being violated:

https://github.com/kubernetes/kubernetes/blob/622ad3567791d30edced3b32821a4a2b26d5448d/pkg/controller/daemon/daemon_controller.go#L1011-L1021

Which means one of those fields is probably mismatching. I'll try to add some logs and run the test at --v=4 to get more info.

[2018-03-21 13:03] andyzhangx commented on #61464
/assign

[2018-03-21 13:14] andyzhangx commented on #61456
I think I got the root cause why subPath in hostPath volume does not work, this issue should only happen for **containerized kubelet**,
 [SafeMakeDir](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L230) in kubelet would make subpath directories, if `kubelet` is running directly in host, it would work, while for **containerized kubelet**, SafeMakeDir only makes di

[2018-03-21 13:35] yastij commented on #59438
@DirectXMan12 - closing this one, since this is landing in 1.10.

[2018-03-21 13:35] #59438 closed

[2018-03-21 13:37] joshuatalb commented on #55867
I've got 3x `Standard_B2s` with 64GB disks. One thing I've noticed is that 1 of my nodes is running `Kernel Version: 4.13.0-1007-azure`, whereas the other 2 are running `4.13.0-1011-azure`. The 2 running the newer kernel version don't seem to be having this issue, so I wonder if a kernel update would help?

[2018-03-21 13:39] adelton opened #61474 "./hack/local-up-cluster.sh fails on Fedora rawhide"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I attempted to start all-on-one testing environment with

[code]

on Fedora rawhide, the way it works just fine on Fedora 27. The node never becomes `Ready`.

**What you expected to happen**:

The `./hack/local-up-cluster.sh` finishing and the node `127.0.0.1` becoming `Ready` shortly after.

**How to reproduce it (as mi

[2018-03-21 13:55] mooperd commented on #55867
You can destroy the offending virtual machines from the node pool and a new one should be created in its place.... I notice that our GKE clusters on Google Cloud are rotating periodically as new versions come out. Perhaps Azure does not have this feature.

[2018-03-21 14:05] dims commented on #61474
@adelton can you bump LOG_LEVEL env variable to say 10 before you run local-up-cluster.sh and see if we catch any other logs? (looks like we are hitting something deep in systemd - https://github.com/systemd/systemd/blob/master/src/core/dbus-cgroup.c#L355)

[2018-03-21 14:31] adelton commented on #61474
Now the `kubelet.log` ends with

[code]

[2018-03-21 14:32] joshuatalb commented on #55867
I've tried this, but am still getting the issue. I opened a ticket with Azure Support though -- once they reply, I'll update here.

[2018-03-21 14:39] tnozicka commented on #61433
I am in favor of retaining selector immutability for RS.

We have controllerRef and general rules of adoption to deal with overlapping selectors. Seems like this feature was created before controllerRefs and is not needed anymore. Or is there another reason we need it?

Maybe we can just stop using the pod-template-hash for all RSs and reach consistency?  That isn't part of any API or anything we

[2018-03-21 14:43] andyzhangx commented on #61464
@rfranzke I have set up 1.8.9 cluster also with `Standard_DS2_v2`, and could not repro, the drain node would cost about 2 min, and the azure disk could be detached from one node, and attached to another node.
So in your case,  error reports `my-cluster-dynamic-pvc-31138772-2863-11e8-abaf-0a580a2c0247` was actually attached to `my-cluster-my-node-4`, could you confirm in azure portal that whether `

[2018-03-21 14:45] liggitt commented on #61433
I would be strongly in favor of that. Spec hash computation has proven very problematic over the past several years.

[2018-03-21 14:48] otaviosoares commented on #55867
I was facing this issue with 1.7.x, upgraded to 1.8.7 and still getting it.

I can't even SSH to some nodes. I have to restart the VM to get it working again.

[2018-03-21 15:00] shyamjvs commented on #60589
@Random-Liu Who can explain us better what's the effect of that change :)

[2018-03-21 15:10] MikeSpreitzer commented on #61141
I am still getting `../../test-infra/vendor/github.com/json-iterator/go/config.go:107: undefined: sync.Map` from pull-kubernetes-kubemark-e2e-gce.  For example, see the tests of #60802

[2018-03-21 15:25] #61123 closed

[2018-03-21 15:33] liggitt commented on #61043
PodSecurityPolicy enforcement is done at admission time, by the API server, not at container start time on the node. The only options I see available at admission time (without adding API fields to the pod spec and plumbing more information down to the kubelet) are letting PSP require the volume to be readonly or an exact path match.

[2018-03-21 15:36] wasylkowski-a commented on #60589
After two runs I am pretty confident that reverting #59953 fixes the problem:
[code]

[2018-03-21 15:37] liggitt commented on #61190
anything is possible, but we do have tests ensuring this works properly (no-op updates do not actually result in an update+resourceVersion bump in etcd): https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go#L674-L728

[2018-03-21 15:43] shyamjvs commented on #60589
My intuition (https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-370874602) about issue being on kubelet side quite early-on in the thread was correct after all :)

[2018-03-21 15:50] bgrant0607 commented on #53311
Yes, a file with the salt.

The secrets would need to come from somewhere, also, so I don't think the salt is very different.

@apelisse has been working on a solution for kinflate.

[2018-03-21 16:00] jberkus commented on #60764
@krzyzacy @childsb @saad-ali where are we on this?  I thought we had a plan, and it was executed, and the remaining open PRs were for the future 1.9 patches.   What's waiting to be done so that we can move this issue out of the milestone?

[2018-03-21 16:15] uablrek commented on #59976
In k8s.io/kubernetes/pkg/proxy/ipvs/proxier.go:879
[code]

[2018-03-21 16:25] yujuhong commented on #48219
@xiangpengzhao, do you mind posting the details - how you edited the file, and the associated kubelet log?

[2018-03-21 16:33] shyamjvs opened #61481 "Large clusters failing to come up due to NetworkUnavailable for nodes"
Just noticed that the latest runs of our 5k-node correctness (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/88) and performance (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/127) jobs failed during cluster creation due to many nodes being unready.

Those nodes seems unready due to

[2018-03-21 16:35] shyamjvs commented on #61481
We might wait for one more run to ensure it wasn't a flake, but my strong feeling is that it's a regression.
Also I quickly swept through the diff (https://github.com/kubernetes/kubernetes/compare/ebae09e74...025439988) and find the following PR most suspicious:

check taints when allocating CIDR for the cloud #59208

[2018-03-21 16:46] apelisse commented on #53311
As I understand it, we would add this `--salt-file` flag to `kubectl create secret`, and kinflate will generate the salt from a declared command.

I think that solves all the problems mentioned in that issue.

PS: Just a quick note on how `kinflate` handles secret: we generate secret content from the stdout of commands ran at creation time, the goal is to be able to generate secrets with things li

[2018-03-21 16:51] ericchiang commented on #60661
cc @squeed

[2018-03-21 16:51] krzyzacy commented on #61416
(this is fixed from gke side)

[2018-03-21 16:51] #61416 closed

[2018-03-21 16:54] liggitt commented on #60764
1.9 PR was merged in #61370 mid-day yesterday. four green runs since then on https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.9-downgrade-cluster-parallel&sort-by-failures=

[2018-03-21 16:55] liggitt commented on #60764
some tests are still flaking in the job, but no solid red tests

[2018-03-21 17:04] shyamjvs commented on #61481
cc @gmarek @bowei

I'm not sure IIUC, but it smells like that PR introduces a correctness bug.
That change seems to modify behaviour of the allocator in the case when "node has PodCIDR set, but 'NetworkReady' node-condition was not set".
We would never ever process such a node because the taint exists, and the taint would continue to exist because we never ever process the node.

Notice the commen

[2018-03-21 17:07] krzyzacy commented on #60764
I think we can close this issue, and I'll keep an eye there and open a few more flake issues

[2018-03-21 17:07] #60764 closed

[2018-03-21 17:14] liggitt commented on #61372
moving into the milestone for discussion
/milestone v1.10

[2018-03-21 17:20] bsalamat commented on #57244
This issue is already addressed.

[2018-03-21 17:20] #57244 closed

[2018-03-21 17:21] liggitt commented on #61372
/priority critical-urgent
/status in-progress

[2018-03-21 17:22] jberkus commented on #59764
We need to doc downgrading and PVC protection.  TL;DR: if you have PVCs, and need to downgrade, you need to downgrade to 1.9.6, which will be released next Wednesday, and not to an earlier version of 1.9.

[2018-03-21 17:25] ericchiang commented on #61421
@zjj2wry this feature isn't directly tied to certificate signing requests. As stated in the proposal it only lets a plugin provide raw TLS client cert data to client-go https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/kubectl-exec-plugins.md#tls-client-certificate-support

[2018-03-21 17:28] tpepper commented on #60589
/sig node
@kubernetes/sig-node-bugs the release team could really use review on #59953 commit versus revert and the performance issue here

[2018-03-21 17:28] krzyzacy opened #61483 "[job failed][1.10] ci-kubernetes-e2e-kubeadm-gce-1-9-on-1-10"
https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#gce-kubeadm-1.9-on-1.10

/kind bug
/sig cluster-lifecycle
/milestone v1.10
/priority failing-test

cc @jdumars @tpepper @jberkus

also cc @luxas @BenTheElder @jessicaochen @timothysc
should this even be in 1.10 blocking dashboard?

[2018-03-21 17:29] AishSundar opened #61484 "[pr:pull-kubernetes-e2e-gce] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] flaked 53 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce
[Consistency: 88.5%](http://storage.googleapis.com/k8s-metrics/flakes-daily-latest.json)

### Flakiest test : [sig-cli] Kubectl client [k8s.io] Update Demo should create and stop a replication controller  [Conformance]
[Flakes in the past week: 53](http://storage.googleapis.com/k8s-metrics/flakes-latest.json)

/priority failing-test
/priority important-soo

[2018-03-21 17:31] krzyzacy opened #61485 "[job failed][v1.10] gci-gce-soak-1.10"
https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#gce-kubeadm-1.9-on-1.10

/kind bug
/sig testing
/milestone v1.10
/priority failing-test

cc @jdumars @jberkus

/assign
I'll dig into it and see if I can find any clue

[2018-03-21 17:36] krzyzacy commented on #61485
/priority critical-urgent

[2018-03-21 17:38] mtaufen commented on #53311
`--from-literal` can still be "maximum paranoia" if the salt is taken from the stdout of another command, since in that case it won't show up on the command line.

[2018-03-21 17:38] liggitt commented on #61372
/status approved-for-milestone
per discussion in sig-release meeting today

[2018-03-21 17:39] janetkuo commented on #61430
Yeah, I wasn't clear before. I meant `kubectl create deployment`, not `kubectl create -f`.

[2018-03-21 17:41] jiayingz commented on #59109
@vikaschoudhary16 If we reach agreement on extending device plugin API to pass pod annotation from Kubelet to device plugin, it sounds a reasonable short-term solution to pass certain device plugin specific information through this channel. However, I think pod annotation is mostly meant to facilitate short-term experiment. We need to be careful to not over-use it as any long-term solution, which

[2018-03-21 17:48] ayushpateria commented on #54579
Wouldn't statically generating the spec mean that the CRD authors always have to write the corresponding Go structs, even if they don't plan to write any controller using that CRD.

[2018-03-21 17:49] janetkuo commented on #61430
@scriptonist thanks! You could start from adding a apps/v1 Deployment generator, that would benefit both `kubectl create deployment` and `kubectl run`.

Ref previous PR for adding apps/v1beta1 Deployment generator: #42362 (see the 2nd commit `Introduce new generator for apps/v1beta1 deployments`). The change should be pretty similar.

Feel free to tag me or @soltysh if you have questions!

[2018-03-21 17:54] squeed commented on #60661
I'm curious why this has to be a kubelet API. The kubelet doesn't really store this information; it basically just updates the `podspec.IP` field in the apiserver.  What is a case where talking to the apiserver doesn't work?

A second question: how should this API handle host network pods, where multiple pods have the same IP?

[2018-03-21 17:56] mtaufen commented on #53311
Offline chat w/ @apelisse regarding how we warn users to actually start using a salt if we don't have a new flag: since the salt is mainly to pad the size of the secret (dictionary attacks against large secrets are impractical in most cases), kubectl should warn people to add a salt if the size of the secret is below some arbitrary threshold.

@mikedanese what would you say is a good size threshol

[2018-03-21 17:57] gaganapplatix opened #61486 ""externalTrafficPolicy": "Local" on AWS does not work if the dhcp of the vpc is not set exactly to <region>.compute.internal"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig aws

**What happened**:

Run a Gossip-cluster
Using NLB  as ExternalLoadBalancer on AWS, with externalTrafficPolicy set to Local, all the targets in the Target groups were unhealthy even though the pod for the service was running on a specific Node

**What you expected to happen**:

Find a healthy target on the Instance (node) containi

[2018-03-21 17:59] shyamjvs commented on #61481
In case it wasn't clear earlier:
- Assume a node was assigned podCIDR, but it failed to update the NetworkUnavailable condition
- Next when we trigger the Update() handler for shared informer for that node, we find that the 'NetworkUnavailable' taint exists and hence don't call `AllocateOrOccupyCIDR`
- So the node doesn't get put in the `nodeUpdateChannel` and consequently doesn't get a chance to

[2018-03-21 18:02] mtaufen commented on #53311
`kubectl create secret docker-registry` lists `--from-literal` as an optional flag
`kubectl create secret tls` does not, but it sounds like these are big enough that its a non-issue

[2018-03-21 18:02] msau42 commented on #61456
Is it a safe assumption to make that in all containerized kubelet environments, the host's "/" is mounted into the kubelet container under "/rootfs"?

[2018-03-21 18:02] msau42 commented on #61456
I see that nsenter code is assuming that, so the fix will probably have to do something similar.

[2018-03-21 18:03] janetkuo commented on #61433
Agree.

Yes, but in Deployment controller, the hash is _only_ used to generate ~unique label/selector, not for spec comparison.

Note that `pod-template-hash` is mentioned in user guide: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pod-template-hash-label. IIRC, it's documented mostly to warn users not to touch that label.

Because hash label is visible to users, I think s

[2018-03-21 18:07] jennybuckley commented on #59124
@sttts I think the bug #59073 fixed was something a controller was doing, not the apiserver

[2018-03-21 18:07] janetkuo commented on #61430
@scriptonist I just realized someone is already working on adding apps/v1 Deployment generator: #61288

[2018-03-21 18:09] fabiand commented on #59109
Iagree on both the short and long-term aspects. And do also faor a tracker for this. However, for the API we shuold also consider additional devices in order to find the right DP API.

[2018-03-21 18:09] mattlandis opened #61488 "e2e dns tests fail with cluster-domain other than cluster.local"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When running e2e tests on a cluster with the --cluster-domain set the dns tests fail.
[code]

The test are performing look ups on cluster.local instead of the specified cluster domain.
[code]

The tests have hard coded cluster.local in them.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/dns.go#L56

[2018-03-21 18:10] Random-Liu commented on #60589
@liggitt Thanks for explaining this for me. Yeah, that PR is fixing a bug. Previously, kubelet didn't always set `PodScheduled`. With #59953, kubelet will do that correctly.

But I'm not sure whether it could introduce more pod status update.
If I understand correctly, `PodScheduled` condition will be set in the first status update and then it will always be there and never changed. I don't unders

[2018-03-21 18:24] venilnoronha commented on #61279
@ruedigers thanks for confirming. Could you please also provide us your `PV`, `PVC` and `StorageClass` yaml content, and the output from `kubectl describe pv` and `kubectl describe pvc` commands? Also, is the datastore that you're using shared among all the nodes of the cluster?

Thanks,
Venil

[2018-03-21 18:25] mattlandis commented on #61488
/sig testing
/sig network

[2018-03-21 18:25] uablrek commented on #59976
The iptables rule is there in 1.9.3 (and onwards)
The externalIPs are not added to kube-ipvs0 even in 1.11.
If the parameter mentioned in the comment above is set to `true` everything works.

[2018-03-21 18:26] copland commented on #59676
To follow up on this, I restarted just the controller manager leader a few days ago and haven't seen the issue since.

[2018-03-21 18:29] mikedanese commented on #60661
It could work as long as the read is consistent. It feels like an unnecessary hop since the source of truth is local.

It stores this information in memory and it's already available from the /pods handler. Whether the info is consistent or not is an implementation detail but we would be relying on consistency to maintain security.

I was probably too prescriptive in the original issue description

[2018-03-21 18:33] ayushpateria commented on #61430
@janetkuo @soltysh [#61288](https://github.com/kubernetes/kubernetes/pull/61288) takes care of `kubectl create deployment` as well.

[2018-03-21 18:37] AishSundar commented on #61484
Here's the TestGrid view to dig into the flakes and get more detailed logs

https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Update%20Demo%20should%20create%20and%20stop%20a%20replication%20contr

[2018-03-21 18:39] crimsonfaith91 commented on #61433
IMO, removing pod-template-hash is a breaking change that deserves more community discussion. For this issue, we should think about whether it is justifiable to _not adding_ pod-template-hash to adopted ReplicaSets (and pods). In either case, Deployments will still add pod-template-hash to ReplicaSets created by it.

To clarify, I lean towards not adding pod-template-hash to adopted ReplicaSets. T

[2018-03-21 18:42] AishSundar commented on #59997
Here's the latest test run results for this test to get more logs.

https://k8s-testgrid.appspot.com/sig-api-machinery#gce&include-filter-by-regex=collector&width=5&include-filter-by-regex=Garbage%20collector%20should%20support%20cascading%20deletion%20of%20custom%20resources

[2018-03-21 18:43] m4rcu5 commented on #55158
/remove-lifecycle stale

[2018-03-21 18:52] jennybuckley commented on #59997
The error message ```failed to create CustomResourceDefinition: Internal error occurred: no kind "CustomResourceDefinition" is registered for version "apiextensions.k8s.io/v1beta1"``` Is really similar to the one in https://github.com/kubernetes/kubernetes/issues/61355
I'm looking into if the fix for that will also be sufficient to fix this.

[2018-03-21 18:53] squeed commented on #60661
Well, when you put it that way, just adding one more cache to podmanager is easier :-).

[2018-03-21 18:54] sigma opened #61490 "RFC: dep support"
So I have been working on a way to make dep (or something dep-compatible) friendlier towards the kubernetes main repository.

It differs from #57795 in that:
- it doesn't leave dep entirely as-is (instead, it tries to teach it to handle mono-repositories better)
- it doesn't introduce a runtime construct

After talking with @sttts I opened golang/dep#1764 which explores *one* of the possibilities,

[2018-03-21 18:57] krzyzacy commented on #61485
/status approved-for-milestone

the tests were timing out, I'll bump the timeout a bit

[2018-03-21 19:01] #45969 closed

[2018-03-21 19:09] obriensystems commented on #61076
We are seeing this under Rancher 1.6.13 and 1.6.14 in ONAP in our master branch ahead of the ONS conference
https://jira.onap.org/browse/OOM-813

[2018-03-21 19:15] sigma commented on #61490
@kubernetes/sig-testing-proposals

[2018-03-21 19:23] obriensystems commented on #61076
have a question for why we backported the 1.8.9 upgrade into 1.6.14 and 1.6.13 which were ok running 1.8.5 - the workaround in ONAP is to use rancher 1.6.12 until 1.6.14 is re-fixed (occurred 5 days ago during the release of 1.6.15)

[2018-03-21 19:38] daniilyar commented on #54482
We have this issue also. Our DEV Kubernetes live at baremetal env where kubelet `--hostname-override` option works fine and hence we are able to set node names to:
[code]

But our staging and PROD envs are on AWS where we use `--provider aws`. In this case kubelet does not allow us to set node names according to our naming convention. In AWS we have the self-descriptive DNS names like `node02-stag

[2018-03-21 19:39] cblecker commented on #61490
/cc

[2018-03-21 20:00] msau42 commented on #61456
@karataliu can you explain why you need to use subPath with a hostPath volume?  Can you just pass in the entire path "/tmp/m1" path as a hostPath?

[2018-03-21 20:02] lsylvain commented on #51333
Regardless of the intent of the 1.5 changes, as things stand now at release 1.9.2, even when using --grace-period=0 --force the pod is not deleted.  The status remains Terminated.  The web UI shows the status with a "moon" incon that displays the tooltip "This pod is in a pending state" and the status column displaysTerminated:ExitCode:$.  But this is only the beginning of many potential other woe

[2018-03-21 20:04] daniilyar commented on #54482
Here is a related issue that was closed by robot because nobody was on it for 90 days:  https://github.com/kubernetes/kubernetes/issues/22984 . I have added the calendar event for myself to return here in 80 days and post a comment with more argumentation so robot does not close this ticket to make the K8 community to not miss it )

[2018-03-21 20:07] janetkuo commented on #61430
Thanks! #61419 takes care of `kubectl rollout`

[2018-03-21 20:11] lsylvain commented on #59467
As things stand now at release 1.9.2, even when using --grace-period=0 --force a pod in this state may not be deleted. The status may change to Terminated, but the web UI shows the status with a "moon" incon that displays the tooltip "This pod is in a pending state" and the status column displaysTerminated:ExitCode:$. But this is only the beginning of many potential other woes.

If the pod was par

[2018-03-21 20:14] lsylvain commented on #59467
/open

Please see above.

[2018-03-21 20:37] saad-ali commented on #61248
Moving `attachedVolume.spec` in `kubelet/volumemanager/cache/actual_state_of_world.go#L229` to `mountedPod` makes sense.

[2018-03-21 20:52] krzyzacy commented on #61485
(will watch the next runs)

[2018-03-21 20:56] devopsprosiva commented on #43916
This is not expected behavior. The OS caching the memory has been around for a long time. Any app looking at memory usage should consider the cached memory. Using `nocache` is not an ideal solution either. Is there anyway we can bump up the severity/need on this issue? We're planning to go into production soon but can't without this issue getting fixed

[2018-03-21 20:57] saad-ali commented on #54108
There might've been some miscommunication, but I don't recall agreeing to doing local volume attach inside `WaitForAttach()`. That is the same objection I raised in https://github.com/kubernetes/kubernetes/pull/54264#issuecomment-346447093. I'm not happy that this went in, but I failed to keep an eye on this issue and did not review https://github.com/kubernetes/kubernetes/pull/58177 so it's my fa

[2018-03-21 21:04] janetkuo commented on #59676
This could be that the GC controller gets stuck: #60037

The fix for that (#61201) was merged in 1.10.  The bug was introduced in 1.8 and 1.9 so we're cherrypick the fix into 1.8 and 1.9.

[2018-03-21 21:05] davissp14 opened #61497 "Job - Target existing Pod and Container to carry out command execution."
/kind feature
/sig api-machinery

We are hosting various databases within our stack that are spread across various Pods.  Within each Pod, we have two containers, the DB instance and a side-car container containing various DB specific mgmt scripts.  These scripts serve various purposes and some are long-lived and some are single quick on-demand queries that return data.

We have been considering u

[2018-03-21 21:32] caesarxuchao commented on #61355
Yeah, that works. We have e2e tests verifying that.

[2018-03-21 21:35] Random-Liu commented on #60589
@yujuhong and I found that #59953 exposed an issue that `PodScheduled` condition of static pod will keep getting updated.

Kubelet generates a new `PodScheduled` condition for pod which doesn't have that condition. Static pod doesn't have it, and its status is never updated (expected behavior). Thus kubelet will keep generating new `PodScheduled` condition for static pod.

The issue was introduced

[2018-03-21 21:40] rootfs opened #61500 "failed to start containerized kubelet with error: container runtime is down"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
running `hack/local-up-cluster.sh` with `DOCKERIZE_KUBELET=true` option failed to start kubelet. `kubectl describe node` found kubelet not ready  due to error `container runtime is down`

If not running in containers, kubelet started fine.

**What you expected to happen**:
kubelet should be ready
**How to repro

[2018-03-21 21:41] rootfs commented on #61500
/sig node

[2018-03-21 21:44] rootfs commented on #61500
kubelet log
[code]

[2018-03-21 21:50] Bradamant3 commented on #59764
Yup. @nickchase see also comment from liggitt in https://github.com/kubernetes/website/pull/7731

[2018-03-21 21:53] dims commented on #60589
@Random-Liu What is the effect of the `very long time for kubelet to eventually set this condition`? What problem will an end user notice/face (outside of the test harness flakiness)?

[2018-03-21 21:59] treacher commented on #43916
As a temporary work around we have limited the percentage of memory linux will use as a cache to 50%. This was done in Redhat by adding the following option in sysctl.conf: `vm.pagecache=50`.

[2018-03-21 22:01] msau42 opened #61502 "Clean up fake mounters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/kind cleanup

**What happened**:
There are too many FakeMounter implementations in the codebase.  It's annoying to have to update all of them whenever we have to change the Mounter interface.  They should all be consolidated to use the FakeMounter implementation in pkg/util/mount/fake.go.

[2018-03-21 22:02] Random-Liu commented on #60589
@dims User won't see `PodScheduled` condition for a long time.

[2018-03-21 22:05] EdSchouten commented on #48180
This would be very useful for us to override `KUBERNETES_SERVICE_HOST`. This environment variable is used by `rest.InClusterConfig()` to determine the address of the API server of the current cluster by using the `kubernetes` service in the `default` namespace. Unfortunately, this requires the API server to have an SSL certificate with a cluster IP address as the subject name, as opposed to using

[2018-03-21 22:06] rootfs commented on #61500
never mind, rebooting the node fixed the problem, still not sure what happened though.

[2018-03-21 22:06] #61500 closed

[2018-03-21 22:18] EdSchouten commented on #60535
This issue is weakly related to a comment I just made in another bug: https://github.com/kubernetes/kubernetes/issues/48180#issuecomment-375111483

Being able to use `ExternalName` to set environment variables to a string would be incredibly useful for pods that want to connect to the API server. Right now the API server tends to require a SSL certificate that has the IP address of the 'default/ku

[2018-03-21 22:21] janetkuo opened #61503 "`kubectl explain` doesn't parse % well"
All `%` in the field description becomes `%!(MISSING)`:

[code]

@kubernetes/sig-cli-bugs

[2018-03-21 22:34] tallclair commented on #60001
Proposal: https://github.com/kubernetes/community/pull/1950

[2018-03-21 22:46] tallclair commented on #60661
Even if the information is consistent, this sounds ripe for a race condition vulnerability

[2018-03-21 22:47] Random-Liu commented on #60589
I have a fix which implements option 2 in https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-375103979. #61504

I can change it to option 1 if people think that is a better fix. :)

[2018-03-21 22:52] lpabon opened #61505 "./cluster/kube-up.sh stuck waiting [1.10.0 rc1]"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
./cluster/kube-up.sh stuck waiting with the following repeating message:

[code]

**What you expected to happen**:
Finish setting up kubernetes cluster and setup kubeconfig accordingly.

**How to reproduce it (as minimally and precisely as possible)**:
Followed the instructions for SIG-Storage e2e setup [ Doc ](https://doc

[2018-03-21 22:52] dims commented on #60589
you better ask folks who know this inside out! (NOT the release team 😄!)

ping @dashpole @dchen1107 @derekwaynecarr

[2018-03-21 22:53] lpabon commented on #61505
/cc @saad-ali @erinboyd

[2018-03-21 22:55] shyamjvs commented on #60589
@Random-Liu IIRC the only static pod running on nodes in our tests is kube-proxy. Could you tell how frequently are these 'continuous updates' made by kubelet? (asking in order to estimate extra qps introduced by the bug)

[2018-03-21 23:00] lpabon commented on #61505
I'm going to try master.

[2018-03-21 23:04] liggitt commented on #61446
How is this different than https://github.com/kubernetes/kubernetes/issues/61372?

[2018-03-21 23:25] Random-Liu commented on #60589
@shyamjvs Yeah, `kube-proxy` is the only one on node now.

I think it depends on pod sync frequency https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/kubeletconfig/v1beta1/defaults.go#L47, which is 1 minute. So kubelet generates one extra pod status update every 1 minute.

[2018-03-21 23:28] cyphar commented on #61043
Exact path matches won't help against symlink components changing. If you want to fix the issue in a complete way, you *need* to pass a file descriptor which can be used for mounting in some fashion (it's a shame that this will cause a layer violation, but the current design doesn't provide the security it claims to :disappointed:). Read-only will only fix the problem if there isn't co-ordination

[2018-03-21 23:36] shyamjvs commented on #60589
Thanks. So that means 5000/60 = ~83 qps added extra due to those put pod-status calls. Seems to explain the increased 429s noted earlier in the bug.

[2018-03-21 23:40] mengqiy commented on #59581
@shiywang Please investigate this. Thanks.

Looks like it's related to the scaler.

[2018-03-21 23:44] jdumars commented on #60589
@Random-Liu thank you very much for helping us get this sorted.

[2018-03-21 23:45] Random-Liu commented on #60589
@jdumars np~ @yujuhong helped me a lot!

[2018-03-21 23:46] mengqiy commented on #61484
/assign @Liujingfang1

[2018-03-21 23:49] msau42 commented on #61446
#61372 affects reconstruction for PVCs

[2018-03-22 00:04] yujuhong commented on #60589
I still think letting kubelet set the `PodScheduled` condition is somewhat strange (as I noted in the original PR). Even if kubelet doesn't set this condition, it'd not affect the cluster autoscaler since the autoscaler ignores the pods without the specific condition. Anyway, the fix we eventually came up has very minor footprint, and would maintain the current behavior (i.e., always setting the P

[2018-03-22 00:26] ryanmcnamara opened #61509 "Kubectl doesn't validate apply"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

Seeing some bad behavior with `kubectl apply -f configmap.yml` where `configmap.yml` contains annotations whose values are *integers*. Steps to repro:

* configmap.yml contents:
[code]
Now run
[code]
change configmap.yml to
[code]
then run
[code]

kubectl does not error. Not only is the "b" annotation not set, but also "a" is removed

**Env

[2018-03-22 00:29] ryanmcnamara commented on #61509
/sig cli

[2018-03-22 00:44] freehan opened #61510 "Webhook ServiceReference keeps calling 443 port when there is only one non-443 port in ServiceSpec"
**What happened**:

Deployed a webhook backend and service as follows:
**Please note that there is only 8443 port on the service.**
[code]

Register the webhook as follows:
[code]

Got the following error when creating pods:
[code]

**What you expected to happen**:
Based on https://github.com/kubernetes/api/blob/master/admissionregistration/v1beta1/types.go#L257, `https://webhook-service.kube-syst

[2018-03-22 00:51] yujuhong commented on #60589
Also, revived the really old issue for adding tests for steady-state pod update rate #14391

[2018-03-22 00:56] caesarxuchao commented on #61510
@freehan, thanks for the detailed bug report!

[2018-03-22 00:57] krzyzacy commented on #61141
@MikeSpreitzer odd.. I'll try to push https://github.com/kubernetes/test-infra/pull/7267 through asap

[2018-03-22 01:29] scriptonist commented on #61502
Is this a beginner friendly issue? If so I will be happy to work on this

[2018-03-22 01:29] lpabon commented on #61505
same issue on master

[2018-03-22 01:42] karataliu commented on #61456
@msau42 No specific reason, I was trying e2e case `HostPath should support subPath` and found this.

[2018-03-22 01:51] msau42 commented on #61502
Yes totally!

[2018-03-22 01:56] lpabon commented on #61505
Running:

[code]

Did not work, but running

[code]

worked!

[2018-03-22 01:56] #61505 closed

[2018-03-22 01:59] andyzhangx commented on #61456
@msau42 If we don't use subPath in hostPath volume in containerized kubelet, it works.

Below is containerized kubelet config on Azure, the host's "/" is not mounted into kubelet container:

[code]

[2018-03-22 02:08] #52187 closed

[2018-03-22 02:08] #52368 closed

[2018-03-22 02:08] #53633 closed

[2018-03-22 02:08] #53697 closed

[2018-03-22 02:13] crielly opened #61511 "RBAC Deny from get nodes, patch nodes/status, watch pods when using Node Authorization"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
after implementing RBAC and Node auth, I found I saw a lot of these in my kube-apiserver logs:

[code]

I ended up resolving the issue by adding this ClusterRoleBinding as part of my bootstrapping process:

[code]

This confused me because of this section from the Node Auth docs (https://kubernetes.io/docs/admin/authoriza

[2018-03-22 02:16] crielly commented on #61511
/sig auth

[2018-03-22 02:17] mindprince opened #61512 "TestPreemptionStarvation is flaking"
/kind flake
/area test
/sig scheduling
/sig testing

Examples:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61480/pull-kubernetes-integration/2949/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61498/pull-kubernetes-integration/2934/

It's the most flaky test among all integration tests: https://k8s-testgrid.appspot.com/presubmits-kubernetes-b

[2018-03-22 02:18] mindprince commented on #61512
/cc @kubernetes/sig-scheduling-test-failures

[2018-03-22 02:23] mindprince opened #61513 "TestRollingUpdateDaemonSetExistingPodAdoption is flaking"
/kind flake
/area test
/sig apps
/sig testing

Examples:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61498/pull-kubernetes-integration/2922/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-integration/2927
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/60793/pull-kubernetes-integration/2941

It's

[2018-03-22 02:24] ryanmcnamara commented on #61509
This behavior is different than it was on K8s 1.8
On 1.8 the annotations were added as desired

[2018-03-22 02:27] andyxning commented on #55527
/remove-lifecycle rotten

[2018-03-22 02:32] crimsonfaith91 commented on #61513
I suspected the flakiness might be due to turning on of garbage collector within the test. I will investigate it tonight, but feel free to revert the codes if needed.

[2018-03-22 02:42] Lion-Wei commented on #61328
/assign

[2018-03-22 02:51] AnberLu opened #61516 "how to Associate the kubelet client User and psp service account ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
if my kubectl client is bound to service account (ceph) and namespace (ceph) , I need to specify service account (ceph) in my deployment. If I don't specify service account (ceph) in my deployment , the default service account of my deployment is still default. Is there any way to make the default service account with the client-bou

[2018-03-22 03:04] tengqm commented on #57289
/remove-lifecycle stale

[2018-03-22 03:06] Lion-Wei commented on #61163
Not sure have you solved this problem already.
But before network plugin enabled, kubelet always have this log. I think you need to paste the pod describe result/kubelet this pod related log, to solve this problem.

[2018-03-22 03:07] tengqm commented on #57289
Related: #55807, #27618
Related: kubernetes/community#483

[2018-03-22 03:20] mdianjun opened #61517 "Scheduler_perf benchmark throw many errors"
k8s version: 1.9.3
centos 7.2.1511
docker 17.03.2-ce

[code]

Why are there many errors about ports of 127.0.0.1 ? Is this port apiserver's port?

 @kubernetes/sig-scheduling-bugs

/sig scheduling

[2018-03-22 05:01] feiskyer commented on #61465
@rfranzke It requires some time for controller manager to detect the removed VM on Azure. Could you share the logs of kube-controller-manager?

[2018-03-22 05:06] vhosakot commented on #61184
Thanks for fixing this! 👍

[2018-03-22 05:07] rezroo opened #61522 "k8s cluster broken after pod is evicted"
/kind bug

**What happened**:
When creating new pods they remain in ContainerCreating state permanently. Kubelet logs show that system broke down after retainting the master node which cause a pod to be evicted:

Mar 22 05:00:33 master kubelet[11352]: Kr7vRrCB0hhRwY_irXLSG90Xk8b9qZfVbxsC3bYw973h9lONDqcTZEEpoJ7_ATRQ]
Mar 22 05:00:33 master kubelet[11352]: 2018-03-22 05:00:33.016 [INFO][16634] clien

[2018-03-22 05:18] dixudx commented on #61503
/assign

[2018-03-22 05:22] rezroo commented on #61522
Never mind - I see what I did wrong - changing the taint is causing some critical pods on the master node to get evicted.

[2018-03-22 05:22] #61522 closed

[2018-03-22 06:20] Lion-Wei commented on #61471
@soltysh I will be glad to help on this work. : )

[2018-03-22 06:44] #45293 closed

[2018-03-22 06:45] CaoShuFeng opened #61526 "azure unit test failing in my environment"
When I run `make test` in community master branch:
I get such error:
[code]

[2018-03-22 06:55] CaoShuFeng commented on #61516
/sig-auth

[2018-03-22 07:00] CaoShuFeng commented on #61516
Looks like "default" is hard coded.
https://github.com/kubernetes/kubernetes/blob/1365ce341924fb705d25704d4802f8aec5582b38/plugin/pkg/admission/serviceaccount/admission.go#L44

Is this a reasonable feature request @liggitt ?

[2018-03-22 07:03] andyzhangx commented on #61456
@msau42 also   `--volume=/:/rootfs` shoud not work, since `/rootfs/tmp` and `/tmp` are not identical in kubelet container, while we cannot specify like this `--volume=/:/`, it's not supported.

[2018-03-22 07:26] wojtek-t commented on #60589
@yujuhong - are you talking about this one: #61504 (or do I misunderstand it)?

@wasylkowski @shyamjvs - can you please run 5000-node tests with that PR patched locally (before we merge it) to ensure that this really helps?

[2018-03-22 07:28] rfranzke commented on #61465
Hi @feiskyer, thank's for taking a a look. Well, sure, it may take some time, however, it's really fast for Kubernetes clusters on Azure with versions prior than `1.9.x` and also for clusters on other cloud providers (even with `1.9.x`). I have waited more than 30 minutes, but the "old" `Node` objects are still there (which leads to a weird state/view on pods, etc.). I've seen this problem only wi

[2018-03-22 08:00] rfranzke commented on #61464
Hi @andyzhangx, thank's for taking a look. Hm, can you try to reproduce it when having more than one stateful set?
The mentioned issue above has been repaired after 1,5 days. However, I just reproduced the issue by running 12 stateful sets with one replica each.

Only 2 out of the 12 pods are running after the rolling update, 10 are in state `ContainerCreating` with the same issues (`unable to mou

[2018-03-22 08:07] soltysh commented on #59581
/assign

[2018-03-22 08:07] soltysh commented on #61484
/assign

[2018-03-22 08:11] feiskyer commented on #61465
@rfranzke Thanks of providing the information. I'm checking whether there is something wrong inside cloud provider

[2018-03-22 08:12] andyzhangx commented on #61464
@rfranzke how many disks are on DS2_V2 VM? as i know, it can only accept 8 data disks at most?

[2018-03-22 08:12] MayurCK commented on #55043
@sweetcczhang i am also facing the same problem did you get the solution for the same.

[2018-03-22 08:12] feiskyer commented on #51540
/status approved-for-milestone

[2018-03-22 08:17] rfranzke commented on #61464
Not sure, but the cluster has 10 VMs and 12 PVC/PVs, so there won't be any VM with 8 data disks.

[2018-03-22 08:18] andyzhangx commented on #61464
@rfranzke so after you restart contoller-manager, all 12 pods are working with correct disk mount?

[2018-03-22 08:19] rfranzke commented on #61464
Yes, exactly.

[2018-03-22 08:39] feiskyer commented on #61465
@rfranzke confirmed it's a bug in azure cloud provider

[2018-03-22 08:51] rfranzke commented on #61465
Thank you for investigating. Do you already know whether the fix will be backported or only part of 1.10?

[2018-03-22 08:52] feiskyer commented on #61465
@rfranzke By the way, have you configured backoff with azure cloud provider? what params have you configured?

[2018-03-22 08:53] rfranzke commented on #61465
This is the relevant part of the current cloud provider configuration:
[code]

Does it look good to you?

[2018-03-22 08:55] malc0lm opened #61530 "Resoucequote admission will update resourcequota in apiserver even though pod created failed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
There is a resourcequota named testquota in namespace, I create a pod with "kubectl create -f pod.yaml", it will success and testquota will be updated. When I use "kubectl create -f pod.yaml" again, the pod creating failed and apiserver will return "Error from server (AlreadyExists): error when creating "pod.yaml": pods "

[2018-03-22 08:56] leeeboo commented on #45419
+1
Kubernetes: 1.9.3
Docker: 17.09.1-ce
Cloud provider: AWS
OS: CoreOS 1632.3.0
Kernel: 4.14.19-coreos
Install tools: kops
Weave

[2018-03-22 08:57] malc0lm commented on #61530
/sig-api-machinery

[2018-03-22 08:59] andyzhangx commented on #61464
@rfranzke I have set up 7 statefulsets in node#1, each statefulset has one azure disk, and then drain that node, all pod on node#2 would be scheduled to node#2, there would be "Multi-Attach error", while after around 5 min, all pods looks good:
[code]

[2018-03-22 09:01] malc0lm commented on #61530
@kubernetes/sig-api-machinery

[2018-03-22 09:02] andyzhangx commented on #61464
Here is my statefulset config:
https://github.com/andyzhangx/demo/tree/master/linux/azuredisk/attach-stress-test
Is there any diff with yours?

[2018-03-22 09:02] feiskyer commented on #61465
@rfranzke There is a problem in backoff logic which results in retrying even the VM has already removed from Azure. With the params you set, the backoff timeout will be about 40 hours. I recommend setting a smaller cloudProviderBackoffDuration (ensure > 1) since this is an exponential backoff.

[2018-03-22 09:08] #60976 closed

[2018-03-22 09:08] #58416 closed

[2018-03-22 09:12] rfranzke commented on #61464
Hm, strange. My stateful set looks a little bit different, but I doubt that this is related. I configure `.spec.serviceName`, `spec.updateStrategy.type=RollingUpdate` and I don't have the annotation on the `spec.volumeClaimTemplates` (using the `default` storage class).

Could the issue be related to the backoff settings in the cloud provider config?
[code]

[2018-03-22 09:17] mcwienczek commented on #55691
Could you explain what was the reason? We are having similar problem

[2018-03-22 09:23] rfranzke commented on #61465
Okay, thank's a lot!

[2018-03-22 09:26] like-inspur opened #61532 "kubernetes call ceph luminous failed"
I install ceph luminous, and create rbd pool. When I configure kubernetes to use ceph by storageclass, the pvc is pending. I have install ceph-common and modprobe rbd on kubernetes node（version:v1.8.3）.
The config of ceph-secret and ceph-storageclass is like this:
apiVersion: v1
kind: Secret
metadata:
name: ceph-secret
namespace: default
type: "kubernetes.io/rbd"
data:
key: QVFBckViSmFuVDdvSXhBQXg

[2018-03-22 09:28] like-inspur commented on #61532
/sig ceph  @freeformz  @brosner @gnufied  @ncdc

[2018-03-22 09:33] Joseph-Irving commented on #61178
@jsafrane Thanks this fixed the unable to create subPath error, I've now managed to reproduce the `starting container process caused \"process_linux.go:359: container init caused \\\"rootfs_linux.go:53` part.

So it seems to be related to the fact I've mounted a configmap as directory and then I've added the file from the emptydir as a subpath to the same directory.

e.g:
[code]
[code]

[2018-03-22 09:48] AnberLu commented on #61516
thank you  @CaoShuFeng  and @liggitt  .  the "default" service account is hard  code.

1）
If I want to use the "default" service account, then I need to bind the PSP with  “default” service account and authenticated user.
2）
When there are multiple users accessing k8s cluster, the permissions of the "default" service account under a namespace will exceed the access capability of single user. In th

[2018-03-22 10:51] K7king opened #61538 "Kubemark Test-How to point to Master cluster"
/kind flake
/area test
/sig scheduling
/sig testing
/kind question
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I deployed a cluster on AWS. I want to run [Kubemark test ](https://github.com/kubernetes/kubernetes/tree/master/test/kubemark) . By pre-existing they state to give configurations like this
_CLOUD_PROVIDER="pre-existing"
KUBEMARK_IMAGE_MAKE_TARGET="push"
CONTAINER_RE

[2018-03-22 11:04] barakAtSoluto commented on #60807
@shean-guangchang - I had the same issue. I've deleted everything under the namespaces manually, deleted and purged everything from "helm" and restarted the master nodes one by one and it fixed the issue.

I imagine what i've encountered has something to do with "ark", "tiller" and Kuberenets all working together (i bootstraped using helm and backed-up using ark) so this may not be a Kuberenets is

[2018-03-22 11:12] Mart-Bogdan commented on #9180
We are running into this issue in `v1.9.2`

[2018-03-22 11:13] shyamjvs commented on #61190
So I ran some 100-node experiments against https://github.com/kubernetes/kubernetes/pull/61472 with more debug logs and I think I now understand the reason for this. The controller-manager logs [with the scaler](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/61472/pull-kubernetes-e2e-gce-100-performance/11/artifacts/e2e-11-master/kube-controller-manager.log) and [without the scaler

[2018-03-22 11:14] soltysh commented on #61471
@zjj2wry @Lion-Wei let's sync on slack as soon as @juanvallejo and I get the initial printers work done.

[2018-03-22 11:18] #52655 closed

[2018-03-22 11:18] #54390 closed

[2018-03-22 11:20] shyamjvs commented on #61190
I spoke offline with @x13n and suggested that we should increase maxUnavailable for the fluentd daemonset to a large enough value so that we're not bottlenecked by it. My reasoning is:
- fluentd is not some user workload which will have some service downtime in case there are many unavailable at once
- fluentds on nodes are independent of each other (i.e one fluentd shouldn't need to wait for anot

[2018-03-22 11:41] liggitt commented on #61516
Propagation of the user making the API call to create the pod into the serviceAccountName field of the pod is not something we should do.

First, it would only be possible if the user creating the pod happened to be a service account in the same namespace as the pod.

Second, having pod creation behave differently in that way depending on who made the API call to create the pod makes for an unpred

[2018-03-22 11:41] #61516 closed

[2018-03-22 11:44] sttts commented on #59124
@jennybuckley those bootstrap controller are also executed by the testserver. So I would expect that the bug could be hit in testserver integration tests too.

Compare https://github.com/sttts/kubernetes/blob/691a7d43588692501e27be2375bebad1c30b7ae5/cmd/kube-apiserver/app/server.go#L136 with the real start code and https://github.com/sttts/kubernetes/blob/cfdea234c3608123db26d86dc65a1bd517ba0287/c

[2018-03-22 11:57] liggitt commented on #61178
Thanks for the update. Can you file a separate issue to track that?

[2018-03-22 12:00] liggitt commented on #61530
That is correct. Quota is updated during admission, pre-persistence. That is working as designed, as there is no two-phase transaction available within kube.

A background controller periodically checks for over reporting quota objects and corrects them.

/close

[2018-03-22 12:00] #61530 closed

[2018-03-22 12:04] liggitt commented on #61511
Ensure Node authorization comes first in the authorizer mode arguments:

--authorization-mode=Node,RBAC

Otherwise RBAC will attempt to authorize, fail and log, then the Node authorizer will succeed. The RBAC message is harmless in this case, but is annoying.

Don't grant the system:node role to the system:nodes group or you will undo the protection of the Node authorizer.

[2018-03-22 12:05] liggitt commented on #61511
/close

[2018-03-22 12:05] #61511 closed

[2018-03-22 12:09] liggitt commented on #61278
Closing for lack of information

/close

[2018-03-22 12:09] #61278 closed

[2018-03-22 12:12] liggitt commented on #61043
The presumption is that the restricted user does not have the ability to change parent components of the allowed path

This is not intended to protect against a user with host access.

[2018-03-22 12:56] shyamjvs commented on #60589
I ran the test against 1.10 HEAD + #61504, and the pod-startup latency seems to be fine:

[code]

Will re-run once more to confirm.

[2018-03-22 12:58] wojtek-t commented on #60589
@shyamjvs - thanks a lot!

[2018-03-22 13:02] shyamjvs commented on #61190
So increasing maxUnavailable indeed seems to help (ref: [c-m logs](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/61472/pull-kubernetes-e2e-gce-100-performance/15/artifacts/e2e-15-master/kube-controller-manager.log)):

[code]

All the 101 replicas were deleted at once instead of one-by-one and happened pretty much within 2 mins of the original fluentd-ds seen by the controller:

[c

[2018-03-22 13:05] x13n commented on #61190
Thanks for confirming this! Did increasing maxUnavailable also reduce c-m memory usage?

[2018-03-22 13:06] rootfs commented on #61456
@andyzhangx we need `-v /:/rootfs`.  nsenter uses host mount namespace (i.e. `/rootfs/proc/1/ns/mount`) to use resolve the directory on the host.

[2018-03-22 13:47] liggitt commented on #61372
Re-opening to track fixes in release branches

[2018-03-22 13:54] rajansandeep commented on #61435
@MrHohn I got a chance to check. It seems the opposite is also true. ie, kube-dns manifest is there when coredns is installed.

[code]

My first instinct towards a solution is to separate the dns folder for coredns and kube-dns.

[2018-03-22 13:57] liggitt commented on #61372
keeping in the v1.10 milestone until #61518 merges

[2018-03-22 13:58] andyzhangx commented on #61456
@rootfs I mean `--volume=/:/rootfs` does not work in this case which is for containerized kubelet, in the example hostPath is `/tmp`, in a containerized kubelet, we cannot mkdir on `/tmp` on host. Let hostPath to use "bind mount" to "/var/lib/kubelet" would work.

[2018-03-22 14:00] liggitt commented on #61510
I actually think that the API specification must change. Not all API servers will have access to look up the Service object and see what ports it defines. If we want to support ports other than 443, the port information must be specified in the webhook object.

[2018-03-22 14:03] jmound commented on #13488
I wrote a bash function to accomplish the "patch deployment of `terminationGracePeriodSeconds`" strategy @whereisaaron quoted in his [comment](https://github.com/kubernetes/kubernetes/issues/13488#issuecomment-372532659) above (source: https://stackoverflow.com/a/40368520/90442).

[code]

Comment / update it via the [gist here](https://gist.github.com/jmound/ff6fa539385d1a057c82fa9fa739492e). I'll

[2018-03-22 14:04] liggitt commented on #61214
did you also set that feature gate in the controller manager?

[2018-03-22 14:12] jianglingxia commented on #61214
sorry，I only config apiserver，I will later test it again thanks

[2018-03-22 14:14] liggitt commented on #61214
thanks

/close

[2018-03-22 14:14] #61214 closed

[2018-03-22 14:15] #61374 closed

[2018-03-22 14:18] pandatk opened #61543 "Ceph RBD provisionner "timeout expired waiting for volumes to attach/mount for pod""
/kind bug

**What happened**:

The RBD storageClass and PVC are working as expected (bound together, pvc provisionned, can see the created images on the ceph pool). When i try to use the volumes in a  statefulset i get the following error
[code]
The error is a catch all so kubelet logs are included below

**What you expected to happen**:

For the pod to mount its volume properly.

**How to reprodu

[2018-03-22 14:20] #54381 closed

[2018-03-22 14:21] hubpanda commented on #61543
/sig storage
/sig ceph

[2018-03-22 14:21] ccs018 commented on #25908
It would be really nice for this to be addressed.  In addition to the Job never going away, the overall Pod status is apparently incorrect:

[code]

What's interesting is note the State and Ready for the initContainer (Terminated, Completed, Ready=True) and the main app container (Terminated, Completed, Ready=False).  That seems to be driving the over Pod Ready state of False - in my view, incorre

[2018-03-22 14:23] mdianjun commented on #61517
Does apiserver use a variational port? Why?

[2018-03-22 14:36] Joseph-Irving opened #61545 "Container Can not Run: oci runtime error: container_linux.go: not a directory. When mounting Configmaps and a subpath in the same directory"
/kind bug

**What happened**:
After upgrading to 1.94 (now on 1.9.6) I could not run my flannel container

The error is
[code]

**What you expected to happen**:
The container would be created and run
**How to reproduce it (as minimally and precisely as possible)**:
Using this deployment I could reproduce it, the important part being that I'm mounting the configmap as directory and then mounting a

[2018-03-22 14:37] Joseph-Irving commented on #61178
I've created a new issue @liggitt https://github.com/kubernetes/kubernetes/issues/61545

[2018-03-22 14:46] jennybuckley commented on #59997
We may want to reopen this until the fix is shown to actually work
/reopen

[2018-03-22 14:54] mooperd commented on #57325
On our cluster we are serving many sub-domains of the same tld.  Subdomains are deployed dynamically for each new customer by our CI system into separate namespaces (customer-a.foo.com, customer-b.foo.com etc). Currently it seems that we have to deploy our wildcard certificate to each namespace. It would be good if we could have one cert in the cluster and reference it from each ingress.

[2018-03-22 14:55] andyzhangx commented on #61464
@rfranzke How do you set your backoff settings? I just used default, would you try following then?

[code]

[2018-03-22 14:59] josdotso commented on #15180
@phsiao.  Thanks! Will your solution allow cluster admins to scope port forwarding abilities using RBAC?

[2018-03-22 15:06] liggitt commented on #61545
/sig storage
/assign @msau42 @rootfs @joelsmith

joel, does this look related to the overlapping volume work you did around the atomic writer volumes?

[2018-03-22 15:08] liggitt commented on #61545
/kind bug

[2018-03-22 15:08] liggitt commented on #61545
cc @jsafrane

[2018-03-22 15:09] andyzhangx commented on #61464
Another difference is that my cluster is based on Ubuntu 16.04, yours are CoreOS, I think you could try use my backoff setting first.

[2018-03-22 15:13] Oziomajnr commented on #27010
/remove-lifecycle rotten.

[2018-03-22 15:14] Oziomajnr commented on #27010
/reopen.

[2018-03-22 15:35] wojtek-t commented on #60589
Thanks @shyamjvs

As we talked offline - I think we had one more regression in the last month or so, but that one shouldn't block the release.

[2018-03-22 15:42] yujuhong commented on #60589
Yep. The current fix in that PR is not in the options proposed initially  in https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-375103979

[2018-03-22 15:46] ericchiang commented on #60392
/priority important-longterm

[2018-03-22 15:47] danielcoman commented on #55867
Hit the same issue with a 1.8.7 cluster.

[2018-03-22 15:48] tpepper commented on #61526
/sig azure

[2018-03-22 16:01] rogovst commented on #56887
net.ipv4.tcp_tw_recycle = 1 - is my problem.
After remove that setting everything  works as expected
Please close the issue.

[2018-03-22 16:17] joelsmith commented on #61545
A limitation of #60342 is that it assumes that mount points are directories, not files, when it pre-creates mount points (so that Docker won't attempt to and fail due to a RO volume).

I think that the issue is that once a mount point is created as a directory within a configmap, Docker will fail to bind-mount a file over the top of the directory. If that's true, I'm not sure how we can fix this w

[2018-03-22 16:22] #54096 closed

[2018-03-22 16:28] rfranzke commented on #61464
Hey @andyzhangx , I tried with the default Azure cloud provider back off settings (https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure.go#L44-L47) and everything worked after a few minutes. All persistent volumes were correctly attached to the new nodes and all the stateful set pods are running again. The problem was obviously my broken backoff configuratio

[2018-03-22 16:36] msau42 commented on #61545
Yes, when you bind mount, the target has to be the same file type as the source

[2018-03-22 16:38] phsiao commented on #15180
@josdotso the implementation did not change how it connects to the api, so the same RBAC rule should continue to work.   The change would require permission to look up pods given a resource name, so that needs to be adjusted as needed.

[2018-03-22 16:54] mattsdni commented on #61228
Retested on cluster using c5 nodes
[code]

[2018-03-22 17:00] krzyzacy commented on #61483
/priority critical-urgent

(who owns this?)

[2018-03-22 17:02] krzyzacy commented on #61483
(also https://k8s-testgrid.appspot.com/sig-release-1.10-all#gce-kubeadm-upgrade-1.9-1.10)

[2018-03-22 17:04] mtaufen commented on #43111
/remove-lifecycle stale
/lifecycle frozen

[2018-03-22 17:05] lpzdvd commented on #36222
Also failing in 1.8.4

[2018-03-22 17:12] Bradamant3 commented on #59764
https://github.com/kubernetes/kubernetes/issues/61446
https://github.com/kubernetes/kubernetes/issues/61456

@nickchase let's coordinate with @msau42 about relnotes/docs. Slack discussion also.

[2018-03-22 17:18] krzyzacy commented on #61485
(looks like 2h is not enough, I'll give it a bit more time, and I'll diff the test output)

[2018-03-22 17:25] dbt opened #61551 "kubectl: Unexpected error when reading response body"
/kind bug

**What happened**:

**What you expected to happen**:

Kubectl to display a list of pods. Immediately re-running the command succeeds.

**How to reproduce it (as minimally and precisely as possible)**:

Wait a few minutes since accessing cluster. Run simple kubectl command.

It seems similar to the bug report in #54859

**Anything else we need to know?**:

**Environment**:
- Kubernetes v

[2018-03-22 17:26] dbt commented on #61551
/sig cli

[2018-03-22 17:27] bradleybluebean commented on #54482
To build on @daniilyar 's comments, I posted the following in the slack sig-node but didn't get any response so I'll add here for posterity:

Looking through the referenced github PRs and tickets, I'm curious about some of the comments here:
https://github.com/kubernetes/kubernetes/pull/58114#discussion_r160840393

In particular:
"In non-cloud environments, hostnames cannot always be auto-detected

[2018-03-22 17:29] optimuspaul commented on #49814
@jkinkead you figure this out?

[2018-03-22 17:32] msau42 commented on #61456
While I think changing hostpath to bind mount to /var/lib/kubelet is the right solution, I think it is too risky to do for patch releases because it impacts more than just the subpath feature.  So, I would prefer to look into that change for 1.11, and do a targeted patch for this specific issue using the "unsafe bind mount and validate fstat afterwards" approach.

[2018-03-22 17:34] 2rs2ts commented on #39824
/remove-lifecycle stale

this is relevant to my interests

[2018-03-22 17:49] jkinkead commented on #49814
I believe the problem is that `PATCH` doesn't Just Work with API objects the way that `PUT` does. It's more of a documentation shortage + user error on my part. The autogenerated python docs don't link to how this is meant to work.

[2018-03-22 18:00] bodom0015 commented on #60735
@soltysh I can definitely how see the `backoffLimit` in this case could be perceived as job restarts instead of pod restarts. In my opinion, this issue can be closed.

Thank you very much for clarifying this behavior! :)

[2018-03-22 18:10] BenTheElder commented on #61483
It looks like it's failing to up the cluster, I don't remember what the previous status of this job was, I thought all kubeadm 1.10 jobs were running previously...

[2018-03-22 18:10] msau42 commented on #56104
Thanks so much for taking this on!  I would be happy to review

[2018-03-22 18:23] andrewshilliday opened #61555 "kube-dns omitDuplicates does not account for trailing dots"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In my setup, I've added the kube-dns as a nameserver on the host machine (so that I can resolve the pod hostnames from the hosts themselves).  I've additionally added the search names so that certain namespaces are automatically assumed.

When I start a pod, I get message

(XXX and YYY are arbitrary omitted names)

**Wha

[2018-03-22 18:24] #50957 closed

[2018-03-22 18:30] timothysc commented on #61483
The reason this failed was the cross CI job was failing to push the images that are used by that job.

/cc @dims

[2018-03-22 18:32] Liujingfang1 commented on #61484
The failure is that after the replication controller is cleaned up, the pods are not terminated.

I investigated the failure. It is from function `AssertCleanup` after `kubectl delete`. `AssertCleanup` does two things: make sure the resource is deleted and make sure the pods are deleted.
If the pods haven't started termination during the `AssertCleanup` running, we will see this failure. The solut

[2018-03-22 18:33] yuriatgoogle commented on #25908
I have another customer encountering this issue with the Cloud SQL proxy specifically.  They would like to not have to run it as a persistent service to allow cron jobs to access Cloud SQL.

[2018-03-22 18:36] jberkus commented on #61481
@shyamjvs is this resolved now?

[2018-03-22 18:41] stp-ip commented on #25908
@yuriatgoogle Easiest solution is still bash and emptyDir "magic" such as: https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-365924958