[2017-01-19 19:49] ahakanbaba commented on #40119
Thanks @ymqytw  for creating this issue.
As a first step, I would be interested in adding tests that reproduce these behavior.
We could add those tests in a disabled way and make sure they run at the end of the fix.

Would you be interested in that approach ?
1) Add tests that reproduce the behavior
2) Merge those tests, keep them in a disabled state. Annotate them with this issue.
3) Work on the

[2017-01-19 19:50] ericchiang commented on #40109
Seems odd it wouldn't write anything to ` /var/log/kube-apiserver.log` before exiting. If there's no error message, I don't know how much help I can be of. Can you please try to fiddle with your logging to get something out of the API server? Misconfigurations will print to stderr.

[2017-01-19 19:50] ahakanbaba commented on #40119
@huggsboson

[2017-01-19 19:51] liggitt commented on #40155
then the test should have build tags to exclude it from a regular `go test` run of the package

[2017-01-19 19:51] luxas commented on #40155
@dmmcquay or @pipejakob up for fixing that?

[2017-01-19 19:51] Random-Liu commented on #40021
Then is there somewhere we can place the binding yaml to let the cluster do the bind automatically? https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/e2e-rbac-bindings/ seems to be the place, but the README.md is saying that it is only for test cluster.

[2017-01-19 19:54] pweil- commented on #34649
@lblackstone as a follow up, did you find any of the info to do this hard to find or confusing?  I'd like to update the documentation if you did.  Thanks!

[2017-01-19 19:54] shyamjvs commented on #40139
This is the same flake we had faced earlier in issue #39335 (ref to the 1st row of this table https://github.com/kubernetes/kubernetes/issues/39335#issuecomment-270853343):
`cat: /tmp/kubernetes.S1w6cL/easy-rsa-master/easyrsa3/pki/issued/kubelet.crt: No such file or directory`

It is (most probably) super flaky, and we chose to neglect it before. Though we can try solving this by writing the pki f

[2017-01-19 19:57] wojtek-t commented on #40139
@shyamjvs - thanks for looking into it. We can discuss it f2f when I will be in the office.

There is one more thing - can you please take a look into this failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1763/

this looks pretty strange to me, and seems like a valid failure.

[2017-01-19 19:58] shyamjvs commented on #40151
Ok, so let me close this issue for now. We can look into this again if/when needed in future.

[2017-01-19 19:58] #40151 closed

[2017-01-19 19:59] lblackstone commented on #34649
@pweil- I couldn't find any docs that showed exactly how to do it. I pieced together the info from the [existing docs](https://kubernetes.io/docs/user-guide/pod-security-policy/#creating-a-pod-security-policy), plus [this article](http://cloudgeekz.com/1204/docker-cluster-kubernetes-policies.html) and looking through the code changes in this PR.

[2017-01-19 20:01] dmmcquay commented on #40155
@liggitt I thought build tags only works on the OS level or if you added `+build ignore` it would ignore it completely? Wouldnt `+build ignore` break the `make test-cmd` command as well?

[2017-01-19 20:05] pweil- commented on #34649
@lblackstone ok, thanks for the feedback and link. I'll take a TODO

[2017-01-19 20:09] liggitt commented on #40155
I'd also tolerate skipping the test if the built binary doesn't exist

[2017-01-19 20:10] dmmcquay commented on #40155
@liggitt I think that is a great solution. I think in #35144 I had initially suggested something like that.

If everyone is ok with that, I will go ahead and make that change.

[2017-01-19 20:14] foxish commented on #35695
@jsafrane, The eventual goal is to not have any PetSet (StatefulSet) specific code, so that the controller is forkable. Have we considered a way to have `volumeClaimTemplates` specify the spreading policy, instead of hardcoding that behavior into the PVCs themselves?

[2017-01-19 20:21] luxas commented on #40155
Sounds good, make that change and we'll see how it turns out.
I'd really want these tests start working, so +1

[2017-01-19 20:25] php-coder commented on #13858
I had the same symptoms after running `CLOUD_PROVIDER=aws hack/local-up-cluster.sh` on EC2 instance.  [After readding this comment](https://github.com/coreos/coreos-kubernetes/issues/94#issuecomment-193936478) I executed `export AWS_ACCESS_KEY_ID=xxx; export AWS_SECRET_ACCESS_KEY=yyy` and it did the trick.

[2017-01-19 20:33] php-coder commented on #29548
I got the same errors. In the log files I found the cause: `Failed to get AWS Cloud Provider. GetCloudProvider returned <nil> instead` Because I was running `hack/local-up-cluster.sh` I had to `export CLOUD_PROVIDER=aws` (and later `export AWS_ACCESS_KEY_ID=xxx; export AWS_SECRET_ACCESS_KEY=yyy` to fix next error `NoCredentialProviders: no valid providers in chain`)

[2017-01-19 20:39] fabianofranz commented on #40121
Delete by UID is no longer supported, this is an issue with the help text that needs to be adjusted.

[2017-01-19 20:44] nrvale0 commented on #29548
Though I was using Rancher and not hack/* , the same solution worked for me(--cloud-provider=)

[2017-01-19 20:51] php-coder commented on #29548
@nrvale0 We have a different envs but the cause is the same. See also https://github.com/kubernetes/kubernetes/issues/26791

[2017-01-19 21:12] maisem commented on #39824
Maybe we should then introduce another command in kubectl. Something like `kubectl evict`?

[2017-01-19 21:12] davidopp commented on #25318
Let's leave this issue open since it is about "beta and v1" (GA)

Thanks for your work @k82cn !

[2017-01-19 21:13] shyamjvs commented on #40139
Everything went fine, but the test failed during the kube-down step. The following sequence of events seems to have happened:
- gcloud.compute.instances.list failed due to an internal error inside the function `get-replica-name` which was called in this line inside cluster/gce/util.sh:
`local -r REPLICA_NAME="${KUBE_REPLICA_NAME:-$(get-replica-name)}"`
- This resulted in setting an empty string to

[2017-01-19 21:36] pmorie commented on #37807
I'm about to open a PR that fixes this issue.

[2017-01-19 21:45] smarterclayton commented on #39824
I would certainly expect something like evict much more than delete, for
sure.

On Thu, Jan 19, 2017 at 4:12 PM, Maisem Ali <notifications@github.com>
wrote:

[2017-01-19 21:54] heygrady opened #40180 "glusterfs volumes not working on GKE"
I'm having the issue described [here](https://github.com/kubernetes/kubernetes/issues/34127#issuecomment-270726431). I'm on GKE trying to connect to a gluster cluster on GCE witin the same project. I have a working gluster cluster. I'm able to mount the gluster volume manually from within a container but I can't seem to mount it as a kubernetes volume. My GKE container cluster was on node version

[2017-01-19 22:11] Raffo commented on #39626
I confirm that it is OS related (OSX) and somehow happens with SSL connections. I tried with insecure option and it is very fast, but clearly this is not an option. I will try to investigate a bit further to understand what is happening now behind the scenes. It might also be related to the Go version used, as 1.5 was compiled with Go 1.7.

[2017-01-19 22:14] ymqytw commented on #40119
@ahakanbaba That sounds reasonable to me. But I'm not sure how to add some disabled tests.
Another way is add the test with fix in the same PR.

Please feel free to create a PR for the tests, if you already have some. cc me in that PR. Thanks.

[2017-01-19 22:18] davidopp commented on #39824
Sure, "kubectl evict" sounds fine to me. And actually we had been planning to eventually have an "evict the pod and don't schedule its replacement on the same node" operation, so that could become a command-line option to "kubectl evict"

[2017-01-19 22:21] cjcullen commented on #39990
We could do that, but then there isn't as clean of a "get rid of <= 1.5 permissions" switch. We also then have two different styles of legacy mode: the "upgraded to 1.6" version (still has the old ABAC file), and the "new at 1.6 but need legacy perms" (has a few ClusterRoleBindings created).

I agree in principle that generating ABAC is no longer the right way to do things, and we should push user

[2017-01-19 22:27] mikedanese commented on #39990
There's no way to retroactively fix this for old kubelet certs so I'm not sure if this is even useful to do. We are going to need to bind kubelet role to kubelet identity for at least a few releases. I'm working on replacing the "kubelet" global cert with per kubelet certs which should land in 1.6.

[2017-01-19 22:39] smarterclayton commented on #40161
Ah, can we put that in docs/devel/bazel?  Would have saved me some time.

On Thu, Jan 19, 2017 at 2:16 PM, Joe Finney <notifications@github.com>
wrote:

[2017-01-19 22:41] eparis commented on #38962
I'm so sorry to have ignored this for so long. I think this needs a bigger rework. The logic here seems to be a little strange to me:
[code]
We should either always autopopulate PATH with third_party/etcd or never. We shouldn't keep doing so IFF you have etcd in PATH but its version is too low.

I'm fine with either solution, and admittedly this would stop the failure in question (since we'd be ch

[2017-01-19 22:42] colemickens opened #40182 "Upgrading docker 1.13 on nodes causes outbound container traffic to stop working"
**Kubernetes version** (use `kubectl version`): v1.4.6, v1.5.1, likely many versions

**Environment**:
- **Cloud provider or hardware configuration**: Azure / Azure Container Service
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel** (e.g. `uname -a`): latest 16.04-LTS kernel
- **Install tools**: Cloud-Init + hyperkube
- **Others**:

**Configuration Details**:

* `kubelet` runs in a

[2017-01-19 22:42] liggitt commented on #39990
The ways to solve that are:
1. Always keep existing policy in place when upgrading
2. Optionally replicate old ABAC policy rules in RBAC when upgrading (done by the deployment mechanism, not in bootstrap bindings). This isn't strictly necessary if the old policy is still present, but can be useful if you're wanting to get rid of ABAC

 we just can't assume "kubelet" is a reserved username in all a

[2017-01-19 22:48] cjcullen commented on #40021
I'd expect the binding spec to live next to the DaemonSet/Deployment spec for the given addon. In this case it is still in kube-addons, which means if you have the addon-controller running, you're getting that binding configured automatically.

@liggitt is that what you were thinking?

[2017-01-19 23:03] pmcq commented on #40036
Okay, I changed my preStop hook to ensure that it exits prior to my application and seems to have resolved the issue.  I wasn't aware of anything in the documentation to indicate that the container must not exit before the preStop hook completes, but appears to be the case.

[2017-01-19 23:19] Random-Liu commented on #40021
This won't work for standalone NPD. For GCI image, we plan to run NPD as system daemon instead of addon pod. Because docker still kills all containers once docker daemon dies, this is unacceptable for NPD.

[2017-01-20 00:09] rmmh opened #40185 "Add test_owners.csv check."
test_owners.csv must be properly formed, or else the submit queue will get into a crash loop. #40183

A verify check should be able to handle this.

[2017-01-20 00:15] lavalamp commented on #40185
@ixdy seems to have left a commit message saying something about disabling https://github.com/kubernetes/kubernetes/blob/master/hack/verify-test-owners.sh?

Also @stts just FYI ;)

[2017-01-20 00:39] nikhiljindal commented on #39583
@niemeyer Was this fixed in gopkg.in?

[2017-01-20 00:55] ixdy commented on #40185
The script has been disabled basically since it was created - https://github.com/kubernetes/kubernetes/commit/57a152ca404e739b8d123eeebfb618cb09dd6aa0

[2017-01-20 00:56] ixdy commented on #40185
(I changed it so we'd stop running the script, which kept printing failures and tricking Gubernator even though it didn't actually fail.)

[2017-01-20 01:33] bgrant0607 commented on #24343
@brendandburns Yes, we need help both helping to figure out how to better manage multiple repos, which was an inevitable result of lack of velocity in the kubernetes repo and resistance to growing the "core", as well as help improving the velocity in the kubernetes repo. If you can contribute people to the project, documentation, contributor experience, project health, PR automation, metrics, new

[2017-01-20 01:43] ahakanbaba opened #40192 "local-up-cluster causes error: You must be logged in to the server (the server has asked for the client to provide credentials)"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Searched for:

 is:issue is:open local-up-cluster  error: You must be logged in to the server (the server has asked for the client to provide credentials)

I did not find anything relevant.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2017-01-20 01:56] chengzhang1016 commented on #40062
@DirectXMan12 Thanks for your explanation.

[2017-01-20 01:56] #38774 closed

[2017-01-20 02:00] jessfraz commented on #38774
I will cherry-pick it onto 1.5

On Thu, Jan 19, 2017, 17:57 Kubernetes Submit Queue <
notifications@github.com> wrote:

[2017-01-20 02:18] #39880 closed

[2017-01-20 02:18] #32214 closed

[2017-01-20 02:20] bgrant0607 commented on #24343
Also, monorepos, for non-Googlers:
https://news.ycombinator.com/item?id=11991479

If we want a monorepo, I'm convinced we'd have to move off of github and would have to entirely rewrite our test and release infrastructure.

My experience with the monorepo is that it required a herculean effort to make the infrastructure support it well, and even then, for years, our project was broken by others vi

[2017-01-20 02:31] liggitt commented on #40192
the printed instructions need updating. an `/var/run/kubernetes/admin.kubeconfig` is generated by default and populated with the right address and a client cert that gives you superuser access.

[2017-01-20 02:41] resouer commented on #27204
Thanks Derek. Personally I agree we can roll out it separately (unless it has already been finished). Then together with other tasks depends on it (e.g. use pod cgroup values to fill default resources in downwardapi).

Other tasks I'm not sure are: `Add a NodeCapacityProvider ...` and `Reconcilation loop that ensures pod cgroups ...`. Especially the later, are they should be included in this rollo

[2017-01-20 02:45] bgrant0607 commented on #24343
Another option that should be on the table is to change our branching/forking methodology. Some other very active projects do work in separate branches or forks and then merge the branches/forks prior to the release, such as during a freeze period.

[2017-01-20 02:53] huggsboson commented on #39734
We're seeing an issue similar to this on 1.4.7.  Looking at the go routines in apiserver, controller-manager, scheulder we see that they are largely stuck ListAndWatch.func1 in:

[code]

Which makes us think it is fixed by:
https://github.com/kubernetes/kubernetes/pull/35672
https://github.com/kubernetes/kubernetes/issues/35015

But those were only cherry-picked into 1.5.x.

[2017-01-20 02:56] bgrant0607 commented on #24343
Some branching ideas here: https://news.ycombinator.com/item?id=11190310

[2017-01-20 03:03] bgrant0607 commented on #40001
Dupe of #8800

[2017-01-20 03:03] #40001 closed

[2017-01-20 03:04] bgrant0607 commented on #8800
cc @fraenkel

[2017-01-20 03:06] bgrant0607 commented on #39900
cc @pwittrock @ymqytw @kow3ns

[2017-01-20 03:31] verb commented on #10834
I've updated the proposal in #35584 with some of the ideas discussed here (and added a link). The latest revision of that proposal favors an approach which I think will give a better user experience.

It's not exactly what's being requested in this issue, but it may serve the same purpose. You'd have the choice between creating a copy of a pod with arbitrary changes (such as image or entrypoint) o

[2017-01-20 03:41] shenshouer commented on #37922
same issue here

[2017-01-20 04:44] v1k0d3n commented on #38923
@kongslund i think the long term goal is to build a custom kube-controller with the pvc tooling you need. i don't want to take over @sbezverk's issue, but I think the reason the executable isn't found because it hasn't been included. we created a kube-controller image with the pvc bins required for ceph. you're welcome to use that, or you may want to create one (based on our example above) for you

[2017-01-20 05:50] thockin commented on #24343
I can't see moving all the code together doing anything good.  I'm hoping
to see a model wherein we have many smaller repos that are automatically
vendored or submoduled or something back into an "integration repo" and
tested e2e there.

On Thu, Jan 19, 2017 at 5:34 PM, Brian Grant <notifications@github.com>
wrote:

[2017-01-20 05:53] kow3ns commented on #39363
@hongchaodeng Can we close this issue as resolved?

[2017-01-20 05:55] shiywang commented on #39811
@monopole Are you working on this? if not I would like to prepare a pr for this.

[2017-01-20 06:51] brendandburns commented on #24343
@bgrant0607

I'd like to make a distinction between three different type of dependent repos:
   * Some like kube-dns, heapster, etc. which are consumed via container image,
   * Some are simply tools (gen-go) that are used in the build process
   * Some are compiled directly into the Kubernetes binaries (apimachinery, client-go)

I'm only really concerned about this last class.  If you remember, I

[2017-01-20 06:53] xilabao opened #40198 "Allow update APIVersion conditionally when using kubectl create rolebinding/clusterrolebinding"
Ref to #40130.  Suggestion from @deads2k.

[2017-01-20 07:54] kerneltime commented on #40084
@sswierczyna will look into this

[2017-01-20 07:56] kerneltime commented on #40070
@jsafrane thanks will look into this.
CC @BaluDontu

[2017-01-20 07:57] euank commented on #12955
How certs are managed with local-up-cluster has been totally reworked pretty much (cfssl and all that jazz).

I suspect we can close this issue as stale.

[2017-01-20 08:14] kerneltime opened #40200 "vSphere Cloud provider: wrong vm path when using multiple working-dir #40084"
track https://github.com/kubernetes/kubernetes/issues/40084

[2017-01-20 08:14] kerneltime opened #40201 "Create a default StorageClass for vSphere #40070"
track https://github.com/kubernetes/kubernetes/issues/40070

[2017-01-20 08:15] #40201 closed

[2017-01-20 08:15] #40200 closed

[2017-01-20 08:18] hacktastic commented on #40054
Just put in a PR for this: https://github.com/kubernetes/kubernetes/pull/40202

[2017-01-20 08:43] k8s-merge-robot opened #40203 "install_gcloud {PRE-SETUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5/3708/
Failed: install_gcloud {PRE-SETUP}

[code]

Previous issues for this test: #32669 #36416 #36842

[2017-01-20 09:28] euank commented on #37618
A few bugs with the script (including an error that would have this result if `cfssl` was only in your non-sudo path) have been fixed.

Does this work for you now? If it doesn't, can you add `set -x` and the top of the script and post the full logs of running it?

[2017-01-20 09:42] brunowoo opened #40207 "progressDeadlineSeconds not respected, failed deployment not detected"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`): both client and server on v1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04LTS
- **Kernel** (e.g. `uname -a`):  4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64
- **Install tools**: kop

[2017-01-20 09:48] JeanMertz commented on #37241
@Crassirostris we're also seeing the error `Log entry with size xxx bytes exceeds maximum size` on our GKE cluster which connects Fluentd to Google Cloud Logging / Stackdriver.

[code]

Is this related, or is this simply us logging too much, and Google Logging not accepting this many/long logs?

[2017-01-20 09:54] piosz commented on #37241
@JeanMertz We are are of the of the problem and will come up with the solution in 1.6.
@Crassirostris could you please create an issue and describe our plan there?

cc @igorpeshansky @fgrzadkowski

[2017-01-20 09:59] Pensu commented on #37618
Yeah, it does, the issue was with cfssl only. Closing this.

[2017-01-20 09:59] #37618 closed

[2017-01-20 10:01] davidopp commented on #38322
Can you clarify what "feature gating" means? Does it mean critical pod annotation cannot be added, or that it can be added but will be ignored?

Either way, I am not sure it is good to disable it by default. Critical pod annotation is used by [rescheduler](https://kubernetes.io/docs/admin/rescheduler/) to guarantee scheduling of Heapster, DNS, and UI (plus some users unfortunately abuse it for the

[2017-01-20 10:36] Crassirostris commented on #37241
@JeanMertz There's a [limit](https://cloud.google.com/logging/quota-policy) on the size of the logging entry in Stackdriver, it cannot be greater than 100KB

Please check what source is generating such long messages. It can indicate that something is wrong with some component. If that's your application's container, then unfortunately you cannot log such long lines. Current mechanism of handling s

[2017-01-20 10:47] Crassirostris commented on #22537
Closing. Issue is obsolete, we set it already

[2017-01-20 10:47] #22537 closed

[2017-01-20 11:03] robdewit commented on #39820
Solved.

Seems the problems were caused by running kubelet with --readonly option. Using strace when mounting a volume I found this out: When glusterfs mounts it needs write access to: (/dev/fuse), /etc, /tmp and /var/log/glusterfs. Once I added the latter two, mounting a glusterfs volume in a pod succeeded.

[2017-01-20 11:03] #39820 closed

[2017-01-20 11:23] bonovoxly commented on #35758
It would be nice if Kubernetes could use an external load balancer.  As of now, it appears you must use NodePort with the annotation `service.beta.kubernetes.io/external-traffic: OnlyLocal`.

So +1 to this.

[2017-01-20 11:40] fuzzyhandle commented on #39282
@dragoscirjan Kube install steps are very easy. Well documented here
[https://kubernetes.io/docs/getting-started-guides/kubeadm/](url)

What u need is

Host machine - Ubuntu Xenial with kernel => 4.4.0-57-generic #78-Ubuntu SMP Fri Dec 9 23:50:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Install `aufs-tools` on the host

Inside lxc container install `aufs-tools` and `linux-image-$(uname -r)`. Then i

[2017-01-20 12:10] crassirostris opened #40212 "Trim long lines in fluentd"
There'a a [Stackdriver limits](https://cloud.google.com/logging/quota-policy) on the log entry size.

When fluentd plugin for Stackdriver encounters bulk with the entry which is too big, it drops the whole bulk. There's an option in the upcoming release to drop only those lines, which don't fit in the qouta. However, dropping entries completely doesn't seems like a good idea, especially since such

[2017-01-20 12:20] piosz commented on #40212
Alternative solution is to use [partialSuccess](https://cloud.google.com/logging/docs/api/reference/rest/v2/entries/write#request-body) feature from Stackdriver API (assuming this will be supported in agent code for 1.6), which is the dedicated Stackdriver solution for such situation rather than a kind of hack.

[2017-01-20 12:29] JorritSalverda opened #40214 "Export memory request value via Prometheus metrics"
**FEATURE REQUEST**

I'd like to be able to see the value for memory request for every container in Prometheus. I can already see memory limit (via `container_spec_memory_limit_bytes`), cpu request (via `container_spec_cpu_shares`) and cpu limit (via `container_spec_cpu_quota`). But memory request seems to be missing.

I'm not sure if the Kubernetes project is the right one to file this issue, it

[2017-01-20 13:01] JeanMertz commented on #40063
@MrHohn thanks for those links.

I'm guessing if this issue is converted to a PR, it would be nice if anti-affinity is added to the kube-dns deployment as well (given both features land in 1.6).

Also, regarding your link about the Addon-manager, does this immutability also apply to the configmap used by the deployment to configure itself? It obviously isn't right now (since we scaled our kube-dns

[2017-01-20 13:04] soltysh commented on #39666
I'm still seeing the problem, running master, back to P1 and I'm currently looking into it.

[2017-01-20 13:05] JeanMertz commented on #40068
@kargakis we're going to clean up all our replica sets again, and leave it like that for a couple of days.

If I understand you correctly, once we clean up old replica sets, and are running a version of Kubernetes which fixes this issue (we are, 1.5.1), we shouldn't be seeing these issues anymore, correct?

Right now, it's still growing though (see my initial post for the delta):

[code]

Once we'

[2017-01-20 13:15] kargakis commented on #39666
@soltysh can you paste a log of your controller manager when you hit this? Also grab any related events. And make sure there is at least a failed test run in Jenkins so we can have a look there too.

[2017-01-20 13:17] gramic commented on #17088
I read this discussions many times and still do not understand what is the recommended way to achieve the desired goal of multiple sub/domains to be served from different namespaces.

My first workaround is to use single namespace with Ingress for everything that should be exposed via domain name to the world.
And the second way is to **not** use Ingress, but a simple Nginx as a proxy to my apps i

[2017-01-20 13:21] kargakis commented on #40068
@JeanMertz make sure all of your Deployments are using `revisionHistoryLimit` and you should be fine in 1.6. If you still have this issue by then, let me know.

[2017-01-20 13:24] soltysh commented on #39666
@kargakis will keep you informed

[2017-01-20 13:51] kargakis commented on #39734
@kubernetes/sig-api-machinery-misc

[2017-01-20 14:00] kargakis commented on #40063
Note that pod-antiaffinity is alpha in 1.5 and can be specified as an annotation (`scheduler.alpha.kubernetes.io/affinity`) in the pod template.
https://kubernetes.io/docs/user-guide/node-selection/

[2017-01-20 14:03] JeanMertz commented on #40063
@kargakis Thanks, but we're running on GKE, so that's not a solution to us unfortunately 😢

[2017-01-20 14:15] soltysh commented on #39666
@kargakis this is the script that is failing for me every single time:
[code]
That last delete will hit timeout.

[2017-01-20 14:23] kargakis commented on #39666
Last time I checked I couldn't reproduce it and I haven't seen it fail in Jenkins either. Building latest master and testing this shortly.

[2017-01-20 14:26] wojtek-t commented on #39734
Yeah - I think this is #35672 .

[2017-01-20 14:33] jayunit100 commented on #24343
I'd love an integration repo ! ! !

Maybe it could be a "view" which looked similar to what the old kubernetes
used to look like?

- that would be awesome also from a* docs perspective,* because with
community/devel/, kubernetes.github.io,docs all having important
information, it would be great if this was rolled up.

- *first line of defense from a godeps perspective*: external
consumption... If

[2017-01-20 14:41] ReneSaenz commented on #17648
@kargakis I am trying to email you directly and it bounces back. I am trying the email that is in your GitHub profile. Could you please email me so I can discuss with you?

[2017-01-20 14:42] mikkeloscar opened #40218 "API server crash on malformed PATCH request"
**Is this a BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: minikube (also happens in clusters on AWS running 1.5.2).
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

API server panics on malformed PATCH request.

[code]

**What you exp

[2017-01-20 14:44] abhishekagarwal87 opened #40219 "[FEATURE REQUEST] Environment variables for headless services"
Right now, we use environment variables to discover services with cluster IP. It would be good to have environment variables set up for headless services as well. This way, the pod definition does not need to change if a service consumed by the pod becomes headless.

[2017-01-20 14:45] kargakis commented on #39666
Can't repro with the script @soltysh provided
[code]
script log: http://pastebin.com/hWMkaqyK
server log: http://pastebin.com/ShTA21ng

[2017-01-20 15:07] FrederikNS opened #40220 "Dynamically Provisioned AWS EBS Volumes Fail to Delete"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): persistent volume ebs delete failed

---

**Is this a BUG REPORT or FEATURE REQUEST?*

[2017-01-20 15:31] gnufied commented on #40220
Is the PV being used from a pod? If yes - you won't be able to delete it.

[2017-01-20 15:39] kargakis commented on #40036
@kubernetes/sig-node-misc

[2017-01-20 15:41] kargakis commented on #40182
@kubernetes/sig-node-misc

[2017-01-20 15:44] kargakis commented on #36659
@kubernetes/sig-api-machinery-misc

[2017-01-20 15:46] FrederikNS commented on #40220
I did use the PV in a pod, but I also deleted the pod, and the PV remains

On Fri, 20 Jan 2017, 16:31 Hemant Kumar, <notifications@github.com> wrote:

[2017-01-20 15:51] gnufied commented on #40220
Can you list exact steps to reproduce the bug? i.e - order in which you created and deleted pods and pvcs.

[2017-01-20 15:59] igorpeshansky commented on #40212
FYI, we plan to enable partialSuccess in the logging agent as part of migration to the V2 logging API.

[2017-01-20 16:04] sjenning opened #40222 "hack/update-munge-docs.sh changing all docs files"
Running `hack/update-munge-docs.sh` on master yields changes to almost every file under `docs`

The changes are all like this:
[code]

We either need to update these files or, if the changes are not desired, change `hack/update-munge-docs.sh`  I'm not sure which.

master is currently `v1.6.0-alpha.0-3473-g96471e5`

[2017-01-20 16:09] k8s-merge-robot opened #40223 "ci-kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.4/496/
Multiple broken tests:

Failed: [k8s.io] Etcd failure [Disruptive] should recover from SIGKILL {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29444

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPod Affinity and AntiAffinity is respected if ma

[2017-01-20 16:11] shyamjvs commented on #39245
@wojtek-t Seems like npd is stable now. Shall we close this issue?

[2017-01-20 16:21] kargakis commented on #17648
The email in my github account works fine - others are using it daily to
contact me. I guess it is related to your PR so I would expect Github to be
the best place to discuss :)

On Fri, Jan 20, 2017 at 3:42 PM, Rene Saenz <notifications@github.com>
wrote:

[2017-01-20 16:26] fwynyk opened #40224 ""kubectl rollout status" returns error message before rollout finish"
When we execute `kubectl rollout status`, we're receiving this error:
[code]
I also tried to put the option `-w`, but it did't change anything.

Since we upgraded to Kubernetes 1.5.2 we're receiving this. In 1.4.6 it works with no problems. I've tried to update `kubectl` and use previous versions too, but seems to be a problem with the cluster, not with `kubectl` command.

This is a problem for us

[2017-01-20 16:26] pwittrock commented on #39811
@shiywang Looks like you are looking into this

[2017-01-20 16:28] #35747 closed

[2017-01-20 16:30] pwittrock commented on #17144
@jbeda Any comments on this?

[2017-01-20 16:36] bgrant0607 commented on #24343
@brendandburns

Branching may improve throughput and stability of the submit queue, assuming a separate queue for each branch, though it wouldn't address notification and ACL problems.

It sounds like you'd prefer whole components, which we build into containers, such as the scheduler, to be moved out?

The only repos on github that I've found with a higher commit rate than ours are integration re

[2017-01-20 16:43] bbzg commented on #10439
Google has released Google Cloud KMS on GCP, that would be an ideal place (for us) to store secrets, making them available for e.g. Ingress SSL certificates, secret volumes, environment variables, and so on.

[2017-01-20 16:45] sanderploegsma commented on #28452
The proposal in this form has been discontinued: https://groups.google.com/d/msg/kubernetes-users/0F2OMVArr1A/7tY_eoP_AAAJ

[2017-01-20 16:45] #28452 closed

[2017-01-20 17:03] Bregor commented on #10439
@bbzg good for you :)
But what about bare-metal users, or aws?

[2017-01-20 17:07] bbzg commented on #10439
@Bregor I've got love for everyone 🐶!

But of course, I would be most happy if this feature was brought to GCP/Google Cloud KMS as soon as possible :)

[2017-01-20 17:14] equinox0815 opened #40226 "addon: fluentd-elasticsearch, time_format and timezones"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): fluentd timezone time_format

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2017-01-20 17:29] bgrant0607 commented on #24343
The issue about how to find things across repos came up. Github codesearch appears to work ok:
https://github.com/blog/202-github-code-search

A search for ""func Int64KeySet" -path:vendor user:kubernetes user:kubernetes-incubator extension:go" worked fine.

[2017-01-20 17:30] derekwaynecarr commented on #40062
based on @DirectXMan12 explanation, closing.

[2017-01-20 17:30] #40062 closed

[2017-01-20 17:41] MrHohn commented on #40063
@JeanMertz Yeah, make sense to me to put anti-affinity into the kube-dns deployment.

The tricky point about `kube-dns-autoscaler` ConfigMap is that it is managed by kube-dns-autoscaler instead of Addon-manager. So it is allowed to be modified, and will be re-created with the template value if it is deleted. I believe this pattern will not change for kube-dns-autoscaler.

[2017-01-20 17:46] derekwaynecarr commented on #40086
@jwforres -- do you have a sample LimitRange that reproduces this handy?  It's odd we are showing a millicore value as a limit for a storage quantity.

[2017-01-20 17:56] smarterclayton commented on #40086
I think it's because we don't normalize back to <1 values - the CanonicalValue must have mantissa > 1, and for base-2 types like disk and memory we can't normalize that to a smaller chunk.

[2017-01-20 17:57] smarterclayton commented on #40086
We should just mirror back the initial value string for sure.

[2017-01-20 18:16] derekwaynecarr commented on #40086
which means we need to hold onto initial value string in quantity which we appear to have a place-holder for, but we do not always appear to set it unless the value was 0?

[2017-01-20 18:21] derekwaynecarr commented on #38322
@davidopp -- i assume the feature gate is not restricting the presence of the annotation, but instead is just a kubelet flag that says if the annotations presence gives special node local decisions.  the annotation is free to be used by the rescheduler assuming the rescheduler is enabled (which also appears to default to false).

[2017-01-20 18:22] derekwaynecarr commented on #38322
@davidopp -- ignore previous comment, i see its on by default.  btw, i see rescheduler also restricts the annotation as only being meaningful to a single namespace (which is good).  anyway, i assume its the second in your original comment.

[2017-01-20 18:25] derekwaynecarr commented on #27204
I find the presence of this issue being open confusing for multiple reasons.  Primary reason is that I will open a document that outlines the proposal for rolling out the feature that is up-to-date, and secondary reason is that the issue author is no longer active in the project in this area.

[2017-01-20 18:25] #27204 closed

[2017-01-20 18:29] yujuhong opened #40229 "Deprecate using nsenter as the exec handler"
Forked from the discussion in #35747.
The PR adding the deprecation warning for the flag: #40171

According to the [deprecation policy](https://kubernetes.io/docs/deprecation-policy/), if we add the deprecation warning in 1.6, the flag can be removed either after 1 release (1.7) or 6 months (Oct. 2017), whichever is longer. Keeping this issue open until we remove it.

[2017-01-20 18:32] derekwaynecarr commented on #27204
To summarize pertinent parts of the meeting held with @vishh and @sjenning for awareness:

1. We intend to rollout Node Allocatable and pod level cgroups together. @derekwaynecarr is working on a rollout plan for pod level cgroups. @vishh will add the plan for node allocatable to it or post a separate plan.
1. QoS level cgroup settings for memory are intended to be made available for v1.6 (turned

[2017-01-20 18:39] alanmeadows commented on #38923
@thanodnl What happens is that the k8s controller manager leverages ```hostNetwork: true``` so it essentially inherits the underlying physical hosts ```/etc/resolv.conf```.   We resolve this today by ensuring all k8s nodes leverage skyDNS as their first resolution server prior to starting kubelet with fallbacks to standard resolution endpoints.

The correct solution here for which I'm sure there i

[2017-01-20 18:45] vishh commented on #38322
@derekwaynecarr would having the critical pod annotation be turned on by
default OK for OpenShift?

On Fri, Jan 20, 2017 at 10:23 AM, Derek Carr <notifications@github.com>
wrote:

[2017-01-20 18:51] spxtr commented on #38177
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-bazel/243

[2017-01-20 19:06] huggsboson commented on #39734
Any chance of getting the fix applied to 1.4.9?

[2017-01-20 19:24] deads2k commented on #39086
@smarterclayton @sttts Just writing this down so I don't lose my spot.  Short version: `ListOptions` must move.

Long version, `pkg/storage` looks very genericapiserver-ish (various helpers, caches, and the like for dealing with etcd).  It depends on `pkg/client/cache` for reflectors and listerwatcher interfaces.  listerwatcher interfaces rely on `ListOptions`.  I can snip most of the other depend

[2017-01-20 19:27] huggsboson commented on #39734
Here's what our goroutine graphs look like just to establish that it presents the same way from a metric perspective:
<img width="1145" alt="goroutines" src="https://cloud.githubusercontent.com/assets/3486668/22162369/50571b7c-df03-11e6-8db3-906b1302bc55.png">

[2017-01-20 19:40] jingxu97 commented on #40220
@FrederikNS could you please list the steps which also includes create and delete pod? Thanks!

[2017-01-20 19:48] jingxu97 commented on #37042
the issue has not occurred for a while. close it for now.

[2017-01-20 19:48] #37042 closed

[2017-01-20 19:52] jwforres commented on #40086
Spec for the limit range:

[code]

[2017-01-20 19:52] joejulian opened #40238 "joyent triton public cloud cannot start service containers"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): joyent triton

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): featur

[2017-01-20 19:55] emaildanwilson commented on #29887
I submitted a pull request with the initial logic and tests for this.
We'll need to decide how to address handling situations where an object was initially sent to all clusters and then subsequently was updated to be isolated to a subset of clusters.
Should the system...
- let the object stay on the clusters no longer targeted at an old version (which is what it would do after #40234)
- add in fun

[2017-01-20 20:04] bowei commented on #40063
@JeanMertz, @airstand  -- adding anti-affinity to the kube-dns pod spec would be great target for community contribution :-)

[2017-01-20 20:06] jingxu97 commented on #39820
@robdewit thank you for reporting this. Please let us know if you have any issue when using glusterfs.

[2017-01-20 20:07] calebamiles commented on #40238
Hello @joejulian, have you been participating in any of the SIG node discussions around the Container Runtime Interface (CRI). Perhaps it makes sense for a native implementation for Triton containers rather than being bound by the Docker API? Are you aiming to get the desired functionality into the Kubernetes 1.6 release? If so I would suggest opening a feature against https://github.com/kubernete

[2017-01-20 20:16] calebamiles commented on #39906
@pires, `aaronlevy` is on vacation

[2017-01-20 20:34] #35406 closed

[2017-01-20 20:44] tonglil commented on #17512
If there was a way to "format" the output of `kubectl describe nodes`, I wouldn't mind scripting my way to summarize all node's resource requests/limits.

[2017-01-20 21:17] derekwaynecarr commented on #38322
@vishh alpha features should not be on by default.

[2017-01-20 21:21] derekwaynecarr commented on #38322
@vishh - to elaborate, in code, the default must be off.  in `kube-up` deployments, the default can change, and i have no opinion there.

[2017-01-20 21:26] ixdy commented on #40161
I kinda forgot we had that document. I'll update it.

[2017-01-20 21:29] #40121 closed

[2017-01-20 21:30] vishh commented on #38322
Ack! That's what I was thinking. I think @davidopp is concerned because the
critical pods annotation for rescheduling has already been exposed to users
by default.

On Fri, Jan 20, 2017 at 1:21 PM, Derek Carr <notifications@github.com>
wrote:

[2017-01-20 21:52] ahakanbaba commented on #40192
Thanks @liggitt
Thanks for the tip.

I see your comments in  #40193 probably that will also improve the printed instructions.

[2017-01-20 21:56] TylerRick opened #40244 "Allow specifying different backend-protocol for each service port"
**What keywords did you search in Kubernetes issues before filing this one?** service.beta.kubernetes.io/aws-load-balancer-backend-protocol, ELB

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report and/or Feature request. Depends on how this is expected to work.

**Kubernetes version** (use `kubectl version`): v1.5.1-rancher1

**Environment**:
- **Cloud provider or hardware confi

[2017-01-20 21:57] wlan0 commented on #7452
We, at Rancher Labs are also interested in this change.

[2017-01-20 22:03] iJoyCode opened #40245 "Got corrupted indices in elasticsearch on kubernetes"
Hello, if I use `hostPath` as volume storage in kubernetes, then I receive this error in log. If I use `emptyDir` storage, then no any problems.

Any ideas? I can attach my deployment file, if someone needed.

Guys from elasticsearch told me that it related to fs system in kubernetes, not to elasticsearch. May anyone can suggest me which type of volume should I use with elasticsearch?
https://gith

[2017-01-20 22:09] janetkuo commented on #34940
When you use `kubectl delete rs` to delete a ReplicaSet (RS) that's created by a Deployment , it will be deleted successfully, and then the Deployment will create it again if the RS's podtemplate is the same as the Deployment's (i.e. it's a new RS).

I'm not sure what you meant by "the RS wasn't removed/re-created". Why did you think that the RS wasn't deleted and then recreated? Did you check its

[2017-01-20 22:09] smarterclayton commented on #40086
I dunno - we assume some canonicalization today, but maybe we could make it
go the other way.  We do only have room for one string though on the
quantity and I would not like to add another.

On Fri, Jan 20, 2017 at 2:52 PM, Jessica Forrester <notifications@github.com

[2017-01-20 22:17] copejon opened #40246 "E2E Tag Hierarchy Excludes Multi-Tag scenarios"
The current way tags are implemented excludes scenarios where more than one tag is applicable.  For instance [Flaky] supersedes [Disruptive], which leads to both disruptive and non-disruptive tests running together, causing flakes more in the non-disruptive.

e.g. We are seeing a scenario where PersistentVolumes[Volume][Serial][Flaky] are run parallel to NodeOutOfDisk[Flaky][Disruptive].  NodeOutO

[2017-01-20 22:44] Starefossen commented on #38979
I am getting tons of these logs in my Docker logs as well. Did you ever find out what the root cause was @edevil ?

[2017-01-20 22:59] roberthbailey commented on #38843
Does it need to be built and pushed into gcr.io? I believe that @mikedanese has permissions to do so and might be able to help out.

[2017-01-20 23:01] heygrady commented on #40180
I was able to get an incredibly ugly hack going. I went this route mostly out of laziness. My docker images were built using alpine and I didn't want to bother building the glusterfs client into them.  Preferably I could use Kubernetes as described above.

**My hack:**
1) create a second container in my deployment that has the gluster-client installed
2) create an `emptyDir` volume and mount it on

[2017-01-20 23:10] timstclair opened #40248 "Establish base image policy for system containers"
We should establish a standard base image for use across all of our "system" containers. I'm defining system containers to be containers that part of the Kubernetes release, and run in production (e.g. kubeproxy, kube-dns, heapster, dashboard, etc.)

**Motivation**

- Using a common base image (and version!) greatly simplifies CVE management, and also lets us standardize our build tooling & proces

[2017-01-20 23:11] timstclair commented on #39696
This is a broader issue than just kubeproxy - I filed https://github.com/kubernetes/kubernetes/issues/40248 to make a Kubernetes wide policy. Let's keep this issue to track the specific problems around kubeproxy though.

[2017-01-20 23:12] timstclair commented on #38541
xref: https://github.com/kubernetes/kubernetes/issues/40248 - Establish base image policy for system containers

[2017-01-20 23:17] lavalamp commented on #39922
Or you can use `WHAT=./pkg/kubectl`.

[2017-01-20 23:17] #39922 closed

[2017-01-20 23:22] davidopp commented on #38322
Right -- it's fine to disable the eviction behavior of the annotation by default. Just don't prevent people from setting the annotation by default, since it is used by a completely unrelated subsystem (the "rescheduler").

[2017-01-20 23:35] yifan-gu commented on #38854
Fixed by #39158
It's so fast! Thanks for the work @feiskyer @yujuhong @Random-Liu !

[2017-01-20 23:35] #38854 closed

[2017-01-21 00:14] jingxu97 commented on #29166
@simonfan could you provide more details about your issue? You could also share your log so we can help take a look (slack @jinxu or jinxu@google.com). Thanks!

[2017-01-21 00:22] e-goldberg commented on #36992
any suggested workaround?

[2017-01-21 01:04] yifan-gu commented on #38498
cc @lucab @euank @aaronlevy in case this related to rkt and the mount

[2017-01-21 01:41] jcbsmpsn opened #40252 "Setting to enable/disable certificate rotation"
In https://github.com/kubernetes/kubernetes/issues/4672 there is a request to build certificate rotation in the clients. Building on top of the work done for kubeadm, it will be easiest to begin by building certificate rotation for kubelets firsts. In order to support transitioning gradually to using the certificate rotation feature, it will be built with a setting to enable/disable it. That will

[2017-01-21 01:53] andrewrynhard opened #40253 "Latest kubeadm join fails to generate certs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
AWS
- **OS** (e.g. from /etc/os-release):
Centos

**What happened**:
Certs are not generated by `kubeadm join`
[code]
**What you expected to happen**:
Certs to be generated

**How to reproduce it** (as minima

[2017-01-21 01:58] andrewrynhard commented on #40253
@liggitt

[2017-01-21 02:03] liggitt commented on #40253
Looks like it's fetching http instead of https

[2017-01-21 02:05] andrewrynhard commented on #40253
I couldn't find what has changed recently that would have caused that. Taking another look.

[2017-01-21 02:12] andrewrynhard commented on #40253
Could be user error, I have been refactor a lot with how I am using kubeadm, but I think there should be a check for https scheme.

[2017-01-21 02:23] andrewrynhard commented on #40253
Tried using https:
[code]

[2017-01-21 04:19] pires commented on #39906
@luxas I can fix this but your guidance is much appreciated.

[2017-01-21 05:13] liggitt commented on #39906
the correct fix is... invasive.

kubectl 1.4.7 was not applying patches to third party resources correctly at all. if you look at the wire transfer (--v=8) of applying the above example with kubectl 1.4.7, you can see that it is actually sending a patch of a `ThirdPartyResourceData` object, *not* the `Pki` object:

[code]

that's concerning for multiple reasons:
1. it means no actual patching is h

[2017-01-21 05:17] liggitt commented on #39900
kubectl patch computation for TPR has never worked correctly (either in the patch computation or in what is submitted to the server). I would recommend you use update with third party resources until kubectl supports them properly

[2017-01-21 06:19] jayunit100 commented on #40246
Ok. Agree it's high priority , for the fix keep this open, /'d maybe we need to put a pull request to the test infra repo?

 We need to find where the scripts that setup tests are, I don't know whether the Jenkins jobs that define what tests to skip/run are in kubernetes core anymore ...

[2017-01-21 06:21] stascode commented on #28272
Same use case here. Akka remoting with the Aeron library requires shm size > 64m. Need to be able to set its value in the pod spec.

[2017-01-21 07:07] laverite commented on #21613
Here's some TRACE logs from the failed dns lookup:

[code]

and it hangs there.
any help appreciated.  thanks.

[2017-01-21 07:52] RobinLe commented on #37922
same issue here

[2017-01-21 07:58] RobinLe commented on #37922
And when I download kubelet, kubeadm, kubectl, kubernetes-cni and install these components manually.  There are some dependences errors.

[code]

[2017-01-21 07:58] JeanMertz commented on #32526
Today, I again noticed inode problems with two of the pods. This time, it's two of the `fluentd-cloud-logging-gke` pods, see this gist for all the output I could gather:

https://gist.github.com/JeanMertz/cce2c5afc37b8cabefb06da2a0b55b2e

cc: @bowei @airstand since you both asked about more details on the inode problems in https://github.com/kubernetes/kubernetes/issues/40063#issuecomment-27370015

[2017-01-21 09:48] andrewrynhard commented on #40253
This is invalid. For `token://<token>@<ip>:<port>` I had port set to 6443 when it should have be 9898.

[2017-01-21 09:48] #40253 closed

[2017-01-21 13:04] jmn commented on #26632
Trying build on Google Cloud Console using:
$ go get -d k8s.io/kubernetes
$ cd $GOPATH/src/k8s.io/kubernetes
$ make

Results:
0th time: cd fails because $GOPATH contains $
1st time: make fails because _output/bin/deepcopy_gen is not chmod +x
2nd: make fails because _output/bin/defaulter_gen is not chmod +x
3rd: make fails because rsync is not installed
4th: (currently working):
[code]

Note: Wrong

[2017-01-21 14:08] fxposter commented on #17064
@thockin What about having the per-runtime map of `params` to runtime-specific options, but do not expose anything out of those on the kubernetes API side, IE: runtime can just extract the params that it knows and ignore all others?
Otherwise - are there any ways of achieving passing arbitrary docker params to some containers? I suspect that it may be possible to fork docker CRI shim and change it

[2017-01-21 14:09] k8s-merge-robot opened #40256 "[k8s.io] Generated release_1_5 clientset should create v2alpha1 cronJobs, delete cronJobs, watch cronJobs {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/3305/
Failed: [k8s.io] Generated release_1_5 clientset should create v2alpha1 cronJobs, delete cronJobs, watch cronJobs {Kubernetes e2e suite}

[code]

Previous issues for this test: #37428

[2017-01-21 16:23] kargakis commented on #40224
Can you post the yaml of your deployment and involved replica sets when the `rollout status` command exits with the timeout?

[2017-01-21 16:29] kargakis commented on #34940
The error message in the controller manager (update conflict) is quite common, the deployment is reprocessed by the controller on the spot. We should probably enhance the log to make it clearer that the deployment is retried.

[2017-01-21 16:59] smarterclayton commented on #12742
Assigning myself to shepherd this through.

[2017-01-21 17:06] smarterclayton opened #40258 "Use consistent startup messages in controller manager"
This causes me to twitch - we should only be logging at v2 the fact the controller started, and any irrelevant info should be removed.  We should also use consistent case and styling on the log messages.

[code]

Not every controller manages a single resource, but those that do should be printing `Starting Kind controller" (i.e. "Starting ReplicaSet controller" is the most correct).  The "sending

[2017-01-21 17:53] druidsbane commented on #40061
My experience with 1.12.6 going from 1.11.2 is that it ended up breaking networking in my cluster.  I upgraded a pre-existing cluster that was already running on 1.11.2 on Ubuntu 16.04.  I don't know 100% if I upgraded Docker incorrectly as in downgrading I had to delete the /var/lib/docker/network directory for it to start up properly.

The issue with 1.12.6 was that after a few days from the upg

[2017-01-21 20:29] olmoser commented on #37625
I'm running into the same issue, with the difference that in our setup, there is no PV (just the glusterfs service and endpoint. This is what they look like:

**glusterfs endpoint** (deployed in all available namespaces)
[code]

**glusterfs service** (deployed in all namespaces as well):

[code]

**Environment**
RHEL 7.3 Bare Metal Setup with kubeadm
glusterfs 3.9.0

[code]

[2017-01-21 21:09] andrewstuart commented on #13606
I think this would also be hugely useful for secret encryption as well. The ability to hook in, selectively grab secrets, and encrypt them transparently with local credentials or via some remote provider would really add to the UX.

To that end, I think it would also be really helpful to be able to prompt for user interaction, if for example a new public key is found that the user needs to validat

[2017-01-21 22:36] kargakis opened #40262 "kubectl get -w should work like watch"
kubectl get -w prints new changes from watch events in my terminal.
[code]
Unfortunately the output above is not helpful at all. I am not sure if the terminating pod actually terminated. I would love for `-w` to work like the `watch` utility - the screen is refreshed with the new output instead of printing changes.

http://linuxcommand.org/man_pages/watch1.html

@fabianofranz @AdoHe @pwittrock for

[2017-01-21 22:46] thockin commented on #39988
It is highly unlikely that we will move SSH to another port by default, and
even if we did, it's absolutely impossible that it would happen any time
soon.

HostPorts are considered bad form for many reasons, including this.

It seems much more plausible to find a way to share load-balancer across
Services, but even that falls down as we move more towards optimized paths.

I can't speak to your app

[2017-01-21 22:47] #39988 closed

[2017-01-21 22:51] thockin commented on #40063
I thought the only way we end up with one DNS replica is if we have 1 node
- am I mistaken?  I thought we immediately go to 2 replicas in case of 2
nodes, and then go CPU-proportional after that.  Something like that is
what should be happening, anyway...

On Jan 20, 2017 12:05 PM, "Bowei Du" <notifications@github.com> wrote:

[2017-01-22 03:22] davidopp commented on #27204
When pod-level cgroups are implemented, will there still be container-level cgroups?

[2017-01-22 05:11] AdoHe commented on #40262
@pwittrock i just found the `sig-cli-misc` group get deleted.

[2017-01-22 05:16] feiskyer opened #40264 "CRI: verify responses from remote runtime"
CRI doesn't verify responses from remote runtime today. We should verify and check all required responses so as to

- fail fast, e.g. by verifying imageRef for PullImage, kubelet could fail at image pulling stage instead of syncPod
- easy debugging
- protect kubelet

cc @yujuhong @Random-Liu @yifan-gu

[2017-01-22 05:19] thockin commented on #21613
It is hard to answer without k owing a whole lot more about your config,
but masquerade-all will obscure the client IP in all pod-to-pod
communications.  It is a BIG hammer, and is almost never the answer.

Your network is not working 100% correctly.  I would run a bunch of tests
of pod-pod traffic across nodes and on the same node.

On Jan 20, 2017 11:08 PM, "laverite" <notifications@github.com>

[2017-01-22 05:26] bryanerayner commented on #19113
It's unclear to me how to start `minikube` using the AWS container registry.

What options exist for this?

[2017-01-22 05:55] tcf909 commented on #5607
+1

Currently hostDevice option requires full privileged security rather than cap_adds -- very uneasy about this vs segmented cap permissions.

[2017-01-22 06:25] k8s-merge-robot opened #40266 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node { ReplicationController} with 0 secrets and 0 daemons {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1834/
Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node { ReplicationController} with 0 secrets and 0 daemons {Kubernetes e2e suite}

[code]

[2017-01-22 06:58] brunomvsouza opened #40268 "Can't access a service through the internet using externalIPs, though I can access it inside the server."
**Kubernetes version** (use `kubectl version`):
- Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
- Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b4

[2017-01-22 07:41] davidopp commented on #39893
If there is only ever one object with a given name (at a given time) then this doesn't seem necessary. The approach @gmarek suggested sems OK -- use UID if it's provided, otherwise use name. Again, this assumes there is only ever one object with a given name (at a given time), but I think we have to assume that anyway based on how things are stored in etcd.

[2017-01-22 07:47] thockin commented on #40248
I've tried to avoid using things like ubuntu as a base image for our own binaries because it is not warranted except a few cases.  That said, consistency probably wins.  Should we distinguish containers that are carrying our own binaries (e.g. kube-proxy) from OSS binaies (e.g. fluentd) ?

[2017-01-22 09:15] benmcp commented on #24903
If anyone else ends up on this thread, the solution that worked for me was updating the `image pull policy`, you can find info on this [here](https://kubernetes.io/docs/user-guide/images/#pre-pulling-images). From the docs: `Be default, the kubelet will try to pull each image from the specified registry`. You need to update this so it can look locally.

If you're running from the CLI, add `--image

[2017-01-22 10:19] ApsOps opened #40270 "Consider network resource management / guarantees / scheduling"
**What keywords did you search in Kubernetes issues before filing this one?** : Network quota, congestion

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

There should be  a way to schedule pods based on network resource availability - could be on the similar lines as cpu and memory request/limits.

At the very least, kubelet or node-problem-detector should report

[2017-01-22 10:43] JeanMertz commented on #40063
@thockin that's not what we are seeing on GKE.

This is what is currently configured on our cluster:

[code]

but this is **after** we manually set the `min` value to `2`, it was set to `1` ever since we booted this (and one other) cluster on GKE.

[2017-01-22 11:02] JeanMertz opened #40271 "Kubernetes API extremely slow to trigger scale/scheduling"
Lately we have noticed Kubernetes API responses becoming very slow on certain
actions. Actions like getting, deleteing and describing are instant as always,
but scaling or applying a new deployment can take up to 5 minutes to go through.

It's hard to pinpoint exactly when it became this slow, I'm inclined to say this
is a boiling frog situation where it just started creeping up on us, but I'm
con

[2017-01-22 11:57] kskalski commented on #7562
I'm wondering if there is a way to use nodeSelector in StatefulSet such that I can pin each replica to a specific node by a templatized label, similarly to how volumeClaimTemplates create a schema for accessing specific PVCs by name-index pattern.
Imagine
[code]

which upon expansion would create pod xyz-0, xyz-1, ... with respective node selectors node: storage-0, node: storage-1, ...

[2017-01-22 12:25] k8s-merge-robot opened #40272 "ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew/4157/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should do a rolling update of a replication controller [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26425 #26715 #28825 #28880 #32854

Failed: [k8s.io] Kubectl client

[2017-01-22 13:32] astachurski commented on #11209
I agree - totally counterintuitive behaviour. I want to have all component definitions split into functional entities svc/rc/po and get exactly the same error as you for rc compoment...

[2017-01-22 15:07] vincentwu2011 opened #40273 "After the installation of kubernetes 1.4.3 on CentOS7.2, failed to reboot the host"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.3", GitCommit:"4957b090e9a4f6a68b4a40375408fdc74a212260", GitTreeState:"clean", BuildDate:"2016-10-16T06:36:33Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.3", GitCommit:"4957b090e9a4f6a68b4a4037540

[2017-01-22 15:16] Crassirostris commented on #37104
Due to https://github.com/kubernetes/kubernetes/pull/38213 and https://github.com/kubernetes/kubernetes/pull/38286 fluentd logs are no longer a problem, since they are not exported in 1.6

[2017-01-22 15:17] Crassirostris commented on #37104
Issue, related to heapster: https://github.com/kubernetes/contrib/issues/2337

[2017-01-22 19:11] otaviosoares opened #40276 "Azure disk: no key found for storage account"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef12

[2017-01-22 20:45] vdavidoff opened #40278 "kube-apiserver doesn't prompt for authenticating proxy client cert unless client-ca-file is also specified"
See https://groups.google.com/forum/#!topic/kubernetes-sig-auth/d3WWqNe9uQg for full context, but the gist is that in 1.5.x (I tested with both 1.5.1 and 1.5.2) kube-apiserver does not request a client cert unless --client-ca-file was specified, even if one does not want to enable client cert auth, and only wishes to enable authenticating proxy auth (--requestheader-client-ca-file and --requesthea

[2017-01-22 21:44] vishh commented on #27204
Yes. There will still be container level cgroups to enforce container level
requests and limits.

On Sat, Jan 21, 2017 at 7:23 PM, David Oppenheimer <notifications@github.com

[2017-01-22 22:21] thockin commented on #40063
Indeed, @mrhohn, it looks like we lost that property in some optimization
pass.  Can we bring it back?

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml#L48

On Sun, Jan 22, 2017 at 2:44 AM, Jean Mertz <notifications@github.com>
wrote:

[2017-01-22 22:45] MrHohn commented on #40063
@thockin Sure, I will change it back.

[2017-01-22 23:07] brunomvsouza commented on #40268
My guess is that it have something to do with upgrading from ubuntu 15.04 to 15.10 and then to 16.04. Just did a clean install of ubuntu 16.04 and it worked as expected.

Closing it as probably the issue was caused by ubuntu upgrade compatibility.

[2017-01-22 23:08] k8s-merge-robot opened #40282 "TestRunServer {examples}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go-release-1.5/552/
Failed: TestRunServer {examples}

[code]

[2017-01-22 23:53] brunomvsouza commented on #40268
Actually, the problem persists. My bad closing the issue.

[2017-01-22 23:57] vishh commented on #38322
I was not proposing to "prevent" users from using the pod annotation,
instead I was recommending "disabling" any special behavior across
kubernetes for that pod annotation. The rescheduler will ignore this
annotation if the feature is "disabled", which it will be by default.
I assume consuming the pod annotation for rescheduling use cases is also
considered problematic.

On Fri, Jan 20, 2017 at 3:

[2017-01-23 01:30] thockin commented on #5607
Sorry, I never replied!

When I say "plausible" I mean that at least the major runtimes maintainers
have looked at the API proposal and agreed that the semantic is doable,
even if they don't have the requisite support yet.

Annotations could work, but I worry that it becomes a de facto API, so I'd
rather think about that up front.

The issue for me is coupling - as soon as you allow users to speci

[2017-01-23 02:01] iamzhout opened #40285 "Port forward fail on k8s 1.5.1, saying "/usr/bin/nsenter: resource temporarily unavailable""
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef12

[2017-01-23 02:32] shiywang commented on #24857
@kargakis I would like to take a look on this one if it's not in a hurry.

[2017-01-23 02:39] shiywang commented on #24857
also seems @kubernetes/sig-cli-misc is no longer exist? @pwittrock @fabianofranz @AdoHe

[2017-01-23 03:28] smarterclayton commented on #38322
Yes, the annotation being settable by normal users is the problem.

On Sun, Jan 22, 2017 at 6:57 PM, Vish Kannan <notifications@github.com>
wrote:

[2017-01-23 04:14] posix4e opened #40286 "Support for GCP Load balancer with SSL termination"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
ssl GCP loadbalancer
---
FEATURE
  - I want to be able to specify a google ssl certifica

[2017-01-23 04:34] setyoso opened #40287 "cant access k8s guestbook services"
Hello there, recently i'm installing K8S in CentOS environment. I'm using VirtualBox from Ubuntu 16.04 in my Notebook's OS. So this is the concept :

- Ubuntu 16.04 LTS in Notebook

- VirtualBox 5.1.12
Master Node & Node
Centos 7. 3.10.0-514-2.2.e17.x86_64

I'm following this guide to install CentOS-K8s. (I'm only using 2 nodes from this guide)
https://kubernetes.io/docs/getting-started-guides/cen

[2017-01-23 04:45] akhlopotine commented on #34772
@wojtek-t @mwielgus i continue experiencing this issue with submitted jobs as well. jobs shall be restarted until they successfully finish. i use 1.4.8 but i can try 1.5.2 if you think this is solved there

[2017-01-23 04:57] whereisaaron commented on #29298
@JayBee6 @cemo @rokka-n @cyberroadie @druidsbane @sdouche YMMV, but below is what I do and is my understanding about targeting AWS ELBs created by k8s. I'm using clusters created with [`kube-aws`](https://github.com/coreos/kube-aws) (so AWS CloudFormation) to deploy to private subnets on existing VPCs. This sounds like a similar situation to the discussion above. I don't do anything manually (💩💩💩)

[2017-01-23 05:30] rokka-n commented on #29298
Well that just some tags hidden in the go code, put it in production man
What possibly could go wrong with it?

[2017-01-23 06:25] rothgar commented on #39775
I'm not sure `unset` would make sense with the current options. Currently set can only set an image of a pod template but unless you're using a deployment (with history tracking enabled) there wouldn't be anything you will be able to unset to. The object doesn't necessarily store what "unset" means for an object and it wouldn't have anything to roll back to.

[2017-01-23 06:32] thockin commented on #25283
fine.

[2017-01-23 06:34] thockin commented on #35761
Dup of  #17406, which has a PR in flight.

[2017-01-23 06:34] #35761 closed

[2017-01-23 06:54] JorritSalverda commented on #29989
Isn't the cpu prior to the pod being ready taken into account in that first minute when it's ready? We see a steep scale up as soon as the first extra pod is added by the HPA. Our cpu usage before readiness is about 20x as high as during normal operation - our limit is more than 20x as high as request - , so if it's in any form taken into account you can see why it leads to scale up where it isn't

[2017-01-23 07:06] davidopp commented on #38322
So we are saying that it's OK if upgrading to 1.6 breaks this feature for everyone who is currently relying on it to get their DNS, Heapster, etc. scheduled today on GCE, AWS, Azure, on-prem, etc., unless they take the additional action of re-enabling it?

[2017-01-23 07:12] caesarxuchao commented on #39864
I had a PR open for verifying client-go updates: https://github.com/kubernetes/kubernetes/pull/39099.

I'll get it ready soon.

[2017-01-23 07:16] wojtek-t commented on #39245
We probably can close this one, but please open another bug that kubemark-scale is now failing.

[2017-01-23 07:17] wojtek-t commented on #39245
[I mean it started failing again after your change (which was kind of expected). Though the might be two different issues there now].

[2017-01-23 07:22] wojtek-t commented on #39245
@shyamjvs - btw, I understand the failures with "high latency metrics":
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/222
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/223

but the next 4 ones is something different. If you could take a look, it would be great - it seems pretty critical now.

[2017-01-23 07:38] xilabao commented on #39775
The progress of all the kubectl set subcommands is here. https://github.com/kubernetes/kubernetes/issues/21648#issuecomment-250881311. I think `unset` is useful for some resources.

[2017-01-23 08:30] #16899 closed

[2017-01-23 08:30] dev-e commented on #34314
The same problem on CoreOS. k8s 1.5.2. After recreating /var/lib/kubelet directory and re-registering master node I get this repeating messages in the log:

Node status becomes "NotReady" and pods, created by ReplicationContorllers with NodeSelector value of this node, get status "Pending", reason: "MatchNodeSelector". Reboot does not make sence.

[2017-01-23 08:43] greatbsky commented on #37922
+1 in china

[2017-01-23 09:16] krmayankk opened #40290 "Support Use Cases which involve Running Jobs to Completion on all nodes"
- Sometimes i want to run debugging commands across all nodes or a subset of nodes. This might be to collect some data quickly for analysis, collect the output of certain commands, or just make some temporary changes to nodes to validate an experiment.
- These commands are run to completion type Jobs, where i don't need them to be running always to ensure reconciliation
- These run to completion j

[2017-01-23 09:30] caesarxuchao commented on #37922
cc @mikedanese

[2017-01-23 09:45] sswierczyna commented on #40084
@kerneltime Thank You!
Just let me know if any additional information/verification are required.

[2017-01-23 09:52] wojtek-t opened #40291 "Investingate Kubemark regression caused by #39033"
We have a clear regression in kubemark-500.

Now pretty much 1/3rd tests are failing with error like this:
[code]

This failed for the first time in this run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1806

We need to fix this ASAP as this is blocking submit-queue for long periods.

@k8s-oncall @shyamjvs @gmarek

[2017-01-23 09:55] wojtek-t commented on #40291
Though, since this is flakiness, it might have happened a bit before this run...

[2017-01-23 10:41] wojtek-t commented on #40291
I'm pretty sure that the errors here are coming from this point:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/scale.go#L242

That said, given the logs, it's clearly not timeout itself as it is "timeout after 10ms":
[code]

So I guess we are hitting this path:
https://github.com/kubernetes/apimachinery/blob/master/pkg/watch/until.go#L64
which means that the watch is being closed

[2017-01-23 10:46] wojtek-t commented on #40291
BTW - the apiserver logs from this run:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1806/artifacts/kubemark-500-kubemark-master/

are ending in the middle of the test, so they are pretty much useless. We should also debug this later.

[2017-01-23 11:01] wojtek-t commented on #40291
My hypothesis is that we are getting "ErrTimeout" as a result of "error too old" from apiserver.
That said, it seems that nothing changed during last few days wrt to that, so I don't know why it is now failing...

[2017-01-23 11:13] Amit-PivotalLabs commented on #38963
I'm having a similar issue, where I have a few namespaces including `dev` and `default`.  As a "dev user" I can create a bunch of resources in the `dev` namespace, including a PVC, but creating the PV as the "dev user" in the `dev` namespace results in the same error as above:

[code]

I can create the PV as the admin user in the `default` namespace, and then everything is fine.

[2017-01-23 11:21] gavrie commented on #5607
@thockin: It does sound interesting to use opaque integer resources for this. Is there a way to add metadata to such a resource? I couldn't find one in the documentation.

Your concern about growing a de facto API with annotations is understandable. On the other hand, it might be useful to provide a way to access devices and see how people use it in the real world before designing an API that then

[2017-01-23 11:37] jsafrane commented on #39178
@justinsb, this idea of using Kunernetes nodes + labels instead of loading instances from AWS looks interesting to me. Could it fit into your attempt to add a caching layer to AWS provider?

[2017-01-23 11:48] soudy commented on #40063
I would like to see some way of giving `kube-dns` pods affinity, because as @bowei said, having `kube-dns` on a preemptible node is not a good idea. In our current setup we have 3 preemptible nodes and 2 regular nodes, and `kube-dns` often lands on a preemptible node.

[2017-01-23 12:25] Tha-Robert commented on #36992
I have two outstanding questions(Due to the floating target this project has) to give a valid workaround.

1. Is the change to the API, that the metadata field called "name" should be a valid "hostname" in all cases a decition or just a fact of other changes ? And is it there to stay ? In this case maybe name should be changed, same attribute but changed meaning is not very intuitive.

If yes, the

[2017-01-23 12:48] FrederikNS commented on #40220
I use the following 4 yaml configs:
[elasticsearch.yaml.txt](https://github.com/kubernetes/kubernetes/files/723582/elasticsearch.yaml.txt)
[elasticsearch-volume.yaml.txt](https://github.com/kubernetes/kubernetes/files/723581/elasticsearch-volume.yaml.txt)
[logging-namespace.yaml.txt](https://github.com/kubernetes/kubernetes/files/723584/logging-namespace.yaml.txt)
[ssd-storage-class.yaml.txt](http

[2017-01-23 13:09] deads2k commented on #39864
@caesarxuchao  client-go can't have a verify script enforced in the queue.  It vendors apimachinery.  API machinery is synced based on this script: https://github.com/kubernetes/apimachinery/blob/master/hack/sync-from-kubernetes.sh which happens *after* kube is committed.

Because client-go is also vendored into kube, it builds with the kube level of api machinery.  This means that if you change a

[2017-01-23 14:30] deads2k opened #40295 "Bazel fail on pkg/controller/node:go_default_test 0.00s"
`pkg/controller/node:go_default_test 0.00s` from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/40293/pull-kubernetes-bazel/1845/

`E0123 14:17:52.166468       6 controller_utils.go:245] couldn't parse version "" of node could not parse "" as version`

@mikedanese you're the bazel guy, right?

[2017-01-23 15:07] deads2k commented on #40266
kubemark has failed on this and is blocking the submit queue at the moment.  Failed on four of the past seven jobs.

@wojtek-t @shyamjvs

[2017-01-23 15:09] wojtek-t commented on #40266
@deads2k - I've opened https://github.com/kubernetes/kubernetes/issues/40291 for it in the morning. I'm trying to debug it, though so far I had a day full of meetings. But hopefully will figure it out.

[2017-01-23 15:13] wojtek-t commented on #40291
BTW - we are also observing a huge regression around that time in kubemark-scale (and that one is really huge...)

[2017-01-23 15:13] wojtek-t commented on #40291
This is the first run that completely blown up:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/224

[2017-01-23 15:13] resouer commented on #40140
Just work out a patch to fix this, please take a look.

[2017-01-23 15:19] wojtek-t commented on #40291
@deads2k - to be honest, I looked into what was merged around that time, and my candidates for regression are either https://github.com/kubernetes/kubernetes/pull/40170 or https://github.com/kubernetes/kubernetes/pull/40146 (though I don't know yet what exactly is happening)

[2017-01-23 15:25] ae6rt opened #40298 "Godoc for HTTPGetAction should address certificate path validation if URIScheme==HTTPS"
**Is this a BUG REPORT or FEATURE REQUEST?**  FEATURE REQUEST

More accurately, this is a request to provide a simple additional comment in the Godoc for HTTPGETAction.  Namely, state that if the URIScheme for a readiness or liveness probe is HTTPS, then no attempt is made by the probe to perform certificate path validation.  It's not obvious without reading code that supports the kubelet that thi

[2017-01-23 15:26] deads2k commented on #40291
@wojtek-t those are moves without semantic changes.  I won't say its impossible, but it would really surprise me.

[2017-01-23 15:51] mikedanese commented on #40295
This looks like a plain old unit test flake. @gmarek is test owner

[2017-01-23 15:57] davidopp commented on #38322
cc/ @piosz @Crassirostris

[2017-01-23 16:02] tcnghia opened #40302 "Guest book sample is using a Docker V1 image gcr.io/google-samples/gb-redisslave"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes versi

[2017-01-23 16:05] mwielgus commented on #34772
We checked and the fix for OutOfCpu should be included in 1.4.8. Could you please confirm that this is the exactly same issue as previously and you upgraded both master and nodes?

[2017-01-23 16:16] wojtek-t commented on #40291
The other possibility is that this one broke something: https://github.com/kubernetes/kubernetes/pull/39033
[it seems that at least it increased the time the whole job takes by ~10m for kubemark-500].
@shyamjvs @gmarek - is that expected?

[2017-01-23 16:27] shyamjvs commented on #40291
@wojtek-t I really doubt it. Besides I just noticed something interesting (which also kind of proves that there should be no issue with #39033), these rc scaling errors pop-up only during the first round of scaling (search for "Starting to scale ReplicationControllers first time..." and "Starting to scale ReplicationControllers second time...") and not in the second round. I checked this for 4 ran

[2017-01-23 16:29] caarlos0 opened #40304 "Scale down may cause downtime"
I created a service `ops` with 10 replicas, and a `strategy.rollingUpdate.maxUnavailable` = 1:

[code]

If I deploy something wrong, let's suppose, a bad docker image that won't come up, or a tag that doesn't exist, some of the replicas will still be running:

[code]

Now, if I scale down (for some reason) to 2 replicas, for example, what happens is:

[code]

Which is OK, service is still up.

Now

[2017-01-23 16:29] wojtek-t commented on #40291
What I just figured out is that "scaling" phase (being part of load test) started taking significantly more in this run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1803/?log#log
[~4m vs ~9m]

So I think the regression was exactly between 1802 and 1803 run. there are 4 PRs there:
https://github.com/kubernetes/kubernetes/pull/36693
https://github.

[2017-01-23 16:29] shyamjvs commented on #40291
Also this error just happens for very few RCs (around 4-5) and this makes me feel strongly that it's a flaky performance issue rather than some code error.

[2017-01-23 16:30] wojtek-t commented on #40291
@shyamjvs - it is performance issue, but now we are hitting it majority of runs, whereas previously we weren't hitting it at all. This is __clearly a regression__.

[2017-01-23 16:37] andronat opened #40305 "kubectl apply: managing explicit null values in LastAppliedConfigAnnotation"
Based on @pwittrock comment [here](https://reviewable.kubernetes.io/reviews/kubernetes/kubernetes/35496#-KaimE_T47FL3t8nfsaH), and after PR: #35496.

Saving user defined nulls in LastAppliedConfigAnnotation annotation.

Imagine the case once we support kubectl apply diff

Set field to null
Run apply diff - see changes required
Run apply - make changes
Run apply diff - see changes required - looks

[2017-01-23 16:53] cmluciano commented on #27980
@mtaufen I can help out with any additional work related to this epic. Are there specific pieces that you still need help with?

[2017-01-23 16:55] csarora opened #40306 "[Federation][kubefed] API server in Waiting state fails to attach volume PVC : Used Kubefed tool with K8s 1.5.1"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.0", GitCommit:"58b7c16a52c03e4a849874602be42ee71afdcab1", GitTreeState:"clean", BuildDate:"2016-12-12T23:35:54Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab

[2017-01-23 17:00] erez-rabih opened #40307 "NetworkUnavailable - NoRouteCreated - On kubernetes 1.3.4 AWS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
NoRouteCreated AWS
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BU

[2017-01-23 17:07] robhaswell commented on #17088
I think I need to be able to reference services in different namespaces from a single ingress controller. My use-case is doing blue/green deployments, with a "blue" namespace and a "green" namespace. My application's public traffic comes via an ingress controller. I would like to be able to route that traffic to blue or green services via making a small change to the ingress controller (i.e. the s

[2017-01-23 17:13] davidopp commented on #36716
cc/ @piosz @Crassirostris

[2017-01-23 17:13] davidopp commented on #22212
cc/ @Crassirostris @piosz

[2017-01-23 17:16] smarterclayton commented on #40291
A couple of things I can think of:

1. The client-go code we updated contains a fix from earlier in the week - the update exposes it (so the problem was before that, but we weren't using it yet)
2. We changed error handling paths somehow, so errors that were being ignored suddenly started being handled, which resulted in controllers doing more work than before (i'm thinking about https://github.co

[2017-01-23 17:39] kargakis commented on #24857
@shiywang feel free to work on it.

[2017-01-23 17:43] nikhiljindal commented on #39982
Some other point discussed on sig meeting:
* There are 2 components: Admission controller and mediation engine. Mediation engine ensures that policies are always honored. Admission controller applies the policy when new resources are created.
* Where to store the code? Its an admission controller. Today, they are compiled into the binary. @smarterclayton working on making admission controllers plu

[2017-01-23 17:45] dashpole commented on #32526
Looks like you have too many files open, and are out of file descriptors.  These are different from Inodes.  Increasing the file descriptor limit should fix the problem.

[2017-01-23 17:54] timothysc commented on #36716
I think the key to allowing this to move forwards as a POC is probably making the system more extensible to be able to plug the arbitrator + further outlining if we want to add to existing resource object or create new ones + naming (which is always fun).

[2017-01-23 17:59] #38843 closed

[2017-01-23 18:04] kargakis commented on #40304
@caarlos0 this is how the initial pass on proportional scaling was implemented. Also when scaling down we always try to remove from old replica sets first. It's definitely desirable to enhance the deployment controller to scale down broken pods first.

[2017-01-23 18:08] kargakis commented on #40304
Autorollback (https://github.com/kubernetes/kubernetes/issues/23211) is yet to be implemented but in 1.5 you can use progressDeadlineSeconds and identify stuck deployments.

https://kubernetes.io/docs/user-guide/deployments/#deployment-status

[2017-01-23 18:15] paralin commented on #17088
You're both still missing the point, you can use a single ingress controller for as many namespaces full of ingresses you want

[2017-01-23 18:16] JeanMertz commented on #32526
@dashpole thanks for that pointer.

I'll do some further investigation into this.

However, we are running on GKE, and are using preemptible machines, so any change we make to nodes only stick around for 24 hours at most.

[2017-01-23 18:21] erictune commented on #38322
It sounds like it would be okay if the behavior is flag-controllable, and off by default in head, but enabled on GKE, and kube-up.sh.  Not a great long-term solution, but could bridge the gap until another solution is ready.

[2017-01-23 18:28] thockin commented on #17064
What does that map look like?  For example, the docker API has many nested
structs, some of which hold further maps and lists.  To be extensible, an
end user would need to be able to override basically arbitrary structures.
A JSON patch string?  If we want something here we need a spec that covers
how to do it and what is and is not possible.

On Jan 21, 2017 6:08 AM, "Pavel Forkert" <notification

[2017-01-23 18:32] viglesiasce commented on #39699
Okay folks here is a cut at what I was thinking:
https://github.com/viglesiasce/kube-lint

Its mostly oriented towards 2 use cases:

1. Gating a CI/CD pipeline
2. Auditing against running resources

The code is probably not the best since its only my 2nd or 3rd Go project but I'd love some feedback.

[2017-01-23 18:32] thockin commented on #40270
We don't schedule network right now, in part because it is very bursty.
When people specify high network needs, they tend to strand everything else.

That is not to say we shouldn't do anything here, just explaining where we
are.

On Jan 22, 2017 2:20 AM, "Amanpreet Singh" <notifications@github.com> wrote:

[2017-01-23 18:33] thockin commented on #5607
@ConnorDoyle for opaque resources

@msau42 for local-storage stuff

[2017-01-23 18:33] dashpole commented on #32542
Hopefully explaining the current state of node disk isolation will help some of these issues.
The kubelet monitors two storage-related resources: disk space, and inodes.
The kubelet can be configured to monitor two filesystems: the filesystem containing the kubelet (nodefs), and the filesystem the runtime is on (imagefs).
For more on how to set this up, see [this proposal](https://github.com/kuber

[2017-01-23 18:34] thockin commented on #5607
@dchen1107 @yujuhong I am anxious about an annotation for this, but it certainly has come up and we don't have a "real" answer yet.

[2017-01-23 18:34] fxposter commented on #17064
You would not be able to "extend" it, but this is usually not what is needed - you usually need to add additional params specific to runtime to containers on starting - and those can be specified by "runtume shims". IE - dockershim would expose all `docker run`-specific attributes and the end user may just use them by passing string options.
Yes - these would be runtime version specific (ie: until

[2017-01-23 18:40] dashpole commented on #32526
You may be able to use [startup scripts](https://cloud.google.com/compute/docs/startupscript) to make changes to nodes when they start up.

[2017-01-23 18:56] jaydubsjay opened #40310 "GKE host migration causes pod networking to fail until reboot"
**Kubernetes version** (use `kubectl version`): 1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): gci version 56 build 8938.0.0
- **Kernel** (e.g. `uname -a`): 4.4.21
- **Install tools**: N/A
- **Others**: N/A

**What happened**:
After a host migration on GKE, all containers on the node could no longer receive nor send packets to *any

[2017-01-23 18:58] caarlos0 commented on #40304
Got it, thanks @kargakis 👍

[2017-01-23 18:59] kargakis commented on #40304
@kubernetes/sig-apps-misc

[2017-01-23 19:00] wojtek-t commented on #40291
@smarterclayton - what was the bug that was fixed? Do you have a link?

Regarding 2 - I don't think it's the case in our tests, as there aren't many errors in them. But hopefully I will have more time tomorrow to investigate it deeper.

[2017-01-23 19:06] ncdc commented on #40262
xref #17612

[2017-01-23 19:08] thockin commented on #17064
I was hoping for something that didn't require us to explicitly support
features, even as annotations.

On Mon, Jan 23, 2017 at 10:34 AM, Pavel Forkert <notifications@github.com>
wrote:

[2017-01-23 19:10] jaydubsjay commented on #40310
Also, I checked to ensure the iptables rules were being written and that kube-proxy was running.

I'm led to believe that this is an issue with either the iptables rules or the docker networking interfaces, due to the fact that the host node itself can still communicate normally.

Unfortunately I had to get my services back online ASAP and did not think to cordon off the node and leave it as 'evid

[2017-01-23 19:18] timstclair commented on #40248
@thockin I don't think it's worth distinguishing those cases. Either way we're going to be responsible for responding if a CVE is detected. As I see it, the only difference is it will generally be a lot easier to manage the containers carrying our own binaries.

That said, we may need 2 standard bases if the complexity of running something like fluentd on a minimal base is too great. That might be

[2017-01-23 19:21] smarterclayton commented on #40291
1 was generic - i.e. the client-go bump triggered an earlier issue, and it's possible that is the real problem.

[2017-01-23 19:22] smarterclayton commented on #40291
I *think* that without #39831 you wouldn't get timeout errors properly on anything that depended on Stream(), which is logs.  But if you're not depending on that we can eliminate it.

[2017-01-23 19:34] kargakis commented on #11490
Also the creation of one-off pods from controllers is probably desired eg. in a self-hosted cluster, in case all copies of the scheduler go down, you'll want to run a one-off scheduler pod with a node name injected.

https://www.youtube.com/watch?v=EbNxGK9MwN4#t=34m03s

[2017-01-23 19:35] kargakis commented on #11490
@kubernetes/sig-cli-feature-requests

[2017-01-23 19:38] dashpole commented on #32542
Also, kubernetes v1.4 does not have per-container inode metrics, meaning it will evict based only on QoS (guaranteed, burstable, best-effort), and not on usage.  per-container inode metrics are introduced in 1.5

[2017-01-23 19:39] vishh commented on #32542
Prior to adding evictions "OutOfDisk" condition was the primary means to
monitor disk pressure in k8s. Not that we have evictions, I agree that we
should remove it in favor of `DiskPressure`.

On Mon, Jan 23, 2017 at 10:34 AM, David Ashpole <notifications@github.com>
wrote:

[2017-01-23 19:40] smarterclayton commented on #40291
Do we have any other cluster data about any rates of object creation / updates?

[2017-01-23 19:53] kargakis commented on #40271
@kubernetes/goog-gke

[2017-01-23 20:01] theothermike opened #40314 "node-pool upgrade reverts reserved ip to ephemeral"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-01-23 20:01] shyamjvs commented on #40271
We have seen the effect of the scale operation being slowed down in the kubemark-500 CI tests which have been failing quite frequently of late.
Here's the issue relating to it #40291 .

cc @wojtek-t

[2017-01-23 20:06] jmn commented on #38774
What about GKE? Seeing this on v1.4.8

[2017-01-23 20:08] JeanMertz commented on #40271
Note that we see this happening for deployments as well, not just scaling.

Also, this is happening for at least a month, probably longer.

[2017-01-23 20:12] luxas commented on #40248
For statically linked go binaries and other cases where it's possible, can we standardize on `busybox`?

[2017-01-23 20:13] #31839 closed

[2017-01-23 20:13] luxas commented on #40248
And maybe debian for everything else?

Both those images exist for all architectures btw

[2017-01-23 20:18] dkerwin commented on #40182
Can confirm the problem with k8s 1.4.7 & docker 1.13 on debian jessie. kubelet managed by systemd

[2017-01-23 20:25] nshttpd commented on #40310
As an addendum and adding in from the conversation on #container-engine GCP Slack channel, I had the same issue with a single Node on Sunday (1/22/17) in us-central1. Specifically it was a Node in us-central1-c that had the same sort of issues where network level stuff went bad after a host migration and services on there couldn't talk to BigTable. This was a production cluster so goal was to get

[2017-01-23 20:28] jheiss commented on #23217
I wanted to mention a couple of issues/concerns we have with the current state of the PSP feature. Neither is a blocker for us but I thought I'd make a note of them.

- If I have a PSP with a runAsUser MustRunAs rule and submit a pod with no runAsUser specified it is accepted. The original PSP proposal seems to indicate that in this case it will be left to kubelet to enforce based on the user spec

[2017-01-23 20:46] msau42 commented on #5607
[Local storage](https://github.com/kubernetes/features/issues/121) is covered here and will be a long-term project.  For the short term, the only ways now to utilize local SSDs are hostpath volumes or a distributed fs like glusterfs.

[2017-01-23 20:58] msau42 commented on #35778
Does #38579 cover this issue?

[2017-01-23 21:00] timstclair commented on #40248
I'm currently looking at alpine in favor of busybox (but haven't come to any conclusions yet), since alpine has better CVE feeds than busybox. We've had problems with debian's patch latency in response to CVEs, and are considering alternatives there as well.

[2017-01-23 21:00] JMoellerSLB commented on #34772
@mwielgus Thanks for looking into this. I retested on 1.4.8 just like @akhlopotine and the behavior is unchanged, that is, the bug remains open. I reran the test exactly as explained in my original bug report, except that I selected pod affinity as explained. Again, node affinity makes the problem occur more frequently and is therefore recommended to reproduce the problem, but it is otherwise unre

[2017-01-23 21:25] pweil- commented on #23217
The PSP admission controller (if enabled) should be rejecting pods that do not meet the requirements or default the values if the user doesn't specify anything.  If you did enable the admission controller please check the security context on the pod after it was admitted and see if it defaulted to the correct UID.

PSP relies on the kubelet to enforce the `MustRunAsNonRoot` rule but the `MustRunAs

[2017-01-23 21:28] liggitt commented on #23217
it is allowing use of a PSP within a namespace - same thing I asked about in https://github.com/kubernetes/kubernetes/pull/33080#discussion_r84147987

[2017-01-23 21:30] liggitt commented on #23217
pay careful attention to which user is actually creating the pod. in the case of pods created via replicationcontrollers, etc, it is actually the controller user that creates the pod. to get PSP authz to take effect, that controller must be running against the secured port, and as a user that doesn't have access to the powerful PSPs

[2017-01-23 21:46] jheiss commented on #23217
@pweil-: Ah, indeed. You are correct that if I don't specify a runAsUser the pod gets defaulted to the first MustRunAs UID in the first PSP that matches. We probably want a different default in our case, but it is good to know that it is preventing the user from running things as an arbitrary UID.

[2017-01-23 22:09] dlorenc commented on #40248
Would you mind linking to some more info on the patch latency for CVEs?

[2017-01-23 22:28] dchen1107 commented on #28369
@Crassirostris

[2017-01-23 22:33] thockin commented on #40248
The biggest problem with Alpine, from @luxas's POV is that it isn't
available across platforms that we/he care about.  I agree it's a better
base, though - it has packages and actually modern versions of stuff.

On Mon, Jan 23, 2017 at 1:00 PM, Tim St. Clair <notifications@github.com>
wrote:

[2017-01-23 22:41] mwielgus opened #40323 "Make kubectl rollout work with federated deployments"
Currently no history information is stored in federated deployment so no rollout rollback is possible.

cc: @nikhiljindal

[2017-01-23 22:44] lchi commented on #35565
@liggitt makes sense, closing this.

[2017-01-23 22:44] #35565 closed

[2017-01-23 22:51] jaimemartinez88 commented on #39980
This happened to me when the DNS couldn't resolve the name. You can see in the error message
 dial tcp: lookup redis-slave on 100.64.0.10:53: server misbehaving

Port 53 is the DNS so it's basically telling you that it couldn't find "redis-slave". For some reason Go likes to say "server misbehaving" instead of a more descriptive error message.

[2017-01-23 23:15] saad-ali commented on #38054
Test @k8s-mirror-storage-misc

[2017-01-23 23:15] vishh commented on #17064
@thockin @ravilr I don't think the features mentioned in https://github.com/kubernetes/kubernetes/issues/17064#issuecomment-253005442 should be exposed as arbitrary knobs. There have discussions in other PRs for supporting (or not supporting) swap, shm, etc.
Do we have concrete use cases for needing opaque runtime params?

[2017-01-23 23:19] timstclair commented on #40248
@thockin - Yes, but do we need to provide the same level of support with regards to updating & managing CVEs on those platforms? I'm more comfortable using busybox if we don't need to actively monitor CVEs (unless anyone has a suggestion of the best way to do so).

@dlorenc - That's a good question, but unfortunately couldn't find any data. This old article (2011) was the best I could find: https:

[2017-01-23 23:20] mtaufen opened #40329 "Should we move away from verify-flags.txt?"
The original commit for `hack/verify-flags/known-flags.txt` claims that the purpose is for preventing flags that have `_` in the flag name. It claims that this list is used to speed up the search so that it is not obtrusive as a pre-commit hook.

Does anyone actually use the pre-commit hooks anymore? When I joined the project, these already took so long that I almost immediately turned them off.

[2017-01-23 23:20] timstclair commented on #40248
To clarify: I'm not suggesting we don't patch busybox based images, just that we patch them on a schedule rather than actively monitor.

[2017-01-23 23:28] thockin commented on #17064
This has been an issue forver - user wants to do something we haven't added
yet or don't want to add, or just can't decide on what API to expose..

On Mon, Jan 23, 2017 at 3:16 PM, Vish Kannan <notifications@github.com>
wrote:

[2017-01-23 23:29] thockin commented on #40248
It's a fair point.

On Mon, Jan 23, 2017 at 3:20 PM, Tim St. Clair <notifications@github.com>
wrote:

[2017-01-23 23:32] colemickens opened #40331 "kubelet not restarting pod from static manifest (v1.5.2)"
Kubernetes `1.5.2`. `kubelet` runs under docker with static manifests for `kube-{apiserver,controller-manager,scheduler}`.

I just tweaked the `--v` flag on my `controller-manager` manifest:

* `kubelet` killed the running instance
* `kubelet` failed to start a new instance

Even after `sudo systemctl restart kubelet`... I can see kubelet die, come back up in a new container... but it didn't resta

[2017-01-23 23:35] vishh commented on #17064
I still don't get the entire workflow. Are we expecting kubelet to support
arbitrary runtime features or is it just a matter of providing a
placeholder in the API and let users run a custom runtime that can
interpret such features? If its the latter, why doesn't pod annotations
work?

On Mon, Jan 23, 2017 at 3:29 PM, Tim Hockin <notifications@github.com>
wrote:

[2017-01-23 23:44] thockin commented on #17064
Annotations require kubelet to understand them.  That may be the best we
can do, but I was hoping for a way for an end-user to offer a "patch"
against Docker's API JSON, or something similar, so that kubelet doesn't
need to interpret it at all.

On Mon, Jan 23, 2017 at 3:36 PM, Vish Kannan <notifications@github.com>
wrote:

[2017-01-23 23:47] colemickens opened #40332 "azure: loadbalancers are broken in 1.5.2"
**Kubernetes version** (use `kubectl version`): `v1.5.2`

**Environment**:
- **Cloud provider or hardware configuration**: Azure / Azure Container Service
- **OS** (e.g. from /etc/os-release): Xenial
- **Kernel** (e.g. `uname -a`): latest lts
- **Install tools**: kubelet + static manifests
- **Others**: n/a

**What happened**:
I created a Service (type=LoadBalancer). The load balancer did not comp

[2017-01-23 23:54] dchen1107 commented on #38322
I am confused here.

I thought we had a design meeting and achieved the agreement with the following action items:

1) vishnuk@ finishes the feature gate for "Critical Pod Annotation" across the system, and cherrypick it to both 1.4 and 1.5. The feature gate should be off by default, but GKE can carry the burden to re-enable it. Like what @erictune suggested above,  we can also enable this by defa

[2017-01-24 00:04] thockin commented on #40310
The interesting thing is that a VM migration should be utterly transparent
to the VM, so I am skeptical that it is a Kubernetes issue - nothing will
have changed in the guest space.  will dig.

On Mon, Jan 23, 2017 at 12:25 PM, Steve Brunton <notifications@github.com>
wrote:

[2017-01-24 00:14] jaydubsjay commented on #40310
I doubt there's anything going on in the guest space itself. It seems to boil down to the docker virtual network simply being unable to route packets anywhere but itself after a host migration.

Perhaps there's a script run by the host migration that causes an issue? I noticed that there were some system logs about the operating system updating itself in the same timeframe. Maybe the update proces

[2017-01-24 00:22] thockin commented on #40310
We're looking at what might be going on under the covers.

On Mon, Jan 23, 2017 at 4:14 PM, jaydubsjay <notifications@github.com>
wrote:

[2017-01-24 00:28] thockin commented on #40310
As another data point - if this happens - can you look at `dmesg` on the
node and look for things like OOM kills?

On Mon, Jan 23, 2017 at 4:22 PM, Tim Hockin <thockin@google.com> wrote:

[2017-01-24 00:35] xrl commented on #39572
I have cherry-picked these changes on top of master, as of today, and I am working through building/deploying the work. I had to make some quick fixes for some bugs I found during integration testing:

[code]

[2017-01-24 00:36] xrl commented on #39572
I am working through the build process and will report back how it actually works when deployed!

[2017-01-24 00:54] saad-ali commented on #28283
CC @kubernetes/sig-storage-test-failures

[2017-01-24 01:59] ixdy commented on #39513
did you previously build as `root`? you might need to `make clean` before a build as a normal user works again.

[2017-01-24 02:00] keith4743 opened #40336 "how to find all the images when install k8s-1.5?"
I'm in china, i can not access google directly, so i need to prepare the images before installation.

I can find some images' name and the corresponding version here, but not all the images.
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/images/images.go

[2017-01-24 02:38] kpgriffith commented on #40099
@rootfs do we need to change something so it skips the tests on a mac or do we just leave it alone and understand it fails when on a mac?  Not sure what to do from here.  Thanks.

[2017-01-24 03:00] ChillarAnand commented on #2284
I am facing the same issue(using kubectl) when trying to setup k8s on VM.

[code]

System info
[code]

[2017-01-24 03:28] feiskyer commented on #17064
Maybe we could add some json-encoded dockertypes.Config or dockertypes.ContainerCreateConfig (which includes both Config and HostConfig) in annotations and merge it with dockertools generated one.

[2017-01-24 04:35] k8s-merge-robot opened #40341 "ci-kubernetes-e2e-gce-examples: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/2570/
Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] Storm should create and stop Zookeeper, Nimbus and Storm worker servers {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29225 #33106 #38047

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #

[2017-01-24 05:24] thockin commented on #40310
Ideally we'd have a failing VM that we could debug, but absent that, if someone is willing, email me your GCP project ID and VM name, and the date/time/timezone that it started, and ideally VM IP.

[2017-01-24 05:42] colemickens commented on #40182
Since the team @kargakis tagged here is no longer a team... cc: @kubernetes/sig-node-bugs

[2017-01-24 05:51] erictune commented on #40290
@kubernetes/sig-apps-feature-requests

[2017-01-24 06:55] kskalski opened #40346 "Grafana not showing any data from the cluster even though it is shown on k8 dashboard"
# Issue
I'm struggling to get Grafana dashboard to show any data.

# Environment
I have kubernetes cluster created on my own VM with kubeadm 1.5 and I installed heapster components (not created by default with kubeadm) based on config from https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb (I had to fix the image names as per https://github.com/kubernetes/heapster/issue

[2017-01-24 07:03] jingxu97 commented on #40220
@FrederikNS can I ask whether you could reproduce the issue? It seems like volume controller fail to detach the volume, but we need kube-controller-manager log to confirm that.

[2017-01-24 07:21] #36589 closed

[2017-01-24 07:22] jingxu97 commented on #33491
@jsravn could you please let us know if you still have this issue with later release? Thanks!

[2017-01-24 07:22] #34437 closed

[2017-01-24 07:23] wojtek-t commented on #40271
Regarding to @shyamjvs - what he mentioned is a regression from 4 days ago, and it wasn't the case before.

[2017-01-24 07:42] wojtek-t commented on #40291
I'm afraid I don't understand your question.
In kubemark-500 in the test that we are facing problems we are starting 15.000 pods. The problematic scalings are happening when all those pods are already in the system.

[2017-01-24 07:49] codablock commented on #40332
@colemickens Should we do a fix that simply sets the 2 properties to nil before a real fixes comes into go-autorest?

[2017-01-24 08:04] krmayankk commented on #26003
i am also seeing that watching tpr, causes the tpr to always change, even when no update has been performed. Is this a known issue ? I am seeing this on 1.3.6 ?

[2017-01-24 08:09] maci0 commented on #5607
I also want this so, I can mount **/dev/kvm** into an unprivileged container.
Currently kubernetes has an alpha api to mount nvidia video cards into the container, does this work across all runtimes as well, if not why does --device need to be any different ?

[2017-01-24 08:12] erez-rabih commented on #40307
I found out the reason:  It was a routing table entries cap on AWS VPC that prevented the successful creation of routes for new nodes on the cluster.
I asked AWS to raise the cap and the problem was solved.

[2017-01-24 08:12] #40307 closed

[2017-01-24 08:13] PavelPrischepa opened #40349 "Published k8s service is not available"
**BUG REPORT**:

**Kubernetes version**: 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**: Debian 8
- **Kernel**: Linux ip-172-31-20-110 3.16.0-4-amd64 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux
- **Docker**: 1.13

**What happened**:
I have single node cluster on AWS. I created k8s service with a published port 31250 and replication controller. But the s

[2017-01-24 08:23] thockin commented on #38606
This is sort of languishing.  I still think raw block access is an
interesting and worthwhile feature, but I don't think this is the right way
to get it.

On Tue, Dec 20, 2016 at 2:39 AM, Fabian Deutsch <notifications@github.com>
wrote:

[2017-01-24 08:25] thockin commented on #39197
Is there really a use-case that needs this?  Or is it speculative (no foul
:).  In other words, is there something here or should we close this?

On Thu, Dec 29, 2016 at 4:24 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-01-24 08:29] wojtek-t opened #40350 "Hollow-NPD doesn't work in kubemark when running locally"
I was trying to run kubemark on my local cluster. And hollow-NPD completely didn't work:
- it was breaking nodes from the base cluster by making them unready
- it was preventing hollow kubelet and hollow proxy from running

I don't know what is the difference between Jenkins and my local but we should fix it.

[2017-01-24 08:43] fabiand commented on #38606
Right. Let me note that it's not only about raw block storage, but also about the ability to delegate connections to user-space, i.e. ceph can be directly consumed by using librbd from user-space without a syscall roundtrip. This case would also be covered by such a delegation mechanism.

@thockin do you have a different solution approach in mind?

[2017-01-24 08:58] FrederikNS commented on #40220
I also bumped into an issue yesterday where volumes would never actually mount. Unfortunately I didn't have the time, so I tried to upgrade the cluster from 1.4.6 to 1.4.7, and now both problems have disappeared. Might be the upgrade that fixed it, or it might just be the fresh machines that fixed it...

Unfortunately the logs would have been wiped in the upgrade, so I can't really help that much

[2017-01-24 09:42] wojtek-t commented on #40291
I've run some tests locally. And few thins I discover was:
- when i'm trying to run kubemark on my own cluster, NPD simply doesn't work at all: https://github.com/kubernetes/kubernetes/issues/40350

- when I disable NPD, everything seems to work fine for me.

That means that https://github.com/kubernetes/kubernetes/pull/40170 doesn't seem to cause problems.

As a result, I'm going to try reverting

[2017-01-24 09:44] gramic commented on #17088
@paralin Yes, I did understand that this is possible. What I am missing is how you do that?

Does the controller receive events for ingress resource in every namespace, no matter in which namespace the controller resides in?

[2017-01-24 09:55] FutureSharks commented on #34772
I also retested on 1.4.8 using the method I mentioned in previous comments and I still see some OutOfcpu pods.

[2017-01-24 10:01] #39866 closed

[2017-01-24 10:02] davidcomeyne commented on #39866
I wasn't able to solve this, after reinstalling the nodes it worked.

[2017-01-24 10:28] Crassirostris commented on #40226
@equinox0815 Thanks for reporting! It seems to be a bug

[2017-01-24 10:54] jsravn commented on #33491
@jingxu97 Yes I believe this is still a problem. I will try to double check on 1.4.8 today or tomorrow.

[2017-01-24 11:12] deitch commented on #22873
I also found myself struggling with this (and this issue helped, so thanks for opening it @huang195 ).

When getting started, a typical policy might be:

* role `app` can do anything in app namespaces (starting just with `default`)
* role `admin` can do anything anywhere
* plus the rest of the usual accounts

Since roles aren't really supported yet, I am using the _users_ `app` and `admin`, plus t

[2017-01-24 11:22] k8s-merge-robot opened #40356 "[k8s.io] ImageID should be set to the manifest digest (from RepoDigests) when available {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1561/
Failed: [k8s.io] ImageID should be set to the manifest digest (from RepoDigests) when available {E2eNode Suite}

[code]

[2017-01-24 11:33] jsravn commented on #37854
I think we are seeing this same issue as well on 1.4.8. I'm not sure exactly what triggers it yet. Kubelet only unmounts the pod directory, not the mount in "aws-ebs/mounts". As a result, the EBS gets stuck in "busy" state when detaching since it is still mounted to the VM. Manually unmounting the EBS allows it to get unstuck and detach safely.

In controller manager I see:
[code]

It then proceed

[2017-01-24 11:51] abhishekagarwal87 commented on #39197
We have for now created two separate services. Though this can be a blocker where pods are running on host network. They can't discover the pets through DNS, can they?

[2017-01-24 12:48] wojtek-t commented on #40291
I did one more experiment which was running the same test in a real cluster instead of kubemark. And it worked:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-cluster/1

So it seems to be kubemark-related.

We will see if reverting that PR will help pretty soon.

[2017-01-24 12:56] wojtek-t commented on #40350
It seems to be "container-VM"-related. It seems to work on GCI.

We need to verify that the last update of container-VM image didn't break anything.
@kubernetes/sig-node-bugs

[2017-01-24 13:06] mwielgus opened #40358 "Add max number of replicas per node/topologyKey to pod anti-affinity"
In the current design there are basically two choices that a user can make - either allow indefinite number of pods to be scheduled on one node or not allow to have more than 1 pod at all. In many cases it might be good to have some middle ground option - have maximum of N pod scheduled in one node/topologyKey.

My primary use case is ClusterAutoscaler. In CA when a replicaset/deployment is create

[2017-01-24 13:13] rimusz commented on #39526
Any way we can get this merged to v1.5.3?
We have many PVCs and our AWS API gets jammed by this bug.

[2017-01-24 13:18] wojtek-t commented on #40291
It seems that reverting this PR helped. However, I'm going to leave this bug open for some more time, to have more clear signal.

[2017-01-24 13:24] lilnate22 commented on #40109
@DMXRoid  @ericchiang i think similar issue i created here: https://github.com/kubernetes/kubeadm/issues/106

you can see from the video posted: https://www.opentest.co/share/aa1d5390d82f11e6a7cb6f2926412bab  it seems the issue is after 1.5.0

[2017-01-24 13:25] thriqon commented on #40349
Having the same problem, seems to be caused by a firewall policy setting of the `FORWARD` chain to `DROP`. Our work-around was to immediately downgrade to 1.12.6 instead.

This seems to be caused by https://github.com/docker/docker/pull/28257 (and to be fair, it is actually documented in the release notes).

[2017-01-24 13:48] jredl-va commented on #40358
A use case from us ("ignoring the applications running within the same cluster") our Jenkins CI server is currently running on GKE with local SSD disks attached to the nodes. Our builds are generally blazing fast, however when multiple pods start stacking up on the same machine disk I/O kills this performance. I would love to be able to be able to tell kubernetes to schedule no more than 2 pods pe

[2017-01-24 13:49] jsafrane commented on #39561
@msau42, can I help you in any way? I know very little about addon manager and its internals.

[2017-01-24 14:25] wojtek-t commented on #19188
@liggitt @yujuhong - we pretty much have the secret manager now implemented. Can we close this issue?

[2017-01-24 14:27] liggitt commented on #19188
is there a related issue to mirror this for configmaps? really want to keep parity for those objects

[2017-01-24 14:32] wojtek-t commented on #19188
Good point - I'm not aware of any other issue.

[2017-01-24 14:33] shyamjvs commented on #40291
So I checked how much time various steps in the e2e suite take and it turns out that the main difference is in the RC scaling attempts in the load test:
- It takes around 1m45s after reverting
- It takes around 4m30s before reverting
There are 2 such scaling attempts and hence difference because of this is already 2 * (4m30s - 1m45s) = 5m30s.
Also, it takes around 1 min less for deleting namespace

[2017-01-24 14:45] davidopp commented on #40358
We considered handling this use case when we were designing pod anti-affinity but decided to wait until people really needed it, to avoid complicating the implementation.

I think there are a couple of issues with implementing this:

(1) The easiest API change is to just add an integer field to PodAffinityTerm. This could be considered a backward compatible change since we would just be adding a n

[2017-01-24 14:46] davidopp commented on #40358
@jredl-va I think your use case can already be handled using PodAntiAffinity.PreferredDuringSchedulingIgnoredDuringExecution. See [this page](https://kubernetes.io/docs/user-guide/node-selection/) of the user guide for more details.

[2017-01-24 14:48] pires opened #40361 "verify-bazel script doesn't play nicely with code to be built for Windows alone"
Issue seen in #39373, https://github.com/kubernetes/kubernetes/pull/39373/commits/b55d402185e8bdb93294a1f3ce66c9bba12bbced.

/cc @mikedanese

[2017-01-24 14:49] jsravn commented on #32881
I know this is from a test but I'm seeing the same problem on a production cluster (1.4.8).

I'm not sure exactly what triggers it yet. Kubelet only unmounts the pod directory, not the mount in "aws-ebs/mounts". As a result, the EBS gets stuck in "busy" state when detaching since it is still mounted to the VM. Manually unmounting the EBS allows it to get unstuck and detach safely.

In controller m

[2017-01-24 14:52] deads2k opened #40363 "Approval for splitting apimachinery, apiserver, client-go repos"
We're in the process of creating smaller repos for people to vendor in order to create their own API types, their own API servers, and eliminated duplicate packages from client-go.  This results in broad mechanical pulls which will always want approval from top level owners.

@lavalamp @smarterclayton Will you grant approval in advance for pulls making this split to avoid reviewing each one indivi

[2017-01-24 14:53] jsravn commented on #32881
I think this might be the same issue as https://github.com/kubernetes/kubernetes/issues/37854

[2017-01-24 14:56] smarterclayton commented on #40363
I approve PRs that move packages into pkg/apimachinery under the existing patterns we have established.  Normal review is sufficient for individual merges.

[2017-01-24 15:06] nshttpd commented on #40310
I can email you the project ID, VM Name and time. I looked in our Elasticsearch logs and Stackdriver logs for the IP, but couldn't find it.

[2017-01-24 15:09] nshttpd commented on #40310
Oh, and another thing I thought about last night beating my head against Angular2 Material stuff ...

While it may not be relevant, back in the days of Kubernetes 1.2.x on a hand built cluster in AWS we had sort of the same thing happen to Nodes that had a couple of our more "high traffic" Pods running on them. CPU and networking would go for a loop and pagerduty would light up. In that case we di

[2017-01-24 15:55] brunowoo commented on #40207
@kargakis thanks for the quick response. Is it as intended that the pods don't get listed as failed in the ReplicaSet?

[2017-01-24 15:55] codablock commented on #35058
When it comes to local rebuilding, https://github.com/kubernetes/kubernetes/pull/40011 should help here.

As I've already noted in the PR, maybe we should make CACHEBUST=0 the default for all hack/dev-xxx.sh scripts. This would at least ease development and testing.

[2017-01-24 15:56] rothgar commented on #40290
Probably a duplicate of #36601

[2017-01-24 16:08] sc68cal opened #40367 "Heat-OpenStack provider never completes stack creation, times out"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack

**What happened**:

Stack creation times out after 60 minutes

https://gist.github.com/sc68cal/cfdf20664c348156e67ba0969b17172f

Cherry-picking 40e4e0e did not appear to change the outcome

**What you expected to happen**:

Stack creation completes

**How to reproduce

[2017-01-24 16:25] thockin commented on #38322
Dawn, the part you're missing (I think) is that we should also make the critical annotation disabled or disableable in rescheduler by default.

[2017-01-24 16:29] otaviosoares commented on #40276
I was trying with a storage account in a different resource group. With the storage account in the same RG it works. Is it expected or a bug?

[2017-01-24 16:33] jsravn commented on #32881
On kubelet, it looks like the volume failed to mark as mounted, which is why it got stuck. This may have to do with the fact this pod got rolled back while waiting for the previous deployment to succeed.

[code]

[2017-01-24 16:38] jsravn commented on #32881
^ Looks like a race condition basically:

1. controller manager attaches volume
2. kubelet starts attachment process
3. controller manager thinks its safe to detach, so removes volume from node's volume list, then tries to detach
4. kubelet mounts the volume as part of the ongoing attach/mount process from (2)
5. kubelet tries to update the mount list, this fails because controller manager has rem

[2017-01-24 16:43] ericchiang commented on #40109
Per @lilnate22's comments I don't think this is an issue with the OIDC flags and probably something to do with the way kubelets launch static pods. Maybe we can close this issue and move to a more directed one like kubernetes/kubeadm#106?

[2017-01-24 16:49] jsravn commented on #32881
I'm pretty sure this is `reconciler.go` detaching the volume because kubelet (in `operation_executor.go`) hasn't yet added the mount. Seems like if the reconciler runs any time a mount operation is in progress, with controller-manager enabled, it will prematurely mark the volume as detached.

[2017-01-24 17:02] gnufied opened #40369 "Refactor concrete implements of plugins and provisioners for Cloud Providers"
The volume system of kubernetes defines two somewhat distinct entities - `plugins` and `provisioners`. There are separate interfaces defined for plugins and separate interfaces defined for provisioners such as `plugins.go` vs `volumes.go` in  `pkg/volume` directory.

However concrete implementation of plugins and provisioner is not very distinct. They are often defined in same file with overlappin

[2017-01-24 17:04] k8s-merge-robot opened #40370 "TearDown Previous {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/2210/
Failed: TearDown Previous {e2e.go}

[code]

Previous issues for this test: #39873

[2017-01-24 17:04] k8s-merge-robot opened #40371 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/3256/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #39788 #39877

[2017-01-24 17:04] k8s-merge-robot opened #40372 "ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master/225/
Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kuberne

[2017-01-24 17:10] msau42 commented on #39561
Thanks, I plan to coordinate with addon folks to make the change.  It may end up being that all the changes are only in the addon component.

[2017-01-24 17:12] fwynyk commented on #40224
Here they are. But I think I was not clear: this timeout error didn't cause any trouble in the deployment itself. The deployment runs in background with no problems, and the new version works. But we can't monitor (get the health of ) the deployment if the command runs into a timeout. We need to run it more than once to monitor the deploy until it ends, and this situation didn't work in a CI/CD.

[2017-01-24 17:13] obeattie opened #40373 "kubectl edit does not preserve the order of environment variables"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`kubectl edit order`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-01-24 17:21] #40371 closed

[2017-01-24 17:22] kargakis commented on #40224
One replica set (presumably the old one) is missing from your yamls (note that I asked for all involved replica sets), also the deployment yaml is not complete. Can you post the deployment including its status when you hit the timeout (and the other replica set)? Probably irrelevant but it seems that there is an annotation missing from the deployment (the one that denotes its revision). Last, is i

[2017-01-24 17:32] yujuhong commented on #5607
@thockin, there are two APIs involved in this issue: the kubernetes api and the api between kubelet and the container runtime (a.k.a. CRI). For the former I think supporting opaque resources makes sense. As for the latter, the CRI already includes [devices](https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/kubelet/api/v1alpha1/runtime/api.proto#L490) in its API in order to support the

[2017-01-24 17:53] #40370 closed

[2017-01-24 17:57] Random-Liu commented on #40350
IIUC, "base cluster" here means "non-kubemark cluster" or "real cluster", right? If so, how come NPD break the base cluster? NPD doesn't really update the `NodeReady` condition.

[2017-01-24 17:59] ciokan commented on #39087
Tried all these tricks. I have 3 clusters and only one appears in the ingress with all health checks failing. Also in the ingress I can see the clusters being switched probably to health check them but everything fails. I started the ingress with a reserved global ip address as well...no cake.

[2017-01-24 18:07] mikedanese commented on #40361
What happened? I can't tell from the issue.

[2017-01-24 18:34] fwynyk commented on #40224
The deployment yaml is complete. It's the same yaml file we used to run in the 1.4.6 cluster, and it worked there.

Here's the output of verbosity level 4:

[code]

But I took a look in a verbosity level 10 and found this:

[code]

It seems a timeout, 60 seconds. I remember in the old stack (1.4.6) that we receive more updates about the rollout status, even if nothing was changed. Now seems that w

[2017-01-24 18:44] pires commented on #40361
Never mind, the author added the file by hand 😞.

[2017-01-24 18:44] #40361 closed

[2017-01-24 18:49] chrislovecnm opened #40375 "AWS EBS PV storage edge case"
We have noticed an issue where you:

1. Create a pod with a 5 GB PV
1. Create an EBS volume in aws - 20 GB
1. Create a PV and PVC in a deployment that lists the AWS id for the EBS volume, the claim is for a 5GB volume - pod b
1.  The docker volume was incorrectly mounted to another 5GB volume on the node, and was not mounted to the aws ebs volume.  The incorrect volume was already mounted to anoth

[2017-01-24 18:59] chrislovecnm opened #40376 "update owners files for aws cloud provider"
@kris-nova and myself need to be added to the owner files for aws cloud provider, and possibly code from storage that impacts aws

[2017-01-24 19:23] maci0 commented on #5607
Exactly my point. Most of the code should be there, the kubernetes api just doesn't expose that functionality yet.

[2017-01-24 19:24] chrislovecnm commented on #39766
@arun-gupta I would say that we should close this issue :)  I do not talk for all of sig-aws ... but I do not think it will be fixed.

[2017-01-24 19:35] deads2k opened #40377 "verify-master broken on godeps"
looks like CI must not have run the script at all when the pull was tested.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/2218

@eparis fix or revert?

[2017-01-24 19:36] DMXRoid commented on #40109
@ericchiang I've tried to get useful logs out of everything, to no avail.  Other than those two lines about killing the pod, there's no indication that anything at all is going on.
That said, the behavior here does seem very similar to the issue you linked, except that kubelet does restart the pod when I remove the OIDC flags, and it didn't choke when I added another flag, --runtime-config=batch/v

[2017-01-24 19:36] deads2k commented on #40377
Probably https://github.com/kubernetes/kubernetes/pull/39884

[2017-01-24 19:37] deads2k commented on #40377
Opened https://github.com/kubernetes/kubernetes/pull/40378 in case you want to go that route.  I'll probably push for it in an hour or so.

[2017-01-24 19:47] chuckbutler commented on #27339
Just wanted to follow up on this, that this PR is fully addressed in #40324 and once that lands this should be safe to close out. As we've moved to xenial by default and the charms are fully systemd aware. We've dropped support for legacy init systems like upstart.

Thanks for filing this report!

[2017-01-24 19:48] ericchiang commented on #40109
@calebamiles can you close this one?

[2017-01-24 19:54] mkutsevol commented on #39572
@xrl hi!
nice catch, you are right with the fix.
I'm almost back from my sick leave,  will pay attention to it. If it will still be needed :)

Did you cherry pick only the top commit from my branch or you've taken the commits from PRs #33944 and #36344 also?

[2017-01-24 20:08] rbtcollins commented on #38893
@madhusudancs Is there a means to move the federation control plane to another cluster? We're trying to avoid in-place upgrades of k8s clusters - should I file a separate bug on kubefed?

[2017-01-24 20:20] lilnate22 commented on #40109
@DMXRoid  can you try with other kube-api flags? i tried ` --service-node-port-range `

[2017-01-24 20:22] wojtek-t commented on #40350
It seems that it wasn't really NPD, but something bad was happening to kubemark. And my current feeling is that it is the container-VM related issue.

[2017-01-24 20:28] s0urpuss opened #40383 "Kube proxy is blocking PATCH requests intended to be forwarded through `kubectl proxy`"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
* the server does not allow this method on the requested resource
* Kubernetes
* Kubectl proxy patch request
---
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

*Kubernetes version** (use `kubectl version`):

Client Version: version.Info

[2017-01-24 21:09] zmerlynn commented on #39766
1.5.2 seems to have fixed this? Closing.

[2017-01-24 21:09] #39766 closed

[2017-01-24 21:23] thockin commented on #5607
Supporting named devices in the CRI layer is perhaps appropriate, but
supporting it at the cluster API layer isn't good.

On Tue, Jan 24, 2017 at 11:23 AM, Marcel Wysocki <notifications@github.com>
wrote:

[2017-01-24 21:25] davidopp commented on #38322
I think there are a lot of people who run Kubernetes without GKE or kube-up.sh. But I guess we can say the rescheduler is alpha, so it's OK if upgrading disables it... (The [documentation](https://kubernetes.io/docs/admin/rescheduler/) doesn't say anything about it being alpha or beta or GA.)

[2017-01-24 21:25] #40377 closed

[2017-01-24 21:40] Cynerva opened #40386 "kube-dns deployment occasionally fails with juju"
**Kubernetes version** (use `kubectl version`):
1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: LXD
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): 4.4.0-57-generic #78-Ubuntu
- **Install tools**: Juju
- **Others**:

**What happened**:

The kubernetes-master charm entered a `hook failed: "update-status"` state with the following stacktrace

[2017-01-24 21:43] mbruzek commented on #40386
It looks like we are pinning kube-dns to *.*.*.10 and the default-http-backend already claimed it.

What are other providers doing? Are they pinning dns to an IP address?

[2017-01-24 21:55] skriss commented on #36988
I can also repro this issue - I will work on contributing a fix.

[2017-01-24 21:57] thockin commented on #40310
We have another report of networking breaking down in the face of extreme
load, and I am trying to disentangle these issues or to figure out if they
are the same root cause.

On Tue, Jan 24, 2017 at 7:09 AM, Steve Brunton <notifications@github.com>
wrote:

[2017-01-24 23:05] #35014 closed

[2017-01-24 23:06] pires opened #40390 "make WHAT=xyz builds a bunch more unrelated binaries"
Shouldn't have created the issue, sorry.

[2017-01-24 23:07] F21 commented on #14512
Any updates for this one? I am interested in being able to run a deployment and being able to start an chain of init containers for the deployment (not on a per pod basis).

[2017-01-24 23:07] colemickens commented on #40332
@codablock I'd prefer to fix it properly in `go-autorest` but as of yet, it's unclear what the timeframe is. Let me ask for a timeline.

[2017-01-24 23:16] thockin commented on #39197
Pods will be able to use hostNetwork *and* DNS in 1.6 with a new DNSPolicy
option.

On Tue, Jan 24, 2017 at 3:51 AM, abhishekagarwal87 <notifications@github.com

[2017-01-24 23:24] dustman9000 commented on #13858
If on RHEL7, adding the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY works too since the systemd service files are loading it as an environment file.

[2017-01-24 23:26] #40390 closed

[2017-01-24 23:27] thockin commented on #38606
@vishh for comprehensive coverage.  I do not have an answer for raw block
devices yet, but I don't think we've really tried to solve *just* that.

On Tue, Jan 24, 2017 at 12:43 AM, Fabian Deutsch <notifications@github.com>
wrote:

[2017-01-24 23:51] #40372 closed

[2017-01-24 23:51] k8s-merge-robot opened #40391 "ci-kubernetes-e2e-gke-slow-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-slow-release-1.5/2194/
Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for endpoint-Service: http {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34104

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38

[2017-01-25 00:06] xrl commented on #39572
I cherry picked every except for the change to do with `Cinder W/O CP`. I learned a lot while doing this work, thoughts were dumped here: https://tureus.github.io/devops/2017/01/24/build-your-custom-kubelet-image.html . My specific changes, very similar to yours, can be found here: https://github.com/tureus/kubernetes/tree/openstack-v2 .

I did not complete the work for v1/v2 autodiscovery. Let me

[2017-01-25 00:33] Random-Liu commented on #40098
Here is the data for 250 pods:
![screenshot from 2017-01-24 16 32 35](https://cloud.githubusercontent.com/assets/5821883/22273011/c08dc20e-e252-11e6-98d7-bdbe952bb4bb.png)

And worth mentioning that, with 250 pods the CPU overhead also become a little bit more significant:
![screenshot from 2017-01-24 16 33 41](https://cloud.githubusercontent.com/assets/5821883/22273030/e5ccdcb2-e252-11e6-8b74-cc5

[2017-01-25 00:40] smarterclayton commented on #40098
Are you using generated marshaler/unmarshalers for CRI types?  The lack of that would explain the excessive reflect.New() usage.

Protobuf without generated marshaler isn't a ton better than json.

[2017-01-25 00:51] krancour commented on #17088
And I was not understanding that when I weighed in on this way back when. Given my current understanding, I actually have come around to believing there's no issue or truly damning limitation here.

[2017-01-25 00:53] timothysc commented on #40098
It's noticeable but not terrible.  Did you check the heap differences w/pprof, I've often found golangs RSS measurements to be ... misleading.

[2017-01-25 01:00] ichristo commented on #23155
I second this as an issue.  In our configuration, it is expected that there isn't a 'public-ipv4' value from the AWS metadata service since we're in private subnets as well.

It should be suppressed when an appropriate flag is set and I would agree that it shouldn't be called frequently, it at all, when the configuration is in a valid state.

[2017-01-25 01:04] Random-Liu commented on #40098
@timothysc Here is the pprof result:
![screenshot from 2017-01-24 17 03 06](https://cloud.githubusercontent.com/assets/5821883/22273714/07677b12-e257-11e6-99a5-df94e3fbb542.png)

Thanks! This may be the problem. @yujuhong and I are checking this now. :)

[2017-01-25 01:35] ymqytw opened #40396 "kubectl edit not working"
kubectl edit is not working on HEAD. It's working on 1.5.

[code]

@kubernetes/sig-cli-bugs

[2017-01-25 02:04] nikhiljindal commented on #40306
cc @kubernetes/sig-federation-bugs @madhusudancs @irfanurrehman

[2017-01-25 02:24] nikhiljindal opened #40398 "kubefed: Allow modifying startup flags for federation control plane"
Right now admin cannot modify the startup flags used by `federation-apiserver` and `federation-controller-manager` while bringing them up using `kubefed init`.

We need to allow admins to do that.

cc @kubernetes/sig-federation-feature-requests @madhusudancs @irfanurrehman

[2017-01-25 02:27] nikhiljindal commented on #40398
The current workaround is to run `kubectl edit deployments federation-apiserver` after running `kubefed init`.

To implement this, we cannot add every apiserver and controller manager flag to kubefed.
We need a generic way where the flags are opaque to kubefed. kubefed should just pass the flags as is to the apiserver or controller manager.

[2017-01-25 02:36] nikhiljindal commented on #38593
I am going to take this up.
All alpha APIs should be disabled by default.

I will need to enable them explicitly in tests that test those APIs.
Filed https://github.com/kubernetes/kubernetes/issues/40398 for kubefed to allow modifying runtime-config flag while bringing up `federation-apiserver`

[2017-01-25 03:46] #39513 closed

[2017-01-25 04:08] estesp commented on #38067
Just FYI--IBM is doing some work to hopefully get alpine supported on ppc64le and s390x (or more completely in cases where work has already been underway).

[2017-01-25 05:11] smarterclayton opened #40403 "Napkin design: bulk-namespace access control and/or RBAC"
Note: mostly a brain dump

As we look at some of the requirements we have around RBAC at scale in Kube, three in particular come up often:

1. organizational multi-tenancy - where a large fraction of the cluster is a single organization entity that desires subtenant access (large swathes of namespaces, possibly identified by labels)
2. sparse multi-tenancy - where a user has access to a few scopes

[2017-01-25 05:15] smarterclayton commented on #40403
@xiang90 has anyone discussed / requested the ability to perform multiple range retrievals in one request in etcd3?  While we can dispatch multiple requests for low N fetches (get namespace a1, then get b2), being able to say `get range( [/a1/, /a1/\x00), [/b2/, /b2/\x00), ... )` in a single call would make some of the scenarios described above more feasible for higher N.

[2017-01-25 05:49] marun commented on #39271
I ran into this same issue trying to deploy a federation control plane on minikube with kubefed.  I ended up switching to 'oc cluster up' since by default it runs the [external ip allocator](https://docs.openshift.com/container-platform/latest/admin_guide/tcp_ingress_external_ports.html) I wrote.  The controller allocates an ip from a private range to services of type LoadBalancer, and adding a st

[2017-01-25 06:56] nikhiljindal commented on #38897
I discussed this with @bgrant0607 and he didnt like the idea of changing the default based on which server is kubectl talking to. He pointed out that total outage is a problem in kubernetes as well and we need generic ways to prevent that rather than change the default in federation.

Cascading deletion is pretty broken in federation right now. Some resources do part cascading deletion and some do

[2017-01-25 07:15] codablock commented on #40332
I agree that a proper fix in go-autorest would be preferable. But as long as it's not fixed, LBs are broken on k8s>=1.5.2. That's why I would like to do a workaround until the real fix comes in.

[2017-01-25 07:56] colemickens opened #40406 "kubectl cli can't create service with arbitrary selector (ex: w/ daemonset)"
**Kubernetes version** (use `kubectl version`): v1.5.2

**What happened**:
I wanted to `kubectl expose --name=nginx-ingress --selector 'name=nginx-ingress-lb' ...` but you must specify a type to target, and I couldn't figure out how to target a daemonset or a bunch of pods with an arbitrary selector.

In lieu of that, `kubectl create service clusterip --selector` but `--selector` doesn't exist for

[2017-01-25 08:16] luxas commented on #40248
alpine is available for amd64, arm and arm64 so personally I'm satisfied, but I have helped to implement ppc64le and s390x as well and alpine isn't available there quite yet, but soon: https://github.com/kubernetes/kubernetes/issues/38067#issuecomment-275014057

If we decide to use busybox/alpine/anything for an image; how do you vision to actually do the patch/upgrade in-place?

[2017-01-25 08:17] luxas commented on #38067
@estesp That's great! See the conversation about that here please: https://github.com/kubernetes/kubernetes/issues/40248#issuecomment-275045504

[2017-01-25 08:24] asarkar opened #40407 "How to send message/notification to all pods in a service?"
I'm considering using Git webhooks to notify my services when something has changed. I'm new to K8S, but the basic idea I've is that the webhook will be set up to notify a K8S service, which will in turn send a message/notification to all pods in the service on a particular REST endpoint. Can this be done?

[2017-01-25 08:29] bgrant0607 commented on #38897
#10179

[2017-01-25 08:31] bgrant0607 commented on #38897
The whole point of the approach with federation is that it looks like a K8s cluster. Therefore, behavior must be the same, by definition.

[2017-01-25 08:43] kargakis opened #40409 "pkg/kubectl/OWNERS needs to be updated"
There is no @sig-cli-maintainers group anymore

@kubernetes/sig-cli-misc

[2017-01-25 09:01] ericchiang opened #40411 "service accounts: first referenced secret is not always the one mounted"
Was experimenting with service account credential rotation and seem to have stumbled on a bug.

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

Minikube via KVM.

**What happened**:

Created a service account with multiple referenced secrets (by removing one, having the controller create a fresh one, then adding the first one back).

[code]

Ran two pods.

[code]

Both m

[2017-01-25 09:07] kargakis commented on #40224
The deployment yaml lacks the status part (deployments created from a yaml file don't contain status - you need to get the yaml back when `rollout status` gets stuck: `kubectl get deployment/app -o yaml`).

I was asking about the controller manager logs iow. logs from the master and not from kubectl.

Also can you verify that the status of the deployment (.status.availableReplicas) reflects the st

[2017-01-25 09:09] kargakis commented on #40224
Can you also make sure that there is no clock skew between master and other nodes?

[2017-01-25 09:19] madhusudancs commented on #40306
cc @kubernetes/sig-storage-bugs

@csarora could you please list the nodes - `kubectl get nodes -o yaml`? Also, could you please describe the API server pod, the PVC and the PV?

[code]

[2017-01-25 09:20] colemickens opened #40413 "kubectl: cli can't create multiple labels with same key"
**Kubernetes version** (use `kubectl version`): v1.5.2

**What happened**:
I wanted to label a bunch of nodes with `role=prow` and `role=build` but I seem to only be able to do so with `kubectl edit`.

**What I tried:**

* `kubectl label node --all role=build role=prow` resulted in only the latter label applying.

* `kubectl label node --all role=build && kubectl label node --all role=prow` result

[2017-01-25 09:36] wojtek-t commented on #40291
After reverting the PR, we're back to being reliably green. So I'm closing this issue.

@shyamjvs will investigate the problems with his PR and will try to fix it and then resubmit for review.

[2017-01-25 09:38] kargakis commented on #40290
Agreed. @krmayankk please let me know if you think #36601 is not covering your use cases.

[2017-01-25 09:38] #40290 closed

[2017-01-25 09:49] gmarek commented on #40291
I think we should keep this open with different title, so we'll have all investigation in one place.

[2017-01-25 09:58] kargakis commented on #40207
ReplicaSets surface a condition when they can't create or delete a pod.
Eventually I would like to surface error conditions such as
ImagePullBackOff or CrashLoopBackOff as well but the ReplicaSets can't make
any decisions based on those conditions. Deployments, the resource
responsible for making sure that ReplicaSets are successfully deployed, are
more likely to act based on a failure condition.

[2017-01-25 10:19] shyamjvs commented on #40266
Closing this issue now since it's all green and we have #40291 investigating the problem. We can reopen this if/when it happens again.

[2017-01-25 10:19] #40266 closed

[2017-01-25 10:21] shyamjvs commented on #40139
@wojtek-t If we plan to neglect this flake, we can close this issue now. What's your opinion?

[2017-01-25 10:22] kargakis commented on #40383
@thockin @deads2k

[2017-01-25 10:29] groundnuty commented on #39224
localhost ubuntu 16.10
kubernetes nodes ubuntu 16.04
I managed to get a bit further but with each fix/hack new problem arises.

The tutorial in question
https://kubernetes.io/docs/getting-started-guides/ubuntu/manual/
is broken.

[2017-01-25 10:30] ApsOps opened #40415 "Upgrading to v1.5.2 creates duplicate replica sets"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): multiple replicaset, duplicate replicaset

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: **AWS**
-

[2017-01-25 10:37] kargakis commented on #40415
@kubernetes/sig-apps-bugs @kubernetes/sig-storage-bugs

[2017-01-25 10:44] wojtek-t commented on #40139
@shyamjvs - sorry for delay; No - we definitely should NOT neglect this issue. We definitely should add "retry" logic to this (and potentially other) places. This will benefit all suites, so it's worth it.

[2017-01-25 10:52] jsravn commented on #32881
Looks like there exists race conditions between external updates of `desiredStateOfWorld` and reconciler.go's asynchronous kick off of operations like MountVolume, which is the case I'm seeing. Seems like a lot of these edge cases could crop up here - maybe reconciler should lock changes to the desiredStateOfWorld while it's running?

[2017-01-25 11:08] kargakis commented on #40415
@kubernetes/sig-storage-misc was there some defaulting that got added in 1.5 that could result in pod templates to be updates during a 1.4->1.5 upgrade?

[2017-01-25 11:09] #37706 closed

[2017-01-25 11:10] kargakis commented on #40415
@ApsOps can you provide an example of a deployment that got updated automatically during the upgrade? I am interested specifically in the manifests of the two replica sets (one that was running in 1.4 and the new one that was created in 1.5).

[2017-01-25 11:11] jsafrane commented on #40415
@kargakis, no, we don't touch replica sets at all.

[2017-01-25 11:15] kargakis commented on #40415
@jsafrane you don't need to touch replica sets. If a new default is added in the Volumes API, **every** pod template is updated hence every replica set is updated hence every deployment is updated hence a new deployment hash is found hence a new replica set is created. A guess at this point but it's more than possible.

[2017-01-25 11:29] vaudk commented on #33447
I am running Kubernetes 1.5.2 on GCE
`Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:52:34Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}`

Still cant mount nfs due to this error:

`Mounting command: /home/kubernetes/bin/mounter
Mounting arguments: 10.3.242.

[2017-01-25 11:37] Andre-Freitas commented on #24687
only to inform that i was able to use the nfs example in GKE node version 1.4.8 but only when using Node image container-vm. If i tried to use with node image gci it doesn't work, giving this information in event history of the pod

[code]

[2017-01-25 12:09] irfanurrehman commented on #40398
I would take this up if its ok. (would be able to work on it monday onwards)
@nikhiljindal @madhusudancs

[2017-01-25 12:21] ApsOps commented on #40415
@kargakis The only difference b/w old and new replica sets is for fields: `pod-template-hash`, `name`, `resourceVersion`, `selfLink`, `uid`.

And this is happening for pods with `emptyDir` and `configMap` volumes as well.

[2017-01-25 12:24] jsafrane commented on #40415
AFAIK we don't add new fields or new defaults in 1.5.x in storage objects (PersistentVolume, PersistentVolumeClaim or StorageClass) nor in Pods (when it comes to storage).

[2017-01-25 12:35] jsravn commented on #33491
I'm not sure yet how to fix this. The detaching is okay if that node is truly dead (it's turned off or terminated). It's not okay if just kubelet has stopped for a while (then EBS will get stuck).

[2017-01-25 13:04] kargakis commented on #40415
A change in the pod template hash means that there is a change in the Deployment's pod template. All the fields you mentioned are not related to the Deployment pod template so there must be something else that triggered the change. Again if you can post the replica sets, that would be really helpful. Or you can at least send them over email if you don't want them publicly exposed.

[2017-01-25 13:09] csarora commented on #40306
@madhusudancs I updated client version to 1.5.2 and redeployed but still same error
**Error**
[SchedulerPredicates failed due to PersistentVolumeClaim is not bound: "my-fed-apiserver-etcd-claim", which is unexpected., SchedulerPredicates failed due to PersistentVolumeClaim is not bound: "my-fed-apiserver-etcd-claim", which is unexpected., SchedulerPredicates failed due to PersistentVolumeClaim is

[2017-01-25 13:26] ApsOps commented on #40415
@kargakis Well, I don't really see any difference in pod spec template. Here's the [diff of replica sets](https://www.diffchecker.com/P9VDdRXX).

[2017-01-25 13:33] deads2k commented on #40411
@liggitt related to discussion we had

[2017-01-25 13:35] deads2k commented on #40411
@ericchiang can you sketch out what you'd like to do?  Recall that this is a problem for more than just the admission plugin.  Anyone trying to get an SA credential will face the issue, even other clients or users trying to get long-lived, revocable tokens for scripts.

[2017-01-25 13:42] kargakis commented on #40415
Thanks, having a look

On Wed, Jan 25, 2017 at 2:26 PM, Amanpreet Singh <notifications@github.com>
wrote:

[2017-01-25 14:16] amarruedo commented on #2630
@joan38 @rushtehrani I use `init-containers` to `chown` the volume:

[code]

I define in my containers de UID and GID to a known one so I can do a `chown` in the `init-container`. I've used this aproach with `hostPath` volumes as well with no problems. When `FSGroup` gets available in vsphere volumes I'll use that.

Hope this helps.

[2017-01-25 14:18] soltysh opened #40422 "Deprecate and remove --record flag from kubectl"
Currently `--record` flag seems like a really bad decision made some time ago, and supporting it makes live harder when trying to modify any parts of code (see [this discussion](https://github.com/kubernetes/kubernetes/pull/40260#discussion_r97681489)). I'm proposing to deprecate that flag and drop it entirely in future version.

@liggitt fyi
@kubernetes/sig-cli-feature-requests opinions?

[2017-01-25 14:26] xsgordon commented on #39978
/cc @k8s-sig-openstack-bugs

[2017-01-25 14:32] fabianofranz commented on #40409
In progress here: https://github.com/kubernetes/kubernetes/pull/40359

[2017-01-25 14:34] xsgordon commented on #14809
/cc @k8s-sig-onprem-feature-requests

[2017-01-25 14:34] xsgordon commented on #14809
/cc @k8s-sig-openstack-feature-requests

[2017-01-25 14:36] liggitt commented on #40413
multiple labels with the same key never works, edit will let you submit that, but only one wins when applied

[2017-01-25 14:36] #40413 closed

[2017-01-25 14:47] liggitt commented on #39168
test-cmd.sh is passing with failing tests and allowing breaking changes to merge

[2017-01-25 14:47] liggitt commented on #39168
cc @fabianofranz

[2017-01-25 14:56] soltysh commented on #39168
😭 I know, I can't get to that one... once I'm done with openshift related bugs, I'll get to this one...

[2017-01-25 14:59] quinton-hoole commented on #38897
I strongly disagree Brian. More later...

On Jan 25, 2017 12:31 AM, "Brian Grant" <notifications@github.com> wrote:

[2017-01-25 15:06] deads2k commented on #39168
In the future, I think a "tests don't run" bug that doesn't have a resolution in few hours should revert the pull that cause the problem asap.  Now we're going to have a very difficult time sorting out all the breaks.

[2017-01-25 15:24] liggitt commented on #39168
the rewrite in https://github.com/kubernetes/kubernetes/pull/38844 was the cause. it is ignoring errexit from all tests within runTests

[2017-01-25 15:25] xsgordon commented on #36992
/cc @k8s-sig-openstack-bugs

[2017-01-25 15:46] deads2k commented on #39168
I'd support a deletion all test-cmd updates since the last working commit, stomp of test-cmd, comment out any currently failing test, p0 issue to fix up.

[2017-01-25 16:00] ericchiang commented on #40411
@deads2k little confused by that statement. This appears to just be an ordering issue in the admission plugin. This block here:

https://github.com/kubernetes/kubernetes/blob/d62fca231e529dad6faa2dc2b1fa0cf89ad09863/plugin/pkg/admission/serviceaccount/admission.go#L296-L317

[code]

Looks like it needs to be

[code]

[2017-01-25 16:02] rootfs opened #40427 "failed to attach gce pd to a FDQN node"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-01-25 16:04] rootfs commented on #40427
@saad-ali @justinsb

[2017-01-25 16:10] pwittrock commented on #39168
@jessfraz Would you jump on this?

[2017-01-25 16:18] kargakis commented on #40409
Merged, closing

[2017-01-25 16:18] #40409 closed

[2017-01-25 16:25] deads2k commented on #40411
How would any other client (which won't have access to the list of keys on the api-server) make the determination about which token to use?

[2017-01-25 16:31] liggitt commented on #39168
https://github.com/kubernetes/kubernetes/pull/40428 re-enables test-cmd.sh failures... working through the broken tests now

[2017-01-25 16:43] carldanley commented on #33447
Any word on this? I also get similar output:

[code]

[2017-01-25 16:45] fabianofranz commented on #39168
tks @liggitt

[2017-01-25 16:45] Jan-M commented on #38117
:+1: for the HTTP callback to the designated/configured operator would work for me.

[2017-01-25 16:46] fabianofranz commented on #40422
@soltysh do you mean only deprecating the flag and make it always record, or remove the entire recording feature?

[2017-01-25 16:49] umiddelb opened #40431 "kubectl warning when using Docker v1.13 on ARM64/Aarch64"
**What keywords did you search in Kubernetes issues before filing this one?**:
Docker v1.13

---

**BUG REPORT:**

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: ODROID-C2, Aarch64
- **OS** (e.g. from /etc/os-release): 16.04.1 LTS (Xenial Xerus)
- **Kernel** (e.g. `uname -a`): 4.10.0-rc5-c2-86591-gfac4d3e
- **Install tools**

[2017-01-25 16:56] soltysh commented on #40422
Flag and the recording functionality.

On Jan 25, 2017 5:46 PM, "Fabiano Franz" <notifications@github.com> wrote:

[2017-01-25 17:00] soltysh commented on #40422
This type of functionality should be addressed using advanced audit feature
rather then relying on users to do this. Besides some of the command
(apply, for example) record previous state of the resource, iirc.

On Jan 25, 2017 5:56 PM, "Maciej Szulik" <soltysh@gmail.com> wrote:

[2017-01-25 17:01] ericchiang commented on #40411
I'm making the assumption that all of the secret references in a service account point to valid secrets. So if there are multiple tokens referenced, clients could choose anyone and get valid credentials.

[2017-01-25 17:06] kargakis commented on #40431
@kubernetes/kubeadm-maintainers

[2017-01-25 17:21] Shubham-Sakhuja-Bose commented on #39578
I am still seeing this issue in minikube version: v0.15.0. I am trying to create a job for functional/perf tests, but if it returns non-zero exit code, it just keeps restarting.

[2017-01-25 17:23] xiang90 commented on #40403
@smarterclayton If my understanding is correct, it is already possible today in etcd3. You can have N range requests in one Txn to fetch N ranges.

[2017-01-25 17:23] ConnorDoyle commented on #5607
Coming into this late, just adding some notes about opaque resources. Opaque Integer Resources (OIRs) are alpha as of v1.5. The missing feature to support this use case is how to extend node-level isolation to an opaque resource. There are discussions happening this month about how to accomplish that. This is happening in sig-node and the resource management workgroup. At last mention, @derekwayne

[2017-01-25 17:24] xiang90 commented on #40403
@smarterclayton We need to rework the api/storage API to enable txn though. Then we can unlock more powerful features. /cc @timothysc @hongchaodeng

[2017-01-25 17:32] pires commented on #40431
Docker 1.13 just got released and we haven't tested it thoroughly.

[2017-01-25 17:38] liggitt commented on #40411
@ericchiang's fix looks correct for the particular problem of which one the admission plugin uses

[2017-01-25 17:49] #40396 closed

[2017-01-25 17:54] calebamiles commented on #40407
Hello @asarkar, thanks for submitting your question! We have been trying to steer general questions to Stack Overflow per [the guidance on getting help](https://kubernetes.io/docs/troubleshooting/). I would suggest asking your question on `#kubernetes-users` or `#kubernetes-dev` in the [Kubernetes Slack organization](slack.k8s.io). One benefit of using Stack Overflow is that it's much easier for o

[2017-01-25 17:54] #40407 closed

[2017-01-25 17:56] liggitt opened #40433 "test-cmd-util.sh: `kubectl delete deployment nginx` hangs"
test-cmd-util.sh tests have been failing without blocking the merge queue for several weeks (https://github.com/kubernetes/kubernetes/issues/39168)

while re-enabling the tests in https://github.com/kubernetes/kubernetes/pull/40428, a failure was detected here:
[code]

the marked line loops getting this response from the server:
[code]

I've switched that to a non-cascading delete in order to re-e

[2017-01-25 18:11] timstclair commented on #40248
It's an open question, and will likely depend on the deployment model. I'll post something once I have a better idea of how to approach it.

[2017-01-25 18:12] calebamiles commented on #40406
would someone from @kubernetes/sig-cli-misc help with routing this issue. @deads2k, @lavalamp I couldn't seem to find a GitHub team for API Machinery, could you also help with routing? Thanks!

[2017-01-25 18:19] jingxu97 commented on #24687
From your log, I think you are trying to use NFSv3 which is currently not
supported. Please use "/" instead of "/exports" for the mount path so that
you can use NFSv4. Please let me know if you have any issue with that.
Thanks!

On Wed, Jan 25, 2017 at 3:38 AM, Andre Freitas <notifications@github.com>
wrote:

--
- Jing

[2017-01-25 18:29] btipling commented on #39578
Yes @Shubham-Sakhuja-Bose this is by design. I think it's a bad design, but it's intentional. I've been told that if you don't want something to "run to completion" don't use a job. I guess jobs can only be perfectly written bug free code. ;P

[2017-01-25 18:30] jingxu97 commented on #33447
Please note that NFSv3 is currently not supported. Use "/" instead of "/exports" for the mount path so that NFSv4 will be used.
We are working on enable NFSv3 and will let you know soon when it is available. In the meantime, please try NFSv4 and let us know if there is any issue. Thanks!

[2017-01-25 18:32] Shubham-Sakhuja-Bose commented on #39578
@btipling thanks for the quick response! That's unfortunate, but pods it is!

[2017-01-25 18:33] chrislovecnm opened #40435 "Update cassandra container to newer ubuntu version"
The container used as the base image https://github.com/kubernetes/kubernetes/blob/master/examples/storage/cassandra/image/Dockerfile

Has to be updated.  The pgp command to import the keys is not working as well.  We a general update of the container Dockerfile and build.

Currently we are unable to build a new C* container.

[2017-01-25 18:33] btipling commented on #39578
Yeah my thing is to just run a prod that use cron on linux and avoid jobs and and kubernetes crons all together. I don't understand the kubernetes cron and job use case, but I love kubernetes and it's made by smart people so I'm sure there's a lot of thought that went into it snark aside.

[2017-01-25 18:35] carldanley commented on #33447
@jingxu97 Where do we use "/" instead of "/exports" ? Won't that mount the root directory?

[2017-01-25 18:38] yunzhu-li commented on #34413
I'm still hitting this on an 1.5.2 cluster, although much fewer times. Both master and node version are 1.5.2.

[2017-01-25 18:38] mikedanese commented on #40431
http://github.com/kubernetes/kubeadm would be the place to ask for support for latest docker versions. Right now we recommend and test against 1.11.2-0. The warning is legitimate. As they error says, you can choose to ignore the warning by passing --skip-preflight-checks.

[2017-01-25 18:38] #40431 closed

[2017-01-25 18:40] liggitt commented on #34413
do you have any pre-1.5.2 kubectl clients performing apply?

[2017-01-25 18:45] johnbelamaric commented on #25533
Any progress on this? I couldn't find anything in the 1.5 docs. Right now to get PTR support in CoreDNS we need to manually configure with the reverse zones. Would be nice to have the service and pod CIDRs available via an API so we could make it automatic.

[2017-01-25 18:50] deads2k commented on #40406
`kubectl create service` is strictly intended as the simplest possible starting point.  `kubectl set selector` can be used to set a selector for a service and you can pipe from one command to the other if you wish.  You could also issue a patch or run `kubectl edit` for an interactive flow.

@calebamiles in this case, probably @kubernetes/sig-cli-misc

[2017-01-25 18:52] quinton-hoole commented on #38897
@bgrant0607

TL;DR:

1. I would like to understand the rationale behind why destructive cascading deletion is currently the default in kubernetes (both in the API, and in kubectl).  I suspect that that might have been the wrong decision (although I would be happy to be convinced otherwise).
2. It is my opinion (and this seems to be shared by several others) that in some cases, defaulting to destru

[2017-01-25 18:53] colemickens commented on #40406
Great, thanks @deads2k. I simply didn't know that `kubectl set selector` even existed. Maybe this is more of a docs bug than anything. Please feel free to close this out, unless you or sig-cli-misc think there's value in leaving this open for a single-command solution.

[2017-01-25 18:54] jingxu97 commented on #33447
If you are using the examples/volumes/nfs, please do the following changes.

Edit examples/volumes/nfs/nfs-pv.yaml
change the last line to path: "/"

Edit examples/volumes/nfs/nfs-server-rc.yaml
change the image to the one that enabled NFSv4
image: gcr.io/google_containers/volume-nfs:0.8

[2017-01-25 18:57] lilnate22 commented on #40331
+1 to this, as noted in https://github.com/kubernetes/kubernetes/issues/40109
and https://github.com/kubernetes/kubeadm/issues/106

[2017-01-25 19:03] k8s-merge-robot opened #40437 "DiffResources {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/3231/
Failed: DiffResources {e2e.go}

[code]

Previous issues for this test: #33373 #33416

[2017-01-25 19:03] k8s-merge-robot opened #40438 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster/202/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32

[2017-01-25 19:03] k8s-merge-robot opened #40439 "ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster/216/
Multiple broken tests:

Failed: [k8s.io] Services should be able to create a functioning NodePort service {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28064 #34036

Failed: [k8s.io] Namespaces [Serial] should delete fast enough (90 percent of 100 names

[2017-01-25 19:05] errordeveloper opened #40440 "kubectl run --dry-run --output=yaml produces unusable YAML"
[code]

This should be a `kind: List` or a YAML multidoc. The JSON version is arguable more usable...

[2017-01-25 19:09] smarterclayton commented on #40403
@xiang90 thanks, I misinterpreted the docs on TxnRequest (I was focused on Compare, not RequestOp, which allows Range).  Would the impacts of:

[code]

scale well with N range requests?  Or do you foresee other limitations?

As far as storage api, I think we'd need to carefully understand how the interplay between authz and API would work.  I would prefer a model where the authz layer builds a fil

[2017-01-25 19:10] SteveLasker opened #40441 "kubectl get nodes fails when versions are incompatible"
**Kubernetes version**
kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83

[2017-01-25 19:11] deads2k commented on #40406
I think there's value in the commands as they are now. Having a separate `kubectl set selector` command is good for everyone and having very simple `kubectl create` commands makes getting skeleton objects really easy.  Fewer parameters makes starting points less scary and once you have yaml, you're just a `kubectl edit` or patch away from what you want.

[2017-01-25 19:11] #40406 closed

[2017-01-25 19:13] carsonoid opened #40442 "kubelet flapping in and out of Ready state."
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f

[2017-01-25 19:17] yujuhong opened #40443 "Bugs in docker 1.11 may stop kubelet from creating containers in the docker-CRI implementation"
Forked from #34289.

In some cases, when docker (1.11.2) fails to create a container, it will not release the "name" associated with the container. kubelet can never create a container with the same name again. This phantom container cannot be listed or removed. The only way to release the name is to restart the docker daemon.

[code]

The [deferred cleanup function](https://github.com/docker/dock

[2017-01-25 19:19] ncdc opened #40444 "Make all controllers wait for caches to sync before starting"
Follow-up to #40385

We need to make all controllers wait for the caches they rely on to sync before beginning their processing loops.

- [ ] `pkg/controller/volume/attachdetach/attach_detach_controller.go`
- [ ] ...

[2017-01-25 19:23] k8s-merge-robot opened #40445 "ci-kubernetes-e2e-gci-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/402/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371

Failed: [k8s.io] PersistentVolumes [Disruptive] when kubelet restarts Should test that a file written to the mount before kubelet restart is stat-able after restart. {Kub

[2017-01-25 19:24] k8s-merge-robot opened #40446 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/512/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #39209 #39790 #39878

[2017-01-25 19:33] k8s-merge-robot opened #40447 "ci-kubernetes-e2e-gci-gce-proto: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/3419/
Multiple broken tests:

Failed: [k8s.io] CronJob should remove from active list jobs that have been deleted {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Garbage collector should orphan pods created by rc if delete options say so {Kubernetes e2e suite}

[code]

Failed: Test {e2e.go}

[code]
Is

[2017-01-25 19:35] madhusudancs commented on #40398
@irfanurrehman go for it! Assigned the issue to you.

[2017-01-25 19:36] madhusudancs commented on #40398
@irfanurrehman also, please discuss before implementing the solution.

[2017-01-25 19:39] yujuhong commented on #19188
@wojtek-t, please also update the doc to reflect the changes to the secret updates. Thanks!
https://github.com/kubernetes/kubernetes.github.io/blob/release-1.5/docs/user-guide/secrets/index.md

[2017-01-25 19:43] yujuhong commented on #40443
The reliable reproduce was inspired by #40179

[2017-01-25 19:43] k8s-merge-robot opened #40450 "TearDown Previous {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/2255/
Failed: TearDown Previous {e2e.go}

[code]

Previous issues for this test: #39873 #40370

[2017-01-25 19:43] k8s-merge-robot opened #40451 "ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master/207/
Multiple broken tests:

Failed: [k8s.io] Pods should not start app containers if init containers fail on a RestartAlways pod {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29954

Failed: [k8s.io] Pods should invoke init containers on a R

[2017-01-25 19:48] lilnate22 opened #40452 "manifest file edits via vim break k8s due to vim dot files (k8s 1.5.1+)"
Following from issues created here:
https://github.com/kubernetes/kubernetes/issues/40109
https://github.com/kubernetes/kubeadm/issues/106
https://github.com/kubernetes/kubernetes/issues/40331

I created 3 k8s clusters, each created via kubeadm (following kubeadm guide + weave cni).
A. 1.5.0
B. 1.6.0-alpha
C. 1.6.0-alpha

I edited each of the 3 clusters `kube-apiserver.json` file in `/etc/kubernet

[2017-01-25 19:49] cjcullen commented on #40403
The "scoped integration" piece makes me think of discussions we've had about limiting per-Kubelet access to API objects to only what that Kubelet _needs_. This might not be as easy as a label-selector RBAC rule, but we should open up that discussion as well.

[2017-01-25 19:53] k8s-merge-robot opened #40453 "ci-kubernetes-e2e-gci-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/387/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2 {Kubernetes e2e suite}

[code]
Issues about this test specifically: #30078

Failed: [k8s.io] PersistentVolumes [Disruptive] when kubelet restarts Should test that a

[2017-01-25 19:53] k8s-merge-robot opened #40454 "DiffResources {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.4/2342/
Failed: DiffResources {e2e.go}

[code]

Previous issues for this test: #33373 #33416

[2017-01-25 19:53] k8s-merge-robot opened #40455 "DumpClusterLogs {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-updown/6539/
Failed: DumpClusterLogs {e2e.go}

[code]

Previous issues for this test: #33722 #37578 #38206

[2017-01-25 19:53] k8s-merge-robot opened #40456 "ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-master/209/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this te

[2017-01-25 19:53] k8s-merge-robot opened #40457 "ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master/202/
Multiple broken tests:

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31502 #32947

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code

[2017-01-25 19:54] k8s-merge-robot opened #40458 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-federation/1283/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #39209 #39790 #39878

[2017-01-25 19:56] spxtr commented on #24127
I think this is outdated.

[2017-01-25 19:56] #24127 closed

[2017-01-25 19:57] spxtr commented on #27631
We're building and testing kubernetes on kubernetes with bazel. There's more to do, of course, but I think we can close this.

[2017-01-25 19:57] #27631 closed

[2017-01-25 20:04] screeley44 opened #40459 "local-up-cluster.sh not playing nice with ~/.kube/config - causing login error"
using ./hack/local-up-cluster.sh and after executing the post completion steps get a login failure:

[code]

Post Completion Steps:
[code]

After speaking with @ncdc he asked me to try the following:

1.  remove the ~/.kube/config  file
2.  remove /var/run/kubernetes
3.  rerun local-up-cluster.sh

After those steps, IF I DO NOT run the post script steps from above where we are setting the config..

[2017-01-25 20:13] k8s-merge-robot opened #40460 "ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster-new/199/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27655 #33876

Failed: [k8s.io] [HPA] Horizontal pod autoscali

[2017-01-25 20:13] k8s-merge-robot opened #40461 "TearDown Previous {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/2256/
Failed: TearDown Previous {e2e.go}

[code]

Previous issues for this test: #39873 #40370

[2017-01-25 20:19] timothysc commented on #40403
So long as the abstraction for filtering is external to the client constructs.  I have to admit I'm left feeling uneasy at the thought of constructing multi-op filters on the fly and ensuring traceability, which tbh were not to good at today.  We're going to need a audit trail.

[2017-01-25 20:22] timothysc commented on #27631
@spxtr doc, or it didn't happen ;-)

[2017-01-25 20:23] k8s-merge-robot opened #40462 "ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster-new/210/
Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: http [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort:

[2017-01-25 20:24] k8s-merge-robot opened #40463 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/514/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #39209 #39790 #39878

[2017-01-25 20:29] liggitt commented on #17637
https://github.com/kubernetes/kubernetes/pull/33080 added PodSecurityPolicy authorization based on a `use` verb authorizer check

[2017-01-25 20:30] screeley44 commented on #40459
cc @deads2k

[2017-01-25 20:31] madhusudancs commented on #38893
@valichek `--service-cluster-ip-range` in federation API server does nothing. So just leave the defaults as is. In the next release (v1.6), we are removing that flag from federation.

[2017-01-25 20:33] k8s-merge-robot opened #40465 "ci-kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/384/
Multiple broken tests:

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28257 #29159 #29449 #32447

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matc

[2017-01-25 20:34] madhusudancs commented on #38893
@rbtcollins It is possible, but you have to orchestrate that manually. You just need to start the federation API server and controller manager pods in the new cluster and attach the etcd volume from the old cluster to those pods.

Please feel free to file an issue for `kubefed`. We will look into it when we design/implement HA support for federation control plane via kubefed.

[2017-01-25 20:37] Calpicow opened #40466 "kubelet does not reregister itself"
Using kubelet v1.5.2.

When a node drops out due to timeouts or network connectivity, it is not able to reregister itself. kubelet remains in healthy state, so it causes a silent failure.

Logs are littered with the following error messages:

`Jan 25 09:00:31 kube-minion-onprem-1 kubelet: E0125 09:00:31.734407   14189 kubelet_node_status.go:302] Error updating node status, will retry: no node inst

[2017-01-25 20:40] #39168 closed

[2017-01-25 20:40] #40016 closed

[2017-01-25 20:43] k8s-merge-robot opened #40468 "ci-kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/444/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #39788 #39877 #40371

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2 {Kubernetes e2e suite}

[code]
Issues about this test specifically: #300

[2017-01-25 20:43] k8s-merge-robot opened #40469 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.5/395/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #39788 #39877 #40371

[2017-01-25 20:43] k8s-merge-robot opened #40470 "ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master/229/
Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]

Failed: [k8s

[2017-01-25 20:44] k8s-merge-robot opened #40471 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/6541/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #39209 #39790 #39878

[2017-01-25 20:53] k8s-merge-robot opened #40472 "ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/196/
Multiple broken tests:

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31502 #32947

Failed: [k8s.io] Addon update should propagate add-on file changes [Slow] {Kubernetes e2e sui

[2017-01-25 20:53] k8s-merge-robot opened #40473 "TearDown Previous {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/2257/
Failed: TearDown Previous {e2e.go}

[code]

Previous issues for this test: #39873 #40370

[2017-01-25 20:53] spxtr commented on #27631
I could write a doc. All kubernetes bazel build jobs are running in [prow](https://github.com/kubernetes/test-infra/tree/master/prow), on GKE.

[2017-01-25 21:00] liggitt commented on #18725
I think this is broader than just pods. The ability to give access to a subset of secrets across namespaces is valuable. Use cases:

* ingress controller should only be able to get the secret containing the referenced serving cert/key for all the Ingress objects it is responsible for
* volume provisioner should only be able to get secrets intended for it

of the API mechanisms we currently have fo

[2017-01-25 21:01] liggitt commented on #18725
c.f. https://github.com/kubernetes/kubernetes/issues/40403

[2017-01-25 21:01] asktomsk commented on #38999
Any progress on this? I tasked to do the same operation.

[2017-01-25 21:08] dashpole opened #40474 "Eviction Manager races with Housekeeping loop and evicts extra pods"
cc: @kubernetes/sig-node-bugs @derekwaynecarr @vishh
Investigating [this flake](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-flaky/70) revealed that the eviction manager "fails" to evict a pod, and evicts the next pod as well.

It fails with the following error:
`eviction_manager.go:338] eviction manager: pod container-inode-hog-pod_e2e-tests-inode-ev

[2017-01-25 21:10] dashpole commented on #40474
can someone please add the sig-node label?

[2017-01-25 21:10] liggitt opened #40476 "kubelet access to API server should be subdivided"
In order to obtain the resources needed to run pods, Kubelets currently have broad access to the API:
* read any secret
* read any configmap
* read any persistentvolumeclaim
* create/update any pod and pod status
* create/update any node and node status

To properly secure individual nodes and limit the ability of a particular node to access the cluster, the kubelet should only be allowed to retri

[2017-01-25 21:10] liggitt commented on #40476
cc @kubernetes/sig-auth-feature-requests @kubernetes/sig-node-feature-requests

[2017-01-25 21:11] saad-ali commented on #40306
@justinsb @chrislovecnm Have you guys had a chance to play with federated clusters in AWS? Looks like attach volume is failing to find the node to attach volume to.

@csarora Can you clarify: was your PV manually created or via Dynamic Provisioning?

CC @jingxu97 @jsafrane

[2017-01-25 21:12] smarterclayton commented on #15826
Fixed with https://github.com/kubernetes/kubernetes/pull/39341

[2017-01-25 21:12] #15826 closed

[2017-01-25 21:13] jbhurat commented on #38785
@brendandburns can you please pick this up

[2017-01-25 21:13] k8s-merge-robot opened #40477 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew/3448/
Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313 #33380 #35444 #37814 #38204 #39786

[2017-01-25 21:13] k8s-merge-robot opened #40478 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew/4433/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #39788 #39877 #40371

[2017-01-25 21:15] liggitt commented on #40441
kubectl 1.4 cannot deal with unexpected groups (like federation). this was fixed in kubectl 1.5

[2017-01-25 21:17] liggitt commented on #40441
dupe of https://github.com/kubernetes/kubernetes/issues/39693, I think

[2017-01-25 21:23] k8s-merge-robot opened #40479 "TearDown Previous {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/2258/
Failed: TearDown Previous {e2e.go}

[code]

Previous issues for this test: #39873 #40370

[2017-01-25 21:25] ericchiang commented on #40476
Do we have any existing APIs that filter list and watch results like this?

Would it be reasonable to implement restrictions for gets on {secrets, configmaps, persistentvolumeclaim}, and updates on pods, then defer futher restrictions on {list,watch} operations once we figure out filtering? Or do nodes {list,watch} secrets today?

[2017-01-25 21:26] deads2k commented on #40476
they do not

Yes, label and field selection filters can be applied and they are available (and restrictable) on an http request, so it would be consistent to enforce it with an authorizer.

[2017-01-25 21:32] timstclair commented on #40476
I'm assuming the motivation here is to prevent a node compromise from being equivalent to a cluster compromise, by limiting the potential damage to only resources scheduled (transitively) to the node. Given this goal, what's to stop an attacker from simply updating a pod spec to reference the resource they want access to? An obvious solution is to prevent the node from posting anything other than

[2017-01-25 21:34] bpulito commented on #23864
If you look at where most of these requests seem to be coming from (media servers and Voip) I think we could start with only enabling port ranges for pods. Until k8 provides native support for UDP based protocols like SIP and RTP, I don't see why k8 services would need to expose large port ranges. For the most part, media services currently require pods to be delivered in              "hostNetwork

[2017-01-25 21:35] saad-ali commented on #31272
No that was a temporary work around, we still need a "real architectural fix" for this.

Some possible solutions:
1. All exec calls are wrapped and executed on separate goroutines with timeouts (as @pmorie proposed in the very beginning). This may result in leaking threads but will prevent the primary process threads from hanging.
2. Check mount table instead of `stat` syscalls. As @eparis pointed

[2017-01-25 21:35] ericchiang commented on #30650
Since the original reason this was opened is largely resolved @mlbiam are you okay with closing this? We should open a new one for the alternative flag.

[2017-01-25 21:35] liggitt commented on #40476
Pod spec is immutable

[2017-01-25 21:37] #40411 closed

[2017-01-25 21:43] bpulito commented on #23864
By the way, I'm also very interested in a native SIP load balancer for k8. If this discussion ultimately leads the group in that direction I'm all in.

[2017-01-25 21:43] mikedanese commented on #39816
Repro instructions on master in GCE:
[code]

[2017-01-25 21:43] k8s-merge-robot opened #40481 "ci-kubernetes-e2e-gce-federation: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/791/
Multiple broken tests:

Failed: [k8s.io] Federation replicasets [Feature:Federation] Federated ReplicaSet should not be deleted from underlying clusters when OrphanDependents is true {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Federation namespace [Feature:Federation] Namespace objects shoul

[2017-01-25 21:43] k8s-merge-robot opened #40482 "ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster/203/
Multiple broken tests:

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31277 #31347 #31710 #32260

Failed: [k8s.io] V1Job

[2017-01-25 21:43] k8s-merge-robot opened #40483 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-test/631/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #39788 #39877 #40371

[2017-01-25 21:44] thockin opened #40484 "kubectl edit broken @ head?"
I turned up a cluster from head yesterday:

[code]

???

@kubernetes/sig-cli-bugs

[2017-01-25 21:44] k8s-merge-robot opened #40485 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/516/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #39209 #39790 #39878

[2017-01-25 21:44] k8s-merge-robot opened #40486 "UpgradeTest {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new/205/
Failed: UpgradeTest {e2e.go}

[code]

[2017-01-25 21:46] thockin commented on #40484
Seems fixed today, nevermind.

[2017-01-25 21:46] #40484 closed

[2017-01-25 21:53] k8s-merge-robot opened #40488 "ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new/195/
Multiple broken tests:

Failed: [k8s.io] Services should work after restarting kube-proxy [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29514

Failed: [k8s.io] DNS should provide DNS for pods for Hostname and Subdomain Annotati

[2017-01-25 21:53] k8s-merge-robot opened #40489 "ci-kubernetes-e2e-gci-gke-multizone: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/3659/
Multiple broken tests:

Failed: [k8s.io] Services should be able to up and down services {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26128 #26685 #33408

Failed: [k8s.io] ReplicationController should serve a basic image on each replica with a private image {Kubernetes

[2017-01-25 21:53] k8s-merge-robot opened #40490 "ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster/193/
Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable [replication co

[2017-01-25 22:00] bgrant0607 commented on #38897
@quinton-hoole

Some history may be traced from #1535. Cascading by default is the behavior expected by the vast majority of users. Most users want to think of Deployments, ReplicaSets, etc. as atomic entities. Originally we orphaned by default and it was a significant cause of user friction.

The default in kubectl is not changing without evidence that it is the cause of catastrophies and without

[2017-01-25 22:00] lavalamp commented on #39816
@mikedanese so you don't even need to have something with an owner ref pointing at the TPR to trigger this?

[2017-01-25 22:03] smarterclayton opened #40491 "Panic during validation (can crash the server)"
We recently added protection against serializing internal types (api.Taint will panic) to prevent incorrect serialization (which has been a serious problem).

However, it turns out validation errors are calling json.Marshal on values, which includes taint values passed to server validation.  @thockin you added this for readability.  Can you suggest an alternative?  As long as validation is using i

[2017-01-25 22:03] smarterclayton commented on #40491
Saw this happen in a GCE run

[2017-01-25 22:04] liggitt commented on #39816
I would guess an ownerRef pointing to any arbitrary kind would trigger the same behavior

[2017-01-25 22:06] madhusudancs commented on #40306
@saad-ali @csarora is using kubefed which dynamically provisions the PV. The code is here - https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/kubefed/init/init.go#L399

[2017-01-25 22:07] mikedanese commented on #39816
@lavalamp the etcd operator creates etcd pods with:
[code]
I suspect @liggitt is correct.

[2017-01-25 22:08] smondet opened #40492 "kubectl get pod require `-a` even with specific pod-id (when pod failed)"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04

**What happened**:

I have a pod `3676380c-18fe-5fc3-94e2-319f27f7988e` that failed.

[code]

returns nothing

[code]

returns the right thing.

It's a bit silly to require `-a` when a pod id is explicitly given.
I think t

[2017-01-25 22:09] lavalamp commented on #39816
Ah, the operator triggers it. OK, I see.

[2017-01-25 22:10] xiang90 commented on #39816
etcd operator does not rely on the k8s GC features (it has internal GC). But it does write owner ref. when k8s gc works for tpr, we will remove our temp internal GC. but now the owner ref causes controller manager to spam.

[2017-01-25 22:19] #40465 closed

[2017-01-25 22:19] #40453 closed

[2017-01-25 22:19] #40445 closed

[2017-01-25 22:19] #40468 closed

[2017-01-25 22:20] #40477 closed

[2017-01-25 22:20] #40439 closed

[2017-01-25 22:20] #40472 closed

[2017-01-25 22:20] #40437 closed

[2017-01-25 22:20] #40454 closed

[2017-01-25 22:20] #40462 closed

[2017-01-25 22:21] #40455 closed

[2017-01-25 22:21] #40488 closed

[2017-01-25 22:21] #40460 closed

[2017-01-25 22:21] #40450 closed

[2017-01-25 22:21] #40461 closed

[2017-01-25 22:21] #40473 closed

[2017-01-25 22:21] #40479 closed

[2017-01-25 22:21] #40469 closed

[2017-01-25 22:21] #40478 closed