[2017-06-05 18:01] janetkuo commented on #46981
/sig apps
/assign @janetkuo

[2017-06-05 18:02] deads2k commented on #46736
Ok.  Not a blocker for 1.7, but if the patch is reasonable as a fix we can merge it into the service stream.  For 1.7, I'd still recommend moving to CRD as quickly as possible.

[2017-06-05 18:08] yujuhong commented on #43253
#44061 (merged) added a new ContainerRuntimeOptions struct as part of the KubeletFlags that @mtaufen added. The struct should include most (if not all) container-runtime-specific fields/flags. These flags *may* be deprecated and eventually removed in the future when we support setting up the standalone CRI runtime (shim) in the cluster lifecycle tools.

Please add new runtime-specific flags to `Co

[2017-06-05 18:08] #43253 closed

[2017-06-05 18:14] enisoc commented on #46736
@deads2k I was able to reproduce this with CRD on master HEAD. What level of tests are there? Anything e2e?

[2017-06-05 18:17] yujuhong commented on #41839
No one had time dedicated to do this in 1.7. Keeping this open and punting it every release seems meaningless. Maybe we should just do a fixit day.

Closing this.

[2017-06-05 18:17] #41839 closed

[2017-06-05 18:18] lxpollitt commented on #39113
I guess it depends on what we mean by "realistic".  Do we mean not regarded as "steady state" that the SLOs assume? Or do we mean won't commonly be something users encounter?

If the latter then I think having k8s cluster running near resource capacity with ~30 pods per node is realistic.  And nodes in a k8s cluster unexpectedly restarting (perhaps after being preempted, or docker or kubelet resta

[2017-06-05 18:19] yujuhong commented on #27097
#45614 added methods in CRI to get container stats. We didn't have time to plumb this through kubelet, so CRI runtimes cannot use it yet. I will file a separate issue for finishing that.

[2017-06-05 18:19] #27097 closed

[2017-06-05 18:20] lxpollitt commented on #39113
Is that the right link?

[2017-06-05 18:20] mirath commented on #23255
Is there an issue open for the du processes eating up IO? I don't know if the issue is resolved as this issue is close, or if there is no open issue to begin with

[2017-06-05 18:21] yujuhong commented on #33048
The API is done, but the implementation is not yet completed. Moving this to 1.8.

[2017-06-05 18:28] MrHohn commented on #46918
This seems pretty likely a quota issue. Many of them started [passing again 9:31am](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/6802) after the [janitor](https://k8s-testgrid.appspot.com/maintenance#ci-janitor) cleanuped the old gce resources. Probably some tests are leaking resources.

Though it doesn't occur on other CI like [gce-slow](https://

[2017-06-05 18:34] mml commented on #6080
Alex, the feature does not have a name, but it should be in 1.7.  See
#45748.

On Sun, Jun 4, 2017 at 1:13 AM, Alex <notifications@github.com> wrote:

[2017-06-05 18:36] thockin commented on #39113
go is our internal URL shortener.

https://docs.google.com/document/d/15rD6XBtKyvXXifkRAsAVFBqEGApQxDRWM3H1bZSBsKQ/edit#heading=h.bfo14krwzxke

On Mon, Jun 5, 2017 at 11:20 AM, Alex Pollitt <notifications@github.com>
wrote:

[2017-06-05 18:38] thockin commented on #39113
30 pods per node is realistic.  Bulk starting all 30 at the same time is
not :)

On Mon, Jun 5, 2017 at 11:19 AM, Alex Pollitt <notifications@github.com>
wrote:

[2017-06-05 18:38] yujuhong commented on #39113
I pasted the wrong link, but I don't think the doc is public anyway even though it said "shared publicly". I removed the link to not mislead more people into clicking it.

[2017-06-05 18:39] mml commented on #45706
#46871 is closely related, and I'm working in this area.  @justinsb, I
think it makes most sense for you to either take both of these issues, or
assign both to me.  Your call.  :-)

On Fri, Jun 2, 2017 at 12:34 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2017-06-05 18:39] caesarxuchao opened #46982 "gce-reboot fails since Jun. 3"
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-reboot?before=8374

Judging by the timestamp, it's this batch of merge caused the failure:
[code]
    NONE
[code]

[2017-06-05 18:41] timstclair opened #46983 "GLBC controller is accessing the API through the insecure port"
The GLBC controller is accessing the insecure port on the master, which means it skips authentication. This is an issue for audit logging, as it shows up as `user="system:insecured"` rather than a proper service account identity.

To fix this, the pod should be configured with a service account identity, and the `--running-in-cluster` flag should be set to true so that the kubernetes client is con

[2017-06-05 18:49] yujuhong commented on #39113
We could do it if we define a more relaxed goal (not literally at the same time) AND invest more efforts into optimizing the architecture/implementation. All I wanted to say is that this deserves a wider discussion and may not be easily achievable in a short time frame.

And in the cases you described, kubelet does try to start all the pods as soon as possible. It just doesn't complete (or report

[2017-06-05 18:53] yujuhong opened #46984 "CRI: instruct kubelet to (optionally) consume container stats from CRI"
#45614 augmented CRI with container stats method.
 - [ ] Make cadvisor (`pkg/kubelet/cadvisor`) implement the container stats part of the summary api (`pkg/kubelet/server/stats`).
 - [ ] Refactor kubelet to have the flexibility to consume container stats either from cadvisor or from CRI.

We may also need to modify cadvsior to report UUID for the as the storage identifier.

Related issues:
 - Imag

[2017-06-05 18:53] m-burst commented on #43516
Setting the CPU limits for pods actually solved the problem (at least for now) -- thanks @gytisgreitai!
It seems that the pods used up so much CPU that even sshd didn't work :)
I'll write here again if the problem comes back.

[2017-06-05 18:55] timothysc commented on #489
@roberthbailey @dchen1107 @ncdc @lukemarsden @luxas @aaronlevy - Per conversations this last week, we had hoped to address very basic checkpointing to allow for cluster bootstrapping for self-hosting in the 1.8 cycle so I'm adding names here.

Our goals are to  try to de-dupe pieces of boot-kube such that they are community managed.

[2017-06-05 18:59] dashpole commented on #21022
AFAIK, we dont support running the kubelet in a container.
The particular log message in question generally appears when a container is deleted, and cAdvisor was traversing that container's writable layer using du or find.  This is generally not a problem.  Does anyone see the same message multiple times for the same container?  That would indicate something strange is going on.  Otherwise, it is

[2017-06-05 19:04] deads2k commented on #46736
@enisoc most of them and specifically a storage one.  You're saying we have the `ThirdPartyResources always end up in default namespace (which is causing confusion reported in bug)` from above?

[2017-06-05 19:06] dashpole commented on #23255
I dont see any issues directly related to diskio, but https://github.com/google/cadvisor/issues/735 has been open for a long time and is related to CPU usage.

[2017-06-05 19:07] enisoc commented on #46736
@deads2k No, I don't see any evidence that they always end up in the default namespace (neither for TPR nor CRD). I'm not sure what that's referring to.

What I was able to reproduce is the bug described at the top of this issue: Create item in namespace, delete namespace, item remains. I observed this for TPR on `release-1.6` and `master`, and for CRD on `master`.

[2017-06-05 19:17] mirath commented on #23255
So the issue highlighted by @robinmonjo is not resolved I assume. Is there a timeline for a fix?

[2017-06-05 19:20] enisoc commented on #46736
The problem seems to be that `thirdpartyresources` is misspelled as `thirdpartyresource` in this line:

https://github.com/kubernetes/kubernetes/blob/0cff839/cmd/kube-controller-manager/app/core.go#L257-L266

If I fix that, namespace cleanup works for TPR. However, for CRD, now namespace cleanup gets stuck and controller manager logs this:

[code]

[2017-06-05 19:26] antoineco commented on #23255
This issue is closed and a patch was submitted for it. The context I described above was different since the high read I/O I observed in v1.2.0 was being triggered by a host mount (the entire `/` partition to be more precise).

I think the best way to bring attention to this "new" problem is to open a new issue with the details of what's happening.

[2017-06-05 19:45] #43626 closed

[2017-06-05 19:45] #43358 closed

[2017-06-05 19:45] #43236 closed

[2017-06-05 19:46] #32044 closed

[2017-06-05 19:46] #36554 closed

[2017-06-05 19:46] #36628 closed

[2017-06-05 19:47] #38159 closed

[2017-06-05 19:48] cmluciano commented on #43240
@vishh

- Enable checkpointing for GPUs
  - Not sure if we want a physical file that persists similar to #489
  - Do we want something more specific than calling the CRI checkpoint API?
- Enable whitelisting GPUs per pod sandbox and disallow others from utilizing them
  - Requires CRI device cgroup management

[2017-06-05 19:48] luxas commented on #30558
@mengqiy Are you working on this?

[2017-06-05 19:49] gjoris commented on #45827
I'm with @chrismcv , also tried the ```echo -n```, but no luck at all.

And it must be a Kubernetes thing: I'm running an Elastic Stack in Kubernetes, and the azure-repository plugin for Elasticsearch works perfectly: it can write without any issue to the Azure File storage. FYI, I'm running on Kubernetes 1.5.3 on Azure.

[2017-06-05 19:51] bowei commented on #44231
@dnardo

[2017-06-05 19:55] wojtek-t commented on #46705
@hongchaodeng - I think either I misunderstood you or you misunderstood me.
The option that I'm suggesting is to:
- still do compaction every X minutes (as we are doing now)
- but instead of compacting to "current resource version", compact it to sth like "current resource version - 1000" or sth like that.

[2017-06-05 20:01] bowei commented on #28337
/assign

[2017-06-05 20:01] bowei commented on #28337
/close

[2017-06-05 20:01] #28337 closed

[2017-06-05 20:05] hongchaodeng commented on #46705
The current code is compacting the version of X minutes ago, not current time. Right?

[2017-06-05 20:05] timstclair commented on #7881
Duplicate of https://github.com/kubernetes/kubernetes/issues/40248

[2017-06-05 20:05] #7881 closed

[2017-06-05 20:12] foxish commented on #44407
@crimsonfaith91 PTAL

[2017-06-05 20:12] wojtek-t commented on #46705
Ohh, if so, then I guess I misunderstood the code. If that's the case, I'm fine with that.

[2017-06-05 20:14] xiang90 commented on #46705
@wojtek-t

Yea. If we already use time based approach, then it should be fine. I feel time based makes more sense since the main use case is to deal with temp reconnection, which should happen within minutes. or a full recovery should be triggered anyway.

[2017-06-05 20:17] wojtek-t commented on #46705
+1

[2017-06-05 20:19] prat0318 commented on #22368
@JeanMertz i noticed that `.Values.envs` as being a dict won't ensure that the order is always the same. Hence, you could roll a deployment even if there was no actual change in env (but just a order change in the map)

[2017-06-05 20:22] csbell commented on #46925
This appears to be related to recent changes introduced by Daemonset history PR #45924. It is flaky based on CI and pull outputs.

@madhusudancs noted: Despite the output in CI which attributes test failures to either configmap, secrets or daemonsets, the errors are in fact all daemonsets (this is due to a mismatch between the ginkgo selection criteria and how the CRUD-based testing is done in the

[2017-06-05 20:24] smarterclayton commented on #46851
@liggitt this sounds like your slow informer lag thing

[2017-06-05 20:26] timothysc commented on #39559
I'm going to closeout this issue and we can address on a per-PR basis going forwards.

Thanks to all for the help in this area.

[2017-06-05 20:26] #39559 closed

[2017-06-05 20:31] whitecolor commented on #6080
@mml thanks for pointing to PR.

[2017-06-05 20:47] hongchaodeng opened #46989 "Unable to apply anti-affinity rules on "all namespaces" for pods"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

pod anti-affinity

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

k8s: 1.6.4
client-go: v3.0.0-beta

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- *

[2017-06-05 20:48] hongchaodeng commented on #46989
@kubernetes/sig-scheduling-bugs @kubernetes/sig-api-machinery-bugs

[2017-06-05 21:00] mengqiy commented on #30558
@luxas Not any more.
Feel free to take this if you want. I can help review.

[2017-06-05 21:16] caesarxuchao commented on #45143
It's close to the foreground GC, where an object is deleted only after all its dependents are deleted. The difference is that the garbage collector controller will actively delete the dependents, but here i guess we don't want the GC controller to delete the pods.

IMO the pvc case is different from the graceful deletion of pods in that the [DeletionGracePeriodSeconds](https://github.com/kubernete

[2017-06-05 21:21] piosz commented on #27630
It's actually obsolete.

[2017-06-05 21:21] #27630 closed

[2017-06-05 21:25] caesarxuchao commented on #11173
`kubectl patch` doesn't support `--validate` anymore. Also, if an invalid patch is sent, kubectl will report "object is not patched". So it's fixed.

[2017-06-05 21:25] #11173 closed

[2017-06-05 21:28] crassirostris opened #46990 "Fluentd-gcp has a bad image"
Fuentd-gcp image in version `2.0.4`, used in https://github.com/kubernetes/kubernetes/pull/45892 contained a bad version of the fluentd (0.14), which introduced regression, detected by the load tests

/cc @piosz

[2017-06-05 21:42] caesarxuchao commented on #46982
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-reboot/8358/artifacts/bootstrap-e2e-minion-group-bc9x/kubelet.log
[code]

[2017-06-05 21:44] caesarxuchao commented on #46982
@mikedanese looks like it's your pr causing the failure ^^^

[2017-06-05 21:45] caesarxuchao commented on #46982
cc @dchen1107

[2017-06-05 21:47] timothysc commented on #43320
Closed #43525

[2017-06-05 21:47] #43320 closed

[2017-06-05 21:54] enisoc commented on #46736
Regarding namespace cleanup getting stuck for CRD after the "fix", the error on the apiserver side is:

[code]

According to the stack trace, the error comes from here:

https://github.com/kubernetes/kubernetes/blob/0cff839/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go#L1102

[2017-06-05 21:54] xiangpengzhao commented on #25406
/sig docs

[2017-06-05 22:02] hongchaodeng commented on #46989
Actually there is already another similar issue: https://github.com/kubernetes/kubernetes/issues/43320 .

[2017-06-05 22:05] r4j4h commented on #42438
Will 1.4 be included as well?

[2017-06-05 22:07] liggitt commented on #46989
I think it's considered a feature, not a bug

[2017-06-05 22:18] xiangpengzhao commented on #25441
/sig testing

[2017-06-05 22:19] bspradling8 opened #46994 "Federation: kubectl rollout status with Federated Deployment"
It looks like currently with Federated Deployments, the federated API server will get stuck at waiting with 0 out of `n`. I can only assume that this occurs because the federationa API server knows about the deployment and how many replicas there should be but isn't the one responsible for running the pods therefore stuck at 0. Is there a plan to support this functionality in Federated Deployments

[2017-06-05 22:22] david-mcmahon commented on #46867
Root cause is pending commit - https://github.com/kubernetes/release/pull/328

[2017-06-05 22:29] bspradling8 commented on #46994
@kubernetes/sig-federation-misc

[2017-06-05 22:35] ixdy commented on #45298
/assign

The bazel go rules now support stamping multiple packages, so I'm working on getting that set up.

[2017-06-05 22:39] k82cn commented on #46989
There's a PR https://github.com/kubernetes/kubernetes/pull/44666 for that.

[2017-06-05 22:45] saad-ali commented on #46882
PR https://github.com/kubernetes/kubernetes/pull/44537 introduced this check:

[code]

This is changed a fundamental behavior of the attacher and I do not see a strong justification for doing so. Having all attach methods silently succeed if `devicePath` is empty *is not ok*.

@FengyunPan could you please provide justification. Otherwise I propose reverting that change.

[2017-06-05 22:56] hongchaodeng commented on #46989
@k82cn
Looks forward to the PR being merged

[2017-06-05 22:59] msau42 commented on #46882
As an alternative to #44537, can we do a similar method in #46182 to wait for the pending operation to complete?

[2017-06-05 23:00] k82cn commented on #43607
It seems all work items for 1.7 are done, should we move this to 1.8 milestone?

[2017-06-05 23:07] choppsv1 commented on #23187
I've hit this just now with a custom etcd/k8s setup. I hit this after reboot where the data dir has been created. It works on initial start. Should the INITIAL environment variables not be set after the initial setup boot?

[2017-06-05 23:08] vitorarins commented on #40913
@brendandburns thank you for the response. Any idea when is this going to be solved?

[2017-06-05 23:10] msau42 opened #46995 "Need e2e test for PV multizone"
For statically created PVs, the persistent volume label admission controller adds the zone label to the PV object.  If the admission controller is not enabled or has some bugs, then an e2e test would be helpful for catching these errors.

/assign

[2017-06-05 23:11] hongchaodeng commented on #46989
Does that mean this would be fixed in 1.8 ?

[2017-06-05 23:11] Q-Lee opened #46996 "kubelet fails to admit containers with valid securitycontexts"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubelet securitycontext

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.7.0-beta/1.8.0 (HEAD)

**Environment**:
- **Cloud provider or hardware configuration**: gce
- **OS** (

[2017-06-05 23:11] Q-Lee commented on #46996
/sig node

[2017-06-05 23:21] roberthbailey commented on #46918
The root cause is ~2 years old from https://github.com/kubernetes/kubernetes/pull/13005. We are parsing human readable gcloud output, which recently changed. Additionally, when we fail to create the LB we leak the static IP address. It's failing on GKE but not GCE because GKE uses a pre-release version of gcloud as a canary.

@dchen1107

[2017-06-05 23:23] ixdy commented on #25441
/sig obsolete
/close

[2017-06-05 23:23] #25441 closed

[2017-06-05 23:24] janetkuo opened #46998 "GC controller doesn't orphan controllerrevisions when it should"
DaemonSet creates controllerrevisions with controller ref to itself. When the DaemonSet controller is deleted non-cascadingly, its controller revision is still deleted by GC controller.

cc @kow3ns

/assign @caesarxuchao

[2017-06-05 23:24] janetkuo commented on #46998
/sig api-machinery

[2017-06-05 23:25] mikedanese opened #46999 "enable Node authorizer and NodeRestriction admission controller in GCE"

[2017-06-05 23:25] k82cn commented on #46989
yes, at least 1.8.

[2017-06-05 23:26] caesarxuchao commented on #46998
The GC failed to retry patching on 422 conflict. Fixing it in #47000

[2017-06-05 23:28] pwittrock opened #47001 "add unit test cases for kubelet.util.sliceutils"

[2017-06-05 23:28] mml opened #47002 "When StatefulSet can't create a Pod, event messages could be more helpful"
I created a SS to run etcd.  I notice 2 pods running, but not all 3.

[code]

1. The "POST operation could not be completed" message isn't very helpful.  It's true, but do we know anything more?  An HTTP status code even?
2. Actually, despite all these events, the pods were created fine, but the order the events are listed in doesn't really convey that.

[code]

[2017-06-05 23:29] mml commented on #47002
/sig apps @kow3ns

[2017-06-05 23:32] janetkuo commented on #46998
log:

[code]

[2017-06-05 23:36] hongchaodeng commented on #46989
@k82cn
What we can do then if we are using 1.6 or 1.7 ?

[2017-06-05 23:39] mitcheaton1 commented on #26299
Is there any plan to have kubectl apply -f detect changes in the secrets reference?

[2017-06-05 23:43] jpoon commented on #45827
Tried on a 1.5.3 cluster and it works fine for me.

1. Deployed 1.5.3 using ACS
[code]
2. Created an azure storage account and a new file share titled `testFileShare`
3. Created the k8s secret:

[code]

where the <name/key> values were generated from `echo -n <name/key> | base64`

4. Created a Pod that used the fileshare

[code]

5. I see that the pod runs successfully and after with `kubectl exec

[2017-06-05 23:43] #33483 closed

[2017-06-05 23:49] euank commented on #28721
Hopefully this is stale, closing.

[2017-06-05 23:49] #28721 closed

[2017-06-05 23:50] dnardo commented on #46651
I still think there is a race here that ip-masq-agent may not fix.  Consider a node is reboot and begins bringing up pods, if that happens somehow before the init script that was flushing IPTables then we will be left without the dnat entries for that pod.  While I think that ip-mas-agent helps in this case, I think we should make the init scripts more consistent.  Kubelet should start until the r

[2017-06-05 23:53] carlory opened #47006 "What's the purpose of running a kubelet in a container?"
can you help me ?

1. I couldn't  clearly understand what the purpose of running a kubelet in a container ？
2. what is the benefit of this ?
3. Is this necessary to achieve self-hosted kubelet?

[2017-06-05 23:56] carlory commented on #47006
@k8s-merge-robot /sig node

[2017-06-05 23:57] carlory commented on #47006
@kubernetes/sig-node-misc

[2017-06-06 00:04] carlory commented on #47006
@dchen1107 Excuse me, can you help me ?

[2017-06-06 00:12] verult commented on #42438
Here you go, my apologies.

[2017-06-06 00:13] mengqiy commented on #39500
Closing this since it has been resolved, see kubernetes/charts#366

[2017-06-06 00:13] #39500 closed

[2017-06-06 00:16] jezell commented on #45368
Any idea when there might there be an official cos release with the fix? Is best strategy to build from source until then? Currently causing panics in our live GKE clusters a few times per day.

[2017-06-06 00:17] caesarxuchao commented on #46998
@janetkuo Could you look into why the PATCH failed with 422? 422 is [StatusUnprocessableEntity](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go#L316-L318)

[2017-06-06 00:23] nicksardo commented on #46645
@dgpc, we discussed the options at hand: changing the default RPS value or designing a way to plumb a value to the ingress controller. Changing the default isn't viable without providing a knob to users. While you may be okay with overloading a certain region, some users may want the opposite.  Designing a knob quickly becomes complex when considering k8s autoscaling...

We decided to keep the imp

[2017-06-06 00:32] janetkuo opened #47008 "Patching DaemonSet history to remove its controller ref always fails"
Patching controllerrevision while adopt/orphan failed, because the `.data` field is immutable:

[code]

[2017-06-06 00:33] yujuhong commented on #46996
I'll send a fix shortly.

[2017-06-06 00:35] caesarxuchao commented on #47008
"field is immutable"

[2017-06-06 00:39] timothysc commented on #43523
I don't think anyone has started this, punting out.

[2017-06-06 00:43] #46971 closed

[2017-06-06 00:45] caesarxuchao commented on #47008
Is there other party changing [Data](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/v1beta1/types.go#L431) frequently? Perhaps the Data is changed by other party before the patched Object is validated?

Or maybe it has something to do with `Data` being of type `runtime.RawExtension`, maybe patch doesn't work well with this type?

[2017-06-06 00:46] #46995 closed

[2017-06-06 00:46] janetkuo commented on #47008
Not possible. controllrerevision `.data` cannot be changed, it's an immutable field

[2017-06-06 00:46] #39730 closed

[2017-06-06 00:48] msau42 opened #47010 "Need e2e tests for flex volume"
Flex volumes keeps breaking every release.  We need some basic tests and add it to the alpha features suite.

[2017-06-06 00:49] msau42 commented on #47010
/sig storage

/assign @verult @chakri-nelluri

[2017-06-06 00:50] caesarxuchao commented on #47008
cc @mengqiy since it might be a patch issue.

[2017-06-06 00:52] mengqiy commented on #47008
@janetkuo Latest API server and latest kubectl?

[2017-06-06 00:54] verult commented on #47010
/assign @verult

[2017-06-06 00:55] janetkuo commented on #47008
It's not kubectl specific. Found this in `KubeClient.AppsV1beta1().ControllerRevisions(namespace).Patch(name, types.StrategicMergePatchType, data)` when DaemonSet controller is trying to orphan its history. Also likely caused GC controller to fail orphan it too.

[2017-06-06 01:20] janetkuo commented on #47008
To reproduce it:

[code]

It could be a controller revisions bug. cc @kow3ns

[2017-06-06 01:24] janetkuo commented on #47008
Not sure why the error message showed controllerrevisions `.data` as type `runtime.Unknown`. Maybe DaemonSet controller is not creating the history right?

[2017-06-06 01:24] feiskyer opened #47012 "incompatible change of kubelet CRI package"
We have moved CRI from [api/v1alpha1/runtime](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/api/v1alpha1/runtime) to [apis/cri/v1alpha1](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/apis/cri/v1alpha1), which changed the package name of CRI. This would cause a significant problem: old-versioned runtime (based on CRI in v1.6) doesn't work with latest kubelet v1

[2017-06-06 01:26] nicksardo commented on #33483
How many internal load balancers do all of you estimate you'll run per K8s cluster (or region)? Keep in mind that this is only for exposing K8s services externally of the K8s cluster but within the same GCP subnetwork.

Appreciate your responses, thanks.

[2017-06-06 01:34] janetkuo commented on #47008
It's probably something to do with DaemonSet.

/assign @janetkuo

[2017-06-06 01:35] rkoval commented on #46618
@devent if you change the `valueFrom.fieldRef.fieldPath` from the `MY_POD_NAMESPACE` from `metadata.namespace` to `metadata.name`, will the toleration get added and will the Deployment succeed deploying (despite the underlying application probably not working)?

e.g.:
[code]
to
[code]

If so, I believe we're having the same issue... In my case, you can also hardcode the env var as a `value` of `ku

[2017-06-06 01:36] xingzhou commented on #46736
@enisoc, yes, not only the `thirdpartyresources` is misspelled, but also the mismatch of the version. this is why in my original patch, I tried to ignore the version of `thirdpartyresources`.

[2017-06-06 01:43] #41235 closed

[2017-06-06 01:46] #46817 closed

[2017-06-06 01:59] FengyunPan commented on #46882
@saad-ali @msau42 @verult I am sorry for that, I will do a similar method in #46182 to wait for the pending operation to complete soon.

[2017-06-06 02:18] astraverkhau commented on #33483
I would  roughly estimate 2/3 of our 360 (and counting) micro services will need to be available strictly on GCP network and not exposed outside, so 240+ per cluster.

[2017-06-06 02:25] smarterclayton commented on #10710
I will note that query decoding / encoding doesn't support custom types yet
(I tried to use types.UID in a precondition).  Proto should be ok.

On Mon, Jun 5, 2017 at 12:25 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-06-06 02:27] smarterclayton commented on #46975
I'd probably lean (based on other conversations with @kargakis around how we would leverage partition from higher level controllers) towards including it in rolling.  I like having tools that let someone find the knobs close at hand for both manual update and higher level primitives.

[2017-06-06 02:30] #47006 closed

[2017-06-06 02:30] snarayanank2 commented on #43516
We run a really small cluster (single node) because we are cash-strapped :) Ran into this problem multiple times over the last few days. Incidentally our staging platform which doesn't get much traffic also experienced the same problem. We suspected CPU overloading and put in a beefier worker node and also added CPU limits, but still ran into the same problem.

We changed node monitor grace period

[2017-06-06 02:33] dims commented on #42483
/sig openstack

[2017-06-06 02:35] dims commented on #43476
/sig openstack

[2017-06-06 02:36] dims commented on #43468
/sig openstack

[2017-06-06 02:48] bujike commented on #44723
I have the same issue . my host is ubuntu16.04.

[2017-06-06 02:52] gyliu513 opened #47015 "Add `CriticalAddonsOnly` toleration for both npd and fluentd."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-06 03:01] xingzhou commented on #47001
I can work on this today

[2017-06-06 03:03] xingzhou commented on #46965
I'd like to take a look at this issue, @ivanjaros, mind paste more details on the reproduce steps?

[2017-06-06 03:04] liggitt commented on #11678
it now flushes every 100ms, so watch events under the buffer size don't get stuck in the buffer

[2017-06-06 03:04] #11678 closed

[2017-06-06 03:05] 20zinnm opened #47016 "Allow auto-population of environmental variables from secrets."
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): secrets, envfrom

This is related to #26299

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS*

[2017-06-06 03:12] 20zinnm commented on #47016
@kubernetes/sig-apps-misc

Note, this may have to do with case-sensitivity.

[2017-06-06 03:15] 20zinnm commented on #47016
Fixed. Apparently, it's case sensitive with secrets but not with configmaps.

[2017-06-06 03:15] #47016 closed

[2017-06-06 03:20] ivanjaros commented on #46965
I have defined the projected volume with one configmap in it and I have ended up with a volume of type emptyDir. Then I manually edited the manifest though the admin and set the config map but I got error so I tried secret and the finally worked.

Does not work:
[code]

works
[code]

[2017-06-06 03:27] #46446 closed

[2017-06-06 03:56] frankruizhi commented on #43815
I also got the same issue,but I just copy the cni config on the master node to the corresponding location of the worker node,then it became OK.
# systemctl status kubelet.service -l
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.

[2017-06-06 04:00] madhusudancs commented on #46925
While setting up federation e2e tests to extract additional information to help @janetkuo debug this problem, I found that the object that we send to clusters and the object that we receive have different labels: Here is the object that we send to clusters:

[code]

Object returned by a cluster:

[code]

[2017-06-06 04:03] madhusudancs commented on #46925
@janetkuo and I briefly chatted about this problem. We will discuss this further tomorrow. The summary is, underlying clusters modifying the spec or the metadata is a problem in general. We will see where else we can store the pod template hash in the DaemonSet object.

[2017-06-06 04:35] liggitt commented on #47010
@derekwaynecarr

[2017-06-06 04:41] liggitt opened #47020 "Projected volume plugin does not block on data fetch error"
When collecting data for a projected volume, if an error is encountered, the plugin logs, but then continues setting up the volume and returns as if it were successful:

[code]

This is because the error returned from collectData() does not short-circuit the SetUp function:
[code]

This means that a pod can start before the configmaps/secrets intended to populate its projected volume exist.

[2017-06-06 04:43] liggitt commented on #47020
@kubernetes/sig-storage-bugs

[2017-06-06 04:43] mtaufen commented on #47012
Freezing the version is kind of a kludge though, because it sort of defeats the purpose of having versioned APIs.

I'm guessing that the problem is that when the name/version changes, you can't upgrade the Kubelet without also upgrading the runtime implementation, which means you have to restart (or evict) all the pods on the node to do the upgrade? This sounds like it adds some cost, but doesn't

[2017-06-06 04:44] liggitt commented on #47020
cc @jpeeler @pmorie

[2017-06-06 04:50] liggitt commented on #47020
With the Node authorizer in place (https://github.com/kubernetes/kubernetes/pull/46796), it's a race between a node and the authorizer which notices that a node has access to secrets/configmaps for a newly bound pod... for other volume types, it's not a big deal, the node just retries once or twice until it can get the data, but for projected volumes, if it fails to retrieve the object the very fi

[2017-06-06 04:52] mtaufen commented on #46651
It's impossible to know all the historical decisions behind why the startup
scripts are the way they are, but to me this sounds logical: Startup
scripts should prep the node, and only then should the Kubelet and other
K8s components start running.

Anything else smells accidental to me.

The ip-masq-agent might fight back against the startup scripts, but this is
really not a solution to the fundam

[2017-06-06 04:52] snowball77 commented on #43389
I have both issues too on OpenStack, ca.crt on wrong place and then no client provided....

[2017-06-06 05:13] amalkasubasinghe opened #47023 "Can I know when will be the Kubernetes Cron Jobs beta/GA release?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-06 05:40] gjoris commented on #45827
@jpoon Thanks for the input. The difference is your point 4: I am working with a Deployment, not a Pod. Quoting from the Kubernetes documentation:

```In general, users shouldn’t need to create pods directly. They should almost always use controllers (e.g., Deployments), even for singletons. Controllers provide self-healing with a cluster scope, as well as replication and rollout management.```

A

[2017-06-06 05:41] cblecker commented on #47023
/assign

[2017-06-06 05:41] xiangpengzhao commented on #47023
/sig apps
/kind support

[2017-06-06 05:42] cblecker commented on #47023
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-06-06 05:42] #47023 closed

[2017-06-06 05:51] feiskyer commented on #47012
@mtaufen The problem is caused by grpc-go, which requires same package name between client and server. If they are not same, then no API calls could success.

[2017-06-06 05:54] jianzhangbjz opened #47025 "Question: support scheduling Pods according to node resources change in real-time"
Hey guys,

AFAIK,  the `kubelet` reports the status/resources of node at a regular interval(default 10s).
Although the `cadvisor` could aware the resource utilization in real-time, but not involved in the scheduling, right? So, this is an issue, why not support scheduling Pods according to node resources change in real-time? Or I misunderstood?

[2017-06-06 05:55] jianzhangbjz commented on #47025
/sig shceduler

[2017-06-06 05:56] kevin-wangzefeng commented on #46568
@jmzwcn I just checked the code, to enable custom topologyKey for soft pod AntiAffinity, you would have to change the change the code and recompile scheduler. see also:  kubernetes/kubernetes#41195

[2017-06-06 06:02] aanm opened #47027 "Unable to watch for any ThirdPartyResource"
**Kubernetes version** (use `kubectl version`):
[code]

Kubernetes v1.5.1 - v1.6.4 are **not** affected

**Environment**:
- **Cloud provider or hardware configuration**: baremetal/VM
- **OS** (e.g. from /etc/os-release): `Ubuntu 16.10`
- **Kernel** (e.g. `uname -a`): `4.9.17-040917-generic #201703220831`
- **Install tools**:
- **Others**:
[code]

**What happened**:
It's impossible to perform a "wa

[2017-06-06 06:08] krmayankk commented on #46934
how would automatic rollback work in either of these options ?

[2017-06-06 06:32] qiujian16 commented on #46860
@floriankammermann what network are you using? does a policy controller run in the cluster?

[2017-06-06 06:40] xingzhou commented on #46965
@ivanjaros, I tried the following steps on v1.6.4 branch and master branch, and all worked well:
1. Create a config map like:
[code]

2. Create a pod using the following yam:
[code]

3. Login to the pod and check the `/projected-volume` folder, I can see the config file there with content `very`

Are the above steps the ones you are using in your env? or can you show the error messages you have?

[2017-06-06 06:55] xingzhou commented on #47027
Not sure if it's related to this patch: https://github.com/kubernetes/kubernetes/pull/45806, I'll take a look at this

[2017-06-06 07:00] shashidharatd commented on #46937
There could be multiple reasons why `./federation/cluster/federation-up.sh` could fail. One other reason could be that `gcr.io` service is temporarily down. Here is an example of such a failure.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46979/pull-kubernetes-federation-e2e-gce/9117/?log#log
[code]

[2017-06-06 07:23] itamaro commented on #33483
I'd estimate it at around 50 for the near future for our environment.

[2017-06-06 07:39] roobert commented on #33483
@nicksardo - will the internal load balancers be routable via GCP VPNs?

[2017-06-06 07:46] samiaben88 commented on #46839
Hi again, this is my pod spec:

`kind
	:
Pod
apiVersion
	:
v1
metadata

{10}
name
	:
rouncube1-1345133109-c05k9
generateName
	:
rouncube1-1345133109-
namespace
	:
default
selfLink
	:
/api/v1/namespaces/default/pods/rouncube1-1345133109-c05k9
uid
	:
24b409e8-4a8b-11e7-a816-525400225b53
resourceVersion
	:
335165
creationTimestamp
	:
2017-06-06T07:38:33Z
labels

{2}
pod-template-hash
	:
1345133109
ru

[2017-06-06 07:48] samiaben88 commented on #46839
hi, this is my pod spec:

apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubernetes.io/created-by: |
      {"kind":"SerializedReference","apiVersion":"v1","reference":{"kind":"ReplicaSet","namespace":"default","name":"rouncube1-1345133109","uid":"24b297fb-4a8b-11e7-a816-525400225b53","apiVersion":"extensions","resourceVersion":"335139"}}
  creationTimestamp: 2017-06-06T07:38:33Z
  generateN

[2017-06-06 07:53] ivanjaros commented on #46965
Hm, my first thought was the absence of items for configmap in my case but I have tried that as well yesterday and no success. But since it works for you it means there is something else wrong in my case and Kubernetes is fine. So I have to figure out what is causing this.

Thanks for your time.

[2017-06-06 07:56] xiangpengzhao commented on #47025
/sig shceduling
/cc @davidopp @k82cn

[2017-06-06 07:57] xiangpengzhao commented on #47025
/sig scheduling
/cc @davidopp @k82cn

[2017-06-06 08:01] pires commented on #33483
Why was this closed?

[2017-06-06 08:21] bboreham commented on #46103
/reopen

[2017-06-06 08:25] sttts opened #47030 "Register unversioned types in each scheme"
We have moved to non-global schema in a number of places in 1.6 and 1.7. It is easy to forget registering the unversioned types like `metav1.Status`, leading to encoding errors in error cases.

The registration of the unversioned types should be automatic as for the `*Options` types, i.e. in `metav1. AddToGroupVersion`.

[2017-06-06 08:48] kargakis commented on #46975
I see more pros than cons for having this as an option in rollingUpdate. Summarizing comments from elsewhere:

1. Validation is going to be easier - having a separate strategy pushes a burden to clients for crafting patches.
2. Adding new strategies will be easier in the future; with a separate strategy, we'll likely need to duplicate the strategies (xStrategy + xPartitionedStrategy). Makes 1. eve

[2017-06-06 08:48] kargakis commented on #46975
cc: @tnozicka @mfojtik

[2017-06-06 08:53] #46990 closed

[2017-06-06 09:06] kargakis commented on #46934
@krmayankk automatic rollback is a different issue and shouldn't be affected by this one.

[2017-06-06 09:09] sttts commented on #46702
@ericchiang the client is here: https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kube-apiextensions-server/pkg/client/clientset/clientset. The staging repo will be published soon in analogy to client-go and others.

[2017-06-06 09:21] shashidharatd commented on #46937
Just analyzed that its not the gcr.io going down temporarily but the mismatch between the pushed hyperkube image version and the one which is used for federation-up.sh. Filing a separate issue for this.

[2017-06-06 09:24] ZhenyangZhao opened #47031 "kubefed init none-cloud cluster controller-manager Error: TLS handshake timeout"
Hi:
I follow kubefed docs to init federation cluster. All is ok,but control-plane controller manager error:
[code]
Environment：
[code]
My Operate:
[code]
Result:
[code]

Could u help me？ thanks very much.

[2017-06-06 09:29] shashidharatd opened #47032 "pull-kubernetes-federation-e2e-gce: federation-up.sh fails due to failing to pull image"
A new issue is introduced in pull-kubernetes-federation-e2e-gce, [build-9117](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46979/pull-kubernetes-federation-e2e-gce/9117/?log#log) onwards, where in the failure message is as below
[code]
After analyzing, i find that the image which is built and pushed is different than the one used for bringing up federation.
What caused

[2017-06-06 09:34] luxas commented on #30558
@mengqiy I'm not planning to work on this, have a bunch of other stuff going on, but given the amount of +1 on this and the inactivity, I wanted to make this free for new/other contributors.

[2017-06-06 09:39] marccarre commented on #34101
@thomasmodeneis, what do the `weave` container's logs say?

[2017-06-06 09:42] luxas commented on #34101
@thomasmodeneis Please open a new issue in the kubeadm repo to track that

[2017-06-06 09:52] ZhenyangZhao commented on #47031
@kubernetes/sig-federation-misc
/sig  sig/federation

[2017-06-06 10:11] sttts opened #47035 "Wrong http code in audit of upgraded connections"
The right code is 101, but the advanced audit code is not aware of it if the explicit 101 call is missing.

[2017-06-06 10:17] #46958 closed

[2017-06-06 10:24] cloudecho commented on #28974
I think it's a bug that the nubmer must be under quota("")  in YAML file.

[2017-06-06 10:24] kargakis commented on #47008
@kubernetes/sig-apps-bugs

[2017-06-06 10:25] kargakis commented on #47008
Is this a dupe of https://github.com/kubernetes/kubernetes/issues/46998 (or the other way around) ?

[2017-06-06 10:58] jamiehannaford commented on #30558
I might have some spare cycles to work on this

[2017-06-06 11:09] dims commented on #47030
@sttts do we need to close out this issue? (since referenced PR has merged)

[2017-06-06 11:10] dims commented on #47027
/sig api-machinery

[2017-06-06 11:12] k82cn commented on #42394
The PR was moved to 1.8, should we also move this issue to 1.8?

[2017-06-06 11:37] deads2k opened #47036 "CR status messages don't include kind and apiVersion"
Without those fields, clients cannot deserialize the errors.

[2017-06-06 11:50] sttts commented on #47030
Fixed by https://github.com/kubernetes/kubernetes/pull/46112

[2017-06-06 11:50] #47030 closed

[2017-06-06 12:00] shashidharatd commented on #47032
Analyzed further and find that the extract strategy for pull-kubernetes-federation-e2e-gce was changed to `ci/latest` from `local` which is causing the issue. This PR in test-infra introduced the issue. pull-kubernetes-federation-e2e-gce

/cc @fejta, @madhusudancs @krzyzacy

[2017-06-06 12:10] ecordell commented on #22888
@lumjjb

I sketched this out a couple of weeks ago with a slightly different approach:
https://github.com/kubernetes/kubernetes/compare/master...ecordell:imagereviewwebhook-digest

(I didn't flesh out the tests or do the codegen)

I was concerned that anything we do here would be usurped by https://github.com/kubernetes/community/pull/132, which intends to rework admission controllers and explicit

[2017-06-06 12:22] #46889 closed

[2017-06-06 12:22] #47035 closed

[2017-06-06 12:35] erikbgithub commented on #18096
This issue is google result number one for "kubernetes hdfs volume", so it would be cool if it would at least have an official suggestion, e.g. "don't mount it, use the ports" or something.

[2017-06-06 12:40] resouer commented on #28723
This should already be fixed in https://github.com/kubernetes/kubernetes/pull/29416

[2017-06-06 12:40] #28723 closed

[2017-06-06 12:54] evanj commented on #33483
@nicksardo I think for us (Bluecore Inc), we would only use 2 internal load balancers immediately, and maybe a total of about 5 when I think about projects that are currently in flight over say the next year.

[2017-06-06 13:24] flavio opened #47046 "kubelet and btrfs snapshots: failed to check if disk space is available on the root partition: failed to get fs info for "root": error trying to get filesystem Device for dir /var/lib/kubelet"
**Kubernetes version** (use `kubectl version`): 1.5.6 forward

**Environment**:
- **Cloud provider or hardware configuration**: both bare metal and virtual
- **OS** (e.g. from /etc/os-release): SUSE 12+ or openSUSE 42.2+
- **Kernel** (e.g. `uname -a`): 4.4.62, but not really relevant in this case
- **Install tools**: SUSE/openSUSE packages
- **Others**: none

**What happened**:

The system is usin

[2017-06-06 13:32] gnufied commented on #47046
/sig storage

[2017-06-06 13:39] smarterclayton commented on #22888
Mutating admission web hooks seems likely in 1.8 - if you can wait that
long it's one approach.

On Tue, Jun 6, 2017 at 8:11 AM, Evan Cordell <notifications@github.com>
wrote:

[2017-06-06 14:17] #46996 closed

[2017-06-06 14:24] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #14017
[code]

The Above one line make me so hard.
To walk through [this document](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/), It would be nice to provide example `secret.json` file.

[2017-06-06 14:25] ivanjaros commented on #46965
I have to re-open this. I spend another half a day trying to figure this out but still no success. ConfigMap volume just does not work on GKE. I tried multiple clusters, different machines, I tried to enable alpha features but still end up with emptyDir.

Also I found some references like #26223 or #23392 but those are quire old and marked as closed.

[2017-06-06 14:29] bboreham opened #47047 "kubectl prints durations rounded down; can mislead"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
The timestamps reported by `kubectl` are rounded down, e.g. 47 hours is reported as "1d".

**What you expected to happen**:
Round to nearest, i.e. 47 hours displays as "2d"

**How to reproduce it** (as minimally and precisely as possible):
[code]
After 110 seconds we are told the pod is 1 minute old.

**Anyt

[2017-06-06 14:33] jdumars opened #47048 "Azure cloud provider needs exponential backoff capability to mitigate query quota overshoot in the Azure Resource Manager API"
**NOTE**: This issue is being filed as the upstream version of [Azure/acs-engine#635](https://github.com/Azure/acs-engine/issues/635) to meet the new requirement of correlation between a 1.7 milestone item ([pull request 46660](https://github.com/kubernetes/kubernetes/pull/46660)) and an issue.  The SIG label for this should be sig-azure once created.

**Issue summary:**
The calls from the Kuberne

[2017-06-06 14:43] #44164 closed

[2017-06-06 14:45] bboreham commented on #47047
/sig cli

[2017-06-06 14:45] cordoval commented on #30215
i ran into this:

[code]
also

[code]
returns nothing

[2017-06-06 14:50] shiywang commented on #47047
similar to this https://github.com/kubernetes/kubernetes/issues/41741, and currently everything is shortened to the largest unit

[2017-06-06 14:52] dshulyak commented on #42995
/assign

[2017-06-06 14:52] floriankammermann commented on #46860
I use https://github.com/projectcalico/canal installed with https://github.com/projectcalico/canal/blob/master/k8s-install/README.md

This is the output of `kubectl get all --all-namespaces`
[code]
How can I identifiy the policy controller? I expect this is po/canal-6v7lt, is this right?

[2017-06-06 14:57] chrismcv commented on #45827
I've just got it working on a new cluster. I think it was trailing white space on the password. Running it through `echo -n` sorted it

[2017-06-06 14:57] #45827 closed

[2017-06-06 15:05] wildfire-you commented on #45956
Exactly the same issue with my k8s 1.6.4 based in a proxy network. The kubectl proxy shows that the request is proxied even i set the no_proxy.

I0606 10:58:42.160365   22927 round_trippers.go:417] GET https://10.1.0.11:443/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/ 504 Gateway Timeout in 155553 milliseconds
I0606 10:58:42.160401   22927 round_trippers.go:423] Response Head

[2017-06-06 15:44] dims commented on #27368
@lavalamp @ixdy - there's at least one regex (https://github.com/kubernetes/kubernetes/blob/5e29e1ee05556800cd2fe0dc5341d5de54b4ab47/hack/lib/version.sh#L78) we could strengthen that. (or close this issue!)

[2017-06-06 15:45] dims commented on #15244
@alexandercampbell : i'd suggest going ahead with opening an issue in the other repository and let us know here, then one of us can close this out. thanks!

[2017-06-06 15:51] dims commented on #30706
/remove-priority critical-urgent

[2017-06-06 15:53] k82cn commented on #46989
cherry pick (back merge) to 1.6, 1.7 if necessary.

[2017-06-06 15:56] k82cn commented on #47025
please also cc @bsalamat  :)

Here's my understand: 1. there's a time-windows between bind & node status update, so scheduler cache (assumed) those Pods; 2. we prefer to keep Node object as small as possible

[2017-06-06 15:57] arthur0 commented on #30558
Can I work on it?

[2017-06-06 16:03] whitecolor commented on #23864
Wanted to setup [localtunnel server](https://github.com/localtunnel/server#overview) on k8s, is there any info when this feature going to be available?

[2017-06-06 16:04] k82cn opened #47055 "DaemonSet should respect to 'NodeReady' and 'NodeNetworkUnavailable' status"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master branch

**What happened**:
In scheduler, the pods will not schedule to the nodes which is not ready or network unavailable.

**What you expected to happen**:
DaemonSet should respect to 'NodeReady' and 'NodeNetworkUnavailable' status.

**Anything else we need to know**:
According

[2017-06-06 16:05] k82cn commented on #47055
/sig apps

[2017-06-06 16:05] k82cn commented on #47055
/sig scheduling

[2017-06-06 16:08] floriankammermann commented on #46860
The canal guys could solve the issue https://github.com/projectcalico/canal/issues/78
It was a problem in the NetworkPolicy config https://github.com/floriankammermann/kubernetes-networkpolicy/commit/b65a781a6bc11ed2926ed66c38722cc2749c2128

[2017-06-06 16:08] #46860 closed

[2017-06-06 16:08] thockin commented on #23864
There's an IPVS proposal open now and IPVS, for example, doesn't natively
support ranges (as far as I know).  Before we can proceed here, we need to
answer that.

On Tue, Jun 6, 2017 at 9:03 AM, Alex <notifications@github.com> wrote:

[2017-06-06 16:15] wieslaw-gat opened #47057 "Node failure when journald permanent journal fills up"
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `journald`, `node failure`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configura

[2017-06-06 16:18] enisoc commented on #46736
I'd like to keep this open until we have a regression test since this is at least the third time we've fixed this. I'll add a test as part of making sure this fix works for CRD.

[2017-06-06 16:21] wieslaw-gat commented on #47057
@kubernetes/sig-node-misc

[2017-06-06 16:25] xiangpengzhao commented on #47047
I remember in one PR review I suggested to fix this but sadly my comment was ignored. IMO, we can show `AGE` with two units, e.g. `1m50s`, `3h45m`, `5d19h`, etc. That would be more accurate.

[2017-06-06 16:26] dashpole commented on #46797
/close via #46801 .  Summary test has been green a couple days now.

[2017-06-06 16:26] dashpole commented on #46797
/close

[2017-06-06 16:26] #46797 closed

[2017-06-06 16:28] dashpole commented on #46658
cAdvisor version bump #46816 went in yesterday, and all tests appear to be green.
/close

[2017-06-06 16:28] #46658 closed

[2017-06-06 16:29] philips commented on #23920
@bboreham does that mean this will be fixed in 1.7?

[2017-06-06 16:29] dashpole commented on #45558
#45896 has been merged, which should solve this issue.
/close

[2017-06-06 16:29] #45558 closed

[2017-06-06 16:33] caseydavenport commented on #23920
@philips yep.  Kubernetes now has support for plugin chaining and the portmap capability, and an upstream port mapping plugin exists which can be chained to provide the port mapping.

@gunjan5 has tested this out with Calico and it works using k8s v1.7.0-alpha.4

[2017-06-06 16:42] saad-ali commented on #46882
Thanks for jumping on it quickly!

[2017-06-06 16:48] joan38 commented on #25126
@pshirshov, your funny contribution is welcome to fix this issue.

[2017-06-06 16:48] spxtr commented on #45558
Thanks again!

[2017-06-06 16:52] caesarxuchao commented on #47008
No, 46998 exposes a problem in GC controller.

[2017-06-06 16:53] ianrose14 commented on #25238
FYI `@hubt` on slack pointed out to me that an unspecified `replicas` field will only default to 1 on `create` - "if you do an `apply` though, it will do a patch and not change the existing number if replicas."  My experiments seem to confirm this.

[2017-06-06 16:58] MrHohn commented on #46976
cc @nicksardo

[2017-06-06 17:04] luxas commented on #30558
@arthur0 Sounds great!
Talked to @jamiehannaford and he will help out on some sig-cluster-lifecycle-related issues instead, so this one seems free to pick up!

Can't technically assign this one to you in the Github UI, but feel assigned and work on it :+1:

[2017-06-06 17:05] kow3ns commented on #46975
I have no objection to the modification. Are we agreed modification proposed in the comment above is sufficient?

[2017-06-06 17:11] kargakis commented on #46975
Structure looks fine, I would suggest `rollingUpdate` instead of `partition` for the field name since it's consistent with D/DS and it allows us to add more rolling parameters in the future.

[2017-06-06 17:12] caesarxuchao commented on #46702
I verified that kube-apiextensions-server doesn't depend on client-go/kubernetes, the type-specific part of client-go. In the future, we plan to divide client-go to two repos: the base part and the type-specific part. The type-specific part of client-go can import kube-apiextensions-server and support CRD without dependency cycle.

[2017-06-06 17:17] MrHohn commented on #46976
All the errors in logs are `GCECloud.ClusterID is not ready. Call Initialize() before using`. It doesn't necessarily indicate we are leaking resource, just now we must have clusterID initialized before calling EnsureLoadBalancerDeleted().

Would be better to not call this function directly in e2e test :)

[2017-06-06 17:20] cmluciano commented on #30215
@cordoval It looks like your node is under significant pressure. All of your entries seem to be evicted. Is the node currently under memory pressure?

[2017-06-06 17:20] cmluciano commented on #30215
/sig network
/area dns
/assign

[2017-06-06 17:20] MrHohn commented on #46918
/priority failing-test

[2017-06-06 17:24] madhusudancs opened #47059 "Federated sync controller e2e tests are chosen and run at random"
We occasionally see a mismatch between the sync controller e2e tests that are run and their titles. Since Ginkgo is a declarative framework and these e2es are setup in an imperative fashion using for-loops, we initially thought this was just a test title issue due to the mismatch between the idioms.

But yesterday while debugging Federated DaemonSet e2e failures, we noticed that it is not just the

[2017-06-06 17:29] caesarxuchao commented on #46982
It's still failing,
See build log:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-reboot/8445/, kubelet log: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-reboot/8445/artifacts/bootstrap-e2e-minion-group-gvvj/kubelet.log

error in kubelet log:
[code]

[2017-06-06 17:31] cordoval commented on #30215
what do you mean on your last comments? also i killed a node and the ASG resized them and it now works, maybe kube-ip-proxy got down for some reason and that was the cause, now i see everything working fine.

[2017-06-06 17:33] deads2k commented on #45511
there are three tests left and I think they can wait until 1.8.  GC doesn't work (missing GC bits), helm is an external project that proved difficult to vendor and test, and the kube-apiserver integration is at least somewhat covered in test-cmd.sh

[2017-06-06 17:36] mtaufen commented on #2707
It sounds reasonable to me. I'll throw one point out there though: relaxing validation can be tricky because you never know who's come to rely on existing validation - e.g. does anyone rely on Kubernetes preventing dotted env var names? I *personally* don't think this should stop us from making this specific change, but opinions may differ from mine.

@timoreimann I would just make a PR and see wh

[2017-06-06 17:43] nicksardo commented on #46976
Federation cleanup should use the same implementation as non-federated e2e test:
https://github.com/kubernetes/kubernetes/blob/3837d9519190069c44a453c145869e1fced52f23/test/e2e/framework/service_util.go#L1303-L1313

[2017-06-06 17:49] chuckbutler opened #47062 "Juju charms fail deployment of 1.6 clusters with "Unknown admission controller: initializers""
**Kubernetes version** (use `kubectl version`): 1.6.2

**Environment**:
- **Cloud provider or hardware configuration**: Any (tested with aws, gce, lxd, and azure)
- **OS** (e.g. from /etc/os-release):
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

- **Kernel** (e.g. `uname -a`): Linux carbon 4.8.0-53-generic #56~16.04.1-Ubuntu SMP Tue May 16 01:18:56 UTC 20

[2017-06-06 17:50] csbell commented on #47059
On Tue, Jun 6, 2017 at 10:25 AM, Madhusudan.C.S <notifications@github.com>
wrote:

Three secret runs in a row would definitely allow a daemonset regression to
slip in. :-/

[2017-06-06 17:52] dims commented on #43329
@caesarxuchao @liggitt - we can close this one right?

[2017-06-06 17:53] nicksardo commented on #33483
Beta support for ILBs have been added in #46663 and will be shipped with 1.7. Documentation on how to enable it will come at release.

Thanks @evanj @itamaro @astraverkhau for your data points.

[2017-06-06 17:53] monopole opened #47064 "Define bazel sh_test, sh_binary rules for sh scripts"
Many sh scripts, including scripts that function as pre-submit tests, e.g.

[code]
and the results of

[code]

are not declared in `BUILD` files and thus don't accrue bazel benefits like fast cached analysis of deps, hermetic parallel test runs, etc.

For some tests is may be sufficient to simply define `sh_test` rules in the proper BUILD files so that they can run via `make bazel-test` or `bazel

[2017-06-06 17:54] dims commented on #18035
@mikedanese @wojtek-t : we can close this out right?

[2017-06-06 17:55] monopole commented on #47064
/sig sig-testing

[2017-06-06 17:56] monopole commented on #47064
/sig testing

[2017-06-06 17:56] wojtek-t commented on #18035
Sure - closing because of age.

[2017-06-06 17:56] #18035 closed

[2017-06-06 17:58] lmdaly commented on #43704
Is there any other fix for this other than enabling the -cgroups-per-qos=false --enforce-node-allocatable= flags in kubelet? I am experimenting and need the cgroups-per-qos flag enabled.

I am on Centos 7 with a kernel 4.11 running Kubernetes master branch on baremetal

[2017-06-06 18:01] cblecker commented on #44803
Docs have been updated:
/close

[2017-06-06 18:01] #44803 closed

[2017-06-06 18:04] mengqiy commented on #47008
@janetkuo Patching seems to be correct.
original:
map[data:map[metadata:map[creationTimestamp:<nil> labels:map[name:newrelic]] spec:map[volumes:[map[name:newrelic-config secret:map[secretName:newrelic-config defaultMode:420]] map[hostPath:map[path:/dev] name:dev] map[name:run hostPath:map[path:/var/run/docker.sock]] map[name:sys hostPath:map[path:/sys]] map[name:log hostPath:map[path:/var/log]]] c

[2017-06-06 18:06] mengqiy commented on #47008
You don't have to send
[code]
Instead this should be enough
[code]

[2017-06-06 18:11] caesarxuchao commented on #47008
The second uid is to make sure the patch is applied to the correct object, not a different object with the same name.

[2017-06-06 18:19] marshallbrekka opened #47067 "Service controller deletes and re-adds AWS ELB listeners when it starts up"
**Is this a request for help?**: NO

**What keywords did you search in Kubernetes issues before filing this one?**:

AWS, ELB

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.4.8 (pretty sure problem exists in master)

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-releas

[2017-06-06 18:19] kow3ns commented on #46975
Think of what the manifest will look like though
[code]

In the case where no partition is specified it looks like

[code]

Can you give me a sample of what you are proposing?

[2017-06-06 18:22] shashidharatd opened #47068 "federation: e2e: unnecesary use of LoadBlanacer type services"
In federation e2e tests we do use LoadBalancer type of service for all needs.
Creating LoadBalancer type of service for every test case is kind of expensive and time consuming to provision. Thus making the overall test-suite little slower.

We could use ClusterIp type of services wherever we don't exactly need the service to be a LoadBalancer type.

/cc @madhusudancs
/sig federation

[2017-06-06 18:23] marshallbrekka commented on #47067
@kubernetes/sig-aws-misc

[2017-06-06 18:28] lavalamp commented on #46702
IMO it should be called customresource-apiserver, not [kube-]apiextensions-apiserver. The latter is easily confused with the extensions api group.

[2017-06-06 18:29] lavalamp commented on #46702
The potential for having multiple client repos is sort of the goal of the client org arrangement proposal that the sig agreed on, but I'm not sure how far along that road we got.

[2017-06-06 18:29] marshallbrekka commented on #47067
/sig aws

[2017-06-06 18:31] deads2k commented on #46702
apiextensions.k8s.io is a group name that would easily host the resource for describing generic UAS storage.  The two use-cases are similar but distinct.  See reasons here: https://github.com/kubernetes/kubernetes/issues/46351

[2017-06-06 18:32] crassirostris opened #47069 "Stackdriver Logging e2e tests are implemented incorrectly"
Read method from the Stackdriver Logging API, used in these tests is slow (O(1) QPS), sequential and quotas for this API is low, b/c the method was not designed to use with automated tools. Instead, recommended way for using Stackdriver Logging API is creating a PubSub sink and then reading from the PubSub topic, this way tests will be much faster and there will be no issues with quotas.

Related

[2017-06-06 18:35] Random-Liu opened #47070 "Upgrade node problem detector version to v0.4.0"
Node Problem Detector v0.4.0 added new support for:
1) Parsing kernel log from `/dev/kmsg`;
2) Parsing abrt log.

The `/dev/kmsg` support is pretty useful for problem detection in production.

We should upgrade NPD to v0.4.0.

/cc @dchen1107 @ajitak @kubernetes/sig-node-bugs

[2017-06-06 18:36] VsMaX commented on #29330
+1
Kubernetes : 1.6.4
Cloud Provider: Vagrant - 3 nodes
Installed with : github.com/kelseyhightower/kubernetes-the-hard-way

[2017-06-06 18:38] Q-Lee opened #47071 "PodSecurityPolicy ignores and overwrites RunAsNonRoot"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): PodSecurityPolicy RunAsNonRoot

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.7.0-beta, 1.8.0 (HEAD)

**Environment**: Enable PodSecurityPolicy
- **Cloud provider or hardwar

[2017-06-06 18:38] Q-Lee commented on #47071
/sig auth

[2017-06-06 18:39] shashidharatd commented on #46976
@nicksardo,  `CleanupServiceGCEResources` function looks like only specific to GCE. in future we would run the e2e tests in AWS too. it would be better to use generic functions if any.

[2017-06-06 18:41] mabounassif commented on #12337
It may be too late to plead a case for the proponents of adding entries to `/etc/hosts`. I will however still voice my plight as a compassionate act for my brethren and sistren who found themselves in a similar situation (together we will be strong).

Here's what's up in my world right now: I'm trying to setup Jenkins on Kubernetes with a build that runs tests for an app that uses firebase as the

[2017-06-06 18:41] marshallbrekka commented on #47067
I should also add, this caused downtime for us, as we run a decent amount of ELB services,  we were getting rate limited on the delete and create listener requests, which resulted in the listeners being deleted for a long time before they were re-added.

[code]

[2017-06-06 18:43] Q-Lee commented on #47071
@liggitt there are actually 2 bugs here.

user/nonroot.go fails to properly restrict this field when matching against a PSP, which is a latent bug as long as we overwrite the value anyway.

provider.go overwrites the user-supplied setting for the securitycontext/podsecuritycontext. I suspect the best fix will be to use the API's deep copy function. We are also doing a couple other sketchy things:

[2017-06-06 18:43] #47036 closed

[2017-06-06 18:44] Q-Lee commented on #47071
I have a half fix in #46064 but we should probably fix it in a separate PR, because we may want to patch 1.6.

[2017-06-06 18:44] enisoc opened #47072 "Custom Resources prevent namespace deletion"
After #46765 which tries to fix #46736, a namespace containing Custom Resources cannot be deleted (it will be stuck in Terminating).

The error on the apiserver side is:

[code]

According to the stack trace, the error comes from here:

https://github.com/kubernetes/kubernetes/blob/0cff839/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go#L1102

cc @deads2k

[2017-06-06 18:47] shashidharatd commented on #46976
@MrHohn, using [EnsureLoadBalancerResourcesDeleted()](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L4651) is working for us. here is the test logs https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46979/pull-kubernetes-federation-e2e-gce/9252/

[2017-06-06 18:48] thockin commented on #12337
Pod.spec.hostAliases was added for v1.7 - https://github.com/kubernetes/kubernetes/pull/45148

[2017-06-06 18:50] lavalamp commented on #46702
design doc: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/csi-client-structure-proposal.md#clients-for-api-extensions

[2017-06-06 18:51] yinghan commented on #45368
It will be available on next m59 and m60 release this week. Stay tuned and release note could be found at:
https://cloud.google.com/container-optimized-os/docs/release-notes

[2017-06-06 18:53] thockin commented on #39792
@krish7919 in v1.7 we will have hostAliases to map a hostname to an IP.  Maybe in v1.8 we could extend this automatically pull service IPs.  Will need someone to drive it.

[2017-06-06 18:54] thockin commented on #43632
Is this a dup of https://github.com/kubernetes/kubernetes/issues/39792 ?  How are they different?

[2017-06-06 18:57] xgerman commented on #29330
@kubernetes/sig-ui

[2017-06-06 19:00] madhusudancs commented on #46925
@janetkuo and I discussed about this problem and we have resolved to apply a short term bandaid for this problem in federation. The way we are going to do this is by ignoring the `daemonset-controller-hash` label on the DaemonSet objects if they exist, while comparing the Federated DaemonSet and cluster DaemonSet objects.

@csbell points out that this is not tenable for version skew. I think this

[2017-06-06 19:02] rickypai commented on #39792
I agree that HostAlias should be able to pull IPs dynamically. Having dynamic IPs from services would be nice. That said, HostAlias only provides an override for a particular Pod. If there's a need to provide alternative DNS name for a service for all Pods, HostAlias might not be the right direction.

[2017-06-06 19:03] rickypai commented on #43632
HostAlias is useful to provide local overrides for a particular Pod, but it seems like #39792 would want the alternative DNS name of a service accessible for all Pods.

[2017-06-06 19:03] shashidharatd commented on #46925
LGTM as a temporary solution.

[2017-06-06 19:04] bamb00 commented on #44334
Is that normal? removing the "Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/opt/cni/bin"" in order to access to the pods after installing 1.6.1.

I've also run into this problem accessing the pods usingkubectl.

[2017-06-06 19:10] rickypai commented on #39792
there is one way to implement this without change in Kubernetes API:

1. write a DNS server that watches services, and if the service has a particular annotation, like `dns-alias`, then it would resolve the DNS address to the service IP

2. use private DNS zone feature in 1.6: http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html

[2017-06-06 19:33] janetkuo commented on #47008
It's a DaemonSet controller bug, fix is coming

[2017-06-06 19:48] jdumars commented on #47048
@idvoretskyi

[2017-06-06 19:54] gnufied commented on #41792
This looks very much like https://github.com/kubernetes/kubernetes/issues/38606

[2017-06-06 19:55] abitrolly commented on #6222
Building Docker images in a unified way is a common problem for any multi-part application or Kubernetes. Here is my alpha attempt to tackle this problem - https://github.com/cyberFund/cybernode/tree/master/images - I tried to decouple application build scripts from Docker to leave space for trying LXD, rkt and etc.

Critics and feedback is welcome. Explaining Kubernetes requirements and workflows

[2017-06-06 19:56] janetkuo commented on #47008
Fixing this in #47075

[2017-06-06 19:59] MrHohn commented on #46976
@shashidharatd EnsureLoadBalancerResourcesDeleted() actually cleans up nothing, it only lists forwarding rules and probably logging :)

[2017-06-06 20:06] alexandercampbell commented on #15244
@dims I was looking at opening a new issue for this in `kubernetes.github.io` but there are already a [flood of issues](https://github.com/kubernetes/kubernetes.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20user-guide%20pod) on this topic, particularly https://github.com/kubernetes/kubernetes.github.io/issues/2621 and https://github.com/kubernetes/kubernetes.github.io/issues/2759.

Do

[2017-06-06 20:06] lumjjb commented on #22888
@ecordell

master...ecordell:imagereviewwebhook-digest

I like your dictionary implementation more actually. Looks a lot neater.

I wrote mine in consideration that there may be more things in the container spec in the future that we may require rewriting, but seems like there isn't a usecase in sight at the moment.

Given the new design, would the image policy admission controller be an `Initiali

[2017-06-06 20:08] DirectXMan12 opened #47077 "HPA controller sends unecessary updates"
**BUG**: the HPA controller submits updates every update interval, even if nothing has changed.  In clusters with large numbers of HPAs, as well as clusters with smaller HPA sync periods, this can cause an unnecessarily high volume of writes.

The HPA controller should only send updates if it actually has a change to the HPA status object.

[2017-06-06 20:08] DirectXMan12 commented on #47077
cc @kubernetes/sig-autoscaling-bugs @derekwaynecarr

[2017-06-06 20:15] juanvallejo opened #47079 "--local does not work for a number of kubectl commands"
Some `kubectl` commands fail when `--local` is used with no connection to an api server.
As far as I am aware, this is happening because of two main reasons:
1. The command deals with thirdpartyresources, and therefore needs to handle unstructured objects and map them by hitting the api server later on (there is an issue explaining this further [here](https://github.com/kubernetes/kubernetes/issue

[2017-06-06 20:29] liggitt commented on #46965
@ivanjaros what version of kubectl are you using? (`kubectl version`)

[2017-06-06 20:33] cmluciano commented on #30215
@piosz @bprashanth Do you think we can close this issue now?

[2017-06-06 20:42] timoreimann commented on #2707
thanks @mtaufen -- will follow up with a PR and see what folks have to say.

[2017-06-06 20:47] MrHohn commented on #30215
@cmluciano The original post is about the nslookup bug in Alpine image and that is cleared. I think we should close this one to avoid stacking up other unrelated issues in the same place.

[2017-06-06 20:58] jkinkead commented on #15128
This would be incredibly useful to have documented for Events. As mentioned by the original filer, these have no labels for filtering with `labelSelector`.

[2017-06-06 20:59] cmluciano commented on #30215
/close

[2017-06-06 20:59] #30215 closed

[2017-06-06 21:05] rickypai commented on #43632
re: documentation, i'm thinking either adding notes about HostAliases in https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ or as a separate page under "Services, Load Balancing, and Networking"

[2017-06-06 21:11] idvoretskyi commented on #47048
Hi @jdumars.

I've proactively created the sig/azure label and manually labeled this item.

[2017-06-06 21:24] wojtek-t commented on #46851
So I have a victim. Ironicly this is my PR: https://github.com/kubernetes/kubernetes/pull/46588 (specifically the second commit of it).
Since it isn't critical by any means, I'm simply going to revert the second commit.

[2017-06-06 21:29] wojtek-t commented on #46851
https://github.com/kubernetes/kubernetes/pull/47082 send out as a fix to it.

[2017-06-06 21:31] r4j4h commented on #42438
Thank you very much! :)

[2017-06-06 21:31] bsalamat commented on #47025
@jianzhangbjz Scheduler does resource accounting and record keeping in real-time on its own side and does not rely on Kubelet periodic reports to update its records. Scheduler updates the total amount of resources requested on a node as soon as it assigns a pod to a node. Scheduler uses this updated records to make scheduling decisions.

[2017-06-06 21:46] timoreimann commented on #22024
We also see it happening sporadically (every few minutes) with client-go 2.x and Kubernetes 1.6 (through [containous/traefik](https://github.com/containous/traefik/)).

@lavalamp I'd be interested in taking a stab at lowering the log level to informational. Is this still something you'd be okay with?

[2017-06-06 21:46] janetkuo commented on #46998
Patch failure is #47008

[2017-06-06 21:47] kow3ns commented on #47002
/assign ow3nsk

[2017-06-06 21:53] whereisaaron commented on #30656
The lack of the user flag is a hassle. Use case is I have a container that runs as an unprivileged user, I mount a volume on it, but the volume folder is not owned by the user. There is no option to mount the volume with specified permissions. I can't use an entrypoint script to change the permissions because that runs as the unprivileged user. I can't use a lifecycle.preStart hook because that ru

[2017-06-06 22:09] david-mcmahon commented on #6222
/cc @dclaar @javier-b-perez

[2017-06-06 22:15] erinboyd commented on #41792
I will be added the PR proposal later today for this function. I will link to this PR when I have the number

[2017-06-06 22:29] mml commented on #47002
[ss.yaml.txt](https://github.com/kubernetes/kubernetes/files/1056501/ss.yaml.txt)

[2017-06-06 22:40] deimosfr opened #47085 "Daemonset's pods don't restart after deletion"
Hi,

I'm encountering issues using DaemonSet. I can deploy only once. If I delete the DaemonSet with the associated nodes, I'm unable anymore to deploy the same DaemonSet config.Also deleting a node don't make it reapar after.

**Environment**:
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): coreos 1353.8.0
- **Kernel** (e.g. `uname -a`): Linux core

[2017-06-06 23:02] dims commented on #15244
@alexandercampbell nope. as long the info is there and cross linked with this, we are good

[2017-06-06 23:02] dims commented on #15244
/assign

[2017-06-06 23:02] dims commented on #15244
/close

[2017-06-06 23:02] #15244 closed

[2017-06-06 23:39] mikedanese opened #47089 "Use TestMain to start etcd in integration tests"
Instead of a janky shell script

[2017-06-07 00:08] k82cn commented on #47085
/sig apps

I'll take a look today.

[2017-06-07 00:13] nicksardo opened #47092 "[GCE] Shared backend services for ILBs leak settings to other ILBs"
PR #46663 GCP internal load balancers for services with type LoadBalancer and an annotation specifying "internal".  If the load balancer has `externalTrafficPolicy=Global`, we generate a backend service name such as `k8s-{clusterid}-internal-[tcp/udp]-[clientip|noaffinity]`. This allows other ILBs to utilize the same backend service to keep stay below quota.

However, there are more service settin

[2017-06-07 00:13] nicksardo commented on #47092
/assign
/sig network
/area platform/gce

[2017-06-07 00:17] nicksardo commented on #46983
This will likely surface in a 1.7 patch.

[2017-06-07 00:22] droot opened #47093 "'kubectl get' output does not have columns aligned properly."
---
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.7.alpha (pre-releases)

**What happened**:
'kubectl get' output does not have columns aligned properly. This got introduced as part of this change PR #40848

**What you expected to happen**:
Output of kubectl get should have all the columns aligned as in previous releases.

[2017-06-07 00:23] droot commented on #47093
/sig cli

[2017-06-07 00:23] droot commented on #47093
/assign @smarterclayton

[2017-06-07 00:45] nicksardo commented on #47092
@kubernetes/release-maintainers Could this get a 1.7 release milestone, please?

cc @bowei

[2017-06-07 00:46] smarterclayton commented on #47047
We should certainly try to be within 5% or so of the actual value.

[2017-06-07 00:50] cheftako commented on #43716
pull/47094

[2017-06-07 00:55] bowei commented on #47092
@kubernetes/kubernetes-release-managers

[2017-06-07 01:00] ironcladlou commented on #39162
@dgageot

Do you have a GH issue reference for this?

[2017-06-07 01:25] #46982 closed

[2017-06-07 01:37] CaoShuFeng opened #47097 "[legacy audit] "kubectl exec" doesn't have response line in audit"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**What happened**:
When run "kubectl exec", there is only on request line in legacy audit.

**What you expected to happen**:
Just like other request, there should be one request line and one response line.

**How to reproduce it** (as minimally and precisely as possible):
run "kubectl exec xxx" and refer to legacy audit.

[2017-06-07 01:42] fgrzadkowski commented on #47077
@DirectXMan12 Aren't we always updating 'observedGeneration' field?

[2017-06-07 01:48] #46851 closed

[2017-06-07 01:48] #45780 closed

[2017-06-07 01:53] CaoShuFeng commented on #47097
/sig area/apiserver

[2017-06-07 01:54] MrHohn commented on #46919
This is failing for the same reason as https://github.com/kubernetes/kubernetes/issues/46918#issuecomment-306337802 explains.

/priority failing-test

[2017-06-07 01:59] yujuhong commented on #47012
The generated grpc code registers a service using `package_name.service_name`, e.g., The `StopPodSandbox` method is known as [`/v1alpha1.RuntimeService/StopPodSandbox`](https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.0/pkg/kubelet/apis/cri/v1alpha1/api.pb.go#L3667).

Changing this does break the existing server-side implementation.

By the way, the package name of of the new path is the

[2017-06-07 02:03] yujuhong commented on #47012
/cc @Random-Liu, FYI, for the containerd integration.

[2017-06-07 02:04] yujuhong commented on #47012
/cc @mrunalp

[2017-06-07 02:09] pmorie commented on #25272
How about `--explain`

[2017-06-07 03:05] ChenLingPeng opened #47100 "[FEATURE]: non-namespace-scoped TPR data support"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
TPR, non-namespace-scoped

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

---

After create a kind of TPR, this new kind resource is namespace-scoped, I think we should also support cluster-scoped new kind of TPR.

Cas

[2017-06-07 03:11] ChenLingPeng commented on #47100
/sid api-machinery

[2017-06-07 03:12] #47020 closed

[2017-06-07 03:27] k82cn opened #47101 "Update json name of Pod 'DeprecatedServiceAccount'"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master branch

**What happened**:
The json name of `v1.Pod.DeprecatedServiceAccount` is still `serviceAccount`; we should either update the API reference to `serviceAccount`, or update json/protobuf to `deprecatedServiceAccount`

[2017-06-07 03:31] ChenLingPeng commented on #47100
/sig api-machinery

[2017-06-07 03:37] k82cn commented on #47101
/sig api-machinery

[2017-06-07 03:51] liggitt commented on #47101
renaming serialized fields to "deprecated" is not how we deprecate them. the rename would drop any existing data, and break any old clients setting the field, so there is not much point to it.

[2017-06-07 03:52] liggitt commented on #47101
https://github.com/kubernetes/kubernetes/pull/44900 actually removes the field, which is what I expected

[2017-06-07 03:59] liggitt commented on #47100
I'd expect that as an evolution of custom resources (https://github.com/kubernetes/features/issues/95)

[2017-06-07 04:03] liggitt commented on #42289
hit again:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46796/pull-kubernetes-unit/35343/

[2017-06-07 04:14] #47101 closed

[2017-06-07 04:43] k82cn commented on #47101
Great ! thanks :).

[2017-06-07 04:46] #46031 closed

[2017-06-07 05:13] k8s-merge-robot opened #47104 "Failure cluster [0d416a...] failed 250 builds, 54 jobs, and 2 tests over 1 days"
### Failure cluster [0d416ae87c9a6f2d8d95](https://go.k8s.io/triage#0d416ae87c9a6f2d8d95)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    54 jobs failed,    250 builds failed.
Failure stats cover 1 day time range '6 Jun 2017 03:03 UTC' to '7 Jun 2017 03:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| UpgradeTest | 35 |
| Sk

[2017-06-07 05:21] ivanjaros commented on #46965
1.5.3(gcloud, win) but I used UI to create the deployment and edited the deployment manually through ui as well.

[2017-06-07 06:17] jeremysf commented on #24745
I have been seeing the same thing over the past month or so:

https://stackoverflow.com/questions/44033191/gke-websocket-nodeport-30s-dropped-connections/44382066#44382066

[2017-06-07 06:18] xilabao opened #47107 "host path volumes allow backsteps, PSP allowedHostPaths only guard prefix"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.0.184+3837d951919006", GitCommit:"3837d9519190069c44a453c145869e1fced52f23", GitTreeState:"clean", BuildDate:"2017-06-07T06:07:10Z", GoVersion:"go1.8.1", Compiler:"gc", Platform:"linux/amd64"}
Server Versi

[2017-06-07 06:20] wzhliang opened #47109 "nfs flexvolume example not working"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
flexvolume nfs

---

**Is this a BUG REPORT or FEAT

[2017-06-07 06:21] xilabao commented on #47107
/sig auth

[2017-06-07 06:39] ash2k commented on #45939
Another use case that just came up - I'd like to run independent integration tests concurrently, each of them in a separate namespace. Each test creates (and later deletes) a namespace with a random name for itself, then creates/updates/watches objects within this namespace so should be safe to run concurrently.

[2017-06-07 06:41] wzhliang commented on #47109
/sig storage

[2017-06-07 07:40] fgimenez commented on #45934
@thockin cool thx a lot, I can add that description to an initial spec proposal for the process to be performed by the diagnose tool to discuss the implementation further, WDYT? Also, in terms of the checks themselves (not for managing the results), do you think DNSPerf could be useful?

[2017-06-07 07:50] shisy commented on #44724
This link may be your problems answer:
https://stackoverflow.com/questions/43527712/kubernetes-1-5-4-kube-dns-getting-deleted/44406604#44406604

[2017-06-07 07:54] jianzhangbjz commented on #47025
@k82cn @bsalamat Thanks! But, if we release some resources(like delete pods), the scheduler cache how to update in real-time? AFAIK, the delete action don't involve the scheduler, right? Or something else I missed?

[2017-06-07 07:58] liuliuzi opened #47110 "one deployment one schedule policy"
Is this a BUG REPORT or FEATURE REQUEST? (choose one):
FEATURE REQUEST
When I need scale out one deployment,  I want to the pod created  not be bond to the node which existe this type pod. I could develope customize predicate to meet this requiement . But if use this policy，all deployment will comply with this policy，which not I wanted.
So is there any feature that every deployments can has their

[2017-06-07 08:00] pawelprazak commented on #17088
My use case is:
- jenkins, grafana, etc. in different namespaces
- I want a single ELB with Ingress per namespace

so the question is, will it work right now? if not, why?

[2017-06-07 08:04] xingzhou commented on #47109
I'd like to take a look at this issue

[2017-06-07 08:13] sttts commented on #45511
For the kube-apiserver integration https://github.com/kubernetes/kubernetes/pull/46865 can be easily extended. It bootstraps a complete kube-apiserver with the normal bootstrapping code, without any mocking.

[2017-06-07 08:16] k82cn commented on #47025
If pod is deleted, scheduler will get DELETE notification from apiserver and update cache accordingly.

[2017-06-07 08:21] kargakis commented on #46975
[code]
I don't feel strong but it's consistent with the rest controllers.

[2017-06-07 08:30] liuliuzi commented on #47110
/sig scheduling

[2017-06-07 08:31] cdxOo opened #47112 ".yaml files containing non-YAML markup should have proper file extension"
There are files in [cluster/addons/cluster-monitoring](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-monitoring) that contain non-YAML markup but have the '.yaml' file extension, like [this one](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/google/heapster-controller.yaml). By the looks of it theese are SLS files that use Jinja

[2017-06-07 08:37] mfojtik commented on #46975
+1 for consistency

[2017-06-07 08:39] thomasmodeneis commented on #34101
@marccarre would you mind sending me the cmd for getting this logs out into a gist for example ? that would help.
@luxas I will raise a new ticket asap.

[2017-06-07 08:41] cdxOo commented on #47112
/sig monitoring

[2017-06-07 08:42] gyliu513 commented on #47110
@liuliuzi I think the multiple scheduler can help you: https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/ , just use your customized scheduler for each deployment.

[2017-06-07 08:45] cdxOo commented on #47112
/sig contributor-experience

[2017-06-07 08:58] CaoShuFeng opened #47114 "some unused variable and function is left in backend.go"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

In file:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/plugin/pkg/audit/log/backend.go

variable sink and function auditStringSlice is not used.

[2017-06-07 09:22] lixiaobing1 opened #47116 "how many methods to update docker while running k8s cluster?"
how many methods to update docker while running k8s cluster?

[2017-06-07 09:25] yastij commented on #47114
/kind technical-debt

[2017-06-07 09:32] k82cn commented on #42002
@luxas , @timothysc , @kargakis , @ravisantoshgudimetla there's design doc about the proposal above, based on my understanding; please help to comment it when you have time :).

https://docs.google.com/document/d/10Ch3dhD88mnHYTq9q4jtX3e9e6gpndC78g5Ea6q4JY4/edit?usp=sharing

[2017-06-07 09:36] leonwanghui opened #47117 "Create a standalone library to support host-side volume discovery and management."
**Kubernetes version** (use `kubectl version`):

**What happened**:
Hi all, I found that right now almost all in-tree volume plugins (maybe except iscsi and rbd) would call cloud provider to do volume discovery before mounting it to container. But imaging this use case, if user wants to use ebs to provide storage resource but insists on deploying k8s on bare metal, then you cannot attach volume to

[2017-06-07 09:38] k82cn commented on #47110
Seems Pod Anti-Affinity can help; the following affinity will make not more than one Pod of deployment in a node; if more pod than nodes, they're pending.

[code]

[2017-06-07 09:45] leonwanghui commented on #47117
/kind feature
/sig storage

[2017-06-07 09:53] ZhenyangZhao opened #47118 "kubefed coredns can not resolved nginx.default.federation.svc.zone.region.example.com but can resolved nginx.default.federation"
Dear all:
I use kubefed init a federation cluster and deploy a nginx service with nginx backend.
when i check dns , i found `nslookup nginx.default.federation` return ok, but `nslookup nginx.default.federation.svc.baremetal-1.baremetal.example.com` can't resolved. can someone help me?
details below:
[code]

[code]

[code]
[code]

Thanks all.

[2017-06-07 09:55] ZhenyangZhao commented on #47118
@kubernetes/sig-Federation-misc
/sig sig/federation
/sig area/dns

[2017-06-07 09:57] ZhenyangZhao commented on #47118
/sig Cluster Ops

[2017-06-07 10:29] fthamp opened #47120 "#issues in upgrading 1.5.x to 1.6.x version"
Upgraded the master components(apiserver,controller,scheduler,kubectl) followed by worker components(kubelet,kube-proxy,kubectl)
 from 1.5.7 to 1.6.0. On master upgrade the existing pods had change in state and the worker upgrade resulted in  deletion of all containers in worker nodes.

| Component | Repo                                                               |
| --------- | ---------------

[2017-06-07 11:03] bcorijn commented on #45626
Seeing this in our cluster as well. Quite an annoying bug, as it will indeed get a deployment stuck in a state with less replicas than expected until I manually intervene. Did you find any more permanent solution/workaround @tudor?

[2017-06-07 11:08] yastij opened #47122 "tcp proxyloop should spin goroutine when trying to connect to endpoints"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

proxy
userspace

---

in `kubernetes/pkg/proxy/use

[2017-06-07 11:09] yastij commented on #47122
/sig network
/area kube-proxy
/kind enhancement

[2017-06-07 11:09] yastij commented on #47122
/assign

[2017-06-07 11:11] m-burst commented on #43516
Unfortunately CPU limits didn't help in the end -- nodes still become NotReady after some time.
@snarayanank2 Could you please tell me if your solution works and how can I do the same?

[2017-06-07 11:58] yastij commented on #47120
/kind support

[2017-06-07 13:01] jianzhangbjz commented on #47025
@k82cn Thanks for your patience to answer. From the scheduler logs, I didn't find the notification, maybe need to config `scheduler --v=10` to catch the notification or I need to read the related code. I will have a try. :)
kube-apiserver.INFO:
[code]
kubelet.INFO:
[code]
kube-scheduler.INFO:
[code]

[2017-06-07 13:38] k82cn commented on #47025
Please refer to this code https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L154 , and check the log if necessary. This code handled running Pods, for the pending Pods, it will be removed from client-go's cache.

[2017-06-07 13:40] xiangpengzhao commented on #43976
/sig cluster-ops

[2017-06-07 13:40] xiangpengzhao commented on #47120
/sig cluster-ops
/sig node

[2017-06-07 13:44] k82cn commented on #41598
move to 1.8?

[2017-06-07 13:46] kow3ns commented on #41598
@k82cn yes please

[2017-06-07 14:07] ateleshev commented on #5607
+1 need for /dev/kvm

[2017-06-07 14:24] markpeterfejes opened #47125 "XFS volumes are unsupported on GCE using the Container-Optimized OS"
**Is this a request for help?** Partly

**What keywords did you search in Kubernetes issues before filing this one?** xfs gce gci cos mount

---

**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version**: 1.6.4

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): Container-Optimized OS v57 (Build ID: 9202.64.0)
- **Kerne

[2017-06-07 14:28] xiangpengzhao commented on #47125
/sig storage

[2017-06-07 14:28] timothysc opened #47126 "RFE: Have RBAC inject new field in ObjectMeta on author/source of last update"
**Is this a FEATURE REQUEST?**:

It is useful to know who was the last person/component that updated a resource for many reasons:

- idempotent behavior on automation that deploys @kubernetes/sig-cluster-lifecycle-feature-requests
- debugging / blame , "Who/what jacked my YAML?!?!?!"
...

/cc @kubernetes/sig-auth-feature-requests

xref: https://github.com/kubernetes/kubernetes/pull/47081

[2017-06-07 14:29] xiangpengzhao commented on #47116
/sig cluster-ops
/kind support

[2017-06-07 14:31] xiangpengzhao commented on #47114
/sig api-machinery

[2017-06-07 14:34] neverfox commented on #45726
Same here, following [this example](https://wesmorgan.svbtle.com/rabbitmq-cluster-on-kubernetes-with-statefulsets).

[code]

A few observations:
* The PV *is* actually created:
[code]
* A PVC *is* created:
[code]
* The volume *is* actually attached to the node in question. I can confirm this through the AWS console. So it's almost as if K8S isn't aware of it's own actions and assumes the volume is

[2017-06-07 14:34] xiangpengzhao commented on #47104
@kubernetes/sig-testing-misc

[2017-06-07 14:38] smarterclayton commented on #47126
Dupe of https://github.com/kubernetes/kubernetes/issues/13306

[2017-06-07 14:38] smarterclayton commented on #47126
Well, not dupe, but equiv.

[2017-06-07 14:39] timothysc commented on #47126
Yup, closing.

[2017-06-07 14:39] #47126 closed

[2017-06-07 14:40] timothysc commented on #13306
Another use case is idempotent installation of manifests.  xref: https://github.com/kubernetes/kubernetes/pull/47081

[2017-06-07 14:48] kargakis commented on #47110
Yeah, pod anti-affinity should do it.

[2017-06-07 14:48] #47110 closed

[2017-06-07 14:50] smarterclayton opened #47127 "gce-serial tests are panicking due to NPE in autoscaling code"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1173

[code]

[2017-06-07 14:52] smarterclayton commented on #47127
https://github.com/kubernetes/kubernetes/pull/46833 might be a culprit, but maybe not

[2017-06-07 14:53] smarterclayton commented on #47127
This could be related to how the test initializes the framework or cleans it up, maybe.

[2017-06-07 14:54] smarterclayton commented on #47127
Another failure in the same run, not just this one test:

[code]

[2017-06-07 14:57] smarterclayton commented on #13306
we talked about the historical use case of having something scraping this
and recording the side history such that you could look, but that would
require us to record the actual mutating user into etcd as well.  So either
way, we need to pass some small chunk of info down in the final object.

On Wed, Jun 7, 2017 at 10:40 AM, Timothy St. Clair <notifications@github.com

[2017-06-07 15:02] DirectXMan12 commented on #47077
@fgrzadkowski we don't actually seem to do anything with that field.  There's nothing in the HPA controller about it.

[2017-06-07 15:02] DirectXMan12 commented on #47077
/assign @DirectXMan12

[2017-06-07 15:06] wojtek-t commented on #47127
@wasylkowski @piosz @mwielgus @MaciekPytel

[2017-06-07 15:09] saad-ali commented on #32727
This didn't make it into 1.7. With https://github.com/kubernetes/kubernetes/pull/34859 this is not super critical. Punting to next milestone.

[2017-06-07 15:10] #46882 closed

[2017-06-07 15:16] saad-ali commented on #31272
This did not make it into 1.7. Pushing to 1.8

[2017-06-07 15:17] smarterclayton commented on #47127
I'm not positive but the stack trace might be wrong due to inlining optimizations.  rc.framework == nil was my first guess, but that would fail earlier in that method.

[2017-06-07 15:18] saad-ali commented on #46380
Good debugging @jsafrane!

[2017-06-07 15:20] saad-ali commented on #44737
@chakri-nelluri, @shilpamayanna:

Freeze date for 1.7 was June 1, so we missed the boat for the big fix (https://github.com/kubernetes/community/pull/650).

In the meantime is there anything temporary that needs to go in for 1.7 to mitigate this in the master/1.7 branches?

[2017-06-07 15:22] saad-ali commented on #43640
Moving to 1.8. @msau42 could you update the status on the original comment.

[2017-06-07 15:24] saad-ali commented on #42359
Closing this as unnecessary.

[2017-06-07 15:24] #42359 closed

[2017-06-07 15:24] liggitt commented on #47107
@kubernetes/sig-storage-bugs for hostpath mounting of backstep paths

[2017-06-07 15:25] liggitt commented on #47107
hostPath whitelist is new in 1.7, so there's no exposure for previous releases

[2017-06-07 15:26] smarterclayton commented on #47127
Framework AfterEach runs namespace deletion, which may mean that .Namespace is nil (if inlining is indeed present).

[2017-06-07 15:28] liggitt commented on #47107
I would actually expect the volume plugin on the node to fail when asked to mount this path... minimal enforcement in the API is tricky since the OS can differ between the apiserver and the node

options are:
1. tighten volumesource validation in the API to prevent backsteps (would have to enforce both windows and unix formats)
2. update node volume plugin to refuse to mount paths that include bac

[2017-06-07 15:30] saad-ali commented on #47107
/assign @jhorwit2

xref https://github.com/kubernetes/kubernetes/pull/43946 - Original PR introducing the feature.

@jhorwit2 can you please take a look and work on a fix?

[2017-06-07 15:30] liggitt commented on #47107
PSP whitelists paths, but I think the backstep issue belongs to the hostpath volume plugin

[2017-06-07 15:34] ptabor commented on #22572
A.d. the error:
[code]

You should run following commands:
[code]
See:
https://stackoverflow.com/questions/39366326/gcp-autoscaler-instance-group-error-service-account-issue for more context.

[2017-06-07 15:35] saad-ali commented on #36818
Added in PRs:
https://github.com/kubernetes/kubernetes/pull/40338
https://github.com/kubernetes/kubernetes/pull/43477

[2017-06-07 15:35] #36818 closed

[2017-06-07 15:37] saad-ali commented on #34242
https://github.com/kubernetes/kubernetes/pull/39732 merged for 1.7
Closing

[2017-06-07 15:37] #34242 closed

[2017-06-07 15:38] neverfox commented on #45726
Interestingly, the redis example here is able to stand up successfully even though the same errors appear in the describes. I wonder if it could be because it uses an init container and that somehow creates enough delay.

[2017-06-07 15:39] saad-ali commented on #32131
@liggitt to make sure this is kosher.

Moving to 1.8 since this didn't make it in to 1.7

[2017-06-07 15:41] jhorwit2 commented on #47107
@saad-ali sure

[2017-06-07 15:44] saad-ali commented on #30898
Fixed by PRs for k8s 1.7:
* https://github.com/kubernetes/kubernetes/pull/30903
* https://github.com/kubernetes/kubernetes/pull/45923

[2017-06-07 15:44] #30898 closed

[2017-06-07 15:46] timothysc commented on #39975
Has there been any recent incidents of this issue?

It's marked for 1.7.

[2017-06-07 15:49] msau42 commented on #30799
@vishh, can we close this?  I think the current local storage design using PVs that we are implementing differs from this original idea.

[2017-06-07 15:51] saad-ali commented on #29633
If we can get this in for 1.7 that would be great. If not, it is not a blocker for the 1.7 release, and we can move it to 1.8.

[2017-06-07 15:55] timothysc commented on #39975
Closing - http://storage.googleapis.com/k8s-gubernator/triage/index.html?text=TestMonitorNodeStatusEvictPodsWithDisruption shows near nothing.

[2017-06-07 15:57] saad-ali commented on #42445
/assign @NickrenREN

[2017-06-07 15:59] snowball77 commented on #43389
I digged into the issue a bit more (and found a lot more issues with the openstack provider). This one is related due to a mismatch in assumptions. The general saltstack assumes that we have a salt server running on the master which then serves the ca.crt file to the salt minions. However, this does not apply to the openstack provider which does not use a salt server at all. Therefore, we need to

[2017-06-07 16:04] kow3ns commented on #46975
[code]
?

[2017-06-07 16:10] mindprince opened #47128 "LocalStorageCapacityIsolationEviction tests are flaky"
They are resulting in https://k8s-testgrid.appspot.com/sig-node#kubelet-serial-gce-e2e failing again and again.

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=LocalStorageCapacityIsolationEviction

Example of failures:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1472
https://k8s-gubernator.appspot.com/build/kubernetes-je

[2017-06-07 16:10] mindprince commented on #47128
/sig storage
/kind flake

[2017-06-07 16:12] ravisantoshgudimetla commented on #39975
@timothysc - this flakes out sporadically, I was able to reproduce this when debugging on my system, if I run it for long time.

[2017-06-07 16:13] mindprince commented on #47128
cc - @jingxu97

[2017-06-07 16:13] #47068 closed

[2017-06-07 16:17] mindprince commented on #47128
/area node-e2e

[2017-06-07 16:21] javipolo commented on #46705
This happent to me when I was updating some flags on etcd. I did restart all etcd servers with the new flags, and the kube-apiservers got all stuck with this message in the error log, and the requests to the api were giving timeouts

Etcd servers were fine (I checked with etcdctl cluster-health and member list), and just by restarting the apiservers the problem went away ...

This has happent twic

[2017-06-07 16:24] xiang90 commented on #46705
@javipolo can you create a new issue for what you saw? i feel it may be a different thing. also it would be helpful if you can write down how to reproduce it in detail. thanks.

[2017-06-07 16:25] xiang90 commented on #46705
@wojtek-t @hongchaodeng I feel we should still keep compaction inside k8s for the time being. I cannot see a strong reason to move it out.

The actionable item in this issue is to change the Error level logging to Warning (or even hide it when it is expected) probably.

[2017-06-07 16:32] ncdc commented on #47100
TPRs are being deprecated in favor of CRDs, and CRDs support both namespace and cluster scoped resources. @deads2k is it appropriate to close this?

[2017-06-07 16:37] kargakis commented on #46975
SGTM

[2017-06-07 16:41] mikedanese opened #47129 "volume integration tests is slow"
It's the slowest integration test by ~100%
[code]
Can we make it faster?

cc @kubernetes/sig-storage-bugs

[2017-06-07 16:47] neverfox commented on #45726
@aliakhtar I don't think you can assume that. It's possible, even likely, that everything is working fine but that the error isn't reflecting reality. If you describe the pod, it should tell you whether it's using the claim and AWS should be able to tell you if the volume is in-use.

[2017-06-07 16:49] javipolo opened #47131 "apiserver timeouts after rolling-update of etcd cluster"
Kubernetes version: **1.6.2**
Etcd version: **3.1.8**

**Environment**:
- apiservers are Virtual Machines on KVM
- Debian jessie
- Kernel: 3.16.0-4-amd64
- Others: both etcd and kube-apiserver run on the same machines

**What happened**:
We were doing an upgrade of the configuration of etcd (flags election_timeout and heartbeat_interval)
We did upgrade all of our etcd servers one at a time (we hav

[2017-06-07 16:52] javipolo commented on #47131
@kubernetes/sig-api-machinery-misc I guess :)

[2017-06-07 16:54] gnufied commented on #47129
They are slower because - they wait for desiredstateofworld populator loop to turn. And there are 2 types of turn:

1. for pod delete etc, it turns every 1 minute. So each test case that tests this scenario has to wait a minimum of 60s.
2. For pod add event, it turns every 3 minute. So each test case that tests this scenario has to wait a minimum of 180s.

We can fix this somewhat by making the po

[2017-06-07 16:58] xiang90 commented on #47131
@javipolo Can you provide more logging? Probably in 10minutes window? The compacted thing is expected as the connection between etcd and api server was cut off. But it should disappear when etcd is back and resync is finished.

[2017-06-07 16:58] gnufied commented on #47129
/assign @gnufied

[2017-06-07 17:04] dhawal55 commented on #19367
Any update on this?

[2017-06-07 17:12] dims commented on #46920
cc @jbeda -Joe,  just saw your tweet and remembered this issue (https://twitter.com/jbeda/status/872500237079764992)

[2017-06-07 17:13] javipolo commented on #47131
Yep.  before I just provided the ERROR part of the logs. Now I'm putting the INFO part of them also. I leave logs since 16:50 until restart. Around 17:45 was when we did the rolling update of etcd. If you need anything else just ask for it and I'll try to provide it :) (thanks!)

[code]

[2017-06-07 17:15] ericchiang opened #47133 "[e2e failures] initializers should dynamically register and apply initializers to pods"
Observed consistently for the last few e2e-gci-gke-serial runs.

/cc @kubernetes/sig-api-machinery-bugs

cc @kubernetes/kubernetes-release-managers

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/1510#k8sio-initializers-should-dynamically-register-and-apply-initializers-to-pods-serial
https://k8s-gubernator.appspot.com/build/kubernetes-jen

[2017-06-07 17:17] xiang90 commented on #47131
@javipolo

When did you restart API server? Are there more logs like `etcdserver: mvcc: required revision has been compacted` after 17:51? I want to know if API server simply prints out these errors forever or it will stop after you upgrade ALL your etcd members.

[2017-06-07 17:20] dims commented on #47131
/cc @jbeda

[2017-06-07 17:21] deads2k commented on #47100
Yes.  Completed in 1.7 using CRD.

[2017-06-07 17:21] #47100 closed

[2017-06-07 17:23] vishh commented on #44107
@therc BTW `kubectl describe` should already be displaying the `alpha` gpu resource.

[2017-06-07 17:23] javipolo commented on #47131
The logs I provided end up when restarting the apiserver, so no, there are no more of those errors after 17:51

I can provide the restart times of etcds and apiservers (date/time of the host are the same in every server)

**etcd restart times**
[code]

**apiserver restart times**:
[code]

[2017-06-07 17:24] vishh commented on #30799
@msau42 yes, this can be closed with appropriate pointers to proposals and PRs that resolve the issues mentioned here.

[2017-06-07 17:26] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #39238
the same problem. I think unset command is ignored.

[2017-06-07 17:27] kewu1992 opened #47134 "COS Docker validation node test needs to run against gci-next-canary"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-07 17:30] liggitt opened #47135 "cache mutation detector causes memory/cpu pressure at the end of long e2e runs (like pull-kubernetes-e2e-gce-etcd3)"
seeing a spike in ns cleanup failure: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=Couldn%27t%20delete%20ns#5c121dd9347b4a1cbd0d

looks like it started the morning of 6/6

currently failing 5% of gce-etcd3 jobs

cc @kubernetes/sig-release-misc @kubernetes/sig-testing-misc

[2017-06-07 17:40] caesarxuchao commented on #47133
Looks like the admissionregistration.k8s.io group is not turned on

[2017-06-07 17:40] caesarxuchao commented on #47133
cc @smarterclayton

[2017-06-07 17:42] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #39238
my problem is `sudo`
i solve it by using `sudo su -` instead of `sudo`

[2017-06-07 17:46] smarterclayton commented on #47133
I'll gate it on the group being enabled, I'm currently debugging a separate issue.

[2017-06-07 17:52] snarayanank2 commented on #43516
@m-burst we followed suggestions from https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-291293548. Will send out more detailed notes soon.

[2017-06-07 18:01] smarterclayton commented on #47133
Added a skip

[2017-06-07 18:01] neverfox commented on #23032
It's not deleted by the claim. It's deleted if it has a retention policy that says it should self-delete if it finds itself unclaimed. If that's not the desired behavior, the retention policy should be changed to Retain.

[2017-06-07 18:02] bjornswift commented on #46641
We just had another incident where 60 nodes (in a 125 node cluster) were marked NotReady, before recovering ~15 minutes later.

We're going to temporarily increase the pod eviction time to mitigate, but this is currently our biggest stability risk.

Any pointers as to what we could investigate -- or what we could provide for further clarification -- would be greatly appreciated.

[2017-06-07 18:10] smarterclayton opened #47137 "DeleteCollection should include initialized resources"
And the namespace controller should also list uninitialized resources during deletion.

Even thought initializers are alpha, it's possible for end users to leave resources behind during initialization without this change which means data can leak.

[2017-06-07 18:12] dchen1107 commented on #47133
@smarterclayton I currently assign it to you, please delegate to the engineer in sig-apimachinery. Thanks!.

[2017-06-07 18:51] liggitt commented on #47135
@smarterclayton @derekwaynecarr fyi

[2017-06-07 18:53] kargakis commented on #46641
@kubernetes/sig-scalability-misc

[2017-06-07 19:03] liggitt commented on #47135
@mikedanese

[2017-06-07 19:07] spzala commented on #16762
@roberthbailey Hello, I believe it's safe to close this issue. It's over a year old and also docs are moved to it's own k8s.github.io repo.Thanks!

[2017-06-07 19:07] spzala commented on #16762
/close

[2017-06-07 19:09] spzala commented on #16762
(I wasn't able to close it and it was expected, but I tried as part of contrib X sig discussion I had.)

[2017-06-07 19:19] #16762 closed

[2017-06-07 19:21] spzala commented on #16753
@timothysc Hello, since it's more than a year of this issue was last discussed, can you please check if it's still an issue? If not, can we please close it? Thanks!

[2017-06-07 19:35] spzala commented on #16762
@roberthbailey Thanks!!

[2017-06-07 19:52] ssubramanian123 opened #47142 "kube-dns : Intermittent dns issue from pods to external server"
When try to connect external server from pod getting "Could not resolve host" error intermittent.  From all nodes, we are able to connect to the host and get response (not seeing intermittent issue). But from pods, seeing intermittent error as below. Can anyone tell, what could be reason?

[code]

I tried most of the option mentioned in this ticket https://github.com/kubernetes/kubernetes/issues/2

[2017-06-07 19:58] ssubramanian123 commented on #47142
/sig area/dns

[2017-06-07 20:02] jingxu97 commented on #47128
In this test, the expected behavior should be
1. Pod is created successfully and test waits it enters running state
2. Pod writes a large file to EmptyDir so it gets eviected
3. Check the pod status should be failed

 From the log, it seems like the pod is evicted right after it was created because of large file writing, the test failed with unexpected "pod run to competition error". Will change t

[2017-06-07 20:02] bjornswift commented on #46641
We had another event, about 45 minutes later, this time lasting slightly longer -- long enough for ~half of our pods to be terminated (evicted).

The remaining pods were unable to handle the increased traffic and we suffered downtime as we brought back capacity and got things to stabilize.

[2017-06-07 20:04] liggitt commented on #47135
possible namespace deletion change ~2 days ago: https://github.com/kubernetes/kubernetes/pull/46765

[2017-06-07 20:07] ssubramanian123 commented on #47142
/area dns

@kubernetes/sig-network-bugs

[2017-06-07 20:09] spzala commented on #16598
@lavalamp Hi Daniel, this issue was last discussed over a year ago. It seems like the issue is still there but I wanted to touch base with you and make sure that we want to keep it Open or Close it based on any discussion that might happened during this time. Thanks!

[2017-06-07 20:28] therc commented on #44107
@vishh I should have been clearer: it adds the resource to the sections `Non-terminated Pods` and `Allocated resources` in the `describe node` output. Right now, it's only shown in the Capacity and Allocatable sections (as well as in the Requests/Limits sections in the `describe pods` output).

[2017-06-07 20:30] #26005 closed

[2017-06-07 20:31] #46925 closed

[2017-06-07 20:31] cmluciano commented on #47142
Can you please fill in some more details according to the issue template:

[code]

[2017-06-07 20:32] spzala commented on #16550
@janetkuo @nikhiljindal Hi, since it's been over a year of this issue,
and the docs has been changed a lot during this time and I don't see 'statically generated UI' link anywhere any more, thought good idea to touch base with you and request you to close this issue if it isn't an issue any more. Thanks!

[2017-06-07 20:41] spzala commented on #16541
@janetkuo Hi, I guess this work is not done yet? and we may want to keep this issue open but wondering of what you think about it, and that if this was discussed lately and there is any chance that issue can be closed? Since it's been over a year and seems like you have fixed tabs with space manually. Thanks!

[2017-06-07 20:44] spzala commented on #16538
@bgrant0607 Hi Brian, just wanted to touch base with you and see if this issue can be closed now? It seems so. Thanks!!

[2017-06-07 20:46] vishh commented on #44107
@therc Ahh. In that case I'd recommend waiting. I hope to define a beta API for Nvidia GPUs in v1.8.

[2017-06-07 20:46] smarterclayton commented on #47135
It's *possible* it's the initializers as well, I'm delivering a second fix for that area in https://github.com/kubernetes/kubernetes/pull/47138 in case it's correlated

[2017-06-07 20:49] #47133 closed

[2017-06-07 20:49] timothysc commented on #46641
FWIW I have not seen this behavior on a number of other stacks.  /cc @philips for routing.

[2017-06-07 20:53] msau42 commented on #30799
Proposal is kubernetes/community#306
PR tracker is #43640

[2017-06-07 20:54] timothysc commented on #16753
It's worse...

[2017-06-07 20:55] spzala commented on #16512
@Fizzadar Hello, just following up if it's still an issue since it was last discussed over a year ago? If it isn't or you agree with @dchen1107 that it's behaving as expected then can we close this issue? Thanks!!

[2017-06-07 21:09] spzala commented on #16990
@arun-gupta @lachie83 Hello, is this issue still valid? I don't see docker.html or docker-compose.yml while taking a high level look so wanted to touch base. If it's not a valid issue now and can be closed, then please close it. Thanks!

[2017-06-07 21:16] bspradling8 commented on #46119
I'm noticing the same behavior that everything is dumped into the same cluster as a replacement. I did a quick test of the annotations to see if I could get a workaround by: ```annotations:
    federation.kubernetes.io/deployment-preferences: |
      {
        "rebalance": true,
        "clusters": {
          "us-central": {
              "minReplicas": 3
          },
          "eu-west": {

[2017-06-07 21:23] arun-gupta commented on #16990
@spzala This is a dated issue and no longer relevant. Closing.

[2017-06-07 21:23] #16990 closed

[2017-06-07 21:45] djsly commented on #20475
@yifan-gu quick update on this..

I have the following services running in that exact order, everything is working fine.

kube-proxy
flannel
docker
kubelet

After I restart the network `systemctl restart network`, pods can still communicate with each other Except that pod trying to talk to another pod running on the same name through a Service doesnt work anymore...

I have looked and the PID of a

[2017-06-07 21:49] saad-ali commented on #42445
Oh looks like @jingxu97 already fixed this in https://github.com/kubernetes/kubernetes/pull/42452

[2017-06-07 21:49] #42445 closed

[2017-06-07 21:57] derekwaynecarr commented on #47135
@liggitt -- the linked pr seems like it would have not changed the e2e
behavior unless that e2e env did not previously have tpr enabled.  it does
look like it removed static caching of discovery though, but we need to do
that anyway now i guess...

On Wed, Jun 7, 2017 at 4:47 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-06-07 22:07] liggitt commented on #47135
There was a typo in the enablement check that meant dynamic discovery was never run  previously

[2017-06-07 22:19] MrHohn commented on #46918
/reopen

ci-kubernetes-e2e-gci-gke-slow-release-1.5 and ci-kubernetes-e2e-gke-slow-release-1.5 will continue failing until we cherry pick the fix. Reopen for now.

[2017-06-07 22:20] MrHohn commented on #46918
Forgot to update: ci-kubernetes-e2e-gci-gke-slow starts passing after #46997 was merged.

[2017-06-07 22:21] MrHohn commented on #46919
ci-kubernetes-e2e-gci-gke-slow starts passing after #46997 was merged.

ci-kubernetes-e2e-gci-gke-slow-release-1.5 and ci-kubernetes-e2e-gke-slow-release-1.5 will continue failing until we cherry pick the fix.

[2017-06-07 22:22] rodawg commented on #46641
I believe I'm experiencing the same problem -- we've gone through the same exact number of mini outages/events today.

However, I'm not seeing the netfilter errors, only errors matching `Failed to ensure marking rule for KUBE-MARK-MASQ`, etc.

I'm running CentOS 7 on AWS with the kubernetes version:
[code]

[2017-06-07 22:27] tudor commented on #45626
@bcorijn It hasn't happened after we recreated the cluster with the latest kops 1.6.0, but we also haven't stressed the cluster as much since.

[2017-06-07 22:28] aveshagarwal opened #47145 "Scheduler filling logs with huge aggregate error messages"
When scheduling a pod fails due to some unexpected error, scheduler logs are filled with huge aggregate error messages containing an error for each node causing issues for very large clusters. For example, see this truncated message that keeps appearing again and again:

[code]

This issue has been addressed by https://github.com/kubernetes/kubernetes/pull/47003

[2017-06-07 22:29] aveshagarwal commented on #47145
@kubernetes/sig-scheduling-bugs

[2017-06-07 22:38] crimsonfaith91 commented on #44407
i will work on this. :)
/assign

[2017-06-07 22:41] dchen1107 commented on #46918
@MrHohn Can you cherrypick #46997 to both 1.5 and 1.6 branch? But this issue is not 1.7 blocking issue anymore.

[2017-06-07 22:48] foxish commented on #47135
/cc. This is stopping every other batched merge.

[2017-06-07 22:50] sjpotter commented on #47109
I'm seeing the same problem.  It could be something else, but my guess is that the flexvolume plugin only works in an attacher mode and plugins that don't implement those (ala nfs) are not working.

For example, on my node's kubelet i see in its logs

[code]

all I'm doing is providing mount/umount operations.  could be wrong, just a thought.

[2017-06-07 23:10] ssubramanian123 commented on #47142
@cmluciano

Kubectl Version:

[code]

Environment

[code]

what happend?

```` kube dns intermittent does not resolve host name from pods, but always works fine from nodes ````

Expectation

[code]

[2017-06-07 23:15] liggitt commented on #47135
Agree, seems to be blocking most PRs I look at

[2017-06-07 23:16] liggitt commented on #47135
I spent a while looking at the PRs around the time of the spike and nothing jumped out at me. I'm really not sure what sig to point this at

[2017-06-07 23:22] MrHohn commented on #46918
@dchen1107 Sure, working on it.

[2017-06-07 23:23] liggitt commented on #47135
cc @kubernetes/sig-api-machinery-bugs @kubernetes/sig-node-bugs as the two sigs most involved in namespace and graceful deletion

[2017-06-07 23:28] spzala commented on #16990
@arun-gupta Thanks Arun!!

[2017-06-07 23:28] krancour commented on #17088
@pawelprazak it does.

[2017-06-07 23:38] MrHohn commented on #46918
Sent cherry picks:
- release-1.6: https://github.com/kubernetes/kubernetes/pull/47146
- release-1.5: https://github.com/kubernetes/kubernetes/pull/47147
- release-1.4: https://github.com/kubernetes/kubernetes/pull/47148

Cherrypicking the fix into 1.4 as well because we also have gce-slow-1.4 and gci-slow-1.4 CIs running.

[2017-06-07 23:46] MrHohn commented on #46919
Sent cherry picks:
- release-1.6: https://github.com/kubernetes/kubernetes/pull/47146
- release-1.5: https://github.com/kubernetes/kubernetes/pull/47147
- release-1.4: https://github.com/kubernetes/kubernetes/pull/47148

Cherrypicking the fix into 1.4 as well because we also have gce-slow-1.4 and gci-slow-1.4 CIs running.

[2017-06-07 23:51] caesarxuchao opened #47149 "ci-kubernetes-e2e-gce-release-1-7 is failing"
Overall: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1-7?

One job: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1-7/54/build-log.txt

Failure might be caused by this line:
[code]

@dchen1107 @kubernetes/kubernetes-release-managers

[2017-06-07 23:53] #47072 closed

[2017-06-07 23:53] #46736 closed

[2017-06-07 23:55] dchen1107 commented on #47149
This looks like a test-infra related issue. Assign @krzyzacy for the first triage. Thanks!

[2017-06-07 23:56] jhorwit2 commented on #47107
I *think* the check would need to go [in this method](https://github.com/kubernetes/kubernetes/blob/c13d8917c2f3b38ef2d8307f67c9704265f345a8/pkg/kubelet/kuberuntime/kuberuntime_container.go#L134)

I'm not really sure if that's the only place. It seems rkt copies most of that logic?

[2017-06-07 23:56] caesarxuchao commented on #47149
This one failed creating firewall rule:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1-7/47/?log#log
[code]

[2017-06-08 00:03] nqbao opened #47150 "Scheduler shutdown randomly: Schedulercache is corrupted and can badly affect scheduling decisions"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: a single kubernetes node running inside our internal machine
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`): Linux bengio 4.4.0-79-generic #100-Ubuntu SMP Wed May 17 19:58:14 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:  manual, I'

[2017-06-08 00:03] krzyzacy commented on #47149
https://github.com/kubernetes/test-infra/pull/2988

[2017-06-08 00:05] nqbao commented on #47150
/sig scheduling

[2017-06-08 00:06] nqbao commented on #47150
@kuberntes/sig-scheduling-misc

[2017-06-08 00:14] yujuhong commented on #47135
In https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-etcd3/34991, test timed out around 14:24 because namespace could not be deleted (`e2e-tests-clientset-hrxpx `)
[code]
From the apiserver.log, kubelet deleted the only pod `podfda938ed-4bc6-11e7-98d7-0242ac110002` in the namespace around 21:21:27, well before the timeout.
[code]

The controller

[2017-06-08 00:55] #47145 closed

[2017-06-08 01:00] jianzhangbjz commented on #47025
@k82cn Thanks a lot. :)

[2017-06-08 01:19] xingzhou commented on #47109
for nfs example, the mount/umount/getvolumename are provided, but not the attach/detach, this might be related to the error

[2017-06-08 01:30] resouer commented on #47150
How's your etcd installed in your deploy? Is there something wrong with your data in etcd? I didn't reproduce it by using `kubeadm` + kube 1.6.4

[2017-06-08 01:33] resouer commented on #47025
Close this since already been properly answered.

[2017-06-08 01:33] #47025 closed

[2017-06-08 01:40] caesarxuchao commented on #47149
Fixed by kubernetes/test-infra#2988.

[2017-06-08 01:40] #47149 closed

[2017-06-08 01:41] timothysc commented on #10934
RH has their own testing via OS, closing this issue.

[2017-06-08 01:41] #10934 closed

[2017-06-08 01:41] k82cn commented on #47150
@nqbao , for 1.6.x, updating ETCD to 3.0.17 (or 3.0.12) maybe helpful; we found several similar issues because of etcd version (#46347, #45237 ...).

[2017-06-08 01:42] timothysc commented on #10239
I honestly don't see this happening anytime soon, and it's not a prioritized concern.  Closing.

[2017-06-08 01:42] #10239 closed

[2017-06-08 01:43] timothysc commented on #18542
So this was originally around the etcd3 work, which has long since been done.  closing.

[2017-06-08 01:43] #18542 closed

[2017-06-08 01:45] timothysc commented on #19660
Fix happened a long time ago, closing.

[2017-06-08 01:45] #19660 closed

[2017-06-08 01:46] wzhliang commented on #47109
The official document (and some of the info I gathered from issues) indicate that `attach()` etc doesn't have to be implemented, in which case returning `Not supported` will do.

[2017-06-08 01:46] timothysc commented on #21333
Folks are doing this outside via daemonsets, closing.

[2017-06-08 01:46] #21333 closed

[2017-06-08 01:47] timothysc commented on #25762
Knobs are all there sig-node can update defaults as needed.

[2017-06-08 01:47] timothysc commented on #25970
Closing, Fixed.

[2017-06-08 01:47] #25970 closed

[2017-06-08 01:48] timothysc commented on #27624
I still think this is a useful thing.

[2017-06-08 01:50] timothysc commented on #32799
This is done.

[2017-06-08 01:50] #32799 closed

[2017-06-08 01:52] timothysc commented on #41907
@kensimon @ncdc In chatting with BrianG, he had stated that a goal of aggregated api-servers is to shard existing objects, which would allow for the customized behavior without having to do things like eventrouter and make it more 1st classed.

[2017-06-08 01:57] sjpotter commented on #47109
I return not supported for all of them, I'm also logging what calls are made to my binary.  It's only called twice.  once for init and once for getvolumename

[2017-06-08 02:01] DjangoPeng commented on #40998
@cmluciano Thanks, I'm trying the GPU feature in 1.7.0-alpha4

[2017-06-08 02:01] #46976 closed

[2017-06-08 02:01] #47077 closed

[2017-06-08 02:01] #47137 closed

[2017-06-08 02:03] DjangoPeng commented on #39592
@RemonSinnema @luxas You're right, I fixed it after setting the right proxy. Thanks!

[2017-06-08 02:08] liubog2008 commented on #34439
Thanks for your reply... @vishh
So this feature will not come until project quota is supported by ext4?

[2017-06-08 02:20] sjpotter commented on #47109
Guessing here as I don't know the volume code well in general

if we look closely at the code, we see in `kubelet/volumemanager/reconciler/reconciler.go`

it has a function `reconstructVolume()` that determines if a plugin supports attaching/detaching with this code

[code]

in volumes/plugins.go its implemented effectively as a type assertion

[code]

namely its attachable if it implements the `A

[2017-06-08 02:25] sjpotter commented on #47109
@chakri-neluri as this seems to be your change making flexvolumes attachable

[2017-06-08 02:27] jhorwit2 commented on #47107
I also just noticed that container VolumeMount's has SubPath that could also allow `..`.

It seems the best place to validate this would be [here](https://github.com/kubernetes/kubernetes/blob/c13d8917c2f3b38ef2d8307f67c9704265f345a8/pkg/kubelet/kubelet_pods.go#L147), which appears to be where the logic is to setup a host volume. If I'm thinking about this right, it should be sufficient to do a ch

[2017-06-08 02:27] k82cn commented on #27624
Agree, I'd like to make k8s as a basic for "batch job" too. There're also some requirements from customers that one platform for all workloads, e.g. service, batch job; and build dedicated cluster for special requirements if any.

xref https://github.com/kubernetes/features/issues/269

[2017-06-08 02:32] sjpotter commented on #47109
if my above analysis is correct, I can't see how it would have worked in 1.6 either.

[2017-06-08 02:33] DjangoPeng commented on #39592
For Centos users: add `sslverify=0` into the kubernetes.repo to avoid the verify issue.

[2017-06-08 02:44] xingzhou commented on #47109
The attachment/detachment can be done in two places, one is in `volume manager`, while the other one is in attach_detach_controller, I think in this case, we are using FlexVolume as the volume plugin and Flex volume will invoke binary functions defined in the nfs shell script. I will have some time these days and will look at the details, thx

[2017-06-08 02:47] wasylkowski commented on #47127
I am looking into this right now.

[2017-06-08 03:01] krzyzacy commented on #47149
/close

[2017-06-08 03:04] liggitt commented on #47107
I thought host path was specifically dealt with in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/host_path/host_path.go#L101

[2017-06-08 03:08] WIZARD-CXY commented on #46070
sorry for the late reply, I tried to use the above yaml to deploy gpu pod several times, but it doesn't reproduce the issue, I have to spend more time digging more deeper. I will keep posted

[2017-06-08 03:23] wasylkowski commented on #47127
It's unrelated. I reverted #46833 from the current master HEAD locally (via `git revert -m 1 07e4cca7b3`), then did `make` and finally `go run hack/e2e.go -v -test --test_args='--ginkgo.focus=Initializers\sshould\sdynamically\sregister\sand\sapply\sinitializers\sto\spods\s\[Serial\]$'` and it did not help. The test still fails with the same message "Expected <*v1.Initializers | 0x0>: nil not to be

[2017-06-08 03:24] liqlin2015 opened #47154 "Pod tries to mount serviceaccount secret that does not exist when restart docker engine"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-08 03:33] k82cn commented on #47154
/sig apps

[2017-06-08 03:41] wlan0 opened #47155 "CCM and Kubelet both write addresses on node object"
When running a kubernetes cluster with Cloud Controller Manager, the node object does not get any addresses other than the internal IP address and Hostname.

After debugging @ublubu and I found that both CCM and kubelet race to set the node address. The kubelet is supposed to back off from setting node address when the cloudprovider is set to external.

This is where kubelet sets node address - ht

[2017-06-08 03:41] wasylkowski commented on #47127
Note that I have executed one of the initializers e2e test (not autoscaling), because it is one of the tests reported by https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1173 as panicked.

[2017-06-08 03:41] wlan0 commented on #47155
/sig cluster-ops

[2017-06-08 03:42] wlan0 commented on #47155
@ublubu

[2017-06-08 03:48] thockin commented on #47155
Fix should target 1.7.1

[2017-06-08 03:49] wasylkowski commented on #47127
Looking a bit further I found out that commit https://github.com/kubernetes/kubernetes/commit/772ab8e1b4163c17d285a2789321762a8f2dc9f3 added the test above as already failing.

[2017-06-08 03:58] yan234280533 opened #47156 "Is the cluterIP support Ping command ?"
In k8s service, every service has an clusterIP. But in 1.4 version, can not "ping clusterIP", can it support in newest k8s ?

[2017-06-08 04:02] nqbao commented on #47150
Right, i was using 3.0.4. Upgrading to 3.0.17 solved the problem!

[2017-06-08 04:03] wasylkowski commented on #47127
I have just realized that I have discovered yesterday a race condition in ResourceConsumer implementation, and #46833 might actually make it worse. Let me quickly make a PR out of a fix.

[2017-06-08 04:15] wasylkowski commented on #47127
Let me try to recap what I have found out so far:
- The test that is being referred to at the top of this issue (e2e/extension/initializers.go) fails "out of the box" and probably deserves a separate issue to track it
- Other failing tests that look like they have a similar failure pattern (NPE) fail because of trying to send a "consume CPU" request to a non-existent pod (unrelated to initializers

[2017-06-08 04:49] k82cn commented on #47150
Great :).

/close

[2017-06-08 04:49] k82cn commented on #47150
/assign

[2017-06-08 04:49] k82cn commented on #47150
/close

[2017-06-08 04:49] #47150 closed

[2017-06-08 04:52] k82cn commented on #47085
What the etcd version? There's an issue (https://github.com/kubernetes/kubernetes/issues/45506#issuecomment-299964706) that can not get ETCD's DELETE notification; it's resolved by upgrading etcd version to 3.0.12 or 3.0.17.

[2017-06-08 04:55] amalkasubasinghe commented on #41039
Can I know a timeline when we can expect Kubernetes 1.8?

[2017-06-08 05:02] brugz commented on #29735
We saw this in a related configuration. Marking --record=true on the deployment [1] and setting the revision history [2] configuration seemed to alleviate the stress. Is there a status on the hash collision bug?

[1] https://kubernetes.io/docs/concepts/workloads/controllers/deployment/
[2] https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#revision-history-limit

Thanks,
Brugz

[2017-06-08 05:23] smarterclayton commented on #47127
Initializer was fixed in a different PR, depending on what cluster you test
on.

On Thu, Jun 8, 2017 at 12:16 AM, Andrzej Wasylkowski <
notifications@github.com> wrote:

[2017-06-08 05:27] smarterclayton commented on #47127
Yeah, confirmed initializers test is now passing on GCE and disabled on GKE
(which doesn't enable initializers configuration group yet)

On Thu, Jun 8, 2017 at 1:23 AM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2017-06-08 05:29] liggitt commented on #47135
seeing super slow namespace deletion, and the kubelet trying to mount volumes for a pod 2 minutes after it has observed the pod being deleted:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46796/pull-kubernetes-e2e-gce-etcd3/35035/
[code]

[2017-06-08 05:54] sjpotter commented on #47109
if I get a chance tomorrow, I'm going to recompile k8s but with the flexvolume code missing a function so it fails to fit the Attachable interface and see if it works.

[2017-06-08 05:58] vaibhavjain882 commented on #43815
Any resolution on this ? I was not able to do this even after trying all the mentioned resolutions.

[2017-06-08 06:04] derekwaynecarr opened #47159 "kubefed init errors if namespace already exists"
**Is this a BUG REPORT or FEATURE REQUEST?**
BUG

**What happened**:

[code]

**What you expected to happen**:
I expected the command to not error if the namespace already existed.
kubefed should only create a namespace if it doesnt already exist, otherwise just use the one i gave.

**How to reproduce it** (as minimally and precisely as possible):
see above

**Anything else we need to know**:
nope

[2017-06-08 06:05] derekwaynecarr commented on #47159
cc @marun @kubernetes/sig-federation-bugs

[2017-06-08 06:06] tonyjchong commented on #45626
Having the same issue here. 2 replicas in my replica set. 1 pod getting stuck in the same way, only starting happening after upgrading to k8s 1.6.2. Don't just want to 👍, so I'm adding a few details.

The error seems to be the "same pod", even after manual intervention. I delete the pod and watch it work again for a little bit. The only thing I saw that was weird is that with `docker ps` I saw the

[2017-06-08 06:08] pranabsharma commented on #43634
I too had the same issue with v 1.6, after setting --storage-backend=etcd2 as written above by @ozdanborne resolved the issue.

[2017-06-08 06:26] liggitt commented on #47154
that is not the intended behavior (nor can I recreate that behavior)... the secrets are persisted in etcd and should only be created if missing.

are you keeping the controller manager running while docker engine restarts?

[2017-06-08 06:31] liggitt commented on #46740
certificates flake fixed in https://github.com/kubernetes/kubernetes/pull/46383

[2017-06-08 06:45] janetkuo commented on #29735
@brugz the fix will be included in 1.7 release

[2017-06-08 07:14] wangycc commented on #47131
I have encountered the same problem, this problem has been troubled me.

kubernetes version: v1.6.4
etcd version: 3.1.8

etcd status:

    [root@ip-10-255-2-76 kubernetes]# etcdctl \

    2017-06-08 15:09:07.272311 I | warning: ignoring ServerName for user-provided CA for
    backwards compatibility is deprecated
    2017-06-08 15:09:07.273036 I | warning: ignoring ServerName for user-provided CA

[2017-06-08 07:35] zjj2wry opened #47163 "feature request: add kubectl top --sort flag"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-08 07:37] zjj2wry commented on #47163
/sig cli

[2017-06-08 07:41] deimosfr commented on #47085
I will upgrade the version to see if it's better. I'm using v3.0.10.
I'll keep you updated
Thanks

[2017-06-08 07:49] xingzhou commented on #47109
@sjpotter and @wzhliang, I just try to reproduce the issue on my laptop, here is what I tried, for comparison:
1. config nfs and start the server, in this case, I shared a fold at `/home/vagrant/nfs-trial1`
2. Cp `kubernetes/examples/volumes/flexvolume/nfs` to `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/k8s~nfs/`
3. Start kubernetes cluster by `hack/local-up-cluster.sh`, note that, this l

[2017-06-08 07:51] CaoShuFeng opened #47165 "race condition of kubectl logs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
community master

**Environment**: ubuntu
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Run this command twice at the same time to get container logs:
cur

[2017-06-08 08:59] m-burst commented on #43516
It appears that in my case the problem was memory usage, not CPU.
I've set limits on pod memory and haven't run into the problem for the last 12 hours (and got a lot of pod restarts with OOMKilled, which proves that memory is the problem).

[2017-06-08 09:11] k82cn opened #47167 "Add 'standalone' flag to kubelet and remove deprecated flags"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
enhancement/clean-up

**Kubernetes version** (use `kubectl version`):
master branch

**Description**:
According to the following comments of kubelet, we should remove  deprecated flags since 1.5 and introduce `standalone` flag. Should be done in 1.8.

* https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L361
* h

[2017-06-08 09:11] k82cn commented on #47167
/sig node

[2017-06-08 09:11] k82cn commented on #47167
/assign

[2017-06-08 09:12] stuart-warren opened #47168 "Openstack support missing from PersistentVolumeLabel Admission Controller"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`openstack PersistentVolumeLabel`

FEATURE REQUEST

Kubernetes doesn't currently support Openstack for PersistentVolumeLabel Admission Controller as seen here: https://github.com/kubernetes/kubernetes/blob/822e29dd3ce90421c099f6bec7f476c419c3211e/plugi

[2017-06-08 09:13] stuart-warren commented on #47168
@kubernetes/sig-openstack

[2017-06-08 09:20] chengzhang1016 commented on #46482
@deads2k @DirectXMan12 @mdshuai I did below trying:
1. curl metrics api with '--cacert', '--cert' and '--key', result is "Unauthorized".
2. curl metrics api with '-H', '--cacert', '--cert' and '--key', can get pod resource metrics successfully.
[code]
3. curl metrics api with '-H', and '--cacert', can get pod resource metrics successfully. Result same with above.
4. curl metrics api with '-H', '-k

[2017-06-08 09:56] wzhliang commented on #47109
@xingzhou  is `--enable-controller-attach-detach=true` on by default? My cluster was created using `kubeadm`

[2017-06-08 09:57] xilabao opened #47172 "support --dry-run in kubectl patch command"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-08 10:02] xilabao opened #47173 "get the patch from edit command"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-08 10:25] kargakis commented on #43516
/sig node

[2017-06-08 10:28] jsafrane commented on #47129
Detailed stats per test:

[code]

I was afraid that PV controller tests could be the culprit but they are not.

[2017-06-08 10:59] ReSearchITEng commented on #43471
I went through the documentation, but it's not yet clear: If we plan to use PV/PVC, StorageClasses, etc., do we still need to create a vmdk manually first?
I tried without doing any govc command, or manipulations from cli, and we got this:
[code]

Note: the user has admin at the DataCenter level, and has ReadOnly access at the VC level.
Our config:
[code]

[2017-06-08 11:21] luxas opened #47174 "e2e test the Node Authorizer"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

TESTING REQUEST

Spawned from: https://github.com/kubernetes/kubernetes/pull/46879
It would be nice with some e2e tests for the Node Authorizer so consumers of it (kubeadm, GCE, GKE, etc.) could easily make sure it's enabled and working, just by editing `ginkgo.focus` when running e2e's.

I wrote a quick bash script of what it could do:

[2017-06-08 11:46] lyz-code commented on #45961
Redeploying the same cluster in the same infrastructure with the same configuration... worked

(╯°□°)╯ ┻━┻

[2017-06-08 11:46] #45961 closed

[2017-06-08 11:55] luxas opened #47175 "Why is cAdvisor listening unconditionally on the public IP?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Kubernetes version** (use `kubectl version`): All

It seems like cAdvisor always is listening on `:::4194` (the port is configurable with `--cadvisor-port` but...)
I know it's used in kubelet for various features like OOM detection, detecting disk space and other necessary information. That's totally ok.

However, the f

[2017-06-08 11:56] pmichali commented on #44848
All three PRs for this issue are up for review (46044, 46138, 46874), with the latter having all the commit.

[2017-06-08 12:49] mccormd commented on #34583
Would it make sense to say that the dynamic creation of a volume should happen only once a PVC has been attached to a pod which has been successfully scheduled to a node?  Then the av_zone of the volume should match that of the selected node?

[2017-06-08 13:00] svaj commented on #41039
Rather than asking for a timeline, I'd be more interested in the remaining work to get this into 1.8.  There might be some of us that have some spare cycles to contribute to this goal.

[2017-06-08 13:04] puja108 commented on #23013
Just ran into the same issue with K8s 1.6.4. I had a node being OOD and repaired it manually, when it came back healthy the ds was not scheduled there and the ds controller did not even try that.

Fixed it using @ankon's comment above (https://github.com/kubernetes/kubernetes/issues/23013#issuecomment-296596687)

[2017-06-08 13:10] svenwltr commented on #17199
Which endpoint implements this? I didn't find anything in the docs.

[2017-06-08 13:22] deimosfr commented on #47085
It works thanks with 3.0.17 ! That was the issue !

Thanks a lot

[2017-06-08 13:22] #47085 closed

[2017-06-08 13:23] ktsakalozos opened #47176 "Labels ignored when deploying juju kubernetes-worker with config file"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Juju label kubernetes-worker

---

**Is this a BUG R

[2017-06-08 13:24] ktsakalozos commented on #47176
@kubernetes/sig-on-prem

[2017-06-08 13:26] timothysc commented on #39582
@gmarek @wojtek-t - Should we close this?

You 2 track this regularly.

[2017-06-08 13:28] timothysc commented on #40271
@wojtek-t @gmarek ping on this issue...

[2017-06-08 13:36] k82cn commented on #47085
/assign

[2017-06-08 13:43] xiangpengzhao commented on #47176
/sig onprem

[2017-06-08 13:46] xiangpengzhao commented on #47156
/sig network
/kind support
/cc @smarterclayton

AFAIK, k8s doesn't but openshift does.

[2017-06-08 13:49] xiangpengzhao commented on #47173
/sig cli

IMO, we'd better post this issue to [kubernetes/kubectl](https://github.com/kubernetes/kubectl/issues/new), as the issue template says..

[2017-06-08 13:52] xiangpengzhao commented on #47172
/sig cli

[2017-06-08 13:53] xiangpengzhao commented on #47165
/sig node
/area logging

[2017-06-08 13:56] xiangpengzhao commented on #47168
/sig openstack
/sig storage

[2017-06-08 14:03] tnozicka opened #47180 "`kubectl run --dry-run` -> error"
`kubectl run --dry-run` doesn't work and returns error. (See bellow.)

It seems to be caused by printers. They can't print multi-versioned objects. This exact issue is with `Deployments`.
 - there is a [printer handler](ttps://github.com/tnozicka/kubernetes/blob/348bf1e03206385de8f6111bf7d166d3769ed63d/pkg/printers/internalversion/printers.go#L1653-L1653) for type `*extensions.Deployment`
 - with

[2017-06-08 14:06] tnozicka commented on #47180
/sig sig/cli

[2017-06-08 14:20] dforste commented on #34583
Yes I would agree with that statement. The PVC should be created when we know the node and AZ it is a apart of.

[2017-06-08 14:23] tnozicka commented on #47180
cc: @mfojtik

[2017-06-08 14:25] xiangpengzhao commented on #47180
/sig cli

[2017-06-08 14:25] sjpotter commented on #47109
Yes in real cluster one would have that.  Mine is in gcp

On Jun 8, 2017 2:57 AM, "Wenzhi Liang" <notifications@github.com> wrote:

[2017-06-08 14:25] chuckbutler opened #47182 "Juju kubernetes-master charm initiates kube-system pod polling too early in the event cycle"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`): N/A

**Environment**:
- **Cloud provider or hardware configuration**: ALL
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: Juju

**What happened**:  During the initialization of the kubernetes-master charm and addons snap

[2017-06-08 14:30] k82cn opened #47184 "Deprecated '--runonce' of kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
enhancement/cleanup

**Kubernetes version** (use `kubectl version`):
master branch for 1.8

**Description**:
According to the TODO at (https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L63), it's better to deprecate `--runonce` of kubelet.

[2017-06-08 14:30] k82cn commented on #47184
/sig node

[2017-06-08 14:37] ericchiang opened #47186 "E2E gci-gce-serial kube-dns not coming up"
gci-gce-serial has been failing since June 4th.

https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-serial&width=5

Seens a lot of different test failures that look like kube-system isn't coming up.

A bunch are looping on kube-dns not being ready.

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1210?log#log
https://k8s-guber

[2017-06-08 14:50] chuckbutler commented on #47182
/sig on-prem

[2017-06-08 14:54] gnufied commented on #40632
BTW - I hit on the same problem on my relatively fast desktop (4.5Ghz, 32GB RAM). I think the problem is related to loopback device for metadata and data:

[code]

Once I configured proper lvm devices as per instruction here - https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/ the error went away.

[2017-06-08 15:03] kad commented on #40632
@gnufied changing storage driver in docker only hides issue, just because it changes timings on parallel operations. With some luck (load on your host or disk i/o load) you will hit it again.
Main problem is actually "docker build --pull" which is executed for same base image in parallel.
In my opinion, this should be fixed in docker code, that pull operation will not replace layer while it is sti

[2017-06-08 15:05] xiangpengzhao commented on #47182
/sig onprem

[2017-06-08 15:06] xiangpengzhao commented on #47062
/sig onprem

[2017-06-08 15:06] xiangpengzhao commented on #45482
/sig onprem

[2017-06-08 15:13] ianchakeres commented on #33355
Related issue about preventing deletion of PVC's that are actively referenced #45143

[2017-06-08 15:19] gnufied commented on #40632
@kad We are not changing storage driver. It is still devicemapper. What we are changing is, rather than using a file as a blockdevice (mounted via loopback interface), we are giving it a proper block device.

It is well known and well documented problem at this point -
1. http://www.projectatomic.io/blog/2015/06/notes-on-fedora-centos-and-docker-storage-drivers/
2. https://stackoverflow.com/questi

[2017-06-08 15:24] #47070 closed

[2017-06-08 15:24] ZhenyangZhao commented on #47118
run etcdctl get in etcd-cluster-0000

[code]

dig with dnstools
[code]

please help me ... Thanks a lot...

[2017-06-08 15:26] cheftako commented on #46679
#46680

[2017-06-08 15:26] #46679 closed

[2017-06-08 15:26] ZhenyangZhao commented on #47031
my mistake

[2017-06-08 15:26] #47031 closed

[2017-06-08 15:29] yujuhong commented on #47184
I think this needs to reach a broader audience since I'm not sure who's using the runonce mode.

/cc @kubernetes/sig-node-bugs

[2017-06-08 15:38] #47182 closed

[2017-06-08 15:39] k82cn commented on #47184
not remove, just deprecated it :).

[2017-06-08 15:43] chuckbutler commented on #45482
@ktsakalozos  I think we can close this with our current efforts. Between what we're doing in our CI + matrix + libjuju upgrade tests this will be deprecated in the very near future.

[2017-06-08 15:59] spzala commented on #16812
@alexanderkjeldaas As I read the doc, I agree with @lavalamp that examples are showing some common labels specially commonly used keys. I personally am OK with the doc, but if it can confuse you and @lavalamp also thinks so, I am sure it can be confusing to many. I will try to change it. Thanks!

[2017-06-08 15:59] spzala commented on #16812
/assign

[2017-06-08 16:00] #47062 closed

[2017-06-08 16:07] liggitt commented on #43538
https://github.com/kubernetes/kubernetes/pull/46064 is working to enable/test this, but will come in 1.8

[2017-06-08 16:10] liggitt commented on #47071
the effect is that PSP can overly restrict a pod that wanted to run as root, but expressed that as `runAsNonRoot: false` instead of `runAsUser: 0`

since the workaround is easy (set `runAsUser: 0` in your pod if you want to run as root), I don't anticipate backporting the fix.

[2017-06-08 16:22] dchen1107 commented on #47186
cc/ @kubernetes/sig-network-misc @MrHohn @bowei

Looks like kube-dns start failing again, which is the major cause for the current serial build failures.Thanks!

[2017-06-08 16:28] jhorwit2 commented on #47107
@liggitt the code I linked uses that object [here](https://github.com/kubernetes/kubernetes/blob/c13d8917c2f3b38ef2d8307f67c9704265f345a8/pkg/kubelet/kubelet_pods.go#L136). From what I can tell that mounter only handles provisioning PersistentVolume's. It also doesn't handle subpath's.

[2017-06-08 16:39] spzala commented on #16812
I have created this PR with minimal changes to doc but hope that removes confusion https://github.com/kubernetes/kubernetes.github.io/pull/4020

[2017-06-08 16:45] kad commented on #40632
well, to clarify my point: not changing by tuning storage driver. In my case, I'm also using devicemapper over real block devices (RAID) and due to different timings on RAID controllers on different hosts I still see same issues with different frequency.

[2017-06-08 16:54] mikedanese commented on #47135
Ref https://github.com/kubernetes/kubernetes/pull/45666

[2017-06-08 16:55] mikedanese commented on #47135
cc @kubernetes/sig-release-bugs @dchen1107 this has been blocking the SQ for 3 days and we still haven't pinned the root cause.

[2017-06-08 17:00] mandrean commented on #40651
I'm doing this little init-hack for my ZK:
[code]

[2017-06-08 17:06] mtaufen commented on #47012
Yup, SGTM as a fix.

[2017-06-08 17:13] foxish commented on #47135
The batched merges haven't been blocked by this for the past 12 hours or so. The only PR that may have fixed this that I see is https://github.com/kubernetes/kubernetes/pull/47086

[2017-06-08 17:14] dchen1107 commented on #47135
Yes, this is our top 1 issue. So far, ~50% of batch merges failed due to this issue.

[2017-06-08 17:14] foxish commented on #47135
Worth looking at https://prow.k8s.io/?type=presubmit&job=pull-kubernetes-e2e-gce-etcd3

[2017-06-08 17:33] mindprince opened #47192 "Run GPU e2e tests as part of PRs"
We should do this after 1.7.

xref https://github.com/kubernetes/kubernetes/pull/46644#issuecomment-307170512

/sig testing

cc @vishh

[2017-06-08 17:53] alok87 commented on #28366
@girishkalele can u share the command used to measure the QPS?

[2017-06-08 17:54] MrHohn commented on #47186
Quick update: Took a look some of the recent failures. The kube-dns not ready failure are likely caused by the known issue discussed in https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305933636.

cc @freehan

Though there are other issues combined, for instance: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1203
[code]
Indicate

[2017-06-08 17:54] liggitt commented on #47135
Disabling the gzip filter appears to have fixed the namespace deletion problem, though I'm not sure why. The merge of that feature corresponds with when the flakes began.

Revert is in https://github.com/kubernetes/kubernetes/pull/47191

[2017-06-08 17:58] bowei commented on #28366
One thing that may be useful is github.com:kubernetes/perf-tests/dns

[2017-06-08 18:07] bjornswift commented on #46641
We had another event today. Similar to yesterday's event. Nodes were NotReady for ~20 minutes, then recovered. Around 20 minutes later they were again marked NotReady for ~20 minutes.

We had increased the pod eviction time, so we didn't loose pods. However, as all DNS pods were on nodes that were NotReady, Kubernetes updated the dns service to have no endpoints, and we couldn't resolve DNS during

[2017-06-08 18:08] spiffxp commented on #47135
/remove-sig testing

keeping any eye on this, but this seems like an issue with app-specific code, not test-infra

[2017-06-08 18:12] bowei commented on #47186
It looks like to fix #46641 there are a couple of options:
- Change the initialization order of kubelet
- Patch over the issue with ip-masq-agent
- Don't fix (known flaky issue from before)
- More investigation (... other solution?)

@dchen1107 @yujuhong Any preference on what the next steps are? Changing the initialization order seems the most correct to me, but am not certain size of impact.

[2017-06-08 18:12] timothysc commented on #39990
@liggitt Are we going to get to the rest of your 1.7 checkmarks this cycle or should we shuffle some to 1.8?

[2017-06-08 18:13] gnufied commented on #40632
Okay, then - we should open a bug with docker and track it down. I wouldn't claim correlation of my  use case necessary equals causation.

[2017-06-08 18:21] nikhiljindal commented on #10043
Reopening since that PR just added a deprecation warning. We still need to remove the API.

[2017-06-08 18:23] sjpotter commented on #47109
yes, my analysis is correct, made the plugin no longer attachable and mount/umount work perfectly

[code]

[2017-06-08 18:28] sjpotter commented on #47109
@kubernetes/sig-storage-bugs

[2017-06-08 18:38] liggitt commented on #42289
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47191/pull-kubernetes-unit/35607/

[2017-06-08 18:41] liggitt commented on #47107
@jhorwit2 @kubernetes/sig-storage-misc should weigh in, but mounter should be used for both PV and Pod volume sources

[2017-06-08 18:48] wasylkowski commented on #47127
Clayton, can you assign this to me? I cannot do this myself.

[2017-06-08 19:08] MrHohn commented on #47186
Seems like the second case I posted above was caused by ([link](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1203/artifacts/bootstrap-e2e-minion-group-lgh5/kubelet.log)):
[code]

And that was fixed by https://github.com/kubernetes/kubernetes/pull/47083.

[2017-06-08 19:09] divyenpatel commented on #43471
@ReSearchITEng

No we do not need to create vmdks manually.
Just assign Role to the user at VC level and not at Datacenter to be able to monitor VC tasks.

Disks are created using vdisk Manger, with owning entity set as vcenter, so the task monitoring  needs to be done by the VC entity.

[2017-06-08 19:16] liggitt commented on #47107
also, I thought everything in a container's VolumeMount was from the container's point of view, so /../ traversal there would just affect where in the container the volume showed up

[2017-06-08 19:16] liggitt commented on #47107
(but someone from the storage team should verify that understanding)

[2017-06-08 19:18] liggitt commented on #47175
dupe of https://github.com/kubernetes/kubernetes/issues/11710 ?

[2017-06-08 19:22] liggitt commented on #46871
@deads2k is this fixed?

[2017-06-08 19:22] jhorwit2 commented on #47107
My understanding is that `subPath` on the [VolumeMount](https://kubernetes.io/docs/api-reference/v1.6/#volumemount-v1-core) is added to the host volume's path. The host mount used to create the container to the container is `path.Join(hostPath, subPath)` [(seen here)](https://github.com/kubernetes/kubernetes/blob/c13d8917c2f3b38ef2d8307f67c9704265f345a8/pkg/kubelet/kubelet_pods.go#L147)

That way

[2017-06-08 19:25] liggitt commented on #36666
@timstclair can you target the milestone for this appropriately?

[2017-06-08 19:26] enisoc commented on #37554
This is now re-fixed for TPR via #46736 and a regression test was added as part of fixing #47072. I'm going to close this since it appears to have been reopened mainly for the TPR case.

[2017-06-08 19:26] #37554 closed

[2017-06-08 19:27] liggitt commented on #39990
I think just the bindings item is getting done in #46750

@cjcullen can regroup the remaining items under 1.8

[2017-06-08 19:33] liggitt commented on #47107
Looks like validation prevents that, but assumes the apiserver and node OS match

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L1706

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L944

[2017-06-08 19:38] deads2k commented on #46871
Yes

[2017-06-08 19:38] #46871 closed

[2017-06-08 19:38] freehan commented on #47186
Okay. Here is what I found so far:

This time the cause of kube-dns being not ready is different than last time. This time is due to kube-proxy not able to run `iptables-restore`. Hence there is no default cluster ip 10.0.0.1 for api-server.

There are full of logs like this in kube-proxy.log:
[code]

[2017-06-08 19:39] freehan commented on #47186
I confirm that before rebooting. `/run/xtables.lock` is a file. After reboot, it becomes a directory.

Not sure why.

[2017-06-08 19:43] liggitt commented on #47107
I think I'd expect validateHostPathVolumeSource to perform the same sort of validation (no `..` segments, according to the API server OS), and *also* enforce that at the node, so that if there's a mismatch in OS, it gets caught

[2017-06-08 19:45] hongchaodeng commented on #46989
Since 1.7 is not released yet, can we have this fixed in 1.7 branch?

[2017-06-08 19:57] bowei commented on #47142
What is in your kube-system:kube-dns config map?

[2017-06-08 19:58] bowei commented on #47142
Does this change if you run busybox vs alpine-based container?

[2017-06-08 19:59] freehan commented on #47186
Okay. If the file does not exist, mountPath will create a directory. But we do a init container for xtables.lock [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-proxy/kube-proxy.manifest#L60)

Is there a race between mountPath and init container?

cc @kubernetes/sig-storage-bugs @kubernetes/sig-node-bugs

[2017-06-08 20:02] cmluciano commented on #47192
Is this the task that needs completed -

 Add support to Ubuntu e2e test-infra #46445

[2017-06-08 20:04] #37722 closed

[2017-06-08 20:07] bsalamat commented on #46989
@hongchaodeng Code freeze for 1.7 has already passed, but we have an almost ready fix that can be released with the next version.

[2017-06-08 20:10] hongchaodeng commented on #46989
Sure. Great to know that.

[2017-06-08 20:15] mindprince commented on #47192
That is different, this is about running GPU tests as part of PR pre-submit tests. Right now we skip them because they are "[Serial]".

[2017-06-08 20:20] djsly commented on #20475
Turns out that a restart of the network resets the `net/bridge/bridge-nf-call-iptables` system flag to 0.

Restarting Kubelet, put the flag back to once hence allowing the pod->service->pod (same node) traffic to work again.

[2017-06-08 20:24] antoineco commented on #20475
Thanks, systemd

![Gatsby](https://images.jacobinmag.com/2013/05/16233551/515e61e2c2337_gatsby5-2.jpg)

[2017-06-08 20:24] cheftako opened #47194 "Authenticator not accepting aggregator cert on sample-apiserver"
**Kubernetes version**:1.7.0

**Environment**:
- **Cloud provider or hardware configuration**: GCE
-**Other patches**: pull/47094

**What happened**:
Trying to run sample-apiserver with the Aggregator.
"kubectl get ConfigMap extension-apiserver-authentication --namespace=kube-system -o yaml" shows a requestheader-client-ca-file:
However all attempts by the aggregator to the sample-apiserver return

[2017-06-08 20:26] jhorwit2 commented on #47107
That sounds reasonable to me. Once someone from sig-storage weighs in I'd be glad to submit a PR.

[2017-06-08 20:37] derekwaynecarr commented on #47135
a few ideas on things we could do:

the node controller no longer force deletes pods when nodes are unhealthy (https://github.com/kubernetes/kubernetes/pull/36017).

if we see message: "namespace %v was not deleted with limit: %v, pods remaining: %v" it could mean that the node in this case never sent the final delete call to API server.  It is also possible that the node is unhealthy, and the nod

[2017-06-08 20:41] MikeSpreitzer commented on #46586
It gets worse.  github.com/opencontainers/runc/libcontainer/label also has moved, to github.com/opencontainers/selinux/go-selinux/label

[2017-06-08 20:43] #47127 closed

[2017-06-08 20:44] enisoc commented on #44407
Keep in mind that for each case that currently uses created-by, we will need to analyze and justify whether it actually makes sense for it to be switched to ControllerRef. I didn't do a full analysis yet; I only searched for the cases that we need to analyze. In some cases like CronJob, we may also need to consider what happens during cluster upgrade/downgrade if we decide to make the switch.

Fee

[2017-06-08 20:44] cmluciano commented on #47156
/assign

[2017-06-08 20:45] cmluciano commented on #47156
@yan234280533 The cluster IPs do not support ICMP traffic and ping will not work.

[2017-06-08 20:47] spiffxp commented on #44325
/sig release

[2017-06-08 20:48] perotinus commented on #39986
/assign @perotinus

[2017-06-08 20:48] perotinus commented on #39986
/unassign @mwielgus

[2017-06-08 20:48] spiffxp commented on #44393
/remove-sig testing
/sig scalability

[2017-06-08 20:48] saad-ali commented on #47107
Doing `filepath.Clean(...)` in `validateHostPathVolumeSource(...)` makes sense to me.

However, my only question is about this statement:

Once it gets accepted by the API server, when does node call `pkg/api/validation/validation.go:validateHostPathVolumeSource(...)`?

[2017-06-08 20:49] spiffxp commented on #1801
/remove-sig testing

[2017-06-08 20:49] djsly commented on #20475
Looks like on centos 7.3 the OS defines the default to be 0
[code]

[2017-06-08 20:49] msau42 commented on #47109
@verult had some ideas on this
cc @saad-ali @chakri-nelluri

[2017-06-08 20:52] MrHohn commented on #47186
Seems to be introduced by #46259, which was merged at Jun 5th.

[2017-06-08 20:52] MrHohn commented on #47186
cc @Q-Lee

[2017-06-08 20:53] enisoc commented on #45728
Migration guide was [announced](https://groups.google.com/d/msg/kubernetes-dev/R749_-L_ssc/p-3tyl6mAQAJ).

[2017-06-08 20:53] #45728 closed

[2017-06-08 20:54] cmluciano commented on #40998
Thanks @DjangoPeng. We have https://github.com/kubernetes/kubernetes/issues/44107 open to further our support.

[2017-06-08 20:59] mengqiy opened #47198 "Remove the deprecated serviceAccount field in podSpec"
Remove the deprecated [`serviceAccount`](https://github.com/kubernetes/kubernetes/blob/502be9f90634c37f1078cd9f2621ce44acb0303e/pkg/api/v1/types.go#L2399) field in podSpec.
This field has been deprecated at least since July 2015, see [PR] (https://github.com/kubernetes/kubernetes/pull/11389/files#diff-e58c0c0709cf6f8a3b00aef6069b66b7R881).

It causes issue like https://github.com/kubernetes/kubect

[2017-06-08 21:02] Q-Lee commented on #47071
SGTM. I'll try and get the unit tests in after the GKE summit (on friday).

[2017-06-08 21:04] cmluciano commented on #47192
I can work on this issue in conjunction with #46445. Is this issue just a matter of adding GPU tests to a different suite or are there more subtasks?

[2017-06-08 21:05] crimsonfaith91 commented on #44407
@enisoc Definitely! I will spend some time going over the codebase for `pod`, `cronjob`, and others to analyze the effect. I will sync with you sometime next week. :)

[2017-06-08 21:11] yujuhong commented on #47186
Init containers are (unintentionally) not rerun as node restarted: #36485

[2017-06-08 21:14] Q-Lee commented on #47186
We're using a new version of iptables that attempts to lock on "/run/xtables.lock". Here's the summary.

1. iptables fails if the "/run" dir doesn't exist.
1. The "/run" dir doesn't exist on the base image.
1. The lock file is meaningless if it's not on a shared mount (flock).
1. Mounting the file creates a dir if the file doesn't already exist.
1. There exists an approved design to specify the ty

[2017-06-08 21:35] Q-Lee commented on #47186
@yujuhong - interesting. I think I agree with others in the thread that the init container should be rerun. To quote bgrant:

In this case, the "/run" directory _is_ lost over the reboot.

--

But I doubt that changing the kubelet to rerun the init containers is an impractical fix at this point in this release. Can we just touch the file during node startup?

[2017-06-08 21:43] wasylkowski commented on #46769
@wojtek-t This looks like a duplicate of #47127...

[2017-06-08 21:44] wasylkowski commented on #46769
...and so should be fixed already

[2017-06-08 21:52] yujuhong commented on #47186
Uh...I don't disagree that init containers should be rerun when pods restarts. It sounds like a unintentional bug in the implementation and probably never worked since the feature was introduced. But I don't think kubelet can/should figure where you write your data in the init containers and whether the data will be lost after reboot... It either always rerun or not.

Changing kubelet's logic woul

[2017-06-08 21:53] ravilr commented on #47120
@fthamp did you read the 1.6 release CHANGELOG : https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#node-components

It is not compatible with containers created by older Kubelets. It is recommended to drain your node before upgrade. If you choose to perform an in-place upgrade, the Kubelet will automatically restart all Kubernetes-managed containers on the node.

[2017-06-08 22:05] Q-Lee commented on #47186
My suggestion was gci-centric, that's fair. In retrospect, that was one of the major reasons to put it in an init container in the first place. It's an action that always needs to happen *before* we mount the file.

Alternatively, kube-proxy does very little. I don't think it will pollute /run. We could just mount the entire dir.
My understanding is that a feature is in the works that will let us

[2017-06-08 22:16] noah8713 opened #47201 "Agent(clients) showing tcp connection established to api server, but actually doing nothing"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
Yes
**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-08 22:17] noah8713 commented on #47201
/sig kube-api

[2017-06-08 22:18] noah8713 commented on #47201
cc @kubernetes/sig-release-misc @kubernetes/sig-testing-misc

[2017-06-08 22:19] noah8713 commented on #47201
/sig network

[2017-06-08 22:19] noah8713 commented on #47201
/sig tcp-connection

[2017-06-08 22:21] bspradling8 commented on #46119
@ajwootto have you found a workaround for this?

[2017-06-08 22:24] dchen1107 commented on #47186
Just read through the entire issue, and agreed with @Q-Lee above. The issue is a regression introduced by new version of gci image, and kubelet itself doesn't have any knowledge and dependency on this particular file: /run/xtables.lock. Any extra logic introducing to Kubelet is pollute the kubelet codebase here.

Suggested workaround for now is touch that file at GCI / COS node startup time, which

[2017-06-08 22:27] smarterclayton commented on #47186
Re: init containers, the *intent* was that init containers would be re-run
when your "pod was restarted".   But we have no formal definition of that,
and in the absence of it, I'd probably lean in a future release to
rerunning init containers after reboot (init containers are supposed to run
if zero containers are found running).

On Thu, Jun 8, 2017 at 6:24 PM, Dawn Chen <notifications@github.com

[2017-06-08 22:29] Q-Lee commented on #47186
@dchen1107 - that's doesn't sound entirely correct. The kubelet and kube-proxy both use iptables in the same netns. If the kubelet isn't locking, then it probably should.

This works fine for gci, but where else is kube-proxy used?

[2017-06-08 22:30] shyamjvs commented on #45288
@xiechengsheng Did you retry running the e2e test? If you are still failing, it might be worth checking the CPU/memory usage of the kubemark pods and size of your nodes. Also it might be the network is slow between master and nodes. It'd be great if you can tell what configuration you've started your cluster with (no. of nodes and hollow-nodes, size of nodes, size of kubemark master). And you coul

[2017-06-08 22:31] yujuhong commented on #47186
Whenever the podsandbox (infra container) needs to be restarted, kubelet'd kill all the containers associated with it anyway, so I think we could just use that as an indication (i.e., need to create the podsandbox -> run all init containers). That way, we don't have to distinguish node reboots. @smarterclayton WDYT?

[2017-06-08 22:32] Q-Lee commented on #47186
That makes sense to me, and I believe it was the suggested solution in the issue's thread.

[2017-06-08 22:36] smarterclayton commented on #47186
I think that was even in the original implementation, but that was when the
container sync startup code was nightmarish and hard to clearly communicate.

On Thu, Jun 8, 2017 at 6:33 PM, Q-Lee <notifications@github.com> wrote:

[2017-06-08 22:37] liggitt commented on #47194
How did you create the client cert/key for the aggregator? Can you verify the client cert/key the aggregator is using matches the ca in the configmap?

[2017-06-08 22:41] liggitt commented on #47107
You mean make sure the path passed in is identical to the result of calling filepath.Clean()?

I would expect the check on hostpath paths in SetUp for the hostpath volume plugin and on VolumeMount.SubPath fields in makeMounts

[2017-06-08 22:41] noah8713 commented on #47201
/assign

[2017-06-08 22:42] noah8713 commented on #47201
cc @liggitt

[2017-06-08 22:45] justinsb commented on #47201
Is there a load balancer in the picture here?

[2017-06-08 22:46] #47134 closed

[2017-06-08 22:50] iterion opened #47202 "CronJobs should support timezones"
I couldn't find any discussion of this after searching for "cron timezone", "cronjob timezone", or "scheduledjob timezone".

The CronJob spec makes reference to https://en.wikipedia.org/wiki/Cron. That page suggests that cron would respect the timezone for a given user. The controller manager runs in a single time zone under a single user so I can't use different time zones for each job. I have jo

[2017-06-08 22:57] gyliu513 opened #47205 "Remove mesos cloud provider from Kubernetes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-08 23:04] msau42 opened #47207 "Don't allow backsteps in local volume plugin"
**Kubernetes version** (use `kubectl version`): 1.7

Similar to #47107, we need to check for backsteps in the path ("/foo/bar/../../../baz") for the local volume.  It should be checked in the API validation, and also at mount time.

[2017-06-08 23:04] msau42 commented on #47207
/sig label

[2017-06-08 23:05] msau42 commented on #47207
/sig storage

[2017-06-08 23:05] msau42 commented on #47207
@ddysher, would you be able to look at this?

[2017-06-08 23:19] Q-Lee commented on #47186
@dchen1107 I think adding it there is better than putting it in the kubelet. But we'll need to be careful, because it needs to be added by anything that needs kube-proxy, and communicated to anyone whose startup isn't checked into the main repo.

[2017-06-08 23:21] krzyzacy opened #47208 "alpha-features suite is failing to up the cluster"
https://k8s-testgrid.appspot.com/release-master-blocking#gce-alpha-features

kubelet log:
[code]

@thockin since it might be "cloud provider"
@mtaufen since it might relate to kubelet config

cc @dchen1107 @caesarxuchao

[2017-06-08 23:24] krzyzacy opened #47209 "federation-1.7 job fail to up cluster"
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-federation-release-1-7

Seems some quota issue? @madhusudancs
[code]

cc @dchen1107 @caesarxuchao

[2017-06-08 23:25] krzyzacy commented on #47209
/sig federation

[2017-06-08 23:25] krzyzacy commented on #47208
/sig node

[2017-06-08 23:33] noah8713 commented on #47201
yes apiservers are running behind a vip

[2017-06-08 23:34] noah8713 commented on #47201
@justinsb

[2017-06-08 23:40] dchen1107 commented on #47186
@Q-Lee you convinced me that Kubelet can temporarily carry that workaround. @MrHohn can you send us a pr in Kubelet with a TODO to remove it soon.

Re: https://github.com/kubernetes/kubernetes/issues/47186#issuecomment-307245350 @yujuhong what you proposed above SGTM. But like what @smarterclayton mentioned above, we didn't clearly define what is pod restart at the initial design time. At this mom

[2017-06-08 23:50] msau42 commented on #47207
To clarify, I don't think this is critical to fix in 1.7 (for local volumes).  Only the adminstrator can create local PVs, so the paths they export are under their control.

[2017-06-08 23:54] XiaoningDing commented on #45300
Sorry for not updating this thread for a while. I just came back from a long business trip.

@smarterclayton How about letting user define the service as they usually do, and the controller just append an additional label selector (like alpha.k8s.io/role-active=true) to the service?  This way we don't have to create a new service. The user provided service will always point to the current active i

[2017-06-08 23:55] ddysher commented on #47207
sure, i'll take a look after external provisioner work.

[2017-06-09 00:03] yujuhong commented on #36485
@smarterclayton, moving the discussion back to the main thread to not pollute the other issue.
https://github.com/kubernetes/kubernetes/issues/47186#issuecomment-307246119

container sync startup code was nightmarish and hard to clearly communicate.

That's a fair point, although I am not sure it's less complex now and init containers contributed a lot to the complexity too... We also need better

[2017-06-09 00:05] bowei commented on #47142
Could you post your /etc/resolve.conf from your VM?

[2017-06-09 00:08] k82cn commented on #34924
@cmluciano  , @gyliu513 , please continue the work to remove them.

I assign to myself just for tracing :).

[2017-06-09 00:09] k82cn commented on #34924
/assign @cmluciano , @gyliu513

[2017-06-09 00:10] k82cn commented on #47205
sure, please continue the work at xref ##34924 , there's some discussion here.

[2017-06-09 00:10] yujuhong commented on #47135
@derekwaynecarr in the one failure I looked at (https://github.com/kubernetes/kubernetes/issues/47135#issuecomment-306961946), kubelet did delete the pod (and got 404 on the next GET). Is it possible to surface more information in these cases as well?

[2017-06-09 00:10] k82cn commented on #34924
/assign @cmluciano @gyliu513

[2017-06-09 00:10] cheftako commented on #47194
Prospective fix is pull/47196

[2017-06-09 00:17] janetkuo opened #47210 "kubectl apply doesn't record the right change cause for DaemonSet history"
**What happened**:
[code]

**What you expected to happen**:
DS history revision 2 should have change cause from the second command "kubectl apply -f ds-2.yaml --record", not the first

/assign @janetkuo

[2017-06-09 00:19] cheftako commented on #47194
I created the client cert/key for the aggregator using pull/47094. I connected to the kube-apiserver and verified using openssl that the ca signing the client cert/key on it matched the ca in the configmap. I also instrumented the x509 code on the sample-apiserver to print the CN of the the cert and its issuer in the request header. I validated that they matched the corresponding keys on the kube-

[2017-06-09 00:19] #47194 closed

[2017-06-09 00:20] liggitt commented on #47194
It seems like the client certs or ca you have are misconfigured. The only way you should get a 401 with an unrecognized CA error is if all three authenticators in the inner union fail to authenticate

[2017-06-09 00:28] dchen1107 commented on #47209
cc/ @kubernetes/sig-federation-misc @csbell

[2017-06-09 00:32] ZhenyangZhao commented on #47118
My dns provide is CoreDNS.  I start up federation use your sh script 1-set-up-federation.sh .And i check the zones has been configured...
Cat coredns pod's Corefile
[code]

Here is kube-dns dnsmasq log
[code]

I create a federation nginx service, and startup a dnstools pod with image infoblox/dnstools:latest.
dig/host/lookup `nginx.default.federation & nginx.default` ok, but `nginx.default.federat

[2017-06-09 00:33] ZhenyangZhao commented on #47118
I found a strange place... I don't know if am i error...

When i nslookup an correct dns domain name, CoreDNS logs nothing. But i nslookup an error domain name, CoreDNS logs can not found key.I think DNS maybe works but i dont konw why it can not return an answer ...

#### Correct situation
[code]

[code]
#### Error situation

[code]

[code]

[2017-06-09 00:34] ZhenyangZhao commented on #47118
/sig network

[2017-06-09 00:34] xiangpengzhao commented on #47202
/sig apps

[2017-06-09 00:39] ahmetb opened #47211 "client-go/examples/custom-resources: broken link"
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/examples/custom-resources has the link:

http://github.com/kubernetes/apiextensions-apiserver/examples/client-go

which is currently 404. Can we make this page more useful? Perhaps delete the `custom-resources` example and add the deprecation/redirection notice to `third-party-resources-deprecated/README.md`?

/assig

[2017-06-09 00:40] liqlin2015 commented on #47154
No. I was deploying etcd, kube-apiserver, kube-controller-manager, kube-scheduler and kube-proxy as static pod. And kubelet also was running in a docker container. So after docker engine was restarted, kubelet was the first one brought back. After kubelet started, it started these static pods. Controller manager was not running when docker engine was restarted.

[2017-06-09 00:41] ahmetb commented on #47211
/sig api-machinery

[2017-06-09 00:41] gyliu513 commented on #47205
Currently, I only want to clean up the mesos related cloud provider here @k82cn

[2017-06-09 00:45] verult commented on #47109
@sjpotter I agree with your conclusion.

For all the reproduced scenarios here, is a copy of the nfs driver installed on master as well? If not, with --enable-controller-attach-detach=true, the master performs the attach, and since it doesn't know about the FlexVolume driver, the attach will fail.

I don't think this is the best way to go forward, and am working on a potential solution. For the ti

[2017-06-09 00:49] madhusudancs commented on #47209
I have asked for a quota increase. It usually takes about a day.

[2017-06-09 01:16] k82cn commented on #10043
wow, agree.

@nikhiljindal , would you help to remove milestone? We will not remove API in 1.7 or 1.8; but I'll trace that.

[2017-06-09 01:17] xiechengsheng commented on #45288
@shyamjvs Sorry for my late reply, I have solved the problem by generating cert file for apiserver and controller-manager.

[2017-06-09 01:24] MrHohn commented on #47186
Sent #47212.

[2017-06-09 01:26] #45288 closed

[2017-06-09 01:36] caseydavenport opened #47213 "Confusing description for kube-proxy flags"
**Kubernetes version** (use `kubectl version`):

v1.6.x

**What happened**:

Users tried to understand what the `--cluster-cidr` and `--masquerade-all` flags do, but couldn't.

**What you expected to happen**:

Expect users to be able to understand from the the description.

[2017-06-09 01:36] caseydavenport commented on #47213
/sig network

[2017-06-09 01:41] dims commented on #47175
/assign

[2017-06-09 01:41] dims commented on #47175
/close

Dup of #11710

[2017-06-09 01:41] #47175 closed

[2017-06-09 01:41] dims commented on #11710
/assign

[2017-06-09 01:57] yan234280533 commented on #47156
@cmluciano Can it do an feature to support it ? For sometimes it an very important feature for user.

/sig network

[2017-06-09 02:02] dchen1107 commented on #47012
Ok, @yujuhong convinced me to approve this for 1.7 release.

[2017-06-09 02:06] nikhiljindal commented on #10043
Done

[2017-06-09 02:22] ublubu opened #47214 "cloudprovider AWS needs implementations for *ByProviderID methods"
https://github.com/kubernetes/kubernetes/blob/4220b7303e3ac92e67c9644b4c5bb91621108961/pkg/cloudprovider/providers/aws/aws.go#L1025

https://github.com/kubernetes/kubernetes/blob/4220b7303e3ac92e67c9644b4c5bb91621108961/pkg/cloudprovider/providers/aws/aws.go#L1064

These two methods currently just throw "unimplemented" errors.

[2017-06-09 02:22] ublubu commented on #47214
/sig cluster-ops

[2017-06-09 02:31] lixiaobing1 commented on #47116
perhaps only update docker while k8s terminated under HA architecture, close issue.

[2017-06-09 02:31] #47116 closed

[2017-06-09 02:38] dchen1107 commented on #32536
cAdvisor support for overlay2 is included in 1.7 release, but we didn't qualify it yet. Move this to 1.8

[2017-06-09 02:38] dchen1107 commented on #32536
cc/ @kubernetes/goog-image since you guys are helping testing overlay2 with docker 1.13.1.

[2017-06-09 02:39] #30799 closed

[2017-06-09 02:44] ublubu commented on #47214
related to issue 88

[2017-06-09 02:45] dchen1107 commented on #30811
In 1.7 release, we added /dev/kmsg support for NPD 0.4,  and upgrade e2e to that release.

Move this to 1.8 for better integrating NPD with testing infrastructure.

[2017-06-09 02:47] dchen1107 commented on #45927
I think all required prs are merged, should we close this one for 1.7 now?

[2017-06-09 02:48] #45927 closed

[2017-06-09 02:59] dchen1107 commented on #31362
We made a lot improvements on kubelet eviction for 1.7 release, and reenable memcg notification on GCI is tracked by a separate issue.

I move this umbrella issue to 1.8 for more improvement.

[2017-06-09 03:01] ssubramanian123 commented on #47142
@bowei here is the content from resolve.conf

From Node:

[code]

From application pod

[code]

[2017-06-09 03:04] xingzhou commented on #47202
Prefer the second option as it's looks like more nature to me

[2017-06-09 03:09] dchen1107 commented on #44118
Thanks for introducing those tests. Move this to 1.8 for more test coverage.

[2017-06-09 03:13] dchen1107 commented on #43224
We didn't drop docker 1.10 in this release. Let's re-evaluate this in 1.8 timeframe.

[2017-06-09 03:15] noah8713 commented on #47201
@kubernetes/sig-network-misc @kubernetes/sig-node-bugs

[2017-06-09 03:18] noah8713 commented on #47201
@kubernets/sig-apiserver

[2017-06-09 03:21] suyuan1203 commented on #3865
@zbhlove100 I wonder what your 'stupid mistake' is? Did you forget to delete files on the persistent volume? I recently encounter the same problem.

[2017-06-09 03:24] dchen1107 commented on #42985
The issue is staled. Close.

[2017-06-09 03:24] #42985 closed

[2017-06-09 03:30] dchen1107 commented on #39582
https://k8s-testgrid.appspot.com/sig-node#kubelet-benchmark-gce-e2e

Close this one since the test are green for long time.

[2017-06-09 03:30] #39582 closed

[2017-06-09 03:36] vishh opened #47216 "GPU e2es are failing"
GPU e2es are failing since yesterday (6/8) - https://k8s-testgrid.appspot.com/google-gce#gce-gpu

The only GPU related PR that merged yesterday is https://github.com/kubernetes/kubernetes/pull/46087

cc @dchen1107 @mindprince

[2017-06-09 03:59] thockin commented on #47208
@wlan0 ?

On Thu, Jun 8, 2017 at 4:26 PM, Sen Lu <notifications@github.com> wrote:

[2017-06-09 04:18] thockin commented on #45790
What are we doing with this in 1.7?

[2017-06-09 04:22] thockin commented on #45385
Is anyone active on this?  It shouldn't be too hard.  Similar to https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/hostport/hostport_syncer.go#L178

If nobody is working on this, we will have to punt it from 1.7

[2017-06-09 04:22] thockin commented on #45126
Any insights on this?  Or do we punt from 1.7?

[2017-06-09 04:23] thockin commented on #44307
Any update on this?

[2017-06-09 04:24] thockin commented on #43730
Any updates here?

[2017-06-09 04:24] thockin commented on #42735
Update?

[2017-06-09 04:24] thockin commented on #39113
Updates on this?

[2017-06-09 04:25] thockin commented on #38890
This seems unlikely for 1.7?

[2017-06-09 04:26] thockin commented on #38349
Is anyone on this for 1.7?

[2017-06-09 04:26] thockin commented on #37414
Update?

[2017-06-09 04:29] thockin commented on #32796
Can we get an update?

[2017-06-09 04:29] thockin commented on #34625
Update on this?

[2017-06-09 04:29] thockin commented on #31813
Update on this?

[2017-06-09 04:30] thockin commented on #30073
Any update on this?

[2017-06-09 04:35] thockin commented on #1801
/sig release

(on the presumption that build lands there)

On Thu, Jun 8, 2017 at 1:49 PM, Aaron Crickenberger <
notifications@github.com> wrote:

[2017-06-09 04:41] ericchiang opened #47219 "[e2e flakes] ci-kubernetes-e2e-gke-reboot - at least one node failed to reboot in the time given"
ci-kubernetes-e2e-gke-reboot has been flaking for the last couple of days.

https://k8s-testgrid.appspot.com/release-master-blocking#gke-reboot

Seeing a lot of errors that look like:

[code]

Also the logs are saying something about failing to pull images:

Last three failures:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-reboot/5335
https://k8s-gubernat

[2017-06-09 04:54] mindprince commented on #47216
We had one successful run which included that commit: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gpu/402

[2017-06-09 04:54] vishh commented on #47216
I built a cluster from HEAD and ran the e2es locally and they are passing.

[2017-06-09 04:58] deitch commented on #45790
Good question @thockin .

Weave already supports hairpin in 1.9.6, per https://github.com/weaveworks/weave/pull/2971 / https://github.com/weaveworks/weave/pull/2993 . Weave also supports controlling it (on or off). So weave is compliant with the new assumed spec.

I do think kube should explicitly say that plugins SHOULD support functionality "a pod can connect to itself via service IP", MAY offer

[2017-06-09 05:03] vishh commented on #47216
That's odd. I'd like to understand why the test flaked? @mindprince can you look at the failed test logs to see if there are any clues?

[2017-06-09 05:09] thockin commented on #45790
SGTM

On Thu, Jun 8, 2017 at 9:59 PM, Avi Deitcher <notifications@github.com>
wrote:

[2017-06-09 05:13] k8s-merge-robot opened #47220 "pr:pull-kubernetes-e2e-gce-etcd3 flaked 125 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-etcd3
 Flakes in the past week: **125**
 Consistency: **91.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| TearDown | 52 |
| Up | 36 |
| [k8s.io] Deployment deployment should support rollover | 29 |

#### Previously closed issues for this job flaking:
#46741

<details><summary>Rationale for assignments:</summary>

| Assign

[2017-06-09 05:26] xiang90 commented on #45037
i think we should close this issue. the description is not accurate. the root cause is found in etcd issue that @wojtek-t mentioned.

[2017-06-09 05:36] thockin opened #47221 "Services allow duplicate `port`"
It is possible to express a Service with multiple ports blocks with the same number.  This is not very useful and may cause trouble for implementations of Services.

Curiously, if I `kubectl edit` this and touch that field, patch merges them because the mergeKey is `port`.  @mengqiy it did the right thing and surprised me :)

[code]

[2017-06-09 05:37] thockin opened #47222 "Services allow duplicate targetPort"
It is possible to express a Service where multiple front-side ports target the same back-side port.  This is not very useful and may cause trouble for implementations of Services.

[code]

[2017-06-09 05:50] wlan0 commented on #47208
@thockin On first look, I can't tell if this is CCM related or not.

@krzyzacy Thanks for opening the issue. Do you have a set of steps I could use to reproduce this?

[2017-06-09 06:00] #44161 closed

[2017-06-09 06:12] xiangpengzhao opened #47224 "Different `service-cluster-ip-range` config of CI jobs will fail network e2e test case."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-09 06:13] xiangpengzhao commented on #47224
@kubernetes/sig-network-misc

[2017-06-09 06:20] krzyzacy commented on #47208
One of the full log is at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-alpha-features/11202?log#log

Test arg is
`kubetest -v --dump=/workspace/_artifacts --check-leaked-resources --test '--test_args=--ginkgo.focus=\[Feature:(PetSet|DynamicKubeletConfig|Audit)\]|ScheduledJob' --up --down --deployment=bash --timeout=180m --extract=ci/latest`

I haven't trie

[2017-06-09 06:21] odeke-em commented on #47222
@thockin just for the purpose of clarity, are you requesting that duplicate targetPorts
should be rejected or the opposite?
PS: I am new to Kubernetes so please pardon the dumb question :)

[2017-06-09 06:31] thockin commented on #47222
I think that should probably be rejected at validation unless we have a
good reason WHY we need that.

On Thu, Jun 8, 2017 at 11:21 PM, Emmanuel T Odeke <notifications@github.com>
wrote:

[2017-06-09 06:33] odeke-em commented on #47222
Aye aye, thanks for the clarificiation!

[2017-06-09 06:37] pathakg commented on #44665
solution from @csarora worked for me

[2017-06-09 06:47] #44476 closed

[2017-06-09 06:50] sttts commented on #46351
/cc @pmorie

[2017-06-09 07:33] xilabao opened #47228 "role/rolebinding doesn't support export function"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-09 07:35] xilabao commented on #47228
/sig auth

[2017-06-09 07:43] guillelb opened #47230 "pods in unknown state are not reallocated"
- Linux k8sBetaMaster3 4.4.0-79-generic #100-Ubuntu SMP Wed May 17 19:58:14 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
- Server Version: version.Info{Major:"1"

[2017-06-09 07:59] #38442 closed

[2017-06-09 07:59] #34654 closed

[2017-06-09 07:59] #35579 closed

[2017-06-09 08:00] #36458 closed

[2017-06-09 08:00] #37027 closed

[2017-06-09 08:00] #37462 closed

[2017-06-09 08:00] #38041 closed

[2017-06-09 08:09] kargakis commented on #47202
@soltysh @kubernetes/sig-apps-feature-requests

[2017-06-09 08:16] sttts commented on #19902
This topic seems to repeatedly surprise people when setting up HA cluster. Compare https://github.com/coreos/tectonic-installer/issues/400 and https://github.com/openshift/origin/issues/14520. We know that `--enable-quorum-read` causes performance problems, leaving it out in HA leads to wrong behaviour. What's our plan? Should we address this in 1.8? /cc @kubernetes/sig-api-machinery-misc

Just a