[2017-11-14 15:45] dhilipkumars commented on #55714
cc: @kow3ns
/sig apps

[2017-11-14 15:46] dhilipkumars commented on #55714
@kubernetes/sig-apps-feature-requests
@kubernetes/api-reviewers

[2017-11-14 15:58] dennisjac commented on #55550
SELinux is already completely disabled on the system.

Which component is supposed to create the CNI configuration and where in the install process is this supposed to happen?

[2017-11-14 15:59] chakri-nelluri commented on #55314
Infra code today expects device path from an attach call.
https://github.com/kubernetes/kubernetes/blob/b983cee8b8b9d84bf397212a0b5d354ffa4071e5/pkg/volume/volume.go#L165

But, I agree with @taherv. AFAIK the field is not interpreted by infra. @jingxu97 do you see any issues with it?

@jolestar in today's flow, the assumption is volume will not be automatically attached on a reboot and the attach

[2017-11-14 16:03] skylerto commented on #40224
+1

[2017-11-14 16:09] adelton commented on #33508
I've now filed https://github.com/kubernetes/kubernetes/pull/55707 which exposes (and requires) explicit options specifying what the uid/gid for root's content (in the container) would be, matching what you have configured for docker, and then does the chown on `/var/lib/kubelet/` subdirectories. If you are able to compile Kubernetes, can you give it a try?

[2017-11-14 16:16] adelton commented on #27945
The main problem with the setup seems to be pods' content in `/var/lib/kubelet` being owned by root (uid 0), and thus not accessible to the namespaced processes.

I've now filed https://github.com/kubernetes/kubernetes/pull/55707 as a possible way to make kubelet change ownership to the uid/gid matching the remapped uid, as configured in docker.

[2017-11-14 16:21] mtaufen commented on #55500
Appears fixed at head (b983cee)

[2017-11-14 16:21] #55500 closed

[2017-11-14 16:48] kfox1111 commented on #18174
Because after bootstrapping it would be much simpler in that the management of the list of apiservers would be kept up to date automatically using the kubernetes.default.svc.cluster.local machinery already in place. Plus we already pay for having a load balancer, kube-proxy. we would reuse that, simplifying things by not needing an external load balancer. Really, the changes come down to adding a

[2017-11-14 16:55] wduda commented on #55150
Running into the same issue, 1.7.5 on the server and 1.8.3 on kubectl.

[2017-11-14 16:59] saad-ali commented on #55711
For reference, root cause https://github.com/kubernetes/kubernetes/pull/53440

[2017-11-14 17:56] dashpole commented on #55649
This should have no effect other than log spam.  Ill lower the verbosity of that message for now.  I am in the process of removing that eviction signal all together: #55338

[2017-11-14 18:45] phsiao opened #55719 "tolerations.AreEqual() does not take default value into account"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig api-machinery

**What happened**:

When using `scheduler.alpha.kubernetes.io/defaultTolerations`, if "Operator" is missing tolerators.AreEqual() returns false even if the pod spec tolerations matches but with an explicit operator `Equal`.

**What you expected to happen**:

"Operator" is default to `Equal`, and I would expect AreEqual()

[2017-11-14 18:46] atombender opened #55720 "`kubectl get all` lists some resource types twice"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubectl get all` prints the replica set section twice.

**What you expected to happen**:

It should not print dupes.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Correct:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):  1.8.1-gke

[2017-11-14 18:49] phsiao commented on #55719
/sig api-machinery

[2017-11-14 18:59] thockin opened #55722 "Use `cmp.Equal` instead of DeepEqual?"
https://github.com/google/go-cmp/

I wonder if this can replace our semantic DeepEqual?

@lavalamp
@kubernetes/sig-api-machinery-bugs

[2017-11-14 19:07] nikhiljindal commented on #55720
I see deployments were listed twice as well.

@kubernetes/sig-cli-bugs

[2017-11-14 19:29] yujuhong opened #55725 "fluentd-gcp crashing because of `JournalError: Bad message`"
This happened in a 1.6 test: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1-6/929

fluentd crashed/restarted ~40 times during the test because it could not handle the bad message in journal.
[code]

This issue fixed in fluentd-0.14.x according to https://github.com/reevoo/fluent-plugin-systemd/issues/16
Not sure if the latest fluentd-gcp

[2017-11-14 19:30] crassirostris commented on #55725
/assign

[2017-11-14 19:55] kevincvlam commented on #54959
Amazing, thanks for the fix @MaciekPytel!

[2017-11-14 20:03] MrHohn opened #55726 "Lots of stacktraces in kube-apiserver logs during 1.8->master upgrade"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test

**What happened**:
https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-latest-upgrade-kube-proxy-ds&width=20 started failing since 11/13/2017. <s>According to the timestamp and commit hash, seems failures happened after https://github.com/kubernetes/kubernetes/pull/55457 (cherrypick for release-1.8) merged.</s>

T

[2017-11-14 20:10] MrHohn commented on #55726
cc @jpbetz

[2017-11-14 20:10] spiffxp commented on #54637
/reopen
@shyamjvs I'd rather take testgrid's word than have to interpret the results here.  I agree we've worked out the individual test failures.  But, the job is still failing. I need to see a green run to consider this closed.

[2017-11-14 20:10] spiffxp commented on #54637
/assign
/reopen

[2017-11-14 20:11] spiffxp commented on #54637
/close
argh my bad I totally misread which issue I was looking at, _yes_ this test has been addressed, don't mind me

[2017-11-14 20:12] spiffxp commented on #55194
/reopen
@shyamjvs I'd rather take testgrid's word than have to interpret the results here. I agree we've worked out the individual test failures. But, the job is still failing. I need to see a green run to consider this closed.

[2017-11-14 20:22] fengli858 commented on #45827
My Kubernetes (1.7.7) on Azure has the issue to create volume mounts to Azure Files on Windows agent Pool.  (The Azure File Shares works on the Linux Agent Pool), Any ideas why it fails on the Windows Agent? Thanks!

[2017-11-14 20:29] linse commented on #47264
@clhodapp I'm working with @kevingessner and found today that your fix worked only for existing deployments and not for new ones on 1.6.
Just in case anyone else gets stuck on this, the error message is misleading (`Error from server (BadRequest): error when creating "STDIN": Deployment in version "v1beta1" cannot be handled as a Deployment: unexpected end of JSON input`) and the config still pass

[2017-11-14 20:29] garyyang6 commented on #43805
I changed it to match Docker's. But, it does not work. My system is CentOS 7

vi /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

update KUBELET_CGROUP_ARGS=--cgroup-driver=systemd to KUBELET_CGROUP_ARGS=--cgroup-driver=cgroupfs

grep KUBELET_CGROUP_ARGS 10-kubeadm.conf
Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=cgroupfs"

ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_SY

[2017-11-14 20:38] jpoon commented on #45827
@fengli858 there's an issue with Docker where it can't mount an SMB share on a Windows container (I don't recall the precise bug, but if you search through Docker's issue list you'll see the background info). I believe this has been resolved with Windows Server 2016 1709.

[2017-11-14 20:43] lavalamp opened #55729 "API conventions for webhook (imperative) communication"
I think we haven't taken a principled stance on how imperative API calls ought to work in Kubernetes. Most of our API surface area is REST calls and the current API system is optimized for those. We have a few outliers which are special snowflakes (logs, exec, attach, portforward, proxy). But we are recently adding more and more webhooks to the system, and expanding the target audience of who will

[2017-11-14 20:50] smarterclayton commented on #55729
Is this really worth changing?  We've basically locked in a pattern for a number of things (like SAR and RAR) - introducing something new and novel, even if it's better, doesn't seem like a good use of time.

[2017-11-14 20:51] deads2k commented on #55729
Also SubjectRulesReview, TokenReview, and ImageReview.

[2017-11-14 20:51] smarterclayton commented on #55729
Note I agree with your points - if we were starting fresh, these are the arguments I would make (also, I made these arguments before).  But is it really worth coming up with something new?

[2017-11-14 20:55] fengli858 commented on #45827
@jpoon Great information! Thank you very much to help me to find the root cause of my problem. Next, I will try to use acs-engine to create new k8s cluster (the newest version 1.8.0) on Azure, I wonder if I can specify the version of Windows Agent?

[2017-11-14 21:05] lavalamp commented on #55729
We are making something new, as it happens. Do we want to keep repeating the same mistakes?

[2017-11-14 21:08] smarterclayton commented on #55729
We're making something new that is at least consistent with existing web hook calls.  If we add one more pattern to the mix, does that actually make end users lives better?  They'd have to reason about why it was one way for one type of web hook, and different ways for the other web hooks.

[2017-11-14 21:15] lavalamp commented on #55729
I think that is offset by doing it in a more sensible way. Like, probably everyone is going to understand the FooRequest and FooResponse pattern.

Additionally, I am not sure the same users for existing webhooks will be the majority of users for the new webhooks. If that is the case, few actual people will be inconvenienced.

Of note you are like the 5th person to say you wanted it like this from

[2017-11-14 21:23] clhodapp commented on #47264
Thanks for posting your finding, @linse. It sounds like the only real fix here is updating to 1.8 then.

[2017-11-14 21:23] lavalamp commented on #55729
I'm making a bigger deal of this than I would ordinarily; @cheftako pointed out that if we're going to beta, we really ought to be doing it with an API we believe in.

[2017-11-14 21:27] smarterclayton commented on #55729
Worse is better.  We shipped, got something working, etc.

Do I need to link the XKCD with 15 standards?

[2017-11-14 21:29] erictune commented on #55729
Nitpick:

"Is a Webhook" is a subset of "Is Imperative". SubjectAccessReview is not a webhook, but it is imperative.

[2017-11-14 21:33] lavalamp commented on #55729
Yeah, I went with "HookMeta" because "ImperativeCallMeta" was quite a mouthful. Definitely open to other names.

[2017-11-14 21:39] vikasgubbi commented on #49198
Please advice how to fix the below error message. I am new to kubernetes

#kubeadm join --token 3c4bdf.c38ebcd0449f5632  x.x.x.x:6443 --skip-preflight-checks  --discovery-token-unsafe-skip-ca-verification
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[preflight] Skipping pre-flight checks
[discovery] Trying to connect to API Server "x.x.x.x:6443"
[discovery]

[2017-11-14 21:39] xgerman commented on #54864
There is an LBaaS V1 interface which has long been deprecated and lb-version=v2 above indicates we are not using this. If we can have the execute URL which is being called and the OpenStack version we can investigate further.

To my knowledge the LBaaS V2 api hasn't changed for several years (and  the API contract is to only add new fields but not change existing ones)...

[2017-11-14 21:42] lavalamp commented on #55729
1 -> 2 is a lot more sensible than 14 -> 15 =D

[2017-11-14 21:57] jbeda commented on #55729
For the record, having a consistent pattern (even if it is a little funky) is preferred over inventing new terminology.

I also think that there is a good chance that for some of these patterns (at some point) we may want to introduce an async flow.  That creates a middle ground where something is logically a request/response type thing but isn't expected to be answered while the caller is on the

[2017-11-14 22:01] cheftako commented on #55729
Is standardization of imperative/declarative across disparate calls really the form of standardization we want? The majority of our APIs are symmetric and declarative. So standardizing on a set of terminology and libraries has brought us a lot of benefit. It has been an excellent way to communicate both similarities and intended usage patterns of calls which are fundamentally consistent. The APIs

[2017-11-14 22:05] dims commented on #55709
/area build-release

[2017-11-14 22:05] lavalamp commented on #55729
There is 0 chance this api will turn into an async thing. We have initializers for that already.

[2017-11-14 22:06] dims commented on #55709
/sig testing

[2017-11-14 22:06] colemickens opened #55732 "hyperkube should include cloud-controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?**: Both

/kind feature

**What happened**:
I tried to do `hyperkube cloud-controller-manager`

**What you expected to happen**:
CCM to execute.

**How to reproduce it (as minimally and precisely as possible)**:
Try to run CCM from Hyperkube.

**Anything else we need to know?**:

I know there's a desire to move CCM, etc out of core, but I think this is an

[2017-11-14 22:07] kevinkim9264 opened #55733 "Azure loadbalancer should reconcile security groups properly. (not just by name, but also by other properties)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

**What happened**:
In Kubernetes 1.8, I cherry picked [this](https://github.com/kubernetes/kubernetes/pull/54177) which correctly sets destination IP with corresponding front end ip in nsg rule when creating service. Kubernetes, however, does not automatically update already existing nsg rules by setting correct destination IP.

The fix can

[2017-11-14 22:10] smarterclayton commented on #55729
Another topic:  I'm skeptical on HookMeta because we also want request identifiers for regular API calls and they won't go on the hooks themselves.  I.e. a Pod POST should be able to carry a request identifier, and we aren't going to add that to ObjectMeta without a lot more discussion.  I'd simplify your proposal to avoiding HookMeta for now.

[2017-11-14 22:13] lavalamp commented on #55729
We could also set such things in headers, but I didn't make progress last time I recommended a thing like that.

[2017-11-14 22:13] smarterclayton commented on #55729
I actually had a PR open for it....

[2017-11-14 22:15] smarterclayton commented on #55729
The reason we have one object for the other review types is because it simplifies audit and reasoning.  That's not a meaningless advantage - it simplifies client implementations, reduces the amount of distributed doc, can be written to other places.

request/response is very RPC.  I agree that these are request/response patterns.  I'd probably fall on the "why introduce a novel way to represent so

[2017-11-14 22:15] jbeda commented on #55729
@lavalamp Are we talking about a specific API or are we talking about the pattern in general? While we may be sure that a specific API won't ever be async, this issue is about the larger theme about how we think about these.  And I don't have confidence that the line is as bright as we are making it out to be.

[2017-11-14 22:23] lavalamp commented on #55729
Just direct them to me, I will explain how APIs Are Forever. (Which is also why I'm still yammering on about this at all.)

Also I think @cheftako's point was understated-- forcing everything into the declarative spec/status model makes the model lose meaning. If only declarative things are phrased in declarative ways, then seeing a declarative object tells you a lot about the API you're about to

[2017-11-14 22:28] valentin2105 commented on #1443
I wrote this post if it can help people to Deploy IPv6 in Kubernetes // https://opsnotice.xyz/kubernetes-ipv6-only/

[2017-11-14 22:30] valentin2105 commented on #53824
if it can help : https://opsnotice.xyz/kubernetes-ipv6-only/

[2017-11-14 22:30] colemickens commented on #55732
/sig cli

[2017-11-14 22:41] kevinkim9264 commented on #55733
cc @itowlson @colemickens

[2017-11-14 23:21] harissutanrafiq commented on #53333
@yulong12  i have same problem on my Centos 7 - Virtualbox - (Host Only Adapter) - behind proxy  and its success by do this

1. systemctl disable firewalld
2. disable SELinux
3. export http_proxy=http://<proxy_ip>:<proxy_port>/
4. export https_proxy=http://<proxy_ip>:<proxy_port>/
5. follow this instruction https://docs.docker.com/engine/admin/systemd/#start-automatically-at-system-boot
6. swapoff

[2017-11-14 23:30] ConnorDoyle opened #55736 "Broken CPU manager corner case: restarting Kubelet with `none` policy can leak CPUs."
/kind bug

**What happened**:

Discovered an edge case when testing the file-backed state in the static policy:

1. Run some pinned containers with the static policy
1. Stop kubelet
1. Terminate containers
1. Restart Kubelet with the none policy
1. Restart Kubelet with the static policy

The RemoveContainer calls that we use to clean the state file are delivered to the None policy, which drops the

[2017-11-14 23:31] ConnorDoyle commented on #55736
/sig node

[2017-11-14 23:31] ConnorDoyle commented on #55736
/assign

[2017-11-14 23:58] #55030 closed

[2017-11-14 23:59] jordanwilson230 commented on #55708
+1 ...I've run into the same issue. It must be an issue like subshell inheritance. Only when running a command directly from the plugin.yaml file (i.e., echo $PWD) does it return the user's directory. Once the plugin.yml launches the script/binary, then the user's current environment is lost.

Without access to this, the plugin feature becomes unsuitable for many (if not all) of our use cases.

[2017-11-14 23:59] oomichi commented on #54658
This issue has been fixed with d2edb8af9eb4b02249081b9c973cf8ed7d2f1ae4

[2017-11-14 23:59] #54658 closed

[2017-11-15 00:04] klausenbusk opened #55738 "Extend flexvolume with NodePredicate/ZonePredicate"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

The scheduler contains 2 very useful "predicate", which the internal volume plugins use (GCE, EBS, Azure disk).

They are:
https://github.com/kubernetes/kubernetes/blob/dd9981d038012c120525c9e6df98b3beb3ef19e1/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L1411-L1414
https://github.com/kubernetes/kubernetes/blob/dd9981d038012c

[2017-11-15 00:05] klausenbusk commented on #55738
/sig sig-storage

[2017-11-15 00:07] klausenbusk commented on #55738
@kubernetes/sig-storage-feature-requests

[2017-11-15 00:10] thatsk commented on #49198
Have you tried kubeadm 1.8. it must work

On 15-Nov-2017 3:10 AM, "vikasgubbi" <notifications@github.com> wrote:

[2017-11-15 00:38] krzyzacy commented on #49820
update:
- cron trigger is working in prow
- start to migrate over scalability jobs, and gonna grant necessary permission for manual trigger jobs in prow
- still need to sort out kubemark jobs, but worst case we can shovel that into prow dind, and looking at the bazel image later

[2017-11-15 00:41] #55043 closed

[2017-11-15 01:06] jeremyKisner commented on #34059
Is this believed to still be a problem?

[2017-11-15 01:12] lichuqiang commented on #55720
I'll post a PR to fix it.

[2017-11-15 01:14] lichuqiang commented on #55736
/cc

[2017-11-15 01:17] jeremyKisner commented on #36027
Is this is still an issue that needs to be open?

[2017-11-15 01:20] johnsom commented on #54864
Yeah, I ran a `neutron --debug lbaas-loadbalancer-show 35208a0d-cb29-4b4d-affa-8344e3c0feb4` which is against the neutron-lbaas v2 API and I get:

`RESP BODY: {"loadbalancer": {"description": "", "admin_state_up": true, "tenant_id": "b4ba684d14f144b8b15a87b4fcd171ec", "provisioning_status": "ACTIVE", "vip_subnet_id": "ee4ab0ec-2062-495b-98c8-83e5343aaad7", "listeners": [{"id": "8fe97ea2-fd7f-4528-

[2017-11-15 01:25] rmmh commented on #34059
[Yes, it's still happening.](https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Expected%20error%3A(.%7C%5Cn)*not%20to%20have%20occurred)

[2017-11-15 01:38] vikasgubbi commented on #49198
Yes, its latest version.

[root@kubemaster ~]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:"f0efb3cb883751c5ffdbe6d515f3cb4fbe7b7acd", GitTreeState:"clean", BuildDate:"2017-11-08T18:27:48Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

[2017-11-15 01:43] jolestar commented on #55314
@chakri-nelluri  I understand, our cloud infra will attach the volume automatically, so that's causing the problem. Our current fix is the attach volume method no longer returns the real device path, each time mountdevice, flex plugin calls the IaaS API to get the actual device path.

[2017-11-15 01:50] jeremyKisner commented on #34059
Are the additional messages in the errors more helpful? I am not sure if removing the error message is a good approach. What do you think?

[2017-11-15 02:05] derekwaynecarr commented on #55080
as long as it’s optional, what’s described sgtm .  it seems like a useful pattern many users would explore on their own to ensure high cost workloads are steered to high cost nodes.

[2017-11-15 02:06] dixudx commented on #55726
@MrHohn #55457 is just changing the struct field. Did not see any panic in the log.

Time out on requesting `/health`. Seems the handler is not working as expected.

[2017-11-15 02:13] mingfang commented on #44737
detach() should be called with at least the same parameters as the attach() call.

[2017-11-15 02:18] MrHohn commented on #55726
@dixudx Thanks for looking. Yeah your cherrypick might not be relevant. Just saw https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-latest-upgrade-kube-proxy-ds/1690 passed with the same commit.

[2017-11-15 02:19] gnufied commented on #55693
Look into snapshot effort https://github.com/kubernetes-incubator/external-storage/tree/master/snapshot which currently sits in that external tree for more information. It already covers restoring PV objects from snapshots.

[2017-11-15 02:35] cblecker opened #55750 "Build tags should be in properly suffixed files"
From https://github.com/kubernetes/kubernetes/pull/55712#issuecomment-344421233:

Based on [this](https://dave.cheney.net/2013/10/12/how-to-use-conditional-compilation-with-the-go-build-tool), this isn't really a golang enforced thing, but we use it to trigger the cross compile in CI.

---
/area build-release
/sig testing

[2017-11-15 02:36] cblecker commented on #55750
cc @rmmh @ixdy @kubernetes/sig-testing-misc

[2017-11-15 02:36] cblecker commented on #55750
I whipped up a verify script to do this (https://github.com/kubernetes/kubernetes/pull/55749), although I'm not sure if this is actually something we want to do.

[2017-11-15 02:36] cblecker commented on #55750
/area build-release

[2017-11-15 02:39] GabrielSVinha commented on #49080
@resouer I believe that all the `k8s.io/concepts/workloads` have YAML examples on them. Can you check it out and comment here (or close the issue if you think it's done).

[2017-11-15 02:41] resouer commented on #49080
Yes, this has been fixed.

[2017-11-15 02:41] #49080 closed

[2017-11-15 03:02] lorenz opened #55756 "SELinux labels for new host devices are wrong"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I ran an unprivileged pod with a HostPath CharDevice passthrough for `/dev/kvm` to run unprivileged accelerated VMs in there, but due to SELinux labeling issues QEMU can't access that device.

[code]

**What you expected to happen**:
Using Docker's `--device /dev/kvm` option, the following labels are applied and unprivile

[2017-11-15 03:05] lorenz commented on #55756
@kubernetes/sig-storage-bugs

[2017-11-15 03:27] hzxuzhonghu opened #55760 "pkg/api/v1/node should be merged with pkg/util/node"
[pkg/api/v1/node](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/node/util.go#L17) should be merged with [pkg/util/node](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/node/node.go) .
These two pkgs both function on node condition/status...

[2017-11-15 03:29] hzxuzhonghu commented on #55760
/sig api-machinery

[2017-11-15 03:36] jiulongzaitian commented on #55550
can you show the install-cni  container logs?

[2017-11-15 04:28] brucemartins opened #55763 "kubelet unable to mount volumes in azure statefulsets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

/sig azure

**What happened**:
statefulsets running on azure fail to mount volumes to the container
**What you expected to happen**:
the kubelet should mount the volume as expected as a part of launching the stateful set, it appears the kubelet does not create the directory based on strace
**How to reproduce it (as minimally and precisely

[2017-11-15 04:59] sinha29492 opened #55765 "I am not able to start Kubernetes cluster"
I was following steps mentioned in below link to start kubernetes cluster
https://cloud.google.com/solutions/real-time/kubernetes-pubsub-bigquery
I am not able to start the cluster. I am trying to execute this in Windows machine using cygwin 64. Initially I was getting an error as dir name is invalid command -
/cygdrive/c/Users/avinsinha/AppData/Local/Google/Cloud SDK/kubernetes/cluster/../cluster

[2017-11-15 05:00] jiulongzaitian opened #55766 "can not get etcd date by etcdctl commond"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug
/sig area/kubeadm

**What happened**:
I used kubeadmin to create a k8s cluster,  every thing seems ok by etcdctl.  such as

[code]

but i can not get etcd date by etcdctl from etcd-kube-master   pod :
and Set ETCDCTL_API=3 or 2 seems no effect：

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as p

[2017-11-15 05:01] thockin commented on #32987
I can not repro this:

[code]

What am I doing wrong?  Is your setup HA?

[2017-11-15 05:06] sinha29492 commented on #55765
Sorry I did not get you. What exactly are u asking for ?

[2017-11-15 05:07] jiulongzaitian commented on #55766
/sig help-wanted

[2017-11-15 05:14] #55711 closed

[2017-11-15 05:15] deitch commented on #18174
Agreed, which is why #40674 should be merged, and then a more generic solution created.

Right now, we have nothing, get something, then get it better.

As for using kube-proxy, I rather like the idea, but I suspect the retooling would be harder than it appears (but maybe I am wrong and there already is a PR on it?).

How does `kube-proxy` maintain the `kubernetes.default...` address now? How does

[2017-11-15 05:28] jiulongzaitian commented on #55766
/sig area/admin

[2017-11-15 05:33] Random-Liu opened #55768 "Flaky test: unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1: the server could not find the requested resource"
I initially saw this error in cri-containerd cluster e2e test, so I spent sometime to debug. However I found that even regular cluster e2e fails:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/17744
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/17736
* https://k8s-gubernator.appspot.com/build/kubernetes-je

[2017-11-15 05:50] jiulongzaitian commented on #55766
/sig area/kubeadm

[2017-11-15 06:24] containscafeine commented on #55428
Hey @grosser, I was not able to reproduce this on v1.5.7.

I tried the following deployment file -
[code]

I could not write anything to the running container after execing into it -

[code]

[code]

I also tried -
- deploying only the pod from a file
- deploying using `kubectl run` command
- deploying without any `securityContext` set, and then later use `kubectl edit` to set it
All of the above

[2017-11-15 06:31] krzyzacy opened #55770 "kubemark jobs are failing"
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-500
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000

/sig scalability
cc @kubernetes/sig-scalability-bugs

[2017-11-15 06:43] porridge commented on #55194
*sigh*, the HPA failures are back, and we have two new ones in the latest
run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/28

[2017-11-15 06:50] jiulongzaitian commented on #55766
/sig gcp

[2017-11-15 06:52] jiulongzaitian commented on #55766
/help-wanted

[2017-11-15 07:07] chenchun opened #55771 "Some hostports are unreachable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Some hostports are unreachable.

**What you expected to happen**:
All hostports are reachable.

**How to reproduce it (as minimally and precisely as possible)**:
Add multiple hostport when creating an deployment, e.g. ports 57119/55429/56833

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use

[2017-11-15 07:27] jiulongzaitian commented on #55766
[code]

[2017-11-15 07:28] #55766 closed

[2017-11-15 07:34] ITler commented on #55691
Can't say if this is relevant, but I found that:

[code]
I can't judge, if both entries belong together. However `172.20.10.4` is the IP of K8s agent node (currently I use only one node for testing purpose). No clue about `168.63.129.16`, but `whois`tells it belongs to Microsoft network, which is interesting, as AzureGermanCloud should only follow Azure specification, rather than use MS infrastruc

[2017-11-15 07:45] TristanPeers commented on #32987
@thockin - yes, we are running HA - 3 x masters

[2017-11-15 07:46] nikox94 commented on #35637
So, after a short call with @shashidharatd, we reached the conclusion that implementing a full-blown DNS load balancing is too ambitious for now and that there are already plans for that. Currently we need to fix this bug, and the cleanest/simplest fix seems to be to make a go routine that will, every X minutes (this can be fairly large, on the order of 60 minutes or more), resolve all known LBs f

[2017-11-15 07:54] weherdh opened #55774 "Azure disk: storage class should support the sku if the storage accout support it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Now for storage class only support skuName with Premium_LRS and Standard_LRS
Met error if the storage account was created with other sku. But actually it can work well without setting it

**What you expected to happen**:
skuName should support others if the storage account support it

**How to reproduce it (as minimally a

[2017-11-15 07:55] weherdh commented on #55774
/assign andyzhangx

[2017-11-15 07:56] weherdh commented on #55774
/sig azure

[2017-11-15 07:58] TristanPeers commented on #32987
Have done some more testing, it seems it does finally allow you to re-use the port but it takes up to ~5 minutes:

[code]

[2017-11-15 08:21] weherdh opened #55776 "Azure disk dose not work as expected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
For unmanaged disk, now it is not working
**What you expected to happen**:
Works well
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
# kubectl version
Client Version: version.Info{Major:"1", Minor

[2017-11-15 08:22] weherdh commented on #55776
/assign andyzhangx
/sig azure

[2017-11-15 08:26] porridge opened #55777 "ci-kubernetes-e2e-gce-scale-performance failing due to quota issues"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/63 failed with:

[code]

/cc @kubernetes/sig-scalability-bugs

[2017-11-15 08:27] porridge commented on #55777
/cc @shyamjvs

[2017-11-15 08:28] fgrzadkowski commented on #55489
My feeling is that it's pretty straight forward. We have an aggregated API which is the same as one exposed in Heapster. I guess the main difference will be which client libraries we use for it. A good example is HPA which is flag controlled whether it uses Heapster or metric-server. This code is a good starting point: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manage

[2017-11-15 08:29] fgrzadkowski commented on #55489
@brancz which flag do you in heapster do you mean?

[2017-11-15 08:30] porridge commented on #55777
Interestingly, there are zero instances in that project. It's unclear which resource the error message is referring to.

[2017-11-15 08:31] vendrov opened #55778 "Missing permissions for "system:kube-controller-manager" role"
I'm using only RBAC authorization and I created manually API token from existing service-account (following this guide: https://kubernetes.io/docs/admin/service-accounts-admin/#to-create-additional-api-tokens)

The new secret has been created but it was empty without any data. I looked at the kube-manager-controller logs and I found this error:

`E1114 22:42:53.439415       6 tokens_controller.go:

[2017-11-15 08:48] #55732 closed

[2017-11-15 08:58] Theoooooo commented on #55170
After messing around, i finally got around of my problems with reinstalling my entire linux. I also checked again everything said in the documentation. That was weird

[2017-11-15 08:58] #55170 closed

[2017-11-15 08:59] porridge commented on #54637
@shyamjvs please reopen, this is back to red today: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/28

[2017-11-15 09:07] #55760 closed

[2017-11-15 09:16] klausenbusk commented on #55738
I can probably handle that as part of the "external provisioner" plugin (zone parameter in StorageClass yaml). I'm still not sure how to handle the other case..

[2017-11-15 09:17] jamiehannaford commented on #54864
@piwi91 This looks like a problem with your OpenStack setup. I'm not sure what K8s can do here, since gophercloud expects a specific output.

[2017-11-15 09:21] porridge opened #55779 "API server overloaded, apparently due to dns autoscaler config changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/28

[code]
@kubernetes/sig-cli-bugs please investigate ASAP. This is a release-blocking test group.

[2017-11-15 09:23] porridge opened #55780 "Test "[sig-storage] Dynamic Provisioning DynamicProvisioner External should let an external dynamic provisioner create and delete persistent volumes [Slow]" fails at large scale"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/28

[code]
@kubernetes/sig-storage-bugs please investigate ASAP, this is a release-blocking test group.

[2017-11-15 09:25] porridge commented on #55779
Umbrella issue - #55194

[2017-11-15 09:25] porridge commented on #55780
Umbrella issue - #55194

[2017-11-15 09:31] choury commented on #53497
I think  we should consider the interconnect performance between the GPUs and CPUs to minimize latency.
The  distance map of GPUs can be got through nvml library  since google/cadvisor#1436 has merged.

[2017-11-15 09:32] porridge commented on #55777
Even more, GCP IAM/Admin "Quotas" page shows no resource with usage over ~half of limit.
I'm going to try and restart this job on jenkins.

[2017-11-15 09:36] porridge commented on #55777
Job kicked.

[2017-11-15 09:37] porridge commented on #55777
I now realized that it's the **zone** that is out of resources, not our **project**.

[2017-11-15 10:08] sttts opened #55784 "apiserver: allow to pass a listener into genericapiserver bootstrapping"
We should allow to pass a tcp listener into an API server via GenericApiServer config. This will allow us to use kernel zero-port allocation `localhost:0` to find a free port instead of the retry loops we have everywhere in tests.

At the moment we pass a port via the options into the config. A zero port does not work because the loopback clients created during apiserver initialization need to kno

[2017-11-15 10:08] porridge commented on #55777
The retried run seems to be making good progress so far.

[2017-11-15 10:11] glindste commented on #53566
+1 in GKE with version 1.8.2-gke.0

[2017-11-15 10:14] shyamjvs commented on #55777
This is a known issue - we've seen it happen in the past.

[2017-11-15 10:17] yudiandreanp commented on #47928
Any updates on this?

[2017-11-15 10:29] goby commented on #55676
@dixudx good news! thanks!

[2017-11-15 10:29] porridge opened #55785 "e2e cluster setup pod wait logic is unclear"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup

**What happened**:

This log seems to imply that we wait until less than some number of pods are un-ready, and yet the loop  succeeds if there is no improvement.

[code]

**What you expected to happen**:

Either the loop should terminate earlier (if the condition is acceptable) or fail (if it's unacceptable).

[2017-11-15 10:31] porridge commented on #55785
/sig scalability
since this probably most affects us

[2017-11-15 10:32] porridge commented on #55777
/reopen
/assign
let me see what I can do about this internally

[2017-11-15 10:33] sttts commented on #55784
/cc @hzxuzhonghu

[2017-11-15 10:34] sttts commented on #50604
Is this done meanwhile?

[2017-11-15 10:35] sttts commented on #49011
Fixed, as far as the publishing bot runs (or doesn't run) nightly.

[2017-11-15 10:35] #49011 closed

[2017-11-15 10:36] #26632 closed

[2017-11-15 10:38] shyamjvs commented on #54637
Sigh!

[2017-11-15 10:40] brancz commented on #55489
Sorry I wasn't clear enough, I meant the flags on kubectl to configure which heapster to request from, although I realized that that was silly, as the metrics-server is an aggregated API, and we can just request them from the apiserver as usual. I'd suggest we try to discover whether the apiserver is serving the metrics API and use that if it does, and otherwise fall back to the current way.

[2017-11-15 10:41] ITler commented on #55691
Error on our site.. No issue here

[2017-11-15 10:41] #55691 closed

[2017-11-15 10:42] brancz commented on #55489
[code]

There are the `--heapster-namespace`, `--heapster-port`, `--heapster-scheme`, `--heapster-service` flags.

[2017-11-15 11:19] sampsonhuo commented on #50865
i get a simliar problem when i run crond service, every day it makes some  [anacron] <defunct> zombie progresses

UID        PID  PPID  C STIME TTY          TIME CMD
root         1     0  0 Nov14 ?        00:00:00 /pause
root         7     0  0 Nov14 ?        00:00:00 /usr/local/bin/dumb-init /usr/lo
root        13     7  0 Nov14 ?        00:00:00 nginx: master process /usr/local
nobody      21

[2017-11-15 11:21] sampsonhuo commented on #50865
i get a simliar problem when i run crond service, every day it makes some [anacron] zombie progresses

UID PID PPID C STIME TTY TIME CMD
root 1 0 0 Nov14 ? 00:00:00 /pause
root 7 0 0 Nov14 ? 00:00:00 /usr/local/bin/dumb-init /usr/lo
root 13 7 0 Nov14 ? 00:00:00 nginx: master process /usr/local
nobody 21 13 0 Nov14 ? 00:00:01 nginx: worker process
nobody 22 13 0 Nov14 ? 00:00:07 nginx: worker proce

[2017-11-15 11:25] joelittlejohn commented on #52172
Thanks @pegerto. I think I'll implement this in bash and run as a service on the nodes (it's perfect for bash, and access to the symlinks and docker is easy that way).

[2017-11-15 11:27] mindscratch commented on #53889
I found that `kubeadm init` will start the kubelet. Its working for me.

[2017-11-15 11:39] pegerto commented on #52172
Hey @joelittlejohn

Bash will do the work, we ran this in a container with the logstash demonset.

Regards

[2017-11-15 11:55] ScorpioCPH commented on #55179
@lichuqiang Hi, I update UT in this [PR](https://github.com/kubernetes/kubernetes/pull/55787) to try to reproduce this corner case, but it seems ok for now.

Maybe we need e2e test to reproduce this issue?

[2017-11-15 12:40] shyamjvs commented on #54637
cc @mwielgus @crassirostris (whom we had discussion with today)

[2017-11-15 12:55] shyamjvs opened #55797 "Load test metadata-proxy"
Offshoot of regression - https://github.com/kubernetes/kubernetes/issues/55695

We are supporting "100 pods per node" in k8s officially (https://kubernetes.io/docs/admin/cluster-large/#support) and need to make sure metadata-proxy allows those many pods to access the metadata service simultaneously.

cc @kubernetes/sig-node-bugs @ihmccreery @cjcullen @loburm

[2017-11-15 12:56] shyamjvs commented on #55695
Seems like PR #55715 fixed this. I filed a separate issue #55797 for load-testing metadata-proxy.
/close

[2017-11-15 12:56] #55695 closed

[2017-11-15 12:58] shyamjvs commented on #55797
cc @kubernetes/sig-scalability-misc

[2017-11-15 12:59] mwielgus commented on #54637
This doesn't look like sig-autoscaling / HPA issue. The tests work fine on small clusters. It fails on big, however the size of HPA-scaled deployment is exactly the same. It fails with an error indicating Heapster node scraping problems. Leaving the final decision to @crassirostris as he is the current on-call for the monitoring team. From the sig-autoscaling perspective this issue is not a releas

[2017-11-15 13:03] abhinavsinha001 commented on #55583
My bad I only enabled the feature-gate on master node. I was successfully able to create the pods with priority after setting --feature-gates=PodPriority=true for kubelet on all Nodes.

I believe the documentation should also include that the feature-gate  needs to be enabled for kubelet as well. Added a pull with documentation update https://github.com/kubernetes/website/pull/6334

Thanks @dixudx

[2017-11-15 13:03] #55583 closed

[2017-11-15 13:09] bot11 commented on #55613
@dixudx
Here are the logs:
kubelet logs: https://gist.github.com/bot11/dd298851daa3c49fe32d038a9fea8394
kube-controller logs: https://gist.github.com/bot11/caa5dfcf9786a171ce2b7e2373f15b6c

[2017-11-15 13:11] crassirostris commented on #54637
This doesn't look like a regression: these tests were consistently failing on large scale since the beginning, so I also don't think we should block the release on this.

[2017-11-15 13:11] shyamjvs commented on #54637
FYI - this was passing reasonably continuously on gke-2000
https://k8s-testgrid.appspot.com/sig-scalability-gke#gke-large-correctness

[2017-11-15 13:12] shyamjvs commented on #54637
But it was failing almost always for gce (since the start of those jobs).

[2017-11-15 13:25] jsafrane commented on #37625
I think that iSCSI is not that widely used and nobody has stumbled upon this. The code is obviously wrong.

[2017-11-15 13:40] porridge opened #55799 "Kubemark cluster failing to come up"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-last-release/1935 failed:

[code]

[2017-11-15 14:05] discordianfish commented on #55398
In the meanwhile I ran into the next metrics related regression. This time it's not cadvisor so maybe the scope should be more integration/regression testing for metrics in general.
This time it's https://github.com/kubernetes/kubernetes/issues/52121 and https://github.com/kubernetes/kubernetes/issues/53485

[2017-11-15 14:07] hobti01 opened #55801 "kubectl convert unable to decode, no kind is registered for version"
/kind bug

**What happened**:

kubectl errors when attempting to convert a Certificate from yaml to json

**What you expected to happen**:

kubectl converts Certificate kind from yaml to json

**How to reproduce it (as minimally and precisely as possible)**:

[code]
Particularly with `--local=false`, shouldn't this contact the server and just work?

**Environment**:
bash-4.3$ kubectl version --sho

[2017-11-15 14:08] javefang commented on #55226
Have you found a solution to the original problem in your first post? I'm seeing the same error message in kubelet logs. Centos 7.4 and k8s 1.8.2

[2017-11-15 14:11] hobti01 commented on #55801
/sig cli

[2017-11-15 14:40] danwinship commented on #50604
No, see #51955. No one seems to know exactly what needs to be done.

[2017-11-15 14:41] #55664 closed

[2017-11-15 14:56] resouer commented on #53497
@choury Cloud you please explain a little about `distance map of GPUs` you are referring to?

[2017-11-15 15:04] andyzhangx commented on #55776
@weherdh I cannot reproduce your issue with v1.9.0, in your storage class, an azure disk would be provisioned in storage account `storage`, it may fail because name `storage` is already occupied, but in your case it's a strage string: `%!!(MISSING)(EXTRA%!s(MISSING)tring=001)`.
So could you also paste the controller manager log, below is the way how to get it:
[code]
There should be an important l

[2017-11-15 15:20] spiffxp commented on #55189
/close
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke 4 green runs in a row, thanks for the help

[2017-11-15 15:20] spiffxp commented on #55190
/close
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-device-plugin-gpu 7 green runs in a row, thanks for the help

[2017-11-15 15:20] #55190 closed

[2017-11-15 15:24] spiffxp commented on #55192
/close
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-slow 2 green runs in a row, thanks for the help

[2017-11-15 15:24] #55192 closed

[2017-11-15 15:27] mtanino commented on #54376
Now I understand the reason. iSCSI plugin k8s v1.6 doesn't support Chap authentication.
Chap authentication was introduced from v1.7 via following commit.

[code]

[2017-11-15 15:27] mtanino commented on #54376
/assign

[2017-11-15 15:28] mtanino commented on #54376
/close

[2017-11-15 15:28] #54376 closed

[2017-11-15 15:29] spiffxp commented on #55195
Thanks to the fixes for #55189, the job is now oscillating between passing and this failure mode.

[2017-11-15 15:31] spiffxp commented on #55193
/close
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial 2 of the past 3 runs were green, if there's an underlying test that causes this to fail more often, I'll follow up with a separate issue

[2017-11-15 15:31] #55193 closed

[2017-11-15 15:31] kawych opened #55805 "Horizontal Pod Autoscaler doesn't have permissions to read Custom Metrics API"
/kind bug

**What happened**:
E2e tests for Horizontal Pod Autoscaler using Stackdriver Custom Metrics are failing on HPA reading from custom metrics API: https://k8s-testgrid.appspot.com/sig-autoscaling#gci-gce-autoscaling
From test logs:
I1115 06:22:31.893] Nov 15 06:22:31.888: INFO: At 2017-11-15 06:07:57 +0000 UTC - event for custom-metrics-objects-hpa: {horizontal-pod-autoscaler } FailedGetOb

[2017-11-15 15:32] kawych commented on #55805
@kubernetes/sig-autoscaling-bugs

[2017-11-15 15:34] liggitt commented on #55805
that indicates the API aggregator and metrics server don't have authentication configured correctly. What environment is this in and what setup method is it using?

[2017-11-15 15:45] kawych commented on #55805
Note that this is not custom.metrics.k8s.io as opposed to metrics.k8s.io, which is the metric server's API. The API server for custom.metrics.k8s.io was deployed with this yaml file: https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/custom-metrics-stackdriver-adapter/adapter-beta.yaml

The behavior I expected was that HPA will use permissions specified here: https://github.com/kub

[2017-11-15 16:02] spiffxp commented on #34059
If the underlying err was more descriptive than "timed out waiting for the condition" this anti-pattern wouldn't be nearly as annoying.

[2017-11-15 16:16] shyamjvs commented on #55770
Let's close this one.. as the other bug has more info.
/close

[2017-11-15 16:16] #55770 closed

[2017-11-15 16:20] rootfs commented on #37625
fix is in https://github.com/kubernetes/kubernetes/pull/54264
@mtanino

[2017-11-15 16:24] wallrj commented on #55158
In https://github.com/jetstack/navigator/pull/128 I'm encountering this problem too.
 * I create a headless service with an empty Ports list
 * Create a statefulset referring to that service
 * Pods created by the stateful set cannot resolve each others stable names.

I see the following errors in the cluster logs

[code]

[code]

[2017-11-15 16:36] redbaron commented on #55778
default RBAC  groups and policies evolved quite a lot since 1.6.x times, you might find it easier to use 1.8.x for all RBAC features

[2017-11-15 16:36] javefang commented on #48703
Same issue here in 1.8.3, centos 7.4, @Sartner @sfluor if you opened a new issue already could you post a link here?

[2017-11-15 16:51] rphillips commented on #45419
The last messages are from the dockershim. Those logs would be super useful as well.

[2017-11-15 16:51] abgworrall commented on #55196
There is an issue with node runtime memory that might be significant; I'm chasing it.

All the other failures all seem due to #55194 , the scale-correctness stuff timing out.

On that basis, I think this test is useful and I'd like to retain it.

[2017-11-15 17:11] srikumar-b opened #55807 "prestop hooks aren't called when Jobs complete successfully"
**Is this a BUG REPORT or FEATURE REQUEST?**: Y

 /kind bug

**What happened**:
lifecycle hook preStop is called only when user force-stop/kill the pod/job. It is not getting called when the pod is completed successfully.

**What you expected to happen**:
preStop hook should be called whenever the pod is exited either it is with success or failure
**How to reproduce it (as minimally and precisely

[2017-11-15 17:12] apelisse commented on #30763
Closing in favor of the issue in kubectl repo.

[2017-11-15 17:12] #30763 closed

[2017-11-15 17:14] abgworrall opened #55808 "consistent soak failures: regular resource usage tracking resource tracking for X pods per node"
Since 12pm Nov 9, the [soak-gce-gci tests](https://k8s-testgrid.appspot.com/sig-release-master-blocking#soak-gce-gci) have been consistently failing with a sig-node runtime memory regression:

[code]

The actual RSS values vary between 140MB up to 280MB in the failing runs. They're all running on m60.

The same tests are passing in non-soak runs, so this looks like an actual issue. This is a block

[2017-11-15 17:27] srikumar-b commented on #55807
@kubernetes/sig-cluster-lifecycle-bugs

[2017-11-15 17:27] abgworrall commented on #55195
@krzyzacy , is this a simple quota bump, or a leak, or what ?

[2017-11-15 17:30] #53852 closed

[2017-11-15 17:30] #51950 closed

[2017-11-15 17:33] abgworrall commented on #55196
/assign

[2017-11-15 17:35] jiayingz commented on #53497
@choury I think https://github.com/google/cadvisor/pull/1762 only exposes basic gpu metrics not including gpu-to-cpu latency metrics. If you think it is important to take gpu-to-cpu latency metric into account, could you write a document describing the important use cases you would like to support? Supporting this kind of advanced scheduling is perhaps beyond the device plugin scope but may fit in

[2017-11-15 17:41] vendrov commented on #55778
@redbaron - Would you mind to approve that this has been fixed in the next releases?

[2017-11-15 17:54] srikumar-b commented on #55807
@kubernetes/sig-scheduling-bugs

[2017-11-15 18:05] MrHohn commented on #55771
/sig network

[2017-11-15 18:10] yujuhong commented on #44976
I suggest we add the `PARTIAL` field for now to make the current format usable for 1.9. If in the future we identify clear needs and plans to embed more metadata in the log format, we can add support for json or other format.

The work includes
 - Change kubelet code to parse the PARTIAL format
 - Change the fluentd configuration to ignore the PARTIAL format for now. To reconstruct the lines prope

[2017-11-15 18:21] dims commented on #52249
@hogepodge - Any updates?

[2017-11-15 18:28] yujuhong commented on #55725
I'm seeing crashing fluentd-gcp pods in other branches too, but since fluentd became DaemonSet, the logs are no longer archived with the logs.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-stable1/930

[2017-11-15 18:44] ihmccreery commented on #55797
/assign @ihmccreery

[2017-11-15 18:45] ihmccreery commented on #55797
/sig auth

[2017-11-15 18:48] crassirostris commented on #44976
Sounds fine to me, but I would prefer a field with the line number in the sequence of "chunks", to distinguish between the first chunk and the rest, maybe for better ordering

[2017-11-15 18:49] hogepodge commented on #52249
In progress, I've stood up the infrastructure, now getting the master and worker templates up and running.

[2017-11-15 19:25] RenaudWasTaken commented on #53497
@jiayingz see [this old design doc](https://docs.google.com/document/d/1lSwVh2ZfJ2FeLXIeyyiNqN_hKPYpahJiwN5X5cszjOk/edit#heading=h.wj7s0tu10uz2) that explains problems and use cases.

Basically if gpu-to-cpu latency / topology is not taken into account you might as well take a CPU only instance.

Since you're mentioning it I'm all for supporting this as the resource level.

[2017-11-15 19:32] flx42 commented on #53497
Topology and affinity can be queried like this:
[code]
Scheduling GPU 0 with cores 10-19 would not be good for performance.
Scheduling GPU 0 and GPU 7 for a multi-GPU job would not be good for performance.

[2017-11-15 19:39] jeremyeder commented on #53497
We need to handle NUMA and PCI locality in a non-GPU specific way.  I am not sure this issue is the right place to drag in this additional requirement.  @ConnorDoyle would you point to your PCI/NUMA tracker?

[2017-11-15 20:02] madhanrm commented on #55446
@yujuhong , I need this fix for the following function to return null and no error when checkpoint is not found.

// GetPodPortMappings returns the port mappings of the given podSandbox ID.
func (ds *dockerService) GetPodPortMappings(podSandboxID string) ([]*hostport.PortMapping, error) {
        // TODO: get portmappings from docker labels for backward compatibility
        checkpoint, err := ds.

[2017-11-15 20:03] #50604 closed

[2017-11-15 20:06] jeffwji commented on #25485
Do we have a road map to implement this function? Or is it possible to modify ngnix.tmpl file to implement it without waiting?

[2017-11-15 20:20] erictune commented on #55729
@jbeda Initializers are similar to Webhooks but better suited for async.
See discussion here:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/admission-control-webhooks.md#comparison-of-webhooks-and-initializers

[2017-11-15 20:23] ConnorDoyle commented on #53497
https://github.com/kubernetes/kubernetes/issues/49964 Hardware topology awareness at node level (including NUMA)

[2017-11-15 20:26] shyamjvs commented on #49820
Here's a check-list of our scalability jobs (let's mark them as we go):

[ ]  ci-kubernetes-e2e-gce-large-correctness
[ ] ci-kubernetes-e2e-gce-large-manual-down
[ ] ci-kubernetes-e2e-gce-large-manual-up
[ ]  ci-kubernetes-e2e-gce-large-performance
[ ] ci-kubernetes-e2e-gce-scalability-release-1-7
[ ] ci-kubernetes-e2e-gce-scale-correctness
[ ] ci-kubernetes-e2e-gce-scale-performance
[ ] ci-kubern

[2017-11-15 20:42] abgworrall commented on #55195
We have a theory about this (we're leaking cluster resources, which are a thing in GKE but not GCE). @krzyzacy will take a look later, and hopefully this job will become stable.

[2017-11-15 20:57] #54434 closed

[2017-11-15 20:57] #53147 closed

[2017-11-15 20:58] #55771 closed

[2017-11-15 21:04] yuriipolishchuk commented on #30763
here's a ticket in kubectl repo https://github.com/kubernetes/kubectl/issues/131

[2017-11-15 21:10] danehans opened #55816 "kube-proxy throws superfluous error for IPPart function"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kube-proxy throws the following error message whena valid IP is used:

`E1115 00:47:33.900320       1 endpoints.go:42] invalid IP part '10.192.0.2'`

The same error can be observed when running the UT:
[code]

**What you expected to happen**:

Errors should only be logged for invalid IP addresses.

**How to reproduce it

[2017-11-15 21:11] tonglil commented on #26202
It seems like this is still an issue for me w/ `extensions/v1beta1`, even though it is should work based on the release notes from 50719:

[2017-11-15 21:17] dims commented on #55679
/sig node

[2017-11-15 21:23] dims commented on #55765
Windows is not a supported platform for kube-up.sh AFAIK. Sorry.

/close

[2017-11-15 21:23] #55765 closed

[2017-11-15 21:24] dims commented on #55799
/sig testing

[2017-11-15 21:24] dims commented on #55816
/sig network
/sig node

[2017-11-15 21:26] yujuhong commented on #55446
@madhanrm  #55641 changed the code completely and the error is no longer needed.

[2017-11-15 21:26] msau42 commented on #55780
From the test log:
[code]

kube-controller-manager.log only has this single message:
[code]

[2017-11-15 21:28] msau42 commented on #55780
cc @jsafrane @wongma7

[2017-11-15 21:33] madhanrm commented on #55446
@yujuhong  The error I was getting is "key not found" ie checkpoint doens;t actually exist.

Am expecting to get a nil error for that in the GetPodPortMappings function. Let me try out the latest code to validate this.

[2017-11-15 21:44] shyamjvs opened #55818 "Flaky SSH failures to master causing kubemark tests to fail"
Forked from https://github.com/kubernetes/test-infra/issues/5530 (as the real isssue seems unrelated to test-infra).

-------------------------------

Many of our kubemark jobs are failing frequently due to jenkins:
- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100
- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-500
- https://k8s-testgrid.appspot.com/sig

[2017-11-15 21:47] madhanrm commented on #55446
@yujuhong  If the error code is removed completely, should the below code be fixed to take care of the comment? "// Return empty portMappings if checkpoint is not found"
Can we atleast check for "KeyNotFound" and return nil error?

The CNI network call would fail in this case, which is breaking CNI in windows.

checkpoint, err := ds.checkpointHandler.GetCheckpoint(podSandboxID)
 	// Return empty p

[2017-11-15 21:49] dims commented on #55644
@mtaufen looks like https://github.com/kubernetes/kubernetes/pull/55648 has merged, can we close this now?

[2017-11-15 21:50] dims commented on #53255
@shyamjvs - is there any PR(s) for 1.9? (can we move/remove the milestone if not)

[2017-11-15 21:52] dims commented on #44975
@wlan0 punt to 1.10?

[2017-11-15 21:53] dims commented on #50986
@enisoc please move this to 1.10 milestone

[2017-11-15 21:56] dims commented on #42394
@k82cn @justinsb move to 1.10?

[2017-11-15 21:56] shyamjvs commented on #55818
The job failures are caused due to this line checking that we don't get any error while trying to fetch scheduler latency metrics:

https://github.com/kubernetes/kubernetes/blob/fe599c7dcf2f5c6bbb2057dff8764063f9617b6a/test/e2e/scalability/density.go#L388

[2017-11-15 21:58] dims commented on #53236
@resouer move to 1.10?

[2017-11-15 21:58] jdumars commented on #55542
/assign @djpinchoff

@justinsb @lavalamp Dave is an aspiring contributor and would like to look into fixing this bug.  Would you two be willing to help answer questions as needed?

[2017-11-15 22:00] dims commented on #53237
@luxas @liggitt - https://github.com/kubernetes/kubernetes/pull/53238 needs rebase and the https://github.com/kubernetes/kubernetes/pull/53037 mentioned in there is merged. What else needs to be done?

[2017-11-15 22:01] madhanrm opened #55819 "GetPodPortMappings doesnt return nil if checkpoint is not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

CheckpointNotFoundError has been completely removed by https://github.com/kubernetes/kubernetes/pull/55641
But GetPodPortMappings method was not updated to return nil, when a checkpoint was not available.

**What happened**:
The CNI network (that is done for the shared containers only for windows) call would fail in this case, which is break

[2017-11-15 22:01] dims commented on #48885
@smarterclayton @liggitt move to 1.10?

[2017-11-15 22:01] madhanrm commented on #55819
Related issue https://github.com/kubernetes/kubernetes/issues/55446

[2017-11-15 22:01] madhanrm commented on #55819
/sig node
/sig windows

[2017-11-15 22:01] shyamjvs commented on #55818
This was working earlier without any error as we were having the scheduler latency summary created (for e.g - http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/5363/artifacts/). But now it's not there anymore.

To get those latencies, we're SSH'ing to the master and running `curl http://localhost:10251/metrics`. Inside this function - https://github.com/kubernetes/kub

[2017-11-15 22:02] dims commented on #51049
@liyinan926 @mattfarina @janetkuo can we move this to 1.10?

[2017-11-15 22:03] madhanrm commented on #55819
/assign @yujuhong

[2017-11-15 22:03] madhanrm commented on #55446
Closing this issue, and opened #55819  to continue tracking this.

[2017-11-15 22:03] #55446 closed

[2017-11-15 22:04] dims commented on #49236
@timothysc @yujuhong - punt this to 1.10?

[2017-11-15 22:04] liyinan926 commented on #51049
@kow3ns

[2017-11-15 22:05] dims commented on #53084
@mtaufen what else is needed for 1.9? (or can we move this to 1.10)?

[2017-11-15 22:06] dims commented on #53189
@verb Anything in progress for v1.9? (or can we move this to v1.10)?

[2017-11-15 22:06] shyamjvs commented on #55818
Ok.. I tried SSH'ing to the kubemark-master on the currently running cluster and it's flakily being rejected by it:

[code]

So my guess above was right.

[2017-11-15 22:08] dims commented on #54090
@resouer Looks like #54405 went in, but the step 2 is not filed? (So can we move this to 1.10)?

[2017-11-15 22:08] madhanrm commented on #55819
Previous PR for tracking https://github.com/kubernetes/kubernetes/pull/55449

[2017-11-15 22:09] dims commented on #50752
@karataliu @enisoc looks like plenty of stuff which will spill over to 1.10. Can we move the milestone?

[2017-11-15 22:11] dims commented on #52039
@cmluciano is this moving out of 1.9?

[2017-11-15 22:11] dims commented on #52040
@cmluciano Can we please move out of 1.9 milestone? :)

[2017-11-15 22:12] dims commented on #51745
@dashpole what is needed for 1.9? (or can this move to 1.10)?

[2017-11-15 22:13] dims commented on #47604
@bsalamat @luxas time to move this out to 1.10?

[2017-11-15 22:13] shyamjvs commented on #55818
I think I found the reason. PR https://github.com/kubernetes/kubernetes/pull/53541 made some changes around resource-gatherer (which does the job of periodically polling the master through SSH for metrics). And seems like the default polling period there got reduced from 15s to 5s accidentally (ref: https://github.com/kubernetes/kubernetes/pull/53541/files#r151267174), which is probably causing SS

[2017-11-15 22:14] dims commented on #53825
@deads2k what do we need in this for 1.9? (Can we move this to 1.10)?

[2017-11-15 22:17] dashpole commented on #51745
This would be fixed by on-demand node level metrics: https://github.com/google/cadvisor/pull/1779
The implementation is on track for 1.9

[2017-11-15 22:17] dims commented on #50115
@nfirvine @mikedanese @liggitt @wojtek-t - Do we move this to 1.10?

[2017-11-15 22:22] Random-Liu commented on #55768
Offline discussed with @cheftako, it's likely that this error happens because metrics server is not running and serving properly.
Actually, if we take a look at the `kube-controller-manager.log`, we could see a bunch of metrics server deletion message:
[code]

I filed https://github.com/kubernetes/kubernetes/pull/55764 to work around this for now.

However, we should look into it, probably metrics

[2017-11-15 22:27] nfirvine commented on #50115
@dims I'm just a clueless user. Don't ask me to make decisions 😛

[2017-11-15 22:28] msau42 commented on #50115
@davidz627 is working on a PR #52322 to fix this.  We should be able to get it in.

[2017-11-15 22:29] tallclair opened #55821 "Logging bottleneck in RBAC for denials"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

For extremely high volumes of requests (e.g. many pod create requests, each doing many PSP authorization calls, detailed [here](https://docs.google.com/document/d/1IIcHHE_No1KMAybW5krIphdN325eGa2sxF2eqg2YAPI/edit#)), the log line in the RBAC authorizer becomes a bottleneck:

https://github.com/kubernetes/kubernetes/blob/c

[2017-11-15 22:32] ericchiang opened #55822 "CSR approver controller should be able to approve CSRs for control plane components"
cc @kubernetes/sig-auth-feature-requests
cc @mikedanese @jcbsmpsn

For self-hosted Kubernetes, I'd like to be able to bootstrap new API servers, and possibly etcd instances, on new nodes after I've bootstrapped the kubelet. Possibly through an init container that creates a CSR, then passes it along to the app. These boil down to:

* Approve a client certificate request for a specific CN.
* Approve

[2017-11-15 22:42] luxas commented on #55822
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-11-15 22:42] dims commented on #54962
@Random-Liu what needs to be done for 1.9 here?

[2017-11-15 22:44] dims commented on #53007
@timothysc @justinsb - do you know if anyone is going to pick up this issue? Looks like it will miss the 1.9 boat otherwise

[2017-11-15 22:46] dims commented on #49480
@luxas what do we need to do for this issue in 1.9? (or do we move this to 1.10)?

[2017-11-15 22:48] kfox1111 commented on #49236
Its close to merging isnt it?

[2017-11-15 22:54] ixdy commented on #55675
/assign @porridge

[2017-11-15 22:57] d-shi opened #55825 "[Feature Request] allow multiple default limits per namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**: Currently you can only configure one limitrange per namespace, which means each namespace can only have one set of default and min/max limits set. We have a use case for running two vastly different types of hardware (EC2 instances) in one namespace, where one set of instances has much more resources than the other set

[2017-11-15 23:00] luxas commented on #49480
@dims I think most things are done here, but need to verify once more with some people.

[2017-11-15 23:02] danehans commented on #49480
IPv6 alpha support in 1.9 is dependent on CNI getting bumped to 0.6.0.

[2017-11-15 23:05] d-shi commented on #55825
/sig scheduling

[2017-11-15 23:21] krzyzacy commented on #55195
(which seems not the case? `gcloud container clusters list` gives me nothing, or I'm doing this wrong)

[2017-11-15 23:26] liggitt commented on #55821
/assign

[2017-11-15 23:27] nqn commented on #55180
/assign @nqn

[2017-11-15 23:32] mtaufen commented on #54205
@yujuhong @Random-Liu to make sure this isn't something funky with CRI log streaming on the node side
@smarterclayton @erictune do either of you guys know who's responsible for log streaming through API server?

[2017-11-15 23:38] wongma7 commented on #55780
thanks for those logs.

seems there's a race in the external provisioner...the kubernetes side appears to be working just fine, though I'm not 100% sure because unfortunately the pv controller isn't logging anything

apiserver.log:
I1114 21:30:55.070117       7 wrap.go:42] POST /api/v1/persistentvolumes: (9.545259ms) 201 [[nfs-provisioner/v0.0.0 (linux/amd64) kubernetes/$Format] 35.185.45.68:47384

[2017-11-15 23:57] msau42 commented on #55780
I don't think pod logs are automatically collected.

[2017-11-16 00:06] k82cn commented on #42394
Fixed by #43016.

[2017-11-16 00:06] #42394 closed

[2017-11-16 00:07] caseydavenport commented on #53007
Is there anything to be done here?

IIUC we've made the changes in v1.9 to include CNI v0.6.0, and there are no known issues to track here?

If that's correct, I think we can close this issue.

[2017-11-16 00:09] cjellick commented on #37007
@sjug @wongma7 I hit this problem when attempting to import `k8s.io/kubernetes/test/integration/framework`. Some code in there imports e2e and it looks like some e2e/framework code relies on e2e/generated.
Do either of you know of any ways to work around this?

[2017-11-16 00:26] wongma7 commented on #37007
easiest imo would be to (edit and) run the script https://github.com/kubernetes/kubernetes/blob/master/hack/generate-bindata.sh#L48 and check in the resulting (dummy) bindata.go to your code at test/e2e/generated/bindata.go, treating it as a "patch" to carry on top of your k8s.io/kubernetes dependency

personally I've pinned my dependency on the framework to one that I know does not have any depen

[2017-11-16 00:38] dashpole opened #55830 "[Test flake] [k8s.io] Node Container Manager [Serial] Validate Node Allocatable set's up the node and runs the test"
Node Allocatable setup test has been flaking recently.
Example flake:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2enode-cosbeta-k8sstable1-serial/56

/sig node
cc @yujuhong @mtaufen

[2017-11-16 00:40] dashpole commented on #55830
The kubelet logs look fine.
After speaking with @mtaufen, we are querying the node api object immediately after the kubelet configuration is updated.  At this point, the kubelet may not have updated its node status, meaning we see the old node status rather than the new, correct one.

[2017-11-16 00:43] dims commented on #49817
@kksriram will this make 1.9? (am usually help with bug triage etc before releases in case you are wondering why :)

[2017-11-16 00:45] dims commented on #55195
@abgworrall @krzyzacy one of you want to be the assignee for this bug please?

[2017-11-16 00:45] dims commented on #54962
@Random-Liu we'll need an assignee as well

[2017-11-16 00:46] dims commented on #54574
/assign @frobware

@frobware feel free to reassign/unassign, i assigned it based on your comment 2 days ago

[2017-11-16 00:48] dims commented on #54551
/assign @CaoShuFeng
/assign @crassirostris

@CaoShuFeng @crassirostris hope you are ok as assignees for this issue. please unassign/reassign as appropriate

[2017-11-16 00:50] ericchiang commented on #52916
Just an update, the Google Cloud KMS provider has been removed from the API server. https://github.com/kubernetes/kubernetes/pull/54759

KMS providers will be implemented externally. Discussion of that plugin interface can be followed here https://github.com/kubernetes/kubernetes/issues/51965

[2017-11-16 00:55] wongma7 commented on #55780
ok, I see

Here is my current theory for what happened, difficult to confirm without pv controller logs though
* PVC is created but not processed by PV controller and not added to its cache yet
* PV is added and processed by PV controller, this is possible since the PVC and PV queue are distinct (?)
  * Instead of going here https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volum

[2017-11-16 00:56] #51993 closed

[2017-11-16 00:59] dims commented on #53462
@wlan0 @jhorwit2 one of you want to be the assignee on this one please?

[2017-11-16 00:59] dims commented on #49817
/assign @kksriram

[2017-11-16 01:03] jhorwit2 commented on #53462
/assign

[2017-11-16 01:04] abgworrall commented on #55195
/assign @krzyzacy
... until the theory is proved false

[2017-11-16 01:07] klausenbusk commented on #44737
Is their any plan on improving this? I don't like the current solution, as every volume name need to be unique. A consequence thereof, is that people can't use PV with the same name in different namespaces.

A hack around it, is naming the PV like `name-<UUID>`, but that is hackish.. :/

[2017-11-16 01:08] msau42 commented on #55780
The PV controller is supposed to set the annotation to signal to external provisioners that they can start provisioning:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L1238

Does the external provisioner library wait for that annotation?

But I guess it's also possible that the user could create the PVC with the annotation already set.

[2017-11-16 01:11] WIZARD-CXY commented on #51950
@CallMeFoxie as the pr #52421 has been merged, you can now deploy pod with different ```hostip:hostPort:protocol``` combination now.

[2017-11-16 01:18] wongma7 commented on #55780
Oh yeah you are right!

The provisioner is supposed to wait for the annotation, but we do not wait atm, we simply fallthrough to checking claim.Class which is wrong
https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L580

will fix.

[2017-11-16 01:27] hzxuzhonghu commented on #55784
I will work on this.

[2017-11-16 01:29] tengqm commented on #55807
Confirmed.
Just received some complaints from customers about this.

[2017-11-16 01:33] bsalamat commented on #47604
I think some of the items will be ready for 1.9. Particularly, a solution for starvation will probably be added in 1.9.

[2017-11-16 01:38] hzxuzhonghu commented on #55821
agree with this

[2017-11-16 01:39] Random-Liu commented on #54962
@dims We just need to update heapster version. https://github.com/kubernetes/kubernetes/pull/55615

[2017-11-16 01:41] kunal-shah commented on #55632
Hi Guys, I will appreciate any help here. I am kind of stuck at this point
and looks like cannot use dynamic provisioning for my use case (creating
AWS stack with kubernetes cluster, run load test and destroy stack with all
resources including EBS volumes).

On Tue, Nov 14, 2017 at 6:46 AM, Kunal Shah <kunal_u_shah@yahoo.com> wrote:

[2017-11-16 01:42] yujuhong commented on #54205
AFAIK, we did not change CRI log streaming in 1.8. Given that this only fails in Alpha clusters, it'd be easier to vet the Alpha features instead.

[2017-11-16 01:52] guangxuli commented on #55333
@bsalamat i have to confirm that if we remove the filtering on unassigned and assigned pod, how we distinguish when to delete from queue and when to add to cache. Do you mean move all these action to  update handler?

[2017-11-16 01:59] andyzhangx commented on #55763
/assign

[2017-11-16 02:05] mtaufen commented on #53084
There's a checklist in this PR: https://github.com/kubernetes/kubernetes/pull/53833

[2017-11-16 02:05] mtaufen commented on #53084
We're very close

[2017-11-16 02:12] krzyzacy commented on #51136
side notes here:
I'm getting
[code]
again with gcloud 180.0.0, that's not a good sign :-(

[2017-11-16 02:15] choury commented on #53497
@resouer It should be called distance matrix? like @flx42  shows.
@jiayingz Yes,  but google/cadvisor#1762 introduced the nvml library, We can get this information use [nvmlDeviceGetTopologyNearestGpus](https://docs.nvidia.com/deploy/nvml-api/group__nvmlDeviceQueries.html#group__nvmlDeviceQueries_1g6c812383e9505c34eee61f8a28939f6f) or [nvmlDeviceGetTopologyCommonAncestor](https://docs.nvidia.com/d

[2017-11-16 02:16] mtaufen commented on #55644
Yup

[2017-11-16 02:16] #55644 closed

[2017-11-16 02:21] andyzhangx commented on #55763
@brucemartins could you also share your pod info and kubelet log in that agent node?
[code]
It seems attaching disk on agent does not succeed.

[2017-11-16 02:25] #51431 closed

[2017-11-16 02:29] resouer commented on #54090
@dims Yes, 1.10 is the plan.

[2017-11-16 02:30] Random-Liu commented on #55501
@crassirostris Thanks! Yeah, I mean `containerd`, `cri-containerd`, `cri-o` logs.

[2017-11-16 02:31] yujuhong commented on #44976
@crassirostris would a chunk number help much in this case? The logging agent needs to read sequentially regardless. If the lines could be out of order, the sequence itself would not be sufficient. You would need an ID for each log entry too., e.g., `(ENTRY_ID, CHUNK_SEQ_ID)`.

[2017-11-16 02:33] Random-Liu commented on #36401
Just a status update. We've changed fluentd to consume CRI log format https://github.com/kubernetes/kubernetes/pull/54777, which is part of this issue.

However fluentd is still looking at the old container log path.

[2017-11-16 02:36] resouer commented on #53236
@dims I think this is expected to be fixed in 1.9

The only PR under review is #54208, which is hopefully to get in. cc @bsalamat

The community doc fix has already got lgtm for quite a long time but pending for merge. See: https://github.com/kubernetes/community/pull/985 Cloud you help with that?

[2017-11-16 02:36] Random-Liu commented on #44976
SGTM.

For example, if log lines have already been messed up for some reason, how do we know `CHUNK 2` belongs to which log entry?
[code]

[2017-11-16 02:39] gnufied commented on #55632
You should just create a new namespace (and not use `default` namespace) and run your load test in it. Before deleting the cluster, just delete the namespace (via `kubectl delete namespace foo`) and that will delete all dynamically provisioned EBS volumes.

I am not sure what mechanism you are using for deploying and destoying AWS cluster. Is it `kops`? In that case - perhaps kops should delete na

[2017-11-16 02:53] karataliu opened #55837 "Azure cluster using managed identity failed to boot due to 'Blob Disk Controller' failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Deploy a cluster on azure with managed identity.

The controller manager won't start:
[code]

The following code tries to list all storage account in subscription, while it only has permission for the containing resource group.
https://github.com/kubernetes/kubernetes/blob/40e6a6b7adb01cd6bb9ec88e50893d3baeb2246f/pkg/cloud

[2017-11-16 02:54] karataliu commented on #55837
/sig azure

[2017-11-16 03:01] #55286 closed

[2017-11-16 03:34] ash2k opened #55838 "Missing name field in Pod example in docs"
**What happened**:
https://kubernetes.io/docs/api-reference/v1.8/#pod-v1-core shows an example of a `Pod` but the container does not have a name which is a required field (I get an error from kubectl with this example).

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.8.3 server and client

/kind bug
/kind documentation
/sig docs

[2017-11-16 03:39] weherdh commented on #55776
I did not run containerized k8s, I deployed a cluster by ansible: https://github.com/kubernetes/contrib/tree/master/ansible. I got the controller message as below:
[code]
I am quit sure there is already a storage account in its resource group which is assigned in sc's parameter:
[code]
I do not know why controller does not find it and wants to create a new one. But in our subscription the storage

[2017-11-16 03:39] weherdh commented on #55776
cc @rootfs

[2017-11-16 03:58] edisonxiang commented on #55007
Hey @kabakaev, I am willing to submit a PR to resolve this bug if you and the approvers like @dims allow it.

[2017-11-16 04:06] cblecker commented on #51136
@krzyzacy yeah, something has changed with the SDK.

In 168.0.0, when I run the command (with the --log-http flag), it actually gets all the networks in the project, but then filters them client-side. When I do the same in 180.0.0, it actually puts the filter as part of the query, and it's run by the upstream API. This makes sense, but yeah, certain filter queries aren't working when they should.

[2017-11-16 04:30] liggitt commented on #48885
I think this can actually be closed. finalizer-only changes now skip PSP application, allowing removal of non-compliant pods

[2017-11-16 04:30] #48885 closed

[2017-11-16 04:40] edisonxiang commented on #54984
Hey @jianglingxia , the reply of @FengyunPan is valuable, and also you can take a look at the Attach and Detach from here.
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cinder/attacher.go

[2017-11-16 04:52] karataliu commented on #55837
Checked the inner cause of the error log, the response returned by local msi endpoint is:
[code]

There are 2 issues need to be fixed here:
1. MSI now needs metadata header
Pending on integration with: https://github.com/Azure/go-autorest/pull/165

2. List storage account in current resource group

[2017-11-16 05:24] andyzhangx commented on #55776
@weherdh would you add `kind: dedicatged` in your stroage class, and try again?
In your case, `setUniqueStrings` is not invoked due to:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_blobDiskController.go#L546

I am working out a PR to fix this, as a workaround, you could try storage class like following:
[code]

Let me know if that works, thx

[2017-11-16 05:25] kksriram commented on #49817
@dims considering the change in direction to out of tree in https://github.com/kubernetes/kubernetes/pull/55684 I don't expect this will make 1.9.

[2017-11-16 05:51] mengqiy opened #55844 "Use structured generator for kubectl autoscale"
`kubectl autoscale` is using parameter injection style generator at the moment.

It should implement the [structured generator interface](https://github.com/kubernetes/kubernetes/blob/c3ed0f26636d0fc5c3905a0c09bf4886da8512c9/pkg/kubectl/generate.go#L49-L52) like deployment generator: https://github.com/kubernetes/kubernetes/blob/c3ed0f26636d0fc5c3905a0c09bf4886da8512c9/pkg/kubectl/deployment.go#L1

[2017-11-16 05:52] mengqiy commented on #55844
Opened in the wrong repo.
Closing

[2017-11-16 05:52] #55844 closed

[2017-11-16 06:00] weherdh commented on #55776
Yes. working now with this parameter added:
[code]

[2017-11-16 06:02] verb commented on #53189
@dims yes, move it to 1.10, please.

[2017-11-16 06:16] dunjut commented on #55585
@thockin can you please help take a look at this?

[2017-11-16 06:26] zjj2wry commented on #55801
@liggitt maybe you know this, CRD not enabled in kubectl convert command?

[2017-11-16 06:27] liggitt commented on #55720
the current behavior is correct, given the discovery information published. `replicasets` in the `apps` group are not inherently related to `replicasets` in the `extensions` group as far as the generic aliasing behavior is concerned.

if we don't want both to appear, I'd pursue changing how the server exposes aliases for those types so that only on group or the other lists the `all` alias for itse

[2017-11-16 06:28] liggitt commented on #55801
correct. neither the server nor the client is able to convert CRD objects because there are no defined conversions for them.

[2017-11-16 06:28] #55801 closed

[2017-11-16 06:32] lichuqiang commented on #55720
In fact, as I'm not familiar with api-machinery, I wonder why certain resources exists in both groups.
How we expect user to use them when installing resources?
Is any of them would got removed in the near future?

[2017-11-16 06:34] liggitt commented on #55720
Several began life in the `extensions` group and are being migrated to their final homes in the `apps` group. There must be a period of overlap where they can be created/accessed via either group to allow for seamless migration, then they will be removed from the extensions group.

[2017-11-16 06:36] linlinops opened #55850 "how to get pod/service data in etcd v3 human readable ?"
/sig api-machinery

**What happened**:

i  want to get kubernetes  data in etcd v3 via etcd clientV3 , but however, the value of the key is unreadable ,like this

[code]

and  i notice that the value  been Serialized
so i try to import k8s runtime api to decode the value , but an error occured

 ## no kind "Pod" is registered for version "v1"

here are my code:

BTW:  tserver is my k8s service cre

[2017-11-16 06:38] lichuqiang commented on #55720
Oh, I see. Thanks for explanation. So I think the problem is not an issue of cli to some extent

[2017-11-16 07:04] Rmond opened #55852 "leaderelection: Failed to update lock"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a 3 nodes etcd cluster. and there are two nodes lost connect because of networking .
So I rebuilt the etcd cluster with another two machines based on the good node.

Now the etcd cluster is ok ,  the Kubernetes master and client node recovery health

But when I check the kubernete logs，as follows：

[code]
The state of the clu

[2017-11-16 07:06] #55675 closed

[2017-11-16 07:06] #55434 closed

[2017-11-16 07:23] randmonkey opened #55854 "kube-proxy in ipvs mode does not synchronize ipvs status correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network
/area kube-proxy

**What happened**:
We run a kubernetes cluster using k8s 1.8.0 and kube-proxy running in ipvs mode. Services created/updated after kube-proxy(pod) started running are not synchronized in ipvs, but services deleted before are still being synced.
**What you expected to happen**:
The new services are synced to ipv

[2017-11-16 07:48] vendrov commented on #55778
Seems your are right, it has been fixed in this commit:
https://github.com/kubernetes/kubernetes/commit/32735173dfd081997066bfaeb9b2783bc9f52f51

[2017-11-16 07:48] #55778 closed

[2017-11-16 07:50] mindprince commented on #55652
A lot of tests in `test/integration/garbagecollector` are very flaky.

From http://velodrome.k8s.io/dashboard/db/bigquery-metrics?panelId=7&fullscreen&orgId=1&from=now-7d&to=now and http://storage.googleapis.com/k8s-metrics/flakes-latest.json

`TestMixedRelationships`, `TestCRDDeletionCascading` and `TestCustomResourceCascadingDeletion` are the top 3 flaky tests among all kubernetes tests.

/assig

[2017-11-16 07:57] #55656 closed

[2017-11-16 08:00] linwiker commented on #37546
Kubernetes 1.7.6 version still has this problem

[2017-11-16 08:20] velo commented on #37546
We switched to docker `17.05.0-ce` and error vanished
It's not recommended, so we did that on non-prod cluster

[2017-11-16 08:20] crassirostris commented on #44976
@yujuhong As you said, logging agent reads logs sequentially, so if needed, id can be generated on the agent side

@Random-Liu In the log file -- to the second, because we assume that in the log file lines are not messed up. When exporting to backend we can use some id to identify chunks that belong to the same log entry

That said, I would prefer for the start just "trim" entries by throwing out

[2017-11-16 08:32] sachinar commented on #37063
I am also facing same issue with kubelet on cento7

@awesomemayank007 I have done same settings on machine but it isn't work.

[root@master1 ~]# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Acti

[2017-11-16 08:34] randmonkey commented on #55854
@m1093782566

[2017-11-16 08:36] m1093782566 commented on #55854
Thanks for reporting it.

/assign

[2017-11-16 08:36] m1093782566 commented on #55854
Will take a deep look...

[2017-11-16 08:51] m1093782566 opened #55857 "IPVS kube-proxy will flush all existing ipvs rules in its startup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

@pires reported the bug.

kube-proxy resets IPVS configuration even though `--mode=iptables`

on a node before ever running kube-proxy

[code]

after running kube-proxy `--mode=iptables`

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need t

[2017-11-16 08:51] m1093782566 commented on #55857
/assign

[2017-11-16 08:53] tengqm commented on #55720
Maybe the API docs ( https://kubernetes.io/docs/concepts/overview/kubernetes-api/ ) could be of some help. There are some links on that page if you want to dig more. :)

[2017-11-16 08:59] m1093782566 commented on #55854
I WOULD suggest you check the head of master branch. There is a known issue in v1.8.0.

Seems your issue if very similar to https://github.com/kubernetes/kubernetes/issues/52393

[2017-11-16 09:08] m1093782566 commented on #55857
Since there is no way to tell if a given ipvs rule is created by IPVS proxier of not. Should kube-proxy provide a new flags `--cleanup-ipvs` and kube-proxy will clean up ipvs rules only if `--cleanup-ipvs=true` in its start up?

The question is if `kube-proxy --clean` should legacy ipvs rules or not because it still has the risk of cleaning IPVS rules by other processes. If not, should users type

[2017-11-16 09:09] hzxuzhonghu commented on #55652
#55653  fix double close channel panic related to https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55575/pull-kubernetes-unit/64726/

[2017-11-16 09:10] resouer commented on #53497
@choury @flx42 @jeremyeder Thanks! So it sounds like a use case for #49964 , we can move future discussion to there if any.

While I agree with @jiayingz this is indeed more than current device plugin to handle so please expect long term work and cooperation here.

As we are currently at requirement gathering phase. @ConnorDoyle (owner of the issue) and me have worked out a [public doc](https://do

[2017-11-16 09:14] randmonkey commented on #55854
Is there a released version that solves #52393 and possibly solve this?

[2017-11-16 09:30] porridge opened #55860 "flake: test failures with "read: connection reset by peer; some request body already written" when creating/changing objects"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Example message:
[code]

It happened a few tests, not all of them scalability:
 - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/191
 - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-2-test/3501
 - https://k8s-gubernat

[2017-11-16 09:31] porridge commented on #55860
@kubernetes/sig-scalability-bugs
/assign

[2017-11-16 09:31] orangedeng opened #55861 "Does K8s 1.8.x support Windows server 2016?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I am following the https://kubernetes.io/docs/getting-started-guides/windows/ to add a windows node on Kubernetes 1.8.3 cluster. My kubelet has connected to api server but can not run any pod.
following is the pod status:
[code]
and kubelet keep showing
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and

[2017-11-16 09:32] inorton opened #55862 "Windows getting-started-guide missing"
/kind bug

**What happened**:

The documents for windows at https://kubernetes.io/docs/getting-started-guides/windows/ are missing

**What you expected to happen**:

View the getting-started-guide

**How to reproduce it (as minimally and precisely as possible)**:

Visit the page

**Anything else we need to know?**:

[2017-11-16 09:35] inorton commented on #55862
/sig docs

[2017-11-16 09:41] luxas commented on #37063
@sachinar Please don't comment on closed issues, but instead open a new issue in kubernetes/kubeadm with sufficient details

[2017-11-16 09:41] sokoow commented on #42701
Hi All,

We're also experiencing this with 1.8.2 with docker 1.13 :
[code]
any updates on why this is happening on 1.8 ?

[2017-11-16 09:54] roffe opened #55864 "Can't use ipvs proxier, trying iptables proxier"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
[code]

**What you expected to happen**:
Kube-proxy to use IPVS experimental support

**How to reproduce it (as minimally and precisely as possible)**:
start kube-proxy with
[code]

**Anything else we need to know?**:
Host /lib/modules is mounted into the pod into the same folder as RO.

Tried preloading all t

[2017-11-16 09:58] pires commented on #55857
not @eparis but @pires reported the issue ;)

[2017-11-16 10:00] pires commented on #55857
Also, the existing flag is `--cleanup`.

[2017-11-16 10:02] roffe commented on #55864
The error output is with -v=10 it dose not print anything more relevant to IPVS afterwards but just proceeds to start in iptables mode

[2017-11-16 10:23] shyamjvs commented on #49820
Seems like the initial move (https://github.com/kubernetes/test-infra/pull/5515) worked fine. However, note that the timezone has been shifted probably because prow cluster and jenkins are in different ones. For 100-node jobs it's probably fine, but for large scale jobs we need to shift the cron string to ensure original times continue to be followed.

[2017-11-16 10:35] shyamjvs commented on #49820
Next I think we can move all our large-scale manual jobs (gce-large-manual-up/down, gke-large-deploy/teardown). However, for that we need to support manual jobs on prow.
Since I don't think cron supports such a thing, what we can instead do is not use cron, but instead specify a very very long 'interval' for the job.

@krzyzacy WDYT about it? Could it lead to the job running once initially though?

[2017-11-16 10:37] m1093782566 commented on #55854
I would suggest you try ipvs proxy in v1.9 since it still has some  known issues now - we target beta in v1.9.

[2017-11-16 10:44] shyamjvs commented on #55818
Reopening.. as this issue is not fixed yet and seems like there's probe still happening once every 5 seconds:

[code]

(ref: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/5403/build-log.txt)

[2017-11-16 10:45] sokoow opened #55867 "Failed to update Node Allocatable Limits on 1.8.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We've deployed kube 1.8.2 and are seeing following errors:

[code]

This is somehow related to https://github.com/kubernetes/kubernetes/issues/42701, but we thought it was fixed in 1.8.

The cgroup driver we use is cgroupfs.

**What you expected to happen**:

No errors

**How to reproduce it (as minimally and precisely as

[2017-11-16 10:46] guangxuli commented on #55587
IMO, in that case every event will not be reliable, hmm but how we check NodeInfo.Pods periodically? It sounds a expensive process.

[2017-11-16 10:56] ae-dg commented on #55708
A quick experiment shows you can do something like `command: "./run_plugin $PWD"` and have the current directory on the command line to your plugin. 👍  for that.

(Unfortunately it splits the command line on spaces, regardless of quoting, so if your current path has a space in it you need to paste it back together again in the plugin, but it makes things possible until this is fixed.)

[2017-11-16 10:56] dims commented on #55007
@edisonxiang you don't need anyone's permission to file a PR. Go for it :)

[2017-11-16 10:56] shyamjvs commented on #55818
Ok.. the reason seems to be that for kubemark-master's resource-gatherer, we're not setting the `resourceDataGatheringPeriod`:

https://github.com/jiayingz/kubernetes/blob/ae36f8ee95d23689ad2889c8b16025c999726a8f/test/e2e/framework/resource_usage_gatherer.go#L217-L222

Earlier it was using the global variable in the package by default that was set to 60s. Now it's trying to use the member variable

[2017-11-16 11:06] alexppg opened #55869 "Docs section of the web returns 404"
Sorry if this is not the appropriate channel.

The docs section of the kubernetes.io web page points to https://kubernetes.io/docs/home/, which returns a 404 error. The other sections (less the Tutorial section) work correctly.

Thanks for your work.

[2017-11-16 11:09] #51997 closed

[2017-11-16 11:09] rakeshkulkarni6 opened #55870 "DNS resolve error for kubectl exec -ti <podname>"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have deployed cluster using acs engine. The cluster seems to be fine. I have deployed some pods and created service for them when iI tried to login to login to container using kubectl exec -ti /bin/bash its throwing dns resolve error for master and agents. error sample.:

root@hostname:/home/user# kubectl exec apache-dns-test-1639

[2017-11-16 11:19] alexppg commented on #55869
I've just seen there's a website repository, I close this.

[2017-11-16 11:19] #55869 closed

[2017-11-16 11:21] xiangpengzhao commented on #55864
/assign @m1093782566

[2017-11-16 11:25] dims commented on #53189
@enisoc Can you please move the milestone here?

[2017-11-16 11:37] zzq392342084 opened #55872 "kubectl logs Error from server (Forbidden): Forbidden (user=system:anonymous, verb=get, resource=nodes, subresource=proxy)"
kubectl create command works correctly,but kubectl logs and kubectl exec not :
_Error from server (Forbidden): Forbidden (user=system:anonymous, verb=get, resource=nodes,subresource=proxy)_

kubectl version
_Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean", BuildDate:"2017-08-31T09:14:02Z", GoVersion:

[2017-11-16 11:42] squeed commented on #52179
I don't think this issue is necessary; kubenet uses whatever CNI binaries are on the host, and those have been updated to 0.6.

[2017-11-16 11:42] squeed commented on #47529
Closing this; it's long past.

[2017-11-16 11:42] #47529 closed

[2017-11-16 11:46] redbaron commented on #53291
Still present in 1.8.3 , can it be backported to 1.8 branch please?

[2017-11-16 11:49] tianshapjq commented on #16435
@yujuhong I have encountererd the similar scene in my setup. We had a containerized kubelet running with memory.limit_in_bytes=500M, but its memory seemed increase slowly when inspecting with _docker stats_. We noticed that the memory stats in _docker stats_ are extracted from cgroup/memory/memory.usage_in_bytes, which may be constructed with some of virtual memories? Finally the memory of contain

[2017-11-16 11:56] porridge commented on #55860
@kubernetes/sig-api-machinery-misc this seems like a problem that should be solved once for all users - for example note how in [one of the failures](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-default-latest-upgrade-cluster/79) it's `kubectl create` that fails when trying to create a secret.

[2017-11-16 11:57] #55696 closed

[2017-11-16 11:57] wojtek-t commented on #50115
The PR is in pretty good shape in my opinion. I hope it will be in this week.

[2017-11-16 11:57] #55819 closed

[2017-11-16 11:59] roffe commented on #55864
Suggestion:  add some more levels of output to CanUseIPVSProxier & tryIPVSProxy to be more "talky" about what it does when verbosity is turned up

[2017-11-16 12:00] nailgun commented on #20096
I've this issue too on GKE.

Node version	1.8.1-gke.1
Node image	Container-Optimized OS (cos)

`kubectl describe node` shows this event:
`Warning  UnregisterNetDevice  3s (x14245 over 1d)  kernel-monitor, gke-c1-cpu8-mem52-e7a9e3b3-3w22  unregister_netdevice: waiting for eth0 to become free. Usage count = 21`

And I can't terminate any pods on this node. Just migrated to GKE and this instability t

[2017-11-16 12:01] nailgun commented on #20876
I've this issue too on GKE.

Node version	1.8.1-gke.1
Node image	Container-Optimized OS (cos)

`kubectl describe node` shows this event:
`Warning  UnregisterNetDevice  3s (x14245 over 1d)  kernel-monitor, gke-c1-cpu8-mem52-e7a9e3b3-3w22  unregister_netdevice: waiting for eth0 to become free. Usage count = 21`

And I can't terminate any pods on this node. Just migrated to GKE and this instability t

[2017-11-16 12:04] clsacramento commented on #53566
+1 GKE host cluster federated with azure.
Also +1 with baremetal host + Azure.

[2017-11-16 12:05] dims commented on #55852
/sig scheduling

[2017-11-16 12:06] dims commented on #55861
/sig windows

[2017-11-16 12:06] dims commented on #55867
/sig node

[2017-11-16 12:07] dims commented on #55870
/sig network
/sig azure

[2017-11-16 12:07] dims commented on #55872
/sig auth

[2017-11-16 12:14] mingshuaiwang opened #55875 "Why not reject another pod to use a pvc when it has access mode "ReadWriteOnce" and using by other pod?"
For example,
PVC pvc_eg has access mode "ReadWriteOnce" , and using by Deployment deployment_eg, why not Kube-apiserver check and reject other Deployment to use it  at admission stage?

[2017-11-16 12:17] mingshuaiwang commented on #55875
@kubernetes/sig-storage-proposals

[2017-11-16 12:35] porridge commented on #55779
Dear sig-cli leads @fabianofranz, @pwittrock, @AdoHe: ping?

[2017-11-16 12:39] porridge commented on #54637
Since these tests are now disabled, I think we should file a new issue against @kubernetes/sig-instrumentation-bugs to make heapster scale, and close this one?

[2017-11-16 12:39] squeed commented on #38890
Filed issue containernetworking/plugins#94 to implement a CNI traffic shaping plugin.

[2017-11-16 12:39] andyzhangx opened #55877 "Object delete sequence when deleting a whole namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I created a pvc  and a pod(mounting with pvc) in a namespace.
When I delete the whole namespace, according to the logs, I could see that k8s will first delete pvc, and then delete pod. While the pvc is actually a disk, we must first delete the pod, release the disk, and then delete pvc, otherwise delete the pvc first will

[2017-11-16 12:40] fgrzadkowski commented on #55489
Makes sense. Though if we switch to metric-server in release X and still keep heapster then users with kubectl in version X will just query metric server and no fallback is required, and for older version we will keep heapster running for 1 release to give them time for migration and again, we don't need fallback for them. WDYT?

[2017-11-16 12:40] dims commented on #55864
@roffe i am guessing a problem looking at `/proc/modules`, can you please try that by hand?

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L658

[2017-11-16 12:43] roffe commented on #55864
[code]

[2017-11-16 12:45] andyzhangx commented on #55877
/sig scheduling
not sure it's related to scheduling...

[2017-11-16 12:45] brancz commented on #55489
That sounds good to me. I've started implementing support in kubectl top for using the metrics server instead of heapster. I'll reference the PR here once I get it into a working state. My current plan is to not touch the heapster parts as much as I can so that we can just delete the dead code once we decide to remove heapster support.

[2017-11-16 12:50] dims commented on #53291
@redbaron See https://github.com/kubernetes/kubernetes/pull/55878 for proposed cherry-pick

[2017-11-16 12:51] roffe commented on #55864
Ok this is getting weirder. when i set

mode: ipvs

in kubeconfig instead

then i get a new error on start:

[code]

[2017-11-16 12:56] porridge commented on #55229
This happened again, this time with the working debugging code in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-sig-cli/275

[code]

This means the root cause is essentially https://github.com/kubernetes/kubernetes/issues/55589

[2017-11-16 12:57] roffe commented on #55864
This is the template i use to generate kube-proxy config:

[code]

[2017-11-16 12:58] andyzhangx commented on #55861
I have tried running aspnet pod on windows server 2016, it works well:
[code]

To narrow down your issue, would you first run following container on your windows server:
[code]

[2017-11-16 13:00] roffe commented on #55864
I think i found the problem.

I'm using a old kube-proxy config template.

after running --write-config-to on a new version i saw some new fields

[code]

results inc

[2017-11-16 13:05] roffe commented on #55864
Success!

I1116 13:04:38.068488       1 feature_gate.go:156] feature gates: map[SupportIPVSProxyMode:true]
I1116 13:04:38.085364       1 server_others.go:164] Using ipvs Proxier.
W1116 13:04:38.103724       1 proxier.go:239] IPVS scheduler not specified, use rr by default
I1116 13:04:38.103784       1 server_others.go:187] Tearing down inactive rules.
I1116 13:04:38.155993       1 conntrack.go:98]

[2017-11-16 13:16] shyamjvs commented on #55229
Do we know what options we have here to fix this?
It'll get particularly expensive to lose our scale runs due to this flake.

[2017-11-16 13:17] owenmorgan commented on #45726
also seeing this.. its bad.

[2017-11-16 13:17] fgrzadkowski commented on #55489
Thanks @brancz!

[2017-11-16 13:25] shyamjvs commented on #55194
Seems like the latest run (no. 29) failed with only the HPA e2es failing - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness
With https://github.com/kubernetes/kubernetes/pull/55798 merged, those shouldn't be run anymore at scale. I'll kick the job manually now (silently hoping to have a green run).

[2017-11-16 13:33] gregory-m commented on #55535
I was involved in sample-controller.

Will fix it.

[2017-11-16 13:50] shyamjvs commented on #54637
Sg. Could you file the issue?

[2017-11-16 13:56] porridge commented on #55589
@mchangxe the message is misleading, it actually checks for both `cfssl` and `cfssljson` and fetches both if *either* is missing

[2017-11-16 13:58] porridge commented on #55229
Ideally all contexts where cfssl is executed should have it pre-installed. I don't know what they are, though, not even mentioning how they are created.

[2017-11-16 14:13] fisherxu opened #55882 "Can kubectl/k8sapi support specified users in exec cmd/interface?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

As the title, can kubectl/k8sapi cmd/interface support specified users of exec function like **docker exec -u** ? Or else can we implement it?

[2017-11-16 14:14] fisherxu commented on #55882
/sig cli

[2017-11-16 14:25] einyx commented on #55226
same for the centos error

[2017-11-16 14:37] deads2k commented on #55822
The client certificate may be fulfilled differently based on the outcome of the container identity, but the serving certificate would be pretty useful.  Getting a signed serving certificate for a service is half of the problem.  How would you distribute the signing CA to various actors and pods who need to verify the server?

[2017-11-16 14:53] mattjmcnaughton commented on #55477
Thanks for reporting this @fieryvova ! I think this is the same error as https://github.com/kubernetes/kubernetes/issues/53670 which was fixed in https://github.com/kubernetes/kubernetes/pull/53690.

Upgrading to either Kubernetes 1.8.2 or 1.7.9 should fix this issue.

[2017-11-16 14:53] ncdc commented on #55850
I would recommend using the kubernetes `Scheme` and `Codecs` from client-go, which have all the types registered - https://github.com/kubernetes/client-go/blob/72e1c2a1ef30b3f8da039e92d4a6a1f079f374e8/kubernetes/scheme/register.go#L51

[2017-11-16 14:59] roffe opened #55886 "kube-proxy "panic: non-positive interval for NewTicker" when using ipvs mode & default values"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network

**What happened**:
Default values for kube-proxy after saving values with --write-config-to are not sane and causes panic with stack trace on startup of kube-proxy

I discovered this after some initial trouble in https://github.com/kubernetes/kubernetes/issues/55864

here is the output of "kube-proxy --write-config-to"

[code]

[2017-11-16 15:00] roffe commented on #55864
Closing as this issue is resolved and the cause was configuration error on my side. However opened a new issue https://github.com/kubernetes/kubernetes/issues/55886 as I discovered a config bug during the work with this

[2017-11-16 15:00] #55864 closed

[2017-11-16 15:02] fieryvova commented on #55477
@mattjmcnaughton OK. Thanks for letting me know!

[2017-11-16 15:02] #55477 closed

[2017-11-16 15:05] porridge opened #55887 "heapster does not scale to large clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

In https://github.com/kubernetes/kubernetes/issues/54637#issuecomment-344584988 we found that Horizontal Pod Autoscaler test fails on large clusters, despite its deployment under test is tiny (1-2 nodes). The conclusion was that the reason is most likely that heapster fails to scrape metrics from thousands of nodes in a t

[2017-11-16 15:06] porridge commented on #55887
@kubernetes/sig-instrumentation-bugs

[2017-11-16 15:06] porridge commented on #54637
/close
in favor of #55887

[2017-11-16 15:06] #54637 closed

[2017-11-16 15:10] kunal-shah commented on #55632
Thanks Hemant for your suggestions.. We are currently using heptio
cloudformation templates to create kubernetes cluster.  Destroying is just
done directly using cloudformation stack deletion. i will look into
creating cluster in a separate namespace.

Meanwhile, can you please tell me if there is a way to add custom AWS tags
to storageclass? We need all AWS resources to have tags corresponding to

[2017-11-16 15:19] #53829 closed

[2017-11-16 15:21] gnufied commented on #55632
I did not mean create cluster in separate namespace.  I am talking about kube namespaces - https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/

[2017-11-16 15:27] dims commented on #55886
@roffe looks like this got fixed at least in master already

[code]

[2017-11-16 15:34] dims commented on #55886
Looks like it was done here:
https://github.com/kubernetes/kubernetes/commit/b29c8f32bfbf283baf4f2bee4b1a2218303a30f8#diff-1c91fd0753051b23cbcd5e30bcb571b9

cc @m1093782566

[2017-11-16 15:36] dims commented on #55886
i've proposed a backport to 1.8.x here : https://github.com/kubernetes/kubernetes/pull/55888

[2017-11-16 15:36] kunal-shah commented on #55632
Yep understood.. "Cluster" was a wrong word.. It should be all my pod
deployments.. Thanks for clarifying. Can you also help with adding custom
tags? Is it possible to do today with AWS and PVs?

On Thu, Nov 16, 2017 at 9:22 AM, Hemant Kumar <notifications@github.com>
wrote:

[2017-11-16 15:36] cjellick commented on #37007
Thanks so much @wongma7! I really appreciate the response. I'll try that.

I realize this isn't exactly the right place for this conversation, but I'm going to ask a follow up question:

My intention is to use the integration test's framework to test my own controllers. Is that what you are doing? Is that valid/going-to-work (assuming I get around this problem)?

[2017-11-16 15:40] deitch commented on #39197
Sure, here is another use case. I have a service (in the "process that services requests" meaning) that needs stable network IDs and storage, which is what `StatefulSet` is there for. E.g. `proc-0`, `proc-1`, `proc-2`. All of these need to be able to reach each other, so I add a headless service.

But I *also* need to be able to reach them independently of individual network names, which is what a

[2017-11-16 15:41] kdima commented on #50977
We are seeing the same issue. Based on our debugging it looks like:
1) old pod gets Delete request
2) goes into Terminating state and process receives Term signal. We catch TERM in our application and start reporting Not Healthy on the configured healthcheck endpoint but the application is still capable of serving traffic.
3) Happens around the same time as 2 kube-proxy removes all the routing fro

[2017-11-16 15:43] deads2k commented on #53825
Already addressed.

[2017-11-16 15:43] #53825 closed

[2017-11-16 16:03] #55290 closed

[2017-11-16 16:11] luksa opened #55890 "Openapi generator and the RawExtension type"
The Service Catalog includes the `RawExtension` type in `ServiceInstance.spec.parameters`. The openapi schema generated for it is wrong. It has two problems:
- it includes the `Raw` field, which is marked as required
- it doesn't allow additional properties to be included under it

**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT
/kind bug

**What happened**:
If the Service Catalog openapi

[2017-11-16 16:12] jordanwilson230 commented on #55708
It's nasty, but one other workaround is to put a flag in your plugin and have your bashrc or bash_profile pass it the user's path.  E.g.:

function kubectl() { case $* in "deploy"*) shift 1; command kubectl plugin deploy --path=$PWD "$@" ;; * ) command kubectl "$@" ;; esac }
' >> ~/.bash_profile

Thats a snippet of what I'm currently using. Using this method is a bad approach, but will have to use

[2017-11-16 16:14] shyamjvs commented on #55887
@fgrzadkowski Assigning this to you - feel free to redirect it as apt. Thanks.

[2017-11-16 16:17] gnufied opened #55892 "Detach is broken from stopped nodes in AWS"
Currently detach is broken for stopped nodes in AWS because stopped nodes can't be fetched in AWS cloudprovider, that causes `getInstanceByNodeName` to throw "Node Not found error" and that in turn means detach calls silently fail.

[2017-11-16 16:18] dusansusic opened #55894 "no kind "Deployment" is registered for version "apps/v1beta2""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
It's not possible to create Deployment with nginx example provided in documentation.

**How to reproduce it (as minimally and precisely as possible)**:
kubectl create -f https://raw.githubusercontent.com/kubernetes/website/master/docs/concepts/workloads/controllers/nginx-deployment.yaml

[code]
**Anything else we need to know?**:

*

[2017-11-16 16:18] gnufied commented on #55892
/sig aws
/sig storage

cc @kubernetes/sig-storage-bugs

[2017-11-16 16:19] jordanwilson230 commented on #55708
@ae-dg regarding the spacing issue, you should be able to fix that by quoting the $PWD you're passing to your script, or changing the IFS variable to handle it.

[2017-11-16 16:21] staylor89 commented on #45726
Not sure if this helps, but when this happens to us we the EBS volumes stuck in an 'attaching' state.
https://aws.amazon.com/premiumsupport/knowledge-center/ebs-stuck-attaching/

[2017-11-16 16:56] luksa commented on #55890
@mbohlool I've heard you're the goto guy for the openapi-gen. Please help? :)

[2017-11-16 17:14] boosh commented on #47368
This seems like the only open docker label issue at the moment.

I'm adding docker labels to containers in my CD pipeline (git hash, build ID, etc) and want this data to be displayed by a `status` endpoint on my microservices. This is so I can unequivocally be certain of which version of an application is deployed.

I can't currently find a way of retrieving docker labels from within k8s, hence I'

[2017-11-16 17:29] georgebuckerfield commented on #54021
I think the best way to do this is to use the `service.beta.kubernetes.io/aws-load-balancer-extra-security-groups` annotation on the service to add an externally managed security group to the load balancer.

[2017-11-16 17:31] dims commented on #53451
@jhorwit2 will https://github.com/kubernetes/kubernetes/pull/54569 make it to 1.9? Should we move this out to 1.10?

[2017-11-16 17:33] dims commented on #54904
@soltysh @kubernetes/sig-apps-bugs Is this still on for 1.9?  Is there a PR already? (if not, Can we move it out to 1.10?)

[2017-11-16 17:42] kdillane commented on #54021
If I follow the logic then I would set the IP range for the load balancer to the cluster CidrBlock and then attach an extra security group where I manage the IP ranges manually.

[2017-11-16 17:43] cdenneen opened #55896 "Spot Instance LifeCycle"
Looking for a way for Kubernetes to receive the Termination notice for a spot instance in order to evacuate the node of currently running pods.
I have a lifecycle step for termination in a statefulset that would unregister my ci-runner from ci system but this never seems to happen and I end up with rogue ci-runners still registered being waited upon for CI jobs still being assigned to them.
In a p

[2017-11-16 17:55] ericchiang commented on #55822
The certificates API records the user info that made the request, while container identity is about credentials. Won't the csrapprover be acting on username/uid/groups/extra regardless of the container identity outcome?

For our use cases, the CA is the API server CA. It'd be in the same bundle passed to pods for their in-cluster client.

[2017-11-16 17:59] tallclair commented on #51980
Yes, we should definitely support dropping all capabilities. I think we should define the api using `'*'` rather than `ALL`, since that's what we use elsewhere in the Kubernetes API (e.g. https://github.com/kubernetes/kubernetes/blob/8823a835655cfcf73ddf8a636e2e11f83baeea57/pkg/apis/extensions/types.go#L889)

[2017-11-16 18:27] jhorwit2 commented on #53451
@dims It's not going to make 1.9

[2017-11-16 18:33] tallclair commented on #51980
To clarify, we should carefully deprecate `ALL` (in favor of `*`) over a few releases to avoid breaking users.

[2017-11-16 18:38] krzyzacy commented on #49820
@shyamjvs Interval will not work, as we clean up pods older than 2days, which means after 2 days prow will think that the pod never runs thus will trigger another run.

Instead we probably should use some very long cron, people have suggested use cron in the past, but seems our cron version cannot specify years? I'll play around with it locally.

[2017-11-16 18:54] shyamjvs commented on #49820
Yes, I don't see how the cron syntax we're using can represent anything that's not periodic. The maximum time period I could come up with using a crontab was 1 year - using `0 0 1 1 *` (ref - http://cron.schlitt.info/index.php?cron=0+0+1+1+*&iterations=10&test=Test). I tried to make it 7 years (on avg) by even setting the day of the week, i.e sth like `0 0 1 1 7`, but that seems to increase the co

[2017-11-16 18:55] krzyzacy commented on #49820
aha, we can use something like `0 0 31 2 0` to schedule the job on Feb. 31st!

[2017-11-16 18:56] shyamjvs commented on #55818
Seems like the above PR fixed it - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-500
/close

[2017-11-16 18:56] #55818 closed

[2017-11-16 19:02] chrislovecnm commented on #55896
/sig aws

[2017-11-16 19:03] shyamjvs commented on #49820
I guess you mean `0 0 31 2 *` (because otherwise the OR condition I mentioned above kicks in).
That sounds like a cool solution, just found it here - https://stackoverflow.com/a/13938155

[2017-11-16 19:07] krzyzacy commented on #49820
yep, sgtm, gonna PR it out :-)

[2017-11-16 19:12] Random-Liu commented on #20096
/cc @yujuhong @dchen1107 /cc @kubernetes/sig-node-bugs

@nailgun The events are generated by NPD by parsing kernel log. I heard that `unregister_netdevice: waiting for eth0 to become free. Usage count = 21` doesn't necessarily mean a kernel deadlock now. However x14245/day is too frequent for me...

There is a `KernelDeadlock` node condition. Is that `True` or `False` for you?

[2017-11-16 19:52] einyx commented on #43516
I also see it in more exotic cloud providers.

[2017-11-16 19:54] nailgun commented on #20096
@Random-Liu There is no kernel deadlock AFAIK.

This lines are from node's systemd journal:
[code]

But when this event is first seen, kubelet becomes completely unresponsive.

[2017-11-16 20:27] georgebuckerfield commented on #54469
I don't think this is possible at the moment. I'd be happy to take a look at adding this in if it's something people would find useful?

[2017-11-16 20:40] shyamjvs commented on #53327
After fixing two more regressions in our kubemark jobs (https://github.com/kubernetes/kubernetes/issues/55695, https://github.com/kubernetes/kubernetes/issues/55818), seems like we're finally in a position to get back to fixing this one.

@dashpole FYI - I've triggered kubemark-500 presubmit against your potential fix and let's see how it goes. If it fails like before, probably means the fix isn't

[2017-11-16 20:55] jonathan-kosgei commented on #12964
@thockin I'm having this issue again in a very different setup, basically I'm using the Nginx Ingress controller and it uses endpoints and these endpoints keep disappearing intermittently breaking all ingress to the cluster. Opened an issue at the nginx-ingress repo https://github.com/kubernetes/ingress-nginx/issues/1715.

Saving the endpoints with a `get -o yaml` and recreating them when resoluti

[2017-11-16 21:03] dusansusic commented on #55894
@kubernetes/contributor-experience

[2017-11-16 21:07] dims commented on #55890
/sig api-machinery

[2017-11-16 21:09] lavalamp commented on #55535
Thanks!

[2017-11-16 21:11] notuscloud commented on #47744
I'm still facing this same issue.

My kubernetes cluster is deployed with kubeadm on Centos 7. I run a k8S v1.8.1 cluster.
When I try to fetch containers metrics this way:
* http://localhost:8001/api/v1/proxy/nodes/node1:0/metrics
* http://localhost:8001/api/v1/proxy/nodes/node1:10250/metrics
* http://localhost:8001/api/v1/proxy/nodes/node1:10255/metrics
I find no `container_*` metrics.
kubelet is

[2017-11-16 21:24] dims commented on #55862
@inorton Do you mind moving this to https://github.com/kubernetes/website issues?

[2017-11-16 21:25] mml commented on #55617
Might be a dup of #52657.  cc @cheftako @jennybuckley

[2017-11-16 21:26] lavalamp commented on #55621
@mml thinks this may be a dup of an existing request.

I'm a little nervous about making a queue that could get really big if the drain on it starts failing 100% of the time?

[2017-11-16 21:26] mml commented on #55617
/assign @cheftako

[2017-11-16 21:30] lavalamp commented on #55719
We don't want clients to make up defaults if the server didn't set it.

[2017-11-16 21:30] lavalamp commented on #55719
@thockin this is like the 3rd time this issue has come up for me today...

[2017-11-16 22:04] kow3ns commented on #54904
I'd like to get this in for 1.9 as it causes a significant number of test flakes.

[2017-11-16 22:06] hogepodge commented on #52249
@dims I mostly have the scaffolding up, the cloud-init script is failing because of misconfiguration. If you or anyone else wants to help out I'd love extra eyes on it. https://github.com/hogepodge/cross-cloud/tree/openstack

[2017-11-16 22:07] jpbetz commented on #47131
3.2.10 is [available](https://github.com/coreos/etcd/releases/tag/v3.2.10)

[2017-11-16 22:16] dims commented on #52249
@hogepodge do you have steps for me to follow? (to recreate the issue)

[2017-11-16 22:17] kow3ns commented on #51049
@mattfarina @liyinan926 we can do this, it would be good to move the e2e through the entire migration path, but ultimately we will be doing moving it to apps/v1 in few weeks anyway at this point.

[2017-11-16 22:18] jamiehannaford commented on #52249
I can take a look too if I get some time this week.

Yeah I was gonna ask the same as @dims. What steps do I take to recreate this or just spin up an OS cluster using cross-cloud? Do you have any logs that might be useful?

[2017-11-16 22:25] DreadPirateShawn opened #55904 "kubectl "--selector=name=foo" flag does not work for cronjobs"
/kind bug

**What happened**:

The kubectl "--selector=name=foo" flag does not work for cronjobs.

[code]
[code]
[code]

**What you expected to happen**:

The "--selector=name=foo-cron" kubectl flag should return cronjobs with corresponding metadata.

**How to reproduce it (as minimally and precisely as possible)**:

Create cronjob with "name: foo-cron" in top-level metadata, then attempt "kubectl

[2017-11-16 22:28] Random-Liu opened #55905 "CRI: Support CRI log stats"
## Who is using container log stats?
1. Summary API provides container log disk usage. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/stats/v1alpha1/types.go#L121
2. Ephemeral storage based eviction is using container log disk usage.

## Who is collecting container log stats?
Cadvisor is collecting per-container log stats for docker today. See https://github.com/google/cadvi

[2017-11-16 22:31] gnufied commented on #55875
We are currently guarding this in attach/detach controller so as RWO volumes can not be used by multiple pods at once.

The apiserver does not guard against creation of pods though. Attach/Detach controller just prevents attaching volumes to multiple nodes.

[2017-11-16 22:44] kow3ns commented on #55714
@dhilipkumars We can't start work on this until 1.9 is released. This needs to go into 1.10.

[2017-11-16 22:50] ryanmcginnis commented on #55894
Hitting this, too, using the same example.

[2017-11-16 23:00] mml commented on #54726
This was fixed in #53909

[2017-11-16 23:00] #54726 closed

[2017-11-16 23:32] dashpole opened #55909 "[Failing Test] [k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api"
Summary API node e2e test has started failing after the most recent cAdvisor update: https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet&include-filter-by-regex=Summary
The PR which updated cadvisor Godeps: https://github.com/kubernetes/kubernetes/pull/55188

This issue is most likely not related to GPU metrics, but another change that was included in the cadvisor update.

cc @kubernetes/sig

[2017-11-16 23:43] dashpole commented on #55909
My best guess is that this is the culprit:
https://github.com/google/cadvisor/pull/1760

[2017-11-17 00:02] Random-Liu commented on #44976
@crassirostris My concern is that the length of the chunk number is not fixed. It could grow potentially.

It's a bit more complex to handle non fixed log prefix in the container runtime. And it's possible that the number will grow too long potentially.

If we only need something to identify the first line. We could mark the first line with some special character.

[2017-11-17 00:04] caesarxuchao commented on #55150
Worked well with 1.9 server and 1.7 kubectl:
[code]

[2017-11-17 00:30] hogepodge commented on #52249
Some of the variable are hard coded for vexxhost, so you should watch out for those.

I use `build.sh` to build the container.
You need to source your cloud authentication credentials into your environment.
Then `deploy.sh` to launch. It needs 8 vms, one bastion, one load balancer, three masters, three workers.
`destroy.sh` tears it all down.

The terraform scripts in the `openstack` directory sta

[2017-11-17 00:30] krzyzacy commented on #55195
after https://github.com/kubernetes/test-infra/pull/5548 the boskos pool should be gradually cleaning up ancient leaked clusters. I'll let it soak and check back tomorrow.

[2017-11-17 00:33] liggitt commented on #55904
--sector matches labels, and that cronjob doesn't have a label "name"

You could use a field selector of metadata.name=foo-cron

[2017-11-17 00:33] #55904 closed

[2017-11-17 00:35] liggitt commented on #55877
There is work in progress to add finalizers to PVCs to prevent their deletion prior to dependent pods

[2017-11-17 00:37] liggitt commented on #55872
That means the api server has not been given a credential to use to authenticate to kubelets when proxying log/exec requests.

See apiserver configuration as described in https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authentication

[2017-11-17 00:37] #55872 closed

[2017-11-17 00:39] DreadPirateShawn commented on #55904
Bah. Apologies for the noise, and thanks.

[2017-11-17 00:51] stewart-yu commented on #55894
I  think you should change the `version` to `apps/v1beta1`

[2017-11-17 01:05] prateekgogia commented on #55857
If the mode is `--mode=iptables`, why does kube-proxy has to clean IPVS rules ?

[2017-11-17 01:15] dashpole commented on #55909
/kind e2e-test-failure

[2017-11-17 01:20] dashpole commented on #55909
example failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/8530

[2017-11-17 01:26] m1093782566 commented on #55857
Because iptables proxy need to clean legacy proxy rules which maybe created by ipvs proxier.

[2017-11-17 01:42] mingshuaiwang commented on #55875
User realize that the pvc they want to use is occupied by other pod(or deployment or some other resource) only when they found that their new pod(or other resource) can not running up.  In this case, user experience is not good.
What about add a new admission for apiserver, this admission will attach a label(status=using) to pvc when pod(or other resource) using the pvc. When new pod(or other reso

[2017-11-17 01:56] shenlanse commented on #55587
@guangxuli
I don‘t think so. Update and add events always have same processing. When apiserver is restarted, client-side  List-Watch will be restarted too, Update and Add events will never be lost( because we generally only care about the last state instead of intermediate state). However, Delete event is different, disappear is disappear, restart is useless.

[2017-11-17 02:00] edisonxiang commented on #55007
@dims Thanks dims. I will.

[2017-11-17 02:06] shenlanse commented on #55587
When scheduler restart List-Watch( pod and node ), schedulerCache doesn't resconstruct its cache completely.

This exception happened in our product environment and not easily to find.

[2017-11-17 02:09] xiangpengzhao commented on #55309
Add
/priority critical-urgent
since @justinsb marked it as a release blocker.

[2017-11-17 02:40] Random-Liu commented on #44976
Offline discussed with @yujuhong.
@crassirostris Actually, we think we should have a multi-line plugin for CRI purpose (the current fluentd multiline plugin doesn't work for us) before rolling CRI container runtime out to production. If we have that, it doesn't matter whether we could identify the first line or not.

How about this?
* For short term, we add a field to identify whether a line is pa

[2017-11-17 03:48] feiskyer commented on #55870
@rakeshkulkarni6  Did you edit the /etc/resolv.conf manully, seems something are missing in the file. e.g. on my busybox pod, it looks

[code]

[2017-11-17 03:49] gyliu513 commented on #55617
But in my env, there are not too many pods and also no cron job. Can you please show more detail to me for what actions will trigger the controller manager have multiple threads? @mm0 @cheftako

[2017-11-17 03:56] BenTheElder opened #55917 "pull-kubernetes-verify verify-openapi-spec failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: all recent `pull-kubernetes-verify` tests are failing against `hack/make-rules/../../hack/verify-openapi-spec.sh` EG: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54053/pull-kubernetes-verify/63091/

**What you expected to happen**: This shouldn't be failing so widely

**How to reproduce it (as

[2017-11-17 03:56] BenTheElder commented on #55917
FYI @mtaufen who spotted this.

[2017-11-17 03:58] BenTheElder commented on #55917
[code]

/cc @dashpole
/assign

[2017-11-17 04:08] xiangpengzhao commented on #55917
I remember the same issue happened when release-1.8 branch was created. Seems like there is some script should be updated but I forget which one.

[2017-11-17 04:28] mchangxe commented on #55589
@porridge Yes, I solved the problem by installing the entire library... The error message should be improved with more details...

[2017-11-17 04:42] BenTheElder commented on #55917
At the moment I suspect https://github.com/kubernetes/kubernetes/pull/55353

[2017-11-17 04:42] BenTheElder commented on #55917
/cc @david-mcmahon

[2017-11-17 04:44] BenTheElder commented on #55917
/priority failing-test

[2017-11-17 04:49] yanxuean commented on #55917
I will fix it.

[2017-11-17 05:33] ScorpioCPH opened #55920 "The current device plugin endpoint TestRun UT doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

For now, UT `TestRun` in `pkg/kubelet/cm/deviceplugin/endpoint_test.go` doesn't work because callback function will never be called, `callback function` is rewritten in this function `esetup()`:

[code]
Another thing, i'm wondering why we rewrite device health in function `ListAndWatch` which in this file: `pkg/kubelet/c

[2017-11-17 05:36] ScorpioCPH commented on #55920
/assign @RenaudWasTaken @jiayingz

[2017-11-17 05:57] gyliu513 opened #55923 "ipvs NodePort is not working if host not using eth{i} as nic name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1) Install kubernetes with https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/ipvs#local-up-cluster

2) After the cluster is ready, check ipvs is working well

[code]

3) Create a service with NodePort

[code]

[2017-11-17 05:57] patrickshan opened #55924 "webhook admission controller should pass pod creation error back to upstream resources"
**BUG REPORT**:

/kind bug

**What happened**: when ExternalAdmissionHookConfiguration for pods denies a Pod create request from replica sets, it didn't pass the reason back to replica sets:
[code]

**What you expected to happen**: it should pass back the reject reason defined inside webhook admission controller back to replica sets or deployment, like:
[code]

**How to reproduce it (as minimally

[2017-11-17 05:58] patrickshan commented on #55924
@sig/api-machinery

[2017-11-17 06:08] david-mcmahon commented on #55917
Something definitely not looking right about this release branch.  Investigating...

[2017-11-17 06:19] xsgordon commented on #47831
@idvoretskyi: no idea, but a lot has changed since 1.6.5 in this space and we don't have any more current reports of this behavior. Unless anyone has time to reproduce on 1.8 it is my inclination to close - this has not moved since June.

[2017-11-17 06:20] xiangpengzhao commented on #55917
This is the third time (or more) we encounter this similar issue. (1.7/1.8/1.9 branches were cut).  ref: https://github.com/kubernetes/kubernetes/pull/46863 https://github.com/kubernetes/kubernetes/pull/51851.

But seems like this time is caused by something different.

[2017-11-17 06:24] dhilipkumars commented on #55714
@kow3ns If you agree with this Plan, I could work on getting it done for other controllers by the time we cut 1.9 (Raise the PRs and keep them upto date with master).  We could get this in first thing when master is ready for `1.10` development?

What do you say?  Also, what is the plan for Scale subresource?

[2017-11-17 06:37] stewart-yu commented on #55923
I will help to fix it.

[2017-11-17 06:53] ethinx commented on #48703
Using 1.7.10 and still getting the log flood. Not sure if this has already been fixed in 1.7.3? Or is there any option I can use to suppress the message?

[code]

[code]

[2017-11-17 07:23] hzxuzhonghu commented on #55924
/sig auth

[2017-11-17 07:27] pires commented on #55857
As suggested over Slack, instead of making this implicit, I'd make it explicit with a new flag or reuse `--cleanup` (that would clean-up all the IPVS and IPTables rules.

[2017-11-17 07:33] k82cn commented on #51454
Did not get time to try the steps, but found that the QuotaMonitor should be started after cache sync. Opened #55926 for this, I'll test it :).

[2017-11-17 07:35] andyzhangx commented on #50883
/assign

[2017-11-17 07:37] anuthaa commented on #24241
while deploying an application to kubernetes cluster showing :  Image: tomcat is ready, container is creating

[2017-11-17 07:39] david-mcmahon commented on #55917
@enisoc and I looked and have updated the tag on master to unblock the submit queue.  Fix for the branch coming tomorrow as well as a fix to the root cause.

[2017-11-17 07:41] BenTheElder commented on #55917
/unassign
/assign @david-mcmahon

[2017-11-17 07:52] fisherxu commented on #55882
/cc @thockin @deads2k @liggitt @sttts

[2017-11-17 07:56] dusansusic commented on #55894
working with `version`: `apps/v1beta1`

[2017-11-17 08:15] #50946 closed

[2017-11-17 08:17] enisoc commented on #55917
Found the first glimmer of green: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55148/pull-kubernetes-verify/63165

[2017-11-17 08:18] #52573 closed

[2017-11-17 08:19] david-mcmahon commented on #55917
But the version is still at 1.9.0.  Will we need to force a tag update on the SQ?

[2017-11-17 08:23] m1093782566 commented on #55857
@pires

My concern is if we reuse `--cleanup`, it may break the existing logic if iptables proxier. I prefer a new flag.

[2017-11-17 08:26] enisoc commented on #55917
More recent runs have v1.10.0: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55927/pull-kubernetes-verify/63173

Seems like it fixed itself?

[2017-11-17 08:34] gogeof opened #55928 "somtime edit /etc/kubernetes/kube-apiserver.yaml by vi, kube-apiserver be killed but not restart forever"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
sometimes use vi edit /etc/kubernetes/manifests/kube-apiserver.yaml, apiserver will be kill, but not restart again; but sometimes is ok, kube-apiserver will restart.(test 10 times, and 2 times problem found)
but if I move this file out of /etc/kubernetes/manifests/, wait for moment, and then move back, apiserver restart, p

[2017-11-17 08:35] gogeof commented on #55928
/sig node

[2017-11-17 08:36] timchenxiaoyu opened #55929 "kubernetes api time cost"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
time  kubectl get pod -n qinzhao
NAME                                                READY     STATUS     RESTARTS   AGE
cifid-h1brxegb7z-cisid-h1t4exbxb-mbwdt-w98mj        0/1       Init:0/1   0          11s
cifid-tyyrtjuzwlns-cisid-gjudsxsu3rmf-hbqx0-mgw9c   0/1       Init:0/1   0          13s

real    0m10.480s
user    0m5.895s
s

[2017-11-17 08:39] pires commented on #55857
I'm fine with that. Are we waiting on more feedback or someone to own the fix?

[2017-11-17 08:43] andyzhangx commented on #55774
thanks, it's a requirement, we should support Standard_LRS, Standard_ZRS, Standard_GRS, Standard_RGRS, while for premium, it only support Premium_LRS

[2017-11-17 08:43] andyzhangx commented on #55774
/kind feature

[2017-11-17 08:46] roffe commented on #55649
can confirm. seeing same behaviour here but on docker 1.12.6 / rkt 1.28.1

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:"f0efb3cb883751c5ffdbe6d515f3cb4fbe7b7acd", GitTreeState:"clean", BuildDate:"2017-11-08T18:39:33Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:

[2017-11-17 08:46] gogeof commented on #55928
@dixudx could you help to fix this problem?

[2017-11-17 08:47] m1093782566 commented on #55857
@pires I can own the fix. And, can we wait on more feedback?

[2017-11-17 08:56] dixudx commented on #55928
@gogeof You mean changing file in folder `/etc/kubernetes/manifests/`?

Seems `kubelet` did not catch your changes. Any logs from `kubelet`?

[2017-11-17 08:59] andyzhangx commented on #55870
you may try other image to narrow down the issue, e.g. nginx
try below example:
https://github.com/andyzhangx/Demo/tree/master/linux/basic

[2017-11-17 09:01] hzxuzhonghu commented on #55929
@timchenxiaoyu Always reproduce?

[2017-11-17 09:12] m1093782566 commented on #55857
I try to enumerate all cases:

**1. don't run proxy**

[code]

**2. run iptables proxy**

[code]

**3. run userspace proxy**

[code]

**4. run ipvs proxy**

[code]

Is that fine?

[2017-11-17 09:13] m1093782566 commented on #55857
/assign

[2017-11-17 09:14] timchenxiaoyu commented on #55929
yes

[2017-11-17 09:15] reachlin commented on #32616
are we able to use secrets in configmap or what?

[2017-11-17 09:17] #43744 closed

[2017-11-17 09:19] gogeof commented on #55928
@dixudx but why is 4913, not the file kube-apiserver.yaml. I have try several time, and find the same error message.
by the way, follow the code, I arrived here: /home/gogeof/work/gopath/src/k8s.io/kubernetes/pkg/kubelet/config/file_linux.go:watch(), seems is here to watch the file change.
[code]

[2017-11-17 09:21] timchenxiaoyu commented on #55929
/sig api-machinery

[2017-11-17 09:23] mchangxe opened #55932 "error during ./hack/ginkgo-e2e.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
During both e2e-gce and e2e-kops-aws tests, steps related to script ./hack/ginkgo-e2e.sh failed. The errors seem to be unrelated to the coding change I have made in the kubectl cp command section. In the e2e-kops-aws case, the error has led to multiple (>10) getsockopt: connection refused errors.

PR results for both test

[2017-11-17 09:24] mchangxe commented on #55932
/sig testing

[2017-11-17 09:25] wojtek-t commented on #55887
If it passes on GKE and not on GCE, it most probably is configuration issue (e.g. too few resources or sth like that).

[2017-11-17 09:25] hzxuzhonghu commented on #55929
improve kubectl log level, see log .

[2017-11-17 09:26] hzxuzhonghu commented on #55929
Also watch apiserver log .

[2017-11-17 09:28] jianglingxia commented on #54984
thanks very much,if I have a cluster that the k8s version is 1.6,and have not config the the cloud provider of openstack ,
kubectl get node  maybe
192.160.1.1
1.1.1.1
then upgrade the k8s to 1.8 and config the cloud provider of openstack,so
kubectl get node  maybe
k8s-node-1
k8s-node-2
now the pod before in cluster that k8s is 1.6  upgrade 1.8 may down ? or if related the nodename changed  affect

[2017-11-17 09:32] gyliu513 opened #55934 "pod should be deleted with force option with taint based eviction"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

With taint based eviction enabled, if I shutdown a worker node or stop the kubelet service on the node, the pod running on that node will be evicted and re-scheduled to other available nodes.

The problem is that the original pod running on the off node will keeps in `Terminating` state and never disappear. I have to de

[2017-11-17 09:32] timchenxiaoyu commented on #55929
[12.517µs] [12.517µs] About to List from storage
[3.672445919s] [3.672433402s] Listing from storage done
[3.676800574s] [4.354655ms] Self-linking done
[4.388004794s] [711.20422ms] Writing http response done (3429 items)

[2017-11-17 09:33] gyliu513 commented on #55934
/kind bug

[2017-11-17 09:37] mchangxe commented on #55917
was facing this issue as well a few hours ago, not anymore though

[2017-11-17 09:49] timchenxiaoyu commented on #55929
kubectl get pod -n qinzhao --show-all|wc -l
3110
[root@master-test-105 tmp]# kubectl get pod -n qinzhao --show-all
NAME                                                READY     STATUS       RESTARTS   AGE
cifid-h1brxegb7z-cisid-h1t4exbxb-mbwdt-5tf98        0/1       Init:Error   0          2h
cifid-h1brxegb7z-cisid-h1t4exbxb-mbwdt-5thf4        0/1       Init:Error   0          3h
cifid-h1brxegb7z-

[2017-11-17 09:57] hzxuzhonghu commented on #55929
Not that, some thing like this `I1117 11:04:12.834673  113951 wrap.go:42] GET /api/v1/namespaces/kube-system/serviceaccounts/horizontal-pod-autoscaler: (1.932724ms) 200 [[hyperkube/v1.9.0 (linux/amd64)`
 And kubectl --v=10

[2017-11-17 09:59] piwi91 commented on #54864
@jamiehannaford I'm using LBaas v2. I will contact my OpenStack provider and refer to this issue to further investigate the issue. They're using Mirantis Openstack. The only thing I can think of is that Mirantis (https://www.mirantis.com/) changed the API in their implementation.

[2017-11-17 10:05] jingxu97 commented on #48703
@ethinx Could you try to use feature gate --feature-gates=LocalStorageCapacityIsolation=false
https://github.com/kubernetes/kubernetes/pull/53684/files

[2017-11-17 10:05] sokoow commented on #55867
Hey, can anybody comment whether this is bug will cause us problems with our kube clusters?

[2017-11-17 10:07] luksa commented on #55890
OK, I've found I can specify a custom schema for RawExtension the way it's done in Time and MicroTime.
The remaining problem is how to specify that the RawExtension object can be of any type. Using `anyOf` is not supported currently - if I use it in the schema, the API server dies with:

[code]

[2017-11-17 10:07] dixudx commented on #55928
@gogeof Thanks for finding this bug.

I will take a look.

[2017-11-17 10:08] jingxu97 commented on #48703
Also to better investigate the issue, could you please share the kubecontroller master log? Thanks!

[2017-11-17 10:15] hogepodge commented on #52249
Lots of updates pushed this evening. Still working on getting the installation finished off, but much more progress. On the master nodes the cloud-config is being set up and I can get individual API endpoints to appear. I still need to set up security groups on the nodes and load balancers to allow 8080 and 443. Still some debugging with TLS and the load balancers (they're running and the workers

[2017-11-17 10:15] gyliu513 commented on #55934
I think that we need to fix this issue, as with statefulset, if one node goes down, then the statefulset will never come back as the statefulset request the pod must be deleted before re-create due to the name was same even if statefulset restart.

/sig app

[2017-11-17 10:18] gogeof commented on #55928
@dixudx after I add glog.Errorf(">>>>> Be careful, I am going to check: %v", e.Name) to print log, I found this:

[code]

add in  pkg/kubelet/config/file_linux.go:processEvent():
[code]

[2017-11-17 10:29] xianlubird commented on #25485
Any update on this issue?

[2017-11-17 10:36] saheienko opened #55937 "pvc: glusterfs provisioner create volume with the wrong size"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Create 50Gi podVolumeClaim with glusterfs provisioner.

**What you expected to happen**:
I expected 50Gi volume would be created, instead of 54Gi.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. Create storage class with glusterfs as dynamic provisioner.
2. Create podVolumeClaim.

**Anything e

[2017-11-17 10:42] saheienko commented on #55937
@kubernetes/sig-storage
/sig storage

[2017-11-17 10:45] crassirostris commented on #44976
@alexlarsson It's not possible to represent non-unicode lines in JSON using strings, that's true. However, we can use byte arrays as a fallback

@Random-Liu

The desired behavior right now is to set the line limit at 100KB and drop everything except the first line. That's why I wanted to figure out an approach that would allow to distinguish it

[2017-11-17 10:46] saheienko commented on #55937
Is it better to check binary/decimal format?

[code]

[2017-11-17 10:52] RenaudWasTaken commented on #55920
Good catch @ScorpioCPH

[2017-11-17 10:59] stewart-yu commented on #55937
make sense

[2017-11-17 11:15] crassirostris commented on #44976
I strongly suggest to prepare some data to based our decisions on. So far I've heard that JSON is ineffective, and that's the main reason not to use it, however, there are no numbers and no comparison with e.g. disk write times. Maybe JSON is 10 times less effective than CRI format, but that compares to even more time consuming writes and then this is just premature optimization

I really hate to

[2017-11-17 11:21] szuecs commented on #25485
@xianlubird not aware of any, but we already have it since end of March 2017 in production:

PR: https://github.com/zalando/skipper/pull/330

Skipper reacts on the shown annotation and would split traffic 90% to my-app-v1 Kubernetes service and 10% to my-app-v2. Example:

    zalando.org/backend-weights: |
      {"my-app-v1": 90, "my-app-v2": 10}

Meetup Talk:
https://www.slideshare.net/SandorSzue

[2017-11-17 11:27] andyzhangx commented on #55774
Standard_ZRS, Premium_GRS are not supported for azure disk now

[2017-11-17 11:40] roffe commented on #55857
Instead of having multiple flags for different cleanups i suggest we collect them under `--cleanup` that accepts a list of items ( e.g `--cleanup=iptables,ipvs `)

I am in favor of the cleanup at start. It ensures there is no iptable/ipvs rules left in corner cases like  switching mode and don't having the cleanup-flag set.

It has to be stated properly in the documentation so everyone is clear on

[2017-11-17 11:54] kanor1306 commented on #50032
That would be a really nice to have

[2017-11-17 12:07] roffe commented on #55857
Some ideas

--cleanup can take true/false/iptables/ipvs - true = clean all avail. iptables, ipvs etc. false = no cleanup at exit. if specific value or list is given, only clean those. this should also ensure backwards compatible with existing configurations  (default to true should be sane for most users)

--cleanup-at-start same as above, true clean all, false, no clean, if specific value or list

[2017-11-17 12:09] luksa opened #55941 "OpenAPI aggregation producing multiple duplicated model definitions"
When one of the aggregated API servers returns a different definition of an object than what the other servers return, the merged openapi schema may contain multiple identical copies of the object definition (they differ only in the name).

**Is this a BUG REPORT or FEATURE REQUEST?**:BUG

/kind bug

**What happened**:
After changing the definition of the RawExtension type in one of the aggregated

[2017-11-17 12:17] luksa commented on #55941
/sig api-machinery

[2017-11-17 12:38] brancz commented on #55489
I have the two commands working but it's probably too late for this to land in 1.9, as I still have to adapt tests. Oh well, next cycle :slightly_smiling_face: .

[2017-11-17 12:41] sachinar opened #55942 "kubeadm doesn't start"
I am also facing same issue with kubelet on cento7

@awesomemayank007 I have done same settings on machine but it isn't work.

[root@master1 ~]# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
Drop-In: /etc/systemd/system/kubelet.service.d
└─10-kubeadm.conf
Active: activating (aut

[2017-11-17 12:46] sttts commented on #55882
Duplicate of https://github.com/kubernetes/kubernetes/issues/30656.

[2017-11-17 12:46] #55882 closed

[2017-11-17 12:46] ae-dg commented on #55708
@jordanwilson230 I tried quoting $PWD but my script ended up being called with $1 being `'/tmp/a` and $2 being `dir'`. I think it's line 51 of https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/plugins/runner.go that just does a simple split().

I also tried setting command to be `CURDIR=$PWD ./myplugin` to see if I could get a new variable into the plugin. But that wouldn't execute.

[2017-11-17 12:48] crassirostris commented on #55621
@lavalamp

Regarding memory consumption: for buffered audit logging backend, queue size is limited by 10k objects by default, is it enough to feel safe about it being full?

Regarding influences on API latencies: if queue is full, events are dropped, audit path is never blocking in buffered mode

[2017-11-17 13:27] liggitt commented on #55714
I think e2e from master is also used for some skew tests (we typically version gate things in e2e's for ~2 releases). cc @kubernetes/sig-testing-misc for clarification there.

[2017-11-17 14:01] jsafrane commented on #55780
That should not happen, the controller set the provisioning annotation so it *must* be in its cache...

[2017-11-17 14:07] runcom commented on #55414
I'm working on this.

[2017-11-17 14:29] gnufied opened #55946 "Document EBS Node with impaired volume taint"
We should properly document node with impaired volumes taint, so as users know what that means and how to fix it.

/sig aws
/sig storage

[2017-11-17 14:35] micahhausler commented on #54469
#54507 is merged, and will be a part of 1.9.

You will be able to use the annotation `service.beta.kubernetes.io/aws-load-balancer-ssl-negotiation-policy` to specify an AWS pre-defined policy. To get the list of accepted policies, run
[code]

If you need a custom policy, see [my comment](https://github.com/kubernetes/kubernetes/pull/54507#issuecomment-339329158) on the PR.

This can probably be cl

[2017-11-17 14:46] gnufied commented on #55937
The bug doesn't exist in the commit you linked. Heketi can't provision volume in chunks of GiB that you are requesting, so it is never going to provision 50GiB if you asked for 50GiB. It will round the value upto GB and provision it.

For example, if you are asking for 50GiB it will provision 51GiB after rounding upto to GBs. The problematic line in code is - https://github.com/kubernetes/kubernet

[2017-11-17 14:49] ncdc commented on #55877
Dupe of #45143?

[2017-11-17 14:51] dims commented on #55942
@sachinar Can you please move this to the https://github.com/kubernetes/kubeadm/issues repository?

Thanks,
Dims

/close

[2017-11-17 14:51] #55942 closed

[2017-11-17 14:52] klud1 commented on #44275
I'm learning K8s now (moving from Swarm),  I used `kube-up.sh` to spin up a cluster on GCE, it all seems to be setup properly
[code]
Trying to access the dashboard at `kubernetes-dashboard is running at https://ip-address/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy` it throws the following error
[code]

Furthermore, i'm not able to access at `https://ip-address/ui`
[code]

[2017-11-17 14:56] vfreex commented on #54337
I'll take a look at this issue.

[2017-11-17 14:58] cmluciano commented on #52040
this will be partially fixed with https://github.com/kubernetes/kubernetes/pull/55186 . I think it is safe to keep in the milestone.

[2017-11-17 14:59] alvaroaleman commented on #54337
This fixes the issue but will most likely make lots of unit tests fail:

[code]

[2017-11-17 14:59] cmluciano commented on #52039
i would like to keep this in since there are PRs in flux.

[2017-11-17 15:09] saheienko commented on #55937
Yeah, inside the container i got:
[code]

[2017-11-17 15:12] gnufied commented on #55937
Yep, the problem is in how the size is represented in PV. @saheienko can you make a PR for fixing it?

[2017-11-17 15:17] dixudx commented on #55928
@gogeof Right. `apiserver` was deleted first. That's why so many `connection refused` occurred afterwards. And the new pod for `apiserver` cannot be created as well.

@kubernetes/sig-node-bugs Seems we have to make a special treatment for `apiserver`, but this will be kind of ugly. Any suggestions?

[2017-11-17 15:20] saheienko commented on #55937
Yes, it would be great.

[2017-11-17 15:49] ryanmcginnis commented on #55894
But it should work with a 1.8.0+ cluster, and it doesn't. Why?

[2017-11-17 15:59] srikumar-b commented on #55807
Any update/comments on it please?

[2017-11-17 16:16] jberkus commented on #55628
This is a reminder from the release team that Code Slush starts Monday, Nov. 20th.  This issue needs to have an associated, approved PR by then, or needs to be removed from the milestone.  Thanks!

[2017-11-17 16:22] jberkus commented on #55309
Ping!  Release team here.  This issue doesn't have any associated PRs which are passing tests.  As a reminder, 1.9 Code Slush is on the 20th, and Code Freeze is on the 22nd.  Do you think you'll have a working fix by then?

If you plan for this fix to go into 1.9, the issue needs to be approved, and approved for the milestone.

[2017-11-17 16:22] gtcdevop commented on #39699
That's a great proposal, it will help developers to avoid some commons mistakes

[2017-11-17 16:26] xiangpengzhao opened #55949 "framework.ConformanceIt() fails with "called with non-literal argument""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Running conformance test and getting below error:
[code]

ref: https://github.com/kubernetes/kubernetes/pull/54837#issuecomment-345091220

**What you expected to happen**:
The conformance test can be run successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Below line is in a for loop.
https://gi

[2017-11-17 16:28] xiangpengzhao commented on #55309
@jberkus the associated PR is #55307. It needs another look from @justinsb .

[2017-11-17 16:30] xiangpengzhao commented on #55949
/sig testing

[2017-11-17 16:33] m1m6 opened #55951 "Cannot access any service Connection timedout"
I've create a deployment and a service and deployed them using kubernetes, and when i tried to access them by curl, always i got a connection timed out error.

Here's my yml files:

Deployment.yml

[code]

Service.yml
[code]

Also i tried to add ingress routes, and tried to hit them but still the same problem occur.

Note that the application is successfully deployed, and i can check the logs from

[2017-11-17 16:41] jberkus commented on #54551
Note from the release team: This issue is marked Approved-for-Milestone 1.9.  However, many of the associated PRs are not approved.  Code Slush is Nov. 20th; do you think the PRs will be complete and approved by then, or should this be moved out of the milestone?

[2017-11-17 16:50] crassirostris commented on #54551
@jberkus Sorry, I was preempted by another effort and haven't updated the issue. It's actually is much better shape

One API-related change is close to approval, another is simple and will also make it until the cutoff

Enhancements and bug fixes AFAIU don't need to be approved on November 20th, do they?

[2017-11-17 17:00] jberkus commented on #54501
What's the milestone status for this?  It is still a candidate for 1.9?  If so, can an owner add a milestone and approval status?  (also kind and priority)

[2017-11-17 17:03] gbowerman commented on #43287
Re: attaching disks to specific instances in VMSS, see: https://github.com/Azure/vm-scale-sets/tree/master/preview/disk

[2017-11-17 17:13] caseydavenport commented on #55857
Alternatively, we do have a `--mode` flag already.

Couldn't the UX just be:

[code]

[code]

[2017-11-17 17:32] dashpole commented on #55628
@jberkus I thought PRs didnt need to be approved until code freeze?  My timing with cutting the cAdvisor release (which is scheduled for today) was designed to give me a few days to get the godep update into kubernetes/kubernetes.  Where are these policies listed?

[2017-11-17 17:36] vfreex commented on #54337
Using `--hostname-override=external-ip` arguments for `kubelet` works fine in my local testing environment.
Could you help verify this approach?

[2017-11-17 17:55] mml commented on #55949
This is intentional.  We perform analysis statically on source code and are trying to minimize the amount of go language knowledge we need (I don't want to end up writing a buggy go interpreter).  In order to document the individual cases properly with doc comments (see #52863) we need each conformance test to be a standalone call as well.  I think we need to restructure these case-oriented tests

[2017-11-17 18:00] dashpole commented on #55909
Narrowed down to
8a59b6d8cf3c1e0ed20b9d03033bb22233a362e8 - 53820123e6167f8aa84f2201920d823369a88911
in these commits https://github.com/google/cadvisor/commits/release-v0.28?before=3d2e7fcfa396ab4f193c7720b6a6dc3133b6f50a+35

[2017-11-17 18:00] crassirostris commented on #54551
OK, clarifications: what's left is a big bug that is important for this milestone: synchronously logging to disk is a huge bottleneck that doesn't allow to enable file-based audit logging in large clusters

I think this is not a part of the feature work and can be done after the feature freeze

[2017-11-17 18:11] krzyzacy commented on #55189
/reopen

https://k8s-testgrid.appspot.com/google-gke#gci-gke
something is busted midnight - from commit range https://github.com/kubernetes/kubernetes/compare/d20b15699...b223955c0 nothing is really suspicious

[2017-11-17 18:13] xiangpengzhao commented on #55949
@mml SGTM. @Random-Liu @tallclair @vishh @derekwaynecarr @yujuhong as you folks are owners of the node e2e conformance tests, WDYT?

[2017-11-17 18:15] abgworrall commented on #55189
There is a theory that it is related to #55950

[2017-11-17 18:15] brahmaroutu commented on #53810
/assign

[2017-11-17 18:15] hosein33 opened #55958 "Error from server (BadRequest): container"
/sig scalability
/kind bug
I've create a deployment and a service archiva app  and deployed them using kubernetes , that stuck in ContainerCreating and log is :
Error from server (BadRequest): container "archiva" in pod "archiva-deploy-868271406-p7v7q" is waiting to start: ContainerCreating

[2017-11-17 18:21] dashpole commented on #55909
confirmed that https://github.com/google/cadvisor/pull/1760 is the issue.  Ill revert it for this release

[2017-11-17 18:43] dashpole commented on #55909
revert: https://github.com/google/cadvisor/pull/1807

[2017-11-17 18:44] dashpole commented on #55909
This will be included in the cAdvisor release later today

[2017-11-17 18:45] dashpole commented on #55628
This is required to fix https://github.com/kubernetes/kubernetes/issues/55909, which should fix flaky node tests.

[2017-11-17 18:52] Random-Liu commented on #44976
I don't think we should set the limit in container runtime. The fluentd plugin should provide some limit size configuration, we should configure at the fluentd level, instead of container runtime.

[2017-11-17 18:53] mtaufen opened #55959 "kubeletconfig API group is missing a fuzzer round trip test"
Solution: I will add one.

[2017-11-17 18:54] mtaufen commented on #55959
/cc @luxas

[2017-11-17 19:00] krzyzacy commented on #53255
I don't think that's gonna done before 1.9 - we haven't migrated k/k from submit-queue to tide yet, probably punt to next quarter.

/assign @cjwagner

[2017-11-17 19:05] shyamjvs commented on #53255
It's sad this hasn't been actioned this release. Let's ensure we have it for 1.10 at least.
@cjwagner I would be more than glad to discuss how to do this some time.

[2017-11-17 19:06] bsalamat commented on #54501
@jberkus This is a candidate for 1.9.
@davidopp Could you please add a milestone?

[2017-11-17 19:08] mtaufen commented on #55959
xref #55961

[2017-11-17 19:12] KeithTt opened #55962 "How to set "tokenTTL: <time duration>" in the kubeadm config file, num 0 do not permit?"
I followed these two pages:

https://kubernetes.io/docs/reference/generated/kubeadm/#config-file

https://kubernetes.io/docs/reference/generated/kubeadm/#manage-tokens

[code]

Here is my configuration:
[code]

[2017-11-17 19:14] vfreex commented on #55857
Another alternative idea is automatically cleaning up the rules whose virtual server address is in clusterCIDR.

[2017-11-17 19:17] KeithTt commented on #55962
/sig kubeadm

[2017-11-17 19:20] yujuhong commented on #44976
Yes, I agree we should have get some numbers.

I agree that breaking the format is annoying, but I've also not seen "many changes" in the json log format yet (with the exception of the new partial field, which may require more changes in fluentd plugin anyway).

JSON or not, we need to handle the log line size limit and/or multiline reconstruction issue. I think we should separate the two issues i

[2017-11-17 19:23] jeremywadsack commented on #55610
@stevenaldinger Did you have any Events on the `kube-dns` pod(s) during this time?

We found that when the CPU usage was very high (>95%) or memory usage was high enough to cause requests to be denied (e.g. "SLUB: Unable to allocate memory on node -1" in `dmesg` on the node), that we'd see errors in the `kube-dns` health check:

[code]

This would cause DNS resolution failures across our cluster (

[2017-11-17 19:34] enisoc commented on #55189
It seems related to the attempt to disable docker live restore.

From systemctl status kube-master-configuration:

[code]

From systemctl status docker:

[code]

[2017-11-17 19:42] ericchiang commented on #55917
I'm hitting this on one of my PRs (https://github.com/kubernetes/kubernetes/pull/53922) and it looks like other recent PRs are hitting it too (https://github.com/kubernetes/kubernetes/pull/55961)

Inspecting the history I found the commit that changed it to v1.10.0, but that PR doesn't look associated with an PR. Maybe it was mistakenly pushed to master?

https://github.com/kubernetes/kubernetes/c

[2017-11-17 19:45] enisoc commented on #55189
I suspect https://github.com/kubernetes/kubernetes/pull/55639.

[2017-11-17 19:48] sttts opened #55967 "Staging repos lack k8s.io/code-generator dependency in Godeps.json"
We don't have imports for k8s.io/code-generator packages, so godeps does not vendor it. We either have to move the generators to Docker containers or find a way to vendor them.

[2017-11-17 19:49] sttts commented on #55967
/cc @caesarxuchao @ncdc @mattmoor @ixdy

[2017-11-17 19:50] mindprince commented on #55189
/cc @yguo0905 @yujuhong

[2017-11-17 19:57] pires commented on #55857
@vfreex i like that solution! But still, it should be made explicit to the user the automated clean-up that exists today.

@m1093782566 so, with all this feedback, what say you? I am willing to contribute as well.

[2017-11-17 20:00] yguo0905 commented on #55189
We are aware of this issue and fixing it.

[2017-11-17 20:01] enisoc commented on #55917
@ericchiang It's normal that master has been updated to `v1.10.0` at this time. I think what happened is that your PR is trying to revert to `v1.9.0` because your local git repo doesn't have the latest tags from upstream. It should get fixed if you locally update your tags (`git fetch upstream --tags`) and then run the generator again.

[2017-11-17 20:01] mikedanese opened #55968 "Support out-of-tree authentication providers"
Two use-cases for authentication for which we likely can't force a standard:
* End user authentication: We want to support a variety of standard and non-standard end user authentication portocols to vendors with possibly interactive login flows.
* Node bootstrap authentication: We want to support secure node bootstrap authentication in mixed deployment environments where node attestation informati

[2017-11-17 20:10] Random-Liu commented on #44976
Test Data:
[code]

Test code:
[code]

Test Result:
[code]

RES memory usage for both is around 20MB.

So overall json log format takes 6+ times of time to parse.

[2017-11-17 20:27] luckyfengyong commented on #54171
@dchen1107 Thanks for the response. It is OK to mark the pod as NotReady, however the current behavior is that Pod is still shown as running.

[2017-11-17 20:46] luckyfengyong opened #55973 "Admin granted with privileged PodSecurityPolicy failed to create deployment in a namespace other than default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
An admin user is granted with privileged PodSecurityPolicy which is defined as follow. The policy is also granted to the service accounts of the namespace of `default` as well.

[code]

The admin user successfully create a deployment whose pod template requires `privileged: true` in `securityContext` into the namespace of

[2017-11-17 20:47] brucemartins commented on #55763
@andyzhangx azure seems to have the disk attached, I recently tried with a newer version of CENTOS 7.3 with the same results, but here is the below
`Name:           es-data-0
Namespace:      vms
Node:           kubenode4/10.20.0.10
Start Time:     Fri, 17 Nov 2017 20:32:06 +0000
Labels:         app=elasticsearch
                controller-revision-hash=es-data-3894916895
                name=es-da

[2017-11-17 20:48] luckyfengyong commented on #55973
/sig auth

[2017-11-17 21:08] mikedanese commented on #55968
Categories of authentication protocols that might be employed:
* Bearer token auth
* Request signing (JWS, AWS v4)
* Transport layer (TLS Client Auth, Token Binding)

Possible extension mechanisms:
* Exec
* IPC
* Dynamic loading

Current auth provider signature:
[code]

[2017-11-17 21:13] ericchiang commented on #55968
There was discussion in the past of just being able to provide an exec command that would print a bearer token to stdout, which was going to be used for different flavors of gcp. Will try to dig up that conversation.

[2017-11-17 21:24] gree-gorey opened #55975 "kube-proxy takes too long to bind port on external (host) ip"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I use kube-proxy:v1.9.0-beta.0 in ipvs mode.
When creating many services (~30k) with external ip type, it takes too long for kube-proxy to open and bind ports on the host. When I ran `watch -n1 "netstat -plnt | grep kube-proxy | wc -l"` I see that it opens ab 1-2 ports per second, so it would take 50 minutes to bind 3000

[2017-11-17 21:34] #55505 closed

[2017-11-17 21:34] #37005 closed

[2017-11-17 21:38] Random-Liu commented on #44976
Writer side:
[code]

RES memory usage for both is around 20MB.

Overall, json log format takes 2+ times of time on the writer side.

Test code:
[code]

[2017-11-17 21:44] Random-Liu commented on #44976
Overall, if the benchmark method is correct.
JSON log format uses 6+ times CPU on the reader side, and 2+ times CPU on the writer side.
For container runtime and fluentd, the overhead is proportional to container number.

Given so, unless we have strong opinion that we are going to add many metadata in the future, I prefer CRI log format, and I feel like the "sub tag" based extensibility is enough

[2017-11-17 22:11] euank commented on #55628
This should also fix https://github.com/coreos/bugs/issues/1965; cc @rphillips if you'd like to do any further verification / track that.

[2017-11-17 22:26] lonniev commented on #28272
Adding the stanza in the kubernetes yaml:

[code]
gives the pod access to mountable tempfs shared memory - but this only addresses the presence issue and not the size issue.

Is there another property of the emptyDir to set the minimum size?

(Use Case: Oracle 12c which wants an uberbig shared memory realm.)

[2017-11-17 22:57] luxas commented on #55959
Thanks for sending a PR so quickly!

[2017-11-17 23:11] roffe commented on #55857
This should be the bare minimum check to use when evaluating if the rules should be deleted "if != clusterCIDR skip" :)

[2017-11-17 23:19] luxas commented on #47131
From what I understand, what will happen now is that we'll update
- the built-in etcd Go client from 3.1.x at HEAD to 3.2.10
- gRPC from v1.3.0 to v1.7.3, which will require significant regens of autogenerated files and **_might_** have other side-effects

Then we'll figure out a 3.1.x server version to recommend for v1.9. Currently we're at 3.1.10 at HEAD

cc @timothysc -- right?

[2017-11-17 23:20] jingxu97 opened #55978 "Add Pod-level Resource Usage Stats"
With all the features related to pod-level management ([pod cgroup](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/pod-resource-management.md#add-pod-level-metrics-to-kubelets-metrics-provider), [pod-level resource management](https://github.com/kubernetes/kubernetes/issues/27204) and [local ephemeral storage isolation](https://github.com/kubernetes/features

[2017-11-17 23:21] luxas commented on #47131
cc @kubernetes/kubernetes-release-managers as this is most probably a show-stopper for v1.9; we will most probably consider blocking the release on fixing this issue.

[2017-11-17 23:23] jpbetz commented on #47131
@luxas That's the basic set of steps planned, yes. Note that we're planning to merge the work to the k8s 1.10 branch, and then cherry pick to a 1.9.x release once it proves stable, we're not targeting the initial 1.9 release.

I'll be picking up the engineering work on most of this. I'll link to a issue explaining in more detail soon.

[2017-11-17 23:25] ConnorDoyle opened #55980 "Enable gating node e2e tests in CI for CPU manager component."
/sig node
/kind feature

Node e2e tests exist for the CPU manager but cannot run because they require multiple CPUs to be available in the test VM. Before allowing the feature to graduate from alpha to beta, these tests should be made gating to prevent regressions.

[2017-11-17 23:28] ConnorDoyle commented on #55980
/assign @balajismaniam

[2017-11-17 23:44] enisoc commented on #47131
@jpbetz Thanks for clarifying. Sounds like fun for @mbohlool when he gets back from vacation.

[2017-11-17 23:46] smarterclayton commented on #55489
That’s the 1.9 Motto

[2017-11-17 23:47] tallclair commented on #54551
Should the the audit API move into the `k8s.io/api` repo?

@sttts and @soltysh say no (https://github.com/kubernetes/kubernetes/pull/45315#issuecomment-300700982), but I wonder if you still feel that way? Counter arguments include:
- audit log file defaults to a json representation of the API, so it is useful for parsing that log
- Not a client, but the target of the webhook may not be an actual a

[2017-11-18 00:48] josephglanville opened #55982 "Update to StatefulSet fails if size of PVC in volumeClaimTemplates == 1024Gi"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Updating a StatefulSet with `kubectl apply -f statefulset.yaml` fails if the size of a PVC contained in `volumeClaimTemplates` is equal to `1024Gi`. Validation fails on DeepEquals as k8s has converted the value to `1Ti`.

**What you expected to happen**:
The update to succeed with no validation errors as `1024Gi` was the

[2017-11-18 00:51] josephglanville commented on #55982
If anyone else runs into this you can work around it by using `1Ti` in your template instead of `1024GiB` for now.

[2017-11-18 01:06] m1093782566 commented on #55857
apart from clusterCIDR, there are some other ipvs vips such as, external IPs, load balancer ingress IPs and node IPs. So, clusterCIDR may not work well in all cases.

[2017-11-18 01:09] m1093782566 commented on #55857
With so many feedback, I am going to send a PR...

Welcome comments :)

[2017-11-18 01:10] hogepodge commented on #52249
It appears that K8s and etcd are up and running, and with the security group added and the load balancers corrected, there's some amount of external access.

However, K8s is not serving on the local network, and can only be reached on the localhost.

[2017-11-18 01:11] #55652 closed

[2017-11-18 01:24] mindprince commented on #55652
Is this issue ready to be closed? Did that PR fix the reason for flakes in all these tests?

[2017-11-18 01:32] yujuhong commented on #53601
@iaguis what's the current progress of the rktlet release?

[2017-11-18 02:10] yujuhong commented on #55189
Fixed.

[2017-11-18 02:10] #55189 closed

[2017-11-18 02:47] dims commented on #52249
@hogepodge what version of docker? if i remember there there was an iptable rule that needed fixing

[2017-11-18 03:27] gogeof commented on #55928
relatived to #48219
but found in kubernetes v1.8.3
@dixudx further more, following the code, I have found that create mirror pod failed, because kubelet can't connect to apiserver, and already filter the temp file .kube-apiserver.yaml.swp.
I think that apiserver must be created by kubelet first, but can't find out where create the static pod in code, Could you help?

[2017-11-18 03:38] derekwaynecarr opened #55985 "summary api testing does not look at node capacity"
/kind bug

**What happened**:
e2e node summary test fails on machines with more than 10Gb of ram.

**What you expected to happen**:
memory limit bounds to look at node capacity rather than hardcode an upper bound.

**How to reproduce it (as minimally and precisely as possible)**:
have more ram on a box and run e2e-node FOCUS=Summary

**Anything else we need to know?**:

**Environment**:
- Kubernet

[2017-11-18 03:38] derekwaynecarr commented on #55985
/sig node

[2017-11-18 04:01] gogeof commented on #55928
@dixudx  is in pod_workers.go:UpdatePod(), I will continue to find out why kube-apiserver not start.

[2017-11-18 05:48] andyzhangx opened #55989 "azure disk static provision does not support China or German cloud"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
diskURI is harded as following:
[code]

For detailed steps, you could refer to following link under Static Provisioning
https://github.com/andyzhangx/Demo/tree/master/linux/azuredisk

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**

[2017-11-18 05:53] BenTheElder commented on #55917
Seems safe to
/close
this now, thanks for fixing this :-)

[2017-11-18 05:53] #55917 closed

[2017-11-18 06:01] andyzhangx commented on #55989
my mistake, actually it's supported.
[code]

[2017-11-18 06:01] #55989 closed

[2017-11-18 06:25] dixudx commented on #55928
@gogeof Good job! Thanks for the update.

I prefer to move the discussion to #48219.

[2017-11-18 06:39] gogeof commented on #55928
@dixudx  It's a good idea, discussion in #48219.

[2017-11-18 06:54] gogeof commented on #48219
@all I face a problem shows like this issues describe, and I have add new issues(#55928) because the version of kubernetes is different with this one.
use dlv to debug, I found these:
1. .kube-apiserver.swp problem already fix
2. kube-apiserver.yaml be read and parse success, but failed to connect apiserver.
3. things seem point to why kube-apiserver container not start

[2017-11-18 07:46] timchenxiaoyu commented on #55929
two many dead job(pods) lead query slowly

[2017-11-18 07:46] xiangpengzhao commented on #55949
/assign

[2017-11-18 08:23] gree-gorey commented on #55975
/area kube-proxy

[2017-11-18 08:33] rishi-anand commented on #55346
![image](https://user-images.githubusercontent.com/9067666/32978425-22f45106-cc68-11e7-93fc-8ef907c88ff8.png)

I found this PR. Here they are getting the hash and then they [safe encode](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/rand/rand.go#L112-L120) it.

[code]

[2017-11-18 08:35] rishi-anand commented on #55346
In my case, pod-template-hash is '1250338284' and replica set name is 'nginx-deployment-569477d6d8' for deployment 'nginx-deployment'.

[2017-11-18 11:50] piwi91 commented on #54864
I can confirm that this issue only occurred with my OpenStack provider. After reaching out to their support, they changed the API, and that resolved the issue!

[code]

I close this issue. Thank you all for the support!

[2017-11-18 11:50] #54864 closed

[2017-11-18 12:02] #54891 closed

[2017-11-18 12:34] andyzhangx commented on #55540
PR #55665 fixes this issue

[2017-11-18 12:34] #55540 closed

[2017-11-18 13:12] KeithTt commented on #52711
@liggitt if I generate the cert for another master or node manually:

[code]

then, should I add reference the cert like this:

[code]

[2017-11-18 13:53] supereagle opened #55993 "Use clients with explicit version"
Clients without explicit version have been deprecated, and most of their usage has been fixed by #49763 and #50776. However, some new usage are introduced during the long merging process of the two PRs. In order to avoid this case, need to fix these usage in a short time, and remove the deprecated clients.

Work Items:
- [x] Clean up the usage of deprecated clients
  - [x] ~Admissionregistration~

[2017-11-18 13:54] supereagle commented on #55993
/sig api-machinery

[2017-11-18 13:56] keithjohnhowe opened #55994 "Problem deleting replication controller"
I am having problems deleting a replication controller and related pods in minikube. I have followed the relevant documentation -

https://kubernetes.io/docs/concepts/workloads/controllers/replicationcontroller/#deleting-a-replicationcontroller-and-its-pods

I have used $kubectl delete rc rc_name -n kube_system
and it recreates itself. I have also edited the rc and set set replicas to 0.
Some advi

[2017-11-18 14:45] f0 opened #55996 "Build debian-base fails with dpkg (subprocess): unable to execute installed post-removal script (/var/lib/dpkg/info/bash-completion.postrm): No such file or directory"
/kind bug

**What happened**:
When trying to build the debian-base  image https://github.com/kubernetes/kubernetes/blob/master/build/debian-base/Dockerfile.build
i got this error
[code]

**What you expected to happen**:
build is successful

**How to reproduce it (as minimally and precisely as possible)**:
Try to Build https://github.com/kubernetes/kubernetes/blob/master/build/debian-base/Dockerfil

[2017-11-18 14:50] f0 commented on #55996
/sig release

[2017-11-18 14:57] f0 commented on #55996
ok, sorrx for the noise, i used the wrong base image

[2017-11-18 14:57] #55996 closed

[2017-11-18 15:03] wojtek-t commented on #54974
@kubernetes/sig-scalability-bugs

[2017-11-18 15:40] crassirostris commented on #54551
This actually sounds reasonable, I agree with Tim.

To add to his point, I was thinking recently about an opensource component that would listen for the audit webhook on the master machine and would push audit logs to an external system that doesn't understand K8s API (e.g. Elasticsearch).  Having audit API available in the client would make it easier to implement such component.

@sttts @soltysh

[2017-11-18 16:18] krzyzacy commented on #55195
/unassign
/sig network
now looks like the test is panicking
cc @kubernetes/sig-network-bugs

[2017-11-18 16:37] rremella opened #55997 "kubelet not able to read /etc/systemd/system/kubelet.service.d/10-kubeadm.conf"
I am getting this below issue when I say kubeadm init , looks kubelet is failing to start

[etcd] Wrote Static Pod manifest for a local etcd instance to "/etc/kubernetes/manifests/etcd.yaml"
[init] Waiting for the kubelet to boot up the control plane as Static Pods from directory "/etc/kubernetes/manifests"
[init] This often takes around a minute; or longer if the control plane images have to be p

[2017-11-18 17:03] smarterclayton commented on #54974
If this moves watches among Masters it’s probably a net win.  Although
that’s more a happy accident.

On Nov 18, 2017, at 10:04 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

@kubernetes/sig-scalability-bugs
<https://github.com/orgs/kubernetes/teams/sig-scalability-bugs>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github

[2017-11-18 17:16] vfreex commented on #55857
Using "--cleanup" option seems feasible, but not ideal.
How about checking the target server address?
Personally I would be in favor of "smart" behaviors. :)

[2017-11-18 18:46] #55031 closed

[2017-11-18 18:46] #55312 closed

[2017-11-18 18:46] dims commented on #55309
@xiangpengzhao Peter, i just nudged that along.

[2017-11-18 18:58] dims commented on #55951
/sig network

[2017-11-18 18:58] dims commented on #55962
@KeithTt Can you please move this to https://github.com/kubernetes/kubeadm/issues/ ?

[2017-11-18 18:58] dims commented on #55975
/sig network

[2017-11-18 18:59] dims commented on #55978
/sig node

[2017-11-18 19:00] dims commented on #55982
/sig api-machinery

[2017-11-18 19:00] dims commented on #55994
/sig apps

[2017-11-18 19:01] dims commented on #55997
@rremella Can you please move this to https://github.com/kubernetes/kubeadm/issues ?

[2017-11-18 19:02] dims commented on #55997
/area kubeadm

[2017-11-18 19:15] KeithTt commented on #55962
@dims Of course.

[2017-11-18 19:15] #55962 closed

[2017-11-18 19:17] xiangpengzhao commented on #55309
@dims yeah I see your `approved` and `lgtm`. Thanks Davanum!

[2017-11-18 19:23] javapapo commented on #45419
Hello, Kubernetes 1.7.10, based on Kops @ AWS, with Calico & CoreOS.

We have the same PLEG issues
[code]

The only extra problem we have and I think is related - is that latetly especially on 1.7.8+ - when we do redeploys' e.g bring a new version of an app so the old replica set goes down a new one is spinned along with the pods, the Pods of the previous deployment ver/ do stay for ever in the 'T

[2017-11-18 19:26] hogepodge commented on #52249
@dims Docker version 1.12.6, build d5236f0

[2017-11-18 19:36] #55502 closed

[2017-11-18 19:36] #54642 closed

[2017-11-18 20:26] #53893 closed

[2017-11-18 20:26] #50883 closed

[2017-11-18 20:26] #54570 closed

[2017-11-18 20:26] #55776 closed

[2017-11-18 21:13] #55830 closed

[2017-11-18 22:10] #55736 closed

[2017-11-18 23:14] BenTheElder opened #56002 "pull-kubernetes-cross is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: `pull-kubernetes-cross` is failing with:

[code]

**What you expected to happen**: The cross build should work,.

**How to reproduce it (as minimally and precisely as possible)**: `/test pull-kubernetes-cross`

**Anything else we need to know?**:

It looks like this happened in https://github.com/kubernetes/kubernetes/pul

[2017-11-18 23:16] BenTheElder commented on #56002
Additionally ideally sig-release should [set up testgrid email alerts](https://github.com/kubernetes/test-infra/tree/master/testgrid/config#email-alerts) for this job.

@kubernetes/sig-release-test-failures

[2017-11-19 00:14] jdumars commented on #54138
Is there any new information on this issue?

[2017-11-19 00:38] #52266 closed

[2017-11-19 01:10] hogepodge commented on #52249
I have the collection of master nodes up and running with external secure connectivity to a load balancer. Going to get cracking on the worker nodes next and see if the cluster is functioning properly.

[2017-11-19 02:21] andyzhangx opened #56005 "[feature proposal] add SMB(cifs) volume plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**feature proposal**:
I would like to contribute a common SMB(one version called cifs) volume plugin, but not sure whether there is already some work on this.  There is already an implementation of SMB azure file (https://github.com/kubernetes/kubernetes/tree/master/pkg/volume/azure_file), but it's under cloudprovider directory and it de

[2017-11-19 02:22] andyzhangx commented on #56005
/sig storage-proposals

[2017-11-19 03:45] dixudx commented on #55997
@rremella Please remove `KUBELET_NETWORK_ARGS` in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`. And then `systemctl daemon-reload`.

[2017-11-19 04:31] #53554 closed

[2017-11-19 04:44] KeithTt opened #56006 "kubedns: Waiting for services and endpoints to be initialized from apiserver..."
kube version: 1.8.3
os version: debian stretch

[code]
[code]

[2017-11-19 04:44] stewart-yu commented on #55994
have you created 'deployment' resource?

[2017-11-19 04:44] KeithTt commented on #56006
/area dns

[2017-11-19 05:12] surajssd commented on #55994
There is nothing running already:

[code]

Creating the replication controller

[code]

we have pod that is running
[code]

Deleting the replication controller

[code]

no replication controller
[code]

no pods running as well
[code]

The versions that I am using:

[code]

[2017-11-19 05:14] surajssd commented on #55994
There is nothing running already:

[code]

Creating the replication controller

[code]

we have pod that is running
[code]

Deleting the replication controller

[code]

no replication controller
[code]

no pods running as well
[code]

The versions that I am using:

[code]

[2017-11-19 05:16] surajssd commented on #55994
If you are trying to make changes to the resources running in `kube-system`, it might not work. The pods/workloads running in that namespace are managed by something called as addon-manager. So even if you make changes to the configs in running system it won't persist.

To make changes that you want to persist make changes to configs or delete configs from the directory `/etc/kubernetes/addons`. T

[2017-11-19 05:30] m1093782566 commented on #55857
@vfreex

Seems tricky. Do you have any good idea?

[2017-11-19 06:27] prasadpilla commented on #44132
@brendandburns I'm facing the same issue right now.

My app redirects requests at "/" to a login page. How did you solve it?

I defined liveness and readiness probes for my pod, still this happens.

[2017-11-19 06:33] tylerauerbeck commented on #48297
@tallclair @fraenkel As an FYI, the fix for this in etcd was just merged coreos/etcd#8849. Looks like it's tagged for release 3.4. Obviously doesn't do us any good right now, but thought it may be useful to know.

[2017-11-19 07:25] KeithTt commented on #27436
Any update...? 💯

[2017-11-19 08:08] jsiebens opened #56009 "invalid memory address or nil pointer dereference when creating a PersistentVolumeClaim on GCP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
An error occured when creating a PersistentVolumeClaim on a single node cluster created with kubeadm. The cluster is created by following [Kelsey Hightower's tutorial](https://github.com/kelseyhightower/kubeadm-single-node-cluster)
The PersistentVolumeClaim remains _Pending_ and we see the following errors in the log of t

[2017-11-19 08:50] zhuhesheng opened #56012 "A new master can skip auth??"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
My Englist is poor.
I have a master node(ip:6443 tls and  localhost:8080,)
when I add a master node, I use a configuration file that was not authenticated,(only 8080),and it can list all nodes!!!!
schedule too
**What you expected to happen**:
**

**How to reproduce it (as minimally and precisely as possible)**:
add a new no ca maste

[2017-11-19 10:24] #55862 closed

[2017-11-19 10:24] inorton commented on #55862
H
These have come back now

[2017-11-19 11:02] stewart-yu opened #56016 "Wanted help"
**Is this a BUG REPORT or FEATURE REQUEST?**:
wanted help

**What happened**:
Setting up a cluster using `kubeadm`, with 1 master(can't scheduller) and 2 node:
(1)  Pods on node2 becomes `UnKnown` once node2 becomes `NotReady`;
(2) Then making node1 becomes `NotReady` yet, but Pods on node1 is still with `running` status, and `kubectl describe` pod in node1, found that  pod's condition: `status =

[2017-11-19 11:21] vistalba opened #56017 "Wired Problem with "NodePort" configuration"
I'm trying to use squid and squidguard in kubernetes.

My config look as follwos:
[code]

I use weave as overlay network. All other services working fine. One with "hostNetwork = true" and others over the traefik ingress controller on port 80 and 443.

Also my squidguard deployment is running and http (port 80) over ingress controller ist working fine.
If I try to connect to port 31280 it can't co

[2017-11-19 11:25] vistalba commented on #56017
/sig network

[2017-11-19 12:01] nikhita opened #56018 "Broken serialization of escaped ~~quotes~~ characters due to jsoniter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig api-machinery

**What happened**:

While working on https://github.com/kubernetes/kubernetes/pull/55168, roundtrip tests were flakey:

[code]

The error comes from jsoniter here:

https://github.com/kubernetes/kubernetes/blob/27b3681cece5bc4c63e067a1595edbc5bb5964a0/vendor/github.com/json-iterator/go/feature_iter_object.go#L195

Related

[2017-11-19 12:01] nikhita commented on #56018
/cc @sttts

[2017-11-19 12:02] narasi commented on #51322
Hi @feiskyer! Thanks for looking into this.

We are using `kubenet`.

We did modify some of the `kubelet` parameters in order to ensure that the subnet is compatible with the subnet of some external services, like databases and logging servers.
Let me paste the kubelet arguments here

[code]

I hope this would answer your questions 😄

[2017-11-19 12:19] jsiebens commented on #56009
/sig gcp
/sig storage

[2017-11-19 12:30] RainingNight commented on #53333
kubeadm init:

[code]

kubelet status:

[code]

[2017-11-19 14:06] stewart-yu commented on #56016
/sig node

[2017-11-19 15:09] kad commented on #53333
@RainingNight please don't comment on closed issue. If you can't find solution in issue for your output of errors/warnings, please open a new issue.

[2017-11-19 16:14] KeithTt commented on #55672
A configuration error...close it.

[2017-11-19 16:14] #55672 closed

[2017-11-19 16:18] xiangpengzhao commented on #56009
@jsiebens thanks for reporting this! I send a PR to fix this: https://github.com/kubernetes/kubernetes/pull/56021

[2017-11-19 16:35] cmluciano commented on #55975
@kubernetes/sig-network-bugs

[2017-11-19 16:40] cmluciano commented on #55923
@kubernetes/sig-network-bugs

[2017-11-19 17:03] dungeonmaster18 commented on #55542
Hi, I am a new here. I wanted to take this issue but can someone guide me how to go about this. Thanks

[2017-11-19 17:48] RenaudWasTaken opened #56022 "Devices are not re-used when paired with init containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/area hw-accelerators

**What happened**:
In the context of the device plugin, when using init containers in your pod spec, the current behavior will  not reuse devices between init containers and regular containers.

This is problematic as Pod scheduling is currently wrong:
[In the scheduler](https://github.com/kubernetes/kubernetes/blob/mas

[2017-11-19 17:49] RenaudWasTaken commented on #56022
/sig node

[2017-11-19 19:20] keithjohnhowe commented on #55994
Many thanks for getting back - this appears to have originally been a
deployment which must have been deleted as I can no longer see any trace of
it
$kubectl get deployments --all-namespaces
No resources found.

Do you think it is possible that the deployment has left some resources
behind, ie. the replication controller ?

$kubectl get rc -n kube-system
NAME                       DESIRED   CURREN

[2017-11-19 19:32] grosser commented on #55428
thx for checking ... and sorry for the noise ... I'm unable to reproduce now ... so I must have done something wrong when first deploying that pod :(

[2017-11-19 19:32] #55428 closed

[2017-11-19 21:00] bsalamat commented on #55333
@guangxuli If we remove filtering, we will see an update for a pod that goes from unassigned to assigned. Then we can compare and find what has changed for the pod and call appropriate functions. That said and after working more closely with the event handlers in the past couple of weeks, I think the way they are set up today (existing code) is probably more efficient. The alternative of looking a

[2017-11-19 22:55] gree-gorey commented on #55975
I just wonder, why kube-proxy have to open ports in the first place?
Why cannot it add rules in ipvs for external IP, just like it does for cluster IP? It would be much more efficient (it seems to me).
I think kube-router does smth similar, adding external IP rules in ipvs.
Or am I missing smth?

[2017-11-19 23:55] thockin commented on #56018
Can you craft this as a test case against json-iterator/go?  They have a
suite that exists to compare stdlib parsing and their parsing, and any
place it differs they want to fix it.  It will also force you boil it down
to a trivial example.

Once fixed there, I am happy to re-vendor it.

On Sun, Nov 19, 2017 at 4:01 AM, Nikhita Raghunath <notifications@github.com

[2017-11-20 00:14] RenaudWasTaken opened #56026 "Device Plugin Race"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area hw-accelerators
/sig node

**What happened**:
When re-writing the endpoint code I discovered that the [mutex logic](https://github.com/kubernetes/kubernetes/blob/6b97376a539c84b9bb11de5d44daeadf9930049e/pkg/kubelet/cm/deviceplugin/endpoint.go#L96) is wrong and can lead to a data race while calling the `Device` function.

The current lo

[2017-11-20 01:12] #54227 closed

[2017-11-20 01:14] xiangpengzhao commented on #56009
/cc @kubernetes/sig-gcp-bugs

[2017-11-20 01:43] hzxuzhonghu commented on #56006
@KeithTt  Would you give more details? We can know dns can not access kubernetes service from the log.

[2017-11-20 01:44] lichuqiang commented on #56022
Yep, I realized the inconsistency between the predicate behavior of scheduler and that of node too. Having said that, considering we treat a pod as a whole when predicating currently, it's difficult to reuse the runtime informations between init containers and regular containers.
The real crux of the matter might be whether the scenario of requiring extended resources in init containers is common,

[2017-11-20 01:49] feiskyer commented on #44976
Could we consider other solutions ( e.g. JSON format, though it is not so efficient) not to break the log format again and again? The current design seems still not expressive, and may be breaked again if more metadata is added in the near future.

[2017-11-20 01:53] lichuqiang commented on #56026
Not quite sure about the race scenario you described, which func do you mean by `Device` function ? The `manager.Devices()` ?

[2017-11-20 01:57] feiskyer commented on #55414
+1 for switching to CRI, e.g. return such information in StatusResponse.Info.

However, the CRI API only defines a map, which doesn' t include pre-defined keys for things such as graphdriver.  Since graphdriver is used in validation, I think we should think it as a required info.

@Random-Liu @runcom Do you think we should pre-define some welll-knows keys for this?

[2017-11-20 02:02] dixudx commented on #55982
@josephglanville I did not reproduce this.

Any detailed steps?

[2017-11-20 02:22] dixudx commented on #55720
/close

Since this is not bug. @atombender You can reopen it if needed.

[2017-11-20 02:22] #55720 closed

[2017-11-20 02:24] dunjut commented on #55585
@freehan @bowei can you please help take a look at this?

[2017-11-20 02:46] andyzhangx opened #56027 "failed to delete azure disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
failed to delete azure disk which is dynamically provisioned

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create an azure disk storage class
2. create a azure disk PVC
3. delete the azure disk PVC
4. check the deletion of azure disk, actually it's not deleted in so

[2017-11-20 03:00] m1093782566 commented on #55975
Because kube-proxy needs to hold the port in case of the port is occupied by other processes.

IPVS kube-proxy does add rules for external IP. Can you check the result of `ipvsadm -ln`  or kube-proxy.log?

[2017-11-20 03:05] m1093782566 commented on #55923
@gyliu513 Can you check the eth{i} address on your host?

I guess none of your eth{i} has the IP `192.168.56.11`.

[2017-11-20 03:10] m1093782566 opened #56030 "Want a new IPVS label"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, there are 26 issues open which is related to IPVS kube-proxy, and keeps growing. I propose a new label - `ipvs`, which will help tracing the IPVS kube-proxy issues. Because I don't have the permission to create a new label, I need help.

**What you expected to happen**:

**How to reproduce it (as minimally and

[2017-11-20 03:28] linlinops commented on #55850
@ncdc

thanks a lot  ncdc,  your suggestion is good .   i finally found a helper to resolve this problems , here is the link

https://github.com/openshift/origin/blob/master/tools/etcdhelper/etcdhelper.go

[2017-11-20 03:29] #55850 closed

[2017-11-20 03:34] gyliu513 commented on #55923
@m1093782566 I do have the nic for `192.168.56.11` but it was named as `enp0s3`, must we use `eth{i}` for ipvs?

[code]

[2017-11-20 03:39] m1093782566 commented on #55923
Yes. There is a design restriction for now - I know it's challenging and we are trying to get rid of it.

[2017-11-20 03:43] xiangpengzhao commented on #55949
cc @yanxuean

[2017-11-20 03:45] luckyfengyong commented on #55973
Forget to mention, we are enabling `--use-service-account-credentials=true` in controller manager, otherwise PSP policy won't work for kuberentes resources other than pods.

[2017-11-20 03:57] #52040 closed

[2017-11-20 04:18] resouer commented on #56022
@RenaudWasTaken The current design to improve DP includes a reconciliation in admit phase of Pod, it should be able to fix Allocate call for `initContainer`

[2017-11-20 04:36] anguslees commented on #39434
I would very much like to keep a tool that validates whether some k8s YAML is valid *offline* for use in git pre-merge checks, etc.  It doesn't have to be perfect, but being able to detect missing/typo'd fields and incorrect object structure is sort of necessary with JSON/YAML.

I understand this bug is about `kubectl` (and other kubernetes/* tools) specifically, but the general gist seems to be t

[2017-11-20 04:47] sccuijian commented on #55649
same....

Kubernetes Version: 1.8.3
Docker Version: 1.12.6
OS: CentOS Linux release 7.4.1708 (Core)
Kernel Version: 3.10.0-693.5.2.el7.x86_64

11月 20 12:21:30 kube-m kubelet[18679]: W1120 12:21:30.551807   18679 helpers.go:847] eviction manager: no observation found for eviction signal allocatableNodeFs.available
11月 20 12:21:40 kube-m kubelet[18679]: W1120 12:21:40.567097   18679 helpers.go:847]

[2017-11-20 05:14] gyliu513 commented on #55923
Thanks @m1093782566 , it is working now after change the nic to `eth{i}`.

[code]

[code]

So does there are any document mentioning this limitation? Otherwise, I'd like to keep this open till we have a fix. Thanks.