[2020-07-13 03:34] ganga1980 commented on #87824
Hi, @neolit123, any update on addressing this issue?

[2020-07-13 03:34] neolit123 commented on #93004
it was deleted:
https://github.com/kubernetes/kubernetes/pull/76711

the /cluster directory is deprecated and only used for internal testing in k8s.
please move to using a different method for creating clusters.

/close

[2020-07-13 03:34] #93004 closed

[2020-07-13 03:37] neolit123 commented on #92953
/sig api-machinery
(as per the test location)

[2020-07-13 03:58] neolit123 commented on #87824
looks like nobody saw your ticket.
you could join a SIG node Zoom meeting and present your idea:
https://github.com/kubernetes/community/tree/master/sig-node

and/or also mention it in the #sig-node channel on k8s slack.

/remove-lifecycle rotten

[2020-07-13 03:59] cofyc opened #93009 "The unit test TestVolumeBinding is flaky"
**Which jobs are flaking**:

The unit test `TestVolumeBinding`

**Which test(s) are flaking**:

[code]

**Testgrid link**:

**Reason for failure**:

In volume scheduling, we maintain internal cache which listens on PV/PVC events. However, we don't have a method to wait for them to be synced in UT.

In production, this is not a problem. Even if the scheduler marks the pod uncacheable due to the sta

[2020-07-13 03:59] cofyc commented on #93009
/sig scheduling
/sig storage

[2020-07-13 03:59] cofyc commented on #93009
/assign

[2020-07-13 05:01] mseewooth commented on #93001
I did it with the following command.

`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/baremetal/deploy.yaml
`

The strange thing is with this nginx controller , i was able to see the pub ip. in the ADDRESS section while deploying an ingress but when i used traefik controller ,  i do not get anyway pub ip  in the ADDRESS section of kubectl

[2020-07-13 05:17] mseewooth commented on #92999
@uablrek  yes i'm able to reach the clusterIP and telnet it as well.

 i even made a test i deployed a svc with nodePort , successfully i'm able to telnet and reach both of my nodes on the nodePort and the sample website displayed perfectly. This gave me a big courage

With the nginx ing controller :

`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static

[2020-07-13 05:32] ITBOX-ITBOY opened #93010 "Docker version selection issues"
Where can I find the relevant information of kubernetes for each version of Docker? Let's say, which version of Docker does Kubernetes 1.18 correspond to? Where can I see it

[2020-07-13 06:09] AkihiroSuda commented on #92933
@giuseppe Perfect, could you open a PR? Now kind works on cgroup v2!

[2020-07-13 06:54] ztj commented on #60789
Yep, same interest over here, but, for Kafka Streams API Interactive Query mixed up with Istio. Hostnames are what I need. The CoreDNS config mentioned before gets me there, but, it would be great if it was built in.

[2020-07-13 06:57] ezYakaEagle442 commented on #92635
# if kubelet process ois not running, see kubelet service status
systemctl status kubelet.service
 #kubelet service did not start, start the service and observe
systemctl start kubelet.service
 # Start properly, enable service
systemctl enable kubelet.service

[2020-07-13 08:13] msvticket commented on #80207
/remove-lifecycle stale

[2020-07-13 08:50] fasaxc commented on #78994
/remove-lifecycle stale

[2020-07-13 08:50] fasaxc commented on #78994
@caseydavenport is working on a fix in Calico here: https://github.com/projectcalico/felix/pull/2417

[2020-07-13 08:54] #92777 closed

[2020-07-13 09:05] gouki777 commented on #92962
@neolit123
I found the problem.
I upgraded directly to 1.17.7 with 1.14.10
I have 3 master nodes,i only upgraded one master node and found the error log.. so i didn't do the next step and i did a rollback.
Today I upgraded all the nodes.The error log returns to normal. So the problem is version mismatch.

My RBAC is correct
[code]

Thanks for your help.

[2020-07-13 09:05] #92962 closed

[2020-07-13 09:11] ivanangelov commented on #92639
Hello @robscott

Thanks for the suggestion!
Actually, I need to target a backend resource of kind _Pod_ on a specific port. Does this new feature support an explicit definition of the port of the backend resource? If so, would you provide an example?

[2020-07-13 10:08] giuseppe commented on #92933
opened a PR here: https://github.com/kubernetes/kubernetes/pull/93012

[2020-07-13 10:30] painhardcore commented on #91552
@caesarxuchao 🙂

[2020-07-13 10:48] chendave opened #93013 "Honor "NominatedNodeName" during the new scheduling cycle"
**What would you like to be added**:
A option of scheduler used to check the feasibility of `NominatedNodeName` directly instead of loop all the nodes in the cluster after pod preemption is done previously.

**Why is this needed**:
When the preemption is happened a best candidate is chosen from current nodes in the cluster, i.e. the feasibility and prioritization has been thoroughly considered.

T

[2020-07-13 10:48] chendave commented on #93013
/kind scheduling

[2020-07-13 10:49] chendave commented on #93013
/sig scheduling

[2020-07-13 10:52] chendave commented on #93013
cc @Huang-Wei  @alculquicondor  @ahg-g  what do you think?

[2020-07-13 10:58] #92858 closed

[2020-07-13 11:23] knight42 commented on #92792
@Huang-Wei it turns out that we could already modify the sharedInformer regardless of my patch, e.g.
[code]

[2020-07-13 11:41] paurosello commented on #92799
We have been able to reproduce what @hardikdr said, not possible to limit PVC on non-CSI environments in k8s 1.17

[2020-07-13 11:43] suvsap opened #93014 "POD goes into frequent Crashloopback mode"
Hi,

I have created a deployment for Postfix as below:-

[code]

**What happened**: Pod goes to CrashLoopBackOff status and then starts running again. This goes on and on

**What you expected to happen**: I have tested this via docker and it works fine but with Kubernetes Helm i am facing this problem

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2020-07-13 11:47] suvsap commented on #93014
/sig Node

[2020-07-13 11:49] suvsap commented on #93014
[code]

[2020-07-13 11:54] suvsap commented on #93014
[code]

[2020-07-13 11:59] brancz commented on #49746
/remove-lifecycle stale

[2020-07-13 12:39] lizongshen opened #93016 "The tag of the docker Image in pod is the same, but the Image ID is different"
**What happened**:
My pod has two duplicates. When I updated the pod, I found that only one responded successfully. Then I checked the operation of the pod and found that there was no task error. The causes of the problem are:The tag of the docker Image in pod is the same, but the **Image ID is different**。

[root@ops-k8s-master01 ~]# kubectl describe pod hrp-web-df66b5c44-nvt4n -n mcrp-dev | grep

[2020-07-13 12:42] lizongshen commented on #93016
/sig cluster-lifecycle

[2020-07-13 12:45] lizongshen commented on #93016
/sig autoscaling

[2020-07-13 12:46] lizongshen commented on #93016
/sig node

[2020-07-13 12:53] aojea commented on #92965
how to repro, I didn't have time to dig more into this, but for reference:

[code]

[2020-07-13 12:55] aojea commented on #92886
hopefully this will be fixed once we get the portmap fix into kind
https://github.com/containernetworking/plugins/pull/509

[2020-07-13 13:01] khatrig commented on #88153
I'm seeing this on windows nodes frequently. RDP/SSH gives permission denied. node restart seems to be the only workaround.

[2020-07-13 13:08] rg2609 opened #93017 "Can we have VPA with Postgres or any database"
I am working with Postgres Kubernetes, and I am looking for scaling the resources used by it. I come to know about VPA. I just wanted to know that can we use the VPA in Postgres Kubernetes or any database.

Thank you,
Ravindra G.

/sig autoscaling

[2020-07-13 13:22] karolinepauls opened #93018 "Retrieve original apiVersion"
**What would you like to be added**:

Ability to query Kubernetes cluster resources by their original apiVersions.

**Why is this needed**:

When upgrading the cluster, it may be error-prone to verify that no resources use deprecated API versions. Since by design `kubectl get deployments.v1beta1.apps` and `kubectl get deployments.v1beta1.extensions` return the same deployments (with apiVersions th

[2020-07-13 13:23] karolinepauls commented on #93018
/sig api-machinery

[2020-07-13 13:40] karolinepauls opened #93019 "volumeClaimTemplates for deployments"
**What would you like to be added**:

Deployments also need volumeClaimTemplates.

**Why is this needed**:

Currently Kubernetes doesn't have a good story for deployments that need large-ish non-persistent local disk space. The default answer is "use hostPath", which is not a good one - it forces unnecessary inflation of node storage for workers which may not use it at the end of the day (until th

[2020-07-13 13:42] karolinepauls commented on #93019
/sig apps

[2020-07-13 13:43] andyzhangx opened #93020 "use update disk when resize azure disk"
**What happened**:
Should use update disk instead of createOrUpdate disk:  https://docs.microsoft.com/en-us/rest/api/compute/disks/update

The PVC resize is validating for the existence of the snapshot in the field 'sourceResourceId' causing the following error below:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2020-07-13 13:47] jayunit100 commented on #93001
thanks ! happy to keep helping w/ this.... can we move this issue to https://github.com/kubernetes/ingress-nginx and close this one (unless we decide its an actual k8s networking bug)?

[2020-07-13 13:53] jayunit100 commented on #92929
- I think the bug might be that your Pod Network CIDR is taking over the entire network.  Can you instead use a pod network cider like 100.96.0.0/11  ?
- Also I *think* at this point this is more a calico issue then a K8s issue, bc it involves an advanced calico configuration,  maybe we can move this issue to https://github.com/projectcalico/calico if it is related to setting the right CIDRs and s

[2020-07-13 13:56] jayunit100 commented on #92559
Thanks @chrisohaver !
Are you suggesting that moving back to 5s is maybe a better way forward?

[2020-07-13 14:02] jayunit100 commented on #90838
hi ! I think this *might* have been fixed in https://github.com/kubernetes/kubernetes/issues/70014 , but not sure.   What version of K8s are you running? 1.16+ should have the fix I think?

[2020-07-13 14:04] OJFord commented on #75378
/remove-lifecycle-stale

[2020-07-13 14:05] OJFord commented on #75378
/remove-lifecycle stale

[2020-07-13 14:06] OJFord commented on #60748
/remove-lifecycle stale

[2020-07-13 14:09] dorongutman commented on #68827
another use case for this is as follows:

an aws internal NLB can't have the source and the target be the same node (see https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-troubleshooting.html#loopback-timeout).
we have one such internal NLB (brought up by an nginx ingress controller). this nginx ingress (which is the target of the nlb) lives in one generic namespace, wh

[2020-07-13 14:13] alculquicondor commented on #93013
I like the idea. But I don't think it should be an option, but rather the default behavior.

However, it's important to note that there selecting the nominated node would be guaranteed. There could be an scenario where pods didn't finish to be preempted in the nominated node and, in the meanwhile, some other node freed enough resources. In this case, the pod should go to this other node.

So, we c

[2020-07-13 14:18] chrisohaver commented on #92559
I am leaning that way. On the other hand, in node local deployments the response cache resides on the local node coredns instances, and the object cache resides in the cluster dns deployment. Which means a node local instance forwards misses to the cluster DNS deployment instead of just handling it internally. i.e. k8s record misses cost more in a node local deployment.

It seems that the primary

[2020-07-13 14:27] mseewooth commented on #93001
@jayunit100  yes please i think i made a mistake

[2020-07-13 14:32] venkatsc opened #93022 "CSI e2e Test failures due to PV retention"
**Which jobs are failing**:
Storage E2E test cases for CSI

**Which test(s) are failing**:
Multiple tests are failing.  Example failing test
`
External Storage [Driver: csi.quobyte.com] [Testpattern: Dynamic PV (default fs)(allowExpansion)] volume-expand
    Verify if offline PVC expansion works
    /workspace/anago-v1.17.7-rc.0.50+e4efcc9eb3807d/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s

[2020-07-13 14:35] venkatsc commented on #93022
/sig storage
/sig Testing

[2020-07-13 14:51] hasheddan commented on #92700
/milestone v1.19
/cc @kubernetes/ci-signal
/priority critical-urgent

@roycaihw @jingyih any updates here? I am now seeing this failure on https://testgrid.k8s.io/sig-release-master-blocking#integration-master

[2020-07-13 14:55] kow3ns commented on #90607
I can not reproduce this either

[2020-07-13 14:55] kow3ns commented on #90607
/close

[2020-07-13 14:56] #90607 closed

[2020-07-13 15:06] hasheddan opened #93024 "[Failing Test] gce-cos-k8sbeta-alphafeatures (ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures)"
**Which jobs are failing**:

`gce-cos-k8sbeta-alphafeatures (ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures)`

**Which test(s) are failing**:

`[sig-network] Networking Granular Checks: Services should function for pod-Service: sctp [Feature:SCTPConnectivity]`
`[sig-network] Networking should function for pod-pod: sctp [Feature:SCTPConnectivity]`

**Since when has it been failing**:

`07-10-20 13

[2020-07-13 15:06] hasheddan commented on #93024
@aojea thought you might have some insight here?

[2020-07-13 15:06] alculquicondor commented on #88093
/unassign
/assign @pancernik

/close
fixed in #91241

[2020-07-13 15:07] ahg-g commented on #93013
Sounds good to me. It might be simple to evaluate this node right before we iterate over all the nodes, somewhere [here](https://github.com/kubernetes/kubernetes/blob/19f0a54d6b656f719d5ac446c6a2400e261acd5b/pkg/scheduler/core/generic_scheduler.go#L313). A benchmark would be nice as well.

[2020-07-13 15:08] andyzhangx opened #93025 "initial delay when starting Pods with Azure File volumes"
**What happened**:

When starting pods with AFS volumes, there is an initial delay of five seconds until the pod is transitioning from the "Scheduled" state. The reason for this is that currently the volume mounting happens inside a wait.Poll which will initially wait a specified interval (currently 5 seconds) before execution.

Event log for comparison with and without AFS volume attached (second

[2020-07-13 15:08] alculquicondor commented on #89701
/assign

[2020-07-13 15:10] jae-63 commented on #71869
Has anyone figured out a way to persuade k8s garbage collection to fire on a disk which isn't the root filesystem?   We must use a secondary (SSD) disk for /var/lib/docker to address EKS performance issues (see https://github.com/awslabs/amazon-eks-ami/issues/454 ).    But the garbage collection doesn't fire and we sometimes overflow that secondary disk.

[2020-07-13 15:14] #88068 closed

[2020-07-13 15:23] RobertKielty commented on #92700
From the last failure we have (has been failing for the last 32 runs)

[sig-release-master-blocking#integration-master](https://testgrid.k8s.io/sig-release-master-blocking#integration-master)

we have an from the following Prow run [1282672402110615552](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1282672402110615552)

Full logs here [ci-kubernetes-integrat

[2020-07-13 15:23] aojea commented on #93024
will try to check later, but would be great if someone can verify this is not a duplicate of https://github.com/kubernetes/kubernetes/issues/92041

[2020-07-13 15:23] alculquicondor commented on #89701
/close

We successfully completed this. Thanks to all who contributed!

[2020-07-13 15:24] #89701 closed

[2020-07-13 15:24] JamesMurkin commented on #92649
@Huang-Wei  Many thanks for your reply, at least that sounds very hopeful for 1.18+.

We are currently on 1.17 and may be in a position to move to 1.18+ soon and this sounds like another reason to move.

So how would I achieve what I mentioned above in 1.18?

I.e keep the defaults while also having the scheduler use MostRequestedPriority? A brief example of config and/or docs would be great.

[2020-07-13 15:25] hasheddan commented on #93024
@aojea looks like it might be, any idea why this would have just started now on the 1.19 branch?

[2020-07-13 15:35] prameshj commented on #92559
That's correct. In NodeLocalDNS, we keep the NXDOMAIN ttl to 5s. It is a small value and would cause a bunch of searchpath expanded and AAAA records to get forwarded to k8s cluster DNS, but it is somewhat of a balance between caching NXDOMAINs and discarding temporary NXDOMAINs for services whose records are being created.

[2020-07-13 15:37] aojea commented on #93024
seems the job started to run networking tests on friday :thinking:
https://testgrid.k8s.io/sig-release-1.19-blocking#gce-cos-k8sbeta-alphafeatures&width=5

[2020-07-13 15:48] liuxu623 commented on #90838
Kubernetes v1.16.3 and CNI bridge v0.8.5, could you help me review #90839 ? Thank you.

[2020-07-13 15:56] lavalamp commented on #87211
/reopen
/lifecycle frozen

[2020-07-13 15:57] BenTheElder commented on #93010
Kubernetes the project declares no relation to any container runtime.

kubeadm does have some environment validation including versions they've vetted.

[2020-07-13 15:59] BenTheElder commented on #93007
Is v1.5.6 the correct kubernetes version?
1.5.6 is very old, the project currently supports 1.16.x+

[2020-07-13 16:04] chrisohaver commented on #92559
IIRC, the node local Corefile has a separate server block for `cluster.local.` (or whatever the cluster's DNS suffix happens to be).  This allows for a separate cache configuration for cluster records vs records from upstream sources.

Whereas in the Cluster DNS Corefile, there is a single server block for `.` (re: [due to the way CoreDNS handles plugin chains](https://github.com/coredns/deploymen

[2020-07-13 16:10] msau42 commented on #92799
< I tried setting KUBE_MAX_PD_VOLS to 30 for c5d.metal based node in AWS, but kube-scheduler restricts the number of volumes to default (25) for the node.
Usually I see wanting to override the volume limit to reduce the number, not increase. In this case, is the problem that the in-tree driver is not reporting the correct limit for this machine type? cc @bertinatto

[2020-07-13 16:25] devopstales commented on #83786
/remove-lifecycle stale

[2020-07-13 16:33] karlkfi commented on #92267
RFC: https://docs.google.com/document/d/17vmPjg1DoLzwxgbAfAsSdFqdaQ4SsnZcQugDZ1qFN9s/edit

[2020-07-13 16:37] hasheddan opened #93028 "[Failing Test] [sig-network] DNS configMap nameserver [IPv4]"
**Which jobs are failing**:

`gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)`
`gce-cos-k8sbeta-serial (ci-kubernetes-e2e-gce-cos-k8sbeta-serial)`

**Which test(s) are failing**:

`[sig-network] DNS configMap nameserver [IPv4] Forward PTR lookup should forward PTR records lookup to upstream nameserver [Slow][Serial]`
`[sig-network] DNS configMap nameserver [IPv4] Change stubDomain should

[2020-07-13 16:42] rajansandeep commented on #93028
/assign

[2020-07-13 16:55] #91860 closed

[2020-07-13 16:59] Huang-Wei commented on #92649
@JamesMurkin Here is an example which wraps 4 profiles inside:

- **default-scheduler:** keeps everything as-is, so workloads which doesn't set their `spec.schedulerName` will be taken over by this profile
- **image-first:** just adjust the weight of Score plugin `ImageLocality`
- **binpack:** guess this is what you want. It **replaces** default "LeastAllocated" priority with "MostAllocated" prior

[2020-07-13 17:04] msau42 commented on #83679
/remove-lifecycle rotten
/assign @bertinatto @jsafrane
are looking at adding selinux to CI using kops

[2020-07-13 17:19] ZhiFeng1993 commented on #92911
/assign

[2020-07-13 17:34] divyenpatel commented on #92496
@lubronzhan This looks like a successful case.

Can you print the value of output -

https://github.com/kubernetes/kubernetes/blob/v1.18.5/vendor/k8s.io/utils/mount/mount_windows.go#L254-L264

We need to investigate why '^@' is returned as a drive letter from this function.

[2020-07-13 17:54] oomichi commented on #92616
/cc @oomichi

[2020-07-13 18:02] Huang-Wei commented on #93013
Generally, I'm ok with this option. And in terms of making it default or not, it depends on (1) how frequent the decision gets **non-optimal** in the new scheduling cycle, and (2) whether users are ok with the behavior that a preemptor can be placed onto a **non-optimal** node. To start with, we can evaluate the result of (1), and then use this result to request user feedback for (2).

---

Anothe

[2020-07-13 18:03] oomichi commented on #92616
/area security

[2020-07-13 18:32] maxweisel commented on #65012
heyo, I figured I'd bump this issue because I'm currently running into this issue with our services. It's rough because I essentially cannot detect when the stream fails, so I'm required to make our applications that use watch events restart the stream constantly in order to ensure it's live.

[2020-07-13 18:37] joelsmith commented on #92315
Sorry, folks. I thought that this issue was already closed. Maybe that makes my response above to @thockin less confusing.

[2020-07-13 18:37] #92315 closed

[2020-07-13 18:39] joelsmith opened #93032 "CVE-2020-8557: Node disk DOS by writing to container /etc/hosts"
CVSS Rating: Medium (5.5)  [CVSS:3.1/AV:L/AC:L/PR:L/UI:N/S:U/C:N/I:N/A:H/CR:H/IR:H/AR:M](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:L/AC:L/PR:L/UI:N/S:U/C:N/I:N/A:H/CR:H/IR:H/AR:M)

The `/etc/hosts` file mounted in a pod by kubelet is not included by the kubelet eviction manager when calculating ephemeral storage usage by a pod. If a pod writes a large amount of data to the `/etc/hosts`

[2020-07-13 18:47] matthias50 opened #93033 "Azure VMSS includes non-master nodes labeled with `kubernetes.azure.com/managed=false` in VMSS backend pools"
**What happened**:

After creating  Kubernetes service on a Kubernetes cluster built on Azure IaaS (not AKS), nodes which are not master nodes but are also not worker nodes and which are labeled with `kubernetes.azure.com/managed=false` are included in the backend pool for the load balancer.

**What you expected to happen**:
All nodes labeled with `kubernetes.azure.com/managed=false` should be exc

[2020-07-13 18:56] Riaankl opened #93035 "Write readNetworkingV1NamespacedIngressStatus test+promote - +1 endpoint coverage"
# Progress <code>[1/6]</code>

-   [X] Test in Ginkgo : [ingress.go](https://github.com/ii/kubernetes/blob/fix-ingress-status/test/e2e/network/ingress.go#L1145-L1151)
-   [X] test approval issue : [kubernetes/kubernetes#93035](https://github.com/kubernetes/kubernetes/issues/93035)
-   [X] test pr : [kuberenetes/kubernetes#93038](https://github.com/kubernetes/kubernetes/pull/93038)
-   [ ] two week

[2020-07-13 19:03] alculquicondor commented on #93013
If nothing else changes in the cluster, other than the preempted pods being removed, the nominated node would be the only candidate, thus the best.

[2020-07-13 19:06] Huang-Wei commented on #93013
@alculquicondor I meant the **initial** "nominatedNodeName" may not be the best (in the case of PodAntiAffity or PodTopologySpread).

[2020-07-13 19:17] #88166 closed

[2020-07-13 19:19] tallclair commented on #92616
We periodically update the base image used for control plane images, but we only prioritize the upgrade for Critical and High severity CVEs.

On this specific CVE, it affects apt, but apt is only run during the image build stage for those images, so this won't affect these images running in production.

Starting in v1.19 these images will be built on [distroless:static](https://github.com/GoogleCo

[2020-07-13 19:58] Jeffwan commented on #64685
@bsalamat @JoshuaAndrew

Any status update for this feature? It's been two years and I'd like to know if this has been supported yet?

Is there any plan to support this in future versions since Scheduler Framework has been enabled in latest k8s version

[2020-07-13 20:13] cmluciano commented on #93035
Duplicate of #92199

[2020-07-13 20:21] lavalamp commented on #65012
We're waiting for go1.15. @caesarxuchao made [a fix](https://go-review.googlesource.com/c/net/+/198040) for this in the upstream go std library. Unfortunately, it's basically impossible to fix this without that change.

This is already tracked here: https://github.com/kubernetes/client-go/issues/374#issuecomment-632457187

Apparently we've gone 2 years without de-duping these two issues, oops!

[2020-07-13 20:46] rikatz commented on #91331
@wk60807430 friendly ping

[2020-07-13 20:47] fmehrdad commented on #92618
[k8admin@den-kubr-test-c01 script]$ ./sonobuoy run --e2e-focus "intra-pod" --wait=10
INFO[0000] created object                                name=sonobuoy namespace= resource=namespaces
INFO[0000] created object                                name=sonobuoy-serviceaccount namespace=sonobuoy resource=serviceaccounts
INFO[0000] created object                                name=sonobuoy-serviceaccou

[2020-07-13 20:47] oomichi commented on #92616
@tallclair  Thanks for your information, I got the point on my side.
@jonesbr17 I also faced the same issue, and I asked for helping this issue. Then @tallclair gave the above advice.

[2020-07-13 20:47] fmehrdad commented on #92618
BTW this cluster is have the issue now.

[2020-07-13 20:51] rikatz commented on #90661
/assign

@leexiaominghub as asked previously, needs more information.

Can you also provide further information as how your cluster was installed, what's kubernetes version, which OS, etc

/remove-kind bug
/triage needs-information
/remove-priority awaiting-more-evidence

[2020-07-13 20:53] bowei commented on #93028
/remove-triage unresolved

[2020-07-13 21:03] rikatz commented on #17362
It seems that this is already solved.

[code]

So the thing here now is documentation now?

Thanks :)

[2020-07-13 21:09] MikeSpreitzer opened #93042 "[Flaky Test] The framework ClientSet must not be nil at this point"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
CSI  Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (default fs)]  subPath should support existing directories when readOnly specified in  the volumeSource 

**Testgrid link**:
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce

**Reason for failure**:
Unknown.

[2020-07-13 21:10] MikeSpreitzer commented on #93042
Here is the stdout from the failure cited:
[code]

[2020-07-13 21:10] MikeSpreitzer commented on #93042
/sig storage

[2020-07-13 21:18] MikeSpreitzer commented on #93042
I also got the following from the same job, test `CSI mock volume CSI workload information using mock driver should not be passed when podInfoOnMount=nil` --- which could be caused by `f.ClientSet` going nil after the test.

[code]

[2020-07-13 21:19] rikatz commented on #62720
@nevola  the issue is closing because there's a lifecycle/rotten label, which should be removed by you (if you think it's a thing) with /remove-lifecycle rotten

About the implementation, may I suggest you (as this is an old issue) to bring this subject to kubernetes sig-network meeting? The point here is, I think it's faster and easier to check when everybody is in one meet to verify how the SIG

[2020-07-13 21:24] rikatz commented on #62720
Oh now I remember, in the [meeting notes](https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM) @sbezverk presented the proposal of nftproxy, and as I remember this moved as a side project, right @sbezverk ?

So, trying to make this work, do you think this is still something we need to pursue inside the kube-proxy code?

[2020-07-13 21:28] rikatz commented on #67526
@jayunit100 do you want this one to keep on track of our WG NetPol++?

[2020-07-13 21:29] joekendal commented on #19317
None of these suggestions worked and after realising I could be looking at wasting hours trying to fix it, I came to the conclusion that if many equally capable devs had tried before me then I would be wasting my time for something so insignificant. Just deleting the kubernetes data and settings worked fine.

[2020-07-13 21:29] prithviramesh commented on #86715
We're observing the same behavior with Kubernetes 1.16 and Kubernetes 1.14

[code]

[2020-07-13 21:30] prithviramesh commented on #86715
is there any idea on what is causing this?

[2020-07-13 21:40] spiffxp commented on #92937
<img width="1276" alt="Screen Shot 2020-07-13 at 2 36 20 PM" src="https://user-images.githubusercontent.com/49258/87356067-47a26980-c516-11ea-84b6-2de7c9bd906b.png">
from https://monitoring.prow.k8s.io/d/d69a91f76d8110d3e72885ee5ce8038e/tide-dashboard?orgId=1&from=now-30d&to=now

The backlog cleared out over the weekend.  I'm not sure what if anything was done to specifically mitigate.  Suspect we

[2020-07-13 21:52] sbezverk commented on #62720
@rikatz I wish it did but since the last discussion there was not much happened. I have not gotten any clear instructions for the next steps to get nfproxy as a side project in kubernetes org.  I would still like to do it if the community has any interest in nftables based kube-proxy backend..

[2020-07-13 22:11] Huang-Wei commented on #92792
@knight42 Thanks. I think that perfectly fits my requirement.

[2020-07-13 22:24] wenjiaswe commented on #49746
I think this is fixed via https://github.com/kubernetes/kubernetes/pull/75953

[2020-07-13 22:33] oomichi commented on #81427
/remove-lifecycle stale

[2020-07-13 22:33] oomichi commented on #81232
/remove-lifecycle stale

[2020-07-13 22:33] #93024 closed

[2020-07-13 22:54] chriserik commented on #93025
see #91967

[2020-07-13 22:56] oomichi commented on #77095
/remove-lifecycle stale

[2020-07-13 23:01] oomichi commented on #81245
/remove-lifecycle stale

[2020-07-14 00:11] jsturtevant opened #93048 "Failing test: Windows 2004 SAC release tests - authenticated-image-pulling"
**Which jobs are failing**:
ci-kubernetes-e2e-aks-engine-azure-master-windows-2004

**Which test(s) are failing**:
[k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull from private registry with secret [NodeConformance]

**Since when has it been failing**:
since enabling the Windows 2004 SAC release tests

**Testgrid link**:
https://testgrid.k8s

[2020-07-14 00:47] michmike commented on #92496
@divyenpatel  and @lubronzhan it is likely that even if a fix is found, we won't have time to fix it for 1.19 or even cherry pick it. is it possible we can look into what workaround could exist so that an admin can manually `fix` something to be able to mount on the new node? somewhere in the stack is a reference that was not cleaned up...

[2020-07-14 01:44] robscott commented on #92965
Thanks for all the help @aojea! What I've consistently been observing is that on IPv6 kind clusters, syncService is called before a Pod has an IP assigned to it. I initially thought this was an issue where the informer cache was out of date, but a direct client lookup at the same time seems to indicate that the PodIP simply is not set yet in status. This is in contrast with the same test on IPv4 k

[2020-07-14 02:18] ZhiFeng1993 commented on #92911
/unassign

[2020-07-14 02:28] yordis commented on #82883
/remove-lifecycle rotten

[2020-07-14 02:33] JoshuaAndrew commented on #64685
Not yet supported.

[2020-07-14 02:59] gavincabbage commented on #92070
@Rajalakshmi-Girish Did you ever find a solution to the second bug above? I'm seeing the same after applying the original fix from #12000.

[2020-07-14 03:11] andyzhangx commented on #93033
/priority important-soon
/sig cloud-provider
/area provider/azure

[2020-07-14 03:13] heyste commented on #92199
Hi, would #93038 a possible solution so that this endpoint can be covered in 1.19? Open to addressing any issues with the test. TIA

[2020-07-14 03:21] #92933 closed

[2020-07-14 03:21] #93028 closed

[2020-07-14 03:25] sfxworks commented on #89392
FWIW I have a bit of a similar problem, though a different stack entirely.

I adjusted a dev-primary node, changing out the interface and assigning them a different IP.

[code]
Kube proxy keeps trying to write the old IP address instead of the new one that is visible in the node definition. The node IP was also set to the primary's kubelet args via `--node-ip`. The situation leads to some bad head

[2020-07-14 03:34] hardikdr commented on #92799
Yes, `c5d.metal` machines in AWS actually support 30 slots for ebs volumes, but k8s defaults it to 25, maybe to reserve few for network-interface as slots are common across both I guess.

[2020-07-14 04:10] Rajalakshmi-Girish commented on #92070
No I haven't. @liggitt Is there a solution?

[2020-07-14 04:19] julianvmodesto commented on #89954
Ahhh yes that makes sense, this should just work now since the resource will have the last-applied annotation and avoid conflicts.

[2020-07-14 04:34] subudear commented on #85392
Why is this closed. This is still an issue. Once --cipher-suites is added to etcd manifest, the pod stops starting.

[2020-07-14 05:04] roycaihw commented on #92738
Thanks. Having the audit log sounds good to me

[2020-07-14 05:49] roycaihw commented on #92700
@hasheddan @RobertKielty It seems that the failure of https://testgrid.k8s.io/sig-release-master-blocking#integration-master was caused by https://github.com/kubernetes/test-infra/pull/18196#issuecomment-657975786. It looks like that PR added some tests to the prowjob, which aren't supposed to be run in parallel, and therefore hit the "etcd already running" error.

I think the `sig-release-master-

[2020-07-14 05:56] chendave commented on #93013
Okay, looks like the preemption doesn't run score plugins before the final candidate is selected, how the candidate is selected `pickOneNodeForPreemption` is totally irrelevant with `prioritizeNodes`.

How about prioritize those candidates for the preemption as well?

[2020-07-14 06:05] chendave commented on #93013
yep, there are other corner case which make the node is not the best candidate but the bottom line is the node should be one of the candidate that could be able to run the pod, this is why I propose it as a option.

[2020-07-14 06:25] brancz commented on #49746
Nice! I missed that one, thanks for linking it! I agree #75953 is a good start!

[2020-07-14 06:25] brancz commented on #49746
/close

[2020-07-14 06:26] #49746 closed

[2020-07-14 06:33] rg2609 commented on #93017
/sig autoscaling

[2020-07-14 06:39] RobertKielty commented on #92700
Thank you @roycaihw for triaging this.

[2020-07-14 06:45] roycaihw commented on #92700
Please see my comment in https://github.com/kubernetes/test-infra/pull/18196#issuecomment-658000292. The message "etcd already running at http://127.0.0.1:2379" is not an error. For `sig-release-master-blocking#integration-master` it looks like those new tests were timing-out (~600s). For this issue there can be different causes. I will look into the logs.

[2020-07-14 07:03] roycaihw commented on #92700
@rajaskakodkar Unfortunately the provided log file didn't capture much useful info. E.g.
[code]

I don't think the failure is related to running in parallel or not, but we need more verbose log to know what were the actual errors. Could you try reproducing the failure with [higher verbose level](https://github.com/kubernetes/kubernetes/blob/c46c1c043ee8de4c021c03ddb0fb157d1c1ba3f8/hack/make-rules/

[2020-07-14 07:22] rajaskakodkar commented on #92700
@roycaihw I just tried running the following and the test cases passed successfully.
[code]
I guess this issue can be closed.

[2020-07-14 07:25] trialley opened #93051 "Add scheduling policy OnePodPerNode for StatefulSet"
**What would you like to be added**:
scheduling policy "OnePodPerNode" for StatefulSet, such as:

StatefulSet.Spec.Template.Spec.SchedulingPolicy

1. OnePodPerNode (important)
2. AllPodInOneNode

**Why is this needed**:
nodename, Taints and Tolerations...there are many ways to adjust the scheduling policy of pods, but none of them can be used in StatefulSet when I want to make each node run only o

[2020-07-14 07:29] takakawa commented on #92904
`free -h` also returns host mem info

[2020-07-14 07:49] uablrek commented on #89392
Are you using HA-proxy? That seems to be the main problem in this issue.  Or some other HA-setup? If not it would be better to open a new issue handling the new problem.

Can you please describe more precise what you did? As I understand something like this;

* Re-start `kubelet` with a new `--node-ip` on the node where the API-server is executing.
* Adjust `--advertise-address` to be the same as

[2020-07-14 08:11] shyamjos commented on #62283
I am using this command
`kubectl apply view-last-applied deployment/nginx-ingress-controller -n ingress-nginx`

[2020-07-14 08:17] aojea commented on #92965
have you verified that? can we force another syncService in the test and see it works after that? (just for verifying the theory, the test should work as it is now)

IPv6 slowness is something I could observe since the beginning but I couldn't understand why, there are many moving parts, I have that in my backlog, I don't know also if this is really a KIND issue, Kubernetes or some other component

[2020-07-14 08:46] JamesMurkin commented on #92649
@Huang-Wei  Excellent thanks for the example and explanation.

Where do you get the names of the plugins "NodeResourcesMostAllocated" and  "NodeResourcesLeastAllocated". That doesn't seem to correlate with the names I see in the docs.

Or have the names changed in 1.18? If so please link the docs and I'll close this ticket :)

[2020-07-14 09:01] codesome commented on #89820
/remove-lifecycle stale

[2020-07-14 09:11] jackielyc opened #93054 "Support hdfs csi"
Support hdfs csi:
hdfs is a common file system, we need kubernetes to support it natively.

[2020-07-14 09:18] lubronzhan commented on #92496
Hi @divyenpatel I reproduce this issue by deleting the pod and make it scheduled to another node, then the `GET-PARTITION` output about that disk on the new node is

[code]

**Looks like the driverletter is empty**
Also the OperationalStatus is offline.

[code]
If I print the value here it's also an empty line.
[code]

I think I can just create a golang program to run this command and check the ou

[2020-07-14 09:44] zhaocheng173 opened #93055 "Does the pause container need to be resource restricted? Such as the memory"
Best practices from Docker-CIS tell me that all containers need to be memory restricted, while for the infra container shipped with pod in K8S, how does pause container limit memory？

[2020-07-14 09:52] jeff-knurek commented on #57049
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-07-14 10:02] aojea commented on #92965
@liggitt  what is the best way to solve this problem?

it seems we have the Pod object but the pod.Status.IPs are still not set

https://github.com/kubernetes/kubernetes/blob/3f8f9998b04b427a2cb22db49ae87c332427fe52/pkg/controller/endpointslice/endpointslice_controller.go#L326

`wait.Until len(pod.Status.IPs) != 0` ? or is there any best practices, API magic, ...?

[2020-07-14 10:07] suvsap commented on #93014
This is resolved by correcting the readiness probe entries in deployment.yaml

[2020-07-14 10:07] #93014 closed

[2020-07-14 10:15] krzysied opened #93056 "[Incorrect test] HPA TestScaleDownIncludeUnreadyPods"
This bug is regarding hpa [TestScaleDownIncludeUnreadyPods](https://github.com/kubernetes/kubernetes/blob/b618411f1edb98afe807866fb3a607356d72ba24/pkg/controller/podautoscaler/horizontal_test.go#L1592) test.

**What happened**:
The test assumes that unready pods are included in the calculations. However the expected replica count is 2, which only a correct result when unready pods are excluded.

*

[2020-07-14 10:17] krzysied commented on #93056
/sig autoscaling

[2020-07-14 10:17] krzysied commented on #93056
/area test

[2020-07-14 10:21] nevola commented on #62720
Hi @rikatz

Will do, thank you. The project is currently under rapid evolution so I think it's not time to let it rotten :)

Sure, but I think that something real to show is needed. At least, to prove that iptables and IPVS can be fully replaced by nft. iptables replacement is now achieved, but we're now working to be able to replace IPVS.

For sure, we're open to discuss the architecture. kube-nf

[2020-07-14 10:29] nevola commented on #62720
/remove-lifecycle rotten

[2020-07-14 10:30] piyush-Shrivastava commented on #78761
/remove-lifecycle stale

[2020-07-14 10:35] situjianxiong opened #93057 "The ipvs rules wasn't update when i apply change."
**What happened**:
The ipvs rules wasn't update when i apply the change. I can't reach the page of service.
**What you expected to happen**:
The ipvs rules should be updated after i apply the change.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[root@k8s-master-1 ~]# kubectl get endpoints -n monitor
NAME             ENDPOINTS           AGE

[2020-07-14 10:52] feiskyer commented on #93033
/priority critical-urgent

[2020-07-14 11:28] jtslear commented on #91017
Finding a home:

/sig @kubernetes/sig-api-machinery-misc

If this is incorrect, please assist in re-assessing and reassigning.

[2020-07-14 11:33] #86356 closed

[2020-07-14 11:34] jtslear commented on #90432
Finding a home, if this is incorrect, please assist in reassessing and reassigning:

/sig cli

[2020-07-14 11:38] jtslear commented on #91017
Sorry for the wide ping, I used the assignment command incorrectly, this was not intentional.

[2020-07-14 11:39] droslean commented on #77019
/milestone v1.20

[2020-07-14 11:40] droslean commented on #89414
/milestone v1.20

[2020-07-14 11:41] droslean commented on #89414
@justaugustus I moved this to 1.20, but it seems that there was a lot of activity. Is this issue actually done?

[2020-07-14 11:42] droslean commented on #89433
/milestone v1.20

[2020-07-14 12:05] velann21 commented on #70082
Yes I am also facing the same issue, 2020-07-14 06:17:08.243081 W | wal: sync duration of 7.725737847s, expected less than 1s

[2020-07-14 12:14] dewanymca opened #93058 "Readonlyfilesystem container security policy"
Hi Team

We have been read only file system attribute in container security policy with .net Core app. .Net core stream input request to disk if size is greater than 30kb. And for those request we get read only file system. We understand it’s because of readonlyfilesystem attribute, but does this attribute make full file system including user space. Is there an option to make root file system read

[2020-07-14 12:22] rikatz commented on #62720
@nevola as per the https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM, just need to put the subject in the next agenda, join the zoom meeting (next is 23/07 2pm PT) and wait until your time to speak arrive :D

@sbezverk  My personal opinion (and this is strictly mine): As Kubernetes is extremelly 'plugable', I personally understand why the community is not tempted to t

[2020-07-14 12:23] rikatz commented on #93057
/sig network

[2020-07-14 12:35] ahg-g commented on #89433
/milestone v1.19

This is already done.

[2020-07-14 12:38] rikatz commented on #92798
@hamzakilic is this still a thing? Do you think it's a bug in kube-proxy iptables?

[2020-07-14 13:22] ahg-g commented on #93013
There is a very high chance that the nominated node will be the only one feasible for the pod (that is why the pod had to go through preemption in the first place), and so scoring has no impact unless another node become available, which I think is worth ignoring to optimize for the more common case.

This is not going to be trivial, and I don't believe it is necessary.

[2020-07-14 13:29] danwinship commented on #92965
`PodChanged` doesn't check pod IPs itself, but it gets passed an `EndpointsMatch` function, and in both controllers, the function that gets passed _does_ look at the pod IP (in EndpointSliceController, it's `podEndpointChanged` in `utils.go`, which eventually calls `getEndpointAddresses`, which iterates over `pod.Status.PodIPs` looking for one that matches the IP family of the service).

So it sho

[2020-07-14 14:11] hamzakilic commented on #92798
We have switched to kube-proxy iptables. and now there is no problem. I think it is bug about one of the calico created interfaces. Packets dropped on one of  the calico interface. . I made the same test with flannel or kube-router, they worked without any problem.
flannel or kube-router does not apply some many iptables rules .

[2020-07-14 14:11] #92798 closed

[2020-07-14 14:14] andrewsykim commented on #93057
@situjianxiong can you share the full service/endpoints output for `prometheus-svc`?

[2020-07-14 14:21] andrewsykim commented on #93001
There some logic in the kubelet to guess the internal IP if you don't use a cloud provider. I think it'll prefer to use whatever network interface is used in the default route. If you don't want this you can configure the internal IP by setting the `--node-ip` flag in the kubelet.

[2020-07-14 14:27] mseewooth commented on #93001
@andrewsykim thanks, what do you mean by `prefer to use whatever network interface is used in the default route`  ?

how to do this `configure the internal IP by setting the --node-ip flag in the kubelet`

thanks you

[2020-07-14 14:37] kostrahb opened #93059 "Support for AWS internal network loadbalancer with instances registered by IPs rather than instance IDs"
**What would you like to be added**:

We would love to see support for AWS internal network loadbalancer with instances registered by IPs rather than instance IDs as is now by default.

**Why is this needed**:

There is a known bug - when you have an internal network load balancer with a target group specified by instance IDs and try to access it from target instances, there is a high probability

[2020-07-14 14:38] lubronzhan commented on #92496
Update: Created a simple go program:
[code]

The output is
[code]
So it's an empty string with length 1.

After I restart kubelet, the partition got its driverLetter. Looks like restarting kubelet is also a workaround
[code]

And inside the kubelet error log, this is the error message. The driver path is ` :`, still the mounting failed with `fork/exec C:\Windows\system32\cmd.exe: invalid argument`

[2020-07-14 14:38] andrewsykim commented on #93001
Can check by running `$ ip route` command on the machine.

However you configure the kubelet flags, you need to set `--node-ip` to the IP of the private address on that machine. You can see all the kubelet flag options here https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[2020-07-14 14:41] alculquicondor commented on #93013
It would also make preemption slower, which defies the purpose of the proposal :)

[2020-07-14 14:45] jayunit100 commented on #93001
it seems like the node-ip is working as is (conformance tests pass and so on), which means its just a matter of making sure your accessing the Same IP that nginx-ingress is already binding its hostNetwork to, which probably is just a matter of looking in the nginxIngress logs, right?

[2020-07-14 15:34] BenTheElder commented on #93055
The sources are in build/pause

Pause is a simple while true sleep() loop + some signal handlers. It doesn't allocate, so resource limiting it is pretty unnecessary.

[2020-07-14 15:35] BenTheElder commented on #93054
/sig storage

[2020-07-14 15:44] rahulsharma2020 commented on #90176
/remove-lifecycle stale

[2020-07-14 15:48] bertinatto commented on #92799
Sorry for the late response, I needed to take some time to look at the code.

The TL;DR is: I don't know if this is the intended behaviour or if it's a bug.

The long story:

There are 2 scheduler plugins (they were predicates in v1.17) that can block pods from being scheduled based on the number of volumes they have: a plugin for CSI volumes and another for non-CSI volumes.

The CSI scheduler plu

[2020-07-14 16:08] lavalamp commented on #91017
I don't think we can help you debug delve or systemd here, sorry! It looks like it is printing help text which makes me think something is wrong with the arguments it's seeing. I'd make sure it runs as expected without being in the systemd unit. And then I'd check whether the args need to be quoted or something. Hopefully one of those actions should at least provide a clue, but I don't know.

Good

[2020-07-14 16:08] #91017 closed

[2020-07-14 16:18] tranbaominh commented on #89874
#89874

[2020-07-14 16:24] oomichi commented on #84615
I think this issue is important for e2e framework.
and I'd like to help this.
It is nice to remove `help wanted` label at this time.

/remove-help

[2020-07-14 16:25] oomichi commented on #84615
Oops, I forgot to assign myself.

/assign @oomichi

[2020-07-14 16:28] msau42 commented on #92799
@bertinatto I was asking if the logic in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/awsebs/aws_ebs.go#L102 needs to be updated to account for this machine type?

[2020-07-14 16:31] adelina-t opened #93061 "Kubelet cannot start any pod on Windows: no-new-privileges not supported by docker on Windows."
**What happened**:

The changes introduced by this ( https://github.com/kubernetes/kubernetes/pull/90948 ) PR will not work with Windows as Docker for Windows does not support: no-new-privileges security flag.

**How to reproduce it (as minimally and precisely as possible)**:

Run any pod with kubelet built from master.

/sig windows

[2020-07-14 16:36] adelina-t commented on #93061
/sig windows
/sig node

[2020-07-14 16:57] Huang-Wei commented on #92649
We're supporting two mechanisms of configuring scheduler:

- (legacy) Policy, which consists of Predicates and Priorities (https://kubernetes.io/docs/reference/scheduling/policies/)
- Profile, which consists of plugins (https://kubernetes.io/docs/reference/scheduling/profiles/)

So due to that, their names may diff.

Ref:

- https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/

[2020-07-14 17:00] omerxx commented on #40244
Guys, is this something we should be expecting as a feature or should we resort to duplication of load balancers to serve both HTTP and TCP connections?

[2020-07-14 17:12] wawa0210 commented on #93061
Is anyone following this pr ?, can I try to fix it

[2020-07-14 17:15] cjellick commented on #92315
Yes, this being open was one of the major points of confusion for us. Appreciate the clarification @thockin @joelsmith

[2020-07-14 17:28] wawa0210 commented on #93061
/assign

[2020-07-14 17:30] rdxilano opened #93062 "Stateful POD created but not scheduled"
I have two statefulsets with one replica for each: `data-teleporter-t10-rs1` and `md-teleporter-105-dv16-sv15-ss1`.
I rebooted the node running those pods.
While the node was going down, I deleted those pods with `--force --grace-period=0`.

**What happened**:
 `data-teleporter-t10-rs1-0` pod was immediately deleted from the rebooted node and scheduled to another running node (as it should).
`md-t

[2020-07-14 17:40] rhafer opened #93064 "kubeRuntimeManager.podSandboxChanged() expects SandboxStatuses to be ordered by Attempts"
**What happened**:

On a test system kubelet was unable re-create a PodSandbox, picking an already used "Attempt Number" when there were multiple PodSandboxes in "NotReady"  State.

**What you expected to happen**:

kubelet setting the "Attempt" number to the next available "Attempts"

**How to reproduce it (as minimally and precisely as possible)**:

 When there are multiple "NotReady" Pods kubel

[2020-07-14 17:41] roycaihw commented on #92700
@rajaskakodkar Thanks! So this could also be timeout-related

/close

[2020-07-14 18:10] saschagrunert commented on #93064
/sig node
/cc @haircommander @mrunalp

We saw that issue in conjunction with CRI-O, but I’m now wondering if other runtimes so something different. 🤔

[2020-07-14 18:29] alculquicondor opened #93067 "Pod .spec.schedulerName set as part of deserialization"
/sig scheduling
/sig api-machinery

Pod .spec.schedulerName is set as part of deserialization

https://github.com/kubernetes/kubernetes/blob/5e8ccda71cc676e070cd0f5d7b6990b8ebc24c1f/pkg/apis/core/v1/defaults.go#L219-L221

This is business logic and, as such, should live in a create registry function.
The problem with this being part of deserialization is that external webhooks can't detect if it w

[2020-07-14 18:29] alculquicondor commented on #93067
@dbsmith @liggitt for thoughts

@Huang-Wei for visibility

[2020-07-14 18:32] dst-91 commented on #23726
I faced similar issue which was resolved with
```export KUBECONFIG=/etc/kubernetes/admin.conf```

[2020-07-14 18:32] haircommander commented on #93064
did we get the `name is reserved` error?

[2020-07-14 18:37] michmike commented on #92963
cc: @ddebroy

[2020-07-14 18:37] lavalamp commented on #93067
Since we only have one pod version, I think it's OK to move this from the perspective of following our api conventions, but with one caveat:

If anyone is currently trying to manage this field via webhook they might be surprised if this field suddenly starts coming in blank. I think that's the primary concern. This would actually make their life much easier overall, but it would break them until t

[2020-07-14 18:43] alculquicondor commented on #93067
do admission plugins get the updated versions from previous plugins? do they run before or after webhooks?

[2020-07-14 18:45] lavalamp commented on #93067
Admission plugins are split into mutating and validating and run with the
webhooks. I don't recall if the mutating ones run before or after the
webhooks, @caesarxuchao might.

On Tue, Jul 14, 2020 at 11:43 AM Aldo Culquicondor <notifications@github.com>
wrote:

[2020-07-14 18:50] saschagrunert commented on #93064
Exactly.

[2020-07-14 18:53] michmike commented on #92496
@lubronzhan this is great work to identify a workaround.
I assume there is no impact  to the workloads when you recycle the kubelet, so that's not as bad.

[2020-07-14 20:13] fedebongio commented on #92953
/cc @Jefftree
/sig apps

[2020-07-14 20:14] fedebongio commented on #93018
/cc @roycaihw

[2020-07-14 20:25] caesarxuchao commented on #93067
According to this [list](https://github.com/kubernetes/kubernetes/blob/01f98c4321cd03e15f16d6d4ea42797f2d4bca3c/pkg/kubeapiserver/options/plugins.go#L65-L106), mutating admission plugins run before the mutating webhooks.

[2020-07-14 20:35] aaam commented on #87147
@zhengqisong The kube-apiserver's command parameters in /etc/kubernetes/manifests/kube-apiserver.yaml need to be appended by the flags below:
`
    - --service-account-signing-key-file=/etc/kubernetes/pki/sa.key
    - --service-account-issuer=api
    - --api-audiences=api
`
Mind the documentation at https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account

[2020-07-14 20:40] ddebroy commented on #88554
/remove-lifecycle rotten

[2020-07-14 20:47] jobevers commented on #34583
I ran into a similar issue today investigating a `0/2 nodes are available: 2 node(s) had volume node affinity conflict.` error

I have a PVC:
[code]
and originally it bound fine, with a PV in us-east-1d
[code]

Then, I ran an upgrade and none of the new nodes were created in us-east-1d
[code]
And, now I have a disk in a zone without any nodes.

[2020-07-14 20:55] ksummersill2 commented on #34583
I found the issue. The issue is that when you are using AWS then the PVC is set to the Node. That means that if you try to put that pod or deployment on another node then it will not connect with the PVCs and being a pending state. It's an AWS thing. I resolve this by specifying taints and toleration to the nodes within that specific region.

[2020-07-14 21:10] brannondorsey commented on #92649
@Huang-Wei the example yaml configuration you shared above is useful indeed. In a case where a scheduler overrides a score plugin that's already configured by default, is it necessary to both `enable` and `disable` the plugin as you do in your example?

[code]

Otherwise will the user supplied value be ignored? I'd imagine this would be enough, but it's useful to learn that perhaps it's not.

[cod

[2020-07-14 22:00] brannondorsey opened #93079 "ImageLocalityPriority ignored by kube-scheduler"
**What happened**:

kube-scheduler doesn't appear to consider `ImageLocalityPriority` when scheduling pods to nodes, even when it's explicitly enabled via a custom policy or plugin. It appears `ImageLocalityPriority` [should be registered as a default policy](https://github.com/kubernetes/kubernetes/blob/e2a822d9f3c2fdb5c9bfbe64313cf9f657f0a725/pkg/scheduler/algorithmprovider/defaults/register_pri

[2020-07-14 22:02] brannondorsey commented on #93079
/sig scheduling

[2020-07-14 22:33] alejandrox1 commented on #53331
reopening this because i see a lot of attempts to do so (only org members can use prow commands).
/reopen

[2020-07-14 22:34] alejandrox1 commented on #53331
gonna freeze this until someone wants to volunteer to work on this
/lifecycle frozen

[2020-07-14 22:45] mattjmcnaughton commented on #92996
Sounds like a plan!

Can you please tag @shubheksha and myself for the review?

[2020-07-14 22:55] pjbgf commented on #84623
This is now resolved as of v1.19.

[2020-07-14 22:55] #84623 closed

[2020-07-14 23:02] huggsboson opened #93082 "RFI: Improved scheduling in support of blue-green deployments which don't consume 2x capacity"
**Problem**: 
At Box we have a number of large deployments (relative to our cluster capacity) with long drain times which we would like to quickly rollback in the face of issues.  The current rolling update deployments can take 12+ hours due to drain time, number of pods, and max unavailability.  If something were to go wrong it would potentially take 12+ hours to roll back.

One thing to note in

[2020-07-14 23:07] liggitt commented on #93067
I'm confused. This field existed with this default before the concept of scheduling profiles was added.

[2020-07-14 23:10] huggsboson commented on #93082
/sig Scheduling

[2020-07-14 23:20] caseydavenport commented on #92903
@zhiyxu I agree with @dcbw - from the diags above this doesn't appear to be a Kubernetes issue, but rather an issue in one of the CNI plugins you're using.

I've raised an issue against Calico to track this where we can have further discussion: https://github.com/projectcalico/cni-plugin/issues/912

That said, Calico v3.8 is really old. I'd recommend upgrading Calico and seeing if you still encoun

[2020-07-14 23:20] #92903 closed

[2020-07-14 23:32] thomacos commented on #88554
@aarnaud @ddebroy Idea:
Instead of writing a new dummy plugin, would it be an option to use the existing DirectX device plugin https://github.com/aarnaud/k8s-directx-device-plugin as test?

[2020-07-14 23:43] cmluciano commented on #92199
Yes it will

[2020-07-15 00:09] aramase opened #93085 "failed to add backend pool for VMSS for IPv6 service"
**What happened**:
When adding the backend pool for the VMSS model after updating VMSSVM instances, there is currently no check to determine the correct ip config to use based on the IP family. This results in an error at the first attempt. When controller retries to ensure load balancer, since the VMSSVMs were successfully updated, a success is returned instead.

[code]

**What you expected to ha

[2020-07-15 00:10] aramase commented on #93085
/sig cloud-provider

[2020-07-15 00:39] warmchang commented on #90179
/remove-lifecycle stale

[2020-07-15 01:05] Huang-Wei commented on #92649
IIRC it's necessary. But @alculquicondor should be able to give an authoritative answer.

[2020-07-15 01:30] benfen commented on #92575
/assign @benfen

[2020-07-15 01:36] robscott commented on #92965
At long last, I think I have a solution: https://github.com/kubernetes/kubernetes/pull/93089. It is admittedly rather ugly so I'm very open to other approaches for fixing the bug.

For a bit more context, when I added manual IP diffing yesterday I'd actually fixed the root issue but didn't realize it due to a DNS issue continuing to cause the test to fail. (I didn't initially notice the difference

[2020-07-15 01:44] situjianxiong commented on #93057
[root@k8s-master-1 ~]# kubectl describe endpoints prometheus-svc -n monitor
Name:         prometheus-svc
Namespace:    monitor
Labels:       <none>
Annotations:  <none>
Subsets:
  Addresses:          10.30.140.82
  NotReadyAddresses:  <none>
  Ports:
    Name     Port  Protocol
    ----     ----  --------
    <unset>  9090  TCP

Events:  <none>
[root@k8s-master-1 ~]# kubectl describe svc prometheu

[2020-07-15 02:00] chendave commented on #93013
@ahg-g  @alculquicondor  thanks for correcting me, cannot agree more! Let's focus on the common case.

[2020-07-15 03:31] bryanhanner opened #93090 "Volume fails to attach when the k-c-m leader changes"
**What happened**:
A volume never successfully attaches to a node. Note for the timeline that we run k-c-m with high availability. Also note that Palantir’s clusters may see the issue more often than others because we replace both the nodes using the volumes and the nodes running kube-controller-manager automatically on a regular basis.

Timeline:
1. node A launches (ip-10-0-55-221.AZ.compute.inte

[2020-07-15 03:32] bryanhanner commented on #93090
/sig storage

[2020-07-15 03:40] mzyfree opened #93091 "iptables rule CNI-HOSTPORT-DNAT never come back after restart firewalld.service"
**What happened**:
I have run kubernetes cluster while enable and running the firewalld.service on three node.
[code]
After I restart firewalld.service, it will clean up all iptables rule,including the kube-proxy iptables rules and CNI iptables rules.
[code]
After I wait for 30 seconds(iptables-sync-period), all iptables rules that belong to kube-proxy and CNI plugin calico are back on the node.Be

[2020-07-15 03:55] mzyfree commented on #93091
/sig Network

[2020-07-15 05:41] SetarehStar opened #93094 "AKS - AGIC - Application Gateway Multi Site Listener"
I need help about Application Gateway Ingress Controller. It does not set the application gateway listener to multi site when there are 2 hosts with same service name and same port.
Please let me know if I am missing anything in this following deployment yaml:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
name: ingress-certificate
namespace: default
annotations:
     kubernetes.io/ingres

[2020-07-15 06:39] yuexiao-wang commented on #93010
Agree with @BenTheElder
@ITBOX-ITBOY You can get the list of validated docker versions from CHANGELOG-1.16.md and CHANGELOG-1.17.md.
The current list is 1.13.1, 17.03, 17.06, 17.09, 18.06, 18.09. 19.03.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.17.md

[2020-07-15 06:55] yuexiao-wang commented on #93010
/sig  node

[2020-07-15 07:11] zhb127 opened #93097 "prestop container hook, stuck in terminating state, rpc error: code = Unknown desc = operation timeout: context deadline exceeded"
**What happened**:

![image](https://user-images.githubusercontent.com/5210208/87514367-b74a5d00-c6ac-11ea-9ab5-c0b78f5eeb05.png)

![image](https://user-images.githubusercontent.com/5210208/87514336-ab5e9b00-c6ac-11ea-9ed0-5c13f39512da.png)

pod stuck in state: terminating

**What you expected to happen**:

pod ends normally。

**How to reproduce it (as minimally and precisely as possible)**:

![im

[2020-07-15 07:15] aojea opened #93098 "Investigate IPv6 (possible) slowness"
It may be environmental, it may be all or some of the pieces that form a Kubernetes cluster,  golang, CNI, etcd, iptables but my observations are that IPv6 cluster are performing worse than IPv4 ones, some order the magnitude slow, and another people is finding similiar behaviors as reported here i.e.

_Originally posted by @robscott in https://github.com/kubernetes/kubernetes/issues/92965#issueco

[2020-07-15 07:15] fzyzcjy commented on #85074
Same issue here. Did you find the solution

[2020-07-15 07:15] aojea commented on #93098
/assign

[2020-07-15 07:15] aojea commented on #93098
/sig-network

[2020-07-15 07:18] zhb127 commented on #93097
/sig/autoscaling

[2020-07-15 07:30] #92931 closed

[2020-07-15 08:00] zhouya0 opened #93100 "Remove generators from kubectl commands"
As @soltysh suggests:
kubectl command are going to get rid of the dependency to the generators, and ultimately remove them entirely.
The main goal is to simplyfy the use of kubectl command.
This is already done in `kubectl run`, see https://github.com/kubernetes/kubernetes/pull/87077 and https://github.com/kubernetes/kubernetes/pull/68132.

Example PR that removes generators : https://github.com/k

[2020-07-15 08:00] zhouya0 commented on #93100
/sig cli
/kind cleanup

[2020-07-15 08:12] chendave commented on #93013
/assign

[2020-07-15 08:29] vacheli commented on #76772
Could you share the process and method of troubleshooting?

[2020-07-15 08:35] rdxilano commented on #93062
/sig Scheduling

[2020-07-15 09:22] aojea commented on #91774
hi folks,
@hkamel @hasheddan this is green since 06-03
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness&width=20&include-filter-by-regex=network&include-filter-by-regex=should%20update%20nodePort

should we close?

[2020-07-15 09:31] aojea commented on #92886
This has to improve with the new kind image
Let's keep it 1 week more
https://k8s-testgrid.appspot.com/sig-testing-kind#pull-kubernetes-conformance-kind-ipv6-parallel&width=5&sort-by-flakiness=

I also would like to keep informing on PRs once it recovers its stability, we had an IPv6 regression that could be caught :/
https://github.com/kubernetes/kubernetes/issues/92965

[2020-07-15 09:34] aojea commented on #91236
This is improving in KIND with the new changes we rolled out yesterday, let's see how it evolves this week
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=kind&test=conntrack

[2020-07-15 09:41] njuicsgz opened #93105 "AppArmor does not work in k8s 1.15"
**What happened**:
Create Pod with AppArmor according to `https://kubernetes.io/docs/tutorials/clusters/apparmor/`.

I want to forbid command `mount` in container, but it fails. Am I missing anything?

**What you expected to happen**:
`mount` command is forbidden as my spec configurated.

**How to reproduce it (as minimally and precisely as possible)**:
kubectl create -f pod.yaml
[code]

**Anythin

[2020-07-15 09:44] aojea commented on #93098
/remove-triage unresolved

[2020-07-15 09:45] ashrayjain commented on #93090
Potentially similar to https://github.com/kubernetes/kubernetes/issues/92145

[2020-07-15 09:47] bpineau opened #93106 "Azure cloud provider hits the VMSS VMs List API more than it should"
**What happened**:

Running a non-AKS k8s v1.18.5  cluster on Azure, with 50 VMSS attached (each containing one or two nodes).

When we do attach several new VMSSes, or create/replace several nodes, the controller-managed gets quickly throttled by Azure API, for instance like so:
[code]

Having a closer look at the cloud provider code, we see controller-manager would re-scan all attached VMSS on c

[2020-07-15 09:57] CzarMich commented on #89028
Hey, I am having the same question. The possibility of implementing ABAC for Different users with different permissions  determined at application layer. In this case, different users on different Pods which have different applications with users who have different roles and tasks. E.g Having different sections of a view. .

Could there be a general discussion on this?

[2020-07-15 09:57] dennis-benzinger-hybris commented on #91340
We've seen such messages when the "missing" nodes have taints. For example the master nodes.

[2020-07-15 10:44] Scorpiion commented on #91665
Hi, I have also run into the exact same issue. I have tested on two clusters and both show CPU Capacity to be half the number of CPUs on the nodes.

Do anyone know why this is happening or any workarounds?

[2020-07-15 11:00] Scorpiion commented on #91665
I just figured out why this is happening, it's a side effect of the GKE sandbox disabling hyperthreading on the nodes. To my understanding on google compute engine (and hence GKE) one vCPU is equal to one hyperthread. When hyperthreading is disabled I'm guessing the definition of a core becomes different, maybe the number of underlying physical cores rather than hyperthreads.

The second link belo

[2020-07-15 11:25] giuseppe commented on #92855
sorry for the late reply.  I think the issue is not in libcontainer, but in the Kubelet asking for a out of range value for cpu shares.

I am not sure how it makes sense to set the number of shares in relation to the number of available CPUs, since it is a weight and not a limit.

The error you are seeing is coming straight from systemd: https://github.com/systemd/systemd/blob/master/src/basic/cgr

[2020-07-15 11:49] nikhita commented on #92901
/assign @maryamklabib

[2020-07-15 11:51] Omprakash50 commented on #65937
please help my efs-provisioner is in pending

[2020-07-15 11:52] RobertKielty commented on #92700
/reopen

[2020-07-15 11:55] RobertKielty commented on #92700
This job is still failing https://testgrid.k8s.io/sig-release-master-blocking#integration-master

[2020-07-15 11:56] nikhita commented on #76971
cc @maryamklabib

[2020-07-15 11:57] edo-lynx commented on #65937
@Omprakash50  can you post your efs-provisioner-runner clusterrole?

[2020-07-15 11:57] RobertKielty commented on #92700
It can be closed when a PR is submitted to fix the job in CI. Until then it will stay open.

[2020-07-15 12:02] avielb commented on #30617
for anyone who still gets it in my end the person I was helping with this problem had multiple accounts
can be viewed by typing:
`gcloud auth list` and see if marked with *

[2020-07-15 12:06] vrathore18 opened #93111 "How to block a port in NetworkPolicy"
Cloud: AWS
Kubernetes cluster: EKS(1.17)
Installed calico
https://docs.aws.amazon.com/eks/latest/userguide/calico.html

Issue: In Networkpolicy, how can I block ports. I just need to block one port: 6379.

Because if I try to enable the required ports then, I guess I have to enable a thousand ports. The pods are running aws-sdk to connect to s3 and other services and I don't know which extra port

[2020-07-15 12:10] vrathore18 commented on #93111
/sig network

[2020-07-15 12:10] Omprakash50 commented on #65937
#efs-provisioner

kind: Deployment
apiVersion: apps/v1
metadata:
  name: efs-provisioner
spec:
  selector:
    matchLabels:
      app: efs-provisioner
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: efs-provisioner
    spec:
      containers:
        - name: efs-provisioner
          image: quay.io/external_storage/efs-provisioner:v0.1.0

[2020-07-15 12:20] edo-lynx commented on #65937
@Omprakash50  can you please also post your 'role'
name- leader-locking-efs-provisioner

[2020-07-15 12:20] hasheddan commented on #92700
@RobertKielty this issue is not reflecting the failure we are seeing on https://testgrid.k8s.io/sig-release-master-blocking#integration-master. Please see https://github.com/kubernetes/test-infra/pull/18196#issuecomment-658000292. It may be good to open another issue to track that. I plan on submitting a fix today.

/close

[2020-07-15 12:20] #92700 closed

[2020-07-15 12:28] maelk commented on #91601
Hi! We are hitting the same issue. However, we see the same problem with deployments, where we use anti-affinity to make sure a pod gets scheduled on each node or a pod selector targeting the specific node.
Simply creating a pod with a node selector set to match the hostname of the failing node was sufficient to cause the scheduling to fail. It was saying that 5 nodes were not matching the selecto

[2020-07-15 12:32] wuestkamp commented on #79833
I have the same issue with 1.15.15: I set the `--cpu-cfs-quota-period=5ms --cpu-cfs-quota=true` but it doesn't have an effect on the actual docker containers?

[code]

[2020-07-15 12:39] liggitt commented on #93067
Setting it in PrepareForCreate would mean pods created before the field was introduced would be returned with an empty field value and would be missed by the default scheduler

[2020-07-15 13:26] #91665 closed

[2020-07-15 13:32] reinhaun commented on #74551
I also get this. Running Airflow on EKS
`Client Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.6-beta.0", GitCommit:"e7f962ba86f4ce7033828210ca3556393c377bcc", GitTreeState:"clean", BuildDate:"2020-01-15T08:26:26Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.11-eks-af3caf", GitCommit:"af3caf6

[2020-07-15 13:39] alculquicondor commented on #93067
That's true. But with scheduling profiles it becomes easier for users to have more profiles and thus there is more motivation to have automation (such as webhooks) around them. But since backporting poses extra risk, I'm ok with leaving this to 1.20.

That would only affect pods that didn't get scheduled, right? However, the field is there since 1.6

[2020-07-15 13:45] jayunit100 commented on #92618
- ok, so did the tests pass `sonobuoy status` ?
- btw to paste the logs in GitHub markdown, you can use

[code]
        my test logs in here...
[code]

[2020-07-15 13:50] jayunit100 commented on #90838
@liuxu623 can you come to signet work the wk after next to discuss this feature / bug fix ? It looks like there are different opinions on it .

[2020-07-15 13:51] alculquicondor commented on #92649
A scheduling profile takes as the "default" profile as base. So you have to disable any plugin that you don't need and enable the ones you need.

I opened kubernetes/website#22530 (I didn't know we had such page).

And yeah, we won't add any new features in Policy API.

[2020-07-15 13:51] alculquicondor commented on #92649
/close

[2020-07-15 13:51] #92649 closed

[2020-07-15 13:58] #85630 closed

[2020-07-15 13:59] alculquicondor commented on #91340
Do the pods have tolerations for them, or fails for both present and absent?

/close

Please answer in #91601, so we dedup

[2020-07-15 13:59] #91340 closed

[2020-07-15 14:01] jayunit100 commented on #91236
@aojea  - which changes ? Are you saying this is *no longer* reproducible on Kind?

[2020-07-15 14:11] adriananeci commented on #90801
I've did some stress tests on a fresh new cluster and noticed that the higher the number of cronjobs is set, the more delayed the cronjobs are.

[code]

- with 1000 cronjobs:
[code]

- with 500 cronjobs
[code]

- with 250 cronjobs
[code]

- with 100 cronjobs
[code]

- with 50 cronjobs
[code]

- with 10 cronjobs
[code]

- with 5 cronjobs
[code]

Also you can find the controller manager metrics duri

[2020-07-15 14:12] alculquicondor commented on #91601
Could you clarify if it starting failing after you created such pod or before? I assume this node didn't have a taint that the pod didn't tolerate.

@nodo is going to help to reproduce. Could you look at the code for NodeSelector? You might need to add extra log lines while testing. You can also print the cache.

- Get PID of kube-scheduler: `$ pidof kube-scheduler`
- Trigger queue dump: `$ sudo k

[2020-07-15 14:13] alculquicondor commented on #91601
/unassign

[2020-07-15 14:16] jayunit100 commented on #92559
I guess at this point, changing the defaults isn't really something that is guaranteed to be a win, but rather, just a decision that will trade one outcome for another.  I suspect by decreasing cache times:
- https://github.com/kubernetes/kubernetes/issues/91236 <- issues like this might get better (large scalability tests)
- issues for new apps/databases/consensus seeking pods are going to improv

[2020-07-15 14:21] maelk commented on #91601
We were already seeing some daemonset and deployment stuck in "Pending" before we tried deploying this test deployment, so it was already failing. and the taints had been removed from the node.
Right now we lost the environment where this was happening because we had to reboot the nodes so the issue is not visible anymore. As soon as we reproduce, we will try to come back with more info

[2020-07-15 14:32] andrewsykim commented on #93057
@situjianxiong thanks, this is actually a known bug in v1.18 if you're using an old kernel (typically CentOS 7). We patched this bug here https://github.com/kubernetes/kubernetes/pull/90678. Should be fixed if you upgrade to the latest v1.18 patch release

[2020-07-15 14:34] andrewsykim commented on #93057
I believe that patch was added in v1.18.3 to be specific

[2020-07-15 14:57] alculquicondor commented on #91601
Please do so. I have tried to reproduce this in the past without success. I'm more interested in the first instance of failure. It might still be related to taints.

[2020-07-15 14:59] soltysh commented on #93100
I'm going to assign this to myself, since I'm overlooking this entire effort and this will allow me easier to track it :)
Thanks @zhouya0

[2020-07-15 15:03] joelsmith commented on #93032
/area security
/kind bug
/committee product-security
/sig node
/area kubelet

[2020-07-15 15:09] #93032 closed

[2020-07-15 15:12] liggitt commented on #92070
looks like https://github.com/etcd-io/etcd/pull/12106 will pick that to etcd 3.4, then we'd need a 3.4.10 tag and a bump in k8s.io/kubernetes

[2020-07-15 15:25] hasheddan opened #93112 "[sig-scheduling] IPAM / Scheduler Performance tests fail on timeout"
**Which jobs are failing**:

`integration-master (ci-kubernetes-integration-master)`

**Which test(s) are failing**:

`k8s.io/kubernetes/test/integration/ipamperf.TestMain`
`k8s.io/kubernetes/test/integration/scheduler_perf.TestMain`

**Since when has it been failing**:

`07-12-20 00:15 CDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#integration-master

**Reason for f

[2020-07-15 15:34] prashantkalkar commented on #70585
@chiluk @draveness
I am running the ubuntu 20.04 Focal AMI

[code]

The Kubernetes version is: `1.14.10`

I have configured the CPU manager static policy `--cpu-manager-policy=static` as kubelet parameter (using Kops)
The node has 4 CPU cores and CPU Kube reservation and system reservations are set to 100m each.

Here is my pod resource configuration:

Limits:
	cpu:     1
	memory:  1Gi
Requests:

[2020-07-15 15:35] andrewsykim commented on #93057
Gonna close this, @situjianxiong feel free to re-open if upgrading to v1.18.3 doesn't fix this issue

/close

[2020-07-15 15:35] #93057 closed

[2020-07-15 15:36] apelisse commented on #76971
Haven't we done that? I can remember spending too much time doing that :-(

[2020-07-15 15:43] brannondorsey commented on #93079
I've been able to get the scheduler to use `ImageLocalityPriority` properly by using a policy file containing YAML instead of JSON (JSONC I suppose, as the original config file posted above had comments. Perhaps this was the issue.)

Here is the `configmap.yaml` that gets mounted in the kube-scheduler deployment.

[code]

Verbose logging with `--v=10` still doesn't print each node's score for `Ima

[2020-07-15 15:45] apelisse commented on #76971
OK No, I haven't, I think I've done server-side apply sub-resources tests.

[2020-07-15 15:49] aermakov-zalando commented on #93032
If this is a security issue, should I re-report https://github.com/kubernetes/kubernetes/issues/83107 as one as well? It's allows the same thing (consuming arbitrary disk space on the node), but you don't even need `/etc/hosts` to be writable, any directory would do.

[2020-07-15 15:55] aojea commented on #91236
https://github.com/kubernetes-sigs/kind/pull/1729

there was a lot of noise in the CI signal, especially in KIND jobs due to the CNI portmap bug we finally solved yesterday

https://github.com/kubernetes/kubernetes/issues/91236#issuecomment-647435274

now we should have a better signal and we can go to the bottom because probably the failure will be  "legit" and not a consequence, so this comment

[2020-07-15 16:03] tallclair commented on #92914
/area security
/kind bug
/committee product-security
/sig api-machinery
/area apiserver

[2020-07-15 16:09] ahmetb commented on #77666
It also will cause most plugins that exist today to fail. Majority of the plugins don't support global options from kubectl and potentially this behavior, but they do strict CLI options validation. So starting to pass new flags down to plugins is breaking behavior.

[2020-07-15 16:11] joelsmith commented on #93032
@aermakov-zalando please direct security disclosures or questions about security disclosures to one of the methods outlined here: https://kubernetes.io/docs/reference/issues-security/security/#report-a-vulnerability

[2020-07-15 16:25] aermakov-zalando commented on #77666
Sorry! Misclicked.

[2020-07-15 16:28] jonesbr17 opened #93114 "Update apt to version 1.8.2.1 in debian base image"
**What happened**: The latest release of the debian-base image, v2.1.0, contains a vulnerable version of the apt package. This [CVE](https://security-tracker.debian.org/tracker/CVE-2020-3810) impacts apt version 1.8.2.

**What you expected to happen**: Image should be updated to use at least apt 1.8.2.1 to clear the vulnerability.

**How to reproduce it (as minimally and precisely as possible)**:

[2020-07-15 16:31] jonesbr17 commented on #93114
/sig release

[2020-07-15 16:32] zopanix opened #93115 "Allow updating volumeClaimTemplates labels"
**What would you like to be added**:
Hey,

I recently tried to update the labels for an existing volumeClaimTemplate inside a statefulset. Kubernetes errored out with the following message:

[code]

I honnestly expected to be able to update labels and annotations wherever I put them.

Current change was to fix a typo:
[code]
Obviously, I want to change `sotrage` to `storage`.

**Why is this needed

[2020-07-15 17:08] seh commented on #86784
/remove-lifecycle stale

[2020-07-15 17:13] vrathore18 commented on #93111
This is my network policy.

`kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: net-document
  namespace: default
spec:
  policyTypes:
  - Egress
  - Ingress
  podSelector:
    matchLabels:
      app: test-document
  ingress:
  - {}
  egress:
  - to:
    ports:
    - port: 53
      protocol: TCP
    - port: 53
      protocol: UDP
    - port: 5000
      protocol: TCP
    - port:

[2020-07-15 17:41] dvaldivia commented on #92559
I was thinking the other day that the previous `kube-dns` had a nice model to injecting new DNS configurations into the cluster via a a config map, why not grab inspiration from this previous approach (and ingress) and come up with a new Resource to be able to customize the DNS? just throwing this out there for feedback

@jayunit100 I'm down to collaborate in whatever means necessary, either by fi

[2020-07-15 18:53] adtac opened #93117 "scheduler: support arbitrary workloads in integration benchmarks"
Currently the Kubernetes scheduler integration benchmarks support workloads of a particular kind -- simulated nodes are created and then an initial set of pods are scheduled. Once this setup is complete, a second and final set of pods are scheduled and various metrics are measured. I propose improving this to support arbitrary workloads that can support benchmarking heterogeneous mixture of pods,

[2020-07-15 19:04] jtslear commented on #65200
Due to reaching the code freeze deadline, I'm going to bump this to the next release.

/milestone v1.20

[2020-07-15 19:05] jtslear commented on #89267
Due to reaching the code freeze deadline, I'm going to bump this to the next release.

/milestone v1.20

[2020-07-15 19:06] jtslear commented on #90698
Due to reaching the code freeze deadline, I'm going to bump this to the next release.

/milestone v1.20

[2020-07-15 19:06] jtslear commented on #70249
I still see  a couple open PR's.  Due to reaching the code freeze deadline, I'm going to bump this to the next release.

/milestone v1.20

[2020-07-15 19:07] jtslear commented on #58012
Due to reaching the code freeze deadline, I'm going to bump this to the next release.

/milestone v1.20

[2020-07-15 20:04] Huang-Wei commented on #93079
Actually JSON used to be the only supported format, until #75852 is resolved in 1.15.

The plugin system can be used as long as the plugin API is available in that release. However, the code quality in 1.15 is still alpha, so don't be surprised with potential quirky issues, although I haven't heard of any.

If the problem that JSON format doesn't work can be reproduced in a higher k8s version, sur

[2020-07-15 20:06] endocrimes commented on #92904
@rushi47 As it was stated in the issue you referenced, this is part of the design of containers. The containers share a kernel with the host, cgroups and namespaces are basic constructs to isolate the process, but unless the process itself is written in a way that will introspect its cgroups/namespaces, it will fall back to querying the host information.

There isn't really anything we can practic

[2020-07-15 20:09] rikatz commented on #93091
Hi @mzyfree, how have you installed your cluster? kubeadm? manually? Are you using some sort of cloud-provider?

I've taken a look into the code and didn't found the CNI-HOSTPORT-DNAT chain, so I'm guessing this is specific to the CNI and this being called by Calico (I can't remember if Calico does this, needs to test) there's a need to check with the right project the rules reconciliation.

Somet

[2020-07-15 20:12] zopanix commented on #93115
/sig api-machinery
--

[2020-07-15 20:13] zopanix commented on #93115
Hey, I think this should be api-machinery but I'm not sure. I'm sorry if I misundertood your role

[2020-07-15 21:03] 2rs2ts commented on #83332
Seeing something similar, where instead of the apiservice being down, it's not routable on a new EC2 instance yet because kubelet hasn't started. It looks like kube-apiserver starts serving requests but shortly thereafter starts shutting down because it can't reach our external apiservices. The underlying issue might not be the same for these two scenarios, but the problem of how kube-apiserver po

[2020-07-15 21:15] BarnumD commented on #73412
This seems to occur on Azure file where Mongo has previously told the file share to delete a file and the azure file did not acknowledge the request or otherwise failed to close the file.  You can see that there are files open with`$storageContext = New-AzStorageContext -StorageAccountName "storage_account_name" -StorageAccountKey "storage_account_key"` and  `Get-AzStorageFileHandle -Context $stor

[2020-07-15 22:28] #90921 closed

[2020-07-15 22:53] fmehrdad commented on #92618
it did fail
[code]

[2020-07-15 22:53] fmehrdad commented on #92618
do you want me to upload the tar file?

[2020-07-15 23:09] msau42 commented on #93042
cc @gnufied who fixed some issues around AfterEach ordering.
@kubernetes/sig-storage-test-failures

[2020-07-15 23:09] zerkms commented on #66450
/remove-lifecycle stale

[2020-07-15 23:24] cjcullen opened #93129 "Allow kubectl (and client-go and other client libs) to not follow redirects"
**What would you like to be added**: A field in kubeconfig, and a flag to kubectl to prevent the underlying client from following any redirects.

**Why is this needed**: kubectl generally doesn't need to follow redirects. In most cases, following redirects is potentially dangerous.

[CVE-2020-8559](https://github.com/kubernetes/kubernetes/issues/92914) would not have been an issue if kubectl didn'

[2020-07-15 23:43] liggitt commented on #93129
(also client-go, I assume, and rest.Config)

[2020-07-15 23:56] tallclair commented on #93129
Related: https://github.com/kubernetes/enhancements/pull/1899.

[2020-07-16 00:05] jayunit100 commented on #92618
ok, so networking is definitely fundamentally broken on this cluster.
next step is to diagnose *all* the failing tests.

1) Determine what else is broken...

- Run this: `sonobuoy run --e2e-focus "Conformance" --wait=10`,
- Then, when its done, do `sonobuoy retrieve`.
- then do `find e2e.log` and copy *those* results into a gist.

My suspicion here is that many different network and pod related te

[2020-07-16 01:02] njuicsgz commented on #93105
/sig node

[2020-07-16 01:16] gnufied commented on #93042
Yeah this is unfortunate side effect of AfterEach/defer and AfterSuite racing with each other but since this problem only manifests itself when testsuite is interrupted and at that point testsuite is marked as failed anyways, does it matter?

[2020-07-16 01:23] msau42 commented on #93042
Ah so if a testsuite is timing out and gets interrupted, then this could happen?

[2020-07-16 01:39] abhiraut commented on #93111
your network policy spec will allow egress to only the specified ports (which also includes port 6379?, you may want to eliminate this port from the list to get your desired behavior)
You may need to open an issue in Calico (your cni provider for policy) as the network policy realization will be handled by it. Its possible you need more ports open or some other underlying issue (aws calico experts

[2020-07-16 01:53] abhiraut opened #93131 "NetworkPolicy describe output for egress-all should mention destination instead of source"
**What happened**:
A NetworkPolicy to allow egress to all Pods should use the term "destination" instead of "source" while `kubectl describe`

example:

[code]

**What you expected to happen**:
should instead be

[code]

[2020-07-16 01:54] abhiraut commented on #93131
/sig sig-network

[2020-07-16 01:59] mzyfree commented on #93091
"how have you installed your cluster? kubeadm? manually? Are you using some sort of cloud-provider?"
I use `kubeadm init` to install kubernetes cluster and there is no cloud-provider.

"I've taken a look into the code and didn't found the CNI-HOSTPORT-DNAT chain."
The code that creates the rule CNI-HOSTPORT-DNAT is in portmap cni code and my portmap cni version is 0.6.0.
Here is the code file: `sr

[2020-07-16 02:16] #90914 closed

[2020-07-16 02:19] abhiraut commented on #93131
/sig network

[2020-07-16 02:51] liuxu623 commented on #92378
I think the problem maybe is `podStatuses` map is updated but patch apiserver pod status failed.

[2020-07-16 02:56] tedyu commented on #92378
Related: #89155

[2020-07-16 03:13] jayaise opened #93135 "Kubernetes Pod PUT Rest API not equivalent to kubectl replace -f testPod.yaml --force"
**What happened**: Trying to deploy the pod directly. Kubernetes Pod Rest API - PUT (https://kube-url/api/v1/namespaces/default/pods/test-pod)does not do force replace. But kubectl command "kubectl replace -f testPod.yaml --force" works.

**What you expected to happen**: How to acheive force replace through POD PUT Rest API

**How to reproduce it (as minimally and precisely as possible)**: Use POD

[2020-07-16 04:20] nikhita commented on #82046
/remove-lifecycle stale

[2020-07-16 04:20] nikhita commented on #88981
/remove-lifecycle stale

[2020-07-16 04:21] nikhita commented on #84530
/remove-lifecycle stale

[2020-07-16 05:36] liggitt commented on #93135
You can see the API calls kubectl makes by adding --v=6 to the invocation. To change pod spec fields other than the image (and tolerations), a delete/recreate is required

[2020-07-16 06:46] jieya-ms commented on #91395
A work around in #https://github.com/kedacore/keda/pull/926

[2020-07-16 06:49] zhb127 commented on #93097
/sig autoscaling

[2020-07-16 06:51] ymmt2005 commented on #91395
Another workaround by editing generated CRD with sed:
https://github.com/cybozu-go/coil/blob/6afd89c1cd9261429a9a8ed408a33f144176e57f/v2/Makefile#L30-L33

[2020-07-16 06:55] ITBOX-ITBOY commented on #93010
Could you please provide the specific location? I did not find relevant information in the two versions you provided

[2020-07-16 07:23] yuexiao-wang commented on #93010
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md
![image](https://user-images.githubusercontent.com/20082558/87639636-1d4fe680-c778-11ea-8e5e-ad48489e3724.png)
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.17.md
![image](https://user-images.githubusercontent.com/20082558/87639745-48d2d100-c778-11ea-9dce-a65262d7cd32.png)

[2020-07-16 07:26] ITBOX-ITBOY commented on #93010
Thank you for your help

[2020-07-16 07:34] bart0sh commented on #92070
@Rajalakshmi-Girish

Please report it to etcd similar to how [the first bug was reported](https://github.com/etcd-io/etcd/issues/11992).

[2020-07-16 07:39] bart0sh commented on #92070
[the fix](https://github.com/etcd-io/etcd/pull/12106) is in the release-3.4 branch. However, 3.4.10 has not been released yet.

[go.mod PR](https://github.com/kubernetes/kubernetes/pull/93118) has been created as well.

[2020-07-16 07:48] saikrishnaa opened #93139 "Kubernetes Openstack-helm(multinode) Volume Issue[Unable to attach or mount volumes: unmounted volumes=[mysql-data],]"
**What happened**:
I was trying to deploy OpenStack on Kubernetes(multinode) Env.

While deploying the MariaDB and rabbitmq pods facing volume mounting issue. Please find the below errors:

MariaDB:

  Type     Reason       Age                 From             Message
  ----     ------       ----                ----             -------
  Warning  FailedMount  57m (x3 over 71m)   kubelet, master  U

[2020-07-16 08:01] vrathore18 commented on #93111
@abhiraut : port 6379 needs to be open to connect elasticache. Right now I am kind of stuck as I am not able to curl even opening port 80. Theoretically, It should work. I opened the issue with calico for the same.

[2020-07-16 08:09] knight42 commented on #93129
/assign

[2020-07-16 08:14] knight42 commented on #93129
how about adding a field to [rest.Config](https://pkg.go.dev/k8s.io/client-go@v0.18.6/rest?tab=doc#Config), say `FollowRedirect` which default to be false, so that we can configure the `http.Client` in [rest.RESTClientFor](https://pkg.go.dev/k8s.io/client-go@v0.18.6/rest?tab=doc#RESTClientFor) and [rest.UnversionedRESTClientFor](https://pkg.go.dev/k8s.io/client-go@v0.18.6/rest?tab=doc#UnversionedR

[2020-07-16 08:15] #86624 closed

[2020-07-16 09:10] reschex commented on #72220
Whilst I agree with the rest of the points, I want to dispell this notion before anybody else sees it and gives up on jq:

This is a perfectly valid use case for jq and doesn't require any further for loops or any other shell code for that matter.

[code]

[2020-07-16 09:17] #87220 closed

[2020-07-16 09:36] rach-sharp commented on #50375
+1

[2020-07-16 09:41] mariusmarais commented on #85395
Found this after some Googling... I have a related need which might help (hinder?) feature design here:

I would also like the K8S DNS server to return weight & priority for SRV requests, but ideally I would like that to happen based on "distance" from the requester. (I have no need to manually configure these.)

In my case I have a backend service A distributed over 3 zones accessed by another se

[2020-07-16 09:48] sgandon commented on #57601
Is there a way to specify a template for the *default* service account that is being used when a new namespace is created ? because that would be a ways of solving this issue I believe.

[2020-07-16 09:51] knrt10 commented on #57601
One way to do it is by mutating the admission controller, and then patch `automountServiceAccountToken: false` to it, so that when a user creates new namespace it won't be mounted.

[2020-07-16 10:12] ingvagabund commented on #93117
@adtac scheduler perf generates various percentiles which we can see and observe their changes over time. In case any of the percentiles unexpectedly rises or falls down multiple times in a row, it can be seen as something wrong/good happening in the code. With the improvements you suggest, can you ensure the percentiles will still be around the same values no matter how many times you run the new

[2020-07-16 10:17] #85978 closed

[2020-07-16 10:38] saikrishnaa commented on #93139
Labels :
wg/ K8s Infra
sig/storage

[2020-07-16 11:28] JensErat commented on #87615
We got some new potential insights in the issue in our stacks. With some confidence we assume rare connection drop on networking/infrastructure level due to high load with respect to connection numbers in specific situations, so in our case it wasn't network interfaces flipping. We especially had [bad issues with Prometheus federation because of this since they switched to http2 on client-side](ht

[2020-07-16 11:56] mkumatag commented on #92855
You are right, this is coming from the systemd library which is getting used in the libcontainer

With the above patch, I see kubelet is running fine but I don't think this is just good enough because while requesting the cpus in the pod is in terms of milicores which is 1000th of 1 cpu which is getting converted into `cpu.share` and assigned to the pod's cgroup. e.g: if the user requests a cpu of

[2020-07-16 13:31] #93033 closed

[2020-07-16 13:42] anandgbhat opened #93143 "conntrack entries are not getting cleared when pod moves"
**What happened**:
Service is having one pod as a backend.  kube-proxy is running in iptable mode. When the pod dies, stake conntrack entries are still remaining.  TCP connections to node ports are not getting terminated as both ends are active. But the conntrack entry is stake resulting in packets not reaching the backend.

**What you expected to happen**:
conntrack entries should be reset whenev

[2020-07-16 13:51] alculquicondor commented on #93117
That would be about making the cases deterministic, which they should be, according to the proposed API. Don't you think?

[2020-07-16 13:57] mikkeloscar commented on #90237
/remove-lifecycle stale

[2020-07-16 14:07] giuseppe commented on #92855
the `cpu.shares` value doesn't really limit the cpu time a process gets.  It is a weight used for the cgroups at the same level.  It looks to me that the Kubelet is using this mechanism simply to maintain some sort of priorities among the different pods (i.e. if pod A has double millicpus than pod B, then A gets double weight than B).

Before adding more complexity, I'd make sure why it is done th

[2020-07-16 14:09] jimmyseto commented on #48639
@mtanino - I'm curious as to why the wwids field was made to be an array of strings, as opposed to a string.  An FC volume only has one WWID, to my understanding.  Can you elaborate on this?  Thanks in advance for your help.

[2020-07-16 14:24] knight42 commented on #93129
I have filed #93144 to fix this issue, PTAL!

[2020-07-16 14:26] Avatat commented on #92690
/sig cloud-provider
/sig network

[2020-07-16 14:29] andrewsykim commented on #92708
Still digging into this but no good progress yet. The only difference in the IPVS job vs the standard `pull-kubernetes-e2e-gce ` is the kube-proxy mode and the GCP node image. The former is using `ubuntu` and the latter is using `gci`.

@msau42 do you know if the difference in node image could possibly lead to this test failure?

[2020-07-16 14:29] andrewsykim commented on #92708
The failure is the flex client pod failing to succesfully start up and timing out:
[code]

[2020-07-16 14:42] rikatz commented on #51891
/cc @jayunit100 @rikatz

[2020-07-16 14:52] maelk commented on #91601
We have reproduced the issue. I ran the command you asked for, here are the info :
[code]
Unfortunately that does not seem to help

[2020-07-16 14:54] rikatz commented on #23225
Hey folks, quick question as I've taken a look:

this seems to be already delivered by kubeadm as a default, so we can consider this a success, right? There are plenty other scenarios already running kube-proxy as a Daemonset.

Also Pod Priority Preemption is stable since v1.14, so @MrHohn @luxas @neolit123 wdyt? can we close this one?

[2020-07-16 14:59] rikatz commented on #93131
/sig cli

As this is something specific from kubectl :)

[2020-07-16 15:03] chrisohaver commented on #92559
CoreDNS is also configurable via ConfigMap.  If the default configurations do not suit a particular deployment, they can be altered.

[2020-07-16 15:15] dvaldivia commented on #92559
True but adding a single stub domain cannot be done so easily, since the Corefile has some Config that needs to be parsed or manually edited.

For applications that need to add something to CoreDNS they could simply include a resource in their yaml that adds a studDomain for example and some internal controller would rebuild the Corefile configuration and apply it. I like this since this resource

[2020-07-16 15:15] adtac commented on #93117
Two things:

1. One of the soft goals I have when working on this is to also submit a diff of the benchmark percentiles reports (old vs new) to show that the percentiles haven't changed much. Functionally, the old tests should be no different from the new ones, but I can't guarantee that the percentiles would be close enough to the old values until I run the benchmarks. From the first few workload

[2020-07-16 15:31] alculquicondor commented on #91601
Dumping the cache is for debugging, it won't change anything. Could you please include the dump?

[2020-07-16 15:32] alculquicondor commented on #91601
Also, assuming this was the first error, could you include the pod yaml?

[2020-07-16 15:34] maelk commented on #91601
that's pretty much everything that was dumped, I just removed the other nodes. This was not the first error, but you can see coredns pod in the dump, that was the first one. I am not sure what else you are asking for in the dump.
I'll fetch the yamls

[2020-07-16 15:35] chrisohaver commented on #92559
The kube-dns configmap was also in the kube-system namespace. CoreDNS is more configurable than the old kube-dns was; naturally its configuration is more complex.

There is a CoreDNS Operator project underway that would (eventually) expose these kinds of operations as custom resources, and process them as ConfigMap change. Although for the first version, it is focusing on upgrades and rollouts.

[2020-07-16 15:36] julianvmodesto commented on #88091
/remove-lifecycle stale

[2020-07-16 15:41] alculquicondor commented on #91601
Thanks, I didn't realize that you had trimmed the relevant node and pod.

[2020-07-16 15:43] alculquicondor commented on #91601
Could you include the scheduled pods though? Just in case there is a bug in resource usage calculations.

[2020-07-16 15:45] alculquicondor commented on #91601
`Requested Resources: {MilliCPU:1100 Memory:52428800 EphemeralStorage:0 AllowedPodNumber:0 ScalarResources:map[]}`

That `AllowedPodNumber: 0` seems odd.

[2020-07-16 15:47] maelk commented on #91601
Here are the other pods on that node :
[code]

[2020-07-16 15:48] maelk commented on #91601
All the nodes have allowedPodNumber set to 0 in the dump, but the other nodes are schedulable

[2020-07-16 15:49] liggitt commented on #93067
in the first release this field was introduced, the intent was for existing pods, when read, to have the same `spec.schedulerName` value they would have if they were newly created without setting that field. Populating the field via API defaulting on deserialization is how we accomplish that.

Now that the field has existed for O(years), it is likely a safe assumption that all persisted pods have

[2020-07-16 15:51] mikechengwei opened #93145 "Support the pod used nodeName schedule, volume controller can binding pvc to pod."
**What would you like to be added**:
Support the pod used nodeName schedule, volume controller can binding pvc to pod.
**Why is this needed**:
Now, when we use the nodeName field to run the Pod on a specific node, scheduler will skip update. This causes, the Volume controller to never start binding of the PVC.
The log like below:
[code]
The pod binding pvc resources will not start forever.

[2020-07-16 15:55] mikechengwei commented on #93145
/sig scheduler

[2020-07-16 15:55] mikechengwei commented on #93145
/scheduling

[2020-07-16 15:56] mikechengwei commented on #93145
/sig scheduling

[2020-07-16 16:02] maelk commented on #91601
The node yaml :
[code]

and the pod :
[code]

[2020-07-16 16:07] alculquicondor commented on #91601
Thanks a lot for all the information. @nodo can you take it?

[2020-07-16 16:11] alculquicondor commented on #93067
Is it fair to do for 1.20 then? With a proper `ACTION REQUIRED` release note.

[2020-07-16 16:32] chrisohaver commented on #92559
It's under the Cluster Addons SIG: https://github.com/kubernetes-sigs/cluster-addons

/cc @rajansandeep

[2020-07-16 16:38] jayunit100 commented on #92559
iirc core-dns often is still in cube-system namespace... (checked a few clusters to confirm just now)
[code]

[2020-07-16 16:41] abdennour commented on #34583
@ksummersill2  thank you! can you post an example for more elaboration

[2020-07-16 17:01] jayunit100 commented on #92559
@dvaldivia so , digging around I guess the defaults are really hardcoded in kubeadm.  Maybe we should  contribute to the cluster-lifecycle KEP for the CoreDNS operator, long term, to reduce this value.

[code]
I guess that would mean reassigning this to sig-cluster-lifecycle to triage it , and decide wether or not such a change to the Kubeadm defaults was valid.

[2020-07-16 17:01] apelisse commented on #90012
I'm fine settling on this for now.

[2020-07-16 17:01] #90012 closed

[2020-07-16 17:03] maelk commented on #91601
We're also trying with https://github.com/Nordix/kubernetes/commit/5c00cdf195fa61316f963f59e73c6cafc2ad9bdc now, to get more info

[2020-07-16 17:14] aramase commented on #60646
/unassign

[2020-07-16 17:23] lavalamp commented on #93042
@jpbetz I looked at the logs here and there's a ton of trace statements:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/91177/pull-kubernetes-e2e-gce/1282707814711562240/artifacts/e2e-448b3d7932-674b9-master/kube-apiserver.log

Could it be excessive logging slowing this down? (Tagging you because you recently added more detail to the traces IIRC)

[2020-07-16 17:24] cmluciano commented on #50495
@bowei @johnbelamaric Do we think this issue is still relevant with CoreDNS?

[2020-07-16 17:25] #88112 closed

[2020-07-16 17:25] #88225 closed

[2020-07-16 17:25] cmluciano commented on #91090
I think this should be included with the describe output and everything is updated in the v1 API for the 1.19 release too. Please reopen if this is still not working.

[2020-07-16 17:25] cmluciano commented on #91090
/close

[2020-07-16 17:26] #91090 closed

[2020-07-16 17:34] apelisse commented on #89374
/remove-lifecycle stale

[2020-07-16 17:35] apelisse commented on #89264
/remove-lifecycle stale

[2020-07-16 17:41] apelisse commented on #88182
We've definitely improved that, maybe let's close it for now.

[2020-07-16 17:42] apelisse commented on #87674
/remove-lifecycle stale

[2020-07-16 18:21] gnufied commented on #93042
yes that is the only way this race could happen. The thing is - function that is registered as `AfterEach` is also registered as an AfterSuiteAction - https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/framework.go#L186 , so if testsuite is interrupted and both callbacks start executing same code concurrently - then one of them can set `clientSet` variable to nil and cause the

[2020-07-16 18:33] Zheaoli commented on #93114
/assign

[2020-07-16 18:40] alculquicondor commented on #91601
/help

@maelk feel free to take this and submit a PR if you find the bug. The log lines you added are likely to be helpful. Otherwise, I'm opening to contributors.

[2020-07-16 18:57] #93135 closed

[2020-07-16 18:58] itkroplis opened #93153 "How to get kubectl get nodes output for one worker STATUS ready?"
Hi! K8s 1.18.2 (ubuntu 20 LTS) Multi-master cluster
I need shell bash command or script for get kubectl get nodes output for one worker node STATUS ready?
I see periodically worker status error. I want to made the alert for zabbix monitoring server if the status isn't ready to screaming ALERT
But I find commands only for any nodes :(
/sig Support Request

[2020-07-16 19:06] craiglpeters commented on #90336
Due to the discussion in https://github.com/kubernetes/kubernetes/pull/89629 this is no longer a priority

[2020-07-16 19:17] MikeSpreitzer commented on #93042
How is J. Random Developer supposed to know this when s/he gets these errors from CI?

[2020-07-16 19:22] garimakemwal commented on #87733
Encountering the same error, are there any updates?

[2020-07-16 19:25] elweb9858 commented on #93061
This issue is causing pull-kubernetes-e2e-azure-disk-windows test to fail in this PR https://github.com/kubernetes/kubernetes/pull/93080, which is blocking merging. Is there a work around for this?

[2020-07-16 19:36] anfernee commented on #92965
@robscott Curious why IPv6 IP allocation is slower than IPv4? Any difference between those 2?

[2020-07-16 19:37] apelisse commented on #92913
cc @jpbetz

We should be able to reproduce this, but I suspect that's *working as "intended"*.

A few pointers:
- NetworkPolicy/LabelSelector: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/networking/v1/types.go#L54-L60
- LabelSelector definition: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L1095-L1104

[2020-07-16 19:39] apelisse commented on #92913
Thanks @skuffe for the detailed steps, that was extremely precious!

[2020-07-16 19:49] liggitt commented on #92913
at first glance, it seems like the selector should be atomic... the subfields of the selector are not really independent. I have a hard time envisioning multiple actors collaboratively defining a selector through iterative updates.

[2020-07-16 19:53] apelisse commented on #92913
Agreed. AFAICR, I don't think there is a way to set atomic on the struct rather than on the usage of the struct, which means that everything that uses `metav1.LabelSelector` would have to set it as atomic.

[2020-07-16 20:08] liggitt commented on #93067
Not really... API changes like that (removing a field from a GA type or changing an API-level default) are not something we change for the lifetime of a given API version. Admission webhooks today can rely on defaulting having been applied to the object they receive.

[2020-07-16 20:22] kvaster opened #93157 "EndpointSlices resource is not created for selector less services"
**What happened**:
We're using k8s with cilium as CNI backend.
Recently we discovered that cilium will not create any endpoint entries for services without selector.
After investigation we found that endpointslices resource will be not created in case we will create endpoint resource manually.

**What you expected to happen**:
Corresponding endpointslices resource should be created automatically a

[2020-07-16 21:08] lavalamp commented on #93067
The problem basically is that a webhook can't tell if a user set this field, or it was defaulted.

Post 1.18, we could figure this out from looking at the SSA field managers if those were set prior to calling webhooks. @apelisse do you recall if we set field managers that early?

I think it's pretty reasonable to ask for SOME way of figuring this out.

Let's think about who this would break, if we

[2020-07-16 21:09] mmiara opened #93161 "Kubernetes upgrade fails with context deadline exceeded"
When upgrading kubernetes cluster with kubeadm, I am seeing the below errors when running "kubeadm upgrade plan". I am not sure how to work around these errors. I am able to wget the files from the URL's mentioned below, so I do not think this would be a connectivity issue. I am running a 1.16 cluster attempting to upgrade to 1.17:
[code]

[2020-07-16 21:20] lavalamp commented on #93042
Yeah, ideally the test framework wouldn't give us extra spurious errors when it times out.

[2020-07-16 21:44] lavalamp commented on #92374
Do we need to let webhook & AA authors state which egress the call should go from?

[2020-07-16 21:58] msau42 commented on #92708
Looking at one failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gci-gce-ipvs/1283820422164385793

[code]

It also looks like after you switched to gci, the test started passing. I wonder if the flex volume discovery directory is configured differently in the ubuntu setup although it's supposed to be exactly the same as cos. cc @verult

[2020-07-16 21:58] robscott commented on #92965
I'm not sure why, but @aojea did create a [follow up issue](https://github.com/kubernetes/kubernetes/issues/93098) to look into it. As I was testing I think even a 1 second delay between pod and service creation was sufficient for an IPv6 address to be consistently assigned to the Pod before syncService was called. Without that, the initial syncService call always happened before an IPv6 address w

[2020-07-16 22:04] msau42 commented on #92708
Looking at the node logs:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/91824/pull-kubernetes-e2e-gci-gce-ipvs/1283820422164385793/artifacts/e2e-6878a8b711-2e794-minion-group-ln4n/kubelet.log

The configured directory looks correct:
[code]

[2020-07-16 22:13] lavalamp opened #93163 "pull-kubernetes-node-e2e fails half the time"
**Which jobs are failing**:
pull-kubernetes-node-e2e fails about 50% of the time

**Which test(s) are failing**:

Unclear, at least some of the failures are timing out.

**Since when has it been failing**:

At least 2 days, but probably longer

**Testgrid link**:

https://prow.k8s.io/?job=pull-kubernetes-node-e2e

**Reason for failure**:

I do not know.

**Anything else we need to know**:

This is

[2020-07-16 22:14] lavalamp commented on #93163
https://github.com/kubernetes/kubernetes/pull/91177 has been blocked for many days.

[2020-07-16 22:15] lavalamp commented on #93042
I filed https://github.com/kubernetes/kubernetes/issues/93163.

[2020-07-16 22:34] msau42 commented on #93042
@kubernetes/sig-testing to investigate if the framework aftereach/aftersuite can be improved to avoid this race.

[2020-07-16 22:40] MHBauer commented on #91657
I've gotten some remote runs in targeting specifically the docker tests

1. This succeeds
[code]

2. This fails as I would expect it to
[code]

Should we now by default to `tags=dockerless` and then make sure to not use that tag for the docker specific test suite?

[2020-07-16 22:47] thomacos commented on #88554
Does someone know a good sample to be used as blueprint for such an automated e2e test?
As raised by @aarnaud in https://github.com/kubernetes/kubernetes/pull/80917#issuecomment-587931089.

[2020-07-16 22:48] msau42 commented on #92708
looks like flexvolume driver failed to initialize on the node due to permission errors:

[code]

[2020-07-16 22:53] johnbelamaric commented on #50495
I don't think CoreDNS does anything to fix this. @chrisohaver

I think the problem is we don't have real A records for pods. Ideally, we would have a single A record for the pod and then the headless service record would be a CNAME back to that pod. But right now IIRC, we create A records for all the endpoints, so the reverse lookup is non-deterministic. But that requires watching pods which you *

[2020-07-16 22:58] msau42 commented on #92708
@kubernetes/sig-storage-test-failures

[2020-07-16 23:08] DarthVader2409 commented on #79610
I think we might have found a workaround for this issue.We were seeing the same errors in our k8s clusters after we deleted some old CRDs to install new ones. Turns out that cycling the Kube-control-manager leader (docker kill on the master), helped us fix the issue.

[2020-07-16 23:14] msau42 commented on #92708
@mattcary has graciously volunteered to take a look at this

[2020-07-16 23:30] jsturtevant commented on #64801
a few related issues that are being worked on related to MustRunAsNonRoot:

- #91482
- #91414

and the pr to fix: https://github.com/kubernetes/kubernetes/pull/92355

[2020-07-16 23:39] liggitt commented on #93157
/assign @robscott

Isn't this handled by #91637 ?

[2020-07-16 23:41] ZhiFeng1993 commented on #81245
@oomichi  my understanding of this issue is to avoid dependence on the sub packages as much as possible, so why did we do this: https://github.com/kubernetes/kubernetes/pull/84613? This PR's upside is to make code structure more modular but at the same time makes this TODO(https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L67) more difficult. Which direction are we mo

[2020-07-16 23:51] jsturtevant opened #93165 "A PSP with apparmor annotations does not allow windows pods to be scheduled"
**What happened**:
If I have the a psp with apparmor annotations:

[code]

and I deploy a windows pod it gets blocked:

[code]

[code]
**What you expected to happen**:
Apparmor check is ignored for windows pods

**How to reproduce it (as minimally and precisely as possible)**:
see above

**Anything else we need to know?**:
Should be fixed/documented with work around as per #64801

**Environment**:

[2020-07-16 23:52] jsturtevant commented on #93165
/sig windows

[2020-07-16 23:57] jsturtevant commented on #64801
This has come up quite a bit and starting to find more scenarios where although it should be ignore not affect windows pods they are either blocked or don't get scheduled. I will start to look into more as well as the how it might work in regards to Gatekeeper.

/assign

[2020-07-16 23:57] andrewsykim commented on #92708
Thanks for looking into it!

[2020-07-16 23:58] andrewsykim commented on #92708
/retitle  [failing test] "Flexvolumes should be mountable when non-attachable" fails when using ubuntu node image

[2020-07-16 23:59] oomichi commented on #81245
@ZhiFeng1993 You are right and that is a nice point.
Works for making sub e2e packages created difficult dependency issues.
After this issues happened, we defined valid dependency way(sub frameworks can import core framework, but the core cannot import subs).

Now we are solving this issue to move core framework code into e2e test code or sub packages.
But that is really difficult to do that becau

[2020-07-17 00:04] BenTheElder commented on #93010
:+1:
/close

[2020-07-17 00:04] #93010 closed

[2020-07-17 00:13] cheftako commented on #92374
For webhooks (https://github.com/kubernetes/apiextensions-apiserver/blob/release-1.19/pkg/apis/apiextensions/v1/types.go#L131), we currently determine egress as per the KEP (https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190226-network-proxy.md)  based on URL (egress via control plan) vs Service (egress via cluster). Aggregator (https://github.com/kubernetes/kube-a

[2020-07-17 00:15] herikwebb commented on #75890
We're seeing this issue as well. We run a machine learning platform and many of the workloads trigger significant scale-ups causing new nodes and new [kiam](https://github.com/uswitch/kiam) agents to be spun up and often times the applications are attempting to fetch aws credentials before the agent is ready resulting in failures.

[2020-07-17 00:27] #93025 closed

[2020-07-17 00:37] robscott commented on #93157
Hey @kvaster, thanks for filing this issue! Jordan is completely right, this was solved with the [EndpointSliceMirroring controller](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190603-endpointslices/README.md#endpointslicemirroring-controller) introduced in Kubernetes 1.19. I initially underestimated the usage of custom managed endpoints and had thought that it would

[2020-07-17 00:37] #93157 closed

[2020-07-17 00:38] mattjmcnaughton commented on #91657
Oh that's awesome news :) @dims and @derekwaynecarr, curious to know what you envisioned as the most effective long term setting for the tests. Should we default to dockerless, with some tests using the dockershim, or default to using the dockershim, with only certain tests specifying `dockerless`?

I can see arguments for both :)

[2020-07-17 00:47] ZhiFeng1993 commented on #81245
@oomichi  thanks for the explanation. Today I did some research and I found several issues- most of them are about cycle import. One of them is this:

Based on the previous conversations in this issue, I think we've agreed to put log in the framework core, so that means we need to deprecate the fw/log package. Take `kubectl_utils.go` as an example, e2ekubectl uses e2elog, if we replace it with fw

[2020-07-17 01:15] mikechengwei commented on #93145
Currently we use deployment with specified pvc to deploy tidbmonitor. Can we change to use statefulset object?  Monitoring is about storage-related services.

[2020-07-17 01:26] zhouya0 commented on #93145
/assign

[2020-07-17 01:27] mikechengwei commented on #93145
/assign

[2020-07-17 01:27] mikechengwei commented on #93145
Hi, can you assign me to do it ? @zhouya0

[2020-07-17 01:28] zhouya0 commented on #93145
Yes, of course. :)
/unassign

[2020-07-17 01:29] mikechengwei commented on #93145
Thanks, I don’t know if this can be done, so I ask a feature request.

[2020-07-17 01:57] andrewsykim commented on #92761
@BjoernT I don't think we addressed the node ports case but @MrHohn had an issue open for this in https://github.com/kubernetes/kubernetes/issues/74383

I think we should add a similar fix we did for LB IP, I can work on a fix for this in the next few days.

[2020-07-17 02:01] andrewsykim commented on #74383
@MrHohn are you still working on a fix for this? Happy to take this one

[2020-07-17 02:12] jpbetz commented on #93042
I didn't think of this until now, but the tracing might be problematic with e2e tests. If I remember right, e2e tests set verbosity up pretty high, and the way tracing has always worked is that when verbosity is above 4, all traces get printed, even if the duration is less than the "logIfLong" threshold for the trace. The traces we added for request handling means we have an additional trace print

[2020-07-17 02:14] andrewsykim commented on #92761
Actually I think I may have misread the original issue description.

In your case it sounds like it's because there are no endpoints on the node which is why traffic is being dropped. Basing this off the rule with the comment `tools/xxx-nginx-ingress-controller:http has no local endpoints`.

Cluster internal traffic is allowed but the `externalTrafficPolicy: Local` behavior only applies for extern

[2020-07-17 02:26] oomichi commented on #81245
No, please don't do that. That is not a good direction.
The best way is
- move code which depends on e2ekubectl from the core to sub framework
- move code which depends on e2ekubectl from the core to e2e test code

without moving the code back to e2e core to avoid conflict against works like https://github.com/kubernetes/kubernetes/pull/84613

[2020-07-17 02:26] jpbetz commented on #93042
Opened https://github.com/kubernetes/kubernetes/pull/93170 to try reducing the verbosity of newly added traces. We could also try turning the tracing off entirely if reducing the verbosity does not help.

[2020-07-17 02:36] lavalamp commented on #93042
How about we make traces trigger by latency percentile rather than some
absolute duration? Then we could guarantee how many requests get traced.

On Thu, Jul 16, 2020, 7:27 PM Joe Betz <notifications@github.com> wrote:

[2020-07-17 02:47] jpbetz commented on #93042
That's a good idea.

The threshold for the newly added trace is 30s. For comparison the threshold we set on the individual verb handlers (create, update, ...) is 750ms. So I suspect the only problem here is that we always print all traces during e2e tests. I could disable this trace during e2e tests entirely (but still print it if the 30s is exceeded) to see if that mitigates the short term proble

[2020-07-17 03:00] jpbetz commented on #93042
Switched https://github.com/kubernetes/kubernetes/pull/93170 to only print the trace if the 30s threshold is exceeded, even when verbosity is high.

[2020-07-17 03:04] wawa0210 commented on #93165
/assign

I can fix it, it may take some time

[2020-07-17 03:09] jayunit100 commented on #92552
assuming we can close this now.

[2020-07-17 03:11] jayunit100 commented on #92552
/close

[2020-07-17 03:11] #92552 closed

[2020-07-17 03:17] jayunit100 commented on #92999
Are we assuming this is an ingress configuration/setup bug ? or its still a kubernetes core bug (just to level-set - none of these ingress controllers are part of kubernetes itself)

[2020-07-17 03:26] MrHohn commented on #74383
@andrewsykim Nope I'm not on this one at the moment, feel free to take it and thanks!

[2020-07-17 03:37] SataQiu commented on #93161
/cc

[2020-07-17 03:44] christming opened #93173 "use the k8s 1.16.1 then the nodeSelector can't use the labe name with the '-'"
**Which jobs are failing**:

set the deploy  with the nodeSelector configCode
...
nodeSelector:
    test-node-write: "1"

then kubectl label no test-node-001  test-node-write=1

the events shows:
0/6 nodes are available: 6 node(s) didn't match node selector.

and change the config wite  no “-”

nodeSelector:
    testnodewrite: "1"

then
kubectl label no test-node-001  testnodewrite=1

it works ！！！

[2020-07-17 03:52] SataQiu commented on #93161
Did you confirm that the Etcd was healthy before running the upgrade command?
`kubeadm` will try to fetch the current Etcd version when you run `kubeadm upgrade plan`.
https://github.com/kubernetes/kubernetes/blob/70f75bade43273bc790926a2f4e2dee5df477fad/cmd/kubeadm/app/phases/upgrade/compute.go#L110

[2020-07-17 03:55] christming commented on #93173
/sig Scheduling

[2020-07-17 04:00] skilxn-go commented on #93173
I don't understand what does

mean?

[2020-07-17 05:02] pptfz opened #93174 "rolling-update change to rollout question"
The rolling- Update command has been removed and replaced with the rollout command
The original implementation of rolling update can use the command `Kubectl rolling-update RC-demo --image=nginx:1.7.9`, but now how do I implement rolling update?

[Instructions for removing the rolling- Update command](https://github.com/kubernetes/kubernetes/pull/88057)

[2020-07-17 05:04] yqwang-ms commented on #87278
/remove-lifecycle stale

[2020-07-17 05:14] yqwang-ms commented on #88193
@SerialVelocity
The restartPolicy is a field of **PodSpec**, instead of a field of **ContainerSpec**.
So, it should also responsible to control the whole retry behavior for the pod.

Anyway, if you insist **PodSpec**.restartPolicy can only control **container** restartPolicy, the leftover restartPolicys for the pod are hardcoded, such as ImageNotFound/FailedMount are always retry. We would better

[2020-07-17 05:15] yqwang-ms commented on #87278
@liggitt could you pls take a time to reconsider this issue and below comment?
https://github.com/kubernetes/kubernetes/issues/88193#issuecomment-659858179

[2020-07-17 05:17] chiluk commented on #70585
The cpu.cfs settings look correct, even though I've never ssh'd into the pod to check. It looks like the cpuset was assigned to CPU 2, which also is likely correct.

I'm not sure how you then hit cfs "throttling" though.  You most definitely are hitting a performance limit because your application could use more cores, but you've only allowed it to use one.  There's a chance the cfs scheduler may

[2020-07-17 05:36] #88258 closed

[2020-07-17 07:17] JadeQin opened #93175 "ipvs mode can not handle externalIPs"
**What happened**:

When I use kube-proxy in ipvs mode, the node can not connect to master when I create a service with externalIPs which use the node ip, it shows `connect: no route to host`, when I `ping` the master ip, it shows `Destination Host Unreachable`, but the node can connect to other ip.  When I use iptables mode, but it works well.

**What you expected to happen**:

**How to reproduce

[2020-07-17 07:20] JadeQin commented on #93175
/sig network
/sig node

[2020-07-17 07:43] Zheaoli commented on #93114
https://github.com/kubernetes/kubernetes/pull/93154

[2020-07-17 07:56] aojea commented on #92886
/remove-triage unresolved

[2020-07-17 08:02] liqlin2015 commented on #86666
Will there be fix in k8s releases for this issue? We get the same problem with k8s v1.16.7, and Aggregated APIs  was used in our case.

[2020-07-17 08:21] webPageDev commented on #92676
/kind bug
/sig node
/area kubelet

[2020-07-17 08:28] #90336 closed

[2020-07-17 08:29] pancernik commented on #91601
/assign

[2020-07-17 09:32] Macrame commented on #43867
I hope to rename the namespace as it is very hard to delete the namespace and recreate all the pods especially them created by `cephadm`. Recreating pod will case much disagreeables.

[2020-07-17 09:33] adugeek commented on #92460
same error

k8s： 1.18.3
etcd Version:  3.4.3-0
kernel： 5.4.0-40-generic
ubuntu：20.04

E0716 14:44:37.210690       1 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"context canceled"}
E0716 14:44:37.211580       1 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"context canceled"}
I0716 14:46:15.043206

[2020-07-17 09:55] anandgbhat commented on #93143
/sig Network

[2020-07-17 09:55] hantmac commented on #93173
I have a nodeSelector with '-' and deploy success.

[2020-07-17 10:01] skilxn-go commented on #93173
so, after you changed
[code]
to
[code]

It works?

[2020-07-17 10:04] hantmac commented on #93153
Changing zabbix monitoring to Prometheus will solve your problem easily. 😄

[2020-07-17 10:11] FreeZhang61 commented on #92996
Hi,  @mattjmcnaughton    I've already created a pr which [address](https://github.com/kubernetes/kubernetes/pull/93180), please help me complete the review, thanks

[2020-07-17 10:48] mwennrich commented on #93145
I think this is related to https://github.com/kubernetes/kubernetes/issues/81725

[2020-07-17 11:06] praseodym commented on #70585
#75682 was never merged, so afaik this is not yet fixed in any Kubernetes version.

[2020-07-17 11:24] hantmac commented on #93173
The next works.
[code]

[2020-07-17 12:21] zhb127 commented on #93097
![image](https://user-images.githubusercontent.com/5210208/87785577-fc1bf280-c86a-11ea-8299-64ca535361f1.png)

Stuck all the time, Not forcibly terminated.

[2020-07-17 13:27] abhiTamrakar commented on #81127
This issue seems to be fit for my request for details on FIPS 140-2 compliance for kubernetes.
Is there any information available on this topic or shall I create a new issue? sorry if this was not related to the current one.

[2020-07-17 13:42] dennis-benzinger-hybris opened #93186 "Scheduler and cluster auto scaler don't agree on available resources"
**What happened**:
Sometimes we see a pod not being scheduled because the scheduler thinks there are not enough resources:
[code]
But on the other hand the cluster auto scaler thinks there are enough resources:
[code]
So the pod doesn't get scheduled but also no new worker node is being created.

**What you expected to happen**:
Either the pod is scheduled or the cluster auto scaler adds a worker

[2020-07-17 13:48] dennis-benzinger-hybris commented on #93186
/sig scheduling

[2020-07-17 14:01] max-rocket-internet commented on #79365
/remove-lifecycle stale

[2020-07-17 14:21] hasheddan opened #93187 "[Failing Test] [sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests (ci-kubernetes-e2e-gce-device-plugin-gpu)"
**Which jobs are failing**:

`gce-device-plugin-gpu-master (ci-kubernetes-e2e-gce-device-plugin-gpu)`

**Which test(s) are failing**:

`[sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests`

**Since when has it been failing**:

`07-17-20 02:31 CDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master

**Reason for failure**:

[2020-07-17 14:23] hasheddan commented on #93187
Appears to have started failing after https://github.com/kubernetes/kubernetes/commit/23b66eaabd3a535dbee6474638c5bf51e78fbcfa, which seems unrelated.

/cc @Riaankl

[2020-07-17 14:24] soltysh opened #93188 "kubectl --local is not quite local across all the commands"
This situation was discovered when I wanted to remove deprecated functionality in https://github.com/kubernetes/kubernetes/pull/90243. Unfortunately, due to how we are constructing client in almost every kubectl command this removal ended up with the following bug https://github.com/kubernetes/kubernetes/issues/90074.

The reason for that is that in each command's `Complete` method we create a cli

[2020-07-17 14:25] ahg-g commented on #93067
It is indeed tricky. One **ugly** solution is to add an annotation indicating that a default value was applied when unset. This would preserve the current behavior, but allow web hooks that want to tell the difference between unset and deliberately set default.

[2020-07-17 14:27] nealey commented on #89628
The instructions on this page work brilliantly for Fedora CoreOS, thanks so much to whomever created them, I have been trying for *months* to get k8s going on my FCOS machines.

Except for the conntrack issue. This command did complete successfully:

    sudo kubeadm init --ignore-preflight-errors=FileExisting-conntrack

Given that the current instructions are as simple as "copy/paste these 5 blob

[2020-07-17 14:34] zhangguanzhang commented on #93175
externalIPs在ipvs下就是和dr的arp一样，你只能写没有使用的局域网ip

[2020-07-17 14:36] jay-owen commented on #93100
Hi, can I help with this issue?

[2020-07-17 14:53] #91266 closed

[2020-07-17 14:53] BjoernT commented on #92761
Thanks @andrewsykim we changed the configuration around hostname override of the kube proxy and this seem to fix the issue as we assume the health-check failed hence no iptables rules got added. Once the final tests are ok I will go ahead and close this issue

[2020-07-17 15:05] itkroplis commented on #93153
I understand it. Prometheus I use without alert. But support two monitoring systems is expensive.

[2020-07-17 15:22] SaiHarshaK commented on #93188
/assign

[2020-07-17 15:23] knight42 commented on #93187
according to the build log https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/93144/pull-kubernetes-e2e-gce-device-plugin-gpu/1284083026954817536/#1:build-log.txt%3A4402 , the test timed out because it could not find gpu on any nodes. Is it probably a test-infra issue?

[2020-07-17 15:31] hasheddan commented on #93187
@knight42 I think you are right, I don't see anything changing in the config so must be underlying infra issue

/cc @kubernetes/test-infra-maintainers

[2020-07-17 15:31] liggitt commented on #93187
yes, the issue is that the nodes do not have the GPU required to run the test

The same infra commit (da05571c6) was used for the last passing job (https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-device-plugin-gpu/1284005391125975040) and the first failing job (https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-device

[2020-07-17 15:32] chrisohaver commented on #50495
CoreDNS returns multiple records, one for each Endpoints object containing the ip address.

CoreDNS could do "something" if the namespace is not the same for all returned records.  Although I cant think of a particularly useful "something".  Log a warning?  Refuse to answer, e.g. return SERVFAIL (this just turns a hijack into a DOS)?

Like @johnbelamaric says, if the DNS spec included Pod records

[2020-07-17 15:33] liggitt commented on #93187
not sure who owns the node setup for the gpu tests, but I would guess @kubernetes/sig-node-bugs

[2020-07-17 15:37] chenshuyuhhh opened #93192 "After applying kuboard.yaml at master node, no resources found in kube-system namespace."
**What happened**: After applying kuboard.yaml at master node, no resources found in kube-system namespace, the kuboard didn't start successfully.

**What you expected to happen**:  After applying kuboard.yaml at master node, kuboard is running.

**How to reproduce it (as minimally and precisely as possible)**:
1. download file:
wget https://kuboard.cn/install-script/kuboard.yaml
2. apply kuboard.

[2020-07-17 15:44] lubronzhan commented on #92496
Sorry Michael, I just tried restarting kubelet again and it didn't work. Now I'm asking for help from windows community since it's probably windows related

[2020-07-17 16:05] pancernik commented on #91601
@maelk Is there anything specific to timing when this issue occurs first time? For example, does it happen right after node starts?

[2020-07-17 16:06] BenTheElder commented on #93187
test-infra-maintainers owns e.g. prow, I don't think anything there relates to the GPUs
the infra commit (test-infra commit) not changing suggests perhaps a change to the scripts / test harness in this repo?

[2020-07-17 16:15] liggitt commented on #93187
the k8s.io/kubernetes delta between the passing and failing tests only changed an ingress e2e test (https://github.com/kubernetes/kubernetes/commit/23b66eaabd3a535dbee6474638c5bf51e78fbcfa)

[2020-07-17 16:17] akcrisp commented on #85963
Just wondering if there's any further traction on getting deny added. In our case we are a central team who engineer kubernetes to meet certain requirements - so for us to be able to push out an rbac policy which allows us to deny the users access to a specific namespace without impacting their ability to deploy and manage their apps (and thus removing the need to for us to understand every apps r

[2020-07-17 16:21] erihanse opened #93194 "kube-scheduler and kube-controller-manager fails health checks on insecure port on 1.16.13"
It seems a backport is needed for #85043 to v1.16.13 as stated in https://github.com/kubernetes/kubernetes/pull/85043#issuecomment-659875085.
**What happened**:
Kube-scheduler and kube-controller-manager fails their health checks after installing 1.16.13.
**What you expected to happen**:
All control plane pods are ready.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.16.13
- Clo

[2020-07-17 16:50] invidian commented on #88046
/remove-lifecycle stale

[2020-07-17 16:56] amir-khalili commented on #50375
+1

[2020-07-17 16:57] anfernee commented on #93098
Do you see this slowness in dualstack cluster or ipv6 only?

[2020-07-17 17:08] ZhiFeng1993 commented on #81245
Thanks! That sounds clearer to me. One last question, you've mentioned 'e2e test code' several times, what does that refer to?

[2020-07-17 17:15] mmiara commented on #93161
@SataQiu yes, the etcd cluster was/is healthy. I am able to make changes to the cluster (start up pods, delete and change settings, etc.). Below is output from the etcd health check:

[root@mm-etcd-restore1 ~]# ./etcdctl-endpoints.sh
+---------------------------+------------------+---------+---------+-----------+-----------+------------+
|         ENDPOINT          |        ID        | VERSION | D

[2020-07-17 17:22] rikatz commented on #93192
It seems that in your ``kubectl get deploy`` you're not passing the namespace ``kube-system``, and the label you're searching (k8s.eip.work) in Pod search does not exists in the manifest you've attached.

/remove-kind bug
/kind support

[2020-07-17 17:22] rikatz commented on #93192
/triage support

[2020-07-17 17:33] oomichi commented on #81245
That is outside of e2e framework(`test/e2e/framework`) under e2e tests (`test/e2e`, `test/e2e_node` and `test/e2e_kubeadm`).
`test/e2e/apps/daemon_set.go` and `test/e2e/common/kubelet.go` are examples.
Those files contains e2e tests which are implemented with `framework.ConformanceIt()` or `ginkgo.It()`.

[2020-07-17 17:39] jpbetz commented on #93042
https://github.com/kubernetes/kubernetes/pull/93170 is still timing out on some tests, but might help, and the logging is excessive enough we should probably merge it to keep the e2e logs legible and not wasting disk space.

cc @deads2k, @sttts for review

[2020-07-17 18:19] kachkaev commented on #62822
/remove-lifecycle stale

[2020-07-17 18:43] liggitt commented on #89847
Disabling the optional silent job in https://github.com/kubernetes/test-infra/pull/18356 until this is resolved, since our CI resources are constrained

[2020-07-17 18:44] liggitt commented on #89847
/cc @dims

[2020-07-17 18:46] dims commented on #89847
/assign

[2020-07-17 18:58] Asgoret commented on #65903
@liggitt
1) And what's the storage type? In k8s go client there is no any reference for type....and error is useless. What type is missing?

[2020-07-17 19:07] liggitt commented on #65903
The PV must define one of the supported volume source types within it's `spec` stanza. See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#persistentvolumespec-v1-core for the supported volume source types (awsElasticBlockStore, azureDisk, azureFile, cephfs, cinder, csi, fc, flexVolume, flocker, gcePersistentDisk, glusterfs, hostPath, iscsi, local, nfs, photonPersistentDisk, q

[2020-07-17 19:10] ellistarn opened #93200 "Support Real and Hollow node configurations in the same cluster."
**What would you like to be added**:
Kubemark controller should only use nodes for its template that are hollow nodes, rather than any node.

**Why is this needed**:
I want to perf-test the cluster autoscaler using clusters the contain real and hollow nodes. The original integration between cluster autoscaler and kubemark assumed multiple clusters, but I would like to enable using a single cluster

[2020-07-17 19:18] robscott commented on #47711
/reopen

[2020-07-17 19:20] robscott commented on #47711
I think @swetharepakula's [PR](https://github.com/kubernetes/kubernetes/pull/93030) is almost ready, sorry for not catching the lifecycle close earlier.

[2020-07-17 19:32] Huang-Wei commented on #93187
The image `gcr.io/cos-cloud/cos-gpu-installer:latest` is used in https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/daemonset.yaml when installing the Nvidia driver. Given that `cos-gpu-installer:latest` ([1]) is lastly updated on July 17, 2020 at 12:22:11 AM UTC-7 (latest tag points to v2.0.0), does it seem this version is incompatible?

BTW: the latest suc

[2020-07-17 19:36] Huang-Wei commented on #93187
Forgot to mention, the [failed log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu/1284178783795941382/build-log.txt) shows that the deamonset is pending:

[code]

[2020-07-17 19:43] ZhiFeng1993 commented on #81245
Thanks a lot for the clarification.

[2020-07-17 19:49] maelk commented on #91601
No, there quite some pods that get scheduled there and run fine. But once the issue happens no of can be scheduled anymore.

[2020-07-17 20:47] ahg-g commented on #93186
do you use init containers? if so, it might be related to https://github.com/kubernetes/autoscaler/issues/3224

[2020-07-17 20:48] ahg-g commented on #93186
/cc @MaciekPytel

[2020-07-17 21:10] MHBauer commented on #93163
linking this up for reference as it might help.
https://github.com/kubernetes/kubernetes/pull/93118

[2020-07-17 21:50] shyamjvs commented on #93200
/remove-sig node
/remove-sig autoscaling

/sig scalability

[2020-07-17 22:02] #93085 closed

[2020-07-17 22:42] Bessonov commented on #62078
/remove-lifecycle stale

[2020-07-17 22:48] alankwon commented on #39188
I am having same problem creating a ClusterIP service with same port for TCP and UDP... and reading through this thread, it sounds like it's not fixed after all this time. But, I'm puzzled by kube-dns under kube-system namespace. It's also a ClusterIP, but it seems to have same port for TCP and UDP:

[code]
I looked at the service definition yaml (https://github.com/kelseyhightower/kubernetes-the-

[2020-07-17 22:58] ajay1206 commented on #49466
+1

[2020-07-17 23:10] liggitt commented on #93173
Do you have the full node and pod as fetched from the API server with `kubectl get pod/$name -o yaml` and `kubectl get node/$name -o yaml`

[2020-07-17 23:27] svpace opened #93202 "subPath not working with mountPropagation"
**What happened**:
Using "subPath" to access a mount point mounted by another container in the same pod does not work.
Given a deployment like the following, "server-1" is not able to access the files mounted by "provider".
[code]

**What you expected to happen**:

I expect "server-1/mnt" and provider/mnt/server-1" to share the same files.

**How to reproduce it (as minimally and precisely as poss

[2020-07-17 23:48] rajjar123456 commented on #17512
hi,
I want to log the cpu and memory usage for a pod , every 5 mins over a period of time. I would then use this data to create a graph in excel. Any ideas? Thanks

[2020-07-17 23:54] #88283 closed

[2020-07-17 23:57] huide9 commented on #76435
looking for the dynamic provisioning function for batch/job. to enable `columeClaimTemplate` will be very helpful for each job to own a stable storage during the runtime.
Consider at the runtime: each job may need to mount the nfs as source/destination for the predefined code/data.

Can this issue be reopened?

[2020-07-18 01:05] knight42 commented on #93187
yes, and the log also shows that the pod was pending because the init container `nvidia-driver-installer` failed to complete
[code]

[code]

could we change the image to [`gcr.io/cos-cloud/cos-gpu-installer:v20200701`](https://console.cloud.google.com/gcr/images/cos-cloud/GLOBAL/cos-gpu-installer@sha256:8d86a652759f80595cafed7d3dcde3dc53f57f9bc1e33b27bc3cfa7afea8d483/details?tab=info) whose digest

[2020-07-18 02:23] woohhan opened #93203 "How distinguished the state without using condition?"
Hi. currently i'm extending the kubernetes API with CRD.

And I saw the following article in [api-convention](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#spec-and-status)

[code]

But is it always possible to recover everything through observation? For example, my custom resource create a pvc and downloads a specific file from http and

[2020-07-18 02:24] daschott commented on #62046
This should be addressed here: https://github.com/kubernetes/kubernetes/pull/93166

[2020-07-18 02:30] woohhan commented on #93203
/sig docs

[2020-07-18 03:16] JadeQin commented on #93175
就是说使用ipvs的时候，我只要分配一个没占用的IP就可以了？那这个和iptabes的不一样啊，iptables是可以使用节点的ip的

[2020-07-18 03:58] #85839 closed

[2020-07-18 03:58] #87587 closed

[2020-07-18 03:58] #88226 closed

[2020-07-18 04:15] Baoqiang-Zhang opened #93204 "run kubelet with non-root user"
**What happened**: container starting failed with mount error
"Output: mount: only root can use "--types" option"

**What you expected to happen**: containers are able to start

**How to reproduce it (as minimally and precisely as possible)**:
1. run kubelet with non-root user;
2.create pod with secret volume mount.

**Anything else we need to know?**:
https://github.com/kubernetes/kubernetes/blob

[2020-07-18 04:18] Baoqiang-Zhang commented on #93204
/sig Storage

[2020-07-18 04:50] huide9 commented on #24725
+1 need it can be configured as onFailure or Never.  Always is not fit for the real case here.

[2020-07-18 05:28] Wujunqi-1996 opened #93205 "Gets binary K8S configuration information"
Binary K8S Kube-Apiserver, Kube-Scheduler, Kube-Controller component configuration information is there a quick and easy way to get it, rather than through a configuration file

[2020-07-18 06:02] mattcary commented on #92708
I'm not totally reproducing it reliably, but it looks like /home is mounted noexec.

Anybody know what might have changed to make that happen? Either the mount of /home, or running of flexvolume from /home/kubernetes.

[2020-07-18 06:04] #90432 closed

[2020-07-18 09:53] augustkang commented on #93059
/area provider/aws

[2020-07-18 11:15] vlerenc commented on #86064
@wgabsi88 Do you have a ticket reference or do you know whether the issue was fixed in the meantime?

[2020-07-18 12:06] #69098 closed

[2020-07-18 12:24] vsxen commented on #10043
1.18  still have.

[2020-07-18 12:43] skchinna7 opened #93206 "Bugs"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-07-18 14:35] #93206 closed

[2020-07-18 15:27] SataQiu commented on #93194
/cc

[2020-07-18 15:27] SataQiu commented on #93194
/assign

[2020-07-18 15:40] skyfirst93 commented on #83471
I have observed this issue where at least 20 pods were stuck in the same state mentioned in the issue description.
I just restarted the kubelet service and all the pods came up.
It will be helpful if someone could help on how to prevent this from happening. :/

[2020-07-18 16:10] rikatz commented on #92790
/close

Due to lack of information in the issue description I'm closing this one.

If you face this issue again please open a new one containing the detailed steps, what happened, versions, etc.

Thank you!

[2020-07-18 16:10] #92790 closed

[2020-07-18 16:50] mwaggonerzam opened #93209 "Pod termination documentation should clarify termination signals"
**What would you like to be added**:

In the Kubernetes documentation about [Termination of Pods](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods) it says:

Based on [this comment](https://github.com/kubernetes/kubernetes/issues/30051#issuecomment-237689913), if I'm understanding correctly, this is somewhat misleading. It appears that what Kubernetes actually does is is

[2020-07-18 16:52] mwaggonerzam commented on #93209
/sig Docs

[2020-07-18 17:24] #91937 closed

[2020-07-18 17:24] #92070 closed

[2020-07-18 17:24] #93163 closed

[2020-07-18 17:25] liggitt opened #93210 "MirrorPodWithGracePeriod test flaking in 5% of pull-kubernetes-node-e2e runs"
These tests have flaked consistently since https://github.com/kubernetes/kubernetes/pull/92442 merged: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=not%20found&test=MirrorPodWithGracePeriod

in many cases, they are the only failure in a test run:
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-node-e2e/1284519583780179968
* https://p

[2020-07-18 17:25] liggitt commented on #93210
/milestone v1.19

[2020-07-18 17:26] derekwaynecarr commented on #93210
/assign @sjenning

[2020-07-18 17:26] liggitt commented on #93210
Looks like this is failing ~5% of node-e2e runs

[2020-07-18 17:49] itkroplis commented on #93153
I made the script but it doesn't work :(

#!/bin/bash

check=$(kubectl get nodes | grep 'k8s-m1   Ready') | awk '{ print $2; }'
result='Ready'
       if [ "$check" =  "$result" ]; then
                echo "GOOD"
        else
                echo "BAD"
        fi

I get only BAD result

[2020-07-18 18:10] bootc commented on #80968
/remove-lifecycle stale

[2020-07-18 18:18] liggitt commented on #89433
all listed items are complete

[2020-07-18 18:18] #89433 closed

[2020-07-18 19:00] liggitt commented on #93042
we're also printing all traces during integration tests, even ones that take ~1-2ms, see log in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93121/pull-kubernetes-integration/1284543238853627906 as an example:
[code]

[2020-07-18 20:14] #88272 closed

[2020-07-18 20:52] artback commented on #93100
/assign

[2020-07-18 21:00] liggitt commented on #61651
This flag was deprecated in 1.19 in favor of deriving it from the root dir

[2020-07-18 21:00] #61651 closed

[2020-07-18 21:29] aojea commented on #93098
IPv6 only

[2020-07-18 21:30] aojea commented on #92965
/remove-triage unresolved

[2020-07-18 22:19] aojea commented on #92708
@mattcary seems the test is working since the switch @andrewsykim did of the job image, it was using ubuntu and now gci

https://testgrid.k8s.io/sig-network-gce#pull-gci-gce-ipvs

[2020-07-18 23:02] liggitt commented on #92937
The pool has drained but we are still seeing many many failures which appear to be infra failures:
* pod pending timeouts
* test jobs failing after 1-15 minutes with no build log output - it's unclear if the issue is with the clone, build, or something else…

[2020-07-18 23:02] liggitt commented on #92272
@justaugustus is this resolved now?

[2020-07-18 23:10] liggitt commented on #85814
This job is now green

https://testgrid.k8s.io/sig-release-1.19-informing#gce-cos-k8sbeta-serial

[2020-07-18 23:10] #85814 closed

[2020-07-18 23:11] liggitt commented on #86876
This job is now green - https://testgrid.k8s.io/sig-release-1.19-informing#gce-cos-k8sbeta-serial

[2020-07-18 23:11] #86876 closed

[2020-07-18 23:13] liggitt commented on #88245
Closing as duplicate of https://github.com/kubernetes/kubernetes/issues/87389

[2020-07-18 23:13] #88245 closed

[2020-07-18 23:14] liggitt commented on #87389
A smaller set of tests are failing now but the job is still solidly failing

/sig windows

[2020-07-18 23:57] liggitt commented on #91601
Lowering priority until we have a reproducible case.

[2020-07-18 23:58] liggitt commented on #87389
@kubernetes/sig-windows-bugs if this test will not be fixed, should this issue be closed? Are these failures representing known/documented issues on windows?

[2020-07-19 02:30] liggitt opened #93215 "[flaky] Discovery should validate PreferredVersion for each APIGroup"
**Which jobs are flaking**:

pull-kubernetes-e2e-gce

**Which test(s) are flaking**:

Discovery should validate PreferredVersion for each APIGroup

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Discovery%20should%20validate%20PreferredVersion%20for%20each%20APIGroup

**Reason for failure**:

The test does not handle API g

[2020-07-19 02:53] liggitt commented on #93215
mitigation opened at https://github.com/kubernetes/kubernetes/pull/93216

[2020-07-19 02:59] liggitt commented on #93192
you can see the deployment, replicaset, and pods in the kube-system namespace like this:

[code]

/close

[2020-07-19 02:59] #93192 closed

[2020-07-19 03:12] gnufied commented on #88037
I am reopening this to track this down.

/reopen

[2020-07-19 04:22] liggitt opened #93217 "[flaky] SchedulingThroughput - SchedulingThroughput error: scheduler throughput: actual throughput 81.200000 lower than threshold 90.000000]"
**Which jobs are flaking**:

* ci-kubernetes-e2e-gci-gce-scalability
* ci-kubernetes-e2e-gci-gce-scalability-networkpolicies
* pull-kubernetes-e2e-gce-100-performance

**Which test(s) are flaking**:

[code]

**Testgrid link**:

* https://testgrid.k8s.io/google-gce#gce-cos-master-scalability-100&width=5
* https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-100-performance

[2020-07-19 04:22] liggitt commented on #93217
moving into the milestone for investigation

@kubernetes/sig-scalability-bugs @kubernetes/sig-scheduling-bugs

[2020-07-19 04:44] #93215 closed

[2020-07-19 05:16] justaugustus commented on #93217
FYI @kubernetes/ci-signal

[2020-07-19 05:16] justaugustus commented on #93210
FYI @kubernetes/ci-signal

[2020-07-19 07:05] BenTheElder commented on #92937
Pretty sure it's clone + overloaded node but the logs are ... You can see them if you have access to stackdriver.

Mitigation so far: only helping along a queue test fix. Discussed avoiding clone from scratch but not enough time to actually ship something. I'm pretty behind on my other duties so once the queue drained 🤷‍♂️
Issue for this linked above.

[2020-07-19 10:25] wawa0210 commented on #92963
@michmike @ddebroy @SergeyKanzhelev

Looking forward to your comments on this issue

[2020-07-19 12:02] mattfenwick commented on #91236
Hi @jayunit100 !  👋 I ran this a few times on kind and it passed, but I see [there are still a few failures](https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-07-18&job=kind&test=conntrack), so I'm going to try the loop approach you suggested.

Here's what I'm using to test:

[code]

[2020-07-19 12:27] jayunit100 commented on #93111
/assign @abhiraut

[2020-07-19 12:31] mattfenwick commented on #93143
Sounds like this might be related to https://github.com/kubernetes/kubernetes/issues/91236 ?

[2020-07-19 12:32] jayunit100 commented on #93143
/assign

[2020-07-19 12:32] jayunit100 commented on #93143
/assign @mattfenwick

[2020-07-19 12:35] jayunit100 commented on #93001
@mseewooth hows it going on this one - should we move it over to an nginx-ingress issue or stackoverflow question? or do you think its a core networking issue still ?

[2020-07-19 12:35] jayunit100 commented on #93001
/assign

[2020-07-19 12:38] jayunit100 commented on #93131
/assign @abhiraut

[2020-07-19 12:52] jayunit100 commented on #93091
So it looks like , these portmap cnis are installed by the cni providers in general, so it kinda falls in their plate,
[code]

THAT SAID, since every cni (i checked both calico and antrea clusters) are installing these... this might be a broad enough issue that we can continue looking at it in this thread.  If nothing else we can improve the docs on this front.

[2020-07-19 12:52] jayunit100 commented on #93091
/assign

[2020-07-19 12:56] jayunit100 commented on #93094
/sig windows

[2020-07-19 12:58] jayunit100 commented on #93094
Im assuming this is not a cloud-provider question in anyway, but not sure yet....   this might be answerable by someone over at https://github.com/Azure/application-gateway-kubernetes-ingress , for now i guess we can keep open until someone from sig-windows responds.

[2020-07-19 12:59] AkashSarda commented on #92620
/assign

[2020-07-19 13:00] jayunit100 commented on #93094
/assign

[2020-07-19 13:00] jayunit100 commented on #93094
/assign @AkashSarda

[2020-07-19 13:44] mseewooth commented on #93001
since its a vps with no private ip. i deployed MetalLB  ,  working good now...

[2020-07-19 13:44] #93001 closed

[2020-07-19 13:53] hasheddan opened #93223 "[Failing Test] kubeadm-kinder-master (ci-kubernetes-e2e-kubeadm-kinder-master)"
**Which jobs are failing**:

`kubeadm-kinder-master (ci-kubernetes-e2e-kubeadm-kinder-master)`

**Which test(s) are failing**:

`task-09-reset`
`task-10-delete`
`task-01-add-kubernetes-versions `

**Since when has it been failing**:

`2020-07-17 09:49 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master

**Reason for failure**:

Looks like failure st

[2020-07-19 13:56] hasheddan commented on #93223
@jingyih guessing there is a mismatch with kubeadm etcd, do you have any additional context?

[2020-07-19 14:17] danwinship commented on #93111
You can't. That's not the problem that NetworkPolicy was designed to solve. The use case for NetworkPolicy is "I want to block everything by default, and then only allow access to/from specific things".

There are ongoing discussions about adding other policy mechanisms for other use cases.

[2020-07-19 14:22] hasheddan commented on #87389
@liggitt I think I may have identified a fix here based on conversation in https://github.com/kubernetes/kubernetes/issues/88974. Will tag you for review 👍

[2020-07-19 14:32] #88325 closed

[2020-07-19 14:48] michmike commented on #87389
@pjh and @adelina-t any thoughts on this ticket?

[2020-07-19 14:51] hasheddan commented on #87389
@michmike potential (partial) fix here: https://github.com/kubernetes/test-infra/pull/18372

[2020-07-19 15:26] hasheddan commented on #87389
I think there might need to be a follow up to adjust this test: https://github.com/kubernetes/kubernetes/blob/c46c1c043ee8de4c021c03ddb0fb157d1c1ba3f8/test/e2e/storage/testsuites/subpath.go#L439

Going to monitor the next run and see how errors look.

[2020-07-19 15:29] naveenb29 commented on #60987
Kubelet ends up hogging resources ,nodes become not ready

[code]

[code]

[code]

[code]

[2020-07-19 15:56] Riaankl commented on #92194
/reopen
#93084 was Merge but the merge was reversed by Issue #93215 and  #93216
Test grid restarted.

[2020-07-19 16:10] Riaankl commented on #92158
/reopen
#92619 Merged
/assign @heyste
Ready for creation of Promotion PR

[2020-07-19 16:12] Riaankl commented on #93035
/reopen
#93038  Merged
/assign @heyste
Ready for creation of Promotion PR

[2020-07-19 16:19] Riaankl commented on #92194
Automatic retest and Merge again #93084

[2020-07-19 16:19] #92194 closed

[2020-07-19 17:18] knabben commented on #92673
Initial enumeration of tests by context categorization

https://docs.google.com/spreadsheets/d/1KcQPwfg5K2X1ilbAmu1_iPcmXneDte0NX6-O5dF_1yE/

[2020-07-19 18:04] Riaankl commented on #90917
/assign @BobyMCbobs

[2020-07-19 18:53] AkashSarda commented on #93094
@jayunit100 : you may have to unassign yourself

[2020-07-19 18:58] aojea commented on #90101
The final behavior was documented in the corresponding dual stack KEP

https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20180612-ipv4-ipv6-dual-stack.md#nodeport-allocations

/close

Thanks

[2020-07-19 18:58] #90101 closed

[2020-07-19 19:01] neolit123 commented on #93223
ok, looks like there is a ctr / image layer problem:
[code]

the pause image is pulled fine using `ctr image pull`, but the same command fails for the etcd image:

[code]

i don't understand if this is a problem with containerd or with the image contents (updated in https://github.com/kubernetes/kubernetes/pull/92349).
but it appears k8s / containerd users will face the same problem.

[2020-07-19 19:03] aojea commented on #93143
conntrack deletion in kube-proxy only applies to UDP and SCTP, not TCP.

[2020-07-19 19:04] sbangari opened #93229 "Windows Kubeproxy has Connectivity issues when one of the multiple services referencing a same endpoint is deleted or updated"
**What happened**:
Two services referring the same endpoint. One of the services was deleted. This brought down the connectivity of the other service.

**What you expected to happen**:
The connectivity to service should continue to work

**How to reproduce it (as minimally and precisely as possible)**:
1. Create two services referencing same endpoint
2. Delete one of the services
3. The connectivi

[2020-07-19 19:17] neolit123 commented on #93223
the problem is present with the latest ctr / containerd too:
[code]

[2020-07-19 19:23] olfway commented on #59031
/remove-lifecycle stale

[2020-07-19 19:26] hasheddan commented on #87389
So it looks like changing the flag succeeded in disabling the tests that were failing and were supposed to be skipped, but enabled a bunch of other tests that are also supposed to be skipped. I’m going to try providing both of the flags in a follow up PR and see where that lands us. Other things to follow up:

- Open issue to investigate if we can consolidate some of the behavior of `test-cmd-args

[2020-07-19 19:37] neolit123 commented on #93223
logged the following issue, but i don't when when this is going to be resolved:
https://github.com/kubernetes/kubeadm/issues/2223
the easiest fix is to move away from containerd to docker on the kinder-master* jobs.

this looks related:
https://github.com/containerd/containerd/issues/3762

[2020-07-19 22:37] Riaankl commented on #93035
Code change was a bug fix in a Merged conformance test.
The correction should not require Promotion.
/close

[2020-07-19 22:37] #93035 closed

[2020-07-19 22:40] #88042 closed

[2020-07-19 22:40] #88044 closed

[2020-07-19 22:40] #88045 closed

[2020-07-19 22:40] #88194 closed

[2020-07-19 22:56] benfen commented on #92575
@Forget-C Could you provide some more details about what your Kubernetes configuration looks like and where you're making the `curl` requests from?  Right now, it looks like you're attempting to use DNS and IP addresses that are internal to Kubernetes externally.

[2020-07-19 23:05] liggitt commented on #93229
Do you mean a service referencing the same pod, or literally the same Endpoints object?

[2020-07-20 00:42] #84363 closed

[2020-07-20 00:46] hasheddan commented on #87389
So it looks like I was mistaken in that tests were not being run that were supposed to be skipped, so we are back where we started. However, I noticed https://github.com/kubernetes/kubernetes/commit/31db94c8484cf16b3b0ed2913659ecf0e6dcf0b7 indicates that @jingxu97 is working on fixing up some of these tests and recently marked a few as `[LinuxOnly]`

[2020-07-20 01:44] bingerambo opened #93238 "when kubelet device manager get preferred allocation, lock and unlock operations maybe are in reverse order"
**What happened**:
k8s version: v1.20.0-alpha.0
when kubelet device manager get preferred allocation, lock and unlock operations maybe are in reverse order.
Read the 983 to 1001 lines of code snippet in the pkg/kubelet/cm/devicemanager/manager.go file

[code]

1. m.mutex.Unlock()
2. resp, err := eI.e.getPreferredAllocation()
3. m.mutex.Lock()

This will trigger panic...

**What you expected to hap

[2020-07-20 02:06] bingerambo commented on #93238
/sig node

[2020-07-20 02:08] bingerambo commented on #93238
/area kubelet

[2020-07-20 03:02] Lion-Wei commented on #93175
Hi, In ipvs mode, if you use externalIP, kube-proxy will add this ip to dummy device `kube-ipvs0` for evenr node in this cluster. So if you use another node IP as externalIP, this may break traffic to this node.

I know iptables works well in this case, but if I understand right, externalIP is for destination IP that outside the cluster. So I think this might be an unusual use case.

[2020-07-20 03:10] smileusd commented on #75581
That is another situation that cluster configuation is empty, aslo will return lots of warnning information:
[code]

[2020-07-20 03:19] Lion-Wei commented on #92620
This is definitely necessary, I'm glad we are working on this. If have too much work to do, I know some people can help. 😄

[2020-07-20 03:40] yuzhiquan commented on #89263
/remove-lifecycle stale
/cc

[2020-07-20 03:41] kong62 commented on #67711
/reopen

[2020-07-20 03:43] kong62 commented on #67711
why not fix it, it still exists in kubernetes 1.18

[2020-07-20 03:49] tedyu commented on #93238
The release of lock is for making RPC call (after which lock is obtained again).

The logic is correct.

[2020-07-20 03:49] Lion-Wei commented on #89358
Hi, I think this is because we set `conn_reuse_mode` to 1 in kube-proxy, if a connection in close_wait state, and another connection may reuse this connection, skip the schedule step.

This `conn_reuse_mode` configure is to solve the low through put issue #70747.

And as comment described, this problem already solved in linux kernal, maybe we can have better solution for this problem in feature.
h

[2020-07-20 03:57] mitar commented on #80346
/remove-lifecycle stale

[2020-07-20 03:57] Lion-Wei commented on #88212
Hi, @andrewsykim , are you working on this? Maybe I can help if you don't have time to do this. 😄
/assign
/remove-lifecycle stale

[2020-07-20 04:02] mzyfree commented on #93091
@jayunit100
It is a broad enough issue.The cni plugin portmap or other cni that build the  iptable rules never ensures the rules at kubernetes runtime.Because the plugin is just a binary file,but not a daemon.
It's quite a sizeable change to add a daemon to watch out for other processes stomping on rules.

[2020-07-20 05:04] uablrek commented on #88212
Please consider the "local route range" approach described in; https://github.com/kubernetes/kubernetes/issues/72236#issuecomment-614122808. IMHO the gain outweights the drawbacks.

[2020-07-20 05:23] BenTheElder commented on #80346
/lifecycle frozen
Not actually speaking for SIG Node but: This might require raising to them via some other means / someone stepping up to do the work. I don't think they have enough active contributor bandwidth to do feature requests these days. (Most successful FR also seem to be KEPs now, for better or worse ...)

[2020-07-20 05:33] mitar commented on #80346
Thanks. So by "stepping up to do the work" you mean making a KEP or implementing this? So is the idea is to just go with this and make a PR with code or first KEP? So I was hoping that somebody would officially approve this (it seems pretty simple change) and then community could provide a PR.

[2020-07-20 06:07] xieyanker commented on #65500
Same issue!
My kubernetes version is 1.14.3, the volume type is RBD, and it was fixed after I restarted the kubelet.

[2020-07-20 07:11] Lion-Wei commented on #88212
I still looking into it, but I think remove addresses from kube-ipvs0 device can be a good direction, if we can do this, lots issue can be resolved.
ping @andrewsykim for more thoughts.

[2020-07-20 07:15] wojtek-t commented on #88967
/remove-lifecycle stale
/lifecycle frozen

[2020-07-20 07:21] Lion-Wei commented on #93175
Still, this might be a problem, https://github.com/kubernetes/kubernetes/issues/72236#issuecomment-614122808 mentioned a solution also can fix this issue, I think.
/remove-triage unresolved
/assign

[2020-07-20 07:22] bowei commented on #88967
@robscott did we ever take a look at this issue?
It looks like I missed this the first time it was cc'd.

/assign

[2020-07-20 07:34] wojtek-t commented on #92882
Thanks for finding and fixing the issue!

[2020-07-20 07:36] wojtek-t commented on #79464
/remove-lifecycle stale

[2020-07-20 07:42] saberrey commented on #75890
Hi, everyone! I also see this problem recently, I designed a method to sort the images according to the pod's priorityclassname and namespace when pulling the images, so that the critical pods' images can be pulled in the priority order to achieve the purpose of starting high-priority services first. Is this thought correct? [PR here: [https://github.com/kubernetes/kubernetes/pull/93239](url)]

Ho

[2020-07-20 09:04] Ottovsky commented on #83107
I created PoC for this bug https://github.com/Ottovsky/keep-open-deleted , I am surprised how important the impact it can have on the node, the pods are actually randomly evicted from it.

[2020-07-20 09:15] stephen-dexda commented on #80435
/remove-lifecycle stale

[2020-07-20 10:17] prosnekov commented on #93194
Got this behavior on Debian-10, Debian-11, Ubuntu-19.10. In turn on fedora-31, **1.16.13** is working well.

[2020-07-20 10:27] soulseen commented on #70010
same bugs report with version v1.16.8

[2020-07-20 11:26] SerialVelocity commented on #88193
@yqwang-ms

I'm just quoting the docs there :)

I don't consider the pod started until the container manages to start. I consider it in the "starting" state and should only fail on permanent errors.

**-- Below here everything is related to the other issue --**

I agree with @liggitt that reasons like `ImageNotFound` are transient as I have seen in practice systems waiting for an image to exist.

[2020-07-20 11:39] yqwang-ms commented on #88193
I am asking the restart policy would better to be configurable as ImageNotFound/FailedMount/etc may need to be treated differently in different scenarios, such as for batch jobs, user easliy to specify a wrong image name/mount pathm etc,

[2020-07-20 11:53] #87412 closed

[2020-07-20 12:00] MaciekPytel commented on #93186
/sig autoscaling

This looks like it may be init containers problem linked by @ahg-g. That one will be fixed in Cluster Autoscaler release 1.18.2, which is scheduled to be cut tomorrow.
If you're not using init containers can you provide some more information about your config? In particular any parts of pod spec that you could share would be helpful.

[2020-07-20 12:04] giuseppe commented on #92855
I've opened a PR here: https://github.com/kubernetes/kubernetes/pull/93248

[2020-07-20 12:26] nikhita commented on #53023
Yeah, it would be helpful if someone could confirm seeing this in versions >= 1.16.3. Looks like https://github.com/kubernetes/kubernetes/pull/86191 could have fixed this (it's in v1.16.5 and above)

[2020-07-20 12:34] piaic65617 commented on #55894
I was also following the same issue
I was using _apps/v1beta2_ for my Replicaset.
But when I checked _kubectl api-versions_
apps/v1beta2 was not listed.
so I used just _apps/v1_ and it worked.

[2020-07-20 12:39] mkumatag commented on #92855
Thanks for the PR, my only worry about - how k8s will prioritize when we have two pods requesting more than the MaxShares how this logic will prioritize it!

[2020-07-20 13:05] giuseppe commented on #92855
for now it works in the same way as in the cgroupfs case.  Pod requests are not in relationship with the # of cores, that AFAICS happens only when setting up the node cgroups.  I think a static allocation would work better for such cgroups, as anyway `cpu.shares` is a weight.

[2020-07-20 13:18] zach-robinson commented on #89315
/remove-lifecycle rotten

[2020-07-20 13:45] dennis-benzinger-hybris commented on #93186
We use init containers but not on the pod which wasn't scheduled. Can this issue affect other pods which don't have init containers themselves?

kubernetes/autoscaler#3224 mentions that the issue "happens if you have pods whose initContainer requests are bigger than their main container requests". Does that include the case where the init containers don't specify any resources but the regular cont

[2020-07-20 13:53] jayunit100 commented on #93094
/assign @AkashSarda

[2020-07-20 13:54] neolit123 commented on #93194
backport / fix is here: https://github.com/kubernetes/kubernetes/pull/93208

[2020-07-20 13:54] heyymonth commented on #86507
@ghhenry I experienced the same issue, I was using Flannel as the Kubernetes CNI. I replaced Flannel with "Weave Net" and this resolved my issue. You can refer the following link to do so :- https://jackiechen.org/2019/11/01/replace-flannel-with-weave-net-in-kubernetes/

[2020-07-20 13:55] ahg-g commented on #93186
Yes, it will affect other pods because it impacts the total resources presumed to be allocated on the node.

[2020-07-20 14:21] liggitt commented on #91800
closing this with the recommended approach of stopping the queue and creating a new one if needed

/close

[2020-07-20 14:22] #91800 closed

[2020-07-20 14:44] liggitt commented on #87675
apologies for the delay, I dug into this and opened https://github.com/kubernetes/kubernetes/pull/93250 as a fix

[2020-07-20 15:12] TJM commented on #53023
I confirm that we have not seen it on our test cluster that we upgraded to 1.16.3, but we have seen other issues, primarily `kubectl get events` returning null timestamps. We are reverting to 1.15.x as we are trying to keep our vanilla environment as close to our GKE environment as possible.

[2020-07-20 15:21] sjenning commented on #93210
Looks like there might still be a race somewhere looking at the kubelet logs

Success case:
[code]

Fail case:
[code]

[2020-07-20 15:25] neolit123 commented on #23225
given kubeadm is already doing kube-proxy as a DS and kube-up is deprecated this seems to be resolved WRT the k/k repository.
please re-open if needed.

/close

[2020-07-20 15:25] #23225 closed

[2020-07-20 15:28] adtac opened #93255 "scheduler/metrics.go: add comment warning against changing metric types"
Changing the type of an existing metric should be considered harmful unless absolutely necessary. Preferably, a new metric would be defined instead of changing the type of the existing metric.

/sig scheduling
/cc @ahg-g

[2020-07-20 15:30] ahg-g commented on #93255
We should simply adhere to deprecation policy here.

[2020-07-20 15:36] adtac commented on #93255
Closing as per @ahg-g's comment -- metrics are alpha right now, so this is allowed as per the metrics deprecation policy.

[2020-07-20 15:36] #93255 closed

[2020-07-20 15:36] alculquicondor commented on #93255
https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md#stability-classes

[2020-07-20 15:37] neolit123 commented on #85392
this is not a kubernetes/kubernetes issue per se.
maybe the etcd repository has an issue logged about it already:
https://github.com/etcd-io/etcd/search?q=--cipher-suites&type=Issues

if not try logging a new one.

[2020-07-20 15:37] SaiHarshaK commented on #93188
The sub commands under set, use the flag "Local" is instead of "local", shall i rename it's occurrences too?

[2020-07-20 15:38] maelk commented on #91601
We were able to reproduce the bug with a scheduler that had the additional log entries. What we see is that one of the masters completely disappears from the list of nodes that are iterated through. We can see that the process starts with the 6 nodes (from the snapshot) :
[code]
but after, that we can see that it iterates only over 5 nodes, and then we get :
[code]

So one of the nodes is removed

[2020-07-20 15:40] #93174 closed

[2020-07-20 15:42] SaiHarshaK commented on #93188
Should i drop the "localhost" check under version_test.go, since we will not default to localhost:8080 anymore?

[2020-07-20 15:44] alculquicondor commented on #91601
Code references by log line:

1. https://github.com/Nordix/kubernetes/commit/5c00cdf195fa61316f963f59e73c6cafc2ad9bdc#diff-c237cdd9e4cb201118ca380732d7f361R441
2. https://github.com/Nordix/kubernetes/commit/5c00cdf195fa61316f963f59e73c6cafc2ad9bdc#diff-c237cdd9e4cb201118ca380732d7f361R505

@maelk
Did you see any lines for `%v/%v on node %v, too many nodes fit`?

Otherwise, @pancernik could you che

[2020-07-20 15:47] soulxu commented on #93079
Looks like disappeared on master. I tested with legacy policy file.

`kube-scheduler \
  --config=./kube-scheduler.yaml \
  --policy-config-file=./scheduler-policy.json \
  --use-legacy-policy-config=true \
  --v=5`

`apiVersion: kubescheduler.config.k8s.io/v1beta1
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "./kube-scheduler-static-token.kubeconfig"
leaderElection:
  leaderEl

[2020-07-20 15:47] nrb commented on #87675
@liggitt Thanks a ton!

[2020-07-20 15:47] liggitt opened #93257 "Nested trace panic observed"
[code]

in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93063/pull-kubernetes-integration/1285215292728807425

which points to this line:

https://github.com/kubernetes/kubernetes/blob/c2378045330669ee5b3e1d1fb08749e3b086995b/vendor/k8s.io/utils/trace/trace.go#L222

/assign @jpbetz

[2020-07-20 15:49] rikatz commented on #23225
And there it goes a 4 year old issue :)

[2020-07-20 15:55] liggitt commented on #93257
failures seen multiple times: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=durationIsWithinThreshold

this will likely be masked once https://github.com/kubernetes/kubernetes/pull/93253 goes in and stops logging traces unconditionally, but still needs to be root-caused and fixed before 1.19 cuts

[2020-07-20 15:55] maelk commented on #91601
No, that log did not appear. I would also think it could be that we either have an issue with the parallelization or that node is filtered out earlier. If it was failing with an error here : https://github.com/Nordix/kubernetes/commit/5c00cdf195fa61316f963f59e73c6cafc2ad9bdc#diff-c237cdd9e4cb201118ca380732d7f361R464 it would be visible in the logs afaik, so I'll try to add more debug entries aroun

[2020-07-20 15:57] maelk commented on #91601
I just realized that one node is going through the filtering twice!

[2020-07-20 15:58] maelk commented on #91601
The logs are :
[code]
As you can see the node worker-pool1-60846k0y-scheduler goes twice through filtering

[2020-07-20 16:04] liggitt commented on #93257
Since trace.go:208 is in the stack twice this is related to nested traces

Are all the methods that can be called from the context threadsafe?

[2020-07-20 16:10] alculquicondor commented on #91601
Yeah, an error there would manifest as an Scheduling Error in the pod events.

I honestly wouldn't think that parallelization has bugs (still worth checking), but this could be a sign that we failed to build the snapshot from the cache (as we saw from the cache dump, the cache is correct), by adding a node twice. Since statuses is a map, then it makes sense that we only "see" 5 nodes at the last l

[2020-07-20 16:10] alculquicondor commented on #91601
cc @ahg-g

[2020-07-20 16:14] docwhat commented on #72216
What is needed to move this forward?

[2020-07-20 16:18] liggitt commented on #93257
at least validatingDispatcher#callHook is called from parallel goroutines, and calls genericapirequest.WithTrace -> which calls Nest(), which mutates t.traceItems

That can definitely cause races ... I'm not sure if it could cause a NPE for something simultaneously iterating over traceItems but it seems likely given the integration test where this is appearing

[2020-07-20 16:21] mattcary commented on #92708
Could that be due to noexec settings in the images? I'm a little fuzzy on how that is set up & where to find that.

[2020-07-20 16:34] aojea commented on #92708
don't know honestly, but I don't know if is worth to keep investigating if is a setup/environment problem in this specific job, meanwhile you guys in storage have good signal on this test of course :smile:

[2020-07-20 16:45] ghhenry commented on #86507
@heyymonth Thanks for the tip.

[2020-07-20 16:46] adamnovak commented on #69014
I don't believe that this has been fixed.

/remove-lifecycle stale

[2020-07-20 16:46] liggitt commented on #93257
looks like this was introduced in https://github.com/kubernetes/kubernetes/pull/88936

[2020-07-20 16:48] jingyih commented on #93223
Sorry I don't fully follow the discussion. Does this error only happens when pulling `k8s.gcr.io/etcd:3.4.9-1`? In the same environment, could you try to pull `us.gcr.io/k8s-artifacts-prod/etcd:3.4.9-1`?

[2020-07-20 16:50] jpbetz commented on #93257
Yes, that's it. We could revert that and get to a state where we don't do any Nest calls, which avoids the race (no need to change which utils version we use).

[2020-07-20 16:55] nckturner commented on #92162
@justinsb That seems reasonable.  I'll put together a quick PR and give it a test.

[2020-07-20 16:57] maelk commented on #91601
I will try to add a lot of logs on the cache part of the scheduler, specifically around node addition and update, and around the snapshot. However, from the last line of the logs, you can see that the snapshot is actually correct, and contains all the nodes, so whatever happens seem to happen later on, when working over that snapshot

[2020-07-20 17:00] andrewsykim commented on #89358
I thought we're setting `conn_reuse_mode=0` now https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L384?

[2020-07-20 17:02] neolit123 commented on #93223
@jingyih the image seems fine, but containerd is having troubles pulling it in the "CR-in-CR" setup we are using for the e2e test job in question. this should be fixed once we close https://github.com/kubernetes/kubeadm/issues/2223

[2020-07-20 17:02] jpbetz commented on #93257
Opened https://github.com/kubernetes/kubernetes/pull/93259 to revert the use of nested traces

[2020-07-20 17:10] jpbetz commented on #93257
Also opened https://github.com/kubernetes/utils/issues/178 to track the issue in utils.

[2020-07-20 17:18] sjenning commented on #93210
Looking at it more, it seems like `runningPod.Containers` is unexpectedly empty here
https://github.com/kubernetes/kubernetes/blob/c2378045330669ee5b3e1d1fb08749e3b086995b/pkg/kubelet/kuberuntime/kuberuntime_container.go#L653

Success:
[code]
Fail:
[code]

[2020-07-20 17:26] hh commented on #90913
/sig node

[2020-07-20 17:27] hh commented on #90913
The test appears to be flaking, need to reach out to #sig-node for some feedback.

[2020-07-20 17:37] neolit123 commented on #93161
aside from some flakes our 1.16->1.17 upgrade e2e tests are mostly green:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-16-1-17

(i.e. i don't see this problem in our CI)

are you able to reproduce it constantly?
what is the log if you run upgrade with higher verbosity e.g. `--v=10`?

[2020-07-20 17:45] alculquicondor commented on #91601
cache != snapshot

Cache is the living thing that gets updated from events. The snapshot is recreated (from the cache) for each scheduling cycle to "lock" the state. We added optimizations to make this last process as fast as possible. It's possible that the bug is there.

[2020-07-20 17:53] therc commented on #92162
Hey, I think that was already the case in my original code years ago. I seem to remember trying to avoid (and testing) the scenario in this issue. Not sure why it was changed last year, I wasn't included on the review. Anyway, I'm not sure what else has changed in the meantime in the credential providers, but that sounds like a plan to me.

[2020-07-20 18:00] sjenning commented on #93210
Stacks of interest
[code]
[code]
I think we might be dealing with a stale `runtimeCache`
https://github.com/kubernetes/kubernetes/blob/c2378045330669ee5b3e1d1fb08749e3b086995b/pkg/kubelet/container/runtime_cache.go#L60-L71
If there is a `GetPods` call before the container is added to the Pod in the runtime and the `deletePod` is called within the 2 second default cache period, it seems possible th

[2020-07-20 18:12] saschagrunert commented on #90304
/remove-lifecycle stale

[2020-07-20 18:12] andrewsykim commented on #81775
Following-up on @yyx's comment above for posterity.

The above patch mentioned in https://github.com/kubernetes/kubernetes/issues/81775#issuecomment-642704084 didn't make it to the kernel but there are two recently merged patches worth highlighting. One of them fixes the 1 second delay issue when a conntrack entry is reused and the other fixes an issue where packets are dropped when stale connecti

[2020-07-20 18:13] andrewsykim commented on #70747
Following-up on @yyx's comment above for posterity.

The patch mentioned above didn't make it to the kernel but there are two recently merged patches worth highlighting. One of them fixes the 1 second delay issue and the other fixes dropped packets when stale connection entries in the IPVS table are used:
1) http://patchwork.ozlabs.org/project/netfilter-devel/patch/20200701151719.4751-1-ja@ssi.bg/

[2020-07-20 18:13] andrewsykim commented on #90854
Following-up on @yyx's comment above for posterity.

The patch mentioned above didn't make it to the kernel but there are two recently merged patches worth highlighting. One of them fixes the 1 second delay issue and the other fixes dropped packets when stale connection entries in the IPVS table are used:
1) http://patchwork.ozlabs.org/project/netfilter-devel/patch/20200701151719.4751-1-ja@ssi.bg/

[2020-07-20 18:17] andrewsykim commented on #81775
This is probably a lot to ask. but it would be great if folks here are willing to try the 5.8 kernel when it is realized or back port the above patches on their own kernels to validate that this issue is fixed. My initial tests have shown good results but I did not validate it in an environment with lots of traffic.

[2020-07-20 18:33] sjenning commented on #93210
@dashpole what do you think of this analysis?  If so, any obvious solutions occur to you?

[2020-07-20 18:36] sjenning commented on #93210
If I'm correct, the https://github.com/kubernetes/kubernetes/pull/92442 didn't introduce this; just the e2e test exposed an existing bug in the kubelet.

[2020-07-20 18:41] mmiara commented on #93161
This is on a cluster that I am trying to upgrade from 1.16 to 1.17 that was built a while back, I have not yet built out a new 1.16 cluster to test on because I will need to upgrade a cluster that was built this same way in the near future, and woudl like to know the issue I am having with this process. Below is the log with level 10 verbosity.

[code]

[2020-07-20 18:57] andrewsykim commented on #88212
This should actually be closed after https://github.com/kubernetes/kubernetes/pull/88213 & https://github.com/kubernetes/kubernetes/pull/92609?

[2020-07-20 18:59] #88180 closed

[2020-07-20 19:00] andrewsykim commented on #88212
https://github.com/kubernetes/kubernetes/pull/85617 should also help

[2020-07-20 19:01] andrewsykim commented on #88212
and https://github.com/kubernetes/kubernetes/pull/91461

[2020-07-20 19:07] neolit123 commented on #93161
what is the exact version of the kubeadm binary?
`kubeadm version`

the latest kubeadm 1.17.x should be printing this line in case the etcd cluster status fails:
https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/util/etcd/etcd.go#L428

^ this eventually gets called by https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/phases/upgrade/compute.go#L110

[2020-07-20 19:12] pancernik commented on #91601
Thanks @maelk! This is very useful. Your logs indicate that `(*nodeinfo.NodeInfo)(0xc000952000)` is duplicated in the list already at https://github.com/Nordix/kubernetes/commit/5c00cdf195fa61316f963f59e73c6cafc2ad9bdc#diff-c237cdd9e4cb201118ca380732d7f361R441 before any parallel code gets executed.  That would indeed mean that it's duplicated before the snapshot is built.

[2020-07-20 19:42] maelk commented on #91601
Actually, that comes from the snapshot, that happens before this log message : https://github.com/Nordix/kubernetes/commit/5c00cdf195fa61316f963f59e73c6cafc2ad9bdc#diff-c237cdd9e4cb201118ca380732d7f361R161 . So it rather looks like the content of the snapshot has the duplication, since it comes from https://github.com/Nordix/kubernetes/commit/5c00cdf195fa61316f963f59e73c6cafc2ad9bdc#diff-c237cdd9e

[2020-07-20 19:45] verult commented on #92708
FYI the Flexvolume plugin dir is set here: https://github.com/kubernetes/kubernetes/blob/6c917e6e48828585d9f50780c2593f1c8af0a031/cluster/gce/config-default.sh#L157

noexec might be a setting that came with the image? Another place I suspect is somewhere inside `cluster/gce`, but `cluster/gce/ubuntu` is symlinked to `cluster/gce/gci` (COS), which should have /home executable unless something chang

[2020-07-20 19:51] pancernik commented on #91601
That's right. I meant it's already duplicated before the update of the snapshot finishes.

[2020-07-20 20:01] alculquicondor commented on #91601
No, The snapshot is update at the start of the scheduling cycle. The bug is either during snapshot update or before that. But the cache is correct, according to the dump in https://github.com/kubernetes/kubernetes/issues/91601#issuecomment-659465008

[2020-07-20 20:03] ahg-g commented on #91601
The PR optimizing update snapshot was done in 1.18: https://github.com/kubernetes/kubernetes/pull/85738

[2020-07-20 20:04] jsturtevant opened #93262 "Kueblet fails to start due to device plugin manager on windows"
**What happened**:
The pr https://github.com/kubernetes/kubernetes/pull/80917 introduced device manager for windows.   We are seeing test failures since the PR was merged:

The tests have no windows nodes coming online.  From https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1285006290715676672:

[code]
When looking at the kubelet log

[2020-07-20 20:04] jsturtevant commented on #93262
/sig windows
/assign

[2020-07-20 20:11] ahg-g commented on #91601
I wonder if the node tree also has duplicate records

[2020-07-20 20:14] alculquicondor commented on #91601
@maelk could you show a dump of the full list of nodes in the cache?

[2020-07-20 20:16] msau42 commented on #92708
COS + Ubuntu share the same setup scripts + config for gce kube up. But maybe there's some more fundamental difference at the OS level when setting up the home directories on the boot disk.

For /var/lib/kubelet, we [remount with exec](https://github.com/kubernetes/kubernetes/blob/6c917e6e48828585d9f50780c2593f1c8af0a031/cluster/gce/gci/configure-helper.sh#L2623). Maybe something similar needs to

[2020-07-20 20:16] liggitt commented on #93262
reverted in Opened https://github.com/kubernetes/kubernetes/pull/93263 with a revert of this since it fails windows kubelet startup

[2020-07-20 20:17] ahg-g commented on #91601
we don't add/remove items from the list, we either create the full list from the tree or not, so if there are duplicates, those are likely coming from the tree, I think.

[2020-07-20 20:21] shatil commented on #68083
/remove-lifecycle stale

[2020-07-20 20:26] mmiara commented on #93161
I had changed the kubeadm version to a later version of 1.16 after seeing this error with 1.17.9. I changed it back and am seeing the same error. Below is the output from above:

[root@master1 yum.repos.d]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.9", GitCommit:"4fb7ed12476d57b8437ada90b4f93b17ffaeed99", GitTreeState:"clean", BuildDate:"2020-07-15T16:

[2020-07-20 20:31] #92965 closed

[2020-07-20 20:35] mattcary commented on #92708
Okay.

I actually was having problems getting kubetest with ubutnu images, but it seemed to be failing sporadically in the same way on cos nodes. So maybe there is something that's common but on ubuntu was being hit all the time.

Thx for the pointer @msau42

[2020-07-20 20:39] aarnaud commented on #93262
Ok I see the root cause, In my PR few month ago, I changed the constant path with windows path but reviewer ask me to remove path overwrite.

[2020-07-20 20:48] neolit123 commented on #93161
i'm confused where this error is coming from.

by using --v=10, how much time passes after you see the line:

but before you see `context deadline exceeded`?

e.g. is it 40 seconds, or right away?

ref:
https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/util/etcd/etcd.go#L134
https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/util/etcd/etcd.go#L405

[2020-07-20 20:49] erharb opened #93265 "$setElementOrder error encountered updating Deployment removing and reordering multiple env vars with same name"
**What happened**:
We have added a new set of container envs for a Deployment object to grab database user/pass from a Secret. Since the name of the secret can differ if the database is internal or external and they are mutually exclusive since it is not valid to have both the internal and external secrets in same namespace as the Deployment.

This is allowed out of the box, `spring_datasource_use

[2020-07-20 20:49] aarnaud commented on #93262
maybe it's juste the directory device-plugins to create before start kubelet ?

[2020-07-20 20:55] ahg-g commented on #91601
Just to clarify:
1) the cluster has 6 nodes
2) the node that is supposed to host the pod wasn't examined at all, which may mean it is not in NodeInfoList at all
3) NodeInfoList has 6 nodes, but one of them is duplicate

[2020-07-20 20:58] ahg-g commented on #91601
a dump of each the node tree, list and map would be great.

[2020-07-20 21:04] BjoernT commented on #92761
I'm closing the issue the change with hostname override fixed it

[2020-07-20 21:04] #92761 closed

[2020-07-20 21:22] erharb opened #93266 "Deployment objects using optional envs with the same name are unexpectedly removed during updates - but exist out of the box"
**What happened**:
After working around an issue (#93265) that required us to rename a set of envs for the purposes of obtaining values from either an internal or external set of database secrets during, we ran into yet another problem with updating them where the original env names get deleted even though they are present in the manifest being applied to update.

To set the stage: this is allowed

[2020-07-20 21:38] liggitt commented on #93266
Thanks for the report. Removal of all instances of duplicate env variables on update is a special case of https://github.com/kubernetes/kubernetes/issues/58477

closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/58477

/close

[2020-07-20 21:38] #93266 closed

[2020-07-20 21:41] liggitt commented on #93265
multiple env var entries with the same name should not be allowed, but cannot easily be rejected due to https://github.com/kubernetes/kubernetes/issues/64841

[2020-07-20 21:47] GeminiAgaloos opened #93267 "kubectl create ingress"
**What would you like to be added**:
"ingress" subcommand to "kubectl create"

**Why is this needed**:
This feature has originally been requested over 3 years ago with the March 2017 issue https://github.com/kubernetes/kubernetes/issues/43667

It was worked on PR https://github.com/kubernetes/kubernetes/pull/44534

@liggitt commented on Feb 26, 2019 in https://github.com/kubernetes/kubernetes/pull

[2020-07-20 21:48] GeminiAgaloos commented on #93267
/sig cli

[2020-07-20 21:49] liggitt commented on #93267
/sig network

[2020-07-20 21:56] cbf123 opened #93268 "network glitch can lead to node stuck in "NotReady" state"
This issue is primarily to track the inclusion of the fix for https://github.com/golang/go/issues/40213 into Kubernetes.

**What happened**:
After uncleanly rebooting the node running kube-apiserver, a node went into the "NotReady" state and stayed that way even after all nodes were running again.  Once in this mode, restarting kubelet on the "NotReady" node was enough to make it go "Ready" again.

[2020-07-20 21:57] cbf123 commented on #93268
/sig api-machinery

[2020-07-20 22:15] liggitt commented on #92937
I just found podinfo.json... at least for all the integration tests I linked the clonerefs init container looks like it exited successfully:

[code]

am I reading that correctly?

[2020-07-20 22:23] liggitt commented on #92937
according to logs, https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/92416/pull-kubernetes-integration/1284408727339798528/podinfo.json failed on this step of the test script:
[code]

[2020-07-20 22:47] jsturtevant commented on #93262
I looked into it a bit, it seems the call to https://github.com/kubernetes/kubernetes/blob/5a529aa3a0dd3a050c5302329681e871ef6c162e/pkg/kubelet/cm/devicemanager/manager.go#L134

is the issue.  On linux it checks for existence of "/" where as on windows the default that is specified here: https://github.com/kubernetes/kubernetes/blob/8f968c41d29c9fb2a322825b0e2c19ed7e589966/staging/src/k8s.io/kubel

[2020-07-20 23:44] yuanchen8911 opened #93270 "scheduler: support scheduling profile-level configuration parameters"
**What would you like to be added**:

The current scheduler parameters are set in a scheduler configuration file as global settings. As the scheduling framework and multiple scheduling profiles are introduced, it will be useful to support scheduling profile level parameters, e.g.,  _percentageOfNodeToScore_  and related parameters _minFeasibleNodesToFind_.

Global configuration
[code]

Per-profile

[2020-07-20 23:45] yuanchen8911 commented on #93270
/sig scheduler

[2020-07-20 23:46] yuanchen8911 commented on #93270
/sig scheduling

[2020-07-20 23:52] thockin commented on #60789
Why is hostname (which is semi-random) better than IP?

To use hostname, you need the pod's `hostname -f` to be DNS-resolvable
right?  You really do need both parts?

On Sun, Jul 12, 2020 at 11:54 PM Zachery Jensen <notifications@github.com>
wrote:

[2020-07-20 23:52] yuanchen8911 commented on #93270
/assign @Huang-Wei
/assign @ahg-g

[2020-07-21 00:17] GeminiAgaloos commented on #93267
cc @justinsb

[2020-07-21 00:20] GeminiAgaloos commented on #93267
cc @aledbf @smarterclayton

[2020-07-21 00:23] Huang-Wei commented on #93270
This requirement looks reasonable to me.

/cc @alculquicondor

[2020-07-21 00:23] GeminiAgaloos commented on #93267
also ref #17429 @kargakis @thockin

[2020-07-21 00:56] #93238 closed

[2020-07-21 01:05] #85313 closed

[2020-07-21 01:15] Lion-Wei commented on #89358
Sorry, my mistake, as doc described here, set `conn_reuse_mode=0` is to deliver new connection to the same real server.
[code]
https://www.kernel.org/doc/Documentation/networking/ipvs-sysctl.txt

[2020-07-21 01:20] #92894 closed