[2016-11-28 04:27] smarterclayton commented on #37488
If there's evidence this is happening in real world envs I'm not opposed to
fixing it, although I still wouldn't qualify it as a 1.5 blocker (it could
easily be 1.5.1 or later).

[2016-11-28 04:30] thockin commented on #37488
Agree.

On Sun, Nov 27, 2016 at 8:27 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-28 05:55] andyxning commented on #34923
@resouer I have come into an idea to learn the ip of the node under `NodeType` service type. In this situation, container is running behind a NAT gateway provided by `iptables`. So, we can just use an HTTP service provided by [ifconfig.me](http://ifconfig.me/) to query the outward node ip. Just by running `curl ifconfig.me/ip` in one container we can get the node ip in http response. This is simpl

[2016-11-28 05:55] #34923 closed

[2016-11-28 06:15] MrHohn commented on #37352
Sorry for the delay.

From the logs, it is obvious that both of kube-dns ReplicationController and Service were deleted by the add-on manager. It is because add-on manager assumes the ownership for resources within `kube-system` and have `kubernetes.io/cluster-service: "true"` label attatched, which means if you create objects that satisfy these conditions, add-on manager will compare them with th

[2016-11-28 06:27] #37472 closed

[2016-11-28 07:48] mootezbessifi commented on #37352
@MrHohn thanks for your detailed answer, but unfortunately, when i tried to stop kube-addons.service, copy the rc.yml and svc.yml under /etc/kubernetes/addons and start again /etc/kubernetes/addons, no pods or services where created. but new logs for kube-addons.service appears:

`Nov 28 10:31:47 ctc-cicd1 systemd[1]: Started Kubernetes Addon Object Manager.
 Subject: Unit kube-addons.service has

[2016-11-28 07:52] wojtek-t commented on #37488
I also agree - that's why I added 1.6 milestone, since this bug was in the core since the beginning.

Regarding all the discussions about consistency above:
- let's assume you are writing some object to etcd and then you're going to read it
- if you are calling GET/LIST, then you either reading it from etcd (which is default) and then with quorum-reads (which should be by default enabled in HA set

[2016-11-28 08:20] mootezbessifi commented on #37352
@MrHohn the above logs was generated because of existence of old generated secrets and namespace `kube-system`.
i tried to delete all of them and rerun  `kube-addons.service`.
the log does not mention errors as above and the kube-ssytem ns was created successfully, BUT no dns-kube pod or service exists.
#Log of kube-addons.service (the hole log):

`Unit kube-addons.service has begun starting up.`

[2016-11-28 08:20] jsafrane commented on #37056
Out of curiosity, how are these logs collected? I can see:

[code]

"`sleeping a bit`" should be 20 seconds. I don't see 20 second delay in log timestamps.

[2016-11-28 08:20] wojtek-t commented on #35198
It was in Go 1.6 (I think 1.6.3 but with this I'm not 100% sure). The heap was pretty big - IIRC, the total memory usage was 15GB -20GB or sth like that.

Regarding those "Empty()", it's pretty trivial:
https://github.com/kubernetes/kubernetes/blob/master/pkg/labels/selector.go#L233

[2016-11-28 08:39] ged15 commented on #37518
@bprashanth I am lost now - which of these options are supported on GKE? :)

[2016-11-28 08:47] wojtek-t commented on #36372
All of these are instances of "some resource already exists" errors.

@gmarek - i think there is another issue for this in Kubemark, right?

[2016-11-28 08:53] k8s-merge-robot opened #37543 "[k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/661/

Failed: [k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}

[code]

Previous issues for this test: #27295 #35385 #36126 #37452

[2016-11-28 09:02] gmarek commented on #37543
@vishh @dchen1107  - it seems that we can't establish proxy connection to the GCI Node.

[2016-11-28 09:30] georghildebrand commented on #19049
Hey all, i am reading this with a lot of interest. From the perspective of a scientific user of GPUs i can also recommend to consider adding socket / cpu affinity information from the kubelet  to not slow down performance for shared workloads. Especially on gpu grid tasks this will be helpfull and speeds up the adoption of kubernetes in scientific environments.

Example:
`$nvidia-smi topo -m
	GPU0

[2016-11-28 09:32] fgrzadkowski commented on #33754
@mwielgus I don't understand your https://github.com/kubernetes/kubernetes/issues/33754#issuecomment-262929533. I would expect that if we don't understand the root cause than it is a release blocker. Otherwise how can you judge how serious some bug is?

[2016-11-28 09:38] srcspider commented on #25554
@janetkuo

I don't think it's a good idea to mix "new revision" and "change" as if they mean the same thing.

If I scale the deployment up and down then you replace the actual change that cause the revision. How is this helpful? You eventually end up with these inconsequential messages for the "revision cause" which technically speaking are NOT the cause.

Basically, you got it backwards. The comm

[2016-11-28 09:45] mwielgus commented on #33754
Ok, maybe I wasn't clear enough. It seems, to some extent, that the problem is outside of Kubernetes, with managed instance groups. I cannot prove it without merging the PR. We can hold the release-blocker label if you wish.

[2016-11-28 09:52] wojtek-t commented on #33380
I went through a bunch of different failures in this bug and it seems there are exactly two categories of failures here:
1. Failures with 1 or more image puller in "Failed" state (all coming from 1.4 branch) - for that @gmarek will cherrypick the changes that he and other did to fix it in head
2. Failure due to problems with GCE - most of which are image pulles that didn't finish on time, e.g. as

[2016-11-28 10:05] kargakis commented on #27732
@jsafrane works like a charm, thanks!

[2016-11-28 10:08] workhardcc opened #37546 "remove /var/lib/kubelet/pods//volumes/kubernetes.io~downward-api/podinfo: device or resource busy"
execute :`systemctl status  kubelet -l` as below

We can see that a lots  mount point as below:
[code]

I need `umount /var/lib/kubelet/pods/fb503576-95e0-11e6-bc6f-a0369f90f4d0/volumes/kubernetes.io~downward-api/podinfo`  by myself one by one.

version: v1.3.4

[2016-11-28 10:09] kargakis commented on #25554
I think this is fine. If the annotation is not updated for a new revision, we can always default to something like "PodTemplate change".

[2016-11-28 10:28] wojtek-t commented on #37213
There are pretty much 2 different types of issues here:
1. Run is "timed out". @ixdy - you mentioned some time ago that you're observing timeouts in different suites. Did you already managed to understand the reason there? I guess this would be the same problem here.
2. A node that becomes unhealthy in the meantime (and then a huge number of tests failing with "All nodes should be ready". In this

[2016-11-28 11:08] fjammes commented on #34396
Running `kubectl apply -f https://git.io/weave-kube` on k8s master solved this issue for me.

[2016-11-28 12:06] electromecca commented on #31708
I am getting similar issue, but mentioned fix doesn't resolve it for me
Here's describe for one of the hpa's:

[code]

[2016-11-28 12:08] bweston92 opened #37552 "kubeadm forever recreating DNS pod."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

- "kubeadm  DNS shutting down, got signal: Terminated"

---

**Is this a BUG REPOR

[2016-11-28 12:15] wojtek-t opened #37553 "Some tests are timing out and we are missing logs from them"
Runs like:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/2835/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/1856/
unexpectedly timed out.
I wanted to look into logs, but we don't have logs for failed run, which makes them undebuggable.

There are 2 problems here:
1. why the suite timed out - it really seems t

[2016-11-28 12:35] soudy opened #37554 "Namespace stuck on terminating on delete"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): namespace terminating 1.4.6

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choos

[2016-11-28 12:48] deads2k commented on #37530
`pkg/apis/meta/internalversion` instead perhaps?

It seems like this "dependency" only extends to the metadata representation.  Will we get to have an unstructure type that includes a `metav1` metadata section?

[2016-11-28 12:56] piosz commented on #37292
Is there any concrete action on this issue?

[2016-11-28 13:24] dgoodwin commented on #37063
Thanks @lesaux

However kubeadm appears to already be unpacked and installed earlier in the logs.

This section is pretty interesting:

[code]

Kubelet starts once, fully, a suspicious systemd reload, then it stops it and starts again, this time it sees our kubeadm drop-in and goes into the crash loop we expect for kubeadm usage. When user actually goes to run kubeadm, /var/lib/kubelet isn't empty

[2016-11-28 13:28] piosz commented on #16326
cc @Crassirostris @aleksandra-malinowska

[2016-11-28 13:38] MarkRx commented on #37086
@kargakis yes #36897 would be helpful.

The case I was thinking of was a rolling strategy that reused old pods when the content of the pods did not change. Hence, instead of new pods and old pods being spun up / down one-by-one, they would be transferred over one-by-one and then any additional scaling that is needed would be performed. At present my desire for this is to try to work around not bei

[2016-11-28 13:41] MarkRx commented on #36897
Would causing a relabel to happen spin down old pods and spin up new pods, or would existing pods be reused?

I don't know if this is by design, but at present it isn't really possible to store pod state in labels as changing  the RC causes new pods to be created. Having pod state is useful for services as it allows them to be able to select pods based on their state.

[2016-11-28 13:42] kargakis commented on #37086
@MarkRx https://github.com/kubernetes/kubernetes/issues/9043 is related

[2016-11-28 13:47] MarkRx commented on #9043
Would something like this work for updating labels on the RC / pods?

[2016-11-28 13:49] kargakis commented on #36897
Changing the RC is not causing new pods to be created, you are probably talking about Deployments / DeploymentConfigs. Changing a RC will create new pods if the RC is scaled up or old pods die. Relabeling would merely relabel all old pods to use the new label(s).

[2016-11-28 13:53] MarkRx commented on #36897
If the RC selector is changed the system would suddenly see 0 pods and try to start scaling up. Since existing pods cannot have their labels changed in an atomic operation when the RC selector is changed there is possible contention.

[2016-11-28 13:53] kargakis commented on #9043
See https://github.com/kubernetes/kubernetes/issues/36897#issuecomment-263275370, if all you need is to relabel old pods then https://github.com/kubernetes/kubernetes/issues/36897 should be enough for your case.

[2016-11-28 13:54] symphonyjenkinsauto commented on #29166
@jingxu97 I hope you enjoyed the holiday weekend :)
I'm starting a fresh cluster in GCE now to repro again, please stand by.

[2016-11-28 13:58] kargakis commented on #36897
The RC selector should change as the last part of the "transaction" ie. once all old pods and the rc pod template labels have changed. If any of the latter actions fails, we won't change the selector. I guess once we start using transactions in etcd3, this won't be a problem.

[2016-11-28 14:02] rootfs commented on #36970
similar to #37056
probably the same problem with overlayfs

[2016-11-28 14:04] splix commented on #29166
@jingxu97 I can confirm that after upgrading to v1.4.6 the problem is gone. So I guess it was #36616 which was included into 1.4.6

[2016-11-28 14:05] symphonyjenkinsauto commented on #29166
@jingxu97 I just reproduced in GCE, it is trivial to reproduce:

https://gist.github.com/symphonyjenkinsauto/a3d4f16b7ef33be88a4c70ef34878d60

[2016-11-28 14:07] bronger commented on #37063
Please don't put any more effort into this.

I still have not found the root cause but it is not `kubeadm`.  Apparently our VM snapshot (to which we return after every kubeadm) is unclean but the final analysis is surprisingly difficult.

[2016-11-28 14:09] bweston92 commented on #37552
Same with flannel too.

[2016-11-28 14:12] wojtek-t commented on #36262
@xiang90 @hongchaodeng - seems related to etcd

[2016-11-28 14:15] paul-symphony commented on #29166
@jingxu97 symphonyjenkinsauto is actually me -- sorry about that

[2016-11-28 14:16] dgoodwin commented on #37063
@bronger ok good that explains the existence of the secrets and such, thanks for the update.

However there is definitely something up here, this has been reported by multiple people and I believe is demonstrated clearly in the gist above.

[2016-11-28 14:26] rootfs commented on #29166
@symphonyjenkinsauto I cannot create a 250MB pd on us-east1-b

[code]

[2016-11-28 14:32] smarterclayton commented on #36897
Don't assume transactions will help us - there are limitations that may
prevent some of these scenarios from being possible.

On Nov 28, 2016, at 8:58 AM, Michail Kargakis <notifications@github.com>
wrote:

If the RC selector is changed the system would suddenly see 0 pods and try
to start scaling up. Since existing pods cannot have their labels changed
in an atomic operation when the RC selector

[2016-11-28 14:47] paul-symphony commented on #29166
oops it's GB

[2016-11-28 14:54] kargakis commented on #18947
@lukaszo @kubernetes/deployment  this is the issue for adding progressDeadlineSeconds in DaemonSets I guess.

[2016-11-28 14:54] smarterclayton commented on #36897
@bprashanth because we had discussed pod labels changing to track state (like leader).  I think the atomicity challenge remains even with etcd3, so we should at least consider whether this is something that we might indicate another way.

[2016-11-28 14:54] sttts commented on #37530
We can move `pkg/apis/meta` straight into `k8s.io/genericapiserver` in https://github.com/kubernetes/kubernetes/pull/37551 :+1:

[2016-11-28 14:56] smarterclayton commented on #37530
Yeah probably.  It has some overlap with client as well.

[2016-11-28 14:57] smarterclayton commented on #37530
Not opposed.

Yes.  Not sure exactly how to structure it, it's possible it should just be a layer on top. That's what Accessor was originally supposed to abstract.

[2016-11-28 15:00] rootfs commented on #29166
@paul-symphony have you partitioned your pd? your pod says it uses partition 1.

[2016-11-28 15:09] smarterclayton opened #37556 "Should never allow vendored packages to reference k8s.io/kubernetes packages"
vendor/k8s.io/heapster imports `pkg/api/unversioned`, which prevents refactors.  Previously we imported rkt which imported `pkg/resource`, preventing a refactor.

We need a global import rule that any package that is vendored that references something in k8s.io/kubernetes needs to vendor or copy that dependency.

[2016-11-28 15:09] smarterclayton commented on #37556
@kubernetes/sig-api-machinery @thockin @eparis

[2016-11-28 15:10] paul-symphony commented on #29166
I did not.  I (apparently wrongly) assumed that K8s would magically apply whatever was specified there (e.g. fsType), based on http://kubernetes.io/docs/user-guide/volumes/#gcepersistentdisk.  Although now that I think of it, I'm not sure how it could possibly figure out the "partition" bit.  Do I have to manually format the PD as well (the aforementioned doc does not specify this)?

[2016-11-28 15:10] wojtek-t commented on #37556
@piosz - FYI

[2016-11-28 15:13] rootfs commented on #29166
quick fix is to remove `partition: 1` from your deployment and let kubelet does the formatting for you.

[2016-11-28 15:14] paul-symphony commented on #29166
got it, thanks so much! :)

[2016-11-28 15:26] eparis commented on #37488
@marun you've looked at this code too.

[2016-11-28 15:26] smarterclayton commented on #37488
You're not allowed to change the IP address of a service, correct.

On Mon, Nov 28, 2016 at 2:52 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-11-28 15:33] eggie5 commented on #29166
@rootfs about partitioning: so you don't need to manually go in w/ a one-off GCE instance and format the disk anymore? K8s will do it?

[2016-11-28 15:41] rootfs commented on #29166
@eggie5 yes, if the disk is unformatted, kubelet will format it for you.

[2016-11-28 15:42] paul-symphony commented on #29166
So I just revised my project to use a normal PD instead of that hacked image I mentioned earlier.  I left the disk unformatted with the expectation that K8s would take care of it for me.  It didn't quite work.

[code]

...so I went and manually formatted it and tried again -- same error.  So I then went and took a look:
[code]

...so I nuked the data there and now all is well.  Am I missing someth

[2016-11-28 15:45] eggie5 commented on #29166
@rootfs wow, that's a great announcement. Can you please point to me this is documented/announced b/c lots of literature still has you formatting it by hand.

Also, k8s 1.4.5 seemed to have fixed my PV mounting issue on GKE. Cluster running stable for a few weeks when it would usually hit the mounting issue after 24 hours...

[2016-11-28 15:46] jayunit100 commented on #33198
Can we bump priority on this?  its a bug that really confounds the semantics of scheduling affinity

[2016-11-28 15:48] rootfs commented on #29166
@eggie5 I am really a poor source of document/annoucement pointers. Auto-formatting has been with kubelet for a while
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L380

[2016-11-28 15:49] fraenkel commented on #7452
@bradfitz Thanks for the pointer, but it doesn't fix the underlying issue. While SPDY is being used, it is not following HTTP request/response semantics. A logical connection is created and then data is sent in either direction as needed. It would be equivalent to the client sending an HTTP request and the server doing a Push whenever.

[2016-11-28 15:51] ncdc commented on #7452
@fraenkel I don't think there's any technical limitation in the facilities provided by the Go HTTP/2 implementation. As I wrote above, we would just need to write our own muxing/framing code, which we'd rather avoid (or find a library that can do it?).

[2016-11-28 15:55] smarterclayton commented on #36120
Is there any disagreement with this?  Speak now or forever hold your peace.

[2016-11-28 15:59] wojtek-t commented on #36120
Since this is still 2x faster then regular json serializer, I would hold this of until we migrate storage format to protobufs. @lavalamp - FYI

[2016-11-28 16:25] fraenkel commented on #7452
@ncdc It might be easier to just build on top of gRPC which provides bi-directional streaming or copy what they have done.

[2016-11-28 16:35] smarterclayton commented on #7452
There's definitely benefit to implementing a gRPC endpoint vs continuing to
have to maintain a franken-protocol.  That is tied up with the CRI changes
though.

On Mon, Nov 28, 2016 at 11:25 AM, Michael Fraenkel <notifications@github.com

[2016-11-28 16:39] sdminonne commented on #25319
/cc

[2016-11-28 16:39] sdminonne commented on #25320
/cc

[2016-11-28 16:52] roberthbailey commented on #37474
The problem is that configure-vm.sh is too large. In my `$KUBE_TEMP` directory:

[code]

You can see that the number of bytes in configure-vm.sh (33595) matches the output in the error message (`actual size 33595`).

What is interesting is that configure-vm.sh in the repo is actually _larger_. In the 1.5 branch:

[code]

and in the 1.4 branch:

[code]

But we aren't seeing an error during new clus

[2016-11-28 17:13] yujuhong opened #37560 "kubelet: concurrent map read & write"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-cri/644

bootstrap-e2e-minion-group-22bp/kubelet.log

[code]

The offending line was added by #36673

/cc @dchen1107

[2016-11-28 17:14] roberthbailey commented on #37474
In the `$KUBE_TEMP` directory when creating a new cluster from the 1.4 branch:

[code]

which is below the size limit.

[2016-11-28 17:28] bgrant0607 commented on #34363
@davidopp @smarterclayton observedGeneration is intended as a way for an observer to determine how up to date the status reported by the primary controller for the resource is. No more, no less. That needs to be combined with the usual resourceVersion-based optimistic concurrency mechanism to ensure that controllers don't act upon stale data, and with leader-election sequence numbers in the case o

[2016-11-28 17:39] roberthbailey commented on #37474
Here's the diff between the two configure-vm.sh scripts:

[code]

which makes it appear that https://github.com/kubernetes/kubernetes/pull/35516 is the culprit.

@jszczepkowski

[2016-11-28 17:44] roberthbailey commented on #37474
This may be a mac issue -- when I manually run the `sed` command from the `prepare-startup-script` function it makes no changes. But if I run `gsed` instead of `sed` then it strips a bunch of comments, reducing the file size below the allowed limit:

[code]

[2016-11-28 17:45] roberthbailey commented on #37474
We should be able to do the same thing we do in this file https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/test-cmd.sh#L177 to fix it.

[2016-11-28 17:48] roberthbailey commented on #37474
I created https://github.com/kubernetes/kubernetes/pull/37562 but haven't had a chance to test it yet.

[2016-11-28 17:50] pmorie commented on #37011
I am not sure about the naming of `--flatten`, but I do think this feature would have nice symmetry with what is proposed in #37295

[2016-11-28 18:10] bgrant0607 commented on #34363
Example of an orchestrator: https://github.com/Mirantis/k8s-AppController

[2016-11-28 18:13] dhoer commented on #37011
@pmorie Do you see this option being applied to create secret as well?

[2016-11-28 18:14] kargakis opened #37563 "Common patterns in workload controllers"
Brought up in @kubernetes/sig-apps today, there seems to be a great deal of common patterns between workload controllers (Deployments, DaemonSets, StatefulSets). Namely all three of them in one way or another need:

* upgrades (http://kubernetes.io/docs/user-guide/deployments/#updating-a-deployment, https://github.com/kubernetes/kubernetes/pull/31693, https://github.com/kubernetes/kubernetes/issue

[2016-11-28 18:16] jlowdermilk commented on #33702
I was not able to get a repro in > 100 runs. The failure mode is that the apiserver pod crashes shortly after all components become healthy / all nodes ready. Maybe someone from CSI-API sig can take a look?

[2016-11-28 18:16] bprashanth commented on #37488
@wojtek-t hmm, maybe you can clarify (at  the risk of derailing this thread):
* kubelet deletes a pod from apiserver-1 (rv=5)
* kubelet reconnect to apisever-2 (at rv=4)
* list from apiserver-2, showing old rv 4 pod
* kubelet restarts the pod (in theory, I haven't looked at the implementation details but this holds true for any generic controller on node, eg kube-proxy)
* watch for rv=5 pod delete

[2016-11-28 18:16] Blasterdick commented on #37483
Using [this](http://kubernetes.io/docs/user-guide/load-balancer/#annotation-to-modify-the-loadbalancer-behavior-for-preservation-of-source-ip) alpha-feature with alpha cluster fixes this.

[2016-11-28 18:17] #37483 closed

[2016-11-28 18:17] bprashanth commented on #37488
I should clarify that I tried this in the 1.2 timeframe, so surely things have changed since, perhaps making the problem obsolete

[2016-11-28 18:19] bgrant0607 commented on #831
cc @verb

[2016-11-28 18:23] k8s-merge-robot opened #37564 "[k8s.io] EmptyDir volumes should support (non-root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/867/

Failed: [k8s.io] EmptyDir volumes should support (non-root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #29224 #32008

[2016-11-28 18:23] sachincab commented on #34447
@soltysh does this ship in to latest kubernetes release?

[2016-11-28 18:24] wojtek-t commented on #37488
OK - I got your point. This can still be a problem in reflector framework. But it is very easily fixable, because we can pass "ResourceVersion=5" as an argument to List and then it will be guaranteed that the result from list will be at least as fresh as passed resourceVersion.
It should be super easy to change that in reflector framework - @smarterclayton as you mentioned this problem

[2016-11-28 18:26] MrHohn commented on #37352
Thanks for the logs. It is weird that the add-on manager seems to totally omit kube-dns configuration files.

Do the configuration files you put in has suffix `.yaml`? I took a look at this add-on manager, found this file type is hardcoded [in the script](https://github.com/kubernetes/contrib/blob/master/ansible/roles/kubernetes-addons/files/common/kube-addon-update.sh#L152).

Or are the kube-dns

[2016-11-28 18:31] bowei commented on #23474
You probably need to change the resolv.conf used by the kubedns executable, not dnsmasq. dnsmasq is meant to be purely a caching layer.

[2016-11-28 18:32] bprashanth commented on #37518
If you're running the nginx controller on GKE, you can do all of them
If you're using the normal GCE ingress controller on GKE, then options that say "(works everywhere)"

[2016-11-28 18:34] yujuhong commented on #37560
Found another one in a non-cri (i.e., regular) build: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/379

[2016-11-28 18:37] ymqytw commented on #37460
The problem here is how long should we wait, if the user doesn't specify a timeout.
The default timeout used in drain is following how long the reapers have in [ReplicationControllerReaper](https://github.com/kubernetes/kubernetes/blob/v1.5.0-beta.2/pkg/kubectl/stop.go#L168), [ReplicaSetReaper](https://github.com/kubernetes/kubernetes/blob/v1.5.0-beta.2/pkg/kubectl/stop.go#L237), [StatefulSetReape

[2016-11-28 18:37] coffeepac commented on #28999
@gleeb your issue is unrelated to secret mounts.  can you please open up a fresh bug with repro steps?  its going to get lost here.

[2016-11-28 18:39] coffeepac commented on #28999
@blurrcat you can increase the verbosity of a k8s daemon by passing in the flag '-v4'.  that method requires a restart.  I don't know of a way to reset the logging level dynamically.

additionally, your CPU issue seems to be unrelated to the original issue with secrets.  if you would like to open a perf/benchmark issue that would be awesome but this is not the ticket for it.

[2016-11-28 18:40] coffeepac commented on #28999
@saad-ali @matchstick is there any reason to leave this open?  the original problem has been resolved.

I can't close this issue myself either, so I'll need a hand with that.

[2016-11-28 18:44] felipejfc opened #37565 "RBAC Role not Working as expected"
Kubernetes version: 1.4.0

Hello all, I nees some help setting up RBAC authorization mode in my cluster, I have the following role:

[code]

And this RoleBinding:

[code]

I expected user test.user@email.com to be able to do anything in namespace aguia, and currently, he can for example create secrets in that namespace but when he tries to modify a
Deployment(create, edit or delete) then an unauth

[2016-11-28 18:45] #35289 closed

[2016-11-28 18:46] ixdy commented on #37155
go home @k8s-merge-robot, you are drunk.

[2016-11-28 18:46] #37155 closed

[2016-11-28 18:46] ixdy commented on #37159
@mtaufen do you own the reboot tests these days?

[2016-11-28 18:50] bprashanth commented on #37488
Yeah but that's exactly the guarantee the proposed solution *doesn't* give us, because with active-active your peer apiserver might've just hung for however long it takes to run 2 repairs. Low probability, but this is usually the case with race conditions.

What I was proposing is that we manufacture a lock interface till we have etcd transations. This interface would basically write a lock alongs

[2016-11-28 18:51] jingxu97 commented on #31176
Hi Hendy,

Thank you very much for your feedback. Yes, it will take a couple of more
minutes for volume manager to detect node is deleted and volume is detached
already. There is a trade off between quick response and low overhead. We
can adjust some parameters to balance between and your comments are
appreciated!

Best,
Jing

On Sun, Nov 27, 2016 at 2:30 AM, Hendy Irawan <notifications@github.com

[2016-11-28 18:51] ixdy commented on #37522
35 was a timeout, looks like due to `[It] Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability`.

[2016-11-28 19:02] smarterclayton commented on #37488
We're reducing a low probability race to a very low probability race if we
do the 2 repair path (30 minutes).  I don't disagree that implementing a
2PC system is fun, but if initializers can also solve this (single writer
of IPs) and get both the repair loop and the allocator out of the API
server, that may be a more fruitful long term option.  Although allocators
require etcd access today, we can

[2016-11-28 19:05] smarterclayton commented on #33702
Are any API server logs recoverable from the runs?  I didn't see it in the test artifacts.

[2016-11-28 19:05] bprashanth commented on #37488
Agreed, the value of my system depreciates if we only have 1 local cache that needs syncing, and we're getting transactions in the db O(soon)

[2016-11-28 19:08] smarterclayton commented on #37488
Transactions though mean we would have to keep the allocators in the
apiservers.  I guess that's the biggest argument against moving this to an
initializer.

On Mon, Nov 28, 2016 at 2:05 PM, Prashanth B <notifications@github.com>
wrote:

[2016-11-28 19:13] yujuhong commented on #37560
Spoke to @caesarxuchao offline. He will send a fix soon.

/cc @saad-ali

[2016-11-28 19:18] mtaufen commented on #27980
@vishh and I had those discussions several months ago, I need to dig back into my notes for exactly what we talked about.

It's probably time to think about the general case of component (configuration) life-cycle. I would rather determine good semantics for component configuration, and then implement these semantics in the Kubelet as a prototype, vs. making something that ends up kubelet-specific

[2016-11-28 19:22] smarterclayton opened #37566 "Implement rolling-upgrade on daemonsets and statefulsets via `kubectl`"
In order to support simple updates of daemon sets and stateful sets, it should be possible to do the following:

1. update the DS or SS
2. run a kubectl command that maintains certain availability numbers by deleting pods and returns once everything is set

This would be a good stepping stone to implement updates for SS and DS because it would solve an immediate need (users have to write their own

[2016-11-28 19:22] smarterclayton commented on #37566
@kubernetes/sig-apps as mooted on the call today

[2016-11-28 19:23] luxas commented on #27980
At least @kubernetes/sig-cluster-lifecycle needs the base kubelet layer for a lot of things before we can move on.

It's a blocker for us that we have to get rid of soon, in the v1.6 timeframe preferably.
See: https://github.com/kubernetes/kubeadm/issues/28

The main pain points is that we have no way to let the configuration passed to the apiserver flow down to the kubelets right now. For example

[2016-11-28 19:25] madhusudancs commented on #37105
@dims not a release blocker. Added the label.

[2016-11-28 19:25] mtaufen commented on #37159
Yes, I'm on the debugging of these. Just about to get back to it now that I'm through the deluge of notifications that came in over the holiday.

[2016-11-28 19:26] calebamiles commented on #33405
@MrHohn, @bprashanth thanks for providing a status update. Do you have plans to update the test in question before the 1.5 release? Should we remove the release blocker label in the meantime since we now believe that this is an issue with the test and not the code under test?

**cc: @saad-ali, @dims**

[2016-11-28 19:26] janetkuo commented on #37184
I already fixed all the StatefulSet test failures, so removing myself from the assignees.

[2016-11-28 19:27] yujuhong commented on #37560
/cc @kubernetes/sig-node this likely caused a lot of test flakes. Please check kubelet log for `fatal error` messages if you've been assigned to investigate a flake.

[2016-11-28 19:27] yujuhong commented on #37482
kubelet became unready due to the concurrent map read& write (e.g., https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/680/build-log.txt) caused by #37560

[2016-11-28 19:28] calebamiles commented on #33882
Thanks for the update @mtaufen, have you been able to make any additional progress on fixing this issue? Do you still consider it to be a release blocker?

**cc: @saad-ali, @dims, @kubernetes/sig-node**

[2016-11-28 19:31] madhusudancs commented on #37143
@dims not a release blocker. Added the label to indicate that.

[2016-11-28 19:33] mootezbessifi commented on #37352
Yes, my addon manager as well as rc and svc yaml files are in the same machine, but files have extentions "yml"  not  " yaml". Do you think this is what causes the problem?

[2016-11-28 19:33] MrHohn opened #37567 "Enable DNS horizontal autoscaling feature for more Cloud Providers"
Recently a new DNS horizontal autoscaling feature was added for GCE clusters by #33239. This DNS horizontal autoscaling feature ensures number of kube-dns Deployment replicas scale with cluster needs. It is achieved by running another independent cluster add-on called [cluster-proportional-autoscaler](https://github.com/kubernetes-incubator/cluster-proportional-autoscaler). Docs of this feature co

[2016-11-28 19:34] mootezbessifi commented on #37352
@MrHohn

[2016-11-28 19:37] MrHohn commented on #37352
In this case, yes I think that might be the problem. Could you try if you have time? Sorry for not noticing it at the first place.

[2016-11-28 19:39] calebamiles commented on #34679
Thanks for the update @jszczepkowski.The [test history](https://k8s-testgrid.appspot.com/release-1.5-blocking#gce-serial-release-1.5&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20%5C%5BHPA%5C%5D%5C%20Horizontal%5C%20pod%5C%20autoscaling%5C%20%5C%28scale%5C%20resource%5C%3A%5C%20CPU%5C%29%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20%5C%5BSerial%5C%5D%5C%20%5C%5BSlow%5C%5D%5C%20ReplicaSet%5

[2016-11-28 19:41] calebamiles commented on #36088
@madhusudancs any updates on your test fixes? Are there any PRs which require cherry pick for 1.5?

**cc: @saad-ali, @dims, @matchstick**

[2016-11-28 19:47] gnufied commented on #36870
This appears to have been fixed recently.

[2016-11-28 19:47] #36870 closed

[2016-11-28 19:49] mtaufen commented on #33882
Just got back to this post-holiday. I am hoping to figure this out today... but I'm still not getting very clear signals from the logs on exactly what is wrong.

Looking at the logs from a recent failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/252

`3wzg` is the most obviously failing node

If you look at the configuration log you can see

[2016-11-28 19:50] liggitt commented on #36120
I would remove it sooner rather than later, given the overhead of the codegen and a lack of confidence in correctness (we've twice seen issues with nil getting confused with empty slices https://github.com/kubernetes/kubernetes/pull/37557 and https://github.com/kubernetes/kubernetes/pull/20536)

[2016-11-28 19:53] liggitt commented on #36120
and it breaks reusing api machinery for anyone who defines their own types without generating ugorji encodeself/decodeself implementations (since the inlined typemeta means their custom type is seen as implementing ugorji custom encode/decode methods)

[2016-11-28 19:54] yujuhong commented on #28667
In short, kubelet doesn't care how pod networking is set up. It assumes the runtime (shim) handles all the necessary steps to set up networking for a pod. The only thing it passes to the runtime via CRI as of now is the pod CIDR, and that's only because pod CIDR is written to the node spec by a controller. Not all network plugins use the pod CIDR, so this extra bit of information may be ignored by

[2016-11-28 19:57] fabioy commented on #27994
@resouer My issue was with an internal configuration issue on my private GKE dev environment. It shouldn't affect you if running on GCE. I'd suggest taking a look at the route controller logs for hints as to why it couldn't create the routes in your cluster.

[2016-11-28 19:58] nnashok commented on #37205
Additionally, the `/etc/kubernetes/cloud-config.conf` (default) file is not copied to the nodes and as a result the nodes fail to come up. The workaround is to have this file created by the user (either before or after running `kubeadm join...`).

[2016-11-28 19:59] mtaufen commented on #33882
I would be interested in seeing if disabling the "unclean" and "kernel panic" reboot tests make all of these pass all of a sudden. The former is accomplished via `echo b | sudo tee /proc/sysrq-trigger` and the latter via `echo c | sudo tee /proc/sysrq-trigger`. I could see either of those resulting in corrupt state following the reboot (more info: https://www.kernel.org/doc/Documentation/sysrq.txt

[2016-11-28 19:59] lukaszo commented on #18947
@kargakis  how would this work without upgrades? As I understand with upgrades, when  progressDeadlineSeconds is reached it would automatically rollback?

[2016-11-28 20:02] liggitt commented on #37565
it is likely that kubectl is being denied permission to access discovery docs. running with a higher verbosity (`--v=7`) will show what particular calls are forbidden.

The documentation (http://kubernetes.io/docs/admin/authorization/#rbac-mode) has instructions for setting up a ClusterRole/ClusterRoleBinding to allow access to discovery endpoints

If you still run into issues, searching for (or o

[2016-11-28 20:02] #37565 closed

[2016-11-28 20:02] liggitt commented on #37560
shouldn't be a release blocker, that PR merged post branch

[2016-11-28 20:04] yujuhong commented on #37560
Ah..good to know. Thanks!

[2016-11-28 20:04] liggitt commented on #37533
`all` is an alias that expands to a set of several different resource types, but I don't think that method of determining whether disjoint resources are being printed is correct.

[2016-11-28 20:04] timothysc commented on #20064
@jayunit100 do you have any state update here now that 1.6 is opening up?

[2016-11-28 20:04] liggitt commented on #37533
cc @juanvallejo

[2016-11-28 20:05] wstrange commented on #10439
@F21 Have you thought of attempting further integration - where you populate a Kube secret from vault? Does that make sense?

[2016-11-28 20:08] calebamiles commented on #36809
@swagiaal, is this issue a regression from 1.4? Would this be a release blocker for 1.5? We need to triage this issue as either a release blocker or non release blocker for 1.5. Please update this issue with a comment before 1PM PST 30 November 20216. Thanks!

**cc: @saad-ali, @dims**

[2016-11-28 20:11] liggitt commented on #9403
LIST (and soon GET) requests have the potential to specify a future resourceVersion and become long-running

[2016-11-28 20:14] mwielgus opened #37570 "Handle updates, rolling update preferences and revisions in federated deployment controller"
... in a more consistent way, especially when looking from the cross-cluster perspective. Currently there is no rolling update subresource, sub-deployments may have different revision numbers, max surge/max unavailable are handled separately in each cluster, etc.

cc: @madhusudancs @nikhiljindal

[2016-11-28 20:16] jayunit100 commented on #20064
Yeah: we've cleaned the events stuff into a roll up, that gives a non kubectl way to see a birds eye view summary of all the scheduling failures.

I'm going to start ramping up on API refactoring tomorrow, that is a longer term task

[2016-11-28 20:20] stevesloka commented on #10439
@wstrange That's exactly what this  (https://github.com/upmc-enterprises/kubernetes-secret-manager) does, takes a secret from vault and populates to a kube secret.

[2016-11-28 20:21] calebamiles commented on #37361
@foxish, @janetkuo, @bprashanth is this issue a release blocker for 1.5? The last test in the issue seems to be consistently failing.

**cc: @saad-ali, @dims**

[2016-11-28 20:24] calebamiles commented on #37324
@Crassirostris, is this test failure a release blocker for 1.5? Please update this issue by 1PM PST 30 November 2016. Thanks!

**cc: @saad-ali, @dims**

[2016-11-28 20:25] calebamiles commented on #37241
@Crassirostris, is this test failure a release blocker for 1.5? Please update this issue by 1PM PST 30 November 2016. Thanks!

cc: @saad-ali, @dims

[2016-11-28 20:27] calebamiles commented on #37213
@wojtek-t, thanks for the triage. Should this issue be moved into the 1.5 milestone? Is it a release blocker? Could you please update this issue by 1PM PST 30 November 2016. Thanks!

**cc: @fejta, @saad-ali, @dims**

[2016-11-28 20:29] philk commented on #33192
Confirming that I also see this.
CoreOS 1185.3.0, docker 1.11.2, kubelet 1.4.5

I just restarted all our kubelets which fixed it. I'll set a reminder to check some nodes in ~12 hours.

[2016-11-28 20:33] pmorie commented on #37011
@dhoer yes, I think parity between configmaps and secrets for control plane functionality like this is desirable.

[2016-11-28 20:34] calebamiles commented on #37144
@bowei, @ixdy https://github.com/kubernetes/kubernetes/issues/37235 seems to have stablized this test. We haven't seen a flake in a week now; closing this issue.

**cc: @saad-ali, @dims**

[2016-11-28 20:34] #37144 closed

[2016-11-28 20:34] soltysh commented on #34447
@sachincab yes, this should be present in 1.5, 1.4 cherry-pick hasn't been merged yet.

[2016-11-28 20:35] madhusudancs commented on #36088
@calebamiles yes. There is  WIP PR here - PR #37571

[2016-11-28 20:35] madhusudancs commented on #36088
This isn't a release blocker any more though.

[2016-11-28 20:41] cgilmour commented on #37552
Hi @bweston92, I'll check into the Romana one.
My initial suspicion is because of different interface names in recent Ubuntu VMs (eg: `enp0s3` and `enp0s8` instead of `eth0`).
There's options for that, and it requires downloading the YAML file and editing it to match that environment.

[2016-11-28 20:41] calebamiles commented on #36569
@MrHohn should this issue be moved into the 1.5 milestone and is it a release blocker? The test seems to flake fairly infrequently but we need to get the issue triaged as to whether it's a 1.5 release blocker. Please update this issue by 1PM PST 30 November 2016. Thanks!

**cc: @saad-ali, @dims**

[2016-11-28 20:43] calebamiles commented on #35880
@alex-mohr should this issue be moved into the 1.5 milestone and is it a release blocker? Please update this issue by 1PM PST 30 November 2016. Thanks!

**cc: @saad-ali, @dims**

[2016-11-28 20:47] lavalamp opened #37573 "Compare openapi compiler output with our proto files"
https://github.com/googleapis/openapi-compiler

I think it would be interesting to see what the difference is, and see if there's anything we should change in our openapi spec, our proto files, or this complier to make them more similar.

I guess maybe this is medium priority to take a look, just in case it turns up something we want to change?

[2016-11-28 20:47] lavalamp commented on #37573
@mbohlool @smarterclayton

[2016-11-28 20:48] k8s-merge-robot opened #37574 "ci-kubernetes-e2e-gci-gke-slow-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.4/371/

Multiple broken tests:

Failed: [k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27703 #32981 #35286

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]
Issues about

[2016-11-28 20:48] k8s-merge-robot opened #37575 "ci-kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/39/

Run so broken it didn't make JUnit output!

[2016-11-28 20:49] errordeveloper opened #37576 "How kubectl explain and describe output could be improved for external consumers"
I've checked out Visual Studio Code plugin that @brendandburns wrote, and it is pretty awesome!

I've considered how to improve rendering of it's `kubectl describe` and `kubectl explain` view, and realised that it would help a lot if these command could produce markdown or something similar. Also it'd be great to have some kind of pages separators, when output contains multiple items (probably onl

[2016-11-28 20:49] calebamiles commented on #32044
Temporarily assigning this issue to you, @dchen1107 please find someone else to reassign this issue to. Thanks!

**cc: @saad-ali, @dims**

[2016-11-28 20:57] mbohlool commented on #37573
Interesting, I remember seeing this (or a similar) project that compiled swagger/OpenAPI spec to an intermediate language and then generated client from that but it wasn't clear at the time that the intermediate state is ProtoBuff (or maybe it wasn't and they changed it). I talked with the person working on that to see if we can use the compiler to generate better clients and it wasn't possible at

[2016-11-28 20:57] mootezbessifi commented on #37352
Actually I am out of the office. Tomorrow I will give you a feedback
On Nov 28, 2016 14:37, "Zihong Zheng" <notifications@github.com> wrote:

[2016-11-28 20:58] MrHohn commented on #36569
Since the feature it is testing is introduced for 1.5, so it should have the 1.5 milestone? This test is flaking because it is not well written, hence I don't think it is a release blocker.

And I already sent out a fix #36600, which got LGTM before but recently rebased.

[2016-11-28 20:59] jingxu97 commented on #29166
@paul-symphony lost+found is automatically created by linux when run "fsck" command in certain cases (http://unix.stackexchange.com/questions/18154/what-is-the-purpose-of-the-lostfound-folder-in-linux-and-unix). Normally if you start with a clean disk, it should not happen.
Please let me know if you still have any issue.

[2016-11-28 20:59] jingxu97 commented on #29166
@splix Thank you very much for helping us confirm the fix. Please let me know if you have any other issue.

[2016-11-28 21:07] k8s-merge-robot opened #37577 "ci-kubernetes-e2e-gci-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/325/

Multiple broken tests:

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then

[2016-11-28 21:07] k8s-merge-robot opened #37578 "DumpClusterLogs {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress/555/

Failed: DumpClusterLogs {e2e.go}

[code]

Previous issues for this test: #33722

[2016-11-28 21:15] F21 commented on #10439
@wstrange If you need to "transform" Vault secrets into Kube secrets, then @stevesloka 's solution will do that for you.

For the Kubernetes-Vault controller, the scope of the project is to safely get a Vault token into a pod. As any pod in a namespace can mount any secret within a namespace, that means the access control enforced by Vault is bypassed. That is why Kubernetes-Vault uses Vault's App

[2016-11-28 21:22] wojtek-t commented on #37213
I don't think it's a blocker.

[2016-11-28 21:24] mbohlool commented on #37573
OK, this wasn't what I (and I guess you) thought. It does not generate a .proto file from an OpenAPI spec, it merely change the format of OpenAPI spec from json to a protobuf message (in binary or text format) to be consumed using a protobuff reader rather than a json reader. I should say I am disappointed. Please let me know if I am wrong (and I enthusiastically hope that I am wrong).

[2016-11-28 21:25] grodrigues3 commented on #36588
@mwielgus please update the release blocker label.

[2016-11-28 21:26] liggitt commented on #10439
there are few possible goals that want to use Vault in different ways:

* use Vault for storage, transparently, with access still managed via the k8s Secrets API
  * this is a variant of the "store secrets encrypted" feature request, which treats all of Kubernetes as a single secret consumer for Vault purposes
  * requires integration at the REST Storage layer
* use Vault for access, possibly comb

[2016-11-28 21:26] grodrigues3 commented on #33884
@justinsb ping

[2016-11-28 21:28] grodrigues3 commented on #27828
@justinsb ping

[2016-11-28 21:33] saad-ali commented on #34679
@jszczepkowski Any updates on this?

[2016-11-28 21:36] k8s-merge-robot opened #37579 "ci-kubernetes-e2e-gci-gke-ingress-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.4/534/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] should conform to Ingress spec {Kubernetes e2e suite}

[code]
Issues about

[2016-11-28 21:41] thomastaylor312 commented on #30042
+1 to this. It is very hard to debug issues with `postStart` hooks due to the lack of logging/output

[2016-11-28 21:48] juanvallejo commented on #37533
@liggitt Ah, in this case the `printAll` bool is only used to ensure that a resource kind gets printed in the event that `get all` only has a single resource to return. It is passed [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get.go#L426) to the `cmdutil` function [MustPrintWithKinds](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/helpers.

[2016-11-28 21:55] timstclair commented on #37453
What node OS were you using? We don't create the system (misc) container on systemd, so it's expected that GCI nodes don't report those stats.

[2016-11-28 21:56] jlowdermilk commented on #33702
The following run has apiserver logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling/280/

Unfortunately there's no indication of the error. The logs simply stop right around the time the master became unavailable:

kube-apiserver.log
[code]

build-log.txt
[code]

Apiserver crash and loss of logs a few seconds prior could be related. Maybe it

[2016-11-28 22:02] Random-Liu opened #37580 "Improve the test: Validate OOM score adjustments once the node is setup pod infra containers oom-score-adj should be -998 and best effort container's should be 1000"
The test `Validate OOM score adjustments once the node is setup pod infra containers oom-score-adj should be -998 and best effort container's should be 1000` is failing in `kubelet-cri-serial-gce-e2e`.
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-cri-serial/12
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kube

[2016-11-28 22:03] bgrant0607 commented on #35314
With respect to release bundling:

If I understood @luxas correctly, it sounds like kubeadm from the K8s release bundle isn't even used.

[2016-11-28 22:06] thockin commented on #37488
FWIW I started to explore a fix for this.  It's a little more tricky than I
expected but not too bad.

On Mon, Nov 28, 2016 at 11:08 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-28 22:08] davidopp commented on #37474
(Master and) node upgrade worked for me on Ubuntu, so this does indeed seem to be Mac-specific.

[2016-11-28 22:17] philips commented on #831
Derek:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/container-runtime-interface-v1.md

On Thu, Sep 22, 2016 at 10:58 AM Derek Mahar <notifications@github.com>
wrote:

[2016-11-28 22:23] k8s-merge-robot opened #37581 "ci-kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1.4/77/

Run so broken it didn't make JUnit output!

[2016-11-28 22:24] errordeveloper commented on #25251
I fixed two bugs that relate to this (https://github.com/kubernetes/kubernetes/pull/32229, https://github.com/kubernetes/kubernetes/pull/35112), I think we need a better contract.

I am looking at `pkg/kubectl/describe.go` and, and I feel like it can be made more elegant with good use of `text/template`, or maybe be just a few extra structs could work better. It's just a massive set of special cas

[2016-11-28 22:27] nnashok commented on #34698
Is there any update or a workaround for this? I'm also facing the same problem with:
Kubernetes 1.4.4
kubeadm for creating the cluster
openstack as cloud provider

[2016-11-28 22:29] smarterclayton commented on #25251
Since we're going to move this to the server side, it would be better not
to dig into this until we settle on that design.

On Mon, Nov 28, 2016 at 5:24 PM, Ilya Dmitrichenko <notifications@github.com

[2016-11-28 22:40] emilyz-github commented on #26657
@ihmccreery May I know how to upgrade my kubectl client? I ran into the same problem using following system on CentOS 7.2:

# kubectl version
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"ec7364b6e3b155e78086018aa644057edbe196e5", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.0", GitCommit:"c5ee292ce8f0df382b520969027

[2016-11-28 22:58] MathiasRenner commented on #34702
I just talked with @luxas about it. The underlying issues are limitations in the core of golang (e.g. https://github.com/golang/go/issues/17028 or https://github.com/kubernetes/kubernetes/pull/32517 ). They are fixed in golang now, but available not before K8s is built with golang version 1.8. ETA: Jan-Mar 2017.

[2016-11-28 23:19] KingJ commented on #37527
Just tried updating to v1.4.6 and i'm seeing the same result. @kerneltime would you have any insight into what might be causing this? (apologies for mentioning you directly!)

[2016-11-28 23:19] dchen1107 commented on #27449
dup of https://github.com/kubernetes/kubernetes/issues/32451

[2016-11-28 23:19] #27449 closed

[2016-11-28 23:23] k8s-merge-robot opened #37584 "ci-kubernetes-soak-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-test/48/

Multiple broken tests:

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27397 #27917 #31592

Failed: [k8s.io] GCP Volumes [

[2016-11-28 23:30] enisoc opened #37585 "Pods with PVCs stuck in ContainerCreating after Node upgrade"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* upgrade volume
* mount timeout
* ContainerCreating

---

**Is this a BUG REPORT

[2016-11-28 23:30] MrHohn commented on #33405
I'm working on confirming what we suspected is correct. After that (I believe within this two days) we will be safe to remove the release blocker label.

And once we figure out the root cause for this flake, we would know whether to re-wrote it before 1.5 release or not, depends on how many works it would be.

[2016-11-28 23:30] enisoc commented on #37585
@janetkuo @saad-ali Could one of you apply the labels we discussed? I don't have access to do it.

[2016-11-28 23:31] piyush-kansal commented on #23864
+1. We want to move to K8s. However, this issue is holding us back. If there is a temporary workaround, please let us know. Thanks.

[2016-11-28 23:43] rkouj opened #37586 "GCE PD unable to attach when node is upgraded to 1.5 from 1.4"
**Is this a BUG REPORT or FEATURE REQUEST?**
BUG REPORT

`Upgrade from 1.4 CVM to 1.5 CVM`

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
rkouj@rkouj0:~/go/src/k8s.io/kubernetes$ kubectl describe pods test-ipj93
Name:		test-ipj93
Namespace:	default
Nod

[2016-11-28 23:46] saad-ali commented on #34060
@ixdy Should this continue to be tracked as a release blocker for 1.5?

[2016-11-28 23:48] saad-ali commented on #33702
@jlowdermilk Any update on this issue. Is it still considered a blocker for the 1.5 release?

[2016-11-28 23:49] k8s-merge-robot opened #37587 "ci-kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/4/

Run so broken it didn't make JUnit output!

[2016-11-28 23:49] k8s-merge-robot opened #37588 "ci-kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/3/

Run so broken it didn't make JUnit output!

[2016-11-28 23:49] ixdy commented on #34060
none of the recent leaks were due to test-infra renames.

[2016-11-28 23:49] saad-ali commented on #36054
Ping @cjcullen, @roberthbailey  any updates on this issue. Is it still considered a blocker for the 1.5 release?

[2016-11-28 23:50] ixdy commented on #37079
@iTagir can you please run `V=4 make release`?

[2016-11-28 23:55] mtaufen commented on #33882
Unfortunately I have been unable to reproduce this in my own cluster yet due to issues with the test framework. I was getting an almost immediate error every time I tried to run a reboot test. The first cause was a panic due to a nil pointer dereference in the test framework, which I fixed in https://github.com/kubernetes/kubernetes/pull/37583. The current cause is that for some reason my ssh key

[2016-11-28 23:56] justinsb commented on #33884
Out of time I think :-(

@thockin can you make a call on the label/annotation to use?

[2016-11-28 23:56] thockin commented on #23864
What has mostly held us back is to spec it and explore the compatibility matrix with @kubernetes/sig-network folks - this WILL have impact on anyone who implements their own Services or who uses the userspace proxy.

Copying specific people off the top of my head

@ncdc re: idling
@brendandburns re: windows
@DirectXMan12 re: userspace proxy
@smarterclayton re: Openshift

[2016-11-28 23:57] thockin commented on #23864
I'd be happy to help someone explore this in 1.6

[2016-11-28 23:59] justinsb commented on #27828
I think we're going to use taints to do this instead.  Network controllers that want to not be broken will be expected to untaint themselves, I guess.

[2016-11-29 00:00] jlowdermilk commented on #33702
I could not repro the issue manually (it seems to have a < 1% occurrence), and there are no logs available to help diagnose.

Since this is happening on 1.4 jobs, I don't think it is a 1.5 blocker. It seems more likely to be a regression with gci.

[2016-11-29 00:06] grodrigues3 commented on #33884
does the milestone just get changed?

[2016-11-29 00:07] saad-ali commented on #37025
@madhusudancs or @kubernetes/sig-cluster-federation Could you help investigate and triage this `multizone` test suite flake as blocking or non-blocking for the 1.5 release.

[2016-11-29 00:12] philips commented on #19849
@david-mcmahon I don't understand the difference between these releases and normal patch releases. It sounds like these are for emergency releases but I don't understand why they don't get released like normal x.y.z releases.

xref https://github.com/kubernetes/kubernetes/issues/35462

[2016-11-29 00:13] thockin commented on #33884
It's not clear to me what the final design is here.  At a glance, unschedulable node probably should NOT be included in load-balancers - they may be going down or undergoing arbitrary maintenance.  Do taints fully obviate `unschedulable`?  What what `cordon` will use to denote a drained node?

[2016-11-29 00:15] k8s-merge-robot opened #37590 "ci-kubernetes-node-kubelet-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/12/

Run so broken it didn't make JUnit output!

[2016-11-29 00:18] davidopp commented on #37460
To summarize discussion with @ymqytw there are two possible approaches (pseudocode below)

1) Goroutine approach:

For each pod P that meets the [filter](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/drain.go#L407), do the following:
[code]

2) Non-goroutine approach:

[code]
where "not timed out yet" means you haven't finished waiting max(--grace period argument to kubectl

[2016-11-29 00:20] mikedanese commented on #33884
They will but they haven't yet. That's https://github.com/kubernetes/kubernetes/issues/29178.

[2016-11-29 00:22] emilyz-github commented on #33729
I tried to install the latest version v1.5.0-beta.2 using kubeadm on ubuntu 16.04. Failed at "waiting for the control plane to become ready" again.

I did following before starting install anything else.
[code]

After installation I ran:
`kubeadm init --use-kubernetes-version v1.5.0-beta.2`

Stuck here:
![image](https://cloud.githubusercontent.com/assets/12282288/20691506/5be56030-b586-11e6-8969-6

[2016-11-29 00:23] thockin commented on #33884
So what signal do we use to remove a node from load-balancers gracefully?

On Mon, Nov 28, 2016 at 4:20 PM, Mike Danese <notifications@github.com>
wrote:

[2016-11-29 00:25] thockin commented on #37556
Or we should do more to unexport packages that we don't want people outside
of our repo to use in the first place.

On Mon, Nov 28, 2016 at 7:11 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-11-29 00:25] janetkuo commented on #37585
@kubernetes/sig-storage @jingxu97 PTAL on this, it's 1.5 release blocker

[2016-11-29 00:32] bprashanth commented on #33884
Unschedulable is Ok to include in the lb, people cordon nodes for various reasons but if it's healthy, we can assume the pods on it are serving traffic.

The node will get removed from the target pool if it is not ready, or it fails enough health checks (i.e onlylocal + no endpoints). We lack a command to do what I think you want (https://github.com/kubernetes/kubernetes/issues/30272).

[2016-11-29 00:32] Brian-McM commented on #35695
I also seem to be experiencing this issue. We run a cluster across multiple pv's with kops and we have a petset with 2 volume claims and it always schedules the two pv's in different volumes, thus the pod can never be schechuled. The funny this is that we do have a 2 pvc petset that doesn't have this issue, and the yml's seem pretty much the same.

[2016-11-29 00:34] saad-ali commented on #37585
Possibly the same root cause as https://github.com/kubernetes/kubernetes/issues/37586

[2016-11-29 00:43] david-mcmahon commented on #19849
@philips Standard x.y.z releases contain cumulative patches on that branch.
The emergency branches are branched from a specific x.y.z release/tag.

[2016-11-29 00:43] thockin commented on #20391
@tomdee I don't have a flannel install up right now to poke at, but maybe we can hash out a protocol for this between kube and flannel?  Is flannel still installing rules into POSTROUTING unilaterally?

[2016-11-29 00:44] dchen1107 commented on #32451
The test itself relies on several components, and the failures are caused by different reasons, and the only last one might be the release blocker.

* (NON-BLOCKER) Taking https://github.com/kubernetes/kubernetes/issues/32451#issuecomment-263179166 as an example since the test failed a couple of times with the same symptom:
  * The pods are properly scheduled and ran on the node
  * Later when kub

[2016-11-29 00:45] matchstick commented on #32451
@bowei PTAL

[2016-11-29 00:47] thockin commented on #33884
I think we should have a way to say this node is completely out of service"
so we can GRACEFULLY take it out of LBs.  failing HC's is a last resort
because it means we are failing traffic, too!

On Mon, Nov 28, 2016 at 4:32 PM, Prashanth B <notifications@github.com>
wrote:

[2016-11-29 00:50] bprashanth commented on #33884
Today to truly drain a node the lb actually needs to continue including unschedulable in the target pool. Then when `kubectl drain` marks the node unschedulable, traffic still reaches it, but the deletion timestamp is also set simultaneously on all pods, so they're removed from the endpoints set. Such a node is just proxying requests off node while waiting for endpoints on it to clean up open conn

[2016-11-29 00:56] saad-ali commented on #37409
https://github.com/kubernetes/kubernetes/pull/37441 was merged.

Latest run is green: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/82/

Resolving issue.

[2016-11-29 00:56] #37409 closed

[2016-11-29 00:56] tianshapjq commented on #37533
Thanks for your reply! Sorry for my mistake for describing "kubectl get all" command, it works fine.
But another question is, the _all_ arg is not contained in the args list, such as "kubectl get -h" doesn't contain the _all_ arg. Then users may not know about this arg without looking into the source code. Do you think it's good to add the _all_ into the args list? @juanvallejo

[2016-11-29 00:58] thockin commented on #33884
Deleting the node while it is alive means kubelet might recreate it (race).
Turning off the node before it is deleted means some LB traffic will arrive
at a dead-end.

Both are bad.  We need graceful deletion of nodes.

On Mon, Nov 28, 2016 at 4:50 PM, Prashanth B <notifications@github.com>
wrote:

[2016-11-29 01:00] bprashanth commented on #33884
Rigth we need to stop services before deleting the node, just like we do with scale down. I imagine a graceful deletion of nodes to look like what i described, without some sort of "LameDuck" mode supported by all cloudproviders.

[2016-11-29 01:02] smarterclayton commented on #37556
Please don't do that, you'll break openshift horribly.

On Nov 28, 2016, at 7:25 PM, Tim Hockin <notifications@github.com> wrote:

Or we should do more to unexport packages that we don't want people outside
of our repo to use in the first place.

On Mon, Nov 28, 2016 at 7:11 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

https://github.com/kubernetes/kubernetes/issues/37556#issuecommen

[2016-11-29 01:04] cgilmour commented on #37552
Hi @bweston92.

I'm assuming you are running or plan to run more than one VM and have a small cluster running locally. With VMs, you will end up with two network interfaces, and to make it work, you'll need few small changes when you perform the setup.

Normally with Ubuntu 16.04 VMs, you'll end up with a NAT interface named `enp0s3` and and a host-only interface named `enp0s8`.
The NAT interface

[2016-11-29 01:06] mikedanese commented on #33729
Can we move discussion to https://github.com/kubernetes/kubeadm/issues/2? Thanks! Sorry to derail.

[2016-11-29 01:06] #33729 closed

[2016-11-29 01:07] philips commented on #19849
@david-mcmahon understood, got it, that makes sense. Just a little head spiny trying to read versioning.md.

I think we need to create better naming and categories for versioning.md overall. [See my kubernetes-dev](https://groups.google.com/forum/#!topic/kubernetes-dev/13bzxUgcEcY) post.

[2016-11-29 01:07] thockin commented on #33884
I am confused - you said

As long as the node is running, kubelet will try to (race) to recreate the
Node object, I think.

On Mon, Nov 28, 2016 at 5:00 PM, Prashanth B <notifications@github.com>
wrote:

[2016-11-29 01:10] yujuhong commented on #37447
@fgrzadkowski, we need the project name/id to access the cluster.

Why did kubelet restart? Did it ever have a chance to persist the pod status to the apiserver?

What's the output of `kubectl describe pods` for these two pending pods? Did kubelet indicate any reason why the pod was pending?

[2016-11-29 01:11] mikedanese commented on #35314
@bgrant0607 so far kubeadm will first appear in the v1.5 release tar because the code hadn't merged so no, it probably hasn't been used much yet. We want pulling kubeadm from the release tar to be an option for people who aren't using debian or rhel.

[2016-11-29 01:11] thockin commented on #37556
We can't have it both ways...  If we want people to import our packages, we
have to make strong compat guarantees.  If we want to dodge strong compat
guarantees, we can't allow people to import...

On Mon, Nov 28, 2016 at 5:02 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-29 01:12] mikedanese commented on #35314
How does per-PR testing work when we move out. Do we test core PRs against master of kubeadm and test kubeadm PRs against master of core? It seems like two competing SQs could interact (i.e. break) in ways that would halt both SQs. cc @kubernetes/sig-testing

[2016-11-29 01:15] liggitt commented on #37556
Or at least the orderly splitting of generic API server, API and CLI machinery into separate packages (and then repos) should happen first, to give a path to external consumers like that. OpenShift is a reasonable proving ground for a third party consumer, and I'd like to see that proven before a blanket unexport.

(it's also amusing when an upstreamed utility function gets unexported)

[2016-11-29 01:17] liggitt commented on #37533
It's a positional arg, not a flag. It should appear in the help somewhere

[2016-11-29 01:22] bprashanth commented on #33884
I'm saying this boils down the "how to delete a node", because we've already solved the draining problem as described. I believe kubelet will only create the node once, but it doens't snapshot so if you delete the node and restart the kubelet, it'll recreate the node. I also *think* there's logic in the nodecontroller to delete the node from cloudprovider when it observes it is gone from Kube (or

[2016-11-29 01:26] zmerlynn commented on #35314
The way I did this for `kops` is this:
* There's a PR builder on the main `kops` repo that runs the equivalent of [`ci-kubernetes-e2e-gce`]( https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce/), but pinned to a stable Kubernetes version.
* There's a [`kops-updown`](https://k8s-testgrid.appspot.com/google-aws#kops-aws-updown) job that pushes to a `kops` release

[2016-11-29 01:26] bprashanth opened #37592 "Rollback cordon if kubectl drain fails"
kubectl can fail for a couple of reasons and we apparently leave the node cordoned
[code]

So I guess we're leaking a cordon?

[2016-11-29 01:32] bprashanth commented on #33884
Or if you don't want to delete the node at the end there, put it in "maintenance mode" via the kubectl command from https://github.com/kubernetes/kubernetes/issues/30272

[2016-11-29 01:35] yujuhong commented on #33882
This particular failure seems different than the previous "node not ready" failures. It was caused solely by the corrupt image layers. It's full of errors such as
[code]
The fluentd pod on the node could never become ready and the test failed. Possibly related docker issue (I didn't read carefully) https://github.com/docker/docker/issues/23184

[2016-11-29 01:38] thockin commented on #37416
Awesome.  Let me tease that apart:

[code]

This is doing a dumb string superset test.  "0x4000" != "0x00004000".
Quick hack would be to `s/^0x0*/0x0` on every string arg, or
something.  Better would be to actually parse the iptables args into
into structs and compare by that.  @dcbw, I know I poked a lot of
holes in your other PR, but it might be useful here, too :)

[2016-11-29 01:52] thockin commented on #37416
https://github.com/kubernetes/kubernetes/pull/37594

On Mon, Nov 28, 2016 at 5:38 PM, Tim Hockin <thockin@google.com> wrote:

[2016-11-29 01:54] xilabao opened #37595 "Need to delete related rolebinding/clusterrolebinding when the role/clusterrole removed"
rbac.yaml
[code]
Step 1:`kubectl create rbac.yaml`
Step 2:`kubectl delete role admin-resource-role`
Step 3:`kubectl get rolebinding admin-resource-binding -o yaml`
[code]
The result is admin-resource-binding still relate to a invalid role. when use group(test) to authorize, will return a internel error. And if recreate the role (admin-resource-role) with different rules, will auto related to the r

[2016-11-29 01:56] saad-ali commented on #32214
Ack. Thanks @yujuhong

[2016-11-29 02:03] dchen1107 commented on #37447
@fgrzadkowski  I couldn't access your cluster without projectid. Also there is no notification email nowadays when you added us to your project.

I also couldn't reproduce the problem by simply restarting Kubelet.

[2016-11-29 02:05] saad-ali commented on #35880
These flakes appear to be only on GKE not GCE. CC @kubernetes/goog-gke

[2016-11-29 02:09] rkouj opened #37596 "Unable to mount secrets for 1.4 to 1.5 upgrade"
Manual upgrade tests for `1.4 CVM to 1.5 CVM`

**Environment**: GCE

After upgrading the master from 1.4 to 1.5, I see that the secrets are unable to mount with the upgrade.

Command I ran:
`cluster/gce/upgrade.sh -M v1.5.0-beta.2`

from the `1.5 branch`

https://docs.google.com/document/d/19Q4AzWLD5jd2FNaPyKy2xdTN4JIGUUpvwDwg0tcBkyc/edit#

rkouj@rkouj0:~/go/src/k8s.io/kubernetes$ kubectl describe

[2016-11-29 02:13] janetkuo commented on #37184
@kubernetes/test-infra-maintainers

[2016-11-29 02:15] saad-ali commented on #37596
CC @kubernetes/sig-storage

[2016-11-29 02:18] rkouj commented on #37596
Controller log file:

https://gist.github.com/rkouj/6a7bd80be7b92224d84667a545da13c1

[2016-11-29 02:21] krzyzacy commented on #37184
http://k8s-testgrid.appspot.com/google-gke#gci-gke it was pretty broken this afternoon but seems happy now.. see if it'll panic again..

[2016-11-29 02:22] tianshapjq commented on #37533
Thanks! Problem solved. I will close this issue.

[2016-11-29 02:22] #37533 closed

[2016-11-29 02:34] ligc opened #37597 "failed to delete deployment with conflicting labels"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubern

[2016-11-29 02:35] dims commented on #37587
@k8s-oncall - rsync issues on the ci servers, PTAL

[2016-11-29 03:00] smarterclayton commented on #37556
Unexporting is a hammer, but it's really not the problem (I don't have a
problem with people vendoring stuff).  The problem crops up the moment
someone vendors something into Kube that depends on Kube.  I have trouble
believing that's hard to enforce, or that it even makes sense to allow.

On Mon, Nov 28, 2016 at 8:11 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-11-29 03:07] timothysc commented on #34080
So this isn't really a kubernetes issue honestly so I'm going to close.  Should folks wish to pursue they can do so externally.

[2016-11-29 03:07] #34080 closed

[2016-11-29 03:31] sayrer opened #37598 "Bazel: pkg/util/sets/BUILD fails when running external, in another Bazel repository"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"bazel"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug Repo

[2016-11-29 03:33] xingzhou commented on #37597
I'd like to try reproduce and investigate this issue.

[2016-11-29 03:42] timothysc commented on #19049
@georghildebrand  we're working on it.. /cc @jeremyeder

[2016-11-29 03:50] timothysc commented on #35198
It's entirely possible that your allocation is triggering a GC event.

[2016-11-29 03:56] k8s-merge-robot opened #37599 "ci-kubernetes-e2e-gce-enormous-cluster: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-cluster/-1/

Run so broken it didn't make JUnit output!

[2016-11-29 03:56] k8s-merge-robot opened #37600 "ci-kubernetes-e2e-gce-enormous-deploy: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-deploy/-1/

Run so broken it didn't make JUnit output!

[2016-11-29 03:56] k8s-merge-robot opened #37601 "ci-kubernetes-e2e-gce-enormous-teardown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-teardown/-1/

Run so broken it didn't make JUnit output!

[2016-11-29 03:56] k8s-merge-robot opened #37602 "ci-kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/433/

Run so broken it didn't make JUnit output!

[2016-11-29 04:03] paralin commented on #17162
Did you guys ever decide what you wanted to use? :)

[2016-11-29 04:14] rkouj commented on #37596
I did the upgrade again and `did not` see the issue. Not sure if it was a one off thing.

[2016-11-29 04:15] rkouj commented on #37596
rkouj@rkouj0:~/go/src/k8s.io/kubernetes$ kubectl describe pods
Name:		test-zga9j
Namespace:	default
Node:		kubernetes-minion-group-2lyw/10.128.0.5
Start Time:	Mon, 28 Nov 2016 20:06:23 -0800
Labels:		<none>
Status:		Running
IP:		10.244.1.4
Controllers:	<none>
Containers:
  busybox:
    Container ID:	docker://fa044f2ea997566004cd3f069d0bc5753a54eb2b67d6925bdb2c6ce31296911a
    Image:		busybox
    I

[2016-11-29 04:16] rkouj commented on #37596
https://gist.github.com/rkouj/2205033947b1f9ab3d7711bbb59b6c92

[2016-11-29 04:18] sandys commented on #28610
Another example i would like to add is linkerd. https://linkerd.io

[2016-11-29 04:25] thockin commented on #33884
This has gone a little off-target, so I apologize.  Maybe @mml can say more about this path?

[2016-11-29 04:30] ymqytw opened #37605 "pod disruption budgets cannot handle concurrent requests"
**What happened**:
When I try to test `kubectl drain` after implementing the 1st approach according to https://github.com/kubernetes/kubernetes/issues/37460#issuecomment-263437516, I found pod disruption budgets cannot handle concurrent requests.

The error message is:
[code]
[code]
It is an Optimistic Lock error message. It means PDB can't handle concurrent requests.

**How to reproduce it** (as

[2016-11-29 04:32] bradfitz commented on #35198
If it was Go 1.6 with such a large heap, that's plausible.

It'd be better with Go 1.7, but if you're not on that yet, Go 1.8 will be even better, bringing 10~100μs heaps, regardless of heap size.

[2016-11-29 04:32] rkouj commented on #37586
Ran the upgrade again.
This time the `pod is being deleted`.
https://gist.github.com/rkouj/44682827eb2f760257f6c4b0b1f8c8ab

[2016-11-29 04:49] rkouj commented on #37586
kube-controller-manager.log

https://gist.github.com/rkouj/79b93ccf3b9d49dbd9e4c1b684a1af42

[2016-11-29 04:49] saad-ali commented on #36569
Thanks for triaging @MrHohn

[2016-11-29 05:52] thockin commented on #31272
I think Paul's protocol around P0 work sounds pretty good.  @kubernetes/contributor-experience - do we have a place where we are capturing such rules?

[2016-11-29 05:53] mootezbessifi commented on #37352
thank you @MrHohn, i checked out the config files and it turned out that all of them have .yaml extension not yml. i was wrong. what is next !!??

[2016-11-29 06:29] roberthbailey commented on #37385
I think I found the problem. `if [[ "${REMAINING_MASTER_COUNT}" == "0" ]]` (from https://github.com/kubernetes/kubernetes/blob/95f8fc0ec325000060a6c469ea79a6da4d766415/cluster/gce/util.sh#L1228) evaluates to false in bash on my mac. Changing it to `if [[ "${REMAINING_MASTER_COUNT}" -eq 0 ]]` fixes my issue. I'll send out a PR.

[2016-11-29 06:29] roberthbailey commented on #37385
@jszczepkowski

[2016-11-29 07:33] Hexta opened #37609 "Deleting not scheduled POD cause scheduler errors"
Deleting not scheduled POD cause scheduler errors.
kube-scheduler log contains messages like

**Steps to reproduce**:
1. kubectl run stress --image progrium/stress --limits='cpu=300' --replicas=1 -- --cpu 1
2. kubectl delete deploy stress

**Kubernetes version**: 1.4.5

**Environment**:
- Bar-metal
- **OS**: Ubuntu 16.04.1

[2016-11-29 07:42] k8s-merge-robot opened #37610 "ci-kubernetes-e2e-gce-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/83/

Run so broken it didn't make JUnit output!

[2016-11-29 08:00] wojtek-t commented on #36328
@k8s-oncall - this blocks submit queue completely

[2016-11-29 08:07] nikhiljindal commented on #36328
This is strange. It is not marked as Required on PR tests, but seems to be blocking the submit queue.
@wojtek-t If you have merge rights can you merge https://github.com/kubernetes/test-infra/pull/1209 which claims to fix this issue and is LGTM'd?

[2016-11-29 08:15] jszczepkowski commented on #34679
@calebamiles
The history for HPA tests was recently pretty bad due to problem with HA-master tests that affected all other tests in the suite. The problem was reported as #37409 and fixed by https://github.com/kubernetes/kubernetes/pull/37441

[2016-11-29 08:36] bronger commented on #37063
The problem was the following:

    # rm -Rf /var/lib/kubelet
    rm: cannot remove '/var/lib/kubelet/pods/60f036bc-b608-11e6-92c6-005056be54be/volumes/kubernetes.io~secret/default-token-t74z7': Device or resource busy

We return to the old snapshot with `rsync` which probably has the same problems as `rm` with removing this directory.  After a reboot, one can remove `var/lib/kubelet`.  It is surp

[2016-11-29 08:40] wojtek-t commented on #37168
This is pretty much duplicate of #37213

[2016-11-29 08:55] bweston92 commented on #37552
First of all, thank you for getting back to me, very much appreciated.

Ok, I don't have a host only network, the VMs are on bare metal servers with KVM. However there is only a internal network ip address.

[code]

With the above I've amended it to look like the following:

[code]

And
[code]

The mysql container looks fine and is running. The K8s DNS container however keeps recreating still with

[2016-11-29 09:00] piosz commented on #37453
The default configuration for 1.4, which is:
master: GCI
nodes: Container VM

[2016-11-29 09:00] MichaelTSS commented on #34379
I believe I have the same issue as @jasonhubs. The `kubernetes-dashboard` keeps restarting logging the same event:
```Error syncing pod, skipping: failed to "StartContainer" for "kubernetes-dashboard" with CrashLoopBackOff:```

After a couple minutes though, it successfully starts the pod and the interface is available again.
Running Kubernetes 1.4

[code]

[2016-11-29 09:01] roberthbailey commented on #37474
I tested #37562 and it looks like it fixed my issue. I suppose I'll need to cherry pick it into the 1.5 branch once it merges to master.

[2016-11-29 09:07] fanhaozzu opened #37614 "FEATURE REQUEST:get node ports used"
i expect kubelet can put the node's port info(used,unused) to etcd, if can, i think it cool!

[2016-11-29 09:24] xilabao opened #37615 "failed to start apiserver if use --authorization-mode=RBAC"
Happen to the newest version.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`):Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.949+e6c57c6569ea38", GitCommit:"e6c57c6569ea38a007c1c75916718cb078cce40d", GitTreeState:"clean", BuildDate:"2016-11-29T06:35:08Z", GoVersion:"go1.7.3", Compiler:"gc", Platfo

[2016-11-29 09:30] feiskyer opened #37616 "Kubelet: add events for all container life cycle changes"
We only report Created/Started events for containers today. Having informational events for all container life cycle changes is very useful. For example, it could help to get OOM events more efficiently (#37141).

cc @kubernetes/sig-node

[2016-11-29 09:35] cgilmour commented on #37552
Hi @bweston92, in that case I suggest opening an issue at https://github.com/romana/romana/issues/new to follow up on the Romana part of this.
Thanks!

[2016-11-29 09:35] Raffo commented on #17525
@daniilyar I had the same, any workaround or hint. I upgraded to 1.12.1, but had the same.

[2016-11-29 09:42] bweston92 commented on #37552
Created, thanks.

[2016-11-29 09:44] vishh commented on #3595
@tmandry what features do you need?

[2016-11-29 09:46] foxish commented on #37410
Closing because the [tests are now running](https://k8s-testgrid.appspot.com/google-gke).

[2016-11-29 09:46] #37410 closed

[2016-11-29 10:02] foxish commented on #35759
Moving to close this as it has not recurred in a while.

[2016-11-29 10:02] #35759 closed

[2016-11-29 10:02] foxish commented on #35754
Moving to close this as it has not recurred in a while.

[2016-11-29 10:02] #35754 closed

[2016-11-29 10:04] foxish commented on #31969
Looks like test infra.

[2016-11-29 10:04] foxish commented on #36553
Fixed.

[2016-11-29 10:04] #36553 closed

[2016-11-29 10:16] kargakis commented on #18947
@lukaszo upgrades are a pre-requisite if we want to rollback. The condition that denotes failure after a given deadline is independent but can be combined with upgrades and implement automatic rollbacks.

[2016-11-29 10:17] Pensu opened #37618 "local-up-cluster script is not generating apiserver key/cert"
I am trying to get a local cluster up running ./hack/local-uo-cluster.sh script. I am getting this error:

[code]
Here is the log message:
[code]
I tried to look, the directory is there, but there is no certificate-authority or key file. Looks like the script is not generating keys for apiserver or is there something that I am missing here? TIA.

[2016-11-29 10:18] kargakis commented on #37566
cc @lukaszo

[2016-11-29 10:27] yash1425 commented on #31891
Facing exactly the same issue.Not sure if it is an issue from AWS or kubernetes side. @sachincab  @jingxu97

[2016-11-29 10:35] wojtek-t commented on #37156
Why did run this test? Please don't run large and enormous tests - this requires coordination w SREs etcd and may potentially break GCE.

[2016-11-29 10:35] wojtek-t commented on #37157
Why did run this test? Please don't run large and enormous tests - this requires coordination w SREs etcd and may potentially break GCE.

[2016-11-29 10:38] kargakis commented on #37566
@kubernetes/kubectl

[2016-11-29 10:56] hanikesn commented on #31891
After uprading to 1.4.6 from 1.4.1 we also got more issues with volumes not attaching correctly.

[2016-11-29 11:02] AdoHe commented on #37597
Thanks @xingzhou , and @kargakis ptal.

[2016-11-29 11:15] AdoHe commented on #37566
@smarterclayton @kargakis any existing command can use here? Like adopt `rolling-update` to implement this.

[2016-11-29 11:32] Crassirostris commented on #37241
@calebamiles It's not a release blocker

CC @piosz

[2016-11-29 11:32] Crassirostris commented on #37324
@calebamiles It's not a release blocker

CC @piosz

[2016-11-29 11:32] deitch commented on #33664
@brendandburns and @yujuhong: I could see this being useful in a number of use cases, where "latest" is used in prod.

Depends on how "latest" gets used. I have worked with a number of environments where there is a single image registry that supports prod/testing/etc. (which makes sense). However, the given repos can be populated **only** by CI. Builds off of any branch get tagged correctly with v

[2016-11-29 11:33] soudy commented on #30861
This doesn't look to be fixed, still happening on 1.4.6. `runc -v`:
[code]

[2016-11-29 11:55] kargakis commented on #37597
Seems like a duplicate of https://github.com/kubernetes/kubernetes/issues/34466 - fixed by https://github.com/kubernetes/kubernetes/pull/34952

[2016-11-29 12:31] foxish commented on #26317
/cc @saad-ali

[2016-11-29 12:38] k8s-merge-robot opened #37620 "[k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1.4/90/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}

[code]

Previous issues for this test: #27470 #30156 #34304

[2016-11-29 12:43] wernight opened #37621 "Add shorthands for common flags"
I'm constantly using two flags which have no shorthand (and by constantly I mean typing them many times a day each day):

 - `--context`
 - `--namespace`

Can we have `-c` for `--context` and `-n` for `--namespace`? Or may be even support another notation like:

    $ kubectl [[context] namespace] COMMAND ...

[2016-11-29 12:47] AndyMoore111 opened #37622 "third party resources api selflinks missing forward slash"
Bug report

**Kubernetes version**

Client Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-beta.2", GitCommit:"0776eab45fe28f02bbeac0f05ae1a203051a21eb", GitTreeState:"clean", BuildDate:"2016-11-24T22:35:03Z", GoVersion:"go1.7.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-beta.2", GitCommit:"0776eab45fe28f02bbeac0f

[2016-11-29 12:51] deads2k commented on #37553
I'm having the same problem trying to look at the kops bring up failures: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/2319 .

@kubernetes/rh-cluster-infra

[2016-11-29 13:02] sebgoa commented on #37079
for me:

* `make` works (using your PR to fixes the gobindata dep) -local Go build-
* `make quick-release` works (docker build)
* `make clean` works if you have Docker running.

[code]

* `make release` does not work:

[code]

`V=4 make release` on OSX did not seem to give more verbosity.

[2016-11-29 13:20] ferdi-bedag commented on #34698
I'm using `--enable-controller-attach-detach=false` for now on kubernetes 1.4.x with openstack (kubernetes 1.4.6, coreos 1185.3.0).

On my setup, the attach/detach controller never detaches cinder volumes from the compute.
It is able to attach volumes, but somehow thinks that it was unable to do so. Every 5 seconds, it tries to attach the volume again (maybe this is normal)

[code]

[2016-11-29 13:59] TerraTech opened #37625 "Reconciler and GlusterFS: E1129 an empty namespace may not be set when a resource name is provided"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
CoreOS-1185.3.0 (baremetal)
hyperkube-v1.4.6_coreos.0

**What happened**:
I am seeing this repeating in my logs every 3 minutes
[code]
[code]
[code]
Given the E1129 error, are Persistent Volumes supposed to be namespaced?

[2016-11-29 14:15] AndryBray commented on #33447
Hi @matchstick
do you think you'll be able to release it before the new year?
It would be a great news because many projects are blocked because of this issue.

Thank you for you work

[2016-11-29 14:20] wojtek-t commented on #37232
For this, we are just waiting for:
https://github.com/kubernetes/kubernetes/pull/37379

to be merged and cherrypicked to 1.5 branch.

[2016-11-29 14:30] gmarek commented on #36372
Dupe #37116

[2016-11-29 14:30] #36372 closed

[2016-11-29 14:49] wojtek-t commented on #37131
Once #37322 is merge, we should check if this one is fixed too.

[2016-11-29 14:51] timothysc commented on #35198
Welp this is why buffer pooling still exists.  What's old is new ;-)

[2016-11-29 14:56] wojtek-t commented on #35198
We migrated to Go 1.7 few weeks ago, and I think it's better now. If you're saying that with 1.8 it would be even better, that's great.

[2016-11-29 14:56] mccormd opened #37626 "FlexVolume not appearing to call unmount on a simple volume"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Yes - problems using the FlexVolume
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): flexvolume unmount
---

**Is this a BUG REPORT or FE

[2016-11-29 15:00] justinwyer commented on #37005
This is a big requirement, using an azure file volume for postgresql for instance fails due to permissions as initdb tries to change the permissions to be less restrictive but is unable to.

[2016-11-29 15:10] timothysc commented on #37485
@gmarek isn't this what kubeadm does.?.?

[2016-11-29 15:31] #37342 closed

[2016-11-29 15:33] #37083 closed

[2016-11-29 15:34] lam-rubikloud commented on #37005
Evaluating compatibility between a certain setup of a volume mount would and an arbitrary piece of software would be the responsibility of the integrator, wouldn't it?

It seems a big requirement for K8s itself to have to ensure PostgreSQL can do what it wants.  An integrator who tries to use Azure File Storage for PostgreSQL should know better to mount with the correct permission.

[2016-11-29 15:38] iT2afL0rd opened #37628 "ClusterIP not accessible within the cluster but nodePort can"
I have a kubernetes cluster which contains three nodes, the cluster version info are:

[code]

Node info:

[code]

I have a redis deployment:

[code]

And a service expose the redis server using nodePort:

[code]

I can access the redis server on each node within the cluster using the command:

[code]

And also able to access it outside the cluster using all the following server:nodePort:

[code]

[2016-11-29 15:41] mccormd commented on #37626
@chakri-nelluri is this something you could advise about?

[2016-11-29 15:54] #32567 closed

[2016-11-29 16:12] kargakis commented on #37605
Or use PATCH?

[2016-11-29 16:15] #37232 closed

[2016-11-29 16:22] mccormd commented on #37626
I'm confused as to why neither 'unmount' nor 'detach' are called on the flexvol.

[2016-11-29 16:23] kargakis commented on #37592
@kubernetes/kubectl @kubernetes/sig-node

[2016-11-29 16:24] k8s-merge-robot opened #37631 "ci-kubernetes-e2e-gci-gce-ingress: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/609/

Run so broken it didn't make JUnit output!

[2016-11-29 16:26] hhzguo commented on #17470
fasaxc:
      Thanks a lot for the guide. I am a newbie in iptables, can you tell the detail how to add masquerade to loopback traffic?

Thanks a lot
Henry

[2016-11-29 16:31] thockin commented on #3595
@tmandry - the problem is that per-process limits are not very useful for
isolation purposes.  There are some uses, I admit, but every facet of API
has cost to develop and test and maintain and document and comprehend, so
we need to balance that.  Which rlimits are you interested in?

On Tue, Nov 29, 2016 at 1:44 AM, Vish Kannan <notifications@github.com>
wrote:

[2016-11-29 16:32] fgrzadkowski commented on #37447
Sent over email.

--
Filip

On Tue, Nov 29, 2016 at 3:03 AM, Dawn Chen <notifications@github.com> wrote:

[2016-11-29 16:36] arya opened #37632 "Return packets arrive at Node but not delivered to Pod"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
GKE, n1-standard-4 nodes

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
Linux gke-arb3-dev-default-pool-2abbee48-12yv 4.4.21+ #1 SMP Wed Oct 26 13:00:52 PDT 2016 x86_64 Intel(R) Xeon(R) CPU @ 2.30GHz GenuineIntel GNU/Linux

- **Install tools**:
N/

[2016-11-29 16:56] jayunit100 opened #37633 "[scheduler perf] general improvments: use real statistics, s/polling/watch"
*problem*

general janitor work on scheduler perf needs to be done, two major bullets below, open to adding

- [ ] scheduler_perf tests measure throughput using scalar values.  but the real thing we care about is that we have a certain distribution, i.e.
- [ ]  the scheduler perf also needs to implement a watch to make the polling cleaner.
- [ ]  scheduler_perf needs to support arbitrary combinati

[2016-11-29 16:56] jayunit100 commented on #37633
cc @kubernetes/sig-testing @timothysc

[2016-11-29 16:57] boydgreenfield commented on #30042
Quick update: Our issue was caused by a (sporadic) race condition in two `postStart` hooks and we've fixed it by using an `initContainer` instead. _But_ as @thomastaylor312 says, this can be incredibly difficult to debug due to the lack of logging here.

[2016-11-29 17:07] erikerlandson commented on #34377
I am going to present the spark-on-kube topic at the [Kubernetes SIG-Apps](https://github.com/kubernetes/community/tree/master/sig-apps) next Monday (Dec 5).  It will be similar to the [OpenShift briefing](https://blog.openshift.com/openshift-commons-big-data-sig-2-running-apache-spark-natively-on-kubernetes-with-openshift/) but the focus will be on kube specifically, and I'll update it to cover a

[2016-11-29 17:21] derekwaynecarr commented on #36069
@euank - agreed.

[2016-11-29 17:28] smarterclayton opened #37637 "`kubectl delete` needs to be made generic for graceful deletion"
Currently kubectl delete does not handle graceful deletion for resources it does not recognize (just ignores `--grace-period`).

Also, waiting for the object to be deleted (for the reaper, and for the legacy `--grace-period=0` support) needs to handle UID changes correctly.  That involves changes to the reaper to fetch the object prior to deletion and also knowing that it should wait (so a signatu

[2016-11-29 17:37] #37560 closed

[2016-11-29 18:03] mtaufen commented on #33882
Nice find @yujuhong.

I've managed to get a hacky workaround to the ssh issue so now I'm just running lots of iterations of these tests and trying to pin down what is failing.

[2016-11-29 18:06] smarterclayton commented on #37637
@deads2k because you did generic kubectl stuff and will nag me

[2016-11-29 18:13] thomastaylor312 commented on #30042
@boydgreenfield: Is there another issue tracking the need for logs that you know of? Supposedly, [there is logging](https://github.com/kubernetes/kubernetes/pull/25681), but I have never seen it. The only thing that I have seen is the `FailedPostStartHook` event

[2016-11-29 18:22] philips commented on #37455
cc @brendandburns

[2016-11-29 18:23] krzyzacy commented on #37156
I don't think we've run these test ourselves, someone ran it and failed(10 days ago) thus this test failure occurred.

[2016-11-29 18:28] jlowdermilk commented on #33702
Last batch of pings are unrelated (soak-gke-deploy failed, I triggered a redeploy). After a little more digging I suspect this issue has actually been around much longer, and we just didn't detect it until #33240 added junit results.

If apiserver pod is expected to restart randomly, then the fix is to make the e2e framework more robust; right now it makes a single `kubectl version` call and if th

[2016-11-29 18:34] #30294 closed

[2016-11-29 18:37] yujuhong commented on #37447
I did some basic checkup in the cluster, but will be offline for the next hour or two. Posting the findings below so other people can pick up if they want.

 1. I can't find logs around the time kubelet restarted. It's possible that the log is too old and gone forever. This means I couldn't examine the kubelet pod admission steps. @fgrzadkowski, I still don't know why kubelet restarted in the firs

[2016-11-29 18:43] krousey opened #37641 "Multiple versions of addons running after upgrade."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): None

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**K

[2016-11-29 18:48] krousey commented on #37641
We could roll back https://github.com/kubernetes/kubernetes/pull/36008 to avoid the RC -> Deployment issue. To solve the 2 heapster deployments, we would have to either keep the version=v1.1.0 label in the v1.2.0 deployment or find a label combination that doesn't cause duplicate deployments to be created.

We could address this in GKE with a post-upgrade cleanup script, and note this in the relea

[2016-11-29 18:49] krousey commented on #37641
cc @saad-ali

[2016-11-29 18:51] krousey commented on #37641
cc @roberthbailey

[2016-11-29 18:52] smarterclayton commented on #37566
Possible - rolling-update's arguments are a bit too specific to the "two controller" update pattern, whereas this is only dealing with one controller.  But yes, I think it might be the natural place to do it.

[2016-11-29 18:58] saad-ali commented on #37641
CC @MrHohn @bowei

[2016-11-29 19:07] MrHohn commented on #37641
We do injected the mechanism to delete the old ReplicationControllers/Deployments after an upgrade in Add-on Manager.

This https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/kube-addons.sh#L191-L197 is for prunning the old ReplicationControllers. For the old heapter Deployment, because they have different names, `kubectl apply --prune` should be able to prune the ol

[2016-11-29 19:08] MrHohn commented on #37641
cc @mikedanese

[2016-11-29 19:10] MrHohn commented on #37641
The old resource pruning will have 1 minute delay though, it is for supporting zero downtime for kube-dns.

But this seems not to be this case.

[2016-11-29 19:13] saad-ali commented on #37025
@matchstick Can you help find someone to investigate and triage this for the 1.5 release please.

[2016-11-29 19:16] MrHohn commented on #37641
Sorry, one mistake above. If the name of heapster Deployment changed, current Addon Manager will not prune the old one. This could be fixed by adding one more resource type in the same place(https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/kube-addons.sh#L191-L197).

I'm taking look at why the old RCs were not pruned.

[2016-11-29 19:22] philk commented on #33192
I'm reasonably confident something about crash looping pods triggers this more rapidly.

[code]

This [looks related](https://github.com/kubernetes/kubernetes/issues/10421) (but unresolved). Going to try it out on a couple of nodes and see if that's the case.

[2016-11-29 19:23] vladlosev commented on #19634
I recently started seeing similar problems although with a smaller cluster. Our code uses a lot of host names without suffixes, which results in a lot of `NXDOMAIN`-returning lookups. After enabling logging in dnsmasq we have found that it only caches `NXDOMAIN` results from the upstream provider, never from kube-dns. E.g.:
[code]
Apparently, something in the SOA responses generated by kube-dns pr

[2016-11-29 19:28] justinwyer commented on #37005
The point is that you cannot mount with permissions, they're hard coded to 0777.

[2016-11-29 19:30] bowei commented on #32451
This should not be a networking issue as the test should be rewritten to not use curl (I'll send a PR), probably the result of cut and paste of code. The test executes a `curl` command on the pod that contacts a web service that executes a command in the same pod.

[2016-11-29 19:31] Crassirostris opened #37644 "Ability to specify a reviewer in the PR text"
Sometimes it's very useful for a non-maintainer to be able to specify a reviewer for the PR.

Since non-maintainer cannot do it directly, it would be great to have a way to specify a handle in the PR text for a merge-bot to understand and assign the appropriate person. Maybe we could introduce it to the template?

CC @pwittrock @grodrigues3 @piosz

[2016-11-29 19:32] DreadPirateShawn opened #37645 "rollingupdate can fail citing inability to find just-created replicationcontroller"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 12.04.4 LTS, Precise Pangolin
- **Kernel** (e.g. `uname -a`): 3.13.0-55-generic
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

It's possible for rollingupdate to fail, claiming that the replicationcontrolle

[2016-11-29 19:34] grodrigues3 commented on #37644
Thanks for filing this.  These kinds of developer/contributor velocity are generally filed in the kubernetes/contrib repository.

And in this particular case, it's already in progress.

https://github.com/kubernetes/contrib/pull/1945

[2016-11-29 19:35] mikedanese commented on #37641
@MrHohn yup, that's definitely it. Ping my on a PR and I can give you a quick review.

[2016-11-29 19:38] Crassirostris commented on #37644
@grodrigues3 OK, thank you very much!

[2016-11-29 19:41] bprashanth commented on #32323
@kubernetes/sig-cluster-lifecycle do the default upgrade scripts for each cloudprovider still delete nodes in order to upgrade them? do we drain them first as mentiond in David's previous comment? @jingxu97 had some concerns about mounted volumes through this process

[2016-11-29 19:41] sakshamsharma commented on #37621
Using the latest source, I can verify that running `kubectl options` shows that `--namespace` has the alternative of `-n`. I didn't know  of this one either.
`--context` still does not have a shorthand.

Git blame brought me to this issue #24078 and [this commit](https://github.com/silasbw/kubernetes/commit/39a9ec3a4f430789f917a12432cfd27ca96588ac) regarding the namespace change. You must be on a

[2016-11-29 19:42] Crassirostris commented on #37644
@grodrigues3 Sorry, I read the issue you mentioned again and it's not clear, does it allow for _me_ to specify the _other person_ as a reviewer?

[2016-11-29 19:44] mikedanese commented on #37641
We also need to merge https://github.com/kubernetes/kubernetes/pull/37139 to get the --prune-whitelist in.

[2016-11-29 19:46] davidopp commented on #32323
`upgrade.sh` uses GCE MIG rolling update, which deletes the VM
AFAIK there is no "default upgrade script" for any other cloud provider.

`upgrade.sh` is not integrated with drain yet.

[2016-11-29 19:50] grodrigues3 commented on #37644
Yeah, the goal is to allow people to write

/assign Crassirostris and then if you in an OWNERS file and part of the org, the bot will assign you.

Does that make sense?

[2016-11-29 19:51] timstclair commented on #37453
Are the nodes running 1.4.6 too? There was a bug with this in 1.4.5, but it should have been fixed in 1.4.6.

[2016-11-29 19:52] bprashanth commented on #32323
Thanks for the clarifiction. I'm also incline to say this *isn't* a big
issue for mounted pvs, because deleting the node is presumably going to
shut it down first, and then detach volumes, not detach volumes while pods
are writing to them (definitely verify this, though). Of course the
shutdown could still send a sigkill, resulting in app layer corruption.

On Tue, Nov 29, 2016 at 11:46 AM, David

[2016-11-29 19:53] liggitt commented on #36856
We originally intended to, but experience showed it wasn't a restriction many users cared about and it hurt usability. OpenShift has an option to enforce it, but the option is off by default, making namespaces the effective boundary.

I don't think moving the secret data to another object really helps those concerns... a malicious user powerful enough to create pods would also be likely to have su

[2016-11-29 19:56] piosz commented on #37453
Yes, both are running in 1.4.6. If you want to reproduce from Heapster current head run `make test-integration`. It will take some time and as a side effect you should have a cluster with the mentioned problem. This was catch by integration tests and I temporary disabled the check here https://github.com/kubernetes/heapster/pull/1394/files#diff-af263c749dde31773664d8eb738eec4e

[2016-11-29 20:17] bowei commented on #37641
reference wrong issue, ignore above ^^^^^^

[2016-11-29 20:33] MrHohn commented on #37641
Yeah, but I think #37139 may not fix this issue since Addon Manager v6.0-alpha should be able to prune the old RCs in theory.

I'm working on a repro on my own cluster (upgrade from 1.3 -> 1.5). Also checking GCE 1.4 -> 1.5 upgrade tests [here](https://k8s-testgrid.appspot.com/google-1.4-1.5-upgrade), but found the [Addon Manager's log](https://storage.googleapis.com/kubernetes-jenkins/logs/kubern

[2016-11-29 20:52] kjvalencik commented on #7470
@rtreffer We also moved cluster DNS to a daemonset. To help reduce the scope of failure, we kept kubedns as an RC in the cluster.

1. Created the `kube-dns` RC. No changes.

2. Changed `kube-dns` `clusterIP` from `10.100.0.10` to `10.100.0.11`:
[code]

3. Added a `DaemonSet` with `dnsmasq` pointed back at `kube-dns`. This uses `hostNetwork` but, could also use a node port. The advantage to `hostNe

[2016-11-29 20:54] kjvalencik commented on #15169
I made a similar change to run cluster DNS as a `DaemonSet`.
https://github.com/kubernetes/kubernetes/issues/7470#issuecomment-263695219

[2016-11-29 20:57] kvchampa commented on #21513
@shenshouer @binarybana
I got the same issue on the port 8080 of kube-apiserver :
Did your issue get resolve as yet?

[2016-11-29 21:00] luxas commented on #37552
Then we can close this, right?

If it's still a kubeadm issue, please file it in [kubernetes/kubeadm](https://github.com/kubernetes/kubeadm)

[2016-11-29 21:00] #37552 closed

[2016-11-29 21:12] mikedanese commented on #37641
What currently is deployed doesn't have the prune whitelist and there are no RCs in the addons folder anymore so RCs aren't considered for pruning. I think we need both?

[2016-11-29 21:20] MrHohn commented on #37641
You are right. I used to think that there is still one ReplicationController in the addons folder --- [elasticsearch-logging-v1](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-controller.yaml). But turns out this is not enable on GKE.

If this is the case, #37139 combines with the quick fix for Deployment should do the job.

Will sent that PR very soon

[2016-11-29 21:21] philk commented on #24472
For anyone who stumbles across this and is curious. Using an AutoScaling Group that requests spot instances seems to work just fine.

[2016-11-29 21:22] robszumski opened #37651 "RS won't delete due to orphan finalizer"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
finalizer
orphan

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

[2016-11-29 21:34] luxas commented on #37507
Can you please file this issue in [kubernetes/kubeadm](https://github.com/kubernetes/kubeadm) instead?
We're aggregating the issues there now. Sorry for the inconvenience.

Thank you in advance!

[2016-11-29 21:34] #37507 closed

[2016-11-29 21:34] luxas commented on #37475
Hi!

Can you please file this issue in [kubernetes/kubeadm](https://github.com/kubernetes/kubeadm) instead?
We're aggregating the issues there now. Sorry for the inconvenience.

Thank you in advance!

[2016-11-29 21:34] #37475 closed

[2016-11-29 21:34] iTagir commented on #37079
@ixdy V=4 make release did not help :(

[2016-11-29 21:35] luxas commented on #37426
Hi!

Can you please file this issue in [kubernetes/kubeadm](https://github.com/kubernetes/kubeadm) instead?
We're aggregating the issues there now. Sorry for the inconvenience if any.

Thank you in advance!

[2016-11-29 21:35] #37426 closed

[2016-11-29 21:35] iTagir commented on #37079
'''
root@ubuntu:/home/tagir/gospace/kubernetes# V=4 make release
+++ [1129 12:31:46] Generating bindata:
    /go/src/k8s.io/kubernetes/test/e2e/framework/gobindata_util.go
+++ [1129 12:31:47] Multiple platforms requested, but available 6G < threshold 11G, building platforms in serial
+++ [1129 12:31:47] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
+++ [1129 12:31:48] Bu

[2016-11-29 21:36] luxas commented on #37205
Hi!

Can you please file this issue in kubernetes/kubeadm instead?
We're aggregating the issues there now. Sorry for the inconvenience if any.

Thank you in advance!

[2016-11-29 21:36] #37205 closed

[2016-11-29 21:36] luxas commented on #37136
Hi!

Can you please file this issue in kubernetes/kubeadm instead?
We're aggregating the issues there now. Sorry for the inconvenience if any.

Thank you in advance!

[2016-11-29 21:36] #37136 closed

[2016-11-29 21:37] luxas commented on #37024
Hi!

Can you please file this issue in kubernetes/kubeadm instead?
We're aggregating the issues there now. Sorry for the inconvenience if any.

Thank you in advance!

[2016-11-29 21:37] #37024 closed

[2016-11-29 21:38] luxas commented on #37063
@mikedanese Please move this issue

[2016-11-29 21:38] ixdy commented on #37079
oops, that was not the correct environment variable, sorry. I meant `KUBE_VERBOSE=4 make release`.

[2016-11-29 21:39] philips commented on #35462
First docs PR is up: https://github.com/kubernetes/kubernetes.github.io/pull/1819

[2016-11-29 21:39] luxas commented on #36790
Hi!

Can you please file this issue in [kubernetes/kubeadm](https://github.com/kubernetes/kubeadm/issues) instead?
We're aggregating the issues there now. Sorry for the inconvenience if any.

Thank you in advance!

[2016-11-29 21:39] #36790 closed

[2016-11-29 21:40] davidopp commented on #37605
Yes, PATCH should work also.

I haven't written code that uses PATCH, so I can't advise exactly the code to write here (there are examples by grepping for patch, but I'm not sure exactly what is the right way to do it from inside of API server code, which is where we are here).

@ymqytw can you do a PR to implement this, either using the approach I described above or using PATCH? I think this is i

[2016-11-29 21:40] luxas commented on #36766
Hi!

Can you please file this issue in [kubernetes/kubeadm](https://github.com/kubernetes/kubeadm/issues) instead?
We're aggregating the issues there now. Sorry for the inconvenience if any.

Thank you in advance!

[2016-11-29 21:40] #36766 closed

[2016-11-29 21:41] luxas commented on #36754
Hi!

Can you please file this issue in [kubernetes/kubeadm](https://github.com/kubernetes/kubeadm/issues) instead?
We're aggregating the issues there now. Sorry for the inconvenience if any.

Thank you in advance!

[2016-11-29 21:41] #36754 closed

[2016-11-29 21:44] DirectXMan12 commented on #23864
cc @knobunc (re OpenShift networking) (and for future reference, I'm probably a good bet to CC on idling as well ;-) )

[2016-11-29 21:47] hanikesn commented on #31891
Apparently the new VolumeController easily gets confused when manually force detaching a stuck volume. As it will not retry attaching it any time soon. Additionally there's a long 2 min timeout on the kubelet side to try remounting the volume.

[2016-11-29 21:53] TamalSaha commented on #37024
Filed here: https://github.com/kubernetes/kubeadm/issues/73

[2016-11-29 21:53] adiri commented on #37426
Done :)

[2016-11-29 21:58] timothysc commented on #25398
/cc @jayunit100

[2016-11-29 21:58] timothysc commented on #29846
/cc @jayunit100

[2016-11-29 22:00] timothysc commented on #36762
@jayunit100 did you want to address this in 1.6?  If so open a card too please.

[2016-11-29 22:07] BaluDontu commented on #36295
I was looking into this bug. In the current vsphere CP code, the zone is populated with the region and the failure domain. vSphere has a concept in which a VM can be assigned to the failure domain. If we can populate this value by querying the VC, K8s can use this information to create pods in multiple failure domains.

However, I see that current govmomi/govc has no support to fault domain reques

[2016-11-29 22:12] hanikesn commented on #32630
Our problems with mounting AWS volumes actually got a lot worse when upgrading from 1.4.1 to 1.4.6. Now volumes don't get correctly mounted, when restarting a pod that's using an EBS volume.

[2016-11-29 22:21] dhawal55 commented on #26787
Yes, tagging all master instances and one of the security groups in your worker node solves the problem.

[2016-11-29 22:24] yujuhong commented on #37447
For (2) in my previous comment, I've verified that this is a kubelet bug (i.e., not related to the apiserver watch). What I did was:
 - Edit the image used in the pending pod (`kubectl edit pod`)
 - Get a `UPDATE` message from the kubelet log:
[code]
What this means is that kubelet itself thinks this is *not* a new pod, but merely an update. To further confirm this, I access kubelet's /pods endpoi

[2016-11-29 22:24] lazzarello opened #37654 "PersistentVolume metadata.name is required to be lower case"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- AWS

[code]

[code]

- cluster bootstrapped with Kops

**What happened**:

I tried to create a PersistentVolume resource and I received the following error output

[code]

**What you expected to happen**:

I am given a newly created PersistentVolume resource

**How to reproduce it** (as minimally and precisely as possible)

[2016-11-29 22:26] iTagir commented on #37079
here we go:
[code]

[2016-11-29 22:26] petergarbers opened #37656 "Remove/Restart nodes that are "Not Ready" after a certain amount of time"
We should eventually remove/restart nodes that are showing as `Not Ready`

[2016-11-29 22:28] dachulin commented on #31983
We have a router, which configured to export statistics using UDP to our host. That UDP stream is long live. If our host restarted, or we re-deploy our cluster (mainly during development), then udp packets received by host before K8S is provisioned.

[2016-11-29 22:34] saad-ali opened #37657 "UnmountVolume failed for volume secret volume with "IsLikelyNotMountPoint(...): stat...no such file or directory""
In https://github.com/kubernetes/kubernetes/issues/37447 @yujuhong reported:

This happened after kubelet restart.

We need to understand why this happens, if it is expected behavior or a bug.

CC @kubernetes/sig-storage

[2016-11-29 22:35] saad-ali commented on #37447
This may or may not be related to the original issue. But worth looking at. Opened up https://github.com/kubernetes/kubernetes/issues/37657 to investigate

[2016-11-29 22:36] derekwaynecarr commented on #37554
Also see: https://github.com/kubernetes/kubernetes/issues/36069

[2016-11-29 22:37] ymqytw commented on #37605
I think PATCH may NOT be safe here.
For example:
1) current pdb `PodDisruptionsAllowed = 5`
2) creating eviction A: get `PodDisruptionsAllowed = 5`
3) creating eviction B: get `PodDisruptionsAllowed = 5`
4) creating eviction A: PATCH pdb `PodDisruptionsAllowed = 4`
5) creating eviction B: PATCH pdb `PodDisruptionsAllowed = 4`
6) pdb's `PodDisruptionsAllowed = 4`. It's wrong.

Retry loop make more

[2016-11-29 22:42] jingxu97 commented on #32630
@offlinehacker @hanikesn we have a few fixes recently related to AWS volumes #37302 and are working on back port the fix to 1.4. Please let me know if you think your issue is related to #37302 or not.
If you prefer, I can also help check your log to see where the issues are. Sorry for the inconvenience.

[2016-11-29 22:50] dchen1107 opened #37658 "Pods rejected by Kubelet might stay at pending phase forever"
Forked from https://github.com/kubernetes/kubernetes/issues/37447#issuecomment-263719696:

@yujuhong wrote:

For (2) in my previous comment, I've verified that this is a kubelet bug (i.e., not related to the apiserver watch). What I did was:

Edit the image used in the pending pod (kubectl edit pod)
Get a UPDATE message from the kubelet log:
Nov 29 21:44:14 gke-test-cluster-1-default-pool-44d8ae2f

[2016-11-29 22:50] dchen1107 commented on #37447
What @yujuhong found at https://github.com/kubernetes/kubernetes/issues/37447#issuecomment-263719696 is a real release blocker issue, and she is going to address it separately. I filed a separate issue https://github.com/kubernetes/kubernetes/issues/37658 to track that one.

But we still need to reproduce the original issue here. @dashpole is going to help us on this. Thanks!

[2016-11-29 22:53] bergtwvd commented on #2289
I currently have a few docker containers that require a certain MAC address to run. This works fine under docker using the mac-address option on docker run. I am currently looking into using Kubernetes as container environment. I came across this post on MAC address. What is the current status? Does Kubernetes support setting the MAC address for a container?

[2016-11-29 22:56] timothysc commented on #33935
xref: #37558

[2016-11-29 22:56] thockin commented on #2289
It is not something we support directly.  It's possible that some network
drivers support this via annotations, but I have not heard about it.

On Tue, Nov 29, 2016 at 2:53 PM, bergtwvd <notifications@github.com> wrote:

[2016-11-29 22:57] gmarek commented on #29846
I believe #37293 should have fixed this.

[2016-11-29 22:57] #29846 closed

[2016-11-29 22:58] jingxu97 commented on #31891
@hanikesn Could you please share your master controller log so that I can help check the issue? Thanks

[2016-11-29 23:15] davidopp commented on #37605
Good point! You're right.

Retry loop should be OK.

[2016-11-29 23:17] k8s-merge-robot opened #37660 "ci-kubernetes-e2e-gci-gce-es-logging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-es-logging/734/

Run so broken it didn't make JUnit output!

[2016-11-29 23:26] ixdy commented on #37079
Aha, I think I figured it out. Sorry for making you rebuild so many times; the issue still isn't super obvious from the logs.

Basically, the bug only occurs if you don't have enough memory to do the docker builds in parallel; if that happens, you fall into this [branch of the conditional](https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh#L686-L690). On the parallel side of t

[2016-11-29 23:41] pbthorste commented on #15478
Hi there,
I think this is an important feature that should be considered for kubernetes.
Enabling the use of Docker's log driver can solve some non-trivial problems.

I would say that logging to disk is an anti-pattern. Logs are inherently "state", and should preferably not be saved to disk. Shipping the logs directly from a container to a repository solves many problems.

Setting the log driver w

[2016-11-29 23:45] Demotivated opened #37662 "EBS volumes cannot reattach to PetSet after unexpected detachment"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

I am aware of similar
issue #29166 which was fixed in #36616 and v1.4.6. However,

[2016-11-29 23:45] ymqytw commented on #37605
I can help to create a PR using retry loop.

[2016-11-29 23:52] #36457 closed

[2016-11-29 23:52] #36569 closed

[2016-11-29 23:52] saad-ali commented on #37079
Ack. Will keep an eye out for the fix. Please mark it as cherrypick-candidate

[2016-11-30 00:19] mtaufen commented on #33882
I think we can probably rule out the unclean reboot as causing the issue, I have run it 58 times in a row on the same cluster without issue.

[2016-11-30 00:19] bergtwvd commented on #2289
Referring to the post of dec 1, could a pod with a static mac address be considered as a "singleton" that cannot be replicated more than once? If the concept of mac address is an issue in Kubernetes, maybe this is a way to look at it. No mac is just a no-goer for me.

[2016-11-30 00:22] mtaufen commented on #33882
Looking at the kernel panic test now.

[2016-11-30 00:24] matchstick commented on #37025
@colhom Has agreed to take a look.  @kubernetes/sig-cluster-federation

[2016-11-30 00:25] thockin commented on #2289
It's hard to say what it would be considered, since there is just no way of
representing such a thing, right now.

On Tue, Nov 29, 2016 at 4:19 PM, bergtwvd <notifications@github.com> wrote:

[2016-11-30 00:27] krmayankk opened #37666 "Annotation in Deployment is not propagated automatically to pods created"
**What keywords did you search in Kubernetes issues before filing this one?** "annotations propagated to pods"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
If I pass annotations to deployment object meta it doesn't get propagated to pods but gets propagated to ReplicaSets. I need to pass it explicitly to a Pod Template to make it work . Is this fixed or am I doing something wro

[2016-11-30 00:27] #37474 closed

[2016-11-30 00:28] krmayankk commented on #37666
@kubernetes/sig-apps @janetkuo  since i earlier talked to you about it. Its not an urgent requirement for us, but it seems weird to have to copy the annotations explicitly and the Deployment doesnt automatically copy it to all its created pods, but only to replicasets and deployment objects

[2016-11-30 00:35] thockin commented on #31983
But why do you have conntrack rules - simply receiving packets will not
cause conntrack to create records..

On Tue, Nov 29, 2016 at 2:29 PM, dachulin <notifications@github.com> wrote:

[2016-11-30 00:48] chrislovecnm commented on #34978
What about an init container that adds annotations to the pod?  I am wondering if that is an option.  The pod is annotated with it's ip address.  You mentioned that you may be able to address this in C* ... that may be the best option.

[2016-11-30 00:50] matchstick commented on #37025
@saad-ali  is this a release blocker?

[2016-11-30 00:56] dims commented on #37585
@saad-ali : need an assignee

[2016-11-30 00:57] dims commented on #37596
@rkouj @saad-ali : needs an assignee!

[2016-11-30 00:57] dims commented on #37657
@saad-ali : needs an assignee!

[2016-11-30 01:01] lavalamp commented on #36897
I think at this point atomic multi object operations is an explicit
non-goal of the kubernetes API system.

On Mon, Nov 28, 2016 at 6:54 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-30 01:04] lavalamp commented on #37473
👍

We need to make sure this is documented in the OpenAPI spec.

@bgrant0607 We were talking about this earlier today.

[2016-11-30 01:04] #37040 closed

[2016-11-30 01:08] nalink commented on #13382
seeing same issue on AWS:
kubernetes git:(master)> kubectl cluster-info
Unable to connect to the server: net/http: TLS handshake timeout

[2016-11-30 01:09] jeffvance commented on #20919
@erictune @spiffxp I'm writing an e2e test to verify that host mounts and the host pod's uid dir are removed when a pod is deleted under non-ideal conditions. This is to support issue #31272. If it is recommended to not use ssh  (I also want to support "local" as a provisioner) then can you suggest or point me to the preferred way to run a shell command on a host? Eg. I was thinking of executing _

[2016-11-30 01:09] lavalamp commented on #37530
Please make sure the client's copy.sh script still runs before checking
this in :)

On Mon, Nov 28, 2016 at 6:57 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-30 01:12] lavalamp commented on #37556
I think the rule should actually go further--vendor loops need to be broken
by splitting something into a separate repository.

On Mon, Nov 28, 2016 at 7:09 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-30 01:15] davidopp commented on #33884
Is the question here how do you take a node out of commission?

You're supposed to
1. Run "kubectl drain" -- this marks the node unschedulable (using the field in the Node spec -- we don't use taints for this yet, as various folks already mentioned), then deletes all the pods (see caveat in next sentence) giving them their graceful termination. When "kubectl drain" returns the only pods left on th

[2016-11-30 01:21] bprashanth commented on #33884
The first part about how to drain is basically what I described, with one change. You don't always want to delete the node. We need some way to pull the node out of the target pool of the lb without necessarily taking it down (https://github.com/kubernetes/kubernetes/issues/30272).

That was also my feeling, but abusing such another taint/annotation to mean "don't add this node to the cloudprovide

[2016-11-30 01:25] #36582 closed

[2016-11-30 01:26] #36037 closed

[2016-11-30 01:28] davidopp commented on #33884
I assume by "target pool of the lb" you mean the cloud load balancer?

I think the right approach depends on whether you want something general or specific to the master. If you want something general, you should use a node label or a node annotation. If you want it specific to the master, I think @justinsb was using a label "role=master" and you could specially interpret that to do whatever you w

[2016-11-30 01:34] saad-ali commented on #37657
@jingxu97 Can you investigate when you have some bandwidth CC @matchstick

[2016-11-30 01:35] bprashanth commented on #33884
Yeah the idead is to come up with a general purpose way to remove the lb from the target pool that we can apply to:
1. the master, so it doesn't proxy lb traffic
2. any node, so a user can do `kubectl drain node; kubectl remove-node-from-tp` and it no longer gets lb traffic

Obviously that second kubectl command can't be `delete node` if we want to apply it to 1, and the name of whatever we pick f

[2016-11-30 01:36] saad-ali commented on #37596
@jingxu97 Can you investigate when you have some bandwidth CC @matchstick

[2016-11-30 01:36] saad-ali commented on #37585
@rkouj is investigating/working on a fix in https://github.com/kubernetes/kubernetes/issues/37586

[2016-11-30 01:54] vishh commented on #33447
@AndryBray can you give the [latest v1.5 beta](https://github.com/kubernetes/kubernetes/releases/tag/v1.5.0-beta.2) a try? It is expected to support NFS v4 and GlusterFS.
https://github.com/kubernetes/kubernetes/pull/37336 is attempting to cherry-pick the fixes to v1.4.

[2016-11-30 01:58] vishh commented on #31362
@davidopp Why do you think so? CPU is compressible right?

[2016-11-30 02:03] jeffpeiyt commented on #13382
@freehan  this is a P1 for a year. I mentioned it in my [post](https://medium.com/@jeffpeiyt/a-reusable-part-in-many-cloud-projects-2151f42572e9#.nm10z2vpw) too.  Any plans :-) ?

[2016-11-30 02:07] davidopp commented on #31362
To spread out the load if best effort pods are getting starved. I guess rescheduler could do it instead...

[2016-11-30 02:14] saad-ali commented on #37605
@ymqytw @davidopp Could you please triage this for 1.5 and apply blocker or non-blocker labels as appropriate along with priority.

[2016-11-30 02:15] saad-ali commented on #37460
@ymqytw @davidopp Could you please triage this for 1.5 and apply blocker or non-blocker labels as appropriate along with priority.

[2016-11-30 02:17] saad-ali commented on #37417
Thanks @MrHohn. Marking as non-release-blocking. @MrHohn @kubernetes/sig-network @bprashanth @bowei Holler if this is not correct.

[2016-11-30 02:18] ymqytw commented on #37460
@saad-ali The PR #37604 for this issue is waiting to be merged.

[2016-11-30 02:19] saad-ali commented on #37267
Ping. @kubernetes/sig-network @bowei or @bprashanth Could you please triage this for 1.5 and apply blocker or non-blocker labels as appropriate along with priority.

[2016-11-30 02:23] saad-ali commented on #37025
Stole my question @matchstick. That depends on what the actual issue is.

@colhom Could you please investigate this ASAP and help triage it as blocking or non-blocking for 1.5. If there is a real issue here, we need to find out quick, or else we risk the 1.5 release date.

[2016-11-30 02:23] saad-ali commented on #36970
Most likely the same issue as https://github.com/kubernetes/kubernetes/issues/37056#issuecomment-262650049 Marking as non-release blocking

[2016-11-30 02:25] saad-ali commented on #34223
@kevin-wangzefeng Could you please investigate this ASAP and help triage it as blocking or non-blocking for 1.5. If there is a real issue here, we need to find out quick, or else we risk the 1.5 release date.

[2016-11-30 02:28] saad-ali commented on #33702
@lavalamp Could you please investigate the API server restart issue ASAP and help triage it as blocking or non-blocking for 1.5. If there is a real issue here, we need to find out ASAP, or else we risk the 1.5 release date.

[2016-11-30 02:31] saad-ali commented on #32512
@jszczepkowski @kubernetes/sig-scalability Could you please help triage this issue as blocking or non-blocking for 1.5 (or help find someone who can). If there is a real issue here, we need to find out ASAP, or else we risk the 1.5 release date.

[2016-11-30 02:34] saad-ali commented on #32044
@dchen1107 @kubernetes/sig-node Could you please help triage this issue as blocking or non-blocking for 1.5 (or help find someone who can). If there is a real issue here, we need to find out ASAP, or else we risk the 1.5 release date.

[2016-11-30 02:42] saad-ali commented on #37586
Current theory is because kubelet deletes and recreates the node API object during upgrade (because externalID changed), see https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/kubelet/kubelet_node_status.go#L112 the new object does not contain the correct status (it is written by the Attach/Detach controller to the old object but not subseqently updated).

If this proves to be the issue

[2016-11-30 02:57] binarybana commented on #21513
I believe I resolved this by bumping the appropriate ulimit, but it was a
while ago.

On Tue, Nov 29, 2016, 12:57 PM Kevin Champa <notifications@github.com>
wrote:

[2016-11-30 02:58] saad-ali commented on #33405
Thanks for the update @MrHohn!

[2016-11-30 02:59] saad-ali commented on #36230
Any update on this issue @MrHohn?

[2016-11-30 03:01] saad-ali commented on #36054
@gmarek Could you please verify, if so, please close this issue.

[2016-11-30 03:02] jayunit100 commented on #36762
These intervals need to be tallyed in a test which is properly measuring things ; closing for now

[2016-11-30 03:02] #36762 closed

[2016-11-30 03:03] saad-ali commented on #34679
Ack. I am going to close this issue @jszczepkowski @dchen1107 please reopen if you disagree.

[2016-11-30 03:03] #34679 closed

[2016-11-30 03:07] saad-ali commented on #34060
@kubernetes/sig-network @bowei @bprashanth @justinsb Can you please re-tirage this leaky resources (IPs, nodeports, etc.) as blocking or non-blocking for the 1.5 release?

[2016-11-30 03:32] MrHohn commented on #36230
Most of the failures here have the same symptom as #33405. Consider they are using the same pattern to drop packets, pretty likely they failed for the same reason.

Sent out a PR #37639 that dumps out more logs during reboot to confirm the root cause.

[2016-11-30 04:12] smarterclayton commented on #37530
I've been using it for the last couple of refactors - haven't hit any
problems *yet*.  I did have to tweak for Mac but I haven't merged it
because I'm afraid of breaking Linux.

On Tue, Nov 29, 2016 at 8:09 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-11-30 04:18] thockin commented on #37556
How many instances of this do we have now?  I think it's mainly about API
stability.  If we don't want to offer stable APIs, we should hide them so
nobody imports them.  If they are stable, this is not a problem.

On Mon, Nov 28, 2016 at 7:00 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-30 04:21] xingzhou commented on #37654
I'm curious why the name should be of lower case? if it's confirmed as a bug, I would like to provide a patch

[2016-11-30 04:23] mtaufen commented on #33882
Panic test has flaked twice over 83 runs in my cluster. I'm going to take a look but that seems much lower frequency than the failures we are seeing.

[2016-11-30 04:32] xingzhou commented on #37654
I'd like to provide a PR on this error message improvement, instead of showing the regex, just show the naming rules to end-user.

[2016-11-30 05:12] mtaufen commented on #33882
Looking at 277 and investigating why only the `kube-proxy.log` and `serial-1.log` are copied back after the test runs: The predicate that `cluster/log-dump.sh` uses for detecting whether a node is running with systemd is: `log-dump-ssh "${node_name}" "sudo systemctl status kubelet.service" &> /dev/null;`, which will exit with a nonzero code when the kubelet has failed. This means anytime the kubel

[2016-11-30 05:29] ApsOps commented on #24472
@philk won't there be request failures when a node goes away? 🤔 How do you deal with that?

[2016-11-30 05:58] davidopp commented on #37605
Done.

[2016-11-30 06:08] thockin commented on #31613
How many FS'es besides NFS have commonly used mount options?

In general, Linux is pretty good about not breaking those sorts of things, I think...  Once we add it, we can count on it being there...

[2016-11-30 07:14] iTagir commented on #37079
Thank you guys!

[2016-11-30 07:18] colhom commented on #37025
@saad-ali I don't think this is a release blocker. Considering that:
 * it's not crippling all the various GCE tests
 * a bunch of the GCE e2e jobs got refactored over to bootstrap about two weeks ago.

It smells to me like this is a test-infra issue.

There was a big [refactor PR](https://github.com/kubernetes/test-infra/pull/1059) converting a bunch of gce jobs to bootstrap. It landed about 15 d

[2016-11-30 07:37] ixdy commented on #34060
I haven't looked in detail, but usually when we leak resources like this, it correlates with another failure in the test (such as a timeout, or failure to tear down the cluster).

The most recent failure, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/717/?log, is interesting:
[code]

We deleted the address, but then `gcloud` reported the address a

[2016-11-30 07:43] ixdy commented on #34060
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/666/?log:
[code]
which then caused a bunch of leaks.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/664/?log also failed teardown:
[code]

Another teardown failure in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gc

[2016-11-30 07:48] ixdy commented on #34060
Oh, `k8s-fw-*` existed before this test run started: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/338/artifacts/gcp-resources-before.txt

The "leak" again looks like an eventual-consistency issue:
[code]

???

[2016-11-30 07:52] calebamiles commented on #36054
@saad-ali, all the failures in the linked test suite seem to be network problems, timeouts, and or test pollution. It's probably ok to close this. Thoughts @wojtek-t, @gmarek? Please try and update this issue by 1PM PST 30 November 2016 if we should keep this issue open. Thanks!

**cc: @dims**

[2016-11-30 07:53] ixdy commented on #34060
I'm pretty sure the leaked `k8s-fw-aa2d39337b21b11e6a57842010af0000` firewall rule came from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/331, which was a timeout.

[2016-11-30 07:57] kenng commented on #20961
Since PetSet is still under alpha, so we got to wait for it to be out of alpha.

While using daemonSet, it seem that read only volume is allowed. So I am thinking to create a C* container which use persistent disk in the one of the node in order to backup the data, besides running the daemonset for C*. Is it good to do so? Not sure if this is the right place to ask...

[2016-11-30 07:59] calebamiles commented on #37553
@wojtek-t, @fejta, do you believe this issue is a release blocker? Could you please update this issue by 1PM PST 30 November 2016. Thanks!

**cc: @saad-ali, @dims, @deads2k**

[2016-11-30 08:02] calebamiles commented on #37460
@saad-ali, marking this as a release blocker due to https://github.com/kubernetes/kubernetes/issues/37605 being marked as such. Please update if needed @ymqytw @davidopp.

**cc: @dims**

[2016-11-30 08:14] gmarek commented on #25398
It was fixed by something a looong time ago.

[2016-11-30 08:14] #25398 closed

[2016-11-30 08:19] calebamiles commented on #37184
marking this as a non release blocker @saad-ali as testgrid looks pretty good. Please update this issue by 1PM PST 30 November 2016 if you think this is actually a release blocker @krzyzacy, @fejta.

**cc: @dims, @kubernetes/test-infra-maintainers**

[2016-11-30 08:20] gmarek commented on #37447
@dchen1107 @dashpole @yujuhong To reproduce the issue you might want to revert #37293 (fix for the scheduler problem) and follow instructions linked by @fgrzadkowski - this should make this issue more visible. Other way to reproduce this is to run multiple schedulers, so that we'll depend on Kubelet to settle conflicts.

[2016-11-30 08:26] kargakis commented on #37666
There is not an easy way to propagate replica set annotations in pods and I am not sure we want to do it since they are not part of the pod template.

[2016-11-30 08:27] wojtek-t commented on #37447
@dchen1107 @dashpole @yujuhong - actually, you would need to locally revert 2 PRs:
#37293 and #37379
[those 2 fixed the bug in scheduler that was mitigating the problems in kubelet].

[2016-11-30 08:31] gmarek commented on #36054
Last failure caused by 500 that I saw was 3 days ago, so I'd say it's not fixed. Not that it's only from failures I got assigned to, so I guess there are more examples out there.

[2016-11-30 08:47] Crassirostris commented on #37644
@grodrigues3 Mmmm, for example in this quarter I used to have PRs with changes in the cluster/addons and cluster/saltbase directories, which does not include many people in OWNERS and certainly does not include @piosz who reviews my PRs. Does it mean that I wouldn't be able to use `/assign piosz`?

[2016-11-30 08:49] wojtek-t commented on #37644
@Crassirostris - if he won't be in owners for those directories, then yes - he won't be able to approve your PR.

[2016-11-30 08:54] Crassirostris commented on #37644
@grodrigues3 @wojtek-t OK, thanks, everything makes sense now!

[2016-11-30 08:54] #37644 closed

[2016-11-30 09:09] davidopp commented on #36897
Was that officially decided somewhere? I think there are some reasonable use cases for multi-object transactions, for example the way we do pod binding today is not great because it only updates the pod, not the node, so you can't actually detect conflicts. Even just being able to bump the resource version on the node and the pod atomically, while only actually mutating the NodeName in the pod, wo

[2016-11-30 09:30] kargakis commented on #15093
Removed by https://github.com/kubernetes/kubernetes/pull/34824

[2016-11-30 09:30] #15093 closed

[2016-11-30 09:46] mccormd commented on #37626
Did some more digging into this and it seems that the kubelet has a number of expectations as to what a volume should look like, e.g. it should be in the mount list and have a device which is different from its enclosing directory.  This meant that my attempts to create volumes using mount -bind were failing the volume tests performed in the kubelet (not flex plugin).

I've now worked around the i

[2016-11-30 09:48] fieg commented on #37426
@adiri can you link to the new issue?

[2016-11-30 09:50] fieg commented on #37426
Already found it: https://github.com/kubernetes/kubeadm/issues/74

[2016-11-30 10:04] #37460 closed

[2016-11-30 10:52] jimmycuadra commented on #32071
I found this confusing also. I think the other annotation was supposed to be a `preferredDuringSchedulingIgnoredDuringExecution` object in the affinity annotation. That would make the quoted text correct, and would also give the document an example about the "preferred" affinity type, which currently has no example at all.

[2016-11-30 11:09] mootezbessifi commented on #37352
@MrHohn any feedback plz ?

[2016-11-30 11:10] piosz commented on #37014
part of #37104

[2016-11-30 11:16] piosz commented on #37104
cc @fgrzadkowski @Crassirostris @aleksandra-malinowska

[2016-11-30 11:19] sebgoa commented on #37079
I think it is almost there. Got much further in the build (4 GB of RAM).
Towards the end there is a failed test that makes the build fail:

[code]

This is probably a different bug, as your PR got passed the misconfigured compilation.

[2016-11-30 11:31] asifhj opened #37682 "Ubuntu installation document not available"
Hello Team -

Ubuntu installation is not available online.

http://kubernetes.io/docs/getting-started-guides/ubuntu/

404 Error!

Sorry, this page was not found. :(

Thanks Asif J.

[2016-11-30 11:37] vishh opened #37683 "Expose Kubelet logs via Kubelet `/logs` endpoint"
Kubelet currently exposes all log files stored under `/var/log` directory on a node via its `/logs/` endpoint. This interface is very convenient for accessing kubelet and runtime logs remotely.

However this interface requires log files to be available under `/var/log` directory.

Given that many deployments use journald today, it would be helpful if `/logs/` REST endpoint in kubelet can expose jo

[2016-11-30 11:38] vishh commented on #37683
If there are no objections to extending the `/logs/` API functionality, I can post a patch for this.

[2016-11-30 12:05] #36832 closed

[2016-11-30 12:12] kargakis commented on #37637
@kubernetes/kubectl

[2016-11-30 12:13] kargakis commented on #37576
@kubernetes/kubectl @kubernetes/sig-cli

[2016-11-30 12:20] kargakis commented on #37240
You can use curl and PUT a Scale subresource to the [scale endpoint](https://github.com/kubernetes/kubernetes/blob/09bb156116aed4542d66d51b052e1a7357ea57e8/api/swagger-spec/v1.json#L11454). Or you could have `kubectl` inside a container of your Pod and use `kubectl scale`.

[2016-11-30 12:21] #37240 closed

[2016-11-30 12:22] #37133 closed

[2016-11-30 12:24] kargakis commented on #36981
@kubernetes/sig-cli @kubernetes/sig-auth

[2016-11-30 12:25] patzeltjonas commented on #37662
I can confirm this issue. As far as I have read all the EBS volume issues it should be fixed with open PR #37302

[2016-11-30 12:36] peay commented on #36311
Thanks a lot @soltysh, any chance a potential fix could make it in 1.5?

[2016-11-30 12:52] AdoHe commented on #37637
non cascade deletion ignores `timeout` and `grace-period`, shall we respect these all?

[2016-11-30 12:59] AdoHe commented on #25251
@smarterclayton you mean this proposal #29472?

[2016-11-30 13:10] AdoHe commented on #37566
any good idea about the command name? Really hard to come up with a good name :(

[2016-11-30 13:17] kargakis commented on #37566
No need to come up with a new name, make `rolling-update` accept a resource tuple and based on the type run the specific strategy (@lukaszo has been working on DaemonSet upgrades so he may be interested in adding this in `rolling-upgrade`).

[2016-11-30 13:30] soltysh commented on #36311
@peay if possible - yes, I'll try to backport it to 1.5

[2016-11-30 13:36] kargakis opened #37689 "Tests jobs are failing silently"
Lately I have seen many jobs failing silently like
[code]
without posting anything in the PR which makes rerunning tests difficult since the missing message contains the command I need to rerun the job.

@kubernetes/sig-testing @kubernetes/test-infra-maintainers

[2016-11-30 13:44] kargakis commented on #37689
Is there a doc somewhere about the commands that we need to run for failed jobs or is it just https://github.com/kubernetes/test-infra/blob/master/prow/jobs.yaml (kudos to @aveshagarwal for pointing it out to me)

[2016-11-30 13:45] lam-rubikloud commented on #37005
Ah.  Yeah.  Sorry for misunderstanding the comment above :)

[2016-11-30 13:46] davidquarles commented on #30507
Taking @smarterclayton's #11382 comments a step further, I'd personally love the option to output the resource requests / limits alongside the actual utilization data.  This would yield a quick snapshot of usage, capacity and overcommit in one location.  I'm happy to contribute the changes if that's sane.

[2016-11-30 14:02] #36799 closed

[2016-11-30 14:04] deads2k commented on #37556
The example we currently have is a case of our "stable-ish" API being re-used in heapster.  `api/unversioned` was required to use our API objects (`TypeMeta` lives there), but there was a mistake made in that package that we needed to fix.  Several actually.  Outside consumers of the API server wouldn't be affected, but anyone vendoring it would be.

Locking a branch makes a lot of sense (see clie

[2016-11-30 14:04] sebgoa opened #37690 "`make clean` needs Docker"
That's a bit weird, but the `make clean` target in the root Makefile requires Docker.

[code]

Indeed it calls `build-tools/make-clean.sh` which checks for prereq including Docker.

So if you are doing a local Go build *without* Docker, doing a subsequent `make clean` will need Docker.

I think `make` and `make clean` should be pure local Go build and clean.

Then `make release/quick-release` whic

[2016-11-30 14:05] sebgoa commented on #37076
Closing this because it is the same issue as #37079

[2016-11-30 14:05] #37076 closed

[2016-11-30 14:06] sebgoa commented on #37690
see also #37079

[2016-11-30 14:07] sebgoa commented on #37690
or `make` should be Docker dependent and not a local Golang build.

[2016-11-30 14:18] justinsb commented on #22417
With kube-up in maintenance mode, going to close.  Replacements (e.g. kops) already have open issues tracking the need to run without dependencies.

[2016-11-30 14:18] #22417 closed

[2016-11-30 14:20] justinsb commented on #19345
The PR to remove the obsolete guide merged.

[2016-11-30 14:25] piosz commented on #30507
@kubernetes/kubectl @kubernetes/sig-cli WDYT about https://github.com/kubernetes/kubernetes/issues/30507#issuecomment-263876829?

[2016-11-30 14:30] justinsb commented on #37492
Two reasons we need access right now I believe:

1) https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L1401-L1408
2) To find our tags, in particular KubernetesCluster

For the first, we should now (finally) be able to name instances with non-resolvable names, so we can probably move to `i-12345678` for example.

But the second remains a problem I think - a

[2016-11-30 14:50] kargakis commented on #29735
Results from benchmarking
[code]
[code]
Fnv is a bit slower but much more stable.

[2016-11-30 14:50] innovia commented on #24472
@philk ASG can create spot instances but for the same kind, SPOT Fleet ensure that you will have the capcaity you need because of the diversity of the instance sizes

@ApsOps  when the node goes away kubernetes master saves the state the pod should be ("Running") on etcd does it will reallocate it to another node.
so it's a very good setup for queue related stuff like SQS workers

with regards to

[2016-11-30 14:56] kargakis commented on #36628
@kubernetes/sig-testing the 404 failure was fixed 23 days ago (https://github.com/kubernetes/kubernetes/pull/36308) but we are still getting it. Notice the wrong line number (1446) whereas the error check for DELETE is found in [1444](https://github.com/kubernetes/kubernetes/blob/d51f07b60d12cc07999d316df0155447b5ac2fcc/test/e2e/deployment.go#L1444) in master.

[2016-11-30 15:00] calebamiles commented on #37605
@davidopp @ymqytw, who is actually working on this issue? Could one of you set yourselves as an assignee for this issue? Thanks!

**cc: @saad-ali, @dims**

[2016-11-30 15:23] jszczepkowski commented on #32512
WRT https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1.4/824/

build:
[code]

kubelet logs for pod rc-light-qyowb :
[code]

Kubelet is not starting pod for 2 minutes, reason unknown. The same problem is in issue #33341

@vishh Can you take a look or assign someone from kubelet team?

[2016-11-30 15:29] rootfs commented on #31613
@thockin there are a few :)
-  CIFS. There are important options such as smb version. Currently in azure_file plugin, [mount options](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_file/azure_file.go#L198) are fixed. But I've seen requests to use different smb version (2.1 rather than 3.0).
- FUSE. There are fuse options (allow_other, etc) that are frequently overridden.
- G

[2016-11-30 15:52] eviloop commented on #34698
@ferdi-bedag would this be related with #29832 ?

We have the same issue with cinder Attach loop and volumes not working properly

[2016-11-30 16:04] vishh commented on #32512
I suspect that the logging level is set to `2` in GKE tests and so most of the useful logs are not available. Let me figure out a means to bump the logging level to further debug this issue.

@jszczepkowski you might still have to triage the non v1.4 release failures to address @saad-ali's concern [here](https://github.com/kubernetes/kubernetes/issues/32512#issuecomment-263765089).

[2016-11-30 16:09] timothysc commented on #37014
yeah lets de-dupe the tickets, we have 3+ issues on this now.. closing this one.

[2016-11-30 16:09] #37014 closed

[2016-11-30 16:09] sethpollack commented on #33666
@pwittrock #dibs

[2016-11-30 16:13] sebgoa commented on #37079
FWIW, the `make release-skip-tests release` worked on ubuntu 16.06. It did ran some tests apparently but the build succeeded.

[2016-11-30 16:18] pwittrock commented on #33666
@sethpollack Thanks Seth.  I am assigning this to myself as a placeholder while you work on it.

I think the first step step is to create a design proposal .md doc with the proposed changes to kubectl.  This will make sure everyone is on the same page about how we want to solve the problem.

[2016-11-30 16:23] akantak commented on #27758
I think it should be mentioned [here](https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning) because I encountered this issue too when I was trying to use Ceph RBD StorageClass.

[2016-11-30 16:35] smarterclayton commented on #37556
Vendor cycles are like bootstrapping a compiler, except without a real
reason to do so.

On Wed, Nov 30, 2016 at 9:04 AM, David Eads <notifications@github.com>
wrote:

[2016-11-30 16:36] smarterclayton commented on #37637
Yes, they are both generic.  Priority on this isn't terribly high, but it is wrong.

[2016-11-30 16:38] smarterclayton commented on #36897
Doing a transaction under the covers of a particular resource is probably
ok.  Trying to do it across resource types via the public API is probably
not.

If we're going to shard on anything, it's going to be resource types, and
it's happening O(soon) for the API extension work.  I doubt a third party
extension will be allowed to have root access to the etcd cluster, and in
any case it's easier if

[2016-11-30 16:39] smarterclayton commented on #37576
The tentative plan is to move describe to the server side and have the server present a structured response that is somewhat generic for many clients.  See https://github.com/kubernetes/kubernetes/pull/33900 for some backstory.

[2016-11-30 16:42] jsindy commented on #30656
Here is an example how I need this functionality.

The official Jenkins image runs as the user Jenkins. I have a persistent disk attached that I need to resize. If kubectl had the --user I could bash in as root and resize2fs. Unfortunately without it it is an extreme pain.

[2016-11-30 16:43] smarterclayton commented on #25251
That was the rough draft yes - it needs more detail on describe.

On Wed, Nov 30, 2016 at 7:59 AM, TonyAdo <notifications@github.com> wrote:

[2016-11-30 16:43] piosz commented on #37104
cc @timothysc @jayunit100

[2016-11-30 16:43] #37444 closed

[2016-11-30 17:08] mstump commented on #34978
I've got a working solution that uses the ready-probe.sh and run.sh scripts. I'll have a pull request ready tomorrow.

The ```ready-probe.sh``` script waits for C* to bootstrap then pulls the host ID. The script pushes that host ID to k8s as a label.
[code]

And then ```run.sh``` checks for the presence of the system tables on the data mount. If the node doesn't have data and the host ID is presen

[2016-11-30 17:16] vishh commented on #32512
@mikedanese @zmerlynn @ixdy how can we update the environment variables for GKE test clusters?
For OSS, we up the kubelet logging for test clusters [here](https://github.com/kubernetes/kubernetes/blob/85ff5559546b674ca3898b622503d9ef8a59525f/cluster/gce/config-test.sh#L103)

[2016-11-30 17:16] dims commented on #37079
I just tried `make release` with #37665 and it worked fine

[2016-11-30 17:17] inercia opened #37699 "Wrong kubernetes service port when not using SSL"
I started the kubernetes API server without SSL support (it is listening only at port `8080`)

[code]

but when looking for the kubernetes service, I see it is announced at `10.0.0.6:6443`

[code]

while this does not match the reality:

[code]

Maybe I'm missing something, but I think the service port should be 8080, right?

I'm running this on OpenSUSE Leap, with

[code]

[2016-11-30 17:21] dims commented on #36328
kops-aws is under control after https://github.com/kubernetes/kops/pull/1011 merged. So let's switch to non-release-blocker

[2016-11-30 17:23] dims commented on #37079
@saad-ali since we have a PR ready and working, can we please switch this to non-release-blocker?

[2016-11-30 17:27] dims commented on #36891
referenced PR is merged.

[2016-11-30 17:28] hanikesn commented on #37492
There's also `curl http://169.254.169.254/latest/meta-data/local-hostname` which gives me the same hostname as `ec2:Describe*`.

Honestly, I'm pretty suprised to find out that you can't query the tags of your instance with the metdata API. Unfortunately I don't have any contacts to influence that.

But I would be fine with only giving it `ec2:DescribeTags` for now. Seems better than the current de

[2016-11-30 17:30] dims commented on #37585
Thanks @saad-ali @rkouj

[2016-11-30 17:31] lukasz-bielinski opened #37700 "shared quota for few namespaces"
i'd like to ask if is there possibility to create shared quota for few namespaces, eg for team

scenario:
cluster:
100c
100gb ram

quota for TEAM A 40c/40gb
quota for TEAM B 60c/60gb

some namespaces from TEAM A eg.
teama-dev
teama-test
teama-stage
teama-int

have to be all limited to quota 40c/40gb

same for TEAM B.

case is that i don't want specify quotas directly for namespaces, but for team o

[2016-11-30 17:32] chrislovecnm commented on #34978
We do have the ordinal index of the pods as well to rely on as well. Just thought about this ;) We have the size of the PetSet and the 0,1,2,3 ... Etc.

So a pod on start could know if it's neighbour to its right exists then it has already run once.

Not sure if that data helps.  I would rather not run a side car, but use probes or init containers to get meta data around this more. Can we annotate

[2016-11-30 17:33] liggitt commented on #36891
cherry-pick to the 1.5 branch is still open https://github.com/kubernetes/kubernetes/pull/37629

[2016-11-30 17:33] dashpole commented on #37447
Do we have any idea why kubelet restarted?

[2016-11-30 17:37] sethpollack commented on #33666
Sure. Do I submit a PR to `docs/proposals`?

[2016-11-30 17:41] MrHohn commented on #37352
Sorry for the delay. But sadly I don't have a theory yet.

Could you please show me the content in the YAML files you used for DNS? And could you also try put another addon --- like the dashboard --- and see if the Add-on Manager script will create it or not?

Because we do not see any error in logs that related to neither parsing yaml file nor resource creation, it seems really like the Add-on Ma

[2016-11-30 17:43] zmerlynn commented on #32512
I still don't agree with test environmental changes, which is one of the reasons we've never made this a priority. A GKE test cluster looks the same as a GKE prod cluster. How would you debug this in production? Always ask that, and you come back to test == prod.

[2016-11-30 17:43] zmerlynn commented on #32512
cc @roberthbailey

[2016-11-30 17:43] mstump commented on #34978
Downside to that is that it ties us to deployment through petset. I'm working with a couple of installations that are pro-kubernetes but they're a little wary of petsets (too new). They want to use a replication controller, replication set or deployment and they've got high end shared storage.

Also, I think this General approach is applicable to ES and other databases. One thing that would be nic

[2016-11-30 17:45] thockin opened #37702 "Volume "inner name" is not correct for use in mount path, can cause collisions"
I was reading https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_executor.go#L265 and https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_executor.go#L303 and it didn't sit right with me.  The path now includes names from two different sources, which means it can collide.  Can I make it collide?

TL;DR: yes,

[2016-11-30 17:46] thockin opened #37703 "Volume controller logging missing an arg"
I1130 17:39:16.063338       5 operation_executor.go:564] VerifyVolumesAreAttached determined volume "kubernetes.io/gce-pd/test" (spec.Name: "mypv") is no longer attached to node %!q(MISSING), therefore it was marked as detached.

@kubernetes/sig-storage

[2016-11-30 17:55] yujuhong commented on #37447
@wojtek-t @gmarek, just trying to make sure I understand the effect of the bug. Was the bug causing scheduler to continue assign pods even though kubelet has already maxed out its capacity (and therefore has to reject the pods)? How fast is the rate of scheduling pods to the node?

Can we reproduce this effect with a simpler setting, e.g., manually assigning pods to a node by creating a replicatio

[2016-11-30 17:55] bgrant0607 commented on #24343
Submodules have been suggested as one possible approach to sharing common tools (verify scripts, etc.):
http://stackoverflow.com/questions/28357350/two-git-repositories-share-common-code

[2016-11-30 17:59] pwittrock commented on #33666
Yeah.  Maybe docs/proposals/kubectl/setcredentials.md?

[2016-11-30 18:00] bprashanth commented on #34060
yeah we can leak things like firewall rules if there's a build timeout, or the master is restarted too soon etc (https://github.com/kubernetes/kubernetes/issues/27883). These are hard to fix without something like https://github.com/kubernetes/kubernetes/issues/16337. While we should fix them I agree that they're not release blockers.

I'd think it is more important for the infra to just self heal

[2016-11-30 18:03] tonyclam commented on #37475
will do.

[2016-11-30 18:04] eparis commented on #37702
I haven't reproduced to check, but are they actually both getting mounted? just one on top of the other?  would have to check /proc/mounts....

[2016-11-30 18:15] krousey commented on #37457
@dchen1107 The nodes seem to be in a weird state here. Could you take a look? The same thing is happening in the 1.5 release soak tests.

[code]

[2016-11-30 18:16] philk commented on #24472
@ApsOps I guess I should've explained our setup a bit better.
We're using the [cluster-autoscaler](https://github.com/kubernetes/contrib/tree/master/cluster-autoscaler) which handles draining a node prior to terminating it and we're only doing this on data processing nodes (just read jobs off a queue) that could be terminated arbitrarily by AWS and the processing would get retried by another node

[2016-11-30 18:18] kobel169 commented on #31613
For example I need to "discard" option to mount the rbd storage with ext4.
Without it, I can not appreciate the scale of cluster ceph really busy volume, and I can not be sure of the results ceph du.

[2016-11-30 18:25] ixdy commented on #36628
@kargakis this test job is running v1.6.0-alpha.0, which probably doesn't have that fix.

[2016-11-30 18:27] foxish commented on #27796
@emsearcy @caniszczyk Could you please take a look at https://github.com/kubernetes/kubernetes/pull/35672 ? The author says he signed the cla but the status still says that he hasn't.

[2016-11-30 18:29] ixdy commented on #34060
We have a janitor job which is supposed to clean up leaked resources in projects, but it might not be working correctly.

cc @krzyzacy

[2016-11-30 18:29] liggitt commented on #10439
fyi, some discussion of vault integration is on the agenda for the [sig-auth meeting](https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/edit?ts=570fa5c5#) at 2pm EST today

[2016-11-30 18:32] jszczepkowski commented on #32512
In my opinion it is release blocker: sometimes pods are not started

[2016-11-30 18:34] krzyzacy commented on #37184
it looks fine so far, might be some issue related when we migrate over the job to bootstrap.. definitely not a release blocker at the moment.

[2016-11-30 18:34] Demotivated commented on #37662
@patzeltjonas Thanks, that is excellent news!

[2016-11-30 18:39] #37641 closed

[2016-11-30 18:45] krzyzacy commented on #36328
I think https://github.com/kubernetes/test-infra/pull/1219 is the real fix for the issue here. And the test is now in ci-bootstrap as well.

[2016-11-30 18:45] eparis commented on #37254
Is it possible to pin the version in certain branches but use HEAD on master? I know its a pain when other projects break us, but it definitely helps with code quality more than the pain we've suffered. Pinning largely means giving up on future improvements they add.

/me still things golint should admit it is reasonable to be used in CI.

[2016-11-30 18:46] jessfraz commented on #37254
yeah it will be done in the version images, so my patch will only apply to 1.4

[2016-11-30 18:46] krzyzacy commented on #34060
We have a janitor job listing all the resources need to be deleted without actually deleting them :-)

I'll turn it on.

[2016-11-30 18:46] ncdc commented on #37254
Does the CI check out the latest golint HEAD each time?

[2016-11-30 18:46] adiri commented on #37426
@fieg

on every k8s server (master and node/minoin), run:
[code]

[2016-11-30 18:47] dashpole commented on #37447
I was unable to reproduce this issue by doing the following:
I reverted #37293 and #37379.
I created a cluster using ./cluster/kube-up.sh
I created a ReplicationController with the same spec as the app-simple.yaml from #34772, and assigned all pods to one node in the new cluster.

[2016-11-30 18:49] lavalamp commented on #33702
In the logs @jlowdermilk links to, apiserver restarts twice, both times because it hit https://github.com/kubernetes/kubernetes/blob/5c21cc892c23ad253c49920696330f1d2f858884/pkg/master/controller.go#L128

etcd is slow starting. This is a bug, but I'm not convinced it has anything to do with these failures.

[2016-11-30 18:50] jessfraz commented on #37254
no it's in the CI image:
https://github.com/kubernetes/test-infra/blob/master/jenkins/test-image/Dockerfile-1.5

On Wed, Nov 30, 2016 at 10:48 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-11-30 18:52] ncdc commented on #37254
So this means that if I have a newer version of golint locally that adds new rules, my code my fail the golint check locally but pass in CI. I think we need to pin the golint version in hack/verify-golint.sh.

[2016-11-30 18:52] lavalamp opened #37704 "kube-apiserver: startup code should tolerate starting before etcd"
See: https://github.com/kubernetes/kubernetes/blob/v1.6.0-alpha.0/pkg/master/controller.go#L126

This code should make several attempts before `Fatalf`ing. Alternatively, we could consider not listening for connections until this code has succeeded.

[2016-11-30 18:52] lavalamp commented on #33702
I filed #37704 about that.

[2016-11-30 18:56] JorritSalverda opened #37705 "Allow PersistentVolumeClaim capacity increase on GCE or other platform that supports dynamic resizing"
**FEATURE REQUEST**

When creating a pvc on container engine - with slow and fast storage classes set up - with following manifest automatic creation works perfectly.

[code]

But when trying to increase the storage capacity and re-applying the manifest it returns the following error:

[code]

Of course from the perspective of most persistent volumes that don't support dynamic resizing this makes

[2016-11-30 18:56] lavalamp commented on #33702
The apiserver logs are not complete. They cut off mid-line.

[2016-11-30 18:58] jayunit100 commented on #20064
TL'DR, here's where we are at, we need 4 PR's.

- [ x ] Making a rollup of events that makes sense... I think that is done.
- [ ] Audit events that lack important details (i.e. node not found, 10+ of these!)
- [ ] API level support for the `SchedulingReasons` data structures
- [ ] Kubectl level support for users

[2016-11-30 18:59] lavalamp opened #37706 "apiserver log lines are printed from the file "panics.go""
This is simple cleanup. It is unnecessarily disconcerting to read through apiserver logs and find every log line is from the file "panics.go". We should adjust the code printing these lines, either by changing the file name, or (ideally) by making it more intelligent about logging the source of the call (e.g., callers--).

[2016-11-30 19:00] dashpole commented on #37447
I think i was able to reproduce by restarting kubelet a few more times...

[2016-11-30 19:00] wojtek-t commented on #37447
@yujuhong - exactly. It was scheduling the next pod, when the previous one was rejected by kubelet. So something like one every few seconds.

[2016-11-30 19:06] lavalamp commented on #33702
This is probably because the entire VM locked up.

[code]

[2016-11-30 19:07] zmerlynn commented on #36328
@krzyzacy: kubernetes/kops#1011 stabilized the pre-bootstrap job. Because it was already non-blocking, I helped get kubernetes/test-infra#1209 merged yesterday, which, yeah, involved kubernetes/test-infra#1218 and kubernetes/test-infra#1219.

[2016-11-30 19:08] lavalamp commented on #33702
Looks like some filesystem code was on the stack.

[2016-11-30 19:12] jlowdermilk commented on #33702
Nice find. Sounds like a GCI bug then.

[2016-11-30 19:12] thockin commented on #31613
So this is a tradeoff. Allowing arbitrary strings is flexible but forces users to be aware of mechanism.  Crystalizing into API is better UX, but means we need to be responsive.

opinions?  @saad-ali @matchstick @jingxu97 @kubernetes/sig-storage

[2016-11-30 19:13] bprashanth commented on #34060
A janitor job that actually ttls + the ability to specify in the test-job yaml what quota expectations the test has, and fail up front if there's inadequate quota, would make managing tests that create cloud resources much easier. Today detecting the second case requires spelunking into master logs, which is not the best experience on platforms like gke.

[2016-11-30 19:14] thockin commented on #37702
No, only one appears to be mounted, though both are attached.

On Wed, Nov 30, 2016 at 10:04 AM, Eric Paris <notifications@github.com>
wrote:

[2016-11-30 19:15] #37117 closed

[2016-11-30 19:15] eparis commented on #31613
If we are going to support flex/unknown volume/fs types do we have any option other than 'free form' ?

Also, these things "should" hopefully only be set by a storage admin who actually knows about the underlying storage...

[2016-11-30 19:16] jingxu97 commented on #37703
PR #36900 fixed this issue already. Do we need to cherrypick this to 1.4?

[2016-11-30 19:19] ixdy commented on #37254
@ncdc worse, things may arbitrarily start failing when we update the CI image, as happened here.

Can we just vendor `golint` in `kubernetes/kubernetes/vendor` and use that in `hack/verify-golint.sh`? that way we don't have to do anything special in CI vs dev workflows, we don't have to do hacky things around `go get`, we automatically get pinning for each branch, and we can fix golint failures wh

[2016-11-30 19:20] saad-ali commented on #33702
CC @mtaufen @vishh @matchstick

[2016-11-30 19:20] saad-ali commented on #33882
Any chance this is the same issue as https://github.com/kubernetes/kubernetes/issues/33702#issuecomment-263964016 ?

[2016-11-30 19:20] lavalamp commented on #33702
No, I don't think it's GCI specific. We have an internal bug listing a very similar CVM failure.

[2016-11-30 19:24] ncdc commented on #37254
@ixdy yeah it goes both ways 😄

[2016-11-30 19:24] fabianofranz commented on #36981
@liggitt

[2016-11-30 19:26] thockin commented on #37703
no, 1.5 is fine

[2016-11-30 19:26] #37703 closed

[2016-11-30 19:27] timothysc commented on #20064
Reason ('s') - how many are we looking to store?  I would expect only the last reason is the important one.

[2016-11-30 19:28] jayunit100 commented on #20064
map (node -> reason)

[2016-11-30 19:28] krzyzacy commented on #37184
eh 720 is pretty broken

[2016-11-30 19:29] eparis commented on #37254
@ixdy this is the equivalent of (I think) never updating golint ever again. Who is going to update it, go through the code base, and fix everything all at once? It will just be a big chunk of work that no one will want to do.

Random breaks in master stink. But it is master, we should be fast enough to handle such little things. It also means we handle them in small manageable chucks and we have a

[2016-11-30 19:29] calebamiles commented on #37267
Any updates on this issue @bprashanth, @lavalamp. Could you or someone from @kubernetes/sig-network please update this issue as a release blocker or not by 1PM PST 30 November 2016 because it would really help us get a better picture of the health of the upcoming release. Thanks!

**cc: @saad-ali, @dims**

[2016-11-30 19:32] calebamiles commented on #34223
@kevin-wangzefeng, @caesarxuchao, @davidopp any updates on this issue? Could one of you please update this issue as a release blocker or not by 1PM PST 30 November 2016; it would really help us with the release process. Thanks!

**cc: @saad-ali, @dims**

[2016-11-30 19:34] dashpole commented on #37447
I am going to try and see if the issue still exists after the fix from @yujuhong #37661

[2016-11-30 19:35] gmarek commented on #37447
I don't remember what caused Kubelet restart, but I don't think it's the issue - Kubelet will restart from time to time, and it needs to survive that.

@yujuhong - as @wojtek-t wrote, we Scheduler won't assign more than one, maybe two superfluous Pods in the sam time, so it's rather unlikely that it's a API server client throttling. The problem @fgrzadkowski observed was that after kubelet restart

[2016-11-30 19:40] saad-ali commented on #37184
Worth reassessing blocker label?

[2016-11-30 19:41] dchen1107 commented on #32044
This is not release blocker.

[2016-11-30 19:42] jingxu97 commented on #37702
I have to say the InnerVolumeSpecName and outerVolumeSpecName names had confused me for a while. As @thockin pointed out, the InnerVolumeSpecName could collide between different volumes for the same pod and currently this name is used for constructing the mounting path.

I can think of two options for fixing this
1. Use unique volume name (constructed from pd name, disk id etc) instead of InnerVol

[2016-11-30 19:44] krzyzacy commented on #37184
yep it seems legit. Can someone take a look?

[2016-11-30 19:45] krzyzacy commented on #37184
And please unassign @apelisse..

[2016-11-30 19:45] saad-ali commented on #37702
This is all legacy pre-1.0 naming that we're stuck with. We've wanted to get rid of it for a while but backwards compatibility need to be carefully considered. We'll have to support "old" and "new" mount paths for a long time.

[2016-11-30 19:46] saad-ali commented on #37702
CC @kubernetes/sig-storage We can consider this for 1.6

[2016-11-30 19:46] lavalamp commented on #36897
Right. API server federation means the set of resources over which a
transaction is even possible is complex, since different groups may be
stored in different etcds or even different storage systems. Even if we
ultimately do decide to allow a few curated transactions, I'm quite
confident it won't happen in 2017.

On Wed, Nov 30, 2016 at 8:38 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-30 19:49] eparis commented on #37702
I can't think of a malicious action here. If we can think of one, that's a great excuse^Wreason to fix names along the way

[2016-11-30 19:49] timothysc commented on #27189
Fixed by: #35932

[2016-11-30 19:49] #27189 closed

[2016-11-30 19:50] jayunit100 commented on #20064
cc @davidopp  making the Scheduling reasons data structure independent of node specific info, can you update the issue header?

[2016-11-30 20:02] BaluDontu opened #37712 "getDeviceNameFromMount() function doesn't return the volume path correctly when the volume path contains spaces"
I tried to create a kubernetes deployment with vSphere volume with volume path
"[datastore] kubevols/redis-master".
In this case the cloud provider queries the getDeviceNameFromMount() to return the path of the volume mounted. Since getDeviceNameFromMount() queries the filesystem to get the mount references, it returns a volume path "[datastore]\\\040kubevols/redis-master". Later the kubelet searc

[2016-11-30 20:12] dashpole commented on #37447
@yujuhong 's fix appears to prevent pods from being permanently pending.  While all pods (including terminated pods) are re-added to the kubelet's internal pod manager after restarting, it does not appear that it "processes" rejected pods a second time.

[2016-11-30 20:13] deads2k commented on #37615
Looks like the change to external clients in the informers broke this

[2016-11-30 20:21] timothysc commented on #32024
/cc @jayunit100

[2016-11-30 20:22] bprashanth commented on #25283
Can we claim that if a pod is requesting pet DNS (i.e DNS name via the hostname/subdomain annotation) it never wants kube-style readiness, because it has its own internal protocol for peer health? If that's true we can get rid of the annotation and teach kubedns to always serve records for pet DNS ignoring readiness.

My intuition tells me the answer to that question is no (i.e there exist pets th

[2016-11-30 20:26] deads2k commented on #37615
Opened https://github.com/kubernetes/kubernetes/pull/37714.  Thanks for the bug report.

[2016-11-30 20:36] boweeb commented on #27758
Man, that was a while ago.  I can't take personal credit.  Normally I like to cite my sources but I think I couldn't find it again at the time I posted.  It was casually mentioned on a blog somewhere.

Is it still not mentioned anywhere in the docs?  I agree @akantak -- this seems like a vital piece of information.

[2016-11-30 20:39] wojtek-t commented on #37553
@fejta @kubernetes/test-infra-maintainers - can someone please take a look? This is blocking debugging a bunch of test failures.

[2016-11-30 20:41] yujuhong commented on #37447
@wojtek-t @gmarek thanks for the clarification. I think we need an explicit check for the pod status *before* the admission process. I've added that in #37661 to keep the number of cherrypick PRs small.

[2016-11-30 20:46] davidopp opened #37715 "upgrade.sh does not change node version properly"
See
https://groups.google.com/d/msg/kubernetes-dev/C8s1boeUCZ4/gju__NuJCgAJ
and subsequent messages in that thread.

[2016-11-30 20:47] medhedifour commented on #37240
@kargakis
Thanks

[2016-11-30 20:57] sakshamsharma commented on #28167
I had once had a discussion on this topic with a friend, unrelated to k8s. One simple solution was to pipe both into different files. But that left the issue that it was hard to combine them in-order.

I'm trying to look at the k8s code to see how it is done here. In any case, if the team appreciates this, I could work on it after a discussion.

[2016-11-30 21:04] fejta commented on #37184
ci-kubernetes-e2e-gci-gke no longer failing

[2016-11-30 21:04] #37184 closed

[2016-11-30 21:04] fejta commented on #37184
http://submit-queue.k8s.io/#/e2e

[2016-11-30 21:07] philips commented on #35462
@sarahnovotny did you get a chance to draft anything re: https://github.com/kubernetes/kubernetes/issues/35462#issuecomment-255966377

[2016-11-30 21:10] krzyzacy commented on #37184
@fejta do we care https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/720

[2016-11-30 21:12] rkouj commented on #37596
Ran into this again.
https://gist.github.com/rkouj/ee79890132a87c194b9830cf3c75c758

[2016-11-30 21:14] mtaufen commented on #33882
I don't think so, I didn't see that kernel panic in any of the serial logs I looked at.

[2016-11-30 21:17] fejta opened #37717 "Add upgrade jobs to sq non-blocking list"
So that failures of these jobs will file issues.

[2016-11-30 21:19] zmerlynn commented on #37553
@wojtek-t: I took a look at the two runs you posted. They're actually similar to e.g. [kops-aws-updown#106](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-updown/106/) in that the inner container running `hack/e2e.go` has overrun its time limit.

[code]

Right now, we don't gather logs in that situation at all, on post-submit, it looks like. You can see

[2016-11-30 21:23] mtaufen commented on #37715
This is quite strange - also strange that hardcoding the value in config-default.sh does not seem to have an effect on the upgrade script. Continuing to investigate.

[2016-11-30 21:24] jingxu97 commented on #37553
cc @Random-Liu

[2016-11-30 21:24] ixdy commented on #37191
It seems the etcd3 is still out of date? It's required by SQ, but doesn't show up as required in GitHub.

[2016-11-30 21:24] davidopp commented on #37715
BTW the tl;dr on the problem (for those who don't want to go through the thread) is that the KUBE_NODE_OS_DISTRIBUTION env var is supposed to tell upgrade.sh what node image type to use when you also pass the -o flag, but it doesn't seem to work.

[2016-11-30 21:27] thockin commented on #25283
I'd love to nix an annotation but I have not the expertise to answer this one.

[2016-11-30 21:29] zmerlynn commented on #37553
@fejta: How close are you on https://github.com/kubernetes/test-infra/issues/1226? Otherwise this is probably worth a quick fix even if it's going to get ripped out soon.

[2016-11-30 21:41] eparis commented on #37191
Seems your right. I'll fix the repo.
https://github.com/kubernetes/contrib/blame/master/mungegithub/submit-queue/deployment/kubernetes/configmap.yaml#L15

[2016-11-30 21:41] mtaufen commented on #33882
These are the pass rates for the reboot suites as of just now:
[code]

This is the suite that fails most often across kubernetes versions starting at 1.3:
[code]

Based on this it looks like there is some sort of negative interaction going on between GCI and GKE here.

[2016-11-30 21:41] thockin commented on #37702
Jing,

I think your #2 is a bad option - we should not expose users to conflicts
that are not caused by themselves, but read on.  #1 is viable, though
naively the name of the dir under .../{pod}/volumes/{plugin} should just be
the `name` of volume struct in the pod.  If we need more info to rebuild
state, we should save that somewhere else.

Live compat is a real issue, and I don't see a way to ch

[2016-11-30 21:42] eparis commented on #37191
I also wrote a way for the bot to update these automatically yesterday. I'll try to get it cleaned up and pull openned tomorrow.

[2016-11-30 21:43] fejta commented on #37553
@zmerlynn that orthogonal to this problem. We are already uploading captured artifacts. The problem is we do not capture additional artifacts when we timeout.

The problem is that the issue is that we timeout and kill the container -- https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gci-gce.sh#L71

However the container is what knows how to captures additional artifacts

[2016-11-30 21:46] fejta commented on #37184
I do not think that is an efficient use of our time, no - https://k8s-testgrid.appspot.com/google-gke#gci-gke&width=20

[2016-11-30 21:47] zmerlynn commented on #37553
@fejta: I'm not sure I agree with that design. The test run could wedge for arbitrary reasons - it's really useful to time out the *container*. I'd almost rather have a separate entrypoint to `dockerized-e2e-runner` so it looks like:

[code]

or something.

[2016-11-30 21:48] ixdy commented on #37254
@eparis two concerns:
1. Having `go get github.com/foo` in CI has caused us flake-pain in the past. This is one of the motivations for putting it in the Docker image. Maybe we're OK with a low-level flake rate.
2. I'm not sure how we pin a particular golint version for release branches. Ideally this would be automated. https://github.com/kubernetes/test-infra/pull/1239 is manually pinning for rele

[2016-11-30 21:48] zmerlynn commented on #37553
So I totally disagree that it's ortogonal.

[2016-11-30 21:49] thockin commented on #31613
Well, moving to flex/external drivers makes static API validation harder,
it's not impossible - you could call the driver's "validate" call from
apiserver, for example.  But even if we don't do that, there's a difference
between:

[code]

and

[code]

On Wed, Nov 30, 2016 at 11:15 AM, Eric Paris <notifications@github.com>
wrote:

[2016-11-30 21:50] fejta commented on #37553
I disagree that we want to decouple diagnosing the cluster from the process that starts the cluster, runs the tests and shuts down the cluster.

Whether or not we are running inside a container should not impact whether we capture the right logs.

The core problem is that the container assumes it has infinity hours to complete its run.

[2016-11-30 21:52] zmerlynn commented on #37553
Sure, especially in the obvious case of a test failure (but no lifecycle issue), you need to dump the logs while the cluster is up. But if the container wanders off, which, until we solve the Halting Problem, there's always going to be a chance of, you want another crack at diagnosis.

[2016-11-30 21:53] ericuldall commented on #37567
Which version of k8s has the DNS autoscaling support for GKE?

[2016-11-30 21:54] thockin commented on #37556
There are parts of master that are probably kosher for people to import,
and parts that are not.  I'm saying that if we're OK with people vendoring
X, then we are commiting to at least doing 3-phase updates of X, and a
vendor cycle is not a big deal.  If we are not ok with them vendoring Y,
then we should a) not allow it (by docs or by mechanism), b) not allow
vendor cycles, or c) both (a) and (b)

[2016-11-30 21:54] fejta commented on #37553
That is very hypothetical and there are lots of side effects of designing things that way. Essentially you are asking to change 400 jobs to add this new diagnose_cluster logic. I'm suggesting we do it once inside the container where it belongs.

[2016-11-30 21:56] #37578 closed

[2016-11-30 21:57] chrislovecnm commented on #34978
Petsets have been banged on pretty good, but yes they are new. The startup sequence is relay important, since you cannot boostrap two nodes at the same time.

[2016-11-30 21:59] MrHohn commented on #37567
@ericuldall We are working on enabling this feature on GKE for 1.5.

[2016-11-30 22:02] inercia commented on #37699
Seems related to #15017

[2016-11-30 22:06] zmerlynn commented on #37553
How? We can run timeout on the straight call to `go run hack/e2e.go`, but then you're not protecting anything outside of it (wedging gcloud update, random URLs taking forever, etc). You can layer it inside the container in the same manner I was just referencing, but do (inside the container):
[code]
... but there are non-theoretical failures that will hit you eventually that the container is actua

[2016-11-30 22:07] krousey commented on #37715
This is also affecting the automated GCE upgrade tests, but not the automated GKE upgrade tests.

[code]

[2016-11-30 22:09] mtaufen commented on #37715
Do GKE upgrades even use `cluster/gce/upgrade.sh`?

[2016-11-30 22:10] jingxu97 commented on #37596
The error message is transient because at that time master is not available. The pod is in running state. Close the issue

[2016-11-30 22:10] #37596 closed

[2016-11-30 22:11] krousey commented on #37715
No they do not. I just noted so people know that GKE upgrade test failures are not attributable to this.

[2016-11-30 22:11] elsonrodriguez commented on #18663
@jsafrane @saad-ali @liggitt This related to https://github.com/kubernetes/kubernetes/pull/35675

kubectl no longer has the ability to create the types of secrets required by storage provisioners.

[2016-11-30 22:16] bprashanth commented on #37715
oh, sorry i forgot to mention i previously figured out something that works.
First you need to actualy shift the args so we read -o by making this: https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh#L357

[code]
then, you need to supply the `-N version` as the second arg, i.e
[code]

because various places like https://github.com/kubernetes/kubernetes/blob/master/cluster/c

[2016-11-30 22:19] saad-ali commented on #37712
CC @kubernetes/sig-storage Kubernetes should handle volumes with spaces (looks like vsphere is the first such volume) gracefully.

Non a blocker issue for 1.5.

[2016-11-30 22:20] jingxu97 commented on #37705
cc @kubernetes/sig-storage

[2016-11-30 22:20] jingxu97 commented on #37705
I think this is a feature we should support.

[2016-11-30 22:22] saad-ali commented on #37712
@BaluDontu you should make sure that the 1.5 release notes capture that "vsphere volumes w/spaces have problems". Known issue accumulator in https://github.com/kubernetes/kubernetes/issues/37134

[2016-11-30 22:22] fejta commented on #37553
`timeout 20m go run hack/e2e.go` is an acceptable step in the right direction. Ideally it lives in e2e.go itself as this is the official interface/entry into our e2e testing (we will eventually migrate everything in e2e-runner.sh into e2e.go and delete e2e-runner.sh).

[2016-11-30 22:23] davidopp commented on #37715
@gmarek mentioned to me in chat that he thought the problem had to do with the way the args are being parsed, and that in particular he thought `"${env_os_distro}" == "false" ]` was always happening even if you set -o

This would be consistent with @bprashanth 's comments

[2016-11-30 22:23] liggitt commented on #18663
what do you mean? as far as I can tell, it can create any type of secret:
[code]

[2016-11-30 22:24] fejta commented on #37553
btw, is this something you are interested in working on or are you just interested in the design?

I should be able to have someone work on this later this week, but would be very happy for you to start on it today.

[2016-11-30 22:25] jingxu97 commented on #37662
The fix #36840 is merged in master. It should be back ported to release 1.4 soon. Please let me know if you have any issue after upgrading. Thanks!

[2016-11-30 22:25] elsonrodriguez commented on #18663
Sorry, I was trying to specify `kubectl create secret <type>` instead of `--type=<type>`

I wasn't able to do a `kubectl edit` and change the type field so I let myself get thrown off.

[2016-11-30 22:27] kerneltime commented on #36295
@BaluDontu The deployment logic can decide what the availability zone should be for a node, as long as it is set correctly, CP will report it and k8s should take advantage of it.

[2016-11-30 22:28] davidopp commented on #37715
Maybe someone can try deleting the body of `setup-base-image` and see if KUBE_NODE_OS_DISTRIBUTION works when you do that. This would make it even clearer that the problem is just with how the `-o` is being handled.

[2016-11-30 22:28] roberthbailey commented on #37715
I copied out the arg parsing part of upgrade.sh into a separate script to see what the behavior is:

[code]

If you pass any non-flag arguments, then the flag parsing stops. So if you pass the new version and *then* the -o, the -o won't be parsed as the flag and won't set the variable:

[code]

[2016-11-30 22:31] zmerlynn commented on #37553
I'm actually working on the quick fix now (matching how `pull-` does it with how `ci-` does it), but it would be interesting to look into the longer term question.

[2016-11-30 22:31] jingxu97 commented on #37626
cc @kubernetes/sig-storage

[2016-11-30 22:33] davidopp commented on #37715
So can we just tell people to do "-o" right after the argv[0] and then it works?

[2016-11-30 22:33] bprashanth commented on #37715
You need a shift to get the next arg.

I'm pretty sure my proposed fix will work out, I'm testing an upgraded cluster right now. But you need to pay heed to the order of the arguments, which is why I did't upload a pr. It's a hack, relying on that last shift to leave the version as `${1}` at the end.

[2016-11-30 22:33] yujuhong commented on #37447
BTW, kubelet *may* re-reject the pod in this case, but it should never restart (i.e., actually creating containers) a terminated pod. I think this is a much minor problem and definitely not a release blocker.

[2016-11-30 22:36] jingxu97 commented on #37527
cc @kubernetes/sig-storage

[2016-11-30 22:37] roberthbailey commented on #37715
Running through the manual upgrade instructions, if you run `cluster/gce/upgrade.sh -N so v1.5.0-beta.2` in step 6 it upgrades nodes correctly from `v1.4.7-beta.0.2+githash` CVM nodes to `1.5.0-beta.2` GCI nodes.

It doesn't matter where the -o is placed, it just needs to be *before* the desired version. The flag parsing sucks in shell, but the fix isn't to shift over an arg, it's to pass the args

[2016-11-30 22:37] gmarek commented on #37715
`getopts` is just bad - I thing that `getopt` are getter. I can try rewriting upgrade script to make it more robust.

[2016-11-30 22:37] diclophis commented on #16779
Defaulting to `automount: false` seems like a _huge_ win in terms of security

[2016-11-30 22:38] roberthbailey commented on #37715
[code]

[2016-11-30 22:40] roberthbailey commented on #37715
So we should just update the instructions to unblock manual testing and then fix the script to be more forgiving of users. Fixing documentation should be release blocking; fixing the script doesn't need to be, after all, the top of the script says:

[2016-11-30 22:42] derekwaynecarr commented on #37554
@soudy

I think I have isolated a case where this can happen.

Are you able to attach the YAML for one of the pods that is stuck terminating?

I would like to confirm that the gracePeriodSeconds value is 0, and the deletionTimestamp is not nil.

Thanks!

[2016-11-30 22:43] gmarek commented on #37715
Agreed.

[2016-11-30 22:44] mtaufen commented on #37715
Shouldn't the usage for the script read:
`${0} [-M|-N|-P|-o] -l | <version number or publication>`
instead of:
`${0} [-M|-N|-P] -l -o | <version number or publication>`?

I think for now we can just check whether there is anything after the version, if so it should be an error according to the usage printout.

[2016-11-30 22:44] derekwaynecarr commented on #37554
@sjenning @smarterclayton @caesarxuchao @ingvagabund -- we have found a problem where pods that have gracePeriodSeconds value is 0, and has a deletionTimestamp not nil, that users are unable to force-delete those pods.  This appears to be caused on a rare race during a deletion, but once the system is in this state, the pod is not deletable.  We are debugging now, and hope to have a fix shortly.

[2016-11-30 22:45] derekwaynecarr commented on #37554
@saad-ali -- see above ^ , I am able to reproduce this issue on 1.4.x stream, and will check tomorrow if it can be reproduced in 1.5, if so, will think we need a patch for both releases.

[2016-11-30 22:46] mtaufen commented on #37715
I can post some fixes to the scripts.

[2016-11-30 22:46] roberthbailey commented on #37715
@mtaufen -- no, the parsing of the usage is weird, but it's trying to say that -M, -N, -P, and -o are optional flags, and that you can *either* pass -l or a version number (of course, -l is [currently unimplemented for node upgrades](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh#L390), but that's a different issue).

[2016-11-30 22:47] caesarxuchao commented on #37651
If this happens again, could you paste the output of `kubectl get pods -o yaml`? I want to see if the pods still have [ownerRefence](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L198) pointing to the replicaset. Thanks.

[2016-11-30 22:47] jingxu97 commented on #37503
@IanLewis thank you for reporting your issue.

From the error message your posted here, the device has issues after crashing, and kernal marks it as readonly, so mount will fail. Found some related information here http://unix.stackexchange.com/questions/74090/linux-how-to-change-hdd-state-from-readonly-after-temporarly-crash
In such case, only after user fixes the device problem, kubelet can moun

[2016-11-30 22:48] roberthbailey commented on #37715
Do we have documentation, other than the manual upgrade instructions, for using upgrade.sh? We need to make sure they are clear.

[2016-11-30 22:53] mtaufen commented on #37715
@roberthbailey that's what I'm saying. The usage as-is upstream looks wrong. Upstream seems to say that -M, -N, and -P are the optionals and that you can pass either -l and -o or the version.

[2016-11-30 22:54] caesarxuchao commented on #37554
Thanks @derekwaynecarr. Looking forward to seeing the root cause.

[2016-11-30 22:55] smarterclayton commented on #25283
I don't have a strong feel either way - I'd say readiness controls on a service feel orthogonal to independent names though.

Since we don't have per port readiness, we need to consider that at some point we might need more sophistication on services or pods to control membership (unless we make label flipping easier).  I would like to see us tease apart the "leader / follower" service member conc

[2016-11-30 22:55] roberthbailey commented on #37715
I think I read your before/after in the reverse order. It should be the first one that you wrote.

[2016-11-30 22:55] mtaufen commented on #37715
Ah ok no worries.

[2016-11-30 22:55] kad commented on #36059
it would be good if upcoming 1.5 release will be shipped with generated documentation instead of placeholders. Issue still present in current 1.5.0-beta.2 archive.
cc @saad-ali

[2016-11-30 22:57] caesarxuchao commented on #37421
@inetkiller I noticed you were using a 1.3.7 server. Is the panic reproducible in 1.4? We have fixed some related bugs after 1.3.7.
cc @wojtek-t @lavalamp