[2019-03-21 20:32] vllry commented on #74679
I couldn't quickly find more info tracking this, would appreciate some added

/help-wanted

[2019-03-21 20:34] smarterclayton commented on #75509
Found it, opening a PR to fix shortly.

[2019-03-21 20:35] vllry commented on #74679
/help

[2019-03-21 20:37] jgonera commented on #30189
Any news on this front? Is triggering pod workers to sync whenever changes are detected a bigger patch?

[2019-03-21 20:40] tburow commented on #74679
I think much of the concern is around this is part of the functional base for k8s and has been for sometime, and relied upon by many.  I guess im not in the loop on future changes for ingress.  From my understanding its been in this state for years now however because its still listed as beta its causing downstream integration issues.  Seems like regardless of the future state, rolling the current

[2019-03-21 20:43] chrisohaver commented on #75424
This error occurs when the nameservers cannot be reached.

This case looks familiar - I recognize the IP addresses.  We already determined that the upstream nameservers cannot be reached from pods in the cluster [here](https://github.com/coredns/coredns/issues/2693#issuecomment-473313830).

So, something more generally networky (e.g. firewalls blocking dns, network addon, etc), but not specificall

[2019-03-21 20:43] dcbw commented on #75441
kubelet should (unless there's a bug in GC) eventually get around to GC-ing the old containers. It should be calling the network plugin *before* the net namespace has gone away, at least the first time. The second time, if the netns is no longer there, the plugins should clean up as much as they can. Plugins should not be using the netns path as a key; CNI defines the uniqueness tuple as (net name

[2019-03-21 21:13] #75424 closed

[2019-03-21 21:18] thockin commented on #75290
@m1093782566 can you triage this?

[2019-03-21 21:19] thockin commented on #75287
@anfernee

[2019-03-21 21:22] thockin commented on #74759
@dcbw

[2019-03-21 21:24] andrewsykim commented on #75360
/assign @vllry

[2019-03-21 21:25] thockin commented on #74533
ping?  Should we close this?

[2019-03-21 21:25] thockin commented on #74383
ping to @MrHohn

[2019-03-21 21:27] thockin commented on #74308
I will look at this

[2019-03-21 21:27] thockin commented on #74266
ping to @thockin

[2019-03-21 21:27] thockin commented on #74247
ping to @thockin

[2019-03-21 21:28] andrewsykim commented on #75360
Quick update on this issue from today's SIG Network call: we're going to try to get rid of the proxy clean up altogether for v1.14.1 since this is considered a bug. @vllry is working on the KEP & implementation.

[2019-03-21 21:29] MrHohn commented on #75388
The referenced failing firewall test has been ressolved: https://github.com/kubernetes/kubernetes/issues/74887.

/unassign
/remove-sig network

[2019-03-21 21:31] thockin commented on #73481
@fturib

[2019-03-21 21:39] smarterclayton commented on #75509
Also, highlighted that the normal Get path has been allocating more than it should

[2019-03-21 21:46] #70088 closed

[2019-03-21 21:46] thockin commented on #73382
@andrewsykim

[2019-03-21 21:47] #73377 closed

[2019-03-21 21:52] thockin commented on #73128
@MikeSpreitzer

[2019-03-21 21:53] thockin commented on #73049
This is working as intended.  You asked it to forward to port 3000, and it did.

[2019-03-21 21:53] #73049 closed

[2019-03-21 21:54] thockin commented on #72985
@fturib

[2019-03-21 21:55] thockin commented on #72975
I think component-base will help with this?

@luxas

[2019-03-21 21:55] #72810 closed

[2019-03-21 21:58] DevasiaThomas opened #75559 "privileged containers not showing up as privileged at docker level"
**What happened**:
Started a container under a pod using the below in the pod yml
[code]
I can perform privileged actions in the container and hence it is privileged. But when I query docker to check if it is privileged using the below, it returns false.

`docker inspect --format='{{.ID}} {{.HostConfig.Privileged}}' <containerID>`

**What you expected to happen**:
The docker inspect command should

[2019-03-21 22:00] caseydavenport commented on #74298
@kumar-shantanu in the cases where it never recovers, it would be useful to see if the kube-proxy is in fact running and healthy on those nodes. Could you check that?

I suspect that this is not a Kubernetes or Calico bug, but rather something to do with the installation or underlying network itself, but it would be good to understand the root cause.

I'd also note that Calico v2.6 is _very_ old,

[2019-03-21 22:01] MrHohn commented on #74383
Removing triage/unresolved as this is a real issue that we should fix, or at least provide clarification on the expected behavior.
/remove-triage unresolved

[2019-03-21 22:03] caseydavenport commented on #74298
/remove-label triage/unresolved

[2019-03-21 22:05] caseydavenport commented on #74298
/remove-kind bug

[2019-03-21 22:05] caseydavenport commented on #74298
I'm going to close this for now since I don't think it is a bug in Kubernetes, but feel free to keep discussing here.

/close

[2019-03-21 22:05] #74298 closed

[2019-03-21 22:13] anfernee commented on #75287
@konghui what is the type of the webhook service. If it's `ClusterIP`, the apiserver has to be inside the cluster to access that service. If it's `LoadBalancer` it should be fine.

[2019-03-21 22:24] yujuhong opened #75561 "Creating Service with Type=LoadBalancer has strange side-effect on Windows nodes in GCE"
**What happened**:

After creating a Service of the "LoadBalancer" type in a cluster with Windows nodes, the management IP of the HNS networks on all windows nodes will change to the external IP assigned to the LoadBalancer service. After that, new pods started on the Windows nodes will not have network connectivity.

For example,
[code]

The "ManagementIP" was "10.40.0.3" (the internal node IP),

[2019-03-21 22:28] freehan commented on #73527
IIUC, It sounds like a simple short-term fix can be adding an in-memory cache of selector per service. That would avoid recreating the selector every time. This would be a good PR for new contributor.

[2019-03-21 22:33] johnbelamaric commented on #73425
sig-network already determined that the PQDN should be LinuxOnly, we moved them out of conformance a couple months ago.

The customDns modifies /etc/resolv.conf and so is LinuxOnly  as well.

I'll take a look at the other two.

[2019-03-21 22:33] caseydavenport commented on #73407
Is this error repeated or does it go away after the retry?

It does look like that address appears twice in the master output, which feels wrong to me, so there might be a bug here. But, I think those addresses are likely coming from the Openstack cloud provider.

My understanding is that Kubernetes will pick node IP addresses based on one of a few things:
- Cloud provider, if configured on that n

[2019-03-21 22:38] krmayankk commented on #75274
i am happy to review and implement parts of this if needed parts of this. Spreading of pods across physical hosts and vms is definitely high on my priority.

[2019-03-21 22:42] jennybuckley commented on #59124
/reopen
/remove-lifecycle rotten

[2019-03-21 22:47] #70090 closed

[2019-03-21 22:47] yujuhong commented on #75561
/cc @nagiesek @pjh

[2019-03-21 22:55] johnbelamaric commented on #73425
#74982 and #74983 do look like they are expected behavior on all clusters. What is the issue with those two on Windows?

[2019-03-21 22:57] kfox1111 commented on #64157
I think this is far enough along now that I can close it. The ephemeral pod inline support in 1.14 covers the use case.

[2019-03-21 22:57] #64157 closed

[2019-03-21 23:00] andrewrynhard commented on #74148
I kind of like the idea of mounting `/` to `/rootfs` as well. Although, one of the benefits we see in mounting only the needed host paths is that it is less of the host filesystem exposed in case of a security vulnerability. On the other hand we currently mount everything we _think_ we need: https://github.com/autonomy/talos/blob/master/internal/app/init/pkg/system/services/kubelet.go#L86-L96
and

[2019-03-21 23:05] tallclair opened #75563 "Cleanup Advanced Audit testing"
1. Most of the functionality covered by the advanced audit e2e tests should be migrated to the audit integration tests.
2. The e2e tests should reduce the coverage, and just test a few core cases. Those cases should be robust to failure (retry on failure).
3. ~~Once dynamic audit graduates to beta, the advanced audit tests should be migrated to dynamic audit to remove dependence on the static prof

[2019-03-21 23:05] tallclair commented on #74745
Thanks @liggitt

Follow up tasks captured by https://github.com/kubernetes/kubernetes/issues/75563

[2019-03-21 23:06] #74745 closed

[2019-03-21 23:13] DirectXMan12 opened #75564 "server-side apply takes ownership of fields that don't get set due to status wiping"
The API server wipes status changes on calls to the normal endpoints (not /status) at the storage registry layer (right next to etcd).  This means that calls to `<resource>/<name>` can't change status.  However, if you send a server-side apply patch, the server-side apply logic still takes ownership of any fields you *try* to set, despite the fact that they don't get set.

Reproduced on HEAD (8af1

[2019-03-21 23:13] DirectXMan12 commented on #75564
/sig api-machinery

[2019-03-21 23:15] slack commented on #75527
Ah, my bad. Sorry for the noise. 🥇

[2019-03-21 23:15] #75527 closed

[2019-03-21 23:19] pjh commented on #75561
Some more information:

When Kubernetes creates the GCE load balancer, an agent running on the Windows node adds the load balancer IP to the VM's primary network interface. When adding this IP we [set `SkipAsSource` to True](https://github.com/GoogleCloudPlatform/compute-image-windows/blob/master/GCEWindowsAgent/addresses_windows.go#L104) so that the existing IP will be used for outgoing traffic e

[2019-03-21 23:20] nagiesek commented on #75561
@madhanrm  @dineshgovindasamy

[2019-03-21 23:29] Foritus opened #75565 "Idle master constantly burns CPU/disk polling itself"
**What happened**: Setting up a Kubernetes cluster using kubeadm (using this guide: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ ), the master constantly polls itself (observable via a -v=4 log from the kube-apiserver pod). This load seems to average 10-11 TPS against the api server and subsequently etcd. This places a lot of uneccessary stress on the CPU and IO subsystems.

[2019-03-21 23:29] Foritus commented on #75565
/sig scalability

[2019-03-21 23:36] cheftako opened #75567 "Add-On manager should not be creating kube-system namespace"
**What happened**:
Add-on manager uses kubectl apply to create the kube-system namespace at start-up.
This is redundant because the kube-apiserver creates the namespace in NewBootstrapController.
This is a problem because if someone uses apply to make changes to the kube-system namespace, the add-on manager will wipe out these changes.

**What you expected to happen**:
Kube-APIServer has the sole

[2019-03-21 23:36] cheftako commented on #75567
/sig api-machinery

[2019-03-21 23:58] jcassee commented on #40635
/remove-lifecycle stale

[2019-03-22 00:32] tamalsaha opened #75568 "kubectl should avoid commands against ValidatingWebhookConfig"
We have a project called KubeDB that adds CRDs and Validating and Mutating webhooks for those CRDs.

[code]

When a user runs `kubectl get dormantdatabases`, kubectl tries to list the ValidatingWebhooks. This is resulting is bad UX.

[code]

Is it possible that `kubectl ***` commands avoid running get command over AdmissionReview api group?

[2019-03-22 00:32] tamalsaha commented on #75568
/sig cli
/sig apimachinery

xref: https://github.com/kubedb/project/issues/467

[2019-03-22 00:33] k82cn commented on #75274
+1

[2019-03-22 00:34] yujuhong commented on #75319
@thockin I think the issue is more for handling logging when kubelet/kube-proxy is started as a Windows service, and whether SIG Windows recommends doing so. I think log rotation/retention is still platform/OS-specific.

[2019-03-22 00:41] davidz627 commented on #72252
I think the driver should still create and remove directories to set up and clean up after itself (since there is no guarantee any caller of it has set up those directories before-hand). Kubernetes Unmount should not skip the rest of the unmount if the directory does not exist. It should continue through with the rest of cleanup

[2019-03-22 00:42] k82cn commented on #75542
@kubernetes/sig-node-bugs

If Pod keep in "PodInitializing" phase, scheduler can not re-schedule it :)

[2019-03-22 01:16] spiffxp commented on #75324
/area conformance

[2019-03-22 01:19] smarterclayton commented on #75509
https://github.com/kubernetes/kubernetes/pull/75570 fixes AND makes get.

[2019-03-22 01:33] gaoya16 opened #75572 "pod cant access nodeport"
my cluster have three nodes，node1、node2、node3， i start a deployment and service， the
pod run on node2，in pod i can curl node1：port and node3：port，but cant curl node2：port。

i use flannel v0.10.0
kubernetes 0.10
Docker version 18.03.0-ce

thanks a lot！

[2019-03-22 01:35] WanLinghao commented on #75559
Test OK in my environment, check if you test the /pause container.

[2019-03-22 01:36] andyzhangx commented on #75548
Update:
Operation is NotAllowed On LowPriorityVMScaleSetVM as per design . Please  retry with out a low prirority scale set VM and let us know if you still had issues.

[2019-03-22 01:41] gaoya16 commented on #75572
/sig Network
/sig Node

[2019-03-22 01:48] m1093782566 commented on #75290
cc @lbernail

[2019-03-22 01:53] WanLinghao commented on #75537
It is for security purpose, it prevents unauthorized user sniff the existence  of namespaces.

[2019-03-22 01:59] feiskyer commented on #75527
@slack I think this is actually a bug of Kubernetes API. It shouldn't skip the annotations silently

[2019-03-22 02:09] gouki777 commented on #75461
i know,thanks.

[2019-03-22 02:30] DevasiaThomas commented on #75559
@WanLinghao you want me to check if the /pause container is priviliged??

[2019-03-22 02:33] vllry commented on #75408
/priority important-soon

[2019-03-22 02:38] vllry commented on #75537
/close

[2019-03-22 02:38] #75537 closed

[2019-03-22 02:38] gouki777 opened #75575 "kube-proxy nf_conntrack_max different"
**What happened**:
I look kube-proxy  document .
i think conntrack-max-per-core  is one cpu userd conntrack-max number.
i think conntrack-min is all cpu userd conntrack-max number.
<pre>
--conntrack-max-per-core int32     Default: 32768
  | Maximum number of NAT connections to track per CPU core (0 to leave the limit as-is and ignore conntrack-min).
--conntrack-min int32     Default: 131072
  | Mi

[2019-03-22 02:42] WanLinghao commented on #75559
No, you should check the job running container rather than /pause container. I just gave a little tip to you to make sure you didn't check the wrong container...

[2019-03-22 02:43] frost1990 commented on #75441
I agree that CNI should not depend on NETNS path and CNI needs to find another way get PODIP.

But my concern is  the second sandbox container is a bug, it should not be created.

[2019-03-22 02:47] andyzhangx commented on #75288
**How to use this feature**
 - In the beginning, pls make sure the azure disk PVC is created by `kubernetes.io/azure-disk` storage class with `allowVolumeExpansion: true` (default is false)
[code]
 - Before run `kubectl edit pvc pvc-azuredisk` operation, pls make sure this PVC is not mounted by any pod(change the replica count to 0, this will terminate the pod and detach the disk) otherwise there

[2019-03-22 02:47] #75288 closed

[2019-03-22 02:51] #68325 closed

[2019-03-22 03:01] krmayankk commented on #75495
the resync pattern is followed by all controllers to account for bugs in watch mechanism or missed notification due to any other reason. I dont think the individual controllers resync period is configurable or we could increase it . Also i am not sure if the current scale limits of 2000 StatefulSets is supported @wojtek-t  FYI

[2019-03-22 03:21] likakuli commented on #75495
@krmayankk I have three cluster, A has 20 sts, B has 1300 sts and C has 2300 sts. I set kube-controller-manager loglevel to 4 and find that the cost of processing every sts is 2ms,30ms,45ms.

Can we record the processed object into a processed cache and every time we get a new object to precess, we can compare it with the item in the cache, if they are same, then we don't need to sync it.

[2019-03-22 03:23] yue9944882 commented on #75567
[https://github.com/kubernetes/kubernetes/blob/c48ed1c5aca6e06b6a3d70d5f189216df3150379/cluster/addons/addon-manager/kube-addons.sh#L213-L214](https://github.com/kubernetes/kubernetes/blob/c48ed1c5aca6e06b6a3d70d5f189216df3150379/cluster/addons/addon-manager/kube-addons.sh#L213-L214)

the contention script wipes out namespace ^^

[2019-03-22 03:27] liucimin commented on #75441
@dcbw
Although the gc can release the second sandbox.
But the kubelet will start two second sandbox for a succeeded pod and which should delete.This will make some confuse and performance and resource problems for the node in the k8s cluster.
I also feel this is a bug that kubelet should not start it.

[2019-03-22 03:52] #68328 closed

[2019-03-22 03:52] #68332 closed

[2019-03-22 04:12] shelmingsong commented on #61005
same issue

[2019-03-22 04:13] Coderhypo commented on #75572
kubernetes 0.10？

can you check kube-proxy is running
or node2 has some firewall
or find some strange log from kube-proxy.

[2019-03-22 04:27] Rajat-0 commented on #69687
@josephburnett Yes, the main idea is to trigger the First pod creation when First request hits, and buffer requests in the kube-proxy while the first pod is being created.

[2019-03-22 04:48] yue9944882 commented on #75568
that's confusing. actually get command doesn't involve any admission webhook.

[2019-03-22 05:01] idealhack commented on #74679
I see sig-network has aware of this issue, so that's good.

Meanwhile, I'm afraid this does not meet the [requirements](https://git.k8s.io/community/contributors/guide/help-wanted.md) of `help wanted` from contributors.

/remove-help

[2019-03-22 05:20] limbuu commented on #37705
In GKE, I used NFS with gce-pd for the storage. Since i had allocated fixed storage first and had no idea NFS storage wont provide scalability, i ran into "disk I/O error" because of lack of space. Doing lot of research and following link  https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/ i figured out using NFS for enterprise level application was problem in the

[2019-03-22 05:35] vllry commented on #75575
/kind triage/unresolved

[2019-03-22 05:41] vllry commented on #75575
/triage unresolved

[2019-03-22 05:45] kuchaguangjie commented on #56038
the CCP make programmer's life much harder in China.

[2019-03-22 05:51] #75069 closed

[2019-03-22 06:01] gaoya16 commented on #75572
sorry, version is v1.10
kube-proxy is running well, and most service is ok, just the pod cant access the service itself by nodeport
pod ip:172.18.1.4, in pod, curl 172.18.1.4:8050 is ok, but curl 128.195.0.2:8050 will fail (128.196.0.2 is the ip of the host, the pod run on this host)
thanks a lot

[2019-03-22 06:35] feiskyer opened #75579 "Long running operations may fail because of go-autorest bugs"
**What happened**:

According to https://github.com/Azure/go-autorest/issues/357, the timeout set in context doesn't take effect and 15min is always used for long running operations.

We should upgrade the version of go-autorest to 11.1.2 or 11.3.2.

**What you expected to happen**:

Azure clients respect timeout set from context.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-03-22 06:55] #70091 closed

[2019-03-22 07:04] #75348 closed

[2019-03-22 07:11] frost1990 commented on #75441
@dcbw
In addition, actually when the gcmanager destroy the second sandbox container first time, it cannot get the NETNS of the sandbox container because the cgroup are torn down by HouseKeeping.

[2019-03-22 07:38] smileusd opened #75581 "rbd info output parse error"
**What happened**:
The rbd plugin use "rbd info" error:
[code]
The messages before and after json result is warning string and no effect to rbd info, but it is effect to parse the output. So the kubernetes will failed:
[code]
**What you expected to happen**:
Kubernete no failed and errors

**How to reproduce it (as minimally and precisely as possible)**:
Remove the config file

[2019-03-22 07:39] smileusd commented on #75581
/sig storage

[2019-03-22 07:55] feiskyer commented on #75579
/milestone v1.15

[2019-03-22 08:00] feiskyer opened #75582 "Race condition of securityGroup/routeTable/loadBalancer setup in Azure cloud provider"
**What happened**:

Azure cloud provider configures securityGroup, routeTable and loadBalancer by invoking ARM APIs. But on cluster initialization stage, it may update them even when the create operation from provisioning tools doesn't finish. Because the later PUT would cancel a previous ongoing one, this would introduce troubles for provisioning tools.

We should check the status of securityGrou

[2019-03-22 08:01] hello2mao commented on #45419
+1

[2019-03-22 08:02] liucimin commented on #75441
@frost1990
Yes.
And some times  if the cni plugin creating the interface or other network resource in the second sandbox,it will get a crash because of the netns is release.
So maybe the upstream kubelet should not exec libcni twice to create sandboxs for a pod.

[2019-03-22 08:32] SataQiu commented on #68026
#75584
    pkg/apis/auditregistration/v1alpha1
    pkg/apis/authentication
    pkg/apis/coordination

[2019-03-22 08:33] josephburnett commented on #69687
@Rajat-0 in Knative we've been thinking about how we would integrate with your proposal.  And how to evolve our scale-to-zero system in general.  One change we are making is to separate metrics collection from autoscaling and provide our custom metric (request concurrency) from a custom metrics server.  @markusthoemmes is working on that [here](https://docs.google.com/document/d/1Mvf1aLBbXtqmlYRZk

[2019-03-22 08:35] josephburnett commented on #69687
@Rajat-0 another interesting change happening in Knative networking around scale-to-zero is handling route changes entirely through K8s services ([design](https://docs.google.com/document/d/1byHQL6kePDZq6Qt4MqB-g4BDfiaJsfDPGb5oJEK1Ldo/edit))

[2019-03-22 10:01] nerusnayleinad opened #75589 "lifecycle hooks weird behavior"
I am making tests with lifecycle hooks, and there is this behavior that makes no sense to us that I would like to find out what is that. So I have the following deployment:

[code]

Simple. Every time I kill the pod, and it gets re-created, it will generate 'post-start' and 'pre-stop'  files with the message hello or goodbye with the date. So it works, but not as expected. When I first create the

[2019-03-22 10:07] Rajat-0 commented on #69687
@josephburnett I'll attend next Knative Scaling Working Group meeting and we can discuss about it there.

[2019-03-22 10:13] eloyekunle commented on #49964
@ConnorDoyle

I'm working on my GSoC proposal for _[Kubernetes with hardware devices topology awareness at node level](https://github.com/cncf/soc#kubernetes-with-hardware-devices-topology-awareness-at-node-level)_ and I have some questions:
- What exactly do we mean by `Hardware topology awareness at node level`?
For example, the CPU manager is able to detect the `CPUTopology` and act on it. If t

[2019-03-22 10:31] nerusnayleinad commented on #75589
I can't add the sig with this UI

[2019-03-22 10:35] josephburnett commented on #69687
The Knative docs are usually shared with https://groups.google.com/forum/#!forum/knative-dev.  It would be easiest if you joined that group.

[2019-03-22 10:35] tamalsaha commented on #75568
I debugged a bit. The code is difficult to follow. But it seems that the DiscoveryClient RestMapper detects the resource name from Discovery response and there is not particular order in how the `resource` name is matching with the GVR.

[2019-03-22 10:41] kmcgrath commented on #75548
@andyzhangx we can.  I am curious as to why this is working with other volumes that we have running on Low-Priority.  They attach, detach and re-attach without issue.  Is there a reason this is not fully supported yet?  And is it on the roadmap for full support?

[2019-03-22 10:43] tarunchawla28 commented on #60134
Remove these two lines from your kubernetes.repo file->
gpgcheck=1
repo_gpgcheck=1
It will work. These verify package signatures after download.

[2019-03-22 10:43] mgdevstack commented on #73430
@pontiyaraja, Is there any other actionable item here.
e.g
1) if PodShareProcessNamespace is promoted to beta in #66507, why don't we update e2e to use beta resources and tag them as [Beta]. Once it is GA in 1.15 release, we can think for Conformance Promotion.

[2019-03-22 10:56] andyzhangx commented on #75548
@kmcgrath what's the size of "other volumes", is it bigger than 1TB?

[2019-03-22 10:57] pohly opened #75590 "e2e and mandatory command line flags"
**What happened**:

https://github.com/kubernetes/kubernetes/pull/69105 moved flag definitions from a function in the E2E test framework (`RegisterCommonFlags`) into the init section of some test packages. That's okay for the Kubernetes E2E test suite where those flags traditionally have been part of the command line.

But now @deads2k pointed out (https://github.com/kubernetes/kubernetes/pull/691

[2019-03-22 10:59] #69158 closed

[2019-03-22 10:59] #69502 closed

[2019-03-22 11:05] kmcgrath commented on #75548
@andyhky most are smaller, in the 1-30GB range.  We do see intermittent issue here, but they clear.

To test, a quick example that does work with Low-Priority is the PVC example from k8s: https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

[2019-03-22 11:17] andyzhangx commented on #75548
@kmcgrath azure support means Low-Priority could not attach data disk larger than 1TB

[2019-03-22 11:23] liuyuhui2019 commented on #68447
same problem

OS: CentOS 7.6
kernel: 3.10.0-957.el7.x86_64
Kubernetes: 1.13.4

[2019-03-22 11:28] pohly commented on #75590
/sig testing
/cc @deads2k

[2019-03-22 11:39] bclau commented on #73425
So, #74983 (adds ``should provide DNS for ExternalName services`` to Conformance), I've tested it using azure-vnet-cni, flannel overlay, flannel l2bridge, and it passed on all 3 of them. I still have to test it using OVN / OVS. Finnally, I would like @benmoss and @yujuhong to confirm that they're also ok with this test. Once they do, we can proceed with the test promotion.

The other one, #74982 (

[2019-03-22 11:40] Dabbeeru commented on #75590
Can you please help me for the below error

Error loading config file "/home/ec2-user/.kube/config": yaml: line 15: could not find expected ':'                                                                          Error loading config file "/home/ec2-user/.kube/config": yaml: line 15: could not find expected ':'                                                                          Error load

[2019-03-22 11:41] Dabbeeru commented on #75590
can you please assist me

[2019-03-22 11:45] Dabbeeru opened #75592 "Hi Am getting error in .kube confige file"
Error loading config file "/home/ec2-user/.kube/config": yaml: line 15: could not find expected ':'                                                                          Error loading config file "/home/ec2-user/.kube/config": yaml: line 15: could not find expected ':'                                                                          Error loading config file "/home/ec2-user/.kube/config

[2019-03-22 11:46] pohly commented on #75590
@Dabberru looks like a syntax error in your config. That is unrelated to this issue. Please take your question to place where users of Kubernetes can get help (https://kubernetes.io/community/ or your vendor).

[2019-03-22 11:47] pohly commented on #75590
@Dabbeeru please delete your comment.

[2019-03-22 12:04] Dabbeeru commented on #75592
can you please guide me how to add sig in my console

-bash: syntax error near unexpected token `newline'
--

[2019-03-22 12:07] Dabbeeru commented on #75592
which group name need to mention in sig

[2019-03-22 12:09] Dabbeeru commented on #75592
if it is possible please update and give me my yml script

[2019-03-22 12:19] kmcgrath commented on #75548
@andyzhangx switched to on-demand and the volume mounted.  We are running with both on-demand and low-priority with taints and tolerations.

While that may close this ticket we'd like to see if we can work with you / Microsoft in full support of PVC with Low-Priority VMs.  Is it okay to reach you at the email you provided above?

[2019-03-22 12:34] iftachsc opened #75594 "KubeDns Pods do not share load"
in our cluster we have 250+- app pods. most of them with lower ttl of 1 minutes generating allot of dns requests.
we had some issues that randomly pods/kubelets cannot resolve dns. we saw that KubeDns pods are working hard. we scaled KubeDns and problem lowered but still occurs.

looking at the KubeDns monitoring it seems that one pod always works hard and the rest almost does nothing. this make s

[2019-03-22 12:42] andyzhangx commented on #75548
@kmcgrath  sure, just contact me if you have any issue about k8s storage on Azure, I am the feature owner.

[2019-03-22 12:49] neolit123 commented on #75592
you might get better responses if you post the question on stackoverflow or reddit!
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

/sig aws
/triage support

[2019-03-22 12:50] neolit123 commented on #75592
/remove-kind feature

[2019-03-22 12:51] neolit123 commented on #75594
CoreDNS is the preferred DNS server since 1.11-1.12.
please provide details about your setup and follow the issue template.
thank you.

/sig network
/triage support

[2019-03-22 12:52] neolit123 commented on #75559
/sig node

[2019-03-22 12:55] iftachsc commented on #75594
we are using GKE 1.11 so i am not in charge and dont want to change the addons on the cluster.
we have 28 nodes. in our setup as i explained because of low dns ttl  there are many requests to kube-dns. we can see clearly the pods work more than a common deployment.
what additional details do you need?

[2019-03-22 12:55] neolit123 commented on #75554
/kind documentation
/sig api-machinery

[2019-03-22 12:57] neolit123 commented on #75552
/sig auth

[2019-03-22 13:01] #70086 closed

[2019-03-22 13:27] liggitt commented on #75448
A PV provisioned from a storageclass (with a spec.storageClass name set) depends on the storage class for deletion. PVs can be provisioned/deleted via other mechanisms (and not have a storageclass set), and those would not depend on a storageclass for deletion.

[2019-03-22 13:35] frittentheke commented on #62078
/remove-lifecycle stale

[2019-03-22 13:54] wojtek-t commented on #75495
The "resync pattern" doesn't help with watch bugs (resync is done purely from internal cache, so in hypothetical situation that we missed watch event, it won't help at all).

Resync-period should basically be used only in controllers that also sync some external things (like load-balancers), and watching changes of those is impossible.

Unless I'm not missing anything, resync period can be safely

[2019-03-22 14:00] galindro commented on #14512
@ironcladlou did you know where in https://github.com/kubernetes/enhancements the Proposal https://github.com/kubernetes/community/pull/1171 was moved into?

[2019-03-22 14:01] neolit123 commented on #75509
xref https://github.com/kubernetes/kubernetes/issues/73884

[2019-03-22 14:06] #37962 closed

[2019-03-22 14:16] neolit123 commented on #75594
/sig gcp
/remove sig-network

would be still nice to provide the k8s version at least and follow the rest of the issue template:
https://raw.githubusercontent.com/kubernetes/kubernetes/master/.github/ISSUE_TEMPLATE/bug-report.md

thanks!

[2019-03-22 14:16] wojtek-t commented on #73527
Yeah probably. Though it obviously complicates the code, so my main goal was to ensure that the new API will not have this problem.

[2019-03-22 14:16] neolit123 commented on #75594
/remove-sig network

[2019-03-22 14:17] BrianChristie commented on #75594
Have you been able to contact Google Cloud Support for this yet? They would probably be the best resource to start with as I believe cluster DNS resolution falls under the scope of the managed GKE service.

[2019-03-22 14:18] michmike commented on #75561
cc: @daschott

[2019-03-22 14:23] iftachsc commented on #75594
Sorry for that. it somehow used the feature request template:
**What happened**:
we expirience random resolve issues infron of kubedns. some time in the form of resolve failing of gcr
kubelet, gke-ls-prod-od-14c-35g-2bcf01d8-c3v1  Failed to pull image "gcr.io/project-------/-------:5.0.92": rpc error: code = Unknown desc = Error response from daemon: Get https://gcr.io/v2/: dial tcp: lookup gcr.io

[2019-03-22 14:31] randyrue commented on #75552
Sorry if I've tagged this wrong, I'm new. But is this an auth problem? The crt file works fine, the issue seems to be with kubectl config figuring out a relative path and removing the complete path that's given.
/sig cli

[2019-03-22 14:48] dkrieger commented on #57291
+1

I understand there could be risk associated with implementing this in a highly flexible manner, i.e. allowing rapid, infinite polling the master, but some degree of configurability would avoid the need to add too much job management logic to the average app container, which is something of an antipattern.

I propose allowing a maxBackoffInterval configuration option on the container spec with

[2019-03-22 15:18] clcollins commented on #72044
We're seeing this on OpenShift Origin/OKD with the ovs-multitenant plugin. We've only seen it with CronJob pods, as far as I can tell from our logs.

[2019-03-22 15:30] grosser opened #75596 ""OR" suppport for fieldselector"
I want to find events for a lot of different objects and not do lots of api requests, can we add some kind of "OR" support ?

`kubectl get events --field-selector 'involvedObject.name=(foo,bar)`

[2019-03-22 15:52] cofyc commented on #66067
@erhudy Thanks for your solution! Is it possible to fix on systemd side?

[2019-03-22 16:02] rramkumar1 commented on #73458
@rongyi Looks like we should be able to cherry pick this back to the 1.11 branch. Since 1.11.8 is already out, this would probably only land in 1.11.9. Does that work for you? If so, please ack.

[2019-03-22 16:07] grosser commented on #75596
/sig api-machinery
@kubernetes/sig-api-machinery-feature-requests

[2019-03-22 16:19] #75548 closed

[2019-03-22 16:19] Byron101 commented on #75548
Thanks @andyzhangx

[2019-03-22 16:30] neolit123 opened #75601 "[e2e] Umbrella issue for the e2e testing framework refactor"
#### This is the umbrella issue for tracking work related to the refactoring of the e2e testing framework which is an effort by the [testing-commons group](https://docs.google.com/document/d/1TOC8vnmlkWw6HRNHoe5xSv5-qv7LelX6XK3UVCHuwb0/edit#) (#testing-commons) on slack - a sub-project of SIG testing.

[meeting VOD playlist](https://www.youtube.com/watch?v=7otFGfVB80w&list=PL69nYSiGNLP0ofY51bEooJ4

[2019-03-22 16:36] neolit123 commented on #75601
/remove-kind bug
we are also looking at triaging the existing tickets and possibly cross reference.

@pohly i know you have a few tickets around.

@alejandrox1 @stevesloka
i would look for tickets labeled `sig/testing` and `area/test` possibly keywords "framework".

[2019-03-22 16:36] Ptyool commented on #75175
Same issue here on K8s 1.13.4

[2019-03-22 16:39] neolit123 commented on #75601
/assign @timothysc @andrewsykim

[2019-03-22 16:42] HariSekhon commented on #33065
I'm running in to this issue at work and it looks like `kubectl run` is letting me down
[code]
Looks like nobody at work has ever been able to `kubectl run`

[2019-03-22 16:44] HariSekhon opened #75603 "kubectl run should have uid and gid flags"
Re-raise of #33065 as we can't re-open it.

I'm running in to this issue at work and it looks like `kubectl run` is letting me down
[code]
Looks like nobody at work has ever been able to `kubectl run`

[2019-03-22 16:51] webwurst commented on #73189
I am seeing this error with these components when running `crictl ps` or `kubelet`:

| component | --version |
| ------------- | ------------- |
| containerd | containerd github.com/containerd/containerd v1.2.5 bb71b10fd8f58240ca47fbb579b9d1028eea7c84 |
| crictl | crictl version v1.13.0 |
| kubelet | Kubernetes v1.13.4 |

At the moment I feel a bit lost about which versions should be compatible. B

[2019-03-22 16:52] mtaufen commented on #68939
The defaults are intentionally different, since the transition from flags to config provided the opportunity to fix some insecure flag defaults.

Agree that the help should do a better job of telling folks what the defaults are in each case.

[2019-03-22 16:53] jakexks commented on #75603
@kubernetes/sig-cli-feature-requests

[2019-03-22 16:53] johnbelamaric commented on #73425
Ok. Based on precedent I am ok with splitting the test and making the hostname part LinuxOnly.

[2019-03-22 16:57] neolit123 opened #75604 "[e2e] Decoupling cloud providers from the e2e testing framework"
parent issue:
https://github.com/kubernetes/kubernetes/issues/75601

tests that a part of the framework and the framework as a whole should not vendor cloud provider code. we need to think of a way how to interface this and possibly plan on how to bundle the resulted test suite(s).

some steps to perform here:
- enumerate tests that import cloud provider specifics.
- possibly think of way to inter

[2019-03-22 16:57] neolit123 commented on #75604
/remove-kind failing-test

[2019-03-22 17:01] oomichi commented on #75601
I'd like to join :-)

/assign @oomichi

[2019-03-22 17:03] oomichi commented on #75604
/cc @oomichi

[2019-03-22 17:05] #70134 closed

[2019-03-22 17:10] antonlisovenko commented on #67250
This is a real blocker for programmatic usage of Statefulsets (from the Operator for example). The real use case: the statefulset is created with some memory/cpu limits which cannot be fulfiled. So say 2 pods are running and the 3rd is staying Pending as it cannot be scheduled to the node as there no available resources. Trying to fix and change the statefulset specification to have smaller limits

[2019-03-22 17:20] fabriziopandini commented on #75601
/assign

[2019-03-22 17:27] yujuhong commented on #73425
I ran the test ` should provide DNS for ExternalName services` in my GCE/Windows test cluster and it passed.

[2019-03-22 17:34] ejweber commented on #75191
@jsafrane
It definitely looks like there's an issue there. I don't think the kubelet ever made it that far in my initial testings, as mounting (with mountOptions listed in the PersistentVolume object) failed with the following message:

I assume this is related to the following code:

https://github.com/kubernetes/kubernetes/blob/662b683de4c516b1e62cbe101522f27ae942bda9/pkg/volume/fc/fc.go#L97-L99

[2019-03-22 17:57] vasiliyb opened #75606 "GKE unable to connect"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
GKE regional kubernetes cluster... unable to connect

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install to

[2019-03-22 17:59] vasiliyb commented on #75606
/sig GCP

[2019-03-22 18:06] #70130 closed

[2019-03-22 18:13] pulpbill opened #75607 "Error updating node status, will retry: error getting node"
**What happened**:
Node not joining kops cluster

**What you expected to happen**:
The node to join the cluster and start scheduling pods

**How to reproduce it (as minimally and precisely as possible)**:
Not sure

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardware configuration:
AWS
- OS (e.g: `cat /etc/os-relea

[2019-03-22 18:16] oomichi opened #75608 "Solve unnecessary ERROR log on pull-kubernetes-e2e-gce-100-performance job"
**What happened**:

When digging failed test on pull-kubernetes-e2e-gce-100-performance job, we see the following ERROR log:
[code]
However that happened at the succeeded job also, so that is just ignored and not related to the failed job.
The above log seems just noise for digging issues, so it is better to solve it.

**What you expected to happen**:

We never see the above ERROR log and will be

[2019-03-22 18:24] vllry commented on #75502
/triage resolved

[2019-03-22 18:24] dhawal55 commented on #57961
I see that `system:kube-scheduler` user is also mapped to `system:volume-scheduler` cluster role which should grant it access to `storageclasses`.

[2019-03-22 18:26] vllry commented on #75502
/remove-triage unresolved

[2019-03-22 18:28] spiffxp commented on #75601
WDYT about adding an `area/e2e-framework` label, and dropping an OWNERS file in test/e2e/framework that applies that label to PR's touching files in there?

[2019-03-22 18:32] alejandrox1 commented on #75604
/cc @alejandrox1

[2019-03-22 18:35] neolit123 commented on #75601
@spiffxp
i think this will be useful.. today we've discussed the lack of specific label.

[2019-03-22 18:37] spiffxp commented on #75601
ok, I'm going to make a specific label then, and drop it in the repos that seem relevant to this effort, will link PR back here shortly

[2019-03-22 18:39] madhanrm commented on #75561
Looks like someone is programming the external IP <35.224.254.87> on the interface.
This would be picked up as interface ip change and the network would be modified with that IP.

Any reason why this IP is programmed on the interface? There is no need to.

[2019-03-22 18:49] dhawal55 commented on #57961
I copied the scheduler's serviceAccount token in my local kubectl config and ran the `kubectl auth can-i get storageclasses` and it returns `no`. However, as per the `system:volume-scheduler` clusterrolebinding, it should have permission. Is it possible that apiserver is not merging permissions assigned from multiple rolebindings correctly?

[2019-03-22 18:53] liggitt commented on #57961
if you are using a service account token for the scheduler, then it is not using the `system:kube-scheduler` user. how are you running your scheduler?

[2019-03-22 18:57] neolit123 commented on #75601
https://github.com/kubernetes/kubernetes/pull/75611

[2019-03-22 19:11] dhawal55 commented on #57961
@liggitt Aha, you are right. I use bootkube to deployer kube-scheduler. It uses `scheduler` serviceaccount which is only mapped to `system:kube-scheduler` clusterrole and not `system:volume-scheduler` clusterrole. Thank you for pointing it out.

[2019-03-22 19:17] spiffxp commented on #75601
Label may not show up until later today, waiting on label sync, work is in-flight on running that as a prowjob instead of a kubernetes-native CronJob

[2019-03-22 19:19] neolit123 commented on #75601
thanks. this effort will require good amount of planning before the PRs and tickets start ramping up.

[2019-03-22 19:21] dhawal55 commented on #57961
@liggitt If I run `kube-scheduler` as a pod, is there any way to use the built-in `system:kube-scheduler` user instead of serviceaccount?

[2019-03-22 19:30] msau42 commented on #72604
There's been a few fixes/changes to orphaned pod cleanup since this PR was originally created.  I think now we have a better understanding of where the responsibilities of volume cleanup should be.

Orphaned pod cleanup should not try to clean up volumes.  Instead, it should let volume manager reconciler handle the cleanup.  For cases where kubelet restarts, then we rely on dsw initial population

[2019-03-22 19:58] dcbw commented on #75443
@zhangguanzhang can you grab the output of 'iptables-save' on a problem node? Let's see what the iptables rules say about why traffic cannot redirect from the VIP to the nodeport. Thanks!

[2019-03-22 20:11] superdave commented on #53533
As it turns out, I still don't have the mental bandwidth to join yet another Slack channel. I'd still be down with collaborating on this over email.

[2019-03-22 20:17] DevasiaThomas commented on #75559
@WanLinghao My utility isn't K8 or OSE aware. it works on the docker layer and filters out privileged containers using the above docker inspect and i'm seeing containers started up as part of pods using the spec:securityContext:privileged:true turning up as false in docker inspect.

[2019-03-22 20:19] sachinmsft commented on #75319
I see two approaches.
1) Update the kubelet/kube-proxy to log to windows event logs when they started as Windows service.
2) Update the Klog pkg to add a configurable flag to forwards logs to windows logs.

I am more inclined towards second option as any app can use klog and there is no need to change these apps to provide windows event logs support if Klog supports that.

any thoughts?

[2019-03-22 20:26] Huang-Wei commented on #73572
Status of cherry pick PRs:

- 1.13 - #74994 - merged
- 1.12 - #74995 - merged
- 1.11 - #74996

[2019-03-22 21:07] saiyan86 commented on #74533
@thockin I think we can close this for now. I can't reproduce without enough troubleshooting information. If anything changes, we can reopen this.

[2019-03-22 21:08] #10735 closed

[2019-03-22 21:08] #70142 closed

[2019-03-22 21:17] andrewsykim commented on #75601
/assign @stevesloka

[2019-03-22 21:17] andrewsykim commented on #75604
/assign @stevesloka

[2019-03-22 21:36] enisoc commented on #67250
After some initial investigation, I believe the mitigation described above should be feasible:

The specific incarnation we're talking about is when all of the following are true:

1. There's a Pod stuck Pending because it was created from a bad StatefulSet revision.
2. Deleting that stuck Pod (i.e. the workaround discussed above) would result in the Pod being replaced at a different revision (mea

[2019-03-22 21:42] misterikkit opened #75617 "Scheduler: affinity predicates read nodes from informer cache instead of scheduler cache"
**What happened**:
I recently saw an issue in which the scheduler hit this log line many times:
https://github.com/kubernetes/kubernetes/blob/6f482974b76db3f1e0f5d24605a9d1d38fad9a2b/pkg/scheduler/algorithm/predicates/predicates.go#L1276

After some digging, it turns out that PodAffinityChecker has a `PodLister` and `NodeInfo`. The `PodLister` points at the scheduler's cache instance, while the `N

[2019-03-22 21:42] misterikkit commented on #75617
/sig scheduling

[2019-03-22 21:44] spiffxp commented on #75509
/kind flake

[2019-03-22 21:45] spiffxp commented on #75509
/remove-kind failing-test
This test isn't continually failing, but has a flake rate.  Using kind/flake instead

[2019-03-22 22:01] Huang-Wei commented on #75617
We do have this kind of issues, and here is another one: https://github.com/kubernetes/kubernetes/issues/70450.

[2019-03-22 22:41] pswica commented on #75572
What happens when you run:

`kubectl get no`

Also, where are the nodes hosted (VMware, AWS, Bare Metal, etc)?

One other thing to note:
Flannel, if you just run it with `kubectl apply -f` (e.g. you didn't edit the yaml), requires a default pod cidr of 10.244.0.0/16

[2019-03-22 22:47] Huang-Wei commented on #75311
It's discussed #72226.

My preference is to keep current logic as is - for a node which loses connection to API server, in 1.11 it needs 2*len(pods) calls to APIserver (set status.reason to NodeLost and then delete pods). And in 1.13 it just goes deleting the pods which causes less pressure to APIserver.

It's not true. In API's view, its deletionTimestamp is non-nil; in user's perspective, it sho

[2019-03-22 23:10] #63316 closed

[2019-03-22 23:14] thockin commented on #74308
@spiffxp is there followup needed?

[2019-03-22 23:33] thockin commented on #74266
There really is not anything special about how volumes are mounted directly withing a Pod vs through a PVC.

to debug, here's what I would try:

0) Make sure your test client is running `privileged` -- mount requires more than just a root UID.

1) Can a pod client mount the NFS share from the server Pod's IP address (instead of the service address)?

2) On the Node where the server pod is running,

[2019-03-22 23:33] #74266 closed

[2019-03-22 23:34] thockin commented on #74247
ConfigMaps are data-plane, not control-plane.  Sorry, this is unlikely to be implementable.

[2019-03-22 23:34] #74247 closed

[2019-03-22 23:42] wongma7 opened #75619 "azure disk may be mounted by pod before disk is actually attached"
**What happened**:
- restart pod using azure disk
- according to controller-manager, disk is successfully detached from /dev/sdc
- pod is rescheduled to the same node
- according to controller-manager, disk is reattached to the same node at /dev/sdd
- pod is started while /dev/disk/azure/scsi1/lun0 points to /dev/sdc
- disk is *actually* detached from /dev/sdc and reattached to /dev/sdd
- pod gets

[2019-03-22 23:43] wongma7 commented on #75619
/sig azure
/sig storage

[2019-03-23 00:12] yujuhong commented on #74218
+1 the source code for the pause image should be hosted in a kubernetes repository, and the images can be pushed to registries the community maintains.

[2019-03-23 00:14] yujuhong commented on #74218
Caveat: this flag only works for dockershim (and the discussion to decouple dockershim from kubelet is ongoing in sig-node)  Other CRI runtimes get to decide what type of PodSandbox and pause image they'd like to use.

[2019-03-23 00:46] pswica commented on #75594
1. Does anything show up when you type `kubectl logs kube-dns-<rest-of-pod-name>`?
2. How about when you run `kubectl get po -n kube-system`?
3. Sometimes DNS messes up on Kubernetes if there are issues with the underlying CNI. Can you nslookup/dig these kube-dns servers from other pods on your cluster (e.g. `kubectl exec -it <pod> -- nslookup < kube-dns-...` )?

[2019-03-23 00:51] pswica commented on #75607
How are you joining the worker node to this cluster (e.g. did the cluster already exist and you're using TLS bootstrapping to add the node)?

[2019-03-23 00:58] pswica commented on #75592
This is clearly an issue with .yaml formatting. It's hard to give advice without the actual yaml on hard. Try running it through something like: http://www.yamllint.com/

[2019-03-23 01:01] andyzhangx commented on #75619
/assign
Does this issue only repro on VMSS? If so, I think it's related to the issue mentioned in attachment. That disk attach/detach issue on VMSS is caused by VMSS RP returned operation status directly before it completed. And VMSS team will fix this issue in April. VM availability Set won't have this issue.

[2019-03-23 01:17] pswica commented on #75559
Could this be due to selinux--can you run `getenforce`? If so, does the issue persist if you test by temporarily disabling selinux and trying again?

[2019-03-23 02:19] andyzhangx commented on #75379
/assign
I will take a look

[2019-03-23 02:39] jehos commented on #75427
I am running k8s on a single node, but I am experiencing the same symptoms.

[code]

There is no special error in the log..

[code]

[2019-03-23 03:01] veeshall commented on #73397
We have a similar issue, the issue seems to surface if I restart the kubelet.

If I stop the kubelet, delete the node, start the kubelet --> the condition goes away.
But if I just restart the kubelet again (without deleting the node) --> the condition is back again

[2019-03-23 03:57] #71277 closed

[2019-03-23 07:18] #70169 closed

[2019-03-23 09:00] moluzhui commented on #59959
Hi，I am running Ubuntu 16.04 with docker v 18.09.3.。I installed k8s according to the installation information of the website
`apt-get update && apt-get install -y apt-transport-https curl
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
cat <<EOF >/etc/apt/sources.list.d/kubernetes.list
deb https://apt.kubernetes.io/ kubernetes-xenial main
EOF
apt-get update
apt-get in

[2019-03-23 09:48] zioalex commented on #72611
@xdk-rachel  please check the network. Could be that from Kubernetes you cannot reach the local registry. May be you need to forward the packet.
One simple test would be just to start a container with a public image and try to reach the port 5000 from inside.

[2019-03-23 10:14] lbernail commented on #75290
If I understand correctly, the externalIP you use is the actual IP of the master node.
You shouldn't need to use an externalIP in that case:
- you can use a nodeport
- you should be able to use the nodeIP with the service port

With IPVS the IPs that will get load-balanced need to be locally routable. So when you define `192.168.101.7` as an external IP it is bound on all nodes in the cluster whic

[2019-03-23 10:46] gitplyx opened #75625 "coredns not start up"
coredns 无法启动报错

Name:           coredns-8449ddb7b4-mzwgq
Namespace:      kube-system
Node:           192.168.174.132/192.168.174.132
Start Time:     Sat, 23 Mar 2019 18:09:28 +0800
Labels:         k8s-app=kube-dns
                pod-template-hash=8449ddb7b4
Annotations:    <none>
Status:         Pending
IP:
Controlled By:  ReplicaSet/coredns-8449ddb7b4
Containers:
  coredns:
    Container ID:

[2019-03-23 10:54] gitplyx commented on #75625
cni.go:330] Error deleting network: could not initialize etcdv3 client: tls: found a certificate rather than a key in the PEM for the private key

[2019-03-23 12:07] likakuli commented on #75495
@wojtek-t I think all the controllers have the same problem because of the sharedinformerfactory has a default resync period if we don't set it to 0 in the config file. Also if there are more sts, the consumption for every sts will  be larger.

[2019-03-23 12:20] vperson opened #75626 "How to update the configuration of a kubelet that is running a cluster"
Didn't find the right answer after trying Google

After running the cluster with kubeadm for a while, the node node often fails to log in remotely due to the system hang.

Later, the default resource reservation for kubelet was found to be none. Now I want to make a kubelet configuration update for an already running cluster.

The following is the configuration of my initial cluster.
[code]

After

[2019-03-23 13:58] jonfriesen commented on #68026
hi @dims I think this issue was closed prematurely by #73255 (using fixes #issue in commit)

[2019-03-23 14:02] rongyi commented on #73458
@rramkumar1 we already fix this in our production cluster. it is ok to cherry pick this commit to latter release. great job~

[2019-03-23 14:22] jim-minter commented on #75619
@andyzhangx yes, this is on VMSS.

@mjudeikis fyi

[2019-03-23 14:24] neolit123 commented on #75626
/close
duplicate here:
https://github.com/kubernetes/kubeadm/issues/1464

[2019-03-23 14:24] #75626 closed

[2019-03-23 15:10] mattjmcnaughton commented on #75552
@randyrue thanks for your question (and welcome to the k8s project :) )

Quick question - would you mind explaining more about why you are hoping for the full path as opposed to the relative path? I just want to make sure I'm understanding the issue you're experiencing :)

[2019-03-23 15:19] mattjmcnaughton commented on #75541
Thanks for reporting @oxddr :) If you're able, I think the actual (sanitized) command you used would be really useful.

Thanks :)

[2019-03-23 16:00] neolit123 commented on #75565
/sig api-machinery

[2019-03-23 16:28] InAnimaTe commented on #72261
For anyone interested, I solved this by not placing a file at `/run` as that location is utilized by k8s for mounting in tokens.

[2019-03-23 16:28] #72261 closed

[2019-03-23 16:53] eloyekunle commented on #52757
@wsxiaozhang @resouer

Taken together, do these projects ([GPU Sharing Scheduler Extender](https://github.com/AliyunContainerService/gpushare-scheduler-extender), [GPU Sharing Device Plugin](https://github.com/AliyunContainerService/gpushare-device-plugin)) solve the _[Run GPU sharing workloads with Kubernetes + Kubeflow](https://github.com/cncf/soc#run-gpu-sharing-workloads-with-kubernetes--kubef

[2019-03-23 19:08] bertoost commented on #57801
Damn! I found it...
My private registry secret had the wrong type;

`type: kubernetes.io/dockercfg`
 &nbsp; &nbsp; vs
`type: kubernetes.io/dockerconfigjson` <-- right!

[2019-03-23 19:09] bertoost commented on #70147
Damn! I found it...
My private registry secret had the wrong type;

`type: kubernetes.io/dockercfg`
 &nbsp; &nbsp; vs
`type: kubernetes.io/dockerconfigjson` <-- right!

[2019-03-23 19:53] benmoss commented on #74218
xref #75618

[2019-03-23 20:14] shay-berman commented on #75448
1. @liggitt, as you mentioned the PV deletion depends on the storage class of the PV (assuming the PV was dynamically provisioned). So do you think its better to add finalizer to the storage class that will check if there are no existing PV before delete the storage class?

2. @saad-ali, do you think we should improve the documentation and state that if there is a need to replace CSI secret key on

[2019-03-23 20:31] mucahitkurt commented on #75273
Hi @jingxu97 ,@msau42, I would like to work on this issue. For the PathExists function, I think if the error type is NotExists then it'll continue to return false, am I right?

[2019-03-23 20:33] ConnorDoyle commented on #49964
@eloyekunle

You’re right the CPU manager takes topology into account when allocating exclusive cores. In the topology manager proposal it’s stated that the scope is “just” to make CPU manager and device manager try to cooperate regarding the closest CPU socket. In general, this ticket is about making sure the various components inside Kubelet can coordinate this way to avoid leaving a lot of perf

[2019-03-23 21:32] #67249 closed

[2019-03-23 22:02] krmayankk commented on #75495
@wojtek-t interesting, but the resync is only happening for k8s objects. Why is watching changes on those impossible ? And when you say external things you mean loadbalancers in gcloud ?  resync is only happening for k8s services corresponding to those loadbalancers ?

[2019-03-23 22:09] mancini0 commented on #40651
+1

[2019-03-23 22:33] #69923 closed

[2019-03-23 22:33] #68542 closed

[2019-03-23 22:33] #69915 closed

[2019-03-23 22:33] #68934 closed

[2019-03-23 22:49] CodeCorrupt commented on #74266
I should have updated the issue a while ago. You're correct about starting the pod with `privileged`. That fixed the issue for me.

[2019-03-23 23:00] tedyu opened #75635 "genericScheduler#findNodesThatFit should return from parallel work early if there is any error"
**What would you like to be added**:
In genericScheduler#findNodesThatFit, workqueue.ParallelizeUntil evaluates all checkNode.
Afterwards, if there is any err, the func would return.

We can add variant of ParallelizeUntil which takes errs (an error map - map[string]int).
[code]
We can add a new case above where once errs map is non-empty, return early.

**Why is this needed**:
This addition would

[2019-03-23 23:03] tedyu commented on #75635
@kubernetes/sig-scheduling

[2019-03-24 00:06] benmathews commented on #45967
/remove-lifecycle stale

[2019-03-24 00:25] maicohjf commented on #59676
Monitor the logs of Pod foobar and
 Extract log lines corresponding to error unable-to-access-website
 Write them to /opt/KULM00201/foobar

$ kubectl logs pod foobar | grep “ unable-to-access-website ” >/opt/KULM00201/foobar

1.
Monitor the logs of Pod foobar and
 Extract log lines corresponding to error unable-to-access-website
 Write them to /opt/KULM00201/foobar

$ kubectl logs pod foobar |

[2019-03-24 00:30] maicohjf commented on #59676
Ensure a single instance of Pod nginx is running on each node of the kubernetes cluster where
nginx also represents the image name which has to be used. Do no override any taints currently
in place.
Use Daemon sets to complete this task and use ds.kusc00201 as Daemonset name.

apiVersion: apps/v1
kind: DaemonSet
metadata:
     name: ds.kusc...
spec:
     selector:
         matchLabels:
         na

[2019-03-24 00:38] maicohjf commented on #59676
/batch/job/strategy.go#L48-L49) it set the GC policy to `OrphanDependents`. With the server-side printing being mature at this point in time I think we can entirely remove the old bits and move towards the proper design with both the propagation policy explicitly set in the removal to `DeleteDependents`.

 Add an init container to lumpy--koala (Which has been defined in spec file
/opt/kucc00100/p

[2019-03-24 00:41] jshakk opened #75636 "Istio apiserver: error"
**What happened**:
installed istio and created 3 deployments using istioctl kube-inject.
Apiserver status keeps changing between error, stopped and running state very frequently.

host: Running
kubelet: Running
apiserver: error

**What you expected to happen**:
expectation is to ensure curl commands works for the service that was exposed.
**How to reproduce it (as minimally and precisely as possib

[2019-03-24 00:50] maicohjf commented on #168
https://github.com/kubernetes/kubernetes/issues/168#issue-36096052

Schedule a Pod as follows:
 Name: nginx-kusc00101
 Image: nginx
 Node selector: disk=ssd

apiVersion: v1
kind: Pod
metadata:
    name: nginx-kusc00101
spec:
    containers:
        - name: nginx-kusc00101
           image: nginx
    nodeSelector:
           disk: ssd

kubectl create -f nginx-kusc00101.yaml

[2019-03-24 03:15] george-angel commented on #68939
/remove-lifecycle stale

[2019-03-24 07:02] maicohjf commented on #108
Create a file /opt/KUCC00302/kucc00302.txt that lists all pods that implement Service foo in
Namespace production.
The format of the file should be one pod name per line.

kubectl get svc -o wide -n production
得到label
kubectl get pod -l label=value |awk '{print $1}' |grep -v "NAME" >> /opt/KUCC00302/kucc00302.txt
kubectl get po -l label

[2019-03-24 07:07] maicohjf commented on #127
Create a Kubernetes Secret as follows:
 Name: super-secret
 Credential: alice or username: bob
Create a Pod named pod-secrets-via-file using the redis image which mounts a secret named
super-secret at /secrets
Create a second Pod named pod-secrets-via-env using the redis image, which exports credential
/ username as TOPSECRET / CREDENTIALS

kubectl create secret generic spuer-secret --from-liter

[2019-03-24 07:15] maicohjf commented on #19
15.
Check to see how many nodes are ready (not including nodes tainted NoSchedule) and write the
number to /opt/......

首先用kubectl get node 查看总共node 数量，然后kubectl describe node 查看
不包含污点值为NoSchedule 的node 数量

16.
From the Pod label name=cpu-utilizer, find pods running high CPU workloads and write the name
of the Pod consuming most CPU to the file /opt/...... (which already exists)

方法一：
通过kubectl ge

[2019-03-24 07:18] maicohjf commented on #386
17.
Create a deployment as follows
 Name: nginx-dns
 Exposed via a service: nginx-dns
 Ensure that the service & pod are accessible via their respective DNS records
 The container(s) within any Pod(s) running as a part of this deployment should use the nginx
image
Next, use the utility nslookup to look up the DNS records of the service & pod and write the
output to /opt/..../service.dns and /o

[2019-03-24 07:21] maicohjf commented on #75404
18.
Create a snapshot of the etcd instance running at https://127.0.0.1:2379 saving the snapshot to
the file path /data/backup/etcd-snapshot.db
The etcd instance is running etcd version 3.2.18
The following TLS certificates/key are supplied for connecting to the server with etcdctl
 CA certificate: /opt/KUCM00302/ca.crt
 Client certificate: /opt/KUCM00302/etcd-client.crt
 Client key: /opt/KUCM0

[2019-03-24 07:25] maicohjf commented on #75404
19.
Set the node labelled with name=ek8s-node-1 as unavailable and reschedule all the pods running
on it.

🙌
kubectl get node --show-labels |grep name=ek8s-node-1 #找出node
kubectl drain node ek8s-node-1
--NoExecute

[2019-03-24 07:27] maicohjf commented on #73960
20. S
A Kubernetes worker node, labelled with name=wk8s-node-0 is in state NotReady . Investigate
why this is the case, and perform any appropriate steps to bring the node to a Ready state,
ensuring that any changes are made permanent.
Hints:
 You can ssh to the failed node using $ ssh wk8s-node-0
 You can assume elevated privileges on the node with the following command $ sudo -i

😉

是kubelet 没

[2019-03-24 07:30] maicohjf commented on #73875
21.
Configure the kubelet systemd managed service, on the node labelled with name=wk8s-node-1,
to launch a Pod containing a single container of image nginx named myservice automatically. Any
spec files required should be placed in the /etc/kubernetes/manifests directory on the node.
Hints:
 You can ssh to the failed node using $ ssh wk8s-node-1
 You can assume elevated privileges on the node wit

[2019-03-24 07:34] maicohjf commented on #73880
😊
23.
Given a partially-functioning Kubenetes cluster, identify symptoms of failure on the cluster.
Determine the node, the failing service and take actions to bring up the failed service and restore
the health of the cluster. Ensure that any changes are made permanently.
The worker node in this cluster is labelled with name=bk8s-node-0
Hints:
 You can ssh to the relevant nodes using $ ssh $(NODE

[2019-03-24 07:58] iftachsc commented on #75594
Update: so after some few deletion the dns pods started to share load na be equal.
regardless we had an issue with Istio ServiceEntries where resolution: DNS was set and it created like 5500 dns queries, creating massiv load on kubedns that led to some resolve issues from tiem to time in the cluster, including when pulling images from external registry.

removing these solved the issue.

[2019-03-24 08:24] jlucktay commented on #68026
I'll put in a PR shortly for the `cmd/cloud-controller-manager/app/apis/config/v1alpha1` package

[2019-03-24 08:59] gwkunze commented on #72637
I'm not sure this belongs in this topic or not but what about other specific, generalizable subresources? One I can think of is something similar to the approval subresource of certificate signing requests. Together with the appropriate RBAC rules you could give permission for entities to create resources that require some form approval by other entities (automated or human)?

[2019-03-24 09:14] wojtek-t commented on #75495
@krmayankk - I mean loadbalancer in GCP as an example (but can also be other load balancer, persistent volumes in cloud or things like that).
Yes - we resync on k8s objects, but that that let's you sync those. As an example - imagine service of type LoadBalancer - if you're periodically syncing the k8s service object, this triggers the operation of syncing the load-balancer (and we have an ability

[2019-03-24 10:21] #74271 closed

[2019-03-24 10:26] jlucktay commented on #68026
Looking at `cmd/kube-controller-manager/app` next

[2019-03-24 12:07] fengdage1 opened #75642 "why my webUI display like this?"
<img src="https://i.loli.net/2019/03/24/5c9772da069a9.png"/>

[2019-03-24 12:30] likakuli commented on #75495
@wojtek-t The default resync period is 12~24 hours. It is long but the bad experience will still happen every day.

[2019-03-24 12:57] alejandrox1 opened #75643 "[Failing Test] [sig-storage] subPath should unmount if pod is gracefully deleted while kubelet is down"
**Which jobs are failing**:
`ci-kubernetes-e2e-gce-cos-k8sbeta-serial` - 1.14-blocking/gce-cos-1.14-serial
`ci-kubernetes-e2e-gce-new-master-upgrade-cluster` - master-upgrade/gce-new-master-upgrade-cluster

**Which test(s) are failing**:
`[sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is d

[2019-03-24 12:59] alejandrox1 commented on #75643
/cc @kubernetes/sig-storage-bugs

[2019-03-24 13:34] fengdage1 opened #75644 "why my dashboard display like this?"
<img src="https://i.loli.net/2019/03/24/5c978774093e7.png"/>

[2019-03-24 13:43] mattjmcnaughton commented on #75636
Hi - thanks so much for your question @jshakk :)

I think you may have better luck debugging your problem if you create your issue on the [Istio](https://github.com/istio/istio) project. From your description, it sounds as if the problem is occurring at the Istio level.

[2019-03-24 13:45] mattjmcnaughton commented on #75625
Thanks for reporting @gitplyx :)

Could you please feel out the bug report issue template? I think that'll provide some important data to start the investigation.

==== TEMPLATE ======

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl vers

[2019-03-24 13:58] mattjmcnaughton commented on #75617
I'm not sure the urgency of this fix, but if its not super urgent, I would love to pick it up, if there's an eng more experienced with the scheduler who could give me some initial guidance :)

[2019-03-24 14:16] jonfriesen commented on #68026
hi @jlucktay thanks! there is a spreadsheet here that tracks the progress on fixing these issues, consider adding the packages you're work on there so we can keep everything organized :+1:
https://docs.google.com/spreadsheets/d/1VhU6zCk-vaAnbu_XkgsIq5I7jVnezUquWBMhcIN6AJM/edit#gid=0

[2019-03-24 14:25] mattjmcnaughton commented on #75608
/sig testing

[2019-03-24 14:30] mattjmcnaughton commented on #75607
@pulpbill thanks for posting.

In addition (or maybe instead of) this issue, I'd also recommend opening an issue on the [Kops](https://github.com/kubernetes/kops/issues) project. My guess is they'll have the most direct expertise for debugging these types of issues.

[2019-03-24 14:31] mattjmcnaughton commented on #75606
@vasiliyb thanks for posting!

Can you please add steps to reproduce the issue and also what you expected to happen. I think that'll give us a good starting point for debugging.

[2019-03-24 14:39] mattjmcnaughton commented on #75608
@oomichi thoughts on how to best solve this?

I have two thoughts. One option is that we could pipe stderr for the scp command to /dev/null. That would guarantee we never see issues arising from the scp command. However, I'm concerned it could swallow meaningful errors.

Another option is we could apply a filter to the files that we try and scp, so that we're only scp'ing files that actually exist

[2019-03-24 14:39] mattjmcnaughton commented on #75608
For those interested, the relevant code is in `cluster/log-dump/log-dump.sh`. Particularly the `copy-logs-from-node` function.

[2019-03-24 14:43] pulpbill commented on #75607
Kops do all this work.

[2019-03-24 14:44] mattjmcnaughton commented on #75603
@xingzhou @thockin - thoughts on trying to revive https://github.com/kubernetes/kubernetes/pull/35678.

If I'm understanding correctly, it sounds like users who have setup policies requiring all containers to have `RunAsUser` are unable to use `kubectl run` without this feature. To me, thats' a compelling reason to add it.

[2019-03-24 14:47] pulpbill commented on #75607
Thanks, I'll do that, I'm trying to find something in the logs more specific but couldn't.

[2019-03-24 15:01] MatonAnthony commented on #15863
Hello, I am interested to work on this.

As far as my understanding goes, there is two issues here:
1. Fixing existing cases
2. Write a script that could be added to CI to ensure compliance with this convention.

While the first issue seems easy enough to approach (but quite long), I don't really know how to approach the second one properly.

Does anyone have an idea about how this should be appro

[2019-03-24 15:03] mattjmcnaughton commented on #75589
Thanks for reporting @nerusnayleinad !

Could you give the output of `kubectl describe pod PODNAME`?

I'd also be curious to know if this happens if you use some source of randomness other than `date`. For example, what happens if you use `$RANDOM`? Do you get a different value every time?

[2019-03-24 15:50] pswica commented on #75607
I see. I do think it's a good idea to ask that project. I only asked because I setup a few clusters by hand or with kubeadm, and I ran into a similar issue that was resolved by setting the kubelet.service --node-ip parameter. This was because I had two interfaces and this was mixing things up.

[2019-03-24 16:56] jwforres commented on #66538
/remove-lifecycle rotten

would still like to see this for improved CLI UX around CRDS

[2019-03-24 17:35] neolit123 commented on #75601
/area e2e-test-framework

[2019-03-24 17:35] neolit123 commented on #75604
/area e2e-test-framework

[2019-03-24 17:48] neolit123 commented on #75635
/sig scheduling

[2019-03-24 17:49] neolit123 commented on #75636
+1
/close

[2019-03-24 17:49] #75636 closed

[2019-03-24 17:51] neolit123 commented on #75642
/close
please re-open this issue once you provide more details. thanks.

[2019-03-24 17:51] #75642 closed

[2019-03-24 17:51] neolit123 commented on #75644
/sig ui
please provide kubernetes/dashboard version, browser and OS version.
thanks.

[2019-03-24 17:52] neolit123 commented on #75644
/remove-kind failing-test
/kind bug

[2019-03-24 17:56] neolit123 commented on #75607
minimum supported k8s version is 1.12.0. 1.8.4. is not supported.
please update.

Version 1.11.0 (git-2c2042465)

you can report in the kops issue tracker, but as mentioned above, this k8s version is old and unsupported.

/close

[2019-03-24 17:56] #75607 closed

[2019-03-24 20:43] rdrgporto commented on #59959
Hi, @moluzhui

I think that this kind of issue is related to proxy. Are the machine behind a proxy?

Regards

[2019-03-24 21:02] aojea commented on #75575
@gouki777 I think that the answer is in this function https://github.com/kubernetes/kubernetes/blob/155688b2f3521ffa913766086ab436eaae81639b/cmd/kube-proxy/app/server.go#L689 that explains how kube-proxy gets the nf_conntrack_max parameter.

Per your example, the servers with 8 CPU will have a conntrack_max of 8*65535 = 524280 that´s lower than the min: 655350, hence `Setting nf_conntrack_max to 6

[2019-03-24 21:20] rodrigopmatias commented on #74262
downgrand not work for me.

[2019-03-24 23:51] nikopen commented on #75643
https://github.com/kubernetes/kubernetes/issues/75345
https://github.com/kubernetes/kubernetes/pull/75458

related?

[2019-03-25 00:06] nelsonjr opened #75647 "Uncoordinated ELB vs. RollingUpdate causes service outage"
**What happened**:

When an application with an ELB is upgraded, even with RollingUpdate an outage happens.

**What you expected to happen**:

No service interruption: Before existing pods gets recycled for new pods be registered with ELB, and old pods are removed from ELB.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a service with `type: LoadBalancer` (I used AWS

[2019-03-25 00:08] nelsonjr commented on #75647
@kubernetes/sig-aws-bugs

[2019-03-25 00:27] alejandrox1 commented on #75643
Will check in again on this, just downgrading the priority for right now
/remove-priority critical
/priority important-soon
/remove-kind failing-test
/kind flake

[2019-03-25 00:52] ffledgling commented on #19764
@thockin what would implementing this take? I saw you mention in one of the related issues that it's technically hard to do.

[2019-03-25 01:36] zhangguanzhang commented on #75443
[code]

[2019-03-25 01:50] gaocegege commented on #52757
@cheyang @wsxiaozhang

Thanks for your awesome work! I also have some questions about it. I think we are trying to use GPU sharing in DL/ML model serving workloads, thus I am a little comfuing why we need basic model training experience in your GSoC project.

Are you trying to share GPUs during DL training?

I'd appreciate it if you could answer me, thanks.

[2019-03-25 02:50] yittg opened #75652 "pv-controller:miss check node affinity when selected-node set"
**What happened**:
pvc bound to a volume not match the node affinity

**What you expected to happen**:
check node affinity if selected-node set

**How to reproduce it (as minimally and precisely as possible)**:
with a existed persistent volume with affinity to Node-A;
pod require a persistent volume claim(with provisioner, wait for first consumer mode) sheduled to node-B;
then persistent volume cl

[2019-03-25 02:50] yittg commented on #75652
/sig storage

[2019-03-25 02:53] yittg commented on #75652
Maybe we should change the `findBestMatchForClaim` signature by adding a node parameter like following:
[code]

[2019-03-25 02:59] lovejoy commented on #45509
I'd like add a pr to support this feature: you need to annotation the pod which you want to delete when scale down a deployment.

[2019-03-25 03:11] konghui commented on #75287
I find the problem, I add a iptables rules:

[code]
it works now.

[2019-03-25 03:12] #75287 closed

[2019-03-25 03:19] draveness commented on #64623
Hi @luisdavim, do we still need to support this feature? Maybe I could submit a PR to add `OnFailure` policy to `DeamonSet`.

[2019-03-25 03:21] yittg commented on #75652
More detail about reproduce, and **existed pv is not required**
a more normal progress is
1. pod require a pvc scheduled to a node
2. pv create with affinity to another node(for some reason, like two pv required by different pod)
3. pvc will bound to pv create in 2.

configuration file like following:
[code]

[2019-03-25 03:33] alejandrox1 opened #75653 "ci-kuberentes-verify and pull-kubernetes-verify are failing in master, 1.13, 1.14"
**Which jobs are failing**:
`ci-kubernetes-verify-beta`

**Which test(s) are failing**:
`verify.godeps` [kubernetes-jenkins/logs/ci-kubernetes-verify-beta/4647](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-beta/4647)

**Since when has it been failing**:
Test has been failing since 3/24, at 9:19

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.14-blocking#verif

[2019-03-25 03:34] alejandrox1 commented on #75653
Adding sig-testing until someone claims it
/sig testing

[2019-03-25 04:12] alejandrox1 commented on #75653
The Godeps.json file specifies both a version and a SHA commit.
For [go-openapi/jsonpointer/releases](https://github.com/go-openapi/jsonpointer/releases) the hash `ef5f0afec364d3b9396b7b77b43dbe26bf1f8004` is the same for releases v0.17.0 through v0.19.0.

The same goes for [go-openapi/jsonreference/releases](https://github.com/go-openapi/jsonreference/releases). The hash `8483a886a90412cd6858df4e

[2019-03-25 04:38] alejandrox1 commented on #75653
I think this is the presubmit job that corresponds to #75656 https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-godeps/4043
So just waiting to see if it works (runtime about an hour)

[2019-03-25 04:51] mbohlool commented on #62326
I think this still needs to be resolved for GA.

/remove-lifecycle rotten
/reopen

[2019-03-25 04:51] mbohlool commented on #68998
/remove-lifecycle rotten

[2019-03-25 05:48] alejandrox1 commented on #75653
Forgot to mention that this also needs to be fixed in master

[2019-03-25 05:58] krmayankk commented on #65732
/remove-lifecycle rotten

[2019-03-25 05:59] krmayankk commented on #65732
We just witnessed this with a large number of pods ~16K in 1.9.7 and etcd 2. What mitigations are being planned in the core apiserver code to handler this ?

[2019-03-25 06:15] foxish opened #75660 "gce-cos-1.11-ingress blocking test failure"
**Which jobs are failing**: https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-cos-1.11-ingress&width=20

**Which test(s) are failing**:
[code]

**Since when has it been failing**: a while

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-cos-1.11-ingress&width=20

**Reason for failure**: Feature tests suddenly enabled

cc @kubernetes/sig-network-bugs

[2019-03-25 06:19] foxish commented on #75660
Need to disable the `[Feature]` test in this suite. cc @kubernetes/test-infra-maintainers

[2019-03-25 06:28] andyzhangx commented on #75548
Update:
This is a regression in VMSS RP level, there is not disk size limit for Low-Priority VMSS instances.

[2019-03-25 06:36] draveness commented on #75617
I dug into the source code, and find out `CachedNodeInfo` is used by the scheduler and kubelet. Maybe we could change the internal struct of `CachedNodeInfo`, but I do not know why it appears in kubelet which seems irrelevant to the scheduler.

[2019-03-25 06:42] subrnath commented on #64309
Hi,

Before kubeadm join, please reserve the hugepage with the following command
-
echo 4096 >
/sys/devices/system/node/node0/hugepages/hugepages-2048kB/nr_hugepages.

Please note, we find problem if there is two NUMA in the server and we do
reserve in both the NUMAs. In that case, it's not guaranteed during Pod
startup which NUMA the hugepage is taken. For the DPDK like application,
it's a proble

[2019-03-25 07:26] jlucktay commented on #68026
Starting on `pkg/auth/authorizer/abac` now

[2019-03-25 07:54] starsy commented on #56903
Just want to put down a record here. By adding
`options single-request`
to resolv.conf resolved the problem for us in K8S production.

I would think the option "single-request' better fits the problem scenario than "single-request-reopen", but anyway you can try either one see whether it works for you.

[2019-03-25 07:58] Quentin-M commented on #56903
Again, only works if you use images that rely on glibc. If so, great.

--
Quentin Machu

On March 25, 2019 at 00:56:00, starsy (notifications@github.com) wrote:

[2019-03-25 08:17] blepoutr commented on #64743
Hello @amaurer

For now , we do not see this issue as we see another one (https://github.com/weaveworks/weave/issues/3598) when upgrading to Kernel from 4.20.8-1 to 4.20.12-1

[2019-03-25 08:26] BSWANG commented on #75441
Sometimes, GCManager destroy sandbox container during the CNI setup progress. The network resources can not cleanup due sandbox path can not `nsenter` to do resource rollback.

The cni events like below, Then the host will retain a orphaned `veth pair` and an `exited(137)` pod:
[code]

[2019-03-25 08:43] xujihui1985 commented on #75357
ping @kubernetes/sig-node-proposals

[2019-03-25 08:50] jcperezamin commented on #56903
On bare metal K8S I fixed using https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0030-nodelocal-dns-cache.md
Kubernetes: 13.3

[2019-03-25 08:56] andyzhangx commented on #75379
I tried on following windows cluster by aks-engine, `imagePullSecrets` works well:
[code]

[code]

[code]

[2019-03-25 08:58] andyzhangx commented on #75379
could you paste the error logs by `kubectl describe po POD-NAME`

[2019-03-25 08:59] wxyongcn opened #75663 "Lots of error logs are observed on host system /var/log/message"
in /pkg/kubelet/cm/cpumanager/cpu_manager.go

func (m *manager) reconcileState() (success []reconciledContainer, failure []reconciledContainer) {
	success = []reconciledContainer{}
	failure = []reconciledContainer{}

	activeContainers := make(map[string]*v1.Pod)

	for _, pod := range m.activePods() {
		allContainers := pod.Spec.InitContainers
		allContainers = append(allContainers, pod.Spec.Contai

[2019-03-25 08:59] akarasik commented on #75477
Can you set it to false?
This is the configuration that causes the issues.

[2019-03-25 09:09] wxyongcn commented on #75663
/sig stroage

[2019-03-25 09:37] jlucktay commented on #68026
I did indeed see the Google Sheet link (thank you @jonfriesen!) and [hacked something together](https://github.com/jlucktay/kube-golint-todo) to take it a little further 😬

[2019-03-25 09:49] fredkan commented on #70013
Expect there is a common solution for this issue.

One workaround: https://github.com/AliyunContainerService/csi-plugin/blob/master/docs/oss-upgrade.md

[2019-03-25 10:01] wojtek-t commented on #75509
This is pretty stable since the fix was merged.

[2019-03-25 10:01] #75509 closed

[2019-03-25 10:12] Dabbeeru commented on #75592
Hi

This valid yamil as your link i was just checked but still am getting error

error: Error loading config file "/home/ec2-user/.kube/config-devopsage": v1.Config: Clusters: []v1.NamedCluster: v1.NamedCluster: Cluster: v1.Cluster: Server: CertificateA uthorityData: decode base64: illegal base64 data at input byte 0, error found in #10 byte of ...\|Qo=\u003e","server":\|..., bigger context ...\|k

[2019-03-25 10:15] mariantalla commented on #75653
Thanks for monitoring it so closely and for preparing the fixes @alejandrox1 💥

I think https://github.com/kubernetes/kubernetes/pull/75659 and a cherry-pick to the `v1.14` branch make sense. I'd rather hold onto merging them until after we've released later today (🤞), especially for 1.14. My reasoning is that we've seen the tests stable with v0.18 of both dependencies for quite a while. The chang

[2019-03-25 10:44] xiaoping378 commented on #24873
example:  generate pv yaml.
[code]

[2019-03-25 10:50] oxddr commented on #75541
Here is the command that was used. After setting variables the command works fine, otherwise it fails.

[code]

[2019-03-25 10:51] mariantalla commented on #75653
Hm, looking at it a bit more, there's no real change between the 2 releases:
https://github.com/go-openapi/jsonpointer/compare/v0.19.0...v0.18.0
https://github.com/go-openapi/jsonreference/compare/v0.19.0...v0.18.0

<img width="308" alt="Screen Shot 2019-03-25 at 10 37 11" src="https://user-images.githubusercontent.com/5007973/54913108-f9fd8a00-4ee9-11e9-8a66-0cb9e42cd93a.png">

A [new version](ht

[2019-03-25 10:58] 4m3ndy commented on #24873
@xiaoping378
https://github.com/ambient-innovation/k8s-backup/blob/01c1bfe750136648fd91e14dd691ba39bb05f282/k8s-backup.sh#L38

This script should generate all pvc for each namespace then export the yaml file for each pv, have a look

[2019-03-25 10:58] nerusnayleinad commented on #75589
I had a typo in the deployment that was silently creating it, but wouldn't execute the command. Sorry...closing the issue.

[2019-03-25 10:58] #75589 closed

[2019-03-25 11:03] gtie commented on #72157
As feedback in case anyone stumbles across it, the issue was caused by occasional failures of Kubelet to report its health status. When a node becomes `NotReady`, all pods on it  also go `Ready = False`

[2019-03-25 11:03] #72157 closed

[2019-03-25 11:09] #70181 closed

[2019-03-25 11:26] rgembalik commented on #75401
Any help or suggestions on how can I further investigate the issue? It would be of great help, as last weekend the issue appeared again, and this time a node restart was required because kubelet and docker never recovered after the load was reduced.

[2019-03-25 11:46] mrbobbytables commented on #75644
@fengdage1 If you could, please post your [issue in the kubernetes/dashboard project](https://github.com/kubernetes/dashboard/issues/new/choose). The dashboard is not managed under the main kubernetes repo.

Thanks!

/close

[2019-03-25 11:46] #75644 closed

[2019-03-25 12:09] excavador commented on #30189
What the status of the issue? This is so annoying behaviour

[2019-03-25 12:10] moluzhui commented on #59959
I'm a student in China，But I use vnp to install it. Is there something wrong with my vpn?

[2019-03-25 12:30] mariantalla opened #75666 "[Flaky test] Volume metrics should create prometheus metrics for volume provisioning and attach/detach"
**Which jobs are flaking**:
`ci-kubernetes-e2e-gce-cos-k8sbeta-serial` ([testgrid](https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-serial)) ([triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gce-cos-k8sbeta-serial%24&test=Volume%20metrics%20should%20create%20prometheus%20metrics%20for%20volume%20provisioning%20and%20attach%2Fdetach))

**W

[2019-03-25 12:30] mariantalla commented on #75666
/remove-kind failing-test

[2019-03-25 12:45] mattjmcnaughton commented on #75541
Thanks! One other request - could you post the logs for the error you're seeing?

[2019-03-25 12:49] Gitwangshuo opened #75667 "kubelet start meet errors when I set cgroup-root parameters"
**What happened**:
1: I have edit the /etc/cgconfig.conf  for my product enviroment
2: There are 32 hyperthreads cpus on the host,One process binds two CPUs and we sets the exclusivity of the cpu. Other processes cannot use these two cpus. The avaliable cgroup-root is  /system
[code]
3: I start kubelet and add cgconfig parametes
[code]
``
**What you expected to happen**:
then the error shows:
2019

[2019-03-25 12:54] mattjmcnaughton commented on #75663
Thanks for your question @wxyongcn.

I'm curious about the frequency with which you're seeing this log message. I.e. are you still seeing it when you expect that your container has finished initialization? Or is it taking a very long time for your container to initialize?

Regardless, if you are concerned about the size of `/var/log/message`, I think I'd recommend applying some form of log rotatio

[2019-03-25 13:13] ddebrecenijr commented on #75379
I removed the cluster and created a full Linux cluster instead to move forward with what I had to do.  That being said I'm still interested in figuring this out.
I think my original issue may have not been descriptive enough, but it looks like you are using a docker hosted registry? I was hosting the registry myself with resolvable DNS (I could access it from local machines).
The error I remember

[2019-03-25 13:15] mattjmcnaughton commented on #75647
@nelsonjr thanks for reporting!

If I'm reading your bug report correctly, it looks like you are using v1.9.1. This minor version is no longer supported. As a first step in debugging, could you please upgrade to a supported version? Kubernetes supports the last three minor release versions (i.e. 1.11, 1.12, 1.13 - although 1.14 is being released soon). (As a side benefit, updating will address som

[2019-03-25 13:19] mattjmcnaughton commented on #75635
I'd love to take a stab at implementing this if its open for claiming :)

[2019-03-25 13:38] dannyk81 commented on #67577
@mariusgrigoriu I seem to be stuck in the same conundrum you described here https://github.com/kubernetes/kubernetes/issues/67577#issuecomment-462534360.

We observe CPU throttling on Pods in Guaranteed QoS class with CPUManager static policy (which doesn't seem to make any sense).

Removing the `limits` for these Pods will put them in Burstable QoS class, which is not what we want, so the only op

[2019-03-25 13:38] HariSekhon commented on #75603
Correct, I am unable to `kubectl run` on our kubernetes cluster which has a security policy of requiring `RunAsUser`.

[2019-03-25 13:39] andyzhangx commented on #75379
@ddebrecenijr K8s on Windows should support private registry, you could follow the same way as I do. The key point is set `docker-server` as your private registry domain name:
[code]
[aks-engine](https://github.com/Azure/aks-engine) is a tool to deploy k8s on Azure, it could provision both Linux and Windows nodes.

[2019-03-25 13:41] ncdc commented on #72637
cc @pbarker

[2019-03-25 13:42] liggitt commented on #75653
godeps adds comments that correspond to the latest tag for the referenced sha. that means a new tag on the same sha broke our CI verification, so we need to update the generated Godep file. there are no code or content changes associated with the bump, so the contents of `vendor` will not change.

[2019-03-25 13:46] lbernail commented on #75238
We have be running containerd with IPVS for about a year without any issue
- kube-proxy : 1.11 mostly
- containerd: 1.1.x and 1.2.x (I just checked on an instance running 1.2.5)
- kubelet 1.10.x and 1.13.x

I just checked on a node with this combination, everything looked ok:
- kubelet 1.13.4
- containerd 1.2.4
- kube-proxy 1.11 (we haven't updated yet to 1.13 due to a few issues with graceful ter

[2019-03-25 13:55] rdrgporto commented on #59959
Hi, @moluzhui

You should try on a machine without VPN in order to be sure.

Regards

[2019-03-25 13:56] ddebrecenijr commented on #75379
I will try it out and see how it goes. Thank you.

[2019-03-25 14:17] adelina-t opened #75669 "[Bug] make WHAT="targets1 target2 ... " fails."
**What happened**:

Trying to build tests with command:

`make WHAT="./test/e2e/e2e.test ./vendor/github.com/onsi/ginkgo/ginkgo"`

fails with error:

[code]

**Anything else we need to know?**:

Debugging the issue, I've noticed that the `go install ` command in `kube::golang::build_some_binaries(...)` gets called with an extra `' '`:

`go install -gcflags ' -trimpath=/Users/atuvenie/workspace/go_

[2019-03-25 14:18] dannyk81 commented on #70585
@Wenfeng-GAO it seems that this should be labelled as bug and not a feature :smile:

as mentioned by @mariusgrigoriu and @zaa, CPUManager's documentation suggests that Pods with pinned CPUs should *not* be bound to CPU quotas, however it is quite clear that they are, which seems wrong.

We keep getting hit by cpu throttling on Guaranteed QoS Pods with pinned CPUs, which is totally counter-producti

[2019-03-25 14:27] oxddr commented on #75541
Sure, thing. I'll try to come back with error message later today.
Jan Łukaszewicz | Software Engineer | janluk@google.com

On Mon, Mar 25, 2019 at 1:46 PM Matt McNaughton <notifications@github.com>
wrote:

[2019-03-25 14:35] mariantalla commented on #75355
Interesting, could well be the case 🤔Is there a way to validate that? And, is there something here we should raise in terms of performance/scalability (e.g. "update latency varies with pod load")?

[2019-03-25 14:36] mariusgrigoriu commented on #67577
Upgrading the kernel definitely helps, but the behavior of applying a CFS quota still seems out of alignment with what the docs suggest.

[2019-03-25 14:48] chrisohaver commented on #75625
Please also wrap log output with triple backticks when pasting them into an issue, to retain monospaced whitespacing and make them easier to read. e.g.

[code]

which is significantly easier to read than...

Events:
  Type     Reason            Age               From               Message
  ----     ------            ----              ----               -------
  Warning  FailedScheduling  2s (x6

[2019-03-25 15:01] spiffxp commented on #75669
/sig release
/priority critical urgent

[2019-03-25 15:26] mm4tt commented on #74213
For the first kind of the failure that kubemark-500 suffered from, i.e.

[code]

the root cause is
[code]

Looks like the token for the "prometheus-operator" service account was not ready, as we can see in the logs it was created after the POST to create the servicemonitor was called.

[2019-03-25 15:27] praseodym commented on #75236
I've created cherry pick PRs to fix this in v1.11, v1.12 and v1.13 as well:
v1.11: #75671
v1.12: #75672
v1.13: #75673

[2019-03-25 15:28] sashayakovtseva commented on #75549
Any updates on this issue?

[2019-03-25 15:37] aermakov-zalando opened #75674 "Cronjob: include lastSuccessfulTime in the status"
**What would you like to be added**:

Cronjob `status` should include the last time when a job was successfully completed.

**Why is this needed**:

Currently, a Cronjob's `status` only includes the last time when a job was scheduled. This makes monitoring cronjobs much more complicated, because instead of simply comparing `status.lastSuccessfulTime` to the current timestamp, the monitoring system

[2019-03-25 15:38] pswica commented on #75592
It may be that your .yaml file has hidden characters in it. Was this .yaml file transferred between OSes? Try copying the files into a plain text editor and trying again.

[2019-03-25 15:44] aermakov-zalando commented on #75674
@kubernetes/sig-apps-feature-requests

[2019-03-25 15:54] dannyk81 commented on #67577
Thanks @mariusgrigoriu, we are going for the kernel upgrade and hope that will help somewhat, also check out https://github.com/kubernetes/kubernetes/issues/70585 - it seems that quotas **are** indeed set for guaranteed pods with cpuset (i.e. pinned cpus), so this seems like a bug to me.

[2019-03-25 15:55] BenTheElder commented on #27796
/remove-lifecycle stale
/lifecycle frozen

[2019-03-25 15:58] praseodym commented on #70585
/kind bug

[2019-03-25 15:59] BenTheElder commented on #75660
why wouldn't an "ingress" job test `[Feature:Ingress]`? :upside_down_face:

[2019-03-25 16:10] dannyk81 commented on #70585
FYI @ConnorDoyle

I came across your comment here https://github.com/kubernetes/kubernetes/issues/51135#issuecomment-345768456 (from a while back) and it seems that this contradicts what you've mentioned in that post.

Figured you've may be interested to weigh in.

[2019-03-25 16:14] vinsguru opened #75676 "Egress rule does not work - Weave"
Egress rules do not seem to work as expected. Lets follow the steps to replicate this issue.

Lets run 2 different nginx deployments

[code]

Lets expose them as 2 different services

[code]

Lets create a simple pod to play with our deployment

`kubectl run alpine --image=alpine --restart=Never --command 'sleep' '3600'`

Lets create a network policy as shown here for the alpine we had just create

[2019-03-25 16:25] vinsguru commented on #75676
/sig network

[2019-03-25 16:55] raravena80 commented on #70387
/remove-lifecycle rotten

[2019-03-25 17:01] ronLloydNice commented on #37471
Windows Users: use "Windows PowerShell", not "GitBash"

[2019-03-25 17:04] MrHohn commented on #73300
Re-assigning as the fix (https://github.com/kubernetes/kubernetes/pull/74341) is pending on @m1093782566's approval.
/assign @m1093782566
/unassign

(Removing `triage/unresolved` as this seems to be a real bug.)
/remove-triage unresolved

[2019-03-25 17:14] spiffxp commented on #75653
This is affecting all PR's against master as well: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-godeps

[2019-03-25 17:22] zhouhaibing089 opened #75677 "Can not set watch cache size specifically for Custom Resource"
**What would you like to be added**:

We should be able to configure watch cache size for an API group specifically defined by CRD.

**Why is this needed**:

Watch cache size should be a tunable variable for custom resource. A lower value may break the watch when there are  a bunch of instances and a lot of updates. That's how `too old resource version` arises generally.

1. A list call may take f

[2019-03-25 17:23] zhouhaibing089 commented on #75677
/sig api-machinery

[2019-03-25 17:23] zhouhaibing089 commented on #75677
cc @sttts

[2019-03-25 17:39] mm4tt commented on #74213
It looks like the second failure (kubemark-5000) was caused by the prometheus-k8s pods not scheduled by the kube-scheduler.
This is strange but may be related to other issues we had. Hard to investigate what really happened there, will leave it for now.
Will re-enable prometheus tomorrow and will see if it happens again.

[2019-03-25 17:41] bart0sh opened #75679 "k8s build is broken on MacOS High Sierra"
**What happened**:

Kubernetes build breaks on MacOS High Sierra:

[code]

The issue was triggered by PR https://github.com/kubernetes/kubernetes/pull/75158

**What you expected to happen**:

build should succeed

**How to reproduce it (as minimally and precisely as possible)**:
- Reset k8s source tree to the latest master
- Run ```make``` on macOS Sierra

**Anything else we need to know?**:

Here

[2019-03-25 17:51] praseodym commented on #70585
In theory setting CPU CFS quota for CPU pinned pods should not affect performance, but in practice it does cause performance degradation due to the (buggy) way that CFS  in the Linux kernel.

I think the best fix would be to unset any CPU CFS quota from the pod in the CPU manager when reserved CPUs (CPU sets) are assigned.

[2019-03-25 17:53] dashpole commented on #75355
That is a well-known result of the rate limiting of the kubelet.  The kubelet can only send 5 qps of updates to the API Server, so the kubelet is limited in its ability to update statuses when there are lots of updates to send, which occurs when there is high pod churn.

[2019-03-25 17:55] bart0sh commented on #75679
/sig testing

[2019-03-25 18:01] bart0sh commented on #75679
/cc @bentheelder @k-toyoda-pi @oomichi

[2019-03-25 18:35] dgoodwin commented on #65973
:+1: I think this would be a very high value and logical feature to support. We've done the webhook path and indeed it was a big investment, and feels disproportionately heavy handed. All we've needed to use it for thus far was making fields immutable once set.

[2019-03-25 18:41] dannyk81 commented on #67577
@chiluk could you elaborate a bit? do you mean that the patch that was included in 4.18 (mentioned above in https://github.com/kubernetes/kubernetes/issues/67577#issuecomment-466609030) doesn't actually solve the issue?

[2019-03-25 18:41] dannyk81 commented on #70585
Thanks @praseodym!

Totally agree, unseting the quota for Pods with cpusets seems like the best solution.

Regarding the Kernel, it seems that a recent patch (included in 4.18) should solve the issue --> https://github.com/kubernetes/kubernetes/issues/67577#issuecomment-466609030

OTOH, this comment --> https://github.com/kubernetes/kubernetes/issues/67577#issuecomment-476228770 is a bit confusing

[2019-03-25 18:42] pjh commented on #75561
Thanks @madhanrm.

This is the way that we set up load balancing on GCE (docs [here](https://cloud.google.com/load-balancing/docs/network/) and [here](https://cloud.google.com/load-balancing/docs/network/setting-up-network#configure_the_load_balancing_service)). My understanding is that if we simply skipped adding the external IP on the host interface, then load-balanced packets with that IP as th

[2019-03-25 18:58] chiluk commented on #67577
The 512ac99 kernel patch fixes an issue for some people, but caused an issue for our configurations. The patch fixed the way time slices are distributed amongst cfs_rq, in that they now correctly expire.  Previously they would not expire.

Java workloads in particular on high core-count machines now see high amounts of throttling with low cpu usage because of the blocking worker threads. Those thr

[2019-03-25 19:01] jingxu97 commented on #75643
I think the PR #75345 I opened is related to this. It should be merged soon.

[2019-03-25 19:07] tiurikov opened #75681 "apt installation of kubeadm fails: Depends: kubelet (>= 1.6.0) but it is not going to be installed"
**What happened**:
Installation of the kubeadm using apt fails

**What you expected to happen**:
Successful installation of the kubeadm package

**How to reproduce it (as minimally and precisely as possible)**:
[code]
result:
[code]
**Environment**:
- OS (e.g: `cat /etc/os-release`):
[code]

[2019-03-25 19:10] #74888 closed

[2019-03-25 19:13] madhanrm commented on #75561
@pjh  Am reading the docs now.
Am trying to find out if this is even required, since Windows Kubeproxy is supposed to program a PolicyList for that IP <35.224.254.87> (when 35.224.254.87 is used as an external IP for a kubernetes service). Now when any packet destined to this VM, with destination IP as 35.224.254.87 hits the hostVnic, it would not be delivered to the host, rather it would be autom

[2019-03-25 19:13] madhanrm commented on #75561
You can execute https://raw.githubusercontent.com/Microsoft/SDN/master/Kubernetes/windows/debug/collectlogs.ps1 and look at policy.txt file to see if a policy is programmed for the specified external IP.

[2019-03-25 19:15] luisdavim commented on #64623
Sure, for now I've a workaround using metacontroller and a CRD but having this being supported natively would be great.

[2019-03-25 19:16] #70116 closed

[2019-03-25 19:19] pjh commented on #75561
No, I haven't but I'll try that as a workaround as well. I'll let you know what I find.

[2019-03-25 19:23] chiluk commented on #70585
512ac99 may resolve the issue in this thread, and assuming things are all correctly pinned and cgrouped the issue I discuss in the other bug due to 512ac99 should not be in play.

[2019-03-25 19:23] madhanrm commented on #75561
Setting IPAddress might be required only for cases, where you are exposing a public / external IP to your VMs ( I still need to find out how this would be handled by HNS) .
We do not need that for Services that are running on the VMs. This is taken care by Kubeproxy ,HNS & VFP.

[2019-03-25 19:25] #75681 closed

[2019-03-25 19:27] praseodym commented on #70585
That's good to know!

This issue will still need some work to align the implemented behaviour with the documentation ("CFS quota is not used to bound the CPU usage of these containers as their usage is bound by the scheduling domain itself.") or vice versa.

[2019-03-25 19:33] alejandrox1 commented on #75653
/reopen

[2019-03-25 19:34] dannyk81 commented on #70585
Thanks @chiluk, just read your comment on the other thread (https://github.com/kubernetes/kubernetes/issues/67577#issuecomment-476333869) and to be honest this seems a bit worrying as we might actually hit this if we go for >4.18 kernels.

We are using 48-core bare-metals for our worker servers and also deploy java (and php) workloads in various sizes.

So, although this might help in the case of

[2019-03-25 19:53] davejrt commented on #75681
Any reason this got closed? I am having the same issue

[2019-03-25 19:55] mikedanese commented on #75551
Thanks. I'll take a look.

[2019-03-25 20:03] tiurikov commented on #75681
Just suddenly started working for me again. Please reopen if it is still reproducible.

[2019-03-25 20:11] davejrt opened #75683 "kubelet : Depends: kubernetes-cni (= 0.6.0) but 0.7.5-00 is to be installed"
**What happened**:

Installing kubelet package on ubuntu 16.04 fails due to dependency issue with kubernetes-cni

**What you expected to happen**:

To be able to install kubelet and have any upstream dependencies managed

**How to reproduce it (as minimally and precisely as possible)**:

[code]
[code]

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`

[2019-03-25 20:12] empath commented on #75681
still not working for me

[2019-03-25 20:13] davejrt commented on #75683
/sig release

[2019-03-25 20:15] davejrt commented on #75681
I have opened another issue tracking this here #75683

[2019-03-25 20:28] liggitt commented on #75568
correct, what kubectl resolves is driven by discovery. the recommendation would be to avoid creating two resources with conflicting names one of which is not listable

/close

[2019-03-25 20:28] #75568 closed

[2019-03-25 20:31] liggitt commented on #75552
this is intentional, and is done here:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/clientcmd/loader.go#L494-L513

it ensures that file references in the same directory (or below) are relative, so the entire directory can be moved elsewhere and still function

file references in other directories (that would require backsteps to relativize) are reference

[2019-03-25 20:32] JanMatas opened #75686 "Intermittent failure of volume mount"
Hi everyone!
**What happened**:
We are seeing an intermittent failure of volume mount with this error message: `Error: cannot find volume "work" to mount into container "notebook"`. The issue happens on ~5% of pod launches (where they all have the same config). The volume is backed by PVC which is created immediately before pod creation.

**What you expected to happen**:
The volume gets mounted.

[2019-03-25 20:34] JanMatas commented on #75686
@kubernetes/sig-gcp-bugs

[2019-03-25 20:42] emfmesquita opened #75688 "Persistent volume subpath data loss on a "kubeadm reset""
**What happened**:
Files from a subpath of a host path persistent volume were deleted after a "kubeadm reset".

**What you expected to happen**:
No changes on persistent volume files after a "kubeadm reset".

**How to reproduce it (as minimally and precisely as possible)**:
 1. Start a single node cluster with NoSchedule removed using kubeadm init.
 2. Create a dir inside another dir:
[code]
 3. C

[2019-03-25 20:46] vladimirvivien opened #75691 "Expose klog flags during CSI unit tests"
**What would you like to be added**:
Ability to surface klog flags so that internal k/k logs can be generated during CSI unit tests using
[code]
This can be done by updating test files to automatically initialize klog flags using `klog.InitFlags()`

**Why is this needed**:
This is critical when debugging CSI code to be able to generate Kubernetes logs.

/sig storage

[2019-03-25 20:46] vladimirvivien commented on #75691
/assign

[2019-03-25 21:02] ZzEeKkAa commented on #71233
/remove-lifecycle stale

[2019-03-25 21:16] caesarxuchao commented on #75554
/remove-sig api-machinery
/sig scalability
/cc @wojtek-t

[2019-03-25 21:16] caesarxuchao commented on #75564
/assign @apelisse

[2019-03-25 21:17] caesarxuchao commented on #75565
/assign @lavalamp

[2019-03-25 21:21] yliaog commented on #75567
/cc

[2019-03-25 21:22] bfurey commented on #75683
Also seeing this with K8s 1.11.6

When deploying K8s 1.11.6, we get an error: Requires: kubernetes-cni = 0.6.0
 - we are required to lock down on K8s 1.11.6 and thus cannot move to K8s 1.11.9

[code]

[2019-03-25 21:22] yliaog commented on #75596
/cc

[2019-03-25 21:23] caesarxuchao commented on #75677
/assign @jpbetz

[2019-03-25 21:34] blakebarnett commented on #70585
If you're pinning a container to a CPU with cpu-manager it should have full use of that CPU. The rest of the workload *should* be excluded. The rest of the system should behave normally, but CFS quota should be disabled for the cgroups that cpuset have been used on. That's my understanding anyway.

[2019-03-25 21:37] rocketraman commented on #72597
Another use case for this is when the process in the remote pod does not accept connections on the loopback interface, but only on the pod's IP:

[code]

In this case, a port forward does not work as it tries to connect unsuccessfully to the loopback.

[2019-03-25 21:42] PatrickLang commented on #75293
What about the content in https://github.com/kubernetes-sigs/cri-tools ? Should critest move into the same repo and it could be the unit test for the API?

[2019-03-25 21:48] yliaog commented on #75596
there is support for label-based selection in api server, but not field-based. adding field based selection is non-trivial, it could add significant extra resource requirements on api server.

a pattern in kubernetes is for clients to *watch* for certain resource, and do whatever custom filtering, logic on client side.

there is a prospoal for events redesign in case it's helpful.
https://github.c

[2019-03-25 21:50] vbatts commented on #75293
On 25/03/19 14:44 -0700, Patrick Lang wrote:

Having those things live together would make sense to me.

[2019-03-25 21:50] jpbetz commented on #75677
Yes, it should be fine to support CRD types via the `--watch-cache-sizes` kube apiserver flag. [Watch bookmarks](https://github.com/wojtek-t/enhancements/blob/5e63ab7becfd330064a1baf371f4b3e62dac38a7/keps/sig-api-machinery/20190206-watch-bookmark.md) should help with `too old resource version` issues, but having full CRD support with the `--watch-cache-sizes` flag seems like a good thing.

[2019-03-25 21:53] grosser commented on #75596
thx!
watching is not really an option since my resources don't have much in common, so I'd have to watch all events :(

[2019-03-25 21:55] dannyk81 commented on #70585
@blakebarnett Yes, that's accurate - however it not the case now, and hopefully will be fixed by https://github.com/kubernetes/kubernetes/pull/75682

What concerns me is that using the latest kernel (>4.18) may degrade performance for the pods that are not pinned to specific cpusets (the majority) as indicated by @chiluk's tests...

[2019-03-25 22:11] msau42 opened #75698 "More CSI migration design items"
**What would you like to be added**:
We need to design the following things:
* Migrating ROX volumes (both inline and PV-based).  This is further complicated by https://github.com/kubernetes/kubernetes/issues/70505, where the in-tree behavior is different from CSI behavior.
* Migrating PV labeling admission controllers for manually created PVs.  We want to eventually remove these admission control

[2019-03-25 22:13] grosser commented on #75596
also events don't seem to have labels by default, so selecting by label does not work ?
... would be interesting if they had the labels of the resource that caused them

[2019-03-25 22:15] neolit123 commented on #73105
`pull-kubernetes-kubemark-e2e-gce-big`
flaked on multiple PRs today.

[2019-03-25 22:17] dims commented on #75293
@PatrickLang @vbatts unfortunately things we publish from staging/ cannot have other things in there. Since we will be publishing from `staging/src/k8s.io/cri` into kubernetes/cri repo, we cannot mix it with things from existing cri-tools as there are some assumptions in the publishing-bot at the moment. When we go GA and finally drop the staging/ stuff we can definitely pull cri-tools in.

[2019-03-25 22:20] whispererli commented on #67342
@fntlnz Looks like the Amazon EKS-Optimized API still running at version 1.11.5. This patch also require the kubelet to be updated right? Thanks.
https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-ami.html

[2019-03-25 22:23] yliaog commented on #75567
i guess it is intentional to have the addon manager to ensure kube-system is not modified, it tries to avoid the case that some cluster admin accidentally delete kube-system that result in a non-functional cluster.

[2019-03-25 22:24] vbatts commented on #75293
Makes enough sense. I'm just stating it as a good intention

[2019-03-25 22:25] lavalamp commented on #75565
Thanks for the example log. How big is the machine you're running this on? How much CPU was apiserver using? RAM?

apiserver / controllers don't use disk for things other than logs, so setting -v=4 may actually be the cause of that.

The traffic in the log file appears to include a number of controllers doing dynamic discovery. It's not clear to me if that's more often than expected or not. @yliao

[2019-03-25 22:26] lavalamp commented on #75596
Yeah, at the moment the expectation is that the client watches all events and filters locally.

Plumbing labels through is interesting, but potentially a ton of work because every place that triggers an event would have to change.

[2019-03-25 22:27] bowei commented on #66607
It seems like what is being implemented here is not modeled all that well in the current kube-proxy construct; your LB is not transparent from an L3/4 perspective and lives somewhere other than the node (it is terminating TLS, adding a proxy protocol field). It seems possible for nothing to break if we remove the external LB IPs from the node as a provider-specific setting, but it will require som

[2019-03-25 22:29] hassanejaz commented on #54542
brilliant

[2019-03-25 22:29] bfurey opened #75701 "K8s 1.11.6 fails to install : Requires: kubernetes-cni = 0.6.0"
**What happened**:

When deploying K8s 1.11.6, we get an error: Requires: kubernetes-cni = 0.6.0
 - we are required to lock down on K8s 1.11.6 and thus cannot move to K8s 1.11.9

[code]

**What you expected to happen**:

K8s 1.11.6 to install clean

**How to reproduce it (as minimally and precisely as possible)**:
/usr/bin/yum --noplugins install -y kubelet-1.11.6* kubeadm-1.11.6* kubectl-1.11.6*

[2019-03-25 22:30] bfurey commented on #75701
/sig release

[2019-03-25 22:31] Foritus commented on #75565
The disk load appears to be entirely caused by etcd, presumably a second-order effect from the api server chatting to it a lot? Docker stats output: ![image](https://user-images.githubusercontent.com/601930/54958347-51811180-4f4d-11e9-8ce9-3f6132af73b8.png)

The master runs in a VM with 2 cores and 4GB of RAM. Kuberenetes is using about 700MB of that, the rest is free/disk cache. The host box is a

[2019-03-25 22:48] lavalamp commented on #75565
The only thing there that seems potentially unusual is the amount of I/O that etcd has done, but if this system has been running for a long enough time, then that's to be expected. E.g., node status updates and events cause churn, more or less by design.

The informers I mentioned are all hitting endpoints that don't talk to etcd (just reading discovery apis).

If you want to figure out what exact

[2019-03-25 22:59] lavalamp opened #75704 "apiserver doesn't auto-recover from `kubectl delete --all apiservice`"
**What happened**:

Deleting apiserver objects deletes all built in api registrations, and they do not come back until apiserver is restarted. (See report on twitter: https://twitter.com/philpearl/status/1109049228490350597)

**What you expected to happen**:

I expect that admin credentials are required to do this; if that's not true, it should be. (I haven't had time to check.)

I expect that eit

[2019-03-25 23:00] lavalamp commented on #75704
/sig api-machinery

[2019-03-25 23:05] liggitt commented on #75704
They absolutely are required.

Whatever we do must avoid dueling api servers in HA clusters (the current reason built-in APIService objects don't auto-recreate)

[2019-03-25 23:06] mml commented on #75704
No. 3 is probably easiest to backport as well, which is a really nice property.

[2019-03-25 23:08] zhouhaibing089 commented on #75677
Thanks. CRD is kinda dynamic, so maybe another approach is setting its watch cache size in CRD spec(is this possible)? I do not know which way is better honestly.

[2019-03-25 23:18] andrewsykim commented on #75698
Was it decided that we no longer want to support zone/region labels for PVs? If so we can just remove the labelling behavior since the admission controller has already been deprecated for so long. That would also simplify https://github.com/kubernetes/enhancements/pull/839 since we don't have to rename the label going forward.

[2019-03-25 23:20] jpbetz commented on #75677
@zhouhaibing089 Good point. And since the watch cache is fairly implementation specific to the apiserver, and it's feasible it could one day be replaced with something else, not sure where it's configuration should belong for dynamic things like CRDs. Might require reviewing the alternatives and proposing an approach.

[2019-03-25 23:23] msau42 commented on #75698
I think we still need to discuss if we want to continue to support the use case for labeling PVs with the correct topology when users manually create them.  While it's not an API change, it is a behavioral change that could impact user's workflows.

[2019-03-25 23:25] #70037 closed

[2019-03-25 23:28] lxlxok commented on #75677
Hi @jpbetz, I found this issue together with @zhouhaibing089 . Can I take this task and send a PR. Thx

[2019-03-25 23:33] jpbetz commented on #75677
@lxlxok All yours! Recommend commenting on this issue once you've decided on a proposed approach to get early feedback.

[2019-03-25 23:38] ysimonson commented on #74551
I'm seeing this issue as well. I think kubelet is not properly closing the error channel associated with port forwarded connections, because I'm seeing the port forwarder get stuck [here](https://github.com/kubernetes/kubernetes/blob/1cb550295a9314ace7eb2df1f0d1cf7578fc11ba/staging/src/k8s.io/client-go/tools/portforward/portforward.go#L398).

You don't even need to send a lot of data, just break t

[2019-03-25 23:59] lavalamp commented on #75704
These things are keyed on the name, I'm not sure why apiservers would dual in a destructive way? It doesn't seem hard to make the client behave correctly in that condition, am I missing something?

[2019-03-26 00:01] oomichi commented on #75608
@mattjmcnaughton Thanks for your comment. TBH when I submitted this issue, I didn't see the actual code of `copy-logs-from-node`.
Ideally the script should copy necessary log files only and I feel the script needs to filter unnecessary log files out from the list as your 2nd idea.

[2019-03-26 00:11] spiffxp commented on #72757
OK so why are we removing this label if there is a command that uses it?  Is the command deprecated?  If not, how will this command accomplish the same level of functionality today?

[2019-03-26 00:27] #60066 closed

[2019-03-26 00:30] draveness commented on #64623
@luisdavim  OK. Is it necessary to open a proposal for this change? And if it is, where should I raise it. :)

[2019-03-26 00:31] liggitt commented on #75704
naive autorecreating would mean stopping serving an API group on upgrade (like we plan to do in 1.18 with extensions/v1beta1) wouldn't work with HA API servers (as the new one came up and deleted the extensions/v1beta1 APIService that was no longer served, another still-running API server would recreate it and leave it orphaned and incorrect when it finally got shut down

[2019-03-26 01:07] dilyar85 opened #75706 "`kubectl delete ns -n <namespace> --all` deletes ALL namespaces"
**What happened**:
`kubectl delete namespace --namespace=<namespace> --all` deletes all namespaces in the cluster.

**What you expected to happen**:
The above command should throw an error since `--namespace` and `--all` are mutually exclusive commands.

**How to reproduce it (as minimally and precisely as possible)**:
**CAUTION**: This might delete all namespaces in your cluster!
Execute the comm

[2019-03-26 01:10] neolit123 commented on #72757
the code in kubectl is here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/clusterinfo/clusterinfo.go#L94

this label was deprecated, therefor it seems appropriate to start removing the label from manifests, and eventually the related parts of the `kubectl cluster-info` command too.

but we are hitting some deprecation policy question marks here related to the command and @k

[2019-03-26 01:12] gaoya16 commented on #75572
thanks for your reply，

kubectl get no：
NAME          STATUS    ROLES     AGE       VERSION
128-195-0-1   Ready     <none>    166d      v1.10.0
128-195-0-2   Ready     <none>    165d      v1.10.0
128-195-0-3   Ready     <none>    166d      v1.10.0

my nodes hosted VMware；

about the default pod cidr of 10.244.0.0/16, I have not config this, how should i config? thank you.

[2019-03-26 01:43] msau42 commented on #75666
/assign @gnufied

[2019-03-26 02:09] andrewsykim commented on #75698
Sounds good. What's the best way to continue this discussion with all the necessary stakeholders? SIG call or mailing list?

[2019-03-26 02:15] cheftako commented on #75567
The add-on manager will only perform the check when it restarts. The API Server will also perform this check when it restarts. I think we should only have 1 system responsible for this and I believe that system should be the API server.

[2019-03-26 02:17] icefed commented on #69082
So, related to https://github.com/kubernetes/kubernetes/issues/38923#issuecomment-313054666, `volume provisioners from in-tree to out-of-tree` not fully moved, we still need `rbd` in kube-controller-manager container when `resize` volume.

Can we make it better?

[2019-03-26 02:21] rightblank commented on #75567
trying to have my first contribute here, so is it proper to have the kube-system existence checked before applying the yaml file to create the kube-system namespace once again?

[2019-03-26 02:31] cheftako commented on #75567
@rightblank The Kube API Server will check for the existence of the kube-system namespace and create it if absent. It does all of this using client-go requests. The Add-On manager is the only system creating the kube-system by applying (a private) yaml file. I believe the correct fix here is to remove the Add-On managers attempts to create the kube-system namespace entirely. This is especially imp

[2019-03-26 02:33] briantopping commented on #72325
/remove-lifecycle stale

[2019-03-26 02:37] feiskyer commented on #75293
agreed with dims. The staging part should be separated from others

[2019-03-26 02:43] pswica commented on #75572
https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

I put the link to the yaml above. If your VMs just have one interface, it may be enough to edit or delete/re-deploy the ConfigMap flannel comes with (just look for "10.244.0.0" in the above link).

If your cluster is new, however, I'd be safe and just re-deploy the whole thing from scratch if it will be used in

[2019-03-26 02:55] rightblank commented on #75567
@cheftako , thanks for your help, so i will remove that line and pull a request later

[2019-03-26 02:57] pswica commented on #75706
Usually, adding a `-n` flag specifies which namespace you are running the command from (e.g. it would be the metadata:namespace field, I believe). However, namespaces are cluster-level resources and specifying a namespace when deleting a namespace makes not much sense. Hence, it would only be natural that running the command deletes all namespace even though you specified the `-n` flag.

Perhaps t

[2019-03-26 03:03] lingxiankong commented on #75683
i am encountering the same issue for installing kubernetes 1.13.2

[2019-03-26 03:10] wxyongcn commented on #75663
Thanks for your question @wxyongcn.

I'm curious about the frequency with which you're seeing this log message. I.e. are you still seeing it when you expect that your container has finished initialization? Or is it taking a very long time for your container to initialize?
xiaoyowa: yes, I am still seeing it when I expect that the the container has finished initialization.

Regardless, if you are c

[2019-03-26 03:13] pswica commented on #75701
I do recall that this is a dependency for kubelet. I've seen it outlined a few places:

https://github.com/kubernetes/kubernetes/issues/57855
https://github.com/kubernetes/release/issues/97

[2019-03-26 03:13] zhangguanzhang opened #75707 "kubelet gc bug"
kubelet gc failed:
[code]
[code]
kubelet's conf
[code]
/etc/kubernetes/kubelet-conf.yml
[code]

[2019-03-26 03:13] celiawa commented on #73002
Thanks @jiatongw, @subramanian-neelakantan.

[2019-03-26 03:13] #73002 closed

[2019-03-26 03:21] gaoya16 commented on #75572
I'm very sorry that i have not follow you, and i am not sure how to execute, I deploy flannel by rpm, not an
 k8s app, should i just "kubectl create -f kube-flannel.yml" ?

[2019-03-26 03:25] adodge commented on #75683
I was able to run this on Ubuntu 18.10 to set up a new node for a cluster running kubernetes 1.13.4:

[code]

[2019-03-26 03:26] vllry commented on #75572
/remove-triage unresolved

[2019-03-26 03:32] swysth5665 commented on #75683
@chavafg Your amendment is correct.

@adodge yes,or first Run command apt install kubernetes-cni=0.6.0-00

[2019-03-26 03:34] instantlinux opened #75708 "imageGCManager triggered on auto-extend devicemapper volume"
**What happened**:
Saw this error message:
[code]
But I had no clue which device or which mount point had the problem, so I could not address it easily.

Also, the imageGCManager really behaves badly if it encounters any statically-launched images started by _docker run_ or _docker compose_ (rather than by kubernetes).

**What you expected to happen**:
The GC manager shouldn't bother trying to fre

[2019-03-26 03:35] yue9944882 commented on #75706
/sig cli

[2019-03-26 03:43] instantlinux commented on #75708
/sig node

[2019-03-26 04:32] SataQiu commented on #68026
#75710
- test/e2e

[2019-03-26 04:45] vllry commented on #75274
@denkensk what's the progress on getting a KEP draft up? I'm digging into the scheduler component, but there's a limit to what I can do without the details solidified.

[2019-03-26 04:56] denkensk commented on #75274
HI @vllry  My bandwidth has been full recently You can also take over the part 2 and have a KEP draft up. You can assign this issue to yourself.

[2019-03-26 05:08] mgdevstack commented on #75324
What if we emphasize on using core libraries const for such reasons and messages, would it be fine?
e.g.
https://github.com/kubernetes/kubernetes/blob/60d0ec579b376b357ca6029f8cc1cd6e70a54601/test/e2e/common/init_container.go#L408

https://github.com/kubernetes/kubernetes/blob/350dfccfe98c71a46eb881c0837b8f348b3f3ab4/test/e2e/common/runtime.go#L292-L296

[2019-03-26 05:37] loganxavier commented on #60957
Having the same problem and its easy to reproduce, im using a fresh install of Ubuntu.
Starting a fresh Ubuntu vm on VMWare and doing:

[code]

[2019-03-26 05:41] denkensk commented on #75274
HI @krmayankk @vllry My bandwidth has been full recently You can free to take over the part 2 and have a KEP draft up. You can assign this issue to yourself.  /unassign

[2019-03-26 06:15] SataQiu commented on #68026
#75713
- test/e2e_node/builder

[2019-03-26 06:31] #70184 closed

[2019-03-26 07:00] anuragprafulla commented on #68026
[75716](https://github.com/kubernetes/kubernetes/pull/75716)

- pkg/registry/admissionregistration/mutatingwebhookconfiguration/storage
- pkg/registry/admissionregistration/rest
- pkg/registry/admissionregistration/validatingwebhookconfiguration/storage
- pkg/registry/apps/daemonset/storage

[2019-03-26 07:30] WakeupTsai commented on #53533
Is this method not working anymore!? I turn on the swap and deploy a pod without memory setting, and got this container
[code]
MemorySwap is "0", which means this container can not access to the swap :(

[2019-03-26 07:42] bfurey commented on #75701
Installation of K8s 1.11.6 worked up until Mar 24th 2019, which was release day for 1.14, 1.13.5, 1.12.7 and 1.11.9), so this issue would be a regression.

[2019-03-26 08:08] HassanHashemi commented on #58908
@caseydavenport I am having the same issue with Flannel, also the cluster is initialized using this command:

kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.118.12 --service-cidr=10.244.0.0/16

here is what pod addresses look like:

![image](https://user-images.githubusercontent.com/6805984/54980649-8730f500-4f63-11e9-8805-e4caf49ed6c0.png)

And service info:
!

[2019-03-26 08:53] sttts commented on #65973
I agree this would be awesome. But for being able to do that we have to restrict the OpenAPI features in a sane way that read-only can be derived in a consistent way for every field. We are working on this.

[2019-03-26 08:57] maheshmadpathi commented on #61117
Has this been fixed? we have the same issue with v1.12.0. Node Memory isn't a problem.

[2019-03-26 09:18] starsy commented on #56903
Correct, our base image is glibc 2.17 based. This workaround works for glibc >= 2.10.

[code]

[2019-03-26 09:41] jindov commented on #69428
That's what I need right now. Then I have another use case when you are handle multiple kafka consumers, the best practice for balance workload is number of partitions should be... full divide for number of consumers (in the same consumer group), for example: topic A has 8 partitions, and every scaleup/down should be 1, 2, 4, 8. If you scale from 1 to 2, it's still good, but if you scaleup from 2

[2019-03-26 09:43] sunilkcs opened #75724 "What is the field selector rule for getting cordoned nodes ?"
Hello
When i would like to use the field/label selector feature with kubectl to get only the cordones/schedulingdisabled nodes. I am unable to do that. Kindly someone help me with the right kubectl command for that.  Here is my output

dockerpoc@KubMaster:~$ kubectl get node
NAME         STATUS                     ROLES    AGE   VERSION
kubeslave5   Ready,SchedulingDisabled   <none>   21d   v1.13.

[2019-03-26 10:14] Adirio commented on #67118
This is being worked on
/remove-lifecycle rotten

[2019-03-26 10:31] woosley commented on #71514
@lbernail  can you please help confirm my issue?
in our system, our dns query is quite often, like 1 query per 10 seconds. in this case, we found that if we restart coredns, the old IPVS rules are never deleted on some of our nodes, which caused a lot of failed dns queries.

is this because the graceful termination mechanism introduced here? In order to delete the RS and remove the ipvs rules, we

[2019-03-26 10:34] discordianfish commented on #62078
I'd say we close this one and focus on #40610 instead. That seems to be the more idiomatic way to do this.

[2019-03-26 10:43] limbuu commented on #67278
Having same issue while upgrading 1.11.4 to 1.11.12. The cluster keep showing upgrade but not upgraded yet.

[2019-03-26 10:44] slimhazard commented on #59822
Update on my own question, in case anyone's reading.

Clicking around the github issues gave me impression that the fix may have been backported to more recent 1.9.x versions of client-go. So I tried building the client against client-go at tag ``kubernetes-1.9.8``, rather than ``v6.0.0``. (This had the curious effect of setting client-go to ``v6.0.1`` in ``go.mod``, although I don't see any such

[2019-03-26 10:51] sohel2020 opened #75726 "kube-controller-manager in CrashLoopBackOff"
**What happened**:
Kube-controller-manager is in CrashLoopBackOff. It's not starting up because of listen tcp 0.0.0.0:10252: bind: address already in use

**What you expected to happen**:
kube-controller-manager will restart and will start without any problem

**How to reproduce it (as minimally and precisely as possible)**:
I'm not sure How to reproduce it.

**Anything else we need to know?**:
co

[2019-03-26 10:59] sohel2020 commented on #75726
/sig api-machinery

[2019-03-26 11:15] davidkarlsen commented on #75683
I have this as well, and if I allow the cni to be upgraded stuff fails to start:
[code]

[2019-03-26 11:38] neolit123 commented on #75707
/sig cli

[2019-03-26 11:39] mariantalla opened #75729 "Tracking: Known flakes for 1.14"
This issue collects known flaky tests that we encountered in the 1.14 release, for which work has not finished at the moment of shipping 1.14. The intention is to have a place of reference so that we can continue to track work on stabilizing them.

* `gce-cos-1.14-default`
Note:
  * Various versions of timeouts.
  * Across all test cases and error messages these tests have flaked 19+9+5+4+2/337 =

[2019-03-26 11:39] mariantalla commented on #75729
/remove-kind failing-test
/kind flake
/area deflake

[2019-03-26 11:40] mariantalla commented on #75729
cc @alejandrox1

[2019-03-26 11:41] mariantalla commented on #75729
/sig release

[2019-03-26 12:04] neolit123 commented on #75701
@bfurey in all kubelet packages all the way back to 1.11 the CNI was bumped to 0.7.5 because it includes a fix for a security exploit. the bug is of medium to high severity.

so in any case you want to use CNI > 0.7.x.

here is the patch that changed that:
https://github.com/kubernetes/release/commit/55e67316071f8dfc5c8c89962a1321630c6430c7

i tried reproducing this problem on Fedora 30 and it doe

[2019-03-26 12:06] neolit123 commented on #75683
`apt-get install` works fine for me.

see here for yum:
https://github.com/kubernetes/kubernetes/issues/75701#issuecomment-476595925

what are the workarounds?

[2019-03-26 12:13] bfurey commented on #75701
@neolit123 - My current workaround is to explicitly install kubernetes-cni-0.6

But if 1.11.6 now should be on cni > 0.7.x, why is cni > 0.7.x not deployed as a dependency?

[2019-03-26 12:16] neolit123 commented on #75701
i do no know. this is the PR that made the change and it was approved by multiple people:
https://github.com/kubernetes/release/pull/683

[2019-03-26 12:17] neolit123 commented on #75701
/usr/bin/yum install -y kubelet-1.11.6* kubeadm-1.11.6* kubectl-1.11.6* kubernetes-cni-0.6.*

seems like a valid workaround to me.

[2019-03-26 12:32] lbernail commented on #71514
@woosley : it depends how you query DNS: if you have a persistent resolution socket, the IPVS backend may never expire but in that case your resolver should timeout and reconnect which will use an active backend.

If you use a standard resolver (glibc for instance) each query will get a new connection so you will reach an active coredns _unless_ you query frequently enough so you end up reusing th

[2019-03-26 12:37] lbernail commented on #71514
@woosley DNS resolution through kube-proxy is tricky for several reasons regardless of the proxy mode (for iptables for instance, many people have conntrack issues when doing a lot of queries). In our case, we are experimenting with node local coredns caches (you can also have a look at https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml which is

[2019-03-26 12:43] jianzhangbjz commented on #68648
`/remove-lifecycle stale`

[2019-03-26 12:45] bfurey commented on #75701
@neolit123 - How would an existing customer on 1.11.6 (with cni-0.6-0) perform a zero downtime upgrade to 1.11.6 (with cni-0.7.5)?

[2019-03-26 12:49] rajivreddy commented on #74948
@M00nF1sh
This issue has been fixed,
we were getting this issue while creating internal NLB,
We used below configurations to solve the problem. and updatedDeployment file as well.
[code]

[2019-03-26 12:49] #74948 closed

[2019-03-26 12:56] neolit123 commented on #75701
the kubernetes-cni packages installs some binaries in `/opt/cni/bin`. these are the so called CNI plugins.

so if you install a Pod network solution like WeaveNet, Flannel it may or may not depend on these CNI plugins from kubernetes-cni.

i believe most of the popular ones do depend.

so you cannot upgrade CNI without the absolute zero downtime. to my knowledge, you need to stop the kubelet, remo

[2019-03-26 12:59] brysonshepherd commented on #75683
I have noticed that kubelet and kubeadm 1.12.6 now have this issue with wanting cni 0.6.0 . But kubelet and kubeadm 1.12.7 actually want cni 0.7.5. and will fail with cni 0.6.0.

[2019-03-26 13:00] andyzhangx commented on #67342
FYI. this issue is fixed in by #71074

| k8s version | fixed version |
| ---- | ---- |
| v1.10 | no fix |
| v1.11 | 1.11.7 |
| v1.12 | 1.12.5 |
| v1.13 | no such issue |

Shall we close this issue now?

[2019-03-26 13:02] neolit123 commented on #75683
try pinning the version to 0.7.5 using: kubernetes-cni=0.7.5-00

[2019-03-26 13:08] kostampl commented on #72611
I get exactly the same error. However, if I follow the process proposed [here](https://blog.hasura.io/sharing-a-local-registry-for-minikube-37c7240d0615 ) on a Mac, it works. Could it be a OS issue? Was anyone able to solve it?

[2019-03-26 13:11] liggitt commented on #75706
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/61431

[2019-03-26 13:14] gertvdijk commented on #75701
Also the APT repository is affected. It seems someone changed the version string of `kubernetes-cni` from `0.6.0` to `0.6.0-00` without actually updating the dependency fields in packages like `kubeadm`.

Breakdown:

[code]

[code]

[code]

And `= 0.6.0` does not match to any version currently available.

Please fix ASAP.

[2019-03-26 13:15] sushobhan78 commented on #71612
When I issue "kubectl get pods --all-namespaces -o wide", I see the following columns being listed - namespace,name,ready,status,restarts,age,ip,node,NOMINATED NODE,READINESS GATES

How do I use "-o custom-columns" to list all the columns except the last two columns?

[2019-03-26 13:25] liggitt commented on #75706
every kubectl invocation has a "current namespace", determined in this precedence order:
* an explicit `-n ...` value
* the namespace of the "current context" in the kubeconfig file
* `default`

The "current namespace" is used when making API requests for namespaced resources, and is ignored when making API requests for cluster-scoped resources.

If we wanted to start requiring an additional flag

[2019-03-26 13:33] wojtek-t opened #75731 "Separate cacher is created for each version of a resource"
This is forked from https://github.com/kubernetes/kubernetes/issues/51825 which was closed without fixing this particular issue.

Currently a separate cacher is created for every version of an API.
That may introduce a significant overhead for both memory (every object is kept in memory) as well as CPU (each cacher is watching separately all changes).

The reason for that is that we're creating re

[2019-03-26 13:48] liggitt commented on #75731
collapsing caches would either mean converting on the way out of the watch cache, or caching in the internal version (or do we do that already?)

[2019-03-26 13:50] liggitt commented on #75726
that means something else (possibly another instance of `kube-controller-manager`?) is listening on that port. you need to determine what that other process is and stop it to free the port.

/close

[2019-03-26 13:50] wojtek-t commented on #75731
We do that already.

[2019-03-26 13:51] empath commented on #75683
As people are fixing this -- keep in mind that there appears to be an embargoed CVE on kubernetes-cni=0.6.0, so be wary of pinning your start up scripts to that version permanently.

[2019-03-26 14:05] woosley commented on #71514
@lbernail isn't 100 queries/second quite common for a site? QPS can be thousands nowadays.
we did not do special configuration for our dns so it should be using glibc.
 I think what you mentioned about reusing the same source port might be our issue here. by checking the output of ipvsadmin, it seems the source port is reused for the same connection
<img width="517" alt="图片" src="https://user-imag

[2019-03-26 14:20] randyrue commented on #75552
I figured it wasn't being done by accident, thanks for the explanation of why!

My devs are launching jobs using kubectl from within a java engine that they say can't parse the relative path (but why would java need the path if kubectl doesn't?).

In any case, I've added a sed line to our scripting to modify the lines in their .kube/config files as needed.

[2019-03-26 14:30] woosley commented on #71514
btw, forcefully remove real servers is what I want here.

[2019-03-26 14:34] lbernail commented on #71514
@woosley I meant 100 qps for a single client (which can definitely happen though)
Yes it is very likely that you have the issue I mentioned

Until we implement the solution I mentioned natively, you can try changing the ipvs udp timeout on your instances.

The default are:
[code]
You can change udp timeout to 30s (or even lower depending on your connection rate):
[code]
(0 here means do not touch

[2019-03-26 14:39] #47928 closed

[2019-03-26 14:40] alejandrox1 commented on #34059
This may be useful for sig-testing-commons xref: #75601
/area e2e-test-framework

[2019-03-26 15:06] ajfriesen commented on #57250
@tsuna
I do not understand where do you do the health checks?

[2019-03-26 15:12] yashbhutwala commented on #73527
@freehan @wojtek-t I would like to work on this!  As a first time contributor, I would appreciate some help.

[2019-03-26 15:14] jsafrane commented on #75191
Good catch!

No. IMO it should  be enough to rebuild kubelet here and it's fast and easy: `make WHAT=cmd/kubelet` and find it somewhere in `_output/bin`.

[2019-03-26 15:28] dims commented on #65153
/milestone v1.15

[2019-03-26 15:30] neolit123 commented on #75701
it's not that simple. the k8s package management has a problem where package dependencies are unbranched and non-atomic. so if the CNI is bumped to 0.7.5 for 1.11.9, 1.11.6 should not be affected, but it is...

there are developers assigned to work on this problem but the timeline is unclear.

[2019-03-26 15:32] jsafrane commented on #75698
Beta labales like this are part of Kubernetes API and we must support them until core/v2.

https://github.com/kubernetes/kubernetes/blob/7dfcacd1cfcbdfe74b28f2473fb107e9a47ec905/staging/src/k8s.io/api/core/v1/well_known_labels.go#L21-L22

We can (and should) remove the admission plugin, but we should support the label in scheduler in case someone creates a PV manually.

[2019-03-26 15:53] mm4tt commented on #75294
Together with @mborsz we found out that this is causing flakiness in our 5K performance tests.
Long story short here is what happens:

1. Creating the kube-proxy endpoints object (for prometheus monitoring purposes) slows down api server for ~10s
2. Slow API Server may (or may not, that's why test is flaky) cause some of the controllers to time-out and restart
3. There is one controller (I think i

[2019-03-26 15:59] kfox1111 commented on #65153
The lack of a bugfix makes this feature practically unusable. :(

Hardly any clusters will be completely homogeneous, mixing the controllers and compute workload together. Pretty much the only use case I can see is 3 node ha cluster.

I would very much like to use it on my clusters, but do not fit that exact architecture.

[2019-03-26 16:00] mm4tt commented on #75294
AIs
1. We should reproduce the issue as I did before, but this time also run pprof on the api-server. In addition we should monitor the VM utilization and figure out where the discrepancy comes from.

[2019-03-26 16:05] ddebrecenijr commented on #75379
With the drop of v1.14.0 offering full support for windows nodes, I am going to try and upgrade my cluster and add the windows node. Closing unless the issue persists.

[2019-03-26 16:05] #75379 closed

[2019-03-26 16:07] AlexLast commented on #59888
Also seeing the same issue in `1.10`

[2019-03-26 16:09] andrewsykim commented on #75698
FYI this is a continuation from a discussion here https://github.com/kubernetes/enhancements/pull/839#issuecomment-468372562

I'm okay with supporting the labels in the scheduler logic but not automatically labelling via admission controller. Thoughts @msau42 @saad-ali?

[2019-03-26 16:37] wojtek-t commented on #75294
pprof may not be the best - I observed that when running pprof, pprof is reporting even 2x+ less than what top is showing. So I would suggest checking both pprof and top.

[2019-03-26 16:55] coffeepac commented on #74272
this is complete.  closing.

[2019-03-26 16:55] #74272 closed

[2019-03-26 17:02] daschott commented on #62046
Is non-DSR mode blocking any features or scenarios? Is there something we need to document as not being supported? Load-balancing should still work today, it is just that pod IPs will be SNAT'ed and it will be less performant. This means that network policy enforcement doesn't work for services. But network policies isn't documented yet and that will be included there.

 Can you describe @feiskyer

[2019-03-26 17:04] gertvdijk commented on #75701
@neolit123

Thanks for ACKing this and the update on the matter.

Please note that the CNI dependency was *not* bumped for older versions, yet the version strings don't match (`0.6.0` !- `0.6.0-00`). Let me rephrase my earlier point then: never delete packages in the repository once published.

Generally, if I update an APT repository, I would only _add_ packages of other versions. Deleting them (

[2019-03-26 17:07] neolit123 commented on #75683
it's highly recommended to upgrade to the latest PATCH version of the 1.x release you are using.
it should be using the 0.7.5 CNI that has the security bug fix and the installation should work.

as far as why this install problem is happening, the suspicion ATM is that `=0.6.0` version pinning in the old packages does work and it still tries to pull the latest kubernetes-cni 0.7.5-00 from the same

[2019-03-26 17:10] neolit123 commented on #75701
i don't think that ever happened.

read this comment:
https://github.com/kubernetes/kubernetes/issues/75683#issuecomment-476750981

if we have to update the old packages, we technically can't.
we can however push revisions - e.g. `1.13.4-1`. where `-1` is the added revision.

[2019-03-26 17:21] gertvdijk commented on #75701
@neolit123

Oh, wow, you're right. I've gone through my APT history of installs and I've noticed something worse.

Before yesterday, `1.12.x-00` depended on `kubernetes-cni:amd64 (0.6.0-00, automatic)`, but the very same package `1.12.x-00` is _republished_ with the wrong dependency (`0.6.0`).

Every APT tool I know will prevent you from publishing a package with the same name+version with differe

[2019-03-26 17:41] neolit123 commented on #75701
if the packages are republished we have a problem.
this should not be ever done.

/assign @calebamiles @tpepper @justaugustus

[2019-03-26 17:43] benmoss commented on #73425
Yup, works on my clusters as well.

[2019-03-26 17:55] swarupdonepudi commented on #73297
+1

[2019-03-26 18:04] bitglue commented on #23130
/remove-lifecycle stale

[2019-03-26 18:07] thockin commented on #40610
I am in favor of something like this.  The real problem here is that most people seem to want this for topology information and that information is somewhat arbitrary.  Hostname/Zone/Region are codified, so they get the most attention, but there is some demand for other topology.  That leads me to assert that the common API is labels and not something special for topology info.

[2019-03-26 18:25] yastij commented on #65340
/remove-lifecycle stale
/lifecycle frozen

[2019-03-26 18:43] PatrickLang commented on #75300
Done. I changed it to private membership so people using it previously can still see the archived version.

For anyone else reading this - https://github.com/orgs/kubernetes/projects/8 is the current project board :)

[2019-03-26 18:57] rmb938 commented on #75701
I am having the same problem with 1.13.4

[code]

[2019-03-26 19:02] saad-ali opened #75738 "VMDK refuses to attach/delete"
**What happened**:

VMDKs provisioned by the Kubernetes VSphere Volume plugin on a VMFS datastore backed by a HP 3 PAR Storage Array refuse to attach to nodes, attach fails with "Failed to add disk" error.

[code]

We worked around this by provisioning new PVCs. But the problem is that the existing "bad" VMDKs also refuse to delete (by k8s, via govc, or via vcenter UI) -- delete fails with "error

[2019-03-26 19:16] annerajb commented on #66844
We are also seeing this using aescbc we verified the secret on /etc/kubernetes/encryption.yml and it appears to be correct.
Kubernetes: 1.13.4
It seems to be sporadic sometimes it does not print any error other times prints invalid padding non stop.

[2019-03-26 19:22] andrewsykim commented on #73382
/assign

[2019-03-26 19:23] knobunc commented on #69599
The only possible use I can imagine for this would be if there were some ordering constraint when the externalIP were bound such that the creation date of the first service always won.  That way you could define the second service and later remove the first to cut over seamlessly.  Otherwise there might be a tiny gap in availability.

However, I don't believe that the ordering is respected.

[2019-03-26 19:34] #75511 closed

[2019-03-26 19:37] PatrickLang opened #75741 "Add notes on reviewing conformance test case changes that could impact Windows"
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements

This needs a checklist of things to look for in regards to Windows node support. Right now Windows doesn't have a conformance profile, so the main goals are:

1. Don't make changes to existing passing tests which will break on Windows after the change
2. Tag n

[2019-03-26 19:38] PatrickLang commented on #75741
/sig windows

[2019-03-26 20:06] aauren commented on #52865
/remove-lifecycle stale

[2019-03-26 20:12] mcortinas commented on #66560
Any news?

[2019-03-26 20:56] tsuna commented on #57250
AWS' NLB healthchecks the targets to know which ones to send traffic to. From what I understand, every node in the cluster is added as a target but only those nodes that actually run an instance of the ingress will pass the healthcheck and therefore be eligible to receive traffic.  With the fun caveat that when all the nodes fail their healthcheck (e.g. due to the issue above) then NLB just unifor

[2019-03-26 21:22] mattayes commented on #3595
For the Elasticsearch case, changing the `rlimit`/locking memory is only a concern if you can't [disable swapping](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration-memory.html), correct? AFAIK swapping is [disabled on Kubernetes nodes](https://kubernetes.io/docs/setup/independent/#before-you-begin), so this shouldn't be an issue, right?

[2019-03-26 22:05] jingxu97 commented on #65890
I have been testing subPath feature with GCE PD, at least 10 out 18 tests are passing. The failed tests are caused by one of the following reasons.
1. Some failed tests are because the tests require ssh the the node or restart kubelet which is not supported well in our test environment.
2. In linux, it supports bind mount a file to container, so the test is trying to use a file as the subPath. Nee

[2019-03-26 22:09] Nowaker commented on #30656
A workaround script that automates the unpleasant. SSH access to the node required.

Usage:

[code]

Enjoy!

[code]

[2019-03-26 22:25] adammw opened #75749 "Document pod/binding endpoint in API reference"
**What would you like to be added**:
Add documentation to pod about the binding subresource.

**Why is this needed**:
Currently the pod binding API is documented but marked as deprecated, in favour of the pod/binding subresource. However there is no documentation on that endpoint.

[2019-03-26 22:26] adammw commented on #75749
Needs to be relabeled as kind/documentation but seems I can't do that

[2019-03-26 22:33] Foritus commented on #75565
Closing as "hungry by design" then :)

[2019-03-26 22:33] #75565 closed

[2019-03-26 22:37] lavalamp commented on #75565
At least for the moment. Thanks for understanding :)

(I'm definitely open to changes which reduce resource usage in small clusters, btw--it's just not been a priority yet.)

[2019-03-26 23:20] dougm commented on #66321
/remove-lifecycle stale

[2019-03-26 23:28] andrewsykim commented on #66321
Work for removing the in-tree providers: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190125-removing-in-tree-providers.md

Expect providers to be staged in v1.15. Doesn't reduce binary but it's our first milestone towards migrating things out

[2019-03-26 23:42] feiskyer commented on #62046
@daschott AFAIK, only Local traffic policy is blocked for now.

[2019-03-27 00:33] rashmichandrashekar opened #75752 "CAdvisor endpoint taking too long to return metrics for windows nodes"
**What happened**:
The endpoint <nodeip>:10255/stats/summary to expose cadvsior metrics takes longer to return metrics when the number of containers are higher. The response time grows linearly with the number of containers running on the node

**What you expected to happen**:
This endpoint should return metrics quickly like it does on linux nodes

**How to reproduce it (as minimally and precisely

[2019-03-27 00:38] rashmichandrashekar commented on #75752
@kubernetes/sig-azure-bugs

[2019-03-27 00:57] zhiweiv commented on #75752
It bugs me a long time, Windows nodes disappeared from `kubectl top nodes`, they may appear again sometime. I found below error in metrics-server pod,
`Failed to get kubelet_summary:10.2.0.158:10255 response in time`

[2019-03-27 01:10] #75293 closed

[2019-03-27 02:12] mxplusb commented on #40968
I'd be okay with something like `kubectl config change-namespace <target-ns>`, if that's an option.

[2019-03-27 02:30] #73300 closed

[2019-03-27 02:47] YoubingLi commented on #75706
If we just wants to throw WARNING message after both -n and --all are specified toghter in the kubectl command line, I want to work on it.

/assign @YoubingLi

[2019-03-27 02:58] tewing-riffyn commented on #57212
Hi @M00nF1sh, Thank you for the PR.  Do you know when it's expected to be merged and available to test?

I'm anxiously awaiting this merge so we can use elasticIP's to offer static addresses to our web clients.  Currently we use ELBs along with a pod annotation to assign an additional handcrafted security group containing our whitelist.  The update in this ticket will allow us to trust that loadBa

[2019-03-27 02:59] tewing-riffyn commented on #57212
@jrnt30 - Your Jan 30 post in this issue should win an award.

[2019-03-27 03:18] ddebroy commented on #73730
Can this issue be closed?

[2019-03-27 03:21] rhockenbury commented on #75752
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/74991

[2019-03-27 04:10] sohel2020 commented on #75726
/reopen

[2019-03-27 04:12] zhiweiv commented on #75752
It maybe not my case, #74991 indicates that is caused by a PR in recent days, however my symptom has last couple months.

[2019-03-27 04:13] sohel2020 commented on #75726
@liggitt
There is no other kube-controller-manager running on that node. when kube-controller-manager died it's not closing the pod.

[2019-03-27 04:14] liggitt commented on #75726
your ps output shows two processes:

$ ps -aux | grep controller
root 1637 0.0 0.0 4340 200 ? Ss Mar22 0:00 /bin/sh -c /hyperkube controller-manager ...
root 1667 0.4 0.5 679976 172168 ? Sl Mar22 21:05 /hyperkube controller-manager ...

[2019-03-27 04:17] sohel2020 commented on #75726
Yes

[2019-03-27 04:44] globervinodhn opened #75756 "E2E Proposal: To check memory limitation of the container"
**What would you like to be added**: A new E2E test for validating the memory limitations of the container. This test needs to verify the resource quota allocation for the pod. The configuration should consist of memory limit and memory request parameters and should ensure that the pod is not started when the local command exceeds the memory limitations.

**Why is this needed**:
This E2E is needed

[2019-03-27 04:53] mgdevstack commented on #75756
This seems an important functional behavior. Few things to catch here -
- As it is checking `OOMKILLED` status. Try to get this status reference from core libraries.
- Does the mentioned image is in k8s repo?

[2019-03-27 05:07] globervinodhn commented on #75756
/sig scheduling

[2019-03-27 05:10] andyzhangx commented on #65890
@jingxu97 for GCE PD, since it's a disk, subpath should work, while for this case, it's due to `filepath.EvalSymlinks(path)` does not work for SMB path since it's a remote path.

[2019-03-27 05:30] globervinodhn opened #75757 "E2E proposal: To verify preference for activeDeadlineSeconds over backOffLimit"
**What would you like to be added**: A new E2E test for validating the preference among the two different parameters for deciding on pod failure status. activeDeadlineSeconds refers to the duration of the job, no matter how many pods are created and backOffLimit refers to the number of retries before the job is deemed to have failed. In a scenario wherein both the parameters are specified, actived

[2019-03-27 05:45] AndrewSav commented on #30656
@Nowaker how do you handle namespaces?

[2019-03-27 06:03] willthames commented on #67577
Using a 4.19.30 kernel I see pods that I'd hoped to see less throttling are still throttled and some pods that weren't previously being throttled are now being throttled quite severely (kube2iam is reporting more seconds throttled than the instance has been up, somehow)

[2019-03-27 07:12] cgsimmons commented on #57659
Also would like an update for this issue. We currently experience dns latency because we have a large tainted node-pool (relative to untainted) that we cannot run dns pods on. Thus traffic is constantly routed for the dns service to nodes with no kube-dns pods.

[2019-03-27 07:37] yanhan569046480 commented on #44308
['Kubernetes]?

[2019-03-27 08:00] lovejoy commented on #45509
see pr #75763

[2019-03-27 08:15] joberget commented on #70324
Setting sysctl fs.inotify.max_user_watches=524288 seems to have solved the issue for now for me. We use flexVolume. Any news on a permanent fix for this?

[2019-03-27 08:22] Escape17 commented on #66439
We've been looking for this too.

What condition should be used to check the readiness of a service?

Please can all valid conditions be listed somewhere i.e. -h ?

[2019-03-27 08:24] gjmzj opened #75765 "kubectl does not work in HA deployment when the first master node is down"
**What happened**:
i have a HA k8s deployment with two master nodes (keepalived + haproxy installed)
[code]
i shutdown master 10.100.97.42, everything still works; then i restore master 10.100.97.42, instead i shutdown master 10.100.97.41, and 'kubectl' return is somewhat wired
'kubectl version' is ok
[code]
'kubectl get node' is broken
[code]

**What you expected to happen**:

i have two master n

[2019-03-27 08:33] gjmzj commented on #75765
@kubernetes/sig-cli-bugs

[2019-03-27 08:38] framegrace commented on #75175
Same issue here on K8s 1.12

[2019-03-27 08:39] cyrilledec opened #75766 "Rename MutatingWebhookConfiguration/namespaceSelector"
**What would you like to be added**:
Rename `namespaceSelector` in MutatingWebhookConfiguration object

**Why is this needed**:
To make it more clear for users we should specify that this selector is looking at label of namespace and not namespace metadata.
The name should be something like : `namespaceLabelSelector`

[2019-03-27 08:41] amanjain08 commented on #65233
Can someone point to the documentation or paste command to get the pods which have the PVC in use

[2019-03-27 08:44] cyrilledec commented on #75766
/sig api-machinery

[2019-03-27 08:53] durigon commented on #73528
@DarkHostDH I have a question.

How can I know a apiserver iface? How can I change the apiserver iface?
Please let me know how if you know a solution about it.

Thanks in advance.

I also get too many errors from kubelet but I don't know are these problems related?
[code]

Environment

[code]

[2019-03-27 09:03] xiaoxubeii commented on #75617
@draveness `CachedNodeInfo` is just a wrapper of corelisters.NodeLister. kubelet can get node info by it.

[2019-03-27 09:13] amentis opened #75767 "High CPU on kubelet k8s v1.14.0"
**What happened**:
After the cluster was upgraded from v1.13.2 to v1.14.0 kubelet's CPU usage raised to around 40%.
**What you expected to happen**:
Not to use so much CPU, v1.13.2 didn't use as much

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade a HA cluster from v1.13.2 to v1.14.0

**Anything else we need to know?**:
Interestingly, on our non-HA cluster (one master-ta

[2019-03-27 09:18] xiaoxubeii commented on #75617
I think the point is that the kubernetes scheduler was designed to support single instance at the beginning. Even with the addition of multiple scheduler support, the cache between each scheduler is isolated. So at this stage, we can accept this without a shared state solution. After all, the node information is not actively modified by the kubernetes scheduler.

[2019-03-27 09:26] bart0sh commented on #75679
/assign

[2019-03-27 09:26] bart0sh commented on #75679
this should be fixed by PR https://github.com/kubernetes/kubernetes/pull/75668

[2019-03-27 09:26] #75679 closed

[2019-03-27 09:34] danielqsj commented on #75767
can you give some kubelet logs ?

[2019-03-27 10:17] gjmzj commented on #75765
after taking more tests, i found the prolem related to kube-apiserver option '--etcd-servers';
for example:
[code]
if etcd 10.100.97.41 is down, then the problem comes

[2019-03-27 10:17] #75765 closed

[2019-03-27 10:17] amentis commented on #75767
It turned out, that pods cannot be started due to the registry credentials secret being out of date. I will fix that and check whether the CPU usage changes.

[2019-03-27 10:17] lbernail commented on #66042
We'd be very interested in a way to achieve that too. Our use case is the following:
- we run large clusters (1000+ nodes)
- we have a few system daemonsets (5+)
- having all these pods in the same namespace would create too many pods in the kube-system namespace

Using explicit white-listing or prefix white-listing would both work for us

@yastij I saw you commented on the PR, do you know why it

[2019-03-27 10:20] wojtek-t commented on #73527
@yashbhutwala - nice to meet you.
From my comment above it may not be clear, but I'm not 100% convinced that it's a good first task.

But to describe in more details:
- on every add/update/delete Pod action, endpointsController is calling getPodMemberships which call GetPodServices:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/listers/core/v1/service_expansion.

[2019-03-27 10:25] yastij commented on #66042
@lbernail - the PR was closed in favor of a more generic approach which is the schedulingPolicy ref kubernetes/enhancements#683 I'm kicking in this for 1.15, the proposal still need to be updated to reflect latest discussions.

[2019-03-27 10:32] PierrePIRONIN commented on #70146
Hi ! Some news on this issue ? I still got the problem on 1.12.5. Thanks

[2019-03-27 10:33] lbernail commented on #66042
@yastij : thanks a lot. This means that for all releases between 1.12 and 1.15, `system-node-critical` and `system-cluster-critical` will be limited to kube-system, right?

[2019-03-27 10:33] amentis commented on #75767
It was not related. All pods are running successfully. Other than these pull secret problems, the last logs were from January, and this cluster was upgraded yesterday.

[2019-03-27 10:35] yastij commented on #66042
@lbernail - yes

[2019-03-27 10:45] yue9944882 commented on #75766
renaming the field loses backward-compatibility for the object

[2019-03-27 10:46] jcperezamin opened #75768 "EFK addon not able to connect to elasticsearch 6.6.1"
**What happened**:
2019-03-27 10:41:22 +0000 [warn]: [elasticsearch] failed to flush the buffer. retry_time=8 next_retry_seconds=2019-03-27 10:41:48 +0000 chunk="5851107287c2af7e3ac72925bb396bc9" error_class=Fluent::Plugin::ElasticsearchOutput::RecoverableRequestFailure error="could not push logs to Elasticsearch cluster ({:host=>\"elasticsearch-logging\", :port=>9200, :scheme=>\"http\"}): read ti

[2019-03-27 11:04] davhin commented on #73738
Ran into the same issue, also from the walkthtough referended by @zouyee

[2019-03-27 11:17] enj commented on #71275
/reopen

Some aspects remain.

[2019-03-27 11:17] enj commented on #71275
/remove-lifecycle stale

[2019-03-27 11:28] filipre commented on #65797
I'd be interested whether this feature would improve performance or reduce costs within the cluster. Sometimes we had services that restarted a thousand times before we noticed that there is something wrong.

[2019-03-27 11:38] hex108 commented on #65797
hi @filipre, This feature just aims to solve problems similar to yours, the pod might fail because all kinds of errors, it is meaningless to always retry. This feature could reduce costs.

[2019-03-27 11:51] raulcd commented on #63959
Hi, I've seen the PR (https://github.com/kubernetes/kubernetes/pull/69263) has been waiting for an update for three months. @brooksgarrett do you need a hand? do you want me to pick it up? I am really interested on this to be merged :smile:

[2019-03-27 12:12] mborsz opened #75770 "kube-apiserver.log entries delayed up to 10 seconds"
**What happened**:
In gce scalability tests we are constantly seeing log entries that are delayed comparing to the neighbor ones, e.g. in:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/336/artifacts/gce-scale-cluster-master/kube-apiserver.log-20190319-1552993204.gz

I see:

[code]

In this case, 'I0319 08:16:59.574734' entry is reported after 08:17:

[2019-03-27 12:17] draveness commented on #75617
@xiaoxubeii So is it necessary to ensure the consistency by using node lister instead of cache in the scheduler, or we do not need to fix this issue https://github.com/kubernetes/kubernetes/issues/70450 which seems like to caused by inconsistent cache.

[2019-03-27 12:44] teralype commented on #67577
On CoreOS 4.19.25-coreos I see Prometheus triggering CPUThrottlingHigh alert almost on every single pod in the system.

[2019-03-27 12:57] kivagant-ba commented on #60987
After deleting the directory I've got another error:

[code]

[2019-03-27 13:24] pavdmyt commented on #75683
Having the same issue with `v1.12.2`:

[code]

[code]

[2019-03-27 13:27] mattjmcnaughton commented on #75635
/assign

[2019-03-27 13:30] mattjmcnaughton commented on #75663
Thanks for the additional info @wxyongcn !

From your bug report, I'm seeing that you're using an non-supported version of kubernetes (1.10.11). ```Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeState:"clean", BuildDate:"2018-11-26T14:25:46Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}```

Onl

[2019-03-27 13:30] mattjmcnaughton commented on #75541
Thanks @oxddr , appreciate it :)

[2019-03-27 13:33] mattjmcnaughton commented on #75603
Mhmm yes, I think this all makes sense :) I'll still defer to @thockin re if this is an acceptable reason to add this `uid/gid` flag to `kubectl run`, but my personal vote is that it makes sense to support just the use case you're describing.

[2019-03-27 13:34] mattjmcnaughton commented on #75608
Yeah, I think I agree with you that option #2 is best @oomichi :) I will try and find time to work on this!

/assign

[2019-03-27 13:36] dannyk81 commented on #67577
@williamsandrew @teralype this seems to reflect @chiluk's findings.

After various internal discussions we in fact decided to disable cfs quotas entirely (kubelet's flag `--cpu-cfs-quota=false`), this seems to solve all the issues we've been having for both Burstable and Guaranteed (cpu pinned or standard) Pods.

There's an excellent deck about this (and few other topics) here: https://www.slidesh

[2019-03-27 13:36] gopalvibm commented on #43916
hi @bitglue did not understand your last comment.. Are you saying that setting requests and limits to the same will allow the Linux kernel to limit my cache usage ?  or I should allocate enough memory for my pod to account for my max cache usage?

[2019-03-27 13:38] tburow commented on #74679
@bowei  Might you have an update on this or possible ETA?
Thanks

[2019-03-27 13:42] liggitt commented on #75766
`___Selector` is used in multiple contexts, including networkpolicy (`namespaceSelector`, `podSelector`), and pods (`nodeSelector`), and the field documentation is clear.

/close

[2019-03-27 13:42] #75766 closed

[2019-03-27 13:42] liggitt commented on #75749
/kind documentation

[2019-03-27 13:44] mgdevstack commented on #75757
Observed the following points -

1. **Can we use failing pods instead of bounding to use system resources**?
 -- One failing and another running busybox. Provide parallelism=2 && completion=2. Job that is retrying one or more failed Pods will not deploy additional Pods once it reaches activeDeadlineSeconds.
2. **Add intermediate steps to make sure Jobs is retrying to start failed pod till backoffL

[2019-03-27 13:50] dims commented on #67577
long-term-issue (note to self)

[2019-03-27 14:09] draveness commented on #64623
I found out there are multiple issues which discussed the support of run a once off task with daemonset.

https://github.com/kubernetes/kubernetes/issues/36601
https://github.com/kubernetes/kubernetes/issues/50689
https://github.com/kubernetes/kubernetes/issues/69001

Support `OnFailure` policy in daemonset policy seems quite reasonable. It could support run once job to some extent, though it cann

[2019-03-27 14:13] DarkHostDH commented on #73528
@durigon
By default apiserver bind with iface linked with default gateway. If you have two ifaces(eth0: 192.168.1.2 and eth1: 172.16.1.2) and default gw is `172.16.1.1` apiserver bind with eth1. You should set `--apiserver-advertise-address=<PublicIP>` to bind apiserver with your iface.

[2019-03-27 14:34] neolit123 commented on #75770
/sig api-machinery

[2019-03-27 14:34] neolit123 commented on #75768
/sig instrumentation
?

[2019-03-27 14:41] zeroshree commented on #33664
I have same issue. I pushed my image:latest in ecr and then upgraded using helm. but there was only old reflection. If I do versioning using different tag then ECR limitations is 100 tag per image.

[2019-03-27 14:48] mboudet commented on #70339
/remove-lifecycle stale

Same issue for me, the data is not persisted on the host.

[2019-03-27 14:49] bgrant0607 commented on #33664
Yes, we recommend pulling by digest. See also #1697.

[2019-03-27 14:53] hjacobs commented on #67577
@dannyk81 just for completeness: the [linked talk](https://www.slideshare.net/try_except_/ensuring-kubernetes-cost-efficiency-across-many-clusters-devops-gathering-2019) is also available as recorded video: https://www.youtube.com/watch?v=4QyecOoPsGU

[2019-03-27 15:24] alok87 opened #75774 "Update docker/docker dependency in Kubernetes"
**What would you like to be added**: Update [docker/docker](https://github.com/kubernetes/kubernetes/tree/master/vendor/github.com/docker/docker) dependency

**Why is this needed**:
This is needed to update docker dependency in kubernetes.

Helpful document for updating dependency - https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/godep.md

cc @dims

[2019-03-27 15:27] alok87 commented on #75774
I can work on this ✋

[2019-03-27 15:31] dims commented on #75774
Justification : we should periodically update to newer versions of the vendored dependency as patches for CVE(s) (example [1]) gets accumulated and we are left behind. There is a KEP for getting rid of dockershim eventually but that will take a few releases [2]

[1] https://blog.docker.com/2019/02/docker-security-update-cve-2018-5736-and-container-security-best-practices/
[2] https://github.com/ku

[2019-03-27 15:33] dims commented on #75774
We should switch to the code roughly equivalent to 18.09.3 (released 2019-02-28 per https://docs.docker.com/engine/release-notes/)

[2019-03-27 15:37] dims commented on #74413
work will continue in https://github.com/kubernetes/kubernetes/issues/75774

/close

[2019-03-27 15:37] #74413 closed

[2019-03-27 15:37] bitglue commented on #43916
Assuming a process has data on disk that is too large to fit entirely in cache, there is no useful metric such as "max cache usage". Once a disk block is used, it goes in the inactive cache. Once that block is used a second time, it goes in the active cache. It will stay in the cache until something needs to allocate some RAM but there's none left.

So "max cache usage" is "all physical RAM", even

[2019-03-27 15:39] dims commented on #75774
Also see https://github.com/docker/docker-ce/commits/18.09

[2019-03-27 15:51] Hamdan-Atypon commented on #8731
it is 2019 and we still need some filtering on services level (cookies, http header and other stuff) without using Nginx Ingress ..

[2019-03-27 15:52] msau42 opened #75775 "Failing test: [sig-storage] PersistentVolumes Default StorageClass pods that use multiple volumes should be reschedulable"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-slow

**Which test(s) are failing**:
[sig-storage] PersistentVolumes Default StorageClass pods that use multiple volumes should be reschedulable

**Since when has it been failing**:
3/26 pm

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-slow
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-

[2019-03-27 15:52] msau42 commented on #75775
/assign @mkimuram
@kubernetes/sig-storage-test-failures

[2019-03-27 15:55] msau42 opened #75776 "Failing tests: Multivolume in multi-zone/regional environments"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-multizone
ci-kubernetes-e2e-gke-regional

**Which test(s) are failing**:
All the new multivolume tests

**Since when has it been failing**:
Since introduction on 3/26

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-multizone

**Reason for failure**:
Tests probably need to use delayed binding.

**Anything else we need

[2019-03-27 15:56] msau42 commented on #75776
/assign
@kubernetes/sig-storage-test-failures

[2019-03-27 15:56] msau42 commented on #75776
Tests introduced in https://github.com/kubernetes/kubernetes/pull/74693

[2019-03-27 15:57] liggitt opened #75777 "openapi aggregation logs continuously during normal operation"
**What happened**:
* Set up an APIService object pointing to a service that does not service openapi

**What you expected to happen**:
* Aggregation would attempt to aggregate, fail, and back off

**How to reproduce it (as minimally and precisely as possible)**:
* openapi aggregation logs continuously

[code]

/sig api-machinery
/cc @sttts @roycaihw

[2019-03-27 16:03] liggitt commented on #75777
actually, this is happening without any external APIService objects registered.

[2019-03-27 16:04] #71450 closed

[2019-03-27 16:07] kHRISl33t commented on #17088
This solution is not working in GKE.
It only allows me to use LoadBalancer or NodePort when I'm trying to reference my service with type as externalName.

[2019-03-27 16:25] spiffxp commented on #75653
Repurposing this as umbrella issue for the godeps issue since it's affecting multiple branches

[2019-03-27 16:35] astrieanna commented on #66439
@Escape17 I think it might not be possible to use conditions to wait because `service.status` doesn't have a condition field. At least according to `kubectl explain`:
[code]

In contrast, pod has a `pod.status.conditions` field, and the explain for `pod.status.conditions.type` links to the strings that can be waited on.

[code]

[2019-03-27 16:37] bowei commented on #74679
This will be a KEP in 1.15.

[2019-03-27 16:38] bowei commented on #74679
Either continuing on this KEP or a follow on: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md

[2019-03-27 16:38] gopalvibm commented on #43916
hi @bitglue even if we make an informed guess, what if we exceed that limit. If pod request/limit are set, then the pod will get evicted. So, either you are acted upon by the OOM killer or you undergo a pod eviction - the good thing is that we are penalizing the one that is using the cache rather than anyone else.

[2019-03-27 16:42] notjames commented on #66439
@astrieanna Hmm. So that's interesting! So `helm` is able to properly wait given the `--wait` with a good `--timeout` argument. I'm not [yet] sure how `helm` implements their wait, but it properly works for an entire package. Our use-case is that sometimes we'd like to apply native k8s manifests without relying on `helm`. There has to be a way to properly wait for a service even though `service` d

[2019-03-27 16:44] atomaras commented on #45509
@lovejoy Annotation is not flexible enough. There are much simpler ways without needing the pod to call out to k8s. Lifecycle hooks are better like preStop **canStop** and postStop

[2019-03-27 16:45] atomaras commented on #45509
@lovejoy Also this needs to happen at runtime. We do not statically know which pod is working on a queue message that takes long and these change every second

[2019-03-27 16:53] sflxn commented on #75683
This seems to be a recurring issue.  If you search kubeadm kubernetes-cni=0.6.0-00, this issue has come up in the past.  I can confirm that I tried every version of k8s from 1.11.0, and they all have this issue.

@neolit123 What do you suggest we do?  I can also confirm that pinning kubernetes-cni works but as stated here, there is a CVE on it so I don't really want to do that.  We're trying to ta

[2019-03-27 16:53] dims commented on #75774
Let's pick this SHA to update to - https://github.com/moby/moby/commits/501cb131a7b79682de2cdb83d86e20975f38702d

Looks about right based on dates - https://github.com/moby/moby/commits/master?after=da823cf3a5a3437763ba12b2fa369c826d4a2bf4+139

The changes based on the SHA we use and this one is - https://github.com/moby/moby/compare/a9fbbdc8dd8794b20af358382ab780559bca589d..3fbbeb703c1d04e9eb7234

[2019-03-27 17:04] neolit123 commented on #75683
@sflxn given we are trying to deal with package manager semantics i'd suggest to try to pin to 0.7.5 (somehow). in terms of the actual fix we want, SIG Release are currently discussing the option to push revisioned packages e.g. `kubelet.... -1` for *all* the old versions which will hopefully solve the problem.

we have multiple problems and multiple KEPs related to packages and SIG Release really

[2019-03-27 17:29] logicalhan opened #75779 "Metrics get re-registered for builtin-kube-apiserver, aggregator, apiextensions if they are in the same binary"
Currently, the same metrics endpoint gets re-registered during the initialization sequence for the builtin apiserver, the aggregator and apiextensions server. While each of these components can exist in isolation, it is not necessarily true that we always want the same metrics for each component; it is furthermore likely undesirable that we register the same metrics over again when the servers coe

[2019-03-27 17:29] liggitt opened #75780 "upgrade release-1.13 to go 1.11.6"
release-1.13 is [still using go 1.11.5](https://github.com/kubernetes/kubernetes/blob/release-1.13/build/build-image/cross/Dockerfile#L18) and should be upgraded

/sig release

[2019-03-27 17:46] jingxu97 commented on #65890
I see. Then I think we should clarify this in the doc here https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190103-windows-node-support.md? Right now, it is just claim subPath is not support?

[2019-03-27 17:54] sflxn commented on #75683
@neolit123 Where can I get 0.7.5?  There isn't even a 0.7.5 release on the project's repo.  Ubuntu doesn't have this package either.

[2019-03-27 17:57] logicalhan commented on #75779
/cc @sttts

[2019-03-27 18:00] neolit123 commented on #75683
it's in the kubernetes apt/yum repositories:
https://packages.cloud.google.com/

e.g.
https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages
[code]

[2019-03-27 18:08] msau42 opened #75782 "Volume operation metrics improvements"
**What would you like to be added**:
* Filter out user configuration errors from system errors
* Separately measure storage plugin time from pure Kubernetes overhead
* Measure total latency from a K8s user's perspective (time from creating a Pod to the volume being attached and/or mounted) instead of the current operation metrics which only measures one retry loop.

**Why is this needed**:
Improve

[2019-03-27 18:08] msau42 commented on #75782
@kubernetes/sig-storage-feature-requests
/assign
cc @gnufied

[2019-03-27 18:49] gogineni99 opened #75786 "Support multiple services for APIService"
**What would you like to be added**: Currently when create a new resource of type 'APIService', we can point it to a single service. Would be nice to have the ability to point to multiple services and expose them under a single API.

**Why is this needed**: I am trying to use HPA with custom metrics. I am creating a APIService with name 'v1beta1.custom.metrics.k8s.io'. I would like to get data fro

[2019-03-27 18:51] bgrant0607 commented on #75324
@mgdevstack No

[2019-03-27 18:54] gogineni99 commented on #75786
/sig autoscaling

[2019-03-27 19:17] lavanyachennupati opened #75788 "Deleting a namespace depends on kubernetes ApiService, causing namespaces to be stuck in terminating state."
Deleting a namespace depends on kubernetes ApiService that's not related to the namespace being deleted, causing namespaces to be stuck in terminating state.

After creating an APIService for the `custom-metrics-stack-driver-adapter` using the configuration [here](https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/custom-metrics-stackdriver-adapter/deploy/production/adapter.yaml#L1

[2019-03-27 19:17] lavanyachennupati commented on #75788
/sig api-machinery

[2019-03-27 19:21] oomichi commented on #75608
@mattjmcnaughton Thanks for doing that, I am looking forward to reviewing it :-)

[2019-03-27 19:25] bitglue commented on #43916
I don't think you understand how cache works. Processes don't control how much cache they use. A process that uses a lot of cache doesn't deserve to be "penalized". It's done nothing wrong. It's simply using that cache because it's done some file IO.

It's _more efficient_ to use all available RAM for cache. Unused RAM does nothing but waste money, and it _takes work_ to figure out what pages can

[2019-03-27 19:35] KatrinaHoffert opened #75789 "Bazel 0.24 fails to build"
**What happened**:

`make bazel-test` (or `bazel-build`, etc) with Bazel 0.24.0 gets:

[code]

This is on a clean checkout. I was extremely confused what happened until I realized that Bazel had automatically updated (as happens on our workstations) and 0.24.0 [has a breaking change](https://github.com/bazelbuild/bazel/issues/6461).

**What you expected to happen**:

For the build to succeed, as i

[2019-03-27 19:43] brooksgarrett commented on #63959
Can you help write the tests? I'm completely lost there to be honest.

[2019-03-27 19:45] KatrinaHoffert commented on #75789
/sig contributor-experience

[2019-03-27 19:53] KatrinaHoffert commented on #75789
Not entirely sure if this is the right place to report this, since I tracked it down to being `k8s.io/repo-infra/defs/go.bzl`, which is technically a different repo, but that doesn't seem to be used much for issues and it's not something users would explicitly download (or I sure didn't).

[2019-03-27 19:54] sflxn commented on #75683
Using kubernetes-cni 0.7.5 works if you're pulling down k8s 1.14.  For previous versions, it appears you need to still pin the package to 0.6.0.

[2019-03-27 19:59] neolit123 commented on #75683
alternatively you can install the previous version of the packages and then install 0.7.5 over the existing 0.6.0.

[2019-03-27 20:06] preddys75 commented on #36222
I have seen this issue in K8 1.7 -> 1.13

kubectl create configmap $CM_NAME -n $NAMESPACE --from-file=$PATCH_FILE --dry-run=true --output=yaml

where PATCH_FILE is attached file below. I renamed it from .json to .log so this webpage would let me include it.

[fb_vanilla_template.log](https://github.com/kubernetes/kubernetes/files/3015083/fb_vanilla_template.log)

[2019-03-27 20:08] #70337 closed

[2019-03-27 20:16] stevelacy commented on #58477
We are experiencing this _in production_ on latest "1.12.5-gke.10"

[2019-03-27 20:18] jethrogb commented on #58477
Thanks @stevelacy . Everyone is experiencing this in production.

[2019-03-27 20:36] SummerShoohaw commented on #24725
I'm experiencing the same problem +1, we have some sidecars running in our pod which will keep running forever, and the we want the pod to fail and restart if the primary container failed.

[2019-03-27 20:38] michaelkipper opened #75791 "MutatingWebhook not Load Balancing Across Replicas"
**What happened**:

We have an admission controller running as a `Deployment` with 3 replicas. Looking at the metrics for those replicas, we see admission spikes (during deploys, for example) causing a spike in latency for the controller, but only one of the replicas is actually receiving the traffic.

**What you expected to happen**:

Load balancing across the replicas, reducing the latency spike

[2019-03-27 20:40] michaelkipper commented on #75791
@kubernetes/sig-api-machinery-bugs

[2019-03-27 20:45] eloyekunle commented on #49964
@ConnorDoyle Thanks for your explanations. I understand the problem much better now.

[2019-03-27 20:57] msau42 commented on #75775
Actually I think this test will also fail now on multi-zone clusters because most default storage classes have not been updated to use delayed binding.

We should either, restore this test to use StatefulSets (which handles multi-zone case).  Or remove it entirely and only test through the specific plugins in the test framework.

[2019-03-27 21:09] #25321 closed

[2019-03-27 21:30] ejweber commented on #75191
Thanks for the help so far @jsafrane.

I flipped the SupportsMountOption() bool to "true" and the BlockVolume feature gate to false. I was then able to mount an ext4 volume with the "noatime" and "nodiratime" option (confirmed on the worker node). However, I attempted to use the "nobarrier" option but the worker node mounted the volume without it. Finally, I attempted to use a completely made-up o

[2019-03-27 21:35] yashbhutwala commented on #73527
Thanks @wojtek-t for laying out an outline for me!  I'll shoot my best shot, and put up a PR, perhaps you can guide it along

[2019-03-27 21:37] gnufied commented on #73019
@humblec `NewMetricsStatFS` always uses statfs based call for collecting metrics which depending on volume type may not be a good idea. statfs based call works best for block storage file systems and does not work particularly well for shared file systems or volume types where disk space is shared with the host.

Using CSI RPC call ensures we always get right metrics.

[2019-03-27 22:03] dims commented on #64635
/close

since we have a KEP to track this

[2019-03-27 22:03] #64635 closed

[2019-03-27 22:17] DevasiaThomas commented on #75559
@pswica Currently `sestatus` shows the below

[code]
It says permissive, do you think I would need to disable it and try again?  I'm open to try it, but from what i can tell a hard disable requires a reboot. I have people working on this openshift env

[2019-03-27 23:00] #53777 closed

[2019-03-28 01:03] jingxu97 opened #75801 "Missing events for some volume operations"
For volume operations like attach/mount, we recorded failure events with error messages in Pod events so that user can see what is going on. However, for some other operations including umount/detach and verifyattached, there is not event recorder. In case of failures, user does not know why or where it fails.

[2019-03-28 01:14] mccormickt12 opened #75802 "cri api.proto fails to build on alpine linux due to c++ keywords used as proto attributes"
I'm not sure if this is the correct place to put this. The "owner" of the cri interface/proto should address this.

**What happened**:
I was unable to compile the proto file into the corresponding .h and .cc files

**What you expected to happen**:
I expect to be able to compile the proto into the corresponding .h and .cc files

**How to reproduce it (as minimally and precisely as possible)**:
Try

[2019-03-28 01:19] mccormickt12 commented on #75802
@kubernetes/sig-cri-o

[2019-03-28 01:20] durigon commented on #73528
@DarkHostDH Thank you very much.

I have one more question.
After you change the apiserver interface, is the 'cpuacct.usage' file actually created in path '/sys/fs/cgroup/cpu,cpuacct/libcontainer_4645_systemd_test_default.slice/' on a master node?

[code]

[2019-03-28 01:24] mccormickt12 commented on #75802
/sig architecture
not sure?

[2019-03-28 01:40] #72039 closed

[2019-03-28 01:40] #75512 closed

[2019-03-28 01:57] pswica commented on #75559
Given that it's permissive (e.g. selinux just logs violations, it doesn't enforce them), I don't think it's an selinux issue. Is this affecting all privileged containers or only one in particular?

[2019-03-28 02:00] niechen2012 opened #75803 "v1.14.0 problem : It seems like the kubelet isn't running or healthy."
kubernetes v1.14.0  when use `kubeadm init` , see the below error

[code]

what can I do for resolve this problem , when I run `systemctl status kubelet`, here is the infomation:
[code]

[2019-03-28 02:08] pswica commented on #75572
I see, honestly I haven't installed flannel by .rpm before only as a bunch of kubernetes resources via the yaml file. How did you set Kubernetes up (e.g. via kubeadm, completely by hand, using kops, etc)?

Also, how did you set your pod cidr network when you installed? Did you do it with etcdctl directly (e.g. something like `echo '{"Network": "10.10.0.0/16", "SubnetLen": 24, "Backend": {"Type": "

[2019-03-28 02:46] #72708 closed

[2019-03-28 02:56] resouer commented on #52757
@eloyekunle

Nope, the GSoC project aims at making these pieces working end to end in Kubeflow stack, which is missing from current solution.

Also, the GSoC project does not fix or intend to fix #52757 as GPU sharing is totally another story and a non-goal. Any open source GPU sharing mechanism should be acceptable during your GSoC project.

@gaocegege

Mostly serving, while also some cases for t

[2019-03-28 03:27] skyhills13 commented on #57094
@clkao Hello. Is there any way to know the allocated GPU Id? Not only the number of allocated gpus.

[2019-03-28 03:48] yeya24 commented on #74262
Same problem. 1.13.2  also not work for me.

[2019-03-28 04:18] goudai commented on #75803
Please check if the configuration of docker's native.cgroupdriver and kubetlet is consistent.
You can view the configuration of the kubelet by `cat /var/lib/kubelet/kubeadm-flags.env` and `cat /etc/default/kubelet`.
Check out the docker configuration with `docker info`. If you use docker.

[2019-03-28 04:25] goudai opened #75806 "I used kubeadm to successfully running cluster V1.14.0, kube-apiserver now prints the log every 0.5 seconds"
**What happened**:
I used kubeadm everyone to successfully cluster V1.14.0, kube-apiserver, now prints the log every 0.5 seconds, I am very upset. The following is a partial log screenshot.

**What you expected to happen**:
kube-apiserver You should not print info logs so often
**How to reproduce it (as minimally and precisely as possible)**:
Install a kube-apiserver using kubeadm
**Anything else

[2019-03-28 05:06] yue9944882 commented on #75791
seems like a dup of [https://github.com/kubernetes/kubernetes/issues/61296#issuecomment-374498664](https://github.com/kubernetes/kubernetes/issues/61296#issuecomment-374498664)

[2019-03-28 05:13] yue9944882 commented on #75788
i see this as a bug in the aggregated server which misses implementing discovery api path. should report the bug in the other repo instead.

[2019-03-28 05:53] chandidas commented on #75175
@divyenpatel do you have any information on this.

[2019-03-28 06:14] abizake opened #75810 "kubeadm Config:- Container RunTime Communication with TLS"
**What would you like to be added**:
In order to protect Container runtime (lets say docker for example) , One would keep docker API Server behind TLS and only clients using CA signed Certificates will be allowed to access the API server.
kubeadm does not seem to have the support for the same right now.
**Why is this needed**:
Compliance and Security.

[2019-03-28 06:18] abizake opened #75811 "Failed to run Kubelet: unable to parse docker host `127.0.0.1:2376`"
**What happened**:

-  Running docker (18.06.02) behind TLS

- KUBELET_EXTRA_ARGS=--docker 127.0.0.1:2376 --docker-tls --docker-tls-ca ./ca.pem --docker-tls-cert ./cert.pem --docker-tls-key ./key.pem

-  docker --tlsverify --tlscacert=ca.pem --tlscert=cert.pem --tlskey=key.pem -H=127.0.0.1:2376 version
Client:
 Version:           18.06.2-ce
 API version:       1.38
 Go version:        go1.10.3
 Gi

[2019-03-28 06:38] hmtai opened #75812 "The "1.14 What's New" "(No, really, you MUST do this before you upgrade)"link in CHANGELOG-1.14.md are ineffective"
**What happened**:
When I click the "1.14 What's New"and "(No, really, you MUST do this before you upgrade)" I found that it can not jump to the content.
**What you expected to happen**:
Click the "1.14 What's New" then I can jump to the "1.14 What's New"content.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes ve

[2019-03-28 06:41] danielqsj commented on #75801
/assign

[2019-03-28 06:56] danielqsj commented on #75806
duplicated with https://github.com/kubernetes/kubernetes/issues/75777

[2019-03-28 06:57] kanibs opened #75813 "Zero Downtime deployment not working - 503 Service Temporarily Unavailable"
**What happened**:
I am trying to achieve zero-downtime deployment using Kubernetes. But every time I do the upgrade of the deployment using a new image, I am seeing 2-3 seconds of downtime. I have to do this for one of my projects but failed to achieve it.
So I tried to test the same using a Hello-World sort of application, but still could not achieve it. I am deploying my application using the H

[2019-03-28 07:00] kanibs commented on #75813
@kubernetes/sig-contributor-experience-bugs

[2019-03-28 07:30] fenixshadow2005 commented on #64193
Still met the same error, any workaround or solution for it?

[2019-03-28 08:04] gaoya16 commented on #75572
thanks for reply,

I installed flannel just by copying binary file, and then run some scripts; And I set kubernetes up completely by hand.

I use etcdctl mk command to set the subnet, and i checked it:
root> etcdctl get /cmpk8s/network/config
{"Network":"172.18.0.0/16", "SubnetMin": "172.18.1.0", "SubnetMax": "172.18.254.0",  "Backend": {"Type": "vxlan"}}

[2019-03-28 08:40] josephburnett commented on #69687
Thanks @Rajat-0 for presenting at the Knative scaling working group!  Notes and recording from the meeting are [here](https://docs.google.com/document/d/1FoLJqbDJM8_tw7CON-CJZsO2mlF8Ia1cWzCjWX8HDAI/edit#heading=h.1itre3nkszl) (join [knative-users](https://groups.google.com/forum/#!forum/knative-users) for read access).

The approach @Rajat-0 outlined would use iptables to route requests for idle s

[2019-03-28 09:30] mm4tt commented on #75294
I reproduced the issue on the real 5K node cluster.

Creating a large endpoints object resulted in kube-apiserver consuming up to 30 CPUs (max over a couple tries), the VM had still ~50% of CPU resources available.

[code]

What's worth to notice is that I performed the test when the cluster was in quite stable state. I think the difference between the issue we face in tests is that the large endp

[2019-03-28 09:30] PierrePIRONIN commented on #65879
Hi guys, same issue here. Did you find a solution ?

[2019-03-28 09:44] anmolsachan commented on #73019
Referencing the dependent issues : https://github.com/openshift/console/issues/1258 , https://github.com/rook/rook/issues/1659

[2019-03-28 10:06] filipre commented on #65797
Thanks. Sounds like a good enough reason to leave it open then, doesn't it?
/remove-lifecycle rotten

[2019-03-28 10:13] vaizki opened #75817 "Delayed one-time execution for Jobs"
**What would you like to be added**:
- a new Time property in the JobSpec to indicate a time before which the Job should not be scheduled (name TBD)
- changes to Job controller to defer sync/scheduling of Jobs with the new property until such time

**Why is this needed**:
To complement CronJobs with a one-shot scheduled Job, similar to *NIX `at` jobs.

The alternatives are a bit heavy:
- create a

[2019-03-28 10:15] erhangullu commented on #47368
/remove-lifecycle stale

[2019-03-28 10:55] schmitch opened #75821 "Simple Job Queue"
**What would you like to be added**:
a simple Job Queue that is based on K8s Jobs

**Why is this needed**:
currently, most of the time, people just need jobs that are queued. of course this can be built by introducing complicated systems like, rabbitmq or kafka, however most of the time (consider IoT) this is too much, people just need something like a "Queue" where they can put QueuedJobs than ru

[2019-03-28 11:38] goodluckbot opened #75822 "Upgrade from a lower version of kubernetes to v1.14 will cause container to stop"
**What happened**:
Upgrade from a lower version of kubernetes to v1.14 will cause containers to stop and get into
`CreateContainerConfigError` state and stays there.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Say have a k8s version lower than v1.14, and a running pod.
Download k8s v1.14 and upgrade the k8s cluster.

**Anything else we need

[2019-03-28 11:50] schmitch commented on #75821
/sig scheduling

[2019-03-28 11:58] dims commented on #75822
/assign @liggitt

Jordan,  upgrade woes!

[2019-03-28 11:58] hex108 opened #75825 "Add a scheduler priority function based on node load average"
**What would you like to be added**:
In clusters, we find there are some nodes with low load average, and these nodes' most resource are allocated to pods. It might be caused by:

* Pod's request is much bigger than what it needs actually.
* Pod's resource usage has peaks and valleys periodically or irregularly.
* ...

To balance nodes' load, we could add a scheduler priority function based on kub

[2019-03-28 12:02] hex108 commented on #75825
It could also be implemented as a plugin for new scheduler framework.